[2020-08-29 12:18] hwdef commented on #94329
Found a part of the solution in
https://askubuntu.com/questions/1189480/raspberry-pi-4-ubuntu-19-10-cannot-enable-cgroup-memory-at-boostrap
https://askubuntu.com/questions/1237813/enabling-memory-cgroup-in-ubuntu-20-04

But I haven't found how to enable hugetlb.

I realize this error has nothing to do with kubernetes ,sorry to post here.

[2020-08-29 12:18] #94329 closed

[2020-08-29 13:31] ravindrabhargava commented on #93608
Hi,
I would like to contribute

[2020-08-29 13:35] irizzant commented on #83265
/remove-lifecycle rotten

[2020-08-29 13:38] irizzant commented on #83265
/remove-lifecycle stale

[2020-08-29 13:40] kshitijcode commented on #93608
@ravindrabhargava  : We already have an approved PR for this.

[2020-08-29 14:01] a2z-ice opened #94330 "Trying to get client real-ip to restrict some access at pod on kubernetes environemnt"
Hi I'm trying to get client real-ip to restrict some access at pod. But unfortunately I'm always getting 10.244.1.1 at every pod. I have tried with https://kubernetes.io/docs/tutorials/services/source-ip/ but unfortunately no luck. Please help.

I'm using kubernetes 1.8.2 version on cent os 7 bare metal servers for kubernetes cluster. I do not have any choice bu to use bare metal . As an ingress c

[2020-08-29 15:08] prometherion commented on #89723
/reopen

[2020-08-29 15:14] wawa0210 commented on #94237
I retried the test mentioned in the issue on the latest kubernetes 1.19, but it did not reproduce. Here are my specific steps

the pod yaml
[code]

The pod is running normally, and the directory on the windows node is successfully created

[code]

![image](https://user-images.githubusercontent.com/7907809/91640032-50f77f00-ea4d-11ea-9f7a-ee848ae7301c.png)

I am more confused, can you help me see w

[2020-08-29 15:40] prakashshp92 opened #94332 "`kubectl rollout` gives confusing error when invoked with custom resource: “error: unable to decode file”"
I am facing an issue with using the` kubectl rollout status` command with `CRD resource`.

Environment:
 ` Kubernetes version: v1.16.13-gke.1 on GCP-GKE` and
`kubectl version : v1.19.0`
` `Strimzi version v0.19.0`, [](https://strimzi.io/)`

I am using Strimzi [](https://strimzi.io/) to deploy Kafka on Kubernetes.
Strimzi has Customer Resource definition for Kafka.
After I deploy the custom resourc

[2020-08-29 15:51] knight42 commented on #94313
I've filed #94333 to address this issue.

[2020-08-29 15:52] apelisse commented on #94275
Yeah probably, but that doesn't solve the bug about quantity being canonicalized by the apiserver (and forcing possible etcd rewrites).

[2020-08-29 15:54] knight42 commented on #94275
I am not sure if this is a bug or an expected behavior.

[2020-08-29 15:58] apelisse commented on #94275
What specifically? If you write 0.5 and it's converted to "0.5", "Fieldmanager" detects a change (because at the time we detect managed fields, we don't know yet that 0.5 and "0.5" are the same thing), update the managedFields entry, and forces a rewrite in etcd. That's clearly not expected :-/

That's a good short-term solution.

[2020-08-29 16:45] liggitt commented on #94332
rollout status only supports a small number of built in types. The error message should be improved, but custom resources are not supported for this command.

[2020-08-29 17:15] knight42 commented on #94275
I mean accepting integer value as quantity and then converting it to string at server side.

Now that the value would eventually be converted to string and I am not quite familiar with the code history, if this is a workaround for some previous problems, I think we should stick to string. If not, I think we could set the `OpenAPISchemaFormat` of `io.k8s.apimachinery.pkg.api.resource.Quantity` to `

[2020-08-29 17:17] knight42 commented on #94275
though I think I am not experienced or competent to decide what to do :/

[2020-08-29 19:49] subrnath commented on #94296
Thanks @neolit123 .

Now old error is gone. But still kubeadm init fails. Its not clear now what is the issue with kubelet logs.

$systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; vendor preset: enabled)
   Active: active (running) since Sat 2020-08-29 15:37:31 EDT; 2min 56s ago
     Docs: https://kuber

[2020-08-29 20:44] apelisse commented on #94275
We must continue to accept the number, that's clearly a bug.

[2020-08-29 21:17] Bhard27 commented on #93949
Is this issue still open? Can anyone guide me about it?

[2020-08-29 21:19] avr1254 commented on #93949
I've submitted the PR above, but it hasn't been merged yet. I don't know why.

[2020-08-29 21:21] Bhard27 commented on #93949
Yeah, that's what I was wondering.

[2020-08-29 21:36] #72158 closed

[2020-08-29 22:37] #76342 closed

[2020-08-29 22:44] #93903 closed

[2020-08-29 22:57] lyind opened #94335 "Kubelet not starting with CRI-O on BTRFS (could not find device)"
**What happened**:
Kubelet v1.19.0 doesn't start on nodes with CRI-O 1.17.2 (storage_driver="btrfs") with BTRFS as root filesystem.

Related/previous issues:
https://github.com/kubernetes/kubernetes/issues/47046
https://github.com/kubernetes/kubernetes/issues/65204

This error shows up in the journal:
[code]
The `minor: 16` is referring to the btrfs root filesystem, mounted at the time.

`stat /`:

[2020-08-29 22:58] lyind commented on #94335
/sig node

[2020-08-29 23:29] robscott commented on #94321
@rittneje the API has evolved since that doc was written and may line up better with your expectations now. As an example, Gateways now use a [RouteSelector](https://kubernetes-sigs.github.io/service-apis/spec/#networking.x-k8s.io/v1alpha1.RouteBindingSelector) that can select Routes matching labels. Similarly, we've also moved from a list of namespaces to using label selection for namespaces.

Al

[2020-08-29 23:31] dims commented on #94304
@daixiang0 please do 2 issues. one for each CVE

[2020-08-29 23:31] dims commented on #94304
/close

[2020-08-29 23:31] #94304 closed

[2020-08-30 00:44] #87675 closed

[2020-08-30 03:51] feiskyer commented on #94269
/assign @ZeroMagic

[2020-08-30 05:52] dnoland1 commented on #57534
/remove-lifecycle stale

[2020-08-30 06:40] bbkgh commented on #74081
We have been hit by this bug today

[2020-08-30 07:09] prakashshp92 commented on #94332
Thanks for the clarification.

[2020-08-30 10:35] bryanl commented on #34146
It would be helpful if Kubernetes was specific about the version of YAML that is supported. I recently came across a manifest that uses `merge` features that appears to have been dropped between 1.1 and 1.2. Relying on what go-yaml isn't a good option when you are working outside of Go.

[2020-08-30 11:36] vivekzhere commented on #94295
@liggitt  CRD based on [apiextensions.k8s.io/v1beta1](https://github.com/cloudfoundry-incubator/service-fabrik-broker/blob/0.9.0/helm-charts/interoperator/crds/sfplan.yaml)  does not explicitly set `spec.preseveUnknownFields` at all. Our CRD based on [apiextensions.k8s.io/v1](https://github.com/cloudfoundry-incubator/service-fabrik-broker/blob/0.9.1/helm-charts/interoperator/crds/sfplan.yaml) also

[2020-08-30 12:18] liggitt commented on #94295
If you do not specify the field in the v1beta1 or v1 manifest, you'll be left with the default value for that field of whatever version the object was created with. The default v1beta1 value of false is not permitted in new v1 CRDs, which is why the operator copying the CRD to a new cluster is not working.

Explicitly setting `spec.preserveUnknownFields: false` in your v1 CRD manifest would make u

[2020-08-30 12:44] denissabramovs opened #94336 "Trying to use longhorn persistent volume"
Kubelet log with errors:
[code]

[2020-08-30 12:45] denissabramovs commented on #94336
using rancher
trying to deploy mongo-relica-set from their app store on longhorn persistent storage

[2020-08-30 12:45] denissabramovs commented on #94336
using digital ocean provider

[2020-08-30 12:46] denissabramovs commented on #94336
it is easy to reproduce on latest rancher try to create a cluster, create longhorn class and then just deploy mongo replice set from their app store, in setting choose pv from longhorn created class

[2020-08-30 12:49] denissabramovs commented on #94336
pod events:
[code]

[2020-08-30 12:50] denissabramovs commented on #94336
please let me know if you need some additional info from k8s

[2020-08-30 12:51] denissabramovs commented on #94336
described pod:
https://gist.github.com/denissabramovs/ce29ceac2d4edbcd2e39755b1ebd593c

[2020-08-30 13:13] mattfenwick commented on #94191
/assign @rikatz

[2020-08-30 13:14] mattfenwick commented on #94070
@suvsap should we close this?

/triage needs-information

[2020-08-30 13:15] mattfenwick commented on #94022
@jayunit100 is bringing this up at the next #sig-network meeting.

[2020-08-30 13:18] jpmsilva commented on #94275
Hi @knight42 and @apelisse
Just to confirm, I added the quotes around the cpu fields and indeed the error "expected string, got &value.valueUnstructured" does not manifest anymore.

If I run apply and then diff (both on client side or both on server side), only the time field shows as a difference, which is the separate issue #94121.

However, if I apply client side and then diff server side, an e

[2020-08-30 13:52] #36141 closed

[2020-08-30 14:21] invidian opened #94337 "e2e kube-proxy mode detection assumes kube-proxy listens on localhost"
**What happened**:

When running the following e2e tests:
[code]

Tests fails to detect kube-proxy mode, when kube-proxy is not listening on `localhost` address. In my configuration, `kube-proxy` only listens on node IP:
[code]

Because of that, following tests modifier is not applied: https://github.com/kubernetes/kubernetes/pull/89854/files, which makes tests fail.

**What you expected to happen

[2020-08-30 14:25] invidian commented on #94337
/sig network

[2020-08-30 15:07] liggitt commented on #94321
Thanks for the pointers, Rob. Closing this issue in favor of the service API design/repo

[2020-08-30 15:07] #94321 closed

[2020-08-30 15:14] #94295 closed

[2020-08-30 15:15] brianpursley commented on #89360
/remove-lifecycle rotten

[2020-08-30 15:15] knight42 commented on #94313
looks like it is not easy to tighten the validation and that requires careful consideration
xref: https://github.com/kubernetes/kubernetes/issues/59984 https://github.com/kubernetes/kubernetes/issues/64841

[2020-08-30 15:16] brianpursley commented on #89360
Looking for someone to review this PR
https://github.com/kubernetes/kubernetes/pull/90721

[2020-08-30 15:45] jayunit100 commented on #56138
@wojtek-t  ... so since #93341 is closed, Can we close this and re-enable for large clusters ?   (i.e. remove the Tag in service.go that disables this test) ? I'm not up to speed on the history but 2 related notes I came across digging into related test `ESIPP [Slow] should handle updates to ExternalTrafficPolicy field` today...

- There's a TODO in the code referencing this issue, but the direct

[2020-08-30 16:07] eth0xFEED commented on #94284
/cc

[2020-08-30 16:43] ialidzhikov commented on #94336
/sig storage

[2020-08-30 16:54] #94300 closed

[2020-08-30 16:55] #89627 closed

[2020-08-30 16:55] #89775 closed

[2020-08-30 17:04] huang-jy commented on #90519
Still valid

On Sun, 30 Aug 2020 at 17:55, fejta-bot <notifications@github.com> wrote:

[2020-08-30 17:34] andrewsykim commented on #91306
/remove-lifecycle stale

[2020-08-30 17:40] akutz opened #94339 "ServerSideApply results in superfluous MODIFIED events for Endpoints resources with subset data in non-canonical order"
**What happened**:

Submitting an existing `Endpoints` resource, with subsets that are not in canonical order, to an API server with the ServerSideApply feature enabled results in a `MODIFIED` event even if the subset data has not actually changed.

**What you expected to happen**:

The `MODIFIED` event should not occur since no data has actually changed. The [storage strategy](https://github.com/

[2020-08-30 17:42] akutz commented on #94339
/sig architecture

I am also going to tag API Machinery because of the additional information at the end of the bug report:

/sig api-machinery

[2020-08-30 18:22] robscott commented on #94339
Thanks for the detailed bug report. This feels very closely related to the discussion in https://github.com/kubernetes/kubernetes/pull/94112.

/sig network
/cc @damemi @soltysh @aojea @liggitt

[2020-08-30 18:27] akutz commented on #94339
Based on a cursory look at the linked issue, they *are* related, but not completely. This bug is the reason for the fix in #94112. As I stated above:

The fact is, this did not happen before ServerSideApply or with it disabled. I believe it is related more broadly to storage strategies and their relationship to ServerSideApply, and that this combination could result in more issues like this one.

[2020-08-30 18:27] liggitt commented on #94339
the managedFields are recorded prior to server-side normalization, so differences in what is submitted by the client will be recorded as a change in managedFields.

[2020-08-30 18:28] akutz commented on #94339
Which is a breaking change IMO. The `Endpoints` resource is one example of this, but other storage strategies for other resources could and will result in the same behavior.

[2020-08-30 18:37] akutz commented on #94339
From what I can tell:

1. A resource is submitted
2. The API server's registered storage strategies are invoked, [including the one](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/rest/storage_core.go#L163-L166) for `Endpoints`
3. The `Endpoints` strategy's [`Canonicalize` function](https://github.com/kubernetes/kubernetes/blob/c182a599ee3f02b4b66c6d20caaa05f9a406a10f/pkg/r

[2020-08-30 19:25] ialidzhikov commented on #91951
I don't have details. Probably someone from apimachinery can point a KEP link, issue or PR that explains whether there is a plan to default to leases and if yes - how and when.

/cc @liggitt @lavalamp

[2020-08-30 20:15] janeczku commented on #94315
PR https://github.com/kubernetes/kubernetes/pull/94316

[2020-08-30 20:23] neolit123 commented on #94330
hi, we try to delegate requests for help to the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you are convinced that this a bug in kubernetes please reopen the ticket.

/close
/sig network

[2020-08-30 20:23] #94330 closed

[2020-08-30 20:26] neolit123 commented on #94337
/kind failing-test
/area test

possible we should support your use case.

[2020-08-30 20:29] neolit123 commented on #94328
hi, 1.16* is out of support. are you able to reproduce the issue with 1.17+?

[2020-08-30 20:31] invidian commented on #94337
BTW, with the workaround, it seems those 2 tests are still flaky to me :disappointed: Logs from the test: https://pastebin.com/F6eLN5hH

[2020-08-30 20:31] neolit123 commented on #94335
cc @dashpole

[2020-08-30 20:59] #86907 closed

[2020-08-30 22:35] booleanbetrayal commented on #3595
Ran into this today in an EKS Fargate context where I can't easily override Docker ulimit settings. Would definitely appreciate Kubernetes config support for this.

[2020-08-30 23:01] #89403 closed

[2020-08-30 23:28] jeffreybrowning commented on #69687
Haven't seen a wrap-up on this issue, excuse me if I missed something.

Is this still only in `Alpha`?

[2020-08-31 00:02] #87249 closed

[2020-08-31 00:02] #88939 closed

[2020-08-31 00:26] mattfenwick commented on #94088
/remove-triage unresolved

[2020-08-31 00:34] jayunit100 commented on #88090
/reopen

[2020-08-31 00:35] jayunit100 commented on #88090
Reopening  we still need to do this, just haven’t gotten around to it yet.  Maybe after the mainline pr to standardize the existing netpol tests merge we can address this as a follow on

[2020-08-31 00:51] zhouya0 commented on #94332
/assign

[2020-08-31 01:03] #89764 closed

[2020-08-31 02:23] 12Dong commented on #94328
@neolit123 hi, we are using 1.16 in product. It is hard to change it. This problem may be related to this page https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks. So can i modify the default expired time of a continue token? And how to do ?

[2020-08-31 02:49] NovaHe commented on #24725
+1 need it can be configured as onFailure or Never. Always is not fit for the real case here.

[2020-08-31 03:32] #93514 closed

[2020-08-31 04:06] #82190 closed

[2020-08-31 04:06] #89772 closed

[2020-08-31 04:33] povsister opened #94346 "Ambiguous help message in kube-proxy"
**What happened**:
Run `kube-proxy -h`, we could see two related command-line options.
The explanation for `--kubeconfig` is ambiguous, it says the master location is ought to be set by the master flag.
This statement is inconsistent with the actual behavior.
[code]

**What you expected to happen**:
In fact, the `--master` flag is optional, it only overrides the control plane address in `--kubecon

[2020-08-31 05:01] povsister commented on #94346
Proposed a fix here https://github.com/kubernetes/kubernetes/pull/94347

[2020-08-31 05:07] #88964 closed

[2020-08-31 06:00] ScrapCodes opened #94349 "[Flaky Test] [sig-network] Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort service"
**Which jobs are flaking**:

kind-ipv6-master-parallel
gce-cos-master-default

ci-kubernetes-e2e-gci-gce-containerd
....

**Which test(s) are flaking**:
[sig-network] Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort service

**Testgrid link**:
https://testgrid.k8s.io/sig-testing-kind#kind-ipv6-master-parallel

https://testgrid.k8s.io/google-gce#gce-cos-master-

[2020-08-31 06:01] ScrapCodes commented on #94349
/sig networking

[2020-08-31 06:01] ScrapCodes commented on #94349
/sig network

[2020-08-31 06:26] xieyanker commented on #60987
Same issue in Kubernetes v1.14.3

[code]

[2020-08-31 06:43] wojtek-t commented on #56138
We tried to enable all of them and that caused us a bunch of issues and those had to be reverted:
https://github.com/kubernetes/kubernetes/pull/90171

A couple tests were enabled later in: https://github.com/kubernetes/kubernetes/pull/90305 and those seem fine.

The remaining (mostly session-affinity ones) had some issue, which so far we didn't have time to debug and I haven't heard a good explana

[2020-08-31 06:50] huisebug opened #94350 "Specify the ipvs scheduling algorithm of svc as sh"
Solve, the ipvs used by kube-proxy, the default scheduling algorithm is rr, is there a way to specify a certain svc to use sh

[2020-08-31 06:55] uablrek commented on #94350
/sig network

[2020-08-31 06:55] uablrek commented on #94350
This has already been proposed, implemented and rejected, please see; https://github.com/kubernetes/kubernetes/pull/75556
/close

[2020-08-31 06:56] #94350 closed

[2020-08-31 07:00] gosoon commented on #73570
@wingerted The `~/.kube` directory has very few files, about 3M in a large cluster, and placing the directory in Shared memory didn't improve the speed,still very slow.

[2020-08-31 07:02] wojtek-t commented on #94315
We generally recommend having apiservers be updated first before all other components.

But yeah - it's true that this doesn't work for clients being more fresh - let me take a look at your PR.

[2020-08-31 07:10] DXist commented on #69687
Technically the feature gate HPAScaleToZero was required to support backwards compatible cluster rollback to previous minor K8S version. There were several K8S releases after the feature was merged and in my opinion nothing stops to make the feature GA.

[2020-08-31 07:26] uablrek commented on #94191
The use-case presented (prefer local DNS) can better be solved with https://kubernetes.io/docs/concepts/services-networking/service-topology/

Now, the service topologies are in alpha and are under re-construction, but the "Prefer Node Local Endpoints" is really useful so I think it will remain in some form.

And of course if the DNS is running as a deamonset on _every_ node `externalTrafficPolicy

[2020-08-31 07:45] FabianKramm commented on #94280
@lavalamp thanks, sounds good! Sorry, I'm new to this process, but how can I get them to sign this off? Who do I have to ping exactly?

[2020-08-31 08:05] miff2000 commented on #90066
Would it be a viable option to allow the inclusion of the `managedFields` data based on a preference set within a user's kubeconfig file? There's already a top-level dictionary called `preferences: {}` which I would assume was added for exactly this use case.

[2020-08-31 08:07] feiskyer opened #94354 "kube-controller-manager panic when network interfaces for Azure VMSS are null"
**What happened**:

kube-controller-manager panic when network interfaces for Azure VMSS are null. This happens when Azure cloud provider tried to get IP address for VMSS VM:

[code]

**What you expected to happen**:

kube-controller-manager should report an error instead of panic.

**How to reproduce it (as minimally and precisely as possible)**:

Scale cluster nodes up and down frequently.

**An

[2020-08-31 08:07] feiskyer commented on #94354
/sig cloud-provider
/assign

[2020-08-31 08:12] cofyc commented on #74374
cc @tnozicka

[2020-08-31 08:21] aojea opened #94356 "[failing test][ipvs] Services should only allow access from service loadbalancer source ranges"
**Which jobs are failing**:

ci-kubernetes-e2e-gci-gce-ipvs

**Which test(s) are failing**:

[sig-network] Services should only allow access from service loadbalancer source ranges [Slow]

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs&width=5

**Reason for failure**:

[code]

**Anything else we need to know**:

The test is failing consistently, however, there is

[2020-08-31 08:22] aojea commented on #94356
/sig-network
/area ipvs
/cc @uablrek @andrewsykim
/help wanted

[2020-08-31 08:22] aojea commented on #94356
/sig network

[2020-08-31 08:23] miton18 commented on #94191
OK, so I can use topology keys to prefer local pod in kube DNS service,
but how it work under the hood ? I don't see any changes in IPVS server weight

[code]

[2020-08-31 08:26] uablrek commented on #94191
Unsure how it should work, but since it is released in alpha it should. Have you enables the feature-gate? (just checking)

[2020-08-31 08:38] BedivereZero commented on #71647
The stress test reproduced the problem. kubelet cannot update node status after node has OOM.

[code]

Restarting kubelet will fix this problem.

[2020-08-31 09:29] answer1991 commented on #93280
Yes, the fix is done.

Kubernetes v1.19(or master branch) now is using golang 1.15, and golang 1.15 has fixed the issue. And [Kubernetes v1.18 backport golang 1.15](https://github.com/kubernetes/kubernetes/pull/94037) is on going.

[2020-08-31 09:32] answer1991 commented on #91131
Kubernetes v1.19(or master branch) now is using golang 1.15, and golang 1.15 has fixed the issue. And [Kubernetes v1.18 backport golang 1.15](https://github.com/kubernetes/kubernetes/pull/94037) is on going.

Let me add more test cases to ensure the error will not happen again.

[2020-08-31 09:39] answer1991 commented on #78206
As far as I know there is no plan to change this feature. A KEP and more discuss may needed for this change.

@anokun7

[2020-08-31 09:46] Gui13 opened #94359 "Mounting a volume subpath with many files in it leaks node storage"
**What happened**:

We have a cronjob copying files from a volume to a backup volume. The backup volume has lots of files in it (92288 at the moment).

The cronjob mounts both volumes with a subpath:

- source volume has ~100 files to be backuped -- storage is azure-files
- backup volume has 92k files (which seems to be the issue there -- the number of files) -- storage is azure-files

Each time w

[2020-08-31 09:47] Gui13 commented on #94359
/sig storage

[2020-08-31 10:02] 27claudia opened #94360 "Unable to open TCP/IP to server for a service running inside the cluster when a new ec2 machine joins the cluster (which has nothing to do with the service)"
**What happened**:
Hi there! I would like to report a peculiar behavior regarding kubernetes networking setup (i think).
Maybe it's aws kops related?

Arhitecture context: some nodes running a flask/gunicorn application, which process HTTP requests from our clients; this service is always running.
We use kubernetes batch jobs, which run on their own instance, to train our ML models. Daily a betwee

[2020-08-31 10:08] kvaps opened #94361 "panic: runtime error: index out of range [0] with length 0"
**What happened**:

During install v1.19 cluster can not finish coredns phase.
I guess https://github.com/kubernetes/kubernetes/issues/94286 is related, but for now it is not upgrade but clean install, also error is differet:

[code]

**What you expected to happen**:

cordns succefully installed

**How to reproduce it (as minimally and precisely as possible)**

try to install coredns on cluster wi

[2020-08-31 10:09] kvaps commented on #94361
/sig cluster-lifecycle
/area kubeadm

[2020-08-31 10:09] kvaps commented on #94361
/sig node

[2020-08-31 10:10] JeremyShih commented on #93100
Can I take one of them if it's not finished yet?
Like `pkg/cmd/create/create_namespaces.go`

[2020-08-31 10:12] Gui13 commented on #94359
If this is relevant: our storage class is azure-files but customized so that mount options have `nouser_xattr`. This is because we are using velero as a backup solution (see [here](https://github.com/restic/restic/issues/1800) for why we have to use that).

I'm not sure but this could take up node space if the container has to "store" these attributes on the writable layer of the container.

[2020-08-31 10:19] saraAlizadeh opened #94362 "Control manager logs: CPU Throttling request took seconds"
/sig node
/sig storage
/area controller-manager

**What happened**:
Hello everyone,
I've had his cpu throttling delays as mentioned in [here](https://github.com/ceph/ceph-csi/issues/1109), with k8s 1.18.2.
additional links:
https://github.com/kubernetes/kubernetes/pull/91307
https://github.com/kubernetes/kubernetes/pull/92015

So as they suggest I upgraded to 1.18.5, where this issue is solved.
bu

[2020-08-31 10:19] kvaps commented on #94361
my bad, my etcd had some data previously, clean installation is working fine

[2020-08-31 10:19] #94361 closed

[2020-08-31 10:20] kvaps commented on #94286
Not sure if this covered by kubernetes/kubeadm#2267, but today I've got another error when both pods were on Pending state
https://github.com/kubernetes/kubernetes/issues/94361

[2020-08-31 10:25] hex108 commented on #91667
/remove-lifecycle stale

[2020-08-31 10:54] ciiiii commented on #60807
good job.

[2020-08-31 11:02] rosti commented on #94286
@kvaps are those pods sitting in Pending state for long? If so, what CNI plugin do you use and is it possible that it contains some errors in its logs?

[2020-08-31 11:26] neolit123 commented on #94328
Can you create a new 1.17+ cluster to reproduce the problem?

I don't know if there is a workaround for this problem. I don't think we have an e2e test for 20k cron jobs, so your scenario might be unsupported.

[2020-08-31 11:36] nrvmodi commented on #69697
same issue happened. I have deleted ebs manually from the aws and then I tried to delete pv but it stuck in terminating status.

```pvc-60fbc6ab-8732-4d1e-ae32-b42295553fa1   95Gi       RWO            Delete           Terminating   ray-prod/data-newcrate-1       gp2                     5d4h```

[2020-08-31 11:41] jethrogb commented on #59119
/remove-lifecycle stale

[2020-08-31 12:02] saschagrunert opened #94365 "Add warning messages about deprecated seccomp annotation usage"
The [Pod Creation](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190717-seccomp-ga.md#pod-creation) and [PodTemplates](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190717-seccomp-ga.md#podtemplates) sections of the seccomp GA KEP mention that we should populate a warning message to the client if they're used. This issue should be the tracking issu

[2020-08-31 12:22] liggitt commented on #94365
for 1.20, I'm working on adding a helper that can be used by validation and REST handlers to add warnings about specific fields

[2020-08-31 12:23] neolit123 commented on #82532
/remove-lifecycle stale

[2020-08-31 12:25] JornShen commented on #94289
do you need some help? I'm interested in this thing.  May be I can do some jobs for yours.

[2020-08-31 12:39] michaelgugino commented on #91465
/remove-lifecycle stale

I think this is worth discussing long-term.

[2020-08-31 12:44] saschagrunert commented on #94365
That's what I was looking for! Nice, thank you so much! :heart:

[2020-08-31 12:54] khatrig opened #94366 "nodelocaldns daemonset spec should have nodeSelector to only run on linux nodes"
**What would you like to be added**:
nodelocaldns daemonset spec should have nodeSelector to only run on linux nodes

**Why is this needed**:
With heterogeneous k8s cluster(Windows + Linux ) nodelocaldns pod tries to run on windows nodes as well. The nodelocaldns pod would always stay in an error state on windows nodes.
Better would be to add nodeSelector in the daemonset spec:
_nodeSelector:
kube

[2020-08-31 13:00] kvaps commented on #94286
Hi @rosti, the reason for that is not broken CNI-plugin, but empty cluster.
I'm playing with containerized Kubernetes control-plane, see [Kubernetes-in-Kubernetes](https://github.com/kvaps/kubernetes-in-kubernetes) project.
When you just install the cluster you have no any nodes yet.

[2020-08-31 13:28] rikatz commented on #94191
The point for me is: weight/service priority is appearing again, see: https://github.com/kubernetes/kubernetes/issues/85395

Per last @thockin [comment](https://github.com/kubernetes/kubernetes/issues/85395#issuecomment-652094115) maybe we can think in a metadata that can be used for core/kube-dns when dealing with headless services but also the same idea can be used for kube-proxy ipvs?

Also, I'

[2020-08-31 14:03] jkaniuk opened #94368 "[Failing Test] [sig-scalability] ci-kubernetes-e2e-gce-scale-performance failed due to slow GET services proxy calls"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-performance
**Which test(s) are failing**:
density & load
**Since when has it been failing**:
31 Aug
**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1300116668424392704
**Reason for failure**:
[code]

**Anything else we need to know**:
/sig scalability
/assign

[2020-08-31 14:08] wojtek-t commented on #94368
"proxy" subresource should be excluded from our SLO (as it can be literally arbitraly long).

[2020-08-31 14:08] rikatz commented on #94284
So I've tried to reproduce here but couldn't. I've installed a CentOS 7 with kubespray and version 1.17.6 and can use iptables-nft from inside the container without any problem (no coredump, etc etc).

Is there anything in your control plane that can be different, like full disk, not enough memory, etc?

Tks

[2020-08-31 14:10] arianvp commented on #28969
Can we reopen this? This is still very relevant for many workloads that now have issues running on kubernetes manually. Including  Audio/Video (STUN/TURN etc), redis and cassandra.

[2020-08-31 14:13] bertinatto opened #94369 "[Failing Tests]: "[sig-storage]" tests fail in the "kops-selinux" job"
**Which jobs are failing**:

kops-selinux

**Which test(s) are failing**:

There are about 25 tests failing.

[code]

**Since when has it been failing**:

Since the job was introduced.

**Testgrid link**:

https://testgrid.k8s.io/sig-storage-kubernetes#kops-selinux

**Reason for failure**:

This needs to be confirmed, but most likely SELinux is preventing pods to read/write certain files on disk.

[2020-08-31 14:14] rikatz commented on #94284
/remove-triage unresolved

[2020-08-31 14:20] hasheddan opened #94370 "[Flaky Test] [k8s.io] ResourceMetricsAPI [NodeFeature:ResourceMetrics] when querying /resource/metrics should report resource usage through the resouce metrics api"
**Which jobs are flaking**:

`node-kubelet-features-master (ci-kubernetes-node-kubelet-features)`

**Which test(s) are flaking**:

`[k8s.io] ResourceMetricsAPI [NodeFeature:ResourceMetrics] when querying /resource/metrics should report resource usage through the resouce metrics api`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#node-kubelet-features-master

**Reason for

[2020-08-31 14:21] arianvp commented on #28969
If you are using Calico, you could add https://docs.tigera.io/networking/use-specific-ip to each `pod` manually.  However you'd have to add the annotation to new pods that get created when you scale up; which is a bit annoying.

  It would be really cool if we could add an annotation to the `StatefulSet`  that Calico interprets and then does this automatically.  Listen to pods being created; and t

[2020-08-31 14:24] dwschulze commented on #94314
For anyone else running into this problem, I was finally able to solve this by doing

kubectl delete -f https://docs.projectcalico.org/v3.11/manifests/calico.yaml

followed by

kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml

There must have been some version incompatibility between version 3.11, which I had installed a few months ago and the new node.

[2020-08-31 14:35] liggitt commented on #94362
that's not CPU throttling, that is request throttling, which occurs when many requests are made at once. occurring once a minute or so is not concerning

/remove-kind bug
/triage support
/close

[2020-08-31 14:35] #94362 closed

[2020-08-31 15:24] snehap25 commented on #48798
Please someone help me
For kube-proxy-windows-xhxzw pod status is ContainerCreating .When I describe the pods it gives warning as

Warning  NetworkNotReady  3m27s (x4964 over 168m)  kubelet, casts1  network is not ready: runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized

All others pods are in running st

[2020-08-31 15:30] neolit123 commented on #94360
hi, i the occasional failures that you are seeing could be AWS related.
hard to tell, and i don't think this problem can be easily reproduced by the core kubernetes maintainers.

we try to close similar tickets until there is more proof that this is an actual problem in core.
if you confirm that please re-open it.

also note that 1.16 is out of support so you must provide the proof for a failing 1

[2020-08-31 15:30] #94360 closed

[2020-08-31 15:31] neolit123 commented on #94360
you also try asking at the support channels here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

to see if someone using kops /aws has seen this.

[2020-08-31 15:32] neolit123 commented on #94369
/retitle Failing "[sig-storage]" tests in the "kops-selinux" job

cc @justinsb

[2020-08-31 15:32] neolit123 commented on #94369
/sig cluster-lifecycle

[2020-08-31 15:33] neolit123 commented on #94369
it might be better to close this and open it in the kops repository.

[2020-08-31 15:34] neolit123 commented on #94369
/retitle [Failing Tests]: "[sig-storage]" tests fail in the "kops-selinux" job

[2020-08-31 15:37] neolit123 commented on #94286
i'm going to close this and merge the report in https://github.com/kubernetes/kubeadm/issues/2267
the problem we are trying to solve is handling missing containers and pending pods for the coredns version check.
/close

[2020-08-31 15:38] #94286 closed

[2020-08-31 16:04] neolit123 commented on #72757
this still seems viable; cluster-lifecycle no longer maintains the addons YAMLs.
also PRs are welcome.

/remove-lifecycle rotten
/remove-sig cluster-lifecycle

[2020-08-31 16:05] neolit123 commented on #72757
/sig cloud-provider
/area gcp

[2020-08-31 16:05] neolit123 commented on #72757
/area provider/gcp

[2020-08-31 16:05] wingerted commented on #73570
Ok, I know it's very few files in the cache. But in our environment, the cache dir not in the memory cost a lot.

We also have 8k pod in a namespace

Before we link cache to /dev/shm, it shows
[code]

After
[code]

Well, 25% is not a big improve since 8k pod info is a large data from apiserver to local, we can just get ns to see the diff clear

Before
[code]

After
[code]

Of cause I clean the cac

[2020-08-31 16:06] neolit123 commented on #86864
question was asked here:
https://github.com/kubernetes/kubernetes/issues/86864#issuecomment-615016778

/close

[2020-08-31 16:06] #86864 closed

[2020-08-31 16:07] neolit123 commented on #88947
/sig api-machinery
/remove-sig cluster-lifecycle

until we establish if this is a problem with the way kubeadm setups the api server

[2020-08-31 16:08] neolit123 commented on #78534
/remove-lifecycle stale

[2020-08-31 16:11] lavalamp commented on #91951
I think @cheftako or maybe @andrewsykim might know the exact current plan?

We can't just switch the default, that will probably cause a disaster for someone doing a rolling upgrade of a multiple-controller-manager cluster.

[2020-08-31 16:18] lavalamp commented on #94280
Well, we could wait for them to triage issues, but I'm not sure what SIG CLI does there-- we can also [look them up](https://github.com/kubernetes/community/tree/master/sig-cli) and just ping @seans3, @soltysh, @pwittrock

[2020-08-31 16:20] neolit123 commented on #75457
the picture around the node-role label limitations on the kubelet side were explained above. TL;DR:
- kubeadm is using an API client with privileged credentials to set node-roles. it would only do that on control-plane nodes using the common "master" label (to be channel to "control-plane" in the future).
- kubeadm has no plans to apply node-roles for other node types.
- high level tools / admins

[2020-08-31 16:20] neolit123 commented on #75457
/sig cli architecture node

[2020-08-31 16:21] lavalamp commented on #90066
Maybe? We'd want to be careful not to make scripts behave differently on different systems, by e.g. only hiding if the output is a TTY or something like that.

[2020-08-31 16:23] neolit123 commented on #74340
this seems like an issue related to memory and timeouts.
kubeadm applies the kube-controller-manager defaults. if those do not suit your setup, please reopen the ticket and suggest better defaults to be changed in the KCM itself.

/remove-sig cluster-lifecycle
/sig api-machinery
(maintainers of the KCM).

[2020-08-31 16:24] neolit123 commented on #74340
/priority awaiting-more-evidence

[2020-08-31 16:24] neolit123 commented on #34627
/remove-sig cluster-lifecycle

[2020-08-31 16:38] tallclair commented on #64783
/remove-lifecycle stale

[2020-08-31 16:52] MHBauer commented on #94370
looks like my fault, whoops. https://github.com/kubernetes/kubernetes/pull/93868
/assign
As far as I can tell the test is sensitive to the environment it runs in. I'll try to make it match less, and if that doesn't work it may need to become serial.

[2020-08-31 16:58] MHBauer commented on #94370
attempt based on my understanding, https://github.com/kubernetes/kubernetes/pull/94373

[2020-08-31 17:47] mkumatag opened #94375 "TestLoopbackHostPortIPv6 fails on non IPv6 environment"
**What happened**:

TestLoopbackHostPortIPv6 fails when run in the machine where there is no IPv6 loopback device configured, with following error:

[code]

Especially running in the containers where IPv6 is not really configured for the runtime

**What you expected to happen**:

Unit tests shouldn't really depend on the environment it is running,

**How to reproduce it (as minimally and precisely

[2020-08-31 17:47] mkumatag commented on #94375
/sig testing
/cc @liggitt

[2020-08-31 17:52] mkumatag commented on #94375
/assign

[2020-08-31 18:10] yasker commented on #94336
Longhorn team is checking it at the moment.

[2020-08-31 18:28] jingxu97 commented on #94237
[code]

Could you try this? I copied it from one of the subPath test

[2020-08-31 18:34] panicbit commented on #69676
/remove-lifecycle stale

[2020-08-31 18:36] Med-All opened #94377 "Problem with resolving hostnames - timeout to external DNS"
I have two kubernetes pods running via Rancher (all running on CentOS 7):

#1 - busybox
#2 - dnsutils

From the pod #1:

[code]

and then

[code]

so sometimes it works but mostly not.

then from the pod #2:

[code]

and then:

[code]

so it mostly doesn't work.

The same problem is when I try to reach any external hostname.

Also tried to troubleshoot based on article from [here][1]

ConfigMap:

[2020-08-31 18:43] Med-All commented on #94377
/sig network

[2020-08-31 18:47] Cynerva opened #94378 "csi.volume.kubernetes.io/nodeid node annotation is not properly set when multiple plugins register at the same time"
**What happened**:

I added two CSI plugins to my Kubernetes cluster via a single call to `kubectl apply`. When I did this, the `csi.volume.kubernetes.io/nodeid` annotation was improperly set on 2 out of 3 nodes. Only one of the plugins appeared:

[code]

**What you expected to happen**:

Both cephfs.csi.ceph.com and rbd.csi.ceph.com plugins should have appeared in the csi.volume.kubernetes.io/nod

[2020-08-31 18:48] Cynerva commented on #94378
/sig storage

[2020-08-31 19:16] apelisse commented on #94275
That's expected, especially if you don't have 1.19. We've simplified the experience in 1.19 so that client-side and server-side don't conflict with each other.

[2020-08-31 19:23] jpmsilva commented on #94275
For whatever it’s worth (and anyone that might encounter a similar error message), the execution I showed was with version 1.19.0.

[2020-08-31 19:25] apelisse commented on #94275
@julianvmodesto Would that be expected?

[2020-08-31 19:48] julianvmodesto commented on #94275
Hm that's not expected... let me check the tests for this.

[2020-08-31 19:56] eth0xFEED commented on #93824
Thank you for your patience have checked with few members and think our best option is to open issue against the website so we can enhance the documentation to reflect your goals stated further up in the issue. Here is the link: https://github.com/kubernetes/website/issues

This is the comments i've received:
[code]

@blackjackyau would you agree that the documentation approach is best course forw

[2020-08-31 20:03] Trackhe commented on #67202
I would also like to have the sourceip in a LoadBalancer service with multiple nodes. (Layer 2 Metallb LoadBalancer)

[2020-08-31 20:23] arocki7 commented on #85560
Adding `--kubelet-preferred-address-types=InternalIP` to the args solved the problem for me.

[2020-08-31 20:23] SergeyKanzhelev commented on #94289
I think the very first thing would be to discuss the step-by-step enablement for it. Perhaps add new tags to test jobs in test-infra repo. Then update tags in the k/k repo. And finally remove older tags in test-infra repo.

Also I'd like to discuss whether features that moved to GA and doesn't have any flags should still be marked with the Feature tag or not for classification?

If you are interes

[2020-08-31 20:28] MikeSpreitzer commented on #91131
@MikeSpreitzer

[2020-08-31 20:40] pires commented on #91951
So, I checked the CLI reference documentation and up until 1.16, inclusive, [it clearly states default is `endpoints`](https://v1-16.docs.kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/).
Docs related to newer versions state the default is now `endpointleases`:

[code]

Digging a little deeper into the 1.17 changelog, there's a reference to the change that suppos

[2020-08-31 20:53] pires commented on #91951
OK I think this is just a problem between what actually shows up in the CLI flag description vs the implementation. Check this out:

[code]

Clearly, the implementation states the default is `endpointsleases` but the description states the default is `endpoints`.

[2020-08-31 20:54] pires commented on #91951
Same for `kube-scheduler`

[code]

[2020-08-31 20:56] pires commented on #91951
I think the issue can be closed but will leave it open for the owners of this piece of code to decide whether they want to cut a bugfix release for 1.17 and 1.18 that fixes the CLI flag description. Thank you for your time!

[2020-08-31 21:24] #89826 closed

[2020-08-31 22:24] #92899 closed

[2020-08-31 22:24] #78749 closed

[2020-08-31 22:34] knabben commented on #91551
@Huang-Wei can this be closed, the PRs were already merged.

[2020-08-31 22:41] sjmiller609 commented on #91345
/remove-lifecycle stale

[2020-08-31 22:57] BenTheElder commented on #94375
/remove-sig testing
/sig api-machinery

[2020-08-31 23:00] BenTheElder commented on #94369
given that this is in the SIG storage dashboard and these are kubernetes e2e tests this repo is appropriate for tracking.
it's possible it doesn't belong in that dashboard.

[2020-08-31 23:01] BenTheElder commented on #94337
@aojea

[2020-08-31 23:03] BenTheElder commented on #94311
Please let me know if you see any further instances of this. Currently it's difficult to find these and the root cause is not easily proven.

[2020-08-31 23:44] jsturtevant commented on #92771
The cluster provisioning is no longer running into this issue.

/close

[2020-08-31 23:44] #92771 closed

[2020-08-31 23:51] Michaelborsellino commented on #94011
Hi! I see that some users have been considering picking this issue up. Is anyone actively working on it? If not, I would love to take a look!

[2020-09-01 00:39] #89173 closed

[2020-09-01 00:49] jessicaochen commented on #92906
In case it helps, I looked into a very similar case recently on GKE. Pod A was preempted for a critical pod. A new pod A' was scheduled correctly and promptly but the old pod A was never cleaned up and sat in preempting state.

Turns out, when there is a kubelet preemption it acts similar to a kubelet eviction. The code intentionally leaves the old pod A behind for debugging purposes. Normally, ku

[2020-09-01 01:27] #86388 closed

[2020-09-01 02:27] #93957 closed

[2020-09-01 03:29] #89844 closed

[2020-09-01 03:38] ymmt2005 commented on #74374
#93457 has been merged.  It addresses this issue at least partially.

[2020-09-01 03:40] marosset commented on #94213
I was able to repro you the issue using the azurefile-csi-driver for Windows.

I tried to set up a repo where I would mount an azure file share to a Windows node manually, create symlinks to the share and then schedule a pod to the node using a hostPath volume and the container was able to start up fine using contianerd.

Here is the pod-spec i used
[code]

I tried to mount the Azure file share wi

[2020-09-01 05:11] arielmoraes commented on #50003
Heim and its templating capabilities can help us solving that dynamic naming.

[2020-09-01 05:19] chendave commented on #93505
@alculquicondor ,   "enter queue"->"issue deletions" order is good idea however there is no `PriorityQueue` handler I could get when the pod is deleted (in the `PostFilter` plugin)

[2020-09-01 05:50] chendave commented on #93505
think it again, I think the problem here could be fixed by preventing the preemptor pod from being added to `backoffQ` in the first place,

when the preemption is happened, the event of pod deletion should trigger a move request, and the `p.moveRequestCycle` is updated even there is no item in the `unschedulableQ`

https://github.com/kubernetes/kubernetes/blob/e23d83eead3b5ae57731afb0209f4a2aaa400

[2020-09-01 06:01] yueseW commented on #90851
Hi same issue found in 1.18.2

[2020-09-01 06:04] dkwakkel commented on #42544
/remove-lifecycle stale

[2020-09-01 06:08] chendave commented on #93505
I suggest the `p.moveRequestCycle` should be updated only when the pods that is in `unscheduleQ` is not empty, which mean a real move request is happened.

So that the problem could be addressed,
- If the `unscheduleQ` is empty, the preemptor pod is moved to `unscheduleQ`, so it will be moved to `activeQ` when there is an event that make this, it might be the next scheduling cycle after the preemp

[2020-09-01 06:11] svallala commented on #90851
It is not yet ported into v1.18.6 as well.

[2020-09-01 07:07] pacoxu commented on #94378
/assign

[2020-09-01 07:15] pacoxu commented on #94377
Can you try to nslookup with coredns pod ip?

Is 10.43.0.10 the cluster ip of coredns pod? Do you use node local dns in your cluster ?

`[ERROR] plugin/errors: 2 google.com. AAAA: read udp 10.42.0.3:43864->10.50.xxx.xxx:53: i/o timeout
`
BTW, check the /etc/resolv.conf on the host that is running coredns pod.
And nslookup google.com on that host. The coredns may be not accessible with the upstream

[2020-09-01 07:25] pacoxu opened #94388 "CSINode will not updated/removed/disabled after csi driver stopped on the node"
**What would you like to be added**:

Currently, I run csi driver on two nodes: node A and node B. Then I got two csinodes in my cluster.

Then I stopped the driver in node A, but the csinode for node A is still there with no status.

This seems to work as designed.
Official docs in https://kubernetes-csi.github.io/docs/csi-node-object.html:
**> Driver availability

CSINode means that the node is

[2020-09-01 07:26] pacoxu commented on #94388
/sig storage

[2020-09-01 07:31] jethrogb commented on #63906
/remove-lifecycle stale

[2020-09-01 08:27] wojtek-t commented on #94368
Same failure second time - I don't think that was a flake:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1300479056172552194

@kubernetes/ci-signal - FYI

Also - see my comment above - we should not count "proxy" subresource into the SLO.

[2020-09-01 09:22] pacoxu commented on #94359
I think mounted volume will not use disk of host at all.

Would you check the image size of your cronjob ?
Who occupied the 130MB disk?

I tried to mount host path to cronjob with 100k+ files. And no extra disk  is used by jobs.

Another way is that you can run another job to clean old jobs.

[2020-09-01 09:35] rosscdh commented on #74099
+1 same error here..

[2020-09-01 09:42] terzonstefano commented on #72102
"""" INSTALL KUBERNETES WITH KUBEADM """"

!!! CHECK ALL INSTALLATION PREREQUISITES BEFORE INSTALLING kubernetes ----> https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/  !!!

prerequisites: Check if it is already installed by running these commands on master nodes:

kubectl

kubeadm

prerequisites: check which version of linux you have: --> cat /etc/os-release

[2020-09-01 09:48] hkamel opened #94391 "[Failing Test] kind-1.19-parallel (ci-kubernetes-kind-e2e-parallel-1-19)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.19
/sig node

[2020-09-01 09:56] Gui13 commented on #94359
Hi @pacoxu : this is what we did to investigate:

First of all: our job is using bash:latest as docker image. We copied a bash script in there consisting of an 'ls' and then a copy of some files. The image in sub-100Mb (I don't have it readily available). The issue should not be the image size because once the image is on the node, it should not be "adding up" when creating a container, am I right

[2020-09-01 09:57] hkamel opened #94392 "[Failing Test] kind-1.18-parallel (ci-kubernetes-kind-e2e-parallel-1-18)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.19
/sig node

[2020-09-01 10:06] thanos1983 opened #94393 "No CNI configuration file in /etc/cni/net.d/. Has your network provider started? (kubeadm 1.18.8 / 1.18.6)"
**What happened**:

Deploying Calico or Flannel is failing to detect network configurations on deployments (kubeadm 1.18.8 or 1.18.6) bare-metal. The files are in place.

**What you expected to happen**:

Kubelet should pick up and inform coredns to start.

**How to reproduce it (as minimally and precisely as possible)**:

Install k8s on a clean bare-metal node (Centos7 should be the same I assume

[2020-09-01 10:28] Zheaoli commented on #94359
I think it's should be an Azure storage CSI driver error? I will try it on my azure cluster later.

/cloud-provider

[2020-09-01 10:28] Zheaoli commented on #94359
/sig cloud-provider

[2020-09-01 10:29] ialidzhikov commented on #94281
I can also confirm that issue reproduces with `metrics-server@v0.3.7`, `kubernetes@v1.19.0` and `docker://18.6.3`.

[code]

/priority important-soon

[2020-09-01 10:45] thanos1983 commented on #94393
/sig Network

[2020-09-01 10:57] fasaxc commented on #85966
/remove-lifecycle rotten

[2020-09-01 11:25] hkamel opened #94394 "[Failing Test] kind-master-parallel (ci-kubernetes-kind-e2e-parallel)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.19
/sig node

[2020-09-01 11:30] hkamel commented on #94394
/sig-remove io

[2020-09-01 11:32] persunde commented on #24725
Please add onFailure and Never.
+1 need it can be configured as onFailure or Never. Always is not fit for the real case here.

[2020-09-01 11:43] hkamel commented on #94394
related to https://github.com/kubernetes/test-infra/issues/19080

[2020-09-01 11:43] hkamel commented on #94392
related to kubernetes/test-infra#19080

[2020-09-01 11:43] hkamel commented on #94391
related to kubernetes/test-infra#19080

[2020-09-01 11:48] vcorr commented on #44273
Just ran into this with 1.14.10-gke.42

[2020-09-01 11:53] arivatibm commented on #79384
Make sure to run it on the latest version otherwise it might not work
for me it was v1.18.2

[2020-09-01 12:05] aojea commented on #94337
I think that the title is misleading, it should be "e2e test kube-proxy detection assumes that kube-proxy listens on localhost", right?

kube-proxy binds only to localhost by default for security reasons
https://github.com/kubernetes/kubernetes/pull/74300#issuecomment-510906208
more context here https://github.com/kubernetes/kubernetes/issues/74011

I assume that is the reason why the detector has

[2020-09-01 12:05] bronger commented on #24725
Please don’t spam.

[2020-09-01 12:58] JornShen commented on #94289
For the whole methods that you mentioned to reach it , I 'm agree with it.I think I know about the direction to do this in general now. So the more details, maybe I am not very familiar with. I would like to do somethings, when the details is given. Or maybe we can discuss it here.

From my understanding, the thing we can do, is to modify the job regrex in test-infra to make it compatible our newt

[2020-09-01 13:39] alculquicondor commented on #94011
Now that master is not in freeze, this can be taken. But please leave some time for contributors that volunteered earlier to respond.

[2020-09-01 14:17] blackjackyau commented on #93824
thanks for coming back 😄
I would agree that documentation can help to raise the awareness especially on an outbound call. E.g. `https://google.com.` instead of `https://google.com`

First I believe the example given is incorrect, it should work but not as optimized. (it will go back to the local search if the first lookup is missed)

We try to illustrate the ndots configuration vs the search attem

[2020-09-01 14:20] invidian commented on #94337
You're right, I fixed that.

Thanks for the insights. I somehow missed `--metrics-bind-address` flag, which I think I can use instead of making kube-proxy bind to host IP, as primary goal for that is to be able to scrape the metrics from it.

I'm not sure how to proceed from here with this issue. It would be nice to have this documented somewhere, instead of just in an issue, but since listening o

[2020-09-01 14:23] alculquicondor commented on #93505
I'm not entirely familiar with the new code path. But a handler is present during plugin instantiation, so it could be shared from there. Otherwise, we can add it.

For the rest of the queues discussion, let me clarify the meanings of each queue:

- `activeQ`: contains pods that have not yet been tried or an event has made them potentially schedulable (and backoff has passed).
- `unschedulableQ`:

[2020-09-01 15:02] aojea commented on #94337
there is no way to configure it, at least with current kernel versison, is a limitation in IPVS, hence the test for IPVS mode has a longer timeout. kubernetes does not put any limit on the stickiness duration, it just has to stop to be sticky after the timeout configured.

That log was there before, seems there is a release with 1.19, are you using that?

https://github.com/vmware-tanzu/sonobuoy/r

[2020-09-01 15:08] invidian commented on #94337
Yes: https://github.com/flexkube/libflexkube/blob/v0.4.0/e2e/Dockerfile#L12.

[2020-09-01 15:27] A-Kamaee commented on #72597
/remove-lifecycle stale

[2020-09-01 15:28] A-Kamaee commented on #72597
Still needed

[2020-09-01 15:44] liggitt commented on #94183
is NoExecute the expected taint for this condition?

[2020-09-01 16:01] yastij commented on #94183
@liggitt - yes it is, when running the taint-manager https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L79  `NoExecute` evictions are usually safe eviction as we don't force delete pods

[2020-09-01 16:04] quanbisen commented on #74340
I think the problem on my situation is the machine network, I had installed `Zabbix` monitor and configured email alert. And I received the email saying my `cni` interface was down.

[2020-09-01 16:06] tdmalone commented on #81873
/remove-lifecycle rotten
/reopen

[2020-09-01 16:08] kfox1111 commented on #69608
/remove-lifecycle stale

[2020-09-01 16:18] tnozicka commented on #78007
/remove-sig scheduling
/sig apps
/assign

[2020-09-01 16:26] tnozicka commented on #67250
/assign

[2020-09-01 16:44] Med-All commented on #94377
That cluster has two nodes with 1 CoreDNS pod per node.

From the node #1 CoreDNS I can do nslookup:

[code]

but from the node #2 it is failing:

[code]

It is ClusterIP:

[code]

Yes - host which runs coreDNS pod has correct entries in the `resolv.conf` and I can do

[code]

So issue looks like a problem when I have 2 CoreDNS pods (1 per each node).

Thoughts?

[2020-09-01 16:50] yastij commented on #94183
ref https://github.com/kubernetes/kubernetes/pull/94274

[2020-09-01 17:01] nodo commented on #94168
/assign

[2020-09-01 17:29] Huang-Wei commented on #91551
Thanks @knabben .

[2020-09-01 17:29] #91551 closed

[2020-09-01 17:53] saiteja313 opened #94400 "Limit privileged access for CSI driver"
**What would you like to be added**:
- Limit `securityContext.privileged` access for CSI drivers pods [1]
- For example: EFS CSI driver requires Privileged access due to `spec.template.spec.containers[0].volumeMounts.mountPropagation` property set to value `Bidirectional`.
- `Bidirectional` is needed  to allow Kubelet on the host to see mounts created by the CSI driver container. Documentation fro

[2020-09-01 18:00] LittleFox94 commented on #88097
/remove-lifecycle rotten

Have the same problem with 1.19.0 and rook resources getting deleted, namely the mon deployments and services, the mgr deployments, the osd deployments and, most annoyingly, the mon endpoint configmap and dashboard password secret - making rook create new cluster from scratch and creating a lot of manual work for me to recover the cluster

tell me if you need more informa

[2020-09-01 18:21] derekwaynecarr commented on #72881
@dashpole I agree with both points.  I think disabling EnforceNodeAlloctable is in effect disabling resource management at this point in Kubernetes lifecycle.  It is all best-effort at that point.

[2020-09-01 18:43] reselbobasg opened #94402 "Does this repo have a branching and release policy"
I am doing an article on branching and release policies for the most popular open-source projects. To say Kubernetes is not popular is an extreme understatement.

Thus, I ask, do you have have a branching and release policy/pattern that I can read? Or is it a matter of convention and tribal knowledge? If so, what is the policy/pattern?

Thanks  in advance,
Bob Reselman

[2020-09-01 18:52] unixfox commented on #73269
/remove-lifecycle stale

[2020-09-01 18:53] saiteja313 commented on #94400
/sig storage

[2020-09-01 19:13] BenTheElder commented on #93621
I want to understand more about the proposed guidance here soon, just need to find the time, particularly WRT https://github.com/kubernetes-sigs/kind/pull/1705, I'm not keen on expanding support to cover this in KIND if we're prepared to remove it upstream.

[2020-09-01 19:23] uablrek commented on #94282
This was my fault.

I had a script named "bash" in my path. It called the real bash so it did not show. However is somehow caused this seemingly unrelated problem.

Sorry to waste your time.

[2020-09-01 19:23] #94282 closed

[2020-09-01 19:28] uablrek commented on #94282
FYI The trigger was that the SHELL in the Makefile was changed from "/bin/bash" to "/usr/bin/env bash".

[2020-09-01 19:50] dnaeon commented on #89368
/remove-lifecycle stale

[2020-09-01 19:54] gecube commented on #19475
It's nice idea. I'd like to have it implemented too.

[2020-09-01 20:18] fedebongio commented on #94301
/assign @lavalamp
(who volunteered to find the previous one related)

[2020-09-01 20:19] fedebongio commented on #94313
/assign @yliaog

[2020-09-01 20:20] fedebongio commented on #94315
/cc @wojtek-t @liggitt

[2020-09-01 20:21] fedebongio commented on #94339
/assign @jennybuckley

[2020-09-01 20:21] fedebongio commented on #94375
/cc @lavalamp

[2020-09-01 20:24] akutz commented on #94339
I feel very strongly that clients should not shoulder the responsibility of being aware or adjusting to server-side storage strategies in order to prevent superfluous `MODIFIED` events. So while a client _can_ attempt to avoid a no-op update/patch to avoid this issue, it should not need to do so. This affects `Endpoints` today, but I am concerned how ServerSideApply could affect other resources wi

[2020-09-01 20:25] liggitt commented on #94339
I agree. Notably, I think admission webhooks would effectively be server-side mutations in a way that could trigger this issue as well.

[2020-09-01 20:27] akutz commented on #94339
I was not sure about that. I am not overly familiar with storage strategies, so I was unfamiliar whether they were uniquely situation in a way that webhooks are not to result in this disconnect from SSA.

[2020-09-01 20:27] lavalamp commented on #94301
I think #94170 was the one I was thinking of. It adds the feature, but we would need to turn it on in various places. Probably both the kubectl <-> apiserver and the apiserver <-> kublet paths would need this on.

[2020-09-01 20:28] lavalamp commented on #94301
I don't think there's much harm in just turning it on, I don't really think we need a flag. A ping every 20s or so shouldn't break the bank.

[2020-09-01 20:54] TheEnbyperor commented on #93320
Any updates on this? Currently hitting this issue myself writing some things in Rust.

[2020-09-01 21:00] caesarxuchao commented on #94301
https://github.com/kubernetes/kubernetes/pull/94170 might fix this.

[2020-09-01 21:01] lavalamp commented on #94301
Yeah, #94170 doesn't actually enable it anywhere, it just adds the
parameter.

On Tue, Sep 1, 2020 at 2:00 PM Chao Xu <notifications@github.com> wrote:

[2020-09-01 21:33] neolit123 commented on #94393
/remove-sig network
/remove-kind bug
/triage support

the kubelet error can be misleading / temporary.

- did you observer behavior changes from a previous cluster version - e.g. 1.17.x?
- is the kubelet also versioned 1.18.x?
- try removing existing networks under `/etc/cni/net.d/`. i've seen related problems if you install CNI X and then CNI Y, without deleting the configuration for CNI X?
- ple

[2020-09-01 21:35] neolit123 commented on #94402
hi, we try to use this tracker for bugs/features.

this is more suited as a discussion for the kubernetes-dev mailing list:
https://groups.google.com/g/kubernetes-dev/

thanks
/close

[2020-09-01 21:36] #94402 closed

[2020-09-01 22:35] #94141 closed

[2020-09-01 22:42] nielsbasjes commented on #94301
Given that the recommended timeout is 20 seconds I would set the default ping time to something like 5 or 10 seconds.

[2020-09-01 22:43] adtac opened #94404 "test/integration/scheduler_perf: check for unused template parameters"
Note: this issue should be viewed in the context of #93252.

If this happens, this is very likely a typo where someone used a parameter in a way they didn't mean to (for example, `CreateNodes: $initPods`).

/sig scheduling
/assign

[2020-09-01 22:59] liggitt commented on #94394
Resolved by https://github.com/kubernetes/test-infra/issues/19080#issuecomment-685141853

[2020-09-01 22:59] #94394 closed

[2020-09-01 22:59] liggitt commented on #94392
Resolved by https://github.com/kubernetes/test-infra/issues/19080#issuecomment-685141853

[2020-09-01 22:59] #94392 closed

[2020-09-01 22:59] liggitt commented on #94391
Resolved by https://github.com/kubernetes/test-infra/issues/19080#issuecomment-685141853

[2020-09-01 22:59] #94391 closed

[2020-09-01 23:28] yliaog commented on #94313
"Updates to all other quantities in the resourcequota should not have been blocked by the error above" should be fixed separately

[2020-09-01 23:35] #93229 closed

[2020-09-02 00:50] huggsboson commented on #93082
@Huang-Wei I noticed you folks landed the extensible scheduler docs recently.  I'm curious if you have any thoughts on if those extension points would be helpful for achieving my goals above, or if I'd be better served with something else.

[2020-09-02 01:43] #93641 closed

[2020-09-02 01:43] #93771 closed

[2020-09-02 01:44] #94370 closed

[2020-09-02 01:47] zhiweiv commented on #93771
Thanks guys.

[2020-09-02 02:02] dims commented on #93320
we need to update etcd, containerd and others that we depend on to the latest google.golang.org/grpc *before* we can update kubernetes. If someone wants to propose PRs in those repositories (At least etcd and containerd!)

https://github.com/grpc/grpc-go/compare/v1.27.0...v1.31.1 (looks like a bunch of changes in there)

[2020-09-02 02:04] mikedanese commented on #94123
Can you give some examples of issues that this would help debug?

Can you explain this a bit more? What motivation are you referring to?

[2020-09-02 02:04] huataihuang commented on #92463
I still had same issue with 1.18.6 upgade to 1.19.0

[code]

[code]

[2020-09-02 02:11] mikedanese commented on #92535
IMO, giving users the ability to deploy consistent authentication systems and protocols across their infra is generally a good thing. The evidence this is awaiting is only "if we added support for this in kubectl exec auth, would someone actually use it?" If the answer is yes, feel free to bump the priority and send out a KEP.

[2020-09-02 02:28] smileusd commented on #79194
/reopen
We met this problem very frequently.
[code]
Lots of volumes are nfs in-tree volume, could nfs volume mount need more time for systemd.
Does any solution for this problem?

[2020-09-02 02:41] #94104 closed

[2020-09-02 02:41] #94354 closed

[2020-09-02 02:41] #94375 closed

[2020-09-02 02:54] mikedanese commented on #66844
Drive by: This error occurs when you decrypt data that was encrypted with a different key. Are you accidentally changing the key?

cc @immutableT

[2020-09-02 02:57] mikedanese commented on #85855
Let's raise the priority once this becomes an issue.

[2020-09-02 03:03] mikedanese commented on #91913
cc @micahhausler

[2020-09-02 03:20] hex108 opened #94411 "'kubectl descirbe node' shows preempting pods and their requested resources"
**What would you like to be added**:

`kubectl describe node XXX` shows preempting pods and their requested resources.

**Why is this needed**:

When [scheduler preemption](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#preemption) is enabled(it is enabled by default), there might be some preempting pods on nodes.

Suppose this case: a node's allocatable resource is <10

[2020-09-02 03:29] srinathganesh1 opened #94412 "Replicas | Not distributing resource load equally"
**What happened**: Replicas | Not distributing resource load equally

**What you expected to happen**: Each Replica should have equal cpu/memory load

**How to reproduce it (as minimally and precisely as possible)**: Load Test any Deployment

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVe

[2020-09-02 03:32] hex108 commented on #94411
/sig scheduling

[2020-09-02 03:41] srinathganesh1 commented on #94412
/sig autoscaling
/wg autoscaling
/committee autoscaling

[2020-09-02 03:44] hex108 commented on #83628
/reopen

We have another use case for it.

We add a readiness gate to pod in our new kind app(https://github.com/tkestack/tapp), and it will only be set to false for some specific cases. If we support setting default value for PodReadinessGate, we could save some unnecessary update fot the pod condition(e.g. we do not need to set it to true when pod is created).

[2020-09-02 04:46] gm7y8 commented on #7923
Hello, can I contribute to this?

[2020-09-02 05:21] AkashSarda commented on #92620
Hi Lion, are there any more scenarios left to be automated?

[2020-09-02 06:07] wojtek-t opened #94414 "Events should be sent by kubelets and the scheduler about pods scheduling and running [Conformance] is extremely flaky in kind"
Example failure:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/94397/pull-kubernetes-conformance-kind-ga-only-parallel/1300870704907948032

I took a look and this actually doesn't seem to be purely load related (i.e. not just infrastructure issue). There are also ton of events like this:
[code]

This is what matters:
[code]

If we would reduce the length of that and stop generating h

[2020-09-02 06:08] wojtek-t commented on #94414
@kubernetes/sig-testing

[2020-09-02 06:14] nikhita commented on #93320
update from etcd maintainers - https://github.com/etcd-io/etcd/issues/12124#issuecomment-674368288

[2020-09-02 06:30] yangcheng-icbc opened #94415 "kubelet‘s goroutinues was blocked and a memory leak occurred."
**What happened**:
**What you expected to happen**:
 When cadvisor failed to pull meccis information, the goroutinue of kubelet was blocked and a memory leak occurred.
**How to reproduce it (as minimally and precisely as possible)**:
No specific method has been found
**Anything else we need to [know?**:]
memory leak occurred in
**Environment**:
- Kubernetes version (use `kubectl version`):
kubelet

[2020-09-02 06:38] palsivertsen opened #94416 "AWS NLB (UDP): Support sticky sessions"
**What would you like to be added**:
The AWS Network Load Balancer has support for sticky sessions through an [attribute](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#sticky-sessions) on Target Groups that could easily map to the [sessionAffinity](https://v1-17.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#servicespec-v1-core)

[2020-09-02 06:43] palsivertsen commented on #94416
/sig cloud-provider

[2020-09-02 07:01] mikechengwei commented on #60987
Same issue in kubernetes v1.14.8
[code]

list pod folder data  below:
[code]

[2020-09-02 07:11] huataihuang commented on #92463
I add follow config to `/etc/yum.conf` to exclude conflict kubelet

[code]

then use `dnf upgrade` to upgrade kubelet 1.19.0 without problem.

I hope it can help you.

[2020-09-02 07:11] goyalmayankk opened #94417 "cronjob.spec.jobTemplate.spec.completions not working in kubernetes"
**What happened**:
cronjob.spec.jobTemplate.spec.completions not working in kubernetes. I think using **completions** option the job should run **x** times only then it should be stopped but the job is continuously running (Please see the logs.txt attached below) so I want to know why it is so? CronJob option is accepting completions options then it should work :/
**What you expected to happen**:

[2020-09-02 07:12] BenTheElder commented on #94414
https://github.com/kubernetes/test-infra/issues/19080 ?

[2020-09-02 07:14] BenTheElder commented on #94414
This was in fact an infrastructure misconfiguration (see the issue linked above).
/close

[2020-09-02 07:14] #94414 closed

[2020-09-02 07:23] wojtek-t commented on #94414
OK - https://github.com/kubernetes/test-infra/issues/19080#issuecomment-685141853 in particular - the DNS setting.

[2020-09-02 07:29] wojtek-t commented on #94315
This will be addressed by https://github.com/kubernetes/kubernetes/pull/94316 (and the cherrypicking it back).

[2020-09-02 07:45] pacoxu commented on #94378
I can reproduce this issue with commands below

[code]
![image](https://user-images.githubusercontent.com/2010320/91951081-251d1780-ed33-11ea-8fa9-6869c0416794.png)

The correct csi nodeid would be like this
[code]

[2020-09-02 07:54] chendave commented on #93505
Thanks for the summarization,

This is not always true for this preemption case, backoffQ is designed that pod have been tried too recently, can we say the preemptor pod has been tried too recently in the scheduling cycle when the preemption firstly happen?  if yes, the preemptor might be added to unschedulableQ instead of backoffQ, https://github.com/kubernetes/kubernetes/pull/94413 has well demo

[2020-09-02 08:12] hex108 opened #94418 "Scheduler should consider extenders' filter when searching preemption candidates"
**What happened**:

Scheduler sets a nominated node for a pod when preempting, but that node is inappropriate because it does not satisfy one extedner's filter. The cause is that scheduler does not call extenders' filter at function [FindCandidates](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L150) when preempting,

*

[2020-09-02 08:22] khatrig commented on #94366
/remove-sig windows

[2020-09-02 08:23] hex108 commented on #94418
When I try to fix this problem, I find another potential problem:

In [findNodesThatPassFilters](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L293), it uses [numNodesToFind](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L299) to limit the number of the nodes that pass filters. But after `findNodesThatPas

[2020-09-02 08:48] better0332 commented on #92266
same to me

[2020-09-02 09:00] fasaxc opened #94419 "Add standardised way for infra components to reach API server"
**What would you like to be added**:

Some way for "infrastructure" pods (such as networking providers) to get the underlying connection details for the API server (as used by kubelet and kube-proxy to talk directly to the API server for bootstrapping).

**Why is this needed**:

For components such as networking providers (e.g. Calico, which I work on) it's useful to be able to reach the API serve

[2020-09-02 09:03] fasaxc commented on #94419
/sig apps

[2020-09-02 09:11] k-wiatrzyk commented on #94220
I was investigating the following solutions:

CPU Inheritance:
1) Hints that can't allow inheritance of all InitContainer's CPUs are stored as alternative hints - not discarded as it is done now.
2) If affinity (number of NUMA nodes) of alternative hints is lesser than smallest in normal hints, then include alternative hints.
So this is only adding addition logic into `generateCPUTopologyHints`

R

[2020-09-02 09:30] goodspark opened #94420 "Duplicate external metrics specs added to HorizontalPodAutoscaler when diffing with no change"
**What happened**:

When I ran a diff for a HorizontalPodAutoscaler with external metrics with no change, the diff result showed the same metric being added again to the metrics list. Note that when I apply, the metrics is not added twice as the diff suggests.

**What you expected to happen**:

The diff to show no changes.

**How to reproduce it (as minimally and precisely as possible)**:

`hpa.ym

[2020-09-02 09:32] goodspark commented on #94420
/sig autoscaling

[2020-09-02 10:09] jkaniuk commented on #94368
/remove-kind flake
/kind failing-test

[2020-09-02 10:09] desaintmartin commented on #90634
/remove-lifecycle rotten

[2020-09-02 10:14] bart0sh commented on #90851
@tedyu Can you submit your PR for release-1.18 branch?

[2020-09-02 10:59] paulwfield commented on #50375
+1

[2020-09-02 11:00] #86865 closed

[2020-09-02 11:32] thanos1983 commented on #94393
Hello @neolit123 ,

Unfortunately I can not test with weave net. I pulled the latest image and seems to be a bit problematic.

I have raised a ticket also :( see ticket [#3857](https://github.com/weaveworks/weave/issues/3857).

Regarding the case of applying on configuration on top of another is this suppose to be the correct approach on this problem?

I also noticed something else that I am not s

[2020-09-02 11:51] kvp-cs commented on #40908
Hi - Is there any chance of this featuring making into a K8 release?

In a multi-container Pod, it is desirable to kill the complete Pod instance and restart a fresh instance when some thing goes absolutely wrong one or more of its containers. A complete Pod restart would definitely be a cleaner way to begin things over!

In such pods,
1. Its not always possible to create a mesh of health checks a

[2020-09-02 12:39] neolit123 commented on #94393
hello,

you should delete old configurations in the directory:

if you only ever installed CNI X you could leave the CNI X configuration there, but we've seen conflicts between multiple CNIs there.

try to keep them the same, but their versions can drift a little:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#version-skew-policy
https://kubernetes.io

[2020-09-02 12:39] #94393 closed

[2020-09-02 13:03] #94088 closed

[2020-09-02 13:05] zhangguanzhang commented on #76146
/remove-lifecycle stale

[2020-09-02 13:18] ingvagabund commented on #94192
Any specific bits you have in mind?

cc @alculquicondor

[2020-09-02 13:32] jpetazzo commented on #92678
Is there actually a way to specify a "requested duration"? As far as I know, a CSR doesn't have a field for that. (I couldn't find it in [the overview of the spec](https://en.wikipedia.org/wiki/Certificate_signing_request#Structure) but perhaps it's using some non-standard extension field?) I also couldn't find a duration or TTL in the CertificateSigningRequest spec (on the k8s side). The Kubernet

[2020-09-02 13:53] ZeroMagic commented on #94269
The PR kubernetes-sigs/azuredisk-csi-driver#515 should fix the error. Let's observe this test case for a period of time. When it is stable, could close the issue.

[2020-09-02 13:56] alculquicondor commented on #93505
That happens when an event hasn't been received yet. The event (such as the preempted pod being deleted) would move the preemptor back into backoff or active. That's WAI.

If we **always** do this, if the preempted pod takes too long to terminate, we will be wasting scheduling cycles in the preemptor.

`moveRequestCycle` only means that an event happened. If this value is updated during a scheduli

[2020-09-02 14:02] alculquicondor commented on #94192
How do you suggest to expose the information? metrics? logs?

[2020-09-02 14:19] smarterclayton opened #94428 "client-go prints a klog warning by default in library code which is not allowed"
**What happened**:

A code change was merged that used `klog.Warningf` in library code by default (`NewDefaultClientLoadingRules` changed in a way that impacted all code in the world which uses that default, which is pretty common), which is not allowed by convention in Kube because client libraries may be used in UIs that wish to control output (klog is not consistent with other output).  The cod

[2020-09-02 14:24] smarterclayton commented on #94428
/sig cli

[2020-09-02 14:28] joni7777 commented on #69774
Same issue for me, completed node.js job and still have a running status

[2020-09-02 14:30] qq282485068 opened #94429 "elasticsearch_logging_discovery.go:142] Found []"
**What happened:**
I download fluentd-elasticsearch in addons.  The following error occurs  then I use "kubectl apply -f es-statefulset.yaml  "
Then, i find the elasticsearch-logging pod restart lots of time, and keep status with CrashLoopBackOff.

[root@istackvip ~]# kubectl logs -f elasticsearch-logging-0 -n kube-system
+ export NODE_NAME=elasticsearch-logging-0
+ NODE_NAME=elasticsearch-logging

[2020-09-02 14:43] andyzhangx commented on #94213
this is not related to csi-proxy, in-tree azure file does not use csi-proxy, and it does not work

[2020-09-02 14:59] thanos1983 commented on #94393
Yes you are absolutely right. I was launching the node with the flag --kubernetes-version=v1.12.0 so it was forcing the difference between client and server

No worries I will try to figure it out. But I would suggest for other tickets to propose to users alternative points of error logs to assist with troubleshooting. :)

[2020-09-02 15:03] mikedanese commented on #92678
Yes, this is the feature request. Desired TTL would likely be specified in field in CertificateSigningRequestSpec, not in the pkcs#10 CR body.

You can specify a TTL in an annotation today, and maybe some signer would respect it. None if the signers in core k/k do though yet.

[2020-09-02 15:17] ingvagabund commented on #94192
logs

[2020-09-02 15:36] alculquicondor commented on #94192
What would be the benefit compared to using log levels? Since changes require restarts, changing a single number is less error prone.
One more thing, `kill -SIGUSR2 <kube-scheduler-pid>` can be used to dump the scheduler cache at the moment of execution. Which is not ideal, as it wouldn't log every time. But again, log levels.

[2020-09-02 15:39] #94368 closed

[2020-09-02 15:45] rdxmb opened #94434 "remove potential coredns mem overcommitment"
**What would you like to be added**:

Set the resource limits of coredns to the same size as the requests.

**Why is this needed**:

When initializing the kubernetes-cluster with kubeadm, the resource-request and -limit for coredns differs. That can cause to mem overcommitment and oom-killed pods in the cluster.

In my case:

syslog:
[code]

[code]

[2020-09-02 15:47] rdxmb commented on #94434
/sig cluster-lifecycle

[2020-09-02 15:54] wingman-chakra opened #94435 "terminationGracePeriodSeconds greater than 10 minutes not working as expected"
**What happened**:
Pod with termination grace period of 3 hours is getting killed 10 minutes after SIGTERM

**What you expected to happen**:
I was expecting the pod to get full 3 hours before SIGKILL is sent

**How to reproduce it (as minimally and precisely as possible)**:
Long running process with termination grace period greater than 20 minutes and delete pod it will get deleted in 10 minutes

[2020-09-02 15:56] wingman-chakra commented on #94435
/sig cluster-lifecycle

[2020-09-02 15:57] MikeSpreitzer commented on #94123
I am a little surprised at the question.  This would enable debugging of client/server interactions on the secured port without intrusion into the client or server.  The apiservers are deliberately reticent about logging some stuff.  Getting clients to log stuff is also sometimes an issue.  It helps to have a generic network-level way of looking at what's going on.

One thing I really like about t

[2020-09-02 16:03] #93905 closed

[2020-09-02 16:06] tedyu commented on #90851
I tried to run cherry pick script.
However hub was blocked by MacOS.

[2020-09-02 16:06] srteam2020 opened #94437 "Missing a single update message will cause the scheduler never able to schedule pods to the right nodes"
**What happened**:
If the scheduler misses a single update message "node delete", then it won't be able to know the node is deleted and still tries to schedule some pods to the deleted node, which will make those pods never able to be scheduled to the right nodes. kubernetes/kubernetes#56261 should be related but somehow the issue still happens.

In a k8s cluster with one apiserver, one scheduler

[2020-09-02 16:10] srteam2020 commented on #94437
/sig scheduling

[2020-09-02 16:40] ingvagabund commented on #94192
Plugin related information starts with log level 10 which is unusable given the amount of logs that are generated by other components.

Not possible in CI environment where tests are flaking randomly. Again, for the moment it's mainly to debug `[sig-scheduling] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]`. Though, in general, the goal is to

[2020-09-02 17:06] vadasambar commented on #74950
If anyone is wondering why this isn't working as intended when the [api reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#statefulsetspec-v1-apps) does not mention anything about headless service, the [docs](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#limitations) talk about this under *Limitations*.

[2020-09-02 17:11] alculquicondor commented on #94192
We could always revisit the log levels that we have and take advantage of structure logging to provide proper filtering.

[2020-09-02 17:27] CharlyRipp commented on #89898
Dealing with the same issue on a GKE cluster, except with a twist. Not to add to the fire but maybe help other's have the same issue.

[code]

I have a spring-boot app with actuator - running actuator on a separate port-
[code]

In this setup, using named container ports, it events:
[code]

The following works:
[code]

When removing the use of named containerPorts for readiness/liveness it passed

[2020-09-02 17:37] #93376 closed

[2020-09-02 17:46] joakimr-axis commented on #72956
log-dump.sh is now merged. Remaining:

./cluster/gce/gci/configure.sh #90442
./cluster/gce/gci/master-helper.sh #88582 (**needs rebase**, owner **@gavinfish**, now stale due to inactivity)
./cluster/gce/util.sh #90405

[2020-09-02 17:52] joakimr-axis commented on #72956
The PR for cluster/gce/util.sh #90405 is very large (since there are many things that need to be fixed in it).
When the (big) size of it was mentioned, I suggested it might perhaps be split into a couple of sub-PR:s, but there has been no input regarding that yet. What do you guys think about that?

[2020-09-02 18:39] kfox1111 opened #94445 "rounding issues with resources"
**What happened**:
User loaded in a deployment with a container with resources.requests.memory=1.2Gi

The usage showed up as:
1288490188800m
which is pretty hard to read. The user used 1.2Gi to make it easy to read.

**What you expected to happen**:
Gi should translate to Mi and round to the nearest Mi

**Environment**:
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.9", GitC

[2020-09-02 18:39] lavalamp commented on #7923
All, this is (likely) a large change and can be done piece-meal. There's no need to ask for permission :)

Also, if adding stop channels, I think it's best now to use a context instead of a raw `<-chan struct{}`.

[2020-09-02 18:52] ingvagabund commented on #94192
Which filtering do you have in mind? Is there a special flag to klog v2 saying "log also all the structure log with this label"?

[2020-09-02 18:54] mikedanese commented on #66844
Note from sig-auth: The most probable explanation is that the key changed. A far less likely explanation is that the ciphertext had a bit flip or something. The followup here is to improve the error message.

[2020-09-02 19:15] alculquicondor commented on #94192
Not exactly. You would just increase the log level to (say) 3 or 4 and filter out what you don't need with the logging infrastructure that you might have.. or just grep.

[2020-09-02 19:29] alculquicondor commented on #94192
Not saying it is ideal, but rather saying that it might be simpler and easier to use/document.

[2020-09-02 19:39] liggitt commented on #90533
it's possible https://github.com/golang/go/issues/32406 might allow for request-level context to enable this (trying to follow the proposed implementation in https://go-review.googlesource.com/c/go/+/181097 to understand what capabilities it could give us)

[2020-09-02 19:52] liggitt commented on #94255
creating an RBAC role requires the creator to already have all the permissions contained in the role, or be granted explicit permission to create roles for permissions it does not have

See https://kubernetes.io/docs/reference/access-authn-authz/rbac/#privilege-escalation-prevention-and-bootstrapping for the permissions you would need to grant the actor you want to create roles and rolebindings

[2020-09-02 19:52] #94255 closed

[2020-09-02 20:24] ahg-g commented on #90679
I think we can close this, right Mike?

[2020-09-02 20:57] jcstanaway commented on #57509
The doc at https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/ does not specify that the label values must be strings.

[2020-09-02 21:15] 2rs2ts commented on #85397
/reopen

[2020-09-02 21:17] damemi commented on #90679
@ahg-g Yeah, this was thoroughly discussed. Thanks for clearing it up, everyone!

[2020-09-02 21:17] #90679 closed

[2020-09-02 21:23] KarthikRangaraju commented on #87615
@povsister

Thanks for sharing your solution. Could you add more details on how you made it work?

What code changes did you put in place? And where, in which file?

[2020-09-02 21:51] andrewsykim commented on #85397
The proxy rules for `nodeIP;nodePort` also checks whether the source came from a local one or not. In your case podIPs are also considered local so it will load balancer to all pods behind that Service.

[2020-09-02 22:19] 2rs2ts commented on #85397
@andrewsykim yup that makes sense and it's undesired. We want containers to be able to send statsd metrics to the datadog-agent pod running on the host to make sure that the host tags are accurate. It's exactly the use case described here: https://github.com/kubernetes/kubernetes/issues/85397#issuecomment-554982703

The difference between sending traffic to the ClusterIP and NodePort should be res

[2020-09-02 22:56] neolit123 commented on #94434
hi, what is your kubeadm version?

for reference in 1.,19 (and older versions too):
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go#L249-L254

[code]

different limits / requests are common and cannot cause over commitment itself.
depending on the use case you can also patch the Deployment.

do you have an explanation for the memory consumption h

[2020-09-02 23:02] fejta-bot opened #94450 "pr:pull-kubernetes-e2e-gce-100-performance flaked 9 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **9**
 Consistency: **96.80%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 6 |

#### Previously closed issues for this job flaking:
#62592 #86562 #83529 #67295 #73884 #83870 #81890 #93820 #87468

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

/ki

[2020-09-02 23:03] BenTheElder commented on #72956
+1, let's try breaking it up a little. Sorry for the lack of input (["queue" gets long sometimes]https://gubernator.k8s.io/pr/bentheelder)) and thank you for working on this!

[2020-09-02 23:09] liggitt commented on #94445
Rounding user-specified values is not what I would expect. That seems like data loss.

[2020-09-02 23:27] neolit123 commented on #94450
https://storage.googleapis.com/k8s-metrics/flakes-latest.json

[code]

/sig scalability
please close if tracked elsewhere.

[2020-09-02 23:30] neolit123 commented on #94435
/remove-sig cluster-lifecycle
/sig scheduling

[2020-09-02 23:32] neolit123 commented on #94429
unclear whether the addon is up to date and supported at this point.
/sig instrumentation

[2020-09-02 23:36] neolit123 commented on #94415
hi, all versions < 1.17 are not supported.
please confirm if this happens with newer versions.

/sig node
/close

[2020-09-02 23:36] #94415 closed

[2020-09-03 00:05] #93904 closed

[2020-09-03 00:27] rafi-greenberg commented on #44273
+1 on  1.14.10-gke.42

[2020-09-03 00:50] ahg-g commented on #94435
/remove-sig scheduling
/sig node

[2020-09-03 00:50] ahg-g commented on #94435
/sig node

[2020-09-03 01:30] Lion-Wei commented on #94356
/assign

[2020-09-03 01:35] ggjjlldd opened #94452 "enable Service Account failed"
**What happened**:
I want to enable service account, and use guide web above, but API server start failed.
web link: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection
[code]
This is my config:
[code]
I modify this file: /etc/kubernetes/manifests/kube-apiserver.yaml.

**How to reproduce it (as minimally and precisely as possi

[2020-09-03 01:41] ggjjlldd commented on #94452
/sig auth

[2020-09-03 01:47] soulxu commented on #94437
I guess the reason is we disable the resync

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-scheduler/app/options/options.go#L290

[2020-09-03 02:07] povsister commented on #87615
@KarthikRangaraju
Refer [this PR](https://github.com/golang/net/pull/74/files) to enable healthCheck when initializing h2Transport,
or you can do some reflection/unsafe offset hack to access unexported field at runtime.

And, don't forget to update golang/x/net before doing such stuff.

[2020-09-03 03:22] NickrenREN commented on #74374
@ymmt2005 Your PR can partially solve the problem, actually, if we delete PVC first and then Pod, PV, i think it is ok.
But if the deletion order is : Pod -> PVC -> PV,  that PR is not enough.
For example:
1. Pod is deleted;
2. Statefulset controller recreate the Pod and PVC now is not deleted, so controller will just create the new Pod;
3. New Pod is not scheduled, and PVC is deleted now;
4. PVC

[2020-09-03 03:34] kk-src commented on #88683
/assign

[2020-09-03 04:01] GuyPaddock commented on #85499
/remove-lifecycle rotten

[2020-09-03 04:49] nrvmodi commented on #75402
I have the same issue.
Any solution?

[2020-09-03 05:30] ggjjlldd commented on #94452
I slove this problem by add flag like this:
[code]
web link:https://stackoverflow.com/questions/55437231/k8s-how-to-project-service-account-token-into-pod
but I do not know why?

[2020-09-03 05:32] mayankshah1607 commented on #93347
Hi, @hasheddan !
This one looks interesting to me. Mind if I take it up if no one has already? Thanks :)

[2020-09-03 06:02] WywTed opened #94453 "how to enable sidecar container feature."
from the post 'https://banzaicloud.com/blog/k8s-sidecars/'  we know that k8s supprot sidecar container for adding 'lifecycle.type=Sidecar'
but it is behind a feature gate, how to open or enable it?
Below is waht i find from 'kube-apiserver -h'
[code]

[2020-09-03 06:11] WywTed commented on #94453
/sig apps

[2020-09-03 06:11] WywTed commented on #94453
/sig sidecar-container

[2020-09-03 06:14] WywTed commented on #94453
/kind feature

[2020-09-03 06:28] zackzhangkai opened #94454 "when use kubemark , the hollow-nodes are ready , but the pods on the hollow nodes are always init"
when I deploy kubemark, the hollow-nodes is already ready, but the flannel node pod is always init
[code]

[code]

cenos7.7  3.10.0-1062.el7.x86_64
kubernetes: v1.17.9
flannel

[2020-09-03 06:42] joakimr-axis commented on #72956
Very good, I'll give it a shot and see if I can group it into some good way.

:-D

[2020-09-03 06:52] pacoxu commented on #94400
According to https://kubernetes.io/docs/concepts/storage/volumes/#mount-propagation

Another choice for you is running csi driver on the host directly.

[2020-09-03 07:05] SergeyKanzhelev commented on #94453
The feature in currently in discussions. Perhaps it was implemented by specific company:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/0753-sidecarcontainers.md#user-content-motivation:~:text=it%20is%20important%20to%20highlight%20that,Kubernetes%20with%20this%20sidecar%20functionality%20added

[2020-09-03 07:05] SergeyKanzhelev commented on #94453
CC: @rata

[2020-09-03 07:06] SergeyKanzhelev commented on #94453
/sig node

[2020-09-03 07:20] chendave commented on #81920
/reopen

[2020-09-03 07:37] pacoxu commented on #94435
Can you provide the whole pod yaml?

My pod with terminationGracePeriodSeconds: 1800(30mins) is still terminating after 24 minutes.
![image](https://user-images.githubusercontent.com/2010320/92084979-c28f4e80-edfa-11ea-9f3c-6e74fbb6b905.png)

And please check whether your pod is evicted or deleted by other process. And can you test a pod (command: sleep 3600 with terminationGracePeriodSeconds: 180

[2020-09-03 07:58] hex108 commented on #94418
Update: `To address both the problems, I plan to move extender.Filter() logic to PodPassesFiltersOnNode.`  It is a bad idea, because it is innefficient and it does not work well because it does not know which pods are victims.

[2020-09-03 08:09] #94418 closed

[2020-09-03 08:20] adnan-kamili commented on #57250
I use following script to enable proxy protocol on target groups after installing ingress-inginx:

[code]

[2020-09-03 08:20] loburm commented on #91765
It was fixed by #93333

[2020-09-03 08:20] #91765 closed

[2020-09-03 08:30] fatedier commented on #92223
@kow3ns Hi，can you give more advice on this issue?

[2020-09-03 08:54] rdxmb commented on #94434
[code]

same at my nodes.

Oh, this is the summary, not coredns itself. Sorry.
`memory 16518324992 (98%) 16623182592 (99%)`

Coredns has
`kube-system                           coredns-66bff467f8-pzqxq                   100m (0%)     0 (0%)      70Mi (0%)        170Mi (0%)       68d`

When a node went into drain mode, pods were scheduled to other nodes and the memory consumtion limit can hit **over

[2020-09-03 09:40] Gui13 commented on #94359
We DO have CSI installed but we are not using it in the volumes impacted. ( we don't use CSI at all as a matter of fact, this was installed just as a test).

We will uninstall the CSI driver to check whether this solves the issue (in which case the CSI driver will definitely be in cause, but this would mean that the driver impacts non-related volumes?)

[2020-09-03 10:24] fredgate commented on #94359
We have uninstalled the CSI driver and we still lose 118 MB of disk each time a job is executed (ie each minute).

[2020-09-03 10:26] Gui13 commented on #94359
(@fredgate is a collegue of mine)

[2020-09-03 10:33] CyberPoison opened #94464 "Issue when trying to set a evictionHard and trying to run the config.yaml to set the config."
I read carefully the Kubernets Documentation [here][1] about extending the default 15% of `imagefs.available` and the others parameters but it doesn't say how to set it, i have installed the RKE (Rancher Kubernets Engine) with the following configs.

[code]

Btw the documentation doesn't clearly explain how to extend the default eviction so i come here to know if someone can tell me how to extend

[2020-09-03 10:35] silenceper commented on #88896
same issue

[2020-09-03 10:38] neolit123 commented on #94434
You could patch the coredns spec. Note that you have to do this after each
kubeadm upgrade because it is not preserved.

There are a lot prod clusters out there that use these values and don't
have the problem, or at least i have not seen reports about it.

[2020-09-03 10:47] rdxmb commented on #94434
ok ,thanks

You mean the coredns values? Yes, I think without overcommitment and more RAM on the nodes than the summary of RAM-limits within the pods there is no problem ;)

[2020-09-03 10:47] #94434 closed

[2020-09-03 11:50] Lion-Wei commented on #93297
/assign
@smartxff Sorry, but I do not understand what are you trying to say. : (

[2020-09-03 11:57] soltysh commented on #82905
It's still a thing sig-cli is working on.
/lifecycle frozen

[2020-09-03 11:59] joakimr-axis commented on #72956
#90405's sub-PR #94458 has now been approved.

[2020-09-03 11:59] GauravAsthana1 opened #94467 "Kube-schedular restarted many times"
Kube-scheular is getting restarted contineously with following error. Can someone help please.

kube-scheduler-sk8XXX01 1/1 Running 2 86d
kube-scheduler-sk8sXXX02 1/1 Running 241 2d12h
kube-scheduler-sk8sXXX03 1/1 Running 236 457d

LOG:-

I0825 17:18:57.662001 1 serving.go:318] Generated self-signed cert in-memory
W0825 17:18:58.548197 1 authentication.go:373] failed to read in-cluster kubeconfig

[2020-09-03 13:10] JakubJecminek opened #94469 "Secrets are accessible even when RBAC for secrets is not allowed"
**What happened**:
I am trying to setup read-only service account for kubernetes-dashboard that would allow read access to all resources except secrets.
I used the following configuration:
[code]
**Notice that secrets are not listed in resources section.**
With such role when trying to access secrets through kubectl I correctly receive the error:
`Error from server (Forbidden): secrets is forbidde

[2020-09-03 13:16] #93949 closed

[2020-09-03 13:18] jkaniuk commented on #94450
Looks like last failures are mostly during cluster create:

fail during up:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/93947/pull-kubernetes-e2e-gce-100-performance/1300884670325460992/
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/93548/pull-kubernetes-e2e-gce-100-performance/1300941364032180224/
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/b

[2020-09-03 13:19] jkaniuk commented on #94450
[code]

I will check project permissions

[2020-09-03 13:24] knight42 commented on #94469
I think you'd better check if this is the only ClusterRole/Role that bind to your service account.

[2020-09-03 13:31] jkaniuk opened #94473 "[Failing Test] ci-benchmark-kube-dns-master"
**Which jobs are failing**:
ci-benchmark-kube-dns-master
**Which test(s) are failing**:
KubeDnsBenchmark
**Since when has it been failing**:
over 2 weeks
**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-benchmarks#kube-dns
**Reason for failure**:
[code]
**Anything else we need to know**:
/sig network
/sig scalability
/assign

[2020-09-03 13:34] frittentheke commented on #54498
/remove-lifecycle stale

[2020-09-03 13:44] khatrig commented on #87934
Any pointers on how you resolved the issue.

[2020-09-03 13:52] GertjanBijl commented on #83471
Had the same issue today on OpenShift 4.3.33, which is Kubernetes Version: v1.16.2+295f6e6. Coincidentally (or not) I also had this while pulling Spinnaker.
Deleting a single pod helps, because that pod came up running after a short while. After deleting all pods one by one, they all pull correctly and started running. I monitored network traffic on my Squid-proxy, and I saw no traffic at all whil

[2020-09-03 14:25] mogaika commented on #87198
Calico overwriting `net.ipv4.ip_forward`
Check: https://github.com/projectcalico/cni-plugin/blob/b9f0ee57c2cffe429eb84c82e922c2fcd0dd9eb8/pkg/dataplane/linux/dataplane_linux.go#L414
As I understand you can add `"allow_ip_forwarding": true` to cni config

[2020-09-03 14:26] #88422 closed

[2020-09-03 15:01] Ask-Subhasmita commented on #93100
/assign

[2020-09-03 15:07] liggitt commented on #93902
fyi, we're targeting getting https://github.com/kubernetes/kubernetes/pull/93605 merged by the end of this week, which I expect will start surfacing this flake more consistently

[2020-09-03 15:18] sftim commented on #70147
CustomResourceDefinitions are mature enough to allow an experimental implementation of ClusterSecret and possibly ClusterSecretBinding, plus a controller to implement the behavior being tried out.

https://github.com/zakkg3/ClusterSecret looks like it aims to do exactly that.

[2020-09-03 15:45] grosser opened #94477 "Allow blocking unchunked requests to list pods"
We have lots of pods and requests to get all pods use lots of memory on the api-server ~150m atm.
It would be nice if we could block any client from doing a request without chunking (limit to 1k items per response) to improve api server availability.

/sig api-machinery

[2020-09-03 15:48] neolit123 commented on #94464
please share the contents of the file you are passing to the kubelet via  `--config`:
/sig node

[2020-09-03 15:49] neolit123 commented on #94467
hi, 1.13 is no longer supported.
please try 1.17+ (if you can) to confirm if the problem still happens.

if so, reopen this ticket.

/close
/sig scheduling

[2020-09-03 15:50] #94467 closed

[2020-09-03 15:52] neolit123 commented on #94469
please try the above suggestion.

1.14 is no longer supported.
please try the same with 1.17+ if you can, and if this is a confirmed bug use `/kind bug` to mark it, and also reopen the ticket.

thanks
/remove-kind bug
/triage support
/sig auth

[2020-09-03 16:25] rata commented on #94453
@SergeyKanzhelev thanks!

@WywTed sidecar containers as described in that blog post were never included in a Kubernetes release (nor it is on master yet). That is why you don't see the feature gate :)

It was planned to ship on 1.19, but it didn't. As @SergeyKanzhelev pointed out is currently under discussion, we are working to move forward with it but is not scheduled into a particular Kubernetes

[2020-09-03 16:30] rata commented on #94453
Closing as there is no way to enable sidecars, they are not merged :)

/close

[2020-09-03 16:30] #94453 closed

[2020-09-03 16:39] savitharaghunathan commented on #86843
/remove-lifecycle stale

[2020-09-03 16:57] lalithvaka commented on #94284
@rikatz I have added and freed up the space on our Dev cluster VMs. Problem still persists. We are doing prod deployment this week and still ran into the same issue and its happening on all nodes. Our RHEL 7.7 with Iptables legacy in combination of kube proxy might be causing this issue. Appreciate any hacks or solutions to get this taken care  of. Thanks.

[2020-09-03 17:02] neolit123 commented on #92137
/sig node

[2020-09-03 17:16] djzager commented on #94301
/assign

[2020-09-03 17:31] wingman-chakra commented on #94435
here is the yaml file for the production service that is facing this issue:
`apiVersion: v1
kind: Service
metadata:
  name: jarvis
  labels:
    name: jarvis
spec:
  type: ClusterIP
  sessionAffinity: None
  ports:
  - name: grpc
    protocol: TCP
    port: 50051
    targetPort: 50051
  - name: http
    port: 6653
  selector:
    app: jarvis
---
apiVersion: apps/v1
kind: Deployment
metadata:
  nam

[2020-09-03 17:35] neolit123 commented on #83977
look like planned for GA for 1.20 for https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190916-noderestriction-pods.md#graduation-criteria

surprisingly this did not happen. a number of addons still have this :thinking: :
https://github.com/kubernetes/kubernetes/search?q=%22k8s-app%22&unscoped_q=%22k8s-app%22

/remove-sig cluster-lifecycle
/sig cloud-provider
/area provider/gc

[2020-09-03 17:38] neolit123 commented on #82905
we are planning to remove the kustomize imports from kubeadm in 1.20. there is an alternative (alpha) similar to the patch types that `kubectl patch` supports.
/remove-sig cluster-lifecycle

[2020-09-03 17:40] neolit123 commented on #78995
/sig cloud-provider
/area provider/gcp

[2020-09-03 17:41] neolit123 commented on #78534
/remove-priority important-soon

[2020-09-03 17:42] neolit123 commented on #75601
/remove-sig cluster-lifecycle

[2020-09-03 17:45] kfox1111 commented on #94445
Yeah. but I'd think the user having specified 1.2Gi (a value that is not super specific) would be quite confused when it spits out his usage against quota was 1288490188800m (I sure was). If they are specifying it as inprecicely as 1.2Gi, then it being something like 1229Mi is much more readable/understandable then 1288490188800m. If they want that much precision, they could have asked for it expl

[2020-09-03 17:53] SergeyKanzhelev commented on #63126
/reopen

It looks like this is now being worked on: https://github.com/kubernetes/enhancements/pull/1968

[2020-09-03 17:58] neolit123 commented on #76714
sending a PR for kubeadm to relax the client side validation (warnings instead of errors)
PRs for the client-go side are welcome, unless already fixed.

/remove-lifecycle frozen

[2020-09-03 18:06] pacoxu commented on #94435
Does the pod killed by HPA with a grace period of 10minutes ?
@wingman-chakra

I will test with hpa later.

[2020-09-03 18:12] neolit123 commented on #56787
i must admit i don't understand the issue description. the related tests have been red for quite some time:
https://k8s-testgrid.appspot.com/google-gce-upgrade#gce-1.12-1.13-upgrade-cluster

/remove-sig cluster-lifecycle
/retitle GCE: make upgrade testing consistent
^ no longer involved in the GCE upgrade testing.

[2020-09-03 18:12] neolit123 commented on #56787
/area provider/gcp
/sig cloud-provider

[2020-09-03 18:13] liggitt commented on #56787
the tests went solid red after https://github.com/kubernetes/release/pull/868#issuecomment-673727541

[2020-09-03 18:13] #93970 closed

[2020-09-03 18:19] neolit123 commented on #54482
/sig cloud-provider

[2020-09-03 18:21] neolit123 commented on #52617
/remove-sig cluster-lifecycle

[2020-09-03 18:22] neolit123 commented on #51292
/remove-sig cluster-lifecycle
/sig cloud-provider
/area provider/gcp

[2020-09-03 18:31] neolit123 commented on #49313
i have not seen discussion around this in sig-testing.
tests could have version tags, which would allow skew when running e.g. newer suite against older cluster.

/remove-sig cluster-lifecycle
seems like a topic for sig-testing.

[2020-09-03 18:34] neolit123 commented on #48180
doing issue triage...

/remove-sig cluster-lifecycle
/sig node

this seems like a feature that would touch the kubelet, at minimum.
once / if the feature lands, cluster creation tools owned by cluster-lifecycle  like kubeadm can consider adding it too.

[2020-09-03 18:36] neolit123 commented on #46148
as mentioned, 6443 can be used.
this is the default port that kubeadm uses and this is documented in a number of locations @ k8s.io.

/close

[2020-09-03 18:36] #46148 closed

[2020-09-03 18:38] neolit123 commented on #44248
/remove-sig cluster-lifecycle
/sig architecture
(for a wider owner of the problem, stakeholders == a lot of sigs)

[2020-09-03 18:41] neolit123 commented on #30329
/remove-sig cluster-lifecycle

[2020-09-03 18:48] neolit123 commented on #19831
(2020 refresh) cluster-lifecycle tools like kubeadm and CAPI do use config maps for storage of component config.
if other components need related extensions, we can assign the individual component-owning SIGSs.

/remove-sig cluster-lifecycle

[2020-09-03 18:54] neolit123 commented on #4630
seems like a FR for api-machinery, that can eventually land in kubectl (sig-cli).
sig-cluster-lifecycle tools can adapt it via client-go if they need to.

/sig cli api-machinery

[2020-09-03 18:56] alanjcastonguay commented on #70147
I wonder whether this is a natural evolution forward for appscode/kured too.

[2020-09-03 18:56] neolit123 commented on #7961
/remove-sig cluster-lifecycle
none of the listed components are owned by the sig, yet we do aknowledge the issue at kubeadm level:
https://github.com/kubernetes/kubeadm/issues/1367

[2020-09-03 18:59] neolit123 commented on #16040
no longer owned by SIG CL
/remove-sig cluster-lifecycle

seems like a topic for sig-cli / sig-api-machinery.

there are some skew tests for that today:
https://k8s-testgrid.appspot.com/sig-cli-master

[2020-09-03 19:00] pmarreck commented on #53533
To add to @metatick 's story:

I currently use Gigalixir as my host, running on top of Kubernetes. It's a web app. Sometimes, clients upload a batch of photos, so my app spins up a bunch of (ugh) ImageMagick processes to resize them. Memory usage spikes, the OOM killer is triggered, and my app goes down (briefly) and the upload is ruined.

Please fix. :)

[2020-09-03 19:00] neolit123 commented on #18174
/remove-sig cluster-lifecycle
/sig node network

[2020-09-03 19:01] mkostersitz commented on #62046
DSR mode back port to Server 2019 was completed and shipped in this year's 8C release of Windows Server 2019. It should be available in AKS by the mid of September. There is some work to be done to start the kubelet with the required flags to enable DSR mode. AKS will also have to have K8s 1.19 at least in preview at that point to enable it end 2 end.

[2020-09-03 19:07] neolit123 commented on #12245
this topic has multiple stakeholding sigs, instead of cluster-lifecycle as the owner.
tagging sig-arch as the umbrella.

/sig architecture
/remove-sig cluster-lifecycle

the design idea is already in place and the component owners are graduating their config to v1.

- kube-schduler - v1
- kube-controller-manager - v1alpha1
- kube-apiserver - none yet
- kube-proxy - v1alpha1
- kubeadm - v1beta2
- k

[2020-09-03 19:08] neolit123 commented on #18396
/remove-sig cluster-lifecycle
/sig cloud-provider
/area provider/gcp

[2020-09-03 19:09] neolit123 commented on #28138
/remove-sig cluster-lifecycle

[2020-09-03 19:10] Bessonov commented on #52218
/remove-lifecycle stale

[2020-09-03 19:12] neolit123 commented on #44997
/sig network
/remove sig-cluster-lifecycle

[2020-09-03 19:18] neolit123 commented on #27607
component status was deprecated in 1.19 and will be removed in a future release.
https://github.com/kubernetes/kubernetes/pull/93570

/close

[2020-09-03 19:18] #27607 closed

[2020-09-03 19:39] verult commented on #93902
ACK aiming to get a PR out today as soon as possible

[2020-09-03 19:39] mapdegree opened #94486 "Enable readonly Configmaps in other namespaces"
**What would you like to be added**:
Configmaps to be shareable as read only in specified namespaces

**Why is this needed**:
Enable other product teams to be able to share Configmaps cross namespaces in order to prevent duplication

For example, other teams in their namespaces need to share a configmap that will be scraped off (read) by a central application within a dedicated namespace

[2020-09-03 19:40] neolit123 commented on #44997
/remove-sig cluster-lifecycle

[2020-09-03 19:40] neolit123 commented on #90710
/remove-sig cluster-lifecycle
/sig node

[2020-09-03 19:41] neolit123 commented on #90710
/remove-area kubeadm

[2020-09-03 19:48] ben-turner commented on #66572
This is still very much a problem. Having to scroll through pages of options just to find the error output is terrible. I'm running kube-apiserver with systemd so it automatically restarts. This means the error itself ends up in the middle of hundreds of lines of unhelpful information. It's like finding a needle in a haystack to figure out what actually went wrong. If nothing else, a flag to turn

[2020-09-03 19:52] eloyekunle commented on #66572
/reopen
/remove lifecycle/rotten

[2020-09-03 19:53] eloyekunle commented on #66572
/remove-lifecycle rotten

[2020-09-03 19:58] laundry-96 commented on #92463
@huataihuang What repository url do you have? I've been using https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64 (which is what the kubernetes website tells me to use) and it doesn't seem to have kubelet-1.19 in it...

[2020-09-03 20:00] lizrice commented on #70147
As an additional piece of evidence that this would be useful: here's the kops docs on storing registry credentials on every node - seems like a shortcut being taken because we don't have cluster-wide secrets. https://kops.sigs.k8s.io/security/#docker-configuration

[2020-09-03 20:06] liggitt opened #94487 "test/e2e/upgrade tests are not running"
**Which test(s) are failing**:

All tests in https://github.com/kubernetes/kubernetes/tree/master/test/e2e/upgrades

**Which jobs are failing**:

All jobs running those tests, e.g. https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable2-stable1-upgrade-cluster

**Since when has it been failing**:

1.18 (see https://github.com/kubernetes/release/pull/868#issuecommen

[2020-09-03 20:09] fedebongio commented on #94445
/cc @lavalamp

[2020-09-03 20:12] cemo commented on #70147
Did you see hiearchical namespaces? I think this can be done with it.

https://kubernetes.io/blog/2020/08/14/introducing-hierarchical-namespaces/

[2020-09-03 20:12] fedebongio commented on #94477
We had a short discussion over this one on the triage - the idea is not bad, but there is some risk of breaking something...
@lavalamp suspects @liggitt can have other thoughts. @cheftako mentioned opt in as a cluster owner.

[2020-09-03 20:13] nextsux commented on #91808
/remove-lifecycle stale

[2020-09-03 20:13] fedebongio commented on #94477
/cc @deads2k

[2020-09-03 20:14] elweb9858 commented on #62046
The kube-proxy work to enable DSR mode via local traffic policy did not make it into k8s 1.19, it will likely be in 1.20. Like David mentioned, the changes are in progress here #93166

[2020-09-03 20:17] MikeSpreitzer commented on #60140
/reopen
Nothing above says the problem with `kubectl cp` has been solved.
I am experiencing it.
[code]

[2020-09-03 20:26] MikeSpreitzer commented on #60140
For me, it is many pods with a ca 15 MB file, and a variable small fraction of them get the EOF.

[2020-09-03 20:34] sftim commented on #84903
/remove-lifecycle rotten

(hoping it gets picked up)

[2020-09-03 20:38] gigglegrig commented on #69041
shocked to see this is till not touched after a year.

[2020-09-03 20:41] #92089 closed

[2020-09-03 20:41] #92104 closed

[2020-09-03 20:42] andrewsykim commented on #94356
/remove-triage unresolved

[2020-09-03 20:51] jsturtevant opened #94490 "Remove alpha support for Hyper-v on Docker for Windows"
**What happened**:
Hyper-v support was added as an [experimental feature via annotations](https://github.com/kubernetes/kubernetes/pull/58751) for docker.  Hyper-v support is now focused on Containerd because of better support of HCSv2 in Containerd (for example allows for multiple containers in a pod in hyper-v).

There is still annotation support that should be removed in all the various locatio

[2020-09-03 20:59] neolit123 commented on #94490
/remove-kind bug
/kind deprecation cleanup
/sig node

[2020-09-03 21:05] jayunit100 commented on #94473
neither sig-nets test + seems python related , maybe numpy to measure some stats ?

[2020-09-03 21:06] jayunit100 commented on #94473
/remove sig-network

[2020-09-03 21:06] jayunit100 commented on #94473
/remove sig network

[2020-09-03 21:06] jayunit100 commented on #94473
/remove-sig network

[2020-09-03 21:07] jayunit100 commented on #94473
/remove-triage unresolved

[2020-09-03 21:09] jayunit100 commented on #94377
/assign

[2020-09-03 21:10] jayunit100 commented on #94349
/assign @aojea

[2020-09-03 21:11] jayunit100 commented on #94346
/assign @dcbw

[2020-09-03 21:11] jayunit100 commented on #94339
/assign @robscott

[2020-09-03 21:13] jayunit100 commented on #94337
/assign @aojea

[2020-09-03 21:15] jayunit100 commented on #94273
/assign @thockin

[2020-09-03 21:16] jayunit100 commented on #94256
/assign @robscott

[2020-09-03 21:16] thockin commented on #94273
Is the "10.31.0.3" address in the endpoints for kube-dns ?

[2020-09-03 21:18] jayunit100 commented on #94070
I think we can close this soon if we don't hear anything else

[2020-09-03 21:19] jayunit100 commented on #94070
increase your container memory (under the resources stanza in your deployment yaml)  and give it a shot prob not network related....

[2020-09-03 21:35] dims commented on #94437
@Huang-Wei @ahg-g WDYT?

[2020-09-03 21:38] liggitt commented on #94437
that's a big if... pretty much all the components in kubernetes depend on reliable informers.

when the network issue resolves, the node informer will relist, observe the "worker1" node no longer exists, and will call the delete handler

[2020-09-03 21:51] byxorna commented on #84214
/remove-lifecycle rotten

[2020-09-03 21:57] #92613 closed

[2020-09-03 22:00] jsturtevant commented on #92963
What code changes are you referring to?  I think if we want to support `runasusername` at the sandbox layer we will need to update the cri?

Longer term as we look at [KEP for Privileged Containers](https://docs.google.com/document/d/12EUtMdWFxhTCfFrqhlBGWV70MkZZPOgxw0X-LTR0VAo/edit#heading=h.kpsimyb2q1sg) passing the windows security context along a new privileged flag will be needed.

[2020-09-03 22:00] srteam2020 commented on #94437
We stumbled into this when trying to reproduce issue #56261. The scheduler missing a node deletion event seemed sufficient enough of a concern to warrant a fix in that case (by invalidating the corresponding node from the node cache). It would be a similar fix here as well?

[2020-09-03 22:01] MHBauer opened #94493 "Flakey test NodeProblemDetector SystemLogMonitor should generate node condition and events for corresponding error"
Is this a valid test? My understanding is we cannot rely on events for programming against.

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=should%20generate%20node%20condition%20and%20events%20for%20corresponding%20errors

**Which jobs are flaking**:
ci-cri-containerd-node-e2e-features
ci-kubernetes-node-kubelet-features
among others, mainly 'node-e2e-features' based tests.

[2020-09-03 22:03] MHBauer commented on #94493
I heard this is blocking you.
/sig node
/cc @mikebrow @dims

[2020-09-03 22:04] jayunit100 commented on #94022
per sig-net

[code]

- too critical
- counterexample = dynamic Kubelet, which is being deprecated,
- @thockin in case you want to add clarification there...

I guess for now we should detect when the file changes and start logging a warning that hot reloads aren't supported and manual reload is required.

[2020-09-03 22:11] MHBauer commented on #94493
I see flakes going back at least a month https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e-features/1290239646151741444

In addition to an earlier issue clarifying the error message https://github.com/kubernetes/kubernetes/issues/92907

This might be a spurious match, https://github.com/kubernetes/kubernetes/issues/78186

[2020-09-03 22:22] lalithvaka commented on #94284
Our issues seems to have resolved if we use clean RHEL 7.7 with no additional corporate security agents on the hosts. We are digging deeper into which of the 10 agents causing this issue. I will update this thread as soon as I have some info.

[2020-09-03 22:23] rikatz commented on #94284
So it seems there's a problem in the host OS, causing iptables not work inside kube-proxy. It works fine in my clean environment here, reproducing the case.

My suggestion is to start a clean install of your OS (without any enterprise agent that might be causing this) and make sure if there's something external causing the trouble.

When you have some information about any agent causing the issue,

[2020-09-03 22:42] zackzhangkai commented on #94454
just flannel pods stay init.

[code]

[code]
I cannot route to the hollow-nodes, maybe this is the problem. But I have no idea how to deal with it

 the cluster , who has hollow nodes  , called “kubemark cluster”,  cannot route to the hollow nodes.  Is it the problem?  the IPs of the hollow nodes, are indeed the podIPs of the external cluster.
the logs  existed in the kube-apiserver of kubemark-cl

[2020-09-03 22:42] robscott commented on #94191
Hey @miton18, I think @andrewsykim has a proposal that could help here https://github.com/kubernetes/enhancements/pull/1944. This is also related to the updates we're thinking about for topology aware routing - hope to have some KEP PRs out in the next couple weeks for that.

[2020-09-03 22:52] DMXGuru commented on #69697
I just had a nearly identical issue happen to me.  I'm on Kubernetes 1.19.0 on Centos 7, mounting a TerraMaster NAS share via NFS.  I had just removed all PV and PVC as I was testing the creation of those two types of items in preparation for a helm install.  When I tried to remove them, they hung.  I also had to manually edit the pv to remove the finalizer, and then it finally deleted.

[2020-09-03 22:58] thockin opened #94495 "Move Feature gate ServiceNodeExclusion to GA and LockToDefault"
What is missing?  Based on SIG call it's probably "tests" but I am not sure.  Could use some investigation and followup - how do we get it to GA?

@rikatz

/sig network
/kind cleanup

[2020-09-03 22:58] thockin opened #94496 "Feature gate ServiceAppProtocol needs to move to GA"
What is missing?  Docs?

@robscott

/sig network
/kind cleanup

[2020-09-03 22:58] thockin opened #94497 "Feature gate SupportIPVSProxyMode is GA - when does it get removed?"
When should it be removed?

@rikatz

/sig network
/kind cleanup

[2020-09-03 22:58] thockin opened #94498 "Feature gate ServiceLoadBalancerFinalizer is GA - when does it get removed?"
When should it be removed?

@MrHohn

/sig network
/kind cleanup

[2020-09-03 22:58] thockin opened #94499 "Feature gate ExternalPolicyForExternalIP is GA - when does it get removed?"
When should it be removed?

@rikatz

/sig network
/kind cleanup

[2020-09-03 22:58] thockin opened #94500 "Feature gate DefaultIngressClass is GA - when does it get removed?"
When should it be removed?

@bowei

/sig network
/kind cleanup

[2020-09-03 23:05] MikeSpreitzer commented on #60140
#89163 may be relevant

[2020-09-03 23:08] MrHohn commented on #94498
It was GAed in 1.17 and should have been removed in 1.18. I will send a PR to remove it retrospectively.
/assign

[2020-09-03 23:13] MrHohn commented on #94498
/remove-triage unresolved

[2020-09-03 23:14] srteam2020 commented on #94437
We only drop one "node delete" message for once. After that, we keep the network healthy. We find that the scheduler node informer won't automatically relist after network becomes healthy and stays unaware of the deletion. As a result, scheduler keeps trying to schdule pods on non-existing nodes forever and cannot recover from it automatically.

[2020-09-03 23:30] rikatz commented on #94495
/assign

[2020-09-03 23:30] rikatz commented on #94497
/assign

[2020-09-03 23:31] rikatz commented on #94499
/assign

[2020-09-03 23:54] cheftako commented on #94477
Clearly opting into a change like this has a significant chance of breaking the cluster. I wonder if that could be diminished my pairing this with priority and fairness. We could then block requests according to the priority level?

[2020-09-04 00:26] wingman-chakra commented on #94435
Yes, with HPA it gets killed in 10 minutes, I just noticed it does not happen consistently.

[2020-09-04 00:35] wawa0210 commented on #94490
I can try to contribute to solve this issue

/assign

[2020-09-04 00:40] robscott commented on #94496
Looks like we don't need much. Need to graduate the feature gate to GA and update the docs. In 1.21 we'll be able to remove the feature gate.

/assign
/remove-triage unresolved

[2020-09-04 01:02] jmillikin-stripe opened #94505 "DualStack: IPv6 service generates EndpointSlice containing IPv4 addresses"
**What happened**:
Given a `Service` resource with `ipFamily: "IPv6"`, selecting dual-stack pods that use IPv6 as their primary IP, the controller manager generates both `Endpoint` and `EndpointSlice` resources. The `Endpoint` resource is being generated correctly (it contains IPv6 IPs), but the corresponding `EndpointSlice` is being generated with IPv4 IPs.

**What you expected to happen**:
I exp

[2020-09-04 01:02] jmillikin-stripe commented on #94505
/sig network

[2020-09-04 01:30] liggitt commented on #94505
/assign @robscott

[2020-09-04 01:34] AndrewSav commented on #30656
[code]

@whereisaaron It looks like most cloud providers do not support this, and for on prem we can just go to a node and `docker exec` into the container. So again, the usefulness seems quite limited.

Also access via `/proc/$pid/root` is not what I'd like, I would like a direct access not via "side window". For example running utils like apt/apk _in the continer_ is  not easy when the root file

[2020-09-04 01:41] liggitt commented on #94486
configmaps from any namespace can be read via the API by service accounts from other namespaces if they have permission. readonly permission can be granted to read particular configmaps.

You can define a permission like this:

[code]

and then grant it like this:
[code]

[2020-09-04 01:42] liggitt commented on #94486
See https://kubernetes.io/docs/reference/access-authn-authz/rbac/ for more examples of the permissions you can grant

[2020-09-04 01:42] #94486 closed

[2020-09-04 02:42] robscott commented on #94505
Hey @jmillikin-stripe, thanks for reporting this! I believe this was fixed by https://github.com/kubernetes/kubernetes/pull/91399 and the cherry-pick back to 1.18 just got merged in: https://github.com/kubernetes/kubernetes/pull/94119. I'll try to take some time to verify this PR does fix the root issue.

/remove-triage unresolved

[2020-09-04 02:44] rikatz commented on #94497
Feature is GA since 1.11 -> https://github.com/kubernetes/kubernetes/pull/58442

Any reference to this Feature Gate needs to be removed from the code, README and Docs:

If you're a **new contributor**, please step in, take this issue, make the PRs, assign it to me with /assign @rikatz and I'll be glad to help you through the journey of contributing :)

* https://github.com/kubernetes/kubernetes/se

[2020-09-04 02:47] tangwz commented on #94497
/assign @rikatz

[2020-09-04 02:48] rikatz commented on #94497
@tangwz are you willing to take this one?

[2020-09-04 02:50] rikatz commented on #94499
Feature is GA since 1.18 -> #58442
Any reference to the Feature Gate is scheduled to be removed in v1.20 (next release) so it seems we're good to go!

This one is a little more 'tricky' as it involves also changing some test suites and also remove it from kube-proxy code.

If you're a **new contributor**, please step in, take this issue (/assign @yourhandler), make the PRs, assign the PR to me wit

[2020-09-04 02:50] rikatz commented on #94499
/cc @freehan

[2020-09-04 02:51] tangwz commented on #94497
Yes. I'm a new contributor.I will to try to complete it.

[2020-09-04 02:51] rikatz commented on #94495
This one seems not a good first one, I'll take this to myself and start bothering people in Slack to check what's missing, mostly @andrewsykim as I've seen this is also related to cloud providers :)

[2020-09-04 02:54] rikatz commented on #94497
/assign @tangwz

Welcome! Let me know if you need any kind of help.

Please take a look also into the Kubernetes Contributors documentation -> https://www.kubernetes.dev/docs/

When you're ready to create your first PR, please assign it to me and I'll make the first pass!

[2020-09-04 02:54] jmillikin-stripe commented on #94505
Fantastic, thanks. I'll also try verifying that fix on my end by cherry-picking it into our k8s build (probably later next week).

[2020-09-04 03:06] andrewsykim commented on #94495
I think @smarterclayton added this one originally.

According to the KEP in https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-07-16-node-role-label-use.md:

This should have went GA in v.19 and be removed in v1.20. Given it's still marked beta, at the very least we should mark it GA in v1.20 and remove it in v1.21.

[2020-09-04 03:12] rikatz commented on #94495
yeap.

Honest question, changing a Feature Gate to GA process is only changing the related line in kube_features.go?  (https://github.com/kubernetes/kubernetes/blob/f16da811eb446542d92a7e4385b94e9894086405/pkg/features/kube_features.go#L677) and also putting a comment that this goes to GA?

If so, probably this one can also be a good first issue and we can open a future issue for the removal in v1

[2020-09-04 03:15] ping035627 commented on #79610
@liggitt, Hi, is there a plan to solve this bug?

[2020-09-04 03:24] knabben commented on #94499
/assign @knabben

can a give it a try?

[2020-09-04 03:25] liggitt commented on #94469
Error from server (Forbidden): secrets is forbidden: User "developer:xxx" cannot list resource "secrets" in API group "" in the namespace "default"

Behavior of access through the dashboard depends on dashboard configuration and the permissions given to the dashboard service account, in addition to the permissions given to the user accessing the dashboard.

Check the guide at https://github.com/ku

[2020-09-04 03:25] #94469 closed

[2020-09-04 03:26] rikatz commented on #94499
Welcome! Let me know if you need any kind of help.

Please take a look also into the Kubernetes Contributors documentation -> https://www.kubernetes.dev/docs/

When you're ready to create your first PR, please assign it to me and I'll make the first pass!

[2020-09-04 03:43] verult commented on #93902
Still WIP - seeing some new unit test failures as a result of the fix

[2020-09-04 03:44] verult commented on #93902
Also note that the fix here is an optimization in most cases - attach and detach operations are expected to be idempotent

[2020-09-04 03:49] pacoxu commented on #94500
According to https://github.com/kubernetes/kubernetes/pull/91957, it need to remove in 1.20.

/assign

[2020-09-04 04:18] msau42 commented on #93902
Does that mean the test case is flawed and we should relax the test?

[2020-09-04 06:40] edwardstudy opened #94515 "Custom Resource should respect deleteOption.propagationPolicy"
**What happened**:
I have two CRD that Owner CRD owns Child CRD(set ownerReferences relation). When I delete Owner over kubectl or API:

[code]

When I used API request, I set `DeleteOptions{GracePeriodSeconds:nil,Preconditions:nil,OrphanDependents:nil,PropagationPolicy:*Orphan,DryRun:[],}`.

And I watched Owner that's updated for `orphan` finalizer before it's deleted. But it didn't keep Child.

[2020-09-04 07:13] kubefetch commented on #62861
This piece of EventRateLimits rate limit has very standard documentation for configuration. I installed my friend's deployment above, and still can't boot API-Server, hoping to come up with a best practice. I'm also a little confused about how much configuration I should have in rate production

[2020-09-04 07:14] yue9944882 commented on #94477
/cc @yue9944882 @MikeSpreitzer

[2020-09-04 07:17] zhaocheng173 commented on #62861
This piece of EventRateLimits rate limit has very standard documentation for configuration. I installed my friend's deployment above, and still can't boot API-Server, hoping to come up with a best practice. I'm also a little confused about how much configuration I should have in rate production

[2020-09-04 07:57] saikat-royc commented on #94108
@travisghansen  Can you also share the details what is the version of the external provisioner sidecar that is used? Also is this a dynamically provisioned volume?

[2020-09-04 07:57] raphaelauv opened #94517 "HPA custom metrics | Accept formula"
**What would you like to be added**:

I would like to perform HPA on the result of a formula of multiple custom metrics , by example :

`hpa = metric1 - ( metric2 + metric 3 )`

**Why is this needed**:
It will allow HPA on complex logic.

Thank for all your work :)

[2020-09-04 08:16] WywTed commented on #94453
Thanks. @rata

[2020-09-04 09:02] cadeniyi commented on #91844
/remove-lifecycle stale

[2020-09-04 09:15] jkaniuk commented on #94454
[code]
Looks like iptables.go have a problem, maybe that is the reason for connection issues.

looks like those commands were not found: https://github.com/kubernetes/kubernetes/blob/release-1.17/pkg/util/iptables/iptables.go#L111

Could you ssh into given container and look around, why those commands are not found?

However that could be a red herring, I'm not an expert in kubemark, nor flannel.

[2020-09-04 10:14] qinqon commented on #89358
Hi We are using those tests to validate our kubeadm installation and looks like the test is no passing when we have only one node, is this spected ?

[2020-09-04 10:28] #92758 closed

[2020-09-04 10:28] csuzhangxc commented on #74848
👍

How to reopen the issue? 🤔

[2020-09-04 10:41] srikaratstrings commented on #94435
We did some digging. It looks like the nodes were getting killed by cluster autoscaler which only allows a maximum of 10 mins to gracefully shutdown. From reading through it sounds like there is no way to configure this limit.

[2020-09-04 11:06] pacoxu commented on #94435
not sure whether https://predictive-horizontal-pod-autoscaler.readthedocs.io/en/latest/user-guide/downscale-stabilization/ would help.

HPA support cool down delay
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-cooldown-delay

Note: When tuning these parameter values, a cluster operator should be aware of the possible consequences. If the delay (cooldown) va

[2020-09-04 11:14] neolit123 commented on #94515
please provide the output for this.

/sig api-machinery

[2020-09-04 11:18] edwardstudy commented on #94515
[code]

[2020-09-04 11:40] patricekrakow opened #94519 "CustomResourceDefinition should support OpenAPI 3.1.0 (now including "patternProperties")"
**What would you like to be added**:
I would like to use "patternProperties" within `spec.validation.openAPIV3Schema` when defining a CustomResourceDefinition.
I have understood that "patternProperties" is now supported in the latest version of OpenAIP 3.1.0, see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.1.0.md#schemaObject

**Why is this needed**:
My use case is to defin

[2020-09-04 11:43] patricekrakow commented on #94519
* /sig api-machinery

[2020-09-04 11:43] #91131 closed

[2020-09-04 11:44] bbhupati commented on #77086
@souravb11
Thanks this is a simple and easy solution to fix the issue
edited namespace and removed below
    "finalizers": [
      "controller.cattle.io/namespace-auth"
    ]

[2020-09-04 11:44] ScrapCodes opened #94520 "[Flaky Test] [sig-cli] Kubectl Port forwarding With a server listening on localhost that expects a client request should support a client that connects, sends DATA, and disconnects"
**Which jobs are flaking**:
ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew

**Which test(s) are flaking**:
[sig-cli] Kubectl Port forwarding With a server listening on localhost that expects a client request should support a client that connects, sends DATA, and disconnects

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce

**Reason

[2020-09-04 11:45] ScrapCodes commented on #94520
/sig testing
/sig cli

[2020-09-04 11:46] patricekrakow commented on #94519
/sig api-machinery

[2020-09-04 11:47] Gui13 commented on #94359
Just FYI I have made the very same test on a GCP cluster, and it looks like:

- we lose a bit less of storage at each invocation, but we still lose storage
- the garbage collection mechanism in GCP is a bit more aggressive and cleans up the remnants correctly:

<img width="1623" alt="image" src="https://user-images.githubusercontent.com/44523/92235926-c8e20100-eeb4-11ea-83ba-9d133eeb8dea.png">

Th

[2020-09-04 11:47] #77216 closed

[2020-09-04 11:49] ScrapCodes commented on #94520
one way to fix this is by introducing a watch after the namespace is deleted, to wait until the namespace is actually deleted.

An alternate approach can be, to use unique namespace "names" across the jobs.

I am willing to work on the patch, please feel free to correct me, with a better solution.

/assign

[2020-09-04 11:58] Gui13 commented on #94359
So what I gather from that is that there is a bit of both culprits:

- Azure loses ~1.5Mb per 1000 files in a subpath-mounted volume
- GCP loses ~300Kb per 1000 files in a subpath-mounted volume

Either way, mounting a file-count-heavy subpath yields a net loss of storage on the node.

[2020-09-04 12:11] saswatac commented on #92114
I have been doing this as follows -
[code]

The main container is a notebook. Now I also want users to be able to create pods from the notebooks which would also have access to the buckets, which would mean allowing users to create privileged containers which is not desirable.

I am looking for a solution that allows mounting buckets without privileged permissions.

[2020-09-04 12:18] huang-jy commented on #90519
This ticket has been given the "stale" and "waiting for info" labels.

Are you waiting for more details from me, and if so, what additional info do you need?

[2020-09-04 12:26] knight42 commented on #94520
I believe this problem has already been fixed by #90591, perhaps we need to backport the fix?

[2020-09-04 12:33] jkaniuk commented on #94450
All 11 failures during instances create happened for the same project: k8s-infra-e2e-boskos-scale-12

[2020-09-04 12:41] jkaniuk commented on #94450
I do not see any differences in IAM permissions now. Was it fixed?

k8s-infra-e2e-boskos-scale-12
![image](https://user-images.githubusercontent.com/5487158/92240045-43624f00-eebc-11ea-9639-a63b2a270608.png)

k8s-infra-e2e-boskos-scale-11
![image](https://user-images.githubusercontent.com/5487158/92240219-8a504480-eebc-11ea-8f76-6a77d609d880.png)

[2020-09-04 12:41] sftim commented on #94497
/sig docs

We don't remove GA feature gates from the website; we move them to https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-graduated-or-deprecated-features

[2020-09-04 12:43] phantooom commented on #93753
i have the same issue

[2020-09-04 12:56] liggitt commented on #90519
This is waiting for evidence that the benefit of changing labels/selectors outweighs the risks of allowing them to change, that the issues previously seen with this can be corrected, and that it is deemed sufficiently important to staff

[2020-09-04 12:58] huang-jy commented on #90519
Thanks, wasn't sure if that label was meant for me or not.

[2020-09-04 13:00] michaelgugino commented on #93753
I have been unable to run make verify successfully on Fedora using both golang 1.14 and 1.15.  I haven't had time to fully investigate.  Probably needs its own issue.

[2020-09-04 13:01] ufou opened #94522 "Ubuntu 18.04 node added to an existing Ubuntu 16.04 cluster causes network/stability issues"
**What happened**:
We have an existing bare-metal k8s cluster which (over the years) we've upgraded from v1.12 all the way to v1.18.5 using kubeadm. We have recently started experiencing performance issues which we believe might be fixed with more recent Linux kernels. So we drained & removed one of the existing cluster nodes and re-installed with Ubuntu 18.04 (fresh) after some basic configuratio

[2020-09-04 13:03] neolit123 opened #94523 "[failing test] kubeadm-kinder-upgrade-1-19-master"
**Which jobs are failing**:
kubeadm-kinder-upgrade-1-19-master

**Which test(s) are failing**:
task-06-upgrade
(the task to upgrade from .19 to master via `kubeadm upgrade apply`)

**Since when has it been failing**:
2020-09-04

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-19-master

**Reason for failure**:

this function is problematic

[2020-09-04 13:03] ufou commented on #94522
/sig network

[2020-09-04 13:04] neolit123 commented on #94523
/sig cluster-lifecycle
/area kubeadm
/priority important-soon
@kubernetes/ci-signal

[2020-09-04 13:17] patricekrakow commented on #94519
Just find out that I have a workaround by using `additionalProperties` instead of `patternProperties`. It's just that I will not be able to use <https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v3.0/schema.yaml> (for instance) as such, but that I will have to first edit it. Less convenient, but not impossible.
Anyway, I think it would still be nice to upgrade to OAS 3.1.0, but it's

[2020-09-04 13:23] brianpursley commented on #91834
/remove-lifecycle stale

[2020-09-04 13:36] stephan2012 opened #94524 "kubeadm upgrade plan fails on missing configmap kubelet-config-1.19"
**What happened**:

`kubeadm upgrade plan v1.19.0` fails because it does not find configmap `kubelet-config-1.19` (which will be created during `apply`):

[code]

However, `kubeadm upgrade apply` creates the new configmap and succeeds:

[code]

**What you expected to happen**:

`kubeadm upgrade plan` should not fail on objects that are created during upgrade.

**How to reproduce it (as minimally a

[2020-09-04 13:38] stephan2012 commented on #94524
/sig cluster-lifecycle

[2020-09-04 13:47] FrederikNS commented on #45419
I'm hitting this issue using Kubernetes 1.15.3, 1.16.3 as well as 1.17.9. On docker versions 18.6.3 and 19.3.12.

There's about 50 pods on each node.

[2020-09-04 13:49] #89802 closed

[2020-09-04 13:58] neolit123 commented on #94524
hi, this should be fixed in 1.19.1.
https://github.com/kubernetes/kubeadm/issues/2274

/close

[2020-09-04 13:58] #94524 closed

[2020-09-04 14:07] nandeeshb09 opened #94525 "Node flapping between Ready/NotReady with PLEG issues"
We are observing this issue all of sudden, here we have recently upgraded EKS cluster from 1.13 to 1.14.
post upgrade we are facing this issue, please help us here, what could be the issue.

When the node goes into NotReady status, kubelet is being restart and when we checked the kubelet logs found below errors.

Sep 04 09:23:20 kubelet[7981]: W0904 09:23:20.847245    7981 cni.go:309] CNI failed t

[2020-09-04 14:42] jkaniuk commented on #94450
/assign @spiffxp

Aaron - could you look at it as an owner of that project?

[2020-09-04 14:43] numbsafari commented on #69687
@gjtempleton @mwielgus - Looks like the work here is done, but is being blocked by a (no longer necessary) alpha feature gate. For those of us trying to implement worker-queue type workloads, this would be a massive benefit to be able to enable this in actual, working clusters.

Is there anything that can be done to get support in removing the alpha label here? Is it just a PR, or does some other

[2020-09-04 15:00] liggitt commented on #94477
@wojtek-t don't informers default to listing without chunking for some resources?

[2020-09-04 15:00] hasheddan opened #94528 "[Failing Test] bazel-test-master (periodic-kubernetes-bazel-test-master)"
**Which jobs are failing**:

`bazel-test-master (periodic-kubernetes-bazel-test-master)`

**Which test(s) are failing**:

[code]

**Since when has it been failing**:

[code]

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master

**Reason for failure**:

Errors differ between each of the failing tests. Looks like failure started between `26d0f8460` and `fe8aa6eb

[2020-09-04 15:01] koxu1996 commented on #73056
exit code 0 is completely unexpected...

[2020-09-04 15:06] liggitt commented on #94528
Almost certainly https://github.com/kubernetes/kubernetes/pull/93605, which means we have remaining unit test flakes

[2020-09-04 15:07] liggitt commented on #94528
Looks like three primary packages are flaking:
- cmd/kube-scheduler/app
- pkg/probe/http
- k8s.io/apiserver/pkg/server/filters

[2020-09-04 15:18] wawa0210 commented on #94490
Do we need to discuss whether we confirm that we need to remove this feature in the kubernetes code? If it is removed, it will not support running hyper-v-based windows container through docker.

[2020-09-04 15:21] knight42 commented on #94528
I would like to help. I am investigating `TestClientReceivedGOAWAY` and `TestGOAWAYConcurrency` now.

[2020-09-04 15:22] liggitt commented on #94528
thanks, I've got TestHTTPProbeProxy

[2020-09-04 15:59] knight42 commented on #94528
@liggitt `TestGOAWAYConcurrency` seems to be a bit different.

This test is meant to use a single http client with http/2 transport, but as per the log:
[code]
The client instance is not concurrency safe. I am not sure how to deal with this one.

[2020-09-04 16:03] liggitt commented on #94528
TestGOAWAYConcurrency seems fundamentally broken. This fails reproducibly for me:

[code]

To mitigate, I will skip the test and open a critical issue for api-machinery to fix the test or the component

[2020-09-04 16:06] liggitt opened #94532 "TestGOAWAYConcurrency fails with data race issues"
This fails close to 100% of the time when run with race mode:

[code]

Disabled in https://github.com/kubernetes/kubernetes/pull/94529

It is unclear if the test or the component needs to be corrected

/sig api-machinery
/priority critical-urgent

[2020-09-04 16:08] liggitt commented on #94532
/assign @answer1991

/cc @lavalamp

[2020-09-04 16:10] brianharwell opened #94533 "Rolling update of a windows container has failures"
**What happened**:
I am doing a rolling update and the transition from the old pod to the new pod is not seamless. I am seeing failed requests during the transition.

**What you expected to happen**:
The new pod is up and available so the transition should be seamless.

**How to reproduce it (as minimally and precisely as possible)**:
Step 1: Deploy this deployment. The Windows image has a static

[2020-09-04 16:11] brianharwell commented on #94533
/sig windows

[2020-09-04 16:13] knight42 commented on #94528
working on `pkg/util/iptables`

[2020-09-04 16:20] jsturtevant commented on #94490
We can add it to the agenda for sig-windows next week to confirm.  There is no path forward for hyper-v containers with docker so it should be ok to remove via standard depreciation mechanisms.

We have been working to get hyper-v working via containerd (still work in progress) and have tests passes: https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-master-containerd-hyperv

[2020-09-04 16:23] knight42 commented on #94528
working on `k8s.io/legacy-cloud-providers/azure/cache`

[2020-09-04 16:28] wawa0210 commented on #94490
I submitted a simple pr for this issue, we can follow up the results of the discussion next week for further operations

[2020-09-04 16:28] brianharwell commented on #94533
I tried adding a startup probe and I get the same result

[code]

I do not think the issue is with sending traffic to the new pod. I think traffic is being sent to the old point as it is being terminated.

[2020-09-04 16:32] apelisse commented on #89954
@julianvmodesto I think that's solved, right?

[2020-09-04 16:33] wawa0210 commented on #94490
I also read this document and found that there is a short description related to this issue

https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-a-feature-or-behavior

I am confused about this point. It seems that the feature of hyper-v can be removed (because it has been in aplha, experimental feature), I don’t know if my understanding is correct.

[2020-09-04 16:33] kfox1111 commented on #89911
/reopen
/remove-lifecycle rotten

[2020-09-04 16:41] wawa0210 commented on #94533
You can add `readinessProbe`, `livenessProbe` and `prestop` and test it again. Because the startup speed and ready time of windows container intersect with linux container, it will be slower

[2020-09-04 16:45] julianvmodesto commented on #89954
Yes this is solved!

/close

[2020-09-04 16:45] #89954 closed

[2020-09-04 16:45] ravisantoshgudimetla commented on #92963
I was referring to #93475. As of we can propogate this to cri but it will be ignored on the cri as you noted earlier. As of change I suggested, we are determining the OS type and ignoring passing certain features from kubelet to cri.

[2020-09-04 16:48] brianharwell commented on #94533
I tried readiness and liveness probes, results are the same.

The test container I using `brianharwell/iis-test:v1` is nothing more than Microsoft's AspNet image `mcr.microsoft.com/dotnet/framework/aspnet:4.8-20200114-windowsservercore-ltsc2019` with a static index.html.

I am not sure how `prestop` will help me? Or what command to run during the `prestop`

[2020-09-04 17:04] jsturtevant commented on #77268
/reopen

[2020-09-04 17:05] travisghansen commented on #94108
@saikat-royc in both cases it's using `image: quay.io/k8scsi/csi-provisioner:v1.6.0`

[2020-09-04 17:13] brianharwell commented on #94533
Ok I am positive it is the terminating pod that is the issue. I added `minReadySeconds` of 5 seconds to my deployment spec. The new pod came online, so I had 2, and all was good then 5 seconds later I got the error when Kubernetes terminated the old pod.

[2020-09-04 17:28] brianpursley commented on #91847
I still think this is a problem.

/remove-lifecycle stale

[2020-09-04 18:31] jsturtevant commented on #64801
With the proposal for the [Privileged Containers KEP](https://docs.google.com/document/d/12EUtMdWFxhTCfFrqhlBGWV70MkZZPOgxw0X-LTR0VAo/edit#), there was an analysis done for what would be potentially impacted in regards to Pod Security Standards and policies.  Please see the [KEP for details](https://docs.google.com/document/d/12EUtMdWFxhTCfFrqhlBGWV70MkZZPOgxw0X-LTR0VAo/edit#heading=h.lfmx6g5l0bof

[2020-09-04 18:54] saschagrunert opened #94538 "Move hostport manager to staging or out of tree"
**What would you like to be added**:
The package in `pkg/kubelet/dockershim/network/hostport` is used by container runtimes to manage the pod sandbox hostport mappings. Unfortunately this package is not possible to access without vendoring the whole Kubernetes source code. To not rely on vendoring the whole Kubernetes repository, it would be useful to have it in a staging repository or a completel

[2020-09-04 18:55] saschagrunert commented on #94538
/sig architecture node

[2020-09-04 18:55] saschagrunert commented on #94538
cc @mrunalp @haircommander

[2020-09-04 19:06] smira opened #94540 "kube-apiserver (and other official images) for arm64 contain /go-runner built for amd64"
**What happened**:

Image: `k8s.gcr.io/kube-apiserver-arm64:v1.19.0`

kube-apiserver fails to start on arm64 with command line like: `/go-runner /usr/local/bin/kube-apiserver ....` with an error:

[code]

`kube-apiserver` binary is built for arm64, while `go-runner` is built for amd64.

**What you expected to happen**:

kube-apiserver running normally, `go-runner` built for arm64

**How to reprodu

[2020-09-04 19:07] smira commented on #94540
/sig release

[2020-09-04 19:41] jsturtevant commented on #93276
@claudiubelu Thanks for the details on the current Image Promoter status.  Hope we can come to agreement on the buildx support reducing the need for VMs and making it easier to reproduce and build locally.

Going to try to summarize the long thread:

- true cross builds do not happen for pre-submits due to high resource requirements. (issue tracking this?)
- there is a desire from sig-testing to l

[2020-09-04 19:59] KarthikRangaraju commented on #87615
We have not been able to reproduce this issue although we do face it from time to time.

Since we are not able to identify the root cause of the symptom, we are fixing the symptom regardless.

Our solution:

- The following script runs every 1 hour. It talks to kube-api server via kubectl via the kube config file
kubelet uses(This way there is no privilege escalation).
- Asks if the master node `t

[2020-09-04 20:10] oomichi commented on #48948
As https://github.com/kubernetes/kubernetes/issues/48948#issuecomment-625049243 it seems fine to close this issue at this time.
In addition, this issue is for minikube. It is better to open an issue on https://github.com/kubernetes/minikube/issues to get more attention from minikube experts if necessary to re-open again.

/close

[2020-09-04 20:10] #48948 closed

[2020-09-04 20:32] zatamine commented on #80897
I found a solution here https://github.com/kubernetes/kubernetes/issues/61486#issuecomment-635169272

[2020-09-04 20:58] neolit123 commented on #94490
alpha feature gates can be removed without a deprecation period in release N+1 if added in release N - i.e. it could have been removed in 1.11 as per the minimum policy.
this is the recommended minimum and exceptions can happen...the feature existed for 10 releases and Windows containers support existed for a few releases as well, which means you could have production clusters using the feature.

[2020-09-04 21:09] liggitt commented on #94540
cc @justaugustus

[2020-09-04 21:10] MikeSpreitzer commented on #94477
Here's a blast from the past: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/kubernetes-sig-api-machinery/SfCIk5MccOc

[2020-09-04 21:19] neolit123 commented on #94523
[turned green](https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-19-master), would let this have another run.

[2020-09-04 21:21] justaugustus commented on #94540
@smira -- thanks for the report!
I'll take a look.

/assign

[2020-09-04 21:54] zatamine commented on #35758
Found a solution here https://github.com/kubernetes/kubernetes/issues/61486#issuecomment-635169272

[2020-09-04 21:57] #89875 closed

[2020-09-04 22:21] azalio commented on #94293
We have similar problem with v1.15.12

[2020-09-04 22:52] liggitt opened #94545 "[flaky test] TestMetrics"
**Which jobs are flaking**:

pull-kubernetes-bazel-test

**Which test(s) are flaking**:

k8s.io/client-go/util/workqueue

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&include-filter-by-regex=k8s.io%2Fclient-go%2Futil%2Fworkqueue

**Reason for failure**:

[code]

**Anything else we need to know**:
- https://prow.k8s.io/view/gs/kubernetes-jenk

[2020-09-04 22:53] liggitt commented on #94545
/sig api-machinery

[2020-09-04 23:12] liggitt opened #94547 "[Flaky unit test] TestDevicePluginReRegistrationProbeMode: Devices of previous registered should be removed"
**Which jobs are flaking**:

pull-kubernetes-bazel-test

**Which test(s) are flaking**:

TestDevicePluginReRegistrationProbeMode

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&include-filter-by-regex=pkg%2Fkubelet%2Fcm%2Fdevicemanager

**Reason for failure**:

[code]

**Anything else we need to know**:
- https://prow.k8s.io/view/gs/kubernetes

[2020-09-05 00:09] jsturtevant commented on #94533
iis definitely requires a readiness probe as the container will come online but it can take 1+ mins for iis to become ready.

Interesting you are seeing it on exit.  Could you confirm the windows version and runtime?

[2020-09-05 00:40] mouyang commented on #81329
/lifecycle stale

[2020-09-05 01:15] answer1991 commented on #94532
/assign

[2020-09-05 01:24] tpepper opened #94548 "[Failing Test] bazel-test-1.17 (periodic-kubernetes-bazel-test-1-17)"
**Which jobs are failing**:
1.17 release blocking bazel test

**Which test(s) are failing**:
 * //cluster/images/conformance/go-runner:go_default_test
 * Overall
 * //pkg/kubelet/oom:go_default_test

**Since when has it been failing**:
Steady red since 2020-08-26

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-blocking#bazel-test-1.17

**Reason for failure**:
FAIL: //cluster/images/co

[2020-09-05 01:25] tpepper commented on #94548
/sig release

[2020-09-05 01:50] krmayankk commented on #68397
/lifecycle frozen

[2020-09-05 02:07] knight42 commented on #94532
@answer1991 The test `TestClientReceivedGOAWAY/combine_with_watch-with-goaway` is also flaky.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-master/1302013439975100416

[code]

but this one is hard to reproduce locally.

[2020-09-05 02:10] cheyang commented on #70010
/remove-lifecycle rotten

[2020-09-05 03:02] #89941 closed

[2020-09-05 03:08] mswilson commented on #46351
This doc is not public.

[2020-09-05 03:19] liggitt commented on #94548
Should be green again. https://github.com/kubernetes/kubernetes/pull/94326 removed the oom test (pick from master)

[2020-09-05 04:07] answer1991 commented on #94532
I will debug and try to fix it later, thanks for the report. @knight42

[2020-09-05 05:01] MikeSpreitzer commented on #94477
@liggitt : it is not simply a matter of resource type.  The code is a bit complicated, but the logic in https://github.com/kubernetes/client-go/blob/master/tools/cache/reflector.go and https://github.com/kubernetes/client-go/blob/master/tools/pager/pager.go does contemplate doing a full list in some circumstances.

So I do not think the apiservers should simply block unchunked (non-paginated) list

[2020-09-05 06:05] liruishan commented on #45419
Has this problem been solved? In which version?

[2020-09-05 06:34] jingxu97 commented on #94108
@travisghansen a few questions
1. which csi driver are you usinig?
2. kubelet side UnmountDevice  is issued, so normally csi driver should trigger NodeUnstageVolume call?
3. seems like your pod cannot be deleted for a long time. When you try to delete PVC, what is the status of the pod? Also do PVC and PV objects get deleted?

[2020-09-05 08:23] warmchang opened #94550 ""--read-only-port" field description is confusing."
**What happened**:

As "kubelet --help" said, the default --read-only-port is 10255, but actually the default value is 0 (disabled):
[code]
https://github.com/kubernetes/kubernetes/blob/1f708f6e6272a8f4c5b9a32cc3aea33ff79aeec1/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L146

**What you expected to happen**:

Keep the context consistent, as a quick fix, we can set KubeletReadOnlyPort = 0.
h

[2020-09-05 08:25] warmchang commented on #94550
/sig node
/assign @warmchang

[2020-09-05 09:01] justaugustus commented on #94540
Proposed fix in https://github.com/kubernetes/kubernetes/pull/94552.

[2020-09-05 09:26] justaugustus commented on #94540
FYI @kubernetes/release-engineering

[2020-09-05 09:54] smekkley commented on #67202
It's merged to master, not sure which release it got into. Maybe not yet.
Btw, calico bpf mode should support feature like this. It no longer requires kube-proxy which was the culprit of this issue.

[2020-09-05 09:57] mitar commented on #28272
/remove-lifecycle stale

[2020-09-05 10:09] #86914 closed

[2020-09-05 10:17] feiskyer commented on #94490
+1. Could we add a warning log and an announcement in v1.20 and then remove it in v1.21?

[2020-09-05 11:13] jmf0526 opened #94557 "Pod stuck at "CreateContainerError" because of container name conflict"
**What happened**:
One pod stuck at CreateContainerError and can't get recovered automatically. Kubelet log shows that the requested name (let's say Container_2) is already in use.

`docker ps` shows the Container_2 Running, and it's created before Container_1

**What you expected to happen**:
This should never happen.

**How to reproduce it (as minimally and precisely as possible)**:
I wish i kne

[2020-09-05 11:34] jmf0526 commented on #94557
/sig node

[2020-09-05 12:13] Cweiping opened #94558 "When kubelet triggers poststart or prestop, httpget is executed by kubelet process"
**What happened**:

When kubelet triggers `PostStart` or `PreStop`, `httpGet` action is executed by kubelet process.

**What you expected to happen**:

This behavior should be run within the container as expected and may become a security risk.

**How to reproduce it (as minimally and precisely as possible)**:
https://github.com/kubernetes/website/issues/23670#issuecomment-686412705

**Anything el

[2020-09-05 12:14] Cweiping commented on #94558
/sig kubelet

[2020-09-05 12:15] mayankshah1607 commented on #86024
Hey, @cmluciano !
I'd like to help out with this one if anything is pending! :)

[2020-09-05 12:15] Cweiping commented on #94558
/sig node

[2020-09-05 13:42] answer1991 commented on #94532
I doubt `TestGOAWAYConcurrency` data race is caused by golang http/http2 pkg, let me try to make some reproduce cases and may open an issue to golang repo.

[2020-09-05 14:13] #87470 closed

[2020-09-05 14:51] jlpettersson opened #94560 "Add --tokenfile flag to kubectl"
**What would you like to be added**:

Today it is possible to authenticate with `kubectl` using the `--token` to provide a token as a parameter. I would like to have a flag `--tokenfile <path>` that is similar but reads the token from a file.

**Why is this needed**:

This is useful for doing `kubectl apply manifest.yaml --tokenfile '/var/run/secrets/kubernetes.io/serviceaccount/token'` similar to

[2020-09-05 15:03] #94560 closed

[2020-09-05 15:26] travisghansen commented on #94108
1. My own implementation here https://github.com/democratic-csi/democratic-csi
2. I'm not sure what the question is here. From the csi side unpublish is invoked (and succeeds)...unstage does not get invoked on 1.18.6 until pvc is deleted and, sadly, **after** the controller delete.
3. My last test the pods were successfully deleted for an 1.5 hours (and unpublish succeeded immediately). So the pod

[2020-09-05 15:36] rmazzine opened #94561 "Kubernetes pod mismatch in UDP port when trying to create a RTSP session (using ffmpeg)"
**What happened**: Kubernetes pod mismatch in UDP port when trying to create a RTSP session (using ffmpeg).

I found a strange behavior in Kubernetes when trying to make a RTSP session (to stream a camera) using ffmpeg. I both tried in a Kubernetes cluster and minikube and they do the same thing.

The full description is bellow:

I enter on a Kubernetes pod with ffmpeg installed and start the RTSP

[2020-09-05 15:37] rmazzine commented on #94561
/sig network

[2020-09-05 15:50] mayankshah1607 opened #94562 "hack/verify-golint: skip `golint` installation if it already exists"
**What would you like to be added**:
While working on https://github.com/kubernetes/kubernetes/issues/68026, `hack/verify-golint.sh` had to be called multiple times when linting had to be fixed for particular packages. This process was slow because each time the script was called, `golint` was being installed all over again despite being installed already. We can improve the script by adding a log

[2020-09-05 16:15] #78286 closed

[2020-09-05 16:22] answer1991 commented on #94532
`TestGOAWAYConcurrency` data race is caused by golang http/http2 pkg, I have already opened an issue [#41234](https://github.com/golang/go/issues/41234) at golang repo.

I will continue to debug `TestClientReceivedGOAWAY/combine_with_watch-with-goaway` tomorrow.

[2020-09-05 16:25] answer1991 commented on #91131
I think we should re-open this issue because of https://github.com/golang/go/issues/41234 .

/re-open

[2020-09-05 17:55] brianharwell commented on #94533
I have been able to reproduce the issue during a rolling deploy as well as scaling up or scaling down.

I have a startup probe ensuring IIS is available.

I am running Windows Server 2019 with kernel 1809

[2020-09-05 18:08] liggitt commented on #79610
not currently

[2020-09-05 18:11] knight42 commented on #94532
another case: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/94556/pull-kubernetes-bazel-test/1302300454738202625
[code]

[2020-09-05 18:31] answer1991 commented on #94532
For `TestClientReceivedGOAWAY` case, change `tc.expectConnections != len(localAddr)` to be `tc.expectConnections > len(localAddr)` would be a solution:

https://github.com/kubernetes/kubernetes/blob/74053d555d71a14e3853b97e204d7d6415521375/staging/src/k8s.io/apiserver/pkg/server/filters/goaway_test.go#L376-L379

But I would rather figure out why client will set-up the additional TCP connections.

[2020-09-05 18:34] liggitt commented on #94558
This is currently working as designed, so it's not clear this is a bug.

[2020-09-05 18:43] liggitt commented on #94452
What was the output of the apiserver process when it was failing to start?

[2020-09-05 18:59] sirpeanut opened #94563 "Source IP not preserved with externalTrafficPolicy=Local on 1.19"
**What happened**:
I'm following the guide here, trying to preserve the source IP:
https://kubernetes.io/docs/tutorials/services/source-ip/

I've tried both the NodePort and LoadBalancer examples, and in both cases, even after setting externalTrafficPolicy to Local, the source IP is not preserved. Specifically, the echoserver returns client_address=IP of Kubernetes node, rather than client_address

[2020-09-05 19:01] sirpeanut commented on #94563
/sig network

[2020-09-05 19:09] #94545 closed

[2020-09-05 19:39] sirpeanut commented on #94563
Going deep down a rabbit hole here, but wondering now if maybe this could be a bug in microk8s? Looks like this used to be a problem there but was supposedly fixed months ago...

Specifically I found my way through projectcalico/calico#2999, ubuntu/microk8s#276, and ubuntu/microk8s#956 to ubuntu/microk8s#1139, which looks similar to what I'm experiencing, but was marked fixed in May.

I'm wonderin

[2020-09-05 19:43] sirpeanut commented on #94563
I just found an issue (above) against microk8s that sounds very similar to this. I'm very confused now, though - I can't tell whether it's microk8s, MetalLB, Kubernetes, Calico, Flannel, or something else that's at fault here :)

[2020-09-05 22:44] jingxu97 commented on #94108
@travisghansen  For question 2, because I see the log you provided
[code]

This means that kubelet invokes UnmountDevice right after UnmapVolume, which is the normal workflow. UnmountDevice should trigger csi.NodeUnstageVolume on the driver. So I don't why the driver does not receive this request. Could you check your driver log that during this period of time, what logs did it have?

[2020-09-05 23:45] travisghansen commented on #94108
Wires are getting crossed. I didn’t submit this issue so those are not my logs. My problem is similar but slightly different.

In my case unstage is not getting called at all until pvc delete which is slightly different from the author who is saying that unstage is getting invoked but delete is not waiting for it to complete successfully.

Sorry for the confusion. We can create a new issue if that

[2020-09-06 01:29] liggitt commented on #94550
The CLI documentation is saying to set it to 0 to disable, and that the default is still 10255.

[2020-09-06 02:36] wawa0210 commented on #94533
like this doc https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

In fact, I have another question. You can try to set the replicas of deployment to be greater than 1 and try again

[2020-09-06 02:39] pacoxu commented on #94547
/assign

[2020-09-06 02:44] liggitt opened #94567 "[Flaky unit test] pkg/kubelet/volumemanager/reconciler Test_UncertainVolumeMountState"
**Which jobs are flaking**:

* bazel-test-master
* ci-kubernetes-cached-make-test

**Which test(s) are flaking**:

Test_UncertainVolumeMountState

**Testgrid link**:

Top unit test flake in postsubmits:

https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master&width=20&sort-by-name=&include-filter-by-regex=pkg/kubelet/volumemanager/reconciler/go

https://testgrid.k8s.io/sig-testing-ca

[2020-09-06 02:47] liggitt opened #94568 "[Flaky unit test] Test_Run_Positive_VolumeMountControllerAttachEnabledRace data race"
**Which jobs are flaking**:

**Which test(s) are flaking**:

periodic-kubernetes-bazel-test-master (xref https://github.com/kubernetes/kubernetes/issues/94528#issuecomment-687208028)

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master&width=20&sort-by-name=&include-filter-by-regex=pkg/kubelet/volumemanager/reconciler/go

**Reason for failure**:

[code]

**Any

[2020-09-06 03:09] liggitt opened #94569 "[Flaky unit test] TestEventSeriesf timeout"
**Which jobs are flaking**:

periodic-kubernetes-bazel-test-master (xref https://github.com/kubernetes/kubernetes/issues/94528#issuecomment-687208028)

**Which test(s) are flaking**:

k8s.io/client-go/tools/events TestEventSeriesf

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master&width=20&sort-by-name=&include-filter-by-regex=k8s.io/client-go/tools/events/g

[2020-09-06 03:26] #89951 closed

[2020-09-06 04:27] #89949 closed

[2020-09-06 04:30] goyalmayankk commented on #94417
cc @janetkuo

[2020-09-06 05:13] nick-cromwell commented on #89898
I'm also seeing this 3+ times a day after upgrading my cluser to 1.16.11-gke.5 on GKE a few weeks ago. I ignored it for a while but the past few days I've been running load tests against my services with k6 and I'm seeing sporadic latency in my cluster. I'm beginning to think it's related.

After a full day spent trying to narrowing it down I can confirm the latency is any network connection betwe

[2020-09-06 06:18] vsxen commented on #94525
Too many open file？
The Dockerd seems had some questions。

[2020-09-06 06:43] unixfox commented on #2630
/remove-lifecycle stale

[2020-09-06 07:37] LeoWenxiang commented on #71647
@BedivereZero It's the Node OOM not the Pod OOM ？ and why kubelet cannot update node status after the OOM.

[2020-09-06 08:10] knight42 commented on #94569
/assign

[2020-09-06 08:40] knight42 commented on #94528
filed #94570 to address this issue.

[2020-09-06 08:40] knight42 commented on #94569
filed #94570 to address this issue.

[2020-09-06 12:02] HFeilx opened #94571 "..\pkg\mod\k8s.io\client-go@v11.0.0+incompatible\kubernetes\scheme\register.go:26:2: module k8s.io/api@latest found (v0.19.0), but does not contain package k8s.io/api/auditregistration /v1alpha1"
..\pkg\mod\k8s.io\client-go@v11.0.0+incompatible\kubernetes\scheme\register.go:26:2: module k8s.io/api@latest found (v0.19.0), but does not contain package k8s.io/api/auditregistration
/v1alpha1
---------------------------------------------------
module test-client-go

go 1.15

require (
	github.com/google/gofuzz v1.2.0 // indirect
	github.com/googleapis/gnostic v0.5.1 // indirect
	github.com/imda

[2020-09-06 12:22] liggitt commented on #94571
You need to use matching levels of client-go and api/apimachinery libraries. See https://github.com/kubernetes/client-go/issues/862#issuecomment-686790080

[2020-09-06 12:22] #94571 closed

[2020-09-06 12:23] liggitt commented on #94548
Job is solidly green again

[2020-09-06 12:23] #94548 closed

[2020-09-06 13:35] jayunit100 commented on #93932
/assign @robscott  I think you mentioned you would forward this to the right folks in the sig-network call ?

[2020-09-06 13:37] jayunit100 commented on #93842
can we remove sig-network from this ? looks like some kind of miscommunication between the Kubelet and the APIServer draining the node.

[2020-09-06 13:39] jayunit100 commented on #94538
So, there is a KEP in flight to move this out of tree, I think ? https://github.com/kubernetes/enhancements/pull/866 ... Maybe it would be best to collaborate on getting that KEP to finish moving forward ?

[2020-09-06 13:47] jayunit100 commented on #94522
Intersting...

- So, the *nodes* themselves, cannot ping each other....
- Are we then postulating here that *kubernetes* is causing network issues in your infrastructure ?
- What happens if you *uninstall* kubernetes from this cluster, does the network issue still persist?

It seems like the errors your seeing are somehow related to ubuntu.  But your right it is interesting that you only see this

[2020-09-06 13:58] mattfenwick commented on #94561
@rmazzine I'm not super familiar with ffmpeg -- can you elaborate on what your command is supposed to do?

 - is it trying to send data out of your kube pod to somewhere else?  I wonder if doing something which kubernetes doesn't support
 - is it supposed to create a server for something else to access?  -->> in this case [a service](https://kubernetes.io/docs/concepts/services-networking/service/

[2020-09-06 14:00] jayunit100 commented on #94563
I didn't read all of the details, but I spent a few minutes on this - it seems at a high level like
- your having a Loadbalancer issue
- your not using GCE or AWS or NSX any  cloud with a core load balancer implementation that is in tree , thus its not a bug in the k8s codebasee
- you *are* using MetalLB, though.

I think its metallb's job to *implement* the externalTrafficPolicy=local semantic.

[2020-09-06 14:59] sirpeanut commented on #94563
So, maddeningly, this no longer reproduces for me after rebooting the machine running this node. :/ No idea what happened, but I don't think it makes sense to pursue this further at this point. Thanks for your help!

[2020-09-06 14:59] #94563 closed

[2020-09-06 15:02] rishabh625 opened #94575 "Unable to reach core dns servers"
HI,
Facing below issue,

Unable to reach dns servers , but works when well when dns pod IP is given

[code]

But works when coredns IP is given
[code]
Core Dns is running
[code]
Service Cidr and Pods Cidr are not overlapping

**Environment**:
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                8
On-line CPU(s) list:   0-7

[2020-09-06 15:05] An0nymous0 opened #94576 "error execution phase wait-control-plane: couldn't initialize a Kubernetes cluster"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
kubeadm init
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.19.0
- Cloud provider or hardware configuration: raspberry-pi-4
- OS (e.g: `cat /etc/os-release`): Ubuntu 20.04.1 LTS arm64
- Kernel (e.g. `uname -a`): Linux

[2020-09-06 15:08] rishabh625 commented on #94575
/sig network

[2020-09-06 15:08] rishabh625 commented on #94575
/triage support

[2020-09-06 15:10] mlycore commented on #94417
Hi. It could be find out that every Job created by your CronJob had been executed for 5 times, just as the Job.Spec.Completions indicated.

[code]

[2020-09-06 15:14] mlycore commented on #94293
In my opinion, that's `timed out waiting for dependency graph builder sync during GC sync (attempt 21111)`  issue. Kube-controller-manager couldn't find out the dependency of your Job and Pod. It's weird, but maybe you could check Pod.OwnerRefernece and Finalizer settings.

[2020-09-06 15:16] mlycore commented on #93578
I met samilar issue on my eks cluster occasionally.

[2020-09-06 15:18] azalio commented on #94293
In my case, I have checked that.
I think too it was too many resources that caused a timeout.

[2020-09-06 15:23] mlycore commented on #93019
I think Pod identity is important. Since if there are 3 Pods shareing 1 PersistentVolume, this won't be a problem. But If 3 Pods mounted 3 difference PersistentVolume, how does a fresh Pod know which PersistentVolume shoud it be mounted?

[2020-09-06 15:38] cvvz opened #94577 "StatefulSet status is not correct in a certain situation."
**What happened**:
I tried to rolling upgrade and scale out a StatefulSet at the same time. The new revision Pod is created at once, but for some reason, the deletion request of the old revision Pod  is refused by ValidatingWebhook for a long time. Before the deletion request admited by ValidatingWebhook, the status of StatefulSet keeps no change.

**What you expected to happen**:
The status of St

[2020-09-06 16:39] #89932 closed

[2020-09-06 17:03] goyalmayankk commented on #94417
Hi @mlycore,

In the case of Job.spec.completions if I am using completion=5 **then only 5 pods are running not more than that (job ends).**
 Please see this example with output:-
code:-
apiVersion: batch/v1
kind: Job
metadata:
  name: job1
spec:
  template:
    spec:
      containers:
        - name: mycont
          image: alpine
          command: ["/bin/sleep"]
          args: ["25"]
      res

[2020-09-06 17:27] dewanymca commented on #72811
Is there any update on this, we are also struggling with this and HPA kicking based on request looks bit weird.

[2020-09-06 17:42] kiyoshim55 opened #94579 "kubectl alpha debug fails with "panic: runtime error: index out of range""
**What happened**:
When using `kubectl alpha debug` to create a debug container for a pod that has multiple init containers or ephemeral containers, `kubectl alpha debug` fails with `panic: runtime error: index out of range`.
[code]

**What you expected to happen**:
`kubectl alpha debug` should create a debug container in pod `myapp-pod` successfully.

**How to reproduce it (as minimally and preci

[2020-09-06 17:50] kiyoshim55 commented on #94579
I have investigated this issue and it looks like this issue happens in the following cases.
- When using `kubectl alpha debug` without `-c, --container=''` option
- When using `kubectl alpha debug` with `--copy-to=''` option

In those cases, the containerNameToRef function is called and each for-loop in the function refers to the same `&pod.Spec.Containers[i]` despite the range is `pod.Spec.Contai

[2020-09-06 18:00] kiyoshim55 commented on #94579
cc @seans3 @mengqiy If this issue needs to be fixed, I would like to work on this.

[2020-09-06 18:05] neolit123 commented on #94523
/close

[2020-09-06 18:05] #94523 closed

[2020-09-06 18:05] neolit123 commented on #94577
/sig apps

[2020-09-06 18:20] neolit123 commented on #94562
the used command is:
[code]

https://github.com/kubernetes/kubernetes/blob/master/hack/verify-golint.sh#L36-L40

calling it multiple times should reuse the already installed tool.

by adding `exit 0` here:
https://github.com/kubernetes/kubernetes/blob/master/hack/verify-golint.sh#L41

i confirm that this work as expected and golint is not downloaded / rebuild on each run of the script.

/remove-ki

[2020-09-06 20:43] #90009 closed

[2020-09-06 20:47] gnufied commented on #89281
/reopen
/remove-lifecycle rotten
/assign

[2020-09-06 21:10] ialidzhikov commented on #94525
/sig node

[2020-09-07 01:16] yuguorui commented on #59110
Thanks for your advice!

[2020-09-07 01:37] jayunit100 commented on #94575
Hi ! So do you think something is wiping out or messing with your IPTables rules maybe?    Two diagnostic questions...

1) What happens if you  run `kubectl exec -i -t dnsutils -- nslookup ww.google.com <COREDNS_SERVICE_IP>`?  If this *also* fails then maybe its a kube-proxy issue where the iptables rules aren't working the right way.

2) Which conformance tests (`sonobuoy run --e2e-focus "Conform

[2020-09-07 02:17] zhouya0 commented on #94528
Can I try to work on  k8s.io/legacy-cloud-providers/vsphere ?

[2020-09-07 02:38] yanghaichao12 opened #94583 "Inotify:memory leak due to blocked operation"
**What happened**:
i wrote a shell：
[code]
then the kubelet's RSS increases continuously and does not release，
i make some trace and found some watched objects have never been released  even these objects have not existed in real word
https://github.com/kubernetes/kubernetes/blob/16ea9dc6bc260c37589e6b104a47009680c26772/vendor/k8s.io/utils/inotify/inotify_linux.go#L103-L104

i notice the fucntion

[2020-09-07 02:40] yanghaichao12 commented on #94583
/sig node
/area kubelet

[2020-09-07 02:41] yanghaichao12 commented on #94583
/triage unresolved

[2020-09-07 03:55] #94077 closed

[2020-09-07 04:03] bryanchang15 commented on #94558
@liggitt Just to give an idea, I think the context of http health checks is totally different with the context of http hooks, though they looks similar at first time.

In http health checks, kubelet would only call a method that is exposed by the target container (if not, we can add constraints in the implementation level) and this is safe in some ways.

In http hooks, kubelet should be capable to

[2020-09-07 04:29] meezaan commented on #72811
I haven't written or looked at the Kubernetes code, but I imagine because pods are scheduled based on requests, scaling on limits may not make a lot of sense and will certainly not be very trivial.

As I understand from having read about this over the last many weeks and tried many different variations over the last couple of years, the limit should be there for you to be able to handle a traffic

[2020-09-07 04:54] BedivereZero opened #94584 "kubeadm reset with docker, containers are killed instead of exiting normally."
**What happened**:
Run `kubeadm reset` on a work node of kubernetes. Containers are killed, instead of exiting normally. Some resources are not released such as vips created by keepalived.

**What you expected to happen**:
The container exits properly so that system resources are released correctly

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?

[2020-09-07 04:55] lyveng commented on #16967
Using taints works. But by default certain tolerations are added for all daemonset pods - [docs](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#taints-and-tolerations). If you add any taint that is other than the default tolerations of a daemonset pod, deleting the pod does not schedule on it again.

[2020-09-07 04:58] inductor opened #94585 "Server Side Apply does not detect Deployment Replicas conflict after applying HPA with different replica number"
**What happened**:
Deployment resource with replicas is handled differently in client side and server side apply with HPA

**What you expected to happen**:
With HPA, Deployment should not have `replicas` and server side apply should detect the conflict. HPA controller does not seem to manege the replica field with mangedFields.

**How to reproduce it (as minimally and precisely as possible)**:

ht

[2020-09-07 05:00] inductor commented on #94585
/sig autoscaling

[2020-09-07 05:06] knight42 commented on #94528
@zhouya0 please feel free to take it

[2020-09-07 05:25] zedtux commented on #59343
/remove-lifecycle stale

[2020-09-07 05:36] nandeeshb09 commented on #94525
@vsxen  is it because of more number of open files?.

[2020-09-07 06:20] wojtek-t commented on #94477
@liggitt Yes and no :-)
They technically set the limit (reflector always sets it), but it is then ignored in watchache if RV="":
https://github.com/kubernetes/kubernetes/blob/02cf58102a61b6d1e021e256381ff750573ce55d/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L656

I agree with @MikeSpreitzer that we should NOT block unchunked list operations.
That said, I'm not convinced they really

[2020-09-07 07:16] raelga commented on #90132
/remove-lifecycle stale

[2020-09-07 08:03] saschagrunert commented on #94538
Thank you for the link to the KEP. I'll give it a look.

[2020-09-07 08:08] amitainz commented on #72597
I'd like this feature too.

[2020-09-07 08:17] xilu0 commented on #87198
I have the same issue as well, the cluster deployed by the kubeadm.

[2020-09-07 08:24] zhouya0 commented on #94528
But soon I found the race condition in `k8s.io/legacy-cloud-providers/vsphere`  relates to `runtime.SetFinalizer` and a little bit hard for me. I'll  leave this to others :(

[2020-09-07 08:33] #93608 closed

[2020-09-07 08:40] ufou commented on #94522
Thanks for your response!

Not quite, high packet loss is introduced - TBH I've not actually run tests from 16.04 -> 16.04 k8s node while the 18.04 node is added to the cluster - I've been focused on 16.04 -> 18.04 and 18.04 -> 16.04 traffic flow - both TCP and ICMP appear affected

It's where I'm at right now, purely because of testing various kernels and switching network daemons with the same r

[2020-09-07 09:01] mm4tt commented on #94473
/assign

[2020-09-07 09:12] Larry1314 commented on #54542
fixed for me after running the following cmd
[code]

[2020-09-07 09:29] mogaika commented on #87198
@xilu0 Network plugin?

[2020-09-07 09:31] wojtek-t commented on #94569
https://github.com/kubernetes/kubernetes/pull/94570 contains the correct analysis of flakes (thanks a lot!), I commented on way of fixing it (which I'm not convinced about).

[2020-09-07 09:37] xilu0 commented on #87198
@mogaika Thank you for responding to my message, I use calico and I find the reason that needs to set allow_ip_forwarding in calico-config.
![image](https://user-images.githubusercontent.com/23609955/92373330-c12e9080-f130-11ea-8df4-1c00281ffc8c.png)

[2020-09-07 09:54] knight42 commented on #72597
I would like to work on it.
/assign

[2020-09-07 10:05] mogaika commented on #87198
@xilu0 can you confirm that ```"allow_ip_forwarding": true``` worked for you? Or issue still persists?

[2020-09-07 10:08] aojea commented on #94505
/cc

[2020-09-07 10:10] aojea commented on #94487
/cc

[2020-09-07 10:21] #94473 closed

[2020-09-07 10:30] aojea commented on #94349
@ScrapCodes this is a duplicate of https://github.com/kubernetes/kubernetes/issues/91236

/close

[2020-09-07 10:30] #94349 closed

[2020-09-07 11:21] ialidzhikov opened #94590 "There is no event for failed ensure load balancer operation"
**What happened**:
When an ensure load balancer operation fails, no event is created for the failure.

**What you expected to happen**:
I would expect when ensure load balancer operation fails, an appropriate event to be available for the service.

**How to reproduce it (as minimally and precisely as possible)**:

1. Apply a Service of type LoadBalancer

[code]

2. Ensure load balancer operation f

[2020-09-07 11:22] ialidzhikov commented on #94590
/sig cloud-provider
/area provider/azure

[2020-09-07 11:30] Lion-Wei commented on #94356
Hi, @aojea , turnout this is because mark drop rule in `KUBE-MARK-DROP` be deleted, I raied a pr to fix this issue, PTAL. : )

[2020-09-07 11:50] knight42 commented on #72597
hmm I think this might arise some security concerns, i.e. accidentally expose sensitive service to the outside world without any authentication. I would only continue to work on this if @kubernetes/sig-cli-maintainers confirm that this is a feature that we really want.

/unassign

[2020-09-07 11:57] nilsonsfj commented on #72597
I find it interesting how a seemingly standard SSH feature available everywhere can spark so much uncertainty and controversy and basically be put off for almost 2 years now.

[2020-09-07 12:22] zxiaozhou opened #94592 "PVC manually created when DefaultStorageClass is turned on cannot bind to PV"
**What happened**:
PVC manually created when DefaultStorageClass is turned on cannot bind to PV.
What the PVC log sees is that the SC with the default storage is called to create the PV
1. Not open DefaultStorageClass
![image](https://user-images.githubusercontent.com/62740686/92386894-3c02a600-f147-11ea-9a6c-f7f8d932ad0c.png)

2. open DefaultStorageClass
![image](https://user-images.githubusercon

[2020-09-07 12:40] ialidzhikov commented on #94592
/sig storage

[2020-09-07 13:03] ScrapCodes commented on #94520
I am wondering, that fix is already there in the master since may 1. And this is also testing the master branch, how could this happen in-spite of that fix. Will dig deeper.

[2020-09-07 13:04] knight42 commented on #94520
This is a skew test, which means we are running the old code.

[2020-09-07 13:08] george-angel commented on #64616
/remove-lifecycle stale

[2020-09-07 13:21] hallgeirl commented on #87199
/remove-lifecycle stale

[2020-09-07 13:26] jayunit100 commented on #93397
thanks for getting this taken care of @swetharepakula  :) looks like the PR is LGTM.

[2020-09-07 13:28] mtsmfm opened #94593 "Can't use properties with additionalProperties for custom resource validation"
**What happened**:

[code]

[code]

**What you expected to happen**:

`kubectl apply -f staging/src/k8s.io/sample-controller/artifacts/examples/crd-validation.yaml` finishes successufully.

**How to reproduce it (as minimally and precisely as possible)**:

Create the following yaml and apply it.

[code]

**Anything else we need to know?**:

It seems this validation is implemented in https://github

[2020-09-07 14:11] #94569 closed

[2020-09-07 14:35] jkaniuk commented on #94450
Change of permission did not help:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/94565/pull-kubernetes-e2e-gce-100-performance/1302799367324831744/

[2020-09-07 14:38] rmazzine commented on #94561
Hello @mattfenwick, thansk for your reply!

The specific ffmpeg function I was trying to use was the stream (in this case a video/audio file) from a server and save the stream in the local environment.

Something similar to:

[code]

I am using that to get a video stream from a DVR (that is connected to some security cameras).

However, I tried to replicate this error with:

- A non-authenticated

[2020-09-07 14:38] #94561 closed

[2020-09-07 14:44] praneshshzl commented on #77310
If anyone uses windows pods, it may be hard to get files copied to the pods from local machine with those linux paths for kubectl cp command:

Procedure to copy files from local machine to kubernetes pod: (especially windows container)

I want to copy node.aspx from my local machine to podname:\c:\inetpub\wwwroot
First upload Node.aspx to your cloud drive, path will be /home/{your_username} in my

[2020-09-07 14:54] grosser commented on #94477
Cost sounds like a super neat extension to fairness and would encourage
users to request as little as possible :)

On Sun, Sep 6, 2020 at 11:20 PM Wojciech Tyczynski <notifications@github.com>
wrote:

[2020-09-07 15:17] mayankshah1607 commented on #86024
/assign

[2020-09-07 16:00] liggitt commented on #94593
This is working as intended. custom resource definition validation is a subset of openapi v3. additionalProperties validation is intended for use with map[string]string type fields where the property names are not fixed, not for struct-type fields with fixed property names.

See https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#validation for details:

[2020-09-07 16:00] #94593 closed

[2020-09-07 16:02] #89483 closed

[2020-09-07 16:52] brianharwell commented on #94533
I tried from 1 to 20 replicas and the issue still remains. After reading [this](https://blog.gruntwork.io/zero-downtime-server-updates-for-your-kubernetes-cluster-902009df5b33) I am using a combination of a readiness probe and a `preStop` hook to remove the pod from the service before Kubernetes terminates it. This should be core logic. When a pod is scheduled for termination the first thing Kuber

[2020-09-07 16:54] MikeSpreitzer commented on #94477
If we introduce a concept of cost into API Priority and Fairness, how would it fit in?

We have briefly discussed the idea of having the initial estimate of execution duration be a function of the request rather than a constant.  But that will not make a long-term difference; the errors in the initial estimates are corrected for once the actual execution durations are known.

[2020-09-07 17:28] jayunit100 opened #94598 "Update agnhost nc version, add support for SCTP to TestJig"
**What would you like to be added**:

- functionality for TestJig fixture might be able to be reused in var (example #91592)  (example #91592) ious emerging fixture based tests and the jig.go file should unify the functions under the Jig struct (so as to be able to add defensive checks in tests and so on that use the client of the jig).
- functionality to the agnhost to support sctp via newer nc v

[2020-09-07 17:28] jayunit100 commented on #94598
/sig network

[2020-09-07 17:28] jayunit100 commented on #94598
/assign

[2020-09-07 17:29] jayunit100 commented on #94598
/triage-resolved

[2020-09-07 19:47] mlbiam commented on #89163
/remove-lifecycle stale

i'm still working on this.  will hopefully get back to this in the next week or so

[2020-09-07 20:47] grosser commented on #94477
Initially it would be a estimation, but the api-server could keep a record
of "list pods takes x" and then use that going forward

On Mon, Sep 7, 2020 at 9:54 AM Mike Spreitzer <notifications@github.com>
wrote:

[2020-09-07 22:08] #61005 closed

[2020-09-07 23:12] verult commented on #93902
I think in general it'd be good to avoid issuing unnecessary calls wherever possible, given that we can't always verify a driver call is idempotent

[2020-09-08 00:12] jmillikin-stripe commented on #94505
I did some testing with the above fixes, but didn't have much success. I added some debugging prints and now suspect the issue isn't in `EndpointSlice` itself -- it seems like the `Service` resource is being persisted incorrectly.

The service YAML is:
[code]

but what I get back from `kubectl get service -o yaml` does not have the `ipFamily` field set. This is surprising because there was no erro

[2020-09-08 00:46] jmillikin-stripe commented on #94505
confirmation: I added the following diff to our local patch set, and newly created services result in `EndpointSlice` resources with IPv6 addresses:
[code]

We'll probably carry this patch until the `IPv6DualStack` feature gate has reached beta, then enable the feature and drop the patch.

[2020-09-08 02:34] djjayeeta commented on #92287
/cc

[2020-09-08 02:46] mtsmfm commented on #94593
I got it. Thank you for pointing out.

[2020-09-08 02:49] erain commented on #92731
All the recent runs of the tests have been failing: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-sd-logging

Root cause was: [withLogProviderForScope](https://github.com/kubernetes/kubernetes/blob/6b388f06845009b8bd9963a8bd0796189b679486/test/e2e/instrumentation/logging/stackdriver/utils.go#L432-L444) expected that there should be one [fluentd-gcp](https://g

[2020-09-08 03:01] erain commented on #76873
Looks like this is really old.

I search the current `HEAD` and the only place I found the flag `resource-container` is in the [1.16 CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/C:HANGELOG-1.16.md) which said the `resource-container` flag has been deprecated.

So I think this issue is not relevant anymore and we can close it.

[2020-09-08 03:01] erain commented on #76873
/close

[2020-09-08 03:08] gaorong commented on #90159
/remove-lifecycle rotten

[2020-09-08 03:20] adtac opened #94601 "new scheduler_perf framework: add a deleteNodes op?"
Note: this issue should be viewed in the context of #93252.

**What would you like to be added**: A `deleteNodes` op in the new scheduler_perf framework would be nice to have.

**Why is this needed**: We can currently create additional nodes in scheduler_perf tests. The opposite direction (decreasing the number of nodes available) isn't supported however. Having this would allow us to test perform

[2020-09-08 03:20] gaorong commented on #92406
This would be a great helpful feature not only for performance but also for high-availability, https://github.com/kubernetes/kubernetes/issues/90159 also have some discussion related to this issue from high-availability perspective.

[2020-09-08 03:59] #94113 closed

[2020-09-08 04:01] tengqm opened #94602 "core v1 Event API needs improvement?"
**What happened**:

[code]

When creating the above resource (for testing), I'm getting this:

[code]

After checking the source code (https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L4569-L4576):

[code]

The declaration says metadata is optional, which is wrong.  So the API spec generated is wrong.

The declaration of `InvolvedObject` is contradictary. It is both "Req

[2020-09-08 05:11] tengqm commented on #94602
/sig api-machinery

[2020-09-08 05:39] ankushganatra commented on #68083
Any solution for the above issue? I am facing similar issue

[2020-09-08 06:00] wojtek-t commented on #94477
It would prevent us from accepting too much at the same time.
Imagine that your allowed concurrency is say 100 (it's what the infra can handle). So then we can accept 100 requests of "list all pods", which can actually significantly overload both etcd and kube-apiserver. I agree that eventually the initial estimated would be corrected, but that may already be too later for any corrections because

[2020-09-08 06:13] xilu0 commented on #87198
It works for me. thanks

[2020-09-08 06:55] laoyao-ch commented on #78965
楼i主，你好，可以公布一下你这儿的解决方法吗？

[2020-09-08 06:58] zeromsi opened #94604 "How to assign a range of ip to my pods under a namespace?"
I want to make sure, my pods under a namespace are assigned a specific ip addresses. Can anyone help me on how may I do this!

/sig network

[2020-09-08 07:24] zhugejingcheng commented on #94096
yes，you are right , but this pv build by pvc,and i do not modify pvc and pv any