[2017-12-12 18:57] discordianfish opened #57109 "kube-proxy should not be "ready" if it can't reach the apiserver"
/kind feature

**What happened**:
When for whatever reason kube-proxy can't reach the apiserver, it retries but the pod stays in ready state.

**What you expected to happen**:
kube-proxy should fail or have a health check that would indicate such issues.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8.4

[2017-12-12 19:05] runcom commented on #57005
fixed in packaging yeah, from 1.8 we moved to "/var/run/crio/crio.sock" so you need to start kubelet with that socket path

[2017-12-12 19:17] dchen1107 commented on #57005
Discussed at sig-node earlier today, and this is not a release blocker. Also like @derekwaynecarr mentioned above, the issue was fixed in the packaging.

[2017-12-12 19:21] discordianfish commented on #57109
/sig api-machinery
(I assume?)

[2017-12-12 19:27] JiangtianLi opened #57110 "Windows Kubelet.exe fails to start on VMWare Fusion due to GetPhysicallyInstalledSystemMemory fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Windows kubelet.exe uses GetPhysicallyInstalledSystemMemory to get physical memory installed on Windows machine and reports it as part of node metrics to heapster, etc. On VMWare Fusion, GetPhysicallyInstalledSystemMemory fails to read data from SMBIOS firmware tables and returns error code 0x0d. That causes kubelet.exe o

[2017-12-12 19:28] saad-ali commented on #56920
Chakri could you clarify? Isn't `FlexVolumeSource` already part of v1 (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L308)?

[2017-12-12 19:29] JiangtianLi commented on #55031
@PatrickLang  @trondhindenes I have filed an issue https://github.com/kubernetes/kubernetes/issues/57110
@marono Seems you are blocked. I will fix it for you.

[2017-12-12 19:30] verult commented on #56920
Are you referring to the documentation for FlexVolumeSource here? https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L306

[2017-12-12 19:31] ceridwen commented on #54815
swagger-codegen validate outputs this gist: https://gist.github.com/ceridwen/959e120514e8e07d2a84de67b8f7437b  If swagger-cli is correct and the spec is valid, that means there are bugs in swagger-codegen and potentially other libraries.  Is this something I should take to them?

[2017-12-12 19:32] marono commented on #55031
Yes, please do, sorry for the lack of activity on this one, I was away for a bit...

[2017-12-12 19:33] saad-ali commented on #56920
Ah ok! I would support change this documentation (comment on FlexVolumeSource) for 1.9 to drop alpha wording. Please reach out to the release team to see if they will allow this change (since it is just a documentation change it is very low risk).

[2017-12-12 19:34] saad-ali commented on #56920
I will mark it for 1.9, the release team can choose to remove it if it is too late.

[2017-12-12 19:34] JiangtianLi commented on #55031
@marono No worry. Thanks for reporting and helping me debug at the first place.

[2017-12-12 19:35] derekwaynecarr commented on #57005
/priority critical-urgent
/kind bug
/sig node
/status approved-for-milestone

[2017-12-12 19:36] derekwaynecarr commented on #57005
/status in-progress

[2017-12-12 19:37] redbaron commented on #50451
Choosing pods in a namespace is quite useful for Egress control, more specifically allowing things like kube-dns to be accessible, without enabling access to other pods. Of course, locking ports helps, so even trusting whole kube-system doesn't open access to an apiserver, but locking ports AND pod would be even better :)

[2017-12-12 19:41] michmike commented on #57110
this will likely get fixed after 1.9 is released

[2017-12-12 19:45] JiangtianLi commented on #57110
@michmike Sure, I am fixing it. Unfortunately it missed the 1.9 train.

[2017-12-12 19:45] discordianfish opened #57111 "kube-dns returns NXDOMAIN when not yet synced with apiserver"
**What happened**:
when kube-dns has not yet synced with the apiserver, it return NXDOMAIN for all cluster names

**What you expected to happen**:
It should return SERVFAIL

**Anything else we need to know?**:
NXDOMAIN is the wrong status. It even can be cached by downstream DNS servers.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8.4

[2017-12-12 19:55] mikedanese commented on #55633
This would be a lot easier to fix if cloud node controller registered an initializer on the node object.

[2017-12-12 19:58] KIVagant commented on #49445
This problem could be really critical if one has the Kubernetes dashboard installed. If for some reasons the `kubernetes-dashboard` service recreates AWS ELB, the related security group will be recreated as well and then botnets could find the ELB and [attack your cluster](https://info.redlock.io/hubfs/WebsiteResources/RL_Cloud_Security_Trends_Oct_2107.pdf?t=1507325492499).

[2017-12-12 19:59] danehans commented on #49480
@dixudx what needs to be done to close this issue? The 1.9 burndown https://github.com/kubernetes/sig-release/issues/38#issuecomment-351132900 is highlighting this issue:

an "owner" who is going to make sure that the deploy & packaging changes happen. There have been
some updates on this, but a critical outstanding issue is making sure that people can still install version 1.8 with the correct CN

[2017-12-12 20:00] liggitt commented on #55633
I don't think that's necessarily true... reacting to address changes in the Node API object isn't likely to be a frequent thing... the hard change is reordering the kubelet startup

[2017-12-12 20:17] cheftako commented on #56357
I believe 1.9.1 is correct.

[2017-12-12 20:18] ajbouh commented on #25908
I ended up writing a simple script that watches the kubernetes API and terminates jobs with a matching annotation and whose main container has exited. It's not perfect but it addresses core need. I can share it if people are interested.

[2017-12-12 20:20] resouer commented on #53812
@yastij I added the milestone, while updating your recent progress status would be helpful here.

[2017-12-12 20:23] enisoc commented on #56879
@BenTheElder any ideas on the above? -^

[2017-12-12 20:53] smarterclayton commented on #57061
We are fairly sure this is that issue.

[2017-12-12 20:54] smarterclayton commented on #47131
Note that #57061 very likely to be https://github.com/grpc/grpc-go/pull/1005, which was fixed after v1.0.4.  Users on Kube 1.6 or 1.7 would be broken against etcd 3.2 servers at very large loads.

[2017-12-12 21:00] MikeSpreitzer commented on #57105
There are a total of three relevant command line flags --- `--default-watch-cache-size`, `--watch-cache`, and `--watch-cache-sizes` --- and the syntactic help generated from the code does not tell a new administrator what she needs to know in order to use these flags well.  There needs to be documentation about the semantics of watch caching in general, how these three flags interact with each oth

[2017-12-12 21:08] verb commented on #50865
The plan is to build a new version of pause-amd64 and then update the image referenced by Kubernetes. This means the default image will change in the next Kubernetes release.

We can make the new image available once the freeze lifts and we can merge #56762.

[2017-12-12 21:16] vladimirvivien opened #57115 "CSI internal driver: mounter not passing fsGroup"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When `fsGroup` is specified in a `securityContext`, the value of the fsGroup is not passed to the CSI driver to properly setup ownership.

**What you expected to happen**:
The value of the `fsGroup` should be applied to the mounted path.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a Pod simila

[2017-12-12 21:17] vladimirvivien commented on #57115
/sig sig/storage

[2017-12-12 21:17] vladimirvivien commented on #57115
/sig storage

[2017-12-12 21:25] redbaron commented on #57061
Do you know if it can happen on >1.7 and   > 3.2.9?

[2017-12-12 21:36] discordianfish commented on #57111
/sig network

[2017-12-12 21:42] bowei commented on #33554
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network/pod-resolv-conf.md

This feature is in 1.9 as alpha

[2017-12-12 21:49] krousey commented on #56879
This was a wild good chase. That message doesn't mean it's running all the specs... it's just the reporting is changed slightly for parallel runs... I think.

[2017-12-12 21:50] chrislovecnm commented on #54511
Hey all, just created https://github.com/kubernetes/test-infra/issues/5916 which outlines some modifications for running kops HA e2e.  So we will have a test run to add new HA tests too.

[2017-12-12 21:59] rhymoid opened #57117 "libpq-based PostgreSQL clients will no longer read a PGPASSFILE mounted from a secret"
/kind bug

**What happened**: libpq refuses to load my PGPASSFILE, resulting in "no password provided" error messages.

**What you expected to happen**: libpq reads the database password from the PGPASSFILE I'm pointing to.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a secret, containing [a `.pgpass` file](https://www.postgresql.org/docs/9.4/static/libpq-pgpass.htm

[2017-12-12 22:02] mbohlool commented on #54815
I think this is a grey area in the spec. Having an extra description field is not valid per say (have not mentioned in the spec) but it is not invalid too (as some tools like swagger-codgen generator part is using it). I would say the best course of action is to post process the spec and remove them for the tools that complain about it.

[2017-12-12 22:04] #56522 closed

[2017-12-12 22:04] #57005 closed

[2017-12-12 22:07] rhymoid commented on #57117
@kubernetes/sig-storage-bugs

[2017-12-12 22:08] enisoc commented on #56504
@luxas Is there anything else? Can this be closed?

[2017-12-12 22:12] nrmitchi commented on #25908
@ajbouh I'd personally appreciate if you shared that as a gist. I was about to write something similar

[2017-12-12 22:19] ajbouh commented on #25908
@nrmitchi Here's a gist of the yaml I wrote. It's very shell scripty, but perhaps it's a good starting point for you, in terms of which APIs to use and how to get something that works. I can answer questions about what it's doing if you have any questions.

https://gist.github.com/ajbouh/79b3eb4833aa7b068de640c19060d126

[2017-12-12 22:39] BenTheElder commented on #56879
ACK, meetings all morning, catching up on these things now. I think this probably was flipping on parallel actually, @krzyzacy can you confirm?

[2017-12-12 22:39] janetkuo commented on #57093
@ricky1993 thanks for confirming. To avoid confusion like this, updating label selector is forbidden in `apps/v1beta2` and `apps/v1` workloads APIs.

[2017-12-12 22:42] dims commented on #57047
Digging in a bit ... Looks like the test installs a Log Provider
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/instrumentation/logging/stackdrvier/basic.go#L46

using this:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/instrumentation/logging/stackdrvier/utils.go#L374

and fails here as it finds *2* agents instead of just the one that it installs:
https://github.com

[2017-12-12 22:51] crassirostris commented on #57047
@dims Test doesn't install anything, there's a valid error in addon manager, which results in two addon DaemonSets running after the downgrade

Flunetd is there since forever, as DaemonSet for 3-4 releases already, nothing has changed in it, except for the version, which should be handled adequately by addon manager, but it's not

[2017-12-12 22:52] #56920 closed

[2017-12-12 23:16] janetkuo commented on #48411
Agree with @soltysh on the [proposed solution](https://github.com/kubernetes/kubernetes/issues/48411#issuecomment-319352995). The underlying issue is proper migration upon cluster upgrades. Closing.

[2017-12-12 23:16] #48411 closed

[2017-12-12 23:23] BenTheElder commented on #56879
We've (@krousey wrote, I just deployed) rolled out a change that hopefully will be safe and flip these to not run in parallel. It should take effect on any future runs.

[2017-12-12 23:28] enisoc commented on #57013
We need a good release note to warn users that they need to prevent an etcd downgrade if they downgrade k8s.

We filled in the warning from 1.6 as a placeholder, but it needs to be updated for this specific issue:

https://docs.google.com/document/d/1veHHyDH9VoNTwP6yy9u2Q7Jj1hnBJGVPv3NPHInImgU/edit#heading=h.n8bxz8ayqnw9

We also should add a warning to the upgrade script, similar to this one from

[2017-12-12 23:33] timchenxiaoyu commented on #44100
firstly,why call CNI delete more than once, secondly ,why exit sanbox container no to be deleted?

[2017-12-12 23:36] krousey commented on #56879
Just to clarify @BenTheElder 's update. The downgrade step won't run in parallel. The tests that follow will still honor the parallel flag.

[2017-12-12 23:46] yliaog commented on #57105
I agree it's good to have a doc to explain how the cache should be configured. I think the doc should sit somewhere in the cluster operator guide.

the command line flags can provide brief description, but for more detailed explanations, better leave it for a doc.

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/apiserver-watch.md
is the design doc f

[2017-12-12 23:49] rantuttl commented on #44100
Under the conditions I observed, no, kubelet should not be calling the CNI again. I actually observed that the sandbox container was removed from the network fabric. However, after returning back to kubelet, kubelet did NOT delete its view of the sandbox container (even though kubelet had already stopped the container via docker client, and the OS network namespace references had been removed from

[2017-12-12 23:52] jpbetz commented on #57013
@enisoc Looks like we need something along the lines of:

[code]

[2017-12-13 00:03] krousey commented on #56879
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/903 getting much better logs now.

[2017-12-13 00:17] jpbetz commented on #57013
@enisoc The idea you mentioned of checking for `ETCD_IMAGE` and `ETCD_VERSION` env vars is a really good one. `ETCD_IMAGE` is the docker tag of the gcr.io/google-containers/etcd for image to run etcd from. Each image contains multiple etcd binaries. For example:

[code]
`ETCD_VERSION` determine which etcd binary is run. It is passed to [migrate-if-needed.sh](https://github.com/kubernetes/kubernete

[2017-12-13 00:24] ericchiang commented on #56838
cc @kubernetes/sig-auth-feature-requests

[2017-12-13 00:26] dims commented on #57047
@crassirostris i see. the test is adding newSdLogProvider, there is an old daemonset and there is a new daemonset.. won't that make the count to be 3? the errors say 2:
`node gke-bootstrap-e2e-default-pool-0052ec55-qcx1 has 2 logging agents, want 1`

[2017-12-13 00:39] krousey commented on #56879
Ok from the new logs, I can see that the parallel and non-parallel jobs are getting hung on the same points now. And also helped me quickly debug that my latest fix wasn't sufficient for the test environment.

[2017-12-13 00:48] michmike commented on #56875
cc: @bsteciuk

[2017-12-13 00:51] enisoc commented on #57013
I manually verified that the following works as expected to downgrade from 1.9 to 1.8:

[code]

* Before upgrading, my 1.8 cluster had etcd 3.0.17.
* After upgrading, my 1.9 cluster had etcd 3.1.10.
* After downgrading, my 1.8 cluster had etcd 3.1.10 still.

I'll work on adding a prompt to `gce/upgrade.sh` if these are unset.

[2017-12-13 00:52] lavalamp commented on #44156
I am adding a note to the 1.9 release notes that etcd2 is deprecated. I have not looked at the list in the OP exhaustively; I do not believe we are committing to those items just by deprecating.

[2017-12-13 00:57] yastij commented on #53812
I'll submit a first version tomorrow, with a minimal modification to implement ordering.

[2017-12-13 01:25] #56022 closed

[2017-12-13 01:28] bgrant0607 commented on #44156
Email thread from Julyu: https://groups.google.com/forum/#!topic/kubernetes-dev/DoOl77xjpDA

[2017-12-13 01:40] caseydavenport opened #57120 "Calico won't be scheduled on tainted nodes"
/kind bug

**What happened**:

Deployed a GCE cluster using Calico, tainted some nodes.

Calico did not run on those nodes, and as a result no other pods could run on that node.

**What you expected to happen**:

Calico should tolerate all taints, and run on all nodes.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubern

[2017-12-13 01:41] caseydavenport commented on #57120
/sig network

[2017-12-13 01:42] kimocode commented on #28969
Looking for an answer here as well. Is this on the roadmap?

[2017-12-13 01:44] krzyzacy commented on #56879
thanks @krousey !

[2017-12-13 01:46] #52453 closed

[2017-12-13 01:54] dnardo commented on #57120
cc @mindprince

[2017-12-13 02:25] dims commented on #57047
Ack @crassirostris thanks!

[2017-12-13 02:35] xiangpengzhao commented on #57013
The latest downgrade test is running with the config by https://github.com/kubernetes/test-infra/pull/5909 :
Note the `--env=ETCD_VERSION=3.0.17`
[code]

But the test still seems to stuck on waiting for new master: `== Waiting for new master to respond to API requests ==`. There is no more log so I'm not sure if it's still due to etcd. @enisoc @krousey

[2017-12-13 02:35] dims commented on #57098
/sig api-machinery
/sig cli

[2017-12-13 02:36] dims commented on #57083
/sig api-machinery

[2017-12-13 02:37] dims commented on #57073
/sig api-machinery

[2017-12-13 02:43] MikeSpreitzer commented on #57105
I agree.  Thanks for the pointers.

[2017-12-13 02:53] krzyzacy commented on #57013
also xref https://github.com/kubernetes/kubernetes/issues/56879#issuecomment-351242966

[2017-12-13 02:58] karataliu commented on #56977
Just verified it works on an acs-engine generated  v1.7.10  cluster.

One thing to confirm: is the static IP resource created in the same region of your cluster?
Another question is, how is the cluster created?

[2017-12-13 03:08] xiangpengzhao commented on #57013
@krzyzacy thanks! I didn't notice that comment :)

[2017-12-13 03:13] dixudx commented on #49480
@danehans Can be closed when kubernetes/release#486 get merged. PTAL.

[2017-12-13 03:17] xiangpengzhao commented on #57013
Let's wait for the next run against https://github.com/kubernetes/test-infra/pull/5920 :)

@krzyzacy Is there anyway to stop the current stuck run? It lasts so long (~15h) for each run.

[2017-12-13 03:20] krzyzacy commented on #57013
@xiangpengzhao you should be able to reference the `-parallel` variant, which runs more often

[2017-12-13 03:21] dixudx commented on #57115
/cc @jsafrane

It's late to catch up the 1.9 release. But we need to cherry-pick to `release-1.9` when get fixed.

[2017-12-13 03:42] krousey commented on #57013
Which just had it's first green run.

On Dec 12, 2017 19:20, "Sen Lu" <notifications@github.com> wrote:

[2017-12-13 03:44] asarkar commented on #49387
@dixudx
[code]

[code]

[2017-12-13 04:07] dims commented on #57047
Another clue a better one i hope, grepping through the UUID(s) for the fluentd containers - http://paste.openstack.org/raw/628792/ spotted the following

[code]

[2017-12-13 04:12] dims commented on #57047
/sig network

[2017-12-13 04:40] krousey commented on #56879
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/904 succesfully downgraded. Also, all tests passed. If this continues overnight, I say we close this issue.

[2017-12-13 04:44] liggitt commented on #57103
Dupe of https://github.com/kubernetes/kubernetes/issues/56430

[2017-12-13 04:44] #57103 closed

[2017-12-13 05:01] rohitagarwal003 opened #57125 "Umbrella issue for updating nvidia-gpu-device-plugin for various bug fixes"
This issue is here to satisfy PR requirements of issue association. A lot of times we need to do version bumps for minor bug fixes that don't deserve a separate issue in the kubernetes/kubernetes repo.

/kind bug
/sig node

[2017-12-13 05:06] dixudx commented on #49387
@asarkar `--field-selector` is targeted for v1.9, which is coming out soon.

[2017-12-13 05:30] #55550 closed

[2017-12-13 05:32] AnkitVaidya01 commented on #56883
Please close the thread. My issue is resolved.

[2017-12-13 05:32] thockin commented on #54836
This is too high a coupling to a particular container runtime.  If you had a heavier runtime, like Hyper, you might not be able to do what you want.  I'd prefer to make network drivers be daemons, like all the other plugin mechanisms have become.  All you need is a network endpoint, even a UNIX socket.  I'm going to write that up separately.

[2017-12-13 05:32] #54836 closed

[2017-12-13 05:33] #32900 closed

[2017-12-13 05:34] feiskyer commented on #56883
Closing based on https://github.com/kubernetes/kubernetes/issues/56883#issuecomment-351287625.

[2017-12-13 05:34] #56883 closed

[2017-12-13 05:35] thockin commented on #27398
Something like this will be needed for dual-stack.

[2017-12-13 05:35] #26102 closed

[2017-12-13 05:38] thockin commented on #56949
@cheftako

[2017-12-13 05:43] #43279 closed

[2017-12-13 05:43] #25220 closed

[2017-12-13 05:43] #26566 closed

[2017-12-13 05:46] AnkitVaidya01 opened #57129 "How can I update the single replica out of three replica of the running POD?"
I have three replicas running on my k8 cluster. I want to upgrade only one replica. So how can I do it?
@wanghaoran1988 @foxylion
/sig windows
/assign
@kubernetes/sig-windows-feature-requests

[2017-12-13 05:52] thockin opened #57130 "Node podCIDR should be EOL'ed"
This field was added with best intentions but is too highly coupled to network implementations to be useful.  It sort of acts as a poor-man's IPAM, but it falls down for a number of reasons:

1. Eventually we have to have more than one CIDR, both for dual-stack (#47924) and for IP efficiency (multiple smaller blocks).

2. Not every network plugin wants a single block.

3. Some networks don't use i

[2017-12-13 05:52] thockin commented on #45001
see #57130

[2017-12-13 05:52] #45001 closed

[2017-12-13 05:52] thockin commented on #47924
see #57130

[2017-12-13 05:52] #47924 closed

[2017-12-13 05:53] xiangpengzhao commented on #56879
@krousey awesome!
We should also wait for https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.8-downgrade-cluster to turn green. But I believe it will :)

[2017-12-13 05:56] #12435 closed

[2017-12-13 05:57] #12533 closed

[2017-12-13 05:57] #13382 closed

[2017-12-13 05:57] #15725 closed

[2017-12-13 05:58] #16095 closed

[2017-12-13 05:58] #16934 closed

[2017-12-13 05:58] #16936 closed

[2017-12-13 05:58] #17125 closed

[2017-12-13 05:58] #19219 closed

[2017-12-13 05:59] #22718 closed

[2017-12-13 05:59] #24640 closed

[2017-12-13 06:00] #28035 closed

[2017-12-13 06:00] #28545 closed

[2017-12-13 06:01] SaurabhQA commented on #39592
@RemonSinnema  Thanks! The workaround works

[2017-12-13 06:03] thockin commented on #33766
@mengqiy a fun one - guidance on this would be helpful.  We may need to change our validation or something?

[2017-12-13 06:04] #36027 closed

[2017-12-13 06:05] thockin commented on #36858
We should scrub this and run it as a verify script.

[2017-12-13 06:06] #40754 closed

[2017-12-13 06:06] #41936 closed

[2017-12-13 06:07] thockin commented on #47733
This bug needs an appropriate name, please

[2017-12-13 06:10] liggitt commented on #49716
take a look at https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/WatchExample.java

[2017-12-13 06:10] #49716 closed

[2017-12-13 06:14] liggitt commented on #57035
it appears log output from the test pods was not being captured correctly. are there docker or kubelet logs from this run?

[2017-12-13 06:15] liggitt commented on #56899
is this a HA API server environment?

[2017-12-13 06:17] liggitt commented on #56614
from the user's perspective, a reasonable error is returned

[2017-12-13 06:18] liggitt commented on #55968
similar request in https://github.com/kubernetes/kubectl/issues/62, could be solved with an "exec for cert+key" auth plugin

[2017-12-13 06:19] jpbetz commented on #56114
To bump etcd to 3.2.11 we must also bump grpc to 1.7.4. When attempting to bump the grpc, godep reported this error:

[code]

Previously, we depended on grpc 1.3.0. In grpc 1.6.0 https://github.com/grpc/grpc-go/pull/1466 `grpclb/grpc_lb_v1/grpclb.pb.go` was deleted. And it appears we have multiple dependencies transitive dependencies on the package it exported:

[code]

The versions of `containerd

[2017-12-13 06:20] liggitt commented on #56748
you are trying to grant permissions you do not have. in order to grant permissions via RBAC, you must already have the permissions you are trying to grant.

see https://kubernetes.io/docs/admin/authorization/rbac/#privilege-escalation-prevention-and-bootstrapping for more information

[2017-12-13 06:20] #56748 closed

[2017-12-13 06:22] #50733 closed

[2017-12-13 06:23] liggitt commented on #46877
closing in favor of https://github.com/kubernetes/kubernetes/issues/55821

[2017-12-13 06:23] #46877 closed

[2017-12-13 06:27] liggitt commented on #2136
e2e now includes service account tests, node authorization tests, and pod security policy tests, all of which exercise authentication and authorization paths

[2017-12-13 06:27] #2136 closed

[2017-12-13 06:28] liggitt commented on #7961
@tallclair is this mostly addressed by the PSP bounding you did for the addons we run?

[2017-12-13 06:29] liggitt commented on #8723
quota and admission webhooks cover this for now

[2017-12-13 06:29] #8723 closed

[2017-12-13 06:29] deitch commented on #47733
I would rename it, but neither did I open it, nor am I a maintainer, so no rights. I think it should be:

"aws cloud provider tries to get ELB for services that do not have Type=LoadBalancer"

[2017-12-13 06:31] liggitt commented on #8867
@ihmccreery is this resolved by https://github.com/kubernetes/kubernetes/pull/54725?

[2017-12-13 06:32] 486 commented on #14512
Hi,

Any updates on this? We are using OpenShift but also want to be compatible with Vanilla Kubernetes. Loosing Deployment Hooks is the single biggest headache in that transition.

It is just so common to have older software that expects migrations or other setup code to be executed by exactly one process, which can be easily done in the pre-deployment hook.

From a user perspective, I find it ve

[2017-12-13 06:33] shay-berman commented on #56920
@chakri-nelluri and @saad-ali thanks for making it happened in k8s 1.9 time frame! Really appreciate your responsiveness.

Consider to open a ticket to patch k8s 1.8 as well with FlexVolume as v1. As mentioned above it was already marked as v1 in 1.8 time frame.

Thanks

[2017-12-13 06:33] liggitt commented on #13306
auditing provides this information for logging purposes. there are enough issues with PII and potential for misuse that I don't see a reasonable way to do this generally for all objects

[2017-12-13 06:33] #13306 closed

[2017-12-13 06:38] liggitt commented on #46054
the add-on manifests for these now define service accounts

[2017-12-13 06:38] #46054 closed

[2017-12-13 06:51] thockin commented on #47733
Happy to oblige.

[2017-12-13 06:55] porridge commented on #56714
At b2625857ad I got ~29.8 pods/s. This is at least higher than what I got at 3df3c58 but still a far cry from what we saw in run 64 at the same commit b2625857ad (~over 33 pods/s).

This suggests that there is something else other than code under test that affects performance of scheduling of those density pods.

[2017-12-13 07:02] deitch commented on #47733
Thanks @thockin !

[2017-12-13 07:03] porridge opened #57134 "Cannot create master for 100-node cluster due to lack of resources in us-central1-f"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/severity failing-test
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8901 failed to create master:
[code]

This is the first time seeing this, so I'm creating this

[2017-12-13 07:09] porridge commented on #55860
FTR, this broke two scale-performance tests in a row now...

[2017-12-13 07:16] liqlin2015 commented on #56539
I know I can use daemonset or re-configure rolling upgrade strategy. But DaemonSet will start kube-dns pod on all cluster nodes. It not necessarily to start kube-dns on all nodes if I have 100 or more in the cluster. We might need to best practise for such case or make scheduler to handle it.

[2017-12-13 08:02] xiangpengzhao commented on #56516
@BenTheElder thanks for pointing out the way and my broken link! (I didn't remember why I copied this issue number as my PR number... :sweat_smile: )

[2017-12-13 08:21] Guoweiwei1130 commented on #53333
if you use the http proxy to download the apt update or the docker image , remember adding the no proxy for the localhost like this `export no_proxy="localhost,127.0.0.1,...,"`
when you see the information like `WARNING: Connection to "https:/xxxx:6443" uses proxy "https://xxxx:1080". If that is not intended, adjust your proxy settings ` and the Kubernetes master didn't initialized ,it caused by t

[2017-12-13 08:40] porridge commented on #56714
I started looking at API server's logs for these two runs of b262585 the period:
- starting when all density pods are created,
- ending when all density pods are scheduled.

In the old scheduled test, mean latency is well below 1ms. In the recent manual one - it's all over the place, frequently 3 orders of magnitude higher. I don't know whether latency would affect scheduler throughput, but clearl

[2017-12-13 08:43] ChipmunkV opened #57137 "Unexpected command output nsenter: cannot open : No such file or directory"
/kind bug

**What happened**:

Sometimes pods start with no network and stay that way. Their services aren't reachable.

**What you expected to happen**:

Pod should have some `eth@` interface, not only the `lo`. Host's iptables should contain some DNAT and --dport rules instead of REJECT rules with "default/my-service: has no endpoints" comments.

**How to reproduce it (as minimally and precisely

[2017-12-13 08:48] sttts commented on #57042
We might have a race-condition between the update of the Established condition (https://github.com/sttts/kubernetes/blob/1161561ee12eea5ba28eb5efa9b384ec732def0e/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/status/naming_controller.go#L253) and the HTTP handler of the API server (same process) actually picking in up (through informers, https://github.com/sttts/kubernetes/blob/b5b62c68

[2017-12-13 09:04] ChipmunkV commented on #57137
/sig network

[2017-12-13 09:07] porridge commented on #56052
The cause for last 2 failures was #55860, sounds like it should be in the
milestone as well.

[2017-12-13 09:19] xiangpengzhao opened #57138 "The period of "Waiting for new master to respond to API requests" is too long"
/kind cleanup
/sig testing

When downgrade test fails (ref: #57013) due to master not ready, it costs about 15 hours to waiting for new master to respond. It's too long. It'd be good to shorten the waiting period to fail fast.

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-beta-stable1-downgrade-cluster/33/build-log.txt

[code]

/cc @enisoc @jpbetz @krzyzacy @krousey

[2017-12-13 09:27] timchenxiaoyu commented on #44100
if I upgrade calico cni to 1.11.1,the problem solve ,because calico cni return waring not error when sanbox deleting

[2017-12-13 09:55] sdminonne commented on #56853
@soltysh (jumping here 'cause @clamoriniere1A forwarded me this). I personally think that the right approach is to reset the back-off as soon we have a successful pod run to complete.
Back-off was introduced, at least in our case,  to reduce the impact of _bad configured_  PodSpec in Jobs. If in your run you do have some successful run it means you've a good config and you just keep trying (not th

[2017-12-13 10:14] porridge commented on #56714
Actually the above is somewhat misleading. When I look at 50, 90, 100th latency percentiles of kube-scheduler in the period overall, they are nearly identical for both runs:
- old run:  0.001, 0.48, 596 ms
- manual run: 0.002, 0.2, 597 ms

The reason for the above crazy graph is that in the manual run there are mysterious long periods of inactivity. Here are queries per 10s graphs for both runs:

[2017-12-13 10:22] zetaab commented on #56776
this worked with kube-router, so the weave is the problem (missing support for egress)

[2017-12-13 10:37] pekfi commented on #57035
[github-messages-20171208-failure1.txt](https://github.com/kubernetes/kubernetes/files/1555117/github-messages-20171208-failure1.txt)
[github-messages-20171208-failure2.txt](https://github.com/kubernetes/kubernetes/files/1555118/github-messages-20171208-failure2.txt)
[github-messages-20171208-failure3.txt](https://github.com/kubernetes/kubernetes/files/1555119/github-messages-20171208-failure3.txt

[2017-12-13 11:19] irishandyb commented on #57096
Was able to get to the bottom of this with the help of @shaun.crampton over on the Calico slack #flannel.

This was not a k8s issue but rather an oversight on my behalf with regard to the OpenStack Security Group configuration.

My Security Group had Ingress rules for TCP (1-65353) - however I was missing rules for UDP traffic thus the DNS traffic was being dropped by the Security Group at the Ope

[2017-12-13 11:19] #57096 closed

[2017-12-13 11:33] vadimeisenbergibm commented on #57042
@ncdc Here is the audit log
[audit_log.txt](https://github.com/kubernetes/kubernetes/files/1555310/audit_log.txt)

See for example `attributemanifests.config.istio.io` .

Do you want me to produce any other log?

[2017-12-13 11:33] AudriusButkevicius commented on #12455
Are there any blockers left for this?
Also, what's the relationship between this and #18438?
I guess both of them are talking about the same problem?

[2017-12-13 12:01] discordianfish opened #57144 "Updating kube-proxy configmap doesn't reload/restart kube-proxy"
/kind bug

**What happened**:
I've updated the kube-proxy configmap after the master IPs changed but had to delete kube-proxy pods manually for the changes to take effect.

**What you expected to happen**:
That kube-proxy reloads or get restarted on configmap changes.

**How to reproduce it (as minimally and precisely as possible)**:
- Create cluster with kube-proxy and kube-proxy configmap pointi

[2017-12-13 12:02] discordianfish commented on #57144
/sig network
Related: #57109 - if it would just stay unhealthy until it can connec to the API, it would have picked up the configmap change on itself.

[2017-12-13 12:18] agilinsky commented on #27398
@rkamudhan  @xiangpengzhao
Thanks for help.
Finally I did it. The problem was in outdated multus plugin version.
Now I able to create 2 interfaces inside POD from 2 VF.
New problem raised - when I'm adding next section:

to declaration of network:

The created POD stucked in Init state.
P.S.:
1. The tool _/opt/dpdk/tools/dpdk-devbind.py_ exists on node and works correctly from command line.
2. All

[2017-12-13 12:31] cyphar opened #57145 "image_gc_manager can remove images unrelated to k8s"
/kind bug
/sig node

**What happened**:

If you have a host which has pulled images that are not used as part of kubernetes (they aren't images that are used by any pods), and then trigger `image_gc_manager`, those images may be removed (if they're large enough). This can cause a lot of issues if you have a system that uses both k8s and more traditional containers on the same container runtime (fo

[2017-12-13 12:36] mlushpenko commented on #35062
Same here, every 10-15 sec, k8s v1.8.1, although I am trying to deploy cluster with kubespray for many times already, so could break it easily.

[2017-12-13 12:44] sander-su commented on #28969
And to get on the solution side. It would be great if it would be possible to assign a service ip to each pod. So the service would get another option of handing out a cluster ip per pod.

Can someone comment on why this has not been chosen for Statefulsets in the first place? There is a reason why services offer cluster ips.

[2017-12-13 12:45] cyphar commented on #57145
There are two solutions I would propose.

1. When pulling images, we store the set of images that were pulled by kubelet (in a `FileStore`). When we GC, we do not consider images that were not pulled by kubelet. When an image is removed we remove it from the `FileStore`. This is a CRI-agnostic implementation which requires limited on-disk storage for the set of images pulled by us. One potential i

[2017-12-13 12:50] M0nsieurChat commented on #54384
We would be interested as well ! Service provider with little to no control of what data is stored where by our customers. This would be a nice workaround against disk resource exhaustion of nodes whenever the customer craps outside its persistent volumes.

[2017-12-13 12:57] andyxning commented on #54384
Just a notification about 'storage-opt size=10g': it only works with overlay2 with backing fs being xfs

[2017-12-13 12:58] inercia commented on #57145
In my view, solution 1) could lead to some inconsistencies between the runtime storage and the FileStore. What if an image is removed in the docker storage? Is it going to be notified to the `kubelet`?

[2017-12-13 13:00] kumarganesh2814 commented on #54910
I think we can close this issue for now.

For Kube dns mostly issue are kubelet and docker not in sync i.e. check kubelet and docker using same cgroup driver

No earlier Install mess up things

Issue : kube-dns crashloopbackoff after flannel/weave install
Solution:
We can not use--cgroup-driver=systemd, it must use cgroupfs!
Set the docker daemon to use cgroupfs:
cat << EOF > /etc/docker/daemon.js

[2017-12-13 13:00] #54910 closed

[2017-12-13 13:07] rkamudhan commented on #27398
Hi @agilinsky, Can you explain the details in the intel-corp-team.slack.com, I will help you over there. It sounds to me like your deployment issue in making SRIOV CNI work in Kernel and DPDK mode.

[2017-12-13 13:13] sttts opened #57147 "client-go: "go get" of master branch is not compilable"
We delete all k8s.io/* dependencies from vendor/ directory of exported staging repos for the master branch. Current kube-openapi master branch (which `get get` will download) is not compatible with current k8s.io/client-go master branch.

Broken travis build: https://travis-ci.org/kubernetes/client-go/builds/315272939

[2017-12-13 13:16] sttts commented on #57147
/cc @caesarxuchao @munnerz @marun

[2017-12-13 14:05] andyxning commented on #54384
Before we add support for configuring `size` command line argument we need to first think about:
* How to specify the value for `size`.
* Where to specify the value for `size`.
* This feature is only available for `overlay2`&&`xfs`. How do we detect this pre-requirement correctly.

Maybe @kubernetes/sig-storage-feature-requests @jingxu97 @vishh can give some advises.

[2017-12-13 14:28] smarterclayton commented on #57061
On 1.8 or newer it's likely to be a different issue.

[2017-12-13 14:30] smarterclayton commented on #57061
In the scenario where we encountered these hangs we had an unusually high rate of watch establishment, which likely increased contention on the code path in the gRPC issue that was dropping  stream quota, which likely lead to the hangs building up at such a rate.

[2017-12-13 14:54] aolwas commented on #51376
HI

I have the same behavior on gke and k8S 1.8.4. Everything works well in the kube-system namespace except the deamonset object

[2017-12-13 14:55] krousey commented on #56879
That has a separate tracking issue. No need to wait for it.

On Dec 12, 2017 21:53, "Peter (XiangPeng) Zhao" <notifications@github.com>
wrote:

[2017-12-13 14:58] luksa commented on #57147
Wait, it's broken even after https://github.com/kubernetes/kube-openapi/pull/28 was merged?

[2017-12-13 15:10] asbjornu commented on #11237
I just ran `kubectl replace -f <file.yaml> --force` now and it worked. Without `--force`, I too got the error message `Replace failedspec.clusterIP: invalid value '': field is immutable`.

[2017-12-13 15:16] jsafrane commented on #49625
@andyzhangx, yes, it's going to be interesting. Nothing is set to stone yet, it's just an idea. No final decision, no concrete plan, no tracking issue yet. We need to do CSI right first.

[2017-12-13 15:21] xiangpengzhao commented on #56879
SGTM :)

[2017-12-13 15:22] liggitt commented on #57035
cc @deads2k

[2017-12-13 15:27] liggitt commented on #57035
do all the log lines with issues have newlines? @mrunalp could https://github.com/kubernetes/kubernetes/pull/55631 be related?

[2017-12-13 15:29] liggitt commented on #57035
@pekfi what logdriver are you using for docker?

[2017-12-13 15:46] spiffxp commented on #56879
/close
OK I've seen a few successful upgrades, and here's a full green run https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/910

Thank you all

[2017-12-13 15:46] #56879 closed

[2017-12-13 15:51] sttts commented on #57147
@luksa is kubernetes/kube-openapi#28 vendored into kube already?

[2017-12-13 15:53] rpothier opened #57151 "Kubeadm: cleanup kube-proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
With PR #55972 support for Kube-proxy ComponentConfig added for v1.9,
while keeping v1.8 support unchanged.
The support for v1.8 can now be removed with the release of v1.9

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2017-12-13 15:54] rpothier commented on #57151
/sig network
/area ipv6

[2017-12-13 15:54] rpothier commented on #57151
/assign rpothier

[2017-12-13 15:56] luksa commented on #57147
No, but my initial change that broke everything isn't either. kubernetes/kube-openapi#28 should have fixed the go get problem. So, I'm surprised you're still seeing it.

[2017-12-13 16:00] jwforres opened #57152 "scheduler cache error messages do not read well"
/kind bug

There are several error messages in the scheduler cache that are confusing to read, at least one of these surfaced up to end users via Events. I noticed these two in particular but there may be others:

`pod %v state wasn't initial but get assumed`
`pod %v state wasn't assumed but get forgotten`

Whether or not these should actually be surfacing as events, the messages should be cleaned

[2017-12-13 16:00] jwforres commented on #57152
cc @aveshagarwal

[2017-12-13 16:03] jwforres commented on #57152
@kubernetes/sig-scheduling-bugs

[2017-12-13 16:18] yastij commented on #49625
@jsafrane - let's use this one, to track work, i'll update the title and list plugins that'll need adapters.

cc @wlan0 @jhorwit2  and @ublubu  for the wg-cloud-provider side

[2017-12-13 16:18] sttts commented on #57147
@luksa maybe a rerun helps.

[2017-12-13 16:26] sttts commented on #57147
@luksa 🎉   https://travis-ci.org/kubernetes/client-go/builds/315272939

[2017-12-13 16:26] #57147 closed

[2017-12-13 16:34] bgrant0607 commented on #11237
Working as intended. Use get+replace, patch, or apply if you want to keep the same clusterIP.

[2017-12-13 16:38] foxish commented on #56416
Closing in favor of https://github.com/kubernetes/kubernetes/issues/56787

[2017-12-13 16:38] #56416 closed

[2017-12-13 16:38] foxish commented on #47820
Closing in favor of https://github.com/kubernetes/kubernetes/issues/56787

[2017-12-13 16:38] #47820 closed

[2017-12-13 16:48] mtanino opened #57153 "FC plugin: Fails to remove loopback and scsi device during teardown path"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently, FC plugin doesn't have a chance to update attached volume's devicePath into volume object.
We discussed this at the following thread but this proposal wasn't accepted.
- https://github.com/kubernetes/kubernetes/pull/54264
- https://github.com/kubernetes/kubernetes/issues/56803

If the volumeMode is Block, we ha

[2017-12-13 16:48] mtanino commented on #57153
/assign
/sig storage

[2017-12-13 16:59] aveshagarwal commented on #56682
it seems that https://github.com/kubernetes/kubernetes/pull/54008 should address this. I will see we can cherry pick, if not done already, it for 1.8.

@bsalamat wdyt?

[2017-12-13 17:35] tomwilkie opened #57156 "Scheduler doesn't expose kubernetes_build_info on /metrics"
/kind feature

**What happened**:

I've added a quick monitoring rule to check for version mismatched - `count(kubernetes_build_info) BY (gitVersion, job)` and found that the scheduler doesn't expose this metric.

**What you expected to happen**:

The scheduler should expose this metric.

**How to reproduce it (as minimally and precisely as possible)**:

Run this query on a properly configured Pro

[2017-12-13 17:37] tomwilkie commented on #57156
/sig instrumentation

[2017-12-13 17:38] innovia commented on #54870
can anyone tell me if I set the Never and the back off to 3 will it try a restart 3 times? this is very confusing

[2017-12-13 17:38] vhosakot commented on #15478
Although both `--log-driver`and `--log-opt` are options for the Docker daemon and **not** k8s features, it would be nice to specify them in the k8s pod spec for:
1. per-pod log driver and not a single node-level log driver
2. different types of app-specific log drivers (fluentd, syslog, journald, splunk) on the same node
3. set`--log-opt` to configure log rotation for a pod
4. per-pod `--log-opt`

[2017-12-13 17:43] crassirostris commented on #15478
@vhosakot none of the above can be set at any level in Kubernetes, because those are not Kubernetes concepts

[2017-12-13 17:46] tomwilkie commented on #57156
Looks like I was beaten to it! #52562 seems to fix it, which I guess will be in 1.9.

[2017-12-13 17:46] #57156 closed

[2017-12-13 17:51] vhosakot commented on #15478
@crassirostris exactly! :)

If k8s does everything that Docker does at the pod-level/container-level, won't it be easy for users? Why make users use Docker at all for few pod-level/container-level stuff?

And, a k8s lover not a Docker fan may ask the same question.

[2017-12-13 17:55] crassirostris commented on #15478
@vhosakot Point is, there's a number of other container runtimes that can be used with K8s, but `--log-opt` exists only in Docker. Creating such option on the K8s level would be intentionally leaking the abstraction. I don't think this is the way we want to go. If an option exists, it should be supported by all container runtimes, ideally be a part of CRI

I'm not saying that there won't be such o

[2017-12-13 17:58] vhosakot commented on #15478
@crassirostris True, sounds like it comes down to if k8s should do what CRI does/allows at the pod-level/container-level, not Docker-specific.

[2017-12-13 17:59] crassirostris commented on #15478
Yup, absolutely correct

[2017-12-13 18:08] RobertDiebels opened #57158 "ConfigMap data key-naming shouldn't be limited to DNS-naming only"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried creating a ConfigMap from a file. The file's name does not meet the validation specifications for a ConfigMap data key. This causes kubectl to forgo creating the ConfigMap.

**What you expected to happen**:
I expect that the ConfigMap is created regardless of which characters occur in the file-name. Reasoning behi

[2017-12-13 18:11] tedsuo commented on #26507
Hi all, Ted from the OpenTracing project here. Post kubecon, there has been renewed interest in integrating kubernetes and opentracing. How can I be of service, and who should I talk to? I see there are some concerns around long running traces, but possibly there are some low hanging fruit that could be addressed.

On a related note, there is opentracing for Nginx-ingress, but it’s currently only

[2017-12-13 18:14] balajismaniam commented on #52861
@jiayingz Is anyone working on this?

[2017-12-13 18:18] RobertDiebels commented on #57158
/sig cli

[2017-12-13 18:29] bsalamat commented on #56682
@aveshagarwal I don't think #54008 addresses this issue. Problems like this happens when entries in scheduler cache are stale. These usually happen when scheduler does not receive update events from etcd (or maybe errors happen when processing the updates). We recently addressed the issue of removed node remaining in scheduler cache. This is somewhat of a similar problem in the sense that cache ha

[2017-12-13 18:30] timoreimann commented on #54870
@innovia yes, it will. In fact, setting it to `Never` is the only way right now to have a back off limit be applied and effective.

[2017-12-13 18:31] timoreimann commented on #54870
I should mention that my statement is based on Kubernetes 1.8. I don't know if any fixes possibly made it into the upcoming 1.9. Then again, if there were, this issue should have been updated or at least referenced.

[2017-12-13 18:36] Bradamant3 opened #57159 "v1.9.0 known issues / FAQ accumulator"
/kind bug

Please link to this issue or comment on this issue with known errata for the 1.9.x release. This follows what we have done for prior releases.
We will be populating the "Known Issues" section of 1.9.0 and above release notes based on this issue

FYI @enisoc @nickchase @Bradamant3  
cc/ @kubernetes/kubernetes-release-managers

[2017-12-13 18:39] Bradamant3 commented on #57159
/sig release
/priority important-longterm
/kind cleanup

[2017-12-13 18:55] jiayingz commented on #52861
I think @ScorpioCPH is working on this. @ScorpioCPH could you link this issue in your PR?

[2017-12-13 19:06] jpbetz commented on #56114
Looks like I might just need to upgrade grpclb as well. Trying it out now.

[2017-12-13 19:36] antoniaklja commented on #57109
I can take a look if you don't mind. Is there anythig more to discuss? more requirements?

[2017-12-13 19:39] freehan commented on #57047
This log line usually shows up when kubelet restarts. It should recover after a while.
[code]

[2017-12-13 19:44] ScorpioCPH commented on #52861
@balajismaniam https://github.com/kubernetes/kubernetes/pull/54792 FYI.

[2017-12-13 19:45] MrHohn commented on #57109
This sounds reasonable, xref a somehow relevant discussion on https://github.com/kubernetes/kubernetes/pull/50118.

[2017-12-13 19:50] ihmccreery commented on #56854
@x13n What makes you think that the metadata proxy failed?

[2017-12-13 19:52] ihmccreery commented on #8867
@liggit this feature is going to beta in v1.9.  I'd like to keep this open until it's GA/default.

[2017-12-13 20:26] jpbetz commented on #56114
Was able to appease `godep save` by adding a doc.go placeholder in the empty `grpc/grpclb/grpc_lb_v1`.

[2017-12-13 20:36] caseydavenport commented on #55599
@pikeszfish that's expected - if you include the portmap plugin in your config, it _must_ end in the `.conflist` suffix.

[2017-12-13 21:12] djsly commented on #56086
@karataliu I finally found some time to test, it turns out that setting `spec.LoadBalancerSourceRanges` does indeed help us out. I have a problem still and it is that I do not know all of the peered networks in advanced. I would like like to be able to set a serviceTag for all of the `virtualNetwork` but I guess the spec doesn't allow it...

`The Service "influxdb" is invalid: spec.LoadBalancerSou

[2017-12-13 21:13] vladimirvivien opened #57161 "CSI - Remove unused plugin call in kube-controller-manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

Listing this as a bug since it's not a feature.

The following if-block, for feature-gate guard, in func `ProbeExpandableVolumePlugins` should be removed all together since the CSI plugin type does not implement ExpandableVolumePlugin interface:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/plugins.go

[2017-12-13 21:13] vladimirvivien commented on #57161
/sig storage

[2017-12-13 21:16] jiayingz commented on #53497
@andyxning https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-management/device-plugin.md

[2017-12-13 21:30] puneetguptanitj commented on #56899
Thanks Jordan for taking a look, its a single master setup. Please let me know if I can grab more logs, it is fairly reproducible in our setup

[2017-12-13 22:35] stevenbower opened #57162 "Handlers with refresh period don't work on informers with 0 default refresh period"
/kind bug

**What happened**:
Handlers with refresh period don't work on informers with 0 default refresh period

**What you expected to happen**:
It should increase the resyncCheckPeriod to that of the handler

**How to reproduce it (as minimally and precisely as possible)**:
Create a SharedInformerFactory with refreshPeriod of 0 then add a handler with a refresh period >0 and you'll see it never

[2017-12-13 22:36] stevenbower commented on #57162
/sig apimachinery

[2017-12-13 22:43] janetkuo commented on #57047
Can someone from sig-node investigate why kubelet was restarted and if it's normal? @kubernetes/sig-node-bugs

[2017-12-13 22:44] ErikOShaughnessy commented on #51179
I have run into the same problem:

[code]

Node wb6 is the master and ```kubectl logs``` on any pod scheduled on wb6 works as expected.

If the target pod is on any other node, a cryptic error results:
[code]

It appears that the http GET for 1.1.1.201:10250 is aimed at kube-proxy-vmrq8 given the IP and port, and kube-proxy isn't responding.

All nodes are running a relatively up-to-date install o

[2017-12-13 22:51] ericchiang opened #57164 "kubelet CSRs: support out-of-tree attestation"
/kind feature

cc @mikedanese
cc @kubernetes/sig-auth-feature-requests
cc @kubernetes/sig-cluster-lifecycle-feature-requests

TL;DR - How much of this do we actually want to do in-tree?

## Background

Today, kubelets present CSRs without any additional data. Approval process look at an individual CSR and generally say "this bootstrapping token is allowed to request a client cert, so I'll approve

[2017-12-13 22:58] enisoc commented on #56244
The downgrade test is now running, but some of the tests are failing:

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.8-downgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/181

## Cluster downgrade [sig-apps] daemonset-upgrade

[code]

## [sig-cluster-lifecycle] Downgrade [Feature:Downgrade

[2017-12-13 23:14] lazzarello commented on #56977
The cluster is created through the preview managed Azure Kubernetes Service. I'm not managing the control plane.

[2017-12-13 23:35] janetkuo commented on #57047
@dchen1107 will take a look at kubelet restarts to see if that's normal

[2017-12-13 23:37] enisoc commented on #56244
The DaemonSet issues appear to be a flaky test. The condition it wants is actually true (there is one Pod on each Node), but the test seems to have the wrong idea of which Nodes exist.

[code]

[2017-12-13 23:40] enisoc commented on #56244
I'm also not terribly concerned about the other test showing 0.002 more CPU usage than desired:

[code]

[2017-12-13 23:42] MrHohn commented on #57047
I think I got the root cause.

Starting from addon-manager's log of the current run (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-master-gci-new-downgrade-cluster/563):
[code]

So clearly something changed for ClusterRoleBinding "kubelet-cluster-admin" between 1.8 and 1.9, upon the downgrade, addonmanager tried to apply the change to an immutable field

[2017-12-13 23:49] timothysc commented on #57164
/cc @mattmoyer

[2017-12-13 23:55] enisoc commented on #57047
cc @mikedanese who last touched these files:

https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/rbac

[2017-12-14 00:02] MrHohn commented on #57047
Seems like ClusterRoleBinding kubelet-cluster-admin does change a bit in the legacy-kubelet-user-disable case:
- https://github.com/kubernetes/kubernetes/blob/release-1.9/cluster/addons/rbac/legacy-kubelet-user-disable/kubelet-binding.yaml
- https://github.com/kubernetes/kubernetes/blob/release-1.8/cluster/addons/rbac/kubelet-binding.yaml

[2017-12-14 00:03] timothysc commented on #56261
Closing from merge of #56622

[2017-12-14 00:03] #56261 closed

[2017-12-14 00:05] enisoc commented on #57047
It seems related to https://github.com/kubernetes/kubernetes/pull/53144.

In this case, we create a new cluster, which gets the new binding. Then we try to downgrade, which ends up attempting to switch back to the old binding.

I wonder if we can cherry-pick something to 1.8 to make it keep the new binding upon downgrade?

[2017-12-14 00:06] enisoc commented on #57047
cc @liggitt and @tallclair who reviewed the above PR.

[2017-12-14 00:10] MrHohn commented on #57047
From addonmanager perspective, one way to achieve this is by changing the Reconcile mode to EnsureExist mode.
https://github.com/kubernetes/kubernetes/blob/d23df051e1bee8c59c6e67cc6aea766d15ed675e/cluster/addons/rbac/kubelet-binding.yaml#L11

[2017-12-14 00:16] liggitt commented on #57047
1.8 created kubelet-cluster-admin binding to system:node role in ReconcileMode

If we want 1.9 to tolerate that and not remove it, we should leave the kubelet-cluster-admin binding to system:node role with no subjects and EnsureExists mode

Separately in 1.9 we can create a new kubelet-bootstrapper binding to system:node-bootstrapper for the kubelet subject with reconcile mode

[2017-12-14 00:20] liggitt commented on #57047
https://github.com/kubernetes/kubernetes/commit/962e1e2f6dd5ca26c5ab8678fea2e9c9de0dfa54 should have left the existing binding alone and created a new binding for the new role

[2017-12-14 00:23] nydalal opened #57166 "kube-controller constantly running into garbage collection for non-existing resources"
k8s version - 1.5.2

kube-controller constantly running into garbage collection for non-existing resources. It prevents deployment of new pods in cluster and all pods remain in "Pending" state.

pod and node throws error about Affinity, which is also mis-leading.
Warning FailedScheduling {default-scheduler } pod (kube-state-metrics-2632609649-9qbk0) failed to fit in any node

E1213 19:52:59.140993

[2017-12-14 00:28] enisoc commented on #57047
@liggitt Just to make sure we're on the same page: We didn't see any problem in 1.8->1.9 upgrade tests. This only shows up in the downgrade test where we start with a fresh 1.9 cluster and downgrade to 1.8. It sounds like your plan will help with both directions, but just want to be clear.

Can you work on a PR or do I need to find someone?

[2017-12-14 00:42] #57013 closed

[2017-12-14 00:46] liggitt commented on #57158
You can specify the key to place the file content into when creating the config map

You can also specify in the volume mount what path to place which key into with the projected volume type

[2017-12-14 00:48] janetkuo opened #57167 "Deployment enters creation hot-loop when rs field is mutated by API server"
/kind bug

### What Happened

A deployment enters create new replicaset hot-loop.

In deployment's spec.template:
[code]

In its rs's spec.template:
[code]

This will happen when you create a Deployment that specifies `volumes.EmptyDir` in 1.7.0 - 1.7.5, and then upgrade the cluster to >= 1.8.0, with LocalStorageCapacityIsolation disabled.

### Root Cause

Some background information:
1. In pod sp

[2017-12-14 01:02] dims commented on #57047
Nice work @MrHohn, So we don't really capture the addon manager logs do we? Looks like you had to pick one up from the running system, is that right?

[2017-12-14 01:09] enisoc commented on #56244
It seems those were indeed flakes. The latest run is fully green:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/182

[2017-12-14 01:09] #56244 closed

[2017-12-14 01:16] bsalamat commented on #56714
Thanks, @porridge for investigating this issue. So, looks like 90th percentile of API calls is < 1ms. How much scheduler throughput changes with the cluster size. For example, if the cluster has 100 nodes, what is scheduler's throughput. Sorry, if I keep asking this question. I think we should prioritize optimizing for most common scenarios.

[2017-12-14 01:48] karataliu commented on #56086
@djsly Yeah, `LoadBalancerSourceRanges` accepts IP range values only.
Supporting service tags could be done via some additional annotations, that would be a new feature.

[2017-12-14 01:59] janetkuo commented on #57167
Another hack to prevent the hot loop is to call `DropDisabledAlphaFields` in deployment controller code where it compares pod templates: https://github.com/kubernetes/kubernetes/blob/0b9efaeb34a2fc51ff8e4d34ad9bc6375459c4a4/pkg/api/pod/util.go#L231-L252

[2017-12-14 02:00] ericchiang commented on #55968
Proposal here https://github.com/kubernetes/community/pull/1503

[2017-12-14 02:01] MrHohn commented on #57047
@dims Yeah, unfortunately addon manager logs on GKE CIs is not publicly visible. There may be ways to retrieve the same logs for history runs, just that getting it from a running cluster seems easiest to me.

[2017-12-14 02:04] liggitt commented on #57167
This is a fragile check, and means deployments can already encounter this in the face of admission plugin modifications, not just because of this specific field.

[2017-12-14 02:10] janetkuo commented on #57167
Agree, but there's no better existing way to check it. This is also documented here (re. mutating webhooks): https://github.com/kubernetes/website/pull/6650/files#diff-50fc51cb7d01e2cae2085d75b41e9ce8R324

[2017-12-14 02:13] liggitt commented on #57167
Seems like a perfect use of generation... on creation, record the generation of the deployment the replicaset is being created from. The replicaset generation gets set to 1. If the replicaset spec is modified, its generation changes and can no longer be assumed to match the deployment spec.

[2017-12-14 02:15] davidz627 commented on #56735
Hi nopom@, I noticed in your pod spec you have:

[code]

the claimName needs to be the name of your PVC. In this case you have used the name of your PV.
"jenkins" should be "myclaim".

[2017-12-14 02:15] davidz627 commented on #56735
please let us know if that solves your problem.

[2017-12-14 02:24] janetkuo commented on #57167
What if the replicaset is created manually and then adopted by the deployment? What if the user decided to roll back to a previous version of deployment (using replicaset as history)? This will break both use cases. What's more, the deployment should only create about templates, not other things in the spec, such as replicas.

[2017-12-14 02:37] liggitt commented on #57167
it should record the generation it adopted

it should record the generation it rolled back to

That doesn't seem right. I'd expect things modifying scale to be controlling the top of the object chain, otherwise scale changes would be lost when rolling out the next version of the deployment.

[2017-12-14 02:44] tallclair commented on #7961
No. I made minimal changes to the deployments when adding the per-service profiles. Most of these services definitely do not need to run as root. A handful of them require root just for writing their log files, but there's no reason the log files need to be owned by root...

[2017-12-14 02:48] dchen1107 commented on #57047
Quickly looked at Kubelet and netconfig is not ready error message should be red herring. Right after that, all nodes are ready with the following logging:
[code]

Will look more.

[2017-12-14 02:50] dchen1107 commented on #57047
Ahh, after refreshing the issue, and found that @MrHohn already identified the root cause. Nice work and thanks!

[2017-12-14 02:50] smarterclayton commented on #57167
I’m pretty sure that if deployments are completely broken when people very reasonably try to initialize / default fields on a pod spec, then deployments may not be sufficiently well designed.

I think it’s reasonable to convert a tag to an image sha when a rs is created.  It’s also reasonable to set resources, or add annotations to a pod template, or turn a config map ref into a copied sha.

I wil

[2017-12-14 02:57] liggitt commented on #57047
opened https://github.com/kubernetes/kubernetes/pull/57172

[2017-12-14 03:07] dims commented on #57047
Thanks @dchen1107 at least my investigation triggered a deeper look which seems to have helped the cause. yay!

[2017-12-14 03:45] guangxuli commented on #57152
Seems that these are internal or implement details in scheduler, do our end users can fully understand what the events really mean?  I think it is depend on our own implement.
@aveshagarwal  idea?

[2017-12-14 04:33] dytmh opened #57176 "couldn't initialize a Kubernetes cluster"
BUG REPORT

[root@VM_0_13_centos ~]# kubeadm init --pod-network-cidr=192.168.0.0/16 --kubernetes-version v1.8.1 --skip-preflight-checks
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.8.1
[init] Using Authorization modes: [Node RBAC]
[preflight] Skipping pre-flight checks
[kubeadm] WARNING: starting in 1.8, tokens expire afte

[2017-12-14 04:36] thockin commented on #10091
This is ancient, but a wart, and still deserves fixing, IMO.  Not hard at all, just needs someone to do it.

[2017-12-14 04:39] #8239 closed

[2017-12-14 04:39] #11817 closed

[2017-12-14 05:25] #52258 closed

[2017-12-14 05:53] thockin commented on #12026
This is a job for Istio

[2017-12-14 05:53] #12026 closed

[2017-12-14 05:54] #11986 closed

[2017-12-14 05:57] bgrant0607 commented on #6153
/remove-lifecycle stale

[2017-12-14 06:02] warmchang commented on #52336
👍

[2017-12-14 06:03] pekfi commented on #57035
/usr/bin/dockerd-latest --add-runtime docker-runc=/usr/libexec/docker/docker-runc-latest --default-runtime=docker-runc --authorization-plugin=rhel-push-plugin --exec-opt native.cgroupdriver=systemd --userland-proxy-path=/usr/libexec/docker/docker-proxy-latest -g /var/lib/docker-latest --selinux-enabled **--log-driver=journald** --signature-verification=false --storage-driver devicemapper --storage

[2017-12-14 06:15] vinsonxing opened #57181 "Pod instance should not reboot if the current node meets the new applied node affinity rule"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

**What happened**:

I have a running pod (pod-1), deployed via a k8s deployment (deploy-1), on k8s node-1. Someday, I want to patch node affinity to this deployment (kubectl patch ). For example, the target node must have label 'data=allowed'.
My steps:
1.  Add label 'data=allowed' to node-1 first
2. Patch the node affinity definition

[2017-12-14 06:16] davidopp commented on #56993
/cc @misterikkit

[2017-12-14 06:19] porridge commented on #56714
@bsalamat didn't https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-348929249 answer your question?

[2017-12-14 06:20] noprom commented on #56735
Hi @davidz627, thanks for the advice, and I've solved my problem.
Thanks a lot!

[2017-12-14 06:20] #56735 closed

[2017-12-14 06:25] #56753 closed

[2017-12-14 06:28] warmchang commented on #41516
👍

[2017-12-14 06:34] porridge opened #57182 "Elevated kube-apiserver memory usage caused 100-node test failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-api-machinery-bugs
@kubernetes/sig-scalability-bugs
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062
/priority failing-test

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8937 failed with:
[code]

See graph:
![gprhyounud8](https://

[2017-12-14 06:37] porridge opened #57183 "100-node test failed because only 73 nodes came up"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8938 failed with:
[code]

Subsequent runs were OK, but if this repeats we will need to investi

[2017-12-14 06:42] warmchang commented on #44156
👍

[2017-12-14 06:47] porridge commented on #56714
The spikes in https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-351346087 are possibly connected with the fact that 22 out of 50 RCs continued to create more than the 3000 nodes they were supposed to: 12 of them created 3500, 2 created 4000, 3: 4500, 2: 5000, 2: 5500 and one even 6000.

In total over 171k pods were created, rather than 150k. Given the higher load this generated, a

[2017-12-14 06:49] porridge commented on #56714
Keeping a note of which RCs created how many pods (calculated by counting "Created pod" events in the controller-manager log):
[code]

[2017-12-14 07:21] resouer commented on #49480
I think all CRI runtimes has been upgraded, ref: https://github.com/kubernetes/frakti/pull/270

[2017-12-14 07:25] #46636 closed

[2017-12-14 07:26] #55985 closed

[2017-12-14 07:29] stealthybox opened #57184 "Secure etcd API /w TLS on kubeadm init"
/kind feature
/area etcd
/area kubeadm
/area security
/sig cluster-lifecycle

**What happened**:
When initializing a cluster with kubeadm, the local connection to etcd is insecure.
Anyone logged into the master machine has implicit root access via the etcd port.

**What you expected to happen**:
kubeadm should generate TLS identities for etcd.
The connection should be secure -- unaccessible withou

[2017-12-14 07:37] porridge commented on #56714
@wojtek-t here is how all RCs grew over time
![growth](https://user-images.githubusercontent.com/489420/33980644-0eec108a-e0aa-11e7-8cd4-ad1faef14db8.png)

[2017-12-14 08:01] bsalamat commented on #56714
@porridge It kind of does, but the fact that [throughput is higher in larger clusters](https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-350987431) does not make sense.

[2017-12-14 08:31] mlmhl opened #57185 "Support online file system resize for PVs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In current implement, we only support offline file system resize for PVs in kubelet, as this operation is executed by the `MountVolume` operation. If a resize request was submitted after the volume mounted, it won't be resized.

**What you expected to happen**:

Support online file system resize for PVs.

**Anything

[2017-12-14 08:31] mlmhl commented on #57185
/sig storage

[2017-12-14 08:32] vinsonxing commented on #57181
@kubernetes/sig-cli-feature-requests

[2017-12-14 08:32] mlmhl commented on #57185
/assign @gnufied

[2017-12-14 08:46] x13n commented on #56854
I found it pending in some of the failed tests (e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/17970), together with others (e.g. event-exporter, as I wrote above). Now I checked other failures e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/17975 and the only failures the

[2017-12-14 09:02] pdecat opened #57187 "Allow hot disabling of liveness probes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

From time to time, liveness probes do not behave as expected by the person that configured them and some conditions external to the container may make them fail (e.g. dependency on a database) and provoke endless restart loops.
This makes it hard to debug those containers and/or get the system back to normal.

**What

[2017-12-14 09:06] dixudx opened #57189 "group version `apiextensions.k8s.io/v1beta1` that has not been registered"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig apps

**What happened**:
When running with `runtime-config=apiextensions.k8s.io/v1beta1`, apiserver will failed with

It is quite misleading. Since currently `apiextensions.k8s.io/v1beta1` is being enabled by default even without setting `runtime-config=apiextensions.k8s.io/v1beta1`.

The root cause is that `apiextensions.k8s.io/v1beta1`

[2017-12-14 09:11] porridge commented on #56714
@bsalamat that in turn was answered in https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-348932542 :-)

[2017-12-14 09:14] alahijani commented on #5698
Is there a way to disable this when TERM does not support colors? :-(

[2017-12-14 09:28] porridge commented on #56714
Ooops, it seems that the latency graphs for the manual test in https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-351321707 and https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-351346087 were off by an hour - because the test output for manual run was in CET and the master-side logs - in UTC. So I actually graphed latency for the time period when the test was over

[2017-12-14 09:43] andyxning commented on #44328
Data is extracted from cAdvisor. So i think it is cAdvisor that extract node capacity from `/proc` or something else which is irrelevant with cgroups. But as for your use case, i think it is right that kubelet post node capacity of node to apiserver.

[2017-12-14 09:48] andyxning commented on #44328
@Random-Liu How about we add a `cpu_overcommit_factor` to cAdvisor. It is the source of the authoritative data. Kubelet just read the data and update it to the node spec. As for now, it is only make sense to overcommit cpu which is a compresable resource compared with memory.

/cc @dashpole @kubernetes/sig-node-pr-reviews

[2017-12-14 09:57] sttts commented on #57189
I understand the pain and inconcistency of `--runtime-config`. But we certainly don't want to mix apiextensions code with the main kube-apiserver code. Instead, we need some better logic to distribute the options of `--runtime-config` to the delegated API server it belongs to.

[2017-12-14 09:58] porridge opened #57191 "Deleting Replication Controllers causes them to create massive amounts of extra pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-apps-bugs

**What happened**:
This was noticed in https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-351631811

sig-scalability's large-scale [density test](https://github.com/kubernetes/kubernetes/blob/ceda4c3/test/e2e/scalability/density.go#L256-L277) created 50 RCs, each of them set to create 3000 pods at ar

[2017-12-14 10:01] sttts commented on #57189
Spontaneous thoughts: kube-apiserver is actually a delegation chain of aggregator+kube+apiextensions. Let's pass down runtime-config through the chain, each layer removing the groups it knows about.

[2017-12-14 10:02] sttts commented on #57189
/cc @hzxuzhonghu maybe nice for one of your team members to get into the apiserver code more.

[2017-12-14 10:03] innovia commented on #55896
use this daemon set
https://github.com/mumoshu/kube-spot-termination-notice-handler

[2017-12-14 10:06] porridge commented on #56714
The binding submission request latency for the correct time period of the manual run looks much more in line with the graph from the automatic run:

![manual_](https://user-images.githubusercontent.com/489420/33986669-935da2ca-e0be-11e7-9cd2-4548dd754996.png)

[2017-12-14 10:18] definitelyuncertain opened #57193 "Query free resources (specially number of GPUs) on nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig api-machinery

Currently, `kubectl describe node` only shows CPU and memory usage pod-wise on the node. What would be great is if, for each resource the amount remaining that can be allocated is shown, including the number of GPUs remaining.

Perhaps a new section could be added to the output as follows:

[code]

[2017-12-14 10:18] steinnes commented on #50321
I'd really appreciate this feature :-)

[2017-12-14 10:32] jimk-osu commented on #53889
I'm able to get master up with `kubeadm init` but when I'm unable to join the cluster.

kublete on the worker is getting `kubelet[13291]: error: unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory`.

Master node is in ready state:
[code]
Master shows 6443 is open:
[code]

Docker version of both master and worker is the same:
[code]

[2017-12-14 10:39] RobertDiebels commented on #57158
@liggitt "You can specify the key to place the file content into when creating the config map"
Correct but the key format is limited. From the [reference](https://v1-7.docs.kubernetes.io/docs/api-reference/v1.7/#configmap-v1-core):
Data contains the configuration data. Each key must consist of alphanumeric characters, '-', '_' or '.'.

So I can't create a ConfigMap from a file with a '@' in it. Ev

[2017-12-14 10:41] hzxuzhonghu commented on #57189
/assign
We will fix it.

[2017-12-14 10:43] accnops commented on #23291
Hi! Is this still being investigated?

I could certainly use this in my projects...

[2017-12-14 10:48] pdecat commented on #57187
/sig node

[2017-12-14 10:53] hzxuzhonghu commented on #57189
@dixudx  I just notified  has a pr, Would you still want to do this?

[2017-12-14 12:16] xiangpengzhao commented on #57184
/cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-12-14 12:26] kzila commented on #42544
+1
this would be really handy to have

[2017-12-14 12:32] #55007 closed

[2017-12-14 12:40] pires commented on #23291
There was a proposal PR but it got closed #25821

[2017-12-14 14:33] ivanilves commented on #55864
Thanks for opening this issue @roffe

You saved me **lots** of time by posting your flow :clap:

[2017-12-14 14:48] dixudx commented on #57189
@hzxuzhonghu No, you go ahead. Currently I don't have too much bandwith on this.
Just as @sttts commented the legacyschema is legacy. That pr is not on the right track.

I would like to have a review when you've got a PR for this. Thanks for your help.

[2017-12-14 15:10] bgrant0607 commented on #8514
kube-up.sh is deprecated

[2017-12-14 15:10] #8514 closed

[2017-12-14 15:14] ironcladlou commented on #54940
Revisiting this to add another scenario where things can go very wrong: if the timing works out favorably, a user can actually successfully create a cluster-owner -> namespace-dependent relationship that works with the GC. However, if you restart the controller process (and thus the GC), the processing of the *existing relationship* is again subject to the race, and often the dependent is deleted

[2017-12-14 15:15] bgrant0607 commented on #12653
This is obsolete.

[2017-12-14 15:15] #12653 closed

[2017-12-14 15:51] coaka commented on #55709
I used the pre-released binaries and installed gcompact package and now kubernetes running fine, but still can't inite master node, kubeadm hangs forever.

[2017-12-14 15:57] #8341 closed

[2017-12-14 16:14] ArchCynic commented on #54918
I'm a Kubernetes novice / don't really know what I'm doing but

1. chmod the file in /etc/cnt/net.d to 777 (from root 644)
2. restart kubelet service

The node becomes 'ready' in the master. No idea why. The Kubelet service is running as root, would not have thought it would make a difference. Using weave net.

[2017-12-14 16:25] luksa opened #57198 "Misleading kubectl error: the server doesn't have a resource type "po""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When using kubectl 1.9.0-beta.1+, if you run `kubectl get po`, while the API server is unreachable, you get the following misleading error: `the server doesn't have a resource type "po"`.

**What you expected to happen**:
In versions 1.9.0-alpha.3 and lower, you get the proper error: `The connection to the server 127.0.0.

[2017-12-14 16:32] luksa commented on #57198
/sig release

https://github.com/kubernetes/kubernetes/issues/57159

[2017-12-14 16:34] falfaro commented on #38849
@jeb5-ccl did you manage to get it working? If so, would you mind amending the code and the documentation to fix the problem with the labels? I'm having exactly the same problems you describe here.

[2017-12-14 16:46] roberthbailey commented on #57184
Leigh -- can you open this issue in https://github.com/kubernetes/kubeadm instead of here? (we are using that repo to track kubeadm issues / features, even though the code is still in the main repo)

[2017-12-14 16:48] luxas commented on #56504
@enisoc this can be closed I think. Thank you!

[2017-12-14 16:48] #56504 closed

[2017-12-14 16:51] greglanthier commented on #27796
I can't seem to get a CNCF-CLA signed with corporate email address.

I originally tried to sign a CNCF-CLA by logging in with my github.com account, saw that the CLA had my personal email account listed, and realised that my corp. email address hadn't been added to my gh account yet.

I cancelled out of the form, went to GH and added my corporate email address, then tried to re-sign the CLA but I

[2017-12-14 16:55] #57184 closed

[2017-12-14 17:18] jsafrane commented on #56704
I found the culprit, it's simple bind-mount [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L1461), it's **not** `--make-rshared` just below it. Any mount in `/var/lib/kubelet/` will appear twice in `/proc/mounts`. It's enough to unmount it once, both of the mounts will then disappear.

It's the same on GCI and on Ubuntu. We can either add an option

[2017-12-14 17:20] derekwaynecarr opened #57201 "LimitRange can block pod termination"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
https://bugzilla.redhat.com/show_bug.cgi?id=1509309

A LimitRange added to a namespace after it has pods can prevent terminating pods from being deleted if they do not conform to the min/max criteria.

**What you expected to happen**:
LimitRange should ignore pods that are marked for deletion as they really cannot change t

[2017-12-14 17:26] derekwaynecarr commented on #57201
/sig api-machinery

[2017-12-14 17:33] dankohn commented on #27796
@greglanthier Could you please email helpdesk@rt.linuxfoundation.org and they'll get you sorted out.

[2017-12-14 17:35] #6115 closed

[2017-12-14 17:35] stepin commented on #36220
Looks like now custom Cloud Controller Manager can be used for such tasks (custom LoadBalancer on bare-metal):
https://kubernetes.io/docs/tasks/administer-cluster/developing-cloud-controller-manager/

[2017-12-14 17:47] yujuhong commented on #14702
/remove-lifecycle stale

Issue still seem relevant.

[2017-12-14 17:47] mkotsollaris opened #57203 "Issue: container won't set Request resources (CPU & RAM) properly"
I am trying to set a fixed resource value to my kubernetes container. When I try the following:
[code]
I get:
[code]
Not sure if this is a bug or (most likely) I am doing something wrong. Why doesn't Set update my values to the newer ones? How can I set the CPU & RAM resources properly?

@kubernetes/sig-contributor-experience/bugs

[2017-12-14 17:48] danwinship commented on #56842
@xujieasd no, I was saying, I'd like to avoid using the extra mark bit, but on the other hand, using the extra mark bit actually makes a lot of sense, because right now we have one rule per IP in PREROUTING and then one rule per IP again in INPUT ("doing the address matching twice"), but using the mark would let us avoid that.

[2017-12-14 17:52] enisoc commented on #57191
It seems like the [cleanup code](https://github.com/kubernetes/kubernetes/blob/ceda4c31f99315c540fcf0cbcd5b6d1a9d3a7d8f/test/e2e/scalability/density.go#L308-L334) uses the GC for RCs.

It could be that the RC does not yet know it's deleted because of watch latency or dropped events, and is fighting with the GC. We do a cache-bypassing read to prevent this race during GC orphaning, because in that

[2017-12-14 17:55] yujuhong commented on #15195
Still relevant, but the scope may need refining.

/remove-lifecycle stale.

[2017-12-14 17:56] yujuhong commented on #13562
The issue is no longer relevant now that the GC has changed significantly.

[2017-12-14 17:56] #13562 closed

[2017-12-14 17:57] enisoc commented on #57191
Hm on second thought maybe the GC prevents this by waiting for ObservedGeneration. Will need more investigation or someone with expertise.

[2017-12-14 18:14] sellers commented on #33664
I have found with the latest k8s 1.8x. that the delete and re-create does not seem to work like it did in 1.7-.   I am finding the image is still cached.

[2017-12-14 18:15] jeffvance commented on #56704
Hi Jan,

I was trying to better understand --bind and --rbind in mount. Reading [1]
I see the following:

*   "Note that the filesystem mount options will remain the same as those
on the original mount point,     and cannot be changed by passing the -o
option along with --bind/--rbind. The mount options can     be changed by a
separate remount command"*
Yet L1463 [2] and L14634 do exactly this, eg

[2017-12-14 18:27] danwinship commented on #50451
Hmm. That can only work if the owner of that service agrees to treat the specific pod labels they're using as "stable API". (Eg, in the case of kube-dns, agreeing that the service will *always* be identified by the label `k8s-app: kube-dns`.) And if they forget, and change the labels, then the service would still work fine for them, and for anyone not using egress policies, but anyone with a Netwo

[2017-12-14 18:29] stealthybox commented on #57184
Moved to https://github.com/kubernetes/kubeadm/issues/594

[2017-12-14 18:32] dashpole commented on #44328
How would this work with CPU pinning?  I am also not entirely sure if the current way we do cpu cgroup management would function properly with a mocked number of CPU cores.
It is easy to overcommit nodes with the current primitives we have available.  Setting request.CPU less than expected CPU usage for a pod allows over-committing a node's CPU without any of these changes.
How is the above insuff

[2017-12-14 18:37] G-Harmon opened #57205 "sample-controller errors when starting: Failed to list *v1alpha1.Foo: v1.ListOptions is not suitable for converting to "samplecontroller.k8s.io/v1alpha1""
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug report
/kind bug

**What happened**:
I'm following the directions to run the sample controller on https://github.com/kubernetes/sample-controller
When running it as directed, it gives these errors:
$ go run *.go -kubeconfig=$HOME/.kube/config
E1214 10:34:25.188240  177579 reflector.go:205] k8s.io/sample-controller/pkg/client/informers/externalversi

[2017-12-14 18:40] bsalamat commented on #56714
I saw that too, but it means that we still don't know what is the actual throughput of scheduler itself in a 100 node cluster without rate-limitation, and possible other restrictions.

[2017-12-14 18:42] bsalamat commented on #56714
In other words, I would like to know if we can count on at least 75 pods/s that you had seen in 100-node clusters.

[2017-12-14 18:45] caseydavenport commented on #50451
It might, though isn't that just pushing the "stable API" from the labels to the name? Not sure if either can really be considered a contract.

If anything, labels are more meaningful than a name, but the question in my mind is "are labels on namespaced resources meaningful outside of that namespace?"

[2017-12-14 18:49] enisoc commented on #57159
Some things that previously were in the milestone but were punted to 1.9.1:

* Continuous polling of webhook admission registration objects #56357
* Introduce buffer to audit log output #53006
* CRD is stuck with "orphan" finalizer #56348
* apiserver timeouts after rolling-update of etcd cluster #47131

[2017-12-14 18:54] redbaron commented on #50451
I believe they are. Although I agree with points above, simple fact that I am forced to move kube-dns to a dedicated namespace to be able to reference it, shows something is wrong.  "Existence of the pod" is a contract, "existence of the pod with right labels" is a contract, "existence of the pod with right labels in the right namespace" is a contract. IMHO it is not much different from current "e

[2017-12-14 18:57] crassirostris commented on #57159
Audit logging buffering will probably be pushed back until the next minor release. It's too big to go into the patch release IMO

[2017-12-14 19:03] danwinship commented on #50451
If you are intentionally exposing the service for pods in other namespaces to consume, then they are presumably finding it via kube-dns, so the name is already the "stable API". (OK, obviously that doesn't work for the kube-dns service itself, but for any *other* service, that's how you'd find it.)

[2017-12-14 19:06] roberthbailey commented on #57184
thanks!

[2017-12-14 19:11] ovidiucp commented on #18174
@mikedanese It really is depressing that 2 years after this bug was opened no resolution exists. The inability to take action on this is just astonishing for an open source project, and I've worked in many large projects, including GCC back in the day, and quite a few while I was at Google.

Are you saying this bug is not high enough on the feature tracking list? Even though Kubernetes specificall

[2017-12-14 19:11] enisoc commented on #57191
On third thought, ObservedGeneration wouldn't help here because we delete the RC in [background mode](https://github.com/kubernetes/kubernetes/blob/95552b077e57d5d0d22b9f9314e51e1b74a63d6b/test/e2e/framework/util.go#L3000), so the actual RC object is immediately gone (no chance to coordinate via ObservedGeneration). I also didn't find anything in the GC code that mentions generation.

So, I'll sti

[2017-12-14 19:14] brancz commented on #56986
I agree that the problem @ncdc mentioned would exist, however, it already exists today in the same way, as if you have an outdated version of client-go, this means that objects are unmarshaled with the available fields. This problem has occurred multiple times for us while developing the Prometheus Operator, however, seem orthogonal to the problem of not having to rewrite versions all the time in

[2017-12-14 19:16] enisoc commented on #57191
cc @kubernetes/sig-apps-bugs for a fourth opinion.

[2017-12-14 19:16] G-Harmon commented on #57205
cc @munnerz - Hi, it looks like you checked this in with #52753.  What all do I need to do to get this to work?
@smarterclayton

[2017-12-14 19:18] ncdc commented on #56986
Yeah, like I said, not trying to muddy the waters here unnecessarily :-)

@sttts can you shed some more light (pseudocode?) on how you'd envision this working?

[2017-12-14 19:20] brancz commented on #56985
Ideally we would like to enable users to use the Prometheus Operator with any supported Kubernetes version, meaning those that still actively get security updates (by quick googling I couldn't find documentation on which versions this would mean concretely today). That would mean that we would like to have all APIs/versions in client-go down to the APIs available in those releases.

My guess is th

[2017-12-14 19:23] enisoc commented on #56052
Our latest report from sig-scalability is that these test issues are due to flakiness and are not release-blockers.

I'm removing the v1.9 milestone. Let me know if you have any concerns.

[2017-12-14 19:25] caseydavenport commented on #50451
Yeah, that makes sense and I think I mostly agree. Obviously there are exceptions to that rule but it's definitely the majority use case.

[2017-12-14 19:33] emwalker commented on #54370
@jakexks I'm running into this issue as well.  Can you elaborate a little on your workaround?

[2017-12-14 19:42] #21288 closed

[2017-12-14 20:01] msau42 commented on #54370
@emwalker in your cluster bringup, you should not enable the `EnableEquivalenceClassCache` feature gate for the kube-scheduler.  If you're passing in the feature gate `AllAlpha=true`, that automatically expands to all features, including the equivalence cache, so you need to remove that too.

[2017-12-14 20:02] mikedanese commented on #18174
I'm sorry your experience has been challenging. Engineers across the community (well beyond Google) have identified loadbalancing built-in to the client as a nice-to-have as there is a well documented and generally available workaround by using a TCP loadbalancer. While possibilities have been discussed, consensus has not formed around any proposed solution. If this is something that is urgent for

[2017-12-14 20:10] yujuhong commented on #14605
/remove-lifecycle stale

[2017-12-14 20:14] tomwilkie commented on #43600
Hi @wojtek-t - I gave your image a try and the migration didn't go very well.  etcd cluster of 3, and one of the nodes didn't even get past the updating to 2.3.7.  Generally lots of `failed to dial ...` errors, I suspect the script needs to run in perfect lock step to ever succeed.  I guess migrating a HA cluster isn't possible, I will drop down to single replica for now.

[2017-12-14 20:18] danderson commented on #56374
Updated issue title, and the top-level description with what I understand to be the issue, and my humble suggestion for how k8s should resolve it.

[2017-12-14 20:20] gnufied commented on #57185
Rather than watching for PVCs, a kubelet can watch for pods that are running on it and we can add a annotation to pod that volume it is using requires a resize. This is just a rough idea though because all nodes watching for all PVCs will put considerable strain on etcd and I am not sure I like that very much.

[2017-12-14 20:23] wojtek-t commented on #43600
@tomwilkie - correct. This tool is by design for offline migration.

[2017-12-14 20:30] lavalamp commented on #56348
Maybe I already mentioned this elsewhere, but another approach is to attempt a SMP, and if that fails, fall back to a GET/PUT loop. We could even cache per-object-type whether SMP works or not.

[2017-12-14 20:34] gnufied opened #57209 "Panic error in disruption controller"
Just saw panic error in Openshift:

[code]

[2017-12-14 20:35] gnufied opened #57210 "Panic error in daemon controller"
Similar to https://github.com/kubernetes/kubernetes/issues/57209

[code]

[2017-12-14 20:37] gnufied commented on #57210
/sig node
/assign

[2017-12-14 20:37] gnufied commented on #57209
/sig node
/assign

[2017-12-14 20:38] #56131 closed

[2017-12-14 20:46] enisoc commented on #57047
Reopening until we confirm the fix worked:

https://k8s-testgrid.appspot.com/sig-release-1.9-all#gke-1.9-1.8-downgrade-parallel&width=80

[2017-12-14 21:06] danehans commented on #49480
@dixudx https://github.com/kubernetes/release/pull/486 has ben merged. Can we close this issue?

[2017-12-14 21:09] caseydavenport commented on #49480
I think so - @enisoc do you agree?

[2017-12-14 21:09] roycaihw commented on #56999
/cc @yliaog

[2017-12-14 21:10] jennybuckley commented on #56999
@jennybuckley

[2017-12-14 21:11] kfox1111 commented on #45717
Any update on this? I just ran into this issue again.

[2017-12-14 21:11] roycaihw commented on #57024
cc @jpbetz

[2017-12-14 21:13] yliaog commented on #57030
@yliaog

[2017-12-14 21:14] roycaihw commented on #57030
cc @jennybuckley

[2017-12-14 21:27] roycaihw commented on #57042
cc @jennybuckley @cheftako @yliaog

[2017-12-14 21:31] roycaihw commented on #57044
cc @ironcladlou @caesarxuchao

[2017-12-14 21:33] aledbf opened #57212 "Defining a custom loadBalancerSourceRanges in a AWS NLB service is not respected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Creating a NLB service with a custom `loadBalancerSourceRanges` is not respected

**What you expected to happen**:

The security group should be created with the defined range and not `0.0.0.0/0`

[2017-12-14 21:33] aledbf commented on #57212
/assign @micahhausler

[2017-12-14 21:33] aledbf commented on #57212
/sig aws

[2017-12-14 21:34] aledbf commented on #57212
ping @micahhausler

[2017-12-14 21:38] klausenbusk commented on #18174
We run nginx on every node and let it handle the load balancing, it works very well (idea stolen from [kubespray](https://github.com/kubernetes-incubator/kubespray/blob/d39a88d63f56d04de8bb0fbae8cadab5f2dcd63c/docs/ha-mode.md#kube-apiserver)). You should be able to do the same.

[2017-12-14 21:41] bzub commented on #57130
On bare-metal, I assume kube-controller-mananger would still provide `--cluster-cidr` and `--node-cidr-mask-size` options? The only change would be to remove podCIDR from the Node spec and instead write a podCIDR annotation to nodes?

[2017-12-14 21:43] mbohlool opened #57213 "umbrella issue for HA (replicated) API Server"
API Server relies on etcd for HA. But it also has internal objects/states that need to be initialized based on API objects in etcd. Example of that is CRDs that need a http handler. This issue is to keep track of all states we have in API server and make sure all of them are HA ready. Note that most of them are already HA.

- [ ] CRD http handler: Coordination required between API servers to mark

[2017-12-14 21:43] hex0cter commented on #52787
I would absolutely love it.

[2017-12-14 21:44] cheftako commented on #57213
cc @cheftako

[2017-12-14 21:54] jennybuckley commented on #57213
cc @jennybuckley

[2017-12-14 21:59] #14727 closed

[2017-12-14 22:02] bsalamat commented on #54189
/assign @misterikkit

[2017-12-14 22:13] dims commented on #57047
Looks like we are green - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-beta-stable1-downgrade-cluster-parallel/368?log#log

[2017-12-14 22:14] derekwaynecarr commented on #57210
this is not sig node.
/sig api-machinery

[2017-12-14 22:17] #57047 closed

[2017-12-14 22:23] janetkuo commented on #57167
@liggitt

But the RS already has generation=X set before it's adopted. How does the deployment use its own generation to compare with the adopted RS's generation?

When rolling back, the deployment's template gets updated and then its generation++ (say it's N). Who will update RS's generation to make it match N?

Scale change has never been recorded in workloads. It's a fundamental design decision

[2017-12-14 22:23] luxas commented on #49480
Can we close this now with https://github.com/kubernetes/release/pull/486 merged? I think so

[2017-12-14 22:24] enisoc commented on #49480
@pipejakob is still working on back-filling packages for old k8s versions to prevent them from picking up kubernetes-cni 0.6.0. I think we can close this once that's done.

[2017-12-14 22:30] janetkuo commented on #57167
@smarterclayton

Is there a reason not to initialize/default this at pod-level or deployment-level?

If webhook mutates rs created by deployments, it changes deployment history too. It may have some side-effect on rollback, is this a concern too?

I wish we could simply diff rs and deployment with strategic merge.

[2017-12-14 22:33] ironcladlou commented on #54940
@lavalamp @caesarxuchao Something I was mulling over with @liggitt and was curious to get your thoughts... given UID is required for an object reference for GC, and in the context of GC only the UID is important for existence checks, it seems like the use of namespace and name in the reference are both redundant and the source of internal complexity/ambiguity. Is this just a fact of life in the ab

[2017-12-14 22:38] liggitt commented on #54940
Until we can look up by uid, you need the namespace and name for efficient live look up of as yet uncached objects

[2017-12-14 23:20] davidz627 opened #57217 "Review and improve provision/attach/mount/etc logs/events for ease of debuggability"
We want to review the logs/events and make sure they're showing the right information at the right time.

/sig storage
/assign davidz627
/kind cleanup

[2017-12-14 23:21] davidz627 commented on #57217
Logs in Operationgenerator have all been reviewed and look good

Provisioning logs look good. Provisioning events look good in provisionClaimOperation in pv_controller.go

[2017-12-14 23:30] davidz627 commented on #56647
/kind technical-debt

[2017-12-14 23:58] thockin commented on #57130
I'd say no - all of the flags around CIDR management should go away and
become part of the network plugin subsystem.  If you want the same
behavior, we should produce a "simple IPAM controller" which takes a CIDR,
watches nodes, and decorates them.

There is an open question about if/how other pieces of the system
can/should learn about IPAM.  I lean towards "they should not".

On Thu, Dec 14, 201

[2017-12-15 00:12] #18205 closed

[2017-12-15 00:13] #4455 closed

[2017-12-15 00:13] #14163 closed

[2017-12-15 00:14] #14399 closed

[2017-12-15 00:14] #10438 closed

[2017-12-15 00:15] k82cn commented on #45717
there's an alpha feature in 1.9 (TaintNodeByCondition), please try it :).

[2017-12-15 00:52] ash2k commented on #37598
Ref https://github.com/kubernetes/apimachinery/issues/30

[2017-12-15 01:06] ovidiucp commented on #18174
@mikedanese Note this is not a nice-to-have feature. It affects the high availability of a cluster since the kubelet and the kube-proxy are not able to talk to the replicated masters in an HA fashion. Hacks like the one suggested by @klausenbusk involving non-kube components are required to make things work properly.

My frustration stems from the fact that we have a change that attempts to fix th

[2017-12-15 01:18] hzxuzhonghu commented on #57189
ok

[2017-12-15 01:20] #22322 closed

[2017-12-15 01:28] #13242 closed

[2017-12-15 01:41] pineking commented on #57193
see https://github.com/kubernetes/kubernetes/pull/57146

[2017-12-15 01:46] resouer commented on #53236
All fixes are in before 1.9 release, with proper release note, and announcement has been sent to mailing list.

Close.

[2017-12-15 01:46] #53236 closed

[2017-12-15 01:53] henrywallace commented on #18656
How does one restart the controller manager?

[2017-12-15 02:06] MrHohn opened #57219 "kube-proxy iptables mode is not handling unmatched IP versions properly."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kube-proxy will fail on executing iptables command if there is unmatched IP versions configuration (IPv6 address in IPv4 mode or IPv4 address in IPv6 mode).

**What you expected to happen**:
kube-proxy should filter out entries with incorrect IP version.

/assign

[2017-12-15 02:07] MrHohn commented on #57219
/sig network

[2017-12-15 03:02] adnavare commented on #56902
Hi all, i faced the similar issue of unable to find portmap plugin. How did you fixed it? I used https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml#L107 that uses flannel image of 0.9.1. I think this is the latest. Shall i upgrade kubernetes? Right now I am running K8S 1.8.5

[2017-12-15 03:08] timchenxiaoyu commented on #45419
even the docker is hang ,the pleg should not to be inactive

[2017-12-15 03:09] zhangxiaoyu-zidif commented on #56479
/reopen

[2017-12-15 03:10] zhangxiaoyu-zidif commented on #56479
/assign

[2017-12-15 03:15] mlmhl commented on #57185
Thanks @gnufied , it exactly will put considerable strain on `etcd` if all nodes watching for all PVCs, so in my proposal I add a label `expandable-volume-mounted` for the PVC, and this label will be added only if PVC received a resize request and the `RequiresFSResize` of according volume plugin return true. If these prerequisites are set up, we set this label to the `nodeName` of the node which

[2017-12-15 03:17] 00mfg commented on #56902
you just need download portmap from https://github.com/projectcalico/cni-plugin/releases/download/v1.9.1/portmap,than put it to /opt/cni/bin
i am runing 1.8.5 and solve the issues

[2017-12-15 03:17] adnavare commented on #56902
I copied the v0.6 from the above link that gave me to programs - cnitool and noop. Copying both inside /opt/cni/bin did not work for me

[2017-12-15 03:23] adnavare commented on #56902
Thanks it worked 👍

[2017-12-15 03:42] fejta-bot opened #57223 "Failure cluster [2097b4...] failed 75 builds, 10 jobs, and 1 tests over 1 days"
### Failure cluster [2097b4bd8fcc97c3143c](https://go.k8s.io/triage#2097b4bd8fcc97c3143c)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    10 jobs failed,    75 builds failed.
Failure stats cover 1 day time range '14 Dec 2017 03:09 UTC' to '15 Dec 2017 03:09 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 10 |

##### Top f

[2017-12-15 03:47] vikaschoudhary16 commented on #57094
i see there `alpha.kubernetes.io/nvidia-gpu: 4` under the `Capacity` and `Allocatable` in the screenshot you pasted or is it expected result?

[2017-12-15 04:21] liggitt commented on #50234
this was fixed in https://github.com/kubernetes/kubernetes/pull/55902/commits/34a7b3dea8739abfc113c4e42935289ac1e89d64 which moved the selectors for downwardAPI out of the field selector conversion function

[2017-12-15 04:21] #50234 closed

[2017-12-15 04:23] liggitt commented on #53362
hostIP downward API support was added in https://github.com/kubernetes/kubernetes/pull/42717

[2017-12-15 04:23] #53362 closed

[2017-12-15 04:54] duane-ibm commented on #56780
Closing issue. Will open a new one.

[2017-12-15 04:54] #56780 closed

[2017-12-15 05:19] nikhita commented on #57205
/sig api-machinery

[2017-12-15 05:34] #56958 closed

[2017-12-15 06:20] wojtek-t commented on #12208
/lifecycle frozen

[2017-12-15 06:26] warmchang commented on #19817
👍

[2017-12-15 06:28] warmchang commented on #29679
👍

[2017-12-15 06:29] wojtek-t commented on #56714
You're asking purely about scheduler right? I'm not sure if the system would be able to handle that throughput in general (if we don't increase master size or sth like that). We would need to check it.

But if we focus just on scheduler, then in most of cases 75 should be easily achievable. But I think if we have many pods with pod affinity/anti-affinity, this would no longer be the case.

[2017-12-15 06:32] shun-miyoshi-com commented on #56133
Please help me to solve this issue.

[2017-12-15 06:47] CaoShuFeng opened #57227 "odd file name"
The name of this file is odd:
https://github.com/kubernetes/kubernetes/blob/master/pkg/security/podsecuritypolicy/capabilities/mustrunas.go
The file context has nothing to do with `mustrunas`

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/assign

[2017-12-15 07:20] definitelyuncertain commented on #57193
While the work in that PR is certainly necessary for the GPU part, there is still no way to check how much is left except by manually adding up each pod's consumption subtracting from the total allocatable. My request is for a feature that does exactly this and prints the summary.

[2017-12-15 07:42] hzxuzhonghu commented on #57210
related #51013

[2017-12-15 07:52] wojtek-t commented on #24157
/lifecycle frozen

[2017-12-15 08:01] duane-ibm opened #57232 "pull-kubernetes-unit job fails with Error when running run_kubectl_get_tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: pull-kubernetes-unit job fails with the error "Error when running **run_kubectl_get_tests**".
It fails at https://github.com/kubernetes/kubernetes/blob/f875ee596d4eb0d5847cf2f0e6b13a80de7d6008/hack/make-rules/test-cmd-util.sh#L1388
Commented out the above if statement and added a kube::test::if_has_not_string condition as

[2017-12-15 08:07] tengqm commented on #52678
@vishh Can we close this, since #55382 is in?

[2017-12-15 08:34] zmmwl opened #57234 "undefined: "k8s.io/kubernetes/pkg/generated/openapi".GetOpenAPIDefinitions"
I got below error when I was trying to compile kube-apiserver(release-1.7 branch) using goland UI tool :
src/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go:380: undefined: "k8s.io/kubernetes/pkg/generated/openapi".GetOpenAPIDefinitions

It's true that GetOpenAPIDefinitions is missing in package "k8s.io/kubernetes/pkg/generated/openapi" but the strange thing is that I can build it successfully

[2017-12-15 08:48] vasili439 opened #57236 "Nodes kill all containers when no connectivity to master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig node

**What happened**:
We have master node inside AWS and some nodes on bare metal inside 3rd party datacenter. Connection between DC and AWS built over Internet so it could be not so stable. When there is a connection outage for 3-5 minutes node leaves cluster (i.e. I can't see it with kubectl get nodes). After that housekeeping rem

[2017-12-15 09:07] ghost opened #57237 "add support for specifying namespace when using `gcloud container clusters get-credentials` command"
/kind feature

`gcloud container clusters get-credentials _clusterName_ --namespace=_namespaceName_ --name=_contextName_` should write the context to `KUBECONFIG` instead of having to manually edit the KUBECONFIG file in order to create a context tied with a particular namespace.

[2017-12-15 09:09] bogdando commented on #18174
Indeed, there is a zillion ways to "fix" this with custom LB setups, yet the point is to make it the client **native** solution requiring none of those LBs, which adding additional complexity end fragility to end systems...

But yeah, I fully agree with @mikedanese wrt the "please come join us to develop it" part :)

[2017-12-15 09:31] pinnacle-hk commented on #57237
@kubernetes/sig-cli-feature-requests

[2017-12-15 09:37] mdshuai opened #57239 "cpumanager should graceful exit other than panic when met error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When enable cpumanager by `--cpu-manager-policy=static`,  but not set `--kube-reserved` and `--system-reserved`, kubelet will get panic error in log
[code]
**What you expected to happen**:
Should graceful exit with error not panic.

**How to reproduce it (as minimally and precisely as possible)**:
set `--cpu-manager-policy

[2017-12-15 09:38] mdshuai commented on #57239
/sig-node

[2017-12-15 09:38] dixudx commented on #57234
@zmmwl This is not a bug. This file will be auto-generated when building.

Please run `make kube-apiserver` to build your `kube-apiserver` binary.

[2017-12-15 09:38] lijunyong opened #57240 "when I start kubelet, it failed"
[code]

[code]

[2017-12-15 09:50] vfreex commented on #20227
It would be nice to have this feature. However, like @witrin said, it is hard to implement.

In order to capture the traffic targeting the remote port, a program running in Pod is required to listen on that port. In the case of `ssh -R`, `sshd` running on the remote side will open a port. But in the case of a Pod, I don't think it is a good idea to put an agent like `sshd` to do so.

Any ideas?

[2017-12-15 10:04] #54303 closed

[2017-12-15 10:16] vikaschoudhary16 commented on #56159
/assign

[2017-12-15 10:33] vikaschoudhary16 opened #57241 "Improve handling of Unhealthy devices"
/kind feature

Track unhealthy devices in device plugin, and have node status capacity to reflect raw capacity but allocatable to reflect healthy device capacity

Current behavior is that only node allocatable and capacity is updated only with healthy devices.

/sig node

/assign

[2017-12-15 11:05] discordianfish commented on #57109
@antoniaklja Great! From my perspective there isn't more to discuss.

[2017-12-15 11:16] jakirpatel commented on #48968
I am facing similar issue for statefulsets. I have attached the PV through PVC in GKE. But when the replicas are more than 1, the rest pod will go in waiting: the crashloopbackoff state.

Any progress on this issue?

[2017-12-15 11:35] antoniaklja commented on #57109
cool, will do that :)

[2017-12-15 12:23] munnerz commented on #57205
Hey - thanks for this report. I'm not sure how, but we were missing an extra line in register.go. I've put in #57243 to resolve this (and it's working for me now :tada:)

[2017-12-15 12:54] gyliu513 opened #57244 "Enhance event message for scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If there are some scheduler errors when I create some pods, I will get some event message as following:

[code]

People often ask me what does `(2)` and `(1)` means in this message, so my proposal is enhance the message a bit as following:

[code]

/cc @kubernetes/sig-scheduling-bugs

**What you expected to happen**:

**

[2017-12-15 13:02] jmcmeek commented on #57044
I think this problem occurs because controllermanager.go initialiuzes the stop channel top nil when leader-elect=false.  This causes garbage collector graph_builder to exit early.

The following release-1.8 patch seems to fix the problem.  controllermanager.go creates a dummy channel which will never be closed and allows the garbage collector graph builder to work like it does when leader-elect is

[2017-12-15 13:09] rtheis commented on #57044
@jmcmeek: do you really need to remove the following code?

[code]

[2017-12-15 13:15] jeb5-ccl commented on #38849
Hi @falfaro, it looks like this has already been fixed in the readme. the labels look like they should work. unfortunately I dont have time to test it out right now.

[2017-12-15 13:30] jmcmeek commented on #57044
@rtheis That change was not intended.  I also noticed that after I saved my change.  I redid the patch and edited my previous comment to reflect that.

[2017-12-15 13:32] #57234 closed

[2017-12-15 13:39] dims commented on #57166
/sig api-machinery

[2017-12-15 13:39] dims commented on #57176
Can you please move this to https://github.com/kubernetes/kubeadm/issues ?

/close

[2017-12-15 13:39] #57176 closed

[2017-12-15 13:57] dims commented on #57203
@mkotsollaris take a look at https://github.com/dims/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/resource.go#L36-L42 When it is not originally set in the Requests (it's a ResourceList), one cannot set the new value in the data structure returned by Memory()

Something like this should work: (https://github.com/dims/kubernetes/blob/master/test/e2e/scheduling/preemption.go#L86)
cont.Resour

[2017-12-15 13:58] dims commented on #57203
/sig api-machinery

[2017-12-15 13:58] dims commented on #57240
/sig api-machinery
/sig auth

[2017-12-15 14:30] dixudx commented on #57244
@gyliu513 dup of #52166.
Already fixed in #52515.
/close

[2017-12-15 14:31] #57227 closed

[2017-12-15 14:33] ironcladlou commented on #57044
Agree with the diagnosis and fix, @jmcmeek are you going to open a PR?

[2017-12-15 14:54] jmcmeek commented on #57044
@ironcladlou Yes, I can do that.  Reading your PR guidelines and ours.

[2017-12-15 14:56] ncdc commented on #20227
I would think this would just be modifying the arguments passed to `socat` in the kubelet/cri. It should be possible to do.

[2017-12-15 15:07] DirectXMan12 commented on #56430
The perf issue might not be (we'd have to reproduce), but the logspam seems to be.

[2017-12-15 15:51] micahhausler opened #57249 "Enable Network Load Balancers to register nodes by IP address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig aws

Creating an NLB service (with v1.9+) in Kubernetes registers instances by instance ID, which [limits the instance types](http://docs.aws.amazon.com/elasticloadbalancing/latest/network/target-group-register-targets.html#register-deregister-targets) to only newer instance classes. A new service annotation would be the obvious way

[2017-12-15 15:52] sttts commented on #56986
@ncdc will try to do a very basic prototype, better than hand waving.

[2017-12-15 15:52] micahhausler opened #57250 "Add PROXY protocol support for AWS Network Load Balancers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig aws

**Anything else we need to know?**:

AWS has added support for [PROXY protocol on Network Load Balancers](http://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#target-group-attributes), which is very useful if nodes are registered by IP address (See #57249) to get the original client IP

[2017-12-15 16:04] libesz commented on #28272
Memory medium with sizeLimit (or maybe even also without it) leads to a crashloop if it is filled. This is because the tmpfs is not wiped on pod restart and oomkiller keeps killing the application.
Is this really desired?

[2017-12-15 16:09] msau42 commented on #48968
Hi @jakirpatel, crashloopbackoff generally means that the the volume is successfully mounted, but your container is crashing.  You'll need to check the logs of your container to see why it's crashing.

[2017-12-15 16:10] msau42 commented on #48968
Can you post the events you see with 'kubectl describe pod <pod>'?

[2017-12-15 16:13] vikaschoudhary16 commented on #56026
I believe we all agree that there is no race in the scenario described in the description of this issue. Shall we close this issue?

[2017-12-15 16:18] ericchiang commented on #57240
Your Kubelet isn't using any credentials?

nonymous" cannot create certificatesigningrequests.certificates.k8s.io at the cluster scope. (post certificatesigningrequests.certif
icates.k8s.io)

[2017-12-15 16:26] RenaudWasTaken commented on #56026
@vikaschoudhary16 there is a race I think I didn't fully read your answer at the time sorry.

Because the way maps works when [replacing](https://github.com/kubernetes/kubernetes/blob/6b97376a539c84b9bb11de5d44daeadf9930049e/pkg/kubelet/cm/deviceplugin/endpoint.go#L157) the map in the structure I am now making the Endpoint's map to the local copy of [`run`](https://github.com/kubernetes/kubernetes

[2017-12-15 16:56] #8186 closed

[2017-12-15 16:56] #10126 closed

[2017-12-15 17:22] enisoc commented on #49480
@pipejakob reported last night that the back-fill is done and staged in `unstable`. He's tested the updated packages, so we just need to re-tag that package set as `stable` this morning before pushing v1.9.0 in the afternoon.

[2017-12-15 17:22] #49480 closed

[2017-12-15 17:30] enisoc commented on #57159
I think we are also punting this to 1.9.1:

https://github.com/kubernetes/kubernetes/issues/54940

[2017-12-15 17:30] stevekuznetsov commented on #21311
/close

[2017-12-15 17:30] #21311 closed

[2017-12-15 17:34] geojaz commented on #50898
/assign geojaz

[2017-12-15 18:00] mcops commented on #54610
It#s really a mess. I just upgraded to 1.8.4 and file_mode only mounts 0700 instead of necessary 0777.
I'm on Azure Container Services,so now 1.8.5 upgrade possibility :-(

[2017-12-15 18:06] mcops commented on #54610
I'm in production in 1.8.4 and have to switch back...this is a nightmare...

[2017-12-15 18:15] mcops commented on #54610
BTW: 1.8.2 was working !

[2017-12-15 18:27] jiayingz commented on #52678
/close

[2017-12-15 18:27] #52678 closed

[2017-12-15 18:29] pipejakob commented on #49480
Thanks for remembering to update here, @enisoc. All of the backfill builds are now promoted to stable (with easy rollback instructions in case anything goes wrong). Should be good to go today with the 1.9 debs/rpms after the release is cut.

[2017-12-15 18:41] saiyan86 opened #57253 "Receiving consecutive ADD calls for the same Windows container."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig Azure

**What happened**:
For Windows docker containers, we receive consecutive ADD calls for the same container without DEL in between.

**What you expected to happen**:
We expect to receive ADD calls in ADD-DEL cycle instead of consecutive ADD calls.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a kubernete

[2017-12-15 18:58] ericchiang commented on #50463
This is fixed as of 1.7.10, right? Can we close it?

[2017-12-15 19:00] mjj29 commented on #56304
Hi, does anyone have any more information on this? I'd really like to get my DNS working. I literally have no idea where to start looking. My guess is that the DNS kubelet doesn't have access to my authorization key for the minikube API - but I don't know where to look for the configuration to make that work

[2017-12-15 19:15] #18872 closed

[2017-12-15 19:38] StevenACoffman commented on #50309
@Bobi-zhou  you can pull in the pod's namespace and name as environment variables using what's called the "[Downward API](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/)", adding a field on the container like:
[code]

[2017-12-15 20:20] witrin commented on #20227
You doing this with `socat`? :grin: That's funny, because I thought about building a container running `socat` to get this done, so I have not to touch the configuration of the hosts SSH daemon. If this is really cheap to implement like @ncdc estimated it would be such a helpful feature.

[2017-12-15 20:23] dims commented on #36858
cc @tpepper

[2017-12-15 21:06] ncdc commented on #20227
Yes, `kubectl port-forward` uses `socat` in the kubelet/cri. This would be a matter of modifying the protocol to be able to specify remote vs local ports, and then adding the support for the other direction.

[2017-12-15 21:35] mbohlool commented on #56430
OpenAPI aggregator would try less (exponentially) on a request failure. We can definitely reduce number of logs. But we should change the title of this bug or create a new one for logspam and continue discussion about OpenAPI aggregation there.

[2017-12-15 21:49] squeed commented on #27398
Here's another straw-man idea: somehow, the Pod type is extended with a new `[]PodIP` entry. The datatype is pretty stupid:

[code]

By default, labels are "somehow" associated with a CNI configuration, and when that CNI configuration is applied to a pod, those labels are also applied to the IPs. Perhaps there could be a way for the CNI plugin to return more labels.

Then, Services get an IPSelect

[2017-12-15 22:00] #54940 closed

[2017-12-15 22:33] xiang90 commented on #57213
/cc @rphillips

[2017-12-15 23:01] thockin commented on #25836
This wart still exists and we really should figure out how we want to fix it.

[2017-12-15 23:19] bsalamat commented on #56714
Thanks, @wojtek-t! Yes, I am asking about scheduler and assuming that API server handles the associated load. I am aware that affinity/anti-affinity can drop performance a lot, but we are interested in scheduler's performance in scheduling simple pods, i.e., no fancy spec like affinity/anti-affinity.

[2017-12-16 00:40] liggitt commented on #57240
What method did you use to set up your kubelet?

[2017-12-16 00:41] liggitt commented on #57240
/kind support

[2017-12-16 00:43] #56479 closed

[2017-12-16 00:44] rochaporto commented on #49867
@anguslees would the 'use the internal IP instead of metadata reply' be a better option? I'm willing to implement this.

[2017-12-16 00:45] liggitt commented on #57191
GC doesn't use generation.

[2017-12-16 01:10] jethrogb opened #57261 "kubeadm join uses API server from CM instead of cmdline"
/kind bug

**What happened**:

[code]

Note the message on the 8th line: *will use API Server "10.199.1.56:15000"*. However on line 10, you can see the API server endpoint being used is *10.199.1.56:6443*. This latter address is the endpoint specified in the kube-public/cluster-info configmap.

**What you expected to happen**:

I expected the behavior to match what's being printed to the terminal.

[2017-12-16 01:14] jethrogb commented on #57261
Moving to kubeadm repo

[2017-12-16 01:14] #57261 closed

[2017-12-16 01:29] #55837 closed

[2017-12-16 01:41] mkotsollaris commented on #57203
Thank you. That worked with a small modification since you need to `make` the map prior adding the `KV`:
[code]
Adding it here in case someone needs it in the future.

Cheers!

[2017-12-16 02:08] dims commented on #57203
/close

[2017-12-16 02:08] #57203 closed

[2017-12-16 02:24] andyzhangx commented on #54610
@mcops 1.8.2 is working? I have checked the code, it's still using 0700, If you are using v1.8.x, I would suggest you to use v1.8.5, it would support mountOptions. 0700 is really too restrict, I have created a [PR](https://github.com/kubernetes/kubernetes/pull/56551) to set as 0755.

[2017-12-16 02:36] andyzhangx commented on #57253
what's the ADD-DEL call? can you explain more?

[2017-12-16 02:55] gyliu513 commented on #57244
Thanks @dixudx I think the fix of #52515 is not good enough, as it can work well with error message started with `Node`, such as `2 NodeUnderMemoryPressure`, `1 NodeUnderDiskPressure`, but there are different error messages as here https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/error.go#L33-L54

[code]

Customer will be confused if they got message `

[2017-12-16 02:56] gyliu513 commented on #57244
/open

[2017-12-16 03:23] dongkunn opened #57263 "[v1.8.5] about custom scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I test Custom scheduler, but my pods status is still pending.
https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/

I made a new custom scheduler and 3 test pods like k8s sample yaml
but, pods using 'default-scheduler' works well, but pods using 'my-scheduler' doesn't work.

I don't know how to fix

[2017-12-16 03:45] liggitt commented on #57263
What's in the log output of your custom scheduler pod?

[2017-12-16 03:45] liggitt commented on #57263
/kind support

[2017-12-16 04:29] #54610 closed

[2017-12-16 04:29] #56192 closed

[2017-12-16 05:13] burtonator commented on #1443
What's needed to get this implemented.  We would love to see IPv6 at Scalefastr as that works really well for our use case.

IPv6 is awesome when you have a whole /64 and plenty of IPs to work with on the host machine.

[2017-12-16 05:19] #50598 closed

[2017-12-16 05:19] #56511 closed

[2017-12-16 05:59] #56404 closed

[2017-12-16 07:23] roberthbailey commented on #21690
/close

[2017-12-16 07:23] #21690 closed

[2017-12-16 07:24] roberthbailey commented on #27547
/remove-lifecycle stale

[2017-12-16 07:55] skinny commented on #51764
Same issue here. I can not delete anything except a pod. Deleting a Deployment will just hang forever and no DELETE call to be found in de verbose logging. I am using 1.8.1 and also tried 1.8.2

[2017-12-16 08:08] m1093782566 opened #57269 "Should validate ipset util"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

There is no validation for ipset set and entry in pkg/util/ipset.

**What you expected to happen**:

We should validate them before call ipset exec. IPVS should validate ipset entry before adding it.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2017-12-16 08:09] warmchang opened #57270 "[v1.8.4] The deploy & rs result of the kubectl get all result are repeatedly displayed."
**Is this a BUG REPORT or FEATURE REQUEST?**: /kind bug

**What happened**:
The deploy & rs result of the kubectl get all result are repeatedly displayed.
And inquire for them alone (kubectl get deploy & kubectl get rs), the result is correct.

[code]

**What you expected to happen**:
Run kubectl get all, the deploy & rs result show correctly.

**Environment**:
- Kubernetes version (use `kubectl v

[2017-12-16 09:45] warmchang commented on #57270
@kubernetes/sig-cli-bugs

[2017-12-16 09:53] #56548 closed

[2017-12-16 10:06] xiangpengzhao commented on #57270
I encounter this as well. I see other guys reported this: https://github.com/kubernetes/kubernetes/issues/55720 and https://github.com/kubernetes/kubectl/issues/167

[2017-12-16 10:36] warmchang commented on #57270
@xiangpengzhao thank you! I'll watch those issues. and close this one.

[2017-12-16 10:36] #57270 closed

[2017-12-16 11:35] manikantag commented on #28974
I'm able to use numbers without quoting by prefixing values with `!!integer`. But `!!int` is not working though.

Ex:

    apiVersion: v1
    kind: ConfigMap
    metadata:
     name: identity-config
    data:
      TC_HOST: 192.168.1.10
      TC_PORT: !!integer 8080

[2017-12-16 11:36] manikantag commented on #32672
I'm able to use numbers without quoting by prefixing values with `!!integer`. But `!!int` is not working though. *(Using Kubernetes 1.8)*

Ex:

    apiVersion: v1
    kind: ConfigMap
    metadata:
     name: identity-config
    data:
      TC_HOST: 192.168.1.10
      TC_PORT: !!integer 8080

[2017-12-16 13:19] dongkunn commented on #57263
this is my-scheduler log
but there is no event because this pod status is pending.
this is never scheduled.

[root@localhost ~]# kubectl describe pods annotation-second-scheduler
Name:         annotation-second-scheduler
Namespace:    default
Node:         <none>
Labels:       name=multischeduler-example
Annotations:  kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"v1","kind":"Pod"

[2017-12-16 13:25] yuonch opened #57273 "[v1.9.0] Kubelet unable pull image"
I run a dashboard which used my private docker registry with kube 1.9.0.
First, I had create one secret  ,and I can  pull image with "docker pull" use the username and password which in dockercfg.
![image](https://user-images.githubusercontent.com/312469/34070814-5c3128b8-e2a7-11e7-9043-f00fcf99bada.png)
But, the kubelet can't pull image.
![image](https://user-images.githubusercontent.com/312469/3

[2017-12-16 13:31] vfreex commented on #20227
@ncdc That would be very interesting. I would like to take a look.

[2017-12-16 13:46] #56516 closed

[2017-12-16 14:06] dongkunn commented on #57263
there is no log.
I think custom scheduler is blocked because of something. but I don't know reason.

[2017-12-16 14:35] #57209 closed

[2017-12-16 14:36] #57210 closed

[2017-12-16 14:39] #56237 closed

[2017-12-16 14:50] liggitt commented on #57263
The my-scheduler-656856794f-s7hdw pod is not running? In the description, it showed as running

[2017-12-16 15:12] liggitt commented on #32672
Agree with spzala, the type must be specified correctly as a string. Yaml only requires number and boolean values to be quoted (alpha values are inferred to be strings), but you can quote all configmap data values if it makes it easier

[2017-12-16 15:12] #32672 closed

[2017-12-16 15:33] cyphar commented on #24036
`cri-o` pretty much covers this now, so I guess we could close this.

[2017-12-16 15:40] tpepper commented on #56016
/kind support

[2017-12-16 16:35] brendandburns commented on #40346
@containscafeine you should be able to run that 'curl' command from any container in the cluster, e.g.

[code]

[2017-12-16 16:37] kk580kk commented on #17645
This is a problem from selinux, I thounght.
And I have already fixed by change selinux setting.

[2017-12-16 16:37] #17645 closed

[2017-12-16 17:33] #56830 closed

[2017-12-16 17:33] #54904 closed

[2017-12-16 17:33] #50986 closed

[2017-12-16 18:13] ConnorDoyle opened #57276 "Device manager only considers extended resource limits when allocating devices."
/kind bug
/sig node
/area hw-accelerators

**What happened**:
In `/pkg/kubelet/cm/deviceplugin/manager.go` devices are allocated from a function called `allocateContainerResources`. This function inspects only container resource limits, ignoring container resource requests. This is a usability problem because it is valid to omit limits for extended resources. If limit is omitted for a device resou

[2017-12-16 18:14] ConnorDoyle commented on #57276
Related issue: #57170

[2017-12-16 18:16] ConnorDoyle commented on #57276
cc @jiayingz @RenaudWasTaken @vikaschoudhary16 @vishh @balajismaniam

[2017-12-16 18:18] fturib opened #57277 "invalid manifest for CoreDNS logging when started with kubeadm"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**:

When CoreDNS is deployed by default using feature-gates of kubeadm, it does not log anything when processing a DNS query.

That is due to change of log option of CoreDNS in latest version.
that version was bumped up in kubeadm, but the manifest was not adapted to the new log option.

- initial change of 'log stdout' in CoreDNS

[2017-12-16 18:20] fturib commented on #57277
/cc @rajansandeep
/sig network

[2017-12-16 18:22] vikaschoudhary16 commented on #57276
/assign

[2017-12-16 18:23] fturib commented on #57277
NOTE: only log is impacted. CoreDNS working as expected.

[2017-12-16 18:24] fturib commented on #57277
/cc @johnbelamaric

[2017-12-16 18:47] fturib commented on #57277
I have a question :

the initial manfiest is done for the image 0.9.10 of CoreDNS.
Bumping the version of CoreDNS was done by changing the version in version.go file (see #56802)
which means that the image's version is STILL 0.9.10 in the manifests ... and the corefile config is correct against the version of the manifest.

QUESTION: when modifying the version.go, is there a way to upgrade the man

[2017-12-16 20:10] #55797 closed

[2017-12-16 20:10] #56365 closed

[2017-12-16 20:10] #56875 closed

[2017-12-16 20:51] wojtek-t commented on #17389
This actually happened. There is some work remaining but there are separate issues for that items.

[2017-12-16 20:51] #17389 closed

[2017-12-16 20:57] andor44 commented on #56972
I wonder if #53795 could be related? We do not set anything for this flag explicitly. Does this default to true or false?

[2017-12-16 21:10] parlakisik commented on #56173
If nobody is working in this case . i can take it .

[2017-12-16 21:43] gnufied commented on #57185
@mlmhl no I have not started work on online file system resizing yet. Feel free to open a proposal for 1.10. I will be happy to review and move along as best as I can.

Regarding - adding annotation to pod:

The resize controller has to obviously check if pvc is being used in a pod, so it does get tricky pretty fast.  I think adding label to pvc works too, but the problem is - labels can be edited

[2017-12-16 21:50] #56555 closed

[2017-12-16 22:09] xbolshe commented on #56693
@rakeshkulkarni6  I have the same problem with kube-dns and Ubuntu. May you try to disable firewall ?

[code]

[2017-12-16 23:09] tmaier commented on #34366
Google announced in September 2017 that it will support `NetworkPolicy`. See https://cloudplatform.googleblog.com/2017/09/network-policy-support-for-kubernetes-with-calico.html

There is also a guide on this feature at https://cloud.google.com/kubernetes-engine/docs/how-to/network-policy

[2017-12-16 23:23] #56953 closed

[2017-12-16 23:47] ceason opened #57279 "vSphere cloud provider broken with controller-manager v1.9.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`controller-manager` crashes with error `client_builder.go:273] ServiceAccount "vSphere-cloud-provider" is invalid: metadata.name: Invalid value: "vSphere-cloud-provider": a DNS-1123 subdomain must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character (e.g. 'examp

[2017-12-16 23:50] dvohra commented on #28732
Have not yet tested with a later version of Kubernetes.  Please close issue. Shall reopen issue if required.

[2017-12-16 23:50] #28732 closed

[2017-12-16 23:55] ieugen opened #57280 "Kubernetes-cni issue with 1.9.0 - no ip address available in range"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I've upgraded my cluster from 1.8.5 -> 1.9.0. I upgraded the packages on my system and then used the kubeadm upgrade instructions. The upgrade went well. I changed docker logging config and restarted docker. Kube-dns did not start and I had two of them. Also my deployments did not start as well.

**What you expected to ha

[2017-12-16 23:58] ieugen commented on #57280
/sig network

[2017-12-17 00:19] honi commented on #56795
@kubernete

[2017-12-17 00:33] liggitt commented on #57279
Added in https://github.com/kubernetes/kubernetes/pull/55845
/assign @rohitjogvmw

[2017-12-17 00:35] liggitt commented on #57279
/assign @jingxu97

[2017-12-17 01:37] ieugen commented on #57280
This also happens after reseting and re-installing cluster

`kubeadm reset` + `rm -rf /var/lib/cni/flannel/* ` and `rm -rf /var/lib/cni/networks/cbr0/* ` and `ip link delete cni0 flannel.1` .

[2017-12-17 01:41] ieugen commented on #57280
I can confirm downgrading to 1.8.5 makes cluster work after re-install.

[2017-12-17 01:57] rohitjogvmw commented on #57279
Hi @liggitt,

I will work on it as soon as possible.
Thanks for reporting the issue.

/Rohit

[2017-12-17 03:24] mlmhl commented on #57185
Thanks @gnufied , I've already started this job and will open a proposal for 1.10 as soon as possible.

[2017-12-17 03:29] tengqm commented on #57276
FYI. The said issue has been fixed in #56398.

There are several valid cases when requesting extended resources:

- The user can specify 'limits' only. The API server will automatically set 'requests' to be equal to 'limits'.
- The user specify 'limits' and 'requests', and they are equal.
- The user specify 'requests' only. We can either reject the request saying that 'limits' must be set, or impl

[2017-12-17 05:47] #57120 closed

[2017-12-17 07:32] #56018 closed

[2017-12-17 07:32] #57004 closed

[2017-12-17 08:24] zetaab opened #57281 "add proxy protocol support for openstack lbaas octavia"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE
/kind feature

**What happened**: new lbaas octavia in openstack supports proxy protocol. Currently at least AWS supports elb with proxy protocol https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L107 I am kind of asking to add similar feature to openstack lbaas to enable proxy protocol support in kuber

[2017-12-17 09:57] hir3npatel commented on #19480
Don't know if this was resolved, but I don't care anymore. Feel free to close this.

[2017-12-17 10:46] discordianfish commented on #30618
/remove-lifecycle stale
Unless this was fixed somewhere else, this should be still valid.
@chakri-nelluri Did you get to work on this?

[2017-12-17 11:14] andyzhangx commented on #56788
@jk1510karti could you provide
1. your pod config
2. k8s version
3. your exact repro steps
If you want help, it's better provide detailed info, so other guys could repro your issue easily.

[2017-12-17 11:58] ibotty commented on #14349
This is still an issue, though arguably not one for kubernetes to fix.
/remove-lifecycle stale

[2017-12-17 12:19] #56383 closed

[2017-12-17 12:19] #55821 closed

[2017-12-17 13:09] Colstuwjx opened #57283 "[Feature request] add container memory pressure hook or send signal"
As I known, docker will send kill -9 signal while container OOM and enabled OOMKill option. But it seems that we do NOT support do something while the container is killing due to OOM.

Plans are:
A: send SIGTERM signal to wait container clean exit;
B: register linux eventfd to watch memory pressure and alert to container process.

Both these two plans are tested via [this repo](https://github.com/

[2017-12-17 13:49] #22647 closed

[2017-12-17 14:25] #18233 closed

[2017-12-17 14:26] #56450 closed

[2017-12-17 15:28] alexisvincent commented on #19075
/close

[2017-12-17 15:28] #19075 closed

[2017-12-17 15:29] craneworks commented on #49753
@yastij  What is the state about this PR with the release of 1.9?

[2017-12-17 15:34] LiliC commented on #56985
I agree with @brancz, but I can see the documentation of this to become easily outdated. I would propose to just have a fixed number of releases to support, that way it's easy to drop support docs and add new support docs for new releases.

[2017-12-17 15:40] readless opened #57284 "question about pod exec"
when i request the pod(on node node-A) exec api , if i do not config the ip of node-A in the k8s master's /etc/hosts, i will get the error from k8s master such as "can not resolve node-A " ,what should i do ,thanks

[2017-12-17 15:45] readless commented on #57284
/kind support

[2017-12-17 15:47] readless opened #57285 "how can i keep the pod log websocket"
/kind support

i request the pod log websocket api, but after some time, it will close auto, what should i do

[2017-12-17 16:08] cesartl commented on #3312
This is an old issue but this is still relevant for me today. I mostly run Java process on Spring boot which are very CPU hungry when they start. If too many pods start on the same node they compete for CPU and end up being killed for not starting fast enough.

My workaround is to have a script that scale the pods a little at a time, rather than all at once.

Another issue I face, not directly rel

[2017-12-17 16:23] yastij commented on #49753
I'm not following this one anymore, but don't think it made it to 1.9

[2017-12-17 16:26] #52031 closed

[2017-12-17 17:01] rohitjogvmw commented on #57279
Hi @liggitt

I have created an image with fix. Can you give it a try?
I have pushed the image as "docker.io/rohitjogvmw/hyperkube-amd64:ctlr-mgr-fix"
If you are using kubeadm, use can specify this image in kubeadm config file.

[2017-12-17 17:18] liggitt commented on #57279
Can you open a PR for review as well?

[2017-12-17 17:27] rohitjogvmw commented on #57279
sure

[2017-12-17 17:32] #24036 closed

[2017-12-17 18:46] igelkotten commented on #44665
@kensupermen @MSKPV @Rukeith

The admin.conf is generated when you run the init command and not the join command.

[2017-12-17 19:21] jmhodges commented on #31792
/remove-lifecycle stale

I think this still could use better docs. The ones linked still do not explain what the possible schemas are for that field.

[2017-12-17 19:59] wojtek-t commented on #16040
/lifecycle frozen

[2017-12-17 20:23] cmoad commented on #57273
I am also unable to pull an image from a private repo using `imagePullSecrets` on a service account when generating the secret using version 1.9.0 of kubectl. I am running k8s v1.8.0 in minikube. When I downgraded kubectl to 1.8.5 and regenerated the secret with the same command, the image pulled fine.

[2017-12-17 20:42] dims commented on #57285
/sig api-machinery

[2017-12-17 20:42] dims commented on #57284
/sig node

[2017-12-17 21:03] frankgreco opened #57289 "Very Simple Pre-Stop Pod Lifecyctl Hook Failure in v1.8.0"
/kind bug

**What happened**:
[code]

[code]

**What you expected to happen**:
I expect the `preStop` hook to successfully complete. In addition, since there is an error, I expect there to be some way to get logs for what went wrong.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
[code]

[2017-12-17 21:05] dims commented on #57279
/sig cluster-lifecycle

[2017-12-17 21:07] dims commented on #57273
/sig node

[2017-12-17 21:07] dims commented on #57263
/sig scheduling

[2017-12-17 21:07] dims commented on #57162
/sig api-machinery

[2017-12-17 21:15] frankgreco commented on #57289
@kubernetes/sig-api-machinery-bugs

[2017-12-17 21:42] #28376 closed

[2017-12-18 00:23] resouer commented on #57284
@readless What runtime you are using, Docker?

Generally kubelet should return it's IP to apiserver so you can send EXEC to that IP addr, instead of it's hostname. So I wonder how your kubernetes & kubelet is installed? Is there any special configuration being made?

[2017-12-18 01:17] readless commented on #57284
i request the url
`wss://**:6443/api/v1/namespaces/**/pods/**/exec?stdout=1&stdin=1&stderr=1&tty=1&command=/bin/sh&command=-i`
, (this pod is running on the node named node-A)
but the api master logs
`kube-apiserver[43544]: E1218 09:09:24.846961   43544 status.go:62] apiserver received an error that is not an metav1.Status: error dialing backend: dial tcp: lookup node-A on **:53: server misbehavin

[2017-12-18 01:25] jgiles opened #57291 "Make CrashLoopBackoff timing tuneable, or add mechanism to exempt some exits"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

**What happened**:
As part of a development workflow, I intentionally killed a container in a pod with `restartPolicy: Always`. The plan was to do this repeatedly, as a quick way to restart the container and clear old state (and, in Minikube, to load image changes).
The container went into a crash-loop backoff, making th

[2017-12-18 03:25] sjenning commented on #27935
thin_ls was disabled in cadvisor here after it was found to be way too disk intensive for large numbers of containers https://github.com/google/cadvisor/pull/1588

/close

[2017-12-18 03:25] #27935 closed

[2017-12-18 03:29] sjenning commented on #22652
thin_ls was a dead end (https://github.com/google/cadvisor/pull/1588) so there will likely never be per-container disk stats for devicemapper.  Future is to move to overlay.

/close

[2017-12-18 03:29] #22652 closed

[2017-12-18 03:36] xiangpengzhao commented on #57277
@fturib thanks for reporting this! I send PR https://github.com/kubernetes/kubernetes/pull/57296 to update the Corefile.

I don't think of a way so far. I guess we can't unless there is a way to get the Corefile from some place of  upstream (CoreDNS).

[2017-12-18 03:44] xiangpengzhao commented on #57280
Some discussion here: https://github.com/kubernetes/kubernetes/issues/55720

[2017-12-18 03:45] fejta-bot opened #57298 "Failure cluster [f2d98a...] failed 68 builds, 4 jobs, and 1 tests over 1 days"
### Failure cluster [f2d98a91489517f392f6](https://go.k8s.io/triage#f2d98a91489517f392f6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    4 jobs failed,    68 builds failed.
Failure stats cover 1 day time range '17 Dec 2017 03:18 UTC' to '18 Dec 2017 03:18 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 4 |

##### Top f

[2017-12-18 03:59] charrywanganthony opened #57299 "some bug fix in cli"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

#56484  In `kubectl expose`, when `dry-run` flag is true with default outputFormat, we should print the object rather than print `service xxx exposed (dry run)`, I fixed it in PR #56484 and improve the "`show-labeles` with `out-put` issue" just like [#55371 Using --show-labels with incompatible ‘kubectl get’ arguments sho

[2017-12-18 04:05] charrywanganthony commented on #57299
could you？@kubernetes/sig-cli-pr-reviews

[2017-12-18 04:06] charrywanganthony commented on #57299
/sig cli

[2017-12-18 06:05] lichuqiang opened #57300 "Initial support for resource quota and limit range on extended resources"
/kind feature
/area hw-accelerators

**What happened**:
We hope to support extended resource quota through the new resource class API in the long term. but given that this is a valuable feature that people may want asap, and the modification would be relatively small, we should consider implementing this with the current resource API for now.

- [x] support for resource quota
- [x] support for  li

[2017-12-18 06:19] lichuqiang commented on #57300
@jiayingz @vishh I've made the change for resource quota in #57302, PTAL :)
As for the issue of limit range, I looked into related codes and did several tests, seems the limitrange for ER has already been supported without any change.
Please let me know if I missed something.

[2017-12-18 06:54] andyzhangx opened #57304 "failed to dettach azure disk in VM when disk atttachment failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
failed to dettach azure disk in VM when disk atttachment failed

**What you expected to happen**:
Even disk attach failed, when I delete the pod with azure disk, it still should succeed

**How to reproduce it (as minimally and precisely as possible)**:
1. create an unmanaged azure disk PVC
2. create a pod with that PVC in

[2017-12-18 07:00] m1093782566 commented on #35179
/close

[2017-12-18 07:00] #35179 closed

[2017-12-18 07:48] warmchang commented on #34508
👍

[2017-12-18 08:35] luxas commented on #49480
Thanks @pipejakob for helping with thiis!

[2017-12-18 08:49] antoniaklja commented on #57144
yeah I think that #57109 solves your issue, kube-proxy will be restarted in case of any problems with connection to apiserver and pick up new ConfigMap with proper endpoint during startup.

[2017-12-18 08:49] gogeof commented on #45626
same here, version: 1.8.5
[code]

[2017-12-18 08:50] winjer commented on #49445
just had some downtime on a production cluster because of this. i really need it too ;)

[2017-12-18 08:57] andyxning commented on #34704
/remove-lifecycle stale

[2017-12-18 09:07] gongweibao opened #57315 "How pod preemption happen between multi schedulers?"
From [document](https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/) I know that a Pod must be scheduled by one scheduler. Such as scheduler `A` schedule pod `a` and scheduler `B` schedule pod `b`.

The question is that:  can `a` preempt `b` if `b` is already running? Which scheduler will do this operation?

And I found the preemption is [described](https://kubernete

[2017-12-18 09:10] wojtek-t commented on #24935
/lifecycle frozen

[2017-12-18 09:28] tatsuhiro-t opened #57316 "Multiple CRD APIVersions and migration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I defined a CRD whose APIVersion is v1alpha1.  Now things went well, I want to change APIVersion to v1.  But CRD.Spec.Version is immutable, and I could not change it.  CRD requires its name must match plural, and group, I could not add another CRD with the different version.
Backup custom objects, and delete current

[2017-12-18 09:31] tatsuhiro-t commented on #57316
/sig api-machinery

[2017-12-18 09:36] gogeof commented on #45419
Same here, 1.8.5
not update from low version, create from empty.
## resource is enough
### memory
[code]
### top
[code]

[2017-12-18 09:36] m1093782566 opened #57318 "should ignore the "Not Found error" when ensure ipset set or entry are deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

should ignore the "Not Found error" when ensure ipset set or entry are deleted.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configurati

[2017-12-18 09:41] nikhita commented on #57316
/area custom-resources

/cc @sttts @deads2k @enisoc

[2017-12-18 09:46] sweetcczhang commented on #55043
@defcyy @gogeof when I use the command "kubeadm --feature-gates=SupportIPVSProxyMode=true" get the message
```unrecognized feature-gate key: SupportIPVSProxyMode```
what i need to do to fix the problem

[2017-12-18 09:55] bhack commented on #54011
Ok so how we could solve this issue for both Debian and derivates like Ubuntu? Cause the last issue was already exposed at https://github.com/kubernetes/kops/issues/1726#issuecomment-299737687. Debian could have drivers installed by its official own packages as you can see in the thread. Also by a security point of view it is better to maintain nodes updated with apt for both Ubuntu and Debian.

[2017-12-18 10:18] luxas commented on #16132
@kubernetes/sig-cluster-lifecycle-feature-requests

[2017-12-18 10:26] pires commented on #30395
Any updates on this?

[2017-12-18 10:27] likunbyl commented on #29660
/close

[2017-12-18 10:27] #29660 closed

[2017-12-18 10:28] pires commented on #27698
This issue can be closed since kubeconfig is now the way to point components to the API.

[2017-12-18 10:31] #29543 closed

[2017-12-18 10:53] vikaschoudhary16 commented on #56026
@RenaudWasTaken thanks! I got confused b/w call-by-value and call-by-reference and forgot that in golang maps are call by reference.

[2017-12-18 11:00] #56052 closed

[2017-12-18 11:01] porridge commented on #55860
new umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

[2017-12-18 11:08] porridge commented on #56066
Another case:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/330

[2017-12-18 11:18] pires commented on #33875
No point in keeping this open, I guess.

/close

[2017-12-18 11:18] #33875 closed

[2017-12-18 11:21] roffe opened #57321 "IPset missing from gcr.io/google_containers/hyperkube-amd64"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Upgraded to Kuberenetes 1.9 and now IPVS mode in kube-proxy stopped working due to
[code]
**What you expected to happen**:

Normal startup as it's been working flawless in 1.8.5

**How to reproduce it (as minimally and precisely as possible)**:
Use kube-proxy with IPVS service mode on 1.9.0 hyperkube image from GCR

**Anyt

[2017-12-18 11:21] roffe commented on #57321
/sig-network

[2017-12-18 11:22] roffe commented on #57321
/sig network

[2017-12-18 11:31] roffe commented on #57321
According to jell in #sig-network these images are to be considered experimental and not used in production and might be missing binarys? , could someone shed some light on this

[2017-12-18 11:38] jellonek commented on #57321
To be more precise: hyperkube binary can hide some options of underlying applications (e.g. of fix for that: https://github.com/kubernetes/kubernetes/issues/54424) and whole docker image of hyperkube - as this issue shows, can miss some useful binaries. That's why I named it as a tool to do experiments, while for real deployments probably a better choice would be to use underlying applications dir

[2017-12-18 11:44] porridge commented on #56046
FWIW the test seems to have just stuck for over 8 hours until it was kicked by the timeout.

[code]

/priority failing-test
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

[2017-12-18 11:50] porridge commented on #56046
I wonder if anyone in @kubernetes/sig-testing-bugs has seen something like this before.

[2017-12-18 11:54] porridge commented on #57085
@davidopp @deads2k @derekwaynecarr ping?

[2017-12-18 12:02] roffe commented on #57321
Is this connected to https://github.com/kubernetes/kubernetes/pull/56115 and by chance the changes hasn't propagated down to the public images yet?

[2017-12-18 12:03] porridge opened #57323 "Create a process for tracking and fixing flakes in gce-(scale|large)-correctness jobs"
There are plenty of flaky tests in the suite ran by gce-(scale|large)-correctness jobs. We have changed these jobs to automatically retry each failure one time, but this is not sufficient in some cases where the probability of failure is high enough for the test to fail twice (example: https://github.com/kubernetes/kubernetes/issues/57085).

Losing a large-scale test due to such failure is costly,

[2017-12-18 12:03] porridge commented on #57323
Umbrella bug: https://github.com/kubernetes/kubernetes/issues/56062

[2017-12-18 12:04] porridge commented on #55780
Ping?

[2017-12-18 12:04] gongweibao commented on #57315
I found the preemption is [described](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/) as `When a Pod cannot be scheduled, the scheduler tries to preempt (evict) lower priority Pods to make scheduling of the pending Pod possible`. And then all the schedulers should follow the same priority rules? If a scheduler owner forgot it, pods will be scheduled in a loop?

[2017-12-18 12:19] jellonek commented on #57321
`hyperkube` image is based on https://github.com/kubernetes/kubernetes/tree/master/build/debian-hyperkube-base (which is based on https://github.com/kubernetes/kubernetes/tree/master/build/debian-base )
`kube-proxy` (and `flannel`) has a separate image based on https://github.com/kubernetes/kubernetes/tree/master/build/debian-iptables
But as `hyperkube` has included `kube-proxy` support, IMO also

[2017-12-18 12:20] php-coder commented on #39699
There are 2 useful projects from @garethr that could be useful:
- https://github.com/garethr/kubeval validates against schema
- https://github.com/garethr/kubetest allows to write custom checks

[2017-12-18 12:23] nikhita commented on #53777
/area custom-resources

[2017-12-18 12:24] #27698 closed

[2017-12-18 12:52] frittentheke opened #57325 "Allow referencing a TLS certificate / secret (secretName) residing in another namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

I tried to reference a TLS certificate / key with the _secretName_ variable of an ingress resource.

**What you expected to happen**:

One can use, and this is quite common, a single ingress controller for ingress of multiple namespaces.

Unfortunately the ingress resource may only reference a TLS certificate which re

[2017-12-18 12:55] frittentheke commented on #57325
/area ingress

[2017-12-18 13:11] sttts commented on #57316
We cannot support multiple versions of a CRD because there is no mechanism that can dynamically convert between them. There is a discussion going on in sig-apimachinery whether multiple versions are in scope or not, and if yes, how to add conversions for CRDs.

For the use-case here though the question is whether we can at least allow to change the (one and only) version of CRD without loosing any

[2017-12-18 13:24] jgiles commented on #57291
I guess a more direct way to achieve what I am looking for would be a `kubectl restart pod_name -c container_name` that was explicitly exempted from crash-loop backoff (see https://github.com/kubernetes/kubernetes/issues/24957#issuecomment-221173305 for related discussion) or some other way to indicate that we're bringing the container down on purpose and are not in an uncontrolled crash loop.

Bu

[2017-12-18 13:45] porridge commented on #56714
Adding a graph of CPU usage of kube-scheduler across gce-scale-performance runs. There is a major difference between runs but does not seem to be correlated with the drop in throughput that we're seeing in https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-348924075

![scwqlher1uy](https://user-images.githubusercontent.com/489420/34108869-0f0c7af4-e402-11e7-9ff7-a5d2ab95b26b.png)

[2017-12-18 14:23] #57151 closed

[2017-12-18 14:24] smarterclayton commented on #24935
This was implemented

[2017-12-18 14:24] #24935 closed

[2017-12-18 14:30] sttts opened #57330 "Tag client-go 6.0.0"
Kube 1.9.0 is released (https://github.com/kubernetes/kubernetes/releases/tag/v1.9.0). We have to tag the corresponding v6.0.0.

TODO:
- [x] update README.md https://github.com/kubernetes/client-go/pull/347
- [x] create changelogs
- [x] smoke tested godep via https://gist.github.com/sttts/4dce955e1ed6fd128f4b9b32f50f271f
- [x] smoke tested glide via https://github.com/sttts/kube-glide-test
- [x] d

[2017-12-18 14:36] ZhengRongTan opened #57332 "kube-dns does not work"
**Env**:

kubernetes 1.7.11
docker 1.12.6
flannel 0.7.1

**What happened**:

kube-dns does not work, see below:

[root@k8s-node-1 ~]# docker exec -it busybox /bin/sh
/ # cat /etc/resolv.conf
nameserver 169.169.0.10
search default.svc.cluster.local svc.cluster.local cluster.local
options ndots:5
/ # nslookup kubernetes
Server:    169.169.0.10
Address 1: 169.169.0.10

nslookup: can't resolve 'kubern

[2017-12-18 14:41] ZhengRongTan commented on #57332
kubelet added params --cluster-dns=169.169.0.10 --cluster-domain=cluster.local

[2017-12-18 14:52] LiliC commented on #57330
Updated the Habitat operator to the [`v.6.0.0`](https://github.com/kinvolk/habitat-operator/commit/bbb1ea7bc2c4f3d85da330aaf3782379588f136d#diff-836546cc53507f6b2d581088903b1785R25) of client-go, we are using [dep](https://github.com/golang/dep) in the project. It seems our end-to-end tests [pass](https://travis-ci.org/kinvolk/habitat-operator/builds/318115672#L537). So far so good, will update if

[2017-12-18 14:57] lynx-coding opened #57334 "kubelet dependency to kubernetes-cni failure"
/kind bug
/sig architecture

**What happened**:
When trying to install kubelet I got the following error:
`kubelet : Depends: kubernetes-cni (= 0.5.1) but 0.6.0-00 is to be installed`

**What you expected to happen**:
The dependency should be resolved by the kubelet package itself, but I get the error.

**How to reproduce it (as minimally and precisely as possible)**:
Remove kubernetes-cni from yo

[2017-12-18 15:03] vfreex commented on #20227
/label sig/cli sig/node

[2017-12-18 15:05] vfreex commented on #20227
/sig node

[2017-12-18 15:11] n-rook commented on #33193
This is still happening.

/remove-lifecycle stale

(I'm not sure if I'm supposed to make such flow-control statements as a humble user, but I guess we'll find out 😉)

[2017-12-18 15:57] porridge commented on #56714
I ran another test today (blue) with the same commit b262585, on the same cluster that I used in https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-351300904 and obtained a very similar result to the previous one (red).

One interesting thing is how the throughput visibly improved in the last quarter:

![chart 1](https://user-images.githubusercontent.com/489420/34114751-e37fbd26-e4

[2017-12-18 16:01] deads2k commented on #53777
This should work in v1.9.

@derekwaynecarr did you write docs?

[2017-12-18 16:02] deads2k commented on #53777
My mistake.  We *almost* have the mechanism.  We need to dynamically get at the different informers.

[2017-12-18 16:38] kubadawczynski commented on #57334
This issue is related to all packages in *-01 version
[code]

Why *-00 versions require kubernetes-cni (>= 0.5.1) and *-01 require specific version of kubernetes-cni

[2017-12-18 16:46] #56999 closed

[2017-12-18 16:51] sttts commented on #57330
Update kube-node succesfully to v6.0.0 using glide: https://github.com/kube-node/nodeset/pull/13

[2017-12-18 16:53] sttts commented on #57330
@timoreimann updated https://github.com/ncdc/client-go-4-to-5/tree/v5-to-v6 successfully using dep.

[2017-12-18 16:58] sttts commented on #57330
@lavalamp next to the automatic testing in the bot, we have done a lot of manual additional testing today. All looks good. What is open is the README update in https://github.com/kubernetes/client-go/pull/347. As soon as that goes in I will turn the v6.0.0 tag in an official release. Ptal if you have time.

[2017-12-18 17:41] colemickens opened #57339 "Return Custom Resources ONLY for the API Version in which they were stored"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request

/kind feature

It's currently common to hear discussion of CRDs and apiserver aggregations and then the conclusion that CRDs can't be used due to a lack of ability to version them properly and thus it's not possible to build operators that may have their CRDs change and evolve over time as they have no way to version and migrate.

Give

[2017-12-18 17:43] colemickens commented on #57339
/sig api-machinery

[2017-12-18 17:56] caseydavenport commented on #34366
/assign
/close

[2017-12-18 17:56] #34366 closed

[2017-12-18 17:57] #23226 closed

[2017-12-18 18:17] ConnorDoyle commented on #57276
Hi @tengqm, went with #57278 to begin since it was ready to go and smaller (easier to revert if necessary.) Hopefully it's easy to rebase your work on top of that. Sorry for the inconvenience.

[2017-12-18 18:18] #57239 closed

[2017-12-18 18:18] BenTheElder commented on #56121
This is the flakiest test in the repo:
- http://storage.googleapis.com/k8s-metrics/flakes-latest.json
- http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

[2017-12-18 18:23] chrislovecnm opened #57341 "Stage SHA1 files for older versions of CNI tar ball"
This is a follow-up to https://github.com/kubernetes/kubernetes/pull/51250, where I asked that all original tarball have there associated SHA1 files staged with them.

I am can d/l

https://storage.googleapis.com/kubernetes-release/network-plugins/cni-plugins-amd64-v0.6.0.tgz.sha1

but I am unable to d/l

https://storage.googleapis.com/kubernetes-release/network-plugins/cni-07a8a28637e97b22eb8dfe7

[2017-12-18 18:24] caseydavenport commented on #23476
I believe this issue isn't relevant any more - there are a number of simple and easy to use networks available for k8s now.

/assign
/close

[2017-12-18 18:24] BenTheElder opened #57342 "test-cmd run_plugins_tests flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:  `test-cmd run_plugins_tests` in the `pull-kubernetes-unit` job is the flakiest test in the unit job tied with [`TestCascadingDeletion`](https://github.com/kubernetes/kubernetes/issues/56121) which makes for the overall flakiest test in the repo.

**What you expected to happen**: Tests shouldn't flake this much.

**How to

[2017-12-18 18:25] chrislovecnm commented on #57341
/sig cluster-lifecycle
/sig release

[2017-12-18 18:29] BenTheElder commented on #57342
Per the nearest `OWNERS` to the kubectl plugins this appears to be testing:
@kubernetes/sig-cli-test-failures
/kind bug
Last person to touch `run_plugins_tests`:
/cc @mengqiy
Flakiness metrics:
- http://storage.googleapis.com/k8s-metrics/flakes-latest.json
- http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

[2017-12-18 18:44] saiyan86 commented on #57253
Sure. The ADD-DEL calls are made when creating endpoint for containers.

[2017-12-18 19:06] ryan-peachey-seon commented on #53201
Hi, I have encountered this limitation as well.  Our apps were initially developed on windows, and use asp.net core for running them in linux now.  But the asp.net libraries create environment variables that include `:`.

[2017-12-18 19:08] saad-ali opened #57345 "Number of "loaded inactive dead" systemd transient mount units continues to grow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The number of systemd transient mount units continues to grow unchecked on nodes.

I see a massive number of `loaded    inactive dead` secret transient mount units, for example:
[code]

We suspect (but have not yet verified) that once there are too many transient mount units, subsequent mounts will fail with:
[code]

**W

[2017-12-18 19:09] saad-ali commented on #57345
/sig storage

[2017-12-18 19:09] saad-ali commented on #57345
CC @kubernetes/sig-storage-bugs

[2017-12-18 19:12] saad-ali commented on #57345
Mitigation: I can verify that rebooting the machine ("sudo shutdown -r") cleans up the transient mounts.

[2017-12-18 19:15] #23950 closed

[2017-12-18 19:19] vishh commented on #57276
I feel the documented behavior is incorrect. The original intention was to always require `requests = limits` for extended resources until we have better APIs to express bursting scenarios.
I vote for fixing the documentation and fixing the validation logic and having kubelet use limits only.

[2017-12-18 19:19] #24436 closed

[2017-12-18 19:19] bowei commented on #48396
@samhagan -- would it be possible to also post the repro instructions?

[2017-12-18 19:20] squeed commented on #57280
Interesting; taking a look. I wonder if it is the old kubenet GC code no longer working.

[2017-12-18 19:20] #23462 closed

[2017-12-18 19:20] msau42 commented on #55780
@wongma7 looks like the external provisioner code still hasn't been fixed.  Do you plan on making that change soon?

[2017-12-18 19:30] #24702 closed

[2017-12-18 19:31] #24417 closed

[2017-12-18 19:35] #13627 closed

[2017-12-18 19:35] ieugen commented on #57280
Thanks @xiangpengzhao.  55720 explains the duplication. Not sure if it explains the bug about container not starting and IP's getting exhausted.

[2017-12-18 19:35] #23104 closed

[2017-12-18 19:38] #29007 closed

[2017-12-18 19:41] ixdy commented on #56046
Yes; this might be https://github.com/onsi/ginkgo/issues/206, but it's been a long time since I've looked into failures like this.

[2017-12-18 19:42] ixdy commented on #56046
https://github.com/kubernetes/kubernetes/issues/22671 is an example of a similar sort of failure.

[2017-12-18 19:45] caseydavenport commented on #23477
I think there are a bunch of network providers which don't have this limit today, so this issue isn't relevant any more.

@justinsb WDYT? Can we close?

[2017-12-18 19:46] liggitt commented on #57339
disjoint namespaces for custom resources in different versions would break users of the APIs and make consumers deal with them differently than other kube resources. If we allow multiple versions for CRDs, we'll need to do it in a way that is consistent with other kubernetes APIs externally

[2017-12-18 19:46] #57339 closed

[2017-12-18 19:48] rootfs commented on #57345
refer to https://bugzilla.redhat.com/show_bug.cgi?id=680122

[2017-12-18 19:49] samhagan commented on #48396
@bowei sorry I got caught up with other things and haven't had a chance to work on this.  Below is my plan to reproduce, but I haven't tried it yet.

1) create GKE cluster default instances (n1-standard-1)
2) add pool of preemptible nodes
3) install prometheus via helm chart (default options should work)
4) check time series for up==0 in prometheus

This may take a while since the preemptible node

[2017-12-18 19:50] liggitt commented on #57325
Cross-namespace references are intentionally not included in the API today as they lead to confused deputy vulnerabilities, where the actor doing the resolving has greater permissions than the one creating the referencing API object.

[2017-12-18 19:55] #27154 closed

[2017-12-18 19:56] #28357 closed

[2017-12-18 19:57] #31648 closed

[2017-12-18 19:57] #22765 closed

[2017-12-18 19:58] yujuhong commented on #25049
It's now `test/e2e/node/pods.go`, but the issue is still relevant
/remove-lifecycle stale

[2017-12-18 20:07] nicksardo opened #57350 "GCE: ILB creation can fail if subnets are manually added to automatic network and no subnetwork is specified."
/kind bug

**What happened**:
Continuation of #53409. The fix to that bug only takes the first subnetwork in the correct region. However, if the user added manual subnets in the region that the cluster exists, it's possible the cloudprovider could choose the wrong subnet.

**What you expected to happen**:
If no subnet is specified for a non-legacy network, always take the subnet which was automati

[2017-12-18 20:12] negz commented on #8867
https://github.com/GoogleCloudPlatform/k8s-metadata-proxy/blob/e693595/metadata_proxy.go#L22

@ihmccreery @mikedanese I notice the k8s-metadata-proxy blocks access to the `identity` endpoint, but not the `token` endpoint. Does blocking access to `identity` prevent pods using tokens requested via the `token` endpoint?

[2017-12-18 20:21] zmerlynn commented on #18201
/close

[2017-12-18 20:21] #18201 closed

[2017-12-18 20:25] gnufied commented on #57345
I ran some tests locally and systemd considers these commands as mount units and hence they show up in `systemctl list-units` but once secret has been unmounted the unit disappears from the list. @saad-ali can you verify if unit remains in list even after secret has been unmounted?

[2017-12-18 20:51] verult opened #57353 "Flexvolume driver disappears on instance reboot on COS."
**Is this a BUG REPORT or FEATURE REQUEST?**: bug

/kind bug

**What happened**: When a GCE instance running COS restarts, all installed Flexvolume drivers disappear.

**What you expected to happen**: Drivers should not disappear.

**How to reproduce it (as minimally and precisely as possible)**: Start a cluster on GCE with `cluster/kube-up.sh`. Install a Flexvolume driver on one of the nodes and

[2017-12-18 20:57] porridge commented on #56714
I shut down the master, changed it to use `Intel Ivy Bridge` rather than `Intel Broadwell` (which was used so far by that cluster's master) and re-ran the test. Now I can see the throughput observed in the automatic test (34.3 pods/s).

![chart 2](https://user-images.githubusercontent.com/489420/34127744-7cbda3ac-e43e-11e7-8b00-11619760b706.png)

[2017-12-18 20:58] #32370 closed

[2017-12-18 21:03] danwinship commented on #56842
@xujieasd does the "proxier-fixes-all" branch of https://github.com/danwinship/kubernetes/ work for you as well as your KUBE-MARK-REJECT branch does? It has 3 fixes:
- `KUBE-SERVICES` and `KUBE-EXTERNAL-SERVICES` are split, as in #56164
- Match rules for services with no endpoints are no longer added to the `nat` table (meaning now for each IP, a rule is added *either* to `nat` *or* to `filter`, b

[2017-12-18 21:05] gnufied commented on #57345
@saad-ali was this cluster started via `./cluster/local-up-cluster.sh` ? if yes - this environment has default of `KeepTerminatedVolumes` set to true which will cause mount point to persist event after pod using it has been terminated...

[2017-12-18 21:06] jpbetz opened #57354 "Communicate etcd2 support deprecation timeline"
In the [Kubernetes 1.9 release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md), it was announced that etcd2 support is deprecated and will be removed in "Kubernetes 1.13 or 1.14".

Unfortunately, not all cluster operators read the release notes in their entirety. Let's kick the rhetoric up a notch:

- Send out a email to kubernetes-announce explaining the change.
- Ad

[2017-12-18 21:10] dims commented on #57291
/sig node

[2017-12-18 21:10] dims commented on #57283
/sig node

[2017-12-18 21:11] dims commented on #57325
/sig auth

[2017-12-18 21:12] dims commented on #57330
/sig cli

[2017-12-18 21:12] dims commented on #57332
/sig network

[2017-12-18 21:12] dims commented on #57353
/sig storage

[2017-12-18 21:15] chakri-nelluri commented on #30618
@discordianfish Today's behavior: Error status goes to stderr and success status goes to stdout. There is nothing wrong the current behavior.

There are drivers which are assuming this behavior and unless there is strong compelling reason, I would not recommend changing this behavior.

[2017-12-18 21:18] #32324 closed

[2017-12-18 21:22] gnufied commented on #57345
I have opened a PR to change the default for local clusters -  https://github.com/kubernetes/kubernetes/pull/57355

[2017-12-18 21:23] dims commented on #57354
@jpbetz : why add a new option just to remove it in a bit?  can't we just get them to use `--storage-backend=etcd2` if they really wish to? will this new option do something different?

[2017-12-18 21:23] rootfs commented on #57345
is kubelet started by systemd too? what's the resource limit in kubelet unit file?

[2017-12-18 21:25] yujuhong commented on #36621
Unfortunately this is still needed.

[2017-12-18 21:25] saad-ali commented on #57345
@gnufied No, I was able to repro against a standard GKE/GCE cluster. Once the secret is unmounted the unit appears to stick around as `loaded    inactive dead` in `systemctl list-units --all`. The key for repro'ing was setting up a cluster with 1 node and setting up a simple Kuberentes cron job (which causes a new container to be created every minute).

[2017-12-18 21:30] gnufied commented on #57345
@saad-ali do you still have that cluster around? can you check if those secrets are still mounted or they just show up in `systemctl list-units` but mount points are gone?

[2017-12-18 21:37] yliaog commented on #57061
/cc @jpbetz

[2017-12-18 21:40] yliaog commented on #57073
/cc @yliaog

[2017-12-18 21:43] saad-ali commented on #57345
They don't appear to be mounted, they just show up in the `systemctl list-units`.

Example entry in:
[code]
And no associated entry in mount table:
[code]

The number of entries in the mount table remains static:
[code]

[2017-12-18 21:44] saad-ali commented on #57345
Also, I'm seeing the systemd transient units growing uncontrolled in Kubernetes 1.6 as well. Over the course of an hour:

[code]

So my hypothesis is that this has been happening for a while, but the reason it's becoming an issue now is that in k8s 1.8+ (with PR #49640), all k8s mount operations are executed as scoped transient units and once the max units is hit, all subsequent kubernetes trigger

[2017-12-18 21:47] yliaog commented on #57074
/cc @caesarxuchao
/cc @jpbetz

[2017-12-18 21:51] yliaog commented on #57083
/sig apps
/remove-sig api-machinery

[2017-12-18 21:53] yliaog commented on #57098
/cc @cheftako

[2017-12-18 21:53] yliaog commented on #57109
/remove-sig api-machinery

[2017-12-18 21:55] yliaog commented on #57162
/cc @mbohlool

[2017-12-18 21:59] yliaog commented on #57166
/cc @yliaog

[2017-12-18 22:03] yliaog commented on #57182
please provide heap dump from pprof

[2017-12-18 22:06] yliaog commented on #57193
/sig node
/remove-sig api-machinery

[2017-12-18 22:08] jpbetz commented on #57354
@dims To aggressively guide the k8s user base off of etcd2 so we don't get to 1.13 (or 1.14) and still have a large user base still using etcd2.

The idea is to introduce the flag as a means of communicating to kubernetes cluster that they really should upgrade to etcd 3 when they upgrade to kubernetes 1.10, and that if they decide to stay on etcd2, that it's deprecated and going away in a few rel

[2017-12-18 22:16] jingxu97 commented on #31768
By PR #56872 and #57260, I think we have good coverage of events for volumes. close this issue now.

[2017-12-18 22:16] #31768 closed

[2017-12-18 22:19] Random-Liu opened #57356 "CRI: Revisit Image Filesystem Storage Identifier"
Currently, we use disk UUID as the image filesystem storage identifier. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L1057

However, when implementing this in cri-containerd, we found it hard to implement.
1) Today we are relying on `/dev/disk/by-uuid` to implement it (both cri-containerd and cadvisor). However `/dev/disk/by-uuid` is specific

[2017-12-18 22:21] ericchiang opened #57357 "cmd/kubeadm/app/phases/upgrade: TestShouldBackupAPIServerCertAndKey unit test is flaky"
cc @kubernetes/sig-cluster-lifecycle-bugs

[code]

[2017-12-18 22:21] jingxu97 commented on #34453
@saad-ali Since the root cause #34800 is closed, can we close this one?

[2017-12-18 22:22] bowei commented on #31364
/lifecycle frozen

[2017-12-18 22:22] bowei commented on #31364
/assign bowei

[2017-12-18 22:22] ericchiang commented on #57357
/kind flake

[2017-12-18 22:31] danehans commented on #1443
@burtonator IPv6 will be added as an alpha feature in the 1.9 release. You can use kubeadm to deploy an IPv6 Kubernetes cluster by specifying an IPv6 address for `--apiserver-advertise-address` and using brackets around the IPv6 master address for `kubeadm join --token <token> [<master-ip>]:<master-port>`. The above information and other specifics will be part of the 1.9 release documentation. Pri

[2017-12-18 22:44] valentin2105 commented on #1443
I think ClusterIP is an important point about IPv6 :

https://github.com/kubernetes/kubernetes/issues/57069

[2017-12-18 22:45] #55923 closed

[2017-12-18 22:51] leblancd commented on #1443
@burtonator What CNI network plugin do you use?

[2017-12-18 23:51] david-mcmahon commented on #24169
Prow fixed this.

[2017-12-18 23:51] #24169 closed

[2017-12-18 23:55] szaharici opened #57359 "kubectl logs do not always work in 1.9.0"
/kind bug
/sig api-machinery

**What happened**:
kubectl logs is not always able to retrieve the logs of pods
**What you expected to happen**:
kubectl logs would show the logs of running pods
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
This is a new installation of kubernetes 1.9.0 ( the master and three nodes are running 1.9.0).
Eve

[2017-12-18 23:58] evmin commented on #8867
@ihmccreery @mikedanese

Our production solution uses:

http://metadata.google.internal/computeMetadata/v1/instance/service-accounts/default/token
and
http://metadata.google.internal/computeMetadata/v1/project/project-id

And my understanding is that we are impacted. Are we?

If it is the case, can we request the setting to be configurable, please?
Also, what would be the best way to replace these

[2017-12-19 00:24] m1093782566 opened #57361 "add pkg/util/ipvs owners file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-12-19 00:28] szaharici commented on #57359
This was caused by a mis-configuration in the kubelet configuration on two nodes. --hostname-override pointed to a single node name

[2017-12-19 00:28] #57359 closed

[2017-12-19 00:36] #56106 closed

[2017-12-19 00:38] misterikkit opened #57362 "Some API documentation contains broken HTML"
/kind bug

**What happened**:
Some API documentation contains broken HTML. Some type comments in the Go source use syntax that is being interpreted as HTML, such as `<topologyKey>` in [PodAffinityTerm](https://github.com/kubernetes/api/blob/1afd21c1b728221c821dfe71c17ce5ee8061e31b/core/v1/types.go#L2608)

Examples:

- https://kubernetes.io/docs/api-reference/v1.8/#podaffinityterm-v1-core
- NodeSpe

[2017-12-19 00:39] misterikkit commented on #57362
/cc @steveperry-53

[2017-12-19 00:45] dims commented on #57354
+1 @jpbetz i like it. Thanks!

[2017-12-19 01:25] tallclair commented on #56173
@parlakisik thanks, go for it!

[2017-12-19 01:25] hzxuzhonghu commented on #57074
/kind feature

[2017-12-19 01:29] rohitjogvmw commented on #57279
Hi @liggitt,
We were not able to reproduce the issue inhouse.
Can you please let us know
1. How did you run into issue? Which deployement method was used etc.
2. Is above provided hyperkube image solving the issue? Did you get a chance to try it?

Thanks,
Rohit

[2017-12-19 01:51] ceason commented on #57279
@rohitjogvmw still not working,

Now I get `1 reflector.go:205] k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere.go:227: Failed to list *v1.Node: nodes is forbidden: User "system:serviceaccount:kube-system:vsphere-cloud-provider" cannot list nodes at the cluster scope`

I created a ClusterRoleBinding for that user to `cluster-admin` to see if that would fix things, but then I got a lo

[2017-12-19 02:00] m1093782566 commented on #56140
v1.8.2 do has such bug, I believe it's fixed in v1.9.

I am going to close this issue. Please re-open if it still persisit...

[2017-12-19 02:01] m1093782566 commented on #56140
/close

[2017-12-19 02:01] #56140 closed

[2017-12-19 02:04] nickschuch commented on #35917
I managed to get exec running with the following code:

https://github.com/previousnext/m8s/blob/master/server/k8s/utils/pod_exec.go#L15

I found that I had to set the `Param()` calls myself because the underlying checks don't like the  `PodExecOptions` object (see this change for more details https://github.com/previousnext/m8s/commit/5df0a67fe2807618511ebfe66fcf21ff1d59e9c1#diff-a4a5f5ad91d758fe

[2017-12-19 02:06] rohitjogvmw commented on #57279
Hi @ceason,

Can you please provide more details on how did you deploy your cluster and what is the configuration of the cluster?
Please provide detailed steps and logs to analyze.

At least controller manager crash is not happening with the change.

Thanks,
Rohit

[2017-12-19 02:08] thoraxe commented on #26967
/remove-lifecycle

[2017-12-19 02:08] m1093782566 commented on #53736
I believe it's fixed in v1.9

I am going to close this issue now. Please re-open if it still persist.

[2017-12-19 02:08] m1093782566 commented on #53736
/close

[2017-12-19 02:08] #53736 closed

[2017-12-19 02:09] m1093782566 commented on #53801
I believe it's fixed in v1.9

I am going to close this issue now. Please re-open if it still persist.

/close

[2017-12-19 02:09] #53801 closed

[2017-12-19 02:09] thoraxe commented on #26967
Whoops, I thought this was a different issue. I'm sorry!

[2017-12-19 02:09] m1093782566 commented on #55854
I believe it's fixed in v1.9

I am going to close this issue now. Please re-open if it still persist.

[2017-12-19 02:09] m1093782566 commented on #55854
/close

[2017-12-19 02:09] #55854 closed

[2017-12-19 02:19] ceason commented on #57279
I am..
- Running on **Ubuntu 17.10** VMs
- Installed **kubelet v1.9.0-00** via http://apt.kubernetes.io
- Control-plane nodes are run as static pods using images from `gcr.io/google_containers/kube-<component>-amd64:v1.9.0` (except for controller-manager, where I'm using "docker.io/rohitjogvmw/hyperkube-amd64:ctlr-mgr-fix" instead)

Is that enough info? I can provide more specifics if there's some

[2017-12-19 02:26] mengqiy commented on #57342
@BenTheElder Can you point to me the build log of a failing test?
I'm not the last one touched this test case, but @shiywang is: https://github.com/kubernetes/kubernetes/blame/master/hack/make-rules/test-cmd-util.sh#L4370

[2017-12-19 02:51] yliaog commented on #57166
do you still see the same issues when upgrading to the latest version 1.9?

as documented in https://kubernetes.io/docs/home/, "Kubernetes is supported for three minor versions at a time. This includes the current release version and two previous versions"

[2017-12-19 02:51] yliaog commented on #57166
/assign @yliaog

[2017-12-19 03:13] prakashsingh08 opened #57365 "HPA is not able to Target custom metrics(by default its showing CPU)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
trying to achieve custom metrics based autoscaling by docymentation provided by @DirectXMan12
but HPA is targeting wrong metrics.

kubectl version
`Client Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.4+coreos.0", GitCommit:"4292f9682595afddbb4f8b1483673449c74f9619", GitTreeState:"clean", BuildDate:"2017-

[2017-12-19 03:23] justinsb commented on #33057
@wojtek-t would that work with multiple apiservers?

[2017-12-19 03:37] xujieasd commented on #56842
@danwinship
emm...
I've checked your branch, if my understanding is correct, your branch:
1. use `-m conntrack --ctstate NEW` when create `KUBE-SERVICES` & `KUBE-EXTERNAL-SERVICES` chain in `filter table`
2. for each service without endpoints, still keep corresponding rules in `filter table`, but will not create any rules in `nat table`

It sounds reasonable and can also avoid filter chain perform

[2017-12-19 03:45] #54622 closed

[2017-12-19 03:45] #57153 closed

[2017-12-19 05:12] fejta commented on #33193
Yes, you most certainly are. Thanks for helping!

[2017-12-19 05:37] niuzhenguo opened #57370 ""--raw cannot read from a url" raised if the filename has a prefix "http""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently when run kubectl create with --raw, it will raise "--raw cannot read from a url " if the filename has a prefix "http", which is not proper as we may have filenames like "httptest" or similar.

**What you expected to happen**:
Restrict the url check with "https://" or "http://" prefix.

**How to reproduce it (as

[2017-12-19 05:38] niuzhenguo commented on #57370
/sig cli

[2017-12-19 05:48] armstrongli opened #57371 "ReadOnly/Writable AllowedHostPath for PodSecurityPolicy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
For `AllowedHostPath`, the white list would allow any pod to have the path mounted to pods. There're no limitations on the path. It means that any pod can read/write data to the host path. For regular log path, it can be accepted. For corner case that the path have corp root ca files(or this kind of file), it is a risk to have every

[2017-12-19 05:49] armstrongli opened #57372 "Node affinity on PodSecurityPolicy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There're different groups of nodes in one k8s cluster, and not all the nodes are open to every user, or open on the PSP to all the nodes. e.g. one service account has privileged permission. It means that the service account can create any pod on any node, and can act as root to the OS.

**What you expected to happen**:
it would be l

[2017-12-19 05:59] armstrongli opened #57373 "Time window for PodSecurityPolicy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
For large k8s clusters for thousands of customers, the maintain of PSP would be one significant issue for operators as different customers always send requests on requesting allowable host paths, privileges, capabilities for pods for debug/trace purpose.
For cluster operators, they have to create PSPs for different customers, and de

[2017-12-19 06:06] armstrongli commented on #57371
/cc @kubernetes/sig-auth-feature-requests

[2017-12-19 06:06] armstrongli commented on #57372
/cc @kubernetes/sig-auth-feature-requests

[2017-12-19 06:06] armstrongli commented on #57373
/cc @kubernetes/sig-auth-feature-requests

[2017-12-19 06:11] resouer commented on #57371
PSP only remind me of game stuff if you do not claim it as Pod Security Policy (as I guess) ...

Mind to give it a name in all issues you filed with "PSP" :)

[2017-12-19 06:15] nikhita commented on #57330
/sig api-machinery

[2017-12-19 06:31] cmluciano commented on #31876
kubenet is being deprecated in favor of CNI plugins

[2017-12-19 06:31] #31876 closed

[2017-12-19 06:31] #19480 closed

[2017-12-19 06:47] porridge commented on #57182
@yliaog how do I do that post-facto? Doesn't this require launching kube-apiserver with profiling enabled for the whole duration of the test?

[2017-12-19 07:00] dixudx commented on #57334
@kubadawczynski We've bumped CNI to 0.6.0 in v1.9, which is incompatible with older versions less than v1.9. So we made this restriction.

@pipejakob Seems the version restriction we made in kubernetes/release#486 did not work as expected.

[code]

v1.8.5 is not the only victim. All the `1.*-01` packages are affected. And `apt-get install kubelet=1.*-00` will still install `kubernetes-cni=0.6.0`.

[2017-12-19 07:02] dixudx commented on #57334
/priority critical-urgent

[2017-12-19 07:05] porridge commented on #56714
Strange things continue: I changed master back to Broadwell and repeated the test, and got the same high-throughput result as with Ivy Bridge. So clearly it's not the variance in CPU type, but perhaps some cache which gets cleared on restart of one of the components.

![chart 3](https://user-images.githubusercontent.com/489420/34144770-5e2a32d4-e493-11e7-9f2d-2cf38b8f185b.png)

[2017-12-19 07:13] dixudx commented on #57334
Filed a PR kubernetes/release#489 to fix this.
@luxas @enisoc @pipejakob PTAL.

[2017-12-19 07:25] dixudx commented on #57321
@roffe @jellonek Seems this issue already got fixed? Can close now?

[2017-12-19 07:29] wojtek-t commented on #33057
You mean using the lease as a heartbeat? Yes I think multiple apiservers/etcd don't change anything here. What makes you think so?

/lifecycle frozen

[2017-12-19 07:31] BenTheElder commented on #57342
Here's two examples:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56317/pull-kubernetes-unit/71527/
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-unit/71492/

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-unit

[2017-12-19 07:36] tengqm commented on #56634
What is the use case you want to support? The device plugin framework is pretty flexible. Do you see a particular use case that warrants a change to the framework?
If there is no additional requests, please consider close this issue?

[2017-12-19 07:43] wjiangjay opened #57378 "Can we use User impersonation or something like this for ds, rs, rc, dc, deplopment controller to make the authorization of pod created by these controllers more flexible?"
Currently when we create a ds|rc|dc|deployment|rs, the pod is created by the controller serviceaccount actually. This make authorization hard to control the pods since they are not created by the users

For example:
If I create a ds with the pod which use node port or something need PSP to admit these request, I want to grant user with PSP permission actually.
It is wired here I have to grant to t

[2017-12-19 07:45] wjiangjay commented on #57378
@kubernetes/sig-auth-feature-requests

[2017-12-19 07:57] niuzhenguo opened #57379 "Should add more validators for args/flags when run kubectl get with --raw"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. When run 'kubectl get --raw', you can still specify -o json/xml but not take effect, which will confuse users.
2. There's no URI valid check for --raw like other commands.

**What you expected to happen**:
1. Make --raw and --output mutually exclusive for kubectl get cmd
2. Add url/ParseRequestURI check for the specifi

[2017-12-19 07:57] niuzhenguo commented on #57379
/sig cli

[2017-12-19 08:15] roffe commented on #57321
@dixudx Where do you get the info it's fixed, all my kube-proxy instances is still failbacking to iptables due to missing ipset that was present in 1.8.5

[2017-12-19 08:16] vikaschoudhary16 commented on #56026
@RenaudWasTaken  [even with proposed changes, ](https://github.com/kubernetes/kubernetes/pull/56398#issuecomment-352610130)this possibility still remains that some devices may disappear from the endpoint, while manager knows about those.

[2017-12-19 08:18] vainu-arto opened #57382 "Kubelet often fails on AWS spot instances"
/kind bug

In a kops created cluster running Kubernetes 1.8.4 nodes sometimes start but fail to connect to the masters. I have tracked the issue down to this difference:

Failed:
I1216 07:28:57.369519 1900 aws.go:847] Building AWS cloudprovider
I1216 07:28:57.369555 1900 aws.go:810] Zone not specified in configuration file; querying AWS metadata service
E1216 07:28:57.586712 1900 tags.go:94] Tag "

[2017-12-19 08:31] sttts commented on #57330
https://github.com/kubernetes/client-go/releases/tag/v6.0.0

[2017-12-19 08:31] #57330 closed

[2017-12-19 08:33] vainu-arto commented on #57382
/sig node

[2017-12-19 08:53] liuzjie commented on #10421
See same problem on kubernete 1.8.3:

[code]
Log message was below:
[code]

[2017-12-19 09:07] tengqm commented on #56026
@vikaschoudhary16 Yes. That is the reason why in the latest commit in #56398 the manager is taking a snapshot of the devices known and based the device allocation on that. There are possibilities where devices come and go between the two points in time:

[code]

See above diagram. At time `S` the manager starts processing the device allocation requests for a Pod.
It takes a snapshot of the all dev

[2017-12-19 09:20] gabriel-tincu commented on #15478
Although i'm late to this discussion and i have an interest in seeing this feature implemented, I would argue that there is a trade-off between having a pretty design and having a straight-forward way of setting up a sane and uniform logging solution for the cluster. Yes, having this feature implemented would expose docker internal , which is a big no no , but at the same time i could bet good mon

[2017-12-19 09:40] Vidyayadav20 opened #57388 "CrashLoopBackOff error"
I have created Azure Container Registry where I have pushed one image but while deploying application using yaml file it is giving crashLoopBackOff error.
after running describe pod command getting following message

  Type     Reason                 Age                From                           Message
  ----     ------                 ----               ----                           -------

[2017-12-19 09:49] gyliu513 commented on #57244
/assign

[2017-12-19 09:49] gyliu513 commented on #57244
/open

[2017-12-19 09:50] gyliu513 commented on #57244
@dixudx  seems I cannot open this, any comments for the above comments?

[2017-12-19 10:12] george-angel commented on #32295
/close Haven't seen this resurface since we moved to newer versions.

[2017-12-19 10:13] #32295 closed

[2017-12-19 10:14] porridge commented on #56714
I bounced a couple of large things in the cluster: the kube-dns deployment and the fluentd-gcp-v2.0.10 daemonset, and ran the test again. This time I got low throughput:
![chart 4](https://user-images.githubusercontent.com/489420/34152112-c1e88dce-e4ad-11e7-8d57-2902e57a9acd.png)

[2017-12-19 10:14] #56114 closed

[2017-12-19 10:17] jellonek commented on #57321
It was fixed by merging https://github.com/kubernetes/kubernetes/commit/787a55bb67ccd2da14aa6e7f91289c859beecb5f#diff-bf0f8d724d18f700f3c821aa5a74f4cf
So, as it's in master, the fix will land in next release.

[2017-12-19 10:32] roffe commented on #57321
Ok, so it's fixed in the next version. I'll just switch away from Hyperkube then. Thanks

[2017-12-19 10:32] okke-formsma opened #57393 "Unable to update cronjob image using kubectl set image"
/kind feature

**What happened**:
I would like to use a newer version of my image in a cronjob, but I can't update the cronjob template using 'kubectl set'

**What you expected to happen**:
I would expect to issue a command like the following, but it's not possible to update a cronjob template.

    kubectl set image cronjob python=python:3.5

**How to reproduce it (as minimally and precisely as p

[2017-12-19 10:43] sachinar opened #57395 "Error: 'tls: oversized record received with length 20527' Trying to reach: 'https://10.32.0.6:9090/'"
Getting this error while running kube-dashboard

Error: 'tls: oversized record received with length 20527'
Trying to reach: 'https://10.32.0.6:9090/'
@kubernetes

[2017-12-19 10:44] okke-formsma commented on #57393
I have found the following way to update the image;

    kubectl patch -f definition.yaml --type=json -p='[{"op":"replace", "path": "/spec/jobTemplate/spec/template/spec/containers/0/image", "value":"python:3.5"}]"

Still it would be nice to use the same tool (kubectl set image) for both deployments and cronjobs.

[2017-12-19 10:51] discordianfish commented on #32510
It's been a while. I'm going to close this.

[2017-12-19 10:51] #32510 closed

[2017-12-19 10:53] discordianfish commented on #30618
Yes that was the goal. It wasn't the case when I opened this issue. So going to assume this is fixed. Thanks!

[2017-12-19 10:53] #30618 closed

[2017-12-19 11:26] crassirostris commented on #15478
@gabriel-tincu I'm currently not convinced that the original FR is worth the trouble

You can set up logging on Docker level during the K8s deployment step and use any of these log drivers, without leaking this information to K8s. The only thing you cannot do today is set up those options per-container/per-pod (actually, you can have a setup with dedicated nodes & use node selector), but I'm not s

[2017-12-19 11:29] akumria commented on #56850
I wonder if specifying the particular cgroup (as noted in https://github.com/kubernetes/kubernetes/issues/53960 and the corresponding stackover flow link https://stackoverflow.com/questions/46726216/kubelet-fails-to-get-cgroup-stats-for-docker-and-kubelet-services) fixes things?

[2017-12-19 11:33] php-coder commented on #57373
It doesn't seem to be related to a PSP itself but rather to access to a PSP. User/service account has access to the particular PSP while a `RoleBinding`/`ClusterRoleBinding` that grants such an access exists. In other words, you want to manage life time for a binding rather for a PSP.

When you (or your script) revokes access to a PSP, it's possible to find all the pods that were run by a user/SA

[2017-12-19 11:49] RenaudWasTaken commented on #56026
The race this issue is discussing is about a real race where mutex locks are not handled correctly.

The issue you are mentioning is a different one that @tengqm explains very well in the above comment.
It's a complex interaction but is currently correctly handled by the allocation and pod rejection process.

[2017-12-19 12:00] dims commented on #57388
/sig azure

[2017-12-19 12:00] dims commented on #57393
/sig cli

[2017-12-19 12:00] dorsegal opened #57397 "Reference peer VPC security groups on services (AWS)"
My cluster is on VPC-B and my Jenkins server is on VPC-A.
I'v peered them and my question is how can I add my services security groups from VPC-A

I tried with those parameters on the service yaml:
* service.beta.kubernetes.io/aws-load-balancer-extra-security-groups: aws-account/sg
* loadBalancerSourceRanges: aws-account/sg

Is there a way to do that?

This is the KB from amazon:
http://docs.aws.a