[2016-01-20 00:39] davidopp commented on #12744
Copy-paste option is still only the table and might be best approach. @mikedanese  pointed out it's not much code since Kubelet only checks resources; in particular we don't need to configure to use the same policies as the scheduler(s), just the same policy as kubelet.

[2016-01-20 00:42] bgrant0607 commented on #18528
There was also activity here: https://github.com/kubernetes/kubernetes/issues/16500#issuecomment-172980593

[2016-01-20 00:46] ixdy commented on #17524
Assuming I'm reading the tea leaves correctly, the official release tarballs for both v1.1.2 and v1.1.3 were built with go1.4.2:
[code]

[2016-01-20 00:49] ixdy commented on #17524
Whereas v1.1.4 used go1.4.3:
[code]

[2016-01-20 00:52] krmayankk commented on #17168
Mainly regarding Deployment history, here are a few more things i need clarification on.

--What is the timeline for getting the deployment history implemented. I need to make something work in the next two months so if this is taking longer than that i would start implementing it on my own.
--for any resource and for Deployment in particular, the way i understand is that resourceVersion is the ve

[2016-01-20 00:55] danielschonfeld commented on #19562
As luck would have it that node has been pitched... and with it, it's logs.  I guess we can close this for now until we can reproduce?

[2016-01-20 00:57] yujuhong opened #19844 "Reboot tests should check whether pods spec is *the same* as before rebooting"
From https://github.com/kubernetes/kubernetes/pull/19436#issuecomment-172982445, it's possible that after a reboot test, some pods (especially mirror pods) have DeletionTimestamp set due to pod eviction. The tests should check if the pod spec is unmodified after rebooting to catch such scenarios. Failure to do so breaks the test isolation and leaves changes that may fail other tests.

[2016-01-20 00:58] danielschonfeld opened #19845 "salt minion authentication problem"
Sometimes when my noes come up on my autoscaling group, the master ends up with a public key for the minion which seems to not match what the minion has.  I assume the minion creates a key twice and only the first one gets put on the master on the initial contact but I can't be sure that's what's happening.

The fix is to remove the key from the `/etc/salt/pki/master/minions/` directory and start

[2016-01-20 01:13] smarterclayton opened #19848 "Service portal IP allocator can race with other core controllers, prevent start of apiserver"
Core controllers can fail startup of the master - in a large cluster where there are multiple modifications going on, we were able to get into reproducible scenarios like https://github.com/openshift/origin/issues/6726.

The two repair controllers should attempt to retry on conflict using #16067

[2016-01-20 01:13] magicwang-cn commented on #18266
@smarterclayton already in the plan?

@timothysc the log is (`too old resourceVersion`)

[2016-01-20 01:15] #17957 closed

[2016-01-20 01:29] david-mcmahon opened #19849 "Tooling/Infrastructure changes for branching at a X.Y.Z version (for zero-day and other emergency releases)"
This is a top-level/meta issue that may spawn sub-issues.

The [versioning.md](https://github.com/kubernetes/kubernetes/blob/master/docs/design/versioning.md) doc has been recently updated to cover a branching a branch scenario.  This is a rare or unlikely occurrence (depending on the teams velocity/needs), but important to plan for nonetheless.  Refer to that doc for more details.

Any assumption

[2016-01-20 01:43] janetkuo commented on #17168
@krmayankk I answered your question on google group. Here I paste my answers:

1. This will be included in release 1.2.
2. You're right. generation isn't implemented yet for Deployment.
3. The RCs won't be deleted when you do deployment rolling updates. The replicas of old RCs will only be set to 0. These RCs, which include podTemplate copied from deployment, are seen as snapshots of different ver

[2016-01-20 02:09] xfye commented on #14796
What we have met is docker "API error (500)" and we do not know why.
We have resolved this issue from outside. Our monitor will check the status of each pod. If the pod can not startup due to docker "API error", then the monitor will mark the node as unschedulable and kill the pod, then after for a while mark the node as schedulable back.

[2016-01-20 02:19] a-robinson commented on #13048
Is this still targeted for 1.2? Heapster being too small after a cluster has had more nodes added has been causing issues for customers.

[2016-01-20 02:40] bgrant0607 commented on #19830
Specifically, the check we have now is able to confirm some cases of definite overlap, which is used to warn the user in kubectl stop rc.

Definite overlap occurs when one controller's selector contains a subset of keys of the other controller's selector, and the intersection of the sets of matching values for each of those keys (where Exists implies all values) is non-empty.

Though we don't curr

[2016-01-20 02:50] ixdy commented on #17524
cc @kubernetes/sig-scalability

[2016-01-20 02:55] alfred-huangjian commented on #19637
@timothysc
As far as I know, Heapster currently watch the api server and collect the events also. But for events, the heapster only support influxDB sink now. It will be good to have an alternative choice to support sending the events directly to kafka instead of storing into etcd. Kafka can be easily to used to connected some third-party ops system. For example, heapster can collect the events fr

[2016-01-20 02:57] alfred-huangjian commented on #19637
cc @kevin-wangzefeng @HardySimpson

[2016-01-20 03:02] smarterclayton commented on #18266
It'll be 1.3 at this point, merely experimental until then

[2016-01-20 03:16] smarterclayton commented on #11984
RedHat distros ship Docker with SLAVE/SHARED (don't remember which,
but since 1.8), our original testing was was SLAVE, but later patches
fixed most of the known issues w.r.t. propagation hacks.  When 1.10
lands the mount options will be used to launch the kubelet to avoid
the need for the hacks.

[2016-01-20 03:35] timothysc commented on #17524
It is likely exposing subtle behavioral differences that manifest themselves as timing shifts or data-races.

[2016-01-20 03:44] bgrant0607 commented on #19680
Related: #14924, #11933, #16095

The problem with PodSpec is that the same type is shared between Pod and PodTemplate.

[2016-01-20 03:45] timothysc commented on #19633
Should be fixed by: https://github.com/kubernetes/kubernetes/pull/19739 once in, we can close

/cc @vishh

[2016-01-20 03:48] bgrant0607 commented on #19723
We have to be allowed to change/improve error messages in order to improve user experience. e2e tests shouldn't be testing for error strings, IMO.

[2016-01-20 03:48] bgrant0607 commented on #19723
cc @kubernetes/goog-cluster

[2016-01-20 04:22] magicwang-cn commented on #19816
@davidopp @gmarek

[2016-01-20 05:12] hongchaodeng commented on #18266
@magicwang-cn showed me the trace and it seems like kubelet as client is running Reflector.ListAndWatch() which is causing the flood -- everytime Watch returns an error, it reList.

@timothysc That should be our goal. Now the flow is pretty clear: Reflector -> (Cacher, Reflector, watchCache). If my thought is right, it should not be hard to reproduce.

The hard part is how to measure memory?

[2016-01-20 05:25] thockin commented on #19118
Do we have machines in this state - pods that can't talk on network?

On Tue, Jan 19, 2016 at 4:30 PM, Dawn Chen <notifications@github.com> wrote:

[2016-01-20 05:29] bprashanth commented on #19333
Just checking in, @paultag need help?

[2016-01-20 06:15] wulonghui commented on #17612
I got this issue of  v1.1.2 and v1.1.3
is it fixed at v1.1.4?

[2016-01-20 06:17] brendandburns opened #19853 "Better testing of --local"
@deads2k said in #18835 :
"I'm pretty sure that this chunk of code will cause something like the kubectl convert --local to fail because this will try to make a remote connection and the ObjectTyper is probably used. If this didn't fail tests, it would suggest that branch isn't being checked, which is probably worthy of a separate issue."

Tests don't fail, so, separate issue ;)

[2016-01-20 06:40] thockin opened #19854 "Don't allow updates of Node.PodCIDR except from "" to valid."
As we move closer to using a net plugin for the default network, this came up.  Is Node.PodCIDR actually mutable?  What do we expect to happen if it changes for a Node which has running containers?

Options:
a) allow updates and kill running containers (heavy)
b) allow updates but ignore them as long as any containers are running (inconsistent)
c) allow updates but ignore them except at reboot (in

[2016-01-20 07:29] onorua commented on #1615
I merely telling that with sharing PID namespace we could have PID1 problem solved. I'm aware how to run command with PID2, but I do not like to reinvent the wheel if it can be easily done by default.
Not to mention that it opens new possibilities for sidecar monitoring containers.

[2016-01-20 07:35] davidopp commented on #13048
No. This never appeared on any of the lists of features needed for 1.2. My bad for not removing the label; if this was giving the (rather reasonably-interpreted) impression that we were implementing it for 1.2, my apologies. Probably we need to make a pass over all the issues tagged as 1.2 and make sure the label syncs up with reality, as I think this may not be the only one that is out of sync.

[2016-01-20 07:45] thockin commented on #1615
Nobody is against shared PID, we just need to make time to implement it in
Docker, or get someone who has time.  Got any free time? :)

On Tue, Jan 19, 2016 at 11:29 PM, onorua <notifications@github.com> wrote:

[2016-01-20 08:13] thockin commented on #17429
Agree that ignoring L4 in ingress is good.

I dislike the idea of editing a common instance of Ingress, though.  There
are practical limits to sizes, but it's also not tenable from a security
POV.  It can't work on (e.g.) openshift.  This is an advantage of the
routes model in openshift, I guess.

If we don't offer any of the ingress flags, what value does this provide?

On Mon, Jan 11, 2016 at 12

[2016-01-20 08:17] erictune commented on #18549
@bobbyrullo starts by laying out a basic premise:  *refreshing tokens in kubelet requires a client ID and a secret, and that therefore it should not be done in kubectl.*

This premise assumes using That implies using the [code flow](http://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth).  But OpenID Connect also supports [Implicit flow](http://openid.net/specs/openid-connect-core-1_0.h

[2016-01-20 08:24] erictune commented on #18549
Hmm.  Looks like Refresh Tokens can't be used with the implicit flow.

[2016-01-20 08:33] erictune commented on #18549
It is a little confusing, but as I read [this section of the spec](http://openid.net/specs/openid-connect-core-1_0.html#RefreshTokens), you can refresh Access Tokens but you cannot count on refreshing ID Tokens.  But this proposal talks about getting a new ID Token.  Not sure yet if that makes a significant difference.

[2016-01-20 08:33] erictune commented on #18549
@cjcullen FYI

[2016-01-20 08:42] erictune commented on #18549
It seems like the purpose of the `offline_access` scope is to allow the RP to continue to use any Access Tokens it is given as part of the login flow long after the original login flow.   For example, if I use OIDC to  auth to a photo sharing site (the RP), and it also requests permission to see my facebook page (an Access Token), then without the `offline_access` scope, the RP can only look at it

[2016-01-20 08:48] erictune commented on #18549
@liggitt  why are you opposed to "unsecured http calls to localhost to transfer this info".  The OpenID Connect spec specifically [permits it](http://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthRequest)

[2016-01-20 08:56] gmarek commented on #19786
We need to decide if this is requirement for v1.2 and thus we need to assign someone to get this done, or can it wait to some patch release? @aronchick

@quinton-hoole - I completely agree that this may require additional work with fixing the tests.

[2016-01-20 09:00] erictune commented on #18549
@liggitt it looks like [RFC 7636](https://tools.ietf.org/html/rfc7636) explains the types of attack you were worried about, and offers a solution.

[2016-01-20 09:04] gmarek commented on #19724
cc @davidopp.

We can probably rewrite this test to use things that are now present in PodStatus (or somewhere). At the time I was writing it only source of information about failedScheduling were Events. I'm not sure how high the priority for such rewrite would be, but I'd rather keep this test running, as it already pointed us to few bugs.

[2016-01-20 09:19] gmarek commented on #17524
It's the most visible effect, as it's a really big one.

[2016-01-20 09:24] gmarek commented on #19816
Etcd is only one part of the equation, second one is the cache on top of etcd we're keeping in API servers and serve some requests from it. As long as there's a single write point everything should be OK, but I'm not sure how it'll work it we allow all instances to change etcd's state. It's probably OK, as it's supposed to be only an optimization. @wojtek-t @timothysc

[2016-01-20 09:27] davidopp commented on #19724
Thanks a lot for the debugging, Ike.

As you might guess, "scheduler" is not a good name for any scheduler in a system with multiple schedulers. They're all the scheduler.

The problem with changing the name of the default scheduler to "scheduler" is that the default scheduler name *is* part of the API (it's defined in v1/types.go, on recommendation for Clayton) so it's not really possible to chan

[2016-01-20 09:33] gmarek commented on #19724
It was the only thing possible at that moment:). The question is: do we want to rewrite this test now, as more data is available in Pods objects.

[2016-01-20 09:39] kargakis commented on #17168
Depends on the cleanup policy: https://github.com/kubernetes/kubernetes/pull/19590

[2016-01-20 09:47] wulonghui commented on #18245
Is this issue fixed?

[2016-01-20 09:58] davidopp commented on #19724
If we can do it in a reasonable amount of time and someone is available to do it, then I would say yes.

[2016-01-20 10:23] feiskyer commented on #15673
+1

[2016-01-20 10:26] Hui-Zhi commented on #19049
I have run some NVIDIA CUDA testings, they shows 1 application in container at least need to be assigned to 1 GPU, 50% doesn't work, and multiple containers can be assigned to multiple GPUs, they can be overlapped. Also I have took a look at NVIDIA-Docker, it shows the CUDA version inside container must equal the CUDA on the host, they use docker image label to ensure that.

Regarding the implemen

[2016-01-20 10:47] antoineco opened #19858 "DaemonSet conflict after controller-manager restart"
(k8s 1.1.4)

After restarting my master server components, 2 out of 5 of my DaemonSet pods were terminated (why?) and never recreated. It seems like all `ds` pods were requeued during this event, however the IDs of the currently running pods do not even match what is reported by the DaemonSet.

* Restarting the `kubelet` on faulty nodes does nothing but re-adding a SyncLoop
* Restarting the `kube-

[2016-01-20 11:22] jsafrane commented on #17565
I tested it with today's master and there was actually a bug, `cinder_util.go` should use `FormatAndMount` instead of plain `Format`:

[code]

I pushed fixed patch and tested that Cinder volumes with `FsType="xfs"` are now automatically formatted with `xfs`, which was not possible before this patch.

[2016-01-20 11:43] johanhaleby commented on #19405
We're also experiencing this problem on GKE.

[2016-01-20 11:49] mqliang opened #19859 "Pod template for DaemonSet/ReplicationController is pointer, but Job/Deployment not"
I notice that PodTemplate for DaemonSet/ReplicationController is pointer, but Job/Deployment not, why they are not consistent? I think all the PodTemplate should not be a pointer, since PodTemplate is not a optional field for DaemonSet/ReplicationController/Job/Deployment.

[2016-01-20 11:55] #4710 closed

[2016-01-20 12:11] mqliang commented on #19854
I sent a PR about 2 weeks ago to add a CIDR allocator for NodeController(which can allow Node.PodCIDR not /24), see https://github.com/kubernetes/kubernetes/pull/19242.

[2016-01-20 12:42] thoraxe commented on #9802
That assumes that the pod landed on a node where the desired storage was available, which means that the end user would require knowledge of the node labels in order to schedule their pod appropriately.

[2016-01-20 13:10] markturansky commented on #9802
@thoraxe is correct.  The pod becomes a pet that requires a specific node.  Why not then just use HostPath on the pod itself?  The indirection provided by PV/C is no longer useful when the pod is a pet.

[2016-01-20 13:12] markturansky commented on #9802
@thoraxe this PR contains the PVSelector you originally requested in this issue.  https://github.com/kubernetes/kubernetes/pull/17056

[2016-01-20 13:22] thoraxe commented on #9802
Cool!

[2016-01-20 13:24] mqliang commented on #19315
@bgrant0607 I just notice that you sent another issue to address removing ClusterAutoscaler from extensions/v1beta1. https://github.com/kubernetes/kubernetes/issues/17486

Does any one has picking this up? If there is anyone working on this, I think I'd better not participate in to avoid messing things up.

[2016-01-20 13:29] liggitt commented on #18549
That is only for the implicit flow, and only for native clients... I would be concerned about using it as part of a code flow with a browser client.

Interesting, not sure how widely that is supported by servers

[2016-01-20 13:45] jsafrane opened #19860 "Dynamic provisioner sometimes creates two volumes for one claim"
I noticed that sometimes (<10%) Kubernetes do not delete volumes it created. Digging into logs, I can see this sequence in the persistent volume controller:

[code]

* Two volumes are created for claim `pvc-8z0kk`:
  * At `12:21:07.100719`, PV `pv-cinder-uxgot` is created.
  * At `12:21:07.255305`, PV `pv-cinder-bn5d6` is created. **Note in the logs:** `error updating persistent volume claim: pers

[2016-01-20 14:25] jayunit100 commented on #17727
For code snippets use three backticks
[code]

[2016-01-20 14:28] piosz commented on #18527
So the final proposal is to change `spec.cpuUtilization.targetPercentage` to `spec.targetCPUUtilizationPercentage` in v1.

[2016-01-20 14:36] jayunit100 commented on #17727
@nagarjung craft a PR at very quick glance it looks ok.  it will be easier to eval as a PR.  Make sure to add unit tests for each in the PR

[2016-01-20 14:38] kargakis commented on #16365
kubectl logs supports --tail

@bgrant0607 this is not an issue https://github.com/kubernetes/kubernetes/pull/13780

[2016-01-20 14:46] raulk commented on #19598
This occurs when you've switched to the Resource Manager deployment model. Switch back to Service Management:

    azure config mode asm

[2016-01-20 14:51] PAStheLoD opened #19864 "single-node/containerized hyperkube: add master IP to server.cert as SAN"
Hello,

Using 81054463 and `cluster/images/hyperkube/turnup.sh` gives a nice single node cluster, but Deis v2 alpha can't talk to the apiserver, because it has a wrong certificate ([see](https://github.com/deis/router/issues/62#issuecomment-167843372)).

By locally vandalizing `make-ca-cert.sh` (or by doing a bit nicer through adding a second argument to make-ca-certs in `setup-files.sh` and addin

[2016-01-20 15:01] justinsb commented on #16083
@chrisleck looks like we already had an issue!

So I remember seeing a PR for picking the correct subnets when you have public & private subnets in the same VPC & AZ.  I'll try to find that and get it merged.  I'm betting it's from you :-)

Should we also set up an ELB for the master (in a public subnet)?  If not how do you access the k8s API?

[2016-01-20 15:11] geoah commented on #19815
Same issue here, will someone be deploying v1.1.4 to gcr.io? :)
Thanks

[2016-01-20 15:28] timothysc commented on #19816
@magicwang-cn We do active-active on the api-servers today and configure our kubelets to talk through a VIP connected to a load-balancer (HA-Proxy).

Active-passive also exists for the scheduler+controller-manager via a couple of implementations atm, but we are rallying around 1: https://github.com/kubernetes/kubernetes/issues/18553

[2016-01-20 15:28] timothysc commented on #19816
IMHO we should close this, as it's a non-issue.

/cc @lavalamp

[2016-01-20 15:36] liggitt opened #19865 "cannot register print handler function with non-exported printOptions param"
In resource_printer.go, printers for additional types can be registered. However, the signature of the function must include a `printOptions` parameter. This type is not exported, which means other packages cannot register printers.

This should be exported (along with the fields, so called printer functions can use the options):
[code]

[2016-01-20 15:37] smarterclayton commented on #17429
Tbh the extra flags on expose for Openshift routes lead to confusion
for expose in general - @deads2k and @kargakis and I roughly settled
on "running simple expose should do something logical, but more
complex flags need to be a specific command".  We had proposed moving
complex tls settings and helpers to a "set" command (under the
proposed "kubectl set" heirrarchy discussed elsewhere), which han

[2016-01-20 15:42] raulk opened #19867 "Azure cluster tool should use the Azure Resource Manager"
Microsoft is recommending migrating from the classic deployment model to their [Resource Manager (RM)](https://azure.microsoft.com/en-us/documentation/articles/resource-manager-deployment-model/) deployment model.

Unfortunately, the API for Classic vs. RM is not compatible in several areas. Trying to deploy Kubernetes under RM leads to the following error:

[code]

[2016-01-20 15:45] mikedanese commented on #19724
Can we just submit a fix to the release1.0 branch that s/scheduler/default scheduler/? I think the more robust fix can probably wait

[2016-01-20 15:53] jsafrane commented on #19860
I was wrong, there is nothing running in parallel, there are mutexes everywhere. Investigation continues...

[2016-01-20 16:04] bprashanth commented on #17429
The main motivation for sharing a global ingress is cost cutting on cloud platforms, I'm not really against  creating one per expose. The main motivation for an "L7 expose" is that we get to hook up everything according to best practices, and hide implementation details like nodePort being a requirement on some clouds.

Many users today seem to be just interested in loadbalancing a simple :80 -> :

[2016-01-20 16:10] jsafrane commented on #19860
Got it. A claim is added to API server + at the same time periodical sweep is run.

1. `PersistentVolumeProvisionerController.handleAddClaim() `is called by the claim watcher as result of "add event"
2. in another thread, `PersistentVolumeProvisionerController.handleUpdateClaim()` is called by the periodic sweep **with the same claim**
3. one of them gets a mutex, say `handleAddClaim` and calls `r

[2016-01-20 16:17] markturansky commented on #19860
@jsafrane thanks, Jan.  good detective work.  Looking forward to reviewing the PR.

This speaks loudly that we need controller consolidation and shared mutexes.

[2016-01-20 16:47] jsafrane commented on #19860
Fix is referenced above. Still, with an user (or other competing controller), we may leak a volume or two:

1. User creates a claim.
2. reconcileClaim(claim) is called.
3. reconcileClaim() (slowly) creates a volume.
3. The user updates the claim (with some dummy annotation).
4. Now, reconcileClaim() finished creation of the volume, wants to add an annotation to the claim,. This fails, because the

[2016-01-20 16:49] timothysc commented on #19341
I think we can close this now in lieu of

#https://github.com/kubernetes/kubernetes/pull/19850 & https://github.com/kubernetes/kubernetes/issues/19633

[2016-01-20 16:49] #19341 closed

[2016-01-20 16:53] timothysc commented on #16943
We should re-update and compare numbers once https://github.com/kubernetes/kubernetes/pull/19850   and accompanying bugz are fixed.

[2016-01-20 16:58] rvrignaud commented on #18502
Hi @neelance did you manage to get rid of the events ?

[2016-01-20 17:02] markturansky commented on #15524
Added benefit of centralized controller (just because this came up in an internal email discussion):

A controller watching pods can immediately start detaching a volume when its no longer needed.  Contrast this with the Kubelet's sync loop that has to discover the orphaned volume.  Latency for the next pod to launch is reduced because detaching happens sooner and can be attached to the next node

[2016-01-20 17:06] kargakis commented on #17164
Why do we need to have the number of each version in the deployment status?

[2016-01-20 17:11] thockin commented on #3760
It dawns on me (via Abhishek) that even if this works, we STILL have to
track flows somewhere, so it's not stateless in the end anyway.

On Mon, Jan 18, 2016 at 9:50 PM, Tim Hockin <thockin@google.com> wrote:

[2016-01-20 17:19] robtuley commented on #19405
@heim suggested rolling restart earlier in this thread across the gke cluster has resolved the problem for me so far (5 days). Thanks by the way!

[2016-01-20 17:20] bgrant0607 commented on #14801
We could also link to configs or get other default values from image labels:

http://developerblog.redhat.com/2015/04/21/introducing-the-atomic-command/
http://www.projectatomic.io/blog/2015/09/introducing-vendor-labels2/

[2016-01-20 17:22] bprashanth opened #19871 "Flannel builder fails with connection issues"
Started today: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-flannel/
[code]

We install flannel from a tarball on gcs https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/flannel/init.sls#L9. @kubernetes/goog-testing standard build failure or cause for concern?

[2016-01-20 17:30] ihmccreery commented on #19871
I think Jenkins is having some networking trouble; @ixdy is investigating.

[2016-01-20 17:33] ihmccreery commented on #19740
After trying to reproduce, it seems like the actual issue is running 1.1 tests against a HEAD cluster, with both master *and* nodes at HEAD.

[2016-01-20 17:33] ihmccreery commented on #19740
cc @kubernetes/goog-node

[2016-01-20 17:36] erictune opened #19873 "kubectl logs -l"
When I run a job, I want to check on the progress being made by the pods.   Likewise with an RC (either directly created or via `kubectl run`.

For listing the pods, I use the `-l` option, like this:

[code]

But, usually the next thing I want to do is check logs.
I want to be able to do this:

[code]

That doesn't work.  This is a request to implement it.

Something like this:
1. when -l option p

[2016-01-20 17:39] bprashanth commented on #19871
Note that the latest failure message seems to correlate with the other builders, but none of them suffered from "couldn't connect to host", so checking that this

[2016-01-20 18:00] pwittrock opened #19875 "Triage many broken k8s e2e "critical builds""
The majority of the k8s e2e tests in critical builds are failing.

[2016-01-20 18:01] bobbyrullo commented on #18549
That's not my main concern with the implicit flow. My problem with this use of the implicit flow (or any situation where you have 1 or more client per end-user)is that it will require a bunch more state in the API Server (or somewhere else in Kubernetes).

The API Server needs to validate an ID token is not just for a particular user but for a particular client as well. In the case where there is

[2016-01-20 18:11] pwittrock commented on #19875
kubernetes-e2e-gce
kubernetes-e2e-gce-autoscaling
* These have had only one failure each, and it looks like the issue listed below may be resolved

07:49:20 Kubernetes cluster is running.  The master is running at:
07:49:20
07:49:20   https://146.148.32.24
...
07:49:51 Unable to connect to the server: dial tcp 146.148.32.24:443: i/o timeout
07:49:51 2016/01/20 07:49:51 e2e.go:309: Error running up

[2016-01-20 18:14] smarterclayton commented on #17429
On Wed, Jan 20, 2016 at 11:04 AM, Prashanth B <notifications@github.com>
wrote:

In the hundreds of deployments of OpenShift, and tens of thousands of users
accessing it, the vast majority care about L7 HTTP.  A significant minority
care about L4.  A smaller minority care about deep L3.  Most apps are HTTP,
just not all apps.

but it's also not tenable from a security POV.

We do the control in th

[2016-01-20 18:15] bgrant0607 commented on #16365
Please update to 1.1.

[2016-01-20 18:15] #16365 closed

[2016-01-20 18:17] bgrant0607 commented on #19315
@mqliang Yes, I'm just going to close this.

[2016-01-20 18:17] #19315 closed

[2016-01-20 18:17] smarterclayton opened #19876 "registered.IsRegisteredAPIVersion should not exist - it should be a call into the RESTMapper or the ObjectTyper or NewObject, but not a global constant"
registered.IsRegisteredAPIVersion is the wrong level of abstraction and breaks the interface contract of the runtime Scheme - a clear error should be returned from runtime.Scheme when a user attempts to use an API version that is not allowed to be used (by looking at these "does it exist").  We should never call IsRegisteredVersion from client code.

[2016-01-20 18:17] smarterclayton commented on #19876
@kubernetes/sig-api-machinery

[2016-01-20 18:18] smarterclayton commented on #19876
runtime.Scheme is the arbiter of which API versions are registered.

[2016-01-20 18:19] bprashanth commented on #19854
If an admin has some reason to re-allocate all cidrs I think should respect that. As a totally made-up scenario, one can actually write a cidr controller that doesn't waste any ip range on node-label=backup and re-allocates as necessary.

[2016-01-20 18:19] smarterclayton commented on #19876
Hrm, looks like this is fixed (I think) with @nikhiljindal's recent changes.  Can you verify that we no longer do checks on registered version outside of the runtime.Scheme?

[2016-01-20 18:24] thockin commented on #19854
But what should happen to running containers?

On Wed, Jan 20, 2016 at 10:20 AM, Prashanth B <notifications@github.com>
wrote:

[2016-01-20 18:28] bprashanth commented on #19854
In the backup node case there will only be win, the old node is dead so nothing is using that range. Even otherwise isn't it safe to assume that if the admin asks for a new range, they are OK with the consequences?

[2016-01-20 18:30] alex-mohr commented on #19875
There appear to be a bunch of correlated e2e failures that share networking issues: creating a cluster and pods not being reported as ready.  Given that they started across ~all jenkins builds, suspicion is a systemic issue either on the jenkins master or the GCE network.

[2016-01-20 18:34] thockin commented on #19854
We have to define what those consequences are before we can assume people
are OK with it.  Remember, too, that we have to implement and test this.

If the consequence is "kill all the containers" is it really any worse than
draining the node and destroying/recreating it?

On Wed, Jan 20, 2016 at 10:29 AM, Prashanth B <notifications@github.com>
wrote:

[2016-01-20 18:40] erictune commented on #18549
I'm not sure I understood what you meant since client can mean multiple things in this context.

I think you are saying that you are worried about the following case:

- I use OpenID to login to kubernetes cluster A, and to kubernetes cluster B, and to non-kubernets web site C.
- If the apiserver for kubernetes cluster A is compromised, or sneaky, it might use the ID token
it gets to access B or C

[2016-01-20 18:50] thockin commented on #18337
This is purely a matter of timeout.  How long of a timeout are we going to allow?  it's 20 minutes already.

We need a way to auto-bucket flakes like this and flag them as "probable backend issue" so they don't bother us.  Closing for now.

[2016-01-20 18:50] #18337 closed

[2016-01-20 18:50] quinton-hoole commented on #19786
@gmarek @aronchick I think that the 1.2 blocker for this is only the addition of basic documentation to the effect that if even a single node does not come online correctly (e.g. due to a faulty cloud VM) when bringing up a new cluster with kube-up (i.e. not necessarily in GKE), kube-up will report the cluster build as having failed (due to strict post-build checks), even though the cluster might

[2016-01-20 18:51] quinton-hoole commented on #19786
@roberthbailey @alex-mohr FYI for GKE above.

[2016-01-20 18:52] thockin commented on #17781
please open new issues with new links if this pops up again.

@ArtfulCoder we need to prio this if it comes up

[2016-01-20 18:52] #17781 closed

[2016-01-20 18:53] alex-mohr commented on #19118
Unclear if this issue is the same underlying reason as #19875

[2016-01-20 18:57] marun commented on #19834
This issue should be resolved by #15998 (already merged) and #19841.

[2016-01-20 18:59] thockin commented on #19467
@smarterclayton

[2016-01-20 19:08] thockin commented on #18210
Access Denied for that link @pmorie

[2016-01-20 19:09] thockin commented on #18210
Jenkins has already purged the link.  Anyone who sees this - please open issues WITH THE ERROR MESSAGE if this pops up again.  A Jenkins link is limited-lifetime.

[2016-01-20 19:12] david-mcmahon commented on #19849
It should also be noted that should we need to go this route, we will want to switch to a 4 part version number to avoid any ambiguity (and support hassles) of a mix of 3 and 4 part versions.

[2016-01-20 19:13] roberthbailey commented on #19786
A simpler "fix" for 1.2 would be to change the language printed out by kube-up to say something like "X/Y nodes are available, your cluster may not be fully functional". This would still "fail" kube-up (in the sense that we return an error code) but give the user a clear signal as to whether they care about the failure. For our automation, it wouldn't help, since the automation would always fail t

[2016-01-20 19:21] bobbyrullo commented on #18549
(I meant client in the OAuth2 sense - I'll stop using that confusing term and instead say Relying Party or OP)

Almost. I don't think C would be vulnerable in that way because as a website, it can maintain secure Client Secret.

The attack I am worried about is C being sneaky. When user 'bobby' authenticates via Google to access the RP named  'C', C gets an ID token which looks like

[code]

Let's

[2016-01-20 19:21] a-robinson opened #19878 "Unable to run e2e tests from gce VM with cloud-platform scope"
I've been doing development from a GCE VM, and tried kicking off the e2e tests, but get the following error starting them up after the cluster has been created, despite the VM having the cloud-platform scope on it which gives it full access to everything in the project:

[code]

My VM has no trouble accessing the project's networks using gcloud, so there's something wrong with our code:

[code]

c

[2016-01-20 19:24] luxas commented on #19227
OK, got it. It's fully logical that you use the code that's in the `release-1.1` branch.
The only thing is that it's a bit confusing for people new to kubernetes when they go and use the `docker` instructions on the `master` branch. I guess the warning alerts aren't scary enough :smile:

Well, the `master` instructions are working as they should if one builds `gcr.io/google_containers/hyperkube` o

[2016-01-20 19:29] luxas commented on #19815
@david-mcmahon released `v1.1.4`. I guess he should push it...

[2016-01-20 19:39] pwittrock commented on #19875
I saw this message on a Jenkins PR builder e2e build:

Jan 20 19:22:32.961: INFO: Get service account default in ns e2e-tests-kubectl-6ov22 failed: Get https://104.154.90.226/api/v1/namespaces/e2e-tests-kubectl-6ov22/serviceaccounts/default: dial tcp 104.154.90.226:443: i/o timeout

Since the Jenkins PR builder is a separate machine, this may not be limited to the CI Jenkins

[2016-01-20 19:46] pwittrock commented on #19875
Looking at the jenkins-master in the dev console, the cpu usage has been ~50% for the past 2 days, so that should not be the problem.  Have we contacted GCE oncall about what we are seeing?

[2016-01-20 19:47] erictune commented on #19736
@AdoHe go ahead and work on it!  Let me know if you have questions.    I'll assign the issue to myself since I can't assign it to you right now.  But the issue is yours to work on!

[2016-01-20 19:47] erictune commented on #19736
I can also review any PR you produce, and I'll try to answer questions if you have them.  You can leave them on this issue.

[2016-01-20 19:48] quinton-hoole commented on #19786
@roberthbailey Yes, agreed.  That would be a good implementation of the "additional basic documentation" that I mentioned, but perhaps did not express clearly enough.

[2016-01-20 19:53] pwittrock commented on #19875
FYI @ixdy

[2016-01-20 19:57] roberthbailey commented on #19786
Good to know we are on the same page. :)

[2016-01-20 19:57] dpratt commented on #11543
I'm getting the same on my hand-built CoreOS AWS cluster inside a private subnet. I've patched my copy of the kubelet to handle this error. @moserke - are you planning on submitting a PR with this change? If not, I'm happy to.

[2016-01-20 19:59] saad-ali commented on #19878
@a-robinson If you don't provide a service account (via `GCE_SERVICE_ACCOUNT` parameter), then the GCE client will fall back to using the `DefaultTokenSource` which looks at a [number of locations](https://github.com/golang/oauth2/blob/master/google/default.go#L47) to try and discover the credentials to use. It uses a JSON file (`$HOME/.config/gcloud/application_default_credentials.json`) created

[2016-01-20 20:01] vishh commented on #19720
xref: https://github.com/docker/docker/milestones/1.10.0

[2016-01-20 20:23] MikaelCluseau commented on #3760
That's unfortunate :-( not sure why by the way. I'll try something with MPLS then, I want to learn it anyway.

[2016-01-20 20:47] ArtfulCoder commented on #19118
This issue was caused because of two reasons:

1. The firewall rules are incomplete.
Pods on different minions cant ping each other because we dont have the right firewall rules open.

![incompletefirewallrules](https://cloud.githubusercontent.com/assets/1220660/12462521/a1be8a28-bf73-11e5-92e8-b4b7b60b3636.png)

2. One of the minions has hit a kernel bug
dmesg shows: "unregister_netdevice: waitin

[2016-01-20 20:54] erictune commented on #18549
Okay, I withdraw the suggestion of using Implicit flow.

My main questions are:
  - is refreshing the ID token (as opposed to just the Access Token) something that works on all/most providers?  The spec does not require it.  Does Google support this?
  - what are the tradeoffs between refreshing the ID token versus issuing our own refreshable credential (like OpenShift does) or using a cookie for

[2016-01-20 20:57] ArtfulCoder commented on #19118
@roberthbailey Assigning to Robert to triage and decide who could work on the gke firewall setup issue..

[2016-01-20 20:59] thockin commented on #19118
If this is broken, how did it ever work?  If it changed recently, what
changed?

On Wed, Jan 20, 2016 at 12:57 PM, Abhi Shah <notifications@github.com>
wrote:

[2016-01-20 21:08] quinton-hoole commented on #17575
@erictune FYI, our conversation yesterday refers.

[2016-01-20 21:11] vishh commented on #18787
FYI: I'm working on reorganizing image management inside of kubelet. That
work should pave way for implementing Option 2.

On Mon, Jan 4, 2016 at 6:14 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-01-20 21:11] thockin commented on #3760
If you have 2 backends for Service and you want to send more than a single
packet, you need to track flows in some way, don't you?  Or are you
assuming it is safe to spray packets at different backends?

On Wed, Jan 20, 2016 at 12:24 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2016-01-20 21:11] vishh commented on #17575
cc @pwittrock who is working on labels support in kubelet.

[2016-01-20 21:13] lavalamp commented on #19562
Yes, if you reproduce we'd be happy to look at the logs. Thanks!

[2016-01-20 21:13] #19562 closed

[2016-01-20 21:15] caesarxuchao commented on #19680
@bgrant0607, I don't think this affects if the fields of `PodSpec` are `required`, because the validation functions of `Pod` and `PodTemlate` both call the same function to validate PodSpec: [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L1310) and [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L1679).

Wha

[2016-01-20 21:16] ghodss commented on #19622
@pmorie any update here?

[2016-01-20 21:19] piosz commented on #18528
Thank you @bgrant0607 for the proposal and writing the conclusions down. I like the proposal. Does anyone has any objections here (@deads2k, @erictune, @lavalamp, @kubernetes/rh-cluster-infra, @kubernetes/autoscaling)?

[2016-01-20 21:22] pmorie commented on #19622
@thockin @ghodss Sorry about that, I didn't see this.  I'll try to repro.

[2016-01-20 21:23] MikaelCluseau commented on #3760
I kind of assumed that for UDP workloads, yes. It also can be optional to go stateless even for UDP. @qoke any comment on this?

[2016-01-20 21:24] pmorie commented on #19622
@ghodss Can I see the kubelet logs at `--loglevel=5` ?

[2016-01-20 21:26] MikaelCluseau commented on #3760
Also, we could use things like client IP hashing to make the flow more stable while still balanced (I don't know if we can call that "some kind of tracking" :-)).

[2016-01-20 21:28] deads2k commented on #18528
I'm still concerned about:
 1.  The request path and discovery mechanism for `scale` subresources
 2.  Forcing someone to specify an API version if all they care about is the (group,resource) tuple and would like auto-negotiation between the HPA controller and the api server.  The vast majority of the time that is unambiguous.

I'm fine with the rest.

[2016-01-20 21:36] a-robinson commented on #19878
Thanks for the details. The problem wasn't that I didn't have a file at `$HOME/.config/gcloud/application_default_credentials.json`, but that there was apparently something malformed about it. Deleting it fixed the problem.

[2016-01-20 21:36] #19878 closed

[2016-01-20 21:42] ArtfulCoder commented on #19118
is it possible to get the audit log for the pantheon project to see history of firewall rule changes..

[2016-01-20 21:44] lavalamp commented on #19816
Yes, I'm quite confused by the OP-- multiple active apiservers is explicitly how apiserver scales. The warm standby stuff is only for controller-manager and scheduler.

[2016-01-20 21:46] dhawal55 commented on #19817
+1

[2016-01-20 22:00] ghodss commented on #19622
I think this is the relevant part https://gist.github.com/anonymous/ed2b85c45330b71a5d98

[2016-01-20 22:14] bobbyrullo commented on #18549
Not sure if Google supports it. I was going to say that it doesn't matter because you could then use the access token to get an ID token via the `/token` endpoint but that requires an *authorization code* not an access token. I realize I need to do a little more research here.

Hmmm. If we're talking about an OIDC solution, I'm not sure how to make a custom refreshable credential that interacts wi

[2016-01-20 22:18] erictune commented on #17088
@liggitt's raises some good concerns.  I broke them down into two cases when thinking about them.

1. assuming everyone is trustworthy, it might still be hard to reason about the network security of a service just by looking at the service object (or just by looking at objects in the same namespace).  IT might be misconfigured.
  - I agree with this, to a point
  - however, creating an object that

[2016-01-20 22:20] liggitt opened #19885 "Client transports no longer implement WrappedRoundTripper()"
https://github.com/kubernetes/kubernetes/pull/16126 removed the implementations of `WrappedRoundTripper() http.RoundTripper` present in all of the client transports.

This is required to allow the proxy handlers to drill down and use the Dial and TLSConfig data in the innermost http.Transport when doing upgrade requests.

@krousey

[2016-01-20 22:22] liggitt commented on #19885
This implementation depends on transports constructed from kubeconfig files conforming to the `RoundTripperWrapper` interface:

[code]

[2016-01-20 22:23] thockin commented on #19680
We have to mark them both as optional.  AFAIK we have no real way to denote
one-of.  Maybe we need a new field tag like 'oneof:foobar' and only one
field tagged as such must be set.
On Jan 20, 2016 1:15 PM, "Chao Xu" <notifications@github.com> wrote:

[2016-01-20 22:24] liggitt opened #19886 "Re-export Basic/Bearer/User-Agent transport helpers"
https://github.com/kubernetes/kubernetes/pull/16126 made the implementation and construction of Basic/Bearer/User-Agent transports private. These are in use by other out-of-tree packages, and should still be available for reuse

@krousey

[2016-01-20 22:30] quinton-hoole commented on #19118
@ArtfulCoder @thockin @roberthbailey The soak test cluster auto-rebuilds once a week:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-weekly-deploy-gke/

The tests passed up until 01/11, the cluster rebuilt on 01/12, and the tests have failed ever since.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gke/

So the bug y

[2016-01-20 22:38] justvisiting commented on #15818
Same Issue. Here is master.sh output

K8S_VERSION is set to: 1.1.3
ETCD_VERSION is set to: 2.2.1
FLANNEL_VERSION is set to: 0.5.5
FLANNEL_IFACE is set to: eth0
MASTER_IP is set to: 127.0.0.1
Detecting your OS distro ...
Starting bootstrap docker ...
Starting k8s ...
8873fcdadab0103d4eefbebc75303b0f8c33e3c9938b7a659a774c6d2718c50f
{ "Network": "10.1.0.0/16", "Backend": {"Type": "vxlan"}}
Error resp

[2016-01-20 22:43] lavalamp commented on #18266
@hongchaodeng

If a watch returns an error, that means changes have been made since the client listed. If the client needs to have a 100% correct state, it must then relist. Otherwise, it may never return to a correct state (imagine one of the missed changes was a deletion).

A flood of lists is quite possibly a cause of the problem, but it's *not the ultimate cause*. The question is **why did the

[2016-01-20 22:45] ihmccreery commented on #19724
Was the name "scheduler" not part of the API before it got changed to "default-scheduler"?

That'd be a backwards-incompatible change on a patch version within 1.0, which sounds very questionable to me.

If we want to keep it at "default-scheduler", which seems reasonable to me, then I can pursue a forward-compatible test fix (or something).

[2016-01-20 22:48] pmorie commented on #19622
Nothing obvious from the logs, next step is take a look at the output of `docker inspect` for an affected container.

[2016-01-20 22:54] mikedanese commented on #19724
I meant we should s/scheduler/default scheduler/ when matching the event in the e2e test. No changes outside of test/. This is a smaller change than the one propsed by @gmarek:

@ihmccreery if that was already understood can you explain why it's a backwards-incompatible and questionable fix?

[2016-01-20 22:54] hongchaodeng commented on #18266
@lavalamp
See [my analysis above](https://github.com/kubernetes/kubernetes/issues/18266#issuecomment-172737668).

There are three identities:
- **client** with a reflector reading states.
- **cacher** with a reflector updating watch cache
- **watch cache** inside cacher

Here's detailed error analysis:
- Watch cache holds fixed size of a queue of data.
- Watch cache is update really fast because t

[2016-01-20 22:56] lavalamp commented on #18528
HTTP headers are harder for dumb clients & browsers. (minor)

I have a slight preference for the `/api/v1/namespaces/myns/replicationcontrollers/myrc/_subapis/common/v1/scale` method, even though it's ugly. I think it's more consistent with the rest of our API.

@bgrant0607, when you say "apiVersion", do you mean "group/version", or one of the ways we talked about to omit the version, like "group/

[2016-01-20 22:59] mikedanese commented on #19724
I say this having not looked at the test... We have modified tests in old release branches to match new and old outputs. I think that's what we should do here.

[2016-01-20 23:00] hongchaodeng commented on #18266
FYI, I'm trying to reproduce it in UT.

[2016-01-20 23:00] ixdy commented on #19871
dupe of #19875

[2016-01-20 23:00] #19871 closed

[2016-01-20 23:00] ihmccreery commented on #19724
@mikedanese Sorry I misunderstood; I thought you were proposing we rename the 1.0 scheduler from "scheduler" to "default-scheduler" to match newer versions.  If you're just talking about fixing the tests, I think that's the right thing to do.

[2016-01-20 23:01] ihmccreery commented on #19724
As long as the answer to that question is "no".

[2016-01-20 23:01] ixdy commented on #19875
Seems to have recovered more or less. Still tracking internally.

[2016-01-20 23:01] #19875 closed

[2016-01-20 23:03] lavalamp commented on #18266
@hongchaodeng I was responding to your analysis.

There's two cases.

a) a list has just completed and we're attempting to establish a watch.
b) a watch has been initiated and we're trying to keep up.

The situation you're outlining is a potential problem for case a), when we're trying to get a watch started. But that means we've just done a list for some reason-- why did we need to do that list a

[2016-01-20 23:04] krousey commented on #19885
Interesting. We can certainly add them back for now, but this seems like something that should be done another way. Why rely on a http.RoundTripper to supply a dialer and TLS config, especially when wrapping them is such a common idiom? Wouldn't it be better for the proxy/upgrade handlers to just know what Dialer and TLSConfig they should use instead of trying (and failing in this case) to discove

[2016-01-20 23:08] liggitt commented on #19885
The proxy code handles generically proxying/upgrading connections to node, pod, and service back ends. The transport to use is part of what is handed to the proxy code.

I'm fine with a refactor, but I'd like to unbreak this asap and work on a better solution at leisure. This is seen to have an effect when connecting to things with custom diapers like GKE and a tunneling dialed.

[2016-01-20 23:11] krousey commented on #19885
Agreed whole-heartedly with quick fix + thinking about a better way. Are you doing this? Or should I?

FWIW this is a similar situation to http.Transport.CancelRequest(). People naively wrapped the round tripper, http.Client's Timeout would no longer worked. They ended up bypassing the need to type assert down to that method by adding a Cancel channel to the http.Request object.

[2016-01-20 23:14] liggitt commented on #19885
Also, there are e2e tests that should have caught this, but they may have been conditionalized away in GKE :-/

[2016-01-20 23:20] lavalamp commented on #18432
Maybe we can use a shutdown script? https://cloud.google.com/compute/docs/shutdownscript

[2016-01-20 23:22] liggitt commented on #19885
If you can, I can do a quick review

[2016-01-21 00:02] therc commented on #18549
Maybe @ericsachs can help with the question about Google support for ID token refresh...

[2016-01-21 00:05] lavalamp opened #19894 "Some client files use incorrect case for resource name"
Both https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/persistentvolumeclaim.go and https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/replication_controllers.go, and possibly others, use incorrect case in the `Resource("")` sections. I'm not quite sure how it's working at all, since when I start a cluster and try to use the path, I get a 404, e.g

[2016-01-21 00:12] alex-mohr commented on #19189
Recent failures for GKE:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/10405/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/10406/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/10399/

And for GCE:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/104

[2016-01-21 00:13] alex-mohr commented on #19189
@piosz And if you're free earlier due to timezone, that would be wonderful too!

[2016-01-21 00:16] ihmccreery commented on #18581
This bug currently stands at:

Functionality introduced in #13780, not expected to work in 1.0:

- Kubectl client Kubectl logs should be able to retrieve and filter logs [Conformance]

Introduced in #18507, never expected to work in 1.0 or 1.1:

- Kubectl client Kubectl run --rm job should create a job from an image, then delete the job [Conformance]

Changed from pod to job in #17195:

- Kubectl

[2016-01-21 00:20] alex-mohr opened #19895 "e2e failure: SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]"
e2e failure: SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scheduler_predicates.go:355 Expected : 21 to equal : 22
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10440/

@saad-ali @hongchaodeng Recent issues/PRs mentioning the same

[2016-01-21 00:20] davidopp commented on #19724
The scheduler didn't have a name in 1.0. We just chose to use "scheduler" in the event.

The multi-scheduler feature added the concept of scheduler name, made it part of the API, and put the name in the event.

[2016-01-21 00:22] ihmccreery commented on #18581
EDIT: `--rm` was introduced in v1.2, but the test & functionality is actually backward compatible to 1.1, just not to 1.0, since jobs didn't exist in 1.0.

[2016-01-21 00:22] alex-mohr opened #19896 "kubernetes-e2e-gce-autoscaling: Autoscaling test failure #2469"
Test failure yesterday in autoscaling.  I don't know of any systematic issues from that time (other builds green), so offering it to autoscaling people to triage if there's anything interesting and close if not.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-autoscaling/2469/

Horizontal pod autoscaling (scale resource: CPU) [Skipped] ReplicationController [Feat

[2016-01-21 00:23] alex-mohr commented on #19896
@kubernetes/goog-control-plane FYI, autoscaling failure yesterday.  Blocked merge queue for a couple of hours.

[2016-01-21 00:30] janetkuo commented on #17168
Summarize related PRs:

**Deployment API**:
- [ ] Rollback
  - [ ] Add version information to deployments (#19581)
  - [ ] Add deployments/rollback subresource & add rollback logic to deployment controller (#19686)
- [ ] Pause/inert deployment (#18901)
- [ ] Perm-failed deployment (#19343)

**kubectl**:
- [ ] kubectl rollout (#19882)
  - [ ] kubectl rollout undo (#19835) *(depends on rollback #195

[2016-01-21 00:30] erictune commented on #18528
I'm fine with anything Brian, Daniel and David agree on.

On Wed, Jan 20, 2016 at 2:58 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-21 00:35] alex-mohr commented on #19574
Failed again in http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/14712/
EmptyDir volumes should support (non-root,0644,default) [Conformance]
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/empty_dir.go:105 Expected error: <*errors.errorString | 0xc2084b1100>: { s: "gave up waiting for pod 'pod-995d097b-bfc2-11e5-9ce3-42010af

[2016-01-21 00:36] ihmccreery commented on #18581
EDIT 2: *Kubectl client Simple pod should support inline execution and attach* is also failing when run on HEAD (tests/`kubectl` at HEAD) against a 1.1 cluster:

*no kind "DeleteOptions" is registered for version "extensions/v1beta1"*

which is confusing to me, because graceful deletion has been around for a while.  Maybe just not for jobs?  Or perhaps this is a bad error for some other problem he

[2016-01-21 00:38] yujuhong commented on #19189
The recent failures in kubernetes-e2e-gce builds exhibited different symptoms than @dchen1107's [comment](https://github.com/kubernetes/kubernetes/issues/19189#issuecomment-170749856).

One of my PRs landed last weekend and exacerbated the situation (due to the change of sync timing in kubelet), and it eventually got reverted. I looked through some builds with reboot test failures in kuberentes-e2

[2016-01-21 00:46] alex-mohr opened #19898 "e2e failure: Job should run a job to completion when tasks succeed"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/14712

Unsure if this is cause or noise, but might be a node not ready issue and not a specific-to-this-test issue.

@erictune and @dchen1107 as last people to touch these tests in #15389 but bounce elsewhere if needed?  Note blocked merge queue for 30 minutes today.

14:27:34 Jan 20 14:26:57.020: INFO: Wait

[2016-01-21 01:04] caesarxuchao commented on #19894
My generated client also has the camel case: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/typed/generated/legacy/unversioned/persistentvolume.go#L108.
It should be a one-line fix.

[2016-01-21 01:08] erictune commented on #18549
You can use OIDC to do the initial login flow.  Then apiserver can generate a new secret (which does not need to follow the OIDC spec, and which the IdP has no knowledge of or involvement in).   This secret is then used by the client (e.g. kubectl) for subsequent requests to the apiserver (e.g. GET pods).  This is how the openshift approach works.

I assumed (I could certainly be wrong here), that

[2016-01-21 01:12] yujuhong commented on #16943
Yes. Hopefully it won't take long...

[2016-01-21 01:14] dchen1107 commented on #19189
@alex-mohr The failing cases you listed at https://github.com/kubernetes/kubernetes/issues/19189#issuecomment-173409041 are totally different from what I observed from kubernetes-e2e-gce-reboot jenkins project which I commented at https://github.com/kubernetes/kubernetes/issues/19189#issuecomment-170749856

* kubernetes-e2e-gce-reboot is isolated test suite for reboot tests, and the failures are c

[2016-01-21 01:19] bprashanth opened #19899 "Ingress controller can generate real certs via letsencrypt client"
Filing random idea. The missing piece is hooking up dns, which can even be human driven. For an ingress like :

[code]
- Run letsencrypt client
- Get a challenge like provision `.well-known/acme-challenge/` at foo.bar.com:80 (https://letsencrypt.github.io/acme-spec/)
- Create the l7 for 1.2.3.4, program DNS for foo.bar.com->1.2.3.4, point urlmap of `foo.bar.com:80/.well-known/acme-challenge` to lo

[2016-01-21 01:24] madhusudancs commented on #19894
@lavalamp Thanks for confirming.

[2016-01-21 01:27] saad-ali commented on #19895
Assigning to @hongchaodeng: Could you please take a look. Is this related at all to https://github.com/kubernetes/kubernetes/pull/19527?

Failed test log:
[code]

[2016-01-21 01:41] alex-mohr opened #19901 "Reboot tests should fail clearly"
From http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/10713/consoleFull

It looks like the intent was to wait 5 minutes for a pod to be ready, but instead we waited only 1m22s before aborting.  I suspect the issue is in checkPodsRunningReady's call to waitForPodCondition where it silently? discards an error?  Or is it that waitForPodCondition is returning to

[2016-01-21 01:41] alex-mohr commented on #19901
(P1 due to merge queue blockages on failed reboot tests)

[2016-01-21 01:43] dalanlan opened #19902 "should introduce a knob to enable quorum read of etcd for HA"
Copied from #19816
@mqliang  said

[2016-01-21 01:44] dalanlan commented on #19816
This one could be safely closed, and i filed another to enable quorum read for etcd(which is an issue).

[2016-01-21 01:46] bobbyrullo commented on #18549
Just checked this, and it turns out google does in fact allow that

[2016-01-21 01:52] yujuhong opened #19904 "Liveness probe fails with "use of closed network connection""
A GKE user has seen random yet frequent "use of closed network connection" errors from http liveness probes. It was confirmed that the container in question was running fine the entire time.

[code]

This is _not_ caused by #15643 since the fix for that was included in v1.1.1.

I suspect that this is caused by https://github.com/golang/go/issues/9405, where request timeout errors aren't reported c

[2016-01-21 01:56] ixdy commented on #19901
Looks like #19391:
[code]
cc @timstclair @gmarek @lavalamp

[2016-01-21 01:58] yujuhong commented on #19901
The timeout was not respected because a pod is missing.
[code]
As for whether the pod is missing, please see https://github.com/kubernetes/kubernetes/pull/19436#issuecomment-173030536 or just follow the original issue for reboot test failures https://github.com/kubernetes/kubernetes/issues/19189. The fixes (PRs) for the missing pod are sitting in the queue.

As for the test, the error message can

[2016-01-21 02:03] hongchaodeng commented on #19895
Here is my analysis:

Looking at the log, it showed the error:
[code]
The error is returned [here](https://github.com/kubernetes/kubernetes/blob/252a956150e7862255961007c74a31cd89a362bf/plugin/pkg/scheduler/generic_scheduler.go#L91). It means the pod can't be assigned to any node and some of nodes didn't have enough CPU.

Last time, the problem came from [here](https://github.com/kubernetes/kubern

[2016-01-21 02:04] bobbyrullo commented on #18549
This is a fine approach - it just requires more state management on the kubernetes side, which I was trying to avoid, thinking that would make the proposal less palatable. Depending on how many users there are it could be a lot more stuff being shoved into etcd.

Is there a difference between OAuth and OIDC refresh tokens? Also, if the OpenShift approach is like you said above with the secrets bei

[2016-01-21 02:09] hongchaodeng commented on #19895
Again, I can't reproduce it in running that single test.
We at CoreOS have our jenkins jobs running on GCE. We should be able to run and get more logs if the flaky error happened.
At the mean time, it would be great if we can put more logging into upstream. That would help us debug and understand easier the behavior of scheduler finding fitting nodes. What do you think? @alex-mohr
/cc @yifan-gu

[2016-01-21 02:15] yifan-gu commented on #19895
@hongchaodeng @alex-mohr What's the job name of this e2e test? kubernetes-e2e-gce?

[2016-01-21 02:22] david-mcmahon commented on #19815
Done.  Working on getting a cherrypick for PR #19061 for the release-1.1 branch.

[2016-01-21 02:22] #19815 closed

[2016-01-21 02:46] AdoHe commented on #19736
@erictune I will starting doing this as soon as possible. For any questions, I will leave them here.

[2016-01-21 03:18] jaohaohsuan commented on #17728
i got same problem too.
wrong hostname https://`kubernetes.default.cluster.local`/api/v1/namespaces/default/endpoints/cassandra
[code]

[2016-01-21 03:23] jaohaohsuan commented on #17728
I got the same problem.

[2016-01-21 03:26] timothysc commented on #19902
/cc @wojtek-t

[2016-01-21 03:42] hongchaodeng commented on #19895
Create a PR #19906 to return details of failed predicate map.
IMHO that would be very helpful.

[2016-01-21 03:51] justinsb opened #19908 "kube::util::wait-for-jobs fails to set fail on fail"
kube::util::wait-for-jobs has a fail count which is declared `local`.  cluster/gce/util.sh does this:

[code]

But if wait-for-jobs fails, fail is not set.  This gives an error like `cluster/gce/util.sh: line 699: fail: unbound variable`  e.g. https://github.com/kubernetes/kubernetes/pull/17919#issuecomment-173378103

cc @quinton-hoole

[2016-01-21 04:00] hongchaodeng commented on #19895
One more thing suspicious:
There is a node has exactly 1500 cpu for 3 pods of 500 cpu
[code]

The log shows that such edge case only schedules 2 pods:
[code]

[2016-01-21 04:04] AdoHe commented on #19766
@thockin I decided to use the existence of a network plugin as an indicator, also I will get ride of the no-op network plugin, I am not going to add new flag to kubelet structure, if the user don't specify network plugin name, the networkPlugin within kubelet will be `nil` which just means non-existence of a plugin, and also we have to check the existence in the docker manager to avoid nil pointer

[2016-01-21 04:07] AdoHe commented on #19865
@erictune

[2016-01-21 04:09] AdoHe commented on #19188
@vishh sure, I will keep the cache updated in the background.

[2016-01-21 04:41] josegonzalez commented on #6162
This should be closed as of #8297, no?

[2016-01-21 04:46] therc commented on #19188
It would be great if this worked as the basis for the LOAS daemon from #2209, fetching secrets. The opaque proxying part would happen later, as perhaps moving into a separate process.

[2016-01-21 04:53] hongchaodeng commented on #19895
Create #19910 print out details of resource request/used/capacity information in case of failure

[2016-01-21 04:56] mgoodness commented on #11011
CoreOS 899.3.0 in the beta channel includes Kubelet v1.1.2 and resolved this issue for me.

[2016-01-21 04:59] markturansky commented on #7835
This issue can be closed when https://github.com/kubernetes/kubernetes/pull/19880 is merged (or this issue is a dupe of whatever issue 19880 is resolving)

[2016-01-21 05:01] iterion commented on #6162
Yeah, this should be closed now.

[2016-01-21 05:02] bgrant0607 commented on #16938
cc @johndmulhausen

[2016-01-21 05:03] bgrant0607 commented on #15244
cc @johndmulhausen

[2016-01-21 05:12] bgrant0607 commented on #18166
cc @johndmulhausen

[2016-01-21 05:27] bgrant0607 commented on #15244
Related: #16506

[2016-01-21 05:30] bgrant0607 commented on #15244
Also related: #15741

[2016-01-21 05:35] bgrant0607 commented on #19781
Do we need a fixed number?

We should use something like LimitRange and/or ResourceQuota to cap individual and aggregate resource sizes. Users could attach arbitrary amounts of data to anything given annotations.

[2016-01-21 05:37] bgrant0607 commented on #15193
cc @johndmulhausen

[2016-01-21 05:37] bgrant0607 commented on #15032
cc @johndmulhausen

[2016-01-21 05:40] bgrant0607 commented on #13359
Fixed.

[2016-01-21 05:40] #13359 closed

[2016-01-21 05:42] krancour commented on #19808
fwiw, everything built fine with those removed.

[2016-01-21 06:04] AdoHe commented on #19817
@kargakis I will try to add this option later.

[2016-01-21 06:18] #17565 closed

[2016-01-21 06:30] WilliamDenniss commented on #18549
I work on @ericsachs's team. Google does indeed return a fresh ID Token on token refresh. You can try it out in an interactive way using our [OAuth Playground](https://developers.google.com/oauthplayground/)  (request the scope `openid`). I think it makes sense for most OIDC providers to behave like this.

There is no difference between OAuth and OIDC refresh tokens. OIDC is a superset of OAuth th

[2016-01-21 07:06] bgrant0607 commented on #12226
I think the main issues for annotations as field extensions currently are:
1. No conversion from yaml to json
2. Escaping quotes in the nested json

Escaping seems to not be a problem for yaml. Use single quotes:
[code]
[code]
[code]

[2016-01-21 07:16] bgrant0607 commented on #12226
Literal and folded styles also work:
[code]
[code]
That doesn't seem bad.

[2016-01-21 07:42] davidopp commented on #12226
cc/ @kevin-wangzefeng

[2016-01-21 07:48] davidopp commented on #12226
@bgrant0607 Did the second example (this one https://github.com/kubernetes/kubernetes/issues/12226#issuecomment-173481190 ) render correctly on Github? That is, it's just regular YAML but with a "greater than" sign after the colon on the line with the key name?

Also, if we do this would that mean people who want to use this annotation would have to write their whole config in YAML? I assume you c

[2016-01-21 07:54] bgrant0607 commented on #12226
@davidopp Either block scalar style should work:
http://yaml.org/spec/current.html#id2539942

Yes, my example has a greater-than sign at the end of line. A pipe at the end of line (literal style) also works.

JSON is legal YAML, so they can mix JSON and YAML as they wish.

[2016-01-21 08:06] davidopp opened #19914 "Admission controller to restrict hard ("requiredDuringScheduling") anti-affinity to "node" TopologyKey"
As discussed in the (anti-)affinity issue (#18265), "hard' anti-affinity is dangerous especially at large topology scopes, until we have some mechanism like priority/preemption. It could be used maliciously or by accident to block scheduling in an entire cluster, for example. The primary use case for hard anti-affinity is at the node level (give a pod exclusive access to a machine); we don't antic

[2016-01-21 09:22] magicwang-cn commented on #19902
@mqliang what's the scale of your cluster?(`how much nodes?`)

[2016-01-21 09:25] mqliang commented on #19902
@ magicwang-cn currently ~500

[2016-01-21 09:33] kargakis commented on #17168
I can probably do `rollout pause` and `rollout resume` after the pause PR is merged. @bgrant0607

I will also do `rollout retry` later once perm-failed is in.

[2016-01-21 10:26] ramonrue commented on #18174
+1

[2016-01-21 11:03] #18964 closed

[2016-01-21 11:49] ingvagabund commented on #19655
https://github.com/kubernetes/kubernetes/pull/19917

[2016-01-21 13:01] luxas commented on #16987
This is fixed now @dalanlan @pmorie @davidopp, so this can be closed.

[2016-01-21 14:15] justinsb opened #19920 "AWS cloudprovider restricts number of EBS volumes"
The current AWS cloudprovider code must assign a mountpoint from the set of available mountpoints, but the list of mountpoints is hard-coded and probably too small:

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L805-L813

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html

We should expand the list, so that the limit that will be im

[2016-01-21 14:57] gmarek commented on #19786
We printed nearly exactly what @roberthbailey suggested. I changed it to be exactly that.

[2016-01-21 15:23] gmarek commented on #18432
+1 - that would be great. This way each machine would be responsible for storing its logs, instead of waiting for Jenkins or something to pull them from it and process it further.

[2016-01-21 15:31] scotloach commented on #19904
I am seeing this on one of my containers.

[2016-01-21 15:33] gmarek commented on #16627
In #19436 @yujuhong suggested that:
- Node controller should either not try to evict static pods and/or forcefully terminating the pods with deletion timestamp set already.

IIUC we want to treat mirror pods exactly as normal ones, and that idea would mean that we start treating them differently and that we need a way to distinguish them from the ordinary ones (`kubernetes.io/config.mirror` label

[2016-01-21 15:34] #19816 closed

[2016-01-21 15:36] gmarek commented on #19901
Yeah - we truly need to work on reboot stuff. It's getting more and more problematic...

[2016-01-21 15:38] pmorie commented on #19475
@vishh Does that mean, literally expose the image name, or expose a field called `ImageName` and put the sha in it for docker images?

@sdminonne @bgrant0607 @thockin One design thing to iron out about this, what key should we use in the downward API?  As @yujuhong points out, the image ID is already part of the container status.  We have precedent for accessing part of status via the downward API

[2016-01-21 16:03] justinsb opened #19924 "e2e unit tests failing due to 60 minute timeout?"
It appears that the unit tests in e2e are sometimes failing due to a 60 minute timeout, but it does not appear to be being correctly applied.

Logs here:
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/0586d866de1b0ca888ad3de53ad41cdb2077dd0e/kubernetes-pull-test-unit-integration/10243/

The weird thing is that the logs show that the unit tests themselves only took

[2016-01-21 16:09] smarterclayton commented on #18528
HTTP headers in API version negotiation are a disaster for general API versioning (we've been down that path, you always want a version in your path just for sanity).  I am strongly against using accept headers as the primary API version selection mechanism.

However, using HTTP headers to further qualify the content you send and receive from the server is not crazy.  Part of #17922 is setting up

[2016-01-21 17:10] alex-mohr commented on #19896
Here's another failed run, also blocking submit queue:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-autoscaling/2492

Given the failure is "Should scale cluster size based on memory utilization" and k8s doesn't actively support cluster auto-provisioning, is that test one we can skip?  And if/when we support auto-provisioning, re-enable?

[2016-01-21 17:44] yifan-gu commented on #19615
coreos/rkt#1933 is now closed. Will update the godep for kuberentes

[2016-01-21 17:54] erictune commented on #18549
@WilliamDenniss do you have thoughts on the question of whether a Relying Party which is also a web service (API) is better off using ID Tokens to authenticate every request, or whether it should issue its own temporary credentials with a longer lifetime than ID tokens (e.g. to lighten the load on the Identity Provider?)

[2016-01-21 18:09] alex-mohr commented on #18704
merge-blocking failure:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/14750/

[2016-01-21 18:10] therc commented on #19113
I've been using the PR in our test clusters, but haven't been getting much feedback. It would be nice to have it in 1.2.

[2016-01-21 18:11] alex-mohr commented on #19189
Thanks @dchen1107 and @yujuhong -- one fix merged yesterday and one this morning at 9:30am.  If any more reboot tests fail today, I'll ping here.

[2016-01-21 18:24] mikedanese commented on #19615
THanks

[2016-01-21 18:26] janetkuo commented on #19732
This should be fixed by #19733

[2016-01-21 18:26] lavalamp commented on #18303
The email language has been updated. I agree we should add a carrot to the email (flaky tests fixed in the last week?) I'll leave this open until I find some time to add it.

[2016-01-21 18:27] #16501 closed

[2016-01-21 18:27] vishh commented on #19405
cc @jimmidyson

[2016-01-21 18:30] mikedanese commented on #12744
The can fit predicate needs to check:
  * pod fits resource
  * pod fits ports
  * node has sufficient disk

I'll demote this to v1.2 candidate and try to the copy paste for now.

[2016-01-21 18:32] yujuhong commented on #19254
Not sure if it's the same cause, but my PR just ran into a unit test failure where`TestList` timed out.
[code]
The complete log: https://gist.github.com/yujuhong/28a12bbaf5a1e27c757f

[2016-01-21 18:35] yujuhong commented on #19647
I suspect the node was in a bad state. After deploying the new build, the test hasn't failed at all this week. Closing this and will re-open if it hits again.

[2016-01-21 18:36] mikedanese commented on #16623
This test remains 100% not flaky in e2e-gce and greater then 99% not flaky in gce-parallel.

[2016-01-21 18:36] erictune commented on #17103
Fixed by #17308

[2016-01-21 18:36] #17103 closed

[2016-01-21 18:37] #15982 closed

[2016-01-21 18:38] #19386 closed

[2016-01-21 18:41] #11626 closed

[2016-01-21 18:42] aronchick opened #19927 "GCE L7 x nodeport services can black hole traffic"
From a user:

The single worst experience we’ve had so far is from the loadbalancer:
The official loadbalancer abstraction (“ingress”) is not there yet (no reserved ip addresses). We therefore use a Service (with Nodeport) and configure a HTTPLoadbalancer with the nodeport as a backend.

When we take down a Node there are two error-sources:
a) The NodePort on the terminated Node goes down
b) A fau

[2016-01-21 18:42] #19318 closed

[2016-01-21 18:44] lavalamp commented on #13772
See also: #16062

For finalizing this cleanup, how would people feel about moving the "core" api types from `pkg/api/` into `pkg/apis/core/`? That would get types.go, v1/, registration and conversion code out of the current `pkg/api`, and make it totally regular with the rest of our groups--with the exception of its name.

Alternatives: `pkg/apis/api`, `pkg/apis/legacy`

[2016-01-21 18:45] thockin commented on #19927
@bprashanth for comment and triage

On Thu, Jan 21, 2016 at 10:43 AM, David Aronchick <notifications@github.com>
wrote:

[2016-01-21 18:50] #19551 closed

[2016-01-21 18:52] ihmccreery commented on #18162
I'm moving this to P0 and v1.2 milestone per community discussion today.

[2016-01-21 19:00] virsox opened #19930 "Can't connect to a service IP from the service's pod"
I'm trying to create 3 instances of Kafka and deploy it a local Kubernetes setup. Because each instance needs some specific configuration, I'm creating one RC and one service for each - eagerly waiting for #18016 ;)

However, I'm having problems because Kafka can't establish a network connection to itself when it uses the service IP (a Kafka broker tries to do this when it is exchanging replicatio

[2016-01-21 19:13] jimmidyson commented on #19405
I'm not sure of the fluentd version or configuration on gke - can someone link to it please? Also are you sending events to gcm or elasticsearch?

Fluentd buffer plugins have an internal queue to batch up & send events to outputs. That queue is flushed regularly, normally based on queue size or time elapsed or a combination of the two, depending on output plugin implementation. If there is a probl

[2016-01-21 19:19] cjcullen commented on #19574
[Here are the kubelet logs](https://00e9e64bacc3451c3f116261c3f9627600b37d8471a116b6db-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/logs%2Fkubernetes-e2e-gce-parallel%2F14712%2Fartifacts%2F104.197.47.216:22-kubelet.log?qk=AD5uMEv4C0JtH1ygiaPpihTcWw-tnif6g_e-GUZQ7zrdOFdjoCC92zvuiF1gnchhZg8Qc2UZC5rH2-OrT4zu7cc9s8AWQGVZGPPhRBh-aCzMiJnXtQyTWoVLe86QNoxL4bx2BdX4aYuj9

[2016-01-21 19:24] bgrant0607 commented on #19764
Some applications expect configuration files directly in /etc. This would be useful for such cases.

Yes, we need atomic updates for some cases.

[2016-01-21 19:32] spxtr commented on #18713
[code]
#19926

[2016-01-21 19:35] ernestoalejo commented on #19405
I use GCM. I see some sporadic errors like these (the only one that day):
[code]

The next day I have:

[code]

From that timestamp until now I have the BufferQueueLimitError in kubelet and fluentd (it actively logs it right now in my GCE cluster). This time the logs of my applications are not affected; so I have not restarted the master container yet.

It's ok to have a size limit; but I think it

[2016-01-21 19:39] hongchaodeng commented on #19895
In summary of above messages:
- the problem doesn't seem to be directly caused by #19527
- I need both #19906 and #19910 to get in and when such failure happened again I should be able to analyze it further.

[2016-01-21 19:45] hyperbolic2346 opened #19937 "udp port forwarding failing"
I'm not sure what is going on here, but I have a fairly simple example of my issue. It appears that udp packets aren't being properly routed or the service is getting confused about the origin of such packets. I am running kubernetes on a coreos bare-metal cluster. I have my firewall forwarding port 67438 tcp and udp to the master machine for now(10.0.1.19). I have the following setup for a mumble

[2016-01-21 19:49] ArtfulCoder commented on #19233
closed via https://github.com/kubernetes/kubernetes/pull/19836

[2016-01-21 19:49] #19233 closed

[2016-01-21 19:53] bgrant0607 commented on #14370
@ihmccreery @goltermann @sarahnovotny

[2016-01-21 19:54] janetkuo opened #19939 "Watch doesn't work for apis/extensions with namespace"
- This works http://127.0.0.1:8080/apis/extensions/v1beta1/watch/deployments?resourceVersion=66 (used by controller manager)
- This doesn't work (gives me no response) http://127.0.0.1:8080/apis/extensions/v1beta1/watch/namespaces/default/deployments?resourceVersion=66 (used by kubectl)

api/v1 works fine, but I can reproduce this for other apis/extensions resources (deployments, hpa, ...).

cc @c

[2016-01-21 19:55] vishh commented on #19405
cc @a-robinson

[2016-01-21 20:04] #19672 closed

[2016-01-21 20:07] #19738 closed

[2016-01-21 20:10] dchen1107 commented on #19189
@alex-mohr thanks for this.

[2016-01-21 20:16] nikhiljindal commented on #19939
Can you explain what you mean by "not works". Whats the response?
Is it a 404?

@kubernetes/sig-api-machinery

[2016-01-21 20:19] ixdy commented on #19254
[Most recent `kubernetes-test-go` job](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go/6732) failed in the same way.

[2016-01-21 20:21] piosz opened #19941 "RESTMapper doesn't support the same"
I created #19820 which adds to `metrics` api group types `Pod` and `Node` (which already exists in the default api group). Please correct me if I'm wrong but this case should be supported. Unfortunately when testing the mentioned change kubectl returns the following error:
[code]
The problem is with [MultiRESTMapper](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/meta/restmapper.go#L

[2016-01-21 20:26] caesarxuchao commented on #19939
Not 404, just no responses.

[2016-01-21 20:44] ArtfulCoder commented on #19180
test seems to have 0 flakiness in recent runs
Stability shows as 100% on Jenkins as well.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10464/testReport/junit/%28root%29/Kubernetes%20e2e%20suite/Services_should_release_NodePorts_on_delete/history/

Reducing pri. will keep it open in case flakiness is spotted.

[2016-01-21 20:47] bprashanth commented on #19927
Can I get a more specific request? do they just want static ips, to re-use ips across cluster create/destroy, reserve just an IP and defer url configuration to a later stage, or something else?

a) The NodePort on the terminated Node goes down
b) A faulty pod (A Pods on the terminated Node)
The NodePort round-robins requests to all Pods. All Nodes will eventually get a faulty response. Therefore t

[2016-01-21 20:52] pmorie commented on #19764
I think this is also solvable with pre-start hooks

[2016-01-21 20:55] davidopp commented on #12226
What did you mean "no conversion from yaml to json"? Clearly your "kubectl convert -f nginx-pod.yaml -o json" converts yaml to json. Did you mean inside the API server?

[2016-01-21 21:06] yujuhong commented on #19189
kubernetes-e2e-gce-reboot/10773 failed for a different reason (not fixed by my PRs). The UID of the static pod, kube-proxy, changed after reboot. This caused kubelet to recreate the mirror pod for kube-proxy.
This is consistent on all three nodes for kube-proxy (UID included in the parenthesis).

[code]

The UID is generated using the the md5 hash of the pod object, decoded from the manifest file.

[2016-01-21 21:07] yujuhong commented on #19904
According to https://github.com/golang/go/issues/9405, this will be fixed (i.e., the message will show the timeout error correctly) with go 1.5.

@scotloach, perhaps you can try increasing the probe timeout to see if it helps.

[2016-01-21 21:11] dchen1107 commented on #19180
Yes, that is what I saw. Just want an engineer from cluster team to take a look before I close it.

[2016-01-21 21:11] #19180 closed

[2016-01-21 21:22] ixdy commented on #19254
We're still being hit by this. Most recently, [k8s.io/kubernetes/contrib/mesos/pkg/scheduler/integration](https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/d612a462bed120963984febcf63efc24e52cb10b/kubernetes-pull-test-unit-integration/10334/artifacts/junit_v1,extensions-v1beta1_20160121-205750.stdout):

[code]

[2016-01-21 21:27] krousey commented on #19254
@ixdy those don't look like the race in httptest. Those look like other issues.

[2016-01-21 21:35] nikhiljindal commented on #19053
The first link doesnt work anymore.

Logs from the second failure show:
[code]

[2016-01-21 21:41] alex-mohr commented on #19896
And http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-autoscaling/2495

[2016-01-21 21:44] janetkuo commented on #19299
All the fixes are merged. Will watch it in flaky tests build.

[2016-01-21 21:44] janetkuo commented on #19064
All the fixes are merged. Will watch it in flaky tests build.

[2016-01-21 21:45] janetkuo commented on #18996
All the fixes are merged. Will watch it in flaky tests build.

[2016-01-21 21:48] hobti01 opened #19949 "Markdown to HTML conversion excludes go template content inside double curly braces"
For example:
https://github.com/kubernetes/kubernetes/blob/v1.1.4/docs/user-guide/images.md
![markdown](https://cloud.githubusercontent.com/assets/4631304/12495587/c9293ed2-c090-11e5-9f67-db78c930326b.png)
Compared to:
http://kubernetes.io/v1.1/docs/user-guide/images.html
![html](https://cloud.githubusercontent.com/assets/4631304/12495588/c92cd68c-c090-11e5-8cb3-51d914c8fae7.png)

Needless to say,

[2016-01-21 21:49] nikhiljindal commented on #19053
The "no API token found for service account" error seems to have been added in https://github.com/kubernetes/kubernetes/pull/10523.
@liggitt Any ideas on why this could be happening and how to fix this?

[2016-01-21 21:54] ArtfulCoder commented on #19634
can you try with kube-dns-v10. (latest version of kubernetes should give you that) ?

you are using an older version, where the resolv.conf has multiple nameservers instead of just the kubernetes dns server.

[2016-01-21 21:56] lavalamp commented on #19939
Probably some namespace handling thing is misconfigured in the deployment registry.

[2016-01-21 22:04] alex-mohr opened #19952 "e2e failure: Version Skew: Client and Server version are different"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4134/ failed with Version Skew: Client and Server version are different

12:01:34 Client Version: version.Info{Major:"1", Minor:"2+", GitVersion:"v1.2.0-alpha.6.357+61096f49984a17", GitCommit:"61096f49984a1784d32e5c2e4e1de40d1d3e01db", GitTreeState:"clean"}
12:01:34 Server Version: version.Info{Major:"1",

[2016-01-21 22:05] agonzalezro commented on #17727
It looks good. Only thing I would to say is that the names `GetEnvAsXxxOr` doesn't sound right to me. `Or` what? I know that perhaps `Fallback` as it was originally could not be a good name either, but it gives a little bit more info. What do you think?

[2016-01-21 22:07] alex-mohr opened #19953 "GCE PD Volumes already attached to a node fail with "Error 400: The disk resource is already being used by" node"
*Original title: e2e failure: Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host #19953*

From http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-1.1/1506/

Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pd.go:1

[2016-01-21 22:09] ihmccreery commented on #14370
@quinton-hoole seems like the clear candidate to take this on.  Assigning to him.

[2016-01-21 22:10] ixdy opened #19954 "data race in k8s.io/kubernetes/contrib/mesos/pkg/scheduler/integration"
Seeing a few instances of this in our Jenkins, e.g. https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/31e33ac58bed65e1f054ac610bc74888f05b991e/kubernetes-pull-test-unit-integration/10333:

[code]

This is maybe Go 1.5.3 related? not sure.

@kubernetes/kube-mesos

[2016-01-21 22:10] ixdy commented on #19254
@krousey ok, forked to https://github.com/kubernetes/kubernetes/issues/19954

[2016-01-21 22:13] liggitt commented on #19053
On creation of a namespace, a service account and token are generated by the controller manager. The e2e tests wait for that to happen before considering a namespace ready for the test to begin.

[2016-01-21 22:20] dchen1107 commented on #18704
@vishh Can you take a look at this since Tim is out this week? Thanks!

[2016-01-21 22:23] #19479 closed

[2016-01-21 22:25] #19549 closed

[2016-01-21 22:26] #19059 closed

[2016-01-21 22:30] dchen1107 commented on #17931
Deployment test failures are addressed separately by @janetkuo. And #19391 was merged. I am closing this issue for now.

[2016-01-21 22:30] #17931 closed

[2016-01-21 22:31] #19723 closed

[2016-01-21 22:35] jdef commented on #19954
thanks for reporting this - will investigate

On Thu, Jan 21, 2016 at 5:12 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-01-21 22:36] ihmccreery commented on #9349
These are still flaking occasionally:

- Reboot [Disruptive] each node by dropping all inbound packets for a while and ensure they function afterwards (Failed 1 times in the last 30 runs. Stability: 96 %) No flake or failure	3 min 56 sec	Passed
- Reboot [Disruptive] each node by dropping all outbound packets for a while and ensure they function afterwards (No known failures. Stability 100 %) No fl

[2016-01-21 22:38] bprashanth commented on #9349
I think a lot of that is addressed in https://github.com/kubernetes/kubernetes/issues/19189#issuecomment-173419306

[2016-01-21 22:45] dchen1107 commented on #18293
We marked this test as flaky test, and move it to flaky test suite. But for last 100 runs in kubernetes-e2e-gce-flaky, the test passed all the time.

http://kubekins.dls.corp.google.com/view/Flaky/job/kubernetes-e2e-gce-flaky/10288/testReport/(root)/Kubernetes%20e2e%20suite/Pods_should_not_back_off_restarting_a_container_on_LivenessProbe_failure__Flaky_/history/

I am going to move it out of flaky

[2016-01-21 22:45] bgrant0607 commented on #12226
@davidopp The data inside the annotation value is not converted because it is opaque to kubectl and to the apiserver. We could do the conversion server-side, but that would have to be on a per-annotation basis.

[2016-01-21 22:46] ihmccreery commented on #9349
... except that both of those failures were during the TCP problems we saw yesterday, where a bunch of other tests were also failing.

[2016-01-21 22:47] ihmccreery commented on #9349
@dchen1107 Why did you assign this to me?

[2016-01-21 22:50] ihmccreery commented on #9349
Closing in favor of #19189.

[2016-01-21 22:50] #9349 closed

[2016-01-21 22:50] bprashanth commented on #9349
Agree with the dupe. I don't think these were actually networking problems, or nodes not coming up. The cases I saw last week/start of this week were because of cluster addons/static pods not coming up. I might be wrong/taken a biased sampling of wrong logs.

[2016-01-21 22:54] #19886 closed

[2016-01-21 22:57] spxtr commented on #19252
[code]
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/10373/

[2016-01-21 23:01] yujuhong commented on #19014
Update: no failure in the past week.

[2016-01-21 23:06] #18830 closed

[2016-01-21 23:07] erictune commented on #19024
@ihmccreery

This has [passed the last 28 times on kubernetes-e2e-gce-parallel-flaky](http://kubekins.dls.corp.google.com/view/Flaky/job/kubernetes-e2e-gce-parallel-flaky/test_results_analyzer/).  This is the most history I can get out of Jenkins.

I cannot repro the failure by running it in parallel with itself on my own GCE cluster.

Would you recommend that I promote it out of flaky and see if

[2016-01-21 23:08] ihmccreery opened #19960 "Harden kubelet against TCP connection problems?"
For a few hours yesterday, our test infrastructure was seeing TCP connection failures ~5% of the time.  That seems like a reasonable threshold and shouldn't make all of our tests fall over.  Part of the problem was Kubelet being unable to post node status to the API server (posting to external IP addresses via TCP, so this only affected GKE).

E.g.
- http://kubekins.dls.corp.google.com/view/GKE/jo

[2016-01-21 23:09] yujuhong commented on #14140
@dchen1107, is this still targeted for v1.2?

[2016-01-21 23:11] ihmccreery commented on #15176
Assigning to @saad-ali since he reviewed #16236.  @saad-ali let me know if you want to pass off to me.

[2016-01-21 23:12] janetkuo commented on #16285
Looks like this test is failing forever in http://kubekins.dls.corp.google.com/view/Flaky/job/kubernetes-e2e-gce-parallel-flaky and http://kubekins.dls.corp.google.com/view/Flaky/job/kubernetes-e2e-gce-flaky.

[code]

[2016-01-21 23:14] ihmccreery commented on #19024
@erictune These were marked as flaky in #11291, 6 months ago.  If you haven't been able to repro, let's bump it out and see what happens.

[2016-01-21 23:19] alex-mohr commented on #19766
fyi, saw a hairpin pr #19490 today that might be related.  ymmv.

[2016-01-21 23:20] ArtfulCoder commented on #19634
We also picked a newer skydns server that has a bug fix in kube-dns-v10..

[2016-01-21 23:22] alex-mohr commented on #19788
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-21 23:22] #19788 closed

[2016-01-21 23:22] fluxrad commented on #19634
Yeah, using v10 was the first thing I tried, with the same results: frequent io timouts talking to etcd. I moved back to the container configuration specified in the `release-1.1` branch since I assumed this was the supported latest. I'll move us back to kube-dns-v10.

[2016-01-21 23:23] alex-mohr commented on #19811
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-21 23:23] #19811 closed

[2016-01-21 23:23] ArtfulCoder commented on #19634
when you moved to kube-dns-v10, can you confirm that the pod had only one nameserver in the resolv.conf of the pod containers ?

[2016-01-21 23:24] alex-mohr commented on #19814
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-21 23:24] #19814 closed

[2016-01-21 23:25] bgrant0607 commented on #19403
@caesarxuchao PTAL

[2016-01-21 23:25] alex-mohr commented on #19845
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-21 23:28] alex-mohr commented on #19854
From the peanut gallery, seems like something we shouldn't spend much time on vs. e.g. ipvlan support.

[2016-01-21 23:28] ihmccreery commented on #18334
@gmarek In light of the test fixit work we're doing, this should be higher priority.  I'm bumping to P1; feel free to escalate if you disagree.

[2016-01-21 23:28] alex-mohr commented on #19854
From the peanut gallery, seems like something we shouldn't spend much time on vs. e.g. ipvlan support.

[2016-01-21 23:28] alex-mohr commented on #19858
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-21 23:28] #19858 closed

[2016-01-21 23:29] ihmccreery commented on #18980
@ixdy Can you please follow up on this, and close if it's no longer an issue?

[2016-01-21 23:30] ixdy commented on #18980
The timeouts of unit/integration test runs seem to have gone away.

[2016-01-21 23:31] antoineco commented on #19858
Hi @alex-mohr, this was not a question but a bug report

[2016-01-21 23:31] ihmccreery commented on #18928
@xiang90 We're prioritizing flakes for the time being.  Is this something you'll be able to get to soon, or should we find someone else to work on it?

[2016-01-21 23:34] alex-mohr commented on #19930
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-21 23:34] #19930 closed

[2016-01-21 23:34] lavalamp commented on #18914
@timothysc can you clarify? What isn't guaranteed that needs to be? Was this test testing a useful thing or should we just delete it?

[2016-01-21 23:34] alex-mohr commented on #19937
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-21 23:34] #19937 closed

[2016-01-21 23:35] ixdy commented on #18980
Actually, that's a lie. Two builds (kubernetes-pull-test-unit-integration/10243 and kubernetes-pull-test-unit-integration/10174) both failed in the last day. In both cases, they seemed to stop making any progress either in the middle of the kubectl or integration tests, printing nothing for 30-45m until they timed out.

I really have no idea what happened.

[2016-01-21 23:36] dchen1107 commented on #19960
@ihmccreery I poked all above links you posted above, and they have the same cause. I don't think there is a TCP connection issue between node and master. Looks like all master components are not running in all above incidents. Taking https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/11444/artifacts/ as an example, one can see that the logs of master

[2016-01-21 23:36] ihmccreery commented on #13485
@ixdy It seems like this issue is way too general: jobs timing out without a clear reason should have an action of making that reason clear.  Is there any action we can take there?

[2016-01-21 23:36] lavalamp commented on #19053
@nikhiljindal even if the link doesn't work, the files should be available where they were uploaded by plugging the number in the right place:

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/10009/artifacts/

[2016-01-21 23:36] ixdy commented on #18980
From kubernetes-pull-test-unit-integration/10243:
[code]

From kubernetes-pull-test-unit-integration/10174:
[code]

[2016-01-21 23:37] xiang90 commented on #18928
@ihmccreery I am in China recently. I can look into this later. But I assume this issue has been fixed by a work around. And go will also fix the root cause soon. This issue is just to make the test shutdown in a more gracefully way.

[2016-01-21 23:37] freehan commented on #12765
I run salt manually on the master and it cannot manage the heapster rc yaml file due to the following error. Looks like a salt script problem.  Not sure why it is NOT failing consistently.

----------
          ID: /etc/kubernetes/addons/cluster-monitoring/influxdb
    Function: file.recurse
      Result: False
     Comment: #### /etc/kubernetes/addons/cluster-monitoring/influxdb/heapster-controll

[2016-01-21 23:38] ixdy commented on #13485
I think the fixes I mentioned in https://github.com/kubernetes/kubernetes/issues/13485#issuecomment-171479451 will address the mysterious timeouts.

[2016-01-21 23:39] davidopp commented on #17765
@dchen1107 I notice that you assigned this to me. But the two theories that I see presented above are:
(1) it's a node problem, or
(2) it's a CSI problem

Maybe you and @lavalamp can sort out who should take it?

[2016-01-21 23:40] ArtfulCoder commented on #19634
also, to summarize your observation, for 1000 pod cluster, 40 dns pods work reliably ?

[2016-01-21 23:40] dchen1107 commented on #19960
I also noticed that on above master node, the kubelet and supervisord are not running at all. Are we sure we are collecting the logs from the right master node?

[2016-01-21 23:43] davidopp commented on #19254
Still not flaking locally (ran 3000 times).

@ixdy pointed me to
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/test_results_analyzer/ s
to see if a unit/integration test has been failing recently in the continuous build, so I'll check that out.

[2016-01-21 23:45] zmerlynn commented on #12765
@freehan: That looks like an unrelated issue (and one we're not seeing on GCE).

[2016-01-21 23:48] zmerlynn commented on #12765
@freehan: Actually, I'm wrong, that just got merged and may be disrupting things actively.

[2016-01-21 23:49] freehan commented on #12765
@zmerlynn This test is failing a lot in flaky suite due to this. It is introduced by a recent change: https://github.com/kubernetes/kubernetes/commit/9c843495d79b7db8e95dc71af7d003700a39deb9#diff-c04177fe557c0bb69636f233b0c7487a

After fixing this, it should get back to the previous state...

[2016-01-21 23:49] zmerlynn commented on #12765
@freehan: Yeah, I saw that #19535 just landed.

[2016-01-21 23:50] fluxrad commented on #19634
I validated that `/etc/resolv.conf` doesn't appear to be getting updated on new RC's/pods after bumping DNS to v10. Do I have to bounce my kubelets?

[code]

This is the current setup:

[code]

Also, your summary is accurate. When I scale the number of DNS pods to ~40 (or, roughly 1:1 nodes-to-dns) I see acceptable DNS performance, with few — if any — dns pods showing restarts.

[2016-01-21 23:51] lavalamp commented on #17765
This is blocked on #18432, which is an unstaffed test infrastructure request.

Basically we need logs from the kubelet, and they're not currently being stored because the node doesn't remain for the duration of the test.

[2016-01-21 23:51] dchen1107 commented on #19960
Ok, here are more information:
1) I re-examine the kubelet logs on slave nodes, and all point to the correct master.
2) From build-log, I noticed that cluster validation passed, and kubectl cluster-info indicts that master components are running on the right node.

Looks like we just have some issues on collecting master components' logs from gke master node here.

Still dig into the issue on why.

[2016-01-21 23:52] ihmccreery commented on #19960
Here's your answer:

[code]

[2016-01-21 23:54] lavalamp commented on #18432
@ixdy is this something you can take care of?

[2016-01-21 23:54] ihmccreery opened #19964 "Retry log collection at the end of e2e runs"
Per https://github.com/kubernetes/kubernetes/issues/19960#issuecomment-173753105 we lost a bunch of logs because the SSH connections got dropped:

[code]

We should retry the log collection if it fails so we don't lose all this information.

[2016-01-21 23:54] alex-mohr commented on #19960
summary: The master components were running, but there were network issues in terms of connecting to them (e.g. the "dial tcp 104.197.57.138:22: connection timed out" errors).  Because they were ~5% of connections, it's speculated that kubelets could retry more when they can't initially connect to the master?

[2016-01-21 23:56] erictune commented on #19367
I think `allowRestart` is going to be very complex to implement well.  Some reasons:

- ability to change a value without a restart will change over time, and with kubelet versions.
- If the master has to track the capabilities of its kubelets, that will be complex to get right.
- if the kubelet has to ask the kubelet whether it can do an update, that adds complexity too.
- If the kubelet-to-maste

[2016-01-21 23:57] janetkuo commented on #19387
The test is stable now. No related failures in recent kubernetes-e2e-gce-parallel build.

[2016-01-21 23:57] #19387 closed

[2016-01-21 23:57] yujuhong opened #19965 "kubernetes-e2e-gce-slow node resize failing"
From kubernetes-e2e-gce-slow/1534:

The node controller panics every time it tries to process the unready node:

[code]

This is probably caused by #17919

[2016-01-21 23:58] yujuhong commented on #19965
/cc @justinsb

[2016-01-21 23:59] petermd commented on #18975
Have also seen this issue on a fresh run w/default configuration. Could eventually get back into master but docker was unresponsive and had to reboot to recover. There were no swap / diskspace issues but iowait was >90%

CloudWatch accounting suggests the master is running down its CPUCredits so probably will underperform but there is one thing that might be amplifying the problem.

a) liveness ch

[2016-01-22 00:01] ihmccreery opened #19966 "Make release tooling work with `release-note-breaking-change` label"
Per our new `release-note-breaking-change` label, we need to modify our release notes generation tools to work with it.

cc @bgrant0607

[2016-01-22 00:04] janetkuo commented on #18996
TODO: If this flaky test becomes stable, remove it from flaky test build.

[2016-01-22 00:04] janetkuo commented on #19299
TODO: If this flaky test becomes stable, remove it from flaky test build.

[2016-01-22 00:04] janetkuo commented on #19064
TODO: If this flaky test becomes stable, remove it from flaky test build.

[2016-01-22 00:04] cjcullen commented on #19574
@saad-ali, @dchen1107 says this should go back to you.

[2016-01-22 00:04] #19885 closed

[2016-01-22 00:04] janetkuo commented on #19732
TODO: If this flaky test becomes stable, remove it from flaky test build.

[2016-01-22 00:05] #18848 closed

[2016-01-22 00:08] lavalamp commented on #19941
Yes, I think this is a bug. We should use a deterministic search order and it should search "/v1" before other groups.

[2016-01-22 00:09] bgrant0607 commented on #18568
See also #19343

[2016-01-22 00:09] ihmccreery commented on #19960
The master components were running, we just failed to collect logs from them due to networking issues.

Separately, (though due to the same networking issues,) kubelets were failing to post properly to the master.  @dchen1107 Is there more to do here?  I opened this as an investigative issue; I'll let you decide if it's something that needs pursuing.  If we drop 5% of tcp connections, is that a st

[2016-01-22 00:10] a-robinson commented on #19405
What zones were your folks' clusters running in when you hit this? It's possible that transient network problems caused a backlog in the agent and then some sort of bug in fluentd caused it to fail to recover after its buffer queue filled, but I'd hope for a better explanation than that.

Hitting the buffer queue size limit is just a symptom of an underlying problem sending the logs to cloud loggi

[2016-01-22 00:10] erictune commented on #19367
To clarify, I think a general "allowRestart" bit on requests, or on the whole Pod, would be quite hard to get right over the space of all things users will want to update.

However, I think it might make sense to put an "allowRestart" bit on DownwardAPI volumes, and maybe even on EnvVars.  That would make it super explicit about under what conditions you are allowing the pod to be updated, and wou

[2016-01-22 00:12] erictune commented on #19367
It could get verbose though for people with a lot of env vars who want all of them updatable.

[2016-01-22 00:12] bgrant0607 commented on #18568
I also agree that image pull failures could be due to races and transient failures.

I like the idea of surfacing this information to the user through status and/or events.

We intend "kubectl rollout status" to report rollout status updates as they occur. This could be one type of update reported.

[2016-01-22 00:15] dchen1107 commented on #19960
Sounds like test flakiness and failing collecting the logs have the same cause. @alex-mohr Kubelet already re-try to post status (both node and pod) to API server, not exhaustively, but definitely do it for every sync loop.

From one of work nodes,  here are some kubelet logs:

[code]
From above logs, looks like the real tcp connection failure rate is much higher than 5% here.

[2016-01-22 00:16] vishh commented on #18568
@bgrant0607: Should the error be exposed via a new `ContainerState`?

[2016-01-22 00:24] ArtfulCoder commented on #19634
I think you have a version where kubelet is not generating the newer resolv.conf which has only one ns.

I believe the one ns per pod in resolv.conf was part of 1.1

I am surprised that your pods have more than 1 ns.

[2016-01-22 00:25] bgrant0607 commented on #18568
@vishh No. It's a Reason for ContainerStateWaiting.

[2016-01-22 00:25] ArtfulCoder commented on #19634
maybe, you could create a new pod and check how many ns you have in the resolv.conf

[2016-01-22 00:25] cjcullen commented on #19118
The firewalls that are missing are the ones created by the test script (not the ones that GKE creates).

I'll take a look into the soak test scripts to see why it's broken there but nowhere else.

[2016-01-22 00:26] smarterclayton commented on #12226
Reasoning about versioned annotations is already hard enough without
the server fiddling with their representation.  Opaque string
annotations are easy to reason about, structure introduces more things
that can go wrong.

[2016-01-22 00:27] ArtfulCoder commented on #19118
The firewalls that are missing (or atleast to that effect) should be created by GKE otherwise pods across nodes cannot even ping each other..

[2016-01-22 00:28] ArtfulCoder commented on #19118
pingable containers across nodes is more than just a test requirement.

[2016-01-22 00:31] dchen1107 commented on #19960
@ihmccreery My bad! I misunderstood the purpose of the issue. I thought it is as critical as other flakiness which blocks our merge-bot.

We should test the cluster, especially Kubelet when dropping 5% of tcp connections. But test might be re-write or re-config with a long timeout value? Also @mfreehan has a pending pr https://github.com/kubernetes/kubernetes/pull/19731 which verifying Kubelet's b

[2016-01-22 00:32] cjcullen commented on #19118
:smiley:  I agree.

I'm just looking at the picture you posted. The active cluster (50bc5ce7) has all of the correct firewalls (other than the test ones).

The routes look very suspect, though. If we trust the 50bc5ce7-all firewall, the cluster's range is 10.80.0.0/14. The fact that we have routes for 10.231.239.0/24, 10.84.31.0/24, 10.117.15.0/24 all pointing to 50bc5ce7 nodes seems very wrong. A

[2016-01-22 00:34] ArtfulCoder commented on #18934
@skevy does this work for you ?

[2016-01-22 00:38] vishh commented on #18704
@dchen1107: Starting to look at this now.

[2016-01-22 00:42] ernestoalejo commented on #19405
I won't restart the container by the moment if it doesn't affect my pods; so if any other debug info is needed I can get into the container to obtain it.

For the record I count 10 timeouts the 6 January and a `Faraday::SSLError` 5 hours before the first error the 7 January. There were some `Google::APIClient::ServerError` or timeouts daily (1 or 2 / day) before. All of them have `retry succeeded.

[2016-01-22 00:42] roberthbailey commented on #16872
@dchen1107 -- Is this a flake or just plain broken on AWS with docker 1.7?

@justinsb -- Can you verify which version of docker is running on AWS installs?

[2016-01-22 00:44] fluxrad commented on #19634
Yup, same issue w/ kubelet 1.1.3, dns-v10 and a new RC.

[code]

And validating the kubelet version

[code]

NB I haven't modified my node DNS at all. Also, for the moment I've switched all of my production pods to use `dnsPolicy: Default` in order to avoid the DNS bottleneck.

[code]

[2016-01-22 00:46] nikhiljindal commented on #19053
Thanks for the link @lavalamp
The error in that run is
[code]

I have now run the test more than 10 times locally and the test failed once with that error. It never failed with "no API token found for service account" error.
I am going to run it a few more times and report the stats.

[2016-01-22 00:47] cjcullen commented on #19118
Confirmed that the nodes had been allocated very wrong Pod CIDRs, and everything downstream is WAI... Now looking into WTH is going on in Pod CIDR allocation.

[2016-01-22 00:49] cjcullen commented on #19118
And the test firewalls are fine. I just missed them from Abhi's screenshot.

[2016-01-22 00:53] thockin opened #19969 "Secret and ConfigMap should limit # of keys"
I think it's best to say "max 1000 keys, max key size is 256 characters. max total size of keys + data is 1 MB" or similar.

@pmorie promises to do this unless someone gets there first.

[2016-01-22 00:53] #16987 closed

[2016-01-22 00:54] cjcullen commented on #19118
Looking into PR #17754 which appears suspect.

[2016-01-22 00:54] dchen1107 commented on #16872
This is a plain broken with docker pre-1.8 release due to test itself. I thought @justinsb already updated aws to docker 1.8.X, or at least there is a pending pr for that. That is why I didn't update test by introducing more conditions.

[2016-01-22 00:56] cjcullen commented on #19118
The math introduced in #17754 was wrong. Appears to have been fixed by #19580

[2016-01-22 00:58] jeffpeiyt commented on #13382
We got the same issue. It make the nodes into not ready state quite often

[2016-01-22 01:00] thockin commented on #19764
Apps that NEED it in /etc/foo.conf can provide an image that symlinks
/etc/foo.conf -> /vol/etc/foo.conf.

I'm not against this feature, I think it would be great, I just don't think
the implementation (at least the one I know how to do) is justified, when a
relatively easy workaround is present.

On Thu, Jan 21, 2016 at 12:53 PM, Paul Morie <notifications@github.com>
wrote:

[2016-01-22 01:02] lavalamp commented on #19941
@caesarxuchao @krousey

[2016-01-22 01:12] yujuhong commented on #19189
The kube-proxy container image changed after reboot, causing the generated UID to change for the pod. That leads to the mirror pod being recreated and failed the test.

[code]

The image field in the manifest file [is populated by salt](https://github.com/kubernetes/kubernetes/blob/fc6247152bab039705da08f9ec7d180454bc249b/cluster/saltbase/salt/kube-proxy/kube-proxy.manifest#L33).
This type of flak

[2016-01-22 01:14] caesarxuchao commented on #19939
Fixed in #19970

[2016-01-22 01:16] lavalamp commented on #19466
Happened again:

[code]

https://00e9e64bac644d7913fff76cec9b8d18d3b9bbce76c45efb91-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2F23fd5e9a33c5ab42391deb7704f23166128d3ca4%2Fkubernetes-pull-test-unit-integration%2F10413%2Fartifacts%2Fjunit_v1,extensions-v1beta1_20160122-005557.stdout?qk=AD5uMEsBDT24OsDI58nAhrjTbRfLhl27XbWPTiMTCzs3kiVk4NUtcJDTK9_WAdhJeeS

[2016-01-22 01:18] cjcullen commented on #19118
This could have been causing flakes all over any gke-ci test.

[2016-01-22 01:18] #19118 closed

[2016-01-22 01:19] #19275 closed

[2016-01-22 01:20] ernestoalejo commented on #19405
I have SSH'ed into the failing container (this time is one of the minions). I have read `/etc/google-fluentd/google-fluentd.conf` and I have seen a reference to "kubelet":

[code]

That file (`/var/log/kubelet.log`) is full of successful calls:

[code]

but also failing ones (3/4 errors per second):
[code]

Logrotate is working correctly on the node (outside the container):
[code]

[2016-01-22 01:21] lavalamp commented on #19304
The issue is that the test searches for the string "Events:" in the output, but if no events are found kubectl outputs "No events." which doesn't match.

I think I'll make the test also accept "No events", since the point is to test kubectl output, not the rest of the system, and replication controller events should be tested elsewhere?

[2016-01-22 01:22] alex-mohr commented on #19965
Closed by #19967

[2016-01-22 01:22] alex-mohr commented on #19965
... thanks Yuju for discovering the issue and its cause -- and thanks Justin for getting it turned around so fast!

[2016-01-22 01:22] #19965 closed

[2016-01-22 01:25] vishh commented on #18568
Is `Reason` string considered a stable API for users to build on top of?

On Thu, Jan 21, 2016 at 4:25 PM, Brian Grant <notifications@github.com>
wrote:

[2016-01-22 01:27] hongchaodeng commented on #18266
@gmarek @timothysc

I talked with @lavalamp today w.r.t. this issue. Let me give a summary:
- Daniel is worried that the cluster state has been somehow unsteady. That's the point that we should figure out and maintain it steady.
- Daniel pointed out that even though the cache size has a limit, current etcd v2 also has a limit on the history of queue. Fortunately, etcd v3 has a theoretically infini

[2016-01-22 01:29] dchen1107 commented on #19189
@yujuhong Thanks for looking into this.

When node reboot, configure-vm.sh will trigger salt run which copies over new tar file to the node when kube-proxy_docker_tag is updated. The problem is that kube-proxy_docker_tag shouldn't be updated since we don't re-build those images (kube-proxy and master components).

cc/ @ixdy and @ihmccreery

[2016-01-22 01:33] hongchaodeng commented on #18266
At the mean time, I could verify:
- the Watch() error of too old resource version could happen
- List() goes directly to etcd happened [here]( https://github.com/kubernetes/kubernetes/blob/60fc2bc09e0fad9a41bd027f9d59abcd10f937d8/pkg/storage/cacher.go#L284) for a number of resources like "services/specs", "pods", "minions", "nodes".

I still think that the outdated version of watch leads to such p

[2016-01-22 01:36] saad-ali commented on #19895
@hongchaodeng Thanks for digging in! I'll review and approve those PRs adding additional logging needed to debug this.

[2016-01-22 01:38] vishh commented on #18704
This test only once in the last ~100 runs. In the last failure run, the pod was restarted and the event that was generated is as follows:

```Jan 21 06:55:28.262: INFO: event for liveness-http: {kubelet e2e-test-parallel-minion-muge} Unhealthy: Liveness probe failed: Get http://10.253.6.11:8080/read: read tcp 10.253.6.11:8080: use of closed network connection```

More information:
[code]

Still ex

[2016-01-22 01:40] timothysc commented on #18914
@lavalamp I vote to delete it.  There is no time guarantee on when a client connection will detect a asynch server-termination, or net-split, unless we start tuning the tcp keepalive parameters.  Which is why the test flakes.

[2016-01-22 01:45] lavalamp commented on #18266
List of pods should be served out of the cache. The line you linked to is
for clients that don't set the resource version; our own components ought
to be setting the resource version.

On Thu, Jan 21, 2016 at 5:33 PM, Hongchao Deng <notifications@github.com>
wrote:

[2016-01-22 01:46] lavalamp commented on #18914
What loses coverage if we delete this test?

[2016-01-22 01:57] magicwang-cn commented on #18266
@lavalamp yes, i see that even though the Watch() failed with (`too old resourceVersion`), if the resourceVersion is setted, the List() also reads data from cache. but from the graph i have intercepted before, when deleting pods, the list action has an obviously increasing.
case by watch list [itself](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/cacher.go#L184)?

[2016-01-22 01:57] timothysc commented on #18914
The test was originally written to "try-to" detect when a server had terminated, but it was only tested against a fake server, never a real one.  So I don't think you're "loosing" any coverage in this case.

I like the "idea" behind the test, but the time-bounds for UT too constraining.  Perhaps a better idea would be to convert to a different testing category which does not have that time-boxed r

[2016-01-22 02:31] yujuhong commented on #19189
In kubernetes-e2e-gce-reboot/10752, the tests changed in the middle from kubernetes-build/7773 to kubernetes-build/7774

1. The kube-proxy image changes from `gcr.io/google_containers/kube-proxy:d06e45de2d56c8e64f6281da032976d8` to `gcr.io/google_containers/kube-proxy:9b5676b5d844d1a345cd2b70c23d9b30`.
2. The node info dumped after the test failure also shows a version that belongs to kubernetes-b

[2016-01-22 02:31] AdoHe commented on #19766
@alex-mohr I think this pr can fix this issue more or less, but `it just enabled hairpin mode in every linux bridge on my host.` I think this problem still exists.

[2016-01-22 02:32] AdoHe commented on #19766
@thockin what do you think about this?

[2016-01-22 02:34] mitake opened #19972 "Question about network resource management (especially for switch buffer)"
Hi Kubernetes people,

I have a question about the network management functionality of Kubernetes. Is there a plan for managing buffers of switches from Kubernetes?

Currently, a switch buffer doesn't have a mechanism for isolation that can be used from distributed systems easily. Therefore problems like [microburst](https://www.arista.com/assets/data/pdf/7148sx-ixnetwork-microburst.pdf) can happe

[2016-01-22 02:36] drngsl opened #19974 "kubernetes mount volume (hostdir) to container"
Hi!
I want to provide volume to container, but the result is not what i want.

kubernetes version
Client Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.6", GitCommit:"388061f00f0d9e4d641f9ed4971c775e1654579d", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.6", GitCommit:"388061f00f0d9e4d641f9ed4971c775e1654579d", GitTreeState:"clean"}

docke

[2016-01-22 02:38] ixdy commented on #19189
Maybe related to #8705?

[2016-01-22 02:39] ixdy commented on #19189
Though if it's occurring more recently, probably not.

[2016-01-22 02:41] ixdy commented on #8321
@kubernetes/goog-testing maybe we should look into this at some point.

[2016-01-22 03:10] justinsb commented on #19908
Introduced in 22cfa5ea7eaedfab9bcbba442e2f6918254cf91e I think, so cc @mikedanese

[2016-01-22 03:32] pnovotnak commented on #7890
I just wanted to chime in and say that this would be a huge boon on GCE for the company I work for. Right now we're looking at a number of inferior options but this would be by far the best for our case.

[2016-01-22 03:42] mikedanese commented on #19908
Oops thanks for catching.

[2016-01-22 03:43] brendandburns opened #19975 "Allow extra A records via Service annotations"
People may have a number of different reasons for having additional A records in a Service, we should enable users to add annotations to services which then create arbitrary A records that map to that service.

For example, users may want foobar.internal.company.com to resolve to a service endpoint.  This would also help users fit their services into alternate DNS schemas.

[2016-01-22 03:43] brendandburns commented on #19975
@thockin @kubernetes/sig-network

[2016-01-22 04:13] brendandburns commented on #17059
@justinsb I believe all items in this tracking bug are completed.  Shall we close this?

[2016-01-22 04:16] bprashanth commented on #19975
why not just CNAME?

[2016-01-22 04:20] brendandburns commented on #19975
CNAME seems fine too, I don't really care one way or the other, though CNAME seems more indirect...

[2016-01-22 04:20] brendandburns commented on #19975
This came up in the context of a user wondering what SAN to use in their HTTPS cert, and not being 100% certain they wanted to use our DNS scheme for the SAN.

[2016-01-22 04:42] brendandburns commented on #19230
I'll take on updating the dependency...

[2016-01-22 04:49] justinsb commented on #16872
I updated to docker 1.8.3 in #19797, which merged 2 days ago.   (And that patch wasn't entirely correct either: #19869)  And only for Ubuntu Vivid, and we pull from docker's repo instead of the GS bucket.

So lots of caveats, but we should now be on 1.8.3.

AWS is totally broken right now on master until #19354 merges, FYI.

I'd love to get e2e on AWS running automatically again...

[2016-01-22 04:57] bprashanth commented on #19975
A client accessing the service from within the cluster should just go over HTTP while the same client accessing the same name from outside needs TLS. Then theyd create the cert for the outside service name (company.com), and add a CNAME in the cluster that redirects company.com -> cluster.svc.
Either way you'd have a in cluster proxy that's aware of both DNS names. Roughly what you were thinking?

[2016-01-22 05:01] thockin commented on #19975
You want to make alt-names for a Service or put extra endpoints into it?  I
assume the former.

1) How do you ensure uniqueness of names?
2) How do you ensure security (e.g. no name hijacking)?
3) Our default DNS (which we could change) can only serve 1 domain
(cluster.local by default).

On Thu, Jan 21, 2016 at 7:44 PM, Brendan Burns <notifications@github.com>
wrote:

[2016-01-22 05:03] thockin commented on #19974
[code]

Try `hostPath` rather than `hostDir`.  I am so confident in my answer that I am going to close this, and you can reopen if I am wrong :)

[2016-01-22 05:03] #19974 closed

[2016-01-22 05:09] thockin commented on #19972
Is this what you are looking for?

http://conferences.sigcomm.org/sigcomm/2015/pdf/papers/p1.pdf

I think this is something we'd be looking to community to bootstrap, and
tell us what is needed to glue it all together.

On Thu, Jan 21, 2016 at 6:35 PM, Hitoshi Mitake <notifications@github.com>
wrote:

[2016-01-22 05:13] thockin commented on #19937
http://docs.k8s.io/v1.1/user-guide/debugging-services.html

On Thu, Jan 21, 2016 at 11:46 AM, Mike Wilson <notifications@github.com>
wrote:

[2016-01-22 05:20] thockin commented on #19930
Please @ me if you open this on SO.  This is supposed to work.

On Thu, Jan 21, 2016 at 11:01 AM, Wilson Akio Higashino <
notifications@github.com> wrote:

[2016-01-22 05:24] brendandburns commented on #19467
I took a stab at both getting more info (and possibly fixing the flake)

[2016-01-22 05:31] smarterclayton commented on #19467
This is a dupe of #19848 and I already have a fix https://github.com/openshift/origin/pull/6737 which is waiting on https://github.com/kubernetes/kubernetes/pull/16067

[2016-01-22 05:40] brendandburns commented on #19975
@bprashanth there are plenty of companies (eg finanacial) who have to have TLS even inside the cluster.

@thockin

1) I'd be ok with <service>.<namespace>.<user-supplied-suffix> that would ensure uniqueness
2) We can set a whitelist of acceptable domains in kube-dns when the cluster adminstrator creates the kube-dns pod.
3) Not sure what you mean by "default DNS" does that mean the way that we set

[2016-01-22 05:41] brendandburns commented on #19975
though honestly, I'm not sure I care about uniqueness.  Have kube-dns fire an event if it detects a conflict.  This seems like one of those cases where restricting user freedom because there is a sharp edge out there somewhere is a bad idea.

[2016-01-22 05:50] mitake commented on #19972
Hi @thockin , thanks for your reply!

Yes, I hope such a functionality for DC network (maybe something like [this](http://research.microsoft.com/pubs/80693/vl2-sigcomm09-final.pdf)). If Kubernetes can provide such an  isolation mechanism, problems like microburst and [outages by malicious software](https://www.usenix.org/conference/hotos13/session/guo) can be solved.

I'm talking about this idea w

[2016-01-22 05:52] thockin commented on #19975
On Thu, Jan 21, 2016 at 9:41 PM, Brendan Burns <notifications@github.com> wrote:

SkyDNS (our default DNS server, which could be replaced) only serves one domain.

This overall idea is certainly something useful, but it needs some
design to smooth out as many rough edges as possible.  An alternate
model for thinking about this is "external" DNS.  Suppose you have an
external DNS service that handl

[2016-01-22 05:53] thockin commented on #19467
Should we close?

[2016-01-22 05:54] bprashanth commented on #19975
HTTP was just an example, all I'd expect them to care about is:
1. not including the kubernetes DNS name in the company.com cert. They could easily generate another cert for the kubernets dns name.
2. a portable client (i.e resolving a single name, company.com)

It's just that if you end up at the proxy with company.com it's hard to use different certs via something like SNI

[2016-01-22 06:05] ArtfulCoder commented on #19975
financial companies that care about TLS within the cluster will not allow for an unsecure DNS Server..

[2016-01-22 06:10] zmerlynn commented on #19896
And
* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-autoscaling/2496/
* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-autoscaling/2497/
* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-autoscaling/2498/
* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-autoscaling/2499/

This test is no longer even vaguely failing but just outright broken as of 2495

[2016-01-22 06:13] piosz commented on #19896
This is a clear regression. Reassigning to @mwielgus who is oncall today.

[2016-01-22 06:19] thockin commented on #7890
@kubernetes/sig-storage  We discussed FUSE a bit recently and worked out a basic model for it, but it is somewhat complicated to do correctly.

Some notes:

We need a FUSE daemon per volume (maybe we can find a way to flatten to per-pod, but not sure that is ALWAYS ok)

FUSE daemons need privileges

This FUSE daemon must run in the pod’s cgroups and net namespace (chargeback), but must NOT run in

[2016-01-22 06:33] bgrant0607 commented on #19969
Why not just aggregate size limit?

[2016-01-22 06:33] macropin opened #19980 "Creating service account does not auto generate corresponding secret"
Following the docs http://kubernetes.io/v1.1/docs/user-guide/service-accounts.html I created a service account:

[code]
Then run `kubectl get serviceaccounts/build-robot -o yaml`:

Output is

[code]
I would expect to see a reference there to the `secrets` generated.

It's also work noting that the `default` system account did not have a secret generated.

System: Fedora 23, Docker 1.91.1, Running

[2016-01-22 06:33] bgrant0607 commented on #19969
I want a simple, configurable limit of what matters, which is object size.

[2016-01-22 06:35] thockin commented on #19969
Aggregate size limit is OK too, though I think it would be less obvious.  I
was trying to hit something succinct and memorable and not practically
limiting.

On Thu, Jan 21, 2016 at 10:33 PM, Brian Grant <notifications@github.com>
wrote:

[2016-01-22 06:36] thockin commented on #19969
But this is not really a proxy for object size - all the other fields need
to be considered, and that is WAY less obvious.

On Thu, Jan 21, 2016 at 10:34 PM, Brian Grant <notifications@github.com>
wrote:

[2016-01-22 06:38] thockin commented on #19766
What you described sounds right to me.  I think the only way to see if
there is some detail I am missing is to try it and see if anything pops up
that would make this not work.

On Thu, Jan 21, 2016 at 6:33 PM, TonyAdo <notifications@github.com> wrote:

[2016-01-22 06:45] thockin commented on #19367
rather that blocking updates, I would naively expect the semantic to be:

If the valueFrom block sets `restartOnChange` then the pod would restart
when the referenced field is changed.  Otherwise the field would change but
the pod would not update (as today).

Volumes are more complex because you really have (live-update | restart |
ignore) policies.  Maybe we can make this policy (and env) be pod

[2016-01-22 06:53] thockin commented on #19854
I agree that this doesn't warrant deep engineering, which is why I like (d).

On Thu, Jan 21, 2016 at 3:28 PM, Alex Mohr <notifications@github.com> wrote:

[2016-01-22 07:05] AdoHe commented on #13375
@MikaelCluseau what do you think about this pr #19490 and also I add some comments on this issue #19766, what do you think about this?

[2016-01-22 07:19] johanhaleby commented on #19405
I have two failing nodes on GKE, let me know if there's something I can do to help out.

[2016-01-22 07:27] thockin commented on #19475
Having a "root" for containerFieldRef is cute.  However, fieldRef has
really sort of stopped being a field ref.  It's really just a magic name
that is looked up in a table of magic names.  Do we REALLY see that
changing?  If not, maybe we should just start moving to a more abstract
model wherein we define a set of magic names that can be expanded as
$(MAGIC_NAME) or even more explicitly as `valueF

[2016-01-22 07:51] thockin commented on #17088
Is this moving into the topic of micro-segmentation and access policy?

On Wed, Jan 20, 2016 at 2:19 PM, Eric Tune <notifications@github.com> wrote:

[2016-01-22 07:55] AdoHe commented on #19873
@erictune in `kubectl get pods -l run=myrunname` command, `-l` means <b>label select</b>, so you mean that we should add a `-l` option to `logs` subCommand, thus we can check on the progress being made by the pods when run a job?

[2016-01-22 08:09] piosz commented on #19896
I'll take a look.

[2016-01-22 08:14] erictune commented on #19873
yes.

[2016-01-22 09:01] gmarek commented on #19252
Ugh... neverending story.

[2016-01-22 09:03] gmarek commented on #18334
OK, I'll do it today.

[2016-01-22 09:09] fasaxc opened #19983 "kube-proxy uses the entire forwarding mark"
kube-proxy uses the kernel's forwarding mark to tag packets for different types of processing later in the pipeline.  Since it uses all 32 bits of the mark without a mask, it conflicts with Calico's use of the mark.

Could we alter kube-proxy to, for example, use configurable mark and mask?  (With a default to, say, use the top 16 bits so that it's easier to make it work with Calico out-of-the-box

[2016-01-22 09:13] gmarek commented on #19681
It turned out not to be a flake, but real issue. Only failure of this test I was able to find is in http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/1486/, which reads:
[code]

I guess 404 means a backend problem.

[2016-01-22 09:21] gmarek commented on #19118
Sorry - if I new it's causing test flakes, I'd have merged it long time ago:/

[2016-01-22 10:10] rmohr commented on #8019
Just in case you see an error like
[code]
since today when provisioning salt.

The reason is that copr.fedoraproject.org moved to copr.fedorainfracloud.org.

Pull request is here https://github.com/saltstack/salt/pull/30534.
A temporary workaround for vagrant is to use this gist: https://gist.github.com/rmohr/43941d0881f0682b99a7#file-bootstrap-salt-sh instead of http://bootstrap.saltstack.com/

b

[2016-01-22 10:19] gmarek commented on #19773
I was caused by the update in go version to 1.4.3 fixed by #19847

[2016-01-22 10:19] #19773 closed

[2016-01-22 10:19] gmarek commented on #19711
It was regression caused by update of goversion to 1.4.3. Fixed by #19847

[2016-01-22 10:19] #19711 closed

[2016-01-22 11:26] ramonrue commented on #19161
Hi everyone,
I want to create a kubernetes cluster with multiple apiservers.
I use CoreOS Alpha on baremetal servers. In which files do I have to change the apiservers to the service IP?

[2016-01-22 12:01] gopinatht commented on #11684
@hbokh
Did you find a solution to this? I used the steps mentioned here to create a coreOS kubernetes cluster in AWS: http://kubernetes.io/v1.1/docs/getting-started-guides/coreos/coreos_multinode_cluster.html.

One difference I made was to use 1.1.4 images. I then started the kube-ui rc and svc in the cluster. but I get the same error as you.

Any idea what is going on?

[2016-01-22 12:29] piosz commented on #19896
#19984 fixed the permanently failing suite. I'll take a look into flakes 2469 and 2492. Decreasing priority.

[2016-01-22 12:34] mwielgus opened #19986 "Reboot tests fail for kubernetes-e2e-gke-ci-reboot (node doesn't come back after reboot)"
[code]

[2016-01-22 12:40] mwielgus commented on #12765
The test has been marked flaky in #19168. Should not cause any issues in non-flaky suites. The issue will be fixed with the new Heapster.

[2016-01-22 12:41] gmarek commented on #12429
I'm removing the test in question. @yujuhong can you please add a memory monitoring to yours? While sitting with an internal team using k8s I heard more complains about kubelet/docker daemon memory usage than CPU usage. I think we should monitor this as well. @dchen1107 @davidopp

[2016-01-22 12:49] gmarek commented on #19036
We now have a lot of data, and a tool to analyze it is under review. It's gradually appearing in https://github.com/kubernetes/contrib/tree/master/compare.

[2016-01-22 12:55] xied75 commented on #5762
:+1:

Is this related to https://github.com/kubernetes/kubernetes/issues/14280 ?

I'm using kube-aws to spin up clusters on aws, I'm also using aws route53 A record for my kube api node, now it seems that after you create a new A record in route53, it takes some time for this to stabilize, this is kind of show stopper as I need to fire lots of kubectl cmd once the cluster is up, some of the kubect

[2016-01-22 12:58] wojtek-t commented on #19711
Great debugging BTW.

[2016-01-22 13:08] palonsoro commented on #17728
The workaround is pretty simple: Just build locally the latest version of everything and it will work. I opened this issue so that remotely uploaded images get also updated and people do not run into problems while testing this without building.

[2016-01-22 13:10] gmarek commented on #19036
I'm not certain it's worth keeping it tagged as flaky - those tests are quite sensitive to help us catch even small regressions. The bad side of it is that we're seeing false positives here as well. Because this suite take quite some long time (still - it's shortest from blockers, except parallel suite and unit tests). The performance suite currently consists of two tests: density (which is really

[2016-01-22 13:17] wojtek-t commented on #19036
I'm not sure that's true - actually starting & stopping 100-node cluster takes quite a long time, so even running 5-minutes-long density test would take quite some time, so a single run will last ~30 minutes (with building, starting & stopping cluster).

I think that the question is how frequently it is now failing - since I'm on paternity leave can you write how frequently it is failing now?

[2016-01-22 13:37] ramonrue opened #19989 "Kubernetes service multiple apiserver endpoints"
I'm having problems with multiple kubernetes apiserver endpoints. I set them up like described here #19161 . After that, it more or less works. One problem remains:
When executing a ```kubectl get ep``` I get the following:
[code]
Executing the same command a few seconds later, gives me:
[code]

The three apiservers (Ip Adresses .31,.32,.33) are constantly overwriting the etcd-key ```/registry/ser

[2016-01-22 13:42] gmarek commented on #19036
We had a couple of regressions recently, so it's hard to tell...

[2016-01-22 13:43] gmarek commented on #19036
I mean - I can give you some numbers, but they will be high and meaningless.

[2016-01-22 13:43] piosz commented on #19941
It will be just a temporary fix, until someone wants to have 2 types with the same name within two different API groups which different than `/v1`. Does anyone from CSI team plan to work on it? I can do it.

[2016-01-22 14:00] wojtek-t commented on #19036
Can we wait for some better numbers and have an exact number how many more PRs we will be able to merge with that (assuming that all other suites are green)?

[2016-01-22 14:18] ramonrue commented on #18535
@mikedanese I have
[code]
Can I change the number of masters there and what is the flag for it? Did not found it in the help section of the command...

[2016-01-22 14:30] pmoncadaisla commented on #19457
It seems that many TCP connections keep opening and opening, and never get closed, until there are no more TCP connections possible and everything goes down.

[2016-01-22 14:34] virsox commented on #19930
@thockin thanks for your attention. I opened a thread on SO:

http://stackoverflow.com/questions/34937184/kubernetes-cant-connect-to-a-service-ip-from-the-services-pod

I believe it is some sort of bug. I'm willing to help to debug and with some guidance I can also work on a fix.

[2016-01-22 14:34] zmerlynn opened #19990 "kube-build:cross name should be changed when we change image"
We need to add a tiny variable somewhere in the build scripts and remind people that if they ever change  `build/build-image/cross/Dockerfile` to bump it, otherwise there's an annoying race in the PR builder and other Jenkins environments. c.f. #19985

[2016-01-22 14:35] zmerlynn commented on #19990
cc @david-mcmahon @ihmccreery

[2016-01-22 14:45] piosz commented on #19896
Suite 2469 is pretty weird for me. The Heapster was crash-looping for almost 1 hour after the creation and then came back to normal. Does anyone (@mwielgus @vishh @kubernetes/goog-node) has any idea what was the cause? Logs from kubelet are [here](https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce-autoscaling/2469/artifacts/104.197.228.67%3A22-kubelet.lo

[2016-01-22 15:31] drngsl commented on #19974
@thockin , Thanks very much.
It does work!

[2016-01-22 15:35] mikedanese commented on #18535
No. This will be in v1.2

[2016-01-22 15:36] ramonrue commented on #18535
Is it already available in the alpha versions?

[2016-01-22 15:56] zmerlynn commented on #19990
Actually, bumping priority. Until this is fixed, there may be no guarantee on Jenkins today as to which `build-cross` image is building things because we have multiple release branch builds (`master`, `release-1.1`, etc.). This scripts just assume that once you build `kube-build:cross`, it works, but if two release branches are racing, that may not be true.

[2016-01-22 16:00] kelseyhightower commented on #19980
@macropin The issue you describe almost feels like your Kubernetes cluster was bootstrapped without the `--service-account-private-key-file=` flag set on the kube-controller-manager. That flag should be set to a filename containing a PEM-encoded private RSA key used to sign service account tokens.

In addition you also need to ensure the [ServiceAccount](http://kubernetes.io/v1.1/docs/admin/admiss

[2016-01-22 16:11] hbokh commented on #11684
@gopinatht Nope... still waiting & without a clue.

[2016-01-22 16:21] bgrant0607 commented on #16627
We're planning to give daemons "forgiveness" (#19567, #1574, #18263) so that they aren't evicted when nodes are not Ready. We could do similarly for mirror pods. At some point we'll have a general mechanism for expressing this.

cc @mml

[2016-01-22 16:34] thockin commented on #19983
I'm ok with such a change.  I didn't use a bitmask at first exactly because
I presumed other people were using it and I would never find out how to
manage the space :)

proposals/patches are welcome

On Fri, Jan 22, 2016 at 1:10 AM, Shaun Crampton <notifications@github.com>
wrote:

[2016-01-22 16:37] quinton-hoole commented on #19681
Re-opening.  @gmarek is the test still failing occasionally?  If so, we need to fix something, either the system or the test.  It sounds like the system needs fixing.

[2016-01-22 16:38] thockin commented on #19989
Did you set the `--apiserver-count` flag to 3?

On Fri, Jan 22, 2016 at 5:37 AM, ramonrue <notifications@github.com> wrote:

[2016-01-22 16:40] thockin commented on #19457
This should be alleviated by the iptables proxier.  It is default in kube
1.2 (soon) and optional in kube-1.1.  To try it out, set the `
net.experimental.kubernetes.io/proxy-mode=iptables` annotation on a node
and restart kube-proxy, or just set the `--proxy-mode=iptables` flag on
kube-proxy directly.

On Fri, Jan 22, 2016 at 6:31 AM, Pablo Moncada <notifications@github.com>
wrote:

[2016-01-22 16:46] pmorie commented on #19764
@thockin Agree, if you really want this, you can have it without a kube feature.

@mfojtik How do you feel about setting up symlinks in the container entrypoint, does that get you any closer to where you want to be?

[2016-01-22 16:50] ramonrue commented on #19989
I'm using Kubernetes v1.1.2, is this feature already implemented?

[2016-01-22 16:56] thockin commented on #18050
We're making a surge to get test flakes taken care of - they are KILLING merge throughput.  Mark, do you think the logs are sufficient to catch this if it flakes again?  If not, what can we add to the logs to make forward progress?

[2016-01-22 16:56] roberthbailey commented on #18502
Can you tell me the version of your master and your nodes?

Did you modify (delete recreate) the service afterwords?

I don't believe so. @thockin would know for certain.

[2016-01-22 16:57] roberthbailey commented on #18502
@kubernetes/goog-gke

[2016-01-22 17:04] gopinatht commented on #11684
@hbokh

So I dug into it and I find that the node.yaml might be broken. Basically, ETCD2 is being launched in proxy mode in the minion nodes and it is failing to launch. This is having a cascading effect of failure in flannel and fleet which serve as the overlay network.

I tried starting ETCD2 service manually after SSHing into the minion node and I see it works (it syncs with the master ETCD2 on

[2016-01-22 17:16] brendandburns commented on #19975
@thockin another alternative would be to allow the user to program in an extra DNS server for the cluster, but then you are running perililously close to the limit of 3 nameservers.

If we had a split horizon DNS server as part of the cloud provider, then users could just program that...

--brendan

[2016-01-22 17:19] markturansky commented on #18050
I think the issue was 10m sync on the controllers.    The correct state is eventually reached with enough sync periods, but the default 10m timeout is longer than the integration test timeout.

The test controllers have their sync periods down to 10s or so.  Is this particular timeout/flake still occurring with the shorter sync period?

[2016-01-22 17:27] caseydavenport commented on #19508
Any chance we'll be able to get this in for v1.2?  Looks like most of the code has already been written.

[2016-01-22 17:27] dchen1107 commented on #19189
@ixdy They might be the same root cause, but #8705 doesn't have enough information here.

I checked several other failed build with reboot, and they all have the same cause. For example: kubernetes-e2e-gce-reboot/10795, the kube-proxy image changed from gcr.io/google_containers/kube-proxy:9a2221ffc2ba0d47feed59502b7ea301 to gcr.io/google_containers/kube-proxy:70cc5093af0691e37723c7912004ea08

[2016-01-22 17:33] bgrant0607 commented on #16627
How much resources are required by Kubelet+Docker for, say, 40 pods?

How about for a hyperkube-based single-node cluster without the scheduler, for the same number of pods?

[2016-01-22 17:35] dchen1107 commented on #13690
@pmorie Do you have any updates on this one?

[2016-01-22 17:36] brendandburns commented on #19975
@bprashanth maybe (probably?) so that means we should implement DNSSEC in sky-dns ;)  (or switch DNS)

[2016-01-22 17:38] erictune opened #19997 "e2e flake: Kubectl client Simple pod [It] should support exec through an HTTP proxy"
Hit this twice since yesterday afternoon.
Example:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/24671/#

Previous closed instances of this flake:
#19500 #17523 #15787 #15713

[2016-01-22 17:39] quinton-hoole commented on #18050
@markturansky In which PR was the sync period dropped from 10 minutes to 10 seconds?  We can check whether there's any correlation between that merging and a drop in test failures.

[2016-01-22 17:43] markturansky commented on #18050
@quinton-hoole

https://github.com/kubernetes/kubernetes/pull/14537

https://github.com/kubernetes/kubernetes/commit/4fc1bf1f2314b213af2f540ebe86d169ccfadd9c

[2016-01-22 17:44] thockin commented on #19975
skydns supports DNSSEC already, though I know exactly nobody who uses it.

On Fri, Jan 22, 2016 at 9:36 AM, Brendan Burns <notifications@github.com>
wrote:

[2016-01-22 17:47] davidopp commented on #17495
I'm going to assign to myself for now and move this to the flaky test suite because nobody has been able to figure out how to write a non-flaky e2e test for this feature. We can revisit later.

[2016-01-22 17:48] erictune opened #19999 "Flakes in hack/test-cmd.sh"
Appears to be port conflict for port needed by kube-proxy.

[Build Log](https://00e9e64bac6163c5d10c6b08946aab1d3da4369abff3cec20a-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2F021cfe8e0915ab39a94f6345c98456702469d18b%2Fkubernetes-pull-test-unit-integration%2F10455%2Fbuild-log.txt?qk=AD5uMEsHwGp05eU2Z8Hsy8Hk7mwABlxwc3ALmRo-_4XhhonXVklkiIJGirJm5JVxMy8xQ

[2016-01-22 17:49] quinton-hoole commented on #18050
@markturansky that PR merged on Oct 12, 2015.  This issue was reported on Dec 1, 2015.  Am I missing something?

[2016-01-22 17:50] thockin commented on #16872
For those of us barely following along - does that mean that this test is NOT a flake, just a min-bar not being satisfied?

[2016-01-22 17:50] quinton-hoole commented on #18050
@markturansky Sorry, I looked at the commit, not the PR.  The PR merged on Dec 11.  Let me check.

[2016-01-22 17:51] pires commented on #12179
I'm having the same behavior by running `kubectl` on my local machine against a GKE cluster.

[2016-01-22 17:51] pmorie commented on #19475
@thockin

That's true re: magic name.  We intentionally punted on the problem of making fieldRef use JSON path syntax since we didn't have a JSONPath implementation available at the time.

I think magic names might be more descriptive and less risk-prone that supporting JSONPath, but we need a way to root container references that is portable across updates to a pod template.  I don't want to get

[2016-01-22 17:52] yujuhong commented on #12429
We should definitely add monitoring of memory usage, but I think we should first get a usable number from cadvisor (perhaps RSS instead of the working set).

What cloud/OS is the internal team using and what version of kubernetes? If they observe abnormal memory usage, it could be caused by memory leakage in cadvisor (e.g., #19633). It has happened more than once in cadvisor.

[2016-01-22 17:52] erictune commented on #19999
I've seen this twice in the last 24 h.

The problem is that there is still a race between the time that the shell script (hack/test-cmd.sh) thinks the port is free and the time that kubectl actually binds to it.

[2016-01-22 17:57] markturansky commented on #18050
@quinton-hoole this particular flake hit a few of my own PRs, but i haven't seen it since 14537 was merged.  I'm hoping that the sync period was culprit.   If not, please let me know what I can do to help.

[2016-01-22 17:58] thockin commented on #17181
The jenkins log is long-since purged.  For future, if this happens again, please include the relevant snippets in the bug?

I'll augment logs and PR it.

[2016-01-22 18:00] erictune opened #20001 "Deflake and Reenable flaky kube-proxy test (integration)"
I disabled a block of code in #20000.
The code was flaky (#19999).

Suggest one of the following solutions:

1. move this type of test coverage to an e2e, or VM or docker based test, where there are no port conflicts.
1. modify kubectl proxy command to have a mode where it will pick a port for you, trying until it finds one.
1. modify the test loop to allow failure of kubectl proxy command when it

[2016-01-22 18:05] erictune opened #20002 "Test runs and failures not counted for some shell-based tests"
When there is a failure in hack/test-cmd.sh, there is no junit.xml output, so the github checks box shows a confusing message like:

  :x: Jenkins unit/integration - 2571 tests run, 9 skipped, 0 failed

I'm like: why is there a red :x: when nothing failed.

Perhaps hack/test-cmd.sh can use https://github.com/akesterson/shunit to output a junit.xml, or something?

[2016-01-22 18:06] quinton-hoole commented on #18050
@markturansky Our test history only goes back as far as Jan 17, but we haven't seen any failures since then (198 runs in total).  I think it's safe to close it.  We can re-open if we see it again.

[2016-01-22 18:06] #18050 closed

[2016-01-22 18:07] lavalamp commented on #19252
This seems like a different problem.

[2016-01-22 18:08] erictune commented on #19024
PR out to disable this test.  Closing.

[2016-01-22 18:08] #19024 closed

[2016-01-22 18:08] erictune commented on #19024
Correction: to reenable, as it is not apparently flaky.

[2016-01-22 18:09] smarterclayton commented on #19764
Changing the image is actually a fairly involved process - the statement we
make in other places is that adaptation of existing images to run is useful
and justifies some additional complexity on our end to make easy.
Individual file projection is useful in some cases, and less useful in
others.  As someone who has done the symlinking thing, it's error prone,
annoying to do, and you end up doing i

[2016-01-22 18:10] bprashanth commented on #19975
I think we should just start with cluster PKI, so we can issue certs for cluster services and have the CA cert installed in containers.  Otherwise even if the cert is signed by some company.com's private CA the root won't be in the container where the client is running.

[2016-01-22 18:11] lavalamp commented on #19053
@nikhiljindal Is there any chance it's the same problem as #19467?

[2016-01-22 18:11] bprashanth commented on #19508
I can try, good chance Dan will fix it anyway with his CNI changes (though unsure if that's making 1.2 proper)

[2016-01-22 18:14] gmarek commented on #19681
I think that this 404 was a GCE issue. I didn't investigate it thoroughly .

[2016-01-22 18:15] lavalamp commented on #19252
Oh, I see, this actually is the same, but harder: `nc: connect to 127.0.0.1 port 46723 (tcp) failed: Connection refused`

`F0121 22:50:21.968795   24096 proxy.go:132] listen tcp 127.0.0.1:46723: bind: address already in use`

I think the most obvious thing to do is to let kubectl select the port and report back?

[2016-01-22 18:20] yujuhong commented on #19189
Recent failures from kubernetes-e2e-gce-reboot:
 * Timed out waiting for monitoring-influxdb-grafana pod to be ready: 10798
 * Build version changed before the test completed: 10762, 10768, 10773, 10795

It seems like the old monitoring-influxdb-grafana issue still exists, but it dwarfs in comparison to the frequency of build changes.

[2016-01-22 18:21] davidopp commented on #18914
@timothysc Is it OK if I close this and open a new issue for you to write an equivalent test using e2e?

[2016-01-22 18:24] ihmccreery commented on #18928
Data race in `net/http/test` in GoLang that will not fix.

[2016-01-22 18:25] davidopp commented on #18928
As @brendandburns mentioned, this might be fixed by #19458

[2016-01-22 18:25] lavalamp commented on #18432
I am adding the flake label because this blocks diagnosing flakes.

[2016-01-22 18:25] thockin opened #20003 "Document DNS schema"
we don't have a single doc that covers our DNS schema

@ArtfulCoder

[2016-01-22 18:25] bgrant0607 commented on #19304
This looks like it was added in #10920 by @mwielgus as part of #10764 -- just creating e2e tests for all kubectl commands.

We could just remove the events line.

[2016-01-22 18:30] thockin commented on #19466
@ncdc we're trying to make incremental progress on flakes.  If there are any additional logs or things we can do to make some modicum of progress on this issue, we'd be happy to take those now in lieu of a full fix

[2016-01-22 18:32] davidopp commented on #12765
Thanks @mwielgus. Closing this issue.

[2016-01-22 18:32] #12765 closed

[2016-01-22 18:33] davidopp commented on #15413
Removing kind/flake label since we want to use that label only for tests that are in the Google CB. Please feel free to create a kind/mesos-flake for tracking flakes in the Mesosphere CB if you wish.

[2016-01-22 18:34] davidopp commented on #15412
Removing kind/flake label since we want to use that label only for tests that are in the Google CB. Please feel free to create a kind/mesos-flake for tracking flakes in the Mesosphere CB if you wish.

[2016-01-22 18:34] zmerlynn opened #20006 "Crash on addon_update.go:405"
From http://goto.google.com/k8s-test/job/kubernetes-e2e-gce/10479/

[code]

[2016-01-22 18:34] smarterclayton commented on #19467
Fixing now.

[2016-01-22 18:37] smarterclayton commented on #19467
#20007

[2016-01-22 18:39] janetkuo commented on #19939
Thanks @caesarxuchao!

[2016-01-22 18:40] quinton-hoole commented on #19681
This test failed again yesterday:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/1534/

SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scheduler_predicates.go:264 Expected : 330 to equal : 440

Looking through the code, I notic

[2016-01-22 18:40] bprashanth opened #20008 "Kubelet complains about impossible errors"
Trace for a single pod (suffix go7lw) taken from the daemon restart flake: https://gist.github.com/bprashanth/c3a4a15e9e5fa3736194
To my untrained eye it looks like the pod was started after a REMOVE (but a failed delete):
[code]
leading to the impossible error:
[code]

I'm actually not sure if this contributed to the eventual flake, so just filing this standalone.

[2016-01-22 18:41] quinton-hoole commented on #19681
Oh wait, it is labelled as serial, so this should be fine - I'll dig further.

[2016-01-22 18:45] ncdc commented on #19466
@thockin I understand and I'm sorry I haven't been able to give this more attention of late. I'm currently busy on another bug, and we have a huge snowstorm starting now :snowflake:

We could add some logging in pkg/client/unversioned/remotecommand/v2.go around line 97:

[code]

This could be a red herring, as the test does have a case with a simulated error. I'm still not sure why, if both the cl

[2016-01-22 18:50] yujuhong commented on #19986
I'll take a look at the failed builds and triage.

[2016-01-22 18:50] quinton-hoole commented on #19681
In the above test run, 9 other tests failed too.  One of the 4 nodes in the test cluster became unavailable in the middle of the test.  That explains why only 330 and not 440 pods were launched.  There is a separate issue tracking nodes becoming unavailable.  So closing this issue.

[2016-01-22 18:52] ihmccreery commented on #18980
@zmerlynn Can you have a look at this as part of our push to de-flake?

[2016-01-22 18:54] ixdy commented on #18432
This seems related to #10423.

It'd be nice if whatever solution we come up with solves both. (Maybe refactor test/e2e/core.go into a separate binary so it can be called from outside ginkgo?)

[2016-01-22 18:54] derekwaynecarr commented on #19026
I am investigating this now.  Will update if I find anything obvious.

[2016-01-22 18:54] davidopp commented on #19036
I'm OK with leaving this open for now, but we're trying extremely hard to get to number of flaky tests down to zero, so it would be better if someone could look at this. (That said, I realize that everyone who is the best position to look at this is OOO at least all of next week.)

@gmarek When will better numbers be available?

[2016-01-22 18:55] zmerlynn commented on #18980
Sure.

[2016-01-22 18:58] davidopp commented on #17765
@lavalamp Any suggestion on what to do short-term? Move it to flaky test suite? Or just accept that we're not going to be able to get the number of flaky tests (in non-flaky suites) down to zero? I'm fine with either.

[2016-01-22 19:00] lavalamp commented on #19999
This is a dup of #19252, right?

[2016-01-22 19:00] bprashanth commented on #19953
Saads already got 3 flakes, I can do some initial digging. @saad-ali let me know if you already started on this.

[2016-01-22 19:02] davidopp commented on #13515
ping @quinton-hoole

[2016-01-22 19:06] gmarek opened #20011 "Scheduler is getting really, really slow under bigger load."
We're running kubemark tests with 500 nodes, which are recently failing:
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-500-gce/1737

After 4.5k pods get scheduled and running scheduler is getting very, very slow. At the end we're getting to the state:
10:04:57 Jan 22 10:04:57.128: INFO: density15000-20a915d4-c130-11e5-9093-42010af01555 Pods: 15000 out of 15000 create

[2016-01-22 19:10] #12429 closed

[2016-01-22 19:10] thockin commented on #19466
Thanks, I'm just pinging open issues to see what progress can be made.
Enjoy the snow.

On Fri, Jan 22, 2016 at 10:45 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-01-22 19:12] davidopp commented on #12429
@zmerlynn I'm OK with closing this but I'm going to file a replacement issue and assign to @yujuhong . This is an important thing to have coverage of.

[2016-01-22 19:12] bgrant0607 commented on #15763
Sounds like a dupe of #3481

[2016-01-22 19:13] davidopp commented on #12429
(Oh sorry, it was marked as closed by @zmerlynn simply because he did the merge of @gmarek's PR. Anyway, filing issue now.)

[2016-01-22 19:14] bgrant0607 commented on #17558
@dalanlan Do liveness probes not do what you want? Killing the container is insufficient?

Would #17244 address your use case?

[2016-01-22 19:16] davidopp opened #20012 "Need e2e testing of Kubelet/Docker memory and CPU usage"
To replace test/e2e/monitor_resources.go which was removed in #19987

ref/ #12429

cc/ @gmarek @dchen1107

[2016-01-22 19:17] bgrant0607 commented on #17558
Lookup by IP would be pretty useful for debugging -- see #3481.

However, it doesn't sound like the best solution for this use case.

[2016-01-22 19:19] yujuhong commented on #20012
The cpu usage is already included in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_perf.go
The memory usage, as I mentioned in https://github.com/kubernetes/kubernetes/issues/12429#issuecomment-173991665, needs more meaningful number from cadvisor.

[2016-01-22 19:19] dchen1107 commented on #20012
Does test/e2e/kubelet_perf.go provide you enough?

[2016-01-22 19:19] pmorie commented on #19622
We were not able to reproduce this on a RHEL 7 system on docker 1.9.  Thinking about next steps for debugging now.

[2016-01-22 19:24] derekwaynecarr commented on #19026
I am inclined to mark this test `[Serial]` and determine if the flakes are resolved.  The test is much more write-intensive than other tests (200 namespaces, service accounts, etc.) and it deletes all of the above.  I think we can evaluate running this parallel when more resources are being deleted in bulk collection calls.

[2016-01-22 19:24] dchen1107 commented on #20012
Ok, I see you are also asking memory usage here. We need a better measurement first.

[2016-01-22 19:29] lavalamp commented on #19941
We'd be happy for you to do it :)

[2016-01-22 19:31] lavalamp commented on #18914
I think there's already an e2e test that kills etcd? We should leave this open until we get a PR deleting the test, I'll make one later unless @timothysc beats me to it.

[2016-01-22 19:32] davidopp commented on #17495
Ah, it was already in flaky test suite. Closing issue, will file repalcement issue.

[2016-01-22 19:32] #17495 closed

[2016-01-22 19:33] lavalamp commented on #18266
@magicwang-cn I'm sorry, can you rephrase? I don't understand

[2016-01-22 19:36] xiang90 commented on #20011
@hongchaodeng Can you take a look? Any regression found in our kube mark scheduling test?

[2016-01-22 19:37] davidopp opened #20015 "Create an e2e test for NodeOutOfDisk that isn't flaky"
After dozen of hours of work and consulting many people on the team, nobody has been able to find a way to write a non-flaky test for this feature. We need to start again and either use a different approach or make changes to the system itself to make this feature testable.

Assigning to @madhusudancs, but we need a meeting of @madhusudancs @yujuhong @lavalamp @davidopp to figure out a strategy an

[2016-01-22 19:37] ArtfulCoder commented on #19634
yes,  I verified that the nameserver change is not yet in.
"git branch -a --contains bb3f49" shows that its only in master..

[2016-01-22 19:39] davidopp commented on #19023
Reassigning to @bprashanth who generously offered to take a look.

[2016-01-22 19:39] bprashanth opened #20016 "e2e addon-update fails from nil pointer"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/10479/console
[code]
I think there's a race between the scp and stdin piping: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/addon_update.go#L405. Not sure who owns the test, @kubernetes/goog-control-plane ?

[2016-01-22 19:44] ihmccreery commented on #19901
Assigning to @yujuhong since she's triaging reboot issues.

[2016-01-22 19:46] ihmccreery commented on #19189
Wondering if that's related to #19952; looking into it.

[2016-01-22 19:49] erictune commented on #19999
Yes.

[2016-01-22 19:51] quinton-hoole commented on #13515
@brendandburns kindly offered to take this over.  Re-assigning to him.

[2016-01-22 19:52] davidopp commented on #20011
@brendandburns A second set of eyes would be useful here. I reviewed this code and don't see how it could make anything slower but maybe I missed something?

If you think this code is blameless, and you have time, looking into the performance regression could be helpful.

[2016-01-22 19:57] davidopp commented on #18713
AFAICT #19435 is an exact dupe of this issue. @mml was there some reason you opened a separate issue? I'm going to close this one as the other one has more debugging info.

[2016-01-22 19:57] #18713 closed

[2016-01-22 20:03] jayunit100 opened #20017 "Add version to e2e.test binary artifact."
We will want to ship the e2e binary w/ the ability to independently verify its version, esp pending #19624 .
cc @timothysc @liggitt @ixdy @pmorie @kubernetes/goog-testing .

I'll craft a PR for this after looking at how version is handled in kubectl, im sure it will be quite simple.

[2016-01-22 20:04] davidopp commented on #20011
But also @xiang90 @hongchaodeng if you can look into this - that would be great. Once we have performance regressions, the more time that passes the worse things get as it becomes harder and harder to track down the root cause.

[2016-01-22 20:07] erictune commented on #17088
yes.

[2016-01-22 20:07] alex-mohr commented on #19960
I wonder if the issue is the client kubelet uses (which @krousey) is working on, and not kubelet itself?

[2016-01-22 20:11] brendandburns opened #20018 "In cases where we have debugging tips, we should include them in kubectl get ..."
I just helped a user debug an OOM problem.  It's pretty opaque unless you know what you are looking for.

I think that we should augement `kubectl get pods` so that we both highlight pods that we know are having problems, and if we know why they are having problems, we should print some tips to make them better.

[2016-01-22 20:18] ixdy commented on #19952
This is almost certainly a dupe of #8705.

[2016-01-22 20:18] davidopp commented on #19711
+1 -- thanks for all of your consistent work on fixing test, Marek, even when we are not in a test fixit!

[2016-01-22 20:38] thockin-cc commented on #17088
The two main models proposed for network segmentation are:

1) decorate Services (and maybe Pods) with a field indicting "allow-from".
This basically allows one to draw the directed graph of an application,
sort of.

2) implement a "policy group" object which selects Pods to which to apply
policy, and includes some simple policy statements like "allow-from"

On Thu, Jan 21, 2016 at 11:52 PM, Tim H

[2016-01-22 20:40] yujuhong commented on #19986
I went through the recent reboot failures in kubernetes-e2e-gke-ci  and here is a summary.

1. Kubelet never came back from the reboot, and stopped posting node status. Throughout the test suite, the failed node stayed silent. E.g., 6486, 6488: It's hard to dig further due to the lack of clarity. Gathering log would at least help us rule out some possible causes #18432.
2. Heapster seems to crash

[2016-01-22 20:43] yujuhong commented on #19901
This one is already traiged. I'll change the title to reflect the status.

[2016-01-22 20:45] erictune commented on #17088
@thockin what issue does one go to to learn more and comment?

[2016-01-22 20:46] yujuhong commented on #14391
Assigning to @Random-Liu since he has related PRs for checking the pod status updates in the test.

[2016-01-22 20:48] thockin commented on #19764
I agree this would be a great feature, I don't think it is "a bit more
complexity", though.  If someone wants to prototype it, I'm happy to brain
dump (or just go look at https://github.com/docker/docker/issues/17190)

On Fri, Jan 22, 2016 at 10:10 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-22 20:50] thockin commented on #17088
It's being discussed in the network SIG mailing list as we haggle over
multitudes of ideas and whittle it down to a few viable ones.

Start here:

https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM/edit

One proposal:

https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM/edit

Another is in email:

https://groups.google.com/forum/#!topic/kube

[2016-01-22 21:04] roberthbailey commented on #16872
@thockin that's what I was trying to ascertain and it sounds like the answer is 'yes' (@dchen1107 can correct me if i'm mis-interpreting).

[2016-01-22 21:06] davidopp commented on #19254
I didn't see a flake for this recently, but the test result analyzer mentioned in the previous comment basically doesn't work for kubernetest-test-go because it never finishes generating the report, so it's hard to be sure (I just checked a week or so manually).

However, the problem with this test that @yujuhong mentioned above did happen also in the kubernetes-test-go build, so that's a real pro

[2016-01-22 21:07] ArtfulCoder commented on #20003
you had written something here:
https://github.com/kubernetes/kubernetes/blob/release-1.1/cluster/addons/dns/README.md#supported-dns-schema

[2016-01-22 21:08] dchen1107 commented on #16872
The answer is yes, and I have a pending pr to ignore the failure when docker version is pre-1.8.

[2016-01-22 21:09] gopinatht commented on #11684
I fixed this issue on my AWS/k8s setup. It turns out that the last update to the node.yaml (https://github.com/kubernetes/kubernetes/commit/5fa50c93c0121d68f14d04de2ef5e4cbf87fd83f) removes a drop-in for the flannel service as redundant.

drop-ins:
         - name: 50-network-config.conf
           content: |
             [Unit]
             Requires=etcd2.service
             [Service]

[2016-01-22 21:16] thockin commented on #19508
https://github.com/kubernetes/kubernetes/pull/20019

On Fri, Jan 22, 2016 at 10:12 AM, Prashanth B <notifications@github.com>
wrote:

[2016-01-22 21:17] thockin commented on #16872
great, closing this

[2016-01-22 21:17] #16872 closed

[2016-01-22 21:18] thockin commented on #20003
Oh yeah.  That doesn't include the magic ip-based names nor your new set
names.  We should promote this to a full doc.

On Fri, Jan 22, 2016 at 1:07 PM, Abhi Shah <notifications@github.com> wrote:

[2016-01-22 21:20] dchen1107 commented on #19014
Can we move the test out of flaky and close the issue here?

[2016-01-22 21:22] danielschonfeld commented on #19845
I could be wrong but i don't think this is 'my' problem, I believe it's a bug in the images we use.

This doesn't happen all the time because of some poor configuration I've made, it happens infrequently and with mostly the stock configuration that comes out from the `kube-up` script.

cc @alex-mohr

[2016-01-22 21:24] saad-ali commented on #19953
Taking a look

[2016-01-22 21:27] ihmccreery commented on #19952
Closing in favor of #8705.

[2016-01-22 21:28] #19952 closed

[2016-01-22 21:28] thockin commented on #18502
The only way to ENSURE that an IP is available in ALL cases is to make it a static IP in the project and add it as `loadBalancerIP` in your Service definition.  Static IPs are quota'ed

[2016-01-22 21:29] eliaslevy commented on #18202
@vishh do you know what the issue number is on the Docker side?  I am running into the same issue.

[2016-01-22 21:36] krancour commented on #9718
I have a similar question to @manojlds.  Where can I find the cluster id?  I have been digging through k8s docs and googling and I can't find any useful information on how one can determine a cluster's id.

[2016-01-22 21:37] thockin commented on #19475
`containers[0]` is pretty-obviously a non-starter.  We have "keys" that we
could use to treat things like containers[] as a map (patchMergeKey), but I
don't think our JSONPath impl is that smart.

I dislike ad hoc DSLs, so I think we should either move towards a DSL that
we use consistently in various places (i.e. our variant of JSONPath) or
magic names, whcih are far more restricted.

`$.status.c

[2016-01-22 21:39] pmorie commented on #19475
I hope we can figure out some way to use JSONPath for this, I feel like magic keys are going to worm their way into people's setups and then we will lose all claims of low-coupling.

[2016-01-22 21:39] ihmccreery commented on #8705
This is caused by different Jenkins jobs uploading to the same GCS bucket and clobbering each other.  In http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4134/ we see:

[code]

Over in http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/14762/consoleFull:

[code]

[2016-01-22 21:41] ihmccreery commented on #8705
This also explains the issues seen in https://github.com/kubernetes/kubernetes/issues/19189#issuecomment-173781926; the `gce-reboot` job is also running in the same project.

[2016-01-22 21:41] thockin commented on #19989
Great question!  I thought that had made it in for 1.1 but I see that it
did not.  In that case, the answer is that you can't.  1.1 Assumes a single
master endpoint.

On Fri, Jan 22, 2016 at 8:51 AM, ramonrue <notifications@github.com> wrote:

[2016-01-22 21:48] yujuhong opened #20021 "kube-proxy restart test may have left the pod in the not ready state"
After the `Services should work after restarting kube-proxy [Disruptive]` test finished, the reboot test started checking the pods running on the node and failed because the kube-proxy pod is not ready.

In kubernetes-e2e-gke-ci-reboot/6487:
[code]

This caused the reboot test to fail before rebooting.

May be related: #19665

[2016-01-22 21:49] yujuhong commented on #19986
Filed #20021 for (3).

[2016-01-22 21:50] a-robinson commented on #19405
@ernestoalejo - are your fluentd instances getting backed up and not exporting logs, or did they just have a couple failures to export logs that succeeded on retry shortly afterwards? Your most recent logs sounds like the latter.

@johanhaleby - A full dump of the logs from the fluentd containers that are blocked would be fantastic. Feel free to email them to me if you don't want to share them pub

[2016-01-22 21:52] ixdy commented on #8705
Ah, good sleuthing. We avoided this issue in the PR builds by setting `KUBE_GCS_STAGING_PATH_SUFFIX` (used [here](https://github.com/kubernetes/kubernetes/blob/eaa61a72b05278309010866f10e2e1ab1e36607e/cluster/gce/util.sh#L204)), but maybe we should always be setting `KUBE_GCS_STAGING_PATH_SUFFIX` to include the Jenkins job name (and optionally executor/node number).

[2016-01-22 21:54] chuckbutler commented on #11684
nice detective work @gopinatht

[2016-01-22 21:58] zmerlynn commented on #20016
This is a dupe of #20006

[2016-01-22 21:58] #20016 closed

[2016-01-22 21:59] zmerlynn commented on #20006
And http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/10481/consoleFull

[2016-01-22 21:59] ixdy commented on #20017
The magic happens in `pkg/version` and `hack/lib/version.sh`.

[2016-01-22 21:59] spxtr commented on #17765
Would calling `CoreDump` at the start and deferred end of `resizeGroup` allow you to debug this? It's not beautiful, but there's really not an easy way to do this in the short-term.

[2016-01-22 22:00] zmerlynn commented on #20006
Looks like it's crashed the main `gce` test twice now, raising to P0.

[2016-01-22 22:00] thockin commented on #19475
If the magic keys are limited to kube YAML it's fine.  We just don't want
to expose magic env vars INTO containers.  The reason we called it a
fieldRef was because we didn't want to keep track of a table of magic
values and add new ones when people asked and prevent people from using
things we had not thought about yet.  But that is exactly what we have.

On Fri, Jan 22, 2016 at 1:40 PM, Paul Mori

[2016-01-22 22:01] ixdy commented on #20017
The `MatchesServerVersion` func may also be relevant.

[2016-01-22 22:03] bnadim opened #20022 "Session Affinity ClientIP not working on Container Engine"
Hi,

ClientIP affinity seems to have some issue on Container Engine. Once you scale down a replicas set linked to a service with session affinity and GCE external load balancer, sticky session doesn't work anymore.
I tried to create a new cluster to be sure it wasn't any configuration related issue.

Steps to reproduce :
 - Create a container cluster
 - Add a replica set (with a pod running http s

[2016-01-22 22:07] quinton-hoole commented on #13515
We've confirmed that we do still appear to be leaking resources.  Here's an example of one that's 2 weeks old:

[code]

[2016-01-22 22:07] ArtfulCoder commented on #20003
It does seem to mention the ip-based names.
I was planning to do the set based names, in a pr where I update the version of skydns.

[2016-01-22 22:07] ixdy commented on #18970
dupe of #10423

[2016-01-22 22:07] #18970 closed

[2016-01-22 22:10] quinton-hoole commented on #8705
@ixdy @ihmccreery The original idea was to run every e2e job in it's own project, to avoid these sorts of name clashes.  But we seem to have regressed and now have many jobs sharing the same projects.   Is project-per-job not a better approach?  It also helps with resource leaks and the likes. Just a thought.

[2016-01-22 22:11] zmerlynn commented on #19986
The reboot tests basically haven't worked since 9pm last night:
* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/10421/
* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/10422/
* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/10423/
* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/10424/
* http://kubekins.dls.corp.google.com/job/kubernetes

[2016-01-22 22:14] ihmccreery commented on #8705
@quinton-hoole I'd argue this is actually uncovering a (dev) deployment bug; I should be able to deploy different versions of Kubernetes to the same project.  I know you and I disagree (and probably always will) on the strategy here. :smile:

[2016-01-22 22:19] dchen1107 commented on #20021
cc/ @thockin This is the one I mentioned to you earlier. The issue causes reboot test flakiness sometimes. Thanks!

[2016-01-22 22:19] justinsb commented on #9718
The clusterid is set on the KubernetesCluster tag on all resources (VPCs, subnets, instances etc); it is how we know what instances are owned by a particular k8s cluster.

It is controlled by the KUBE_AWS_INSTANCE_PREFIX environment variable passed to kube-up (see cluster/aws/config-default.sh).

More details on how this works are here: https://github.com/kubernetes/kubernetes/blob/master/docs/des

[2016-01-22 22:21] ernestoalejo commented on #19405
The first error in this issue (in the master) caused all logs to stop getting delivered to the console. This was solved by restarting the master fluentd container manually through SSH. This time the error is in one of the nodes; and only kubelet seems affected.

I had a couple of daily timeouts that were retried successfully before; but since 6 January fluentd is broken.

The issue is that the flu

[2016-01-22 22:30] cjcullen commented on #19986
Digging into logs from the runs @zmerlynn linked.

[2016-01-22 22:32] #19990 closed

[2016-01-22 22:36] vishh commented on #18202
Docker v1.10-rc1 has a new daemon flag `--cgroup-parent` and we can set
this to `/` in dind, assuming dind container's `/` cgroup is already mapped
to a separate cgroup on the host.

On Fri, Jan 22, 2016 at 1:30 PM, Elias Levy <notifications@github.com>
wrote:

[2016-01-22 22:38] ihmccreery commented on #19960
This seems to actually be wrong; we saw deterministic 100% loss of 5% of routes, so this is almost certainly a state we don't expect the Kubelet to run in.  Closing.

[2016-01-22 22:39] mikedanese commented on #20006
I believe #20024  will fix this

[2016-01-22 22:40] lavalamp commented on #17765
@spxtr That SGTM

[2016-01-22 22:41] cjcullen commented on #19986
All of the gke-ci failures in https://github.com/kubernetes/kubernetes/issues/19986#issuecomment-174069388 are heapster crash-looping after a reboot.

[2016-01-22 22:42] hongchaodeng commented on #20011
Confirmed that we have seen similar problems.
I will look into it.
@gmarek Can you paste more log at the point when it's stuck? I don't have access to the link.

[2016-01-22 22:44] cjcullen commented on #19986
Changes to the heapster config in the last day: #19984, #19963.

Nothing sticks out to me in those PRs.

[2016-01-22 22:44] dchen1107 commented on #19986
Heapster could be in crashloop if it cannot reach influxdb. But that is a bad design, and @vishh should fix it in today's heapster with image 18. I double checked them, it is image version 18.

[2016-01-22 22:45] jlowdermilk opened #20026 "unit flake: host_path.TestMetrics (from k8s.io_kubernetes_pkg_volume_host_path)"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/6724/testReport/(root)/host_path/TestMetrics/

console output:
[code]

test results output:
[code]

[2016-01-22 22:45] lavalamp commented on #20011
That PR does change from index variables to copies. I would not expect that to result in a massive slowdown unless it was in a VERY tight loop and the copied structures were large.

...actually, there is a difference if you count the number of if statements that will be executed. I am skeptical that would make a huge difference, but I suppose it's possible.

[2016-01-22 22:46] bprashanth commented on #18980
if you need another data point for the "unable to delete script file failure": http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/24795/consoleFull

[2016-01-22 22:46] jlowdermilk opened #20027 "unit flake: volume.TestMetricsDuGetCapacity (from k8s.io_kubernetes_pkg_volume)"
console output:
[code]

test output:
[code]

[2016-01-22 22:47] dchen1107 commented on #19986
From #19963, could be the num_nodes is unset, we give heapster no resource to run? If that is true, it could be point to the same version screw issue of our test infra.

[2016-01-22 22:48] vishh commented on #19986
Heapster v0.18.4 will crashloop if InfluxDB isn't available. However we can
update HEAD to v0.19.0, which will not crash if the backend goes down. I
will send a PR to update InfluxDB version.

On Fri, Jan 22, 2016 at 2:45 PM, Dawn Chen <notifications@github.com> wrote:

[2016-01-22 22:48] jlowdermilk opened #20028 "unit flake: empty_dir.TestMetrics (from k8s.io_kubernetes_pkg_volume_empty_dir)"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/6724/testReport/(root)/empty_dir/TestMetrics/

console output:
[code]

test output:
[code]

[2016-01-22 22:48] jlowdermilk commented on #20027
from http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/6724/testReport/(root)/volume/TestMetricsDuGetCapacity/

[2016-01-22 22:51] yujuhong commented on #19014
The test is not in flaky and has be running fine. I'll close the issue for now until we see it happen again.

[2016-01-22 22:51] cjcullen commented on #19986
GKE doesn't use InfluxDB, right?

[2016-01-22 22:51] davidopp commented on #20011
@hongchaodeng can you or @xiang90 send a revert PR for now, and then do some experimentation before re-introducing it?

[2016-01-22 22:52] yujuhong commented on #19986
Heapster is the only kube-system pod that's not ready in the tests. If it relies on influxdb, shouldn't influxdb be not ready too?

[2016-01-22 22:54] dchen1107 commented on #15498
I were leaving this one for current reboot test failure in kubernetes-ece-gke-ci-reboot, but since #19986 was filed for that purpose. And other causes for reboot failures are filed separately already: #20021 for kube-proxy, and #8705 for version mismatch. I am closing this one.

[2016-01-22 22:54] #15498 closed

[2016-01-22 22:54] vishh commented on #20012
Shouldn't this belong to the node e2e test suite?

[2016-01-22 22:55] jlowdermilk opened #20031 "unit flake: remotecommand.TestRequestExecuteRemoteCommand (from k8s.io_kubernetes_pkg_client_unversioned_remotecommand)"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/6722/testReport/(root)/remotecommand/TestRequestExecuteRemoteCommand/

console output:
[code]

test output:
[code]

[2016-01-22 22:55] zmerlynn commented on #19986
I like @dchen1107's theory. My salt suggestion might've been horrible for unset `num_nodes`? I thought I did that correctly, but maybe my Python/Jinja was bad.

[2016-01-22 22:57] dchen1107 commented on #19986
@cjcullen Yes, GKE doesn't use influxDB. My point is that if the backend storage is not ready, heapster is in crashloop. Vishnu made some changes to make heapster can run standalone, but looks like that fix is not included in heapster 18 based on his comment.

[2016-01-22 22:59] philips commented on #19828
This seems like a solid idea @ericchiang. What is the next step?

My hunch would be to just get a prototype together or at the very least a .proto.

[2016-01-22 23:02] #19848 closed

[2016-01-22 23:02] caseydavenport commented on #19508
Thanks @thockin :)

[2016-01-22 23:03] hongchaodeng commented on #20011
I would verify that if the revert helps fixing the problem.

At the mean time, it reminds me that we should probably get benchmarking into jenkins test to prevent any regression in PR. That's a more effective way to look at commits and manual alerts.

[2016-01-22 23:05] jlowdermilk opened #20034 "integration flake: test-cmd.sh kubectl proxy / cgroup subsystem not mounted"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/6683/console

Needs investigation/repro to determine whether root cause is kubectl proxy trying to pick in-use port or (as kubelet log mentions) cgroup not mounted.

console log:
[code]

[2016-01-22 23:06] cjcullen commented on #19986
Okay. I'm still trying to catch up. Why is heapster on GKE waiting on backend storage?

And if `num_nodes` is unset (e.g. we haven't finished running configure-vm.sh), it looks like we just give the [heapster pod 300Mi](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml)

[2016-01-22 23:08] eliaslevy commented on #18202
I upgraded to v1.10-rc1 and it solved my issue.  That said, I am not sure the error I was seeing was related to cgroups.  When I ran docker in debug mode after I upgraded, it went through the migration process, converting layers, images and containers to its new content addressable identification format.  While it did this it generated a couple of error messages that indicate some layers may have

[2016-01-22 23:10] xiang90 commented on #20011
@hongchaodeng I agree, I think we should run the scheduler performance test to prevent regression.

[2016-01-22 23:12] alex-mohr commented on #8705
@ihmccreery fwiw I think I agree with @quinton-hoole that if project-per-job avoids this issue and helps identify resource leaks, it's a pragmatic near-term improvement in the state of the world that would result in more benefit than the cost of changing all the everythings to support multi-job-in-project.

Re: devs deploying different versions of k8s to the same project, P3 feature request?

[2016-01-22 23:12] yujuhong commented on #19189
The build versioning problem is being handled by @ihmccreery in #8705, and possible cause has been identified (thanks!).
The two other bugs manifesting via missing mirror pods (https://github.com/kubernetes/kubernetes/pull/19436#issuecomment-173030536) has never appeared since my fixes went in.

This leaves the influxdb crash looping problem --- the original issue identified by @dchen1107. I'll re

[2016-01-22 23:15] jlowdermilk commented on #20034
Another occurrence: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/6612/console

[2016-01-22 23:15] ihmccreery commented on #8705
@alex-mohr I was just about to suggest the same thing.  I will file a separate issue, and fix this in the short term an easier way.  #18119 is out to make it easier to isolate a run to a project.

[2016-01-22 23:16] alex-mohr commented on #19845
@danielschonfeld Ah, I see.  Thanks for the clarification and apologies for misreading it.  I think @roberthbailey has cert context, though he's out for the weekend.

It's quite possible that the salt config isn't sufficiently idempotent -- it should create only 1 key and use that forever rather than creating 2 keys.  Flagging team/control-plane as they nominally own.

[2016-01-22 23:19] yujuhong commented on #20012
A lot of tests should, but I think we're still in the middle of migrating those tests. It's orthogonal to adding memory usage checking for this test.

For reference, RSS has been added to cadvisor in https://github.com/google/cadvisor/pull/1055. I will update the test after we bump the cadvisor version.

[2016-01-22 23:21] erictune commented on #17088
Talked to @thockin and @bprashanth
It sounds like the Ingress resource may undergo some refactoring this quarter, possibly splitting into two objects.  We should revisit ingress security when those discussion happen.

[2016-01-22 23:30] yujuhong commented on #20008
[code]
It looks like the pod was created and then deleted non-gracefully in a short time. In this case, kubelet is more prone to having a race. The pod worker may still be in the middle of creating the pod, while the cleanup routine already started deleting associated resources (hence the failed delete). Even though the impossible error seems striking, I think this race would only cause transient

[2016-01-22 23:32] a-robinson commented on #19405
The actual contents of the kubelet log are unrelated. The interesting information is the contents of the fluentd logs, since they should hint at (1) why the build-up is occurring in the first place and (2) why fluentd fails to work through the build-up.

There are two things here that don't quite make sense to me. Could you help me understand?

1. Are you saying that you're seeing the `BufferQueue

[2016-01-22 23:34] erictune commented on #2203
@cjcullen @roberthbailey We talked about audit yesterday.

[2016-01-22 23:35] zmerlynn commented on #19986
Catching others up: @cjcullen is seeing nodes that are actually hung with CPU pegged on reboot, so the heapster conversation may be a red herring.

[2016-01-22 23:35] danielschonfeld commented on #19845
@alex-mohr if i had to guess from my observations, i'd say salt-minion starts up once, sends something to the master which includes the initial public key and then somehow restarts with a clean /etc/salt and recreates a new key... only this time when it tries to contact master, the master already has a key for it so everything blows up.

I don't know enough about salt to debug this, but if you or

[2016-01-22 23:37] ihmccreery commented on #8705
Also @alex-mohr @quinton-hoole it seems like a reasonable thing (higher than P2) to want to deploy multiple clusters to the same project safely in prod, not just dev.  Disagree?

[2016-01-22 23:39] alex-mohr commented on #19845
Re: salt, sadly I don't either.

[2016-01-22 23:40] alex-mohr commented on #8705
@ihmccreery Multiple clusters in prod using well-defined build versions such as v1.1.4 = P0.  Multiple clusters in prod using our cooked-up test-building system = non-goal?

[2016-01-22 23:42] yujuhong commented on #19986
There are plenty of tests that failed because kubelet didn't come back (and post status) after the reboot. There are a few that failed only because heapster was crash looping. They may be related or not...

[2016-01-22 23:43] ernestoalejo commented on #19405
First time (errors logged on the masters):
1. They showed in Cloud Log Viewer. No other logs from other pods were received. I saw them using `kubectl logs`.
2. I only restarted the master container and it was working again.

Second time (current error):
1. Both errors and other pods logs received.
2. Only one of the nodes failing.

I do not have "@google.com, @redhat.com, @coreos.com or @intel.com

[2016-01-22 23:46] bgrant0607 commented on #18183
cc @hurf

[2016-01-22 23:46] erictune commented on #2203
Which of the following events does an audit log need (each additional type implies another hook in the code, and probably more complexity to a pluggable audit logging interface.)

- failed authentication
- failed request authorization plugin check.
- blocked by admission controller
- blocked at quota stage
- error/timeout writing to storage layer.
- successful HTTP operation
- entire content of po

[2016-01-22 23:49] bgrant0607 commented on #19775
Some discussion in #20009

[2016-01-22 23:49] bgrant0607 commented on #19775
cc @janetkuo

[2016-01-22 23:50] bgrant0607 commented on #19775
@ghodss I independently came to a similar conclusion.

https://github.com/kubernetes/kubernetes/pull/20009#issuecomment-174090568

[2016-01-22 23:50] a-robinson commented on #19405
You can register for our slack channel at http://slack.kubernetes.io/

And again, a dump of the fluentd logs from the node that's having problems is the most useful thing to work off of right now

[2016-01-22 23:54] hongchaodeng commented on #20011
I just did some experiments and found some facts:

- The 5k pods stuck point couldn't be reproduced in scheduler benchmark tool. This means that the scheduler could still schedule things. But what happened in Kubemark? There are many vectors that can have scalability problems.
- Although the Kubemark got stuck recently, I found that the regression happened quite some time ago. Only by resetting to

[2016-01-22 23:56] bgrant0607 commented on #19809
cc @jackgr

[2016-01-22 23:57] zmerlynn commented on #19986
I spun up a GKE test cluster:
[code]

and the heapster manifest looks fine, so I think I ruled out anything regarding https://github.com/kubernetes/kubernetes/issues/19986#issuecomment-174080482:

[code]

[2016-01-22 23:58] ihmccreery commented on #8705
@alex-mohr SGTM; this is prod code, though, not test code; it's used every time we call `kube-up`, regardless of whether it's a CI build or released version.

[2016-01-22 23:58] bgrant0607 commented on #19805
Objects created by the system are a separate problem. I've proposed that we add a general existence dependency mechanism to handle that. (Discussed in #1535 and elsewhere.)

[2016-01-22 23:59] bgrant0607 commented on #19767
We should do the same for all commands, not just apply.

cc @kubernetes/kubectl

[2016-01-22 23:59] xiang90 commented on #20011
@hongchaodeng Are you saying #18452 might not be the cause?

[2016-01-22 23:59] saad-ali commented on #19953
The test moves a PD between two nodes.

The first node attached/detached the PD successfully.
[code]

On the second node, the a call to attach the PD failed with a backend error:
[code]

Despite the failure the call actually attached the disk to [node-v4cj], so further attempts by `node-v4cj` to attach the disk failed because the disk was already attached:
[code]
Fix: disk is already attached erro

[2016-01-23 00:00] bgrant0607 commented on #19636
Doesn't seem very useful. :-)

[2016-01-23 00:03] zmerlynn commented on #19986
I think https://github.com/kubernetes/kubernetes/issues/19986#issuecomment-174078604 is the winner. The reboot tests are a red herring.

[2016-01-23 00:04] alex-mohr commented on #19953
nit: only if the disk is attached to the correct instance?

[2016-01-23 00:04] zmerlynn commented on #19986
I'm actually just seeing heapster flap on a fresh cluster, no reboots.

[2016-01-23 00:04] saad-ali commented on #19953
Right

[2016-01-23 00:07] alex-mohr commented on #19854
+1 to (d).

[2016-01-23 00:07] yujuhong commented on #19986
Heapster crashlooping is one problem. There are other cases, however, where kubelet just stops posting status all together. https://github.com/kubernetes/kubernetes/issues/19986#issuecomment-174040304
If heapster crashlooping can render kubelet unresponsive, that's a bug.

[2016-01-23 00:11] cjcullen commented on #19986
[Here](gpaste/6132225355546624) is the serial console output from the node that got pegged.

[2016-01-23 00:18] vishh commented on #18202
I'd suggest posting this question in the docker-dev mailing list. FYI: I
updated my host daemon recently to v1.10-rc1 and I did not face any issues.

On Fri, Jan 22, 2016 at 3:09 PM, Elias Levy <notifications@github.com>
wrote:

[2016-01-23 00:21] thockin commented on #20021
I'm staring at what could POSSIBLY cause it to not be ready, and I just
can't figure it out.  There's no readiness check, it has to mean that the
pod isn't running or kubelet has not reported it.

On Fri, Jan 22, 2016 at 2:20 PM, Dawn Chen <notifications@github.com> wrote:

[2016-01-23 00:23] lavalamp commented on #20034
"Timed out waiting for kubectl proxy"

This is a dup of #19252, I'm 95% sure.

@ixdy why is netcat not installed again?

[2016-01-23 00:23] lavalamp commented on #20034
Actually I'm so sure this is a dup that I'm closing it.

[2016-01-23 00:23] #20034 closed

[2016-01-23 00:24] vishh commented on #19896
Heapster can crash if InfluxDB is unavailable.

On Fri, Jan 22, 2016 at 6:46 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2016-01-23 00:25] lavalamp commented on #19252
@jlowdermilk reports more occurances.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/6612/console

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/6683/console

Netcat somehow is no longer installed?

[2016-01-23 00:25] dchen1107 commented on #19986
@cjcullen I guess the serial console you posted is from build 10426, the very recent one. I saw a similar one and the node never successfully come back. At this moment, I ignore those failures.

The reboot failure caused by heapster crashloop is similar to what I observed 2 days ago for influxdb in gce cluster. The comment is at https://github.com/kubernetes/kubernetes/issues/19189#issuecomment-17