[2017-11-08 09:21] xiangpengzhao commented on #55309
/sig aws

[2017-11-08 09:32] chenqy930 commented on #55281
I installed kubeadm/kubectl/kubelet/kubernetes -cni and loaded images(kube-apiserver-amd64 etc.) into docker, then kubeadm init, then I got the aforementioned result.

Is there any steps I missed? And how can I fix this?

[2017-11-08 09:38] dixudx commented on #55281
@chenqy930 Any logs on `kubeadm init` ?

[2017-11-08 09:39] gtie commented on #54138
It's worth noting that restarting etcd itself does not make the connections go away. They appear to be retried from the apiserver side, and as soon as etcd is back up, the flood resumes in full swing.

[2017-11-08 09:40] chenqy930 commented on #55281
That‘s it:
root@master:/home/k8s-1# kubeadm init
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.8.2
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks
[preflight] WARNING: docker version is greater than the most recently validated version. Docker version: 17.10.0-ce. Max validated version: 17

[2017-11-08 09:45] dixudx commented on #55281
@chenqy930 The images defined in the manifest cannot be pulled.

Please find out a way to download those needed images.

[2017-11-08 09:48] chenqy930 commented on #55281
I check the loaded images as follows, It seems they are already included.
root@master:/home/k8s-1/kubernetes/cluster# docker images
REPOSITORY                                                 TAG                 IMAGE ID            CREATED             SIZE
gcr.io/google_containers/pause-amd64                       3.0                 bc3585b6f659        About an hour ago   754kB
quay.io/coreos/flan

[2017-11-08 10:02] dixudx commented on #33532
@caesarxuchao Seems we does not bump a version for `client-go`.

[2017-11-08 10:04] sdminonne commented on #54579
OK, I didn't get it. Thanks for the clarification.

[2017-11-08 10:22] petrutlucian94 opened #55312 "OpenStack provider fails to locate volumes within Hyper-V guests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
While running k8s within Hyper-V guests provided by OpenStack, attempting to use Cinder persistent volumes fails. The OpenStack provider cannot retrieve the disk paths, for which reason mounting the PVs will fail.

Log:
[code]

**What you expected to happen**:
The OpenStack provider should be able to locate attached PV pa

[2017-11-08 10:45] shyamjvs commented on #54636
ping @fgrzadkowski @loburm

[2017-11-08 10:50] stamak commented on #50004
the same with k8s 1.8.2
Very easy to reproduce

Logs

[code]

[2017-11-08 11:31] jolestar opened #55314 "Flex volume use wrong device path to mount volume after node or cluster reboot and device path change"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. kubernetes store node's volume and devicePath in etcd.

such as:

| volumeID| pv  | devicePath|
|----------|----|-----------|
|vol-1  | pvc-1 |/dev/vdc|
|vol-2 | pvc-2 |/dev/vde|

2. when cluster or node reboot (such as machine power off)，In some cases，devicePath will change.

such as:

| volumeID| pv  | devicePath|
|-

[2017-11-08 11:35] jolestar commented on #55314
/sig storage

[2017-11-08 11:44] vikaschoudhary16 commented on #54088
cc @jeremyeder

[2017-11-08 12:01] joan38 commented on #17620
@pawelprazak https://github.com/kubernetes/kubernetes/pull/38636/files

[2017-11-08 12:31] pawelprazak commented on #17620
Thanks, good to know! Does it allow SG IDs or only CIDRs?

FYI: v1.8.2, v1.8.1, v1.8.0, v1.7.10, v1.7.9, v1.7.8, v1.7.7, v1.7.6, v1.7.5, v1.7.4, v1.7.3, v1.7.2, v1.7.1, v1.7.0 are listed in tags for this merge

[2017-11-08 12:40] jakexks commented on #54370
We rolled back to 17 and it works as expected, so this is definitely a bug in 1.8

[2017-11-08 13:01] kvitajakub commented on #48361
Hello, I tried dry running it and looks like it is missing in the spec.
[code]
[code]
No envFrom secret or configmap.
[code]

[2017-11-08 13:32] arun-gupta commented on #55278
@k82cn the configuration file had no requests/limits defined. Is this a default value assigned to all resources? Wondering when is `BestEffort` QoS ever assigned to a resource?

[2017-11-08 13:52] stamak commented on #53059
I have the same problem on k8s 1.8.2  (OpenStack)

how to reproduce is described here https://github.com/kubernetes/kubernetes/issues/50004

[2017-11-08 14:03] andyzhangx commented on #55031
@JiangtianLi FYI

[2017-11-08 14:23] JorritSalverda commented on #52444
Is there any way this can be fixed by running a custom fluentd? Or is there a fluentd docker driver github issue  I can follow for updates on when they expect to have this fixed? Txh

[2017-11-08 14:28] crassirostris commented on #52444
Problem is that there's no fluentd plugin to fix the problem, so running a custom fluentd won't help, there's nothing to add to the configuration to make it work (unless you want to write your own solution)

https://github.com/moby/moby/issues/34855

They don't think it's a docker problem and don't plan to fix it

[2017-11-08 14:33] chenqy930 commented on #55281
I found someone has the same problem here：
https://groups.google.com/forum/#!topic/kubernetes-dev/_NheOuYtsKQ

His used a lower version of docker and then the problem was solved.
But that didn't work for me.
I install docker-engine_1.11.2, and the problem is still the same.

Help.. T^T

[2017-11-08 14:38] korenlev commented on #44275
same here, so default install of latest dashboard gives you no dashboard access from remote , only through local (127.0.0.1) proxy, this might need fixing

[2017-11-08 14:44] korenlev commented on #44275
only workaround that helped me get access from remote is: https://kubernetes.io/docs/admin/kubelet-authentication-authorization/

[2017-11-08 14:45] korenlev commented on #39722
many facing same issue: https://github.com/kubernetes/kubernetes/issues/44275

[2017-11-08 14:51] korenlev commented on #39722
"I'd suggest following the dashboard instructions for setup and access at https://github.com/kubernetes/dashboard/blob/master/README.md"
so only access to dashboard is from localhost ? what if needed from remote ?

[2017-11-08 14:51] eparis commented on #52573
Might I suggest labeling volumes in the cloud provider. Any volume with the 'kubernetes-managed-attach=true' label which is found attached to a node that kube doesn't believe it should be attached to, should be detached by kubernetes.

[2017-11-08 14:56] kevincvlam commented on #54959
Got it, thanks so much for the update and fix @MaciekPytel ! Will the PR show up here once it's submitted?

[2017-11-08 15:00] antoniaklja commented on #54168
@dims is it still valid? if yes, could you give me more context?

[2017-11-08 15:12] JorritSalverda commented on #52444
That seems fair from Docker's perspective. I'd rather have stable containers as well :)

So you're thinking of switching from the current log drive `json-file` - at least that's what my Google Container Optimized image in GKE 1.8.1 uses - to the journald driver to circumvent the problem? And then use a plugin like https://github.com/okushchenko/fluent-plugin-docker-journald-concat to recombine the

[2017-11-08 15:23] crassirostris commented on #52444
@JorritSalverda

No, that's not the case. Solution is TBD, but if you export your logs to Stackdriver (that has a limit of 100KB per entry) you won't see the difference

[2017-11-08 15:58] beatlejuse commented on #54986
any ideas why key "--volume-plugin-dir" may be don't work in kubernetes 1.8.1 ?

[2017-11-08 16:23] arthur0 opened #55326 "Federated service discovery failed in hybrid cloud: OpenStack + GKE"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Following the  [guide](https://kubernetes.io/docs/tasks/federation/set-up-cluster-federation-kubefed/) to set up federation with kubefed and [another one](https://kubernetes.io/docs/tasks/federation/set-up-coredns-provider-federation/) to set up CoreDNS as DNS provider, is not possible to have service discovery based on r

[2017-11-08 17:06] msau42 commented on #54370
/assign @verult

[2017-11-08 17:13] gary-lloyd-tessella opened #55327 "kube-apiserver crash on invalid service replace request"
BUG REPORT

/kind bug

**What happened**:
I tried to submit a Service Replace (https://kubernetes.io/docs/api-reference/v1.8/#replace-155) to the kube-apiserver and this results the kube-apiserver container crashing and restarting.
PUT localhost:8001/api/v1/namespaces/<namespace>/services/<servicename>

**What you expected to happen**:
I expected the server not to crash and to get validation error

[2017-11-08 17:33] timothysc commented on #47131
PSA - we are waiting on a 3.2.10 client update.

[2017-11-08 17:44] bsalamat commented on #51656
@resouer Yes, this is what we need. We should also find a "verb" to communicate this with an extender:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/core/extender.go#L40

[2017-11-08 18:01] krzyzacy commented on #55303
whoooops did not realize this touches the pr job, I'll bump the image

[2017-11-08 18:02] jekohk commented on #54932
@kargakis sure I will take a look.

[2017-11-08 18:07] krzyzacy commented on #55303
should be fixed by https://github.com/kubernetes/test-infra/pull/5402

[2017-11-08 18:10] jiayingz commented on #54088
FYI, @vikaschoudhary16 mentioned he will work on modifying device plugin checkpoint code to use the newly added file store utility.

[2017-11-08 18:12] jpbetz commented on #55244
GKE upgrades now work and tests are passing agian.

[2017-11-08 18:12] #55244 closed

[2017-11-08 18:16] fejta opened #55330 "Eliminate test/OWNERS"
We should move things into test/FOO/OWNERS instead

https://github.com/kubernetes/kubernetes/pull/55319#issuecomment-342905734

/assign
/cc @spiffxp

[2017-11-08 18:22] wlan0 commented on #53462
@jhorwit2 I like the solution we discussed on the #wg-cloud-provider meeting this week.

We should ensure that UpdateLoadBalancer is properly documented to reflect that only the hosts associated with the LB are updated using this method.

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L103

[2017-11-08 18:22] wlan0 commented on #53462
@jhorwit2 I like the solution we discussed on the #wg-cloud-provider meeting this week.

We should ensure that UpdateLoadBalancer is properly documented to reflect that only the hosts associated with the LB are updated using this method.

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L103

[2017-11-08 18:22] wlan0 commented on #53462
@jhorwit2 I like the solution we discussed on the #wg-cloud-provider meeting this week.

We should ensure that UpdateLoadBalancer is properly documented to reflect that only the hosts associated with the LB are updated using this method.

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L103

[2017-11-08 18:22] Random-Liu commented on #55189
Github become pretty slow on my side.

I sent out a PR https://github.com/kubernetes/kubernetes/pull/55331.

As said by @yliaog, GKE is not using `cluster/config-default.sh` and `cluster/config-test.sh` in open source, but we only added the default value in those files.

In https://github.com/kubernetes/kubernetes/pull/55331, we apply a default in `cluster/gce/gci/configure.sh`, which should fix t

[2017-11-08 18:25] krzyzacy commented on #55303
/close

[2017-11-08 18:25] #55303 closed

[2017-11-08 18:53] srossross commented on #43924
@pompomJuice, could this be a minikube image issue. I am not able to even curl this site

[code]

[code]

[2017-11-08 19:10] cmluciano commented on #31307
I will not be able to work on this in the 1.9 release

[2017-11-08 19:12] pompomJuice commented on #43924
Exactly my point. That curl error is just plain wrong. It is telling you that you have the certificates but they are self signed. I find that highly unlikely.

That means that that error message is just plain wrong. This connects with my previous point that almost nobody implements this stuff correctly.

[2017-11-08 19:15] danehans commented on #31307
@luxas do you find it acceptable to list HostPorts as a caveat for IPv6 alpha support in 1.9?

[2017-11-08 19:28] bsalamat opened #55333 "Scheduler should not use an assignment filter when installing event handlers for Pods"
Scheduler uses filters [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L167) and [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L187) when installing event handlers on Pod informers. The filters separate assigned and unassigned pods. However, this causes scheduler to receive a non-intuitive seq

[2017-11-08 19:41] xiangpengzhao commented on #55327
@gary-lloyd-tessella thanks for reporting this! Seems like this is similar to #54898 and should be fixed by #49258.
@liggitt @freehan can you PTAL that PR to see if it's good to merge?

[2017-11-08 19:44] bsalamat commented on #55284
/assign @lichuqiang

[2017-11-08 19:44] dims commented on #54168
@antoniaklja - if you see the 2 linked comments, the first one talks about where we do the check for the in-cluster config and the second one as about adding a common place where we can put the code for converting in-cluster-config to an on-disk kubeconfig. we need to try to clean up both those things.

cc @timothysc

[2017-11-08 19:46] yliaog commented on #55189
lgtm

[2017-11-08 20:05] luxas commented on #31307
@danehans As long as it's documented, it's ok to have as a non-goal for alpha.

[2017-11-08 20:38] crassirostris commented on #54010
Still not fixed, in version 1.8.2:

[code]

[2017-11-08 20:49] liggitt commented on #54010
fix is in master in https://github.com/kubernetes/kubernetes/pull/54046

[2017-11-08 20:49] #54010 closed

[2017-11-08 20:55] crassirostris commented on #54010
Oh, sorry, I though it was cherry-picked already

[2017-11-08 21:02] alvaroaleman opened #55337 "Kube-Proxy blocks ipv6 nodePorts when running in ipv4 mode"
/kind bug

**What happened**:

Kube-Proxy binds to IPv6 nodeports

**What you expected to happen**:

Kube-Proxy not doing anything ipv6-related when running with `--bind-address=0.0.0.0` arg

**How to reproduce it (as minimally and precisely as possible)**:

1. Run Kube-Proxy with `--bind-address=0.0.0.0` arg
2. Create a nodeport service
3. Run `ss -6ltpn|grep kube-proxy`

**Anything else we need

[2017-11-08 21:06] alvaroaleman commented on #55337
/sig network

[2017-11-08 21:40] danehans commented on #31307
@mmueen please see ^ as this caveat needs to be documented for 1.9

[2017-11-08 21:40] satheessh commented on #10323
does it supported in aws? Really good feature.

[2017-11-08 22:16] abstrctn opened #55346 "ReplicaSet names no longer match pod-template-hash label"
/kind bug

**What happened**:
Generated names of ReplicaSets follow a new (more consistent) pattern introduced with #51538. However, this means that the names of ReplicaSets no longer match the `pod-template-hash` label added to ReplicaSets and their Pods.

From the [Workloads documentation](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment):

**What you e

[2017-11-08 22:56] msau42 commented on #54370
@jakexks @dodwyer can you verify that you are using the default kubernetes scheduler, with the default scheduler policy?

[2017-11-08 23:04] spzala commented on #52409
@RahulG115 hi, one option is use of helm https://github.com/kubernetes/helm for specifying variables in yaml. Also, questions should be asked on https://stackoverflow.com/questions/tagged/kubernetes for a quick answers. If you search there you will find few answers already out there. If you are fine with it, can you please close this issue? Thanks!

[2017-11-08 23:16] spiffxp commented on #55330
/priority important-soon
/sig testing
I think it's on us and anyone else in test/OWNERS to get out of this mess, and we can tag with other sigs if there are dirs in here they ought to be owning but aren't

/sig scalability
I think @shyamjvs has a few specific dirs he could be in instead of test/OWNERS

[2017-11-09 00:17] fweiss opened #55355 "hub"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-11-09 00:43] JorritSalverda commented on #52444
I think there's still a difference in that the 100KB stackdriver logging limit is larger than the 16KB docker limit at which the partial messaging starts, so without proper recombination of those chunked messages you'll lose the ability to send log lines larger than 16KB into stackdriver.

However we're also running our own fluentd that sends messages straight into pub/sub, which has a limit of 10

[2017-11-09 00:54] spzala commented on #52167
@olekzabl hmm..what version of k8s are you on? If I understood it right, I could not recreate it on minikube running v1.7.5.
[code]
$ kubectl get pods --all-namespaces -o yaml | grep "/api/v1/namespaces/default/pods/pending"
    selfLink: /api/v1/namespaces/default/pods/pending
[code]
$ kubectl get pods --all-namespaces
NAMESPACE     NAME                          READY     STATUS             RESTA

[2017-11-09 00:56] verult commented on #54370
What are your node taints?

[2017-11-09 01:13] dixudx commented on #55303
@krzyzacy Thanks

[2017-11-09 01:13] #49760 closed

[2017-11-09 01:15] spiffxp commented on #55189
/reopen
I'd like to hold this open until I see the results on testgrid

[2017-11-09 01:18] spiffxp commented on #55189
/reopen
...
😑

[2017-11-09 01:19] mtaufen opened #55359 "Dockershim doesn't consider seccomp profile root?"
While auditing absolute/relative path behavior in the Kubelet, I came across this: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/helpers_linux.go#L61-L66

[code]

It looks like it just ignores the root directory altogether, and reads relative to the Kubelet's CWD.

/cc @tallclair @yujuhong @feiskyer

[2017-11-09 01:26] msau42 commented on #54370
We are unable to reproduce the problem.  Please check your scheduler configuration and that you've enabled the VolumeZone predicate (it should be enabled if you're using the default scheduler).

[2017-11-09 01:36] spzala commented on #52020
@2vcps hi, just wondering, seems like this issue can be closed now as it's no more a bug? Thanks!

[2017-11-09 01:38] dixudx commented on #52020
/close

Since this is not a bug, just a question.

[2017-11-09 01:38] #52020 closed

[2017-11-09 01:58] igoratencompass opened #55363 "Issues with Kops upgrade of K8S from 1.6.6 to 1.7.10, DNS controller seems broken"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

 /kind bug

**What happened**:
Upgraded k8s Kops cluster from 1.6.6 with Calico cni to 1.7.10. Followed the instructions as described in https://github.com/kubernetes/kops/blob/master/docs/upgrade_from_kops_1.6_to_1.7_calico_cidr_migration.md to configure Calico properly before upgrade.

[code]
and one of the calico pods:
[code]
From what I

[2017-11-09 02:01] igoratencompass commented on #55363
@kubernetes/sig-kops

[2017-11-09 02:17] lichuqiang commented on #55333
Not quite sure about your meaning here. Could you give it a practical use case?

[2017-11-09 02:19] dixudx commented on #54010
#55364 cherry-pick to release-1.8

[2017-11-09 02:21] Lion-Wei commented on #55337
It says `bind-address` is the IP address for kube-proxy to server on, set to 0.0.0.0 for all interfaces... I'm not sure whether if set `bind-address=0.0.0.0`, then kube-proxy should blocks ipv6 nodeports,,,

[2017-11-09 02:27] defcyy commented on #55043
@gogeof  I change the default kube-proxy daemonset yaml file generated by kubeadm, mount the host path /lib/modules to the kube-proxy container,  give the specific command parameters --proxy-mode=ipvs and --ipvs-sync-period=1m. then kube-proxy run in IPVS mode successful.
but I think it's just a workaround.

[2017-11-09 02:31] #55199 closed

[2017-11-09 02:32] igoratencompass commented on #55363
Config from one of the kube-api pods:

[code]

[2017-11-09 02:34] huaixichen commented on #54471
I saw similar strange behavior in our environment as well. From logs point of view, it is hard to ping-pong whether it is a Fabric Java SDK issue or a Kubernetes scheduler issue...  From reproduction point of view, it is even harder, since I only saw it once in our production environment.

Could anyone give my some sparks on this?

[2017-11-09 02:55] spzala commented on #52020
@2vcps just fyi, https://stackoverflow.com/questions/tagged/kubernetes  is a good place to ask k8s questions. @dixudx thanks!

[2017-11-09 02:58] bgrant0607 commented on #53600
I am not in favor of a specific bar for non-functional attributes.

I am in favor of requiring vendors to inform users of the limitations.

[2017-11-09 03:01] xinyisu79 commented on #44033
@DirectXMan12 : Is there some commit plan for this issue? We are leveraging StatefulSet pod and auto scaling.  This feature is very beneficial to us.
Your reply is much appreciated.

[2017-11-09 03:04] spiffxp commented on #54574
/reopen
I'm still seeing this here https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial

Unless we decide to punt that job from release-master-blocking, this is now impacting 1.9.0-alpha.3 (https://github.com/kubernetes/sig-release/issues/27)

[2017-11-09 03:04] spiffxp commented on #54574
/kind bug
/status approve-for-milestone

[2017-11-09 03:05] spiffxp commented on #54574
/status approved-for-milestone
(new comment since the bot doesn't accept edits) I can type, I swear

[2017-11-09 03:08] fejta-bot opened #55367 "Failure cluster [2a5eae...] failed 124 builds, 32 jobs, and 1 tests over 1 days"
### Failure cluster [2a5eae9825c8ae3953dc](https://go.k8s.io/triage#2a5eae9825c8ae3953dc)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    32 jobs failed,    124 builds failed.
Failure stats cover 1 day time range '8 Nov 2017 02:28 UTC' to '9 Nov 2017 02:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 32 |

##### Top

[2017-11-09 03:12] bsalamat commented on #55333
@lichuqiang As I have already mentioned, this is already confusing, because when a pod is scheduled, we see a delete followed by an add events for the pod, while we should instead see an update for the pod.

[2017-11-09 03:38] xiaods opened #55368 "Proposal: Let K8s support change internal storage configMap K/V to external config server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
we are working on build a config server with k8s, we are proposal enable a external config server to support store configMap based on external config Server.  it benefit for enterprise config management purpose.

**background**:
This configuration data can then be used as:
* Environment variables
* Command-line argum

[2017-11-09 03:41] xiaods commented on #55368
/sig apps

[2017-11-09 03:45] xiaods commented on #55368
/kind feature

[2017-11-09 03:46] guangxuli commented on #55333
After practice in my local cluster, confirm that the event order looks like: delete->add->udpate, which consistent with @bsalamat has mentioned.

[2017-11-09 03:52] lichuqiang commented on #55333
I have no doubt about the behavior in event, just a little doubt about part of

That is, whether the issue is motivated by practical use case or is of structure optimization:)

[2017-11-09 03:53] arun-gupta opened #55369 "Kubectl reported a Deployment scaled where as replicas are unavailable"
/kind bug
/sig api-machinery

**What happened**:

kubectl reported a Deployment scaled even when the replicas were unavailable.

**What you expected to happen**:

All replicas in the Deployment were unavailable and even then the command output showed that Deployment scaled.

**How to reproduce it (as minimally and precisely as possible)**:

Create a Deployment using the configuration file:

[code]

[2017-11-09 03:56] bsalamat commented on #55333
@lichuqiang What I meant is that this behavior is not obvious and people who are not aware of it may write code with the assumption that the update event handler is invoked when a pod is assigned. This could potentially introduce subtle bugs which are hard to debug.

[2017-11-09 03:58] lichuqiang commented on #55333
@bsalamat Oh, Gotcha. Many thanks for explanation.

[2017-11-09 03:58] Lion-Wei commented on #55281
Is there any proxy in your environment? If so, you may want to add `no_proxy="127.0.0.1,localhost` to your environment and try again.

[2017-11-09 04:21] m1093782566 commented on #54916
cc @thockin

[2017-11-09 04:23] #55124 closed

[2017-11-09 04:39] msau42 commented on #53423
Sounds like this is intended behavior.  Can we close this issue?

[2017-11-09 04:47] msau42 commented on #50983
/assign

[2017-11-09 04:48] msau42 commented on #50983
Please reopen if you still see the issue.

/close

[2017-11-09 04:48] #50983 closed

[2017-11-09 04:50] msau42 commented on #50894
@CallMeFoxie have you seen the issue again?  Sometimes this can happen if you still have another shell open in that directory.

[2017-11-09 04:53] msau42 commented on #50521
@akgunjal do you still see this issue?

[2017-11-09 04:54] msau42 commented on #50312
/assign

[2017-11-09 04:54] msau42 commented on #50312
Please reopen if you still see the issue

/close

[2017-11-09 04:54] #50312 closed

[2017-11-09 04:55] thockin commented on #8976
Another that might be worth considering is https://github.com/sanity-io/litter - I like that emits Go-style literals.  Unclear if that can be compacted into 1 line, if it handles map keys and things as well as spew does.

[2017-11-09 04:55] msau42 commented on #49926
@amolsh are you still seeing this issue?

[2017-11-09 04:59] msau42 commented on #48701
/assign

[2017-11-09 04:59] msau42 commented on #48701
/close

[2017-11-09 04:59] #48701 closed

[2017-11-09 05:04] msau42 commented on #47125
Please use the Ubuntu node image for your xfs needs.

/close

[2017-11-09 05:04] #47125 closed

[2017-11-09 05:07] akgunjal commented on #50521
@msau42 : This issue is not reproducible as we do not know what causes this issue. It had happened few times for us in our clusters. So the issue is actually not resolved as the cause of this issue is not known yet.

[2017-11-09 05:10] msau42 commented on #44370
@avagin, @IlyaSemenov do you still see the issue?

If at the time you created the PVC, you did not have a default storage class, then the admission controller will not be able to fill in the name of the default storage class into the PVC object.

[2017-11-09 05:11] stewart-yu commented on #55219
It seen that thoes format error log in apiserver not match this output format in client-go/rest/config.go, and no other output format like this.
![image](https://user-images.githubusercontent.com/30410021/32588412-82319190-c549-11e7-8025-be5739e5001d.png)

[2017-11-09 05:16] msau42 commented on #41198
/assign

[2017-11-09 05:17] msau42 commented on #41198
Please reopen if you still see the issue

/close

[2017-11-09 05:17] #41198 closed

[2017-11-09 05:20] msau42 commented on #39201
/assign

[2017-11-09 05:20] msau42 commented on #39201
/close

[2017-11-09 05:20] #39201 closed

[2017-11-09 05:23] nicksardo commented on #53886
@Kenblair1226  Keeping the session affinity on the backend service, try using externalTrafficPolicy=Local on the service instead of setting sessionAffinity.

[2017-11-09 05:32] oikomi commented on #54471
hum, this issue also appears in our company's production environment, I'm collecting log information
, It seems to be a transactional error in controller manager.

[2017-11-09 05:34] justinsb commented on #55219
It's because the format has not been substituted here:https://github.com/kubernetes/ingress-gce/blob/master/vendor/k8s.io/client-go/pkg/version/base.go#L55

[2017-11-09 05:51] amolsh commented on #49926
Yes, it did not resolve, so I stopped trying.

On Nov 9, 2017 10:26 AM, "Michelle Au" <notifications@github.com> wrote:

@amolsh <https://github.com/amolsh> are you still seeing this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/49926#issuecomment-343047278>,
or mute the thread
<https://

[2017-11-09 06:02] guangxuli commented on #55333
hi @bsalamat do you have plan to fix this confusing, if not, i'd like to go deeply into details and fix this confusing. :)

[2017-11-09 06:08] #42542 closed

[2017-11-09 06:10] wackxu opened #55374 "initialresources admission plugin flags pollute all commands"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 kind feature

**What happened**:

The same problem as issue https://github.com/kubernetes/kubernetes/issues/55284

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configu

[2017-11-09 06:24] Lion-Wei commented on #54916
[code]

[2017-11-09 06:51] bsalamat commented on #55333
@guangxuli I am pretty occupied. I actually filed the issue with the hope that someone would help fix the issue. I am glad that you want to work on it. I will be happy to review PRs. Thanks!

/assign @guangxuli

[2017-11-09 06:53] ahmetb commented on #22121
To be clear, that way is only one of the ways that are recommended in [the doc](https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#accessing-the-api-from-a-pod). If you don't have a k8s client library in the language you’re using, then `kubectl proxy` makes it easy to authenticate. If you are using Go/Python or another language that we have a client in, you don't need a sideca

[2017-11-09 06:56] #54254 closed

[2017-11-09 06:58] m1093782566 commented on #54916
@MrHohn

Can we run IPVS CI with OS images other than GCI OS?

[2017-11-09 07:12] CallMeFoxie commented on #50894
I've had that happen on the forementioned kubernetes version a few times, since then we did a rolling upgrade to 1.7.9 but was not at work during the last update of this service where it has the highest chance of happening (422 pods in two statefulsets).

I think this was more of "it is unmounted and deleted but Kubelet thinks it is still mounted". The pods were stopped and I sure was not SSHed to

[2017-11-09 07:23] lichuqiang commented on #55284
As @wackxu mentioned, admission initialresources seems faced the same scenario.

[2017-11-09 07:24] nicksardo commented on #50866
This doesn't seem to be specific to websockets or GCP. Session affinity at the node->pod level stops working when externalTrafficPolicy=Local. cc @bowei, is this known/expected behavior?

@briangruber When you refresh the browser, it's probably re-using the existing keep-alive connection which is why your request hits the same pod. If you were to curl the same endpoint over-and-over, you (just as

[2017-11-09 07:32] chenqy930 commented on #55281
I don't have any proxy.
 I was trying to init kubeadm with no Internet connection.

[2017-11-09 07:36] clhodapp commented on #22121
@ahmetb The recommendation is presently language-unconditional when the access is from within a pod.

[2017-11-09 07:39] digglife commented on #40182
@bboreham it works. Thank you!

[2017-11-09 07:54] lichuqiang opened #55378 "Apiserver would panic if ImagePolicyWebhook enabled and no configuration provided"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If start apiserver with ImagePolicyWebhook  admission enabled , and no configuration provided, apiserver would panic:
[code]

**What you expected to happen**:
Return error in an elegant way

/sig apps

[2017-11-09 08:05] jethrogb commented on #33881
With kubeadm, DNS IP is always the kubernetes cluster IP with a "0" appended, there should be no need to specify it separately.

[2017-11-09 08:08] alvaroaleman commented on #55337
I am not sure I understand your point. If run with `bind-address=0.0.0.0`, kube-proxy does not create any iptables rules for ipv6, it just listens on the ipv6  node ports which means they can not be used.

When kube-proxy is run with `bind-address=::` it will create iptables rules for both ipv4 and ipv6. From that behavior I assumed that `bind-address=0.0.0.0` means use ipv4 only. Correct me if I

[2017-11-09 08:20] #50480 closed

[2017-11-09 08:20] #50481 closed

[2017-11-09 08:52] gregory-lyons commented on #54932
What about Deployments that specify multiple containers/images?

IMO it would be useful to have a more general way of specifying some arbitrary metadata associated with a Deployment rollout to show up in the `rollout history`, as described in https://github.com/kubernetes/kubernetes/issues/25554. This could be image tag, git commit, CI build identifier, change author, etc.

This already exists to

[2017-11-09 08:59] #50787 closed

[2017-11-09 08:59] #54054 closed

[2017-11-09 09:13] gogeof commented on #55043
@defcyy thanks a lot. load /lib/modules/3.10.0-514.el7.x86_64/modules.dep.bin is ok, but no "ipvs" proxy-mode. which version you use? My version is: v1.8.2
by the way, this problem still here: Failed to execute iptables-restore for nat: exit status 1 (iptables-restore: line 7 failed)
[code]

[2017-11-09 09:17] gmarek commented on #53600
I somewhat disagree - I'm not sure we can depend on vendors to do exhaustive testing if they're not obliged to by the conformance. I may be too cynical, but I expect conformance tests, even though it's officially a minimal bar, will be close to maximal testing scenario of among vendors as well. Everything boils down to what user experience we want to guarantee.

[2017-11-09 09:31] chenqy930 commented on #55281
It is due to the docker version.
I try the same steps in a cleaner environment which has not installed a v17.10.xx-ce before, and the problem was solve!

[2017-11-09 09:35] matthiasr commented on #42542
#54773 only solves this for the dnsPolicy: Default. Should we open a new issue for dnsPolicy: ClusterFirst?

[2017-11-09 09:40] andyzhangx commented on #54570
update: code complete, I need to do some test before sending PR:
https://github.com/andyzhangx/kubernetes/commit/bb42103fcafdd989e8776abbc8374c2c592fc356

[2017-11-09 09:54] discolt opened #55386 "Cadvisor unable to find data for container /"
/kind bug

Cadvisor can't collect container metrics

[code]
**Environment**:
- Kubernetes version:  v1.8.1
- Docker version:  v1.2.6
- Kernel：Kernel version is 3.10.0-327.ali2010.rc7.alios7.x86_64.

Removed cadvisor-port=0 in kubeadm

[code]

--------

[code]

/sig cadvisor

[2017-11-09 09:58] discolt commented on #55386
kubelet logs

[code]

[2017-11-09 10:01] gogeof commented on #55043
here is what I modify in the end: (kubeadm/app/phases/proxy/manifests.go)
[code]

[2017-11-09 10:17] shiywang opened #55391 "./hack/update-staging-godeps.sh failed"
[code]

[2017-11-09 10:17] markfermor commented on #42885
I was going to create a bug report but see one already exists. I'm seeing similar problems (maybe because my CLI version is ahead of cluster version?), but wanted to make it noted that it's not just ingresses that might be missing..
[code]

Otherwise, I'd say there's quite a few missing resources - considering the "all" flag:
[code]

Also two deployments were in the results above, but if i try to

[2017-11-09 10:18] shiywang commented on #55391
/area test

[2017-11-09 10:32] jakexks commented on #54370
We don't do anything clever with our scheduler configuration, it's here: https://gist.github.com/jakexks/6d2ebb328b3ca14b35c22c3255f25fea

Are there any more logs I can provide? I'll try to do some more investigation, but identical config (with the hyperkube image rolled back to 1.7.10) schedules correctly

[2017-11-09 10:34] sttts commented on #53379
@CaoShuFeng can you confirm this is completely fixed? The PR writes "partial fix".

[2017-11-09 10:43] CaoShuFeng commented on #53379
@sttts
Now we can't reproduce this issue with the method descripted above.

I still need some I extra time to research it.
Maybe we can close this one.
If I can reproduce the issue in another way, I can open another issue with new situation.

[2017-11-09 10:46] jakexks commented on #54370
Our master nodes have
[code]
Our worker nodes are untainted.

Example kubectl describe node: https://gist.github.com/jakexks/5e8bad5e28a76333cca069f22be249c2

[2017-11-09 10:55] sttts commented on #53379
If it's not fixed, let's keep it open.

[2017-11-09 10:58] #54917 closed

[2017-11-09 11:03] antoniaklja commented on #54168
Thanks @dims ! Let's summarize everything before I start working on that:
- flag `TestContext.NodeE2E` indicates if test is running on the node not within pod
- we would like to have just one check if test is running within pod or on the node
- we would like to move `LoadConfig()` into one common place (probably to `AfterReadingAllFlags`) and initialize and use it only once
- what do you think abo

[2017-11-09 11:16] nikhita commented on #55355
This doesn't look like a valid issue.

[2017-11-09 11:35] soltysh commented on #54904
@foxish you're right the backoff should restart, my goal with this so it works similarly to how the backoff works in kubelet, with failed pods. I'll try to find some time next week and get it fixed properly.

/assign soltysh

[2017-11-09 11:38] jsafrane commented on #55074
That's the reason we should not force detach volumes. Arbitrary 6 minute timeout is IMO wrong:

1. something deletes a pod
2.
   * kubelet starts unmounting
   * a/d controller starts 6 minute timer
3. a/d controller detaches the volume after 6 minutes.

What makes us sure that 6 minutes are enough to stop and unmount a pod? kubelet may be perfectly working, it just takes longer time. At this poin

[2017-11-09 12:20] discordianfish opened #55397 "container_fs_* stats always 0 for all containers created by k8s"
/kind bug

**What happened**:
All cadvisor container_fs_* stats are 0, except a few without pod/image labels which I assume are for the root cgroup:
[code]

**What you expected to happen**:
Have these stats return right values..

**How to reproduce it (as minimally and precisely as possible)**:
As far as I can tell, this should happen on a fresh install too.

**Environment**:
- Kubernetes version

[2017-11-09 12:29] discordianfish opened #55398 "Improve cadvisor (integration) tests"
Every other kubernetes release the metrics provided by cadvisor seem to break. This not only just happened again in #55397 but also earlier in #48483, #33192 and #25131.

These issue usually not only end up in the stable releases but even on cloud providers like GKE where these are sometimes the only supported versions.

I think this should be prevented by improving the cadvisor integration tests

[2017-11-09 12:39] defcyy commented on #55043
@gogeof IPVS mode is still feature-gated, it works with the flag `--feature-gates=SupportIPVSProxyMode=true ` . And the `--ipvs-sync-period`  flag is also required.

for example:
[code]

[2017-11-09 12:53] phsiao commented on #42542
https://github.com/kubernetes/community/pull/1276 Should cover the ClusterFirst or more general use cases.

[2017-11-09 13:15] testcaoy7 commented on #8235
I also ran into this problem. I use WebUI. How to individually quote args in their array? I tried to add leading dash in the "Run command arguments" field, but I got './entrypoint.sh - --args1 - --args2 ...' which is also wrong.

[2017-11-09 13:29] gogeof commented on #55043
@defcyy have you got this error?
[code]

[2017-11-09 14:06] shiywang commented on #55391
it's my networking problem maybe, so close

[2017-11-09 14:06] #55391 closed

[2017-11-09 14:13] #55304 closed

[2017-11-09 14:22] filipnowakswissre opened #55404 "container hostname not set properly for Pods using hostNetwork"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

For Pods using hostNetwork container names are set to the hostname of the node itself.
I observed this behavior for "bare" Pods and StatefulSets.

**What you expected to happen**:

In case of StatefulSet, even with hostNetwork feature being in use, I would expect the containers to have hostname matching: $(statefulset na

[2017-11-09 14:34] pjfanning opened #55405 "Support liveness and readiness probe with HTTP check that checks response text"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig node

*Problem:*
This is equivalent to the HAProxy `http-check expect string READY` (https://www.haproxy.com/documentation/aloha/7-0/haproxy/healthchecks/)
Based http://kubernetes.io/docs/user-guide/liveness/ it appears that the healthz checks only check the HTTP response code.
I'm working with a health check that is a company stand

[2017-11-09 14:35] filipnowakswissre commented on #55404
/area stateful-apps

[2017-11-09 14:56] itajaja opened #55406 "Network policy for allowing access only to public internet"
Kubernetes version: 1.8

I am using kubernetes to run third party untrusted code in isolation. I'd like these pods to only have access to the public internet. in order to do so, I have an Egress network policy with the following rule:

[code]

The problem with this is that I can't resolve public addresses like `google.com` because the pod doesn't have access to kube-dns. One approach would be to w

[2017-11-09 15:01] gnufied commented on #52573
Tuesday me & @jingxu97 had a conversation offline about fixing this "category" of problems. We came up with two ideas:

1. *Make Attach errors carry additional context* : Currently when a Attach fails we are simply returning `false` and `error` from volume plugin code. What I was thinking is, we can extend this `error` to carry some additional meaning. We can create a subtype of `error` which is r

[2017-11-09 15:03] countspongebob commented on #53600
I'm also not in favor. It ought to be possible to pass conformance testing on anything from a raspberry pi to gold plated enterprise super-servers which both ought to pass conformance, would be entirely appropriate to the use case and would have wildly different performance.

Related thought: I think the path here could be to have a standard benchmark that the vendor can publish the result of in a

[2017-11-09 15:04] zjj2wry opened #55407 "kubectl set image local will occur error when resources is daemonset"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install

[2017-11-09 15:04] zjj2wry commented on #55407
/sig cli

[2017-11-09 15:05] zjj2wry commented on #55407
Fixs by #54554

[2017-11-09 15:11] shyamjvs commented on #55246
This issue has been fixed after my above fixes. Latest green run - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/26
/close

[2017-11-09 15:11] #55246 closed

[2017-11-09 15:14] zjj2wry opened #55408 "kubectl set serviceaccount -o yaml should not continue print `resources "name" serviceaccount updated`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
admindeMacBook-Pro-2:kubectl admin$ ./kubectl set serviceaccount deployment/a abc -o yaml
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  annotations:
...
...
spec:
  replicas: 1
  selector:
    matchLabels:
      app: a
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate

[2017-11-09 15:15] zjj2wry commented on #55408
/sig cli

Fixs by #54554

[2017-11-09 15:16] shyamjvs commented on #52495
Ok.. With the ESIPP suite disabled, the job looks more greener - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness
There's still one networking e2e (not from ESIPP), that's failing:

[code]

@MrHohn can we fix this or should we also skip it (given that it is also LB-related)?

[2017-11-09 15:19] Eyjafjallajokull commented on #51275
Please confirm if `--volume-stats-agg-period` kubelet option is related to log message `fsHandler.go:131] du and find on following dirs took`.

I have similar issue. I'm running 10-20 pods with 2gb containers (a lot of files) and `du -s` is eating all available iops. Was trying to limit `du` calls by setting `--volume-stats-agg-period`, but seems it has no effect.

- kubernetes 1.8.1
- aws cloud
-

[2017-11-09 15:22] porridge commented on #52495
Also, now that we are not tracking the result of these tests at large
scale, we will need to mention this in the scalability validation report
for 1.9, like we mentioned the regression in 1.8 at the bottom of
https://github.com/kubernetes/features/blob/master/release-1.8/scalability_validation_report.md
Can sig-testing or sig-gcp come up with an appropriate wording for this
remark?

[2017-11-09 15:23] itajaja commented on #55406
cc @kubernetes/sig-network-proposals

[2017-11-09 15:24] mfojtik opened #55409 "get.go doesn't handle metav1.Status returned by rest.client"
Discovered here: https://github.com/openshift/kubernetes/pull/43/commits/0d5291cc63b7b3655b11bc15e8afb9a078049d09

The metav1.Status causing a panic on get projectrequests.

[2017-11-09 15:25] mfojtik commented on #55409
/assign smarterclayton

[2017-11-09 15:25] shyamjvs commented on #54651
PR https://github.com/kubernetes/kubernetes/pull/55247 seems to have done the trick. The latency has decreased

[from](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/7781/artifacts/PodStartupLatency_density_2017-11-09T09:29:39Z.json):

[code]

[to](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/7782/artifac

[2017-11-09 15:25] #54651 closed

[2017-11-09 15:25] mfojtik commented on #55409
@smarterclayton as requested.

[2017-11-09 15:26] shyamjvs commented on #55060
This has been fixed by @squeed 's PR above. Details here - https://github.com/kubernetes/kubernetes/issues/54651#issuecomment-343188666

[2017-11-09 15:26] #55060 closed

[2017-11-09 15:29] mfojtik commented on #55409
/sig cli

[2017-11-09 15:30] vladislavPV commented on #21613
I'm run running kubernetes 1.8.0 on ubuntu16
to get rid of "reply from unexpected source" error you have to :
`modprobe br_netfilter `
http://ebtables.netfilter.org/documentation/bridge-nf.html

[2017-11-09 15:31] wstrange opened #55410 "Pod Preset does not inject the init container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig cluster-lifecyle

**What happened**:

I created a Pod Preset to inject an environment variable. The Pod container gets properly injected, but the init container does not.

A small sample is here:

https://gist.github.com/wstrange/b9c1adc2139dab8f9b554a9d21b30bdd

**What you expected to happen**:

The init container would get the pod pr

[2017-11-09 15:32] justinsb commented on #55182
Correct @etsangsplk :-)

We still have the "normal" AWS retry logic - this is just an additional backoff.

Suggestion:  I like to look at the git history.  Blame leads to https://github.com/kubernetes/kubernetes/commit/b269e8f43cfd17edb32ff3107a2b5ab1fcb4ad8e, which links to https://github.com/kubernetes/kubernetes/pull/19335 .  Hopefully that'll have a little bit more context!

[2017-11-09 15:35] shyamjvs commented on #52495
I discussed this briefly with @MrHohn offline.
IMO, sth like the following seems reasonable:

[code]

SG?

[2017-11-09 15:42] at1984z commented on #53423
@msau42 The issue can be closed.

[2017-11-09 15:43] wstrange commented on #55410
/sig cluster-lifecyle

[2017-11-09 15:52] discolt commented on #55386
/sig cadvisor

[2017-11-09 16:00] runcom opened #55414 "DockerValidator should use the CRI, not the Docker API"
The DockerValidator in https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/system/docker_validator.go which is used by kubeadm preflights checks is using the Docker API directly. With kubernetes/kubernetes#55055 we're moving dockerisms to use crictl and the CRI. The DockerValidator should use crictl to gather Docker version via the CRI Version endpoint. However, the CRI isn't exposi

[2017-11-09 16:01] shyamjvs commented on #54637
Friendly ping @DirectXMan12 - this is now one among the only two tests failing in our [release-blocking scalability job](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness). Note that this is blocking the upcoming release and needs to be fixed asap.

[2017-11-09 16:09] runcom commented on #55414
@kubernetes/sig-node-bugs

[2017-11-09 16:18] crassirostris opened #55416 "Add cpu limit for fluentd-gcp addon"
Currently CPU consumption is not capped, which can be problematic in some setups

[2017-11-09 16:29] sambott commented on #28241
Left it as the non-intrusive solution in the end. There is an additional, optional config variable that can override or introduce additional ECR registry IDs.

[2017-11-09 16:58] jekohk commented on #54932
@gregory-lyons thanks for the feedback. I had the same concern, as to what would happen when a Deployment has multiple containers, and I agree it could get messy printing that out. But printing the full change command is also messy imo.

I think there is a general aversion the change-cause annotation & --record flag as it is (see #40422) and there are a few options to deal with this:

1. Keep the

[2017-11-09 17:00] jekohk commented on #54932
/cc @janetkuo

[2017-11-09 17:03] msau42 commented on #54370
Hm the predicate itself doesn't have much extra logging.  Only this potential [warning](https://github.com/kubernetes/kubernetes/blob/dd9981d038012c120525c9e6df98b3beb3ef19e1/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L511).  Maybe you can bump up your log level to 4 and see if you see that printed.

If that doesn't come up with anything useful, then we'll need to get help from someon

[2017-11-09 17:10] luxas commented on #54651
@shyamjvs Do we have any coverage what happens with these numbers if you're using a 3rd party CNI provider (Weave, Calico, Flannel, whatever)? If this ONLY fixes kubenet but throws a perf penalty to everyone non-GCE, I think we should reopen this issue.

[2017-11-09 17:13] msau42 commented on #53423
/assign

[2017-11-09 17:13] msau42 commented on #53423
Thanks

/close

[2017-11-09 17:13] #53423 closed

[2017-11-09 17:14] wstrange commented on #55410
My use case: I have an a git init container that checkout out configuration. This needs to run before the main container (hence why it is an init container).
I'd like to be able to simply annotate the pod with a label `configsource: git` and have various environment variables (GIT_REPO, etc) supplied to the init container

[2017-11-09 17:20] porridge commented on #54651
sig-scalability does not run tests with other CNI providers, AFAIK

[2017-11-09 17:27] squeed commented on #54651
The delay was on the CNI executable side; so it depends on the plugin being used. That said, it would be good to have that codepath under test in general.

[2017-11-09 17:28] jonhosmer opened #55418 "All HPAs suddenly stopped working after a worker node restarted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig autoscaling

**What happened**:
All existing HPAs stopped working and any new HPAs do not work.

**What you expected to happen**:
HPAs should work.

**How to reproduce it (as minimally and precisely as possible)**:

* [Create an HPA](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/):
[code]

(Note:

[2017-11-09 17:30] shyamjvs commented on #54651
We're not scale-testing with other CNI providers. One, because it seems to be the default option being used at head. Two, because it's simply not possible to scale test different configurations exhaustively due to resource and time constraints of running large cluster tests. So we choose to validate against (mostly) the default configs.

That said, opening this issue to study those options sg. How

[2017-11-09 17:33] porridge commented on #54651
I'd suggest opening a separate issue to track this, as it's unlikely to fit
in 1.9.

[2017-11-09 17:34] bgrant0607 commented on #53600
@countspongebob Yes, reporting benchmark results is along the lines of what I was thinking.

[2017-11-09 17:41] cmluciano commented on #54916
cc @ixdy I think I noted a comment from you about these modules recently, but I cannot find the issue/pr

[2017-11-09 17:44] justinsb commented on #52573
From the AWS perspective, I would prefer option 2.  I think it fixes more problems and helps with debugging (and I think we'll likely surface more problems!)  Option 1 is good, but is fixing just one case.

For AWS we would get the state of all volumes, which is a single call as far as quota is concerned.  I suspect that most clouds actually have similar cost models - a high overhead for a call an

[2017-11-09 18:19] BenTheElder commented on #54916
@cmluciano you did: https://github.com/kubernetes/kubernetes/pull/46580#issuecomment-342980714

[2017-11-09 18:22] nicksardo commented on #50866
/assign @MrHohn

[2017-11-09 18:23] bowei commented on #50866
@MrHohn can you take a look

[2017-11-09 18:30] gregory-lyons commented on #54932
I just want a customizable annotation that shows up in rollout history and will be stable/supported going forward (I don't think change-cause was designed to be overwritten, the current override behavior feels like a coincidence).

IMO option 1 perpetuates a weird relationship between `--record`, annotation, and template spec, it will just make it more explicit in logic buried somewhere. Documenti

[2017-11-09 18:32] DreadPirateShawn opened #55421 "Kube cronjob errors: "rpc error: code = 2 desc = Error: No such container" (PodSandboxStatus and PLEG)"
/kind bug

**What happened**:

Kube cronjob pods generate error-level logs despite completing successfully.

Sample error:
[code]

Pod lifetime for the error above:
[code]

**What you expected to happen**:

Cronjob pods should only generate error-level logs if they are failing to execute their task.

**How to reproduce it (as minimally and precisely as possible)**:

Create a kube cronjob, schedule

[2017-11-09 18:33] caseydavenport commented on #55406
@itajaja yeah, I think what you want to be able to do is allow to kubedns.

I think the best you could do right now is add another rule which allows DNS traffic to the kube-system namespace.

i.e.

Label your kube-system namespace:
[code]

Add another egress rule like this to your policy:

[code]

Note that this will allow DNS traffic to all pods in the kube-system namespace.

[2017-11-09 18:34] msau42 commented on #50894
Not just ssh to the node, but also to the pod that is mounting the volume.  How many pods with local volumes do you have per node?  Also, what type of local volume are you using?  A shared directory, or a separate mount point?  I can write some stress tests.

[2017-11-09 18:34] msau42 commented on #50894
/assign

[2017-11-09 18:35] caseydavenport commented on #55406
This is another use-case for https://github.com/kubernetes/kubernetes/issues/50451, which would allow specifying both a `namepaceSelector` AND a `podSelector`

[2017-11-09 18:36] msau42 commented on #49926
This seems like a possible issue related to EBS volumes.  Can @kubernetes/sig-aws-misc help out?

[2017-11-09 18:37] caseydavenport commented on #41943
The original problem I was encountering has been fixed by https://github.com/kubernetes/kubernetes/pull/54838.

I think the general sentiment is we don't want to run kube-proxy on the master, so users shouldn't run pods there.

[2017-11-09 18:37] #41943 closed

[2017-11-09 18:37] CallMeFoxie commented on #50894
the pods were long time stopped, there was no opened file to that mount point when I got to it - there may have been at the first attempt at unmounting though, unsure - I noticed the problem when the statefulset's pod was not coming up after a few minutes.
It is just a directory on the main HDD, not a dedicated mount point.

[2017-11-09 18:42] luxas commented on #54651
Ok, thanks.
cc @timothysc FYI

[2017-11-09 19:00] gdmello commented on #3595
@itskingori - I spent a good bit of time trying to get the memlock working with elasticsearch in kubernetes. Thanks to you I was able it get it [going](https://github.com/samsung-cnct/container-elasticsearch/compare/master...gdmello:support-mlockall).

[2017-11-09 19:24] MrHohn commented on #52495
Re the failure on `Services should be able to change the type and ports of a service` (https://github.com/kubernetes/kubernetes/issues/52495#issuecomment-343185832): checked the service controller logs and found it hit the same issue as ESIPP, below `resourceNotReady` error is being constantly emitted:
[code]

@shyamjvs Suggest to skip it for the same reason as for ESIPP tests.

[2017-11-09 19:25] MrHohn commented on #52495
cc @bowei for the scalability validation report being added.

[2017-11-09 19:27] #52348 closed

[2017-11-09 19:29] itajaja commented on #55406
I'd rather avoid that, since that would unnecessarily expose other kube-system services. Right now I am doing something like this in my pod definition:

[code]

where job-dns-config is a configmap which contains `resolv.conf='nameserver 8.8.8.8'`. It's not pretty but it's more restricting than the alternative. are there downsides to this?

[2017-11-09 19:49] wstrange commented on #55410
Update from Slack discussion:

Supporting Init containers is in the Beta proposal for PodPreset. PodPreset resource is going to be moved from core to service-catalog. We have an implementation based on Initializers, but looks like Initializers are not going to Beta soon and we might have to reimplement them using Webhooks.

[2017-11-09 20:06] yujuhong commented on #55359
@feiskyer could you take a look? Thanks!

[2017-11-09 20:09] enisoc commented on #55189
It's still failing, but it seems to be a different reason now. @yliaog is continuing to investigate.

[2017-11-09 20:14] DreadPirateShawn opened #55427 "Kube cronjob errors: "Failed to retrieve checkpoint for sandbox ...: checkpoint is not found.""
/kind bug

**What happened**:

Kube cronjob pods generate error-level logs despite completing successfully.

Sample error:
[code]

Pod lifetime for the error above:
[code]

**What you expected to happen**:

Cronjob pods should only generate error-level logs if they are failing to execute their task.

**How to reproduce it (as minimally and precisely as possible)**:

Create a kube cronjob, schedule

[2017-11-09 20:37] MrHohn commented on #50866
Reproduced the issue with 3 backend pods running on the same node and put a service with `type=LoadBalancer, ExternalTrafficPolicy=Local, SessionAffinity=ClientIP` in front. Request from the same client is being forwarded to different backends.

Turned out to be a bug with ESIPP  --- with ESIPP enabled, incoming packet will bypass the `KUBE-SVC` chain so that it will not hit the sessionAffinity ru

[2017-11-09 20:43] grosser opened #55428 "kubectl exec does not respect readOnlyRootFilesystem"
On v1.5.7

execing into a container with readOnlyRootFilesystem leaves the filesystem writeable
... it works fine when the container is regularly booted though a kubernetes Deployment

[2017-11-09 20:48] nicksardo opened #55429 "kube-proxy: session affinity stops working when ESIPP=Local"
/kind bug

https://github.com/kubernetes/kubernetes/issues/50866#issuecomment-343283650

**What happened**:
Traffic from the same client IP does not get routed to the same endpoint when externalTrafficPolicy=Local and sessionAffinity=ClientIP

[2017-11-09 20:49] nicksardo commented on #50866
Created a new issue #55429.
/close

[2017-11-09 20:51] arun-gupta opened #55430 "Multiple ResourceQuota in a namespace should not be allowed"
/kind bug
/sig api-machinery

**What happened**:

Could create multiple ResourceQuota objects

**What you expected to happen**:

https://kubernetes.io/docs/concepts/policy/resource-quotas/ states `There should be at most one ResourceQuota object in a namespace.`

kubectl should fault if more than one `ResourceQuota` is attempted to be created.

**How to reproduce it (as minimally and precisely as

[2017-11-09 20:54] nicksardo commented on #53886
/close

[2017-11-09 20:54] #53886 closed

[2017-11-09 20:57] ahmetb commented on #22121
@clhodapp sent a docs PR to better clarify:  https://github.com/kubernetes/website/pull/6259

[2017-11-09 21:01] ieugen commented on #45487
I'm adding my feedback here as it might help.
In my `/root/.docker/config.json` file I had two authentications. Each for another private registry (hosted by nexus, one simple registry for push and one group that proxied docker.io )

When I created regsecret as per instructions [1], deployment did not work.

I finally managed to fix it by removing the registry credentials with `docker logout regist

[2017-11-09 21:01] nicksardo commented on #55429
/sig network

[2017-11-09 21:16] mbohlool commented on #55150
@winjer What is the exact field you are editing?

[2017-11-09 21:16] mbohlool commented on #55150
/cc @caesarxuchao

[2017-11-09 21:17] lavalamp commented on #55219
This is the User-Agent header, which apiserver emits unaltered. IOW, this is a client bug, not an apiserver bug.

[2017-11-09 21:19] lavalamp commented on #55219
If you can figure out which client is doing it wrong, we can give this bug to them?

[2017-11-09 21:20] mbohlool commented on #55238
/cc @lavalamp @cheftako

[2017-11-09 21:20] yliaog commented on #55238
/cc @yliaog

[2017-11-09 21:20] MrHohn commented on #39423
Adding @shyamjvs in loop.

[2017-11-09 21:21] caesarxuchao commented on #55150
The validation error seems to be client-side. If you run `kubectl edit ... --validation=false`, does the error go away?

[2017-11-09 21:25] mbohlool commented on #55430
cc @derekwaynecarr

[2017-11-09 21:26] lavalamp commented on #55238
We currently recommend placing extension apiservers in an environment where cluster DNS works and routes to pod IPs work.

The main apiserver does not required this. We currently consider extension apiservers to run in a different tier; we can maybe reconsider this, but it wouldn't change instantly.

(see, @deads2k, other people do run like this!)

[2017-11-09 21:37] olivas-bo commented on #55150
I was having the same issue. In my case i was using 1.8.3 kubectl-cli with 1.7.10 server. Downgrading to 1.7.10 fixed it.

[2017-11-09 21:42] arun-gupta opened #55433 "Pod without an explicit CPU resource should not be created when ResourceQuota is enforced"
/kind bug
/sign node

**What happened**:

Pod without any explicit cpu request/limit could be created when ResourceQuota define CPU and memory constraints.

**What you expected to happen**:

Pod creation should fail and ask for explicit CPU resources. It seems a default CPU resource of `100m` is assigned to the Pod, and that's likely allowing the Pod creation to succeed.

**How to reproduce it (as

[2017-11-09 21:53] arun-gupta commented on #55433
This is still true even if `requests.cpu` is mentioned in the ResourceQuota. Seems like the default value of `spec.containers[].resources.requests.cpu` allows a Pod to be created without an explicit value.

This is contradictory to what is mentioned in the text at https://kubernetes.io/docs/concepts/policy/resource-quotas/#requests-vs-limits.

[2017-11-09 21:57] bkochendorfer opened #55434 "Blank tokens in `--token-auth-file`"
**What happened**:
While following through this tls [bootstrapping guide](https://kubernetes.io/docs/admin/kubelet-tls-bootstrapping/#token-authentication-file) I accidentally made a file with blank tokens. (format was `,kubelet,kubelet`). I noticed that there was a particular format recommended in this guide but I don’t see that we do any verification of the token when [loading the file](https://

[2017-11-09 22:02] caesarxuchao commented on #54981
What do you mean by "closing etcd service"?

The latency surge is expected if you shut down the etcd machine.

[2017-11-09 22:03] tallclair opened #55435 "PodSecurityPolicy should work with managed sidecars"
There is a Kubernetes design pattern emerging where a controller injects a sidecar into a PodSpec. For example this is the model used by the [Istio proxy](https://github.com/istio/proxy). If the managed sidecar requires elevated privileges beyond those used by the user-configured pod, then this poses a problem for the PodSecurityPolicy.

**Work arounds:**
1. Give the Pod SA access to the features

[2017-11-09 22:04] bkochendorfer commented on #55434
/sig auth

[2017-11-09 22:21] arun-gupta commented on #55369
/sig node

[2017-11-09 22:21] arun-gupta commented on #55430
/sig node

[2017-11-09 22:29] BenTheElder opened #55437 "build/rpms fails without rpmbuild installed, causing `make bazel-build` to fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: `make bazel-build` can fail with confusing errors caused by `build/rpms` (see: https://github.com/kubernetes/test-infra/issues/5429)

**What you expected to happen**: These targets should either be manual only or be hermetic. Additionally, these are not being run in CI because nothing depends on them. If they are not made

[2017-11-09 22:30] BenTheElder commented on #55437
/sig testing

[2017-11-09 22:33] BenTheElder commented on #55437
/assign
/assign @mikedanese, @kad, @ixdy
(please route as appropriate)

TLDR: `pkg_rpm` will eventually call `rpmbuild` which needs to be installed on the host to work, which causes builds to fail when it is not.

Depending on how we intend to support RPMs we need to either mark these targets manual or start hard depending on `rpmbuild` in more places (the `bazelbuild` image in CI, `planter` in te

[2017-11-09 22:39] mikedanese commented on #55437
This is a bazelbuild issue, not a kubernetes issue.

[2017-11-09 22:40] arun-gupta commented on #55430
Seems like this is a valid use case as discussed at https://github.com/kubernetes/kubernetes/issues/23698 but the docs have not been updated yet.

[2017-11-09 22:42] BenTheElder commented on #55437
@mikedanese ok, but we still need to handle it. `make bazel-build` failing while CI / presubmits are green *is* a kubernetes issue.

[2017-11-09 22:42] kad commented on #55437
yes, bazel's rules depends on pre-installed tools. Ideally, to make it less dependent from host tools and produce correct packages for different distributions tools like rpmbuild should be called within either choorts or better inside docker. This way we will be able to produce correct packages e.g. for CentOS/Fedora/OpenSUSE... but that require better implementation than stock pkg_rpm.

[2017-11-09 22:45] BenTheElder commented on #55437
Agreed, what do we want to do in the meantime though? I'm ok with hard-depending on rpmbuild for the moment if that's the answer, but we will will need to:
- document the requirement somewhere
- make CI actually build these
- add rpmbuild to our images
- figure out how to deal with this when we try to finish fixing native mac bazel builds (which otherwise mostly work now)

If these don't need to b

[2017-11-09 22:47] ixdy commented on #55437
I'm fine adding these tools to our bazelbuild image for now, but we should file an issue against upstream bazel because this is not a workable long-term solution.

[2017-11-09 22:51] kad commented on #55437
quick solution will be to add all needed tools to images. IMO, we do want to produce packages on every build, so we can start publishing those somewhere and be able to test them frequently.

[2017-11-09 22:53] jethrogb commented on #31307
Is this supposed to work now? I'm using kubelet version 1.8.2 and flannel from `quay.io/coreos/flannel:v0.9.0-amd64`

[code]

kubelet cmdline:
[code]

I'm not seeing any [iptables chains with CNI in them](https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap).

From pod spec:
[code]

[2017-11-09 22:56] BenTheElder commented on #55437
Ok, I also want to do something about those building locally as well though, I'm opening an issue upstream with bazel, but perhaps in the meantime we can at least note the requirement somewhere in the developer documentation.

The resulting error message is not particularly helpful so developers on systems without `rpmbuild` will be stuck when trying to `make bazel-build` on an otherwise functioni

[2017-11-09 23:35] liggitt commented on #55435
Containers cannot be added after creation. What injection point are you referring to? If admission, there is no notion of an "injecting user" distinct from the user initiating the creation request.

[2017-11-10 00:02] tallclair commented on #55435
Yeah, during admission, but also initializers will be able to mutate non-mutating fields (IIUC).

[2017-11-10 00:10] liggitt commented on #55435
Specifically for initialization, there's debate over whether validation (and the validating phase of admission) runs at all during initializing updates.

When initialization is completed, validation (and the validating phase of admission) does run, but:
* the identity it uses has to be that of the creating user, not merely the final initializer
* there's no record of which fields were changed by i

[2017-11-10 00:34] McOffsky opened #55445 "kubectl create configmap ... --dry-run ignores --namespace"
/kind bug

When running `kubectl create configmap` with `--dry-run` output does not contain namespace definition in metadata section.

After running
[code]
Metadata section does not contain namespace definition, only name.

**What you expected to happen**:
Metadata should contain namespace definition
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Compare output of
[code]

[2017-11-10 00:37] madhanrm opened #55446 "CheckpointNotFoundError is not returned on GetCheckpoint on error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
ErrKeyNotFound error is thrown when checkpoint is not found.
Behavior broken by last commit 2fd59d9960c87c32910fe9d275d835d979cbc553

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2017-11-10 00:54] stewart-yu commented on #55446
can you provide how to reproduce it?

[2017-11-10 01:04] yujuhong commented on #55446
Will send a fix shortly.

[2017-11-10 01:05] McOffsky commented on #55445
I needed this to output to apply command. It tunrs out namespace should be passed as apply command argument. My bad.

[2017-11-10 01:05] #55445 closed

[2017-11-10 01:10] madhanrm commented on #55446
/sig node

[2017-11-10 01:11] madhanrm commented on #55446
@yujuhong  Thanks. I was about to raise a PR. Validating on windows. Somehow missed it on previous validation

[2017-11-10 01:13] jethrogb commented on #31307
Got it working, make sure to get the latest `/opt/cni/bin/portmap` AND `/opt/cni/bin/flannel` from https://github.com/containernetworking/plugins/releases

[2017-11-10 01:23] defcyy commented on #55043
@gogeof document about ipvs kernel modules https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/ipvs#load-ipvs-kernel-modules

[2017-11-10 01:48] violalu commented on #54471
It's better to try reproduce it with go client to exclude it's fabric jdk or kubernetes problem

[2017-11-10 01:55] gogeof commented on #55043
@defcyy  thanks a lot, it work for me.

[2017-11-10 02:05] feiskyer commented on #40182
@squeed iptables-allow is cool. We should document this clearly when the plugin is ready.

[2017-11-10 02:08] abgworrall commented on #54574
I'm also seeing this on our OS image validation testgrid: https://k8s-testgrid.appspot.com/sig-node-cos-image#e2e-gce-cosbeta-k8sdev-serial

[2017-11-10 02:10] hzxuzhonghu commented on #55434
I will do this verify.

[2017-11-10 02:15] feiskyer commented on #55359
@mtaufen Not really, the seccompProfile is the full path passed from CRI:

https://github.com/kubernetes/kubernetes/blob/338ee7f5d56eb506082b7683566440ec1b271f8c/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L217-L223

[2017-11-10 02:16] feiskyer commented on #55359
Hmm, comments is wrong. Will send to PR to fix the comments.

[2017-11-10 02:30] MrHohn opened #55451 "Converge kubelet networking related codes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/sig network

**What happened**:
kubelet package contains multiple *network.go files, also some of the networking related codes scatter in different places, which is confusing and make it hard to reason about. We should try converging the network codes in kubelet package --- at least puting them into centralized places.

**Anything else we need to know

[2017-11-10 02:49] liqlin2015 commented on #27000
Any update on this issue? Will pod support iops and bps option as docker?

[2017-11-10 03:27] feiskyer commented on #55359
@tallclair do you mean add a filed in podspec instead of annoations?

[2017-11-10 03:40] tallclair commented on #55359
Isn't it already a field?

I meant that instead of a `string seccomp_profile_path` we have something like (pseudocode):
[code]

[2017-11-10 03:41] pycaster opened #55452 "Interpolation of pod environment variable in args of another pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I have jenkins service deployed to a it's own namespace. I have jnlp service deployed to it's own namespace as well but when I am trying to interpolate the kubernetes generated env variables of jenkins service in deployment (args) of jnlp, the interpolation is not behaving as expected.

**What you expected to happen**:

The args su

[2017-11-10 03:42] pycaster commented on #55452
Sure I am overlooking something here as other forums state this works as it is. Please point me any incorrect configuration here.

[2017-11-10 03:42] igoratencompass commented on #55363
Closing, will re-open in the kops repo

[2017-11-10 03:42] #55363 closed

[2017-11-10 03:45] lavalamp opened #55453 "`kube-apiserver` should export readiness information"
`kube-apiserver` should have a concept of whether it is currently ready for connections or not. It could say not when it is shutting down, initializing, or disconnected from etcd. This can be checked by kubelet and fed to a load balancer to keep clients from attempting to connect to a replica which is not ready.

#54849 adds a more graceful shutdown path, we should build on that.

[2017-11-10 05:46] anuraaga commented on #39423
Ran into this issue when rolling over from one node pool to another to use a different machine type. While the issue says the updates are slow, I saw that the services just didn't get updated at all and ended up manually reconfiguring the load balancer in the GCP console.

It seems important for services to not go down when doing operations like rolling over node pools, and I wonder if another imp

[2017-11-10 06:26] porridge commented on #55219
As you can see in https://github.com/kubernetes/kubernetes/issues/55219#issue-271738940 in the dev environment I've seen, it was at least glbc. I've also seen it sent by kube-dns and heapster.

[2017-11-10 06:29] porridge commented on #55219
What I mean is that it seems to be a problem in the build procedure for a subset of k8s binaries.

[2017-11-10 06:31] feiskyer commented on #55359
@tallclair It's a field in CRI already, but still comes from kubernetes pod annotations, not a field of PodSpec.

[2017-11-10 06:34] stewart-yu commented on #55219
I have set up cluster with local-up, seen that just using `kube-dns` have format error in kube-apiserver log. I will continue to effort.

[2017-11-10 07:27] #54770 closed

[2017-11-10 07:39] discolt commented on #55386
Bug at:

cadvisor/vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/cpuacct.go

[code]

inside my cAdvisor container,  cat  .....xxx/cpuacct.stat, Actually lenght is 6

[code]

[2017-11-10 07:53] roffe opened #55464 "error: unable to decode "STDIN": no kind "APIService" is registered for version "apiregistration.k8s.io/v1beta1""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I ran `kubectl auth reconcile` on a yaml I have that contains the following snippet:

[code]
error: unable to decode "STDIN": no kind "APIService" is registered for version "apiregistration.k8s.io/v1beta1"

**What you expected to happen**:
Nothing on that specific part, but a reconcile on the roles above the --- (redacted

[2017-11-10 07:53] roffe commented on #55464
/sig api-machinery

[2017-11-10 08:16] #50541 closed

[2017-11-10 08:16] #50542 closed

[2017-11-10 08:27] roffe commented on #47057
@wieslaw-gat then it's a issue with the images G is offering and you need to create a issue with them to have it modified.

Imho it's bad if Kubernetes starts making assumptions about the users system logs. What goes for one person might not fly at all for others.

[2017-11-10 08:28] The-Loeki commented on #27945
@spzala it is, but other issues track progress:

* https://github.com/kubernetes/features/issues/127
* https://github.com/kubernetes/kubernetes/issues/33508
* https://github.com/kubernetes-incubator/kubespray/issues/962

[2017-11-10 08:33] gogeof commented on #55043
@defcyy do you know how to fix this problem when use proxy-mode=iptables?
I have try to find out the reason, but failed, I use dlv to follow the process, but can't access this command(pkg/util/iptables/iptables.go): cmd := runner.exec.Command(cmdIPTablesRestore, fullArgs...)
[code]
and get fullArgs: [-T nat --noflush --counters]
cmdIPTablesRestore: iptables-restore

[2017-11-10 09:24] f7r commented on #50522
Same problem as @lenguyen89
I use Kubernetes v1.8.2, deploy by kubespray on CentOS 7.4
Ceph version is luminous(12.2.1)

describe pvc output as below:

    2017-11-10 09:16:20.569530 7efd702f6700  0 -- 172.22.117.221:0/1001521 >> 172.22.117.221:6789/0 pipe(0x7efd5c00e650 sd=3 :33126 s=1 pgs=0 cs=0 l=1 c=0x7efd5c009120).connect protocol feature mismatch, my fffffffffff < peer 4010ff8eea4fffb missin

[2017-11-10 09:27] sttts commented on #53379
Fun, a fork closing issues.

[2017-11-10 09:28] sttts commented on #53379
From https://github.com/kubernetes/kubernetes/pull/54780#discussion_r150165278:

Then I think we can officially close this.

[2017-11-10 09:28] #53379 closed

[2017-11-10 09:30] #55451 closed

[2017-11-10 09:38] f7r commented on #50522
If I set imageFormat: "2", and imageFeatures: layering in storageclass.parameters,
The problem will same as @nesc58

describe pvc output as below:

    Events:
      Type     Reason              Age   From                         Message
      ----     ------              ----  ----                         -------
      Warning  ProvisioningFailed  14s   persistentvolume-controller  Failed to prov

[2017-11-10 10:01] winjer commented on #55150
I don't need to change any fields at all - merely running `kubectl edit`
and then saving the file is enough to cause the problem.

Can also confirm that kubectl 1.7.10 does not exhibit this problem.

On 9 November 2017 at 21:38, Bruno Oliveira <notifications@github.com>
wrote:

--
Telephone: 01904 313981, Mobile: 07879 423002
Switchboard: 01904 313969, Fax: 020 79006980
Post: Swinegate Court East,

[2017-11-10 10:05] pksec opened #55471 "Kubeadm hosted install + Calico pod networking fails (kube-dns CrashLoopBackOff after 3m)"
## I used calico manifests and default kubeadm setup instructions sig/ help wanted
 - Submitted the same issue (on calico github https://github.com/projectcalico/calico/issues/1337), to see if the problem was from Calico or not. Any help is appreciated.
 -  I have successfully tested star-policy, advanced-policy demos few months back. Now it is not working. I have spent almost 2 days to find if I

[2017-11-10 10:12] pksec commented on #55471
/sig cluster-ops
/sig area/os/ubuntu
/sig area/kubelet

[2017-11-10 10:47] #54918 closed

[2017-11-10 11:14] mcginne opened #55473 "Kube continually tries to delete service that is already deleted"
/kind bug

**What happened**:
We have deleted a service with kubectl, which completed successfully:
[code]
`kubectl get services` does not show the service anymore.

I notice in kube-proxy log that it is regularly seeing updates to this service several hours later:
[code]
We have thousands of services, so `iptables-restore` takes a long time - so we would like to minimise the number of times it ge

[2017-11-10 11:30] #46083 closed

[2017-11-10 12:04] MaciekPytel commented on #55080
For future reference, using `PreferNoSchedule` for `partial fit` discussed above will not work too well with autoscaling, as autoscaler only calculates scheduler predicates, not priorities. `perfect fit` with `NoSchedule` taints (which AFAIU is what we're going with anyway for now) should work fine.

[2017-11-10 12:16] RahulG115 commented on #52409
thanks !
@spzala

[2017-11-10 12:16] #52409 closed

[2017-11-10 12:31] deads2k commented on #55464
`kubectl auth reconcile` is used for modifying RBAC resources, but for other resources you should use `kubectl apply`.  `kubectl auth reconcile` exists because decisions about whether and how to change, add to, or remove values in roles and bindings require semantic coverage checks.

[2017-11-10 12:32] #54636 closed

[2017-11-10 12:40] Vlaaaaaaad commented on #28610
This is also relevant for us. Any updates?

[2017-11-10 12:41] MSKPV commented on #44665
I can't find admin.conf what to do now plz help me

[2017-11-10 12:42] roffe commented on #55464
@deads2k thank you for your answer.

To elaborate so you actually understand the bug report:

There is 1 big rendered yaml file separated with `---` for each manifest. This will contain deployments, ingress rules etc AND RBAC stuff.

And in this case also a APIservice as i'm deploying metrics-server. This file is applied with `kubectl apply`AND `auth reconcile`afterwards.

This has worked fine for

[2017-11-10 12:46] deads2k commented on #55464
Ok, that makes sense.  I don't think you be combining RBAC resources into something you apply, since the coverage checks won't function properly and `kubectl apply` could end up hurting you on upgrades.

/sig cli

[2017-11-10 12:50] fieryvova opened #55477 "Pods scale up to a random number"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I was following [horizontal-pod-autoscale-walkthrough](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/ "hpa walkthrough").

In step 2 I set `--max=1` instead of `--max=10`.
After going through step 3, there were 4 pods running php-apache instead of 1.

The interesting thing is that if

[2017-11-10 12:52] roffe commented on #55464
I agree that it was not the cleanest solution and I have spent the day on rewriting it to have RBAC roles in separate files.

I was running a `auth reconcile` on the whole file which would reconcile the roles in it after they got applied to make sure they were correct. (Or at least I though that, please correct me if i'm wrong on this assumption )

[2017-11-10 12:57] deads2k commented on #55464
That is only going to work once.  As you later modify your roles and re-apply (one of the great things about apply), you can end up stomping RBAC rules that you don't intend to.

[2017-11-10 13:00] shyamjvs commented on #52495
With the above PRs merged, we're not running those tests for the release-blocking 5k-node job anymore. Bumping down the priority of this issue.

[2017-11-10 13:03] roffe commented on #55464
Awesome then i know. Thank you for clearing that.

[2017-11-10 13:05] deads2k commented on #55435
This mirrors webhook admission (or even compiled admission), where later admissin plugins observe the complete object, but not any knowledge of "ownership" for a particular part of the object.

@sttts and I discussed a few options in this area too.  Your solution 2 is similar to one of his ideas and may require webhooks to have their own identities to run later validation against (regardless of ho

[2017-11-10 13:23] sttts commented on #55435
No need for webhooks to have an identity, but they have to be able to inject a distinct identity per container, e.g. via an istio-sidecar-service-account.

[2017-11-10 13:29] deads2k commented on #55238
Seen.  I guess we'll see how many more come out of the woodwork.  This ought to bring them out in a fair hurry.

As I recall, this was because someone was running weave and they didn't have the network set up to route to the service or pod network cleanly.  We definitely don't want to try to keep teaching `kube-apiserver` how to handle network topologies.  Network topology lies outside the domain

[2017-11-10 13:33] deads2k commented on #55435
Seems like they should have to prove they have the power to claim that a given user did something.  Otherwise, cluster-admin totally did X.

[2017-11-10 13:34] miguelcastilho opened #55480 "Add proxy parameters to kubefed client"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I used kubefed to depoy the federation apiserver and controller-manager. I found that the controller-manager needs a proxy as environment variables, I checked the kubefed and the controller-manager documentation and there is no parameter to add a proxy. I had to edit the deployment manually to add the proxy environment

[2017-11-10 13:34] liggitt commented on #55080
if I understood correctly, we're only discussing implementing the toleration-adding in an admission plugin, and letting taints be added via existing methods on the discretion of the deployer

[2017-11-10 13:39] miguelcastilho commented on #55480
/onprem
/sig area/federation

[2017-11-10 13:40] php-coder commented on #55428
/sig auth

[2017-11-10 13:57] sttts commented on #55435
Not sure we need this, if we keep trusting the control plane. Otherwise, we have to do intermediate admission steps for each mutating webhook.

[2017-11-10 14:02] sttts commented on #55435
About the current semantics that all containers must match the same PSP: we could keep that invariant, but restrict it to each identity found for the containers. I.e. we partition the containers by identity: if there is no istio-injection, the invariant is the same as before. If istio injects 3 more containers, its containers will have to match the same PSP, but potentially a different one than th

[2017-11-10 14:09] zegl opened #55482 "AWS cloud provider needs too many permissions for Static Pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig aws

**What happened**:

[code]

**What you expected to happen**:

That the AWS cloud provider should work with minimal permissions.

**How to reproduce it (as minimally and precisely as possible)**:

Using standalone `kubelet` with `--cloud-provider=aws`.

The Instance IAM Role only has the following permissions:

[code]

**Anything el

[2017-11-10 14:51] klausenbusk commented on #7433
Is there any sort of workaround/has people hacked anything together to workaround this for now?

I run a MariaDB Galera cluster across 3 locations, and I would prefer that PHP connect to the closest one to reduce latency.

[2017-11-10 15:00] #54860 closed

[2017-11-10 15:03] gnufied commented on #52573
@justinsb what other problem you are thinking of? I will argue that both the approaches are exactly same when it comes to how they affect internals of attach detach mechanism.

[2017-11-10 15:18] tengqm commented on #55080
My gut feeling is that the proposal of using "taint/toleration" for extended resources is somehow leading us astray. It is a dangerous move. I can fully apprehend the endeavor to keep the core simple, rock solid. I can totally understand the wish to reuse/extend an existing tool to new use cases. However, we could still be wrong.

From a user's viewpoint, the requirement is simple. e.g.: My worklo

[2017-11-10 15:21] Yantrio commented on #55043
I'm also hitting this issue with a kubeadm hosted install, is there any way around this without using `ip_vs`

[2017-11-10 15:34] spzala commented on #52409
@RahulG115 np, thank you!

[2017-11-10 15:48] liggitt commented on #55480
kubefed and federation issues should be opened against https://github.com/kubernetes/federation/

[2017-11-10 15:48] #55480 closed

[2017-11-10 15:51] liggitt commented on #55435
I also have questions about boundaries between containers in a pod where the container share ipc/pid/network namespaces. Is it safe to allow a privileged/root/high-capability container to run as a sidecar in a pod where the user-controller containers are not supposed to have those levels of access? Can the user-controlled containers gain access to privileged operations they should not have via the

[2017-11-10 16:00] spzala commented on #27945
@The-Loeki cool, thanks for providing those useful ref links!!

[2017-11-10 16:31] justinsb opened #55488 "Race in metrics/util.go tests"
Fix to follow

[code]

[2017-11-10 16:32] DirectXMan12 opened #55489 "kubectl top needs to use the actual metrics client"
/kind feature

`kubectl top` is currently using a bespoke client which talks directly to Heapster.
Considering that Heapster will soon no longer be required, `kubectl top` should
use the actual metrics client instead (from `k8s.io/metrics`), which will also make
use of the resource metrics API (`metrics.k8s.io`) as an aggregated API.

cc @kubernetes/sig-cli-feature-requests
cc @kubernetes/sig-inst

[2017-11-10 16:35] justinsb commented on #55482
Integration with AWS requires a bunch of permissions; there's no functionality currently to turn some of them off or not today other than turning off the cloudprovider entirely.

[2017-11-10 16:36] lizrice commented on #40968
Have you seen [kubectx and kubens](https://github.com/ahmetb/kubectx)?

[2017-11-10 16:41] smarterclayton commented on #55409
I plan on fixing this by tolerating it in the places it needs to be tolerated by making clients have to exlpcitily ask for unstructured content when they expect it.  That would lead to v1.status being converted to unstructured on demand in the edge case where it appears.

[2017-11-10 16:49] clairew commented on #55488
@justinsb Interested in checking this out - mind telling me how I can replicate this? Thanks

[2017-11-10 17:03] yliaog commented on #55189
sudo journalctl -xe -u kubelet
Nov 10 16:41:51 gke-452295780825-3f11d0ea538a32af43ce-cc87-f398-vm kubelet[3376]: panic: assignment to entry in nil map
Nov 10 16:41:51 gke-452295780825-3f11d0ea538a32af43ce-cc87-f398-vm kubelet[3376]: goroutine 1 [running]:
Nov 10 16:41:51 gke-452295780825-3f11d0ea538a32af43ce-cc87-f398-vm kubelet[3376]: k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/util/flag.ColonS

[2017-11-10 17:04] enisoc commented on #55189
Probably need to add a default for ManifestURLHeader like this:

https://github.com/kubernetes/kubernetes/blob/4793b714d82ddcdcd5ace8978f01c929fcfc1677/pkg/kubelet/apis/kubeletconfig/v1alpha1/defaults.go#L215-L220

[2017-11-10 17:06] yliaog commented on #55189
The culprit: https://github.com/kubernetes/kubernetes/pull/54643/files#diff-93eec00d1284a0950a5665a1448c1587L69

ManifestURLHeader was changed to type of map[string][]string, but not initialized.

https://github.com/kubernetes/kubernetes/blob/3a15fdbe7e1ceefa59d7cc41ac6d65998cef1b1a/cmd/kubelet/app/options/options.go#L340
it needs to be initialized like NodeLabels
=================================

[2017-11-10 17:07] yliaog commented on #55189
/asign @mtaufen

[2017-11-10 17:08] yliaog commented on #55189
/assign @mtaufen

[2017-11-10 17:08] yliaog commented on #55189
/cc @yliaog

[2017-11-10 17:41] jakexks commented on #54370
I bumped the log level to 4, and for my own interest, added more debug output to the scheduler:
https://github.com/jakexks/kubernetes/commit/e7a682dde6a60f9ae51904effe242e3858de4e67

I've attached everything you should need to reproduce this on AWS in this gist, including the output of the scheduler (with the leader election spam removed): https://gist.github.com/jakexks/56f9703b28e958b3f435af14ad

[2017-11-10 17:54] ahmetb commented on #47862
Any updates @pavolloffay ? I just needed this as well.

[2017-11-10 18:06] mtaufen commented on #55189
Surprised this passed the PR builder tests. I'll send a fix.

[2017-11-10 18:08] mtaufen commented on #55189
@yliaog the way NodeLabels does it is actually bad, could override any defaults unintentionally. I'll allocate it in the defaulter.

[2017-11-10 18:10] yliaog commented on #55189
Yes, defaulter is better. Thanks.

[2017-11-10 18:11] msau42 commented on #54370
Thanks so much for taking the time to help debug!  Here's my thoughts on your logs:
- You can ignore the VolumeNode predicate messages.  Those are related to a new feature for specifying NodeAffinity on the PV, and is not applicable to EBS volumes yet.  EBS volumes should only care about the VolumeZone predicate.
- It seems like the volume zone predicate is either not being called on the second po

[2017-11-10 18:32] lypht commented on #26670
Glad to see this is addressed (as alpha) in 1.8.  Does anyone have a programmatic work around on legacy cluster versions (K8S 1.5 or older)?

[2017-11-10 18:40] mtaufen commented on #55189
https://github.com/kubernetes/kubernetes/pull/55499

[2017-11-10 18:51] acomisario commented on #51881
News? this doesnt seem to work for me either.

[2017-11-10 18:53] joshualevy2 commented on #50295
I had this problem because there was no admin.conf file and I did not have KUBECONFIG=/root/admin.conf set.  the admin.conf file is created in /etc/kubernetes by the "kubeadmin init" command and you need to copy it to all your minion nodes.  kubeadmin does not do this for you.

[2017-11-10 18:53] mtaufen opened #55500 "cmd/kubeadm/app/phases/etcd/spec/zz_generated.deepcopy.go not regenerated"
[code]
and `cmd/kubeadm/app/phases/etcd/spec/zz_generated.deepcopy.go` is still removed

[2017-11-10 18:59] Random-Liu opened #55501 "CRI: Support daemon logs for other CRI container runtime in fluentd?"
We have changed fluentd to support CRI container log format.

However, for daemon logs, fluentd still only supports docker.

Should we add this support upstream?
/cc @kubernetes/sig-node-feature-requests

[2017-11-10 19:04] gnufied opened #55502 "Taint a AWS node if a volume is stuck in "attaching" state for too long"
On AWS when we call "attach" of a volume then we periodically we check (via `DescribeVolume` API call) if volume has indeed been attached. We run the check in a loop with timeout of 21 minutes.

AWS documents that - if a volume is stuck in "attaching" state for too long, the node where volume is being attached is in "dirty" state and must be rebooted to fix the problem. Until node is rebooted, mor

[2017-11-10 19:28] mikedanese commented on #54318
What part of ClientConnectionConfiguration is not expressable in a kubeconfig yet?

[2017-11-10 19:29] mikedanese commented on #54318
ref #30395

[2017-11-10 19:38] janetkuo opened #55505 "Clean up actions are not used correctly in e2e tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

### Problem
In some e2e tests, `framework.AddCleanupAction()` is used:
https://github.com/kubernetes/kubernetes/blob/1a4a019e5f84637f125589288edca46a974c1486/test/e2e/apimachinery/webhook.go#L50-L52

These cleanup actions are expected to be called when tests are terminated, by calling `framework.RunCleanupActions()` in test/e2e/e2e.go. The p

[2017-11-10 19:47] cmluciano commented on #54916
cool so what do we need to do in this case @ixdy ?

[2017-11-10 20:04] jekohk commented on #54932
I don't want to get too far off of the original topic which is showing image versions in the history, but going through the features of `kubectl get` gave me some interesting ideas to improve `rollout history` in general..

I'm now leaning towards a slight variation of option 3, but instead of adding yet another annotation, just display the image(s) instead of change-cause in the history list by d

[2017-11-10 20:10] enisoc commented on #55189
The GKE test on #55499 fixes the kubelet panic, but now we are hitting a fourth problem:

[code]

[2017-11-10 20:38] krzyzacy commented on #55196
the new cluster looks healthier, you might want to assign to specific test owners now
/unassign

[2017-11-10 20:45] spiffxp commented on #55189
@mtaufen I can't recall the history for why this is the case, but I'm looking at k/k PR's and not seeing any gke jobs.

[2017-11-10 20:50] abhinavsinha001 commented on #53392
Not sure but after using the updated config I am able to create Priority Class successfully  but unable to use the feature while creating POD. Here are the errors observed

Getting following error while creating pod:
`Error validating pod nginx_default(8e139687-c655-11e7-9114-246e967a4158) from api, ignoring: [spec.priorityClassName: Forbidden: Pod priority is disabled by feature-gate, spec.priori

[2017-11-10 21:06] DirectXMan12 commented on #54574
Looking into the current set of failures

[2017-11-10 21:17] spiffxp commented on #55189
In chatting on #sig-testing, it seems like we _do_ have a GKE presubmit job, but it's only setup to be manually triggered, not auto-triggered as a blocking presubmit for all jobs.  I can't recall the history for this, and couldn't dig up anything sifting through kubernetes/test-infra's commit log.  @fejta do you remember anything?

If the GKE jobs are going to be release blocking it'd be _nice_ to

[2017-11-10 21:20] ahmetb opened #55508 "kubectl: multiple issues of -l/--selector overwrites previous ones"
Currently if a user specifies multiple `-l` (`--selector`) flags,  only the last one is used and the rest is ignored silently.

Repro steps:

1. `kubectl get pods -l foo=bar -l foo2=bar2 -v=10`
2. Logs show: `GET https://IP-ADDRESS/api/v1/namespaces/default/pods?labelSelector=foo2%3Dbar2`
3. Results bring pods that match `foo2=bar2` selector. `foo=bar` is ignored.

This is unintuitive behavior. We

[2017-11-10 21:43] bgrant0607 commented on #11557
I think this is obsolete

[2017-11-10 21:43] #11557 closed

[2017-11-10 21:50] RRAlex commented on #55238
@lavalamp
Is there documentation on how to have an "extension apiserver" inside the pod's network and how it works?

@deads2k
I'm running weave too (I need pods to be in an encrypted overlay), but any overlay network, with it's own address range, will not directly be routable from the apiservers if they strictly are separated. That said would a simple service do with a flag to tell the API to use

[2017-11-10 21:54] tallclair commented on #55435
I think this is all coming back to the container vs. pod as the security boundary discussions. In the past we've mostly thought of the Pod as the security boundary, but now we're hearing a lot of cases that want containers-as-the-security-boundary.

For a bit more context on istio, there are 2 methods of creating the sidecars 1) manual (user created) - detailed [here](https://istio.io/v-0.1/docs/t

[2017-11-10 21:58] ixdy commented on #54916
Not sure. I was mostly asking about the need to install `module-init-tools`/`kmod`, which I now understand.
For missing kernel modules, we'll probably need to follow up with the team maintaining the GCI image.

[2017-11-10 22:21] DirectXMan12 commented on #54574
Looking at the failure logs, I'm seeing

[code]

So, I tried reproducing locally (provider=local, hack/local-up-cluster.sh), and I cannot.  HPA seems to be able to fetch scale properly for replicasets and deployments in a vanilla fresh cluster-up environment.  Is there something special about the way we stand up those test environments?

[2017-11-10 22:28] ikus060 commented on #16741
As a newcomer to kubernetes, I would really appreciate having an easier solution to setup persistence storage for a cluster. On bare metal, configuring Ceph or GlusterFS is clearly not easy.
For GlusterFS, I did find this project https://github.com/gluster/gluster-kubernetes, it seems to ease the pain, but this requirement, make it a no-go candidate for easy to use and working everywhere.

[2017-11-10 22:30] dchen1107 commented on #54916
Yes, COS image doesn't have ip_vs_* modules because it never being requested. We requested a couple of days ago, and they are working on it. But it will take some time to release the changes.

Meanwhile, since the feature was only enabled for a particular test job, you can build your own OS image, and override the default OS image for your test job.

[2017-11-10 22:42] aarondav commented on #43516
In clusters we run, we continue to see problems of this category in westus and eastus2.

[2017-11-10 23:39] colemickens commented on #43287
@andyzhangx ? That supports adding a disk to ALL nodes. There is still no way in Azure to attach a single specific disk to a single instance in a VMSS.

[2017-11-10 23:42] colemickens commented on #41850
I'm not really running in Azure, or any cloud these days, so it will not be easy for me to provide these.

Anyone with a cluster can emulate this and check. Add an iptables rule blocking calls to the Azure control plane. Wait a few minutes and then remove the block. If there is a bug, kubelet will have stopped reporting status and you should start to see Nodes go unhealthy after some period of tim

[2017-11-11 00:07] easeway commented on #54201
I want this feature too. I've submitted a PR #55514 to introduce "kubectl alpha login" (eventually will be kubectl login) command for this interactive login flow.

[2017-11-11 00:55] chrislovecnm commented on #45976
Any updates on this? Are people running into the conntract issue mostly?

[2017-11-11 00:55] msau42 opened #55517 "Deprecate kubelet "enable-controller-attach-detach" option"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
@kubernetes/sig-storage-feature-requests

**What happened**:
Are there any use cases where we still need to support kubelet doing the attach/detach?  If not, let's deprecate this field and eventually remove it.

[2017-11-11 01:00] abrarshivani opened #55518 "apiserver and controller manager pod doesn't start with Kubeadm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Launched Kubernetes cluster using kubeadm. But, apiserver and controller manager pod doesn't start
**What you expected to happen**:
apiserver and controller manager should start
**How to reproduce it (as minimally and precisely as possible)**:
Run kubeadm:
```kubeadm init --config config1 --skip-preflight-checks```
config1

[2017-11-11 01:03] abrarshivani commented on #55518
@kubernetes/sig-cluster-lifecycle-bugs

[2017-11-11 01:41] Random-Liu commented on #54622
@ScorpioCPH If your environment doesn't support swap, you could override kubelet flag with:
[code]

[2017-11-11 02:14] duffqiu commented on #55368
![configmap uml-2](https://user-images.githubusercontent.com/5739682/32685285-0ed07668-c6c9-11e7-8942-1463abd7eb11.png)

Something like this

[2017-11-11 02:47] MrHohn commented on #55429
Sent out a fix on https://github.com/kubernetes/kubernetes/pull/55519.

[2017-11-11 02:54] MrHohn opened #55520 "Need e2e test for service session affinity"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/sig network

**What happened**:
Ref https://github.com/kubernetes/kubernetes/issues/55429, session affinity stops working when ESIPP=Local. That is being fixed by https://github.com/kubernetes/kubernetes/pull/55519.

**What you expected to happen**:
We should add an e2e test to verify that session affinity is and will be continue working when ESIPP is

[2017-11-11 04:05] JuneZhao commented on #49857
@feiskyer  Not really it was from a customer  and the issue actually not resovled back then.

[2017-11-11 04:05] tallclair opened #55521 "[PodSecurityPolicy] Optimize getMatchingPolicies"
Address this todo:
https://github.com/kubernetes/kubernetes/blob/2de4562983b4af39cdb9c2340be04ef9f387b51c/plugin/pkg/admission/security/podsecuritypolicy/admission.go#L334-L340

Which is supported by the latest [scale testing](https://docs.google.com/document/d/1IIcHHE_No1KMAybW5krIphdN325eGa2sxF2eqg2YAPI/edit#heading=h.jb1b0ho51ka6)

Note that the pod create latency is still impacted by policies

[2017-11-11 04:37] resouer commented on #55501
@Random-Liu Which daemon logs are you referring to may I ask?

[2017-11-11 05:06] KeithTt commented on #52711
hi, @liggitt how to modify the `node credentials` and add the customized username the `system:nodes` group?

[2017-11-11 05:15] roberthbailey commented on #55518
Please open kubeadm issues in the https://github.com/kubernetes/kubeadm repository. Thanks!

[2017-11-11 05:15] #55518 closed

[2017-11-11 06:05] shiywang commented on #47862
this feature need both efforts from sig-cli and sig-node, and maybe we may also need a proposal.

[2017-11-11 07:01] yliaog commented on #55189
Found following errors in e2e test:
W1111 06:06:35.956]  zone: u'us-central1-f'>] finished with error: All cluster resources were brought up, but the cluster API is reporting that only 0 nodes out of 3 have registered. Cluster may be unhealthy.

Found the RBAC DENY in API server log
I1111 05:53:29.316972       5 rbac.go:116] RBAC DENY: user "system:node-problem-detector" groups ["system:authentica

[2017-11-11 07:04] yliaog commented on #55189
/cc @mindprince @mikedanese please help take a look

[2017-11-11 07:07] yliaog commented on #55189
/cc @mikedanese

[2017-11-11 07:39] gwind commented on #51881
It's work for me always from 1.7 -> 1.8.3 .
Maybe you should describe your steps more detail .

[2017-11-11 08:26] zhangxiaoyu-zidif commented on #7890
I implement ceph fuse mount, but faied to pass CI. But the function is tested well in 1.5.1, 1.6.9, 1.8.1

[2017-11-11 11:23] ikaven1024 opened #55526 "failed to register collectors for "/kubepods/podxxx/2b8ff9a3da84482d33e7cd7ce3xxx": failed to read config file "xxx" for config "xxx" : file "xxx" does not exist."
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
i'm using k8s v1.8.1. and i want to collect custom metric by cadvisor. From source, i know i shall label the pod and put in a config file in the container.

i add a label  to my DaemonSet:
[code]
and put a `cadvisor_config.json` in the container `/cadvisor_config.json`. But after i create it, kubelet reports:
[code]
i ins

[2017-11-11 13:48] gary-lloyd-tessella commented on #55327
/sig api-machinery

[2017-11-11 13:52] liggitt commented on #55327
Duplicate of https://github.com/kubernetes/kubernetes/issues/54898

[2017-11-11 13:52] #55327 closed

[2017-11-11 13:52] andyxning opened #55527 "Add comments info when kubectl drain/cordon/uncordon"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
For now, when we `cordon`/`uncordon`/`drain` a node from a k8s cluster, we can not add a comment describing the reason to do so. An comment is useful for recording the reason in case someone else want to know the root cause.
**What you expected to happen**:
when running `kubectl cordon/uncordon/drain NODE`, we can add a comment and

[2017-11-11 14:02] liggitt commented on #52711
Node credentials are passed to the node in the --kubeconfig file. Typically it should reference an x509 client cert with CN=system:node:$NODE_NAME and O=system:nodes

[2017-11-11 15:35] champsaurav commented on #44713
@keegancsmith let me know if you got any solution for this? As per my understanding cadvisor doesn't give pv stats.

But what can be done is running disk stats collector code in daemonsets. The code also check for the directories in the mount point and also in df -h output. If both are not equal it will kill the service running as process id 1 from code. As doing this will restart the pod and moun

[2017-11-11 15:41] jhorwit2 opened #55528 "Move the service controller to the common controller pattern"
The service controller currently uses a custom [object](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L77) that keeps track of the backoff retry for a given service. From what I can tell, every error should be retryable so we should migrate to the rate limiting work queue w/ exponential backoff.
We'll just want to make sure that we *don't* check

[2017-11-11 15:43] shiywang commented on #55255
hi @jojje for cli issue, could you please file it in this repo https://github.com/kubernetes/kubectl next time ? thanks !!

[2017-11-11 15:58] Morriz opened #55529 "--extra-config still fails to start with v0.23"
if I start with:

[code]

The boot script hangs and the api-server does not start correctly. I see `:8443: getsockopt: connection refused` errors in the journal.

If I leave the `--extra-config` part out it boots correctly, but I can't use my flags ;p

I'm on OSX 10.12.6

[2017-11-11 15:59] Morriz commented on #55529
sry, wrong page

[2017-11-11 15:59] #55529 closed

[2017-11-11 17:27] #54276 closed

[2017-11-11 17:35] crassirostris commented on #55501
@resouer AFAIU, e.g. `containerd` daemon logs. Currently, `docker` name is hardcoded in the fluentd configurations, e.g. [there](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-configmap.yaml#L253)

[2017-11-11 18:21] szuecs commented on #26670
@lypht not sure what you exactly mean, but we are happy with https://github.com/zalando-incubator/kube-ingress-aws-controller/
We use one SG shared for all ALBs https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/aws/adapter.go#L238
If you have any problems with using it, please let us know in an issue in the kube-ingress-aws-controller repository.

[2017-11-11 18:45] #55255 closed

[2017-11-11 18:45] #54857 closed

[2017-11-11 20:20] gustavomr opened #55531 "Kubectl doesnt work on node"
Im working setting up a cluster and using this guide https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

On master I started everything using kubeadm init, then using export KUBECONFIG=/etc/kubernetes/admin.conf to get kubectl work and then deploy wave using:
export kubever=$(kubectl version | base64 | tr -d '\n')
kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$k

[2017-11-11 20:28] gustavomr commented on #55531
/sig cluster-lifecycle

[2017-11-11 20:38] davidopp commented on #484
ref/ #42255

[2017-11-12 00:25] dennisjac commented on #53889
I just ran into the same problem and the source for this seems to be that the instructions at e.g. https://kubernetes.io/docs/setup/independent/install-kubeadm/ explicitly say to `systemctl enable kubelet && systemctl start kubelet` *before* anything is done with kubeadm which apparently cannot work.

[2017-11-12 02:49] justinsb opened #55535 "sample-controller / apiextensions-apiserver / sample-apiserver / kube-aggregator rely on ./vendor/k8s.io/code-generator, do not have it"
sample-controller relies on ./vendor/k8s.io/code-generator (https://github.com/kubernetes/sample-controller/blob/master/hack/update-codegen.sh)  but does not vendor it: (https://github.com/kubernetes/sample-controller/tree/master/vendor/k8s.io)

[2017-11-12 02:49] justinsb commented on #55535
@kubernetes/sig-api-machinery-bugs

[2017-11-12 02:57] justinsb opened #55536 "code sync broken (?): code-generator missing 1.9.0-alpha.2 tag"
It looks like code-generator has been synced since 1.9.0-alpha.2 was tagged (https://github.com/kubernetes/code-generator), but the code-generator repo is missing the 1.9.0-alpha.2 tag.

@kubernetes/sig-api-machinery-bugs

[2017-11-12 03:10] fejta-bot opened #55537 "Failure cluster [7aea68...] failed 82 builds, 27 jobs, and 2 tests over 1 days"
### Failure cluster [7aea68a0b7ab17c88d2a](https://go.k8s.io/triage#7aea68a0b7ab17c88d2a)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    27 jobs failed,    82 builds failed.
Failure stats cover 1 day time range '11 Nov 2017 00:01 UTC' to '12 Nov 2017 00:01 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Deferred TearDown | 17

[2017-11-12 03:19] justinsb opened #55538 "No e2e test for CRD watch (?)"
I am suspicious that CRD watch is not working, but was unable to find e2e test coverage to persuade myself that it is working.

cf  #24441.

@kubernetes/sig-api-machinery-bugs

[2017-11-12 03:30] justinsb commented on #55538
(in particular, I'm looking for the update tests.)

[2017-11-12 04:05] dcodix opened #55539 "Graceful termination losing IP before full termination"
**BUG REPORT**:
/sig api-machinery
/kind bug

**What happened**:
The option "terminationGracePeriodSeconds" seems to work perfectly, but the pod loses it's IP so I lose network capabilities during shutdown.

**What you expected to happen**:
I would like to have network capabilities all the time until the pod is really terminated.

**How to reproduce it (as minimally and precisely as possible)**:
J

[2017-11-12 04:26] andyzhangx opened #55540 "mountPath mitigation in Linux pod"
When user specify a windows mountPath, e.g. `D:`, there should be mitigation in pod when it's running on Linux otherwise pod mount would fail.
Below is an example, mountPath `D:` could be turned into `/D/` in linux pod

[code]

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible

[2017-11-12 04:29] andyzhangx commented on #55540
/sig storage
/sig windows

[2017-11-12 04:32] justinsb opened #55541 "CRD watch does not work with protobuf encoding"
When a CRD clientset is built with `ContentType = "application/vnd.kubernetes.protobuf"`, CRD watch is not notified of updates.

I think this was root cause of my suspicion around CRD watch being broken (#55538)

[2017-11-12 04:32] justinsb commented on #55541
@kubernetes/sig-api-machinery-bugs

[2017-11-12 04:34] justinsb commented on #55538
I think this was due to enabling protobuf, though it also failed in a curl for me, so something strange is happening.  (Maybe we have to _explicitly_ ask for json?)

[2017-11-12 04:42] justinsb opened #55542 "apimachinery codegen is not goimports "clean""
codegen produces code that is not stable under goimports, which makes life harder for CI / for checking it in to the repo.

For example:

[code]

The system imports should be printed before other imports, with a single blank line.

I suspect that aliasing a package to the same name will likely be frowned upon in future as well...

@kubernetes/sig-api-machinery-bugs

[2017-11-12 04:52] yliaog commented on #55189
Found the following error logs from one node in a failed cluster.

Nov 12 03:32:05 gke-oneoff-e2e-default-pool-d85a29f5-1s1k kubelet[23455]: error: failed to run Kubelet: cannot crea
te certificate signing request: certificatesigningrequests.certificates.k8s.io is forbidden: User "kubelet" cannot
create certificatesigningrequests.certificates.k8s.io at the cluster scope: Unknown user "kubelet"

[2017-11-12 05:18] 0x69676f72 commented on #23092
root@vagrant-ubuntu-trusty-64:~# kubectl expose rc nginx --port=80 service "nginx" exposed
The connection to the server localhost:8080 was refused - did you specify the right host or port?
root@vagrant-ubuntu-trusty-64:~#

[2017-11-12 05:36] bluebenno commented on #55170
same methodology and error here. ubuntu 16.04,  1.8.3,  docker 17.03.2~ce-0~ubuntu-xenial.
In my case a *reinstall* after kubeadm reset

[2017-11-12 06:34] #55407 closed

[2017-11-12 06:34] #55408 closed

[2017-11-12 06:36] osoriano opened #55544 "controller-manager panic when creating GCP service LBs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I created a service (type LoadBalancer) on a 1.8.3 cluster.

**What you expected to happen**:
A load balancer to be deployed to GCP

**How to reproduce it (as minimally and precisely as possible)**:
On a v1.8.3 cluster with GCP integration, deploy a service type LoadBalancer. The controller-manager was started with `--clou

[2017-11-12 07:40] mpun commented on #54601
It worked for me. You saved my day.

[2017-11-12 08:06] Lion-Wei commented on #54916
@dchen1107 , Thanks, But I'm not very familiar with build OS image, is there any document or something about "how to build OS image and override the dafault OS image"? Really appreciate that.

[2017-11-12 09:14] xiaods commented on #55368
/area  configmap-api

[2017-11-12 09:19] xiaods commented on #22368
@janetkuo Could you please consider my proposal on configMap feature.  https://github.com/kubernetes/kubernetes/issues/55368

[2017-11-12 09:40] xsgordon commented on #47831
/assign xsgordon

[2017-11-12 09:41] xsgordon commented on #47831
/assign idvoretskyi

Do you have access to close?

[2017-11-12 10:11] dixudx commented on #55281
/close

Since this is not a kubernetes issue.

[2017-11-12 10:11] #55281 closed

[2017-11-12 10:43] davidopp commented on #55080
I think that's what we're doing here.

If a pod needs GPU, then it requests the GPU extended resource, and can only be scheduled onto a node with GPU. (You can call this "want badly" in your terminology).

The taint is purely being used to keep pods that don't require GPU off of GPU nodes ("want to avoid" in your terminology).

An alternative to taints would be to build special logic into the sche

[2017-11-12 11:16] andyzhangx opened #55549 "add windows mount path test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:

[2017-11-12 11:34] dixudx commented on #55531
@gustavomr You need to configure the `~/.kube/conf` on your minion nodes. Please refer to this file on your master node.

[2017-11-12 11:54] andyzhangx commented on #55549
/sig windows

[2017-11-12 12:04] #55549 closed

[2017-11-12 12:14] dennisjac opened #55550 "Master node not becoming "Ready" after cluster init due to CNI issues"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After initializing a cluster with `kubeadm init --pod-network-cidr 10.22.33.128/25` and installing the kube-router networking addon with `kubectl apply -f https://raw.githubusercontent.com/cloudnativelabs/kube-router/master/daemonset/kubeadm-kuberouter.yaml` the master node has the status "NotReady". In particular the nod

[2017-11-12 12:15] FarhadF commented on #46287
Experiencing the same issue, Just tried to replace the certificates with new one.
[code]

[2017-11-12 12:17] dennisjac commented on #55550
@kubernetes/sig-Network-bugs

[2017-11-12 12:59] FarhadF commented on #46287
My work around:
1. Replace certificates with new ones
2. change systemd service execstart to one liner:
[code]
I was using \ to have multi lines, you can even use your oneline at terminal for fast verification.
3. `systemctl daemon-reload`
4. `openssl s_client -connect <nodename>:10250 -showcerts`
you should see cert chain and no selfsigned errors:
[code]

[2017-11-12 14:04] discordianfish commented on #1806
I don't think Kubernetes should wrap or abstract the Docker build API/concepts. Instead I would prefer to extend Kubernetes to allow comitting containers and storing them in shared storage (Volumes?). This could be used to build a Kubernetes native builder (which could support Dockerfiles) which can support any container runtime.

[2017-11-12 14:23] dixudx commented on #55508
@ahmetb Actually this is not a bug of Kubernetes.

I've already submitted a feature PR to spf13/pflag to enable this scenario.

@kubernetes/sig-cli-misc

[2017-11-12 14:51] gyliu513 opened #55552 "Kuernetes do not support schedule based on disk I/O"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Kubenretes has many priorities, such as least request, most request etc, but do not have predicates based on disk io, it is better to have such priorities to enable schedule based on disk io.

@kubernetes/sig-scheduling-feature-requests

**What you expected to happen**:

**How to reproduce it (as minimally and precise

[2017-11-12 15:52] ianchakeres opened #55553 "Zero capacity PVs cause pods to fail and zero capacity PVCs create zero capacity PVs"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: If someone requests a zero (0) capacity PVC and an administrator creates a zero (0) capacity PV, Kubernetes will happily bind them together. Unfortunately, any use of this PVC/PV combination by a pod will fail. It fails because the zero capacity PV cannot be formatted or mounted successfully.

Note: The same is

[2017-11-12 15:56] ianchakeres commented on #55553
/sig storage

[2017-11-12 15:56] ianchakeres commented on #55553
/assign @ianchakeres

[2017-11-12 16:10] #54986 closed

[2017-11-12 16:12] jojje commented on #55255
@shiywang Will the k8s github bots be able to resolve `#<issue number>` references in commit messages made in kubernetes/kubernetes PRs be able to find the corresponding issue ticket in that _other project_?

_Semi-OT but related:_
I know there's an overall intention to refactoring k8s proper into many distinct projects, so it would be helpful if either the contributor guide contained a mapping of

[2017-11-12 16:36] gustavomr commented on #55531
@dixudx you’re right!

[2017-11-12 16:36] #55531 closed

[2017-11-12 17:58] puppychen commented on #49546
Same kind here. Ingress with NodePort.
Try to run nginx and Php5.6. Nginx is worked but Apache/php5.6 got the same error message.

[2017-11-12 19:10] at1984z opened #55559 "StatefulSet deletion leaves an orphan pod if the pod label has been changed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. StatefulSet at scale 3 is created with with a label defined in /spec/template/metadata/labels.
2. The label is changed to a different value for one of the StatefulSet pods.
3. StatefulSet is deleted with delete operation default options.
4. All pods are deleted save the one whose label was changed.
5. The orphan pod st

[2017-11-12 19:12] at1984z commented on #55559
/sig area/app-lifecycle area/stateful-apps area/usability

[2017-11-12 19:23] jhorwit2 opened #55560 "Expose concurrent-service-syncs flag on the CCM like it is for the KCM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The KCM exposes the `--concurrent-service-syncs` flag to allow changing the number of workers performing concurrent service syncs for load balancer services. The CCM does not expose this flag currently.

**What you expected to happen**:

I expect the CCM to expose `--concurrent-service-syncs`

/sig cluster-lifecycle
/are

[2017-11-12 19:47] davidopp commented on #55552
I think this is a duplicate of #54923

[2017-11-12 23:22] gyliu513 commented on #55552
Good to know, thanks @davidopp

[2017-11-12 23:22] #55552 closed

[2017-11-13 00:03] anguslees opened #55564 "Support restricting list/watch/get to "metadata-only""
/kind feature

I have several situations with controllers - in particular around Secrets - where I'd _like_ to be able to say "you can create+find+delete the resources you want, but not read them".  Right now, "finding" implies having full read access, since list/watch/get gives you the entire resource definition (and status).

Crazy suggestion:  Implement a common `.../metadata` subresource that

[2017-11-13 00:28] anguslees opened #55565 "Finer-grained RBAC controls for Secrets"
/kind feature

For discussion:

I want to restrict access to the *private* portion of a `type=tls` Secret, while making the public portion more liberally available.

_Currently_ I implement this in my own application with an embedded webserver that serves the public portion.  I'd *like* to be able to implement the above policy with RBAC instead, for stronger isolation and to share the implementati

[2017-11-13 00:57] gogeof commented on #55043
@Yantrio are you means use iptables or userspace proxy mode?

[2017-11-13 01:01] ikaven1024 commented on #55526
/sig area/cadvisor

[2017-11-13 01:33] fanux opened #55566 "kubeadm config file support --apiserver-cert-extra-sans argument?"
**What happened**:
I want to use kubeadm config file to extra altnames to use for the API Server serving cert, as we know the  --apiserver-cert-extra-sans flag in the command line.
[code]
but it not worked...

**What you expected to happen**:
generate multiple apiserver serving cert using kubeadm config file. Beacause we define extra etcd cluster, so the command line not support.

[2017-11-13 01:38] tianshapjq commented on #55527
but how can we review the reason after draining the pods? from _kubectl describe pod_?

[2017-11-13 01:40] fanux commented on #55566
/sig  area/kubeadm

[2017-11-13 01:46] wackxu commented on #55566
I think you yaml is wrong. The right key is `apiServerCertSANs`

[2017-11-13 01:48] tianshapjq commented on #55489
/cc

[2017-11-13 02:14] wackxu opened #55567 "Add test case for priorities/metadata_test.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:

Add some test case

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a

[2017-11-13 02:16] ScorpioCPH commented on #54622
@Random-Liu Thanks!

Could you take a look at this [PR](https://github.com/kubernetes/kubernetes/pull/55475):

- append `--feature-gates` if needed.

[2017-11-13 02:29] justinsb commented on #55219
@lavalamp it's client-go that has to provide instructions IMO, then we can poke people that aren't following the instructions; I don't know of any guidance right now.  Possibilities:

* client-go could stamp the version into each branch, e.g. at https://github.com/kubernetes/client-go/blob/release-4.0/pkg/version/base.go
* client-go could require the caller to use ldflags e.g. to specify the versi

[2017-11-13 02:31] fanux commented on #55566
@wackxu
[code]
[code]
still don't have extra ips...

[2017-11-13 02:45] dixudx commented on #55559
@at1984z The orphan pod should be deleted by GC. Please check whether it had been deleted after a while.

[2017-11-13 02:46] fanux commented on #55566
[code]
this is the right way hehe

[2017-11-13 02:46] #55566 closed

[2017-11-13 02:48] shun-miyoshi-com opened #55570 "FR: kubectl top command can access to heapster by domain name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Now, kubectl top command get heapster information by accessing kube-apiserver.
Access URL: https://<api-server ip address>/api/v1/namespaces/kube-system/services/http:heapster:/proxy/apis/metrics/v1alpha1/nodes?labelSelector=
This access require local proxy by kubectl proxy command.(correct?)

I want to access by heapster domain name(or

[2017-11-13 03:00] nwest1 commented on #55076
Maybe that's my misunderstanding of how the image pull behaves. Browsing the code for a bit I could not find where it is examining hashes. As long as it's following what you describe, this isn't an issue and can be closed.

[2017-11-13 03:09] gogeof commented on #55043
this must be the data for iptables-restore problem, so I print out the data, but still don't know where is wrong :(

[code]

[code]

[2017-11-13 03:11] fejta-bot opened #55573 "Failure cluster [c2dae4...] failed 81 builds, 8 jobs, and 1 tests over 1 days"
### Failure cluster [c2dae4653978012499cb](https://go.k8s.io/triage#c2dae4653978012499cb)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    8 jobs failed,    81 builds failed.
Failure stats cover 1 day time range '12 Nov 2017 01:37 UTC' to '13 Nov 2017 01:37 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Node Tests | 8 |

#####

[2017-11-13 03:11] mtaufen commented on #55359
@feiskyer so are you saying the annotation now has to contain an absolute path on the node? Is there validation for this somewhere? It looks like the code in `pkg/kubelet/dockershim/helpers_linux.go` just trims the prefix, including the `/` after localhost, and then just reads that path, which would be relative because it doesn't have a leading `/`. AFAICT from messing around in the go playground,

[2017-11-13 03:12] taherv commented on #55314
If you are supporting attach/detach API flexvol (aka attachable plugins) then ideally you should not return the actual devicename (/dev/vdx) from the attach call. I know I am differing with the documentation here.
Attach should return enough information about the volume that you can then find the right path during the mountdevice call. For e.g., for a SCSI drive, you can return something like Bus/

[2017-11-13 03:18] m1093782566 commented on #53775
cc @thockin

[2017-11-13 03:18] m1093782566 commented on #53393
cc @thockin

[2017-11-13 03:20] gogeof commented on #55043
@defcyy why not commit your code to fix this problem -- ERROR: ../libkmod/libkmod.c:557 kmod_search_moddep() could not open moddep file '/lib/modules/3.10.0-514.el7.x86_64/modules.dep.bin'`, error: exit status 1"

[2017-11-13 03:46] #55560 closed

[2017-11-13 03:46] #55429 closed

[2017-11-13 03:48] #53509 closed

[2017-11-13 03:59] KeithTt commented on #52711
Resoved by creating a CRB, and approved the csr.

[code]

[2017-11-13 04:51] shun-miyoshi-com commented on #55570
@kubernetes/sig-cli-feature-requests

[2017-11-13 05:11] jurgenweber commented on #52593
I have had to downgrade from 1.8 to 1.7..... but I am now getting this error in relation to the batchjobs/cronjobs API:

[code]

any ideas on how to get hte cronjob api back?

[2017-11-13 05:20] zjj2wry commented on #54212
@WanLinghao set command have remove dependency now, you can rebase it ~

[2017-11-13 05:41] at1984z commented on #55559
@dixudx , it never got deleted, practically speaking -- not after 5 minutes, nor 30 minutes.

By the way, if new label is added to any pod and the added label value changes several times, StatefulSet deletion does not have any problems.

[2017-11-13 06:11] shiywang commented on #55508
Agree with @dixudx it should be fixed in spf13, if it's hard to fix in upstream, we can add a warning in help message I think ?

[2017-11-13 06:18] gogeof commented on #55043
/sig kubeadm

[2017-11-13 06:23] jurgenweber commented on #52593
Ok, I found a solution. I found the entries for the cronjobs in etcd-server had

[code]
I deleted them from etcd and recreated them and they are back.

[2017-11-13 06:23] porridge commented on #55219
regarding client-go vs app version:
![version](https://user-images.githubusercontent.com/489420/32712189-825437ac-c843-11e7-85b5-cea919b7f145.gif)
why not have both?

[2017-11-13 06:27] stewart-yu commented on #55219
Does something  embed into relative images? i have strong feeling about it.

[2017-11-13 06:32] porridge commented on #55219
What do you mean by "relative images"?

[2017-11-13 06:35] feiskyer commented on #43287
@colemickens Yep currently, hopefully it will be supported soon.

[2017-11-13 06:41] lichuqiang commented on #55433
The issue seems fixed in latest version.

I tried to create pod with the template without resource request and got:
[code]
and  template with resource request of memory:
[code]

[2017-11-13 06:41] stewart-yu commented on #55219
I think `glbc` 、` kube-dns` and `heapster` have own images, but others use client-go

[2017-11-13 06:51] dixudx commented on #55477
This is because default `scaleUpLimitMinimum` is 4 when replica is set to 1.

When increasing the load, `desiredReplicas` will be set to `scaleUpLimit` if larger.

https://github.com/kubernetes/kubernetes/blob/d6cabaf706631b3713e897f49b1e86d1f637a119/pkg/controller/podautoscaler/horizontal.go#L433-L446

[2017-11-13 06:53] #48579 closed

[2017-11-13 06:53] #54898 closed

[2017-11-13 07:03] vfreex commented on #55404
I did some tests. The result shows a pod created with hostnetwork will share the same UTS namespace with the node:

[code]
I am not sure if this behavior is expected.
/sig node
/sig network

[2017-11-13 07:17] #55163 closed

[2017-11-13 07:25] abhinavsinha001 opened #55583 "Pod Created with PriorityClass fails to initialize"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After enabling PodPriority feature-gates in API Server and Scheduler as per the document here https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
Also enabled Priority in admission-control of API Server.
I was able to Create PriorityClass but got following error while creating pods with or without p

[2017-11-13 07:27] abhinavsinha001 commented on #55583
/sig scheduling

[2017-11-13 07:33] kondas commented on #54941
Also, are the monitor nodes IP address configured properly in the storage clas?
Storageclass 'fast'
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
name: fast
provisioner: kubernetes.io/rbd
parameters:
**monitors: 1:6789,2:6789,3:6789**
adminId: admin

[2017-11-13 07:38] dunjut opened #55585 "cloud-provider framework doesn't call event handler when service type changed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Service type changed from `LoadBalancer` to `ClusterIP`, none of the LoadBalancer interfaces of cloud-provider code framework (`EnsureLoadBalancer/EnsureLoadBalancerDeleted/UpdateLoadBalancer`) got called.
As a result, silently changing service type to `ClusterIP` without cloud-provider informed about it leads to a LoadB

[2017-11-13 07:41] dunjut commented on #55585
/sig network

[2017-11-13 07:43] tengqm commented on #55583
have you tried `--feature-gates=PodSecurity` ? feature gates takes a comma delimited string, you don't have to add `=true`, maybe that is causing the failure.

[2017-11-13 07:45] dunjut commented on #55585
@kubernetes/sig-cloud-provider-bugs

[2017-11-13 07:47] dixudx commented on #55583
The syntax is right.

[2017-11-13 07:49] hzxuzhonghu commented on #55585
I will dig into it.

[2017-11-13 07:49] shenlanse opened #55587 "[Bug-Report] kube-scheduler: NodeInfo cache is not consistent with etcd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Fail to schedule one pod to one node because kube-scheduler thinks this node doesn't have enough resources.

However, this node have enough resources for this pod actually.

**What you expected to happen**:

successfully schedule this pod to this node.

**How to reproduce it (as minimally and precisely as possible)**:

[2017-11-13 07:50] shenlanse commented on #55587
/sig scheduling

[2017-11-13 07:51] abhinavsinha001 commented on #55583
Thanks @dixudx , @tengqm  will correct the changes and verify.

[2017-11-13 08:03] utsav2307 commented on #27973
I got this working by following:
1) Run kube-controller-manager "--root-ca-file=/etc/kubernetes/ssl/ca.pem" parameter. This will create tokens whenever you create a service account.
2) Next create a service account by name heapster in "kube-system" namespace.
3) I wanted heapster just for using HPA, so i specified the following in command section in heapster's yaml:
- /heapster
- --source=kubernet

[2017-11-13 08:08] tengqm commented on #55583
yep, I was wrong. It should have the `=true` part.

[2017-11-13 08:08] #42086 closed

[2017-11-13 08:17] brancz commented on #55489
As a leisure proposal I'd say we keep heapster support around for the moment and just default to using the metrics-server, but fall back to heapster if the metrics-server is not available, and add flags for the metrics-server similar to how they exist for heapster today.

[2017-11-13 08:21] jolestar commented on #55314
@taherv  If there is no other way, this is also a method. I considered return device uuid，and flex plugin use uuid to find real device path, then use mount util (SafeFormatAndMount) to mount device . i

[2017-11-13 08:23] hchenxa commented on #53036
Seems this was not be a problem, the static pod need to re-apply, so the correct steps should be:

 1.   copy the static pod file outside of static pod path.
 2.  update the files
 3.   copy into static pod path.

[2017-11-13 08:29] axdotl commented on #27796
I accidentally entered the wrong mail-address when signing up for individual CLA. As a result the "CNCF Individual Contributor License Agreement - Signature request" was sent to the wrong address.
I updated the mail address in the account settings meanwhile.

Is it possible to receive a new "Signature Request" to the corrected address?

[2017-11-13 08:31] Sartner commented on #48703
same issue with 1.8.3

[2017-11-13 08:35] hzxuzhonghu commented on #55585
@dunjut Seems not serviceController issue. It already implement delete LB when no need LB. See `func (s *ServiceController) createLoadBalancerIfNeeded(key string, service *v1.Service) (error, bool) {
`

[2017-11-13 08:36] pgeorgiev333 commented on #23864
And just to add one more example - Passive FTP. I cannot use it as i need to expose a passive port range on the service (NodePort for exmaple) with a range (31000-31300 for example).

[2017-11-13 08:41] porridge opened #55589 "fetching cfssl during kube-up test is flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/7878 failed with:

[code]

Looks like fetching cfssl failed with an HTTP 5xx error and was not retried.

**What you expected to happen**:

Either the

[2017-11-13 08:43] porridge commented on #55229
More failures:
 - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/7874

[2017-11-13 08:50] #55567 closed

[2017-11-13 09:23] P4otocol opened #55596 "kubernetes apiserver does not update if another "kube-apiserver.yaml.bak" is present in the same directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: Kubernetes api server does not update with the information specified in "/etc/kubernetes/manifests/**kube-apiserver.yaml**" when another file with similar name exists in the same directory. Ex : "**kube-apiserver.yaml.bak**"

**What you expected to happen**: It should update the actual "kube-apiserver.yaml" and not use t

[2017-11-13 09:37] felskrone opened #55599 "10-calico.conflist not loaded"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug-Report

/kind bug

**What happened**:
I tried to setup canal/calico, but the kubelet fails to load the 10-calico.conflist file. The kubelets log states 'cni config uninitialized'.

[code]

If i rename the config to 10-calico.conf it gets picked up, but the error just changes to 'no plugin name provided'.

[code]
The config itself is the ConfigMap s

[2017-11-13 09:46] dunjut commented on #55585
@hzxuzhonghu I think `serviceController` is part of `kube-controller-manager`, and yes I think it already does the correct logic in the `createLoadBalancerIfNeeded` code snippet. Then it must be an issue of `cloud-provider` issue.

Can you reproduce it following my steps?

[2017-11-13 09:49] felskrone commented on #55599
@kubernetes/sig-node-bugs

I hope this is correct :-)

[2017-11-13 09:57] hzxuzhonghu commented on #55585
What cloud-provider are you using?

[2017-11-13 09:58] hzxuzhonghu commented on #55585
check your logic

[2017-11-13 10:07] dunjut commented on #55585
@hzxuzhonghu The thing is, we log at the very beginning of every LoadBalancer interfaces, but nothing prints out after I change a service's type from LoadBalancer to ClusterIP. So even our logic is wrong, at least we should be able to see a log of function call.

If you can't reproduce this issue according to my steps, then it must be something wrong of our own. Can you help confirm that?

[2017-11-13 10:35] abhinavsinha001 commented on #55583
@dixudx can you confirm if PodSecurity is actually a feature-gate I am unable to find any documentation on this as well as I see error when I add these flags to my kubeadm.yaml which I am using for initialization. Any steps on enabling this flag will be helpful:

This is the yaml I tried:
[code]
And got following error:
[code]

[2017-11-13 10:44] axinojolais opened #55602 "[juju] the log file for kubeapi-load-balancer is not rotated by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
one of my kubeapi-load-balancer unit ran out of disk because the log file set up by the Juju charm (`/var/log/nginx.access.log`) is not rotated.

**What you expected to happen**:
the log file should be rotated by default. You can make that happen easily if you log to `/var/log/nginx/*.log`

**How to reproduce it (as minim

[2017-11-13 10:45] wojtek-t commented on #53600
I don't fully agree here. While I understand your concerns for non-functional attributes, if we explicitly exclude them from conformance noone will be thinking about them.

That said, I also see the point that some distribution is by design not targetted for e.g. large-scale usecases. And that is something we need to keep in mind.
But if we say that "you can publish benchmark results" I really dou

[2017-11-13 10:45] b43646 opened #55603 "kube-proxy is unable to distribute traffic to different pods with sessionAffinity:client-ip after rolling update"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

**What happened**:

We deployed an application with a service + 1 rc + 2 pods on k8s 1.3,  the application port is exported as nodeport and set sessionAffinity to client-ip in service file. we use F5 device as external loadbalancer for two pods, that is , userclient --> F5 -- >nodeip:nodeport.

kube-proxy is unable to distribute traffic to

[2017-11-13 10:53] b43646 commented on #55603
/sig kube-proxy

[2017-11-13 10:57] b43646 commented on #55603
/sig kube-proxy

[2017-11-13 11:00] PerArneng commented on #53889
@dennisjac what was the final solution to this?

[2017-11-13 11:00] b43646 commented on #55603
/sig network

[2017-11-13 11:00] axinojolais commented on #55602
/sig cluster-lifecycle

[2017-11-13 11:02] b43646 commented on #55603
/area kube-proxy

[2017-11-13 11:03] andyxning commented on #55527
The original point is that when someone or k8s mark a node as notready we can not see the root reason for doing so. Instead we need to describe the node to see which condition or taint lead to making the node not ready.

If we can see the root reason for makeing a node notready or unschedulable when get a node, it should be user friendly. :)

As for the pods running on the not ready or unschedulab

[2017-11-13 11:09] b43646 commented on #55603
/assign

[2017-11-13 11:10] anguslees commented on #53379
(the fix is merged onto release-1.8, but after v1.8.4-beta.0)

[2017-11-13 11:11] b43646 commented on #55603
/unassin

[2017-11-13 11:14] b43646 commented on #55603
/assign freehan
/assign thockin

[2017-11-13 11:27] mYmNeo commented on #52641
@yujuhong We found a possible issue that causing this problem. #41436 may solve this, but it was not patched in release-1.4

[2017-11-13 11:52] jsravn commented on #45976
@someword Yes that's basically it - except it's dnsmasq which then optionally passes to the cluster kube-dns pods based on domain name.

[2017-11-13 12:28] mlmhl opened #55607 "Garbage collection for legacy container log is useless"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

`Kubelet` has a garbage collection to clean up unused containers, and containers' logs will be removed in the `GarbageCollect` method too. But  the garbage collection code for legacy container log(merged by this [PR](https://github.com/kubernetes/kubernetes/pull/34858), in this [commit](https://github.com/kubernetes/kubernetes/pull/34858/co

[2017-11-13 12:34] boeboe commented on #39178
+1

[2017-11-13 12:46] Theoooooo commented on #55170
@bluebenno These both solutions doesn't work. Changing the driver just doens't allow me to start my cluster and reinstalling kubeadm after a reset do nothing. I still have the same problem.
I also mention i start my cluster with the CIDR-POD-NETWORK for calico 192.168.0.0/16

[2017-11-13 12:52] porridge commented on #55060
FTR, this seems to have mostly recovered for the 5k nodes test too.
![tbi4xpy77zr](https://user-images.githubusercontent.com/489420/32726636-ec85b750-c879-11e7-832b-9351180bbca0.png)

[2017-11-13 12:55] humblec commented on #37625
Looking into this.

[2017-11-13 12:56] dankohn commented on #27796
@axdotl Please email helpdesk@rt.linuxfoundation.org and they will take care of you.

[2017-11-13 13:05] idvoretskyi commented on #47831
@xsgordon sure. Is it non-valid anymore?

[2017-11-13 13:12] djay87 commented on #53566
+1

[2017-11-13 13:39] dixudx commented on #55607
@Random-Liu I think it should be

[code]

[2017-11-13 13:40] mtanino commented on #55314
@taherv @jolestar

FC plugin supports following parameters to avoid to use unexpected device across kubelet node reboot.
- WWN + lun => find device from /dev/disk/by-path
- WWID => /dev/disk/by-id

I didn't  see current flex plugin implementation, seems flex needs similar functionality?

[2017-11-13 13:44] axdotl commented on #27796
@dankohn Thanks!

[2017-11-13 13:47] dixudx commented on #55596
@P4otocol This is not a bug. Actually all the files under the manifest path are treated as regular files, regardless of file suffix.

`kube-apiserver.yaml.bak` is read after `kube-apiserver.yaml`, so whatever you have changed in `kube-apiserver.yaml.bak` will be overwrote.

[2017-11-13 13:48] dixudx commented on #55596
/close

[2017-11-13 13:48] #55596 closed

[2017-11-13 13:58] dixudx commented on #55583
@abhinavsinha001 It is `kubelet`, not `kubeadm`.

[2017-11-13 14:01] shashidharatd commented on #35637
Hello @nikox94,
What you tested above is using one cluster. But if you add another cluster to federation, then the records for `my-nginx.default.fellowship.svc.thedreamshack.com.` should contain all the instances of the federated service. This is not possible if you change the dns record of `my-nginx.default.fellowship.svc.thedreamshack.com.` from `A` to `CNAME`.

CNAME record can just point to on

[2017-11-13 14:01] wackxu opened #55608 "bad comment in pkg/kubelet/eviction/eviction_manager.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:

[2017-11-13 14:08] #55608 closed

[2017-11-13 14:08] pramodgavali opened #55609 "Flex volume driver errors from attach callout are not getting added as event in POD"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE
/kind feature

**What happened**:
We developed flex volume driver implementing 1. attach , 2. mount , 3. mountDevice 4, detach , 5. unmount call outs .  The `attach ` call out fails if there are some error at vendor side or if user specify wrong access policies in pvc yaml. These error are not getting added as event in POD . The add only generi

[2017-11-13 14:09] #44775 closed

[2017-11-13 14:10] dims commented on #55607
/sig node

[2017-11-13 14:10] dims commented on #55589
/sig testing
/area build-release

[2017-11-13 14:10] dims commented on #55565
/sig auth

[2017-11-13 14:11] dims commented on #55559
/sig api-machinery

[2017-11-13 14:11] dims commented on #55544
/sig gcp

[2017-11-13 14:12] dims commented on #55526
/sig node

[2017-11-13 14:12] dims commented on #55501
/sig node

[2017-11-13 14:13] dims commented on #55488
/sig api-machinery

[2017-11-13 14:14] dims commented on #55452
/sig api-machinery

[2017-11-13 14:15] dims commented on #55609
/sig storage

[2017-11-13 14:15] dims commented on #55427
/sig api-machinery

[2017-11-13 14:15] dims commented on #55421
/sig api-machinery

[2017-11-13 14:16] dims commented on #55398
/sig node

[2017-11-13 14:16] dims commented on #55397
/sig node

[2017-11-13 14:16] dims commented on #55386
/sig node

[2017-11-13 14:16] dims commented on #55374
/sig auth

[2017-11-13 14:16] dims commented on #55355
/close

[2017-11-13 14:16] #55355 closed

[2017-11-13 14:17] dims commented on #55346
/sig api-machinery

[2017-11-13 14:17] dims commented on #55286
/sig node

[2017-11-13 14:17] dims commented on #55249
/close

please see the note above

[2017-11-13 14:18] #55249 closed

[2017-11-13 14:18] dims commented on #55216
/sig api-machinery

[2017-11-13 14:18] dims commented on #55211
/sig node

[2017-11-13 14:19] dims commented on #55176
please talk to the folks from microsoft - https://docs.microsoft.com/en-us/azure/container-service/kubernetes/container-service-kubernetes-walkthrough

/close

[2017-11-13 14:19] #55176 closed

[2017-11-13 14:19] dims commented on #55170
/sig network

[2017-11-13 14:19] stevenaldinger opened #55610 "Cannot resolve internal DNS intermittently on GKE 1.8.2"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug

What happened:

DNS (kube-dns) fails to resolve intermittently for internal services when a pod is running on the same node as a kube-dns pod.

What you expected to happen:

Successfully resolve DNS regardless of which node a pod is scheduled on.

How to reproduce it (as minimally and precisely as possible):

Spin up 3 node cluster running `v1.

[2017-11-13 14:21] dims commented on #55610
/sig gcp

[2017-11-13 14:37] m1093782566 opened #55612 "getLocalIPs() in pkg/proxy may return bad ip address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

IPPart() in pkg/proxy/util may return bad ip address. For example,

Assume endpoints {1.2.3:8080}, then getLocalIPs() will return `1.2.3` as the IP address.

Besides, `getLocalIPs()` in ipvs/proxy is inconsistent with iptables/proxy

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as p

[2017-11-13 14:43] MaciekPytel commented on #54959
@kevincvlam The PR has been merged to Cluster Autoscaler master (https://github.com/kubernetes/autoscaler/pull/461), I'll cherry-pick it for CA 1.0.3 (which will go out with k8s 1.8.4).

[2017-11-13 14:44] bot11 opened #55613 "Kernel panic while creating large number of pods in parallel."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Kernel panic, when large number of pods are scheduled at a time in parallel.  After the panic, VM not able to recover.

**What you expected to happen**:
Not to hit kernel panic. After max number of pods (default is 110) are created and running, remaining pods should be in pending state.

**How to reproduce it (as minimally

[2017-11-13 14:57] fieryvova commented on #55477
So this is a feature then?

[2017-11-13 15:07] bjhaid commented on #53379
@anguslees what stable release of k8s will this be in? 1.8.4 or 1.8.5?

[2017-11-13 15:09] bgrant0607 commented on #53459
See also #1362

[2017-11-13 15:29] frobware commented on #54574
Going to investigate this too.

[2017-11-13 15:35] crassirostris opened #55616 "Request body failed to be serialized in audit event"
I observe the following error in the logs:

[code]

Any ideas where this comes from?

/cc @tallclair @sttts @soltysh @CaoShuFeng @ericchiang

[2017-11-13 15:35] gyliu513 opened #55617 "Memory leak in controller manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The controller manager consuming 4.6G memory in my environment.

[code]

After gdb to controller manager, I found that it has 8 threads, but normally, I can see the controller manager often have 1 thread. Can someone help check in which case the controller manager can have many threads?

[code]

**What you expected to ha

[2017-11-13 15:35] gyliu513 commented on #55617
/sig api-machinery

[2017-11-13 15:36] boeboe commented on #39178
@msau42 this would work if a POD only has 1 PVC. In my case I have a POD with 2 PVC's and then this trick doesn't work.

[2017-11-13 15:53] jakexks commented on #54370
I added more Printf debugging whenever the predicate is entered, and before any possible "return true" exits: https://github.com/jakexks/kubernetes/commit/0ca7c532567d8262d7966ca38e774708323d827c

This resulted in the following scheduler log:
https://gist.github.com/jakexks/c95abbddfe71bae306f48e1502a26b57

Kubernetes never even checks the predicate for the second pod (which is bizarre!)

Any idea

[2017-11-13 15:55] chenww opened #55618 "K8s node "NotReady" with OOM event though node has zero resource pressure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node-lifecycle

**What happened**:
Worker node is in "NotReady" state after running 44 days. no workload has be changed so far, and memory is not under pressure at all, but node did get OOM event.

**What you expected to happen**:
Node should continue to run

**How to reproduce it (as minimally and precisely as possible)**:
Not sure how

[2017-11-13 16:01] alexef commented on #15169
@fabiand Now (kubernetes 1.7+), this functionality should be available through DaemonSets + hostPort + spec.hostIP/nodeIP

https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#communicating-with-daemon-pods

[2017-11-13 16:03] chenww commented on #55618
/sig label:area/node-lifecycle

[2017-11-13 16:08] sfluor commented on #48703
Same issue with 1.8.3 (Ubuntu 16.04.2 LTS)

[2017-11-13 16:08] chenww commented on #55618
area/node-lifecycle
 area/nodecontroller

[2017-11-13 16:10] chenww commented on #55618
/area node-lifecycle
/area nodecontroller

[2017-11-13 16:10] chenww commented on #55618
/area node-lifecycle
/area nodecontroller

[2017-11-13 16:20] sjenning opened #55620 "kubelet: corrupt dockershim checkpoint jams up CNI"
There is currently a bug with the docker shim checkpoint file when the file is corrupt that can cause the kubelet to not be able to stop a sandbox.

The issue occurs because `buildCNIRuntimeConf()` modifies the error from `GetPodPortMappings()` as it propagates the error:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go#L303

The corrupted checkpoint file should

[2017-11-13 16:23] sjenning commented on #55620
/sig node

[2017-11-13 16:28] sttts commented on #55616
There is no v1 version of policy, isn't there?

[2017-11-13 16:31] sttts commented on #55616
And `"v1"` is a GroupVersion as far as I see. This means the gv is actually core/v1.

[2017-11-13 16:32] sttts commented on #55616
@crassirostris can you reproduce this? Would be helpful to know the exact request (http path especially and verb). Maybe a `debug.PrintStack()` output would also help.

[2017-11-13 16:36] crassirostris commented on #55616
@sttts I'll try to repro this with more details. Meanwhile this is the piece of code responsible for the message: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/audit/request.go#L152

[2017-11-13 16:37] msau42 commented on #54370
Can @kubernetes/sig-scheduling-bugs help look into this?  It seems like the predicates for the 2nd pod are not run for some reason.

[2017-11-13 16:38] gtaylor commented on #15169
The somehow part of this is the thing needing improvement. As it stands, I believe you have to query the Kubernetes API to figure out the node's IP.

[2017-11-13 16:38] sjenning commented on #55620
The error stack
[code]

[2017-11-13 16:58] frobware commented on #54574
@spiffxp this appears to be passing now. As highlighted by @MaciekPytel on slack/sig-autoscaling, #55413 might be significant here.

[2017-11-13 16:59] crassirostris opened #55621 "Always retry audit webhook"
For background processes like buffered audit logging it makes sense to always retry the request. This won't change the user request latencies but will increase the reliability for any system that received those events

Audit logging is different from auth[nz], the latter can be retried by user, audit logs are gone for good, once the webhook decides not to retry

/cc @sttts @tallclair @ericchiang @

[2017-11-13 17:17] justinsb commented on #39178
@deitch can you explain what you're trying to do?

On AWS, the cluster autoscaler comes into play as well - instances are dynamic.  So what I expect the answer to be:

* If you're allocating in all N zones, cluster autoscaler _should_ create instances to ensure that pods are schedulable.
* If you're allocating in a subset of zones, you would specify a storage class constraining to those zones, I t

[2017-11-13 17:33] KeithTt opened #55623 "No nodes are available that match all of the predicates: MatchNodeSelector"
kube version: 1.8.2
docker version: 17.06.2-ce
etcd version: 3.2.9
OS version: debian-stretch

[code]
[code]

how to fix this problem, pls help...

[2017-11-13 17:34] KeithTt commented on #55623
/sig tolerations

[2017-11-13 17:36] nsidhaye commented on #44348
How we can come to know which release this is fixed?

I am using 1.6.6 still I can see this issue.

Thanks in Advance.

[2017-11-13 17:38] sjenning commented on #55620
Call stack is
[code]
I think this might fix it
[code]

[2017-11-13 17:40] derekwaynecarr commented on #55620
@sjenning -- its super brittle that wrapping an error in that stack causes a problem.

[2017-11-13 17:43] abhinavsinha001 commented on #55583
Here is where I added the flags:
[code]

I get following error on restarting kubelet:
[code]

If I remove PodSecurity it starts correctly

[2017-11-13 18:02] deitch commented on #39178
@justinsb :

Precisely.

Definitely. Or perhaps slightly more accurately, "if you end up in a subset of zones for reasons of choice or constraints". I think if EFS performance were to match EBS, especially cross-AZ (haven't tested), and the EFS provisioner were to be promoted, then a lot of this would go away.

But there also is an issue even if I have not constrained my specific workers to specif

[2017-11-13 18:06] dashpole commented on #48703
@Sartner and @sfluor, your issues are likely different from this issue.  Please open a new issue and cc me, and we can try and solve it

[2017-11-13 18:10] rjtsdl opened #55627 "[Azure] cloud provider load balancer general improvement"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
According to the nature of Azure network, it is implement things a little different. So right now, we are facing many issues.
1. We have seeing resources leaking. The reason is that, to enable k8s's LoadBalancer, we need multiple resources from Azure, such as Azure LoadBalancer, Azure Network Security Group, Azure Pub

[2017-11-13 18:25] dashpole opened #55628 "Cut and vendor cAdvisor v0.28.1 for the 1.9 release."
This issue tracks progress for the cAdvisor release corresponding to the kubernetes 1.9 release.
Cutting the cAdvisor release is currently targeted for 11/17.
This cAdvisor release should include per-container GPU stats, on-demand metrics, and containerd stats, among other things.

cc @dchen1107 @Random-Liu @derekwaynecarr @abhi @mindprince
/sig node
/kind feature

[2017-11-13 18:32] Random-Liu opened #55629 "E2E test framework should support collecting logs for alternative container runtime daemon."
Currently it only collects docker log.

@kubernetes/sig-node-feature-requests

[2017-11-13 18:34] dashpole commented on #55628
/priority important-soon

[2017-11-13 18:43] ryanschwartz opened #55630 "HPA not scaling due to evicted pods"
/kind bug
**What happened**:
HPA fails to launch additional pods due to pods in evicted state, even with utilization significantly over target.

**What you expected to happen**:
When HPA pods reach the target utilization, new pods should be allocated and provisioned.

**How to reproduce it (as minimally and precisely as possible)**:
Launch a HPA, let the pods fill the disk on the host which will t

[2017-11-13 18:45] nailgun commented on #50252
@JorritSalverda how we can track this case? is it publicly open?

[2017-11-13 18:48] dchen1107 commented on #54916
@Lion-Wei Just checked GKE Ubuntu OS image, and it has ip_vs_* modules by default.

[code]

[2017-11-13 18:51] ryanschwartz commented on #55630
@kubernetes/sig-scheduling

[2017-11-13 19:24] Boxx commented on #50345
Bump

[2017-11-13 19:34] shyamjvs commented on #54637
Didn't look deeper, but from the c-m logs it seems like HPA failed to get the pod metrics, with multiple such errors:

[code]

[2017-11-13 20:05] caesarxuchao commented on #49027
When will there be orphaned resources? Is that a bug if there are orphaned resources? I thought the namespace registry would ensure that all enclosing resources the deleted before deleting the namespace.

[2017-11-13 20:16] kunal-shah opened #55632 "Deletion of PVs when cluster is deleted for AWS EBS volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

I am using dynamic provisioning of storage with AWS EBS. When I delete Kubernetes cluster, all physical volumes on EBS that were created are still present and not getting deleted. I was expecting them to be deleted with cluster that is managing those volumes. If entire cluster is gone, there is no good way to re-utilize those dynamically cr

[2017-11-13 20:17] wlan0 opened #55633 "Master Kubelet TLS verification broken due to external cloud provider node initialization order"
Before the CCM started initializing node addresses (IP addresses and Hostnames) asynchronously, the kubelet would read the addresses, and hostnames from the node or from the cloud before creating the TLS serving certs. This ensured that the TLS certs reflected the correct addresses.

Now that the asynchronous model is being followed for node initialization, the kubelet generates certs with a set o

[2017-11-13 20:17] wlan0 commented on #55633
/assign @rrati

[2017-11-13 20:32] rrati commented on #55633
/sig node

[2017-11-13 20:32] #55629 closed

[2017-11-13 20:42] alexef commented on #15169
Or you can use the Downward api to get the hostIP :)

[2017-11-13 20:44] spiffxp commented on #54574
/remove-priority critical-urgent
/priority important-soon
Agree, this has moved off of release-master-blocking, with the exception of soak-gci-gce which I would like to kick out of the list of blocking tests wholesale anyway.

This is still affecting some upgrade tests, which I'm not actively watching yet.  Once we hit code freeze, I will be watching them, and will bump priority accordingly.  Does

[2017-11-13 20:47] rootfs commented on #54214
@weiwei04 thanks, does the problem persist if node_exporter stops collecting filesystem metrics?

[2017-11-13 21:09] arun-gupta commented on #55433
The cluster was created using:

[code]

This is explained at https://github.com/arun-gupta/kubernetes-aws-workshop/tree/master/cluster-install#create-a-gossip-based-kubernetes-cluster.

More details about the cluster:

[code]

I could still create the pod, and more details about the pod are at:

[code]

Where would I look for presets?

[2017-11-13 21:14] lavalamp commented on #55452
Why not just use bash -c or some other shell wrapper?

[2017-11-13 21:15] lavalamp commented on #55452
I don't think this is sig api machinery but I'm not sure where it belongs, maybe node?

[2017-11-13 21:15] amalucelli commented on #52850
I was having a similar situation, I resolved by removing/commenting the environment variable `KIBANA_BASE_URL` (or in your case `SERVER_BASEPATH`).

[2017-11-13 21:15] lavalamp commented on #55453
cc @mml

[2017-11-13 21:16] yliaog commented on #55453
cc @yliaog

[2017-11-13 21:22] lavalamp commented on #55473
Is there a rogue finalizer on this service? Does kubectl get -a show it?

We're going to give this to sig network, kick it back if there is evidence of a cache going wrong or a rogue finalizer from one of our components.

/sig network

[2017-11-13 21:24] lavalamp commented on #55535
Who owns this? Who made it?

[2017-11-13 21:24] lavalamp commented on #55536
@sttts

[2017-11-13 21:24] lavalamp commented on #55538
@enisoc

[2017-11-13 21:27] lavalamp commented on #55541
@enisoc

I'm very surprised you can do proto with CRDs? How does the system interact with the metadata?

[2017-11-13 21:28] lavalamp commented on #55542
Yeah this probably could use a fix in gengo, actually.

[2017-11-13 21:29] yliaog commented on #55541
/cc @yliaog

[2017-11-13 21:29] ncdc commented on #55541
@lavalamp you can't. CRDs only support JSON.

[2017-11-13 21:32] a-robinson opened #55636 "Repeatable Internal Server Error when trying to delete CSRs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

**What you expected to happen**:

The delete command to either succeed or return a non-internal error explaining the problem.

**How to reproduce it (as minimally and precisely as possible)**:

Try to delete a list of CSRs separated by commas rather than by spaces.

**Anything else we need to know?**:

I was able

[2017-11-13 21:34] lavalamp commented on #55564
@smarterclayton is working on making it possible for the server to return just this data.

However it won't be easy (possible?) to put an RBAC rule on that, as it's negotiated via HTTP headers.

@deads2k or @liggitt may have ideas. I'd want to think very carefully before doing something drastic like adding a ton of subresources.

[2017-11-13 21:36] liggitt commented on #55564
also, metadata isn't guaranteed to be free of confidential data. `kubectl apply` puts full copies of object data in annotations

[2017-11-13 21:42] a-robinson commented on #55636
@kubernetes/sig-api-machinery-bugs
@kubernetes/sig-auth-bugs

[2017-11-13 21:43] enisoc commented on #55538
We test CRD watch in [kubectl tests](https://github.com/kubernetes/kubernetes/blob/d2153dff8e31fe0c7ad72bd58ccd55dd077a4a1e/hack/make-rules/test-cmd-util.sh#L1695-L1719) and in [apiextensions integration tests](https://github.com/kubernetes/kubernetes/blob/d2153dff8e31fe0c7ad72bd58ccd55dd077a4a1e/staging/src/k8s.io/apiextensions-apiserver/test/integration/basic_test.go#L105-L146), but not in [e2e]

[2017-11-13 21:45] yujuhong commented on #54651
+1. Is this tracked anywhere?

[2017-11-13 21:47] enisoc commented on #55541
As @ncdc said, CRD only supports JSON, for the reason @lavalamp alluded to. We allow the custom objects to be effectively schemaless, so there's no source of truth from which to generate protobuf definitions.

[2017-11-13 21:52] luxas commented on #54651
Not AFAIK @yujuhong, please open one

[2017-11-13 21:57] lavalamp commented on #55238
Just run it as a regular pod on the cluster and it should magically work. Don't run it specially outside of the network.

That's actually worse, as it encourages a bad practice of using host networking without solving the problem that apiserver may not have routes to nodes or nodes may have only private IPs, etc.

kube-apiserver right now has some ssh tunneling capabilities but we want to remove t

[2017-11-13 21:59] mikedanese commented on #55636
The error appears to be a timeout which we should track down.

Can you delete them individually? kubectl is interpretting that as a single csr named "default.client.root,default.node.cockroachdb-0,default.node.cockroachdb-1,default.node.cockroachdb-2,default.node.cockroachdb-3". Notice the DELETE in your logs.

[2017-11-13 22:04] a-robinson commented on #55636
Yeah, it really seems to be more of a parsing issue than anything, but it's weird that it reliably spit out an internal server error instead of a "does not exist" error. Deleting them with spaces in place of the commas works fine, but got rid of the reproducibility.

[2017-11-13 22:11] ryanmcnamara commented on #50110
Any update?

[2017-11-13 22:46] #53526 closed

[2017-11-13 22:50] dashpole opened #55638 "Monitor /kubepods cgroup for allocatable metrics"
Currently, for memory allocatable evictions, we sum the memory usage of pods in order to calculate allocatable memory usage.
We can get more accurate metrics by monitoring the kubepods cgroup, which contains all pods and their processes.  This has a few benefits:

1. It makes calculation of allocatable usage more accurate.
2. It makes the eviction manager simpler
3. After on-demand metrics are imp

[2017-11-13 23:14] Guillaume-Mayer commented on #2630
I tried to mount an azurefile persistent volume for Jenkins and had the permission denied problem, because the  jenkins_home directory was only rwx for root, when Jenkins works with jenkins user.
I could  workaround using securityContext/runAsUser: 0 but it would be  better to inherit the  existing dir  rights or to provide  a chmod property.

[2017-11-13 23:22] lavalamp commented on #49027
Perhaps we should skip the entire admission chain on DELETE requests when the namespace is absent?

Or just the webhooks?

Sometimes an update is a delete and vice versa.

[2017-11-13 23:23] bgrant0607 commented on #2630
cc @kubernetes/sig-storage-feature-requests @kubernetes/sig-node-feature-requests

[2017-11-13 23:24] mlowery commented on #47992
Essentially, this is a discrepancy between `/etc/hosts`-based lookup vs. nameserver-based lookup if `subdomain` is specified but `hostname` is not.

In the short term, I've added an [admission controller](https://github.com/kubernetes/kubernetes/compare/release-1.6...mlowery:hostname-sync?expand=1) (which is opt-in via an annotation) that sets `hostname` to match pod name. This seems to work fine

[2017-11-13 23:32] kfox1111 commented on #18174
https://github.com/kubernetes/kubernetes/issues/54306

Could  support for kube-proxy snapshotting the default kubernetes service be a solution? Both kubelet and kube-proxy could point at the svc ip and iptables or ipvs could handle the actual load balancing? I think most of the code is already in place to support it?

It would complicate the initial node bootstrapping a bit, as you would have to p

[2017-11-14 00:29] jiulongzaitian commented on #55550
i have found the seem question when i used calico network:
`  kubectl apply -f https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yaml    .`
similary， the node host lack of cni configure file in /etc/cni/net.d.   and i found that cni container failed to write configue file when it start by it`s logs.    after reboot the node host, it`s ok.

[2017-11-14 01:24] andrewmed commented on #45426
Confirm. Documentation explicitly says "In the ServiceSpec, externalIPs can be specified along with any of the ServiceTypes", however, this does not seem to be the case

[2017-11-14 01:28] andrewmed commented on #45426
[code]

[2017-11-14 01:36] mlmhl commented on #55607
@dixudx  I think this code maybe still a problem as it doesn't check whether according `Pod` is deleted or not, so it will remove all existing legacy logs even if according containers are running normally.

[2017-11-14 01:38] gtaylor commented on #15169
Ah, I didn't see that they added the node IP. This is good enough to solve this issue, I think.

[2017-11-14 01:38] #15169 closed

[2017-11-14 01:49] mtaufen opened #55644 "Kubelet: Resolve paths from config files against config file location"
See https://github.com/kubernetes/kubernetes/pull/53833#issuecomment-344009912

[2017-11-14 01:51] mtaufen opened #55645 "Kubelet: Resolve paths from dynamic config payloads against unpacked config file location"
See https://github.com/kubernetes/kubernetes/pull/53833#issuecomment-344009912

We have to do this before dynamic config leaves alpha. This requires some changes to how dynamic config checkpoints payloads, so defering this work for now to focus on https://github.com/kubernetes/kubernetes/issues/55644 instead.

[2017-11-14 02:10] dixudx commented on #55623
[code]

@KeithTt You're using `nodeSelector` to let pod run certain node. Please ensure some of your `kubelet` nodes have such a label.

[2017-11-14 02:20] Sartner opened #55649 "kubelet log "no observation found for eviction signal allocatableNodeFs.available" every 10 sec"
Kubelet print the log continuously when I upgrade from 1.8.1 to 1.8.3
@dashpole

[code]

[code]

[code]

**Environment:**

- Kubernetes Version: 1.8.3
- Docker Version: 17.03.2-ce
- OS: CentOS Linux release 7.4.1708 (Core)
- Kernel Version: 3.10.0-693.2.2.el7.x86_64

[2017-11-14 02:25] Sartner commented on #55649
/cc @kubernetes/sig-node-bugs
/cc @dashpole

[2017-11-14 02:27] xiaosadexiaohai commented on #48703
![image](https://user-images.githubusercontent.com/18409309/32759814-0494b1b6-c8b1-11e7-896b-c801dd844d6a.png)
Same issue with 1.8.3  (centos7.4)

[2017-11-14 02:31] jolestar commented on #55314
@mtanino  yes, flex also needs that functionality. Otherwise it is difficult to write a correct flex plugin.

[2017-11-14 02:37] taherv commented on #55314
You can still implement this in your flexvol plugin, the API allows you to do what I suggested ....

[2017-11-14 02:39] KeithTt commented on #55623
@dixudx thanks!!!

[2017-11-14 02:39] #55623 closed

[2017-11-14 02:56] hzxuzhonghu opened #55652 "TestCascadingDeletion during pull-kubernetes-unit-test flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55575/pull-kubernetes-unit/64726/
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud

[2017-11-14 02:57] hzxuzhonghu commented on #55652
/sig testing
/area build-release

[2017-11-14 03:05] dims commented on #55632
/sig aws

[2017-11-14 03:06] dims commented on #55618
/sig node

[2017-11-14 03:13] fejta-bot opened #55655 "Failure cluster [67fe65...] failed 182 builds, 24 jobs, and 1 tests over 1 days"
### Failure cluster [67fe65842e8adb590d1e](https://go.k8s.io/triage#67fe65842e8adb590d1e)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    24 jobs failed,    182 builds failed.
Failure stats cover 1 day time range '13 Nov 2017 01:03 UTC' to '14 Nov 2017 01:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 24 |

##### Top

[2017-11-14 03:25] gnufied commented on #55632
How did you delete your Cluster? Deleting a namespace should cause deletion of all dynamically provisioned PVs and their backing EBS volumes.

[2017-11-14 03:26] dims opened #55656 "Endless recursive requests to server when server response error"
Upstream Issue in Gophercloud : https://github.com/gophercloud/gophercloud/issues/232
Upstream fix in Gophercloud : https://github.com/gophercloud/gophercloud/pull/604

Can we please update to latest gophercloud for 1.9?

[2017-11-14 03:27] yiqinguo commented on #2856
@xiaods I agree.

[2017-11-14 03:30] dims commented on #55656
/sig openstack

[2017-11-14 03:42] Lion-Wei commented on #54916
@dchen1107 Thanks

[2017-11-14 03:43] m1093782566 commented on #54916
That's great! @dchen1107

[2017-11-14 04:22] langyenan opened #55662 "service-controller doesn't react to node changes"
By now, service-controller watches Service but is oblivious of Node changing. If Node is added or removed from cluster while service keeps unchanged, service-controller will not update Node info into load balancer.
Shouldn't service-controller get informed when Node is added/removed?

[2017-11-14 04:27] langyenan commented on #55662
/area controller-manager /area cloudprovider

[2017-11-14 05:03] deitch commented on #18174
But better not to complicate it. I think a big thrust should be towards simplification.

How would snapshotting help? I still need to tell it, "here are my 3 masters", and it needs to know about those three and update.

In the end, IMHO, simpler solution is just to have kubelet/kube-proxy be able to handle multiple endpoints.

[2017-11-14 05:17] miaoyq opened #55664 "Need validate `EnforceNodeAllocatable` values in kubeletconfig api validation test."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In kubeletconfig api validation test, it is incomplete about `EnforceNodeAllocatable`, see:
https://github.com/kubernetes/kubernetes/blob/2d64ce5e8e45e26b02492d2b6c85e5ebfb1e4761/pkg/kubelet/apis/kubeletconfig/validation/validation_test.go#L29
and
https://github.com/kubernetes/kubernetes/blob/2d64ce5e8e45e26b02492d2b6c85e5ebfb1e4761

[2017-11-14 05:33] mtaufen opened #55666 "Comments/help text wrong for --init-config-dir"
See: #54602

[2017-11-14 05:36] miaoyq commented on #55664
/sig node

[2017-11-14 05:37] miaoyq commented on #55664
/sig node

[2017-11-14 05:45] sdaschner opened #55667 "Rolling-update with NodePort and Service VIP looses requests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Since the update from Kubernetes 1.6.4 to 1.8 -- in my case provided by Minikube v0.18, now v0.23 -- the zero-downtime rolling-update with `NodePort` services (and Service VIP) doesn't work anymore without loosing requests. After doing some investigation (how Kubernetes managed rolling-updates, also see kubernetes/contrib

[2017-11-14 06:11] justinsb commented on #39178
@deitch - what you're saying makes sense.  I think the challenge is that there's another use case as well - the clustered DB case.  If you have a 3 node DB and 3 AZs, we want to allocate those volumes in all 3 AZs.  Now the controversial case: I think we want to do that even if one of the AZs is down right now, so the pod won't be scheduled - eventually it'll recover, and you don't want your DB al

[2017-11-14 06:19] hzxuzhonghu commented on #55662
service controller does sync node periodically(100s).

[2017-11-14 06:36] anguslees commented on #55564
@liggitt: urgh, I'd forgotten about that delightful feature of `kubectl apply`.  Yep, that sinks this as an idea - closing.

[2017-11-14 06:36] #55564 closed

[2017-11-14 06:41] ovidiucp commented on #18174
I agree with @deitch. What happened to #40674? Why can't we have that as a solution?

[2017-11-14 06:48] deitch commented on #39178
@justinsb - I agree with the challenge. In the case of no volume (or no zone dependency), then if I have a "preferredWhenScheduling"-type affinity, then when the new zone comes up, it eventually will rebalance into all 3 AZ. If there is a volume involved, then it gets messy.

I think the way I would handle it (in the absence of zone-migratable or multi-zone-accessible volumes) is to set an affinit

[2017-11-14 06:50] victorgp commented on #7433
I respond to myself. Yes there is a way to do it.

You can deploy the Pods as DaemonSets and use the HostPorts to communicate with the DaemonSet pods: https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#communicating-with-daemon-pods

Then in your application, you use the Downward API to find out what's the NodeIP: https://kubernetes.io/docs/tasks/inject-data-application/downward-

[2017-11-14 06:51] mchangxe commented on #55589
also encountering this problem during local-cluster-up.sh. Cfssl is already installed on the machine but still downloads

[2017-11-14 06:53] langyenan commented on #55662
@hzxuzhonghu found it, thanks

[2017-11-14 06:54] #55662 closed

[2017-11-14 07:03] hzxuzhonghu commented on #55616
I think its because the request resource is with invalid version. `type Eviction struct` have no v1 version

[2017-11-14 07:50] NickrenREN opened #55671 "TestUpdateNodeWithMultiplePods will fail if we run all test in its package (pkg/controller/node/scheduler/)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When we run single test for `TestUpdateNodeWithMultiplePods `, it will always succeed, but if we run all test in its package, it will fail.

**What you expected to happen**:
Always succeed

**How to reproduce it (as minimally and precisely as possible)**:
run tests using `make test WHAT=./pkg/controller/node/scheduler/`

[2017-11-14 07:54] NickrenREN commented on #55671
I debug for this, and find that it is time issue.
First test case,  pod2 will be evicted after 1 second, but fakeClientset.Actions() is nil

[code]

[2017-11-14 07:57] KeithTt opened #55672 "heapster Failed create pod sandbox."
kube version: 18.2
docker version: 17.06.2-ce
OS version: debian stretch

I scale the replicas of heapster from 1 to 3, COZ there is only one node's metrics can be displayed on the dashboard, and the other two pods pending:

[code]
[code]
[code]

one more thing, I change the network plugin from calico to contiv, does it have anthing to do with the problem?

[2017-11-14 07:58] KeithTt commented on #55672
/sig scalability

[2017-11-14 08:04] NickrenREN commented on #55671
/assign

[2017-11-14 08:06] dixudx commented on #55613
@bot11 Any logs for `controller-manager` and `kubelet` ?

[2017-11-14 08:06] #34120 closed

[2017-11-14 08:09] #55553 closed

[2017-11-14 08:09] #55612 closed

[2017-11-14 08:09] #39823 closed

[2017-11-14 08:23] #50580 closed

[2017-11-14 08:25] porridge opened #55675 "cluster/log-dump/log-dump.sh: line 235: NODE_NAMES[@]: unbound variable"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55056/pull-kubernetes-kubemark-e2e-gce/62590/ `e2e-up.sh` failed due to #55229.
Afterwards `log-dump.sh` crashed as follows:

[code]

**What you expected to happen**:

Graceful exit.

[2017-11-14 08:31] goby opened #55676 "CRI: container runtime interface support PodSandboxImage config"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
When use remote container runtime, the remote can't get any PodSandboxImage config set by kubelet `--pod-infra-container-image`

**What you expected to happen**:
We want the all container runtime should know what's right PodSandboxImage

**How to reproduce it (as minimally and precisely as possible)**:
1. Add in new no

[2017-11-14 08:33] Dieken opened #55677 "stuck on kube-apiserver HA"
// I didn't get suggestion from slack, so open an issue here.

I get stuck on kube-apiserver HA.   The load balancer on China Aliyun cloud provider doesn't allow HTTPS backend server for L7 load balancer, and backend server behind L4 load balancer can't access itself through L4 load balancer.

[code]

I planned to place all k8s master nodes behind L4 LB,   all k8s worker nodes access apiserver thr

[2017-11-14 08:44] f7r opened #55678 "initiator reported error (19 - encountered non-retryable iSCSI login failure)"
I want to use iscsi on k8s 1.8.2, but throw an error on kubelet log

    Nov 14 16:41:09 server-222 kubelet: E1114 16:41:09.553260    1188 iscsi_util.go:233] iscsi: failed to rescan session with error: iscsiadm: No session found.
    Nov 14 16:41:09 server-222 kubelet: (exit status 21)
    Nov 14 16:41:09 server-222 kernel: scsi host18: iSCSI Initiator over TCP/IP
    Nov 14 16:41:09 server-222 ku

[2017-11-14 08:49] tengqm opened #55679 "Pods with GPU requests should be rejected early if Accelerators feature gate is off"
/kind bug

*What happened**:
When requesting a Pod creation with alpha.kubernetes.io/nvidia-gpu specified, I was hoping that the creation is a failure because I didn't enable the Accelerators feature gate. However, it succeeded. The pod is stuck in Pending status which is fine.

**What you expected to happen**:
I'm expecting that a Pod requesting GPU will be rejected when its container resource re

[2017-11-14 09:07] goby commented on #55676
/sig node

[2017-11-14 09:09] f7r commented on #55678
/sig storage

[2017-11-14 09:13] porridge commented on #55675
@kubernetes/sig-testing-bugs

[2017-11-14 09:18] KeithTt commented on #43014
Change the network plugin from calico to contiv, and meet the same problem.

[2017-11-14 09:35] Dieken commented on #55677
/sig api-machinery
/sig cluster-ops
/sig network

[2017-11-14 09:35] crassirostris commented on #55616
OK, couldn't repro within one day. It probably came from some faulty e2e test, nvm

[2017-11-14 09:35] #55616 closed

[2017-11-14 09:51] porridge opened #55686 "intermittent master init failures in kubemark and other tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Last 3 failures to bring up cluster for job ci-kubernetes-kubemark-5-gce-last-release:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce-last-release/1896
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce-last-release/1876
- https:

[2017-11-14 09:51] porridge commented on #55686
/assign

[2017-11-14 09:54] dixudx commented on #55676
@goby use `--container-runtime=docker` instead.

[2017-11-14 10:00] mcginne commented on #55473
Typically a few hours after I raised the issue all references to the service in the logs have stopped. It took ~14 hours after the service was deleted for them to stop. Is there any other diagnostics I should gather if this occurs again?

[2017-11-14 10:07] dixudx opened #55688 "Deprecated "RemoteContainerRuntime"?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
@kubernetes/sig-node-proposals

When instantiating a new Kubelet object, there is a no-op for `--container-runtime=remote`.

https://github.com/kubernetes/kubernetes/blob/ea66c00522e0ac5171a6656fda0601b600856528/pkg/kubelet/kubelet.go#L642-L646

Actually such remote runtime has already been incorporated in `kubetypes.

[2017-11-14 10:30] zjj2wry commented on #29679
@bgrant0607 @pwittrock @mengqiy we still need this command？

[2017-11-14 10:56] ITler opened #55691 "Sporadically get ImagePullBackOff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I run Kubernetes Cluster 1.7.5 (seen in older versions as well and tested in 1.7.9 as well) on AzureGermanCloud. (K8s is provisioned via Resource Manager template created by `acs-engine`). When it comes to pod deployment, several images will be pulled from one dedicated AWS EC2 container service. To be able to login there

[2017-11-14 11:01] dzoeteman opened #55693 "AWS EBS volumes from snapshot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:
Be able to dynamically provision an AWS EBS volume from a snapshot
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Right now it's not possible to dynamically provision an EBS volume from a snapshot. This is a very useful feature f

[2017-11-14 11:02] dzoeteman commented on #55693
/sig aws
/sig storage

[2017-11-14 11:05] dzoeteman commented on #55693
I would like to work on this feature as my first contribution. Do I need to create a proposal for this? I think this is not a huge change; an addition in the awsElasticBlockStore config (snapshotID), and add it to the CreateVolume request in the AWS cloudprovider.

[2017-11-14 11:21] ITler commented on #55691
@kubernetes/sig-azure-bugs

[2017-11-14 11:24] joelittlejohn commented on #52172
Since #52417 is not yet merged, a full fix for this is some way off.

Does anyone have a workaround for this issue? We're seeing it in out k8s 1.5 cluster. If we disable log rotation, we'll occasionally fill a node with logs. If we enable log rotation, fluentd stops writing logs after a few hours due to this bug. We can reduce the likelihood of this happening by rotating less frequently, but is th

[2017-11-14 11:34] piwi91 commented on #54864
@jamiehannaford Any update? :)

[2017-11-14 11:39] kaoet commented on #32266
I also want this feature

[2017-11-14 11:39] shyamjvs opened #55695 "metadata-proxy not able to handle too many pods/node"
Kubemark-500 started failing continuously from ~10 days ago (https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce?before=9575).
On digging up a bit, I found out that quite frequently the hollow-nodes are failing to create/delete pods. And there are many such logs from hollow-kubelet:

[code]

(taken from https://storage.googleapis.com/kubernetes-jenkins/

[2017-11-14 11:41] fisherxu opened #55696 "E2e test failed and can't access service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I local-up a k8s cluster without kube-dns service on only-one node, so I set in guestbook-deployment.yaml through env to access service. But it will failed occasionally as log below, which shows
that it can't find the service addr. We should create service first before deployments.

Nov 13 18:56:47.652: INFO: Failed to get response

[2017-11-14 11:45] fisherxu commented on #55696
/sig test

[2017-11-14 11:47] fisherxu commented on #55696
/sig cli

[2017-11-14 11:48] fisherxu commented on #55696
/sig test

[2017-11-14 11:53] shyamjvs commented on #55695
I'm noticing this issue only on kubemark-500 and NOT on kubemark-100 and kubemark-5000. And my hypothesis is that it's because the no. of hollow-nodes running per real node is high in kubemark-500 compared to kubemark-100 and kubemark-5000:

for kubemark-100, #nodes=3 => ~33 hollow-nodes per node
for kubemark-500, #nodes=7 => ~72 hollow-nodes per node
for kubemark-5000, #nodes=80 => ~63 hollow-nod

[2017-11-14 11:58] hzxuzhonghu opened #55700 "ImagePolicyWebhook admission controller responseCache does not work well"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

The LRU cache `responseCache` in this controller use `ImageReviewSpec`  marshaled string as key. But  `ImageReviewSpec` has map type field, and so the map json.Marshal may output random value.  The LRU cache can not work 100% perfectly.
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/imagepolic

[2017-11-14 11:59] hzxuzhonghu commented on #55700
/kind bug

[2017-11-14 12:02] bboreham commented on #43014
@KeithTt this issue was fixed and closed eight months ago; if you are seeing something please file a new issue and follow the instructions to provide full details.

[2017-11-14 12:07] hzxuzhonghu commented on #55700
Sorry. Not a bug. My mistake. Close it .

[2017-11-14 12:07] #55700 closed

[2017-11-14 12:40] jamiehannaford commented on #54864
@piwi91 Hmm, if you look at the JSON response you're getting back for the loadbalancers call, it has this for the listeners field: `["5da6f489-a359-45db-a70e-337cdb8b742d"]` which is a list of strings. Gophercloud, however, expects a list of listener objects (see [here](https://github.com/gophercloud/gophercloud/blob/master/openstack/networking/v2/extensions/lbaas_v2/loadbalancers/testing/fixtures

[2017-11-14 12:42] kedare commented on #41881
I confirm this is a huge issue for us.
What is sad is that our ingress controller does support regex matching or wildcard at any position of the domain, but the configuration gets blocked because it doesn't pass validation at Kubernetes level.
Maybe there would be a flag like rawHost or bypassHostValidation to directly pass the value to the ingress controller without any kind of restrictions from

[2017-11-14 12:46] kunal-shah commented on #55632
Thanks for your prompt response. I delete AWS stack that created kubernetes
cluster and hence everything gets deleted. What triggers namespace
deletion?

Undeploying my pods and resources doesn't impact PVs which is expected I
guess. Any particular CLI I can use to trigger this?

Thanks,
Kunal

On Mon, Nov 13, 2017 at 9:26 PM, Hemant Kumar <notifications@github.com>
wrote:

[2017-11-14 12:53] deitch commented on #41881
Ours does as well. Well, we use traefik, and no big deal to change the config to support it.

As a workaround, we use a string that never would be used anywhere in out `.yml` files (`anydomain123` for what it's worth), and then have our traefik config parse and replace that with a wildcard.

Or, just let it go through no matter what.

[2017-11-14 12:58] pegerto commented on #52172
Hello joel,

I understand that the effort to upgrade is not simple, so if the change is merge you will need to port of upgrade. I build workaround for a client some time ago.

Ideally you can run a daemonset that evaluate the sysmlinks and recreated when this symlink is deleted by the kubelet.

You will need access to the docker interface:

This pice of code is all you need.
[code]
Regards.

[2017-11-14 13:08] RRAlex commented on #55238
I understand and agree with not moving forward with more out of band host networking solutions.
That's why I was confused as I was expecting metrics-server to reach for the API to get what it wanted, even if it had to ask the API to proxy to kubelet or some such, but not the other way around where the API was trying to skip a hop and jump directly to a pod...

Sorry for my confusion, but which par

[2017-11-14 13:27] resouer commented on #55688
You mis-understood it :) `RemoteContainerRuntime` is used to describe any CRI runtime implementations rather than Docker. It is always needed unless Docker runtimes is moved from in-tree to another remote container runtime.

I will close this one.

[2017-11-14 13:27] #55688 closed

[2017-11-14 13:41] dixudx commented on #55688
Thanks @resouer for the explanation.

[2017-11-14 13:54] shyamjvs commented on #54637
Looks like this issue got resolved. It's green for our run from today - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness
The failures here seem correlated to the ones in [gci-gce-serial](https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial) job, for which it started being green since run 2498.
From the [diff](https://github.com/kubernetes/kubernetes/compare/3e1f81d9

[2017-11-14 13:59] zdtsw commented on #53889
Are we supposed to run "kubeadm init" before "systemctl start kubelet"?

[2017-11-14 14:04] brancz commented on #55489
@fgrzadkowski @piosz do you think this needs a fully fledged feature + design or should someone just go ahead and implement this support in `kubectl`?

[2017-11-14 14:12] dixudx commented on #55676
/assign

I will work on this.

[2017-11-14 14:41] shyamjvs commented on #52347
Closing this issue as we're now deleting all remaining firewall rules in the network before deleting the network itself in kube-down.
For other networking resources in general, we have issue #54323.

[2017-11-14 14:41] #52347 closed

[2017-11-14 14:49] shyamjvs commented on #55194
All the issues under this umbrella have been fixed. There's more stuff to be done under #52495, but that's not causing redness in this job anymore.
The latest run is super green (except for one e2e which seems like a flake so far) - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness

Closing this issue.. we can reopen if new failures pop up.
/close

[2017-11-14 14:52] shyamjvs commented on #49820
@krzyzacy Is working towards this at lightening speed. We'll co-own this issue.

[2017-11-14 14:53] ae-dg opened #55708 "kubectl plugin - reference to current directory"
**Is this a BUG REPORT or FEATURE REQUEST?**: feature request

/kind feature

When executing a plugin with a "kubectl plugin" command the current directory is changed to the directory of the plugin, but there is no reference to the directory the user was in before.

It would be nice to have a KUBECTL_PLUGIN variables set to the directory the user was in to be able to access files in there.

**Envi

[2017-11-14 14:56] ae-dg commented on #55708
/area kubectl

[2017-11-14 14:58] coaka opened #55709 "Build Kubernetes against musl to be used on arm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:
compiling kubernetes against musl
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Build kubernetes against musl to be used on Raspbarry pi running Alpine
**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware

[2017-11-14 15:00] xgerman commented on #54864
Ok, I ran the curl against a Newton cloud and I am seeing the same output as in the docs: "listeners": [{"id": "4b01b6b0-959b-4012-a3a5-40c729835842"}] -- I am not sure why this is different in the output shown

[2017-11-14 15:07] shyamjvs commented on #55695
Seems like my hypothesis is right. I started a kubemark 1000-node cluster locally on 15 nodes (i.e ~67 hollow-nodes/node) and am seeing those errors on all nodes. But on 16 nodes (i.e ~63 hollow-nodes/node) they're only seen on one node, on which there are more than avg no. of hollow-nodes (66). With 17 nodes, I'm not seeing it at all.

Few options we have here:
- revert the offending PR #54653 an

[2017-11-14 15:09] shyamjvs commented on #55695
cc @kubernetes/sig-node-bugs @ihmccreery @dchen1107

[2017-11-14 15:12] ae-dg commented on #55708
/sig cli

[2017-11-14 15:15] #55620 closed

[2017-11-14 15:16] jamiehannaford commented on #54864
@piwi91 Can you confirm what version of LBaaS you're running?

@xgerman Do any previous versions of Octavia or Neutron return an array of strings?

[2017-11-14 15:28] porridge commented on #55695
I think we should roll back and only bring the change back after
demonstrating that the issue is fixed.
Also, if memory usage depends on the number of requests in flight, then
metadata proxy should be load-tested to the standard that metadata server
itself is (which I believe is on the order of a few thousand qps).

[2017-11-14 15:32] jsafrane opened #55711 "pull-kubernetes-cross fails with undefined: "k8s.io/kubernetes/pkg/util/mount".NewExecMounter"
/kind bug

**What happened**:
pull-kubernetes-cross complains:

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54300/pull-kubernetes-cross/5234/

[2017-11-14 15:33] marczahn opened #55713 "Pods are not moved when Node in NotReady state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

To simulate a crashed worker node I stopped the kubelet service on that node (Debian Jessie).
The node got into unknow state (resp. NotReady) as expected:
[code]
The pods running on the lls-lon-testing01 stay declared as running:
[code]
But is declared as ready: false on describe:
[code]

**What you expected to happen**:

[2017-11-14 15:33] jsafrane commented on #55711
/sig storage

[2017-11-14 15:34] shyamjvs commented on #55695
Yes, I agree. We need load-testing of metadata proxy.
I sent out the revert PR for restoring back to healthy state, so we don't need to live with the regression until a 'well-tested' fix rolls in.

[2017-11-14 15:37] shyamjvs commented on #52495
@MrHohn Assigning to you for the remaining part of this issue :)
Feel free to redirect it as apt.

[2017-11-14 15:37] marczahn commented on #55713
/sig node

[2017-11-14 15:44] shyamjvs commented on #55695
I took a quick look at #54653. Seems like there is this change that earlier metadata-proxy had 32MB of memory request & limit totally for itself. After introducing prometheus-to-sd sidecar, that was split evenly across both (i.e 16MB each). This is likely the reason that metadata-proxy is being memory starved now.

Re-adjusting the split could help here. Thoughts?

[2017-11-14 15:45] dhilipkumars opened #55714 "[apps/v1] Core controllers and e2e to use new api types"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig apps

**What happened**:
These [dedicated](https://github.com/kubernetes/kubernetes/pull/51828) such as v1beta1 and extension set of apis are still being used by the core contollers and e2e test.
**What you expected to happen**:
What is the plan to move the core controller to use the new [apps/v1] group.   Ideally, we should be test