[2021-09-23 09:14] microyahoo commented on #102912
I have come across same issue
[code]

[2021-09-23 10:28] zetaab opened #105204 "sporadic "MountVolume.SetUp failed for volume ... not registered" failures seen"
#### What happened:

We updated our cluster to 1.22.2. We are trying to create following cronjob:

[code]

However, it creates `job` like should and also pod.

When I check events for the pod I see following

[code]

If I take copy from that `pod` manifest, and remove `restartPolicy` from the pod manifest, it will start correctly and pod will be executed.

#### What you expected to happen:
I expec

[2021-09-23 10:29] zetaab commented on #105204
/sig scheduling
/sig apps

[2021-09-23 10:38] yqwang-ms commented on #88193
/remove-lifecycle stale

[2021-09-23 11:19] rtheis commented on #102569
/remove-lifecycle stale

[2021-09-23 11:29] MurzNN commented on #79224
Here https://www.padok.fr/en/blog/helm-kubernetes-configmap-secret is workaround to use Helm as template engine.

This helps with removing secrets from files stored in repository, but as result we still got the plaintext secrets in K8s ConfigMaps :(

[2021-09-23 12:16] sunnoy opened #105208 "iptables rules are not created in ipvs mode"
#### What happened:

iptables rules are not created in ipvs mode

[code]

#### What you expected to happen:

[code]

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`): 1.14.1
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):CentOS Linux release

[2021-09-23 12:17] sunnoy commented on #105208
/sig network

[2021-09-23 12:19] sunnoy commented on #105208
kube-proxy log

[code]

[2021-09-23 12:22] jsafrane commented on #104976
`An operation with that name is already executing.` means that the CSI driver most likely got NodeUnpublish or NodeUnstage call and haven't responded.

[2021-09-23 12:33] liggitt commented on #75457
This is the solution to this issue. Nodes cannot self-assign roles.

/close

[2021-09-23 12:34] #75457 closed

[2021-09-23 12:35] pinowthebird commented on #25238
That's indeed what the docs are stating:

(source: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#replicas)

[2021-09-23 13:03] pmadhvi commented on #8976
Hi,
Is this ticket closed or still open.
I wanted to take this .

[2021-09-23 13:11] pmadhvi commented on #102545
/assign

[2021-09-23 13:14] nehaLohia27 commented on #92369
sure @rikatz

[2021-09-23 13:28] alculquicondor commented on #105199
/assign

[2021-09-23 13:28] alculquicondor commented on #105200
/assign

[2021-09-23 13:32] bobymark opened #105210 "Pod Service IP not able to ping from outside the cluster"
Hi everyone,
I have a K8s setup, when I ping the pod service IP, there is response like below.

_Request timeout for icmp_seq 1
92 bytes from 10.20.60.15: Redirect Host(New addr: 10.20.60.103)
Vr HL TOS Len ID Flg off TTL Pro cks Src Dst
4 5 00 0054 5d0d 0 0000 3f 01 ba9e 10.20.19.111 10.20.60.103

But at the same time, I am able to ssh and also take it remote access via XRDP. I am using MetalLB f

[2021-09-23 13:37] vboulineau commented on #104702
We've encountered the same issue while deploying on Windows+Containerd, I gathered debug `containerd` logs + some process events here: https://gist.github.com/vboulineau/74a84060ad59758f95ff40d3f13c721f

From that, I think maybe this is because the PodSandbox shim exits (`eb8c0244e080b1a25fba3e89949679cc104c0dbfa8ed92efb005e0f1eea7ebab`) after the init container finishes (`38802092e14f81ec0d372518

[2021-09-23 13:56] alculquicondor commented on #93500
So you want to reserve specific GPUs (or GPU cores) within a Node for a Pod? I think the general problem with this is that the scheduler might take a different decision than the node (not sure if kubelet or the device plugin). That is the same problem that this proposal faces https://github.com/kubernetes/enhancements/pull/2787 which I think you are aware of. It would be nice if you can collaborat

[2021-09-23 14:09] fromanirh commented on #94220
/remove-lifecycle stale

[2021-09-23 14:16] fromanirh commented on #105114
So, I think we have indeed a bug here, question is how easy is to trigger. I think it's worthy to explore if kubelet's GC can trigger this flow. I can think either of any other flow that could possibly trigger this bug (reason: https://kubernetes.io/docs/concepts/architecture/garbage-collection/#containers-images). I'm exploring GC settings to asses the impacts.

[2021-09-23 14:45] ShethR commented on #73056
I am facing a similar issue.
Do we have any updates on this?

[2021-09-23 14:52] MadhavJivrajani commented on #105210
/sig network
/kind support

[2021-09-23 15:05] ml- commented on #94825
haircommander mentioned that the fix made it into cadvisor 0.40.0-rc.1. But cadvisor version bump did not happen in k8s yet, probably due to issues mentioned here: https://github.com/kubernetes/kubernetes/pull/104392

iirc kind did not work with image kindest/node v1.22.1, I did not look into logs however. Will update post once I have access to the affected device.

[2021-09-23 15:12] pohly commented on #99265
Here's an example:
[code]

Most of the logging flags will be deprecated soon and then eventually will get removed, which will make the "global" section quite a bit shorter. Therefore I'm not convinced that we need a separate section for logging flags.

[2021-09-23 15:26] haircommander commented on #104034
no the initial PR hasn't merged yet, I will try to revive it

[2021-09-23 15:32] haircommander commented on #104034
sorry this fell through the cracks, I'll try to get this through ASAP

[2021-09-23 16:17] neolit123 commented on #105210
for similar questions it is better to ask on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-09-23 16:18] #105210 closed

[2021-09-23 16:23] invidian commented on #84298
/remove-lifecycle stale

[2021-09-23 16:28] ylmcr7 commented on #86094
二进制安装的该怎么结局呢

[2021-09-23 16:38] ehashman commented on #104940
/triage accepted
/assign @pacoxu
cc @catherinef-dev

[2021-09-23 16:38] Maw1395 commented on #60140
I was getting this issue on trying to copy every file from a directory using kubectl
`kubectl cp -n [namespace] [pod]:/[directory]/ ./`
This was leading to the EOF

Matt's fix does not apply to this case, and as a rule do not try to copy an entire directory. Create a bash command to do so:
[code]

[2021-09-23 16:39] ehashman commented on #103887
Given that we haven't heard anything in a couple months, I will close this issue. Feel free to reopen when you are able to provide further info to assist with debugging.

/close

[2021-09-23 16:39] #103887 closed

[2021-09-23 16:47] marosset commented on #104789
This issue might be fixed in Docker EE 20.10.8

https://docs.docker.com/engine/release-notes/#20108
https://github.com/moby/moby/pull/42613 fixes a similar issue.

@phsys can you see if Docker EE 20.10.8 exhibits the same behavior?

[2021-09-23 16:50] marosset commented on #98574
Related to https://github.com/Azure/azure-container-networking/issues/774
This issue is specific to Azure-CNI on Windows

[2021-09-23 16:51] marosset commented on #101625
@jingxu97 @ibabou can one of you take a look at this?

[2021-09-23 16:52] marosset commented on #98499
/milestone v1.23

[2021-09-23 16:54] marosset commented on #103671
I think @claudiubelu was planning on opening up a PR to use longer timeouts in this test.
We see that some Windows containers do not get scheduled until 1+ minutes into the test - especially when there are many tests running in parallel.

[2021-09-23 16:57] marosset commented on #101912
I can't find any recent instances of this failure.
We can reopen if needed.

/close

[2021-09-23 16:57] #101912 closed

[2021-09-23 16:58] marosset commented on #102100
@jsturtevant @claudiubelu should we prepull anghost image?

[2021-09-23 17:11] szpak commented on #99354
It still seems to be a problem.

/remove-lifecycle stale

[2021-09-23 17:14] xing-yang commented on #101333
/remove-lifecycle stale

[2021-09-23 17:22] lippertmarkus opened #105216 "Windows Container downward compatbility doesn't work when multiarch images don't contain host build number in manifest list"
#### What happened:
With Windows Containers now being downward compatible (https://techcommunity.microsoft.com/t5/containers/windows-server-2022-and-beyond-for-containers/ba-p/2712487) I deployed [the example Windows app](https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/#getting-started-deploying-a-windows-container) with the multiarch image `mcr.micros

[2021-09-23 17:42] bobbypage commented on #104567
Spent some time to investigate this. The problem here is related to https://github.com/google/cadvisor/pull/2801

The test was failing to obtain NodeStats. NodeStats are obtained from `rootStats` which obtains stats for root cgroup from cAdvisor.

https://github.com/kubernetes/kubernetes/blob/e5c4defa8e2ed6b1c5da26f68d586b9712e92df1/pkg/kubelet/server/stats/summary.go#L75

This ends up calling cAd

[2021-09-23 17:44] bobbypage commented on #103759
Spent some time to investigate this. The problem here is related to https://github.com/google/cadvisor/pull/2801

The test was failing to obtain NodeStats. NodeStats are obtained from `rootStats` which obtains stats for root cgroup from cAdvisor.

https://github.com/kubernetes/kubernetes/blob/e5c4defa8e2ed6b1c5da26f68d586b9712e92df1/pkg/kubelet/server/stats/summary.go#L75

This ends up calling cAd

[2021-09-23 17:48] Huang-Wei commented on #93591
Even we have built-in support for heap/hashmap, we're unable to open it to users unless we have multi-queue support. But again, I think O(n) for each operation is a bit too much.

[2021-09-23 17:55] ehashman commented on #104459
I also discussed with @dashpole and @dgrisonnet today during the SIG Instrumentation Triage meeting. There are a few possible options here:

- We could stop using ephemeral metrics, but then we'd need to implement garbage collection (i.e. unregister metrics when containers disappear)
- We could implement some sort of caching mechanism where we scrape everything on an interval and always return the

[2021-09-23 18:04] AartiJivrajani commented on #92369
Spoke to Ricardo(thanks for the help! 😄), I will start off with clean-up of the `ipconfig` package and move `pkg/util/iptables`.

[2021-09-23 18:07] iggyzap commented on #38532
/remove-lifecycle stale

[2021-09-23 18:17] #105148 closed

[2021-09-23 18:18] neolit123 commented on #94901
/remove-lifecycle stale

[2021-09-23 18:19] neolit123 commented on #94901
/remove-lifecycle stale

[2021-09-23 18:43] matthyx commented on #60140
Hmm actually it should fix it, as tar is used to copy files as well as directories...
I'm curious to see your command output if still available.

However my fix only applies to one use case, which is copying from pod to local... Pod to pod or local to pod are not covered because I need a custom client part which resumes the tar flow on error.

[2021-09-23 20:01] manugupt1 commented on #104976
Hi Jan,

I looked at the process table below from the efs-driver. But essentially, I cannot see the `NodeUnpublish` call. To reproduce this particular case, it took me around 3 - 4 hours. ( I will send the logs on slack to you; looking at the tail of the logs would help). It seems to me that the reconciler is getting stuck and not sending PublishCalls; I will continue adding more logs.

Operation

[2021-09-23 20:06] fedebongio commented on #105118
/triage accepted

[2021-09-23 20:08] fedebongio commented on #105203
/cc @yliaog to keep an eye!
/triage accepted

[2021-09-23 20:34] neolit123 commented on #105189
/milestone v1.23

[2021-09-23 21:10] mmiranda96 commented on #94289
This issue is still relevant, there's an ongoing discussion about it on https://github.com/kubernetes/kubernetes/pull/103674.
/remove-lifecycle stale

[2021-09-23 21:53] brandond commented on #70044
FYI we are still seeing this on a regular basis. All you need to do to reproduce it is restart the kubelet + containerd while a pod is terminating.

[2021-09-23 21:54] ahg-g commented on #105094
/close

[2021-09-23 21:54] #105094 closed

[2021-09-23 21:58] rsevilla87 opened #105220 "Pods not being evenly scheduled across worker nodes"
#### What happened:

After a straightforward scale test consisting of creating several hundreds of standalone pods (sleep) on a small-size cluster (9 worker nodes) I realized that the pods are not evenly scheduled across the nodes.

The test was executed w/o any limitRange and the created pods don't have any requests either.

#### What you expected to happen:

Pods are evenly spread across all wor

[2021-09-23 22:00] rsevilla87 commented on #105220
/sig scheduling

[2021-09-23 22:01] rsevilla87 commented on #105220
cc: @alculquicondor @damemi

[2021-09-23 22:04] ahg-g commented on #105202
NodeResourcesLeastAllocated was deprecated in v1beta2, the replacement is NodeResourcesFit with LeastAllcoated strategy.

[2021-09-23 22:04] ahg-g commented on #105202
https://kubernetes.io/docs/reference/scheduling/config/

[2021-09-23 22:29] rsevilla87 commented on #105220
I also realized that if I create a deployment and scale it to 1000, pods are evenly distributed:

[code]

[2021-09-23 23:23] #103759 closed

[2021-09-23 23:26] krafts commented on #81723
Just ran into this myself with gitlab runners, and it was not obvious. Took an hour of debugging to find out it was because of OOM.

[2021-09-23 23:50] AntonOfTheWoods commented on #60140
Is that planned at any point? Is it likely a lot of work? (I don't have a lot of bandwidth at the moment unfortunately...) It would be nice to have at least reliable local to pod for the odd nasty manual bootstrap that doesn't really deserve automating.

[2021-09-24 00:24] dsalaza4 commented on #25238
I ended up implementing a [hpa_replicas function](https://gitlab.com/fluidattacks/product/-/blob/b34d4dccbcae59c96de238c74dd30d4f82d22a45/makes/applications/integrates/back/deploy/prod/entrypoint.sh#L3 and [replacing its returned value in the deployment YAML](https://gitlab.com/fluidattacks/product/-/blob/b34d4dccbcae59c96de238c74dd30d4f82d22a45/makes/applications/integrates/back/deploy/prod/entry

[2021-09-24 00:27] #105182 closed

[2021-09-24 01:39] cmssczy commented on #105204
maybe you can also get this warning log in a namespace which its name doesn't contains `-` (e.g default namespace)

[2021-09-24 02:05] eggiter commented on #105114
Yes, i concur.

Great. 👍

[2021-09-24 02:11] KanShiori commented on #105202
I don't use NodeResourcesLeastAllocated in scheduler configuration, is this because of Scheduler Policy?

[2021-09-24 02:57] akshatki commented on #105182
Thanks for taking a look guys, really appreciate your help with this 😄

I could see that the fix has been planned as part of v1.23 milestone.

Can you please clarify if this fix can/would be backported to previous Kubernetes versions and if there is a timeline for the same. This will help plan if we will continue to see such errors for some time now.

Thanks again, good day !

[2021-09-24 03:21] gosoon commented on #55051
Why does kubernetes keep evicted pod, and what is the purpose of this design？

[2021-09-24 04:41] pacoxu commented on #99177
/remove-lifecycle rotten
/remove-lifecycle stale

[2021-09-24 05:13] matthyx commented on #60140
Hmm, technically ATM I don't see how to do it, unless relying on something else that `tar` and `tail` to be present inside the container image...
The problem being that AFAIK `tar` cannot resume on a partial archive, so the only idea I see would be to transfer the whole archive (with retries) and then untar it, doubling the space requirements for the transfer.

[2021-09-24 05:33] mindw commented on #52172
/remove-lifecycle stale

[2021-09-24 06:11] HeathKang opened #105224 "controller manager Error starting "nodeipam""
#### What happened:
`kubectl get pods` works well but `kubectl get nodes` didn't works:
[code]
k8s `controller-manager` logs show:
[code]
#### What you expected to happen:
`kubectl get nodes` works well
#### How to reproduce it (as minimally and precisely as possible):
#### Anything else we need to know?:
`kubectl get pods` works well
#### Environment:
- Kubernetes version (use `kubectl version`):

[2021-09-24 06:14] gojoy opened #105225 "dockershim tear down network after stop sandbox container when StopPodSandbox"
Now dockershim tear down network firstly when StopPodSandbox, if the pod ip has been released in ipam successful but the sandbox container stopped failed, in this situation the sandbox container was still using the ip which has released in ipam, this will cause pod ip conflict when ipam allocating the ip to a new pod.
should dockershim  tear down network after stop sandbox container when StopPodSa

[2021-09-24 06:19] gojoy commented on #105225
/sig node

[2021-09-24 06:27] HeathKang commented on #105224
/sig node

[2021-09-24 07:11] aojea commented on #105208
You are using a very old version of kubernetes, please use one of the supported versions, 1.19, 1.20, 1.21, 1.22 and report back
https://kubernetes.io/releases/

I also suggest to use more recent iptables versions that had much better performance

[2021-09-24 07:22] fromanirh commented on #102190
/remove-lifecycle stale

[2021-09-24 07:38] adisky commented on #103759
Thanks @bobbypage for fixing this and the detailed explanation

[2021-09-24 08:05] Sergii-Burtovyi commented on #57187
Still seems valid.

[2021-09-24 08:23] hanamantagoudvk commented on #105203
@pacoxu , with dual-stack feature coming into picture , we should have flexibility to choose a particular IP family address from `status.podIPs`

[2021-09-24 08:31] pacoxu commented on #105203
But Pod is not always dual-stack. And `status.podIPs[0]` is not always IPv4. Even when we enable Dual-Stack, there can be Pod with IPv6 IP only.

[2021-09-24 08:36] jerrywei116 opened #105227 "add NodeGetVolumeStats support on the iscis volume"
#### What would you like to be added:
add NodeGetVolumeStats support on the iscis volume

#### Why is this needed:
We need the following metrics to track the iscis pvs' usage.
1. kubelet_volume_stats_available_bytes
2. kubelet_volume_stats_capacity_bytes
3. kubelet_volume_stats_inodes
4. kubelet_volume_stats_inodes_free
5. kubelet_volume_stats_inodes_used
6. kubelet_volume_stats_used_bytes

[2021-09-24 08:50] kvaps commented on #90593
/remove-lifecycle stale

[2021-09-24 08:55] jerrywei116 commented on #105227
/sig storage

[2021-09-24 09:31] aojea commented on #105203
Agree, I can't see how this can be generalized, IPs are exposed, can't the client parse them directly?
It will have to do it somehow to support all clusters as @pacoxu commented, in single stack clusters podIPs[1] will nto exist

[2021-09-24 09:31] aojea commented on #105203
/sig network

[2021-09-24 10:18] hanamantagoudvk commented on #105203
Yes i understand pod need not have dual-stack IPs always. I also understand , order within `status.podIPs` array also varies.
But we can leave it to user to appropriately use the` status.podIPs` array values.

Let me explain my usecase in detail.

In calico-node daemonset manifest , i want to set the calico node addresses using downward api values. Checking the appropriate IP family and order of I

[2021-09-24 10:21] hanamantagoudvk commented on #105203
@aojea , as i explained above i am trying to use the `status.podIPs` in daemonset manifest. So i can't extract exact values and set it. The very reason to use downward api is to have generic way of setting the IPs.

[2021-09-24 10:38] aojea commented on #105203
yeah, but the request is very specific for your use case , we should try to generalize ...
and if calico pluralizes the autodetection environment variable cc: @caseydavenport to match Kubernetes API?
[code]

[2021-09-24 10:42] pacoxu commented on #104940
To fix it gracefully, we may refactor the code in `vendor/k8s.io/component-base/metrics` like
https://github.com/eh-am/pyroscope/commit/70733d11e3e09824b78879d17f518cabdb7a1dd7
https://github.com/pyroscope-io/pyroscope/pull/335/files

#105223 is another try to ignore the dup error in `MustRegister` but it is odd as `MustRegister` should panic as designed if one register failed.

[2021-09-24 11:05] danielfoehrKn commented on #103046
Update: I wrote a small PoC that allows updating the kubelet with new resource reservations without restarting the kubelet process. Then I integrated it with a daemon that reconciles the resource reservations.

An Open task is to profile containerd and the kubelet to understand what some workload leads to higher resource requirements for containerd and the kubelet.

Write write up a KEP after.

[2021-09-24 11:24] wangrongjun commented on #92266
I resolved this question by set hostNetwork=true, then net.ipv4.ip_forward will be 1 and needn't set sysctl.

[2021-09-24 12:02] simrangupta234 opened #105230 "aks-engine-windows-containerd-master"
#### Which jobs are failing:
aks-engine-windows-containerd-master
#### Which test(s) are failing:
Kubernetes e2e suite.[sig-api-machinery] Aggregator Should be able to support the 1.17 Sample API Server using the current Aggregator [Conformance]Changes
[code]
e2e.go: Test
[code]
#### Since when has it been failing:
Test started on 24 sept 2021 at 10:40 AM failed after 52m9s.
#### Testgrid link:
ht

[2021-09-24 12:16] aburlutskiy opened #105231 "fix: use scale.Status.Replicas to get the target's current scale"
https://github.com/kubernetes/kubernetes/blob/7bff8adaf683dc7e25b5548e2c16e7393ff8a036/pkg/controller/podautoscaler/horizontal.go#L617

Is it possible to use `scale.Status.Replicas` instead of `scale.Spec.Replicas`? Right now HPA doesn't wait till the target spins up enough pods for that.

[2021-09-24 12:17] aburlutskiy commented on #105231
sig/autoscaling

[2021-09-24 12:17] aburlutskiy commented on #105231
/sig autoscaling

[2021-09-24 12:37] shivanshu1333 commented on #105165
/sig instrumentation
/wg structured-logging
/area logging

[2021-09-24 13:22] hshabbar opened #105233 "Enabling us to modify initial readiness delay from the HorizontalPodAutoscaler object yaml"
#### What would you like to be added: I would like to request a feature to enable us to modify Initial readiness delay from HPA object yaml itself.

#### Why is this needed: It is needed because in EKS as  "--horizontal-pod-autoscaler-initial-readiness-delay" and other such parameters that reside in control plane are not configurable.

[2021-09-24 13:47] alculquicondor commented on #105220
A recap of the conclusions we already have:

This regressed with #102925, which changed `NodeResourcesBalancedAllocation` and `NodeResourcesMostAllocated` scores. However, the fix does what it intended: ensure that a node is not underutilized, when using `NodeResourcesMostAllocated`. Of course, this is causing the opposite problem when using `NodeResourcesLeastAllocated`.

Ah, that's good to have

[2021-09-24 13:48] alculquicondor commented on #105220
cc @ahg-g @Huang-Wei

[2021-09-24 14:00] hyj-github opened #105236 "Rancher can not access the cluster"
#### What happened:

I use Rancher to access the cluster , but the access failed and an error was reported:

**Cluster health check failed: Failed to communicate with API server: Get "https://172.20.0.1:443/api/v1/namespaces/kube-system?timeout=45s": context deadline exceeded.
Error Get "https://172.20.0.1:443/api/v1/namespaces?timeout=45s": waiting for cluster [c-9dbht] agent to connect**.

I loc

[2021-09-24 14:35] ahg-g commented on #105220
Is there any negative impact on reverting the changes made to the balanced plugin? looking at https://github.com/kubernetes/kubernetes/pull/102925, I agree that we shouldn't have made the change for the balanced plugin, but just wondering what was the rational?

Another thought: adding pod count to the balanced resource calculation in addition to cpu and memory?

[2021-09-24 14:40] alculquicondor commented on #105220
The node would get a score of 0 for `NodeResourcesBalancedAllocation` which will hurt utilization when trying to bin-pack.

Maybe reverting is a valid solution too, but only if we reduce the non-zero requests to reduce chances of nodes getting the zero score.

I don't think so. It's hard for users to estimate how many pods they would fit in a node. This might lead to more undesired behaviors.

[2021-09-24 15:07] sunnoy commented on #105208
The sant of ipvs depends on the iptables chain created by kubelet，The kubelet deployment of this environment adds the parameter --make-iptables-util-chains=false，The chain that kube-proxy needs to add is not created, and the relevant rules are not added

[2021-09-24 15:07] #105208 closed

[2021-09-24 15:11] fujitatomoya commented on #86539
/remove-lifecycle stale

[2021-09-24 16:11] thockin opened #105240 "We have two front-doors to node IPAM controller"
It seems to be linked from kube-controller-manager *and* cloud-controller-manager, but the functionality should be disjoint?  I can see putting the cloud allocator into CCM but the range allocator has nothing to do with that.

We have duplicate flag parsing and we find things like:

[code]

I also find this, which is confusing:

[code]
It's not clear how CloudAllocator and IPAMFromCloud are differ

[2021-09-24 16:30] neolit123 commented on #105236
please report to the Racher maintainers.

/kind support
/close

[2021-09-24 16:31] #105236 closed

[2021-09-24 16:31] neolit123 commented on #105233
/sig autoscaling

[2021-09-24 16:46] jsafrane commented on #104976
I played with EFS today and I reproduced the issue once. Centos 7 + Docker CE 20 + local-up-cluster.sh 1.22.2. I created 1000 pods with the same template as you. Kubelet has 100 pod limit, so they were scheduled / started / finished / deleted in a long sequence. After ~30 minutes, kubelet got into a state where it was not starting new pods and unmounting older pods. As you wrote, all volume operat

[2021-09-24 16:49] manugupt1 commented on #104976
@jsafrane yep! I think the same too.
I added this patch here: https://github.com/kubernetes/kubernetes/pull/105221 and it was able to resync the states; but I am not sure how to go around it; I know you will be on vacation so a few pointers will be useful.

[2021-09-24 16:57] verb opened #105241 "Update via /ephemeralcontainers validates entire PodSpec"
#### What would you like to be added: Right now ephemeral container validation only checks the list of ephemeral containers. We should instead re-validate the entire pod.

#### Why is this needed: resilience against future bugs. Part of http://kep.k8s.io/277 graduation criteria

/sig node
/priority important-soon

[2021-09-24 16:57] verb commented on #105241
/assign
/triage accepted

[2021-09-24 17:05] ahg-g commented on #105220
Reducing the non-zero requests sgtm. But perhaps the other question is how much impact should balanced allocation have compared to least/most allocated. I also feel we are not using the scoring weights enough to solve those types of issues.

Each node already defines the max number of pods, and each pod consumes 1. So there is nothing new to be estimated. but yeah, since each pod have a fixed requ

[2021-09-24 17:10] hyj-github commented on #105236
This is about cattle-cluster-agent.  It has to do with K8S.  Why close it?

[2021-09-24 18:59] alculquicondor commented on #105220
What I'm saying is that most users probably don't optimize the number of pods to tailor their workloads.

At least it doesn't seem to be too strong of a signal compared to Spreading. Note that after #101946, it tops at 50.
I think the problem in the scenario above is that all pods already have a big number of pods (56 at least, for non masters). With the current defaults, this is equivalent to 5.6

[2021-09-24 19:42] Huang-Wei commented on #105220
I'm fine with reducing the default requests, esp. the memory value.

Another idea is to set the non-zero requests dynamically. For example, suppose the initial default req for a resource is M, as time goes, when the number of best-efforts pods reaches to a number N on a Node, make the default value as M/2. When the number of bets-efforts pods is less than N, the value gets restored to M.

Regardin

[2021-09-24 19:42] ibabou commented on #104702
Thanks Robin/Vincent for the inputs! I was able to repro the same behavior on my side.

This seems related to an issue with containerd 1.5.2 bins (which is used on the cluster 1.21.3-gke.2000 mentioned above) - causing the shim to exit if no containers running, that have been addressed with our containerd 1.5.4 bits. The upcoming GKE 2021-R30 (v1.21.4-gke.2300) release already includes the contain

[2021-09-24 19:42] #97309 closed

[2021-09-24 19:52] Huang-Wei commented on #102271
/close

We can continue the discussion in  #93591.

[2021-09-24 19:53] #102271 closed

[2021-09-24 19:58] alculquicondor commented on #105220
That sounds kind of hard to configure. Can you explain a bit more why you think it would be a good idea?

[2021-09-24 20:10] leonardpahlke opened #105242 "[Failing test][sig-storage] ci-kubernetes-e2e-gci-gce-serial"
#### Which jobs are failing:
gce-cos-master-serial

#### Which test(s) are failing:
* Kubernetes e2e suite.[sig-storage]
* Overall Changes
* kubetest.Test Changes

#### Since when has it been failing:
`2021-09-20 16:54 PDT`

#### Testgrid link:
[Testgrid link](https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial)

#### Reason for failure:
[Testgrid failure link](https://prow.

[2021-09-24 20:13] ehashman commented on #104459
Staring at the labels that look constant: I'm not actually sure if we can cache these wholesale because they could change for a given container, for example "container start time" could change if the container restarts, right?

A lot of the way we do label processing is for safety/consistency; see e.g. https://github.com/google/cadvisor/issues/1704 which explains the `rawLabels` handling in https:

[2021-09-24 20:20] ahg-g commented on #105220
Some do because they want to optimize IP usage. But again, this doesn't address the problem here.

But we keep tuning the score returned by the plugins without reference which should be stronger than which. We should try and rank all plugins based on importance and weight them accordingly.

Reducing the default requests will help, but if there are bunch of pods that make actual large enough reques

[2021-09-24 20:53] alculquicondor commented on #105220
In that case the Filter would kick in.

I don't think this is case of bad weights. We had a score topping at the same time that the other score was hitting the lower score.

Optimizing the weights is a longer discussion which requires a lot of experimentation. Maybe we can prioritize it for 1.24.

SGTM. Maybe it's safer to start at 20%?

[2021-09-24 21:01] ahg-g commented on #105220
No it wouldn't for the one that don't have requests.

[2021-09-24 21:15] ehashman commented on #104459
Started writing some code to cache all container labels, keyed by container ID. We could save some time just by caching the metric descriptions with labels and avoid calling `NewDesc` repeatedly.

However, the serialization work inside the Prometheus client with `MakeLabelPairs` is doing the bulk of the allocations, so the highest impact way to shave off CPU time would probably be to sit on a trov

[2021-09-24 21:43] #101091 closed

[2021-09-24 21:43] #101350 closed

[2021-09-24 21:58] Huang-Wei commented on #105220
My key idea is to differentiate the default reqs for nodes when a node is obviously overutilized. So that it can prevent the symptom described in this issue.

We have to admit the limitation and applicability of the current rule/weight-based scoring. We "thought" one score pluign should be weighted higher/lower than the other, but it's not always satisfying for different workloads and clusters. In

[2021-09-24 22:08] tallclair commented on #66311
That's a good framing @anguslees. The Kubelet API needs a lot of work, and I think it's important that we get this authentication story ironed out before iterating on the other pieces (authorization).

The one case where I think node-scoped bearer tokens could make senes is when you have a DaemonSet pod that wants to talk to the Kubelet of the same node it's running on. Although, that might be a p

[2021-09-24 22:23] thockin opened #105244 "Kubectl flag normalization setup looks like a merge error"
staging/src/k8s.io/kubectl/pkg/cmd/cmd.go:

[code]

Am I missing something?  The second call to `SetNormalizeFunc` obliterates the first one.

cc @pohly

[2021-09-24 22:43] #86024 closed

[2021-09-24 22:43] #97052 closed

[2021-09-24 22:54] rsevilla87 commented on #105220
Worker node allocatable resources are:

[code]

[2021-09-24 23:18] khenidak commented on #105192
/triage accepted

@aojea is it a matter of inserting externalIPs in conntrack?

[2021-09-24 23:22] khenidak commented on #103328
xref https://github.com/kubernetes/kubernetes/issues/105092 (watch out for in cluster endpoints)

[2021-09-24 23:31] khenidak commented on #103000
i don't think it is possible to maintain affinity across all ports for a service. I can tell with high degree of certainty (but not with absolute confidence) that both iptables/ipvs can not do it. The same is true (with absolute confidence) for typical LBs affinity is per rule (which includes target port), you can not have affinity across two distinct rules (e.g. one rule for each port).

[2021-09-24 23:44] #94976 closed

[2021-09-25 00:16] tallclair commented on #103561
Another one to add: provide more context for the failure message. For example, this is the current error (v1.22.1) on an `enforce=baseline` namespace:

[code]

I would prefer to see an error message like:
[code]
Adding `Pod violates baseline PodSecurity level:`, or something like that.

[2021-09-25 00:31] tallclair commented on #103561
Another error message that could stand to be improved:

[code]

[2021-09-25 01:15] rogerhil commented on #37218
What about this use case?

We work with a particular database that may sometimes be busy for about 30 minutes doing checkpoints, not allowing any queries, and then it comes back to normal.
This database may also not allow any request queries **forever**, even though the ports are listening and the process running. I've seen this happening many times.

How can this be solved with the current soluti

[2021-09-25 01:15] yxxhero commented on #105224
@HeathKang The Kubernetes project maintains release branches for the most recent three minor releases (1.22, 1.21, 1.20). Kubernetes 1.19 and newer receive approximately 1 year of patch support. Kubernetes 1.18 and older received approximately 9 months of patch support.

[2021-09-25 01:29] dims commented on #105236
Please open any rancher bugs in https://github.com/rancher/rancher

[2021-09-25 02:27] dims commented on #76506
[code]

[2021-09-25 03:45] #101355 closed

[2021-09-25 07:13] JcJinChen opened #105246 "Error when creating "myjob.yaml""
#### What happened:
when I want to apply a job, the reason is "
Get https://[::1]:6443/api/v1/namespaces/default/resourcequotas: dial tcp [::1]:6443: connect: cannot assign requested address"
the content of job.yaml is

apiVersion: batch/v1
kind: Job
metadata:
   name: myjob
spec:
   template:
     metadata:
        name: myjob
     spec:
        containers:
        - name: hello
          image:

[2021-09-25 07:48] #98914 closed

[2021-09-25 07:48] #101349 closed

[2021-09-25 08:23] etavene opened #105248 "Not able to block 6443 port with multiple Interfaces"
#### What happened:
I have a single node deployment with single interface eth1. I  want to block the api server port 6443 access from outside

The below rules allowing intenal traffic and blocking external trafic to 6443.  It is working as per my expectation.
  -A INPUT -s eth1 IP/32 -d  eth1 IP/32 -p tcp -m tcp --dport 6443 -J Accept
  -A INPUT -d eth1 IP/32  -p tcp -m tcp --dport 6443 -j DROP

B

[2021-09-25 09:05] SaveTheRbtz commented on #103006
Closing since this was allegedly fixed in 1.22.  Will reopen if the problem persists after our 1.21->1.22 upgrade.

/close

[2021-09-25 09:05] #103006 closed

[2021-09-25 10:51] #98108 closed

[2021-09-25 10:51] #101348 closed

[2021-09-25 11:52] #101557 closed

[2021-09-25 12:45] uablrek commented on #105192
@khenidak No, when a node is rebootes and udp messages to a loadBalancerIP enters _before kube-proxy is started_, then invalid (UNREPLIED) conntrack entrys are created. They will black-hole traffic, and since traffic keeps coming they will never timeout.

This is not easy to reproduce. I found it best to direct incoming traffic to a node (2), and have _one_ endpoint pod on _another_ node (4). Then

[2021-09-25 12:58] yxxhero commented on #105246
@JcJinChen
`connect: cannot assign requested address`
can you show the out:
`sysctl -a |grep port_range`

[2021-09-25 13:00] yxxhero commented on #105246
/sig  api-machinery

[2021-09-25 13:53] cyclinder commented on #105231
why use scale.Spec.Replicas instead of scale.Status.Replicas get currentReplicas?

[2021-09-25 13:54] #100888 closed

[2021-09-25 14:19] uablrek commented on #105248
/sig network

[2021-09-25 14:27] uablrek commented on #105248
Seems like a support case rather than a bug in K8s

/remove-kind bug
/kind support

In this case, no, I don't think so. There is a problem with exposed clusterIP and external addresses in #72236, but you are trying to block traffic to node ip(s).

[2021-09-25 15:42] kerthcet commented on #102231
should we push these related prs forward?🎉

[2021-09-25 15:49] spkane commented on #99715
/remove-lifecycle stale

[2021-09-25 16:24] uablrek commented on #105192
/area kube-proxy
/area ipvs

[2021-09-25 21:29] Dawgwe1gm commented on #99475
Close all issues & accounts

[2021-09-25 21:29] Dawgwe1gm commented on #99475
Close all issues & accounts [Close all issues & accounts ]()

[2021-09-26 00:57] #95306 closed

[2021-09-26 01:47] ossparvinder commented on #104432
/assign

[2021-09-26 01:52] pacoxu commented on #105246
It seems to relate with  `[::1]` ipv6. https://github.com/kubernetes/kubernetes/issues/99268#issuecomment-783174425 is similar.

/kind support

[2021-09-26 01:55] ossparvinder commented on #104432
@adisky based on what you have stated above, I see an INFO log already exists! If I'm understanding this correctly, now we need to raise a warning event to fulfill this request. Is that right? @liggitt @neilharris123

[2021-09-26 02:01] JcJinChen commented on #105246
thank you for replying, the output is :
net.ipv4.ip_local_port_range = 32768	60999

[2021-09-26 02:07] kerthcet commented on #104432
I think @calvin0327 has created a [pr](https://github.com/kubernetes/kubernetes/pull/104535) above and labeled /lgtm already.

[2021-09-26 02:10] olivercodes commented on #105244
@thockin - Looks like yes, and the WordSepNormalizeFunc and WarnWordSepNormalizeFunc do the same thing (just one also generates the warning).

https://pkg.go.dev/k8s.io/Kubernetes@v1.4.2/pkg/util/flag#WarnWordSepNormalizeFunc
![image](https://user-images.githubusercontent.com/6577282/134790770-b5e0f005-8748-4e24-896b-a28c595e3449.png)

[2021-09-26 02:16] andyzhangx commented on #97031
@Jiawei0227 @msau42 @jingxu97 back to original discussion, shall we use `os.Lstat` instead of `os.Stat` func? That will solve the issue of smb file PathExists check issue.

https://github.com/kubernetes/kubernetes/blob/5b8c3b90f3c74ba79f4bfa5be560d011694a7da0/staging/src/k8s.io/mount-utils/mount_helper_common.go#L91-L102

[code]

[2021-09-26 02:19] #102977 closed

[2021-09-26 02:42] pacoxu commented on #105244
https://github.com/kubernetes/kubernetes/blob/4d78db54a58e250b049c4fe17ac484e5c3ec662d/staging/src/k8s.io/kubectl/pkg/cmd/cmd.go#L259-L289

L289 set `WarnWordSepNormalizeFunc` as GlobalNormalizationFunc just below.
L260 should be duplicated and overwritten. I think this line can be removed.

[2021-09-26 02:42] pacoxu commented on #105244
/kind cleanup

[2021-09-26 03:03] deitch commented on #41881
/remove-lifecycle stale

[2021-09-26 03:06] #101008 closed

[2021-09-26 03:33] cyclinder commented on #105244
/assigned

[2021-09-26 03:33] cyclinder commented on #105244
/assign

[2021-09-26 04:14] olivercodes commented on #105244
Seems like a good first issue, mind if I?

[2021-09-26 04:58] pacoxu commented on #98902
After https://github.com/kubernetes/community/blob/06fcf734d74705a8d725770a18fc5280e9e3c484/contributors/devel/sig-node/updating-pause-images.md is merged, I think we can close this.

- #104890 for 3.6 tracking

[2021-09-26 04:58] #98902 closed

[2021-09-26 04:59] yxxhero commented on #105246
@JcJinChen I think you should expand the port range.

[2021-09-26 05:09] johngmyers commented on #102382
`PreemptionPolicy: Never` would have to be put on the `system-node-critical` PriortityClass (and all other PriorityClasses used by daemonsets).

The scheduler is not adhering to the documentation stating that "At most one pod of the DaemonSet will be running on each node during the whole update process." It is evicting workloads due to the incorrect belief that there are two pods of the DaemonSet

[2021-09-26 05:23] Wood-Xia commented on #82534
We also have this issue, and more, after about 15-30 days since first server&docker boot, the Ubuntu 16.04 server file system go to read-only, the only way to recover is reboot.
I share my issue and setup info in https://github.com/docker/for-linux/issues/774

I appreciate it if you could share the solution for this issue,  @ThomasCassimon, could you?

[2021-09-26 05:28] ishangupta-ds commented on #103043
@dims I am taking up the last file from -

https://cs.k8s.io/?q=%22github.com%2Fpkg%2Ferrors%22&i=nope&files=&excludeFiles=vendor%2F&repos=kubernetes/kubernetes

1 file - test/e2e/network/netopol/test_helper.go

all others are under `cmd/kubeadm/app`

PR #105250

[2021-09-26 06:21] pacoxu commented on #105189
/retitle upgrade coredns to 1.8.6 to fix a regression bug

We need to wait for coredns 1.8.6.
- https://github.com/coredns/coredns/pull/4881
- https://github.com/coredns/coredns/pull/4884

[2021-09-26 06:38] calvin0327 commented on #105189
okay.

[2021-09-26 07:04] pacoxu commented on #105189
We should publish coredns image to `k8s.gcr.io` like https://github.com/kubernetes/k8s.io/pull/2118.

[code]

After coredns released, you need open a PR to promote `coredns/coredns:1.8.5` or `coredns/coredns:1.8.6` to `k8s.gcr.io/coredns/coredns`

[2021-09-26 07:26] #105192 closed

[2021-09-26 08:24] pacoxu commented on #105224
/kind support
/sig network api-
/remove-sig node
/remove-kind bug

[code]

In kubeadm, controller-manager use `/etc/kubernetes/controller-manager.conf` as its kubeconfig to get node. I'm not that familiar with kops and you may check which kube-config is used by controller-manager and run the `list node` with that specific kubeconfig.

[code]

[2021-09-26 08:45] 249043822 commented on #105014
/assign

[2021-09-26 09:18] cyclinder opened #105254 "error no accurate enough when kubectl get deploy in no exist namespace"
#### What happened:

background：namespace "ingress-controller" not exist
1. Input:
kubectl get deploy -n ingress-controller
2. Output:
No resources found in ingress-controller namespace

<img width="720" alt="result" src="https://user-images.githubusercontent.com/59680092/134801557-8d63829a-77bc-4159-aa96-4a60d4be156c.png">

#### What you expected to happen:
because namespace "ingress-controller "

[2021-09-26 09:22] cyclinder commented on #105254
/sig cli

[2021-09-26 09:31] pacoxu commented on #105254
/transfer-issue kubectl

[2021-09-26 12:01] #100047 closed

[2021-09-26 12:10] pacoxu opened #105258 "npd yaml failed in centos for journal path: /run/log/journal not /var/log/journal"
https://github.com/helm/charts/issues/21817#issuecomment-611510731
### Root cause issue
On CentOS log path is /run/log/journal but by default use /var/log/journal
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/node-problem-detector/npd.yaml#L69-L88

/sig cloud-provider
/kind bug

### Fix
add in daemonSet

[code]
and
[code]

/cc @Random-Liu @wangzhen127

[2021-09-26 12:11] pohly commented on #105244
Please don't submit a PR for this.

I have a fix for it already in https://github.com/kubernetes/kubernetes/pull/105076. Merging some other PR will just lead to conflicts.

/assign

[2021-09-26 12:17] etavene commented on #105248
@uablrek
Thanks for your reply. But is there any theory behind it why having  multiple interfaces causing the issue. Any parameters to modify either in kube-proxy or kube-API server to resolve the same.

[2021-09-26 12:45] rootdeep opened #105259 "where is ErrCodeUnreachable error generated?"
I follow the process code  aboud  creating operation in k8s apiserver. When a create operation fails,  the code will process error, the releated code is

![image](https://user-images.githubusercontent.com/28667591/134808349-bc5772fd-5ae0-456c-ae80-9e85c9c49428.png)

https://github.com/kubernetes/kubernetes/blob/v1.18.4/staging/src/k8s.io/apiserver/pkg/storage/errors/storage.go#L57

I also read the

[2021-09-26 13:40] rootdeep commented on #105259
/sig Storage
/wg Data Protection

[2021-09-26 14:16] pohly commented on #99265
`kube-apiserver` already has a "Logs" group.

[2021-09-26 14:16] pohly commented on #99265
Note that I consider "Logs flags" a bit strange. "Logging flags" and "Log flags" make more sense to me.

[2021-09-26 14:57] jvleminc commented on #69697
Still happening with 1.21. pv's stuck in _terminating_, after deleting corresponding pods, pv's and volumeattachments. Storage driver is Longhorn.
What worked was patching manually:
[code]

[2021-09-26 15:02] shivanshu1333 commented on #105258
I would like to work on this
/assign

[2021-09-26 15:36] MadhavJivrajani commented on #105259
Hi @rootdeep, could you please bring this up on our [slack](https://slack.k8s.io) channel (specifically the `#sig-storage` channel)?
/kind support
/close

[2021-09-26 15:36] #105259 closed

[2021-09-26 15:45] ahg-g commented on #105220
My comment was in response to `At least it doesn't seem to be too strong of a signal compared to Spreading. Note that after #101946, it tops at 50.`

Did we actually try to use it? I feel we didn't.

I also feel that the choices are fairly limited and we can reach a reasonable ranking without the complexity of ML, also the ML model is as good as the data ("ground truth") you feed it...

[2021-09-26 17:11] MadhavJivrajani commented on #105254
/transfer-issue kubectl

[2021-09-26 18:06] #101384 closed

[2021-09-26 19:20] adelca commented on #67261
It does not on devicemapper for example (and probably other setups that are not basic/simple configs), there are few defects out there that report issues with it (unfortunately, I am one of the victims too and have to periodically run `docker system prune -fa` daily):
https://github.com/kubernetes/kubernetes/issues/71869#issuecomment-657617691
https://github.com/kubernetes/kubernetes/issues/60662

[2021-09-26 19:25] uablrek commented on #105248
If you want to restrict access to <master-node-ip>:6443 on the master node you shouldn't use interfaces, but use address ranges (subnets). You must allow access from POD addresses and K8s node addresses. Other (outside) addresses may be blocked.

I can't say exact rules for your system, but I hope this will help.

[2021-09-26 20:22] TerraTech commented on #50375
/remove-lifecycle stale

[2021-09-26 20:28] aojea commented on #103328
hmm, let me see if I get right how this works, IIUIC the ResourceLocation returns an URL for the apiserver proxy

https://github.com/kubernetes/kubernetes/blob/b15f788d29df34337fedc4d75efe5580c191cbf3/pkg/registry/core/service/proxy.go#L59-L65

The way it is now, it always assumes the primary IP family for the service, that matches the Endpoint ...

Checking how the proxy URLs are build I can't se

[2021-09-26 21:06] #70505 closed

[2021-09-26 21:45] aojea commented on #105053
/cc

[2021-09-26 21:52] aojea commented on #105172
/sig network
/kind documentation

FQDN addresses are not used by kube-proxy so they won't work, @robscott can you expand on this?

[2021-09-26 23:34] ahg-g commented on #105202
I will try to take a look, but we are fully removing policy in 1.23, so you really need to migrate to component config.

[2021-09-27 01:14] ahg-g commented on #105072
/assign @Huang-Wei

I think there is a bug here:
https://github.com/kubernetes/kubernetes/blob/b15f788d29df34337fedc4d75efe5580c191cbf3/pkg/scheduler/framework/plugins/podtopologyspread/filtering.go#L317

We should do the following:
[code]

[2021-09-27 01:15] ahg-g commented on #105072
we need to back port the fix as well.

[2021-09-27 01:36] pacoxu commented on #105258
@shivanshu1333
Do you have an idea of how to solve this?

- In other Linux system, the current hostPath mount of `/var/log` to `/var/log` is enough.
- In Centos, we should mount local `/run/log/journal` to `/var/log/journal`.

[2021-09-27 01:43] wzshiming commented on #99697
/remove-lifecycle stale

[2021-09-27 01:43] pigletfly commented on #64623
I don't think so.Now OpenKruise is a CNCF sandbox project.

[2021-09-27 02:06] king-jingxiang opened #105260 "failed to get calico-node daemonsets.apps in kube-system namespace"
#### Which jobs are failing:

#### Which test(s) are failing:

![image](https://user-images.githubusercontent.com/32818529/134834592-08cbca13-5612-449a-97e3-a244a59e7138.png)

#### Since when has it been failing:

#### Testgrid link:

#### Reason for failure:

[Install Calico ](https://docs.projectcalico.org/getting-started/kubernetes/quickstart) can't set namespace
[code]
[code]
#### Anything els

[2021-09-27 02:08] KanShiori commented on #105202
Thanks for your information, I will try to migrate.

[2021-09-27 02:42] pacoxu commented on #105260
This seems to be `kubesphere` bug in its controller-manager.  You may open issue in https://github.com/kubesphere/kubesphere/issues.
/remove-kind failing-test
/close

[2021-09-27 02:42] #105260 closed

[2021-09-27 02:50] king-jingxiang commented on #105260
Sorry, I found the wrong project.

[2021-09-27 02:59] Huang-Wei commented on #105072
It's not a bug. The problem lies in the nodeAffinity spec:

[code]

As documented [here](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#interaction-with-node-affinity-and-node-selectors), when you use node selector or node affinity, the spreading calculation will be performed against the nodes that fit the node selector and node affinity, instead of the entire

[2021-09-27 03:08] aholic opened #105261 "Bind api will bind unexpected pod to node in some situation"
#### What happened:
The api `CoreV1().Pods(...).Bind(ctx context.Context, binding *v1.Binding, opts metav1.CreateOptions)` bind a pod to a node. But the pod is specified by name (not uid), which is not a unique identifier for pod. So the caller of `Bind` can't make sure the pod is exactly what he want.

#### What you expected to happen:
`Bind` api can bind a pod with specified uid to a node. If th

[2021-09-27 03:12] sunchill06 commented on #105072
so what about respecting maxSkew? I expected the pods to be in the pending state if maxSkew is not met.

[2021-09-27 03:18] kishoreakshat opened #105262 "Plan for backporting Kube-proxy error logs fix to older K8s versions"
Thanks for taking a look on #105182 guys, really appreciate your help with this 😄

I could see that the fix has been planned as part of v1.23 milestone.

Can you please clarify if this fix can/would be backported to previous Kubernetes versions and if there is a timeline for the same. This will help plan if we will continue to see such errors for some time now.

Thanks again, good day !

_Original

[2021-09-27 04:41] Huang-Wei commented on #105072
When there is only one node, there is actually no concept of "skew". What's your intention of restricting node affinity to one single node, while also applying topology spread constraints? I cannot even think of a use case.

[2021-09-27 05:57] etavene commented on #105248
@uablrek
If you observe my iptable rules I have added  K8s node addresses not the interfaces.  I am not too concerned about the blocking of 6443, as I mentioned, adding other interface IP to the list fo rules  solved the problem.

My only ask is why this is happening. The eth1 IP  is K8 API server's IP  and eth0 IP is other interface in the system. When I do  curl k8's SVC IP: 443 on the host, I c

[2021-09-27 05:59] schuerle commented on #100485
We also facing this in other, similar situations:
- AWS Spot instances are removed
- Unexpected node terminations

Removing the annotation manually solves the corrupt state and the pods + pvc get placed

(eks 20, csi-driver v1.2.1)

[2021-09-27 05:59] schuerle commented on #100485
/lifecycle rotten

[2021-09-27 06:00] schuerle commented on #100485
/remove-lifecycle rotten

[2021-09-27 06:57] sunchill06 commented on #105072
I just wanted to understand whether skew is considered when there is only one node eligible for the workload. Also, it's not intended to restrict node affinity to one single node, rather it was observed unintentionally, and just wanted to make sure that we are not missing anything.

Thanks for clarifying that this is the intended behavior.

[2021-09-27 07:34] ica10888 opened #105265 "Kube-apiserver oomkilled and always restart"
#### What happened:

kube-apiserver oomkilled and always restart

other kubernetes components are also restart

#### How to reproduce it (as minimally and precisely as possible):

kubectl get pod -n kube-system
[code]

There is heap messages of kube-apiserver memery ,I use go tool pprof shown as follows:
[code]
kubectl logs -n kube-system  kube-controller-manager-10.113.75.223 -p
[code]
kubectl lo

[2021-09-27 07:40] ica10888 commented on #105265
I have set kube-apiserver limit memery 8g ,but it still oomkilled
kube-controller-manager ,kube-scheduler and kube-ovn-controller are terminated by Error

[2021-09-27 07:44] giuseppe commented on #99608
@QiWang19 have you had a chance to look at this issue?

[2021-09-27 07:56] pacoxu commented on #105265
/sig api-machinery

Most likely, apiserver oom is caused by some huge resources, for instance, 50000+ pods in the cluster.

For 8g memory, could you check if there are too many resources?(number of nodes/pods/services).

For instance, if one user creates too many problem pods, it may cause similar issues. For this case, you can add `quota` to limit pods number in a namespace.

[2021-09-27 08:08] pacoxu commented on #105261
/sig api-machinery

[2021-09-27 08:14] pacoxu commented on #105261
/sig scheduling
for triage (the binding feature of (pod to node) is for scheduling).

[2021-09-27 08:25] pacoxu commented on #105265
Share a [control plane node resource requirements guide of openshift](https://docs.openshift.com/container-platform/4.8/scalability_and_performance/recommended-host-practices.html#master-node-sizing_)

Number of worker nodes | Cluster load (namespaces) | CPU cores | Memory (GB)
-- | -- | -- | --
25 | 500 | 4 | 16
100 | 1000 | 8 | 32
250 | 4000 | 16 | 96

- For pod per node, the default max number

[2021-09-27 08:37] pacoxu commented on #105262
/sig network
/kind bug

[2021-09-27 08:43] adelca commented on #103258
/remove-lifecycle stale

[2021-09-27 08:44] adelca commented on #103121
/remove-lifecycle stale

[2021-09-27 09:54] zhangguanzhang opened #105270 "Evicted does not follow the qosClass"
#### What happened:
Create theee pod with diffrent qosClass:
- `Guaranteed`
- `Burstable`
- `BestEffort`
Just test the `oom-killer`。 but It Evicted the wrong pod
#### What you expected to happen:
Evicted  correct pod
#### How to reproduce it (as minimally and precisely as possible):
use `nodeName` to run on a 32G node:
[code]
apply it and list the pod，will get the this problem
[code]
the describe

[2021-09-27 10:00] xiaopingrubyist commented on #105131
anybody here?

[2021-09-27 10:34] pacoxu commented on #105270
/sig node

[2021-09-27 10:39] #104445 closed

[2021-09-27 10:41] Shubham82 commented on #105000
Hi @hardy4yooz
I have tried to reproduce this issue on minikube having  k8s version `v1.21.2` and kubectl version `v1.20.4` with the following [steps](https://v1-21.docs.kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#create-private-key),  In my case I get `certificates` from **certificatesigningrequest** .

Are you still getting this error?

[2021-09-27 10:50] pacoxu commented on #105270
Would you check the `oom_score_adj` of the three pods?
https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#node-out-of-memory-behavior

Quality of Service | oom_score_adj |  Your pod score
-- | -- |  --
Guaranteed | -997 | -997
Burstable | min(max(2, 1000 - (1000 * memoryRequestBytes) / machineMemoryCapacityBytes), 999) | min(max(2, 1000 - (1000 * 10Mi) / 32G), 999) = m

[2021-09-27 11:15] Badawekoo commented on #95983
Hello, I faced the same issue, deleting the below sections from the ingress resource made me able to delete it.
Make sure that aws-load-balancer-controller and aws-webhook installed successfully in the cluster

  finalizers:
  - ingress.k8s.aws/resources
  ---------------
        f:metadata:
        f:finalizers:
          .: {}
          v:"ingress.k8s.aws/resources": {}

[2021-09-27 11:37] zhangguanzhang commented on #105270
all the `oom_score_adj` are corrct, problem is `Evicted the wrong pod` not the  `oom_score_adj`

[2021-09-27 11:38] zhangguanzhang commented on #105270
all the oom_score_adj are corrct, problem is Evicted the wrong pod not the oom_score_adj

[2021-09-27 11:47] wojtek-t commented on #73958
Based on this comment https://github.com/kubernetes/kubernetes/issues/73958#issuecomment-479522798

1) is done [i.e. we have support for indexes already]
2) is done: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go#L328
3) is not yet done

Though I will open a dedicated issue for that describing some idea how we can do that.

[2021-09-27 11:47] #73958 closed

[2021-09-27 11:48] rickgrade3 commented on #83471
Same problem on EKS too. It's get stuck  even simple image like busyBox.

[2021-09-27 11:58] wojtek-t opened #105274 "Reduce watchcache contention caused by expensive watches"
This is follow up from https://github.com/kubernetes/kubernetes/issues/73958

The main goal is to reduce the lock contention cause by GetAllEventsSinceThreadUnsafe [which may potentially allocate and copy a lot of data]

The idea of how we can solve it is the following:
1) We introduce a concept of watchCacheInterval, sth like:
[code]

2) GetAllEventsSinceThreadUnsafe instead of copying all data a

[2021-09-27 11:58] wojtek-t commented on #105274
/triage accepted

[2021-09-27 11:59] wojtek-t commented on #105274
/sig api-machinery

[2021-09-27 12:22] wojtek-t opened #105276 "Unit tests coverage for events expansion"
Follow up from https://github.com/kubernetes/kubernetes/pull/104507

We should cover events expansion - both for
- core v1: https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/kubernetes/typed/core/v1
- events v1beta: https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/kubernetes/typed/events/v1beta1
with unit tests

@wzshiming - can you

[2021-09-27 12:23] antoinedeschenes commented on #60140
@leberknecht
Looks like there's a regression with kubectl cp on kubectl 1.21+, we found that downgrading kubectl client to 1.19 worked in those cases (I haven't tested if 1.20 has any problem)

[2021-09-27 12:30] kerthcet commented on #102231
I have checked #104774, #104775, #104776 already, the only left one #104773 I'll working on it this week.

[2021-09-27 13:17] alculquicondor commented on #105220
We started to deviate from the problem at hand. Is everyone ok with this?

I agree that we should match common machine types' ratios. But I would vote 20% to start.

[2021-09-27 13:29] soltysh commented on #105200
/triage accepted

[2021-09-27 13:39] theAkito commented on #72794
The workaround provided seems to already fail at trying to gather the selfLink. Is there no actual solution to this issue?

[2021-09-27 14:25] m-ildefons opened #105279 "UDP datagram loss after service reconfiguration"
#### What happened:
Dear K8s Maintainers,

I have a problem with an application on my cluster with respect to UDP traffic.
This problem appeared with the update from v1.22.0 to v1.22.1 and persisted
after upgrade to v1.22.2.

If I create a `nodePort` service for UDP and later on reconfigure the service to be a
dual protocol UDP/TCP service on a particular port, any new pod serving that
service wil

[2021-09-27 15:00] shivanshu1333 commented on #105258
@pacoxu
I think the way we're defining hostPath is correct, we should be using /var/log, and I think the problem is not for the Centos.
I believe the problem [here](https://github.com/helm/charts/issues/21817#issuecomment-611510731) could be because the memory is volatile.
To give you more context please refer to the storage options [here](https://www.freedesktop.org/software/systemd/man/journald.

[2021-09-27 15:13] shivanshu1333 commented on #105258
I think we can add more rules to [systemd-monitor-counter.json](https://github.com/kubernetes/node-problem-detector/blob/master/config/systemd-monitor-counter.json) inside `node-problem-detector/config` to incorporate if volatile data is there, journal log data will be stored in memory, i.e. below the /run/log/journal

[2021-09-27 15:15] evanfoster commented on #102259
/remove-lifecycle rotten

[2021-09-27 15:19] ahg-g commented on #105220
What is the difference between 10% and 20%? do we actually need to consider pods that don't declare requests in balanced utilization score?

[2021-09-27 15:28] ahg-g commented on #105072
Ok, I think what I am proposing will only allow brining at most another failure domain (force a second node or zone), which doesn't really solve the problem and it may actually not be desirable in all cases.

Note that this behavior is not limited to using node affinity/selector, imagine a cluster that started with a single node or zone.

I think the topology spread API can use another parameter,

[2021-09-27 15:33] khenidak commented on #105279
/sig network

[2021-09-27 15:35] khenidak commented on #105279
/triage accepted

i think this relates to service rest and how it process node ports in case of apply. @thockin FYI.

[2021-09-27 15:36] khenidak commented on #105240
/sig network

@andrewsykim Do you have context on this one?

[2021-09-27 15:37] alculquicondor commented on #105220
The main reason to be more conservative is that the same non-zero values are used for the 3 scores.

[2021-09-27 15:40] alculquicondor commented on #105220
Unless you are suggesting we decouple `NodeResourcesLeastAllocated` and `NodeResourcesMostAllocated` from the balanced one, which will only use declared requests. I'm fine with that, but it might be harder to reason about how the scores play together.

[2021-09-27 15:53] ahg-g commented on #105220
Yes, I am suggesting we treat the balanced score differently from the others. As I mentioned above, reducing the values will basically shit the problem not solve it.

In a sense balanced serves a different purpose which is also evident from it not being part of the common score plugin we now have.

[2021-09-27 16:01] ahg-g commented on #105072
@MaciekPytel @x13n for thoughts, although I know that using "Required" spreading is not something we usually recommend because of stockouts.

[2021-09-27 16:05] #104495 closed

[2021-09-27 16:05] #105199 closed

[2021-09-27 16:06] #105198 closed

[2021-09-27 16:15] thoraxe commented on #54487
This does not appear to be an issue anymore with 1.21.1

[2021-09-27 16:15] #54487 closed

[2021-09-27 16:17] enj commented on #103212
/remove-lifecycle stale

[2021-09-27 16:21] enj commented on #103017
/remove-lifecycle stale

[2021-09-27 16:24] enj commented on #103017
/triage accepted
/remove-sig auth

This appears to be a valid bug in the upgrade process.  I do not think any changes need to be made to the controller manager itself.

[2021-09-27 16:44] alculquicondor commented on #105220
So, in summary, the suggested solution is to use the original requests in `NodeResourcesBalancedAllocation` instead of the nonzero ones.

@damemi WDYT? could you take that?

[2021-09-27 16:44] Huang-Wei commented on #105072
That doesn't quite work as the user can specify more than one constraint.

[2021-09-27 16:47] ahg-g commented on #105072
We add it for each constraint, like skew.

[2021-09-27 16:51] rahulchandak22 commented on #89898
Thank you!, timeoutSeconds: 2 & exec both work, but again it all depend on your node busy status

[2021-09-27 16:52] kishorj commented on #96971
/remove-lifecycle rotten

[2021-09-27 16:52] kishorj commented on #96971
/reopen

[2021-09-27 16:52] kishorj commented on #98278
/remove-lifecycle rotten

[2021-09-27 16:54] Huang-Wei commented on #105072
That should work. If we get adequate real-world requirements, I'm fine with getting it implemented.

[2021-09-27 16:56] jingxu97 commented on #104976
@manugupt1  in your test, was kubelet restarted?

[2021-09-27 17:17] tallclair commented on #103212
Fixed by https://github.com/kubernetes/kubernetes/pull/104588

[2021-09-27 17:17] #103212 closed

[2021-09-27 17:18] ehashman commented on #78733
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/100277#issuecomment-910517011 which I commented on. I don't think this is a bug.

[2021-09-27 17:28] khenidak commented on #100707
/remove-lifecycle stale

[2021-09-27 17:35] manugupt1 commented on #104976
@jingxu97 In my test, I did not restart the kubelet. I got the issue after subsequent tries though. So, the PR that I sent is not useful :(.

[2021-09-27 17:37] spiffxp opened #105284 "[Failing Job] post-kubernetes-push-image-etcd"
#### Which jobs are failing:
- post-kubernetes-push-image-etcd

#### Which test(s) are failing:
n/a

#### Since when has it been failing:
2020-08-11

#### Testgrid link:
https://testgrid.k8s.io/sig-k8s-infra-gcb#post-kubernetes-push-image-etcd

#### Reason for failure:
[code]

#### Anything else we need to know:
Started failing when https://github.com/kubernetes/kubernetes/pull/104116 merged

No n

[2021-09-27 17:38] spiffxp commented on #105284
/sig release
/area release-eng

[2021-09-27 17:49] spiffxp commented on #105284
I've opened https://github.com/kubernetes/kubernetes/pull/105285 to rollback the offending commit, would like to keep this open until we can figure out the correct fix-forward

[2021-09-27 18:07] spiffxp commented on #105242
/milestone v1.23
/priority important-soon

[2021-09-27 18:13] khenidak commented on #105279
/assign @khenidak

[2021-09-27 18:55] alculquicondor commented on #105072
Let's get clear on something first:
OP's question is answered. This is working-as-intended. The skew is respected. Since there is only one candidate node, the skew is zero (there are 2 pods in the candidate node and the node with the least amount of pods has 2 pods `2-2=0`).

@ahg-g if you believe there is the potential for a new feature, can we open a new issue?

[2021-09-27 19:00] ahg-g commented on #92143
/assign @damemi

[2021-09-27 19:15] #101676 closed

[2021-09-27 19:16] QiWang19 commented on #99608
I just created the PR #105286  but not sure if I added it to the right place. Could you take a look?

[2021-09-27 19:17] andrewsykim commented on #85643
FYI alpha feature to fix this issue was merged for v1.22 (https://github.com/kubernetes/kubernetes/pull/97238), I would appreciate if anyone can try it out and test it. The feature gate is called ProxyTerminatingEndpoints and you're only required to enable it on kube-proxy.

[2021-09-27 19:33] ahg-g opened #105287 "1:1 pod to node assignment"
#### What would you like to be added:

_Summary:_
An explicit API and scheduler support 1:1 pod to node assignment.

_Proposal_
The idea is to create a scheduler filter plugin such that given a pod and a node, a node is filtered out if any of the following is true (assume the API is the annotation `k8s.io/pod-per-node=true`, more on that below):
1. The incoming pod is not a daemonset pod (by check

[2021-09-27 19:34] ahg-g commented on #105287
/cc @damemi @alculquicondor @Huang-Wei @wojtek-t @liggitt

[2021-09-27 19:38] thockin commented on #105279
This is almost certainly a case of the not-unique-enough port keys problem.  https://github.com/kubernetes/kubernetes/issues/101393

@m-ildefons if you read the service back after the service02 apply, you will see it still has just one port, but now it is TCP.

The "easy fix" is to read the Service to a file (kubectl get -o yaml), edit that file, then replace it (kubectl replace), which avoids the

[2021-09-27 20:17] thockin commented on #105279
You can also try server-side apply, which does seem to  work properly (`kubectl apply --server-side`) for your use cases

[2021-09-27 20:27] enj commented on #103225
@tamalsaha I am going to close this out because we believe the current behavior to be correct.  Please feel free to reopen and respond to Jordan's comment in https://github.com/kubernetes/kubernetes/pull/103230#issuecomment-870680595 if you are still encountering the issue.

/close

[2021-09-27 20:27] #103225 closed

[2021-09-27 20:29] enj commented on #102798
/remove-lifecycle stale

[2021-09-27 20:34] ahg-g opened #105291 "Tuning the number of domains in PodTopologySpread"
#### What would you like to be added:

A parameter to pod topology spread constraints to tune the min and max number of domains over which the spread will occur.

PodTopologySpread includes a `skew` parameter which controls the difference between domains, but there is no knob to control the number of domains over which we should spread, I feel this should be part of a spreading API.

In practice,

[2021-09-27 20:34] ahg-g commented on #105072
opened https://github.com/kubernetes/kubernetes/issues/105291 to discuss the potential for adding another parameter.

[2021-09-27 20:35] ahg-g commented on #105072
/close

[2021-09-27 20:35] #105072 closed

[2021-09-27 20:42] robscott commented on #105172
Thanks for raising this issue! As @aojea said, we need to update the docs here to clarify that FQDN EndpointSlices are not useful to kube-proxy and are therefore ignored. The use for FQDN was really for different potential consumers of the API, but it was not intended to be something that proxy implementations would consume.

/triage accepted

[2021-09-27 21:04] ehashman opened #105294 "Kubelet memory regression 1.21 -> 1.22 (~30%)"
#### What happened:

Kubelet began consuming more memory in perf scale tests.

#### What you expected to happen:

Kubelet should use approx same amount of memory between releases.

#### How to reproduce it (as minimally and precisely as possible):

Observe the perf dashboards:

- 1.21 (~100MB): http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-1.21&metriccategoryname=E2E&metricname=LoadResources&Pod

[2021-09-27 21:10] iuli72an commented on #75803
Saved my whole day!

[2021-09-27 21:32] SergeyKanzhelev commented on #89903
just an update, both issues are fixed on cAdvisor side and there is work happening now to vendor fixes to k/k in 1.23.

[2021-09-27 21:34] ahg-g commented on #105261
For the sake of precedence, are there other APIs that are based on object UID?

[2021-09-27 21:40] liggitt commented on #105261
uids are used as a precondition is used in many places. if the server started checking that a uid on the binding object (if specified) matched the uid of the pod being modified, that seems sufficient

[2021-09-27 21:45] SergeyKanzhelev commented on #105225
What k8s version? What is the reason for `StopPodSandbox`  to fail in your situation?

[2021-09-27 21:46] rphillips opened #105298 "Kubelet should support --register-with-taints within KubeletConfiguration"
#### What happened:
Many config options were migrated to the KubeletConfiguration, but --register-with-taints was missed. A user might want to register their node with taints based on the yaml config file instead of passing on the command line.

This issue is to track supporting RegisterWithTaints within the KubeletConfiguration structure and preserving the behavior of --register-with-taints.

###

[2021-09-27 21:46] SergeyKanzhelev commented on #105225
/kind bug
/priority important-soon

[2021-09-27 22:15] #71808 closed

[2021-09-27 23:50] bobbypage opened #105301 "Flaking test - ci-cos-cgroupv2-containerd-node-e2e"
#### Which jobs are flaking:

ci-cos-cgroupv2-containerd-node-e2e

#### Which test(s) are flaking:

k8s.io/kubernetes/test/e2e_node/summary_test.go

#### Testgrid link:

https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-node-e2e

#### Reason for failure:

[code]

#### Anything else we need to know:
- links to go.k8s.io/triage appreciated
- links to specific failures in spyglass a

[2021-09-27 23:53] bobbypage commented on #105301
On cgroupv2, it looks like like the number of page faults for `kubepods` cgroup is sometimes higher than is currently expected in the test.

We currently expect this

https://github.com/kubernetes/kubernetes/blob/ce4958d908172117dd011121cd414cc800be9445/test/e2e_node/summary_test.go#L131

however, in a few runs of the test we've seen

`1409707` - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs

[2021-09-27 23:53] bobbypage commented on #105301
/cc @Dragoncell @giuseppe

[2021-09-28 00:16] #88766 closed

[2021-09-28 00:29] Huang-Wei commented on #105287
I'm thinking about achieving this without the intervening of scheduler.

Can the user achieve this by writing a controller/operator like this?

1. watch the assigned/scheduled pods (with non-nil .spec.nodeName) with the annotation
1. if an assigned pod gets created, taint the node with a user-defined taint {foo/bar:NoSchedule}
1. if an assigned pod gets deleted, remove the reserved taint off the n

[2021-09-28 00:56] Huang-Wei opened #105303 "sched: supplement an integration test to cover event registration"
Currently, `TestServiceAffinityEnqueue()` uses ServiceAffinity plugin to cover the event registration logic:

https://github.com/kubernetes/kubernetes/blob/ce4958d908172117dd011121cd414cc800be9445/test/integration/scheduler/queue_test.go#L52

But along with the removal of ServiceAffinity plugin, this test will also be removed #104782.

We will come up with a supplemental test to cover the event re

[2021-09-28 00:56] Huang-Wei commented on #105303
/assign
/triage accepted

[2021-09-28 00:56] Huang-Wei commented on #105303
/kind cleanup

[2021-09-28 01:01] yongxiu commented on #104137
Gentle ping!

[2021-09-28 01:51] cmssczy commented on #105298
I want to work on it.
/assign

[2021-09-28 01:59] JaneLiuL commented on #105276
/assign I want to have a try

[2021-09-28 02:27] AlpherJang commented on #105231
scale.Spec.Replicas means how many Replicas need, Status.Replicas means how many Replicas now

[2021-09-28 02:31] mengjiao-liu commented on #102373
/remove-lifecycle stale

[2021-09-28 02:51] aholic commented on #105261
is there any way to confirm the caller of Bind is binding the right pod? or not uid, use resource version?

[2021-09-28 02:58] aholic opened #105304 "> uids are used as a precondition is used in many places. if the server started checking that a uid on the binding object (if specified) matched the uid of the pod being modified, that seems sufficient"
is there any way for the caller of Bind to confirm that he is binding the right pod? or not uid, use resource version?

_Originally posted by @aholic in https://github.com/kubernetes/kubernetes/issues/105261#issuecomment-928669828_

[2021-09-28 03:04] ishangupta-ds opened #105305 "reference to loop variables in component helper and plugin of scheduler"
#### What happened:

Found reference to loop variables in the following files:

* `pkg/scheduler/framework/plugins/interpodaffinity/scoring.go`
* `staging/src/k8s.io/component-helpers/scheduling/corev1/nodeaffinity/nodeaffinity.go`

#### What you expected to happen:

Loop variables should not be referenced

#### How to reproduce it (as minimally and precisely as possible):

Codebase inspection

##

[2021-09-28 03:05] ishangupta-ds commented on #105305
/assign

[2021-09-28 03:06] aholic commented on #105304
issue created due to mistake. please ignore/delete this issue

[2021-09-28 03:08] ishangupta-ds commented on #105305
cc: @alculquicondor @chendave

[2021-09-28 03:54] andyzhangx commented on #102737
since this issue was already fixed in csi-proxy v1.0.0, we won't fix it in in-tree driver because from k8s 1.23, csi migration for azure disk is already turned on by default, all azure disk requests would be handled by azure disk csi driver already.

[2021-09-28 03:54] #102737 closed

[2021-09-28 04:27] ajendrex commented on #76570
hello,

I think this problem is serious as it can consume the resources fast, depending on the cronjob frequency. Since it still has no direct solution; what would be the way around?

[2021-09-28 04:37] littlehell opened #105307 "kubelet service failed to start"
Hi, I meet some problem during install kubernetes on Azure.

The OS is CentOS 7.9 Gen2, and I follow the docs on https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[code]

[code]

then:
[code]

After installed the kubeadm, kubelet and kubectl, I start kubelet with
`sudo systemctl enable --now kubelet`

But it shows this when check the kubelet service:
[code]

A

[2021-09-28 05:46] pacoxu commented on #102612
/remove-lifecycle stale

[2021-09-28 05:51] pacoxu commented on #105307
/area kubeadm

`/var/lib/kubelet/config.yaml` is generated during `kubeadm init`, have you run `kubeadm init` yet?

[2021-09-28 05:53] MadhavJivrajani commented on #105274
/assign

[2021-09-28 06:22] oz123 commented on #100596
@BenTheElder Ping. Can this be merged?

[2021-09-28 06:24] palnabarun commented on #100367
/remove-lifecycle stale
/lifecycle frozen

[2021-09-28 06:41] pacoxu commented on #105258
My suggestion would be `mount /run/log/journal as well and fix it in NPD to use /run/log/journal if  /var/log/journal  not exist`.

[2021-09-28 06:45] sateekot opened #105308 "Liveness probes are running before startup probe and causing container to restart"
#### What happened:
We see that Liveness probe is getting executed before Startup probe.
Log from "kubectl describe pod eventhub-kafka-2"

Normal   Pulling                 2m52s                 kubelet                  Pulling image "telegraf"
  Normal   Killing                 101s                  kubelet                  Container eventhub-kafka failed liveness probe, will be restarted
  Warnin

[2021-09-28 06:53] pacoxu commented on #105270
After some testing and investigation, I find that the `Evicted` should be caused by disk, not OOM.

- `Evicted` is most likely caused by `disk pressure`. You may check `kubelet` log to find the eviction log.
- oom is controlled by kernel, only kernel log will show the process is oom-killed. And for pod status, it would be `restart`. (Pod will  restart the container after it is killed.)

[2021-09-28 06:53] sateekot commented on #105308
/sig node

[2021-09-28 07:09] pacoxu commented on #56374
#105309 is an example.  We can use pod securityContext.sysctls instead of container securityContext.capabilities(NET_BIND_SERVICE).
[code]

But kubelet supports it in 1.22, and cluster/apiserver should be compatible with early releases like n-1 or n-2.
I am not sure when can we move on to use `securityContext.sysctls`. 1.23 or 1.24?

[2021-09-28 07:10] littlehell commented on #105307
Thanks for your kindly reply. Problem has been solved, I tried to change docker cgroup driver to systemd and run `kubeadm init`, finally it works.

[2021-09-28 07:11] #105307 closed

[2021-09-28 07:24] 249043822 commented on #105308
Liveness probe could not run before startup probe. From your feedback messages, your pod container has restarted once, and `Startup: tcp-socket :9092 delay=0s timeout=1s period=10s #success=1 #failure=18` startup probe has ever succeed, but liveness probe fails, then the container was restarted, so startup probe probed the new container again, but exceed the `failureThreshold: 18`, so you see the

[2021-09-28 07:36] pohly opened #105310 "remove deprecated klog flags"
#### What would you like to be added:

At some point we can remove the legacy klog flags. This change includes:
- removing the command line check in component-base/logs/validation.go
- removing the "unsupported flags" warning from the `--logging-format` help text
- adding a remark for `-vmodule` that it only works for text output

#### Why is this needed:

 https://github.com/kubernetes/enhancemen

[2021-09-28 07:47] Karthik-K-N opened #105311 "Flaky test case failure: RateLimiters test cases are failing due to time mismatch"
#### Which jobs are failing:

The unit test [TestWithMaxWaitRateLimiter](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/util/workqueue/default_rate_limiters_test.go#L202) which was recently added is flaking

#### Which test(s) are failing:

Sample failure error trace

[code]
Full test report can be found [here](https://prow.ppc64le-cloud.org/view/gs/ppc64le-kuber

[2021-09-28 07:47] Karthik-K-N commented on #105311
/assign @Karthik-K-N

[2021-09-28 07:47] shivanshu1333 commented on #105310
/sig instrumentation
/wg structured-logging

[2021-09-28 07:49] shivanshu1333 commented on #105310
@pohly please feel free to assign me, I've bandwidth to pick this

[2021-09-28 07:56] sateekot commented on #105308
I use the same check which is tcpSocket connection on port 9092 for both Startup and Liveness probe so Liveness should not fail if Startup probe succeeds.

[2021-09-28 07:59] pacoxu commented on #105311
/sig api-machinery
/kind flake
A flake according to the job history: https://prow.ppc64le-cloud.org/job-history/gs/ppc64le-kubernetes/logs/periodic-kubernetes-unit-test-ppc64le

[2021-09-28 08:01] pohly commented on #105310
It's much too early to work on this. :grin:

We first must mark the flags as deprecated (https://github.com/kubernetes/kubernetes/pull/105042) then in Kubernetes 1.26 (?) we can remove them.

[2021-09-28 08:03] giuseppe commented on #105301
@bobbypage yes, good idea.  I think we need to adjust the PageFaults test as well.

I've opened a PR: https://github.com/kubernetes/kubernetes/pull/105313

[2021-09-28 08:05] shivanshu1333 commented on #105310
Okay got it

[2021-09-28 08:27] pacoxu commented on #105294
There seems to be no kubelet prof in [artifacts of the performance test](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-1-21/1426695355218530304/artifacts/). Or where can I get them?

[2021-09-28 08:27] zetaab commented on #105204
its not visible in namespaces that does not have `-`

[2021-09-28 08:37] shivanshu1333 opened #105316 "Import errors on running hack/verify-structured-logging.sh"
#### What happened:
Getting import errors on MacOS while running hack/verify-structured-logging.sh please see https://github.com/kubernetes/kubernetes/pull/103293#issuecomment-922763261

#### What you expected to happen:
We should be able to run hack/verify-structured-logging.sh without any errors in macOS and any other OS

#### How to reproduce it (as minimally and precisely as possible):
run hac

[2021-09-28 08:40] shivanshu1333 commented on #105316
/wg structured-logging
/triage accepted

[2021-09-28 08:42] shivanshu1333 commented on #105316
This is a part of https://github.com/kubernetes/kubernetes/issues/102439 and created to unblock https://github.com/kubernetes/kubernetes/pull/103293

[2021-09-28 09:46] calvin0327 commented on #103561
@tallclair  I worked on it for a few days and tried to solve the first and fifth issue. I don't know that is reasonable, correct me if not.

[2021-09-28 09:58] andyzhangx commented on #104584
this could be fixed with `csi-node-driver-registrar:v2.3.0`, here is an example: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/970

[2021-09-28 09:58] andyzhangx commented on #104584
/close

[2021-09-28 10:12] hanamantagoudvk opened #105320 "Host Networking pods get only 1 IP address during fresh deployment or reboot of nodes in dual stack enabled cluster"
**What happened:**

We have installed k8s cluster on openstack cloud provider setup. K8s cluster is dual-stack enabled.
During fresh deployment or worker node reboots (master nodes , worker nodes) , k8s control plane pods (other host networking pods aswell) such as kube-proxy, kube-scheduler , kube-controller-manager get only 1 IP address instead of dual-stack address.

**What you expected to happ

[2021-09-28 10:13] chendave opened #105321 "architecture-aware placement of pods"
#### What would you like to be added:
Actually, this was raised in the mailing list, and I did some investigation recently and found this is an area we might improve during scheduling.

#### Why is this needed:
The user case is that in a hybrid cluster, saying a cluster with some nodes are x86_64 while others are arm64. A pod with the image which only capable to run on the x86_64 nodes might be sc

[2021-09-28 10:13] chendave commented on #105321
/sig scheduling

[2021-09-28 10:14] hanamantagoudvk commented on #105320
/sig node

[2021-09-28 10:41] Madhu-1 opened #105323 "[static PVC] UnstageVolume is not sent to the CSI driver when all pods using PVC are deleted"
#### What happened:

Kubelet is not sending any unstageVolume request when all the applications using the PVC's are deleted

#### What you expected to happen:
Kubelet should send the request to Unstage the volume when no pods are using the PVC on the node.

#### How to reproduce it (as minimally and precisely as possible):

* Create 2 static PVC's and static PV's pointing to the same cephfs volume

[2021-09-28 10:42] txomon commented on #105198
@liggitt I understand then that the only way forward to solve this specific scenario would be to disable the API to avoid access.

Thanks for the prompt reply!

[2021-09-28 10:43] Madhu-1 commented on #105323
cc @jsafrane @msau42

[2021-09-28 10:43] Madhu-1 commented on #105323
/sig storage

[2021-09-28 11:30] ShashankGirish commented on #105220
We seem to have hit the same problem even on 1.19.14 / 1.19.15.

@SenatorSupes has managed to find the offending commit here - https://github.com/kubernetes/kubernetes/commit/f7b2ca58586d2197fff5ad88d6b727d6bfcacf36

[2021-09-28 11:30] wojtek-t commented on #66239
Density test has been merged with load test in the meantime. There are also pretty stable now.
Closing.

[2021-09-28 11:30] #66239 closed

[2021-09-28 11:52] wzshiming opened #105324 "client-go Client timeout configuration is ignored"
#### What happened:

When Timeout is 0 or nil, the behavior is the same and no timeout

#### What you expected to happen:

[code]

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

https://github.com/kubernetes/kubernetes/blob/950f655bdd19c5af275846cf1940d767a5ec0115/staging/src/k8s.io/client-go/kubernetes/typed/core/v1/pod.go#L87-L102

https

[2021-09-28 11:54] wzshiming commented on #105324
/assign

[2021-09-28 12:14] gainskills commented on #43805
Refer to https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/#configuring-the-kubelet-cgroup-driver
create a YAML file and updated the content:
`cgroupDriver: systemd`
to
`cgroupDriver: cgroupfs`

then run `sudo kubeadm init --config  kubeadm-config.yaml`

[2021-09-28 12:22] wzshiming commented on #105324
/cc @wojtek-t
Could you have time to take a look

[2021-09-28 12:42] liggitt commented on #72320
https://github.com/kubernetes/kubernetes/pull/105296 is proposed to always allow evicting not ready pods, which (I think) would address this issue

[2021-09-28 13:25] m-ildefons commented on #105279
Hi @thockin , hi @khenidak

thanks for the quick response. `kubectl replace` does avoid the issue and so does `kubectl apply server-side` as far as I can tell. One other thing I noticed is that with multi-protocol ports, one can not use `kubectl apply` to remove one of the protocols. E.g.:
[code]
But it does work when using two different port numbers for the different protocols. This has not cause

[2021-09-28 14:03] michaelgugino opened #105326 "Eviction API should not race with disruption controller"
While discussing eviction API behavior, it became clear that if the disruption controller is not running, the eviction API can make the wrong decision around unready pods.

https://github.com/kubernetes/kubernetes/pull/105296#issuecomment-929245966

One idea, is to have eviction API 'push' a pod or UUID onto the status when decrementing, and have the disruption controller 'pop' this field on its n

[2021-09-28 14:10] neolit123 commented on #105324
/sig api-machinery

[2021-09-28 14:23] alculquicondor commented on #105305
I don't think this is a problem

/close

[2021-09-28 14:24] #105305 closed

[2021-09-28 14:51] alculquicondor commented on #105291
I like that this would allow scale ups without having to declare all the topologies.

What are the detailed semantics? Both `minDomains` and `maxDomains` are usable with preferred and required semantics, right?

For use case 1: While number of pods is less than `minDomains`, pods behave as if they would have antiaffinity.

For use case 2: When number of pods is greater than `maxDomains`, nodes wit

[2021-09-28 15:01] wojtek-t commented on #105274
Actually - I forgot to write one more important thing.
The reason why I propose the solution above (as opposed to others - there was a different approach proposed in https://github.com/kubernetes/kubernetes/pull/76904 ) is that it addresses also a long-standing reliability issue.

Namely - the problem is that "initEvents" are currently unbounded. So if many watches are starting at the same time, a

[2021-09-28 15:01] liggitt commented on #105261
that would require:
* the server to check that bind UID (if specified) matches the pod UID (passing the binding uid from BindingREST#Create → assignPod → setPodHostAndAnnotations and verifying the uid match in setPodHostAndAnnotations)
* the binding API caller to set metadata.uid in the posted binding object (as illustrated in the description of this issue)

[2021-09-28 15:27] aholic commented on #105261
+ actually, kube-scheduler(the most common binding API caller) has set the metadata.uid in the posted binding object. https://github.com/kubernetes/kubernetes/blob/b290671b1b28ab4af8164e2b69b334fab584558e/pkg/scheduler/scheduler.go#L471
+ but the server doesn't check the uid.

in my program, i do those to work around(not elegant, but it works...):
+ call the binding API with an uid in annotation(i

[2021-09-28 15:28] JarnoRFB commented on #93019
@lllamnyp Yes I guess the so called *generic ephemeral inline volumes* would indeed solve the issue, as the volume is ephemeral, but still provisioned through a storage class. Thank's for the pointer!

[2021-09-28 15:34] khenidak commented on #105320
/sig network
/triage needs-information
/assign @khenidak

Hi @hanamantagoudvk When you describe your node what are the IPs assigned in node object?

kubelet copies from node object into pods. The way they are set on node object is by the cloud provider, manual via kubelet's `--node-ip` flag or auto-detect which prefers IPv4 (check: https://kubernetes.io/docs/reference/command-line-tools-reference/

[2021-09-28 15:37] alculquicondor commented on #105321
Is the practice of naming images like that widespread enough? We do it for the k8s official images, but I don't think there are many guarantees that we will find it in the wild.

I think we should leave the control to the user. Or to cluster administrators via webhooks.

[2021-09-28 15:37] ahg-g commented on #105291
Exactly for both cases. We may want to caution against using `maxDomain` with  `DoNotSchedule` and node topology since a node can't be "scaled up".

[2021-09-28 15:37] liggitt commented on #105261
given the scheduler made decisions based on the current shape of the pod spec, I think it makes sense for it to work to make sure it is binding that instance of the pod

I would advocate for supporting uid as a precondition in the binding API and starting to use it from the scheduler

[2021-09-28 15:39] alculquicondor commented on #105220
The linked PRs are not merged yet. Unfortunately, I don't think there will be another 1.19 release.

[2021-09-28 15:40] aholic commented on #105261
agree with you

[2021-09-28 15:40] aholic commented on #105261
i agree with you

[2021-09-28 15:44] gregswift commented on #93019
I will say I dont believe that addresses what I added to the discussion, but am happy to separate it into a different issue.

[2021-09-28 15:56] rphillips commented on #105294
I bisected it down to https://github.com/kubernetes/kubernetes/pull/102323

[2021-09-28 16:17] aramase commented on #104584
@andyzhangx The change in `node-driver-registrar` is a temporary mitigation and not a fix to the issue. This GitHub issue is to investigate the root cause and fix in kubelet.

[2021-09-28 16:17] sanposhiho commented on #99605
Maybe we can close this issue because we already have created the repository. Feel free to open the issue on the repo if you have something to discuss.
https://github.com/kubernetes-sigs/kube-scheduler-simulator

I've successfully passed Google Summer of Code 2021 on Kubernetes!!! 🎉
It was a great journey for me!! Everyone, thanks for helping me a lot!! Also, I would like to thank my mentor, @adta

[2021-09-28 16:18] aramase commented on #104584
/reopen

[2021-09-28 16:31] msau42 opened #105328 "Volume limits predicate handling of other pods with misconfigured pvs"
#### What happened:
A few followup items from https://github.com/kubernetes/kubernetes/pull/100482 related to handling of other pods pvcs
- [ ] return error on any error code except notfound
- [ ] count notfound pvcs instead of ignoring them. Need to lookup what was the old behavior as even the current non-csi predicate is ignoring them.

@kubernetes/sig-storage-bugs

[2021-09-28 16:31] msau42 commented on #105328
cc @gnufied

[2021-09-28 16:31] msau42 commented on #105328
/triage accepted

[2021-09-28 16:44] ehashman commented on #105294
Might have been an oversight when the kubelet was added to the scale tests in ~1.20, you could add this to the k/perf-tests repo

[2021-09-28 16:50] sanposhiho opened #105329 "create e2e test freamwork for scheduler"
Hello team.

#### What would you like to be added:

create e2e test framework for scheduler on the new repo on kubernetes-sigs org (or in kubernetes/kubernetes as staging repo.)

This can be achieved by mimicking the mechanism of the scheduler simulator.

#### summary

With it, users can easily test the behavior of their custom schedulers or plugins.

In e2e framework, we can create
- funcs to set

[2021-09-28 16:56] hanamantagoudvk commented on #105320
when i describe the node object , they contain dual-stack addresses.

Yes i debugged kubelet with few additional logs. I could see that when kubelet is reading node obj to create these static pods, it sees only 1 IP. But eventually node object is populated with both the addresses.

I also understand, --node-ip is for baremetal installation. But we have cloud provider setup which might be delaying

[2021-09-28 17:08] alculquicondor commented on #99605
I'll leave it up to @adtac to close it.

Thank you for your contributions @sanposhiho! We hope to see you around in k8s and sig-scheduling in particular :)

[2021-09-28 17:12] liggitt commented on #56374
supported skew is n-2, so as of the 1.24 timeframe, all supported nodes running against a 1.24 cluster would support this

[2021-09-28 17:45] #105163 closed

[2021-09-28 17:49] ehashman commented on #100277
I think this is a feature request to check the cached status from the CRI in cases where correctness is less important than disruption. Anything else would be a breaking default behaviour change. (Feel free to file that as a separate feature request; it will probably need a small KEP.)

[2021-09-28 18:14] Huang-Wei commented on #105321
AFAIK, the image index is _optional_ for image providers - from [OCI spec](https://github.com/opencontainers/image-spec/blob/main/image-index.md):

But, I'm fine with starting this as an alpha feature, to fit the users that already stick to standard OCI spec, and fall back to current logic otherwise.

I had an offline talk with one of the OCI maintainers @mikebrow. The technical obstacles upfront

[2021-09-28 18:17] dguendisch commented on #100277
I don't understand this reasoning: why would "correctness be less important" if kubelet would stop to pretend a potentially (and most often) wrong ready status of containerNotReady?

[2021-09-28 18:37] ehashman commented on #100277
Which is worse for your application: the possibility that the cached status is wrong and a pod will be marked as ready when it's not, which will cause a failed request, or the delay in marking the pod as ready while ensuring it is running as expected? That is the tradeoff.

[2021-09-28 18:43] ehashman commented on #104459
I think we've hit a fundamental limitation of the Prometheus Go client library. I did a bit of research into how kube-state-metrics (KSM) handled this problem and @dgrisonnet reminded me of the performance optimization that was finished in 2018 (that I should have remembered because I was a scale tester!).

Essentially, KSM dropped the Prometheus client and wrote their own, less expensive [seriali

[2021-09-28 19:12] dimakow commented on #99370
/close

[2021-09-28 19:12] #99370 closed

[2021-09-28 19:13] dimakow commented on #105020
Sorry, i think i will not have enough free-time to make it till deadline

/unassign

[2021-09-28 19:14] dguendisch commented on #100277
I agree it's a tradeoff, but the line is more between:
- do I want a slightly slower detection of a non-ready pod in very rare cases ("very rare" because this only helps pods that were ready but got unready just around the moment that kubelet restarted, "slightly slower" because kubelet will anyway after restart probe the containers asap and report the real/current state)
- vs. every kubelet resta

[2021-09-28 19:30] mikebrow commented on #105321
some hopefully useful notes:

* vm type runtimes may support additional guest platforms outside the node host environment
* container runtimes may be configured to modify a registry domain to point to a set of mirrors, including the ability to not use original registry domain
* kube image pull policies include never pull, pull if not present, and pull always - depending on the current cache of con

[2021-09-28 19:46] ehashman commented on #105225
This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue, as @SergeyKanzhelev has requested above: https://github.com/kubernetes/kubernetes/issues/105225#issuecomment-928316916

Once more detail

[2021-09-28 20:18] fedebongio commented on #105230
/sig windows

[2021-09-28 20:18] fedebongio commented on #105230
/remove-sig api-machinery

[2021-09-28 20:20] fedebongio commented on #105246
/help
/triage accepted

[2021-09-28 20:21] fedebongio commented on #105261
/remove-sig api-machinery

[2021-09-28 20:22] fedebongio commented on #105265
/assign @pacoxu
Thank you for helping on this one!
/triage accepted

[2021-09-28 20:23] fedebongio commented on #105284
/triage accepted

[2021-09-28 20:24] fedebongio commented on #105311
/cc @caesarxuchao who got the PR assigned
/triage accepted

[2021-09-28 20:25] fedebongio commented on #105324
/cc @deads2k

[2021-09-28 20:52] spiffxp commented on #105284
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernetes-push-image-etcd/1442594901840629760 was triggered by the merge of https://github.com/kubernetes/kubernetes/pull/105285, which pushed `gcr.io/k8s-staging-etcd/etcd:3.5.0-3`

So that's now current / includes whatever PRs linked in the description may have tried to change (excluding #104116)

[2021-09-28 20:55] spiffxp commented on #105284
@pacoxu does this need promotion at all or are we good with the existing `k8s.gcr.io/etcd:3.5.0-0` image?

[2021-09-28 21:12] Huang-Wei commented on #105321
Back to the issue, another angle is to leverage [RuntimeClass]. For example, if an image can only run on Arm, you can create a RuntimeClass called "arm", and associate the [scheduling primitives] to it. Next prepare a pod with "arm" as the `.spec.runtimeClassName`. Then the pod will be applied with additional nodeSelector / tolerations (on admission phase) so as to be scheduled to the proper node.

[2021-09-28 21:22] dims commented on #104459
@ehashman can we please open an issue with folks working on it? https://github.com/prometheus/client_golang right?

[2021-09-28 22:10] Jan-EC opened #105332 "logs show "verify ContainerStatus failed""
#### What happened:

kubelet "verify ContainerStatus failed", logs are flooded with this entires

#### What you expected to happen:

running without unknown errors in the logs

#### How to reproduce it (as minimally and precisely as possible):

I just setup a k8s cluster with kubeadm - initially 1.20 and upgraded to 1.21 and 1.22.x using cri-o as container runtime, cgroups from systemd for k8s and

[2021-09-28 22:13] Jan-EC commented on #105332
/sig cluster-lifecycle

[2021-09-28 22:15] aojea commented on #105324
Sorry for the question, but I can't understand what problem are you trying to solve :sweat_smile:
Why do you need to places to set a timeout?
I think that you can pass a context with timeout per request

[2021-09-29 00:05] dbgoytia commented on #105242
Hi there!

I was able to reproduce the error. I would like to further explore why this isn't working as it should, may I work on this problem @leonardpahlke  @spiffxp? I'm kind of new to the codebase but I think I can start debugging it.

[code]

I'm testing over in Google cloud using GCE-PD driver and the following focus command:

[code]

[2021-09-29 01:54] pacoxu commented on #105332
/sig node

[2021-09-29 02:05] ravisantoshgudimetla opened #105336 "supported CNIs should have stable networking for Linux and Windows pods"
#### Which jobs are flaking:
aks-engine-windows-containerd-master

#### Which test(s) are flaking:
Kubernetes e2e suite: [sig-windows] Hybrid cluster network for all supported CNIs should have stable networking for Linux and Windows pods
#### Testgrid link:
https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master
#### Reason for failure:
https://curl.se/libcurl/c/libcurl-err

[2021-09-29 03:14] wzshiming commented on #105324
I want to set the timeout time of par request uniformly, Passing the context of per request timeout can also be achieved, but in scenarios where there are many calls, it is more convenient to have a place to set a global timeout

Today I suddenly feel that adding more content is not big workload, and it is clearer, thank for your reminder

[2021-09-29 03:15] #105324 closed

[2021-09-29 05:27] MadhavJivrajani commented on #105246
/remove-help

[2021-09-29 05:33] prnvkv commented on #23864
@prameshj . Any news on this discussion?

[2021-09-29 05:45] Madhu-1 commented on #105323
/assign @msau42
/assign @jsafrane

[2021-09-29 06:56] andyzhangx commented on #104584
btw, it's easier to repro this issue on a 2 cores CPU node(with 8GB memory) compared to 4 cores CPU node in my test (1 vs 323 restart in 16 hours)
[code]

[2021-09-29 07:03] ikingye commented on #63900
I clear the all firewall, and it works just fine now.

[code]

[2021-09-29 07:16] fuine6 commented on #69696
I have the same problem in 1.20.9-gke.1001.

![image](https://user-images.githubusercontent.com/34824302/135217854-f2b47a90-d905-4e9e-a078-653fc0fbc5d7.png)

I tried two solutions.

Solution 1: **PDB**(Invalid at 1.20.9-gke.1001, valid at 1.17.17-gke.3700)

When I did not use **PDB**, **CA** complained about kube-dns unmovable.
[code]
Then I used this **PDB**.
[code]
**CA** complained about other

[2021-09-29 07:20] cmssczy commented on #105298
hi, I'm trying to add `RegisterWithTaints` in this struct.
[code]
But When I build a release (`make quick-release-images`),  it always failed with the logs as follow.
[code]
This is my first time to modify the code related to api change. I tried to search how to fix this problem but did not find sth useful. So could someone give me some hint? Thanks a lot.

@rphillips @ehashman

[2021-09-29 07:41] microyahoo opened #105338 "queueSet.findDispatchQueueLocked() possibly panics"
https://github.com/kubernetes/kubernetes/blob/32fefd5580cc849dba50e25e92a093046e042c8b/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go#L725

#### What happened:
[code]
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl ver

[2021-09-29 07:47] matti commented on #69696
not safe to ignore - I have created a autoscaling pool without any taints just for these GKE pods. smallest machine type and preemptible.

all my pods have taint "googleStayAway: NO_EXECUTE" toleration

[2021-09-29 07:59] fuine6 commented on #69696
Does this mean that the pool cannot be scale down to zero?

[2021-09-29 08:00] #105276 closed

[2021-09-29 08:04] adamwoolhether commented on #99504
Just to tack on, if anyone else is experiencing these issues. I'm generating kubeconfig files for user's progromattically with `client-go`. In a previous version of K8s I was able to use the `kubernetes.io/kube-apiserver-client-kubelet` signer without explicitly placing `system:node:<name>` and `system:nodes` in the CommonName and Organization respectively.

After changing to v1.20.4, i was gettin

[2021-09-29 08:17] chendave commented on #105321
Agreed.

Leave this to user is bad, as what's the original author said it require us to analysis the image beforehand and take actions such as webhook admission,  or attach affinity rules per pod level.

[2021-09-29 08:18] 249043822 commented on #105270
kubelet does not use the pod's QoS class to determine the eviction order, you can see the selection order https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#pod-selection-for-kubelet-eviction,
BestEffort or Burstable pods where the usage exceeds requests, based on how much their usage level exceeds the request, may be evicted any.
or you can see the code:https://github

[2021-09-29 08:22] microyahoo commented on #105338
/sig api-machinery

[2021-09-29 08:31] chendave commented on #105321
`RuntimeClass` per my understanding is primarily a feature for gluing pod with the different runtimes, it doesn't sound like a good choice for this issue even it might work as node affinity.

The ideal solution is no pod level's modification, but kubernetes is clear enough to schedule to pod to the desired nodes.
As we lack the proper API, or somewhere we can read directly on which `arch` the imag

[2021-09-29 08:33] algebra2k opened #105340 "There is some difference between the memory shown by kubectl top and the memory shown by contaier internal top"
#### What happened:

In our environment, we run a lot of php containers with kubernetes, but we found that our php containers were often `OOM`.  we found that the memory value by `kubectl top pods --containers` and `cAdvisor` is somewhat different from the `top` in container.

Here is some information in our environment:

First, we run `kubectl to` and see that the *service* container memory is `2

[2021-09-29 08:48] Pingan2017 opened #105341 "Make ReconcilerMaxWaitForUnmountDuration Configurable for controller-managed-attach-detach"
#### What would you like to be added:
Make ReconcilerMaxWaitForUnmountDuration Configurable for controller-managed-attach-detach

#### Why is this needed:
Now,when node or kubelet shutdown, the pod will migrate to other healthy node.
But for pod with attachable device will take a lot of time for this migration.
It will take 40s(nodeHealthyMonitorDuration) + 5min (deafultTolerationDuration) + 6min

[2021-09-29 08:55] zhangguanzhang commented on #105270
qosClasshi是保证 `oom_score_adj` ，BestEffort 的  `oom_score_adj` 数值最大，三个pod内存使用一致。系统都是去杀 BestEffort  的

[2021-09-29 08:56] microyahoo commented on #102912
The cause is that some `vendor/k8s.io/*` will be deleted after running `go mod tidy`, the build will come to normal after restore it.

[2021-09-29 09:02] pacoxu commented on #105270
I suggest to discuss in Chinese in slack [#cn-user channel](https://kubernetes.slack.com/archives/C8K1CEKBQ) or [#cn-dev or ](https://kubernetes.slack.com/archives/CDCREJMQF) .

/remove-kind bug
/kind support

[2021-09-29 09:19] matti commented on #69696
that "for googles stupid pods" pool can not. gke wont function without those pods. all other pools can.

[2021-09-29 09:33] Pingan2017 commented on #105341
ping @kubernetes/sig-storage-feature-requests

[2021-09-29 09:48] adampl commented on #70047
/remove-lifecycle stale

[2021-09-29 09:55] adampl commented on #70047
/lifecycle frozen

This should do the trick :)

[2021-09-29 10:33] beorn7 commented on #104459
Yes, please file an issue with the details of this use case.

Back in the days when KSM did their fundamental redesign and optimisation, I thought quite a bit about ways to offer a native way of doing something similar. The efforts got shelved mostly because of two reasons: For one, the KSM use case is rather extreme and rare (and they essentially optimized so thoroughly that they dropped all laye

[2021-09-29 11:00] baokiemanh commented on #58908
This is NOT a bug at all. In my case, I setup cluster (kubeadm) on AWS EC2 instances & got the same issue. After I change Security Group (firewall) setting to allow ALL traffic then everything back to normal.

I never got this issue when setup cluster on Bare metal.

The root cause should be firewall setting on cloud provider.

Hope it help!

[2021-09-29 11:02] bwplotka commented on #104459
Thanks all. I think book-keeping idea (caching all and garbage collecting when pod is removed) of @smarterclayton @ehashman and others from SIG instrumentation would be the simplest solution here.

I would definitely make sure that the optimization is useful for upcoming CRI-only implementation too, but if I read [the proposal](https://github.com/kubernetes/enhancements/pull/2364) right, the same

[2021-09-29 11:09] baokiemanh commented on #86507
May be this issue related to firewall setting on cloud provider.

In my case, I setup cluster (kubeadm) on AWS EC2 instances & got the same issue. After I change Security Group (firewall) setting to allow all traffic then everything back to normal.

I never got this issue when setup cluster on bare metal.

Hope it help!

[2021-09-29 11:13] soltysh commented on #60295
See https://github.com/kubernetes/kubernetes/pull/82986#pullrequestreview-766536338
/close

[2021-09-29 11:14] baokiemanh commented on #89632
May be this issue related to firewall setting on cloud provider.

In my case, I setup cluster (kubeadm) on AWS EC2 instances & got the same issue. After I change Security Group (firewall) setting to allow all traffic then everything back to normal.

I never got this issue when setup cluster on bare metal.

Hope it help!

[2021-09-29 11:14] #60295 closed

[2021-09-29 11:17] beorn7 commented on #104459
A "quick fix" might be possible for the problem at hand, though:

If really most allocations are burned in `prometheus.MakeLabelPairs`, you could indeed avoid it by creating the `prometheus.Desc` once for each label combination encountered and cache it. You have to set the desired labels completely as `constLabels` in `prometheus.NewDesc`, e.g. something like `prometheus.NewDesc("my_metric", "Some

[2021-09-29 12:24] lorenzo-biava commented on #96242
Just faced the very same issue (and it took me a while to discover that the delay in scaling was caused by this - somehow I expected the HPA to work in parallel, and there are no debug logs to tell otherwise).

In our case we're using Keda to setup HPAs and provide external metrics, which in turn come from Prometheus. Unfortunately Prometheus got overloaded (see https://github.com/prometheus/prome

[2021-09-29 12:49] ardaguclu commented on #105204
@zetaab , I executed the steps you provided. I agree with @cmssczy, this failure message is not related to namespace naming.
I also got same mount error when I removed `-` from namespace;
[code]

[2021-09-29 12:53] herewasmike opened #105346 "Apiserver latency metrics create enormous amount of time-series"
### Background:
In scope of https://github.com/kubernetes/kubernetes/pull/73638 and https://github.com/kubernetes-sigs/controller-runtime/pull/1273 amount of buckets for this histogram was increased to 40(!)
`			Buckets: []float64{0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0,
				1.25, 1.5, 1.75, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 40,

[2021-09-29 13:00] crikke commented on #103853
/assign

[2021-09-29 13:01] damemi commented on #92143
/assign @kerthcet
xref https://github.com/kubernetes/enhancements/issues/2901 and https://github.com/kubernetes/kubernetes/pull/104782

[2021-09-29 13:10] BinacsLee commented on #105329
/cc

[2021-09-29 13:16] crikke commented on #103853
/unassign

[2021-09-29 13:35] cyclinder commented on #105332
https://github.com/kubernetes/kubernetes/blob/49f9e227e985bcbf6fd4781db1788b78a8e140af/pkg/kubelet/cri/remote/remote_runtime.go#L328-L344

Firstly.the error is reported by remote_runtime.go:343 that "status.CreatedAt is not set".i check out the function "verifyContainerStatus".and then i found status.CreatedAt  == 0

https://github.com/kubernetes/kubernetes/blob/49f9e227e985bcbf6fd4781db1788b78a8e

[2021-09-29 13:46] makusu2 commented on #60295
@soltysh Why?

[2021-09-29 13:50] alculquicondor commented on #105321
How about starting with an out-of-tree webhook that uses the image index to add the node selector? Or perhaps it should only be limited to image name suffix?

[2021-09-29 13:53] herewasmike commented on #105346
I believe this should go to
/sig api-machinery

Please correct me if I'm wrong

[2021-09-29 14:56] niting3c opened #107247 "High vulnerability in golang.org/x/text used by client-go and other golang libs"
client-go and other Kubernetes Golang libraries use `golang.org/x/text` which has a here vulnerability as reported here:
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-14040

Short-term and Long-term upgrade fix is available in v0.3.7

[2021-09-29 15:43] dgrisonnet commented on #104459
From what I can tell, having garbaged collected cached series would cover both the kube-state-metrics and the cadvisor/CRI use cases. This is essentially what we have today in kube-state-metrics, with the exception that we are getting rid of the metrics abstractions and are only storing raw timeseries which add yet another layer of memory optimization.

I think client_golang and the community coul

[2021-09-29 15:47] bwplotka commented on #104459
Looks like @beorn7 started proposal discussion here: https://github.com/prometheus/client_golang/discussions/917 🤗

[2021-09-29 15:52] spiffxp commented on #105284
/remove-priority critical-urgent
/priority important-soon
The job is back to passing

[2021-09-29 15:53] mattmattox commented on #105041
@hichamuntitled What do the kubelet logs look like on the node where this pod is assigned?
Also, is this impacting a single pod or are multiple pods effected?

[2021-09-29 15:57] mattmattox commented on #90593
@kvaps When you say the NFS server died? Do you mean that it went offline and never recovered? If so, can you run `lsof` and see if there stale open files on that mount point?

[2021-09-29 16:09] SergeyKanzhelev commented on #105301
/assign @giuseppe
/triage accepted
/area test
/priority important-soon

[2021-09-29 16:30] neolit123 commented on #105340
/sig node cli
for triage

[2021-09-29 16:31] neolit123 commented on #105340
versions < 1.20 are out of support. is this reproducible with a newer apiserver + kubelet + kubectl?

[2021-09-29 16:53] dguendisch commented on #102486
This sounds like a duplicate of https://github.com/kubernetes/kubernetes/issues/100182

[2021-09-29 17:29] Huang-Wei commented on #100723
/remove-lifecycle stale

[2021-09-29 17:33] haircommander commented on #104034
https://github.com/cri-o/cri-o/pull/5365 will get it in 1.22.1. is that sufficient @sbwfnhn or would you like it backported to 1.21?

[2021-09-29 17:36] SergeyKanzhelev commented on #104754
/assign @cynepco3hahue
/triage accepted
/priority important-soon

[2021-09-29 17:37] SergeyKanzhelev commented on #104754
/triage accepted

[2021-09-29 17:42] SergeyKanzhelev commented on #104568
it looks like it is green now. Let's re-open if this will start flaking again

/close

[2021-09-29 17:42] #104568 closed

[2021-09-29 17:44] SergeyKanzhelev commented on #105053
this dropped back down:

![image](https://user-images.githubusercontent.com/9950081/135321203-bb687bc7-0160-430b-bce6-4c8f1edb1a26.png)

Keeping open in case somebody can investigate to preserve history

[2021-09-29 17:45] mmiranda96 opened #105351 "Create skipper tool for FeatureGates"
#### What would you like to be added:
A new skipper function which skips tests if a FeatureGate is enabled.

#### Why is this needed:
A couple of tests get skipped if a particular FeatureGate is enabled/disabled, checking ` utilfeature.DefaultFeatureGate.Enabled(feature)` and if true/false, calling `skipInternal()`. Having a wrapper around this would simplify the logic on these tests and follow th

[2021-09-29 17:46] mmiranda96 commented on #105351
/kind cleanup
/sig node
/sig testing
/assign

[2021-09-29 17:46] SergeyKanzhelev commented on #105308
/assign @ehashman
/triage accepted

[2021-09-29 17:46] ehashman commented on #105270
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2021-09-29 17:46] #105270 closed

[2021-09-29 17:46] SergeyKanzhelev commented on #105308
/priority important-soon

[2021-09-29 17:48] SergeyKanzhelev commented on #105294
/triage accepted
/priority important-soon

[2021-09-29 17:55] ehashman commented on #105351
We have like 4 feature-specific skippers that could be a single generic helper: https://github.com/kubernetes/kubernetes/blob/6f47878926f1aa51e0864821d882bf695558709a/test/e2e/framework/skipper/skipper.go#L139-L162

As well as a bunch of 1-off skippers: https://github.com/kubernetes/kubernetes/blob/6f47878926f1aa51e0864821d882bf695558709a/test/e2e_node/podresources_test.go#L629-L631

/triage accep

[2021-09-29 17:59] SergeyKanzhelev commented on #105332
cc: @haircommander

Can you take a look if there is enough information for investigation?

[2021-09-29 18:03] khenidak commented on #105320
thanks again @hanamantagoudvk

Few additional questions:
- are these static pods?
- When the node object gets its dualstack addresses and pods were created **after** the node object updates do you still get single address pods?

[2021-09-29 18:09] ehashman commented on #105340
257769472 bytes from "memory.usage_in_bytes and memory.limit_in_bytes seen by crgoup" is 245Mi which matches `kubectl top` output. This is what cadvisor reports.

Note that your PHP processes according to the `top` output are using large amounts of virtual memory, and your system is using large amounts (18557712 -> ~18GB) of kernel buffer/cache memory. It is possible that they are I/O intensive an

[2021-09-29 18:09] #105340 closed

[2021-09-29 18:47] artificial-aidan commented on #93479
For anyone who runs into this issue. Here is the workaround I found.

[code]

[2021-09-29 18:48] artificial-aidan commented on #83781
For anyone who runs into this issue. Here is the workaround I found.

[code]

[2021-09-29 18:49] haircommander commented on #105332
what version of runc are you using @Jan-EC

[2021-09-29 18:53] atiratree commented on #104487
I could not reproduce this, but I need a bit more qualifying information:

Is this client or server version? I have tested this on 1.19 and on master.

do the label selectors differ between Deployment/PodDisruptionBudget A and B ? I presumed that they do

this could not be reproduced. The values updated correctly for me. Allowed disruption changed but the min available stayed the same.

status bef

[2021-09-29 19:01] neolit123 commented on #105332
/remove-sig cluster-lifecycle

[2021-09-29 19:06] tallclair opened #105353 "Capture the status message from status-type responses in audit logs"
#### What happened:

If the response to a request is a `metav1.Status`, we currently copy a subset of the response to the `ResponseStatus` field of the audit logs: https://github.com/kubernetes/kubernetes/blob/1ad3e14f1fc4a5f6e6cd6f9ffc7d030cb3d6540d/staging/src/k8s.io/apiserver/pkg/audit/request.go#L183-L188

Note that the message is not included. In order to capture the response message, the ful

[2021-09-29 20:38] cheftako commented on #105258
/sig node

[2021-09-29 20:39] cheftako commented on #105258
/remove-sig cloud-provider

[2021-09-29 20:40] cheftako commented on #105184
/assign @ialidzhikov
/triage accepted

[2021-09-29 21:04] liggitt commented on #97763
@caesarxuchao is this resolved by https://github.com/kubernetes/kubernetes/pull/104985 ?

[2021-09-29 21:37] AnthonyWC commented on #86499
Another data point (on AWS EKS):

Seems like happen only on smaller nodetypes (I see it with both micro/nano, others are medium)
[code]

Usage is displayed correctly with `kubectl describe node`
[code]

NodeMetrics:
[code]

[2021-09-29 21:41] mattmoor opened #105357 "`k8s.io/client-go/dynamic/fake` does not implement `DeleteCollection`"
#### What happened:

`DeleteCollection` calls on the fake dynamic client do not delete matching objects.

#### What you expected to happen:

I expected a `DeleteCollection` call on the fake dynamic client to delete objects matching the supplied selector.

#### How to reproduce it (as minimally and precisely as possible):

Here is a little test that shows a successful `List` and failing `DeleteColl

[2021-09-29 21:42] mattmoor commented on #105357
FWIW, while I didn't try the test against the latest release or HEAD, I did look at whether the fixture had been changed to reference the action (as it does `DeleteActionImpl`, for example).

[2021-09-29 22:28] ehashman commented on #102148
/remove-lifecycle stale

[2021-09-29 22:31] caesarxuchao commented on #97763
Yes. Thanks for the reminder.

/close

[2021-09-29 22:31] neolit123 commented on #105357
/sig api-machinery

[2021-09-29 22:32] #97763 closed

[2021-09-29 22:56] aojea commented on #105320
I've chatted with the reporter in slack, it seems a race on populating the node addresses by the cloud-provider,

[2021-09-29 23:24] ehashman opened #105358 "Pods go into error state after kubelet-initiated eviction"
#### What happened:

When a pod is evicted under resource pressure, it goes into an error state.

#### What you expected to happen:

The pod terminates normally.

#### How to reproduce it (as minimally and precisely as possible):

Note that the 130GB file is based on **90% of total disk space - current utilization** to hit the default eviction threshold.

[code]

Full pod spec after going into err

[2021-09-29 23:42] #105112 closed

[2021-09-30 00:19] shuheiktgw commented on #105029
@ehashman @pacoxu I've refactored tests in the validation so would you review the PR?
https://github.com/kubernetes/kubernetes/pull/105360

[2021-09-30 00:21] ehashman commented on #105358
@endocrimes mentions this looks very similar to https://github.com/kubernetes/kubernetes/issues/103623#issuecomment-881449350

[2021-09-30 01:49] ash2k commented on #102231
This is great. Happy to see all those `os.Exit()` calls removed.

There is at least one more thing that calls `os.Exit()` - https://github.com/kubernetes/kubernetes/blob/dac94e1c9ee31034d174815e287ba39fa67b2b72/staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go#L114-L116. It's used in a lot of places, such as https://github.com/kubernetes/kubernetes/blob/dac94e1c9ee31034d174815e287ba39fa67b2b72/st

[2021-09-30 03:10] pacoxu commented on #105284
Recent updates are related to Debian base image update and golang upgrade.
Nice to get a promotion. Good enough to use  `k8s.gcr.io/etcd:3.5.0-0`.

[2021-09-30 03:56] gojoy commented on #105225
the k8s vision is 1.16.4. I have do more investigate after open this issue, and It was caused by cni plugin [#666](https://github.com/containernetworking/plugins/issues/666)
because releasing ip and cleaning network device is in the scope of cni.
Thanks for attention

[2021-09-30 03:59] mengjiao-liu commented on #103546
I want to take it.
/assign

[2021-09-30 05:30] chendave commented on #104266
/close

As already said, this will introduce extra state and complexity to handle, close for now, maybe the issue will gone alone the way ahead. :)

[2021-09-30 06:55] zhiweiv commented on #98574
Any update on https://github.com/kubernetes/kubernetes/issues/98574#issuecomment-852315334?

[2021-09-30 06:56] aojea commented on #103224
/assign
/remove-lifecycle stale

[2021-09-30 07:31] Kartik494 commented on #105000
Hi @hardy4yooz The documentation provided is running fine in my environment , I am using k8s version 1.22.0

[2021-09-30 07:54] Jan-EC commented on #105332
Hi and thanks for looking into this.

I noticed the issue when some but not all pods created were stuck in "ContainerCreating" for many hours without any idea why and describe showed the error.

For the runc version:

`VERSION:
   1.0.1
commit: v1.0.1-0-g4144b63
spec: 1.0.2-dev
go: go1.15.14
libseccomp: 2.4.3`

[2021-09-30 08:07] vaibhav2107 commented on #103300
/remove-lifecycle stale

[2021-09-30 08:15] etcshad0vv commented on #104980
Hello @champtar, reading in your comment i am still not sure if this is not fixed by CVE-2017-1002101 which you already mentioned above,
looking into the solution key points:
[code]
Did someone verify this CVE is exploitable?

[2021-09-30 08:34] yogeek commented on #97294
We just experienced a similar issue on a cluster (deployed with kubeadm on EC2) that was updated to 1.20.11 a week ago :

Starting from :

- 5 etcd members (t3.small)
- 3 control planes (

etcd leader lost => apiserver errors => the cluster went from 3 control-plane nodes to only 1 healthy, EC2 control-plane machines replaced by ASG in a loop, no more control-plane available, and also etcd cluster

[2021-09-30 09:16] Jan-EC commented on #105332
Another update: The logs vanished when I switched the runtime to contained instead of cri-o.
I will build a small test cluster with the same setup as before and see if the error is reproducible.

[2021-09-30 09:16] champtar commented on #104980
Fix for CVE-2017-1002101 creates a safe path using /proc/x/fd/y trick and pass this safe magic symlink to the mount binary that resolves (canonicalize) the link before passing it to the mount syscall, allowing the race condition again. What was missed in 2017 (and that's easy to miss) is the util-linux mount default behavior, if k8s was using mount syscall directly the fix would have been good.

[2021-09-30 09:39] delthas commented on #84333
This is expected behaviour: when the Kubelet CPU manager is configured with a static policy, the CPU manager stores a permanent state, which includes CPU info, in a file in the kubelet directory. When the CPU info changes, the CPU manager detects a discrepancy in the availables cores and throws an error. This ensure kubelet doesn't try to assign exclusive CPUs that don't exist anymore to Guarantee

[2021-09-30 10:16] chenk008 commented on #81001
I have encountered the same issue.

[2021-09-30 10:50] MadhavJivrajani commented on #105274
@wojtek-t i had a few initial questions to better understand what needs to be done:

- The intent here is to reduce the time spent for the case where `resourceVersion == 0`, since that is the place we effectively list all events currently existing in the underlying store and allocate a buffer for those and copy them over?
    - The lock contention is an issue because of this excessive time spent i

[2021-09-30 11:32] rtheis commented on #73698
We were able to recreate this issue on an OpenShift version 4.8 cluster which is based on Kubernetes version 1.21.

[code]

[code]

[code]

[2021-09-30 11:37] rtheis commented on #73698
Immediately after the test failure, the resource quota appears to think all is good.  But as noted in the previous comment, all is not good and eventually the resource quota catches up to the actual state.

[code]

[2021-09-30 11:40] wojtek-t commented on #105274
No. watch with RV=0 isn't widely used. The intent is to address any RV!=0 really. This is what matters.

When I'm writing an event to a cyclic buffer I want to check if noone would like to read the current "startIndex":
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go#L339

So here I would like to find all intervals which include "

[2021-09-30 12:21] etcshad0vv commented on #104980
I couldn't really exploit it due to patching of CVE-2017-1002101 , if exploit is confirmed then it can be me not doing it properly!

[2021-09-30 12:30] danwinship commented on #102493
Hm... I thought I had responded to this...

yes

"conntrack, ipset, iptables, ipvs, and modprobe" is the complete list of things that kube-proxy _directly_ invokes on Linux. There _might_ be other binaries that get indirectly invoked via some imported module, although I don't think so.

And actually, strike ipvs from that list; `utilipvs.New()` takes a `utilexec.Interface`, but it doesn't actually

[2021-09-30 12:54] arvid-m opened #105369 "kubectl convert plugin can't handle cloud.google.com/v1 BackendConfig"
#### What happened:

I'm trying to run `kubectl convert -f myservice.yaml` on a YAML file that contains:

[code]

#### What you expected to happen:

I would expect the output to be successful, but instead I got: `error: unable to decode "myservice.yaml": no kind "BackendConfig" is registered for version "cloud.google.com/v1" in scheme "k8s.io/kubernetes/pkg/api/legacyscheme/scheme.go:30"`

#### Ho

[2021-09-30 12:58] #105173 closed

[2021-09-30 13:03] marseel opened #105370 "Incorrect Priority Level for kube-proxy/node-problem-detector/konnectivity-server/glbc"
#### What happened:
Currently, requests from multiple components go to global-default Priority Level:
- kube-proxy
- node-problem-detector
- konnectivity-server
- glbc

#### What you expected to happen:
I expected requests assigned to workload-low or workload-high Priority Level
#### How to reproduce it (as minimally and precisely as possible):
Logs confirming issue taken from https://k8s-testgrid

[2021-09-30 13:07] marseel commented on #105370
/sig api-machinery
@kubernetes/sig-api-machinery-bugs
/cc @MikeSpreitzer
/cc @wojtek-t
/cc @lavalamp

[2021-09-30 13:10] neolit123 commented on #105059
/close
Please let us know if you have more comments.

[2021-09-30 13:11] #105059 closed

[2021-09-30 13:40] haircommander commented on #105332
what versions of cri-o were you moving between in the upgrade?

[2021-09-30 14:11] CatherineF-dev commented on #104940
Three testings failed due to `panic: duplicate metrics collector registration attempted`.  Haven't found package promauto (https://github.com/prometheus/client_golang/issues/716#issuecomment-590282553) being used in these testings. It might be other issues.

These testings are:
1. TestGetHistogramVecFromGatherer/filter_with_one_label
2. TestRecordOperation
3. TestSampler

[2021-09-30 14:13] khenidak commented on #105320
@aojea Yes. It would seem so. Two things here i am trying to clarify.
1. With cloud providers node register with taints (no schedule) until cloud provider adds provider-Id and other details including IPs.
2. If these are static pods then I am not sure if kubelet respects no-schedule (those are respected by scheduler which is out of the picture for static pods) If they are then they will run - most

[2021-09-30 14:16] arvid-m commented on #105369
/sig cli

[2021-09-30 14:26] MadhavJivrajani commented on #94738
@MikeSpreitzer - once https://github.com/kubernetes/kubernetes/pull/105372 and https://github.com/kubernetes/kubernetes/pull/105375 are merged in, the codebase will be fully migrated away from `k8s.io/apimachinery/pkg/util/clock`.

How can we proceed with removal of this package? Is there some policy around this?
/assign

[2021-09-30 14:36] wojtek-t commented on #94738
@lavalamp @liggitt ^^

[I would personally vote for just removing it - maybe just leaving some "doc" file to point to the new location of that. But let's maybe wait for others.]

[2021-09-30 14:38] Jan-EC commented on #105332
The latest installed was

[code]

[2021-09-30 14:41] liggitt commented on #94738
There seem to be a lot of out-of-tree uses of it (https://grep.app/search?q=%22k8s.io/apimachinery/pkg/util/clock%22&filter[lang][0]=Go) ... if it's easy to use type aliases to map to matching k8s.io/utils interfaces/implementations and mark the `k8s.io/apimachinery/pkg/util/clock` versions deprecated for a release or two, that would ease people updating library versions

If that doesn't work or m

[2021-09-30 14:58] haircommander commented on #105332
do you happen to know the exact version of 1.20? I would like to try to reproduce

[2021-09-30 15:08] michaelgugino commented on #105326
Manipulating the counts won't suffice.  For starters, decrementing the PDB and actually deleting the pod are two separate actions, there's no guarantee that the operation will succeed.  Also, we return some 'Forbidden' messages today if the count is < 0, which would be expected if we allow counts to get to -1.  Changing API responses to the client would be a much larger change and probably not des

[2021-09-30 15:10] hanamantagoudvk commented on #105320
Yes i am referring to kube-proxy , kube-api-server ,kube-scheduler pods which use host-networking.

This is not under our control. I mean , we are just rebooting the nodes in quick succession and at the end we just check the IP addresses of the above static pods. As i see the code , kubelet brings them up as soon as he is UP.

[2021-09-30 16:13] abemarji commented on #76158
Any chance to change the Permissions to enable Linux Sticky bit on the Directory ?   So chmod +1777 instead of 777?  enabling the sticky bit would address of of the concerns raised by the various linux security scanners.

[2021-09-30 16:16] ehashman commented on #105358
Confirmed that this is a regression from 1.21. When running the reproducer against the release-1.21 branch, the pod above correctly stays in Evicted status (since pods are mortal). On 1.22, it tries to restart, entering either an Error or ContainerCreating state.

/kind regression

[2021-09-30 16:16] ehashman commented on #105358
/assign

[2021-09-30 16:21] rphillips commented on #105358
/triage accepted

[2021-09-30 16:35] aeriksson commented on #7452
FYI it seems like there's a way to do this using the websocket subprotocol header: https://github.com/kubernetes/kubernetes/pull/47740

[2021-09-30 16:50] gjkim42 opened #105381 "Failing job: pull-kubernetes-node-e2e-containerd"
#### Which jobs are failing:

pull-kubernetes-node-e2e-containerd

#### Which test(s) are failing:

#### Since when has it been failing:

Success rate over time: 3h0s: 0%, 12h0s: 22%, 48h0s: 65%

#### Testgrid link:

https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&job=pull-kubernetes-node-e2e-containerd
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e-containerd

#

[2021-09-30 17:05] vaibhav2107 commented on #46469
/remove-lifecycle stale

[2021-09-30 17:11] spiffxp commented on #105381
I setup k8s-infra-prow-build to sync in its secrets from Google Secret Manager this morning around 7:28am PDT.

In copying the values out of the existing Kubernetes Secrets, I missed a trailing newline for the private key value.  This caused the private key to become invalid.

I updated the secret in Google Secret Manager to add a trailing newline, and the new value was synced back to the cluster

[2021-09-30 17:14] spiffxp commented on #105381
/assign
/priority critical-urgent
/triage accepted
/sig testing
/sig k8s-infra

[2021-09-30 17:14] spiffxp commented on #105381
/milestone v1.23

[2021-09-30 17:16] spiffxp commented on #105381
https://github.com/kubernetes/k8s.io/pull/2858 was the PR that triggered this, but rolling it back wouldn't have done anything, since the secret values would have remained updated to whatever they were after the PR had merged.  The kubernetes-external-secrets component doesn't keep a copy of old secret values lying around once it starts syncing values.

[2021-09-30 17:23] mborsz commented on #105381
Also https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100 started failing today with error like:

[code]

[2021-09-30 17:26] spiffxp commented on #105381
Public key was also missing trailing newline, updated secret

[2021-09-30 17:27] serathius commented on #86499
Why kubelet node memory utilization can exceed 100% (same can happen for CPU)? Simple, because it's not utilization of physical device, but utilization of resources allocated for pods.

How utilization of resources allocated is calculated? Simple, it's sum of resources used by pods running on node divided by all resources allocated for pods.

 How Kubelet allocates resources for pods? It takes all

[2021-09-30 17:29] neolit123 commented on #105369
yes, you should contact it's owners (GCP) for support on how to convert it.

this page might need some clarification:
https://kubernetes.io/docs/tasks/tools/included/kubectl-convert-overview/

/remove-kind bug
/kind support documentation

[2021-09-30 17:34] ehashman commented on #105358
From `git bisect`:

3eadd1a9ead7a009a9abfbd603a5efd0560473cc is the first bad commit

This was https://github.com/kubernetes/kubernetes/pull/102344

[2021-09-30 17:38] ehashman commented on #105358
Seems likely that https://github.com/kubernetes/kubernetes/issues/103623 wasn't actually fixed. The broken eviction tests made it much harder to verify.

[2021-09-30 17:58] ehashman commented on #105358
Attaching v=4 [kubelet.log](https://github.com/kubernetes/kubernetes/files/7261566/kubelet.log)

[2021-09-30 18:04] ehashman commented on #105358
Attaching logs from HEAD from reproducer:

[code]

v=4 [kubelet.log](https://github.com/kubernetes/kubernetes/files/7261595/kubelet.log)

Let me also try to get a repro where it goes into Error

[2021-09-30 18:14] danopia commented on #7452
That hack looks questionable at best, despicable at worst, and I'm sure not at all documented.

I've verified that the hack works for my usecase. Thanks for the link.

[2021-09-30 18:14] smarterclayton commented on #105358
Roughly, kubelet syncTerminatingPod sends "Failed" to status manager (which looks like it generates the correct apiserver patch for phase running -> failed), then somehow by the time Kubelet syncTerminatedPod is called it sends "Running but with errors" to status manager, and status manager allows that transition (internally) and then sends it to the apiserver.  So the pod goes Running -> Failed -

[2021-09-30 18:21] spiffxp commented on #105381
I'm still seeing errors of an invalid pubkey format and I'm having a tough time figuring out why exactly

I'm prepared to generate a new key and update all of our e2e projects if I can't figure this out before too long.

[2021-09-30 18:39] spiffxp commented on #105381
I'm adding a new pubkey to all of our e2e projects and will continue to troubleshoot why the old private key isn't being accepted.  Once the new pubkey has rolled out, if I've made no progress, I will put the corresponding new private key into the ssh key secret

[2021-09-30 19:13] spiffxp commented on #105381
Nothing merged ~12h ago in kubernetes/k8s.io that would have caused a deploy to k8s-infra-prow-build or any of the e2e projects: https://github.com/kubernetes/k8s.io/pulls?q=is%3Apr+is%3Amerged+sort%3Aupdated-desc+updated%3A%3E%3D2021-09-29+

Ditto kubernetes/test-infra: https://github.com/kubernetes/test-infra/pulls?q=is%3Apr+is%3Amerged+sort%3Aupdated-desc+updated%3A%3E%3D2021-09-29+

[2021-09-30 19:59] spiffxp commented on #105381
I don't understand the node e2e tests well enough to grok what else could have changed roughly 13h ago that would have caused them to stop recognizing a valid SSH key.

Around 12:45pm PDT I swapped in the ssh key used in the "default" build cluster, the main difference being that its private key has the preamble `PRIVATE RSA KEY` instead of `PRIVATE OPENSSH KEY`

All e2e projects are configured to

[2021-09-30 20:00] dcbw commented on #105320
IMO the cloud provider really needs to figure out the IPs before kubelet starts. *OR* the node startup needs to block until both IP addresses are available so that the cloud provider and/or kubelet can read them.

[2021-09-30 20:01] spiffxp commented on #105381
/assign @SergeyKanzhelev @ehashman
I need to hand this over to y'all (please triage to whomever as appropriate), I'm happy to help troubleshoot but I think it's in your interest to understand why your PR and CI jobs are behaving differently.

[2021-09-30 20:03] dcbw commented on #105262
Seems reasonable, just needs somebody to do the cherry-pick
/triage accepted
/assign khenidak

[2021-09-30 20:07] dcbw commented on #105248
Do you also need a rule in the FORWARD table, not just INPUT? Since we're talking about cross-interface here.

[2021-09-30 20:07] jpbetz commented on #105370
/cc @caesarxuchao
/triage accepted

[2021-09-30 20:09] jpbetz commented on #105357
@mattmoor are you willing to open a PR to fix?
/cc @caesarxuchao
/triage accepted

[2021-09-30 20:10] jpbetz commented on #105353
/triage accepted

[2021-09-30 20:10] jpbetz commented on #105346
/sig instrumentation

[2021-09-30 20:11] jpbetz commented on #105338
/triage accepted

[2021-09-30 20:11] dcbw commented on #105203
What's the problem with having all the IPs in a single environment variable and extracting them into individual values as needed in the container's startup script?

[2021-09-30 20:17] mattmoor commented on #105357
I'll see if I can find cycles for it, but if someone else wants to please feel free.

Part of my hesitation is uncertainty about expanding the `ObjectTracker` interface to include `DeleteCollection`, which might be a breaking change (if other folks are implementing this out of tree), but if that's cool (and I find some time), then I will try to take a stab at it.

[2021-09-30 20:21] jsturtevant commented on #98574
We've identified two different issues that presents this error message.
- file locking issue with azure cni
- possible issue in HNS, but still being investigated

Settings system/kubelet reserves and applying resource limits/requests seem to help both happen less often.

Both are still being worked on.

[2021-09-30 20:32] ehashman commented on #105358
Staring at logs, I've figured out where the illegal phase transition is happening:

https://github.com/kubernetes/kubernetes/blob/38746752af6d0ec955f4511a727da37347da3b92/pkg/kubelet/kubelet.go#L1831-L1838

If the container failed to properly terminate and generate a status saying as much, generateAPIPodStatus won't have any hints available to it that the pod died because it was killed. (This is h

[2021-09-30 20:33] dcbw commented on #105240
@thockin is it the case that if the cloud allocator is used, the kube-controller one is disabled? or does that have to happen manually?

[2021-09-30 20:37] dcbw commented on #104766
@rjk2147 this means that flannel has not been able to start up enough to write the subnet file to disk. What do the flannel logs look like for that node?

[2021-09-30 20:37] thockin commented on #105320
Should we accept this as a bug?  Do we think we need to force some taint on new nodes that cloud-providers need to clear (obviously not compatible, but you get the idea)?

[2021-09-30 20:38] llhuii commented on #103888
@dbourget do you mind checking that you indeed enable the `TopologyAwareHints` feature for `kube-apiserver` with below commands?
[code]

[2021-09-30 20:39] dcbw commented on #105028
@thockin since those PRs for 1.21 and 1.22 are merged, should we close this as fixed?

[2021-09-30 20:42] thockin commented on #105224
This doesn't seem like a k8s issue but a setup issue.

[2021-09-30 20:43] thockin commented on #105165
Sounds reasonable.

/triage accepted

[2021-09-30 20:43] #105028 closed

[2021-09-30 20:44] #104480 closed

[2021-09-30 20:44] thockin commented on #104131
Ping on this - any updates?

[2021-09-30 21:00] shuheiktgw commented on #105025
I'd like to work on this issue if I may!
/assign

[2021-09-30 21:05] khenidak commented on #105320
@thockin -- There is a no-schedule taint already there (if cloud provider is configured on kubelet).

It is a bug (or undocumented behavior). I think we should always update PodIPs in host network mode.

/triage accepted

[2021-09-30 21:17] bobbypage commented on #105381
Looking at the last run on testgrid, is https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-node-e2e-containerd/1443678581690470400

Looking at the [build-log](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/105379/pull-kubernetes-node-e2e-containerd/1443678581690470400/build-log.txt), I don't see the `load pubkey "/workspace/.ssh/google_compute_engine":

[2021-09-30 21:19] khenidak commented on #105320
xref https://github.com/kubernetes/kubernetes/pull/93898

[2021-09-30 21:19] bobbypage commented on #105381
Another interesting data point, looking at

as per https://github.com/kubernetes/kubernetes/issues/105381#issuecomment-931585499,

I notice the the ubuntu image has changed. From last known good:

[code]

and first known bad:

[code]

So I wonder if this is somehow related to the errors we are seeing...

[2021-09-30 21:21] spiffxp commented on #105381
Images are specified via image family instead of a specific image, so I suspect that's what changed.  Should we pin back to a specific image to workaround?

[2021-09-30 21:23] spiffxp commented on #105381
This looks like https://github.com/kubernetes/kubernetes/issues/105381#issuecomment-931621796 worked to remove that as a red herring, but we're still getting the line afterward:

[code]

[2021-09-30 21:25] bobbypage commented on #105381
I think it's intentional we don't pin images since we do want to test against the latest images for both cos and ubuntu in the image family.

In this case though, since it appears that the COS node test is working fine and the error is only on ubuntu and plus it looks like the image changed, it might be worth to try to pin to the older image to rule that out as factor.

[2021-09-30 21:35] bobbypage commented on #105381
Sent https://github.com/kubernetes/test-infra/pull/23856 to pin the image config back to the last known successful ubuntu image `ubuntu-os-gke-cloud/ubuntu-gke-2004-1-20-v20210928`

[2021-09-30 21:48] bobbypage commented on #105381
hmm, I just tried to create a regular GCE instance with both new and old image:

[code]

[code]

and I can't seem to SSH into the new image with the same `Permission denied (publickey).` error as we are seeing in the test. So I'm feeling more confident this is image related...

[2021-09-30 22:08] ahmad-diaa commented on #105220
@damemi Would it be ok if I picked this up?

[2021-09-30 22:33] bobbypage commented on #105381
Last few runs on [testgrid](https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e-containerd) are green so I think image revert has fixed the issue.

![image](https://user-images.githubusercontent.com/486583/135538752-503dac25-eae3-4361-88de-55c54f036280.png)

[2021-09-30 22:57] ehashman commented on #105358
From what I can tell, the issue is that `syncTerminatedPod` is being passed a pod that still has running containers. From kubelet logs:

[code]

[`case status.IsTerminated()`](https://github.com/kubernetes/kubernetes/blob/38746752af6d0ec955f4511a727da37347da3b92/pkg/kubelet/pod_workers.go#L595-L604) checks [isTerminatedAt](https://github.com/kubernetes/kubernetes/blob/eebeff9f7e0fccf1d220ce809eaea

[2021-09-30 23:24] Jan-EC commented on #105332
That should have been 1.20.5 - but I cant tell for 100% sure.

[2021-10-01 01:01] rjk2147 commented on #104766
This error persists across network plugins:

**Flannel Worker Logs:**
`I1001 00:42:07.153540       1 main.go:520] Determining IP address of default interface
I1001 00:42:07.154428       1 main.go:533] Using interface with name enp2s0 and address 128.59.145.148
I1001 00:42:07.154464       1 main.go:550] Defaulting external address to interface address (128.59.145.148)
W1001 00:42:07.154496       1

[2021-10-01 01:03] rjk2147 commented on #104766
It seems that the issue is caused by Kubernetes still trying to use the local IP even when --control-plane-endpoint is set to the global IP.

When I start a cluster on a machine whose global IP is the same as its local IP the problems all disappear

[2021-10-01 01:11] PaulFurtado opened #105390 "Volume reconciler fails to cleanup flexvolume of deleted pod because "no volume plugin matched""
#### What happened:
We have had this come up several times recently and it didn't happen in the past, likely due to cluster upgrades. It seems like there is a rare bug in the volume reconciler that causes it to fail to find the right flexvolume plugin to call to cleanup a volume when some condition is met.

We see errors like:
[code]
and in this state, the pods fail to terminate successfully forev

[2021-10-01 01:11] PaulFurtado commented on #105390
/sig storage

[2021-10-01 01:33] #104771 closed

[2021-10-01 01:57] daniel-hutao opened #105391 "There are two very confusing package of code client-go's tools/events and tools/record"
#### What happened:

There are two very confusing package of code client-go's tools/events and tools/record.

"Package record has all client logic for recording and reporting" // record package's doc.go
"Package events has all client logic for recording and reporting" // events package's doc.go

All of them have `EventBroadcaster`/`EventSink`/`EventRecorder` …… implement, I analyzed the code logic

[2021-10-01 01:58] daniel-hutao commented on #105391
/sig cli

[2021-10-01 04:19] Huang-Wei commented on #98898
/remove-lifecycle rotten

[2021-10-01 05:29] B-AYUSHMAN-PRUSTY commented on #104432
Hey I don't know anything about how to code but i am interested to contribute on kubernetes
So help me to contribute

[2021-10-01 06:10] pohly opened #105392 "automated testing of command line interfaces"
#### What would you like to be added:

We should have pre-merge tests that verify that code changes do not affect the command line interface of the Kubernetes tools. This could cover:
- which flags are supported (removing flags is a breaking change)
- formatting of help texts (hyphen versus underscore for legacy flags)
- error handling when the command line is invalid (ideally the usage text shoul

[2021-10-01 06:11] pohly commented on #105392
/sig cli

[2021-10-01 06:19] MikeSpreitzer opened #105393 "Comment on ResourcePolicyRule does not explain the ClusterScope field"
#### What happened:
I looked at the comment on ResourcePolicyRule to understand exactly what its ClusterScope field means, and was dismayed to find an outdated precise description that does not mention that field.

#### What you expected to happen:
I expected that comment to be up to date.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

##

[2021-10-01 06:20] MikeSpreitzer commented on #105393
@kubernetes/sig-api-machinery-bugs

[2021-10-01 06:20] MikeSpreitzer commented on #105393
/cc @lavalamp
/cc @deads2k
/cc @tkashem
/cc @wojtek-t
@yue9944882

[2021-10-01 06:31] MikeSpreitzer commented on #105370
Could you run the apiserver with `-v=7` while reproducing this?  It would be helpful to see the output from the following line in `apf_filter.go`.

[code]

[2021-10-01 07:44] mseiwald opened #105394 "Recreating CRD with changed scope leads to error "could not find the requested resource""
#### What happened:

Changing the scope field of a CRD ist not possible since it's immutable. But even after deleting and re-creating the CRD with changed scope it doesn't let me create resources of the CRD's kind.

#### What you expected to happen:

Re-creating CRD with changed scope should just work.

#### How to reproduce it (as minimally and precisely as possible):

Here is a full example that

[2021-10-01 08:36] serathius commented on #104872
Looks like we are almost done here, before closing issue please remember to send PR marking directories as migrated in  https://github.com/kubernetes/kubernetes/blob/master/hack/.structured_logging. This should prevent anyone from reverting the change and officially mark them as done.

[2021-10-01 08:51] CIPHERTron commented on #104872
@serathius I can do that 🚀

[2021-10-01 08:54] shivanshu1333 commented on #104872
Waiting for other PRs to get approvals, once they're merged, we can proceed with the PR.

[2021-10-01 08:55] #105184 closed

[2021-10-01 09:17] olivierboudet commented on #93476
I also encounters this kind of issue but without the use of HPA.
I have some pods with replicaCount=1 because I am OK to have a downtime in case of **temporary and unplanned failures** but I want to avoid downtime during a planned node pool upgrade.
If I do a node upgrade, I expect k8s starts a new pod to be able to drain the old node and satisfying the PDB.

Basically, I have to manually do a 'ku

[2021-10-01 10:24] prasus opened #105395 "Old version pods are created when deploying a new version with more replicas"
#### What happened:

We recently noticed a weird behavior as explained below in our Kubernetes cluster.

`#1`. The initial version of the deployment is running with **2 replicas** as seen below.

[code]
`#2`. Then we deploy an updated version with **3 replicas**, during the deployment process it does something surprising, Instead of only spinning up pods of the new version with the desired number

[2021-10-01 11:55] prasus commented on #105395
/sig Apps

[2021-10-01 13:25] mopsfelder opened #105398 "Fast build fails on a ppc64le host"
On a ppc64le host, fast build was failing:

    # make KUBE_FASTBUILD=true quick-release
    +++ [0908 15:56:36] Verifying Prerequisites....
    +++ [0908 15:56:36] Building Docker image kube-build:build-fd009aaa81-5-v1.23.0-go1.17-buster.0
    +++ [0908 15:56:44] Syncing sources to container
    +++ [0908 15:56:48] Running build command...
    +++ [0908 15:56:56] Building go targets for linux/ppc

[2021-10-01 13:49] marseel commented on #105370
Sure.

kube-proxy:
[code]
node-problem-detector:
[code]
konnectivity-server:
[code]
glbc:
[code]

I believe this is relevant in this case: https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L733

[2021-10-01 14:06] neolit123 commented on #105398
/sig release

[2021-10-01 14:09] neolit123 commented on #105398
looks like this is a missing feature and not a bug.
/kind feature

[2021-10-01 14:10] neolit123 commented on #105394
/sig api-machinery

[2021-10-01 14:15] yukirii commented on #102849
I am facing the issue with similar error messages. I have an AKS cluster which has Windows node pool. The initial K8s version is 1.20.7. I deployed the sample application and Pod was started successfully. Then I upgraded the cluster K8s version to 1.21.1.
`az aks upgrade --resource-group wincluster_group --name wincluster --kubernetes-version 1.21.1`

[code]

After upgraded K8s version, the Pod is

[2021-10-01 14:31] #105241 closed

[2021-10-01 14:34] dims commented on #104459
@bwplotka @beorn7 thanks for jumping on this!

[2021-10-01 14:48] tkashem commented on #101667
Ben Luddy will take care of this issue.

/assign @benluddy

[2021-10-01 14:48] benluddy commented on #101667
Looking into it.

[2021-10-01 14:48] tkashem commented on #101667
/assign @benluddy

[2021-10-01 16:28] smarterclayton commented on #105358
The containers ARE terminated, we just haven't retrieved their status.  This is because of a decision to not refresh the container status cache in syncTerminatingPods.  So syncTerminatingPod is not a bug.

[2021-10-01 16:34] ehashman commented on #105358
So then perhaps the right thing to do here would be to refresh the container status cache before syncing another status to the API server in `syncTerminatedPod`? Then we can avoid syncing the outdated cached status https://github.com/kubernetes/kubernetes/blob/38746752af6d0ec955f4511a727da37347da3b92/pkg/kubelet/kubelet.go#L1835-L1838

[2021-10-01 16:34] #104394 closed

[2021-10-01 16:34] smarterclayton commented on #105358
Updating from an internal discussion last night - bug 2 isn't actually a bug.  Lantau convinced me we wouldn't refresh the status cache, so what happens is we call generatedAPIStatus with:

1. older API status (mostly irrelevant)
2. freshest status manager status
3. up to date container cache (but 2s) after

The key thing is that phase from runtime status is irrelevant when 1 or 2 are terminal - b

[2021-10-01 16:57] spiffxp commented on #105381
@bobbypage Thanks for catching this!

Two things for followup:
- Based on what was/wasn't breaking yesterday, it seems like we're doing this for the merge-blocking job (https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e-containerd) but not for the release-blocking job (https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master).  This seems wrong.  General

[2021-10-01 17:12] SergeyKanzhelev commented on #105381
We discussed how to pick images here: https://github.com/kubernetes/kubernetes/tree/master/cluster/gce/gci#how-to-choose-an-image-in-configuration-file But when things came to implementation we ended up with image_family for presubmits to minimize the toil. I'll add this to SIG Node CI meeting agenda for next week. This is clearly a tradeoff.

Keeping issue open is fine. Once we hear back from Can

[2021-10-01 17:14] jsturtevant commented on #98574
azure locking issue being addressed in https://github.com/Azure/azure-container-networking/pull/1041

[2021-10-01 17:36] aravindhp commented on #102849
@yukirii it is very interesting that you ran into this issue even without `RunAsUserName` set in the Pod's `SecurityContext`. So I suspect another code path can also cause this issue to happen.

[2021-10-01 17:42] MikeSpreitzer commented on #105370
So for all four of those cases, the on user group from authentication was `system:authenticated`.  The username appears as the flow distinguisher.

[2021-10-01 17:48] khenidak commented on #105320
@thockin @aojea so i looked at this again. I believe https://github.com/kubernetes/kubernetes/pull/93898/ should fix this issue as well. i don't think we should place this behind a feature gate. We already update `.Status.HostIP` when the host IP changes. We just need to edit the release note of #93898 to describe the behavior and caveats.

Thoughts?

[2021-10-01 17:51] uhari03 commented on #105353
Would love to work on this
/assign

[2021-10-01 17:52] xmudrii commented on #97294
I observed this happening on existing clusters as well, not only on new ones.

As far as I know, this issue is also present in 1.21 and 1.22.

[2021-10-01 17:57] khenidak commented on #105320
Please ignore that comment. The PR does not solve for `adding secondary IP`

[2021-10-01 18:02] jpbetz commented on #104131
Sorry I was suppose to triage this from the cloud provider SIG bug triage and lost track of it :

@bowei, yes do you who should have a look?

[2021-10-01 18:45] ehashman commented on #105358
Okay, so there is definitely a bug in what's being synced to the API server for evicted pod statuses right now, possibly for other terminated pods.

In 1.21 and earlier, when a pod is evicted, it looks like this:

<details>

[code]
</details>

Note that the status field is very minimal, and there are no container statuses.

In 1.22+, we attempt to sync container statuses on termination, _and_ some

[2021-10-01 18:52] benluddy opened #105409 "apf: watches served by aggregated apiservers occupy seat for entire duration of request"
#### What happened:

On a cluster with many APIs provided by aggregated apiservers, with controllers managing those APIs, the number of occupied seats effectively has a floor of 1 per watch. If the combined max-inflight limit is reduced low enough, priority levels tend to become saturated by these long-running watch requests and other requests are starved.

#### What you expected to happen:

Watch

[2021-10-01 19:07] ehashman commented on #105358
This appears to be broken even for runOnce pods, tested against latest HEAD (e414cf764196a3753d7f8063827131fc4c8d771b).

With spec:

[code]

After scheduling the pod...

[code]

And the final pod status:

<details>

[code]
</details>

[2021-10-01 19:28] tkashem commented on #105409
cc @MikeSpreitzer @wojtek-t

[2021-10-01 19:40] seeker25 commented on #79606
Are there any other work arounds for this?

[2021-10-01 20:05] Git-Jiro commented on #101564
Hi!
I would like to work on this issue, but I have not yet found the correct documentation how to deprecate an API by myself.
Can you point me to the correct docs or an example PR where another API got deprecated?

[2021-10-01 20:12] smarterclayton commented on #105358
Elana identified the issue on status here - previously we NEVER reported container status after an eviction, so the refactor (which correctly ensured container exit codes showed up) was returning containers with state=waiting,lastState=terminated, which is incorrect.

generateAPIStatus needs to know the difference between "current container status, waiting for more to show up" and "any status we h

[2021-10-01 20:13] Git-Jiro commented on #101564
I found this document: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md
But it only seems to describe how to upgrade an API and does not mention deprecation.

[2021-10-01 20:53] MikeSpreitzer commented on #105409
D'oh!

I can see two obvious possible ways to cope:
1. make one apiserver not manage watch requests the are delegated to another apiserver; or
2. add a marker into the notification stream so that the non-origin apiservers can detect when initialization is done.

[2021-10-01 21:01] jsturtevant commented on #98102
I ran into this issue while testing upstream tests on https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1672.  CPU spikes and then I end up with same results as https://github.com/kubernetes/kubernetes/issues/98102#issuecomment-795714804

I am able to consistently reproduce. Looking into it more now

cc: @nick5616

[2021-10-01 21:01] jsturtevant commented on #98102
/remove-lifecycle rotten

[2021-10-01 21:01] stevemcquaid commented on #93188
@Shanduur thoughts?

[2021-10-01 21:03] #101362 closed

[2021-10-01 21:04] Huang-Wei commented on #73698
I observed some weird symptoms of quota management.

**Symptom 1: quota admission logic relies on initialization of a quota's `.status.hard`**

If the controller-manager is down at the moment of a resource quota's creation, the quota will be created successfully, but with a nil `.status`. The would cause the quota admission logic to admit unlimited pods to be created. I think it's b/c of the logic

[2021-10-01 21:04] Huang-Wei commented on #73698
/cc @deads2k @liggitt for awareness.

[2021-10-01 21:17] liggitt commented on #73698
that is correct, admission only increments, and the controller is responsible for recovering unused quota asynchronously

[2021-10-01 21:30] #105244 closed

[2021-10-01 22:02] #90136 closed

[2021-10-01 22:02] #94836 closed

[2021-10-01 22:02] #96893 closed

[2021-10-01 22:02] #99304 closed

[2021-10-01 22:03] Huang-Wei commented on #73698
Thanks for confirming @liggitt . What's your take on the first symptom?

[2021-10-01 22:26] alex-kovshovik commented on #89898
@novahe I didn't try to change the standard resource reservations and limits for kubelet services.

Another K8s upgrade is available - 1.21, but this time instead of just upgrading our production, I'm going to set up another new cluster and gradually move workloads to it. Just to avoid this type of issues.

[2021-10-01 22:28] jsturtevant commented on #102849
@yukirii I was **not** able to reproduce this on a 1.21.1 cluster:

[code]

is it possible you have a mutating webhook running and adding info to the pod spec?  Could you do a `kubectl get pod <pod affected> -o json` to get some more details on that pod?

[2021-10-01 22:28] hrittikhere commented on #73570
I am not sure why but this is something I am facing with k3s running on openSUSE Leap 15.2. Reinstalling didn't work till now

[2021-10-01 23:01] jsturtevant commented on #98102
I the case on CAPZ, Windows defender was consuming high cpu (90% plus) adding exclusion to offending process fixed the issue.  Now that I have a better understanding of the failure and confirmation that high cpu does indeed cause this issue I will see if I can track down the bug which I believe is related to handing containers on contianerd side/HCS side.

It seems that if a container starts the r

[2021-10-01 23:03] #97129 closed

[2021-10-01 23:03] #97795 closed

[2021-10-02 05:07] #97859 closed

[2021-10-02 07:40] kevinadhiguna commented on #50295
Sadly I did not get it worked...
The second command gave me output :
`cp: cannot stat '/etc/kubernetes/admin.conf': No such file or directory`

Any help is appreciated

[2021-10-02 07:48] Stono commented on #72519
Also bitten by this.  In helm we use just “serviceAccountName” in our spec.   We don’t set “serviceAccount”

therefore when we remove serviceAccountName we would be expecting it to be removed, not left around.

reading this, we could work around it by setting serviceAccount as well, but it feels counter intuitive to need to set the value of a field that is otherwise auto generated for us.

[2021-10-02 08:27] SahilPatidar commented on #94404
hey! I am beginner and I interested in scheduling and I know basics of scheduling , so how can I start to contribute on this issue.

[2021-10-02 08:55] dilyanpalauzov opened #105420 "Expand QPS abbreviation in kubelet CLI options help"
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ says:

Please explain what the abbreviation QPS stands for.

[2021-10-02 09:51] vielmetti commented on #101328
Upstream for this has this issue; https://github.com/kubernetes/dns/issues/314 "amd64 binaries in arm64 images" which was said to have been fixed in 1.15.5. The reported error is with 1.17.0 which smells like a regression.

/remove-lifecycle rotten

[2021-10-02 09:58] vielmetti commented on #101328
@daenney As far as I can tell from a quick test, the latest releases of kubernetes/dns have this fixed. e.g.

[code]

Are you able to help pinpoint where this problem shows up, perhaps in the example YAML files?

[2021-10-02 10:21] sanposhiho commented on #94404
@SahilPatidar Sorry, PR for this issue has already created. https://github.com/kubernetes/kubernetes/pull/104716

[2021-10-02 10:47] gangadharsingh056 opened #105418 "Getting node status as "Attempting to reclaim ephemeral-storage"."
![awadh_error2_diskpressure](https://user-images.githubusercontent.com/43050545/135712906-9e44f797-c937-4c88-8b94-e45ba9f27e9f.PNG)
![awadh_error](https://user-images.githubusercontent.com/43050545/135712907-52dd1918-2411-47f6-8f3f-852c32bc3508.PNG)

In some site, it's suggested to prune using this "docker system prune -a --volumes". But currently user data is stored on the server and docker image

[2021-10-02 10:53] JaneLiuL commented on #105395
I just check the code like below flow(please correct me if I am wrong):
1. Check is it need to scale, since it is, so scale to 3
2. Update the replicaset and the pods
[code]

[2021-10-02 11:11] JaneLiuL commented on #105395
/interest

[2021-10-02 11:56] jasonliu747 commented on #83834
@yqwang-ms Is there any progress fixing this issue using Scheduling Framework?

[2021-10-02 12:05] sanposhiho opened #105419 "scheduler(framework): make parallelize.Parallelizer accessible in framework.Handle for custom plugins"
#### What happened:

framework.Handle requires `Parallelizer() parallelize.Parallelizer` method.
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/interface.go#L566

Of course, custom plugins also can use framework.Handle to call framework functions.

But, in custom plugins, we cannot import `parallelize.Parallelizer`, because it is placed under `*/internal` dir.

https:

[2021-10-02 12:05] sanposhiho commented on #105419
/assign

[2021-10-02 13:18] yukirii commented on #102849
I didn't install a mutating webhook. The cluster has sample Windows Pods and kube-system's Pods (default Pods of AKS).

I tried to apply same Deployment with different name (sample02). The newly created Pod is Running at the same node.

[code]

Here are the JSON of Pods. The affected Pod has `runAsUser` and `runAsGroup` in `securityContext`. The new Pod doesn't have these fields.

`kubectl get pod

[2021-10-02 15:48] OJFord commented on #75378
/remove-lifecycle rotten

[2021-10-02 16:51] sftim commented on #105420
/sig node

[2021-10-02 16:52] sftim commented on #105420
/kind documentation

[2021-10-02 16:53] sftim commented on #105420
/retitle Expand QPS abbreviation in kubelet CLI options help

[2021-10-02 16:54] sftim commented on #105420
/sig docs

[2021-10-02 18:40] Git-Jiro commented on #105351
Hi!
I would like to work on this issue

[2021-10-02 18:56] dilyanpalauzov opened #105434 "kubelet-config.v1beta1: makeIPTablesUtilChains “causes the Kubelet ensures a set of iptables rules ”"
https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/ says:

This does not sound very English

[2021-10-02 19:00] brianpursley commented on #105146
/assign

[2021-10-02 21:41] brianpursley commented on #105204
@zetaab Your manifest works fine for me on my 1.23.0-alpha cluster, even with a - in the namespace name, like you have.

What version was your cluster previously?

I think this could somehow be related to the ServiceAccount admission controller and the [Bound Service Account Token Volume](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#bound-service-account-token-vo

[2021-10-02 22:21] brianpursley commented on #105061
@lauchokyip I think you might be on to something.

I'm not able to reproduce the problem on a 1.23 cluster that is using containerd.

I wonder if being able to reproduce this has to do with which container runtime your cluster uses.

[2021-10-03 00:16] JaneLiuL commented on #105329
/cc

[2021-10-03 00:49] guodongli-google opened #105423 "A bug that mutates a not-used copy of a struct"
#### What happened:

A static analyzer DeepGo reports a finding that reveals a coding issue.

#### What you expected to happen:

At https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/emicklei/go-restful/route.go#L168-L169

Here [`Route`](https://github.com/kubernetes/kubernetes/blob/0ac956ff2bef9c84b17d4b9cae2cffe71d5c6386/vendor/github.com/emicklei/go-restful/route.go#L21) is

[2021-10-03 00:54] guodongli-google commented on #105155
This one seems fine since `s.Schema` is of an interface type (similar to pointer type) so `s.Schema` will be reused/shared by the caller and the side effect takes place.
[code]

[2021-10-03 00:56] guodongli-google commented on #105155
Just filed a similar one: https://github.com/kubernetes/kubernetes/issues/105423
which contains a mini bug reproducer: https://play.golang.org/p/cibNCyIarZS

[2021-10-03 02:37] lauchokyip commented on #105061
@brianpursley I am using containerd but k3s server version 1.21.4

[2021-10-03 02:51] guodongli-google opened #105425 "Report a coding issue that uses reference to loop iterator variable."
#### What happened:

At https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling/cluster_size_autoscaling.go#L1251-L1253,
within the loop `for _, node := range nodeList.Items`, variable `node` is shared by all the loop iterations, as described in the Go specification (https://golang.org/ref/spec).
All instances of &node within the loop may refer to the last node item updated by th

[2021-10-03 04:18] #100555 closed

[2021-10-03 04:37] guodongli-google opened #105426 "Report a coding issue that uses reference to loop iterator variable"
#### What happened:

At https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/volume_provisioning.go#L969-L971,
within the loop `for _, pv := range allPVs.Items`, variable `pv` is shared by all the loop iterations, as described in the Go specification (https://golang.org/ref/spec).
All instances of &pv within the loop may refer to the last tem updated by the loop. As a consequence,

[2021-10-03 04:51] guodongli-google opened #105427 "Report a coding issue that uses reference to loop iterator variable"
#### What happened:

At https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/deployment/fixtures.go#L102-L107
https://github.com/kubernetes/kubernetes/blob/0ac956ff2bef9c84b17d4b9cae2cffe71d5c6386/test/e2e/framework/deployment/fixtures.go#L102-L107

Within the loop for ``for _, rs := range allReplicaSets.Items {``, variable `rs` is shared by all the loop iterations, as described

[2021-10-03 06:16] orboan commented on #87491
Same issue here with NFS mount, on-premise, with version:

[code]

[2021-10-03 06:42] chandra279mohan opened #105429 "MountVolume.SetUp failed for volume: is not a file"
when i do deployment of redis, pod is not in ready state getting below error:

`Name:           redis-78688f7dd8-2j8kz
Namespace:      crm-stg
Priority:       0
Node:           ip-172-31-19-192.us-west-2.compute.internal/172.31.19.192
Start Time:     Sun, 03 Oct 2021 05:33:33 +0000
Labels:         pod-template-hash=78688f7dd8
                service=redis
Annotations:    <none>
Status:         Pen

[2021-10-03 07:40] NikhilSharmaWe commented on #105165
I have added the Logs type for kubeadm/kind to specify logging-format for kube-proxy and saw #100748 issue and how they added JSON formatting for other k8s components, but getting difficulty to underestand how to proceed for adding this feature. Guidance needed.

[2021-10-03 08:30] Git-Jiro commented on #93100
Hi!
If i see this correctly then only expose.go needs some attention?

I can take a look at that one.

[2021-10-03 10:41] pinetopia opened #105431 "k8s NFS PersistentVolume condition- Failed to create subPath directory for volumeMount {volume} of container {container}"

[2021-10-03 12:32] hiddeco commented on #70147
/remove-lifecycle stale

[2021-10-03 12:58] shivanshu1333 commented on #105427
/triage accepted
/sig sig-testing-approvers
/area e2e-test-framework

[2021-10-03 12:58] shivanshu1333 commented on #105427
/assign

[2021-10-03 13:09] shivanshu1333 commented on #105426
/triage accepted
/area e2e-test-framework

[2021-10-03 13:10] shivanshu1333 commented on #105426
Thanks for pointing out, makes complete sense.
I'm happy to fix it.
/assign

[2021-10-03 13:11] shivanshu1333 commented on #105427
/sig testing

[2021-10-03 13:12] shivanshu1333 commented on #105426
/sig testing

[2021-10-03 13:14] shivanshu1333 commented on #105425
/triage accepted
/area e2e-test-framework
/sig testing

[2021-10-03 13:14] shivanshu1333 commented on #105425
Thanks for pointing out, makes complete sense.
I'm happy to fix it.
/assign

[2021-10-03 14:00] shivanshu1333 commented on #105423
/triage accepted
/area e2e-test-framework
/sig testing

[2021-10-03 14:02] shivanshu1333 commented on #105423
/remove-sig testing

[2021-10-03 14:04] shivanshu1333 commented on #105423
/assign

[2021-10-03 14:27] lauchokyip commented on #93100
Hi @Git-Jiro , yea @almas33  `expose.go` here (https://github.com/kubernetes/kubernetes/pull/99891) and he needs some. It would be great if you can help reviewing the PR and provide him some guidance

[2021-10-03 15:41] warent commented on #83471
![Screen Shot 2021-10-03 at 8 39 43 AM](https://user-images.githubusercontent.com/13342266/135761265-ab3187d0-82d5-4bd9-a1c4-6c79782f0790.png)

This is still happening for me. Is it normal for pulling image to have multiple events like this? Why has performance degraded so badly? This is happening on a node with medium size machines and no pods, and I'm spinning up 1 pod with 1 replica.

[2021-10-03 15:47] warent commented on #83471
The pod just switched to "terminating" on its own, and there's no event indicating why. No idea how to troubleshoot this
![Screen Shot 2021-10-03 at 8 47 19 AM](https://user-images.githubusercontent.com/13342266/135761541-5639ccbb-db7a-4ad0-bb60-0fb2ddec620a.png)

[2021-10-03 16:34] sftim commented on #105434
/sig node
/kind documentation

[2021-10-03 16:37] sftim commented on #105420
/kind documentation

[2021-10-03 16:37] sftim commented on #105434
/sig docs

[2021-10-03 16:41] sanposhiho commented on #102231
@kerthcet

By #105076, we don't have to create another func for entry points.
So, we only have to delete os.Exit on cobra commands for this issue :)

[2021-10-03 18:07] abckey opened #105435 "fsGroupChangePolicy: "OnRootMismatch" does not skip permission changes for ceph-csi rbd volume because of missing setgid bit on root directory"
#### What happened:
In my POD, I have following settings:

[code]
The POD has a PVC from a ceph-csi rbd PV attached, which has several millons of files and directories, that slows down the POD startup because of recursive permission changes for the volume. I expect `OnRootMismatch` could skip the recursive permission change since root directory of the volume already has right group owner and permi

[2021-10-03 18:46] ialidzhikov opened #105436 "[release-1.22] pull-kubernetes-integration is failing"
#### Which jobs are failing:

pull-kubernetes-integration

See the runs related to https://github.com/kubernetes/kubernetes/pull/105139 - https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=105139

#### Which test(s) are failing:

Not clear. Even for some of the runs I don't see a particular test failure.

#### Since when has it been failing:

Not clear.

#### Testgrid link:

See the

[2021-10-03 19:37] jsturtevant commented on #96996
/reopen

[2021-10-03 20:10] alitoufighi commented on #78227
It seems that the API verb to access for `wait`ing for a resource is not documented and not mentioned anywhere.

[2021-10-03 23:46] nikskiz commented on #65502
@CSimpiFoN Depending on the reason why you need a sidecar, there could be an alternative to your use case. You can use mutating webhooks that will inject secrets into your pod before your main application starts up.

https://banzaicloud.com/docs/bank-vaults/mutating-webhook/

[2021-10-04 00:07] #105431 closed

[2021-10-04 02:27] #95407 closed

[2021-10-04 04:04] Isan-Rivkin commented on #87844
/reopen

[2021-10-04 04:05] Isan-Rivkin commented on #87844
/remove-lifecycle rotten

[2021-10-04 06:23] abckey commented on #105435
/sig storage

[2021-10-04 06:48] MadhavJivrajani commented on #105429
/sig storage
/kind support

[2021-10-04 06:50] MadhavJivrajani commented on #105418
/sig node
/kind support

[2021-10-04 06:59] dilyanpalauzov opened #105438 "pkg/proxy/ipvs/README.md says `kube init` but means `kubeadm init`"
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/README.md#cluster-created-by-kubeadm says:

It likely means not `kube init`, but `kubeadm init`

[2021-10-04 07:20] dilyanpalauzov opened #105439 "kube-proxy: iptables is the best-available proxy, while ipvs has advantages over iptables."
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/README.md#ipvs-vs-iptables stipulates, that IPVS is better than IPTABLES. This is reiterated at https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies.

There is a contradiction: the best-available proxy currently is iptables, while IPVS has advantages over iptables.

[2021-10-04 07:33] navidshaikh commented on #101528
/remove-lifecycle stale

[2021-10-04 07:37] marseel commented on #103145
/remove-lifecycle stale

[2021-10-04 07:48] hanamantagoudvk commented on #105203
There is no problem. As explained above, i was just trying to set the calico `IP `and `IP6 `env variable with appropriate addresses from status.podIPs array using downward API.

[2021-10-04 08:09] wojtek-t commented on #96752
/remove-lifecycle stale

[2021-10-04 08:11] wojtek-t commented on #95110
/remove-lifecycle stale

[2021-10-04 08:51] akshaysharama opened #105440 "Kubelet service is not coming up because inode consumption is increasing."
#### What happened:
Kubelet services is not able to come up, as could see inode consumption  increased to 100% of total capacity in /var/lib/kubelet.

#### What you expected to happen:
Inode consumtion should not be increased.

#### How to reproduce it (as minimally and precisely as possible):
Deploy k8s with date as (x.x.2021) and change the date to some old (x.x.2016) in order to failed certific

[2021-10-04 08:55] akshaysharama commented on #105440
/sig K8s Infra
/sig Node
/sig Storage

[2021-10-04 09:09] saschagrunert commented on #105284
Yeah, looks like that the env in the build job does not include the `/root/.docker/cli-plugins/docker-buildx` path, which makes it unavailable during the run.

[2021-10-04 09:24] Sher-Chowdhury commented on #53459
+1

[2021-10-04 10:13] amanjn98 opened #105446 "GetPersistentVolumeClaimClass missing in latest release"
https://github.com/kubernetes/kubernetes/blob/faecb196815e248d3ecfb03c680a4507229c2a56/pkg/apis/core/v1/helper/helpers.go#L406

[2021-10-04 10:31] #105446 closed

[2021-10-04 10:32] pipijiev12 opened #105447 "kube-apiserver"
Kube-apiserver source code, which part is to achieve kubelet and Kube-Apiserver network connection? What kind of messages do they send to each other? What exactly is that information?

[2021-10-04 10:43] gageffroy commented on #104335
Thanks, ElasticQuota is what I was looking for.
I see on the [README](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/pkg/capacityscheduling/README.md) that it is still considered in beta. Have you any idea of when it will be considered stable ? And will it then be added to Kubernetes or will it stay as an add-on to be installed separately ?

[2021-10-04 12:36] wojtek-t commented on #105409
I would even say that for regular (non-long-running) requests, it's not obvious that they should be managed by P&F even.
[I agree that for watch initialization it's particularly bad though.]

@deads2k - do we have a simple way to detect if the request will be served from our kube-apiserver or from some other aggregated apiserver?

[2021-10-04 14:04] dashpole commented on #86499
Based on my reading of the [metrics server implementation](https://github.com/kubernetes-sigs/metrics-server/blob/fd87454890b28a8798144afbfcd967836dcba942/pkg/scraper/client/resource/decode.go#L32), I don't think "Node Usage" include only usage from pods.  The `node_memory_working_set_bytes` includes usage by system daemons, so I'm not sure it makes sense to compare to allocatable, which is meant

[2021-10-04 14:05] va3093 commented on #63477
For anyone who do not know exactly what the problem here is. When you mount a config map it creates a read only directory for the files in your config map. When you set the mount point to be `etc` it will not work because it looks like k8s tries and save other files to that dir like `resolv.conf`

To fix this, change your mountPath from a shared directory like `/etc` to one specific to your app. L

[2021-10-04 14:08] endocrimes commented on #104175
Since #104606 merged this test has been relatively stable. Going to close this issue now (kept it around while I was on PTO to take a look when I got back). Seems like there are some infrequent flakes that we should follow up on after we remove DKK.

/close

[2021-10-04 14:13] vvdvortsova opened #105453 "The folder _output is created recursively"
#### What happened:
Is it a bug?
After **make** the folder _output is created recursively. I mean:
~/go/src/k8s.io/kubernetes/**_output**/local/go/src/k8s.io/kubernetes/**_output**/local/go/src/k8s.io/kubernetes/**_output**/local/go/src/k8s.io/kubernetes/**_output**/local/go/src/k8s.io/kubernetes/**_output** ... and so on

#### What you expected to happen:

#### How to reproduce it (as minimally a

[2021-10-04 14:31] dashpole commented on #103186
/remove-lifecycle stale

[2021-10-04 14:36] alculquicondor commented on #105220
/assign @ahmad-diaa
/triage accepted

[2021-10-04 14:45] liggitt commented on #73698
given that quota requires both admission and the controller to be active to work properly, and the docs are as follows:
* `spec.hard`: `hard is the set of desired hard limits for each named resource.`
* `status.hard`: `hard is the set of enforced hard limits for each named resource.`

it seems coherent for enforcement to wait until `status.hard` has been updated by the controller

[2021-10-04 15:02] serathius commented on #86499
Hmm, I was not aware of that. This is a good point, as utilization was implemented in kubectl by different SIG (CLI), it's possible that it was not properly reviewed by other stakeholders (SIG Instrumentation/SIG Node). I would make sense to revisit what should be displayed as node utilization.

[2021-10-04 15:36] MadhavJivrajani commented on #105447
@pipijiev12 you'll most likely get a response if you ask this in our slack (https://slack.k8s.io)
The channels that you could ask in are `sig-node`, `sig-api-machinery`, `kubernetes-novice`.
Closing
/close

[2021-10-04 15:36] #105447 closed

[2021-10-04 15:36] MadhavJivrajani commented on #105439
/sig network

[2021-10-04 15:39] MadhavJivrajani commented on #105438
/sig network
/good-first-issue
Thanks!

[2021-10-04 15:42] shivanshu1333 commented on #105438
/assign

[2021-10-04 15:44] PurneswarPrasad commented on #105438
/assign

[2021-10-04 16:03] jsturtevant commented on #102849
@yukirii This makes sense and is consistent with the initial report that if the SecurityContext has `RunasUser` (which is a Linux specific) setting then the pod will get stuck. Is there a reason you are setting the `RunasUser` and `runAsGroup` for the Windows pod?

[2021-10-04 16:04] PurneswarPrasad commented on #105438
/unassign

[2021-10-04 16:14] Huang-Wei commented on #73698
As you explained in https://github.com/kubernetes/kubernetes/issues/73698#issuecomment-932581169, it makes sense to me that for an instantiated RQ, the controller is responsible for recovering unused quota asynchronously. However, in the first symptom I described in https://github.com/kubernetes/kubernetes/issues/73698#issuecomment-932562820, it can be racy when a RQ gets created but `.status` not

[2021-10-04 16:17] adtac commented on #99605
Oops, I forgot to post an update on this issue. A big thank you @sanposhiho for all the amazing work in GSoC! I'm so glad you enjoyed working on this and I'm really proud of what you've built here!

I'll close this issue, but if someone wants to continue the discussion on specific parts of the project, please feel free to open an issue in the kube-scheduler-simulator repo.

[2021-10-04 16:17] #99605 closed

[2021-10-04 16:19] enj commented on #81127
xref: https://github.com/kubernetes/website/pull/26573#discussion_r577767977

@aramase @ritazh and I are actively working on making improvements to the Kubernetes KMS API.  Once that work has landed, we can update the documentation to recommend the use of KMS instead of the local encryption provider.

[2021-10-04 16:22] sftim commented on #81127
Is that tracking in a KEP / other issue?

[2021-10-04 17:12] karuppiah7890 commented on #105438
/unassign @PurneswarPrasad

[2021-10-04 17:15] kfox1111 commented on #89911
/remove-lifecycle stale

[2021-10-04 18:00] psaini79 opened #105463 "Unable to start systemd based containers"
#### We are trying to create a systemd based POD and it is throwing the following error:
[code]

#### What you expected to happen: The pod must get created and systemd must be running inside it.

#### How to reproduce it (as minimally and precisely as possible):

##### Create the bracnode.yaml using following contents:
[code]

##### Apply the file
[code]

#### Pod creation will fail and you will s

[2021-10-04 18:09] nicelkaim opened #105464 "Feature Request: Consider pods node when API server opens an exec session to a pod"
A proposal that works through the design along with the implications of the change can be opened as a KEP:
https://git.k8s.io/enhancements/keps#kubernetes-enhancement-proposals-keps

#### What would you like to be added:
API Server to consider using the node of the requested pod/container when opening connections via exec sessions.

#### Why is this needed:
This will allow exec sessions to have mo

[2021-10-04 18:15] dbgoytia commented on #79980
Hey everyone! I arrived at this conversation by investigating on issue https://github.com/kubernetes/kubernetes/issues/105242 (seems to me like a duplicate of https://github.com/kubernetes/kubernetes/issues/103651). I'm wondering if there's something I can help with? I'm still a bit new to the codebase, though.

I was able to reproduce the problem by using the following ginkgo focus command in the

[2021-10-04 18:31] ehashman commented on #105294
Post-merge:

![Screenshot at 2021-10-04 11-29-30](https://user-images.githubusercontent.com/4706131/135905015-6b4f4cf8-d9ea-42aa-8fee-97d14941c0f7.png)

No change yet on 1.22 branch, looks like we need to backport first.

[2021-10-04 18:36] shivanshu1333 commented on #105423
Filled the bug in the vendor's repository, we can close this now @guodongli-google

[2021-10-04 18:39] ehashman commented on #105436
/priority critical-urgent
/triage accepted

https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&job=pull-kubernetes-integration

https://github.com/kubernetes/kubernetes/pull/105452#issuecomment-933657752

[2021-10-04 19:04] albertocavalcante commented on #69507
Is this being considered? Thanks

[2021-10-04 19:09] rphillips commented on #105440
Are there any errors in the Kubelet log?

[2021-10-04 19:21] #103303 closed

[2021-10-04 19:36] nadenf commented on #58065
/remove-lifecycle

[2021-10-04 19:57] enj commented on #18394
/remove-sig auth

Per Jordan, this belongs to sig-node now as sig-auth has completed the work on our end.

[2021-10-04 19:57] enj commented on #18394
/triage accepted

[2021-10-04 20:03] ehashman opened #105467 "Kubectl reports wrong status for evicted pod when container statuses are synced after"
#### What happened:

In Kubernetes <1.22, Evicted pods would not have any container status synced. Kubectl displayed them as "Evicted".

In 1.22+, we fixed a bug where we now sync out the last known container status from the runtime on Evicted pods. However, that status syncs after we update the pod status. As soon as the runtime status syncs, since it is more recent, it takes precedence in the di

[2021-10-04 20:08] spiffxp commented on #105436
Tough to confirm when this started since there's no easy mechanism to filter history for presubmits by base branch

I'm trying to script something together to scrape GCS, so far I see the following have had failed pull-kubernetes-integration runs
- https://github.com/kubernetes/kubernetes/pull/105139
- https://github.com/kubernetes/kubernetes/pull/105366
- https://github.com/kubernetes/kubernetes/

[2021-10-04 20:13] spiffxp commented on #105436
Maybe related, we saw the presubmit timing out a bunch back in July, seems like that mostly stopped by 2020-07-09.  But we never closed out investigating, and I suspect these are timeouts based on spyglass lying (it's UI shows pass but the job is failing), ref: https://github.com/kubernetes/kubernetes/issues/103512

[2021-10-04 20:19] ehashman commented on #105436
Cold this be networking related?

[code]

from https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/105452/pull-kubernetes-integration/1445094410348924928/build-log.txt (note filesize is 114MB)

[2021-10-04 20:22] ehashman commented on #105436
It looks like `=== FAIL: test/integration/apiserver/admissionwebhook TestWebhookTimeoutWithoutWatchCache (unknown)` is timing out and everything afterwards is breaking

[build-log.txt](https://github.com/kubernetes/kubernetes/files/7281093/build-log.txt)

[2021-10-04 20:25] ehashman commented on #105436
/sig api-machinery
cc @kubernetes/sig-api-machinery-bugs

[2021-10-04 20:55] spiffxp commented on #105436
tl;dr suggest trying to see what changed ~2021-09-27 since that seems to be around when the job stopped passing

Scraped last 800 runs of pull-kubernetes-integration, filtered down to those that ran against release-1.22.  First few entries from that list
[code]

https://github.com/kubernetes/kubernetes/pull/105277 had the last successful run, https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/

[2021-10-04 20:56] liggitt commented on #105436
https://testgrid.k8s.io/sig-release-1.22-blocking#integration-1.22&width=5&graph-metrics=test-duration-minutes shows test variance increasing a lot around 9/27 - 9/28 timeframe

[2021-10-04 21:01] danwinship opened #105470 ""internalTrafficPolicy: Local" affects external traffic too"
[The internalTrafficPolicy KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2086-service-internal-traffic-policy) says:

However, the actual implementation entangles the two features:

- if a Service is `externalTrafficPolicy: Local`, then `proxy.FilterEndpoints` doesn't even check if it's also `internalTrafficPolicy: Local`, so making a Service external-local means you

[2021-10-04 21:09] liggitt commented on #105436
comparing the last successful and first failed job's podinfo, the first failed job has:

[code]

what does that do?

[2021-10-04 21:09] spiffxp commented on #105436
@liggitt I think that's the integration tests becoming less I/O limited, that was around the time we migrated k8s-infra-prow-build to a local-ssd-backed nodepool, ref: https://github.com/kubernetes/k8s.io/issues/1187#issuecomment-929466293

[2021-10-04 21:10] liggitt commented on #105436
nm, just records whether it was triggered by a retest (https://github.com/kubernetes/test-infra/blob/master/prow/kube/prowjob.go#L64-L65)

[2021-10-04 21:12] liggitt commented on #105436
kubekins jumped from gcr.io/k8s-staging-test-infra/kubekins-e2e:v20210917-ee1e7c845b-1.22 to gcr.io/k8s-staging-test-infra/kubekins-e2e:v20210928-2a55334641-1.22

no other notable changes between the job podinfos

[2021-10-04 21:13] #105311 closed

[2021-10-04 21:23] gnufied opened #105472 "subpath sources never match when containers are re-created"
When we merged - https://github.com/kubernetes/kubernetes/pull/89629/files#diff-22883616376d6c596f9b6338dc1e7bc72064315dfe8d4ebc784946ba58e1c0a1R117 we introduced comparison of subpath sources:

[code]

But subpaths source comparison never works properly for all volume types, even if subpath and source remains unchaged. This is because we are comparing wrong things.

For a given volume - `subpath.

[2021-10-04 21:23] spiffxp commented on #105436
- https://github.com/kubernetes/test-infra/pull/23775 was the bump away from `gcr.io/k8s-staging-test-infra/kubekins-e2e:v20210917-ee1e7c845b-1.22` with changes: https://github.com/kubernetes/test-infra/compare/ee1e7c845b...471c27b6e3
- https://github.com/kubernetes/test-infra/pull/23795 was the bump to `gcr.io/k8s-staging-test-infra/kubekins-e2e:v20210928-2a55334641-1.22` with changes: https://gi

[2021-10-04 21:23] gnufied commented on #105472
/sig node
/sig storage

[2021-10-04 21:24] liggitt commented on #105436
opened PR with the last-merged PR to release-1.22 reverted at https://github.com/kubernetes/kubernetes/pull/105473

I'm not sure how that would have passed the presubmit to get in if that was the issue, but just to double check

[2021-10-04 21:24] gnufied commented on #105472
cc @msau42 @jsafrane @jingxu97 @rphillips

[2021-10-04 21:30] spiffxp commented on #105436
Looking through https://github.com/kubernetes/test-infra/compare/ee1e7c845b...2a55334641 I'm pretty sure https://github.com/kubernetes/test-infra/pull/23757 would have found its way into the image, which mangles iptables a bit if docker-in-docker is enabled.

I'm not sure that actually takes effect for this job though, and I'd be confused why it only affects the release-1.22 branch.

[2021-10-04 21:34] robscott commented on #105470
This overlaps with https://github.com/kubernetes/kubernetes/issues/100313#issuecomment-912824745. As much as it would be ideal to do the endpoint filtering before endpoints are provided to a proxier, I don't think we can continue with that approach. Instead we'll likely need more logic in each proxier implementation. Hopefully this can still mostly just involve calls to shared code.

[2021-10-04 21:36] spiffxp commented on #105436
It does take effect, I see `configure iptables to set MTU` at the top of https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/105139/pull-kubernetes-integration/1442958977880035328

The Google Cloud incident that motivated this change is over (https://github.com/kubernetes/test-infra/issues/23741), so theoretically we should be safe to revert this change.  I had been dragging my feet becaus

[2021-10-04 21:36] MikeSpreitzer commented on #105370
Using `hack/local-up-cluster.sh`, I see the kube-proxy authenticated to be in the group `system:nodes`.

[code]

Why is the kube-proxy not in this group in the job(s) in question?

[2021-10-04 21:50] neolit123 commented on #105463
/sig node

[2021-10-04 21:53] neolit123 commented on #105463
/kind support

[2021-10-04 21:58] verult commented on #98667
/reopen
/assign

[2021-10-04 22:03] neolit123 commented on #105453
confirmed the bug in this environment after downloading go 1.17:
https://www.katacoda.com/courses/kubernetes/playground

can you help narrowing down if this is a problem with the master branch or if it exists with older `release-x.yy` branches too?

/priority important-soon
/sig release
/milestone v1.23

[2021-10-04 22:06] spiffxp commented on #105436
Another angle to take: why is it passing in CI but failing in presubmit?
- The CI job has a memory limit of 20Gi where the presubmit has a memory limit of 15Gi
- The CI job runs with env `SHORT=--short=false`

[2021-10-04 22:06] Huang-Wei commented on #93552
Ping @cofyc to double confirm if this is still an issue.

[2021-10-04 22:07] neolit123 commented on #105453
/triage accepted

[2021-10-04 22:15] neolit123 commented on #105423
looks like EnableContentEncoding() is not used by k/k code too.

/close

[2021-10-04 22:15] #105423 closed

[2021-10-05 00:34] karmahajan opened #105478 "ISTIO Sidecar latency"
Is there any way to reduce the latency created by sidecar proxy ( ISTIO on Kubernetes) ?

[2021-10-05 01:08] dims commented on #105478
please open this as a issue in istio github repo.

[2021-10-05 01:08] #105478 closed

[2021-10-05 01:10] roy-work commented on #76292
I also see this issue, on 1.19. Can the bug be re-opened?

[2021-10-05 01:40] liggitt commented on #105453
I think this is working as intended…. _output/local/go/src/k8s.io/kubernetes is a symlink to ../ in order to place to root of the clone in a gopath-compatible directory structure