[2019-05-14 18:05] cheftako commented on #49402
Removing this flag is reliant on completion of https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190226-network-proxy.md

[2019-05-14 18:08] krish7919 commented on #71851
/reopen

[2019-05-14 18:10] krish7919 commented on #71851
This is breaking EKS in `us-east-1`, as the nodename/private DNS name is different from the hostname assigned.

AWS should have found and probably fixed it, but I would consider it as a Kubernetes bug as:

1. It mandates both to be the same
2. Does not allow overriding the hostname in case `--cloud-provider` is set.

[2019-05-14 18:21] #75285 closed

[2019-05-14 18:21] #77871 closed

[2019-05-14 18:38] cjschaef commented on #77521
Looks like #77867 worked for me. Was able to run a `KUBE_FASTBUILD` using `bash 4.3` successfully.
[code]

[2019-05-14 18:38] wojtek-t commented on #77733
@lavalamp - I actually think we *will* be changing apiserver:
https://github.com/kubernetes/kubernetes/issues/77733#issuecomment-491691206
[Something I was already briefly discussing with @jpbetz ]

[2019-05-14 19:15] dashpole commented on #77697
I'm not quite sure what the issue here is.  Are you seeing performance problems with kubelet preemption?  Is a large portion of the performance issue due to the calculation of pod resource requests?

[2019-05-14 19:22] lavalamp commented on #77733
Bookmarks are great and already in progress, no? They don't need to be part of this issue.

Please don't do this. I don't want to set the precedent that we're willing to add indexes in apiserver unless we're prepared to actually do a good job of that, and I don't think we are. @deads2k

I would also vote against this. There is no reason for this controller to be issuing list requests.

[2019-05-14 19:40] #63475 closed

[2019-05-14 19:48] zegelin commented on #48528
@lavalamp Can we re-open this issue? As @aloisio31 and @caseydavenport mentioned, this request has nothing to do with reverse label selector queries. Instead it's about allowing Services to support the newer set-based selector syntax, similar to Jobs and Deployments.

I stumbled onto this issue after I realised that Services don't support this. I'm trying to create a headless service for Cassandra

[2019-05-14 19:58] giuseppe commented on #77615
PR here: opencontainers/runc#2057

[2019-05-14 20:03] alitvak69 commented on #77615
Until it is avaialble with project atomic and such, can I use a null
workaround?

On Tue, May 14, 2019 at 3:00 PM Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-05-14 20:09] giuseppe commented on #77615
yes, but you will lose anything written to stderr.  You could probably also use a file, like `file:/path/to/the/file`

[2019-05-14 20:10] wojtek-t commented on #77733
This is something different - this is about "notify progress from etcd".

We're kind of doing something very similar already. We have this "trigger function" in watchcache already. Introducing predefined indexes is kind of the same thing for me [i kind of see that as "introducing corresponding indexes to trigger functions that we already have].

I don't understand this one - there is no other way

[2019-05-14 20:13] lavalamp commented on #77733
Why is a list from apiserver necessary? Why is a local list from cache not sufficient?

[2019-05-14 20:14] lavalamp commented on #77733
Link to the trigger function?

[2019-05-14 20:27] lavalamp commented on #48528
Sorry, I read the OP as looking up endpoints belonging to services whose selector selected given pods, I still think that's a pretty reasonable way to read that sentence :)

This is between sig network and api reviewers.

/remove-sig api-machinery

[2019-05-14 20:28] alitvak69 commented on #77615
What about actually mounting dev and using /dev/stderr ?

On Tue, May 14, 2019, 3:11 PM Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-05-14 20:58] zrml commented on #60964
Has this ever been resolved? I'm finding the exact same issue and yes the service is headless...
thanks

[2019-05-14 21:03] tedyu commented on #77697
This enhancement was proposed when I saw repetitive calculation of resource requests in the code.

[2019-05-14 21:25] deads2k commented on #77733
I agree on all counts. I don't want the watch cache to drift any more from backing storage and one off indexes or list implementations will complicate future choices.

If the controller can already see all pods, then I think working through a Lister makes the most sense.  See how we build the store,indexer,lister client-side.

[2019-05-14 21:51] tallclair commented on #77801
The Kubelet needs to look up the runtime handler for the runtimeclass associated with a pod.

Yes, if pods are using RuntimeClasses.

Cluster E2E's only test the failure cases, and it doesn't distinguish failures to look up the runtimeclass from failures to run with the handler (I'll fix this): https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/runtimeclass.go

Node E2E's test th

[2019-05-14 21:55] spiffxp commented on #77521
ref: https://github.com/kubernetes/kubernetes/pull/76974

[2019-05-14 21:55] nphmuller commented on #19077
/remove-lifecycle stale

[2019-05-14 22:16] spiffxp commented on #74931
This is currently the flakiest test for the flakiest PR job for kubernetes/kubernetes http://velodrome.k8s.io/dashboard/db/bigquery-metrics?panelId=7&fullscreen&orgId=1

[2019-05-14 22:16] spiffxp commented on #74931
/remove-kind failing-test
/kind flake
/priority important-soon
/milestone v1.15

[2019-05-14 22:34] neolit123 commented on #58711
/kind bug

[2019-05-14 22:50] neolit123 commented on #77876
hm, i don't see this being a kubeadm problem.

is there a change kube-proxy resolves this to `0.0.0.0`.

what happens if you try to modify this config field?

[2019-05-14 22:50] neolit123 commented on #77876
/sig cluster-lifecycle

[2019-05-14 23:30] oomichi commented on #77103
All PRs which try fixing this issue have been merged except my PRs at this time.
To make progress for merging https://github.com/kubernetes/kubernetes/pull/77612 I am making assignees free for each file which is not fixed now.
Please feel free to raise hands again if possible.

[2019-05-14 23:34] k-toyoda-pi commented on #77103
I can work to test/e2e/network.

[2019-05-14 23:36] s-ito-ts commented on #77103
I can work to test/e2e/node.

[2019-05-14 23:41] tpepper commented on #75833
@wojtek-t is there any evidence we'll be able to observe in https://testgrid.k8s.io/sig-release-1.14-blocking for validation?  Or is it possible for SIG Scalability to trigger any custom runs now that the cherry-pick has merged to the 1.14 branch?

[2019-05-15 00:37] tallclair commented on #77801
@sbskas and @mrtylerzhou - Did you update the apiserver before updating the nodes? Are you running the node authorizer?

[2019-05-15 00:53] oomichi commented on #77103
I am working on test/e2e/scheduling and test/e2e/scalability.

[2019-05-15 00:54] mrtylerzhou commented on #77801
@tallclair In fact,I did not update the apiserver,I even dont know why the node got updated.I downgrade the node's kubelet version and fixed the problem.

[2019-05-15 01:03] claudineimatos commented on #76531
I have found no place telling that cgroupfs should just be changed to systemd on Slaves, not on Master. Could please share this information?

Anyway I've tried this approach and as supposed, there's no messages on Master log as it's now using cgroupfs:

[code]

But in the preflight of  `kubeadm init` I've got a warning about using cgroupfs:

[code]

Anyway, after the setup of the Master, I've trie

[2019-05-15 01:08] ylhyh commented on #76077
@bclau sure, just to show the name of environment variable

[2019-05-15 01:16] Huang-Wei commented on #74931
I will try to work out a PR if @denkensk is not working on it.

[2019-05-15 01:24] #45398 closed

[2019-05-15 01:24] davidovich commented on #61946
/remove-lifecycle stale

[2019-05-15 01:27] draveness commented on #77103
I could take the files below

[code]

[2019-05-15 01:33] yuchengwu commented on #77597
hi, @kow3ns , yeah 1.5 is too old and I was not aware of this version is not supported when posting this.
I haven't tested with a supported version since there is no such an environment around me.

but from [this comment](https://github.com/kubernetes/kubernetes/issues/72593#issuecomment-451950699), not sure if kubelet will take over terminate state pod(in `Falied` or `Succeeded` status) and gc th

[2019-05-15 01:38] yuchengwu commented on #77597
In case somebody could do a test with version 1.12+, there is a way to make pod failed -> https://github.com/kubernetes/kubernetes/issues/76598#issue-433239227

[2019-05-15 02:04] zq-david-wang commented on #77858
You seems to add a new selector "app=" to your deployment after your deployment created,  which cut off the relationship between the deployment and its existing replicasets.
I am not sure what the expected behaviour should be under this situation, but I think current behaviour is acceptable.

[2019-05-15 02:05] draveness commented on #77103
This is the remaining file with regular format  `gomega.Expect(errRW).NotTo(gomega.HaveOccurred(), msg)` and `gomega.Expect(err).NotTo(gomega.HaveOccurred())`.

[code]

 I'll take care of the `test/e2e/apps/disruption.go`, and the other files seem like already been taken.

[2019-05-15 02:29] Pingan2017 commented on #77859
Yes!  Kubelet will run the init container repeatedly.
pod flapping between Running/Init

[code]

[2019-05-15 02:34] oomichi commented on #77103
Thanks for doing this again @draveness
`test/e2e/apps/disruption.go` had been fixed at once, but after that new test code contains `gomega.Expect(err).NotTo(gomega.HaveOccurred())` again.
So it is nice to take care of that again and now I really want to enable https://github.com/kubernetes/kubernetes/pull/77612 at the CI so that we don't need to take care of this issue forever.

[2019-05-15 02:35] yuchengwu commented on #76598
static pod eviction had been discussed in https://github.com/kubernetes/kubernetes/issues/40573#issue-203539112 , and it looks like

is a intended behavior, not sure if this behavior still unchanged in current version
/cc @vishh @yujuhong
could you explain a liiter more, thanks:)

[2019-05-15 02:44] ahg-g commented on #69811
Likely we can fix this by changing the target chain fron KUBE-SVC-* to KUBE-XLB-* for external ip rules. Specifically, when svcInfo.OnlyNodeLocalEndpoints is true, change svcChain to svcXlbChain in  https://github.com/kubernetes/kubernetes/blob/0e224ad3f38d9ab0ffa34bcd0774458f5834b7fa/pkg/proxy/iptables/proxier.go#L937

We also may want to skip adding the masquerade rule for external ips when svcI

[2019-05-15 02:44] draveness commented on #77103
Yeah, that would be great, but we have to fix all the `gomega.Expect(err).NotTo(gomega.HaveOccurred())` ahead.

[2019-05-15 02:58] denkensk commented on #74931
Sure, you can take over it if you want. @Huang-Wei  And It is strange about the flake in `TestPreemptionRaces`.   I ran about 3,000 times on a local machine, but never failed. :joy:   I also can help you to do someting ~

[2019-05-15 03:11] thanh3d commented on #58822
same issue, here

[2019-05-15 03:22] mzyfree commented on #77876
what happens if you try to modify this config field?

healthzBindAddress: 0.0.0.0:10256

I change healthzBindAddress to 0.0.0.123 then it works,But bindAddress not work.
I try to read kubeadm code under initconfiguration.go~.~!a little bit hard

[2019-05-15 03:23] andyzhangx commented on #77461
Update: this command could get VM size list easily:
[code]

[2019-05-15 03:24] mzyfree commented on #77876
I change healthzBindAddress to 0.0.0.123 then it works,But bindAddress not work.
I try to read kubeadm code under initconfiguration.go~.~!a little bit hard

[2019-05-15 03:36] #61717 closed

[2019-05-15 03:48] mikedanese commented on #77651
I'll leave this open until cherry picks are in.

[2019-05-15 03:48] mzyfree commented on #77876
[root@180 k8s]# kubeadm init phase addon kube-proxy --config=./kubeadm_config.yml -v 6
I0515 03:50:54.291684   59421 initconfiguration.go:186] loading configuration from "./kubeadm_config.yml"
I0515 03:50:54.295023   59421 initconfiguration.go:105] detected and using CRI socket: /var/run/dockershim.sock
I0515 03:50:54.295647   59421 interface.go:384] Looking for default routes with IPv4 addresses

[2019-05-15 03:52] adohe commented on #77733
/cc @adohe

[2019-05-15 04:26] fejta commented on #76249
Any idea if this was resolved?

[2019-05-15 04:41] fejta commented on #76305
Not convinced the trade-off is worth it here until kubernetes can prove it is a better citizen about following semver correctly.

If dependencies are cause maintenance/upgrade pain and we can remove them it is strongly in our interest to do so.

Faking object lists and object change notifications is not hard, and not worth getting stuck forever on a single version.

[2019-05-15 05:28] starplanet commented on #76820
I have the same issue too. I have configure docker and kubernetes use systemd as cgroup driver. But when I systemctl start kubelet, it will report:
[code]

[2019-05-15 05:51] mzyfree commented on #77876
I think i have found the reason.In kubeadm code,kube-proxy bindAddress is bind with apiserver localAPIEndpoint struct,see the code below:
`// SetClusterDynamicDefaults checks and sets values for the ClusterConfiguration object
func SetClusterDynamicDefaults(cfg *kubeadmapi.ClusterConfiguration, advertiseAddress string, bindPort int32) error {
	// Default all the embedded ComponentConfig structs
	c

[2019-05-15 06:16] peter-wangxu commented on #77737
@jsafrane Can you shed some light on the race, and how this happens? I am wondering if this is bug when `StorageObjectInUseProtection` is off.

[2019-05-15 06:18] mzyfree commented on #77876
After update my kubeadm_config.yml, Add LocalAPIEndpoint in InitConfiguration.All kube-proxy run ok.
Here is my new kubeadm config file:

kind: ClusterConfiguration
kubernetesVersion: "v1.14.0"
controlPlaneEndpoint: "2000:1691:1111:2222:aaaa:bbbb:cccc:2000"
imageRepository: "matrix"
etcd:
 external:
  endpoints:
  \- "http://[2000:1691:1111:2222:aaaa:bbbb:cccc:1180]:2379"
  \- "http://[2000:1691:1

[2019-05-15 06:20] danielqsj commented on #77706
@oomichi All related PRs were merged. I think this ticket can be closed.
BTW, should we also replace `gomega.Expect(err).NotTo(gomega.HaveOccurred())` to `framework.ExpectNoError(err)` ?

[2019-05-15 06:31] istikamet commented on #77663
Here are the files

From: Ali Shahbour [mailto:notifications@github.com]
Sent: Tuesday, May 14, 2019 2:24 PM
To: kubernetes/kubernetes <kubernetes@noreply.github.com>
Cc: Ahmet MERT <ahmet.mert@ibb.gov.tr>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/kubernetes] vsphere_volume_util.go:187] Cloud provider not initialized properly (#77663)

I think the cloud provider is working cor

[2019-05-15 06:32] petermetz opened #77903 "kube-proxy ipvs doesn't update IPs after node failure"
**What happened**:
Simulated a node failure on my 3 master 1 worker cluster by pausing the second master in VirtualBox.
The round robin entry for a load balancer service of mine still has the pods IP that went down with the node (after an hour of waiting).
**What you expected to happen**:
I thought kube-proxy would get an event triggered forcing it to update the ipvs table dropping the pods IP tha

[2019-05-15 06:37] petermetz commented on #77903
@kubernetes/sig-network-bugs

[2019-05-15 06:42] shahbour commented on #77663
no files attached , please use GitHub instead of emails

[2019-05-15 06:49] istikamet commented on #77663
Ok this is last e-mail i will update github ticket

Sc-fast.yaml

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: fast
provisioner: kubernetes.io/vsphere-volume
parameters:
  datastore: KUBEDATASTORE
  diskformat: thin
  fstype: ext3

pvc.yaml

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvcsc001
  annotations:
    volume.beta.kubernetes.io/storage-class: fast
s

[2019-05-15 06:51] #63766 closed

[2019-05-15 06:54] shahbour commented on #77663
ok every thing seems ok

try these

kubectl show pvc
kubectl show pv
kubectl get pod pvpod
kubectl describe pod pvpod

[2019-05-15 07:18] mm4tt commented on #77492
I was wrong saying that the version of fluentd-gcp hasn't changed.
It was bumped up from 1.6.0 to 1.6.8 in https://github.com/kubernetes/kubernetes/pull/77224.
The timing correlates with the increase we see in the perf-dash, so it's the culprit most likely.

[2019-05-15 07:18] istikamet commented on #77663
Thanks Ali, I have updated the ticket to give ideas

i updated ticket rather than reply here

[2019-05-15 07:23] istikamet commented on #77663
I have updated issue rather than reply here

[2019-05-15 07:23] giuseppe commented on #77615
`/dev/stderr` is a symlink to `/proc/fd/2`.  It is present, the issue here is that `/proc/fd/2` is a socket.  The fix for runc got merged, could you use an updated runc?

[2019-05-15 07:24] istikamet commented on #77663
[root@kubemaster vcp]#
[root@kubemaster vcp]# kubectl get nodes -o json | jq '.items[]|[.metadata.name, .spec.providerID]'
[
  "kubemaster.****",
  "vsphere://4230456E-D8B2-AED1-E270-740256CBD273"
]
[
  "kubenode1.****",
  "vsphere://4230B3CC-96D1-A6CD-0D27-0DF5E6ABF7EA"
]
[
  "kubenode2.****",
  "vsphere://42301D59-179C-8BB9-9086-B5D6048FDC74"
]
[root@kubemaster vcp]#
[root@kubemaster vcp]#

[2019-05-15 07:29] istikamet commented on #77663
Dear ali can you remove your post from github i am going to update your reply according to privacy

From: Ali Shahbour [mailto:notifications@github.com]
Sent: Wednesday, May 15, 2019 9:57 AM
To: kubernetes/kubernetes <kubernetes@noreply.github.com>
Cc: Ahmet MERT <ahmet.mert@ibb.gov.tr>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/kubernetes] vsphere_volume_util.go:187] Cloud pro

[2019-05-15 07:29] wojtek-t commented on #77733
@lavalamp
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L253
[BTW, it was you who was approving that years ago...]

We've had that discussing like 3 years ago or so. And the argument was that local cache may be lagging, and we want to really evict *all* pods that were scheduled on that node.
From purely scalability perspective I woul

[2019-05-15 07:29] istikamet commented on #77663
i have updated the issue rather than reply here

[2019-05-15 07:35] istikamet commented on #77663
i have updated issue rather than reply here

[2019-05-15 07:39] joost14 commented on #77615
I tried apt update/upgrade and restarting crio, but I'm still getting the issue. Could it be that crio's runc is not updated yet?

[2019-05-15 07:41] szuecs commented on #73843
@lynx-coding do you agree with @xiaoxubeii ?
The the issue can be closed safely without the bot.

[2019-05-15 07:43] bowei commented on #58822
Probably need to file a new issue as the original issue was due to user error, hence the debugging info will not be applicable to your problem.

[2019-05-15 07:43] shahbour commented on #77663
Not sure what is going on , usually the mount fail for couple of retry till vmdk is created but then on later retry it work .

I cant tell what is wrong but from what i have seen cloud provider is working as it should .Try deleting just the pod and then create it again . Keep the PVC and PV as they are already created and working

[2019-05-15 07:48] k-toyoda-pi commented on #77103
I've done all files in e2e/network at #77901 #77909.

[2019-05-15 07:53] istikamet commented on #77663
[root@kubemaster vcp]# kubectl delete -f vsphere-volume-pvcscpod.yaml
pod "pvpod" deleted
[root@kubemaster vcp]#
[root@kubemaster vcp]#
[root@kubemaster vcp]# kubectl create -f vsphere-volume-pvcscpod.yaml
pod/pvpod created
[root@kubemaster vcp]#
[root@kubemaster vcp]#
[root@kubemaster vcp]# kubectl get pods pvpod
NAME    READY   STATUS              RESTARTS   AGE
pvpod   0/1     ContainerCreating

[2019-05-15 07:58] sbskas commented on #77801
@tallclair we did a normal upgrade of the cluster by upgrading the controlplane first and then the kubelets. The node authorizer is configured in the apiserver (--authorization-mode=Node,RBAC).

[2019-05-15 07:58] shahbour commented on #77663
kubectl get pvc
kubectl get pv
kubectl describe pod

[2019-05-15 08:06] istikamet commented on #77663
[root@kubemaster vcp]#
[root@kubemaster vcp]# kubectl get pvc
NAME       STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
pvcsc001   Bound    pvc-eb27986d-762d-11e9-aff9-005056b068e3   2Gi        RWO            fast           22h
[root@kubemaster vcp]#
[root@kubemaster vcp]#
[root@kubemaster vcp]# kubectl get pv
NAME

[2019-05-15 08:09] opengers commented on #58820
same issue
-----------------
Kubernetes: v1.13.5
ubuntu16.04
kernel: 4.15.0-46-generic

[2019-05-15 08:25] dpmattos commented on #68973
I have a writeable `/var/run/kubernetes` (I've tried other writeable directories too.)
I'm encountering this:
[code]
[code]
[code]
Should I post elsewhere, or continue here?

[2019-05-15 08:25] andyzhangx opened #77911 "after azure disk attach succeeded, always return lun(-1) which is incorrect"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2019-05-15 08:31] jimifm commented on #23726
ip route add default via xxx.xxx.xxx.xxx on k8s master

[2019-05-15 08:34] hchenxa commented on #71887
not sure if this have any function impact, I just disable the message by configuring the rsyslog:
[code]

[2019-05-15 09:03] prasus commented on #77850
I have investigated this further and figured out that the the `kube-apiserver`  pods on both of the surviving master nodes (kube2/3) went into `CrashLoopBackOff` state during incident time, A closer look in to the crashed pod logs (`kubectl logs --previous`) revealed that the the pod's were failing due to problems in connecting to `kube1/etcd` node which was down during that time, but ideally this

[2019-05-15 09:03] istikamet opened #77916 "MountVolume.SetUp failed for volume pvc mount failed: exit status 32"
/kind bug
/kind feature

We are trying to configure vsphere cloud provider for kubernetes cluster, according to below support link for dynamic provisioning from vmware. There was  no problem with kubernetres version  v1.8, the issue appeared after deploying new kubernetes cluster with version 1.12.
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html

**Kubernetes ve

[2019-05-15 09:05] istikamet commented on #77916
kind/bug
sig/storage

[2019-05-15 09:32] olberger commented on #77615
I'm running this version from PPA repo for ubuntu and it fails:
[code]
@giuseppe could you point to version/commit or whatever helps identify the fixed version/snapshot ?

Thanks in advance.

[2019-05-15 09:33] giuseppe commented on #77615
at the moment it is only fixed upstream.  You'd need to build runc manually

[2019-05-15 09:37] Sakib37 opened #77919 "RoleBinding with a ClusterRole not able to restrict permission in namespace"
**What happened**:
kubernetes version (v1.12.6-eks-d69f1b)

After removing **RoleBinding** with a **ClusterRole** as service account "access-test", I get
[code]

After applying the following **ClusterRole** and **RoleBinding**
[code]

as service account "access-test" (current namespace already set by kubens), I get
[code]

[code]
**What you expected to happen**:
As I used a **RoleBinding** the api

[2019-05-15 09:39] Harold2017 commented on #75726
i found this issue on aws **micro** ec2 instance, but never happened on higher level instance (small/medium/large...), i don't know whether the limited PC config is the reason...

[2019-05-15 09:40] Nebulazhang commented on #77723
@yue9944882 @lavalamp Thanks

[2019-05-15 09:52] yue9944882 commented on #77919
/sig auth

binding a `RoleBinding` to a `ClusterRole` is invalid. the binding should refer to a `Role` instead.

[2019-05-15 09:54] onlylin opened #77920 "[EBS Volume (AWS) ]AttachVolume.Attach failed for volume "redis-data": error finding instance ip-10-10-178-213.cn-north-1.compute.internal: "instance not found""
**What happened**:
Warning  FailedAttachVolume  3s (x6 over 19s)  attachdetach-controller  AttachVolume.Attach failed for volume "pvc-41771a5f-76f6-11e9-91d3-021bc1c59f08" : error finding instance ip-10-10-178-213.cn-north-1.compute.internal: "instance not found"

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**

[2019-05-15 09:56] onlylin commented on #77920
/sig aws

[2019-05-15 10:00] Sakib37 commented on #77919
ok. I found the problem. It was a hidden clusterrole that was allowing the permission

[2019-05-15 10:00] #77919 closed

[2019-05-15 10:03] onlylin commented on #77920
storageclass yaml:

[code]
pvc yaml
[code]

pod yaml
[code]
kubectl describe pv
[code]
kubectl describe pvc
[code]
kubectl describe pod
[code]

[2019-05-15 10:08] ReSearchITEng opened #77921 "add kubeadm to the releases binary/pakages list"
**What would you like to be added**:

Every k8s release most of the kube* binaries are build and loaded to github relases page. But for some reason, the kubeadm is not part of the list.
Can it be added?
(Alternativelly,  hyperkube build)
As for deb/rpm packages, I guess it's too complicated; for now binary would a good step ahead IMO.

**Why is this needed**:
For non final versions, we there is no

[2019-05-15 10:10] ReSearchITEng commented on #77921
/sig release
/area build-release

[2019-05-15 10:49] hustshawn commented on #49926
@gabordk I got the same issue. Any solution or progress on this?

[2019-05-15 10:53] rafis commented on #147
Kubernetes v1.12.7. Problem still exists. Pods are randomly dying. I call it "Happy New Year Tree" effect in Kubernetes cluster. Which recent issue I shoud look?

[2019-05-15 10:54] #70503 closed

[2019-05-15 11:49] Nefelim4ag commented on #72050
@vishh,
you are right, i've tested cpu shares with cgroups and systemd drivers,
both works good

[2019-05-15 12:05] ajax-2 opened #77924 "137 exit code, but my limit is not set"
# error
Hey, All friends, my pod is exit with code 137 when i connect mysql in this pod.

# error message
[code]

# environment
* kubernetes: 1.14.1
* docker: 18.0.9
* mysql: 5.7
* install method: helm

# What
![image](https://user-images.githubusercontent.com/29370146/57617615-ccf95980-75b3-11e9-80eb-f55da4c09427.png)
This is my pod, it's running, enn~ very good!
So i use nextcloud in web, and ex

[2019-05-15 12:19] alitvak69 commented on #77615
Is there a version of the package on ppa we can downgrade to?

On Wed, May 15, 2019, 4:35 AM Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-05-15 12:41] zhiteng opened #77926 "Private StorageClass"
@kubenetes/sig-storage

**What would you like to be added**:
In big enough k8s deployments, there are cases when certain StorageClasses were crafted for some particular use cases.  It's desired to limit to the exposure of such StorageClasses, in other words, making some StorageClasses private (only visible/usable for some users/groups/namespaces).  API to change who has access to StorageClasses is

[2019-05-15 12:43] zhiteng commented on #77926
/sig sig-storage

[2019-05-15 12:45] zhiteng commented on #77926
/sig api

[2019-05-15 12:57] neolit123 commented on #77876
this is definitely a bug.

could you please close this issue and log a new one in kubernetes/kubeadm so that we can track it better.
your example in this comment is great:
https://github.com/kubernetes/kubernetes/issues/77876#issuecomment-492513686

+ just outline the problem in a couple of sentences.
thanks.

[2019-05-15 13:06] liggitt commented on #77801
As @tallclair mentioned, runtimeclass read permissions are already included in the `system:node` role.

Is the `User "system:node:node" cannot list resource "runtimeclasses" in API group "node.k8s.io" at the cluster scope` error message in this issue's description exactly what you are seeing? If so, that username does not conform to the standard node username (`system:nodes:...`, note the plural),

[2019-05-15 13:07] liggitt commented on #77801
That is definitely not recommended. That lets any node modify any other node.

[2019-05-15 13:35] OlegLoewen opened #77928 "Flaky SchedulerPredicates e2e tests because of undeleted namespaces"
**Which test(s) are failing**:

- [sig-scheduling] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching  [Conformance]
- [sig-scheduling] SchedulerPredicates [Serial] validates that NodeSelector is respected if matching  [Conformance]
- [sig-scheduling] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run  [Conformance]

**Details*

[2019-05-15 13:40] OlegLoewen commented on #77928
/sig scheduling

[2019-05-15 13:41] OlegLoewen commented on #77928
/assign @BenTheElder

[2019-05-15 13:44] wojtek-t commented on #75833
We aren't running large tests on release branches due to cost of them...
We don't have any free quota to run it now, due to huge number of regressions that we have at head that we're currently debugging.

But I'm 100% confident with this change. What I was personally doing in the past:
- I was running tests against commit when we bumped to 1.12.0 with 1.12.5 (which was from beginning of March, so

[2019-05-15 13:45] smartbit opened #77929 "Kubernetes client does not print any new events after watching"
When running the following command on a GKE cluster with version 1.12.6-gke.10 we see the last events, but no new events are ever printed after that:

    kubectl get events -w

Even if we forcibly delete a pod in that same namespace, for example, nothing is printed. If we set up a watch client with Go in a pod in the cluster then it doesn't receive any events beyond the initial ones either.

[2019-05-15 13:46] smartbit commented on #77929
/sig api-machinery

[2019-05-15 14:06] wojtek-t commented on #73585
We're close to be ready for Alpha in 1.15 - I think only some doc updates are needed, which I will open necessary PR for soon.

[2019-05-15 14:12] giuseppe commented on #77615
@lsm5 could we update the runc version in the PPA repo?

[2019-05-15 14:17] mattjmcnaughton commented on #77864
Thanks for the clarification @chaudyg :)

To ensure I'm understanding, the second scenario you describe (i.e. "Unknown node status results in grace period than slow eviction provided other nodes are still healthy") is the way you believe it should work, not the way it actually works correct? From the code, it looks like the way it works is that all Pods are marked `NotReady` if the node is anythin

[2019-05-15 14:18] mattjmcnaughton commented on #77850
Great investigation @prasus :) and thanks for sharing your results. If you are satisfied with the path forward, do you mind closing the issue?

[2019-05-15 14:42] liggitt commented on #76249
https://github.com/kubernetes/kubernetes/pull/77770 is open to bump deps

[2019-05-15 14:59] ahg-g commented on #71592
I just tested this on GKE and also have a unit test confirming that this is not an issue anymore, I guess HTTP go client has been fixed.

[2019-05-15 15:03] humblec opened #77933 "Add E2E test for CSI Volume Stats RPC and metrics provider"
**What would you like to be added**:

The volume stats RPC call and the metrics provider is implemented via https://github.com/kubernetes/kubernetes/pull/76188
We need an e2e test that verify the volume metrics functionality using mockplugin .

**Why is this needed**:
We want to exercise volume metrics provider  in kubelet.

/kind feature
/sig storage
/assign

[2019-05-15 15:28] chaudyg commented on #77864
Correct. It's the way I believe it should work. It's also what the documentation currently explains. All Pods are marked `NotReady ` is an undocumented feature.

Maybe the following scenario?

Someone trips on the network cable or your node suddenly stops.
*  If you run in the cloud: this is a non problem. The cloud-provider will most likely detect this, and the could-provider-controller will remo

[2019-05-15 15:36] #77615 closed

[2019-05-15 15:55] bclau opened #77935 "test images: dnsutils and jessie-dnsutils are using dnsmasq"
**Which jobs are failing**:

N/A

**Which test(s) are failing**:

    should support configurable pod resolv.conf

**Since when has it been failing**:

N/A

**Testgrid link**:

N/A

**Reason for failure**:

Since ``dnsmasq`` is a Linux specific binary, the tests which are using it cannot pass on Windows. This could be resolved if ``coredns`` was used instead.

**Anything else we need to know**:

/

[2019-05-15 16:06] tahayk commented on #28272
Any news on this? 2

[2019-05-15 16:17] hoegaarden commented on #75833
@wojtek-t Thanks for your answer!

[2019-05-15 16:37] alejandrox1 opened #77938 "[Failing Tests] ClusterLoaderV2 failing in presubmits"
**Which jobs are failing**:
pull-kubernetes-e2e-gce-100-performance

**Which test(s) are failing**:
ClusterLoaderV2

**Since when has it been failing**:
It has been consistently failing since 6:55 PDT today.

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce-100-performance&width=90

**Reason for failure**:
[From spyglass](https://prow.k8s.io/view/gc

[2019-05-15 16:41] johnraz commented on #71592
Awesome! looks like losing track of my commitment here was a good investment 😃 thx for the feedback !

[2019-05-15 16:44] lavalamp commented on #77733
Like I tried to say earlier, for correctness, it **cannot** do this with only a list (no matter the source of the list!), because it needs to respond to pods added to the node **after** the node goes into this state. Modifying the nodes based on the list needs to use a precondition anyway, so it doesn't matter if the list is stale.

Still reading the rest.

[2019-05-15 16:59] wsourdin commented on #44528
I just tried `{service-name}.{namespace}.svc.cluster.local` on EKS and it doesn't work.

e.g. service name `nfs-service` on default namespace

I got

`mount.nfs: Failed to resolve server nfs-service.default.svc.cluster.local: Name or service not known`

They are still no fix or clean workaround available?

[2019-05-15 17:04] prasus commented on #77850
Thanks @mattjmcnaughton. I am closing this issue.

[2019-05-15 17:04] #77850 closed

[2019-05-15 17:04] jimangel opened #77942 "[Flaking Tests] multiple sig-storage tests in the gce-new-master-upgrade-cluster job"
**Which jobs are failing**:
gce-new-master-upgrade-cluster

**Which test(s) are failing**:
- [sig-storage] In-tree Volumes [Driver: nfs] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]
- [sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Pre-provisioned PV (default fs)] subPath should unmount if pod is force de

[2019-05-15 17:05] PaulFurtado commented on #73948
/remove-lifecycle stale

I'm also a bit concerned that no progress has been made on such a destructive bug...

[2019-05-15 17:07] alitvak69 commented on #77615
Thank you.  I seem them built but nut pushed to ppa yet.

[2019-05-15 17:11] sasacocic commented on #52817
On k8s 1.12.7 and this is happening to me as well.

[2019-05-15 17:16] absinabs opened #77943 "Kubelet stopped posting node status"
---
name: Bug Report
about: Report a bug encountered while operating Kubernetes
labels: kind/bug

---

**What happened**: We are doing some Poc on the hybrid kubernaties cluster (with windows and linux node) after creating the cluster with 2 windows and 2 linux  it went fine and we were able to run our windows container in the pods on the node after  45 hours the windows node start showing not rea

[2019-05-15 17:43] caesarxuchao opened #77944 "Namespaces and CRD have inconsistent delete-on-update behavior than other built-in resources."
For most built-in resources, if the object deletion is blocked by finalizers, the Update request that removes the last pending finalizer causes the apiserver to delete the object.

The logic is enforced by the generic storage's `Update()` function, specifically, by the [shouldDeleteDuringUpdate](https://github.com/kubernetes/kubernetes/blob/4d3d153210c0788b8e188c467d31061470d8c042/staging/src/k8s.

[2019-05-15 17:49] liggitt commented on #77944
That matches my expectations

[2019-05-15 17:52] lavalamp commented on #77733
One more thing--the watch cache may also be lagging. You can't really argue against a local cache as compared to the watch cache, especially when the controller already has the local cache available to it.

Kubelets are a legitimate thing to have this discussion over, as we don't really even want them to see pods not assigned to them, at least not in an ideal world. I'm reluctant to get this prope

[2019-05-15 18:02] binudba commented on #69221
Faced same issue. fixed it after resetting master token.

[2019-05-15 18:03] lsm5 commented on #77615
should be available now.. let me know..

[2019-05-15 18:05] lsm5 commented on #77615
cri-o-runc (1.0.0-rc6-1~dev~ubuntu18.04~ppa42) bionic; urgency=medium

    * autobuilt b9b6cc6

    -- Lokesh Mandvekar (Bot) <lsm5+bot@fedoraproject.org>  Wed, 15 May 2019 16:54:40 +0000

[2019-05-15 18:33] oomichi commented on #77706
@danielqsj Thanks for your work. `framework.ExpectNoError(err)` thing is managed with https://github.com/kubernetes/kubernetes/issues/77103
We are almost finishing the work also :-)

[2019-05-15 18:34] mtaufen commented on #68939
Standalone mode isn't the mode we configure defaults to target, so it's expected that users may have to reconfigure the auth settings, or others, to fit that mode of operation if they opt into it.

Users didn't have to do this with flags because the defaults for server mode were insecure. We fixed this in the config file, which represents a new version of the config API.

That defaults may differ

[2019-05-15 18:39] kraney commented on #77764
It seems from discussion on the ticket with go, that this may not be the problem. Apparently even glibc looks up the FQDN for localhost first when it goes to DNS.

Comparing the observed behavior with the expected, the real issue is that apiserver seems to be going to DNS first despite the fact that /etc/nsswitch.conf is configured for "files dns". I'll continue looking for a simple repro case or

[2019-05-15 18:39] marcecaro commented on #75488
I am behind some proxies that tier down idle connections, so I would love to have this keep alive for port forwards.

[2019-05-15 18:44] kraney commented on #77764
Actually, I am not seeing this behavior in version 1.14.1

[2019-05-15 18:44] gnufied opened #77949 "On AWS Attach followed by a detach of same volume is stuck waiting for volume attachment on old device path"
We observed in an e2e that if attach is performed on a volume that was detached before from same node, sometimes the mount of the volume (for 2nd pod) could be stuck waiting on invalid devicePath in `WaitForAttach` call.

 The problem is - when attach for second pod failed with `"Error attaching EBS volume \"vol-xxx\"" to instance "i-xxx" since volume is currently attached to "i-xxx",` this caused

[2019-05-15 18:45] gnufied commented on #77949
/sig storage
/sig aws

cc @jsafrane @leakingtapan

[2019-05-15 18:46] gnufied commented on #77949
Here is k8s logs that confirm that, `describeVolume` did return stale data for volume:

See detach succeeds at 14.30.25:

[code]
and yet:

[code]

so second DescribeVolume API call is actually lying.

[2019-05-15 18:52] gnufied commented on #77949
There are couple of ways of fixing this:

1. Dangling error is used by AWS and Openstack cloudproviders to fix incorrectly attached volumes. We could fix mechanism of dangling volumes, so as when it adds volumes to actual state of the world - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L339 it does so without reporting the volume to

[2019-05-15 19:03] #58292 closed

[2019-05-15 19:21] andrewsykim commented on #69585
This is done now given we're not going forward with staging the open stack provider which contained the last internal dependency.

[2019-05-15 19:21] #69585 closed

[2019-05-15 19:21] gnufied commented on #77949
expanding on fix#1 - I am thinking when we add a volume to actual state of the world via DanglingVolume error, then we should add the volume as "uncertain". We will update the code to not report "uncertain" volumes in node's status and hence in this case volume state will be fixed correctly.

If I understand correctly - @jingxu97 did not intend to report "uncertain" volumes to node's status anyway

[2019-05-15 19:22] aaronbbrown commented on #76699
We've been experiencing a nearly identical problem with a nearly identical haproxy setup as @zigmund.  From the haproxy side, it manifests as a high `Tc` value, which we can mitigate _somewhat_ by setting a low `timeout connect` + a high number of retries.  It manifests both for ingress into NodePort services and _also egress from the Pod network_ to outside of the cluster.  In both cases, we see

[2019-05-15 19:23] alitvak69 commented on #77615
Thank you, everyone, for a quick turn around.  Quick testing showed that
fix is working, but more testing is needed.

On Wed, May 15, 2019 at 1:08 PM Lokesh Mandvekar <notifications@github.com>
wrote:

[2019-05-15 19:29] wojtek-t commented on #77733
I think we actually can - everything that will be scheduled on the node later, will be rejected by Kubelet itself, I think. No?

I think there may be misunderstanding - I don't want to *simply list from watchcache*.
What I want is to:
- list from etcd with limit=0 to get current etcd RV
- wait until watchcache caught up to that RV (with timeout, and fallback to etcd)
- and list from cache only whe

[2019-05-15 19:48] lavalamp commented on #77733
The whole point of this condition is that the node is unavailable, I thought?

[2019-05-15 19:54] lavalamp commented on #77733
I think that's unnecessary; both controllers and kubelets can watch; I think watching is necessary for correctness anyway. Controllers need to handle all possible states of the world, it's a dangerous assumption that the entire rest of the system will never ever e.g. make a late pod assignment.

I didn't have a solution in mind, definitely not one that involved driving the computation into etcd ra

[2019-05-15 20:03] #72085 closed

[2019-05-15 20:04] #72063 closed

[2019-05-15 20:13] Lawouach commented on #7856
Hello,

I was folowing https://github.com/kubernetes/kubernetes/issues/7856#issuecomment-324175182 and I wondered if conditions were still meant to be removed at some point or could we bet on them as a durable public interface to be consumed from?

Thanks,

[2019-05-15 20:32] lavalamp commented on #7856
Conditions are not going to be removed.

I think the best interface around this is a two-step process:
* The ground truth is set as conditions by the components that are nearby, e.g. kubelet sets "disk pressure = true".
* The set of conditions is summarized into phases (or secondary conditions) for consumption by general controllers. E.g., if there is disk pressure, that can be aggregated into `co

[2019-05-15 21:28] neolit123 commented on #77876
/area kubeadm
/assign

[2019-05-15 21:49] olberger commented on #77615
I confirm my initial tests with https://github.com/olberger/vagrant-k8s-kubevirt-katacontainers seem to confirm the regression is fixed. Many thanks

[2019-05-15 21:49] daschott commented on #77943
@absinabs is kubelet still running on the node? What do the kubelet logs say?

[2019-05-15 21:51] oomichi commented on #77103
Thanks everyone, all PRs are ready for fixing this issue at this time.
I'd like to get attention from reviewers for making progress :-)

[2019-05-15 21:59] neolit123 commented on #77924
/triage support
/remove-kind bug

hi, you might get better responses on slack or stackoverflow.
but also there are already *a lot* of related issues:
https://github.com/kubernetes/kubernetes/search?q=137+exit+code&type=Issues

[2019-05-15 22:05] daschott commented on #75148
I believe this issue should be fixed via KB4501371, can you verify once it becomes available?

[2019-05-15 22:41] gdoctor commented on #67566
/reopen

Is this supported yet, and if so, is there any documentation on how to use the new functionality? Linking here before closing would be of great help to the community.

[2019-05-15 23:09] victort commented on #70229
actually, there might be two problems here, I'm having the same problem as @cpressland's first copypasta (the `dockerd` daemon hanging) but i do not at any point see the `iptables-restore` problem. I'm not sure if they're related problems, as i've also switch my clusters over to use `ipvs` instead of `iptables`, however I don't know how much difference it makes as I'm still getting the `dockerd` h

[2019-05-15 23:14] hpandeycodeit commented on #77826
/assign

[2019-05-15 23:31] tallclair commented on #70816
/milestone v1.16

Moving this to v1.16 to keep in sync with https://github.com/kubernetes/enhancements/issues/600.

[2019-05-15 23:35] alitvak69 commented on #77615
I also confirm the fix working for podman.

On Wed, May 15, 2019 at 4:51 PM Olivier Berger <notifications@github.com>
wrote:

[2019-05-15 23:42] 2rs2ts commented on #68684
/remove-lifecycle stale

[2019-05-15 23:51] #77235 closed

[2019-05-15 23:54] thockin commented on #71592
Awesome.  Looking forward to more tests :)

[2019-05-15 23:54] #71592 closed

[2019-05-15 23:58] joewilliams commented on #76699
@zigmund what is your haproxy configuration for [`option redispatch`](https://cbonte.github.io/haproxy-dconv/1.9/configuration.html#option%20redispatch) and [`retries`](https://cbonte.github.io/haproxy-dconv/1.9/configuration.html#retries)? Also, are you tracking [`fc_retrans`](https://cbonte.github.io/haproxy-dconv/1.9/configuration.html#fc_retrans) and/or [`fc_lost`](https://cbonte.github.io/hap

[2019-05-16 00:03] thockin commented on #70229
So far these all seem to be ubuntu -- can we take the reports to Ubuntu forums, where someone relevant might see them?

Is anyone seeing this on a platform OTHER THAN ubuntu?

[2019-05-16 01:17] BenTheElder commented on #77928
if it's only happening for older releases, perhaps a fix was added?

I do not own scheduling tests.
/unassign
cc @spiffxp for conformance
@kubernetes/sig-scheduling-misc

[2019-05-16 02:04] zq-david-wang commented on #77924
If your pod restarted,  "describe pod " should have useful information.

[2019-05-16 02:23] lioncruise commented on #60807
I have some problem while using your approach, what should I do for next step troubleshooting?

[code]

[2019-05-16 04:20] TinySong commented on #74971
do we have any updates for this ?

[2019-05-16 05:37] fejta commented on #76304
* k8s.io/client-go has a valid v11 tag but has not opted into modules.
  - Go treats this as equivalent to a v1 api (v11+Incompatible)
  - Go will not pick a commit after the latest tag.
* k8s.io/apimachinery and k8s.io/api have no valid tags
  - Go treats this as a v0 pseudo-version.
  - Go will pick the latest commit in this repo

IMO even without solving the rest of the module issues, it would

[2019-05-16 05:51] dpreetam commented on #36847
We are running into same challenge with PingFederate. Ping says its not mandatory to send id token with refresh grant as per spec. How building a solution (kubectl flow) making an optional parameter as mandatory parameter for solution to work seamlessly is not in violation of spec?

[2019-05-16 05:55] #75103 closed

[2019-05-16 05:59] fejta commented on #76304
Specifically the issue is that as far as i can tell these instructions:
[code]

Do not result in the dev stream.

It get converted into `k8s.io/client-go v2.0.0-alpha.0.0.20190112054256-b831b8de7155+incompatible` [which](https://github.com/kubernetes/client-go/commit/b831b8de7155) is `v11.0.0` (head is `7b18d6600f6b0022e31c46b46875beffd85cc71a` at the time of writing)

[2019-05-16 06:17] globervinodhn commented on #77488
In line with the conclusion above, I am proceeding to close this proposal. A new test in the current context is redundant and not necessary.

[2019-05-16 06:17] #77488 closed

[2019-05-16 06:50] ajax-2 commented on #77924
我看了下，启动后没有任何其他的日志，只显示健康检查失败，然后我把健康检查去掉了，还是出错

[2019-05-16 06:52] ajax-2 commented on #77924
Yeah, It's a good idea, Maybe i can get answer in stackoverflow! Thanks

[2019-05-16 06:52] #77924 closed

[2019-05-16 07:04] vaibhavk commented on #70421
Hi, can I work on it if it's not resolved yet?

[2019-05-16 07:18] wojtek-t commented on #77733
OK - let me clarify one thing. I agree watching is necessary for correctness.
But at least on startup, listing is necessary to set starting point for watching.
And listing currently is *unnecessarily* expensive, in large clusters by orders of magnitude.
We should fix that independently from what we will do with the controllers.

[2019-05-16 08:09] #77524 closed

[2019-05-16 08:10] #77387 closed

[2019-05-16 08:30] jsafrane commented on #77737
There are two controllers running in parallel without any coordination:
- PV controller that provisions PV. For that, it needs to save PVC with new `volumeName`.
- PVC protection controller that usually just removes a finalizer from PVC when it's about to be deleted. But in case StorageObjectInUseProtection admission plugin is not running, it will also add the finalizer to PVC when it's created, t

[2019-05-16 08:56] jsafrane commented on #77949
This looks like another symptom of #77389.

I tried that, it does not always help. Both `DescribeVolume` and `DescribeInstance` may return the same stale data, see https://github.com/kubernetes/kubernetes/issues/77389#issuecomment-490816078

IMO, #1 is the right way to go. Unless it break something else, all these AWS corner cases were complicated already and now anything can break.

[2019-05-16 09:00] mm4tt commented on #76579
Reg. https://github.com/kubernetes/test-infra/pull/12686 and why we believe it may help with this regression (one of these regressions).

We've noticed an increase in memory used by coredns between runs 328 and 329
![0uQsPcCopoP](https://user-images.githubusercontent.com/2604887/57840523-153d9500-77c9-11e9-9d7d-1371710784d9.png)

This memory increases causes coredns to OOM (due to 170MB memory lim

[2019-05-16 09:36] fenglixa commented on #76146
Your cluster was not clean before you installing kubernetes cluster, you should deployed kubernetes on your env before. Clean you ENV, and re-deploy again could resolve this issue.

[2019-05-16 09:39] Nefelim4ag opened #77967 "Options in system resolv.conf ignored"
**What happened**:
Kubelet ignore options in /etc/resolv.conf for pods with default policy

**What you expected to happen**:
Kubelet must merge that options with default and insert in pod /etc/resolv.conf

**How to reproduce it (as minimally and precisely as possible)**:
Set any options in /etc/resolv.conf, restart kubelet/pod options will not be copied

**Environment**:
- Kubernetes version (use

[2019-05-16 10:04] chrischdi opened #77969 "kubelet/csi fails to unmount on IO errors"
**What happened**:
* Pod called to get deleted
* Pod is stuck in Terminating because Cinder Volume cannot get unmounted by kubelet/csi due to I/O error

**What you expected to happen**:
* Pod called to get deleted
* Disk gets unmounted in host system on I/O error (by CSI/Kubelet)
* pod is terminated

The pod successfully terminates as soon as we umount the two mountpoints manually, for example:
[c

[2019-05-16 10:05] chrischdi commented on #77969
/sig storage

[2019-05-16 10:06] chrischdi commented on #77969
I can partially solve it using the following patch:
https://gist.github.com/chrischdi/de315391b229cb28f01ad35ec04511d2

With this patch the pod gets terminated **but** the disk is still mounted and broken in the OS. If the pod get's scheduled to the same host it is stuck in ContainerCreating.

[2019-05-16 10:08] chrischdi commented on #77969
#75645 may also help

[2019-05-16 10:12] zhangguanzhang commented on #76146
I use the katacoda.com, It is always new

[2019-05-16 10:17] sylr commented on #72717
@liggitt I've a elasticsearch stateful set which have a preHook which never completes and the pod is never killed despite terminationGracePeriodSeconds being set.

Is it related ? If so can this be considered to be cherry-picked on v1.13.x release branch ?

[2019-05-16 10:30] mr-karan commented on #49466
+1 handy feature to have.

[2019-05-16 11:10] alloran commented on #75175
Same issue here on K8s 1.13.5
And yes, we want to use zones feature

[2019-05-16 11:17] alwell-kevin commented on #40973
I am experiencing this issue while attempting to create a kubernetes cluster with eks.

`<user>@User-MBP ~/Desktop/solutions-engineering/jx-sandbox $ jx create cluster eks --cluster-name=cloud-bees-jx-quickstart --skip-installation=true
? Missing required dependencies, deselect to avoid auto installing: eksctl, heptio-authenticator-aws, kubectl, helm
Installing eksctl
Downloading https://github.co

[2019-05-16 11:19] #64103 closed

[2019-05-16 11:26] whitecolor opened #77971 "kubectl top pods: Metrics not available for pod"
**What happened**:

`kubectl top pods --namespace backstage` outputs error:

[code]

**Environment**:
- Kubernetes version : v1.7.6,
- Cloud provider or hardware configuration: 1.11.8-gke.6

[2019-05-16 11:33] mgdevstack commented on #75935
**I feel that main intention of this issue to cover/verify QoS** (_Description has been added for wider range of resource utilisation as an umbrella issue_).

Kubernetes provides different levels of Quality of Service to pods depending on what they request. Here we should verify that, when different `resource.request` and `resource.limit` are specified to the containers of the pod, does appropriat

[2019-05-16 11:34] codersofthedark commented on #67342
Small world :D

For us, detaching the ebs from node manually and then restarting the failed pod did the job. But I guess best way forward will be to upgrade to v1.13

[2019-05-16 11:38] Overv commented on #77929
Never mind this, we can only reproduce this on a specific cluster.

[2019-05-16 11:53] mgdevstack opened #77973 "E2E Proposal: Verity pod behaviour when container specified resource quota exceeds"
**What would you like to be added**:
Proposing different Pod behaviours to be verified when resource quota, specified to the containers are exceeded.

1. **Name**: Pod, memory resource, exceeds limit
**e2e**: Pod should be failed when memory utilisation exceeds it’s limit
**Description**: Create a pod with memory resource (request: 500Kb, limit: 1000Kb). Container keep requesting increasing memory

[2019-05-16 11:56] mgdevstack commented on #77973
Linking to tracking umbrella issue https://github.com/kubernetes/kubernetes/issues/76345

[2019-05-16 11:58] 2vcps commented on #75040
@mylesagray Is this issue being tracked elsewhere? I don't want to escalate and duplicate efforts but this is holding back some PKS + SPBM Customer Solutions we are working on too.

[2019-05-16 12:09] mgdevstack commented on #77973
xref (Impact of resource quota on QoS): https://github.com/kubernetes/kubernetes/issues/75935#issuecomment-493030622

[2019-05-16 12:12] Wade201801 opened #77974 "Failed to add label for pod security policy limt"
**What happened**:
1. After upgrade kubernetes from v1.12.3 to v1.13.4, pod is in round crash, log shows failed to add label for psp limit.
$ kubectl logs --v=8 sg-elastic-data-0 -nanalytics
I0516 11:49:15.980544   29784 loader.go:359] Config loaded from file /root/.kube/config
I0516 11:49:15.981476   29784 loader.go:359] Config loaded from file /root/.kube/config
I0516 11:49:15.988848   29784 loa

[2019-05-16 12:12] krish7919 commented on #70421
I think this is fixed in v1.14 and is cherry-picked in v1.11 onwards.

[2019-05-16 12:15] tiempososcuros commented on #75175
Same issue here on K8s 1.14.1 with the file vsphere_cloud_conf without secrets in CentOS 7 and installation with kubeadm.
I connect successfully to vCenter with the same username and password.

[code]
I have tried to escape the special character of the password and same result.
[code]

### Log vCenter
![image](https://user-images.githubusercontent.com/31760469/57853065-b124cc00-77dc-11e9-859e-811c

[2019-05-16 12:26] pacoxu commented on #17362
Document：https://github.com/kubernetes/website/blob/04163e9a7c45aa447581bc567e9c86e555f7dab1/content/en/docs/concepts/overview/working-with-objects/names.md#names

In code, pod name and service name must be no more than 63 characters.
Labels of DNS1233 should be no more than 63 characters.
Subdomain of DNS1233 should be no more than 253 characters.

https://github.com/kubernetes/kubernetes/blob/8d

[2019-05-16 13:06] #76676 closed

[2019-05-16 13:12] #72050 closed

[2019-05-16 13:44] liggitt commented on #76304
That is not what I see.

`require k8s.io/client-go master` gets auto-converted to `require k8s.io/client-go v0.0.0-20190515063710-7b18d6600f6b`, which is master.

[2019-05-16 13:46] cwdsuzhou commented on #76949
/close

[2019-05-16 13:46] liggitt commented on #76304
[code]

[2019-05-16 13:46] #76949 closed

[2019-05-16 13:49] mattjmcnaughton commented on #77967
Thanks for starting discussion about this!

From reading the documentation, I'm wondering if the solution to this is giving your pods `dnsPolicy: Default`? Confusingly, that is not the same as not specifying a `dnsPolicy`... if you don't specify a `dnsPolicy`, k8s defaults to using `ClusterFirst`. `dnsPolicy: Default` will lead to /etc/resolv.conf being respected, while `dnsPolicy: ClusterFirst` (

[2019-05-16 13:58] mattjmcnaughton commented on #77943
@absinabs

Thanks for reaching out :) Would you mind updating your issue so that it follows the issue template? Here's a link to the template: https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md

[2019-05-16 14:19] uberspot commented on #50375
++1

[2019-05-16 14:20] #77929 closed

[2019-05-16 14:22] namreg commented on #77967
@mattjmcnaughton Could you please clarify `dnsPolicy: ClusterFirst (or dnsPolicy not specified) will not lead to /etc/resolv.conf`? I don't specify `dnsPolicy` for pod, but custom resolv.conf (which given to the kubelet) is applied to pod's container resolv.conf. Also, as I can see in the code, if `dnsPolicy` is `ClusterFirst`, `dnsConfig.Searches` is merged with the custom resolv.conf (https://gi

[2019-05-16 14:56] kragniz commented on #67566
/reopen

This still isn't addressed.

[2019-05-16 15:01] vaibhavk commented on #72158
Hi, if the issue is still unresolved and no one is working on it, I would like to work it

[2019-05-16 15:02] oxddr commented on #77938
Fixed in https://github.com/kubernetes/perf-tests/pull/529

/cc @mm4tt
/close

[2019-05-16 15:19] mylesagray commented on #75040
@2vcps - yes the PKS team is tracking internally

[2019-05-16 15:29] wangwenpei commented on #74850
I tried v1.13.4 and v1.14.1 on rpi and got same issue.
it's very weird.

[code]
it looks cni not inited. but it should be init after kube-api created.

[2019-05-16 15:31] lavalamp commented on #77733
Only for kubelet. Controllers actually need to (and already do) list everything anyway.

[2019-05-16 15:48] #77309 closed

[2019-05-16 15:48] #77521 closed

[2019-05-16 15:48] #77911 closed

[2019-05-16 15:51] laaubert opened #77981 "Controller doesn't taint the node as NoExecute when in NotReady state"
**What happened**:

I have a two nodes (k8s-master and k8s-worker2) cluster. I removed the NoSchedule taint from k8s-master so PoDs can be scheduled on it.

If I shutdown k8s-worker2 or stop its kubelet service, the PoDs running on it are not recreated on k8s-master

**What you expected to happen**:

Based on my understanding of TaintBasedEvictions feature, if the node Ready status changed to Unkn

[2019-05-16 16:05] laaubert commented on #77981
/sig/bugs

[2019-05-16 16:06] richstokes commented on #60140
What do you mean by " inbound ICMP on your loadbalancers to your instances" ?

Do you mean allow ICMP on the instance SG from the LBs? Or allow ICMP on the LBs SG from the instances?

[2019-05-16 16:19] sbskas commented on #77801
@liggitt : At this time we found this workaround to keep our cluster working. If I read the kube doc correctly, having the clusterrole system:nodes is not necessary either.
The apiserver is run like this :
`kube-apiserver \
  --advertise-address=192.168.0.50 \
  --allow-privileged=true \
  --authorization-mode=Node,RBAC \
  --client-ca-file=/etc/kubernetes/pki/ca.crt \
  --enable-admission-plugins

[2019-05-16 16:27] ejmarten commented on #77174
Is there a use case for running a standalone kubelet?  I ran into this and was able to work around it by joining my node to a cluster (which configures and activates kubelet).  Alternately, initializing a cluster on the machine where this is happening also resolves the issue.

[2019-05-16 16:35] laaubert commented on #77981
@kubernetes/sig-scheduling-bugs

[2019-05-16 16:43] mm4tt commented on #77938
/close

[2019-05-16 16:43] #77938 closed

[2019-05-16 16:48] MrHohn commented on #38349
/reopen

[2019-05-16 16:51] MrHohn commented on #38349
Picking this up along with the service finalizer work.
/assign
/remove-lifecycle rotten

[2019-05-16 16:56] msau42 commented on #77174
@cnbailian were there any pods trying to start when this crashed, or was this before any pods were added?

[2019-05-16 17:01] yue9944882 commented on #76774
the http response from kube-apiserver should respect [rfc5861](https://tools.ietf.org/html/rfc5861) and properly set `Cache-Control` http headers so that kubectl can correctly refresh the http.

[2019-05-16 17:02] jpbetz opened #77983 "verify-symbols.sh is not able to verify symbols"
**What happened**:

In recent pull-kubernetes-verify runs, I see:

[code]

**What you expected to happen**:

`verify-symbols.sh` was written to verify certain symbols do not appear in our builds, but it appears our builds (or, at least the hypercube build it uses) don't have symbols in them, so there is nothing for it to verify.

Since the hypercube build done by the script has a cost associated w

[2019-05-16 17:07] lee0c commented on #45509
I'm working with a similar scenario as @chavacava & @antoinne85 , with the added complication that jobs in the queue might be processed by a worker in several seconds or a couple of hours. This makes using jobs a little more complex, as one worker could handle ten messages or 1 & many messages could come in in the time it takes a worker to finish one of the longer running processes.

[2019-05-16 17:13] apelisse commented on #76774
Not that you're wrong or anything, but the problem here is that the client is doing the wrong thing. I still have absolutely no idea how this can have happened to be honest. I'm starting to suspect that something actually returned cache headers somewhere, maybe in minikube?

[2019-05-16 17:18] apelisse commented on #76774
if this happens to anyone, we should look at the cache file to understand what's going on ...

[2019-05-16 17:37] neolit123 commented on #77974
/sig auth

[2019-05-16 17:38] neolit123 commented on #77971
try updating to 1.11 at least. this version is no longer supported.

/sig cli
/remove-kind bug
/triage support

[2019-05-16 17:57] hudsonrio commented on #77971
Had a similar experience with 1.9, also using Google GKE. Simply running `gcloud components update`
which upgraded me to `v1.12.7` resolved the issue.

[2019-05-16 17:58] Huang-Wei commented on #74931
@denkensk Indeed, flaky tests are usually difficult to repro and debug..

A heads-up: I seem to have found the root cause. I'm working on a solution and will raise a PR after thorough testing.

[2019-05-16 18:12] robersongomes commented on #20753
This worked for me:
`kubectl patch pv my-pv-name -p '{"spec":{"claimRef": null}}'`

Thanks @luhkevin !

[2019-05-16 18:14] nkkashyap opened #77986 "NFS volume is not writable for non-root user"
**What happened**:
A pod running as non-root user (with `securityContext` set) is not able to create a directory under NFS Volume. The `mkdir` cmd is throwing `Permission denied`
`mkdir: cannot create directory '/mnt/nfsvol/userdata': Permission denied`

**What you expected to happen**:
With with securityContext set (`runAsUser: 2020` and  `fsGroup: 2020`) the POD should be able to create and writ

[2019-05-16 18:16] nkkashyap commented on #77986
@kubernetes/sig-Storage

[2019-05-16 18:18] nkkashyap commented on #77986
/sig storage

[2019-05-16 18:20] robersongomes commented on #48609
Those are the steps that worked for me:

1. Remove `claimRef` from PV:
`kubectl patch pv my-pv-name-123465789 -p '{"spec":{"claimRef": null}}'`

2. Create a PVC setting volumeName:
[code]

[2019-05-16 18:24] #72058 closed

[2019-05-16 18:25] liggitt opened #77988 "Simultaneous calls to add a finalizer and delete can race"
Store#Delete begins by looking up the existing object:

https://github.com/kubernetes/kubernetes/blob/8ae998ceb69ae83afe730795aea3bd44913ad868/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L865-L875

If that object has no pending finalizers, and that type does not do graceful deletion, and the incoming deletion options do not specify preconditions (uid or resourceVersion) or

[2019-05-16 18:31] liggitt commented on #77988
the checks of the existing object's finalizers should really be done inside a GuaranteedUpdate-like loop, only one that deletes instead of updates

[2019-05-16 18:36] oomichi commented on #77706
/remove-kind bug

[2019-05-16 18:49] wojtek-t commented on #77733
Modulo this node controller manager, but yes I agree.

But the important point is that with a shared cache, we have O(1) list on initialization from controller. And in 5k-node cluster, you have 5k kubelets...

[2019-05-16 19:11] aojea commented on #77682
/remove-triage unresolved

[2019-05-16 19:16] imkin commented on #75780
@feiskyer that is good to know.
@feiskyer @tpepper In practice how have we decided to update the go version in the past. What level justification is required? Should a SIG prove that this is worth the update or a blanket it-fixes-these-two-security-issues/bugs and it-impacts-these-two-kube-binaries/libs is sufficient?

This also effects kubectl I believe.

@kubernetes/sig-cli-misc

[2019-05-16 19:31] rehevkor5 commented on #68227
I experienced this issue as well. The annotations were not present in the resulting Service, and the desired effects (adding Tags to the ELB, setting specific Security Groups) were not achieved. After adding quotes to these two annotations, it started working:

[code]

Ideally, Kubernetes would give some kind of an indication that something didn't work properly. Otherwise, this could be a security

[2019-05-16 20:02] laaubert commented on #77981
I added another worker (k8s-worker3) to the cluster without changing anything on the other nodes. I deployed my Pods on worker2 & 3 and then stop the kubelet service on worker3.

This time, it worked as expected. The controller add the NoExcute taint to worker3 and a new PoD was created on worker2:

Below are the controller logs

[code]

and the status of the node:

[code]

So I came to the conclu

[2019-05-16 20:23] fedebongio commented on #77988
/assign @apelisse

[2019-05-16 20:30] invaliddata opened #77992 "Warn about deletion of namespaces"
**What would you like to be added**:
Incorrect attempts to delete namespaces via kubectl
kubectl delete namespace -n <some namespace> --all
deletes all namespaces without warning.  This is sometimes possible when quickly editing previous commands with a similar format, eg kubectl delete pods -n < namespace> --all

[2019-05-16 20:57] alvaroaleman commented on #32326
/reopen

@hangyan @brancz I believe closing this issue via #69099 is a misunderstanding. #69099 is about adding the literal `pod` label to the cadvisor metrics. This issue is about adding the labels that are on the pod as label to the cadvisor metrics.

[2019-05-16 20:58] mml commented on #55453
/remove-lifecycle stale

*From: *fejta-bot <notifications@github.com>
*Date: *Wed, May 15, 2019 at 2:07 PM
*To: *kubernetes/kubernetes
*Cc: *Matt Liggett, Mention

Issues go stale after 90d of inactivity.

[2019-05-16 21:01] loqutus commented on #77992
i'm going to work on it

[2019-05-16 21:15] andrewsykim commented on #77903
@petermetz can you share any logs from kube-proxy?

[2019-05-16 21:18] yangnaihua commented on #23726
$ kubectl apply -f Deployment.yaml
unable to recognize "Deployment.yaml": Get http://localhost:8080/api?timeout=32s: dial tcp 127.0.0.1:8080: connect: connection refused
unable to recognize "Deployment.yaml": Get http://localhost:8080/api?timeout=32s: dial tcp 127.0.0.1:8080: connect: connection refused

[2019-05-16 21:19] freehan commented on #72511
Ping

[2019-05-16 21:19] freehan commented on #70945
Ping

[2019-05-16 21:20] vllry commented on #77493
Hi @krcroft, is the issue just the log messages, or do the kube-proxy features actually fail?

[2019-05-16 21:21] cclark1974 opened #77993 "Pod Pending due to unbound persistent volume claims"
kubectl describe pods cdi-upload-flex-vnf-volume-claim
Name:               cdi-upload-flex-vnf-volume-claim
Namespace:          default
Priority:           0
PriorityClassName:  <none>
Node:               <none>
Labels:             app=containerized-data-importer
                    cdi.kubevirt.io=cdi-upload-server
                    service=cdi-upload-flex-vnf-volume-claim
Annotations:        c

[2019-05-16 21:23] freehan commented on #64188
Ping

[2019-05-16 21:25] freehan commented on #62594
Can you update your k8s cluster to a supported version?

[2019-05-16 21:31] freehan commented on #49546
reopen if needed

[2019-05-16 21:31] #49546 closed

[2019-05-16 21:34] andrewsykim commented on #70493
@WalBeh are you able to share logs from kube-proxy after you've reproduced this?

[2019-05-16 21:40] freehan commented on #48107
reopen if needed

[2019-05-16 21:42] freehan commented on #47733
Is this still an issue?

[2019-05-16 21:45] freehan commented on #45976
reopen if needed

[2019-05-16 21:45] #45976 closed

[2019-05-16 21:49] shcallaway commented on #27973
Update for Terraform users:

There is now an `automount_service_account_token` parameter for the `kubernetes_service_account` resource: https://www.terraform.io/docs/providers/kubernetes/r/service_account.html#automount_service_account_token

[2019-05-16 21:51] freehan commented on #18623
reopen if needed

[2019-05-16 21:51] #18623 closed

[2019-05-16 21:53] #14204 closed

[2019-05-16 21:54] whitecolor commented on #77971
I'm on window 10 WSL it seems it is the latest version available there (
![image](https://user-images.githubusercontent.com/736697/57889750-0a2d4800-784f-11e9-96f7-7a0037dc1627.png)

[2019-05-16 21:54] #13535 closed

[2019-05-16 21:54] freehan commented on #9132
reopened if needed

[2019-05-16 21:54] #9132 closed

[2019-05-16 21:56] whitecolor commented on #77971
Yes updated to 1.14.  thanks)

[2019-05-16 21:56] #77971 closed

[2019-05-16 21:58] saiyan86 commented on #75172
@thockin Can you please review the related PR? I'll @you in the PR again. Thanks!

[2019-05-16 22:10] derekwaynecarr commented on #77864
keep in mind pods still have to follow graceful termination, and if those pods are backed by a workload controller like a stateful set, the pods will not just get created.  at this time, an administrator would have to force delete those pods (as the platform right now is not able to detect that the node is network partitioned or powered on yet, but work is in progress to enable this).

[2019-05-16 22:50] selslack commented on #66306
/remove-lifecycle stale

[2019-05-16 23:06] #76105 closed

[2019-05-16 23:27] #13488 closed

[2019-05-16 23:56] Huang-Wei commented on #77045
The `v1` is introduced by `goimports` which is the default option in vscode I guess.

Here is the journey I fight with the annoying `v1` alias :) FYI:

Sometime late last year, I happened to see some of files autosaved with an unnecessary import alias like:

[code]

This really annoyed me, and finally I found the solution to change default formatting tool from `goimports` to `gofmt`.

Everything w

[2019-05-16 23:59] bsalamat opened #77998 "Add PreFilter extension point of the scheduling framework"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and a few extension points, such as "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps

[2019-05-17 00:00] ahg-g commented on #77998
I will take on this one :)

[2019-05-17 00:03] yujuhong commented on #77682
I'm not sure what needs to be added to CRI in this particular case. Networking has very little footprint in CRI, and is considered mostly handled by the runtime (and CRI implementation) directly. For IP ranges, if the pod cidr is not set, docker can report not ready so that kubelet can surface the condition properly. Do you have anything more specific in mind?

[2019-05-17 00:07] mkimuram opened #77999 "Move volume_expand tests to storage e2e testsuites"
**What would you like to be added**:
Move volume_expand tests to storage e2e testsuites

**Why is this needed**:
This will allow sharing volume_expand tests with csi-drivers and other in-tree drivers than aws and gce, as a result, test coverage will increase.

/sig storage
cc @gnufied  @msau42

[2019-05-17 00:19] ahg-g commented on #77998
/assign

[2019-05-17 00:32] cnbailian commented on #77174
@msau42
Before add pods.

[2019-05-17 00:43] emalamisura-c2m commented on #62788
https://github.com/kubernetes/kubernetes/blob/d24fe8a801748953a5c34fd34faa8005c6ad1770/pkg/kubelet/kubelet.go

Its 300 seconds.

[2019-05-17 00:47] elucidsoft commented on #62788
https://github.com/kubernetes/kubernetes/blob/d24fe8a801748953a5c34fd34faa8005c6ad1770/pkg/kubelet/kubelet.go

Its 300 seconds.

[2019-05-17 00:56] andyzhangx commented on #75619
/close
close this issue since it's already fixed in VMSS RP on Azure.

[2019-05-17 00:56] #75619 closed

[2019-05-17 01:25] bsalamat commented on #77998
@ahg-g Since you are not a member of the K8s community, we cannot officially assign the issue to you, but we consider it taken by you. Please send a PR when you can. There is no rush. This can be added in 1.16.

[2019-05-17 01:54] bsalamat opened #78001 "Add Filter extension point of the scheduling framework"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and a few extension points, such as "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps

[2019-05-17 01:56] bsalamat opened #78002 "Add Scoring extension point of the scheduling framework"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and a few extension points, such as "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps

[2019-05-17 01:57] zerkms opened #78003 "Upgrade coredns to v1.4.0 or v1.5.0"
**What would you like to be added**:
A newer version of coredns

**Why is this needed**:
Currently shipped v1.3.1 is affected by https://github.com/coredns/coredns/issues/2629 issue, which causes the cluster outage if API server goes away temporarily.

[2019-05-17 01:58] ahg-g commented on #78002
I can do this one as well.

[2019-05-17 01:59] zerkms commented on #78003
/sig node

[2019-05-17 02:00] bsalamat opened #78004 "Add PostFilter extension point of the scheduling framework"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and a few extension points, such as "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps

[2019-05-17 02:08] bsalamat opened #78006 "Add Bind extension point of the scheduling framework"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and a few extension points, such as "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps

[2019-05-17 02:21] tedyu commented on #78004
/assign

[2019-05-17 02:26] YoubingLi commented on #78001
I will work on it

[2019-05-17 02:27] tedyu commented on #78004
Looking at Scheduler#scheduleOne and framework, I don't see filtering.

Should I look at some other class ?

Thanks

[2019-05-17 02:27] chenchun commented on #78006
/assign

[2019-05-17 02:29] chenchun commented on #78006
Can I take this as I have current written a scheduler plugin project and I want to be familiar with the new framework through this?

[2019-05-17 02:31] zerkms opened #78007 "StatefulSet does not upgrade to a newer version of manifests"
**What happened**:
If a `StatefulSet` stucks at the failing init container - it's impossible to fix it via a redeploy.

**What you expected to happen**:
If a new version of `StatefulSet` is deployed - a new set of pods eventually should be created

**How to reproduce it (as minimally and precisely as possible)**:
Here is a repository with all the necessary manifests https://github.com/zerkms/state

[2019-05-17 02:32] zerkms commented on #78007
/sig scheduling

[2019-05-17 02:34] boxuan666 commented on #76531
ubuntu 16.04.6 has same problem

[2019-05-17 02:37] Wade201801 commented on #77974
@kubernetes/sig-contributor-experience-bugs

[2019-05-17 02:37] Wade201801 commented on #77974
/sig bugs

[2019-05-17 03:48] JishanXing commented on #78003
I will work on it.

[2019-05-17 03:56] nikhita commented on #77974
/remove-sig contributor-experience

[2019-05-17 04:07] k-toyoda-pi commented on #77103
It seems that some files in e2e/common contain "Expect(err).NotTo(HaveOccurred()".
Is someone working to that? Can I take it?
- test/e2e/common/configmap_volume.go
- test/e2e/common/downwardapi_volume.go
- test/e2e/common/expansion.go
- test/e2e/common/init_container.go
- test/e2e/common/node_lease.go
- test/e2e/common/privileged.go
- test/e2e/common/projected_configmap.go
- test/e2e/common/projec

[2019-05-17 04:43] feiskyer opened #78011 "LoadBalancer Service stuck on pending when EnableTcpReset is enabled on SLB"
**What happened**:

LoadBalancer Service stuck on pending when EnableTcpReset is enabled on SLB:

[code]

This is because the Azure network API version 2017-09-0 is too old. To fix it, the API verison should be upgraded to at least 2018-07-01.

**What you expected to happen**:

Azure cloud provider should set the LB rules successfully.

**How to reproduce it (as minimally and precisely as possible

[2019-05-17 04:44] feiskyer commented on #78011
/milestone v1.15

[2019-05-17 05:25] rajansandeep commented on #78003
CoreDNS v1.5.0 has been planned to be included for k8s 1.15
/assign

[2019-05-17 05:37] brancz commented on #32326
I see. I think that’s metadata that should be joined onto the metric at query time (this data itself is already available in kube state metrics). More importantly labels on a pod can change over a pod’s lifetime which if we added pod labels to these metrics they would be marked stale and produce a new time-series which wouldn’t reflect the reality.

[2019-05-17 05:48] wojtek-t commented on #48107
Hmm - it still seems to be an issue - it was actually the main reason why we had to revert: https://github.com/kubernetes/kubernetes/pull/77541

[2019-05-17 05:52] dougm commented on #77360
I have it working with the change below, but need to figure out a few things first:

* Why this is the case when run inside kubelet and not govc (note that the port change to 443 breaks govc)

* A good way to determine which port to use (depends on the answer to the above)

* If this is behavior is specific to 6.7U2 or something triggered by a change in K8s

I suppose a quick fix would change `Sig

[2019-05-17 05:52] dougm commented on #77360
/assign

[2019-05-17 06:07] justaugustus commented on #78011
ref: #78012

[2019-05-17 06:14] wojtek-t commented on #75833
With this being fixed in head and 1.14.2 released with the fix, I'm closing this one as fixed.

[2019-05-17 06:14] #75833 closed

[2019-05-17 06:22] draveness commented on #77103
I'll work on this after the above PRs get merged.

[2019-05-17 06:25] feiskyer opened #78013 "pull-kubernetes-e2e-aks-engine-azure is failing"
**Which jobs are failing**:

pull-kubernetes-e2e-aks-engine-azure

**Which test(s) are failing**:

Cluster setup error:

[code]

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

[2019-05-17 06:25] feiskyer commented on #78013
/sig azure
/kind failing-test

[2019-05-17 06:34] aleicher commented on #63959
👍 would be great to have that in place. thanks!
I can confirm that the manual workaround by @aranair works fine, but it is hard to automate that flow.

[2019-05-17 07:12] ozankabak commented on #75457
There has to be an "official" straightforward way to assign node roles via the `kubeadm` config file. If `node-labels` is not going to support this use case, some other mechanism/key should. Assume that you have something like an auto-scaling group for "worker" nodes. The most natural thing to do would be to provision them with a `kubeadm` config file that assigns "worker" roles to these nodes at

[2019-05-17 07:17] steveLiuu commented on #64103
@stefanosirplay
try edit `configMapRef:` into `configMapKeyRef:`

[2019-05-17 07:51] aojea commented on #77682
That´s fair enough, the CRI implementation can get some of those parameters directly from the label and annotations fields, and seems that the idea is to EOL the PodCIDR #57130

[2019-05-17 07:51] #77682 closed

[2019-05-17 08:28] christhomas commented on #37218
Why can't you just make the liveness probe an array by default and we just put 1..n probes and you just loop through them, wouldn't that solve this problem easily enough?

[2019-05-17 08:49] #74878 closed

[2019-05-17 08:50] feiskyer commented on #78013
The hyperkube subcommand has changed in #76953, so aks-engine should be upgraded to fix the cluster setup failure.

This has been fixed in https://github.com/Azure/aks-engine/pull/1279. Pending on the new aks-engine release now.

[2019-05-17 09:00] k-toyoda-pi commented on #77103
I believe that `NotTo` is the same behavior as `ToNot`.
So, can we replace `Expect(err).ToNot(HaveOccurred())` to `ExpectNoError`?

[2019-05-17 09:04] #71760 closed

[2019-05-17 09:04] #77944 closed

[2019-05-17 09:04] laaubert commented on #77981
I did another test where I added a custom NoExecute taint on k8s-worker3. In this case, my PoD was initially deployed on k8s-worker2 and when I stopped kubelet service on k8s-worker2, the PoD was redeployed on the master node.

[2019-05-17 09:11] naveen230 opened #78017 "502 server error while using ingress"
**What happened**:

All the backend services is shown healthy in the console but cannot access the application

**How to reproduce it (as minimally and precisely as possible)**:

Here are the manifests I used,
deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  selector:
    matchLabels:
      purpose: frontend
  replicas: 1
  template:
    metadata:
      labels:

[2019-05-17 09:13] naveen230 commented on #78017
@kubernetes/sig-contributor-experience-bugs

[2019-05-17 09:15] nikhita commented on #65180
/reopen

This came up again on slack: https://kubernetes.slack.com/archives/C2C40FMNF/p1558084193313400

@sttts can you add an example of such a PR here?

[2019-05-17 09:15] nikhita commented on #65180
/remove-lifecycle rotten

[2019-05-17 09:17] nikhita commented on #65180
/sig contributor-experience

[2019-05-17 09:18] nikhita commented on #78017
/remove-sig contributor-experience
/sig network
/triage support

[2019-05-17 09:18] pjmagee commented on #56188
So, Kubernetes supports NFS using Windows Containers?

[2019-05-17 09:19] sttts commented on #65180
Here is an example: https://github.com/kubernetes/kubernetes/pull/77756

We have had a couple of them recently while working towards graduating APIs: pure test coverage PRs.

[2019-05-17 09:34] andyzhangx commented on #56188
No, it's not implemented yet.

[2019-05-17 09:54] wu0407 opened #78020 "kube-proxy not support multi --cluster-cidr"
**What happened**:
set multi cluster-cidr in kube-proxy config file not work

the log output:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
kube-proxy config file /etc/kubernetes/kube-proxy-config.yaml
[code]

start command line
[code]
ERROR log
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kub

[2019-05-17 10:01] s-ito-ts commented on #77103
It seems that "Expect(err).NotTo(gomega.HaveOccurred())" remains with some files under test/e2e/storage/vsphere.
I fix it in #78021

[2019-05-17 10:07] chrissng commented on #64743
I am facing this issue too. On Kops, K8s 1.11.8.

[2019-05-17 10:17] vikaschoudhary16 commented on #77041
no luck in reproducing:
[code]

[2019-05-17 10:20] bclau opened #78023 "kubelet & kube-proxy logs flooded"
**What happened**:

Looking through a node's kubelet's logs, we've observed that it's extremely difficult to look through it because of several error messages flooding it over and over: https://paste.ubuntu.com/p/mZHs9f34Ft/

**What you expected to happen**:

Error messages are important and they should not be ignored, but the same error messages should not fill the entire log files (the same erro

[2019-05-17 11:13] zigmund commented on #76699
@joewilliams
[code]

Currently we collecting almost everything can get from haproxy stats. For example, server stats:
[code]

[2019-05-17 11:20] saravanakumarrajendran opened #78024 "mount: special device /var/lib/kubelet/plugins/kubernetes.io/vsphere-volume/mounts/[workload_share_0 ] volumes/myDisk does not exist"
Tried this option
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/kubernetes-volumes.html
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/persistent-vols-claims.html

Volume creation

vmkfstools -c 2G /vmfs/volumes/workload_share_0/volumes/myDisk.vmdk

Tried directly creating pod to attach.

#vsphere-volume-pod.yaml

apiVersion: v1
kind: Pod
metadata:

[2019-05-17 11:31] lioncruise commented on #60807
My problem can be solved by this script:  `https://github.com/ctron/kill-kube-ns/blob/master/kill-kube-ns`.

[2019-05-17 12:10] saravanakumarrajendran commented on #78024
/sig vmware
/sig storage

[2019-05-17 12:18] guitmz commented on #68737
I have a problem with this approach (azure aks). Even after changing the stateful set disk size and applying it again, I still need to restart the pods as stated before but since the stateful set recreates the pods quickly, there's no time for the disk to be detached from the node and resized before the new pod attaches it again. This results on the pvc being stuck with `type: Resizing` (despite s

[2019-05-17 12:41] #64047 closed

[2019-05-17 13:04] neolit123 commented on #75457
the boostrap kubeconfig of a kubeadm worker node does not have the privileges to self-assign role labels for this node. due to security measures, it's unlikely this will change anytime soon.

if you trust your workers you can create a new kubeconfig file that can do this, but you still have to copy it to the workers.

[2019-05-17 13:29] istikamet commented on #77663
Finally worked, removed hypens front specs and placed front of names, after than you have to create pod with validate parameter end of it, like below.

`kubectl create -f vsphere-volume-pvcscpod.yaml --validate=false`

Playing with yaml,json parameters dont have to be solution but at least working at the moment. Here is the working pod yaml after changing hypens
[code]

[2019-05-17 13:29] mattjmcnaughton commented on #78003
Total curiosity question :) Is there a guide somewhere that lists what 3rd party version upgrades we intend to perform in what k8s version? Or is it on a more adhoc basis?

[2019-05-17 13:30] istikamet commented on #77916
Finally worked, removed hypens front specs and placed front of names, after than you have to create pod with validate parameter end of it, like below.

`kubectl create -f vsphere-volume-pvcscpod.yaml --validate=false`

Playing with yaml,json parameters dont have to be solution but at least working at the moment. Here is the working pod yaml after changing hypens
[code]

[2019-05-17 13:44] #71871 closed

[2019-05-17 13:53] nikopen commented on #75482
/milestone v1.16
/sig apps
/kind bug
/priority important-soon

I'd say it's a bug as `drain` is not able to hold its promise of `--ignore-daemonsets=false` which is even the default value.

Prioritizing this for the next release, ideally

[2019-05-17 13:56] mattjmcnaughton commented on #77967
Thanks for looking at this with me :)

I'm looking at https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/dns/dns.go#L324 which seems to show that if the `dnsType` is `podDNSCluster`, then `dnsConfig.Options` will be set to `defaultDNSOptions`. My understanding is that `dnsType` will equal `podDNSCluster` if we do not specify a `dnsPolicy` for the pod.

In other words, I _thin

[2019-05-17 14:06] chrisohaver commented on #77800
This sounds like a problem with the flannel pod network add on. Try these troubleshooting steps: https://github.com/coreos/flannel/blob/master/Documentation/troubleshooting.md

[2019-05-17 14:06] divyenpatel commented on #77663
@istikamet

you should not disable spec validation.
You can validate yaml files using https://codebeautify.org/yaml-validator.

I see you were getting this error.

mount: special device /var/lib/kubelet/plugins/kubernetes.io/vsphere-volume/mounts/[KUBEDATASTORE] kubevols/kubernetes-dynamic-pvc-eb27986d-762d-11e9-aff9-005056b068e3.vmdk does not exist

Can you check on your node VM, where pod is sch

[2019-05-17 14:06] chrisohaver commented on #77800
/remove-triage unresolved

[2019-05-17 14:08] liggitt commented on #71138
fixed in https://github.com/kubernetes/kubernetes/pull/78029

[2019-05-17 14:09] liggitt commented on #74105
fixed in https://github.com/kubernetes/kubernetes/pull/78029

[2019-05-17 14:13] wojtek-t commented on #56694
Reopening, because there are some tests we still want to add before we start using it.
@yastij is working on that.

[2019-05-17 14:24] divyenpatel commented on #77663
@istikamet

Looks like issue is after updating kubelet parameters on the master node with `--cloud-provider=vsphere` flag, you have restarted kubelet.
which allowed creating volumes successfully.

but if you are seeing this issue while mounting volume, then on the worker nodes, looks like kubelet does not have `--cloud-provider=vsphere` flag set properly, or kubelet is not restarted after setting

[2019-05-17 14:36] cclark1974 commented on #77993
8s-master ~]$ kubectl apply -f /home/dell/flex-volume.yaml
persistentvolume/flex-vnf-volume created
k8s-master ~]$ kubectl apply -f /home/dell/flex-volume-scratch.yaml
persistentvolume/flex-vnf-volume-scratch created
k8s-master ~]$ kubectl get pv
NAME                      CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS      CLAIM   STORAGECLASS   REASON   AGE
flex-vnf-volume           100Gi

[2019-05-17 14:40] wojtek-t commented on #76492
It seemed to be some interim issue. Closing now.

[2019-05-17 14:40] #76492 closed

[2019-05-17 14:51] istikamet commented on #77663
i have checked pod yaml from your link it says that Valid Yaml, but you are right Right playing with specs confuse the kubelet.

Pod  now in running state but this path still not present, i now checked the Node virtual machine and vmdk not attached. İt was beeing attached to virtual machine with original pod yaml.

[2019-05-17 14:55] shahbour commented on #77663
You might had set it but did not restat kubelet .

Do

ps -ef | grep kublet

On Fri, May 17, 2019, 5:41 PM istikamet <notifications@github.com> wrote:

[2019-05-17 14:55] thockin commented on #37218
We COULD do this, but please understand the other side of the discussion.

There is a viable workaround (run an HTTP health sidecar that proxies to
the AND of all your individual probes).

This would be a non-trivial API change (s e conventions on pluralizing
existing fields) with less than perfectly clear semantics.  API
compatibility is not always easy.

Whatever use-cases we dream up here, some

[2019-05-17 15:00] oxddr commented on #66651
cc @mborsz

We are affected by this bug too. In short, `conntrack` table contained a stale entry pointing to non-existing pod anymore (pod has been restarted for unrelated reason). This resulted in blackholing some DNS lookups on the machine.

As a workaround I've flushed whole conntrack table manually, which seemed to solve the problem. However this was a test cluster, so I could afford to do tha

[2019-05-17 15:19] draveness commented on #78007
I could work on this and try to make a fix.

/assign

[2019-05-17 15:21] wu0407 opened #78038 "kube-proxy ipvs not work correct under calico with Advertising services over BGP"
kube-proxy  enable ipvs not work correct that  on the host-endpoint to request service cluster ip

1. on the master node to dig  kubernetes.default.svc.cluster.local from service cluster ip ,the response ip
 is pod ip,not the service cluster ip.
2. dig kubernetes.default.svc.cluster.local  in  node  is ok.
3. if set kube-proxy cluster-cidr 10.1.0.0/16, same dig on master is work, but on node is no

[2019-05-17 15:42] dcbw commented on #61005
If you are still seeing this, please grab:

1) pod logs for the kube-proxy pod or the kube-proxy process ("docker logs" for the container, or "journalctl -b _PID=<pid of kube-proxy process>" if not)
2) the output of "iptables-save"

[2019-05-17 16:19] neolit123 commented on #78023
/sig node

[2019-05-17 16:21] neolit123 commented on #78020
as can be seen in the KubeProxyConfiguration the CIDR field is not a map:
https://godoc.org/k8s.io/kube-proxy/config/v1alpha1#KubeProxyConfiguration

/remove-kind bug
/kind feature
/sig network

[2019-05-17 16:21] neolit123 commented on #78038
/sig network

[2019-05-17 16:22] neolit123 commented on #77992
/sig cli

[2019-05-17 16:22] neolit123 commented on #77993
/sig storage

[2019-05-17 16:44] oomichi commented on #77103
@k-toyoda-pi

This is a really nice point, I also think they are the same.
However, it is better to concentrate on 'NotTo' case only at this time because that is majority and many people are still adding it. We need to put the CI script for blocking these additions with https://github.com/kubernetes/kubernetes/pull/77612
After that, we will be able to take care of 'ToNot' case with another issue.

[2019-05-17 16:44] oomichi commented on #77103
@s-ito-ts Thanks approved.

[2019-05-17 17:12] #38349 closed

[2019-05-17 17:16] thockin commented on #69599
Agree with @ahg-g - we can't do synchronous validation of this, and I don't think we'd want to.

We could define what happens when you do this (e.g. the Service with the oldest CreationTimestamp wins) but even that seems like realllllly diminishing returns.

My inclination is to close this as "working as intended" but I want to here if anyone thinks the stable-sort behavior is worth the effort.  K

[2019-05-17 17:17] Huang-Wei commented on #77981
I think you've found the root cause:

Unfortunately, controller-manager doesn't take "master" node into consideration when checking if the cluster is in partial or fully disrupted mode:

https://github.com/kubernetes/kubernetes/blob/314264aeafb94d4948a3f117bcc4382eba10dede/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L685-L686

/sig apps

[2019-05-17 17:30] skandabhatt commented on #34314
I'm having the same issue. Is the issue resolved ?. If yes, can anyone provide step by step instructions on resolving the issue?

[2019-05-17 17:33] skandabhatt commented on #75846
I'm having the same issue. Is the issue resolved ?. If yes, can anyone provide step by step instructions on resolving the issue?

[2019-05-17 17:34] ahg-g commented on #69599
Perhaps we just can document that using duplicate externalIPs results in undefined behavior.

[2019-05-17 17:35] oomichi commented on #77103
@k-toyoda-pi

Sorry, that was my bad. I've taken care of that with the above PR.
I will try asking folks in KubeCon next week so that these all PRs are merged.

[2019-05-17 17:38] bsalamat commented on #78006
@chenchun Yes, I consider this PR assigned to you. We cannot assign it to you officially though, since you are not a member of the K8s community yet.

[2019-05-17 17:39] bsalamat commented on #78001
@YoubingLi Thanks. I consider this assigned you.

[2019-05-17 17:40] thockin commented on #69599
It's really not different than if you set the status of 2 services to have
the same LB IP

On Fri, May 17, 2019 at 10:35 AM ahg-g <notifications@github.com> wrote:

[2019-05-17 17:44] bsalamat commented on #78004
`ScheduleOne` eventually calls `genericScheduler` functions for filtering and scoring nodes. PostFilter plugins must be invoked by `genericScheduler`. Ideally, we should get rid of `genericScheduler` and replace it with the `Framework`, but that's a bigger refactoring which we will do later, after the Framework is built.

[2019-05-17 17:47] #49472 closed

[2019-05-17 17:47] #72108 closed

[2019-05-17 18:33] bsalamat commented on #78002
@ahg-g I consider this as assigned.

[2019-05-17 18:37] yujuhong commented on #77682
Yep, that's the long-term plan, unless sig-network changes their mind. If that happens, we can reopen/revisit the issues.

[2019-05-17 18:40] lzecca78 commented on #76774
Happens the same in my team after a crash of the vm with minikube. I tried to reboot the vm, going inside the vm and using kubectl from within the vm, everything works perfectly, but outside the vm(from the laptop) the response is always `error: You must be logged in to the server (Unauthorized)` even if the vm switched off. Same behaviour i mean.

[2019-05-17 18:47] #71669 closed

[2019-05-17 18:50] ahg-g commented on #67019
@dchen1107 @derekwaynecarr @Random-Liu  we think it is reasonable to expand hostname and domainname to cover HostNetwork cases, any concerns from sig-node? does this violate any assumptions related to CRI implementations?

[2019-05-17 19:12] saad-ali commented on #75738
Hi @divyenpatel thanks for your reply.

Correct. This only effected VMDKs not the entire storage array. Something happened in the cluster which put pressure on the VMs, as Kubernetes moved pods to address the resource issue, the disks refused to move.

The biggest problem was that we couldn't "unstick" the VMDKs after this. The only way out was to provision new disks and deleting VMs and then dele

[2019-05-17 19:14] tpepper opened #78047 "MacOS build broken (again) by bash"
Commits 38b7f2125fa and 7e2aa46f64a on master via PRs #77985  and #77910 have broken MacOS 'make' again:

[code]

where "MacOS" is a non-homebrew extended MacOS with old old bash.

This is also reported on other older platforms like CentOS.

Master needs fixed with a new commit, then the above PRs and #77362 and the new fix need cherry picked to 1.14 as 1.14.2 is currently not buildable as #76974

[2019-05-17 19:14] tpepper commented on #78047
/sig release
/priority critical-urgent

[2019-05-17 19:15] tpepper commented on #78047
/cc @BenTheElder @figo

@cblecker is looking at this

[2019-05-17 19:21] pjh commented on #75148
/assign pjh

Yes, I'll verify the fix when that KB is available (end of June).

[2019-05-17 19:48] #71383 closed

[2019-05-17 19:52] mikedanese opened #78050 "Failing Test: sig-gcp#gke-gci tests are failing on diff due to PV leak"
https://testgrid.k8s.io/sig-gcp-master#gci-gke

Example:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/1129457203518902274

[code]

@msau42 @saad-ali

[2019-05-17 20:07] laaubert commented on #77981
Thanks Huang-Wei for your confirmation. I'm guessing this logic assumed there is no workload on the Master but the fact we can actually configure the Master to support PoDs, It might make sense to update this logic. My use case is to package a solution which includes several components into a two boxes cluster and drop it at my customer sites.  Adding a 3rd server increase my cost and I have resou

[2019-05-17 20:28] msau42 commented on #78050
/assign @verult

[2019-05-17 20:31] frodenas commented on #77535
@subramanian-neelakantan, besides @embano1 questions, which k8s version supports `WaitForFirstConsumer` volume binding mode? I've been testing it on a v1.13.5 cluster and even when the scheduler is adding the `volume.kubernetes.io/selected-node` label to the pvc, the VCP (with zones) is creating the pv on a datastore not accessible for that particular node.

[2019-05-17 20:49] #63435 closed

[2019-05-17 21:04] tedyu commented on #77981
I think it may be more than just a flag which allows creating Pods on the master node.
When additional workload gets on the master, how do we ensure that the master functions as it does without resource contention ?

[2019-05-17 21:11] bowei commented on #67019
/sig node

[2019-05-17 21:12] bowei commented on #67019
/remove sig-apimachinery

[2019-05-17 21:12] bowei commented on #67019
/remove sig/apimachinery

[2019-05-17 21:12] chardch commented on #73948
Hi @PaulFurtado,

Is it the case that this issue never wants the extended resources to be zero'd out, or just not upond kubelet restart? Also to confirm, you are not using a device plugin?

[2019-05-17 21:13] bowei commented on #67019
/remove sig-apimachinery

[2019-05-17 21:13] bowei commented on #67019
/remove-sig apimachinery

[2019-05-17 21:13] bowei commented on #67019
/remove-sig api-machinery

[2019-05-17 21:50] #72134 closed

[2019-05-17 22:11] tedyu commented on #78004
/unassign

[2019-05-17 22:15] brahmaroutu commented on #73433
/remove-lifecycle stale

[2019-05-17 22:19] yastij commented on #72897
/remove-lifecycle rotten
/lifecycle frozen

[2019-05-17 22:22] jiatongw opened #78055 "Make release of v1.14.2 failed"
**What happened**:
Make release of v1.14.2 failed. After facing the error `hack/lib/golang.sh: line 295: KUBE_SERVER_PLATFORMS[@]: unbound variable` ([link to code](https://github.com/kubernetes/kubernetes/blob/v1.14.2/hack/lib/golang.sh#L295)) we did 4 `cherry-pick`:

- 38b7f2125fa571bdd9fe3070b808635f88586dd1
- 7e2aa46f64a67a50e8155538750c08b83dffa348
- eaafa5952f8073f51b13dbeafe406019995c8c0b

[2019-05-17 22:22] jiatongw commented on #78055
/sig release

[2019-05-17 22:26] tedyu commented on #78023
In Kubelet#cleanupOrphanedPodDirs, orphanVolumeErrors produced the errors shown in the snippet.

Can we cache the most recent orphanVolumeError across calls to Kubelet#cleanupOrphanedPodDirs ?
If the current error is the same as the most recent, we increment its counter.
When counter reaches 10, we log the error with count.

orphanRemovalErrors can be handled in the same way.

[2019-05-17 22:30] amadav commented on #19077
Do we know if there exists any better way of achieving this?

[2019-05-17 22:31] nelsonjr opened #78056 "Allow listing secrets without disclosing secret data"
**What would you like to be added**:

Allow the ability to list resources without the ability to read its contents

**Why is this needed**:

For secrets, it is preferred to not let users see their contents with the naked eye. However, today is an all-or-nothing proposition: you either list the secrets *and has access to all their content*, or not see them at all.

This prevents users from assertin

[2019-05-17 22:33] nelsonjr commented on #78056
@kubernetes/sig-architecture

[2019-05-17 22:33] laaubert commented on #77981
Shouldn't be the user to make sure the server is sized properly ? Today you just need to remove the default taint on the master to schedule PoDs on it so there is no real safe guards in place anyway.

[2019-05-17 22:45] arnarg commented on #77169
@plutoid I actually managed to get past the error by changing the array you found and also one in runc iirc.

This one:
https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go#L402

Seeing as we're both using kernel 5.0 it's possible that the kernel changed things and fixing this might not be trivial without breaking Kubernetes on ol

[2019-05-17 22:46] liggitt commented on #78056
/remove-sig architecture
/sig api-machinery

[2019-05-17 22:47] liggitt commented on #78056
Can you describe use cases for this? Also, names themselves can be considered private information.

[2019-05-17 23:08] nelsonjr commented on #78056
@liggitt if the names are private then you simply do not grant list.

The use case here is where you have different applications in the same namespace, and you want your developers to be able to see the dashboard, but not access all secrets of all applications.

[2019-05-17 23:14] liggitt commented on #78056
A dashboard that tolerates not being able to list secrets seems like the best approach in that case. Given the narrowness of the use case, an entirely new access pattern and authorization attribute is unlikely.

[2019-05-17 23:17] verult commented on #78050
cc @davidz627

[2019-05-17 23:18] verult commented on #78050
For all those PD instances, tests are being skipped due to this line:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/base.go#L519

Fixing it by removing that skip as suggested by @davidz627

[2019-05-17 23:53] petermetz commented on #77903
@andrewsykim

FYI:
`10.233.65.116` -> service's pod of voyager ingress controller
`10.233.65.119` -> coredns pod on the failed node

[code]

[2019-05-18 00:41] liggitt opened #78060 "CRD structural schema condition is susceptible to message changes"
/sig api-machinery
/kind bug
/assign sttts

because the controller that maintains the condition runs multiple instances in HA apiserver clusters, the controller must not duel in cases where the validation messages change slightly between releases

[2019-05-18 00:42] pjh commented on #76666
I'm trying to figure out if it's possible to uninstall KB4486553 in a recent Windows base image that already has it installed. I'm a Windows Update noob, perhaps someone at Microsoft (@madhanrm ?) can help me:

Here's what I see when I boot a VM with our base image that includes Windows updates from the 2nd Tuesday in April:

[code]

I've tried to uninstall the KB with the command `wusa /uninstall

[2019-05-18 00:59] andrewsykim commented on #77903
@petermetz are you able to confirm that this is only reproducible for UDP backends? If so https://github.com/kubernetes/kubernetes/pull/77802/ might fix this.

[2019-05-18 01:19] daschott commented on #76666
@pjh can you try
`cmd.exe /c wusa.exe /uninstall /KB4486553  /norestart`

You will probably have to restart, even with the /norestart.

[2019-05-18 01:45] draveness commented on #78004
/assign

I could do the work after the Scheduling Framework is built.

[2019-05-18 01:57] #71138 closed

[2019-05-18 01:57] #74105 closed

[2019-05-18 03:53] draveness opened #78064 "Flaky TestPendingPodsMetric"
**Which test(s) are failing**:

+ TestPendingPodsMetric

We could use the following command to reproduce it.

[code]

/kind flake
/sig scheduling
/priority important-soon

[2019-05-18 03:55] draveness commented on #78064
cc/ @apelisse @tedyu

[2019-05-18 04:52] #78011 closed

[2019-05-18 04:52] #78003 closed

[2019-05-18 05:03] petermetz commented on #77903
@andrewsykim I can't, my service is TCP (HTTP)

[2019-05-18 06:04] vikaschoudhary16 commented on #66952
/remove-lifecycle stale

[2019-05-18 06:21] #78047 closed

[2019-05-18 06:47] jslay88 commented on #23404
Just gunna throw this out here for those that want to cat a file.

[code]

[2019-05-18 07:04] vikaschoudhary16 commented on #73240
/remove-lifecycle stale
This issue is not fixed yet

[2019-05-18 08:04] boxuan666 opened #78067 "balancerWrapper always in kube-apiserver logs"
i'm using kubeadm to installed k8s cluster.
the kubeadm and k8s version is 1.14.1.

my kubeadm-config file config like this:
[code]

After the installation is complete, everything works fine, but the
[code]
is repeated in the apiserver log.

Is this a bug? I see that it is info level log message, how can I block it?

[2019-05-18 08:04] boxuan666 commented on #78067
My OS version ubuntu 16.04.6
docker version is 18.09.6

[2019-05-18 08:06] boxuan666 commented on #78067
/sig contributor-experience architecture release

[2019-05-18 08:27] fenglixa commented on #77856
Using "docker logs --since" could show the correct logs result, even defined milliseconds time.
Checked the kubernetes code, the milliseconds was lost during converting. Will provide a PR for this issue.

BR
-Francis

[2019-05-18 09:05] AtarisMio opened #78068 "kube-controller-manager & kube-scheduler in CrashLoopBackoff Error in kubernetes"
**What happened**:

I used `calico` as CNI in my k8s, I'm trying to deploy a single master cluster in 3 servers. I'm using `kubeadm`, follow the official [setup guide](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/). But some error occurred, `kube-controller-manager` and `kube-scheduler` go in CrashLoopBackOff error and cannot run well. I also try `fannel` as CNI the `kube-co

[2019-05-18 09:13] AtrisMio commented on #78068
@kubernetes/sig-apps-bugs

[2019-05-18 10:32] jaybe78 commented on #64148
I also have a kubernetes cluster in a vpc and I still get the same issue. i'm on kubernetes 1.11.9.
My 2 worker nodes do not pass health check.
@jochenhebbrecht  @kellycampbell @arielb135 Have you guys managed to make it work on your side ?

[2019-05-18 10:39] #77365 closed

[2019-05-18 11:51] petro404 opened #78070 "Old ReplicaSet and Old pods are still alive with New ReplicaSet"
**What happened**:
I am creation new deployment and after few seconds update the pod template spec with new configuration and then Old ReplicaSet and Old pods are still alive with New ReplicaSet
the current behaviour is based on default deployment strategy rolling upgrade

i would like to know if its normal behaviour of rolling upgrade so k8s will keep the old pod until the new pod will started su

[2019-05-18 12:04] #69768 closed

[2019-05-18 12:49] matti commented on #9995
Many people in this thread would benefit from https://github.com/kontena/akrobateo/blob/master/README.md

[2019-05-18 13:33] liggitt commented on #78070
Yes, that is a property of a rolling upgrade strategy

/close

[2019-05-18 13:33] #78070 closed

[2019-05-18 13:46] liggitt commented on #77974
Can you provide the (cluster)roles and (cluster)rolebinding objects granting permissions to the PSPs?

[2019-05-18 13:48] andrewsykim commented on #77903
@petermetz sorry I was confused because I thought the "Not deleting RS" error was only occuring for your DNS backends using UDP, I see now it applies for both. It looks like those backends aren't being deleted because IPVS sees it has active connections (connections left in ESTABLISHED state) even though the backened no longer exists.  cc @lbernail possible similar situation as https://github.com/

[2019-05-18 13:53] liggitt commented on #77974
That message is likely coming from the restricted PSP, which likely means the serviceaccount of the pod and the user attempting to label do not have permission to use the privileged PSP

[2019-05-18 14:56] StarCoral opened #78072 "resource utilization of the windows node"
**What happened**:

We built a hybrid Kubernetes cluster including windows nodes and Linux nodes. The master node adopts Linux as O.S. and the slave node adopts Windows as O.S. However, the master node can’t get the CPU utilization from slave node (Windows server 2019).

**What you expected to happen**:

When we run the command  “ `kubectl describe $(Name of windows node) `” , we expect to see the

[2019-05-18 15:22] mattjmcnaughton commented on #78023
Thanks for reporting this @bclau :) 100 percent agree we want this logs to be usable and right now, they are difficult to use in their current state.

A couple of additional options to consider :)

1. (The simplest) is to increase `pkg/kubelet/kubelet.go#housekeepingPeriod` from 2 seconds to a larger value? Tbh, I'm not sure if this is safe to do, nor if it makes sense to let logging concerns driv

[2019-05-18 15:22] mattjmcnaughton commented on #77697
@tedyu mind closing this since we closed the pr? thank you!

[2019-05-18 15:28] #77697 closed

[2019-05-18 15:55] tedyu commented on #78007
I guess by 'a never version' you mean 'a newer version'

[2019-05-18 16:31] prakashpc opened #78074 "Setting kubelet client certificate file path through kubeadm config file failed"
I want to set kubelet clientCA file path through command:
"kubeadm init --config=./kubeadm.yml --ignore-preflight-errors all"

Genereated kubelet config file(/var/lib/kubelet/config.yaml) always point to  /etc/kubernetes/pki/ca.crt for clientCAFile option.
Kubelet process will fail unless i overide with --clientCAFile option through systemd for kubelet.

My kubeadm config file:

apiVersion: kubead

[2019-05-18 16:35] prakashpc commented on #78074
/sig kubeadm

[2019-05-18 16:37] #78074 closed

[2019-05-18 16:45] prakashpc opened #78075 "Setting kubelet client certificate file path through kubeadm config file failed"
I want to set kubelet clientCA file path through command:
"kubeadm init --config=./kubeadm.yml --ignore-preflight-errors all"

Genereated kubelet config file(/var/lib/kubelet/config.yaml) always point to /etc/kubernetes/pki/ca.crt for clientCAFile option.
Kubelet process will fail unless i overide with --clientCAFile option through systemd for kubelet.

My kubeadm config file:

apiVersion: kubeadm

[2019-05-18 16:45] prakashpc commented on #78075
/area kubeadm
/assign

[2019-05-18 17:16] prakashpc commented on #78075
Actual value from config file is overriden in the below method

kubernetes/cmd/kubeadm/app/componentconfigs/defaults.go

// DefaultKubeletConfiguration assigns default values for the kubelet ComponentConfig
func DefaultKubeletConfiguration(internalcfg *kubeadmapi.ClusterConfiguration) {

        externalkubeletcfg := &kubeletconfigv1beta1.KubeletConfiguration{}

	// Do a roundtrip to the external

[2019-05-18 17:23] andrewsykim commented on #77903
Worth noting here that the weight on the IPVS backend is set to 0, the entry just isn't removed until it sees there are no connections. Can you confirm if the weight on those IPVS backends is 0?

[2019-05-18 17:39] #78055 closed

[2019-05-18 20:04] yagonobre commented on #78075
Thanks @prakashpc, will you work on it? Please fill a issue on https://github.com/kubernetes/kubeadm

/sig cluster-lifrcycle

[2019-05-18 20:04] yagonobre commented on #78075
/sig cluster-lifecycle

[2019-05-18 20:09] InAnimaTe commented on #40908
Yeah I'm with @TarekAS here in that we are taught how a Pod represents a single unit of work i.e. single application, hence why should the Pod still be considered Healthy if one of the containers representing that work is problematic. Instead, the ReplicaSet backing these pods should see the Pod as Failing, kill and re-spawn a new one.

[2019-05-18 23:50] petermetz commented on #77903
@andrewsykim No worries and thanks for taking the time to respond and investigate.
I can confirm that the weights do get updated to zero for the dead pods. In the test I performed just now I even witnessed the entries getting deleted properly so it seems I'm not consistently able to reproduce the issue either. It may have to do something with the HA master setup (3 master 1 worker) because the nod

[2019-05-19 00:38] petermetz commented on #77903
@andrewsykim Re-ran the test again just now and I have to report that the ipvs weights don't get updated either. I have the dead pods entries with weight 1 in the ipvs rules 20 minutes after the node went down that contained the pods. The difference compared to my previous test run:
- I shut down the third master node, not the second
- I scaled the service from 4 pods to 8

When I look at the logs

[2019-05-19 00:42] dims commented on #76509
Looks like this was already done in https://github.com/kubernetes/kubernetes/pull/77889

/close

[2019-05-19 00:42] #76509 closed

[2019-05-19 03:19] #72225 closed

[2019-05-19 03:25] Anmar-Salih commented on #75701
The problem has been fixed two days ago. Close it please.

[2019-05-19 04:30] hormes commented on #77733
In 5k-node cluster list pod by nodeName will take 0.5s without nodeName index, we have to do that
from our experience.

[2019-05-19 04:30] qiyongxiao opened #78083 "federation cluster"
####Today，I have an problem need for help。I am using k8s for version 1.8，and has  created an federation cluster，when I use command line to show cluster status，I meet some problem for bellow：

#####For the cluster normal status：
[code]

######For shutdown the cloud-120's node using
[code]
#####Then the cluster's status will become Offline in one minute，I show the log information for some tips：
[cod

[2019-05-19 04:47] petermetz commented on #77903
Finally I ended up at this one, realizing that this issue is just a duplicate of that: https://github.com/kubernetes/kubernetes/issues/18174

[2019-05-19 04:47] #77903 closed

[2019-05-19 06:48] jochenhebbrecht commented on #64148
Hi @jaybe78 .

Yes, we managed to make it work by upgrading to 1.11.7. We're currently still on that version and we are no longer bumping into this issue.

Jochen

[2019-05-19 08:16] george-angel commented on #58065
/remove-lifecycle stale

[2019-05-19 10:14] brancz commented on #67126
/remove-lifecycle stale

[2019-05-19 11:38] haosdent commented on #69553
From what I see, it is because gonvml contains `#cgo LDFLAGS: -ldl` code.

[2019-05-19 15:33] ethercflow commented on #64743
@bahar-p @chrissng Had you try https://pingcap.com/blog/try-to-fix-two-linux-kernel-bugs-while-testing-tidb-operator-in-k8s/ ?

[2019-05-19 16:32] #71018 closed

[2019-05-19 16:43] andrewsykim commented on #77903
Thanks for the detailed response @petermetz!

[2019-05-19 17:46] trylovetom commented on #46861
@AdamDang recreating is not make sense. It will shutdown my service

[2019-05-19 18:09] alejandrox1 opened #78087 "[Failing tests] CustomResourceConversionWebhook and CustomResourcePublishOpenAPI failing in master-blocking"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-alpha-features

**Which test(s) are failing**:
* [sig-api-machinery] CustomResourcePublishOpenAPI [Feature:CustomResourcePublishOpenAPI]
works for multiple CRDs of same group but different versions
* [sig-api-machinery] CustomResourceConversionWebhook [Feature:CustomResourceWebhookConversion]
Should be able to convert a non homogeneous list of

[2019-05-19 19:44] mucahitkurt commented on #77141
Hey @davidz627 , I would like to work on this issue, initially I try to write unit tests for the metrics generated from the `CompleteFunc`.

[2019-05-19 19:59] hangxie opened #78089 "Create AWS IPv6 route cause "destinationCidrBlock is invalid""
**What happened**: I run IPv6 for pod/service network on AWS with kubernetes+calico, kubernetes was unable to update route table with error message like:
[code]
and route was never created.

I scanned code and found that that kubernetes uses DestinationCidrBlock to create new route but that's for IPv4 only, it should use DestinationIpv6CidrBlock parameter to create IPv6 routes.

**What you expecte

[2019-05-19 20:02] hangxie commented on #78089
@kubernetes/sig-aws-bugs

[2019-05-19 21:36] liggitt commented on #78087
/assign sttts

[2019-05-19 21:36] liggitt commented on #78087
/assign @jpbetz @roycaihw

[2019-05-19 21:37] liggitt commented on #78087
@sttts looks like there were some alpha gated tests that need adjusting after https://github.com/kubernetes/kubernetes/pull/77927

[2019-05-19 21:54] liggitt commented on #78087
/unassign @jpbetz @roycaihw

[2019-05-19 22:33] Badranh opened #78091 "Re-distribute pods over labeled nodes"
**What happened**:
At first I had 3 replicas of X pod that run on labeled nodes and I had a cluster of 3 nodes( 1 master and 2 nodes) all of them were unlabeled, so I executed this command:

` kubectl label node  {node1-name}  label=x`

then

` kubectl label node  {node2-name}  label=x`

after that I executed

`kubectl get pods -o wide`

and it looked that the 3 pods are running on {node1-name} an

[2019-05-19 23:37] hangxie commented on #78089
I ended up with disable cloud route so this is no longer an issue to me, but it will still be a problem to someone who wants to use the feature.

[2019-05-19 23:39] #72224 closed

[2019-05-20 00:51] 27Bslash6 commented on #72759
/remove-lifecycle-rotten
test.

[2019-05-20 00:51] 27Bslash6 commented on #72759
/remove-lifecycle rotten

test

[2019-05-20 00:52] dims commented on #77624
/assign @vincepri
/unassign

[2019-05-20 01:12] liggitt commented on #78091
pod nodeSelectors are used to schedule pods to nodes. once scheduled and running, pod nodeSelectors do not cause eviction if the node labels change.

/sig scheduling node
/remove-kind bug
/kind feature

[2019-05-20 01:26] #77876 closed

[2019-05-20 01:41] #72024 closed

[2019-05-20 01:41] #72117 closed

[2019-05-20 02:01] chenchun commented on #78006
Thanks, I'll have a try.

[2019-05-20 02:06] Nebulazhang commented on #77723
@yue9944882 For `list` operation, I have some questions. when cluster has too many nodes and pods, just like `list pod`, it will put very large pressure for etcd. Does k8s have methods to limit for these heavy operations?

[2019-05-20 02:42] danielqsj commented on #72333
/close

[2019-05-20 02:42] #72333 closed

[2019-05-20 02:44] hex108 opened #78093 "Add support for Custom Scheduler Plugins (out of tree)"
**What would you like to be added**:

As the [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable, it will be easier to add out of tree scheduler. And we are trying to use it to implement our plugins.

The issue tracks following problems:

* Implement interface same as [Custom Scheduler Plugins

[2019-05-20 04:04] yue9944882 commented on #77723
firstly, there should be *too many* list calls in the cluster. try use the informer's cache as much as you can. for heavy list calls, we can do pagination. if the list pagination doesn't even help, there's a client-side rate limiting in client-go. sadly that rate limiting doesn't discriminate requests by verbs, but as the last resort we can build a dedicated client for lists.

[2019-05-20 04:06] andrewsav-datacom commented on #75701
It's still a problem on ubuntu 16.

[2019-05-20 04:08] Nebulazhang commented on #77723
Thankyou

[2019-05-20 04:53] Anmar-Salih commented on #75701
I used it too today on Ubuntu 16.04 and it was working smoothly. ( you have to use it on multicore processor machine in order to work) I am using it on virtualbox. So I set the VM processor number to 2.

[2019-05-20 05:01] andrewsav-datacom commented on #75701
Yeah, I tried today too and no dice. Not sure what multicore has to do with this but I also tried with 2 sockets.

[2019-05-20 06:09] Wade201801 commented on #77974
@liggitt
I think I found one logic of how this issue happens: all pod that 're crashed are in one same node which is upgraded firstly .

So I guess the root cause:
1) before upgrade the target node, I have run command "kubectl drain "  that will evict pod on target node, but the statefulset will create new pod that state is Pending with old psp;
2) upgrade the target node, this step will also upgr

[2019-05-20 06:12] luzhzhsoft commented on #77856
@fenglixa
Thank you

[2019-05-20 06:40] Anmar-Salih commented on #75701
attach the error log file please

[2019-05-20 06:49] P1ng-W1n commented on #75701
Could you please point to the exact commit that's supposed to fix this issue please?

[2019-05-20 07:04] Anmar-Salih commented on #75701
check out this link please.

[https://review.opendev.org/#/c/659672/](url)

[2019-05-20 07:13] Doqnach commented on #28695
Has case 2 ever been fixed? Because I'm running into this now...

[2019-05-20 07:39] istikamet commented on #77663
This comment was mistake  https://github.com/kubernetes/kubernetes/issues/77663#issuecomment-493453846, i again focused on cloud provider config according to @divyenpatel comment

Reconfiguring **kubelet** and **10-kubeadm.conf** files as below than  **systemctl daemon-reload && systemctl restart kubelet**  fixed the problem.

`/etc/sysconfig/kubelet , i have added node-ip parameter because uncomm

[2019-05-20 07:44] P1ng-W1n commented on #75701
I'm not sure that we're talking about the same issue here..
This thread is about an installation failure caused by packaging issues (deb, rpm OS packages)..
The commit you highlighted is related to Devstack (development version of Openstack) and one of it's Ansible playbook, where they bumped up the k8s version to 1.13.6 (with calico 3.3).  - In short, the one has nothing to do with the other IMHO

[2019-05-20 07:46] istikamet commented on #77916
Problem fixed on this issue https://github.com/kubernetes/kubernetes/issues/77663#issuecomment-493872859

[2019-05-20 07:46] #77916 closed

[2019-05-20 07:52] Anmar-Salih commented on #75701
I thought only Devstack effected by this issue. Sorry, my bad.

[2019-05-20 07:56] andrewsav-datacom commented on #75701
Yep, it looks to me too that Anmar-Salih is talking about something else, not the issue at hand. For what it worth, here is output on ubuntu:

[code]

Similar, to what is already reported [here](https://github.com/kubernetes/kubernetes/issues/75701#issuecomment-476625403).

[2019-05-20 08:07] chenchun commented on #78006
Here is my proposal of implementing this.

In order to implement "A bind plugin may choose whether or not to handle the given Pod", I propose to add a "Skip" code to status to indicate a bind plugin doesn't handled the binding of a pod. If it does, it should return "Error" or "Success" code.

[code]

This is how scheduler handles bind. If none of the bind plugin handles the binding, the status cod

[2019-05-20 08:25] cwdsuzhou commented on #77324
/assign

[2019-05-20 08:46] omegarus commented on #76790
@chrisghill I'am experiencing  same problem right now on 1.11.9.
Further investigation showed that DNS resolution problems happens on specific nodes.
After reviewing syslog of this nodes i found this kernel message:
`kernel:unregister_netdevice: waiting for eth0 to become free. Usage count = 1`
Here is issues related to it #64743
More info is here: https://pingcap.com/blog/try-to-fix-two-linux-ker

[2019-05-20 08:56] PatrickLang commented on #73792
@brobichaud - is anything else needed here, or can we close this?

[2019-05-20 08:57] PatrickLang commented on #75300
/close

[2019-05-20 08:57] #75300 closed

[2019-05-20 09:18] peter-wangxu commented on #40973
met this issue with following versions:
Kubernetes v1.12.3

[2019-05-20 09:42] aojea opened #78099 "Autodetect IP family for e2e testing"
**What would you like to be added**:

Introduce a mechanism that allows ~~detecting~~ specifying the IP protocol version used in the e2e testing.

**Why is this needed**:

This is a followup on #70248, my understanding is that in order to discriminate between IPv4 or IPv6  we have to use the test labels and this adds complexity to the testing automation and doesn't allow to send this information t

[2019-05-20 09:46] aojea commented on #78099
/sig testing
/cc @neolit123 @fabriziopandini @BenTheElder
/assign @aojea

Does this make sense?
If affirmative, what should be the best way to add this functionality?
Checking the code I think that `e2e/framework/test_context.go` or `test/e2e/framework/framework.go` can provide this, don't know if checking some of the cluster config parameters, 🤔 ...

[2019-05-20 10:14] accesskeeper commented on #10351
Maybe i'm wrong but.. Why not just prohibit access to API port on network/firewall level?

[2019-05-20 11:31] mgdevstack commented on #73993
/close
as per
1. https://github.com/kubernetes/kubernetes/pull/73780#discussion_r257449857
2. Detailed doc is available at https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks

[2019-05-20 11:31] #73993 closed

[2019-05-20 11:40] ganchandrasekaran opened #78106 "HostPath PV is stuck at terminating when claimed from StatefulSet"
**What happened**:
Trying to delete the deployment, but the PV is stuck at Terminating status forever. However claims made from Kind: Deployment and the PV claimed for it doesn't have any problem terminating successfully.

**What you expected to happen**:
All pods, services and PV disappear after terminating.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
Make a claim fo

[2019-05-20 11:50] stojan-jovic commented on #62382
@shanit-saha I experienced the same behavior with `v1.10.7`. Can somebody confirm that this not happening with >= 1.11.x versions?

[2019-05-20 12:03] davidz627 commented on #77141
Hi @mucahitkurt, thanks for your interest. That sounds great and could you please clarify some details on what tests you plan to rwrite?

[2019-05-20 12:26] mvladev opened #78109 "Fields in Component config should be optional (pointers)"
I want to embed [LeaderElectionConfiguration](https://github.com/kubernetes/component-base/blob/4727f38490bc68c3ba5e308586e7b045e216b991/config/v1alpha1/types.go#L27) in my configuration like this:

[code]

For my component, I would like to set a *default* value for `ClientConnectionConfiguration.ResourceLock` to `configmaps` and I want to report an error, if end-user provides a wrong configuratio

[2019-05-20 12:27] mvladev commented on #78109
/sig api-machinery
/sig cluser-lifecycle
/assign @luxas

[2019-05-20 12:35] mvladev commented on #78109
/remove-sig api-machinery

[2019-05-20 12:37] JieJhih commented on #78020
/assign

[2019-05-20 12:43] mgdevstack commented on #67609
Awaiting for the issue comment to get addressed https://github.com/kubernetes/kubernetes/pull/75631#issuecomment-492023076. Probably in near future, we can start promoting these e2e.

[2019-05-20 12:50] krzysied opened #78111 "[Failing test] GCE-5000: increased latency of replicationcontrollers list"
**Which jobs are failing**:
gce-scale-performance
kubemark-5000

**Which test(s) are failing**:
Scalability density and load tests.

**Since when has it been failing**:
Run 1115887544400089089 2019-04-10 08:01:47 +0000 UTC.
Previous correct run 1115162902861451269 was on 2019-04-08.

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance
https://k8s-testgrid.

[2019-05-20 12:50] krzysied commented on #78111
/sig scalability

[2019-05-20 12:51] krzysied commented on #78111
/assign
/cc @mborsz @wojtek-t

[2019-05-20 12:56] krzysied commented on #78111
![rc_list_density](https://user-images.githubusercontent.com/25119199/58023128-4c84ac80-7b0f-11e9-8fe6-c4b210874863.png)
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=DensityResponsiveness&Resource=replicationcontrollers&Scope=cluster&Subresource=&Verb=LIST

![rc_list_load](https://user-images.githubusercontent.com/25119199/58023135-55757e00-7b0f-11e9-914

[2019-05-20 12:59] bswartz commented on #75535
I plan to bring this up at the May 29 meeting.

[2019-05-20 13:02] krzysied commented on #78111
This issue is also observable on kubemark-100-highDensity

![rc_list_kubemark](https://user-images.githubusercontent.com/25119199/58023296-c1f07d00-7b0f-11e9-8248-05ce08f0b0be.png)
http://perf-dash.k8s.io/#/?jobname=kubemark-100Nodes-highDensity&metriccategoryname=APIServer&metricname=DensityResponsiveness&Resource=replicationcontrollers&Scope=cluster&Subresource=&Verb=LIST

This test takes ~3h to

[2019-05-20 13:15] mgdevstack commented on #75935
@pontiyaraja,
1. This is dup of #76128, (for `qosClass`)
2. Based on your Issue description, #77973 can have detailed discussion about `podSpec.resource` API coverage and related PR's can be tracked there.

I would suggest to close this issue because of above two reasons.

[2019-05-20 14:12] liggitt commented on #77974
to understand the interaction between your policies and permissions, we would need the following:
[code]

the content (`-o yaml`) of the rolebinding or clusterrolebinding objects you used to grant permissions to the `psp:bcmt`, `psp:privileged`, and `psp:restricted` clusterroles

[2019-05-20 14:25] krzysied commented on #78111
I've compared logs from 08-04 and 10-04. In case of load test is seems that in both cases there where long (~5s) calls. It seems that for some reason apiserver metrics (or clusterloader) returns different values for similar metrics.

[2019-05-20 14:31] mattjmcnaughton commented on #77859
I was doing a little more research on this, and I realized that `--maximum-dead-containers-per-container` has been marked deprecated, with the recommendation to instead use `--eviction-hard` or `--eviction-soft`.

@Pingan2017 do you know if this problem remains when using `--eviction-hard/--eviction-soft`? If no, thoughts on closing this issue in favor recommending anyone experiencing this issue u

[2019-05-20 14:35] mgdevstack commented on #75756
Reference From https://github.com/kubernetes/kubernetes/issues/77973

e2e: Pod should be failed when memory utilisation exceeds it’s limit
Description: Create a pod with memory resource (request: 500Kb, limit: 1000Kb). Container keep requesting increasing memory gradually till 1200Kb. Container MUST be killed and Pod MUST fail.

[2019-05-20 14:44] Omegaice commented on #70047
I ran across this issue today and after searching around for a while, I managed to find a hacky solution to the problem.

You can get the data out of etcd, modify it and put it back to get around the immutability. I used https://docs.edenmal.moe/kubernetes/etcd/editing-kubernetes-objects/ which provides some golang code to decode and reencode the data from etcd. All of the persistant volumes are s

[2019-05-20 14:45] #74215 closed

[2019-05-20 14:54] #72273 closed

[2019-05-20 14:54] zacekjakub commented on #61005
The same issue here...

kube-proxy logs:
[code]
# Generated by iptables-save v1.6.1 on Mon May 20 14:52:16 2019
*raw
:PREROUTING ACCEPT [177651250:34430857309]
:OUTPUT ACCEPT [113471019:27074616924]
:cali-OUTPUT - [0:0]
:cali-PREROUTING - [0:0]
:cali-failsafe-in - [0:0]
:cali-failsafe-out - [0:0]
:cali-from-host-endpoint - [0:0]
:cali-to-host-endpoint - [0:0]
-A PREROUTING -m comment --comment "ca

[2019-05-20 14:57] krzysied commented on #78111
Logs from kubemark100-highDensity:

08-04:
[code]
99th perc (perfdash): 1.476ms

10-04:
[code]
99th perc: 204ms

It looks like there was some bug in metrics on apiserver, clusterloader or perfdash side. Current result seems correct.

[2019-05-20 14:59] krzysied commented on #78111
I looked through clusterloader and perfdash histories and I haven't spotted any changes related to this issue.

[2019-05-20 15:05] #77604 closed

[2019-05-20 15:10] gnufied commented on #77404
This will get fixed https://github.com/kubernetes/kubernetes/pull/77994

[2019-05-20 15:17] luisdavim commented on #53459
/remove-lifecycle stale

[2019-05-20 15:18] sbskas commented on #77801
@liggitt Have you all the pieces of information needed to make a diagnostic or do you need more information ? I'm not exactly confident about the kube-apiserver invocation question...

[2019-05-20 15:28] smourapina opened #78123 "[Failing tests] Multiple job failures on the BeforeSuite step while waiting for CoreDNS to be ready"
**Which jobs are failing**:
Multiple jobs on `master-informing`.

**Which test(s) are failing**:
`Before Suite` on the following jobs:
- https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-stable-master
- https://testgrid.k8s.io/sig-release-master-informing#gce-new-master-upgrade-master
- https://testgrid.k8s.io/sig-release-master-informing#gce-new-master-upgrade-master-par

[2019-05-20 15:33] chrisohaver commented on #78123
Some of this (possible all of it) is due to #78030, which is dependent on #78033 being merged.

[2019-05-20 15:44] gregswift commented on #74817
I do agree that you can totally get to what you need using existing commands, however I have to agree with OP that this is a useful and reasonable feature.

our usecase:

We use local disks as well.  Our alerting system reports on disks in high usage.  The filesystem for such a disk tends to be:

  /var/data/kubelet/pods/${UUID}/volumes/kubernetes.io~local-volume/${PV_NAME}

So the steps for us to

[2019-05-20 16:01] uty opened #78124 "Service controller manager leaks load balancers"
**What happened**:
We have a Kubernetes cluster with 3 master nodes for increased fault tolerance. After a while we started noticing unused ELBs in AWS that were originally created by Kubernetes. We investigated the issue and found that if a service is deleted at a time when active kube-controller-manager is restarted it fails to clean up load balancer resources from the cloud. It happens relative

[2019-05-20 16:10] brobichaud commented on #73792
@PatrickLang it sounds like you guys have a handle on this so as far as I can tell this can be closed.

[2019-05-20 16:17] uty commented on #78124
@kubernetes/sig-network-bugs

[2019-05-20 16:18] wojtek-t commented on #78111
This has merged on April 9th:
https://github.com/kubernetes/kubernetes/pull/76215

I'm almost sure this is what is described https://github.com/kubernetes/kubernetes/issues/76579#issuecomment-490079549 and below in that thread.
There was a bug in metrics reporting.

[2019-05-20 16:22] erhudy opened #78125 "Kubelet does not retry init container startup on CNI failure"
**What happened**: A user reported that a workload was stuck and unable to startup. The workload in question spawns several pods via a CRD, one of which is an init container that checks the other pods for readiness before the workload begins processing. During startup, the CNI call failed due to a timeout communicating with the API server due to a transient network issue. Instead of retrying, kube

[2019-05-20 16:22] erhudy commented on #78125
See sanitized log below:
[code]

[2019-05-20 16:23] erhudy commented on #78125
/sig node

[2019-05-20 16:30] vincepri commented on #77624
Seems like this is a documentation issue, by default components using klog write to stderr. Does that sound right @dims?

[2019-05-20 16:42] boroda4436 opened #78126 "Operation: [list] for kind: [Namespace] with name: [null] in namespace: [null] failed."
**What happened**:
Operation: [list]  for kind: [Namespace]  with name: [null]  in namespace: [null]  failed.

**What you expected to happen**:
Expected to create a namespace and receive next msg on the UI: _Successfully created default namespace with name cbs-namespace_

**How to reproduce it (as minimally and precisely as possible)**:
1. Clone the project: https://github.com/boroda4436/kubernete

[2019-05-20 16:44] boroda4436 commented on #78126
sig/GCP

[2019-05-20 16:45] boroda4436 commented on #78126
@sig/GCP

[2019-05-20 16:47] boroda4436 commented on #78126
@kubernetes/sig-gcp

[2019-05-20 16:48] boroda4436 commented on #78126
@sig-gcp

[2019-05-20 16:49] boroda4436 commented on #78126
/sig gcp

[2019-05-20 17:07] fin-ger opened #78128 "Unstable DNS response after startup of pod"
**What happened**:

I am using this config to debug why a domain cannot be resolved after startup of my application:

[code]

When deploying this, the following logs are produced:

[code]

Which means that during the first ~30 seconds of the pod, the domain could only be resolved *sometimes*...

**What you expected to happen**:
I expect the domain to be resolvable directly after startup.

**How to

[2019-05-20 17:11] fin-ger commented on #78128
@kubernetes/sig-network-bugs

[2019-05-20 17:18] chrisohaver commented on #78128
What do the DNS logs look like during that time?  E.g. are there any errors?

[2019-05-20 17:22] squeed commented on #69599
While I agree this would take some wiring to fix, these sort of "one user can stomp on another user" bugs leave a sour taste in my mouth. We have a consistent backing datastore - why not use it?

[2019-05-20 17:26] fin-ger commented on #78128
coredns logs:

[code]

[2019-05-20 17:51] danwinship commented on #67457
If you're connecting directly to the pod IP, then this would most likely be a problem with your network plugin, not with kubernetes itself
/close

[2019-05-20 17:51] #67457 closed

[2019-05-20 17:57] #71191 closed

[2019-05-20 17:57] #71214 closed

[2019-05-20 17:57] #71498 closed

[2019-05-20 17:57] #71255 closed

[2019-05-20 18:04] pjh commented on #76666
Understood, I'm just restarting manually a bit later on.

I tried running `cmd.exe /c wusa.exe /uninstall /kb:4486553 /quiet /norestart` but that doesn't work either. Here's what I found:

None of these do anything when I run them in my PowerShell script - the hotfix is still present after a reboot:
[code]

This command hangs forever, presumably waiting for a confirmation that never comes:
[code]

[2019-05-20 18:07] #73240 closed

[2019-05-20 18:08] gnufied commented on #74264
This was implemented in 1.14

[2019-05-20 18:08] #74264 closed

[2019-05-20 18:18] alejandrox1 commented on #78123
/sig cluster-lifecycle

[2019-05-20 18:25] boroda4436 commented on #78126
@kubernetes/sig-gcp

[2019-05-20 18:26] boroda4436 commented on #78126
@kubernetes/gcp

[2019-05-20 18:28] boroda4436 commented on #78126
@kubernetes/sig-gcp-bugs

[2019-05-20 18:38] alejandrox1 opened #78129 "[Failing Tests] DNS configmap nameserver tests failing in master-blocking"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
- [sig-network] DNS configMap nameserver [IPv4] Change stubDomain should be able to change stubDomain configuration [Slow][Serial]
- [sig-network] DNS configMap nameserver [IPv4] Forward external name lookup should forward externalname lookup to upstream nameserver
- [sig-network] DNS configMap nameserver

[2019-05-20 18:50] alejandrox1 commented on #76670
Within ci-kubernetes-e2e-gce-scale-performance, the following test have been failing

* testing/load/config.yaml
* testing/density/config.yaml
* ClusterLoaderV2

At this time, testing/load/config.yaml stopped failing with the last run being succesful.
[Latest run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1129295897142759426).

[2019-05-20 19:05] krzysied commented on #78111
You are right. The replicationcontrollers list graph has the same characteristic as one for pods list. This is the same case. I'm closing the bug.

[2019-05-20 19:05] #78111 closed

[2019-05-20 19:27] derekwaynecarr commented on #78023
/kind feature

The kubelet is a control loop, and its always trying to reconcile like many other kubernetes controllers.  We can look to see if the logging is proper at the right verbosity level, but maybe a better question is what issue was encountered that made you want to look at the kubelet logs?  Were you able to grep for that issue effectively in our logs?  Is there tooling we could provide

[2019-05-20 19:29] jingxu97 opened #78130 "Volume ownership function ignore errors during chown or chmod"
**What happened**:
In current [SetVolumeOwnership](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/volume_linux.go#L71) function, it ignore any errors returned from chmod or chown. This means that even if ownership or permission is not set up correctly, pods will still be starting and it might cause some unexpected behavior.

Also noticed that in configmap_test.go, the test sets th

[2019-05-20 19:30] jingxu97 commented on #78130
cc @timstclair @msau42

[2019-05-20 19:42] chrisghill commented on #56903
Not sure if this should go here or in another new issue, but it appears our Kubernetes pods aren't respecting `nameserver` priority in the /etc/resolv.conf.  I've been attempting to fix the issue described in this ticket in our Kubernetes cluster for a while, and I've finally arrived at the suggestion of running a node-local DNS server.  However for high availability I wanted to be able to fall ba

[2019-05-20 19:47] sttts commented on #78087
On it.

[2019-05-20 20:00] ORESoftware commented on #65798
duplicate of unresolved issue?

[2019-05-20 20:05] mucahitkurt commented on #77141
@davidz627 ,

For the `CompleteFunc` I try to test which plugin name is used to generate metric, as creating `CompleteFunc` both `csiMigration` enabled and disabled cases.

To do this I initialize both plugins that's are `csiMigration` enabled plugin like `gcePdVolumePlugin` and `csiPlugin`, and then generate the function, check the produced metric labels.

I try to write tests like this one https

[2019-05-20 20:10] chrisohaver commented on #56903
Shouldn't go here, since its not the same issue.
Before opening a new issue, If you are using CoreDNS, and using the _forward_ plugin, you can try the `sequential` policy.  The default policy is `random`.  If that doesn't help, open a new issue.

[2019-05-20 20:14] jayunit100 commented on #44342
Per https://github.com/kubernetes/kubernetes/issues/44342, i wonder wether we should revisit this at some point.

[2019-05-20 20:15] #44342 closed

[2019-05-20 20:21] #76726 closed

[2019-05-20 20:31] derekwaynecarr commented on #77629
The `LimitRange` will intercept a pod during creation and if that pod has no requests/limits defined it will apply defaults according to that range.  It should have no effect on existing pods that are already bound to a pod.  As a matter of best-practice, we would recommend creating `LimitRange` resources during namespace creation to avoid existing pods from moving outside of any constraints (min/

[2019-05-20 20:32] derekwaynecarr commented on #77629
Is it possible to reproduce the issue without using `LimitRange` ?  It appears that the issue as described should not be related to its usage.

[2019-05-20 20:32] derekwaynecarr commented on #77629
/sig network

[2019-05-20 21:06] chrisohaver commented on #56903
@chrisghill, after reading your issue more carefully and better understanding what you are trying to do, it doesn't seem related to what I suggested above.  However you should open a new issue, this doesn't seem like the right place to discuss it.

[2019-05-20 21:13] chrisghill commented on #56903
@chrisohaver Thanks for your input.  I tried `sequential` policy fix but it didn't work, as you suspected.  I think the issue is before the request ever arrives at the CoreDNS instance.  I'll create a new issue and link it so as to not derail the conversation here.

[2019-05-20 21:23] fedebongio commented on #78067
/assign @jingyih

[2019-05-20 21:23] tedyu commented on #78126
Where can I find the logs containing the 'namespace: [null] failed' message ?

[2019-05-20 21:38] liggitt commented on #74931
this is still flaking (e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78131/pull-kubernetes-integration/1130565823501438978/)

[2019-05-20 21:41] yujuhong opened #78134 "Include windows binaries in cri-tools"
Right now cri-tools only include tarballs for linux
https://github.com/kubernetes/kubernetes/blob/c85c0e4780e428fdfb33debc31bc88f8095e5831/build/workspace.bzl#L29-L36

/cc @feiskyer @Random-Liu
/cc @pjh

[2019-05-20 21:43] derekwaynecarr commented on #76704
note: systemd required changes to make this work, which is why the feature was still alpha.  upstream systemd added the field in july 2018.

see:
https://github.com/systemd/systemd/issues/9081
https://github.com/systemd/systemd/pull/9594

[2019-05-20 21:43] neolit123 commented on #78123
Not the gce job tho. Only the kinder job. So the gce jobs are failing a problem outside of kubeadm/kinder

[2019-05-20 21:46] neolit123 commented on #78123
/assign
(At kubecon this week)

[2019-05-20 21:47] Huang-Wei commented on #74931
I will take another look.

[2019-05-20 21:49] derekwaynecarr commented on #70585
I agree we should be able to disable the use of cfs quota for pods in Guaranteed QoS class when static cpu manager is enabled.

/priority important-soon

[2019-05-20 21:54] #78060 closed

[2019-05-20 21:58] dougm commented on #77360
This is obvious in retrospect, but the issue is the message signature needs to use the same port as the original request URL.  However, in the govc case there was no port set in the request URL.  The client defaults to port `443` when connecting (based on the scheme), but does not include any port with the `Host` header.  In the case, the default is `80` on the server side.  This can be reproduced

[2019-05-20 22:21] dougm commented on #77360
Updating k/vendor to govmomi master adds almost 6K lines for a 3 line fix.  I may just create a govmomi branch off of v0.20 to reduce churn in the K8s release branches for this fix, may have to wait until tomorrow.

[2019-05-20 22:25] chrisghill commented on #76790
@omegarus Thanks for following up.  I had seen that issue before as well, and we've installed the NodeProblemDetector (https://github.com/kubernetes/node-problem-detector) and Draino (https://github.com/planetlabs/draino) to handle that case.

The other part of this issue seems related to the DNAT race condition outlined at length here: https://github.com/kubernetes/kubernetes/issues/56903

Since

[2019-05-20 22:25] #76790 closed

[2019-05-20 22:56] zhan849 opened #78136 "Cloudprovider AWS should query instance by ID when possible"
**What would you like to be added**:
Currently cloud provider package aws.go has many places to query ec2 instance by node name. #76749 has already optimized quite few inefficient tagging usages in the library.

Furthermore, since aws does not track ec2 instance by node name (node name is just a tag), querying instance by tag is not as efficient as querying instance by ID.

It will make k8s more e

[2019-05-20 22:57] cpuguy83 commented on #70029
/remove-lifecycle-stale

[2019-05-20 22:57] cpuguy83 commented on #70029
/remove-lifecycle rotten

[2019-05-20 23:07] tedyu commented on #78130
It seems utilruntime.HandleError() call should be added in case of error return from chown.

[2019-05-20 23:17] chrisghill opened #78138 "Kubernetes pods not respecting /etc/resolv.conf nameserver order"
**What happened**:
TL;DR: Pods seem to be querying DNS servers in /etc/resolv.conf in random or round-robin order instead of sequentially, as they are supposed to.

Long version:
So the root of all of this is the DNAT race condition outlined in detail here: https://github.com/kubernetes/kubernetes/issues/56903
One of the recommended solutions is to run node-local DNS to prevent the race condition.

[2019-05-20 23:23] tedyu commented on #78124
It seems that ServiceController#processServiceUpdate didn't have a chance to run in this scenario.

[2019-05-20 23:28] yujuhong opened #78139 "Docker failed to create container on windows nodes: Failed to unmarshall layerchain json - invalid character '\\x00' looking for beginning of value""
**What happened**:
Docker failed to create container on windows nodes with error message
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Not sure. This happened quite frequently in E2E tests.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.14
- Cloud provider or hardware configuratio

[2019-05-20 23:29] yujuhong commented on #78139
/cc @kubernetes/sig-windows-bugs @PatrickLang @benmoss @adelina-t
/cc @pjh @mtaufen @jingxu97

[2019-05-20 23:52] mgdevstack commented on #76342
To sum-up discussion held in another PR, we need to address following challenges: -
1. We emphasise on using 1 container per process but as here discussed in https://github.com/kubernetes/kubernetes/pull/76443#issuecomment-492496994, we are thinking to consolidate multiple images into single cli based app container and installing more binaries like `curl`, `netstat` ..., Either we need to manage m

[2019-05-21 00:27] tedyu commented on #78139
Was there any other line from windows event log related to disk 1 / 4 ?

thanks

[2019-05-21 00:41] yujuhong commented on #78139
I didn't notice anything specific, but there were similar log messages for disk 1 & 8

[2019-05-21 01:14] divyenpatel commented on #75738
@saad-ali

This situation needs to be automatically resolved by Kubernetes. For some reason when node VM is not responding due to resource pressure, pod should be scheduled to another node, and disks should be detached from node VM, even when kubelet on the node is not responsive.

Even if you attempt to shutdown the node VM, disk never gets detached and new Pod remains in the `container creating`

[2019-05-21 01:20] jessesuen commented on #22368
Maybe I'm missing something, but assuming my deployments are in a steady state (e.g. fully rolled out), couldn't the logic which determines which configmaps and secrets were "safe" to GC be as simple as:

* examine the specs of all pods in a namespace
* if a configmap or secret is no longer referenced by any of the pod specs, proceed to delete the object

I ask because we are considering adding si

[2019-05-21 01:42] cwdsuzhou commented on #77404
/unassign

[2019-05-21 01:51] jaygorrell commented on #77629
I have not seen this without `LimitRange` but if it behaves as you describe it sounds like something else is at play here. It's suspicious that only the pods with a claim higher than the new limit were affected.

[2019-05-21 02:03] draveness commented on #78064
cc/ @Huang-Wei

I ran the tests for 1000 times, and when it flakes, it is always off by 9, which is quite confusing. Do you have any thoughts on this?

[code]

[2019-05-21 02:16] gd-jroberts opened #78142 "HPA not respecting lifecycle podStart"
**What happened**:
When our WordPress pod with two containers (nginx and php-fpm) autoscaled via the HPA, the lifecycle podStart command does not apply the same as in the original deployment, resulting in the php-fpm container writing files as the root user instead of www-data.

**What you expected to happen**:
I expected the podStart container lifecycle hook to chown the target directory for the

[2019-05-21 02:20] gd-jroberts commented on #78142
@kubernetes/sig-autoscaling-bug

[2019-05-21 02:26] gd-jroberts commented on #78142
/sig autoscaling

[2019-05-21 02:48] dipayan commented on #15636
@thockin @freehan @nikhita I would like to pick this up , if its not resolved yet ? This would my first PR I would really appreciate some help & guidance.

[2019-05-21 02:54] hiscal2015 commented on #47733
I have the same issue on aws, safe to ignore or have to do something?

[2019-05-21 03:12] dadux commented on #75617
We've recently hit this issue with the scheduler.

It appears that our scheduler somehow gets out of sync with the nodes, and start scheduling pods on tainted nodes.
The node's kubelet then (rightfully) refuse to admit the pod.

Looking at the scheduler logs, they are flooded with the following :
[code]

Similar scenario, this is a high churn cluster with thousands of pods scheduled per minute - a

[2019-05-21 03:24] Wade201801 commented on #77974
# kubectl get psp -o yaml
apiVersion: v1
items:
- apiVersion: extensions/v1beta1
  kind: PodSecurityPolicy
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"policy/v1beta1","kind":"PodSecurityPolicy","metadata":{"annotations":{"seccomp.security.alpha.kubernetes.io/allowedProfileNames":"*","seccomp.security.alpha.kubernetes.io/defaultProfi

[2019-05-21 03:25] Wade201801 commented on #77974
`# kubectl get psp -o yaml
apiVersion: v1
items:
- apiVersion: extensions/v1beta1
  kind: PodSecurityPolicy
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"policy/v1beta1","kind":"PodSecurityPolicy","metadata":{"annotations":{"seccomp.security.alpha.kubernetes.io/allowedProfileNames":"*","seccomp.security.alpha.kubernetes.io/defaultProf

[2019-05-21 03:27] Wade201801 commented on #77974
`# kubectl get ClusterRole psp:bcmt -o yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"rbac.authorization.k8s.io/v1","kind":"ClusterRole","metadata":{"annotations":{},"name":"psp:bcmt"},"rules":[{"apiGroups":["extensions"],"resourceNames":["bcmt"],"resources":["podsecuritypolicies"

[2019-05-21 03:35] draveness commented on #75617
I'm glad to pick this up if we decide to fix this issue.

[2019-05-21 03:36] mkumatag commented on #77041
Many time I've seen this test is failing with older version golang compare to new one.! like `1.12.1` or `1.12.2`

[2019-05-21 04:19] Random-Liu opened #78143 "Support Image Family In Node E2E"
We should support image family in node e2e image config.

It makes image validation much easier on GCE.

[2019-05-21 04:25] chrisghill commented on #78138
More information: I modified one of the DNS CronJobs to `echo \`cat /etc/resolv.conf\`` so that I could see the raw output on one line in order to ensure nameserver order.  I also changed the command to `dig +trace www.github.com`.  Here is the output:

[code]

You can clearly see that server 192.168.0.10 is listed as the first DNS server, but the `dig +trace` goes straight to 100.64.0.10.

[2019-05-21 04:55] awprice commented on #75617
It would be awesome if you could fix this issue for us, we are currently seeing 100's of pods incorrectly being scheduled onto nodes with taints.

[2019-05-21 04:56] #77644 closed

[2019-05-21 05:16] boroda4436 commented on #78126
@tedyu thanks for reply!
You can see this error message after step 5 right in the your browser

[2019-05-21 05:27] #72628 closed

[2019-05-21 05:38] JuggGao commented on #76531
Kubenetes v1.14.2  still exists

[2019-05-21 05:50] #77663 closed

[2019-05-21 06:16] wu0407 commented on #78038
the service range is 10.1.0.0/23,the pod range is "10.1.2.0/23","10.1.4.0/22","10.1.8.0/21","10.1.16.0/20","10.1.32.0/19","10.1.64.0/18","10.1.128.0/17"

[2019-05-21 06:18] wu0407 commented on #78038
the relate issue with calico https://github.com/projectcalico/calico/issues/2617

[2019-05-21 06:33] cheftako opened #78147 "GCE master missing master taint."
**What happened**:
Created a daemonset ala https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/ but missing the master toleration. The created pods are running on every node, including the master.

**What you expected to happen**:
Lacking the master toleration, I would expect there to be no pod from the daemonset running on the master. Realized the master Node is missing the master

[2019-05-21 06:39] #76258 closed

[2019-05-21 07:22] Mentality-is-better opened #78149 "Pv cannot control the storage capacity. Is there any way to control it?"
![image](https://user-images.githubusercontent.com/43332489/58076103-ee71cb00-7bdb-11e9-89e7-2a5840151b23.png)
[](url)

Set the pv size to 2Gi, but the actual storage can still be greater than 2Gi

![image](https://user-images.githubusercontent.com/43332489/58076176-28db6800-7bdc-11e9-822f-1f780aa53f71.png)

Hope everybody can help solve next

Thank you!

[2019-05-21 07:57] parkjunhyo opened #78152 "Can not change containerport with deployment"
Please give some of Idea

My environments are like below
- Ubuntu 16.04
- kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T16:23:09Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
- docker version
Client:
 Version:           18.09.6
 API version

[2019-05-21 08:21] dlisin commented on #67191
/close

[2019-05-21 08:21] #67191 closed

[2019-05-21 08:38] danielqsj commented on #78149
/sig storage

[2019-05-21 08:42] fungusakafungus opened #78154 ""Failed to delete vsphere volume" error in logs"
**What happened**:
Error in controller logs:
`vsphere.go:1155] Failed to delete vsphere volume with vmDiskPath: [unity_k8s_operations] kubevols/kubernetes-dynamic-pvc-<snip>.vmdk. err: Error caused by file /<snip>/kubernetes-dynamic-pvc-<snip>.vmdk`
when deleting a pod and a pvc at the same time while using a storageclass with reclaimPolicy: Delete and provisioner: kubernetes.io/vsphere-volume.

*

[2019-05-21 08:47] prameshj commented on #78138
Setting multiple nameservers in /etc/resolv.conf can have inconsistent behavior based on the client library in the pod. I have not tried all combinations, but musl sends queries in parallel to both nameservers.  There are some HA options listed here:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190424-NodeLocalDNS-beta-proposal.md#proposal

[2019-05-21 08:48] prameshj commented on #78138
/kind feature
feature request for nodelocaldns HA.

[2019-05-21 08:55] fungusakafungus commented on #78154
/sig vmware
/sig storage

[2019-05-21 08:57] tanshanshan commented on #78068
I think it is similar with #76069

[2019-05-21 09:16] johnbelamaric commented on #74022
/remove-lifecycle stale

[2019-05-21 09:28] Coderhypo commented on #78152
You may need to check httpd config file，and make sure its listen 80

[2019-05-21 09:31] PatrickLang commented on #76666
is [KB4486553](https://support.microsoft.com/en-us/help/4486553/march-1-2019-kb4486553) the right KB? That's a .Net update, I don't think it includes Windows changes?

[2019-05-21 09:32] Coderhypo commented on #78149
Hi, guy,

I think `Gi != G`

https://stackoverflow.com/questions/50804915/kubernetes-size-definitions-whats-the-difference-of-gi-and-g

[2019-05-21 09:44] thundertiger825 opened #78158 "Kubernetes apiserver tls handshake error after certificate added and bind address"
Logs of kube-apiserver

Starting crd-autoregister controller
May 21 11:49:34 master kube-apiserver[1236]: I0521 11:49:34.874671    1236 controller_utils.go:1027] Waiting for caches to sync for crd-autoregister controller
May 21 11:49:34 master kube-apiserver[1236]: I0521 11:49:34.874794    1236 customresource_discovery_controller.go:199] Starting DiscoveryController
May 21 11:49:34 master kube-api

[2019-05-21 09:49] thundertiger825 commented on #78158
configuration of apiserver file

###
# kubernetes system config
#
# The following values are used to configure the kube-apiserver
#

# The address on the local server to listen to.
KUBE_API_ADDRESS="--bind-address=0.0.0.0"

# The port on the local server to listen on.
KUBE_API_PORT="--secure-port=6443"

# Port minions listen on
# KUBELET_PORT="--kubelet-port=10250"

# Comma separated list of nodes

[2019-05-21 09:54] dElogics commented on #77646
Removing the whole InitConfiguration document does not make a difference.

[2019-05-21 09:59] fin-ger commented on #78128
Can anyone reproduce this? Can I provide more logs to track this issue? Or is this behavior expected?

[2019-05-21 10:06] Mentality-is-better commented on #78149
![image](https://user-images.githubusercontent.com/43332489/58087314-ec673680-7bf2-11e9-8db7-9a4678e5eb48.png)

Thank you. The pv capacity can still be used after I tested according to what you said

![image](https://user-images.githubusercontent.com/43332489/58087477-34865900-7bf3-11e9-9408-6a44795a124c.png)

[2019-05-21 10:09] Mentality-is-better commented on #78149
@Coderhypo

[2019-05-21 10:18] s-ito-ts opened #78160 "hack/local-up-cluster.sh fails to create kube-dns."
**What happened**:
The following error occurs when creating kube-dns in local-up-cluster.sh

[code]

**What you expected to happen**:
hack/local-up-cluster.sh should be able to create kube-dns successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Run ./hack/local-up-cluster.sh

**Anything else we need to know?**:
The memory limit in kube-dns.yaml.in has been changed to "

[2019-05-21 10:19] WanLinghao commented on #78149
/cc

[2019-05-21 10:23] rafis commented on #65007
Any solution?

[2019-05-21 10:35] s-ito-ts commented on #78160
/sig testing

[2019-05-21 10:52] ghouscht commented on #76704
Going to close this, as it's not a k8s related issue.
Thx @derekwaynecarr for referencing the systemd issues.

[2019-05-21 10:52] #76704 closed

[2019-05-21 10:56] AtrisMio commented on #78068
@tanshanshan

but I don't have any load-balancer. this is a set of the single master cluster.

[2019-05-21 10:57] kwiesmueller commented on #75564
/assign @kwiesmueller

[2019-05-21 11:08] bclau commented on #76342
Well, the idea is to have ``agnhost`` as a manifest list, so we won't have to worry about the underlying host OS. I have worked on this previously, and the PR is still open at this moment: https://github.com/kubernetes/kubernetes/pull/76838 . So far, only the ``ss`` / ``netstat`` functionally will have to be addressed, and I don't have an definitive answer for that yet. Other than that, most of th

[2019-05-21 11:14] lobkovilya opened #78164 "Error on get logs from pod in AWS. SIGSEGV in kubelet logs"
Trying to get logs from pod using *client-go*.

**What happened**:
Error:
[code]

**What you expected to happen**:
Succesful response with logs

**How to reproduce it (as minimally and precisely as possible)**:
Rarely happens on CI

**Anything else we need to know?**:
*Exec*, *Deploy* commands are working fine even if error with getting logs happen
There are panic with SIGSEGV in kubelet logs:
[co

[2019-05-21 11:15] lobkovilya commented on #78164
/sig aws

[2019-05-21 11:24] hoyho opened #78165 "fail to get e2e test utils"
**What happened**:
I'm following the instruction [e2e_test](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#building-kubernetes-and-running-the-tests)

`go get -u k8s.io/test-infra/kubetest`

[code]

**What you expected to happen**:
get kubetest successful

**How to reproduce it (as minimally and precisely as possible)**:
1. prepare a new VM
2. git c

[2019-05-21 11:46] rkumar1609 opened #78167 "Unknown object type "nil" in Secret.data.redis-password"
I have a tool which is now available to be deployed on Kubernetes.  A Know person made a document on getithub where he asked to run two power shell files.
https://github.com/tonikautto/qse-kubernetes-minikube

When I run first file 0-install-tools.ps1 it install tools like virtualbox, minikube, helm and kubernetes-cli.

When I run second file 1-Deploy-Minikube.ps1 it is getting failed on last step

[2019-05-21 12:01] RobertKielty opened #78168 "Stop ignoring SC1090 warnings in verify-shellscript.sh"
Source directives tell shellcheck where to find shellscripts that are invoked dynamically using bash VARIABLEs in paths that cannot be determined at the time shellcheck is invoked.

Shellcheck directives are specially formatted script comments see [https://github.com/koalaman/shellcheck/wiki/Directive](https://github.com/koalaman/shellcheck/wiki/Directive)

The source directive is documented here

[2019-05-21 12:02] RobertKielty commented on #78168
/sig test

[2019-05-21 12:24] #78160 closed

[2019-05-21 12:39] yelhouti opened #78169 "nodelocaldns not working with hostNetwork: false"
**What happened**:
After setting hostNetwork: false for nodelocaldns it stopped working (livenessProb keeps failing)

**What you expected to happen**:
Be able to use nodelocaldns without occuping port 53 already used by my dns server

**How to reproduce it (as minimally and precisely as possible)**:
set hostNetwork: false in config
(I'm using coredns but it shouldn't make a difference)

**Anything

[2019-05-21 12:40] RobertKielty commented on #78168
/kind bashfirefight

[2019-05-21 12:41] qiujian16 commented on #74280
/remove-lifecycle stale

[2019-05-21 12:43] yelhouti commented on #78169
@kubernetes/sig-network-bugs

[2019-05-21 12:44] chrisohaver commented on #78123
The gce failures appear to show the same behavior, but with _kube-up_ instead of kubeadm.  I.e. it appears that kube-up may also be retaining old configs when upgrading/downgrading.  If thats true, then we may need to integrate the migration tools into kube-up as well.

[2019-05-21 13:02] RobertKielty commented on #78168
/kind cleanup

[2019-05-21 13:06] chrisohaver commented on #78128
I use minikube, and I have not seen this issue that I recall.  But I have not spent time trying to reproduce it.

In these two test instances ...
[code]

The first is received by the server as `test-set-0.test-service.`, and the second as `test-set-0.test-service.default.svc.cluster.local.`.  This probably means that the server is responding to questions from the client at different stages in the

[2019-05-21 13:14] kiranyedavalli commented on #73140
I am facing this issue as well in v1.14.2

[2019-05-21 13:28] bmbferreira commented on #44528
I'm also having this issue on EKS.

[2019-05-21 13:30] antoineco opened #78172 "Detached Azure Disks take up to 30min to re-attach"
**What happened**:

In a StatefulSet where each Pod has its own persistent volume provisioned by `kubernetes.io/azure-disk`, it occasionally takes up to 30 min to detach and re-attach those disks to their node during a rollout.

The following Pod events repeat:
[code]

A subset of the controller-manager's logs (full logs on demand):
[code]

State of the disk few minutes before the attach operation

[2019-05-21 13:31] antoineco commented on #78172
/sig azure

[2019-05-21 13:38] hoyho commented on #78165
area/test
/area/test-infra

[2019-05-21 13:42] andyzhangx commented on #78172
@antoineco can you also provide following info on master node:
[code]

How many disks are on one VM? We are experiencing slow disk attach/detach issue when disk num is large: https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#17-very-slow-disk-attachdetach-issue-when-disk-num-is-large

[2019-05-21 13:48] verwilst opened #78175 "1.14.2 + podsecuritypolicy runAsNonRoot = CreateContainerConfigError"
**What happened**:
Example status on v1.14.1: `chartmuseum               chartmuseum-chartmuseum-696d8d5bc4-xkntr                      1/1     Running `
After upgrading to v1.14.2: `chartmuseum               chartmuseum-chartmuseum-696d8d5bc4-wk7kl                      0/1     CreateContainerConfigError`

Reverting to 1.14.1 brings the container back to running state.

kubectl describe shows `Erro

[2019-05-21 13:49] verwilst commented on #78175
Adding a specific securityContext to force it to run as a nonroot user fixes it, although the container itself has a non-zero USER attribute.

[2019-05-21 13:51] verwilst commented on #78175
/sig scheduling-bugs

[2019-05-21 13:54] antoineco commented on #78172
I just added the info about disks to the original message: between 2 and 5 per VMSS instance.

The command you posted returns nothing, but if I remove "vm" from the last grep I get:
[code]

Feel free to catch up on Slack if you want to have a real-time chat.

[2019-05-21 13:54] verwilst commented on #78175
@kubernetes/sig-scheduling-bugs

[2019-05-21 13:55] antoineco commented on #78172
I just added the info about disks to the original message: between 2 and 5 per VMSS instance.

The command you posted returns nothing, but if I remove "vm" from the last grep I get:
[code]

Feel free to catch up on Slack if you want to have a real-time chat.

[2019-05-21 14:04] rabbitfang commented on #22368
@jessesuen Across objects, Kubernetes only has eventual consistency, and reads and writes are only atomic against a single object. Kubernetes cannot guarantee that a new pod won't be created that references the config map between the two step you listed above (i.e. GC'er sees that config map is unused; before it can delete the config map, a new pod is created referencing the CM).

[2019-05-21 14:08] fin-ger commented on #78128
I got the following logfiles:

<details>
<summary>

`coredns-86c58d9df4-d4sfm.log`

</summary>

[code]

</details>

<details>
<summary>

`coredns-86c58d9df4-xk678.log`

</summary>

[code]

</details>

<details>
<summary>

`test-set-0.log`

</summary>

[code]

</details>

<details>
<summary>

`test-set-1.log`

</summary>

[code]

</details>

<details>
<summary>

`test-set-2.log`

</summary>

[code]

[2019-05-21 14:09] mattjmcnaughton commented on #78134
/label sig/release

[2019-05-21 14:10] mattjmcnaughton commented on #78134
/sig release

[2019-05-21 14:12] catalinvr commented on #63959
+1 Waiting for this as well on EKS.

[2019-05-21 14:13] mattjmcnaughton commented on #78143
Cool idea :) Adding a link to [image families](https://cloud.google.com/compute/docs/images#image_families) for anyone like me who hadn't heard of them before :)

[2019-05-21 14:34] chrisohaver commented on #78128
It's hard to trace each test case accross two logs, but I _think_ the behavior may be a combination of 3 factors:

1.  There is a short period of time when the cluster is being started up, where the k8s API is not ready yet (those early timeout errors).  Until CoreDNS has reached and synced with the k8s API, it may return a negative answer for a query in the cluster domain. When a negative respons

[2019-05-21 14:58] andyzhangx commented on #78172
/assign
paste some info here: the 2 disk attach/detach operations costs `996.3546246579999` s totally, that's reason why it's stuck in so long time.  BTW, there is metrics calculation issue here: https://github.com/kubernetes/kubernetes/pull/77722, but anyway the two operations cost too long time in vmss API call level.

[2019-05-21 15:26] kfox1111 commented on #22368
There so far has not been any comments or reviews on the KEP. Could those interested in this issue comment there please?

[2019-05-21 15:28] tedyu commented on #75617
The code cited for logging "Node not found, %v" is now in :
pkg/scheduler/algorithm/priorities/interpod_affinity.go

[2019-05-21 16:16] liggitt commented on #77801
I'm not able to reproduce.

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-05-21T16:11:39Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4

[2019-05-21 16:21] draveness commented on #75617
/assign

[2019-05-21 16:22] Bessonov commented on #22368
I'm not sure that unused ConfigMaps should be GCed. From my point of view it's a manual task, except there is some management behind it (helm, operator etc.).

But this issue about rolling update of a ConfigMap. On rolling update maybe it's OK that old ConfigMap is deleted after all resources are rolled. But for me, it's enough to have rolling update of a ConfigMap, if it can be implemented faster

[2019-05-21 16:24] kfox1111 commented on #22368
if something snapshots the configmaps on replicaset creation, then deletes just the snapshots when replicaset is deleted, that still might work.

[2019-05-21 16:30] Cherishty opened #78181 "How to find out whether a pod belongs to statefulset/deployment/replica-set"
how can I use kubenetes client-sdk to figure out whether a **pod** belongs to **statefulset/deployment/replica-set**?

the same issue as [this](https://github.com/kubernetes/kubernetes/issues/32051), but that method does not work, also `kubectl describe pod` is not the same as` kubectl get pods`

What I can find is, for a pod belong to a high-level controller, it will have `metadata.generateName `

[2019-05-21 16:32] Cherishty commented on #78181
/sig API Machinery

[2019-05-21 17:48] jeffqwb2017 opened #78186 "Node conformance test NodeProblemDetector failed against all docker ce and ee versions from 17.06.--19.03"
**What happened**:
K8s node conformance test NodeProblemDetector [NodeFeature:NodeProblemDetector]  failed against all docker ce and ee versions from 17.06.--19.03 due to recent changes made by google
Test Source
https://github.com/kubernetes/kubernetes/blob/711b310389446f6002651c4dd67c8e233a18d796/test/e2e_node/node_problem_detector_linux.go
Labels
/sig node
/sig k8s.io
/kind bug
/priority import

[2019-05-21 18:05] yujuhong commented on #78139
Update: I found errors such as `An error was detected on device \Device\Harddisk6\DR28 during a paging operation.` in test runs that did not have the "layerchain" issue, so likely those are just red herrings.

[2019-05-21 18:14] pjh commented on #76666
I thought @madhanrm [said](https://kubernetes.slack.com/archives/C0SJ4AFB7/p1555543704026300?thread_ts=1555440886.011100&cid=C0SJ4AFB7) it was KB4486553, but maybe I'm misunderstanding.

[2019-05-21 18:17] jingxu97 commented on #78130
@tedyu thanks for your suggestion.

For this HandleError(), it means we still want to continue to start the pod even if chown fails?

[2019-05-21 18:20] jingxu97 commented on #71012
@ehmm, do you still want to submit a PR to fix this? Thanks!

[2019-05-21 18:25] chiluk commented on #67577
I resubmitted these patches now with documentation changes.
https://lkml.org/lkml/2019/5/17/581

It would really help if people could test these patches and comment on the thread on LKML.  At the moment I'm the only one to have mentioned this at all on LKML, and I have not received any comments whatsoever from the community or the maintainers.  It would really go a long way if I could get some com

[2019-05-21 18:35] boroda4436 commented on #78126
@tedyu Did you have a chance to reproduce the bug using steps above?

[2019-05-21 18:36] misterikkit commented on #75617
Thanks for the interest on fixing this bug. Sorry I haven't had time to engage on this issue. Feel free to send PRs my way.

@dadux, I'm not 100% certain that this will fix the problem of pods getting scheduled to tainted nodes. How is the taint being applied to the node? Even if the scheduler is internally consistent, there could be a time between node creation and the taint being applied where w

[2019-05-21 18:48] asc-adean commented on #62334
This caught me today, had several `socket hang up`.  Went and did a drain/rolling restart of all nodes to get us back to a happy place.

Azure AKS, Kubernetes v1.13.5

[2019-05-21 19:02] liggitt commented on #78175
/remove-sig scheduling
/sig node auth
/assign @tallclair

[2019-05-21 19:05] Eronarn commented on #68712
This documentation really, really needs work. (So does the API, for that matter.)

[2019-05-21 19:17] seh commented on #77801
I saw this happen in my cluster. I _think_ that what was happening was that the kubelet running on an upgraded master was talking through our API server load balancer to older API servers on other nodes, and whatever was responsible for registering those new RBAC rules hadn't yet written them to _etcd_.

[2019-05-21 19:21] #72292 closed

[2019-05-21 19:23] liggitt commented on #77801
the node authorizer works off a fixed permission set, not something persisted to etcd. a new node talking to an old apiserver would definitely hit this

[2019-05-21 19:35] roycaihw commented on #78087
another PR touching CRD OpenAPI publishing was merged yesterday https://github.com/kubernetes/kubernetes/pull/77554 and we didn't run alpha presubmit test

@liggitt let me know if you think it's specific to CRD openapi publishing and I can look into it

[2019-05-21 19:37] liggitt commented on #78087
debugging now

[2019-05-21 19:39] seh commented on #77801
Well, scratch the _etcd_ part, but does the rest of the scenario match what you saw, @sbskas?

[2019-05-21 21:22] rajansandeep commented on #78129
/assign

[2019-05-21 22:23] CecileRobertMichon commented on #78013
@feiskyer[ aks-engine v0.36.0 ](https://github.com/Azure/aks-engine/releases/tag/v0.36.0)is out and includes the fix.

[2019-05-21 22:45] Krueladin commented on #70201
Would like to see this issue revisited. Some of our deployments are hanging up and expiring because Kubernetes is not smart enough to try scheduling the service on a different node. Would like to avoid the manual delete operations.

[2019-05-21 23:24] saiyan86 commented on #78152
You should redirect the traffic to port 80(assuming your pod is listening on port 80).

Please try below command instead.
[code]

[2019-05-21 23:30] tedyu commented on #78126
Busy @dayjob

Hopefully would get to this later.

[2019-05-21 23:34] figo opened #78195 "build kubectl or other binaries from container"
**What would you like to be added**:
add the capability of build binaries (e.x kubectl) from container for platforms like darwin/amd64, windows/amd64

**Why is this needed**:
the way we build darwin/windows kubectl today is to run following command:
[code]
it directly compiling from the host, make its hard to work consistently cross hosts.
instead, if we can compile from container, it will solve t

[2019-05-22 00:05] draveness commented on #78007
I opened a PR and reproduced the issue with e2e test in #78182

[2019-05-22 00:42] liggitt commented on #78158
That means a client is attempting to connect to the secured port with http protocol instead of https. Check the connection configuration files (kubeconfig files) to make sure https://… is used

/close

[2019-05-22 00:42] #78158 closed

[2019-05-22 01:35] pjh commented on #75421
@nagiesek @madhanrm do you have any updates on this problem?

[2019-05-22 01:38] zq-david-wang commented on #78181
I would use selector(pod's label) to retrieve all relevant replica set(kind field from pod's owner reference), and then use owner reference to further narrow it down

[2019-05-22 02:13] Mentality-is-better commented on #78149
@danielqsj
Can we solve this problem
thank you

[2019-05-22 02:30] parkjunhyo commented on #78152
@Coderhypo

Thanks. I changed httpd conf in /var/lib/docker/overlay2/something/usr/local/apache2/htdocs/httpd.conf

after then, I restart container "docker container restart". I checked the listen port and it was changed.

[2019-05-22 02:31] parkjunhyo commented on #78152
@saiyan86

I solved above issue with above answer.

[2019-05-22 02:31] #78152 closed

[2019-05-22 04:37] zhan849 opened #78199 "Discuss the feasibility of aws-ebs provisioner to get node zone info from k8s instead of cloud provider"
**What happened**:
We've seen scalability issues with the current aws-ebs volume provisioner impl, which is querying possible zones from cloud provider directly (#76975). The improvement proposed in #76976 did make api calls more efficient, but also raises people's concern about whether it will create regression or not, or is there any more reliable ways to improve.

To summarize, there are 2 majo

[2019-05-22 04:51] feiskyer commented on #78013
@CecileRobertMichon thanks, would fix the test in test-infra.

[2019-05-22 05:11] zhan849 commented on #78199
@liggitt for item 2, an alternative is to first call a List() of all v1.Nodes, get all providerID, and make a DescribeInstance call by passing all these IDs, which can still be more efficient than running the filter. And the current logic can be applied to the results.

Need input @mcrute from aws side.

[2019-05-22 05:46] matti commented on #68605
/reopen

[2019-05-22 06:09] abh commented on #70427
RedHat thinks they figured out either this or a related issue: https://access.redhat.com/solutions/3659011
https://www.spinics.net/lists/netdev/msg556882.html

[2019-05-22 06:18] Pingan2017 commented on #77859
@mattjmcnaughton
I'm afraid not.   Eviction also call the kubeGC to delete containers before evict pods

[2019-05-22 06:21] Pingan2017 commented on #77859
@kubernetes/sig-node-bugs  Could someone take a look?

[2019-05-22 06:26] ernoaapa commented on #42125
If someone is still looking for a way to define ExternalIP (no `--cloud-provider` defined), you can update it with a PATCH request, the same way how the cloud-provider does it.

[code]

[2019-05-22 06:31] parkjunhyo opened #78201 "where is the interface for cluster ip address and the rule policy for DNA of lb service?"
I have questions about cluster IP address. I am looking for interface which has the cluster IP address.

I have single master and two worker nodes over Ubuntu 16.04

I run "kubectl get services" on master node

-------------------------------result ---------------------------------------------------
NAME                    TYPE           CLUSTER-IP      EXTERNAL-IP   PORT(S)          AGE
crenet-fr

[2019-05-22 06:32] #72075 closed

[2019-05-22 06:42] yue9944882 commented on #78181
https://github.com/kubernetes/kubernetes/blob/1c100619671dfaffe09f555a67bd9c43099f12ed/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L315-L319

the in-tree fields from `metadata.ownerReferences` will help

[2019-05-22 07:25] kautkata opened #78202 "K8s node host nat configuration documentation"
Fist things first - this is documentation related bug.

I'm setting up small on premise bare metal k8s cluster with flannel backend for Jenkins needs (for now only proof of concept environment). What struck me is that after cluster has been initialized and node hosts joined, pods can communicate between them self but connections to external resources fail. After 2 day digging (I'm new to netfilter

[2019-05-22 07:27] thatreguy opened #78203 "Incorrect error message when creating StatefulSets"
**What happened**:
cat file.yaml
[code]

kubectl apply -f file.yaml
[code]
**What you expected to happen**:
Useful error message like:
status: {} is not supported

**How to reproduce it (as minimally and precisely as possible)**:
Simply take the above yaml and `kubectl apply -f .`

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: v

[2019-05-22 07:29] kautkata commented on #78202
@kubernetes/sig-docs-maintainers

[2019-05-22 07:34] kautkata commented on #78202
@kubernetes/sig-docs-maintainers

[2019-05-22 07:55] PatrickLang commented on #76666
http://www.catalog.update.microsoft.com/Search.aspx?q=KB4497934%20  - I think this is the right fix.

[2019-05-22 08:07] answer1991 opened #78206 "Optimizing the Pod's DNS Searches Priority"
**The Pod.Spec.DNSConfig.Searches must be the highest search priority in Pod's DNS configuration.**
The field of Pod.Spec.DNSConfig is the custom configuration of Pod's DNS, so it must be the highest priority when setting Pod's DNS.

**What happened**:

For now, the Pod's DNS searches priority is:

1. In-Cluster Service domains' searches
2. Node(Host)'s searches
3. the Pod.Spec.DNSConfig.Searches.

[2019-05-22 08:09] answer1991 commented on #78206
/sig node
/assign

[2019-05-22 08:12] answer1991 commented on #78206
/sig network

[2019-05-22 08:16] ghost opened #78208 "kube-scheduler's performance looks bad"
**What happened**:
I have a 5000 node cluster, and 55000+ pods have already been running in this cluster. 25000 of them are managed by 1000 deployments. Then I did some test to know about the scheduler performance, I found that the qps was always 15+ pods/sec and scheduler only consume, at most, 2 of 32 cores. The qps will not increase when I do rolling update against more deployments, instead, th

[2019-05-22 08:18] sevensees commented on #78208
/sig scalability

[2019-05-22 08:24] cblecker commented on #78195
https://github.com/kubernetes/kubernetes/pull/78196#issuecomment-494704629

[2019-05-22 08:24] #78195 closed

[2019-05-22 08:26] PatrickLang commented on #76666
http://www.catalog.update.microsoft.com/Search.aspx?q=KB4497934%20 should be the right fix

[2019-05-22 08:36] llhhbc opened #78209 "Controller-manager: statefulSet create a old version again after delete a old version pod"
**What happened**:
When I update a statefulSet's request resources, then the controller-manager delete a old version pod, and create a old version pod again.

**What you expected to happen**:
After update statefulSet, controller-manager will create a new version pod after delete a old version pod.

**How to reproduce it (as minimally and precisely as possible)**:
I update a statefulSet's request r

[2019-05-22 08:45] jacintobarbeira opened #78210 "Istio Automatic injection fails in AWS due to DNS resolution"
**What happened**:
After installing istio, when deploying the httpbin service into the default namespace, the pod doesn't get created. The Events on the replica set indicate the folowing errors:

[code]

**What you expected to happen**:
The envoy sidecar is loaded without any error

**How to reproduce it (as minimally and precisely as possible)**:
* Cluster installed on AWS EKS (I didn't setup the

[2019-05-22 08:46] jacintobarbeira commented on #78210
/sig bugs

[2019-05-22 08:49] jacintobarbeira commented on #78210
@kubernetes/sig-aws-bugs

[2019-05-22 08:52] llhhbc commented on #78209
/sig Apps

[2019-05-22 08:53] sbskas commented on #77801
@seh indeed. I'm confused. Only one of our apiserver got upgraded not the other one.
I completed the upgrade of the second apiserver and removed the subject line. Everything went ok after this.
I'm closing the issue. Thanks for hitting the nail right on the spot. (I'll double check my work next time before opening an issue).

[2019-05-22 08:53] #77801 closed

[2019-05-22 08:54] jacintobarbeira commented on #78210
@kubernetes/sig-network-bugs

[2019-05-22 09:03] llhhbc commented on #78209
here is my controller-manager log:

[code]

[2019-05-22 09:07] s-spindler commented on #59078
/remove-lifecycle-rotten

This will stay valid until https://github.com/spf13/cobra/pull/646 is merged.

[2019-05-22 09:13] danielqsj commented on #78208
/sig scheduling

[2019-05-22 09:28] #73307 closed

[2019-05-22 10:31] msau42 commented on #72139
/remove-lifecycle stale

[2019-05-22 10:34] mo-saeed commented on #71594
@feiskyer I installed k8s version 1.13.6 with aks-engine and VMSS worker nodes, when I created a new service of Type loadbalancer, loadbalancer successfully created and VMSS's instances joined the backend-pool but all VMSS instances shown with "No Latest Model", tried to upgrade them manually, it works but after re-joining the LB backend pool they are again "No Latest Model", my question is this n

[2019-05-22 10:50] Cherishty commented on #78181
Yes, this is what I described in last post, but how can I filter it via **k8s pysdk**, or only have to list all pod and resolve it by myself?

[2019-05-22 10:55] bhdrk commented on #57904
@dims 's answer `systemctl daemon-reload` solved the problem.

[2019-05-22 11:00] #74871 closed

[2019-05-22 11:09] phil9909 opened #78211 "kubectl cp fails on symlinks"
**What happened**:
`kubectl cp` prints error message and exits when copying to symlinked folder when given as an absolute path.

**What you expected to happen**:
`kubectl cp` follows the symlink and stores the file(s) there.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[code]

Error message:
`warning: link "[...]/tmp/link/some_file" is pointing to "" which is outside

[2019-05-22 11:14] phil9909 commented on #78211
@kubernetes/sig-cli-bugs

[2019-05-22 11:18] praseodym commented on #70131
/remove-lifecycle stale

[2019-05-22 11:25] sharkymcdongles commented on #69503
So to get rid of a bug we should disable an entire feature?

https://kubernetes.io/docs/concepts/storage/storage-limits/#dynamic-volume-limits

Says it is supported by Azure-Disk. Why isn't node reporting the limit? It is getting instance metadata okay as all my nodes are tagged with SKU. Being that SKU determines attach limit as well, I do not understand why this cannot be made working?

I am on

[2019-05-22 11:27] imroc commented on #74081
/remove-lifecycle stale

[2019-05-22 11:33] andyzhangx commented on #69503
@sharkymcdongles how do you deploy k8s on Azure? To get volume limit, kubelet on agent node needs azure identity, e.g. service principal, usually it's under `/etc/kubernetes/azure.json` file

[2019-05-22 11:43] ganchandrasekaran commented on #78106
I might have narrowed down the issue. When the StatefulSet deployment is deleted it doesn't delete the PVC. Hence the PV is stuck is terminating state. One solution is delete the PVC all is gone. PVC is namespace bound so check accordingly..

[2019-05-22 11:54] sharkymcdongles commented on #69503
I deployed with kubespray. I have cloud_config set as such:

KUBELET_CLOUDPROVIDER="--cloud-provider=azure --cloud-config=/etc/kubernetes/cloud_config"

Service principle is set in cloud_config file.

[2019-05-22 12:23] sharkymcdongles commented on #69503
I triple checked and location was misspelled on some of the nodes for the cloud provider. Thanks!

[2019-05-22 12:27] andyzhangx commented on #69503
@sharkymcdongles the get vm size list call depends on location, so now it works?

[2019-05-22 12:30] jsravn commented on #76664
This feels like a fundamental problem w/ endpoints... ideally the proxier would remove the realserver when the pod is nonexistent rather than relying on arbitrary timeouts. Otherwise, there is no way to support graceful termination with UDP based protocols. Not a big deal for most UDP things, but I imagine e.g. QUIC users would be affected. Immediately terminating udp connections is in line with t

[2019-05-22 12:36] seh commented on #77801
One thing I can’t remember: While this new kubelet is complaining like this, is it able to start up a new API server successfully? That is, is the new node stuck until the old API servers are no longer answering to the load balancer?

[2019-05-22 12:52] sharkymcdongles commented on #22024
+1 If this isn't useful info or relevant we should put this to a info log level. It creates a bunch of noise.

[2019-05-22 13:10] KevinWang15 commented on #73994
/remove-lifecycle stale
I still consider it a bug..

[2019-05-22 13:19] feiskyer commented on #71594
@mo-saeed yep, this is normal since only the instance is updated instead of vmss.

[2019-05-22 13:27] zhan849 commented on #78199
/reopen

[2019-05-22 13:40] dblencowe commented on #78167
Also seeing this issue after upgrading to the latest version of Helm. @rkumar1609 I think this might be a problem with Helm parsing Values than with k8s.

[2019-05-22 13:57] liggitt commented on #78211
/assign @soltysh

it might be clearer to resolve any symlinks in the specified destination path as an initial step, and leave the untar traversal detection code as-is

[2019-05-22 14:27] liggitt commented on #77974
can you also provide the (cluster)rolebinding objects?

[2019-05-22 14:40] Ankit-rana commented on #75803
i am getting similar error.
[code]

[2019-05-22 14:47] alewitt2 opened #78214 "GET /api/v1/componentstatuses does not respect labelSelector"
**What happened**: tried to get listing of all componentstatuses using a labelSelector query selector. I am hitting the apiServer directly. GET /api/v1/componentstatuses

**What you expected to happen**: GET /api/v1/componentstatuses with labelSelector should limit responses to only componentstatuses with the specified label

**How to reproduce it (as minimally and precisely as possible)**: run GE

[2019-05-22 14:49] alewitt2 commented on #78214
@kubernetes/sig-api-machinery-bug

[2019-05-22 14:52] alewitt2 commented on #78214
/sig api-machinery

[2019-05-22 15:03] alewitt2 commented on #78214
i assume its because you cant add a label to componentstatus, but they still shouldnt return if i specify a labelSelector

[2019-05-22 15:06] jaysonwor commented on #75839
@ munsayac13  thanks for the suggestion. This is what I ended up doing to solve this:
* update the kubelet servicemonitor (e.g kubectl edit servicemonitor kubelet)
* added this:
- bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    honorLabels: true
    interval: 30s
    path: /metrics/probes
    port: https-metrics
    scheme: https
    tlsConfig:
      insecureSkipVerify: tr

[2019-05-22 15:39] rehevkor5 commented on #49445
This is a good change. The situation pre-1.13.0 is somewhat surprising because explicitly setting `loadBalancerSourceRanges` to an empty array like so:

[code]

has no effect, and the `0.0.0.0/0` Security Group Ingress is still added.

[2019-05-22 16:09] sharkymcdongles commented on #69503
Yes it does. Thanks!

[2019-05-22 16:12] ehashman commented on #63750
With #73638 merged, this can be closed.

/close

[2019-05-22 16:12] #63750 closed

[2019-05-22 16:30] gobengo commented on #55045
@zhangxiaoyu-zidif Will you link to the KEP?

[2019-05-22 17:02] divyenpatel commented on #78024
@saravanakumarrajendran looks like you are missing `disk.EnableUUID` flag on your node VM. Can you please add this flag, and recreate the pod.

you can add this flag on your node VM using govc or vcenter UI.

[code]

[2019-05-22 17:15] rhockenbury commented on #77360
Really appreciate the insight into this issue.  Can confirm that specifying the port (443) in the GOVC_URL reproduces the issue.  Thank you!

[2019-05-22 17:49] huangheqing commented on #67538
After all these conversations, what is the actual fix for issue:error: info: daemonsets "fluentd-gcp-v3.1.0" was not changed. We really don't want to see these harmless logs in the GCP logging console

[2019-05-22 18:02] tedyu commented on #78208
In PrioritizeNodes:
[code]
It seems the number of workers can be increased for higher parallelism.

[2019-05-22 18:06] josh-ferrell opened #78217 "ResourceQuotas stop refreshing"
**What happened**:
Quotas within a namespace stopped refreshing when pods were deleted or deployments scaled. ResourceQuotas within the namespace also couldn't be edited.

**What you expected to happen**:
ResourceQuotas for a namespace are updated as pods are scaled or created.

**How to reproduce it (as minimally and precisely as possible)**:
Unable to reproduce exactly. It appears to have occurr

[2019-05-22 18:15] tedyu commented on #78208
The additional traces from #78218 would give us more idea what to optimize.

[2019-05-22 18:19] mtaufen commented on #77416
Official fix by updating klog to v0.3.1: https://github.com/kubernetes/kubernetes/pull/78216

[2019-05-22 18:36] mattjmcnaughton commented on #77859
Hmm, but if the kubeGC evicts the pods, than wouldn't we expect it to delete the init container?

At a higher level, can you share the use case for setting `--maximum-dead-containers-per-container=0`, and confirm that we couldn't accomplish something similar by not setting `--maximum-dead-containers-per-container=0` and instead setting `--eviction-hard`.

Definitely not opposed to looking into thi

[2019-05-22 18:42] mattjmcnaughton commented on #78206
thanks for the idea :)

@answer1991 are you suggesting that this optimization to dns searches become the default or an opt-in option? If the former, I think it will be important to think about how to communicate these changes to users who are relying upon the already existing behavior (and also important to determine what you're proposing makes sense as a default). If its an opt-in option, than I

[2019-05-22 18:43] jingxu97 commented on #70382
@mjaow sorry for leaving this issue for a while. Now I reread this issue, I am wondering the teardown process should try again after it fails, and it should always try to unmount and then delete. I am not sure why your pod is stuck in deleting?