[2019-12-05 23:30] pulsar256 commented on #60807
Stumbled over that issue today, had to clean up a high amount of temporary namespaces generated by our CI pipeline. Based on the findings in this thread wrote a small script to automate this task:

[code]

Please no not execute blindly, understand what it does and consider the risks.

[2019-12-05 23:36] justaugustus commented on #85679
@dims @BenTheElder -- I feel like one of you might know something about this.
Is this failing test something we need to concern ourselves with for 1.17 or is it reasonable to push the milestone?

[2019-12-05 23:36] justaugustus commented on #85678
@dims @BenTheElder -- I feel like one of you might know something about this.
Is this failing test something we need to concern ourselves with for 1.17 or is it reasonable to push the milestone?

[2019-12-05 23:39] zimmertr commented on #69678
/remove-lifecycle rotten

[2019-12-05 23:42] liggitt commented on #69678
Based on https://github.com/kubernetes/kubernetes/issues/69678#issuecomment-508218044, this doesn't sound like something that will involve any changes in kubernetes or in this repo, is that correct? If so, I'd recommend closing this issue.

[2019-12-05 23:44] BenTheElder commented on #85678
I'm not sure about this one, I know for the master branch CAP* testing had a breakage because kubeadm arigapping broke, but supposedly that change didn't land in 1.17

[2019-12-05 23:47] thockin commented on #20151
This problem needs design work - if you think it's important, you can start
thinking through the lifecycle of secrets in the face of things like pod
crash-restart cycles, in terms of API (how do I actually make the secret go
away), and with regards to features like subPath which could pin a secret's
inode.

On Thu, Dec 5, 2019 at 2:39 AM Adrien Carreira <notifications@github.com>
wrote:

[2019-12-05 23:54] PatrickLang commented on #82679
/close

Thanks!

[2019-12-05 23:55] #82679 closed

[2019-12-05 23:58] msau42 commented on #69678
I recommend opening an issue in https://github.com/kubernetes-sigs/aws-efs-csi-driver for this functionality.
/close

[2019-12-05 23:58] #69678 closed

[2019-12-06 00:05] #65333 closed

[2019-12-06 00:06] PatrickLang commented on #82876
I see this passing now in https://prow.k8s.io/view/gcs/k8s-ovn/ci-kubernetes-e2e-sdnbridge-ctrd-master-windows/1202684312193863680

@adelina-t is this ok to close?

[2019-12-06 00:16] davidstack opened #85978 "does kubernetes support latest nvidiad-docker"
**What happened**:
the latest [nvidia-docker](https://github.com/NVIDIA/nvidia-docker) change it usage method ,if we want start a container with GPU,we should  use this method:
`
docker run --gpus '"device=UUID-ABCDEF,1"' nvidia/cuda:9.0-base nvidia-smi
`
and docker 19.03 add one new parament --gpu

now k8s use deviceplugin to inset the gpu device uuid to conatienr env,  will the device plugin sup

[2019-12-06 00:20] davidstack commented on #85978
/sig node

[2019-12-06 00:21] davidstack commented on #85978
kind/feature-requests

[2019-12-06 00:32] jwm commented on #72155
I encountered the same problem with 1.13.12 on EKS just now.

@tedyu yup, an admission controller is configured.

[2019-12-06 00:43] tedyu commented on #85966
I took a look at pkg/kubelet/kuberuntime/kuberuntime_manager.go

I didn't seem to find where post-start hook is called.

[2019-12-06 01:08] neolit123 commented on #85954
kubeadm does not manage all etcd related failures for you.
learn more about etcdctl and how to use it.

[2019-12-06 01:09] neolit123 commented on #85954
/remove sig-network
/sig cloud-provider
/area provider/aws

[2019-12-06 01:09] neolit123 commented on #85954
/remove-sig network

[2019-12-06 01:20] xiaoanyunfei commented on #85911
/assign
We have similar needs

[2019-12-06 01:45] yq513 opened #85979 "ERROR：Unable to attach or mount volumes，err=no volume plugin matched"
I deployed ceph, after creating the storage, the pod cannot be mounted on the PV, prompt
Unable to attach or mount volumes, err = no volume plugin matched

The main error message is as follows. What is the problem? Thank you.

Main------------
Created directory：
[root@k8s-m kubernetes]# cd /var/lib/kubelet/volumeplugins/
[root@k8s-m volumeplugins]# pwd
/var/lib/kubelet/volumeplugins

Added volume-

[2019-12-06 02:01] tallclair commented on #85489
Ah, this is a known issue with dynamic auditing, and needs to be addressed before the feature can advance to beta. The slowdown is probably because the batch queue keeps a copy of the full request and response for every request.

[2019-12-06 02:46] WoohyungHan opened #85982 "wrong ingress fields when using client-go"
**What happened**:
I can create following ingress, but if we get ingress.spec.rules the slice is not nil, but the slice has nil variable.

[code]

if i do
[code]

**What you expected to happen**:
in validation, error output
or
ingress.spec.rules set as 0 lenght slice

**How to reproduce it (as minimally and precisely as possible)**:
just create ingress

**Anything else we need to know?**:
NONE

**

[2019-12-06 02:57] xiaoanyunfei commented on #85966
That is exactly right

Pod status should be `ContainerCreating` until `postStart` is finished, and  pod IP could be updated during next `SyncPod`.
Maybe we can update pod IP(exclude pod status)  just before  `postStart`
But the logic seem be a little strange

[2019-12-06 03:11] everpeace commented on #85871
Thanks.  I would like to finish writing up KEP (I will update the existing KEP) first.  Once my draft was ready for review, I will open an issue in kubernetes/enhancement repo.

[2019-12-06 03:23] angelofdeauth commented on #20352
That article/series is dated as 2007.
I found something a little more relevant: [https://support.smartbear.com/alertsite/docs/monitors/api/endpoint/jsonpath.html#filters](https://support.smartbear.com/alertsite/docs/monitors/api/endpoint/jsonpath.html#filters)

Though I have to say, I think logical filter grouping with parentheses would be more useful than their inline scripting implementation (e.

[2019-12-06 03:33] alejandrox1 commented on #79907
/reopen
will pick this up

[2019-12-06 03:33] ZLget commented on #85741
Generally speaking, we use nodeport. But we have some special applications that need to use external IPS to provide better services. One issue mentioned the same thing #79783[9]

[2019-12-06 03:33] alejandrox1 commented on #79907
/remove-lifecycle rotten
/priority backlog

[2019-12-06 03:53] dongjiang1989 opened #85984 "Does K8s have plans to support chubaofs？"
PersistentVolumeSource struct can default chubaofs？

[2019-12-06 03:54] alejandrox1 commented on #85982
@WoohyungHan could you please provide some more information:
* what kubernetes version are you using?
* what Go client version (assuming it is Go client)?
  * could you also share more of the code that you are using, enough to replicate the op you are trying to do, please?

/triage needs-information
/retitle wrong ingress fields when using client-go

[2019-12-06 03:55] alejandrox1 commented on #85984
/sig storage
ptal
/cc @kubernetes/sig-storage-misc
/kind feature

[2019-12-06 04:06] liggitt commented on #85982
Do you have the exact go code you are using to loop over the item and access the data which is getting a nil error? The pseudo code in the description does not compile.

[2019-12-06 04:07] WoohyungHan commented on #85982
@alejandrox1
@liggitt

I'm sorry for lack of my information.
I'm using kubernetes version v1.16.2 and here you can see the code line what problem occurs.
https://github.com/kubevirt/containerized-data-importer/blob/master/pkg/controller/config-controller.go#L153

[code]

I will add nil check for the project but I think before that, we should not create the slice which has nil variable.

[2019-12-06 04:18] WoohyungHan commented on #85982
I think there's no meaning create following ingress (this ingress currently create successfully)

[code]

and I think I could add validation for this in `pkg/apis/networking/validation/validation.go`. is my direction correct? :)

[2019-12-06 04:25] alejandrox1 commented on #68827
ptal
/cc @kubernetes/sig-scalability-feature-requests

[2019-12-06 04:39] coffeepac commented on #15478
@jsirianni not all systems are running syslog which means there would have to be some per-node annotation on what facilities are available to ensure a given pod's needs are met.  docker compose gets to make that assumption because its running locally only.

[2019-12-06 04:58] liggitt commented on #85982
I see, the rule is not nil, the http variable is. That field is optional and should not be assumed to be non-nil by your client code. Adding a nil check is the correct approach.

[2019-12-06 04:58] #85982 closed

[2019-12-06 05:00] liggitt commented on #85984
Support for additional storage drivers would be added via CSI implementations, not via new per-plugin fields in PersistentVolumeSource.

[2019-12-06 05:00] #85984 closed

[2019-12-06 05:10] #79090 closed

[2019-12-06 05:19] nilo19 commented on #83073
https://github.com/kubernetes/kubernetes/pull/85885

I create a PR to mitigate the issue.

[2019-12-06 05:25] WoohyungHan commented on #85982
@liggitt I see, Thanks for review :)

[2019-12-06 06:11] #79839 closed

[2019-12-06 06:11] #79632 closed

[2019-12-06 06:18] andyzhangx commented on #83073
@nilo19 do we have a rough num about how this PR would mitigate this issue? looks like we need to  cherry-pick this PR to old releases. it's better if we have a rough estimation.

[2019-12-06 06:18] angao opened #85986 "Scheduler framework cannot disable default Predicate function"
**What happened**:

scheduler framework cannot disable default in-tree `Predicate` function:
I create the config file as follows:
[code]
I found the `NodeResourcesFit` FilterPlugin is also effective and not disabled by config.

**What you expected to happen**:

 I want to know how to disable the in-tree framework plugins, include filter, scoring

**How to reproduce it (as minimally and precisely a

[2019-12-06 06:18] angao commented on #85986
/sig scheduler

[2019-12-06 06:19] angao commented on #85986
/sig scheduling

[2019-12-06 06:23] draveness commented on #85986
/assign

I think we didn't consider the disable of the scheduling framework plugins, I could work on this and find a fix.

[2019-12-06 06:23] mucahitkurt commented on #82441
/remove-lifecycle stale

[2019-12-06 06:25] nilo19 commented on #83073
The revised version of code calls cache.get instead of azure API. The cache refreshes itself every 10 min. I believe this will solve the throttling issue.

[2019-12-06 06:32] angao commented on #85986
I found this [Plugin Configuration](https://kubernetes.io/docs/concepts/configuration/scheduling-framework/#plugin-api). So far, it seems that is not implemented.

[2019-12-06 06:35] draveness commented on #85986
Yes, this is the missing part......

[2019-12-06 07:12] #79876 closed

[2019-12-06 07:19] azmathasan92 opened #85987 "HA Cluster by kubespray: kube-controller-manager and kube-scheduler pod restart many times in kubernetes v1.13.2"
**What happened:**
We have a six node Kubernetes cluster in which we have three master nodes and three worker nodes. Everything is working fine in my cluster, but I was looking into the Kube-system namespace I saw that Kube-controller and Kube scheduler pods got restarted many times. I do not know when it happened and why.

When I was looking into the previous logs of the pod Kube-scheduler and Ku

[2019-12-06 07:22] azmathasan92 commented on #85987
/sig cluster-lifecycle

[2019-12-06 07:45] odinuge commented on #81726
/close

[2019-12-06 07:45] #81726 closed

[2019-12-06 08:03] feiskyer opened #85989 "Azure cloud provider shouldn't send unexpected LoadBalancer updates"
**What happened**:

Azure cloud provider is sending unexpected LoadBalancer update requests even if the LoadBalancer rules are already identical. The reason is

* GetIdleTimeout() returns nil when the annotation is not set
* While find rule doens't check whether it is nil or not.

https://github.com/kubernetes/kubernetes/blob/93c9085e8a934c275445ec3ab2cb2662ab65774b/staging/src/k8s.io/legacy-cloud

[2019-12-06 08:11] BenTheElder commented on #68091
/remove-lifecycle rotten
cc @liggitt

[2019-12-06 08:28] vvbogdanov87 commented on #60903
Is there a way to prevent two pods mount the same PVC even if they are scheduled to be run on the same node?

[2019-12-06 08:47] feiskyer commented on #85989
/sig cloud-provider

[2019-12-06 08:51] lambotchi opened #85991 "Is there a way to filter and process login request to kube-api-server?"
Our goal is to deny login using token from service accounts.

What we plan is to

1. Capture login event
2. Forward request to an OPA instance
3. OPA will check if the login request is using a token. It will deny user from logging in if it's using a token, otherwise it will allow it.
4. Allowed request will be forwarded to the auth server/ identity provider so that it will not be touched and busin

[2019-12-06 09:03] Binyang2014 opened #85992 "Transfer container status to terminated if image not exist"
**What would you like to be added**:
When creating pod. If container image is not exits, container will in waiting status forever.
Since it's a permanent error. We should transfer the container status to terminated. Or at least we can set a timeout for this issue. After the timeout, container will transfer to terminate status.

**Why is this needed**:
For pod monitor or life-cycle management, we w

[2019-12-06 09:05] Binyang2014 commented on #85992
@kubernetes/sig-node

[2019-12-06 10:13] oxddr commented on #82408
/remove-lifecycle stale

[2019-12-06 10:14] oxddr commented on #82422
/close

I haven't found time to have a look at this.

[2019-12-06 10:14] #82422 closed

[2019-12-06 10:20] zerkms commented on #57838
/remove-lifecycle stale

[2019-12-06 10:33] 0marq commented on #79224
I would also be interested in such a feature. Please consider reopening it.

[2019-12-06 11:03] Tenseiga commented on #69262
confirm volume attach with vmss is failing bad..

[2019-12-06 11:12] namratachaudhary commented on #78582
/remove-lifecycle stale

[2019-12-06 11:22] rdrgporto commented on #59959
Hi @kserge2001,

[code]

Example:

[code]

Regards

[2019-12-06 11:43] tedyu commented on #85966
How about making the PostStart call asynchronously and letting startContainer() return a channel (of error) so that the caller can check whether the PostStart hook succeeds or not ?

[2019-12-06 12:03] andyzhangx commented on #69262
@Tenseiga pls open a separate issue, provide detailed error info, e.g. k8s version, pod error description, etc. thanks.

[2019-12-06 12:06] #85989 closed

[2019-12-06 12:07] hubv commented on #85886
please help to review, I think I can fix the issue by PR#85997
@kubernetes/cloud-provider-bugs
/sig cloud-provider
@aojea
Thanks a lot

[2019-12-06 12:07] hubv commented on #85886
please help to review, I think I can fix the issue by PR#85997
@kubernetes/cloud-provider-bugs
/sig cloud-provider
@aojea
Thanks a lot

[2019-12-06 12:17] #78898 closed

[2019-12-06 12:23] hubv commented on #85886
/assign

[2019-12-06 13:16] hmz commented on #69262
@andyzhangx
This took too long
AKS - kubernetes version -> 1.14.8
location -> west europe

[code]

[2019-12-06 13:38] wangyanglong commented on #76531
ubuntu update containerd to "containerd.io 1.2.6-3" solved it

[2019-12-06 13:57] jkaniuk opened #86003 "[Failing Test] GCE 5K Performance - one of kube-dns instances not running"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
setting up tests (prometheus stack)

**Since when has it been failing**:
2019-12-05

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
[code]
**Anything else we need to know**:

/sig scalability
/assign

[2019-12-06 14:01] jsirianni commented on #15478
@coffeepac Just because the nodes might not have syslog does not mean the operator should not have the option. If I intend to use syslog, I would make sure my worker nodes have syslog.

[2019-12-06 14:01] andyzhangx commented on #69262
thanks for the reporting, I could confirm that the `WaitForAttach ... Cannot find Lun for disk` is due to PR: https://github.com/kubernetes/kubernetes/pull/83102, which is going to mitigate vmss API throttling issue, in that PR, it enlarge the getVMSS TTL from 1min to 10min.
Fortunately, from k8s 1.15.0, won't have this issue, since we have refactored the disk detect logic, it won't depend on getV

[2019-12-06 14:16] hubv commented on #83584
/assign
PR #86001 may fix this issue

[2019-12-06 14:18] jsafrane commented on #85476
This is a long known bug - when kubelet starts, it scans only pod directories and reconstructs volume there.

If a volume was unmounted (`TearDown` in volume plugins, `NodeUnpublish` in CSI) and kubelet died before `UnmountDevice` / `NodeUnstage`,  kubelet looses any track of the volume and will not continue with the cleanup after it's restarted.

@msau42, do I remember correctly we decided to ign

[2019-12-06 14:19] #79010 closed

[2019-12-06 14:31] ahg-g commented on #85986
This is not really a bug, this is by design.

We don't have "default plugins" yet, [see comment here](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/scheduler.go#L260). What we have is a priorities/predicates converted to plugins.

As part of [phase 2 of the migration](https://github.com/kubernetes/kubernetes/issues/85822), we will "Define algorithm providers in terms of plugin

[2019-12-06 14:34] jkaniuk commented on #86003
build log:
[code]

master server logs including 10.78.187.2:
[code]

[2019-12-06 14:37] schurterb commented on #85954
I looked at etcdctl briefly, but it doesn't appear to be included in the kubernetes install.  Was hoping there was a way to handle this that didn't include building and installing another tool.

[2019-12-06 14:42] neolit123 commented on #85954
it's part of the etcd tarballs.
currently i believe it's also included in the k8s shipped etcd image, but this might change once the image starts using distroless base.

[2019-12-06 15:09] jkaniuk commented on #86003
build log:
[code]
logs from one of problematic instances:
[code]

[2019-12-06 15:20] cbf123 commented on #85976
@kubernetes/sig-api-machinery-bugs

[2019-12-06 15:22] ahg-g commented on #85986
That being said, the logic to disable plugins is certainly missing.

[2019-12-06 16:03] ahg-g commented on #85737
/assign @alculquicondor

[2019-12-06 16:04] andyzhangx commented on #69262
cherry-pick PR: https://github.com/kubernetes/kubernetes/pull/86006 to fix this issue on 1.14

[2019-12-06 16:09] whypro opened #86007 "apimachinery: add protobuf_key and protobuf_val tags to support arbitrary protobuf use of API types"
**What happened**:

Hi, I'd like to use the `metav1.ObjectMeta` type in my custom gRPC server so I imports `k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto` (https://github.com/kubernetes/apimachinery/blob/release-1.15/pkg/apis/meta/v1/generated.proto) to the custom proto file.
I have generated the *.pb.go files by proto-gen-gogo (v1.3.1). However, when I call the api which message proto have

[2019-12-06 16:11] tnqn commented on #85746
/remove-triage unresolved

[2019-12-06 16:11] tnqn commented on #85896
/remove-triage unresolved

[2019-12-06 16:11] tnqn commented on #85908
/remove-triage unresolved

[2019-12-06 16:12] whypro commented on #86007
/sig api-machinery

[2019-12-06 16:18] spiffxp commented on #68091
I hacked up http://velodrome.k8s.io/dashboard/db/job-health-release-informing?orgId=1 to use 7d avgs and added the single flake attempt job to get this comparison of the two jobs over the last 6 months

<img width="1491" alt="single-flake-vs-multi-attempt" src="https://user-images.githubusercontent.com/49258/70337377-ce17ff80-17ff-11ea-9f13-865c5c725da4.png">

If you had asked me before November I

[2019-12-06 17:02] spiffxp commented on #68091
https://gist.github.com/spiffxp/ff38f6d32c657679b20a81a7a01b7415 - a look at the top 20 flakes caught by each job over the past 8 weeks

We could also try looking at the long tail of flakes caught by each, but I stopped after seeing they both caught at least 120 over the past week, and their rankings up top aren't appreciably different.

[2019-12-06 17:03] praseodym commented on #85974
/area workload-api/cronjob

[2019-12-06 17:03] praseodym commented on #84493
/area workload-api/cronjob

[2019-12-06 17:07] spiffxp commented on #68091
/remove-lifecycle rotten

[2019-12-06 17:15] tedyu commented on #85966
There is a simple change where we pass environment variables to the hook:
[code]
environment variables have the Pod IP.

[2019-12-06 17:33] spikecurtis commented on #85966
@tedyu the problem isn't that the hook doesn't have the podIP, it's that querying the pod on the APIServer doesn't have the podIP.

Calico talks to the APIServer to learn the podIP, and the problem is that during the hook, kubelet is blocked from updating the APIServer, so Calico is also blocked from setting up network policy, so the hook target can't talk on the network.  The hook itself isn't us

[2019-12-06 17:36] liggitt commented on #85991
No, there is not a policy hook for the built-in authentication methods. Also, there is no distinct "login" event. Every API request provides a credential, and the filter chain derives authenticated user info from that credential for use by the handler chain.

/close

[2019-12-06 17:36] #85991 closed

[2019-12-06 17:42] okar1 commented on #50375
+1

[2019-12-06 17:54] spiffxp commented on #68091
Sigh. So upon closer inspection, the ci-kubernetes-e2e-gci-gce job does not appear to actually use flakeAttempts. So we are essentially comparing the same apple to itself when we compare against the single-flake-attempt job.

To compare apples and oranges, we can look at the characteristics of the PR job vs. the CI job. The flake rate of the CI job is roughly double the flake rate of the PR job.

[2019-12-06 18:03] elrok123 commented on #51835
I've seen it too. Can't check logs because it kubectl complains it can't connect to docker container and can't create new pod due to current existence of terminating pod. Rather annoying.

[2019-12-06 18:22] jonjohnsonjr commented on #82396
Is there any way I can help with this?

[2019-12-06 18:27] spikecurtis commented on #85966
Either letting the hooks run async or pushing an APIServer pod status update immediately following sandbox creation (that sets the pod IP, but leaves the state ContainerCreating) would work for our use case.

[2019-12-06 18:34] tedyu commented on #85966
/cc @dchen1107 @derekwaynecarr @yujuhong

Which option from above is preferred ?

Thanks

[2019-12-06 18:56] spikecurtis commented on #85966
I don't have a strong preference, but in the case of multiple containers one or more of which have long-running hook targets, it would be nice to allow them to run async and see pod status updates that track the progress of each container.  Right now if you have 5 containers and the first one blocks, none of the other containers start and you don't see any APIServer updates until everything is don

[2019-12-06 19:16] goofy78270 commented on #30784
/remove-lifecycle rotten

[2019-12-06 19:29] jessechahal opened #86012 "`kubectl describe ingress` using kubectl v1.15 does not work against 1.13 API server"
**What happened**:

When using newer versions of kubectl to run `kubectl describe ingress <ingress_name>` the call fails with HTTP404.

**What you expected to happen**:

Instead of returning HTTP404 the resource description should be returned

**How to reproduce it (as minimally and precisely as possible)**:

1. Deploy an ingress resource that uses `apiVersion: extensions/v1beta1`
2. Do `kubectl g

[2019-12-06 19:38] spiffxp commented on #68091
The following jobs explicitly set flakeAttempts to 2:
- ci-cadvisor-e2e
- ci-cloud-provider-azure-conformance
- ci-cloud-provider-azure-conformance-vmss
- ci-cloud-provider-azure-multiple-zones
- ci-cloud-provider-azure-serial
- ci-cloud-provider-azure-slow
- ci-cloud-provider-azure-slow-vmss
- ci-containerd-node-e2e
- ci-containerd-node-e2e-1-2
- ci-containerd-node-e2e-1-3
- ci-containerd-node-e2

[2019-12-06 19:42] derekrprice commented on #70324
/remove-lifecycle rotten

[2019-12-06 19:58] spiffxp commented on #68091
Options in order from least to most disruptive:
1. explicitly add flakeAttempts=2 to the ci-kubernetes-e2e-gci-gce job, and wait to see if the flake rate goes down appreciably, and whether this increases job duration.. if so, maybe we should keep it
2. explicitly remove the GINKGO_TOLERATE_FLAKES env var from pull-kubernetes-e2e-gce and see if the flake rate goes up appreciably, and whether this d

[2019-12-06 20:01] cbf123 commented on #85976
By adding the following ClusterRole and ClusterRoleBinding I was able to make the errors go away:

controller-0:~/chris/example$ cat resource-reader-cluster-role.yaml resource-reader-cluster-binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: resource-reader
rules:
- apiGroups: [""]
  resources: ["namespaces"]
  verbs: ["list", "watch"]
- apiGroups: ["admissio

[2019-12-06 20:36] liggitt commented on #68091
That would be my preference as well. To prepare for the cold dose of reality, I'd recommend:
* making sure we have good visibility to which tests are flaking (testgrid, http://storage.googleapis.com/k8s-metrics/flakes-latest.json, https://storage.googleapis.com/k8s-gubernator/triage/index.html, are working, etc)
* pre-announcing intent to kubernetes-dev and/or sig leads mailing lists
* thinking ab

[2019-12-06 20:42] liggitt commented on #86012
/sig cli

describe is implemented at https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/describe/versioned/describe.go#L2340-L2347

kubectl currently supports a single version +/- the API server it is speaking to

kubectl 1.14 still used the extensions/v1beta1 API: https://github.com/kubernetes/kubernetes/blob/release-1.14/pkg/kubectl/describe/versioned/describe.go

[2019-12-06 20:48] EdwinRobbins commented on #85489
It appeared as though it was not an issue with the audit buffer itself, but more so that the audit-webhook when under heavy load and getting CPU throttled would cause the apiserver to maintain many connections and get OOM killed.

Due to difference in audit policy between AuditSink and the runtime one we had to make a more permissive policy and then rely on the webhook to drop them to keep the sam

[2019-12-06 21:28] sdarwin opened #86014 "kubectl describe shows "<unset>" for Port"
**What happened**:

After creating a service with a specified port, the "kubectl describe" command shows it as:

[code]

Why "unset"?  It was set in the yaml file.
( this might be a question, and not a bug. :-)   )

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

test.yaml:
[code]

[code]

[code]

**Anything else we need to know?**:

**E

[2019-12-06 21:28] dtolmachev commented on #77873
@mrunalp
I've found this issue trying to fix the same problem as it is described in "How to reproduce it" section.

We run static pod with Docker container. Also we have kubelet and containerd on VM.

The problem: I want to make graceful shutdown with 60s duration for container. But currently, we have only 10 seconds. That's because Docker receives `SIGTERM` and it is interpreted as [docker stop](

[2019-12-06 21:30] MrHohn commented on #78952
/remove-lifecycle rotten

[2019-12-06 22:00] yuyiying commented on #85979
Please provide entire info of storageclass and pvc for provisioning the volume. Thanks!

[2019-12-06 22:09] justaugustus commented on #68091
/subscribe

[2019-12-06 22:52] tedyu commented on #85966
The PR makes the post start hook execution async by introducing a bool parameter to startContainer.
When the parameter is true, post start hook execution would be async.
When it is false, post start hook execution would be synchronous. This is used by init containers.

[2019-12-06 22:57] nickperry commented on #82494
We experienced an outage this week with a very similar scenario. All our nodes temporarily lost contact the API server. The nodes were unable to renew their node leases and after 40 seconds transitioned to NotReady. This caused a zone PartialDisruption state.

When the control plane and worker nodes were healthy again, most of our services had no end points, even though their pods were running ok.

[2019-12-06 23:01] stevekuznetsov commented on #68091
/cc @smarterclayton

[2019-12-06 23:09] smarterclayton commented on #68091
"rip the bandaid off" = Getting my poncho for the hot arterial blood about to go everywhere

[2019-12-06 23:12] liggitt commented on #86014
Is the unset referring to the port name?

[2019-12-06 23:22] spikecurtis commented on #85966
If I understand correctly, this means that init containers with postStart hooks could still block, right? Why is that desirable?

I think that means that if an end user wants to have an init container with a postStart hook that talks on the network, they are going to still have the problem.

[2019-12-06 23:32] mmisztal1980 commented on #83073
I believe we're being affected by this. Apart from getting the `failed to ensure host in pool` - when creating our `nginx-ingress` to use a pre-configured Azure Public IP, the ingress appears to be getting a different IP each time

[2019-12-06 23:44] dims commented on #83679
cc @sjenning

[2019-12-06 23:44] tedyu commented on #85966
This is the current code:
[code]
I am just keeping backward compatibility.

[2019-12-06 23:47] tedyu opened #86017 "Pass container type to startContainer and post start hook"
**What would you like to be added**:

The container type may be useful for post start hook which is called by kubeGenericRuntimeManager#startContainer.

**Why is this needed**:
Currently the container type is not passed to kubeGenericRuntimeManager#startContainer :
[code]

[2019-12-06 23:51] tedyu commented on #86017
Ref #85966

[2019-12-06 23:51] tedyu commented on #86017
/sig node

[2019-12-06 23:53] spikecurtis commented on #85966
Could you elaborate on what you mean by backward compatibility? Why do init containers' hooks need to be executed synchronously but it's OK for regular containers to be async?

[2019-12-06 23:54] EdwinRobbins opened #86018 "Allow DaemonSet pod templates with OnFailure restart policies"
**What would you like to be added**:
Would like for DaemonSets to allow for Pod templates with other restart policies, specifically at least OnFailure.

**Why is this needed**:
It fills a functionality gap in providing a first class way to schedule pods that run to completion across all nodes or a subset of them.  This helps provide an alternative to other work arounds for achieving this effect in

[2019-12-07 00:01] EdwinRobbins commented on #86018
@kubernetes/sig-architecture-feature-requests

[2019-12-07 00:39] tedyu commented on #85966
In order to prevent init container start from hanging, we can put the call to post start hook in a goroutine whose execution time is bounded (2 minutes, e.g.)
If the execution time exceeds the limit, return timeout error for init container start.

[2019-12-07 01:36] feiskyer opened #86019 "Change Azure global rate limit to per client"
**What happened**:

There're a set of rate limit options in cloud provider config file:

| cloudProviderRateLimitQPS         | Rate limit QPS (Read)  | Float value, valid if `cloudProviderRateLimit` is true   |
| --------------------------------- | ---------------------- | -------------------------------------------------------- |
| cloudProviderRateLimitBucket      | Rate limit Bucket Size | Inte

[2019-12-07 01:52] ninja- commented on #45509
I really like this and it would be very useful for project I am migrating to kube.
Is there any development being done on this?

[2019-12-07 02:00] ninja- commented on #45509
If I am correct this is the line that currently guarantees that pods are downscaled by removing newest/oldest pods first (I don't remember which right now)
Implementing the idle flag pings and sorting by that would not be a lot of work...
https://github.com/kubernetes/kubernetes/blob/fe0a4749e3feea122f2f94e6205d6de8d575de00/pkg/controller/deployment/rolling.go#L205

[2019-12-07 02:45] enj commented on #79546
#86020
/remove-lifecycle rotten

[2019-12-07 03:58] TheSeanis opened #86021 "Implement custom TLS verification to separate hostname and certificate validation"
**What would you like to be added**:
It could be useful to decouple the functionality in InsecureSkipVerify in Kubernetes
As it stands right now, InsecureSkipVerify performs two functions:
* It verifies the host name
* It verifies the certificate chain

InsecureSkipVerify is used in:

* kubernetes/pkg/ssh/ssh.go:346
* kubernetes/staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go:30

[2019-12-07 04:01] oomichi commented on #81232
/remove-lifecycle stale

[2019-12-07 04:05] TheSeanis commented on #86021
@kubernetes/SIG-Networking-feature-requests

[2019-12-07 04:14] TheSeanis commented on #86021
To be clear, the suggestion is to perhaps not use InsecureSkipVerify and instead write your own functionality that would achieve similar goals and not rely on the Go Library as it does work but it does introduce some concern with accepting any certificate chains.

[2019-12-07 04:26] cbf123 commented on #85976
It looks like I made a mistake, the version of the sample apiserver I used was an older one that didn't have the RBAC resources that later sample apiserver versions do.  False alarm.

[2019-12-07 04:26] #85976 closed

[2019-12-07 04:51] liggitt commented on #86021
Updated title to clarify what is being asked for. It's unclear to me how valuable it is to accept a certificate with a valid signature which does not match the host being contacted.

[2019-12-07 04:53] liggitt commented on #86007
We don't generally test/support use of API types by arbitrary serializers. cc @lavalamp @smarterclayton for thoughts on adding these proto-related tags

[2019-12-07 04:57] csehra commented on #23823
can you help me for adding me there.
My Email ID : chiragsehra44@gmail.com

[2019-12-07 05:33] #65954 closed

[2019-12-07 05:43] #83073 closed

[2019-12-07 05:58] ArchangelSDY commented on #83073
Thank you all!

[2019-12-07 06:04] TheSeanis commented on #86021
In some of the Kubernetes implementations, InsecureSkipVerify is set to 'True', which allows for TLS connections to accept any certificate presented by the server and any host name in that certificate. That is already the behavior in this state. The functionality was only intended for testing and not production, which is why I suggest using another mechanism to achieve the intention of the code, o

[2019-12-07 06:19] xiaoanyunfei commented on #85966
https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-handler-execution

@tedyu
Won't this violate the file？

[2019-12-07 07:53] yq513 commented on #85979
I use rook+ceph

[root@dk-node01 /]# ceph osd lspools
6 wcl-pool
[root@k8s-m ceph]# kubectl get storageclasses
NAME PROVISIONER AGE
rook-ceph-block ceph.rook.io/block 40s

[root@k8s-m kubernetes]# kubectl create -f wordpress.yaml
service/wordpress created
persistentvolumeclaim/wp-pv-claim created
deployment.apps/wordpress created
[root@k8s-m kubernetes]# kubectl create -f mysql.yaml
service/wordpr

[2019-12-07 08:30] xieyanker opened #86023 "The number of evicted pods will increase rapidly, it will take up a lot of etcd data storage resources"
**What happened**:

When a node has less resource, the pods on  it will be evicted, and create another pod. However the previous pod's info is still existed, this will take up a lot of etcd data storage resources. And if no one find this issue in time, they will increase rapidly, it's a tricky business for us to clean up them.

**What you expected to happen**:

If a pod's status become `Evicted`,

[2019-12-07 08:35] xieyanker commented on #86023
/sig scheduling
/sig autoscaling
/sig node
/sig usability

[2019-12-07 09:49] haosdent commented on #85966
would it still possible that didn't get pod IP even change to async? For example, the async block run before `SyncPod`?

[2019-12-07 10:16] mayankshah1607 opened #86024 "Migrate kube-proxy flags to config"
This issue is to keep track of kube-proxy flags that have to be migrated to a Kubernetes-style API as part of ComponentConfig working group

**What would you like to be added**:
Following kube-proxy flags have to be migrated to `config.KubeProxyConfiguration` :

- [ ] --write-config-to
- [ ] --cleanup
- [ ] --cleanup-ipvs

As per the comments above the field declaration of the below flags, these c

[2019-12-07 10:18] mayankshah1607 commented on #86024
/assign @mtaufen
/kind feature
/wg component-standard
/assign

[2019-12-07 13:36] tedyu commented on #85966
@xiaoanyunfei
Not sure if you have looked at the PR.
The current code doesn't check error return from container start. There is no change in this regard.

If the hook hangs, the container wouldn't reach running state (with PR).

[2019-12-07 13:43] pohly commented on #82459
/remove-lifecycle stale
/lifecycle frozen

[2019-12-07 14:26] yq513 commented on #85979
I researched it for two weeks and solved it. The reason is that in operator.yaml, you need to understand the difference between the drive modes of CSI and FLEX. When you choose FLEX, you need to annotate the CSI configuration.
I have seen https://github.com/rook/rook/issues/4139 during configuration, and also commented below after resolving

[2019-12-07 14:43] sh0rez opened #86026 "apply dry-run / prune namespace ambiguity"
**What happened**: While trying to write a script that can predict what resources will be applied (or pruned) to the cluster, I noticed that the output of `kubectl apply --dry-run` does not include the namespace, which makes it impossible to tell which object is affected if two objects of the same kind and name exist in different namespaces.

**What you expected to happen**: The namespace being ou

[2019-12-07 15:20] dims commented on #85679
/close

it's more green than red now :) it has turned corner

[2019-12-07 15:20] #85679 closed

[2019-12-07 15:20] dims commented on #85678
/close

it's working now ... seeing some green runs

[2019-12-07 15:20] #85678 closed

[2019-12-07 15:34] wenjun93 commented on #77926
@rootfs @jsafrane @jingxu97

[2019-12-07 15:34] wenjun93 commented on #77926
/sig storage

[2019-12-07 15:43] sdarwin commented on #86014
Got it. Thanks!

I see it was also mentioned in https://stackoverflow.com/questions/42528409/kubernetes-what-does-unset-mean-in-port-in-a-service

[2019-12-07 15:43] #86014 closed

[2019-12-07 15:51] doubleo46 commented on #78761
ANy updat eon this?

[2019-12-07 15:52] doubleo46 commented on #78761
Any update on this?

[2019-12-07 16:08] gnufied commented on #83679
Can someone post pod's YAML *after* pod was created. I am looking for some generated fields in the Pod.

[2019-12-07 17:12] simonswine commented on #83679
I finally had the chance today to dig a bit deeper why SELinux is broken in 1.16+

In the linked PR you can see the fix. See the details in there.

If you want to give that a try, I have build a binaries here: https://github.com/simonswine/kubernetes/releases/tag/v1.16.3-selinuxfix.0

A workaround I have used in the meantime was:

[code]

My reproduction of the bug can be found there: https://gith

[2019-12-07 18:09] alejandrox1 commented on #68091
/cc

[2019-12-07 18:30] ameukam commented on #71719
@justaugustus Interested to also work on this. Like @cpanato I will need some guidance.

[2019-12-07 19:02] cpanato commented on #71719
I was kind busy with work things this last week :(. Planning to check this in the following week

[2019-12-07 19:03] cpanato commented on #71719
@ameukam will let you know the progress and status

[2019-12-07 19:47] dims commented on #83679
@simonswine nice work! looks like the patch we need is this one right?
https://github.com/simonswine/kubernetes/commit/0a2db485b471c79cd51e274a4eb141911c546769

[2019-12-07 19:48] dims commented on #83679
if so, can you please propose a PR against master of kubernetes/kubernetes?

[2019-12-07 20:50] simonswine commented on #83679
@dims https://github.com/kubernetes/kubernetes/pull/86027

[2019-12-08 00:37] jacksontj commented on #65954
/reopen
/remove-lifecycle rotten

[2019-12-08 00:52] xiaoanyunfei commented on #85966
I'm a little confused
kubelet actually check the return `msg, err` from `startContainer`, is there any doubt on this ?

[2019-12-08 00:52] #79110 closed

[2019-12-08 01:15] tedyu commented on #85966
The return value is not checked by SyncPod() for ephemeral and normal containers.
See line 825:
[code]
and line 835:
[code]

[2019-12-08 01:35] kenotsolutions commented on #85776
kubectl exec -n kube-system etdc-master -- sh -c"ETCDCTL_API=3 etcdctl --endpoints=https://[127.0.0.1]:2379 --cacert=/etc/kubernetes/pki/etcd/ca.crt  --cert=/etc/kubernetes/pki/etcd/healthcheck-client.crt --key=/etc/kubernetes/pki/etcd/healthcheck-client.key snapshot save /etc/kubernetes/pki/snapshotdb

[2019-12-08 01:46] kenotsolutions commented on #85776
`1. Create a Namespace for the user

kubectl create namespace office

2. Create a private key for your user

openssl genrsa -out employee.key 2048

3. Create a certificate sign request employee.csr using the private key employee.key

openssl req -new -key employee.key -out employee.csr -subj "/CN=employee/O=personal"

4. Generate a CSR yaml blob and send it to the apiserver by running the followin

[2019-12-08 01:49] kenotsolutions commented on #85776
Step 1: Create a new private key and CSR

openssl genrsa -out zeal.key 2048
openssl req -new -key zeal.key -out zeal.csr -subj "/CN=zeal/O=kplabs"

Step 2: Encode the csr

cat zeal.csr | base64 | tr -d '\n'

Step 3: Generate the Kubernetes Signing Request

apiVersion: certificates.k8s.io/v1beta1
kind: CertificateSigningRequest
metadata:
name: zeal-csr
spec:
groups:

system:authenticated
request:
u

[2019-12-08 03:12] shaozi commented on #78795
because when Daylight Saving kicks in or out, the offset will be changed. and you need to manually change your cronjob. (if you cronjob is scheduled, say, 9 AM everyday).

[2019-12-08 03:55] #79915 closed

[2019-12-08 04:56] #72803 closed

[2019-12-08 06:58] #80010 closed

[2019-12-08 07:40] nickperry commented on #85725
I suspect this is the same issue as #82494.

[2019-12-08 07:43] dammyboss commented on #83225
i have the same issue and i seem not to understand what Santos did to resolve his. somebody should assist a brother here please

[2019-12-08 07:44] nickperry commented on #85725
As I mentioned in #82494, we had a production outage this week on 15.6 due to this exact behaviour. Nodes went to Not ready, became Ready again but Healthy pods were still not added back as endpoints days afterward. Had to manually delete pods and their replacements became endpoints immediately.

[2019-12-08 07:46] hoyho commented on #85476
Can that persist to configmap or etcd?

[2019-12-08 08:28] rkrgarlapati opened #86032 "AKS - unable to make HPA working (no matches for kind "Deployment")"
Unable to make HPA working on Azure Kubernetes 1.14.x.

`kubectl get hpa.v2beta2.autoscaling -o yaml > c:/App/hpa-v2.yaml`

[code]

C:\Users\user>kubectl get hpa -n mynamespace
[code]

C:\Users\user>kubectl describe hpa -n mynamespace
[code]

my deployment file:
[code]

[2019-12-08 08:37] rkrgarlapati opened #86033 "AKS - unable to upgrade to apiVersion: apps/v1 from extensions/v1beta1"
I am unable to upgrade to latest apiVersion apps/v1. Using Azure Kubernetes 1.14.x

new yaml file:

[code]

in Kubernetes browser i have clicked on 'View/edit YAML' option, surprisingly i see old apiVersion extensions/v1beta1 :

[code]

@kubernetes/sig-apps-misc and  /sig apps and @soltysh  and @janetkuo

[2019-12-08 10:21] rkrgarlapati commented on #86033
sig/apps

[2019-12-08 11:19] zouyee commented on #86032
`namespace: mynamespace` does not in the same namespace.

[2019-12-08 11:20] zouyee commented on #86032
/close

[2019-12-08 11:20] #86032 closed

[2019-12-08 11:21] zouyee commented on #86024
/cc

[2019-12-08 11:24] zouyee commented on #86023
pkg/controller/podgc/config/v1alpha1/defaults.go
[code]

[2019-12-08 13:17] tedyu commented on #66430
Wouldn't #83084 solve this ?

[2019-12-08 13:39] dims commented on #86033
please raise this issue with Amazon support folks

/close

[2019-12-08 13:42] dims commented on #80819
scaleio was deprecated here: https://github.com/kubernetes/kubernetes/pull/80099

[2019-12-08 14:05] #80023 closed

[2019-12-08 14:05] #79833 closed

[2019-12-08 14:58] eranreshef opened #86037 "TopologySpreadConstraint not acting as expected"
**How to reproduce it (as minimally and precisely as possible)**:
pre-requisites: a multi-az cluster, a deployment with 1 pod in each az.
1. apply a `topologySpreadConstraint` with `maxSkew=1` and `whenUnsatisfiable: DoNotSchedule`.
2. cordon the node(s) in 1 az.
3. delete the deployment's pod(s) from the cordoned az.

**What happened**:
A new pod was created and scheduled in a form that `number_o

[2019-12-08 15:00] eranreshef commented on #86037
/sig scheduling

[2019-12-08 15:04] answer1991 commented on #63732
@tallclair

I am working on the [KEP: Generate and Mount x509 Certificate for ServiceAccount](https://github.com/kubernetes/enhancements/pull/1388) to solve these issues, your suggestion is welcome and important. Please feel free to talk to me :-)

[2019-12-08 15:06] #80032 closed

[2019-12-08 15:22] rkrgarlapati opened #86038 "load-generator busybox - unable to stop/kill it"
Kindly help. I am in trouble. There seems to be an issue with load test app.

Followed [this ](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#increase-load)article to load test HPA.

Have done CTRL+c  to stop the load run, got a message 'image deleted'. But load never stopped, it keeps growing. It's been 3 hrs, it never stops. Something is running in the bac

[2019-12-08 19:03] devaips opened #86041 "Write `readCoreV1NodeStatus` Test for Conformance"
This issue proposes that we write a test for the `readCoreV1NodeStatus` API endpoint with the intention to eventually promote to Conformance. We wrote a very basic (mock) test in order to start the conversation on what a good e2e test would look like for this endpoint. We verify that it is indeed hitting the endpoint we're targeting, by using APISnoop's live view of the cluster's audit log.

## Ou

[2019-12-08 19:07] nigimaster commented on #79365
Hi,

Unfortunately, I am also facing the same:
Warning  FailedGetResourceMetric  3m59s (x35656 over 6d5h)  horizontal-pod-autoscaler  missing request for cpu.

Any idea how to fix this?

[2019-12-08 19:10] devaips commented on #86041
/sig node
/sig testing

[2019-12-08 19:12] corneliusweig commented on #74178
/reopen

[2019-12-08 19:12] corneliusweig commented on #74178
/remove-lifecycle rotten

[2019-12-08 19:18] dmayle opened #86042 "kubectl check existence of resource without error"
**What would you like to be added**:
I'm requesting a kubectl command that can be used to check for the existence of a resource that doesn't throw an error when the resource doesn't exist.

**Why is this needed**:
The fact that `kubectl get pod foo` returns an error code causes problems in existing tools built around k8s.  It is difficult or impossible for other tools to distinguish between actual

[2019-12-08 19:24] justaugustus commented on #82068
@kevinsingapore -- Are you still having issues with this?
/remove-lifecycle stale

[2019-12-08 19:24] fejta-bot opened #86043 "pr:pull-kubernetes-e2e-gce-storage-slow flaked 4 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-storage-slow
 Flakes in the past week: **4**
 Consistency: **86.70%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Timeout | 4 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-12-08 19:56] marckhouzam commented on #74178
I've been working on auto-completion for the Helm project and I have a proposal with a PR that fully supports auto-completion for Helm plugins.  I believe the fundamental aspects of the solution would apply just as well to kubectl.  Some adaptation would be needed to adjust to how kubectl supports plugins, but I think it wouldn't be very hard.

https://github.com/helm/helm/issues/7043
https://gith

[2019-12-08 20:12] #80005 closed

[2019-12-08 20:57] liggitt commented on #86042
Sounds like the `--ignore-not-found` flag to `kubectl get` does what you want?

[2019-12-08 21:21] sdarwin commented on #85902
Hi Sahil,

A few comments and possible troubleshooting steps..

It sounds like you're using the service as type "NodePort", because there isn't an external LoadBalancer being provisioned. It will be clearer to actually define the service as type NodePort, and even change the title of the github issue to be about NodePort.  Debugging a LoadBalancer is different, but not the case here, right?

fyi -

[2019-12-08 22:14] #79801 closed

[2019-12-08 22:14] #79855 closed

[2019-12-08 22:17] altreze commented on #85888
Could you share :

[code]

[2019-12-08 22:30] tedyu commented on #79365
@max-rocket-internet
I submitted a tentative PR #86044

[2019-12-08 23:15] #79563 closed

[2019-12-09 00:03] kenotsolutions commented on #85776
kind: PersistentVolume
apiVersion: v1
metadata:
  name: hostpath2
  labels:
    type: local
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  reclaimPolicy:
    - Recycle
  hostPath:
    path: "/tmp/data1"

[2019-12-09 01:13] kevinsingapore commented on #82068
have solved it. thank u!

[2019-12-09 01:16] #82419 closed

[2019-12-09 01:22] justaugustus commented on #82068
Thanks for the update!
/close

[2019-12-09 01:22] #82068 closed

[2019-12-09 01:24] justaugustus commented on #80763
/remove-lifecycle rotten
/assign @BenTheElder @fejta

[2019-12-09 01:34] nilo19 commented on #83073
The PR is merged. Does your issue remain? @mmisztal1980

[2019-12-09 01:38] andyzhangx commented on #83073
@nilo19 pls cherry-pick that fix to old release, thanks

[2019-12-09 01:40] justaugustus commented on #75114
/assign @dims @AnitaNayak
/remove-lifecycle rotten
ref: https://github.com/kubernetes/kubernetes/pull/85355

[2019-12-09 01:57] cartyc commented on #83683
Adding #82387 as a known issue for the 1.17 release.

cc @liggitt @justaugustus @rtheis

[2019-12-09 02:07] justaugustus commented on #81027
@cheftako @dims -- Do we know what remains to be done here?
/remove-lifecycle stale

[2019-12-09 02:12] justaugustus commented on #80374
Closing in favor of https://github.com/kubernetes/kubernetes/issues/71719.
/close

[2019-12-09 02:12] #80374 closed

[2019-12-09 02:13] akifcardak commented on #8593
You can also use `kubectx` to switch the context when necessary and can see the current context simply by `kubectx -c`.

[2019-12-09 02:15] xieyanker commented on #86023
@zouyee Thanks for your reply! I update the value of the `kube-controller-manager`'s parameter ` --terminated-pod-gc-threshold`, and it's helpful to me

[2019-12-09 02:15] #86023 closed

[2019-12-09 02:32] everpeace commented on #85871
@ahg-g @Huang-Wei I drafted my first version of updating KEP ↑.  Please take a look at it 🙇

[2019-12-09 02:52] fei922 commented on #85940
From the kube-apiserver audit log, we can only see a go-http-client request. The np-default network policy was deleted, and no more detailed information was seen...
[code]

[2019-12-09 03:06] justaugustus commented on #71719
/assign @ameukam

[2019-12-09 03:07] justaugustus commented on #58012
/assign @justaugustus @cpanato @ameukam
Related: https://github.com/kubernetes/kubernetes/issues/71719
/remove-lifecycle stale
/lifecycle frozen
/milestone v1.18

[2019-12-09 03:08] justaugustus commented on #58012
FYI @kubernetes/release-engineering

[2019-12-09 03:17] techdragon commented on #55046
/remove-lifecycle stale
Still an issue...

[2019-12-09 03:18] techdragon commented on #55046
/remove-lifecycle rotten
Still an issue...

[2019-12-09 03:26] everpeace commented on #85871
/assign everpeace

[2019-12-09 03:40] BobyMCbobs opened #86051 "Write patchCoreV1Namespace Mock Test for Conformance - +1 Coverage"
This issue proposes the writing of a new test for the `patchCoreV1Namespace` API endpoint with the intention of promoting it to Conformance. This issue contains a very masic **mock** test in order to start the conversation about what a good e2e test would look like for this endpoint. The code below is verified to be hitting the intended endpoint, show as per the queries in APIsnoop's live view of

[2019-12-09 03:41] BobyMCbobs commented on #86051
/sig testing
/sig architecture
/area conformance

[2019-12-09 04:03] fortanu82 commented on #85604
Thanks Kristijan Sedlak, in my case the problem still exists and I have raised this issue with AWS team now. I will post the response in case I find something.

[2019-12-09 04:04] Tran-Hoang-Lam commented on #73056
Look like v1.14.8 doesn't have this problem, can some one confirm that? I'm using docker for windows

`Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.8", GitCommit:"211047e9a1922595eaa3a1127ed365e9299a6c23", GitTreeState:"clean", BuildDate:"2019-10-15T12:11:03Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"14

[2019-12-09 04:08] SataQiu opened #86052 "Move test specific functions from e2e sub framework"
**What happened**:

During the work for reducing invalid dependencies from the e2e core framework to subpackages of the core framework, we found a lot of particular test specific functions.
That means these each function is used at a single e2e test module only.
These functions are unnecessary to be shared as e2e framework function, so we've just
moved these functions to the particular test module

[2019-12-09 04:08] SataQiu commented on #86052
/kind cleanup
/remove-kind bug
/help

[2019-12-09 04:09] SataQiu commented on #86052
/sig testing
/area e2e-test-framework
/priority important-longterm

[2019-12-09 04:20] #80042 closed

[2019-12-09 04:36] vvbogdanov87 commented on #60903
The answer to my own question is pod [anti-affinity](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity). It is not the same as not to mount one volume to 2 pods scheduled on the same node. But `anti-affinity` can be used to ask scheduler not to run 2 pods on the same node. Therefore it prevents mounting one volume into 2 pods.

[2019-12-09 04:37] angao commented on #85986
thx! @ahg-g @draveness

[2019-12-09 04:48] nilo19 commented on #83073
Cherry picked to release 1.14-1.16
https://github.com/kubernetes/kubernetes/pull/86047
https://github.com/kubernetes/kubernetes/pull/86048
https://github.com/kubernetes/kubernetes/pull/86049

[2019-12-09 05:07] tanjunchen commented on #86052
i will pick up lifecycle auth

[2019-12-09 06:06] mmisztal1980 commented on #83073
I’ll retry today and let you know

Wysłane z iPhone'a

[2019-12-09 06:09] Charles-one commented on #83225
if you init k8s with "kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=111.222.22.3 " .
use command "ip a "  or "ifconifg",
apiserver-advertise-address must can be seen.
VPC network not support, you need connect your Service provider.

[2019-12-09 06:48] draveness commented on #86037
cc/ @Huang-Wei

[2019-12-09 06:56] fei922 commented on #85940
Probably because we use Rancher deployment and enable network isolation in Rancher. After turning off network isolation in Rancher, np-default does not disappear.

[2019-12-09 06:56] #85940 closed

[2019-12-09 07:07] Huang-Wei commented on #86037
Thanks for raising this issue.

I feel like it's a general timing issue - when you delete a Pod, that Pod may still exist for a very short time (in graceful deletion period), and at the same time, the controller backfills a Pod for it. So when scheduling tries to schedule the backfill Pod, it may read the cluster as: [1, 1, 1(deleting)].

To confirm this, can you try deleting the Pod using `kubect

[2019-12-09 07:11] eranreshef commented on #86037
Yes sure I will try that. It sounds reasonable, thats why in the first demonstration I deleted all the pods and waited for all of them to completely disappear. Nevertheless, this is still something that I believe needs to be fixed. The pod's evaluation should take in consideration pods that are in `Terminating` status and don't count them as `Running` pods.

[2019-12-09 07:14] Huang-Wei commented on #86037
I do believe we exclude the `Terminated` Pods. (if not, it should be a serious regression). What concerns me is that at that moment, scheduler may treats that (deleting) Pod as running in its cache. I will try to debug into this.

[2019-12-09 07:27] haosdent commented on #86052
i would pick up lifecycle autoscaling

[2019-12-09 07:33] hantmac opened #86058 "Using kubernetes/cluster/addons/fluentd-elasticsearch/* to install EFK has problem"
**What happened**:
I use the yaml in `kubernetes/cluster/addons/fluentd-elasticsearch/*` to install EFK cluster, I use `type: LoadBalancer` to install ES and kibana, BUT when I open kibana web UI I got `{"statusCode":404,"error":"Not Found","message":"Not Found"}` .
**What you expected to happen**:

The kibana web UI show correctly.

**How to reproduce it (as minimally and precisely as possible)**

[2019-12-09 07:34] hantmac commented on #86058
/sig EFK

[2019-12-09 07:39] eranreshef commented on #86037
Yep, this time the new pod was in `Pending` status until I uncordoned the relevant nodes.

[2019-12-09 07:49] haosdent commented on #86052
`config` looks no need to change.

[2019-12-09 07:53] haosdent commented on #86052
i would pick up lifecycle deviceplugin

[2019-12-09 08:02] cleveryg opened #86060 "All depoly rc STS can be created but the corresponding pod cannot generate，why？"
**What happened**:
[root@gpumaster01 system]# kubectl get deploy -n kubeflow
NAME                                          READY   UP-TO-DATE   AVAILABLE   AGE
admission-webhook-deployment                  0/1     0            0           13d
argo-ui                                       0/1     0            0           13d
centraldashboard                              0/1     0            0

[2019-12-09 08:04] cleveryg commented on #86060
@kubernetes/sig-contributor-experience-bugs

[2019-12-09 08:07] cleveryg commented on #86060
apiserver log:
 apiserver was unable to write a JSON response:http: Handler timeout

[2019-12-09 08:07] hantmac commented on #86058
Well I have soled this problem by modify `kibana-deployment.yaml`.

The original is:
<img width="788" alt="截屏2019-12-0916 02 42" src="https://user-images.githubusercontent.com/7600925/70418015-7f879100-1a9d-11ea-8102-41f61142a280.png">
When I use this deployment,I got the error `{"statusCode":404,"error":"Not Found","message":"Not Found"}`;
Then I modify this file:
<img width="461" alt="截屏2019-12-

[2019-12-09 08:11] hmtai commented on #43916
Mark,meet the same issue.

[2019-12-09 08:17] haosdent commented on #86052
i would pick up lifecycle endpoint.

[2019-12-09 08:19] cleveryg commented on #86060
@kubernetes/sig-api-machinery-api-reviews

[2019-12-09 08:20] brancz commented on #80623
/remove-lifecycle rotten

[2019-12-09 08:26] hh commented on #85932
/area conformance

[2019-12-09 08:30] haosdent commented on #86052
looks like remove any funcs in endpoint folder would requires invalid code dependencies.

[2019-12-09 08:34] haosdent commented on #86052
i would pick up lifecycle gpu.

[2019-12-09 08:48] mailarka commented on #85791
Hi @liggitt
Sorry for going cold on this trail. Found the offending helm chart which will create a cluster role binding linking cluster-admin with default service account in all namespace:

[code]
Fixed this clusterrolebinding and everything works fine. Is there any way which can restrict this kind of clusterrolebinding ? Or restrict any helm chart as not able to create clusterrole or clusterroleb

[2019-12-09 08:48] #85791 closed

[2019-12-09 09:00] bouk commented on #85750
Yes, that is exactly the use case I have in mind @apelisse. As a user running kubectl I want to be able to see what changed, just seeing 'server-side applied' is not useful.

[2019-12-09 09:05] #85886 closed

[2019-12-09 09:07] tanjunchen commented on #86052
@haosdent hello
lifecycle  package  is picked by me,you need not to repeat it.

[2019-12-09 09:09] yue9944882 opened #86063 "Record 401 Unauthorized in the request counter metrics"
/sig api-machinery
/sig instrumentation
/kind feature

@kubernetes/sig-api-machinery-misc @logicalhan

**What would you like to be added**:

currently authn is working as a filter handler which is executed before the individual implementation of the resource APIs. however, the `apiserver_request_total` metric is recorded after the execution of those filter handlers. that makes us never recoding an

[2019-12-09 09:10] Coderhypo commented on #86060
Look like some network fault, would you provide deploy and rs event info?

[code]

maybe we can find the breakpoint in event desc.

[2019-12-09 09:14] oxddr commented on #82488
/close

[2019-12-09 09:14] #82488 closed

[2019-12-09 09:45] michaelk3k opened #86064 "Creation of large aws-ebs volume with xfs file system fails sporadically"
**What happened**: Creating larger aws-ebs volumes (~2.6TB) with xfs seems to fail sporadically. As a consequence, mounting the volume in to the pod fails:

[code]

Output of parted for volume with successful file system creation:
[code]
Output of parted for volume with invalid file system:
[code]

**What you expected to happen**: Creation of volume should result in a volume with a file system whi

[2019-12-09 09:52] michaelk3k commented on #86064
/sig storage

[2019-12-09 10:00] vitality1987 commented on #80853
When I set `trust-device-path = true` in `/etc/kubernetes/cloud-config` than I can't reproduce the issue anymore.

[2019-12-09 10:20] mozhata commented on #70010
some bugs report with version v1.14.3

[2019-12-09 11:22] kwiesmueller commented on #85750
I think that's a valid requirement.
On the server side we could figure it out, I'm not sure about a good way to communicate it to the client though.

[2019-12-09 11:29] alenkacz opened #86066 "[Flaky test] gce-cos-k8sbeta-ingress (ci-kubernetes-e2e-gce-cos-k8sbeta-ingress)"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-cos-k8sbeta-ingress

**Which test(s) are failing**:
[Feature:Ingress] should support multiple TLS certs

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-blocking#gce-cos-k8sbeta-ingress

**Reason for failure**:
[code]

this might be relevant

[code]

**Anything else we need to know**:
cc. @kubernetes

[2019-12-09 11:36] haosdent commented on #86052
@tanjunchen oh, sry, I think lifecycle is a prefix and didn't realize it is a package, so I add it in my comment. I didn't work on lifecycle package actually.

[2019-12-09 11:40] alenkacz opened #86067 "[Flaky test] gce-cos-k8sbeta-default"
**Which jobs are failing**:
gce-cos-k8sbeta-default

**Which test(s) are failing**:
kubectl get output should contain custom columns for each resource

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-informing#gce-cos-k8sbeta-default

**Reason for failure**:
[code]

**Anything else we need to know**:
cc. @kubernetes/ci-signal
/sig api-machinery
/sig

[2019-12-09 11:44] alenkacz opened #86068 "[Flaky Test] [sig-scheduling] PreemptionExecutionPath runs ReplicaSets to verify preemption running path"
**Which jobs are failing**:
gce-cos-k8sbeta-default

**Which test(s) are failing**:
PreemptionExecutionPath runs ReplicaSets to verify preemption running path

**Since when has it been failing**:

**Testgrid link**:
master:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&sort-by-flakiness=&include-filter-by-regex=Preemption

release 1.17: https://testgrid.k8s.io/sig-

[2019-12-09 11:45] tegk commented on #33777
Same here

[2019-12-09 11:46] alenkacz commented on #85814
@ahg-g I assume this was not cherry-picked to 1.17, right?

[2019-12-09 11:46] alenkacz commented on #85814
/reopen

this is still an issue on 1.17. we should probably consider cherry-picking as this is creating a lot of noise in the dashboards

[2019-12-09 12:01] jsafrane commented on #77926
StorageClasses visible/non-visible to users: use RBAC
StorageClasses usable/non-usable to namespaces: use quota, that works per namespace.

StorageClasses usable/non-usable to users: that's not possible, quota (per namespace) should be used instead.

[2019-12-09 12:21] konghui opened #86069 "upgrade statefulset can keep the pod recreate on the some node"
**What would you like to be added**:
upgrade statefulset can keep the pod recreate on the some node.
**Why is this needed**:
When I run the data service like elasticsearch on the k8s and use the local flexvolume storage the data on the node. Some times current Pod resources is insufficent(like cpu and memory),  I need to upgrade the statefulset limit resource. But it will cause pod reschedule to t

[2019-12-09 12:22] konghui commented on #86069
/sig scheduling

[2019-12-09 12:46] pierewoj commented on #86003
This issue did not occur in the next 3 runs:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1203721273125900288
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1203358886594088961
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1202996646514790402

[2019-12-09 13:13] pierewoj commented on #86003
1205 17:15:25.597337       1 scheduler.go:754] pod kube-system/coredns-7986b5cbc7-hkt9z is bound successfully on node "gce-scale-cluster-minion-group-5rg8", 647 nodes evaluated, 500 nodes were found feasible.

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1202634289288581120/artifacts/gce-scale-cluster-minion-group-5rg8/

systemd logs:
[code]

[2019-12-09 13:25] wgliang opened #86074 "kube-apiserver memory leak for etcd mvccpb Unmarshal"
**What happened**:
![image](https://user-images.githubusercontent.com/8739301/70439105-37329800-1aca-11ea-8060-6a32213905df.png)

I pprof debug it found:

![image](https://user-images.githubusercontent.com/8739301/70439163-54fffd00-1aca-11ea-9b93-07d5668c6c13.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?*

[2019-12-09 13:26] wgliang commented on #86074
/priority important-soon

[2019-12-09 13:26] wgliang commented on #86074
/sig api-machinery

[2019-12-09 13:29] #79275 closed

[2019-12-09 13:29] #73181 closed

[2019-12-09 13:37] dims commented on #81027
/close

that should be it! thanks @justaugustus

[2019-12-09 13:37] #81027 closed

[2019-12-09 13:44] wgliang commented on #86074
[code]

[2019-12-09 14:24] grozan opened #86079 "allow the name of a secret/configmap to be retrieved/derived from an env variable"
**What would you like to be added**:

I would like to be able to have more flexibility with regards to choosing which configmap or secret to make available in a pod. Today the declaration of such a volume looks like

[code]
so the name of the secret/configmap are completely static. I'd like to be able to say something like

[code]

Today I can expand an env variable in another one (ENV2=something-

[2019-12-09 14:32] julianvmodesto commented on #85652
https://github.com/kubernetes/kubernetes/blob/f229aa0ad65a0378645a68ebc7ca2bf65e4957e9/staging/src/k8s.io/cli-runtime/pkg/resource/mapper.go#L60
Looks like we'll convert [cmdutil's `func GetDryRun() string`](https://github.com/kubernetes/kubernetes/blob/08ef34a2b0ca2b3ceefea3bcf9dc387dc204c42b/staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go#L501) to `func GetDryRun() bool`. [`cobra` uses `strco

[2019-12-09 14:51] julianvmodesto commented on #85652
Started to update the KEP https://github.com/kubernetes/enhancements/pull/1399

Looking at cli-runtime, it looks like `--local` doesn't pass the REST mapping. I'm not sure yet, but I think omitting the REST mapper doesn't call the apiserver at all, so `--dry-run=server` would never be passed. It seems like `--local` might be useful because of this, and we probably want to deprecate the `--dry-run=

[2019-12-09 15:14] liggitt commented on #83679
Reopening to track adding a test.

[2019-12-09 15:20] #85341 closed

[2019-12-09 15:24] alculquicondor commented on #68951
We can consider this fixed.

More work will be needed during phase 2 of framework migration. But we will re-scope this.

/close

[2019-12-09 15:24] #68951 closed

[2019-12-09 15:25] alculquicondor commented on #80639
/remov-lifecycle stale

[2019-12-09 15:31] #75828 closed

[2019-12-09 15:33] rustamxp commented on #72597
up

[2019-12-09 15:46] bzuelke commented on #69262
You mention a 1.14 cherry pick but I'm also seeing https://github.com/kubernetes/kubernetes/pull/78441
Is this correct to assume 1.13 will have this fix as well @andyzhangx ?

[2019-12-09 15:50] renjian52 commented on #85726
I signed it

[2019-12-09 16:23] liggitt opened #86080 "Test coverage of volume relabeling is lacking"
**What happened**:
SELinux volume relabeling regressed in 1.16/1.17 with no test failures. See https://github.com/kubernetes/kubernetes/issues/83679

**What you expected to happen**:
Test failures would have prevented the regression. Currently, we apparently only have manual test guarantees that this functions correctly.

/sig node storage
/priority critical-urgent

[2019-12-09 16:24] liggitt commented on #83679
On second thought, spawned a separate issue to track adding test coverage. https://github.com/kubernetes/kubernetes/issues/86080

/close

[2019-12-09 16:36] ProdanLabs opened #86081 "Kubelet flag "pod-infra-container-image" is invalid when using CRI-O"
**What would you like to be added**:
When running with non-docker, the flag pod-infra-container-image takes effect
**Why is this needed**:
CRI-tools does not support image tagging, and cannot import images.
When Kubernetes is running in a local area network environment or is unable to access k8s.gcr.io due to force majeure, the pod cannot run because there is no pull to pause

[2019-12-09 16:41] alejandrox1 commented on #86003
/priority critical-urgent

[2019-12-09 16:42] ProdanLabs commented on #86081
[code]

[2019-12-09 16:46] dmayle commented on #86042
That actually does work.  I'm going to try to update the tools I depend on.

[2019-12-09 16:46] #86042 closed

[2019-12-09 16:52] pierewoj opened #86082 "[Failing Test] GCE 5K Performance - prometheus measurement fails"
**Which jobs are failing**:
 gce-master-scale-performance

 **Which test(s) are failing**:
load

 **Since when has it been failing**:
 2019-12-06

 **Testgrid link**:
 https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

 **Reason for failure**:

[code]

 **Anything else we need to know**:

 /sig scalability
 /assign

[2019-12-09 16:53] jkaniuk commented on #86003
Priority can be decreased.
Last three failed runs have different reason and separate issue was opened for them: https://github.com/kubernetes/kubernetes/issues/86082.
This fail is related to a VM that failed and was recreated during setting up the cluster.

[2019-12-09 17:10] TomaszKlosinski commented on #71887
Same story here:
k8s: v1.16.3
docker: 18.06.2-ce
linux: Ubuntu 18.04.3 LTS
cgroup-driver: systemd

[2019-12-09 17:15] pierewoj commented on #86082
/sig scalability

[2019-12-09 17:33] #50321 closed

[2019-12-09 17:45] pierewoj commented on #86003
Looks like there are two VMs with the same name. Ids of the VMs are:
* 5684613896787494051
created at 2019-12-05T17:11:40.060Z (interestingly, there is bootCounter=2 logged)
deleted at 2019-12-05T17:16:42.737448Z by 51872839970@cloudservices.gserviceaccount.com

* 2855329805732447636
created at 2019-12-05T17:16:43.239Z

Grepping MIG logs for: gce-scale-cluster-minion-group-5rg8, 2 results found:
[

[2019-12-09 18:00] justaugustus commented on #71719
May potentially be fixed with https://github.com/kubernetes/kubernetes/pull/80909.
/assign @hoegaarden

[2019-12-09 18:06] jkaniuk commented on #86003
Regarding failing logexporter:
[code]

during that time:
[code]

[2019-12-09 18:34] #79982 closed

[2019-12-09 18:34] #78398 closed

[2019-12-09 19:16] seh commented on #66323
How does this approach relate to inline CSI volumes? There's no _PersistentVolume_ involved, and hence no way to specify an access mode. [I _can_ specify a filesystem type](https://github.com/kubernetes/api/blob/master/core/v1/types.go#L1708-L1737), but my driver ignores it (always using _tmpfs_).

I considered having my CSI driver read the mounting pod's spec to see if it has a security context w

[2019-12-09 19:25] fejta-bot opened #86086 "pr:pull-kubernetes-e2e-gce-device-plugin-gpu flaked 4 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-device-plugin-gpu
 Flakes in the past week: **4**
 Consistency: **99.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Stage | 4 |

#### Previously closed issues for this job flaking:
#76449 #68987 #56736

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-12-09 19:34] krystan commented on #74850
/remove-lifecycle rotten

this is still an issue in the latest release and it is unclear how to fix it as yet.

[2019-12-09 19:38] spikecurtis commented on #85966
Does `SyncPod()` still block waiting for the hook to complete or timeout to fire?  If so, then this doesn't fully solve our problem, because we will still be blocked from getting the podIP while that hook is executing.

If we need to keep the init container hooks synchronous, then I would prefer the solution where we trigger a pod status update including the pod IP immediately following sandbox cr

[2019-12-09 20:08] spiffxp commented on #68091
I appreciate what @liggitt is asking for, but I have concerns that's blowing scope from "stop retrying flakes" to "put together better deflaking guides, policies, and tools than we have now" and is going to take a while.

I'd rather not have perfect be the prerequisite for this, but am willing to massage existing content into something more cohesive than what we have.

Looking for existing content

[2019-12-09 20:19] BobyMCbobs opened #86087 "Write listCoreV1ComponentStatuses and readCoreV1ComponentStatus Mock Test for Conformance - +2 coverage"
This issue proposes the writing of a new test for the `listCoreV1ComponentStatus` and `readCoreV1ComponentStatus` API endpoints with the intention of promoting it to Conformance. This issue contains a very masic **mock** test in order to start the conversation about what a good e2e test would look like for this endpoint. The code below is verified to be hitting the intended endpoint, show as per t

[2019-12-09 20:29] liggitt commented on #68091
Even just an email to sig leads and kubernetes-dev describing the intent, along with those topics/references, would be helpful.

[2019-12-09 20:47] TomaszKlosinski commented on #50922
Any news on this? Copying over configmaps from namespace to namespace seems, to say the least, impractical solution.

[2019-12-09 20:48] kellycampbell commented on #50632
This project may be useful: https://github.com/ricardomaraschini/oomhero

[2019-12-09 20:50] BobyMCbobs opened #86089 "Write listCoreV1ServiceForAllNamespaces Mock Test for Conformance - +1 coverage"
This issue proposes the writing of a new test for the `listCoreV1ServiceForAllNamespaces` API endpoint with the intention of promoting it to Conformance. This issue contains a very basic **mock** test in order to start the conversation about what a good e2e test would look like for this endpoint. The code below is verified to be hitting the intended endpoint, show as per the queries in APIsnoop's

[2019-12-09 21:25] BrianKopp commented on #72155
Ditto on kubernetes 1.13.12 on EKS. Same for a couple deployments

[2019-12-09 21:49] mtaufen commented on #86024
--hostname-override makes sense to me as unmappable to shared config, but we should look into why --master, --healthzport, and --metricsport cannot be.

The typical reason would be that the field has to be set to a different value for every instance, but --master sounds like it would be the same everywhere (location of API server) and the ports I imagine should be set the same on each kube-proxy p

[2019-12-09 22:09] tsuna commented on #73056
I have v1.16.3 on macOS and I still see this issue nearly on a daily basis. It generally appears when I leave my laptop to sleep overnight. Seems like something under the hood is timing out but `kubectl exec` exits zero and the command it started keeps running in the container.

[2019-12-09 22:25] leodotcloud opened #86091 "pod started with docker bridge networking instead of "none""
**What happened**:
One of the pods in the cluster has been started with docker networking instead of none. This causes the IP address of the pod to be configured from the docker subnet instead of POD CIDR range.

**What you expected to happen**:
Expect the pod to start with "none" networking and the CNI plugin to configure the IP address from the podCIDR.

**How to reproduce it (as minimally and p

[2019-12-09 22:30] leodotcloud commented on #86091
/sig network

[2019-12-09 22:31] leodotcloud commented on #86091
Some debug info collected from the problematic setup:

Looking at the problematic pods with the docker ip:
[code]

Inspecting them:

[code]

For some reason the app container `189e89c00f2c` exited around `"2019-12-05T20:09:51.902411773Z"`

followed by it's corresponding pod `7b7e9a3ed8a3` around  `"2019-12-05T20:09:54.004432054Z"`

Then the same pod got recreated

Pod container e6191963a79c at `"2

[2019-12-09 22:45] parkre commented on #47862
This would be a great feature

[2019-12-09 23:01] goodidea-kp opened #86094 "Node cannot join"
**What happened**:
fragment from node describe command:
Conditions:
  Type             Status  LastHeartbeatTime                 LastTransitionTime                Reason                       Message
  ----             ------  -----------------                 ------------------                ------                       -------
  MemoryPressure   False   Mon, 09 Dec 2019 16:53:47 -0600   Mon, 09

[2019-12-09 23:07] spiffxp commented on #83509
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=CSI%20mock

/priority important-soon

[2019-12-09 23:52] spiffxp commented on #85762
/remove-kind failing-testing
/kind flake

[2019-12-09 23:52] spiffxp commented on #85762
/remove-kind failing-test

[2019-12-09 23:53] spiffxp commented on #85814
/kind flake

[2019-12-09 23:55] ahg-g commented on #85814
correct, it was not cherry-picked to 1.17.

[2019-12-09 23:55] spiffxp commented on #86066
/remove-kind failing-test
/kind flake

[2019-12-09 23:55] spiffxp commented on #86067
/remove-kind failing-test
/kind flake

[2019-12-10 00:01] spiffxp commented on #86068
/kind flake
/remove-kind failing-test

[2019-12-10 00:01] liggitt commented on #86074
1.11 is out of support. What version of etcd is this using? Is this reproducible with kubernetes 1.15+?

[2019-12-10 00:07] wgliang commented on #86074
etcd is v3.2.18, I don't know if it exists in version 1.15+, which happened by accident in my environment.

[2019-12-10 00:09] wgliang commented on #86074
But if the root cause is in kv.pb.go, I think it should exist in almost all versions, because this code has not changed for two years.

[2019-12-10 00:11] liggitt commented on #86074
What storage backend config is this using? Do you have the kube-apiserver invocation available?

[2019-12-10 00:14] wgliang commented on #86074
What does storage backend config mean?

Yes, I have.

[2019-12-10 00:40] BobbyJohansen commented on #50375
+1

[2019-12-10 01:22] ydcool commented on #85932
It there a clear solution can we submit those docker images? @hh

[2019-12-10 01:24] ydcool commented on #85932
/help

[2019-12-10 01:49] willzhang commented on #84244
same error ,when changed /etc/hosts

[2019-12-10 01:50] cfarrend commented on #72196
This would be very useful to us

[2019-12-10 02:02] haosdent commented on #86052
i would pick up ingress

[2019-12-10 02:10] wgliang commented on #86074
Looks like related with https://github.com/gogo/protobuf/issues/583.

[2019-12-10 02:23] wgliang commented on #86074
Looks like related with https://github.com/etcd-io/etcd/issues/11350

[2019-12-10 02:35] wgliang commented on #86074
I check that the number of files opened by the kube-apiserver of the memory leak node is 7000+, but there are only 5 in normal node.

[2019-12-10 02:36] mariusgrigoriu commented on #81382
Should be fixed by #84664

[2019-12-10 02:36] #81382 closed

[2019-12-10 02:39] liggitt commented on #86074
cc @jpbetz

[2019-12-10 02:41] liggitt commented on #86074
can you provide the invocation here?

[2019-12-10 02:50] wgliang commented on #86074
I don't know what you mean by invocation? Is an https request?
There are a lot of warnings:

[code]

[2019-12-10 02:54] liggitt commented on #86074
The `kube-apiserver` binary invocation (including the command-line flags used to start it). Specifically, I'm looking to see if a `--storage-backend` or `--storage-media-type` flag is being passed to the `kube-apiserver` when starting it.

[2019-12-10 02:57] hzxuzhonghu commented on #85979
/sig storage

[2019-12-10 03:01] wgliang commented on #86074
start command

`/opt/meituan/kubernetes/bin/kube-apiserver --logtostderr=false --v=3 --etcd-servers=https://XX.XX.XX.XX:4001,https:///XX.XX.XX.XX:4001,https:///XX.XX.XX.XX:4001,https:///XX.XX.XX.XX:4001,https:///XX.XX.XX.XX:4001 --etcd-servers-overrides=/events#https:///XX.XX.XX.XX:4001;https:///XX.XX.XX.XX:4001;https:///XX.XX.XX.XX:4001;https:///XX.XX.XX.XX:4001;https:///XX.XX.XX.XX:4001 --insecu

[2019-12-10 03:10] clarklee92 commented on #86052
I can handle the ones that need to be handled：
[code]

[2019-12-10 03:27] attlee-wang commented on #73140
This issues is not resolved and I've got this issue with Kubernetes version 1.12.4，pleace re-open @fejta.

[2019-12-10 03:28] attlee-wang commented on #73140
/reopen

[2019-12-10 03:31] attlee-wang commented on #73140
/remove-lifecycle

[2019-12-10 03:35] attlee-wang commented on #73140
/remove-lifecycle @rotten

[2019-12-10 03:36] attlee-wang commented on #73140
/remove-lifecycle rotten

[2019-12-10 03:43] attlee-wang opened #86104 "Adding an already deleted node port to service shows already acquired error"
This is a copy of #32987 and #73140 which are closed but not resolved as people (including myself) are still facing the issue. I've got this issue with Kubernetes version 1.12.4. I want to some people to done it or give a reasonable explanation?

[2019-12-10 03:49] attlee-wang commented on #86104
@kubernetes/sig-api-machinery-bugs

[2019-12-10 04:06] mayankshah1607 commented on #86024
/assign

[2019-12-10 04:16] attlee-wang commented on #86104
@aparamon @safrmich @DImuthuUpe About this issuse，do you have any further conclusions?

[2019-12-10 04:53] 54853315 commented on #66852
calico什么版本？3.8.*有bug，会显示1/1 ready，实际上要进入每一个describe pod calico-node-xxxxx 查看Events才知道是否成功部署。

[2019-12-10 04:54] 54853315 commented on #66852
容器不能访问外网，一般是CoreDNS的问题：

https://segmentfault.com/q/1010000021184218

[2019-12-10 05:40] ggriffiths opened #86106 "panic in pkg/kubelet/server/stats when driver does not support volume stats"
Found this on k8s Version: v1.15.3. Our CSI driver does not implement volume stats.

Similar issue to #79719. I noticed a fix for this was merged to release-1.15 on and is in 1.15.3: https://github.com/kubernetes/kubernetes/commit/78fdc0a129b5aeadcf1367c2142f57d8ff050ab6

[code]

[2019-12-10 05:41] ggriffiths commented on #86106
@kubernetes/sig-storage-bugs
/sig storage

[2019-12-10 06:25] haosdent commented on #86106
wired, still have problem even you use latest version? and is this error caused by other volumes instead of csi?

[2019-12-10 06:30] akshaysharama commented on #85888
We are Installing kubernetes using kubespray.

10-kubeadm.conf
{
  "name": "cni0",
  "cniVersion":"0.3.1",
  "plugins":[
    {
          "nodename": "demo3",
          "type": "calico",
      "etcd_endpoints": "https://xx.xx.xxx.xx:2379",
      "etcd_cert_file": "/etc/ssl/etcd/ssl/node-demo3.pem",
      "etcd_key_file": "/etc/ssl/etcd/ssl/node-demo3-key.pem",
      "etcd_ca_cert_file": "/etc/ssl/e

[2019-12-10 06:43] agnihotrigaurav commented on #75194
got same issue when i  ran kubetest for k8s version 1.15.6.
How can this be reopen or I have to create a new issue?

[2019-12-10 06:45] droslean opened #86107 "[Failing Test] gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)"
**Which jobs are failing**:
`gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)`

**Since when has it been failing**:
`6th Dec 07:47 PST`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-alpha-features

**Reason for failure**:
[code]
see: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-feature

[2019-12-10 06:46] haosdent commented on #86052
In job, looks like only
[code]
could be migrated.

I would submit a pull request for this.

[2019-12-10 06:51] jhz1103 opened #86108 "About watch-event"
Freshman's question: how can i know the exact  occurrence time of watch event?For example, i got a response from apiServer at 9:00 am of pod-modify, is that the exact time of this event?

[2019-12-10 07:19] haosdent commented on #86052
files in package kubectl looks like used by multiple packages.

[2019-12-10 07:21] zhucan commented on #40273
If I use iscsi, whether I can set iscsi service after the docker service?

[2019-12-10 07:34] haosdent commented on #86052
I would migrate kubelet.

[2019-12-10 07:38] zhucan commented on #40273
@mnowrot  Can you paste your solution?

[2019-12-10 07:48] tiny1990 opened #86111 "generic_scheduler.go have a panic?"
**What you expected to happen**:
panic

**How to reproduce it (as minimally and precisely as possible)**:
all of RunPostFilterPlugins status success.

**Anything else we need to know?**:
 I read source code
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L226
RunPostFilterPlugins return nil if all plugin  is success.

[code]

**Environment**:
- Kubernet

[2019-12-10 08:03] tiny1990 commented on #86111
@draveness

[2019-12-10 08:04] rohitrd0987 commented on #51096
Same issue, this is effecting only in one of my GCP project, I have 3 private GKE clusters only 2 of them are being affected. The same code running in different projects are not behaving the same. Only one container is failing the readiness/liveness probes. This is seen with multiple pods across different namespaces. In kube-system namespace the kube-dns, l7-default-backend, heapster pods are rest

[2019-12-10 08:04] kenotsolutions commented on #85776
`apiVersion: v1
kind: Pod
metadata:
  labels:
    run: demo-web
  name: demo-web
spec:
  volumes:
  - name: html
    emptyDir: {}
  containers:
  - image: nginx
    name: demo-web
    volumeMounts:
    - name: html
      mountPath: /usr/share/nginx/html
  - image: ansilh/debug-tools
    name: git-pull
    args:
    - sh
    - -c
    - 'while true ; do [ ! -d /html/.git ] && git  clone https://gith

[2019-12-10 08:05] tiny1990 commented on #86111
/sig scheduler

[2019-12-10 08:05] kenotsolutions commented on #85776
apiVersion: v1
kind: Pod
metadata:
  name: test-pd
spec:
  containers:
  - name: myapp-container
    image: busybox
    command: ['sh', '-c', 'echo The app is running! && sleep 3600']
    volumeMounts:
    - mountPath: /cache
      name: cache-volume
  initContainers:
  - name: init-touch-file
    image: busybox
    volumeMounts:
    - mountPath: /data
      name: cache-volume
    command: ['sh',

[2019-12-10 08:07] tiny1990 commented on #86111
@kubernetes/sig-scheduling-bugs

[2019-12-10 08:07] kenotsolutions commented on #85776
kubectl taint nodes k8s-worker-02 key=value:NoSchedule

to the pod
tolerations:
- key: "key1"
  operator: "Equal"
  value: "value1"
  effect: "NoExecute"
  tolerationSeconds: 3600

or
tolerations:
- key: "key"
  operator: "Exists"
  effect: "NoSchedule"

[2019-12-10 08:07] draveness commented on #86111
This is a typed nil, and it won't panic

/close

[2019-12-10 08:07] #86111 closed

[2019-12-10 08:08] kenotsolutions commented on #85776
sudo curl -s  --cacert /etc/kubernetes/pki/ca.crt --cert /etc/kubernetes/pki/apiserver-kubelet-client.crt --key /etc/kubernetes/pki/apiserver-kubelet-client.key -XGET 'https://192.168.56.201:6443/api?timeout=32s' |python3 -m json.tool

[2019-12-10 08:09] tiny1990 commented on #86111
!postfilterStatus.IsSuccess() no painc ?

[2019-12-10 08:09] kenotsolutions commented on #85776
First, create controller and default backend
[code]

Second, create service and expose
[code]

Create the ingress
[code]

To test, run a curl pod
[code]

[2019-12-10 08:10] draveness commented on #77284
/close

I think we have already solved this issue, and feel free to reopen if not.

[2019-12-10 08:10] #77284 closed

[2019-12-10 08:12] kenotsolutions commented on #85776
openssl x509 -in mycert.crt -out mycert.pem -outform PEM

openssl x509 -enddate -noout -in server.crt

[2019-12-10 08:13] draveness commented on #86111
No, this is not a bug. https://play.golang.org/p/0KL1gUOV1jo

[code]

[2019-12-10 08:21] tiny1990 commented on #86111
sorry , it's my fault.

[2019-12-10 08:21] kenotsolutions commented on #85776
kubectl create configmap myconfig --from-literal=VAR1=val1
apiVersion: v1
kind: Pod
metadata:
  name: test-pod
spec:
  containers:
    - name: test-container
      image: k8s.gcr.io/busybox
      command: [ "/bin/sh", "-c", "env" ]
      env:
        # Define the environment variable
        - name: SPECIAL_LEVEL_KEY
          valueFrom:
            configMapKeyRef:
              # The ConfigMap c

[2019-12-10 08:25] haosdent commented on #86052
for log, looks like only 1 method could be migrated. Have submitted the merge request.

[2019-12-10 09:03] zouyee commented on #86104
This release is past maintenance，and i could not reproduced on version 1.13+.

[2019-12-10 09:17] zouyee commented on #86094
Because CSIMigration enabled in `1.17`, you must disable the feature when started kubelet.

[2019-12-10 09:28] hubv commented on #83584
Could someone help to cherry-pick PR #86001 into v1.17.x or v1.16.x? Then we can adopt it before v1.18.

[2019-12-10 09:44] aojea commented on #85762
@spiffxp @liggitt @BenTheElder I think that I'm making progress trying to deflake the ipv6 tests
https://github.com/kubernetes/kubernetes/pull/85727#issuecomment-563006867
I have submitted PR to fix the portmap plugin issue that should be able to improve the situation

[2019-12-10 10:04] packyzbq opened #86118 "e2e.test Performance error"
Hi, I want to run some performance test using kubemark cluster locally and e2e.test. I have already deployed an external k8s cluster and run a kubemark master on another node.  The e2e.test binary file is compiled by `make quick-release`

**Which test(s) are failing**:
I enconter a problem when execuate `./e2e.test --host="http://127.0.0.1:8080" --ginkgo.focus=":Performance]" --provider="local" --

[2019-12-10 10:16] stephen-dexda commented on #82525
/remove-lifecycle stale

[2019-12-10 10:59] haosdent commented on #86052
submitted the pull request to migrate metrics.

[2019-12-10 11:40] jkaniuk commented on #86003
Looks like temporary network issues.
Subsequent runs do not have any logexporter or dns problems.

Closing

[2019-12-10 11:40] #86003 closed

[2019-12-10 12:05] dims commented on #68091
+100 to throw the lever after dropping an email heads up @liggitt @spiffxp

[2019-12-10 12:07] dims commented on #68091
/me hands @smarterclayton some ski goggles!

[2019-12-10 12:49] bart0sh commented on #85938
@AlxSmith11

9223372036854771712

Can you show full path to hugetlb.1GB.limit_in_bytes entry?

I'm guessing you're showing host level entry. You may want to look at the pod level one.
Here is what I see on my machine:
[code]

[2019-12-10 12:51] #75034 closed

[2019-12-10 12:57] iamcryptoki opened #86121 "LivenessProbe keep checking on port 80 instead of 8081"
### **WHAT HAPPENED**:

**1. Defined a _Deployment_ with a container exposing the port 8081 :** It works. Pod gets ready and Wordpress is available.
2. **Added liveness/readiness probes to Deployment:** Pod never gets ready. Probes seem to check port 80 instead of 8081.
3. **Pod events:**
[code]

**WHAT YOU EXPECTED TO HAPPEN:**

Probes to check port 8081 and Pod ready.

**HOW TO REPRODUCE IT:**

[2019-12-10 13:17] attlee-wang commented on #86104
my case：
k8s version：1.12.4
pod.yaml:
`apiVersion: v1
kind: Pod
metadata:
  generateName: test-nginx-65cbfff985-
  labels:
    app: test-nginx
    pod-template-hash: 65cbfff985
  name: test-nginx-65cbfff985-fjqc2
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: ReplicaSet
    name: test-nginx-65cbfff985
    uid: bc59974c-1b13-11ea-81b0-52540054

[2019-12-10 13:20] wojtek-t commented on #84001
And regarding watches from Secrets/ConfigMap - this KEP is supposed to help with it: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20191117-immutable-ephemeral-volumes.md

[2019-12-10 13:30] qq690388648 commented on #86121
who am i

[2019-12-10 13:30] wojtek-t commented on #81976
/sig autoscaling

[2019-12-10 14:32] nerusnayleinad opened #86123 "RoleBinding doesn't accept a single letter ServiceAccount"
I've been struggling with this error for almost an hour, until I realized you just can't bind a role to a service account with 1 letter.

So, for testing purposes, I sometimes create a namespace called `n`. This time I did the same with the service account, which got created with no problem:

[code]

But later; when I was trying to create a `Role` and a `RoleBinding`, I was getting this error:

[c

[2019-12-10 14:36] nerusnayleinad commented on #86123
@kubernetes/sig-api-machinery

[2019-12-10 14:37] nerusnayleinad commented on #86123
@kubernetes/sig-api-machinery-bugs

[2019-12-10 14:40] alculquicondor commented on #80921
@Huang-Wei how do think we can gather the feedback?

It looks like our conclusion was to skip the nodes that don't support the toleration.

[2019-12-10 14:50] andyzhangx commented on #69262
@bzuelke 1.13 don't accept any cherry-pick, so only 1.14 could be cherry-picked now, target fixed version is 1.14.10

[2019-12-10 14:55] andyzhangx opened #86125 "reducing get vmss/vmas TTL back to 1 or 2min"
**What would you like to be added**:

@aramase this is a good idea, since you have done such tests before, could you do that on your env again? And we could reduce the TTL back to 1min in master branch first, if necessary, then we could decide whether to cherry-pick.
Current TTL is 10min, as I could find out, it could cause attach disk time cost to 10min in 1.13.12+, 1.14.8+, change back to 1min c

[2019-12-10 15:01] goodidea-kp commented on #86094
What command I need to run? Is it option for kubeadm join?

[2019-12-10 15:03] tedyu commented on #86123
The error seems to come from:
vendor/github.com/json-iterator/go/iter_str.go

Can you paste the contents of rb.yaml ?

Thanks

[2019-12-10 15:08] liu-cong opened #86126 "Add scheduling cycle e2e latency to scheduler perf dash"
**What would you like to be added**:
We should include `e2e_scheduling_duration_seconds` in the scheduler [perf dashboard](http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=Scheduler&metricname=SchedulingLatency&Operation=binding).

* The code that collects metrics is [here](https://github.com/kubernetes/perf-tests/blob/44971cd21c3a33916402bc13b4ec049d097e9263/clusterloader2/pkg/

[2019-12-10 15:08] ahg-g commented on #86126
/help

[2019-12-10 15:10] ahg-g commented on #86126
Thanks Cong, this is indeed very useful. We should add ```scheduling_duration_seconds``` as well.

[2019-12-10 15:21] GamiiisKth commented on #33766
@jeremywadsack  delete nodePort and replace loadbalancer  with  loadBalancer: {}

[2019-12-10 15:21] answer1991 commented on #84001
@wojtek-t Many thanks for your excellent work. Can not wait to cherry-pick this new feature to our environment.

[2019-12-10 15:34] nerusnayleinad commented on #86123
Well, actually it fails with a 1 letter namespace too. So,
**this one fails:**

[code]

role.yaml

[code]
`$ kubectl create -f role.yaml -nn`

rb.yaml

[code]

`$ kubectl create -f rb.yaml -nn`

**This one fails too:**

[code]
-> same Role

rb.yaml

[code]

$ kubectl create -f rb.yaml -nn

And if you make them both (service account and namespace) to be demo (for example), it works fine.

[code]

[2019-12-10 16:24] jayaddison commented on #86094
@goodidea-kp After experiencing the same issue, editing `/var/lib/kubelet/config.yaml` to add:

[code]

... at the end of the file seemed to allow the cluster to start as expected.

[2019-12-10 16:29] jayaddison commented on #86094
@zouyee Do you know if disabling the `CSIMigration` feature flag for `kubelet` is something that could be detected & applied automatically from `1.17`?  (am just wondering if it'd be possible to avoid other users hitting this same issue)

[2019-12-10 16:36] tedyu commented on #86074
Proposed a PR for etcd :
https://github.com/etcd-io/etcd/pull/11438

[2019-12-10 16:38] angelofdeauth commented on #16707
+1

This would be incredibly helpful as it would allow for custom object creation without requiring external de/serialization (eg via a program written in go, java).

For example, if I wanted to grab a bunch of options in a `pod` or `pod template` and analyze them to see if I needed to update the object, it is much easier and more maintainable for automation (eg via ansible) to be written in shell

[2019-12-10 16:39] angelofdeauth opened #86130 "JSONPath nested range statements exit early in execution"
**What happened**:
`kubectl` (or `oc` in my instance) with `-o jsonpath` does not correctly handle nested range statements.
For example, one would expect that the following:
[code]

would result in a list being output similar to this:
[code]

but instead, results in a list being output like this:
[code]

**What you expected to happen**:
Nested range statements complete in the order in which they a

[2019-12-10 16:48] angelofdeauth commented on #86130
/sig cli

[2019-12-10 16:51] angelofdeauth commented on #86130
/area kubectl

[2019-12-10 16:56] liu-cong commented on #86126
The `scheduling_duration_seconds` is a `Summary` metric. It has label breakdowns for `preemption`, `binding`, etc. It provides the same information as `e2e_scheduling_duration_seconds` along with metrics by each step such as `binding_duration_seconds`.

It looks to me that `scheduling_duration_seconds` will be deprecated.

[2019-12-10 17:00] johnSchnake opened #86131 "Print more debug info when test framework is aborted before finishing"
**What would you like to be added**:
Minor improvement needed to the test framework so that if the test framework exits early, necessary debug info is output.

https://github.com/vmware-tanzu/sonobuoy/issues/1036 is an example where the tests seem to abruptly end but there is no identifiable logs about why they stopped. Ginkgo still reported the end of the test suite, but the junit output did not

[2019-12-10 17:01] johnSchnake commented on #86131
/sig testing

[2019-12-10 17:09] suvl opened #86132 "Ingress: RegExp and capture group in host entry, usable to target headless services"
Coming from #41881, I have a further complicated need for using ingress rules.

I have some `StatefulSet` that is accessible through a headless service. Then I want to target each specific instance of that service (clients would know what service from a redirect request). That service would have N instances at any given time.

It's something like this:

[code]

I ended up just changing the `nginx-

[2019-12-10 17:12] suvl commented on #86132
/sig network

[2019-12-10 17:18] karthikvee commented on #69697
Use the below command to edit the pv and then delete the finalizers object in the definiton
kubectl edit pv <pv>

[2019-12-10 17:22] tedyu commented on #86104
/sig network

[2019-12-10 17:24] msau42 commented on #69528
@kubernetes/sig-storage-feature-requests
/assign

[2019-12-10 17:30] msau42 commented on #69528
I am not opposed to the use case, but I need to think about what may break if we relax the validation. Any change to validation (tightening or relaxing) is technically a breaking change

[2019-12-10 17:30] spiffxp commented on #84514
/remove-kind failing-test
/kind flake

[2019-12-10 17:38] ahg-g commented on #86126
sorry, I meant ```scheduling_algorithm_duration_seconds``` which gives the scheduling latency without the binding.

[2019-12-10 17:41] spiffxp commented on #82692
/remove-kind failing-test
not continuously failing

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestAggregated

flake rate seems way down, do we still want this open?

[2019-12-10 17:43] spiffxp commented on #82747
/close
It looks like this was solved around Nov 13-14, which is when #84279 merged

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-11-20&pr=1&test=StartupProbe

[2019-12-10 17:43] #82747 closed

[2019-12-10 17:45] spiffxp commented on #82876
/remove-kind failing-test
/kind flake
This is no longer failing continuously

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-11-20&pr=1&test=SecurityContext.*RunAsUserName

[2019-12-10 17:46] spiffxp commented on #83493
Ping on this @mm4tt, have we migrated to boskos?

[2019-12-10 17:48] spiffxp commented on #83590
/remove-kind failing-test
/kind flake
this isn't a continuously failing test

[2019-12-10 17:48] liggitt commented on #82692
hmm. flakes that disappear without explanation are unsatisfying, but I guess not?

/close

[2019-12-10 17:48] #82692 closed

[2019-12-10 17:49] apelisse commented on #85750
@deads2k Do you have an opinion on that?

[2019-12-10 17:52] tedyu commented on #86074
See explanation w.r.t. different behavior of test code :

https://github.com/etcd-io/etcd/issues/11350#issuecomment-564152196

[2019-12-10 17:59] benlangfeld commented on #84201
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/47202

[2019-12-10 18:04] iamcryptoki commented on #86121
I figured out what the issue was... Wordpress issue, not Kubernetes.

[2019-12-10 18:04] #86121 closed

[2019-12-10 18:25] jaypipes commented on #79159
I have successfully reproduced this bug using this script:

[code]

**NOTE**: my laptop has 8 cores which is why I set the `parallelism` to `10`

I see pods go into `PreStartHookError` eventually:

[code]

but I note that the Node's `Allocatable.cpu` never gets decremented from `7` (which is number of cores minus the 1 system reserved core)

I will keep investigating where to place the fix for thi

[2019-12-10 18:25] spiffxp commented on #68091
[kubernetes-dev@ thread](https://groups.google.com/d/msg/kubernetes-dev/NNmEGUsJObg/dmI2mVc_AAAJ), proposed merging by Friday the 13th.  _\[ makes spooky noises \]_

[2019-12-10 18:28] dashpole commented on #79159
Allocatable is effectively the "capacity for pods".  It isn't changed when pods are added or removed

[2019-12-10 18:28] micahhausler commented on #71719
For what its worth I built, uploaded, and scanned the v1.17.0 kube-proxy image in ECR and found 1 High CVE among others.

<img width="1106" alt="Screen Shot 2019-12-10 at 10 26 58 AM" src="https://user-images.githubusercontent.com/791000/70557438-a2668380-1b37-11ea-9dec-ed8bda35ced2.png">

Is there an ongoing discussion or SIG for maintaining an updated base image or using a simpler base image?

[2019-12-10 18:46] caseydavenport commented on #82825
/close

[2019-12-10 18:46] #82825 closed

[2019-12-10 18:46] msau42 commented on #86106
Are you sure you're on 1.15.3?  I'm not sure if this string refers to the K8s version, but if so, it's a pre-1.15.3 version:
/workspace/anago-v1.15.3-beta.0.68+2d3c76f9091b6b

[2019-12-10 18:51] caseydavenport commented on #84230
Would restarting kube-proxy have any impact on this? @uablrek do you think you'd be able to track down links to those other issues you mentioned?

It seems plausible given the problem here is primarily DNS related (other connectivity seems to work). It's odd that `nslookup` from within a pod works, but `curl` is unable to resolve the domain.

[2019-12-10 18:52] tedyu commented on #86074
At first glance, one would think that the leak was related to Unmarshal().
Upon second look, Unmarshal is called by watchableStore#syncWatchers :
[code]
The evs is used to compose WatcherBatch:
[code]
which is involved in calculating victims.

The victim cleanup bug fixed by https://github.com/etcd-io/etcd/pull/11438 would show up if watcher is not canceled for certain period of time.

[2019-12-10 18:56] jaypipes commented on #79159
How may I get the number of available CPU cores for a node?

[2019-12-10 18:57] caseydavenport commented on #84598
@ramgdev looks like the linked issue suggests different versions of Docker set IPv6 sysctls differently.

On the broken system, could you check the following?

[code]

It sounds to me like this is probably an issue with Docker, rather than Kubernetes.

You might also want to try using the latest Calico v3.10.2 patch release, which also includes an IPv6 fix: https://docs.projectcalico.org/v3.10/rel

[2019-12-10 19:01] dashpole commented on #79159
`kubectl describe no` will show the pods assigned to that node, and how much space is available.

[2019-12-10 19:12] jaypipes commented on #79159
For the static CPU core allocation, is the solution to add up the number of Pods that have a request/limit of 1 CPU then? Do you have a guess as to why this bug is popping up? It does seem like a race condition like @timstclair mentions in the related PR...

[2019-12-10 19:16] BenTheElder commented on #71719
there is a custom simplified base image, but it's barely maintained, it would he helpful for people to pitch in to wg-k8s-infra to get automated community owned builds for these images/

[2019-12-10 19:19] dashpole commented on #79159
Sadly I haven't kept up closely enough with the CPU manager design and implementation...

[2019-12-10 19:19] alejandrox1 opened #86134 "Scalability tests for beta releases"
Current state of affairs:
We have the following jobs to gauge the quality of the current release
* https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-performance
* https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

These run against the latest on the master branch of k/k.
These jobs provide critical signal during the release cycle.
However, after

[2019-12-10 19:21] jaypipes commented on #79159
I think part of the problem -- at least from what I can tell -- is that dedicate CPU cores are accounted for in the same way as shared CPU quota. But dedicated CPUs and CPU shares are different things. One is a finite resource, the other is consumed in a quota/bucket-like accounting system.

But these things are treated as the same kind of resource, which means that there's no real way of determin

[2019-12-10 19:26] justaugustus commented on #86134
xref 1.15 Retro AIs: https://github.com/kubernetes/sig-release/issues/806

[2019-12-10 19:26] ggriffiths commented on #86106
Thanks, I'll double check the installation version. That's probably it

[2019-12-10 19:30] tallclair commented on #79159
@jaypipes that makes sense. It seems like fixing it would be a pretty big change though, right?

[2019-12-10 19:51] ggriffiths commented on #86106
Ah yeah, closing. Thanks!

[2019-12-10 19:51] #86106 closed

[2019-12-10 19:52] jaypipes commented on #79159
Well, yes, definitely :) Definitely not proposing fixing the underlying issue in the solution for this bug. Still pondering how to identify where this race condition is actually occurring...

[2019-12-10 20:10] alejandrox1 opened #86135 "Test infra code freeze to aid in stability for the kubernetes release"
This was brought up some time ago and was discussed during this release.
The idea is as follows: the release team relies on CI to gauge the quality of Kubernetes throughout the cycle.
CI jobs themselves are dependent on the reliability of test infra (i.e., Prow, Boskos).
During 1.16, just when we were getting ready to go into code freeze, Boskos started failing in such a way that all CI jobs began

[2019-12-10 20:11] alejandrox1 commented on #86135
xref 1.16 Retro AIs: kubernetes/sig-release#806

[2019-12-10 20:16] #80647 closed

[2019-12-10 20:17] jeremywadsack commented on #33766
@GamiiisKth Following your suggestions, I can get it cleared up, but it still seems like a hack that I have to take two steps to get there. Unless I'm mistaken that's the same resolution as @piotr-napadlek mentioned above.

First I created the service applying this manifest:

[code]

Then I `kubectl apply -f` an updated manifest to empty the load balancer settings:

[code]

Now I can `apply` my fi

[2019-12-10 20:26] liggitt commented on #86123
blame yaml :(

an unquoted single-letter `n` is a boolean false. that yaml is getting converted to the json `"namespace": false` (you can verify this by viewing the network trace by adding --v=8)

see https://yaml.org/type/bool.html

to specify a single character `n` in yaml, you must quote it as `"n"`

/close

[2019-12-10 20:26] #86123 closed

[2019-12-10 20:30] liggitt commented on #86104
closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/85894

/close

[2019-12-10 20:30] #86104 closed

[2019-12-10 20:32] liggitt commented on #86108
The time a watch event occurred is not available from the API. The only consistently available timestamps are object create and delete timestamps, both stored in the metadata stanza of the object.

/close

[2019-12-10 20:32] #86108 closed

[2019-12-10 20:35] liggitt commented on #86107
#85797 was the only thing to merge between the [last successful job](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1202966193531523073) and the [first failed job](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1202977769391132673)

[2019-12-10 21:11] msau42 commented on #69799
/remove-lifecycle stale

[2019-12-10 21:22] fedebongio commented on #86060
/remove-sig api-machinery
/sig apps

[2019-12-10 21:23] fedebongio commented on #86063
/assign @logicalhan

[2019-12-10 21:24] fedebongio commented on #86067
/assign @liggitt

[2019-12-10 21:25] liggitt commented on #86067
fixed by https://github.com/kubernetes/kubernetes/pull/85970

[2019-12-10 21:27] fedebongio commented on #86074
/cc @jingyih @wenjiaswe @yoyinzyc

[2019-12-10 21:35] liggitt commented on #86074
@tedyu is that code in the etcd process or in the kube-apiserver process?

@wgliang is the first graph in the description your system memory use or kube-apiserver memory use?

[2019-12-10 21:44] davidz627 commented on #72252
/remove-lifecycle stale
has this been resolved?

[2019-12-10 22:00] #77678 closed

[2019-12-10 22:02] jingyih commented on #86074
What triggered the memory usage increase starting from 12/5? Let's try to reproduce it so that we know if it is a memory leak or just due to higher workload.

[2019-12-10 22:14] liggitt commented on #86079
you can mount the configurations to different subdirectories and use an envvar in your application invocation to point at the config dir it should pay attention to

[2019-12-10 22:16] tedyu commented on #86074
https://github.com/etcd-io/etcd/issues/11350 fixes potential memory leak in etcd server.

[2019-12-10 22:21] todd-dsm opened #86138 "Add short names for clusterrolebindings and clusterroles"
Request to add short names for:
 * clusterrolebindings (crbs)
 * clusterroles (crs)

And any other resources this long or longer.

**Why is this needed**:
kubernetes can be improved by removing 1 annoyance; pods are abbreviated to 'po' and nodes to 'no' but we're still typing clusterrolebindings out every time.

[2019-12-10 22:26] robscott commented on #86066
I believe this has been fixed by https://github.com/kubernetes/kubernetes/pull/86085. Closing for now, feel free to reopen if this becomes an issue again.

/close

[2019-12-10 22:26] #86066 closed

[2019-12-10 22:34] AlxSmith11 commented on #85938
@bart0sh

Thanks for the reply. I do see the correct values being reported by the host.   The problem is the reporting inside the Pod/Container, as shown below.   Is the path /sys/fs/cgroup/hugetlb/ inside the container correct?

apiVersion: apps/v1
kind: Deployment
metadata:
  name: centos7
spec:
  selector:
    matchLabels:
      run: centos7
  replicas: 1
  template:
    metadata:
      labels:

[2019-12-10 23:26] seans3 commented on #67662
/assign @caesarxuchao
/assign @DirectXMan12
/assign @roycaihw

It appears that the timeout code here:

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go#L578

may be out-of-date now that initializers have been removed. The solution may be to just remove the code swallowing the timeout.

[2019-12-11 00:26] liggitt commented on #86138
We've typically only added short names for commonly used CLI resources.

/sig cli auth
/priority awaiting-more-evidence

[2019-12-11 00:29] liggitt commented on #84608
Starting in v1.17.0+, published repos have corresponding v0.x.y semver tags

/close

[2019-12-11 00:29] #84608 closed

[2019-12-11 01:03] ryanarifin134 commented on #76570
Hello! What are your thoughts on adding a field to the cronjob spec to limit the number of concurrent jobs spawned by the cronjob? For example, the spec could be `concurrentJobsAllowed` with a default of say, 100. This would provide a general failsafe to situations like this where you would not want one cronjob to accidentally spawn an unexpected number of jobs. One could use this field to specify

[2019-12-11 01:03] feiskyer commented on #86019
#85949 is working on this.

[2019-12-11 01:05] zouyee commented on #86081
[code]

[2019-12-11 01:12] BobyMCbobs opened #86141 "Write CoreV1PodTemplate test - +3 coverage"
This issue proposes the writing of a new test for the API endponts `deleteCoreV1NamespacedPodTemplate`, `listCoreV1PodTemplateForAllNamespaces`, `patchCoreV1NamespacedPodTemplate`, and `readCoreV1NamespacedPodTemplate` with the intention of promoting it to Conformance. This issue contains a very basic **mock** test in order to start the conversation about what a good e2e test would look like for t

[2019-12-11 01:39] hex108 commented on #80101
/close

[2019-12-11 01:39] #80101 closed

[2019-12-11 01:49] BenTheElder commented on #80763
I don't understand where this breaks down exactly and am oversubscribed

somehow the new py2/3 stuff breaks down inside one of our rules implemented in python in repo-infra when we upgrade bazel (push-build is backed by this), otherwise I've already fixed the repo to support newer bazel, and upgraded it only to be surprised by this : |

/unassign

[2019-12-11 02:08] wgliang commented on #86074
I can be sure that it is not caused by higher workload. In addition, we are a 5-node replica, and only one of them has this situation.

[2019-12-11 02:09] wgliang commented on #86074
It is kube-apiserver memory use.

[2019-12-11 02:10] packyzbq commented on #86118
/sig scalability

[2019-12-11 02:14] liggitt commented on #86074
Typically, one API server has the active controller-manager running against it, which would place it under higher load. Do you know if this one was the active controller?

[2019-12-11 02:15] yiyang5055 commented on #86126
maybe i have a try

[2019-12-11 02:15] wgliang commented on #86126
/remove help

[2019-12-11 02:16] bitva77 commented on #70179
Is there a related Docker bug/issue that this was tracked in or did it just magically fix itself?  :)

[2019-12-11 02:24] wgliang commented on #86074
Yes, I found this one was the active controller. If as your said, theoretically, if the controller switches to another node, will the memory automatically return to the normal level?

[2019-12-11 03:07] attlee-wang commented on #85894
@liggitt When will this problem be solved？

[2019-12-11 03:10] lambotchi commented on #85991
thanks for the help. I realize what I mean really is some sort of callback

[2019-12-11 03:21] haosdent commented on #86052
for network, the funcs looks like used by different packages as wel.

[2019-12-11 03:29] liggitt commented on #85991
Mutating requests (create, update, patch, delete) can be intercepted by mutating or validating webhooks, which can enforce external policies. See https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/ for details, though that only covers mutating requests, not get/list/watch requests

[2019-12-11 03:33] nodesocket commented on #30656
@miracle2k  I tried this `(trying to exec as root user)`, but got `No passwd entry for user '0'`

[code]

[2019-12-11 03:36] oke-py commented on #82863
This issue is resolved in kubectl v1.17.0. The command output is as below.
[code]

[2019-12-11 03:43] wgliang commented on #86126
/remove-help

[2019-12-11 03:44] oke-py commented on #82863
This commit fixed this issue.
https://github.com/kubernetes/kubernetes/commit/4f13f2739a3a33c7ed4b86b98054972c0fde4579

[2019-12-11 03:59] jhz1103 commented on #86108
Thanks for reply! However, i still can not understand, it should be an easy move to collect the update timestamps

[2019-12-11 04:27] mm4tt commented on #83493
Sorry, lost this bug from my radar. We have migrated to boskos in https://github.com/kubernetes/perf-tests/issues/650, we can close this one.

[2019-12-11 04:28] mm4tt commented on #83493
/close

[2019-12-11 04:28] #83493 closed

[2019-12-11 05:13] nikhita commented on #84372
Starting in v1.17.0+, for Kubernetes v1.x.y, published repos have corresponding v0.x.y semver tags (https://github.com/kubernetes/kubernetes/issues/84608) and we aren't manually tagging major versions for client-go anymore.

Docs are being added in https://github.com/kubernetes/client-go/pull/721 and https://github.com/kubernetes/kubernetes/pull/85995.

IMO this can be closed now that we don't tag

[2019-12-11 05:15] nikhita commented on #84372
We can use https://github.com/kubernetes/kubernetes/issues/72638 to track semantic import versioning for published repos

[2019-12-11 05:57] strikingraghu opened #86145 "Kubelet Skipping POD Sync Activities"
/kube-dns

**What happened**:
I have deployed kube-dns yaml file for a 3 master / 3 node cluster and it's failing to run KUBE-DNS pods within this cluster. I have restarted all the processes, verified network and settings as well. All seems to be OK within the ecosystem, but it fails to run these DNS pods and throws "Skipping Pod Sync Activities - Container runtime is down"

**What you expected to

[2019-12-11 06:00] strikingraghu commented on #86145
/sig dns
/sig kube-dns

[2019-12-11 06:02] strikingraghu commented on #86145
/sig coredns
/sig containerd
/sig kube-dns
/sig kubelet

[2019-12-11 06:05] strikingraghu commented on #86145
/sig Scheduling
/sig Multicluster

[2019-12-11 06:19] wushuaiwangyin commented on #79093
me too

[2019-12-11 07:17] HerrTamm commented on #54491
Also interested in the smae feature, it especially helps to debug services in general namespaces (e.g. kube-system), where multiple services and a lot of pods are running.

[2019-12-11 07:17] haosdent commented on #86052
for node, move the funs would cause invalid deps.

[2019-12-11 07:26] RaspiRepo commented on #52530
if you are using helm charts, this link will help
https://github.com/helm/helm/issues/3529

[2019-12-11 07:40] haosdent commented on #86052
for perf, the funcs looks like used by different packages as well.

[2019-12-11 07:45] mm4tt commented on #86082
/assign @oxddr

With your recent PR we now know that the exact error is:
[code]

Do we know which query is causing that?

[2019-12-11 08:10] amitoo7 commented on #63959
I am also getting the same error can anyone help me with this ??

[2019-12-11 08:20] dayyehm commented on #63959
@amitoo7  what version of k8s you are using ? this is not supported before 1.15 as far as I know so my issue was that I tried to implement on EKS

[2019-12-11 08:31] yiyang5055 commented on #82606
/close

[2019-12-11 08:31] #82606 closed

[2019-12-11 08:39] bart0sh commented on #85938
You should still use pod cgroup path(/sys/fs/cgroup/hugetlb/kubepods/pod6dd9bb3b-088b-4724-83f1-267be53c9b4a/hugetlb.1GB.limit_in_bytes in your example) inside the container I guess.

[2019-12-11 08:45] pohly commented on #84372
The v12.0.0 and v11.0.0 are still a nuisance when using `go get -u ./...`: as a test, I updated https://github.com/kubernetes-csi/external-attacher/ with `./release-tools/go-get-kubernetes.sh 1.17.0` to 1.17.0, using go 1.13.4. We get `require k8s.io/client-go v0.17.0` in `go.mod` (thanks, much better than before - but see below) and a `replace k8s.io/client-go => k8s.io/client-go v0.17.0` (put in

[2019-12-11 08:54] zhucan commented on #68692
@gnufied  @saad-ali  @msau42 The _netdev can be used for csi?

[2019-12-11 09:40] tatsuhiro-t opened #86149 "k8s v1.17.0 (client-go v0.17.0) DiscoveryClient throttled"
**What happened**:

With client-go v0.17.0, I observed many "Throttling request" when DiscoveryClient is used to get API group resources from API server.

[code]

This didn't happen with client-go kubernetes-1.16.0.

It looks like originally this kind of discovery requests are not throttled because no rate limiter provided and QPS == 0.
But with https://github.com/kubernetes/client-go/commit/fed41

[2019-12-11 09:41] tatsuhiro-t commented on #86149
/sig api-machinery

[2019-12-11 09:59] mattiaperi opened #86151 "Creation of a pod outside the deployment with common labels causes hpa failure"
**What happened**:
Using helm (but it doesn't seem an helm issue) the creation of a test-success pod with the same labels of the other manifests file, causes failure in populating Horizontal Pod Autoscaling TARGETS.

**What you expected to happen**:
Horizontal Pod Autoscaling should not be affected by the creation of pods outside the deployment is referring to, since:
[code]

**How to reproduce it

[2019-12-11 10:06] grozan commented on #86079
@liggitt thanks for the feedback!

For configuration coming from a configmap yes (even if the other subdirectories should ideally not be readable at all on a pod which is not going to consume them). For secrets, though, it's different story: the `prod` secrets should of course not exist at all on a `dev` pod.

I know you can use a tool like kustomize to work with that kind of customizations (and t

[2019-12-11 10:11] tirelibirefe commented on #73597
Hello Brokenjacobs;
Were you able to figure it out? If yes, how did you fix the problem? I have been working on the same problem for a while.

[2019-12-11 10:21] helios741 opened #86153 "RBAC is configured correctly, but pod cannot communicate with kube-apiserver"
**What happened**:

I configured RBAC correctly as follows:
clusterrolebindings info:
[code]

servicecount info:
[code]
Then create a pod:
[code]
Wait until the pod is running, then enter the pod to verify permissions:
[code]
return:
![image](https://user-images.githubusercontent.com/12036324/70612197-76372980-1c41-11ea-8e94-89f7a9d254fb.png)

But I copied the token and certificate to the machine.

[2019-12-11 10:21] droslean commented on #86107
Thanks @liggitt for the notice. I have opened a revert.

[2019-12-11 10:27] helios741 commented on #86153
/sig apiserver
/sig clusterrolebindings

[2019-12-11 10:30] helios741 commented on #86153
/sig api-machinery
/sig cluster-lifecycle

[2019-12-11 10:43] amitoo7 commented on #63959
Hi @dayyehm i am using the latest  version of k8 1.15 .5

[2019-12-11 10:50] ialidzhikov opened #86155 "k8s.io/sample-apiserver@v1.17.0 fails the discovery check"
**What happened**:
I follow https://github.com/kubernetes/sample-apiserver/blob/kubernetes-1.17.0/docs/minikube-walkthrough.md to deploy the sample-apiserver and the sample-apiserver server is not available.

**What you expected to happen**:
The sample-apiserver to be available.

**How to reproduce it (as minimally and precisely as possible)**:
1. Follow https://github.com/kubernetes/sample-apiser

[2019-12-11 10:51] ialidzhikov commented on #86155
/sig api-machinery

[2019-12-11 10:52] amitoo7 commented on #63959
@dayyehm I am not using EKS with my solution but the problem is the same as you mentioned

[2019-12-11 11:00] jimmyyem commented on #48378
that works for me , thanks a lot.

[2019-12-11 11:18] #39090 closed

[2019-12-11 11:18] #69428 closed

[2019-12-11 12:18] antoniomo commented on #83348
Hi,

Just to say we hit this exact same symptoms with a non-EKS 1.16.3 cluster. Restarting the nodes also solved it. Not sure it's the same exact issue, but all the external symptoms and "fix" applied.

[2019-12-11 12:29] tedyu commented on #86153
v1.8.14 is quite old.
Can you try with newer release (such as 1.17) ?

Thanks

[2019-12-11 12:46] davidbalazs opened #86161 "Misbehaving container that crashes the entire k8s worker node"
**What happened**:
We started to see a weird behavior in Kubernetes: we have some pods that have a main container and a few sidecards, one of them being nginx. We have memory limits and requests set for all the containers (and for each container, the memory limit == memory request).

**Sometimes, the nginx sidecar starts to spin new batches of sleeping processes (nginx workers) (up to 500 processe

[2019-12-11 12:47] davidbalazs commented on #86161
/sig node

[2019-12-11 12:58] #86107 closed

[2019-12-11 13:12] yue9944882 commented on #86153
[code]
should esacpe newline or "export" the variable

[2019-12-11 13:16] ahg-g opened #86162 "Define algorithm providers in terms of plugins instead of predicates/priorities [Migration Phase 2]"
/assign @ahg-g @draveness
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-11 13:17] ProdanLabs commented on #86081
crio.conf
[code]

[2019-12-11 13:17] #86081 closed

[2019-12-11 13:28] liggitt commented on #86155
did you deploy `staging/src/k8s.io/sample-apiserver/artifacts/example/auth-reader.yaml`?

[2019-12-11 13:32] liggitt commented on #86155
The `extension-apiserver-authentication-reader` role (which the example already grants to the wardle apiserver service account) contains the required permissions in 1.17.0+. The reported issue occurred when running against a 1.16.0 Kubernetes API server.

/close

[2019-12-11 13:32] #86155 closed

[2019-12-11 13:32] liggitt commented on #86155
cc @deads2k

[2019-12-11 13:33] helios741 commented on #86153
@tedyu this is our production environment.

[2019-12-11 13:36] liggitt commented on #86153
in the error screenshot, the username and namespace were blanked out. can you include an unblanked version to verify they match the username/namespace in the created clusterrolebinding?

[2019-12-11 13:38] helios741 commented on #86153
@liggitt

[2019-12-11 13:39] liggitt commented on #86153
the token is valid, and authentication passes, since the resulting message contains the username

[2019-12-11 13:48] helios741 commented on #86153
@liggitt
The main problem now is that it can work normally after restarting the kube-apiserver, but error before restart.
The following figure is a similar screenshot (I forgot this screenshot, only different namespace and sa, although I don't think it has anything to do with this ):

![image](https://user-images.githubusercontent.com/12036324/70626725-ea80c580-1c5f-11ea-8ac3-6d21caf56eb2.png)

[2019-12-11 13:48] helios741 commented on #86153
![image](https://user-images.githubusercontent.com/12036324/70626763-fbc9d200-1c5f-11ea-9fc2-f81f984ba97f.png)

[2019-12-11 13:51] liggitt commented on #86153
without reproducible steps on a supported version, this is going to be difficult to triage/assist with

[2019-12-11 13:51] cglacet commented on #72261
@InAnimaTe Indeed. That bug is still on (client v1.14.8, server v1.16.2).

That's annoying because docker-compose drops secrets in `/run/secrets/`. Does that mean that I would need to have two versions of my code to adapt whether it was created by  docker-compose vs. kubectl? I don't feel like this issue should be closed, especially because the error message doesn't give this information.

[2019-12-11 13:55] liggitt commented on #72261
Kubernetes mounts service account tokens under /var/run/secrets, which is a standard directory. Creating a file at /var, /var/run, or /var/run/secrets will prevent that from working correctly.

Docker placing files containing secrets in /run/secrets would not interfere with service account tokens (unless they named them `/run/secrets/kubernetes.io` or `/run/secrets/kubernetes.io/serviceaccount`).

[2019-12-11 13:58] liggitt commented on #85894
sig-network will need to triage/evaluate the bug, determine a fix, and give an estimate

[2019-12-11 14:04] liggitt commented on #86079
Environment variables can change while a pod is running. Dynamically changing which secret/configmap objects are referenced by a pod is significantly different than changing which file within a particular secret/configmap is referenced. Currently, all objects referenced by a pod can be resolved before a pod is run on a node (and is used by the Node authorizer to determine which objects a kubelet h

[2019-12-11 14:14] cglacet commented on #72261
That's strange then because if I use the following I have an error:

[code]

But with the following everything works just fine:

[code]

I must be missing something else then. The error I get with `/run/secrets` is the following:

[code]

My secret volumes look like this:

[code]

[2019-12-11 14:16] liggitt commented on #84372
Removing those major version tags would not make `go get -u` work well with Kubernetes repos until we move to semantic import versioning. Even if those major version tags were removed, `go get -u ...` would still bump from `v0.17.0` to `v0.18.0`, etc.

If you just want to pick up patch versions, `go get -u=patch` might work better for you.

Removing existing tags is *extremely* poor behavior for a

[2019-12-11 14:34] liggitt commented on #72261
By mounting something to /run/secrets and making it readonly, you prevented the kubelet from creating/populating subdirectories to mount the service account token secrets

/var/run/secrets is expected to be a writeable directory

[2019-12-11 14:52] gnufied commented on #68797
/reopen
/lifecycle frozen

[2019-12-11 14:53] bcmills opened #86164 "avoid major-version package names"
Packages in this repository with paths like `k8s.io/api/core/v1` are named according to their major version (`package v1`) instead of a more semantically meaningful part of the path (`package core`).

That forces users of these packages to pretty much always rename them upon import.

Unfortunately, fixing the package names for existing packages would be a breaking change.
However, for future packa

[2019-12-11 14:54] liggitt commented on #84372
Thanks.

/close

[2019-12-11 14:54] #84372 closed

[2019-12-11 14:55] distorhead opened #86163 "Failed to create three way merge patch when container environment variable specified multiple times"
**What happened**:

Kubectl apply has failed with error `The order in patch list ... doesn't match $setElementOrder list` when container environment variable has been specified multiple times.

**How to reproduce**:

1. Create deployment with two environment variables `TESTVAR="1"`:

[code]

2. Check that kubernetes has been created deployment with double variable definition:

[code]

3. Change my

[2019-12-11 14:56] jasonkyzer commented on #72196
Please provide this capability. Parsing through thousands of lines of code on the client slows operations. There should be a way to submit a highly customized query and not have to sort through the output on the client side!

[2019-12-11 14:59] liggitt commented on #86163
The root cause is a duplicate of https://github.com/kubernetes/kubernetes/issues/58477

[2019-12-11 15:01] tedyu commented on #86149
The NewTokenBucketRateLimiter was added via

Always negotiate a decoder using ClientNegotiator

/cc @smarterclayton

[2019-12-11 15:01] liggitt commented on #86163
server-side validation should not allow duplicate envvars if the name is used as a merge key, but tightening validation risks breaking existing clients or invalidating existing persisted data. xref https://github.com/kubernetes/kubernetes/issues/64841

[2019-12-11 15:17] distorhead commented on #86163
I think validation tightening is possible in `create` operation at least.

[2019-12-11 15:22] liggitt commented on #86163
You can create pods today which run successfully. Breaking those clients is not something we would do lightly.

[2019-12-11 15:24] cglacet commented on #72261
Ok. I tried this

[code]

But the error still show up.

[2019-12-11 15:25] liggitt commented on #86164
/sig architecture
/area code-organization

[2019-12-11 15:25] liggitt commented on #86164
/sig api-machinery

[2019-12-11 15:27] brokenjacobs commented on #73597
I ended up just resetting things. Never did get it to reattach.

Sent from my iPhone

[2019-12-11 15:28] liggitt commented on #72261
Secret volumes always mount readonly... you will need to mount in a subdirectory you control (e.g. `/run/secrets/myapp`), rather than turning the whole secrets directory readonly

[2019-12-11 15:40] distorhead commented on #86163
Hmm, now I see the problem...

Then maybe patch creation procedure can be somehow more aware of this case (`strategicpatch.CreateThreeWayMergePatch`)?

[2019-12-11 16:03] cglacet commented on #72261
Ahhh ok, sorry that's my second day experimenting with Kubernetes, that thing is huge and hard to get a grip on. That worked just fine :). Thanks.

[2019-12-11 16:06] ThelonKarrde opened #86165 "Issue with mount nfs storage on new pods deployment"
**What happened**:
The deployment contains pods that use AWS EFS as persistent volume.

On the deployment process, on the creation of a new pods process stuck with attaching volumes to some of them.
The error itself looks like:
[code]
After that log, I also find stacktrace of the `mount.nfs` process which repeated three times (so I assume three attempts to mount volume).
[code]
No more related log

[2019-12-11 16:08] ThelonKarrde commented on #86165
/sig storage

[2019-12-11 16:11] liggitt commented on #86149
I don't think we should completely disable throttling until more of the server-side priority work is completed, but discovery is expected to be bursty, so I could see defaulting to a different amount in the discovery client constructor, similar to https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go#L222-L225

[2019-12-11 16:18] irajdeep commented on #83191
@danwinship I can work on this as my first issue related to sig-network.

[2019-12-11 16:20] shadycuz commented on #43916
Also had this same problem for at least 2 years. Write data to disk, memory usage goes up and the container is either OOM or evicted.

[2019-12-11 16:22] shadycuz commented on #85761
Seen this in several forms. If the pod is in a not ready state and you update the stateful set, nothing happens.

[2019-12-11 16:25] droslean opened #86166 "[Failing Test] gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot)"
**Which jobs are failing**:
`gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot)`

**Which test(s) are failing**:
[code]
[code]

**Since when has it been failing**:
`10th Dec 14:50 PST`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-cos-master-reboot

**Reason for failure**:
see https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-g

[2019-12-11 16:25] droslean commented on #86166
/sig cloud-provider

[2019-12-11 16:26] droslean commented on #86166
/cc @andrewsykim @cheftako

[2019-12-11 16:34] smarterclayton commented on #86149
Yeah, everyone must be rate limited.  I think we could give discovery a big burst value.

[2019-12-11 16:38] liggitt commented on #86149
opened https://github.com/kubernetes/kubernetes/pull/86168/files

[2019-12-11 16:41] liggitt commented on #83683
https://github.com/kubernetes/kubernetes/issues/86149 for direct use of client-go discovery clients being rate-limited

[2019-12-11 16:48] shadycuz commented on #75503
I see similar, opening a new issue.

[2019-12-11 17:07] ThoTischner commented on #30189
Hey have a look at https://github.com/kubernetes/website/pull/18082/files

[2019-12-11 17:15] shadycuz opened #86171 "container_memory_working_set_bytes includes cached memory"
**What happened**:
Heavy disk I/O causes pod to be evicted or OOM killed.

**What you expected to happen**:
I expected cached memory to not count
**How to reproduce it (as minimally and precisely as possible)**:
Curl , DD etc.
**Anything else we need to know?**:
Possibly related #75503 , #75924 and the popular #43916
**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: ve

[2019-12-11 17:19] liggitt commented on #49487
Opened https://github.com/kubernetes/kubernetes/pull/86172 to ensure all in-tree callers only call this when the type is Int (or verify it is a parseable number first), and to update the method documentation

[2019-12-11 18:01] DarrienG commented on #76570
It isn't a bad idea, but brings up a few other questions:

* What happens to cronjobs that are spawned after the limit is exceeded?
* Does it count as a missed schedule if it is unable to be spawned?
* What happens if this parameter is set, but concurrencyPolicy is set to `forbid`?

Arguably something like this should have a default of infinity to not break previous workflows.

In theory a fix to

[2019-12-11 18:46] rhino5oh commented on #70952
Your issue is that kube-system pods need hostNetwork set to true, which you do have set in your privileged PSP.....but.....your default PSP, which has hostNetwork: false is being applied with a ClusterRoleBinding instead of just a RoleBinding, therefore making the default PSP apply to the entire cluster.  Your default PSP is being applied to kube-system

[2019-12-11 18:57] andysnowden commented on #85389
Looks like #83455 might be a fix for this? Needs to be back ported.

[2019-12-11 19:00] grozan commented on #86079
I simply meant "variable expansion for secret/configmap name", nothing more. No need for this to change while the pod is running, of course. In my mind the expansion was done when the pod was about to be created, and the name of the secret/configmap was computed at that time (and only once).

I see this as a cheap/approachable way for the end-user to "parameterise" this aspect of a pod.

I don't k

[2019-12-11 19:31] oomichi commented on #86052
I'd like to join as a reviewer.

/assign @oomichi

[2019-12-11 19:38] Tombert opened #86174 "Mount HDFS as a regular volume within kubernetes service."
**What would you like to be added**:
I would like to be able to mount an HDFS cluster as a regular volume.

**Why is this needed**:
HDFS is a very good, well-supported distributed filesystem, but it's currently quite difficult to use it for filesytem-ey things within vanilla Kubernetes, typically forcing the containers to try and shoehorn in some support with a FUSE mount or something.

There alre

[2019-12-11 19:40] Tombert commented on #86174
@kubernetes/sig-storage/feature-requests

[2019-12-11 19:40] Tombert commented on #86174
/sig storage

[2019-12-11 19:41] inviscid commented on #57291
The need to restart pods as part of a normal lifecycle seems important if you need to clear state between operations.  An annotation or some form of configuration parameter for the pod to adjust what constitutes an unplanned number of restarts within a period of time would be nice.  Although, any of the other suggested approaches would work as long as the net impact is that crashloopbackoffs only

[2019-12-11 19:45] RobertKrawitz commented on #79040
/remove-lifecycle stale

[2019-12-11 19:58] oomichi commented on #80177
Since a49a554211101f594e55e4b7d4574b535249db58 `IsMasterNode()` has been renamed to `DeprecatedMightBeMasterNode()`.
It is better to change the title for finding the problematic function easily.
(I faced it today ;-) )

[2019-12-11 20:01] liggitt commented on #86094
@jayaddison what is your apiserver version? it looks like you are trying to run a 1.17 kubelet against a 1.16 API server, which is not supported

[2019-12-11 20:09] neolit123 commented on #80177
we have a retitle command :)
/retitle e2e: remove usage of the DeprecatedMightBeMasterNode function from the e2e testing framework

[2019-12-11 20:18] jayaddison commented on #86094
@liggitt Gotcha, that must explain it; glad to hear that that's a known unsupported situation, rather than something unexpected.  I'll look into upgrading & restarting the API server.

Confirmed via:
[code]

[2019-12-11 20:18] markhley commented on #68427
I had same issue with Kafka deployment on AKS. I did find a hacky way to get the PVCs resized. For each PVC, I resized the request. As stated, the Kafka PODs were bound the the respective PVCs so Azure would not increase the disk size. I placed a NoSchedule taint on every node in the cluster, thus preventing any new PODs to schedule. I then deleted all Kafka PODs. They did not restart due to taint

[2019-12-11 20:27] #86094 closed

[2019-12-11 20:43] ryanarifin134 commented on #76570
1. If the limit is exceeded, we would prevent new jobs to be spawned by the cronjob.
2. Similar to if a job is prevented from being spawned if `ConcurrencyPolicy` is set to `Forbid`, a job would not be considered as a missed schedule if it is unable to be spawned.
3. The thought was to have this new spec field work in conjunction with the ConcurrencyPolicy. In other words, this field would only be

[2019-12-11 20:51] altreze opened #86176 "kube-controller-manager sends normal logs to stderr"
**What happened**:
The logs are being sent to stderr even if it seems just normal log with no error.

[code]

**What you expected to happen**:
Expecting this log to be in stdout not on stderr stream

**Environment**:
- Kubernetes version (use `kubectl version`):
`
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitTree

[2019-12-11 21:16] oomichi commented on #80177
Interesting, it is helpful command for me :-)

[2019-12-11 21:30] BenTheElder commented on #51540
/assign
I'll be sharing a prototype I hacked on in some of my spare time (lol!) soon :-)

[2019-12-11 21:39] maximilien commented on #83628
Hi, all, any update on this @bowei and @freehan? We would love to have some resolution (or at least discussions) on this before EOY. Thanks.

[2019-12-11 21:46] spiffxp opened #86179 "[Flaky Test] [sig-apps] CronJob should delete successful/failed finished jobs with limit of one job"
**Which jobs are flaking**:
- pull-kubernetes-e2e-gce
- ci-kubernetes-e2e-gci-gce

**Which test(s) are flaking**:
- [sig-apps] CronJob should delete successful/failed finished jobs with limit of one job

**Testgrid link**:
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&sort-by-flakiness=
- https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-default

[2019-12-11 22:08] spiffxp opened #86181 "[Flaky Test] [sig-storage] PersistentVolumes GCEPD should test that deleting the Namespace of a PVC and Pod causes the successful detach of Persistent Disk"
**Which jobs are flaking**:
- pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
- [sig-storage] PersistentVolumes GCEPD should test that deleting the Namespace of a PVC and Pod causes the successful detach of Persistent Disk

**Testgrid link**:
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=GCEPD

**Reason for failure**:
[code]

**Any

[2019-12-11 22:08] spiffxp commented on #86181
/area provider/gcp

[2019-12-11 22:09] spiffxp commented on #86181
/sig cloud-provider
I question whether we should be running this test by default, since it seems like it's exercising a specific cloud provider's implementation of persistent volumes?

[2019-12-11 22:23] saiyan86 commented on #80915
Need logs

[2019-12-11 22:29] nvanheuverzwijn commented on #43916
This problem is mainly cause by the Kernel itself. After some test, I noticed that memory from buff/cache also impact the "used" ram. This seem to be fixed in kernel 5 series so hopefully, running a cluster on kernel 5.4 would fix many issues related to this problem.

[2019-12-11 22:32] hasheddan opened #86182 "[Failing Test] Release branch tests are failing to extract latest Kubernetes CI builds"
**Which jobs are failing**:
Release branch tests that require extracting a Kubernetes CI build. Examples include:
- `skew-cluster-latest-kubectl-stable1-gce (ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew)`
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-1.16-scalability-100 - https://github.com/kubernetes/test-infra/issues/15580
- https://k8s-testgrid.appspot.com/sig-scalability

[2019-12-11 23:38] #86149 closed

[2019-12-11 23:48] bitglue commented on #43916
It's not caused by the kernel at all. The kernel is correctly reporting that RAM has been used for cache. The kernel, as always, will reclaim cache when RAM is needed for other purposes.

This is a basic misunderstanding of how RAM management works, pretty common among novice system administrators:

* https://www.howtogeek.com/128130/htg-explains-why-its-good-that-your-computers-ram-is-full/
* htt

[2019-12-11 23:50] freehan commented on #83628
Just glance thru the issue.

Based on the knative use case described [here](https://github.com/kubernetes/kubernetes/issues/83628#issuecomment-558305663), if a default True option is available, it seems like it just reduces the # of patches from 2 (1 patch to unblock Ready on start up and 1 patch to mark pod NotReady on shutdown) to 1 (1 patch on shutdown).

I feel like this should be a feature re

[2019-12-12 00:25] jroper commented on #79739
Istio has encountered the same issue:

https://github.com/istio/istio/issues/19532

Not sure if this is the right place to talk about GKE, but assuming someone from GKE is listening - the practice of not running things on privileged ports on the node, and instead using a `Service` to map privileged ports to unprivileged ports, is a common, if not a best practice, and just looking at all the issues

[2019-12-12 01:11] ahg-g commented on #86162
@draveness I will do the first part of this to unblock Cluster Autoscaler integration.

[2019-12-12 01:13] nvanheuverzwijn commented on #43916
@bitglue What I mean is that the dentries cache gets counted in the "used" ram while it should only be counted in the buff/cached ram.
If you drop the caches, the "memory used" shouldn't go down because memory used does not count the buff/cache memory. On kernel 4.19, dropping the cache makes used memory go down. The same is not true for kernel 5, dropping the cache doesn't affect used memory.

[2019-12-12 01:18] sftim opened #86185 "Document NetworkPolicy compatibility with IPv6"
**What would you like to be added**:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#ipblock-v1-networking-k8s-io mentions an IPBlock with only IPv4 examples. Add a comment or example to clarify that IPv6 network blocks are (or possibly aren't) valid here.

**Why is this needed**: Cluster operators who use IPv6 networking want to understand how to isolate different workloads i

[2019-12-12 01:29] draveness commented on #86162
:+1:

[2019-12-12 02:15] RainbowMango commented on #85195
@like-inspur
You can close this issue now since PR has been merged.

[2019-12-12 02:22] mikedanese opened #86186 "Better protect secrets from common application vulnerabilities that expose the filesystem"
We've done a lot with secrets to meet rigid applications where they are. Is there anything we can do to optionally give flexible applications better security? Can we do better than directly mounting secrets onto the filesystem? Ideally filesystem information leaks (e.g. directory traversal bugs) wouldn’t result in secrets lost to bad guys.

Options discussed in sig-auth:

* kubelet encrypts secret

[2019-12-12 02:23] zouyee commented on #86151
`failed to get memory utilization: missing request for memory`
You must config container request resource.

[2019-12-12 02:31] tanjunchen commented on #86052
i will deal with
[code]

[2019-12-12 02:45] tedyu commented on #86181
Another occurrence of the test failure:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83455/pull-kubernetes-e2e-gce/1204938226029039617/

[2019-12-12 03:05] angao commented on #85822
/cc

[2019-12-12 03:28] #78900 closed

[2019-12-12 03:40] #84931 closed

[2019-12-12 03:40] zhucan opened #86194 "The mount flags of "_netdev" can not be copied from CSI driver to the host"
**What happened**:
The mount point on CSI driver:
![image](https://user-images.githubusercontent.com/13997135/70680395-230db700-1cd3-11ea-8f44-5b74bb2334ea.png)

The mount  point on host:
![image](https://user-images.githubusercontent.com/13997135/70680420-3b7dd180-1cd3-11ea-83fb-ff1b3b87b2a6.png)

I cant only see "_netdev" in the driver container mount, but not on the host

**What you expected to

[2019-12-12 03:42] zhucan commented on #86194
/sig storage

[2019-12-12 03:43] zhucan commented on #86194
@gnufied @msau42 @saad-ali Please take a look in this issue.

[2019-12-12 03:50] andyzhangx commented on #68427
Not yet, still in the plan. @deepaksood619

[2019-12-12 03:51] zq-david-wang commented on #86151
https://github.com/kubernetes/kubernetes/issues/79365
And there is an ongoing PR
https://github.com/kubernetes/kubernetes/pull/86044

[2019-12-12 03:55] alejandrox1 commented on #81804
/lifecycle active
/assign @MorrisLaw

[2019-12-12 03:56] hwdef commented on #86052
I will pick up
[code]

[2019-12-12 03:58] pytimer opened #86196 "StatefulSet pod support not reschedule when node reboot"
I use statefulset create 3 replicas pod on three nodes, when i power off node-2, pod status become `NodeLost` -> `Unknown`, when i power on node-2, i found this pod reschedule and recreate, but i want this pod still running node-2, how can i do?

[2019-12-12 04:17] tedyu opened #86197 "e2e-gce-device-plugin-gpu fails for branch-1.16"
**Which jobs are failing**:
pull-kubernetes-e2e-gce-device-plugin-gpu

**Which test(s) are failing**:

**Testgrid link**:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/86191/pull-kubernetes-e2e-gce-device-plugin-gpu/1204971573304365056/build-log.txt

**Reason for failure**:

W1212 03:58:56.297] 2019/12/12 03:58:56 process.go:155: Step 'bash -c . hack/lib/version.sh && KUBE_ROOT=.

[2019-12-12 04:18] tedyu commented on #86197
Ref #86191

[2019-12-12 04:24] tedyu commented on #86186
kubelet encrypts secret files and stores the encryption key in KMS.

[2019-12-12 04:25] tedyu commented on #86197
Fails in 1.15 as well:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86195/pull-kubernetes-e2e-gce/1204977361292890113/

[2019-12-12 04:29] #79832 closed

[2019-12-12 04:47] pytimer commented on #86196
/sig apps

[2019-12-12 05:00] #79546 closed

[2019-12-12 05:19] hex108 opened #86198 "Scheduler should handle pod annotation updates during scheduling more gracefully"
**What would you like to be added**:

Similar problem as https://github.com/kubernetes/kubernetes/issues/52914, howerver in our case, pod's annotation was updated at scheduling cycle, so it had not been assumed when its annotation was updated. We also need to deal with this case.

Detailed steps:
1. Created a pod `juntest-7c7f74ccdc-zrh6l`.
2. Scheduler tried to schedule the pod. Then it was predi

[2019-12-12 06:22] rodrigc opened #86200 "CSI: Resizing a PVC shows a misleading error message /sig storage"
**How to reproduce it (as minimally and precisely as possible)**:

1.  Create a PVC with this storage class:

[code]

2.  Resize the PVC

3.  I saw that the PVC resized properly, but I saw a warning message which I describe below.

**What happened**:

I did a `kubectl describe` on the PVC, and saw:

[code]

**What you expected to happen**:

The warning message `Ignoring the PVC: didn't find a plug

[2019-12-12 06:23] rodrigc commented on #86200
/sig storage

[2019-12-12 06:28] rodrigc commented on #86200
The warning message is being emitted here: https://github.com/kubernetes/kubernetes/blob/v1.15.5/pkg/controller/volume/expand/expand_controller.go#L249

[2019-12-12 06:32] xigang commented on #83044
The limit of the pod container memory cgroup is set to 8G, but the program only uses 400M, and the process is OOM.

contianer memory cgroup limit:
[code]

contianer memory cgroup usage:
[code]

dmesg -Tw system logs:

[code]

What causes this problem?

[2019-12-12 07:01] RainbowMango commented on #81984
@irajdeep
Are you ok to back to this issue?

I think you can just deprecate them by `DeprecatedVersion` field of counter opts.
[code]

[2019-12-12 07:06] raelga commented on #49387
/remove-lifecycle stale

[2019-12-12 07:33] dankohn commented on #85932
Note that the goal is not to contribute existing a Docker images but to build new ones on the Mio’s architecture as part of the regular build process.

[2019-12-12 07:46] ydcool commented on #85932
@dankohn Yes you're right, we're taking effort to this but not complete yet, I wonder if we could prove our conformance test results by providing those images.

[2019-12-12 07:56] matthyx commented on #86082
/cc

[2019-12-12 08:00] mattiaperi commented on #86151
Thanks @zouyee for the hint, but it's not that case. If you have a look to the manifests, you'll see resources requests are correctly set for both cpu and memory. Moreover, if it were as you say, the problem would always arise.

Indeed @zq-david-wang! It seems exactly the same issue! I missed that thread, thank you for to have pointed it out to me! I would say the issue can be closed. Thanks again

[2019-12-12 08:00] #86151 closed

[2019-12-12 08:15] #85195 closed

[2019-12-12 08:26] mm4tt commented on #86082
Last run passed. Problem seems to be fixed

![9er5mL1GRYC](https://user-images.githubusercontent.com/2604887/70695176-71b25580-1cc1-11ea-9545-2e5d8dab697d.png)

/close

[2019-12-12 08:26] #86082 closed

[2019-12-12 08:30] Suozz commented on #69787
hi, I meet the same problem and my docker's version, same with you, is 17.06. So do you know how to fix this bug

[2019-12-12 08:31] tanjunchen opened #86206 "Replace gomega.Expect(bool).To(gomega.BeTrue(),...) with framework.ExpectEqual()"
@ixdy   open  this [destroy the "Expect(err).NotTo(HaveOccurred())" anti-pattern in e2e tests](https://github.com/kubernetes/kubernetes/issues/34059) issue about
``` Expect(err).NotTo(HaveOccurred()) problems ```

I get this point :

The begin solutions are :

[code]
such as https://github.com/kubernetes/kubernetes/pull/34295 , https://github.com/kubernetes/kubernetes/pull/69583 , https://github.c

[2019-12-12 09:03] aleksey-mashanov opened #86207 "pkg/volume/csi does not remove volume data directory in case of NodeStageVolume failure"
**What happened**:
[code]
The problem arises in case of `NodeStageVolume` failure in any CSI plugin. If a pod is deleted without successful mount of a volume then the data directory (parent dir of the `target_path` - `/var/lib/kubelet/pods/106e5356-1cbb-11ea-b69d-fa163ec87160/volumes/kubernetes.io~csi/xxxxxxx`) of the volume is not removed.

**What you expected to happen**:
Data directory of a vol

[2019-12-12 09:27] sftim commented on #86196
Similar to #86069

[2019-12-12 09:27] sftim opened #86208 "statefulset"

[2019-12-12 09:28] sftim commented on #86208
/close
Misclick!

[2019-12-12 09:28] #86208 closed

[2019-12-12 09:30] sftim commented on #65267
(it's an old issue; recently, some similar issues got raised)
If someone makes a CustomResourceDefinition to implement this, that could work. Maybe an Add-on?

Also, I hope the CRD gets called _StatefulPet_. :wink:

[2019-12-12 09:44] davidbalazs commented on #86161
I have 2 questions about this:

1) Is there any way we can protect the stability of a worker node and the other pods on that node if one of the containers starts exhausting resources? (i.e. when it spins up lots of processes that cause the kernel on the machine to overcommit memory for example)

2) I would also be curious to see why the other pods don't become reachable again after the systemOOM d

[2019-12-12 09:46] yuyulei opened #86209 "Why pod with Terminating status is considered as Ready?"
**What would you like to be added**:

A confusion that why the pod with terminating status(in graceful shutdown duration) can be looked as ready pod.

**Why is this needed**:

In Statefulset controller, count ready replicas by using function [isRunningAndReady](https://github.com/kubernetes/kubernetes/blob/9caece8bd9fab55c3300b4a4373c49afcc5f13f8/pkg/controller/statefulset/stateful_set_control.go#

[2019-12-12 09:47] yuyulei commented on #86209
/sig apps

[2019-12-12 09:58] helios741 commented on #86153
@liggitt Does the apiserver have a cache mechanism that causes this problem?

[2019-12-12 10:04] #82480 closed

[2019-12-12 10:06] shadycuz commented on #86171
Going to close this in favor of other open issues, but this all is very confusing for lots of people. At times Kublet appears to be reporting cached memory and at other times it doesn't.

[2019-12-12 10:06] #86171 closed

[2019-12-12 10:16] RainbowMango commented on #81028
@mikedanese
Do you mean here?
https://github.com/kubernetes/kubernetes/blob/cfdfd043a086eba12a673faf7a7dee89d28c82e3/staging/src/k8s.io/apiserver/pkg/endpoints/filters/cachecontrol.go#L25-L33

Well, please walk me through your thoughts anyway. I guess you want a counter vector here.

[2019-12-12 10:20] bboreham commented on #84443
I just tripped over this; I have another interest because bugfix kubernetes/kubernetes#57135 was blocked on the basis that Kubernetes should not restart all pods on an upgrade.

I might resurrect that PR based on what is said here and in  https://github.com/kubernetes/website/issues/12326.

[2019-12-12 10:49] felixbuenemann commented on #80996
I got the same error when upgrading from Kubernetes 1.15.6 to 1.16.4 where the load balancer was already using `externalTrafficPolicy: Local`, so just upgrading broke the load balancer.

I had to delete the NLB and then switch between Cluster and Local to get it to re-register the listeners.

[2019-12-12 11:01] aleksey-mashanov commented on #86207
/sig storage

[2019-12-12 11:11] haosdent commented on #83044
this error looks like memory problem. can try to latest stable kernel first.

[2019-12-12 11:38] marcelloromani commented on #19317
The (old but effective) comment from @derekwaynecarr did the trick for me

https://github.com/kubernetes/kubernetes/issues/19317#issuecomment-180003984

the only missing step for me was `kubectl proxy` and changing the port number accordingly (8001 instead of 8080)

[2019-12-12 12:32] tedyu commented on #86161
For #2, could be fixed by #83455

[2019-12-12 13:05] haosdent commented on #86174
this requires HDFS to support CSI as I know

[2019-12-12 13:40] hasheddan commented on #86182
/remove-sig cli
/sig testing

[2019-12-12 14:01] kwiesmueller commented on #85750
/wg apply

[2019-12-12 14:17] kwiesmueller commented on #82046
/wg apply

[2019-12-12 14:39] #76538 closed

[2019-12-12 14:45] spearsem commented on #78795
Another bump to re-open. Many jobs can't be expressed in a fixed UTC time stamp format, but need to change as timezones change, such as with daylight savings.

[2019-12-12 15:20] liggitt commented on #86153
The RBAC authorizer works off of a watch-fed cache, which usually has latency of O(ms). A restart of the API server is not required to make new authorization rules take effect.

[2019-12-12 15:25] msau42 commented on #61446
/reopen
/lifecycle frozen

[2019-12-12 15:38] kwiesmueller commented on #73723
The work continues: https://github.com/orgs/kubernetes/projects/38
If it has to stay open for the milestone, we should indicate that work moved to the project in the description. Can't do that.

Otherwise, i would close it.

[2019-12-12 15:39] pierewoj opened #86217 "GCE 1.14, 1.15 pod startup latency regression"
**What happened**:
Pod startup latency seems to degrade around 5th November, see two runs:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable3/1188908638056484864/
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable3/1194706717250686977/
http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-1.14&metriccategoryna

[2019-12-12 15:41] xing-yang commented on #73625
/remove-lifecycle stale

[2019-12-12 15:55] pierewoj commented on #86217
Potentially related to https://github.com/kubernetes/test-infra/pull/15106 - then it would mean that it's not a regression but a change in what version is actually tested by sig-release jobs.

Jacek, can you PTAL?
/assign @jkaniuk

[2019-12-12 16:19] mrmuli commented on #41881
I recently had to capture the subdomain while we can't do regex on spec. I ended up adding a server alias of the regex as below, then used a different domain I own as a rule such that nginx always matches the regex and avails the variable

[code]

[code]

So the nginx config will always match my regex, while my reserved name is skipped
[code]

[2019-12-12 17:11] falcoriss commented on #80313
looks like it's the cause of the following linkerd issue i've been trying to identify for a while : https://github.com/linkerd/linkerd2/issues/3606

[2019-12-12 18:05] tomkerkhove commented on #85544
Adding @kubernetes/sig-api-machinery-feature-requests as discussed in the SIG instrumentation standup.

I will provide a sample based on Kubernetes event in next couple of days.

[2019-12-12 18:15] rajansandeep opened #86219 "Push the CoreDNS 1.6.6 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.6.6 image is available in docker coredns/coredns:1.6.6

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/assign @johnbelamaric

[2019-12-12 18:15] rajansandeep commented on #86219
/sig network

[2019-12-12 18:30] mariusgrigoriu opened #86220 "PSP MustRunAs minimum without pod spec mutation"
**What would you like to be added**:
I'd like to propose that the pod security policy not mutate the pod spec by inserting the `MustRunAs` minimum UID if it is not specified. Instead it could use UID of the container image and verify that the container UID conforms to the policy just like how `MustRunAsNonRoot` does it.

**Why is this needed**:
If a user does not set the UID in the pod spec, kuber

[2019-12-12 18:43] #79810 closed

[2019-12-12 18:43] #80130 closed

[2019-12-12 18:43] #79211 closed

[2019-12-12 18:45] johnbelamaric commented on #86219
Images have been pushed!

/close

[2019-12-12 18:45] #86219 closed

[2019-12-12 19:08] neolit123 commented on #85954
please reopen if you find a bug. thanks.
/close

[2019-12-12 19:08] #85954 closed

[2019-12-12 19:44] #72916 closed

[2019-12-12 20:32] dougsland commented on #69973
still valid in the 1.16.x

[2019-12-12 20:40] johnbelamaric commented on #28610
Available as alpha in 1.17: https://kubernetes.io/docs/concepts/services-networking/service-topology/

/close

[2019-12-12 20:40] #28610 closed

[2019-12-12 21:10] liggitt commented on #86220
changing the meaning of MustRunAs would be a breaking change (since it would change admitted pods that currently have the minimum uid in the range set, potentially breaking access to existing persisted volume data)

[2019-12-12 21:22] liggitt commented on #86220
/close

since this is not a backwards compatible change, and continued additions to PodSecurityPolicy are not currently planned

[2019-12-12 21:22] #86220 closed

[2019-12-12 21:42] spiffxp commented on #86182
cc @kubernetes/patch-release-team
cc @kubernetes/release-engineering
/sig release

From last passing build https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1204852162450952196
[code]

From first failing build https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1204867511288336384
[code]

I susp

[2019-12-12 21:56] spiffxp commented on #86182
Something happened with all of the latest patch releases, these marker files now have a `-1` in front of them, eg: I would expect `v1.16.5-beta.0+...`
[code]

[2019-12-12 21:59] spiffxp commented on #86182
/priority critical-urgent
This is impacting e2e jobs for most release-1.y-blocking boards:
- https://testgrid.k8s.io/sig-release-1.16-blocking
- https://testgrid.k8s.io/sig-release-1.15-blocking
- https://testgrid.k8s.io/sig-release-1.14-blocking

[2019-12-12 22:03] spiffxp commented on #86182
/assign @hoegaarden @justaugustus

[2019-12-12 22:05] tedyu commented on #84530
[code]
I would vote for the above option.
It is not desirable to only fulfill part of the request.

[2019-12-12 22:06] spiffxp commented on #86182
I'm assuming 1.17 isn't impacted because its .1 hasn't been cut yet
[code]

[2019-12-12 22:45] spiffxp commented on #85295
/area conformance
/priority important-soon

[2019-12-12 22:47] #80106 closed

[2019-12-12 22:55] amagura commented on #54542
Sadly doesn't work on my machines.  :(

[2019-12-12 22:56] amagura commented on #54541
And if we don't have any swap and `swapoff -a` does nothing?

[2019-12-12 22:57] justaugustus commented on #86182
@tpepper and I will be investigating. Aaron raised this in Slack, `#release-management` at https://kubernetes.slack.com/archives/CJH2GBF7Y/p1576187804428900, so please drop by there as well if you have feedback.

At first glance, something is going on with the version markers, which likely caused this other issue: https://github.com/kubernetes/release/issues/968.

(We're discussing version markers

[2019-12-12 23:21] ahg-g opened #86227 "Move host ports predicate metadata into pre-filter plugins [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-13 01:21] tanjunchen commented on #86206
ping @oomichi  @alejandrox1  @neolit123

[2019-12-13 01:36] pytimer commented on #86196
@sftim Thanks for you reply.

I found if the node lost 20min, pod will reschedule when node power on. If i want to pod not reschedule or extension reschedule time when node reboot , did i have some ways to do it?

[2019-12-13 01:39] neolit123 commented on #86206
thanks for opening the issue @tanjunchen

we already commented on https://github.com/kubernetes/kubernetes/pull/86157 that this enforcement might not be desired.

but looking for feedback from @oomichi and @alejandrox1 too.

[2019-12-13 02:00] hzxuzhonghu commented on #80313
Can we simply set the connect timeout and keepalive in the net dialer?

[2019-12-13 02:21] multi-io opened #86233 "make quick-release-images fails on v1.17.0"
**What happened**:

make quick-release-images fails on v1.17.0, works fine on v1.16.4

**What you expected to happen**:

Should work on v1.17.0

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

The immediate cause of the problem seems to be that the hyperkube image creation fails because it doesn't find the kubectl and kubelet binaries

[2019-12-13 02:23] multi-io commented on #86233
/assign @dims

[2019-12-13 02:24] tanjunchen commented on #85822
/cc

[2019-12-13 02:33] #67662 closed

[2019-12-13 02:51] tedyu commented on #79209
@YoyinZyc
Was this the tracing work in etcd mentioned above ?
[code]
Thanks

[2019-12-13 03:08] YoyinZyc commented on #79209
Yes, it is. FYI, the PR is https://github.com/etcd-io/etcd/pull/11179

[2019-12-13 03:44] zffocussss commented on #37471
very good

[2019-12-13 03:52] #78249 closed

[2019-12-13 03:59] wwj-2017-1117 opened #86235 "extend resouce bug: kubernetes.io/xxx"
**What happened**:
when I create an extend resouce "kubernetes.io/xxx" ,eg:
curl --header "Content-Type: application/json-patch+json" \
--request PATCH \
--data '[{"op": "add", "path": "/status/capacity/kubernetes.io~1abc", "value": "8888888888888888888888888888888"}]' \
http://localhost:8001/api/v1/nodes/${your_node_name}/status

**What you expected to happen**:
Allocatable:
 cpu:

[2019-12-13 04:23] sshukun commented on #81963
Looks like this is not solved yet, I would like to work on this.
/assign

[2019-12-13 04:34] NickrenREN commented on #82067
run into this too .
k8s version: v1.14.8,  i have tried several etcd versions: 3.4.3,3.3.10,3.1.2, all have the same problem.

/reopen

[2019-12-13 04:34] NickrenREN commented on #82067
[code]

[2019-12-13 04:45] liggitt commented on #82067
Inability to read any API resource indicates an apiserver -> etcd communication error. Check your kube-apiserver and etcd logs, and verify connectivity and etcd credentials.

[2019-12-13 05:24] hprateek43 opened #86236 "Introduce library of helper plugins that can be used by in-tree and out of tree components"
**What would you like to be added**:
In general, we might need a library of helper functions that both in-tree and out-of-tree plugins can use. We should finalise a location for this library and refactor common code components there.

**Why is this needed**:
Currently the homegrown `.import-restrictions` tool requires explicit listing for all transitive dependencies, even internal ones. However, t

[2019-12-13 05:25] hprateek43 commented on #86236
@alculquicondor @ahg-g Added for reference around our discussion

[2019-12-13 05:54] #77290 closed

[2019-12-13 05:54] hprateek43 commented on #86236
/sig scheduling

[2019-12-13 05:59] tanjunchen commented on #86236
/cc

[2019-12-13 06:49] hwdef commented on #86052
ginkgowrapper does not need to be changed.

[2019-12-13 07:16] Allen-yan commented on #66961
I have the same  issue. My host disk  /inode usage  are both under 20%,
but container warning Disk Pressure

[2019-12-13 08:06] Amoteamame opened #86243 "curl: (7) Failed connect to 10.244.1.7:80; Connection timed out"
I deployed 1 master and 2 worker nodes,
![1](https://user-images.githubusercontent.com/12152902/70782314-ac9bb280-1dc1-11ea-9ba2-4d60634d5d98.png)
and I deployed an nginx deployment according to the official website doc.

But I ca n’t curl on the master node to schedule pods on other nodes, but on the corresponding nodes, I can see the tutorial example.
As shown in the figure, there will be a conn

[2019-12-13 08:23] xigang commented on #83044
@haosdent
The free command shows that the system has a lot of available memory, but it cannot allocate memory through malloc. It is suspected that the kernel memory leaks.

Execute the following command:
[code]
Process can allocate memory normally. But the specific problems have not been identified.

[2019-12-13 08:29] imroc commented on #81775
We also met this problem when deployment rolling update, after a deep dive, I found the root cause.

## What We Met
Client in cluster sends a lot of requests to the service(ipvs mode), when the dpeloyment corresponding to the service is rolling update, "No route to host" happens sometime, even with preStop (leave time for kube-proxy to sync ipvs rules).

## Deep Dive
"No route to host" means that

[2019-12-13 08:52] liubog2008 commented on #81775
I found same problem when rolling update coredns. The connection which has no destination will be expired when "first" packet is received and this packet will be dropped.

[code]

I think the "first" packet should be resend to another real server but not just be dropped.

[2019-12-13 08:53] george-angel commented on #68939
/remove-lifecycle stale

[2019-12-13 08:57] #80065 closed

[2019-12-13 09:01] anencore94 opened #86244 "Create pod with spec.containers[0].resources.limits.cpu = 0"
**What happened**:

I tried to create pods with below spec:
[code]
under namespaces with or without resourceQuota. (without LimitRange in such namespaces)

Then pods created successfully.

**What you expected to happen**:

First of all, I wonder that the value zero in resources.limits.ResourceName means unlimited or not.

Since I couldn't find any official docs about this subject in kubernetes.io.

[2019-12-13 09:05] anencore94 commented on #86244
/sig apps

[2019-12-13 09:06] anencore94 commented on #86244
/sig node

[2019-12-13 09:11] zhanglx96 commented on #21248
@ssslkj123 It is available, but kubelet logs can still be seen in /var/log/messages, how can I make /var/log/messages not show kubelet logs.

[2019-12-13 09:18] haosdent commented on #83044
yep, I encounter similar problem as well, it not related to kubernetes' problem. Related to cgroup bug, can try the latest stable kernel version.

[2019-12-13 09:28] vdemeester opened #86245 "GCP credentialprovider loops forever in case of metadata url cannot be reached"
**What happened**:

Deploying [knative](https://github.com/knative) on top of OpenShift in GCP (or [tekton](https://github.com/tekton)) currently doesn't work because one of `knative/pkg`'s dependency ([`google/go-containerrigestry`](https://github.com/google/go-containerregistry)) imports the `credentialprovider/gcp` package.

At the import of this package, the `init()` tries to do some magic, an

[2019-12-13 09:28] njuicsgz commented on #81775
exactly same scenario I meet.
And I tried ignore "inactive" connections, but rs still can not be removed due to the active conn number increase, which because there are large number of requests continue coming.

Actually, ServiceA in my case is a ELB, so I can not increase its replicas.

[2019-12-13 09:29] vdemeester commented on #86245
/sig cloud-provider

[2019-12-13 09:43] irizzant commented on #83265
Just had the same problem with Ceph cluster creation in minikube, the osd-prepare doesn't start because of this:
[code]

[2019-12-13 09:58] #73948 closed

[2019-12-13 10:04] liubog2008 commented on #81775
I find a commit about why SYN packet is dropped.
[code]

[2019-12-13 10:15] zhouya0 commented on #85869
/assign
@cjellick, the command `kubectl can-i --list` actually need a `-n <namespace>` parameter. If you don't specific this parameter, it will use default namespace and the output you have are all from this default namespace. And for `cluster scope` and `namespace scope`, perhaps i can try to add `scope` info in the `kubectl can-i --list`output, can that solve your problem?

[2019-12-13 11:10] chendotjs commented on #81775
/cc

[2019-12-13 11:27] jkaniuk commented on #86217
For two stable3 runs that you mentioned:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable3/1188908638056484864/
Test started 10/28/2019, that is 1.13.13-beta.0.1+874f0559d9b358
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable3/1194706717250686977/
Test started 11/13/2019, that is 1.14.10-beta.0.1+6193

[2019-12-13 11:32] kevtaylor commented on #82577
This has been released now, so closing

[2019-12-13 11:32] #82577 closed

[2019-12-13 11:48] #86217 closed

[2019-12-13 11:50] zuozp8 opened #86246 "Undocumented fsType parameter for gce storage provisioner"
**What happened**:
Documentation doesn't mention `fsType` parameter for `gce-pd` storage provisioner
https://kubernetes.io/docs/concepts/storage/storage-classes/#gce-pd

Accepted values are `ext4` and `xfs`, it's also worth noting that you need for `xfs` you need support on host OS

**How to reproduce it**:
On gke (with node image type `ubuntu` rather then `cos`) apply:
[code]
and run `kubectl exe

[2019-12-13 11:54] zuozp8 commented on #86246
/sig docs

[2019-12-13 13:07] sftim commented on #86196
I think the scheduler and StatefulSet controller are working as designed. My take on this: someone could (extend Kubernetes)[https://kubernetes.io/docs/concepts/extend-kubernetes/extend-cluster/#user-defined-types) with a new type (not called StatefulSet) that has behavior between DaemonSet and StatefulSet, so that when a Pod fails the controller tries hard to schedule its replacement Pod onto the

[2019-12-13 13:07] sftim commented on #86196
(maybe there already is such a resource and I don't know about it).

[2019-12-13 13:20] bboreham commented on #71181
Cross-ref https://github.com/google/cadvisor/issues/2037

[2019-12-13 13:25] ahg-g opened #86248 "Move pod fits resources predicate metadata into pre-filter plugin [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-13 13:58] aojea commented on #86024
/remove-triage unresolved
the issue has been assigned

[2019-12-13 14:28] alexbrand commented on #82592
@neolit123

I just ran into this. I mistakenly deleted the CoreDNS deployment from my cluster and wanted to re-install it. When I tried to reinstall it with kubeadm, I got the following error:

[code]

After look through the code a bit and more verbose output from Kubeadm, I noticed that it was fetching the CoreDNS configmap. Now, I only deleted the CoreDNS deployment, and not the configmap. The c

[2019-12-13 14:28] liggitt opened #86253 "sample-apiserver returns "$type does not implement the protobuf marshalling interface and cannot be encoded to a protobuf message" error instead of falling back to second Accept type"
**What happened**:
Creating an example object against the sample-apiserver returns the following error with a default client:
[code]

**What you expected to happen**:
The sample-apiserver would fall back to encoding the object in json

**How to reproduce it (as minimally and precisely as possible)**:
* Define a type that does not support protobuf
* Create a client that accepts protobuf,json
* Use

[2019-12-13 14:36] alexbrand commented on #82592
Forgot to mention: After deleting the CoreDNS configmap, I was able to re-install CoreDNS using kubeadm.

[2019-12-13 15:29] danwinship commented on #69882
OK, as discussed here and in the corresponding PR, there are issues with this idea/implementation:
- some people think it's wrong in general
- it's definitely wrong to do it only for dockershim and not for CRI
- confusion in the PR about exactly what the best way of passing the args would be

If we are going to do this, [it needs a KEP](https://github.com/kubernetes/enhancements/tree/master/keps)

[2019-12-13 15:58] IdahoPL commented on #50375
+1, I need that too.

[2019-12-13 16:08] joshshn opened #86255 "Kubernetes v1.16.0 CPU manager fuctionality fails when Pod has initContainer"
**What happened**:
CPU manager functionality is enabled by adding the below environment variable to the kubelet startup argument. Functionality is verified by creating a sample pod with Guaranteed Qos.

Environment="KUBELET_CPUMANAGER_ARGS=--cpu-manager-policy=static  --kube-reserved=cpu=1000m,memory=1024Mi"

[code]

Functionality is verified by checking the cpu_manager_state file that cores are a

[2019-12-13 16:11] joshshn commented on #86255
/sig node

[2019-12-13 16:21] tedyu commented on #86255
Related:
[code]
It seems the ContainerID was empty at the time of the check:
[code]

[2019-12-13 16:29] lbernail commented on #81775
@imroc Thanks for the great analysis
You are right, the reason traffic is sent to an inactive backend is because there is still an entry in the ipvs conntrack that hasn't expired and the client as reused the port matching this entry.

I think the main reason we have issues is because conn_reuse=0 disables checks (we set it to 0 a while back for performance reason).
We can test only for ActiveConn,

[2019-12-13 16:29] lbernail commented on #81775
@imroc Thanks for the great analysis
You are right, the reason traffic is sent to an inactive backend is because there is still an entry in the ipvs conntrack that hasn't expired and the client as reused the port matching this entry.

I think the main reason we have issues is because conn_reuse=0 disables checks (we set it to 0 a while back for performance reason).
We can test only for ActiveConn,

[2019-12-13 16:54] alculquicondor commented on #86236
Thanks @hprateek43 for opening this. We will probably need to progress a bit more with #85822 before being able to suggest a solution to this.

[2019-12-13 17:20] claudiubelu opened #86257 "test images: gcr.io/kubernetes-e2e-test-images/dnsutils:1.2 not built properly"
**Which jobs are failing**:

N/A - there is a PR that requires CoreDNS (https://github.com/kubernetes/kubernetes/pull/77862), that was added in ``dnsutils:1.2``, but it can't merge because the image is not built properly.

**Which test(s) are failing**:

``DNS should support configurable pod resolv.conf``

**Since when has it been failing**:

N/A

**Testgrid link**:

N/A

**Reason for failure**:

[2019-12-13 17:29] tedyu commented on #86253
In TestWatchNonDefaultContentType, there is test for falling back to JSON serialization:
[code]

[2019-12-13 17:45] kireledan commented on #77557
I'm interested in taking a shot at this bug fix. I'll look into this today.

[2019-12-13 17:46] liggitt commented on #86253
That's testing client-side fallback. This bug is about a server serving a type which cannot be serialized using protobuf.

[2019-12-13 18:00] jayunit100 commented on #62900
so, making sure i understand this question - workaround: could a CNI provider just have its own controller which monitored pods by name, and kept an up to date UUID mapping ?

[2019-12-13 18:03] juliantaylor commented on #81775
in the short term maybe making the setting of `conn_reuse_mode` configurable in kube-proxy would be good.

if you have workloads that use keepalive connections the performance hit may not be as relevant as it only occurs if you have too many connections from the same source ip within the time wait window.

[2019-12-13 18:09] juliantaylor commented on #81775
again also see this post https://marc.info/?l=linux-virtual-server&m=151706660530133&w=2
dropping of the syn packages is intentional

[2019-12-13 18:18] lbernail commented on #81775
Interesting
Sadly, we can't disable conntrack in IPVS mode, we need it for nodeport and hairpin traffic (it would be great if we could for performance)

[2019-12-13 18:24] tedyu commented on #86253
Thinking of the following:
[code]

[2019-12-13 19:03] tianhe-oi opened #86262 "Pending pvc in `WaitForFirstConsumer` if pod scheduled by custom scheduler"
**What happened**:
Pod specifies a pvc using a storageclass with `WaitForFirstConsumer=true`. The pod specifies to use a custom scheduler.
- Pod stuck in `ContainerCreating` state with message `Unable to mount volumes for pod: timeout expired waiting for volumes to attach or mount for pod`
- Pvc stuck in `Pending` state with message `waiting for first consumer to be created before binding`

**What

[2019-12-13 19:09] tianhe-oi commented on #86262
/sig scheduling

[2019-12-13 19:29] liggitt commented on #86253
I set up a simple addition to the sample-apiserver integration test to exercise this:

[code]

Tested this across all releases since the working 1.10 API server:

- 1.10: passes
- 1.11: passes
- 1.12: fails with "cannot encode to protobuf" error
- 1.13: fails with "cannot encode to protobuf" error
- 1.14: fails with "cannot encode to protobuf" error
- 1.15: fails with "cannot encode to protobuf" e

[2019-12-13 19:34] cmluciano commented on #82203
There is an [open PR](https://github.com/kubernetes/kubernetes/pull/82219) for this but I'm not sure if this feature should be implemented in the current API. I believe there were thoughts about making the backend mandatory instead of loosening conditions.

[2019-12-13 19:47] liggitt commented on #86253
digging further, 1.10 and 1.11 did not actually succeed, but returned 200 responses containing status errors (issue reported in https://github.com/kubernetes/kubernetes/issues/50342, fixed in https://github.com/kubernetes/kubernetes/pull/67041 to correctly report the error attempting to encode to protobuf)

we should still improve the server to fall back to other supported Accept types when the ty

[2019-12-13 19:49] liggitt commented on #86253
The likely approach here is to filter the encoders the server supports to the ones the type for a particular endpoint supports when deciding what types a particular resource supports.

[2019-12-13 19:57] spikecurtis commented on #85966
@tedyu @xiaoanyunfei I'd really like to settle on an approach here, even if no one is able to write up a fix yet.

I think we've got two options being discussed:
 1) Hooks run async of the goroutine that runs `SyncPod()`. In order for this to fully solve the problem, *all* hooks would need to run async, including those for init containers.
2) Trigger a pod status update immediately following sandb

[2019-12-13 20:04] justaugustus commented on #86197
Closing to consolidate the conversation on https://github.com/kubernetes/kubernetes/issues/86182.
/close

[2019-12-13 20:04] #86197 closed

[2019-12-13 20:04] gnufied commented on #84878
Looks like https://github.com/kubernetes/kubernetes/pull/64519 is the PR that introduced this change and moved data file creation calls to `NewMounter`.

[2019-12-13 20:24] justaugustus commented on #86182
Potentially related: https://github.com/kubernetes/release/issues/968

[2019-12-13 20:56] #86233 closed

[2019-12-13 21:31] ahg-g opened #86263 "Move ServiceAffinity predicate logic to its plugin [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

This includes moving the metadata logic into prefilter.

Part of #85822

[2019-12-13 21:36] maximilien commented on #83628
@freehan thanks for the quick reply. However, I am afraid that sending this to another SIG will lose the context and delay this even more. Plus it’s not clear to me that `sig-app` is where it belongs.

[2019-12-13 21:38] colindean commented on #77216
We have been encountering this issue periodically for more than a year now. Only manually killing the pod resolves the issue.

I will attempt to gather system load data next time it occurs. I speculate that our cluster is nearly always under high load.

[2019-12-13 21:46] praseodym commented on #86243
GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubern

[2019-12-13 21:47] nimakaviani commented on #83628
@freehan the issue is independent of the Knative problem we are trying to solve.

This issue is to suggest to have `to allow for predefined condition values for the `PodReadinessGate` so that its value can be set without having to go through the control plane a second time. This simplifies utilizing it as a `PodNotReadyGate` that can have multiple use cases, ours included.

[2019-12-13 21:59] praseodym commented on #86244
A request of zero CPU and memory effectively means "infinitely small" for the scheduler deciding on which node to place the pod. In practice this means that the pod is very likely to get (OOM) killed or evicted on a node with high utilisation.

Setting a zero limit does mean there is no hard resource limit, but the risk of eviction is still present.

I'd recommend always setting a [LimitRange](htt

[2019-12-13 22:01] c-horn commented on #77216
Some details from the situation @colindean is referencing.

We have encountered this on multiple versions of kubernetes, but most recently today:
[code]

Our cronjob is also stateless with only minor mounted secrets (keys), is configured `restartPolicy: Never` and `concurrencyPolicy: Forbid`, and runs every 30 minutes.

ContainerCreating locks seem to correlate roughly with scheduling cadence beca

[2019-12-13 22:05] freehan commented on #83628
The issue is already tagged with `sig-app`. Can anyone from @kubernetes/sig-apps-misc chime in regarding the following idea?

[2019-12-13 22:09] #73475 closed

[2019-12-13 22:34] ixdy opened #86267 "cluster/get-kube.sh pulls from wrong bucket with prerelease versions"
If you give a prerelease version to `cluster/get-kube.sh`, it'll match both `KUBE_CI_VERSION_REGEX` and `KUBE_RELEASE_VERSION_REGEX`.

Based on this logic:
https://github.com/kubernetes/kubernetes/blob/6e38a0f46e8485a76fe504e51b0f163eaa5141d3/cluster/get-kube.sh#L193-L200

We'll end up trying to pull binaries for this prerelease from the CI bucket (https://dl.k8s.io/ci) rather than the release buc

[2019-12-13 22:36] ixdy commented on #86267
/sig testing
/sig release

I guess?

[2019-12-13 22:38] tpepper commented on #86182
Based on the specifics of how `git describe` works, and the unexpected ordering of events in https://github.com/kubernetes/release/issues/968, the root cause in that #968 (TBD) should be the root cause of this issue also.

[2019-12-13 22:38] justaugustus commented on #86182
Current update...

We believe this has something to do with the fact that there were additional commits in the release branches after they were tagged.

From `git-describe`:

       of the tagged object and the abbreviated object name of the most recent commit. The result is a "human-readable" object name which can also be used to identify the commit to other git commands.

In one of our cases:
[c

[2019-12-13 22:41] justaugustus commented on #86267
/area release-eng
/priority critical-urgent
/assign @justaugustus @tpepper
/milestone v1.18

[2019-12-13 22:42] justaugustus commented on #86182
xref: https://github.com/kubernetes/kubernetes/issues/86267

[2019-12-13 22:55] justaugustus commented on #86182
Filled with cautious optimism:

[code]

ref: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-stable3/1205617468433764356

[2019-12-13 23:03] tedyu commented on #86253
In staging/src/k8s.io/sample-apiserver/pkg/apiserver/apiserver.go :
[code]
which defaults to json serializer.

It seems protobuf serializer should be added to serializers slice prior to the following call:
[code]

[2019-12-13 23:04] ixdy commented on #86182
The commits after the tag are not a problem. This is expected, and typically happens between releases.

The issue seems to be that the release and then next `-beta.0` tag were both applied to the same commit this time around, and git is using the release tag as its base in `git describe`, rather than the pre-release `-beta.0` tag.

Previously, these were separated by some number of commits, with t

[2019-12-13 23:06] tpepper commented on #86182
Yes.  As per https://github.com/kubernetes/release/issues/968 there's an ordering issue and the tags are happening in the wrong order, resulting in eg:
[code]
being on the same commit.

[2019-12-13 23:07] ixdy commented on #86182
Note that the previous separation between the release tag and the beta.0 tag would likely have still resulted in invalid CI versions being produced for a short time:
[code]
I'm not sure how we never encountered this. (Or we likely did, but just ignored it as a flake or something.)

[2019-12-14 00:20] #86227 closed

[2019-12-14 00:50] justaugustus commented on #86182
The build job for the 1.14 branch w/ the new tag has passed.
Now we need to ensure that the [merge-blocking tests on `release-1.14` pass](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1576284080079700?thread_ts=1576268807.016400&cid=CJH2GBF7Y) before proceeding to tag the other active release branches.

I've temporarily reopened https://github.com/kubernetes/kubernetes/pull/86006#issuecomment-5

[2019-12-14 04:05] justaugustus commented on #86182
Should've done this earlier, but capturing screenshots of Testgrid, so we can compare later...

### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2019-12-13 22:59:54-0500</tt> FAILING sig-release-1.17-b

[2019-12-14 04:14] justaugustus commented on #86182
Two round of merge-blocking tests have passed on https://github.com/kubernetes/kubernetes/pull/86006, a `release-1.14` branch PR, since manually pushing the [`v1.14.11-beta.1`](https://github.com/kubernetes/kubernetes/releases/tag/v1.14.11-beta.1) tag.

Since then, [`ci-kubernetes-gce-conformance-latest-1-14`](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-lates

[2019-12-14 04:28] tedyu commented on #86182
Thanks, Stephen.

[2019-12-14 05:02] rubenhak opened #86268 "Accessing non-sensitive data of Secrets"
/sig api-machinery

Secrets hold sensitive data. There is a need to allow certain programs to access Configuration part of secrets, yet restricting access to the sensitive data. Such capability would allow tools to validate correctness of configuration without worrying that the sensitive data can be leaked.

The plan is to query sanitized version of Secrets:
[code]

One solution could be an introd

[2019-12-14 05:07] justaugustus commented on #86182
Note to k-dev: https://groups.google.com/d/topic/kubernetes-dev/angCw-zHejE/discussion

[2019-12-14 05:16] #80168 closed

[2019-12-14 05:19] #85925 closed

[2019-12-14 06:06] ArturoTarinVillaescusa commented on #80481
Hello @wuyafang ,

as per my understanding, we need it if we want to have more than one threshold for the same metric. Let's say we want our Kubernetes engine to take some action when we arrive to the 30% of CPU capacity consumption, but some other action when this metric reaches 60%.

Mr. @josephburnett, could you please confirm whether I'm right or wrong on it?

Kind Regards

Arturo

[2019-12-14 07:51] pohly commented on #86052
Let me point out one caveat of this whole effort: it assumes that the framework is only used by tests in Kubernetes. If the goal is to allow others to also use the framework, then those (potential) outside usages of a package also need to be considered when deciding whether a sub-package can be moved into one particular test package.

For example, https://github.com/kubernetes/kubernetes/pull/8623

[2019-12-14 08:06] atykhyy commented on #83679
v1.17.0 is also affected. @simonswine's workaround didn't work for me, perhaps because of differences in base filesystem labels. Instead I had success with
[code]

[2019-12-14 10:34] r0bj commented on #81412
/remove-lifecycle rotten

[2019-12-14 12:26] tedyu commented on #85966
For option #2, we can break kubeGenericRuntimeManager#SyncPod into two parts.
SyncPodSandbox performs steps 1 thru 4 of the original:
[code]
SyncPod performs 5, 6 and 7
[code]
so that kubelet can call the following in between these two funcs:
[code]
However, podActions needs to be passed between the two funcs.

@derekwaynecarr @dchen1107 @yujuhong
Do you have better idea ?

[2019-12-14 13:11] sftim commented on #86196
@pytimer see https://kubernetes.io/blog/2018/04/13/local-persistent-volumes-beta/

/triage support

[2019-12-14 16:20] dims commented on #86219
@johnbelamaric @rajansandeep next time please use the image promotion process setup by @stp-ip:

https://github.com/kubernetes/k8s.io/pull/512/files

@stp-ip @johnbelamaric please make sure everyone who needs access to the staging / promotion process are listed in:

k8s.gcr.io/images/k8s-staging-coredns/OWNERS

[2019-12-14 16:29] dims commented on #86161
@davidbalazs can you use kubelet's "--pod-max-pids" that feature is designed to prevent fork bombs

[2019-12-14 16:59] liggitt commented on #86268
Duplicate of https://github.com/kubernetes/kubernetes/issues/78056, see prior discussion there of the implications of this type of change.

sig api-machinery and sig-auth are the likely sigs that would need to be involved in a proposal that works through the implications of a change like this

[2019-12-14 17:04] liggitt commented on #86268
As noted in https://github.com/kubernetes/kubernetes/issues/78056#issuecomment-545561787 this is unlikely to make progress as an issue. A proposal that works through the design along with the implications of such a change can be opened as a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps). I would suggest reaching out to the mentioned sigs to

[2019-12-14 17:04] #86268 closed

[2019-12-14 17:10] tedyu commented on #79351
@amalts
do you plan to work on this ?

[2019-12-14 17:17] tedyu commented on #85966
I have implemented the above approach in #86271

[2019-12-14 17:19] IanColdwater opened #86272 "k8s.io/security short link is now redirecting to the Security page in Korean"
**What happened**: The short link [https://k8s.io/security](https://k8s.io/security) is now redirecting to the Kubernetes Security and Disclosure Information page in Korean at [https://kubernetes.io/ko/docs/reference/issues-security/security/](https://kubernetes.io/ko/docs/reference/issues-security/security/)

**What you expected to happen**: It used to redirect to the page in English at [https://

[2019-12-14 17:21] IanColdwater commented on #86272
@kubernetes/sig-docs-bugs /sig-docs

[2019-12-14 18:06] stp-ip commented on #86219
The information given was that the image process is not live to push to k8s.gcr.io, which as far as I know it is still the case. Using a completely different image endpoint than before would be problematic as we will already move from k8s.gcr.io/coredns:1.6.6 to k8s.gcr.io/coredns/coredns:v1.6.6 once the final switch is done. So doing a single release change with eu.gcr.io/k8s-artifacts-prod/cored

[2019-12-14 18:26] aojea commented on #85894
@liggitt I've tried to reproduce this bug using this integration test without success

https://github.com/kubernetes/kubernetes/compare/master...aojea:nodeport?expand=1

can you please take a look? am I missing something? or
I will not be able to reproduce this bug with an integration test ?

[2019-12-14 18:29] dims commented on #86257
/assign @cjwagner (per the oncall rotation page - go.k8s.io/oncall)

[2019-12-14 18:31] dims commented on #86243
/close

[2019-12-14 18:31] #86243 closed

[2019-12-14 18:33] dims commented on #86245
Related to https://github.com/kubernetes/enhancements/pull/1406

[2019-12-14 18:56] dims commented on #86219
@listx WDYT?

[2019-12-14 19:07] Massil0305 commented on #54918
I got same issue and fixed it by :
1- wget https://github.com/containernetworking/plugins/releases/download/v0.7.5/cni-plugins-amd64-v0.7.5.tgz
2- sudo tar -xzvf cni-plugins-amd64-v0.7.5.tgz --directory /opt/cni/bin/
3- sudo systemctl restart kubelet

[2019-12-14 19:16] justaugustus commented on #86182
Updated Testgrid screenshots:

### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2019-12-14 14:10:16-0500</tt> FAILING sig-release-1.17-informing#aks-engine-azure-1-17-windows <a href="https://testgrid.

[2019-12-14 19:37] mowings commented on #43916
To add a "me too" this same issue occurs for us with io-heavy containers (postgres to external btrfs volumes). Kernel  4.15.0-66-generic, ubuntu 18.04. Cache is pretty clearly being counted as used by kubelet