[2016-04-06 16:48] spxtr commented on #23915
We use 1.6 in Jenkins for unit/integration tests with [hack/jenkins/test-image/Dockerfile](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/test-image/Dockerfile).

[2016-04-06 16:48] paralin opened #23922 "AWS: Multi-AZ clusters are missing DOCKER_EXTRA_OPTS on multiple deployments"
If you deploy a cluster, then enable detect master and change the CIDR and the availability zone, a second autoscaler is created properly, and everything seems good.

The problem is that I'm pretty sure the deploy script will read the env from the master in this case, and this is problematic as the master doesn't have DOCKER_EXTRA_OPTS.

So DOCKER_EXTRA_OPTS ends up being empty on the secondary re

[2016-04-06 16:48] paralin commented on #23922
@justinsb

[2016-04-06 16:51] timothysc commented on #23902
+1

[2016-04-06 16:52] hongchaodeng commented on #23915
Good to know that.

There is one test called "node-e2e-test" which is added recently. It relies on the host Go to do "e2e" test: ./test/e2e_node/jenkins/e2e-node-jenkins.sh

[2016-04-06 16:52] thockin commented on #19975
I'm revisiting some DNS-related issues. I think I get this request, but I am struggling with the idea that we would be acting as an authoritative DNS for `company.com`.  Alternatively, it's pretty simple to describe this as a bridge pod that watches Services for a specific annotation and programs upstream DNS from those.

I can imagine a solution that has kube-dns serving multiple domains with som

[2016-04-06 16:54] hongchaodeng commented on #23902
Created https://github.com/kubernetes/kubernetes/pull/23923
Please help review

[2016-04-06 16:55] jperville opened #23924 "How to use RBD volumes (pod fails to start with error "rbd: failed to modprobe rbd")"
Hello kubernetes,

I am trying to follow the instructions from the [rbd example](https://github.com/kubernetes/kubernetes/tree/master/examples/rbd). After successfully booting a ceph demo cluster (`sudo ceph -s` on the host displays `HEALTH_OK`) and manually creating a `foo` rdb volume formatted in ext4, I cannot start any pod that uses rdb volumes.

The `rdb2` pod never starts, it stays in `Conta

[2016-04-06 16:55] wojtek-t commented on #23902
+1 from me too

[2016-04-06 16:59] caesarxuchao commented on #22368
@rata, I'm working on cascading deletion and am putting together a PR that adds the necessary API, including the "OwnerReferences". I'll cc you there.

[2016-04-06 16:59] rata commented on #22368
@caesarxuchao thanks!

[2016-04-06 17:00] yujuhong commented on #15925
@harryge00, the pod will eventually be deleted by kubelet unless the image pull request hangs. Why was kubelet unable to pull images for your pod? Is that (image pulling) the problem or the fact that kubelet doesn't abort immediately a problem for you?

[2016-04-06 17:02] chrisleck commented on #23013
I'm seeing this same behavior in my 1.2 cluster.  I have 4 nodes in a cluster, all of which have sufficient space available, but the DS is reporting "desired" and "current" counts of 2.  What's worse is that things were properly working a few days ago when I rolled this out, but sometime in the last few days, 2 of the nodes lost their DS pods and they haven't come back.

[2016-04-06 17:05] caesarxuchao commented on #23799
It looks like a bug. I'll take a look.

[2016-04-06 17:08] zmerlynn commented on #23117
cc @justinsb

I've had this PR hanging out for a while, what say you?

[2016-04-06 17:09] rata commented on #22368
On Wed, Apr 06, 2016 at 09:37:25AM -0700, Paul Morie wrote:

Sure, but I guess the same should probably work for boths, right?

I imagine for example the "internals" configMaps to use a name like
<some-name>-v<kube-version/commit hash>.

This way, when you upgrade the configmap will became orphan and it should be
deleted, right? Or am I missing something?

I think this can work for boths

Ohh, tha

[2016-04-06 17:11] gmarek commented on #23327
@cjcullen - assigning to you, as I believe you're the one who's most familiar with RouteController logic.

[2016-04-06 17:13] paralin commented on #23117
I still think it should be merged, because the master isn't even enabled for scheduling right now, and is a mission critical component.

[2016-04-06 17:14] antoineco commented on #23276
@bgrant0607 This limit is low on purpose, this container only starts `crond -f`. In our production environment we use it for log rotation with the same CPU limits. When deployed using the `deployment` API everything works and the rolling update takes less than a minute.

@kargakis All pods are running as expected and don't show any error.

[2016-04-06 17:16] hongchaodeng commented on #23915
One example in PR build: [link](https://00e9e64bacd74a2e11ffe6f2198500465e993160e8d56f9428-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F23808%2Fnode-pull-build-e2e-test%2F644%2Fbuild-log.txt?qk=AD5uMEvZJzBiZ6GQMasa3qp7N6YjbGBwAnJ09V6GHJBwg7fIB0hN_0d-zcQrL0JKHDJgUZHK-Ui3jiJ65-8xqPCRMB_upthdY9rc9pGaD64d2lIJqEJ8n0X_jXpl4NtNvQP1ydnLO08XGJUfs1t8g7FRV_vBOOcj8

[2016-04-06 17:21] thockin commented on #23921
This is dup of #13748 and/or #13358 (which haven't been de-duped because they are subtly different).  Let's please take the conversation there :)

[2016-04-06 17:21] #23921 closed

[2016-04-06 17:24] mbhinder opened #23926 "GCE install broken because of bug in Google Cloud Storage JSON API"
When I run cluster/kube-up.sh it hangs on the `gsutil.py mb -l` step because of GoogleCloudPlatform/gsutil#348

Workaround: Add the following to `$HOME/.boto`:
[code]

[2016-04-06 17:40] maclof commented on #23924
@jperville have you tried apt-get installing the ceph-common package?

[2016-04-06 17:49] lacion commented on #23013
i gave up and moved to manifests on the nodes

[2016-04-06 17:57] lavalamp opened #23927 "Split general things out of pkg/master/master.go"
This is a sub task of making apiserver reusable.

https://github.com/kubernetes/kubernetes/blob/0798915490fa60137f8239fd62003516537f3917/pkg/master/master.go#L650

Some things ought to be moved to a general setup function in apiserver.
- EnableProfiling
- CORS

(I just found this draft sitting in a tab, unfiled. I hope it is still accurate.)

[2016-04-06 18:00] sjpotter commented on #23657
so, I wasn't able to duplicate this with or without promisc mode so you're probably right that it doesn't relate and promisc mode is only needed for the kubeproxy test and our dns issues are possibly something else.

[2016-04-06 18:01] jperville commented on #23924
Hi @maclof ,

I have installed the ceph-common package from ceph.org, in version 0.94 hammer because the documentation recommends version >= 0.87 and Ubuntu 14.04 only packages version 0.80 out of the box.

I successfully ran `sudo ceph -s` to make sure that tge ceph demo cluster is working.

[2016-04-06 18:03] chrisleck commented on #23013
After playing around with label selectors, restarting api server and controller, and deleting/adding a node, finally got another of the 4 nodes to have a DS pod on it after waiting ~5 minutes.

[code]

[2016-04-06 18:06] lavalamp commented on #23394
@hongchaodeng This code is tricky and has been wrong a number of times. Please don't make any changes that don't have a very pressing immediate need.

[2016-04-06 18:06] timothysc commented on #1957
For those looking to do this work start with creating an equiv backing behind the storage [interface](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/interfaces.go).  The existing etcd work + the new etcd3 work serves as a good example. https://github.com/kubernetes/kubernetes/tree/master/pkg/storage

[2016-04-06 18:08] jperville commented on #23924
I have created the rbd volume from the host with no problem so I think that the ceph-common package on host is compatible with the ceph inside the ceph/demo image.

[2016-04-06 18:09] timothysc commented on #23394
@wojtek-t we're (mostly @rrati) are digging into this now, we have profiles on the spikes showing the list offenders.

[2016-04-06 18:11] swagiaal commented on #21931
Just to provide an update on some things @saad-ali and I had agreed on (I should have updated the doc earlier :/)
- We will try to do this without caching any additional information. Basically just use the directory structure and the pod list to decide what to do (mount, unmount etc)
- The above amounts to keeping all the logic currently in the kubelet but calling it from a manager which essential

[2016-04-06 18:17] dchen1107 commented on #23013
I marked this p0 for triage for now.

[2016-04-06 18:21] david-mcmahon commented on #23281
ref #23743

[2016-04-06 18:21] david-mcmahon commented on #21437
See also #23743

[2016-04-06 18:22] jdr0dn3y commented on #21067
AZ_SUBSCRIPTION doesn't get set properly for me when I login to Azure. You need to either explicitly set it on execute, or explicitly set it in your environment variables prior to running ./create.

[2016-04-06 18:23] lavalamp commented on #23799
Weirdly, the description showed up in the email github sent me but it appears absent on the github issue?

[2016-04-06 18:24] chrisleck commented on #23013
Ok - more troubleshooting with Kelsey on slack...deleting the problem nodes by hand, then restarting kubelet on those nodes seemed to fix the issue.  The DS scheduled the remaining node once the kubelet had registered itself.  Guessing a bad cache somewhere.

[code]

[2016-04-06 18:25] mikedanese commented on #23013
I'd love to kubectl get node -o json on a bad node

[2016-04-06 18:29] lavalamp commented on #23323
@wojtek-t Do we serve lists out of this cache after removing a random element?

[2016-04-06 18:31] caesarxuchao commented on #23799
The description was there when I read it but disappeared now.

[2016-04-06 18:32] chrisleck commented on #23013
The last node in the cluster (which came back with re-registering the kubelet) had recently undergone a coreos automatic update - looks like it's running docker 1.9.1 on that node now.  The third node (which came online after playing around with label selectors and re-registration) did not receive the upgrade and is still running docker 1.8.3.

Perhaps the reboot/registration that happened broke a

[2016-04-06 18:32] swagiaal commented on #23886
@cdragga you have read the code correctly yes. So I think that for the time being we can just not fix it. That is mark the PVC as 'lost'. In the future we can explore adding the PV's UID or delete inhibition.. lets see what @thockin says.

[2016-04-06 18:32] lavalamp commented on #23323
Is this the cache that stores changes from etcd? If so it's very wrong to remove a random element. It must be some other cache?

[2016-04-06 18:34] chrisleck commented on #23013
I have this behavior in another cluster as well - the bad node went through a reboot/upgrade cycle early this morning.  Here's the node description:

[code]

[2016-04-06 18:41] microadam commented on #23799
@lavalamp Well thats very odd! If you have it on your email, could you post it on here please (and I will update the description)? I unfortunately haven't got the error message to hand now...

[2016-04-06 18:43] #23759 closed

[2016-04-06 18:44] lavalamp commented on #23799
I took the liberty of just editing the OP.

[2016-04-06 18:44] jaags commented on #23877
Hi,
 I am get the following error. Pleas guide me from there.

[root@kube-minion1 ~]# kubelet --hostname-override=192.168.1.11
I0406 11:35:25.067814    8482 plugins.go:71] No cloud provider specified.
I0406 11:35:25.067991    8482 manager.go:128] cAdvisor running in container: "/"
I0406 11:35:25.271810    8482 fs.go:108] Filesystem partitions: map[docker-253:0-205457246-pool:{mountpoint: major:7 m

[2016-04-06 18:45] microadam commented on #23920
@zhb I got an email notification with you asking for the output of `ip route`, but your message seems to have gone now? The output is this:

[code]

[2016-04-06 18:47] david-mcmahon commented on #23070
For now the workaround here is to ensure that the first PR that enables a feature contain the appropriate `release-note-*` label.  https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/release-notes.md#caveats--considerations

[2016-04-06 18:48] smarterclayton commented on #16448
I'd rather fix services and pods by being explicit via downward api.

On Wed, Apr 6, 2016 at 8:46 AM, David Eads <notifications@github.com> wrote:

[2016-04-06 18:49] pmorie commented on #20870
@pweil- sounds like you would be in favor of a seccomp profile resource that can be referenced in a container security context, with policy controlling:

1.  Who can create/update profiles
2.  Who can reference which profiles by name

I think if we have a profile resource, that resource should have a rich model of syscall/action etc like OCI, and in what I articulated above, I don't think a fine-g

[2016-04-06 18:49] david-mcmahon commented on #20690
The only doc this issue caused problems with was cherry-picks.md and that doc has now been generalized and no longer needs hand-holding per release.

[2016-04-06 18:49] #20690 closed

[2016-04-06 18:49] mikedanese commented on #23013
Do you have any failed or succedded pods on those nodes? are you using Job resource for anything? you can see them when you run kubectl get pod -o wide --show-all.

#23463 adds an event that should give us insight into where these pods are getting caught up.

I also opened #23929 which looks like a bug.

[2016-04-06 18:52] microadam commented on #23799
thanks a lot! Not sure what happened there!

[2016-04-06 18:53] ixdy commented on #20161
We need to revisit this. Apparently the storage.cloud.google.com redirects to the storage browser were an unintended undocumented feature, and it's been disabled. But we can't just redirect everything to `https://console.developers.google.com/storage/browser`, either, for the reason I noted in https://github.com/kubernetes/kubernetes/issues/20161#issuecomment-175296750.

@thockin how advanced is t

[2016-04-06 18:55] dagnello opened #23932 "Add vSphere support to Cloud Providers"
This issue will track work associated with adding vSphere cloud provider support in Kubernetes.

[2016-04-06 18:57] gmarek commented on #19681
As it's caused by the Docker problem and it should be fixed when we start using Docker 1.10 I'm removing flake label. @dchen1107

[2016-04-06 19:07] dchen1107 commented on #21523
I am closing this issue for now. We are going to switch to docker 1.10, which should contain fix for this bug claimed by docker. Also the cluster team is working on to switch to cni solution for ip allocation, so that soon we will remove the dependency here. cc/ @freehan

[2016-04-06 19:07] #21523 closed

[2016-04-06 19:19] haneefkassam commented on #11852
I'm running into this problem as well, on a virtualbox ubuntu14.04 3GB RAM vm.  It seems to be occuring on branch `release-1.2`.  When I switch to `release-1.1`, the build works fine. Go1.5.3 installed and passing `KUBERNETES_CONTRIB=mesos` to make command.

[2016-04-06 19:19] eparis commented on #18774
To work with godeps and kube you basically need to do:
[code]
That should get both your $GOPATH and the stuff in Godep/_workspace 'the same'. and should let you do your own builds without using the hack/ scripts, as it seems you are trying to do.

[2016-04-06 19:25] chrisleck commented on #23013
Lots of happy pods on these nodes, driven from RCs and Deployments.  I'm
not using Jobs at all yet.
On Apr 6, 2016 11:51 AM, "Mike Danese" <notifications@github.com> wrote:

[2016-04-06 19:25] kelseyhightower opened #23933 "kube-up.sh on GCE: 503 Backend Error"
When running kube-up.sh on GCE users have been running into the following error:

[code]

I figured this maybe a permissions issue so I used a personal account to login to GCE from the VM I was running kube-up.sh

[code]

Then I reran the kube-up.sh command and it seems to be working now. Maybe something up with permissions between service accounts and cloud storage?

[code]

[2016-04-06 19:30] sjpotter commented on #23765
@kubernetes/autoscaling anyone?

[2016-04-06 19:46] david-mcmahon commented on #20946
There are [two items](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/releasing.md#manual-tasks-for-new-release-series) here:

1. Update latestReleaseBranch in mungedocs.go - This is done automatically as part of the upcoming release automation now.  I'll ref this issue when things finally land in kubernetes/release.
1. Jenkins config updates are handled by the test team. (cc: @ixd

[2016-04-06 19:51] saad-ali commented on #21138
Re-opening this instead of creating a new issue.

`kubernetes-e2e-gce` test suite is still hitting "Build timed out" fairly frequently which ends up blocking the merge-queue.

Examples from the last couple of days:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/14349/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/14326/
* h

[2016-04-06 19:54] david-mcmahon commented on #19312
Several open issues are related or already fixed by the pending new tooling.

- [ ] #16529
- [ ] #20946
- [ ] #20562
- [ ] #19966
- [ ] #19174
- [ ] #16937
- [ ] #16529

[2016-04-06 19:58] mml commented on #23461
[Another one](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/14348) failing with the apiserver just disappearing.  I see no evidence on the server logs that anything went wrong.

[code]

[2016-04-06 20:03] balopat commented on #23599
I managed to build a docker multinode image behind the proxy, so I could try it with 1.2.1, and **I confirm that the job creation works in 1.2.1.** Thank you!

[2016-04-06 20:12] pweil- commented on #20870
Yes, agree.

[2016-04-06 20:12] microadam commented on #23920
Just to say, I can get this to work if I set `hostNetwork: true` on the pod, but that then exposes all of the ports in the pod to the host network, where as I only want one specific port (80) to be exposed

[2016-04-06 20:13] ixdy commented on #23915
Once #23808 merges, we lose support for building on Go <1.5, so yes, we probably should
- [ ] explicitly decide to break support building Kubernetes for Go <1.5
- [ ] update `hack/lib/golang.sh` and any other refs to require Go 1.5+ (really Go 1.6+, since I don't think we'll ever support 1.5, x-ref #20656)

I'm not sure who can decide that ratcheting to Go 1.5+ is clear to proceed.

[2016-04-06 20:16] bgrant0607 commented on #23013
cc @mml

[2016-04-06 20:20] yifan-gu commented on #23657
@bprashanth @sjpotter So I did another experiment, I spin up two clusters, one with kubenet + configureCBR0=true, one with kubenet + configureCBR0=false
In the first cluster(configureCBR0=true), service IP is reachable.
In the second cluster(configureCBR0=false), service IP is not reachable.

I compared the iptables-save result, and find there is one rule doesn't appear in the second cluster's nod

[2016-04-06 20:21] balopat commented on #20514
After looking into it, it is the proxy in my case too, curl returns the 7 exit code.
Just to try it out, I managed to hack together a version of the hyperkube image which works.

1.I passed in the proxy details as **env**  in both a/cluster/images/hyperkube/master-multi.json and a/cluster/images/hyperkube/master.json
[code]
2.I hacked the curl make use of -k (insecure) in make_cacert
[code]

After

[2016-04-06 20:21] #23471 closed

[2016-04-06 20:21] mikedanese commented on #23471
That's a bullet in #23233 so we can track it there

[2016-04-06 20:25] saad-ali commented on #21367
This test (`[k8s.io] Pods should be submitted and removed [Conformance]`) is failing fairly regularly as part of the `kubernetes-e2e-gce` test suite and blocking the merge queue.

Example failures over the last couple days:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/14350/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/1

[2016-04-06 20:30] bprashanth commented on #23657
Then kubenet isn't including the masquerade rule: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container_bridge.go#L145, that's essentially natting traffic not destined for the 10-dot space. Given that it's a known range piped through a flag to the kubelet I'm not sure it needs to be hidden behind configure-cbr0.

Can you add it yourself and confirm there isn't something else b

[2016-04-06 20:32] yifan-gu commented on #23657
@bprashanth I tried that, then the service IP is reachable from the host, but still not reachable inside a pod.

[2016-04-06 20:36] freehan commented on #23657
hmm interesting... That should not matter tough...
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L286

[2016-04-06 20:38] yifan-gu commented on #23657
@freehan I manually commented out this piece to force configureCBR0=true in the first cluster for testing.

[2016-04-06 20:44] fgrzadkowski commented on #23765
@piosz @mwielgus

[2016-04-06 20:46] paralin commented on #22693
Downstream we're working on ways to deploy Origin under Kubernetes automatically.

I have this almost completely done with the openshift_under_kubernetes project, but eventually it will become part of OpenShift itself.

For now I'm going to close this because OpenShift is probably going to become something downstream, not an example here, pretty soon.

[2016-04-06 20:46] #22693 closed

[2016-04-06 20:47] wojtek-t commented on #23323
@lavalamp - no, it's a different cache

[2016-04-06 20:47] wojtek-t commented on #23323
this cache was already added before 1.0 release

[2016-04-06 20:48] mbhinder commented on #23932
Don't we already have ```export KUBERNETES_PROVIDER=vsphere; cluster/kube-up.sh```? That didn't work for me because of #23850 and even after fixing the image to include curl, it failed because `kube-addons` didn't run.

[2016-04-06 20:51] mbhinder commented on #23933
@kelseyhightower I ran into this as well and  filed #23926 describing a workaround:

Add the following to `$HOME/.boto`:
[code]

[2016-04-06 21:23] rata commented on #13748
@Arjun2016: yes, the workaround (that I know of) is to use secrets. You can define a secret that has the credentials for the DB (user/pass) and also the hostname there

[2016-04-06 21:28] fgrzadkowski opened #23942 "Allow changing heapster service address in HPA controller"
Currently heapster service is hardcoded:

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/metrics/metrics_client.go#L38

We should make it a flag to HPA controller to address use-cases where people might want to run heapster elsewhere.

[2016-04-06 21:29] dcbw commented on #23657
kubenet sends "IpMasq": true to CNI's bridge plugin, but it appears that's not quite equivalent to what Kubernetes is doing, as it'll just set up NAT for the pod's IP instead of a whole 10.0.0.0/8 range.

[2016-04-06 21:37] aaronlevy opened #23944 "rkt: Support per-pod stage1-image"
It would be useful to be able to set the rkt stage1-image on a per-pod basis (overriding the global `--rkt-stage1-image` flag on the kubelet).

A example use-case would be using the [rkt-fly stage1](https://coreos.com/rkt/docs/latest/running-fly-stage1.html) when running a self-hosted kubelet, while using the global stage1 for all other pods.

One option might be to use annotations on the pod whic

[2016-04-06 21:49] caesarxuchao commented on #23799
@microadam, could you paste the returned output at "server-ip:port/api" and "server-ip:port/apis"?

[2016-04-06 21:56] saad-ali commented on #21367
More failures:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/14352/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/14353/

[2016-04-06 21:56] wojtek-t commented on #20656
@rsc @lavalamp @ixdy - FYI

Yesteday we upgraded to Go 1.6 and from performance perspective we don't see any issues.
Since problems with Go 1.5 are kind of "by design" and we don't observe them with Go 1.6, I think that we should just close this issue. Thoughts?

[2016-04-06 21:59] yifan-gu commented on #23944
@bgrant0607 This raises the question about how can we add some runtime specific options to the pod spec effectively?

[2016-04-06 22:02] hongchaodeng commented on #23915
From my perspective, requiring >= Go 1.5 is clear.

We have 3 months before 1.3 release. It gives community enough time to fix any issues we observe. It's unwise if we stick to go 1.4 for a release cycle.

Not only etcd, but also other issues that wants http2, vendoring would like to do more work with Go 1.6.

Giving it a few days to see things get stable is pretty reasonable.

[2016-04-06 22:06] jayunit100 opened #23947 "hack/build-go.sh is too forgiving w/ weird targets."
Problem:

`hack/build-go.sh` accepts any weird argument, like  `hack/build-go.sh test/e2e/blahblahblah`.  This confuses the usability, making it seem like we need to specify a file name, without actually verifying that the filename target means anything.

Example:

Obviously "blahblahblah" is not a build target anyone might mistakenly create, but realistically, as a user, if i do something that is

[2016-04-06 22:10] spiffxp commented on #23913
thanks for opening @jayunit100, concrete use case I had in mind is verifying that all schedulable nodes are homogenous for density, ref #23710

[2016-04-06 22:15] hongchaodeng commented on #23915
I know some redhat folks want to deal with specifically GC in apiserver and connection reuse with Go 1.6.

[2016-04-06 22:15] jmartin127 commented on #18174
+1

[2016-04-06 22:25] jayunit100 opened #23950 "50% of Node tests fail on hack/local-up-cluster"
Hi @kubernetes/sig-node ! Ok, got the node tests running locally thanks to help from you guys during hack day.  Just a quick brain dump, this may or may not be a big deal :)

I build the binary :

[code]

And then i ran the test suite using these args...

[code]

... And Here's the results.  I ran this as root...

[code]

[2016-04-06 22:25] jayunit100 commented on #23950
cc @timothysc

[2016-04-06 22:27] saad-ali opened #23952 "e2e flake: `Generated release_1_2 clientset should create pods, delete pods, watch pods` with "Failed to observe pod deletion""
The e2e test `Generated release_1_2 clientset should create pods, delete pods, watch pods` is flaky. It often fails with the error `Failed to observe pod deletion` in the `kubernetes-e2e-gce` test suite.

Sample failures:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/14347/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/143

[2016-04-06 22:28] lavalamp commented on #20656
SGTM

[2016-04-06 22:28] #20656 closed

[2016-04-06 22:30] nikhiljindal commented on #23952
cc @caesarxuchao

[2016-04-06 22:30] vishh commented on #23950
cc @pwittrock
 `make test_e2e_node` works for me though.

[2016-04-06 22:32] jayunit100 commented on #23950
could be a setup issue in local-up...  if something is fundamentally wrong, maybe we can catch it in a `BeforeEach` and abort.

[2016-04-06 22:41] rata commented on #13748
I think there is a valid use case for using CNAMEs. For example, as already said here, if you control the other end you can just have the certs in that service. I mean, let's say the service name is "svc", then if you are in the default ns and "cluster.local" cluster, then you can add a cert for "svc.default.cluster.local" in the remote host the service points to, and be done with it. And there ar

[2016-04-06 22:47] #23011 closed

[2016-04-06 22:50] rata commented on #13748
Having a CNAME also makes possible to use remote endpoints for local development. Like, I need to use a service named "svc" and while working locally I don't want/can to have it on my PC. Then, I can just create a "svc" service in my local k8s that is a CNAME to the service in staging or somewhere else and use it.

When I deploy the application, of course, the real instance will be used. But havin

[2016-04-06 22:59] #23659 closed

[2016-04-06 23:00] fejta commented on #22190
@jlowdermilk didn't you fix this?

[2016-04-06 23:08] pwittrock commented on #23878
Duplicate of #23873.

tl;dr: jenkins wasn't correctly flushing configs to disk and things broke when it restarted.

Marking as fixed

[2016-04-06 23:08] #23878 closed

[2016-04-06 23:14] aviral26 commented on #23933
That seems to work for me too.

(Original question : http://stackoverflow.com/questions/36415321/launching-kubernetes-multi-zone-cluster-service-unavailable-503-backend-error)

[2016-04-06 23:19] jlowdermilk commented on #22190
No, I added retry in the gcloud cli, this is in the go generated client library. It does looks like there was a fix [upstream](https://github.com/GoogleCloudPlatform/gcloud-golang/commit/f95c875f2894b735501920cce2ab858f2110b23a) that we pulled in, so we can close this. Buildcop can reopen if new occurrences are found.

[2016-04-06 23:21] dchen1107 opened #23954 "Dedicate a soaking cluster in gce Jenkins project to node team"
We, node team needs a separate soaking cluster to validate a lot of features which is not pushed into upstream yet. For example,
- Validating docker new release. Based on our previous validating experience, tons of docker issues are found at soaking stage. Currently there is no good way to do it without pushing the changes to upstream.
- Validate a new image with different kernel config.

cc/ @kub

[2016-04-06 23:23] dchen1107 commented on #23954
cc/ @kubernetes/goog-node

[2016-04-06 23:29] andyzheng0831 opened #23956 "Kubelet's logic of checking docker running in host does not work in systemd distro"
I notice that kubelet does not create "/docker-daemon" cgroup if docker is managed by systemd, because the function isProcessRunningInHost call (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/container_manager_linux.go#L448) returns false. As a result, test cases in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_perf.go will all fail. This isProcessRunni

[2016-04-06 23:32] spxtr opened #23957 "kubernetes-e2e-aws test failures"
It looks like all `EmptyDir volumes` and `Horizontal pod autoscaling` tests are failing each run on kubernetes-e2e-aws. See, for example, [this run](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-aws/194/).

cc @justinsb

[2016-04-06 23:33] vishh commented on #1615
@yifan-gu All the containers would be part of the host pid namespace?

[2016-04-06 23:38] vishh commented on #23956
Never ending struggle with systemd :disappointed:

If docker is managed by systemd, there is no need for the kubelet to move it around. Kubelet will auto-discover docker daemon's cgroups.

The reason for going with mount ns is that as of now docker can be run inside a container and one can skip all namespaces, but not the mount namespace when running inside a docker container. I don't think we can

[2016-04-06 23:40] vishh commented on #23956
Don't set `--runtime-cgroups` flag in kubelet (default behavior) and it should all just work. Closing this issue as working as intended. Feel free to re-open if you have any other issues.

[2016-04-06 23:40] dchen1107 commented on #23956
Looks like a regression caused by https://github.com/kubernetes/kubernetes/pull/20671. But I believe this is workaround to solve this issue by using proper flag.

[2016-04-06 23:42] dchen1107 commented on #23956
Ahh, @vishh Just provided you the workaround above. ;-)

[2016-04-06 23:42] andyzheng0831 commented on #23956
Will skipping "--runtime-cgroups" flag have any sideeffect in kubelet functionality? And this will make our stuff pass the kubelet_perf tests?

[2016-04-06 23:48] caesarxuchao commented on #23952
The pod is deleted with grace-period=30, but there is no guarantee that the pod is going to be deleted from etcd in 30s, thus the flake.

This piece of test is copied from the pod e2e test: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/pods.go#L380. In that test, the timeout is actually larger than 30s, because there is some extra logic (< 30s) between the time when a deletion is r

[2016-04-06 23:50] uruddarraju commented on #23831
The gist of the problem is that, there is no way we can modify a webservice with more routes and storages once it is installed. So we have to delete and reinstall the webservice with all the right things whenever a new thirdpartyresource is to be installed. But the removal of the webservice from the container is leaving some trails in the ServeMux.m map, which is a map of routes to handler functio

[2016-04-06 23:51] uruddarraju commented on #23831
I will try to reproduce it with a simple http application using go-restful and will file an issue if I am able to reproduce the issue.

[2016-04-06 23:52] mml commented on #23461
So #23842 is my approach to the gcloud problem.  For the mysteriously disappearing apiserver problem, I am going to run a loop overnight that just brings up and tears down an e2e cluster over and over again hoping to replicate.  The loop will stop if 'up' fails, and hopefully I'll better be able to debug the half finished cluster since nothing will tear it down.

[2016-04-06 23:54] pwittrock commented on #23950
Looking at this

[2016-04-06 23:56] vishh commented on #23956
kubelet perf tests are using [old stats apis](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_stats.go#L450). They need to be ported over to use the summary API. I'd recommend filing an issue for making the kubelet_perf.go tests be more compatible with other distros/setups.
cc @yujuhong

[2016-04-07 00:00] andyzheng0831 commented on #23956
I am removing the "--runtime-cgroups" kubelet flag and run e2e tests to see if any new problems happen. @vishh based your understanding, does unsetting this flag cause any problem such as affecting any functionality? Just to double confirm in addition to running e2e.

I will file a new issue about making kubelet_perf tests better

[2016-04-07 00:00] jayunit100 commented on #23950
Ok don't read to deep, this is a first pass and it may not be a bug. Just wanted to put the issue up, as a prelude to docs updates

[2016-04-07 00:05] dchen1107 opened #23961 "Update kubelet perf tests using the new metrics API"
Forked from https://github.com/kubernetes/kubernetes/issues/23956#issuecomment-206625651

kubelet perf tests are using old stats apis. They need to be ported over to use the summary API. We should fix this.

cc/ @kubernetes/goog-node

[2016-04-07 00:06] vsimon commented on #23933
As one of the users hitting this issue, the workaround from @mbhinder got GCE kube-up working again.

[2016-04-07 00:13] pwittrock commented on #23950
One thing I think we will need is to change the node-name flag to 127.0.0.1 `--node-name="127.0.0.1"`.  If you do `kubectl get nodes` with the local cluster, it doesn't match the hostname.   The in-test bootstrap manually supplies the node name to ensure it matches what we put in the config.  I am still seeing some other issues that I am looking at.

[2016-04-07 00:27] thockin commented on #13748
I am revisiting some DNS related issues that haven't gotten much love lately.

I agree that there is a real issue here, but I am not sure it's just one use case.  If I may summarize:

Goal: Re-expose an external _DNS_name_ (as opposed to an IP, e.g. RDS, ELB) as an internal DNS name
  a) do we need to map an internal name to multiple external names?
  b) do these internal names need to be the same

[2016-04-07 00:28] thockin commented on #13358
Is this a dup of #13748  - it's pretty darn close - can we flatten them?

[2016-04-07 00:29] cjcullen opened #23964 "kubectl ModifyConfig doesn't prevent concurrent access"
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/config/config.go#L193

If multiple kubectl's run `kubectl set ...` at the same time, they might leave the file in a bad state. This is probably an edge case now, but if some of the ideas from #23066 get implemented, it could be a slightly worse problem.

@jlowdermilk @deads2k

[2016-04-07 00:42] saad-ali commented on #23924
CC @rootfs @kubernetes/rh-storage

[2016-04-07 00:56] AdoHe commented on #23964
/cc

[2016-04-07 00:57] smarterclayton commented on #13748
Is there a case where I want a service name *and* pods to endpoints via a selector?  Where the hypothetical endpoints DNS could be used by an *external* integrator to identify where to send traffic?  Ie we CNAME db to a proxy (that I set up on the fly).  The proxy uses DNS for its membership (via endpoints or just the normal API).  The ref points to an external name.  Clients inside the cluster hi

[2016-04-07 00:59] rootfs commented on #23924
`modprobe rbd` failure is the problem. What kubelet container image you are using? can you install `modprobe` in your image?

[2016-04-07 01:00] saad-ali commented on #23905
`conformance-test.sh` no longer exists. Closing issue.

[2016-04-07 01:00] #23905 closed

[2016-04-07 01:04] rootfs commented on #16405
can this be implemented using flexvolume? @therc

[2016-04-07 01:10] saad-ali commented on #23877
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-04-07 01:10] #23877 closed

[2016-04-07 01:19] fejta commented on #23879
@ixdy this looks like a repeat of https://github.com/kubernetes/kubernetes/issues/23200

[code]

The result is jenkins takes half an hour to start unit testing:

[code]

[2016-04-07 01:23] rata commented on #13748
On Wed, Apr 06, 2016 at 05:28:34PM -0700, Tim Hockin wrote:

No, just one. Why would it be more? I don't see a case where it makes sense

I'd say "yes" here. The idea is to use an Amazon RDS db as an internal thing to
the cluster, for example. So the idea is to use them without any difference.

There is no way to make TLS work in all cases except with a proxy, I think. So,
regarding a DNS NAME as

[2016-04-07 01:40] bprashanth opened #23967 "Iptables sporadically errs out on master"
It is weird. This failure:

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22989/kubernetes-pull-build-test-e2e-gce/32669/artifacts/e2e-gce-builder-2-0-master/
https://github.com/kubernetes/kubernetes/pull/22989#issuecomment-196846864

happened because the apiserver didn't come up in 300s, which happened because:

[code]

So essentially the Kubelet never setup cbr

[2016-04-07 01:42] bprashanth commented on #20916
Im putting the reason this was re-opened down to: infra weirdness.
Out of the last 2 prs that were linked against this:

https://github.com/kubernetes/kubernetes/issues/22933 failed because of:
[code]
which has an associated internal bug, and is not this issue.

This last failure is the only one concerning, for which I've forked https://github.com/kubernetes/kubernetes/issues/23967

[2016-04-07 01:42] #20916 closed

[2016-04-07 01:51] bprashanth commented on #23967
Actually how did this happen? it must've been a spurious docker restart (because we only pkill docker after configuring iptables rules, which is failing).

Also I noticed it was failing in the same way on all nodes, so not sure what's going on at this point. Maybe it was a real kubelet bug that we fixed (but iptables exiting with 2 is indicative of, eg, wrong formatting of rules and we haven't tou

[2016-04-07 02:00] roberthbailey commented on #23888
This was resolved on the GKE side around noon today.

[2016-04-07 02:00] #23888 closed

[2016-04-07 02:02] fankangbest commented on #18949
Using the keyring with 'keyring: "/etc/ceph/ceph.client.admin.keyring" ' only works fine. If you use secretRef, b.Secret (in /pkg/volume/rbd/rbd_util.go:AttachDisk frunction "--key="+b.Secret) is not right. However I don't know why.

[2016-04-07 02:06] fejta commented on #21138
Looks like we are getting throttled (could be cpu, disk or network):

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/14323/consoleFull

[code]

[code]

Here is a happy case - http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/14359/consoleFull

[code]

So by math we need: 10m to up and down, 10m to test, 5m to download, giving us a 25m runtime, doubling this should put us at 50

[2016-04-07 02:12] therc commented on #23587
@Hui-Zhi I'm almost done with the design doc. I'll send it out tomorrow. You're right that `--device` is needed. That's the most invasive set of changes. I refer to my work as v0, as it involves few changes to the Kubernetes daemons and keeps most of the new code in external ones. Your work is v1, where the scheduling and runtime configuration are more sophisticated and robust, plus they live insi

[2016-04-07 02:15] therc commented on #19049
I think there might be some resistance to linking in new code, especially if it's large (is it? I haven't checked) and very few users will take advantage of it. In my v0 proposal, we use the dependencies in additional binaries.

[2016-04-07 02:25] jperville commented on #23924
Hi @rootfs, as explained above I am using gcr.io/google_containers/hyperkube-amd64:v1.2.1 as kubelet image and there was no modprobe installed inside so I manually ran `apt-get update && apt-get install kmod` but still same error hence this issue.

I'm not sure if /sbin is in the path so I will try symlinking in a few hours when I wake up.

[2016-04-07 02:27] fejta commented on #23545
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-slow/2467/console

[2016-04-07 02:31] fejta commented on #23545
@gmarek @jlowdermilk @ixdy the core problem is that we are overloading the jenkins master. We need to start running jobs on slaves.

[2016-04-07 03:05] pwittrock opened #23971 "Nod e2e container runtime conformance test fails with pod in pending"
@Random-Liu

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23939/node-pull-build-e2e-test/746

https://00e9e64bacca7ba29cee6fc0ccd1e9e17c1fdbbf3d8a4e1387-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F23939%2Fnode-pull-build-e2e-test%2F746%2Fbuild-log.txt?qk=AD5uMEs928xKx-BPYkvCpQ8WNAseGNSsZmUpDPKAxOf-bjbzkq_GkZ

[2016-04-07 03:24] onorua commented on #1615
@vishh if POD "pause" will be doing "init" function, doesn't it mean that "pause" process will try to take over processes supposed to be taken by host init already due to host pid namespace, which may cause unpredictable behavior as a result?

[2016-04-07 03:41] jlowdermilk commented on #23545
I think it's a combination of jenkins master overloading and GCE changes that made metadataserver a bit more flaky under load. Next week's release should see some improvement but we still need to run jobs on slaves.

[2016-04-07 03:41] AdoHe commented on #23551
Also the define of nodePort is:
[code]
it's impossible to distinguish  unset from Go default for nodePort.

[2016-04-07 03:47] thockin commented on #13748
On Wed, Apr 6, 2016 at 6:24 PM, rata <notifications@github.com> wrote:

I assume so, too, but I want to see if others have different requirements.

I also agree.

Good.

Like it or not, Service has become something of a nexus of
miscellaneous features related to networking.  We need a way to
restrict the matrix of these features.  Concretely, a Service that
wants to be a CNAME can not *also* have

[2016-04-07 03:49] thockin commented on #23551
That's easy enough to change, though.  Will that fix this issue?

On Wed, Apr 6, 2016 at 8:42 PM, TonyAdo <notifications@github.com> wrote:

[2016-04-07 03:50] smarterclayton commented on #13748
Re: external services I'd say 5-10% of production services I know of
are set up like that (external managed endpoints, no selector)

[2016-04-07 04:18] saad-ali commented on #23796
You need to specify subcommand [`generic`](http://kubernetes.io/docs/user-guide/kubectl/kubectl_create_secret_generic/) or [`docker-registry`](http://kubernetes.io/docs/user-guide/kubectl/kubectl_create_secret_docker-registry/). See http://kubernetes.io/docs/user-guide/kubectl/kubectl_create_secret/

For example: `kubectl create secret generic my-secret --from-literal=key1=supersecret`

In the fut

[2016-04-07 04:18] #23796 closed

[2016-04-07 04:21] saad-ali commented on #23780
CC @freehan

[2016-04-07 04:22] bgrant0607 commented on #23944
@aaronlevy Please explain more about what this means and why we'd want it.

cc @kubernetes/sig-node

[2016-04-07 04:30] vishh commented on #1615
I don't think we want pause to be an init and that was my point.

[2016-04-07 04:31] thockin commented on #23886
I thought that was correct from the beginning.  Someone talked me into
keeping the "try to reconnect".  I specifically remember discussing how it
might work sometimes, and how crappy that is. :)

On Wed, Apr 6, 2016 at 11:32 AM, Sami Wagiaalla <notifications@github.com>
wrote:

[2016-04-07 04:33] thockin commented on #1615
I'd be fine with pause being an init.  I am more concerned about what
happens to containers that have their own micro-init when they are not
actually pid1 any more.

On Wed, Apr 6, 2016 at 9:31 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-04-07 05:00] resouer commented on #23563
Image related is ready in #23800, except `PullImage`

[2016-04-07 05:50] kevinchee commented on #20514
Thanks @balopat, here's the workaround i used instead of rebuilding the image.

[code]
K8S_POD_EMPTY_DIR is the location of the [emptyDir](http://kubernetes.io/docs/user-guide/volumes/#emptydir) of the pod.
You can find the pod ID embedded in the container name of the setup step using
[code]
Check that the certificates are created in ${K8S_POD_EMPTY_DIR}
Then run the normal
[code]
Honestly, i am n

[2016-04-07 06:50] mikedanese commented on #21367
All these failed at the same place. It looks like the kubelet deletes a pod successfully but we never see it come down the watch. I'm seeing the same log message with each failure:
[code]

The watch client code is [here](https://github.com/kubernetes/kubernetes/blob/dae5ac482861382e18b1e7b2943b1b7f333c6a2a/test/e2e/pods.go#L376-L394). I'm thinking we need to retry if a watch breaks but it's peculi

[2016-04-07 06:56] microadam commented on #23799
Sure.

`/api`

[code]

`/apis`

[code]

[2016-04-07 07:02] davidopp opened #23972 ""kubectl drain" should optionally skip nodes with pods with local data volumes"
I'm not sure whether the option should default to true or false...

I assume the volumes to match against are HostPath and EmptyDir.

Of course https://github.com/kubernetes/kubernetes/issues/14541#issuecomment-176427996 is relevant again here; these kinds of rules should go in a centralized place eventually.

[2016-04-07 07:03] caesarxuchao commented on #21367
@mikedanese, is the pod deleted before the timeout?

[2016-04-07 07:06] caesarxuchao commented on #23952
This flake should have the same root cause as #21367.

[2016-04-07 07:09] caesarxuchao commented on #23799
Thanks @microadam. "net.alpha.kubernetes.io" has an empty preferred version and that's causing the error you reported.
Is "net.alpha.kubernetes.io" created via the thirdparty resource api? (https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/types.go#L173)

[2016-04-07 07:16] microadam commented on #23799
aha! Good spot! Yes, it was created via that API. This is the Yaml file I used to create it:

[code]

[2016-04-07 07:25] caesarxuchao commented on #23799
Thanks for the confirmation @microadam. Your configuration is correct. The preferred version is left empty by the thirdparty resource controller, while our discovery client has an assumption that the preferred version won't be empty.
I'll patch the discovery client to tolerate an empty preferred version, and will discuss with @lavalamp on if we should make a default preferred version for a thirdpa

[2016-04-07 07:26] zhouhaibing089 opened #23973 "kube-addons service failed to start on some OS distribution(Atomic as an example)"
When I kube-up a kubernetes cluster, I find that kube-addons service failed to execute on the master node due the logs below:

[code]

It shows the `mkdir .kube` failed due to the permission denied. After a search here, I see this one is very related: https://github.com/kubernetes/kubernetes/issues/17340

And the last comment mentioned it is fixed by https://github.com/kubernetes/kubernetes/pull/1

[2016-04-07 07:29] Random-Liu opened #23974 "E2e flake: ServiceAccounts should mount an API token into pods [Conformance]"
Error reason:
[code]
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23658/kubernetes-pull-build-test-e2e-gce/34668/

[2016-04-07 07:33] microadam commented on #23799
Thanks a lot @caesarxuchao! Great job on working it out :)

[2016-04-07 07:39] marcolenzo commented on #22193
@timstclair

Could we document at least the criteria used to consider probes successful?

I am using `httpGet` probes and I am working under the assumption that kubernetes is just looking at the response code and expecting 200? Is this correct?

I think a separate issue could be giving the option of configuring expectation similar to LTM monitors.

[2016-04-07 08:00] jperville commented on #23924
After installing the `kmod` package in the container, `/sbin/modprobe` is available, however there is no `/lib/modules` in the container so invoking `modprobe rbd` from the kubelet container failed; I worked around the problem by `ln -s /rootfs/lib/modules /lib/modules`.

The container creation is now stuck at another step.

[code]

This time it is the 'rbd' executable missing. After redeploying t

[2016-04-07 08:41] robertBrem commented on #17205
OK, the problem was not Ubuntu 14.04.3 LTS i think. :-)

The problem is that my hosting provider (Hetzner) does not include in eth0 in the vm. The vm is bridged. Therefore it is a problem inside the master with it's own public routable ip. This can't be resolved.
Perhaps somebody understands what I want to say :-) Im a dev and not very good in the ops field.

[2016-04-07 09:05] justincormack commented on #20870
I think people who have already written a profile for their specific application should in general apply it within the container as part of application setup on top of the default policy set by the cluster admin. The cluster policy should be for overall policies, and does not seem the right place to lock down a single application further as that needs to be in source control with the application a

[2016-04-07 09:25] anzhsoft opened #23976 "the kube-proxy cannot run on centos"
when I run the cmd:
kube-proxy --logtostderr=true --v=0 --master=http://master:8080
I0407 17:22:24.978303   17582 server.go:216] Using userspace Proxier.
F0407 17:22:24.978441   17582 server.go:232] Unable to create proxier: failed to select a host interface: Unable to select an IP.

and i have checked the etcd and flanneld, it seems that they work as expected.

very appreciated if anyone can help

[2016-04-07 09:27] AdoHe commented on #23551
for now in kubectl, we just replace spec.nodePort with modified map(which comes from input), in the api-server when we get the patch, we do replace too, if we can do some merge in kubectl, I think we can keep the nodePort in the final patch.

[2016-04-07 10:10] mrosic commented on #17209
Updated to Kubernetes 1.2.0 which solved the issue. This can be closed. :)

[2016-04-07 10:10] #17209 closed

[2016-04-07 10:32] kipotz1986 commented on #1957
+1 for consul.

[2016-04-07 10:36] jperville commented on #23924
I finally made it work by applying severak hacks:
 1. running the kubelet container with `--volume=/sbin/modprobe:/sbin/modprobe:ro --volume=/lib/modules:/lib/modules:ro --volume=/etc/ceph:/etc/ceph:rw`
 2. installing ceph-common manually in the kubelet container : `curl https://raw.githubusercontent.com/ceph/ceph/master/keys/release.asc | apt-key add - && echo deb http://download.ceph.com/debian-

[2016-04-07 10:45] ncdc commented on #21367
cc @smarterclayton

[2016-04-07 12:09] deads2k commented on #23964
Just a note if someone tries to tackle this, locking order could become a problem.  The kubeconfig is merged from a list in `$KUBECONFIG`.  If you start trying to lock files and someone has two different orders, you could deadlock.  Not a likely problem, but it could happen.

I could probably be convinced that those people get the pain they asked for.

[2016-04-07 13:10] pmorie commented on #23621
@jadhavnitind Can I see the your pod spec, the output of `kubectl get pod <pod-name> -o yaml`, and the logs of the pod that you ran?

[2016-04-07 13:11] rootfs commented on #23924
Nice hack to get it running. For step 3, what if you bind mount host /dev (i.e. -v /dev:/dev) or there is an issue with that?

[2016-04-07 13:22] jperville commented on #23924
If i bind-mount `/dev` on the host to `/dev` on the kubelet container, the kubelet container will mess up with the pts on my host, resulting in being unable to start new terminals (gnome-terminal will fail with the "getpt failed" message) and making impossible to properly shutdown my workstations.

What I finally did was to wrap the hyperkube image like this:

[code]

And then run the kubelet cont

[2016-04-07 13:26] alexkappa commented on #22063
Hi everyone, is there a way we can workaround this issue until this is developed? I'm using the `--cloud-provider=aws`, `--register-node=true` and `--register-schedulable=false` options on the master kubelet. No `--hostname-override` due to `--cloud-provider=aws` (#22984).

[2016-04-07 13:29] pmorie commented on #23874
We had at least a couple of users that had thought that they had upgraded an entire cluster but had only upgraded the master:

#23621

I worked through it with them by looking at the node information, but I agree that it might be better to surface this in the status as a condition.

[2016-04-07 14:03] rootfs commented on #23924
I hope that ptmx bug is fixed.

Is binding `/dev/rbd0` working if no rbd device is there or rbd device is created after container is up?

[2016-04-07 14:05] pmorie commented on #23924
@jperville what docker version are you using?

[2016-04-07 14:21] jperville commented on #23924
@pmorie : Using docker version 1.9.1 (cannot use 1.10 because of layer format changes that are incompatible with a tool we are using).

@rootfs : ptmx bug still here (but there is a workaround); regarding `/dev/rbd0` you are right, it works if the device already exists on the host but not if there is no device yet (docker creates an empty directory on the node, and that makes the mount fail later)

[2016-04-07 14:24] pmorie commented on #23924
@jperville Ok, the issue w/ pseudoterminals is supposed to be resolved in 1.10

[2016-04-07 14:26] rootfs commented on #23924
@jperville https://github.com/docker/docker/pull/16639

[2016-04-07 14:29] mikebrow commented on #23702
Sure.. I'll post a PR.  Don't see a good spot on the wikis for this as it currently just points to the slack domain for Kubernetes in general.  But I do see a good spot on the troubleshooting.md guide.

[2016-04-07 14:33] smarterclayton commented on #21367
If that error is from e2e, that's due to the fact that watches are being
broken by a client side timeout (which I opened a bug for).  The error
means that we took longer than 30 seconds to return an entity from a
watch.  I have a PR that switches some e2e polling to watch, which exposed
this, and I upped the timeout.

On Thu, Apr 7, 2016 at 6:45 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-04-07 14:34] smarterclayton commented on #21367
The issue that addresses e2e watches breaking AND makes them faster and
more tolerant to races is #23912

On Thu, Apr 7, 2016 at 10:33 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-04-07 14:36] smarterclayton commented on #23551
How many other fields are broken like this?  Server allocated fields that
can be reset?  externalIPs?

On Thu, Apr 7, 2016 at 5:27 AM, TonyAdo <notifications@github.com> wrote:

[2016-04-07 14:37] adohe opened #23979 "import-boss rule should support back-slash"
@lavalamp I think in the current import-boss, we can't use back-slash in rules to do some kind regex check, [https://github.com/kubernetes/kubernetes/blob/master/cmd/libs/go2idl/import-boss/generators/import_restrict.go#L214](https://github.com/kubernetes/kubernetes/blob/master/cmd/libs/go2idl/import-boss/generators/import_restrict.go#L214), I am not so sure whether we should support this, if so,

[2016-04-07 14:44] alban commented on #23692
Is there any existing Kubernetes pods with HostIPC=true without HostPID? In a [quick look on GitHub](https://github.com/search?p=2&q=hostIPC&type=Code&utf8=%E2%9C%93), HostIPC and HostPID always seem to have the same value, unless it is in k8s tests.

[2016-04-07 15:06] rata commented on #13748
On Wed, Apr 06, 2016 at 08:48:04PM -0700, Tim Hockin wrote:

Great :)

:-)

Great, then we agree on these things :)

I've been sleeping on it, and I agree with you. This, for this reasons, should
be part of the Service Kind for me too.

Thanks.

Ohh, right. Sorry, it was late at night :)

Yes, sure. I was thinking outloud if that might mean something. But, after
thinking more about it, it looks li

[2016-04-07 15:10] jperville commented on #23924
I ended up adding a wrapper into my custom hyperkube image for now.

Would adding some code to the [getDevFromImageAndPool helper ](https://github.com/kubernetes/kubernetes/blob/v1.2.1/pkg/volume/rbd/rbd_util.go#L44-L73)  to understand the `--containerized` option (passed to kubelet) help to calculate a working path (have no go knowledge sadly).

[2016-04-07 15:12] mikedanese commented on #23825
cherry pick merged

[2016-04-07 15:12] #23825 closed

[2016-04-07 15:16] rrati commented on #23394
Looking at the code and doing some experimentation has lead me to find that the culprit for those huge spikes in the replicationcontroller controller.  Looking at how that operates I found that

FullControllerResyncPeriod in pkg/controller/replication/replication_controller.go:564

Is set to the 30 second period I was seeing.  The comment implies this period is supposed to be used to resync agains

[2016-04-07 15:22] eparis commented on #20870
@justincormack I generally agree with that. Or I think it should be part of the container definition and the container engine should load a list of policies. I'm ok if there is no way to load a custom defined policy per container in the first iteration. But given the difference in trust between the operator (who sets things in kube) and the container author/image I do see where some might want tha

[2016-04-07 15:32] mikedanese commented on #21367
@ceaserxuchao yes, the step before verifies that the kubelet deleted the pod.

@smarterclayton what happens when we hit that error? how should we handle it? Is the watch completely broken at that point and needs to be recreated?

What's weird is that this test started failing regularly since 14307 (Apr 5, 2016 2:50:19 PM). Before that it had only flaked once since 3/19. In the last two days it has

[2016-04-07 15:36] pmorie commented on #20870
@justincormack I was being glib in my comment and should have said 'I know all about seccomp and know exactly what I want' instead of 'I already have it written'.  I think you raise a good point, though.  There are really probably 4 buckets of users:

1.  I don't know anything about seccomp
2.  I have heard of it, but don't know much about it
3.  I know about it and my application already uses lib

[2016-04-07 15:38] timbunce opened #23981 "Add some troubleshooting docs to the DNS addon README.md"
The [cluster/addons/dns/README.md](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/README.md) has a section for "How do I configure it?" and one for "How do I test if it is working?" which ends with "If you see that, DNS is working correctly". But what if you don't see that?

The DNS addon is one of the first that novices are likely to try to use, along with dashboard, and

[2016-04-07 15:43] zhouhaibing089 commented on #23976
I spent a little bit time to look at this, firstly, you should know where does the log come from:

1.  `Unable to create proxier`: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L232
2.  `failed to select a host interface`: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/userspace/proxier.go#L149
3.  `Unable to select an IP`: https://github.com/kub

[2016-04-07 15:47] paralin commented on #22854
We need this too in our use cases! :)

[2016-04-07 15:51] screeley44 opened #23982 "UXP: glusterfs vague volume mount error and true cause not being exposed to user via describe event"
Problem:
As part of an on-going effort to improve UX, we are addressing issues in small units with the goal to eventually expose all correct errors to users as a first step and then follow on work to then make those errors more consumable by users.  This is also related to #22992 and #23048 currently being worked in a PR.

Example:
User creates bad endpoints or incorrect server IP for glusterfs PV

[2016-04-07 15:56] sjpotter opened #23983 "e2e test: unable to change service to load balancer in GCE?"
In trying to get rktnetes off the ground we are going through all the e2e tests

I'm running the test
[code]
and it steps are

[code]
but in watching the events I see

[code]

[2016-04-07 15:58] rata commented on #22854
@paralin if it helps, as a workaround until there is an option to manage this within kubernetes, we are using services with type "NodePort". This creates a service that when you connect to any node in that port (can be auto-selected or selected manually), it is redirected to the appropriate pods (type LoadBalancer does this too).

So, we then create an ELB and attach it to the ASG. And use the por

[2016-04-07 16:01] zombor commented on #22854
This is what I'm doing as well as a "workaround". My ELBs are all managed by hand.

[2016-04-07 16:03] paralin commented on #23981
Isn't the DNS Plugin pretty much a standard part of any cluster at this point?

[2016-04-07 16:05] smarterclayton commented on #21367
The watch channel is broken yes, although that test doesn't seem to reuse
it.  I think the problem also might be that the 30 second graceful deletion
doesn't guarantee deletion in 30 seconds, it guarantees 30 + kubelet load +
network latency.  If we changed the explicit timeout for the watch channel
to 60 seconds (and verified that the hard client reset was higher, like in
my pull), it may be that

[2016-04-07 16:06] jayunit100 commented on #22701
We need to clarify what info goes in labels vs what goes in NodeSystemInfo.  From conversation w/ tim: probably NodeSystemInfo should be hardened well defined data, and labels can be used for other stuff.

[2016-04-07 16:09] pwittrock commented on #23517
I am guessing this is the issue.

<img width="305" alt="screen shot 2016-04-07 at 9 07 59 am" src="https://cloud.githubusercontent.com/assets/7882754/14358076/5459a352-fca0-11e5-96a1-612fa6d17be1.png">

[2016-04-07 16:10] paralin commented on #22854
@rata @zombor That's a problem, what if the instances die or get replaced? You need to manually update the host list.

[2016-04-07 16:11] mikedanese commented on #21367
The test start failing as soon as we merged go1.6. They started failing on Apr 5, 2016 2:50:19 PM consistently and the commit went in 20 minutes before. 4f329516ae7312420577b10ee10005bbe17c87c8 cc @spxtr @ixdy

[code]

[2016-04-07 16:12] zombor commented on #22854
Yep. This issue is for doing it automatically. What we described is a workaround if you can't use Ingress controllers for some reason.

[2016-04-07 16:15] philips commented on #23790
/cc @enisoc

[2016-04-07 16:19] bprashanth commented on #23394
// that have fulfilled their expectations at least this often. This recomputation
	// happens based on contents in local pod storage.

That's accurate. The relist of RCs is from apiserver. The relist of pods is from pod storage.

Also I think you've just inferred what the title of the bug says :)

[2016-04-07 16:24] rata commented on #22854
On Thu, Apr 07, 2016 at 09:11:13AM -0700, Christian Stewart wrote:

No. You can not select any instance when creating the ELB and go to the ASG and
attach the created ELB to it. Then, when you scale the ASG up/down, instances
will be added or removed. Sorry if it wasn't clear before.

[2016-04-07 16:26] jason-riddle commented on #23517
@pwittrock This matches the permissions I have with the following exception

[code]

[2016-04-07 16:33] pwittrock commented on #23517
That was from my GKE cluster, which also fails.  I believe the problem is the "Storage Read Only" permission.  I think there are 2 work arounds.  #1 is to manually provision the gce persistent disks as is shown in the [wordpress example](https://github.com/kubernetes/kubernetes/tree/master/examples/mysql-wordpress-pd).  I am currently working on changing the instance group template to give the nod

[2016-04-07 16:44] mikedanese commented on #21367
This is unlikely, in three of the 4 failures here https://github.com/kubernetes/kubernetes/issues/21367#issuecomment-206588666, I see the ["no pod exists with the name we were looking for"](https://github.com/kubernetes/kubernetes/blob/dae5ac482861382e18b1e7b2943b1b7f333c6a2a/test/e2e/pods.go#L372) message which indicates the kubelet successfully complete graceful termination quickly.

The ResultC

[2016-04-07 16:47] smarterclayton commented on #18519
Dupe of #9125

[2016-04-07 16:47] #18519 closed

[2016-04-07 16:55] pwittrock commented on #23517
Updating the templates didn't fix the issue.  @saad-ali do you have any updates?

[2016-04-07 16:55] smarterclayton commented on #21367
If we upped the timeout limit I don't think reusing the watch is an issue.
You may want to just up the timeout limit in the code to the value I set
(or approximately) and merge that which would potentially eliminate one
source of flakes here.  Do you have a link to a log of a run that is public
so I could look?  Are we spending X seconds before the second watch event,
such that the watch times out

[2016-04-07 16:57] lavalamp commented on #23831
Thanks for all your effort, Uday!

On Wed, Apr 6, 2016 at 4:51 PM, Uday Ruddarraju <notifications@github.com>
wrote:

[2016-04-07 17:02] lavalamp commented on #23979
Only the selector is a regexp, the allowed/forbidden sections are prefixes. Can you describe a scenario that doesn't work for?

[2016-04-07 17:09] andyzheng0831 commented on #23961
cc/ @roberthbailey @fabioy @wonderfly, the 3 failed GKE e2e test cases in our Jenkins are all due to this issue.

[2016-04-07 17:12] spiffxp commented on #23957
/cc @kubernetes/sig-testing FWIW I think the EmptyDir volumes are related to /tmp being writable (or not) per #22380 (and #22401)

[2016-04-07 17:22] smarterclayton commented on #9125
Some use cases that aren't directly metrics, but do relate to useful info that helps higher level tools:

* Capturing which pods are talking to which services
* Capturing how many active connections a service has
* Which services have had no connections in a recent window of time

[2016-04-07 17:22] roberthbailey commented on #23517
This is fixed by https://github.com/kubernetes/kubernetes/pull/23769 which has been cherry picked into the release branch and will be available once we cut the 1.2.2 release.

[2016-04-07 17:29] bprashanth commented on #23983
So just to confirm, this is random test flake and not specifically associated to rkt right?

[2016-04-07 17:30] vishh commented on #23982
cc @kubernetes/sig-storage

[2016-04-07 17:30] thockin commented on #9125
I'm 100% open to idea on how to capture stats in a reasonable way :)

On Thu, Apr 7, 2016 at 10:23 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-07 17:30] vishh commented on #23981
cc @kubernetes/sig-network

[2016-04-07 17:32] vishh commented on #23976
cc @ArtfulCoder @kubernetes/sig-network

[2016-04-07 17:36] binarybana commented on #23013
I had two clusters, both with 2 nodes, one where DaemonSets are working and one (older) where they have stopped working. Both have happy (kube-system) pods on them, both have sufficient free capacity (20ish percent cpu and memory allocated on both). Both have used Jobs in the past, but don't have any jobs atm.

I tried restarting the kube-controller-manager with no luck, and also using 1.2.1 kcm w

[2016-04-07 17:36] bprashanth commented on #23981
There are a few different ways dns can fail (can't contact apiserver, can't talk between containers in a pod so nslookup on kube2sky fails, service vips are 172 and pod ips are 10-dot and we have the wrong masq rule etc).  Some of thse a are "normal" networking setup problems that manifest as DNS. still makes sense adding a section with some links, and some troubleshooting tips.

Re: logs, you sho

[2016-04-07 17:42] swagiaal commented on #23982
@screeley44 makes sense... I understand you are planning to submit PRs to fix these issue right ? If so just go ahead an open the PR no need to open an issue before every PR especially for straight forward stuff.

[2016-04-07 17:48] caesarxuchao commented on #23799
Sent #23985 to fix.

[2016-04-07 17:51] timothysc commented on #14916
At some point we need to address the notion of how options are passed through the system.  Ideally we could create a well established pattern and leverage a single serializable set of options from the command line through to daemon invocation.

[2016-04-07 17:54] dagnello commented on #23932
@mbhinder looking in 'k8s.io/kubernetes/pkg/cloudprovider/providers/' I don't see an implementation for vSphere.

[2016-04-07 17:54] rootfs commented on #23982
the exposed error `Output: Mount failed. Please check the log file for more details.` that comes from [mount.glusterfs](
https://github.com/gluster/glusterfs/blob/master/xlators/mount/fuse/utils/mount.glusterfs.in#L299.)

In this case, when kubelet gets a bad endpoints, a sample `kubectl describe` will print out the failed mount command like the following.
[code]

The above will tell what log file

[2016-04-07 17:56] thockin commented on #13748
I think this one is a little far fetched and so difficult to do
"correctly" that we should discourage people from doing it.

DNS doesn't allow multiple CNAMEs for a reason.

On Wed, Apr 6, 2016 at 5:57 PM, Clayton Coleman
<notifications@github.com> wrote:

[2016-04-07 17:58] sjpotter commented on #23983
I don't see why it be specific to rkt, haven't tested without it though

[2016-04-07 18:01] vishh commented on #23397
FYI: RC4 is out - Linux 64bit tgz: https://test.docker.com/builds/Linux/x86_64/docker-1.11.0-rc4.tgz

[2016-04-07 18:05] jayunit100 opened #23987 "bindata for examples, docs, and testing the docs"
Kubectl.go, examples.go, and other e2e tests need the repository root.  Overall, We have ~ 30 different dependencies (`It("...")`) in the e2es referencing files from examples/ docs/ ...  This is specified via `repo-root` at the moment.

**Problem**
- This makes the shipped binary `e2e.test` unusable for `Conformance` testing,  since some Conformance specs rely on files that ship w/ kube.
-  This a

[2016-04-07 18:07] rhatdan commented on #20870
I would say the two most common use cases are going to be.

1. My app does not work with the default seccomp filters, how do I add the missing syscalls to whitelist?
2. I heard that this syscall is dangerous and my app does not use it, how do I remove it from whitelist?
3. How do I figure out which syscall is blocking my app from running?

[2016-04-07 18:09] screeley44 commented on #23982
@swagiaal - correct I plan on submitting PR's - ok, good to know, I wasn't sure correct process flow between issues/PRs and future plans and work - will move this to a PR

[2016-04-07 18:10] jayunit100 commented on #23987
This would allow us to
- easily write doc/examples validation unit tests in go
- easily reference docs in e2es unit tests (we *already* do this alot, so its nothing new) and delete "repo root" args.

[2016-04-07 18:11] freehan commented on #23780
The ES replicas is defined here: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-controller.yaml#L11

Not sure what is up with `ELASTICSEARCH_LOGGING_REPLICAS`

[2016-04-07 18:12] mikedanese commented on #23013
Can you paste the output of `kubectl get pod --all-namespaces --show-all -o wide`?

[2016-04-07 18:20] screeley44 commented on #23982
@rootfs - interesting idea, I was thinking a bit simpler as I've been going through this stuff, but similar concept that you are bringing up.  So wrt how best to make errors friendly and consumable, even helpful to users,  I was first thinking that we need to def capture the best error that is produced today, and then in the kubelet before the error is turned into an event for describe to show, ma

[2016-04-07 18:22] yissachar commented on #17219
I was able to get a little further by commenting out the lines that delete the VPC itself. Unfortunately, the script deletes all ELBs in the VPC regardless of whether they were created by Kubernetes or not. I ended up in a weird state with some resources deleted that I didn't want deleted, and some Kubernetes resources left around which I had to manually clean up.

[2016-04-07 18:23] mml commented on #23461
OK, here we go.  I was able to reproduce this and the cluster is still intact.

[code]

(I have set the TZ to match my workstation... 17:50 is the same as 00:50 UTC.)

[code]

So it does look like the apiserver was restarted at about the correct time.  And... here it is.  Our last log line at 00:50:49, and then a new process

[code]

No note of why it died, but docker was restarted at about the sa

[2016-04-07 18:31] binarybana commented on #23013
[code]
Ohhh... I think I see now, so this would be a result of #23929 thinking the nodes are full due to the completed pods? I can verify this on my other cluster by scheduling some jobs... stay tuned.

Also, if anyone has a nightly build with #23929 in there, I can test that.

[2016-04-07 18:32] smarterclayton commented on #13748
I don't think we would allow multiple CNAMEs.  Rather, you would have

db CNAME dnsname.for.proxy.server.somewhere
db.namespace.endpoints.cluster.local -> A records

Server for dnsname.for.proxy.server.somewhere would be looking at
"db.namespace.endpoints.cluster.local" to get membership (or just calling
endpoints).

This would map maybe to the LoadBalanced cluster type, except the server
itself i

[2016-04-07 18:33] mml commented on #23461
Docker is started by an init script.  After that, supervisord is started, and the docker-checker script begins by killing then restarting any running docker.  The timestamps on the files support that this happened.  This pretty much guarantees one restart close to boot time, and if that happens *after* our 300 second wait for cluster init, we may try to contact the server during the few seconds wh

[2016-04-07 18:33] deech opened #23989 "Rollout history not maintained when updated `kubectl edit`"
I have an initial deployment I created with `kubectl create -f deployments/blah.yaml --record`. When I look at the rollout history with `kubectl rollout history deployment/blah`, I see:
[code]

I then use `kubectl edit deployments/blah` and update the number of replicas. This successfully scales up/down but when I do `kubectl rollout history deployment/blah` I only see:
[code]

Manually updating t

[2016-04-07 18:35] pmorie opened #23990 "Disambiguate error messages in nsenter mounter"
Currently, there many error messages in nsenter_mount.go that do not contain any context.  This means that these messages are basically meaningless in real systems where many pods may be on a node. Examples:

[code]

...and:

[code]

Every error message in this file should identify the path that the message is in relation to.

[2016-04-07 18:36] pmorie commented on #23990
@jsafrane Can you handle this, since you most recently touched nsenter_mount.go in #23435 ?

[2016-04-07 18:45] rootfs commented on #23982
The risk with parsing glusterfs log is that we are tying kubelet to certain glusterfs release and maintain consistent reporting. The glusterfs log messages could change and kubelet may not always be able to parse correctly.

[2016-04-07 18:46] spiffxp commented on #23884
Not making a statement on what has/has-not been done, but these seem to be the high points from sig-testing's meeting notes:

- place existing e2e results into world-readable GCS buckets (per-job), provide convenient links (kubernetes/kubernetes#20161)
- make githubmunger use GCS as source of truth instead of privately-accessible jenkins (kubernetes/contrib#602)
- document the structure/format of

[2016-04-07 18:47] binarybana commented on #23013
Yup, on my working cluster I started with the two DaemonSets successfully running on both nodes, then after running some jobs I see that go down to 1 and then 0. Can I request a cherry-pick for #23929 ?

[2016-04-07 18:49] uruddarraju commented on #23831
Was able to reproduce the issue with just go-restful today, where I was able to successfully add a webservice to a container, remove it and when I add it back, I see the following issue:

[code]

I tried the example here: https://github.com/emicklei/go-restful/blob/master/examples/restful-user-resource.go. And changed the lines https://github.com/emicklei/go-restful/blob/master/examples/restful-us

[2016-04-07 18:50] mikedanese commented on #23013
https://github.com/kubernetes/kubernetes/issues/23934 :)

[2016-04-07 18:51] uruddarraju commented on #23831
This explains why a thirdparty registration followed by unregistration, cannot be registered back (Which I think is critical for us.)

[2016-04-07 18:51] spiffxp commented on #23987
/cc @davidopp @bgrant0607 ref #23105
/cc @kubernetes/examples

[2016-04-07 18:58] uruddarraju commented on #23831
@lavalamp Created an issue with go-restful: https://github.com/emicklei/go-restful/issues/274

[2016-04-07 19:04] spiffxp commented on #22499
/cc @kubernetes/sig-testing

[2016-04-07 19:07] fejta commented on #21367
Looks like a hit on
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23955/kubernetes-pull-build-test-e2e-gce/34649/

[2016-04-07 19:08] screeley44 commented on #23982
@rootfs  not sure this would fly or not, but i was thinking creating an updateable resource (similar to scc yamls) if you had proper permission (like admin) that would hold a mapping and as an error is  received into kubelet, match on that error and volume type plugin that could then produce a meaningful, even customized error/hint that would be useful for the user and could be very specific for t

[2016-04-07 19:10] andyzheng0831 commented on #23961
@dchen1107 No assignee? And should we target this for milestone 1.2?

[2016-04-07 19:10] bprashanth opened #23991 "service controller somtimes fails to realize port change"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/34714/consoleFull
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23541/kubernetes-pull-build-test-e2e-gce/34714

digging thorugh controller manager logs:

I0407 15:46:08.467574       5 servicecontroller.go:235] Got new Updated delta for service: &{TypeMeta:{Kind: APIVersion:} ObjectMet

[2016-04-07 19:15] jfrazelle commented on #20870
Agreed with @justincormack and @rhatdan, definitely no. 3 needs some
tooling for debugging, right now I will say it is not the most user
friendly experience. For no. 2 if it is really that bad we should remove it
from the default, unless its something like `open` ;)

On Thu, Apr 7, 2016 at 11:08 AM, Daniel J Walsh <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8

[2016-04-07 19:21] pwittrock commented on #23517
Great.  Thanks @roberthbailey

[2016-04-07 19:37] mml opened #23993 "flag to toggle/configure kubectl retry"
In #23461 I described how difficult it is to write automation around kubectl.  You want to check for errors at each stage, but you don't want the script to be so brittle that it only works if the apiserver is up and reachable 100% of the time.  Asking users (including ourselves) to add the retry logic in the shell does not seem correct, so I'd like to see us add retry logic (off by default if we w

[2016-04-07 19:41] yujuhong commented on #21367
@smarterclayton the logs are all public, but I believe you need to login to your google account to view them.
E.g., https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/14356/
(replace the suite and build number for other runs).
I was able to view them with my personal account.

[2016-04-07 19:41] rootfs commented on #23982
The hint idea is interesting. Do we build the diagnostic knowledge database?

[2016-04-07 19:42] yujuhong commented on #23961
I will work on it this week.

[2016-04-07 20:00] dchen1107 commented on #23961
No need to target for milestone 1.2. New Kubelet metrics API is still in alpha, and the old ones are not deprecated yet. Also this is a cleanup task, and it is not the root cause of your issue:  #23956

[2016-04-07 20:02] dchen1107 commented on #23961
UPDATE: The test itself is hard-coded with docker's cgroup path. We should fix that as soon as possible.

[2016-04-07 20:09] philips commented on #23944
@bgrant0607 Two use cases:

- Have rkt use [kvm isolation](https://coreos.com/blog/rkt-0.8-with-new-vm-support/) instead of namespace/cgroups
- Have rkt use [less isolation](https://coreos.com/rkt/docs/latest/running-fly-stage1.html), essentially just a chroot, for running really privileged stuff like the kubelet

[2016-04-07 20:11] andyzheng0831 commented on #23961
The root cause is that cgroup "docker-daemon" is hard-coded in the kubelet_perf.go. But as https://github.com/kubernetes/kubernetes/issues/23956#issuecomment-206622011, this cgroup should not be created when systemd manages docker. Clean up this part should be enough for our testing.

[2016-04-07 20:12] smarterclayton commented on #21367
[code]

The issue here is that it takes 28s to start the pod, expending all but 2s of the client side timeout enforced in test/e2e/util.go in loadClientFromConfig (singleCallTimeout=30s).  We then delete the pod, expecting it to take up to 30s, but the watch terminates 2s (or less) later because of the client timeout, causing us to miss the pod.

We should up singleCallTimeout anyway, fix the fact

[2016-04-07 20:13] hongchaodeng commented on #22448
Submitted a PR of TTL in https://github.com/kubernetes/kubernetes/pull/23995

We can do some parallel review and collect feedback early.

[2016-04-07 20:25] thockin commented on #20161
I can do semi-arbitrary regex-based redirects.  That includes sub-paths.  Can you be more specific about what we want and for which of these two URLs?

[2016-04-07 20:27] luxas commented on #22039
I think this may be closed.
Golang 1.6 is merged and the work of getting ppc64le in happens in #23931, #23697, #21617 and some other places as well

[2016-04-07 20:30] ixdy commented on #20161
OK, great. What I think we want:
* `ci-test.k8s.io/(.*)`
  * if `$1` ends in `/`, redirect to `https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/$1`
  * else redirect to `https://storage.cloud.google.com/kubernetes-jenkins/logs/$1`
* `pr-test.k8s.io/(.*)`
  * if `$1` ends in `/`, redirect to `https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-lo

[2016-04-07 20:33] sjpotter commented on #23961
this also impacts rktnetes, working around it by forcing it to think its not on gce/gke so it only uses / cgroup as don't have any other other static cgroups it is looking for

[2016-04-07 20:38] thockin commented on #20161
puke.  The trailing / is strictly optional in a URL, isn't it?  Is there no better pattern to match or backend to hit that can unify or maybe give  permissions to browse https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/ directories?

[2016-04-07 20:45] ixdy commented on #20161
The only other way I can think of to determine whether to redirect to the browser or to the GCS frontend (storage.cloud.google.com) is to try the path on the GCS frontend and see if it 404s, but that's probably out of scope for the redirector.

I also just opened kubernetes/contrib#734 to suggest creating a web interface to eliminate our dependency on the storage browser entirely.

[2016-04-07 20:57] spxtr commented on #22039
We're still working on incorporating some of 1.6's new features, such as improved cross-compilation and vendoring, but I think this can be closed in favor of more specific issues.

[2016-04-07 20:57] #22039 closed

[2016-04-07 21:01] dchen1107 commented on #23956
Question: Why we spot such issue so late? Shouldn't test failed since day one to run?

[2016-04-07 21:05] jlowdermilk commented on #23952
ETA on fix? This is the most frequent cause of test flakes and submit queue blockage.

[2016-04-07 21:06] andyzheng0831 commented on #23956
The failed three tests are
- Kubelet [Serial] [Slow] regular resource usage tracking for 35 pods per node over 20m0s
- Kubelet [Serial] [Slow] regular resource usage tracking for 100 pods per node over 20m0s
- Kubelet [Serial] [Slow] regular resource usage tracking for 0 pods per node over 20m0s

They are only run in GKE tests. In our k8s release and slow Jenkins, these three tests are filtered. U

[2016-04-07 21:09] dchen1107 commented on #23956
Why those tests are only run in GKE tests? Shouldn't they are included for regular GCE test suites too? I thought you guys test the image on top of GCE too.

[2016-04-07 21:11] felipejfc opened #23997 "Deploy HA Master cluster (e.g. cluster with 3 master) using get.k8s.io"
This feature would be awesome!

Do we have plan for doing that?

Regards

[2016-04-07 21:14] quinton-hoole commented on #23461
Awesome debugging @mml.  Thanks!

[2016-04-07 21:15] quinton-hoole commented on #23461
@mml I wonder whether we upgraded to a new docker version at the time when this failure rate increased so markedly?

[2016-04-07 21:15] mikedanese commented on #21367
I'm not entirely convinced this is a test issue. This went from very stable to very flakey when we bumped the go version which indicates some sort of regression. I think this is worth investigating further but as a temporary fix, I have submitted #23999 which I'm testing now

[2016-04-07 21:16] dchen1107 commented on #23961
Ok, since we decided to have a patch release including #23996, we need to address this very test issue for 1.2 too. cc/ @roberthbailey

[2016-04-07 21:18] caesarxuchao commented on #23952
@mikedanese sent out https://github.com/kubernetes/kubernetes/pull/23999 as a temporary fix.

[2016-04-07 21:21] andyzheng0831 commented on #23956
We have forked a part of GCE and GKE based Jenkins jobs. For whatever we folk, we used the same Jenkins configuration as ContainerVM. If you check https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e.yaml, you will see these three tests are only run in the gce-serial and gke-serial. More Jenkins jobs against ContainerVM also do not run the

[2016-04-07 21:22] janetkuo commented on #23378
@kubernetes/kubectl

[2016-04-07 21:26] wonderfly commented on #23956
We didn't replicate all e2e tests, for 1) some of them were not considered _critical_ (like disruptive and feature tests), and 2) the e2e test framework, Jenkins configs, and tests themselves changed rapidly and we were often left behind.

That said, we are planning to run as many tests against Trusty as we do for ContainerVM. We have an internal bug tracking this.

[2016-04-07 21:28] felipejfc commented on #23479
@rata I'ld love if you tell into more details what you've done, I'm trying to build a HA master cluster here on AWS and I brought a single master cluster up with get.k8s.io

regards

[2016-04-07 21:32] dchen1107 commented on #23956
But kubernetes-e2e-gce-serial including above three tests are part of critical builds: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/

Anyway, I just want to make sure we are running into this issue next time. Thanks!

[2016-04-07 21:33] ixdy commented on #23933
@kubernetes/goog-testing this is why `kubernetes-e2e-gce-kubenet` is currently broken. I'm not sure we can easily update `$HOME/.boto` since Jenkins wipes the workspace on each run; we may just instead create the bucket as a one-off.

[2016-04-07 21:36] dchen1107 commented on #23956
cc/ @kubernetes/goog-testing This is an example showing how hard to follow for our partner teams / community. We moved those slow tests to serial suite, and put them into our critical builds, without blocking merges. All are good and reasonable decision here, but not very clearly documented.

[2016-04-07 21:40] smarterclayton commented on #21367
Oh I'm sure something is wrong - but it's that it takes 30s for the pod to be created

[2016-04-07 21:43] therc commented on #16405
@rootfs FlexVolume seems to deal with full filesystems. You even need to pass an fsType. The nvidia-docker plugin, for one, just creates a Docker volume, i.e. an empty directory under IIRC /var/lib/docker/, then populates it with /bin and /lib directories for NVIDIA's stuff (it tries hardlinks from the host first and copies the files if that fails). The volume is later bound into the container.

[2016-04-07 21:48] rata commented on #23479
@felipejfc I'm not using multi master right now. But with kube 1.2 you can just clone the masters (you will have to fix the certs, because they are done for one IP address now) and add the "--leader-elect" flag that is on the documentation to some components and that should be it.

[2016-04-07 21:49] eparis commented on #22580
see https://github.com/kubernetes/contrib/pull/467 and https://github.com/kubernetes/contrib/pull/470 which get us here. They just need someone new to pick up the ball and run given the recent changes.

[2016-04-07 21:50] felipejfc commented on #23479
@rata, really? that easy? Doesn't etcd that runs by default need more configuration to make it HA?

[2016-04-07 21:54] rata commented on #23479
On Thu, Apr 07, 2016 at 02:51:17PM -0700, Felipe Cavalcanti wrote:

Oh, right. And clustered etcd. By is as simple as the doc describe to cluster
etcd :)

[2016-04-07 21:55] rata commented on #13748
On Thu, Apr 07, 2016 at 11:33:13AM -0700, Clayton Coleman wrote:

Sorry, I don't follow you. Can you please elaborate and explain on which
cases is useful and what do you propose exactly? Sorry :-/

[2016-04-07 21:57] felipejfc commented on #23479
Thanks!

[2016-04-07 22:02] caesarxuchao commented on #14968
One more:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23985/kubernetes-pull-build-test-e2e-gce/34761/

[2016-04-07 22:08] thockin commented on #20161
Is there no way to make storage.cloud.google.com/kubernetes-jenkins/{logs,pr-logs} browseable so that directory URLs work?  It looks like it is possible, but it still asks you login to google to browse.  If you go thru the http://storage.googleapis.com URL a "browse" gets you XML data which isn't very friendly either.  I feel like there's an answer down this path, though...

What if we looked for

[2016-04-07 22:47] yissachar opened #24002 "Accessing dashboard results in i/o timeout"
I'm starting my cluster with the following:

[code]

The cluster is setup with no errors. I can access the master with the IP printed out by the script. However, when I attempt to access /ui I receive the following error:

[code]

Listing the kube-system pods shows me that something is wrong with `kibana-logging`:

[code]

Logs for kibana-logging:

[code]

I don't know if the kibana-logging errors

[2016-04-07 22:49] vishh commented on #23997
cc @kubernetes/sig-cluster-federation @kubernetes/goog-control-plane

[2016-04-07 23:12] bprashanth commented on #23952
Hmm, happened in:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/34768/consoleFull
[code]
Which looks like we're just not handling the watch cancellation properly.

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23541/kubernetes-pull-build-test-e2e-gce/34768/

[2016-04-07 23:16] quinton-hoole commented on #23997
Dupe of #21124.  We don't have anyone assigned to do this for v 1.3 (~07/2016), but would welcome community contributions.

[2016-04-07 23:16] quinton-hoole commented on #21124
We don't have anyone assigned to do this for v 1.3 (~07/2016), but would welcome community contributions.

[2016-04-07 23:20] wstrange commented on #19927
Is that static IP going to change every time the ingress is deleted and recreated?

I' d like to explicitly set the IP of the ingress myself- rather than have it done automatically

[2016-04-07 23:24] bprashanth commented on #19927
You can, soon, but it's not in 0.6.0. It will be through an annotation: https://github.com/kubernetes/contrib/blob/d9063241280cedfaac23a2283f6584e747aa2302/ingress/controllers/gce/controller/utils.go#L39

yes

[2016-04-07 23:27] liggitt opened #24004 "apiserver returns different starting event for resourceVersion with etcd watch cache enabled"
without the cache, watching from resourceVersion N, the first delivered event is the first matching event with resourceVersion after N

with the cache, watching from resourceVerson N, the first delivered event is resourceVersion N.

that means the cache is modifying the watch API

[2016-04-07 23:28] yujuhong opened #24005 "Add RSS memory to kubelet's stats summary API"
/cc @timstclair @vishh

[2016-04-07 23:33] derekwaynecarr commented on #23956
It's never correct to set the runtime flag on a systemd distro for the reasons discussed since everything is already in a cgroup, there is no reason for Kubelet to have to move it.  i would love to fail Kubelet startup on systemd if this flag is set.  Any objections?

[2016-04-07 23:33] derekwaynecarr commented on #23956
The only valid cgroup flag on systemd in my view is cgroup-parent.

[2016-04-07 23:35] bprashanth commented on #24004
@wojtek-t

[2016-04-07 23:35] yujuhong commented on #23956
I've uploaded a PR #24003 for that. Unfortunately, the summary API does not include RSS memory, which is required by the test. I filed an issue for that #24005, but I don't think we want to patch v1.2 with it? In that case, the memory checking part of the test will always passes in the v1.2 branch.

[2016-04-07 23:41] davidopp opened #24007 "PR bot should immediately remove comments it adds, for some comments"
Comments that the PR bot adds solely to trigger email notification of a label change, should be immediately deleted by the bot after it adds them.

I have no idea what team to assign this to...

cc/ @thockin @lavalamp

[2016-04-07 23:42] liggitt commented on #24004
without the watch cache (`--watch-cache=false`):
[code]

[2016-04-07 23:44] jeffvance commented on #23615
Here is a summary of the error cases when pre-binding via pv.claimRef or pvc.volumeName:
[code]

[2016-04-07 23:44] liggitt commented on #24004
with the watch cache (`--watch-cache=true`):
[code]

[2016-04-07 23:46] liggitt commented on #24004
@smarterclayton @kubernetes/kube-api

[2016-04-07 23:46] smarterclayton commented on #24004
This was a regression in 1.2 to the behavior of watch.  I would be concerned about not fixing this, even given we shipped with it.

[2016-04-07 23:47] quinton-hoole commented on #21053
@AdoHe Thanks for the offer.  Did you manage to get it done?

[2016-04-07 23:47] xiang90 commented on #24004
/cc @hongchaodeng

[2016-04-07 23:50] smarterclayton commented on #24004
Watch was intended to start with next so that clients would not manipulate the value (as per the API design, resourceVersion is opaque to clients).

[2016-04-07 23:51] quinton-hoole commented on #21566
@davidopp for when taints and tolerations lands.

[2016-04-07 23:52] davidopp commented on #21566
Hopefully will be in 1.3.

[2016-04-07 23:53] quinton-hoole commented on #22888
@erictune Could you add an appropriate priority label?

[2016-04-07 23:54] liggitt commented on #24004
fix in progress in https://github.com/kubernetes/kubernetes/pull/24008, will see if anything is depending on the cache's behavior, and will add tests

[2016-04-07 23:55] quinton-hoole commented on #22255
Seems resolved.  Track #22990 separately.

[2016-04-07 23:55] #22255 closed

[2016-04-07 23:59] #23952 closed

[2016-04-08 00:03] bprashanth commented on #23952
@caesarxuchao does the timeout really fix the watch cancellation? (didn't look too deep at the pr)

[2016-04-08 00:03] thockin commented on #24007
@eparis

On Thu, Apr 7, 2016 at 4:41 PM, David Oppenheimer <notifications@github.com>
wrote:

[2016-04-08 00:04] dchen1107 commented on #23881
cc/ @mikedanese on daemon set and @vishh on disk management.

I suspected the root cause is that daemon set controller keep creating new daemon set pods for your failed one, but not recycle the old ones.

[2016-04-08 00:05] quinton-hoole commented on #23848
Initial design notes on details of service discovery via DNS:

https://docs.google.com/document/d/1Lqe8rhiLveoDRoRQHRqL5p91_yQ1M9wIT8THvbTVH4M/edit#

Will add these to docs/design/federated-services.md after a round of initial comments.

[2016-04-08 00:07] davidopp commented on #24007
(Motivation, of course, is to avoid having PR threads that are 90% bot comments...)

[2016-04-08 00:07] guoshimin commented on #21566
Is there an issue/PR I can follow?
On Apr 7, 2016 4:53 PM, "David Oppenheimer" <notifications@github.com>
wrote:

[2016-04-08 00:10] quinton-hoole commented on #23848
ref: #24009

[2016-04-08 00:13] caesarxuchao commented on #23952
I think so.

@mikedanese see bprashanth's last comment, the timeout occurs again.

[2016-04-08 00:13] quinton-hoole commented on #23653
@alfred-huangjian Have you started any work on the service controller design or implementation yet?  If so, please submit work in progress PR's so that we don't duplicate work.  See comment from @huangyuqi  above.  I'm working on it too, in (#23848, #24009)

[2016-04-08 00:13] davidopp commented on #21566
Not yet; the work on it is just starting.  (@kevin-wangzefeng's team at Huawei is working on it.)

[2016-04-08 00:17] #23997 closed

[2016-04-08 00:17] mikedanese commented on #23997
Oops fumble fingers.

[2016-04-08 00:21] yissachar commented on #24002
I've changed the region to one that I haven't used before and the dashboard shows up correctly. I suspect that `kube-down` from a previous attempt didn't properly clean itself up and there is something lying around still that is causing a conflict.

[2016-04-08 00:25] jfrazelle commented on #20870
What does the current pods security context look like vs. container
security context. You can just give me links to wherever it lives,
don't worry :) I'll try to find it too.

On Thu, Apr 7, 2016 at 12:14 PM, Jessica Frazelle <me@jessfraz.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu

[2016-04-08 00:42] jlfields commented on #23623
Hey @paralin how did you increase the timeout? Didn't see a setting in config-default.sh that I could override. Getting the same issue as the poster.

[2016-04-08 01:00] yujuhong commented on #23956
@dchen1107 @vishh and I spoke offline, and we decided to disable docker-daemon checks in the test for the 1.2 branch (#24013). The PR is smaller and simpler.

#24003 will not be cherry-picked to 1.2

[2016-04-08 01:22] bprashanth opened #24018 "Load netfilter module in kubenet for bridge plugins"
So Services work.
Can't hurt to load bridge too (though that can happen in the CNI plugin as well)? Just:
[code]
ref https://github.com/kubernetes/kubernetes/issues/23657
@yifan-gu @dcbw @freehan

[2016-04-08 01:22] bprashanth commented on #23657
I believe this can be close in favor of https://github.com/kubernetes/kubernetes/issues/24018 once https://github.com/kubernetes/kubernetes/pull/23711 goes in

[2016-04-08 01:25] yifan-gu opened #24019 "Service IP is not reachable because the bridge netfilter module is not loaded"
- Container runtime: rkt
- OS: coreos
- Cloud: gce
- network plugin: kubenet

With the above config, the service IP is not reachable inside a pod. We tracked the issue, it turns out that it's because the netfilter module is not loaded. (in the docker's case, however, docker loads the module).

Now we know the reason, the next question is what's the best place to put the code that enables the modul

[2016-04-08 01:26] paralin commented on #23623
@jlfields

https://github.com/paralin/kubernetes/commit/9a5571c45b860852a49f90793db7a6702b2ea199#diff-ca69b7d9d3c476654cc9fef6909b1ff0R107

[2016-04-08 01:27] bprashanth commented on #24019
I'd say plugin https://github.com/kubernetes/kubernetes/issues/2401

[2016-04-08 01:28] smarterclayton commented on #9125
Some options:

1. kube-proxy exposes a prometheus endpoint
2. kube-proxy proxy implementation exposes a set of statistics that is specific to each backend and as consistent as possible
  1. connections per service
  2. IPs seen recently?
  3. failed backends?
  4. last time the service saw a connection?
3. a user could set up prometheus to capture these periodically
4. a higher level controller co

[2016-04-08 01:29] eparis commented on #24007
This should really be an issue over in github.com/kubernetes/contrib/   that's where (some of) the bots live.

Lets make a list of which comments we want deleted immediately.

- Label size.
- Needs rebase.
- @k8s-bot test this

I don't want to make it all comments. There are way too many times people have asked me "Why did the bot add 'do-not-merge'?" and I can just link them the comment 2 lines a

[2016-04-08 01:45] kgoedecke opened #24020 "kube-up gives incomplete error message about KUBE_AWS_ZONE"
I was following the getting started with [K8s on AWS guide ](http://kubernetes.io/docs/getting-started-guides/aws/)an ran into a minor issue, which was nevertheless really frustrating.

I set the env variable `KUBE_AWS_ZONE` to `us-west-2`, which is obviously wrong (should be us-west-2a), but I didn't notice in the first place.

The error message that showed up was the following:

`Invalid endpoin

[2016-04-08 01:58] thockin commented on #24007
"Test this" with an issue is also useful, isn't it?
On Apr 7, 2016 6:30 PM, "Eric Paris" <notifications@github.com> wrote:

[2016-04-08 01:58] thockin commented on #24007
OK to test

Add to whitelist
On Apr 7, 2016 6:30 PM, "Eric Paris" <notifications@github.com> wrote:

[2016-04-08 02:06] JasonGiedymin commented on #23933
@ixdy pre run script (by hand) or have it run a script checked in aka `jenkins-e2e.sh` which creates the .boto file at $HOME for the user running jenkins?

[2016-04-08 02:14] eparis commented on #24007
I was envisioning deleting the `@k8s-bot test this` added by the bot. (every 48 hours after LGTM, when retesting right before merge) not those added by users (with an issue)

After LGTM the bot will add `ok to test`, that one I can remove.

The request to `add to whitelist` comes from the jenkins bot. And in that I am clueless...

[2016-04-08 02:15] anzhsoft commented on #23976
thank you very much. After i added the route, the proxy can start.

[2016-04-08 02:20] felipejfc opened #24023 "When environment variables are loaded from secrets they are getting a line break"
issuing env outputs:

[code]

The vars PG_URL and LICENSE_KEY are loaded from a secret, as you can see, a like break or something is getting inserted with it, this is causing my software to fail because of erroneous LICENSE_KEY

[2016-04-08 02:35] paralin commented on #13892
+1 to enabling PROXY protocol on the ELBs.

[2016-04-08 02:40] AdoHe commented on #23979
as you comment in this PR #23521
[code]
IIUC, you mean add back-slash as an allowed prefix, so I changed the `.import-restrictions` like this:
[code]
then I ran `hack/verify-import-boss.sh` and just get many errors, every single import is not allowed, as it can not match any allowed prefixes.

[2016-04-08 02:47] felipejfc commented on #24023
forget it, it was an error with my manifest

[2016-04-08 02:47] #24023 closed

[2016-04-08 02:50] AdoHe commented on #24018
If we are using default bridge network mode, I think libnetwork bridge driver has already done this:
[https://github.com/docker/libnetwork/blob/master/drivers/bridge/bridge.go#L375](https://github.com/docker/libnetwork/blob/master/drivers/bridge/bridge.go#L375)

[2016-04-08 02:59] g0194776 opened #24024 "Pod CANNOT be re-schedules to another one node when the specified node's Kubelet stopped."
Hi guys,

      I get a confusion about why does the Kubernetes Master COULD NOT re-schedules the Pod which ran into the specified Node when that Node's Kubelet service had been stopped?
      I knew that the Kubelet has one of abilities to reports the Pods health status to the Kubernetes Master. Unfortunately, when the Node has down why does the Kubernetes Master still shows that the targeted Pod

[2016-04-08 03:09] binarybana commented on #23013
I just grabbed 1.2.2 KCM, and the problem is fixed. Thanks so much @mikedanese!

[2016-04-08 03:18] bprashanth commented on #24018
This is not about libnetwork but about kubenet and the bridge CNI plugin. When won't be invoking both libnetwork and kubenet at the same time.

[2016-04-08 03:20] euank commented on #23933
@JasonGiedymin If you create the `.boto` file instead of using `-o "GSUtil:prefer_api=xml"` for just that command, the `upload-to-gcs.sh` script fails due to [this issue](https://github.com/GoogleCloudPlatform/gsutil/issues/351).

[2016-04-08 03:45] thockin commented on #21651
Justin,

Why did we close this?  Did something happen?  I thought we really wanted this in?

[2016-04-08 03:46] thockin commented on #21651
Nevermind, I am looking at the issue, not the PR

[2016-04-08 03:47] wojtek-t commented on #24004
@smarterclayton @liggitt - the watch cache was introduced in 1.1 release and were already serving watch from it in 1.1. So unless it didn't change, this is not 1.2 regression, but 1.1 regression.

[2016-04-08 03:48] #24024 closed

[2016-04-08 03:49] AdoHe commented on #23989
@kubernetes/kubectl

[2016-04-08 04:01] liggitt commented on #24004
That's really unfortunate. As Clayton pointed out, the intent was for watching from resource version X to return events after X. I still think we should fix this

[2016-04-08 04:27] smarterclayton commented on #24004
As per the API doc on the query param for resourceVersion on watch:

"When specified with a watch call, shows changes that occur after that
particular version of a resource. Defaults to changes from the beginning of
history."

On Fri, Apr 8, 2016 at 12:02 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-04-08 04:28] msimon opened #24027 "Kube-proxy 1.2.2: try to update conntrack hashsize, fails on read-only file system"
Hello,

I'm running kubernetes on a REHL6.7. I just updated to v1.2.2 from v1.0.6 and kube-proxy doesn't start anymore. Any idea how I fix that ?

Thanks

[code]

[2016-04-08 04:31] msimon commented on #24027
Ignore that, I should read the documentation better next time.

Thanks

[2016-04-08 04:31] #24027 closed

[2016-04-08 04:32] yissachar opened #24028 "AWS: kube-down doesn't delete all resources"
After running kube-down I consistently see that it leaves the following around:
- dhcp-options
- key-pair

[2016-04-08 04:33] wojtek-t commented on #24004
To be clear - I'm not saying what we are doing is ok - I've just said that it's not a new change.

[2016-04-08 04:45] bgrant0607 commented on #18188
We should ensure our local-cluster solution is built and bundled with the rest of our release.
cc @vishh @dlorenc @pwittrock

[2016-04-08 04:48] bgrant0607 opened #24029 "Create a release process/automation roadmap"
There are lots of known release process/automation issues. We should prioritize them and create a roadmap we can execute against.

cc @zmerlynn @roberthbailey @ihmccreery @quinton-hoole @lavalamp @eparis @dchen1107

[2016-04-08 05:22] bprashanth opened #24030 "Support Cassandra in PetSet"
__I haven't deployed Cassandra to production, I'll incorporate comments from anyone who has into this missive.__

A cassandra cluster is a ring of nodes.
* Clients send request to any node (coordinator) which forwards requests to the node with the data.
* Each node is assigned a token. Each row is hashed based on a partition function applied on its primary key. A node stores hashes between its tok

[2016-04-08 05:34] thockin commented on #24027
For posterity - can you say here what was wrong?

On Thu, Apr 7, 2016 at 9:32 PM, Marc Simon <notifications@github.com> wrote:

[2016-04-08 05:40] thockin commented on #24018
Curious.  We check for it but do not modprobe it in kube-proxy.

We should probably modprobe it in kubenet and set
the net/bridge/bridge-nf-call-iptables sysctl (which already do in
kube-proxy).  It's strictly a function of the network driver, not
kube-proxy.

On Thu, Apr 7, 2016 at 6:22 PM, Prashanth B <notifications@github.com>
wrote:

[2016-04-08 05:45] thockin commented on #23976
So you did not have a default route?  I am curious how to handle this
better - if it happened to you it might happen to others...

On Thu, Apr 7, 2016 at 7:16 PM, anzhsoft <notifications@github.com> wrote:

[2016-04-08 05:50] janetkuo commented on #23989
@deech this is expected behavior. The Deployment only create a new revision (i.e. another Replica Set) when you update its pod template. Scaling it won't create another revision.

[2016-04-08 05:58] bgrant0607 commented on #23973
cc @derekwaynecarr

[2016-04-08 05:59] janetkuo commented on #11994
+1

[2016-04-08 05:59] msimon commented on #24027
Nothing wrong with kubernetes. /sys/module/nf_conntrack/parameters/hashsize is read-only on our servers (that's out of my control).
I was looking for a way to disable the hashsize settings which can be achieved by `--conntrack-max=0`

[2016-04-08 06:00] bryk commented on #24002
Problem solved? So you see any action items for the UI team?

[2016-04-08 06:06] janetkuo commented on #23993
How about adding flags for max retry times and retry intervals to kubectl?

[2016-04-08 06:21] thockin commented on #9125
On Thu, Apr 7, 2016 at 6:28 PM, Clayton Coleman
<notifications@github.com> wrote:

Exposing is not a problem, collecting the raw info is.

We can extract this from `conntrack` periodically.  It will be a
little stale and UDP will be wonky, but ok.

Only if we do something like pcap all traffic.  Which sounds awkward at best.

Don't have that info

Same as conntrack above - it would be sloppy, but

[2016-04-08 06:26] thockin commented on #19927
I'm curious why you would delete and recreate an Ingress?

On Thu, Apr 7, 2016 at 4:25 PM, Prashanth B <notifications@github.com>
wrote:

[2016-04-08 06:30] kargakis commented on #23989
The only thing apart from the replicas and the resource version of the deployment that should change is its generation.

[2016-04-08 06:32] thockin commented on #23982
I didn't quite follow everything here, but a couple thoughts.

Parsing logs is sketchy and doomed to fail eventually.  Last resort.

The logic for this error message generation must live entirely within
volume plugins.  If that means we need to change the way the API works to
make that happen, so be it (as long as it is reasonable).

On Thu, Apr 7, 2016 at 12:41 PM, Huamin Chen <notifications@gith

[2016-04-08 06:33] jsafrane opened #24031 "e2e flake: can't download salt for 5 minutes"
I'm not sure that I am looking at the right files, but e2e test for #23435 failed with timeout.

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23435/kubernetes-pull-build-test-e2e-gce/34756/

From build.log:

[code]

Looking into artifacts/e2e-gce-master-1-master/startupscript.log, I can see:
[code]

I.e., kube-up timed out when curl tried to download salt for 5

[2016-04-08 06:39] bgrant0607 commented on #23896
An implementation in Rust:
https://github.com/InQuicker/ktmpl

[2016-04-08 06:42] krmayankk commented on #23553
@thockin  it does not repro with the steps you posted above in 1.2. While we were relying on using the idempotent nature of the apis to cntinuosly call update and assume that if nothing changes in the app yaml, nothing should happen, we have shifted our model to diff the deployed spec with the spec being deployed and only if differs , we will call an update and also shifted to 1.2. So not sure if

[2016-04-08 07:05] danielwhatmuff commented on #7954
On rhel 7, check the kubelet home directory in the kublet.service unit file and place the dockercfg in there, then restart kubelet. You need to remove the auths line and add https:// too.

[2016-04-08 07:27] Huimintai opened #24033 "kubernetes1.2 build error"
Hi，when I build kubernetes1.2，It makes an error like this：
`# go build `
`# k8s.io/kubernetes/pkg/util`
`../../../../pkg/util/throttle.go:59: t.limiter.Capacity undefined (type *ratelimit.Bucket has no field or method` `Capacity, but does have ratelimit.capacity)`
`../../../../pkg/util/throttle.go:60: t.limiter.Available undefined (type *ratelimit.Bucket has no field or` `method Available)`
It puz

[2016-04-08 07:59] ixdy commented on #23873
A bunch of the post-commit node e2e jobs have started failing because I restarted the Jenkins VM, and bad versions of these configs had been written with version 2.4.3 of the git plugin.

Unfortunately, the Jenkins job updater did not fix the problem. It seems that the XML it's producing looks like
[code]
whereas the expected XML (looking at the Jenkins VM) looks like
[code]

We're using a pretty

[2016-04-08 08:01] ixdy commented on #23873
I manually fixed `kubelet-gce-e2e-ci` in the Jenkins UI (hopefully it doesn't get reverted by the updater). I haven't touched the others yet.

[2016-04-08 08:30] xlgao-zju opened #24036 "POC runc as container runtime"
We(@zju-sel) would like to throw a POC which uses runc as container runtime.
cc @resouer @Crazykev @YaoZengzeng

[2016-04-08 08:56] andrejvanderzee opened #24037 "DaemonSets unavailable for v1.2.0-alpha.8"
[code]

[code]

In v1.1 we could enable DaemonSets with the apiserver option --runtime-config="extensions/v1beta1/daemonsets=true". This does not work for v1.2.0-alpha.8.

If I am correct, in v1.2 DaemonSets should be enabled by default, but they aren't yet.

[2016-04-08 09:29] timbunce commented on #23981
@paralin, you're right that DNS is included now, and most of my frustrations do stem from pre-1.2.0 experiences.

I agree with @bprashanth though, that "a section with some links, and some troubleshooting tips" would still be useful. Both for helping people experiencing actual DNS problems, and to help those experiencing other problems that happen to manifest as DNS problems (so DNS doesn't get th

[2016-04-08 09:47] jpprins1 opened #24039 "Deployment: label already present as selector on RC results in max number of 'Terminating' pods."
1) Tried the deployment example at: http://kubernetes.io/docs/user-guide/deployments/
2) RC was already present with label selector "nginx"
3) Got lots of pods hanging on "Terminating" status (and some 'Pending' pods.)

Note: The easy solution of course is to not use the same label, however after removing the deployment the 'Terminating'  pods still are present and in my case  manually removing th

[2016-04-08 10:12] andrejvanderzee commented on #24037
Same behavior for Kubernetes v1.2.2

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.2", GitCommit:"528f879e7d3790ea4287687ef0ab3f2a01cc2718", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.2", GitCommit:"528f879e7d3790ea4287687ef0ab3f2a01cc2718", GitTreeState:"clean"}

[2016-04-08 10:13] w0mbat opened #24040 "Replacing ClusterIP service with NodePort service fails"
It had a service with type `ClusterIP` and wanted to switch it to type `NodePort`and it failed with the following message:
[code]

[2016-04-08 10:23] wombat opened #24041 "Ingress should check for service type upon creation"
I created an ingress with two backends in gke - the first service was of type `NodePort`, the second one was of type `ClusterIP`.
I spent some time debugging why my path rule didn´t work until I found out that my second service was of type `ClusterIP`. This could be handled more gracefully during creation or at least be visible somewhere.

[2016-04-08 10:25] w0mbat commented on #23983
I think I just experienced this in my environment - see #24040

[2016-04-08 12:09] huang195 opened #24043 "K8sm with multiple mesos master"
Is there a way to specify multiple mesos masters when starting `km apiserver`? It seems the config file that `--cloud-config` expects is only expecting to receive one mesos master IP+port.

cc @jdef @sttts @karlkfi

[2016-04-08 12:11] sindrepm commented on #22436
I have also ran into this issue lately and as far as I can tell, the problem happens when the container (POD) fails to start for some reason. When the container is restarted, the Flocker mount is lost and k8s is reverting to `Driver = "local"` with `Source = ""`.

I have created a minimalistic POD to reproduce it.

Manifest:

[code]

Note, above I am just passing a command "fail" to the container,

[2016-04-08 13:12] timbunce commented on #23981
Looking at the [Deploying DNS](http://kubernetes.io/docs/getting-started-guides/docker-multinode/deployDNS/) page again I notice that the instructions in "Replace the corresponding value in the template and create the pod" aren't very clear to a novice (like me).

The command `kubectl create -f ./kube-system.yaml` refers to a `./kube-system.yaml` file without saying where that has come from. Someo

[2016-04-08 13:28] mgoodness commented on #23580
Lyft recently released a similar project to ec2metaproxy, called metadataproxy. Announcement [here](https://eng.lyft.com/scoping-aws-iam-roles-to-docker-containers-c9c5f8f2f75#.zh72shmjl). Haven't tried it myself, but might be worth investigating here.

[2016-04-08 13:28] smarterclayton commented on #9125
Userspace proxy has failed backends.  Conntrack should tell us origin
and destination IPs?  Which we could remember briefly?

[2016-04-08 13:32] jayunit100 commented on #23950
Hi folks ; how should we conclude this issue...
- update to docs on how to run and complete tests successfully, locally ?
- update to the code if necessary?

[2016-04-08 13:38] liggitt commented on #23409
looks like the bot doesn't know about `release-note-breaking-change` (it keeps readding the `release-note-needed` label in https://github.com/kubernetes/kubernetes/pull/24008)

[2016-04-08 13:38] liggitt commented on #23409
also, the release-note labels should follow other labels' format (`release-note/needed`, `release-note/none`, etc)

[2016-04-08 13:42] wstrange commented on #19927
I think it is more if you have reserved your own static IP, and set up DNS, etc. - you want the ingress to use that IP - not one it chooses.  For testing., etc. - you might not want to run an ingress 7x24.

It sounds like that will be possible via an annotation in a future release - so that should cover it.

[2016-04-08 13:58] huang195 commented on #24043
Also, it seems that both apiserver and controller-mgr will take the `--cloud-config` parameter, but scheduler takes `--mesos-master` parameter directly, where a list of zookeepers that the mesos masters use for leader election can be passed in the format of `zk://...`.

After going through the code, it seems that `--cloud-config` param passed to the apiserver and controller-mgr are used only for i

[2016-04-08 14:04] eparis commented on #23409
@liggitt I didn't think `release-note-breaking-change` was still a thing. I thought it was only `release-note-action-required`. Will look into it.

[2016-04-08 14:06] eparis commented on #23409
@david-mcmahon I see someone did actually change the label name back to 'breaking-change'    Where was this discussed?

[2016-04-08 14:07] eparis commented on #23409
@liggitt I'll work with @david-mcmahon to get the labels renamed today. Agreed and that should be easy...

[2016-04-08 14:44] yissachar commented on #24002
The problem still exists in `us-east` for me. This isn't an out of the box problem, but rather seems to be triggered by some sequence of `kube-up` and `kube-down`. I'm not particularly sure what that sequence is at the moment.

This definitely isn't a UI issue though - deploying my own services results in the same error. It seems possibly network related.

[2016-04-08 14:44] deech commented on #23989
Great. Thanks! I guess I just misunderstood the feature. Will close the issue.

[2016-04-08 14:44] #23989 closed

[2016-04-08 14:50] jdef commented on #24043
vagrant@node-1:~/mesosphere-kubernetes$ cat ~/mesos-cloud.conf
[mesos-cloud]
  mesos-master          = zk://10.2.0.5:2181,10.2.0.6:2181,
10.2.0.7:2181/mesos

On Fri, Apr 8, 2016 at 10:00 AM, Hai Huang <notifications@github.com> wrote:

[2016-04-08 14:58] huhlig opened #24044 "Add transient archive volume type that stores arbitrarily complex file structure"
Used for cases where pre-initialized data of arbitrary type can be provided to a pod. Similar use case to ([#13610](https://github.com/kubernetes/kubernetes/issues/13610)) however expanded to support arbitrarily complex structures.
1. Archive Format support for tar, zip or other archive format (preferably with compression/encryption).
2. Extracted to host or memdisk prior to container execution an

[2016-04-08 15:07] smarterclayton commented on #23993
What do we retry on?  Idempotent requests?  HTTP calls?

On Fri, Apr 8, 2016 at 2:07 AM, Janet Kuo <notifications@github.com> wrote:

[2016-04-08 15:36] bprashanth commented on #24040
How did you change it? sounds like you tried to apply an update with clusterIP=="" whereas the Service in the apiserver already had a clusterIP.

Fyi the easiest way to update a Service is simply to run kubectl edit svcName, and change the one field (in this case Type from ClusterIP to NodePort).

[2016-04-08 15:41] bprashanth commented on #24018
the net/bridge/bridge-nf-call-iptables sysctl (which already do in
kube-proxy).

We moved it out of kube-proxy and into the no-op plugin because it only makes sense in bridged networks.

I'd say the iptables part is under kubenet's purview and the bridge modprobe is under the CNI plugin's jurisdiction, but it can't hurt to do both in kubenet.

[2016-04-08 15:42] w0mbat commented on #24040
I just did a `kubectl apply ...`. Using ´kubectl edit` from a CI is not possible so I just wanted to apply the file.
At first it looked like this:
[code]
afterwards:
[code]

[2016-04-08 15:51] bprashanth commented on #24040
A simple replace will try to update (get and re-put) which will try to preserve the clusterIP. A `replace --force` will delete and create. Does that work?

[2016-04-08 15:57] pwittrock commented on #23950
The flag alone wasn't enough to address all the issues.  I don't know what the specific issue is that is causing the pods not to be scheduled.  I am still looking into why this isn't working.

[2016-04-08 15:59] thockin commented on #19927
That's a more realistic use case - I just wanted to understand.

On Fri, Apr 8, 2016 at 6:43 AM, Warren Strange <notifications@github.com>
wrote:

[2016-04-08 16:03] bprashanth commented on #23468
[code]

So we got an internal error (http 5xx) from gce api, but subsequent requests failed with "already exists'. This sounds like: b/27367941

[2016-04-08 16:04] w0mbat commented on #24040
I can try later but I don´t understand why switching to NodePort leads to an error - I haven´t deleted the ip or similar.

[2016-04-08 16:05] #23468 closed

[2016-04-08 16:08] bprashanth commented on #24040
Without debugging too deep I believe it's because `kubectl replace` will do a GET followed by a PUT. The put therefore has the ClusterIP set to some non `""` value (the same value it's currently set to in etcd). This causes an update violation.

You can confirm by running `kubectl replace blah --v=7` and observing the REST calls.

One might argue that this behavior is unexpected, or that we should

[2016-04-08 16:08] ArtfulCoder commented on #21513
can you check your /etc/hosts file ?
It probably is missing a localhost entry ?

[2016-04-08 16:11] thockin commented on #9125
We'll have to sample conntrack which could always miss short-lived TCP
sessions, even with TIME_WAIT.  But that said, I think we can only see some
sorts of info.  blackhole endpoints will get stuck in SYN_SENT.  500s or
slow backends are valid at the TCP level.  UDP is opaque.

Something > nothing but it's sort of a lot of work for not very much info

On Fri, Apr 8, 2016 at 6:29 AM, Clayton Colema

[2016-04-08 16:22] mikebrow commented on #23026
Quick look... seems jekyll is processing/consuming text that looks like  `{{ }}` Will google around and see if there is a simple solution.

[2016-04-08 16:25] huang195 commented on #24043
@jdef so it also take `zk://...` list of masters. Thanks!

[2016-04-08 16:25] #24043 closed

[2016-04-08 16:26] liggitt commented on #18549
I still disagree with the API server proxying authorization code / refresh token requests and adding in its confidential client_secret. That goes against the OAuth spec, and I think we should resolve that before moving forward on implementation.

[2016-04-08 16:27] mikebrow commented on #23026
Ok... looks like we may need to add raw tags where we don't want `{{ }}` to be parsed as a liquid variable.

example:
[code]

[2016-04-08 16:33] #21138 closed

[2016-04-08 16:45] spxtr commented on #23873
Raw XML time :(

[2016-04-08 16:47] mikebrow commented on #23026
Ayup that fixes it.   But it's a fairly big change would like to hear from the docs owners on this one before I generate a PR for all the cases in the docs where we are missing raw tags.  Esp. since man does not know what to do with these raw tags.. thus the md files will be uglier.  For example:

md:
[code]
[code]
<div class="highlighter-rouge"><pre class="highlight"><code> <span class="nv">$ </s

[2016-04-08 16:48] smarterclayton commented on #23438
How about `config` as an abbreviation?  That parallels with `secrets`, and I don't think we would ever add a `config` object (since config map is our simpler object).

[2016-04-08 16:49] smarterclayton commented on #19969
Is this fixed?

[2016-04-08 16:50] pmorie commented on #23438
I can get behind `config`

[2016-04-08 16:53] quinton-hoole commented on #23269
fixes #21053

[2016-04-08 16:53] sjenning commented on #19969
No, the PR I opened didn't address the problem well so I closed it.  It really should happen at a higher level since the size limit applies to all resources stored in etcd and the size limit needs to have to serialized version of the resource to check the size.

[2016-04-08 16:54] mikebrow commented on #23026
Ok... looks like this is known.. a dup of:
https://github.com/kubernetes/kubernetes.github.io/issues/81

[2016-04-08 16:55] dchen1107 commented on #22819
Since there is no instance with the same failure. I am closing this one for now.

[2016-04-08 16:55] #22819 closed

[2016-04-08 16:55] smarterclayton opened #24049 "It should be easy to extract configmap/secrets to disk and to mutate key/values on them"
I searched but didn't find this, so I'm going to propose it here.

Users should be able to easily
- Mutate individual keys in a config map and secret
- Extract a configmap/secret to disk

This would enable simpler interaction in scripts that depend on it.

We should
1. Add `kubectl set secret-data SECRET ...`
2. Add `kubectl extract secret/NAME [directory/file]`

Also, the `--from-literal` syntax

[2016-04-08 16:55] smarterclayton commented on #24049
We're planning on using configmaps to store generic service discovery info for any client to access, and so we want to make it easy for the components that need to load the info to leverage their service account and defaulting to get that info.

[2016-04-08 16:59] smarterclayton commented on #19969
Why would we not perform the same validation / rules we perform for annotations, but applied to both keys and annotations?

[2016-04-08 17:00] smarterclayton commented on #23438
From a rationalization perspective, *everyone* is going to call these config (no one is going to say the map at the end if they have to).  "I put it in a config."  "Which config is it?"  "Did you update the config?" etc.

From the CLI:

[code]

[2016-04-08 17:01] smarterclayton commented on #23438
Also, it disincentives others in the community from creating a generic `Config` kind.

[2016-04-08 17:02] smarterclayton commented on #9125
Re: sampling rate how CPU intensive is a single conn-track dump?  Can we
justify it that it's the same order of magnitude cost as cadvisor sampling?

On Fri, Apr 8, 2016 at 12:11 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-04-08 17:06] smarterclayton commented on #21648
So here's a concrete proposal before I start moving code upstream.

Implement the two most valuable primitives - `set image` and one other (`env`?) as a first step, setting up the proper pattern for these commands.  Then fan out to the others.

[2016-04-08 17:17] quinton-hoole commented on #23848
cc @jianhuiz FYI

[2016-04-08 17:39] david-mcmahon commented on #23409
I believe release-note-action-required was in place for some time.  I have no idea how release-note-breaking-change got back into the mix.

[2016-04-08 17:52] yujuhong commented on #24005
#24015

[2016-04-08 17:54] lavalamp commented on #23979
Heh. Sorry, I definitely misspoke there. I think if I'd thought about it I would have said to use "" as the prefix, because that is a prefix of everything. I was thinking "/" was a prefix of everything when I wrote that, because apparently I was confusing import names with file paths. :)

[2016-04-08 18:02] lavalamp opened #24053 "Remove `--api-version` usage in test-cmd.sh"
Lots of `Flag --api-version has been deprecated, flag is no longer respected and will be deleted in the next release` output in tests.

[2016-04-08 18:10] apatil commented on #22351
@erimatnor, how did you delete the default token secret?

[2016-04-08 18:16] vishh opened #24055 "PV Acess policy API documentation states that PVs are node scoped"
PVs are Pod scoped right? Why do we talk about nodes in the API documentation.

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L466

cc @kubernetes/sig-storage

[2016-04-08 18:26] yissachar commented on #24002
Comparing the working region to the non-working one, I see that the proper setup has a route table with entries pointing to the master node, as well as to the minions. In my broken setup only the master node has an entry. The entries for `10.244.0.0/24` and `10.244.1.0/24` which should map to the minion nodes, are missing. This lines up nicely with the error message posted above:

[code]

I've tri

[2016-04-08 18:27] vishh commented on #24033
Kubernetes vendors all its dependencies and it does not confirm to `go build` expectations. I'd recommend running `make` instead.

[2016-04-08 18:27] #24033 closed

[2016-04-08 18:29] vishh commented on #24039
Are you referring to Replication Controllers or Replica Sets?

[2016-04-08 18:29] vishh commented on #24041
cc @kubernetes/sig-network

[2016-04-08 18:32] vishh commented on #24044
#831 is closely related.
cc @bgrant0607 who has been talking about supporting volumes that are initialized by special volume containers which can then be consumed by pods.

[2016-04-08 18:36] saad-ali commented on #24055
That's technically correct--the limitation is on how many nodes a volume can attach to (GCE PD for example can only attach to one node in RW mode).

However, I agree that the API doc should mention pods instead: if a PV is RWO, it should only be used by a single pod at a time, since there is no guarantee that multiple pods will land on the same node.

[2016-04-08 18:37] saad-ali commented on #24055
CC @kubernetes/sig-storage

[2016-04-08 18:39] bprashanth commented on #24041
Yeah it should show up in `kubectl describe ing`.
It shows up in logs, if that's worth anything :)

The reason it's even allowed by the controller (i.e not a hard error thrown by the GCE backend) is so you can setup an Ingress before hand and flip each service to nodeport, and this will just work.

The reason we don't validate against it is because Type=NodePort is only a stop gap till cloudprovid

[2016-04-08 18:44] jlowdermilk opened #24056 "gke jobs running HEAD gcloud all broken"
gcloud at HEAD changed output of some compute list commands to print nothing to stdout, which causes [this grep](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/list-resources.sh#L50) to fail spuriously. Currently trying to patch a fix.

cc @ixdy, @spxtr, @fejta

[2016-04-08 18:48] eparis opened #24057 "Rename release-note-* and cherrypick- labels to conform to category/sub-category norm"
Most labels in kubernetes follow a `category/sub-category` form. Both `release-notes-*` and `cherry-pick-*` do not. I verified that if you `edit` a label (instead of `delete`/`create`) the label is updated on existing PRs/Issues.
- [ ] Update documentation to discuss `cherrypick/*` and `release-note/*` instead of what we have today (@david-mcmahon)
- [ ] Update bot code to use the new label names

[2016-04-08 18:49] pmorie commented on #19969
@smarterclayton If I remember correctly, we decided the approach that was needed was to do a validation on the serialized size of the ConfigMap, but there was not a good way to do it / we decided it wasn't a must-have for 1.2 / other things trumped solving it.

[2016-04-08 19:02] cjellick commented on #24055
@saad-ali I want to make sure I understand correctly.
You are saying that RWO is implemented as limiting how many pods can use a volume, but the reason for it is effectively because the volume can only be mount to a single host (aka node) at a time, right?

And there is no way to say that a PV can be used by many pods as long as they are on the same host, right?

(I asked this question in slack an

[2016-04-08 19:11] mml commented on #23461
@quinton-hoole I was trying to figure that out, too.  There has been some churn in the docker-checker.sh scripts with extra sleeps added at various times since February trying to make sure docker is really dead before we remove its networking checkpoint.  Those have had the effect of inserting more delay between the stopping and starting of docker itself.

https://github.com/kubernetes/kubernetes/

[2016-04-08 19:18] smarterclayton commented on #19969
Serialized size is going to be within margin of error of labels +
annotations + data.

On Fri, Apr 8, 2016 at 2:49 PM, Paul Morie <notifications@github.com> wrote:

[2016-04-08 19:21] swagiaal commented on #24055
@cjellick

That is correct yes

That is also correct yes. That is it is not possible in RW mode but you can (at least for GCE PD) use a volume read-only in multiple pods. The pod access modes are implemented to reflect the underlying storage restrictions

[2016-04-08 19:41] #24056 closed

[2016-04-08 19:56] w0mbat commented on #24041
@bprashanth haha yeah thats true.
Yes, I understand the basic idea behind the way it is working and I like the basic way it is implemented because it gives the user the possibility to add an ingress later on and reuse the service.

I would like to see it checked/validated in the `kubectl describe ing` as you proposed

[2016-04-08 20:02] gmarek commented on #23873
It this a reason why we're seeing 111s from gcloud calls all around the place?

[2016-04-08 20:08] lavalamp opened #24062 "genericapiserver: move flag install to common place"
genericapiserver should have a function to install common flags. People don't have to use it if they don't want to install all of its flags, of course--we should factor it such that it's easy to get the set of flags you want.

e.g., s.InstallUniversalFlags(), s.InstallEtcdStorageFlags(), etc

@nikhiljindal

[2016-04-08 20:15] ixdy commented on #23873
I think the 111s are unrelated, due to the Jenkins VM being overloaded.

[2016-04-08 20:19] yujuhong commented on #16943
Let's close this since v1.2 is out.

[2016-04-08 20:19] #16943 closed

[2016-04-08 20:20] #22895 closed

[2016-04-08 20:26] jlowdermilk commented on #23544
Closing this as dupe of #23545.

[2016-04-08 20:26] #23544 closed

[2016-04-08 20:45] cjellick commented on #24055
ok. thanks for clarifying @swagiaal

[2016-04-08 21:02] lavalamp opened #24064 "API field name wrong: DaemonEndpoint "port" field"
Tag is malformed. "port" was intended, but we're getting "Port".

https://github.com/kubernetes/kubernetes/blob/421249785d15fb7af203a34fd3054a4765b96b67/pkg/api/v1/types.go#L2052

@bgrant0607

This seems like something we could catch automatically in the future.

[2016-04-08 21:10] bgrant0607 commented on #24064
See #23660

[2016-04-08 21:16] spxtr commented on #20461
On GKE I can make a 1-node cluster.

It might be worth running tests against small clusters, actually.

[2016-04-08 21:20] bgrant0607 commented on #19736
cc @vishh

[2016-04-08 21:22] quinton-hoole commented on #20461
@spxtr @ixdy I seem to remember that static system pods (DNS, Heapster etc) used up most of two nodes, leaving insufficient resources for test pods.
Also, most tests need more than 1 node, so having 3 meant that one Node could fail without introducing flakes due to there being only one node left (in theory).

[2016-04-08 21:27] vishh opened #24065 "kubectl delete all does not deleted all API objects"
`kubectl delete all -l foo=bar` currently deletes only pods and services. Ideally we can suggest users to run `kubectl delete all` following a `kubectl run`, but that is not possible today.

@bgrant0607 suggested that using the discovery API is the correct way to fix this since that will help delete resources that do not belong to Kubernetes core.

cc @kubernetes/kubectl

A short term fix to delet

[2016-04-08 21:36] saad-ali commented on #24055
Yep, what Sami said.

[2016-04-08 21:37] jlowdermilk commented on #23514
PR builder hit: [kubernetes-pull-build-test-e2e-gce/34892](https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24063/kubernetes-pull-build-test-e2e-gce/34892/artifacts/)

[2016-04-08 21:42] jlowdermilk opened #24067 "kubernetes-soak-continuous-e2e-gce-1.1 workspace check is wrong"
I think this job is expected to have a non-empty workspace, since it's running tests against and already created cluster.

[code]

Last passing run was March 1, so disabling is also reasonable, if this isn't critically watched anymore.

[2016-04-08 21:42] bprashanth commented on #24030
@chrislovecnm

[2016-04-08 21:52] bgrant0607 commented on #24039
cc @janetkuo @kargakis

[2016-04-08 21:53] bgrant0607 commented on #24039
@jpprins1 What release of K8s? What cloudprovider? What os distro?

[2016-04-08 21:59] yissachar commented on #24002
Can someone with more knowledge of the `kube-up` process point me to where the minion node route tables are added?

[2016-04-08 22:10] janetkuo commented on #24039
I can reproduce it on HEAD.

[code]

This will happen when the deployment and replication controller (but not replica set) have the same label selectors.

[2016-04-08 22:13] jpprins1 commented on #24039
1) RC = Replication Controller.

2) Version info:

*Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.1",
GitCommit:"50809107cd47a1f62da362bccefdd9e6f7076145",
GitTreeState:"clean"}Server Version: version.Info{Major:"1", Minor:"2",
GitVersion:"v1.2.0", GitCommit:"5cb86ee022267586db386f62781338b0483733b3",
GitTreeState:"clean"}*

3) OS info:

*Master: CoreOS beta (991.1.0)*
*Node

[2016-04-08 22:17] janetkuo commented on #24039
It's because the RC controls a set of "nginx" pods (label: {run=nginx}), and then the deployment generates an RS that controls a set of "nginx" pods (label: {run=nginx, pod-template-hash=xxx}).

The RC can control the RS's pods but the RS can't control the RC's pods. The RC is fighting with the RS -- whenever RS scales up a pod, the RC scales it down, and then the RS will find it doesn't have enou

[2016-04-08 22:19] caesarxuchao commented on #23952
Last failure occurs at 3:13:18pm, Apr. 7, Mike's fix is merged at 15:04:42, Apr. 7.

[2016-04-08 22:29] janetkuo commented on #23231
Closing since it's cherry-picked.

[2016-04-08 22:29] #23231 closed

[2016-04-08 22:50] Random-Liu opened #24070 "Kubelet: Do we still need the `Logs` option on docker attach?"
During writing container attach node e2e test, I found this.

Docker attach has an option called `Logs` (see [Docker Remote API](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.22/#attach-to-a-container)).
With this on, before each container attach docker will print the container log first (see [code](https://github.com/docker/docker/blob/5709f8e4227e0e1da333739c44003a3f47279bd5/

[2016-04-08 22:53] fejta opened #24072 "gke-slow and gce-slow time out on a regular basis"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-slow/2534/consoleFull

[code]

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-slow/buildTimeTrend shows that passing builds require 50m multiple times per day, and http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-slow/ agrees with this. Given these constraints we need a minimum of a 100m timeout.

https://github.com/k

[2016-04-08 23:06] chrislovecnm commented on #24030
I have a few comments on this.  No time to comment right now :)  One feature that is missing is the capability of K8 to run a command, before it removes a node and a docker. i.e. `nodetool drain`

BTW vnodes make your life ALOT easier to scale up.  Will comment when I have time :)

[2016-04-08 23:08] yujuhong commented on #23961
For `rkt` and *other container runtimes*, I'll upload a separate PR to *not* check the runtime stats at all. The PR base the decision on the container runtime type reported by the node status. Any objections? @sjpotter @derekwaynecarr

[2016-04-08 23:11] #24072 closed

[2016-04-08 23:57] chrislovecnm commented on #24030
Our example uses Service resolution thorugh a custom entrypoint. If a node finds no endpoints in the Service, it inserts it's own IP into the seed list (TODO: follow up, this feels racy).
Perils:

Setting all nodes as seeds

- no bad practice, bootstrapping a seed node is different. Recovery is different. Couple of other reasons to NOT do this.

Setting different seeds for different nodes in a sin

[2016-04-08 23:58] fejta commented on #21512
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go#L406

https://github.com/kubernetes/kubernetes/commit/39de4be40dbdbd544200efbed457d0fc89375e1f

[2016-04-08 23:58] #21512 closed

[2016-04-08 23:58] janetkuo commented on #23989
@deech Thanks for your feedback on this! I've updated the document to clarify this  http://kubernetes.io/docs/user-guide/deployments/#rolling-back-a-deployment

[2016-04-08 23:59] chrislovecnm commented on #24030
Failure section:

Set inital_token to dead nodes token (visible in nodetool ring output)

- this is different with vnodes - I am only recommending vnodes as best practice with kubernetes

[2016-04-09 00:01] ncdc commented on #24070
I don't think this is required. The only issue perhaps would be that maybe you wouldn't see what was already drawn on the screen, but as soon as we get around to implementing terminal resizing (which I'm working on), as soon as you attach, we'll force a screen refresh, so that shouldn't be an issue.

WDYT @smarterclayton

[2016-04-09 00:04] chrislovecnm commented on #24030
Maint and upgrade section: this depends on a couple of things:

- can we put the data on the k8 node and deploy a new docker? If so then you don't need to drain. If the data is going to be stored in the docker, then yes you need to drain
- upgrade process depends on version jumps as well.
- does k8 have a job scheduler on the roadmap? This could run nodetool repair.

[2016-04-09 00:08] chrislovecnm commented on #24030
Thoughts

Easier:

Doubling size of cluster.

- use vnodes, you can add 1 or 1000 - does not matter

Bootstrapping, once you have the seeds up
Harder:

- not sure what you mean

Deleting nodes, scaling down

- a hook - run this command before you stop this docker, would fix this

Scaling up to some number of nodes that requires token recomputation

- not with vnodes ;)

[2016-04-09 00:08] fejta commented on #20456
https://github.com/kubernetes/kubernetes/blob/75b01662e61d8cd2b63b0ceaa8631a00ac01fdc0/docs/devel/e2e-tests.md

[2016-04-09 00:13] paralin commented on #23856
Seems fixed now.

[2016-04-09 00:13] #23856 closed

[2016-04-09 00:14] chrislovecnm commented on #24030
Our example uses Service resolution thorugh a custom entrypoint. If a node finds no endpoints in the Service, it inserts it's own IP into the seed list (TODO: follow up, this feels racy).

I like this and don't like this ;). The k8 seed provider needs to be documented, and I am wondering if we can recommend a supported provider - ec2, GCE - etc

At the min it needs to be documented better :P. Also

[2016-04-09 00:14] chrislovecnm commented on #24030
I have asked Datastax to comment on this arch btw...

[2016-04-09 00:16] paralin commented on #23188
Works for me now in the latest version. But I had to tweak a few things like the subnet and specify a master IP address.

[2016-04-09 00:17] paralin commented on #23168
Fixed now I think.

[2016-04-09 00:17] #23168 closed

[2016-04-09 00:18] ihmccreery commented on #20456
I don't think @bprashanth's original concern has been addressed:

There's nothing in `e2e-tests.md` about how to configure Jenkins, only that one should.

[2016-04-09 00:19] janetkuo commented on #24039
The pods are not hanging. It's just `Terminating` (by default the termination grace period is 30s). After deleting the deployment and wait for a while you should be able to see the number of pods decreasing (run something like `kubectl get pods | wc -l` to see the number of pods) and eventually you'll see only the pods that's running and controlled by the RC.

[2016-04-09 00:19] Random-Liu commented on #24070
@ncdc Good to know that! If that won't affect the user experience, I'll just ignore the `Logs` option for now. :)

[2016-04-09 00:28] Random-Liu opened #24076 "Kubelet: Leverage version compare in engine-api"
Now, we implement our own version compare for both docker version and docker api version. (See [code](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L847-L913))

After https://github.com/docker/engine-api/pull/195 gets merged, we should use it instead of our own.

Ref #23563

[2016-04-09 00:52] saad-ali commented on #21498
CC @kubernetes/sig-storage @kubernetes/rh-storage

[2016-04-09 01:54] yifan-gu commented on #24018
Either let bridge plugin or kubenet do it sounds fine to me. Let kubenet do it seems to be a little less work.

[2016-04-09 01:57] bprashanth commented on #24018
I think the reason to let bridge plugin do modprobe bridge is so it outside Kube :)
I agree bridge plugin should probably not care about iptables, because it has no idea if the caller cares about iptables

[2016-04-09 02:00] yifan-gu commented on #24018
@bprashanth Yeah, but in kubenet's case. Users can carry their own bridge binary, right? So if we do it in kubenet driver code, does that seem to be more reliable?

[2016-04-09 02:03] Huimintai commented on #24033
OK,Thank you:)

[2016-04-09 02:13] bprashanth opened #24078 "Convert ns/name to --namespace=ns"
Minor improvement in UX maybe?
[code]

[2016-04-09 02:30] binarybana commented on #21513
I thought the same thing and indeed CoreOS doesn't have a localhost entry there, but it does have it in a deeper system level entry (which someone in the CoreOS irc pointed me too but I forgot the specific path).

[2016-04-09 02:33] thockin-cc commented on #24078
We have semi-ambiguous syntax because 'get pod/foo' is also valid.  We
should have define syntax for this early on.
On Apr 8, 2016 7:13 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-04-09 02:33] zhouhaibing089 commented on #24078
+1 for the UX improve.

[2016-04-09 02:36] bprashanth commented on #24078
get pod/foo != get pod ns/foo ?

[2016-04-09 02:48] zhouhaibing089 commented on #24078
`kubectl get pod/ns/name`.... LOL

[2016-04-09 03:28] bgrant0607 commented on #19736
kploy example: https://www.youtube.com/watch?v=ErrzlDewdVQ&index=12&list=PLosInM-8doqcBy3BirmLM4S_pmox6qTw3

[2016-04-09 03:53] bgrant0607 commented on #24057
Makes sense to me.

[2016-04-09 03:54] #23639 closed

[2016-04-09 04:18] bgrant0607 commented on #13610
On lifetime: we plan to support cascading deletion, so lifetime shouldn't be an issue. Just use ConfigMap.

[2016-04-09 04:18] #13610 closed

[2016-04-09 04:19] bgrant0607 commented on #24044
Yes, this is a dupe of #831.

[2016-04-09 04:19] #24044 closed

[2016-04-09 04:29] bgrant0607 commented on #23896
Kubecon presentation:
https://www.youtube.com/watch?v=__ic1Q94osA&index=28&list=PLosInM-8doqcBy3BirmLM4S_pmox6qTw3

[2016-04-09 06:40] mark9white commented on #21546
I’m not sure if it’s already in scope in this issue, but not only should inodes be reported, but a low inode situation should also trigger container GC.

[2016-04-09 09:36] johanhaleby commented on #23722
Oh and another thing. I think support underscores would make it easier to migrate from docker and docker-compose since they both allow you to specify the environment variables from a file (--env-file). Migrating these files to work on kubernetes with config maps would require you to replace the underscores with (for example) dashes which in my view should not be necessary.

[2016-04-09 10:41] druidsbane commented on #23188
Does it match the docs? The master IP should be the private one mentioned in the docs right? I hope we wouldn't have to depend on the public master IP being looked up manually. Can you post the commands used?

[2016-04-09 14:05] gmarek commented on #23545
It's nearly constantly failing for Kubemarks:
[code]

[2016-04-09 14:44] kargakis commented on #21648
sgtm

[2016-04-09 16:12] OlafurTorfi commented on #16836
Yes this is still an issue. My problem is (exactly) the same as @JunejaTung . Did you manage to resolve the issue @JunejaTung ?

When I run:
kubectl describe pod kube-dns-v10-zr63u --namespace=kube-system
I notice that the skydns container does not start properly
`  skydns:
    Container ID:	docker://ca9309f1665d7fc3a2c24f0ebeec3c97f571fba09c5bb2530a8c74dc0c2d1464
    Image:		gcr.io/google_contain

[2016-04-09 16:17] OlafurTorfi commented on #16836
Yes this is still an issue. My problem is (exactly) the same as @JunejaTung . Did you manage to resolve the issue @JunejaTung ?

When I run:
kubectl describe pod kube-dns-v10-zr63u --namespace=kube-system
I notice that the skydns container does not start properly

Then if I run
docker logs ca9309f1665d7fc3a2c24f0ebeec3c97f571fba09c5bb2530a8c74dc0c2d1464
I get

I was following the tutorial found he

[2016-04-09 17:38] OlafurTorfi commented on #16836
I noticed that skydns was trying to use 127.0.1.1 ... which wouldn't work.

I did this to stop using 127.0.1.1:

sudo vi /etc/NetworkManager/NetworkManager.conf

And commented out the line `dns=dnsmasq`

`
[main]
plugins=ifupdown,keyfile,ofono
#dns=dnsmasq
`

Then I restarted the network manager with:
`sudo systemctl restart network-manager`

And restarted kubernetes and everything running on it

[2016-04-09 19:44] ArtfulCoder commented on #23505
I am closing this for now. Please reopen if you are still seeing issues.

[2016-04-09 19:44] #23505 closed

[2016-04-09 19:47] marineam commented on #21513
localhost is in the read-only hosts file at /usr/share/baselayout/hosts

Both files are used, with the entries /etc/hosts being ordered first.

[2016-04-09 19:47] ArtfulCoder commented on #19634
I am coming up with a new version of kubedns pod and will have local dns caching on nodes. I will keep this issue open till then

[2016-04-09 19:48] ArtfulCoder commented on #18159
done.

[2016-04-09 19:48] #18159 closed

[2016-04-09 19:48] marineam commented on #21513
That said, the two-file scheme has proven to be problematic so we may change that some day.

[2016-04-09 19:57] ArtfulCoder commented on #16836
If skydns is using 127.0.1.1, that is because your node is using 127.0.1.1. In such cases, you need to start kubelet with the resolv-conf flag that points to a custom resolv.conf file,  and specify the nodeip as the nameserver in that custom resolv.conf file.
That is the kubernetes-supported approach to fixing these kind of issues where node has dnsmasq process running.

[2016-04-09 19:58] ArtfulCoder commented on #20550
In v1.3, we will have local dns caching on nodes. we should completely be able to get rid of these flakes.

[2016-04-09 20:00] ArtfulCoder commented on #22823
For 1.3, we will have local dns response caching on nodes. This problem should completely go away.

[2016-04-09 20:13] jmound commented on #23604
Additionally, The docs at http://kubernetes.io/docs/user-guide/simple-nginx/ state that you can create a replication controller with `kubectl run my-nginx --image=nginx --replicas=2 --port=80` and to delete it with `kubectl delete rc my-nginx` which leaves the deployment intact.

[2016-04-09 20:25] willmore commented on #23744
We are facing the same issue on `1.1.4`.
On our deployment, we manually create 443 listeners. These are removed upon controller restart.

[2016-04-09 20:30] davidopp commented on #19049
https://github.com/NVIDIA/nvidia-docker/

[2016-04-09 20:34] therc commented on #19049
BTW, I opened an issue there and they seem receptive to either adding new endpoints or letting us link the `nvidia` package directly: https://github.com/NVIDIA/nvidia-docker/issues/66

[2016-04-09 23:06] ajohnstone commented on #24028
[code]

[2016-04-09 23:24] ajohnstone commented on #23869
duplicate of #24028 PR #24081

[2016-04-09 23:32] ajohnstone commented on #24028
I'm not sure whether its wise to clean up the key-pairs.

[2016-04-10 04:11] paralin commented on #19475
Was there an update to this? I need to access the image id from inside the container as well.

[2016-04-10 04:16] bprashanth opened #24082 "Pathological testing mode"
Would be nice to have an e2e testing mode that ran with:
- No retries
- Crash on panic
- Really long/really short timeouts (whichever is worse, eg: watch should never timeout)

Maybe pass --fail-fast to all daemons and pipe that through kube-up?

[2016-04-10 05:16] thockin commented on #22823
Caching will be great, but we don't have an answer here as to WHY they are
having intermittent failures, do we?  We don't see that in our own setup.

We're getting an awful lot of reports on problems like this - far too many
for it to be PEBKAC.  We either have really bad docs or we're missing
something.

Can we collate all of the bugs that have been filed and see what root
causes we have found so

[2016-04-10 05:19] thockin commented on #24018
We should do it everywhere.  Belts and suspenders.

On Fri, Apr 8, 2016 at 7:00 PM, Yifan Gu <notifications@github.com> wrote:

[2016-04-10 12:50] tooda02 commented on #23505
@ArtfulCoder Sorry for the delay in responding - I changed my environment to work from 1.2 GA source (it turns out Centos yum install brings in alpha 1), and am having trouble recreating the environment where I observed the issue (node will not go active).  I will keep trying and let you know the results of your command and whether or not this appears to be an alpha 1 issue.

[2016-04-10 13:18] Frostman opened #24083 "[kubectl] abbrev "dpl" for deployments"
Most of the objects have the abbreviation (short form) in kubectl, for ex. rc == replicationcontroller. It'll be useful to have an abbrev for "deployments" as well and I'm proposing to use "dpl" for it.

[2016-04-10 13:39] felipejfc opened #24084 "KUBE_ENABLE_INSECURE_REGISTRY=true makes nothing if also using KUBE_USE_EXISTING_MASTER=true on KUBERNETES_PROVIDER=aws"
Trying to deploy a multi-az workers cluster I found that when I add the second zone using

KUBE_USE_EXISTING_MASTER=true MULTIZONE=1 KUBERNETES_PROVIDER=aws KUBE_AWS_ZONE=us-west-1b NODE_SIZE=t2.small KUBERNETES_SKIP_DOWNLOAD=true KUBE_SUBNET_CIDR=172.20.1.0/24 MASTER_INTERNAL_IP=172.20.0.9 NUM_NODES=1 KUBE_AWS_INSTANCE_PREFIX=kubernetes-stag KUBE_ENABLE_INSECURE_REGISTRY=true ./kubernetes/cluster

[2016-04-10 13:52] qhj918 opened #24085 "faild to startup etcd when run shell :service etcd start"
I ran these command on Ubuntu Server 15.10：
KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
when it ran at reconfDocker.sh  in line of this line : /opt/bin/etcdctl get /coreos.com/network/config,the std show errors like those:
[sudo] password to start master:
Error:  client: etcd cluster is unavailable or misconfigured
error #0: dial tcp 127.0.0.1:4001: getsockopt: connection refused
error #1: dial tcp 12

[2016-04-10 13:56] stevesloka commented on #22433
I'm going to close this issue since things are working for me. I you still have troubles @Morriz might be good to open your own issue for better tracking.

[2016-04-10 13:56] #22433 closed

[2016-04-10 15:00] AdoHe commented on #24083
@kubernetes/kubectl

[2016-04-10 15:35] pendoragon opened #24086 "regression on apiserver CORS"
We found a regression on apiserver CORS that was previously fixed by #17093. It seems the regression is caused by #18113 during apiserver refactoring.
Related issue #16431.

[2016-04-10 15:38] Pendoragon commented on #24086
@nikhiljindal Is this intended or did I miss anything?

[2016-04-10 19:32] luxas commented on #24078
This would make `kubectl` SO much easier to use :+1:

[2016-04-10 19:44] thockin commented on #24078
I dont disagree, but it is somewhat complicated to transition now.  Maybe
something  like 'kind/ns:name' which would be less ambiguous and strictly
compatible (ns:name is not a valid name, nor is it confusing wrt kind/name).

Need to define precedence of this with --namespace flag and in-file
namespace yaml.

I also don't see it as a huge win, personally.  It would have been nice
from day1 but rel

[2016-04-10 19:58] bgrant0607 commented on #23497
There's no way to predictably cause Kubernetes to pull a ":latest" image exactly when you'd like. I recommend not using ":latest" for anything other than short-duration pods. See also #1697.

[2016-04-10 20:21] yissachar commented on #24002
I found that the minion node route tables are being added by the createRoute function in https://github.com/kubernetes/kubernetes/blob/c6e995a824094a96f7d43a25e897283f83a12997/pkg/cloudprovider/providers/aws/aws_routes.go#L112. Seeing what that does I figured out that the Source/Dest check was enabled on my minions, even though it shouldn't have been.

Now, I can manually fix my cluster after brin

[2016-04-10 20:21] yissachar commented on #24002
I found that the minion node route tables are being added by the createRoute function in https://github.com/kubernetes/kubernetes/blob/c6e995a824094a96f7d43a25e897283f83a12997/pkg/cloudprovider/providers/aws/aws_routes.go#L112. Seeing what that does I figured out that the Source/Dest check was enabled on my minions, even though it shouldn't have been.

Now, I can manually fix my cluster after brin

[2016-04-10 21:33] yissachar commented on #24002
I figured out that createRoute is called from kube-controller on the master, when I had been looking at the minion logs the whole time. Knowing that it was trivial to look at the master logs for kube-controller and see this message:

[code]

As it turns out, I had attempted to run `kube-up` previously using an existing VPC. I had thought that I had cleaned up the effects of this but there was stil

[2016-04-10 21:33] #24002 closed

[2016-04-10 21:42] andrewmichaelsmith opened #24088 "hyperkube + kubectl - unknown flag"
When trying to use kubectl from hyperkube I'm met with "unknown flag" errors. It looks as if the flags aren't being passed through to kubectl but hyperkube is trying to handle them itself (and subsequently giving an error when you give it flags it doesn't understand).

You can reproduce simply by running:

[code]

And you'll see the error:
[code]

[2016-04-10 21:59] bgrant0607 commented on #22368
@caesarxuchao @rata We'll likely need a custom mechanism in Deployment to ensure that a referenced ConfigMap is owned by the generated ReplicaSets that reference it.

[2016-04-10 22:05] JeanMertz commented on #23597
Personally, I'd be fine with 3:

* the current version, obviously
* one release old, to roll back in case of errors
* the oldest release of the three, as a safe-guard in case we did two breaking releases in a short time-span.

Of course, this is very arbitrary, but having three give me a safer feeling than only having the last two.

[2016-04-11 00:12] rata commented on #22368
@bgrant0607: not sure why you clarification now. But, just in case, the cascading deletion PR @caesarxuchao created a few days ago is this one: https://github.com/kubernetes/kubernetes/pull/23928 (you are on Cc: there)

[2016-04-11 00:27] therc commented on #19049
@Hui-Zhi: you already experimented with a lot of the work in your changes at https://github.com/kubernetes/kubernetes/compare/master...Hui-Zhi:try_nvidia_docker_merge_devices_support

Initially we might have to

- keep nvidia-docker-plugin in an external process (which also means no more giant Godeps changes) and define additional HTTP endpoints for it
- add the resource `nvidiaGpu` instead of `de

[2016-04-11 01:10] uruddarraju commented on #23831
There was an other issue with the RemoveRoute call in go-restful for webservices having more than one route. Fixed it in https://github.com/emicklei/go-restful/pull/275

[2016-04-11 02:17] Hui-Zhi commented on #19049
@therc I think just add "--device" to kubelet, and all the GPU allocate/release things let Kubelet do is the best way. Regarding add the resource nvidiaGPU instead of devices, it's OK for now, but it would be better we add devices as the name, and in the devices, we can add GPU, then the driver of GPU also need to be described, like "nvidiaGPU", "IntelGPU" ... and the need to change the current st

[2016-04-11 02:18] Hui-Zhi commented on #19049
By the way, I'll update my PR and include the answers of @erictune 's questions about it.

[2016-04-11 02:27] ghodss opened #24089 "kubectl validation fails when creating a non-v1 object in a v1 list"
In other words, you can't create/replace/delete/apply deployments with kubectl if they're in a list.

Works as expected:

[code]

Does not work as expected:

[code]

This is a high priority issue for us, since it means we can't (easily) use apply (or any kubectl command) with lists of JSON objects since we've moved all our replication controllers over to deployment objects, which is hampering the

[2016-04-11 03:10] AdoHe commented on #23979
@lavalamp thanks for explanation :)
But I found another problem about import-boss, it seems when we analyze imports for a package, not only we consider the directly import, but also we consider some deep level imports, as I found even there is no direct import of `pkg/api/errors` in `pkg/storage`, in the final import array which import-boss gets, there is still `pkg/api/errors`. is this intended o

[2016-04-11 04:58] bgrant0607 commented on #22262
Sorry for the terse comments. I'm timesliced among 1000 different things.

Yes, as you've figured out, a DisruptionBudget would imply that spreading of the pods associated with the same budget would need to be spread.

Generating a DisruptionBudget automatically is worth considering.

I'm fine with maintaining legacy behavior so long as we don't need to add anything to the API just for that purpos

[2016-04-11 05:45] wojtek-t commented on #22262
Thanks for explanation @bgrant0607

Also, we had some offline conversations about it last week and we decided that:
1. short term we will add a reverse index to scheduler to maintain backward compatibility
2. medium/long term we will switch to using controlerRef, add DisruptionBudget support etc.
3. Note that once controlerRef is added, we will need the reversed index only for services and at that

[2016-04-11 06:12] mingchuno commented on #19149
+1

[2016-04-11 06:24] bgrant0607 commented on #11935
@herry13 I assume the requirement of 3 VMs is for availability?

That sounds like it could be expressed using anti-affinity:
https://github.com/kubernetes/kubernetes/blob/master/docs/design/podaffinity.md
or disruption budget:
https://github.com/kubernetes/kubernetes/issues/12611

As for killing scheduled pods so they can be replaced and scheduled elsewhere, that's related to rescheduling:
https:/

[2016-04-11 06:50] jadhavnitind commented on #23621
@pmorie Pod Spec output.

[code]

Pod Logs
# kubectl logs secret-env-pod
APACHE_FRONTEND_SERVICE_HOST=10.231.242.106
KUBERNETES_PORT=tcp://10.231.240.1:443
KUBERNETES_SERVICE_PORT=443
HOSTNAME=secret-env-pod
SHLVL=1
HOME=/root
APACHE_FRONTEND_PORT=tcp://10.231.242.106:80
APACHE_FRONTEND_SERVICE_PORT=80
APACHE_FRONTEND_PORT_80_TCP_ADDR=10.231.242.106
APACHE_FRONTEND_PORT_80_TCP_PORT=80
APACHE_FRONT

[2016-04-11 07:13] AdoHe commented on #24089
we just consider the outside group version when we get the schema file for validation. In this example, we will use schema file of this path: `.kube/schema/<version>/api/v1/schema.json`

[2016-04-11 07:42] kargakis commented on #24065
dupe https://github.com/kubernetes/kubernetes/issues/23215

[2016-04-11 07:54] bryk commented on #24002
Can you maybe improve documentation about this or send a PR to fix `kube-up`? You've done a good investigation here which is worth contributing :)

[2016-04-11 08:04] jsafrane commented on #21498
The main reason is long periodical update of clam/PV sync loop (10 minutes by default). Try `kube-controller-manager --pvclaimbinder-sync-period=15s` or even less. Everything should settle after 30 seconds in the worst case.

Also, PVCs should be bound immediately if you create PV first and PVC second.

We're working on improving the binder to remove any unnecessary delays, but it will take time.

[2016-04-11 08:38] kargakis commented on #23597
The current version is not counted in the limit, so in the case you described 3 should be 2.

[2016-04-11 09:43] wojtek-t commented on #11780
This should be fixed in the new generator.

[2016-04-11 09:43] #11780 closed

[2016-04-11 09:45] wojtek-t commented on #22262
I'm starting to implement 1.

[2016-04-11 09:50] mqliang opened #24091 "potential issue of API server cache"
Copy from discussion in https://github.com/kubernetes/kubernetes/pull/23795#issuecomment-208176276

May be artificial and speculative though, @wojtek-t will send a PR to address this

[2016-04-11 09:58] wojtek-t commented on #24091
@kubernetes/sig-api-machinery

[2016-04-11 10:01] zhouhaibing089 commented on #24089
Curious about whether it means a v1 `List` could only contains v1 objects.

And what's the difference between a `List` and writing multiple resources into a single file?

[2016-04-11 10:32] bryk commented on #22687
CC @floreks @maciaszczykm

[2016-04-11 10:37] piosz commented on #23765
@sjpotter which version of Heapster do you use? In version 0.18 there was significant latency in collecting metrics. The problem should be fixed in Heapster 1.0 which was bundled in Kubernetes 1.2 release.
Also the warning might happen right after you created RC and HPA since it takes some time to start collecting metrics for newly created pod (~1 minute).

Regarding 2. this looks like deployment

[2016-04-11 10:42] hlamer opened #24092 "Service IP not available (no route to host) after pod has been restarted on another node."
I have a simple web stack on kubernetes, which consists of 3 pods:
* nginx
* uwsgi
* db

The system is hosted on 5 nodes.
The stack works fine.

I'm testing node failure. To do this I stop `kubelet` on the node which runs `uwsgi` and kill all running containers.
Node is marked as `NotReady`. In about 5 minutes `uwsgi` gets restarted on another node. However `nginx` still fails to connect to `uwsgi

[2016-04-11 10:50] Morriz commented on #22433
I can confirm all works ok with our setup now too. The only noise left is caused by corrupt files, which are only a problem when re-mounting too soon. It's definitely worth noting in the docs tho, as it's a common scenario...

[2016-04-11 11:03] eddytruyen commented on #23758
I found another way to migitate this issue: assign to a container within the pod a `hostPort`.
See https://github.com/kubernetes/kubernetes/wiki/User-FAQ#how-can-i-ensure-that-at-most-one-of-my-pods-is-scheduled-on-each-node.

This implies that 2 replica's of a pod cannot be assigned to the same node by the scheduler.

In this way, pods get always placed on a different node. When nodes shutdown, s

[2016-04-11 11:22] genedna opened #24093 "Kubernetes Need A Private Container Registry"
Registry in Kubernetes is still addone’s and optional component at https://github.com/kubernetes/kubernetes/tree/dae5ac482861382e18b1e7b2943b1b7f333c6a2a/cluster/addons/registry, and only support Docker Registry Protocol.  It is certain that multi container runtimes should be fully supported like rkt(https://github.com/coreos/rkt) , Kurma(https://github.com/apcera/kurma), or even runc(https://gith

[2016-04-11 12:50] munnerz commented on #19899
I've been working on a small microservice that'll monitor the apiserver for new ingress resources and automatically obtain a certificate if necessary (incl. keeping the certificates up to date).

It's available at https://github.com/munnerz/acme-secrets - it's still WIP and not production ready yet, although I am running it on my own personal cluster just fine without issue. Contributions and comm

[2016-04-11 13:01] piosz commented on #23538
@ixdy sorry, I missed that you pasted the same failure. I'll take w look.

[2016-04-11 13:21] pmorie commented on #23621
@jadhavnitind looks like it worked to me:

[code]

[2016-04-11 13:31] mqliang opened #24094 ""empty input" error when have large number of request"
Recently, we made a test with 4k nodes and 4k pods, each node has one pod. Since there are 4k nodes and 4k pods, API server will receive a large number of requests. We run our master on a high performance server(40 cores and 200G mem). In the test, there are lot of "empty input" error in API server log and API server used about 80G mem.

[code]

This error is really hard to debug, just have no ide

[2016-04-11 13:44] amygdala commented on #20961
Just linking in: https://github.com/kubernetes/kubernetes/issues/24030 also.

The PR that removes the pod adoption should be in shortly- https://github.com/kubernetes/kubernetes/pull/22810

[2016-04-11 14:24] sheerun commented on #17532
Happened to me today. I wanted to deploy service, but it magically disappeared after a minute.

[2016-04-11 14:30] jlfields commented on #23623
Thanks @paralin , that did the trick!

[2016-04-11 14:35] sheerun commented on #24040
Maybe you should implement "destroy-handlers" for some keys. e.g. handler that runs when ClusterIP is changed to some other property and sets `clusterIP` to default value.

[2016-04-11 14:48] ghodss commented on #24089
@zhouhaibing089 I believe that is the implication, as demonstrated above.

@AdoHe Maybe we should make an exception if the outer type is a List, and recurse one level deeper and fetch schemas for all versions of the objects inside.

[2016-04-11 15:00] SimoTabtaoui opened #24096 "How to execute command without leaving the pod"
I execute a echo command in my yaml  file, and the pod stop after the echo. how can i run my image with the command ?
[code]

[2016-04-11 15:09] joshm1 commented on #12905
I'm running into this issue on vivid a few times a week.  Happened to 2 out of 3 of my nodes within an hour of each other. Both nodes had plenty of disk space.  Since I'm running a tiny cluster it's become a serious issue (I only have so many replicas), and k8s doesn't mark the node NotReady nor move pods to other nodes.  Anyone who had this problem find the solution?  I'm using v1.2.0

[2016-04-11 15:51] AdoHe commented on #24089
@kubernetes/kubectl need more comments on this:
[code]

[2016-04-11 16:24] erictune commented on #7159
File in question live here now:
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/authorization.md
and it looks fine.

[2016-04-11 16:24] #7159 closed

[2016-04-11 16:38] bprashanth commented on #19899
@munnerz great! suggest opening a pr to get it into contrib. It doesn't need to be 100% ready (like a lot of the other projects in contrib) as long as we're clear about the limitations. This should get it in front of a larger audience and potential contributors. It will also force us to do code review, unittests, document etc :)

[2016-04-11 17:01] yujuhong commented on #24093
related issues: #19033, #1319

[2016-04-11 17:14] spxtr commented on #20461
Ok.

It sounds like we do need 3 nodes, and the stability of the parallel suites makes it look like we don't need more than three for those.

[2016-04-11 17:28] yujuhong commented on #18787
ref: #9620

[2016-04-11 17:46] rootfs opened #24100 "Possible mount leak in e2e volume test"
There is a possible mount leak in running e2e volume test.

Since volume is umounted async in the background, it is possible that in [volumeTestCleanup](https://github.com/kubernetes/kubernetes/blob/release-1.2/test/e2e/volumes.go#L157), the server pod may be killed before the volume is unmounted.

[2016-04-11 18:00] freehan opened #24101 "Pod in RunContainerError Status"
I am using image `gcr.io/mixia-kube/udptest:v1`. The pod event shows `Successfully pulled image "gcr.io/mixia-kube/udptest:v1"`. But I got to the node and found the image is not in `docker images` list. When I manually pull  the image, pod got created successfully.

This used to work for me. Not sure if anything changes with kubelet or gcr.

[code]

kubelet.log:

[code]

[2016-04-11 18:02] reflection commented on #23392
Any updates on this issue?  Thanks.

[2016-04-11 18:23] thockin commented on #20161
I have not yet found a better answer.  Thoughts on resolving this?  I can implement the trailing / very easily, and if we're confident that the links we generate fit this pattern, maybe we should just do it?

[2016-04-11 18:37] thockin commented on #24096
You told us to run "echo", so we ran echo.  If you want us to run something
else, you have to say something else.  What do you want it to run?

You might try "echo yourmessage > file && othercommand" or maybe bundle
that all into a /run.sh script?

On Mon, Apr 11, 2016 at 8:01 AM, simo tabtaoui <notifications@github.com>
wrote:

[2016-04-11 18:39] yifan-gu opened #24103 "rktnetes: Update the kube-up to make master node uses rkt as well"
Today, the master node is still using docker to run master components. The master components are built as docker images and pushed to google storage together with release tarballs. Then the master runs [kube-master-addons.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-master-addons/kube-master-addons.sh) to load the docker images.

For rktnetes 1.0, we want the

[2016-04-11 19:09] yujuhong commented on #24101
I checked docker.log and
 - the image was pulled with no error
 - the image was never deleted

@freehan ssh'd into the node and verified that the docker image was not present.

My guess is that the image was never pulled successfully, but no error was reported.

[2016-04-11 19:15] vishh commented on #23392
We are attempting to improve the overall local cluster experience which should address this - #24106.
Meanwhile, @pmorie might know the current status on making `hyperkube` work for volumes.

[2016-04-11 19:16] freehan commented on #24101
It turns out the cluster and the image are in different projects. So the service account on the node cannot pull image from another project. My bad...

Nevertheless, it should not report successful ...

[2016-04-11 19:16] ixdy commented on #20161
We can make sure that links we generate follow this pattern. It means that someone manually creating a path (like http://pr-test.k8s.io/1234/) will need to add the trailing slash or it won't work, which is annoying, but better than the current fully-broken state.

[2016-04-11 19:19] yujuhong commented on #24101
Yep, it's still a bug.

[2016-04-11 19:22] lavalamp commented on #23979
Yes, this is intended :)

On Sun, Apr 10, 2016 at 8:10 PM, TonyAdo <notifications@github.com> wrote:

[2016-04-11 20:12] fejta commented on #20461
Sounds like we can close this after all?

[2016-04-11 20:25] vipulsabhaya commented on #23932
A full cloudprovider implemention for vSphere doesn't exist today, so at runtime kube can not leverage the cloud provider.

@saad-ali an appropriate label might be 'area/cloudprovider' as well

[2016-04-11 20:34] yujuhong commented on #24101
In short, the bug was introduced *after* switching to the docker engine-api client, and the HEAD is broken -- pulling any non-existent image, or an image that you don't have credentials for, will always report success.

When asking docker to pull an image, the client send a  POST request to docker's /images/create endpoint. In the response, the http status may be 200 but the actual error is encode

[2016-04-11 20:34] quinton-hoole commented on #20461
@fejta Up to you, but I wouldn't recommend it.  In the past we needed to run different numbers of nodes in parallel vs serial clusters, to, amongst others, speed them up.  In the future I'm pretty sure we will too.  Claim is that today we don't. I don't quite understand why that is so - doesn't seem to make sense to me.

[2016-04-11 20:39] Random-Liu commented on #24101
@yujuhong Thanks! I'll fix it.

[2016-04-11 20:52] pdbogen commented on #17620
Digging around in the code, it looks like you just need to add an annotation named "kubernetes.io/role/internal-elb" with any non-blank value to your service.

The code @jessesanford links to is called by the AWS cloud provider's "ensureLoadBalancer" (https://github.com/kubernetes/kubernetes/blob/release-1.2/pkg/cloudprovider/providers/aws/aws.go#L2103), which in turn checks the annotation I menti

[2016-04-11 21:16] mml commented on #23993
@smarterclayton asks a question which actually has two parts.  (1) Which *cases* do we retry on (500? 4xx? TCP errors?) and (2) then which requests.

For (1) I suggest for now that we only retry when we get some kind of transport error like connection refused, connect reset by peer, etc., but not on any HTTP codes.

For (2) I think we should retry every single request.  After all, what else would

[2016-04-11 21:16] saad-ali commented on #23517
Closing. This has been fixed with Kubernetes v1.2.2 which should be available on GKE soon.

[2016-04-11 21:16] #23517 closed

[2016-04-11 21:17] therc commented on #24078
This is more like P0 to me. Somewhere else I complained about having to type too much and the kind/name syntax. My vote if for kind/ns:name, too.

[2016-04-11 21:29] quinton-hoole commented on #23933
Caused by gsutil bug https://github.com/GoogleCloudPlatform/gsutil/issues/348
Workaround available.  Dropping priority.

[2016-04-11 21:31] quinton-hoole commented on #23758
Plan to address this requirement with a rescheduler.
https://github.com/kubernetes/kubernetes/issues/12140

[2016-04-11 21:35] quinton-hoole commented on #23731
Assign to @mikedanese to confirm my prioritization.

[2016-04-11 21:38] mikedanese commented on #23731
Yup this may be a bug in the code in the leaderelection sidecar in contrib/. We should investigate and fix it (I have not yet had time to) but this doesn't affect master component leader election.

[2016-04-11 21:46] vishh commented on #23881
@rwillard Kubernetes (actually the kubelet) is expected to delete old containers and free up disk space. However all this is currently on a best effort basis and we are working towards making it more robust with some degree of predictability wrt. to Node Stability.

I wonder why the backoff policy did not kick in to prevent the containers from being restarted too often. Can you post your DaemonSet

[2016-04-11 21:50] quinton-hoole commented on #23580
cc @erictune FYI.
Do we need an area/iam label?

[2016-04-11 21:51] vishh commented on #14232
Take a look at the comments [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/influxdb/influxdb-grafana-controller.yaml#L56) in the grafana config.
You will have to change some env variables, in addition to changing the service type.

[2016-04-11 21:52] quinton-hoole commented on #23224
@mikedanese what priority?  Provisionally assigning p2.

[2016-04-11 21:54] mikedanese commented on #23881
Two issues here:
1) figure out how the kubelet gc isn't working well
2) Daemonsets (and all controllers) should backoff if an operation is failing repeatedly #22298 and raise events #21912

[2016-04-11 21:54] bgrant0607 commented on #22298
See also #21912 and #2529

[2016-04-11 21:55] saad-ali opened #24111 "Block updates to most fields in PV and PVC objects"
Add validate update function to block updates to all fields in the PersistentVolume (PV) and PersistentVolumeClaim (PVC) objects except those that must be updated by the controller for binding (claim ref, status, etc.).

CC @thockin @bgrant0607

[2016-04-11 21:55] quinton-hoole commented on #23531
Assigned to @mml as per #23689

[2016-04-11 22:00] quinton-hoole commented on #21947
@davidopp Want us to try to take this on for 1.3, as per above proposal? Labeling assuming yes for now, can be deprioritized/relabeled.

[2016-04-11 22:01] mikedanese commented on #23224
This is implemented in #23306, so hopefully will be done for 1.3

[2016-04-11 22:04] mikedanese commented on #19012
This is fixed by #19128?

[2016-04-11 22:04] #19012 closed

[2016-04-11 22:04] saad-ali commented on #24111
This can be done as part of the binder/provisioner/recycler controller consolidation.

[2016-04-11 22:05] gmarek commented on #21947
I'd be very surprised is this is the only case where we pushed something 'post v1.2' and forgot about it...

[2016-04-11 22:18] bgrant0607 commented on #22298
Vaguely related (rate-limiting things): #20699, #22774

[2016-04-11 22:30] fejta commented on #20461
We can add it back to the yaml configs the next time it is necessary. This issue is done.

[2016-04-11 22:30] #20461 closed

[2016-04-11 22:48] dchen1107 commented on #23954
@spxtr I am assigning this one to you so that we can speed up our test cycle. Thanks!

[2016-04-11 22:51] thockin commented on #20161
I have made this change in the URL redirector.

[2016-04-11 22:51] #20161 closed

[2016-04-11 22:56] spxtr commented on #23954
See [hack/jenkins/job-configs/kubernetes-jenkins/kubernetes-soak.yaml](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/job-configs/kubernetes-jenkins/kubernetes-soak.yaml) for our soak configs. It's pretty straightforward to make a new entry.

[2016-04-11 23:14] janetkuo opened #24114 "Fix Docker multi-node setup guide"
The [Docker (multi-node)](http://kubernetes.io/docs/getting-started-guides/docker-multinode/) setup guide seems to be broken, see http://stackoverflow.com/questions/36559737/kubernetes-docker-multinode-dns-deploy-error-failedmount-failedsync

@brendandburns @resouer @luxas @vishh @kubernetes/docs

[2016-04-11 23:17] vishh commented on #24114
I gave it a try, spent some time hacking/fixing the scripts, and the master node failed to come up. I chose to not sink in any more time until we decide if we want to maintain this guide.

[2016-04-11 23:17] SimoTabtaoui commented on #24096
thanks @thockin
my problem is that the pod stop after the execution of the command, i want to execute the command and the image ( application ) continue working
the command is just for doing some modification in the container. no to execute it only.

[2016-04-11 23:21] jayunit100 commented on #22796
Any  update on this issue?

I seem to get alot of godep issues, specifically broken `heapster`.  Am playing w/ upgrading and so on...

[2016-04-11 23:22] saad-ali commented on #21498
Expanding on @jsafrane's suggestion. Here is an example showing how to pre-bind volumes:

Create a PV object with a ClaimRef field referencing a PVC that you will subsequently create:
[code]
where `pv.yaml` contains:
[code]
Then create the PVC:
[code]
The PV and PVC should be bound immediately:
[code]

[2016-04-11 23:23] janetkuo opened #24116 "Azure setup guide broken"
The [Azure setup guide](http://kubernetes.io/docs/getting-started-guides/coreos/azure/) seems to be not working properly in k8s v.1.2, see [this question on StackOverflow](http://stackoverflow.com/questions/36545597/cannot-access-apiserver-on-kubernetes-v1-2-0).

cc @errordeveloper @squillace @chanezon @vishh @kubernetes/docs

[2016-04-11 23:27] janetkuo commented on #24114
In [table of solutions](http://kubernetes.io/docs/getting-started-guides/#table-of-solutions) the support level of Docker multi-node solution is **Project**, i.e. Kubernetes Committers regularly use this configuration, so it usually works with the latest release of Kubernetes.

[2016-04-11 23:32] jayunit100 commented on #22796
I'm assuming the solution might be just nuking godep, as @freeformz suggested?

[2016-04-11 23:32] jayunit100 commented on #22796
s/nuking/godep/gopath

[2016-04-11 23:42] dchen1107 commented on #24093
@genedna Thanks for filing this. @genedna and I had several discussions related to this before. I gave my opinions on this very issue and I will summarize my response below. But I totally understood that my responses doesn't address their problem properly, and suggested him to file the issue so that we can have a wide discussion.

We don't support multi container registry protocols image  out-of-b

[2016-04-11 23:44] markturansky commented on #21498
@saad-ali the UID must also match, else it might not be the same claim:  https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/persistentvolume/types.go#L120

[2016-04-11 23:48] ixdy opened #24120 "kubernetes/cluster/log-dump.sh appears to be broken on G{C,K}E"
The end of passing GKE runs shows stuff like
[code]

and there are no node logs being saved. It appears to be working on clusters that failed to fully start up, though.

@spxtr @fejta

[2016-04-11 23:50] ixdy commented on #24120
`kubernetes-e2e-gke-release-1.2` appears to be affected, too, so probably not due to a code change in Kubernetes.

[2016-04-11 23:57] ixdy commented on #24120
Might be related to #24056. cc @jlowdermilk

[2016-04-11 23:57] AlainRoy opened #24121 "kube-up support for VMware's Photon Controller"
We would like to support kube-up working with VMware's Photon Controller. Photon Controller is a cloud management platform that allows users to manage virtual machines and related resources. Information about Photon Controller is available from:

http://vmware.github.io/photon-controller/

We are aware of the efforts to evolve kube-up, perhaps vie the new kube-deploy. We'll support that effort as

[2016-04-11 23:58] vishh opened #24122 "Kubelet not detecting OOM kills reliably"
I tried running
[code]
and expected the container status to include some OOM related information. But I don't see any...

[code]

cc @kubernetes/sig-node

[2016-04-11 23:58] dchen1107 opened #24123 "Eliminate the docker load from the production"
We built docker images for master components for dev cluster on the fly (https://github.com/kubernetes/kubernetes/issues/5011) before 1.0 release, which uses docker load instead of docker pull from the registry. The initial proposal I made is targeting for dev and test cluster since there is no proper release tag associated with it. Unfortunately, later we abused this functionality to the most mas

[2016-04-12 00:04] smarterclayton opened #24125 "rate_limited_queue_test TestTryOrdering can fail under CPU load"
It's possible for TestTryOrdering to flake:

[code]

because the test doesn't send back synthetic time.Now() values via the nowFn.  Test should be changed so that it can't fail no matter how slow the CPU is.

[2016-04-12 00:05] Gary-Ascuy commented on #23796
@saad-ali Are you sure? could you please confirm if it is a bug .... I have the same problem, it does not works with docker-registry

[code]

[2016-04-12 00:13] ncdc commented on #24096
If you need configuration to be injected either as environment variables or files, you can create a ConfigMap object and then inject its contents into the pod: http://kubernetes.io/docs/user-guide/configmap/

[2016-04-12 00:18] jlowdermilk commented on #24120
It looks like the latest version of gcloud might broke `detect-node-names` for GKE. [This line](https://github.com/kubernetes/kubernetes/blob/master/cluster/gke/util.sh#L230) is getting the fully-qualified self-link for the node instead of just the instance name.

[2016-04-12 00:19] saad-ali commented on #21498
Great point Mark. Updated the example to specify UID.

[2016-04-12 00:23] mikedanese commented on #24123
We have the ability to do this today #17580, we just have to make it the default. It's a dev "action required" as developers will have to specify a DOCKE_REGISTRY in there cluster/env.sh because they don't have access to push dev builds to gcr.io/google_containers. I can make the switch.

Do we remove these images from the release tar altogether?

ref #23605

[2016-04-12 00:34] thockin commented on #24096
When you specify the "command" you are taking over the default thing to run
(in docker called ENTRYPOINT).  It's not a logic "and", it's a logical
"xor".  One or the other but not both.

So you can either run "echo foo > file; /usr/local/bin/foobar" or you can
put that in a script and run the script.

If you want to inject variables you can use the `Env` block, or do as Andy
suggests and use somet

[2016-04-12 00:36] saad-ali commented on #23796
Seems to be working fine for me:
[code]

[code]
[code]

Double check your client and server versions.

[2016-04-12 01:11] bprashanth commented on #24030
@chrislovecnm thanks for you input!

I'm not sure we can get away with this given people will surely have older deployments that they want to get in Kube?

upgrade process depends on version jumps as well.

The data will be in a volume, not in the container. We will be unmounting the volume, updating docker, remounting the volume. But isn't it just safer to drain?

I mean there will be a period of

[2016-04-12 01:56] fejta opened #24127 "Document how to add a new job"
See https://github.com/kubernetes/kubernetes/issues/23954#event-623265616

/cc @spxtr @dchen1107

[2016-04-12 01:59] fejta commented on #23954
@spxtr it is not at all obvious how one might update kubernetes-soak.yaml to control which docker release and/or kernel config is used.

[2016-04-12 04:32] luxas commented on #24114
I have a PR up for this already and I'm going to look into this: #21646
The problem is, I don't know where in the project we should store the whole thing as the docs has been moved. Ideally somewhere in cluster/. cc/ @mikedanese

Another thing I'll work on is getting `curl -sSL http://get.k8s.io/local | bash` working (even for multiple arches) cc/ @fgrzadkowski

[2016-04-12 04:43] AdoHe commented on #23551
@bgrant0607 I just meet some problems when I try to update the `nodePort` type to `intstr.IntOrString`, and the error is:
[code]
I did try to run above scripts to update generated code, but just failed. could you tell me what I have to do after I update `types.go` or how can I update `types.go`? I just can not find some reference documents.

[2016-04-12 04:45] roberthbailey commented on #24123
What if we make kube-up fail (or prompt users for a docker registry that they can push to) if they are launching a locally built version? Running the script against a released version should just pull officially released images.

[2016-04-12 05:39] bprashanth commented on #24122
https://github.com/kubernetes/kubernetes/issues/22322 dupe?

[2016-04-12 07:06] #23320 closed

[2016-04-12 07:33] bgrant0607 commented on #23551
@AdoHe We don't want to change nodePort to IntOrString. In this case, we could probably interpret 0 as unset.

In general, we'd need to change such a field to a pointer. The field would need to be changed in both api/types.go and in api/v1/types.go.

However, the patch really shouldn't have trashed nodePort.

Regardless, I don't think we want to reallocate nodePort if one had already been allocate

[2016-04-12 07:39] grunzwei commented on #22005
+1
this is terrible. really. i keep getting stuck and i have no idea why what and where.

[2016-04-12 07:43] AdoHe commented on #23551
@bgrant0607 I take a deep look at this issue, and just found the root cause of nodePort cannot reuse is that we do simple replace for `ports` in kubectl and apiserver, I think if we want to reuse nodePort, we need to: 1. try to merge `ports` instead of replace 2. change `nodePort` to pointer or we have to update kubectl patch logical [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/

[2016-04-12 08:01] mkulke commented on #23323
I've been watching that for a few days. Memory usage of `kube-apiserver` seems to top out at ~900MB. There's about 50 rc's and services in this cluster, the small CPU spikes and bumps in memory usage correlate with batch-deployments on a "nightly" stage. We also have `1.0.6` clusters of the same size and they use less (~200mb) memory. Not a problem, but maybe the specs for a master should be bumpe

[2016-04-12 08:21] wernight opened #24130 "Diagram of Pod states"
I love the diagram on https://github.com/kubernetes/kubernetes/issues/3312 ![](https://camo.githubusercontent.com/5eafb51b611cf5ca6fd681dcfea51335914f1256/68747470733a2f2f7261776769746875622e636f6d2f6c687561726431412f7468726f74746c696e672d73747564792f6d61737465722f646570656e64656e63795f7468726f74746c696e675f66736d2e737667).

Can we have such a diagram on http://kubernetes.io/docs/user-guide/pod-st

[2016-04-12 08:37] fejta commented on #23545
@jlowdermilk and I have been talking to the GCE team about this. In parallel I have been working on a hacky server to cache requests to the metadata server on our jenkins VMs, but it looks like this will not work because of https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/compute/metadata/metadata.go#L208

[2016-04-12 08:52] chrislovecnm commented on #24030
Sure if they have sstables that are using tokens then yes they would have to use them.  But frankly "best practices" probably should recommend using vnodes.  Adding capacity is much better handled by adding a few nodes, rather than doubling the size of the ring.  Also how are the token values being set?  You have to set the token value in `cassandra.yaml` or with `nodetool`.  You just don't have t

[2016-04-12 09:45] fejta commented on #23545
Looks like I can work around this by adding multiple entries for metadata.google.internal to /etc/hosts

[2016-04-12 09:55] fejta commented on #23545
VICTORY

* http://kubekins.dls.corp.google.com/view/Submit%20Queue/job/kubernetes-e2e-gce/14631/
* https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/14631/

[2016-04-12 09:55] soltysh opened #24132 "Errors in hack/update-generated-conversions.sh being swallowed"
When running `hack/update-generated-conversion.sh` errors are reported but the tool finishes successfully. This is quite frustrating, since I'm relying in the output of the command to verify if it's working ok. Biggest problem is that those error will get swallowed when running `hack/update-all.sh` without `-v -a` flags. See the sample output, I'm getting when moving jobs internal versions:
[code]

[2016-04-12 09:59] wojtek-t commented on #23545
@fejta - awesome!!!
Thanks a lot for working on it!

[even if this just reduces flakiness and not elimates it - what is happening currently is just a disaster]

[2016-04-12 10:35] fejta commented on #23545
BOOM! We are back up and merging: http://submit-queue.k8s.io/#/e2e

The cache reduces load on the metadata server from ~20qps to ~0 qps (1 query per ten mins or so), and it also retries intermittent flakes refreshing the access token via the metadata server (since we know we're on gce it is safe to retry errno 111, which metadata.go and gcloud cannot do for perf reasons for regular users). So I ex

[2016-04-12 11:18] jsravn commented on #23323
@mkulke it will change based on workload, since it's the deserialized JSON strings of apiserver types. #23914 makes the cache size configurable and also lowers it to 1000 from 50k. In my worst cluster (where it does jenkins builds of docker containers, which bloats the NodeStatus object size), 5000 entries gives me ~1GB max memory footprint, the default 50K oomkilled and kept growing past 2-3GB.

[2016-04-12 11:42] bks7 commented on #21613
After upgrading Kubernetes to 1.2 version issue was resolved.

[2016-04-12 11:43] #21613 closed

[2016-04-12 12:00] AdoHe commented on #23838
@bgrant0607 like this:
[code]

[2016-04-12 12:14] wernight opened #24133 "kubectl cannot set --no-headers with --outputs"
There is no documentation and no visible way to have custom columns without header:

    $ kubectl get pods --no-headers --output=custom-columns=PHASE:.status.phase

Having no header name also doesn't work:

    $ kubectl get pods --output=custom-columns=:.status.phase

[2016-04-12 13:24] Gary-Ascuy commented on #23796
I did that at the first, it's following version good, right? I will review other things..., thanks for your time :+1:
[code]

[2016-04-12 13:49] eparis commented on #22796
I was going to close this as un-reproducable. What's your problem @jayunit100

[2016-04-12 13:52] bgrant0607 commented on #23838
@AdoHe Yes, though I'd prefer to use the full resource type names (services, replicationcontrollers).

[2016-04-12 14:15] bgrant0607 commented on #23551
@AdoHe Good catch!

We need to specify that this field should be merged:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L1783

by adding `patchStrategy:"merge" patchMergeKey:"port"`

[2016-04-12 14:18] AdoHe commented on #23551
@bgrant0607 I did try to do this, add this `patchStrategy:"merge" patchMergeKey:"nodePort"`, but we still have to change `nodePort` field to a pointer, I tried to update this to `NodePort *int32`, and then I found it hard to find a good way to update the generated files, I did try to run `hack/update-codecgen.sh` and `hack/after-build/run-codegen.sh` but still fail in this type change.

[2016-04-12 14:20] AdoHe commented on #23551
As for now I think it is really hard to change the `types.go`, we have lots of generation work to do, and there is no such document about this.

[2016-04-12 14:20] bgrant0607 commented on #23551
@AdoHe The patchMergeKey should be port, not nodePort.

[2016-04-12 14:21] bgrant0607 commented on #23551
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#strategic-merge-patch

[2016-04-12 14:24] bgrant0607 commented on #23551
If you still find you need to update nodePort to a pointer and the compilation errors are in generated code, comment out that code and then try to regenerate it:

https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api_changes.md#edit-version-conversions

[2016-04-12 14:26] AdoHe commented on #23551
@bgrant0607 thanks very much. :) I will try that.

[2016-04-12 14:40] jadhavnitind commented on #23621
Not sure whats happening with me but its not working here :(

[2016-04-12 14:44] erictune commented on #23217
@pweil- will you have time to do any work on PSP in the next few weeks?