[2018-01-04 21:16] rvkubiak commented on #15639
I am working on a process for promoting add-on images to the google-containers GCR repo.  The same automation can be reused for multiple registries, so it should be flexible enough to handle testing images also.

I'm working on getting this ready for google-containers and expect to have it running by next week.  After that's working I'd be happy to look at getting it running for additional registr

[2018-01-04 21:17] lavalamp commented on #57559
This is not api machinery specific.

[2018-01-04 21:19] caesarxuchao commented on #57606
cc @jennybuckley

[2018-01-04 21:20] caesarxuchao commented on #57617
/assign @cheftako

[2018-01-04 21:21] lavalamp commented on #57660
I think this is not api machinery?

[2018-01-04 21:23] liggitt commented on #57606
from the server's perspective, `apply` is just a patch operation. apply being able to update an existing object does not necessarily mean it would be valid to use to create a new object.

[2018-01-04 21:28] caesarxuchao commented on #57705
cc @yliaog

[2018-01-04 21:30] deads2k commented on #26507
I'm interested in having both intra- and inter- process tracing, but the best I could do is offer review time.  I've generally used this kind of information to chase bugs in multi-threaded code.  Using it to track bottlenecks instead of using a metrics gather tool would be new for me.

[2018-01-04 21:31] lavalamp commented on #57710
This is not api machinery. But you may want to figure out why `%!d(string=http-web)/TCP` is in the TargetPort.

[2018-01-04 21:37] lavalamp commented on #57668
Looks like a kubelet bug (requesting a resource without specifying a name).

[2018-01-04 22:00] msau42 commented on #52128
/lifecycle frozen

This may be something we need to resolve in the future as we scale the number of mounts on a node.

[2018-01-04 22:00] msau42 commented on #52128
/remove-lifecycle stale

[2018-01-04 22:09] liggitt commented on #57848
no, they're different types.

a service selector is `map[string]string`:
https://github.com/kubernetes/kubernetes/blob/fa2ea5284e608854c9ad5e00699ee013ad3ae886/staging/src/k8s.io/api/core/v1/types.go#L3390-L3397

a deployment selector is metav1.LabelSelector:
https://github.com/kubernetes/kubernetes/blob/fa2ea5284e608854c9ad5e00699ee013ad3ae886/staging/src/k8s.io/api/apps/v1/types.go#L272-L275

[2018-01-04 22:09] #57848 closed

[2018-01-04 22:09] liggitt commented on #57834
/kind bug
/assign @mengqiy

[2018-01-04 22:11] liggitt commented on #57837
claimName must be a string that is the name of the PVC object

[2018-01-04 22:11] #57837 closed

[2018-01-04 22:33] liggitt commented on #57459
The output of `kubectl get ... -o yaml` is an API... I would not expect the type to change from v1.List

[2018-01-04 22:38] bsnchan commented on #57765
@dixudx

I think the issue may be more than just the hostname. The hostname on my vm is set to `49ff9bab-a7de-490d-a428-c5282a5cf075`

[code]

Since the OpenStack cloud provider uses the instance name to register with the api server, I also get error messages like the following:

[code]

It seems like for OpenStack specifically, it sets it's node name to the name returned from the OpenStack metada

[2018-01-04 22:52] liggitt commented on #57240
nonymous" cannot create certificatesigningrequests.certificates.k8s.io at the cluster scope. (post certificatesigningrequests.certif
icates.k8s.io)

that indicates the kubelet doesn't have proper credentials to reach the API server. check the --bootstrap-kubeconfig and/or --kubeconfig parameters

[2018-01-04 22:52] #57240 closed

[2018-01-04 22:52] #56582 closed

[2018-01-04 22:55] liggitt commented on #17549
stratification between generic authorization (RBAC, webhook, etc) and admission validation (compiled in or via webhook) is pretty well defined at this point.

[2018-01-04 22:55] #17549 closed

[2018-01-04 23:00] jpbetz commented on #57822
`pull-kubernetes-cross` is passing again, presumably due to https://github.com/kubernetes/test-infra/pull/6148.  Thanks!

[2018-01-04 23:00] #57822 closed

[2018-01-04 23:55] bsalamat commented on #57842
Have you tried
`kubectl taint nodes kube11 beta.kubernetes.io/arch-` or
`kubectl taint nodes kube11 beta.kubernetes.io/arch:NoSchedule-` or

[2018-01-05 00:26] gzzo opened #57853 "Cronjob started on the wrong schedule after edit"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug Report

/kind bug

**What happened**: I edited a cronjob's schedule, and the cronjob started immediately after the edit.

I changed the schedule from "30 11 * * 5" (so 11:30AM UTC on Friday) to "0 11 * * 5" (so 11:00AM UTC on Friday) at 23:49 UTC on Thursday.  After the edit, the cronjob created a task immediately.

Even weirder, when I describe th

[2018-01-05 00:30] nelsonfassis commented on #12644
You can "fix" it by editing /etc/docker/daemon.json and tell docker to log on files:
{
"log-driver": "json-file",
"log-opts": {
"max-size": "1m",  # Max size of the log files.
"max-file": "3"    # The maximum number of log files that can be present.
 }
This will make the *.log available for filebeat/fluentd to read from.

[2018-01-05 00:31] jianglingxia commented on #50421
I have done it,and I will close the issue,thanks for you all!

[2018-01-05 00:31] #50421 closed

[2018-01-05 00:40] crimsonfaith91 commented on #50109
/close

[2018-01-05 00:40] #50109 closed

[2018-01-05 00:42] saiyan86 commented on #57253
From https://github.com/containernetworking/cni/blob/master/SPEC.md:

"The container runtime must order ADD and DEL operations for a container, such that ADD is always followed by a corresponding DEL. DEL may be followed by additional DELs, however, and plugins should handle multiple DELs permissively (i.e. plugin DEL should be idempotent)."

[2018-01-05 00:58] mengqiy commented on #57834
This error message comes from server-side validation.

SMP should return an error message when the merge key is missing.

Sent a fix #57854

[2018-01-05 01:03] MarkDeckert opened #57855 "Kubelet package in yum repo not signed"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

/kind bug

**What happened**:

When trying to do a yum update to 1.9.1 from the kubernetes yum repo, yum update fails and get error: "*long random string* kubelet-1.9.1-0.x86_64.rpm is not signed"

**What you expected to happen**:  Package to be signed

**How to reproduce it (as minimally and precisely as possible)**: yum update -y

**Envir

[2018-01-05 01:06] #50865 closed

[2018-01-05 01:06] #56253 closed

[2018-01-05 01:10] MarkDeckert commented on #57855
/sig release

[2018-01-05 01:28] divyenpatel commented on #57844
I have removed `/usr/sbin/` and `/usr/lib/` from kubelet container on the worker node.
[code]

After removing above options, I see newer version of mount and mkfs.ext4 in the container.

[code]

With this change I see kubelet is able to format the volume.

I guess previously mount related utilities were not present in the hyperkube image, not sure when this is added back?

[2018-01-05 01:38] mlmhl commented on #57744
You are right @rootfs , `getDeviceNameFromMount` indeed has two return path, but the second return still can't meet our needs. Because the `mountPath` parameter of `getDeviceNameFromMount` is the mount path for a specific pod, such as `/var/lib/kubelet/pods/80043ba0-f1b7-11e7-8c96-0800273c9701/volumes/kubernetes.io~rbd/pvc-6d931b5d-f1b7-11e7-8c96-0800273c9701`, its format is `/var/lib/kubelet/pods

[2018-01-05 01:40] jhorwit2 commented on #57371
I started on something here https://github.com/oracle/kubernetes/pull/11 but haven't had time to get back to it :/ I was hoping to find time in 1.9 cycle.

[2018-01-05 01:40] resouer commented on #51779
/remove-lifecycle stale

[2018-01-05 01:41] resouer commented on #51779
The community doc is in, so will close this by amending a user guide somewhere.

[2018-01-05 01:41] m1093782566 commented on #57841
@jsravn You can assign any IPVS related issue to me directly :)

/assign

[2018-01-05 01:45] StephenLU0422 commented on #56996
I also meet this problem,when I setup k8s cluster with kubeadm and then kubectl create flanner,so that the pod kube-dns have error message "Pod sandbox changed, it will be killed and re-created."

[2018-01-05 01:49] StephenLU0422 commented on #56996
`]#kubectl get pods -n kube-system`

NAME                                       READY     STATUS              RESTARTS   AGE
etcd-host1.ambari.com                      1/1       Running             1          15h
kube-apiserver-host1.ambari.com            1/1       Running             1          15h
kube-controller-manager-host1.ambari.com   1/1       Running             1          15h
kube-dns-24

[2018-01-05 01:55] nicksardo opened #57860 "GCE: ILBs created with the wrong subnet will stop syncing after upgrade"
/kind bug
/assign

**What happened**:
ILB sync fails due to the existing forwarding rule & address referencing a subnet where the cluster does not exist.

**What you expected to happen**:
ILB sync continues to work despite the fact the load balancer uses the wrong subnet.

**How to reproduce it (as minimally and precisely as possible)**:

 - Create a K8s pre-1.8.7 cluster on GCP specifying only an

[2018-01-05 01:56] nicksardo commented on #57860
/sig network
/area platform/gce

[2018-01-05 02:31] #57834 closed

[2018-01-05 02:38] wenlxie commented on #57643
@zetaab  I agree with @jingxu97 's comments at https://github.com/kubernetes/kubernetes/pull/56846 and we are going to do node auto remediation to handle this situation(e.g. reboot the node first, if it not work, then  delete the node from cloud provider and cluster.)

Now we changed function `IsPodTerminated` as following to detach the volume for `UNKNOWN` pod. We will remove this after node reme

[2018-01-05 02:38] justlooks opened #57863 "cannot find package "github.com/coreos/etcd/clientv3""
i download kubernetes code ,and try compile etcd image using this,but get error,why?

[code]

[2018-01-05 02:44] wenlxie commented on #57643
@zetaab I found I had a similar PR to fix one condition which caused  issue 1 before. https://github.com/kubernetes/kubernetes/pull/53855
I just removed the `Status: "ACTIVE"` from the nova list options.

Thanks for you patch.

[2018-01-05 02:54] niuzhenguo commented on #57712
@ShualLiu Yes, there's no such issue on master branch.

[2018-01-05 02:54] KeithTt commented on #57442
I do have two partitions, but the partition where kubelet is placed is also less than 50%...Maybe there is something else have something to do with this...

I find a problem in my HA cluster, a cert issue, and after I resolve the cert issue this issue disappeared. It is very strange...

[2018-01-05 03:07] dims commented on #32432
/lifecycle frozen

[2018-01-05 03:10] harryge00 opened #57865 "Cannot scale down statefulset if pods keep CrashLoopBackOff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. Create a statefulset which will never be running:
[code]
2. Scale down it
[code]
3. check the pods
[code]
4. It seems like only running pods will be deleted. And CrashLoopBackOff pods are not included into "CURRENT" pod.

**What you expected to happen**:
I guess the failss-0 should be deleted after replicas set to 0, b

[2018-01-05 03:15] niuzhenguo commented on #57459
@liggitt Sure, without Flatten set, such request already got a List object with all properties we needed. Flattening the original object and aggregate the items into a virtual list is not necessary in such case and will empty metadata & resourceVersion, selfLink for the collection.

[2018-01-05 03:23] jianglingxia commented on #57639
sorry,So long to active the issue,I've been working on this problem but in nova compute /var/log/cinder/api.log have not found 400 code but 404, Is it not in this log of api.log?can help me with it?thanks for all!
![image](https://user-images.githubusercontent.com/25783555/34594232-c82b939c-f20a-11e7-8fea-af60e984b5a2.png)

[2018-01-05 03:30] liggitt commented on #57459
Doesn’t it get a PodList, not a List?

[2018-01-05 03:35] justlooks commented on #57863
the problem is the image using to compile lack go package

[2018-01-05 03:36] shadowlan commented on #57855
I met the same issue when run
[code]
the error mgs is "Package efde37cfcd34c8232daafb0337b8ba5fda70100ab6988fca71ba30ce929311dd-kubelet-1.9.1-0.x86_64.rpm is not signed. "
I am using the same kubernetes repository, but yesterday, it installed kubelet-1.9.0-0.x86_64 without any issue.

[2018-01-05 03:45] niuzhenguo commented on #57459
@liggitt Yes, it's a PodList, but afterwards it will get replaced with List https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/resource/get.go#L619-L631

[2018-01-05 03:50] m1093782566 commented on #57841
@jsravn

I have a question:

Why? Currethere is no way to pass the weight in IPVS proxier, so we set weight to 1 by default. What's the advantage of setting weight to 0? Will it resolve this issue?

[2018-01-05 04:13] mkumatag opened #57869 "Manifest list for kubernetes images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

This issue if for tracking the work related to pushing manifest list for kubernetes images(infra and test)

List of images for which manifest need to be created:

- [x] [pause](https://github.com/kubernetes/kubernetes/tree/master/build/pause) - https://github.com/kubernetes/kubernetes/pull/57723
- [x] kubernetes to use manifest pause im

[2018-01-05 04:13] mkumatag commented on #57869
/assign

[2018-01-05 04:30] mkumatag commented on #57869
/cc @luxas @ixdy

[2018-01-05 04:31] MorgenSun commented on #57855
below yum command can manage the previous version install , let`s wait K8S fix this problem soon

yum install -y kubelet-1.9.0-0.x86_64 kubeadm-1.9.0-0.x86_64 kubectl-1.9.0-0.x86_64

[2018-01-05 04:32] jacobpm commented on #10921
**@thockin**  I am facing a similar issue.  I tried the above solution, but was not able to get it to work.  It would be great to have your inputs regarding this please.  We are currently blocked on this.

We are running nginx as a NodePort service, listening on ports 80 and 443.  There is no external LB involved.  The nginx service is the external facing entity.  In this case, the source IP gets

[2018-01-05 04:33] mkumatag commented on #57869
/sig cluster-lifecycle

[2018-01-05 04:33] mkumatag commented on #57869
/sig testing

[2018-01-05 04:43] #55216 closed

[2018-01-05 04:49] jingxu97 commented on #57844
@divyenpatel I am not aware of the change. Why it fail to format when mount utilities added back?

[2018-01-05 04:54] andrewsykim commented on #39090
@mattjmcnaughton the limits were introduced with `--horizontal-pod-autoscaler-downscale-delay` and `--horizontal-pod-autoscaler-upscale-delay` in the `kube-controller-manager` but I was hoping the delay can be specified on a per HPA basis instead of a catch-all in the kube-controller-manager.

I personally think the delay should be on a per HPA basis, if others agree I think we should leave this i

[2018-01-05 05:35] tjliupeng opened #57870 "kubeadm init fail to start etcd container for k8s 1.9 cluster on CentOS 7"
We try to install K8s 1.9 cluster without internet using kubeadm in China. So we prepull all the images to local machine.
The firewalld is disabled and stop.

**What happened**:
We run the command:
`sudo kubeadm init --pod-network-cidr=10.244.0.0/16 --kubernetes-version=v1.9.0`

Then it hangs on the log below
`This might take a minute or longer if the control plane images have to be pulled.`

Chec

[2018-01-05 05:50] tjliupeng commented on #57870
/sig cluster-ops

[2018-01-05 06:07] tjliupeng commented on #57870
/sig cluster-lifecycle

[2018-01-05 06:08] harryge00 commented on #57865
Update: Cannot scale down to 0, if the pods keep `ContainerCreating`.

**How to reproduce it **
1. Create any statefulset whose PVC cannot be bound.
2. Scale the replicas to 0

[2018-01-05 06:13] den-is opened #57873 "kubelet.rpm 1.9.1 is not signed"
/kind bug

**What happened**:
[code]
**What you expected to happen**:
Complete installation without errors

**How to reproduce it (as minimally and precisely as possible)**:
- get fresh centos 7.4 1708
- setup kubernetes repo
- try to install kubelet standalone or as dependency of kubeadm

**Environment**:
- Kubernetes version (use `kubectl version`): supposed to be 1.9.1
- Cloud provider or hardw

[2018-01-05 06:28] abhijt-zanak opened #57876 "how to map load balancer to node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
when I create service having load balancer , it adds all the nodes in to load balancer .

**What you expected to happen**:
I want to add specific node to load balancer. however , it adds all the nodes from cluster.

**How to reproduce it (as minimally and precisely as possible)**:
create 3 nodes, and create service havin

[2018-01-05 06:42] AvTiMp commented on #57029
my etcd verison is:
[code]
i means namespaces directory under /pod in etcd still exists after the corresponding namespace was deleted

[2018-01-05 07:04] jianglingxia opened #57878 "PVC with a non-empty selector can’t have a PV dynamically provisioned"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when I create a pvc with selector,cann't dynamically create pv!
![image](https://user-images.githubusercontent.com/25783555/34598811-e474126c-f229-11e7-989c-a6af9ee19c40.png)
![image](https://user-images.githubusercontent.com/25783555/34598826-f481424c-f229-11e7-916b-ba090bc5a2cf.png)

![image](https://user-images.githubusercontent.

[2018-01-05 07:06] jianglingxia commented on #57878
/sig storage

[2018-01-05 07:31] benoit74 commented on #57847
/kind bug

@lvthillo
This is not a Kubernetes issue but a gcloud SDK issue. Please address your issue to gcloud SDK maintainers.
Obviously I would suggest that your gcloud SDK is most probably out-of-date.
Anyway, we cannot help on this repository, so I recommend to close the issue.
/close

[2018-01-05 07:53] davidopp commented on #22212
ref/ #47604

[2018-01-05 08:03] wojtek-t commented on #48107
I think that it actually still is.
But I will let @shyamjvs answer this (he is on vacation now, will be back on Monday)

[2018-01-05 08:03] wojtek-t commented on #48107
/lifecycle frozen

[2018-01-05 08:07] #56669 closed

[2018-01-05 08:07] #56631 closed

[2018-01-05 08:08] #56620 closed

[2018-01-05 08:20] shoneSolomon opened #57881 "How should I use the key value to execute the command"
**# How should I use the key value to execute the command, like the following:**

the normal: python main.py --network=network --name=alex;
the new in kubenetes:
sudo kubectl exec pod_name -c containner_name -- /usr/bin/python2 /root/main.py -network=network -name=alex

[2018-01-05 08:27] hzxuzhonghu opened #57882 "customresource handler may data race"
/kind bug

**What happened**:
crdStorageMap read write in `removeDeadStorage`
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go#L268

and
`updateCustomResourceDefinition `
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go#L448~#

[2018-01-05 08:28] hzxuzhonghu commented on #57882
/kind bug
/sig apimachinery

[2018-01-05 08:28] hzxuzhonghu commented on #57882
/sig apimachinery

[2018-01-05 08:36] abhijt-zanak commented on #57876
@kubernetes/sig-kops
/sig elb

[2018-01-05 08:42] wenlxie commented on #57799
+ 1
We also met this issue before.
Keep tracking

[2018-01-05 08:43] abhijt-zanak commented on #57876
/sig kops

[2018-01-05 08:43] lvthillo commented on #57847
@benoit74 I'll do, no it's up to date. It was the first install on that machine yesterday, I even ran the update. But it's still in beta. (region)

[2018-01-05 08:44] abhijt-zanak commented on #57876
sig/elb

[2018-01-05 08:44] adarshpradhan opened #57884 "Kubernetes component version (kube-apiserver, etcd, flannel, weavenetworks, etc)"
**What happened**: Need to understand the compatible versions of kubernetes sub-component docker image version

**What you expected to happen**: Documentation/portal update

**How to reproduce it (as minimally and precisely as possible)**: N/A

**Anything else we need to know?**:
Is there a document or portal that can address the below details:
1. What is the version of kubernetes compatible with

[2018-01-05 08:46] pkdetlefsen commented on #37518
Is this something that might get supported eventually? It would be a big plus to be able to put all your services, hosted on different domains using multiple certificates, behind a single Google Cloud Load Balancer using an Ingress.

Currently I can work around the issue by managing the additional certs manually, as it looks like the GCLB does support multiple certs and SNI. For now I will probabl

[2018-01-05 08:49] abhijt-zanak commented on #57876
/sig network

[2018-01-05 08:49] pkdetlefsen commented on #37518
/remove-lifecycle stale

[2018-01-05 08:57] tommyknows commented on #53566
Bug still persists on k8s 1.9.0, On-Premise.
I am able to delete the deployment when executing the following command(s):
[code]
Only deleting the deployment on the [cluster] does not work as the federation controller automatically recreates the deployment. That's why it works when you first delete the deployment on the federation with `--cascade=false`...

[2018-01-05 09:03] miaoyq opened #57889 "Received panic when execute e2e-node test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Received panic when I make a e2e-node test:

[code]

**What you expected to happen**:
Do not panic.

**How to reproduce it (as minimally and precisely as possible)**:
Execute `e2e-node` test locally like:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud pro

[2018-01-05 09:05] miaoyq commented on #57889
/sig testing

[2018-01-05 09:05] #57847 closed

[2018-01-05 09:12] Eddman commented on #57873
I can confirm that kublet-1.9.1 can't be installed. The only option is to use:
[code]

[2018-01-05 09:18] toddams commented on #33664
Any news about this?

[2018-01-05 09:34] yu2003w opened #57891 "hostPath doesn't work as expected when used directly with deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
When using hostPath as volume within deployment, pod didn't start successfully.
In my example, hostPath used as volume mounted into Pod. Actually volume itself worked as expected and I could write contents to the hostPath.
However, it seemed that hostPath blocks other functionalities.
In my test, without hostPath, nginx co

[2018-01-05 09:35] jsravn commented on #57841
@m1093782566 Setting weight to 0 puts the real server into "maintenance mode" so to speak. The scheduler will stop sending new connections to it, but existing connections remain active. It's the correct way to gracefully remove a server from IPVS as far as I know.

So syncEndpoint on endpoint delete should:
1. Set weight to 0 of the real server for the endpoint that is removed
2. Set a delayed tas

[2018-01-05 09:40] m1093782566 commented on #57841
great comment! will try and fix it if works

Thanks

[2018-01-05 09:45] jsravn commented on #57841
Hopefully you can fix this for UDP connections too, since iptables proxier suffers from a bug where it drops the udp connection immediately (causing errors when kube-dns is restarted for instance...). It'd be nice if the ipvs proxier could handle that better.

[2018-01-05 09:49] sttts commented on #57559
@spiffxp can you exclude the client-go README, INSTALL.md and CHANGELOG to move this topic forward? client-go needs further discussion and thoughts around the release process.

[2018-01-05 10:34] rakeshkulkarni6 commented on #56693
HI @jdumars

My environment is affected with this issue.. can you please help me to move this ticket or add any members to close this issue ASAP.

[2018-01-05 10:50] hjwp commented on #53533
A workaround for those who really want swap.  If you

- start kubelet with `--fail-swap-on=false`
- add swap to your nodes
- containers which do *not* specify a memory requirement will then by default be able to use all of the machine memory, including swap.

That's what we're doing.  Or at least, I'm pretty sure it is, I didn't actually implement it personally, but that's what I gather.

[2018-01-05 11:39] komljen commented on #20475
Running `sudo ip link set docker0 promisc on` works for me on minikube.

[2018-01-05 11:59] php-coder commented on #34963
@zetaab Do you still have this issue?

[2018-01-05 12:05] zetaab commented on #34963
well not really, i have not tested it newest kubernetes anymore. From my point of view this can be closed, lets reopen if needed

[2018-01-05 12:40] php-coder commented on #34963
@zetaab Ok, thanks!

I'm not sure that we should close this issue as it's about new sub-resources.

@pweil- @liggitt Is it still an issue? AFIU "use" subresource is already here.

[2018-01-05 13:07] mattjmcnaughton commented on #39090
Ah, I understand - thanks for clarifying @andrewsykim! There's been some discussion about this in [this issue](https://github.com/kubernetes/kubernetes/issues/56335) as well.

From @DirectXMan12

So definitely something people are thinking about, but I think there's some hesitation towards the per HPA method.

[2018-01-05 13:16] mattjmcnaughton commented on #57798
Hi @wmarra - thanks for reporting this!

Just to confirm - when you say "my cluster need to use auto-scaling..." are you saying you're using the [kubernetes autoscaler](https://github.com/kubernetes/autoscaler)? If so, you might find that the [autoscaler repo](https://github.com/kubernetes/autoscaler) is more helpful.

Or are you using EC2's auto-scaling (i.e. letting EC2 auto-scale the nodes with

[2018-01-05 13:18] gmarek commented on #52159
/lifecycle frozen
/remove-lifecycle stale

[2018-01-05 13:50] piontec opened #57897 "EndPoint unavailable for a long time (almost 2h) for a correct Service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
One of Endpoint objects was missing for a Service that had 1 matching Pod running. The Endpoint returned after 1h45m.

**What you expected to happen**:
For the Endpoint to stay with us and be there

**How to reproduce it (as minimally and precisely as possible)**:
I have no idea, I even don't know why it was fixed.

**Anyt

[2018-01-05 13:51] piontec commented on #57897
/sig network

[2018-01-05 14:24] liggitt commented on #57029
that is expected using etcd API version 2

[2018-01-05 14:29] Ka1wa opened #57898 "Kubectl get --export includes namespace information for pods"
/kind bug
/sig cli

**What happened**:
When I do a `kubectl get -o yaml --export po/podName-v1-2722560640`

[code]

So from the metadata the namespace field got stripped but in the selfLink it is still there. Whereas with other resources such as deployments, RS or RCs it would have resulted in: `/api/v1/namespaces//pods/podName-v1-2722560640-crn8r`

**What you expected to happen**:
Consistent beha

[2018-01-05 14:42] jryberg commented on #56794
@squeed do you have any example how to do this patch?

[2018-01-05 14:46] djsly commented on #40684
Currently we have the luxury of managing the kubelet.service file ourselves, so we augmented it with a ExecPost logic. While this is working right now, an official solution would be preferable as this auto label creation logic did caused us a few issue in the past.

*kubelet.service*
`ExecStartPost=/etc/kubernetes/azure-label-creator.sh`

*azure-label-creator.sh*
[code]

[2018-01-05 14:51] SedjiG commented on #57873
Same issue: Package efde37cfcd34c8232daafb0337b8ba5fda70100ab6988fca71ba30ce929311dd-kubelet-1.9.1-0.x86_64.rpm is not signed

Eddman comment seems to work.
Thanks

[2018-01-05 15:05] gtirloni commented on #43400
I have recently used Docker 17.03 without issues with CentOS 7.4.

/close

[2018-01-05 15:05] #43400 closed

[2018-01-05 15:25] gzzo commented on #57853
/sig scheduling

[2018-01-05 15:30] liggitt commented on #27152
we don't plan to make controllers use impersonation at this time

[2018-01-05 15:30] #27152 closed

[2018-01-05 15:31] liggitt commented on #35254
closing federation-specific issues, can reopen in https://github.com/kubernetes/federation/issues/ if desired

[2018-01-05 15:31] #35254 closed

[2018-01-05 15:52] rushabh268 commented on #57873
Seeing the same issue with 1.9.0 as well on a fresh install

[2018-01-05 16:03] paralin commented on #57712
I see the client was 1.6 and server 1.8. Likely some incompatibility.

[2018-01-05 16:03] #57712 closed

[2018-01-05 16:36] dashpole opened #57901 "Use Memory Cgroup notifications for Allocatable evictions"
Once we monitor the `/kubepods` cgroup for metrics #55638, collect them on demand (#56112), and make memory cgroup notifications effective (#51745),
we should add an additional notification threshold for making allocatable evictions more responsive.

/sig node
/priority important-longterm
/kind feature

[2018-01-05 16:37] liggitt commented on #37822
client_secret is now optional for the k8s oidc config, which means we can support public clients (with or without client_secret) and confidential clients (with client_secret, per kubectl user)

[2018-01-05 16:37] #37822 closed

[2018-01-05 16:42] dashpole commented on #31362
There are a couple items I still would like to tackle related to evictions in the 1.10 - 1.11 timeframe:
Enable On-Demand metrics: https://github.com/kubernetes/kubernetes/pull/56112
Fix Implementation of Memory Cgroup notifications: https://github.com/kubernetes/kubernetes/issues/51745, https://github.com/kubernetes/community/pull/1451
Cleanup eviction signals: https://github.com/kubernetes/kuber

[2018-01-05 17:00] BernhardBerbuir commented on #57873
There is a extrem difference in size between 1.9.0 and 1.9.1:
[code]
=> installing 1.9.1 might not be a good idea ...

[2018-01-05 17:03] liggitt commented on #57882
/cc @deads2k

[2018-01-05 17:14] liggitt commented on #57873
Duplicate of https://github.com/kubernetes/kubernetes/issues/57855

[2018-01-05 17:14] #57873 closed

[2018-01-05 17:14] funky81 commented on #57873
I have different size than yours...

yum info kubelet
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: centos.mirror.angkasa.id
 * extras: centos.mirror.angkasa.id
 * updates: centos.mirror.angkasa.id
Installed Packages
Name        : kubelet
Arch        : x86_64
Version     : 1.9.1
Release     : 0
Size        : **96 M**
Repo        : installed
From repo   : kuberne

[2018-01-05 17:29] bidianqing opened #57904 "Failed to start kubelet.service: Unit not found."
![image](https://user-images.githubusercontent.com/12196280/34620601-f47b3512-f280-11e7-872c-026dad624ffe.png)
Please tell me what to do?

[2018-01-05 17:41] dims commented on #57904
did you try doing a `systemctl daemon-reload` and then starting kubelet?

if that does not work, try the suggestions made under the heading `Locate this type of problem, often used in the order` at:
https://www.codeday.top/2017/06/22/29521.html

/close

[2018-01-05 17:41] #57904 closed

[2018-01-05 17:51] bboreham opened #57905 "Turn off per-cpu stats in kubelet cAdvisor"
/kind feature
/sig node

Kubelet does not use per-CPU stats, and https://github.com/google/cadvisor/pull/1852 will allow us to disable them.

My motivation for wanting this is to cut the overhead of collecting and storing CPU usage metrics - with 16-core machines I get 16x as many timeseries as I need.

[2018-01-05 17:55] dashpole commented on #57905
Those values are set [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_linux.go#L111) for the kubelet.

[2018-01-05 17:59] spiffxp commented on #57559
@sttts I think I'm doing what you've asked in #57571, the only client-go files I'm adding to k/k staging are:
- .github/PULL_REQUEST_TEMPLATE.md
- .travis.yml
- CONTRIBUTING.md

[2018-01-05 18:06] spiffxp commented on #41904
/close
Taking an educated guess that this isn't going to get fixed given that we've seen no additional reports of this happening here.  Please /reopen if this is still happening

[2018-01-05 18:06] #41904 closed

[2018-01-05 18:06] 2color commented on #46421
I'm experiencing the same problems with Azure Disks and Tectonic.

Getting 409
`failed with compute.VirtualMachinesClient#CreateOrUpdate: Failure responding to request: StatusCode=409 -- Original Error: autorest/azure: Service returned an error. Status=409 Code="AttachDiskWhileBeingDetached" Message="Cannot attach data disk 'kubernetes-dynamic-pvc-xxxxxxxxxxxxxxxxxx' to VM 'xxxxxxxxx-worker-1' bec

[2018-01-05 18:43] liggitt commented on #56899
while the server is in this state, what do the following return:
[code]

[2018-01-05 18:46] mattfarina commented on #45756
@jdfless I know I'm a little late in responding but there is a method...

1. For the job spec, in the cronjob, add metadata labels
1. Use the labels to query for the jobs
1. In the job data (e.g., if you output it as json or yaml) you'll find a selector you can use
1. Use the selector to query for pods. Note, you might have to use show-all to get completed pods

It's a few steps but does provide a

[2018-01-05 18:49] mattfarina commented on #5721
/remove-lifecycle stale

This is relevant to the app def working group discussions on labels and annotations.

[2018-01-05 18:53] divyenpatel commented on #57844
@jingxu97

I see previously we were using `mke2fs 1.42.13 (17-May-2015)` and `mount from util-linux 2.27.1 (libmount 2.27.0: assert, debug)` from docker host.

And in the hyperkube image I see we have  newer version of mount utilities - `mke2fs 1.43.4 (31-Jan-2017)` and `mount from util-linux 2.29.2 (libmount 2.29.2: selinux, btrfs, assert, debug)`

May be something is changed in the way we are mo

[2018-01-05 18:56] psycotica0-shopify commented on #28969
We've been using a service with a static Cluster IP for ZK for a while now.
`service.alpha.kubernetes.io/tolerate-unready-endpoints` seems to have worked for us in that regard.

The only bad part is having to produce the services ourselves / keep them in sync.

[2018-01-05 19:07] yujuhong commented on #44976
Let me try to summarize the discussions. JSON supports better extensibility, but it incurs a higher CPU usage (~6x) compared with the current text format. There are also other methods to address some extensibility issues, e.g., metadata, and log format may not be the place to host the information. We reached a conclusion in 1.9 to continue using the text format, with a new TAG field to address the

[2018-01-05 19:07] #44976 closed

[2018-01-05 19:37] msau42 commented on #52441
Tutorial has been updated to use default storage class.

/close

[2018-01-05 19:37] #52441 closed

[2018-01-05 19:53] rpothier opened #57907 "kubeadm: consolidate prefix code"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
MarshalToYamlForCodecs adds an indent to the yaml output.
This code can be combined with PrintBytesWithLinePrefix

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud

[2018-01-05 19:54] rpothier commented on #57907
/assign rpothier

[2018-01-05 19:57] rpothier commented on #57907
/sig cluster-lifecycle

[2018-01-05 19:59] sttts commented on #57559
Yes, just make sure those files are removed from the client-go repo before. After that #57571 can go in.

[2018-01-05 20:13] groner opened #57909 "kubectl create secret tls reads key and cert twice, which breaks with bash process substitution"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

The supplied cert and key are replaced with empty strings.

**What you expected to happen**:

The supplied cert and key are in the secret.

**How to reproduce it (as minimally and precisely as possible)**:

This example uses openssl to generate a key and self signed cert, but any key/cert pair should suffice if o

[2018-01-05 20:14] groner commented on #57909
/sig cli

[2018-01-05 20:20] mtanino commented on #57544
@mlmhl @rootfs

Could you let me know the exact steps which problems happens?

As @rootfs mentioned above, DevicePath in the volume object isn't updated for all non-hypervisor assisted volumes. I proposed following approach to update volume object and then save devicePath to etcd.

https://github.com/kubernetes/kubernetes/issues/54108
https://github.com/kubernetes/kubernetes/pull/54264

But this a

[2018-01-05 20:23] spiffxp commented on #57689
At this point I believe I have opened up PR's with all repos that have any links pointing here.  Once they're all merged I will delete the tombstones I've dropped in the wiki, and disable the wiki

[2018-01-05 20:38] resouer commented on #54370
@srflaxu40 One possible issue is related to `AllAlpha=true`, could you please check that? Also, the fix has been cherry picked to 1.8 last month, so upgrade your cluster to latest version will probably fix it.

[2018-01-05 20:40] spiffxp commented on #52504
/remove-lifecycle stale
@kubernetes/sig-node-test-failures this is still failing https://storage.googleapis.com/k8s-gubernator/triage/index.html#ea6679417165f10786e6

[2018-01-05 20:41] spiffxp commented on #52508
/close
triage cluster no longer present, gubernator makes it look like these jobs aren't running anymore?

[2018-01-05 20:41] #52508 closed

[2018-01-05 20:42] spiffxp commented on #52509
/close
triage cluster no longer present

[2018-01-05 20:42] #52509 closed

[2018-01-05 20:47] MarkDeckert commented on #57855
Success.  Thanks!

[2018-01-05 20:51] stevenmccord opened #57910 "Kubeadm/Kubelet 1.7.x versions no longer in Centos Repo"
It looks like kubernetes 1.7.2 RPM for CentOS are missing at the repository https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata
https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/filelists.xml

This is just like #49500, but I think with the release of 1.9.1 it might have got removed?

Will you be putting that back in the centos repo?

/sig release
@ku

[2018-01-05 20:52] spiffxp commented on #57907
/priority important-soon

[2018-01-05 20:59] spiffxp commented on #34255
/remove-lifecycle stale
/remove-priority important-soon
/priority critical-urgent
Hi @kubernetes/sig-contributor-experience-misc-use-only-as-a-last-resort I think we should make this a priority for 1.10

[2018-01-05 21:09] spiffxp commented on #10710
/lifecycle stale

[2018-01-05 21:13] spiffxp opened #57911 "Remove non-standard, undocumented, unused, or deprecated github labels"
This, of course, begs the question of "where are the github labels documented" because they're not, really (#34255)

We have a "standard" subset propagated across all repos at https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml.  We could start by documenting those.  [This PR](https://github.com/kubernetes/test-infra/pull/2706 was where I tried to get the standard subset )

[2018-01-05 21:21] verult commented on #51570
This issue has been fixed in https://github.com/kubernetes/kubernetes/pull/51474

[2018-01-05 21:21] #51570 closed

[2018-01-05 21:37] gcstr opened #57912 "Can"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-01-05 21:41] strouja commented on #57910
Hi, We are severely adversely affected as well. It's even worse than that.  At this time, every version of Kubernetes except 1.9.1 is no longer in the repository.

[2018-01-05 21:41] djsly commented on #56086
Sure, let me open up a new issue.

[2018-01-05 21:41] #56086 closed

[2018-01-05 21:43] gcstr opened #57913 "Can't install older versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
older versions are not available for package manager

**What you expected to happen**:
To install Kebelet 1.7.x

**How to reproduce it (as minimally and precisely as possible)**:
yum install kubelet-1.7.0-0.x86_64

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`

[2018-01-05 21:44] gcstr commented on #57913
/sig release

[2018-01-05 21:45] djsly opened #57914 "loadBalancerSourceRanges service spec should allow service Tag strings"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When using the loadBalancerSourceRanges property of a service in a manifest, we are force to use a CIDR block.

This was discovered while debugging the following issue. https://github.com/kubernetes/kubernetes/issues/56086

**What you expected to happen**:
Azure allows us to use Service Tags (e.g. VirtualNetwork, Inte

[2018-01-05 21:46] djsly commented on #57914
/sig azure

[2018-01-05 21:47] djsly commented on #57914
@jdumars Here's the requested Feature.

[2018-01-05 21:54] spiffxp commented on #34255
Before getting too caught up in the color of the bikeshed, my hope would be that we proceed something like:
- first add a `description:` field in `labels.yaml` and add descriptions to all of the labels there
- _then_ decide what consumes that field, and what sort of "user friendly" docs should be generated from it
- setup said tool such that docs are auto-generated (or just served live!) everytime

[2018-01-05 21:56] msau42 opened #57915 "Single pod using two partitions from same GCE PD fails to mount"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Tried to mount two partitions from the same GCE PD disk in a pod, but it failed to mount one of the volumes.  The theory is mount uses only the disk name and pod uid to construct a unique volume name, but in this case, it should also take into account the partition number too.

**What you expected to hap

[2018-01-05 22:03] RochesterinNYC opened #57916 "`kubectl apply --prune` with ability to ignore a namespace"
/kind feature

The use case that I was trying to get `kubectl apply --prune` to accommodate was to have it act as a sort of syncing tool between the targeted cluster and a git monorepo containing all resource manifests that we want deployed in the cluster (this monorepo would essentially represent "here are the ONLY resources we want deployed to a cluster in namespaces other than the `kube-system`

[2018-01-05 22:06] RochesterinNYC commented on #57916
@kubernetes/sig-cli-feature-requests

[2018-01-05 22:07] RochesterinNYC commented on #57916
The use case about wanting `--prune` to prune a resource correlated with a deleted resource manifest file seems related to https://github.com/kubernetes/kubernetes/issues/40635

[2018-01-05 22:09] RochesterinNYC commented on #40635
Bumping that this issue is one we're interested in. Use case is in https://github.com/kubernetes/kubernetes/issues/57916

[2018-01-05 22:16] chen23 commented on #57913
I am having the same issue.

This changed recently.  This morning I could see all of the packages and now only the latest.
Now
[code]
This morning
[code]
Google cache: http://webcache.googleusercontent.com/search?q=cache:JpggnrfGv5EJ:https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/primary.xml&num=1&hl=en&gl=us&strip=0&vwsrc=1

The files are still there, just no way to re

[2018-01-05 22:20] chen23 commented on #57910
me too.  https://github.com/kubernetes/kubernetes/issues/57913#issuecomment-355680356

[2018-01-05 22:41] rayterrill commented on #47131
Is it possible to run into this issue on a new Kubernetes install with 1.9.1?

Stuck here:
`
 sudo kubeadm init --pod-network-cidr=10.244.0.0/16
[init] Using Kubernetes version: v1.9.1
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks.
        [WARNING FileExisting-crictl]: crictl not found in system path
[preflight] Starting the kubelet service
[certificates] Gen

[2018-01-05 23:11] daniel-kun commented on #52787
I face a similar problem with yaml template files that include CPU architecture, such as amd64. I often had to change those manually to arm when deploying on a raspberry pi for testing purposes. One popular example is metrics-server, where amd64 is hard-coded in the yaml:
https://github.com/kubernetes-incubator/metrics-server/blob/master/deploy/metrics-server-deployment.yaml

[2018-01-05 23:32] tpepper commented on #57912
This looks like an accidental dup of #57913

[2018-01-05 23:33] ericchiang commented on #57912
/close

[2018-01-05 23:33] #57912 closed

[2018-01-05 23:34] kminehart commented on #52787
@daniel-kun I'm going to assume that you're using Go, but i guess that doesn't have to be true for this to work.

`envsubst` is a great tool here, especially since you're already compiling your code using `$GOOS` if you're using Go.

Template:

[code]

[code]

[code]

I think there are plenty of tools available for this; it doesn't have to be embedded into `kubectl`. :)

[2018-01-05 23:43] spiffxp commented on #52429
/area test

[2018-01-05 23:43] tpepper commented on #57881
Please re-post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see mess

[2018-01-05 23:43] tpepper commented on #57881
/kind support

[2018-01-06 00:01] #57276 closed

[2018-01-06 00:03] spiffxp commented on #52310
/close
triage cluster no longer present

[2018-01-06 00:03] #52310 closed

[2018-01-06 00:04] spiffxp commented on #57889
/sig node

[2018-01-06 00:04] thockin commented on #4301
/lifecycle frozen
/remove-lifecycle stale

[2018-01-06 00:10] spiffxp commented on #52309
/remove-lifecycle stale
/sig gcp
/kind bug
/priority important-soon
triage cluster is still present, a number of jobs are continuously failing

[2018-01-06 00:11] spiffxp commented on #48107
/remove-lifecycle frozen

[2018-01-06 00:11] spiffxp commented on #48107
whoops, I meant
/remove-lifecycle stale
/lifecycle frozen

[2018-01-06 00:14] thockin commented on #57794
This is part of the design of Endpoints - you need to create a Service to go with it, or it will get cleaned up.

[2018-01-06 00:14] #57794 closed

[2018-01-06 00:15] thockin commented on #57876
Can you explain why you want to add a specific node?

[2018-01-06 00:23] thockin commented on #57144
I can not assign it unless you are in the org, but you can consider it yours.

[2018-01-06 00:24] thockin commented on #57015
@cheftako

[2018-01-06 00:24] Arnavion commented on #57870
Essentially the container is running as this:

[code]

The `:2380` IP corresponds to the `--listen-peer-urls` parameter which kubeadm isn't supplying, so etcd is deriving it manually but with a bogus value.

If I run it with an explicit value it works:

[code]

I don't know if this is a bug in etcd (deriving a bad IP to listen on) or kubeadm (not providing the `--listen-peer-urls` explicitly) or d

[2018-01-06 00:25] thockin commented on #56957
This does not seem to be a bug in kube-proxy - nobody else has reported it before or since.  Is it still happening for you?  Kubelet should SIGKILL eventually, if that isn't happening it may be a kernel bug or something?

[2018-01-06 00:25] #56957 closed

[2018-01-06 00:27] thockin commented on #56934
FYI 11.0.0.0 is owned by the US Department of Defense...

[2018-01-06 00:28] resouer commented on #57667
@spiffxp I would like to +100 to "reviewers + approvers + bots" == "drastically reduce membership of kube-maintainers", while one thing is, many of them are actually added according to the membership criteria, how will this work respect that?

[2018-01-06 00:29] thockin commented on #56903
5s is pretty much ALWAYS indicating a DNS timeout, meaning some packet got dropped somewhere.

[2018-01-06 00:31] thockin commented on #56901
I really don't think we want to impose DNS refreshing on implementations of NetworkPolicy without a bunch of REALLY REALLY good use cases that just CAN NOT be solved any other way.  Do we have such use cases?

[2018-01-06 00:31] #56901 closed

[2018-01-06 00:34] pbx0 commented on #40955
Seems like there is some extra cruft lying around in some of the layers. It still deflates to ~600MB.

[code]

[2018-01-06 00:47] Arnavion commented on #57870
Ah, this is the same as https://github.com/coreos/etcd/issues/9070 and https://github.com/kubernetes/kubernetes/issues/57709

I do indeed have a `localhost.<domain in search path>` that resolves to the IP in the error.

@tjliupeng Check if you have one too, and if it has the IP in your error.

[2018-01-06 00:50] ixdy commented on #40955
Yes, as I noted in https://github.com/kubernetes/kubernetes/issues/42589#issuecomment-354340743, the hyperkube image still has quite a few dependencies due to the way hyperkube is used.

[2018-01-06 00:51] thockin commented on #56887
I can't reproduce this.

[2018-01-06 00:51] thockin commented on #56887
When you run tcpdump, can you use `-i any` ?

[2018-01-06 00:57] thockin opened #57922 "kube-proxy NodePort access via localhost, with externalTrafficPolicy=Local => martian source"
/kind bug
/sig network

If I set up a service with a NodePort and set `externalTrafficPolicy=Local`, and try to access it as `myhostname:port` it works.  If I try to access it as `localhost:port`, it triggers a martian source error - the packet gets forwarded as 127.0.0.1.  We need some masquerade in there.

Applies to iptables mode.  Maybe ipvs mode, not sure?

[2018-01-06 00:58] thockin commented on #56887
You're not using externalTrafficPolicy, are you? https://github.com/kubernetes/kubernetes/issues/57922

[2018-01-06 01:00] brianredbeard commented on #56934
As is 6.0.0.0/8

[2018-01-06 01:01] #56776 closed

[2018-01-06 01:02] msau42 commented on #57915
This is not urgent to fix because we generally don't recommend partitioning GCE PDs.  Instead, create separate PDs for each volume with the size you need.  Advantage is you can resize the PD afterwards.

[2018-01-06 01:02] thockin commented on #56720
kube-proxy usually talks to the master directly by IP, so if you change teh master IP, kube-proxy gets lost?

[2018-01-06 01:03] #56693 closed

[2018-01-06 01:03] Arnavion commented on #57709
To clarify the workaround, the minimal config file is:

[code]

and used as `kubeadm init --config /path/to/kubeadm.yaml`

[2018-01-06 01:04] thockin commented on #56320
https://github.com/kubernetes/kubernetes/issues/57922 ?

[2018-01-06 01:05] #57826 closed

[2018-01-06 01:07] thockin commented on #56458
What is motivating this request?  Jordan's answer is best, I think.

[2018-01-06 01:09] thockin commented on #56318
I think you need to file this against flannel, or whatever you used to install it.

[2018-01-06 01:09] #56318 closed

[2018-01-06 01:09] Secretions commented on #57910
me three. Been doing work with 1.8.x and now it's gone. :(

[2018-01-06 01:10] thockin commented on #56226
In general you can not assume the master has access to anything in the cluster, nor that it runs kube-proxy.

[2018-01-06 01:10] #56226 closed

[2018-01-06 01:10] #56135 closed

[2018-01-06 01:10] #56133 closed

[2018-01-06 01:11] thockin commented on #56017
@bboreham since it said weave :)

[2018-01-06 01:14] thockin commented on #55951
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

[2018-01-06 01:14] #55951 closed

[2018-01-06 01:15] #55816 closed

[2018-01-06 01:16] thockin commented on #55667
Are you enabling graceful termination?

https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods

[2018-01-06 01:30] m1093782566 commented on #56320
yes, same issue

[2018-01-06 01:35] fieryorc commented on #53533
We run in GKE, and I don't know of a way to set those options.

[2018-01-06 01:46] dims commented on #57910
/priority critical

[2018-01-06 01:48] m1093782566 commented on #57922
If we set `externalTrafficPolicy=Local` for NodePort, we don't do any masq for packets. Possibly masq will solve the issue in iptables mode, but my question is "do we still need to preserve source ip of packets when externalTrafficPolicy=Local"?

[2018-01-06 01:51] thockin commented on #56320
Can we close one?

On Jan 5, 2018 5:30 PM, "DuJun" <notifications@github.com> wrote:

[2018-01-06 01:52] pnovotnak opened #57923 "Setting defaultMode is not Fully Respected When Pod.spec.securityContext.runAsUser is Set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Setting `Pod.spec.securityContext.runAsUser` causes the group read permission bit to be set on secrets exposed via volumes, even if `Pod.spec.volumes[x].defaultMode` is set to `256`.

See also: https://github.com/openshift/origin/issues/16424

**What you expected to happen**:

Given a `defaultMode` of `256` the file mode

[2018-01-06 01:52] #57662 closed

[2018-01-06 01:52] #53672 closed

[2018-01-06 01:52] #57318 closed

[2018-01-06 01:54] m1093782566 commented on #56320
one issue is better than two.

Let's close this issue and discuss in thread #57922.

/close

[2018-01-06 01:54] #56320 closed

[2018-01-06 02:32] zhangbei59 commented on #57189
I have the same pro ,help me !

[2018-01-06 02:32] mbohlool commented on #57855
I reverted this change as it broke all other versions, will try again tomorrow.

[2018-01-06 02:39] sjenning commented on #53672
I don't think the intent was for #56939 to close this
/reopen

[2018-01-06 02:42] tjliupeng commented on #57870
@Arnavion , could you explain what <domain in search path> exactly is? Could you give an example?

Thanks

[2018-01-06 02:44] m1093782566 commented on #52464
/remove-lifecycle stale

[2018-01-06 02:51] hzxuzhonghu commented on #57189
The pr #57228 can solve this.

[2018-01-06 02:57] zhangbei59 opened #57925 "Jan 6 10:45:00 c7test_master kube-apiserver: F0106 10:45:00.468461 47256 server.go:178] error in initializing storage factory: group version rbac.authorization.k8s.io/v1beta1 that has not been registered"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when i start kube-apiserver ,it's failed,i got an error in /var/log/message :Jan  6 10:45:00 c7test_master kube-apiserver: F0106 10:45:00.468461   47256 server.go:178] error in initializing storage factory: group version rbac.authorization.k8s.io/v1beta1 that has not been registered

**What you expected to happen**:

**How to reprod

[2018-01-06 03:04] zhangbei59 commented on #57189
sorry ,my pro is #57925,not same as this!

[2018-01-06 03:17] mlmhl commented on #57544
Nice explanation @mtanino . The problem I mentioned above is that when a user submits a `Pod` with a rbd volume, the whole work flow of this volume are:

1. A/D controller finds this volume and invokes `Attach` method of rbd volume plugin, this method will do nothing of rbd, see [here](https://github.com/kubernetes/kubernetes/blob/dc44a3174c0aec1c2138dbeb9d81552618004bd2/pkg/volume/rbd/attacher.go

[2018-01-06 03:30] mbohlool commented on #57910
It has been fixed.

[2018-01-06 03:30] #57910 closed

[2018-01-06 03:51] guangxuli commented on #57618
@madhuri-rai07 if you work on this, have you any idea about where the `LeaderElectionConfiguration `struct should be placed. because `LeaderElectionConfiguration `is used both by controller and scheduler.
when i leave `LeaderElectionConfiguration ` in `conponentconfig` and refer in scheduler, the bazel test will not be passed successfully in PR #53577.

@luxas @timothysc any idea?

[2018-01-06 03:54] abhijt-zanak commented on #57876
I was facing an issue, however, that issue is resolved.
Initially, i thought the issue is related having all the nodes inside ELB, It was not the case.

[2018-01-06 03:54] gfernandessc commented on #45509
Anthony-- the original use case that prompted this feature request was the following:

We have a single node pool for data nodes. We then have a separate deployment for each different type of index. The deployments share the node pool but take up the whole node.

In certain scenarios we want to reduce one deployment by 1 (or N) and increase a different deployment by 1 (maintaining the same total n

[2018-01-06 04:08] yue9944882 opened #57927 "limit/continue paging of fakeclient doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

Fake client doesn't have a support for paging when invoking `List`.

[https://github.com/yue9944882/kubernetes/blob/3837a7402a9f58acc1f911bfe6b418d39ed056e2/staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_type.go#L348](https://github.com/yue9944882/kubernetes/blob/3837a7402a9f58ac

[2018-01-06 04:09] yue9944882 commented on #57927
/sig api-machinery

[2018-01-06 04:09] Arnavion commented on #57870
`cat /etc/resolv.conf`

You will probably have a line like `search foo`

If you now do `nslookup localhost.foo` it'll probably resolve to `192.157.208.178`

[2018-01-06 05:45] hzxuzhonghu commented on #57925
I use local-up-cluster and find I can startup.
[code]

[2018-01-06 07:48] oonisim commented on #57855
Try to revert to 1.8.6 which has dependency on kubernetes-cni 0.6.0 but it looks there is a dependency on 1.9.1 kubelet?

    ================================================================================
     Package                Arch           Version         Repository          Size
    ================================================================================
    Installing:
     kub

[2018-01-06 08:09] CaoShuFeng opened #57931 "[cli] `kubectl get all` print deployments twice"
kubectl version: community master branch

[code]

deployments and rs are printed twice.
One is extensions.deployments and another one is apps.deployments.

/kind bug

[2018-01-06 08:09] CaoShuFeng commented on #57931
/sig cli

[2018-01-06 08:13] CaoShuFeng commented on #57931
/assign @charrywanganthony

[2018-01-06 08:21] CaoShuFeng commented on #57931
/assign
Assigned to me, but @charrywanganthony will research this issue.

[2018-01-06 10:02] WIZARD-CXY opened #57933 "Create custom resource type in non-exist namespace succeeded"
/kind bug
I read the issue https://github.com/kubernetes/kubernetes/issues/23713, seems we have NamespaceLifecycle admission control to reject the creation of k8s defined resource while I am using https://github.com/kubernetes-incubator/apiserver-builder to create several custom defined resource by adding a aggregated apiserver.
I wonder if main apiserver's NamespaceLifecycle admission control can

[2018-01-06 10:03] WIZARD-CXY commented on #57933
@derekwaynecarr ptal

[2018-01-06 10:05] WIZARD-CXY commented on #57933
/sig-api

[2018-01-06 10:22] CoolElvis commented on #57870
I had same issue.
It seems a mistake in default config etcd  --listen-peer-urls=http://locahost:12380
I add "--listen-peer-urls=http://127.0.0.1:12380" to /etc/kubernetes/manifests/etcd.yaml
and Kubernetes master has initialized successfully!

[2018-01-06 10:27] Arnavion commented on #57870
Yes, that is one of the workarounds listed in the issue I linked. The other is you can add it to the kubeadm init config.

[2018-01-06 11:13] luxas commented on #57618
cc @ncdc similar problem as https://github.com/kubernetes/kubernetes/issues/54318

[2018-01-06 11:18] hzxuzhonghu commented on #57933
I think NamespaceLifecycle admission controller not run on  your apiserver.
Is your traffic flows like below?
client---->kube-aggregator----->self-apiserver

[2018-01-06 11:19] latouchek commented on #49804
Thx a lot for that @ucookie
You made my day :)

[2018-01-06 11:28] WIZARD-CXY commented on #57933
@hzxuzhonghu the flow is more look like this
client -> main k8s apiserver -> addon apiserver -> self-defined apiserver

[2018-01-06 11:30] WIZARD-CXY commented on #57933
I look through the code and I think it is not supported in main apiserver for now and I filed a new issue in https://github.com/kubernetes-incubator/apiserver-builder/issues/206

[2018-01-06 11:30] WIZARD-CXY commented on #57933
I'd like to use main apiserver to delegate some admission-control for the addon apiserver.

[2018-01-06 11:34] hzxuzhonghu commented on #57933
Seems not possible, kube-aggregator has no admission control, its a proxy only.

[2018-01-06 11:46] WIZARD-CXY commented on #57933
If not possible now, we can add it. I think it is reasonable to  use main apiserver to delegate some admission-control for the addon apiserver.

[2018-01-06 11:51] hzxuzhonghu commented on #57933
Already a issue #56627, and a pr #56660

[2018-01-06 12:04] mlmhl commented on #52683
The new reconstruct process is really a good idea! I have some questions about the implement details:

1. Consider kubelet restarts between `MountDevice` and `volumeMounter.SetUp`, and pod is deleted before kubelet restarts, this scenario indicates that the global device path is mounted and pod volume path is not bound yet, so we can't find this volume if we only scan all pods' volume directories(

[2018-01-06 12:57] sdaschner commented on #55667
Not yet, i.e. the application server will be (gracefully) shutdown but very quickly stop to accept new requests. That would be one possible solution, yes, to add a report-unhealthy-readiness-probe-but-keep-serving-requests functionality.

However, in the old Minikube version the Service VIP took care of that. In other words, the same example satisfied the zero-downtime from the K8s already.

[2018-01-06 13:13] pieterlange commented on #42616
/remove-lifecycle stale

This is still an issue, i currently work around it using:
[code]

where `openvpn` and `gitlab-ssh` are named ports in the ingress service that don't support tcp proxyprotocol.

[2018-01-06 13:28] wanghaibo commented on #53089
we do it by set multi interfaces to a pod like this:
1. macvlan: eth0@if4: inet 10.10.83.28/16 scope global eth0
2. flannel: net0@if10822:  inet 10.244.0.41/24 scope global net0

and add route like this:
default via 10.10.0.1 dev eth0
10.10.0.0/16 dev eth0  proto kernel  scope link  src 10.10.83.28
10.96.0.0/16 via 10.244.0.1 dev net0
10.244.0.0/24 dev net0  proto kernel  scope link  src 10.244.0.

[2018-01-06 13:38] mlmhl commented on #57878
Should we support this feature(support both dynamic provision and label selector at the same time)? @jsafrane @saad-ali @jingxu97

A possible use scenario maybe that:

1. User sets `StorageClass.ReclaimPolicy` to `Recycle`, and creates a PVC with specific  `StorageClassName` and `Selector`. Then pv-controller dynamically creates a PV with these labels.
2. User is done with their volume and deletes

[2018-01-06 14:53] liggitt commented on #57933
Not really. Doing so requires decoding the request body by the main apiserver, which doesn't know about your API types. You also have to consider the case where a request is made directly to your api server. It should have a coherent authentication/authorization/admission setup, otherwise a direct request could bypass namespace lifecycle checks

[2018-01-06 15:25] gnufied commented on #53073
We still need to do this.

/remove-lifecycle stale

[2018-01-06 16:04] liggitt commented on #57933
Closing as duplicate of https://github.com/kubernetes/kubernetes/issues/56627

[2018-01-06 16:04] #57933 closed

[2018-01-06 16:04] liggitt commented on #57931
Duplicate of https://github.com/kubernetes/kubernetes/issues/55720

[2018-01-06 16:04] #57931 closed

[2018-01-06 16:06] liggitt commented on #57927
This seems close to the limit of what the fake client should support.

[2018-01-06 16:11] liggitt commented on #57923
/sig storage

[2018-01-06 16:18] liggitt commented on #57855
/assign @mbohlool

[2018-01-06 16:25] deitch commented on #48180
/remove-lifecycle stale

[2018-01-06 16:29] stmcginnis commented on #21229
Looks like this should have been closed with the associated patch?

[2018-01-06 17:42] liggitt commented on #57923
potential fix in https://github.com/kubernetes/kubernetes/pull/57935

[2018-01-06 17:51] githubixx commented on #27607
That's really sad that nobody takes care of this issue. It's really an annoying bug if you run Kubernetes e.g. on bare metal. The bug still exists with k8s v1.9.1... Is it really that hard to fix? I would try myself but my Go experience isn't sufficient. But I've a test env. and could help debugging if this would help.

[2018-01-06 17:56] liggitt commented on #55636
I cannot reproduce this... seeing a NotFound error as I would expect:

[code]

[2018-01-06 17:56] #55636 closed

[2018-01-06 18:08] liggitt commented on #12316
there is currently a single remote authenticator for each auth type, and it is placed at the end of the union chain, so the remote authenticator only sees a credential after all the local methods have rejected it

[2018-01-06 18:08] #12316 closed

[2018-01-06 18:13] liggitt commented on #17637
PodSecurityPolicy authorization via the `use` verb is in place now (documented at https://kubernetes.io/docs/concepts/policy/pod-security-policy/#authorizing-policies and active in CI with e2e tests)

Authorization for a specific user to use a specific service account would be a significant separate effort (and would require plumbing originating user info through all controlling objects, e.g. depl

[2018-01-06 18:13] #17637 closed

[2018-01-06 18:16] liggitt commented on #16307
unclear how this interacts with https://github.com/kubernetes/kubernetes/issues/8867

[2018-01-06 18:16] yue9944882 commented on #57898
Seems like `selfLink` should have been empty

[https://github.com/kubernetes/kubernetes/blob/bd4d511a40e142ee65edff3b286e57de502aa790/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L1208](https://github.com/kubernetes/kubernetes/blob/bd4d511a40e142ee65edff3b286e57de502aa790/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L1208)

[2018-01-06 18:22] liggitt commented on #23564
at this point, it's clear we can't consider annotations/labels confidential

[2018-01-06 18:22] #23564 closed

[2018-01-06 18:26] liggitt commented on #33527
duplicate of #26606

[2018-01-06 18:26] #33527 closed

[2018-01-06 18:27] liggitt commented on #26606
/remove-lifecycle stale

[2018-01-06 19:14] verb commented on #45922
/remove-lifecycle stale

[2018-01-06 19:14] verb commented on #41938
/remove-lifecycle stale

[2018-01-06 19:19] aknuds1 commented on #57427
I can confirm @liggitt's solution works, thanks so much!

[2018-01-06 19:20] fatih commented on #43179
I agree that there is zero information about installing kube-dns. Nada. The kube-dns addon has bunch of `.base`, `.sed` files with no explanation how to use and install them.

[2018-01-06 19:51] discordianfish commented on #24957
/remove-lifecycle stale

[2018-01-06 20:05] gnufied commented on #53082
Fixes via https://github.com/kubernetes/kubernetes/pull/56639

[2018-01-06 20:05] #53082 closed

[2018-01-06 21:02] mbohlool commented on #57855
should work now. Please verify.

[2018-01-06 21:39] liggitt commented on #57393
Fixed in https://github.com/kubernetes/kubernetes/pull/57742

[2018-01-06 21:39] #57393 closed

[2018-01-06 21:43] liggitt commented on #20935
Aggregator attempts to merge openapi schemas now

[2018-01-06 21:43] #20935 closed

[2018-01-06 22:02] liggitt commented on #57158
correct, the data keys were limited to safe cross platform filenames and envvar names

[2018-01-06 22:02] #57158 closed

[2018-01-06 22:16] liggitt commented on #37666
Expanding the scope seems unlikely. It wouldn't just be the pod template, it would be any level of any template:
* job template in cronjob
* pod template in deployment, replicaset, replication controller, statefulset, job, or cronjob

[2018-01-06 22:21] dims commented on #57876
/close

sounds like we can close this up.

[2018-01-06 22:21] #57876 closed

[2018-01-06 22:22] liggitt commented on #54014
If recording is desired, users can request it with --record, as described in help.

[2018-01-06 22:22] #54014 closed

[2018-01-06 22:37] liggitt commented on #4913
Fixed in https://github.com/kubernetes/kubernetes/pull/29236

[2018-01-06 22:37] #4913 closed

[2018-01-06 22:38] liggitt commented on #6808
NO_PROXY is a more standard way to counteract envvar based proxy settings

[2018-01-06 22:38] #6808 closed

[2018-01-06 22:42] liggitt commented on #38053
Same issue as #56747, fixed in https://github.com/kubernetes/kubernetes/pull/56769

[2018-01-06 22:42] #38053 closed

[2018-01-06 22:43] #10247 closed

[2018-01-06 22:47] liggitt commented on #10630
kubectl does operate on resources, both partial and fully qualified, and singular and plural

All of these work:

kubectl get role
kubectl get roles
kubectl get roles.rbac.authorization.k8s.io

The unqualified resources use the singular and plural resource names published in discovery to resolve a fully qualified plural resource

[2018-01-06 22:47] #10630 closed

[2018-01-06 22:48] liggitt commented on #11994
--field-selector can be used to filter events to a particular object as of 1.9

[2018-01-06 22:48] #11994 closed

[2018-01-06 22:56] cblecker commented on #43932
/remove-lifecycle stale

[2018-01-06 23:51] spiffxp commented on #16307
/remove-lifecycle stale
/sig gcp
/sig azure
/sig aws

[2018-01-07 00:04] spiffxp commented on #57865
/sig apps
because statefulset

[2018-01-07 00:07] spiffxp commented on #57869
/area test-infra
/sig release

[2018-01-07 00:12] spiffxp commented on #13535
/remove-area test-infra
/area test
/sig gcp
Yeah, this is still relevant, there are plenty of usages of `gcloud` in `test/e2e`

[2018-01-07 00:14] spiffxp commented on #35250
/remove-lifecycle stale
/area test

[2018-01-07 00:18] spiffxp commented on #30025
/remove-lifecycle stale

[2018-01-07 00:24] spiffxp commented on #49508
/remove-lifecycle stale
/area test
/sig gcp
ref: #13535

[2018-01-07 00:30] spiffxp commented on #29314
/close
This was done
https://github.com/kubernetes/website/pull/5178 - moved it to kubernetes/website
https://github.com/kubernetes/website/pull/5191 - removed it from kubernetes/website

[2018-01-07 00:30] #29314 closed

[2018-01-07 00:31] spiffxp commented on #48181
/remove-lifecycle stale

[2018-01-07 00:32] spiffxp commented on #48156
/remove-lifecycle stale
is this still an issue?
/area test-infra

[2018-01-07 00:33] spiffxp commented on #47767
/close
I'm taking an educated guess that this issue won't get worked on as we're now in the 1.10 release cycle.  Please /reopen if you disagree or notice these tests failing in a later version of the upgrade tests

[2018-01-07 00:33] #47767 closed

[2018-01-07 00:34] spiffxp commented on #37833
/close
Closing this issue due to inactivity.  Please /reopen if you'e got evidence that this issue is still happening

[2018-01-07 00:34] #37833 closed

[2018-01-07 00:37] spiffxp commented on #39308
/remove-lifecycle stale
I'm not sure whether we now have a single way of describing this pattern or not.  It would be nice if we did.

[2018-01-07 00:39] spiffxp commented on #39246
/close
Closing due to inactivity.  Please /reopen if I have done so in error.

[2018-01-07 00:39] #39246 closed

[2018-01-07 00:42] #57889 closed

[2018-01-07 00:43] spiffxp commented on #36015
/close
I believe this has since been fixed.  Please /reopen if I am wrong.

[2018-01-07 00:43] #36015 closed

[2018-01-07 00:45] spiffxp commented on #34728
/remove-lifecycle stale
/remove-area test-infra
/area test
/sig testing
because "integration tests"

[2018-01-07 00:51] spiffxp commented on #26708
/close
The linked addon deploys elasticsearch as a statefulset.  Please /reopen if I have closed this in error

[2018-01-07 00:51] #26708 closed

[2018-01-07 00:52] spiffxp commented on #32211
/close
Closing due to inactivity.  Please /reopen if this is still happening

[2018-01-07 00:52] #32211 closed

[2018-01-07 00:56] spiffxp commented on #32332
/close
Closing.  Please /reopen if I've closed this in error.

[2018-01-07 00:56] #32332 closed

[2018-01-07 00:57] spiffxp commented on #31270
/remove-lifecycle stale
`repo-root` still exists as a flag and `framework.TestContext.RepoRoot` is still very much in use

[2018-01-07 01:01] spiffxp commented on #26304
/area test

[2018-01-07 01:08] oonisim commented on #57855
Hi @mbohlool I could install 1.9.1 on CentOS 7 /AWS.

    $ kubectl get nodes
    NAME                                         STATUS    ROLES     AGE       VERSION
    ip-172-31-1-43.us-west-1.compute.internal    Ready     <none>    31s       v1.9.1
    ip-172-31-4-117.us-west-1.compute.internal   Ready     master    3m        v1.9.1
    ip-172-31-4-61.us-west-1.compute.internal    Ready     <non

[2018-01-07 01:13] tjliupeng commented on #57870
Before the first execution of "kubeadm init", there is no file existed in /etc/kubernetes/manifests/. So, you have to wait the failure of "kubeadm init" and then you can change the etcd.yaml, right?

[2018-01-07 01:17] spiffxp commented on #23913
/remove-area test-infra
/area test
/remove-priority awaiting-more-evidence
/priority important-longterm

[2018-01-07 01:17] spiffxp commented on #23913
/remove-lifecycle stale

[2018-01-07 01:19] spiffxp commented on #22953
/close
Still pretty sure this isn't getting done in the face of bazel.  Please /reopen if you'd like to work on this.

[2018-01-07 01:19] #22953 closed

[2018-01-07 01:21] spiffxp commented on #23159
/close
I don't think this is relevant anymore.  The referenced script doesn't exist in this repo today.

[2018-01-07 01:21] #23159 closed

[2018-01-07 01:21] spiffxp commented on #23987
/area test
/remove-area test-infra

[2018-01-07 01:23] spiffxp commented on #37297
/remove-lifecycle stale
`make cross` still fails on macOS for me

[2018-01-07 01:25] spiffxp commented on #41629
/remove-lifecycle stale
/lifecycle frozen

[2018-01-07 01:27] spiffxp commented on #24639
/remove-area test
/remove-lifecycle stale
/remove-priority backlog
/priority important-soon
@krzyzacy @BenTheElder is there a better (k/test-infra?) issue to use for "make it easier to spin up release branch CI" ? I know this issue title has "jenkins" in the name, but the concept of just stamping out a new set up jobs still holds for prow I think

[2018-01-07 01:29] spiffxp commented on #24471
/remove-area test-infra
/area test

[2018-01-07 01:30] spiffxp commented on #24348
/close
Closing in favor of #31270

[2018-01-07 01:30] #24348 closed

[2018-01-07 01:31] spiffxp commented on #24057
/remove-lifecycle stale
This would be a good thing to get done for 1.10 @kubernetes/sig-contributor-experience-misc-use-only-as-a-last-resort

[2018-01-07 01:35] #57855 closed

[2018-01-07 01:48] oonisim commented on #57855
Hi @mbohlool, may I clarify? If I recall correctly, 1.8.6 has dependency on kubernetes-cni-0.6.0 as in https://github.com/kubernetes/release/issues/97.

It  looks cni has a dependency on 1.9.1 kubelet, so even when I installed 1.8.6, kubelet is 1.9.1.

    $ sudo yum install kubernetes-cni-0.6.0-0.x86_64
    Loaded plugins: fastestmirror
    Loading mirror speeds from cached hostfile
    * base: m

[2018-01-07 02:30] BenTheElder commented on #24639
I don't think so, we are planning to look at redesigning the prow config though so this might fall under that.

Right now you probably *could* just automate copying all jobs over from the master branch, but I don't think that this alone is actually correct. We want to adjust things like the job names and the interval of periodic jobs and...

IMHO this is probably best solved by:
- making configura

[2018-01-07 02:32] BenTheElder commented on #40161
@ixdy #47558 was closed, we should check back on this.

/remove-lifecycle stale

[2018-01-07 03:03] liggitt opened #57939 "TestBlockingOwnerRefDoesBlock flake"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/57890/pull-kubernetes-unit/73493/

[code]

[code]

the problem is similar to the one triaged at https://github.com/kubernetes/kubernetes/issues/56121#issuecomment-353265160 except that the logic failure is in the test, not in the garbage collector

as you can see from the log, the pod watch drops (09:48:07.996627) and doesn't

[2018-01-07 03:21] mbohlool commented on #57855
Is this something that introduced with 1.9.1 release? If not, it deserve its own issue. I tried to make sure all packages previously available in the repo (before 1.9.1 release) are the same. If I failed there, we should keep this issue open until it get fixed.

[2018-01-07 05:21] yue9944882 commented on #57927
@liggitt

How about explicitly retrieve a new "context" from fake client like:

[code]
or wrap the default fake clientset by a decorator:
[code]

IDK if it is really necessary but providing these utilities for testing can make it easier for try out paging functionalities locally.

[2018-01-07 05:31] liggitt commented on #57927
possibly, though that behavior is complex and stateful enough that I’d really rather just test it against a real rest handler. At some point, so much code is required to fake the behavior it becomes likely the fake code has bugs. I have similar feelings about faking watch event delivery in response to fake client updates (https://github.com/kubernetes/kubernetes/pull/57504)

[2018-01-07 05:53] yue9944882 commented on #57927
@liggitt

Testing watch against a real server, can make it even more complex in my case. Because generally each time for testing ( or CI building), we will only provision only one server like minikube for a build which is also stateful. Especially testing in parallel will make server's behavior hard to track because read/write/watch may happen at a random order which may potentially "make some noi

[2018-01-07 06:03] verb commented on #1615
/remove-lifecycle stale

[2018-01-07 08:09] m1093782566 commented on #57922
BTW, with the fix of #57942, `127.0.0.1:nodeport` is reachable, but `localhost:nodeport` does not work.

The iptables created by #57942 is

[code]

[2018-01-07 08:10] m1093782566 commented on #57922
/assign

[2018-01-07 08:25] h4ckroot commented on #50004
Hello, Do we have any update on this please ?

[2018-01-07 08:33] k82cn commented on #57838
/sig apps

Did not check the code, but I think this is related to StatefulSet controller which did not kill old Pods to trigger re-schedule.

[2018-01-07 08:56] WIZARD-CXY commented on #57933
@hzxuzhonghu #56660 just what I want to add too, cool!

[2018-01-07 10:34] #39505 closed

[2018-01-07 12:10] pashok2398 commented on #41038
/remove-lifecycle stale

[2018-01-07 12:47] jamesandrews-iopp commented on #20367
`KUBE_FASTBUILD='true' make release`

This seems to do what the OP was asking

[2018-01-07 13:53] gnufied commented on #53494
The issue is still relevant. Will open PR shortly.

/remove-lifecycle stale

[2018-01-07 15:06] antoniaklja commented on #57865
@harryge00 @spiffxp I'll have a look at this issue

[2018-01-07 15:46] mikebrow commented on #51747
/remove-lifecycle stale

[2018-01-07 15:47] mikebrow commented on #51746
/remove-lifecycle stale

[2018-01-07 15:57] antoniaklja commented on #57865
I'm afraid it requires bigger code/design change because `StatefulSet` controller first updates its pods/replicas and when every replica is `Running` and `Ready` then it starts to terminating obsolete pods (scaling down).

What do you think about changing the order? I mean scale down first and then update every StatefulSet's pod.

[2018-01-07 16:36] liggitt commented on #57913
Older versions have been restored to the repo

[2018-01-07 16:36] #57913 closed

[2018-01-07 16:42] liggitt commented on #7547
Expanding an alias to multiple types and then converting it to an operation on specific named objects will definitely lead to error cases like https://github.com/kubernetes/kubernetes/issues/7547#issuecomment-289513573

I don't really think this is a very predictable/usable feature, and I don't think adding error filtering to try to compensate makes it better or more understandable.

[2018-01-07 16:45] liggitt commented on #21528
Both quotas should apply, and the lesser quota should govern. Is this still recreatable against master?

[2018-01-07 17:16] cblecker commented on #51668
/remove-lifecycle stale
Still relevant

[2018-01-07 18:07] redbaron commented on #56901
@thockin AFAIK PCI compliance requires DNS whitelisting solution to be on the path to the internet.

[2018-01-07 18:08] redbaron commented on #25625
/remove-lifecycle stale

[2018-01-07 18:21] #51099 closed

[2018-01-07 19:05] Blue4x4Rebel commented on #19113
Any word on support for bare-metal instances using ECR? I have tried automating this by scheduling aws ecr get-login from my hosts, but that only seems to work if kubernetes is restarted afterward. How can we use the provider without enabling all cloud functions?

[2018-01-07 19:08] mitar commented on #1806
Could `--no-new-privileges` flag of `dockerd` help? https://www.projectatomic.io/blog/2016/03/no-new-privs-docker/

[2018-01-07 19:19] #56747 closed

[2018-01-07 19:38] boeboe opened #57946 "Kubectl apply on PVC loses storageClassName"
When I try to create a persistentvolumeclaim using **kubectl apply**, the **spec.storageClassName** field is dropped. You need to use kubectl create instead.

Is this expected behaviour? I am using PVC within an OpensShift template, which I process in order to do updates on my namespace (hence using the apply iso create sub-command of kubectl/oc).

    oc process -f template.yaml | apply -f - -n t

[2018-01-07 19:39] boeboe commented on #57946
/sig cli

[2018-01-07 20:00] liggitt commented on #57946
What version of kubectl are you using?

[2018-01-07 20:12] liggitt commented on #2349
Chunking is now supported via the api

[2018-01-07 20:12] #2349 closed

[2018-01-07 20:14] liggitt commented on #6153
That is the standard response from an invalid endpoint (same response as requesting a nonsense endpoint like /foo/bar/baz). Requesting a valid endpoint gives more details about the resource type that wasn’t found.

[2018-01-07 20:14] #6153 closed

[2018-01-07 20:16] liggitt commented on #3030
/lifecycle frozen

[2018-01-07 20:23] jonmoter commented on #7294
Sorry to comment on an old dead thread, but I was looking at [the commit](https://github.com/kubernetes/kubernetes/commit/f4edaf2b8c32463d6485e2c12b7fd776aef948bc) that disabled swap, and comparing that to the [docker docs on swap](https://docs.docker.com/engine/admin/resource_constraints/#--memory-swap-details).

In particular, the Docker docs say:

So the way I'm reading the docs, if kubelet set

[2018-01-07 20:29] liggitt commented on #14962
/close

[2018-01-07 20:29] #14962 closed

[2018-01-07 20:48] johscheuer commented on #48424
/close

[2018-01-07 20:48] #48424 closed

[2018-01-07 20:59] Ka1wa commented on #57898
Completely skipping selfLink on a kubectl --export would make it even better for me. Thanks for the info @yue9944882

[2018-01-07 21:46] feffi commented on #49926
Hi, i got the same (?) error when trying 'helm install'

kubectl get storageclass
NAME            PROVISIONER             AGE
default         kubernetes.io/aws-ebs   4d
gp2 (default)   kubernetes.io/aws-ebs   4d

kubectl get persistentvolume
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS    CLAIM                          STORAGECLASS   REASON    AGE
pv

[2018-01-07 21:58] jwforres commented on #38970
Yeah the copy dialog doesn't contain the copied content anymore so this no longer seems to be an issue

[2018-01-07 21:58] #38970 closed

[2018-01-07 22:07] icereval commented on #56371
@nicksardo

* Create the Internal Load Balancer

  `service.yml`
[code]

* Retrieve the IP of the K8S Hosts

[code]

* SSH into the K8s Host and simulate a running process, which listens on the Internal Load Balancer Port `1234`.

[code]

* Telnet the K8s Host's listening internal load balancer port from the internet and send it a message.

[code]

* NOTE: A connection is established, and are able

[2018-01-07 22:07] spzala commented on #38970
Thanks @jwforres

[2018-01-07 22:35] ChrisTerBeke commented on #36572
Still having this issue on 1.8.4-gke.1. This is my config:

[code]

The default (root) url works, but any paths give me a 404.

[2018-01-07 22:52] gavvvr commented on #11237
Facing the same issue with `client-go`. It also says that:

[2018-01-07 23:30] ash2k commented on #53124
Fixed by #57480.

[2018-01-07 23:30] #53124 closed

[2018-01-08 00:49] tjliupeng commented on #57870
@Arnavion @CoolElvis , when I use the command
`sudo kubeadm init --pod-network-cidr=10.244.0.0/16 --kubernetes-version v1.9.0 --config ./kubeadm.yaml
`
kubeadm tried to access the google site to download the https://dl.k8s.io/release/stable-1.9.txt, but we are in a local network environment which has limited access to Google.

Then I try to modify the etcd.yaml. But I don't know how to make the fi

[2018-01-08 01:47] vielmetti commented on #38067
GCR now supports manifest lists, so this shouldn't stay stale very long.

[2018-01-08 01:48] tjliupeng commented on #57870
Ok, if using the `--config` option, all the kubeadm init arguments should be configured in the config file. I move the kubernetesVersion and pod-network-cidr to the config file and the initialization is finished successfully.

[2018-01-08 01:49] FengyunPan commented on #57765
@bsnchan The node name must match ([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9], not contain '/'.

[2018-01-08 01:57] FengyunPan commented on #56855
It seems a bug, but I never meet it. Can you show more logs?

[2018-01-08 02:02] armstrongli commented on #57372
@deads2k @hzxuzhonghu Thank you for your suggestions.

[2018-01-08 02:02] #57372 closed

[2018-01-08 02:09] oonisim commented on #57855
@mbohlool not sure. Last time I installed 1.8.6, it said kubernetes-cni was a requirement to install kubelet (if I am correct), so I insalled it first and did not see any dependency from cni to kubelet. I have no idea who is managing the RPM dependency from cni to kubelet and when it was placed.

[2018-01-08 02:27] #50726 closed

[2018-01-08 03:01] dixudx commented on #57765
I can confirm that Openstack can boot up instances with the name like `xyz/abc`. But this will break kubelet currently as stated above. For such cloud provider based nodes, the nodeName registered is retrieved from the provider, which should not be allowed when registering nodes for kubelet.

Agree. +1.

@FengyunPan @bsnchan I've added an extra check in PR #57816. PTAL. Thanks.

[2018-01-08 04:50] duane-ibm commented on #57232
/remove-lifecycle stale

[2018-01-08 04:59] rakeshkulkarni6 opened #57950 "TLS Handshake timed out on heapster pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:
its bug report on kubernetes build using acs-engine

/kind bug
/sig azure
/sig network
**What happened**:
I have configured kubernetes cluster using acs-engine, After working few days KUBE-DNS went into **crashloopbackoff** error I tried to restart but could not get throguh it. If I check logs on kube-dns its saying **k8s.io/heapster/metrics/util/util.

[2018-01-08 05:31] feiskyer opened #57951 "Do not set BaseURI twice"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Refer https://github.com/kubernetes/kubernetes/pull/57875#discussion_r159840522. BaseURI has been set by NewAccountsClientWithBaseURI and NewDisksClientWithBaseURI method. We should not set BaseURI twice.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2018-01-08 05:31] feiskyer commented on #57951
/sig azure

[2018-01-08 06:13] andyzhangx opened #57952 "fix device name change issue for azure disk: add remount logic"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Accoding to [Troubleshoot Linux VM device name change](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/troubleshoot-device-names-problems), there is possibility of device name change, so when kubelet is restarted, we need to check whether the following two paths are still valid:
1. `/var/lib/kubelet/plugins/k

[2018-01-08 06:29] likunbyl opened #57955 "kubelet stopped working unexpectedly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
01:02:50 3 Jan, 2018, One of my workers entered NotReady status unexpectedly

The kubelet log of the worker at that time:
[code]

Then, kubelet logs stoped here until I found it entering NotReady status several hours later.

The kube-controller-manager logs at that time:
[code]

While at that time, access 10250 and 10255 p

[2018-01-08 06:36] likunbyl commented on #57955
@kubernetes/sig-node-bugs

[2018-01-08 06:45] nikhita commented on #38637
/remove-lifecycle stale

[2018-01-08 07:02] nikhita commented on #38756
/remove-lifecycle stale

[2018-01-08 07:22] xingzhou commented on #57853
Can not reproduce the issue on master branch code. Which version are you using?

[2018-01-08 07:29] wojtek-t commented on #37473
/lifecycle frozen

[2018-01-08 07:32] jianglingxia commented on #57878
yeah,if use dynamically create pv,when delete the pv,maybe happened the scenario:
before
pv1 binding pvc1; pv2 binding pvc2;
later
pv1 binding pvc2;pv2 binding pvc1;but user maybe want the result are:pv1 binding pvc1; pv2 binding pvc2; the same with before and data consistent ,thanks! @mlmhl

[2018-01-08 08:14] #57951 closed

[2018-01-08 08:19] gogeof commented on #57626
For can't reproduce it, I close this issue, and will reopen once the problem shows again.

[2018-01-08 08:19] #57626 closed

[2018-01-08 09:41] justlooks opened #57959 "build cabernets v1.8.6 cause problem"
i use following image to build from v1.8.6  code tree,and get error ,do not know why

[code]

[2018-01-08 09:52] matthiasr commented on #34739
The permissions appear to be back to normal now.

[2018-01-08 09:52] #34739 closed

[2018-01-08 10:18] jsafrane commented on #32336
Well... Kubelet bind-mounts /var/lib/kubelet as shared now, however it will not solve problem of having RBD volumes appearing several times in /proc/mounts. We need to fix RBD to allow  tearing it down in this case somehow.

[2018-01-08 10:20] wenjun93 opened #57960 "rbd volume plugin should support image feature adjustment according to kernel version"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
kernel rbd driver doesn't support all rbd features, currently is 3 (kernel version < 4.9) and 7 (kernel version 4.9+), while newest rbd backend support rbd_default_feature 63 or higher. Attach will fail if kernel doesn't support the rbd volume feature.

**What you expected to happen**:
rbd volume plugin now support nat

[2018-01-08 10:21] wenjun93 commented on #57960
/sig storage

[2018-01-08 10:24] jsafrane commented on #50463
/close

[2018-01-08 10:24] #50463 closed

[2018-01-08 10:25] wenlxie commented on #57955
Can you use command `localhost:10248/debug/pprof/goroutine?debug=2` to get ths stack?
It is very helpful to debug such kind of issue.

[2018-01-08 10:31] jsafrane commented on #27198
this is fixed by PVCProtection feature in 1.9
/close

[2018-01-08 10:31] #27198 closed

[2018-01-08 10:42] rfranzke opened #57961 "Scheduler refuses to start in version 1.9.1 when specifying volume feature gates"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When starting the `kube-scheduler` with version 1.9.1 and the `PersistentLocalVolumes` and `VolumeScheduling` feature gates it tries to list/get/watch storage classes, but the RBAC bootstrap clusterrole `system:kube-scheduler` does not contain these privileges.
Following, the scheduler cannot start:
[code]

**What you expe

[2018-01-08 10:51] wenlxie commented on #57878
@mlmhl I think this feature had supported now.
 `pv_controller.go`->`syncUnboundClaim` -> `volume, err := ctrl.volumes.findBestMatchForClaim(claim)`

@jianglingxia Can  pvc1 and pvc2 use different labels?

[2018-01-08 11:00] wackxu commented on #57961
I can help fix it

[2018-01-08 11:16] gmarek commented on #46503
@tedsuo

/remove-lifecycle stale
/lifecycle frozen

[2018-01-08 11:35] SerialVelocity commented on #40968
@shiywang Will there also be an option for "all namespaces" to be the default?

[2018-01-08 11:53] rfranzke commented on #57961
/sig auth

[2018-01-08 12:03] sttts opened #57964 "admission webhooks: broken for cluster-scoped resources"
If I am not mistaken, https://github.com/kubernetes/kubernetes/blob/7945ae68d0c7cffb070d60ad4d8bfe6ef585c279/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/namespace/matcher.go#L96 means that cluster-scoped resources other than namespaces are broken with admission webhooks.

There is even a unit test checking that: https://github.com/kubernetes/kubernetes/blob/7945ae68d0c7cffb070d60ad4d

[2018-01-08 13:29] jsafrane commented on #44297
IMO this fixed by PVCProtection feature in 1.9.
/close

[2018-01-08 13:29] #44297 closed

[2018-01-08 13:31] jsafrane commented on #45024
I believe this has been fixed some time ago. Please reopen if not.

/close

[2018-01-08 13:31] #45024 closed

[2018-01-08 13:35] jsafrane commented on #25268
I've noticed there is a test that reads 1MB, 100MB and 1GB  from some volume plugins (depending of availability of containerized server and its image size). See https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/volume_io.go

/close

[2018-01-08 13:35] #25268 closed

[2018-01-08 13:38] jsafrane commented on #39056
I checked the sources, `updateNodeStatusUpdateNeeded` now returns `error` as requested here.

/close

[2018-01-08 13:38] #39056 closed

[2018-01-08 13:42] KernelPanicAUS commented on #24472
Happy new year everyone!!
Any updates on this feature request?

[2018-01-08 13:51] #57836 closed

[2018-01-08 14:16] x13n commented on #52535
Actually, this is a duplicate of https://github.com/kubernetes/kubernetes/issues/50599
/close

[2018-01-08 14:16] #52535 closed

[2018-01-08 14:48] nikhita commented on #57882
/area custom-resources

[2018-01-08 14:52] r7vme commented on #56720
interesting, we are using `--kubeconfig=` flag, where we supply ["external" endpoint](https://github.com/giantswarm/k8scloudconfig/blob/52cd0230d6fb7346b7b33b75e74e8e12990def21/v_3_0_0/master_template.go#L1331-L1346) to kubernetes API. So it connects to smth like `https://api.foo.bar` . Which is load balancer VIP.

In general, i think this issue related to the fact that we are hardly killing maste

[2018-01-08 14:53] rtheis commented on #45385
Kernel version 4.10 resolves the problem.

[2018-01-08 14:53] #45385 closed

[2018-01-08 15:00] php-coder commented on #57891
/sig apps

[2018-01-08 15:04] ostankin commented on #29616
Just one more thought on top of that. The `aws autoscaling describe-launch-configurations` may return an empty result if for some reason your default region is not the same you are working with. A rare case, but still may be confusing if someone happens to run into it. To get things straight, just add the region parameter:
[code]

[2018-01-08 15:15] timothysc commented on #57961
/cc @kubernetes/sig-storage-bugs

[2018-01-08 15:31] roychri commented on #27796
Hello, I signed up using github account but I had not realized it was using an old email address that I no longer want to use.  I still have access to the old email for the time being. I am trying to change the email address on my linux foundation profile but I get this error above a message that says I will get an email.

[code]

I am not receiving emails and I think that's because of the error m

[2018-01-08 15:39] mattfarina commented on #45377
Kubernetes now has a newer (though unreleased version) of docker/distribution. I think we can close this now.

[2018-01-08 15:39] #45377 closed

[2018-01-08 15:54] dankohn commented on #27796
Please contact helpdesk@rt.linuxfoundation.org and they’ll sort it out for you.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation  https://www.cncf.io
+1-415-233-1000  https://www.dankohn.com

[2018-01-08 15:55] mattfarina commented on #41913
/remove-lifecycle stale

[2018-01-08 15:57] discordianfish commented on #41880
Just ran into this issue. I think get should at least fail with --export on lists until this is supported.

[2018-01-08 15:59] rrati commented on #45118
/lifecycle frozen

[2018-01-08 15:59] rrati commented on #45118
/remove-lifecycle stale

[2018-01-08 16:23] jadekler opened #57971 "get service: FAILED state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig feature-requests

**What happened**:

I did a `kubectl expose deployment`, and its external IP stayed in PENDING state forever.

(after doing a `kubectl describe service`, I found out that in fact it had failed because I had reached my quota for external IPs)

**What you expected to happen**:

Change to something other than PENDING

[2018-01-08 16:48] luxas commented on #38067
/remove-lifecycle stale

@mkumatag is working on it

[2018-01-08 16:49] mkumatag commented on #44325
@duane-ibm any work is happening with respect to port missing e2e test images?

[2018-01-08 16:56] msau42 commented on #57961
This should have been added here: https://github.com/kubernetes/kubernetes/pull/55039/commits/01a8772111e5b5d057e9580e7787ca0ffae43233#diff-eee450e334a11e0b683ce965f584c3c4

We have alpha e2e tests that are running fine.

[2018-01-08 17:21] ozdanborne commented on #35250
I'm going to close this as it has been over a year and test infra has certainly progressed since then. Anyone else with similar experiences, I encourage you to open a new, updated issue describing them.

[2018-01-08 17:21] #35250 closed

[2018-01-08 17:40] ericchiang commented on #52745
/remove-lifecycle stale

[2018-01-08 17:50] soltysh commented on #54216
This is working exactly as described in https://kubernetes.io/docs/concepts/workloads/pods/init-containers/. Make sure to use `annotations` or `initContainers` at `.spec.template` level where you define how the pod template.

[2018-01-08 17:50] #54216 closed

[2018-01-08 18:05] msau42 commented on #53516
This has been addressed.

/close

[2018-01-08 18:05] #53516 closed

[2018-01-08 18:06] G-Harmon commented on #32157
/remove-lifecycle stale

[2018-01-08 18:06] jryberg opened #57972 "Can't mount configmap with files as a folder, the POD starts and the folder is empty"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Can't mount configmap as folder, the folder is empty, no error messages.

**What you expected to happen**:
Each file in the configmap should be files in the folder

**How to reproduce it (as minimally and precisely as possible)**:
Using Kubernetes own examples on Google Kubernetes Engine
https://kubernetes-v1-4.github.io/

[2018-01-08 18:09] php-coder opened #57974 "kubectl describe psp doesn't describe allowPrivilegeEscalation option"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig auth

**What happened**:
`kubectl describe psp` doesn't describe `allowPrivilegeEscalation` option.

**What you expected to happen**:
`allowPrivilegeEscalation` value should be present.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
[code]

[2018-01-08 18:09] php-coder commented on #57974
@kubernetes/sig-auth-bugs

[2018-01-08 18:11] yujuhong commented on #53549
Closing this issue in favor of #55905, which has more details.

[2018-01-08 18:11] #53549 closed

[2018-01-08 18:13] msau42 commented on #49793
/lifecycle frozen
/remove-lifecycle stale

More areas of the code are using the fully iterative mount check, so this will become more important as we start to scale the number of mounts allowed on a single system.

[2018-01-08 18:14] yujuhong commented on #46255
/remove-lifecycle stale
Issue is still relevant.

[2018-01-08 18:15] msau42 commented on #49926
@feffi the mount error you got is pretty self-explanatory:
[code]

This is different from the OP's error, which is related to EBS volumes.

[2018-01-08 18:15] yujuhong commented on #52318
/remove-lifecycle stale

[2018-01-08 18:17] janetkuo commented on #55894
apps/v1 is only available in Kubernetes 1.9.0+ clusters.

[2018-01-08 18:18] #55894 closed

[2018-01-08 18:18] bschwartz757 commented on #24745
Hello,
Apologies if this is off-topic but not finding anything out there that addresses my particular issue. I'm running an app in GKE using an exposed service and a Content Security Policy defined within the app (NodeJS using Hapi framework.) I added a socket.io websocket server and it works on localhost with the `connect-src` directive set as such: `connectSrc: "'self' ws://localhost:4118 ws://f

[2018-01-08 18:31] jamiehannaford opened #57975 "Add support for --until to kubectl"
Many logging tools such as journalctl allow relativistic log access. This is useful, for example, when an outage has happened at a specific time and a user wants to retrieve logs from a specific time window.

Right now kubectl provides `--since` and `--since-time` but not it `--until` or `--until-then`. This feature request tracks the implementation of the latter.

The `--until` flag was added to

[2018-01-08 18:31] jamiehannaford commented on #57975
/sig node
/sig cli

[2018-01-08 18:31] jryberg commented on #57972
/sig storage
/sig GCP

[2018-01-08 18:35] nicksardo commented on #56371
I was asking you to confirm that you cannot access the actual K8s service.

[2018-01-08 18:38] liggitt commented on #46664
if we want to specify a separate address specifically for pod traffic, I'd expect a new address type, not annotations or overloading existing types

[2018-01-08 18:42] rphillips commented on #45419
@esevan could you propose a patch?

[2018-01-08 18:44] bschwartz757 commented on #53886
Hello,

Not finding much on this subject so I was wondering if anyone has had success here. I've got a NodeJS app deployed in GKE and just added a socket.io server; it works fine locally but when trying to run in the cluster all the polling requests return 404. I'm also using CSP (content security policy) directives on the webserver, which are configured as such: `connectSrc: "'self' ws://localhos

[2018-01-08 18:47] jamiehannaford commented on #26996
@jingxu97 Since this is not my issue, can you close this? Thanks!

[2018-01-08 18:50] spiffxp commented on #57689
All PR's have been merged (save for kubernetes-docs-cn, which is a sync, so I'm considering it merged)

[2018-01-08 18:50] spiffxp commented on #57689
/close
The wiki has been disabled

[2018-01-08 18:50] #57689 closed

[2018-01-08 18:56] #30186 closed

[2018-01-08 18:59] #40753 closed

[2018-01-08 18:59] Random-Liu opened #57977 "Node E2E Test should be generic to all CRI container runtimes."
There are still many node e2e tests are docker specific:
* Garbage collector test: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/garbage_collector_test.go
* Restart test: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/restart_test.go
* ...

We try to use CRI in those tests. And if a test really requires docker, we should skip if container runtime is not doc

[2018-01-08 19:00] #23332 closed

[2018-01-08 19:02] mikedanese commented on #12803
This will be fixed by running the apiserver as a real pod a la self hosting.

[2018-01-08 19:02] #12803 closed

[2018-01-08 19:02] chino commented on #38192
Any reason that updating the storageClass reclaimPolicy is forbidden?

[2018-01-08 19:03] jingxu97 commented on #52683
@mlmhl, Thanks a lot for your inputs.
1. Yes, plugin mount directories might exist without volume directories. Since it would be quite rare, I think we can add code to clean up this later as another PR.
2. For updating volume mounts information in node status, currently I am thinking to keep part of the original reconstruction code to do this job.
The basic idea is
a) for each volume scanned from

[2018-01-08 19:04] #26996 closed

[2018-01-08 19:05] #46638 closed

[2018-01-08 19:07] #32538 closed

[2018-01-08 19:07] kow3ns commented on #46934
@janetkou do we want to keep this open until deprecation is complete?

[2018-01-08 19:07] mikedanese commented on #32538
This should be a COOS bug.

[2018-01-08 19:08] #46130 closed

[2018-01-08 19:08] gnufied commented on #38192
It was recently fixed. In kube-3.9 you can edit update reclaimPolicy of a storageclass as expected.

[2018-01-08 19:17] jonmoter commented on #7294
FYI, I'm running a 1.6.11 Kubernetes cluster, and confirmed that the pods running in that cluster are being allocated swap, at 2x the amount of memory that their limit is set to. (The below is a container running kube-state-metrics.)

[code]

[2018-01-08 19:22] kargakis commented on #57975
@stevekuznetsov this is likely to be useful for our log tracer.

For clarity, we have built a log tracer for our CI infra that fetches logs from all of its underlying services and given a PR or an issue comment, it returns all logs related to that PR/comment. Fetching logs becomes pretty slow over time and caching them is a lot of work. I am thinking we can get away with using the Github API and -

[2018-01-08 19:38] asarkar commented on #15128
@sdf611097 Is what you said meant to be a response to my question, because if yes, you didn't answer my question.

[2018-01-08 19:40] Random-Liu opened #57979 "Cluster E2E Test should not use docker CLI directly."
Some cluster E2E tests ssh into the node and use `docker ps` and `docker kill` to operate containers directly, such as:
* https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L3905
* https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L3936
* https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L3963

We should insta

[2018-01-08 19:42] mtaufen opened #57980 "allow e2e node test framework to generate kubelet config files"
We are close to moving the ability for the Kubelet to load config from a file to beta. We should start configuring Kubelets this way in e2e node tests to further validate this feature. The easiest way to start doing this right now is to have the test framework write its defaults to the Kubelet config file instead of passing them as flags to the Kubelet.

[2018-01-08 19:47] tvinhas commented on #57842
@bsalamat thanks a lot! Both commands you provided work fine.

I'll add those to the documentation as an example on how to untaint a node, as others might have the same issues I had.

[2018-01-08 19:47] gzzo commented on #57853
@xingzhou 1.8.3

One thing that I could have made clearer in the bug description is that I ran `kubectl describe` shortly before posting this issue, so Jan 4 2018.

This is important since the events that are listed have ages of 27m and 14m, which means that a job was created but somehow the cronjob didn't register that (since the Last Schedule Time is still on Dec 29 2017).

If this was fixed bet

[2018-01-08 19:47] #57842 closed

[2018-01-08 19:52] roberthbailey commented on #4630
/remove-lifecycle stale

[2018-01-08 19:52] nicksardo commented on #53475
/lifecycle frozen

[2018-01-08 19:53] sstelfox opened #57981 "Kubelet Regularly Crashing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:

Kubelet's are regularly crashing (goroutine panics) on my nodes with several different stack traces. I was experiencing this on 1.9.0, I just upgraded to 1.9.1 and it is continuing to happen.

**What you expected to happen**:

For Kubelets to remain running and ready in the cluster.

**How to reproduce it (as m

[2018-01-08 19:53] roberthbailey commented on #4630
It still isn't possible to delete the following namespaces: `kube-system`, `kube-public`, `default`. So we can't rely on finalizers / GC for resources in those namespaces.

We also don't have a way to put the apiserver into a lame duck mode to prevent new namespaces from being created during cluster teardown.

[2018-01-08 20:00] sstelfox commented on #57981
Looking through the issues this may also be related: https://github.com/kubernetes/kubernetes/issues/57955

[2018-01-08 20:25] cjyar commented on #52172
@joelittlejohn Here's my solution which is based on yours. This uses a DaemonSet. It replaces symlinks in both /var/log/containers and /var/log/pods, since I was having trouble with that.

`log-linker.sh`:
[code]

`Dockerfile`:
[code]

`deploy.yaml`:
[code]

[2018-01-08 20:32] lavalamp opened #57982 "Mutating Admission Webhooks: apiserver needs to default patched objects"
Example: if you add an initContainer to a pod, you have to set fields that ought to have system-applied defaults.

It is not future-safe for webhook authors to supply their own defaults, therefore I believe we should fix this and backport it.

[2018-01-08 20:37] spiffxp commented on #57559
I've opened https://github.com/kubernetes/client-go/pull/356 to remove the .md files.  Will leave the .travis.yml file there for now

[2018-01-08 21:12] lavalamp commented on #57787
Doesn't look like an api machinery problem.

[2018-01-08 21:12] lavalamp commented on #57815
Not API Machinery.

[2018-01-08 21:13] liggitt commented on #57982
Agree that all external->internal transitions should have defaults applied server side. I'd expect:

1. apply patch
2. apply defaults
3. convert to internal

[2018-01-08 21:14] caesarxuchao commented on #57829
cc @tallclair

[2018-01-08 21:15] lavalamp commented on #57829
I don't think this is an API machinery thing, @tallclair is there a better SIG?

[2018-01-08 21:17] lavalamp commented on #57927
cc @yliaog

[2018-01-08 21:18] lzlicd commented on #57711
I think this is an issue for systemd https://github.com/systemd/systemd/issues/2236, close this one.

[2018-01-08 21:18] #57711 closed

[2018-01-08 21:18] caesarxuchao commented on #57939
/assign @yliaog

[2018-01-08 21:21] lavalamp commented on #57982
Similar problem: https://github.com/kubernetes/kubernetes/issues/42764

[2018-01-08 21:23] chino commented on #38192
I just tried on 1.9.1 but it still rejected it.

[2018-01-08 21:25] IshwarChandra commented on #23726
You need to switch context.
First, run `kubectl config get-contexts`
You would see something like below-

          minikube                         minikube                                  minikube
*        docker-for-desktop       docker-for-desktop-cluster   docker-for-desktop

Make sure your * is pointing to "docker-for-desktop", if not run below command-
`kubectl config use-context docker-fo

[2018-01-08 21:26] lavalamp commented on #57982
/assign @caesarxuchao

[2018-01-08 22:00] tallclair commented on #57829
cc @crassirostris

Audit logging is sort of a collaboration of sig-apimachinery & sig-auth

[2018-01-08 22:07] roberthbailey commented on #28435
Is anyone from @kubernetes/sig-release-feature-requests working on this feature request?

[2018-01-08 22:35] enisoc commented on #28435
Since 1.6 or so, we've had separate per-arch tarballs, and the main one is only a few MB with a script to download only the arch you're running on. I haven't heard any complaints about tarball size since then.

[2018-01-08 22:43] ixdy commented on #39590
/close

[2018-01-08 22:43] #39590 closed

[2018-01-08 22:47] roberthbailey commented on #28435
Should we close this then?

[2018-01-08 22:49] jbeda commented on #28435
Close enough.  I'm closing it. Victory is ours!

[2018-01-08 22:49] #28435 closed

[2018-01-08 23:05] janetkuo opened #57983 "Outdated list of admission controllers in gce/config-default.sh"
We should keep the admission controllers list in sync:

https://github.com/kubernetes/kubernetes/blob/df2428c6dd30c591444c9bd9b5e8322986da331a/cluster/gce/config-default.sh#L301-L302

https://kubernetes.io/docs/admin/admission-controllers/#is-there-a-recommended-set-of-admission-controllers-to-use
[code]

@lavalamp @caesarxuchao

[2018-01-08 23:08] mtanino commented on #44297
@jsafrane
Cool. I confirmed that PVC is prevented to delete if Pod is using it.

[2018-01-08 23:15] caesarxuchao commented on #57964
To clear any ambiguity around the word "broken", the current code behavior is that most cluster-scoped resources are not subjected to any webhooks.

I wrote them like this because I was concerned with the potential bootstrapping deadlocks: a webhook that enacts policies for cluster-scoped resources might cause bootstrapping deadlocks for the cluster or for its own deployment.

Thinking out loud, p

[2018-01-08 23:21] mengqiy commented on #52881
Closing since https://github.com/kubernetes/kubectl/pull/64 has been merged.

[2018-01-08 23:21] #52881 closed

[2018-01-08 23:22] dogopupper commented on #33533
do you know de wey my brudda

[2018-01-08 23:25] ixdy commented on #40161
bazel build and test on mac *should* work, though cross-compilation only somewhat works right now.

[2018-01-08 23:25] sarmadali20 commented on #57280
same issue CentOS Linux release 7.4.1708 (Core)

[2018-01-08 23:27] lavalamp commented on #57983
The docs are more recent than the config.

[2018-01-08 23:34] lavalamp commented on #57983
Actually there's a few plugins that aren't mentioned by the docs, I don't know off the top of my head.

[2018-01-09 00:30] doprdele commented on #24997
@mogthesprog were you able to find a solution for this? I'm in the same boat, need to kinit inside a container, currently authentication to a web service using university CAS connected to a central A.D. to launch JupyterHub, etc.

[2018-01-09 00:57] aries-zhang commented on #56038
Anyone?

[2018-01-09 01:05] liggitt commented on #57961
Did you also set the feature gate when starting the apiserver?

[2018-01-09 01:05] liggitt commented on #57961
The bootstrap role only gains those permissions when enabling the alpha feature gate

[2018-01-09 01:06] liggitt commented on #57946
/kind support

[2018-01-09 01:07] dims commented on #57718
/close

[2018-01-09 01:07] #57718 closed

[2018-01-09 01:14] jianglingxia commented on #57878
thanks @wenlxie but now the issue about dynamically provisioned,in doc1.9:https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistentvolumeclaims
![image](https://user-images.githubusercontent.com/25783555/34699924-1a86704a-f51b-11e7-852b-5f20b5ef898f.png)
yes,pvc1 and pvc2 use different labels!
in the Following design-proposals why the current do not support the feature?thanks all

[2018-01-09 01:57] feiskyer commented on #57787
@gertdetlef Could you open an issue at minikube for version problem?

[2018-01-09 01:58] mlmhl opened #57985 "Support volume parameters configuration in each PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently(v1.9), when using the dynamic provisioning mechanism of PVC, the parameters required to create a volume are stored in `StorageClass.Parameters`, includes the file system type. If we want to support more than one fs type for a specific volume plugin(such as cinder, rbd, etc.),we need to create a `StorageClas

[2018-01-09 02:02] mlmhl commented on #57985
/cc @jsafrane  @saad-ali

[2018-01-09 02:04] mlmhl commented on #57985
/assign @jsafrane @saad-ali

[2018-01-09 02:07] enj commented on #52185
/lifecycle frozen

[2018-01-09 02:18] justlooks commented on #57959
/sig release

[2018-01-09 02:35] asafpelegcodes commented on #36845
@alexw23
I discovered this thread because I'm trying to do the exact same thing you were attempting last year. I modified my service to match the example that you provided but I'm not having the same result that you purported.  My HTTPS is still forwarding to the port thats mapped to 443 instead of 80.  Could you take a look at my config below and see if anything wrong?

Thanks

`
apiVersion: v1
k

[2018-01-09 02:40] MengJueM commented on #42306
confirmed the same issue found in k8s 1.8.5; the storage svc name is not resolved properly.

[2018-01-09 02:48] CaoShuFeng commented on #56458
PSP controls the range of hostports a user can use.
Can we add a quota to control  total amount of host ports in each namespace?

[2018-01-09 02:48] CaoShuFeng commented on #56458
https://github.com/kubernetes/kubernetes/pull/57319

[2018-01-09 02:56] likunbyl commented on #57955
Thank you , wenlxie.

I'm sorry I had recovered these node by 'systemctl restart kubelet' command, so I supposed the stack of kubelet of that time is not available, I guess this command should be ran at the kubelet hung time.

And  I still doubt if that command can be ran successfully,  since I had accessed port 10255 or 10250 at that time and got no response at all.

Anyway, in case I get these i

[2018-01-09 03:05] mlmhl commented on #52683
@jingxu97  Thanks for your explanation. By the way, what's the plan for this refactor? Are we going to put it in v1.10?

[2018-01-09 03:16] xingzhou commented on #57853
@gzzo, I checkout the tag v1.8.3 of K8s, but still can not reproduce the issue in my env, here is the version I used:
[code]

if you have separate env, you can take a try on this version.
Besides, any errors or incidents from the log?

[2018-01-09 03:53] ianchakeres commented on #37297
While `make clean; make cross` failed,`make clean; make; make cross` worked on my mac.

[2018-01-09 03:58] zhangbei59 commented on #57925
apiserver:

# Add your own!
KUBE_API_ARGS="--authorization-mode=RBAC,Node --runtime-config=rbac.authorization.k8s.io/v1beta1  --kubelet-https=true   --token-auth-file=/etc/kubernetes/token.csv --service-node-port-range=30000-32767 --tls-cert-file=/etc/kubernetes/ssl/kubernetes.pem --tls-private-key-file=/etc/kubernetes/ssl/kubernetes-key.pem --client-ca-file=/etc/kubernetes/ssl/ca.pem --service-ac

[2018-01-09 04:07] fejta-bot opened #57988 "Failure cluster [0c97f3...] failed 94 builds, 11 jobs, and 1 tests over 1 days"
### Failure cluster [0c97f3d000bad79bf446](https://go.k8s.io/triage#0c97f3d000bad79bf446)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    11 jobs failed,    94 builds failed.
Failure stats cover 1 day time range '8 Jan 2018 03:09 UTC' to '9 Jan 2018 03:09 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 11 |

[2018-01-09 04:25] wsargent commented on #57334
@dixudx I had to add 0.5.1-00 specifically `aptitude install kubernetes-cni=0.5.1-00`

[2018-01-09 04:38] #57980 closed

[2018-01-09 04:50] mcluseau commented on #57345
Hi, good catch, I'm seeing this in my cluster too:

[code]

The problem is that this is starving systemd resources, causing errors like

[code]

It seems that waiting a bit allows the daemon-reload to work though:

[code]

Another consequence is socket-activated services, like sshd in CoreOS Container Linux, can't start anymore.

[2018-01-09 05:01] nikhita commented on #42950
/remove-lifecycle stale
/lifecycle frozen

[2018-01-09 05:20] zjj2wry commented on #57909
/assign

[2018-01-09 05:25] thockin commented on #56056
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/iptables/iptables.go#L417

We already use wait, as long as iptables is > 1.4.20 - where are you seeing that we don't?

[2018-01-09 05:25] #56056 closed

[2018-01-09 05:39] esevan commented on #45419
@rphillips This bug is actually close to CNI bug, and surely I'm going to upload the patch to openstack/kuryr-kubernetes after looking the behavor more.

[2018-01-09 05:56] ravisantoshgudimetla commented on #57579
@misterikkit - I believe this could be closed since the PR got merged.

[2018-01-09 06:02] glennschmidt commented on #48656
/remove-lifecycle stale

[2018-01-09 06:19] bgrant0607 commented on #34363
/lifecycle frozen

[2018-01-09 06:20] bgrant0607 commented on #7856
/lifecycle frozen

[2018-01-09 06:20] bgrant0607 commented on #30698
/lifecycle frozen

[2018-01-09 06:21] #57863 closed

[2018-01-09 06:41] hzxuzhonghu commented on #57981
which go version are you using, seems like panic in select.go

[2018-01-09 06:50] bedrin commented on #23378
Can reproduce in kubernetes 1.5.2

[2018-01-09 06:50] rfranzke commented on #57961
Yes, I set it on the apiserver and on the controller-manager as well.

[2018-01-09 06:59] ravisantoshgudimetla commented on #57152
I believe, the problem is with `%v` in the message but I am not able to reproduce it, @jwforres, can you please share steps to reproduce this.

[2018-01-09 07:09] dixudx commented on #57334
@wsargent Yes, this is the current workaround for kubelet<1.9.0. We may need to specify the exact version for `kubernetes-cni` before kubernetes/release#489 gets merged.

[2018-01-09 07:21] justlooks commented on #57959
i can compile kubernetes master branch without problem,but  can not compile v1.8.6 in same environment

[2018-01-09 07:46] SamClinckspoor opened #57992 "Kubelet leaks memory on kubectl port-forward"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When opening port-forward requests to a pod, kubelet memory usage increases without releasing it again when the port-forward is stopped.

**What you expected to happen**:
Kubelet should cleanup the port-forward when it is closed

**How to reproduce it (as minimally and precisely as possible)**:
Using the following script

[2018-01-09 07:57] anguslees commented on #57992
/sig node

In my testing (v1.8.0), I observed `kubectl port-forward` create a TCP connection between apiserver and kubelet for each port-forward (and one between apiserver and kubectl).  This apiserver<->kubelet TCP connection was _not_ torn down when the corresponding `kubectl port-forward` command was killed.

I have not tried against a newer apiserver/kubelet, but if someone has one handy, it's

[2018-01-09 07:59] zhangxiaoyu-zidif commented on #57794
Thanks, Tim! @thockin . I see it is the design of service. Some people wanted to create endpoint for gluster(storage) without service. by accident, the kubernetes master restarted, so the endpoint lost because of cleanup. You see, some customers are always imaginative. they could create any possible usage scenario.

[2018-01-09 08:28] sttts commented on #57964
I think we still need namespaceSelectors. We don't want to label pods. But I agree we actually want another objectLabelSelector. For namespaces these two coincide, i.e. we only have to define how they are applied if both are set or we forbid both at the same time. I tend to the later.

[2018-01-09 08:33] sttts commented on #57983
/cc @p0lyn0mial

[2018-01-09 09:05] gmarek commented on #42001
I think it's done (as alpha). @davidopp - do we want to keep this issue open?

[2018-01-09 09:13] innocode-devops commented on #42306
By the way, in case of heketi on GKE we created ingress for heketi service with public IP. Not terribly secure (we tried additional nginx layer to filter usual garbage and bruteforce, but it needs tweaking and messes with JWT auth used by heketi, so we dropped it for the time being), but it gets the job done, master node is guaranteed to reach it.

[2018-01-09 09:19] rangapv opened #57995 "kubefed not installing right ...."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

Labels:
/ sig federation
**What happened**:
kubefed install not working right...

I did the following.....
Step 1:
curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/kubernetes-client-linux-amd64.tar.gz
  tar -xzvf kubernetes-client-linux-amd64.

[2018-01-09 09:20] jianglingxia commented on #57639
in /var/log/nova/nova-api.log there has 400
![image](https://user-images.githubusercontent.com/25783555/34713226-918eee16-f560-11e7-85cf-61d2cce1b9aa.png)
![image](https://user-images.githubusercontent.com/25783555/34713263-a20d343c-f560-11e7-8e18-8b2df83e01a2.png)
and I manually attach a volume to server with using the command
nova --debug volume-attach 08c445ea-cf3f-4fbb-8198-21b033fef273(server

[2018-01-09 09:30] fandaye opened #57996 "HorizontalPodAutoscaler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

    gcr.io/google_containers/heapster-amd64                  v1.4.2              d4e02f5922ca        4 months ago        73.4 MB

    kubectl describe deploy php-apache
    Name:                   php-apache
    Namespace:              default
    CreationTimestamp:      Tue, 09 Jan 2018 16:10:32 +0800
    Labels:                 run=php-apache
    An

[2018-01-09 09:43] sttts opened #57998 "kube-apiserver: ServerRunOptions are not validated"
The validation code at https://github.com/kubernetes/kubernetes/blob/64a7c60e00a1f6cf92710415e0e3dee133ebab7c/cmd/kube-apiserver/app/options/validation.go#L49 is never called.

[2018-01-09 09:48] rangapv commented on #57995
/sig federation

[2018-01-09 10:07] sttts commented on #57998
Actually it is called, but after self-signed certifcate generation. I.e. there can be errors in the bootstrapping before validation.

[2018-01-09 10:07] #57998 closed

[2018-01-09 10:17] brancz commented on #53615
This is still applicable, and something we should work towards. Concrete things that need to be done:

* describe to users how one can use the `/metrics/cadvisor` endpoint on the secure handler of the kubelet
* implement stats endpoints for CRI providers (at least dockershim)

The first one primarily takes documentation and examples (and as it happens I'm already working on that), and the second o

[2018-01-09 10:53] argiris-mat commented on #14017
I got the packages mentioned above but there is another error

`# The CName used here is specific to the service specified in nginx-app.yaml.
openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /tmp/nginx.key -out /tmp/nginx.crt -subj "/CN=nginxsvc/O=nginxsvc"
Generating a 2048 bit RSA private key
.................................+++
..........................+++
writing new private key to

[2018-01-09 11:15] justincormack commented on #39845
/remove-lifecycle stale

[2018-01-09 11:36] jacobpm commented on #10921
I am blocked on this.  Any inputs would be greatly appreciated.

[2018-01-09 11:55] jryberg commented on #57972
Sorry, My fault.

The Docker container did not start so I was manually staring it using docker run -it --entrypoint='/bin/bash' <container> and I could not see any files from the configMap.

This does not work since docker don't know anything about my deployment until Kubernetes starts it.

I will close this case.

[2018-01-09 11:55] #57972 closed

[2018-01-09 12:11] rbtcollins commented on #26507
@tedsuo do you see anything in the OpenTracing API that is inimical to long lived traces? The data model seemed entirely fine for tracing k8s's needs to me. We're hoping to work on this space in the medium future. (Not a forward looking commitment etc etc).

[2018-01-09 12:11] jwforres commented on #57152
No unfortunately, one of our users reported seeing it when there system was in a bad state, not in a reproducible way. The point of the issue is just that the grammar in those messages is bad, which should be fixable even if you can't get them to fire.

[2018-01-09 12:12] dmitriy-lukyanchikov opened #58001 "K8s Cluster Error updating node status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After i add metrics for k8s cluster i notice that for some reason one of the node sometime have status unknown for very short time, not more that 1 minute. Also at the same time  pods and replicas number decreased, but then when node appear with status ready pods are back without any restarts.
After digging i notice that

[2018-01-09 12:34] dims commented on #39128
The issue above has more details.

/close

[2018-01-09 12:34] #39128 closed

[2018-01-09 12:34] dims commented on #39845
discussion on seccomp format is here : https://github.com/kubernetes/kubernetes/issues/52827

[2018-01-09 12:47] rbtcollins commented on #27828
/remove-lifecycle stale

As far as I can tell this is still relevant until reinstated / taints added.

[2018-01-09 12:54] foxyriver opened #58002 "node is not ready because of kubelet report a meaningful conflict error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**kubelet report an error.kubectl get node is not ready**
`there is a meaningful conflict (firstResourceVersion: "104201", currentResourceVersion: "4293"):
 diff1={"metadata":{"resourceVersion":"4293"},"status":{"conditions":[{"lastHeartbeatTime":"2018-01-03T07:38:24Z","lastTransitionTime":"2018-01-03T07:42:59Z","message

[2018-01-09 12:55] foxyriver commented on #58002
@kubernetes/sig-node-bugs
/sig node

[2018-01-09 13:22] porridge commented on #55779
With #57708 fixed, I have collected two more profiles with longer duration:
 - [profile002-dns-autoscale-test.pdf](https://github.com/kubernetes/kubernetes/files/1615186/profile002-dns-autoscale-test.pdf) covers the time during which the DNS autoscaler test was running.
 -  [profile001-idle.pdf](https://github.com/kubernetes/kubernetes/files/1615183/profile001-idle.pdf) covers the same cluster bei

[2018-01-09 13:29] antoineco opened #58004 "StatefulSet controller should compute object Conditions"
Tracking issue for computing `Conditions` as part of the StatefulSet controller reconciliation loop.

ref #55792

[2018-01-09 13:30] antoineco commented on #58004
/sig apps

[2018-01-09 13:41] dims commented on #57760
@qrpike what are the contents of your `/sys/class/dmi/id/product_name` file? looks like at least a few logs think that you are running on GCE

example the log from here - https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/gcp/metadata.go#L235

[2018-01-09 13:44] mt-inside commented on #45828
I don't think either of the suggested solutions are correct. Unless I've missed something fundamental, the problem is that kube-dns is using the wrong servers as its upstream. Both kubelet arguments above (`--cluster-dns` and `--resolv-conf`) will affect the resolv.conf that kubelet bind mounts into **every** container. While this will get _external_ resolution working, it will disable in-cluster

[2018-01-09 13:46] porridge commented on #55779
I also graphed kube-apiserver's CPU usage (at 200ms intervals) during the above test.

![dns-test](https://user-images.githubusercontent.com/489420/34723559-5c13cb72-f54b-11e7-9a73-3ec94702a134.png)

The two significant and long usage increases correspond to the phases where `kube-dns` replica counts are increased:
 - from 313 to 385 (so by 72) and
 - from 358 to 385 (so by 27 replicas)
respective

[2018-01-09 13:46] shyamjvs commented on #48107
@bowei We disabled services in our load test on 5k-node clusters sometime back in order to have green runs for the release. However, iirc it was failing back when they were enabled  (even after I [reduced #services to half](https://github.com/kubernetes/kubernetes/pull/48908) with #endpoints kept the same).

For 2k-node cluster tests I still kept services enabled to keep getting some signal.. and

[2018-01-09 13:50] shyamjvs commented on #48938
/remove-lifecycle stale
/lifecycle frozen

[2018-01-09 13:50] shyamjvs commented on #48107
Also I remember @freehan saying that it is the #services that becomes the bottleneck rather than the #endpoints (which I believed was the case as that's the one proportional to the no. of kube-proxy updates). That was the reason why I only reduced #services to check that hypothesis, but it still failed.

ref our earlier discussion - https://github.com/kubernetes/kubernetes/issues/48938

[2018-01-09 13:52] porridge commented on #55779
In an attempt to understand the above I temporarily disabled the kube-dns autoscaler pod and played a little manually changing the `kube-dns` deployment size, in different increments, while measuring kube-dns CPU usage (blue line). Red line shows the replicaset size as reported by `kubectl -n kube-system get rs kube-dns-5df9d548d9 -o custom-columns=ready:status.readyReplicas --no-headers`)

In eac

[2018-01-09 13:56] porridge opened #58005 "pull-kubernetes-verify failing due to bitbucket.org being down"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-testing-bugs

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/57552/pull-kubernetes-verify/70802/ failed with:
[code]

**What you expected to happen**:

The dependencies should be fetched when the container for running this test is built, not at test time.

[2018-01-09 14:00] dims commented on #57787
@gertdetlef looks like @feiskyer fixed an issue in v1.9.0 - https://github.com/kubernetes/kubernetes/commit/2a2a8756864062c9dc15b7a86efd195951f874a7 - so it should work with new kubelet.

yes you can try minikube with `--kubernetes-version v1.9.0`

[2018-01-09 14:01] antoineco commented on #45828
@mt-inside that's why pointing `kubelet` to `/run/systemd/resolve/resolv.conf` makes sense because in an environment running `systend-resolved`

1. `/etc/resolv.conf` contains only one entry: localhost
2. `/run/systemd/resolve/resolv.conf` contains your actual DNS servers

`kube-dns` merely uses whatever nameservers `kubelet` provides as its forwarders, so if `kubeadm` configures `kubelet` to use

[2018-01-09 14:09] zetaab commented on #57798
are your pods running in nodes which are scaled down?

[2018-01-09 14:16] VRuzhentsov commented on #58005
@porridge It can be bitbucket connection issues
https://status.bitbucket.org/incidents/z029156p1svh

[2018-01-09 14:19] soltysh commented on #20255
Quite a bit late, but if anyone else looks for it's https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#pod-backoff-failure-policy

[2018-01-09 14:32] Overbryd commented on #10179
This issue would be a great deal, as some resources (e.g. Ingress) bind specific resources like external IPs from a GCE load balancers that are used in static DNS configurations elsewhere.

Deleting the LoadBalancer from kubernetes removes that IP and requires hard updating all the DNS configurations.

A deletion prevention / protected resource feature would solve this issue.

[2018-01-09 14:43] dims commented on #52827
Moby seems to be parsing seccomp here - https://github.com/moby/moby/blob/master/profiles/seccomp/seccomp.go

[2018-01-09 14:44] boeboe commented on #57946
@liggitt

    Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d55f812", GitTreeState:"clean", BuildDate:"2018-01-04T19:58:48Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"darwin/amd64"}
    Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6260bb08c46c31eea6cb538b34a9ceb3e406689c", GitTreeState:

[2018-01-09 14:53] juanferreras commented on #36499
@msau42 Hi, we'd be interested in getting whitelisted as well. I've tried emailing you but it bounced with a NoSuchUser error. Would you mind emailing me at juan@flioh.com? Thank you!

[2018-01-09 14:58] antoniaklja commented on #57979
let me sort this out

[2018-01-09 15:12] wojtek-t commented on #48107
I think the problem here was "too large iptables". And for this one, reducing number of services doesn't help that much. I think @freehan had a comment about ip-tables performance (assuming that data is already there), but here we were facing problems with loading data into iptables IIRC.

[2018-01-09 15:25] benbonnet commented on #52462
Hello, sorry to bother for this one, experiencing the same issue. One of my kube-proxy pod is stuck pending; same state as shown in the original post

The disks weren't pressured, but a deployment was not limited and went out of its mind (the cpu bursted to 120% or more for some hours), I expect it to be the reason (with no way of being sure of it). Anyhow, some trouble happened,  and here i am wi

[2018-01-09 15:38] liggitt commented on #39845
not sure a docker-specific seccomp name is good as a default

[2018-01-09 15:47] JorritSalverda opened #58007 "Allow metadata updates for volumeClaimTemplates"
**FEATURE REQUEST**:

/kind feature

Allow the metadata in a `volumeClaimTemplate` of a statefulset to be updated, at least in order to be able to change the labels.

**What happened**:

When adding labels to a `volumeClaimTemplate` of an existing statefulset the following error is returned when applying the changes:

[code]

**What you expected to happen**:

The labels to be modified on the `volu

[2018-01-09 15:50] soltysh commented on #17130
/remove-lifecycle stale

[2018-01-09 15:52] JorritSalverda commented on #58007
/sig apps

[2018-01-09 16:09] caseydavenport commented on #20177
Yeah, this might be hard to do in a generic way.

Calico also doesn't have a strict limit to the number of addresses assigned to a node, since allocations are done dynamically. In the Calico case, even a call to CNI wouldn't necessarily return an accurate number, because Calico can assign more addresses to a node if they're needed.

[2018-01-09 16:20] mtanino commented on #57544
@mlmhl
I think this problem is related to item `Improve local volume attaching (iscsi, etc.)` on sig-storage planning list, but currently no one assigned to it. We are looking for volunteer for this refactor, so if you can try, it's very helpful.

[2018-01-09 17:06] bryanlarsen commented on #57291
This isn't just an issue for dev, it's also important for some production workloads.

We have some workloads that deliberately exit whenever they get any sort of error, including bad input data, expecting that they'll be restarted in a clean state so that they can continue.   Bad input data is ~2% of input, each unit takes ~5 seconds, so those workloads seem to spend more time in CrashLoopBackoff

[2018-01-09 17:29] shevagit opened #58009 "Private docker-registry access"
Hello,

I have some trouble accessing a private docker registry on a kubernetes cluster. There is a working private registry that currently works on another cluster. I already have the certificate in the correct directory (/etc/docker/certs.d/<registry address and port>/ca.crt file), I have manually logged in from each of the minion nodes successfully and checked that I can use `docker pull <image

[2018-01-09 17:33] shevagit commented on #58009
/sig Auth

[2018-01-09 17:39] dims commented on #58009
@shevagit : i believe we have fixed this already in 1.9.1 - https://github.com/kubernetes/kubernetes/pull/57463

So please use 1.9.1 (at least kubectl and recreate the secret) or use the work around from here:
https://github.com/kubernetes/kubernetes/issues/57427#issuecomment-353765345

Thanks,
Dims

/close

[2018-01-09 17:39] #58009 closed

[2018-01-09 17:53] jingxu97 commented on #52683
@mlmhl yes, I am working on it and will try to put it in v1.10. Your feedback is welcome. Also which type volume plugins you are typically using? Any help on testing would be appreciated!

[2018-01-09 18:05] mtaufen opened #58010 "Remove deprecated Kubelet security controls in v1.13"
AllowPrivileged, HostNetworkSources, HostPIDSources, HostIPCSources are deprecated in #57851 and should be removed in v1.12.

[2018-01-09 18:06] MrHohn commented on #57794
FYI The endpoint cleanup logic in endpoint controller was deactivated by https://github.com/kubernetes/kubernetes/pull/57747.

[2018-01-09 18:09] xiangpengzhao commented on #57618
cc @kris-nova

[2018-01-09 18:09] gamer22026 commented on #57686
If that is indeed the case the metrics for PVC are worthless and should be removed as there is no way to tell which PVC metrics are current and which ones are emitting metrics for mounts that no longer exist.

[2018-01-09 18:13] athornton opened #58011 "Kubectl cp fails when attempting to copy files from secrets mounted as directories"
/kind bug

**What happened**:

I get a Go stack trace when I try to copy a secrets-mounted directory.

**What you expected to happen**:

I expected to copy the files out to the environment where I'm running `kubectl`.

In this example, `/etc/tls` is a secret:

[code]

...

[code]

I initially expected to be able to just `kubectl cp <pod>:/etc/tls .` and have the files show up, by analogy with, say

[2018-01-09 18:19] andrewrothman commented on #45828
I'm sure there are other factors at play that I'm not aware of, but I'd just like to report that my pods are able to communicate out to the internet as well as to other pods in the cluster via DNS hostname (I haven't tried exposed services yet), and I haven't had networking issues since changing my config to the value I mentioned above.

Again, I'm sure there are complexities I'm not aware of. Jus

[2018-01-09 18:24] unullmass commented on #30603
Is there a way to pass Docker Content Trust preferences to the Docker Engine on the K8S Minions via the Image Policy settings in the pod yaml?

[2018-01-09 18:28] rphillips opened #58012 "Automated Debian Base Images"
**What would you like to be added**:

Our core/base images should be built and housed on Kubernetes Community Infra.

- `debian-base`
- `debian-iptables`

**Why is this needed**:

From @rphillips:

Currently, the Debian base images used to create the hyperkube and other images use a Base Debian docker image that is generated and pushed to gcr.io. It would be awesome to automate the debian base ima

[2018-01-09 18:28] rphillips commented on #58012
/sig node

[2018-01-09 18:36] misterikkit commented on #57579
@ravisantoshgudimetla I have moved the scheduler out of plugin, but admission and auth remain.

[2018-01-09 18:48] yujuhong commented on #53601
From the today's sig-node meeting, current rktlet maintainers (@iaguis, etc) mentioned that they may not have spare cycles to work on rktlet this release, but even as of today, rktlet already passes more tests than rktnetes. Given that, I propose we deprecate rktnetes in 1.10, and remove the code in the next release.

The deprecation process includes
 - Send out a deprecation announcement to kuber

[2018-01-09 18:48] yujuhong commented on #53601
/cc @jonboulle

[2018-01-09 18:57] hjwp opened #58016 "Delays starting deployments seemingly caused by "Unable to mount volume" errors"
/kind bug

**What happened**:
Our deployments depend on PVC/PV HostPaths as well as ConfigMaps.  The volumes are unique for users, but users may have multiple deployments that share them.
In production (but not in dev) we are seeing systematic issues where deployments take a long time to start (order of 10 minutes), and we see a lot of errors in the logs saying "Unable to mount volumes" / "timeout

[2018-01-09 19:00] hjwp commented on #58016
PS having seen #54263 we tried switching off cadvisor with `--cadvisor-port=0` on node, no effect.

[2018-01-09 19:10] hjwp commented on #58016
@kubernetes/sig-storage-bugs

[2018-01-09 19:15] jingxu97 commented on #58016
@hjwp Could you please share your kubelet log with us so we can debug the issue? You can email me jinxu at google.com. Thanks!

[2018-01-09 19:30] BenTheElder commented on #58005
The dependencies *are* verified, but the verify script does some hacks to compare vendor changes against master. https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godeps.sh

[2018-01-09 19:31] hjwp commented on #58016
Wow thanks for the speedy response! Will do.  Am assuming you don't want all 1.3gigs of logs so I'll just send the last few hours or so, do ask if you want the whole lot.

[2018-01-09 19:31] rkbug commented on #44485
Are there any updates to this issue? Someone working on this?

[2018-01-09 19:32] dulek opened #58017 "CRDs merge-patch failing with "unable to find api field in struct Unstructured for the json field "metadata"""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Under heavy load (~50 similar request going into API simultaneously) I'm starting to sometimes get:

[code]

when trying to do an update on my CRD:

[code]

The update is in a form of ``application/merge-patch+json`` and its content look like this:

[code]

On failure the requests are repeated in 1 second intervals, if I

[2018-01-09 19:34] #47379 closed

[2018-01-09 19:42] liggitt commented on #58017
duplicate of https://github.com/kubernetes/kubernetes/issues/42644#issuecomment-354934280

[2018-01-09 19:44] liggitt commented on #57995
please move this to the https://github.com/kubernetes/federation/issues/ repo

[2018-01-09 19:44] #57995 closed

[2018-01-09 20:03] mtanino commented on #52683
@jingxu97

I think we also need to consider Block volume case for volume reconstruction update.
There is a symbolic link under the pod volume directory(and also global map directory) instead of mount point when a volume is block.

By the way, do you already have PR for this update?

[2018-01-09 20:03] liggitt commented on #58017
actually, not quite a duplicate. #42644 means conflict cases are hit more often then they should be, but in legitimate conflict cases, this issue would still occur. When a patch conflict occurs, the server assumes it can compute strategic merge patches for the server side and submitted changes to detect overlapping patch content. That assumption is incorrect for CRDs

[2018-01-09 20:11] dulek commented on #58017
@liggitt: Just a note - this is **not** a strategic merge. Strategic merge on CRDs is failing immediately with information that it is not supported - which is nice. :)

[2018-01-09 20:14] dulek commented on #58017
@kubernetes/sig-api-machinery-bugs

[2018-01-09 20:15] liggitt commented on #58017
understood... it's the fallback to use strategic merge patches internally that is causing problems:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L266-L306

[2018-01-09 20:20] #56703 closed

[2018-01-09 20:40] #52292 closed

[2018-01-09 20:42] ani82 commented on #56903
Yes, it seems as if the local DNS servers timeout instead of answering <not known>:

[root@busybox /]# nslookup google.com
;; connection timed out; trying next origin
;; connection timed out; trying next origin
;; connection timed out; trying next origin
;; connection timed out; trying next origin
;; connection timed out; trying next origin
;; connection timed out; no servers could be reached

[ro

[2018-01-09 21:01] Ragnaroek opened #58019 "ClusterIP exposed service not reachable"
/kind bug

**What happened**:
Created a deployment with port definition
[code]
port is exposed in the docker container.

[code]
and doing a curl request (http api exposed) works as it should be.

exposed the service with (on Azure, but for ClusterIP that shouldn't matter?)
[code]
Now trying to reach the pods in the deployment with the same curl command as in the port-forward but with hostname
[cod

[2018-01-09 21:06] kow3ns commented on #55027
/close

[2018-01-09 21:06] #55027 closed

[2018-01-09 21:06] Ragnaroek commented on #58019
@kubernetes/sig-azure-bugs

[2018-01-09 21:06] kow3ns commented on #51594
/close

[2018-01-09 21:06] #51594 closed

[2018-01-09 21:11] Ragnaroek commented on #58019
/sig azure

[2018-01-09 21:22] 2rs2ts commented on #29298
@whereisaaron what is an "ownership value" in this case?

[2018-01-09 21:22] kow3ns commented on #46901
@bruj0 If the labels on the Pod are mutated such that they no longer match the selector than this is the behavior you will get in any version.

[2018-01-09 21:26] deads2k commented on #57983
No, they are different.  NodeRestriction should definitely be recommended.  Didn't look much beyond that.

We really need to move to the model we in the generic apiserver of recommended order, recommended off, and the others are on.  We plan to complete the work that allows you to turn some on without having the specify the fully ordered list.

[2018-01-09 21:32] ericchiang commented on #57769
/assign

[2018-01-09 21:36] dims commented on #3595
@timothysc @tnachen @bgrant0607 @cesargomezvela @gdmello So with `securityContext/privileged/true` and/or `capabilities/add/SYS_RESOURCE` code running in the container is able to run ulimit now right? Is there still a TODO item left in this issue?

for example, Do we want to let pod authors explicitly specify the limits? (like the cpu/memory requests/limits?) without needing to bump their capabili

[2018-01-09 21:42] jingxu97 commented on #52683
@mtanino I am preparing the PR now. For block volume, I checked the UnmountVolume and UnmountDevice tear down process. I think UnmountVolume is the same as other volume plugins. For UnmountDevice, I think  globalMapPath is needed for tear down so I modified the AttachedVolume data structure in actual_state_of_word to record this information.

[2018-01-09 21:50] mikedanese commented on #49213
I'm going send PRs to remove some of the deprecated kube-up dirs this release.

[2018-01-09 21:53] yifan-gu commented on #53601
LGTM on my side.

[2018-01-09 21:57] mtanino commented on #52683
@jingxu97
Thank you for the consideration. I'm waiting for the PR will be posted.

[2018-01-09 22:02] mikedanese commented on #49213
I want to delete cluster/{windows/,photon-controller/,libvirt-coreos/,gce/container-linux} this release.

[2018-01-09 22:12] midoblgsm commented on #57280
I had the same issue on Ubuntu 16.04.1 LTS (using flannel for the networking), following #39557 resolved the issue for me:
I did (on the node having the issue):

[code]
then restarted docker and kubelet and did the `kubeadm join` dance again.

[2018-01-09 22:15] colemickens commented on #22612
/close

[2018-01-09 22:15] #22612 closed

[2018-01-09 22:19] bsalamat commented on #57471
@aveshagarwal and @ravisantoshgudimetla,
Do you guys think you have time to work on any of the items here? I have written a design doc on supporting preemption in DS controller which I am going to share with all soon and then we can decide which solution to pick and how to proceed there.
Adding metrics for preemption is something that would be great if you could help.

[2018-01-09 22:20] bsalamat commented on #57471
@dashpole, Do we already have a doc on how Kubelet eviction works with priority? If not, do you think you can add one?

[2018-01-09 22:22] ixdy commented on #58005
The intent of the verify-godeps check is to verify that you can clone all of the godeps. It's non-hermetic and routinely broken by definition.

[2018-01-09 22:30] dashpole commented on #57471
I added it to the eviction design docs: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-eviction.md#eviction-strategy

We may want to add it to the open-source documentation as well: https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/

[2018-01-09 22:31] dcbw commented on #46664
@liggitt one problem with a new node address type is that it may leak to the API something that the API shouldn't necessarily have knowledge of, or something things watching the API can't do anything about.

For example, kubelet grabs the node IP from node.Status.Addresses and shoves that into Pod.Status.HostIP.  If the pod's data plane is on a different network and the node also has a different I

[2018-01-09 22:34] ixdy commented on #58012
cc @tallclair @rvkubiak

[2018-01-09 22:57] RRAlex commented on #10421
We just hit the same thing on a few nodes with 1.8.5 while adding an option to kubelet.
Are there any list of recommended value to be boosted for /proc/sys/* in relation to K8s component's need?

[2018-01-09 23:11] nicksardo commented on #56527
@jhorwit2, is this task blocking you on another attempt at refactoring the service controller sync logic?

[2018-01-09 23:34] Random-Liu commented on #57979
@antoniaklja Thanks for offering help! I've got a PR ready for this. https://github.com/kubernetes/kubernetes/pull/58024

[2018-01-09 23:41] pravisankar commented on #46664
@dcbw @liggitt
I agree that adding new node address type for data plane/pod network may break other components which are not aware of this API change. For example, plugins like scheduler may want to look at current number of pods on a particular node by fetching all the pods and then applying the filter pod.Status.HostIP == node.Status.Addresses[0].Address. This could be wrong if scheduler is not

[2018-01-10 00:54] zhangxiaoyu-zidif commented on #57794
@MrHohn  Thanks！

[2018-01-10 01:03] lannyMa commented on #57720
oh, i can not understand u

[2018-01-10 01:03] linyouchong opened #58031 "csi_attacher should use api-server watch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go
CSI volume plugin use polling api-server,it is inefficient

**What you expected to happen**:
should use api-server watch

[2018-01-10 01:05] linyouchong commented on #58031
/sig storage

[2018-01-10 01:10] qrpike commented on #57760
@dims VERY interesting contents actually. The actual device is a second hand Dell R720XD, GSA ( Google Search Appliance )

![GSA](https://i.imgur.com/o47wgWq.jpg)

The contents of the file are:
[code]

Yes, and even when I put `cloud_provider=` it still looked for it. I spent 3 days on the issue but eventually gave up - which is rare. I tried running the kubelet in rkt, docker and just the bin on

[2018-01-10 01:15] stewart-yu commented on #57946
occur also in `master` branch @liggitt

[2018-01-10 01:26] #57977 closed

[2018-01-10 01:27] nkwangleiGIT commented on #57720
It seems the same issue as #56850

[2018-01-10 01:31] cheftako opened #58032 "Need reliable controller loop creation guarantees."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
A Deployment caused the creation of a ReplicaSet.
The deployment has a emptyDir: sizeLimit: "0" in it.
However the Replica Set converted this into a emptyDir: {}.
This caused an equality failure during verification in the replication set creation in the controller.
As a result we ended up endlessly creating replica sets.
T

[2018-01-10 01:36] mtaufen opened #58034 "Deprecate --azure-container-registry-config"
WRT https://github.com/kubernetes/kubernetes/pull/57613#issuecomment-355794478, container registry credentials should be included in a `${kubelet_root_dir}/config.json` docker `config.json` file instead.

We deprecated `--google-json-key` for this reason in #57613, but `--azure-container-registry-config` is more tricky, because the file it references is not static.

We need to figure out what the

[2018-01-10 01:41] likunbyl commented on #57955
Today, I had another node entered this situation, and tried localhost:10248/debug/pprof/goroutine?debug=2 to  debug it, but no response. Is there anything else I can do ?

[2018-01-10 01:58] dims commented on #57760
@qrpike wow!!! yes, if you can fix the product_name somehow, i'll help you move along :) cross my fingers

[2018-01-10 02:02] rvkubiak commented on #58012
I'm starting work in a week or two on automating builds for a first batch of "core" images.  We've yet to define core images, but this sounds like a good candidate.

If you could provide a link to the image on GCR, or better yet the source it's built from, I'll add this to the list.

[2018-01-10 02:03] wenlxie commented on #57639
Can you try the same server id and volume id with the nova log to do manually attach?
@jianglingxia

[2018-01-10 02:11] mlmhl commented on #52683
@jingxu97 Expect for your PR. I typically use rbd plugin now, and I will try my best to help testing your work after it done.

[2018-01-10 02:12] m1093782566 opened #58037 "Windows UT failed for kubeproxyconfig/validation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig network

Fix windows UT for proxy mode.

Run UTs for `kubeproxyconfig/validation` in windows,

[code]

That's because proxy mode "IPVS" is not valid in windows.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2018-01-10 02:12] m1093782566 commented on #58037
/assign

[2018-01-10 02:22] m1093782566 commented on #58019
/sig network

/area ipvs

[2018-01-10 02:23] m1093782566 commented on #58019
Are you using IPVS proxy mode?

Please make sure ipvs is enabled in your kernel.

[2018-01-10 02:27] hzxuzhonghu opened #58039 "admission-control flag should have a reasonable order"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

In most use case, `NamespaceLifecycle` comes behind `Initializers`.

According to https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/admission.go#L69 `NamespaceLifecycle` plugin should be the first one .

**What you expected to happen**:

 `NamespaceLifecycle` be the fir

[2018-01-10 02:27] hzxuzhonghu commented on #58039
/kind bug

[2018-01-10 02:42] PengTaoWW commented on #55603
set service.spec.sessionAffinity to "None" look like can fix

[2018-01-10 02:56] gyliu513 opened #58042 "TaintNodesByCondition does not take effect"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubectl version
[code]

- Enabling `TaintNodesByCondition` for apiserver, controller manager, kubelet and apiserver.
- Enabling `TaintBasedEvictions` for controller manager.

[code]

And now all of my nodes are `NotReady`, but there is no taint on my nodes.

[code]

[code]

/cc @kubernetes/sig-node-bugs @gmarek

**What y

[2018-01-10 02:57] gyliu513 commented on #58042
/sig node

[2018-01-10 03:01] liggitt commented on #58032
Same issue as https://github.com/kubernetes/kubernetes/issues/57167, probably just need one open to track

[2018-01-10 03:12] jianglingxia commented on #57639
![image](https://user-images.githubusercontent.com/25783555/34754163-104c57ac-f5f7-11e7-8079-95d6a4e61510.png)
![image](https://user-images.githubusercontent.com/25783555/34754173-210fc51a-f5f7-11e7-8f26-5829d2e23393.png)
@wenlxie thanks

[2018-01-10 03:18] niuzhenguo commented on #57198
I can reproduce this when cached discovery expired when API server unreachable.

[2018-01-10 03:28] PengTaoWW commented on #55603
Can you provide the output of the following command?？
[code]
and
[code]

[2018-01-10 03:32] rphillips commented on #58012
Awesome. One other thing to keep in mind regarding the -iptables and -hyperkube-base images is that kubernetes relies on binaries within the image to shell out to... (df, iptables, many others). We should try and preserve the status quo with the dependencies (for now) within the images.

[2018-01-10 03:36] yue9944882 commented on #58011
This BUG will occur if we try to `kubectl cp <ns>/<pod>:<src> <dst>` where the suffix of `<src>` is a symbolic link to a dir and <src> is tailed with a slash.

[code]

[2018-01-10 03:37] niuzhenguo commented on #57198
And this happend because we changed to fallback to hardcoded types when there's err. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory_object_mapping.go#L93-L94
I can add a PR to check "connection refused" err and not fallback in this case.

[2018-01-10 03:38] wenlxie commented on #57639
@jianglingxia sorry for misleading.
In your scenario, the first volume attach request returned 400, but then attach/detach controller try to do attach again, then the request  returned 200, so the volume is definitely can be attached. These two requests should be the same request. so that's why we don't think this is an issue related with request body issue.
I suppose what you are concern is why n

[2018-01-10 03:41] thessem commented on #45746
I am commenting with a Me Too to try and prevent this from being considered "stale" since this is a feature I would like.

[2018-01-10 03:46] dannolan commented on #45746
I too would like this feature as we get a tonne of logspam :)

[2018-01-10 03:50] wenlxie commented on #58002
@wenlxie

[2018-01-10 03:51] wenlxie commented on #57985
+1

[2018-01-10 03:52] macropin commented on #49926
@msau42 I think he's referring to
 `  Warning  FailedScheduling       24m (x2 over 24m)   default-scheduler                                       PersistentVolumeClaim is not bound: "git-registry-data" (repeated 3 times)`
We're also seeing this. Just started happening after upgrading CoreOS and moving to `m4.large` instance types (EBS optimised).

[2018-01-10 03:58] wenlxie commented on #57497
The same issue with: https://github.com/kubernetes/kubernetes/pull/53855

[2018-01-10 03:59] liggitt commented on #57985
API mechanisms aside, putting parameter control in the hands of the namespaced pvc creator shouldn't be done for all parameters. Some parameters control things like the namespace and name of the secret to use for mounting the volume, and should obviously not be under the PVC creator's control.

Special-casing some parameters to be overridable via the PVC would mean they are no longer opaque parame

[2018-01-10 04:36] macropin commented on #49926
It's worth noting that a message such`  Warning  FailedScheduling       24m (x2 over 24m)   default-scheduler                                       PersistentVolumeClaim is not bound: "git-registry-data" (repeated 3 times)` can appear to indicate a PV/PVC issue, when infact the pod is restarting due to error and the message is repeated when the container is rescheduled.

[2018-01-10 04:50] dementodubio commented on #48378
If you kubeadm reset and then kubeadm init again, and if you ever ran the following as root, you need to run it again (as root) to get the new config:
 mkdir -p $HOME/.kube
 sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
 sudo chown $(id -u):$(id -g) $HOME/.kube/config

Then you can still run as root.

[2018-01-10 05:11] k82cn commented on #58042
any log？

[2018-01-10 05:22] varsharaja commented on #39334
I am seeing the same issue in 1.5.5. What exactly should I do to fix this? Our kubernetes was installed with the old setup-aws scripts and not with kops.

[2018-01-10 05:24] tonglil commented on #16337
Should this issue be consolidated with something else, or kept open for the tear down of GCLB resources?

[2018-01-10 05:27] fejta commented on #58005
This looks like a /close?

[2018-01-10 05:51] #57952 closed

[2018-01-10 05:55] giorgited opened #58047 "Rollin-Update "Delete First then Insert" Strategy"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind bug

FEATURE REQUEST SHORT DESCRIPTION:
Allow rolling-update to use "delete first, insert second" strategy.

ADDITONAL INFO:
It would be nice to have an option of how a rolling-update strategy runs. We come from cloud services for which it first deleted the existing app and then inserted a new one. Seems like with rolling-update

[2018-01-10 06:01] Ragnaroek commented on #58019
Since this is a Azure managed installation, I don't know what is configured.
But the error in kube-proxy then would explain the behaviour. I check with Microsoft what is configured.

[2018-01-10 06:17] bsalamat commented on #57471
@dashpole, Thanks! Yes, it would be great if you could update the user docs as well.

[2018-01-10 06:23] qrpike commented on #57760
@dims Good sir, Go0o0o0o0oood sir - after literally almost 72hrs of little to no sleep, trying every possible thing I could imagine, your simple suggestion has fixed it... You have no idea how grateful I am! lol

Since rebranding the BIOS back to dell from google is a pain ( https://www.reddit.com/r/homelab/comments/5zfd4e/new_how_to_fully_convert_google_r720xds_to_dell/ ) I am running the kubelet

[2018-01-10 06:49] porridge commented on #58005
On Tue, Jan 9, 2018 at 11:23 PM, Jeff Grafton <notifications@github.com>
wrote:

Ouch. So what will happen if one of the dependencies' upstreams disappears
one day? All k8s development halts until the dependency is ripped out?

[2018-01-10 06:50] wjiangjay opened #58048 "Will got "pods XXX not found" when delete all with labelselector"
/kind bug

**What happened**:
When try to create deployment with replicas more than 10(just a guess here), and delete all with the labelselector, will got
[code]

**What you expected to happen**:
Should not display not found.

**How to reproduce it (as minimally and precisely as possible)**:
1. kubectl run hello --image=openshift/hello-openshift:latest --replicas=20'
2. After all pods are in runni

[2018-01-10 07:02] gertdetlef commented on #57787
[code]
Looks like I really have to raise a ticket for minikube, or do you have any final idea why the latest minikube version doesn't support 1.9 on my machine? Maybe I have to cleanup something first before reinstalling minikube?

[2018-01-10 07:04] porridge commented on #58005
Perhaps this test should only be looking at dependencies added in the PR?..

[2018-01-10 07:18] mlmhl commented on #57544
@mtanino
I'm very glad to help moving this refactor along. I'm not sure if we have any existing issue or feature to track this, is this the issue #54108?

[2018-01-10 07:28] mlmhl commented on #54108
/assign

[2018-01-10 07:40] porridge opened #58050 "at large scale, kube-apiserver CPU-starves to death at 8qps of "Endpoints PATCH""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-api-machinery-bugs
@kubernetes/sig-scalability-bugs
/priority important-soon
FYI @shyamjvs @gmarek @wojtek-t

**What happened**:

In a 5k-node cluster, the `kube-apiserver` running on a 64-core master, is unable to handle 8qps of `Endpoints` PATCH requests. Its CPU usage exceeds 60 cores for extended amounts of time, at which

[2018-01-10 07:45] porridge commented on #55779
Current situation:
1. the DNS autoscaler test was disabled for large clusters today, so this should no longer cause flakes in the scale-correctness test,
2. I have filed https://github.com/kubernetes/kubernetes/issues/58050 which contains a minimal reproduction of this issue and a summary of discussions, so that people do not need to read through this huge history of debugging
With that, I'm closi

[2018-01-10 07:45] #55779 closed

[2018-01-10 07:53] voelzmo commented on #57765
I think the question here is: Why did you choose to use `metadata.name` as the nodename? This is the display name of the server, a property made for humans by humans. Essentially it is a field that everybody should be able to fill in whatever they think their server should be called. This doesn't need to be unique and has no guarantees about format or length or character format. We've had a number

[2018-01-10 08:03] Venkat-Sudharsanam opened #58055 "Cannot Deploy Kubernetes 1.9.1 with kudeadm"
I tried to install Kubernetes as per the documentation with the help of kubeadm.

# kubeadm init --pod-network-cidr=10.244.0.0/16
[init] Using Kubernetes version: v1.9.1
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks.
	[WARNING FileExisting-crictl]: crictl not found in system path
[preflight] Starting the kubelet service
[certificates] Generated ca certificate

[2018-01-10 08:07] anubhakushwaha commented on #56489
@rahulkrishnanfs Working on this one? :smile:

[2018-01-10 08:11] mlmhl opened #58056 "Global mount path of ceph rbd volume plugin is insecure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement
/sig storage

**What happened**:

Currently we use `-image-` as a separator to generate global mount path for ceph rbd volume plugin, see [here](https://github.com/kubernetes/kubernetes/blob/4989087fbf93eae09acd6dbea8761a5a149fabe0/pkg/volume/rbd/rbd_util.go#L115). As @rootfs mentioned in this PR #57823 , the `ConstructVolumeSpec` op

[2018-01-10 08:11] mlmhl commented on #58056
/assign @rootfs

[2018-01-10 08:35] zhangbei59 opened #58059 "Now I had get csr and approved the node ,but I can't get nodes by excute"kubectl get nodes" ? why?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/sig  kubelet
/sig node

**What happened**:
I have  two nodes ,they all start kubelet service ,and the master had get csr and certificat approved them,
but now i can't got nodes?
when i excute kubectl get nodes on the master ,i got the result "no resource found."
like this;

[root@c7test_master kubernetes]# kubectl get csr
NAME

[2018-01-10 08:36] krasoffski commented on #31686
I would be great to have some built-in ability to replace place holders with variables via ENV or CLI.

[2018-01-10 08:48] feiskyer commented on #58034
I think we need to enable Managed Service Identity (MSI) for all instances before deprecating `--azure-container-registry-config`. To do this, we also need to grant VM access to Resource Group in Azure IAM (e.g. config Azure AD in acs-engine).

@brendandburns @jdumars WDYT?

[2018-01-10 09:01] ensonic commented on #39420
I think we also just saw this. We're running on GKE with kubernetes 1.7.8 and we run out of IP addresses.
https://pantheon.corp.google.com/net-services/loadbalancing/loadBalancers/list shows that all IPs are used by load-balancers. If I run the script below

[code]
I get 8 lines for the same service.

[2018-01-10 09:13] rossedman commented on #57280
@midoblgsm this worked for me, thank you very much.

[2018-01-10 09:32] mr-falken commented on #16863
Following this one: can't seem to run elastic cluster in openshift due to this restriction.. :(

[2018-01-10 09:46] porridge commented on #58050
Here are a couple of profiles of a busy API server (taken with 4qps of traffic rather than 8, because usage is high enough and the server is still stable at that point). And a profile of an idle one for comparison:
[endpoints-busy.pdf](https://github.com/kubernetes/kubernetes/files/1618266/endpoints-busy.pdf)
[endpoints-busy2.pdf](https://github.com/kubernetes/kubernetes/files/1618265/endpoints-bu

[2018-01-10 10:24] nikhita commented on #58017
/area custom-resources

[2018-01-10 10:25] luisyonaldo opened #58065 "Unable to connect to container or do port-forward while kubectl is behind a proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I can't connect to a pod (`kubectl exec -it`) or do a port forwarding (`kubectl port-porward`) behind a proxy.

**What you expected to happen**:
Connect to the pod container and  be able to do a port-forward (this is mostly for be able to run helm locally and communicate with tiller running inside the cluster).

**How to

[2018-01-10 10:29] luisyonaldo commented on #58065
/sig cli
/sig api-machinery

[2018-01-10 10:29] rogovst commented on #56887
[code]

No

[2018-01-10 10:37] ricklagerweij opened #58067 "Kubernetes 1.8.3 - Error: etcdserver: mvcc: required revision has been compacted."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
New changes performed from the master respond with:
Error: etcdserver: mvcc: required revision has been compacted.

Existing calico pod can't be scheduled, we are trying to kill the pod to let it restart since other replica's do work as expected.

**What you expected to happen**:
Pod should be deleted and restarted on the

[2018-01-10 10:40] ricklagerweij commented on #58067
@kubernetes/sig-onprem-<group-suffix>

[2018-01-10 10:45] johscheuer opened #58068 "HA Kubernetes kube-proxy won't work correct"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

We had the issue that we shutdown one of the HA API servers (we have 3) and the internal Service IP for the Kubernetes API stopped working. All Request to the internal service IP for the API failed. Also the iptables rules didn't get an update to send no traffic to the missing API server (also the missing API server wasn'

[2018-01-10 10:47] ricklagerweij commented on #58067
Couldn't find an etcd signature

[2018-01-10 11:06] gbialas opened #58071 "Pods can't communicate with kube-apiserver in multi master cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I have deployed k8s cluster using magnum with 3 masters and 3 nodes:

[DEV]root@ucsubu3000:~/.kube# kubectl get nodes
NAME STATUS AGE VERSION
k8s-test-xtlwldidn5vg-master-0 Ready,SchedulingDisabled 36m v1.7.7
k8s-test-xtlwldidn5vg-master-1 Ready,SchedulingDisabled 36m v1.7.7
k8s-test-xtlwldidn5vg-master-2 Ready,Schedulin

[2018-01-10 11:06] simonferquel opened #58072 "Kubeadm: customize control plane flags on init"
/kind feature

**What happened**:

When calling `kubeadm init`, there is no way to override default flag values for the different components of the controlplane. This is surprising, as in the config structure (and in controlplane phase codebase itself), there are explicit settings for doing that (APIServerExtraArgs, ControllerManagerExtraArgs, SchedulerExtraArgs).

**What you expected to happen**:

[2018-01-10 11:07] sttts commented on #55435
/cc @kubernetes/sig-architecture-feature-requests

With istio becoming more mainstream, we should have a security story here soon.

[2018-01-10 11:07] sttts commented on #55435
/cc @php-coder

[2018-01-10 11:08] RobertDiebels opened #58073 "Configmap control characters YAML/JSON+JSON/YAML conversion error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubectl throws an error about control characters when converting JSON to YAML or YAML to JSON.

**What you expected to happen**:
I expect that the conversion to run properly. I'm mounting the ConfigMap as a volume into a Deployment. The data-string a file can contain should not be limited by conversion from one format to

[2018-01-10 11:09] simonferquel commented on #58072
btw, I am not sure which sig owns kubeadm.

[2018-01-10 11:29] rahmonov opened #58076 "kubectl exec commands are all timing out"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have Kubernetes cluster running in GCP.

Everything was working fine until today. `kubectl exec` commands are timing out now:

    kubectl exec -it <pod_id> bash
    error: Timeout occured

Everything else seems to be working fine (e.g. `kubectl get pods`, `kubectl logs pod`).
**What you expected to happen**:
Open the b

[2018-01-10 11:34] porridge commented on #57191
@shyamjvs FYI

[2018-01-10 11:34] rahmonov commented on #58076
/sig cli

[2018-01-10 11:47] shyamjvs commented on #48938
@porridge FYI

[2018-01-10 11:51] gm42 commented on #51835
Affected by the same bug on GKE. Are there any known workarounds for this issue? Using `--now` does not work.

[2018-01-10 11:53] RobertDiebels commented on #58073
@kubernetes/sig-apps-bugs
@kubernets/sig-cli-bugs

[2018-01-10 11:54] shyamjvs commented on #48107
Aah! That makes it much clearer, thanks.

[2018-01-10 11:58] #53791 closed

[2018-01-10 12:00] palonsoro commented on #3595
Personally, I believe it is a good idea to let pod authors setup explicit limits without bumping capabilities or privileges for these reasons:
- `SYS_RESOURCE` capability may allow applications to perform operations you might not want to allow. It is even more true for privileged containers.
- While some applications do require to setup limits by themselves (as they or their startup scripts are de

[2018-01-10 12:21] jsafrane commented on #57985
There is an old feature https://github.com/kubernetes/features/issues/244 and even proposal https://github.com/kubernetes/community/pull/543 that tried to achieve this, however we gave up as nobody was interested in it enough to lead the design and implementation.

This feature looks easy at the first sight, however there are several complications:

- As @liggitt pointed out, cluster admin must ha

[2018-01-10 12:37] mtanino commented on #54108
/assign @mlmhl

[2018-01-10 12:38] johscheuer commented on #58068
/sig onprem

[2018-01-10 12:51] porridge commented on #48938
See also #58050 which tracks ability to handle updates to Endpoints in large clusters.

[2018-01-10 12:57] wojtek-t commented on #48938
*quick* update of *(relatively) large services*

Note that e.g. in kubemark-5000 (where we have 5000 nodes - from apiserver perspective fake or not doesn't really matter) and we are creating services there.
And the number of updates there is higher than 4 from what I can tell.

The difference is that most of those services are pretty small.

And that works fine, see e.g.:
https://storage.googleapi

[2018-01-10 13:00] zetaab opened #58079 "decrease pod with pvc failover time in case of node is shutdowned."
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE

/kind feature

**What happened**: If kubernetes node is shutdowned, pod which contains pvc are failovered quite slowly.

**What you expected to happen**: I except that if node is shutdowned it should not wait maxWaitForUnmountDuration in https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconcil

[2018-01-10 13:01] zetaab commented on #58079
/sig storage

[2018-01-10 13:05] shyamjvs commented on #48938
+1 to what @wojtek-t wrote - I mentioned that too offline regarding https://github.com/kubernetes/kubernetes/issues/58050.

[2018-01-10 13:06] vincbe commented on #30656
+1 that would be handy to have this ability to exec with a defined user

[2018-01-10 13:11] gbialas commented on #58071
/sig api-machinery

[2018-01-10 13:13] porridge commented on #48938
It's worth taking a closer look, then - could it really be that the
difference between a 250-member Endpoints (which I what I believe kubemark
job has) and a 400-member one (in #58050) is so large? Or perhaps the
update rate is also smaller?

[2018-01-10 13:16] wojtek-t commented on #48938
difference between a 250-member Endpoints (which I what I believe kubemark
job has) and a 400-member one (in #58050) is so large? Or perhaps the
update rate is also smaller?

There are a couple of things that differ:
- most of services have O(5) endpoints, there are just relatively small number of those with O(250)
- we rely on endpoint controller there (which is sending appropriate Endpoints upda

[2018-01-10 13:22] porridge commented on #48938
In #55779 (which was a predecessor of #58050) there was only a *single*
~350-pod Endpoints object, and it was also being updated by a* single*
endpoint controller. And yet it caused API server unavailability long
enough to time out client requests.
So even if there were just two such 250-wide Endpoints, it should have a
bigger impact.

[2018-01-10 13:24] Venkat-Sudharsanam commented on #58055
/bug

[2018-01-10 13:28] wojtek-t commented on #48938
Maybe EndpointController in scalability tests have bigger lag? And thus performs better batching?
[Just thinking loudly here]

[2018-01-10 13:29] shyamjvs commented on #48938
IIUC even in the worst case if each update is made separately, we ideally still would have just 250 updates one-off (during those pod creations which btw would also be spread out by our load test). But the one @porridge is pointing to created a consistent qps of 8.

[2018-01-10 13:32] dims commented on #58071
@gbialas sounds like something you need to take up with the magnum team (especially the credentials references). they can escalate to this repository if needed.

/close

[2018-01-10 13:32] #58071 closed

[2018-01-10 13:34] mattjmcnaughton commented on #57996
Hi @fandaye ,
Thanks for reporting this and hope we can help you figure out whats going on!

To start, would you mind answering these four questions from the issue template?

[code]

I'm also curious what pod network you choose in Step 3 of the [kubeadm](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) setup?

Finally, are you running the [metrics-server](https://github.com/ku

[2018-01-10 13:39] majewsky commented on #44272
/remove-lifecycle stale

[2018-01-10 13:39] shyamjvs commented on #48938
To clarify,
I meant that updates in our load test are one-off (atleast that's what I'd expect) while @porridge created a case where they were constantly flipping.

[2018-01-10 13:41] dims commented on #58055
@Venkat-Sudharsanam : the following two log lines are chopped off

[code]

Can you please check what the complete lines are? I bet you are running into the problem described here : https://github.com/kubernetes/kubernetes/issues/43805

Also, please use https://github.com/kubernetes/kubeadm/ to report  kubeadm issues. i'll close this one.

/close

[2018-01-10 13:41] #58055 closed

[2018-01-10 13:42] mjaow opened #58081 "Failed to start cAdvisor inotify_init: too many open files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There are many pods (59) in my node,when i restart it.I found it never start successfully.It just log:
[code]
it seems that cadvisor block when watching new files.Does anybody know how it happened and how to fix it?

After following into code ,I found error happened in  kubernetes/vendor/github.com/google/cadvisor/manager/watcher/ra

[2018-01-10 13:42] tnozicka opened #58082 "Statefulset doesn't report an event when recreating failed pod"
An issue to make bot happy for https://github.com/kubernetes/kubernetes/pull/55316

When StatefulSet finds any of its pods in phase Failed it will delete it and create it again. While doing so it will emit delete+create event which is really confusing for the user as he has no idea what's happening.

/sig apps

[2018-01-10 13:45] porridge commented on #48938
The updates in #55779 were also one-off.

[2018-01-10 13:45] errordeveloper commented on #58072
@simonferquel it's sig-cluster-lifecycle.

[2018-01-10 13:45] errordeveloper commented on #58072
/sig sig-cluster-lifecycle

[2018-01-10 13:46] crassirostris opened #58083 "Advanced Auditing 1.10 umbrella bug"
This is a continuation of the work on the [Advanced Auditing feature](https://github.com/kubernetes/features/issues/22)

Umbrella issue for 1.11 release: https://github.com/kubernetes/kubernetes/issues/60392

## API-related changes

- ~Graduate API to stable~
  - Moved to 1.11
- [x] Integration with admission
  - [x] [Add Annotations to Advanced Audit API](https://github.com/kubernetes/kubernetes/

[2018-01-10 13:47] mjaow commented on #58081
/sig node

[2018-01-10 13:52] jhorwit2 commented on #56527
@nicksardo yup

[2018-01-10 13:55] danwinship commented on #46664
I can't tell if you're saying "the kubelet might mistakenly assign the node's control plane IP to HostIP and that would be wrong" or "the kubelet might mistakenly assign the node's dataplane IP to HostIP and that would be wrong", but if we define a new node address type, we can also just clarify that the kubelet is/is not supposed to use that type for PodStatus.HostIP.

[2018-01-10 14:11] rahmonov commented on #58076
/sig api-machinery

[2018-01-10 14:22] simonferquel commented on #58072
/sig cluster-lifecycle

[2018-01-10 14:30] akshaymankar opened #58084 "Separate GCE Instance Name from Kubelet hostname"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
On GCP, when you set --hostname-override, the cloud provider assumes that it is instance name of the VM.

**What you expected to happen**:
I expect `kubelet` to have separate parameter to provide cloud ID to the GCE cloud provider so that I can generate kubelet certificate before actually starting the worker.

**How to

[2018-01-10 14:31] #58082 closed

[2018-01-10 14:33] akshaymankar commented on #58084
/sig cluster-lifecycle

[2018-01-10 14:35] jonboulle commented on #53601
I haven't been involved in active rkt development for a while, but this plan sounds fine to me based on everything I know about the latest rktnetes work.

[2018-01-10 14:56] mattfarina commented on #45759
I could imagine, after looking at sequential, you get into fan-in/out and other patterns. This reminds me of [brigade](https://brigade.sh) and what you can do with that.

[2018-01-10 15:01] mtanino commented on #57544
@mlmhl
Great! thank you for the help.
Seems only Kubernetes member can be assigned to the issue, but feel free to open new PRs and use issue #54108 for it.

Also if you also want to help `Improve local volume attaching (iscsi, etc.)` on sig-storage planning list, I recommend to attend bi-weekly sig-storage meeting and talk to @saad-ali about your voluntary contribution. Then he can assign you to t

[2018-01-10 15:05] iaguis commented on #53601
The plan sounds good to me. The only concern I have is whether Blablacar needs rktnetes for a longer time (cc @slallema).

[2018-01-10 15:08] mattfarina commented on #42649
/remove-lifecycle stale

@skynardo Can you share the version of Kubernetes you are still experiencing this on?

@kow3ns did you know about this one?

[2018-01-10 15:15] mtanino opened #58085 "[FC plugin] Volume reconstruction for FC plugin doesn't work due to lack of information"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently, FC plugin returns volume name and empty FCVolumeSource during ConstrutVolumeSpec during `filesystem volume's reconstruction`. However, in order to recreate newMounter from volumeSpec, volume information are lacking. As a result, filesystem volume's reconstruction always fails.

**What you expected to happen**:

[2018-01-10 15:15] mtanino commented on #58085
/assign

[2018-01-10 15:16] mtanino commented on #58085
/sig storage

[2018-01-10 15:18] screeley44 opened #58086 "local-up-cluster.sh invalid cloud-config-arg"
Fixing cloud-config-arg parameter in local-up-cluster.sh it was fat fingered on recent change:

[code]

submitting a PR

[2018-01-10 15:23] wojtek-t commented on #48938
@shyamjvs - I think I'm not really following what you wrote above.
We are creating/deleting pods with the throughput of ~10pods/s in our tests. That means, that without any batching they are producing ~10 Endpoints updates per second (becasue each pod is one of the services).

[2018-01-10 15:30] redbaron commented on #53361
/remove-lifecycle stale

[2018-01-10 15:31] redbaron commented on #43607
/lifecycle frozen

[2018-01-10 15:32] smarterclayton commented on #48938
From our O(15k) service/namespace clusters with O(1) pods per endpoint, we
see between 5 and 15 endpoint updates per second.  So at super high
densities I think the load test is accurate.

On Wed, Jan 10, 2018 at 10:23 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2018-01-10 15:35] shyamjvs commented on #48938
@wojtek-t Yes, but not all of them would be 250-sized updates. Assume those 10 updates are for endpoints of size 5 (i.e. our small services), then the total size of updates in that second would be 50 (which is quite small compared to say 2500). Now compare that with 8 qps of 400-sized updates (as @porridge mentioned in https://github.com/kubernetes/kubernetes/issues/48938#issuecomment-356598498) w

[2018-01-10 15:40] wojtek-t commented on #48938
@shyamjvs - ok here is what you meant. Yes I generally agree with the above.
One thing to keep in mind that Endpoints object is not addresses of endpoints, it's also metadata. But in general yes - 8x 400 may still be visibly more than what we have in our test.

[2018-01-10 15:42] shyamjvs commented on #48938
In short, I was trying to mention these 2 differences:
- the 250 sized updates are spread out more than 400 ones (for 250 it is 10/4 = 2.5 updates/s (as 1/4th of our pods belong to the 250 category), while for 400 it is 8 updates/s)
- the 400 ones are continuously generated with endpoints size of ~400, but the 250 ones are generated one-off (so the sizes of updates would be 1, 2, 3, ..., 250 and t

[2018-01-10 15:45] rootfs commented on #57544
@mlmhl thanks, help is welcome

[2018-01-10 15:52] DirectXMan12 commented on #57660
correct, I think the API review request added that tag.

[2018-01-10 16:03] brancz commented on #57660
Sorry about that, that was my mistake.

[2018-01-10 16:14] dreyk commented on #51835
I have fix for this bug, but i am not sure that it will merged by kubernetes team.

[2018-01-10 16:20] johnjjung commented on #30656
I think implementation of this might be tricky because of security concerns? For example if the Dockerfile was initially set as a non-root user, should you allow it to execute commands as a root user now? -- How did docker's user flag handle this? If they handled it correctly I think we just need to patch the kubectl exec command to pass this along

[2018-01-10 16:33] liggitt commented on #58073
configmaps can only contain utf-8 content, not binary content.

see https://github.com/kubernetes/kubernetes/issues/32432

[2018-01-10 16:33] #58073 closed

[2018-01-10 16:35] timothysc commented on #58050
An endpoint patch is essentially a broadcast to the whole system, this does not surprise me.

[2018-01-10 16:41] cmluciano commented on #48719
/remove-lifecycle stale

[2018-01-10 16:44] Arau commented on #54918
I have the same issue, the api server wasn't starting. The ELB healthchecks failed while trying to connect to the port 443.

I think it is because of the networking overlay (weaver) wasn't starting properly.

kops Version 1.8.0 (git-5099bc5)
master ami: k8s-1.8-debian-jessie-amd64-hvm-ebs-2017-12-02 (ami-bd229ec4)
Private topology with egress rules (using my own subnets and GW)
network: weave
Mult

[2018-01-10 16:51] gzzo commented on #57853
I don't have a separate env handy.

Is it possible that (since startingDeadlineSeconds is unset) the scheduler would schedule a job (thinking it was supposed to run it in the past) after I edited the schedule?

[2018-01-10 16:52] lpabon opened #58092 "csi: Versioning message incorrectly prints the expected value"
/kind bug

**What happened**:
When a CSI driver reports a version of the CSI spec which does not match that stored in Kubernetes, Kubernetes prints the following message:
`Warning, FailedMount, MountVolume.SetUp failed for volume "kubernetes..." : version 0.1.0 not supported`

https://github.com/kubernetes/kubernetes/blob/ee43f7c34e7ffa92b98e2806e4610af973fab06c/pkg/volume/csi/csi_client.go#L131-L

[2018-01-10 16:55] lpabon commented on #58092
/sig storage
@kubernetes/sig-storage

[2018-01-10 16:55] lpabon commented on #58092
/assign lpabon

[2018-01-10 17:02] #58086 closed

[2018-01-10 17:05] andremarianiello commented on #50770
I am having a similar issue but with cpuset controller instead of hugetlb on Centos 7. cpuset is not a default controller, so even though it is mounted, no processes are using it. This prevents kubelet from finding ANY cgroups that I specify for --kube-reserved-cgroup or --system-reserved-cgroup. If I simply create a directory, for example at /sys/fs/cgroup/cpuset/system.slice, I stop getting thos

[2018-01-10 17:07] liggitt commented on #58076
do you have any info about the state of the pod (`kubectl get pod/<name> -o yaml`)?

can you run with higher verbosity (`--v=8`) and capture more info (redacting any confidential credentials from the trace)?

[2018-01-10 17:08] liggitt commented on #58048
can pass `--ignore-not-found=false` if you want to ignore NotFound errors

[2018-01-10 17:08] #58048 closed

[2018-01-10 17:16] rahmonov commented on #58076
@liggitt the pod is up and running. The app is running very well as well. I should tell that 1 out of 100 `kubectl exec -it` is working for some reason.

Here is the output with higher verbosity:

[code]

It is mumbo-jumbo though. Did not know how best to format. Sorry about that. I hope it clarifies something.

[2018-01-10 17:36] jingxu97 commented on #51835
@dreyk Could you please provide more details about what you discovered for this bug and what is your fix so storage team can take a look? Thanks!

[2018-01-10 17:49] dashpole commented on #39334
@varsharaja as I mentioned [here](https://github.com/kubernetes/kubernetes/issues/39334#issuecomment-292561665), upgrading to 1.5.6 will fix this.

[2018-01-10 17:57] r7vme commented on #52865
We are using (wanted to use) `logrotate` for audit log, because native rotation does not support compression. Unfortunately neither default option (when file moved) neither `copytruncate` are working.

With `copyrtuncate` i'm getting binary thrash in log file and apiserver just keeps writing to the same file (size just keep growing).

Looks like latest [lumberjack.v2](gopkg.in/natefinch/lumberjack

[2018-01-10 17:59] berni7schiefer commented on #27398
There are a bunch of Analytic services that will need a separate high throughput network.  Db2 Warehouse MPP,  Db2 Event Store,  Datastage, Streams (when it comes), Db2 pureScale (when it comes),   Db2 Big SQL (when it comes).     Think of a 100GbE Network (e.g mellanox) for a decent but not gigantic cluster ( 8 -32 nodes for now).      We won't be able to offer production grade performance, scala

[2018-01-10 18:06] rkamudhan commented on #27398
@berni7schiefer, We using Multus with Mellanox network. For more information on Multi-networking - please follow Dan's initiative for the Network Plumbing working group in Kubernetes SIG - https://groups.google.com/forum/#!topic/kubernetes-sig-network/xV9F3fgEPyk . Please add your thought and suggestion over there. We adding all Multus features over there.

[2018-01-10 18:19] DirectXMan12 commented on #23378
Can it be reproduced on anything more recent than 1.5?

[2018-01-10 18:21] DirectXMan12 commented on #38756
Polymorphic scale landed in 1.9, FWIW (see the referenced commits in the activity stream above), so this is no longer bloked by that

[2018-01-10 18:22] Ragnaroek commented on #58019
No IPVS is not enabled:
W0109 06:11:21.642284       1 server_others.go:263] Flag proxy-mode="" unknown, assuming iptables proxy
I0109 06:11:21.643972       1 server_others.go:117] Using iptables Proxier.
I0109 06:11:21.751161       1 server_others.go:152] Tearing down inactive rules.

so that shouldn't be the cause?

[2018-01-10 18:23] misterikkit commented on #56714
/cc @misterikkit

[2018-01-10 18:30] yujuhong commented on #53601
I'd love to hear Blablacar's feedback on this.

At the same time, I think it might be reasonable for Blablacar not to upgrade kubernetes until they are ready. There hasn't been much active development in rktnetes, so staying on a known, good version, is better than upgrading kubernetes anyway IMO.

[2018-01-10 18:30] MikeSpreitzer commented on #27398
@berni7schiefer you should also be aware that there is a larger community that is looking at issues around multiple networks and multiple network attachments on a pod.  It is an informal working group.  You can see the agenda doc at https://docs.google.com/document/d/1oE93V3SgOGWJ4O1zeD1UmpeToa0ZiiO6LqRAmZBPFWM

[2018-01-10 18:32] yujuhong commented on #53601
I think the rktnetes maintainers are the best candidate to send out the deprecation announcement :-)

Adding deprecation warning is trivial. If anyone wants to help, that'd be great.

[2018-01-10 18:34] misterikkit commented on #56104
/cc @misterikkit

[2018-01-10 18:36] tallclair commented on #58083
RE: integration with admission. I think it would be useful to see something similar for authn/z as well (i.e. which plugin authorized / authenticated the request, with the ability for the plugin to add arbitrary annotations (e.g. RBAC adds the role & binding used)). Not a requirement for 1.10 or GA, but nice to have.

[2018-01-10 18:45] jordanwilson230 commented on #30656
@johnjjung Yes, I believe the strategy here is patching kubectl exec to pass the docker --user flag through.

Also, the security concerns seem minor since we have implicit authentication from GCP in order to connect from kubectl.

[2018-01-10 18:49] liggitt commented on #30656
How so? There are controls over what user is allowed in the pod spec. I'd expect equivalent controls over any user id specified in an exec call. I have similar questions about whether an exec can be run as root when the original container was not. If so, then we can't expose that without thought as to how the pod security context and pod security policy controls would apply to this new option

[2018-01-10 18:52] mikebrow opened #58102 "CRI: Debug API revisited"
When Kublet and crictl get debug information the information is specified in a status response struct, for example:
[code]
The info map portion of these structs was implemented in pr #53965. This has proven useful, however if more than one piece of information is added to the Info map, the order of the output is not guaranteed because go maps do not preserve order. This causes data to become hidde

[2018-01-10 18:53] jordanwilson230 commented on #30656
@liggitt That is no different than setting the user in the Dockerfile itself, and yet, still being able to execute as root with Docker's user flag.

[2018-01-10 19:05] 2rs2ts commented on #53489
@nbutton23 That annotation affects the ELB but not any security groups that are created.

@sbuliarca can you please reopen this? You reported a real issue, and even if it no longer affects you, it needs to be tracked and fixed.

[2018-01-10 19:11] jordanwilson230 commented on #30656
Docker's primary concern seems to be around preventing root access from _within_ a _running_ container, were it to be compromised.  At some point, trust must be given to actually allow users to develop and work with the tool.

[2018-01-10 19:17] cheftako commented on #58032
It is the same issue. Thank you for finding that. At some level though I think we should probably have an umbrella issue, as I think this pattern may be in use in more places than just the Deployment->ReplicaSet work flow. I had intended this to be more of the umbrella issue, however I clearly did not do a good job of conveying that.

[2018-01-10 19:19] abhi commented on #58102
@mikebrow can't we do something like this and implement Len and Swap? So CRI implementations can defined their desired order ?

[code]

[2018-01-10 19:19] jiayingz commented on #56944
cc @chakri-nelluri

[2018-01-10 19:29] janetkuo commented on #57167
OTOH, `DropDisabledAlphaFields` (clears fields in registry) should be done only at pod level, but not pod template level.

[2018-01-10 19:30] gnufied commented on #57686
Hmm, I might be not entirely correct about prometheus not offering a way of implementing "ephemeral" metrics like this. @brancz will implementing a custom collector interface will get around the problem of - once a metric is registered and emitted, it is always emitted until component is restarted?

[2018-01-10 19:31] gnufied commented on #57686
assigning this to myself for investigation and finding possible way of fixing this.

[2018-01-10 19:31] gnufied commented on #57686
/assign

[2018-01-10 19:45] chrishiestand commented on #30656
@johnjjung it's like @jordanwilson230 says, the docker runtime argument overrides the Dockerfile directive. Off the top of my head, this is how most runtime arguments work (like port numbers).

[2018-01-10 19:46] #57982 closed

[2018-01-10 20:01] nikhiljindal commented on #53451
Dup of https://github.com/kubernetes/kubernetes/issues/32157?

[2018-01-10 20:03] jordanwilson230 commented on #30656
@liggitt Just to clarify, the role of the user id defined in the pod spec will not change and will continue to have the intended effect.  The container (and it's processes) will be launched as that user. The issue raised here was to allow (already) authenticated users a manual option to exec with root -- or any user, mainly for debugging purposes.

[2018-01-10 20:09] liggitt commented on #30656
And my point is that the controls that we have today to prevent a user from running a container as root would need to apply here as well to prevent them from execing with root.

[2018-01-10 20:10] liggitt commented on #57167
No, alpha fields should not be persisted in any object.

[2018-01-10 20:16] cmluciano commented on #56794
@caseydavenport @squeed Is it sufficient to push this to the CNI plugin itself or should this condition be set if we discovered that there should be a CNI plugin but there isn't?

[2018-01-10 20:37] #57744 closed

[2018-01-10 20:37] #57006 closed

[2018-01-10 20:50] mikebrow commented on #58102
@abhi option 2 above is for the implementation to define their desired order via an array of keys that we would iterate through when we generate the output.

[2018-01-10 21:03] sdiaz commented on #35941
/remove-lifecycle stale

[2018-01-10 21:14] liggitt commented on #58067
"etcdserver: mvcc: required revision has been compacted." is not an error, it's an expected message when a watch is attempted to be established at a resource version that has already been compacted

without more information, this isn't recreatable or debuggable.

do you have etcd, apiserver, kubelet, or controller manager logs?