[2016-09-08 07:06] weherdh commented on #32187
$ cat azntfspod.yaml
apiVersion: v1
kind: Pod
metadata:
 name: azurentfs
spec:
 containers:
  - image: aosqe/hello-openshift
    name: azure
    volumeMounts:
      - name: azure
        mountPath: /mnt/azure
 volumes:
   - name: azure
     azureDisk:
       diskName: qetestntfs.vhd
       diskURI: https://someaccount.blob.core.windows.net/vhds/qetestntfs.vhd
       fsType: ntfs

And from today's

[2016-09-08 07:08] spothanis commented on #29832
It basically tries to run `/usr/bin/udevadm trigger` to probe all attachments so sym link for the disk is created in `/dev/disk/by-id`. Is this the command you tried to run from command line?

[2016-09-08 07:10] HardySimpson commented on #24246
@wojtek-t the interface is not only for solve equivalence classes, it can take any node from predicate function immediately, and calc it priority if possible.

what is the channel cost? to much CPU or memory? or cause lantency?

[2016-09-08 07:21] zhouhaibing089 commented on #31524
@erictune I thought that I get your point here.

from the perspective of k8s, then yes, I personally do not create private repos.. but it looks like more a question why private repos exists, cases that I can image:

1.  if the application provided by the image is for selling, like some paid services, the for sure, it could not go to public.
2.  security concern, I think it is really not an expecta

[2016-09-08 07:22] sirhopcount commented on #24657
Yes that would also fix my problem.

Just out of curiosity, what the reasoning for not exposing the entire API to  a manifest? Don't really see the harm in exposing the same data as one is able to fetch via for example kubectl.

[2016-09-08 07:25] piosz commented on #32260
Rescheduler is not enabled on GKE. Investigating the issue.

[2016-09-08 07:33] piosz commented on #31710
Let's reuse this one. I think the problem is that the cluster was not redeployed after #31974 was merged. What is the policy of deploying 1.4 cluster?

cc @gmarek @wojtek-t

[2016-09-08 07:33] wojtek-t commented on #24246
@wojtek-t the interface is not only for solve equivalence classes, it can take any node from predicate function immediately, and calc it priority if possible.

As I said - I did this experiment few months ago and this is slower.

[2016-09-08 07:37] zhouhaibing089 commented on #31524
I think case is a little bit different when migrating to use docker images.

1.  the repo is no longer centralized, each team maintains repositories by their own.
2.  the kind of application that docker image would run is more diversity, like some small applications or half-ready programs, for example, I am developing an application, and it is still buggy, I may need a way to prevent others graspi

[2016-09-08 07:53] morissette commented on #29097
Handle in ci/cd pipeline? Heres how I do it:
https://www.dropbox.com/s/838u8dfa1nncml0/ci_cd.png?dl=0

[2016-09-08 07:59] wernight commented on #31686
Thanks. I guess I must have misunderstood the feature or it's not in 1.3. I tried using `$(FOO)` and doing:

    FOO=123 kubectl apply -f kubernetes.yml

... but it didn't replace anything.

[2016-09-08 08:02] eddytruyen commented on #29832
@sponthanis Yes. However I now see that I misread the debuglogs that the full command was the following: `udevadm trigger fork/exec /usr/bin/udevadm.`. But this is wrong syntax obviously

I launched Kubernetes version 1.2.6 in the dockerized version of hyperkube. I assume that the error lies somewhere in the fact that certain commands don't work properly when run inside a container.

To further de

[2016-09-08 08:07] wernight commented on #31686
Looks like I'm looking for https://github.com/kubernetes/kubernetes/blob/master/docs/design/expansion.md

[2016-09-08 08:11] #32263 closed

[2016-09-08 08:13] gmarek commented on #24246
MapReduce kind of computations are trivially shardable, so there's no point of using channels.

[2016-09-08 08:15] simonswine commented on #7433
I think this is a pretty important feature. Especially if you have a lot of hops and larger replica sizes for your pods.

I'd like to look into creating a PR for this. I am not 100% sure if this is the right approach, but I am planning to do:

- Add flags to kube-proxy
  - `--local-pod-cidr=X`
  - `--local-preferred=X`
- If enabled (`--local-preferred=true`) determine local pod CIDR (either throug

[2016-09-08 08:41] gmarek commented on #31971
Last failure was caused by the master restart when the test was running.

[2016-09-08 08:42] gmarek commented on #30175
Last failure was caused by our test framework failure to delete `e2e-tests-downward-api-3qkug` namespace. This looks like a test-infra issue. @kubernetes/test-infra-maintainers

[2016-09-08 08:44] gmarek commented on #32036
This test failed because framework failed to delete namespace after the test was completed.

[2016-09-08 08:46] gmarek commented on #31710
I don't know anything about any policy, so I redeployed 1.4 soak cluster.

[2016-09-08 09:05] rzarzynski opened #32266 "Add support for accessing Ceph RBD with the rbd-nbd client"
## Objective

Add support for the recently emerged `rbd-nbd` feature-rich client to improve support for Ceph RBD in Kubernetes.
## Background

Kubernetes already offers support for Ceph RBD based on the `krbd` kernel client. Unfortunately, due to obvious reasons, `krbd` can't use the `librbd` user-space space library that gets most of the development focus. This caused a feature gap when compared

[2016-09-08 09:06] k8s-merge-robot opened #32267 "[k8s.io] Probing container should *not* be restarted with a exec "cat /tmp/health" liveness probe [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/27956/node-pull-build-e2e-test/23175/

Failed: [k8s.io] Probing container should _not_ be restarted with a exec "cat /tmp/health" liveness probe [Conformance] {E2eNode Suite}

[code]

Happened on a presubmit run in #27956.

[2016-09-08 09:10] dshulyak commented on #31098
Does it make sense to set milestone 1.4 for this issue? I think the fix is ready for review

[2016-09-08 09:19] wojtek-t commented on #32257
This is pretty much the same failure, that are happening in "gce-enormous" suite and we currently debugging them with @gmarek

The main reason of those failures is that we are terminating all watchers for a particular resource type from time to time, and some of them are actually causing a snowball effect.

After more looking into it, my hypothesis is that our machinery for aggregating watchers in

[2016-09-08 09:26] mdshuai commented on #31501
I don't think this is a bug about cadvisor, just use wrong value in kubelet summary stats.

[2016-09-08 09:32] mdshuai commented on #31501
My env:
[root@ip-172-18-5-33 ~]# docker info
Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 74
Server Version: 1.10.3
Storage Driver: devicemapper
 Pool Name: docker-202:2-18194008-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 10.74 GB
 Backing Filesystem: xfs
 Data file: /dev/docker-vg/docker-data
 Metadata file: /dev/docker-vg/docker-metadata
 Data Space Used: 5.902 GB
 Data Space

[2016-09-08 10:13] jszczepkowski commented on #31928
Thanks for help. Still, there are no kernel logs (`kern.log` file). OOM-kill is reported inside them.

Can we try to reproduce it with collection of kernel logs turned on?

[2016-09-08 10:33] dubstack commented on #29725
@derekwaynecarr @aveshagarwal Thanks for the reference.

@vishh @derekwaynecarr What are your thoughts on getting the node allocatable information through GetNodeAnyway(). I believe at one time we were considering making the node information accessible from outside the kubelet. It would be used both in the container manager and kubelet and possibly from other packages aswell.

[2016-09-08 10:40] #32260 closed

[2016-09-08 11:08] mark9white opened #32273 "Custom HTTP timeouts in GKE ingress"
It would be useful to be able to set a custom HTTP timeout on a GKE ingress.

In this issue:
http://stackoverflow.com/questions/36200528/how-to-configure-ingress-request-timeouts-on-gke

There is a comment from Prashanth B:

"Yes the controller tries to pick sensible defaults. Timeout > 30s is not something that's been asked for, so I just dropped it from beta. If it's something you need often I c

[2016-09-08 11:13] wojtek-t commented on #32257
The logs that I added seem to confirm my hypothesis - outgoing channel is generally more full then the incoming channel in etcd_watcher:
[code]
vs
[code]

I'm working on the PR that should at least improve the situation.

[2016-09-08 11:23] sttts commented on #28188
A number of different unrelated symptoms, but hardly  about the broken wget pod. Removing priority.

[2016-09-08 11:24] sttts commented on #29397
https://github.com/kubernetes/kubernetes/issues/29397#issuecomment-242722664 still holds true, reducing priority.

[2016-09-08 11:26] wojtek-t commented on #32098
It actually got back to normal after 3 red runs (without any intervention). These might have been some GCE-related issues. I'm going to close this issue.

[The first failure, should be fixed after we bumped the version of rescheduler].

[2016-09-08 11:26] #32098 closed

[2016-09-08 11:33] wojtek-t commented on #32028
@lavalamp - you added this test - any ideas what can be wrong?

[2016-09-08 11:47] sttts commented on #32241
@vishh where are those requirements collected and in which format?

[2016-09-08 12:00] sttts commented on #32241
Found it in the release status doc: https://docs.google.com/document/d/1CIRSmJ2-Ez855KDiVPJpjl5o5pk05t9geZ_gCkZtYk4/edit#heading=h.j0o7bjy3vmc0.

[2016-09-08 12:01] #31130 closed

[2016-09-08 12:26] deads2k commented on #31524
I still think that you'd want to have different identities to distinguish between individual users and the agent running whatever check you intend to have.  Distributing secrets that identify userA to a different, external entity so that it can pretended to be userA instead being the user for that separate entity seems weird.

This isn't a case where the core platform is trying to protect direct a

[2016-09-08 12:30] ingvagabund commented on #32123
@kubernetes/sig-cluster-lifecycle

[2016-09-08 13:15] ncdc commented on #32026
We actually seem to have 2:

https://github.com/kubernetes/kubernetes/blob/b974c09819fd6f6dc2f2d90b43dac66ea7525c1d/pkg/apiserver/proxy.go#L209

and

https://github.com/kubernetes/kubernetes/blob/b974c09819fd6f6dc2f2d90b43dac66ea7525c1d/pkg/registry/generic/rest/proxy.go#L128

[2016-09-08 13:22] ncdc commented on #32237
cc @derekwaynecarr @smarterclayton

[2016-09-08 13:26] luxas commented on #32237
Seems like the namespace creation/deletion process is flaky.
IIRC there have been some recent PRs touching this area, is that right?

[2016-09-08 13:31] ncdc commented on #32237
We recently added code to try to expose the real underlying error for why the ns deletion fails. This is hopefully now showing it.

[2016-09-08 13:37] caruccio commented on #5164
What about implementing this loop on the master side, using some embeddable script language like lua or python?

Watching quota won't give detailed resource consumption. Does not works for me.

[2016-09-08 13:40] zhouhaibing089 opened #32285 "error creating load balancer: PoolInUse"
I am using openstack as the cloud provider, and the error could be reproduced like this:

[code]

It looks so far so good, but after restarting the control plane.

[code]

[2016-09-08 13:45] zhouhaibing089 commented on #32285
logs from kube-controller-manager:

[code]

[2016-09-08 13:47] luxas opened #32286 "kubectl logs should lookup by ip as well"
As shown in https://youtu.be/8cirvYVhRoI?t=18m6s, `kubectl logs` relies on the default DNS resolver to resolve the node name when getting logs. This shouldn't be the case, `kubectl logs` should query by node ip instead.

The relevant code is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/pod/strategy.go#L302-L339

I consider this a bug fix. Can we get this into v1.4? I'll

[2016-09-08 13:50] zhouhaibing089 commented on #32285
When checking the function `EnsureLoadBalancerDeleted` here: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L997-L1064

I doubt that the process about deleting a vip, the deletion order expressed there is:

1.  get the vip.
2.  delete the vip.
3.  disassociate monitor.
4.  delete monitor.
5.  delete pool.

why don't we check the

[2016-09-08 13:52] liggitt commented on #32286
no, discussion of resolution of the node is ongoing, and a change in master<->node communication will be very disruptive. this also affects exec and attach. a proposed fix is in https://github.com/kubernetes/kubernetes/pull/25532/, where the nodeName is no longer required to be DNS-resolveable, and the kubelet hostname/hostname-override/cloud-provider-resolved hostname is used instead

[2016-09-08 13:52] liggitt commented on #32286
dupe of https://github.com/kubernetes/kubernetes/issues/22063

[2016-09-08 13:52] #32286 closed

[2016-09-08 13:54] gmarek opened #32288 "Error in JSON encoding in apiserver"
We got an interesting failure: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-high-density-100-gce/1186

What happend is that encoding `runtime.Object` to JSON failed in pod list (apiserver/apiserver.go:495):

[code]

logs from the API server:

[code]

and client side error:

[code]

It's very rare (it's the first time we saw it), but it probably indic

[2016-09-08 13:57] gmarek commented on #27882
@sols1 - did my explanation is enough for you?

[2016-09-08 13:57] wojtek-t commented on #31215
I'm closing this bug, as this is error is supposed to be handled now.
I will reopen if we face this issue again.

[2016-09-08 14:00] nhlfr commented on #32026
@ncdc thanks for the links. Will look at them.

[2016-09-08 14:03] luxas commented on #22063
+1 for me as well, see #32286

[2016-09-08 14:06] luxas commented on #32286
Thanks for the fast response @liggitt! Now I don't have to reinvent the wheel :)

[2016-09-08 14:07] gmarek commented on #31884
As this happens only in pr-builders my best guess is that it's caused by overloaded workers.

[2016-09-08 14:10] dev-e opened #32289 "Multi-hub selenium grid k8s service loose endpoints on node reboot"
**Related to**: [https://github.com/kubernetes/kubernetes/blob/release-1.4/examples/selenium/README.md](url)

**Kubernetes version** (use `kubectl version`): v1.3.6+coreos.0

**Environment**:
- **Cloud provider or hardware configuration**: VMware
- **OS** (e.g. from /etc/os-release): CoreOS 1068.10.0
- **Kernel** (e.g. `uname -a`): 4.6.3-coreos x86_64 Intel(R) Xeon(R) CPU E5-2660 v3 @ 2.60GHz Genu

[2016-09-08 14:10] nhlfr commented on #32240
@sbezverk you need to double escape these characters, so use double slashes:

[code]

That's because k8s API is doing its own escaping, before anything lands in the "lower" layers than k8s.

[2016-09-08 14:17] yehiyam opened #32291 "Container IPv6 address is marked as duplicate (dadfailed)"
BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.6", GitCommit:"ae4550cc9c89a593bcda6678df201db1b208133b", GitTreeState:"clean", BuildDate:"2016-08-26T18:13:23Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.6", GitCommit:"ae4550cc9c89a59

[2016-09-08 14:20] sbezverk commented on #32240
sed ''s/\\(^.*portal=\\)/\\1 0.0.0.0:3260\\"/''

Does not help. I get this anyway:
unable to decode "tgtd-pod-v2.yaml": invalid character '/' after array element

[2016-09-08 14:53] pmorie commented on #28898
Secret volumes _should_ be readonly -- it's possible that a bug was introduced... i'll spin off an issue.

[2016-09-08 14:57] liggitt commented on #32255
reopening until cherry-pick merges

[2016-09-08 15:01] george-angel opened #32295 "AWS volume attached but not mounted, service started anyway"
OS: CoreOS stable (1068.10.0)
Kubelet: quay.io/coreos/hyperkube:v1.3.6_coreos.0

Interesting issue, I have a prometheus deployment with a PVC ebs volume - 400GB.

The volume is attached but is not mounted:

[code]

`df` on the machine

[code]

And I can see some failed mount services:

[code]

The interesting bit is that my pod is running anyway, and running `df` inside container:

[code]

This is

[2016-09-08 15:03] derekwaynecarr opened #32296 "ThirdParty E2E framework tests should be [Flaky] in kube 1.4"
ThirdPartyResources (TPR) E2E test creates a custom resource type, and creates an instance of that type in a namespace.  The namespace is purged, but the namespace controller DOES NOT observe the dynamic mutation of the type hierarchy.  As a result, the instances of that type are never purged, and we could potentially leak resources.

In prior discussions of @kubernetes/sig-api-machinery we agreed

[2016-09-08 15:08] ncdc commented on #32296
+1 to [Flaky] - this is really causing a ton of flakes

[2016-09-08 15:09] ncdc commented on #32296
Also note that this doesn't just affect the TPR e2e suite - the existence of the TPR can cause any other e2e suite to fail.

[2016-09-08 15:10] derekwaynecarr commented on #32296
/cc @liggitt

[2016-09-08 15:11] nhlfr commented on #32240
Strange, it worked for me when I pasted than `annotations` section in some pod yaml I had. Could you please share the whole yaml?

[2016-09-08 15:14] sbezverk commented on #32240
@nhlfr Sure.
Here you go:
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: tgtd
  labels:
    component: tgtd
    system: tgtd
  namespace: default
spec:
  template:
    metadata:
      name: tgtd
      labels:
        component: tgtd
        system: tgtd
      namespace: default
      annotations:
        pod.alpha.kubernetes.io/init-containers: '[
          {
             "name":

[2016-09-08 15:15] nhlfr commented on #32026
It seems that those two proxies may be potentially merged, but for sure one of them has to be rewritten a little bit - at least I don't see any way how to reuse them for kubectl proxy in the current shape. Looking again..

[2016-09-08 15:19] sbezverk commented on #32240
@nhlfr

apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: tgtd
  labels:
    component: tgtd
    system: tgtd
  namespace: default
spec:
  template:
    metadata:
      name: tgtd
      labels:
        component: tgtd
        system: tgtd
      namespace: default
      annotations:
        pod.alpha.kubernetes.io/init-containers: '[
          {
             "name": "initialize-tgtd"

[2016-09-08 15:20] nhlfr commented on #32240
Um... code formatting or pastebin please. ;)
And cheers for kolla devs!

[2016-09-08 15:24] sbezverk commented on #32240
@nhlfr sorry about previous post I thought it would format it properly.
Here is pastebin: http://paste.openstack.org/show/569249/

[2016-09-08 15:41] jayunit100 commented on #31273
I saw @mikedanese kube-anywhere project and am wondering if that is the future of things?

[2016-09-08 15:54] willjacobs commented on #24745
Hi Guys - this is very useful, thank you! Have a question - I need to use Nginx as a reverse proxy for both https and wss - is this possible with the ingress controller, and if so, are there docs on how to deploy it?

[2016-09-08 15:57] derekmahar commented on #3312
@thockin Given that you rejected the idea of a dependency graph inside a pod, would you consider adding a container restart policy to the Kubernetes pod specification so that one or more containers within a pod could, for example, restart until certain conditions are true?  Can Kubernetes do this now using some other method?

[2016-09-08 16:00] zilman commented on #28497
@pwittrock @MrHohn @thockin @girishkalele

I've resolved the issue on my end. I think the mountVolume thing was reversed causality on my part, sorry for that.

It ended up being the overlay (weave in my case), slightly misconfigured, wrongly interacting with the masquerade stuff in subtle ways. Joeblackwaslike provides a good overview and many others ran into similar problems and wrote elsewhere.

[2016-09-08 16:01] aledbf commented on #24745
Hi, please the the repositoy
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx
Websocket support works ootb (http or https)

How are you using wss?

On Sep 8, 2016 8:54 AM, "willjacobs" <notifications@github.com> wrote:

[2016-09-08 16:12] willjacobs commented on #24745
@aledbf Thanks for the quick reply. I saw the repo, but it looks like most of those examples are for simple load balancing to web servers. I'm using Nginx (currently running in static VMs) to terminate SSL for both https/wss and proxy the traffic through to containers hosting a java-based platform.

[2016-09-08 16:19] vishh commented on #31928
How do we collect logs in the e2e suite? Do we have support for `journald` in there?

[2016-09-08 16:19] vishh commented on #31928
Can someone from @kubernetes/sig-node help with ensuring support for journald in e2e log collection?

[2016-09-08 16:20] pdbogen opened #32301 "hyperkube kube-proxy does not support JSON or YAML for --kube-api-content-type"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** `type:issue proxy content-type` and `proxy "no serializer"`

**Is this a BUG REPORT or FEATURE REQUEST?** Bug Report

**Kubernetes version**

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `u

[2016-09-08 16:21] thockin commented on #28497
Thanks!!

[2016-09-08 16:21] #28497 closed

[2016-09-08 16:23] thockin commented on #3312
Can you explain your idea more?  I don't think I fully understand it, and I
don't want to poke holes in something that isn't there :)

On Thu, Sep 8, 2016 at 8:58 AM, Derek Mahar <notifications@github.com>
wrote:

[2016-09-08 16:24] bprashanth commented on #32253
From a 1.3.6 cluster

[2016-09-08 16:28] bprashanth commented on #32253
Maybe we need a cherrypick? I think 1.3.6 is still supposed to be the important 1.3 subrelease (meaning all the ones from 1.3-1.3.6 had issues). From the logs attached, it kept stack tracing, so if we don't fix it I guess we should release some PSA about how to recover a cluster in this state?

[2016-09-08 16:35] thockin commented on #7433
This was merged for 1.4, but ONLY for external LB VIP traffic (i.e. not for NodePorts and not for internal service IPs).  This will give us a chance to get some miles on the idea, though.  You already found some of the implementation.

@girishkalele

[2016-09-08 16:50] robdaemon commented on #29324
Are there plans to backport this into 1.3? This is affecting many of us that are currently running 1.3.

[2016-09-08 16:57] vishh commented on #30706
Question:
Why is it not OK to use Ubuntu trusty or debian jessie for AWS? We can have our node e2e suite validate compatibility with those distros. We test trusty already.
I'm concerned that manually keeping the aws image in sync with GCI will be a non-trivial task.

[2016-09-08 17:07] jsravn commented on #31858
@anioool Yes this is a limitation of the aws plugin in kubernetes. It backs off if it detects rate limit, but it really needs a global rate limiter to prevent spamming AWS in the first place. I suggest petitioning the sig-aws channel in the Kubernetes slack to get this prioritised.

[2016-09-08 17:08] derekmahar commented on #3312
@thockin I just found #127 that discusses in depth the idea of container restart policy (different from pod restart policy).

The use case that I'm considering is controlling container execution order or container "chaining".  For example, suppose that three containers run in a pod, a PostgreSQL database server, a Liquibase container that creates a schema in the database, and an application that u

[2016-09-08 17:13] derekwaynecarr commented on #32237
The issue is with TPR not integrated properly with the namespace controller.  Creation of a new type requires a restart of the controller-manager given current state of the code.  The test must be marked flaky until the state of the art is improved (which is not happening in 1.4).

[2016-09-08 17:17] girishkalele commented on #7433
@simonswine NodeName was added to EndpointAddress in v1.4 precisely to allow kube-proxy to filter local endpoints for various future purposes, in 1.4 it is only using this data to create a new KUBE-XLB- iptables chain for specially annotated services and only if the alpha feature gate is enabled.

BTW, I would prefer not having a kube-proxy cmd line flag (which is an all-services-behave-this-way),

[2016-09-08 17:20] derekwaynecarr commented on #32037
Possibly related, but not sure: https://github.com/kubernetes/kubernetes/issues/32296

[2016-09-08 17:21] timothysc commented on #32123
/cc @hongchaodeng @xiang90

[2016-09-08 17:22] spxtr commented on #32256
#31273, doesn't look specific to this test.

[2016-09-08 17:22] #32256 closed

[2016-09-08 17:22] derekwaynecarr commented on #31964
Depending on test execution, potentially related to https://github.com/kubernetes/kubernetes/pull/32302

[2016-09-08 17:23] derekwaynecarr commented on #32009
I think the underlying error was this: https://github.com/kubernetes/kubernetes/pull/32302

[2016-09-08 17:24] derekwaynecarr commented on #31889
I think the underlying error is this https://github.com/kubernetes/kubernetes/pull/32302

[2016-09-08 17:25] derekwaynecarr commented on #31873
Closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/32009

[2016-09-08 17:25] #31873 closed

[2016-09-08 17:26] derekwaynecarr commented on #31855
many of these look like integration issues with whatever auth proxy is integrated with your builders...

[2016-09-08 17:26] derekwaynecarr commented on #31836
Closing as a duplicate of core https://github.com/kubernetes/kubernetes/issues/32009

[2016-09-08 17:31] derekwaynecarr commented on #31574
I am closing this as dup of #32009

[2016-09-08 17:31] #31574 closed

[2016-09-08 17:33] erictune commented on #31521
Just saw this.  For batch, we did rev to v2alpha1 when adding a kind (ScheduledJob) which was alpha, even though the other thing in the group was v1 (Job).   If we hadn't done that:

- people would not have a signal that ScheduledJob was alpha.
- when the api group is enabled, an alpha-quality controller is enabled.  that controller could go haywire and bring down the cluster.

We could move to a

[2016-09-08 17:40] wojtek-t commented on #32253
@bprashanth - yeah, we probably should cherrypick 1.3, though it should already be fixed in 1.4 and master. So it's only a matter of 1.3.

[2016-09-08 17:41] krousey commented on #29998
Is there any update on this?

[2016-09-08 17:43] ravilr commented on #32178
@girishkalele @thockin

[2016-09-08 17:43] bprashanth commented on #32253
SG, converting milestone 1.4 to 1.3

[2016-09-08 17:43] girishkalele commented on #30175
Can we mark these resource usage tracking tests as Flaky ? They are not going to pass on GKE because of the Docker memory leak and/or GCI image using more memory.
Except for these 3 resource tracking issues, the others have all been intermittent flakes that are already tracked by other issues.

[code]
Issues about this test specifically: #26982 #32214

[2016-09-08 17:44] MrHohn commented on #31929
Would like to work on this. I'm using versioned client-go for [cluster-proportional-autoscaler](https://github.com/kubernetes/cluster-proportional-autoscaler) too.

[2016-09-08 17:44] girishkalele commented on #30175
Also, the bot has attached so many entries to this conversation that this page takes a loong time to load.

[2016-09-08 17:44] derekmahar commented on #3312
In https://github.com/kubernetes/kubernetes/issues/127#issuecomment-50181738, @bgrant0607 suggests using event hooks to implement data loaders, a process similar to a schema migration script:

[2016-09-08 17:45] derekmahar commented on #3312
In https://github.com/kubernetes/kubernetes/issues/127#issuecomment-50181738, @bgrant0607 suggests using event hooks to implement data loaders, a process similar to a schema migration script:

[2016-09-08 17:50] smarterclayton commented on #3312
Init containers are retried until they succeed for restart always
pods.  The use case of external condition prereqs was a design goal
for Init containers and I'm happy to take additional reqts for that.

[2016-09-08 17:52] smarterclayton commented on #31521
I'll note that doing that broke every bit of API machinery which
wasn't adequately ready for it.  So we also need to be sure we've
fixed the underlying problems before we go everywhere else (@soltysh
do you have follow up issues for your hacks there?)

[2016-09-08 17:57] derekmahar commented on #3312
@smarterclayton Okay, so in my [example](https://github.com/kubernetes/kubernetes/issues/3312#issuecomment-245668148), I could run Liquibase in an init container which will restart until the database is available.  How might the Liquibase container inform Kubernetes that it is complete so that Kubernetes may then proceed to start the application container?

[2016-09-08 17:57] krousey commented on #31503
So the resource issues are due to a memory leak in docker as noted here: https://github.com/kubernetes/kubernetes/issues/28124

Also, influxdb is seems to use a lot of resources and gets OOM killed at times. This can cause spurious in unrelated tests of the form `Failed waiting for pods to be running: Timeout waiting for 1 pods to be ready` https://github.com/kubernetes/kubernetes/issues/28124

We

[2016-09-08 17:58] erictune commented on #31521
Yes, v2alpha1 was not easy, so I'd love to have a different path that didn't involve more apiversions.

[2016-09-08 17:59] ixdy commented on #28435
Let's plan to make this a high-priority item for 1.5? I will own it.

[2016-09-08 18:00] aledbf commented on #24745
What do you mean? You can balance any kind of service (http or https) using Ingress. The ingress controller can be used to terminate SSL and proxy the traffic to the backend (the platform is not important)

[2016-09-08 18:03] luxas commented on #28435
Great! We can probably remove windows/386 then...

[2016-09-08 18:06] girishkalele commented on #31811
@pwittrock Since this pulls from the external Docker Hub into GCE, this will probably be flaky intermittently.

I am unsure about what I can do with this issue - perhaps we add retries to the e2e tests to keep trying ? But if the networking flakiness to Docker Hub is prolonged, even retries won't help.

[2016-09-08 18:07] mtaufen commented on #31676
@derekwaynecarr @vishh I'm looking at the logs for build 606 (the latest flake), which had a QoS-order violation on the ubuntu-trusty-docker9-v1-image. This build contains #32213, but I do not see "Container runtime did not kill the pod within the specified grace period." in the kubelet.log file for that image.

I do see the event for the eviction of the besteffort pod:
`I0908 06:43:14.069453    3

[2016-09-08 18:07] derekmahar commented on #3312
I think @thockin answered my questions in https://github.com/kubernetes/kubernetes/issues/127#issuecomment-112677979, though in the case of a wrapper script, unless a Docker file is available, it's not always clear how the wrapper script can execute an application in a third-party container.

[2016-09-08 18:11] SleepyBrett opened #32304 "cAdvisor on kubelet 1.3.6 improperly reporting memory usage"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): memory

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Ku

[2016-09-08 18:15] ixdy commented on #32036
error message from 13651:
[code]

Where does that denial even come from?

[2016-09-08 18:16] Q-Lee commented on #31524
The ability to authenticate yourself to a backend already exists. IIUC, the webhook code uses the kube client code, and can authenticate itself any way kubectl does.

[2016-09-08 18:18] SleepyBrett commented on #32304
Initially all nodes in our cluster were effected, after restarting a kubelet that node would again start reporting stats correctly.

[2016-09-08 18:24] lavalamp commented on #32249
Due to #32226, everything is on:

[code]

[2016-09-08 18:24] nikhiljindal opened #32305 "Use "an" instead of "a" before an ingress in auto generated API documentation"
In swagger spec, we say "create a ingress", "delete a ingress", etc (https://github.com/kubernetes/kubernetes/blob/943d7aa5aa42d8fc359614e1c02521f48d03b989/api/swagger-spec/extensions_v1beta1.json#L3164)
It should be _an_ ingress.

Relevant code is at https://github.com/kubernetes/kubernetes/blob/943d7aa5aa42d8fc359614e1c02521f48d03b989/pkg/apiserver/api_installer.go#L614

[2016-09-08 18:24] lavalamp commented on #32249
It was this way in 1.3, too.

[2016-09-08 18:24] girishkalele commented on #31811
@Random-Liu

Maybe we can start an RC with 3 replicas ?
Those should launch on different nodes and if all of them fail, that gives us confirmation that Docker Registry is flaky.

[2016-09-08 18:25] thockin commented on #31521
yeah, we need some huddle early in 1.5 to figure this out.

On Thu, Sep 8, 2016 at 10:59 AM, Eric Tune <notifications@github.com> wrote:

[2016-09-08 18:26] derekwaynecarr opened #32306 "ThirdPartyResources should take part in namespace lifecycle w/o forcing a restart of controller-manager"
The set of resources tracked by namespace controller to take part in namespace lifecycle is cached once at start-up.  This prevents third-party resources from participating in lifecycle without restarting the namespace controller because it has no knowledge of the new types.  This issue must track the right resolution: should namespace controller watch discovery, poll discovery, etc.

/cc @lavalam

[2016-09-08 18:26] derekwaynecarr commented on #32306
See: https://github.com/kubernetes/kubernetes/pull/32302

[2016-09-08 18:28] lavalamp commented on #31521
batch/v2alpha1 was a trailblazer. The trail should be easier for others now
that it's been blazed.

We did discuss in the last api machinery sig dropping the requirement that
each version has a complete set of resources. This would require us to
figure out how to make multiple versions available in our clients, but
probably otherwise would be more intuitive for people.

On Thu, Sep 8, 2016 at 11:2

[2016-09-08 18:29] bgrant0607 commented on #26299
Related to #17097

[2016-09-08 18:31] bgrant0607 commented on #15244
Related blogs:
http://blog.kubernetes.io/2015/06/the-distributed-system-toolkit-patterns.html
http://blog.kubernetes.io/2016/06/container-design-patterns.html

[2016-09-08 18:31] ixdy commented on #32263
@Pensu maybe you figured this out because you closed it, but the server version is tagged `-dirty`, which suggests that client and server were built at different times with different changes. The testing framework fails in this case unless you explicitly allow it.

[2016-09-08 18:32] thockin commented on #31521
I don't think that is more intuitive.  If these are "api groups" I would
expect the whole thing to rev at the same time.  If we're going to rev
different types independently, then the GROUP does not actually have a
version at all, EACH KIND does.  That may be OK, but it is a tradeoff we
should make consciously.

On Thu, Sep 8, 2016 at 11:29 AM, Daniel Smith <notifications@github.com>
wrote:

[2016-09-08 18:34] ixdy commented on #31492
`k8s.io/kubernetes/federation/pkg/federation-controller/secret` and `k8s.io/kubernetes/federation/pkg/federation-controller/ingress` flaking pretty badly. @mwielgus is this related to your recent PRs?

[2016-09-08 18:35] lavalamp commented on #32255
Yikes, good catch. This would have been a disaster.

On Thu, Sep 8, 2016 at 7:57 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-09-08 18:40] mwielgus commented on #31492
I cannot access jenkins due to: "502 Bad Gateway nginx/1.4.6 (Ubuntu)". Are these fails fresh or 0.5 day old? I did couple fixes couple hours ago.

[2016-09-08 18:40] lavalamp opened #32308 "Discovery client behaves poorly when TPR is unregistered"
Split off from #32306, the thing that actually caused the flakes throughout the system (as opposed to just failing the TPR test) is

[code]

(https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32278/kubernetes-pull-build-test-e2e-gce/57833/)

Which I guess means that the discovery client got a list, but then the TPR was gone when it tried to get details?

This is not an emerg

[2016-09-08 18:40] liggitt commented on #32255
https://github.com/kubernetes/kubernetes/pull/32294 merged to release-1.4

[2016-09-08 18:40] #32255 closed

[2016-09-08 18:53] #32191 closed

[2016-09-08 18:53] #32025 closed

[2016-09-08 18:53] #32043 closed

[2016-09-08 18:53] #32045 closed

[2016-09-08 18:53] #32053 closed

[2016-09-08 18:53] #32054 closed

[2016-09-08 18:53] #32087 closed

[2016-09-08 18:53] #32122 closed

[2016-09-08 18:53] #32132 closed

[2016-09-08 18:53] #32168 closed

[2016-09-08 18:53] #32237 closed

[2016-09-08 18:53] #32296 closed

[2016-09-08 18:56] Pensu commented on #32263
@ixdy Yeah, I did, that's why I closed it. Sorry for the noise :)

[2016-09-08 19:03] bprashanth commented on #32273
You can already do this on kube versions >= 1.3:
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce#health-checks
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce/examples/health_checks
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce/examples/health_checks#limitations
please reopne if thats not the case

[2016-09-08 19:03] #32273 closed

[2016-09-08 19:06] soltysh commented on #29998
It's on my radar, but haven't got a chance to look into it, @krousey how important is that for you?

[2016-09-08 19:06] derekwaynecarr commented on #31501
@mdshuai -- i feel really dumb now, I see the problem, thanks!

[2016-09-08 19:09] derekwaynecarr commented on #31501
I am bumping this to p0 as the incorrect value mapping would cause unstable nodes when using eviction based on inodes for imagefs.

[2016-09-08 19:09] Random-Liu commented on #31811
@girishkalele That is a good idea.
However, this is node e2e test, we run the test on only one node. As is mentioned in https://github.com/kubernetes/kubernetes/issues/29259#issuecomment-243304436, retry may help a bit.

[2016-09-08 19:10] lavalamp commented on #32253
Wait, so this is an etcd3 -> etcd2 rollback issue?

[2016-09-08 19:12] jfrazelle commented on #31855
@ixdy ya im working on it, i think 1 error then dominoes all the others

[2016-09-08 19:16] ncdc commented on #32009
@smarterclayton ready to close this now?

[2016-09-08 19:16] mboersma commented on #28727
I am seeing the same error trying to provision either k8s 1.2.6 or 1.3.4 on AWS.

I would guess so. I *one time* got lucky and had the script succeed, but have never had success since, following the same steps.

[2016-09-08 19:17] lavalamp commented on #32253
Is there a version of etcd2 which does not have these issues? I don't think we should promote 1.3.7 to etcd3--you'd just have the same rollback issue between 1.3.6 and 1.3.7 if we did that.

[2016-09-08 19:22] thockin commented on #32185
It seems @jlowdermilk has this one under control - Confirm?

[2016-09-08 19:22] timothysc commented on #32253
/cc @eparis @smarterclayton @ingvagabund re: version tracking 2.3.7 against 1.3.x baseline.

[2016-09-08 19:22] ncdc commented on #31272
Despite being really nasty, this isn't a regression, so it probably shouldn't hold up the release - thoughts?

[2016-09-08 19:23] smarterclayton commented on #32009
Yes, #32302 was it.

[2016-09-08 19:23] #32009 closed

[2016-09-08 19:24] timothysc commented on #24246
/cc @jayunit100

[2016-09-08 19:25] thockin commented on #31964
What's next here?  This is a P0 flake - is it a launch blocker?  Do we understand it?  @rmmh you own it, are you the right person?  @derekwaynecarr does your comment mean we should close this or move off p0 ?

[2016-09-08 19:26] xiang90 commented on #32253
@lavalamp try 2.3.7. The rollback tool rolls back etcd data to version 2.3.7.

[2016-09-08 19:31] jlowdermilk commented on #32185
We have to do a cherrypick dance to get the api into 1.4 before we can turn it on for GKE. I am actively working on it tho.

[2016-09-08 19:31] smarterclayton commented on #31521
Technically each kind already has its own version because we change them at
different rates.  We don't really want a proliferation of versions though,
so your core point stands.

On Thu, Sep 8, 2016 at 2:32 PM, Tim Hockin <notifications@github.com> wrote:

[2016-09-08 19:33] jlowdermilk commented on #32185
This can be closed. Test is disabled on GKE until we get cherrypicks enabling done, that is in progress.

[2016-09-08 19:33] #32185 closed

[2016-09-08 19:38] justinsb commented on #30706
@vishh Debian Jessie has an older kernel which kernel panics on m4 instance types.  I suspect we just haven't been seeing it because (1) it is rare and (2) it only happen on certain instance types and (3) it is non-trivial to capture a kernel panic on a systemd system, so it might be happening and we might just not be noticing.  I don't know if the NPD would detect kernel panics on non-journald sy

[2016-09-08 19:39] dims opened #32313 "external-lb-source-ip-preservation.md breaks kubernetes-verify-master"
Introduced by 30e7c055d42fe4d6632632f908b7d46bb1e350a7

[code]

[2016-09-08 19:41] dims commented on #32313
Example https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/3784

[2016-09-08 19:42] pmorie commented on #31272
I don't think this should block the release OR be a last-minute fix.  Bumping milestone to 1.5.

[2016-09-08 19:45] mwielgus commented on #31492
Federation-related flakes seem to be gone. Clearing the assignment.

[2016-09-08 19:46] lavalamp commented on #32253
I'm thinking it's easier/better to just roll back to etcd 2.3.7 in 1.4. We can roll forward again in a point release. @wojtek-t @timothysc Thoughts?

[2016-09-08 19:47] lavalamp commented on #32253
Otherwise we have to make TWO releases. And for GKE (and presumably everyone else) that's a lot of extra upgrading.

[2016-09-08 19:48] thockin commented on #32214
I propose to take this and #31935 off the 1.4 blockers list.

[2016-09-08 19:51] thockin commented on #31928
@vishh Can you nominate someone to help?  Crying for help does not work

[2016-09-08 19:54] derekmahar commented on #3312
@smarterclayton On second thought, I couldn't run the Liquibase container as an init container because it requires the database which won't run until all of the init containers are complete, correct?

[2016-09-08 19:59] GreatSUN commented on #32179
Got it, it was just too late to get this stuff handled properly, sorry for any inconvenience... Should take myself some more sleep ;-)

[2016-09-08 19:59] #32179 closed

[2016-09-08 20:13] thockin commented on #30632
What are we thinking with this one?

[2016-09-08 20:15] bprashanth commented on #30632
All failures appear to be because of and etcd issue, or something lying about an etcd issue

[2016-09-08 20:16] janetkuo commented on #26202
@mwielgus do you have details on what the client is trying to accomplish? Do they just want to add more labels to their pods (created by deployments)?

[2016-09-08 20:17] VinayKumarbrsoft commented on #27149
@jessehu Sorry for late reply but the below did work for me.

[code]

[2016-09-08 20:18] timothysc commented on #32253
Why?  This incident was against 1.3.6 using an older etcd.

I'd prefer not to change course at this time.

[2016-09-08 20:19] thockin commented on #27324
@beeps - update needed.  Do we block 1.4 for this one?  It's pretty frequernt

[2016-09-08 20:20] thockin commented on #27324
@bprashanth - update needed. Do we block 1.4 for this one? It's pretty frequent

[2016-09-08 20:21] thockin commented on #26490
@bprashanth I know you've been tracking this - updates?

[2016-09-08 20:21] lavalamp commented on #32253
@timothysc if my understanding is correct, you cannot currently roll back from 1.4 to 1.3 because of this. We need to do *something* to make that possible.

[2016-09-08 20:27] timothysc commented on #32253
So cherry-picking etcd 2.3.7 for 1.3.(X) is not viable?
That seems low cost, fixes 1.3.X, and allows us to stay the course.

To be perfectly clear, this is more a gke constraint then a project constraint.  As we can/do version stack components independently.

[2016-09-08 20:27] thockin commented on #30632
I got that from the bug, but do we have any clues why or how to narrow it further?

[2016-09-08 20:28] pwittrock commented on #32206
@foxish This is critical

[2016-09-08 20:29] pwittrock commented on #32206
This needs to be tracked as a 1.4 blocker

[2016-09-08 20:29] bprashanth commented on #32253
In the past things that happen during rollback also happen when master reboots at the wrong moment. If we're not sure this is 100% triggered by rollback, reverting in 1.4 might re-introduce a bad race.

[2016-09-08 20:37] lavalamp commented on #32253
This has happened to at least three people here doing 1.4->1.3 rollbacks as part of the upgrade test script.

[2016-09-08 20:37] derekmahar commented on #14017
In order to fix this issue, I followed the steps in [Go development environment](https://github.com/derekmahar/kubernetes/blob/master/docs/devel/development.md#go-development-environment).  Then I built Kubernetes and successfully rebuilt https-nginx.

[2016-09-08 20:46] lavalamp commented on #32253
OK, I talked with @timothysc. Here is our etcd roadmap as I understand it:

1.4.0: ship with etcd 2.3.7
1.4.N: (N is after any urgent bug fix patch releases) bump to etcd 3.0.x
1.4.N+1: do the offline migration to start using the etcd 3 storage format & API.
1.5.0: do the migration to start storing proto natively (instead of JSON).

I will make a PR or find someone to make a PR to switch to etcd 2

[2016-09-08 20:48] dchen1107 commented on #30706
@justinsb I leave this with 1.4 milestone and P0, but marked it as non-blocker. I assigned this one to you since you are the one doing the real work. I still leave myself as another assignee to help you figure out the short-term workaround and work on the long-term strategy on qualifying the image running on AWS. Building from the official 4.4 Linux LTS kernel sounds good to me for me. Again, let'

[2016-09-08 20:50] kgoerlitz opened #32318 "AWS cluster creation using get-kube fails w/ KUBE_MANIFESTS_TAR_URL: unbound variable"
BUG REPORT:

**Kubernetes version** v1.3.6

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): jessie
- **Install tools**: get-kube
- **Environment Vars**:<br>
  export KUBERNETES_PROVIDER=aws<br>
  export KUBE_AWS_ZONE="us-east-1a"<br>
  export NUM_NODES=2<br>
  export MASTER_SIZE="m4.large"<br>
  export NODE_SIZE="m4.xlarge"<br>
  export KU

[2016-09-08 20:51] josephjacks commented on #26507
+1! I am very in favor of this. Have been talking with some customers about tracing being a first-class concern in K8s. Could solve a world of problems in larger scale deployments.

I just spoke with @bensigelman about this. Would we need to use something like GRPC to provide a common cluster-wide method for trace propagation data?

GRPC supports OT now: https://github.com/grpc-ecosystem/grpc-open

[2016-09-08 20:54] nvnobelen commented on #32167
Comment from @asalkeld  works.

Ok, this comment from @asalkeld should be integrated into the storage examples (searched for the extra settings for this for a day and did not find anything), changing from bug to documentation improvement

[2016-09-08 20:54] #32167 closed

[2016-09-08 20:55] bensigelman commented on #26507
@josephjacks FYI, the Go support for gRPC is in PR at the moment... it was blocked on client-side interceptors which were just introduced into gRPC-Go last week. FWIW, integration with gRPC+OT in Go is now O(1) code per gRPC service...

Clients:
[code]

Servers:
[code]

[2016-09-08 20:58] josephjacks commented on #26507
@bensigelman that is awesome! thanks for sharing this.

[2016-09-08 20:59] dchen1107 commented on #30706
@justinsb You can find the kernel sources for GCI from their release notes at:
https://cloud.google.com/compute/docs/containers/vm-image/release-notes

[2016-09-08 20:59] lavalamp commented on #32249
@erictune What did you do for this in 1.3, so I can repeat the process for 1.4?

[2016-09-08 21:00] timothysc commented on #32253
@smarterclayton ^ we'll need to be mindful on rebase for 1.4.x here.

[2016-09-08 21:03] thockin commented on #31272
ACK

On Thu, Sep 8, 2016 at 12:42 PM, Paul Morie <notifications@github.com>
wrote:

[2016-09-08 21:07] vishh commented on #31928
@Random-Liu has looked at journald logs before. @Random-Liu do you have bandwidth to tackle this?
@euank might be able to help as well.

[2016-09-08 21:09] ericchiang commented on #23720
Been thinking about this a lot and would like to propose something a bit more concrete. I'd like to see an implementation of this thread that changed the auth flow from:

[code]

To:

[code]

The groups interface would look something like.

[code]

Groups returned by this interface would be added (union) to the user.Info object between auth-N and auth-Z.

Additionally I'd like to propose an initia

[2016-09-08 21:16] dchen1107 opened #32320 "Disable resource usage tracking tests on GCI in 1.4 branch"
kubernetes-e2e-gce-gci-serial-release-1.4 constantly failed with two tests:

[code]

This is a known issue opened for investigating on the docker memory usage increase. And GCI rollout is not coupling with 1.4 release. We should disable those broken tests in 1.4 branch.

[2016-09-08 21:17] dchen1107 commented on #32320
cc/ @pwittrock @foxish

[2016-09-08 21:17] dchen1107 commented on #28124
Filed https://github.com/kubernetes/kubernetes/issues/32320 to disable the tests for 1.4.

[2016-09-08 21:17] lavalamp commented on #32253
Built & pushed container:

[code]

[2016-09-08 21:18] jlowdermilk commented on #31928
I think this issue is out of date. The HPA rc test is no longer failing on gci-release-1.4 . See [testgrid](https://k8s-testgrid.appspot.com/google-gci#gci-serial&sort-by-failures=)

This test has been green for several days, the consistent failures are for kubelet regular resource usage tracking which is https://github.com/kubernetes/kubernetes/issues/28124, and non-release-blocking iiuc

[2016-09-08 21:21] #32313 closed

[2016-09-08 21:24] nikhiljindal commented on #32157
@bgrant0607 mentioned that we do not want to add a terminating condition. Presence of a deletion timestamp is enough indicator to indicate that the resource is being deleted.

cc @caesarxuchao

[2016-09-08 21:24] dchen1107 commented on #31935
It is known issue that Docker 1.11 has memory leakage issue which causes the resource tracking tests of soaking cluster fail. It is not blocker for 1.4.

[2016-09-08 21:24] gmarek commented on #30175
Or we can bump the constraints acknowledging the higher usage - current ones seem pretty close.

[2016-09-08 21:26] gmarek commented on #32036
This sis something new - I don't know enough about the apiserver to answer without looking for this particular log line. @wojtek-t @lavalamp

[2016-09-08 21:28] janetkuo commented on #26202
Had an in-person discussion with @erictune. It seems reasonable for clients to add more specific labels to their deployments' pod templates, and preventing users from doing that (#32228) is risky for 1.4 (it may break people). So I'm removing this from 1.4.

We need to think more about how to handle the case when users want to update template labels / selectors of their deployments. This is tricky

[2016-09-08 21:28] vishh commented on #32320
SGTM!

[2016-09-08 21:30] nikhiljindal commented on #32157
Yes hadnt thought of that. Good point.
So today if I change the type and then restart the controller, it will leak resources?

Yes, I dont know of a bug in controller code. This issue is just to provide a way to tell the user that controller has done its work.

[2016-09-08 21:33] dchen1107 commented on #31503
docker memory leakage is known issue, which shouldn't be the blocker for 1.4 release. But we need to resolve another issue. Remove me from the assignees list.

[2016-09-08 21:38] lavalamp commented on #32253
Change is simple. Hopefully we don't turn up any issues on etcd 2.3.7.

[2016-09-08 21:47] pwittrock commented on #32206
ETA for resolution: This afternoon

This is in the process of being cherrypicked

[2016-09-08 21:48] lavalamp commented on #31521
Specifically we were talking about having a sort of rotating alpha group
instead of bumping the entire group's version every time we graduate a
resource from alpha.

On Thu, Sep 8, 2016 at 12:31 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-08 21:52] dchen1107 commented on #30527
Lower the priority to P2 since last two failure instances are transient issue of temporary down of github server?

[code]

Previous one (https://github.com/kubernetes/kubernetes/issues/30527#issuecomment-244570407) is on a bad GCI image.

Then there is no failure for a couple of days. I am closing this.

[2016-09-08 21:52] #30527 closed

[2016-09-08 21:55] pwittrock commented on #32320
Moving this to non-blocking.

[2016-09-08 21:55] derekmahar commented on #3312
@thockin @bgrant0607 @smarterclayton

I think lifecycle event hooks and shared volumes are sufficient to control container execution order, but the documentation does not make this very obvious.  This use case seems common and difficult enough that it deserves to be highlighted in the documentation.

Once I've come up with a solution to the [example problem](https://github.com/kubernetes/kubernete

[2016-09-08 21:58] jlowdermilk commented on #31928
It does appear tho that this test is what is causing kubernetes-e2e-gke-serial-release-1.4 to timeout ([internal jenkins](http://kubekins.dls.corp.google.com/view/CI%201.4/job/kubernetes-e2e-gke-serial-release-1.4/135/)). It actually looks like a test framework bug. Test is chugging along then appears to lose contact with apiserver.

[code]

cc @rmmh

[2016-09-08 22:01] bprashanth commented on #27324
The last failure is different from the previous few I debugged. The last one is
[code]

Which looks like a get failed on apiserver (https://github.com/kubernetes/kubernetes/issues/31728).

The one before that was ssh failure on gke (https://github.com/kubernetes/kubernetes/issues/32248).

I had planned to get to debugging this after doing the immediate upgrade testing stuff, but as mentioned on bo

[2016-09-08 22:02] pwittrock commented on #31501
@derekwaynecarr Thank you.  Please make sure that this issue is updated with an ETA for a complete resolution before the burndown meeting tomorrow morning so that we can quickly look at it and move on.

Please also include any other details we might need to plan around.

[2016-09-08 22:03] rmmh commented on #31191
^ These 5 are all from a pull that broke verify-munge-docs. It shouldn't recur since kubernetes/test-infra#536 was merged.

[2016-09-08 22:03] #31995 closed

[2016-09-08 22:06] ixdy commented on #31580
@sttts was this failure due to your debugging in that PR?

[2016-09-08 22:11] smarterclayton commented on #32308
The print out of the error message included the message, which was generic 404.  So /apis/company.com/v1 I believe returned a 404 without a JSON body.

[2016-09-08 22:13] rmmh opened #32322 "etcd curl download failed (in hack/install-etcd.sh)"
Split off from #31191

Sometimes we can't download etcd from github's releases on S3. This may have been a temporary thing, or might be a longer-term problem. It hasn't recurred recently.

The usual failure is `curl: (7) Failed to connect to github-cloud.s3.amazonaws.com port 443: Connection timed out`

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/3487/

[2016-09-08 22:16] rmmh commented on #31191
Closing because the sub-issues have been fixed. Let's track the etcd flakes separately.

- verify-godeps by kubernetes/test-infra#498
- verify-munge-docs by kubernetes/test-infra#536
- slow git clones by kubernetes/test-infra#475

[2016-09-08 22:16] #31191 closed

[2016-09-08 22:18] smarterclayton commented on #32288
No chance of running out of memory briefly during the encode?

[2016-09-08 22:18] smarterclayton commented on #32288
How many total pods would have been listed here?  1.8 seconds is a lot
even for a big list

[2016-09-08 22:21] erictune commented on #32249
The PR that turned stuff on (https://github.com/kubernetes/kubernetes/commit/6f7007afc5b99f7ecceae20d22f794077362c884) was committed after I did my thing for 1.3.

[2016-09-08 22:21] smarterclayton commented on #5164
We could just as easily add that to this command as a potential extension,
if we had reason.  We generally just don't put loops in the server side
because it should be just as easy to do it via the APIs.

Hrm - when you say detailed, what do you mean?  Watching quota would tell
you every byte granted to a user (more accurately than our other
mechanisms).  Agree you need additional data sources on

[2016-09-08 22:22] rmmh commented on #31964
Assigning to @gmarek for triage-- he's done most of the work on this test.

[2016-09-08 22:27] rmmh commented on #31492
A bunch of these are #32322. The git clones were fixed before.

The federation issues appear to be fixed by #32282.

Closing because there's nothing left to do.

[2016-09-08 22:27] #31492 closed

[2016-09-08 22:30] #26822 closed

[2016-09-08 22:30] rmmh commented on #26822
Closing for now, will reopen if we see any more workspace corruption.

[2016-09-08 22:31] bprashanth opened #32323 "Completed pods are sometimes deleted across node upgrade"
During node upgrade it looks like sometimes the node can leave the cloudprovider, leading the nodecontroller to think it should delete pods on the node. This is obviously disruptive, but if the pod is not managed by an RC, it can just disappear, which is worse.

Create a job
[code]

Wait for it to succeed and check job:
[code]

Check nodes
[code]

Upgrade nodes
[code]

Check nodes
[code]

Check jo

[2016-09-08 22:33] lavalamp commented on #32253
I'll also push the etcd 2.3.7 container for ARCH=arm, ARCH=arm64 and ARCH=ppc64le.

[2016-09-08 22:34] bprashanth opened #32324 "Completed pods lose logs across node upgrade"
Run the repro steps in https://github.com/kubernetes/kubernetes/issues/32323
While some pods might get deleted, you probably won't be able to get at the logs of the remaining pods, even though it wasn't put on another node or given another ip (according to kubectl at least).  You will end up with:

[code]

@kubernetes/sig-node though I get the feeling fixing this is out of scope for 1.4

[2016-09-08 22:34] bprashanth commented on #32323
https://github.com/kubernetes/kubernetes/issues/32324 for the logs issue

[2016-09-08 22:35] bprashanth commented on #32323
hmm, i meant to cc @kubernetes/goog-control-plane instead of cluster

[2016-09-08 22:36] lavalamp commented on #32253
Hm, did I do something wrong? @luxas (who requested this in the PRs I'm cargo-culting)

[code]

[2016-09-08 22:38] derekwaynecarr commented on #31501
@pwittrock - pr is in the queue and tagged.

On Thursday, September 8, 2016, Phillip Wittrock <notifications@github.com>
wrote:

[2016-09-08 22:43] lavalamp commented on #32288
@gmarek you left out the most important bit in your cut-n-paste:

[code]

On Thu, Sep 8, 2016 at 3:19 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-08 22:44] hanikesn opened #32326 "cAdvisor should export pod labels for container metrics"
Currently it's cAdvisor doesn't export pod labels for container level metrics. This would be desirable to be able to aggregate container level metrics by application.

As Kubernetes doesn't set pod labels on Docker containers (https://github.com/kubernetes/kubernetes/pull/25301) cAdvisor can't export those labels to it's `/metrics` endpoint which makes metric aggregation by pod labels impossible.

[2016-09-08 22:45] bprashanth commented on #32323
To clarify, I sort of expect that containers will get *restarted* across node upgrade, because whatever. I don't expect pods to get completed deleted.

[2016-09-08 22:46] lavalamp commented on #32288
So this must have been a network drop or something like that.

Or maybe it was a client parse error, and the client then dropped the
connection without completely reading it.

Or maybe the server emitted some bunk JSON? Hard to say without the actual
body that was transmitted to the client. I don't think clients typically
write that on error :(

On Thu, Sep 8, 2016 at 3:43 PM, Daniel Smith <notifi

[2016-09-08 22:47] pwittrock commented on #31501
Wonderful

[2016-09-08 22:48] smarterclayton commented on #32253
@timothysc I hit this several times preparing the rebase and flipping between versions, glad that we tracked it down already.

[2016-09-08 22:49] lavalamp commented on #32253
We haven't actually tested that this resolves the issue yet--I'm going to get @grodrigues3 to test, since he has a cluster in this broken state.

[2016-09-08 22:56] lavalamp opened #32328 "Cross build of etcd container doesn't seem to work"
Am I doing something wrong?

[code]

[2016-09-08 22:56] dchen1107 commented on #27324
The test is pretty fragile. Every failure I looked at has a different cause. Several ones are failed due to apiserver (#31728), but not necessary same as what @bprashanth posted above. For example, the third last one is

[code]

Another instance of failure above like "Unable to get server version: an error on the server has prevented the request from succeeding" is also caused by apiserver (#31728

[2016-09-08 23:04] lavalamp commented on #20504
@pwittrock we will want a patch release at some point (two, actually, given
#32253) but moving it out for the moment is fine.

On Wed, Sep 7, 2016 at 6:01 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-09-08 23:04] bprashanth commented on #27324
Yeah i had the same plan. This bug seems to be a honeypot for flake symptoms we've seen elsewhere. I doubt we can figure out something really serious by debugging this one and not some of the more isolated failures we have.

[2016-09-08 23:07] smarterclayton commented on #32253
I was seeing forward failures as well from v2.3.0-284-gfbdb52d-> 3.0.6, where it failed to read the WAL.  Less impactful, but some kube users may hit it.

[2016-09-08 23:07] lavalamp commented on #32028
Very weird. I'll add debugging info. And fix my spelling.

[2016-09-08 23:08] MrHohn opened #32329 "Addon-manager does not create ConfigMap from YAML under `/etc/kubernetes/addons` directory"
I have these YAML files in the corresponding directory:
[code]

All of the other three objects(including deployment in the kubedns-autoscaler-deployment.yaml) are created, but no response for the configmap in kubedns-autoscaler-configmap.yaml.

Below is the content of kubedns-autoscaler-configmap.yaml:
[code]
Lable `kubernetes.io/cluster-service: true` is added as this [readme](https://github.com/

[2016-09-08 23:09] xiang90 commented on #32253
@smarterclayton Have you tried 2.3.7 -> 3.0.6?

[2016-09-08 23:09] lavalamp commented on #32253
@smarterclayton good to know. Maybe we need to be hammering rollforward/back before we ship an etcd version.

@xiang90 how worried should we be about moving from 2.2.1 to 2.3.7?

[2016-09-08 23:12] runseb commented on #5164
Some feedback after trying this for 10 minutes.

So first I think it is great.

Now basic feedback:

* Downloading the openshift/origin image is heavy (500 MB) for getting a CLI.
* I faced issues writing a kubeconfig into that image as user 1001 does not exist. Quickly downloaded the binary release.
* For pure k8s, it feels weird downloading this from oc. I would prefer it to be a kubectl command

[2016-09-08 23:12] xiang90 commented on #32253
@lavalamp Yes. We should test it more extensively.

There should be no issues upgrading from 2.2.1 -> 2.3.7. Simply restarting etcd with new binary should work.

If there is an issue with upgrading from 2.3.7 -> 3.0.x, please report in etcd repo.

[2016-09-08 23:13] smarterclayton commented on #32253
My next step now that I saw this.  We were running older than that on
our previous version (but most customers run detached etcd anyway).

[2016-09-08 23:15] pwittrock commented on #20504
@lavalamp Thanks Daniel.

[2016-09-08 23:19] caruccio commented on #5164
@smarterclayton API client loops are great! I love API client loops! Lets make API client loops great again!  ...but they comes with a drawback: there is another component in the system as a whole, another point for failures and another stuff for Ops to maintain. We could reduce the risk with redundancy, which brings syncing in the game ("may I delete something twice?", "is this component already

[2016-09-08 23:21] bprashanth opened #32332 "v1.4.0 known issues / FAQ accumulator"
Do what we did in previous releases, read https://github.com/kubernetes/kubernetes/issues/10760#issue-93324758

[2016-09-08 23:22] thockin commented on #3312
We'd be happy to take a doc and/or host a Kube blog post!

On Thu, Sep 8, 2016 at 2:56 PM, Derek Mahar <notifications@github.com>
wrote:

[2016-09-08 23:24] smarterclayton commented on #5164
Some feedback after trying this for 10 minutes.

So first I think it is great.

Now basic feedback:

   - Downloading the openshift/origin image is heavy (500 MB) for getting a
   CLI.

Yeah, it's a full Kube+OpenShift containerized distribution.  The client
binaries are smaller - we'll do a smaller image in the future.

   - I faced issues writing a kubeconfig into that image as user 1001 does

[2016-09-08 23:27] smarterclayton commented on #5164
On Sep 8, 2016, at 7:19 PM, Mateus Caruccio <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> API client loops are
great! I love API client loops! Lets make API client loops great again!
...but they comes with a drawback: there is another component in the system
as a whole, another point for failures and another stuff for Ops to
maintain. We could reduce the ri

[2016-09-08 23:29] erictune opened #32333 "Upstream Openshift Request Header Authentication"
Allows Kubernetes APIserver to sit behind apache or nginx and trust that thign to do authentication.

Enables Kerberos, LDAP, SAML authentication, to the extent that Apache or Nginx support those ia plugins.

Docs for OpenShift feature.
https://docs.openshift.com/enterprise/3.0/admin_guide/configuring_authentication.html#RequestHeaderIdentityProvider

xref: https://github.com/kubernetes/kubernetes

[2016-09-08 23:29] erictune commented on #32333
@kubernetes/sig-auth

[2016-09-08 23:33] euank commented on #30939
Thanks for the ping and sorry for the slightly slow response.

This is a duplicate of https://github.com/google/cadvisor/issues/1344. The root cause was a bug in docker, which all current versions of CoreOS should be avoiding by using the cgroupfs driver. See https://github.com/coreos/bugs/issues/1435#issue-163484274

This affects any nodes that run with a modern systemd (>=226), docker configured

[2016-09-08 23:41] gosuri opened #32334 "support for digital ocean volumes"
I was wondering if there are any plans to support digital ocean volumes (similar to awsElasticBlockStore)? If not, are you open to pull requests for this feature?

[2016-09-08 23:48] asalkeld commented on #27373
duplicate of #20676

[2016-09-08 23:50] thockin opened #32335 "YAML rendering sometimes linewraps strings"
This is more confusing than harmful.

I noticed while editing a pod that the YAML wrapped a string.  The below has line numbers turned on:

[code]

Note that line 12 is a wrap of line 11.  Apparently this is valid YAML.  Reading it as JSON shows:

[code]

Rejoining the lines in the editor (kubectl edit) comes back as "Edit cancelled, no changes made."

I don't know who is deciding to wrap that, or

[2016-09-08 23:51] asalkeld commented on #20676
I can work on this

[2016-09-08 23:51] lavalamp commented on #32253
@xiang90 should 2.3.7 -> 2.2.1 be OK (rollback)?

[2016-09-08 23:53] treed opened #32336 "Kubelet Fails To Unmount/Unmap RBD Volume While Reporting Success"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): rbd

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Ku

[2016-09-08 23:54] jingxu97 opened #32337 "Master is not working after downgrade"
Encountered some issue when exercising upgrade and downgrade master node. The following lists the steps
1. Bring up a 1.3.6 cluster in GCE
2.  Upgrade the master to 1.4.0-alpha (cluster/gce/upgrade.sh -M v1.4.0-beta.0), verify master is running fine and the version is 1.4.0
3. Downgrade the master back to 1.3.6. Now master is no longer running correctly. Still be able to login the master with gclo

[2016-09-08 23:54] lavalamp commented on #32028
I think the only way for this to happen is if the service allocator allocates an invalid IP address, but we'll see what my debug code turns up.

[2016-09-08 23:54] jingxu97 commented on #32337
@dchen1107 Could you please help take a look?

[2016-09-08 23:55] thockin commented on #32157
What is the state of finalizers?  I see it has been added as a generic
metadata field.  I tried to use it to prevent the deletion of a pod, and it
had no effect.  Is it done?

If finalizers work, is there any reason for us NOT to use them for ~every
such case?  For example, kubelet should put a finalizer on a pod before
starting it, so the pod can't be nuked.  Kubelet's job is then to remove
the f

[2016-09-08 23:58] lavalamp opened #32338 "`make test-integration WHAT=test/integration/pkgtotest` doesn't seem to work"
I would like to run a subset of the integration tests, but that doesn't seem easy?

[2016-09-08 23:59] dchen1107 commented on #32324
Yes, this is out of scope for 1.4. The pod is completed and containers are terminated,  and Kubelet garbage collects those dead containers.

[2016-09-09 00:00] bprashanth commented on #32324
Maybe mention in https://github.com/kubernetes/kubernetes/issues/32332? I think this will happen as soon as they upgrade

[2016-09-09 00:01] jingxu97 commented on #32337
From journalctl, I can see some related error message

Sep 08 18:02:13 kubernetes-master systemd[387]: [/usr/lib/systemd/system/bindmount@.service:6] Failed to add required mount for, ignoring: %I

Sep 08 18:02:50 kubernetes-master kubelet[1335]: E0908 18:02:50.767150    1335 server.go:309] Failed running kubelet: unsupported eviction signal nodefs.available
Sep 08 18:02:50 kubernetes-master kubel

[2016-09-09 00:04] dchen1107 commented on #32337
Looked at @jingxu97's master node together, and found that after downgrade to old version, Kubelet doesn't come up:

[code]

[2016-09-09 00:05] mml commented on #31812
I really have no idea what's going on here.  This bug mentions dozens of broken tests, mostly unrelated.  The wall of text is literally too much to read an internalize

[2016-09-09 00:06] davidopp commented on #32323
@gmarek @yujuhong

[2016-09-09 00:07] davidopp commented on #32323
@erictune in case this is Job-specific

[2016-09-09 00:10] davidopp commented on #32323
Actually I could have sworn we had a similar issue with 1.2->1.3 but I can't find the issue/bug right now. I think @erictune will probably remember what I'm talking about and can say whether this is a dupe.

[2016-09-09 00:10] vishh commented on #32337
This is a bug. Kubelet needs to warn and move on with invalid eviction configuration to support backwards compatibility. We need to fix this in v1.3 and v1.4.
cc @derekwaynecarr

[2016-09-09 00:11] davidopp commented on #32323
#27968 is what I was thinking of.

[2016-09-09 00:11] mml commented on #31812
@ixdy @pwittrock How exactly do I determine if this is blocking or what the problem is?  I managed to "reduce" the description of all the failures to the list of 139 below.

[code]

[2016-09-09 00:12] derekwaynecarr commented on #31272
Is there an event that we throw or could throw that would make it easier to
debug the issue occurred?

On Thursday, September 8, 2016, Tim Hockin <notifications@github.com> wrote:

[2016-09-09 00:12] bprashanth commented on #32323
Job controller does its thing. No new jobs are created even though completed job disappear. Node controller deletes the pods. It does so because the node disappears from the cloud provider, that's the part that needs investigation. This line:
[code]

* Did the node actually disappear (because as you can see the nodenames are the same before and after upgrade)
* Can we make the nodecontroller smart

[2016-09-09 00:14] derekwaynecarr commented on #32337
I am confused?  What is the upgrade/downgrade requirement that makes this a
bug?

On Thursday, September 8, 2016, Vish Kannan <notifications@github.com>
wrote:

[2016-09-09 00:15] dchen1107 commented on #32337
@vishh I don't think that is the root cause here.

The configuration change for Kubelet was introduced by https://github.com/kubernetes/kubernetes/pull/31545 for 1.4, but for 1.3 of kubelet it should use the old. To me, looks like downgrade only downgrade the master component and configurations, not kubelet binary here.

[2016-09-09 00:15] derekwaynecarr commented on #32337
Shouldn't a downgrade also imply reverting to the prior versions set
configured flags?

On Thursday, September 8, 2016, Derek Carr <decarr@redhat.com> wrote:

[2016-09-09 00:15] thockin opened #32339 "Finalizers can be added after delete, and not removed"
http://kubernetes.io/docs/api-reference/v1/definitions/ says "If the deletionTimestamp of the object is non-nil, entries in this list can only be removed.".

[code]

@derekwaynecarr can you elucidate if I am assuming this does something different than reality

[2016-09-09 00:16] #32206 closed

[2016-09-09 00:16] dchen1107 commented on #32337
@derekwaynecarr Yes, downgrade did revert to the prior versions set configured flags, but not kubelet binary itself. Kubelet on that master node is still running 1.4 Kubelet. :-)

[2016-09-09 00:17] derekwaynecarr commented on #32337
I think Dawn and I are saying the same thing.

[2016-09-09 00:19] #31501 closed

[2016-09-09 00:19] bprashanth commented on #31812
I think this is failing because of `Internal Server Error: \\\"/api/v1/namespaces/e2e-tests-services-odrug/services\\\"\") has prevented the request from succeeding (post services)` so I'd dupe into https://github.com/kubernetes/kubernetes/issues/31728 and try to get the gke master logs to see why it threw 500s

[2016-09-09 00:19] derekwaynecarr commented on #32339
This is garbage collection finalizer field, not the namespace finalizer
field that that new field was inspired from

On Thursday, September 8, 2016, Tim Hockin <notifications@github.com> wrote:

[2016-09-09 00:19] dchen1107 commented on #32337
Yes, we are saying the same. Not eviction manager issue, not kubelet issue.

Ok, to fix the issue, when we downgrade from 1.4 to 1.3 , we have to switch GCI image to 53 milestone since it is bundled with Kubelet binary. cc/ @adityakali @Amey-D Can you help with this one?

[2016-09-09 00:20] mml commented on #31812
@bprashanth thanks.  Closing as dup of #31728.

[2016-09-09 00:20] #31812 closed

[2016-09-09 00:20] thockin commented on #32157
Ahh, I tried it on a different object, and it did seem to work.  I think
there are bugs.  Kubelet should not be nuking my finalizer.

On Thu, Sep 8, 2016 at 4:54 PM, Tim Hockin <thockin@google.com> wrote:

[2016-09-09 00:21] thockin commented on #32339
I don't parse that - is this not a general-purpose "refcount" thing?  It seems to work that way, except not as documented

[2016-09-09 00:21] mml commented on #31728
Raising to p0 as #31812 is p0 and I dup'd it to this.

[2016-09-09 00:22] k8s-merge-robot opened #32341 "[k8s.io] SSH should SSH to all nodes and run commands {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15092/

Failed: [k8s.io] SSH should SSH to all nodes and run commands {Kubernetes e2e suite}

[code]

Previous issues for this test: #26129

[2016-09-09 00:23] Random-Liu commented on #31928
Sorry, just seen this. :P
@euank Thanks a lot for working on this.

[2016-09-09 00:23] thockin commented on #32338
Do you expect that to translate to `ginkgo.focus` or something?  I don't
know how to do what you want, with or without `make`

On Thu, Sep 8, 2016 at 4:58 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-09-09 00:24] m1093782566 commented on #32031
Fixed

[2016-09-09 00:25] jfrazelle commented on #29503
for the etcd issues I think https://github.com/kubernetes/kubernetes/issues/32253 might cover it

[2016-09-09 00:28] caesarxuchao commented on #32157
I think it's a bug. I tried on services and it works. Probably we should move this line out of the if block:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/generic/registry/store.go#L613.

[2016-09-09 00:29] vishh commented on #32337
Why can't the kubelet ignore (with warning) unsupported configuration instead of failing? Lock stepping config is ideal, but are we requiring it?

[2016-09-09 00:29] bprashanth commented on #26490
Last few failures are because of another master GKE p0, the failures before that were pre cni bump. I've essentially rewritten the test, stuck in submit queue: https://github.com/kubernetes/kubernetes/pull/31559. Should give us more clarity on failure and exactly one It block will fail, so we can iterate on the exact case (I suspect it's udp).

[2016-09-09 00:29] vishh commented on #32337
@dchen1107 How are you performing the downgrade?

[2016-09-09 00:30] caesarxuchao commented on #32157
We never caught this bug because all tests set finalizers on replication controller, never on pods.

[2016-09-09 00:31] dchen1107 commented on #32337
@jingxu97 was the one performing the downgrade. I am just standby for any issues. ;-)

[2016-09-09 00:32] k8s-merge-robot opened #32343 "kubernetes-e2e-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/9258/

Run so broken it didn't make JUnit output!

[2016-09-09 00:33] dchen1107 commented on #30550
dup of https://github.com/kubernetes/kubernetes/issues/31676

[2016-09-09 00:33] #30550 closed

[2016-09-09 00:34] bprashanth commented on #29503
I want it to, but the logs are clean :(

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/29639/kubernetes-pull-build-test-e2e-gce/53820/artifacts/e2e-gce-agent-pr-11-0-master/

Also that only happens on etcd3->2, or at least, I'm taking the absence of proof of its occurrence as proof of its non occurrence on normal clusters.

[2016-09-09 00:35] lavalamp commented on #29503
@jingxu97 hit another case, where the logs were all empty. Kubelet failed to start at all. I'm not sure if she got to the bottom of it yet or not.

[2016-09-09 00:36] chrislovecnm commented on #30706
Just to throw my two cents in, we have to have a Debian tested version. Custom kernel is fine, but we need the .config on a stable configuration. Multiple parties are using Debian, and we need to make this happen.

Let me know if you need any support with this. We have already scheduled an upgrade in the next couple of weeks.

@justinsb we are in your debt for finding this one!

[2016-09-09 00:39] pwittrock commented on #29503
@bprashanth  @lavalamp Does this still seem like a non-release-blocker to you?

[2016-09-09 00:43] k8s-merge-robot opened #32345 "kubernetes-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15093/

Multiple broken tests:

Failed: [k8s.io] Variable Expansion should allow substituting values in a container's command [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] HostPath should support subPath [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl

[2016-09-09 00:45] dchen1107 commented on #32337
@vishh you might have the luxury to ignore this unsupport configurations. But if one flag has semantic change from one version to another version, what to do?

[2016-09-09 00:47] bprashanth commented on #29503
I think the timing of the first failure is around the time we bumped etcd by a minor vesion (3.0.4), since we're going back to something presumably more stable (2.3.7), there's a chance it'll just fix itself. I lack theories at this point.

[2016-09-09 00:47] vishh commented on #32337
We should disallow such breaking changes IMO. Our policy right now is to
support flag semantics for at-least two versions before updating or
removing it.

On Thu, Sep 8, 2016 at 5:46 PM, Dawn Chen <notifications@github.com> wrote:

[2016-09-09 00:53] k8s-merge-robot opened #32346 "kubernetes-e2e-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/14903/

Run so broken it didn't make JUnit output!

[2016-09-09 01:03] #32031 closed

[2016-09-09 01:16] fraenkel commented on #32335
@thockin Not much you can do. The code is Unmarshalling into an interface{} which doesn't allow us to set yaml tags to affect the style selected. The defaults use a flow style with 80 character margins which is what you are seeing.

[2016-09-09 01:21] lucamartinetti commented on #29769
+1

[2016-09-09 01:27] Amey-D commented on #32337
I'm not familiar with the upgrade / downgrade workflow.  Does it involve tearing down the current instance and recreating it based on the OS version selection logic in the target version?  For example, when downgrading from 1.4.0 to 1.3.6, does it recreate the instance based on the OS version selection logic in 1.3.6?

[2016-09-09 01:50] thockin commented on #32335
It's just code.  We can fix it if we choose to. :)

On Sep 8, 2016 6:17 PM, "Michael Fraenkel" <notifications@github.com> wrote:

[2016-09-09 01:56] dlorenc commented on #28698
I see this was closed, does that mean v1.4 has been validated against docker v1.12?

[2016-09-09 02:34] Random-Liu commented on #28698
@dlorenc In v1.4 we introduced automated docker validation test. We use node e2e to validate newest docker with Kubernetes HEAD. Currently, no critical issues found at least with this test.
http://k8s-testgrid.appspot.com/docker

[2016-09-09 02:36] fraenkel commented on #32335
Just have to fork yaml.v2 and set the best_width < 0  when marshalling and you will get the maximum line length for scalars (1 << 31 -1).

[2016-09-09 02:37] #26490 closed

[2016-09-09 02:38] GreatSUN commented on #9085
also, if we lose the data once by accident or wanted, we should not have to restart kubelet's all over the cluster, so that they get re registered, but have some kind of a timer/timeout to do so

[2016-09-09 02:39] dlamotte commented on #31713
At this point, it seems the best option is to ensure that the nodes in AWS inherit an IAM role that doesn't allow load balancing at all.  Then expose cluster services as a node port.  From there, if you're lucky enough to have all your nodes in an autoscale group, then you can manually create internal ELBs manually that auto-map to all your nodes.

It's an ok balance between security and maintaina

[2016-09-09 02:50] xiang90 commented on #32253
@lavalamp No. etcd does not support rollback.

[2016-09-09 03:14] dlamotte commented on #31713
Current IAM Role Policy I'm attempting to use with Kubernetes:

[code]
_note: above is yaml formatted and converted to json before use_

[2016-09-09 03:15] lavalamp commented on #32339
This is a general purpose field and it should work like Tim thinks it should work. @caesarxuchao can you take a look at this when you don't have anything pressing for 1.4?

[2016-09-09 03:17] lavalamp commented on #32339
The namespace finalizer should switch to using this field if it is currently doing something else.

[2016-09-09 03:21] lavalamp commented on #32253
@xiang90 Let's talk about this in realtime tomorrow if possible.

[2016-09-09 03:27] MikeSpreitzer commented on #31062
For the record, we are pursuing this in email.

[2016-09-09 03:28] brendandburns commented on #30462
Re-opening since this re-occured here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31607/kubernetes-pull-test-unit-integration/43802/

[2016-09-09 03:30] brendandburns opened #32350 "flake: Build Still Running"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31235/kubernetes-pull-build-test-e2e-gke/10939/

[2016-09-09 03:36] Random-Liu commented on #28154
@javiercr Sorry for the delay. From the supervisord.log, docker was always restarted before kubelet.

We rely on supervisord to monitor docker health, basically it just run [the script](https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/cluster/saltbase/salt/supervisor/docker-checker.sh). It just periodically run `docker ps` to see whether docker is alive. If no

[2016-09-09 03:38] thockin commented on #32335
Or parameterize it upstream and re-vendor :)

On Sep 8, 2016 7:37 PM, "Michael Fraenkel" <notifications@github.com> wrote:

[2016-09-09 03:56] lavalamp commented on #32253
After chatting with @xiang90 I am not convinced we should change etcd versions at all. This requires us to do a backup before rolling forward, and I'm not sure if we can get that pulled together in time for a 1.4.0 release. I'm thinking we should stick with the current version and figure out a way to decouple etcd version from the release process. Otherwise we will be doing a bunch of 1.4.x releas

[2016-09-09 04:00] Random-Liu commented on #28154
@javiercr Here is more detailed explanation, once docker hangs, both docker and kubelet got restarted by supervisord:
* Kubelet restart: in fact kubelet restart shouldn't affect your application at all, after it is restarted, it should take charge of all existing running container and your application shouldn't have downtime.
* Docker restart: docker restart will kill all your running containers w

[2016-09-09 04:13] Random-Liu commented on #27754
@thockin So do we still need to change node disk size according to the cluster size?

[2016-09-09 04:21] caesarxuchao commented on #32339
I'm adding validation rule to prevent adding finalizers if deletionTimestamps is set.
I'm still investigating why it can't be removed. This bug is strange.

[2016-09-09 04:27] caesarxuchao commented on #32339
Actually I guess it's a `kubectl edit` bug. It uses patch, and patch doesn't work on list of simple type, `finalizers` is a list of string.

[2016-09-09 04:29] bprashanth commented on #32253
so revert the etcd static pod file to what it is in 1.3.6 and figure out everything after 1.4, or are you proposing something else?

[2016-09-09 04:30] bprashanth commented on #32253
because it sounds like arbitrary etcd rollback is perilous, unless I misread between the lines

[2016-09-09 04:35] caesarxuchao commented on #32339
Yep, it's a `kubectl edit` bug. I used `kubectl replace` to remove one finalizer and it work as expected.

I think this is a known bug of `patch`, we don't have a way to specify the mergekey of a list of simple type.

[2016-09-09 04:45] smarterclayton opened #32352 "Namespace lookup fails on in-cluster config"
In 1.2 we added the idea of the local namespace context to a service account token - the service account injects `/var/run/secrets/kubernetes.io/namespace` into each container with a value equal to the application's current namespace.  kubectl is primed to use this value (and does so today) to set the default namespace.  However, we never wired it up properly when a non-default value was selected

[2016-09-09 04:46] smarterclayton commented on #32352
Marking this as p1 since it's broken for people who depended on it before, but it's not important enough to hold 1.4.0.  I would like to put it in a 1.4.1 release.

[2016-09-09 04:46] smarterclayton commented on #32352
And we need to be testing this inside a container running on Kube so we know it isn't broken.

[2016-09-09 04:50] smarterclayton commented on #28845
Different failure now.

[2016-09-09 04:55] fejta commented on #30462
This is not a flake. The commit does not compile (be sure to expand the skipped lines):

[code]

[2016-09-09 04:59] smarterclayton commented on #28845
There have been races in attach before - I know we carry patches on Docker 1.10 to deal with some of them.  It could also be something fixed in 1.4 that we didn't backport because of complexity.

The docker version in the 1.3.7-beta.0 tests on gke-staging-parallel is

[code]

[2016-09-09 05:06] jingxu97 commented on #32337
@vishh I used the following command to downgrade the master from 1.4.0 to 1.3.6. I think I used v1.3.6 version of upgrade script, but I am not completely sure since I changed my setup afterwards (In upgrade doc, it mentioned we should use v1.3 version of upgrade script when downgrading)

cluster/gce/upgrade.sh -M v1.3.6

[2016-09-09 05:19] gmarek commented on #32323
This is expected behavior. IIRC @roberthbailey added this logic around v1.0. I'll see what I can do about it.

[2016-09-09 05:27] gmarek commented on #32323
My guess it takes some time for the cloud provider to recreate the VM, so if NC will wake up in the period when there's no such node, it'll evict everything from those machines.

[2016-09-09 05:29] davidopp commented on #32323
Yes, that seems likely. Can we just set a delay between seeing a node has disappeared from the cloud provider, and deleteing it? The node should already be in NotReady state if it has disapeared from the cloud provider, so we should stop scheduling onto it and should have evicted all the pods from it.

[2016-09-09 05:31] davidopp commented on #32323
Sorry, last thing I wrote made no sense, deleted it.

[2016-09-09 05:32] gmarek commented on #32323
That's my initial idea and it should work on GCE. I'm not sure how Node upgrades work on different cloud providers though - can we always expect to get VMs with the same names?

[2016-09-09 05:45] Pensu commented on #13382
Has anyone been able to solve it? We are also hitting the same issue.

[2016-09-09 05:47] dchen1107 commented on #32337
@Amey-D Like what I mentioned above at:https://github.com/kubernetes/kubernetes/issues/32337#issuecomment-245782813

When downgrading to 1.3.6 in this test, the current instance is torn down including the boot disk which the OS (GCI image) is installed. But the target OS version is still point to gci-dev-54 as the following:
[code]
https://github.com/kubernetes/kubernetes/pull/31830 was introduced

[2016-09-09 05:51] davidopp commented on #32323
I don't think we should change this behavior right now. As you said, node upgrade deletes the VM. Deleting the VM will kill the containers and delete the pods from the node--nothing we do can prevent that. Some users might actually want the pods to reschedule onto a new node in that situation, to minimize disruption. It's hard to have a one-size-fits-all policy here, and I think what we're doing n

[2016-09-09 06:14] wojtek-t commented on #32288
@smarterclayton I'm pretty sure this wasn't out-of-memory issue in apiserver, because we had tens of GB of free space.
It was about 50.000 pods in this list.

@lavalamp yeah - this "write connection reset by peer" changes a lot - it basically explains the parsing error.
So the question is only why the connection was reset here...

[2016-09-09 06:21] wojtek-t commented on #32253
I'm slightly lost in this whole discussion. Does it mean we can't go back from 2.3.7 to 2.2.1 (in case of problems)?
And if my understanding is correct, we should go to 2.3.7 first to enable upgrade to 3.0.x version.

[2016-09-09 06:35] wojtek-t commented on #32253
In other words, I think that we should go with 2.3.7 version in 1.4.0 release assuming it's possible to rollback to 2.2.1 from it (it's the same API and same storage format so it would be pretty bad if that's not possible...)

[2016-09-09 06:45] fejta opened #32356 "Problems fetching PR commit from github"
stderr: error: object file .git/objects/5a/9848207a445a0bd97727b62e4a2dbf4ac35e61 is empty
fatal: loose object 5a9848207a445a0bd97727b62e4a2dbf4ac35e61 (stored in .git/objects/5a/9848207a445a0bd97727b62e4a2dbf4ac35e61) is corrupt
fatal: The remote end hung up unexpectedly

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32112/kubernetes-pull-build-test-e2e-gke/11052/

Foun

[2016-09-09 06:50] m1093782566 commented on #28706
I have some ideas about Pet Set upgrade

1. Should we need to support in-place upgrade? For those Pet Set which only use local volumes. see #9043

IMO, the difference between in-place upgrade and normal upgrade is whether delete old pod or not. in-place upgrade only need to change Pod.Container's image filed.

2. For adding "undo/rollback" support, I propose one simple way to store the current con

[2016-09-09 07:12] zefciu commented on #30716
# Rendered configuration files proposal (v 2.0)

## Configuration file object

The configuration file object specifies one configuration file that can be
mounted in a container. They will be specified per pod. Either inlined in pod
definition or defined separately and linked in a pod.

Example configuration file definition:

[code]

## Data sources

Data sources are objects that contain data that

[2016-09-09 07:18] tazjin commented on #30518
Changing the `LoadBalancer` type services to use ALBs could probably be switched based on an annotation. Any thoughts about that?

[2016-09-09 07:29] nhlfr commented on #32240
@sbezverk you need three slashes before `"`, so something like that:
https://paste.fedoraproject.org/424391/73405853/

That's because:

* you do **not** need to escape braces in k8s - that's why you're just doing `\\(` to pass `\(` into init container, after the anotation will be escaped/validated in k8s api
* you **need** to escape quotation mark in k8s - so you need `\\\"` in order to receive `\

[2016-09-09 07:36] nhlfr commented on #32336
Looking into this

[2016-09-09 07:40] javiercr commented on #28154
Thank you @Random-Liu

We are having daily restarts at pretty much the same time so we think it's related to one of our cron long running cron jobs that  takes place every night. It may be a memory consumption problem, however our cluster has 2 nodes with 7.5 GB each, and this cron was running without problems in our previous infrastructure with less RAM (not docker based).

We're considering disa

[2016-09-09 07:56] wojtek-t commented on #31215
Reopening - http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/100/ showed that I didn't fully fix it.

#32358 should hopefully finally fix it.

[2016-09-09 08:16] dshulyak opened #32360 "Implement more destructive tests for rest clients that will use multiple hosts"
Follow up for https://github.com/kubernetes/kubernetes/pull/30588
Such tests will require at least 2 api-server, for now they can be run against kargo [0] cluster (default deployment is 2 kube controller nodes - kube-apiserver, kube-controller-manager and scheduler, 3 etcd nodes, and 3 kubelet + kube-proxy)

Possible test cases:
- Replicas scale up/scale down while blocking traffic to different ap

[2016-09-09 08:18] dshulyak commented on #32360
kargo: https://github.com/kubespray/kargo

[2016-09-09 08:25] anguslees commented on #32285
Hrm, that error message _looks_ like it's generated only when a vip refers to the pool:
https://github.com/openstack/neutron-lbaas/blob/stable/mitaka/neutron_lbaas/db/loadbalancer/loadbalancer_db.py#L611
(and only for lbaas v1, so I'm assuming you're using that version)

If it isn't too difficult, could you manually create a vip+pool+member and confirm exactly what conditions produce that error?

[2016-09-09 08:37] #30455 closed

[2016-09-09 08:43] jszczepkowski commented on #30519
Closing as #31591 is fixed.

[2016-09-09 08:44] gmarek commented on #31513
Why assign me? We agreed that the cluster setup problems are @kubernetes/sig-cluster-lifecycle thing.

[2016-09-09 08:46] wojtek-t opened #32361 "Etcd is becoming our performance bottleneck for scalability"
My recent experiments show that etcd is becoming our performance bottleneck (note that experiments described below are run with etcd:3.0.4, but using v2 API).

Test:
- we are running 2000-node Kubemark (hoewever with increase QPS limits in controller manager and scheduler set to 100 and inflight-requests to 800)
- we are running density and load test on this kubemark

Outcome:
- the watch from api

[2016-09-09 09:20] sttts commented on #31580
@ixdy the PR was a stress test to trigger the error. We can close this.

[2016-09-09 09:20] #31580 closed

[2016-09-09 09:30] rmmh commented on #32356
Dupe of #26822. This hit a few different gke builds at the same time.

[2016-09-09 09:30] #32356 closed

[2016-09-09 09:42] sttts commented on #27680
This is the real problem, not another flake:

[code]

This happens roughly once per week, pretty stable.

[2016-09-09 09:46] gmarek opened #32366 "master-pd is not correctly deleted after the test ends"
I saw this happen twice: once in "kubemark-100-high-density" suite yesterday, and now in a PR-builder.
The effect is following:
[code]

cc @kubernetes/test-infra-maintainers, assigning @fejta to route to the correct person.

[2016-09-09 09:51] gmarek commented on #31964
It's not the test - it's a framework that failed to delete the namespace. I don't know who owns `test/e2e/framework` - @kubernetes/test-infra-maintainers ?

[2016-09-09 09:57] gmarek opened #32368 "e2e flake: namespaces are still active after e2e test is finished"
We're seeing it in pretty much all our serial and soak suites and is probably most common failure reason for our tests - including a number of P0 issues. Marking it as a P0 release blocker because of this, @thockin please remove if you think it shouldn't be one.

cc @kubernetes/test-infra-maintainers @derekwaynecarr @rmmh

[2016-09-09 10:08] zhouhaibing089 commented on #32285
@anguslees Thanks for your attention, I already fixed it by removing the members, and the issue was gone after that. :)

as far as I know, before all the references are removed, the pool would not be able to delete, so either the vip refers to it or the member refers to it. I do not have a deployment of LBaaS v2, but by reading the code, I am pretty sure that it delete the member before delete the

[2016-09-09 10:16] errordeveloper opened #32370 "kubelet may want to update apiserver static pod and fails"
We have seen this:

[code]

This is yesterday's HEAD, I'm quite sure.

The pod never comes back as a result.

[2016-09-09 10:23] soltysh commented on #31570
[code]
in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32201/kubernetes-pull-build-test-e2e-gce/58020/

[2016-09-09 10:26] errordeveloper commented on #32370
More context: https://gist.githubusercontent.com/errordeveloper/0e3c0a3c87b499ff3d2226c6f9abc679/raw/e47b248aa94916b728c2d6df39101930a9bc06aa/kubelet.log

It could be that there is some sort of a race and it's not able to re-create the pod as it's trying to contact the API server to tell it that a pod has died...

[2016-09-09 10:27] k8s-merge-robot opened #32371 "[k8s.io] Cadvisor should be healthy on every node. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15121/

Failed: [k8s.io] Cadvisor should be healthy on every node. {Kubernetes e2e suite}

[code]

[2016-09-09 10:39] k8s-merge-robot opened #32372 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8548/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #32185

[2016-09-09 10:51] jsafrane commented on #32366
another hit: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31607/kubernetes-pull-build-test-e2e-gce/58017/

[2016-09-09 10:52] Tha-Robert commented on #22770
Whats up with this ?

/T

[2016-09-09 10:56] jsafrane commented on #32372
Most probably broken by #32200, assigining to @deads2k. Was it merged too early?

[2016-09-09 11:22] wojtek-t commented on #32366
And one more:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gce-enormous-cluster/146/console

[2016-09-09 11:23] wojtek-t commented on #32368
@gmarek - links to failures please (I will try to look into it).

Also - I'm not sure this is v1.4 issue - I would suspect this is purely test issue.

[2016-09-09 11:42] gmarek commented on #32368
Possibly caused by errors like #32371

[2016-09-09 11:43] gmarek commented on #32350
cc @kubernetes/test-infra-maintainers

[2016-09-09 11:43] k8s-merge-robot opened #32375 "[k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: http [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15123/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: http [Conformance] {Kubernetes e2e suite}

[code]

[2016-09-09 11:46] wojtek-t commented on #32368
The underlying problem here are "500" errors coming from GKE - we should debug and fix them and these problems will also disappear.

[2016-09-09 11:48] wojtek-t commented on #32368
This is basically duplicate of https://github.com/kubernetes/kubernetes/issues/31728

[2016-09-09 11:48] deads2k commented on #32372
Yeah, the comment in there is strange.  I've opened https://github.com/kubernetes/kubernetes/pull/32376 to re-disable the test.

[2016-09-09 11:50] deads2k opened #32377 "Re-enable the dynamic provisioner test."
We need to revert #32199 when the gke control plane is updated. This should be merged AFTER gke is ready.

I think https://github.com/kubernetes/kubernetes/pull/32200 may have been merged too early.  I'm doing an issue instead of a pull in case a bot did the merge.

[2016-09-09 11:52] deads2k commented on #31521
Right.  That combined with a preference ordering of versions that places "alpha" last would allow clients to find the latest stable version of a resource if it exists, the latest bleeding edge if they want, and by having sparse versions we'll get to eliminate duplication between versions.

[2016-09-09 11:53] piosz commented on #31710
It's passing in soak cluster after @gmarek redeployed it. Thanks!

It's still failing in gke-serial. xref cl/132543388

cc @fabioy

[2016-09-09 11:55] wojtek-t commented on #32377
@lavalamp @pwittrock @jlowdermilk

[2016-09-09 12:01] deads2k commented on #23720
I'm ok with the interface, but I don't care for the API.

It would be really strange to be opinionated about the representation of a group when we have no opinion about a user.  Then, when you start talking about having a user, its not very useful to have the concept of a user without the corresponding concept of identities which map to that user.  It's really hard to have a meaningful API without

[2016-09-09 12:08] anioool commented on #31858
Hi,
 
Thank you for reply. Apparently I do not see you comment in the issue I raised. Could you give me a link where I can propagate the information about issue?? It is a critical blocker for us.
 
Thanks,
Adam
 
W dniu 2016-09-08 19:07:56 użytkownik James Ravn <notifications@github.com> napisał:
@anioool Yes this is a limitation of the aws plugin in kubernetes. It backs off if it detects rate lim

[2016-09-09 12:11] gmarek commented on #32361
Note that we did an experiment with using 10x faster disk for etcd and it didn't help as well.

[2016-09-09 12:13] gmarek commented on #32366
I'll delete dangling disks to deflake pr builder.

[2016-09-09 12:16] gmarek commented on #32366
Actually it deleted itself eventually...

[2016-09-09 12:23] sbezverk commented on #32240
@nhlfr Thank you very much for your help! It is working now.

[2016-09-09 12:23] #32240 closed

[2016-09-09 12:41] shamil commented on #27194
I'm facing similar issue, but with kubelet `/metrics` endpoint. I use Prometheus to scrape that endpoint and seems like  `container_cpu_usage_seconds_total` results are not updated properly. Container shows about 14% usage, but `kubelet` doesn't update the metric's value at all.

Here is the PromQL I use:

    container_cpu_usage_seconds_total{kubernetes_namespace="default", kubernetes_container_n

[2016-09-09 12:47] soltysh commented on #31521
Yeah, quite a few of them are on my list, just earlier today I hit dynamic client not working properly with `batch/v2alpha1`.

Since batch is the trail blazer here, I'd say continue to evaluate options on it, since with the 'maturity' it's easier to spot what's broken when changing and not only after. Should I read it that instead of `batch/v2alpha1` we should just have `batch/alpha`? What will ha

[2016-09-09 13:04] CaptTofu opened #32381 "DNS/SkyDNS documentation issue"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
## skydns, dns, docs

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

B

[2016-09-09 13:13] deads2k commented on #31521
I don't think we have a firm decision yet.  Sparse versions have maintenance merit, but there are reasonable arguments against them too.

[2016-09-09 13:16] gnufied commented on #32381
Most of the kubernetes documentation afaict has been moved to - https://github.com/kubernetes/kubernetes.github.io/

[2016-09-09 13:19] MaksymBilenko commented on #29177
Hello,
I'm having same issue.
Here is my rules:

kubectl get clusterrole admin-access -o yaml
[code]

kubectl --namespace=kube-system get rolebinding admin-access -o yaml
[code]

And still having issues with accessing API 403:
[code]

[2016-09-09 13:48] MaksymBilenko commented on #29177
Hmmm,
It works if I'm trying to access starting with this level: `apis/rbac.authorization.k8s.io/v1alpha1/namespaces/kube-system`
But everything else is not working. I thought that assuming my rules `admin-access` ClasterRole should grant access to all entries. Please correct me if I'm wrong

[2016-09-09 13:50] deads2k commented on #29177
@MaksymBilenko when you have a non-resource URL, it needs to be bound as a ClusterRole, not a Role.  This is because non-resource URLs are logically unnamespaced.

[2016-09-09 13:58] derekmahar commented on #3312
The missing piece to this puzzle is still Kubernetes continuously restarting the Liquibase container.  The simplest workaround that I could think of to resolve this issue is to simply prevent the Liquibase container from exiting.  In its PreStop container lifecycle hook, the container would sleep indefinitely.  I think this would be acceptable as I believe that a container that has completed its t

[2016-09-09 13:59] MaksymBilenko commented on #29177
Finally sorted this out, I was not attentive enough. Here is working config for kube-system to make plugins working with RBAC for example kube2sky:
I need to use `ClusterRoleBinding` instead of `RoleBinding`

ClusterRole:
[code]
ClusterRoleBinding:
[code]
Hope that would be helpful.

@erictune Maybe make sense to add this step to the docs as an example, anyways people would require some plugins li

[2016-09-09 14:14] jayunit100 commented on #30812
One other issue with p224.go some kind of transitive dep error which occurs on some versions of golang.  I'll update that as well.

[2016-09-09 14:14] justinsb commented on #29324
@robdaemon yes I believe once we confirm the fix in 1.4 we will then backport it to 1.3

[2016-09-09 14:21] dshulyak commented on #30082
Noticed that all pet sets are terminated immediately, i will see what can be done about that. Also when this will be ready we can scale down pods, before removing pet set. Because atm petset removal will leave tombstone after itself.

[2016-09-09 14:38] deads2k commented on #32372
fixed by https://github.com/kubernetes/kubernetes/pull/32376

[2016-09-09 14:38] #32372 closed

[2016-09-09 14:40] bprashanth commented on #30082
did you specify terminationGrace? if so, they should be terminated only after grace one by one. if you didn't it'll be pretty much immediate.

[2016-09-09 14:40] johnwchadwick commented on #30518
The more I think about this, the less sure I am about how it should work. ALBs are decidedly Level 7 LBs and only support HTTP (and /2 and websockets.) This is actually a good reason to not use them in place of ELB classic in the default case.

I took a look at the API. It looks like `go-aws-sdk` already supports ELBv2, which is nice. ELB classic instances and ALBs live in different namespaces.

A

[2016-09-09 14:41] dshulyak commented on #29972
@mikebryant you are hitting this with 1.4 release? how many kubelet nodes?

[2016-09-09 14:45] bprashanth commented on #32323
So basically add something to known issues (https://github.com/kubernetes/kubernetes/issues/32332) saying if you're on a cloudprovider, and you have pods, they will get deleted? i know it's not something new, but it's surprising because my upgrade took < 5m. Or maybe we want some other way to communicate this on a per provider basis, since on prem doesn't suffer. Eitherway my pods just disappearin

[2016-09-09 14:59] justinsb commented on #31858
@anioool we do have a global back-off, but this only prevents k8s from totally DoS-ing your AWS account, it doesn't really keep k8s working smoothly when it is hitting a limit.

We need to figure out where these calls are coming from, and then figure out a way to make them less expensive.  Do you have any ideas what is causing it?  Are you rapidly attaching and detaching volumes?

I suspect 500 vo

[2016-09-09 15:05] johscheuer commented on #32225
https://github.com/kubernetes/kubernetes/commit/6320dc6e73b8d2405618af4bc3acf8d51b7d0f63 moved `apiVersion: extensions/v1beta1` to `apiVersion: storage.k8s.io/v1beta1`

[2016-09-09 15:10] andriyfomenko opened #32389 "HPA not scaling down after reaching cluster growth limits"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

NO, it is not a request of help, this is a BUG REPORT

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

HPA not down-scaling deployment

[2016-09-09 15:18] dhawal55 commented on #29177
`RoleBinding` gives you permission only within the specified namespace. So
when you had a roleBinding, it gave * access to resources & non-resources
in the kube-system namespace. Since non-resources do not belong to any
namespaces, you didn't get any access to it. `ClusterRoleBindings` are not
limited to namespaces so access to non-resourceURLs should be granted via
clusterRoleBinding. If you have

[2016-09-09 15:19] justinsb opened #32391 "kubectl cordon/uncordon nodes regularly fails with concurrent modification error"
Even on a cluster of size 3, I regularly see concurrent modification problems with kubectl:

NODES=`kubectl get nodes -o name | cut -f 2 -d '/'`
for node in $NODES; do kubectl cordon $node; done
for node in $NODES; do kubectl uncordon $node; done

Doing that a few times and you are likely to see something like:

[code]

I suspect that

1) kubectl cordon / uncordon should retry (or use a PATCH meth

[2016-09-09 15:41] gmarek commented on #32323
I'm also open to any precise suggestions on what should happen in this case - the fact I can't quickly think of any reasonable semantics that will work across cloud providers doesn't mean there's none.

@yujuhong - do you have any ideas from the Node's perspective?

[2016-09-09 15:48] timothysc commented on #32361
Is this compaction?

[2016-09-09 15:48] luispabon commented on #23597
We're using 3 to good effect :+1:

[2016-09-09 15:54] thockin commented on #30716
On Wed, Aug 31, 2016 at 6:36 PM, Clayton Coleman
<notifications@github.com> wrote:

I use it as a small-file push mechanism

[2016-09-09 15:54] jeremyeder commented on #28311
@therc we're already deep in the red :-)

Here's what I'd propose.  The concept of a cell (bikeshed the name...)

Labels are dynamically adjusted per the system/node capabilities "fleecing pod" as per @ConnorDoyle proposal.  Next is how to express that in a way that keeps the UX under control.

Propose to de-couple into two parts; one being sort of a cluster administrator job -- defining what a ce

[2016-09-09 15:55] timothysc commented on #32361
@lavalamp aren't we going to push etcd3 fixes into 1.4.x?  Just wondering how we should be setting milestones.

[2016-09-09 15:58] jchauncey opened #32392 "Kubernetes Metrics"
So I am trying to get a better understanding of the various metrics endpoints that kubernetes exposes. Currently, we collect metrics using telegraf from the following sources:
- https://`$KUBERNETES_SERVICE_HOST`:`$KUBERNETES_SERVICE_PORT`/metrics
- https://`$KUBERNETES_SERVICE_HOST`:`$KUBERNETES_SERVICE_PORT`/api/v1/proxy/nodes/`$NODE_NAME`/metrics

The first url gives me things about the overall

[2016-09-09 16:03] derekwaynecarr commented on #31676
@sjenning is working on integrating w/ memcg notification api.  should we mark this test flaky for 1.4 and re-enable it for 1.5 once that piece is done?  this will hopefully let us reduce risk of OOM killer by not having the cadvisor stat latency?

[2016-09-09 16:04] thockin commented on #30716
How is this better than adding a template-renderer container that reads the
template from a flag or file and renders into a volume?

On Fri, Sep 9, 2016 at 12:13 AM, Szymon Pyżalski <notifications@github.com>
wrote:

[2016-09-09 16:08] thockin commented on #32339
Is there a bug open for this?  Frankly, if `kubectl edit` is going to fail
for things like this, we should not be offering it as a feature, or it
should use PUT rather than PATCH

On Thu, Sep 8, 2016 at 9:36 PM, Chao Xu <notifications@github.com> wrote:

[2016-09-09 16:19] mtaufen commented on #31676
The eviction threshold was set to 30% for build 606, these nodes typically have ~3.7Gi of memory, which means the 30% threshold leaves a ~1.11Gi margin. The test consumes memory (after the guaranteed tops out) at a rate of at most ~24Mi every 10s. I'm really surprised that we're seeing what looks like a race between the eviction manager and the OOM killer given that the eviction manager should hav

[2016-09-09 16:22] philips commented on #31711
@mikedanese Sorry to be annoying, but could we use a feature for this? https://github.com/kubernetes/features

[2016-09-09 16:25] dchen1107 commented on #29972
@mikebryant If you can reproduce the issue, could you please provide the following information:

1) docker info
2) zookeeper petset podspec
3) kubectl describe pod <pod-id>
4) related kubelet logs

Thanks

[2016-09-09 16:27] bprashanth commented on #32323
If I had a website backed by pods and it just stopped working after upgrade I'd be annoyed.

One option is to defer fixing to a point release. We've always said "use a RC", now we're just saying, "your pods will get deleted across node upgrade, if you didn't listen to us about the RC, you need to actually recreate the pods".

Another option is to find a way to prevent "delete the pods from the nod

[2016-09-09 16:31] jrosskopf commented on #29728
@talk2vino What was actually the workaround in #13313 which worked. I doesn't get clear from the comments to me.

[2016-09-09 16:36] gmarek commented on #32323
It does in the current GCE updater. Are you sure it's the case for all cloud providers? I don't want to have a special case that will make things worse for everyone other than GCE/GKE.

[2016-09-09 16:39] jlowdermilk commented on #32377
Arrrgghhh. @brendandburns added the label so the bot merged it. Submit queue is now blocked.

[2016-09-09 16:40] MrHohn commented on #30633
On this now. Exec-healthz currently is not able to check on multiple URLs.
The plan is to use one healthz container to execute two exec-healthz processes to listen on two ports.

[2016-09-09 16:49] smarterclayton commented on #3312
We really don't intend for "run once" containers to be mixed with "run forever" containers like this, without modeling it as an init container (before run forever containers start).  However, a variant of your idea is simply that liquibase at the end of its "job" simply exec out to a much smaller process (replacing itself with a very small stub) and stay alive that way.

The real gap is ultimate p

[2016-09-09 16:52] lavalamp commented on #32253
Right. It's *not* generally safe to rollback etcd versions. The supported method of rolling back is to start the old version from a backup.

To really do this correctly, we need to decouple etcd and apiserver versions. Because this means that you wouldn't be able to roll back from k8s 1.4.0 to 1.3.6 for a non-etcd problem.

[2016-09-09 16:53] lavalamp commented on #32253
So I think the only safe thing to do is lock in at etcd 2.2.1 and decouple this.

[2016-09-09 17:01] bprashanth commented on #32253
Reopening because we're now at 2.3.7

[2016-09-09 17:01] liggitt commented on #32253
the merged PR switched to 2.3.7... did we intend to go to 2.2.1 instead?

[2016-09-09 17:02] lavalamp commented on #32253
Yeah, I think we should go down to 2.2.1.

[2016-09-09 17:20] timstclair commented on #27194
@shamil That sounds like a separate issue, could you open a new issue?

[2016-09-09 17:27] krousey commented on #32371
Was looking at other issues and saw this. Since I already pulled the logs, thought I would post them here for posterity:

[code]

[2016-09-09 17:41] aliakhtar commented on #30495
Still broken. At least the site page for getting started on AWS should mention this problem.

Solution was to put these 3 lines:

``KUBE_MANIFESTS_TAR_URL="${SERVER_BINARY_TAR_URL/server-linux-amd64/manifests}"
  MASTER_OS_DISTRIBUTION="${KUBE_MASTER_OS_DISTRIBUTION}"
  NODE_OS_DISTRIBUTION="${KUBE_NODE_OS_DISTRIBUTION}"``

at lines 525-527 in kubernetes/cluster/common.sh

Taken from other comment

[2016-09-09 17:49] caesarxuchao opened #32398 "`kubectl edit` cannot delete an element from a list of simple type"
To reproduce, create an object with multiple [finalizers](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L151), and `kubectl edit` cannot remove a single finalizer from the list. This is part of the problem reported in https://github.com/kubernetes/kubernetes/issues/32339. `kubectl update` can remove a finalizer.

I think the root cause is `kubectl edit` uses strategicmerge

[2016-09-09 17:50] caesarxuchao commented on #32339
Created https://github.com/kubernetes/kubernetes/issues/32398.

It cannot use PUT, because it's doing a three way merge (current state, last configuration, current configuration).

[2016-09-09 17:51] caesarxuchao commented on #30228
It doesn't happen for 8 days, down grade the priority.

[2016-09-09 18:01] bprashanth commented on #32323
It's worse for everyone who changes the hostnames of their nodes (with or without upgrade, this will take 5m and is treated as a netsplit). I think there're a few cases here:

1. User deletes node
2. Cloudprovider randomly changes nodename
3. Upgrade ends up deleting node
    a. It comes back with same nodename
    b. it comes back with different nodename

Ux is worse in 3.b, because it'll take 5m

[2016-09-09 18:05] spxtr commented on #32350
@rmmh did you restart PR Jenkins at 3 AM?

[2016-09-09 18:05] n-rook opened #32400 "Image garbage collection should fire if a node is running low on disk inodes"
I'm continuously deploying docker images on pods, and for whatever reason, they are particularly inode hungry. As such, one of my nodes ran out of inodes, and I had to ssh in and clear out all the old images.

It would be nice if [image garbage collection](http://kubernetes.io/docs/admin/garbage-collection/#image-collection) cleared out old images if the disk ran out of inodes, similarly to how it

[2016-09-09 18:08] anioool commented on #31858
Hi @justinsb,

Thanks I want to thank you for your reply. Let me describe how our process works. So process is splitted into two phases called base and replication. In first stage - base - we are creating in automatic way approx. 500 volumes from snapshots prepared previously. Deployments for theses volumes are created in one batch. Second phase is replication, so creating new volumes from snapsho

[2016-09-09 18:10] danwinship opened #32401 "iptables code uses semver parse/compare, but iptables doesn't use semantic versioning"
pkg/util/iptables and pkg/proxy/iptables use go-semver to parse iptables versions to figure out if the iptables package is new enough to support certain features, but go-semver uses the extremely strict "Semantic Versioning" definition of what a version number is, and iptables has had release versions in the past that do not conform to it (eg, "1.4.19.1", which is illegal because it has 4 componen

[2016-09-09 18:17] suyogbarve opened #32402 "HorizontalPodAutoscaling not working : cannot unmarshal object into Go value of type []v1alpha1.PodMetrics"
Kubernetes version
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.5", GitCommit:"b0deb2eb8f4037421077f77cb163dbb4c0a2a9f5", GitTreeState:"clean", BuildDate:"2016-08-11T20:29:08Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.5", GitCommit:"b0deb2eb8f4037421077f77cb163dbb4c0a2a9f5", GitTreeState:

[2016-09-09 18:20] k8s-merge-robot opened #32403 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15140/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}

[code]

Previous issues for this test: #27196 #28998

[2016-09-09 18:23] dims commented on #32338
@lavalamp : work around i tried a few days ago was to make a local change to WHAT on this line - https://github.com/kubernetes/kubernetes/blob/f90df2448d5658732c6d2fd0661938e8693947b6/hack/make-rules/test-integration.sh#L63

[2016-09-09 18:24] lavalamp commented on #32339
These are intended for automated use, not human use, so kubectl edit not
working is just unfortunate, not a blocker. Although it's really
unfortunate that PATCH is so broken.

On Fri, Sep 9, 2016 at 10:50 AM, Chao Xu <notifications@github.com> wrote:

[2016-09-09 18:25] krousey commented on #29998
Soon I want to right a test that queries discovery info to make sure only certain APIs are running. If they can show up regardless of being disabled by apiserver flags/env, then that test would not work. So for now, p2? Maybe p1 later.

[2016-09-09 18:28] matchstick commented on #31757
@thockin We need the PRs for this reviewed ASAP for 1.4

[2016-09-09 18:29] matchstick commented on #31649
@thockin Can we review this ASAP for 1.4?

[2016-09-09 18:38] Random-Liu commented on #32400
It's in Kubernetes v1.4. :)
https://github.com/kubernetes/kubernetes/pull/31545

[2016-09-09 18:42] n-rook commented on #32400
Oh hey, you're right. That looks like it'd suffice, I'll let you close or leave open until 1.4 release as you prefer

[2016-09-09 18:42] lavalamp commented on #30632
The test I added to try and diagnose this flakes, too-- https://github.com/kubernetes/kubernetes/issues/32028. We'll see if the debugging info I added yesterday clears it up when it happens again.

[2016-09-09 18:45] Random-Liu commented on #32400
@n-rook Thanks for using Kubernetes! Close this one. If you still have this issue in v1.4, feel free to reopen this.

[2016-09-09 18:45] #32400 closed

[2016-09-09 18:48] soltysh commented on #29998
I'll try to tackle it next week, in that case.

[2016-09-09 18:48] elyscape commented on #31839
I think for emptyDir the current strategy is to provide group write access.

[2016-09-09 18:49] k8s-merge-robot opened #32405 "[k8s.io] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31221/kubernetes-pull-build-test-e2e-gce/58097/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31221.

Previous issues for this test: #26728 #28266 #30340

[2016-09-09 19:00] ConnorDoyle commented on #28311
@jeremyeder thanks for bringing up the next step, which is as you've pointed out, to help users match up workloads with on-node config/features.

The initial (simplest) parts of this are implemented in the incubator project [node-feature-discovery](https://github.com/kubernetes-incubator/node-feature-discovery.git). Support for named machine profiles could fit well there. If cell names could be en

[2016-09-09 19:24] shamil commented on #27194
@timstclair isn't it related to `kubelet`? The issue title states **kubelet returns incorrect cpu usage numbers**.

[2016-09-09 19:42] bprashanth commented on #32366
I see this from tiem to time as well, usually there's one run where:
[code]

Which is a bogus error because 2 lines before we see
[code]
And subsequent tests fail with:
[code]

The larger issues is actually similar to b/27367941, but maybe we should just retry harder?

[2016-09-09 19:45] derekmahar commented on #3312
Could this "much smaller process" simply be an infinite sleep loop in a shell script?

Are you referring to the distinction between https://github.com/docker/docker/issues/6982 and [Docker events](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.21/#/monitor-docker-s-events)?  It's unfortunate that https://github.com/docker/docker/issues/6982 is still not resolved.

[2016-09-09 19:46] bprashanth commented on #32366
Oh, i missed something, we actually created the pd, then tried to allocate static ip which gave a 500, so leaked the pd

logs from the first failure: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress/11101/console
[code]

[2016-09-09 19:57] adambom commented on #32225
If this is a versioning issue, which version of Kubernetes will contain this feature? We should probably update the docs to make note of this as well.

[2016-09-09 19:57] gmarek commented on #32323
Waiting has general problem of slowing down the reaction for most common cases, i.e. cluster scaling. If we make it 5 minutes then user will need to wait for 5 minutes before we actually recreate his pods that are backed up by RC or something. Personally I'd eat the problematic upgrade frog to keep the cluster scale-down working relatively quickly.

[2016-09-09 19:59] davidopp commented on #32323
The proper way to do node upgrade, regardless of platform, is to drain the node first. This will ensure the pods are given termination notice. We have a command to do this, `kubectl drain`. If there's anything we should change in the current behavior, it's to call `kubectl drain` from upgrade.sh and wait for the drain to finish before doing the upgrade. Improving the OSS upgrade experience is on m

[2016-09-09 20:01] bprashanth commented on #32323
Yeah i agree, and no node upgrade isn't the only situation, but node upgrade is a sure edge where this will happen now which is just going to make our version skew issues worse. I'm fine with clarity and best practices solution.

[2016-09-09 20:09] #31649 closed

[2016-09-09 20:21] jokeyrhyme commented on #30518
Is Kubernetes aware that certain tasks specifically offer HTTP services? Or does it only care about ports? Perhaps ELB v2 only makes sense in cases where we've specified (or it has been automatically detected)?

[2016-09-09 20:23] sbrosinski commented on #30495
Can confirm. Was still broken for me as well. @aliakhtar 's suggestion made it work.

[2016-09-09 20:25] MrHohn commented on #32329
It seems like current version of kube-addon-manager(gcr.io/google-containers/kube-addon-manager:v5.1) does not manage ConfigMap kind. However, this feature was added in this commit(2a589b09637aa3745a7151adf2f1fcce36e8b8ac) two months ago.
Any reason for not upgrading the docker image?

cc @girishkalele

[2016-09-09 20:32] dchen1107 commented on #32337
@jingxu97 re-ran the upgrade test from 1.3.6 to 1.4, then downgrade the cluster from 1.4 to 1.3.6 with the proper scripts. Her new test proved my hypothesis above. I am close this issue.

@jingxu97 You are hitting a real known issue for upgrade / downgrade tests now: #32253.
To workaround that issue and speed up your test, you can patch your upstream branch with https://github.com/kubernetes/kuber

[2016-09-09 20:32] #32337 closed

[2016-09-09 20:35] sttts commented on #32241
Added test requirements to the referenced documents. Am half way through manual testing. Will continue tomorrow.

[2016-09-09 20:41] dchen1107 commented on #11816
If we decided to do nothing for 1.4, at least we should document it as the known issue for 1.4 and provide some workaround for the users: https://github.com/kubernetes/kubernetes/issues/32332

[2016-09-09 21:03] timstclair commented on #27194
It is processed differently, and goes through a different pipeline. The original source of the numbers is the same, but I think these issues are not related.

[2016-09-09 21:05] thockin opened #32411 "Kubelet log dumping binary"
Protobuf?

[code]

@dchen1107 @smarterclayton @kubernetes/sig-node

[2016-09-09 21:29] vishh commented on #28698
@dlorenc Officially, k8s v1.4 still recommends using docker v1.11 and that
is what GCE and GKE clusters will use.

On Thu, Sep 8, 2016 at 7:35 PM, Lantao Liu <notifications@github.com> wrote:

[2016-09-09 21:30] JeanMertz opened #32412 "Service <> Endpoints mapping ports to external service not working"
**Kubernetes version** (use `kubectl version`):

[code]

On GKE, using Service, Endpoints and an external application:

Using the following Service and Endpoints:

[code]

This does not work:

[code]

But this does:

[code]

I expected the service `port` to be mapped to `targetPort` before being sent to the external `Endpoint`. This does not happen.

According to the [documentation](http://kuberne

[2016-09-09 21:30] vishh commented on #32241
Sweet!! Thanks for picking this up @sttts

On Fri, Sep 9, 2016 at 1:36 PM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2016-09-09 21:38] rickypai commented on #29563
this appear to be fixed http://kubernetes.io/docs/admin/high-availability/#master-elected-components

[2016-09-09 21:42] bprashanth commented on #27324
Moving off 1.4

[2016-09-09 21:43] anguslees commented on #32285
Meh, if it works, then I'm good with that.

LGTM.

[2016-09-09 21:43] bprashanth commented on #26134
Last failure was on GKE and most likely unrelated to services of type=lb

[2016-09-09 21:44] shamil opened #32414 "/metrics endpoint in kubelet returns incorrect cpu usage numbers"
**Kubernetes version**: 1.3.6

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**: debian jessie (8.5), ami: k8s-1.3-debian-jessie-amd64-hvm-ebs-2016-06-18
- **Kernel**: 3.16.0-4-amd64
- **Install tools**: kops

I'm facing similar issue to #27194, but with kubelet `/metrics` endpoint. I use Prometheus to scrape that endpoint and seems like  `container_cpu_usage_seconds_t

[2016-09-09 21:44] shamil commented on #27194
OK, submitted #32414

[2016-09-09 21:44] MrHohn commented on #30215
Heapster is using the 'alpine' base image. It seems like this is a long existing issue for DNS in alpine(gliderlabs/docker-alpine#8).

cc @girishkalele

[2016-09-09 21:48] thockin opened #32415 "kubelet flushes KUBE-HOSTPORTS and KUBE-MARK-MASQ when pods start"
Observed: hitting a service nodePort fails intermittently, but the service cluster IP works 100%

Debug: tcpdump shows SYN sent, but no SYNACK returned.  I noticed that in the error case, srcip was 127.0.0.1 - clearly wrong.  We proved that the KUBE-MARK-MASQ chain was being flushed and so we were not getting SNAT'ed.  We proved it was kubelet that was flushing, and kube-proxy that eventually rest

[2016-09-09 21:54] JeanMertz commented on #32412
So I've found https://github.com/kubernetes/kubernetes/issues/17634, which implies that port-remapping does not work for services without a clusterIP.

It also seems like the validation-PR to prevent these mistakes was reverted due to backward compatibility conflicts.

I'm leaving this issue open, as I think the documentation doesn't clearly state this limitation (at least not the part I linked to

[2016-09-09 22:00] bprashanth commented on #30215
Alpine broke dns search paths but fixed it in some later release. It should be fixed in edge, in spite of what https://github.com/gliderlabs/docker-alpine/blob/master/docs/caveats.md indicates. We should update the image to the exact version with the fix, which you can figure out with a test like (or prove im wrong by running the test on edge):
docker run --dns 8.8.8.8 --dns-search github.com -it

[2016-09-09 22:01] bprashanth commented on #30215
@piosz @mwielgus for the alpine issue

[2016-09-09 22:05] jay-bhambhani commented on #30215
This is happening for us with Ubuntu

[2016-09-09 22:08] #30462 closed

[2016-09-09 22:10] timstclair commented on #32414
Is the metric set at all? What value is it stuck at?

From the code, it looks like the `kubernetes_container_name` label is only used in testing. I think you want to look for something like
[code]

[2016-09-09 22:10] JeanMertz commented on #32412
Okay, turns out if I remove `clusterIP: None`, things seem to work as expected.

I am unsure what the overhead here is though. It seems removing this line gives me the functionality I want, at the expense of losing one internal IP that isn't being used for anything, and handing extra work to kube-proxy to do the port mapping.

Is this correct?

[2016-09-09 22:11] bprashanth commented on #30215
what's you resolv.conf look like? ubuntu doesn't suffer from the same issue so it's likely something wrong with services or connectivity, see http://kubernetes.io/docs/user-guide/debugging-services/#does-the-service-work-by-dns for debugging tips

[2016-09-09 22:12] lavalamp commented on #32249
I'm going to close this, we have issues tracking the stuff that's on that shouldn't be already.

[2016-09-09 22:12] #32249 closed

[2016-09-09 22:13] timstclair commented on #32414
Note: the labels will be changing with Kubernetes 1.4 to only `container_name`, `pod_name`, `namespace`, `id`, `image`, and `name` labels. See https://github.com/kubernetes/kubernetes/pull/31064

[2016-09-09 22:18] pwittrock opened #32417 "kubelet flushes KUBE-HOSTPORTS and KUBE-MARK-MASQ when pods start"
Placeholder for #32415 in v1.4

[2016-09-09 22:18] pwittrock commented on #32415
ACK.  Created #32417 as a placeholder in the 1.4 milestone.

[2016-09-09 22:36] #31757 closed

[2016-09-09 22:45] xiang90 commented on #32361
A more interesting metrics is how long between the two watch calls. And how many keys are modified during that duration. If n(keys) > 1000, then we have a problem.

This problem normally means etcd processes modification too fast.

@wojtek-t Can you try to get the metrics out? Or @hongchaodeng and I will try to help on this one.

[2016-09-09 23:01] rmmh commented on #27462
It's the Git plugin. I've patched it and installed the fixed version on pr-jenkins last night, and haven't observed any failures since then. Normally there are ~20 failures per day.

See [JENKINS-26290](https://issues.jenkins-ci.org/browse/JENKINS-26290#comment-269569) for the full details.

[2016-09-09 23:01] #27462 closed

[2016-09-09 23:07] erictune commented on #32219
@davidopp tells me this is a test problem not a real code problem, and therefore not a release blocker.

[2016-09-09 23:11] SleepyBrett commented on #32304
An update, we've had two nodes since the kubelet restart arrive in this state again a few hours apart. Nothing in the kubelet logs (looked back 10 minutes before it stopped reporting) but it happily mounting things.

[2016-09-09 23:12] #31954 closed

[2016-09-09 23:15] #31667 closed

[2016-09-09 23:15] #32415 closed

[2016-09-09 23:17] derekmahar commented on #25832
@jmhodges As an aside, can a container read a binary file from a volume to which is mapped a Kubernetes ConfigMap that contains that binary file?  Please see http://stackoverflow.com/questions/39420102/does-kubernetes-support-a-binary-file-in-a-configmap.

[2016-09-09 23:17] shamil commented on #32414
@timstclair , yes the metric is set.  Even more weird for some containers the metric actually updates the value.

Another weird thing, if I put some load on that container (for example by running: `yes >/dev/null` inside container), I do see the values updating, but if the load is not as big, about 14% in my case the values are stuck.

Below is an example for the container I mentioned in the issue

[2016-09-09 23:19] jlowdermilk commented on #31728
Investigation showed these are due to transient flakiness in the GKE test environment. We're currently migrating the offending piece to a production grade service, which should greatly reduce these flakes. I'll close this once we're done.

[2016-09-09 23:21] janetkuo commented on #29780
4 failures, 2 different failure modes:

1. At test setup step, list pods created by deployment returned 500
2. The max unavailable policy is violated

[2016-09-09 23:23] fejta commented on #32036
cc @fabioy
This looks specific to the job, not our testing infrastructure generally. Assigning to job owner.

[2016-09-09 23:24] janetkuo commented on #32398
Since `kubectl edit` isn't the only command that uses PATCH I believe `kubectl apply` and `kubectl patch` have the same issue.

[2016-09-09 23:24] janetkuo commented on #32398
@kubernetes/kubectl

[2016-09-09 23:25] spxtr commented on #32415
Manually confirmed this fixes my issue. Thanks so much for fixing this :)

[2016-09-09 23:27] apelisse opened #32425 "Cluster-update: Parallelize node-upgrade (more than one at a time)"
It would be nice to have a command-line argument to increase the number of nodes we update at the same time. I have a 100,000 nodes cluster here, and it's taking about 12 days to complete. I would love to be able to select how many nodes can be updated at the same time.

[2016-09-09 23:29] lavalamp commented on #32361
etcd3, in etcd3 format, for 1.5.0 is our goal. (This implies we probably need etcd3 in etcd2 mode before then, in a patch release.)

[2016-09-09 23:31] fejta commented on #31964
These are errors coming from GKE, not a problem with our test infrastructure. I'm fine duping this to the meta issue or however else people want to handle this.

[2016-09-09 23:33] fejta commented on #30175
Might be related to https://github.com/kubernetes/kubernetes/issues/31503

[2016-09-09 23:34] MrHohn commented on #32178
Duplicate of #29055.

[2016-09-09 23:36] fejta commented on #31273
@rmmh @spxtr I seem to recall one of you saying you plan to add more detailed info into testgrid for where a suite failure occurs? I believe that is the relevant test-infra piece

[2016-09-09 23:37] fejta commented on #27367
Please assign back once the question is answered

[2016-09-09 23:37] #31148 closed

[2016-09-09 23:45] smarterclayton commented on #28706
A few observations from recent discussion.

I do not think a pet set should allow pets of more than 2 versions at
any time.  Having more may be actively harmful.  A rollback is an
atomic change, driven to completion by the controller, just like a
rollout.  While some admins may be reason about a rollout between N
and N+1, I doubt many can reason about N, N+1, and N+2.  So an
additional guarantee m

[2016-09-09 23:53] caesarxuchao commented on #32308
Yes.

The discovery client returns a partial result when this error occurs, see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/typed/discovery/discovery_client.go#L232). I think this behavior is correctly. Caller should look into the error and ignore it or retry the discovery.

[2016-09-09 23:55] thockin commented on #32339
Why does `edit` need to be 3-way?  I don't think that is the semantic a
user would expect from an edit operation AT ALL.  It certainly surprised ME.

WRT automated vs human - if PATCH doesn't work (worse - says it succeeded
but didn't) for some class of fields, then PATCH doesn't work, and we
should not support it.  Full stop.  It's going to end up causing someone an
outage.

These are not necessa

[2016-09-09 23:58] smarterclayton commented on #28706
I think in place upgrade is reasonable - we need it for pods in general and there should be a plan for it.

[2016-09-09 23:59] smarterclayton commented on #28706
PetSet upgrade has to be about the whole pod template, not just images - we can always optimize the special case (only image change) but image is not the only thing that can change.

[2016-09-10 00:05] erinboyd commented on #30897
@thockin So, it's feasible that the kubelet could access a secret it's not allowed to? For instance, I cannot lock down namespace "CephSecrets" where I store the secret to only namespace "CephUsers"?

[2016-09-10 00:06] 249043822 opened #32428 "Jenkins GKE smoke e2e — Error in queue."
#32261, #32259

[2016-09-10 00:10] k8s-merge-robot opened #32430 "kubelet-gce-e2e-ci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/9180/

Run so broken it didn't make JUnit output!

[2016-09-10 00:11] k8s-merge-robot opened #32431 "gke error in cluster.create: resource already exists"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8570/

Run so broken it didn't make JUnit output!

[2016-09-10 00:14] lavalamp commented on #32338
Integration doesn't use ginkgo, it's just regular go tests in the
`test/integration` directory, so it should work like regular unit tests. It
just has to start up etcd first, and maybe a few other things.

On Fri, Sep 9, 2016 at 11:23 AM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-09-10 00:15] mml commented on #31674
Looks like kubernetes/test-infra#470 is closed.  Closing, but reopen if I screwed up.

[2016-09-10 00:17] mml commented on #29904
Hyperkube needs clear ownership.  Failing that, it's at least a product of the build/release toolchain.

[2016-09-10 00:18] lavalamp commented on #27367
When we cut the 1.3 branch, all of our testing at head started testing 1.3 binaries instead of binaries built at head due to a configuration error. I filed this so we would not silently test the wrong binary. I can dig up the old email thread if that's not clear enough.

[2016-09-10 00:19] smarterclayton commented on #32411
Yes.  Typically I use "encoding/hex.Dump" for anything that could be binary
- request.go should already have a helper that prints JSON or binary Hex
depending on sniffing the context, but it looks like it's not on the
request side, just the response side.  Line 903 in request.go has a helper
if on the response.

On Fri, Sep 9, 2016 at 5:05 PM, Tim Hockin <notifications@github.com> wrote:

[2016-09-10 00:21] caesarxuchao commented on #32339
but didn't) for some class of fields, then PATCH doesn't work, and we
should not support it.  Full stop.  It's going to end up causing someone an
outage.

Discussed in real life. PATCH works, it's just that there are certain operations you cannot express using the strategicmerge patch syntax.

I was wrong. `kubectl edit` is building [a two-way patch](https://github.com/kubernetes/kubernetes/blob/m

[2016-09-10 00:22] dlorenc commented on #28698
@vishh Thanks! Is there anywhere that's written down that I can follow along?

[2016-09-10 00:25] caesarxuchao commented on #20527
Client library supports patch now: https://github.com/kubernetes/client-go/blob/master/1.4/kubernetes/typed/core/v1/pod.go#L154.

Is there anything left in this issue?

[2016-09-10 00:27] caesarxuchao commented on #32339
FWIW, I printed out the patch generated by `kubectl edit` when I removed one finalizer. The patch is empty, i.e., "{}".

[2016-09-10 00:28] dchen1107 commented on #28698
@dlorenc, each kubernetes release, we document the validated & supported runtime (docker & rkt) along with the known issues. You can find those information in release notes.

[2016-09-10 00:44] chuckbutler commented on #29563
I took a look and it still appears to be in the diagram

![](https://www.evernote.com/l/AX7_swi6yy5EQ6QgtwUlCG3gMYHDbVKqBT0B/image.png)

[2016-09-10 01:00] #32253 closed

[2016-09-10 01:00] #32328 closed

[2016-09-10 01:10] m1093782566 commented on #28706
Yes, I agree. However, we need to be more cautious to update some template filed such as resource requests as in-place update may fail forever(node doesn't have enough resources and scheduler are not aware of the pod as Pod.Spec.Node is not nil).

[2016-09-10 01:37] derekmahar opened #32432 "Enable ConfigMaps to store binary files as well as character files."
**Is this a BUG REPORT or FEATURE REQUEST?**

FEATURE REQUEST

Please enable ConfigMaps to store binary files as well as character files.

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: HP EliteOne 800 G1 AiO
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`) (kubectl client):  `Linux derek-HP-Elit

[2016-09-10 01:40] pwittrock commented on #32430
@spxtr Do I have state on this, or were you looking for me to find someone to reassign to?

[2016-09-10 01:42] spxtr commented on #31273
I plan on making `hack/e2e.go` produce JUnit output. https://github.com/kubernetes/test-infra/issues/76

[2016-09-10 01:56] euank commented on #31384
I didn't get around to making a proposal for this and I'm heading off on two weeks vacation, so if anyone else wants to pick it up, please feel free!

If no one does, I'll turn it into a real proposal when I get back.

[2016-09-10 02:17] AdoHe commented on #32432
@kubernetes/kubectl

[2016-09-10 02:19] spxtr commented on #32430
I just assigned because you're the listed owner of the job. Feel free to find a better owner.

[2016-09-10 02:25] dims commented on #32432
@derekmahar how exactly did you create the configmap from the files? Can you please share the json/yaml or command line that you used please?

[2016-09-10 02:30] pwittrock commented on #32430
@spxtr Got it - need to fix that

[2016-09-10 02:51] k8s-merge-robot opened #32433 "[k8s.io] MemoryEviction [Slow] [Serial] [Disruptive] when there is memory pressure should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/630/

Failed: [k8s.io] MemoryEviction [Slow] [Serial] [Disruptive]  when there is memory pressure should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}

[code]

[2016-09-10 02:58] suyogbarve commented on #32402
Also wanted to mention that heapster is able to generate metrics for the pod

http://master:8080/api/v1/proxy/namespaces/kube-system/services/heapster/apis/metrics/v1alpha1/namespaces/default/pods

{
  "metadata": {},
  "items": [
   {
    "metadata": {
     "name": "nginx-24809263-3idn3",
     "namespace": "default",
     "creationTimestamp": "2016-09-10T02:57:03Z"
    },
    "timestamp": "2016-0

[2016-09-10 03:15] derekmahar commented on #32432
Recounting from memory:

[code]

Please see http://stackoverflow.com/questions/39420102/does-kubernetes-support-a-binary-file-in-a-configmap for additional details.

[2016-09-10 04:14] #32339 closed

[2016-09-10 04:42] ernoaapa commented on #22770
I guess this have not been fixed. We're still using the internal ip as hostname and in node labels we have 'public-ip' label where we have the actual public ip.
Really annoying if you want to for instance SSH to the server, first check nodes labels what the public ip is, then use that. Cannot use the node name because it's the internal ip 😞

[2016-09-10 04:58] thockin commented on #32398
This is not my area of expertise, so I approach it as an end user.  I was VERY surprised that this did not work, and I would say it's significantly broken.  I would not recommend PATCH to anyone, since the semantics are very surprising.  Since `kubectl edit` is such a visible feature, I would argue it should not use PATCH.

[2016-09-10 04:58] #29607 closed

[2016-09-10 05:14] thockin commented on #26050
I agree.  In fact, I think it doesn't go far enough.

Sometimes I get this:

[code]

Sometimes it pops me back into an editor with comments:

[code]
...but it has actually deleted my changes!  If I made any other changes that were not errors, they are erased.  This is really bad.

Other times, as in the case of #32398, it accepts my changes, generates a do-nothing patch and exits.  If I don't read

[2016-09-10 05:15] thockin commented on #32339
On Fri, Sep 9, 2016 at 5:21 PM, Chao Xu <notifications@github.com> wrote:

Well, no, if there are operations that can not be represented, it
really DOESN'T work.

I still think it should not use PUT, but I bet Brian can prove me wrong.

[2016-09-10 05:20] mikedanese commented on #32329
Yes, I think we just need to push the new version to gcr.

[2016-09-10 05:27] thockin opened #32435 "kube-proxy conntrack should have a lower-bound"
#28876 changed the default limit from 256k to 32k * num_cores.  For smaller machines, this is insufficient.

Propose to use `max(32k*cores, 128k)` instead.  If someone was really into this, a benchmark might be useful.

@kubernetes/sig-network

[2016-09-10 05:28] thockin commented on #32435
@matchstick good starter project for someone who wants to learn some of the kube-proxy code.

[2016-09-10 05:52] andrewklau commented on #5164
This would be useful to replace the excruciatingly long nodejs scripts we've been writing. We are using WATCH to stream from the API and applying changes based on the data we receive. Our current scripts rely on redis to store temporary data and apply some logic to catch failures. We must also occasionally poll to ensure we don't miss any events.

Going against what was mentioned above, it would b

[2016-09-10 05:54] thockin commented on #30897
At this point, such auth mechanisms are not on by default, inasmuch as they
exist.

On Fri, Sep 9, 2016 at 5:06 PM, Erin A Boyd <notifications@github.com>
wrote:

[2016-09-10 06:43] k8s-merge-robot opened #32436 "[k8s.io] Networking should check kube-proxy urls {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15178/

Failed: [k8s.io] Networking should check kube-proxy urls {Kubernetes e2e suite}

[code]

[2016-09-10 06:54] k8s-merge-robot opened #32437 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/12854/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101 #31105 #32059 #32074 #32078 #32098

[2016-09-10 07:14] wojtek-t commented on #32361
@xiang90 - does this metric already exist in etcd client?

[2016-09-10 08:41] gmarek commented on #32437
cc @wojtek-t

[2016-09-10 10:48] #30099 closed

[2016-09-10 12:39] k8s-merge-robot opened #32439 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5733/

Run so broken it didn't make JUnit output!

[2016-09-10 14:50] derekhound commented on #15108
Confirmed. With new k8s 1.2.x. After I set option '--register-node=true --register-schedulable=false' on master node. No longer to see 'Error updating node status, will retry: error getting node' messages. Great job.

[2016-09-10 15:12] k8s-merge-robot opened #32440 "kubernetes-kubemark-5-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/12880/

Run so broken it didn't make JUnit output!

[2016-09-10 15:22] k8s-merge-robot opened #32441 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1402/

Run so broken it didn't make JUnit output!

[2016-09-10 15:40] suyogbarve commented on #32402
This was due to version mismatch Kubernetes 1.3.5 works with Heapster v1.1.0-beta2

[2016-09-10 15:40] #32402 closed

[2016-09-10 17:55] wojtek-t commented on #32437
There are both for kubemark-5. It's strange, but I don't think it's super critical - we have few more important things to be done before 1.4.

[2016-09-10 18:53] davidopp commented on #32219
This is a duplicate of #29503

[2016-09-10 18:53] #32219 closed

[2016-09-10 19:03] davidopp commented on #31977
@xiang90 @hongchaodeng

[2016-09-10 19:06] davidopp commented on #31444
AFAIK this hasn't recurred.

[2016-09-10 19:06] #31444 closed

[2016-09-10 19:28] chrislovecnm commented on #27670
@bprashanth have not been able to recreate this, I think this was mostly due to nodes that were not happy.  Thoughts on closing this?

[2016-09-10 20:33] k8s-merge-robot opened #32447 "[k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2122/

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28257 #29159 #29449

[2016-09-10 20:48] derekmahar commented on #32432
Forgot to report that my target environment is a three node Vagrant (VirtualBox) cluster running CoreOS 1164.1.0.

[2016-09-10 20:51] smarterclayton commented on #28706
We also have to manage the risk that two controllers race to create pods of divergent specs (possible today).  If the petset controller loses its lease, another controller could observe different historical versions and create arbitrarily older specs.  Even with a work log on the petset approach, a node controller could delete the pod (which removes the lock) and two versions of the pet set contro

[2016-09-10 22:20] #30532 closed

[2016-09-10 22:58] #31807 closed

[2016-09-10 23:11] smarterclayton commented on #32432
In all likelihood the size of the string is different because we're reading arbitrary bytes and shoving them into a string and counting the size of the string as a string instead of a byte array.  We may also be reading the config map for write in an inconsistent way.  Would have to look, but I suspect that's the root issue here.

[2016-09-10 23:28] bprashanth commented on #28706
In theory, today's petset already does upgrade, if you forget about rollback. Update the spec and its sync routine should kick in and recreate pods with a strategy of maxSurge=0, maxUnavailable=1 (I'm sure it doesn't work exactly as I'm thinking but i don't think it should be hard to make it).  We're just augmenting it with the ability to remember exactly one older petset and rollback.

This feels

[2016-09-10 23:49] smarterclayton commented on #28706
When you say wrapper controller, I hear babysitter.  Is that true?  If so I
was envisioning the petset controller delegating to a babysitter when it
detects spec changes, and waits for some condition to be updated before
continuing.  Requiring a client to set something other than spec breaks
apply, edit, replace, etc.

On Sat, Sep 10, 2016 at 7:28 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-10 23:51] smarterclayton commented on #28706
The more I think about this more convinced I am that more than two versions
of pets in the cluster at any one time is probably surprising to users.
Not sure we can guarantee it, but requiring the controller to observe that
all running pets + the new pet results in no more than 2 versions before
creating a pod seems safer and less surprising.

On Sat, Sep 10, 2016 at 7:49 PM, Clayton Coleman <ccole

[2016-09-11 00:24] derekmahar commented on #32432
On Monday, I'll run a test using an image that hashes a binary file mounted
from a ConfigMap volume and compare this to the hash of the original file.

On 10 Sep 2016 7:12 pm, "Clayton Coleman" <notifications@github.com> wrote:

[2016-09-11 01:04] montanaflynn commented on #168
Hard limits for CPU are very important for our video transcoding pods we run on Google Container Engine. We need to have nodes with lots of cores for speed but also don't want a single pod greedily using up all the cores. It would be ideal to set their limit at 3/4 of the total nodes CPU.

We can currently do this for scheduling with `requests` so we don't put two transcoders on a single node but

[2016-09-11 01:23] smarterclayton commented on #5164
Just so I understand, when you say queue method, can you describe a bit
more what you mean?  You can view the command passed to observe as your
dequeue method - you won't miss events if you take too long to handle them,
for example.

Generally those aren't duplicates - they're individual modifications to the
object.  However, we can absolutely debounce those once they're converted
into arguments i

[2016-09-11 02:16] #31554 closed

[2016-09-11 02:46] k8s-merge-robot opened #32451 "[k8s.io] PrivilegedPod should test privileged pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/8434/

Failed: [k8s.io] PrivilegedPod should test privileged pod {Kubernetes e2e suite}

[code]

Previous issues for this test: #29519

[2016-09-11 02:52] #31009 closed

[2016-09-11 02:57] andrewklau commented on #5164
more what you mean?  You can view the command passed to observe as your
dequeue method - you won't miss events if you take too long to handle them,
for example.

Sorry I was getting this confused with some queueing issues we had with doing this with nodejs and the streaming method. I'm not seeing this while trying `oc observe` which is great!

Can we start writing scripts, or would we be expecting

[2016-09-11 03:49] bprashanth commented on #28706
I was looking for a lighter weight deployment. We will soon support volume snapshotting, so that feels a little like a strategy. Not all the concepts of RS deployment map cleanly to petset, but the  separation might afford us some flexibility. Even in the mixed version scenario, the deployment becomes the gatekeeper of petset spec. You can either wait for the petset to finish the current upgrade,

[2016-09-11 04:23] liggitt commented on #25832
config maps are text-only, I believe. @pmorie can confirm/deny

[2016-09-11 04:24] liggitt commented on #32432
config maps store data as `string`, not `[]byte`... not sure I'd expect to be able to put arbitrary binary content in them

[2016-09-11 04:46] smarterclayton commented on #28706
Hrm - I don't think we can make user facing objects behave like that (have
the user update something other than spec that is acting like spec).  I
think consistency and past practice alone dictate that whatever the user
sets as spec is described as the goal, and the controller may just take
longer to converge than it does for deployments (which can already be quite
long).  I don't think intermedia

[2016-09-11 04:54] derekmahar commented on #32432
Do ConfigMaps not encode binary content as strings? If they don't, they
could encode it in base64 format. Binary config file support would allow
the convenient transfer and storage of non-textual configuration files such
as keystores.

How do Kubernetes users typically transfer and store such binary files now?

On 11 Sep 2016 12:25 am, "Jordan Liggitt" <notifications@github.com> wrote:

able to pu

[2016-09-11 06:29] player1-fleetsmithsupport opened #32453 "kube-controller-manager: doesn't use root-ca-file for connection with master"
**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Google Cloud
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
- **Others**:

**What happened**:
When I run `kube-apiserver`:
[code]
and `kube-controller-manager`:
[code]
`kube-controller-manager` return error:
[code]

It looks like `kube-controlle

[2016-09-11 06:47] Aidamina commented on #22770
This isssue got worse because of #31311 although #32050 might eleviate some of the pain

[2016-09-11 06:51] tristanz commented on #28698
@dchen1107 It would be nice to put this somewhere more prominently.  It's pretty hard to track down in changelog and it seems to be OS specific.  I'm not sure everybody realizes how important validation is given docker's instability.

[2016-09-11 06:51] #17778 closed

[2016-09-11 07:20] workhardcc commented on #31968
1.version: v1.4.0-alpha.3
2.just one master + five nodes
Must some pods running in that node which you will delete.

[2016-09-11 07:31] aliakhtar commented on #11935
What's the status on this feature? I came across this blog: http://blog.kubernetes.io/2016/07/autoscaling-in-kubernetes.html which said AWS auto scaling would be coming in 1.3. The current stable version is 1.3.6, but I can't find any info on this.

The AWS getting started doc says the max / desired instances in the AWS auto scaling group can be set, but do the new AWS instances auto register them

[2016-09-11 08:27] rmmh commented on #32431
Fixed by reverting the image change in kubernetes/test-infra#547

[2016-09-11 09:00] #21062 closed

[2016-09-11 09:38] #24314 closed

[2016-09-11 11:17] 249043822 commented on #32428
#32091

[2016-09-11 12:43] k8s-merge-robot opened #32455 "TestServiceRegistryExternalTrafficAnnotationHealthCheckNodePortUserAllocation {service}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16881/

Failed: TestServiceRegistryExternalTrafficAnnotationHealthCheckNodePortUserAllocation {service}

[code]

Previous issues for this test: #31995

[2016-09-11 13:22] #31160 closed

[2016-09-11 14:39] #16636 closed

[2016-09-11 16:01] hongchaodeng commented on #31977
How to reproduce it?

[2016-09-11 16:38] bprashanth commented on #28706
If sounds like the focus is currently on detecting, from within a pet, when previous pets may be at different versions, and either hanging or exiting. The value add of rollback and pause feel marginal, because we have version control for a single revision back and "pause" already kind of works as a hack through a debug hook I put in (http://kubernetes.io/docs/user-guide/petset/#troubleshooting), r

[2016-09-11 16:38] JeanMertz opened #32457 "GKE: default keep-alive on nodes too long for GCE to handle"
Looking at the default unix keepalive settings on our GKE nodes:

[code]

According to the [Google Cloud troubleshooting documentation](https://cloud.google.com/compute/docs/troubleshooting/general-tips#communicatewithinternet) these settings are too high, and GCE only supports a maximum connection time of 10 minutes. The documentation advices these settings to be changed to less than 600 seconds.

[2016-09-11 18:01] #31948 closed

[2016-09-11 21:24] pwittrock opened #32465 "Cluster upgrade fails for 2K+ nodes"
We're tryin to deploy a 2000 node cluster.  Run the guestbook, then upgrade the master and nodes.  Having some trouble upgrading the nodes currently.

[2016-09-11 21:26] pwittrock commented on #32417
Cherrypicked into 1.4 Closing.

[2016-09-11 21:26] #32417 closed

[2016-09-11 21:27] #28115 closed

[2016-09-11 21:48] pwittrock commented on #32465
Closing since the issue appeared to be human error

[2016-09-11 21:48] #32465 closed

[2016-09-11 21:52] davidopp opened #32466 "Make cluster/gce/upgrade.sh and cluster/kube-down.sh more helpful when the rolling upgrade fails"
`cluster/gce/upgrade.sh` uses `gcloud alpha compute rolling-updates` under the covers to do node upgrade. If the MIG rolling update wedges for some reason, we need to give the user enough information to recover (automatically recovering is probably too error-prone). One possibility is that when it starts node upgrade, upgrade.sh should print out the commands for monitoring the status and canceling

[2016-09-11 21:54] davidopp commented on #32465
Filed #32466 for ideas we had to make it easier for people to detect and fix problems with the node rolling upgrades.

[2016-09-11 22:05] #28219 closed

[2016-09-11 22:18] pwittrock commented on #27703
@maisem Moving to P2 does not help because it just gets re-promoted to P0 by the bot the next time it happens.  You need to apply the non-release-blocker label

[2016-09-11 22:21] pwittrock commented on #28900
@jszczepkowski Please apply the `non-release-blocker` label to this issue if it does not need to be fixed before we launch 1.4.  Otherwise please advise on how to proceed with respect to 1.4.

[2016-09-11 22:22] pwittrock commented on #30175
Please apply the `non-release-blocker` label to this issue if it does not need to be fixed before we launch 1.4.  Otherwise please advise on how to proceed with respect to 1.4.

[2016-09-11 22:24] pwittrock commented on #30566
I am going to mark this as non-release-blocker because the fix is only in the test framework.  @davidopp please remove the label if we need to do something about this for the 1.4 release

[2016-09-11 22:26] pwittrock commented on #31513
Please apply the `non-release-blocker` label to this issue if it does not need to be fixed before we launch 1.4.  Otherwise please advise on how to proceed with respect to 1.4.

[2016-09-11 22:26] pwittrock commented on #31928
Please apply the `non-release-blocker` label to this issue if it does not need to be fixed before we launch 1.4.  Otherwise please advise on how to proceed with respect to 1.4.

[2016-09-11 22:27] pwittrock commented on #32022
@zmerlynn

Please apply the `non-release-blocker` label to this issue if it does not need to be fixed before we launch 1.4.  Otherwise please advise on how to proceed with respect to 1.4.

[2016-09-11 22:27] pwittrock commented on #32257
Please apply the `non-release-blocker` label to this issue if it does not need to be fixed before we launch 1.4.  Otherwise please advise on how to proceed with respect to 1.4.

[2016-09-11 22:44] shamil commented on #32414
Had the issue agai, but now with all PODs. CPU usage metric was stuck. I noticed that when I restart the pods the metric starts reporting proper usage.

Do you need any more information that I can provide, to help you find the root cause? I really want this to be resolved, before `1.4`

[2016-09-11 23:25] thockin commented on #11816
I was asked for comment.  I don't think we can really squeeze anything substantive into 1.4 at this point, and almost certainly not 1.4.0.  I agree this is sort of a festering wart, but it's not a NEW wart.  I'm open to ultra-low-impact suggestions, still...

[2016-09-11 23:39] thockin commented on #168
I thought we used shares for "request" and quota for "limit" thereby
providing true hard limits.  Did I mis-comprehend?

On Sat, Sep 10, 2016 at 6:05 PM, Montana Flynn <notifications@github.com>
wrote:

[2016-09-12 02:36] smarterclayton commented on #168
So did I - are you not seeing quota enforced?  What docker version are you on?

[2016-09-12 03:06] k8s-merge-robot opened #32467 "[k8s.io] EmptyDir wrapper volumes should not conflict {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/23250/

Failed: [k8s.io] EmptyDir wrapper volumes should not conflict {Kubernetes e2e suite}

[code]

[2016-09-12 04:53] montanaflynn commented on #168
It seems hard limits came with v1.2 based on the [changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md/#action-required-11). I remember when I first started with kubernetes there was a warning saying that CPU limits were not enforced. Maybe it was that my host OS that didn't support it. Looking at the [compute resources documentation] it looks like kubernetes does support h

[2016-09-12 05:34] thockin commented on #168
Note that CPU hardlimits can be surprising.  All it guarantees is that you
can use X core-seconds per wall-second.  Consider a 16 core machine, and a
pod that has an 8 core limit.  If your app is multi-threaded or
multi-process, and the number of executable threads/processes is larger
than 8, you could use up all 8 cores of your limit in less than 1 wall
second.  If you used all 16 cores for 0.5 s

[2016-09-12 05:52] ConnorDoyle opened #32468 "Explicit pod QoS class."
This is a feature request to support an optional, explicit QoS class override in the pod spec.

### Background

From the resource QoS documentation:

_NOTE: Explicit QoS was discussed in a comment thread on the original proposal PR [here](https://github.com/kubernetes/kubernetes/pull/26751#discussion_r66562151) during which it was suggested to create a new issue. This is to collect ideas on whethe

[2016-09-12 06:09] pwittrock opened #32469 "Figure out if anything is required w.r.t. conntrack for 1.4"

[2016-09-12 06:14] wojtek-t commented on #32257
This was a regression - I fixed it by reverting an offending PR:
https://github.com/kubernetes/kubernetes/pull/32442

This seems to be fixed now.

[2016-09-12 06:14] #32257 closed

[2016-09-12 06:28] #31615 closed

[2016-09-12 07:08] #29225 closed

[2016-09-12 07:11] zefciu commented on #30716
@thocking it seems to be simpler and more generic. Everything is in the config file. The mount logic is in core. So we don't need any hacky init container logic.

[2016-09-12 07:26] piosz commented on #31503
@krousey OOMing InfluxDB is a known issue and is not a blocker for 1.4. See also https://github.com/kubernetes/kubernetes/issues/27630#issuecomment-244360020. Unassigning myself

[2016-09-12 08:10] gmarek commented on #31977
I don't know how. My guess is that you need to run some test from the serial suite before the this test, and then it'll happen more often.

[2016-09-12 08:24] gmarek opened #32478 "Kubeletes NotReady because of lack of CNI plugin make cluster startup scripts fail."
Noticeably often (#31513) startup of cluster in scalability suite (100) Nodes fail, because 2 Nodes don't have CNI plugins installed:

[code]

which in turn causes tests to fail.

cc @kubernetes/sig-cluster-lifecycle @kubernetes/goog-node @wojtek-t

[2016-09-12 08:26] gmarek commented on #31513
This is caused by #32478

[2016-09-12 08:27] #31215 closed

[2016-09-12 08:29] wojtek-t commented on #32478
As @yujuhong noticed few days before, this is because startup script on a node finishes unsuccessfully - see https://github.com/kubernetes/kubernetes/issues/31215#issuecomment-244430989 for more details.

Node team already fixed it on their side, by setting Kubelet to non-ready state.

However, this bug is about fixing the source of those failures, which are basically incorrectly installing CNI pl

[2016-09-12 08:33] wojtek-t commented on #32361
A more interesting metrics is how long between the two watch calls. And how many keys are modified during that duration. If n(keys) > 1000, then we have a problem.

n(keys) > 1000 is not the only possible issue. If etcd can process incoming updates faster than it's delivering watches, then it's also a potential problem

[2016-09-12 08:35] zreigz commented on #31983
I am interested in your problem. Can you give some more details how did you add iptables rules before service started. Did you use the PREROUTING chain to forward port to pod ?

[2016-09-12 08:46] jszczepkowski commented on #30571
Fixed by #31972.

[2016-09-12 08:49] jszczepkowski commented on #29770
Fixed by #31972.

[2016-09-12 08:49] #29770 closed

[2016-09-12 08:50] jszczepkowski commented on #30156
Closing in favor of #31728.

[2016-09-12 08:50] #30156 closed

[2016-09-12 08:54] soltysh commented on #29698
The PR was reverted, I'll re-open until it gets solved.

[2016-09-12 08:54] jszczepkowski commented on #32403
Closing in favor of #28900.

[2016-09-12 08:54] #32403 closed

[2016-09-12 09:00] gmarek commented on #30175
We're back to the state when most common failures are caused by 'regular resource usage tracking' for Kubelet - @yujuhong

[2016-09-12 09:06] m1093782566 commented on #31238
Done.

[2016-09-12 09:06] #31238 closed

[2016-09-12 09:08] HardySimpson commented on #32361
mark

[2016-09-12 09:12] gmarek commented on #31971
This was caused by #31728

[2016-09-12 09:12] #31971 closed

[2016-09-12 09:18] xiang90 commented on #32361
It wont. It will not start processing the next request before delivering all events to watches. It will drop requests if it cannot deliver though when the sending buffer is full.

[2016-09-12 09:19] xiang90 commented on #32361
@wojtek-t We might start to do the optimization as you described in etcd3 (async watch delivering). But I am not convinced we really need to.

[2016-09-12 09:25] wojtek-t commented on #32361
It wont. It will not start processing the next request before delivering all events to watches. It will drop requests if it cannot deliver though when the sending buffer is full.

@xiang90 - sorry, I don't understand this comment. In etcd2 (and we are still using etcd2 in all tests), watch is implemented as a series of GET`s with a specified RV. So even if this particular request is prioritized, t

[2016-09-12 09:33] piosz commented on #31710
GCE is broken because of DNS migration from RC to Deployment. Reverted in #32452 - the test should pass soon.

GKE is failing as described in https://github.com/kubernetes/kubernetes/issues/31710#issuecomment-245892485

[2016-09-12 09:39] #32224 closed

[2016-09-12 09:41] jszczepkowski commented on #30471
I think we should do the following in case CPU for some pods is missing:

- treat missing CPU as 0% for scale-up,
- treat missing CPU as 100% for scale-down.

[2016-09-12 09:46] zreigz commented on #31983
OK I was able to reproduce the problem

[2016-09-12 09:51] xiang90 commented on #32361
@wojtek-t

Say current rv is 2000, there are three cases:

1. we watch on rv > 2000. etcd will not process the next requests until the watch event is delivered to the watch buffer. Once the event is in the buffer, it wont be cleared.

2. we watch on 1000 < rv <= 200. etcd scan its history and deliver the watch event to the watch buffer.

3. we watch on rv < 1000. etcd will return the clear thing.

[2016-09-12 09:51] jszczepkowski commented on #30471
CC @fgrzadkowski

[2016-09-12 09:59] wojtek-t commented on #32361
Sorry - I probably wasn't clear enough, because that's not what I meant.

What I meant is:
- for simplicity let's assume that watcher is interested in all objects
- etcd is on RV=2000
- we send watch on 1900
- then etcd is processing it an returning objects with 1901 RV
- the a bunch of "update" events are coming (say 2001, 2002, 2003, 2004 and 2005) and they are successfully committed - etcd is n

[2016-09-12 10:01] fgrzadkowski commented on #11935
This blogpost was released after 1.3 and said that AWS support will be ready soon. AFAIK it's already the case.

@mwielgus Can you please verify? Are there instructions how to set it up? Have we released the image? Does it require kubernetes 1.4 or is it just starting different add-on?

[2016-09-12 10:08] xiang90 commented on #32361
@wojtek-t

Yea. What you just described is also possible if we consider multiple rounds of watch. The watcher can slowly fall out of the window. My best guess is that:

1. json decoding/encoding is slow
2. watch only consumes one routine, but put requests can consume multiple routines. so put might be processed faster than watch. simply put, watch is not concurrent, but put can be.

This issue has

[2016-09-12 10:09] freznicek opened #32480 "kube-dns does not securely authenticating using service account to kube-api server unless KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT env. variables are set"
kube-dns does not securely authenticating using service account to kube-api server unless KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT env. variables are set

**Kubernetes version** (use `kubectl version`): no cloud (all-on-single VM machine)

root@kubernetes-test:/etc/haproxy# kubectl version
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.4", GitCommit:"3eed1e3be6848b8

[2016-09-12 10:10] wojtek-t commented on #32361
@xiang90 - yes, what you wrote makes perfect sense (and matches my guess too).

I also agree that we should make tests with etcd3 asap to see if this particular problem goes away. Will try to make them later this week.

[2016-09-12 10:11] gmarek commented on #31964
Last failure was, again, #31728 - probably:
[code]
@jlowdermilk - is this another symptom of the same problem that was causing 500s?

[2016-09-12 10:14] jszczepkowski commented on #32345
This issue (internal server error, error on the server has prevented the request from succeeding) has been also reported as #32375 and #32345.

[2016-09-12 10:16] wojtek-t commented on #32437
Fixed by #32479

[2016-09-12 10:16] #32437 closed

[2016-09-12 10:20] #32431 closed

[2016-09-12 10:24] jszczepkowski commented on #28900
The massive problems with rc removal was caused by #31111 and fixed by #32442.

[2016-09-12 10:24] #28900 closed

[2016-09-12 10:27] m1093782566 opened #32481 "[Pet Set] Lose pet identity information between update retries"
Consider the following code,

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet.go#L210-L214

When previous update fails, Pet Set Controller will Get a new Pod which may don't contain the Pet identity information(see https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet.go#L214). If so, we can't 100% update Pod with a given pet identity informa

[2016-09-12 10:39] wojtek-t commented on #30228
It happened here: https://github.com/kubernetes/kubernetes/pull/32471

[2016-09-12 10:39] piosz commented on #30215
I created an issue in Heapster to migrate out of Apline https://github.com/kubernetes/heapster/issues/1284

[2016-09-12 10:45] jszczepkowski commented on #31928
There are two problems here
- not enough requested memory for consumer (2 original problems reported by @vishh) - solved by #31972,
- internal server error, error on the server has prevented the request from succeeding (the new problem reported by @jlowdermilk) - already reported as #32345.

Closing in favor of #32345

[2016-09-12 10:45] #31928 closed

[2016-09-12 10:45] jszczepkowski commented on #32345
CC @jlowdermilk

[2016-09-12 11:19] zreigz commented on #31983
I think the issue is more problematic and complex. It is explained here: https://github.com/docker/docker/issues/8795

[2016-09-12 11:44] lpabon commented on #28791
Same as https://github.com/openshift/origin/issues/6331

[2016-09-12 12:16] jsafrane commented on #32266
cc @kubernetes/sig-storage, especially @rootfs

[2016-09-12 12:30] jsafrane commented on #30240
I got bitten by this when implementing e2e tests for all supported storage class options on AWS. "Cold HDD" volume type has max. 250 IOPS and the smallest one is 500 GB. It takes 3-4 minutes just to format the volume, which slows down the test quite considerably.

Was there any conclusion on f2f meeting?

`lazy_itable_init=0,lazy_journal_init=0` was added in commit ab0258f2598d05c61a67cb5694373de1

[2016-09-12 12:55] dims commented on #32453
@player1-fleetsmithsupport : I can see that the root ca file is picked up and used for calls in the controller manager - https://github.com/kubernetes/kubernetes/blob/17f82069bb1f4e07ee01856b357ebf451dc600b2/cmd/kube-controller-manager/app/controllermanager.go#L484 - Do you see anything in the log files?

[2016-09-12 13:15] antoineco commented on #23385
@becile when kube-proxy starts it should log something like `server.go:202] Using iptables Proxier.`

[2016-09-12 13:19] andrewsykim commented on #11935
There's a README [here](https://github.com/kubernetes/contrib/blob/master/cluster-autoscaler/cloudprovider/aws/README.md). I don't think an official image was made so you would have to fork the contrib repo and build/push the image yourself for now.

[2016-09-12 13:21] fgrzadkowski commented on #28316
@krzysztofgrygiel @tkulczynski

[2016-09-12 13:22] rootfs commented on #30240
see some inconclusive investigation at https://github.com/kubernetes/kubernetes/issues/30752

[2016-09-12 13:24] rootfs commented on #30752
@dchen1107 @vishh this is not limited to azure, @jsafrane saw it on aws as well.

[2016-09-12 13:27] blindpirate opened #32488 "How to limit resources used by multiple namespaces?"
Hello guys,
I'm using deis to manage k8s cluster, which will create a namespace for each application, even though they are created by a single user. I want to limit resouces used by user, but k8s's limitation is namespace-scoped. Is there any possibility that I can limit sum of resources used by multiple namespaces?

Can I implement my hook or interceptor to manage resource request event or someth

[2016-09-12 13:47] derekwaynecarr commented on #29433
I am putting together a doc describing some updates I would like to do to `LimitRange` to simplify the API.

In practice, I would prefer we settle on a pattern like the following:

[code]

I think I would like to deprecate the current `default` and `defaultRequests` split and move closer to the model of supporting requests.* and limits.* fields separately like we now do in quota.  In addition. for

[2016-09-12 13:57] m1093782566 opened #32489 "[Kubectl - Pet Set] Kubectl support some features for Pet Set"
* kubectl short cut for get petset

I find `kubectl` doesn't support short cut for Pet Set. Users need to type `kubectl get petset` show petset list. Since `kubectl` support short cut `kubectl get po` for pod and `kubectl get svc` for service. Why not add short cut `kubectl get ps` for petset?

* kubectl replace -f

[code]

When type `kubectl -f petset.yml`(only modify `replicas` field), I receive

[2016-09-12 14:07] justinsb commented on #32478
Root cause here is that Salt doesn't retry, right?  Is this just a configuration option for Salt?

[2016-09-12 14:08] m1093782566 commented on #28706
Should we prevent scale up/down operations when upgrade in progress? I find it's hard to do it as Kubernetes has no mechanism that can easily achieve it. If we don't prevent against it, it means that we can allow more than replicas+1 or less than replicas-1 instances in a cluster.

[2016-09-12 14:09] wojtek-t commented on #32478
Root cause here is that Salt doesn't retry, right?

I didn't take a deeper look, but that's highly probable.

[2016-09-12 14:15] Zhomart commented on #29206
I'm still getting this error

[code]

versions
[code]

[2016-09-12 14:18] jszczepkowski opened #32492 "[k8s.io] Dynamic provisioning [k8s.io] ... should create and delete ... [Slow] fails on GKE"
[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner Alpha should create and delete alpha persistent volumes [Slow] 21m9s fails on kubernetes-e2e-gke-slow:

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8691

[2016-09-12 14:21] jszczepkowski commented on #32492
@bprashanth
Is it a part of PetSet implementation?

[2016-09-12 14:24] justinsb commented on #32215
Could you provide a bit more detail on:

* the advantages of separating the configuration struct & the flags struct?
* using a separate runtime struct vs custom marshallers?  (Though I think this one is more self-evident than the first point)

[2016-09-12 14:27] deads2k commented on #32492
@jsafrane related to https://github.com/kubernetes/kubernetes/pull/32279 ?

[2016-09-12 14:39] jsafrane commented on #32492
@deads2k could be, how does GKE run its controller-manager? Are there any logs?

[2016-09-12 14:41] pwittrock commented on #32469
Sounds like we are good.

[2016-09-12 14:41] #32469 closed

[2016-09-12 14:42] liggitt commented on #32215
flags are inherently flat. providing parallel options (e.g. number of workers and cache size for every controller) leads to a really unwieldy flag list and config struct. we're already pushing the limits of what flags can express. I either see us needing to structure the config, or have pointers in the config to sub-config files (like the existing scheduler config file), or both.

The information

[2016-09-12 14:43] artitw opened #32494 "Cannot specify --packages in kubernetes spark example"
I am following the instructions laid out on [Kubernetes' Spark example][1]. I can get to the step with launching the PySpark shell. However, I need to use PySpark with JDBC to connect to my Postgres database. Before I tried Kubernetes, I got the JDBC working with Spark using the `spark-defaults.conf` file:

    spark.driver.extraClassPath /spark/postgresql-9.4.1209.jre7.jar
    spark.executor.extr

[2016-09-12 14:50] jsafrane opened #32496 "No usable PV information in GKE e2e failures"
It would be nice if an e2e test dumped all existing PVs and also all events on these PVs when the test fails. Especially on GKE I am completely blind, as I don't have controller-manager logs for dynamic provisioning errors.

See #32492 for an example.

[2016-09-12 14:56] jsafrane opened #32497 "PV controller sync period is now 3 minutes"
With shared informers merged in PR #30825, PV re-sync period is now 3 minutes and more, which is too much for the controller (it was 15 seconds before). E.g. e2e tests for deletion of provisioned volumes take 3-6 minutes longer.

It could be the reason behind #32492, but it's hard to guess without controller logs.

We need either shorter sync for this shared informer or revert the PR completely.

[2016-09-12 15:08] dshulyak commented on #30272
I don't expect any code reviews yet, this is just for information that I started work on this problem. But it will be good if someone will take a look and add comments on general approach.

[2016-09-12 15:15] krousey commented on #32249
@erictune that commit didn't add anything. It just reformatted the line messing with the blame history.

[2016-09-12 15:17] thockin commented on #32497
@deads2k @davidopp

On Mon, Sep 12, 2016 at 7:57 AM, Jan Šafránek <notifications@github.com>
wrote:

[2016-09-12 15:24] timothysc opened #32499 "Move Taints & Tolerations & Interpod-affinity and anti-affinity out of Beta"
This issue to enumerate and track for 1.5 release the items needed to move the following @kubernetes/sig-scheduling features out of alpha/beta and into product:

Taints and Tolerations
Inter-pod Affinity and Anti-Affinity

/cc @ConnorDoyle @ingvagabund @jayunit100 @davidopp

We should socialize the checklist of items here.

[2016-09-12 15:37] bprashanth commented on #32492
Sep 12 06:54:37.810: INFO: At 2016-09-12 06:33:59 -0700 PDT - event for pvc-volume-tester-nus9b: {default-scheduler } Scheduled: Successfully assigned pvc-volume-tester-nus9b to gke-jenkins-e2e-default-pool-3a409114-juee

Sep 12 06:54:37.811: INFO: At 2016-09-12 06:34:03 -0700 PDT - event for pvc-volume-tester-nus9b: {controller-manager } FailedMount: Failed to attach volume "pvc-814e168a-78ed-11e

[2016-09-12 15:40] drngsl opened #32501 "Add volume parameters for flexvolume interface method"
Use flexvolume to implement an external volume plugin.
For current flexvolume, interface mathod attach and mount can get all parameters from API or CMD,
`Attach:

<driver executable> attach <json options>
Attach:

<driver executable> attach <json options>`

But, for interface method unmount and detach, only every simple parameters provided.
`Unmount:

<driver executable> unmount <mount dir>
Detach

[2016-09-12 15:48] jsafrane commented on #32492
@bprashanth, can you find errors in deleting of the PV produced by this test, like `deletion of volume "%q" failed` and *all* of them (for timing purposes).

The best would be `grep -A3 -B3  pvc-814e168a-78ed-11e6-bb0c-42010af00004 *.log`

[2016-09-12 15:50] derekmahar commented on #32432
Not surprisingly, after running a container that hashes a Java keystore file mounted from a ConfigMap volume containing this file, the hash of the keystore file in the volume did not match that of the original keystore file.

[code]

### keystore-configmap-pod.yaml

[code]

[2016-09-12 15:51] liggitt commented on #32432
they do not, they store strings. base64-encoding could be layered on top with application logic if desired

[2016-09-12 15:53] krousey commented on #31503
Taking ownership back and marking as a non-release blocker due to being the result of 2 known issues.

[2016-09-12 15:57] fraenkel commented on #29698
I noticed that I wasn't sending back the updated resource version. That is a bug but not sure if it was causing the issue seen since there is no information behind the failure.

[2016-09-12 15:58] smarterclayton commented on #28706
Target spec would be reconstructable by observing the state of the cluster.  Pod with highest generation becomes target spec (or alternatively second oldest generation).

I think pause is mandatory - all of the arguments with pause around deployments apply here, because pause is the higher level primitive saying "don't apply this newest spec yet".

[2016-09-12 16:01] smarterclayton commented on #28706
So ordered state transition has to be done by a strongly consistent agent.  I think we need that to be petset controller (so you don't have to implement a babysitter in all cases), and then the petset controller needs to delegate to a babysitter in a controlled fashion.  We could conceivably also make it easy to fork the petset controller and customize it, but in practice that only works so well.

[2016-09-12 16:01] bprashanth commented on #32489
did you try replace on HEAD or 1.3?
I think we already decided to not do anything about the short form till it goes beta.

[2016-09-12 16:05] m1093782566 commented on #32489
Okay, will try. BTW, do we have a timeline for beta?

[2016-09-12 16:06] derekmahar commented on #32432
Yes, or ConfigMaps might store both byte arrays and strings. :)  I'll change this from a bug report to a feature request and keep my fingers crossed.

[2016-09-12 16:10] gmarek commented on #32478
That I don't know - do we have any Salt expert? @kubernetes/sig-cluster-lifecycle

[2016-09-12 16:20] onorua commented on #32478
AFAIK, Salt doesn't retry state by default, however it does have `onfail` [requisite definition](https://docs.saltstack.com/en/latest/ref/states/requisites.html#onfail):
So, basically you can set another step to retry in case main state failed.

[2016-09-12 16:34] k8s-merge-robot opened #32505 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6431/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27662 #29820 #31971

[2016-09-12 16:42] jstrachan commented on #17456
We want to be able to create cloud native applications on Kubernetes as a YAML file, Helm chart, OpenShift Template or whatever. However we never want to actually include the Secrets inside that YAML file ;) those should always be generated or imported from somewhere (Vault or whatever).

This feel very much like PersistentVolumeClaim versus PersistentVolume. The App developer wants to make a clou

[2016-09-12 16:44] jstrachan commented on #17456
BTW in lieu of `SecretClaim` on the fabric8 project we've been using annotations to simulate the 'this app requires secrets of these kinds to be created` so that a tool can auto-generate them:
https://github.com/fabric8io/fabric8/blob/master/docs/secretAnnotations.md

its easy to generate, say, user name + passwords via things like OpenShift templates; its a little harder though to generate ssh pu

[2016-09-12 16:46] wongma7 commented on #32497
Related? https://github.com/kubernetes/kubernetes/issues/26406

[2016-09-12 16:59] Kashomon commented on #30672
I believe the original failure is fixed with the update. This looks like a new type of flake.

[2016-09-12 17:20] derekwaynecarr commented on #32468
Can you elaborate on why a `BestEffort` pod cannot consume a GPU today?  Existing QOS is only tied to `cpu` and `memory` resources at this time.  We have not extended QOS to other resources yet.

I think the intersection between `LimitRange` and `QOS` is a tangential discussion and the presence of one should not influence the other.  If the concern is ability to create a `BestEffort` pod in the pr

[2016-09-12 17:24] smarterclayton commented on #31784
@kubernetes/sig-auth FYI for the work with authorization federation.  Also @liggitt and @deads2k because you guys were discussing the requirements for the summarizer.

[2016-09-12 17:24] smarterclayton commented on #31784
Do you anticipate having a proposal soon?  I assume this is a 1.5 target?

[2016-09-12 17:24] smarterclayton commented on #31784
Which SIG owns this - API machinery, autoscaling, metrics?

[2016-09-12 17:25] erictune commented on #15180
I want this for Charts.  For example, if you have a chart that has one mysql server in it, and a service to give it a stable name, I don't want to have to keep figuring out the pod name.

Server side would be resolution of service to pod would be idea, but client side would also be a big improvement.

[2016-09-12 17:29] dachulin commented on #31983
Yes I think it is the same conntrack issue as in the one reported in docker issue. But I also think that the kubernetes might have a better control over it, since it knows the service up/down. I think k8s already deleting the conntrack entries when removing services. Just wondering if the same can apply to adding services?

[2016-09-12 17:29] derekwaynecarr commented on #31676
and we are sure that swap was disabled on that node image?

On Sun, Sep 11, 2016 at 12:23 PM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2016-09-12 17:31] bprashanth commented on #28706
I think the invocation of the babysitter is going to be important. There are going to be some very common patterns like snapshot upgrade that we can write simple babysitters for so everyone gets them for free. I also don't think it is specific to upgrades. On scale down, I want to delegate to a babysitter to pick the non master.

Ingress does this through annotations, we could start with that.

[2016-09-12 17:37] derekwaynecarr commented on #30629
I would like this to be fixed in Kubernetes 1.5, and will look to get people from our team setup to fix it.  Community help is welcome in the interim.

[2016-09-12 17:38] #31728 closed

[2016-09-12 17:40] timstclair commented on #32414
When it gets stuck, can you check the CPU usage reported by cAdvisor? You can get that at the `/stats/<pod name>/<container name>` or `/stats/<namespace>/<pod name>/<pod uid>/<container name>` endpoint.

[2016-09-12 17:42] jeremyeder commented on #32499
#25320

[2016-09-12 17:45] #30672 closed

[2016-09-12 17:45] mikedanese commented on #30672
We can close and allow it to be reopened then.

[2016-09-12 17:48] davidopp commented on #32499
Is there a reason for a new issue here? #25320 and #25319 should cover it. I'd prefer not to have duplicate issues...

[2016-09-12 17:54] caesarxuchao commented on #30228
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/32471/kubernetes-pull-test-unit-integration/44336/

[code]

[2016-09-12 17:55] thockin commented on #30716
That is not a very compelling reason.  The cost of things in core is 10x
the cost of things out of core.

On Mon, Sep 12, 2016 at 12:12 AM, Szymon Pyżalski <notifications@github.com>
wrote:

[2016-09-12 18:00] ConnorDoyle commented on #32468
@derekwaynecarr if you look at the current implementation of [`qos.GetPodQos`](https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/pkg/kubelet/qos/qos.go#L48), a pod that consumes a GPU cannot be classified best effort, since all resource dimensions are considered. It looks like a pod that consumes only a single GPU would get the guaranteed class. Please help me

[2016-09-12 18:09] pwittrock commented on #32241
@sttts How are we looking on this?

[2016-09-12 18:12] timothysc commented on #32499
Bleh so many issues.. closing this one.

[2016-09-12 18:12] #32499 closed

[2016-09-12 18:13] saad-ali commented on #32492
This test is failing consistently on `kubernetes-e2e-gke-slow` since https://github.com/kubernetes/kubernetes/pull/32279 was merged. As on-call, I'm going to revert that PR to unblock the submit queue.

[2016-09-12 18:17] nikhiljindal commented on #31674
Current status is that the setup issues seem to be resolved.
But the test is still failing. The failure however is same as the post commit jenkins failures, so hopefully nothing special to be done here. But keeping this open until we have verified.

[2016-09-12 18:19] rickypai commented on #12337
CNAME support sounds great. Love to try it.

For posterity, those who tried to modify `/etc/hosts` need to be wary that since `/etc/hosts` is implemented as a volume mount during container startup, anytime you use a Pod that has a volume, when a rescheduled container needs to remount the volume, the modifications in `/etc/hosts` will be reverted.

[2016-09-12 18:20] #27373 closed

[2016-09-12 18:24] matchstick commented on #29324
@jingxu97 @justinsb @saad-ali @davidopp @pwittrock This fix needs to go in 1.4. David you will want to wait for this to be merged for upgrade testing. Also @jingxu97 please ask for help to ensure this gets reviewed ASAP.

[2016-09-12 18:28] yujuhong commented on #32324
Logs of terminated pods are only kept with best effort. However, when there's no other pressure (e.g., exceeding the max number of dead containers), kubelet should not remove theses containers IIRC. According to our GC policy, we will keep 2 dead containers per (pod, container) tuple.

[2016-09-12 18:33] discordianfish opened #32510 "NodeNotReady after controller-manager failover leads to deletion of all pods"
Running a small 3 node kubernetes 1.3.4 cluster. Probably because of network issues I see frequent re-elections for apiserver and controller-manager. Sometimes after a election, the controller-manager can't sync state with some node which causes it to delete all pods:

[code]

During that time, te only thing in the kubelet log are clean up warnings which seem unrelated (haven't debugged them so fa

[2016-09-12 18:42] smarterclayton commented on #30716
Tim, you are the very definition of sophisticated user here :)​

[2016-09-12 18:46] smarterclayton commented on #30716
I think there is probably some missing semantic sugar around pods of this form.  One might be directly inlining small files via a volume type, which avoids entrypoint hackiness.  We'd have to strongly control size though.

I look at the vitess examples and think that is a reasonable "higher end" configuration size for a pod (https://github.com/youtube/vitess/blob/master/examples/kubernetes/vttable