[2017-06-28 07:07] dchen1107 commented on #48064
In v1.6.4, we support Ubuntu 16.04. Please trying something like this:

KUBE_GCE_NODE_IMAGE=ubuntu-gke-1604-xenial-v20170420-1 KUBE_NODE_OS_DISTRIBUTION=ubuntu KUBE_GCE_NODE_PROJECT=ubuntu-os-gke-cloud cluster/kube-up.sh

cc/ @yguo0905 anything I missed above?

Ubuntu Trusty support was dropped from GCE K8S since 1.5 release. sig-node is still carrying on the node e2e tests for the image qualifica

[2017-06-28 07:47] gmarek commented on #44445
This is actually strange - TaintController isn't even looking at 'NoSchedule' Taints. If adding 'NoSchedule' evicts Daemon, it sounds like DaemonSetController bug. @kubernetes/sig-apps-bugs

[2017-06-28 07:49] xingzhou commented on #47264
@erictune, I think the root cause of this issue is from these lines of code [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/conversion.go#L615-L622). While when we try to update a pod object, we need to convert from `v1.Pod` to `api.Pod`, and the code in conversion function always overwrite the values in `pod.Spec.InitContainers` with the value of annotation `pod.beta.kubern

[2017-06-28 07:53] xiangpengzhao commented on #48173
Is there a running container with id something like `docker://virtlet__d5536480-16a1-49b4-54dd-624e0e093882` when the panic occurs?

A quick fix is to add checking whether containerSpec is nil as you mentioned. But it's weird that `podContainerChanges.ContainersToKill` gets a container without name.

@yujuhong

[2017-06-28 07:58] gmarek commented on #47344
+1. It's not a release blocker anymore. It seems that we're in the same state we were in 1.6.

[2017-06-28 07:59] yastij commented on #48177
/sig network
/area kube-proxy

[2017-06-28 08:01] sky-big commented on #43640
Hi, I concern about V1.8(Prototype and design scheduler and PVC binding integration)feature,So I want to ask What time the kubernetes 1.8 publish?-_-

[2017-06-28 08:06] xiangpengzhao commented on #48177
/cc @ncdc

[2017-06-28 08:12] deitch opened #48180 "Create custom cluster wide environment variables inject into every container"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Probably a feature request

/kind feature

**Anything else we need to know?**:

I have not found a way to inject global environment variables, either cluster-wide or per-namespace. The most common use cases I have seen are:

1. Indicate what environment or location we are in, e.g. `ENVIRONMENT=dev` or `ENVIRONMENT=prod`. Sure, I could set something on

[2017-06-28 08:17] deitch commented on #48180
Unsure which sig, so entering more than one.

/sig apps
/sig cluster-ops
/sig cluster-lifecycle

[2017-06-28 08:17] astropuffin commented on #28928
I closed out the PR with the sample implementation, because there is a more robust version in flight by the scheduling sig. Leaving this ticket open until the corresponding controllers get merged in.

[2017-06-28 08:22] dchen1107 commented on #48177
cc/ @kubernetes/sig-network-bugs @kubernetes/sig-network-misc Looks like there is a new regression in v1.7. Please triage this to decide if it is a release blocker. If not, please provide the workaround for the users. Thanks!

cc/ @kubernetes/kubernetes-release-managers

[2017-06-28 08:24] Miyurz commented on #18130
We are still seeing this on k8s version 1.5.4

`helm install fluentd*.tgz --name fluentd --namespace kube-system
Error: release fluentd failed: DaemonSet in version "v1beta1" cannot be handled as a DaemonSet: [pos 793]: json: expect char '"' but got char '9'`

[2017-06-28 08:32] gmarek commented on #44445
I looked into such problem, and indeed it looks like DSC is deleting daemon:
[code]
So it's certainly DaemonSet bug - it shouldn't remove Daemon from the Node even if it doesn't tolerate NoSchedule taint that was put on it.

I'll write a quick-fix that add general NoSchedule toleration for fluentd.

[2017-06-28 08:33] xiangpengzhao commented on #48177
Digging into the code, will send a PR.

[2017-06-28 08:38] Thermi opened #48181 "add error reporting for kubelet with token"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubectl does not report an error if the API server did not accept or handle the token it passed to it.
Instead it prints a message, that I'd need to login. It does not indicate that the token is malformed, broken or otherwise. In my case, an invalid (unicode character outside of ASCII compatible range) was appended at th

[2017-06-28 08:46] mikedanese commented on #44445
This is a regression in the daemonset controller. See https://github.com/kubernetes/kubernetes/pull/46577#discussion_r124484437

[2017-06-28 08:51] piosz commented on #21002
@ahmetb thanks for the update.
+1 for having helm charts for ES.

cc @fgrzadkowski

[2017-06-28 08:52] gmarek commented on #44445
Assinged @erictune as a @kubernetes/sig-apps-bugs lead, but it's very likely that @mikedanese will fix it before Eric will wake up:)

[2017-06-28 08:58] xiangpengzhao commented on #48177
PR #48183 sent. Folks review it please.

[2017-06-28 09:00] #48045 closed

[2017-06-28 09:12] xiangpengzhao commented on #48178
/sig cluster-ops

[2017-06-28 09:14] xiangpengzhao commented on #48174
/sig api-machinery

[2017-06-28 09:43] feiskyer commented on #48173
Did virtlet set `ContainerStatus.ContainerMetada.Name` correctly? Seems it is "", which caused the problem.

[2017-06-28 09:44] jsravn commented on #43168
I'm running into this as well, @tacy did you make another issue? I'm also seeing kubectl hanging waiting to sync when deleting a job (with its pods deleted), due to this bug.

[2017-06-28 09:47] jsravn commented on #43168
On 1.6, I definitely cannot delete a job that has its pods deleted separately beforehand.

[2017-06-28 09:50] jsravn commented on #43168
Actually, I'm not sure it's due to the pod being deleted beforehand - I have a job with a pod in error state. But I'm unable to delete the job still.

[2017-06-28 10:05] jsravn commented on #43168
@soltysh Do you mean https://github.com/kubernetes/kubernetes/pull/42176? So the issue of hanging deletes of jobs should be fixed in master?

[2017-06-28 10:12] jsravn commented on #43168
I see the same thing as @tacy, job status is both "active: 1" and "succeeded: 1". This seems to prevent the delete inside of kubectl.

[2017-06-28 10:31] sakeven opened #48186 "[Scheduler] Some Thinkings about predicateFuncs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig scheduling

**Some Thoughts**:
1. When doing  [podFitsOnNode](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/core/generic_scheduler.go#L234), it **continues** checking even when predicate failed.  I know some reasons in issue #20064 and PR #29272. However, why not make it switchable to continue or abort?

[2017-06-28 10:32] dixudx commented on #48069
@foxish @tadas-subonis The bug did exist on v1.6.4. But it worked as expected on master branch.

[2017-06-28 10:34] narunask opened #48187 "kube-proxy unknown flag: --kubeconfig"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/area kube-proxy

**What happened**:
[code]

**What you expected to happen**:
Healthy, up and running `kube-proxy`.

**How to reproduce it (as minimally and precisely as possible)**:
I'm using the following `kube-proxy` manifest, my API server is running on `10.44.1.191`:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubern

[2017-06-28 10:38] narunask commented on #48187
/sig area/kube-proxy

[2017-06-28 10:45] mashayev commented on #48064
@dchen1107 Hi thanks for the help. Is there any way to consult with someone about how to do it properly? There are bunch of things I would like to change and fit to my needs. creating and destroying the K8S cluster each time is kind of headache.

[2017-06-28 10:47] jsravn commented on #43168
Looks to me like some bug in jobcontroller. In my case, it spawned two pods for the job, instead of one. Then the status got in a bad state, and "TooManyActivePods". And now I can't delete the job.

[2017-06-28 10:48] mikebryant opened #48188 "Feature Request: Finer grained pod statuses"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

**Request**:
Finer grained statuses in `Pod.status.containerStatuses.state`

I want to be able to alert on having any pods that are in `ImagePullBackOff`, but only if that's because of an error other than the image not being found

In particular I'd like a field in the API, as the latest status for the Pod. The informati

[2017-06-28 10:49] mikebryant commented on #48188
@kubernetes/sig-node-misc

[2017-06-28 10:50] jsravn commented on #43168
Alright, I can confirm we deleted one of the pods. So then the job spawned up another pod. At that point, it got into a bad state. So to avoid this, don't delete pods managed by jobs. But probably, jobmanager should handle this case better.

[2017-06-28 11:01] luxas commented on #48163
It hasn't worked for me either for a couple of days...

[2017-06-28 11:04] xiangpengzhao commented on #48187
/sig network
/area kube-proxy

[2017-06-28 11:10] crassirostris commented on #38495
@baldeynz I believe so, Kubernetes doesn't allow to do so. It tries to abstract runtime engine away

You can set up default value per-node though, by changing the docker daemon startup flags

[2017-06-28 11:24] luxas commented on #48178
@lvthillo I'd suggest you'd use https://github.com/kubernetes/minikube instead
I don't know the exact state of the Vagrant scripts, but something makes me think they are old and possibly, see: https://github.com/kubernetes/kubernetes/commits/master/cluster/vagrant/

The commits there are generic that touch things all over the codebase and not specific to the vagrant deployment.

We should probably

[2017-06-28 11:26] luxas commented on #48177
Added the release-blocker label.
We got a PR for it very fast so it won't delay the release anyway, thanks @xiangpengzhao!

[2017-06-28 11:26] mikedanese opened #48190 "DaemonSet controller doesn't handle NoSchedule taints correctly"
Details in https://github.com/kubernetes/kubernetes/issues/44445#issuecomment-311506113

@dchen1107 consider adding this to the 1.7 release although it appears to have been broken in 1.6. I'll add 1.7 milestone for you to remove if this doesn't make the cut.

Fix is here https://github.com/kubernetes/kubernetes/pull/48189

cc @kubernetes/sig-apps-bugs

[2017-06-28 11:26] lvthillo commented on #48178
@luxas Okay thanks, I'll use minikube instead

[2017-06-28 11:26] #48178 closed

[2017-06-28 11:30] mikedanese commented on #48190
Summary: DaemonSet controller evicts running pods when a NoSchedule taint is added to the node.  In this case the pod should instead continue to run.

[2017-06-28 11:32] xiangpengzhao commented on #48187
use `--kubeconfig=/var/lib/kubelet/kubeconfig.yml` instead.

[2017-06-28 11:35] xiangpengzhao commented on #48187
and `--master=10.44.1.191`

[2017-06-28 12:04] luxas opened #48191 "Add ClusterRoles for CSR approval modes to RBAC bootstrappolicy"
/kind feature

From: https://github.com/kubernetes/kubernetes.github.io/pull/4208

[code]

Would it make sense to add these rules to the bootstrappolicy? To me they seem generic enough, and they wouldn't bind to something. Consumers can do the binding to their subjects as they like.

I'm asking because it's already duplicated twice for two early adopters:
https://github.com/kubernetes/kubernetes/b

[2017-06-28 12:04] yastij commented on #48150
/area test

[2017-06-28 12:23] bambrozio commented on #30792
Do we have any similar solution for NFS persistent volumes?
Not sure how to mount and unmount NFS PVs which are encrypted. Perhaps the API should cover it too, as the mount command would deal with it. Does it make sense?

[2017-06-28 12:34] rajivece opened #48193 "Windows K8s kubelet pods deployment pending"
I'm trying to setup K8s on Windows Server 2016 by following below link

https://kubernetes.io/docs/getting-started-guides/windows/

Here's the setup looks like

1) Linux (Kubernetes Master)
    OS: Fedora 24 (kube version 1.5.3)
2) Windows (Node 1 )
   OS: Windows 2016 Server
    Kubelet Version: 1.5.3
3) Windows (Node 2)
   OS: Windows 2016 Server
    Kubelet Version: 1.5.3

After starting the ku

[2017-06-28 12:38] k82cn commented on #48173
Create a PR (#48194) that checking containerSpec to avoid panic.

[2017-06-28 12:53] rushabhnagda11 commented on #19562
I'm facing  a very similar issue and I have the kubelet logs. Cant find anything over there

These logs were on my master
`Jun 28 12:18:37 k8s-master-18420427-0 dockerd[22509]: I0628 12:18:37.775805       1 controller_utils.go:285] Recording status change NodeNotReady event message for node k8s-agentpool1-18420427-2
Jun 28 12:18:37 k8s-master-18420427-0 dockerd[22509]: I0628 12:18:37.775935

[2017-06-28 13:01] deads2k commented on #48191
Wouldn't we expect and encourage people using the CSR capability for their nodes to use node identities that match the node authorizer, in which case we won't need the client or server renewal CSR roles?

[2017-06-28 13:05] liggitt commented on #48191
The node authorizer doesn't grant these, since otherwise you could never prevent a compromised node from renewing its credentials

[2017-06-28 13:08] deads2k commented on #48191
Realistically, with these roles you still wouldn't.  People would grant them to the node group, not each individual node, but I guess that would be a tradeoff for the deployment mechanism.

[2017-06-28 13:09] MikeSpreitzer commented on #48173
The actual Docker containers are all gone now.   But here is what I got from `kubectl get pod` shortly before opening this issue:
[code]

I will look into the question @feiskyer asked.

[2017-06-28 13:14] liggitt commented on #48191
You could individually revoke this role from the group and stop renewals without disrupting regular operation

[2017-06-28 13:17] xilabao opened #48195 "scope the resource names"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

 /kind feature

scope the resource name to the same format (e.g. foo_x foo_y), and reserve some special name for administrator.
for instance, user need to create  a pod named "foo_something" and can not create a configmap named "system:configmap"
[code]

[2017-06-28 13:20] christo-king commented on #7890
+1

[2017-06-28 13:21] cmluciano commented on #48167
@kubernetes/sig-network-bugs @kubernetes/goog-gke

[2017-06-28 13:21] rushabhnagda11 commented on #41850
@seanknox I'm seeing a similar issue on acs-engine. Can you tell me how to reproduce?

[2017-06-28 13:23] gosudream commented on #48174
see #48152,  tpr will be removed

[2017-06-28 13:24] FrzMe commented on #44107
The Documentation mentions that currently no GPU sharing is supported. We are strongly interested in having this as a feature. Is there an Issue tracking progress in implementing GPU sharing support?

[2017-06-28 13:28] k82cn commented on #48190
/cc

[2017-06-28 13:34] yastij commented on #48150
@liggitt - did you ever encounter this ? exp. backoff should keep these from failing ?

[2017-06-28 13:35] cmluciano commented on #48089
/assign @rpothier

[2017-06-28 13:37] cmluciano commented on #32992
/assign

[2017-06-28 13:38] cmluciano commented on #32992
/close

@jsravn upgraded to a version with dnsmasq to resolve

[2017-06-28 13:38] #32992 closed

[2017-06-28 13:39] cmluciano commented on #37829
/assign

[2017-06-28 13:39] cmluciano commented on #37829
/close

[2017-06-28 13:39] #37829 closed

[2017-06-28 13:41] cmluciano commented on #32880
this should be added via #33684

[2017-06-28 13:41] #32880 closed

[2017-06-28 13:47] deads2k commented on #43781
I think this got fixed.

[2017-06-28 13:47] #43781 closed

[2017-06-28 13:47] deads2k commented on #44725
I think this got fixed.

[2017-06-28 13:47] #44725 closed

[2017-06-28 13:48] yastij commented on #48150
Also see :

- #46360  with: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46360/pull-kubernetes-unit/38223/

- #45610 with: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45610/pull-kubernetes-unit/38167/

- #47019  with: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47019/pull-kubernetes-unit/38098/

[2017-06-28 13:48] deads2k commented on #30770
I think that this got fixed in 1.7

[2017-06-28 13:48] #30770 closed

[2017-06-28 13:50] cmluciano commented on #48020
@killy001 I think the assumption is that if you are using hostNetwork to expose a port on the node, then that port is expected by the consumer of that application.

Can you describe your uses-case a bit more?
- Are you using an external service discovery mechanism to route requests to these random host ports?
- Do  you require the ability to use hostNetwork, if not, why not use NodePort?

[2017-06-28 13:51] cmluciano commented on #34356
/assign

is this still happening?

[2017-06-28 13:53] cmluciano commented on #34866
/sig-remove network

/sig aws

linked issue is for sig/aws, rerouting for now

[2017-06-28 13:55] deads2k opened #48198 "Generated shared informers lack an extension to provide additional indexes"
Today, listers are generated with a `Expansion` interface which allows for custom listing methods.  These methods generally require custom indexes.  There is not a corresponding expansion or lookup in informers to provide the indexes.

The informer already has a dependency on the lister, so we should create a in the generated listers which returns `Additional<Type>Indexes` and respects information

[2017-06-28 13:56] deads2k commented on #48198
Links here https://github.com/kubernetes/kubernetes/blob/master/pkg/client/listers/core/v1/pod.go#L34 and here https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/informers/core/v1/pod.go#L56 for code reference.

[2017-06-28 13:57] cmluciano commented on #35012
/assign

[2017-06-28 13:57] cmluciano commented on #35012
/close

please re-open with issue template filled out if this is still a problem

[2017-06-28 13:58] #35012 closed

[2017-06-28 13:59] ncdc commented on #48198
That would definitely be better and clearer, but you can add additional indexes to the shared informer via something like `sharedInformers.Core().V1().Pods().Informer().AddIndexers()` (the type returned by the call to `Informer()` happens to be a `SharedIndexInformer`, which has the `AddIndexers` method).

[2017-06-28 14:00] ncdc commented on #40444
@deads2k I think we can close this one too?

[2017-06-28 14:05] deads2k commented on #40444
yeah I think so.

[2017-06-28 14:05] #40444 closed

[2017-06-28 14:18] gyliu513 opened #48201 "Enable log rotate for container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig apps

**What happened**:
The logs in container cannot be rotated, docker already support this, it is better add this feature to kubernetes.

[code]

More detail refer to:

https://docs.docker.com/engine/admin/logging/overview/

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2017-06-28 14:18] gyliu513 commented on #48201
/kind feature
/sig apps

[2017-06-28 14:23] copejon commented on #48156
Thanks @jeffvance. That sheds some light on what may have been going on for me.

I usually run multiple clusters simultaneously.  However, I don't set a node os for gke as it's always gci, so debian is only ever set on my host.

That said, should TestContext.NodeOSDistro rely on the host environment for the value?   Why not get it from the node spec?

[2017-06-28 14:23] JonPulsifer commented on #47525
[code]

got one today, here's a hiccup that paged us when cycling node pools.

The flow that set off this:

1. Add the new node pool
1. Delete the old node pool
1. Turn off ABAC

[2017-06-28 14:29] deads2k commented on #48198
That enables the informer as a side-effect of calling the method.  If you do that, then the lister/watcher will always come active even if you don't need it.  It also means that the lister won't always function properly with a shared informer unless someone externally twiddles that knob.

[2017-06-28 14:32] crassirostris commented on #48201
@gyliu513 What exactly would you like to see? Maybe I dedup this FR against https://github.com/kubernetes/kubernetes/issues/38495 or https://github.com/kubernetes/kubernetes/issues/15478?

[2017-06-28 14:33] crassirostris commented on #48201
BTW, logs _are_ rotated, either by logrotate tool or by docker, depending on the setup

[2017-06-28 14:37] xiangpengzhao commented on #48193
/sig node
/sig windows

[2017-06-28 14:37] crassirostris commented on #48071
@fgrzadkowski 1 day

[2017-06-28 14:38] crassirostris commented on #48201
BTW, logs _are_ rotated, either by logrotate tool or by docker, depending on the setup

[2017-06-28 14:42] xiangpengzhao commented on #48195
/sig api-machinery

[2017-06-28 14:44] xiangpengzhao commented on #48193
/sig node
/sig windows

[2017-06-28 14:45] gyliu513 commented on #48201
Thanks @crassirostris , #38495 and #15478 is exactly what I want, I will close this one.

[2017-06-28 14:45] #48201 closed

[2017-06-28 14:45] luxas commented on #48191
I can definitely see myself revoking a binding from `system:nodes` to multiple specific `system:node:{node}` bindings in case of a compromise.

Anyway, this issue is more "should we create these by default or not".
I've already mentioned my opinion.

[2017-06-28 14:50] ncdc commented on #48198
I totally agree. I'm just pointing out that it's possible to do it today, but ugly.

[2017-06-28 15:02] cmluciano commented on #32801
Can you describe what you mean by a manual creation? Does this imply manual construction of services through iptables commands?

[2017-06-28 15:05] cmluciano commented on #32412
/assign

[2017-06-28 15:05] cmluciano commented on #32412
/close

issue is with an unsupported kube version

[2017-06-28 15:05] #32412 closed

[2017-06-28 15:08] cmluciano commented on #32227
/remove-sig network

need a triage from AWS

[2017-06-28 15:10] cmluciano commented on #30917
@alph486 Are you still having this issue?

[2017-06-28 15:10] idvoretskyi commented on #47966
cc @kubernetes/sig-openstack-bugs @hogepodge @lpabon

[2017-06-28 15:11] idvoretskyi commented on #47831
cc @kubernetes/sig-openstack-bugs

[2017-06-28 15:12] cmluciano commented on #47486
cc @danwinship

[2017-06-28 15:13] idvoretskyi commented on #46442
cc @kubernetes/sig-openstack-bugs

[2017-06-28 15:13] cmluciano commented on #34258
/assign

/close

Documented here https://github.com/kubernetes/ingress/tree/master/controllers/nginx#https

[2017-06-28 15:13] cmluciano commented on #34258
/close

Documented here https://github.com/kubernetes/ingress/tree/master/controllers/nginx#https

[2017-06-28 15:13] #34258 closed

[2017-06-28 15:15] cmluciano commented on #35032
@kubernetes/sig-network-misc

[2017-06-28 15:23] cmluciano commented on #44107
I don't believe that this is a feature that we are targeting since I am not aware of wide-spread support of shared cards. cc @flx42 @renaudwastaken

[2017-06-28 15:25] yastij commented on #47704
ping @caseydavenport

[2017-06-28 15:25] cmluciano commented on #47862
@kubernetes/sig-apps-feature-requests

/remove-sig network

/kind kubectl

[2017-06-28 15:25] cmluciano commented on #47862
/area kubectl

[2017-06-28 15:35] shyamjvs commented on #47597
@smarterclayton Regarding issues with the ep controller we've discussed before:
1. Doing unnecessary GETs before PUTs - Fixed by #47731 which introduced ep informer.
2. 30s resync period for service informer - Fixed by #47788 which removes it and enqueues services for tombstone pods rather than wait for resync.
3. PUTting things not changing - We are not doing that if the ep object hasn't changed.

[2017-06-28 15:40] antoineco opened #48208 "Insufficient permissions for RBAC role system:kube-controller-manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The `kube-controller-manager` component is working in a degraded mode inside a cluster where the authorization mode is RBAC.

* X.509 authentication is used within that cluster and `kube-controller-manager` is using a certificate with the following fields:
[code]

* The `--use-service-account-credentials` flag is **not**

[2017-06-28 15:42] antoineco commented on #48208
/sig auth

[2017-06-28 15:42] pwittrock opened #48209 "Find home for utils used by kubectl"
Kubectl depends on several util libraries, and they need to be moved out of the k/kubernetes repo for kubectl to move out without vendoring k/kubernetes.  We are blocked on making progress on this until we have a home for the utils.

@bgrant0607 @lavalamp @smarterclayton @thockin @deads2k @liggitt Would love to get your perspective.

# Move to api-machinery first.  Eventually move all utils in api

[2017-06-28 15:43] pwittrock commented on #48209
cc @apelisse @monopole

[2017-06-28 16:00] cmluciano commented on #46445
/close

[2017-06-28 16:00] #46445 closed

[2017-06-28 16:01] cmluciano commented on #46356
/close

handled in a few PRs. @vishh is working on the tensorflow example

[2017-06-28 16:01] #46356 closed

[2017-06-28 16:05] bgrant0607 commented on #2643
I no longer believe that setting some fields based on values from other fields by default is a good idea, anyway.

[2017-06-28 16:05] #2643 closed

[2017-06-28 16:12] therc commented on #44107
All Nvidia cards support sharing. Some (=recent ones) better than others. We have been sharing them for the past three years in our environment and for more than an year under Kubernetes, starting from G2 (Kepler-class) instances. There's an undocumented hack in pre-1.6 versions, but with recent ones you need ugly patching.
I brought it up in the past, but it's already difficult enough to find an

[2017-06-28 16:13] #48187 closed

[2017-06-28 16:19] danwinship commented on #47486
There is currently no way to specify external IP addresses in NetworkPolicy rules. There has been some discussion about adding it but it's been on hold while we finalized the current NetworkPolicy support.

[2017-06-28 16:31] spiffxp commented on #48181
/sig node

[2017-06-28 16:34] smarterclayton commented on #47597
Yes

[2017-06-28 16:36] #47597 closed

[2017-06-28 16:36] therc commented on #44107
I also mentioned this before, but I'll re-iterate: there is no enforced isolation between computation kernels on the GPU. You should share the hardware only if you know what you are doing and/or trust what you are running.

[2017-06-28 16:38] pmazzuca commented on #33483
Just as a clarification, when will Google Container Engine support 1.7, and the internal load balancer?  And will an organization using the Google VPN to a VPC be able to access the IP of that internal load balancer?

[2017-06-28 16:38] antoineco commented on #48208
*work in progress*

### Missing permissions

#### deployment/replicaset scaling

| apiGroups | resources | verbs |
|--------------|--------------------------------------------|----------------------|
| `extensions` | `replicasets/status`, `deployments/status` | `patch`, `update` |
| `extensions` | `replicasets` | `create` |
| `""` | `pods` | `delete` |

[2017-06-28 16:43] yguo0905 commented on #48064
@mashayev, the envs provided by @dchen1107 should allow you to create a cluster with Ubuntu node image and docker 1.12.6. Does it work?

[2017-06-28 16:54] flx42 commented on #44107
By default, kernels from different processes can't run on one GPU **simultaneously**, they are time sliced. The Pascal architecture brings instruction-level preemption instead of block-level preemption, but context switches are not free.
Also, there is no way of partitioning GPU resources (SMs, memory), or even assignin priorities when sharing a card.

I agree with @therc that there is higher prio

[2017-06-28 16:55] deads2k commented on #48191
Creating the roles seems reasonable.  I don't think I want bindings.  I think the binding should be up the particular deployer.

[2017-06-28 17:02] dchen1107 commented on #48190
I am still processing all the information being linked, and trying to summarize what I understand so far:

* There is a regression in daemonset controller (DSC) in 1.6. Basically there is a simulation introduced in DSC in 1.6, it checks if a given daemonset can be place on a node. If it fails, DSC would not schedule the newly coming daemonset or kill the running one on the node.
* Fluentd is a dae

[2017-06-28 17:06] ironcladlou commented on #21402
As an example of a practical implication, I discovered while working on https://github.com/kubernetes/kubernetes/pull/48065 that `Unstructured` method impls for `Object` cause time fields to be stored in the struct as UTC but retrieved as local times.

[2017-06-28 17:18] mikedanese commented on #48190
The problem is DS treats NoSchedule like it is NoExecute. The minute difference between the effects is NoSchedule taint should allow already running pods that are intolerant to continue running. Today it deletes them.

That was reverted in GCE before 1.6 due to backwards compatibility. The master in GKE doesn't even register.

Poor test coverage for a new feature (NoSchedule in DS introduced in 1.

[2017-06-28 17:19] mikedanese commented on #48190
The change I link includes the missing test coverage.

[2017-06-28 17:24] davidopp commented on #44445
Thanks for the debugging, @gmarek !

[2017-06-28 17:24] davidopp commented on #48190
This definitely needs to be fixed in 1.7. It's a serious bug.

[2017-06-28 17:25] davidopp commented on #48190
And we should cherrypick it into the next 1.6 patch release.

[2017-06-28 17:27] lavalamp commented on #48209
I am *not* in favor of apimachinery becoming a dumping ground for these, even temporarily.

We already got consensus on this a while back in an email thread on kubernetes-dev, I will try to dig it up.

[2017-06-28 17:28] deads2k commented on #48209
Some of these are only used by `kubectl` or logical dependents thereof.  I'd like to see those contained to `kubectl` until and if they are needed by another repo.  For instance:
 1. `k8s.io/kubernetes/pkg/util/i18n`
 2. `k8s.io/kubernetes/pkg/generated` - particularly egregious since it actually include kubectl specific command information
 3. `k8s.io/kubernetes/pkg/util/logs` - the only other de

[2017-06-28 17:35] #47954 closed

[2017-06-28 17:48] yastij commented on #48190
So this one is making it to 1.7 ?

[2017-06-28 17:51] lavalamp commented on #48209
Please look at this email thread: https://groups.google.com/d/msg/kubernetes-dev/jvmDxc29BOw/UElLJhQtBgAJ

[2017-06-28 17:53] ironcladlou opened #48211 "Unstructured represents nil Object fields inconsistently"
/kind bug

During the course of https://github.com/kubernetes/kubernetes/pull/48065, @ash2k [noted](https://github.com/kubernetes/kubernetes/pull/48065#issuecomment-311524304) that Unstructured is storing internal fields backing Object methods inconsistently with regards to nil. For example, SetOwnerReferences omits nil keys from the internal map, while SetInitializers, SetLabels, SetAnnotations,

[2017-06-28 17:58] deads2k commented on #48211
it should omit for nils that are `omitEmpty`, right?

@ash2k I couldn't assign you and @ironcladlou, you're assigned in spirit, so comment away :)

[2017-06-28 18:01] spiffxp commented on #47985
/sig network
because proxy (unsure if this is the right sig)

[2017-06-28 18:01] spiffxp commented on #47978
/sig federation

[2017-06-28 18:02] spiffxp commented on #47874
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-28 18:02] spiffxp commented on #47873
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-28 18:02] spiffxp commented on #47826
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-28 18:02] spiffxp commented on #47825
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-28 18:02] selvik commented on #27056
@mkumatag I see this issue is closed - but wondering if you did find an example that implements an authorization webhook?

[2017-06-28 18:02] dchen1107 commented on #48190
I agreed this is a serious bug, but I am not still clear on why this should have such high severity in production, and we even want to delay the new release v1.7.0 for this last-minute-found regression introduced in v1.6.

Basically the change / fix might have deep impact we might ignore for now under the release pressure. I would rather we speed time on a clear solution with a better test coverag

[2017-06-28 18:02] spiffxp commented on #47696
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-28 18:03] kow3ns commented on #48190
Would it be possible to mark the Pods in question as tolerating the NoSchedule taint to prevent the eviction of Running critical Pods when a Node is tainted with NoSchedule?
If so, could we use this as a valid workaround and defer the implementation of a fix to the next point release?
My concern is the same as @dchen1107, we could potentially introduce instability into 1.7 directly prior to releas

[2017-06-28 18:03] selvik commented on #27056
@ericchiang Hi Eric, following up on your comment from almost a year old (above): Just wondering if you got a chance to share your internal poc implementation of an authorization webhook?

[2017-06-28 18:06] ericchiang commented on #27056
@selvik we ended up just using RBAC. We do have needs to upstream examples of authorization and authentication webhook servers though. Not high priority for me at least right now.

[2017-06-28 18:06] spiffxp commented on #47303
@thockin @mikedanese since you two were active on the linked PR, just an FYI that I'm arbitrarily tagging this with your respective sigs (as gleaned from looking at github team membership); really this seems like another mark in the "sig-cloud" column
/sig network
/sig cluster-lifecycle

[2017-06-28 18:06] spiffxp commented on #47297
/sig instrumentation

[2017-06-28 18:06] spiffxp commented on #45458
/sig apps

[2017-06-28 18:07] spiffxp commented on #45434
/sig cluster-lifecycle
/area platform/gke
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-28 18:07] spiffxp commented on #45380
/assign
closing due to inactivity

[2017-06-28 18:07] spiffxp commented on #45380
/close

[2017-06-28 18:08] spiffxp commented on #48136
@kubernetes/sig-api-machinery-misc unsure if this is the right sig, who would know best about cloud provider stuff?

[2017-06-28 18:09] spiffxp commented on #48156
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-28 18:09] spiffxp commented on #45380
/unassign fejta
/assign

[2017-06-28 18:09] saad-ali opened #48212 "Mount chroot should use host resolv.conf"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
NFS servers referenced via domain name, on GCE/GKE COS fail with:

[code]

**What you expected to happen**:
The mount utility should be able to resolve the domain name.

**How to reproduce it (as minimally and precisely as possible)**:
Refer to an NFS server via domain name.

**Anything else we need to know?**:

Temporary

[2017-06-28 18:09] spiffxp commented on #45380
/close

[2017-06-28 18:09] #45380 closed

[2017-06-28 18:11] spiffxp commented on #48166
/sig cluster-lifecycle
/area platform/gke
/area platform/gce
since we lack a sig-gcp at the moment

/sig cli
most of the tests failing involve kubectl, but I'm not sure this is the root of the failures

[2017-06-28 18:14] selvik commented on #27056
@ericchiang Thank you for the immediate response.
Just after message you, I found this AuthN webhook example: https://github.com/apprenda-kismatic/kubernetes-ldap

[2017-06-28 18:16] erictune commented on #48190
Given that this is in 1.6, IIUC, then deferring the fix to 1.7.1 seems reasonable to me.

[2017-06-28 18:24] bowei commented on #47379
@monopole is on PTO

@dchen1107

[2017-06-28 18:34] luxas commented on #48191
Perfect, that's exactly my proposal.

I'll go ahead and make this change...

[2017-06-28 18:38] nimeshksingh commented on #44445
Looks like this is already all figured out, so just let me know if anyone needs me to provide more info.

[2017-06-28 18:39] davidopp commented on #48190
sig-cluster-lifecycle owns the DaemonSet controller and should make the decision (together with the release team).

@kow3ns We could change the fluentd config to toleration NoSchedule taint, but that would only affect new pods. Not sure if it is worth it if we are going to fix it in 1.7.1.

[2017-06-28 18:43] kargakis commented on #48190
I thought that was sig-apps (or at least a joint effort between the two sigs).

[2017-06-28 18:44] davidopp commented on #44445
Thanks a lot for reporting the problem, @nimeshksingh

[2017-06-28 18:45] davidopp commented on #48190
We need to have every controller owned by a single SIG (of course other SIGs can be "consultants"). I'm going to create a spreadsheet right now and send it out to kubernetes-dev for discussion. But that is for the long-term. For right now, if sig-apps owns the DaemonSet controller, then they should make the decision.

[2017-06-28 18:47] davidopp commented on #48190
(Actually I think we may have had that in the community repo somewhere... I'll look)

[2017-06-28 18:48] kargakis commented on #47862
@cmluciano why is this labeled for sig-apps? I thought port-forwarding is under the purview of network and node sigs, and the fact that there are kubectl changes that need to be made may include cli?

/remove-sig apps
/sig cli

[2017-06-28 19:10] antoineco opened #48213 "Local pods stay around after node deletion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I drained a node and deleted it, both using `kubectl`. The pods started from `--pod-manifest-path` on this node are never removed from the list of running pod.

The `kube-controller-manager` logs show:
[code]

`~$ kubectl get pod -o wide --all-namespaces` (notice pod `kube-proxy-host-192-168-0-11`)
[code]

**What you exp

[2017-06-28 19:10] alph486 commented on #30917
@cmluciano - I have changed the way I use ELBs in my infra. with Kubernetes so I cannot reproduce at the moment.

[2017-06-28 19:12] ravisantoshgudimetla commented on #48176
/cc me

[2017-06-28 19:12] pipejakob commented on #35314
First draft of proposal is [here](https://docs.google.com/a/google.com/document/d/1VUzdWnsvvV6bRCrF7Azrt4xPCErNXRnuV2nrb0By48k/edit?usp=sharing). It references and borrows from the [kubectl extraction plan](https://docs.google.com/a/google.com/document/d/1ELBwwBstbNEK8906Qz5G-A9oqJWluFZIIWModYTHe6w/edit?usp=sharing).

[2017-06-28 19:13] antoineco commented on #48213
/sig node

[2017-06-28 19:29] cmluciano commented on #47862
That is true @kargakis . I keep forgetting that sig/cli is a thing.

[2017-06-28 19:30] kargakis commented on #46504
Should be fixed in 1.7 and also the latest minor version of 1.6

cc: @caesarxuchao

[2017-06-28 19:30] #46504 closed

[2017-06-28 19:30] bjhaid opened #48215 "Exercise etcd connectivity in the /healthz/ping endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

We fenced off an api-server from connecting to etcd, however the `/healthz/ping` endpoint was returning 200

**What you expected to happen**:

The `/healthz/ping` endpoint to exercise connectivity to etcd and return a 500 type response code if it can't connect to etcd since the apiserver is _useless_ without etcd

[2017-06-28 19:31] FrzMe commented on #44107
For our usecase (multiple different Neural networks being evaluated in different containers) all the restrictions you stated would be fine. For us a very basic support in the form of stating how much GPU memory a Container needs (statically if needed) and scheduling to GPUs which still have enough "unclaimed" memory.
We don't need any form of enforcement of constraints or security on the GPUs them

[2017-06-28 19:32] cmluciano commented on #30917
/assign

[2017-06-28 19:33] cmluciano commented on #30917
/close

please re-open if you are still having this problem

[2017-06-28 19:33] #30917 closed

[2017-06-28 19:37] xiangpengzhao commented on #48215
/sig api-machinery

[2017-06-28 19:38] bjhaid commented on #48215
thanks @xiangpengzhao

[2017-06-28 19:47] #48177 closed

[2017-06-28 19:55] #45608 closed

[2017-06-28 20:00] spxtr commented on #48163
Authors couldn't approve no-issue, which was fixed. Dupe of https://github.com/kubernetes/test-infra/issues/3228.

[2017-06-28 20:07] alph486 commented on #30917
@cmluciano  Thanks for giving this issue attn. 👍  Has anyone tried my reproduction steps other than me?

I understand closing if theres reason to believe this was addressed in an interim release. But, just because I am not setup to reproduce again right now doesn't mean that the problem doesn't still exists, or that it is no longer reproducible.

[2017-06-28 20:09] davidopp commented on #48190
Anyway it seems that most people seem to think we should not put the fix in 1.7, but put it in 1.7.1 and cherrypick to the next 1.6 release. I guess that is the right thing to do, but let's make sure the release notes are very clear about this problem.

[2017-06-28 20:12] asac opened #48219 "1.7.0-beta.2 kubelet does not restart containers when /etc/kubernetes/manifests change"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Maybe a feature, most likely a dupe (found a few similar reading issues, some were closed), but since i am on RC i better mention it...

I upgrade from 1.7.0 beta.2 to rc.1 on my arm masternode by:
 + editing  /etc/kubernetes/manifests/kube-apiserver.yaml
 + observing apiserver disappearing from process list
 + observing a

[2017-06-28 20:17] enisoc commented on #48190
As for 1.6, I have been asked to cut 1.6.7 potentially as early as next week to fix another issue (#48108). Keeping in mind the holidays, do you think the fix for this DS issue will be ready to cherrypick by the end of this week? If not, please let me know if you consider this issue severe enough that I should hold the 1.6.7 train for it.

[2017-06-28 20:21] xiangpengzhao commented on #48219
/sig node

[2017-06-28 20:21] davidopp commented on #48190
Well, we need to find a reviewer for #48189.

But since we are releasing 1.7 without this fix, I guess there's no need to hold 1.6.7 for it either.

[2017-06-28 20:29] k8s-merge-robot opened #48220 "Failure cluster [dae0de...] failed 247 builds, 67 jobs, and 1 tests over 1 days"
### Failure cluster [dae0de71647445850754](https://go.k8s.io/triage#dae0de71647445850754)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    67 jobs failed,    247 builds failed.
Failure stats cover 1 day time range '27 Jun 2017 20:13 UTC' to '28 Jun 2017 20:13 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Extract | 67 |

#####

[2017-06-28 20:29] k8s-merge-robot opened #48221 "Failure cluster [20b870...] failed 89 builds, 27 jobs, and 2 tests over 1 days"
### Failure cluster [20b8708fa9f4778dbc86](https://go.k8s.io/triage#20b8708fa9f4778dbc86)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    27 jobs failed,    89 builds failed.
Failure stats cover 1 day time range '27 Jun 2017 20:13 UTC' to '28 Jun 2017 20:13 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| configmap-upgrade | 27

[2017-06-28 20:29] k8s-merge-robot opened #48222 "Failure cluster [d6b0a5...] failed 89 builds, 27 jobs, and 1 tests over 1 days"
### Failure cluster [d6b0a53335b492422646](https://go.k8s.io/triage#d6b0a53335b492422646)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    27 jobs failed,    89 builds failed.
Failure stats cover 1 day time range '27 Jun 2017 20:13 UTC' to '28 Jun 2017 20:13 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| persistent-volume-upgr

[2017-06-28 20:29] k8s-merge-robot opened #48223 "pr:pull-kubernetes-e2e-kops-aws flaked 21 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-kops-aws
 Flakes in the past week: **21**
 Consistency: **97.00%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 9 |
| [k8s.io] InitContainer should not start app containers if init containers fail on a RestartAlways pod | 8 |

<details><summary>Rationale for assignments:</summary>

| Assignee or SIG area | Owns test(s) |
| -

[2017-06-28 20:31] pmichali opened #48225 "IPv6: client-go update to handle IPv6 addresses for PortForwarder"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: When using IPv6 addresses, the kubelet passes the address to client-go, which does not correctly format the address for use in API requests.  For example:

Failed to list *v1.Pod: Get https://2001:129::136:6443/api/v1/pods?fieldSelector=spec.nodeName%3Dnode136&resourceVersi
on=0: dial tcp: too many colons in ad

[2017-06-28 20:32] pmichali commented on #48225
/area client-libraries
/area kubelet
/area ipv6

[2017-06-28 20:32] pmichali commented on #48225
/assign

[2017-06-28 20:36] gmarek commented on #48190
I think we should put it into 1.6.7 - this is an issue people are actually complaining about (I heard about it from multiple sources)

[2017-06-28 20:37] pmichali commented on #48225
The point of failure is here:
[code]

SplitHostPort will accept IPv4 and IPv6 addresses, but the latter must have square brackets around the IPv6 address.

[2017-06-28 20:45] #43794 closed

[2017-06-28 21:19] mengqiy commented on #48164
There may be a bug in conflict detection code.

[2017-06-28 21:19] mengqiy commented on #48164
Thanks for sending a fix. I will review it shortly.

[2017-06-28 21:22] spiffxp commented on #48225
/sig api-machinery
because client-go

[2017-06-28 21:30] danehans opened #48227 "Kubeadm Does Not Properly Form A Master Endpoint When Using IPv6"
kubeadm uses ip:port to create a master endpoint url. This works fine when using an ipv4 address but not for ipv6. According to [rfc 3386](https://www.ietf.org/rfc/rfc3986.txt), an ipv6 address should be encased in brackets when being joined by a port using a colon.

/area kubeadm
/area ipv6

[2017-06-28 21:30] danehans commented on #47666
xref https://github.com/kubernetes/kubernetes/issues/48227

[2017-06-28 21:33] danehans commented on #48227
/sig network
/sig cluster-ops

[2017-06-28 21:44] freehan commented on #47589
Kube-proxy went thru some significant optimization/refactoring in 1.7.

@mikebryant do you see any interesting log lines in `/var/log/kube-proxy.log`?

[2017-06-28 21:45] #46933 closed

[2017-06-28 21:50] dchen1107 commented on #48190
xref: https://github.com/kubernetes/kubernetes/issues/46733

@mikedanese @gmarek can you put together a paragraph to describe this known issue for 1.7.0 and pre-1.6.7 release. Thanks!

[2017-06-28 21:50] enisoc commented on #48190
@gmarek Do you think it's enough for 1.6.7 to cherrypick #48182?

cc @crassirostris

[2017-06-28 22:00] cmluciano commented on #48225
Should we open this on the [client-go](https://github.com/kubernetes/client-go) repository?

[2017-06-28 22:55] shyamjvs commented on #47787
Closing this issue as it is infeasible without breaking API change. Let's reopen it in future if need be.

[2017-06-28 22:55] #47787 closed

[2017-06-28 23:53] smarterclayton commented on #47787
Why bother with "patch individual address"?  I was thinking more of "send
all of subsets as one patch".

On Wed, Jun 28, 2017 at 6:55 PM, Shyam JVS <notifications@github.com> wrote:

[2017-06-28 23:55] smarterclayton commented on #35032
What's the use case for pointing to a service DNS name here?  Is that a service that you are dependent on?

[2017-06-29 00:09] caesarxuchao commented on #45019
/assign @caesarxuchao

[2017-06-29 00:28] ash2k commented on #48211
@deads2k I'm not sure what `omitEmpty` you are talking about? Unstructured does not have any annotations/knowledge about contents of `Object` field so it just serializes it into JSON as is.

[code]
Outputs:
[code]
I think its good to be consistent with how JSON is unmarshalled. Then code that retrieves data from the `map` does not need to handle `nil`s. At least not for primitive values like `int6

[2017-06-29 02:04] dchen1107 opened #48234 "Cross build failed in unsupportedContainerManager"
[code]
It was introduced by https://github.com/kubernetes/kubernetes/pull/48123/files

cc/ @msau42

[2017-06-29 02:05] dchen1107 commented on #48234
cc/ @kubernetes/kubernetes-release-managers

[2017-06-29 02:08] wangycc commented on #47956
I have also encountered the same problem, has not been able to solve.

Kubernetes version (use kubectl version): 1.6.4
Cloud provider or hardware configuration**: AWS
OS (e.g. from /etc/os-release): Centos7.2/Ubuntu 14.04.5 LTS
Kernel (e.g. uname -a):Ubuntu14:"Linux ip-10-100-6-251.cn-north-1.compute.internal 3.13.0-100-generic #147-Ubuntu SMP Tue Oct 18 16:48:51 UTC 2016 x86_64 x86_64 x86_64 GNU/

[2017-06-29 02:12] liaoyw commented on #48174
see #48152  tpr will be removed.

[2017-06-29 02:12] #48174 closed

[2017-06-29 02:14] liaoyw commented on #45334
@bboreham  thanks for the info.
We've refactored our cni plugin.

[2017-06-29 02:14] #45334 closed

[2017-06-29 02:14] msau42 commented on #48234
Only in 1.7 or also 1.8?

[2017-06-29 02:16] wildfire-you commented on #45956
@erikbgithub
Here is the details:
**"Proxy Mode":**
i use the following env variables follow the kubeadm reference: https://kubernetes.io/docs/admin/kubeadm/

export PROXY_PORT=8080
export PROXY_IP=10.18.17.16
export http_proxy=http://$PROXY_IP:$PROXY_PORT
export HTTP_PROXY=$http_proxy
export https_proxy=$http_proxy
export HTTPS_PROXY=$http_proxy
export no_proxy="localhost,127.0.0.1,localaddress,.

[2017-06-29 02:23] xiangpengzhao commented on #48234
PR #48235 sent.

[2017-06-29 02:31] #48234 closed

[2017-06-29 02:48] liggitt commented on #44957
cc @kubernetes/sig-api-machinery-feature-requests

[2017-06-29 03:02] killy001 commented on #48020
@cmluciano  As we all known, docker run commands have an argument is -p or -P to solve the host port random mapping. Now my dockers want to be auto managed by the kubernetes. My dockers have some ports to be exposed such as 880\8080\9090 ，meanwhile there are other applications in the dockers using other ports such as 2379\2380\2381. Now I want to work out the docker exposed port such as 880\8080\9

[2017-06-29 03:52] dchen1107 opened #48239 "ingress-upgrade failed after changing subnetwork"
Last night, all upgrade tests failed with 1.7 builds https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build-1.7/38. For example, the upgrade build https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gce-upgrade-cluster-new&include-filter-by-regex=-upgrade

started failing with build 79. We identified the culprit is subnetwork change: https://github.com/kubernetes/kuberne

[2017-06-29 04:27] lukaseichler commented on #43527
My goal was to monitor the free space(volume max bytes and volume used bytes) on volumes that were created using vSphere.

[2017-06-29 04:32] dchen1107 commented on #48239
culprit pr could be one(s) between commit-075d957b5891ef156cb1f6764187c77b02f4fb41 and commit 65fdb6ffd9e374030db147cfa97e324044eb68c2

[2017-06-29 04:32] MrHohn commented on #48239
Took a quick look at [build log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-cluster-new/86?log#log), seems like the ingress test failed before upgrading master/nodes, which means commits in 1.7 branch might not matter:
[code]

[2017-06-29 04:42] eicnix commented on #43527
My goal was to monitor the free space(volume max bytes and volume used bytes) on volumes that were created using vSphere.

[2017-06-29 04:50] renewooller opened #48240 "Multi port service has kube-proxy iptables that send traffic to wrong pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

bug

**What happened**:
Requests from within a pod, to another pod that was behind a service, were only working intermittently, around 30% of the time. EG from within a busybox pod, I could run:

[code]
Sometimes I would get:
[code]
Other times I would get the expected response:

[code]

I sshed into the node that was running the service and had a loo

[2017-06-29 04:53] MrHohn commented on #48239
Checked the corresponding GCE projects: `gce-up-c1-3-g1-4-up-clu-n` and `gke-up-g1-3-g1-4-up-clu`, etc., found many quota errors:
[code]
So this is likely caused by leaking GCE resources instead of code changes.

[2017-06-29 04:57] liggitt commented on #47977
issue tracking caching headers / etag support is https://github.com/kubernetes/kubernetes/issues/44957

[2017-06-29 05:08] MrHohn commented on #48239
It also seems this failure happened after the upgrade test frequency was increased.

My guess is that by increasing the frequency, there could be multiple clusters running within the same project in the same time. We soon hit the quota limit because each cluster will require backend service quota for ingress (default quota is 5).

[2017-06-29 05:22] xiangpengzhao commented on #48240
/sig network

[2017-06-29 05:26] nicksardo commented on #48239
Cleaning up old resources in the project.

[2017-06-29 05:33] gmarek commented on #48190
That's the most painful part, so I think that should be suffice. Assuming that we'll cut 1.6.8 in not too distant future.

[2017-06-29 05:53] hsluoyz opened #48242 "How to add a custom authorization module for k8s API?"
Hi,

I want to design a custom authorization module based on [Casbin](https://github.com/casbin/casbin) for k8s to mediate API access. Casbin is an access control library that supports ACL, RBAC, ABAC models and auth rules can be persisted in file, DB, KV-store, etc. I think it can provide more flexibility for k8s authorization.

The [auth docs here](https://kubernetes.io/docs/admin/authorization/

[2017-06-29 05:56] hsluoyz commented on #48242
/sig auth

[2017-06-29 06:14] #29025 closed

[2017-06-29 06:19] xiangpengzhao commented on #48240
Can you please show what the endpoint list of your service is?

Try to modify this

[code]

to be

[code]

[2017-06-29 06:26] luxas commented on #48227
@danehans Please open kubeadm issues in the https://github.com/kubernetes/kubeadm repo.
Thanks!

[2017-06-29 06:26] #48227 closed

[2017-06-29 06:42] renewooller commented on #48240
[code]

[2017-06-29 06:47] mashayev commented on #48064
@yguo0905 Yes it works.
I would like to make more changes, But I don't find any good documentation for how to do it properly with `kube-up.sh`. Is there any documentation?

[2017-06-29 06:48] michele opened #48245 "Kubernetes terminating pods without explanation"
/kind bug
/sig apps

**What happened**:

We're stress testing our API which is on a kube (1.5.2) cluster hosted on AWS. It's a blend of Rails and Go microservices.

When sending several hundreds requests per second something strange happens: all involved pods are responding correctly and averaging around 50ms, all seems fine, until some pods are (randomly, I'd say) restarted.

Upon checking the po

[2017-06-29 06:49] gmarek commented on #47787
Isn't that pretty much equivalent to normal update? There's not much data except those addresses.

[2017-06-29 06:52] renewooller commented on #48240
Setting the target port explicitly has no effect.

[2017-06-29 06:53] renewooller commented on #48240
The problem actually is in the iptables set up by kube-proxy.

[2017-06-29 06:54] caesarxuchao opened #48247 "ci-kubernetes-e2e-kubeadm-gce-1-6-on-1-7 failed"
The latest builds failed.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-6-on-1-7/34?log#log

[code]

@gmarek @mikedanese could you help take a look if its a test-infra problem or a real problem?

[2017-06-29 06:56] loewenstein commented on #37838
What is the state of mutable list of containers? Anything outside of this issue I should track?

I am writing a [BOSH CPI for Kubernetes](https://github.com/sap/bosh-kubernetes-cpi-release) and being able to add containers to a running Pod would be a huge step forward (as would be adding volumes to a running Pod).

For those curious, [BOSH](https://bosh.io) is the tool to install [Cloud Foundry](h

[2017-06-29 07:02] michele commented on #48245
/sig apps

[2017-06-29 07:06] caesarxuchao opened #48249 "gci-gke-reboot-release-1-7 is failing"
Looks like the known image corruption issue, https://github.com/kubernetes/kubernetes/issues/47219#issuecomment-307449294, but happened twice in a row.

https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gke-reboot-release-1-7

Failed between 5afafb6f0 and 8bf891dd7.

The diff is: https://github.com/kubernetes/kubernetes/compare/8bf891dd7...5afafb6f0

Only two PRs are in the diffs:
https://

[2017-06-29 07:09] caesarxuchao commented on #48249
cc @dchen1107

[2017-06-29 07:10] selvakumarnms opened #48250 "how to get service token in kuberenetes controller manager to talk to kubernetes API?"
/kind feature
How to get the service token from kubernetes controller manager pod to talk to kuber API?

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardwar

[2017-06-29 07:11] caesarxuchao commented on #48249
cc @ajitak @Random-Liu just in case it's related to the npd version upgrade.

[2017-06-29 07:13] ebbeelsborg commented on #36031
@timstclair @yujuhong I'm interested in working on this if help is still wanted. If so, let me know how you'd like me to proceed. Thanks.

[2017-06-29 07:31] dchen1107 commented on #48249
I quickly looked at the failures and the failure are caused by known docker issue:

[code]
Docker image was corrupted by the force reboot. Those reboot tests are poorly written. No need to worry about it

[2017-06-29 07:31] ash2k commented on #43605
/kind bug

[2017-06-29 07:33] dchen1107 commented on #48249
btw, the latest NPD upgrade in v1.7 is detecting such docker image corruption issue and reporting to API Server. I am expecting the later prs can integrate that results with e2e tests, so that we can filter out such problems.

[2017-06-29 07:33] jiaqianjing opened #48252 "kubectl logs"
**What happened**:
It's looks like time out when I used `kubectl log  xxxx`.But I can get logs  from using `docker logs xxxx` on the work node. I am not sure about principle of `kubectl logs`.
Is it related to flanneld's network?  And my docker log-driver used journald.
How does `kubectl logs xxx` work

**Anything else we need to know?**:

**Environment**:
- Docker version
[code]
- Kubernetes vers

[2017-06-29 07:34] renewooller commented on #48240
Note: I've since also tried:
1. removing 'hostPort' from the container port specs.
2. adding a readiness probe.

eg, now the config is like:
[code]

[2017-06-29 07:45] luxas commented on #48247
/assign @luxas @pipejakob

@caesarxuchao I'm 99% sure this is infra related. We have had issues with quota before for the kubeadm jobs.

The periodic-1.7 job just experienced the same problem, but got up green after three failures, see: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#periodic-kubeadm-gce-1.7

So I think that's fine.

What I'd be more worried about is: https://k8s-gubernator

[2017-06-29 07:46] luxas commented on #48247
job 31 failed with
[code]

on every test. Is this a known flake?

[2017-06-29 08:38] ajitak commented on #48249
@dchen1107 PR https://github.com/kubernetes/kubernetes/pull/48153 integrates NPD event to e2e tests.

[2017-06-29 08:40] u2takey commented on #30603
@erictune i have some question with @gambol99  and @aurcioli-handy , would you pls help to clarify? plus: I cannot  repeat  that "Cool demonstration that DCT is working" by @nhlfr .

[2017-06-29 08:41] xiangpengzhao commented on #48252
/sig cli

[2017-06-29 08:42] timchenxiaoyu opened #48255 "why configmap use link"
I found configmap mount to container use link ../data
but my app can not use soft link. how to solve this?

[2017-06-29 08:43] gmarek commented on #48249
I guess there's actually nothing to do here.

[2017-06-29 08:43] #48249 closed

[2017-06-29 08:45] gmarek commented on #48247
@luxas - it strongly depends on why nodes were not ready.

[2017-06-29 08:49] gmarek commented on #48247
Last two failures, as @luxas wrote are purely test-infra issues. I'll clean up the project.

[2017-06-29 08:59] Pensu opened #48257 "Not getting external IP in nginx-https example"
Hi,

I am trying to run nginx-https example, I am running in on local cluster. Local cluster is being run using ./hack/local-up-cluster script. Now, I am able to run rc and pod and service, but I can't see the external IP in svc.

[code]

Any idea what could be going wrong here? Or where to start debugging?

[2017-06-29 09:00] roberthbailey commented on #489
@timothysc - we are waiting for our proposal to share with sig-node. Have you made any progress getting it started?

[2017-06-29 09:09] gmarek commented on #48247
As for not ready Node - we're missing logs from Nodes, which means it's impossible to tell. I'd assume it's a flake for now, as it's highly unlikely that it's kubeadm related.

[2017-06-29 09:13] narunask opened #48258 "kube-proxy with --kubeconfig flag does not find kubeconfig.yml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network
/area kube-proxy

**What happened**:
[code]

**What you expected to happen**:
`kube-proxy` connected to the API server

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or

[2017-06-29 09:14] luxas commented on #48247
@gmarek Here's the failure: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/framework.go#L350

I don't think this is kubeadm-specific, but it's worth looking into.
The e2e's would never have run if all nodes weren't ready in the first place.
This happened while executing the test and seems like a timeout after 3 mins.

Do we know if the machines were at really heavy load at

[2017-06-29 09:17] xiangpengzhao opened #48259 "Don't update vendor BUILD files when running "hack/update-bazel.sh""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig contributor-experience

**What happened**:
Every time when I need to update BUILD files, I run `hack/update-bazel.sh`.

[code]
Some vendor BUILD files are updated besides my code. Note that only `pkg/util/pointer/BUILD` is what I need.

[code]

**What you expected to happen**:
Don't update vendor BUILD files. These files have nothing to

[2017-06-29 09:18] gmarek commented on #48247
That's not the failure, it's just a report - check if Node is Ready. The failure happened on the Node. In the absence of logs it's pretty much impossible to tell why this happened.

3h27m vs 1h12 is probably cause by - waiting for machine to recover before/after every test. I guess the 3h27m ~timeout.

[2017-06-29 09:24] luxas commented on #48247
Ok, I think this is safe to move out from v1.7 after further digging.
Seems like we have some serious flakiness in the v1.6 branch
All these three jobs that ran release-1.6 e2e's against an release-1.6 control plane nearly at the same time, and flaked heavily:

(I got the data from here: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle)

https://k8s-gubernator.appspot.com/build/kubernetes-je

[2017-06-29 09:27] verb commented on #37838
@loewenstein It's very unlikely this will take the form of a fully mutable list of containers. For the latest design please see kubernetes/community#649. Would something like this meet the requirements for your use case?

[2017-06-29 09:28] luxas commented on #48247
Yeah, indeed. Sorry for the clumsy wording, I meant "BTW; here's the source code line which yielded that message".
And yes, something disruptive must have happened to the Node while executing the e2e's that made it fail. Then all the other remaining tests also failed because they noticed that the node isn't healthy anymore.

[2017-06-29 09:32] mikedanese commented on #48259
Can you post the diff of the BUILD files?

[2017-06-29 09:32] CaoShuFeng opened #48260 "can't impersonat serviceaccounts by cli"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
$kubectl create clusterrole impersonator --resource=users,groups,serviceaccounts --verb=impersonate
error: can not perform 'impersonate' on 'serviceaccounts' in group ''
**What you expected to happen**:
Cli users should be able to impersonate a serviceaccount.

**Anything else we need to know?**:
Now we can impersonate fou

[2017-06-29 09:57] xiangpengzhao commented on #48259
cloud@ubuntu:~/go/src/k8s.io/kubernetes$ git diff
[code]

[code]

[code]

[2017-06-29 09:59] shyamjvs commented on #47787
@smarterclayton Yes, the reason for starting the issue was to do smarter patching than patching the whole list (which is basically the entire ep object). Unless there are some other benefits of patching I might be missing?

[2017-06-29 09:59] narunask commented on #48258
It seems that the following manifest works fine, but it means that I have to mount files from the host on to the pod. Is this expected?

[code]

[2017-06-29 10:06] xiangpengzhao commented on #48258
If you reference https://coreos.com/kubernetes/docs/latest/deploy-workers.html, yes.

See the chapter `Set Up the kube-proxy Pod`
[code]

[2017-06-29 10:18] Pensu commented on #43989
@fejta Hi, I have been able to generate junit files and I have bought google storage and have created a gcs bucket. I understand, I need to add my bucket here: https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config.yaml, but I am not able to get the gcs prefix. Any idea how can I get that? Or what should be the next step?

cc: @ixdy

[2017-06-29 10:22] kargakis commented on #48260
/sig auth
/sig cli

[2017-06-29 10:23] kargakis commented on #48257
/sig apps

Please reopen this issue in https://github.com/kubernetes/examples

[2017-06-29 10:23] #48257 closed

[2017-06-29 10:24] kargakis commented on #48255
/sig node
/kind support

[2017-06-29 10:25] kargakis commented on #48250
/kind support
/sig cluster-lifecycle

[2017-06-29 10:28] luxas commented on #48219
cc @kubernetes/sig-node-bugs PTAL

@asac Did you have the rc.1 image prepulled? Otherwise kubelet probably started pulling the image, which can take some time.

[2017-06-29 10:31] #48258 closed

[2017-06-29 10:31] asac commented on #48219
yes, on apiserver i didnt have it pulled beforehands... but ui waited
_forever_ ... on the scheduler and controller manager i explicitly first
did the docker pull ... but still they didnt come back up...

note that i am editing with vi so it creates the .swp files...

On 29 June 2017 at 12:28, Lucas Käldström <notifications@github.com> wrote:

[2017-06-29 10:54] luxas commented on #48219
That might also be a problem...

[2017-06-29 10:55] xiangpengzhao commented on #48219
I remembered that .swp issue had been fixed.

[2017-06-29 11:10] xiangpengzhao commented on #48219
filename starts with dot issue had been fixed in #45111. xref: #44450 #40331 #40452

[2017-06-29 11:10] xiangpengzhao commented on #40452
ping @thockin for closing fixed issue.

[2017-06-29 11:11] xiangpengzhao commented on #40331
ping @thockin for closing fixed issue.

[2017-06-29 11:12] mikedanese commented on #48259
Can you upgrade your go version to 1.8 to fix this issue? I will look at fixing in bazel for wrong go versions.

[2017-06-29 11:15] xiangpengzhao commented on #48219
Are there any related logs of kubelet?

[2017-06-29 11:22] xiangpengzhao commented on #48259
@mikedanese my go version is 1.8.1

[2017-06-29 11:28] xiangpengzhao commented on #48259
[code]

[2017-06-29 11:37] fgrzadkowski commented on #48071
Than I'd suggest to just implement this. It will give us flexibility on the master, while being extra-safe on the user nodes. WDYT?

[2017-06-29 11:39] pmichali commented on #48225
@cmluciano I see in the client-go repo read me that it states:

Does that confirm that I should do a PR here?

[2017-06-29 11:40] crassirostris commented on #48071
@fgrzadkowski Sure, agree

[2017-06-29 11:42] deads2k opened #48265 "Move pkg/apimachinery/test to apimachinery."
Tests in https://github.com/kubernetes/kubernetes/tree/master/pkg/apimachinery/tests were placed there because they relied on kubernetes types, but the intent of the tests is to test API machinery.  They should be refactored to remove the cycle and moved to unit tests in the `staging/src/k8s.io/apimachinery`.

[2017-06-29 11:42] deads2k commented on #48265
@shiywang

[2017-06-29 11:43] pmichali commented on #48225
One thing that I was wonder, was whether or not the hostname/address provided in the call to getListener, has been validated.
[code]

If so, and it can only be a hostname, IPv4, or IPv6 address as a string, we could just check if there is a ":" in the name to determine IPv6. Otherwise, I could use net.ParseIP(), and net.To4() to determine if IPv6. I'll start working with the latter assumption, but

[2017-06-29 11:53] wasylkowski commented on #47544
I looked into this and all the spurious "GET secrets" calls are caused by hollow node's Volume Manager reconciler loop constantly looping and trying to mount a "secret" volume. As part of this process the "GET secrets" call gets issued. I will probably not have time to look more deeply into this, so I am sharing what I have found so far.

[2017-06-29 11:54] dweidenfeld commented on #16863
+1 same issue with elastic here

[2017-06-29 11:56] mikkiweesenaar commented on #45418
I do see this (cannot describe a cronjob) problem and can reproduce it.

- kubectl version:
[code]

- Cloud provider or hardware configuration: Cluster in AWS, kubectl on macOS
- Kubectl running on macOS Sierra 10.12.5
- Kernel: `Darwin Mikkis-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64`
- Installed tools / others

[2017-06-29 12:09] xiangpengzhao commented on #48222
/sig storage

[2017-06-29 12:16] deads2k commented on #48211
@ash2k whether or not it is present is based on the omitEmpty tag here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L184.  If it isn't omit empty, you should write out an explicit nil.

[2017-06-29 12:17] wasylkowski commented on #47544
As far as I can tell each mount ends up successful, and yet remount is attempted all the time. "Why" is to be investigated.

[2017-06-29 12:18] deads2k commented on #48211
For fields we know about like type and objectMeta, it makes sense to remove.  I'm less certain of fields we don't have knowledge of which may or may not be omitEmpty.  Leaving it up to the caller seems to make sense.

[2017-06-29 12:21] deads2k commented on #48215
Checking to see if you can reach etcd makes sense.  I don't think it should be part of ping though. How about a separate health check which is conditional on having a storage a config which speaks to etcd?

[2017-06-29 12:26] deads2k commented on #48136
No, you can't.

Not us, but I happen to know this one.  The cloud-provider flag only takes one value, not a slice.

@rrati @derekwaynecarr for the "who owns cloud providers" question.

[2017-06-29 12:28] wasylkowski commented on #47544
Newest finding: a call to "rc.actualStateOfWorld.PodExistsInVolume" in the "reconcile" function inside Volume Manager's reconciler.go file results in a "remountRequiredError" error, and this is what is triggering endless remounts.

[2017-06-29 12:36] pmichali commented on #48225
Also, I'm making the assumption that we'd want to make client-go be able to handle IPv6 addresses, rather than having each user of client-go (e.g. kubelet) from ensuring that the IP address is of the right form.

IOW, have client-go add the needed [] around IPv6 addresses, rather than have kubelet do that. My thought is that there may be cases where we want just the IP address and not the modified

[2017-06-29 13:20] armstrongli commented on #45811
@zhouhaibing089  @keyingliu
https://github.com/grpc/grpc-java/pull/2258
there is one dead lock bug in grpc 1.0.0.

[2017-06-29 13:39] ncdc commented on #48136
There have been discussions about how to handle concerns that cut across multiple clouds, but there is not a resolution yet to my knowledge. This would probably be best handled by the proposed sig-cloud (does not exist yet), or better yet, by the proposed sig-architecture (does not exist yet). Supporting multiple cloud providers would touch multiple components, so involving the broader architectur

[2017-06-29 13:40] ashic opened #48268 "Allow adding tolerations to stateful sets"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature Request

/kind feature

I have a yaml file for a stateful set. I'm trying to add a toleration to it.

**What happened**:

When I run kubectl apply -f file.yaml, I get the following error:

[code]

**What you expected to happen**:

I expect the pods to have the specified tolerations applied.

**How to reproduce it (as minimally and precisely as

[2017-06-29 14:08] gmarek commented on #47544
cc @yujuhong - does someone from the Node team have time to look into the mock that we use?

[2017-06-29 14:18] shyamjvs commented on #47544
Is there a reason why we need to send get secret call for each attempt to mount the volume?
I would expect to get it only the first time and then keep it for subsequent retries (until 1 minute after which the secret-manager would anyway re-get).

[2017-06-29 14:25] ReSearchITEng commented on #43856
I faced this and other issues. I have collected solutions for all of them under: https://github.com/ReSearchITEng/kubeadm-playbook/blob/master/reset.yml

e.g. :
For this defect #43856 :
[code]
For defect: #39557 :
[code]

[2017-06-29 14:39] smarterclayton commented on #47787
Conflict detection is done on the server, so round trip latency is lower
and CPU used by deserialization is lower (mostly).  Every round trip to the
API server is expensive because it involves 4 more serialize/deserialize
operations

On Thu, Jun 29, 2017 at 5:59 AM, Shyam JVS <notifications@github.com> wrote:

[2017-06-29 14:53] yastij commented on #48268
/area stateful-set
/sig apps

[2017-06-29 14:54] yastij commented on #48268
/area stateful-apps

[2017-06-29 14:58] kargakis commented on #48268
In 1.6, the pod template spec is locked down to just the image field. It should be possible to update tolerations in 1.7 cc: @kow3ns

[2017-06-29 14:58] #48268 closed

[2017-06-29 15:03] bjhaid commented on #48215
@deads2k

Fair

It would be better to have an health check that exercises whatever storage backend is in use, however if that's too complex maybe having something etcd specific would be okay.

[2017-06-29 15:08] deads2k commented on #48215
I think those would be different health checks.  It is possible to have multiple backends for a single server.  Consider the arguments around events we're having now.

[2017-06-29 15:11] baracoder commented on #40214
I am currently trying to improve utilization of nodes. This would be really helpful.
:+1:

[2017-06-29 15:16] bjhaid commented on #48215
@deads2k how about aggregating health checks for multiple backends into a single endpoint?

[2017-06-29 15:19] deads2k commented on #48215
`/healthz` is already a summary of all health checks.  I'd prefer to keep separate health checks separate and have one level of aggregation.

[2017-06-29 15:21] cmluciano commented on #48020
@kubernetes/sig-network-feature-requests

[2017-06-29 15:23] DirectXMan12 commented on #40214
@smarterclayton it would be SIG instrumentation, but it looks like there's no teams.  I'll ping the SIG leads about it.

[2017-06-29 15:23] bjhaid commented on #48215
`/healthz` returns just bare `ok` on `1.6.1` I can't find any summary information there, is that expected? Or maybe I do not understand what you mean by:

[2017-06-29 15:35] gmarek commented on #47787
OK, I clearly don't understand what you mean by "send all of subsets as one patch". Isn't it pretty much equivalent to plain update (assuming that metadata didn't change), except that instead of using protobuf we'd use JSON?

[2017-06-29 15:35] deads2k commented on #48215
if any constituent health check (see `kubectl get --raw /` for  the list) fails, it shows you the failing name, but not details (avoids leaking information).  Given the name, you can lookup the specific health check failures.  There are maybe a half dozen or so checks on a normal apiserver.

[2017-06-29 15:42] bjhaid commented on #48215
ah makes perfect sense, so how will this be turned into a work stream? ;) I also don't mind taking a stab at implementing it with some guidance

[2017-06-29 15:48] yastij commented on #47243
@janetkuo - this one is still a WIP. Should we wait until #48190 is merged ?

[2017-06-29 15:56] yujuhong commented on #40331
Uh...why @thockin out of the blue...

[2017-06-29 15:56] #40331 closed

[2017-06-29 16:01] jwomeara commented on #46839
Has anyone had a chance to look at this?  We are still experiencing the issue using the configuration I provided.  If you aren't able to recreate the issue, could you please provide a working example that I can use as a sanity check?

[2017-06-29 16:03] caesarxuchao commented on #48247
Thanks for looking into this.

[2017-06-29 16:06] yujuhong commented on #48219
I can't reproduce this. @asac could you post the relevant kubelet log?

[2017-06-29 16:09] JonPulsifer commented on #47525
Same thing with three 1.6.4 clusters this morning, all heapster and kubedns as described above

[2017-06-29 16:13] wongma7 commented on #46839
No, but at a glance your error is not the same as op's. I would open a new issue. Please try the pod+configmap I posted.

[2017-06-29 16:18] lpabon commented on #47966
@julienchastang Quick question, if you have the diff already, why not send a PR?

[2017-06-29 16:24] yujuhong commented on #47544
The TTL of the secrets are defined based on the size of the cluster: https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.1/pkg/controller/ttl/ttlcontroller.go#L104
In a 100 node cluster, TTL is 0.

The storage team may be able to help. /cc @saad-ali

[2017-06-29 16:25] asac commented on #48219
will try to repro and get logs tonight...

On 29 June 2017 at 13:16, Peter Zhao <notifications@github.com> wrote:

[2017-06-29 16:26] jwomeara commented on #46839
I think we're dealing with the exact same issue.  We are both trying to mount a file within a configmap to a specific file location within the container.  You can ignore my config information that I posted though because I tried running with your configuration and got the same error.  My kubernetes version information is the same as what I posted before.

The container log says:
` ls: /etc/config/

[2017-06-29 16:43] enisoc commented on #47243
Updating status shouldn't count as an action. You'll often want to update your status to indicate the state of the world that you (the controller) saw when you decided to take an action. So each action is usually accompanied by a status update as well.

I don't think you need to wait for #48190 to continue working on this. There is a reasonable chance that you won't have conflicts given the part o

[2017-06-29 16:52] xiangpengzhao commented on #40331
When I helped close some other stale issues days ago, I always ping Tim to batch close them. So I also ping him again here :)

[2017-06-29 16:54] xiangpengzhao commented on #40452
ping @yujuhong :)

[2017-06-29 16:59] mengqiy commented on #17667
/assign

[2017-06-29 16:59] yujuhong commented on #40331
I think it makes more sense to ping the people who are already involved (e.g., on this thread) to close the issue. I don't know think we should treat @thockin like a bot ;)

[2017-06-29 16:59] mengqiy commented on #17667
/close
Closing in favor of #17669

[2017-06-29 16:59] #17667 closed

[2017-06-29 17:01] dchen1107 commented on #47379
After we fixed the subnetwork issue, now upgrade are fine:
https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gce-upgrade-master&include-filter-by-regex=-upgrade

There is failure for ingress https://github.com/kubernetes/kubernetes/issues/48239. And the engineer indicates it is caused by the infrastructure underneath.

[2017-06-29 17:02] dchen1107 commented on #47379
I remove this as the release blocker.

[2017-06-29 17:06] smarterclayton commented on #48020
Generally you would use service node ports for this use case, which can be randomly allocated.  Can you describe why host network is required?  We generally would need a very strong reason to add this capability, since it isn't necessarily aligned with the original design goals for pods.

[2017-06-29 17:10] spzala commented on #18584
@thockin Hi Tim, I see that this doc/code syntax is now changed. Is it still a valid issue or we can close it? :) Thanks!

[2017-06-29 17:11] alexcouper commented on #12179
I still experience this behaviour (of `kubectl exec -it` dropping out).

Running kubernetes v1.5.6.

[2017-06-29 17:13] pipejakob commented on #48247
Since the newest run is completely [green](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-6-on-1-7/35), this definitely points at flakiness, but shouldn't block the 1.7 release. Should we open a separate issue to track down the source of flakes?

[2017-06-29 17:16] wongma7 commented on #46839
I say your issue is not the same because op's pod did not start due to mkdir error whereas yours does start but later fails to access the file with permission denied. I suppose the distinction does not matter to you, but since fixing one most likely won't fix the other, I'd prefer a separate issue.

My best guess is that this has something to do with 'defaultMode' not applying to the configmap fil

[2017-06-29 17:17] thockin commented on #36120
I have been writing tests for json-iterator to confirm it works just like
stdlib.  I found a bunch of bugs and they have so far all been fixed.

Benchmarks look really good, without codegen.

My next test will be to patch it into kubernetes and see what still doesn't
work.  I have not tested logic around interfaces.

On Wed, Jun 14, 2017 at 10:06 AM, Clayton Coleman <notifications@github.com>
wrot

[2017-06-29 17:19] deitch commented on #48180
BTW, I think an eminently reasonable approach to this would be a special ConfigMap. Place it in `kube-system` and add a special label to the configmap like `inject=all-namespaces` and it would be injected everywhere.

[2017-06-29 17:25] spiffxp commented on #48220
/sig testing
/sig release
this looks like a bad build?

/assign
closing as a flake

[2017-06-29 17:25] spiffxp commented on #48220
/close

[2017-06-29 17:25] #48220 closed

[2017-06-29 17:33] pwittrock commented on #48209
@mengqiy

cc @kubernetes/sig-cli-maintainers

[2017-06-29 17:34] yastij commented on #47243
@enisoc - yes that's what i assumed. since #48190 is not a blocker, I'll clean up a bit and submit the PR by tomorrow.

[2017-06-29 17:37] pwittrock commented on #48209
@deads2k I am good with moving utils only consumed by kubectl under pkg/kubectl/util.  What about the others?  What is the plan for things used by printers? IIUC, the printer libraries were moved out of kubectl for server-side printing, so things used by the printer libraries can't live in kubectl.

[2017-06-29 17:45] alindeman commented on #45487
I dug into this a bit and the issue for me was that the `HOME` environment variable was empty when kubelet was launched through a systemd unit. While it's not documented this way, loading the configuration from `/root/docker/config.json` or `/root/.dockercfg` requires that `HOME=/root`

[2017-06-29 17:46] caesarxuchao opened #48282 "kubelet cert issue caused serial-release-1-7 failure"
Failed serial test run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1-7/107

node minion-group-bxn4 didn't come back after restart and caused the failure

In the [kubelet log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1-7/107/artifacts/bootstrap-e2e-minion-group-bxn4/kubelet.log), the node w

[2017-06-29 17:49] julienchastang commented on #47966
@lpabon I noticed the contributor documentation is extensive (b/c k8s is such a big project, this is understandable) and I wasn't sure how if I was following the rules. I can send the PR, if you would like. This is no problem. Let me know :-)

[2017-06-29 17:51] deitch commented on #48180
Oh, and I think `podpreset` might do this... if:

1. I can set a `podpreset` across all namespaces
2. I can set a `podpreset` across all pods

As I understand it now, `podpreset` **requires** a selector and is restricted to the namespace it is in.

[2017-06-29 17:55] pwittrock opened #48283 "Determine SIG escalation paths for issues impacting test infrastructure"
As part of the governance discussions we are driving all assets and processes of the Kubernetes project to be owned by SIGs.  Ownership of the test-infrastructure is tentatively defined as owned by sig/testing.  However we need to get consensus on if this is the correct SIG, and define the scope of what the SIG owns.  E.g. configuration of common test jobs, gcp quota, etc

[2017-06-29 17:55] deads2k commented on #48209
I think those are more artifacts of our how our API server handles requests than code that is related to the type structure, serialization, and conversion.  I don't think they belong in apimachinery either.

The mostly likely bit of code you'll want to share (the printer and describe impls themselves for compatibility with older servers) definitely doesn't belong in apimachinery since it is type s

[2017-06-29 17:56] nicksardo commented on #48239
GLBC cannot talk with the apiserver after upgrade, so it doesn't know to delete the ingress. Therefore, HTTP(S) resources leak and cause future tests to break.

I can fix the logic for the test to teardown resources regardless of the GLBC; however, this isn't the root issue. Presumably that's #47379

[2017-06-29 17:57] hogepodge commented on #47966
@julienchastang I created a PR based on the diff in your issue. Please let me know if you'd like me to abandon it so that you can have credit for the work.

[2017-06-29 18:02] spzala commented on #18554
@timstclair Hi Tim, are you still working on it? Since it's been over a year, can you please verify if it's still an issue and close it if not? I notice the struct field is now reduced to around 40 lines. Thanks!

[2017-06-29 18:23] yujuhong commented on #34308
/cc @yguo0905 who's looking into this

[2017-06-29 18:39] nicksardo commented on #48239
/assign

[2017-06-29 18:41] saad-ali commented on #42438
To summarize, the fix for this is in
* 1.7 branch
  *  Releases 1.7.0 and greater
* 1.6 branch
  * Releases 1.6.5 and greater
* 1.5 branch
  * Releases 1.5.8 and greater (1.5.8 has not yet been cut, CC @mwielgus for ETA of that release).
* 1.4 branch
  * Releases 1.4.13 and greater (1.4.13 has not yet been cut, CC @jessfraz for ETA of that release).

[2017-06-29 19:01] foxish commented on #48069
/cc @crimsonfaith91

[2017-06-29 19:14] timstclair commented on #43783
I think setting the pids cgroup limit is the right approach, but the question is how (and whether) to expose this in the API. We could just set a constant value for all containers on a node (configurable as a node flag/config), with a reasonably high value (1000?).

[2017-06-29 19:17] r0fls opened #48285 "Forbidden: may not specify more than 1 volume type"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I was not able to deploy a secret as volume in addition to a PVC.

**What you expected to happen**:
I expected I would be able to.

**How to reproduce it (as minimally and precisely as possible)**:
Mount a pvc and a secret, or any two volume types.

**Anything else we need to know?**:
This is probably just a request fo

[2017-06-29 19:18] r0fls commented on #48285
/sig docs

[2017-06-29 19:19] r0fls commented on #48285
The validator throws that error here: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L392-L601

[2017-06-29 19:35] crimsonfaith91 commented on #46934
/cc

[2017-06-29 19:42] kargakis commented on #42410
This is fixed in 1.7 - the status.replicas field in statefulsets is aligned with the respective field in the rest of the workload controllers.

[2017-06-29 19:42] #42410 closed

[2017-06-29 19:48] #34318 closed

[2017-06-29 19:54] caseydavenport commented on #45790
One more try...

/close

[2017-06-29 19:54] #45790 closed

[2017-06-29 19:55] pmichali commented on #48031
@kargakis Not sure if this is resolving the flake. I'm seeing it on my PR (48276), and I think I saw it on another person's PR. I pulled a fresh branch, based on latest from master. The commit ID (37c9367) for 47014, is 13 commits down from my change.

[2017-06-29 19:56] jeffvance commented on #39910
Can this by reproduced on GCE or GKE following @jingxu97 steps above?

[2017-06-29 19:57] caseydavenport commented on #47642
@fatg1988 did you ever find a resolution to this?  Is it OK if I close this issue?

It seems like if the master has a public IP on one of its interfaces, you can bind to it using the `--bind-address` and `--insecure-bind-address` options.  If the master doesn't have a public IP on one of its interfaces, you'll need to use a load balancer or something to get traffic from the outside world to the ma

[2017-06-29 20:01] yujuhong commented on #43783
We could do that for the pod cgroup. If we want per-container limits, we'll need to add this to CRI.

[2017-06-29 20:22] chanakyacapillary opened #48289 "1.6.6 inter node pod - pod communication not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I am trying to create a cluster of 3 nodes 1 dedicated master and 2 workers in aws with kubectl version 1.6.6 on ubuntu 16.04 LTS using kubeadm.

I followed steps given in this link https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

used weave-net network overlay with the command kubectl create -f https://git.io/w

[2017-06-29 20:23] ahmetb opened #48290 "API documentation (kubectl explain) for readinessProbe.httpGet.port is misleading"
Client/server version: v1.6.4

[code]

Note the `<string>` tag.

When I try to use this as the following in YAML:

[code]

and pass it to `kubectl apply`, I get error:

[code]

When I remove quotes and send to API as `port: 80` (as integer), it works.

It looks like the type information for this field is misleading. Maybe we should have a better error message for intorstring fields.

/sig api-mach

[2017-06-29 20:25] julienchastang commented on #47966
Here you go: https://github.com/kubernetes/kubernetes/pull/48291

[2017-06-29 20:34] MrHohn commented on #48167
This was broke by #47095. I'm working on a fix for this.

/assign

[2017-06-29 20:40] chanakyacapillary commented on #48289
/sig ["area/os/ubuntu", "area/platform/aws"]

[2017-06-29 20:45] chanakyacapillary commented on #48289
/sig aws

[2017-06-29 21:00] Random-Liu commented on #43783
pid cgroup is introduced in linux >= 4.3, and corresponding kernel config is `CONFIG_CGROUP_PIDS`.

If we want to enable this by default, we need to change our [default system spec](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/system/types.go#L125-L146). If we only want to change kubelet to be kernel version aware for this feature, we need to change kubelet to check kernel ve

[2017-06-29 21:10] xiangpengzhao commented on #40331
:D

[2017-06-29 21:13] timstclair commented on #36031
I think I would approach this by adding 2 new types:

[code]

With the original `types.UID` being the type used by the API / unresolved. Any time we resolve (through `TranslatePodUID`) the UID, it should be converted to `ResolvedPodUID`. If we're explicitly operating on the mirror pod, `MirrorPodUID` should be used.

The bulk of this change will be sifting through the code base to figure out which

[2017-06-29 21:15] yujuhong commented on #40331
Oh I checked with @thockin and he did sign up to help close issues like this to encourage people to triage issues :-|

[2017-06-29 21:22] chanakyacapillary commented on #48289
@kubernetes/sig-AWS-misc

[2017-06-29 21:24] xiangpengzhao commented on #40331
Thanks Yuju!

[2017-06-29 21:39] ahmetb commented on #11488
@garethr has just released kubeval: https://github.com/garethr/kubeval. From [his email](https://groups.google.com/forum/#!topic/kubernetes-sig-apps/G3MMHzpJisk) to sig-apps mailing list:

[code]

I am not sure if it validates the values and  other constraints checked on the server-side. Just leaving it here as it might be relevant to the feature discussion. (h/t briangrant for pointing this out).

[2017-06-29 21:40] ixdy commented on #43989
I'm not sure what you mean by "not able to get the gcs prefix". Where are you uploading your test results?

[2017-06-29 21:41] thockin commented on #27398
@MikeSpreitzer says he might be interested in helping here.

[2017-06-29 22:00] timstclair opened #48297 "Replace usage of deprecated prometheus.Handler"
From comment on `prometheus.Handler`:
[code]

Usage in Kubernetes:
[code]

[2017-06-29 22:16] #35354 closed

[2017-06-29 22:16] #32796 closed

[2017-06-29 22:16] #48239 closed

[2017-06-29 22:17] rmmh commented on #43989
gcs_prefix is just the path without gs:// -- "kubernetes-jenkins/logs/ci-kubernetes-e2e-gce" means the directory "gs://kubernetes-jenkins/logs/ci-kubernetes-e2e-gce".

[2017-06-29 22:20] rkamudhan commented on #27398
@sbezverk @MikeSpreitzer Multus with TPR and pod Spec annotation Multiple networks PoC (taken the idea from Kubernetes SIG Multiple Network proposal) will be open sourced tomorrow. Please test them and give your feedback.

[2017-06-29 22:23] mengqiy commented on #48209
Filed a few PRs:
k8s.io/kubernetes/pkg/util: https://github.com/kubernetes/kubernetes/pull/48295
k8s.io/kubernetes/pkg/util/crlf: https://github.com/kubernetes/kubernetes/pull/48298
k8s.io/kubernetes/pkg/util/term: https://github.com/kubernetes/kubernetes/pull/48299

[2017-06-29 22:56] mengqiy commented on #48209
@brendanburns Can we move `k8s.io/kubernetes/pkg/util/i18n` to kubectl?

@deads2k kubefed and [test/e2e/e2e.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L40) also depend on this. Can we move it to client-go?

[2017-06-29 22:57] sbezverk commented on #27398
@rkamudhan nice! Cannot wait to take a stab at it, not to be taken literally ;)

[2017-06-29 22:59] k8s-merge-robot opened #48300 "Failure cluster [b5cef4...] failed 271 builds, 42 jobs, and 1 tests over 1 days"
### Failure cluster [b5cef46ee8806414caa8](https://go.k8s.io/triage#b5cef46ee8806414caa8)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    42 jobs failed,    271 builds failed.
Failure stats cover 1 day time range '28 Jun 2017 22:38 UTC' to '29 Jun 2017 22:38 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 42 |

##### To

[2017-06-29 22:59] k8s-merge-robot opened #48301 "Failure cluster [aee02e...] failed 144 builds, 21 jobs, and 16 tests over 1 days"
### Failure cluster [aee02e0442d98d20850b](https://go.k8s.io/triage#aee02e0442d98d20850b)
##### Error text:
[code]
##### Failure cluster statistics:
16 tests failed,    21 jobs failed,    144 builds failed.
Failure stats cover 1 day time range '28 Jun 2017 22:38 UTC' to '29 Jun 2017 22:38 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services sh

[2017-06-29 22:59] k8s-merge-robot opened #48302 "Failure cluster [383b71...] failed 122 builds, 24 jobs, and 58 tests over 1 days"
### Failure cluster [383b71a24c3d619f44dd](https://go.k8s.io/triage#383b71a24c3d619f44dd)
##### Error text:
[code]
##### Failure cluster statistics:
58 tests failed,    24 jobs failed,    122 builds failed.
Failure stats cover 1 day time range '28 Jun 2017 22:38 UTC' to '29 Jun 2017 22:38 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Networking

[2017-06-29 22:59] k8s-merge-robot opened #48303 "Failure cluster [be986b...] failed 111 builds, 9 jobs, and 6 tests over 1 days"
### Failure cluster [be986b1e2cf1af1a5777](https://go.k8s.io/triage#be986b1e2cf1af1a5777)
##### Error text:
[code]
##### Failure cluster statistics:
6 tests failed,    9 jobs failed,    111 builds failed.
Failure stats cover 1 day time range '28 Jun 2017 22:38 UTC' to '29 Jun 2017 22:38 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services shou

[2017-06-29 23:20] #47641 closed

[2017-06-29 23:30] ethernetdan opened #48305 "upgrade.sh failing"
Some upgrades on the 1.7 branch fail during `upgrade.sh` with:
[code]
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-cluster-new/97/build-log.txt

It looks like a cause of the upgrade failures we are currently seeing on the 1.7 branch is upgrade.sh erroring out, causing tests to be run prematurely.

[2017-06-29 23:34] ethernetdan commented on #48305
@kubernetes/kubernetes-release-managers we should determine if this is a release blocker

[2017-06-29 23:35] kargakis commented on #48290
/remove-sig api-machinery
/sig node

[2017-06-29 23:35] kargakis commented on #48290
/kind documentation

[2017-06-29 23:43] ethernetdan commented on #48305
Worth noting that skew tests show the cluster does come up eventually.

[2017-06-29 23:55] caesarxuchao opened #48306 "Upgrade test should retry draining nodes"
Upgrade failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-cluster-new/97

The master was upgraded, but a later `kubectl drain` failed, then upgrade.sh gave up. I think the `kubectl` commands should retry: https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh#L379

The network did seem to be unstable, when validate-c

[2017-06-29 23:59] caesarxuchao commented on #48305
Does this make sense https://github.com/kubernetes/kubernetes/issues/48306?

[2017-06-30 00:06] moizjv commented on #41711
Yes, I agree it would be great to reopen this.

[2017-06-30 00:07] gg7 opened #48307 "kubectl drain leads to downtime even with a PodDisruptionBudget"
/kind bug

**What happened**:

I ran a demo application:

[code]

Then I defined a `PodDisruptionBudget`:

[code]

Then I executed `kubectl drain --force --ignore-daemonsets --delete-local-data NODE-1`. (I used `--force` because `NODE-1` is a master node)

I monitored the pods with `while true; do date; kubectl get pods -o wide; sleep 1; done`

Output:

[code]

**What you expected to happen**:

I

[2017-06-30 00:11] ethernetdan commented on #48305
@caesarxuchao yup, seems like a reasonable fix

[2017-06-30 00:17] gg7 commented on #48307
@kubernetes/sig-cluster-ops-*
@kubernetes/sig-node-*

/area node-lifecycle
/area app-lifecycle
/area admin

[2017-06-30 00:52] MrHohn commented on #47926
All necessary cherrypicks were merged.

/close

[2017-06-30 00:52] #47926 closed

[2017-06-30 01:39] foxish commented on #48307
@kubernetes/sig-apps-bugs

[2017-06-30 01:41] gyliu513 opened #48315 "Add one valid test case for net.InterfaceAddrs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
This is a follow up for some review comments from @timstclair

https://github.com/kubernetes/kubernetes/pull/46903#discussion_r124653906

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kube

[2017-06-30 01:41] gyliu513 commented on #48315
/sig node

[2017-06-30 01:48] smarterclayton commented on #48209
I'm so looking forward to tens of shared repos.

Printers in the near term are shared, but only depend on apis.

[2017-06-30 02:10] ravilr commented on #43783
RHEL 7.3 has this backported this onto 3.10.0-514 kernel and should be considered against adding blank kernel version check in kubelet.

[2017-06-30 02:35] foxish commented on #48307
If you launched your deployment using `kubectl run my-nginx --image=nginx --port 80 --expose` as you mentioned, it would lead to the pod having label: `run: my-nginx`, and not `app: my-nginx` as you used in your PDB selector.

The PDB selector needs to match the pod's label(s) in order for it to take effect.
One way to verify that your PDB is working as intended is to check its status from `kubect

[2017-06-30 02:38] #48039 closed

[2017-06-30 03:34] cookeem opened #48316 "Make kubeadm deploy HA kubernetes cluster"
/kind feature

/sig area/kubeadm

@kubernetes/sig-cli-*

kubeadm now is not support HA, so we can not use kubeadm to setup a production kubernetes cluster. But create a HA cluster from scratch is too complicated, and when I google keyword "kubeadm HA", only few article or mind draft related tell me how to.

So I try lots of ways to reform "kubeadm init", finally I make kubeadm cluster support HA,

[2017-06-30 04:16] amitopenwriteup opened #48318 "NULLerror: yaml: line 8: mapping values are not allowed in this context"
This is a bug report:

Reproduce steps:

On centos 7 master node, I have executed the following command:

kubectl get nodes
error: yaml: line 8: mapping values are not allowed in this context

Please find the following environment info:

[root@localhost ~]# uname -a
Linux localhost.localdomain 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
[root@localhost ~

[2017-06-30 04:47] spzala commented on #18662
@ihmccreery @sarahnovotny hi, I believe this may not be an issue any more and we can close it? I see kubernetes-announce  is up to date and I guess email notification in place as well? Just a gentle touch base towards efforts on closing open issues as possible. Thanks!

[2017-06-30 05:01] FengyunPan commented on #48094
@zioproto From the "Error deleting load balancer (will retry): Resource not found" of event, I suspect that  you have deleted the neutron resource of service's LB, is it?
Or give me more detail log of kube-controller-manager?

[2017-06-30 06:05] xiangpengzhao commented on #48318
/sig cli
/kind bug

[2017-06-30 06:14] k82cn commented on #47867
For terminated-but-not-yet-deleted & phase is `PodRunning` case, the Pod is still in scheduler's cache, so it's handled well in scheduler; the Pod will be removed from cache when it's deleted. But in kubelet, it filtered terminated-but-not-yet-deleted out (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1783) when using scheduler.predicates.

The option in my mind is t

[2017-06-30 06:14] CallMeFoxie opened #48321 "Namespaces selfLink is missing a path delimiter"
/kind bug

Hi, I think I've run into a wrong selfLink generator, kubernetes 1.6.4 and 1.6.6, did not test 1.7.0 yet.

`curl -sS localhost:8080/api/v1/namespaces/default | jq .metadata.selfLink`
"/api/v1/namespacesdefault"

should be /api/v1/namespaces/default

Whole output:
`{
  "kind": "Namespace",
  "apiVersion": "v1",
  "metadata": {
    "name": "default",
    "selfLink": "/api/v1/namespacesdef

[2017-06-30 06:26] CallMeFoxie commented on #48321
OK it seems to be fine in v1.7.0, can be probably closed :)

[2017-06-30 06:35] xiangpengzhao commented on #48259
More weird things:

This pull-kubernetes-verify job https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48256/pull-kubernetes-verify/37417/ failed with below error:

[code]
Then I ran `hack/update-bazel.sh` locally. But `pkg/util/BUILD` wasn't updated. But some other unrelated BUILD files were updated.

[code]

And then I run `gazel`, `pkg/util/BUILD` was final updated correct

[2017-06-30 06:38] xiangpengzhao commented on #48259
Another nit is that if I run `gazel` followed by any string, e.g. `gazel foo`, the command also works.

[2017-06-30 06:39] CsatariGergely commented on #27398
Cross referencing the design docs from [here](https://docs.google.com/document/d/1TW3P4c8auWwYy-w_5afIPDcGNLK3LZf0m14943eVfVg/edit).

[2017-06-30 06:44] mikedanese commented on #48259
@ixdy @spxtr

[2017-06-30 07:11] xiangpengzhao opened #48325 "Links in v1.7.0 CHANGELOG are all in bad markdown format"
See: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md/#v170

All the links are shown like below format.

`([#39164](https://github.com/kubernetes/kubernetes/pull/39164), [@danwinship](https://github.com/danwinship))`

/cc @dchen1107
@kubernetes/kubernetes-release-managers

[2017-06-30 07:12] xiangpengzhao commented on #48325
/sig release
/kind bug

[2017-06-30 07:15] xiangpengzhao commented on #48325
/cc @caesarxuchao

[2017-06-30 07:15] luxas commented on #48325
@xiangpengzhao Can/will you fix this?

[2017-06-30 07:33] zioproto commented on #48094
@FengyunPan I have not deleted anything in Openstack. The problem is that kubernetes never creates health monitors but then it tries to delete them forever.

this is the log you requested:
[code]

[2017-06-30 07:34] xiangpengzhao commented on #48325
@luxas I'd like to, but TBH, there are so many such broken formats. I haven't find a quick way to fix them yet.

Seems like the root cause is the CHANGELOG of v1.7 is copied from google docs and the original content of the doc isn't raw markdown format. Those links are double linked in the doc.

So IMO we'd better un-link these links in the original doc first.

@caesarxuchao any thoughts?

[2017-06-30 07:35] idvoretskyi commented on #48325
cc @calebamiles

[2017-06-30 08:09] xiangpengzhao commented on #48325
regex saves my life, will send a PR.

[2017-06-30 08:19] CallMeFoxie opened #48327 "Kubernetes v1.6.4 -> v1.7.0 update breaks statefulsets"
/kind bug

**What happened**:
Updated from Kubernetes v1.6.4 environment to v1.7.0 environment with existing statefulsets. After seeing some errors regarding to scheduling I noticed repeated event:

It seems that the statefulset is trying to update all its pods but with something that is immutable. Trying to figure out what and my current best guess is serviceAccount (which was not there previousl

[2017-06-30 08:32] CallMeFoxie commented on #48327
Deleted the first affinity-test-0 POD and this is  the difference between new (affinity-test-0.yaml) and old (affinity-test-1.yaml) PODs, a lot has changed!
https://gist.github.com/CallMeFoxie/91d242d08985add50f42431eef76fd00

[2017-06-30 08:36] FengyunPan commented on #48094
@zioproto Maybe your kubernetes version is incorrect. Can you try it on kubernetes v1.6.4+. My test as following:

[2017-06-30 08:45] yastij commented on #48150
this is still failing randomly (checked today). @timothysc @spiffxp @fejta

[2017-06-30 08:49] xiangpengzhao commented on #48327
/sig apps

[2017-06-30 08:59] hwinkel commented on #27398
very good timing for our projects.

[2017-06-30 09:02] CallMeFoxie opened #48331 "Kubernetes 1.7.0 local storage teardown failed"
/kind bug

Tearing down (for example simple updating pods in stateful set) of local-storage PVC seems to be broken:

W0630 10:46:44.480277   24010 util.go:87] Warning: "/www/adm/kubernetes/root/pods/97513921-5d70-11e7-a549-180373f4ecc0/volumes/kubernetes.io~local-volume/test-affinity-test-1" is not a mountpoint, deleting

I've managed to track it down to
pkg/volume/local/local.go calling through s

[2017-06-30 09:04] kargakis commented on #48307
Single-pod deployments are by definition not HA - k8s can do nothing today about them. Not sure if this is a bug or a feature request.

[2017-06-30 09:10] rahulinux commented on #46331
Any update on this issue ?

[2017-06-30 09:11] zioproto commented on #48094
@FengyunPan I tested with v1.6.4 and I had the same. I am running Openstack Newton. Are you running the same version of Openstack as well ? thank you

[2017-06-30 09:12] gyliu513 opened #48332 "Security hole when use NodePort to access service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

There is a security hole when using the host NodePort mode service:

1) Create a service and use NodePort.
2) After the service created, normal user will get the host IP address and one NodePort which in 31000 - 32000
3) Normal user can use tool to access this node IP with other port which in 31000 - 32000 as well, it is not safe.

[2017-06-30 09:14] CallMeFoxie commented on #48331
/sig storage

[2017-06-30 09:14] gyliu513 commented on #48332
/sig network
/sig node

[2017-06-30 09:17] gg7 commented on #48307
@foxish Good point, thanks!

I've changed the PDB:

[code]

I also added `spec.minReadySeconds = 10` to the my-nginx deployment.

Now `kubectl drain` gets stuck:

[code]

This was executed 5+ minutes ago and there's still a single my-nginx pod running on the cordoned node.

[2017-06-30 09:18] CallMeFoxie commented on #48331
The dirt fix is to call unmount on the mounter directly as if it fails it returns False anyway:
`
diff --git a/pkg/volume/local/local.go b/pkg/volume/local/local.go
index bf23136..a0629c6 100644
--- a/pkg/volume/local/local.go
+++ b/pkg/volume/local/local.go
@@ -28,7 +28,6 @@ import (
 	"k8s.io/kubernetes/pkg/util/mount"
 	"k8s.io/kubernetes/pkg/util/strings"
 	"k8s.io/kubernetes/pkg/volume"
-	"k8

[2017-06-30 09:19] vdm commented on #47125
workaround: using xfsprogs installed as daemonset on container-vm nodes. https://medium.com/@allanlei/mounting-xfs-on-gke-adcf9bd0f212

[2017-06-30 09:20] FengyunPan commented on #48094
Yes, it work fine.

[2017-06-30 09:22] gg7 commented on #48307
@kargakis

Kubernetes knows how to deploy single-pod applications with no downtime with a rolling update. I'm not expecting HA in case of a server crash, but I expect `kubectl drain` to be more intelligent. You can consider this a feature request, but I'm surprised that this hasn't been implemented already. Should I open a separate issue for that?

[2017-06-30 09:27] xiangpengzhao commented on #48321
/sig api-machinery

[2017-06-30 09:38] gg7 commented on #48307
If I pass `--timeout=90s` to `kubectl drain` it fails, as it should:

[code]

[2017-06-30 09:54] tfuentes commented on #47893
I have have the same problem. My kubernetes is running in a GCE. Cluster and nodes have v1.6.4. Pods are Debian.

Any updates?

[2017-06-30 09:59] whitecolor commented on #37471
This I have on Windows 10 WSL, when trying to run `kubectl.exe` windows version.

[2017-06-30 10:03] cheld commented on #23233
@luxas FYI

in Dashboard we have requests to allow some kind of plugin extentions. Such extentions typically, need a backend to be deployed. e.g. Weave Scope https://github.com/kubernetes/dashboard/pull/1949

We had some internal discussion, if Dashboard should deploy such backend containers in case a user enables a plugin. However, I see some overlap with this proposal.

Currently, we tend to not

[2017-06-30 10:10] gjcarneiro commented on #48307
One thing is highly available in case of a hardware problem.  Yes, in this case if the machine dies you get downtime if you only have one replica.  Server hardware failures are rare enough that we can live with a couple of minutes of downtime when they happen.

Another thing is a planned maintenance on a node: it should be fairly simple to make sure extra pods are started elsewhere _before_ we shu

[2017-06-30 10:11] obeattie commented on #41916
This can be fairly easily reproduced:

1. Start the `kubelet` and allow it to go `Ready`
2. Insert iptables rules to drop packets destined for the apiserver:
[code]
3. Observe the node transition to `NotReady` as reported by the apiserver
4. After ~20 minutes, the `kubelet` will log a lot of things like
[code]

[2017-06-30 10:18] kargakis commented on #48307
No assumptions are made regarding availability on single-pod controllers with the API today. What if the extra pod that you want to surge by default violates the quota given to a user? Are we going to block a cluster upgrade on such a scenario? It's unlike that most admins would like that. Opening a proposal in the community repo of an open source project is not science either :)

[2017-06-30 10:33] shyamjvs commented on #48107
@freehan It's failing continuously (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-cluster/10/artifacts/e2e-enormous-cluster-minion-group-01nl/kube-proxy.log)

[2017-06-30 10:34] gjcarneiro commented on #48307
Yes, I realise I was a bit condescending in my last remark.  Apologies for that.

Well, I would say, at least _attempt_ to create the extra pod; if it fails, it fails, give up after some time, but at least we tried, and it probably will work in most cases.

[2017-06-30 10:41] YouriT commented on #47125
@vdm the problem is to go back to COS as container-vm has been deprecated and will be removed in September. Hence this is not an option.

[2017-06-30 10:53] idvoretskyi commented on #47125
/area area/platform/gce

[2017-06-30 10:54] idvoretskyi commented on #47125
/area platform/gce

[2017-06-30 11:04] FengyunPan commented on #48094
Add pr #48336 to prevent the deletion of empty monitors.

[2017-06-30 11:48] deads2k commented on #48209
Those two can depend on kubectl

[2017-06-30 12:29] caruccio commented on #45191
Does it explains why I'm seeing some ceph volumes to corrupt the filesystem after a forced unlock?

[2017-06-30 13:05] RiaanLab commented on #45727
I have the exact same logs being generated. Everything else seems to work as expected.

[2017-06-30 13:15] Aleishus opened #48342 "Building k8s 1.7.0 use docker on mac failed"
/kind bug
/sig cli

I use the script "build/run.sh make" to build k8s 1.7 failed . My os is Osx 10.12.5 and I user docker for mac to build .
I find  the function in script  "https://github.com/kubernetes/kubernetes/blob/v1.7.0/build/common.sh" has some problem.
[code]
if the container does not exist  ,the command `docker wait $1` will wait forever.
my docker version is :
[code]

[2017-06-30 13:28] dixudx commented on #48332
This is inevitable. As long as we know the IP, we can scan the host to discover the ports and services, using tools like **nmap**. For such exposed services, TLS + AuthX are better added.

[2017-06-30 13:33] castrojo commented on #48316
/sig cluster-lifecycle

[2017-06-30 13:44] jkemp101 commented on #34356
This is still happening on my clusters but they are version `1.4.8`.  Haven't checked it on anything newer yet.  Feel free to close if you think its likely fixed in the latest versions.

[2017-06-30 13:45] castrojo commented on #48250
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 13:45] castrojo commented on #48250
/assign

[2017-06-30 13:45] castrojo commented on #48250
/close

[2017-06-30 13:45] #48250 closed

[2017-06-30 13:47] Aleishus commented on #48342
/kind bug
/sig cli

[2017-06-30 13:48] castrojo commented on #48255
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 13:48] castrojo commented on #48255
/assign

[2017-06-30 13:48] castrojo commented on #48255
/close

[2017-06-30 13:48] #48255 closed

[2017-06-30 13:48] castrojo commented on #47648
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 13:49] castrojo commented on #47648
/assign

[2017-06-30 13:49] castrojo commented on #47648
/close

[2017-06-30 13:49] #47648 closed

[2017-06-30 13:52] castrojo commented on #32488
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 13:52] castrojo commented on #32488
/assign

[2017-06-30 13:52] castrojo commented on #32488
/close

[2017-06-30 13:52] #32488 closed

[2017-06-30 13:55] castrojo commented on #42621
/assign

[2017-06-30 13:55] castrojo commented on #42621
/close

[2017-06-30 13:55] #42621 closed

[2017-06-30 13:55] luxas commented on #48316
@cookeem Thank you for this proposal and issue! We're actively looking into how we can improve HA compability for kubeadm this cycle, see https://docs.google.com/document/d/1lH9OKkFZMSqXCApmSXemEDuy9qlINdm5MfWWGrK3JYc

Also, please note the upgrades proposal here which is a goal for v1.8: https://docs.google.com/document/d/1PRrC2tvB-p7sotIA5rnHy5WAOGdJJOIXPPv23hUFGrY

And see out meeting notes: ht

[2017-06-30 13:55] #48316 closed

[2017-06-30 13:56] luxas commented on #48305
Can this issue be closed?

[2017-06-30 14:04] castrojo commented on #45400
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 14:04] castrojo commented on #45400
/assign

[2017-06-30 14:04] castrojo commented on #45400
/close

[2017-06-30 14:04] #45400 closed

[2017-06-30 14:04] castrojo commented on #44593
/remove-kind support

[2017-06-30 14:05] #48325 closed

[2017-06-30 14:05] castrojo commented on #44370
/remove-kind support

[2017-06-30 14:06] castrojo commented on #44043
/remove-kind support

[2017-06-30 14:07] ianchakeres commented on #48331
I experienced this issue while writing some e2e tests - https://github.com/kubernetes/kubernetes/pull/47999

These tests can be used to reproduce the issue on GCE.

The run-one-command pod tests succeed (e.g. "when one pod requests one prebound PVC), while the pods that are created and deleted independently end up encountering this bug.

For example,
Context("when two pods request one prebound PVC

[2017-06-30 14:08] castrojo commented on #42301
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 14:08] castrojo commented on #42301
/assign

[2017-06-30 14:08] castrojo commented on #42301
/close

[2017-06-30 14:08] #42301 closed

[2017-06-30 14:10] castrojo commented on #18190
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 14:10] castrojo commented on #18190
/assign

[2017-06-30 14:10] castrojo commented on #18190
/close

[2017-06-30 14:10] #18190 closed

[2017-06-30 14:11] castrojo commented on #19610
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 14:11] castrojo commented on #19610
/assign

[2017-06-30 14:11] castrojo commented on #19610
/close

[2017-06-30 14:11] #19610 closed

[2017-06-30 14:11] castrojo commented on #19701
/remove-kind support

[2017-06-30 14:14] castrojo commented on #19825
/remove-kind support

[2017-06-30 14:16] castrojo commented on #22581
/remove-kind support

[2017-06-30 14:17] castrojo commented on #22718
/remove-kind support

@petems Is this still an issue? Should we close this? Thanks!

[2017-06-30 14:19] castrojo commented on #22778
This issue is over a year old, do you still have this issue with newer versions of kubernetes? Should we close this issue? Thanks!

[2017-06-30 14:19] castrojo commented on #22981
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 14:19] castrojo commented on #22981
/assign

[2017-06-30 14:19] castrojo commented on #22981
/close

[2017-06-30 14:19] #22981 closed

[2017-06-30 14:23] CallMeFoxie commented on #48331
I am unsure if this fix fixes the GCE issues as well as I've never used GCE (or AWS for that matter) but it seems to fix it for self hosted kubernetes.

Can make it into PR if it's a reasonable fix? Only unsure about the err at opening /proc/mounts - not sure how it behaves on GCE/AWS/within docker.

[2017-06-30 14:24] castrojo commented on #23535
I'm going to close this since @jimmycuadra 's solution works. If someone wants to submit an edit to the stackoverflow question with a link to the docs page that would help making this solution easier for everyone to find, thanks!

[2017-06-30 14:24] castrojo commented on #23535
/assign

[2017-06-30 14:24] castrojo commented on #23535
/close

[2017-06-30 14:24] #23535 closed

[2017-06-30 14:28] macpoint commented on #22778
@castrojo yes, closing

[2017-06-30 14:28] #22778 closed

[2017-06-30 14:31] castrojo commented on #26477
/remove-kind support

[2017-06-30 14:32] castrojo commented on #25241
/remove-kind support

[2017-06-30 14:32] ianchakeres commented on #48331
@CallMeFoxie - Let's reuse listProcMounts(procMountsPath) to get all the info from /proc/mounts.

Yes. Let's get a PR, and I'll test it on GCE.

You want to submit the PR or should I?

[2017-06-30 14:35] asac commented on #48219
ok i tailed syslog right before i edited manifest to change apiserver from rc.1 to final 1.7.0...

again apiserver didnt come back.... (i pulled the docker image before). here the syslog part....

[code]

[2017-06-30 14:36] castrojo commented on #25174
/remove-kind support

[2017-06-30 14:37] castrojo commented on #24944
/assign

Closing this due to inactivity, op please reopen if you can reproduce on the latest version, thanks!

[2017-06-30 14:37] castrojo commented on #24944
/close

[2017-06-30 14:37] #24944 closed

[2017-06-30 14:37] castrojo commented on #24914
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 14:37] castrojo commented on #24914
/assign

[2017-06-30 14:37] castrojo commented on #24914
/close

[2017-06-30 14:37] #24914 closed

[2017-06-30 14:37] deads2k opened #48345 "Bootstrap token should not be valid if deletiontimestamp is set"
Resources can be deleted, but still exist in the API before they are reaped.  They should not be valid during this time.

[2017-06-30 14:38] castrojo commented on #24879
/assign

Closing this due to inactivity, reporter please reopen if you find any new information, thanks!

[2017-06-30 14:38] castrojo commented on #24879
/close

[2017-06-30 14:38] #24879 closed

[2017-06-30 14:39] asac commented on #48219
attaching long log that covers 4 minutes in case you want more....
[longlog.txt](https://github.com/kubernetes/kubernetes/files/1115541/longlog.txt)

[2017-06-30 14:40] asac commented on #48219
then stopping kub
[restartlog.txt](https://github.com/kubernetes/kubernetes/files/1115545/restartlog.txt)
elet and starting it makes it start api server... attaching a log of that start. while the apiserver is not fully up at the time i stop the log, it is already running...

[2017-06-30 14:42] castrojo commented on #25194
/assign

This seems to be an openshift specific issue so I'm going to close this.

[2017-06-30 14:42] castrojo commented on #25194
/close

[2017-06-30 14:43] #25194 closed

[2017-06-30 14:43] asac commented on #48219
here the last few lines of that log when the kubelet finally stops complaining about api server not reachable anymore...
[restartlog-end.txt](https://github.com/kubernetes/kubernetes/files/1115560/restartlog-end.txt)

[2017-06-30 14:44] castrojo commented on #41686
/assign

I'm going to close this due to inactivity, reporter, when you have new information please feel free to reopen this bug, thanks!

[2017-06-30 14:44] castrojo commented on #41686
/close

[2017-06-30 14:44] #41686 closed

[2017-06-30 14:48] castrojo commented on #43974
/remove-kind support

[2017-06-30 14:48] castrojo commented on #46568
/remove-kind support

[2017-06-30 14:49] castrojo commented on #46766
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 14:49] castrojo commented on #46766
/assign

[2017-06-30 14:50] castrojo commented on #46766
/close

Here's the link to sig-cluster ops if you want to follow up with them, thanks! https://github.com/kubernetes/community/tree/master/sig-cluster-ops

[2017-06-30 14:50] #46766 closed

[2017-06-30 14:51] castrojo commented on #47120
/remove-kind support

[2017-06-30 14:51] castrojo commented on #47392
/remove-kind support

[2017-06-30 14:52] xiangpengzhao commented on #48219
Notice that there is a line in the log:
[code]

What's the 4913 manifest file?

[2017-06-30 14:53] luxas commented on #48345
I'll add this to my pile. Thanks @deads2k for filing :+1:

FYI @ericchiang @jbeda

[2017-06-30 14:53] luxas commented on #48345
FYI @wanghaoran1988 as well

[2017-06-30 14:54] castrojo commented on #40273
/remove-kind support

[2017-06-30 14:55] castrojo commented on #39602
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-06-30 14:55] castrojo commented on #39602
/assign

[2017-06-30 14:55] castrojo commented on #39602
/close

[2017-06-30 14:55] #39602 closed

[2017-06-30 14:58] asac commented on #48219
Good question... right now (e.g. right after starting kubelet again through
systemctl restart kubelet) its NOT THERE anymore and I definitely didnt put
i there manually.

Feels like a PID?

On 30 June 2017 at 16:54, Peter Zhao <notifications@github.com> wrote:

[2017-06-30 14:58] castrojo commented on #22179
/remove-kind support

[2017-06-30 15:02] castrojo commented on #22145
I think you'd get a better response if you posted this to the sig apps mailing list directly: https://groups.google.com/forum/#!forum/kubernetes-sig-apps

As this is more of a deployment/configuration request and not a bug I'm going to close this, thanks!

[2017-06-30 15:02] castrojo commented on #22145
/assign

[2017-06-30 15:02] castrojo commented on #22145
/close

[2017-06-30 15:02] #22145 closed

[2017-06-30 15:09] castrojo commented on #29643
I think this sort of discussion is best had on the list as things have a changed a bunch since this issue was opened. There's a SIG for AWS here where you can find other people on AWS that will be able to give you best-practice information: https://github.com/kubernetes/community/tree/master/sig-aws

Also check this out: https://github.com/kubernetes/kops/blob/master/docs/cluster_upgrades_and_migr

[2017-06-30 15:09] castrojo commented on #29643
/assign

[2017-06-30 15:09] castrojo commented on #29643
/close

[2017-06-30 15:09] #29643 closed

[2017-06-30 15:13] xiangpengzhao commented on #48219
Yeah, seems like. That's odd.

@yujuhong any ideas?

[2017-06-30 15:22] ianchakeres commented on #48331
Here's the code I'm testing.
[code]

[2017-06-30 15:23] jbeda opened #48346 "Label/Annotation should be used to identify node targets for cloud LB"
/kind feature

Right now when a cloud load balancer is created via a Service `type=LoadBalancer` it will use many nodes in the cluster as targets.  The current algorithm is to use all nodes except for those that have the "master" annotation (see https://github.com/kubernetes/kubernetes/pull/44745).

We should have an explicit label (or annotation) that controls this.  This will enable both (a) a s

[2017-06-30 15:27] FengyunPan opened #48347 "The cloud-config-file is hard to use"
User can not specify --cloud-config for cloudprovider correctly and failed to create/use cloud resource,  it is necessary to add document into kubernetes.github.io and add code to check file before init cloudprovider, 	instead of returning error when create/use cloud resource.

Common Problems：

nginx-service-lb2   10.254.167.38    <pending>          8000:32175/TCP   3m
-bash-4.3# kubectl describe

[2017-06-30 15:29] FengyunPan commented on #48347
/sig openstack

[2017-06-30 15:46] m1093782566 commented on #35145
From my understanding, this PR only make sure that Node Controller won't force delete pod. And I think administrator still has the permission of force delete pod by specifying `--grace-period=0` in `kubectl delete pod` command, right?

If user is unable to delete pod using kubeclt, it should be unexpected and possibly something is wrong?

[2017-06-30 15:47] bgrant0607 commented on #170
If we had API support for apply (#17333), PodPreset could mutate the template spec without changing the user's intent.

[2017-06-30 15:51] ilackarms opened #48349 "Add API endpoint to allow Pre-pulling an image to node(s)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature request

/kind feature

**Anything else we need to know?**:
Cold start (first pod pull / launch) can be very slow, especially for large images. It would be nice to be able to pre-pull the image to any/all nodes in the cluster (expose the CRI PullImage through the kubelet, bubble it up through the apisever). Currently as a workaround I have to r

[2017-06-30 15:54] ReSearchITEng opened #48350 "case sensitive storageclass.beta.kubernetes.io/is-default-class"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
/kind bug

**What happened**:
storageclass.beta.kubernetes.io/is-default-class is working as default when it's set to:
storageclass.beta.kubernetes.io/is-default-class: true

but is not working as default when set to True
storageclass.beta.kubernetes.io/is-default-class: True
**What you expected to happen**:
case insensitive, and work also w

[2017-06-30 15:56] thockin commented on #48209
I think the ideal state is that `k8s.io/util/*` holds a set of libs that are really plausibly generic, well tested, well factored, and meet some minimum complexity bar (e.g. Int32Ptr maybe doesn't.  StringSlice probably doesn't).

I'm less concerned about whether it has a single user, though obviously more is better.

[2017-06-30 15:56] luxas commented on #48349
This should not be about the client implementing the feature but about the server implementing the feature as we discussed. Please update the description accordingly

[2017-06-30 16:01] ReSearchITEng commented on #48350
/sig storage /sig/storage

[2017-06-30 16:06] apelisse commented on #48209
and maintain backward compatibility.

[2017-06-30 16:16] crassirostris commented on #48071
@fgrzadkowski OK, after carefully thinking about it, I found some problems that makes this effort more complex:

* As a result of https://github.com/kubernetes/kubernetes/issues/44445, https://github.com/kubernetes/kubernetes/pull/45715 and https://github.com/kubernetes/kubernetes/pull/48182 fluentd cannot be repelled by the master taint
* There's nothing to use to schedule a pod to master only, l

[2017-06-30 16:19] foxish commented on #35145
It needs the --grace-period=0 and the --force flags IIRC

On Jun 30, 2017 8:47 AM, "DuJun" <notifications@github.com> wrote:

[2017-06-30 16:25] hongchaodeng commented on #2630
What's the progress on this?
How can we access PV if using non-root users?

[2017-06-30 16:30] thockin commented on #48209
Any changes in API would have to be pre-factored before moving it out.
Once we move it out, APIs are basically done.

On Fri, Jun 30, 2017 at 9:07 AM, Antoine Pelisse <notifications@github.com>
wrote:

[2017-06-30 16:30] luxas commented on #48349
cc @kubernetes/sig-node-feature-requests

@ilackarms Could you still elaborate in the description what you want?
Describe what a "Pull API" in the Kubelet API could look like, etc.

[2017-06-30 16:42] yujuhong commented on #48219
Nope.

Some suggestions to help diagnose the issue:
 1. Try to reproduce this again, and check your `/etc/kubernetes/manifests/` directory to see what files are present.
 2. Try avoiding editing in place to see if that resolves the problem. Copy the manifest file to some other place, modify it, and copy it back to the `/etc/kubernetes/manifests`.

BTW, it'd be better to include the logs prior to t

[2017-06-30 16:46] yujuhong commented on #43783
I think it's important to have a safeguard against issues like this. Marking this v1.8 milestone tentatively.

[2017-06-30 16:55] grosskur commented on #44951
I'm also hitting this issue. Can the fix be backported to the next 1.6.x release?

[2017-06-30 17:02] ilackarms commented on #48349
@luxas

we have [`ImageManagerService.PullImage`](https://github.com/kubernetes/kubernetes/blob/f75478875a3a60fb7eec7e5891c06ea0bf1832b1/pkg/kubelet/apis/cri/services.go#L108)  which is currently only invoked (afaict) in  [`kubeGenericRuntimeManager.startContainer`](https://github.com/kubernetes/kubernetes/blob/df41787b1a3f51b73fb6db8a2203f0a7c7c92931/pkg/kubelet/kuberuntime/kuberuntime_container.

[2017-06-30 17:18] luxas commented on #48349
@yujuhong @Random-Liu ^

[2017-06-30 17:26] grosskur commented on #44951
Ah, OK, this has already been backported to 1.6.x. See https://github.com/kubernetes/kubernetes/commit/f880b0a499773e692b0470414eff11f81547f386 and https://github.com/kubernetes/kubernetes/commit/2cc0dbe571fbb5bb8c64213ad8811af3e8d83cf6.

[2017-06-30 17:30] berchtos commented on #34364
@kerneltime I agree with you this should be more widely discussed to handle a cloud provider backend failure. Even though you're running vCenter in HA, whenever you perform maintenance (ie. patching), it will force you to take your kubernetes cluster offline.

We're having the same issue in our environment. Whenever vCenter is unavailable it causes the kubernetes cluster to freak out (first the no

[2017-06-30 17:35] spxtr commented on #48349
@kubernetes/sig-node-feature-requests

[2017-06-30 17:36] spxtr commented on #48349
@kubernetes/sig-node-feature-requests

[2017-06-30 17:36] spxtr commented on #48349
@kubernetes/sig-node-feature-requests

[2017-06-30 17:37] spxtr commented on #48349
@kubernetes/sig-node-feature-requests

[2017-06-30 17:37] divyenpatel opened #48352 "Need to automate process for enabling cloud provider on existing Kubernetes cluster"
**Is this a request for help?**  Yes

**What happened**:
We have 50 node Kubernetes cluster, and we want to enable cloud provider feature on existing cluster, currently, we are going to each node and change manifest files for API server, Controller-manager, and Kubelet.  We also restart API server, controller, and Kubelet. All of this actions requires Administrator to manually login into each node

[2017-06-30 17:39] jingxu97 commented on #45191
@caruccio Could you provide more details about your issue? Do you have some steps to trigger the corruption? Thanks!

[2017-06-30 17:42] divyenpatel commented on #48352
/sig cluster-lifecycle

[2017-06-30 17:56] jingxu97 commented on #48212
I actually have an old PR for this #42376, somehow it got skipped.

[2017-06-30 18:03] kzka90 commented on #37518
This is still a issue.

[2017-06-30 18:06] pmichali commented on #47666
@ivan4th I'm seeing the same issue. I get the same docker error with graphdriver, when kubeadm init starts.

OS: cat /etc/centos-release
CentOS Linux release 7.3.1611 (Core)

kernel: 3.10.0-514.26.1.el7.x86_64

Docker version:
Client:
 Version:      17.06.0-ce
 API version:  1.30
 Go version:   go1.8.3
 Git commit:   02c1d87
 Built:        Fri Jun 23 21:20:36 2017
 OS/Arch:      linux/amd64

Serve

[2017-06-30 18:06] pmichali commented on #47666
@ivan4th Any thoughts as to what I can try to get this working?

[2017-06-30 18:11] pmichali commented on #47666
@ivan4th I saw another issue as well. When I use the BUILD_KUBEADM and BUILD_HYPERKUBE flags it creates the image, and then tries to get rid of the docker container (kill and wait), but there is no container running, so it hangs forever.

[2017-06-30 18:13] hwinkel commented on #27398
@rkamudhan keep in mind that 1.7 is moving from TPR to CRD:

https://kubernetes.io/docs/tasks/access-kubernetes-api/migrate-third-party-resource/

[2017-06-30 18:17] deedubs commented on #39532
Definately interested in the answer to @deads2k's question about `/healthz` auth as it pertains to https://github.com/kubernetes/kops/issues/1647

[2017-06-30 18:19] yujuhong commented on #44043
@castrojo could you explain why you remove the label?

[2017-06-30 18:23] deads2k commented on #39532
We decided to make `/healthz` non-confidential and protect its sub-checks. It returns ok or a list of just names and pass/fail without any details.  It has been added to the system:discovery role.

[2017-06-30 18:25] castrojo commented on #44043
Yep, kind/support is deprecated, there's only a handful of them left with this label so I'm helping clean them up: https://groups.google.com/forum/#!topic/kubernetes-wg-contribex/vfHAHhHFBDg

[2017-06-30 18:25] shyamjvs commented on #47419
Linking issue https://github.com/kubernetes/kubernetes/issues/47344

[2017-06-30 18:27] shyamjvs commented on #47899
Linking issue https://github.com/kubernetes/kubernetes/issues/47344

[2017-06-30 18:27] shyamjvs commented on #48052
Linking issue https://github.com/kubernetes/kubernetes/issues/47344

[2017-06-30 18:28] shyamjvs commented on #48107
Linking issue https://github.com/kubernetes/kubernetes/issues/47344

[2017-06-30 18:36] quinton-hoole commented on #39989
@henriquetruta @gurvindersingh Unfortunately I no longer have access to the doc, which I wrote while at Google, and handed over when I left.  I have asked @nikhiljindal To try to track it down, but unfortunately is has not yet been tracked down.  Any updates @nikhiljindal ?

[2017-06-30 18:37] shyamjvs commented on #48061
Linking issue https://github.com/kubernetes/kubernetes/issues/47344 for the record.

[2017-06-30 18:38] luxas commented on #47666
@pmichali Not worth discussing here -- open issues in the kubeadm-dind-cluster repo instead

[2017-06-30 18:45] yujuhong commented on #44043
Thanks for the explanation. I added the priority/awaiting-more-evidence label.

[2017-06-30 18:59] rkamudhan commented on #27398
@sbezverk @MikeSpreitzer @thockin @hwinkel @dcbw @feiskyer Please refer Multus usage guide ([https://github.com/Intel-Corp/multus-cni#usage-with-kubernetes-tpr-based-network-objects](https://github.com/Intel-Corp/multus-cni#usage-with-kubernetes-tpr-based-network-objects)) to use TPR based Network object with Pod spec annotation. It is only initial release, welcome all your feedback. Hope Network

[2017-06-30 19:04] shyamjvs commented on #47344
Ran correctness e2e tests on 5k-node cluster and it went well except the following failures (mostly fixed):
- GCL logging (fixed after updating IAM for the project, thanks @crassirostris for guiding)
[k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL
[k8s.io] Cluster level logging using GCL should ingest events
- Misconfigured e2e test (fixed by htt

[2017-06-30 19:30] maxlaverse opened #48358 "Nginx loses requests when the Ingress Controller reloads its configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This is a BUG REPORT
/kind bug
/sig network

**What happened**:
We found out that before the Ingress Controller reloads its configuration it first tests it by executing:
[code]

This command checks for the syntax and tries to open the files referred in the configuration.
The problem is that is also `bind`s and `listen`s on the sockets defined in the co

[2017-06-30 19:36] shyamjvs opened #48359 "Kubelet failing to update pod with updated configmap in large cluster"
Ref https://github.com/kubernetes/kubernetes/issues/47344#issuecomment-312349193

This is in regard to the following e2e tests checking configmap(/secret/projected) update being reflected in pod volume:
[k8s.io] ConfigMap updates should be reflected in volume [Conformance] [Volume]
[k8s.io] ConfigMap optional updates should be reflected in volume [Conformance] [Volume]
(similar ones for secret,pro

[2017-06-30 19:47] shyamjvs commented on #48359
I tried digging up a bit and from the [kubelet logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-cluster/13/artifacts/_artifacts/e2e-enormous-cluster-minion-group-7ps3/kubelet.log) on the node where the pod (for the configmap test) was created, it seems like the pod's container crashed:

[code]

even before the configmap was updated:
[code]

@yujuhong Coul

[2017-06-30 20:00] lev-kuznetsov opened #48361 "kubectl run overrides envFrom doesn't add env vars"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Calling kubectl run with overrides injecting environment from configmap doesn't inject environment

**What you expected to happen**:

I expect to see environment variables from the config map in the process

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**

[2017-06-30 20:01] #14475 closed

[2017-06-30 20:04] lev-kuznetsov commented on #48361
/sig cli

[2017-06-30 20:09] francisu commented on #2630
ZK does not run on minikube because of this: https://github.com/kubernetes/charts/issues/976

[2017-06-30 20:22] msau42 commented on #48331
If I understand correctly, the issue is if the underlying directory is a just a dir and not a mount point, and you bind mount that, then IsLikelyNotMountPoint() will detect it as a directory instead of a mount.

If that's the case, I'm curious why Ian's tests are only running into this problem in the case of two pods accessing the same volume.

[2017-06-30 20:27] spxtr commented on #48302
/unassign

[2017-06-30 20:29] msau42 commented on #48331
For the fix, I would prefer that a new method is used instead of IsLikelyNotMountPoint(). It is being used by other plugins and having to iterate through all the mounts on a node could impact performance.  Also it is only the local storage plugin where the underyling directory may not be a mount point.

[2017-06-30 20:33] ianchakeres commented on #48331
@msau42 The tests are failing even if I run one pod after the other. I'll create a test that just uses one pod with create and destroy (instead of one-command pod) to see if I can repro the error.

[2017-06-30 20:45] msau42 commented on #48331
Ok, sounds like this is just a generic issue than with non-mount point local volumes then, which fits in with the root cause.

[2017-06-30 20:53] huggsboson opened #48362 "DaemonSet deletes all DaemonPods due to resource constraint"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We had an existing DaemonSet running our CNI daemon (calico) and another daemonset running an internal host-level logger, both using hostNetworking.  We are moving to a sidecar based logging solution and updated the CNI daemon to use the host-level logger in a side car.  We applied the new definition for the calico daemons

[2017-06-30 20:55] caesarxuchao opened #48363 "GC accidentally removes non GC related finalizers"
Garbage collector accidentally removes non GC related finalizers from `metadata.finalizers`.

Fixed by https://github.com/kubernetes/kubernetes/pull/48261, an one-line bug fix.

[2017-06-30 20:56] caesarxuchao commented on #48363
/sig api-machinery

[2017-06-30 20:56] huggsboson commented on #48362
We don't really expect this to be fixed.  Mostly filing for documentation.

[2017-06-30 20:56] #48362 closed

[2017-06-30 21:04] quinton-hoole commented on #34086
This is being tracked in https://github.com/kubernetes/community/pull/437
Due for alpha release in v1.8.
Closing this as a duplicate.

[2017-06-30 21:04] #34086 closed

[2017-06-30 21:34] #31331 closed

[2017-06-30 21:45] mindprince commented on #46445
Why was this closed?

[2017-06-30 22:11] toonsevrin opened #48367 "Allow for UDP/TCP services that retain the IP address of the client"
@kubernetes/sig-network-services
It would be great if there was an option for service packets to retain their origin IP address. This could be done in a channel manner, where the service endpoint receives a packet, puts it on a channel to the destination node, the destination node takes it off the channel and gives it to the destination container, all without changing the origin address.

I'm very

[2017-06-30 22:14] toonsevrin commented on #48367
@kubernetes/sig-network-*

[2017-06-30 22:14] toonsevrin commented on #48367
@kubernetes/sig-network-services

[2017-06-30 22:16] toonsevrin commented on #48367
/sig network

[2017-06-30 22:20] msau42 commented on #48331
Btw, I noticed in the common `Unmount` method, that if it thinks it is not a mount point, then it's going to go and delete all the contents of the directory.  This is definitely not the behavior we want because the directory cleanup should only happen when the PV gets released and not during unmount.

So we should definitely get a fix into the next 1.7 patch.

cc @saad-ali

[2017-06-30 22:24] mtanino commented on #47311
@Thoro @rootfs

I'm currently considering the implementation detail for this feature.
As for the request from @Thoro, he supposes that iface will be created per Persistent Volume.
My quick questions are;
- Does iscaidm support iface clone operation? I couldn't find that command.
- If not, do we need to copy whole iface's parameters from stable one to new one to create per PV iface?
- How can we ma

[2017-06-30 22:25] wongma7 opened #48368 "flake: race detected during execution of test TestReplicaSetController"
occurred here: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48366/pull-kubernetes-unit/38649/

log: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48366/pull-kubernetes-unit/38649/?log#log

`I0630 15:14:38.018] FAIL	k8s.io/kubernetes/federation/pkg/federation-controller/sync	9.274s`

[2017-06-30 22:25] wongma7 commented on #48368
/sig federation

[2017-06-30 22:26] wongma7 commented on #48368
/kind flake

[2017-06-30 22:37] msau42 commented on #48331
Actually nevermind, the unmount calls `os.Remove`, not `os.RemoveAll`, so it's not as bad.  Sorry for the scare.

[2017-06-30 22:43] bowei opened #48370 "Services (kube-proxy): conntrack for UDP needs to be flushed when set of endpoints goes from empty to non-empty"
# Summary

For the UDP protocol, we currently flush stale entries when the set of endpoints changes (update/remove). However, we do not flush the entries when the endpoint set changes from empty to non-empty.

When the endpoint set is empty, there is a conntrack entry that blackholes the traffic. If the conntrack entry is refreshed by new UDP activity, this entry will persist until the next conntr

[2017-06-30 22:43] bowei commented on #48370
/area kube-proxy

[2017-06-30 22:43] bowei commented on #48370
/sig network

[2017-06-30 22:48] piersbarrios opened #48371 "[1.7.0] After setting up kubeadm, the master node has status NotReady"
/kind bug

**What happened**:

After setting up kubeadm, the master node has status NotReady

**What you expected to happen**:

master node has a ready status.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

(from the official kubeadm tutorial)
[code]

[code]

`kubectl get nodes`

NAME      STATUS     AGE       VERSION
k8t-m     NotReady   7m        v1.7.0

**Anything e

[2017-06-30 22:51] piersbarrios commented on #48371
@kubernetes/sig-docs

[2017-06-30 22:53] bgrant0607 commented on #47172
cc @kubernetes/sig-cli-pr-reviews

[2017-06-30 22:59] k8s-merge-robot opened #48372 "Failure cluster [3be71e...] failed 106 builds, 17 jobs, and 1 tests over 1 days"
### Failure cluster [3be71e4e1abed3d56524](https://go.k8s.io/triage#3be71e4e1abed3d56524)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    17 jobs failed,    106 builds failed.
Failure stats cover 1 day time range '29 Jun 2017 22:01 UTC' to '30 Jun 2017 22:01 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 17 |

##### To

[2017-06-30 23:06] shyamjvs opened #48373 "Parallelize cluster upgrade script"
Currently we're upgrading only one node at a time in cluster/gce/upgrade.sh. We should allow upgrading N nodes at a time.
This is even more important for large clusters, as upgrading a 500-node gce cluster (os=debian) from 1.6 to 1.7 took ~33 hours viz. ~4 min/node.

cc @k8s-mirror-cluster-lifecycle-feature-re @kubernetes/sig-scalability-misc @dchen1107 @gmarek

[2017-06-30 23:06] bgrant0607 commented on #21648
@smarterclayton @fabianofranz @pwittrock @kubernetes/sig-cli-feature-requests

What is the status of this? I think having tooling that could modify Kubernetes resource manifests locally would be very useful, in conjunction with kubectl apply.

For example, I would like to use `kubectl set image` to update an on-disk Deployment's image.

In the past, we've had a number of problems with this kind of

[2017-06-30 23:07] shyamjvs commented on #48373
ref https://github.com/kubernetes/kubernetes/issues/47344

[2017-06-30 23:23] apelisse opened #48375 "openapi: Simplify gzip encoding for openapi endpoint"
The current implementation of the openapi listener takes a different path for gzip entries. Let's read the `Accept-Encoding: gzip` http header from the client to decide if we need to gzip or not.

[2017-06-30 23:28] apelisse commented on #48375
/sig api-machinery

[2017-06-30 23:28] #48363 closed

[2017-06-30 23:39] bgrant0607 commented on #47244
For the record, this issue was incorrect. The image field was deliberately optional, and this was a non-backward-compatible change to the API.

https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#on-compatibility
https://github.com/kubernetes/kubernetes/issues/8702#issuecomment-105707367
https://github.com/kubernetes/kubernetes/issues/1697#issuecomment-202631815

[2017-07-01 00:08] sakshamsharma commented on #46964
This seems to depend on an issue with etcd, there is no option for a KeepAlive I believe. I've sent a PR, can fix this once that gets merged.

[PR on etcd](https://github.com/coreos/etcd/pull/8199)

[2017-07-01 00:15] yujuhong commented on #43783
I think a reasonable high value might be sufficient before we figuring out how/whether to expose this through the API.
One possibility is to make this maximum value configurable (i.e., a flag) for dockershim only as the first step. Docker prints a warning if kernel doesn't support the pid cgroup subsystem.
`WARNING: Your kernel does not support pids limit capabilities, pids limit discarded`

[2017-07-01 00:29] bgrant0607 commented on #42002
Kubernetes supports [multiple and user-provided schedulers](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/multiple-schedulers.md), the scheduler is pluggable, and the Kubelet is the final arbiter of what pods belong on a node. The default scheduler isn't a policy-enforcement mechanism.

We went through similar discussions regarding the scheduler extension mechan

[2017-07-01 00:34] mengqiy commented on #17258
/assign

[2017-07-01 00:34] mengqiy commented on #17258
/close

[2017-07-01 00:34] #17258 closed

[2017-07-01 00:35] mkumatag opened #48376 "Make test/images/volumes-tester multiarch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
This issue is to track work to convert test/images/volumes-tester to multi architecture.

[2017-07-01 00:36] mkumatag commented on #31331
test/images/volumes-tester is not ported part of this, so created #48376 to track it.

[2017-07-01 00:37] mkumatag commented on #48376
/sig testing

[2017-07-01 00:37] mkumatag commented on #48376
/assign

[2017-07-01 00:45] davidopp commented on #42002
@bgrant0607 I'm not understanding your argument.

The idea here is to have the DaemonSet controller work just like ReplicaSet, Job, etc.

What kind of policy enforcement do you think is being expected here beyond what is already required to implement the v1 API that people already use with, say, ReplicaSet?

Regarding knowing whether a pod will schedule on a particular node according to the kubele

[2017-07-01 00:47] davidopp commented on #42002
If someone writes a new scheduler, they would write a similar "library."

[2017-07-01 00:48] mengqiy commented on #34592
/assign

[2017-07-01 00:49] mengqiy commented on #34592
/close
Closing since we have unit test now.

[2017-07-01 00:49] #34592 closed

[2017-07-01 00:50] mkumatag commented on #48376
/cc @luxas @ixdy

[2017-07-01 00:51] davidopp commented on #42002
To clarify one other thing: Nobody is saying it's not feasible to replace the scheduler or use multiple schedulers. We just expect them to implement the core feasibility rules that kubelet uses in admission. And that includes things like affinity and taints/tolerations. (It may not include everything right now because we haven't had anyone to finish moving this stuff into GeneralPredicates, but th

[2017-07-01 00:56] davidopp commented on #42002
The one scenario where I can see this proposal not working is if someone replaces the default scheduler with one that implements additional predicate functions that prevent daemons from scheduling on nodes where the default scheduler would allow them to schedule. The current DaemonSet controller architecture allows to force the pod to schedule onto such nodes. I guess that might be a justification

[2017-07-01 00:59] davidopp commented on #42002
I made some updates to my earlier comments in this thread, so if you read them by email please check the web version.

[2017-07-01 01:14] shyamjvs commented on #47344
Just finished upgrade testing from 1.6 to 1.7 on large cluster (500 nodes) successfully. With that we have all 3 things (correctness, scalability and upgradability) tested on large clusters.
We can close this issue now, having all the above individually filed issues. Thank you everyone who helped with this!

[2017-07-01 01:14] #47344 closed

[2017-07-01 01:42] #48375 closed

[2017-07-01 02:36] hiscal2015 commented on #46331
seems no one working on this...

[2017-07-01 02:37] gyliu513 commented on #48332
Thanks @dixudx I see, any comments for how to enable the NodePort services with TLS + AuthX?

[2017-07-01 03:48] bgrant0607 commented on #42002
@davidopp Another question unanswered in the doc is this:

DaemonSet needs to know how many pods are supposed to exist, and how many to consider unavailable. It reports this information in its status, and also uses it to modulate the progress of rolling updates. It's not clear to me how it could do that if it didn't have an implementation of the fit predicates.

Why is it hard to factor the fit pr

[2017-07-01 03:58] #28918 closed

[2017-07-01 04:03] sakeven commented on #48368
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48333/pull-kubernetes-unit/38592/ same

[2017-07-01 04:04] carldanley commented on #48282
I'm also getting:

[code]

Fresh `kubeadm init`. My comment *may* be unrelated but I wasn't sure so dropped a comment here anyways. I've even reinstalled everything 2-3 times and still same issue, just won't generate a good cert.

[2017-07-01 04:18] carldanley opened #48378 "x509 cert issues after kubeadm init"
BUG REPORT: (I think?)

**What happened**:

I ran the following steps on Ubuntu 16.04:

1. `sudo apt-get update`
1. `sudo apt-get upgrade`
1. `sudo su`
1. `kubeadm reset`
1. `kubeadm init --token [redacted] --apiserver-advertise-address=192.168.13.1 --pod-network-cidr=10.244.0.0/16`
1. `exit`
1. `mkdir -p $HOME/.kube`
1. `sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config`
1. `sudo chown $(i

[2017-07-01 04:23] carldanley commented on #48378
/sig-cluster-lifecycle-bugs

Hoping that's the right sig.

[2017-07-01 04:24] carldanley commented on #48378
/sig cluster-lifecycle-bugs

[2017-07-01 04:25] carldanley commented on #48378
/sig cluster-lifecycle

[2017-07-01 05:26] davidopp commented on #42002
It's not hard. We haven't been very systematic about it, for example cluster autoscaler uses its [PredicateChecker](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/simulator/predicates.go#L37) class while DaemonSet, default scheduler, and kubelet use [DefaultPredicates](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemoncontroller.go#L1210) (we

[2017-07-01 06:46] k82cn commented on #47867
In `filterOutTerminatedPods` -> `podIsTerminated`, it already consider `terminated-but-not-yet-deleted` by `pod.DeletionTimestamp != nil && notRunning(status.ContainerStatuses)`.

So both scheduler & kubelet handles terminated-but-not-yet-deleted pods well.

[2017-07-01 07:19] gurvindersingh commented on #39989
@quinton-hoole thanks for the info and good luck with the new role. I look forward to reading docs one found.

[2017-07-01 07:55] richjon83 opened #48379 "Can't fix it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-07-01 08:57] Rukeith commented on #44665
I didn't have `admin.conf`
Did I miss something?

[2017-07-01 09:29] #47122 closed

[2017-07-01 10:52] ddysher commented on #47154
no, I was suspecting service accounts are lost, that's when controller manager recreates them.

This is not the intended behavior, nor do i able to recreate the behavior

[2017-07-01 11:29] DaiHao commented on #38862
I encountered this too, but cannot find the reason for now.

[2017-07-01 12:11] obeattie commented on #41916
Having investigated this a little further, I think I now understand this behaviour fully. 🔍

Because the Kubelet does not perform application-layer heartbeating, the only way it knows the connection has been lost is when the kernel decides so. As mentioned above, Kubernetes does configure keepalives but these aren't at play here since they are only sent after 2 hours of inactivity by default ([`ne

[2017-07-01 12:18] andyxning opened #48380 "Support evict daemonset for notready knode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I drain an knode, daemonset pod on that knode can not be deleted.

**What you expected to happen**:
When the knode is labeled with `NotReady` or drained, the daemonset pod running on that knode should be deleted, too.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
1.6.3

[2017-07-01 13:38] andyxning commented on #48380
@kubernetes/sig-node-feature-requests @kubernetes/sig-scheduling-feature-requests

I am not sure whether it is ok to ping both two sigs. Correct me if i am wrong.

[2017-07-01 14:07] gyliu513 commented on #48380
This is design behavior, please refer to https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/concepts/configuration/assign-pod-node.md#per-pod-configurable-eviction-behavior-when-there-are-node-problems-alpha-feature for detail.

[code]

[2017-07-01 14:12] Thoro commented on #47311
@mtanino a quick google also didn't reveal anything for me, looks like you need to read out the settings, create a new interface and apply the settings there

PV interface name could just be the portal + pv name (and escaping of not allowed chars) (https://docs.openstack.org/kilo/config-reference/content/iscsi-iface-config.html)

[2017-07-01 14:23] xiangpengzhao commented on #48379
Hi @richjon83, what is this issue for? I don't see any useful information in the description. We are going to close this issue, feel free to create a new issue if you have feature requests or find bugs of Kubernetes. Thanks!

/cc @thockin

[2017-07-01 14:28] mauri commented on #31424
+1

[2017-07-01 15:07] redbaron commented on #41916
What about option 4. - introduce request timeout on the client side? If kubelet suffers from this defect, then all other users of client-go might be affected as well.

[2017-07-01 16:04] nils2504 opened #48385 "Kubernetes does not delete pods within a deleted deployment"
**BUG REPORT **:

**What happened**:
Deleting a deployment deletes the replica set as excepted but not the pods within this deployments.

**What you expected to happen**:
The pods should be deleted as well.

**How to reproduce it (as minimally and precisely as possible)**:
Running on AWS (with kops) and Kubernetes v1.6.6

**Anything else we need to know?**:
[code]

**Environment**:
- running on aw

[2017-07-01 16:23] obeattie commented on #41916
A request-level timeout will not help here as the problem is at the connection level. I just added a request timeout and tested the behaviour. While individual requests to `/api/v1/nodes` fail after the timeout, the underlying connection (which is shared among all requests) remains active until the kernel declares it's dead. Subsequent requests get mapped to the same connection and continue to fai

[2017-07-01 16:23] obeattie commented on #41916
A request-level timeout will not help here as the problem is at the connection level. I just added a request timeout and tested the behaviour. While individual requests to /api/v1/nodes fail after the timeout, the underlying connection (which is shared among all requests) remains active until the kernel declares it's dead. Subsequent retries get mapped to the same connection and continue to fail u

[2017-07-01 16:28] cmluciano commented on #48332
@gyliu513

[Openshift article](https://docs.openshift.com/container-platform/3.4/admin_guide/ipsec.html)
istio.io for more service-to-service use-case

[2017-07-01 16:37] redbaron commented on #41916
I am not familiar with golang http client code, but are you saying that it is structured in a such way, that user of a it can't close connection in case of an error?

[2017-07-01 16:48] xiangpengzhao commented on #48385
/sig apps

[2017-07-01 16:49] obeattie commented on #41916
No, I'm not saying that it is impossible to do with Go. I'm saying that the Go `net/http` code as well as the k8s `client-go` APIs are structured such that low-level connection details are abstracted from callers. Of course these APIs can be changed, but I think these connection-level concerns are best dealt with inside the transport package, where the necessary objects are already available.

Is

[2017-07-01 17:03] xiangpengzhao opened #48386 "Remove those "empty" sub-pkgs of pkg/util which only exist until heapster rebases"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig api-machinery
/assign
/cc @deads2k

**What happened**:
There are several "empty" sub-pkgs of `pkg/util` which don't include codes but doc.go and BUILD files. They were once relied on by heapster. As per https://github.com/kubernetes/heapster/pull/1483, https://github.com/kubernetes/heapster/pull/1537 and https://github.com/kubernetes/hea

[2017-07-01 17:22] redbaron commented on #41916
So there is some layer which abstracts connection, therefore it is responsible for establishing connection and maintaining it in a healthy state.  How to achieve that is an interesting question, given that you said that connection is shared among other higher level users and therefore closing it on timeout of one request might not be desirable, since timeout can be happening for reasons other than

[2017-07-01 17:43] antoineco commented on #48208
Correct me if I'm wrong but it seems like this behaviour is intentional:

[policy.go](https://github.com/kubernetes/kubernetes/blob/754ed208396be5c545ca5858b8519134fe7e4fec/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L301-L302)

If that's the case, I believe the documentation should mention that the default `system:kube-controller-manage` ClusterRole has limited permissions, and make

[2017-07-01 18:36] mhausenblas commented on #24229
A quick update after the first week working on ReShifter:

- A more or less stable alpha release is now available: [v0.3.4](https://github.com/mhausenblas/reshifter/tree/v0.3.4-alpha), incl. support for etcd 2 and 3, remote backups to S3, as well as a CLI tool.
- I've tried to capture the design and the reasoning for the approach in the [architecture](https://github.com/mhausenblas/reshifter/blob/

[2017-07-01 19:06] farcaller opened #48387 "Pod stuck thinking rbd is locked by other nodes; rbd is locked by same node pod is scheduled on"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After upgrading the cluster from 1.6.6 to 1.7.0 (kubeadm / baremetal), one of the pods that's using a Ceph RBD PVC fails to start with:

[code]

Upon further inspection, the pod is scheduled on node `kube-minion-2`. Here's what rbd thinks about it:

[code]

Indeed, the mount is in order:

[code]

Kubelet logs aren't usef

[2017-07-01 19:14] farcaller commented on #48387
/sig scheduling

[2017-07-01 19:16] farcaller commented on #48387
FWIW, draining the node didn't solve the problem (the pod was re-scheduled to another node that successfully mounted rbd storage and it got stuck there). Deleting Deployment and re-craeting it did help.

[2017-07-01 19:18] farcaller commented on #48387
Nevermind. Apparently the initcontainer was badly configured and it worked before because changing init containers doesn't trigger a rollout.

[2017-07-01 19:18] #48387 closed

[2017-07-01 22:08] smarterclayton opened #48388 "Immutable Job error is wrong"
Reading and then writing a (terminated?) Job from the server should be a no-op and be valid.  Instead, I get an immutable update error from pod template (which is wrong, and might be related to defaulting or protobuf serialization), and the immutable field error prints the entire pod template, which is also terrible.

1. find out why a no-op update on jobs doesn't complete successfully (this block

[2017-07-01 22:10] smarterclayton commented on #48388
@soltysh discovered while testing migration of our 1.6 data to protobuf

[2017-07-01 22:47] smarterclayton commented on #48388
[code]

[2017-07-01 22:50] smarterclayton commented on #48388
[code]

[2017-07-01 23:00] k8s-merge-robot opened #48390 "Failure cluster [d49717...] failed 160 builds, 13 jobs, and 1 tests over 1 days"
### Failure cluster [d4971751bc5fd5c1cd11](https://go.k8s.io/triage#d4971751bc5fd5c1cd11)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    13 jobs failed,    160 builds failed.
Failure stats cover 1 day time range '30 Jun 2017 22:23 UTC' to '1 Jul 2017 22:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Networking [k

[2017-07-01 23:00] k8s-merge-robot opened #48391 "Failure cluster [b9e2d5...] failed 159 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [b9e2d555dd92fa5efab6](https://go.k8s.io/triage#b9e2d555dd92fa5efab6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    159 builds failed.
Failure stats cover 1 day time range '30 Jun 2017 22:23 UTC' to '1 Jul 2017 22:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Networking [k

[2017-07-01 23:00] k8s-merge-robot opened #48392 "Failure cluster [958029...] failed 148 builds, 17 jobs, and 4 tests over 1 days"
### Failure cluster [95802980cd123d0c5dbd](https://go.k8s.io/triage#95802980cd123d0c5dbd)
##### Error text:
[code]
##### Failure cluster statistics:
4 tests failed,    17 jobs failed,    148 builds failed.
Failure stats cover 1 day time range '30 Jun 2017 22:23 UTC' to '1 Jul 2017 22:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services shou

[2017-07-02 00:46] gyliu513 commented on #48332
Thanks @cmluciano , close this one now

[2017-07-02 00:46] #48332 closed

[2017-07-02 01:27] smarterclayton opened #48393 "Storage version migration is broken due to an optimization in GuaranteedUpdate"
Pull https://github.com/kubernetes/kubernetes/pull/35415 optimized guaranteed update to avoid a Get against etcd3.  Instead of reading the data that etcd has, it reserializes the in memory version of the object.  The problem is that we use the delta between the etcd version and the new version we are writing to get rid of out of date versions (i.e. going from v1beta3 to v1, we switched the apiserv

[2017-07-02 02:22] ianchakeres commented on #48331
/assign @ianchakeres

[2017-07-02 04:41] xiangpengzhao commented on #20855
As per discussion in #21952, this should be resolved by #22069.

/cc @thockin

[2017-07-02 06:17] xiangpengzhao commented on #48386
/remove-kind bug

[2017-07-02 06:19] xiangpengzhao commented on #48386
/kind cleanup

[2017-07-02 09:33] minherz opened #48395 "Azure File doesn't work in Windows agents"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying to use [azure_file](https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/azure_file) volume as it is displayed worked when defining **beta.kubernetes.io/os:** `linux` and doesn't for `windows`. In case of the `windows` the folder is empty while for `linux` it contains files and folders that were im

[2017-07-02 09:39] minherz commented on #48395
/sig azure windows

[2017-07-02 11:28] discordianfish opened #48396 "endpoints for daemonset in host network not ready and inconsistent with pod IPs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After deploying the prometheus node-exporter as daemonset + service with these manifests: https://gist.github.com/discordianfish/77b1e4f82ebe966ec5ce341aa3366155

...the node-exporter gets deployed to all nodes as expected:

[code]

The pod IPs match the host ips, which I assume is expected given the node-exporter runs in

[2017-07-02 11:35] discordianfish commented on #48396
@kubernetes/sig-network-misc maybe?

[2017-07-02 11:38] discordianfish commented on #48396
/cc @brancz @fabxc You're running the same setup, this never happened to you?

[2017-07-02 11:38] rickypai commented on #43632
This is now in 1.7: https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/

[2017-07-02 11:41] #48379 closed

[2017-07-02 11:42] kargakis commented on #48371
/sig cluster-lifecycle

[2017-07-02 12:00] k82cn commented on #46670
@igoratencompass , how about your cluster? If it's OK now, I'd like to close this issue :).

[2017-07-02 12:00] rickypai opened #48397 "Kubelet should manage hosts file for HostNetwork Pods instead of Docker"
Currently, kubelet mounts hosts file for [non-hostNetwork](https://github.com/kubernetes/kubernetes/blob/48b3fb84abdc0fee12299eed262da287d48110de/pkg/kubelet/kubelet_pods.go#L112-L118) pods. For hostNetwork pods, the behavior is different and instead, kubelet relies on docker (or whatever container runtime) to [mount](
https://github.com/kubernetes/kubernetes/issues/43632#issuecomment-304376441) t

[2017-07-02 12:05] rickypai opened #48398 "HostAlias to Support HostNetwork Pods"
Currently, HostAlias feature [does not support HostNetwork pods](https://github.com/kubernetes/kubernetes/blob/faf4e57f1b9c2ea4671f62c96d4470e4757a3a4e/pkg/api/validation/validation.go#L2062-L2070). This is because HostNetwork pods currently [do not](https://github.com/kubernetes/kubernetes/blob/48b3fb84abdc0fee12299eed262da287d48110de/pkg/kubelet/kubelet_pods.go#L112-L118) have its hosts files ma

[2017-07-02 12:06] rickypai commented on #43632
filed issues to follow up with HostNetwork support:

https://github.com/kubernetes/kubernetes/issues/48397
https://github.com/kubernetes/kubernetes/issues/48398

[2017-07-02 12:37] ketchoop commented on #19764
@schmitzhermes unfortunately, as I can see, configmap can't be updated when subPath is defined :(

[2017-07-02 13:53] asac commented on #48219
Another log from just the event we care about:

Managed to reproduce with just opening the kube-scheduler manifest and without change saving it in vim. Log is (and kubelet gives up - not restarting scheduler until i restart kubelet).

Also I could validate that if i just copy the edited yaml file over to manifests, kubelet indeed restarts the service correctly.

So seems we are most likely really

[2017-07-02 14:06] asac commented on #48219
also note that the number "4913" seems to be stable, so its probably not a PID ....

I tried creating a random file called "1111" with binary garbage, whcih didnt cause problems restarting kube-scheduler on changes by a "cp" from a preedited place.

So far only way i can reliably reproduce is by using vim from xenials:
ii  vim-runtime                   2:7.4.1689-3ubuntu1 all                 Vi IM

[2017-07-02 14:14] lxpollitt commented on #48370
/kind bug

[2017-07-02 14:17] lxpollitt commented on #48367
/kind feature

[2017-07-02 14:32] lxpollitt commented on #48367
@toonsevrin Can you clarify this feature request a little?  There a few different hops a packet destined for a service goes through that might hide the origin IP address from the service (typically due to NAT of some sort, without DSR).  For your use case, is the origin IP address somewhere outside the cluster, with the destination address being a service node port within the cluster?  Is the pack

[2017-07-02 15:01] xiangpengzhao commented on #30918
This is a dup of #9307, but since this has more details , I prefer to close that one and let's track this.

If we all agree with a new service type for headless service, I'd like to work on this.
/assign
/remove-componet kubectl
/remove-team cluster

Making headless services to be a service type will be a break change. What's the policy to make this change? What I can think is, adding the new serv

[2017-07-02 16:06] rturk commented on #48367
@toonsevrin Not clear for me what problem you're trying to solve. If I understood your use case did you teste the proxy protocol?

[2017-07-02 16:49] zetaab commented on #44273
I have this same issue in 4x highcpu-4 machines
[code]

some pods working, some does not. Going to crashloopbackoff because of network ready

[2017-07-02 17:27] caruccio commented on #45191
It seams not deterministic, but only happens after I unlock the ceph image without trying to umount it. The steps looks like:

Pod-1 dies -> Kubernetes reschedule Pod-2 to another node -> Pod-2 keeps in Pending state since volume is locked to Node-1 -> I manually [unlock Ceph image](https://paste.fedoraproject.org/paste/FApI6c25fqvCeYajNCHmJw) -> Image is attached to Node-2 and fsck fails.

After

[2017-07-02 17:55] praseodym opened #48401 "Local storage: pod gets scheduled to node that does not have persistent volume available"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying out the local storage support in 1.7 combined with the [external static provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume). On one of my nodes (`k8s-01`), I created a local volume which the provisioner picked up as persistent volume `local-pv-87b4a99e` in Kubernetes

[2017-07-02 17:56] praseodym commented on #48401
/sig storage

[2017-07-02 18:45] praseodym commented on #48401
I think the problem is that I forgot to enable the local storage feature gate for the scheduler. Will report back.

[2017-07-02 18:45] #48401 closed

[2017-07-02 20:42] praseodym commented on #48401
Adding the feature gate to the scheduler and controller-manager fixed the problem. Sorry for bothering!

[2017-07-02 21:18] ravisantoshgudimetla commented on #46231
#44740 - solved the taint part @ahmetb. I can work on drain as well once I am done with other drain PRs.

/sig cli

[2017-07-02 22:14] AkashKrDutta commented on #46901
Is this solved? I am facing the same issue.

[2017-07-02 23:00] k8s-merge-robot opened #48404 "Failure cluster [67c3cc...] failed 147 builds, 12 jobs, and 3 tests over 1 days"
### Failure cluster [67c3cc2a0e1f91a7c0f8](https://go.k8s.io/triage#67c3cc2a0e1f91a7c0f8)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    12 jobs failed,    147 builds failed.
Failure stats cover 1 day time range '1 Jul 2017 22:49 UTC' to '2 Jul 2017 22:49 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Kubectl client

[2017-07-03 01:26] kris-nova commented on #43815
Still hitting this in arch on 1.7, is there a quick fix anywhere?

[2017-07-03 02:23] smarterclayton opened #48408 "Removing need to have service account tokens in etcd AKA 'dynamic secrets'"
Today we generate a service account token into etcd for every service account created.  A controller watches for new service accounts, generates the token as a secret, and then links the secret to the service account.  The secret must contain a `ca.crt`, a `token`, and optionally a `namespace` for use in contacting the apiserver.  An admission controller then automatically mounts that token (unles

[2017-07-03 02:24] smarterclayton commented on #48408
We are very incentivized in the very short term to address the secret duplication problem (we're hitting scale limits that we have to solve in some fashion) - I'd prefer to take some baby steps to dynamic secrets.

[2017-07-03 02:24] smarterclayton commented on #48408
@kubernetes/sig-auth-feature-requests

[2017-07-03 02:37] smarterclayton commented on #19764
I cry a little bit every time I hit this limitation.  It's definitely one
of my top 10 usability issues for any complex pod (since a lot of Unix
software uses `/etc/` and we can't project into `/etc` without a hammer or
hacks.

On Sun, Jul 2, 2017 at 11:56 AM, Tim Hockin <notifications@github.com>
wrote:

[2017-07-03 02:40] smarterclayton commented on #43783
@mrunalp for cri-o, I'd be in favor of this starting as node level config.

On Fri, Jun 30, 2017 at 8:16 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2017-07-03 02:49] smarterclayton commented on #21648
Yeah, pod template today in OpenShift is fairly complete and is
https://github.com/openshift/origin/blob/master/pkg/api/meta/pods.go, but
needs to be server driven.

With OpenAPI we can identify known types for the struct if they have the
standard name, or we can add an extension on the struct that identifies it
as following a certain role (`x-kubernetes-role=api/core/v1/PodTemplate` or
similar).

[2017-07-03 02:53] mrunalp commented on #43783
This popped up in some other thread and I had the exact same thought for CRI-O :)

[2017-07-03 03:00] shiywang opened #48409 "Fix Markdown ASCIIRenderer Problem with help message"
while I was working on pr https://github.com/kubernetes/kubernetes/pull/46560, we found the help message `KUBECTL_EXTERNAL_DIFF` in apply-diff command will becomes `KUBECTL EXTERNAL DIFF` after printing out. also `KUBE_EDITOR` in edit command will also becomes `KUBE _EDITOR` if you look carefully.

we should fix that if we can, I will investigate it, since @fabianofranz is the author of that part

[2017-07-03 03:01] shiywang commented on #48409
/sig cli

[2017-07-03 03:21] smarterclayton commented on #43783
I think that generally applies to anything that is "node-defensive" that we
can clearly identify a high enough value to not break people ootb - better
to have it than not.

On Sun, Jul 2, 2017 at 10:54 PM, Mrunal Patel <notifications@github.com>
wrote:

[2017-07-03 03:28] joyolkreg commented on #14017
This is still a issue. The document is still unfixed.

[2017-07-03 06:05] romankonz commented on #46170
Hi,

i've used a solution similar to the solution of @felipejfc.
The daemonset container runs the iptables rule, and also recognizes that the rule is applied.

But on the node, the rule is not visible/does not work.
Do i need any additional security-context?

Configuration:
[code]

Bash Scrpt:
[code]

[2017-07-03 06:30] wojtek-t commented on #48393
I commented on the issue. I think that the other potential workaround to deprecate an API version (and do migration) is to disable cacher for a given resource for the moment of migration. And then reenable it back.
I obviously agree that this is a regression and this workaround is hacky and not very convenient, but I think it's possible.

[2017-07-03 06:43] v-antech opened #48411 "Get Jobs command fails with an error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig cli
@kubernetes/sig-cli-*

**What happened**:
On our GKE cluster, running `kubectl get jobs --all-namespaces` fails with:
`Error from server: no kind "Job" is registered for version "extensions/v1beta1"`
Trying to delete any job in the namespace that causes the issue (even though no pods are running) fails with the same message.

**What

[2017-07-03 06:48] keyingliu commented on #37853
In our production cluster, etcd is running on each master node, after we created about 2000-3000 services (that mean there are greater than 10000 iptable rules), etcd cluster start to have frequent leader election which cause our kubernetes unstable, found iptable-restore uses high cpu. After we stopped kube-proxy on master nodes, the leader election didn't happen again:
- with kube-proxy running

[2017-07-03 06:52] xingzhou commented on #47727
Added a new annotation for recording revision time of deployment. Now carry on working the revision time for DaemonSet

[2017-07-03 07:33] xiangpengzhao commented on #48411
/sig cli

[2017-07-03 07:50] #47743 closed

[2017-07-03 08:24] xingzhou opened #48414 "A tiny comment typo in volume reconciler"
A tiny comment typo in volume reconciler

[2017-07-03 08:30] xingzhou commented on #48414
/sig storage

[2017-07-03 08:38] sttts commented on #44957
5. We have one discovery request per api group. It could be one, with **one** eTag.

[2017-07-03 08:40] jsafrane opened #48416 "Two or more default StorageClasses can be created"
/kind bug

DefaultStorageClass admission plugin expects that there is only one default StorageClass defined and it refuses to work when there are more of them. The admission plugin should be extended to check newly created/updated StorageClassses and forbid creation of two default ones.

cc @kubernetes/sig-storage-bugs
/assign

[2017-07-03 08:40] jsafrane commented on #48416
/sig storage

[2017-07-03 08:50] v-antech commented on #48411
I get that https://github.com/kubernetes/kubernetes/pull/38614 was removed in 1.6, but it seems that we missed the transition period to upgrade the job, now it the command simply fails. The main problem is that there doesn't see a legit way of deleting the job, as the delete command fails with the same exception.

Do you think that deleting the whole namespace and recreating it again will solve th

[2017-07-03 09:13] kayrus opened #48419 "SSH tunnel to worker nodes doesnt' work anymore for k8s 1.7"
**What happened**:

ssh tunnel to kubelet nodes doesn't work anymore. Here are the apiserver logs:

[code]

Here is the `authorized_keys` file on kubelet node:

[code]

Here is the manual tunnel command which works fine:

[code]

Same ssh tunnel with the same configuration works fine on k8s 1.6.x

P.S. I use tls cert auth + ssh tunneling:

[code]

This issue was found by our automatic tests.

[2017-07-03 09:17] kayrus commented on #48419
/sig area/apiserver area/kubelet kind/bug

[2017-07-03 09:19] kayrus commented on #48419
/sig area/apiserver
/sig area/kubelet
/sig kind/bug

[2017-07-03 09:28] matthiasr commented on #48396
Smells like a problem with the endpoints controller to me … could you paste the whole endpoints object, and controller logs from when this happened if you have them?

Does a restart of kube-controller-manager resolve this? Does deleting the endpoints object resolve this? (the controller should recreate it at that point)?

In prometheus/prometheus#2871 you mentioned that this situation came about a

[2017-07-03 09:53] killy001 commented on #48020
@smarterclayton

Why hostNetwork is required？

Inside the container, I need to get the host IP. Because the pod IP is allocated by docker0 randomly, so if I have a log service or others in my container, when problems occurs, I need to locate the problem quickly. Except that, if my services in the container have something to do with databases, while those databases are managed by other groups and i

[2017-07-03 10:01] jianzhangbjz opened #48420 "How to enable the CGO_ENABLED"
Hi,

I added a new package(`test`) in `plugin/pkg/scheduler/algorithm/priorities/` folder, but when exec `make`, got the below errors, the `import` package error. I referred to [godep.md](https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md), tried `go install ./...`, `./hack/godep-restore.sh` and `./hack/godep-save.sh` commands, but still can't solve it.
So, how to upda

[2017-07-03 10:08] dElogics opened #48421 "kube-dns manifest cannot be build reading the readme."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
**What happened**:
kube-dns cannot be build because of illegible README.md and use of obscure/conflicting/unknown terms.

**What you expected to happen**:
The README.md must first explain what is it trying to achieve and how, then it must lay down the procedures on how to achieve it.

**How to reproduce it (as minimally and precisely as possi

[2017-07-03 10:18] benbc opened #48422 "Container events for failed probes not appearing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I have defined readiness and liveness probes for the container in a Kubernetes deployment. When these fail I expect to see their output included in an event for the pod. However I don't see such events. I do see other events for the same pod.

The code that should produce the events is here: https://github.com/kubernetes/k

[2017-07-03 10:23] daniilyar commented on #19825
I have seen the same on K8 1.5.4 and Docker 1.13.1. In my case, K8 pod shown:
[code]
But there were NO OOMKiller events in syslog for that time period. Does 127 code only signal about OOMKill? Can it indicate just a SIGKILL sent to container by Docker? It is not clear for me from Docker and K8 code..

[2017-07-03 10:36] jianzhangbjz commented on #48420
/sig scalability

[2017-07-03 11:15] gmarek commented on #48071
Taint logic would not allow you to achieve this, as we can't say "tolerate everything except 'isMaster' taint (or sth)". Additionally I don't thing there's an agreement on whether we should taint the master.

[2017-07-03 11:23] johscheuer opened #48424 "Running vagrant on MacOS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I wanted to setup the vagrant Kubernetes setup [docs](https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/vagrant.md) to test my binaries.

**What you expected to happen**:
Setup a minimal Kubernetes Cluster for testing with the `cluster/kube-up.sh` script. The needed certificats should b

[2017-07-03 11:27] xiangpengzhao commented on #48421
/sig docs

[2017-07-03 11:32] xiangpengzhao commented on #48420
Are there any go files in your `test` dir? I think the error `no buildable Go source files` self explains.

[2017-07-03 11:36] jianzhangbjz commented on #48420
Sure, there are go files.

[2017-07-03 11:56] JulienBalestra opened #48427 "rktnetes: ip netns side-effects"
/kind bug

**What happened**:
Double MAC address for an IP address when using rktnetes + common `rkt` in systemd.

**What you expected to happen**:
rktnetes and rkt can work on the same host.

**How to reproduce it (as minimally and precisely as possible)**:

I asked to systemd to run a simple container before the kubelet:
[code]

As we can see the correct order of the mounts:
[code]

Now I have 3

[2017-07-03 12:00] JulienBalestra commented on #48427
/sig node

[2017-07-03 12:03] crassirostris commented on #48071
@gmarek Yes, I remember there was a taint there and now I can't see it (at least in gce deployment)

[2017-07-03 12:04] supereagle commented on #48422
@benbc  I have tested the example you mentioned on v1.6.4, but not reproduced this error.

There is event for probe failure in `kubectl describe pod liveness-exec`:
`Warning		Unhealthy		Liveness probe failed: cat: /tmp/healthy: No such file or directory`

[2017-07-03 12:16] wojtek-t opened #48428 "It should be possible to setup kubemark with kube-aggregator"
We want kubemark setups to be as similar to real clusters as possible. Since we are launching kube-aggregator in real clusters, we should add a possibility (and probably also enable by default) to have kube-aggregator in front of apiserver(s).

@gmarek @shyamjvs @kubernetes/sig-scalability-feature-requests

[2017-07-03 12:24] caarlos0 commented on #42164
Same here, I'm usually draining and terminating the node... seems like the restart work for a while and soon the problem come back...

[2017-07-03 12:52] deads2k commented on #48428
@cheftako was working on being able to use it in e2es.

[2017-07-03 13:11] jianzhangbjz commented on #48420
My new `go` package, invoked `c` functions, so should I cross-compiling?
Already set `CGO_ENABLED=1`, but `make` still did not work.

[2017-07-03 13:15] gyliu513 commented on #48420
I think that you may want to upgrade you go version to 1.8.1

[code]

[2017-07-03 13:16] gyliu513 commented on #48420
Similar as https://github.com/kubernetes/kubernetes/issues/44096

[2017-07-03 13:24] jsafrane opened #48431 "Gluster mounts are killed when container with kubelet is restarted"
/kind bug

When running kubelet in a container, it uses `nsenter --mount=/rootfs/proc/1/ns/mnt -- /bin/mount <what> <where>` to mount stuff on the host. This is enough for simple mounts, however if such /bin/mount forks a fuse daemon this daemon runs in cgroup of kubelet container. Therefore it is killed when kubelet container is stopped.

We should run mount in a way it survives restart of kubele

[2017-07-03 13:29] wojtek-t commented on #30068
We have enabled it by default in 1.6. So I guess we can close it.

[2017-07-03 13:29] #30068 closed

[2017-07-03 13:32] jianzhangbjz commented on #48420
Still did not work, have already changed to `go.1.8.3`, like:
[code]

[2017-07-03 13:33] wojtek-t commented on #46776
@xiangpengzhao - thanks for working on it. I commented on the PR.

[2017-07-03 13:34] jianzhangbjz commented on #48420
Whether the code of `cgo` lead to this issue?

[2017-07-03 13:38] cmluciano commented on #48367
/assign

You might be interested in source-IP addresses https://kubernetes.io/docs/tutorials/services/source-ip/. This feature is now GA in 1.7.

[2017-07-03 14:03] sttts commented on #42400
@nikhiljindal @marun how does this relate to https://github.com/kubernetes/kubernetes/pull/47252 (second commit)?

[2017-07-03 14:03] cmluciano commented on #48397
@kubernetes/sig-network-feature-requests @kubernetes/sig-node-feature-requests

[2017-07-03 14:05] gyliu513 commented on #48420
Please check if this can help you https://github.com/kubernetes/kubernetes/issues/45214#issuecomment-298529356

[2017-07-03 14:06] gyliu513 commented on #47644
@y123456yz can this one be closed?

[2017-07-03 14:28] ReSearchITEng commented on #43815
At least for CentOS/RHEL, make sure you update /etc/systemd/system/kubelet.service.d/10-kubeadm.conf and add the flag --cgroup-driver="systemd"

If you reinstall again on the same machine, this is a full proper reset:
https://github.com/ReSearchITEng/kubeadm-playbook/blob/master/reset.yml
(this is required especially if you use flanneld)
If you want to do all in one, you may want to use the entire

[2017-07-03 14:29] aga20 commented on #46253
@rootfs thank you! Which version contains @humblec 's modification?

[2017-07-03 14:43] shiywang commented on #48265
hey @deads2k I met some cycle dependency problem while I working on this one
[code]
tree
k8s.io/apimachinery/pkg
├── api
├── apimachinery
├── apis
│   └── meta
│       ├── internalversion
│       ├── v1           -------> previously rely some package from k8s.io/apimachinery/pkg/runtime
│       │   ├── unstructured
│       │   └── validation
│       └── v1alpha1
├── runtime    -----------> after m

[2017-07-03 14:53] andyp1per commented on #41711
Yes agree reopen.

[2017-07-03 14:58] ktsakalozos opened #48434 "Non-leader Juju masters do not update their keys"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: Non-leader Juju deployed master did not get the updated keys when upgrading the charms.

**What you expected to happen**: Non-leaders to have their auth keys updated.

**How to reproduce it (as minimally and precisely as possible)**: Deploy a cluster with Juju. Have two masters, and update the admins password.

[2017-07-03 14:58] deads2k commented on #48265
As long as the tests end up in `k8s.io/apimachinery` somewhere, if you have to create a separate test package for them at the moment, that's an acceptable outcome.  Also, I suspect that if you simply named the test package (inside the test folder) `runtime_test` it would work.

[2017-07-03 15:00] shyamjvs commented on #48359
cc @wojtek-t

[2017-07-03 15:00] treemanzhou opened #48436 "CIDR issue"
Hi developers
    If I created multiple CIDR IPpool, How can I define which IPpool allocate IP when I make a pod run.  ,

[2017-07-03 15:00] shyamjvs commented on #48107
cc @wojtek-t

[2017-07-03 15:02] timothysc commented on #13944
closing...

[2017-07-03 15:03] liggetm opened #48437 "No local endpoints when service.beta.kubernetes.io/external-traffic: OnlyLocal configured"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I'm running a service with NodePort and the OnlyLocal annotation (bare-metal/flannel) but receive no traffic on local pod. When the annotation is applied to the service, packets are not marked for masquerading in iptables but always dropped by a rule that states "servicexyz has no local endpoints". This is not the case, h

[2017-07-03 15:07] jsafrane opened #48438 "Provisioned AWS EBS with invalid encryption key do not exist"
/kind bug
When user requests an encrypted PV in AWS storage class and refers to an invalid / non-existing encryption key, then AWS provisioner happily creates the PV, but the backing AWS EBS volume does not exist.

Create class:
[code]

Create a PVC:
[code]

PVC is dynamically provisioned:
[code]

But the backing AWS EBS does not exist:
[code]

@kubernetes/sig-aws-misc
@kubernetes/sig-storage-bugs

[2017-07-03 15:08] liggetm commented on #48437
@kubernetes/sig-network

[2017-07-03 15:15] jsafrane commented on #48438
Interesting, AWS cli has the same behavior. I.e. creation of a volume with an invalid key succeeds:

[code]

But the volume itself does not exist:
[code]

Everything works when using an existing encryption key.

@justinsb, do you have any idea what's going on here and how to fix it? We could probably run DescribeVolume on a EBS after creation, just to check it's really created.

[2017-07-03 15:26] cmluciano commented on #48421
/sig network

[2017-07-03 15:28] cmluciano commented on #48020
You can communicate with those databases with a [headless service without a selector](https://kubernetes.io/docs/concepts/services-networking/service/#without-selectors)

[2017-07-03 15:33] timothysc commented on #13944
Actually I made a PR to just remove this... and folks can work on the examples repo.

[2017-07-03 16:12] mfornasa commented on #23013
I see this happening on 1.6 clusters. How should I debug?

[2017-07-03 16:27] cmluciano commented on #47985
cc @nicksardo Do this have anything to do with the fixes you have been working on?

[2017-07-03 16:30] dims commented on #48350
@ReSearchITEng : can you please check if https://github.com/kubernetes/kubernetes/pull/48442 works for you?

[2017-07-03 16:54] rrati commented on #47789
Closed via #47919

[2017-07-03 16:54] #47789 closed

[2017-07-03 16:56] jeffbr13 commented on #48378
Unsure if this helps, but I had the same and realised I was using the old setup guide, copying `/etc/kubernetes/admin.conf` into `~/.kube/admin.conf` and setting `$KUBECONFIG=$HOME/.kube/admin.conf`. I cleared the environment variable and `kubectl` defaults back to using `~/.kube/config`.

[2017-07-03 16:58] cblecker commented on #48424
/sig cluster-lifecycle

[2017-07-03 17:05] piersbarrios commented on #48371
Extra information: Since the kubernetes documentation got updated this weekend , I retried a full install and same problem.

With kubelet logs I get:

`error: failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd`

[code]

I think what what I'm seeing here is what ReSearchITEng describes in https://gith

[2017-07-03 17:23] mikedanese commented on #48190
Will close after cherrypicks are in

[2017-07-03 17:28] divyenpatel commented on #48124
Can you provide output of

[code]

I guess this should not resolve to `192.168.120.20`

cc:  @luomiao @BaluDontu @tusharnt

[2017-07-03 17:41] #48434 closed

[2017-07-03 17:53] caseydavenport commented on #30918
/remove-area kubectl

[2017-07-03 17:55] caseydavenport commented on #9307
I'm going to close this as a duplicate of https://github.com/kubernetes/kubernetes/issues/30918 even though this one is older since:
- They're both from Tim.
- The other issue has a lot more detail.

/assign