[2018-01-17 04:50] mtanino commented on #54108
@mlmhl

From the godoc of isMultiAttachForbidden(), main purpose of this method is to check accessModes if attaching this volume to multiple nodes is definitely not allowed/possible. For example, FC and iSCSI plugin don't allow attaching a volume to multiple pods which are running on different kubelet nodes.(ReadWriteMany is required but these plugins don't support it)

Then if PV has accessMode =

[2018-01-17 04:54] justinsb commented on #11232
No objection to propose closing; closing!

[2018-01-17 04:54] #11232 closed

[2018-01-17 05:05] vikaschoudhary16 commented on #58372
Since the client that endpoint is using to wait on `ListAndWatch` has already ensured that connection was `READY` with server, in that case if still it fails, that could happen only if device plugin has died.
So your question becomes, should we wait for device plugin restart?

I think device plugin restart is already handled and we create a new endpoint on reregistration. Thinking all this I am un

[2018-01-17 05:15] qadet123 opened #58373 "Deploy 1.9.1 from scratch，something wrong with kubelet"
/close
/sig deploy from scratch
/sig kubelet

Hi,
        I'm trying to deploy 1.9.1 from scratch,when i came to the kubelet,something went wrong. The kubelet can pass tls bootstraping and the crts were auto generated.But then the kubelet's log flooded with this:
![image](https://user-images.githubusercontent.com/22327477/35026616-16d0bfba-fb87-11e7-82f5-1eeac306b4ad.png)
        I'm a little conf

[2018-01-17 05:17] bryanleekw commented on #41336
error: watch closed before Until timeout

[2018-01-17 05:23] mtanino commented on #54108
I think these local attach volume plugins still need `AttachableVolumePlugin` to use isMultiAttachForbidden().

Also please see the video after 44:45. @saad-ali explains refactor of attacher for local attach volume plugins. We should follow his idea for this refactor.
https://www.youtube.com/watch?v=KEXjN33csT0&feature=youtu.be

I'm not fully understand his idea for this refactor right now, so ple

[2018-01-17 05:25] tengqm commented on #56307
hehe, fine. Whatever you say.
The protocol design doesn't provide a "release" or "dealloc" function. No one cares if there are "partial failures" and no one cares if the "allocate" operation at the plugin side is costly or not.
From a device plugin's perspective, say my FPGA device needs to do some pre-allocation preparation work... no one cares how expensive an operation it could be, right? The k

[2018-01-17 05:35] ScorpioCPH commented on #58372
Hi,

SGTM if we can make sure about this.

By the way, Is there any case that device plugin is still running but `ClientStream` is down?
Just FYI [here](https://github.com/grpc/grpc-go/blob/master/stream.go#L68):

[code]

[2018-01-17 05:41] CaoShuFeng commented on #58281
I run `go test -v k8s.io/kubernetes/pkg/kubelet/cm/deviceplugin` 100 times without failure.

[2018-01-17 05:54] ScorpioCPH commented on #58281
Good to here that, @vikaschoudhary16 Nice work! Thanks!

[2018-01-17 05:56] ash2k opened #58374 "code-generator: different deep copy functions generated"
**What happened**:
We get different code generated on different computers.

Common things:
- Exactly the same code and dependencies. Copied the directory from one computer to another one, ran deep copy generator and the result is different.
- Latest `k8s.io/code-generator` from `release-1.8` branch - 306be794f1b124a9c939ab168e9ea3944387e66b
- `k8s.io/gengo` - 1ef560bbde5195c01629039ad3b337ce63e7b3

[2018-01-17 05:57] qadet123 commented on #58373
/sig TLS-Bootstraping
/sig kubelet

[2018-01-17 06:03] vikaschoudhary16 commented on #56307
In this case, let say those two gzip unit were, unit1 and unit2. Let say pod1 was the pod which failed with partial allocation and is not using unit1 and unit2 anymore. Now a new pod, pod2 comes and requests for two GZIP units. Kubelet before making any allocation, updates `m.allocatedDevices` using active pods and thus removes unit1 and unit2 from the allocated devices. Moving ahead, kubelet allo

[2018-01-17 06:22] nikhita commented on #58374
/area code-generation

[2018-01-17 06:27] nikhita commented on #52163
Given the data type, this is expected.

Also, from the OpenAPI specification standpoint, this is not a bug: https://github.com/OAI/OpenAPI-Specification/issues/822.

Closing. Please reopen if you still think there is an issue.

/close

[2018-01-17 06:27] #52163 closed

[2018-01-17 06:28] jiayingz commented on #58372
I think the stream should be kept around during the life cycle of device plugin, so agree with @vikaschoudhary16 that the current behavior seems WAI.

[2018-01-17 06:40] tossmilestone commented on #58234
I have problem when working on lint errors in the auto-generated files, e.g. `pkg/scheduler/api/v1/zz_generated.deepcopy.go:265:9: if block ends with a return statement, so drop this else and outdent its block (move short variable declaration to its own line if necessary)`

`zz_generated.deepcopy.go` is auto generated by `deepcopy-gen`, and not suggested manually edited. I want to add the file to

[2018-01-17 06:59] nikhita commented on #58234
You cannot add files in `hack/verify-golint.sh` but you can add package names. :)

I think it is reasonable to leave `pkg/scheduler/api/v1` in `hack/verify-golint.sh` to avoid failing on linting errors due to generated files, but correcting any other lint errors (in non-generated files) in `pkg/scheduler/api/v1`.

[2018-01-17 07:02] linyouchong commented on #58352
@verult I want to have a try

[2018-01-17 07:10] vikaschoudhary16 commented on #58373
/sig node

[2018-01-17 07:10] tossmilestone commented on #58234
@nikhita That's a reasonable solution, Thank you! And I think if `hack/verify-golint.sh` add the feature of ignoring file lint errors, it would be perfect. :)

[2018-01-17 07:21] k82cn commented on #58234
yes. maybe you can try to propose some PRs at https://github.com/kubernetes/code-generator  to address it.

[2018-01-17 07:21] k82cn commented on #58234
add `pkg/scheduler/api/v1` is also ok to me :)

[2018-01-17 07:22] bencord0 commented on #32759
Recent versions of the `kubelet` have also removed the `--api-server` option.
It appears that the consistent way to connect daemons to the apiserver is with the `--kubeconfig` flag.

Is the `--master` flag deprecated too?

[2018-01-17 07:40] tengqm commented on #56307
The core of the problem is ... we are not treating device allocations as a transaction. We are allowing for partial success (or partial failure) today. What I was trying to do is *do not* call "allocate" when you are not sure if there are enough devices left for a Pod. Once you do that, it is a "virtual contract". From device plugin side, it will treat every allocate request seriously.
By partial

[2018-01-17 07:45] liggitt commented on #58361
Actually, this was fixed in 1.7.8:

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.7.md#changelog-since-v177

A separate bug is affecting the 1.8 and 1.9 branches, but 1.7.8+ is working properly.

Also note the documentation does not include the --all-namespaces flag to transform secrets in all namespaces. Opened https://github.com/kubernetes/website/pull/6985/files to fix that

[2018-01-17 07:45] #58361 closed

[2018-01-17 07:47] bgrant0607 commented on #13313
This has got to be obsolete

[2018-01-17 07:47] #13313 closed

[2018-01-17 07:51] liggitt commented on #49565
this was fixed in 1.7.8 and is working in 1.7.x

a separate bug was introduced and is currently affecting 1.8.4+ and 1.9+ in the same way

fix is in #58375

[2018-01-17 08:04] #34783 closed

[2018-01-17 08:17] vainu-arto opened #58379 "kube-proxy is evicted even with ExperimentalCriticalPodAnnotation enabled"
/kind bug

On my kops deployed cluster kube-proxy is deployed as a static pod and has scheduler.alpha.kubernetes.io/critical-pod= in annotations. The kubelet has these feature gates enabled:
--feature-gates=ExperimentalCriticalPodAnnotation=true,PodPriority=true

**What happened**:

kube-proxy is constantly evicted due to pressure from user pods that have podpriority set to above zero.

**What you

[2018-01-17 08:23] vainu-arto commented on #58379
/sig network

[2018-01-17 08:45] vikaschoudhary16 commented on #56307
Then your concern should get addressed by this PR, https://github.com/kubernetes/kubernetes/pull/58282

With this PR, "completeness" of transaction will get validated at admission predicate and actual "allocate" will be invoked at a later point of time at container start. If available devices are not sufficient enough, no "allocate" will be invoked at device plugin.

[2018-01-17 08:56] #46964 closed

[2018-01-17 08:59] astefanutti commented on #53615
I have an application that access cAdvisor data via the `/stats` endpoint exposed by the Kubelet. Unfortunately, it seems it does not work since Kubernetes 1.8.0, see #56297.

As a work-around, the application access cAdvisor directly from the exposed port `/api/v1/nodes/${node}:4194/proxy/api/v1.2/docker/${id}`.

So I see this as a blocker until #56297 is fixed.

[2018-01-17 09:13] jianglingxia commented on #57639
there has two problem that two log:
1)FailedMount     Failed to attach volume "pvj" on node "k8s-master-jlx" with: volume 867a1d87-b39f-44ba-888e-4a60b933219f is not attached to 2d93f5b6-4350-4f1e-9a30-f22cee84f7bc
2)FailedMount     Failed to attach volume "pvj" on node "k8s-master-jlx" with: Invalid request due to incorrect syntax or missing required parameters.
the first one is that the GetAttac

[2018-01-17 09:39] brancz commented on #53615
@tallclair agreed. The `/metrics/cadvisor` endpoint on the secure handler is what people should be using in any case.

[2018-01-17 09:44] brancz commented on #32638
Starting with 1.7.3 the cadvisor metrics have been moved out of `/metrics` to `/metrics/cadvisor`, with `/metrics` leaving only the actual kubelet's metrics.

Related: https://github.com/kubernetes/kubernetes/issues/53615

[2018-01-17 09:59] tengqm commented on #56307
Okay, you may want to reference this issue in that PR. :)

[2018-01-17 10:22] astefanutti commented on #53615
@brancz sure. cAdvisor provides short-term historical metrics which is very useful. That'd be ideal to have an equivalent historical metrics API (at least the last samples over a short-term moving window like cAdvisor exposes).

[2018-01-17 10:26] kc004 opened #58382 "nginx-ingress redirect not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:
kind bug

**Cloud provider or hardware configuration:** bare metal
**OS (e.g. from /etc/os-release):** Ubuntu 16.04.3 LTS xenial
**Kernel (e.g. uname -a):** Linux 4.4.0-83-generic

**What happened:** Nginx-ingress not forwarding the request to my application. so. I reach my application through Nginx port forwarding and Socket. but this solution is not

[2018-01-17 10:41] brancz commented on #53615
We're about to start discussing a well defined historical metrics API in sig-instrumentation :slightly_smiling_face:. Similar to the already existing resource and custom metrics API.

[2018-01-17 10:46] utsav2307 opened #58383 "using metric type: object and pods for autoscaling"
can someone explain how kubernetes pod metrics and object metrics are used? I understand these are available in autoscaling/v2beta1 api version and can be specified directly in the manifest file, but where exactly does kubernetes get these metrics from and how to generate those metrics?

[2018-01-17 10:47] soltysh commented on #51581
I'm closing this as a duplicate of #53331, since the other provides more details.

[2018-01-17 10:47] #51581 closed

[2018-01-17 11:17] soltysh commented on #53331
@civik @imiskolee can you folks provide a situation where your pod failed in a cronjob. I'm specifically interested the phase of the pod (see [official docs](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase)).
The only one that comes to my mind of top of my head is when I specify wrong image, for example. In that case the pod is not failed, but pending. Which means none

[2018-01-17 11:21] yue9944882 commented on #58217
This error msg also occurred in #50111

[2018-01-17 11:28] soltysh commented on #27361
I can't find that particular example anywhere in https://github.com/kubernetes/examples/ and all using redis there are using redis:v1 image in their pull spec.

/close

[2018-01-17 11:28] #27361 closed

[2018-01-17 11:35] jsravn commented on #58334
This also affected us on vsphere. So it's a general issue for any cloud provider.

[2018-01-17 11:48] soltysh opened #58384 "ProgressDeadlineSeconds for a job"
/kind feature

**TLDR**; we need something like deployment's `ProgressDeadlineSeconds` to fail a job if it does not start within given time.

**Why**
In #48075 and #51153 we've introduce a backoff policy for a job, which works great but still is not capable of addressing certain issues with erroneous jobs. For example, I create a job with miss-typed pullspec, and I will find out about it only when

[2018-01-17 11:49] soltysh commented on #58384
@kow3ns @janetkuo @clamoriniere1A thoughts opinions?

[2018-01-17 11:53] soltysh commented on #58384
I should probably mention that we already have `ActiveDeadlineSeconds` but that is meant for guarding the duration of the entire job, which is one possible option to solve the problem I've described. Still I'm convinced that guarding just the start time will be beneficial for a job.

[2018-01-17 11:53] soltysh commented on #53331
I've also created https://github.com/kubernetes/kubernetes/issues/58384 to discuss the start timeout for a job.

[2018-01-17 12:24] dElogics commented on #45419
For me, this happened because kubelet was taking too much CPU doing housekeeping tasks, as a result no CPU time was left for docker. Reducing the housekeeping interval solved the issue for me.

[2018-01-17 12:29] #44085 closed

[2018-01-17 12:47] maxkondr opened #58385 "kubectl user for checking RBAC"
Hi,

**Environment**:
- Kubernetes version (use `kubectl version`): v1.8
- Cloud provider or hardware configuration: OpenStack
- OS (e.g. from /etc/os-release): "Container Linux by CoreOS 1576.4.0 (Ladybug)"
- Kernel (e.g. `uname -a`): Linux master-1.novalocal 4.13.16-coreos-r2
- Others: OpenStack floating IP for master node is 192.168.67.107
- RBAC enabled.

I try to deploy weave-network plugin u

[2018-01-17 13:37] porridge opened #58387 "awscli should not be installed at test time (and related pip warnings are distracting)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/priority critical-urgent
@kubernetes/sig-testing-bugs

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54294/pull-kubernetes-e2e-kops-aws/69102/ failed

[code]

[2018-01-17 14:17] cdenneen commented on #28226
/remove-lifescycle stale

[2018-01-17 14:19] discordianfish commented on #35054
I'll open a new issue for that but want to get some feedback here first: Do we believe glog in general is a good choice? The overall interface is somewhat unexpected if you're used to other open source leveled loggers. Additionally, glog isn't a Real Open Source project with it being developed internally by Google and only pushed out without ways to fill issues or submit pull requests.

[2018-01-17 14:33] php-coder commented on #58385
/sig auth

[2018-01-17 14:36] Fak3 commented on #29480
Is there any solution to this? My kube-dns and kube-dashboard entered failing state and i can't see logs to understand what is going on
/remove-lifecycle stale

[2018-01-17 14:44] helletheone commented on #39225
i have the same problem in my openshift cluster. I guess the journald way is the only supported

"Aggregated logging is only supported using the journald driver in Docker. See Updating Fluentd’s Log Source After a Docker Log Driver Update for more information."

[2018-01-17 15:01] exarkun commented on #37218
I have an application that that publishes an HTTP service to the network.  I've already configured a `livenessProbe` for it which checks that the HTTP service is responding with OK as it should.

However, I've recently found a new failure mode in the application which doesn't manifest symptoms in the HTTP response codes (though clearly ideally it would).  Instead (so far as I can tell), it's only

[2018-01-17 15:02] exarkun commented on #37218
/remove-lifecycle stale

[2018-01-17 15:02] shyamjvs commented on #58280
That seems to have [fixed it](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/61). Thanks @msau42.

[2018-01-17 15:11] nicorevin commented on #48912
/lifecycle frozen

[2018-01-17 15:19] WillPlatnick commented on #57427
I am still having issues in 1.9.1. This worked in the 1.8.x branches:

[code]

[2018-01-17 15:23] nikhita commented on #57316
Just for the record, relevant sig-api-machinery mailing list topics:

- https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/07JKqCzQKsc
- https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/rX99p_YWObA

[2018-01-17 15:41] liggitt commented on #57427
you have to remove and recreate the gitlab-registry secret... type is immutable

[2018-01-17 16:09] rpothier opened #58397 "kubeadm error with HTTP_PROXY and IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When setting an HTTP_PROXY with an IPv6 address, the is no HTTPProxy warning.

**What you expected to happen**:
There should be a warning that a proxy is being used.

**How to reproduce it (as minimally and precisely as possible)**:
Use Kubeadm with IPv6 addresses, and IPv6 proxy in the environment.
Such as:
NO_PROXY=2001

[2018-01-17 16:09] rpothier commented on #58397
/assign rpothier

[2018-01-17 16:10] rpothier commented on #58397
/sig cluster-lifecycle

[2018-01-17 16:10] rpothier commented on #58397
/area ipv6

[2018-01-17 16:13] yue9944882 commented on #57095
@kewne I tried but cannot recreate this.

I mounted a nfs volume which is exported with 1000+ uid/gid and with `root squash`

But the pod was delete immediately.

[2018-01-17 16:16] ncdc commented on #34732
/remove-lifecycle stale
/lifecycle frozen

[2018-01-17 16:25] liggitt commented on #34732
see https://github.com/kubernetes/kubernetes/issues/58190

[2018-01-17 16:25] liggitt commented on #58190
see https://github.com/kubernetes/kubernetes/issues/34732

[2018-01-17 16:38] jsafrane opened #58403 "Volumes can't overlap DownwardAPI and other "managed" volumes"
Following pod gets Running but does not contain requested `emptyDir`:

[code]

[code]
-> EmptyDir (or **any other volume**) was removed from the running container.

ConfigMaps, Secrets, DownwardAPI volumes and Projected volumes have their own management of their content and actively delete anything that they think don't belong there, even other volumes.

See https://github.com/kubernetes/kubernete

[2018-01-17 16:44] jsafrane commented on #58403
Just brainstorming here:

* `AtomicWriter` could put a `.managed-by-<unique ID of volume>` into every directory it creates. When it deletes unwanted stuff, it could ignore all directories without `.managed-by-<the right ID>`.
* Alternatively, `AtomicWriter` could compare the old and new directories and skip the items that it did not create (i.e. were not present in the old directory).

[2018-01-17 16:56] groner commented on #17028
Using `-p "$(cat)"` works to load the secret from stdin.

[code]

[2018-01-17 17:01] chakri-nelluri commented on #32550
/close

[2018-01-17 17:01] #32550 closed

[2018-01-17 17:15] gmarek commented on #25320
Yes, we're not planning to stop respecting `unschedulable`, but there should be no place in the system which looks at `unschedulable` only and ignores Taints.

I guess it is, but we let it drift a bit from basic Taints/Tolerations towards Taint/Toleration base features. @yastij - can you file a separate issue for that?

[2018-01-17 17:29] ayen-tibco commented on #57996
+1

I experience the same issue with Canonical Kubernetes deployments and going through Heapster Autoscaling walkthrough. I've tried this on k8s 1.8.4 and heapster 1.4.x as well. Same result "FailedGetResourceMetric".

What happened:
FailedComputeMetricsReplicas    failed to get cpu utilization: unable to get metrics for resource cpu: unable to fetch metrics from API: the server could not find the

[2018-01-17 17:29] celebdor commented on #45419
@esevan: I'd appreciate the kuryr-kubernetes patch :-)

[2018-01-17 17:43] ixdy commented on #58387
That wasn't actually a failure - just a red herring in the log (which we should maybe fix, or at least hide).

[2018-01-17 17:45] ixdy commented on #58387
@kubernetes/test-infra-maintainers any thoughts on how we can make `pip` be less spammy here? (besides not using `pip` :)

[2018-01-17 17:51] danehans commented on #58180
cc @leblancd @pmichali @rpothier

[2018-01-17 17:54] #33413 closed

[2018-01-17 18:06] #22638 closed

[2018-01-17 18:16] sbuliarca commented on #53489
Indeed, this might be a feature that someone else would need.

[2018-01-17 18:21] krzyzacy commented on #58387
the actual failure is caused by quota in the new cncf aws account, which is being working on by aws side

[2018-01-17 18:30] livelace commented on #45419
BTW, we use Origin 1.5/Kubernetes 1.5 and Kuryr (first versions) without any problems :)

[2018-01-17 18:36] yastij opened #58406 "start checking taints wherever we check for node.Spec.Unschedulable"
forked from #25320

As from the discussion with @gmarek and @bgrant0607 we have to start checking taints wherever we check for node.Spec.Unschedulable. Also overlaps on some parts with #57690

/sig node
/assign

[2018-01-17 18:39] verult commented on #58352
Thanks @linyouchong ! To help you get started, the bulk of the dynamic plugin discovery logic is in these files:

The Flexvolume driver probe logic: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/flexvolume/probe.go
Interface: https://github.com/kubernetes/kubernetes/blob/48f69ac964b9a96b55351a3541f285b4cb5611bb/pkg/volume/plugins.go#L74
Plugin caching: https://github.com/kubernet

[2018-01-17 18:54] jingxu97 commented on #57639
@jianglingxia I am not very sure what is your problem from your last comment. Could you pls explain more?

[2018-01-17 19:21] vendrov commented on #27363
This issue is still reproduced on 1.8

[2018-01-17 19:21] xtophs opened #58410 "Azure Internal Load Balancer Only works with one agent pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
curl'ed internal load balancer front ending an nginx deployment.

curl: (7) Failed to connect to 10.240.0.220 port 80: Connection timed out

**What you expected to happen**:
See the nginx index page

**How to reproduce it (as minimally and precisely as possible)**:
* provision a kubernetes cluster with 2 agent

[2018-01-17 19:23] tallclair commented on #58083
In another thread, we were discussing audit logging in very high QPS clusters (e.g. very large clusters). That feels like something that should be addressed, or at least well defined (e.g. audit logging is only supported up to XX QPS).

A suggestion I threw out is to implement graceful degradation of the audit infrastructure (probably in the open source). One way of doing this would be to introduc

[2018-01-17 19:32] mbohlool commented on #58310
I wasn't even aware we have `x-kubernetes-print-columns`. I will see if I can fix this or find the person added it to fix it.

[2018-01-17 19:42] krzyzacy commented on #58387
/sig aws

[2018-01-17 20:00] saad-ali commented on #54108
I agree with @mlmhl. Specifically this:

To expand on this, Kubernetes never really enforced access modes. Although the API let you mark a PV/PVC as read-write once if two different pods on two different nodes referenced the same volume, the first one to schedule would attach successfully, and then the attach operation would fail on for the second one leaving the pod in pending state. `accessModes

[2018-01-17 20:20] MrHohn commented on #58379
@kubernetes/sig-scheduling-bugs

[2018-01-17 20:30] ritazh opened #58413 "Enable selector in pvc for Azure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Getting this warning when using `selector` for creating new pvc:

`claim.Spec.Selector is not supported for dynamic provisioning on Azure disk`

As a result, when pv with label is not found, it does not create new pv.

code is here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/azure_provision.go#L74

**Wh

[2018-01-17 20:46] #49565 closed

[2018-01-17 20:51] BenTheElder commented on #58387
OK but don't don't install python libraries at runtime? :-P
@krzyzacy doesn't seem to think anything from test-infra specifically is doing this (in this job anyhow).

[2018-01-17 20:56] liggitt commented on #58385
`admin` is just the name of the stanza in the kubeconfig file. The actual credentials you used were `client-certificate: /tmp/CA/kubelet/kubelet.crt`.

`openssl x509 -in /tmp/CA/kubelet/kubelet.crt -text -noout` will show the CN of that cert is `192.168.67.107`

/close

[2018-01-17 20:56] #58385 closed

[2018-01-17 20:57] liggitt commented on #58413
is this the same issue as https://github.com/kubernetes/kubernetes/issues/57878 ?

[2018-01-17 21:01] nikhita opened #58414 "Support strategic merge patch for custom resources"
We should support strategic merge patch (smp) for custom resources if we plan to move CRDs to GA [1].

Currently, we face the following issues with regards to not supporting strategic merge patch:

- The garbage collector tries to perform a smp on the custom resources to remove the owner reference (https://github.com/kubernetes/kubernetes/issues/56348).
- Discussion for CRDs supporting smp only on

[2018-01-17 21:02] nikhita commented on #58414
/area custom-resources
/sig api-machinery
/kind feature

[2018-01-17 21:06] ixdy commented on #58387
@BenTheElder we're doing a `pip install awscli` in kubetest:

https://github.com/kubernetes/test-infra/blob/c4be9c30bffbbb4339c1772a801f5ef03f2a9738/kubetest/main.go#L845-L851

[2018-01-17 21:06] mtanino commented on #54108
@saad-ali
Thank you for the detail explain. Seems this update needs a spec like volume reconstruction update which jinxu proposed.

Quick question, if local volume plugins such as iSCSI, FC will have DeviceMountableVolumePlugin instead of AttachableVolumePlugin, can these plugins avoid following multi attach case? Which operation avoids it?

[code]

[2018-01-17 21:08] #58037 closed

[2018-01-17 21:09] BenTheElder commented on #58387
:astonished: we should not do that. let's move that into the image build.

[2018-01-17 21:25] leblancd commented on #58180
@drf - Using a single IPv6 nameserver address in the /etc/resolv.conf of each master/worker node *should* work (that's what I have in my IPv6 cluster). What's required for this to work, though, is that the kube-dns pod itself is getting an IPv6 address configured (e.g. set by your CNI network/IPAM plugin), and the kube-dns pod needs to be able to connect (using that pod IPv6 address as a source IP

[2018-01-17 21:25] liggitt commented on #58414
I'm not sure I agree. Strategic merge patch has proved problematic both client-side and server-side. Designing a major addition to it seems like an investment in a direction we don't want to go.

[2018-01-17 21:28] nikhita commented on #38113
/kind feature

[2018-01-17 21:28] nikhita commented on #54579
/kind feature

[2018-01-17 21:33] msau42 opened #58416 "Update local pv e2e test for mount propagation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Now that the local provisioner uses mount propagation, the provisioner e2e test should also test adding mount points after the provisioner has started

[2018-01-17 21:33] msau42 commented on #58416
@ianchakeres, would you have time to look into this?

[2018-01-17 21:49] saad-ali commented on #54108
Do you mean a design doc? If so, I agree, this is big enough a change that a design doc would be useful.

They will not have "fast fail" that the A/D controller implements. But as long as the MountDevice operation fails, then this will apply:

Although the API let you mark a PV/PVC as read-write once, if two different pods on two different
nodes reference the same volume, Kubernetes does not expli

[2018-01-17 22:17] #58321 closed

[2018-01-17 22:19] gnufied commented on #58403
related - https://github.com/kubernetes/kubernetes/issues/57421

[2018-01-17 22:19] nelsonfassis commented on #39225
@helletheone More recent versions of docker write logs directly to journald. I've changed docker daemon to write logs as json.logs and now I'm able to use Filebeat (or FluentD if you prefer) just fine.
If your only problem is with docker, you should try this solution.

[2018-01-17 22:26] mtanino commented on #54108
@saad-ali

Ah, yes. Design doc I mean.

I think local volume plugins are not managing volume attach/mount status if the volume is attached and mounted on a pod on different node. Therefore even if the volume is attached to another node and then `MountDevice` is called to mount a volume to different pod,  `MountDevice` can't be failed.
Am I missing something?

I still prefer the way to avoid multi

[2018-01-17 22:33] celebdor commented on #45419
@livelace any reason for not using later versions?

[2018-01-17 22:33] nicksardo commented on #51668
/assign

[2018-01-17 22:55] liggitt commented on #57923
hmm, reading further, it looks like this is working as designed for fsGroup, though that design doesn't play nicely with the mode options (the API doc for those mode fields explicitly says you might end up with different options when combined with fsGroup).

different containers can run as different uids, yet still share a single secret volume. the only way for them to all be able to read the data

[2018-01-17 23:07] resouer commented on #37010
@crassirostris Could you please post one or two kubelet long logs you are referring?

[2018-01-17 23:22] livelace commented on #45419
@celebdor There is no need, all works :) We use Origin + Openstack and those versions cover all our needs, we don't need new features of Kubernetes/Openstack, Kuryr just works. Maybe we will have any problems when two additional teams wiil join our infrastructe.

[2018-01-17 23:38] errordeveloper commented on #32466
/close

[2018-01-17 23:38] #32466 closed

[2018-01-17 23:39] errordeveloper commented on #32466
Considering how stale this is, the chances are it won't get fixed before kube-up gets deprecated completely.

[2018-01-17 23:44] ritazh commented on #58413
@liggitt it's similar but from the code it looks like it's not implemented for azure disk.

[2018-01-17 23:50] liggitt commented on #58413
I don't think selector + storage class dynamic provisioning is supported for any volume type

/sig storage

[2018-01-18 00:16] gmflau commented on #57002
I tried but got an error:

error: error validating "dse.yaml": error validating data: [found invalid
field podAffinityTerm for v1.PodAffinityTerm, found invalid field weight
for v1.PodAffinityTerm]; if you choose to ignore these errors, turn
validation off with --validate=false

On Sun, Jan 14, 2018 at 1:42 AM, Klaus Ma <notifications@github.com> wrote:

[2018-01-18 01:02] drf commented on #58180
Hello @leblancd and thanks for the thorough explanation. I plan on reinstalling the cluster early next week, I'll start from scratch and report back to you. To avoid wasting each others' time - I have tried as CNI Calico Flannel and Canal, all of them installed through the kubeadm instructions. Are you aware of any limitations concerning IPv6 about them?

[2018-01-18 01:09] tallclair commented on #34963
I don't really understand what the issues are here (or maybe they've just been resolved since this is open). `use` is the verb for authorizing access to PSPs, and a `SelfSubjectAccessReview` can be used to check whether you have access to the PSP.

[2018-01-18 01:09] #34963 closed

[2018-01-18 01:13] dimm0 commented on #58382
Same issue with traefik ingress, kubernetes 1.9.1, centos 7. When adding ingress, traefik doesn't update the backends, nothing gets redirected.

[2018-01-18 02:00] jianglingxia commented on #57639
thanks for your review this issue, @jingxu97
create a pod with cinder volume,finally we attach and mount the volume successfully,but in the intermediate there has two failure event,as follows：
![image](https://user-images.githubusercontent.com/25783555/35075973-fafc1cee-fc30-11e7-95fe-225f908a7425.png)
the controller manager log details:
[controller-manager.txt](https://github.com/kubernetes/kuber

[2018-01-18 02:20] FengyunPan commented on #57639
The k8s 1.6.9 is too old.
Have you tested it on k8s 1.8+?
OTOH, "two failure even" had been fixed long time, please check: #44536

[2018-01-18 02:21] mlmhl commented on #54108
@saad-ali
I'm not sure if the `SetMountDevicePath` method of `DeviceMounter` is necessary or not.  Instead of adding a `SetMountDevicePath` method, maybe we can keep only the `MountDevice` method and add a `devicePath string` parameter to it, looks like this:

[code]

For cloud volumes(like `AWS`), A/D controller will update the device path to node API object after attach operation finished, then

[2018-01-18 02:24] mbohlool commented on #31266
@pwittrock is it not done with your API document generation?

[2018-01-18 02:31] jianglingxia commented on #57639
sorry,maybe I can't find the issue,but thanks very much,the pr merge in v 1.7+,Iwill test it in k8s 1.8+!

[2018-01-18 02:37] lcfang opened #58423 "Is it meaningful about "TODO: rename the package of e2e_node to e2e-node"?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
As I see blow https://github.com/kubernetes/kubernetes/blob/b7100f1ee7231617891a100dd34b3490a1f578e4/test/e2e_node/doc.go#L18
 I wonder if it is meaningful? And what's the meaning of it?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Enviro

[2018-01-18 02:38] liwjGhostcloud opened #58424 "how to set TXT DNS"
in my cluster i want to config a txt dns record that my eureka cluter can use dns add node.

the question 1: i find kube-dns have dnsmasq and i find it can config txt dns record and how to set TXT record just like `txt-record=txt.global.eureka.storytel,xxxx.xxxxx.xxxxx`
and the question 2: how to auto add record in the last of `txt-record`  when pod created

my kuberenets version is 1.8

[2018-01-18 02:38] lcfang commented on #58423
/sig-node

[2018-01-18 02:38] ianchakeres commented on #58416
/assign @ianchakeres

[2018-01-18 02:51] lcfang commented on #58423
/cc @Random-Liu @vishh @yujuhong

[2018-01-18 03:08] FengyunPan commented on #56657
Yeah, that's right.

[2018-01-18 03:08] #56657 closed

[2018-01-18 03:10] #28368 closed

[2018-01-18 03:26] hzxuzhonghu opened #58426 "We have no way to simultaneously enable ImagePolicyWebhook and MutatingAdmissionWebhook admission plugins"
/kind bug

**What happened**:

When I want to enable both plugins by passing below flag, as they both need config file, and I find I donot know what to set `--admission-control-config-file`
[code]

If I set  `--admission-control-config-file=admission-config.json`, then I get an error in apiserver
`Error: failed to initialize admission: failed to read plugin config: couldn't get version/kind; json

[2018-01-18 03:26] hzxuzhonghu commented on #58426
/kind bug
/sig auth

[2018-01-18 03:27] hzxuzhonghu commented on #58426
/cc @liggitt @sttts

[2018-01-18 03:29] hzxuzhonghu commented on #58426
/cc @caesarxuchao

[2018-01-18 03:30] carlory opened #58427 "The apiserver crash when I delete crd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

The apiserver crash when I delete crd.

**What you expected to happen**:

The apiserver should correctly valiate crd when I create a crd with validation field.

**How to reproduce it (as minimally and precisely as possible)**:

test.yaml

[code]

1. create crd

[code]

2. delete crd

[code]

**Anything else we need to know?**:

the

[2018-01-18 03:36] mlmhl commented on #54108
@mtanino
I'm not sure if there is a method to exclusive volume for `fc` and `iscsi`. For `rbd`, if the volume is requested as `ReadWrite`(in other words, `ReadOnly` not set), maybe we can try to lock the volume first, if failed, it means this volume is already attached to a different node, then we can just report an error and remain according pod in `pending` state.

By the way, I think the A/D co

[2018-01-18 03:37] orangefiredragon commented on #23349
/remove-lifecycle stale

[2018-01-18 03:39] yue9944882 commented on #58403
Here's my 2 cent.

This needs the writer to travel through every sub-directories which may potentially fail because of symlink or permission issues (or cyclic symlinks at the worst case). I'd suggest put a file of which the content is a list of directories' abs path it creates at the top of "mount point". So `AtomicWriter` will only manage files under these directories or just ignore them.

But wh

[2018-01-18 03:41] carlory commented on #58427
/sig api-machinery

[2018-01-18 03:42] carlory commented on #58427
I think that the validation of crd  shouldn't also support the ref field because it doesn't support id and definitions.

[code]

[2018-01-18 03:49] saad-ali commented on #54108
If the volume plugin has no way to know that the volume is attached on another node and `MountDevice`  for the second volume will succeed, then why try to stop it?

+1

This gets confusing because it's hard to determine if the string is required but empty, or just not required. The `mountPath` will be only be required by some plugins (AWS). If we make it a parameter then we have no clean way to va

[2018-01-18 03:56] carlory commented on #58427
/area customresources

[2018-01-18 03:57] carlory commented on #58427
/kind bug

[2018-01-18 04:00] mtanino commented on #54108
@saad-ali

If a FC volume with ext4 filesystem is mounted to two pods on different kubelet nodes, and then these pods issue I/O to the FC volume simultaneously, issued data may be lost or volume may be corrupted since ext4 is not network shared filesystem.
I think to avoid this situation, attacher was introduced to local volume plugins.

[2018-01-18 04:07] mtanino commented on #54108
@mlmhl

For the SCSI device like iSCSI and FC, if storage supports SCSI reservation to take LUN lock, this might be one of solution. As you may know SCSI reservation is usually used by cluster software.
But this depends on backend vendor's storage also I suppose this make more complex for plugin implementation and also recovery process from error state.

I don't have alternative ideas to take lock

[2018-01-18 04:15] fejta-bot opened #58429 "Failure cluster [1841b0...] failed 84 builds, 7 jobs, and 2 tests over 1 days"
### Failure cluster [1841b0ceefcb4ee87a61](https://go.k8s.io/triage#1841b0ceefcb4ee87a61)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    7 jobs failed,    84 builds failed.
Failure stats cover 1 day time range '17 Jan 2018 03:36 UTC' to '18 Jan 2018 03:36 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] Networkin

[2018-01-18 04:15] fejta-bot opened #58430 "Failure cluster [b6f250...] failed 83 builds, 6 jobs, and 2 tests over 1 days"
### Failure cluster [b6f2502eed675ab7759b](https://go.k8s.io/triage#b6f2502eed675ab7759b)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    6 jobs failed,    83 builds failed.
Failure stats cover 1 day time range '17 Jan 2018 03:36 UTC' to '18 Jan 2018 03:36 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] Networkin

[2018-01-18 04:35] mtanino commented on #54108
@mlmhl

I was surprised that AccessModes is slice(`[]PersistentVolumeAccessModes`), so as you mentioned PVSpec can be defined with multiple access modes.
As a result, there is a case that A/D controller cannot avoid the volume mounts to different nodes.

But I thought this case is acceptable since user specifies two types of accessModes even if the volume doesn't work properly with multi-attach si

[2018-01-18 04:47] ianchakeres commented on #58416
FYI: @jsafrane

[2018-01-18 04:55] rangapv opened #58432 "kubefed init authorization issue ...API server is running cases..."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I installed kubefed init and tried the following two ways ...

1. sudo kubefed init fellowship --host-cluster-context=kubernetes-admin@kubernetes --dns-provider="google-clouddns" --dns-zone-name="example1.com." --etcd-persistent-storage=false --api-server-service-type="NodePort"
The federation API comes up but attempt to

[2018-01-18 04:56] rangapv commented on #58432
sig/multicluster

[2018-01-18 04:58] rangapv commented on #58432
/sig multicluster
/sig federation

[2018-01-18 05:13] bgrant0607 commented on #38216
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-18 05:31] resouer commented on #58232
But PVC is not bound to node, not very sure about how the spreading here works @abhgupta Mind to explain a little bit?

[2018-01-18 05:33] resouer commented on #58198
While one thing still not clear is what is this admission control plugin expected for?

[2018-01-18 05:41] resouer commented on #57315
@gongweibao Today's design of multiple schedulers is like a "main scheduler" with  an "auxiliary scheduler", and the later is assumed to be very simple and trying to avoid any cache (there will be inconsistency). In this case, I will not say preemption can work for the "auxiliary scheduler".

cc @bsalamat who leads priority/preemption work.

[2018-01-18 05:51] porridge commented on #54238
/remove-lifecycle stale

[2018-01-18 06:10] hzxuzhonghu commented on #58427
/cc @sttts

[2018-01-18 06:14] hzxuzhonghu commented on #58427
/assign

[2018-01-18 06:32] shiywang commented on #58212
Firstly, this change was introduced in https://github.com/kubernetes/kubernetes/pull/52450, and apologies for that I didn't have a thoughtful review.

Here is my understanding: (@liggitt please correct me if I'm wrong)

1. From k8s developer perspective, `apply` `patch` should consider as `idempotent ("make-it-so") commands` and according to conventions [here](https://github.com/kubernetes/communi

[2018-01-18 06:40] shiywang commented on #58212
Also we distinguish idempotent or non-idempotent commands by HTTP method right ? @liggitt

[2018-01-18 07:05] liggitt commented on #58426
first, you can't put comments in json. the error was complaining about your embedded comments. this would let the server start:

imagepolicy.json:
[code]

second, the docs are really, really, not right (opened https://github.com/kubernetes/website/pull/7007/files with fixes).

if you want to specify config for multiple plugins, `--admission-control-config-file` should point to a config that refere

[2018-01-18 07:05] liggitt commented on #58426
/assign

[2018-01-18 07:06] edevil commented on #47733
@khenidak can you tell me where to find these logs from the Azure side?

[2018-01-18 07:15] vainu-arto commented on #58379
I'm not currently set up to have easy testability on different versions, I'll see what I can do about that..

[2018-01-18 07:15] roberthbailey commented on #17397
kube-push was removed in https://github.com/kubernetes/kubernetes/pull/58246, so marking this as obsolete.

[2018-01-18 07:15] #17397 closed

[2018-01-18 07:20] k82cn commented on #58379
@vainu-arto , np, I can test it with latest version if you did not have ready env :).

[2018-01-18 07:23] k82cn commented on #57002
@gmflau , please remove `weight` when using `requiredDuringSchedulingIgnoredDuringExecution`.

And just want to make sure you'd like to use hard restriction in your case :).

[2018-01-18 07:30] qianlifu12345 commented on #19811
Is there any solution?

[2018-01-18 07:31] bsalamat commented on #58379
This is WAI. If you enable Pod priority and preemption and some of your Pods have larger than zero priority, they could cause lower priority pods to get evicted. In order to solve this issue, you need to set priority class name of kube-proxy to `system-node-critical`. `system-node-critical` is a predefined priority class and is the highest priority level.

[2018-01-18 07:54] bsalamat commented on #57315
Multiple schedulers must follow the same priority rule: higher integer value of Pod priority indicates higher priority for the Pod. In multi-scheduler scenarios, all the schedulers must follow this rule if they all want to implement preemption.

[2018-01-18 07:55] vainu-arto commented on #58379
What is the relationship between system-node-critical (which seems to be undocumented) and SYSTEM (which is documented at https://kubernetes.io/docs/api-reference/v1.9/#podspec-v1-core )?

In either case, kops doesn't appear to have a way to change this (the kube-proxy static pod manifest seems to be hard-coded in nodeup).

Is setting PriorityClassName an error if PodPriority isn't enabled (I assu

[2018-01-18 07:58] bsalamat commented on #23758
This issue seems to be old and out-dated. Scheduler does perform spreading of ReplicaSets and StatefulSets by default. It also support inter-pod anti-affinity which ensures distribution of pods across multiple nodes, zones, etc.

/close

[2018-01-18 07:58] #23758 closed

[2018-01-18 08:02] liggitt commented on #58432
Please report kubefed issues against https://github.com/kubernetes/federation/issues

/close

[2018-01-18 08:02] #58432 closed

[2018-01-18 08:04] liggitt commented on #47985
/close

[2018-01-18 08:04] #47985 closed

[2018-01-18 08:05] yue9944882 commented on #58382
@kc004 @dimm0
Both nginx-ingress-controller and traefik are just `Watching` ingress resources and reload their own configurations on notification. It can be possibly caused by incorrect response of the `Watch` call.

/sig api-machinery

[2018-01-18 08:24] nikhita commented on #58427
@hzxuzhonghu, @carlory has a PR open https://github.com/kubernetes/kubernetes/pull/58438 for this issue.

Pinging you here in case you didn't see it linked - so that you won't need to avoid duplicate efforts. :)

[2018-01-18 08:25] m1093782566 opened #58443 "Declare IPVS-based kube-proxy GA"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig network

/area ipvs

**What happened**:

As discussed in sig-network meeting, we decided to target IPVS-based kube-proxy GA in 1.10.

**What you expected to happen**:

Declare IPVS-based kube-proxy GA and remove feature gateway.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-01-18 08:25] m1093782566 commented on #58443
/assign

[2018-01-18 08:30] hzxuzhonghu commented on #58427
Thanks @nikhita

[2018-01-18 08:31] hzxuzhonghu commented on #58427
/unassign

[2018-01-18 08:35] hansedong commented on #5431
I encountered a similar problem，and finally, I found this problem was caused by initializer（istio initializer in fact） in k8s。I reinstalled the istio components and solved the problem。Hope this help someone.
#51883

[2018-01-18 08:47] vainu-arto commented on #58379
Manually adding priorityClassName set to either system-node-critical or SYSTEM to the static pod manifest stops the pod from starting.

With SYSTEM an error message is returned:
" Can't process manifest file "/etc/kubernetes/manifests/kube-proxy.manifest": invalid pod: [spec.priorityClassName: Invalid value: "SYSTEM": a DNS-1123 subdomain must consist of lower case alphanumeric characters, '-' or

[2018-01-18 08:47] bsalamat commented on #58379
The SYSTEM in that document is comprised of two priority classes: `system-node-critical` and `system-cluster-critical`. `system-node-critical` is the highest priority. (I should update that document.)

That's possible. I am not familiar enough with kops to provide guidance, but I know that you can run kube-proxy as a DaemonSet as well. I am not sure if this is possible with kops though.

Yes, it i

[2018-01-18 08:50] bsalamat commented on #58379
Can you get "kubectl describe pod" for the kube-proxy and send the information?

[2018-01-18 08:58] bsalamat commented on #58379
Thanks for verifying that it works and also thanks for trying priority and bringing it to our attention that kops may has an issue with it.

[2018-01-18 09:56] jsafrane commented on #58403
AtomicWriter already keeps them on disk in a directory `..<date-time-random_suffix>`, no issue here.

[2018-01-18 09:57] jsafrane commented on #58403
thanks @gnufied for finding #57421, this issue is duplicate
/close

[2018-01-18 09:57] #58403 closed

[2018-01-18 10:17] Aaron3 commented on #37518
Is there a reason this is not supported on GCE?

When working with any sort of multi-tenant SaaS, you can't roll out one cert for clientA.com, clientB.com and clientXYZ.com. This forces you to setup a separate IP for each client which isn't scalable.

At the very least, it would be nice if it could create the certs so you can manually assign them to the load balancer.

[2018-01-18 10:24] vainu-arto commented on #58379
So setting podpriorityclass does actually work, but it doesn't fix the issue I'm seeing. Even with priorityClassName: system-node-critical the kube-proxy pods are constantly evicted from their nodes.

[2018-01-18 10:31] yurig93 commented on #52906
/lifecycle frozen

[2018-01-18 10:31] yurig93 commented on #52906
/remove-lifecycle stale

[2018-01-18 10:34] vainu-arto commented on #58379
And here is the smoking gun. For a kube-dns pod created out of a deployment with priorityclass set:
  priority: 2000000000
  priorityClassName: system-cluster-critical

For the static kube-proxy pod:
  priorityClassName: system-node-critical

So apparently kubelet doesn't set priority when it creates the static pod, and it needs to be set manually. In that case there is no reason to set priorityCl

[2018-01-18 10:38] azalio commented on #49500
I build rpm for myself: https://gitlab.com/azalio/kubernetes-binary

[2018-01-18 10:52] kc004 commented on #58382
I solved this issue by changing the nginx-ingress deployment to use hostNetwork in the port mapping section.
[http://alesnosek.com/blog/2017/02/14/accessing-kubernetes-pods-from-outside-of-the-cluster/](url)

[2018-01-18 10:52] #58382 closed

[2018-01-18 10:56] porridge commented on #55860
@yliaog we're getting surprisingly many of these failures with GET requests - see the list in initial comment. I don't think the retry code you linked to is kicking in actually, because in that case we should not be seeing the "connection reset" error message at all, AFAICT?

[2018-01-18 11:01] jacekn opened #58449 "Kubernetes-master juju layer hardcodes old nginx-ingress-controller image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubernetes-master juju layer harcodes old nginx-ingress-controller image:
[code]

Because of that deployed environment is affected by https://github.com/kubernetes/ingress-nginx/issues/1876 and possibly other nginx-ingress-controller bugs

**What you expected to happen**:

Ideally I'd like the image to be configured usin

[2018-01-18 11:13] errordeveloper commented on #58449
@ktsakalozos do Juju-related issues belong here or perhaps folks should be referred to https://github.com/juju-solutions/bundle-canonical-kubernetes?

[2018-01-18 11:20] #57421 closed

[2018-01-18 11:21] felixPG opened #58450 "No service access when exposing externally"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I have a kubernetes cluster **1.8.5+debian stretch + docker 1.13 (overlay2)**
I have problems exposing a service as part of a deployment of a private docker registry.
If I create the container using docker, the service work like a charm:
[code]
When I try to create the deployment exposing the service as external IP in the

[2018-01-18 11:23] felixPG commented on #58450
/sig network

[2018-01-18 11:31] flybd5 commented on #55100
I gave up on this and just installed the binaries, which seem to work fine.

On Fri, Jan 12, 2018 at 8:18 AM, magic.chen <notifications@github.com>
wrote:

[2018-01-18 11:47] vdboor opened #58452 "readinessProbe keeps active together with livenessProbe while container is already started"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Both the `readinessProbe` and `livenessProbe` remained active in the container.

The `readinessProbe` was used to check whether the application was started, and it could connect to all it's backends (postgres, redis, etc..). This check runs every 10 seconds to ensure it helps with a quick startup.

The `livenessProbe` wa

[2018-01-18 11:47] felixPG commented on #58450
Only for confirmation, this happend with **kubernetes 1.9** too

[2018-01-18 11:48] bryanleekw commented on #40224
I am having the same issue
bryanleekw@nb1:/proj/kubernetes$ kubectl rollout status deployment/monitor-scale
Waiting for rollout to finish: 0 of 1 updated replicas are available...
Waiting for rollout to finish: 0 of 1 updated replicas are available...
error: watch closed before Until timeout

my kubectl version is:
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"

[2018-01-18 11:58] bryanleekw commented on #40224
may I know how can I check rollout status by log files?

[2018-01-18 12:04] gongweibao commented on #57315
Thanks! It's useful!

[2018-01-18 12:04] #57315 closed

[2018-01-18 12:05] crassirostris commented on #58083
It actually depends on the audit logging configuration. You can always support more QPS by bumping the audit logging throughput (e.g. the number of allowed QPS issued by webhook). It's a matter of policy in each cluster, not implementation per se

[2018-01-18 12:28] marczahn commented on #55713
I wrote a script, that can be run as a cronjob:
[code]
It is actually checking if a node is down and not drained and vice versa. Hope it helps

[2018-01-18 12:31] mlmhl commented on #54108
I'm also not sure if we need a more strict validation on `AccessModes` or not. @saad-ali  Any comments?

[2018-01-18 13:36] maxkondr commented on #58385
Could you please list the users that should be mentioned during certificates creation?

[2018-01-18 13:43] csandanov commented on #3595
Another problem with `ulimit` in entrypoint is that you can't change the hard limit as non-root and you can't do it via `sudo` either. Normally, in Linux you do it via `/etc/security/limits.conf` but docker ignores it, so you'll have to use root as a default user.

If you're looking for elasticsearch image with `ulimit` in entrypoint and elasticsearch running from `elasticsearch` user feel free to

[2018-01-18 13:51] gnufied opened #58455 "PVC conditions are not displayed on kubectl describe"
We should show these conditions - so as user can see status of PVC wrt to resizing operations.

/sig storage

[2018-01-18 13:59] edevil commented on #14512
Just to add more fuel to the discussion, I was recently bitten by a problem using initContainers for running Django migrations.

During one of the rolling upgrades several pods ran the "./manage.py migrate" script at the same time through the "initContainers" feature. Since Django does not do every migration operation inside a transaction, some of the operations were interleaved which did not end

[2018-01-18 14:02] mtanino commented on #54108
I think we shouldn't add more strict validation because it breaks API's backward compatibility.

[2018-01-18 14:07] k82cn commented on #58379
nop, it should be handled by admission controller; Bobby and me just talked it this afternoon :). It's interesting that kube-dns was updated but kube-proxy not, let me check it.

[2018-01-18 14:09] vainu-arto commented on #58379
Does a static pod pass through the mentioned admission controller?

[2018-01-18 14:14] k82cn commented on #58379
@vainu-arto , should be; let me double check the logic when kubelet creating it.

[2018-01-18 14:25] vdboor commented on #58452
@kubernetes/sig-node-bugs

[2018-01-18 14:41] leblancd commented on #58180
@drf - Sounds good, let me know if I can help when you restart your setup. From what I understand, the Calico CNI plugin supports IPv6, but Flannel does not yet support IPv6 (Flannel support for IPv6 might be in progress?). Since Canal uses Flannel for plumbing, I don't think that it supports IPv6 either, but maybe someone who's more familiar can correct me.

[2018-01-18 14:42] php-coder commented on #56374
Is it really Kubernetes issue? AFAIU it's default Docker behavior that was fixed once and rolled back later (see https://github.com/moby/moby/pull/26979).

[2018-01-18 14:55] NickrenREN opened #58461 "Move VolumeAttachment API to Beta"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Now, VolumeAttachment API is v1alpha1.

**What you expected to happen**:
Move VolumeAttachment API to Beta,   co-exist with Alpha version. Necessary for testing.

/sig storage

/assign

[2018-01-18 15:04] af732p commented on #49387
Got the same issue.
I would be glad to have something like:
kubectl get pods --field-selector=status.ready!=True

[2018-01-18 15:17] drf commented on #58180
@leblancd cool, thanks for the insight - I'll stick to Calico for the sake of considering the issue belonging to Kubernetes or not.

[2018-01-18 15:17] kweisamx opened #58464 "Kubeadm change the path of ca.crt from /var/run/secrets/kubernetes.io/serviceaccount/ca.crt ?"
There ois No crt in the path of /var/run/secrets

I use kubeadm to install my kubernetes cluster, and where is the ca.crt location?

Thanks

**Environment**:
- Kubernetes version (use `kubectl version`):
1.9
- Cloud provider or hardware configuration:
bare metal
- OS (e.g. from /etc/os-release):
Ubuntu 16.04
- Kernel (e.g. `uname -a`):
Linux u1 4.4.0-87-generic
- Install tools:
Kubeadm

[2018-01-18 15:32] timothysc commented on #58464
For security and recoverable reboot conditions the location had changed to `--cert-dir=/var/lib/kubelet/pki` a while ago.

[2018-01-18 15:32] #58464 closed

[2018-01-18 15:34] timothysc commented on #246
Given the plethora of incantations that exist today, I'm going to close this root issue b/c it no longer tracks the details.  We are working in sig-cluster-lifecycle to refine this on our road to GA and this issue no longer tracks state so closing.

[2018-01-18 15:34] #246 closed

[2018-01-18 15:35] k82cn commented on #58379
wow, we skip mirror pod in admission controller [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/priority/admission.go#L159).

[2018-01-18 15:36] timothysc commented on #473
I'm going to move to close this, there are recipes for recipes today and this issue no longer tracks any of the details.  Different repos have assorted parent-child issues tracking the state and there has been docs published to the main site as well.

[2018-01-18 15:36] #473 closed

[2018-01-18 15:38] ravisantoshgudimetla commented on #58379
@k82cn @vainu-arto I have just started playing around with priorities and it seems the problem is indeed with this line in admission controller(https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/priority/admission.go#L159) because of which we are not setting priority for it

[2018-01-18 15:39] ravisantoshgudimetla commented on #58379
Oops @k82cn you bet me it..

[2018-01-18 15:48] mark9white commented on #33084
FYI: Still seeing this in Kubernetes 1.9

[2018-01-18 16:07] ironcladlou commented on #14512
@486 @edevil the discussion continues over here: https://github.com/kubernetes/community/pull/1171

[2018-01-18 16:32] thockin commented on #23864
@m1093782566 Any thoughts on if/how to support ranges in IPVS mode?

[2018-01-18 16:39] danehans commented on #58180
cc'ing @caseydavenport @squeed for Calico/Flannel IPv6 support input.

[2018-01-18 17:13] dims commented on #3595
@kubernetes/sig-node-feature-requests So would we be ok with doing something just for docker here? I can't tell if other CRI implementations can easily support this feature. (cc @timothysc @tnachen @bgrant0607)

[2018-01-18 17:19] jsravn opened #58467 "register-with-taints validation is too strict"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Tried starting kubelet with `--register-with-taints=my.org/mytaint=true:NoSchedule`. kubelet fails saying the taint key is invalid, even though it is valid.

**What you expected to happen**:
It should taint with `my.org/mytaint`.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8.4

[2018-01-18 17:20] jsravn commented on #58467
/sig node

[2018-01-18 17:35] #58183 closed

[2018-01-18 17:54] cblecker commented on #49673
@ixdy is this still relevant?

[2018-01-18 18:00] hartsock commented on #31424
+1

[2018-01-18 18:00] aveshagarwal commented on #58242
If the purpose of the dry-run is to check if where a new pod would be scheduled, then it can be checked easily with cluster capacity as follows: `./cluster-capacity --kubeconfig <path to kubeconfig> --podspec <input-pod-spec> --max-limit 1`  .  If a series of pods has to be checked, that there are 2 cases: 1) do pods in the series need to be scheduled independent of each other? if yes, then it can

[2018-01-18 18:13] yujuhong commented on #29572
I think we can close this issue now that there is documentation on sysctl and how to use it: https://kubernetes.io/docs/concepts/cluster-administration/sysctl-cluster/

[2018-01-18 18:13] #29572 closed

[2018-01-18 18:28] resouer commented on #33458
This have to be a break change and backward compatibility effort will be much more than its benefits. Close.

[2018-01-18 18:28] #33458 closed

[2018-01-18 18:30] jingxu97 commented on #57639
@jianglingxia does these error message always happen when starting a pod or occupationally? I think there might be some race condition which cause reconcile try to send attach operation twice.

[2018-01-18 18:31] cbandy commented on #57686
That is,
- https://godoc.org/github.com/prometheus/client_golang/prometheus#Registry.Unregister or
- https://godoc.org/github.com/prometheus/client_golang/prometheus#Unregister

[2018-01-18 18:31] #31329 closed

[2018-01-18 18:34] bsalamat commented on #58379
cc/ @dashpole for kubelet evictions

[2018-01-18 18:41] JeanMertz commented on #35213
/lifecycle frozen

[2018-01-18 18:42] jingxu97 commented on #52906
@yurig93 Do you still have issue with this?

[2018-01-18 18:43] bsalamat commented on #55333
Actually, I think we don't need to fix this (as explained in [my comment](https://github.com/kubernetes/kubernetes/issues/55333#issuecomment-345549189) above). I am going to close this issue.

[2018-01-18 18:43] #55333 closed

[2018-01-18 18:48] bsalamat opened #58471 "Priority admission controller should resolve priority of mirror pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Priority admission controller [skips resolving PriorityClassName](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/priority/admission.go#L159) of mirror pods. This is an error and should be removed.

**What you expected to happen**:
Integer value of Priority should be populated by the admission con

[2018-01-18 19:07] dashpole commented on #58379
@vainu-arto what does the event look like when it is evicted?  Is the reason `Evicted`, `Preempting`, or something else?

[2018-01-18 19:28] rphillips commented on #57617
@luxas Are there API server e2e tests currently?

[2018-01-18 19:31] timothysc commented on #58232
@abhgupta are you just looking for a count-leveling?  So distributions of PVC's are not lumpy?  If so that seems pretty trivial.

[2018-01-18 20:51] liggitt commented on #57617
there are not HA API server tests that I'm aware of

[2018-01-18 21:11] #55528 closed

[2018-01-18 21:11] #58426 closed

[2018-01-18 21:17] lavalamp commented on #58292
Is this a good idea? Won't we have to copy these things for every version? Do we really want helper functions to be part of our api surface area?

[2018-01-18 21:19] jennybuckley commented on #58374
@jennybuckley

[2018-01-18 21:19] ericchiang commented on #57424
@colemickens has volunteered to take this.

/assign @colemickens

[2018-01-18 21:22] jennybuckley commented on #58427
/cc @mbohlool

[2018-01-18 21:22] skurunji85 commented on #43874
This feature is exactly what i was looking for my work. I want to inject init container into POD spec based on some other setting during deployment. Can anyone tell me where to look to find the status of this feature.

[2018-01-18 21:34] andraxylia commented on #43874
We wanted to use this feature in Istio (istio.io), but we ended up using admission controllers (initializer and now dynamic webhooks).

I am afraid nobody is working on it.

[2018-01-18 21:43] 2rs2ts commented on #53489
In fact, this is a feature I need!

[2018-01-18 21:58] tmszdmsk opened #58477 "Duplicated environment variable in deployment disappears completely when fixed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
For `deployment` resource:

A container has defined environment variable with name `x` that is duplicated (there are two env vars with the same name, the value is also the same).

When you fix the `deployment` resource descriptor so that environment variable with name `x` appears only once and push it with `kubectl apply`,

[2018-01-18 22:00] saad-ali commented on #54108
Thank you for pointing out this use case. I think it is important that we have an answer for this.

If we go with this solution, will there be any user visible issues?

My understanding is that `[]PersistentVolumeAccessModes` was initially an array so that a volume could describe the *exact* mode of operations that they exposed. And binding logic was initially an exact match. But eventually the bi

[2018-01-18 22:02] tmszdmsk commented on #58477
@kubernetes/sig-api-machinery-bugs

[2018-01-18 22:14] skurunji85 commented on #43874
Thanks andraxylia! I will look into admission controllers.

[2018-01-18 22:23] liggitt commented on #58477
@mengqiy likely due to strategic patch computation sending a "remove x" patch

[2018-01-18 22:24] liggitt commented on #58477
the envvar name is supposed to be the unique key of items in the list, yet the apiserver allowed a duplicate to be persisted in the first place. that's likely the cause of the bug

[2018-01-18 22:25] liggitt commented on #58471
what is the kubelet expected to do with a low priority static pod if it gets evicted?

[2018-01-18 22:28] liggitt commented on #58471
also doesn't this mean a user can claim their pod is a mirror pod via an annotation and get it admitted with any priority they want?

[code]

[2018-01-18 22:39] carolynvs commented on #53640
@dixudx I am developing a plugin for Service Catalog and have run into this limitation as well. I don't quite understand your workaround though.

I don't see where that aging plugin registers its own runner? How would we go about doing that?

For context, the plugin is a reguar go binary. I'd like to be able to support commands like `svcat --version` and when it's used as a plugin `kubectl plugin

[2018-01-18 22:50] yastij commented on #58406
cc @augabet

[2018-01-18 23:06] jfoy commented on #25625
@davidopp @timothysc Does this issue capture the current state of design work for draining and decommissioning nodes? The related work in https://github.com/kubernetes/kube-deploy/pull/298 seems to conclude "... and we need to figure out draining."

I'm digging into related issues around workload health across cluster maintenance, and it's starting to look like the only good solution is to address

[2018-01-18 23:08] mtanino commented on #54108
@saad-ali

But this depends on backend vendor's storage also I suppose this make more complex for plugin implementation and also recovery process from error state.

I'm not much familiar with SCSI reservation, but as I mentioned, it depends on software target or vendor storage whether SCSI reservation is supported or not. For example, some vendor iSCSI/FC storage supports the functionality but oth

[2018-01-19 00:14] isansahoo commented on #44894
@xiaoxi1989 : how did you solve it?

[2018-01-19 00:15] DreadPirateShawn opened #58486 "Kubernetes: requesting flag for "kubectl logs" to avoid 5-minute timeout if no stdout/stderr"
/kind feature

**What happened**:

When running `kubectl logs --follow` on a pod, after 5 minutes of no stdout/stderr, we received:
[code]

**What you expected to happen**:

The in-progress test was still running, it simply takes about 2 hours -- so after 113 minutes, more stdout was indeed written.

Expected `--follow` to behave like similar follow flags in (for instance) `journalctl` or `tail` -

[2018-01-19 00:18] 2rs2ts commented on #53489
Food for thought: should we propagate the tags on the ELB to the SG, or should we introduce an annotation for the SG specifically?

[2018-01-19 00:36] bsalamat commented on #58471
@dashpole knows better about kubelet evictions, but in my opinion a static low priority pod should be evicted similar to other pods. Whether it makes sense for static pods to be low priority or not is a relevant question. I would say it doesn't make sense, but one might find a reason to have static low priority pod.

Not really. This check effectively bypasses integer resolution of priority causin

[2018-01-19 00:38] linyouchong commented on #58352
@verult Thanks for your help!

[2018-01-19 00:51] jianglingxia commented on #57639
always and every time,I I will build a 1.8 environment and test it then report the result,thanks!

[2018-01-19 00:52] liggitt commented on #58471
It also bypasses the check that prevents the pod creator from setting an integer priority themselves. In any case, agree removing the bypass is good

[2018-01-19 01:05] dashpole commented on #58471
Static pods that fail for any reason (eviction is just one) are not re-run.  To avoid evictions entirely as a static pod, users can use the critical pod annotation.

[2018-01-19 01:32] dimm0 commented on #58382
Found the cause of my problem: https://github.com/containous/traefik/issues/2721

[2018-01-19 01:41] zhangmingld opened #58494 "There is only one container log symlink in kubernetes1.5 but two in kubernetes1.6"
**What happened**:
In our environment, we use "docker rm" to delete a "exited" k8s-managed container and we found that in kubernetes 1.5, the symlink is also deleted, but in kubernetes1.6, the symlink is not deleted.

When we check the code,we found ,in kubernetes1.5,the symlink is /var/log/containers,in kubernetes1.6,the symlink has two ,/var/log/containers and /var/log/pods

why we have two syml

[2018-01-19 01:41] zhangmingld commented on #58494
/sig node

[2018-01-19 01:43] dimm0 opened #58495 "PodSecurityPolicy inside a namespace can't use ClusterRole, but works with Role"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I created a ClusterRole with PodSecurityPolicy, and referenced it from a namespaced RoleBinding - it didn't work. Then I created exactly the same Role in that namespace and referenced that in RoleBinding - now it works.

**What you expected to happen**:
I expect the PodSecurityPolicies to work the same way as other RBAC r

[2018-01-19 01:45] dimm0 commented on #58495
/sig api-machinery

[2018-01-19 01:51] tallclair commented on #58083
Fair point... do we have any idea how cluster size maps to the defaults though? I.e. at what point should the cluster admin expect to need to raise those defaults or tighten the policy?

[2018-01-19 02:25] feiskyer opened #58497 "Windows kernel version is wrong"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubernetes/kubernetes#55143 gets windows kernel version by calling `windows.GetVersion()`, but it doesn't work on windows 10. From https://msdn.microsoft.com/en-us/library/windows/desktop/ms724439(v=vs.85).aspx, GetVersion requires app to be manifested.

[code]

Given the limited win32 functions in golang, we should read

[2018-01-19 02:25] feiskyer commented on #58497
/sig windows

[2018-01-19 03:26] liggitt commented on #58486
I don't think there a timeout built into kubectl or the apiserver. are you going through a load balancer?

[2018-01-19 03:29] liggitt commented on #58495
when I run the first set of commands, `can-i` answers yes. are you running that in a script? authorization is based on a cache that can take a few ms to observe policy changes.

[2018-01-19 03:34] liggitt commented on #58495
my results:

[code]

[2018-01-19 03:41] liggitt commented on #57440
/close

[2018-01-19 03:41] #57440 closed

[2018-01-19 03:56] liggitt commented on #23378
/close
cannot reproduce on supported releases (1.7+)

[2018-01-19 03:56] #23378 closed

[2018-01-19 03:57] liggitt commented on #25353
describe includes data from many different objects, each of which has their own API. we don't want to create a meta client-side API for describe.
/close

[2018-01-19 03:57] #25353 closed

[2018-01-19 04:07] m1093782566 commented on #23864
@thockin

As far as I know, fwmark with ipvsadm can do port ranges. For example,

[code]

PS. the example is in IPVS DR(not NAT) forwarding mode, I am exploring NAT mode and will post my test result once I have some interesting findings.

[2018-01-19 04:14] liggitt commented on #30391
vagrant provider has been removed
/close

[2018-01-19 04:14] #30391 closed

[2018-01-19 04:14] liggitt commented on #14887
vagrant provider has been removed
/close

[2018-01-19 04:14] #14887 closed

[2018-01-19 04:14] liggitt commented on #20206
vagrant provider has been removed
/close

[2018-01-19 04:15] #20206 closed

[2018-01-19 04:16] liggitt commented on #23124
vagrant provider has been removed
/close

[2018-01-19 04:16] #23124 closed

[2018-01-19 04:18] liggitt commented on #41188
vagrant provider has been removed
/close

[2018-01-19 04:18] #41188 closed

[2018-01-19 04:23] liggitt commented on #9267
unused and removed as of 1.7
/close

[2018-01-19 04:23] #9267 closed

[2018-01-19 04:26] liggitt commented on #31753
/close

[2018-01-19 04:26] #31753 closed

[2018-01-19 04:34] liggitt commented on #57898
duplicate of #33767
/close

in general, server-side export needs rethinking. which fields should be stripped depend on your intent (export and reimport in the same namespace? export to create in an arbitrary namespace? in another cluster?)

[2018-01-19 04:34] #57898 closed

[2018-01-19 04:35] liggitt commented on #50454
/close
in favor of https://github.com/kubernetes/kubernetes/issues/24855

[2018-01-19 04:35] #50454 closed

[2018-01-19 04:38] liggitt commented on #49497
/close

this issue is noted in the original "implement export" issue in https://github.com/kubernetes/kubernetes/issues/24855#issuecomment-329889844 which is still open... this very much seems like a partially designed feature that we need to finish designing before changing behavior further

[2018-01-19 04:38] #49497 closed

[2018-01-19 04:39] liggitt commented on #47228
/close

will track in https://github.com/kubernetes/kubernetes/issues/24855

[2018-01-19 04:39] #47228 closed

[2018-01-19 04:55] #58355 closed

[2018-01-19 05:02] fastest963 opened #58500 "Cannot create ILB when a Global HTTP LB Exists"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After creating a GCE Global LB (using ingress-gce), `k8s-ig--NAME` instance groups were made for all zones. This now prevents us from having network or internal load balancers because when `type: LoadBalancer` is specified for a service, a `v1.compute.regionBackendServices.insert` call is made with the `k8s-ig--NAME` but w

[2018-01-19 05:07] fastest963 commented on #58500
/sig gcp

[2018-01-19 05:54] dixudx commented on #53640
@carolynvs Please refer to [how-to-install-kubectl-plugins](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/#installing-kubectl-plugins). The runner will be called the command defined in the yaml file.

Right. Currently only string flag is supported by kubectl plugin.

Take below plugin yaml file as an example.

[code]

You can try to set a default value to false/true. And then par

[2018-01-19 05:55] zhangxiaoyu-zidif commented on #58494
/cc @yujuhong  @Random-Liu

[2018-01-19 05:58] zhangxiaoyu-zidif commented on #58494
@zhangmingld  you found that kubernentes or docker created duplicated links in two different directory. And after running `docker rm`, one of these two links was left?

[2018-01-19 06:01] liggitt commented on #41880
tracking this in the original "finish implementing export" issue - https://github.com/kubernetes/kubernetes/issues/24855

/close

[2018-01-19 06:01] #41880 closed

[2018-01-19 06:01] liggitt commented on #28551
/lifecycle frozen
/remove-lifecycle stale

[2018-01-19 06:33] Lentil1016 opened #58503 "GBK file being read as UTF-8 when run "kubectl create configmap --from-file""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: When I'm trying to create a configMap object with a text file encoded by GBK or GB2312 by running the following command,

[code]

it seems K8s read and treat it as a UTF-8 text file and all Chinese chars in this file, which I read by mount the configMap into a container in K8s, have been transformed to U+FFFD —— the REPLAC

[2018-01-19 06:47] #57907 closed

[2018-01-19 06:50] DreadPirateShawn commented on #58486
@liggitt Bah! Excellent call, thanks for the insight.

For posterity, the problem here is that we're using haproxy to serve a VIP to balance HA Kubernetes masters.

Specifically we're using HA-Proxy v1.4.21, and we have this in our haproxy cfg:
[code]
Increasing both of those values was required to fix the timeout issue described here.

Closing this ticket.

[2018-01-19 06:50] #58486 closed

[2018-01-19 06:55] liggitt commented on #58503
thank you for the detailed report. this is actually a duplicate of https://github.com/kubernetes/kubernetes/issues/32432 related to storing non-UTF8 data in configmaps

it is being addressed in https://github.com/kubernetes/kubernetes/pull/57938 and is likely to be solved in the 1.10 release

/close

[2018-01-19 06:55] #58503 closed

[2018-01-19 07:01] dimm0 commented on #58495
It really works now with your example. Sorry for bothering, I'll check my code again.
Thanks!

[2018-01-19 07:01] #58495 closed

[2018-01-19 07:18] k82cn opened #58505 "The BestEffort pod maybe rejected by kubelet with toleration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**Description**:

According to the preemption's doc, we'll take priority over Qos; but in [kubelet eviction manager](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L134), the higher priority BestEffort pod maybe rejected because of memory pressure. If TaintNodesByCondition enabled, the pod need

[2018-01-19 07:18] k82cn commented on #58505
/sig scheduling
/sig node

[2018-01-19 07:18] k82cn commented on #58505
/sig scheduling
/sig node

[2018-01-19 07:30] resouer opened #58507 "Need to fix data race when updating equivalence cache"
Fix this TODO (raised by @bsalamat) : https://github.com/kubernetes/kubernetes/blob/30b89d830b7fd0827576853d6a0db44b66a90d3d/pkg/scheduler/core/generic_scheduler.go#L482

Part of: #58222

One thoughts to fix this is, we can redesign the equivalence cache data structure to:
1. Set `invalid` bool instead of deleting the entry.
2. Include certain version tag in the entry, update the version per WRITE

[2018-01-19 07:48] sree7569 opened #58508 "No API token found for service account "default""
Hello,

I'm trying to create pods but it is giving below error.

[root@k8s-master pods]# kubectl create -f mysql.yaml

Error from server (ServerTimeout): error when creating "mysql.yaml": No API token found for service account "default", retry after the token is automatically created and added to the service account
[root@k8s-master pods]#

[root@k8s-master pods]# kubectl get serviceaccount
NAME

[2018-01-19 08:05] rjmorse commented on #49666
This was initially addressed with https://github.com/kubernetes/kubernetes/pull/51064 and later fixed with work in https://github.com/kubernetes/kubernetes/pull/56529 and manually tested to be functional. This looks good to close as fixed.

[2018-01-19 08:12] porridge commented on #56046
Another occurence:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/62

[2018-01-19 08:23] feiskyer commented on #57253
@saiyan86 This is what expected of windows containers. See here for why ADD is called consecutively

https://github.com/kubernetes/kubernetes/blob/6b57037432fa7d4e4157fd9d92b7aa33b3be16f1/pkg/kubelet/network/cni/cni_windows.go#L38-L39

[2018-01-19 08:24] #57253 closed

[2018-01-19 08:28] nicksardo commented on #54717
Fixed in #58436.

[2018-01-19 08:28] nicksardo commented on #54717
/close

[2018-01-19 08:28] #54717 closed

[2018-01-19 08:31] feiskyer commented on #57914
@djsly @jdumars SourceRanges is part of service spec, while serviceTag is azure specific. I think we don't expect to add cloud-specific features into Kubernetes API. What about adding a new annotation for this? e.g.  `service.beta.kubernetes.io/azure-lb-allowed-service-tags=VirtualNetwork`

[2018-01-19 08:33] feiskyer commented on #58357
/assign @itowlson

[2018-01-19 08:35] #56645 closed

[2018-01-19 08:55] vainu-arto commented on #58379
I did not make notes of these, and am not right now in a position to retest. This should be relatively simple to reproduce in any test clusters you have, though.

[2018-01-19 09:03] liggitt commented on #58508
Your controller manager must be started with a `--service-account-private-key-file` flag, giving it the signing key to generate tokens.

The apiserver must be given the corresponding public key with a `--service-account-key-file` flag so it can verify the tokens.

See https://kubernetes.io/docs/admin/service-accounts-admin/#token-controller

/close

[2018-01-19 09:03] #58508 closed

[2018-01-19 09:13] sharadsingh9 commented on #46070
is it possible to have same nvidia driver installed on multiple docker container on same host ??

[2018-01-19 09:15] feiskyer commented on #58410
@xtophs This is working as expected because `primaryAvailabilitySetName` is set to one agentpool for acs-engine deployed clusters. You could check the config in file `/etc/kubernetes/azure.json`.

And please also note that availability set (agentpool) is the Azure [backend pool boundry](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-overview#sku-service-limits-and-abil

[2018-01-19 09:17] #58467 closed

[2018-01-19 09:18] jsravn commented on #58467
My mistake.

[2018-01-19 09:22] nicksardo commented on #58500
Hi @fastest963

The BalancingMode isn't defined in the ILB code because the default is 'CONNECTION' when the backend service is INTERNAL (see further down that comment in godoc). Usually when that kind of error occurs, it'll say something about being "mixed mode".  The error message you posted occurs when an instance exists in multiple instance groups and a user tries to point multiple LBs to the

[2018-01-19 10:10] ITler commented on #58290
Problem within deployment

[2018-01-19 10:10] #58290 closed

[2018-01-19 10:11] errordeveloper commented on #50454
I can confirm that exporting a single resource works fine, e.g. with:
[code]

[2018-01-19 11:20] mfaizanse opened #58511 "Different Access modes for mounted volume in init container and actual container."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I am exploring persistent storage strategy for my services. I am using PersistentVolumes and PersistenVolumeClaims but the problem is that I am trying to mount the claim to initcontainer and container with different access modes. But currently you have to define the access mode in persistentVolumeClaim and then you ha

[2018-01-19 11:23] mfaizanse commented on #58511
/sig azure
/area platform/azure

[2018-01-19 11:24] luksa opened #58512 "Improve kubectl cp, so it doesn't require the tar binary in the container"
**What happened**:
Kubectl cp currently requires the container we're copying into to include the tar binary. This is problematic when the container image is minimal and only includes the main binary run in the container and nothing else.

**What you expected to happen**:
Docker now has `docker cp`, which can copy files into a running container without any prerequisites on the container itself. Kub

[2018-01-19 11:50] dbuhtiyarov opened #58514 "kubectl show old version of cluster after upgrade"
Hi Team

/kind bug
after cluster upgrade from version  1.9.1 to 1.9.2 (it went well) - "kubectl get nodes" show old version
[root@****** ~]# kubectl get nodes
NAME                                        STATUS    ROLES     AGE       VERSION
****                        Ready     master    1d        **v1.9.1**
****                        Ready     <none>    1d        **v1.9.1**

in the same time

[r

[2018-01-19 11:52] fastest963 commented on #58500
@nicksardo Thanks for the quick reply! I've investigated a bit more after your comment and I might've misdiagnosed the problem. It appears the second LB was created with a different set of instance groups. The Global HTTP LB was created with `k8s-ig--072821c5fb804c3d` and when I try to make the ILB it made a new instance group  `k8s-ig--645888a836618cf3`. So it looks like the instance group name i

[2018-01-19 11:58] rowleyaj commented on #45398
On the linked thread it seems like here was chosen as the place to continue discussion on this topic. Are there any further updates to this discussion elsewhere, or any issues implementing changes?

To add a further discussion point - is there any current reason that PDBs should not be mutable?

@foxish's comment:

Seems to imply that this was made immutable for a potential feature that does not y

[2018-01-19 12:08] dims commented on #58512
@luksa : did you figure out which Docker API is to be used?

/sig node

[2018-01-19 12:10] serathius commented on #56854
I was able to reproduce problem. In my case monitoring services (fluentd and metrics-server) were not running, because CPU requests were over capacity.
Looks like other monitoring services (heapster, event-exporter) where scheduled on master, inspite `SchedulingDisabled` node status.
It was fixed after I deleted pods for those services, resulting in rescheduling them on other nodes.

[2018-01-19 12:27] elemental-lf commented on #58151
I concur with @kokhang for the short term. In the medium term an official API  might be best, especially when DynamicKubeletConfig goes forward, but I'm not knowledgeable enough in this area to be qualified to judge this. And unfortunately I can't help with the PR for adding back the field. Sorry.

[2018-01-19 12:31] fabiand commented on #39892
I'd be willing to contribute to get the planet up and rolling

[2018-01-19 12:31] fabiand commented on #39892
/cc @jberkus do you know who to contact?

[2018-01-19 12:37] rowleyaj commented on #25321
I've commented on #45398 about the helm issue since it was decided discussion would go there.

I wanted to also comment here as well and say this should probably now have the `sig/apps` label and be updated with what is still remaining? I didn't remove sig-scheduling as I'm not sure how much of this was moved to `sig-apps`

Hopefully this works. It should according to https://github.com/kubernetes

[2018-01-19 12:46] luksa commented on #58512
Copy from container: `GET /containers/(id or name)/archive`
Copy into container: `PUT /containers/(id or name)/archive`

This is from https://docs.docker.com/engine/api/v1.20/

[2018-01-19 12:48] x13n commented on #56854
/unassign
/assign @serathius

Reassigning, since @serathius is now working on this.

I guess the question now is why those pods ended up running on the master.

[2018-01-19 12:51] x13n commented on #56854
Or not :) You need to join k8s org first...

[2018-01-19 13:28] m1093782566 commented on #23864
I wonder if there are user cases require port remapping? In my test, fwmark with ipvsadm does not support port remapping, even in masq mode.

[2018-01-19 13:37] ktsakalozos commented on #58449
Thank you @jacekn for reporting this, and @errordeveloper for pointing to the project with the kubernetes bundle.

Yes it would be better for issues to be opened against https://github.com/juju-solutions/bundle-canonical-kubernetes so we have better visibility.

[2018-01-19 13:59] djsly commented on #57914
I believe that at this stage, (no out of tree cloud provider logic), using an annotation would be the only way to go unfortunately.

[2018-01-19 13:59] porridge opened #58521 "suboptimal experience of manual e2e cluster creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-scalability-bugs
/priority backlog

**What happened**:

When one creates a large (~5k nodes) cluster, and then deletes it, and then creates a medium sized cluster (300 nodes), then it seems to come up OK, but the nodes never get their network configured.

The reason is:

[code]

And the reason for that is that some network or

[2018-01-19 13:59] porridge commented on #58521
@k8s-mirror-scalability-bugs

[2018-01-19 14:00] porridge commented on #58521
@kubernetes/sig-scalability-bugs

[2018-01-19 14:04] radu-matei commented on #27140
Hi!
Is there anyone actively working on this?

I would really like to start contributing on it (realistically starting next week or so).

[2018-01-19 14:10] k82cn commented on #58471
@dashpole , it seems we just log error if creating mirror pod failed; refer to [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1580). Does it make sense?

[2018-01-19 14:32] verb commented on #27140
@radu-matei Yes, I'm actively working on it. I have some PRs lined up but we haven't quite finalized the API yet, see kubernetes/community#1269.

I'd love to have some help here, of course. Was there a particular area to which you'd like to contribute?

[2018-01-19 14:39] sttts commented on #58292
@lavalamp we discussed that already in https://github.com/kubernetes/kubernetes/pull/58297#discussion_r161750892. Also note that this is not about moving them to k8s.io/api anyway, just inside pkg/ of k/k.

[2018-01-19 14:48] embano1 commented on #57424
Agree with @ericchiang that this is confusing at the moment. Reading [Extensible Admission is Beta](http://blog.kubernetes.io/2018/01/extensible-admission-is-beta.html) confused me when I read the code on PodNodeSelector

[code]
https://github.com/kubernetes/kubernetes/blob/v1.9.2/plugin/pkg/admission/podnodeselector/admission.go#L41

Glad this is being tracked.

[2018-01-19 14:56] andrewshilliday commented on #57627
How did you determine it was a problem of authentication, and how did you resolve it?

[2018-01-19 15:08] carolynvs commented on #53640
@dixudx I've tried what you suggested and I believe this is a limitation in how cobra works.

The default value for a flag is only used when the flag is omitted entirely. When the flag is present, but no value is specified, cobra considers the command invalid and prints help usage. A plugin doesn't get a chance to do its own parsing because cobra is consuming and validating all flags.

[code]

I'd

[2018-01-19 15:30] sttts commented on #58374
I am happy to debug this. But please cut it down to a simple deepcopy-gen call, i.e. without Makefile magic and bazel around. Even better: add a simple Dockerfile with the prerequisites and the call (direct deepcopy-gen call, no bazel please) which shows the different output on Linux (I have a Mac).

[2018-01-19 15:40] DirectXMan12 commented on #54161
/remove-lifecycle stale

[2018-01-19 15:47] sttts commented on #58374
k8s.io/code-generator is not pinned in Gopkg.toml. This will break.

[2018-01-19 15:47] stevekuznetsov commented on #54247
/remove-lifecycle stale

[2018-01-19 15:48] stevekuznetsov commented on #54247
@kubernetes/sig-node-bugs

[2018-01-19 15:49] andyzhangx commented on #57444
I did hit the issue, using an ACS based Kubernetes cluster running 1.7.7. We are already in the process of moving over to AKS based clusters, so was simply hoping that there would be some escalated effort to bring 1.8.7 into AKS given that the azure-disk provisioner is the default StorageClass.Not sure if you are looking for any more debug info at this time, but I still have the affected pod activ

[2018-01-19 16:01] rootfs opened #58524 "CSI Volume Plugin: Need to handle UserCredentials"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:[
According to CSI Spec, NodePublishVolume](https://github.com/container-storage-interface/spec/blob/master/spec.md#node-service-rpc) should get user credentials in its own map.

**What you expected to happen**:
CSI Volume plugin should get secret and pass into user credentials during volume publish calls.
**How to reprodu

[2018-01-19 16:07] sbezverk commented on #58524
@rootfs I think it is duplicate of the issue I submitted: https://github.com/kubernetes/kubernetes/issues/58343

[2018-01-19 16:33] fastest963 commented on #58500
It looks like this issue could be blamed on the federation. It gets the provider-uid and then sets that as `provider-uid` (see in my ingress-uid cm above) but doesn't set the `ingress-uid` equal to the `provider-uid` here https://github.com/kubernetes/federation/blob/master/pkg/federation-controller/ingress/ingress_controller.go#L563. When the ingress controller goes to make a L7 load balancer, it

[2018-01-19 16:39] #54322 closed

[2018-01-19 16:40] rootfs commented on #58524
thanks @sbezverk, let's make this a 1.9 bug and wait for the your feature in 1.10

[2018-01-19 16:43] MohamedElso opened #58526 "Failed to pull image kibana-openshift:5.6.3": rpc error: code = 2 desc = net/http: request canceled"
I can't pulled a new image from my Repository... I get the following error message:
Failed to pull image "xyz:5500/my/kibana-openshift:5.6.3": rpc error: code = 2 desc = net/http: request canceled

Thanks

[2018-01-19 17:04] dashpole commented on #58505
If the node has memory pressure, it rejects all pods that do not tolerate it.  This is orthogonal to QoS and Priority.

[2018-01-19 17:08] nicksardo commented on #58500
My next question was if you had federated that cluster. Did you mean to delete your last comment?

Federation purposely changes the provider-uid to a different value to distinguish clusters within the federated cluster. Unfortunately, the ingress-gce controller continued to use the uid for instance groups when it should have been using the provider-uid. I'll talk about this internally with some fo

[2018-01-19 17:12] dashpole commented on #58471
@k82cn I am not sure I understand the question entirely.  The mirror pod exists only to show the status of the static pod.  If the mirror pod doesn't exist, the static pod should still function correctly.  Since that is in `syncPod`, it will be retried periodically.

[2018-01-19 17:15] fastest963 commented on #58500
Sorry deleted my comment while we investigated more.

It looks like this issue could be blamed on the federation. It gets the provider-uid and then sets that as `provider-uid` (see in my ingress-uid cm above) but doesn't set the `ingress-uid` equal to the `provider-uid` here https://github.com/kubernetes/federation/blob/master/pkg/federation-controller/ingress/ingress_controller.go#L563. When the

[2018-01-19 17:15] saad-ali commented on #56944
+1 for probing approach

[2018-01-19 17:21] sttts commented on #58414
Let's clarify: we need PATCH conflict retries for CRDs. If that is through SMP or something else does not matter. Or we officially accept that the PATCH behaviour is different for CRDs. Not sure we want this kind compromises.

[2018-01-19 17:25] peskybp commented on #57444
Sadly the node became NotReady, and the cluster redeployed the pod to a separate node, which has rectified the issue.  We have been seeing the issue with far frequency, so I will make sure to gather the data next time it pops up.

[2018-01-19 17:27] dashpole commented on #58379
@vainu-arto do you have logs from the node where the evictions took place?  I would like to verify that the node started up with the feature gate set, and figure out which resource caused the eviction.

[2018-01-19 17:27] sttts commented on #27264
/remove-lifecycle rotten

[2018-01-19 17:29] peskybp commented on #57444
That said, the reason I was confident it was this issue previously is that when I exec'd into the shell, I got the "Input / Output error" upon trying to "ls" the mount point.

Furthermore, attempting to re-mount that point gave an error to the extent of "Special device /dev/sde does not exist"

[2018-01-19 17:30] nicksardo commented on #58500
You can change the provider-uid to the uid value, but then federated ingresses will have a firewall problem. I'm also unsure if the provider-uid might get set back by federation. Have you seen https://github.com/GoogleCloudPlatform/k8s-multicluster-ingress?

[2018-01-19 17:30] SleepyBrett commented on #58002
I've seen several of these bug reports, and am having one myself, but they all get ignored.

[2018-01-19 17:30] aguerra commented on #56903
Just in case someone got here  because of dns delays, in our case it was arp table overflow on the nodes (arp -n showing more than 1000 entries). Increasing the limits solved the problem.

[2018-01-19 17:35] fastest963 commented on #58500
What if I change the `uid` to the `provider-uid`? Not sure if one way is better than another? Yeah we're looking into that as well. It's not clear yet for a newcomer what the best path is to creating a global LB across clusters. Is that a better option despite the "This is a Google Cloud Platform alpha product, not ready to be used in production yet."?

[2018-01-19 17:37] mtaufen commented on #58151
I wrote a doc a while back to enumerate some of the things it would take for a more production-ready /configz: https://docs.google.com/document/d/1kNVSdw7H9EqyvI2BYH4EqwVtcg9bi9ZCPpJs8aKZFmM/edit?usp=sharing (you have to join kubernetes-dev@googlegroups.com to view the doc).

Keep in mind that your problem also stems from the fact that the KubeletConfiguration type currently exposed on /configz is

[2018-01-19 17:40] rphillips commented on #57617
I opened a PR for the default changes. Are there suggestions on a good E2E test to write if we don't have HA API server tests?

[2018-01-19 17:41] zouyee commented on #58514
1、delete node which has been joined
2、restart kubelet

[2018-01-19 17:47] ApsOps commented on #40270
/remove-lifecycle stale
 /lifecycle rotten
/lifecycle frozen

[2018-01-19 17:48] ApsOps commented on #40270
/remove-lifecycle rotten
/remove-lifecycle stale
/lifecycle frozen

[2018-01-19 17:58] jfoy commented on #12143
/remove-lifecycle stale

[2018-01-19 18:05] krlng commented on #58145
@FengyunPan
I tried the fix in 1.9.2, but it does not work. I tried multiple setting combinations of providing `subnet_id` and/or/neither `node-security-group`, but none works. The Service does not get a LoadBalancer IP assigned. Here are the logs and settings for the config version neither providing `subnet_id` nor `node-security-group`, since it seemed that's the way you recommended to me:

cat

[2018-01-19 18:22] bsalamat commented on #58505
@k82cn,
Preemption and node evictions do not work with the same exact metrics. Preemption is unaware of usage, while node evictions has pod and node resource usage information. Node eviction takes usage into account both when admitting a new pod and when evicting an existing pod. @dashpole has recently sent out [this PR](https://github.com/kubernetes/website/pull/6949) to update node eviction doc.

[2018-01-19 18:29] CindyXing commented on #55861
I am curious as well. @andyzhang, can you share some details here for the network setting? To my understanding, windows 2016 server kernel has some issues supporting k8s CNI. Thanks.

[2018-01-19 19:06] fastest963 commented on #58500
If the `uid` isn't the same across all of the clusters then each cluster will make their own HTTP LB instead of a single one. So there doesn't really seem to be workaround other than changes in the actual codebase (or just telling everyone to use kubemci).

[2018-01-19 19:09] nicksardo commented on #58500
Setting the uid to the provider-uid will cause the ingress controller to alienate all existing GCE HTTP(S) LB resources. As mentioned before, it'll also cause the ingress controllers to fight over the firewall rule - the reason why a second uid was added.

Cluster Federation is actually not supported on GKE - see the banner on https://cloud.google.com/kubernetes-engine/docs/concepts/kubernetes-eng

[2018-01-19 19:13] fastest963 commented on #58500
Thanks for the clarification. We will investigate and try using `kubemci`. I hadn't seen that banner before.

I assume the eventual goal is to support more than just ingress across clusters (if federation isn't supported) so that we can just apply objects across a set of clusters without just using a bash for loop?

[2018-01-19 19:16] mindprince commented on #51430
/lifecycle frozen
/remove-lifecycle stale

[2018-01-19 19:38] saad-ali commented on #57345
At this point, we believe this to be a systemd issue tracked by https://github.com/systemd/systemd/issues/7798:

The suggested mitigation is to run `systemctl daemon-reload` to periodically clear the bad transient mounts.

Once it is fixed in systemd, the changes must be picked up in the OS you are using.

[2018-01-19 19:38] rootfs commented on #58524
per http://blog.kubernetes.io/2018/01/introducing-container-storage-interface.html, credentials are not supported in alpha. Closing.

[2018-01-19 19:38] #58524 closed

[2018-01-19 19:41] #57345 closed

[2018-01-19 20:01] lbrictson commented on #56903
We have the same issue within all of our kops deployed aws clusters (5).  We tried moving from weave to flannel to rule out the CNI but the issue is the same.  Our kube-dns pods are healthy, one on every host and they have not crashed recently.

Our arp tables are no where near full (less than 100 entries usually)

[2018-01-19 20:06] smarterclayton opened #58536 "Bringing server-side printing to beta summary"
This is a tracker for the work items to bring server-side printing to beta in 1.10:

Server:

* [x] move the Table API to beta
* [ ] ~~put table API behind feature gate~~
* [ ] determine whether to have a shorthand mime-type for table (application/json+meta+v1+Table) or similar
* [x] Add better E2E tests that verify that all APIs implement the server side printer (https://github.com/kubernetes/kub

[2018-01-19 20:07] smarterclayton commented on #58536
Suggest we split this down the middle - I'll handle server side and Juan you can handle client side

[2018-01-19 20:09] juanvallejo commented on #58536
@smarterclayton

Sounds good to me.
@soltysh fyi

[2018-01-19 20:23] bowei commented on #56903
There are QPS limits on DNS at various places. I think in the past, people have hit AWS DNS server QPS limits in some cases, that may be worth checking.

[2018-01-19 20:31] lbrictson commented on #56903
@bowei  sadly this happens in very small clusters as well for us, ones that have so few containers that there is no feasible way we'd be hitting the QPS limit from AWS

[2018-01-19 20:46] MrHohn opened #58537 "gce-alpha-api CI is failing on Service network tier e2e test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/area platform/gce
/sig network

**What happened**:
From http://k8s-testgrid.appspot.com/sig-network-gce#gce-alpha-api&width=20, gce-alpha-api CI is failing since some recent changes on gce cloud library. Example failure:
[code]

Specifically, service_controller is throwing out this error ([log link](https://storage.googleapis.com/kubernetes-

[2018-01-19 20:50] mikksoone commented on #56903
Same here, small clusters, no arp nor QPS limits.
`dnsPolicy: Default` works without delays, but this unfortunately can not be used for all deployments.

[2018-01-19 20:50] fabiand commented on #38606
ping

[2018-01-19 20:52] lbrictson commented on #56903
@mikksoone  exact same situation as us then, dnsPolicy: Default fixes the problem entirely, but of course breaks accessing services internal to the cluster which is a no-go for most of ours.

[2018-01-19 20:56] vasartori commented on #56903
@mikksoone We have the same problem here.
But using dnsPolicy, all pods will get the dns from "node"...

[2018-01-19 20:58] msau42 commented on #38606
Raw block support in kubernetes is alpha in 1.9.  @fabiand do you have remaining use cases that are not covered by the raw block feature?

[2018-01-19 21:10] fabiand commented on #38606
Raw block storage is great, and we are able to work with it.

However, for performance reason we know that for certain transports (iscsi, ceph, and (iirc) gluster) we can actually delegate the volume attachment to the (qemu) process. This yields to better performance in some scenarios. OTOH attaching a volume directly to qemu also has drawbacks (limited multipath i.e.).

However, in general with K

[2018-01-19 21:13] DreadPirateShawn commented on #41580
So is this fixed, per PR #51644 ? Should this ticket be resolved rather than going stale?

[2018-01-19 21:16] msau42 commented on #38606
Could this be covered by writing your own flex or csi driver?

[2018-01-19 21:25] MHBauer commented on #53617
to me this looks like dup of root cause in #49489

[2018-01-19 21:30] Dema opened #58541 "Kubelet crashes trying to free memory under MemoryPressure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubelet constantly crashes trying to evict  pods under memory pressure
**What you expected to happen**:
kubelet to be able to evict pods
**How to reproduce it (as minimally and precisely as possible)**:
Fresh 1.9.1 Kubernetes, installed via kubeadm

Here are relevant eviction parameters for kubelet
[code]
**Anything else

[2018-01-19 21:31] MHBauer commented on #53617
/remove-lifecycle stale

[2018-01-19 21:35] MHBauer commented on #53617
@ncdc we have similar problem in service-catalog. Goroutines are not being reclaimed.

Not sure how to get  an appropriate stack dump to help, but some information in [this gist](https://gist.github.com/MHBauer/8c7c94c43f4a53b20ee447a926641166)

[2018-01-19 21:35] bgrant0607 commented on #12143
/lifecycle frozen

[2018-01-19 21:52] #58092 closed

[2018-01-19 21:57] liggitt commented on #51735
/remove-lifecycle stale
/lifecycle frozen

[2018-01-19 22:12] caesarxuchao commented on #49733
This is fixed in 1.9.

[2018-01-19 22:12] #49733 closed

[2018-01-19 22:23] MikeSpreitzer opened #58545 "Delete notifications carry old ResourceVersion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Watch clients get DELETE-type events in which the contained object has the ResourceVersion of its last create/update, rather than the ResourceVersion that is current as of the delete.

This is a performance problem for reflectors, which keep track of the ResourceVersion using the received objects; if a watch should happen

[2018-01-19 22:23] bsalamat opened #58546 "Make predicate errors more human readable"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

The [pending reason for Pods](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L72) is not user friendly. There has been [some improvements recently](https://github.com/kubernetes/kubernetes/pull/52515) to make it better, but we still print [something like the name of predicates](https://github

[2018-01-19 22:25] MikeSpreitzer commented on #58545
/assign @liggitt

[2018-01-19 22:25] MikeSpreitzer commented on #58545
/sig api-machinery

[2018-01-19 22:29] smarterclayton commented on #58545
This is a correctness issue - it should report the resource version of the deletion.

[2018-01-19 22:43] liggitt commented on #58545
looks like the watch cache filtering is returning the previous object content intact, including resource version

[2018-01-19 22:46] dimm0 commented on #58495
The problem was:
[code]

instead of

[code]

Just as a follow-up, wouldn't it make sense for both to work?

[2018-01-19 22:50] MrHohn opened #58550 "gci-gce-serial is failing on Firewall rule e2e test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/area platform/gce

**What happened**:
From http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-serial, CI is failing on the firewall e2e test constantly since some recent changes on gce cloud library ([diff](https://github.com/kubernetes/kubernetes/compare/5d8a2b9e0...6b5703743)). Example failure:
[code]

Error log from serv

[2018-01-19 22:54] bgrant0607 commented on #33462
This is the domain of higher-level deployment pipelines and service meshes. It's not a deployment strategy that can be implemented in our workload APIs alone.

We're aware of the use case, but I'm going to close this as being out of scope here.

[2018-01-19 22:54] #33462 closed

[2018-01-19 23:02] MrHohn commented on #58550
Dup of https://github.com/kubernetes/kubernetes/issues/58537.

[2018-01-19 23:02] #58550 closed

[2018-01-19 23:38] liggitt commented on #58495
No, authorization treats resources opaquely. It doesn't do fuzzy matching or discovery to figure out singular -> plural conversions

[2018-01-19 23:38] bhack commented on #54011
Any news here? What is missing?

[2018-01-19 23:43] bjhaid opened #58552 "SSL connection failures to etcd should be logged by the apiserver."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We upgraded to 1.9.1 and observed apiserver crashing at boot with no useful error messages. Upon taking a packet capture we found that the certificate being presented by etcd was "bad certificate", the v1.8.5 of the apiserver did not have a problem with this cert so this was very confusing, upon further investigation

[2018-01-19 23:45] bjhaid commented on #58552
/sig apimachinery

[2018-01-19 23:46] bjhaid commented on #58552
/sig api-machinery

[2018-01-19 23:53] RenaudWasTaken commented on #54011
@bhack for COS we recommend using the GKE device plugin as you have no way to install nvidia-docker 2.0

For other distro we recommend using the [NVIDIA device plugin](https://github.com/NVIDIA/k8s-device-plugin):
- For Ubuntu / Debian and other distros (aside from COS), It doesn't support installing the drivers from a container (but we are looking into it and the driver issues related to it)
- We

[2018-01-19 23:55] roberthbailey commented on #53439
/remove-lifecycle stale
/lifecycle frozen

[2018-01-19 23:57] cjcaj commented on #57726
You could use the downward API to expose the pod name:
https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

[2018-01-20 00:04] #58072 closed

[2018-01-20 00:06] bhack commented on #54011
But seems that GKE device plugin has working [Nvidia installer](https://github.com/GoogleCloudPlatform/container-engine-accelerators/tree/master/nvidia-driver-installer/ubuntu) for ubuntu (and debian?) experimentally.

[2018-01-20 00:10] dimm0 commented on #58495
Ok, thanks

[2018-01-20 00:14] flx42 commented on #54011
This is an installer for the driver, not the device plugin. And it doesn't seem to support dkms.

On ubuntu I would just do `apt-get install -y nvidia-384` (packaged by Canonical).
On AWS, we now have an official AMI bundled with the driver. We will have a new AMI with nvidia-docker v2 soon.

[2018-01-20 00:32] mindprince commented on #54101
/remove-lifecycle stale

This code is going to be removed in the 1.11 cycle.

[2018-01-20 00:54] mml commented on #28322
/remove-lifecycle rotten

On Fri, Jan 19, 2018 at 1:49 PM, fejta-bot <notifications@github.com> wrote:

[2018-01-20 01:10] k82cn commented on #58471
The scheduler dependent on mirror pods for resource usage :). If creating mirror pod failed, there'll be ping-pong between scheduler and kubelet: scheduler send pod to node, kubelet reject it.

But we can-t just return error, kubelet can start in standalone mode.

[2018-01-20 01:21] MHBauer commented on #49489
We don't use this testing framework in the service-catalog, but we have a similar problem.

[2018-01-20 01:29] k82cn commented on #58505
@dashpole , but [managerImpl.Admit](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L134) will also reject it if pod tolerate it :(

[2018-01-20 01:51] MikeSpreitzer opened #58558 "metav1.ListOptions.Timeout documentation is unclear"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Watches done with the `Timeout` field of `ListOptions` set to some value T end after T regardless of whether there has been any activity in the meantime.

**What you expected to happen**:
I expected the watch to end when no events have been delivered in the last T.  In ordinary usage, a "timeout" is something that happens

[2018-01-20 01:53] MikeSpreitzer commented on #58558
I am told the observed behavior is the intended behavior, the problem here is that the field name and comment are misleading.

[2018-01-20 01:55] MikeSpreitzer commented on #58558
/sig api-machinery

[2018-01-20 02:17] andyzhangx commented on #57444
@peskybp Could you recall  the VM had restarted before you hit that disk issue? Or just after attach/detach disk, that issue come up?

[2018-01-20 02:27] liggitt commented on #58558
It's a timeout on the request lifetime, not an inactivity timeout

[2018-01-20 02:27] FengyunPan commented on #58145
@krlng Is it ok when you disable manage-security-group(manage-security-group=false)?

[2018-01-20 02:29] FengyunPan commented on #58145
@krlng And please review #58560.

[2018-01-20 02:30] MikeSpreitzer commented on #58558
The inactivity condition is implied in ordinary usage of the word "timeout".  A word like "lifetime", "duration", or "time limit" would be a better description of the existing behavior.

I do not propose changing the field name for this, that would be more work than it is worth.  I propose updating the commentary on that field to make its meaning clear.  BTW, what exactly _is_ this field's meaning

[2018-01-20 02:30] FengyunPan commented on #58145
/re-open

[2018-01-20 02:35] FengyunPan commented on #58145
/reopen

[2018-01-20 02:55] andyzhangx commented on #55861
As I know, weave net is not supported on Windows now. In Windows 2016 server, the default network mode is kubenet, and from [Windows Server version 1709](https://docs.microsoft.com/en-us/windows-server/get-started/whats-new-in-windows-server-1709), it also supports [Azure CNI plugin](https://github.com/Azure/azure-container-networking).

You could reach [here](https://github.com/Azure/acs-engine/b

[2018-01-20 03:04] YuxiJin-tobeyjin commented on #58494
There are two symlinks;

[2018-01-20 04:00] #57922 closed

[2018-01-20 04:01] andyzhangx commented on #58413
@liggitt Agree. See same code snippet for [gce disk](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/gce_pd/gce_util.go#L124)
if selector does not find any matching PV, should report error to user other than dynamic provisioning silently. From the code level, we could do that while it's breaking the scenario.
@ritazh

[2018-01-20 04:57] bgrant0607 commented on #22687
This is done.

[2018-01-20 04:57] #22687 closed

[2018-01-20 05:18] guangxuli commented on #57618
@madhuri-rai07 are you woking on this, if not, i am happy to send a PR to move controller configuration out of componentconfig package.

[2018-01-20 07:40] grebois commented on #23001
https://github.com/kubernetes-incubator/kubespray/pull/2182

[2018-01-20 08:12] krlng commented on #58145
Yes, when I disable "manage-security-group" it assigns a LoadBalancer correctly. It also works, as soon as I run `neutron port-update --security-group <my-sg> <vipPort>`.

I tried to check #58560, but since I don't know go, I don't really understand what you are doing there and how it relates to my issue.

[2018-01-20 08:38] mlmhl commented on #58511
I think you can:

1. Set the access mode of the PVC as `ReadWrite`(`ReadWriteOnce` or `ReadWriteMany`, depends on what volume you are using), which means the volume should be mounted to the node as `ReadWrite` mode
2. Set `Pod.Spec.InitContainers.VolumeMounts.ReadOnly` to `false`(which is the default value), which means the volume should be mounted to the init container as `ReadWrite`
3. Set `Pod.

[2018-01-20 08:38] mlmhl commented on #58511
/sig storage

[2018-01-20 09:10] Dema commented on #58541
helpers.go:612 contains the following code
[code]
I think there is a bug in that it is iterating through InitContainers but getting resources of regular containers. I have a pod that has 3 initContainers. Looks like this could be a copy&paste error.

[2018-01-20 09:16] nikhita commented on #5625
/remove-lifecycle rotten
/remove-lifecycle stale

[2018-01-20 09:44] littleNMm commented on #18982
+1

[2018-01-20 10:02] delcon commented on #17088
When you create an ingress you intentionally think it is build around a loadbalancer or controller. That leads to the thinking that there can be just one. And you would expect to add namespace here:
[code]
If documentation would emphasize that ingress is build around namespaces it would make it obvious that there can and must be many.

[2018-01-20 11:01] dbuhtiyarov commented on #58514
**zouyee** Thank you su much - it's working now

[2018-01-20 11:01] #58514 closed

[2018-01-20 11:20] errordeveloper commented on #50454
@nikhita that'd be nice! And actually, after I exported an object and noticed that the issue I reported here originally had been fixed, I had to still [manually strip](https://github.com/errordeveloper/seldon-gitops/commit/9bc9c13f08afc8ee0319ea86cb888ed39c57d930) some fields (a lot of which were empty strings). I understand that `--export` doesn't in its definition may not imply human-friendly, b

[2018-01-20 14:32] fabiand commented on #38606
I think so - I even think that virtlet is doing it that way.
But we'd loose the nice clarity in the API - aka we loose validation of the fields defined for the existing plugins.
A general mechanism, applying to all plugins might be a more structural approach.

[2018-01-20 15:03] errordeveloper commented on #28366
Should we keep this open?

[2018-01-20 15:06] errordeveloper commented on #30329
/remove-lifecycle stale

/lifecycle frozen

[2018-01-20 15:08] errordeveloper commented on #30395
ping @jbeda

On Mon, 18 Dec 2017, 10:27 am Paulo Pires, <notifications@github.com> wrote:

[2018-01-20 17:10] prestonvanloon commented on #57726
@cjcaj Thanks for the tip. I think this is still a valid issue because you can access HOSTNAME as the environment variable (i.e. `printenv HOSTNAME`), but cannot pass it as an argument.

My current workaround is to execute the command from bash as such:

[code]

[2018-01-20 17:43] nicksardo commented on #58537
Fixed by #58566
/close

[2018-01-20 17:43] #58537 closed

[2018-01-20 18:22] wojtek-t commented on #21947
/lifecycle frozen
/remove-lifecycle rotten

[2018-01-20 18:56] BerserkerTroll commented on #48798
If you see the `/etc/cni/net.d` directory on the node empty despite the fact that the Pod Network Provider pod is running on it, try to `setenforce 0` and delete the Pod Network Provider pod. k8s will restart it and, hopefully, now it will be able to copy its config.

[2018-01-20 19:16] kmova opened #58569 "Support for attach/detach of Local PVs to pod without pod restart"
FEATURE REQUEST

/kind feature

**What happened**:
I contribute to openebs - (which falls into the category of container native storage, orchestrated storage or container attached storage. It is comparable to glusterfs, rook, portworx etc.,). These storage solutions run within K8s and provide storage (persistent volumes) to stateful workloads.

These storage solutions comprise of two types of pods

[2018-01-20 19:18] kmova commented on #58569
/sig storage

[2018-01-20 21:55] justinsb commented on #41153
/lifecycle frozen
/remove-lifecycle rotten

[2018-01-21 00:26] yastij commented on #58541
/sig node

[2018-01-21 00:28] yastij commented on #58541
indeed there's a size mismatch between initContainers and spec containers, I'll take a look.

[2018-01-21 00:33] dims commented on #58541
@yastij looks like we need to do the following

[code]

and the problem was introduced in 8b3bd5ae6033ffa7ff6b81b534031a6710bb8557

cc @dashpole

[2018-01-21 00:36] dims commented on #58373
@qadet123 in your kubelet command line make sure you set `--provider-id` to the hostname and see if that helps

[2018-01-21 00:38] dims commented on #58257
/close

[2018-01-21 00:38] #58257 closed

[2018-01-21 00:39] yastij commented on #58541
@dims - Indeed, I'll open a PR for this

[2018-01-21 01:28] RenaudWasTaken commented on #58372
This is already backed by gRPC mechanism of retry.

These messages are not random. They happen because the client disconnects (i.e: device plugin closes the connexion).
The order is pretty random though probably because it doesn't use the same logging mechanism.

[2018-01-21 02:14] weekface opened #58577 "Things need to be verified when updating unavailable aggregated APIs to 503s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Now, when the aggregated apiserver is unavailable, all resource requests will return 404s.

This PR: https://github.com/kubernetes/kubernetes/pull/58070 updates unavailable aggregated APIs to 503s instead of 404s.

I had verified the following three components works well because of this change:

- kubectl get pods (with an empty ca

[2018-01-21 02:15] weekface commented on #58577
/sig apimachinery

[2018-01-21 02:17] weekface commented on #58577
/sig api-machinery

[2018-01-21 02:19] weekface commented on #58577
/sig api-machinery
/assign @liggitt

[2018-01-21 03:41] justinsb opened #58578 "NFS test failures"
We're observing some NFS test failures on kops-aws tests.  kops on AWS does not use the containerized mounter.

For example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56132/pull-kubernetes-e2e-kops-aws/69965/

[code]

Is it a requirement to run rpc.statd, or should kubelet start it?  I can't see any recent code changes.  It feels like this is also flaking (rather th

[2018-01-21 04:00] kweisamx opened #58579 "How Kubernetes to decide the pod delete when scale down ?"
May I ask the kubernetes when **scale up** deployment repica set, use scheduler to dispatch the pod to node,

but when **scale down**, how kubernetes to decide which pod to delete,

Not statefulset pod, it's normal deploment

is any source code to do about this? I can't find for a long time,

Thanks

**Environment**:
- Kubernetes version (use `kubectl version`):
kubernetes v.1.9.0
- Cloud provider

[2018-01-21 04:32] liggitt commented on #58579
Relevant code is here:

https://github.com/kubernetes/kubernetes/blob/c9c6901303cd83fc0941c2c9964771404bf9cf9f/pkg/controller/replicaset/replica_set.go#L527

[2018-01-21 04:32] #58579 closed

[2018-01-21 04:38] ScorpioCPH commented on #58372
Thanks for the detailed explanation, seems we are ok about this so close it.

[2018-01-21 04:38] #58372 closed

[2018-01-21 04:58] kweisamx commented on #58579
@liggitt Thank you!

[2018-01-21 05:54] resouer commented on #57365
@DirectXMan12 Could you enlighten me a little bit here please? I think I am running into the same issue.

This seems kinda problematic to me. So, I am sure that my app's `http_requests` is less than request per second. But the counter of this value should be, for example, `74` in last ten minutes. Shouldn't metric api return `74` instead of a magic number in this case?

Am I misunderstanding here?

[2018-01-21 06:53] wojtek-t commented on #19637
/lifecycle frozen
/remove-lifecycle rotten

[2018-01-21 07:24] bsalamat commented on #28842
/remove-lifecycle stale

[2018-01-21 08:03] embano1 commented on #58198
@resouer `PodNodeSelector` admission controller has been useful in scenarios where a cluster admin wants to enforce certain placement logic and rules (whitelisting) during admission time.

If there is no real use case for `PodNodeSelector`, there is none for `PodNodeAffinity`. Depends on how many people are using `PodNodeSelector`, for which reason and whether conceptually there's a better approac

[2018-01-21 09:50] pbedadham opened #58582 "kubeadm init hung at control plane and kubelet is running"
/kind bug

**What happened**:kubeadm init  --kubernetes-version=v1.9.2 --apiserver-advertise-address=10.232.219.172
kubeadm init  --kubernetes-version=v1.9.2 --apiserver-advertise-address=10.232.219.172
[init] Using Kubernetes version: v1.9.2
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks.
	[WARNING FileExisting-crictl]: crictl not found in system path
[preflig

[2018-01-21 10:55] #57598 closed

[2018-01-21 10:56] ganeshmedhekar commented on #57598
Thanks!

[2018-01-21 12:06] k82cn commented on #58505
@dashpole , please refer to #58580 for what I mean :).

BTW, you need to configure out `CheckNodeMemoryPressure` and `CheckNodeDiskPressure` predicates, and enable `TaintNodesByCondition` alpha feature.

/cc @gmarek

[2018-01-21 12:28] hjacobs commented on #9877
Overview of how Zalando runs Kubernetes on AWS in production (in the hope that this is useful to someone): http://kubernetes-on-aws.readthedocs.io/en/latest/admin-guide/kubernetes-in-production.html

[2018-01-21 12:54] h2002044 opened #58585 "Having rolling update strategy and updating "replicas" result in rolling update"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When we scale out/scale in by updating `replicas` count in a statefulset that has `updateStrategy` type as `RollingUpdate`, this results in rolling update of all of the replicas.

**What you expected to happen**:

We understand that when `updateStrategy` is set to `RollingUpdate`, any change to the `pod spec` will result in rolling

[2018-01-21 13:05] h2002044 commented on #58585
/sig area/stateful-apps

[2018-01-21 13:55] jhorwit2 commented on #58452
@vdboor sorry for the confusion but this isn't a bug. Those docs mention one example however as you can see below there are more uses. You should modify your readiness probe to return OK after it has been setup correctly if that is what you wish.

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#when-should-you-use-liveness-or-readiness-probes

Im closing this but if you have anym

[2018-01-21 13:55] #58452 closed

[2018-01-21 14:05] muralikanagala commented on #58582
What is the version of gcr.io/google_containers/etcd-amd64 docker image you are running?
I have faced a similar issue and found that the latest version of that docker image 3.1.11 is listening on wrong IP address.
I have fixed it by pulling an older version of it from dockerhub (https://hub.docker.com/r/fishead/gcr.io.google_containers.etcd-amd64/~/dockerfile/) and labeling it as latest version.

[2018-01-21 14:20] andyzhangx commented on #58511
This is not azure specific. I think you could define two sets of PV and PVC, one set is readonly, and another set is readwrite, and these two sets use same storage actually. BTW, even you set PV/PVC as readonly, container could still write data into PV/PVC, there is no read write resctricition in k8s actually.

[2018-01-21 15:04] Dieken opened #58587 "[FEATURE REQUEST] support readOnly and type for ExtraVolumes in kubeadm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

apiServerExtraVolumes, controllerManagerExtraVolumes and schedulerExtraVolumes don't support "type" for volume definition and "readOnly" for volumeMount definition,  kubeadm always uses "type: DirectoryOrCreate" and "readOnly: true".

I would like

[2018-01-21 15:21] Dieken commented on #58198
@resouer  @embano1 @k82cn @wackxu

Currently I use PodNodeSelector to divide a physical k8s cluster into multiple sub clusters by namespaces,  suppose I have four nodes node{1,2,3,4} and two namespaces ns{1,2}.

[code]

But in https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity:
[code]

So I would like there will be admission plugin "PodNodeAffinity".

[2018-01-21 16:14] justinsb commented on #58578
And it does look to be non-deterministic, as https://k8s-testgrid.appspot.com/google-aws#kops-aws shows: 22752 & '53 failed all the NFS tests, '54 failed 3/7, '55 failed 5/7, '56 and '57 failed 3/7 (but not the exact same 3), and '58 passed all 3.

(I'm assuming not a whole lot changed over that time interval)

[2018-01-21 16:38] garethr commented on #50957
/remove-lifecycle stale

[2018-01-21 17:19] pbedadham commented on #58582
I am using 3.1.11 and tried with 3.1.10 but no luck.
----
docker images
REPOSITORY                                               TAG                 IMAGE ID            CREATED             SIZE
gcr.io/google_containers/kube-apiserver-amd64            v1.9.2              7109112be2c7        3 days ago          210.4 MB
gcr.io/google_containers/kube-controller-manager-amd64   v1.9.2              769

[2018-01-21 18:40] pbedadham commented on #58582
Need help from Iptables experts- Anything wrong and the below iptables. Just wanted to be clear that my issue is not related to Iptables.
iptables -L
Chain INPUT (policy ACCEPT)
target     prot opt source               destination
KUBE-FIREWALL  all  --  anywhere             anywhere

Chain FORWARD (policy ACCEPT)
target     prot opt source               destination

Chain OUTPUT (policy ACCEPT)
t

[2018-01-21 18:50] muralikanagala commented on #58582
I think this issue is related to this.
https://github.com/kubernetes/heapster/issues/1804

etcd container should be listening on localhost (127.0.0.1) but your isp may resolve it to some weird ip.
I will try using the latest etcd image. The old one probably is hard coded to use 127.0.0.1.

[2018-01-21 19:09] wittlesouth opened #58588 "File integrity checksum errors during image push"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: Pushing an image from a remote client (which is a MacOS machine), image push failed for larger layers with messages like:

file integrity checksum failed for "usr/lib/x86_64-linux-gnu/gconv/libJISX0213.so"

**What you expected to happen**: Successful ability to push image to registry

**How to reproduce it (as

[2018-01-21 19:34] wittlesouth commented on #58588
Additional note, tried uploading an image from the Linux host running the Kubernetes cluster, it still fails, this time I got this from the client:

received unexpected HTTP status: 500 Internal Server Error

Logs from the pod show:

192.168.5.10 - - [21/Jan/2018:19:27:40 +0000] "PATCH /v2/eric/olsnet2_server/blobs/uploads/57af9745-6694-4f51-9758-83956ae1836d?_state=3MUsLYGhEvWl7ytaBTMwUTpH-av9oOT

[2018-01-21 19:56] arno01 opened #58589 "[PodSecurityPolicy] system:node (kubelet) cannot apply "use" verb to "podsecuritypolicies.extensions""
Hi,

the closest issue that I've found is https://github.com/kubernetes/kubernetes/issues/53467 though is not really related to what I found while checking the issue further.

/kind bug

**What happened**:

The core essential Pods are not getting scheduled (visible?), though, I can see their containers are Up & Running:

[code]

[code]

These 3 messages appearing every minute in the kubelet's log:

[2018-01-21 19:56] arno01 commented on #58589
/sig auth

[2018-01-21 20:19] praseodym commented on #57279
I'm still seeing the following error with kube-controller-manager v1.9.2:
[code]
Furthermore, volume attachments do not work. Downgrading the kube-controller-manager to v1.8.7 fixes the problem.

Any idea on what the problem could be?

[2018-01-21 21:41] justinsb commented on #9712
Closing, we did PetSets instead

[2018-01-21 21:41] #9712 closed

[2018-01-21 22:44] raffaelespazzoli commented on #28692
/close

[2018-01-21 22:44] #28692 closed

[2018-01-21 23:26] liggitt commented on #58589
That is not the case. Since there are no default PodSecurityPolicy objects defined out of the box, you need to grant kublets (typically via the `system:nodes` group) permission to use a policy you  define. An example from GCE setup can be seen at https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/addons/podsecuritypolicies/node-binding.yaml (which grants permission to a GCE-specific

[2018-01-21 23:26] #58589 closed

[2018-01-22 00:25] gyliu513 commented on #58202
It is a serious bug for ipvs, if we cannot back merge this to 1.9.x, we may not able to claim that ipvs is beta in 1.9.x @Lion-Wei @m1093782566

[2018-01-22 00:50] khenidak commented on #58413
I think the PV selector matching on PVC is already in a [control loop](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L296) (the heart of the implementation is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/index.go#L126)  so, i think the plugin shouldn't do the matching.

fwiw - I look

[2018-01-22 01:35] FengyunPan commented on #58145
@krlng I check gophercloud.ErrResourceNotFound is not a interface, so the 'https://github.com/kubernetes/kubernetes/pull/58560/files#diff-0f6df884fc7fa7f975c90fda39b3431cL1005' will return error and excute "https://github.com/kubernetes/kubernetes/pull/58560/files#diff-0f6df884fc7fa7f975c90fda39b3431cL1010" which is 'error occurred finding security group: ...'.

[2018-01-22 02:07] dims commented on #57881
/close

[2018-01-22 02:07] #57881 closed

[2018-01-22 02:08] dims commented on #57884
/sig docs

[2018-01-22 02:08] dims commented on #57925
/sig auth

[2018-01-22 02:08] dims commented on #57971
/sig network

[2018-01-22 02:09] dims commented on #58047
/sig api-machinery

[2018-01-22 02:11] dims commented on #58135
/sig scalability

[2018-01-22 02:12] dims commented on #58136
/sig aws

[2018-01-22 02:12] dims commented on #58138
/sig testing
/area build

[2018-01-22 02:13] dims commented on #58139
/sig network

[2018-01-22 02:13] dims commented on #58188
/sig node

[2018-01-22 02:14] dims commented on #58165
/sig node

[2018-01-22 02:15] dims commented on #58191
/sig node

[2018-01-22 02:15] dims commented on #58195
/sig network

[2018-01-22 02:15] dims commented on #58199
/sig docs

[2018-01-22 02:16] dims commented on #58271
/sig node

[2018-01-22 02:19] m1093782566 commented on #58139
I double checked in my environment and can't reproduce it. Please check the iptables on your node to see if there are other masq rules created by processes other than kube-proxy.

I am going to close this issue since it's not really a bug.

/close

[2018-01-22 02:19] #58139 closed

[2018-01-22 02:20] m1093782566 commented on #58139
But, we can continue to discuss in this thread.

[2018-01-22 02:35] liggitt commented on #57925
I also cannot recreate. Is the KUBE_API_VERSIONS envvar set? If so, does it include rbac.authorization.k8s.io/v1beta1?

[2018-01-22 02:38] liggitt commented on #58578
this appears to have failed 24 out of the last 35 kops runs.

the resulting PVC test errors started appearing early afternoon on 1/20: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=pvc-tester&job=pull-kubernetes-e2e-kops-aws

do we know what changed in the image changes around that time (https://github.com/kubernetes/kops/commits/master)

[2018-01-22 02:56] dixudx commented on #54440
Similar with #57006.

Already got fixed by #57020. Since all the images used by running, exited, and dead containers are counted when detecting in-use images.

/close

[2018-01-22 02:56] #54440 closed

[2018-01-22 02:56] qadet123 commented on #58373
@dims I saw  that kubelet use this as its user ,and i cant find any clusterrolebinding for this.
![image](https://user-images.githubusercontent.com/22327477/35203223-3a78460c-ff62-11e7-8276-7d4bf78cc001.png)
So i created a clusterrolebinding and bind "Clusterole system:node" to "Group system:node" ,and i still got same error logs.Am i wrong with the meanning of "Group system:node"? Is "User system

[2018-01-22 02:58] k82cn commented on #49798
/remove-lifecycle stale

[2018-01-22 03:08] liggitt commented on #57279
@praseodym in 1.9, https://github.com/kubernetes/kubernetes/pull/55845 switched to creating a service account specific to vsphere to run the cloud controller loop.

There was a bug in the name it attempted to create (an upper-case S) that meant it could never succeed. That was what this issue was for, and was fixed in https://github.com/kubernetes/kubernetes/pull/57286 and https://github.com/kuber

[2018-01-22 03:35] jianglingxia commented on #57639
in the same vm and k8sv1.8.5 test result follow,the problem solved and I will close the issue，thanks all！
[root@controller:/home/ubuntu]$ kubectl get po -o wide -w
NAME      READY     STATUS    RESTARTS   AGE       IP        NODE
web       0/1       Pending   0          0s        <none>    <none>
web       0/1       Pending   0         0s        <none>    k8s1.8-master
web       0/1       Containe

[2018-01-22 03:36] #57639 closed

[2018-01-22 04:19] fejta-bot opened #58594 "Failure cluster [c76502...] failed 89 builds, 6 jobs, and 6 tests over 1 days"
### Failure cluster [c765028b1f988106dc5d](https://go.k8s.io/triage#c765028b1f988106dc5d)
##### Error text:
[code]
##### Failure cluster statistics:
6 tests failed,    6 jobs failed,    89 builds failed.
Failure stats cover 1 day time range '21 Jan 2018 03:22 UTC' to '22 Jan 2018 03:22 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-storage] Persisten

[2018-01-22 04:35] justinsb commented on #58578
Change should primarily have been the kernel -> 4.4.111, we also do a package update so we could have picked up a newer version of the NFS package or other supporting package.

We did try going to stretch for 1.10, but we still have / had the nf_conntrack issue so I reverted that to unblock the queue.

Also starting to add more tests, with other images ( e.g. https://github.com/kubernetes/test-inf

[2018-01-22 05:24] andyzhangx commented on #58344
And I have checked managed disk, there is no such issue, this issue only remains to blob disk. The error `Code="NotFound"` would a little different than blob disk though.
[code]

[2018-01-22 05:39] k82cn commented on #58507
Prefer to bsalamat@ 's option which is simpler :). Comparing to performance improvement by eCache, the lock is acceptable to me.

[2018-01-22 05:48] justinsb commented on #58578
Proposed https://github.com/kubernetes/test-infra/pull/6367 to add a test for ubuntu-16.04, which should be similar.  That way we'll get an indication if it's a meltdown/spectre regression or something specific to the image.

Not sure how we should proceed here - we want to get the queue unblocked, but we don't really want to ignore the issue if it turns out to be real.  I guess we could ignore th

[2018-01-22 05:48] roberthbailey commented on #6099
This was tracking a feature improvement for kube-up, which is deprecated. Each installer does their own version of node upgrades, some of which are in-place.

/close

[2018-01-22 05:48] #6099 closed

[2018-01-22 05:49] roberthbailey commented on #6079
This was tracking a feature improvement for kube-up, which is deprecated. Each installer does their own version of node upgrades, some of which are in-place.

/close

[2018-01-22 05:49] #6079 closed

[2018-01-22 05:49] roberthbailey commented on #6095
This was tracking a feature improvement for kube-up, which is deprecated. Each installer does their own version of node upgrades, some of which are in-place.

/close

[2018-01-22 05:49] #6095 closed

[2018-01-22 05:49] roberthbailey commented on #6096
This was tracking a feature improvement for kube-up, which is deprecated. Each installer does their own version of node upgrades, some of which are in-place.

/close

[2018-01-22 05:49] #6096 closed

[2018-01-22 05:50] roberthbailey commented on #4855
@zmerlynn - can you triage this issue?

[2018-01-22 05:53] andyzhangx commented on #58511
@mfaizanse It's a bug by design... [Access Modes](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) is only for matching PV now, `Pod.Spec.InitContainers.VolumeMounts.readOnly` could control actual readOnly or not in container.

[2018-01-22 06:07] huangjiasingle commented on #58257
@dims thanks you !

[2018-01-22 06:25] nikhita commented on #54269
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 06:27] jocelynthode commented on #43809
/remove-lifecycle rotten

Le 21 janvier 2018 20:34:02 GMT+01:00, fejta-bot <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec K-9 Mail. Veuillez excuser ma brièveté.

[2018-01-22 06:39] mindprince commented on #52412
/remove-lifecycle stale
/cc @jiayingz @lichuqiang

[2018-01-22 06:40] mindprince commented on #46639
/remove-lifecycle stale

[2018-01-22 06:44] vainu-arto commented on #58379
I did not store the logs, sadly. On my cluster kubelet is started like this:
/usr/local/bin/kubelet --allow-privileged=true --cgroup-root=/ --cloud-provider=aws --cluster-dns=<redacted> --cluster-domain=cluster.local --enable-custom-metrics=true --enable-debugging-handlers=true --eviction-hard=memory.available<100Mi,nodefs.available<10%,nodefs.inodesFree<5%,imagefs.available<10%,imagefs.inodesFree

[2018-01-22 06:59] dixudx commented on #53640
@carolynvs Yeah, sounds great to me. I can help review it. Thanks so much for the contribution.

SGTM.

[2018-01-22 07:01] k82cn opened #58596 "NodeNetworkUnavailable (TaintNodesByCondition) does not work with preemption"
/kind bug

**Description**:

In [generic_scheduler.go:nodesWherePreemptionMightHelp](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L978), we're going to ignore the nodes with `predicates.ErrNodeNetworkUnavailable`; but we provide TaintNodesByCondition (alpha) feature to give user a chance to ignore it, e.g. calico controller.

/cc @bsalamat @luxas

[2018-01-22 07:01] k82cn commented on #58596
/sig scheduling
/sig node

[2018-01-22 07:13] vainu-arto commented on #58471
@dashpole

However critical pod annotation is ignored if pod priorities are in use.

[2018-01-22 07:14] nikhita opened #58597 "kubectl get --export shows stripped fields for custom resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

For custom resources, `kubectl get --export` strips the values but keeps the fields - sort of destroying the purpose of `--export`.

Example:

[code]

**What you expected to happen**:

The stripped fields should not be shown.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a CRD.

[code]

2.

[2018-01-22 07:14] nikhita commented on #58597
/assign

[2018-01-22 07:31] nikhita commented on #54425
/remove-lifecycle stale

[2018-01-22 07:45] tjliupeng opened #58599 "NodePort service can't be accessed by masterIP:nodePort with k8s 1.9"
I installed K8s 1.9 on 2 nodes: master - 10.135.80.73; minion - 10.135.80.74. K8s service and deployment are created with yaml files. The service yaml is as follow:

[code]

The deployment yaml file is as follow:

[code]

**What happened**:

On the master or minion, if  I run
`curl <minionIP>:32024`
**the response is returned**.

If I run
`curl <masterIP>:32024`
**fail to connect**.

I try to chec

[2018-01-22 07:49] k82cn commented on #58596
False alarm: if TaintNodesByCondition is enabled, it'll not report `ErrNodeNetworkUnavailable` :)

[2018-01-22 07:49] #58596 closed

[2018-01-22 07:55] junechouiscoming commented on #57799
+1.
Keep TRACKING too.

[2018-01-22 08:04] h2002044 commented on #58585
This is more of etcd charts issue. Etcd helm chart passes the `replica` value as `environment` variable of the statefulset that changes whenever replica value changes resulting in rolling update. Closing this as not an issue w.r.t kubernetes.

[2018-01-22 08:04] #58585 closed

[2018-01-22 08:24] feiskyer opened #58600 "Failed to provision LoadBalancer Service: NetworkInterfaceAndLoadBalancerAreInDifferentAvailabilitySets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When primaryAvailabilitySetName is not set,  LoadBalancer Service will fail sometimes with error NetworkInterfaceAndLoadBalancerAreInDifferentAvailabilitySets.

Related logs:

[code]

**What you expected to happen**:

Provision service public IP correctly.

**How to reproduce it (as minimally and precisely as possible)**

[2018-01-22 08:24] feiskyer commented on #58600
/sig azure

[2018-01-22 08:24] feiskyer commented on #58600
/assign

[2018-01-22 08:35] nikhita opened #58603 "Generate OpenAPI spec for registered CRDs"
Currently, we don't generate the OpenAPI spec for registered CRDs. We should at least show the existence of the registered groups in the spec.

We should probably implement this before going GA (?)

/cc @sttts @mbohlool @deads2k @liggitt

/sig api-machinery
/kind bug
/area custom-resources

[2018-01-22 08:54] jpiper commented on #55094
This can also happen if kube-proxy isn't up and running yet, as Calico can't contact the k8s master via the "kubernetes" IP address. The solution is to configure calico to use the cluster-external kubernetes endpoint

[2018-01-22 08:58] piwi91 opened #58605 "OpenID Connect Tokens - Underdocumented"
I'm using OpenID Connect Tokens to authenticate to the Kubernetes platform. I ran into unauthorized errors because the default OpenID Connect Tokens (id_token) didn't have all required fields.
In the docs (https://kubernetes.io/docs/admin/authentication/#openid-connect-tokens) I couldn't find any details what the Kubernetes authenticator expected so I had to figure it out myself. I think this docu

[2018-01-22 09:17] arno01 commented on #58589
@liggitt oh, the "Legacy node ID" was something that I was really missing when checking the preexisting Roles and what added to my confusion was the Kubelet's x509 ``O=system:nodes`` which made me thinking there surely was nothing like ``Legacy node ID`` so I went the wrong path.

Should we add some note about this to the PSP Doc https://kubernetes.io/docs/concepts/policy/pod-security-policy/ ?

[2018-01-22 09:21] foxyriver commented on #58002
@SleepyBrett Have you solved this issue? and have any solution on it?

[2018-01-22 09:26] krlng commented on #58145
Okay, so you "just" print a better error message, right? But my question is, why does the error occur at all? In my understanding the kubelet should create a security-group on itself, if configured manage-security-groups=true and do not provide a security-group.

However I also tried to define a valid security group id on my own, but in that case I again find these logs in kubelet (same as describ

[2018-01-22 09:37] fabiand commented on #41977
Would still be important to me.

Might be addressed by #41442

[2018-01-22 10:22] FengyunPan commented on #58145
Non not 'just print a better error message', openstack cloud provider can ensure security group for LB.
Firstly, openstack cloud provider check whether security group does not exist, if not exist, it will create security group for LB. The "gophercloud.ErrResourceNotFound" means that security group not exist.

[2018-01-22 10:24] FengyunPan commented on #58145
Now OpenStack cloud provider has not "node-security-group" variable. You should not specify it.

[2018-01-22 10:27] FengyunPan commented on #58145
@krlng Please check this note: https://github.com/kubernetes/kubernetes/pull/58560/files#diff-0f6df884fc7fa7f975c90fda39b3431cR1014

[2018-01-22 10:32] tjliupeng opened #58609 "why "kubectl get nodes" get NONE ROLE and NONE EXTERNAL_IP for nodes"
I install k8s 1.9.1 using kubeadm on my local network.

**What happened**:
[appuser@ajaisys-scm-ai-k8s-2-98734a5a ~]$ kubectl get nodes
[code]
-[appuser@ajaisys-scm-ai-k8s-2-98734a5a ~]$ kubectl get nodes -o wide
[code]

**What you expected to happen**:
The external IP should be the node IP.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**

[2018-01-22 10:50] sttts commented on #53524
@pwittrock is this work stalled?

[2018-01-22 11:20] tjliupeng commented on #58609
/sig cluster-Ops

[2018-01-22 11:22] sttts commented on #58083
What is missing for `Auditing multi-apiserver setups`?

As far as I see, we have the audit options in the generic apiserver library and have enabled it through https://github.com/kubernetes/kubernetes/blob/509df603b18d356777176953e5d160b6f3d0bba9/staging/src/k8s.io/apiserver/pkg/server/options/recommended.go#L35 in the `RecommendedOptions`. So the basic support exists.

We **do not** have
- custom

[2018-01-22 11:23] errordeveloper commented on #40635
/remove-lifecycle stale

[2018-01-22 11:24] errordeveloper commented on #28138
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 11:25] errordeveloper commented on #31272
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 11:26] errordeveloper commented on #26093
@luxas do you think we should keep this open and set `/lifecycle frozen`?

[2018-01-22 11:37] krlng commented on #58145
Well, to me it does not look like the removal of any resources is the problem, rather that they do not get created at all. I can offer you a direct debugging session using Google Hangout or so, maybe that way it is easier to detect the real problem?

[2018-01-22 11:37] errordeveloper commented on #38541
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 11:39] errordeveloper commented on #35226
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 11:40] errordeveloper commented on #24229
Sound like this should stay open.

/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 11:41] errordeveloper commented on #30961
/remove-lifecycle stale

[2018-01-22 11:43] errordeveloper commented on #28296
/close

Closing because this refers to 1.3, and we are on 1.10 cycle now, a lot has changed. Please re-open if this is still an issue.

[2018-01-22 11:44] #28296 closed

[2018-01-22 11:48] errordeveloper commented on #43617
/close

As an author of `kubeplay`, I wouldn't see a good reason for this to exist in core – there are far too ways to go about implementing a REPL (e.g. syntax is probably the biggest one, there are many languages to consider).  Let's see how we can encourage the ecosystem instead of trying to look for a silver bullet!

[2018-01-22 11:48] #43617 closed

[2018-01-22 11:48] errordeveloper commented on #25251
/remove-lifecycle stale

[2018-01-22 11:52] errordeveloper commented on #25126
It appears that #49534 fixed this.

[2018-01-22 11:52] #25126 closed

[2018-01-22 12:07] hanxiaoshuai opened #58610 "local-up-cluster in container failed"
/kind bug
**What happened**:
when local-up-cluster in container,failed to start pod.
[code]
**What you expected to happen**:
when local-up-cluster in container,pod runs Successfully.
**Anything else we need to know?**:
kube-proxy log:
[code]
It seems that in container it will not be able to modify /sys/module/nf_conntrack/parameters/hashsize.
- Kubernetes version (use `kubectl version`):v1.8.4

[2018-01-22 12:08] hanxiaoshuai commented on #58610
/sig network

[2018-01-22 12:17] hanxiaoshuai commented on #58610
/cc @hzxuzhonghu @m1093782566 @fisherxu

[2018-01-22 12:23] Lion-Wei commented on #58202
Sorry for didn't handled promptly. : (

[2018-01-22 12:27] enver commented on #47928
Any update/workaround on this?

[2018-01-22 12:28] xforze commented on #51691
Are there any News on this issue ?
I'm running into the same problem that I cannot apply gmsa credentials via Kubernetes.
Starting the Application directly with docker and "--security-opt=........." works fine.

[2018-01-22 12:29] wojtek-t commented on #31345
/lifecycle frozen
/remove-lifecycle stale

[2018-01-22 12:35] errordeveloper commented on #16132
@luxas I'm not sure if we should keep this open, what do you think?

[2018-01-22 12:37] liggitt commented on #58597
Isn't this a duplicate of https://github.com/kubernetes/kubernetes/issues/48211?

[2018-01-22 12:38] discordianfish commented on #50898
This is required for limiting IAM permissions. Right now I have to give the controller unrestricted DeleteVolume/CreateaTags access, allowing it to delete all volumes in the same VPC. With a tag, I could grant it only permissions to delete volumes it created.

[2018-01-22 12:39] yastij commented on #58507
yup same here, going with the locking is easier and is acceptable.

@resouer - also using a flag for invalidation might just move the problem from eCache to the flag ?

[2018-01-22 13:02] dims opened #58613 "Running cloud-controller-manager should remove uninitialized taint"
Once cloud-controller-manager is started we should remove the taint. right?

[code]

[2018-01-22 13:02] dims commented on #58613
/sig cluster-lifecycle

[2018-01-22 13:08] errordeveloper commented on #58449
@ktsakalozos thanks for your response. Is there an issue about whether `./cluster/juju` could be deprecated and remove in favour of the new repo or any other plans of this sort?

[2018-01-22 13:25] andrewhowdencom commented on #39657
Suggest keeping this one open.

/remove-lifecycle stale
/sig storage

[2018-01-22 13:36] mattjmcnaughton commented on #57996
Hi @ayen-tibco :)

Can you post the output of `kubectl get services --namespace=kube-system monitoring-grafana monitoring-influxdb`? I'm seeing you have `influxdb` and `grafana` combined in a single pod, which seems slightly different from the output I'm seeing here: https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md.

[2018-01-22 13:38] zouyee commented on #58578
At present, the pull-kubernetes-e2e-kops-aws job is widespread failed

[2018-01-22 13:45] brancz opened #58614 "expose and reconcile etcd service and endpoints objects"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

### Description

The Kubernetes API allows discovering almost everything that runs in your Kubernetes cluster, as well as the underlying Kubernetes components themselves. One of the few exceptions today is the etcd cluster(s) used. This is unfortunate, as for example in order to monitor every target from cluster components to workload r

[2018-01-22 14:23] dogopupper commented on #35062
hitting this one too.
Anyone hits it with AUFS? A reply above said that fixed it

[2018-01-22 14:46] liggitt commented on #58614
Nothing except the API servers should be talking to etcd. Exposing the apiserver storage to other cluster members is a non-goal.

See https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#securing-etcd-clusters:

[2018-01-22 14:47] liggitt commented on #58614
/sig api-machinery

[2018-01-22 14:59] drf commented on #58180
Installed new cluster with Calico on it, here's what happens:

[code]

[code]

[code]

This is a cluster with a master+agent, on both hosts `ping6 2001:4860:4860::8888` works as expected. resolv.conf on the host looks like:

[code]

Willing to help if you need more info

[2018-01-22 15:00] drf commented on #58180
Additional info: cluster installed with kubeadm and running atop Docker 17.03 on stretch.

[2018-01-22 15:06] gnufied opened #58615 "Glusterfs volume expansion function is not idempotent"
The design of volume expansion requires that - each volume plugin implements a idempotent `ExpandVolumeDevice` call.  This basically means that - if somehow storage unit already satisfies requested size, we should not be making a resize API call to heketi.

Typically - AWS/GCE/Cinder prevent this by checking device size (by making a cloudprovider describe volume  api call) before calling resize.

[2018-01-22 15:06] gnufied commented on #58615
/sig storage

cc @humblec

[2018-01-22 15:07] brancz commented on #58614
I generally agree with the security argument, only that would mean we're not monitoring etcd at all, which is also unreasonable. I believe one needs to take special caution in order to monitor etcd. For example segregate the network access. Only let monitoring nodes have network access to the etcd nodes metrics port (https://github.com/coreos/etcd/issues/8060) and validate via mTLS and enable etcd

[2018-01-22 15:15] drf commented on #58180
Also: note that the cluster was initialized with --pod-network-cidr=192.168.0.0/16 as per documentation

[2018-01-22 15:19] justinsb commented on #58578
Correction: the kernel in the stable channel is 4.4.110.  The kernel in the alpha channel is 4.4.111.  PR to add testing of the alpha channel is https://github.com/kubernetes/test-infra/pull/6364

[2018-01-22 15:39] php-coder opened #58616 "verify-openapi-spec.sh panics when "openapi-gen path outside of k8s.io/kubernetes""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig api-machinery

**What happened**:
When I run `hack/update-bazel.sh` it fails with error:
[code]

**What you expected to happen**:
1) it shouldn't panic
2) it should show human readable error with suggestions how developer may fix it

**Environment**:
Client Version: version.Info{Major:"", Minor:"", GitVersion:"v1.9.0-beta1", GitCommit:"3

[2018-01-22 15:48] edevil commented on #50977
Any news on this?

[2018-01-22 15:53] joelhandwell commented on #40244
There is 3 types of load balancers in AWS.
1. Application Load Balancer (ALB) which supports HTTP and HTTPS with SSL cert integration and those 2 are the only available protocols. ALB is for EC2 instances in VPC network.
2. Network Load Balancer (NLB) supporting any TCP but not integrated with SSL cert (for EC2 instances in VPC network)
3. Classic Load Balancer (CLB) for the EC2 instances which is

[2018-01-22 15:54] DirectXMan12 commented on #57365
if you look at the documentation for the prometheus adapter, you'll see that all cumulative (counter) metrics are converted to rate metrics, since the HPA's algorithm in fundamentally incompatible with scaling on cumulative metrics directly (scaling on cumulative metrics directly doesn't make much sense in general).

In your case, your `http_requests_total` is being converted into `http_requests`,

[2018-01-22 16:02] leblancd commented on #58180
Hi @drf - Your command outputs indicate that Calico isn't configured for IPv6, and without the required IPv6 config, the kube-dns pod won't be able to connect to your external DNS server via IPv6 address. 2 issues that I see in your command outputs:
- The pod's eth0 has only a link local (LLA) IPv6 address:
[code]
In addition to the LLA address, you'll want the pod configured with either a unique

[2018-01-22 16:06] bgrant0607 commented on #34627
@timothysc @wojtek-t Do either of you know the status of this? Have we switched away from Endpoints for leader election?

[2018-01-22 16:08] liggitt commented on #34627
we have the ability to: https://github.com/kubernetes/kubernetes/pull/45739

[2018-01-22 16:08] bgrant0607 commented on #23620
Ref #23233

[2018-01-22 16:11] roberthbailey commented on #16132
@wojtek-t / @chrislovecnm - do either of you want to take this issue and create some documentation about how to do upgrades without downtime?

[2018-01-22 16:12] mattfarina commented on #57191
cc @kow3ns

[2018-01-22 16:19] bgrant0607 commented on #20130
@janetkuo @kow3ns Was pause behavior fixed?

[2018-01-22 16:21] bgrant0607 commented on #33843
This kind of policy should be implemented outside the workload controllers.

[2018-01-22 16:21] #33843 closed

[2018-01-22 16:21] soltysh commented on #17130
I'm tentatively adding 1.10 milestone, I'd like to see this being addressed and I'm hoping to start working on this withing this timeframe.

[2018-01-22 16:28] vasartori commented on #56903
Its seems a problem with glibc.
If you set a timeout on your /etc/resolv.conf this timeout will be respected.

On CoreOS Stable (glibc 2.23) this problem appears.

Setting with 0 in timeout on resolv.conf you will get a 1 secound delay....

I've try disable the IPv6, without success....

[2018-01-22 16:28] bgrant0607 commented on #4855
/remove-lifecycle stale
/lifecycle frozen

I'd like to keep this open. We have a number of challenges around cluster lifecycle that I'd like to consider holistically:

* Field-level versioning: #34508
* HA masters mangle data: #46073
* Storage upgrade: #52185
* Teardown: #4630
* Run levels: #54522
* I don't remember which issue covers resource stranding upon rollback.
* Add-on management: #23233

[2018-01-22 16:29] bgrant0607 commented on #4855
cc @jagosan

[2018-01-22 16:36] drf commented on #58180
@leblancd I think I see what's happening now. The pod CIDR is configured through IPv4 only by kubeadm - and I've found some literature of people trying to achieve an IPv6 configuration with kubeadm before (http://blog.michali.net/2017/02/11/using-kubeadm-and-calico-plugin-for-ipv6-addresses/). I guess that when initializing with 192.168.0.0/16 as CIDR, kubeadm automatically configures Calico in IP

[2018-01-22 17:07] bgrant0607 commented on #24420
/remove-lifecycle rotten

[2018-01-22 17:08] StuAtGit opened #58619 "Documentation on what constitutes a failed container with respect to restart policy is confusing"
/kind bugs

**What happened**:
I have a deployment that I would like to process some data, exit, and restart. It's important to the application that it has a clean environment every time. I don't need to impose any kind of scheduling or anything on it, just run and loop.

After reading these docs:

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

In particular:

I

[2018-01-22 17:22] g1001p opened #58620 "K8s distributed masters configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Hello dear forum . I have distributed cluster configuratuon with 3 master nodes. I have  1.68 version. During ha test that we run the master leader machine was " killed". Election process of new master started immediately and new master with leader asigment appeared in few seconds. But despite the new leader cluster became unstable. It take minutes to

[2018-01-22 17:24] #3692 closed

[2018-01-22 17:26] bgrant0607 commented on #18568
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-22 17:27] bgrant0607 commented on #25236
Working as intended

[2018-01-22 17:27] #25236 closed

[2018-01-22 17:29] apelisse commented on #54859
@liggitt Not something I know about. This can't be related to http-caching as I added it, since it only applies to discovery request.

[2018-01-22 17:32] bgrant0607 commented on #9399
Docs have improved a lot

[2018-01-22 17:32] #9399 closed

[2018-01-22 17:33] bgrant0607 commented on #7351
We have drain and cordon

[2018-01-22 17:33] #7351 closed

[2018-01-22 17:35] #2992 closed

[2018-01-22 17:36] bgrant0607 commented on #17190
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-22 17:39] #13541 closed

[2018-01-22 17:41] bgrant0607 commented on #140
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-22 17:43] bgrant0607 commented on #22061
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-22 17:50] cblecker commented on #56763
Looks like this was fixed in https://github.com/kubernetes/kubernetes/pull/57896.
/close

[2018-01-22 17:50] #56763 closed

[2018-01-22 17:51] bgrant0607 commented on #11490
I don't see this happening in "core" kubectl

[2018-01-22 17:56] krzyzacy commented on #44632
this one is probably legacy now and was fixed during the release cycle
/assign
/close

[2018-01-22 17:56] #44632 closed

[2018-01-22 17:56] tgraf opened #58624 "Proposal: Extend NetworkPolicy to Layer 7"
/kind feature
/sig network

# Extend NetworkPolicy to Layer 7
## Objective
This proposal extend NetworkPolicy to include Layer 7 attributes at both ingress and egress to extend filtering on HTTP method, HTTP path, Kafka topic, etc.

## Motivation
The current NetworkPolicy allows to apply security policies based on L3
and L4 information (pod to pod connectivity, pod to IP, port filtering). Many app

[2018-01-22 17:57] tgraf commented on #58624
/assign

[2018-01-22 17:57] cblecker commented on #36770
Still relevant.
/remove-lifecycle rotten

[2018-01-22 18:07] yujuhong commented on #40157
/remove-lifecycle stale
/cc @dashpole

[2018-01-22 18:13] nicksardo commented on #38521
/lifecycle frozen

[2018-01-22 18:16] #17815 closed

[2018-01-22 18:35] dashpole commented on #58471
It replaces most of the functionality that the critical pod annotation provides.  However, the critical pod annotation is still useful for static pods, as it can prevent kubelet evictions.  But for all other use-cases, I agree that priority is a much better way to manage which workloads are run, and which remain pending.  I am not sure if the scheduler translates a "critical" pod to a "system-prio

[2018-01-22 18:36] drf commented on #58180
@rpothier so it is correct to leave the POD cidr with an IPv4 subnet and specify as the api-advertise-address the IPv6 address of the master? If so, I guess this is not a bug but it might be worth it to update the documentation

[2018-01-22 18:40] bgrant0607 commented on #7365
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-22 18:45] g1001p commented on #58620
/sig bug
BUG REPORT
/sig bugs

[2018-01-22 18:46] bgrant0607 commented on #26358
This is obsolete.

[2018-01-22 18:46] #26358 closed

[2018-01-22 18:48] nicksardo commented on #38521
I agree that it's worthwhile to inform users that their IP is not secured; however, I would argue that ceasing service syncs (erroring) is too aggressive. The controller can temporarily reserve the address, so there's no immediate reason why we cannot continue syncing. I suggest raising a warning event on the service.

[2018-01-22 18:48] leblancd commented on #58180
@drf - The assignment of pod IPs and the addition of IP routes on the pods is the responsibility of the CNI IPAM plugin. Setting kubeadm's --pod-network-cidr flag isn't intended to automatically set pod IP ranges; you still need to set the CNI network config files (including IPAM sections) on the worker nodes. Once you select the subnet ranges in the CNI network config files, then the --pod-networ

[2018-01-22 19:00] drf commented on #58180
@leblancd pretty clear then, thanks :) FWIW, I think this issue can be closed as it is a misconfiguration issue as it stands, but probably it has some documentation bits which would be quite useful to other people trying to go IPv6

[2018-01-22 19:07] bgrant0607 commented on #52185
Speaking of HA, today each apiserver has its own independent default storage versions, which are imposed immediately upon apiserver upgrade. That doesn't seem desirable.

[2018-01-22 19:18] bgrant0607 commented on #10782
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 19:22] humblec opened #58627 "Error fetching volumeID when customvolumename is used in SC."
While testing custom volume name, I have found the volume ID fetching going wrong due to the fact that,  getVolumeID() looks for a different annotation.

[2018-01-22 19:22] humblec commented on #58627
/assign @humblec

[2018-01-22 19:22] bgrant0607 commented on #25160
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-22 19:25] bgrant0607 commented on #5009
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-22 19:26] liggitt commented on #58471
Why would that not be modeled as a system priority? I expected critical pod annotations to not be present once the priority feature was completed.

[2018-01-22 19:26] bgrant0607 commented on #5511
This isn't going to be done in kubernetes/kubernetes.

[2018-01-22 19:26] #5511 closed

[2018-01-22 19:29] cmluciano commented on #53117
/close

issue stale

[2018-01-22 19:29] #53117 closed

[2018-01-22 19:30] cmluciano commented on #21339
/close

I think this should be fixed

[2018-01-22 19:30] #21339 closed

[2018-01-22 19:31] #10891 closed

[2018-01-22 19:31] #37683 closed

[2018-01-22 19:34] bgrant0607 commented on #35504
/remove-lifecycle rotten
/lifecycle frozen

This is one of a number of configurable defaulting cases.

[2018-01-22 19:36] bgrant0607 commented on #6835
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-22 19:37] liggitt commented on #58627
cc @kubernetes/sig-storage-bugs

[2018-01-22 19:38] bgrant0607 commented on #23081
We're generating API docs differently now

[2018-01-22 19:38] #23081 closed

[2018-01-22 19:40] bgrant0607 commented on #8503
We're not going to make API-visible changes for cleanups at this point

[2018-01-22 19:40] #8503 closed

[2018-01-22 19:42] msau42 commented on #38606
The long term plan is to have most plugins go through CSI, even in-tree ones, so eventually almost all plugins will be containerized.  Based on that, I'm unsure of the need to have a "container delegation" flag in the API.

[2018-01-22 19:42] bgrant0607 commented on #18506
This is in kube-state-metrics

[2018-01-22 19:42] #18506 closed

[2018-01-22 19:44] bgrant0607 commented on #22389
Still lots of room for improvement, but doesn't belong here

[2018-01-22 19:44] #22389 closed

[2018-01-22 19:46] dashpole commented on #58471
I agree with this.  @bsalamat do you think we should not evict static pods which are system priority, so that even users of static pods can move from using the critical pod annotation to use pod priority?

[2018-01-22 19:47] jiayingz commented on #52412
@pineking @lichuqiang is working on supporting quota for extended resources that covers gpu: https://github.com/kubernetes/kubernetes/pull/57302
Please take a look and let us know if that satisfies your use case.

[2018-01-22 19:51] danwinship commented on #58624
This seems WAY out of scope for NetworkPolicy to me. Kubernetes defines an L3/L4 network, so the network plugin needs to be aware of L3/L4 things, so being able to filter on L3/L4 attributes is "easy" and logical. A kubernetes network plugin does not inherently need to have any awareness of L7 things, and AFAIK the majority of currently-existing ones don't.

[2018-01-22 19:52] sbezverk commented on #58624
@tgraf I find it a little odd to add new type for a specific application, would it not make more sense to provide a set of L7 related primitives to be able to construct any L7 policies?
When kafka changes something in their API, there will be a pressure from Kafka's user community to apply similar changes to k8s as well.
I guess similar approach was taken in storage where there is a persistent vol

[2018-01-22 19:55] bgrant0607 commented on #16337
/remove-lifecycle stale
/lifecycle frozen

cc @roberthbailey

[2018-01-22 20:04] tgraf commented on #58624
I don't really like the concept of multiple resources referring to each other unless there is a clear n:1 relationship going on.

Happy to discuss specifics around Kafka. The goal is *not* to support everything the Kafka protocol supports. It is limited to the base header type which has been stable since the very beginning plus the topic name which is a concept in Kafka that has been unchanged fro

[2018-01-22 20:13] vladimirvivien commented on #57161
Closed, see #58182

[2018-01-22 20:14] bgrant0607 commented on #9132
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 20:15] tgraf commented on #58624
Given the interest and traction of Istio and service mesh, L7 will likely quickly be the norm instead of the exception. It can either be part of NetworkPolicy or not. This proposal kicks off the discussion.

We already have three different CRDs from major plugins (2 CNI + Istio) involving L7. It will definitely happen, it's just a matter of how.

I would also decouple the question of whether all o

[2018-01-22 20:17] bgrant0607 commented on #20472
/remove-lifecycle stale
/lifecycle frozen

There should be a way to query the system regarding whether features like this are functional

[2018-01-22 20:17] ConnorDoyle commented on #28313
Closing; this is mostly covered by the device plugin system.

[2018-01-22 20:17] #28313 closed

[2018-01-22 20:18] vladimirvivien opened #58628 "CSI Code Cleanup - Assemble shared utility functions in a central location"
This is a maintenance TODO for CSI code organization.

[2018-01-22 20:20] rramkumar1 opened #58629 "Manifests in test/e2e/testing-manifests/ingress should use Deployment"
The manifests currently use ReplicationController but should be ported over to use a Deployment with ReplicaSet.

[2018-01-22 20:20] bgrant0607 commented on #18623
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 20:20] rramkumar1 commented on #58629
/assign

[2018-01-22 20:20] rramkumar1 commented on #58629
/sig networking

[2018-01-22 20:21] dims commented on #58610
@hanxiaoshuai if you are looking for a easy fix, you can try adding `--conntrack-max=0 --conntrack-max-per-core=0` to your kube-proxy command line. Are you trying to this inside a docker container? (example problems see https://blog.argoproj.io/dreaming-with-kubernetes-in-kubernetes-k-in-k-37bcb94513d1 and http://blog.michali.net/2017/08/09/ipv6-support-for-docker-in-docker/ )

[2018-01-22 20:21] rramkumar1 commented on #58629
/sig-networking

[2018-01-22 20:22] ConnorDoyle commented on #28310
We can close this one. The initiative to make Kubernetes resource management more extensible is well under way by now.

[2018-01-22 20:22] #28310 closed

[2018-01-22 20:23] jingxu97 opened #58630 "Propose to add "stopped"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-01-22 20:25] vladimirvivien opened #58631 "CSI - Mounter.CanMount should probe CSI"
/kind bug

**What happened**:
Call to cs_mounter.CanMount() return nil

**What you expected to happen**:
That method call should probe the CSI driver with a `NodeProbe()` call.

[2018-01-22 20:25] vladimirvivien commented on #58631
/sig storage

[2018-01-22 20:26] vladimirvivien commented on #58628
/sig storage

[2018-01-22 20:31] #3481 closed

[2018-01-22 20:33] bgrant0607 commented on #10506
We had questions on this just last week.

/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 20:35] bgrant0607 commented on #40358
/remove-lifecycle stale

[2018-01-22 20:37] bgrant0607 commented on #27607
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 20:38] bgrant0607 commented on #12245
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 20:39] bgrant0607 commented on #36733
/remove-lifecycle stale

[2018-01-22 20:41] bgrant0607 commented on #35183
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 20:42] bgrant0607 commented on #2210
ownerReferences is the solution to this.

[2018-01-22 20:42] #2210 closed

[2018-01-22 20:44] bgrant0607 commented on #25961
/remove-lifecycle stale

[2018-01-22 20:46] bgrant0607 commented on #8800
Was added by #38882

[2018-01-22 20:46] #8800 closed

[2018-01-22 20:47] bgrant0607 commented on #11485
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 20:48] bgrant0607 commented on #5721
cc @kow3ns

[2018-01-22 20:48] bgrant0607 commented on #2804
Obsolete

[2018-01-22 20:48] #2804 closed

[2018-01-22 20:48] vladimirvivien opened #58632 "CSI Access Mode - Ensure k8s access mode maps to CSI access mode properly"
/kind bug

This is to ensure access Kubernetes volume access mode is properly (or better) mapped with the meaning of CSI access modes.

/sig storage

[2018-01-22 20:49] bgrant0607 commented on #13488
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:02] vladimirvivien opened #58633 "CSI - Move driver assertion calls inside client"
Currently, method call `AssertSupportedVersion()` must be made explicitly.  Move that call inside the csi_client.go and do it automatically.

[2018-01-22 21:03] deitch commented on #44165
/remove-lifecycle rotten

[2018-01-22 21:03] deitch commented on #44165
@adohe any update?

[2018-01-22 21:07] bgrant0607 commented on #20410
/remove-lifecycle stale

[2018-01-22 21:08] bgrant0607 commented on #41394
/lifecycle frozen

[2018-01-22 21:09] lavalamp commented on #58536
cc @yliaog

[2018-01-22 21:10] bgrant0607 commented on #25386
I don't think we will do this.

[2018-01-22 21:10] #25386 closed

[2018-01-22 21:10] bgrant0607 commented on #4817
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:11] bgrant0607 commented on #4432
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:11] lavalamp commented on #58552
cc @wenjiaswe

[2018-01-22 21:12] bgrant0607 commented on #5640
This issue doesn't belong here.

[2018-01-22 21:12] #5640 closed

[2018-01-22 21:13] lavalamp commented on #58577
/assign @cheftako

[2018-01-22 21:14] lavalamp commented on #58603
/assign @mbohlool

[2018-01-22 21:14] bgrant0607 commented on #14801
We're not going to do this here.

[2018-01-22 21:14] #14801 closed

[2018-01-22 21:17] bgrant0607 commented on #23276
@kubernetes/sig-cli-bugs

We should consider deprecating the rolling-update command.

[2018-01-22 21:17] bgrant0607 commented on #3955
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:18] bgrant0607 commented on #3714
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:18] lavalamp commented on #58616
@mbohlool @roycaihw

[2018-01-22 21:18] bgrant0607 commented on #20572
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:19] bgrant0607 commented on #7111
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:23] juanvallejo commented on #58536
Existing prototype PR for item 1 under `Client`: https://github.com/kubernetes/kubernetes/pull/55637
Will rebase and add fallback, tests

[2018-01-22 21:26] lavalamp commented on #58614
1) Eventually, we should be running etcd in the cluster like we run anything else, and then it should be available for monitoring, etc.

2) etcd is meant only for apiserver. No one else in the cluster should be able to talk to it. Ideally the monitoring port is separate so we wouldn't even have to trust the monitoring system.

3) I'm adamantly against trying to do something special to publish etcd

[2018-01-22 21:26] #58614 closed

[2018-01-22 21:28] bgrant0607 commented on #7328
/remove-lifecycle stale
/lifecycle frozen

I would still like generation/observedGeneration to be implemented for all relevant resources

[2018-01-22 21:29] lavalamp commented on #58477
It sounds like the validation is inconsistent with the schema's merge key. It should either not construct SMP with the env name as a key, or it shouldn't let you specify the same env var twice.

@jennybuckley would you like to look at the validation to see if it is doing the right thing? Is it intentional that people can put the same var in the list multiple times?

[2018-01-22 21:30] chenopis commented on #47361
FYI, we now have a more general purpose import script [`/update-import-docs/update-imported-docs.go`](https://github.com/kubernetes/website/tree/master/update-imported-docs) now, so `kubectl` or `kubeadm` can be moved to any kubernetes repo and we can still import them.

[2018-01-22 21:30] #3669 closed

[2018-01-22 21:31] bgrant0607 commented on #5281
Superseded by `kubectl set`

[2018-01-22 21:31] #5281 closed

[2018-01-22 21:31] bgrant0607 commented on #6132
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:32] bgrant0607 commented on #6979
This isn't going to change any time soon. Ref #8190

[2018-01-22 21:32] #6979 closed

[2018-01-22 21:34] bgrant0607 commented on #11209
I think this is adequately covered by #11490 and #170

[2018-01-22 21:34] #11209 closed

[2018-01-22 21:35] chenopis commented on #17080
FYI, we now have a general purpose import script [`/update-import-docs/update-imported-docs.go`](https://github.com/kubernetes/website/tree/master/update-imported-docs) that can import docs from other kubernetes repos into kubernetes.io. If you still want to https://github.com/kubernetes/kubernetes/blob/release-1.1/cluster/addons/cluster-loadbalancing/glbc/README.md on the website, let me know. I

[2018-01-22 21:35] bgrant0607 commented on #8271
This is not worth fixing

[2018-01-22 21:35] #8271 closed

[2018-01-22 21:36] bgrant0607 commented on #10527
I don't think more of this type of functionality will land in kubectl

[2018-01-22 21:36] #10527 closed

[2018-01-22 21:38] bgrant0607 commented on #7369
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:38] bgrant0607 commented on #22599
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:39] bsalamat commented on #58471
I think Kubelet should not evict static system pods, but even with the current logic of eviction, if these Pods do not use more resources than requested, kubelet never evicts them as their priority is higher than other pods.

[2018-01-22 21:39] jingxu97 opened #58635 "Propose to taint node "shutdown" condition"
Today there is only one node condition to represent whether kubelet is healthy (updating node status). Node controller will mark node as "NotReady" after kubelet stops updating for a while. The reason for kubelet not responding could be
1. Network disconnect
2. Node is shun down (stopped) or paused
3. Kubelet is killed (could not response)

## Problem
In many cases, when a node becomes "NotReady",

[2018-01-22 21:40] bgrant0607 commented on #23727
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:41] bgrant0607 commented on #6181
This is obsolete

[2018-01-22 21:41] #6181 closed

[2018-01-22 21:42] bgrant0607 commented on #37828
This is done except for generated docs

[2018-01-22 21:43] bgrant0607 commented on #37828
/remove-lifecycle stale

[2018-01-22 21:43] frankgreco opened #58636 "Inconsistent API Server Behavior with CRDs"
/kind bug

**What happened**:
While integration testing my CRD controller, I started to notice inconsistent behavior with the API server. Here is what happened (note: k8s v1.8.0):
[code]

**What you expected to happen**:
I expect `test.yaml` to be able to be applied successfully an infinite amount of time.

**How to reproduce it (as minimally and precisely as possible)**:
Use the above steps and n

[2018-01-22 21:43] bgrant0607 commented on #20605
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:44] frankgreco commented on #58636
@kubernetes/sig-api-machinery-bugs
@nikhita

[2018-01-22 21:44] bgrant0607 commented on #10693
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:45] bgrant0607 commented on #20374
/remove-lifecycle stale

[2018-01-22 21:45] bgrant0607 commented on #10043
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:47] bgrant0607 commented on #12123
/remove-lifecycle stale
/lifecycle frozen

See also #24649.

[2018-01-22 21:47] nikhita commented on #58636
This is a dupe of https://github.com/kubernetes/kubernetes/issues/53379 and was fixed in https://github.com/kubernetes/kubernetes/pull/54780.

[2018-01-22 21:47] cblecker commented on #47361
/remove-lifecycle stale

[2018-01-22 21:48] bgrant0607 commented on #12430
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:49] bgrant0607 commented on #10408
I think this umbrella issue is mostly obsolete, so closing in favor of more specific ones

[2018-01-22 21:49] #10408 closed

[2018-01-22 21:50] bgrant0607 commented on #14111
cc @gmarek

[2018-01-22 21:51] bgrant0607 commented on #14791
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 21:51] #13940 closed

[2018-01-22 21:53] frankgreco commented on #58636
@nikhita thanks. Was this back-ported to `v1.8`?

[2018-01-22 21:56] danwinship opened #58637 "Proposal: NetworkPolicy support for selecting pods in another namespace"
People want the ability to specify specific pods within a (different) namespace in NetworkPolicies.

I propose we change the documentation/definition of `NetworkPolicyPeer` so that instead of saying "Exactly one of its fields must be specified", we say that there are 4 valid kinds of NetworkPolicyPeer:

1. If only `PodSelector` is set, then the peer selects the indicated pods in the same namespace

[2018-01-22 21:57] bgrant0607 commented on #14963
Not doing this

[2018-01-22 21:57] #14963 closed

[2018-01-22 22:00] bgrant0607 commented on #4949
/remove-lifecycle stale
/lifecycle frozen

see also #22368

[2018-01-22 22:00] rramkumar1 commented on #58629
/sig network

[2018-01-22 22:03] ccampo133 commented on #43515
Thanks @racyber. Definitely related to NVMe support. Ran into this trying to mount a gp2 EBS volume on a node which was an m5 EC2 instance.

[2018-01-22 22:10] nikhita commented on #58636
Yes, this is present in v1.8.4.

[2018-01-22 22:10] #58636 closed

[2018-01-22 22:12] alexmunda commented on #51835
I was able to manually work around this issue on GKE by:

1. SSHing into the node the stuck pod was scheduled on
2. Running `docker ps | grep {pod name}` to get the Docker Container ID
3. Running `docker rm -f {container id}`

[2018-01-22 22:21] mattdodge commented on #56272
I'm curious about this as well. And even though [this code](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L575) makes it seem like a kubelet eviction is logged as an event somewhere, I cannot see that event anywhere. I've checked the evicted pod, the replicaset, and the deployment. All of them (when using `kubectl describe`) show a `<none>` in the Ev

[2018-01-22 22:22] bsalamat commented on #43317
As discussed above, this can be done via admission policy. Alternatively, one can have ResourceQuota per namespace (and soon per priority per namespace) that can address the requested feature. I think we can close this issue.

[2018-01-22 22:22] #43317 closed

[2018-01-22 22:23] tgraf commented on #58637
I can't think of any case how this can break compatibility. I also think that this is what the user would expect anyway.

[2018-01-22 22:24] portante opened #58638 "Request to add namespace name and namespace UUID to metadata of on-disk log file"
/kind feature

We assert that a log file on-disk (via CRI-O, or docker's json-file logging driver) should have metadata associated with that log file to describe the UUIDs _and_ names of the container, pod, **and** namespace associated with the log output to avoid k8s API calls later.  Today it does not _appear_ to include the namespace UUID or name (see https://github.com/kubernetes/kubernetes/bl

[2018-01-22 22:32] portante commented on #58638
/sig node

[2018-01-22 22:35] salv-orlando commented on #58637
I agree that there is no compatibility issue. Unless one considers a compatibility problem the fact that a policy spec that was failing before now is accepted (hopefully not, please don't!)

[2018-01-22 22:35] rshriram commented on #58624
drive by comment:
How about a generic l7 directive like `type.resource.operation` to denote all forms of l7 stuff? messagebus.topic.publish/subscribe, db.<table>.read/write, http.<service/dns/regex>.get/put/post, etc.. ? Kubernetes does not have to know or interpret the three fields.. Its an opaque string with 3 elements, leaving it to the implementations to interpret. They can ignore things they

[2018-01-22 22:42] dankohn commented on #7528
Could anyone please definitively state the minimum Linux kernel version that will definitely work with Kubernetes 1.9?

[2018-01-22 22:43] bgrant0607 commented on #15157
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 22:44] bgrant0607 commented on #15345
cc @mbohlool

/remove-lifecycle stale
/lifecycle froze

[2018-01-22 22:45] bgrant0607 commented on #15494
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 22:46] bgrant0607 commented on #16089
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 22:47] bgrant0607 commented on #15741
kubectl explain is good enough for now

[2018-01-22 22:47] #15741 closed

[2018-01-22 22:47] bgrant0607 commented on #16541
Doc munging in this repo is dead

[2018-01-22 22:47] #16541 closed

[2018-01-22 22:48] bgrant0607 commented on #15776
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 22:50] bgrant0607 commented on #16998
Examples have been moved out of this repo

[2018-01-22 22:50] #16998 closed

[2018-01-22 22:50] smarterclayton commented on #15157
I really want to sponsor someone to go do the drudge work here.  It's an
ugly problem though - all the golang parsing tools lack event driven hooks
and flows.

On Mon, Jan 22, 2018 at 5:43 PM, Brian Grant <notifications@github.com>
wrote:

[2018-01-22 22:51] bgrant0607 commented on #17362
This is wrong for Namespace, too

/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 22:52] bgrant0607 commented on #16543
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 22:53] bgrant0607 commented on #17902
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 22:55] bgrant0607 commented on #16935
Not likely to happen in kubectl

[2018-01-22 22:55] #16935 closed

[2018-01-22 22:56] bgrant0607 commented on #18023
Not likely to happen in kubectl

[2018-01-22 22:56] #18023 closed

[2018-01-22 22:56] wenjiaswe commented on #58552
@bjhaid I am trying do reproduce this problem. Could you please attach the exact  "bad certificate" log message that you mentioned?

[2018-01-22 22:59] bgrant0607 commented on #8116
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 23:02] bgrant0607 commented on #19081
I think this is addressed by resource extension:
https://github.com/kubernetes/community/pull/782

[2018-01-22 23:02] #19081 closed

[2018-01-22 23:02] bgrant0607 commented on #19079
/remove-lifecycle stale
/lifecycle frozen

[2018-01-22 23:03] bgrant0607 commented on #19830
Can revisit later if needed

[2018-01-22 23:03] #19830 closed

[2018-01-22 23:04] ravisantoshgudimetla commented on #57471
@bsalamat For critical pod's template to use priority & , I am planning to do following things:

- Update IsCriticalPod f(n) to use priorityClass `system-node-critical` and other relevant changes.
- Add e2e test.
- In priority admission controller do a automatic assignment of `system-node-critical`, in case the pod has just critical pod annotation set(for backwards compatibility).
- Add deprecatio

[2018-01-22 23:04] #18771 closed

[2018-01-22 23:04] bgrant0607 commented on #17144
/remove-lifecycle stale

[2018-01-22 23:09] idvoretskyi commented on #7528
/remove-lifecycle rotten

[2018-01-22 23:11] idvoretskyi commented on #7528
/assign

[2018-01-22 23:18] bjhaid commented on #58552
@wenjiaswe
![image](https://user-images.githubusercontent.com/593852/35249582-2fcd581a-ff98-11e7-9d62-de1312432cbc.png)

from wireshark

[2018-01-22 23:18] vijaykatam commented on #57279
This worked for me on a 1.9.2 cluster
[code]

[2018-01-22 23:21] bjhaid commented on #58552
[code]

is a diff indicating the difference between the "bad certificate" and the good one, you'll need to generate a cert has a SAN with the diff being deleted for etcd to correctly repro this, sorry if the information on the issue wasn't adequate to repro

[2018-01-22 23:25] anfernee opened #58639 "kubelet configmap and secret cache cleared every time pod is updated regardless of ttl"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: If a configmap/secret is referenced by one pod on a node (which is a very common case), whenever the pod is updated for whatever fields that is not related to configmap/secret, the configmap/secret cache will be cleared, regardless what "node.alpha.kubernetes.io/ttl" is configured.

Another thing is the secret package and

[2018-01-22 23:25] anfernee commented on #58639
/cc sig-node

[2018-01-22 23:27] bgrant0607 commented on #1462
/remove-lifecycle rotten

The proposal is still open

[2018-01-22 23:33] krmayankk commented on #41394
@bgrant0607  what does this mean to be frozen ?  i intent to write a proposal for this and get a basic version implemented

[2018-01-22 23:34] rramkumar1 opened #58640 "Manifests in test/e2e/testing-manifests/ingress related to GCE should be in a separate folder."
Manifests should ideally be in a folder gce/ for clarity.

/assign

[2018-01-22 23:34] anfernee commented on #58639
From the comment it says this:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/configmap/configmap_manager.go#L239-L240

but it seems it's not doing this in the real implementation, confusing. Need to double check.

[2018-01-22 23:35] rramkumar1 commented on #58640
/sig-network /assign

[2018-01-22 23:44] Random-Liu opened #58642 "an error on the server ("missing route (service \"sample-api\" not found)") has prevented the request from succeeding (get flunders.wardle.k8s.io)"
`Jan 22 22:15:31.659: Couldn't delete ns: "e2e-tests-statefulset-fg2hp": an error on the server ("missing route (service \"sample-api\" not found)") has prevented the request from succeeding (get flunders.wardle.k8s.io) (&errors.StatusError{ErrStatus:v1.Status{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ListMeta:v1.ListMeta{SelfLink:"", ResourceVersion:"", Continue:""}, Status:"Failure", Message

[2018-01-22 23:44] ravisantoshgudimetla commented on #58379
@dashpole I agree with you. I will set up a cluster to test this out sometime this week.

The other question that I have is will static pods be able evict other running pods on node similar to critical pods. I believe it is not the case currently. Shouldn't they evict?

[2018-01-23 00:15] dashpole commented on #58379
I am not 100% sure what you mean by static pods evicting other pods, but ill take a stab.  If you create a static pod with the critical pod annotation in the kube-system namespace, and there are no free resources on the node to schedule the pod, then the kubelet will preempt a pod on the node to make room for it.  This is only for critical pods.

[2018-01-23 00:23] ravisantoshgudimetla commented on #58379
@dashpole Thanks for the explanation. My question is what if static pod is created without critical pod annotation? My understanding is that kubelet won't evict other pods when there is a resource crunch just to accommodate this pod. Is this desired behaviour?

[2018-01-23 00:31] dashpole commented on #58379
@ravisantoshgudimetla yes, that is the desired behavior.  The kubelet doesn't treat static pods any differently than other pods.

[2018-01-23 00:31] ravisantoshgudimetla commented on #58242
+1 to cluster-capacity tool - One thing to note here is scheduler_perf(https://github.com/kubernetes/kubernetes/tree/master/test/integration/scheduler_perf) tool which is used for performance measurements does something similar but we generate the pod spec dynamically. It would be interesting to be able to provide a list of pod specs along with their arrival times(we can sort pods based on arrival

[2018-01-23 01:15] thoraxe commented on #54487
@rhatdan @pweil-

This is still an issue. I don't believe I have permission to remove stale. There's also been no movement on the Origin side, although I am betting this is a pure Kube issue.

[2018-01-23 01:16] louiscryan commented on #58624
I generally agree with @tgraf about the direction the market is heading. I do wonder how & where Kubernetes wants to set its functional boundaries around features like this.

The Istio approach has been to codify the extraction of traffic properties and then provide an integration point for engines to implement their custom magic. This approach would make more sense to me if K8S had a mechanism or

[2018-01-23 01:19] thockin commented on #58637
I'm concerned about how complex this becomes over time, if we add more fields here.  Today it is simple - exactly one.  If we allow one or two, but not any combination, it's awkward at best.

Can we make it a generic AND ?

Or maybe we should add a new struct field (good name needed) with PodSelector and NamespaceSelector fields?

[2018-01-23 01:21] jhorwit2 commented on #57371
/assign

[2018-01-23 01:29] hanxiaoshuai commented on #58610
@dims Yes, I'm trying to this inside a docker container. Thanks for your help.

[2018-01-23 01:31] bgrant0607 commented on #26205
/remove-lifecycle stale
/lifecycle frozen

There's still cruft in the docs directory.

[2018-01-23 01:32] liggitt commented on #57371
xref https://github.com/kubernetes/features/issues/5

[2018-01-23 01:34] bgrant0607 commented on #16307
Closing in favor of #8867

[2018-01-23 01:34] #16307 closed

[2018-01-23 01:35] bgrant0607 commented on #47349
/remove-lifecycle stale

[2018-01-23 01:36] pineking commented on #52412
@jiayingz Yes, I have commented on #57302 and waiting it merged, I can test that on the later of this week.

[2018-01-23 01:38] bgrant0607 commented on #23297
/remove-lifecycle stale

[2018-01-23 01:40] phsiao opened #58648 "TaintNodesByCondition=true does not respect spec.Unschedulable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

I think this is a bug, but let me know if it is not.

**What happened**:

When feature-gate TaintNodesByCondition is true, we were surprised to find out that nodes that are `SchedulingDisabled` continues to get pod scheduled onto it.

**What you expected to happen**:

Nodes that are `SchedulingDisabled` don't get new pod scheduled.

**How t

[2018-01-23 01:40] bgrant0607 commented on #20265
/remove-lifecycle stale

[2018-01-23 01:41] bgrant0607 commented on #22405
Underway in the kubernetes-client org

[2018-01-23 01:41] #22405 closed

[2018-01-23 01:41] phsiao commented on #58648
/sig scheduling

[2018-01-23 01:43] bgrant0607 commented on #19969
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 01:47] bgrant0607 commented on #22056
Obsolete

[2018-01-23 01:47] #22056 closed

[2018-01-23 01:48] bgrant0607 commented on #21560
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 01:49] bgrant0607 commented on #22317
There's another issue for eliminating generated docs, which is what we should do

[2018-01-23 01:49] #22317 closed

[2018-01-23 01:49] gyliu513 opened #58652 "Update to etcd 3.2.14"
For the 1.9 cycle we have incremental update to etcd 3.1.10 at https://github.com/kubernetes/kubernetes/issues/49386

For the 1.10 cycle, we should update the etcd to [3.2.X](https://github.com/coreos/etcd/blob/master/CHANGELOG.md#v3214-2018-01-11) to pick up the latest fix for etcd.

We have did regression test for etcd 3.2.14 with both 1.9.x and master, it works fine.

/cc @kubernetes/sig-cluste

[2018-01-23 01:51] bgrant0607 commented on #22569
/remove-lifecycle stale

[2018-01-23 01:52] gyliu513 commented on #58652
/area etcd
/sig api-machinery
/kind enhancement
/sig cluster-lifecycle
/sig scalability

[2018-01-23 01:52] bgrant0607 commented on #23085
These issues are up to providers

[2018-01-23 01:52] #23085 closed

[2018-01-23 01:53] bgrant0607 commented on #22438
/remove-lifecycle stale

[2018-01-23 01:54] bgrant0607 commented on #23874
/remove-lifecycle stale

[2018-01-23 01:57] bgrant0607 commented on #33212
/remove-lifecycle stale

[2018-01-23 01:58] bgrant0607 commented on #22651
I've seen blog posts on this topic. Anyway, docs are no longer here

[2018-01-23 01:58] #22651 closed

[2018-01-23 02:00] bgrant0607 commented on #22799
We're trying to move these providers out of tree. Closing here

[2018-01-23 02:00] #22799 closed

[2018-01-23 02:01] bgrant0607 commented on #38768
/remove-lifecycle stale

[2018-01-23 02:02] bgrant0607 commented on #22871
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 02:02] bgrant0607 commented on #22725
/remove-lifecycle stale

[2018-01-23 02:03] bgrant0607 commented on #22863
Redundant with the issue about eliminating generated docs

[2018-01-23 02:03] #22863 closed

[2018-01-23 02:04] bgrant0607 commented on #23987
/remove-lifecycle stale

[2018-01-23 02:05] FengyunPan commented on #58145
@krlng

Have you see this log? It means the security group we need to create does not exist, we should create it, not raise error, right? And I get 'non-interface type ErrResourceNotFound on left' error, 'err.(*gophercloud.ErrResourceNotFound)' is incorrect.