[2016-05-27 23:22] pwittrock commented on #25510
Looks like the test run is missing some debug logging that has been added.  Will take another look when we see the next instance.

[2016-05-27 23:23] dchen1107 opened #26464 "Add docker performance tests for image pulling"
Our docker 1.11.X validation stats (https://github.com/kubernetes/kubernetes/issues/23397) show overall performance improvements, but lack the performance measurement with docker pull operation. After upgrading to docker 1.11.1, the issue https://github.com/kubernetes/kubernetes/pull/25784#issuecomment-221699143, https://github.com/kubernetes/kubernetes/issues/25277  are not observed.

I did exper

[2016-05-27 23:23] saad-ali commented on #26141
@rootfs I'm not sure what the publicly accessible link for `kubernetes-e2e-gce-flaky` test history is.

I took a look for you:
* Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession
  * Failed 3 times in the last 30 runs. Stability: 90 %
* Pod Disks should schedule a pod w/two RW PDs both mounted to

[2016-05-27 23:29] roberthbailey commented on #26455
@kubernetes/goog-image

[2016-05-27 23:34] janetkuo opened #26466 "Some kubectl errors are hidden incorrectly"
https://github.com/kubernetes/kubernetes/issues/26425#issuecomment-222258484:

Why? In https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get.go, the errors returned by `r.Visit` are appended to `allErrs` but then `return printer.PrintObj(obj, out)` is called and `allErrs` are dropped silently.

Also, the error returned by `sorting, err := cmd.Flags().GetString("sort-by")` isn't

[2016-05-27 23:42] dims commented on #26453
@dcbw nice work! :)

[2016-05-27 23:53] metral commented on #26466
Not at computer, but there's a PR in the works to refactor and flatten the aggregated errors in https://github.com/kubernetes/kubernetes/pull/26242. That said, the total changes I added in https://github.com/kubernetes/kubernetes/pull/23673 and https://github.com/kubernetes/kubernetes/pull/26242 combined doesn't change get.go too drastically to examine.

I must not be handling one of the error cas

[2016-05-27 23:54] #20734 closed

[2016-05-28 00:00] dchen1107 commented on #25456
Dropped the priority to p1 based on @bprashanth's comment above. Will try to reproduce against docker 1.11.1.

[2016-05-28 00:01] bgrant0607 commented on #26202
I think the longer-term solution will be to move to a defaulting approach similar to what we use for Job:
https://github.com/kubernetes/kubernetes/blob/master/docs/design/selector-generation.md

[2016-05-28 00:14] bprashanth commented on #26379
The only puzzling point is: wth is `172.17.0.1/16`?

the master kubelet should be created with "-reconcile-cidr=false --pod-cidr=10-dot --configure-cbr0=true", and it should apply that cidr to cbr0. I'm guessing that's being piped wrong (or are we really piping 172.17?). If that were to work, your fluent will get an ip from that /30 pod-cidr, everythign else will run with host networking. We can't

[2016-05-28 00:20] bgrant0607 commented on #26328
@thockin Can this be closed?

[2016-05-28 00:21] janetkuo commented on #26425
Looks like api server throws 404 unexpectedly. @caesarxuchao can you take a look?

[2016-05-28 00:23] bgrant0607 commented on #26202
@therc How did you create the service in the case described by https://github.com/kubernetes/kubernetes/issues/26202#issuecomment-221933023 ? Did you use apply or create?

[2016-05-28 00:25] bgrant0607 commented on #25238
I wrote an explanation of apply behavior here:
https://github.com/kubernetes/kubernetes/issues/15894#issuecomment-222194015

[2016-05-28 00:25] janetkuo commented on #22719
cc @pwittrock

[2016-05-28 00:26] dchen1107 commented on #26431
@pwittrock @ixdy  Can we make those coreos test image public?

@mikebrow When you run into the issue on ubuntu  16.04lts, can you share the docker's logs, kubelet logs, etc. ?

[2016-05-28 00:26] dchen1107 commented on #26296
dup of #26431

[2016-05-28 00:26] #26296 closed

[2016-05-28 00:27] bgrant0607 commented on #26202
This is basically a dupe of #24888.

[2016-05-28 00:27] dchen1107 commented on #26295
dup of #26431: coreos node is not up.

[2016-05-28 00:27] #26295 closed

[2016-05-28 00:27] bgrant0607 commented on #24888
There's additional discussion on #26202

[2016-05-28 00:28] dchen1107 commented on #26294
dup of https://github.com/kubernetes/kubernetes/issues/26431

[2016-05-28 00:28] #26294 closed

[2016-05-28 00:30] bgrant0607 commented on #24888
@saturnism If you want 2 release tracks, but want to be able to update versions in each track, use release-track labels to distinguish the 2 deployments rather than just the version labels.
http://kubernetes.io/docs/user-guide/managing-deployments/#canary-deployments

[2016-05-28 00:36] arun-gupta opened #26468 "Kubernetes on Azure docs"
Google search on "Kubernetes Azure" gives:

https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/azure.md

This links to

http://kubernetes.io/docs/getting-started-guides/azure/

which gives a 404.

https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos/azure/README.md seems specific to CoreOS.

Where are the normative instructions for r

[2016-05-28 00:41] bgrant0607 commented on #26229
Could this be related to #25585?

[2016-05-28 00:49] quinton-hoole commented on #26328
Yes, it can be closed. I tried to mark the pr to auto-close this but must have messed it up. We need a different, replacement PR which I will open now and cross-reference.

[2016-05-28 00:49] #26328 closed

[2016-05-28 00:52] quinton-hoole opened #26469 "Fix godep licenses"
@Thockin has details.

[2016-05-28 00:53] quinton-hoole commented on #26328
#26469 refers

[2016-05-28 00:59] dcbw commented on #26457
cf7a3475f37c2e4ae5faac25dc7ae7eb84734483 is the first bad commit
commit cf7a3475f37c2e4ae5faac25dc7ae7eb84734483
Author: mqliang <mqliang.zju@gmail.com>
Date:   Mon May 16 18:57:44 2016 +0800

    Don't allow node controller to allocate into service CIDR range

:040000 040000 6f32fab91bd722869310c0a59416849dca58b762 0595a463995e20c6be5c9e673aca02b075b76287 M	cluster
:040000 040000 d338ac8d6408fb6e

[2016-05-28 01:03] dcbw commented on #26457
cc @davidopp

[2016-05-28 01:37] kastork commented on #22638
What's the word on getting the images into gov-cloud?

[2016-05-28 02:06] colemickens commented on #26468
See: https://github.com/kubernetes/kubernetes.github.io/pull/149

[2016-05-28 02:46] wonderfly commented on #26455
@adityakali had made a GCI image with docker 1.11.1 and it's been under some testing. Should be able to cut a release soon.

[2016-05-28 03:00] wonderfly commented on #25215
Sorry this took a little longer. The GCI image side change was completed a week ago. I had to work on something else so didn't get a chance to sort out the k8s side change yet. I expect to send it out for review early next week.

[2016-05-28 03:13] qq690388648 opened #26471 "The service without specified port should be supported"
In some cases, just like the ApplicationMaster of yarn, the service may listen on a random port. That means we can not use kubernetes's service to support these cases.
To hold these cases, I think there should be a type of service without specified ports so that all request to the service's ip can be routed to the pods ignored the port. And I think it is achievable with current iptable based kube-

[2016-05-28 03:30] eparis-bot opened #26472 "[k8s.io] ReplicationController should serve a basic image on each replica with a public image [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7900/

Failed: [k8s.io] ReplicationController should serve a basic image on each replica with a public image [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-28 03:37] lavalamp commented on #26472
@eparis what is this? Let's only point one bot at the main repo. Also why doesn't this have the kind/flake label?

[2016-05-28 04:19] k8s-merge-robot opened #26473 "Broken test run: kubelet-gce-e2e-ci - 3403 [12 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3403/

Multiple broken tests:

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod forcibly deleted {E2eNode Suite}

[code]
Issues about this test specifically: #26281 #26294

Failed: Kubelet Container Manager oom score adjusting when scheduling a busybox command that always fails in a pod it shou

[2016-05-28 04:19] k8s-merge-robot opened #26474 "Broken test run: kubernetes-e2e-gke - 7900 [6 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/7900/

Multiple broken tests:

Failed: [k8s.io] Services should serve multiport endpoints from pods [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Services should be able to create a functioning NodePort service {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run rc should cre

[2016-05-28 05:10] #26128 closed

[2016-05-28 05:10] #26129 closed

[2016-05-28 06:04] #26318 closed

[2016-05-28 06:09] k8s-merge-robot opened #26475 "Broken test run: kubernetes-e2e-gke - 7908 [12 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/7908/

Multiple broken tests:

Failed: [k8s.io] Pods should invoke init containers on a RestartAlways pod {Kubernetes e2e suite}

[code]

Failed: [k8s.io] DNS should provide DNS for pods for Hostname and Subdomain Annotation {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26180

Failed: [k8s.io] Networki

[2016-05-28 06:11] eparis-bot opened #26476 "[k8s.io] Pods should invoke init containers on a RestartAlways pod {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7908/

Failed: [k8s.io] Pods should invoke init containers on a RestartAlways pod {Kubernetes e2e suite}

[code]

[2016-05-28 06:33] #26471 closed

[2016-05-28 06:34] thockin commented on #26471
It is not implementable in the userspace proxy and I am not sure it is
generically implementable.  This is the same as supporting ranges #23864

On Fri, May 27, 2016 at 8:14 PM, 孙庚泽 <notifications@github.com> wrote:

[2016-05-28 06:35] thockin commented on #26469
What is left to be fixed?  As far as I know it is fixed...

[2016-05-28 06:35] #26469 closed

[2016-05-28 06:52] #25602 closed

[2016-05-28 07:31] qq690388648 commented on #26471
It is a bit like the https://github.com/kubernetes/kubernetes/issues/23864 on function, but they have great differences on their implements, because the `iptable` does not support doing routing for port range, but it supports doing routing  ignoring ports.

[2016-05-28 07:55] mhrgoog commented on #26385
I am a noob but I am poking around and learning as I go on this bug.

One log file that logs the error for PR 25599 is found at kubernetes-jenkins/pr-logs/pull/25599/node-pull-build-e2e-test/8044.

+ ./test/e2e_node/jenkins/e2e-node-jenkins.sh ./test/e2e_node/jenkins/jenkins-pull.properties
+ : ./test/e2e_node/jenkins/jenkins-pull.properties
+ . ./test/e2e_node/jenkins/jenkins-pull.properties
++ G

[2016-05-28 07:58] clanstyles opened #26477 "Pod can't access API - Unauthorized (10.2.0.1)"
I'm not sure what the problem is. I'm trying to get an ingress controller to work. It seems that unversioned.NewInCluster() is failing. I then checked logs and see a lot of

[code]

I then kubectl exec -it ... /bin/bash 'ed into the pod to try and run the following command, found here http://stackoverflow.com/questions/30690186/how-do-i-access-the-kubernetes-api-from-within-a-pod-container

[code]

[2016-05-28 08:59] gmarek commented on #26318
Thankis @pwittrock!

[2016-05-28 08:59] ngtuna commented on #25476
@justinsb no I have used full administration access account. I figured out that if you deployed success k8s before, then running `kube-down.sh` will not remove `kube-master` & `kube-minion` IAM roles. However, with the new deployment, `kube-up.sh` will generate IAM role with `kubernetes-minion-policy.json` which currently doesn't cover launchconfiguration permission. If I add it, then deployment w

[2016-05-28 09:20] #20392 closed

[2016-05-28 11:48] #22876 closed

[2016-05-28 14:05] smarterclayton commented on #20708
Appears to be the same symptom, reopening rather than create more issues.

[2016-05-28 14:06] smarterclayton commented on #20708
Actually will xref other.

[2016-05-28 14:06] #20708 closed

[2016-05-28 14:07] smarterclayton commented on #20576
Saw this flake (or very similar) again.

[2016-05-28 15:55] jonathan-kosgei opened #26479 "Kube-ui dashboard is blank"
Hi, I'm following the ubuntu/calico cluster setup at http://kubernetes.github.io/docs/getting-started-guides/ubuntu-calico/.

I manually created the kube-ui service, however when I browse to the url there's nothing to show, the dashboard is there but I don't see any of the nodes/pods/services etc that I've setup.

[2016-05-28 16:03] mfanjie opened #26480 "cluster controller fail to get cluster status"
When I create cluster with last master branch, by post request to federation apiserver, I got the following error logs
[code]
and then the following error was dumped repeatedly
[code]
something wrong in clustercontroller.go make the controller manager failed to get the latest cluster status, this impact other controllers like service controller which depends on the status of clusters.

The workaro

[2016-05-28 16:03] mfanjie commented on #26480
@huangyuqi

[2016-05-28 16:21] earthIsAPrisonIfYouNotAwareItCanNotOut opened #26481 "Bind Docker to a Unix socket under upstart in kubernetes master node"
Refer to this article(http://kubernetes.io/docs/getting-started-guides/docker-multinode/master/).
It mention about if you need a separate “bootstrap” instance of the Docker daemon and running this on a long running system, you should run the bootstrap Docker instance under something like SysV init, upstart or systemd so that it is restarted across reboots and failures. Here because I use the ubunt

[2016-05-28 18:45] aronchick commented on #23172
does this an umbrella that includes the bootstrap api? or vice versa?

[2016-05-28 18:49] aronchick commented on #25063
I guess what I'm saying is that we know this is going to be a problem. There's almost no way to make this NOT a problem, yet it is a very easy bug to get into.

So... with that in mind, what's the path for doing this? When you add a second master to your HA config, how does it establish trust with the first HA? Could we check at that point?

[2016-05-28 18:53] #24729 closed

[2016-05-28 19:33] k8s-merge-robot opened #26482 "Broken test run: kubelet-gce-e2e-ci - 3486 [5 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3486/

Multiple broken tests:

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod forcibly deleted {E2eNode Suite}

[code]
Issues about this test specifically: #26281 #26294

Failed: Kubelet Container Manager oom score adjusting when scheduling a busybox command that always fails in a pod it shou

[2016-05-28 19:34] eparis-bot opened #26483 "Kubelet Container Manager oom score adjusting when scheduling a busybox command that always fails in a pod it should have an error terminated reason {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3486/

Failed: Kubelet Container Manager oom score adjusting when scheduling a busybox command that always fails in a pod it should have an error terminated reason {E2eNode Suite}

[code]

[2016-05-28 19:34] eparis-bot opened #26484 "MirrorPod when create a mirror pod should be recreated when mirror pod forcibly deleted {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3486/

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod forcibly deleted {E2eNode Suite}

[code]

[2016-05-28 19:34] eparis-bot opened #26485 "MirrorPod when create a mirror pod should be recreated when mirror pod gracefully deleted {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3486/

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod gracefully deleted {E2eNode Suite}

[code]

[2016-05-28 19:34] eparis-bot opened #26486 "MirrorPod when create a mirror pod should be updated when static pod updated {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3486/

Failed: MirrorPod when create a mirror pod  should be updated when static pod updated {E2eNode Suite}

[code]

[2016-05-28 20:00] wojtek-t commented on #25940
@spxtr @ixdy @lavalamp - would it be possible to run: 1. unit & integration tests, 2. verify-all.sh script
in parallel?
Those two conceptually are independent, and this would basically divde the total time almost by 2.

[2016-05-28 20:08] naveensrinivasan opened #26487 "Pod's restarting - dial unix /var/run/docker.sock:"
I have pods that are restarting often with the message  `FailedSync Error syncing pod, skipping: Get http://unix.sock/containers/json?all=1: dial unix /var/run/docker.sock: no such file or directory`.

This is running on aws and the cluster was setup using `kube-up.sh`. What could be wrong?

[code]

[2016-05-28 20:23] spxtr commented on #25940
Yes, I would like to split those apart.

[2016-05-28 20:55] lavalamp opened #26489 "Test apiserver prefix"
#26416 removed this test. We need to continue testing this.

This wasn't about testing upgrades, the prefix has nothing to do with upgrades. It's just there so people can share etcd. We maybe don't need to double everything but we do need to make sure that keeps working.

[2016-05-28 21:13] k8s-merge-robot opened #26490 "[k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/4720/

Failed: [k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}

[code]

[2016-05-28 21:53] k8s-merge-robot opened #26491 "Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3493/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}

[code]

Previous issues for this test: #26279 #26342 #26428

[2016-05-28 21:54] eparis-bot opened #26492 "Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3493/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-28 22:13] janetkuo commented on #26466
@metral thanks!

[2016-05-28 23:20] davidopp commented on #26457
Thanks for reporting. Is this the same or different from the problem you found with
https://github.com/kubernetes/kubernetes/pull/26197/
?

[2016-05-29 01:12] davidopp commented on #25398
Affinity test only failed once recently (last 10 runs or so). I'm going to mark this as a flake issue.

[2016-05-29 01:13] colemickens commented on #26039
* [Networking Overview](https://azure.microsoft.com/en-us/documentation/services/virtual-network/)

which includes these topics:

* [User Defined Routes](https://azure.microsoft.com/en-us/documentation/articles/virtual-networks-udr-overview/)

* [Network Security Groups](https://azure.microsoft.com/en-us/documentation/articles/virtual-networks-nsg/)

[2016-05-29 01:15] dims commented on #26491
Dup of https://github.com/kubernetes/kubernetes/issues/26492 ?

[2016-05-29 01:16] dims commented on #26492
We should close either 26491 or 26492.

[2016-05-29 01:28] davidopp opened #26495 "Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node"
This is deterministically failing only in kubernetes-e2e-gce-serial with
`Memory usage exceeding limits: node jenkins-e2e-minion-group-glrh: container "runtime"`

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1381/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1380/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1379/
http://kubekins.dls.c

[2016-05-29 01:31] davidopp commented on #19681
This is failing deterministically in kubernetes-e2e-gce-serial.

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1381/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1380/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1379/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1378/
and so on.

[2016-05-29 01:43] hongchaodeng commented on #19681
I'm concerned that #26043 is highly relevant. Not sure why there is no response on that issue.
I will submit a patch to print error log to verify the case.

[2016-05-29 01:44] hongchaodeng commented on #19681
Submit a patch at #26496

[2016-05-29 01:51] bprashanth commented on #26495
Docker 1.11 probably just has a higher resource footprint (https://github.com/docker/docker/issues/21737)

[2016-05-29 02:24] davidopp commented on #26453
@wonderfly can you please fix this?

[2016-05-29 02:24] davidopp commented on #26453
(And thanks for reporting, @dcbw )

[2016-05-29 05:22] k8s-merge-robot opened #26498 "Broken test run: kubernetes-e2e-gke - 7980 [29 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/7980/

Multiple broken tests:

Failed: [k8s.io] Pods should invoke init containers on a RestartNever pod {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26131

Failed: [k8s.io] Pods should not start app containers and fail the pod if init containers fail on a RestartNever pod {Kubernetes e2e suite}

[cod

[2016-05-29 05:56] #25788 closed

[2016-05-29 06:20] thockin commented on #26385
we have talked about vendoring godep before.  Time to just do it?

[2016-05-29 06:26] davidopp commented on #24228
+1 for getting rid of "ok-to-merge"

Re "ok to test" I think the idea is that we don't want random people executing code on the project's Jenkins. So it's maybe fine to make it a larger group than just maintainers (in which case it shouldn't be a label), but it can't just be anyone.

[2016-05-29 06:34] bgrant0607 commented on #2838
https://github.com/blog/2162-better-discoverability-for-github-pages-sites
https://github.com/benbalter/jekyll-seo-tag
https://help.github.com/articles/sitemaps-for-github-pages/

cc @kubernetes/docs

[2016-05-29 06:36] caesarxuchao opened #26499 "Integratin test flake: persistent_volumes_test.go:237: Only 1 PV should be bound but got 0"
The flake is encountered after I enable the watch cache in #26494. I don't know if it's related. The flake shouldn't occur either with watch cache disabled or enabled.

[code]

[logs](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26494/kubernetes-pull-test-unit-integration/28367/)
[.stdout](https://00e9e64bac63eec1b40fd593689906a9a117f39f53fd9e33d1-apidata.google

[2016-05-29 08:22] codefx9 commented on #26039
Thanks a lot @colemickens

[2016-05-29 08:30] zhouhaibing089 commented on #26487
It looks like the docker daemon has been crashed, what's the logs from docker?

[2016-05-29 08:57] zhouhaibing089 commented on #17397
I feel it is too aggresive, what if some providers do support `kube-push`? I have my own kubernetes provider for local development, and always use `kube-push` to do a binary update...

It feel it is good to print a warning, but totally disabling it is not good for me..

[2016-05-29 09:16] zhouhaibing089 commented on #26477
The token was generated for each service account, which you could see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/serviceaccount/tokens_controller.go#L267-L292)

As mentioned above, each service account have at least one token, and it exists as a secret, whenever you start a pod, this secrets(contains a token) would mount as a volume at `/var/run/secrets/....`, you c

[2016-05-29 09:32] wojtek-t commented on #26489
To be honest - I think that what we was testing before didn't give us completely any information. We didn't testing what information we are storing in etcd and where. That said, if we had a hardcoded prefix somewhere in our code, we wouldn't discover it at all, and those tests would still be passing.

We should have a test that is directly checking etcd contents. I think it should be possible to w

[2016-05-29 09:39] wojtek-t commented on #25940
@spxtr - actually, I did some quick experiment and it seems we can't simply run them in parallel, because they are affecting one another (hack/verify-codecgen.sh is generating some temporary files that are causing pain for unit tests).
However, in my opinion we should just split them into a separate suite, that would also be blocking merge.

In fact, I think that we need it anyway, because we will

[2016-05-29 10:32] k8s-merge-robot opened #26503 "Broken test run: kubernetes-e2e-gke - 7995 [4 failures]"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/7995/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26175

Failed: [k8s.io] Services should create endpoints for unready pods {Kubernetes e2e suit

[2016-05-29 12:12] timoreimann commented on #25251
@roberthbailey @bgrant0607 @smarterclayton @jlowdermilk @derekwaynecarr fixed order output for pod descriptions. Do you know of any other describers that use maps as well? A quick glance on my end didn't yield anything but maybe I missed some.

[2016-05-29 13:20] luxas commented on #26479
kube-ui is deprecated in favor for https://github.com/kubernetes/dashboard.
Please deploy that one instead.

[2016-05-29 13:20] #26479 closed

[2016-05-29 13:24] luxas commented on #15140
This is fixed now with #23009 and #25972.

The pause image is now at version `3.0` and only in two places in the repo, which means it's easily updateable.

Closing as fixed

[2016-05-29 13:24] #15140 closed

[2016-05-29 13:32] #20243 closed

[2016-05-29 13:36] luxas commented on #15140
@uluyol A side note, the memory footprint became roughly `50-60x` smaller (from `1.8mb` to `32kb`), at least on my Raspberry Pi now.

I knew it would be smaller, it was @thockin's main point, but I didn't imagine it would decrease so greatly :)

[2016-05-29 14:07] k8s-merge-robot opened #26505 "[k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is Never [Conformance] {Kubernetes e2e suite}"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/8007/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is Never [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-29 15:50] #26103 closed

[2016-05-29 16:37] smarterclayton opened #26507 "Consider adding tracing support for OpenTracing (or similar)"
In 1.3 we took most of the fat out of the internal apiserver and Client machinery.  However, we have fairly complex internal flows for controllers, caches, the watches, and other distribution mechanisms that are more difficult to trace / profile.  In addition, we are adding larger numbers of control loops and feedback mechanisms into the state of the system - we are seeing more inconsistent outcom

[2016-05-29 16:38] smarterclayton commented on #26507
Xref #815

[2016-05-29 16:38] smarterclayton commented on #26507
@kubernetes/sig-api-machinery

[2016-05-29 16:39] smarterclayton commented on #26507
xref https://github.com/coreos/etcd/pull/5425

[2016-05-29 16:45] #25998 closed

[2016-05-29 17:48] lavalamp commented on #26472
This was my own bug forgetting to check dry-run. Fixed now. https://github.com/kubernetes/contrib/pull/1098

[2016-05-29 17:48] #26492 closed

[2016-05-29 17:49] #26472 closed

[2016-05-29 17:49] #26476 closed

[2016-05-29 17:49] #26483 closed

[2016-05-29 17:49] #26484 closed

[2016-05-29 17:49] #26485 closed

[2016-05-29 17:49] #26486 closed

[2016-05-29 18:54] sroze opened #26508 "Ingress with ClusterIP services"
I've setup some services and ingresses to try out the SSL termination. I had no problem at all with `LoadBalancer` and `NodePort` services as backend but it's not working at all with `ClusterIP` service.

Although the Ingress' backend is described as healthy, I get an HTTP error that do not come from my application.

[code]

The HTTP error is the following:
[code]

My question is quite simple: is

[2016-05-29 19:02] bprashanth commented on #26508
Not yet anyway

https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce#l7-load-balancing-on-kubernetes

[2016-05-29 19:02] #26508 closed

[2016-05-29 19:03] bprashanth commented on #26508
Sorry, to clarify, nodeport is a requirement of the GCE Ingress controller (and cloud controllers in general). "On-prem" controllers like the nginx ingress controllers work with clusterip: https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx

[2016-05-29 19:29] sroze commented on #26508
Thank you for the clarification @bprashanth.

[2016-05-29 19:37] k8s-merge-robot opened #26509 "[k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/17824/

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]

[2016-05-29 19:50] sdminonne commented on #23831
/sub

[2016-05-29 19:54] sdminonne commented on #24963
/sub

[2016-05-29 22:34] mikedanese commented on #23172
@aronchick the bootstrap api as we've discussed is phase 1.

[2016-05-30 01:18] #25585 closed

[2016-05-30 01:39] steve-ng commented on #26408
thanks, readiness probe will solve this!

[2016-05-30 01:39] #26408 closed

[2016-05-30 02:09] #26435 closed

[2016-05-30 02:11] jdef commented on #9260
xref https://github.com/mesosphere/universe/issues/348

On Fri, May 27, 2016 at 3:03 PM, jmheidly <notifications@github.com> wrote:

[2016-05-30 03:49] #25057 closed

[2016-05-30 06:22] wojtek-t opened #26511 "Node controller can evict healthy pods in large clusters few minutes after startup (failing load.go e2e test)"
There were a couple of flakes, that finished with the error like this one:
[code]

This particular error come from:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-kubemark-gce-scale/1183/

[2016-05-30 06:35] wojtek-t commented on #26511
I did some debugging of this particular run, and here are some logs from this run:

- Initially replication-controller successfully creates all 5 pods:
[code]

From now, let's focus on "load-small-rc-4196-ngemx" with logs.

- All of them are successfully picked up by scheduler and scheduled, e.g.:
[code]

- All of them are the successfully picked up by hollow-kubelets, and those hollow-kubelets st

[2016-05-30 06:39] nhlfr commented on #25403
I'm going to work on this issue and bring the support for retrieving pods by name from all namespaces - just FYI.

[2016-05-30 07:07] nyshadham commented on #22130
I have the same problem too. What did you guys do to fix this? I can run the api server fine by running docker command.. but I can't run it otherwise. Help?

[2016-05-30 07:11] gmarek commented on #26130
cc @lavalamp

[2016-05-30 07:13] workhardcc commented on #26412
"--v=99" is amazing! I can do everything what kubectl can do.
There're two ways to delete a label for pod
1.curl -k -v -XPATCH  -H "Accept: application/json, */*" -H "Content-Type: application/strategic-merge-patch+json"  http://10..11.1:8080/api/v1/namespaces/defalt/pods/all-flow-g5unw --data '{"metadata":{"labels":null}}'
2. curl -k -v -XPATCH  -H "Accept: application/json, */*" -H "Content-Type

[2016-05-30 07:17] ping035627 opened #26512 "About the Key features of 1.3, where can find the details？thanks"
About the Key features of 1.3, where can find the details？thanks

1.3 Key features
PetSet (improved support for stateful applications)
Ubernetes (cluster federation)
Scalability (supported cluster size)
Federated Testing (outside Google)

[2016-05-30 07:25] sttts commented on #26210
The verbose error message in the test script:
[code]

[2016-05-30 07:34] AdoHe commented on #26229
@ghodss @bgrant0607 I believe this is the same as #25585. This should be fixed #26418 is landed on HEAD.

[2016-05-30 07:53] AlbertoPeon commented on #26404
@dims We don't have so many nodes in our installation (currently we have ~15 machines, but the number is expected to grow up) to be sure how bad it is, but we can already see a peak of load in the nova servers.

IMHO, it's worrying the fact that there is no need for this frequency of calls (as the information is not very likely to change)

[2016-05-30 07:59] spxtr commented on #25940
Oh yes, sorry that's what I thought you meant. We should have them in two Jenkins jobs. Eventually we might want to pull the integration tests into their own job.

[2016-05-30 08:11] wojtek-t commented on #26511
It seems that in this particula run, node-controller removed 1855 different pods within the first 7 minutes of the test, and then stopped removing and the test continued to working smoothly after that.

It clear seems that we have some problems on startup here.

[2016-05-30 08:33] wojtek-t commented on #26511
We already have some hypothesis with @gmarek

It basically seems that allocateOrOccupyCIDR function in NodeController is long. Since this is called synchronously on "ADD node" watch events, this means that we are not processing the next watch event before the previous one is processed.

If that's true (@gmarek will confirm it), then we are simply removing pods that were scheduled on nodes, that we

[2016-05-30 08:47] xiaochunyn opened #26513 "How Webhook works, where can find the details? thanks"
1 Is webhook plugin stable?
2 How webhook works?
3 How can I use webhook and where can find detailed information.

Thank you very much!

[2016-05-30 08:51] king6cong commented on #22911
[code]

Same problem here, any ideas?

[2016-05-30 08:54] alml commented on #22911
@bgrant0607, could you please re-triage this bug. I'm not sure "team/ux" is the right tag for it - it doesn't have anything common with UX. It looks like a problem with some low-level container machinery. And given the number of +1's, maybe raise the priority? Thanks.

[2016-05-30 08:59] jsafrane commented on #26141
Something in PD attach/detach affects also 'Dynamic provisioning' e2e test, a PD is still attached to a node ~15 minutes after appropriate pod was deleted and thus deleter can't delete it.

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25881/kubernetes-pull-build-test-e2e-gce/42353/

[code]

From controller log:

[code]

[2016-05-30 09:19] #26041 closed

[2016-05-30 09:20] gitfred commented on #2049
ok I'll fix it

[2016-05-30 09:29] sttts commented on #23217
Any news about this work? I am referencing `PodSecurityPolicy` in my sysctl proposal #26057.

[2016-05-30 10:00] sttts commented on #26210
- The error message `Trying to reach: 'http://10.180.1.8:80` comes from `pkg/util/proxy/transport.go`'s `RoundTrip` extension, running in the apiserver, trying to connect to 10.180.1.8:80.
- It is surprising that the issue only happens with port 80, while port 160 works fine, even **before** port 80 fails!
- Returning an error (`EOF - Trying to reach`) in the `RoundTrip` object means that there wa

[2016-05-30 10:03] k8s-merge-robot opened #26514 "Container runtime Conformance Test container runtime conformance blackbox test when running a container with invalid image it should run with the expected status [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3591/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when running a container with invalid image it should run with the expected status [Conformance] {E2eNode Suite}

[code]

Previous issues for this test: #26277 #26426

[2016-05-30 10:12] jsafrane commented on #26345
Fixed by #26410, waiting for review

[2016-05-30 10:41] jsafrane commented on #26499
@caesarxuchao, I don't see any `TestPersistentVolumeMultiPVs` in referenced logs, can you please check the links?

[2016-05-30 10:48] j-vizcaino opened #26515 "hyperkube image is missing the 'conntrack' utility"
`kube-proxy` requires the `conntrack` binary but the binary is not available in `gcr.io/google_containers/hyperkube:v1.2.4`.

`conntrack` is provided by the `conntrack` Debian package.

[2016-05-30 11:02] k8s-merge-robot opened #26516 "Broken test run: kubelet-gce-e2e-ci - 3592 [5 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3592/

Multiple broken tests:

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that keeps running it should run with the expected status [Conformance] {E2eNode Suite}

[code]
Issues about this test specifically: #26280 #26429

Failed: Container runtime Conformance

[2016-05-30 11:20] sttts commented on #26424
I don't want to introduce another stream for the return code only. I would propose to switch the error stream protocol to json, e.g. `{message: "the old message string", code: 42}`. Looking at https://github.com/kubernetes/kubernetes/pull/25273 for resize events, it seems to be a good moment to add this with protocol v3.

Opinions @dims @ncdc ?

[2016-05-30 11:23] gmarek commented on #26511
It seems that assigning single CIDR to a Node can take ~0.3s. Virtually all time is used by sending an update and (possibly) re-getting the Node. I'm going to send a PR that moves this logic to the go routine.

[2016-05-30 12:04] #26241 closed

[2016-05-30 12:08] wojtek-t opened #26519 "e2e flake: tests are failing with "net/http: TLS handshake timeout" in large clusters"
We are running a standard e2e suite that we are running in gce-e2e in large 2000-node clusters now.

And on every run, we have few random tests failing with "net/http: TLS handshake timeout" error.

Examples:
[code]

or

[code]

@zmerlynn @gmarek @lavalamp @kubernetes/sig-api-machinery

[2016-05-30 12:11] agustincastanio opened #26521 "Nginx ingress controller: Failed to list *extensions.Ingress"
Hi, I am trying to get the [nginx controller example](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx) working but it keeps restarting because health checks fail.

**Environment details:**
[code]
[code]
[code]
Skydns is in place and working:
[code]
I can query ingress:
[code]
Results: [ingress.txt](https://github.com/kubernetes/contrib/files/287346/ingress.txt)

**Steps

[2016-05-30 12:17] dims commented on #26424
@sttts - just for error stream. yes, i think that would be good!

[2016-05-30 12:20] dims commented on #26404
@AlbertoPeon - agree. was trying to figure out where things should be cached.. sounds like this would be changes in the code that calls Nova/Cinder. But guessing that these calls are being made from many master/nodes at the same time and is tough to introduce a cache. right?

[2016-05-30 12:25] dshulyak commented on #26234
I would like to help with this bug.

[2016-05-30 12:27] luxas commented on #25730
@ixdy Any details how to setup a CI cluster? Is it possible to run the CI on top of an existing Kubernetes cluster. If it is, it would be awesome, as I've already got an arm cluster, and it isn't hard to setup at all.

I.e. is all CI testing dockerized and automated?

After #25972 is in, about 30% of the conformance tests are passing

I ran this against a [docker-multinode](https://github.com/kube

[2016-05-30 12:32] wojtek-t commented on #26507
+100

This would be highly useful (no matter what tracing mechanism we decide for).
We re currently using those very simple traces added in #8806, although over time we added them in multiple other places all over the code. And they are super useful in debugging performance issue.

[2016-05-30 12:42] AdoHe commented on #26234
@dshulyak that would be great. Thanks :)

[2016-05-30 12:42] Morriz opened #26525 "configmap example does not work"
The following example does not inject env vars for 1.2.2:

ConfigMap:
[code]
Pod:
[code]

The vars are empty

[2016-05-30 12:44] wojtek-t commented on #26519
@kubernetes/sig-scalability

[2016-05-30 12:47] johscheuer opened #26526 "Update API Reference script"
Hi,

there is a minor bug in the [hack/update-api-reference-docs.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/update-api-reference-docs.sh) script or at least some inconsistency. When I run the update script white spaces are ignores with the `-w`option [see line 98](https://github.com/kubernetes/kubernetes/blob/master/hack/update-api-reference-docs.sh#L98) but in the [verify scrip

[2016-05-30 12:54] #24236 closed

[2016-05-30 13:08] wojtek-t commented on #26511
It seems that we fully understand it now.

The plan to fix it is:
1. change the handler function in the informer to just queue things to process
2. have few workers that will be processing them in background

[2016-05-30 13:10] wojtek-t commented on #26519
BTW - we are far from being cpu-starved in those tests, so the issue is not lack of CPU (at least not at the master machine)

[2016-05-30 13:14] cdrage commented on #26444
Yeah... by design you're unable to pass `client-ca-file` to the hyperkube and hence not being able to enable TLS :(

[2016-05-30 13:15] cdrage commented on #26444
Unless the changes are to the apiserver manifest file?

[2016-05-30 13:17] wojtek-t commented on #26519
Also, in my opinion https://github.com/kubernetes/kubernetes/issues/15664 seems to be unrelated.= here.

[2016-05-30 13:17] vefimova commented on #6439
Hi, I'm working on this one

[2016-05-30 13:17] gmarek commented on #26511
Extending what @wojtek-t wrote - the reason behind this problem is client-side throttling in the controller. The fix @wojtek-t mentioned is only temporary and probably wouldn't be needed if we had a backpreassure mechanism. @timothysc

[2016-05-30 13:20] ladlavj opened #26527 "Unable to construct api.Node object for kubelet: failed to get external ID from cloud provider: Failed to find object"
This problem still persist, I am running kubelet v1.2.4 on `CoreOS 1053.2.0`, I refereed prior open/closed issues #20146 , #13556 and #15537.

I have Openstack setup with DB2.
I get API calls on openstack which has encoded characters `name=%5Enode%24` which causing issue.

[code]

I tried using curl too, that didn't work but; it did after removing %5E and %24 `name=node`.
Possibility can be that r

[2016-05-30 13:22] wojtek-t commented on #26511
Not really - client-side throttling become a problem when we actually just make the handle function start the go-routine with the current handler function. Currently, we don't have problem with client-throttling. So the problem now is just that the simplest possible fix doesn't work.

[2016-05-30 13:23] nebril commented on #25355
@jnardiello a question: when you get output from
./kubectl get nodes -o json
You have access to `root['items'][0]['status']['capacity']` and `root['items'][0]['status']['allocatable']`. Won't you be able to retrieve the data you need by subtracting allocatable from capacity?

[2016-05-30 13:27] ncdc commented on #26424
Yes that's what I had been thinking as well.

On Monday, May 30, 2016, Dr. Stefan Schimanski <notifications@github.com>
wrote:

[2016-05-30 13:29] ncdc commented on #26424
Do you want to bundle this in with my terminal resizing pull, or try to
maybe do it right set it merges?

On Monday, May 30, 2016, Andy Goldstein <agoldste@redhat.com> wrote:

[2016-05-30 13:32] jnardiello commented on #25355
Yes, what is missing is the critical info about `CPU Requests`, which is by no mean available in the `get`

[2016-05-30 13:36] smarterclayton commented on #26519
Did we turn on http2?  I thought there was a bug I saw recently in Go 1.6
about HTTP2 and not consuming an entire stream if you didn't read all the
way AND close() (or similar), which leads to more connections than normal.

On May 30, 2016, at 9:17 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

Also, in my opinion #15664
<https://github.com/kubernetes/kubernetes/issues/15664> seems to b

[2016-05-30 13:47] sttts commented on #26424
@ncdc working on it right now. Makes sense to put that on-top of your PR.

[2016-05-30 13:48] wojtek-t commented on #26519
Hmm - I think we didn't, but I'm not 100%.
@krousey @timothysc - did we enable http2 by default?

[2016-05-30 13:55] zefciu commented on #19163
Still looking at the code it seems that fallback in any case is a very deliberate behaviour. The `ConvertToVersion` will always try the default version last and fail only if the object is not convertible to this version. So I would need a strong confirmation that this behaviour doesn't have any purpose and that removing this fallback wouldn't break anything.

[2016-05-30 13:56] aledbf commented on #26521
@agustincastanio please add `--v=10` and post the logs (this level includes the output from the request to api server)

[2016-05-30 14:16] j-vizcaino commented on #26515
It seems the problem has been introduced with PR #22573: the `kubernetes/cluster/images/hyperkube/Dockerfile` file is missing `conntrack` in the `apt-get install` command

[2016-05-30 14:24] #24583 closed

[2016-05-30 14:30] gmarek commented on #26002
Fixed by #26054

[2016-05-30 14:30] #26002 closed

[2016-05-30 14:48] rhohubbuild opened #26532 "turn validation off with --validate=false"
my host OS ubuntu 16.04, i followed docs
1)http://kubernetes.io/docs/getting-started-guides/docker/
then
2) http://kubernetes.io/docs/getting-started-guides/docker-multinode/deployDNS/

i got error when i try this
3) user@host:~/kubernetes$ kubectl create -f ./skydns.yaml
error validating "./skydns.yaml": error validating data: [unexpected type: object, unexpected type: object, unexpected type: ob

[2016-05-30 14:53] gmarek commented on #23327
Fixed by #26415

[2016-05-30 14:53] #23327 closed

[2016-05-30 15:02] huang195 commented on #26419
@jdef I remember k8sm scheduler doesn't use spec.container.nodeName and instead it uses a pod annotation to mark a pod is scheduled. Is this the root cause of the problem seen here with these static pods?

[2016-05-30 15:18] agustincastanio commented on #26521
Yes, of course. See attached file.
[nginx_controller_v10.txt](https://github.com/kubernetes/kubernetes/files/289793/nginx_controller_v10.txt)

[2016-05-30 16:08] k8s-merge-robot opened #26536 "Broken test run: kubernetes-e2e-gke - 8088 [5 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/8088/

Multiple broken tests:

Failed: [k8s.io] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26191

Failed: [k8s.io] Networking should function for intra-pod communication [Conformance] {Kubernetes e2e suite}

[code]

Fa

[2016-05-30 16:28] aledbf commented on #26521
@agustincastanio `/apis/extensions/v1beta1/ingress` should returns 404 `/apis/extensions/v1beta1/ingresses` is the correct URI.
Can you update to 1.2.4?

[2016-05-30 16:31] dims commented on #26519
@wojtek-t looks like the http2 PR is still in "Open" state

[2016-05-30 16:33] bobintornado commented on #26246
Issue magically disappeared after using much more powerful machines. (2 core 7 GB with better throughput and IO, namely Azure Standard D2_v2, was Azure A1 Basic).

Could close the issue.

[2016-05-30 16:40] agustincastanio commented on #26521
I can't upgrade to v1.2.4 because I am using latest version of CentOS packages. Otherwise I would have to do a custom cluster installation which I prefer to avoid.

Is there any other way you could think of?

[2016-05-30 17:07] pskrzyns opened #26540 "rkt-coreos: can't create pod - invalid memory address or nil pointer dereference"
I'm trying to create nginx pod

[code]

But i see errors in kubelet logs

[code]

[2016-05-30 17:08] pskrzyns commented on #26540
cc @yifan-gu, @euank

[2016-05-30 17:24] wojtek-t commented on #26519
@dims - that one I know, but the question is whether Go 1.6 doesn't enable something features of it by default. That's something I'm not sure about. @krousey ?

[2016-05-30 17:26] wojtek-t commented on #26519
In particular, from release notes: https://golang.org/doc/go1.6
[code]

[2016-05-30 18:01] smarterclayton commented on #26519
I've seen bugs in the http2 stack around Close and http 1.0 No content
responses, or chunked encoding.  So it's possible that we're doing a lot
more tls handshakes than we expect, although I discount that somewhat
because I would expect pegged CPU on the master then.

On May 30, 2016, at 1:27 PM, Wojciech Tyczynski <notifications@github.com>
wrote:

In particular, from release notes: https://golan

[2016-05-30 18:06] smarterclayton commented on #24389
This is fixed.

[2016-05-30 18:06] #24389 closed

[2016-05-30 18:07] smarterclayton commented on #20309
Fixed now.  One last issue is that we have to copy all quantity maps when we do a conversion because we're using a per version key type which Go won't allow to be fast copied.  I'm going to replace this with a common `map[resource.Name]*resource.Quantity` type which gets us another 5-10% in decode path.

[2016-05-30 18:13] smarterclayton commented on #20309
Opened #26542

[2016-05-30 18:13] #20309 closed

[2016-05-30 18:21] aledbf commented on #26521
No without building a custom version of the Ingress controller (this requires an update to go dependencies and change some method signatures)

ping @bprashanth for ideas

[2016-05-30 18:24] agustincastanio commented on #26521
Thanks Alejandro, I am going to debate with my team which alternative we should choose.

[2016-05-30 18:24] #26521 closed

[2016-05-30 18:46] bprashanth commented on #26521
@agustincastanio how did you build your cluster?
The path was changed a long time ago (pre 1.1): https://groups.google.com/forum/#!msg/kubernetes-dev/n2fWmDirWCE/enFwY6gMEAAJ
I just downloaded the source from from https://github.com/kubernetes/kubernetes/releases/tag/v1.2.0 and
[code]

[2016-05-30 18:55] aledbf commented on #26521
This is not the final 1.2.0 version is an alpha: [1.2.0-alpha1](https://www.rpmfind.net/linux/RPM/centos/extras/7.2.1511/x86_64/Packages/kubernetes-1.2.0-0.9.alpha1.gitb57e8bd.el7.x86_64.html)

[2016-05-30 18:56] agustincastanio commented on #26521
@bprashanth I simply used:
[code]

[code]
apiserver is started with: --runtime-config=extensions/v1beta1"

[2016-05-30 19:04] wojtek-t commented on #24269
This is duplicate of #26511 - closing in favor of that one (which already has a PR fixing it in flight).

[2016-05-30 19:04] #24269 closed

[2016-05-30 19:42] k8s-merge-robot opened #26543 "Broken test run: kubernetes-e2e-gce-slow - 6139 [7 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/6139/

Multiple broken tests:

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26134

Failed: [k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically:

[2016-05-30 19:58] wojtek-t commented on #26345
There is also a very similar failure of the same test:
[code]
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/25913/kubernetes-pull-test-unit-integration/28154/build-log.txt

[2016-05-30 21:12] k8s-merge-robot opened #26544 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/7993/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

[2016-05-30 21:40] timothysc commented on #26519
The servers will have it enabled, but none of the clients will by default.

I've also changed my pull to default off and only option enable.

[2016-05-30 23:31] jmhodges opened #26545 "reference definitions refer to ".md" URLs instead of their canonical forms"
If you look at all the links in the "Definitions" sections in the Reference docs (e.g. the links in the descriptions of "type" and "clusterIP" in [ServiceSpec](http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_servicespec)), the links are broken because they refer to URLs with `.md` in them.

It would be nice for those links to be turned into the correct links (which all seem to mean jus

[2016-05-30 23:36] caesarxuchao commented on #26499
[latest .stdout](https://00e9e64bac65dc7ada0028a5ca5e3bab2965a1402914f2bbc4-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F26494%2Fkubernetes-pull-test-unit-integration%2F28438%2Fartifacts%2Fjunit_v1,extensions-v1beta1_20160529-204714.stdout?qk=AD5uMEs4qoZb2h3CRlSTAmM96d0rt8XB6X02iMxg9IBRebNBzIyyAJaHLAqtrjsA65beNrF79rSj5UWg84882zjacs3YxMgF4na5JiI

[2016-05-30 23:38] caesarxuchao commented on #26499
Also, this seems NOT to be a flake, it failed 3 times in a row after enabled the watch cache: https://github.com/kubernetes/kubernetes/pull/26494

[2016-05-31 00:30] asalkeld commented on #25382
I can implement this if no one else has started.

[2016-05-31 01:15] pweil- commented on #23217
@sttts the PSP admission controller has been merged.  The next step is the authorization of individuals for specific PSPs.  Your proposal should be ok with what is there now.

[2016-05-31 01:26] davidopp commented on #10781
ping @vishh -- has there been progress on documenting QoS? While you're working on your resource management uber-doc, it would probably be good to fold in some of the information [here]
(https://github.com/kubernetes/kubernetes/blob/cf6b3063b59f548c4567d7fc99c4c922c6aa5e1f/docs/design/resource-qos.md) into compute-resources.md just so people have some idea of how to use the different QoS levels.

[2016-05-31 01:29] dims commented on #26513
@xiaochunyn please see http://kubernetes.io/docs/admin/authorization/

[2016-05-31 02:14] xiaochunyn commented on #26513
@dims thank you for your answer, I have seen the page, you know the page didn't describe how webkook works clearly. Therefore, I want to know how webhook implements authorization and authentication, and the process of authorization and authentication, can you give me a detailed explanation. Thank you again!

[2016-05-31 02:32] dims commented on #26513
@xiaochunyn - For more details you have to look in the code and tests as mentioned in the page above.

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/webhook/webhook.go

[2016-05-31 02:43] xiaochunyn commented on #26513
@dims I have read "webhook.go" and related packages several days ago, I have not find how webhook works in detail, so I pulled a issue. Thank you very much.

[2016-05-31 02:49] bgrant0607 commented on #22911
@alml What problem does this cause for you?

[2016-05-31 02:56] GavinSong123 opened #26546 "deploy HDFS cluster with kubernetes + flannel can't work"
I use the Flannel network, and enable the dns service, then make the service and replication-controller templates with some ports exposed such as 8020, 50070 and so on. And the pods were provisioned by the replication-controller.

I configured the Namenode host by using Service name, for example, service name is namenode-svc, then the Namenode host is namenode-svc and fs.default.name=hdfs://nameno

[2016-05-31 03:10] king6cong commented on #22911
@alml
![image](https://cloud.githubusercontent.com/assets/302560/15662057/c3527bf4-271f-11e6-97dc-9ab4cd4f0152.png)

The error msgs will be a confuse to log/alert etc monitor infrastructures

[2016-05-31 03:11] resouer commented on #25603
@newtack Real live migration is heavily related to the underlying container runtime, I suggest you to keep eye open on [Hyper](http://hypercontainer.io/) integration work with Kubernetes, and also: #/25899

[2016-05-31 03:15] lvlv commented on #26546
In short, a hacky way to work around this is to use headless service, let
me know if you meet with further issues. :-)

Longer version, when you use service, the request will be handled by
kube-proxy, which will replace the source ip. The namenode will then get a
register request from the node ip instead of the pod ip, and reject it.

On Tue, May 31, 2016 at 10:56 AM, GavinSong123 <notifications@g

[2016-05-31 03:32] bgrant0607 commented on #20961
@chrislovecnm Has the v9 image been pushed? If not, @jeffmendoza should be able to help with that.

cc @kubernetes/examples

[2016-05-31 03:32] GavinSong123 commented on #26546
@lvlv What is headless service? Can you describe in detail? And..Er..Can you speak Chinese? :)

[2016-05-31 03:33] trizvanov commented on #23378
Has the issue been fixed ?
I am having exact same errors when trying to add an HPA to my application.

[2016-05-31 03:35] stevesloka opened #26547 "Cannot mount glusterfs"
I'm trying to get glusterfs running on my pi cluster. I have my cluster up and running ok, but when I try and mount a volume I get the following error:

[code]

When I check logs there's nothing there:

[code]

I do have the `glusterfs-client` installed and my cluster looks good:

[code]

Just to note as well, I can't mount via NFS either:

[code]

I'm running 1.2.0 currently, could upgrade to 1.3

[2016-05-31 03:37] bgrant0607 commented on #23252
@roberthbailey Server-side cascading deletion didn't make it into 1.3.

[2016-05-31 04:10] bgrant0607 commented on #20473
cc @kubernetes/docs

[2016-05-31 05:21] resouer commented on #25818
@smarterclayton Will init container exited after if finished it's job?

[2016-05-31 05:25] k8s-merge-robot opened #26548 "Broken test run: kubernetes-e2e-gke - 8128 [30 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/8128/

Multiple broken tests:

Failed: [k8s.io] Services should be able to up and down services {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26128

Failed: [k8s.io] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive {Kubernetes e2e suite}

[code]
Issues about this test s

[2016-05-31 05:36] bryk commented on #26191
Was this always flaky? Or recently started to flake? How can I check this?

This test was around for like a few months and didn't cause problems.

[2016-05-31 05:55] bgrant0607 commented on #25579
Node currently has only 3 columns. 3 more doesn't seem like a problem.

[2016-05-31 06:05] chrislovecnm commented on #20961
@bgrant0607 yep it is up ...

[2016-05-31 06:10] asalkeld commented on #25382
Some ideas for Services and Deployments

**Services**
Firstly ignore more advanced features as @deads2k suggested:
- clusterIP
-  (within the port definition) name and nodePort
- loadbalancerIP (not always available)

create service clusterIP <name>  [selector, ...] [port, ..] --externalIP=1.2.3.4
create service NodePort <name>  [selector, ...] [port, ..]
create service LoadBalancer <name> [select

[2016-05-31 06:11] bgrant0607 commented on #20961
Great. Closing in favor of more specific issues, then.

[2016-05-31 06:11] #20961 closed

[2016-05-31 06:18] sttts commented on #23217
@pweil- great @ admission controller. I guess some update of this issue (the check boxes above) is necessary? For the record: admission controller https://github.com/kubernetes/kubernetes/pull/24600

[2016-05-31 06:42] sttts opened #26549 "kubectl run --restart=Never does restarts"
[code]

I expect this to run the /bin/false once. Instead a job is created which restarts `/bin/false` until it succeeds (which it never does).

This way it is impossible to create real one-off tasks with `kubectl run`.

[2016-05-31 07:20] jsafrane commented on #25294
@spxtr, do you have any logs?

[2016-05-31 07:42] lvlv commented on #26546
You may find headless services at:
http://kubernetes.io/docs/user-guide/services/#headless-services

On Tue, May 31, 2016 at 11:33 AM, GavinSong123 <notifications@github.com>
wrote:

[2016-05-31 07:58] GavinSong123 commented on #26546
@lvlv Thank you! It has solved.

[2016-05-31 08:05] yangshuai93 commented on #26546
@lvlv  HDFS can work now, but I can't access from outside ( ip:port) . what's the problem ?

[2016-05-31 08:28] xiaochunyn opened #26552 "Under what circumstance will invoke "webhook" to implements authorization and authentication, and where can I find it in source code? Thanks"
1. I want to know when will invoke "webhook" or "ABAC" in source code.
2. For mode "webhook", what resources(eg. pods) can users perform what operation(create, delete)?
3. I want to know it clearly in source code.

Thank you !

[2016-05-31 08:58] piosz commented on #23591
The test failed in http://pr-test.k8s.io/26073/kubernetes-pull-build-test-e2e-gce/42616/build-log.txt

[2016-05-31 09:03] #26511 closed

[2016-05-31 09:33] alml commented on #22911
@bgrant0607 As I wrote before:

I have a 8-core laptop that can work ~ 4 hours on battery (enough for a mid-range flight). When I run Kubernetes cluster via hyperkube, it loads 15% of my CPU resources (more than 1 core!) in a tight loop draining my battery less than in hour.

[2016-05-31 09:36] AdoHe commented on #26549
seems dup of #24533

[2016-05-31 09:38] nhlfr commented on #25403
From what I see, it should be more an API change than only kubectl. Why? Because IMO the issue comes from the inconsistency between "get list" and "get the single element" actions in relation to namespace.

List operations:

* */api/v1/pods* - it gets the pods from the **all** namespaces - it's what `kubectl get --all-namespaces pods` calls
* */api/v1/namespaces/default/pods*  - it gets the pods f

[2016-05-31 09:39] sttts commented on #26549
@AdoHe thanks for the link. It's a duplicate.

[2016-05-31 09:39] #26549 closed

[2016-05-31 09:40] wojtek-t commented on #26519
@timothysc - thanks!

[2016-05-31 09:42] wojtek-t commented on #26519
@lavalamp @smarterclayton - do you think it makes sense to retry "handshake timeout" errors at the client layer? Exactly the same way we are retrying "Please try again later" errors?

[2016-05-31 09:50] kargakis commented on #25403
@kubernetes/kubectl is this something we want to fix? I don't see an issue here.

[2016-05-31 10:00] #25815 closed

[2016-05-31 11:22] dims commented on #26552
Duplicate of https://github.com/kubernetes/kubernetes/issues/26513 ?

[2016-05-31 11:59] earthIsAPrisonIfYouNotAwareItCanNotOut opened #26561 "one master can manage multiple zones work node?"
if so, where is the config file?

[2016-05-31 12:03] #26561 closed

[2016-05-31 12:21] deads2k commented on #25382
I like the proposal for the different types of services.  I'm a little unsure of `--externalIP`.  It takes some advanced configuration to set that up to work right.  Do you find people are using that instead of ingress?

I think that we might want a `--headless` flag for the clusterip service.  It's an immutable field that is used to by things that want to locate endpoints in DNS.

Do you prefer `

[2016-05-31 12:25] deads2k commented on #25382
More feedback about `--container` on deployments.  Is there a strong case for needing to specify the name or could you choose a reasonable format based on the image name?  Similarly, could ports be lifted from the image metadata if available or left blank otherwise?  Seems like the majority of users aren't likely to be changing the default ports on a simple command like this.

[2016-05-31 12:49] wojtek-t commented on #26519
Actually - now I think that this is related to crashing apiserver. Time when tests fail matches times of apiserver crashes.
I will file another issue.

[2016-05-31 12:53] wojtek-t opened #26563 "APIserver is crashing on high load in large clusters"
There are two modes of crashing:
- the first one I've seen 5 times today
- the second I've seen exactly once

[code]

[code]

@smarterclayton

[2016-05-31 12:58] wojtek-t commented on #26563
OK - so I think that the second error is exactly the same as the first one - this is also about annotations in a pod.
I will look into it.

[2016-05-31 13:07] lvlv commented on #26546
The client has to join the flannel network also, or you may use webhdfs
instead.

On Tue, May 31, 2016 at 4:06 PM, yangshuai93 <notifications@github.com>
wrote:

[2016-05-31 13:14] sttts commented on #24533
While https://github.com/kubernetes/kubernetes/pull/25253 fixes the issue @thockin brought up here, it still feels strange that the pod of `kubectl run --restart=Never -it <podname>` is not deleted after termination. What one ready wants IMO is a behavior like in `docker run -it <imagename>`, i.e. pods which are more ephemeral and go away when the kubectl terminal connection is closed.

[2016-05-31 13:25] earthIsAPrisonIfYouNotAwareItCanNotOut opened #26565 "how to get a aws work node and a vagrant work node?"
how to config it?

[2016-05-31 13:28] wojtek-t commented on #26519
Though, I don't have full logs to check it now. So I'm leaving this issue still open. But we definitely need to fix #26563 first.

[2016-05-31 13:33] yifan-gu commented on #26540
@pskrzyns What's in `kubelet/rkt/rkt.go:1144`?

[2016-05-31 13:35] ajohnstone opened #26566 "Kubernetes 1.2.4 - Incorrectly reporting KubeletHasSufficientDisk"
The kubernetes node has run out of space, however the cluster is reporting as having available disk space. The LastHeartbeatTime is up to date.

For full details: https://gist.github.com/ajohnstone/00d3e9da2b4329302d8972fa7419cc9e

[code]

The nodes filesystem usage, on /mnt/ephemeral is 100%.

[code]

The api data.

[code]

[2016-05-31 13:50] pskrzyns commented on #26540
@yifan-gu
[code]
i'm testing with kubernetes builded from master

[2016-05-31 13:57] timothysc commented on #24698
Just as a general note, I would still like to off-load events entirely out of the mainline path.

/cc @kubernetes/sig-scalability

[2016-05-31 14:19] huang195 commented on #26369
@derekwaynecarr friendly ping, any other suggestions?

[2016-05-31 14:24] lavalamp commented on #26507
Sounds like something that can & should be added to Context...

On Mon, May 30, 2016 at 5:32 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-05-31 14:26] dcbw commented on #26457
@davidopp it's a different problem.  Once I figured out how to fix #26197 I ran into this one.

[2016-05-31 14:29] lavalamp commented on #26563
Thanks for finding! This doesn't look like a scale issue-- it looks like the sort of issue where we need to be finding crashes automatically in test runs...

[2016-05-31 14:33] fgrzadkowski commented on #25966
@pwittrock To be honest I don't how this should be done. I've just noticed it doesn't work well with Jenkins :)

[2016-05-31 14:44] kargakis opened #26567 "Scheduling of pods with RWO volumes"
Since RWO volumes work only on a single host, wouldn't it be reasonable for the scheduler to schedule pods for a {RC,RS,D,etc.} that uses such a volume on the same node? Otherwise, pods that land on different nodes are essentially blocked. Deployments are the most affected since you can have a Deployment with just one pod and maxSurge=1 (which is actually the default currently) and with a RWO volu

[2016-05-31 14:45] kargakis commented on #26567
cc: @smarterclayton @deads2k

[2016-05-31 14:46] therc commented on #16775
Alpine 3.4  is happening as we speak:
http://git.alpinelinux.org/cgit/aports/patch/?id=00864455a5b1ef971280c32347288d7f6f14e5a1

[2016-05-31 14:49] fgrzadkowski commented on #26043
@wojtek-t Can you please explain how this is related with the pod condition change? The scenario that @hongchaodeng described could have happened before #24459

[2016-05-31 14:50] timothysc commented on #26385
I don't think we should be doing this.   You could be pulling in an update that is un-vetted and breaks your code.

[2016-05-31 14:52] IanLewis commented on #1615
Sharing of PID namespaces is also necessary to help drive a nail into the coffin for those crazy Docker startup scripts. A lot of Docker images on Docker hub use scripts or process managers like supervisord or foreman in each container when the same functionality should be handled by the environment (Kubernetes) and sidecar containers in pods w/ shared namespaces.

I don't think enough developers

[2016-05-31 14:53] stevesloka commented on #26547
I just upgraded to 1.3.0-alpha.4 and no change in either gluster mount or nfs mount. I am, however, able to mount NFS from the host linux system.

[2016-05-31 14:55] yifan-gu commented on #26117
fixed by #26117

[2016-05-31 14:55] #26117 closed

[2016-05-31 14:59] bgrant0607 commented on #26421
See also #22911
cc @kubernetes/sig-node @kubernetes/sig-storage

[2016-05-31 15:01] therc commented on #26376
And it happened again. I was trying to kill and restart fluentd because it got stuck once more.

[2016-05-31 15:03] zhouhaibing089 commented on #26552
I fell this should be post to stackoverflow, being more specific on your question would get answers more quickly.

they are plugins, and you may not run this plugins if it is not configured properly, but if you ask when does these plugins get called, you may take a look at https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/handlers.go#L482-L491

I think the comments at https://gith

[2016-05-31 15:05] zhouhaibing089 commented on #26532
I meet this issue before, and it is mostly because I am using an outdated `kubectl`.

[2016-05-31 15:08] bgrant0607 commented on #23417
@vishh @luxas Could we please document what is and is not expected to work at this point? Users are following the instructions and running into problems (e.g., #22911).

[2016-05-31 15:13] bgrant0607 commented on #25251
@timoreimann Maps in the API are: labels, annotations, resources, selectors, Secret and ConfigMap data, Flex volume source options

[2016-05-31 15:14] zhouhaibing089 commented on #26527
`%5E=^` and `%24=$`, and according to the code here: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L325, it seems the result is expected.

AFAIK, when you just provide the parameters as just `node`, `anode, nodeb` will be all returned if there is. I personally feel this issue comes from the openstack side, which version are you using?

[2016-05-31 15:16] wojtek-t commented on #26563
It's not scale issue per-se, but it seems that scale triggers it (i.e. I didn't see that in normal gce suite).

[2016-05-31 15:16] derekwaynecarr commented on #25909
The PR that fixes this issue was prematurely merged by the merge bot so re-opening.

[2016-05-31 15:24] zhouhaibing089 commented on #26527
Looks like it is related with DB2 according to the documentation here: http://developer.openstack.org/api-ref-compute-v2.1.html#listServers

Does DB2 supports this regular expression for query?

[2016-05-31 15:27] dkozma commented on #22534
It looks like @c4po took a shot at an experimental AWS upgrade script in #25680 , however I'm not sure if this works for just minions or the master as well (last thing I read was him waiting on a response regarding [public etcd discovery](https://github.com/kubernetes/kubernetes/pull/25680#issuecomment-220190555).

[2016-05-31 15:27] k8s-merge-robot opened #26569 "Broken test run: kubelet-gce-e2e-ci - 3662 [7 failures]"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3662/

Multiple broken tests:

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod forcibly deleted {E2eNode Suite}

[code]
Issues about this test specifically: #26281 #26294

Failed: PrivilegedPod should test privileged pod {E2eNode Suite}

[code]
Issues about this test specifically: #2

[2016-05-31 15:37] timoreimann commented on #25251
@bgrant0607 thanks. I'll go over the list and see what still needs to be done. Please let me know if you have a preference towards either covering everything as part of this issue or a new one (that I can create) instead.

[2016-05-31 15:45] smarterclayton commented on #25818
Yes, init containers are "run to completion" always.

On Tue, May 31, 2016 at 1:22 AM, harryz <notifications@github.com> wrote:

[2016-05-31 15:47] stevekuznetsov opened #26570 ""Calling Accessor on non-internal object" spams logs at an incredible rate"
Running conformance extended tests in Origin (unclear if this shows up as badly on normal operation, or in Kube alone), I'm seeing hundreds (100-400) of lines of this *per second*:
[code]

Seems to be a `V(4)` ... but perhaps should be rate-limited?

[2016-05-31 15:50] c4po commented on #22534
My script only works for minions.  For master node, it will be easy if we have HA master #23479 implemented first.

[2016-05-31 15:55] tobegit3hub commented on #11222
It works for me. Thanks @jk-shah 😃

[2016-05-31 16:04] whitlockjc commented on #24309
Is there ever a time when `type: any` would be expected to permit an array or a primitive to pass validation?  The reason I ask is because to me, `type: any` would allow any value to pass validation, including primitives, whereas `type: object` would allow any object value to pass validation _(regardless of its structure)_ but would fail on any type that is not an object, including arrays and prim

[2016-05-31 16:09] whitlockjc commented on #2968
Would it make sense to leverage the `format` feature of Swagger/JSON Schema?  A real date time in Swagger should be `{"type": "string", "format": "date-time"}` and most JSON Schema validators and Swagger tools will use this.  I'm not sure a `type: string` paints the full picture.

[2016-05-31 16:09] ingvagabund commented on #10934
So here we are. I have just launched the CI on github.com/kubernetes/kubernetes [1].
In short what is currently available:

- we use redhat-k8s-bot bot to trigger the CI, the CI is limited to PRs with "team/node" label
- all results/artifacts are uploaded to gs bucket
- we can run up to 4 CIs in parallel
- running unit tests, integration tests and test-cmd
- cluster deployed with ansible, cluster

[2016-05-31 16:10] ingvagabund commented on #10934
@timothysc I remember you had other tests in mind we could run in the CI. Can you recall?

[2016-05-31 16:11] pskrzyns commented on #26540
@yifan-gu
[code]

this looks strange (shouldn't there be cni or flannel ?)

[2016-05-31 16:32] ixdy commented on #10934
cc @kubernetes/sig-testing

[2016-05-31 16:48] pwittrock commented on #25966
No worries, I have this PR out to fix: #26461

[2016-05-31 16:50] ixdy commented on #26526
cc @caesarxuchao @nikhiljindal @spxtr

[2016-05-31 16:52] pwittrock commented on #26385
@timothysc I agree the 'go get' calls are sub-optimal.  I'll see what I can do to remove them.

[2016-05-31 17:02] mrhwick commented on #25620
Looks like the documentation has changed since I filed this issue, as the command I provided was taken directly from the documentation and it no longer provided there.

[2016-05-31 17:02] rothgar opened #26573 "kube-up provisioning fails with Vagrant provider"
VMs are created but during the provisioning steps dnf-plugins-core fails to install which I believe causes a cascade of other failures. I haven't yet made any changes to the salt states requiring this package (I haven't found the one I need yet)
Opening this issue to track the issue and maybe get help finding where to make the change.
[code]

[2016-05-31 17:11] axper commented on #23111
Please reopen, I am still having this issue with kubernetes 1.2.4.

[2016-05-31 17:17] caesarxuchao commented on #26425
Sure. I'm taking a look.

[2016-05-31 17:19] yujuhong commented on #23591
https://console.cloud.google.com/storage/kubernetes-jenkins/pr-logs/pull/26073/kubernetes-pull-build-test-e2e-gce/42616/

Apiserver received the request to delete the pod at 08:16:53, but kubelet only saw this update at 08:18:31.
apiserver:
[code]
kubelet:
[code]

To know why kubelet didn't process the deletion requests until much later, I checked the kubelet log during that window.
[code]
Kubelet

[2016-05-31 17:24] ladlavj commented on #26527
I am running openstack Kilo. not sure that db2 supports regex same as mysql, but it does. I am not sure about `^` and `$`

I found something here http://stackoverflow.com/questions/32603822/use-regexp-substr-in-db2

REGEXP_SUBSTR does not exist in DB2! The way to use regular expressions is with xquery (I already answered that question). What you can do is to wrap the xquery into a UDF in order to

[2016-05-31 17:27] timstclair commented on #24698
@timothysc - I don't understand your comment. This issue refers to events generated by cAdvisor from scanning the kernel logs. Were you referring to the same events?

[2016-05-31 17:30] isubuz commented on #25620
Seems like it. So maybe we can close this one.

[2016-05-31 17:34] yujuhong commented on #26495
We moved containerd to the docker cgroup in #26391, and the build started to fail (http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1376/)

I'll bump the memory limit now for docker 1.11.

[2016-05-31 17:41] mikedanese commented on #26376
cc @mqliang can you take a look?

[2016-05-31 17:50] timstclair commented on #26495
Thanks Yu-ju, this issue got lost in the noise for me.

[2016-05-31 17:51] janetkuo commented on #26509
@kubernetes/test-infra-admins the link https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/17824/ gives me
[code]

[2016-05-31 17:52] janetkuo commented on #26509
Correct link https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17824/

[2016-05-31 18:00] ihmccreery commented on #15131
#24014 has been merged; anyone who wants to test functionality across a cluster upgrade should be able to do so with relative ease.  I'd like to get more functionality in, but I'm not convinced that I'll be able to before the 1.3 branch.

[2016-05-31 18:03] bprashanth opened #26578 "unittest flake: TestControllerSync Warning ClaimLost Bound claim has lost its PV"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26335/kubernetes-pull-test-unit-integration/28566/artifacts/
[code]
@kubernetes/sig-storage @jsafrane please close if it's fixed by https://github.com/kubernetes/kubernetes/pull/26555

[2016-05-31 18:04] janetkuo commented on #26509
The error case:

- deployment status Replicas:4 UpdatedReplicas:4 AvailableReplicas:3 UnavailableReplicas:1
- old RSes: 0 replicas
- new RS: 4 replicas
- pods: 2 available, 2 unavailable (mismatch with deployment status)

[2016-05-31 18:09] yujuhong commented on #26544
/cc @kubernetes/sig-scalability

[2016-05-31 18:10] jmhodges opened #26579 "ingress user guide should mention that services need to be of the NodePort type"
It seems that Ingresses need the Services they connect to be of type NodePort, but this isn't documented in the [Ingress user guide](http://kubernetes.io/docs/user-guide/ingress/). At least, they do in Google Container Engine.

The "alternatives" section probably needs an update, too.

[2016-05-31 18:12] paralin commented on #260
@ncdc What's the status of the alpha code for this? I'd like to start testing / implementing. We need to deploy a cassandra cluster really soon here. I can do it with the existing codebase but it'd be nice to test out the petset stuff.

[2016-05-31 18:14] bprashanth commented on #260
You can get it if you build from HEAD

[2016-05-31 18:14] mikedanese commented on #26376
This is happening deep in the groupcache/stdlib list code. If this is not a bug in either of those and we are in fact misusing the groupcache api, we are likely missusing it in pkg/controller/lookup_cache.go.

cc @wojtek-t @lavalamp

[2016-05-31 18:15] mikedanese commented on #26376
@therc what version of golang are the binaries compiled with?

[2016-05-31 18:15] paralin commented on #260
@bprashanth merged into the main repo? great, thanks. will do.

[2016-05-31 18:15] timothysc commented on #19720
We're running into performance issues.

https://bugzilla.redhat.com/show_bug.cgi?id=1340518
https://bugzilla.redhat.com/show_bug.cgi?id=1340519

[2016-05-31 18:15] bprashanth commented on #260
https://github.com/kubernetes/contrib/tree/master/pets

[2016-05-31 18:17] caesarxuchao opened #26580 "[client-gen] Add patch methods to the clientset"
And we should support patch of subresources.

Example use cases include https://github.com/kubernetes/node-problem-detector/pull/11.

[2016-05-31 18:18] bprashanth commented on #26579
https://github.com/kubernetes/kubernetes/issues/26508

Node port is actually not a requirement of Ingress per-se, only on cloud providers. You can get more elaborate docs on the GCE ingress controller here: https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce

I'm planning to update docs before 1.3 anyway, will handle this bit of clarification when I do that

[2016-05-31 18:18] #26579 closed

[2016-05-31 18:18] bprashanth commented on #26447
https://github.com/kubernetes/kubernetes/issues/26579

[2016-05-31 18:21] paralin commented on #260
embedded yaml in annotation strings? oof, ouch :(. thanks though, will investigate making a cassandra set.

[2016-05-31 18:23] bprashanth commented on #260
that's json. It's an alpha feature added to a GA object (init containers in pods).
@chrislovecnm is working on Cassandra, might just want to wait him out.

[2016-05-31 18:23] yujuhong commented on #26464
We can add general image pulling tests and it's good in general, but I just wanted to point out that it's hard to reproduce flakes we encountered in the jenkins builds.

I've written a small go program using the docker-engine api client that we use in the kubelet to pull image concurrently. It pulled all the e2e test images and never failed in the 3 hours of the test.

[2016-05-31 18:30] therc commented on #26376
$ go version
go version go1.6 linux/amd64

[2016-05-31 18:32] nikhiljindal commented on #26436
Thanks for fixing this @colhom

[2016-05-31 18:32] #26436 closed

[2016-05-31 18:34] timothysc commented on #19801
closing, will re-open if we see again.

[2016-05-31 18:34] #19801 closed

[2016-05-31 18:34] janetkuo commented on #22719
Closing in favor of #26509

[2016-05-31 18:34] #22719 closed

[2016-05-31 18:36] nikhiljindal commented on #26434
Ref https://github.com/kubernetes/kubernetes/issues/25716

[2016-05-31 18:42] nikhiljindal commented on #25138
Doesnt seem to have flaked in ~month.
Closing. (Bot will anyway file a separate issue if it flakes again)

[2016-05-31 18:42] #25138 closed

[2016-05-31 18:44] #24533 closed

[2016-05-31 18:46] wojtek-t commented on #26544
The second run is just ridiculous - metrics are ~100x higher than they usually are - this had to be some GCE-related flake.

In the first one, it look something bad happened with either apiserver or nodes - I will take a look later this week.

[2016-05-31 18:54] stevesloka commented on #26547
Turns out my problem is that the kubelet is running as a container, when I run the binary, everything works fine.

[2016-05-31 18:54] #26547 closed

[2016-05-31 19:01] luxas commented on #26547
Yes, that's how it works. Running kubelet in docker is easy and _quite_ safe, but to access all features, kubelet have to be on host.

[2016-05-31 19:38] yujuhong opened #26584 "docker-containerd not in the docker-daemon cgroup"
I created a brand new gce e2e cluster this morning, and was surprised to see that the docker-containerd was running in the /system cgroup, while the docker daemon was correctly running in docker-daemon.

I restarted kubelet and everything was back to normal -- docker-containerd was running in docker-daemon. I am not sure if there was a race condition which prevented kubelet to move containerd alon

[2016-05-31 19:40] euank commented on #24677
I don't like that limitation. You'll end up with two writes, potentially on different filesystems. The former will be compressed and indexed, but the kubelet will not benefit from that work.

I think a more simple solution is to simply mandate each runtime provides a `GetLogs(GetLogOptions) -> (stderr, stdout)` method and then implement log volumes as an optional feature on top of that. In that ca

[2016-05-31 19:41] yujuhong commented on #19720
"operation timeout: context deadline exceeded" would only happen if a request takes over > 2 min.
@Random-Liu ran docker microbenchmark for docker v1.10 before IIRC, and didn't see any obvious problem.
@timothysc, did redhat see any performance issues when testing docker only (not with kubelet)?

[2016-05-31 19:53] vishh commented on #26584
There can be a race. But containerd should eventually be moved to the
`/docker-daemon` cgroup.

On Tue, May 31, 2016 at 12:39 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-05-31 19:54] timstclair commented on #26584
Do you see this error in the kubelet logs anywhere?
[code]

If the process failed to be moved into the docker group, the system function would pick it up, but I would expect it to be moved into the docker group later (the `ensureStateFunc` runs every minute)

[2016-05-31 20:00] smarterclayton commented on #24677
I don't know that I'd consider the logging volume to be primarily targeted
at consumers - why would we assume that the format of what gets written to
that volume is known / standardized?  If logging hasn't converged on a
standard format in the last 20 years, I don't see us converging on that
here.

I would assume logging volume consumers would need to be aware of the
potential formats written, but

[2016-05-31 20:03] saad-ali commented on #26567
CC @kubernetes/sig-storage

I'd argue that's working as intended. Volumes that prohibit multi-node access usually don't handle multi-writer scenarios well so I don't think we should do anything extra to try and support multiple pods mounting an RWO volume.

[2016-05-31 20:08] nikhiljindal commented on #26513
cc @cjcullen @erictune

[2016-05-31 20:08] vishh opened #26587 "Allow node e2e base images to exist in different GCE projects"
As of now we create a lot of base images for the GCE VMs that we spin up for node e2e. These images are duplicated in two different GCE projects for the purposes of CI.

Instead, we can have the node e2e framework spin up VMs from non-local projects. That way, we can avoid duplication and also let the community contribute images that needs to be included in the node e2e CI.

[2016-05-31 20:09] vishh commented on #26587
cc @derekwaynecarr This feature will make it straightforward to update existing test images and add new images.

[2016-05-31 20:10] euank commented on #24677
There's discussion of things like log rotation which are impossible to do without the kubelet understanding the format in question. Maybe rotation will only be supported for a subset of formats?

[2016-05-31 20:12] derekwaynecarr commented on #26587
@vishh - is this being done prior to 1.3?

[2016-05-31 20:12] esthermofet commented on #26292
Might I ask for some extra help troubleshooting through this, please?

Also, just to clarify, for us this isn't so much a case where we want a pod to reach its own service address but instead of a node needing to reach the service address of a pod it hosts. Specifically, kube-dns, but in general it could be any service backed by a single pod.

We're on CentOS 7: Linux loadbalancer-i-e710ec61.john.

[2016-05-31 20:15] tkatarki commented on #24677
Log rotation should be done by the underlying host or other agents on the host. I don't know if Kube logging should worry about that.

[2016-05-31 20:19] vishh commented on #26587
I can't think of a reason not to do it prior to v1.3, given that most of
the contributors are focused on tests as of now.

On Tue, May 31, 2016 at 1:12 PM, Derek Carr <notifications@github.com>
wrote:

[2016-05-31 20:20] Random-Liu commented on #19720
@timothysc @yujuhong We only run benchmark for docker 1.9 before, because we finally decided to go with 1.9 at that time. https://github.com/kubernetes/kubernetes/issues/19720#issuecomment-180540430

[2016-05-31 20:25] #23663 closed

[2016-05-31 20:27] derekwaynecarr commented on #26369
I understand the rationale behind the request.  For background, in our OpenShift v2 product we had a similar concept with what we called gear sizes, but with the move to Kubernetes in our v3 solution, we have not built a similar concept yet.

As for things to think about:

* does a cluster-admin define container-shapes globally or per namespace?
* how would this integrate if we ever add a vertical

[2016-05-31 20:31] derekwaynecarr commented on #25251
I think this one issue is fine to track.  The current work handled resources.  If you want to put a task list on the issue to track that is fine too.

[2016-05-31 20:35] vrobert78 commented on #25257
We are facing the same problem on GKE.
On a scale down, if the evited node contains kube-dns container, the service discovery seems to be unavailable until it will be fully restarted on another node.

Our apps become unavailable, nginx can't connect to phpfpm:

nginx: [emerg] host not found in upstream

[2016-05-31 20:39] kargakis commented on #24533
I think I would want the pod around in case of failure. Agreed we should remove it in case of a clean exit.

[2016-05-31 20:40] yujuhong commented on #19720
@Random-Liu my bad. I thought we did that.

[2016-05-31 20:43] derekparker opened #26590 "Unable to get Pod IP from downward API when kubelet cannot contact API server"
When a kubelet is not in standalone mode, and attempts to start a static pod with host networking, and the kubelet is unable to contact an API server, it is unable to get the host IP from the node information. Essentially, in `Kubelet.GetNode` it will return `kl.initialNodeStatus` if the kubelet is in standalone mode, if not it attempts to get that information from the `CachedNodeInfo`, which it a

[2016-05-31 20:44] timothysc commented on #24698
@timstclair ohh... I was referring to kubernetes events.

[2016-05-31 20:51] yujuhong commented on #26584
I didn't see the warning message, but I could've missed it.
The cluster was up for ~20min, so the race should've been self-corrected, but I didn't see that.

I'm recreating a cluster to see if it'd happen again. If not, I'll just close the issue.

[2016-05-31 20:51] janetkuo commented on #26505
Might be related to #26425

cc @caesarxuchao

[2016-05-31 20:52] timstclair commented on #24698
Ok, makes sense. This should have no effect on kubernetes events.

[2016-05-31 20:57] janetkuo opened #26591 "Pointers of structs can't be printed with %+v anymore"
I remember this worked before, but now printing pointer of kubernetes objects with `%+v` becomes useless (which affected lots of logs).

[code]

[code]

Changing `%+v` to `%#v`, or de-reference the pointer when using `%+v` would work.

[2016-05-31 21:05] chrislovecnm commented on #260
@paralin here is what I am working on. No time to document and get it into k8s repo now, but that is long term plan. https://github.com/k8s-for-greeks/gpmr/tree/master/pet-race-devops/k8s/cassandra Is working for me locally, on HEAD.

Latest C* image in the demo works well.

We do have issue open for more documentation. Wink wink, knudge @bprashanth

[2016-05-31 21:05] saad-ali commented on #26421
Assigning #26421 #25056 #22911 (all seem related--secret volume tear down issues with hyperkube) to @jingxu97 for investigation.

[2016-05-31 21:06] saad-ali commented on #25056
Assigning #26421 #25056 #22911 (all seem related--secret volume tear down issues with hyperkube) to @jingxu97 for investigation.

[2016-05-31 21:06] saad-ali commented on #22911
Assigning #26421 #25056 #22911 (all seem related--secret volume tear down issues with hyperkube) to @jingxu97 for investigation.

[2016-05-31 21:11] yujuhong commented on #26584
Created a new cluster and saw the same thing. No warnings or errors.

kubelet has been up for ~10 minutes.

[code]

[2016-05-31 21:12] vishh commented on #24677
@dcowden @smarterclayton @euank

This is not necessary. The primary goal is to let kubelet manage disk usage of containers. That is the reason for having containers log to files directly, either through stdout/stderr or to files inside of logging volumes.
Kubelet's goal is to manage lifecycle of these log files and control their disk footprint and access rate.
Kubelet does not care about the data

[2016-05-31 21:20] timstclair commented on #26584
Hmm, thanks. I'll look into this shortly.

[2016-05-31 21:23] yujuhong commented on #26590
ref: #6558

[2016-05-31 21:27] yujuhong commented on #26584
Wait...let me run `make clean` and build again. It's possible that my cluster was using the old artifacts.

[2016-05-31 21:31] vishh commented on #24677
@portante

Volumes are storage directories. Containers are expected to create files inside these special directories.

Logging volumes are per pod. Look [here](https://github.com/kubernetes/kubernetes/pull/13010#issuecomment-139818337) for the sketch of the API.

Yes. Kube will setup a logging volume similar to how it sets up other volumes.

Would it be possible to run `syslogd` as a side-car cont

[2016-05-31 21:38] richm commented on #24677
with respect to journald - If using journald as the log driver (e.g. docker `--log-driver=journald`) then why not let journald handle the persistence, rotation, etc. and avoid having k8s and its operator managing a logging volume per pod?

[2016-05-31 21:41] ixdy commented on #26509
@lavalamp it seems the flake munger is using an incorrect URL - the storage.googleapis.com URL only works for objects, not directories.

Unfortunately, based on the [comment immediately before it](https://github.com/kubernetes/contrib/blob/8fe23e64acdcc4be92948dd717f49962d30a33e6/mungegithub/mungers/flake-manager.go#L143-L151), fixing this is probably nontrivial since the URL is used as a key.

[2016-05-31 21:41] tomdee commented on #20391
I don't think it's right that flannel does an ACCEPT. A much better option would be a RETURN. As @thockin points out above that could be an issue if the default for the POSTROUTING table was DROP but as far as I understand it that would be an extremely strange thing to do.

I'm going to put up a PR for flannel to change ACCEPT to RETURN and that should resolve this bug.

[2016-05-31 21:42] tkatarki commented on #24677
@vishh thanks for your explanations. And for your patience. I am new to this thread and trying to make sense of all the existing discussion. So is the "log volume" proposal/solution primarily targeted for a use case so that an application running inside a container can send log data to persistent volume on the k8s host without having to use the stdout/stderr method? And this is needed because appl

[2016-05-31 21:49] dims commented on #26563
@wojtek-t the first one seems to be concurrent map write:
https://github.com/golang/go/blob/release-branch.go1.6/src/runtime/hashmap.go#L559

The second one is concurrent read and write:
https://github.com/golang/go/blob/release-branch.go1.6/src/runtime/hashmap_fast.go#L202

[2016-05-31 22:03] remh commented on #15169
Hey everyone.

One workaround is to expose the dogstatsd port to the host itself.
And then use mechanisms to retrieve the IP of the host.

It's something that got implemented in the python dogstatsd client:
https://github.com/DataDog/datadogpy/pull/134

It will use the default router which should be the kubernetes host. Let me know if that helps

[2016-05-31 22:08] martynd commented on #20391
Perhaps it could use ACCEPT/RETURN based on the default policy? Probably a better fit that way.

[2016-05-31 22:12] jdef commented on #26419
your intuition is likely correct. any chance that you can run the bootstrap
kubelet in run-once mode, or at least without specifying --api-servers?

On Mon, May 30, 2016 at 11:03 AM, Hai Huang <notifications@github.com>
wrote:

[2016-05-31 22:14] ihmccreery opened #26594 "v1.2 "Kubectl client Simple pod should support port-forward" hanging when run with v1.3 Kubectl"
[code]

Repro:

[code]

My guess is just that this test just isn't resilient to empty output.  Then there's the separate issue of actually fixing the root problem.

[2016-05-31 22:14] Random-Liu commented on #19720
@yujuhong The VM hung with 100% cpu usage during benchmark running...I can't access the VM now. May have to create a new environment now.

[2016-05-31 22:16] spxtr commented on #25294
It hasn't flaked since your fix went in, but we should keep the issue open until it's moved out of the flaky suite.

[2016-05-31 22:18] #26495 closed

[2016-05-31 22:24] bensigelman commented on #26507
From the OpenTracing side, we would be glad to help... please be in touch with me or other on the OT Gitter/etc. Thanks!

[2016-05-31 22:27] ihmccreery commented on #26594
This looks like a result of #17030.  That PR has a `release-note` label, so this is a (breaking) change we'll notify users about.  I just have to figure out how we want to rig the test to be okay.

[2016-05-31 22:48] caesarxuchao commented on #26425
Probably it's caused by a race with e2e/test/thirdparty.go.
a few lines after the kubectl test listing all the pods, server log show a 404:
[code]
[Here]((https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/helpers.go#L492-L540)) is the related code in kubectl. When the factory discovers the group versions, it sees the `company/v1`, but then the group is deleted by the thirdp

[2016-05-31 22:53] janetkuo commented on #26425
cc @brendanburns

[2016-05-31 22:56] yujuhong commented on #26584
My mistake. Sorry. Closing the issue.

[2016-05-31 22:56] #26584 closed

[2016-05-31 22:57] caesarxuchao commented on #26425
Perhaps we should ignore the 404 [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/helpers.go#L519), because such a race can occur  in production environment as well.

[2016-05-31 22:59] asalkeld commented on #25382
Great feedback @deads2k , definitely less options on a command set that is supposed to be easy to use is the way to go (we can always add an option later if needed).

1. I'll drop the labels and only add the name as a label (so if you create the service and deployment with the same name it should work).
2. I'll drop --externalIP
3. I'll add --headless
4. the --container=image seems doable to me..

[2016-05-31 23:13] ihmccreery commented on #26594
Hm.  Even using stdout instead of stderr, I still see:

[code]

[2016-05-31 23:14] ptarpan commented on #26368
As an alternative, can a private IP instead of EIP be used to at least bring up the cluster? Considering the shortage of IPv4 addresses, I am trying to avoid EIPs altogether.

[2016-05-31 23:35] caesarxuchao commented on #26505
The e2e test is too old, the log is already removed from the storage.

Judging by the symptoms, perhaps it will be fixed by https://github.com/kubernetes/kubernetes/pull/26597.

[2016-05-31 23:37] #25778 closed

[2016-05-31 23:39] soltysh commented on #24533
@stts but after doing `docker run ...` you still have the docker container there, do `docker ps -a` to see it. You're talking about `docker run --rm ...` here, which is handled by the GC in k8s.

[2016-05-31 23:42] mml commented on #23972
This was off my radar, but I'll pick it up now.  It's an ugly stopgap, but in that regard it will fit in well with its sibling ugly stopgaps, `--force` and `--ignore-daemonsets`.

The simplest thing is to make `--force` also toggle this behavior, but that would change behavior in a potentially surprising way on rollback, so I'll add a new flag `--delete-local-data`, which will default to false.

[2016-05-31 23:44] caesarxuchao commented on #26324
This could be caused by https://github.com/kubernetes/kubernetes/pull/26597.

It match all the symptoms:

1. the test is calling kubectl
2. error message is Error from server: the server could not find the requested resource
3. in the apiserver log, you should see GET /apis/company.com/v1: (518.944µs) 404 [[kubectl/v1.3.0 (linux/amd64) kubernetes/ae28564] 104.154.110.118:46043]

[2016-05-31 23:53] zmerlynn opened #26600 ""SSH should SSH to all nodes and run commands" takes a ridiculous amount of time on large clusters"
On 2k nodes, this test took 53m. We should either do it in batches of nodes, or just subsample the nodes.

[2016-05-31 23:53] caesarxuchao commented on #26139
The last failure reported by the merge bot is probably caused by https://github.com/kubernetes/kubernetes/pull/26597.

[2016-05-31 23:56] zmerlynn commented on #26600
And it probably doesn't need to test 4 different variant command sets against all of the nodes, either. :P

[2016-06-01 00:00] dcbw commented on #26457
This may actually be fixed by the recently merged 08385b2c5fabb033b202a9fc79b72950856c3ae6.  I'll double-check and close if it is.

[2016-06-01 00:09] arun-gupta opened #26601 "Shutting down a Kubernetes cluster does not delete Resource Group"
Kubernetes 1.2.4, shutting down a cluster running on Azure shows the following message:

[code]

The resource group need to be explicitly removed.

[2016-06-01 00:11] arun-gupta commented on #26601
@colemickens

[2016-06-01 00:14] mml commented on #23972
A quick note on the defaulting behavior.  Defaulting to false is nice because users get maximum protection from mistakes by default, but if a user relies on the default value, their script will stop giving them that protection on rollback.

Users calling this from another tool who **need** this behavior should be explicit with `--delete-local-data=false`, which will blow up in the event we someday

[2016-06-01 00:26] timoreimann commented on #25251
@bgrant0607 @derekwaynecarr I updated the issue title and description to better reflect the broader scope of the ticket.

Will continue to work on the individual bits and pieces.

[2016-06-01 00:27] zmerlynn commented on #26600
@wojtek-t: When you asked me about the 2k node test, this was the test that was running. I'm not sure why other tests weren't also running in parallel or if this was just the final long pole, but it's a beastly test. PR incoming.

[2016-06-01 00:48] ghodss opened #26606 "Webhook authorizer should log an error to apiserver log if response is malformed"
Today I set up an apiserver with `--authorization-mode=Webhook,ABAC` and (accidentally) pointed the webhook at an endpoint that did not return a proper `SubjectAccessReview` object. The apiserver seemed to send the request payload to the server, ignore the incorrect response then move on to the ABAC authorizer. I would expect to see an error in the apiserver logs about this, but I did not see one.

[2016-06-01 00:56] bprashanth commented on #26239
https://github.com/kubernetes/kubernetes/pull/26335

[2016-06-01 00:56] #26239 closed

[2016-06-01 01:03] freehan commented on #26292
@esthermofet

How did your run kubelet? `ps aux|grep kubelet`

Can you provide the output of following commands on the node?

`ip route`

`cat /sys/devices/virtual/net/*/brport/hairpin_mode`

`ip link show`

[2016-06-01 01:17] zhouhaibing089 commented on #26527
Yes, you could try to fix this.

[2016-06-01 01:59] mfanjie opened #26608 "Make clientset of federation controllers identical"
@nikhiljindal there are two controllers in federation for v1.3, however the clientset of cluster controller and service controller are different so I open this issue to discuss with you how to keep them identical.
1. The versioned clientset kept broken before I merged service controller, like watcher always get a unversioned object so the type assertion is always failed, so after checking with cae

[2016-06-01 02:07] timstclair opened #26609 "Port downward API e2e test to node e2e"
Test should be ported to the node-e2e suite: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/downward_api.go#L30

[2016-06-01 02:07] mikedanese commented on #26578
This is failing a bunch

[2016-06-01 02:16] mikedanese commented on #26578
I've seen similar test failures waiting on events in other controller tests so i'll point out that events are generated async:

https://github.com/kubernetes/kubernetes/blob/master/pkg/client/record/event.go#L272

I have no idea if this is the root cause but it doesn't seem to be accounted for in framework_test.go.

[2016-06-01 02:18] #18127 closed

[2016-06-01 02:22] mikedanese commented on #26468
Looks like this is in the wrong repo

[2016-06-01 02:22] #26468 closed

[2016-06-01 02:33] mikedanese commented on #26569
@kubernetes/goog-node

[2016-06-01 02:34] mikedanese commented on #26482
@kubernetes/goog-node

[2016-06-01 02:34] mikedanese commented on #26473
@kubernetes/goog-node

[2016-06-01 03:03] vishh commented on #24677
@richm If you read through this issue, I hope it is clear why `journald` is not an ideal solution.
I'm not advocating for not using `journald` at all. All that I'm suggesting is that, given today's journald, it is better to have container logs sent directly to disk. That said, k8s will not prevent users from customizing their setup. So if a user wants to use journald and does not care about the ex

[2016-06-01 03:26] mdshuai opened #26610 "Seccomp annotations name format need redefine"
Now pod annotations validation only allow no more than one slash. But seccomp annotations format has more than one slash. like: security.alpha.kubernetes.io/seccomp/container/<container name>
https://github.com/kubernetes/kubernetes/blob/master/docs/design/seccomp.md#api-changes

When create a pod with  seccomp annotations, it will error.
[code]
which is caused by name validation. (more than one s

[2016-06-01 03:27] mdshuai commented on #26610
@ncdc @pmorie

[2016-06-01 05:01] wojtek-t commented on #26563
@dims - we have stack traces, so we basically know what it is...

[2016-06-01 05:25] sttts commented on #26610
It's not only the slash which might lead to conflicts, but also the length. The container `name` field is a DNS_LABEL (https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L40) with up to 63 characters. The same limit applies to the string right to the / in the annotation key.

Moving everything other than the container name to the left of the / should help.

[2016-06-01 05:31] wojtek-t commented on #26600
@zmerlynn - thanks for looking into it. THe PR is already lgtm-ed by me.

[2016-06-01 05:34] xiaochunyn commented on #26552
@zhouhaibing089 thank you very much for your answer, which helps me a lot !

[2016-06-01 05:37] k8s-merge-robot opened #26614 "Broken test run: kubernetes-e2e-gke - 8201 [4 failures]"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/8201/

Multiple broken tests:

Failed: [k8s.io] ServiceAccounts should ensure a single API token exists {Kubernetes e2e suite}

[code]

Failed: [k8s.io] EmptyDir volumes should support (root,0644,default) [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Proxy version v1 should proxy to cadvisor using proxy subr

[2016-06-01 06:02] sttts commented on #24533
@soltysh it would be nice to have a way to use random pod names plus the `--rm` behavor you mention. When does the GC kick in and in which component does it run? In my tests yesterday I saw pods 20 minutes old.

[2016-06-01 06:09] AdoHe commented on #25818
@smarterclayton IIUC when the init containers of pod have not complete, the pod should be in `Pending` status, which means `kubectl exec` will fail, if init containers run to completion, they will exit, `kubectl exec` still fail. I don't know what you mean exec should work on init containers?

[2016-06-01 06:57] mikedanese commented on #26591
did this change between golang versions?

[2016-06-01 06:57] mikedanese commented on #26573
cc @derekwaynecarr

[2016-06-01 06:58] mikedanese commented on #26545
cc @johndmulhausen

[2016-06-01 07:00] mikedanese commented on #26525
cc @pmorie

[2016-06-01 07:01] mikedanese commented on #26481
cc @luxas

[2016-06-01 07:02] #26425 closed

[2016-06-01 07:04] mikedanese commented on #26507
grpc will have census but it's a WIP.

https://github.com/grpc/grpc/blob/master/src/core/ext/census/README.md

[2016-06-01 07:09] mikedanese commented on #26369
This seems like it could be very easily solved in a configuration management system that sits on top of k8s. I don't see a strong reason to include this.

[2016-06-01 07:47] sjpotter opened #26616 "heapster wasn't update to beta2 for gce/coreos"
So HPA is broken as HPA depends on new metrics API that is only available with beta2.

[2016-06-01 08:16] sttts commented on #24533
Answering my own question, https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/garbage-collection.md is the midterm answer (currently alpha). It will collect pods after 12500 terminated pods exist, a pretty high number and it is not deterministic for a user when his pods are deleted. Hence, something like this without an explicit name would be great:
[code]

[2016-06-01 08:23] jsafrane commented on #26578
Indeed, the unit test stopped stopped recording events too early. Fixed in #26619.

[2016-06-01 08:37] #26600 closed

[2016-06-01 08:46] workhardcc commented on #10297
big help for me

[2016-06-01 08:47] kayrus commented on #15108
Confirmed. With new k8s 1.2.x you have to replace `--register-node=false` option with the `--register-node=true --register-schedulable=false`

[2016-06-01 08:47] #15108 closed

[2016-06-01 08:56] liyimeng opened #26620 "Failed to run hyperkube is 3rd party registry is used when building"
To build a dev version of hyperkube with 3rd party using command like:

KUBE_DOCKER_REGISTRY=localhost:5000 KUBE_DOCKER_OWNER=liyi KUBE_DOCKER_VERSION=1.3.0-kolla ./hack/dev-push-hyperkube.sh
Will result in unusable images.
The reason is that static pods in hyperkube did not point to the third party registry.

[2016-06-01 09:25] #25129 closed

[2016-06-01 09:51] aeneaswiener commented on #20096
It looks like PR #21326 (Put the container bridge in promiscuous mode.) is causing issue #25793 (Duplication of packets seen in bridge-promiscuous mode when accessing a pod on the same node through service ip.)

We are affected by this issue of duplicated UDP packets (running on GCE.) Is there a workaround on / will there be one in future?

[2016-06-01 10:05] zhulinhong commented on #24255
UP
Is there a schedule to add this feature ? We also pay attention to this.
THX. @saad-ali

[2016-06-01 10:06] resouer commented on #25231
Isn't this can be fix by moving `kl.statusManager.SetPodStatus()` to a separate function? Or I missed something ...

[2016-06-01 10:23] dims commented on #26563
@wojtek-t thanks for your patience with my n00b observations:)

[2016-06-01 10:42] eax opened #26623 "Error on create_cluster w/ vagrant on MacOSX"
Hi,

I'm trying to run `curl -sS https://get.k8s.io | bash` with `KUBERNETES_PROVIDER=vagrant` , but I'm getting errors during installation of some packages in Fedora VM both in master and node-1

Here's the output for master (node-1's output is almost identical, so not pasting here). I'm using **10.10.5 Yosemite, vagrant 1.8.1, virtualbox 5.0.12**

... calling verify-prereqs
... calling kube-up
B

[2016-06-01 11:03] wojtek-t commented on #26544
So unfortunately, we don't have any logs from that run, so we can't debug it further.

But we have thousands of logs like this one:
"May 30 13:58:07.305: INFO: Error while reading data from e2e-scalability-minion-group-gs4m: Unable to get server version: Get https://104.197.116.46/version: dial tcp 104.197.116.46:443: i/o timeout"

which suggests that something bad happened to apiserver.

My stron

[2016-06-01 11:03] #26544 closed

[2016-06-01 11:13] wojtek-t commented on #26185
So all those "resource"-related issues are fixed now.

The remaining part is "There should be no high-latency requests" errors.

[2016-06-01 11:58] gmarek opened #26626 "static pods timeout on image pulling during cluster bringup"
A few snaphosts from kubelet logs on problematic node from http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-large-cluster/31

[code]
(Roughly 1MB/min)

[code]

cc @wojtek-t @zmerlynn @kubernetes/goog-node @dchen1107

[2016-06-01 12:04] earthIsAPrisonIfYouNotAwareItCanNotOut opened #26627 "may I deploy master locally and many distributed work such as a vm or a aws vpc in a cluster?"
It make me like a FOOLISH.

[2016-06-01 12:05] gmarek opened #26628 "e2e flake: Generated release_1_3 clientset [It] should create pods, delete pods, watch pods"
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/26622/kubernetes-pull-build-test-e2e-gce/42787/build-log.txt

[code]

it seems that API server were unresponsive for some time. cc @lavalamp

[2016-06-01 12:19] zmerlynn commented on #26626
cc @mattmoor

[2016-06-01 12:37] earthIsAPrisonIfYouNotAwareItCanNotOut opened #26630 "the docker-mutinode worker.sh output a 'no such file or directory' error"
# I have run the script in two place and get same result.

## vagrant virtualbox
- os : ubuntu 14.04
- docker version : 1.11.1

## aws ec2
- os : aws linux t2.micro
- docker version : 1.9.1

the same output :

new to kubernetes , so just have a try , do not make fun of me.

[2016-06-01 12:58] deads2k commented on #25382
That's a good point.  Maybe allow both `tcp=1234` and `tcp=1234=4321`?  I think that people just starting aren't likely to skew them, but something like that syntax keeps the easy case easy and keeps the slightly more complicated case reasonable.

[2016-06-01 13:02] dcbw commented on #26457
Yeah, should be fixed by #26054.

[2016-06-01 13:02] #26457 closed

[2016-06-01 13:06] ncdc commented on #26610
@sttts @pmorie who wants to fix this? 😄

[2016-06-01 13:11] sttts commented on #26610
I can do that tomorrow (if @pmorie doesn't insist to do it himself before ;) )

[2016-06-01 13:25] sttts opened #26632 "Integration flake: test fails and https://console.cloud.google.com/ directory is empty"

[2016-06-01 13:40] esthermofet commented on #26292
Thx, @freehan

Node kubelet:
[code]

Routes:
[code]

Hairpin modes:
[code]

And link:
[code]

[2016-06-01 14:06] j-vizcaino commented on #23812
Endpoints being modified all the time, `kube-proxy` syncs (ie. flush/restore) `iptables` entries **very often** (about every 500ms on a 3 node install).
This is really annoying if you want to tackle `iptables` related problems (and maybe lead to performance problems for large clusters)

[2016-06-01 14:11] MikeSpreitzer commented on #26275
I have realized that there can not be two slashes in an annotation.  So here are proposed annotations that use only one slash:
[code]

[2016-06-01 14:25] mikedanese commented on #23812
You can reduce the frequency of renew at the expense of a speedier master failover. In larger clusters this will likely be dwarfed by pods flucuating. If this causes performance issues in large clusters, we need to fix kube proxy or apiserver or whatever component is affected. We need to support frequent object updates. There isn't evidence that this is the case and we run scalability tests that a

[2016-06-01 14:43] j-vizcaino commented on #23812
@mikedanese Do you want me to file a new issue regarding the kube-proxy flushing iptables way too often?

[2016-06-01 14:49] gmarek commented on #26626
It happened again in http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-large-cluster/33
again for fluentd...

[2016-06-01 15:06] huang195 commented on #26419
@jdef We can't run the kubelet in the run-once mode as it wouldn't be able to observe changes in the manifests directory that podmaster manages. But not specifying "--api-servers" did the trick, but is this the proper way to do things? In k8s, mirror pods are created in etcd corresponding to static pods, but k8s scheduler will not pick these up because they're already binded to a particular host.

[2016-06-01 15:17] wojtek-t commented on #26626
@yujuhong @Random-Liu - if you have any thoughts on it

[2016-06-01 15:17] huang195 commented on #26369
@derekwaynecarr that's very interesting. I'm glad you mentioned that you guys had something similar in openshift to deal with different flavors. Can you elaborate a bit more on why this is gone in v3? Are people not using it, finding it too hard to use, or what? I'm curious since Kubernetes currently doesn't support it natively. As @mikedanese mentioned, it's expecting an external entity to manage

[2016-06-01 15:21] huang195 commented on #26369
@mikedanese I'm not sure I fully understand your comment. Admission control plugins such as quota and limitrange can also be done in a configuration management system that sits on top of k8s. What's the difference between flavors plugin and the existing plugins?

[2016-06-01 15:27] mikedanese commented on #23812
Yes please

[2016-06-01 15:36] wonderfly commented on #26453
Sorry about failing in your use case, but changing the default `OS_DISTRIBUTION` was what that PR was supposed to do and yes it was meant to be _breaking_ to some degree. Before I move on to find a workaround, how bad it is for you to set `OS_DISTRIBUTION=debian`? Debian is not supposed to be the default any more since 1.3 and we have a plan to deprecate the Debian based ContainerVM sometime.

[2016-06-01 15:39] jfrazelle commented on #26610
ah good catch

[2016-06-01 15:46] wojtek-t commented on #26043
@fgrzadkowski - yeah, I think you're right. I think I didn't read the whole store carefully enough.

[2016-06-01 15:50] #21664 closed

[2016-06-01 16:00] pwittrock commented on #25966
Fixed in #26461

[2016-06-01 16:00] #25966 closed

[2016-06-01 16:07] krousey commented on #26324
@caesarxuchao Hey you're right. I was trying to figure out what in the run/attach logic failed, and completely forgot that it does discovery too. Relevant logs (heavily filtered):

<pre><code>
I0528 09:29:23.072052       6 handlers.go:165] GET /apis/company.com/v1: (398.675µs) 200 [[kubectl/v1.3.0 (linux/amd64) kubernetes/3f455fb] 104.154.110.118:34659]
I0528 09:29:23.258817       6 handlers.go:16

[2016-06-01 16:08] krousey commented on #26324
Closed by #26597

[2016-06-01 16:08] #26324 closed

[2016-06-01 16:09] bprashanth commented on #20096
The kernel fix, as stated in the issue referenced. I can't comment on an ETA but we're working on it.
Or you can flip to hairpin mode and never try to access yourself through your own service.
Or you can use the userspace kube proxy, which is a lot slower than the default iptables kube-proxy.

We're bound by the limitations of what we can realistically achieve without heading down a rabbit hole, b

[2016-06-01 16:10] j-vizcaino opened #26637 "kube-proxy should ignore "spam" updates to endpoints"
#### Environment
- 3 node Kubernetes v1.2.4 cluster with HA
- scheduler and controller-manager have `--leader-elect=true`
- no additional POD running aside from those in the `kube-system` namespace
#### Observed behavior
- `kube-proxy` runs `iptables-save/restore` twice per second.

Increasing `kube-proxy` verbosity shows that this is triggered by `OnEndpointsUpdate`

Stopping all the schedulers a

[2016-06-01 16:11] dchen1107 commented on #26626
Since we already have a static pod to re-pull test images, why not include fluentd one? @bprashanth

[2016-06-01 16:15] fxposter commented on #20096
@bprashanth are you talking about the original race condition bug (described in https://github.com/docker/docker/issues/5618 and https://bugzilla.kernel.org/show_bug.cgi?id=81211) or about "duplication of packets" bug? IE: which one are you actually trying to fix?

[2016-06-01 16:16] wojtek-t commented on #26626
I though fluentd is already there - isn't it?

[2016-06-01 16:17] yifan-gu commented on #26540
What's the network flag for the kubelet?

[2016-06-01 16:18] bacongobbler commented on #26573
dupe of https://github.com/kubernetes/kubernetes/issues/26104

[2016-06-01 16:20] gembin commented on #22130
+1.  Still no fix for this issue?
I just used systemd to start the api-server as a workaround.

[2016-06-01 16:20] pskrzyns commented on #26540
I dont pass flags to kubelete,
i'm running flannel, same way as described here:
http://kubernetes.io/docs/getting-started-guides/rkt/

[2016-06-01 16:21] euank commented on #26540
I've observed that when I leave `--network-plugin` flag blank on the kubelet. If a network plugin is really required then we should not panic, but error out early on with a nice log message. Sane defaulting would be nice, as would be improving those docs.

[2016-06-01 16:22] yifan-gu commented on #26540
I see, that doc is out-of-date after the #25062

[2016-06-01 16:23] yifan-gu commented on #26540
We need to fire an issue to update the doc, and fix the panic?

[2016-06-01 16:23] pskrzyns commented on #26540
@euank :+1:

so the only thing i need to do is adding --network-plugin=flannel

[2016-06-01 16:26] pskrzyns commented on #26540
there is 2 options:
set default network-plugin and update doc
leave it without default and create more self explaining error message when this is not set and update doc

[2016-06-01 16:26] hongchaodeng commented on #26043
I have two solutions:
- allow double assume
- resume assumed pod when bind() failed

I would prefer the second one because of its stronger checking. WDYT? @wojtek-t

[2016-06-01 16:28] #26573 closed

[2016-06-01 16:31] smarterclayton commented on #25382
If Docker has already established a convention with port mapping syntax
(HOST:CONTAINER) we should lean towards using that rather than inventing a
new format.

On Wed, Jun 1, 2016 at 8:58 AM, David Eads <notifications@github.com> wrote:

[2016-06-01 16:33] wojtek-t commented on #26043
In 2. we need to be very careful about races. I would have to think about it...

[2016-06-01 16:52] yifan-gu commented on #26540
Hmm, I am now also seeing the issue..

[2016-06-01 16:59] pwittrock commented on #26385
cc @vishh

[2016-06-01 17:01] krousey commented on #26379
Any update on this?

[2016-06-01 17:03] yifan-gu commented on #25117
This can be closed now.

[2016-06-01 17:03] #25117 closed

[2016-06-01 17:03] yujuhong commented on #26626
We start all the add-on pods (e.g., fluentd, the image prepull pod) around the same time. Pulling fluentd in the prepull pod doesn't help.

[2016-06-01 17:05] yifan-gu commented on #21923
This can be closed now.

[2016-06-01 17:05] #21923 closed

[2016-06-01 17:07] vefimova commented on #6439
@bgrant0607 AFAIU after https://github.com/kubernetes/kubernetes/pull/10200/commits/664d20c572498fd443a678160ff6a49fd9d4d22a was committed there is no issue anymore (obscure error message): as resources will be created successfully via HTTP request without Kind and API version set. Correct me if I'm wrong.

[2016-06-01 17:07] girishkalele commented on #26255
@erez-rabih

Referring to notes in #25793, switching the bridge mode from bridge-promiscuous to hairpin-veth will prevent the duplication but introduces the potential for the kernel refcount issue to show up. You can try  with hairpin-veth mode and see if your kernel is stable.

[2016-06-01 17:08] yujuhong commented on #26569
@Random-Liu do you mind taking a look at the failures?

[2016-06-01 17:10] caesarxuchao commented on #26505
#26597 probably fixed this. Closing.

[2016-06-01 17:10] #26505 closed

[2016-06-01 17:12] k8s-merge-robot opened #26639 "Broken test run: kubernetes-e2e-gke - 8237 [5 failures]"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8237/

Multiple broken tests:

Failed: [k8s.io] Proxy version v1 should proxy logs on node with explicit kubelet port [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e

[2016-06-01 17:13] adityakali commented on #26379
Regarding restarting docker, I see that kubelet has --babysit-daemons=true on both master and nodes (when on GCI). But I do see docker up and running with command-line flag changes. So I don't think docker restart is an issue.

[2016-06-01 17:19] erez-rabih commented on #26255
@girishkalele I am not fully familiar with the bridging mode you're talking about.
1. How can I change the bridge mode?
2. Is "kernel" referring to linux kernel or kubernetes kernel?
3. If they say it introduces other bugs why should I go this way?

[2016-06-01 17:25] girishkalele commented on #26255
@erez-rabih

1. It is a configuration option in cluster/gce/config-default.sh (or its equivalent for AWS).

`# How should the kubelet configure hairpin mode?`
`HAIRPIN_MODE="${HAIRPIN_MODE:-promiscuous-bridge}" # promiscuous-bridge, hairpin-veth, none`

2. Linux kernel

3. To confirm that hairpin-veth mode fixes your duplicate packets issue, which would mean its the same issue as reported in #2579

[2016-06-01 17:30] Random-Liu commented on #26569
@yujuhong Sure.

[2016-06-01 17:31] dcbw commented on #26453
@wonderfly I have no particular problem with it, other than that the change was unexpected and took a while to figure out what to do.  At the very least, could hack/local-up-cluster.sh (since it's *local*-up-cluster.sh it won't be running on GCE) be changed to set OS_DISTRIBUTION=debian by default?

[2016-06-01 17:38] wonderfly commented on #26453
That sounds reasonable to me. @roberthbailey @dchen1107 @lavalamp WDYT?

[2016-06-01 17:40] onlydole commented on #23092
@pwittrock This doesn't work on Docker for Mac. I keep setting the `The connection to the server localhost:8080 was refused - did you specify the right host or port?` message

[2016-06-01 17:40] chrislovecnm commented on #26246
Sounds like kernel config issue ... did you break down the old cluster?

[2016-06-01 17:41] Random-Liu commented on #26569
This is still docker hung on coreos image https://github.com/kubernetes/kubernetes/issues/25993
[code]
From this log, docker hung forever.

[2016-06-01 17:42] mtaufen opened #26640 "Local e2e_node tests broken, possible etcd issue?"
If I try to run `make test_e2e_node`, I get the following error:

[code]

If I check the log (at least what I think is the related log: `kubernetes/test/e2e_node/kube-apiserver.log`), I see a lot of variations on the following error message:
[code]

According to the log, this also happens for identifiers other than `api.PersistentVolume`, e.g. `policy.PodDistributionBudget`, `autoscaling.Horizonta

[2016-06-01 17:44] chrislovecnm commented on #25749
PR https://github.com/kubernetes/kubernetes/pull/26022 bumps this up to 3.5

[2016-06-01 17:44] #25749 closed

[2016-06-01 17:45] chrislovecnm commented on #24493
https://github.com/kubernetes/kubernetes/pull/26022 is a good start.  Would like to migrate to alpine, once DNS is not a problem....  Or get the small version of ubuntu working.

[2016-06-01 17:45] #24493 closed

[2016-06-01 17:46] chrislovecnm commented on #24290
Keeping this open until we move the SeedProvider into C* code base.

[2016-06-01 17:47] timstclair commented on #26640
/cc @kubernetes/sig-node

[2016-06-01 17:47] chrislovecnm commented on #24030
@bprashanth  @bgrant0607 any idea when when PetSet is alpha complete??  Would love it in the next alpha release ...

[2016-06-01 17:50] Random-Liu commented on #26626
I0601 11:14:12.622702    3467 server.go:959] GET /healthz: (28.584µs) 200 [[curl/7.26.0] 127.0.0.1:54346]

The logs show that kube_docker_client is downloading different layers (the part before colon is layer id), so the throughput should > 1MB/s.

[2016-06-01 17:51] girishkalele commented on #26626
This run also had an error at the end about rate limiting preventing deletion of instances.
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-large-cluster/33

[code]

[2016-06-01 17:52] zmerlynn commented on #26626
@girishkalele: That error is understood and being worked.

[2016-06-01 17:54] mtaufen commented on #26640
Another potentially interesting message from the logs:
[code]

[2016-06-01 17:56] caesarxuchao commented on #26628
This happened with `kubectl exec` as well: https://github.com/kubernetes/kubernetes/pull/20932.

Not sure if we should dig this up or just retry when i/o timeout occurs.

[2016-06-01 18:01] bprashanth commented on #26626
Any volunteers to trimming that image down?
[code]

My first thought was to bake the install script into a busybox base and use sh instead of bash. Unfortunately only a handful of platforms are supported by the logging agent (https://cloud.google.com/logging/docs/agent/, why?), so the next best option is to use debian:jessie.

There are probably a handful of small base images we can try. If all el

[2016-06-01 18:02] bprashanth commented on #26626
@a-robinson as maintainer on the dockerfile

[2016-06-01 18:05] mfburnett commented on #10439
@erictune any progress on this or other secret management initiatives?

[2016-06-01 18:05] jdef commented on #26419
probably depends on your definition of "proper". if you want the pods to
show up in the apiserver, but not cause other problems that you probably
need to fix compat w/ the k8sm scheduler.

the k8sm scheduler avoids scheduling things that have a special k8sm
"binding" annotation. you could specify this annotation in your pod/rc yaml
to avoid those pods being picked up by the k8sm scheduler: "
k8s.m

[2016-06-01 18:12] timstclair commented on #26640
I just reproduced this after aborting a test run, and fixed it with
[code]
Does that help you?

[2016-06-01 18:21] pwittrock commented on #26532
Closing this issue.  Please re-open if it has not been addressed.

[2016-06-01 18:21] #26532 closed

[2016-06-01 18:24] mtaufen commented on #26640
@timstclair No, that didn't really help. Just gave me the following:
[code]

Prior to trying your suggestion, I waited for a while, and then things started working again, which got me thinking about how long sudo credentials last.

Sure enough, running `sudo -v` to re-credential just before trying to run the tests reproduced the problem, and running `sudo -k` before running the tests made the prob

[2016-06-01 18:26] freehan commented on #26292
Looks like hairpin_mode is good.

But looking at your iptables rules, the service ips and pod cidr ranges are very close. Can you pick a different service ip range and make sure it does not overlap with any of your pod cidr range?

It is configured on apiserver.
e.g.
`--service-cluster-ip-range=10.0.0.0/16`

[2016-06-01 18:33] caesarxuchao commented on #26403
I'll take a look.

[2016-06-01 18:36] bprashanth commented on #26379
Yeah the question is what restarts docker when the kubelet does the pkill? ideally we would want a single thing responsible for restarting it, if we have a systemd unit file and a health-checker daemon running there's always room for trickery.  I see both /etc/systemd/system/kube-docker-monitor.service and /usr/lib/systemd/system/docker.service, is this intentional?

[2016-06-01 18:37] yujuhong commented on #26626
Trimming down the image will definitely help.

By the way, I missed the part that this happened on GKE, where the image prepull pod wasn't enabled. There was no pre-pulling at all.

Another interesting thing is that the slow pull happened *after* all other nodes had already finished pulling their images, so it wasn't directly caused by other pulls in this cluster.

[2016-06-01 18:39] pmorie opened #26644 "Jenkins unit/integration flake: no test report files were found"
Sometimes a jenkins build will appear to run successfully, but fail with the following message:

[code]

Example build: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24808/kubernetes-pull-test-unit-integration/28759/

[2016-06-01 18:40] andyzheng0831 commented on #26379
It is intentional. kube-docker-monitor.service is for health monitoring,
just like the supervisor stuff in ContainerVM. docker.service is the real
systemd config for docker. kube-docker-monitor.service does not restart
docker, it simply kills docker, and then docker.service restarts it. I
don't see conflict here.

On Wed, Jun 1, 2016 at 11:36 AM, Prashanth B <notifications@github.com>
wrote:

[2016-06-01 18:41] #26578 closed

[2016-06-01 18:43] bobbyrullo commented on #23720
@slashk, @kfox1111

[2016-06-01 18:45] deads2k commented on #25382
Sure, no objection to a different delimiter that isn't a comma.

[2016-06-01 18:46] #20550 closed

[2016-06-01 18:55] abithap opened #26646 "vSphere volume plugin bugs"
- Scanning device after the hot attach of disk fails
- Couldn't match device ID with UUID returned from AttachDisk()
- Unmount fails because of \040 for space encoding in mount path after datastore name
- DetachDisk() has to take volumePath(unique identifier) instead of diskID
- Scoping of err variable in AddDevice() call causes attachDisk() to fail later at mount instead of immediate failure
-  V

[2016-06-01 18:56] kfox1111 commented on #23720
One thing I'm not really clear about.... Will there be the ability to have more then one authentication plugin, and if so, how are group/username collisions avoided?

In keystone, they solved it this way:
There can be multiple domains. The user must select the domain when authenticating. Each domain has one and only one authenticator plugin. user/group names are unique within that domain only. a g

[2016-06-01 18:57] ihmccreery opened #26647 "Jenkins doesn't delete container when timing out a run"
E.g.

[code]

From https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.3-upgrade-master/154

Investigating...

[2016-06-01 19:09] chrislovecnm commented on #25616
https://github.com/kubernetes/kubernetes/pull/26022 resolved this

[2016-06-01 19:09] #25616 closed

[2016-06-01 19:11] chrislovecnm commented on #17275
@bgrant0607 I think we can close this.

@lordkada the example in HEAD is very stable, and 1.3 will have PetSet in it, which is a huge gain for C*.  Feedback is appreciated!

[2016-06-01 19:14] chrislovecnm commented on #25889
@pwittrock the image is built as part of the example, and it is pre-built and uploaded to gcr.io.  What I am thinking is more automation and testing.  This can impact all examples, not just Cassandra.

@jayunit100 you think a title change for this issue is appropriate?

[2016-06-01 19:14] chrislovecnm commented on #26317
@bgrant0607 who should look at this?

[2016-06-01 19:15] chrislovecnm commented on #25615
@nhlfr you going to merge that into HEAD?

[2016-06-01 19:17] chrislovecnm commented on #5465
@jayunit100 Why would yah say that `examples/` is going to be obsoleted?  Say it ain't so :)

[2016-06-01 19:18] chrislovecnm commented on #14642
@saad-ali is this getting fixed in 1.3?? What is going on with this never ending issue 😄

[2016-06-01 19:22] vishh commented on #26623
cc @derekwaynecarr

[2016-06-01 19:25] chrislovecnm commented on #21817
Wanted to also mention https://github.com/kubernetes/kubernetes/issues/25889

A few of challenges that we have:

1. Process for testing and building containers that are used in the examples.
2. Actually testing the technology - parsing log statements does not validate an example.  For instance running a couple `nodetool` and `cqlsh` commands validates Cassandra(C*).  The examples should be smoke t

[2016-06-01 19:46] girishkalele commented on #26626
I see only about half of the node logs were uploaded to GCS.
build-log.txt mentions 2000 nodes, but I see only 1001 node folders under artifacts/.

[2016-06-01 19:47] zmerlynn commented on #26626
@yujuhong: What's stopping image prepull on GKE?

[2016-06-01 19:49] dims commented on #26563
@wojtek-t oops missed the PR (https://github.com/kubernetes/kubernetes/pull/26564/) does that PR fully fix the problem mentioned here? (curious)

[2016-06-01 19:52] bprashanth commented on #26626
The static pod that prepulls e2e images isn't deployed on gke because it uses a salt boolean: https://github.com/kubernetes/kubernetes/blob/dc8ff81f5a48511f61ed2d65c0b8e745de03d09c/cluster/gce/config-test.sh#L165

[2016-06-01 19:54] kalbasit commented on #16083
@chrisleck mind sharing the relevant part of your CloudFormation?

[2016-06-01 19:57] chrisleck commented on #16083
I have mostly done PR here: https://github.com/kubernetes/kubernetes/pull/22227

[2016-06-01 20:01] zmerlynn commented on #26626
@spxtr for missing node logs in GCS

[2016-06-01 20:03] wojtek-t commented on #26563
@dims - that's a good question. I hope so.

[2016-06-01 20:06] derekwaynecarr commented on #19720
@bacongobbler - For RHEL based platforms (RHEL, Centos, Fedora), *we at Red Hat test* with the package provided by our distribution, and any upstream testing feedback *we provide to the Kubernetes project* is against that distribution as well.

This includes the recommendation that we will make for our platforms with Kubernetes 1.3
* see: https://github.com/kubernetes/kubernetes/issues/25893#issue

[2016-06-01 20:15] timothysc commented on #19720
Our density results again 1.10 are showing a lag when compared against upstream 1.11 results.

But it don't think it's an apples to apples comparison.  @gmarek what is the size of the nodes on the 100 node test cluster.

/cc @kubernetes/sig-scalability

[2016-06-01 20:16] ericchiang commented on #23720
@kfox1111 What Bobby is proposing here is separating authentication and groups membership retrieval. For our purposes, it's not always practical to bake in every group a user is a part of into a signed token. In a sense you'd have a two phase authentication where the group membership is a different plugin and possibly gets some context about what was actually being requested.

As for Openstack aut

[2016-06-01 20:19] zmerlynn commented on #26626
Unfortunately, @roberthbailey and I have some very strong opinions on test configurations diverging this strongly from prod configurations, and this is huge. This is an option I actually considered probably 6mo-1y ago, but I rejected it because pre-pulling images is hugely cheating compared to how a customer would interact with the cluster.

A way to satisfy my objection is this: For every test co

[2016-06-01 20:20] pwittrock commented on #26385
Looks like godep isn't needed anymore, and onsi is already vendored. #26571

[2016-06-01 20:25] wojtek-t commented on #26626
In a separate thread I suggest pre-installing fluentd image in GCI. That would obviously not solve all problems of the world, but hopefully it would reduce flakiness. WDYT?

[2016-06-01 20:26] esthermofet commented on #26292
Thanks, @freehan. Appears we already have --service-cluster-ip-range specified in the apiserver:

[code]

[2016-06-01 20:29] a-robinson commented on #26626
@bprashanth - I can give image trimming a try after 1.3, but probably not before. I'm having enough trouble figuring out how to get the proper dependencies for the journald plugin in place. Ruby dependency management is far from my expertise, unfortunately.

[2016-06-01 20:30] zmerlynn commented on #26626
@wojtek-t: It would help the GCI case, certainly.

[2016-06-01 20:30] bprashanth commented on #26626
The pros and cons of image pulling didn't seem worth it:
1. registry and docker pull flake are nothing to do with kubernetes
2. we're still testing image pulls in node e2e, just in a more controlled environment
3. we don't know the conditions we want to test anyway.

IMO we weren't doing this to begin with. Simply saying: it should work for some random images we throw at docker is insufficient. It

[2016-06-01 20:33] freehan commented on #26292
Looks like your service ip range is overlapping with the pod ip range.  `-service-cluster-ip-range=192.168.0.0/24`

Can you change it to `--service-cluster-ip-range=10.0.0.0/16`?

[2016-06-01 20:36] gmarek commented on #26626
@bprashanth - I can't agree with you - registry and docker pull flakes have a lot to do with the kubernetes. We should have a mechanism that detects the problems and retries download - especially for system pods (I have a very strong opinion on divergence as well - exactly the same as I had with master registration)

@wojtek-t - I think that adding fluentd to the image may make it too heavy. Remem

[2016-06-01 20:39] bprashanth commented on #26626
we already retry, it times out by pushing the pod into exponential backoff. Sure we should implement workarounds that are smarter about why the pulling flaked etc, but we don't have those today.

[2016-06-01 20:40] bprashanth commented on #26626
we don't prepull system pods

[2016-06-01 20:41] gmarek commented on #26626
Do we retry after it times out, or do we have some mechanism to determine if it's already taking *too long* (for some definition of too long).

[2016-06-01 20:42] #26640 closed

[2016-06-01 20:48] mtaufen opened #26649 "sudo -v (re-up cached credentials) prior to make test_e2e_node causes test failure"
For some reason, if I run` sudo -v` to re-credential just before trying to run the tests they fail with the following error. Running `sudo -k` before running the tests made the problem go away again.

[code]

See #26640 for some background.

@timstclair @vishh @kubernetes/sig-node

[2016-06-01 20:53] mak3r commented on #26453
over the past couple days, I installed debian 8 (jessie) and pulled the kubernetes from source and built it. I am currently experiencing this error and I'm not sure how to resolve it. I have modified hack/local-up-cluster.sh with the line OS_DISTRIBUTION=debian and re-run the script however, I am still seeing the same error. Is there a workaround?

[2016-06-01 20:55] tam7t opened #26651 "support docker image pull by digest"
I would like to specify my docker image by `digest` instead of `tag` for a more 'immutable'  guarantee that the image  pulled is the exact image I specified in my `PodSpec`.

docker supports this with the `@DIGEST` format: `docker pull [OPTIONS] NAME[:TAG|@DIGEST]`

example:

[code]

But when I specify the following:

[code]

The pod errors with:

[code]

I believe the error is in parsing the `ima

[2016-06-01 20:56] caesarxuchao commented on #6439
@vefimova, yes, the original issue is solved. I think @bgrant0607 keeps it open for "we need a better way to communicate attributes to handlers in apiserver."

[2016-06-01 20:57] wonderfly commented on #26453
I don't have enough knowledge about `hack/local-up-cluster.sh` but have you tried to set `KUBE_GCE_OS_DISTRIBUTION` instead?

[2016-06-01 20:57] derekwaynecarr commented on #25382
I don't think create deployment needs to optimize around pod templates with multiple containers, so generally agree with @deads2k previous feedback as well.  I am not sure I think we need sub commands for create service based on service type versus just `kubectl create service --type=clusterip` similar to `kubectl expose`.  Seems like `kubectl create service` should be everything that is unrelated

[2016-06-01 21:01] wonderfly commented on #26453
Wait, why did a GCE specific change affect local clusters at all? Is the local cluster orchestration script sourcing the GCE scripts somehow? That sounds wrong.

[2016-06-01 21:04] borismattijssen opened #26653 "Creating custom scheduler doesn't work"
When I follow the instructions on http://kubernetes.io/docs/admin/multiple-schedulers/ to create custom scheduler, the pods assigned to my-scheduler (pod annotation-second-scheduler in the example) keep status `Pending` and are never scheduled.

I think this is because the kube-scheduler cannot access the master from within the pod. I don't know how to get this working. How can the master be acces

[2016-06-01 21:04] pwittrock commented on #23092
What version of docker + OSX are you using?

@dlorenc Are you able to reproduce / what other information do you need?

[2016-06-01 21:08] mtaufen commented on #26649
Notably: `sudo -k` is an unreliable and painful solution.

Actual output:
[code]

And sometimes, after typing my password 4 times, it still decides to time out waiting for sudo. Not cool.

[2016-06-01 21:10] pwittrock commented on #23092
Due to the challenges around developing a good local kubernetes experience through docker / docker-machine, we are developing an alternative solution that we hope to release soon called [minikube](https://github.com/kubernetes/minikube).  We are hoping to replace the existing local solutions with minikube.  The solution is pretty far along, so I would recommend checking it out if you are having is

[2016-06-01 21:12] pwittrock commented on #23092
cc @dlorenc

@onlydole would you be willing to try https://github.com/kubernetes/minikube to see if it provides you what you need?  It hasn't been generally released yet, but it would be helpful to get your feedback.

[2016-06-01 21:12] Random-Liu commented on #26651
I believe the HEAD has already fixed this. :) https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker.go#L148-L177

[2016-06-01 21:16] vishh commented on #26649
What if we update the e2e infrastructure to use `sudo` only when it is not
running as `root` and in the case of localhost tests, run the localhost
test script as `root`?
`sudo hack/e2e-node-test.sh`

On Wed, Jun 1, 2016 at 2:08 PM, Michael Taufen <notifications@github.com>
wrote:

[2016-06-01 21:17] pwittrock commented on #25889
@lavalamp Another case where it would be helpful to build and push container images for use in e2e tests.

[2016-06-01 21:18] tam7t commented on #26651
ahh, I'm running `1.2.4` thanks for pointing that out!

[2016-06-01 21:18] saad-ali commented on #14642
It is indeed my friend https://github.com/kubernetes/kubernetes/issues/25457
Hang tight =)

[2016-06-01 21:21] mtaufen commented on #26649
Odd error when I try to run that:
[code]

Failed to compile? That's unexpected.

[2016-06-01 21:21] onlydole commented on #23092
@pwittrock - I'd love to! I'll give that a go and make sure to give my feedback too...thank you so much!

[2016-06-01 21:23] dims commented on #26224
Reviewed last 5 logs and found these in all 5 of them:
[code]

which is logged from:
https://github.com/dims/kubernetes/blob/79ca1911e1de0e6dce501ac35900eef308db0806/test/e2e/pods.go#L360-L360

Essentially pod.Spec.NodeName has just the ":10250" and is missing the node name itself

the pod variable is initialized a couple of lines before that line:
https://github.com/dims/kubernetes/blob/79ca1911e

[2016-06-01 21:23] mtaufen commented on #26649
Notably, it builds fine without `sudo`.

[2016-06-01 21:24] madhusudancs opened #26655 "Create clusters concurrently while setting up federation e2e"
The time to bring up a federation (of clusters) to run e2e test is very long right now. Much of that work can be done concurrently. For example GCE nodes can be created concurrently, etc. At the minimum we should run [the iterations in this loop](https://github.com/kubernetes/kubernetes/blob/master/hack/e2e-internal/e2e-up.sh#L37) concurrently.

@colhom I am not able to assign issues to you. So I

[2016-06-01 21:25] timstclair commented on #26649
Try `sudo -E`. Your gopath probably wasn't right.

[2016-06-01 21:26] mtaufen commented on #26649
Nope :(
[code]

[2016-06-01 21:27] vishh commented on #26626
Testing the overall image pipeline is critical for production Kubernetes deployments, but is it critical for all Kubernetes PRs?
As for kube PRs we primarily care about the image pulling logic on the kubelet side.
By having dedicated tests for the kubelet logic and creating a separate test suite that pulls images from registries, can we switch the merge queue blocking test suites to use locally ca

[2016-06-01 21:27] yujuhong commented on #19720
@timothysc If you were asking about the gce-scalibility suite, below is the information from the build log.

[code]

[2016-06-01 21:28] madhusudancs opened #26656 "Reuse federation docker images in e2e tests when nothing has changed"
If I build the federation images and push them, I should be able to reuse them in the subsequent `federation/cluster/federated-up.sh`. But this is not the behavior I am seeing right now. I am expected to push the images every time I run the build even when I don't touch anything in the federation directory.

@colhom I am not able to assign issues to you. So I am assigning it to myself now and CC'i

[2016-06-01 21:29] pwittrock commented on #23092
@onlydole my pleasure

[2016-06-01 21:29] ihmccreery opened #26657 "v1.1 Kubectl tests fail against v1.3 master: "unexpected type: object""
E.g.

[code]

View logs and artifacts at https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.1-1.3-upgrade-master/208

[2016-06-01 21:30] gmarek commented on #26626
Yeah, but shouldn't the system handle this cases not only in test scenarios?

[2016-06-01 21:31] quinton-hoole commented on #26655
Sounds like a good idea.   How long are you seeing? If it's less than 30 minutes, lets do this optimization later.  For now, lets focus on getting the e2e tests in and passing :-)

[2016-06-01 21:32] caesarxuchao commented on #26403
@hongchaodeng @xiang90 could you take a look? Thanks.

[2016-06-01 21:33] vishh commented on #26626
Kubernetes does handle image pipeline issues AFAIK. If we want some
reasonable timeouts for our merge queue blocking tests, we need to reduce
some of the dependencies.

On Wed, Jun 1, 2016 at 2:30 PM, Marek Grabowski <notifications@github.com>
wrote:

[2016-06-01 21:35] yujuhong commented on #25231
Yes, with some caveats. The function will be triggered by events. In which case, kubelet may send out more status updates than it does now. We have to measure and see if we need to batch them.

[2016-06-01 21:37] dlorenc commented on #23092
Docker for Mac has made quite a few changes to their networking model recently, but last I tried it didn't work at all for me. Maybe we should add something to the documentation mentioning that the local cluster in Docker setup doesn't work in Docker for Mac yet.

I can send a PR to the docs repo if no one has objections.

[2016-06-01 21:39] zmerlynn commented on #26626
Don't enable it in `config-test.sh` blanketly if that's the case. If I had my druthers, there would be very little in `config-test.sh` that was different than `config-default.sh`.

[2016-06-01 21:39] zmerlynn commented on #26626
(It's easy to explicitly enable it on merge blocking builds.)

[2016-06-01 21:39] nVitius opened #26659 "Token File "Groups" Docs"
The documentation for [Authentication](http://kubernetes.io/docs/admin/authentication/) talks about "groups" when it mentions the token file. However, it doesn't talk about what they are used for nor how they are created.

[2016-06-01 21:40] madhusudancs commented on #26655
It is right at about 30 minutes, give or take a few minutes depending on various factors not in our control. Also, I am blowing through my monthly data usage limit. For example. we stage the server tars for each cluster right now. Each of them is about 300MB. Plus 100MB for federation-apiserver image (it is not clear if this is being uploaded each time). But roughly, every time I bring up the fede

[2016-06-01 21:45] yujuhong commented on #26626
We *don't* set a timeout for image pulling as of now. Depending on the image and the network bandwidth, it can take arbitrarily long time to pull an image. There has been discussion to either
 1. provide a `--image-pull-timeout` flag in kubelet to set an absolute deadline, or
 2. periodically check the image pulling progress, and cancel if it's not making progress (or if it's too slow); probably n

[2016-06-01 21:46] Naddiseo opened #26661 "IP restrict SSH"
I'd like to be able to IP restrict SSH on the master and minions, and also IP restrict API access on master. I'm not sure about other providers, but AWS is commented by @justinsb as "Would be fairly easy to replace 0.0.0.0/0 in these rules", so I'd like to request that this be made possible.

[2016-06-01 21:48] pwittrock commented on #23092
@dlorenc That would be great.  Go ahead and assign the review to me.

[2016-06-01 21:48] Random-Liu commented on #26659
/cc @kubernetes/docs

[2016-06-01 21:49] yujuhong commented on #26626
Yes, we can detect problems and retry, but what if the registry is just slow? The test will likely time out before the pull succeed. I don't think we should stress test the image registry in all our e2e tests, even if we want to test it. A local registry seems like a better compromise, although it does make our test cluster further deviate from the prod environment.

[2016-06-01 21:54] bprashanth commented on #26626
@zmerlynn meaning pipe it as an env in specific test configs? That sounds ok too, but we'd pipe it through all the builds (pre and post commit) that can block merges. The timeout that we're hitting is the per test timeout of 5-10m, when they poll for pods to become running/ready, meaning even gce-slow can hit this.

While I agree with keeping a consistent build and test env, it's not like we don't

[2016-06-01 21:57] ihmccreery opened #26662 "v1.1 e2e fails against v1.3 cluster (master & nodes): secret file has wrong mode"
[code]

View logs and artifacts at https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.1-1.3-upgrade-cluster/209

[2016-06-01 22:02] ihmccreery commented on #26657
This is almost certainly a result of https://github.com/kubernetes/kubernetes/pull/22897.

One option is to turn off validation for some kubectl tests, but I'm not convinced that's the right option; more of a workaround that really a good signal about what's happening.

When I wrote https://github.com/kubernetes/kubernetes/pull/25087, I didn't fully consider the testing pain that would come with t

[2016-06-01 22:02] Random-Liu commented on #26626
This may not help this issue. In this issue, the image pulling did make progresses, just too slow. :)

[2016-06-01 22:03] sjenning commented on #26003
I'm not working on this ATM.  However, this is a big limitation of the dynamic client right now so if anyone wants to take it on, please feel free.

[2016-06-01 22:06] gmarek commented on #26626
@yujuhong - I believe that we should think *how we can solve this problem*, not *how we can solve this problem in tests*. We need a convincing user story for that. Maybe a master should double as a registry for system pods?

[2016-06-01 22:15] xiang90 commented on #26403
@caesarxuchao Sure. I guess the etcd cluster was not fully started when the client made the first request. But we will try to reproduce and fix.

[2016-06-01 22:24] ryanschwartz opened #26663 "Secret keys should allow underscores"
The [Secrets user guide](http://kubernetes.io/docs/user-guide/secrets/#creating-a-secret-manually) states that `The data field is a map. Its keys must match DNS_SUBDOMAIN, except that leading dots are also allowed. The values are arbitrary data, encoded using base64.`

This feels like an arbitrary restriction, and it definitely impacts usefulness of being able to mount secrets as volumes - disqual

[2016-06-01 22:28] lavalamp commented on #26385
Thanks guys. We really shouldn't be running godep anything at test time as opposed to build time, or at least I can't think of a good reason for that.

[2016-06-01 22:29] Random-Liu commented on #26663
@pmorie @bgrant0607 @kubernetes/kube-api

[2016-06-01 22:31] ihmccreery commented on #26647
I haven't been able to reproduce this locally, and the following logs make me think the cluster is just getting deleted in the middle of the run somehow:

[code]

Context:

[code]

[2016-06-01 22:34] yujuhong commented on #26626
@gmarek we will be doing #26300 to help users. I just wanted to point out that this may not help the tests (which is what this issue is for)

[2016-06-01 22:35] colhom commented on #26656
@madhusudancs What is stopping you from re-using pushed images in `federation/cluster/federated-up.sh`? Assuming you don't re-run the build or change `FEDERATION_PUSH_REPO_BASE` between calling `federated-push.sh` and `federated-up.sh`, `federated-up.sh` should continue to use the last images that you built and pushed every time you call it.

[2016-06-01 22:39] mtaufen commented on #26649
Get this. If I just flat out _ignore_ the request for me to enter a password, the tests run to completion.

[2016-06-01 22:40] colhom commented on #26655
How do we want to mux the log output from the concurrent kube-up invocations in a maximally jenkins-friendly manner?
* Line by line with line prefixes?
* N-line batch groups with header label sections?
* Write each to a file, print out the file path and cat each file out at the end?

[2016-06-01 22:46] mhrgoog commented on #26385
Side note. I was misusing "go list' I see now that onsi/gomega does depend on gopkg.in/yaml.v2:

$ go list -f "{{.Name}} {{.Deps}}" github.com/onsi/gomega/... | grep gopkg.in/yaml.v2 | sed 's/\[.*\]//'
gomega
gexec
ghttp
matchers
$

[2016-06-01 22:47] derekwaynecarr commented on #26663
I agree it would be good to support underscore.

Ideally you could provide a projection for a secret key to its manifested file name.

[2016-06-01 22:51] pwittrock opened #26665 "Make node e2e test images publicly accessible"
Node e2e test images should be publicly accessible.  The right solution may be to create a dedicated project for this and to have it be the canonical source.

[2016-06-01 22:57] #17275 closed

[2016-06-01 22:59] steveeJ commented on #26102
Thanks for summarizing this @euank.

@dcbw

This is merely an implementation restriction and not enforced by the SPEC. In https://github.com/containernetworking/cni/pull/230 that restriction already got loosened a bit, even though there is more work needed. E.g., plugins should be able to declare support/requirements for such things.

+1 on not depending on those tools, however executing external

[2016-06-01 23:00] quinton-hoole commented on #26655
Fair enough @madhusudancs , that sounds worth fixing (but only after the tests are running and passing :-) )

[2016-06-01 23:01] ihmccreery commented on #26647
Yeah, these are caused by something deleting the cluster before the test is done; couldn't say what, though.

[2016-06-01 23:12] vishh commented on #15140
cc @dchen1107 ^^

[2016-06-01 23:36] quinton-hoole opened #26668 "AWS Route53 dnsprovider: address outstanding review comments"
See outstanding review comments in #26049

Specifically:
1. removing boolean's from dnsprovider interface,
2. pointer receivers rather than value receivers.
3. Handle result truncation

FYI @nikhiljindal

[2016-06-01 23:40] #25620 closed

[2016-06-01 23:51] janetkuo commented on #25234
@pigmej thanks!

[2016-06-01 23:52] quinton-hoole opened #26669 "Integrate federated service DNS record management: Address remaining code review comments."
See unresolved comments in #25991 for details.

In particular:
- Possibly return ErrNotFound rather than empty slice from getRrsets()

[2016-06-01 23:52] quinton-hoole commented on #26669
@madhusudancs FYI

[2016-06-02 00:11] bprashanth commented on #26379
ah, sorry I didn't actually look into what it was doing. It looks like it was indeed just doing a docker ps and pkill docker, leaving the actual restart up to systemd.

[2016-06-02 00:12] kevinkim9264 opened #26670 "Introduce Shared Security Group to Allow Traffic from Unlimited Number of ELBs."
Currently, Kubernetes adds every ELB’s security group rule to instances, which means the number of rules included in instance’s security group grows as the number of ELB grows.

AWS supports up to 50 inbound rules per security group and 5 security groups per network interface.  http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Appendix_Limits.html#vpc-limits-security-groups

With this AWS

[2016-06-02 00:18] dchen1107 commented on #26464
Yes, I didn't expect this one reproduce all flakes in the jenkins jobs caused by slow pulling. But making this test automated, we can

* Easily identify the performance regression from docker pull, and report the issue to docker as soon as possible.
* Easily rule out the docker issue and found the root cause in other area.

[2016-06-02 00:21] andyzheng0831 commented on #26379
I am debugging it and I guess it may be related with kubenet setting in GCI config. I am make a patch and test it.

[2016-06-02 00:25] dchen1107 commented on #26379
re: https://github.com/kubernetes/kubernetes/issues/26379#issuecomment-222268962

Since we switched to kubernet with 1.3 release, why Kubelet still config cbr0, and restart docker? cc/ @freehan

[2016-06-02 00:32] bprashanth commented on #26379
Hmm, while deploying kubenet might fix it, configure-cbr0 should still work just like it did without kubenet (or did we consciously break that?).

 Kubenet requires the pod cidr, and there's a mismatch on the master. The nodecontroller assigned cidr is different from the --pod-cidr argument, because we need to start the nodecontroller.

[2016-06-02 00:32] freehan commented on #26379
Is kubelet running with `--network-plugin=kubenet`?

[2016-06-02 00:32] bprashanth commented on #26379
not on the master

[2016-06-02 00:40] andyzheng0831 commented on #26379
See https://github.com/kubernetes/kubernetes/issues/26379#issuecomment-223163421

[2016-06-02 00:44] yujuhong commented on #26464
If we want to test for performance regression, it'd make sense to set up a local registry. Otherwise, we'd also be testing the registry itself.

[2016-06-02 01:05] joshuacox opened #26672 "broken sample links on kubernetes.io"
Lot's of the sample links are broken at the moment on kubernetes.io, perhaps there is quite a bit missing from release-1.2?

e.g.:

https://github.com/kubernetes/kubernetes/tree/release-1.2/examples/logging-demo/

https://github.com/kubernetes/kubernetes/tree/release-1.2/examples/k8spetstore/
looks like it should be:
https://github.com/kubernetes/kubernetes/tree/release-1.2/examples/k8petstore

al

[2016-06-02 01:06] osterman opened #26673 "Possible Bug: Error syncing deployment, replica set already exists"
We’re using `Deployment` resources. Last night, one of our k8s clusters started spewing a lot of logs - to the tune of 70K messages per hour (~1gb/hr). The same message was repeated over and over again.

![image](https://cloud.githubusercontent.com/assets/52489/15730523/5ae4ac3c-2822-11e6-9289-60553c56c48e.png)

The errors look like this:

[code]

![image](https://cloud.githubusercontent.com/asset

[2016-06-02 01:14] dims commented on #26663
There's a PR in progress - https://github.com/kubernetes/kubernetes/pull/25458

[2016-06-02 01:22] dims commented on #26139
@caesarxuchao So should this issue be closed?

[2016-06-02 01:31] nikhiljindal opened #26675 "Remove federation-apiserver's dependency on kubernetes APIs"
Right now `--storage-versions` in federation-apiserver includes all the k8s APIs (see https://github.com/kubernetes/kubernetes/blob/master/docs/admin/federation-apiserver.md), which is wrong.
This is happening because an API group is registered if there is a dependency on it.

Here is how federation-apiserver depends on k8s extensions API group:

[code]

This dependency route exists for all k8s ap

[2016-06-02 01:34] bprashanth commented on #22837
@AdoHe SGTM are you going to send a pr?

[2016-06-02 01:34] nikhiljindal commented on #26675
The refactoring that @lavalamp was doing can help here. clientset and federation-apiserver can use different instances of registered. So an API group can be registered with the client but not with the apiserver.

[2016-06-02 01:50] #26616 closed

[2016-06-02 02:05] AdoHe commented on #22837
@bprashanth yes, ready to.

[2016-06-02 02:26] k8s-merge-robot opened #26678 "[k8s.io] Services should serve a basic endpoint from pods [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18005/

Failed: [k8s.io] Services should serve a basic endpoint from pods [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-02 02:34] bobintornado commented on #26246
@chrislovecnm yeah indeed it sounds like a kernel config issue.

Yeah I did break down the old cluster so I didn't know what really happened there anymore.

The new cluster seems to run pretty smoothly until now. The only issue is the pod often stuck at Pending or Terminating status, the rest is fine now. :)

[2016-06-02 02:57] andyzheng0831 commented on #26379
Now I am pretty sure the kubenet config added by PR #18795 is missing in GCI config. We did not catch this because Jenkins on GCI has not reported an error. I will add kubenet support shortly

[2016-06-02 03:47] bprashanth commented on #20096
the kernel bug

[2016-06-02 03:52] bprashanth commented on #25818
the init container is still up and running even when the pod is in pending, we should be able to exec and  debug why it's hung, for example.

[2016-06-02 03:56] pmorie opened #26679 "Volume attach/detach in clouds without deterministic attach paths"
Needed as a follow-up to #26351

Most of the currently supported clouds that offer special volume types provide a deterministic way to determine the path that a volumes is attached to on a node. (GCE, OpenStack, VSphere).  There is at least one cloud that does not - AWS.  For AWS, this information is only available via an API call.  In order to facilitate AWS and future clouds that do not offer su

[2016-06-02 04:00] a-robinson commented on #26661
Contributions are very welcome if there's a particular provider that you'd like to enable this on! The scripts for cluster creation (which typically create the firewalls you're referring to) live under the `cluster/` directory.

[2016-06-02 04:02] a-robinson commented on #26653
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-02 04:02] #26653 closed

[2016-06-02 04:03] saad-ali commented on #26679
Just a point of clarification: AWS does provide such an API, but we'd like to not have to use it because doing so requires cloud credentials to be available on the node. Other providers allow for a deterministic mechanism for discovering the device path without having to make an API call to the cloud provider, thereby removing the need for cloud provider credentials on the node.

[2016-06-02 04:03] a-robinson commented on #26630
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-02 04:03] #26630 closed

[2016-06-02 04:05] resouer commented on #25320
@davidopp Cloud you explain why add forgiveness to Toleration? If we don't want to tolerate some taints, just remove toleration is not enough?

[2016-06-02 04:05] a-robinson commented on #26627
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-02 04:05] #26627 closed

[2016-06-02 04:13] pmorie commented on #26679
@saad-ali updated to reflect the true state of things, thanks

[2016-06-02 04:22] andyzheng0831 commented on #26379
@dcbw I am planning to add CNI support in GCI (https://github.com/kubernetes/kubernetes/tree/master/cluster/gce/gci). The dir /opt in GCI image is read-only. Would you please make the CNIDir configurable, which currently is hard-coded to "/opt/cni/bin" (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/kubenet/kubenet_linux.go#l54)

[2016-06-02 04:27] #25713 closed

[2016-06-02 04:32] davidopp commented on #25320
The canonical example for forgiveness is: let's say we represent node problems using taints (which we actually do plan to do). So for example Then a pod can use toleration to represent how long it wants to stay bound to a nod before it should be evicted.  You want to add the taint immediately when the node starts having the problem, because some pods might want to be evicted right away. But the on

[2016-06-02 04:49] resouer commented on #25320
Thanks, its much clearer.

[2016-06-02 04:54] k8s-merge-robot opened #26681 "Broken test run: kubernetes-e2e-gke - 8269 [11 failures]"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8269/

Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]

Failed: [k8s.io] hostPath should support subPath [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Pods should support remote command execution over websockets {Kubernetes e2e suite}

[code]

Failed: [

[2016-06-02 04:57] nickschuch commented on #23942
Just got bitten by this one as well.

Will have a look and see if I can bang together a PR.

[2016-06-02 05:14] k8s-merge-robot opened #26682 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8270/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes {Kubernetes e2e suite}

[code]

[2016-06-02 05:17] piosz commented on #23942
It would be great @nickschuch

[2016-06-02 05:48] caesarxuchao commented on #26139
No, the first flake (the "timed out waiting for the condition" one) reported by the merge bot is different.

[2016-06-02 05:53] hongchaodeng commented on #25320
@davidopp

I would to help implement some tasks for v1.4. Can your mark tasks being taken by somebody already? Or can folks who is taking over mark themselves here?

BTW, what's "proper defaulting"?

[2016-06-02 06:01] erez-rabih commented on #26255
@girishkalele I am running on AWS, does it have an equivalent settings somewhere?

[2016-06-02 06:19] madhusudancs commented on #26656
Every time I run `make quick-release` and run `federation/cluster/federated-up.sh`, federation-apiserver pod never comes up. The container just keeps crashing with ImagePullErr. The event log says that the kubelet/docker can't find the image with the given ID. If I run `federation/cluster/federated-push.sh` and then `federation/cluster/federated-up.sh` everything works fine.

[2016-06-02 06:28] madhusudancs commented on #26655
@colhom I have been thinking about that, but I don't have a good answer. I did not think about your option 2, i.e.

I think doing just 3

Will lead to a bad experience. For example, people won't be able to look at the output in the in Jenkins console output.

I think line prefix is the quickest solution and which is what we should do in the short term.

In the medium term, we should split up the s

[2016-06-02 06:29] davidopp commented on #25320
Yes, sorry, to clarify, we haven't done any planning for 1.4, and we intend to do it jointly with the community when it happens. But @kevin-wangzefeng implemented taints and tolerations (#24134) and had already told me he was planning to add forgiveness since it was part of the original design.

[2016-06-02 06:31] #25589 closed

[2016-06-02 06:35] colhom commented on #26656
`federated-push.sh` is what pushes the docker images from `make quick-release` to your docker repo. You can run `federated-push.sh` once after your build, and then just do `federated-up.sh` iteratively to re-deploy with the same container images.

[2016-06-02 06:46] k8s-merge-robot opened #26685 "[k8s.io] Services should be able to up and down services {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8274/

Failed: [k8s.io] Services should be able to up and down services {Kubernetes e2e suite}

[code]

Previous issues for this test: #26128

[2016-06-02 06:53] gmarek commented on #26626
I probably don't understand what you're saying. From my point of view tests *are* users. Ones that actually care what they get. In this particular case, tests want to have all system pods running, which translates to having fully working cluster (where by fully I mean "with all the monitoring and stuff that we ship with it running"). I don't think this is very obscure/strange requirement - I think

[2016-06-02 07:05] mfanjie commented on #26608
@quinton-hoole FYI.

[2016-06-02 07:15] wojtek-t commented on #26563
OK - we had multiple runs where we didn't face this. So I'm closing this as fixed by #26564

[2016-06-02 07:15] #26563 closed

[2016-06-02 07:22] #26291 closed

[2016-06-02 07:38] wojtek-t opened #26687 "e2e flake: "should be able to up and down services" failed in 2000-node cluster"
I've seen the failures like this:
[code]

There are tens of such failures in a single test run.

This is definitely a flake - this test passed multiple times in the same suite.

The failures come from:
http://kubekins.dls.corp.google.com:8080/job/kubernetes-e2e-gke-large-cluster/35/consoleText
http://kubekins.dls.corp.google.com:8080/job/kubernetes-e2e-gke-large-cluster/36/consoleText

[2016-06-02 07:39] wojtek-t commented on #26687
To be honest, I'm not even sure if it is k8s problem...

@kubernetes/goog-cluster @bprashanth @thockin

[2016-06-02 07:42] gmarek opened #26689 "unit flake: pkg/util/workqueue"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26631/kubernetes-pull-test-unit-integration/28744/

FAIL
FAIL	k8s.io/kubernetes/pkg/util/workqueue	10.275s

I believe it's this test:
[code]

cc @lavalamp @deads2k @liggitt @wojtek-t

[2016-06-02 07:43] metral commented on #26466
Error from server: pods "abc" not found
$ kubectl get pods abc -o name
<no error>
$ kubectl get pods abc -o template --template='{{if (exists . "status" "containerStatuses")}}{{range .status.containerStatuses}}{{if (and (eq .name "update-demo") (exists . "state" "running"))}}true{{end}}{{end}}{{end}}'
<no error>
Why? In https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get.go, t

[2016-06-02 07:56] gmarek opened #26691 "Don't wait for more nodes when 99% of the cluster is up."
Currently we assume that the cluster is healthy if 99% of Nodes are. We keep on waiting for more nodes even after 99% are up, until all Nodes are ready or we reach the timeout, even though we know that the cluster will be considered healthy.

The question is shouldn't we finish validation when 99% of the cluster is up. This will increase the possibility that some additional Nodes will join the clu

[2016-06-02 08:02] mfanjie commented on #26480
fixed by #26550

[2016-06-02 08:02] #26480 closed

[2016-06-02 08:10] jsafrane commented on #26679
What should happen when volume is specified directly in pod definition? And what if there more volumes in single pod? We need some mapping between pod annotations and volumes in the pod... ugly as hell.

Just brainstorming here: can we add an annotation into `AWSElasticBlockStoreVolumeSource`?

[2016-06-02 08:18] nikhiljindal commented on #26608
1. Till a month back all controllers were using unversioned clientset. @caesarxuchao is working on moving them to versioned clientset. However, as we are making this change, we are discovering problems with versioned clientset. We are fixing them as we discover new problems and are gradually moving controllers to use them. As we make the change, temporarily some controllers will be using versioned

[2016-06-02 08:21] nikhiljindal commented on #26608
Also the watch problem you were facing should be fixed now that https://github.com/kubernetes/kubernetes/pull/26251 is merged.

[2016-06-02 08:59] #25360 closed

[2016-06-02 09:14] mfanjie commented on #26608
Thanks, I am working on changing service controller clientset to versioned one.

[2016-06-02 09:15] resouer commented on #25320
@hongchaodeng Except for `forgiveness` and what I was working on e.g. NoScheduleNoAdmit and NoScheduleNoAdmitNoExecute, it seems other todos are all available. Would be excited to see you pick some up.

[2016-06-02 09:18] AdoHe commented on #25818
add a straightforward exec implementation #26693 @smarterclayton ptal.

[2016-06-02 09:22] wojtek-t commented on #26687
Actually, I no longer think this is network-related issue. This seems to be something different.

BTW - I had the third such failure:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-large-cluster/38/console

So basically, when I'm looking deeper into logs, I'm seeing:
[code]

In particular we spend ~5 minutes trying to run the exec on this pod.

However, when I'm looking into events, I'

[2016-06-02 09:22] wojtek-t commented on #26687
@gmarek @zmerlynn @kubernetes/sig-node

[2016-06-02 09:31] wojtek-t commented on #26687
And we don't have logs from from that nodes whose those pods where scheduled unfortunately...

[2016-06-02 09:31] obeattie commented on #20096
@bprashanth Could you explain a bit more about what you mean here? Is there a hairpin mode that avoids this? It was my understanding that this occurs with both `hairpin-veth` and `promiscuous-bridge`… am I wrong, or do you mean disabling the hairpin altogether?

[2016-06-02 09:32] obeattie commented on #20096
@bprashanth Could you explain a bit more about what you mean here? Is there a hairpin mode that avoids this? It was my understanding that this bug occurs with both `hairpin-veth` and `promiscuous-bridge`. Am I wrong, or do you mean disabling the hairpin altogether fixes the issue?

[2016-06-02 09:35] mfanjie commented on #26608
still see the error with latest build
E0602 17:32:00.429449   17501 reflector.go:374] k8s.io/kubernetes/federation/pkg/federation-controller/cluster/clustercontroller.go:111: expected type *federation.Cluster, but watch event object had type *v1alpha1.Cluster

[2016-06-02 09:43] wojtek-t commented on #26687
heh - I was wrong, I misread logs.

Actually the pod we are killing is the previous one:
[code]

[2016-06-02 09:50] jellonek commented on #26102
@steveeJ I'm also sure that there is no technical reason why orchestrator could not prepare tap devices - I described only a current implementation. Only limitation which could be seen now - there is no possibility to mimic host networking using 2 kernels.

[2016-06-02 09:56] wojtek-t commented on #26687
But generally it looks like a problem with "exec" to me...

[2016-06-02 10:14] jayunit100 commented on #5465
I think there was close to consensus that many parts of it may be headed to contrib/ but at the same time it's not going to be happening slowly since so much inertia there

[2016-06-02 10:29] sgotti commented on #20262
@saad-ali Will the attach/detach controller work also with volumes (like rbd, iscsi) that must be attached directly from the host (unlike gce pd, ebs, cinder)? How will it handle the detach case when a node with an attached rbd/iscsi volume is partitioned (active but unreachable)?

I'm asking this because actually every volume plugin is different, for example the pkg/volume/rbd has internal fencin

[2016-06-02 10:40] gmarek commented on #25398
It fails 1/2 times locally for me. It's a poorly written test, that doesn't clean after itself (I'll send a PR that fixes some of it), but I think it succeeds by chance if pod affinity is disabled in the scheduler.

[2016-06-02 11:14] wojtek-t commented on #26185
Hmm - those problems are because of slow etcd.
In most of the failed runs I see traces like this:
[code]

That means, that listing 6 RCs from etcd takes 500ms+.

@xiang90 @hongchaodeng - is there anything we can do about it?

[2016-06-02 11:23] gmarek opened #26698 "PodAffinity SchedulerPredicates are not well isolated"
Those tests add labels to Nodes and depend on Node labels, but they don't clean up after themselves, thus leaking some state between tests. This is very bad and fixing this is critical before we can enable tests (and thus pod affinity feature) again.

cc @davidopp @wojtek-t @fejta

[2016-06-02 11:25] #26345 closed

[2016-06-02 11:26] k8s-merge-robot opened #26699 "Broken test run: kubernetes-e2e-gke - 8288 [8 failures]"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8288/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}

[code]

Failed:

[2016-06-02 11:43] deads2k commented on #26689
This I think:
[code]

[2016-06-02 11:45] deads2k commented on #26689
Opened https://github.com/kubernetes/kubernetes/pull/26700 to add some more logging to see the state of the queue and bump the timeout just in case its slow, not wedged.

[2016-06-02 11:57] wojtek-t commented on #26519
So it seems that it was false alarm. Those errors were because of unreachable apiserver.
And apiserver was unreachable, because it was crashing due to #26563
After fixing that bug, I no longer see that issues (before fixing them I've seen them in almost every run of large clusters, now we had 10+ runs without it).

So I'm closing this issue.

[2016-06-02 11:57] #26519 closed

[2016-06-02 12:00] wojtek-t commented on #26687
Can this be related to #23321 ?

[2016-06-02 12:01] wojtek-t commented on #26644
@kubernetes/test-infra-maintainers

[2016-06-02 12:16] wojtek-t commented on #26685
This looks like a real kubelet issue - it seems that pod disappeared somewhere in Kubelet.

So basically the pod that was not started is:

    service1-99eh2

So I'm looking into kubelet logs:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/8274/artifacts/gke-jenkins-e2e-default-pool-d00372ca-ac5s/?project=kubernetes-jenkins

And here is what I get:
[cod

[2016-06-02 12:21] joe2far commented on #26357
This issue was also raised on the kubernetes.github.io repository, see: [ Issue 154](https://github.com/kubernetes/kubernetes.github.io/issues/154)

[2016-06-02 12:29] Draiken opened #26703 "kubectl patch --record not saving change cause"
I'm using patch with JSON patch mode for some deployments, and when checking rollout history, change cause is always empty

https://github.com/kubernetes/kubernetes/blob/f500194d92ab0f8d64836f0b38a6eeefc2c612ee/pkg/kubectl/cmd/patch.go#L158

If I read the code correctly, this would fail silently, so maybe something is not working specifically with the `patch` command.

[2016-06-02 12:30] wojtek-t commented on #26503
All tests in this suite failed on:
[code]

This means that we couldn't successfully send "create namespace" to apiserver.

I'm almost sure that there was something wrong with apiserver at that time.
Can someone check if apiserver was dead at that time? [It might be down e.g. due to #26563 ]

[2016-06-02 12:30] wojtek-t commented on #26503
@kubernetes/goog-gke

[2016-06-02 12:32] wojtek-t commented on #26614
Duplicate of #26639

[2016-06-02 12:32] #26614 closed

[2016-06-02 12:33] wojtek-t commented on #26639
@kubernetes/goog-gke - any ideas why this could happen?

[2016-06-02 12:34] wojtek-t commented on #26548
Duplicate of #26639

[2016-06-02 12:34] #26548 closed

[2016-06-02 12:35] wojtek-t commented on #26498
Duplicate of #26639

[2016-06-02 12:35] #26498 closed

[2016-06-02 12:38] wojtek-t commented on #26135
Thos failures are currently the most frequent ones. Can we do something with that?

[2016-06-02 13:02] a-robinson commented on #26703
Could you give an example of a command that you run?

[2016-06-02 13:03] gmarek commented on #26204
There's a new error in https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-large-cluster/40/build-log.txt:
[code]

[2016-06-02 13:04] a-robinson commented on #26566
@kubernetes/sig-node

[2016-06-02 13:04] a-robinson commented on #26565
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-02 13:04] #26565 closed

[2016-06-02 13:04] #26552 closed

[2016-06-02 13:07] nebril opened #26704 "Parallelize API calls in discovery summarizer"
// TODO: We can cache and parallelize the calls to all servers.

[2016-06-02 13:08] a-robinson commented on #26317
@kubernetes/rh-storage @kubernetes/rh-ux

[2016-06-02 13:10] a-robinson commented on #26273
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-02 13:10] #26273 closed

[2016-06-02 13:12] a-robinson commented on #26260
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-02 13:12] #26260 closed

[2016-06-02 13:14] liggitt commented on #26317
we should avoid special-casing interactive prompting behavior or requiring confirmation on *some* resources for the generic `kubectl delete` commands... that's a good way to break or hang scripts

[2016-06-02 13:15] gmarek commented on #19124
Fixed by #25571

[2016-06-02 13:15] #19124 closed

[2016-06-02 13:16] gmarek commented on #19681
It was broken by image puller. Fixed by #26695

[2016-06-02 13:16] #19681 closed

[2016-06-02 13:17] deads2k commented on #26663
Also, looks like a dupe of https://github.com/kubernetes/kubernetes/issues/6589

[2016-06-02 13:19] a-robinson commented on #26340
Opened https://github.com/kubernetes/kubernetes.github.io/issues/597 for you. Contributions welcome! :)

[2016-06-02 13:19] #26340 closed

[2016-06-02 13:20] a-robinson commented on #26659
Opened https://github.com/kubernetes/kubernetes.github.io/issues/598 to replace this, since we track docs issues in the kubernetes.github.io docs repo.

[2016-06-02 13:20] #26659 closed

[2016-06-02 13:21] a-robinson commented on #26672
I've opened https://github.com/kubernetes/kubernetes.github.io/issues/599 to replace this, since we track docs issues on the kubernetes.github.io docs repo. Contributions welcome to fix these up!

[2016-06-02 13:21] #26672 closed

[2016-06-02 13:24] deads2k commented on #25382
This actually highlights the problem that we need to solve in `kubectl create`.  `kubectl expose` has multiple conflicting flags that are only valid in certain combinations based on other flags.  In the case of the example you just gave, adding a `--type` to a `kubectl create service` will put us in a position where we again have flags that don't make sense in all contexts.  For instance, what wou

[2016-06-02 13:26] justinsb opened #26707 "kube-dns should be a daemonset / run on every node"
As DNS is so crucial to k8s, and I have seen failures due to resource starvation preventing kube-dns from starting, we should run kube-dns in an HA configuration.  I believe we should run it on a daemonset on every node.

It might be that the kube2sky -> etcd -> skydns setup is too resource intensive for this; if so we should probably make a controller that removes etcd and integrates kube2sky & s

[2016-06-02 13:27] justinsb opened #26708 "Elasticsearch should run in a PetSet with PVs"
When we install elasticsearch, we currently use a hostVolume.  This means that ES will eventually fill the disk on that node and likely take the node down.  We should instead ship ES with PetSets backed by PVs, so this cannot happen.

cc @ajohnstone

[2016-06-02 13:28] huang195 commented on #26419
Right, I'm more inclined to fix the compatibility issues so that from a user's perspective, whether it's an admin deploying static pods or a regular user deploying user pods, the UX should be identical between k8s and k8sm. Will take a look at the code first before coming back with a proposal for you to review.

[2016-06-02 13:31] wojtek-t commented on #26509
I just faced a very similar issue (I think the underlying problem may be the same):
[code]

http://kubekins.dls.corp.google.com:8080/job/kubernetes-e2e-gke-large-cluster/40/

[2016-06-02 13:42] rootfs commented on #26679
Note, the device path is not known by aws (and openstack/rackspace) cloud provider nor the host before the volume is attached.  The device path is known only after attachment is made to the node. Since we don't know where the Pod is going to land by the time we author the Pod, we don't know what device path will be.

Back to the requirement of not storing credentials on the node. The credentials n

[2016-06-02 13:48] wojtek-t commented on #26628
So far most of the i/o timeouts that I faced were because apiserver was down at that time.

[2016-06-02 13:51] wojtek-t commented on #26628
But it wasn't the case here...

[2016-06-02 14:07] esthermofet commented on #26292
10.0.0.0/16 will be problematic for us as our instances are in our corp IP space (10.0.0.0/8) to facilitate VPC Peering. Maybe we can adjust kubernetes (flannel?) to limit pod CIDRs to 192.168.0.0/17 then change the service cluster IP range to 192.168.128.0/something to keep them separate. But having limited understanding of some of the kube & flannel configs, not sure how to do that just yet. Any

[2016-06-02 14:25] mak3r commented on #26453
I'm following the docs for setting up a local cluster http://kubernetes.io/docs/getting-started-guides/locally/. It does seem wrong that it's sourcing GCE and yet, that is what this error
`cluster/../cluster/../cluster/gce/util.sh: line 37: gcloud: command not found`
seems to indicate.

So, I peeked into the cluster/kubectl.sh script and found some comments at the beginning stating not to use kube

[2016-06-02 14:45] ncdc opened #26712 "unit flake: TestControllerSync index out of range"
From https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/26710/kubernetes-pull-test-unit-integration/28875/artifacts/junit_v1%2Cautoscaling-v1%2Cbatch-v1%2Cbatch-v2alpha1%2Cextensions-v1beta1%2Capps-v1alpha1%2Cfederation-v1alpha1%2Cpolicy-v1alpha1%2Crbac.authorization.k8s.io-v1alpha1_20160602-071507.stdout:

[code]

[2016-06-02 14:45] ncdc commented on #26712
@kubernetes/sig-storage

[2016-06-02 14:45] pmorie commented on #26712
@jsafrane

[2016-06-02 14:48] isobina opened #26713 "Bare Metal Kubernetes cluster deployment on Ubuntu 14.04 insecure certificate"
I had an issue, with deploying Kubernetes cluster on bare metal. kube-up.sh suddenly stopped after executing successfully download-release.sh. The reason was that the following command
curl -L -O https://storage.googleapis.com/kubernetes-release/easy-rsa/easy-rsa.tar.gz > /dev/null 2>&1 was failing due to not trusted certificate. Workaround add **--insecure**.

[2016-06-02 14:52] ncdc commented on #26687
@wojtek-t I doubt it, at least based on your comments above. #23321 is about the exec just hanging, and it doesn't sound like that's what's happening here?

[2016-06-02 14:55] esthermofet commented on #26292
No success there. Our flannel config currently:

[code]

Wouldn't Kubernetes & Flannel coordinate the service cluster IP range within that managed by Flannel? Seems something is being set correctly in here as all of the other nodes in the cluster can route to that service IP.

[2016-06-02 14:58] wojtek-t commented on #26687
@ncdc - yeah - it's definitely not hanging.

[2016-06-02 15:19] feiskyer commented on #26102
@jellonek @steveeJ @dcbw  I'm working on integrating `HyperContainer` (a hypervisor-based container runtime) into kubernetes. Tap device is indeed a pre-requirement for this runtime.

I'd like to add another network plugin to support hypervisor-based container runtimes, which will create a tap-device and return the network information (same as https://github.com/containernetworking/cni/pull/145) t

[2016-06-02 15:43] k8s-merge-robot opened #26715 "[k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8301/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26425

[2016-06-02 15:53] xiang90 commented on #26185
@wojtek-t Do we limit the CPU cores for etcd?

[2016-06-02 15:55] Trane9991 commented on #6545
@thockin
Hello, I'm facing the same problem here. Pod cannot reach IP address behind VPN.
But `iptables -t nat -A POSTROUTING -s 10.192.1.0/24 ! -o cbr0 ! -d 10.192.0.0/14 -j MASQUERADE` this rule work. Is it safe to use it? Or there is a better solution for this problem?

[2016-06-02 15:58] xiang90 commented on #13117
This is already fixed.

[2016-06-02 15:58] #13117 closed

[2016-06-02 15:59] wojtek-t commented on #26185
@xiang90 - we don't have hard limits for etcd.
However, we set requests. That means that if the machine is overloaded, it will get amount of CPU proportional to (its request/sum of all requests).

That said, the machine is definitely not overloaded in general, but there may be some short spikes.

Do you suspect it that this is because of etcd being cpu-starved?

[2016-06-02 15:59] Draiken commented on #26703
Sure!
[code]
And then running
[code]
I get
[code]

[2016-06-02 15:59] xiang90 commented on #26403
@caesarxuchao Can you reproduce this locally? I tried run the test for 1000s of times, but still could not reproduce it. Do you know the machine type that fails this test?

[2016-06-02 16:01] wojtek-t commented on #26509
@janetkuo - since #26654 is merged, can we close this one?

[2016-06-02 16:01] #20469 closed

[2016-06-02 16:05] #26473 closed

[2016-06-02 16:05] #26474 closed

[2016-06-02 16:05] #26475 closed

[2016-06-02 16:05] #26482 closed

[2016-06-02 16:05] #26516 closed

[2016-06-02 16:05] #26536 closed

[2016-06-02 16:05] #26543 closed

[2016-06-02 16:07] wojtek-t commented on #26482
@fejta - why we are closing this issue without looking into it?

[2016-06-02 16:10] fejta commented on #26689
@mtaufen you are randomly assigned this test in the spreadsheet. Please take a look or else assign to @lavalamp

[2016-06-02 16:10] xiang90 commented on #26185
@wojtek-t The list path in etcd itself is pretty simple. If there is just 6 items, I do not think this is an etcd issue. I expect there is some resource starvation issues. Do you know if we can reproduce this somehow?

[2016-06-02 16:13] wonderfly commented on #26453
I agree with @mak3r that this is indeed a deprecated script that was not doing the right thing in the first place. I am going to pass the ball to @k8s-oncall for updating the documentation.

[2016-06-02 16:15] fejta commented on #26490
@vulpecula you're randomly assigned this test via the spreadsheet. Please take a look or else update the tests you own on the spreadsheet and assign to @thockin thanks!

[2016-06-02 16:16] wojtek-t commented on #26185
It seems to appear quite frequently recently in kubemark-5 - the exact configuration is here:
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-kubemark.yaml#L48

The flaki test is 30pods/node density

[I mean the flakiness rate is around ~1% which is small, but big enough to hit us]

[2016-06-02 16:18] fejta commented on #26628
@krousey you're randomly assigned this test via the spreadsheet. Please take a look or else update the spreadsheet and assign to @lavalamp

[2016-06-02 16:18] xiang90 commented on #26185
@wojtek-t 1% is significant enough for us to reproduce. We will try.

[2016-06-02 16:19] gmarek commented on #19720
@timothysc - as @yujuhong we're using n1-standard-2 machines. In bigger clusters we generally use n1-standard-1's.

[2016-06-02 16:19] j-vizcaino opened #26718 "TFTP service with external IP not accessible from outside"
#### Environment
- Kubernetes 1.2.4
- Bare-metal, CoreOS >= 991
- Flannel + VXLAN for internal cluster comm. Dedicated eth1
- Public network on eth0
- kube-proxy mode : `iptables`
- kube-proxy masquerade-all=false (default)
#### How to reproduce
- declare the TFTP service (type UDP, port 69), with clusterIP and externalIP. externalIP is a publicIP of a node.
- run a pod with TFTP service
- try to

[2016-06-02 16:20] wojtek-t commented on #26185
@xiang90 - thanks a lot. [Also kubemark 5 is relatively cheap to run wrt to amount of needed resources].
And it has n1-standard-1 master machine, which would probably be easiest to reproduce overload (if that's really the case)...

[2016-06-02 16:21] gmarek commented on #26626
@fejta - any reason why you assigned me, @zmerlynn and @yujuhong?

[2016-06-02 16:23] fejta commented on #26681
@apelisse will you talk to @jlowdermilk and see if this is similar to some of the other failing gke runs?

[2016-06-02 16:25] xiang90 commented on #26185
@wojtek-t OK. Great. FYI, usually we would log the event processing time inside etcd, and trace the requests e2e from application, to etcd and back to application. I will get back to you soon. Thanks.

[2016-06-02 16:26] wojtek-t commented on #26185
@xiang90 - awesome thanks; let me know if I can help somehow with that

[2016-06-02 16:27] fejta commented on #26626
Just based on thread activity. Please correct the assignees and/or unassign yourself whenever I do a bad job -- if it goes back to zero assiggnees I'll send to Tim/Dawn to route accordingly.

[2016-06-02 16:29] fejta commented on #26141
@rootfs @piosz  please take a look at https://k8s-testgrid.appspot.com/k8s#gce-flaky&width=20

[2016-06-02 16:30] krousey commented on #26628
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26714/kubernetes-pull-build-test-e2e-gce/42787/

I hate that the storage.googleapis.com url isn't browse-able.

[2016-06-02 16:30] pmorie commented on #26663
You can already do this.

[2016-06-02 16:31] pmorie commented on #26663
Please see #25285, which will ship in 1.3

[2016-06-02 16:33] pmorie commented on #26663
Docs PR: kubernetes/kubernetes.github.io#478

[2016-06-02 16:35] krousey commented on #26628
Looking through the api server log, there's no record of that request.

[2016-06-02 16:37] fejta commented on #26482
Feel free to reopen if it has value beyond the myriad others. I suspect most of these are dups and having so many of the same bug is just noise.

[2016-06-02 17:03] yujuhong commented on #26685
As @wojtek-t pointed out, kubelet received the pod at 06:23:01 and kubelet didn't report anything until 06:25:22 (~2min gap). The logs with lower verbosity in gke makes debugging harder:
[code]

From the docker.log, kubelet actually checked if the image was present at 06:23:01 *and* at 06:25:39.
[code]
There is no INFO level messages in docker.log to show the pull requests, but usually kubelet sta