[2015-05-31 00:51] davidopp opened #9043 "In-place rolling updates"
Our current rolling update scheme requires deleting a pod and creating a replacement. We should also have rolling "in-place" update, of both containers and pods. There are two kinds of in-place update
1) [only applies to container update] pod stays in place, but container doesn't - for example, change container image without killing pod
2) [applies to pod or container update] pod stays in place, a

[2015-05-31 00:55] davidopp opened #9044 "Auto-populate node labels with node information from cloud provider"
and add scheduling policies that allow things like spreading across failure domains (to the extent that such information is available from the cloud provider).

[2015-05-31 01:55] justinsb opened #9045 "kubectl rolling-update should not exitcode=0 when resumes an update"
Consider this:

[code]
Control-C half way through update

[code]

So the update to v3 succeeded (I think), but the update was actually to v2.

I think it should update to v3; ideally by co-opting the existing rolling-update and repointing to v3.  If we can't do that, it should completing the existing rolling-update, then rolling-update to v3.  If we can't have that, it should exit-code != 0.

[2015-05-31 01:59] davidopp commented on #8107
Thanks for the answers. I still think it would be a good idea to prototype this as a shell script that just invokes kubectl. Besides working out bugs in the overall idea, it would ensure we have something in time for the 1.0 deadline (I'm a little concerned that there might not be enough time to do the full-blown server-based version).

[2015-05-31 02:28] derekwaynecarr commented on #3201
To clarify, OpenShift serves its objects from a different API endpoint from normal Kubernetes objects.

So you go to /api/v1/... for Kubernetes concepts and you go to /osapi/v1/... for OpenShift objects, so there is some inherent namespacing based on where you go to get the resource.

Sent from my iPhone

[2015-05-31 03:37] roberthbailey commented on #9044
This seems like a cloud provider specific ask. What label would you suggest for GCE (as an example)? Or AWS? I could see how bare metal deployment might be interested in encoding which rack each node is on, but there is also the option of applying labels to nodes after the fact. e.g. if you named your machines rack1-machine1..N you could run a script that iterated over each node, split the node na

[2015-05-31 03:42] davidopp commented on #8676
Decrementing RC.Status when Kubelet starts the grace period seems like the right thing to do. (I agree with Clayton that you can't design your app such that it breaks if there are more replicas running than you want, e.g. in the case where a node becomes partitioned from the master but not from other nodes so the NodeController marks the node dead and the RC creates a replacement pod but the node

[2015-05-31 07:00] uruddarraju opened #9049 "Vagrant kube-up broken ?"
I am trying to do a kube-up on vagrant and have run into a wierd situation:

I have my minions and master provisioned successfully but the cluster validation fails stating:

[code]

Tried logging into the master using `vagrant ssh master`
Did a `docker ps` and got the following:

[code]

I see that only the pause containers have been created for the master components. I then try to debug the kubel

[2015-05-31 08:29] davidopp commented on #9044
For bare metal nodes could specify these labels when they register, as you did with hostname in #6949 (of course this begs the question how the nodes find out which labels they should register way). Or, as you say, they could come up with no labels and the user could add the labels after the fact through the API server. Labels could include things like rack, CPU type (in the case of heterogeneous

[2015-05-31 12:17] zmerlynn commented on #8107
A shell script driven by the user? That's mostly a non-starter for GKE for the same reason that `kube-addon` was moved to the server in the first place - we don't want to have to imitate the heavy client logic.

[2015-05-31 15:21] derekwaynecarr commented on #9049
I would try to recreate again to see if it occurs repeatedly.  It looks like the salt-api did not start.  On Master, do

sudo systemctl restart salt-api

Then check its status to see if it started listening on 8000.

Sent from my iPhone

[2015-05-31 15:30] andronat commented on #7027
Hello, is this still open? Because in this commit: a47716e66dc9c1f8662935f6cbbe879cc869d548 I see that multiple errors can be printed.

[2015-05-31 17:56] andronat commented on #5840
I just tested this issue by transforming `examples/guestbook/frontend-controller.json` and `examples/guestbook/frontend-service.json` into **one** yaml file and then running: `cat test.yaml | ~/gopath/bin/kubectl create -f -` and `cat test.yaml | ~/gopath/bin/kubectl delete -f -`. Both command worked with the merged yaml file.

I also tried `cat test/* | ~/gopath/bin/kubectl create -f -` by having

[2015-05-31 18:07] uruddarraju commented on #9049
@derekwaynecarr Thanks for the help. I see that the salt-api process is running but I don't see it listening on 8000.

I see that the salt-api is running though and when I tried a telnet

[code]

[2015-05-31 18:19] derekwaynecarr commented on #9049
Are you running with built code from HEAD?

There was a change to the vagrant cloud provider last week to have it listen on 10.245.1.2 to enable kubelet registration.

Is your kubelet on the node ever registering with API server if you issue a get nodes call?

Sent from my iPhone

[2015-05-31 19:07] derekwaynecarr commented on #8660
This is fixed now

Sent from my iPhone

[2015-05-31 19:08] #8660 closed

[2015-05-31 19:13] derekwaynecarr commented on #4822
If I push a secret command for kubectl is that subject to the v1 freeze?

See: https://github.com/openshift/origin/blob/master/pkg/cmd/experimental/bundlesecret/bundle_secret.go

[2015-05-31 19:22] davidopp commented on #7451
Should we file a post-1.0 issue for apiserver to merge watches, and perhaps do other kinds of batching?

[2015-05-31 20:15] smarterclayton commented on #7027
We need to specifically check and handle the IsInvalid condition and get access to the individual errors returned by the response (Ststus.details.causes)

[2015-05-31 20:24] davidopp commented on #8478
Very sorry for the delay. There is in fact a scheduling rule that explains the behavior you're seeing. See the function NoDiskConflict here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L84

The comment is:
[code]

I'm going to close this issue since it is working as intended. Please reopen if you have additional questions.

[2015-05-31 20:30] thockin commented on #8478
Can we re-purpose this bug to mean "this should work for read-only PD
mounts" ?

On Sun, May 31, 2015 at 1:25 PM, David Oppenheimer <notifications@github.com

[2015-05-31 20:39] davidopp commented on #8478
Yeah, that sounds reasonable. I'll rename.

[2015-05-31 20:41] thockin commented on #4822
It becomes A triage issue - do we think the UX is bad enough that this is
necessary?  At a glance I feel probably not, but not strongly so.

On Sun, May 31, 2015 at 12:14 PM, Derek Carr <notifications@github.com>
wrote:

[2015-05-31 20:42] thockin commented on #4822
I'll flag this a a 1.0 candidate, but I don't think it will fly.

[2015-05-31 20:47] derekwaynecarr commented on #4822
I just don't want to push something if it's not going to make it since there are other things I can look at pre-1.0.  Right now, there is NO end user experience to ease creation of secrets so was not sure if this fell under a general user experience bucket.  In practice, it is a pain to base64 and build JSON/Yaml.

Let me know, referenced command is not too big, but I can imagine nits on naming.

[2015-05-31 20:57] pmorie commented on #4822
I shoulda done something for this already :-/
On Sun, May 31, 2015 at 4:47 PM Derek Carr <notifications@github.com> wrote:

[2015-05-31 21:03] jsdir opened #9051 "Permission error when mounting volumes"
I get the following error when trying to use secret volumes in a pod:

[code]

[code]

I'm also running the cluster locally from Docker: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker.md

[2015-05-31 21:28] smarterclayton commented on #7562
The interesting part of that mindset is that shared storage is the only thing that needs a lock - therefore the proper way to manage locks on the unique nature of pods is to tie the pod to unique storage and block pod start on the acquisition of the storage lock.  Since storage (to be unique) has to manage locking, you isolate those locks in a single place.  If you can take locks via FS operations

[2015-05-31 21:30] uruddarraju commented on #9049
The API server itself has not started yet. As I posted, it failed during the creation of the apiserver, controller-manager and scheduler containers itself with the following messages:

[code]

[2015-05-31 21:32] smarterclayton commented on #1574
OpenShift implemented a "manage-node" command which models an evacuate action.  Currently it's up to the admin to decide whether the pods will be moved, but a forgiveness value on the pod could be the input to that command (just like the automatic evacuation implemented in node controller).  A node with a pod with a long forgiveness policy is also less transient, so there is potentially value in m

[2015-05-31 21:53] derekwaynecarr commented on #9049
Did you do a make clean && make release-skip-tests before calling kube-up?

Sent from my iPhone

[2015-05-31 21:59] bgrant0607 commented on #9045
This is what I call "rollover". There are actually 3 versions in play in the above scenario: v1, v2, and v3. Each requires its own template, and thus its own replication controller. If the update were killed and restarted again with v4, that would be 4 versions/RCs. We'd need to change the way we keep track of the set of RCs that need to be replaced in order to handle this. Background is in #1353.

[2015-06-01 00:37] yaroska commented on #9034
I have the same problem.

[2015-06-01 01:27] hurf commented on #5840
@andronat - I think it works fine. The issue is about json files contain `{}` as a seperator, but yaml files don't, so I don't know how to seperate multi resources in one yaml file. Now we know we can use `---` as a seperator in yaml files.

[2015-06-01 02:10] jayunit100 commented on #9023
The code for this test is now mostly cleaned up and available in  #9052

[2015-06-01 03:12] davidopp commented on #473
FYI @jdef implemented master election in files
plugin/contrib/mesos/pkg/election/etcd_master.go
plugin/contrib/mesos/pkg/election/master.go
in PR 8882
(I'm still in the process of reviewing it)

[2015-06-01 04:29] uruddarraju commented on #9049
:)

Yup, did `make clean` and `make quick-release` I'll try to debug more into this.

[2015-06-01 04:34] resouer opened #9053 "Pass ENV or template to the infra. container"
This issue is originally discussed in:https://groups.google.com/forum/#!topic/google-containers/AZPh4TbwQjg

It's about the user can't customize infra. container, for example, pass a ENV to infra. container for socketplane network usage:

https://github.com/socketplane/socketplane/blob/master/powerstrip.md

For now, our quick fix is modifiing part of code in kubelet to pass a Pod's label "SP_NETWO

[2015-06-01 06:36] codemeow5 commented on #9040
I downloaded the 0.15 k8s via build.sh. When I tried to start, the log showed "unknown tag service-cluster-ip-range".
I follow this document
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md

[2015-06-01 10:12] yanypunix opened #9054 "kube2sky.go:260] Failed to create a kubernetes client: invalid --kube_master_url specified http://10.5.39.41:8080"
kubernetes version 0.17.0
my skydns-rc.yaml
       .........
      - name: kube2sky
        image: gcr.io/google_containers/kube2sky:1.4
        args:
        # command = "/kube2sky"
        - -domain= "aaa.com"
        - -kube_master_url= http://10.5.39.41:8080
        .......

but prompt me invaild
[root@fedora3 dns]# kubectl log kube-dns-cvnhz  kube2sky
2015-06-01T10:11:13.868733844Z I0601 10:1

[2015-06-01 11:18] jdef commented on #473
In the spirit of full disclosure that package was largely copy/pasted from
a prior k8s commit that was later backed out because no components were
ready to use it.

https://github.com/GoogleCloudPlatform/kubernetes/pull/1920/commits

On Sun, May 31, 2015 at 11:13 PM, David Oppenheimer <
notifications@github.com> wrote:

[2015-06-01 11:37] cusspvz commented on #7826
I'm currently working on a [coreos cluster management](https://github.com/findhit/coreos) module (and cli) that supports multiple providers (I did start with azure because of this issue). Already got kubernetes working by deploying manually the services into the cluster.

[2015-06-01 11:40] pires commented on #9049
I'm having issues with 0.18.0 and Vagrant as  well.
[code]

[2015-06-01 11:47] AntonioMeireles commented on #9049
same here too. (under vagrant)

[2015-06-01 11:52] pires commented on #9049
@AntonioMeireles removing `--cloud_provider=vagrant` and `kube-register` fixed it for me.

[code]

[2015-06-01 11:53] pires commented on #9049
So the question remains if the `vagrant` cloud-provider code is broken.

[2015-06-01 11:53] errordeveloper commented on #9036
That's a bit odd, I'll take a look into it now.

[2015-06-01 11:54] errordeveloper commented on #8159
Perhaps it wasn't quite clear, but this has been fixed in #8323.

[2015-06-01 11:59] pires commented on #7444
@brendandburns I'm still getting errors with 0.18.0.
[code]

[2015-06-01 11:59] pires commented on #7444
It wasn't clear but it seems one needs to create the secret as per [Elasticsearch example](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/elasticsearch).

[2015-06-01 12:00] pires commented on #3698
`hazelcast` example Docker image is now tagged on `quay.io/pires/hazelcast-kubernetes` but @brendandburns and I agree it should be taken over by this project maintainers.

`quay.io/pires/hazelcast-kubernetes:0.3` is waiting on [this issue latest comments](https://github.com/GoogleCloudPlatform/kubernetes/issues/7444#issuecomment-106080138) to become clear and tested accordingly to be included in t

[2015-06-01 12:00] derekwaynecarr commented on #9049
Are you all using vagrant with virtual box or something different?  I can try to reproduce this today.  I was in process of moving vagrant to docker 1.6.

Sent from my iPhone

[2015-06-01 12:02] derekwaynecarr commented on #9049
@pires - did you change the IP address?  Expected to see 10.245.1.2 for ip of master

[2015-06-01 12:05] pires commented on #9049
@derekwaynecarr to be clear, me and @AntonioMeireles are not using the `kube-up` but rather the Vagrant + CoreOS that relies on the binaries alone and follows CoreOS documentation, which we maintain in this project.

We don't use the salt API.

[2015-06-01 12:10] pires commented on #7444
Well, I'm gonna need help with this because
[code]

/cc @AntonioMeireles

[2015-06-01 12:18] errordeveloper commented on #9036
Ok this is due to mass rename that came with 300547110093d435dfb1cd31e6337d53d92f7194, I will update the code to use latest 0.18 release.

[2015-06-01 12:19] runningwild commented on #8478
Made PR #9056 which prevents a disk conflict if both requested volumes are in read only mode.

As a side note: I comically now have the problem that slaves sometimes schedule on the same machine, is there a recommended way to avoid that?

[2015-06-01 12:22] jdk-google opened #9057 "change "kubectl get rc" to show some basic status info about the "state" of pods"
kubectl get pods is really difficult to read.
But - users need to have a way to check "has the stuff already started?".

So - maybe kubectl get rc could show some basic info about the status of pods? For example: the "replicas" column could say:

3 [2 running]

[2015-06-01 12:27] derekwaynecarr commented on #9049
Ok.  That explains it.  But you use the vagrant cloud provider interface?

Sent from my iPhone

[2015-06-01 12:36] pires commented on #9049
@derekwaynecarr used to, but removing it made the trick. It seems the code now that supports it is very opinionated about how you provision your cluster, right?

[2015-06-01 12:37] stevesloka commented on #8682
@tanmaybinaykiya Thanks for your suggestion, that indeed was the problem. I was using an existing key-pair and needed to set the following env variable: AWS_SSH_KEY

E.g: `export AWS_SSH_KEY=~/.ssh/kubernetes`

[2015-06-01 12:37] #8682 closed

[2015-06-01 12:40] justinsb commented on #8682
Thanks for figuring this out... I am going to try to improve the handling of SSH keys in the script (at the very least, it shouldn't fail silently!)

[2015-06-01 13:07] kargakis commented on #9002
@bprashanth the test that hangs is [this](https://github.com/openshift/origin/blob/master/hack/test-cmd.sh#L576-L581) ([JSON/YAML files](https://github.com/openshift/origin/tree/master/test/fixtures/app-scenarios) - nevermind `osc status`).

I cannot reproduce the timeout locally but I can see it hanging for some time while waiting to update the replica status of a random rc: http://pastebin.com/c

[2015-06-01 13:14] resouer commented on #7332
@roberthbailey Is it possible to sync contents in gcr.io to hub.docker.com somehow? If Google feels tricky to do so, we'd like to do it. Just provide us a method to achieve that. :smile:

[2015-06-01 13:26] stevesloka commented on #8682
@justinsb Sounds great, thanks for the help with this. Until you have the script updated, I added a PR to add this variable to the docs (#9061).

[2015-06-01 13:59] brenton commented on #9013
From discussions on the OpenShift side it sounds somewhat related however what we're talking about is a reasonable (but arbitrary) timeout set.  Users of `kubectl logs -f <pod>` are subjected to this timeout with no good way to pick up where they left off to avoid redownloading potentially large quantities of logs.

[2015-06-01 14:06] erictune commented on #9054
why is the letter "X" in the --kube_master_url?

[2015-06-01 14:07] timothysc commented on #5461
@jayunit100 ^ could you please verify.

[2015-06-01 14:14] erictune commented on #9051
What is your docker version?  Needs to be 1.6.
What options are you using to run the kubelet?  Should be passing `--containerized`.
Are you using SELinux?

[2015-06-01 14:16] erictune commented on #9051
@pmorie knows the most about this area.
I just asked the questions that he asked in #8734

[2015-06-01 14:23] jszczepkowski commented on #8748
I'll gladly work on it.

[2015-06-01 14:25] thockin-cc commented on #9040
0.15 is more than a month old.  Try 0.18 or else switch back to
--portal-net and PORTAL_NET flags.
On May 31, 2015 11:36 PM, "codemeow5" <notifications@github.com> wrote:

[2015-06-01 14:37] jayunit100 commented on #5461
sure , ill look into this now.

[2015-06-01 14:47] yaroska commented on #9036
Thank you very much, Ilya.
Is it possible to add some error handling? Because now script process without an error but nothing works.

[2015-06-01 14:50] jszczepkowski opened #9062 "Reboot e2e test is flaky"
Two cases of Reboot e2e are flaky on Jenkins: unclean reboot (echo b | sudo tee /proc/sysrq-trigger) and kernel panic (echo c | sudo tee /proc/sysrq-trigger). They reboot only one node, while reboot of the second doesn't happen and causes test timeout:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-reboot/123/console
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-reboot/120

[2015-06-01 14:50] jszczepkowski commented on #9062
CC @quinton-hoole

[2015-06-01 14:54] errordeveloper commented on #9036
@yaroska it'd be great to chat over on IRC, I'm not sure what exactly did you do and what didn't work... I'm `errordeveloper` in Freenode.

[2015-06-01 14:58] errordeveloper commented on #9036
@yaroska feel free to post details here, but IRC might be just a bit easier :)

[2015-06-01 15:00] errordeveloper commented on #9036
This should be fixed with #9060.

[2015-06-01 15:03] errordeveloper commented on #9034
Can someone close this please, it's a duplicate of #9036.

[2015-06-01 15:04] errordeveloper commented on #8460
Should be closed, as #8323 is merged and there is even #9060 for 0.18 :+1:

[2015-06-01 15:15] jayunit100 commented on #5461
I see the exact same thing w/ k8petstore polling which uses the public ip and makes requests every second.

![screen shot 2015-06-01 at 11 14 41 am](https://cloud.githubusercontent.com/assets/826111/7916063/896f7bb6-084f-11e5-8272-68dfa610d909.png)

[2015-06-01 15:32] jayunit100 commented on #5461
also, confirmed that its  periodic,
![screen shot 2015-06-01 at 11 31 25 am](https://cloud.githubusercontent.com/assets/826111/7916435/c91df632-0851-11e5-87e1-d8c28e421fb6.png)

[2015-06-01 16:05] bgrant0607 commented on #5840
@andronat Without a separator, multiple YAML objects are treated as a single map.

[2015-06-01 16:08] andronat commented on #5840
Do we want to enable it without `---` separator?

[2015-06-01 16:14] rjnagal commented on #8159
closing as fixed. Thanks @errordeveloper

[2015-06-01 16:14] #8159 closed

[2015-06-01 16:17] smarterclayton commented on #7843
As Brian noted that separation was definitely intentional - "-o" should be our vehicle for delivering porcelain and user focused views.

[2015-06-01 16:20] idosh commented on #8460
Thank you!

[2015-06-01 16:20] #8460 closed

[2015-06-01 16:23] #7381 closed

[2015-06-01 16:25] thockin commented on #5461
This looks like sessions being kept alive at @mkulke's rev-proxy or at @jayunit100's public IP balancer.  I can not repro this directly.

[code]

[2015-06-01 16:30] thockin commented on #5461
For stronger evidence:

[code]

[2015-06-01 16:33] RichieEscarez commented on #8969
Im working on moving all non-Kubernetes Contributor content (all docs not targeted at developers) into [Kubernetes.io](http://kubernetes.io/). Kubernetes.io should reflect HEAD and not be frozen (snapshotted) so we can continue to resolve doc bugs, fill doc gaps, and add new content.

Its too much overhead to try and document every version (ie. 0.17) and would be a maintenance nightmare and a publ

[2015-06-01 16:34] jayunit100 commented on #5461
yup, shall we close? from what i can see.
- deleting the namespace  cleans up all connections
- net maximum open connections doesnt increase globally even under high request load

[2015-06-01 16:35] roberthbailey commented on #7332
I'm not sure, but @mattmoor might know.

[2015-06-01 16:39] roberthbailey commented on #8969
I think this is a recipe for disaster. Documentation at head should match code at head, not code at the latest stable release. Otherwise developers will have no idea of the current state of the project and we will have a huge backlog of documentation PRs that get merged at the same time we cut a release.

Why can't we sync documentation on kubernetes.io to the latest stable release branch? If we f

[2015-06-01 16:42] mkulke commented on #5461
hi there,

plz have a look at this one, it is related i guess: https://github.com/GoogleCloudPlatform/kubernetes/issues/8891

[2015-06-01 16:45] wattsteve opened #9064 "Pods using NFS Persistent Volume failing with GO panic exception"
When I submit a pod that mounts a NFS Volume Claim, the pod is never started on the scheduled Kubernetes Node.

Version: v0.17.1-915-g6fa2777e26559f

Error on the Kubelet: http://pastebin.com/Yjdj41cF
PV definition and demonstration that the NFS server is working: http://pastebin.com/dRktZPWb
Pod and Claim Files: http://pastebin.com/J6GhKipL

[2015-06-01 16:48] RichieEscarez commented on #8969
The way the "GitHub Pages" feature works is that whats in HEAD of the gh-pages branch gets published to Kubernetes.io. Ill look into what options we have here? Maybe we create and maintain a new "gh-pages-HEAD" branch so that branch acts as doc HEAD and aligns (in sync) with developments HEAD (therefore doc HEAD content is not automatically published and we can control when to push "gh-pages-HEAD"

[2015-06-01 16:49] roberthbailey commented on #8315
@fgrzadkowski is this still a problem or can it be closed?

[2015-06-01 16:56] thockin commented on #5461
@jayunit100 This issue is already closed. :)  The only fix here would be to force-close sockets after a timeout, which seems sort of hostile since we are "just" a proxy.

@mkulke can you repro my results without your extra reverse-proxy?

[2015-06-01 16:57] thockin commented on #8891
Same on the file-handles bug - I can not repro the leak - I think you have something holding TCP sessions alive.

[code]

[2015-06-01 16:59] thockin commented on #9064
#9055 should fix this

[2015-06-01 16:59] #9064 closed

[2015-06-01 17:01] thockin opened #9066 "GCE Cluster turnup should fail if stale routes exist"
I have been bitten by this twice - conflicting routes that exist when my cluster comes up.  This causes REALLY hard to debug network issues.  I would rather that cluster turnup be aborted.

[2015-06-01 17:09] davidopp commented on #8382
@bprashanth will #8495 fully fix this problem or do we need to do more?

(#8335 is marked as post-1.0)

[2015-06-01 17:12] davidopp commented on #8119
@timothysc since we're trying to close out the 1.0 issues, it would be great if you can prioritize helping us with this.

[2015-06-01 17:12] bprashanth commented on #8382
https://github.com/GoogleCloudPlatform/kubernetes/pull/8495 should be enough. https://github.com/GoogleCloudPlatform/kubernetes/issues/8335 is more about saying the pod state is unknown when the node state is unknow (or something to that effect, to reduce the confusion).

[2015-06-01 17:12] bprashanth commented on #9057
We're fixing that :)
Fyi https://github.com/GoogleCloudPlatform/kubernetes/issues/7843.

I don't see why not, @bgrant0607 thoughts? I would still leave out the `running` part because the rcs `status.Replicas` doesn't know what state the pods are in (they could be in pending).

[2015-06-01 17:13] bgrant0607 commented on #8087
Loose ends exposed by the API:
* Minions
* LegacyHostIP
* ContainerManifest
* PodContainerInfo
* externalID

Non-critical cleanups:
* `pkg/api/validation/validation.go`
* `pkg/api/validation/testdata/v1beta1/*`
* `pkg/config/config_test.json`
* `cluster/ubuntu/skydns-*.yaml.template`
* `pkg/api/testapi/testapi_test.go`
* `examples/k8petstore/k8petstore.sh`
* `pkg/registry/generic/rest/streamer_tes

[2015-06-01 17:13] davidopp commented on #8107
@marekbiskup Can you summarize your progress on this? This is a pretty big project given the time constraints; is it possible to parallelize the work?

[2015-06-01 17:14] davidopp commented on #8082
@piosz Can you give an update on your progress?

[2015-06-01 17:15] davidopp commented on #7963
@lavalamp can you update the status on this?

[2015-06-01 17:15] mkulke commented on #5461
@thokin: i'll try that later, but i suspect everything will be fine. The problems seem to be related to keepalive connections from proxy to backend. While those can be turned off, it this is a pretty common scenario (vanilla apache conf on rhel7 + vanilla tomcat7) and users can eventually break/slow down a cluster by submitting misconfigured pods.

[2015-06-01 17:18] thockin commented on #5461
ACK.  We could close connections from the middle (the kube-proxy) but I am
worried about the semantic change that introduces.  If someone worked up
that PR we could at least test it.  We have that for UDP (because no
connections) so it should mostly be following the same pattern.

On Mon, Jun 1, 2015 at 10:16 AM, Magnus Kulke <notifications@github.com>
wrote:

[2015-06-01 17:22] zmerlynn opened #9067 "Upgrade from 0.18.0: CA_CERT_BASE64: unbound variable"
We need to be squelching the auth variables on upgrade anyways, but this complaint gets issued (and it proceeds anyways):

[code]

cc @roberthbailey @saad-ali

[2015-06-01 17:24] bgrant0607 commented on #9057
Re. get pods, see #7843

[2015-06-01 17:26] #7842 closed

[2015-06-01 17:26] #8240 closed

[2015-06-01 17:26] thockin commented on #7472
Closing this.  kube2sky now generates both names and #8569 covers the kubelet change.

[2015-06-01 17:26] #7472 closed

[2015-06-01 17:28] bgrant0607 commented on #9057
Get RCs should not pull in pod status. Describe can do that:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/describe.go#L419

We could expand that output if that would be helpful.

Once #7843 is resolved, it should be easy to tally the number of running containers using get pods piped into awk or somesuch.

[2015-06-01 17:28] davidopp commented on #7561
@wojtek-t is on vacation for the next couple of weeks, so we should either reassign or close if we think #8998 is sufficient. @roberthbailey what do you think?

[2015-06-01 17:29] #8395 closed

[2015-06-01 17:29] #8382 closed

[2015-06-01 17:29] davidopp commented on #7051
@jszczepkowski can you summarize what additional work there is for this issue? is #8862 (and #8784) sufficient or will there be additional tests?

[2015-06-01 17:31] bprashanth commented on #7561
When the gce issues are fixed feel free to re-assign to me, I can track the progress of the test on jenkins and follow up on this bug.

[2015-06-01 17:36] derekwaynecarr opened #9068 "kubectl run is reporting an error on HEAD"
I execute:

[code]

[2015-06-01 17:40] piosz commented on #8082
As for now cluster upgrade is tested in the following way ([details here](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/)):
1. create cluster
2. run e2e
3. upgrade
4. run e2e
Once #9063 will be merged we want to add the following steps:
5. kube-push
6. run e2e

I implemented first version of load generator (as load e2e test) and wanted to improve it and possibly make stable if

[2015-06-01 17:42] derekwaynecarr commented on #9068
Appears to be related to changes made in this PR:

https://github.com/GoogleCloudPlatform/kubernetes/pull/8804

[2015-06-01 17:43] #8694 closed

[2015-06-01 17:52] derekwaynecarr commented on #9068
Looks like the change here:

https://github.com/GoogleCloudPlatform/kubernetes/pull/8804/files#diff-961b43a40b4bf2300c985aa16ebcc813L119

```expose``` should have a different set of param names than ```run```

[2015-06-01 17:53] derekwaynecarr commented on #9068
Looks like they do have a different set of names, but for ```run``` the wrong default was set.

[2015-06-01 17:56] caesarxuchao opened #9070 "Add v1 tests"
#8917 deletes tests for deprecated apis. Now we will add tests for v1. I will make several small PRs and refer to this issue.

@bgrant0607 @krousey @nikhiljindal

[2015-06-01 18:05] shettyg opened #9072 "A way to obtain the API server IP address from the network plugin."
After a pod's network container gets created, a call is made to the network plugin (documented here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/network/exec/exec.go).

One way for the network plugin to get context information about a pod is to contact the api server to get information about the pod. To do that, the network plugin needs to know the IP address and port

[2015-06-01 18:09] yujuhong commented on #8683
@davidopp, I agree that mirror pod should reflect the true status of the static pod running on the node, and no default values should be set in this case. However, I think it'd be harder to implement this way since, as stated above, that there are many things to circumvent in the apiserver itself. It could also be harder to keep this special case from being broken by a yet another new feature/plug

[2015-06-01 18:26] lavalamp commented on #7963
This will be fixed when #8155 merges.

[2015-06-01 18:40] erictune opened #9075 "Do not break CoreOS when deprecating kubernetes-ro"
CoreOS does not have an equivalent to "kube-addons.sh", and so there are not system secrets created when the cluster is created.   So, when some of our CoreOS users run things like the Hazelcast example, or the elasticsearch example, they currently rely on kubernetes-ro to reach the apiserver.  When kuberenetes-ro support is removed (#8155), these examples will still work on GCE, because they can

[2015-06-01 18:40] erictune commented on #9075
@pires

[2015-06-01 18:49] erictune opened #9076 "Inconsistent use of service-accounts, .kubeconfig, and kube-addons secrets."
Making a serviceAccount causes automatic creation of a secret with an apiserver authn token.  But it does not generate a kubeconfig file holding the token.

kube-addons.sh makes secrets with tokens AND kubeconfigs.  But it does not make a ServiceAccount.  It also does not run on non-GCE platforms.

Our addons (logging, monitoring, dns) rely on secrets with secrets from the second category.

We sho

[2015-06-01 18:49] erictune commented on #9075
My preferred solution is #9076.

[2015-06-01 18:50] erictune commented on #9075
Under this solution, we would update the docs for hazelcast, elasticsearch, etc, to show how to create a service account for the pods, and tweak the code in the clients to look for the token in the right place.

[2015-06-01 18:53] liggitt commented on #9076
adding in a kubeconfig that wraps up the token (along with CA, etc) is on my list, but not at the top of it

[2015-06-01 18:57] pires commented on #9075
@erictune I'm ok with current `elasticsearch` example approach where we create a service account. Thing is we need a `token` that's supposedly available in the output of `kubectl config view`, but in my/our case this is empty. So no `token`, no service account, no fun.

I'm open to any of the proposed solutions but favor #9076 as well, as it feels more secure than just leaving a read-only port acc

[2015-06-01 18:58] RichieEscarez commented on #7514
Hi @a-robinson,

Sorry, Im not familiar with networking in vagrant but I found this [Accessing the guestbook site externally](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook#accessing-the-guestbook-site-externally) section in the other guestbook example, and so Im wondering if it covers the missing "external networking for vagrant users" info?

I also found that th

[2015-06-01 19:09] thockin commented on #6666
A minified form of our supported schema:

[code]

yields

[code]

@bgrant suggested inserting subset structure here, but I am not convinced it is helpful nor that it is not harmful.  Suggest we do simplest thing now and re-evaluate that (should not affect users).

The biggest problem is with the random names - when kube2sky restarts it will need to either blow everything away (bad because DNS coul

[2015-06-01 19:11] thockin commented on #8010
Fixed by #8140

[2015-06-01 19:11] #8010 closed

[2015-06-01 19:14] thockin commented on #8314
Status on this - Abhishek, you're the assignee but I know you're on other stuff - what's the plan here?

@vishh

[2015-06-01 19:29] TomasTomecek commented on #9013
To me, it would make sense if the api endpoint had argument which would fetch logs from line `N` (it's easy to track on client on which line we're at), exactly what `tail -n +N` does:

[code]

I'm assuming that kubelet gets logs using docker api, unfortunately there is no such thing in docker's api:

[code]

[2015-06-01 19:34] bgrant0607 commented on #6666
Specifically, I suggested that DNS reflect the substructure we have in Endpoints, by creating one SRV record and one CNAME per subset, with each CNAME expanding into A records for all pods in that subset. In addition to whatever efficiency might be gained from fewer records and fewer lookups, it would also make it easier for a human to understand the topology of the service (e.g., how many pods us

[2015-06-01 19:36] timothysc commented on #8119
@davidopp ack, I'm looking @ #9031 now.

[2015-06-01 19:44] thockin opened #9078 "DNS: remove back-compat for old-style names in kube2sky"
Some time around 1.0 release.

[2015-06-01 19:46] jmccormick2001 commented on #7562
sorry about the disconnect, if the pod is guaranteed to always start on the same original node, then all I would need for my use case is  access to local storage on that node and an ability to specify the ownership/perms.

[2015-06-01 19:46] thockin opened #9079 "DNS: If nodes use 3 nameservers or > 3 search records -- trouble"
Linux's libc is impossibly stuck ([see this bug from 2005](https://bugzilla.redhat.com/show_bug.cgi?id=168253)) with limits of just 3 DNS `nameserver` records and 6 DNS `search` records.  Kubernetes needs to consume 1 `nameserver` record and 3 `search` records.  This means that if a local installation already uses 3 `nameserver`s or uses more than 3 `search`es, some of those settings will be lost.

[2015-06-01 20:09] bprashanth commented on #8676
We should fix how kubectl stop rc interacts with the rc manager. The specific issue that causes confusion is as follows:

- We have an rc with 200 replicas, with 20qps this takes 20s to start
- Under normal conditions, we would create 200 replicas, and update status.Replicas=200 10s later
- If someone calls kubectl stop 1s after kubectl create, kubectl will observe the status.Replicas=0 and mistak

[2015-06-01 20:17] thockin commented on #9072
Thanks for filing this.  It's a good point.  We could pass the apiserver URL as part of the commandline, but that won't provide a token to actually access the API server.  Will have to think about it.

@jainvipin
@rajatchopra
@mrunalp

[2015-06-01 20:23] thockin commented on #7562
It's not "guaranteed" - if the node is dead (no reply for some number of
minutes) all pods are moved elsewhere - that's why I called it a "strong
preference".  This is not a per-pod configurable.

To do this correctly is tricky because there's a new lifetime to manage.

On Mon, Jun 1, 2015 at 12:46 PM, Jeff McCormick <notifications@github.com>
wrote:

[2015-06-01 20:23] ArtfulCoder commented on #8314
@thockin
There are two parts to the solution:
1. For components that belong to kubernetes, e.g. kube2sky, the apiserver hostname to use is the host name of the master node. e.g. kubernetes-master.
@vishh is working on that :  https://github.com/GoogleCloudPlatform/kubernetes/pull/8718/files

2. For user-defined pods who are unaware of the master node name, they will use the internal dns name of th

[2015-06-01 20:31] bgrant0607 commented on #4348
@smarterclayton Does jsonpath count as an existing syntax?

[2015-06-01 20:33] vishh commented on #8314
How will #8718 address this issue? IIUC, kube2sky needs to use the public
master IP to connect to the master securely. #8718 is making kube2sky use
the 'kuberbetes' service VIP (10.0.0.2).

On Mon, Jun 1, 2015 at 1:24 PM, Abhi Shah <notifications@github.com> wrote:

[2015-06-01 20:36] thockin commented on #8314
This bug is about (if I recall the resolution) using salt to stick the
master's name (as defined at cluster birth) into the DNS config.

On Mon, Jun 1, 2015 at 1:33 PM, Vish Kannan <notifications@github.com>
wrote:

[2015-06-01 20:37] edword commented on #8571
Not sure if it's from the same issue/regression, but we seem to be seeing something similar on GCE/GKE as well :

/etc/resolv.conf:
domain c.gl.internal.
search c.gl.internal. 819891788074.google.internal. google.internal.
nameserver 169.254.169.254
nameserver 10.240.0.1

ping:
PING k8s-gl-integration-master.c.gl.internal (10.240.221.250) 56(84) bytes of data.
64 bytes from k8s-gl-integration-mast

[2015-06-01 20:37] smarterclayton commented on #4348
Yes, even though I think it's strictly less elegant as a syntax than jq allows.

[2015-06-01 20:38] erictune commented on #9068
@kargakis

[2015-06-01 20:42] eparis commented on #4348
I won't pretend to have a strong opinion. But if we want something incredibly complex the golang template language should work. I sorta feel like this is for human read-ability and consume-ability, and the one web page @brendandburns listed makes me feel like JSONPath beat jq on that front...

[2015-06-01 20:43] roberthbailey commented on #8314
Once #8314 goes in I think this may end up as a dupe of https://github.com/GoogleCloudPlatform/kubernetes/issues/8480. I have some pending salt changes to secure the connection between kube2sky and the master.

[2015-06-01 20:44] #8327 closed

[2015-06-01 20:47] #8745 closed

[2015-06-01 20:52] davidopp commented on #8683
Sure, if you think the annotation approach is easier, I would go with that.

I guess in the case Brian mentoined (master adds a new API field with a default value), you would not update the mirror pod, because the static pod definition has not changed?

[2015-06-01 20:53] #9001 closed

[2015-06-01 20:54] erictune commented on #8985
fixed by 8986

[2015-06-01 20:54] #8985 closed

[2015-06-01 20:56] smarterclayton commented on #4348
I'm fine with JSONPath - the elegance is on some of the deeper semantics.

[2015-06-01 21:04] thockin opened #9083 "RBD json tags don't match field names"
There may be others but I saw this today...

[code]

I think that, in general we want field names and JSON tags to match unless there's a good reason for them not to.  I see no good reason here.  Probably field names should change, leaving tags (the API) untouched.

@markturansky @rootfs

[2015-06-01 21:05] jayunit100 opened #9084 "Un-Pend the FULL namespace drain test"
in #8434  we merged in a test which
- right now we confirm 90% of 100 namespaces are deleted : ( `func() { extinguish(c, 100, 10, 150) })`) in a timely manner.
-  Lets remove `PIt` for the 100% drainage test .... `func() { extinguish(c, 100, 0, 150) })` .  Right now, this doesnt always pass easily, but that will clear up eventually.

cc intersted parties @vmarmol  @derekwaynecarr @timothysc @rrati

[2015-06-01 21:07] #7400 closed

[2015-06-01 21:11] bprashanth commented on #7451
The batching should fallout naturally when we implement an index layer https://github.com/GoogleCloudPlatform/kubernetes/issues/4817

[2015-06-01 21:11] #9068 closed

[2015-06-01 21:14] rajatchopra commented on #9072
My take is that this is an admin thing. The cluster admin starts the kubelet and other system components like kube-proxy, container runtimes (docker/rocket..) and thus it falls upon as the admin's duty to configure the network plugin too (with the appropriate args required to reach apiserver).

Couple of options exist nevertheless.
 - If there are config components over and above kubelet, then one

[2015-06-01 21:18] brendandburns opened #9085 "Kubelet doesn't attempt to re-register"
In the process of setting up HA, I blew away my master state, which means that node information was lost.  The kubelet doesn't attempt to re-register itself.  It probably should.

This isn't a v1.0 feature, though.

@dchen1107

[2015-06-01 21:18] brendandburns commented on #9085
An alternative would be to suicide if the node is no longer present on status update.

[2015-06-01 21:30] bgrant0607 opened #9087 "0.18.1 release"
This issue is for accumulating cherrypicks for 0.18.1.

* Fix for kubectl run: #9071
* Fix for kubectl exec (not fixed yet -- was broken by PR #8604)

cc @jlowdermilk @roberthbailey @zmerlynn

[2015-06-01 21:34] thockin commented on #9072
Kubelet should act as a local mirror of the apiserver for pod info, but I
don't think it does yet.

On Mon, Jun 1, 2015 at 2:15 PM, Rajat Chopra <notifications@github.com>
wrote:

[2015-06-01 21:47] bgrant0607 commented on #8524
This really should be part of best practices documentation -- #7257

[2015-06-01 21:48] bgrant0607 commented on #8527
This is sort of deliberately obscure for now, due to uncertainty about the future of the events API.

[2015-06-01 21:49] bgrant0607 commented on #8514
Which config files?

[2015-06-01 22:12] bgrant0607 commented on #9070
Part of #7018

[2015-06-01 22:15] roberthbailey commented on #9085
Which master state? All of etcd? etcd and the filesystem?

If a node stops being able to communicate with the master, it should restart the registration state machine (e.g. moving it's state back to unregistered) without needing to be restarted.

[2015-06-01 22:36] davidopp commented on #8661
Hi. Some of the issues you mentioned are discussed in #7351 (although some of the codepaths were changed in #6949).

If you pass --register-node flag to Kubelet (defaults to true), then Kubelet will create the Node object representing itself at startup, and will keep re-creating it even if you delete it via the API server; the code in Kuebelet is here:
https://github.com/GoogleCloudPlatform/kubern

[2015-06-01 22:57] bgrant0607 commented on #9043
I agree we'll eventually want this, but...

There are very few in-place, non-disruptive updates that we can actually do right now. For instance, Docker doesn't support resource changes, so we'll need to work around that using cgroup_parent. Resource changes will also complicate admission control in kubelet.

Decoupling lifetime of local storage from the pod is discussed in #7562 and #598, which wo

[2015-06-01 23:04] bgrant0607 commented on #8957
Ref #8087

[2015-06-01 23:05] kprobst commented on #8514
From Amy: One particular case was with the cluster/gce/config-default.sh file.  The user was trying to add another item to the minion scope lists, and added a stray comma.  This caused the deploy to eventually fail after a long interval, but no information was surfaced as to why.  He spent a long time investigating other things.
[Probably there are lots of similar cases].

I'm guessing that some p

[2015-06-01 23:09] bgrant0607 commented on #8514
That's not even a "config file". It's a shell script. Not sure what we can do about that, short of the Big Fix of replacing all the scripts.

[2015-06-01 23:09] bgrant0607 commented on #8514
See also #5472

[2015-06-01 23:15] #8007 closed

[2015-06-01 23:19] bprashanth commented on #9002
Ok, lets get your kubectl pr in, that should help clear out some of the confusion. After that we can add some rc stop benchmarks.

[2015-06-01 23:21] bgrant0607 commented on #4822
The code-complete deadline for 1.0 is basically Friday, so I'd prefer to defer this until after the big 1.0 push if possible.

[2015-06-01 23:24] bgrant0607 commented on #4822
Previous attempt to do something in this space was #7975.

[2015-06-01 23:27] bgrant0607 commented on #4822
More generally, I'd be happy to have support for "experimental" commands in kubectl.

I'll take a look at bundle-secret.

[2015-06-01 23:31] bgrant0607 commented on #3201
API extensibility is a priority for post-1.0.

[2015-06-01 23:39] vishh opened #9089 "Unable to run e2e on dev cluster"
I used to be able to run e2e tests against my development cluster. I am unable to do so anymore.

[code]

[code]

[2015-06-01 23:46] tobegit3hub commented on #7332
Now we solve the problem by running these two commands. And not so bad.

[code]

[2015-06-01 23:55] bgrant0607 commented on #8524
And in https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/labels.md

[2015-06-01 23:56] daizuozhuo commented on #4348
So we have reach the agreement that we will use jsonpath instead of jq. I will make another pull request.

[2015-06-01 23:58] bgrant0607 commented on #8526
Did the user try log --previous? #7973

[2015-06-01 23:59] bgrant0607 commented on #8526
See also #4640

[2015-06-02 00:00] bgrant0607 commented on #8525
Example? Docker shouldn't be invoked by kubectl, so I don't understand the reported issue.

[2015-06-02 00:03] bgrant0607 commented on #7843
I'm not a fan of the multi-row column format with explicit borders, though:
https://github.com/GoogleCloudPlatform/kubernetes/pull/9032#issuecomment-106978927

I suppose I wouldn't strongly object to another output format that used that, but I wouldn't make it the default.

[2015-06-02 00:09] tobegit3hub opened #9090 "In web UI redirect / to actual URL"
I follow the instruction to start the kubernetes web UI. It's 404 when I open http://127.0.0.1:8080 . Finally  I knew that the correct directory is http://127.0.0.1:8080/static/app/#/dashboard/ .

We should start the web ui in root directory(I mean http://127.0.0.1:8080) so that anyone like me will not be confused.

[2015-06-02 00:09] shettyg commented on #9072
@rajatchopra

Apart from thockin's response above,
I did not know something like this can be done. How does one get pod level information from kubelet in a minion? I tried to get lucky by copying kubectl to a minion and ran:
[code]
That did not help as I got a
[code]

Is there a tool to specifically query information from kubelet?

[2015-06-02 00:10] geetachauhan commented on #6134
I am getting 403 Server error while trying to pull k8s images. Running on Ubuntu 14.04 LTS. Problem persist even after upgrading to latest version of docker:

$ docker pull gcr.io/google-containers/kube2sky:1.1
Pulling repository gcr.io/google-containers/kube2sky
011d96737112: Error pulling image (1.1) from gcr.io/google-containers/kube2sky, Server error: 403 trying to fetch remote history for 011

[2015-06-02 00:10] davidopp commented on #7451
In that case should we close this issue?

[2015-06-02 00:10] bgrant0607 commented on #8827
More generally, my interpretation of this is that it would be useful to be able to declaratively update an existing pod template (e.g., via an edit command #8263) and kick off a rolling update. I agree with that. However, the Right Way to do that would be via configuration reconciliation (#1702) with a runtime object that managed the rollout (i.e., Deployment #1743).

[2015-06-02 00:13] bprashanth commented on #7451
Lol, I think we already did on April 28

[2015-06-02 00:14] bgrant0607 commented on #8827
@aronchick Please file a separate issue for the obscure error message.

[2015-06-02 00:22] davidopp commented on #7451
Oops :)

[2015-06-02 00:30] lavalamp commented on #9075
Pods get a default service account, so you don't have to do anything special to get that.

You do have to either start using the auth info from the service account (preferred solution), or if you have a legacy container that you can't modify, run kubectl in a side-car container and use its proxy feature to get a local proxy of apiserver that doesn't need auth for your legacy application. #8155 add

[2015-06-02 00:30] JeffPaine opened #9091 "Add "The Kubernetes Github Workflow" to docs/devel/"
I'd like to suggest converting the content of "[The Kubernetes Github Workflow](https://docs.google.com/presentation/d/1HVxKSnvlc2WJJq8b9KCYtact5ZRrzDzkWgKEfm0QO_o/pub?start=false&loop=false&delayms=3000&slide=id.g8c9142d48_00)" from google docs preso to markdown for inclusion in `docs/devel/`.

These slides contain important info for new contributors which would ideally appear right in the dev do

[2015-06-02 00:35] lavalamp commented on #9076
Yeah, addons should all use service accounts and we should stop using the special tokens.

[2015-06-02 00:36] JeffPaine commented on #9091
I'd offer that `docs/devel/development.md` is the right place to include this info.

[Keeping your development fork in sync](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/development.md#keeping-your-development-fork-in-sync) covers some of the content of the presentation, but the other sections in devlopment.md that discuss forking the project contradict the contents of

[2015-06-02 00:51] apatil commented on #8609
I just got this by putting booleans and integers with no quotes in a yaml environment section, eg:

[code]

Fixed it by replacing `587` with `"587"`, but to figure that out I had to step through the env lines with emacs, deleting them and then attempting `kubectl create`. :)

[2015-06-02 01:22] lavalamp commented on #5783
This was implemented a while ago.

[2015-06-02 01:22] #5783 closed

[2015-06-02 01:34] yanypunix commented on #9054
yes, 10.5.X.41=10.5.39.41

[2015-06-02 01:35] WIZARD-CXY commented on #9090
/sub

[2015-06-02 01:39] WIZARD-CXY commented on #9040
@codemeow5 I'm the maintainer of the ubuntu k8s approach.I will bump the version to 0.18 soon

[2015-06-02 01:48] #9040 closed

[2015-06-02 02:55] smarterclayton commented on #7501
I believe I've fixed this with https://github.com/emicklei/go-restful/pull/203

[2015-06-02 03:04] smarterclayton opened #9097 "Generate API documentation for Kubernetes using Swagger"
I'm in the process of generating AsciiDoc / Markdown from swagger specs.  General goals:
1. Generate documentation files suitable for inclusion into formal docs (OpenShift uses AsciiDoc -> DocBook)
2. Generate tables and examples for all objects that correctly represent the action
3. Have richer descriptions for each object and operation than we currently include, so that users understand what the

[2015-06-02 03:10] smarterclayton commented on #9097
We don't set `util.Time` to `date-time`... intentional?

[2015-06-02 03:11] smarterclayton commented on #3996
Do we remember why we supported TRACE beyond completeness?

[2015-06-02 03:16] roberthbailey commented on #9054
I don't see why you'd be getting that error, a simple example program doesn't reproduce it (http://play.golang.org/p/8ZwUyHocm8).

[2015-06-02 03:20] smarterclayton commented on #9097
Swagger 1.2 and 2.0 don't support TRACE - https://github.com/swagger-api/swagger-spec/issues/325

[2015-06-02 03:35] thockin commented on #9091
I think the truth is that many workflows work just fine.  We documented the
simplest one for people who are not deeply familiar with Git (we had to
on-board a lot of people very quickly).  I'm very much in favor of better
documentation and making it more available, but I don't think we need to
demand consistency in this - Got is a powerful tool that many people use in
different but equally valid w

[2015-06-02 03:52] bgrant0607 commented on #7501
Yep. For example:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1beta3.json#L10849

[2015-06-02 03:52] #7501 closed

[2015-06-02 04:02] kprobst commented on #8526
https://github.com/GoogleCloudPlatform/kubernetes/issues/4640 seems to sufficiently address this issue. Can we close this out as a dupe?

[2015-06-02 04:20] jlowdermilk opened #9100 "e2e DNS regression"
Started failing this afternoon around 3pm
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/6579/testReport/(root)/Kubernetes%20e2e%20suite/DNS_should_provide_DNS_for_the_cluster/history/

I don't see any merges that look suspect... did we build and upload a new version of the dns addon containers (kube2sky, etc)?

@satnam6502, @quinton-hoole, @ixdy

[2015-06-02 04:38] thockin commented on #9100
@vishh @artfulcoder nothing changed today AFAIK ?

On Mon, Jun 1, 2015 at 9:21 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-06-02 04:41] thockin commented on #7299
That's a ToC of what we have, not necessarily what we want.

On Fri, May 29, 2015 at 5:18 PM, Eric Tune <notifications@github.com> wrote:

[2015-06-02 05:10] rajatchopra commented on #9072
Depends on how your cluster is setup. I have to check the latest on if admission control is applied to kubelet server. I did this on the master machine where a kubelet is running:
curl https://localhost:10250/pods | python -mjson.tool

Here is the massive output of the system pods that were running:
http://ur1.ca/mpnmy

[2015-06-02 05:19] thockin commented on #2880
On Fri, May 29, 2015 at 10:37 AM, Paul Tiplady <notifications@github.com> wrote:

external load balancers present an interesting challenge wrt
firewalling because they do not really exist in the kubernetes space,
but we need to poke holes for them.

NodePort is not the right mechanism.  NodePort is, first and foremost,
a way of publishing to outside the cluster.  We'll have to decide just
how drac

[2015-06-02 05:24] JasonGiedymin commented on #9045
Based on the requirements and mostly the comments, I thought that a cancel such as this should trigger a stop pause and let me rollback. I'd expect that a re-issue to v3 take me from 1 to 3 (since I did cancel a v2 update), or force me to make a choice. That resolution is important because the state of my replicas as defined (say I had a min count) would be inconsistent from a configuration manage

[2015-06-02 05:28] thockin commented on #7964
I think it was to allow private registries in your own project.  I'll do
some archaeology.

On Wed, May 27, 2015 at 9:13 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-06-02 05:53] pwFoo commented on #598
Why not create a data volume which creates a data only container in the background?
It should be added to the container / pod by volumes-from docker option and is persistent / durable.

[2015-06-02 06:04] jszczepkowski commented on #7051
@davidopp There will be no additional tests, #8862 and #8784 are sufficient. After #8862 is merged I will close this issue.

[2015-06-02 06:12] bgrant0607 commented on #8525
More info from the reporter:

    I sometimes see something like the following when I do a 'get pods' , where a pod image (like mysql) lives on docker hub.

[code]

Docker's registry must be returning that error, Kubelet returns it to the apiserver, and then kubectl prints it. Don't know if there's a simple client modification that would cause Docker to return non-html output, or at least not an i

[2015-06-02 06:17] bgrant0607 commented on #9045
Rollback is supported, via --rollback: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl_rolling-update.md

[2015-06-02 06:26] yanypunix commented on #9054
#cat aa.go
package main

import "fmt"
import "net/url"

func main() {
        u, err := url.Parse("http://10.5.39.41:8080")
        if err != nil {
                fmt.Printf("error: %v\n", err)
                return
        }
        fmt.Printf("'%s' '%s'\n", u.Scheme, u.Host)
}
#go build aa.go
# ./aa
'http' '10.5.39.41:8080'

# curl http://10.5.39.41:8080
{
  "paths": [
    "/api",
    "/api/v1

[2015-06-02 08:00] jdk-google opened #9106 "Creating External Loadbalancer should present some "progress status""
Creating an external loadbalancer takes minutes.

At the same time, the user doesn't know waht is happening, and whether it failed, is in progress, or just the user made a typo in the "externalLoadBalancer"

What we could do for example is:
in the "kubectl get services", if there is external Load Balancer configured, in the place of "external IP" show "status of the load balancer creation".

[2015-06-02 08:09] satnam6502 commented on #9100
Although I did a rebuild of the containers a few weeks ago I've not changed anything in the last two weeks.

[2015-06-02 08:10] njuicsgz commented on #8769
Can anyone look at this issue? I encountered it in 0.18.0 again. The reason may be that I set resource limits for Pod 'config' due to other Pod created successfully without resource limits, for example 'zk' and 'registry-ui'.

Config of 'config'
[code]

The Error Msg
[code]

ENV
[code]

[2015-06-02 08:37] satnam6502 opened #9107 "Make DNS required (update docs, add conformance test)"
This issue is a follow on from the discussion in PR #5284 by @piosz where folks like @pires and @eparis @nzwulfin  and maybe @derekwaynecarr complain about changing the key guestbook example to use DNS which makes it a nicer example for Kubernetes deployments that have a DNS add-on but breaks it for other clusters that don't. A very good point was made: the key example that most people try out sho

[2015-06-02 08:38] davidopp commented on #3954
Reassigning to @gmarek per our discussion. Just need to add instrumentation for pod startup time to verify in e2e test.

[2015-06-02 08:38] davidopp commented on #3952
Reassigning to @gmarek. This is very similar to #3954.

[2015-06-02 08:47] satnam6502 commented on #3952
@wojtek-t Minor point, note that if for any reason a cluster has no monitoring or logging set up there may not be any containers running on a node.

If you wanted to run a beefier container that is easy to check for health by querying through a REST API call I can suggest Elasticsearch which we have on gcr.io.

[2015-06-02 09:03] gosharplite commented on #8042
I also encounter very similar issue. Skydns is getting killed every 30s unless livenessProbe is disable. Logs of skydns before getting killed are shown below.
[code]

[2015-06-02 09:08] marekbiskup commented on #8107
I decided to follow @davidopp's suggestion to have a bash script instead of a go binary. The solution will be exactly what @zmerlynn described on a meeting some 2 weeks ago. This is just a tiny change to what we have now.

Here is a description that I hope will be more readable

# What we have:
 * addon manifests are deployed (by salt) in /etc/kubernetes/addons/ on the master (by kube-push, or jus

[2015-06-02 09:28] 121599386 commented on #8176
at Master run :
etcdctl mk /coreos.com/network/config '{"Network":"172.17.0.0/16"}'
can slove your problem

[2015-06-02 09:28] satnam6502 commented on #8107
Do you need #8469 to be merged (or something similar) before this will work?
This change adds a version suffix to the name of the monitoring pod and adds labels to support a rolling update.

[2015-06-02 09:39] pires commented on #9075
@brendandburns said the same exact thing, but this is what happens when I try to run `hazelcast` example with @brendandburns patch.
[code]

That secret does not exist. I am not using `kube-up` or `salt` or whatever mechanisms you rely on to automate these things. I would like to replicate this in my Vagrant + CoreOS + Kubernetes binaries solution, and for that I need instructions on how does this

[2015-06-02 09:47] marekbiskup commented on #8107
@satnam6502,
Yes.
I need even more - I need file names to be the same as metadata.name (unless somebody tells me how to extract metadata.name from a yaml file in bash without installing additional tools)

Are you going to merge it, or shall I take your patch and work on it? (It will save me a lot of time anyway)

[2015-06-02 09:49] satnam6502 commented on #8107
I think someone should merge it (and see what happens -- keeping a close eye on e2e).
I can't merge it since it is my PR. @erictune @vishh have been commenting on it and it has a kind-of LGTM.

[2015-06-02 10:06] marekbiskup commented on #8107
Ok, I cherry-picked your commit and the merge is not blocking me.
Thanks for pointing me to this change!

[2015-06-02 10:10] piosz commented on #3139
Let's make a decision what to do for 1.0.

I implemented the first version of load generator as load.go e2e test which creates a number of RC of various sizes and play with them by resizing, removing and recreating. The test hasn't been enabled on Jenkins yet but we are about to it (see #8873).

As for 1.0 I propose to add a service on top of each RC, query it with http requests and expect a reply

[2015-06-02 10:11] satnam6502 commented on #6134
I am very sorry to hear that. Seems to work for me. Perhaps open a new support issue rather than comment on a closed issue? Thank you kindly.
[code]

[2015-06-02 10:17] piosz commented on #8082
As for now the cluster after upgrade is tested by running e2e test (especially load generator I implemented runs as for now as e2e test). I don't think there would be a value in changing this approach, so we can mark this issue as completed.

Any objections? @davidopp @roberthbailey @satnam6502

[2015-06-02 10:26] piosz commented on #9107
The problem is that we probably are not able to create `guestbook-base` example that really works without DNS in the current state of the system. We probably don't want to add a new features that would allow this for 1.0. See #4245, #5184.

We may add an example that doesn't require DNS but with comment that this works nondeterministically.

[2015-06-02 10:26] satnam6502 commented on #8082
That seems reasonable. Some of the e2e tests need a lot of things to be working in order to pass (e.g. the end to end cluster level logging test) although I am not sure if we can tell if the cluster was updated? Surely we need one test which can compare the "before and after" which can't run as a single isolated e2e invocation?

[2015-06-02 10:28] gmarek opened #9110 "kube-push does not restart Kubelets if only flags in salt file were changed."
I was playing with salt configs and noticed that after kube-push I need to restart Kubelet by hand for it to read the new flags. I believe it should be done automatically by the script.

[2015-06-02 10:29] gmarek commented on #9110
@davidopp

[2015-06-02 11:09] marekbiskup commented on #8107
One more thing - the proposed solution works for replication controllers, but not for services (we don't want service name change). For now services update will not work (we should decide if want it in v1.0)

[2015-06-02 11:29] ncdc opened #9113 "kubectl exec <pod> needs to remove <pod> from args it sends to container"
When running `kubectl exec`, if you don't specify the deprecated `-p <pod>` and instead just do `<pod>`, it doesn't strip off the 1st command line arg, so

[code]

sends the command `nginx date` to the container, whereas

[code]

correctly sends just `date`

Regression from #8604

[2015-06-02 11:29] ncdc commented on #9087
kubectl exec issue is #9113

[2015-06-02 11:47] fgrzadkowski commented on #4521
Status update:
Current e2e scalability tests for 100 node cluster with 4 core master in majority of runs have latency metrics similar to this:
[code]
99tile of list of pods is almost never above 3s. Other requests are always below 1s.

I also manually tested this setup with 8 core master and metrics are below 1.5s.

Today I've also reenabled load tests (#8873), that @piosz wrote some time ago but

[2015-06-02 12:01] zmerlynn commented on #8107
If you're going down this route and you want to extract yaml in bash *on
the cluster*, you can safely use inline python in your bash and `import
yaml`. We've gotten into trouble with that package on the client side
because it's not a default package everywhere, but on all Salt based
clusters it's required by Salt, so for this solution in particular, you
know it's available.

On Tue, Jun 2, 2015 at

[2015-06-02 12:08] erictune commented on #4521
In this case, the 99%ile is less than 2x the median.  So thread load
balance is good.   Problem is that average case is too slow.
On Jun 2, 2015 4:47 AM, "Filip Grzadkowski" <notifications@github.com>
wrote:

[2015-06-02 12:10] erictune commented on #4521
Can you quantify "CPU not saturated"?
On Jun 2, 2015 5:08 AM, "Eric Tune" <etune@google.com> wrote:

[2015-06-02 12:20] suxianqun opened #9114 "the K8S_VERSION in kubernetes/cluster/ubuntu/build.sh is too old"
the ‘K8S_VERSION’ in kubernetes/cluster/ubuntu/build.sh is too old,  the new option ‘--service-cluster-ip-range’ added in kubernetes/cluster/ubuntu/build.sh was not supported when K8S_VERSION="v0.15.0".

[2015-06-02 12:29] justinsb commented on #8945
I'd also like to get the metadata into the logs, which is I think what these symlinks are about.  I can see two options: we can either have the log collector connect to the API, or we can have kubelet write the information (the pod info) to a JSON file under /var/lib/containers/ (and GC it!)

Any thoughts on which way is better?  And if the latter, what are the chances of getting this into 1.0?

[2015-06-02 12:32] fgrzadkowski commented on #4521
@erictune Most of the time it's around 80% utilization according to htop.

[2015-06-02 13:15] justinsb commented on #8945
e.g. I'm thinking we should write a data file like this (totally untested, just "here's what I mean"): https://github.com/GoogleCloudPlatform/kubernetes/commit/e6d8ac6d2e867d0a5eaa3af433d4beccade86b45

[2015-06-02 13:15] smarterclayton commented on #4521
Can you grab GC metrics for length of time spent in GC and the collection rate?  I think it's GOGCVERBOSE=1 or similar (or you can trigger a pprof heap dump, which will show the collection time at the bottom in a comment).  We might be stuck waiting on the GC lock to be released for that 20%

[2015-06-02 13:24] errordeveloper commented on #7826
@cusspvz that's very very interesting, I wonder whether you have consider using a declarative tool, e.g. Azure Resource Manager or Terraform for this?

[2015-06-02 13:32] mattmoor commented on #6134
On a second look I happened to notice that you are running 1.7.0-rc1 of Docker.

You are almost certainly hitting this, for which we have an open PR: https://github.com/docker/docker/issues/13649

@jvgogh FYI

[2015-06-02 13:34] ncdc commented on #9113
@smarterclayton FYI

[2015-06-02 13:40] marekbiskup commented on #8107
@zmerlynn, it works perfect. So I'll ignore file names - just metadata.name will be taken into account.
I'll update the previous comment

[2015-06-02 13:45] nzwulfin commented on #9107
@piosz  While it may be non-deterministic to rely on ENV variables, and cause the issues you saw in https://github.com/GoogleCloudPlatform/kubernetes/issues/5184, I don't think `./cluster/kubectl.sh create -f examples/guestbook` is the typical way a learning example would be written.  There's a difference between running the complete example in a single run for testing purposes and a user followin

[2015-06-02 13:51] thoraxe commented on #7843
I just noticed that the current columns aren't even honored:

[code]

In the 2nd row, "router" is not a pod id and the image is not an IP.

I'm not sure if this is an artifact of the fact that there is no data in the 1st "position" in the 2nd row...

Either way, it even makes awk hard to use.

[2015-06-02 13:51] marekbiskup commented on #8107
Yet another thing. I'm configuring salt to delete all objects under /etc/kubernetes/addons before deploying new manifests under this directory. This means that all files that were put here as addons, manually, will be deleted at kube-push. And later removed from the API server. I think this is what we need.

[2015-06-02 13:53] zmerlynn commented on #8107
@marekbiskup: Thank you! That was something I spent a little headbanging time trying to figure out how to do, but it wasn't intuitive how to get Salt to clean a whole directory. Did you find an easy pattern for it?

[2015-06-02 14:01] bgrant0607 commented on #7843
@thoraxe Yes, it's because the 2nd row has no data in the first column.

Take a look at #9032 for the first iteration on the new format.

[2015-06-02 14:13] erictune opened #9119 "Flaky test: TestRequestExecuteRemoteCommand"
A test is flaky.

https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/65002732

--- FAIL: TestRequestExecuteRemoteCommand (0.04 seconds)
	remotecommand_test.go:207: 1: expected true, got false: <nil>
FAIL

This is with go1.3, though I suspect it is not version-related.
This is during race testing, but there is not a specific message about a race being detected.  Probably things are happening

[2015-06-02 14:14] erictune commented on #9119
@ncdc I think you authored this test.  Would you check if there are any downstream fixes, and if not run it a bunch of times to see if it fails for you?

[2015-06-02 14:18] erictune opened #9121 "Flaky test: TestUpgradeResponse"
A test is flaky.

https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/64951456

--- FAIL: TestUpgradeResponse (0.17s)
	upgrade_test.go:82: 3: unexpected non-nil err from client.Do: Get http://127.0.0.1:52842: net/http: transport closed before response was received

This is with go1.4, though I suspect it is not version-related.
This is during race testing, but there is not a specific message

[2015-06-02 14:25] ncdc commented on #9119
@erictune I have an idea what's going on. I can take a look in a bit.

[2015-06-02 14:29] cusspvz commented on #7826
@errordeveloper didn't knew **Terraform**, looks awesome!

I had some points about using a third-party cloud provisioning tool so we didn't had to write code for each provider, but happens that every provider has their differences such as how do you get latest `stable`, `beta` or `alpha` image, or how you handle your VM's endpoints. Based on that I have decided to implement their provisioning diff

[2015-06-02 14:34] nkwangleiGIT opened #9122 "Low performance to get the endpoints for the service"
Hi,
We met with low performance issue when create a service and try to visit the service port using kube-proxy.

After some debug, we found that it'll take a long time to retrieve the endpoints information of the service, here is the output using "kubectl describe service", and the "Endpoints" will be "<none>" for more than 1 minute, and we can visit the service port successfully once the endpoint

[2015-06-02 14:39] antoineco opened #9123 "kubelet panics on instances without public IP (AWS)"
Since node auto-registration was introduced in v0.18.0, the `kubelet` crashes on AWS if the instance it runs on doesn't have a public IP.

The full error trace is available here: https://gist.github.com/antoineco/8d5a168aae8ab5b94cef

[2015-06-02 14:43] tslater opened #9124 "[8] System error: Activation of org.freedesktop.systemd1 timed out when running pod through replication conroller"
When I run one of my replication controllers, one of the replicas never starts and gives me this error message:
[code]

[2015-06-02 14:47] andronat commented on #5840
@bgrant0607 do we want to support plain object concatenation like this?
[code]
Or it is just a matter of writing documentation or warning to users to use the proper YAML syntax of ```---``` to separate their objects?

[2015-06-02 14:48] smarterclayton commented on #9113
We still support --, correct?

[2015-06-02 14:49] ncdc commented on #9113
@smarterclayton yes, we still support `-p pod`, but it's marked deprecated.

[2015-06-02 14:50] erictune commented on #9107
What is the problem with putting a blurb at the top that says "requires
DNS.  Most kubernetes distros offer this as an option. if yours doesn't see
[link to skydns docs]."

On Tue, Jun 2, 2015 at 6:46 AM, Matthew Micene <notifications@github.com>
wrote:

[2015-06-02 14:54] erictune commented on #5840
I don't think we'd be able to clearly draw a line between a single object
which erroneously contains several duplicate keys and several objects.
 So, supporting object concatenation is out for yaml.  Could be supported
for json.

Doing something like `warning: duplicate key 'kind' in single object.
Hint: separate multiple objects with '---'` seems fine?

On Tue, Jun 2, 2015 at 7:48 AM, Anastasis A

[2015-06-02 15:05] marekbiskup commented on #8107
Stackoverflow hepled me to figure it out:
[code]

[2015-06-02 15:23] erictune commented on #4521
@fgrzadkowski wrote "For the last few days @wojtek-t and me were trying to understand why observe non-saturated CPU but still have high request latency (around 3s for 99tile of list pods)."

I think you are asking why the 99%ile is 2x higher than the mean, despite cpu not being 100%.
That seems consistent with what you might expect from queuing theory.

If you use:
http://www.supositorio.com/rcalc

[2015-06-02 15:29] pires commented on #9107
@erictune DNS and now the service-token thing have broken a lot of examples in the past.

As provider of a _distro_ (Vagrant + CoreOS) that it's meant for simplifying the lives of developers who just want to try Kubernetes and feel the official way is just daunting, I feel stuff like this makes it hard to keep up and has made it particularly painful to maintain the CoreOS documentation. Hell, it's

[2015-06-02 15:29] liggitt commented on #9075
what does the following show?
[code]

Service accounts and token are provisioned using controllers running in the `kube-controller-manager`. You can start them by passing `--service_account_private_key_file="<private rsa key file>"` to that command.

[2015-06-02 15:30] smarterclayton opened #9125 "Kube-Proxy should expose metrics"
The kube proxy should expose metrics for incoming connection count, connection duration, and maybe endpoint count and endpoint failure rate (percentiles).  It should also probably slice by service.

[2015-06-02 15:32] vnugent commented on #8658
[code]
someone suggested `rm -fr /var/lib/etcd/default.etcd` to no avail

[2015-06-02 15:34] goltermann commented on #8353
@justinsb do you think your fix for #8903 fixed this?

[2015-06-02 15:40] #8348 closed

[2015-06-02 15:43] eparis commented on #9107
@erictune So saying DNS is a requirement is ok. But that would need to be the first example and the canonical example. Then again, DNS isn't a good example, because it is both using the cluster and setting up the cluster. Whereas the best example would only be to use....

[2015-06-02 15:48] jdk-google opened #9126 "nodePort is getting dropped"
in my GKE cluster I'm creating a service using the file of the below contents, then I'm calling the below two commands

kubectl create -f frontend-service-test.json
kubectl get services/frontend-test -o json

and the "nodePort" field silently dissapears. Any ideas why?
 If there are some errors in the config I would expect to get an error

----- file contents ----
{
   "foobar": 3,
   "kind":"Serv

[2015-06-02 15:49] roberthbailey commented on #8107
My only concern with bash vs. a Go program is that our bash scripts are really, really terrible at error checking and handling error flows. Using `set -o errexit` is great but causes the script to bail out in the middle (and doesn't apply to subshells created using `$()`).

[2015-06-02 16:00] thockin opened #9127 "Make DNS required?"
I think we should just make DNS a required component and upgrade it as part of all the standard upgrade processes (e.g. kube-push).

@erictune @satnam6502 @vishh

We might be able to push this beyond 1.0 but it's going to start hurting more and more.

[2015-06-02 16:04] vishh commented on #9127
+100. I would prefer integrating kube-dns as part of kubernetes release
bundle for 1.0.

On Tue, Jun 2, 2015 at 9:00 AM, Tim Hockin <notifications@github.com> wrote:

[2015-06-02 16:07] pires commented on #9075
[code]

Do I need to replicate the steps from https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/local-up-cluster.sh#L149 down, namely:
* Generate SSL key
* Start `kube-apiserver` with
  * `--admission_control=NamespaceLifecycle,NamespaceAutoProvision,Li...`
  * `--service_account_key_file=GENERATED_SSL_FILE`
* Start `kube-controller-manager` with
  * `--service_account_private_key

[2015-06-02 16:07] zmerlynn commented on #9127
+1000. We have next to 0 testing with it off.

The upgrade work is in flight and isn't unique to DNS, though. #8107

On Tue, Jun 2, 2015 at 9:00 AM, Tim Hockin <notifications@github.com> wrote:

[2015-06-02 16:08] satnam6502 commented on #8945
@jimmidyson is our man I think for doing this properly.

[2015-06-02 16:10] thockin commented on #9126
@justinsb if he has time

On Tue, Jun 2, 2015 at 8:48 AM, jdk-google <notifications@github.com> wrote:

[2015-06-02 16:10] zmerlynn commented on #8107
I'm fine with a bash script this week if you're actually intending a Go
program soon. I honestly thought we had enough time to land one given the
modest requirements here, especially if we integrated it into an existing
controller, and given that not upgrading these components is really a bug
and not a feature...

However, I'm also fine with a bash script for 1.0 and a Go program for 1.1,
too.

On

[2015-06-02 16:11] rjnagal commented on #8658
Can you also get the containers status from master:
sudo docker ps
and
sudo docker inspect <etcd-container-id>

[2015-06-02 16:15] bgrant0607 commented on #9100
cc @erictune

[2015-06-02 16:15] satnam6502 commented on #9127
+1e6 esp. for integrating kube-dns as part of kubernetes release bundle for
1.0

On Tue, Jun 2, 2015 at 5:05 PM, Vish Kannan <notifications@github.com>
wrote:

[2015-06-02 16:17] vishh commented on #9100
AFAIK no changes went in recently. My PR #8718 hasn't been merged yet.

On Tue, Jun 2, 2015 at 9:15 AM, Brian Grant <notifications@github.com>
wrote:

[2015-06-02 16:17] a-robinson commented on #8945
https://github.com/GoogleCloudPlatform/kubernetes/pull/8632 is in the works, although perhaps less elegant than your example

[2015-06-02 16:18] bgrant0607 commented on #5840
Last time I tried, `---` worked for some input sources but not others (e.g., files). Stdin is handled differently than actual files, IIRC.

[2015-06-02 16:20] brendandburns commented on #9100
I believe I saw this yesterday too.  I think that someone pushed a bad skydns container.  It doesn't have the ```--kube-master-url``` flag.

This is likely to break GKE too, we need to sort and fix asap.

--brendan

[2015-06-02 16:23] vishh commented on #9100
I will update `gcr.io/google_containers/kube2sky:1.7` container now.

On Tue, Jun 2, 2015 at 9:21 AM, Brendan Burns <notifications@github.com>
wrote:

[2015-06-02 16:24] dchen1107 commented on #9087
If we want to patch v0.18, I want to include #8681, which creates /system container. We recently observed abusive daemon process takes too much cpu and causes machine unresponsive. @brendandburns

[2015-06-02 16:24] satnam6502 commented on #9100
Fuller logs in case it helps.
[code]

[2015-06-02 16:26] dchen1107 commented on #9123
cc/ @roberthbailey

[2015-06-02 16:26] thockin commented on #9100
Indeed the 1.7 that is up right now has a blank default for -kube_master_url

On Tue, Jun 2, 2015 at 9:23 AM, Vish Kannan <notifications@github.com>
wrote:

[2015-06-02 16:27] thockin opened #9129 "kube2sky flag parsing is weird"
Trying to get a help dump:

[code]

but

[code]

[2015-06-02 16:28] vishh commented on #9100
Image updated.
[code]

On Tue, Jun 2, 2015 at 9:27 AM, Tim Hockin <notifications@github.com> wrote:

[2015-06-02 16:28] bgrant0607 commented on #9127
See also discussion in #5284

[2015-06-02 16:33] bgrant0607 commented on #8686
cc @thockin @vishh @brendandburns

[2015-06-02 16:33] vnugent commented on #8658
Hmm Docker was not installed on Master

[2015-06-02 16:34] JeffPaine commented on #9091
Thanks for the explanation! Totally fair points I don't disagree with.

Rather than wholesale inclusion, is it appropriate to simply add a brief section to the docs on a basic git workflow but mention it's not required? I don't have a strong feeling either way, my only goal is nice docs / on-ramping experience and this was the first thing that tripped me up as I'm getting started :)

[2015-06-02 16:36] brendandburns commented on #8686
We should also split our image stores into:
```gcr.io/google_containers/...``` - Production images, limited write ACLs
```gcr.io/google_containers_dev/...``` - Staging images, ACLs like the existing ```google_containers``` that will help prevent mistakes as well.

[2015-06-02 16:36] justinsb commented on #8945
That PR doesn't look it includes labels though, although maybe I can abuse naming & namespacing to meet my current requirements.

BTW, found this little trick to delete those broken links:
```find -L /var/log/containers -type l -delete```

The trick is explained here: http://www.trilithium.com/johan/2011/09/delete-broken-symlinks/

[2015-06-02 16:38] liggitt commented on #9075
yes, that would enable service account creation, token generation, and token automounting

[2015-06-02 16:51] zmerlynn commented on #9087
I'd like to get #9118 for upgrade testing (it's causing initial version deployment headaches), but it still needs an LGTM.

[2015-06-02 16:53] roberthbailey commented on #8748
It turns out that @brendandburns has a PR out for this already (https://github.com/GoogleCloudPlatform/kubernetes/pull/8881)

[2015-06-02 17:01] erictune opened #9132 "Hide IaaS-specific DNS search paths"
On a GCE VM (created by GKE):

[code]

Kubernetes will append:
`$NAMESPACE.svc.$CLUSTER_SUFFIX svc.$CLUSTER_SUFFIX $CLUSTER_SUFFIX`
to the search line where `$CLUSTER_SUFFIX` defaults to `cluster.local`, but cluster admins can redefine.

Pods which depend on resolving these special dns names will not be portable to other cloud providers, or potentially even across projects/clusters/zones within th

[2015-06-02 17:01] erictune commented on #9132
@thockin @roberthbailey

[2015-06-02 17:01] erictune commented on #9132
@bgrant0607

[2015-06-02 17:01] erictune commented on #9132
Probably not practical for v1, but try to do soon after if possible.

[2015-06-02 17:02] erictune commented on #9132
@smarterclayton what of the resolve.conf do you expose in openshift?

[2015-06-02 17:11] erictune commented on #9114
should be fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/9102

[2015-06-02 17:19] davidopp commented on #4521
@fgrzadkowski There was a request to also test on g1-small since that's the smallest master users might run in practice. There's no expectation that the performance will be good -- we just want to make sure it is not unusable.

[2015-06-02 17:25] lavalamp commented on #9100
Ugh. This is what's broken about our addon system. #8686

[2015-06-02 17:26] lavalamp commented on #9100
This appears to have been resolved by @vishh's push.

[2015-06-02 17:26] #9100 closed

[2015-06-02 17:27] erictune commented on #8661
Much of this is covered in docs/node.md and docs/cluster_management.md

[2015-06-02 17:27] thockin commented on #9091
I would be fine to include the equivalent of these slides as "one of the
more common git workflows that core developers use".  PRs welcome.

On Tue, Jun 2, 2015 at 9:34 AM, Jeff Paine <notifications@github.com> wrote:

[2015-06-02 17:32] roberthbailey commented on #9126
NodePorts weren't added until 0.18.0 and GKE is not yet exposing this version of kubernetes (you can see the version of your cluster by running `gcloud alpha containers clusters list`). We expect to have 0.18.0 support in GKE by the end of this week.

[2015-06-02 17:39] alex-mohr commented on #9110
Piotr's fixing up kube-push atm -- perhaps something he can look into?

[2015-06-02 17:40] #8714 closed

[2015-06-02 17:41] pramttl opened #9134 "Need for ./cluster/kube-halt.sh (which halts cluster gracefully instead of destroying VMs)"
There are [kube-up.sh](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/kube-up.sh) and [kube-down.sh](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/kube-down.sh) scripts which call `vagrant up` and `vagrant destroy` respectively internally when environment variable KUBERNETES_PROVIDER is set to 'vagrant'.

It would be especially useful to have `kube-ha

[2015-06-02 17:52] JeffPaine commented on #9091
Sounds good, I'll put together a PR, thanks for the guidance so far!

[2015-06-02 17:52] #9034 closed

[2015-06-02 17:53] #9036 closed

[2015-06-02 17:56] srakesh28 commented on #9034
Does this mean I can now download the latest version and re-try install on Azure ?

[2015-06-02 17:56] bgrant0607 commented on #9090
I agree the UI isn't very discoverable. We should redirect from `/` to the correct path. (Assuming that the UI is working well enough to expose it at all.)

[2015-06-02 17:58] davidopp commented on #8151
@piosz now that #9063 has been merged, can we move this issue out of the 1.0 milestone? Or do you think the feature needs additional testing?

[2015-06-02 17:58] smarterclayton commented on #9132
Right now our installation docs are going to say to add our master (which has SkyDNS integrated, vs running in a pod) to the nodes' resolv.conf, then pass that in.  So the node and container would have the same resolv.conf by default today which I believe is the Docker default value.  I think we'd want to hide the same sorts of things on GCE and AWS that you describe above.  @ncdc fyi

[2015-06-02 17:59] bgrant0607 commented on #9054
cc @vishh

[2015-06-02 18:01] hobti01 commented on #8901
Thanks for the pointer @thockin As a user this is tricky to use.  In a json file I must specify nodePort even though I don't want to use nodePort.  Since it doesn't have omitEmpty I know it's a required field, but the description tells me not to set it.  Maybe more description would help in the short term?

[2015-06-02 18:05] errordeveloper commented on #9034
Sure, it should work if you pull from master and rerun the provisions
scripts.

On Tue, 2 Jun 2015 18:56 srakesh28 <notifications@github.com> wrote:

[2015-06-02 18:06] thockin commented on #8901
You never have to set a value if you're OK with the default.  0 is the
default.  If anything gives you an error which is fixed by setting nodePort
to 0 (with one exception - below) it's a bug.

One exception: downgrading from "type": "LoadBalancer" or "NodePort" to
"ClusterIP" - nodePort must be reset to zero.  This bug would make that
better, I think.

On Tue, Jun 2, 2015 at 11:02 AM, Tim H <noti

[2015-06-02 18:06] bgrant0607 commented on #9097
This would be awesome.

cc @RichieEscarez @nikhiljindal

date-time: Not intentional: #2968

Other known issues:
* #6842
* #6167
* #4700
* #2971
* #3059
* #7100
* #5331
* #8116

[2015-06-02 18:08] davidopp commented on #8107
We're supposed to be code complete for new features by Friday and the Poland guys have a public holiday Thu-Fri so I think we should stick with the bash script for 1.0.  (Though I totally agree that a real go binary would be better and we should do it for next version. Hopefully @marekbiskup can start working on that once this goes in).

[2015-06-02 18:09] davidopp commented on #8107
(#9128 is out for review)

[2015-06-02 18:09] bgrant0607 commented on #9106
See also #8992

cc @thockin @justinsb @a-robinson

[2015-06-02 18:11] davidopp commented on #8151
Oh, I guess in this comment
https://github.com/GoogleCloudPlatform/kubernetes/issues/8082#issuecomment-107650747
you said you thought we should test this as part of the cluster upgrade script?

[2015-06-02 18:11] bgrant0607 commented on #9113
cc @brendandburns

[2015-06-02 18:11] #9114 closed

[2015-06-02 18:15] davidopp commented on #8081
@saad-ali do you think you could add what is described in this comment
https://github.com/GoogleCloudPlatform/kubernetes/issues/8082#issuecomment-107650747
namely adding "invoke kube-push and run e2e again" ?

[2015-06-02 18:15] piosz commented on #9110
Sorry, I don't have time for this.

[2015-06-02 18:18] jimmidyson commented on #8945
The fluentd plugin in #8632 can add metadata retrieved from api server, but there's still an unanswered question on service accounts for static pods required to authenticate to api server.

I really like the metadata file being local on the node. How would you deal with label updates to running pods? With the fluentd plugin we set up a watch to be notified of pod label changes to update metadata.

[2015-06-02 18:18] smarterclayton commented on #9097
Will have an example of the output shortly so you can see what it looks like.

[2015-06-02 18:19] davidopp commented on #6075
@zmerlynn @roberthbailey is there any additional work for this for 1.0 (other than #8151, which is almost done)? If not, I'll close this.

[2015-06-02 18:22] bgrant0607 commented on #9124
Kubernetes version, OS distro, docker version, cloud provider?

[2015-06-02 18:23] davidopp commented on #3139
SGTM.

[2015-06-02 18:28] tslater commented on #9124
Kubernetes:
[code]
OS Distro: ```CoreOS 681.0.0```
Docker: ```Docker version 1.6.2, build 7c8fca2-dirty```
Cloud Provider: ```Vagrant```

[2015-06-02 18:33] davidopp commented on #9110
@zmerlynn @roberthbailey

[2015-06-02 18:35] bgrant0607 commented on #6487
Port info: #6908

[2015-06-02 18:36] bgrant0607 commented on #7298
Is this about implementation or API?

[2015-06-02 18:41] satnam6502 commented on #7298
I think I mean API.

[2015-06-02 18:41] #7298 closed

[2015-06-02 18:44] satnam6502 commented on #8945
The reason I did not add code to delete the symlinks as soon as the container is deleted is that we need to allow so time for the collector to grab the last few dying breath log lines before the symlink is deleted. For this I thought we could just spawn a goroutine with a delay (5 minutes?) after which the deletion occurs. Right now that is not done so if the symlink is deleted as soon as the cont

[2015-06-02 18:47] jimmidyson commented on #8945
With docker when the container is deleted isn't the log file deleted too? So the symlink will be a dead link... no need to keep it after container is deleted.

[2015-06-02 18:48] RichieEscarez commented on #9097
Yes this would be great (@MikeJeffrey and I recently discussed the need for this)!

[2015-06-02 18:54] satnam6502 commented on #8945
The log file lingers.

[2015-06-02 19:07] jimmidyson commented on #8945
@satnam6502 Are you perhaps confusing stopping a container (`docker stop` / `docker.StopContainer`)  with deleting a container (`docker rm` / `docker.RemoveContainer`)? AFAIK the latter deletes the whole container from the file system, including the log file & this is what happens in container GC - see https://github.com/GoogleCloudPlatform/kubernetes/blob/4a6ab7fd3698c5cc7172c5bd63efab320d1f2d17/

[2015-06-02 19:53] erictune commented on #8738
I don't see this in 1.0

[2015-06-02 19:57] dchen1107 commented on #9110
I can take a look today.

[2015-06-02 19:58] saad-ali commented on #8081
Yep, I'll take a crack at it today.

[2015-06-02 20:03] timothysc commented on #8119
So I dug through all the logs and it appears that the kcm & kubelets have watch errors in their logs which seem to proceed the plateau:

 Failed to watch *api.Node: Get http://host18-rack11:8080/api/v1beta3/watch/nodes?fieldSelector=metadata.name%3Dhost14-rack10.scale.openstack.engineering.redhat.com&resourceVersion=203923776: dial tcp 10.1.4.82:8080: connection refused
Jun 02 15:37:20 host14-rack

[2015-06-02 20:06] dchen1107 commented on #9110
hmm, I cannot reproduce the issue here. Here are the steps I am doing:

1) Change log_level flag through salt config file:

[code]
2) before kube_push, kubelet is running with flag --v=2 and pid is 5583

[code]

3) after kube_push, kubelet is restarted with new flag --v=4 and pid is 4252

[code]

@gmarek Which flag were you changing?

[2015-06-02 20:10] gmarek commented on #9110
Just added some flag in DAEMON_ARGS in the default salt config. I tried this by modifying the file by hand, not by setting some additional grains.

[2015-06-02 20:12] antoineco commented on #8799
@satnam6502 you mentioned that you were trying to create an ELB, is the LoadBalancer service type yet supported on AWS?

[2015-06-02 20:28] bgrant0607 commented on #9132
I agree we should block things like http://metadata #8867. Not resolving VM hostnames seems reasonable, also.

[2015-06-02 20:29] satnam6502 commented on #8945
What I notice is that after a container for a Kubernetes pod is not running anymore and has been restarted (i.e. another container is running for that image) the log files for the old ones are still around ( and thankfully subject to log rotation). Perhaps I am wrong? I will check.

[2015-06-02 20:29] satnam6502 commented on #8945
But yes, we need to delete the symlinks of course -- just in a way that does not loose log lines.

[2015-06-02 20:31] satnam6502 commented on #8799
@antoineco : since I am not allowed to use AWS I don't know :-)
@justinsb ?

[2015-06-02 20:40] jimmidyson commented on #8945
Right so there's the difference between a pod being deleted & a docker container being deleted. When a pod is deleted the underlying docker container is not deleted so the docker log file remains until the docker container is actually deleted.

The docker container is deleted only through container garbage collection & that only happens when certain thresholds are met (e.g. 100 dead containers). W

[2015-06-02 20:46] wojtek-t commented on #7561
As of the weekend this wasn't fixed - we had a lot of red runs during the weekend. It seems to be in a better shape now.

 However, there seem to be a huge drop in the performance metrics few hours ago - can someone please take a look at it and rollback the PR that caused the regression?

cc @fgrzadkowski

[2015-06-02 20:46] satnam6502 commented on #8945
Thanks for clearing that up (quite literally).

[2015-06-02 20:48] bprashanth commented on #8119
It sounds like a thundering herd relist problem https://github.com/GoogleCloudPlatform/kubernetes/issues/4521#issuecomment-106114691, those log lines show the watch on your services, pods and node expiring. But from the described latency graph your lists are taking < 1s (https://github.com/GoogleCloudPlatform/kubernetes/issues/8119#issuecomment-106960908)? in which case it is puzzling that this wo

[2015-06-02 20:49] roberthbailey commented on #9123
The kubelet asks the cloud provider for node addresses, and the implementation is specific to each provider. It looks like this is a bug in the aws cloud provider: the stack trace points to [line 412 of aws.go](https://github.com/GoogleCloudPlatform/kubernetes/blob/v0.18.0/pkg/cloudprovider/aws/aws.go#L412).

[2015-06-02 20:53] wojtek-t commented on #3139
SGTM

[2015-06-02 20:56] fgrzadkowski commented on #7561
@wojtek-t I'm debugging performance regression. I also submitted today #9115 that should fix remaining red runs.

[2015-06-02 20:58] pires commented on #9075
@liggitt you are the man.

[code]

Going to make a PR for the new version of the `hazelcast` example.

[2015-06-02 20:59] pires commented on #9075
I will also need to update the CoreOS docs.

[2015-06-02 21:03] thockin opened #9139 "Volume plugins Builder/Cleaner can be type-asserted incorrectly"
For many of the volume plugins, we do something like:

[code]

Specifically we return the same type but only partially filled in (since we only have partial info at Cleaner time).  Unfortunately, Go will let you type-assert a Cleaner to a Builder in this case.  But calling Builder methods WILL NOT WORK.

Instead, we should have distinct types for whateverBuilder and whateverCleaner that embed a co

[2015-06-02 21:04] pires commented on #7444
OK just fixed it both in my Vagrant + CoreOS thing and Hazelcast. Going to open a couple PRs, one for Hazelcast example and another for CoreOS documentation.

[2015-06-02 21:11] lavalamp commented on #9122
This should be very quick-- so my guess is that it's the pods that are slow to come up. They won't be included until they're running and healthy.

If that doesn't answer your question, to help you narrow it down your config .json/.yml files, and your controller-manager log would be helpful.

[2015-06-02 21:13] #6342 closed

[2015-06-02 21:19] antoineco commented on #8799
Don't bother I found my answer inside the cloudprovider code. I'll try with
`createExternalLoadBalancer: true`, thanks for the tip!

[2015-06-02 22:19] RichieEscarez commented on #8701
Ive update all the examples to include inline links to not only the replication controller help topic but also to the following help topics (where mentioned): pods, services, namespaces, and secrets.

[2015-06-02 22:22] fgrzadkowski commented on #9127
FYI There is a PR in-flight that implements first simple version of add-on upgrades - https://github.com/GoogleCloudPlatform/kubernetes/pull/9128

@marekbiskup

[2015-06-02 22:45] bprashanth opened #9147 "Kubectl delete should handle stopping an rc while it's starting replicas"
Since kubectl stop currently polls status.Replicas, if one creates an rc and stops it soon after there's a chance the polling hits status.Replicas=0 when in fact the rc has not updated status.replicas yet.

An elegant solution to this problem probably involves kubectl *not* deleting the rc, but somehow signaling to the rc manager that it wants the rc gone. A halfway solution involves kubectl not d

[2015-06-02 23:08] bgrant0607 commented on #9147
We've encountered this race previously in other contexts. See also #7328.

[2015-06-02 23:08] #7895 closed

[2015-06-02 23:17] thockin commented on #9075
@kelseyhightower @pires Please take a look at this ASAP.  I don't really want to go to 1.0  with CoreOS support broken.

[2015-06-02 23:19] alex-mohr commented on #9066
Idea: list all routes/lbs/nodes/disks/firewalls/other GCE resources at creation, check for regexp match against cluster name and error if any matches are found.

Bonus points for a --delete-preexisting-resources flag?

[2015-06-02 23:20] alex-mohr commented on #9066
@cjcullen as fyi

[2015-06-02 23:21] bprashanth commented on #9147
So kubectl will compare the rv it got via its resize update with the rv in the rc's status? that would work but i think we've stayed away from comparing rvs for various reasons in many other clients. Fyi I think we should fix this for 1.0, either hacky or clean, or people will be confused. We started rate limiting the controller-manager to 20qps, so it takes 10s to create an rc with 200 pods. Stop

[2015-06-02 23:31] #8903 closed

[2015-06-02 23:35] roberthbailey commented on #8911
I had thought that `InstanceID(instance string)` would be hitting the GCE API but instead it is just computing the instance id with the passed in name. This is a non-issue.

[2015-06-02 23:35] #8911 closed

[2015-06-02 23:38] roberthbailey commented on #8871
The proxy is often used with a web browser, e.g. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/update-demo/README.md#step-one-turn-up-the-ux-for-the-demo

[2015-06-02 23:44] thockin opened #9150 "Document firewall issues around services"
Services with external load-balancers do not open firewalls by default.  There are problems doing it automatically.  We should document this and make kubectl output a help string to the effect of "you might need to open firewalls for this".  We should also decide whether other platforms should do the same.

 @justinsb

[2015-06-02 23:45] alex-mohr commented on #8900
I don't know how feasible this is on other cloud providers, but on GCE could we do:
(1) have an instance-tag-controller that assigns a tag-$service to each node with a pod belonging to $service (https://cloud.google.com/sdk/gcloud/reference/compute/instances/add-tags)
(2) create a firewall that with --target-tag=tag-$service
(3) when the service is deleted, the firewall and all tag-$services are a

[2015-06-02 23:47] thockin commented on #8900
I think we will NOT open firewalls for 1.0 because of issues on GCE and unknown others.  We will instead do #9150 for now, and consider how to do this by default safely after 1.0

[2015-06-02 23:48] thockin commented on #8900
@alex-mohr that doesn't fix the exposure on GCE, so I don't want to do it by default.

[2015-06-02 23:57] pmorie commented on #8738
Agree, this should not be a 1.0 item (fwiw)
On Tue, Jun 2, 2015 at 3:53 PM Eric Tune <notifications@github.com> wrote:

[2015-06-03 00:23] dchen1107 commented on #8995
Ok, looks like you are using device mapper as graph driver from docker, and the error message: API error (500): Can't set task name /dev/mapper/docker-252:0-135629-pool from docker daemon. Due to such issue (docker/docker#4639), docker failed to create the container.

Can you guys use aufs as graph driver for docker?

[2015-06-03 01:10] mikedanese commented on #9090
I can do this if no one else is on it. Should we redirect all requests to `/` and `/index.html` or just requests with specific user-agents?

[2015-06-03 01:13] saad-ali commented on #8081
Done. Added `kubernetes-upgrade-gce-step5-kube-push` and `kubernetes-upgrade-gce-step6-e2e` to Jenkins GCE upgrade test.

[2015-06-03 01:14] gosharplite commented on #8042
This might be a version issue. #8538

[2015-06-03 01:25] bgrant0607 commented on #9090
We return a list of resource paths on `/` currently:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/index.go#L31

We could either redirect for certain user-agents, or choose another, simpler, more obvious, top-level path, like `/www` or `/ui`, which would at least show up in the list of valid paths.

[2015-06-03 01:25] bprashanth commented on #9029
1. Kubectl proxy only serves /api endpoints. I'm still able to create an ssh tunnel (by hand) from the master to localhost and do something like `curl http://localhost:8001/api/v1beta3/pods`. Fixing the proxy to serve /logs and /debug should be easy.

2. kubectl logs pod and /logs are different, the former hits the kubelet for the logs of a container in a pod while the latter exposes /var/log on t

[2015-06-03 01:35] tobegit3hub commented on #9090
That's great! @mikedanese @bgrant0607

[2015-06-03 01:47] smarterclayton commented on #9097
Examples http://docs.openshift.org/latest/rest_api/openshift_v1.html and http://docs.openshift.org/latest/rest_api/kubernetes_v1.html

[2015-06-03 01:50] smarterclayton commented on #9097
swagger2markup can also inline descriptions - that was used to get http://docs.openshift.org/latest/rest_api/kubernetes_v1.html#v1-persistentvolumeclaim

[2015-06-03 01:52] #9067 closed

[2015-06-03 02:23] timothysc commented on #8119
@bprashanth Jay was off my a factor of ten, it was >60 seconds from what I was seeing.

I'll rerun the tests in the a.m. and post the logs.

[2015-06-03 02:31] bprashanth commented on #8119
That makes a little more sense, also fyi the numbers in `/metrics` are in microseconds :)
Can you give me the exact test you're running, is it just the guestbook example (the one that uses redis), or do you have a script I can play around with?

[2015-06-03 02:32] brendandburns commented on #8748
And that PR is now merged, so I'm closing this issue.

[2015-06-03 02:32] #8748 closed

[2015-06-03 02:45] dereknex commented on #4914
I have same error,
I have two nodes:

NAME            LABELS                                 STATUS
192.168.33.10   kubernetes.io/hostname=192.168.33.10   Ready
192.168.33.20   kubernetes.io/hostname=192.168.33.20   Ready

Pods:
POD                  IP          CONTAINER(S)   IMAGE(S)          HOST                          LABELS                   STATUS    CREATED      MESSAGE
redis-master-h8git

[2015-06-03 02:47] brendandburns commented on #9113
https://github.com/GoogleCloudPlatform/kubernetes/pull/9164

has the fix.  (and better unit test coverage) Sorry for the breakage!

[2015-06-03 03:23] caesarxuchao opened #9167 "hack/test-cmd.sh should passes its own kubectl context"
Currently, if the kubectl's context is using a namespace other than "default", hack/test-cmd.sh will fail at this line:
[code]
Error message:
[code]
this is because these services are in namespace default.

Usually this is not a problem because test-cmd.sh runs on Shippable and Travis, but the script will be more robust if it passes on its own context when calls kubectl.

@lavalamp @bgrant0607

[2015-06-03 03:24] #9113 closed

[2015-06-03 03:25] bgrant0607 commented on #9087
The exec fix is in #9164.

[2015-06-03 03:27] bgrant0607 commented on #9087
@dchen1107 #8681 is a non-trivial change and not a bug fix, so I don't think we should include it in the patch release.

[2015-06-03 03:31] brendandburns commented on #9087
Personally, I'm ok with #8681, since it is a bug fix (users have reported node CPU spiking taking down clusters).

I've picked it into the 0.18.1 that I'm testing, so we'll make sure it passes e2e.  Then we can make a decision about if we're comfortable shipping that.

[2015-06-03 03:33] bgrant0607 commented on #9087
That PR said it depended on #8586.

[2015-06-03 03:53] thockin commented on #8042
I'm happy to debug if you can repro with 0.18 kubernetes and 1.7 kube2sky.

On Tue, Jun 2, 2015 at 6:14 PM, Tony Hsu <notifications@github.com> wrote:

[2015-06-03 03:53] mikedanese opened #9170 "Upgrade ui-dashboard from v1beta2 to v1"
Currently the ui dashboard seems broken. Am I doing something wrong?

![kube-ui](https://cloud.githubusercontent.com/assets/1787169/7952301/b316cf68-0968-11e5-8a63-2236d6acfe6c.png)

As it's making requests to /api/v1beta2 and a quick grep shows:
[code]

So this is part of #8087. Is it possible for us to bump these versions @preillyme @bcbroussard ?

[2015-06-03 04:11] saad-ali commented on #7972
Tracking internally with b/21597665

[2015-06-03 04:24] thockin commented on #9132
This really means going all-in on things like external services.  Any
non-kubernetes IP endpoint must be "imported" into kubernetes' scope to
give it a name.  I guess I can live with that, but it is a bit tedious.

Are there any other ramifications of locking down in this way?

I just ran some tests and it seems that SkyDNS is perhaps automatically
forwarding lookups, so things like metadata.googl

[2015-06-03 04:28] brendandburns opened #9172 "Need to validate DNS as part of network validation"
We need to make sure that our diagnosis scripts (e.g. cluster/test-network.sh) and other cluster validation check for the presence of essential components like SkyDNS, to make user's debugging their clusters easier.

[2015-06-03 04:37] bgrant0607 commented on #9132
I think we should allow access to external services, such as storage APIs.

[2015-06-03 04:49] thockin opened #9173 "gendocs is demanding I regenerate docs, and is changing - to . in flag names."
-      --api-version="": The API version to use when talking to the server
-      --certificate-authority="": Path to a cert. file for the certificate authority.
-      --client-certificate="": Path to a client key file for TLS.
-      --client-key="": Path to a client key file for TLS.
+      --api.version="": The API version to use when talking to the server
+      --certificate.authority="": Pa

[2015-06-03 05:02] thockin commented on #9132
I think it's either

a) inherit everything
b) inherit nothing
c) inherit nothing, provide sufficient flags for admin to do what they want

I'm not keen on trying to enumerate things we block and things we don't

On Tue, Jun 2, 2015 at 9:37 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-03 05:05] davidopp commented on #9066
This seems vaguely related to #8285

[2015-06-03 05:15] bgrant0607 commented on #9097
Cool. Inlined from where?

[2015-06-03 05:16] brendandburns commented on #9087
#8586 looks like it was merged 7 days ago, so it's already in the release afaik.

[2015-06-03 05:27] mikedanese commented on #4783
Is anyone currently working on this?

[2015-06-03 05:40] piosz commented on #8081
Thanks a lot @saad-ali !

[2015-06-03 05:46] davidopp commented on #4783
I emailed @jszczepkowski earlier today to see if he'd be interested in working on it, but since he'll be out Thu-Fri it would probably be better for you to do it, if you're interested.

[2015-06-03 05:54] #8569 closed

[2015-06-03 06:08] feihujiang commented on #8954
Hi, I wonder if anyother has already started working on this? If not, I would volunteer myself to do this.

[2015-06-03 06:32] jainvipin commented on #9072
For the situation @shettyg brought up, I am accessing by configuring the plugin with the apiserver’s URL with netmaster - option 2 that @rajatchopra mentioned above. So it is one time cluster startup configuration to the netmaster, which is cluster’s network intent realizer e.g. https://github.com/contiv/netplugin/tree/master/netmaster

@thockin mentioned:

Going this way would also mean that we’l

[2015-06-03 06:48] thockin commented on #9072
backwards compatible and future extensible.

We're going to have to cross that bridge eventually.

On Tue, Jun 2, 2015 at 11:32 PM, Vipin Jain <notifications@github.com>
wrote:

[2015-06-03 07:01] bgrant0607 commented on #9170
Hmm. v1beta3 support was added, but I'm not sure why the v1beta2 support is still there.
[code]
cc @jackgr

Yes, we should eliminate v1beta2 references.

cc @caesarxuchao @krousey

[2015-06-03 07:03] sushantk commented on #8988
https://github.com/mesosphere/kubernetes-mesos/issues/312

[2015-06-03 07:04] davidopp commented on #8081
+1, thanks!

[2015-06-03 07:13] davidopp commented on #8151
@saad-ali added it to the test, so I think we're only waiting on a fix to #9110 (which @dchen1107 is working on) and then we can move this out of the 1.0 milestone.

[2015-06-03 07:15] nkwangleiGIT commented on #8772
I met with the same issue here, seems hyperkube don't have cAdvisor embedded now.
Do you have any workaround? so we can update some k8s build script to make it work, thanks!

[2015-06-03 07:17] davidopp commented on #8081
@roberthbailey I think we can close this. If you agree, please close it.

[2015-06-03 07:23] davidopp commented on #7051
#8862 has been merged, closing.

[2015-06-03 07:23] #7051 closed

[2015-06-03 07:28] jszczepkowski commented on #4783
@mikedanese please take it as I'm OOO next two days.

[2015-06-03 07:35] bgrant0607 commented on #9147
The proposal in #7328 would add a new sequence number, not use resourceVersion.

If we don't want to bite the bullet and properly implement graceful termination (#1535) in the server, then another alternative would be to just delete the replication controller, and then the pods matching its selector. Rolling update already has such a cleanup loop:
https://github.com/GoogleCloudPlatform/kubernetes/

[2015-06-03 08:05] marekbiskup commented on #8107
I'll be happy to rewrite it in go, then put it into a controller to be run as a pod. Finally, to perform rolling upgrade. For 1.1 of course. For 1.0, I'll implement e2e tests, so that we can track regression. I'll totally skip unittests for bash.

[2015-06-03 08:24] fgrzadkowski commented on #7561
Majority of e2e scalability jenkins runs are green now. In the last 14 runs we had 12 greens and 2 red ones (failed firewall creating and one due to node being not ready). Let's close this issue and open separate issues if we decide to fix remaining problems.

[2015-06-03 08:30] nkwangleiGIT commented on #9122
Hi lavalamp, thanks for your kindly help, as I can see the pods should already be started and running normally. I can check the container log and saw the server started.

Here is the json file for service and replicator:
Service
'''{
    "kind": "Service",
    "apiVersion": "v1beta3",
    "metadata": {
        "name": "hw1-0qjo0",
        "namespace": "nkwanglei8lrp",
        "selfLink": "/api/v1b

[2015-06-03 09:08] pires commented on #9075
@thockin I am updating it as we speak.

[2015-06-03 09:50] gosharplite commented on #8042
@thockin My environment is created as shown.
1. [Pure openstack](http://docs.openstack.org/kilo/install-guide/install/apt/content/) on three physical servers.
2. CoreOS cluster based on @kelseyhightower [cloud-config file](https://github.com/kelseyhightower/osdc-2015/blob/master/demo/configs/kubernetes.yaml).
3. Kubernetes cluster based on  @kelseyhightower [demo](https://github.com/kelseyhightowe

[2015-06-03 10:52] pires commented on #9075
@thockin @erictune @AntonioMeireles I have questions.

1. Care if I remove single-node instructions? I don't think this makes sense anymore, unless someone is going to use `hyperkube`.

2. `master.yaml` needs instructions to generate service-account private key file, so it will depend on `openssl`. Any objections?

3. We should add DNS integration as many examples depend on it. Objections?

4. I'm

[2015-06-03 10:53] AntonioMeireles commented on #9075
no objections on my part.

[2015-06-03 10:54] pires opened #9178 "Revamp CoreOS getting started guides"
Refs #9075 as @thockin wants (we all do) CoreOS documentation to be sober on 1.0 release.

@thockin @erictune @AntonioMeireles I have questions.

1. Care if we remove single-node instructions? I don't think this makes sense anymore, unless someone is going to use `hyperkube`.

2. `master.yaml` needs instrumentation to generate service-account private key file, so it will depend on `openssl`. Any o

[2015-06-03 10:57] aranw commented on #8496
Any updates on getting a fix to this?

[2015-06-03 11:15] marekbiskup commented on #8811
Being fixed by #9128

[2015-06-03 11:15] marekbiskup commented on #8803
Being fixed by #9128

[2015-06-03 12:46] marekbiskup commented on #8107
I haven't found any way to tell salt to restart the linux service kube-addons. Anyone has any idea?
I'll file another bug for this if my PR is merged.

[2015-06-03 12:47] rochaporto opened #9180 "kubectl.sh exec /bin/bash hangs after a while"
Hi.

This seems to happen consistently on a series of containers i run. As a test case i've used a centos7 image running /usr/sbin/init:
[code]
, on which i then do:
[code]

After a certain period of time without providing any input (even if there's a running command sending loads of output) the session hangs. A new session shows the command is still there (ps aux inside the container).

I don't s

[2015-06-03 12:54] smarterclayton commented on #9097
Directory structure - the generator looks for a file in a directory that corresponds to the name of the object or the name of the topic. It slurps in the asciidoc file and then generates the rest of the structure.

[2015-06-03 13:14] zmerlynn commented on #8107
It needs a reason to restart it, like managed files. It would be obnoxious,
but maybe the whole template list if you can't give it the directory?

On Wed, Jun 3, 2015 at 5:46 AM, marekbiskup <notifications@github.com>
wrote:

[2015-06-03 13:22] smarterclayton commented on #9132
Open forwarders are problematic - we've been asked repeatedly to disable it in customer environments, so we just started disabling forwarding in skydns and using SERVFAIL sent by skydns to fall to the next nameserver.

[2015-06-03 13:30] cusspvz commented on #7826
@errordeveloper you can already do some things with [our coreos module](https://github.com/findhit/coreos).

https://github.com/findhit/coreos/blob/master/docs/cli/README.md

Today i will bring up `deploy` methods so we can easily deploy kubernetes or other services into the cluster.

[2015-06-03 13:50] hobti01 commented on #9178
- Could this revamp include removing deprecated ports (e.g. etcd:4001)
  - Does this include plans to accomodate environments that do not set $private_ipv4 ?  We are currently using the @kelseyhightower 's setup-network-environment to get $DEFAULT_IPV4 but due to limitations of variable substitution the configuration cannot be the same as an environment that can use $private_ipv4
  - Is there an a

[2015-06-03 13:53] fgrzadkowski commented on #4521
@piosz have enabled load test which creates :
* 300 rc with 5 pods each
* 25 rc with 30 pods each
* 3 rc with 250 pods each
All creations are spread across all first 10 minuts. After that we randomly resize/delete/recreate all RCs.

Metrics from the first run:
[code]

[2015-06-03 14:06] piosz commented on #6804
Assigned to Clayton since he is working on it.

[2015-06-03 14:35] eparis commented on #9173
I didn't touch cobra...   let me look.

[2015-06-03 14:37] eparis commented on #9173
https://github.com/GoogleCloudPlatform/kubernetes/pull/8026

Was the last time we touched cobra/pflag

[2015-06-03 14:41] eparis commented on #9173
and HEAD is working fine for me. Do you need to make clean to get rid of Godeps/_workspace/pkg?

[2015-06-03 14:46] marekbiskup opened #9185 "remove characters unhandled by go templates from labels"
Even though ```k8s-app``` and ```kubernetes.io/cluster-service``` are valid labels, they cannot be queried by ```kubectl get -o template:

[code]

(Or maybe there is a way to quote / and -?)

I suggest changing the labels to make better users experience.

[2015-06-03 14:46] ncdc commented on #9119
Unfortunately I've got other things on my plate at the moment. But my guess is that the execute command is able to finish reading the data for the stdin/stdout/stderr streams before the error stream's data comes through, leading to the flake. 1 possible solution would be to have the test use "slow" or never-ending readers/writers for the stdin/stdout/stderr streams, while letting the error stream'

[2015-06-03 14:47] marekbiskup commented on #9185
cc @satnam6502 @zmerlynn

[2015-06-03 14:48] eparis commented on #9173
also 5eae2378d6ef71d7125c59a5fdb452a3591753ff was the last time we used a '.' in the util.WordSepNormalizeFunc...   which should be gone in head...

[2015-06-03 15:03] gmarek commented on #3954
I wrote a simple PR #9186 which takes a full cluster created by density test, creates additional pod per node and measure startup latency. I don't have enough quota yet to run it on a target cluster size, but even on small ones results are far from perfect. Namely I observe that usually 1 Node is lagging behind and responds really slowly (it takes over 10 seconds to have a running pod) to schedule

[2015-06-03 15:07] RichieEscarez commented on #9097
@smarterclayton does Markdown get automatically generated too (along with the AsciiDoc you use)? Im working on moving our user doc into GitHub pages and would like a copy of the API in Markdown.

[2015-06-03 15:17] nickethier commented on #8772
Ran into this as well. It also affects the ability to run heapster with k8s source.

[2015-06-03 15:18] jdef commented on #7846
closing this out since the related PR has been merger

[2015-06-03 15:18] #7846 closed

[2015-06-03 15:35] bprashanth opened #9188 "Kubelet sometimes slow to delete pods"
Spinoff from a conversation on https://github.com/GoogleCloudPlatform/kubernetes/pull/9165, I haven't had the time to dig into this yet. Tl;dr version is that graceful deletion is sometimes sluggish with simple ubuntu echo pods on a lightly loaded system. https://github.com/GoogleCloudPlatform/kubernetes/pull/9165#issuecomment-108186294 indicates a possible race. Also discussed on https://github.c

[2015-06-03 16:05] justinsb commented on #8799
@antoineco  AWS LB support has now merged.  It should work :-)  (If you have any issues please open a new bug & mention me and ideally AWS ELB.)

The "correct" field to set is Type on the Service Spec.  If you set that to LoadBalancer, that should create a LB.  All API versions support this field now.

API versions up to v1beta3 (but not v1) also support the (legacy)  createExternalLoadBalancer.

[2015-06-03 16:08] thockin-cc commented on #9173
Weird.  It stopped happening.  Weird.
On Jun 3, 2015 7:48 AM, "Eric Paris" <notifications@github.com> wrote:

[2015-06-03 16:08] #9173 closed

[2015-06-03 16:14] marekbiskup commented on #8107
in #9128 me and @zmerlynn were discussing whether version strings should be included in rc names.

A WIP version with version strings is here:
https://github.com/marekbiskup/kubernetes/compare/addonUpgrade...marekbiskup:addonUpgradeVersionLabel?expand=1

(this is a diff from the tip of #9128)
cc @bgrant0607

[2015-06-03 16:17] pires commented on #9178
Yes.

This is a tricky one since it depends on how you provision you VM. For now, I think it's safe to keep current behavior. Do you have a better suggestion?

The idea is to deploy DNS as per (Kubernetes DNS add-on](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/addons/dns). Other than that, I've never used the manifests thing.

My personal take on this is that Kubernetes i

[2015-06-03 16:18] cjcullen commented on #2462
#9155 removed the last place (that I could find) where we were using node.Name as an address.

[2015-06-03 16:20] wstrange commented on #9180
+1 - I also see this.

Not a show stopper, but it is quite annoying

[2015-06-03 16:27] justinsb commented on #9123
Thanks for the great bug report.  Working on a fix in #9189.

[2015-06-03 16:35] davidopp commented on #4521
Thanks for the update! Can you indicate which PRs related to this issue are still out for review (other than the CoreOS one), if any?

[2015-06-03 16:38] brendandburns opened #9190 "GCE-PD times out @ 10s, and then just keeps retrying to attach..."
GCE-PD attempts to attach the PD.  If that call goes long, the RPC times out, but the call can eventually succeed.

We don't check if the PD is already attached before we try to attach again, that attach fails (since it's already attached) and we just loop on trying to attach and failing.

[2015-06-03 16:39] justinsb commented on #8353
@goltermann  I think it solves the easiest to hit problem where if you interrupt the upload (or the upload fails) then the upload will not be reattempted next time because the SHA marker file is present.

If someone / something changes the file on GCS "behind our back" I don't think my patch fixes that.

[2015-06-03 16:43] iterion opened #9191 "AWS: New Cluster Mirror Pod Issues"
I'm having issues bringing up a new build from master on AWS. The cluster starts and is able to start services as monitoring and logging services are started. However, when listing pods etcd, controller-manager, and the scheduler are stuck in pending.

I first noticed the issue when trying to create a secret which returns resource not found, which I assume is related to etcd not able to be found.

[2015-06-03 16:44] iterion commented on #9191
@justinsb You were super helpful troubleshooting last time if you have some spare time.

[2015-06-03 16:48] justinsb commented on #9191
I can try to reproduce.  Is this with head or a release?

[2015-06-03 16:49] dchen1107 commented on #9110
I move this back v1.0 since it blocks #8151 which is targeted for 1.0. Also fix the on the way.

[2015-06-03 16:49] #9090 closed

[2015-06-03 16:51] erictune commented on #8954
fixed by #9177

[2015-06-03 16:51] #8954 closed

[2015-06-03 16:52] pmorie commented on #7925
Related: #2630

[2015-06-03 17:00] yifan-gu commented on #9178
/cc @bakins

[2015-06-03 17:03] iterion commented on #9191
It was head as of yesterday, but I don't think anything impactful has changed since then. It was on us-east in case that matters. Also, I manually patched my IAM master policy with #9157.

[2015-06-03 17:08] fgrzadkowski commented on #4521
CoreOS one is the only PR in-flight. Number in my previous comment where taken from jenkins.

[2015-06-03 17:10] smarterclayton commented on #9097
swagger2markup can output to Markdown.  Asciidoc is the default.

----- Original Message -----

[2015-06-03 17:14] smarterclayton commented on #2630
At a minimum the emptydir should use the UID/GID/Labels of the security context (if specified).

[2015-06-03 17:21] davidopp commented on #4521
Great, thanks! So the CoreOS PR will improve the above numbers further? (I assume "taken from jenkins" means only using what is already in the codebase -- but wanted to make sure I am understanding correctly.)

[2015-06-03 17:30] goltermann commented on #8353
Thanks.  I think that's enough for now - we can't guard against every way someone could mess with dependent resources.  This solves the most confusing/common case.

[2015-06-03 17:30] #8353 closed

[2015-06-03 17:48] thockin opened #9197 "Deleting an empty namespace takes O(minutes)"
I created an empty namespace, with nothing in it.  Success.  Then I deleted it.  Success.  Then I tried to recreate it - it still exists.  Then I tried to delete it again:

[code]

This is pretty bad UX.  There's nothing in it, it should be gone immediately.  The error message is not useful, either.

@derekwaynecarr

[2015-06-03 18:00] davidopp opened #9198 "k8s-bot and @bgrant0607 have the same Github icon"
It's a little confusing.

[2015-06-03 18:04] bprashanth commented on #9147
Just cleaning up orphaned pods won't cut it because deleting the rc != the rc manager noticing the delete. So if we cleanup orphaned pods and the rc manager is processing the rc, it will still create pods. Looping around till there are none left might, but feels dirty. I'm going to take a stab at a few experimental implementations and see what works best given our 1.0 constraints.

[2015-06-03 18:10] wstrange opened #9199 "Support Preemptible instances on GKE"
It would be nice if GKE supported [https://cloud.google.com/compute/docs/instances/preemptible]

See https://groups.google.com/forum/#!topic/google-containers/RwZV0x56yho for more background

The use case would be for casual testing and development.

[2015-06-03 18:11] wojtek-t commented on #7561
Thanks @fgrzadkowski - SGTM

[2015-06-03 18:15] alex-mohr commented on #6087
I think now that PR #8982 is merged (thanks @erictune !) we now have the doc fixes -- closing.

[2015-06-03 18:15] #6087 closed

[2015-06-03 18:19] rjnagal commented on #9005
Thanks for reporting @cnaize

The labels don't show up because cadvisor doesn't look for filesystems other than btrfs and ext*.
I just added xfs to the list in https://github.com/google/cadvisor/pull/747

We'll pull it into kubelet soon.

If you bring up a standalone cadvisor from head, you should notice "docker-images" label in storage endpoint with this change:
host:port/api/2.0/storage

[2015-06-03 18:27] alex-mohr commented on #3168
Update: @cjcullen is actively driving this -- CJ, can you please mention this issue for the relevant PRs so we can track them as they land?  (And thanks also to @brendandburns for helping out!)

[2015-06-03 18:29] bgrant0607 commented on #9198
Previously my icon was unrecognizable, IMO, so it's a strict improvement over the default one.

[2015-06-03 18:29] derekwaynecarr commented on #9197
@thockin - when you mark a namespace for deletion, it does not know nothing is in it.

the flow is as follows:

1. user marks a namespace for deletion (what you did)
2. user is blocked from creating any new content in that namespace via admission control
3. controller validates that there is nothing in the namespace, if it has stuff, it then begins terminating all the content in that namespace.  i

[2015-06-03 18:31] derekwaynecarr commented on #9197
With an empty namespace, steps 2-4 should be relatively quick, and I would anticipate a few seconds tops unless there is a qps issue.

[2015-06-03 18:32] lavalamp commented on #9167
To rephrase: hack/test-cmd.sh (and probably the e2e tests, too) have a non-obvious dependency on ```~/.kube/config``` which can cause them to behave differently locally and in the CI systems.

[2015-06-03 18:34] vishh commented on #8480
@roberthbailey are you working on this?

[2015-06-03 18:35] thockin commented on #9197
If it were a few seconds it would not be a problem.  I am seeing literally
minutes.  Since we got rid of async operations, this is far less obvious.
Should/Could we denote (at kubectl time) the difference between "success"
and "in progress" ?

On Wed, Jun 3, 2015 at 11:32 AM, Derek Carr <notifications@github.com>
wrote:

[2015-06-03 18:37] lavalamp commented on #9122
I think -v=4 should be good to get this message: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/service/endpoints_controller.go#L256

This should help us narrow down whether the endpoint controller is slow, or something else is wrong.

How large is your cluster? Approximately how many pods are you running?

[2015-06-03 18:38] alex-mohr commented on #8480
I had thought @vishh was driving this via first #8718 and then some followup PRs, but after a chat, it seems those are separate and @roberthbailey has some in-flight PRs to fix this.  He's OOO this week and back on Monday, so we'll wait for him to get back and clarify status.

[2015-06-03 18:41] lavalamp commented on #8799
@justinsb It sounds like the conversion code should be setting type based on createELB. But we're removing v1beta1, so I guess it's too late to fix.

[2015-06-03 18:47] caesarxuchao commented on #9167
Thanks @lavalamp

[2015-06-03 18:54] davidopp commented on #9198
I wasn't suggesting any specific solution, other than implying that one of the icons should be changed.

[2015-06-03 18:56] pmorie commented on #9198
Change the k8s-bot's icon to @bgrant0607's face, then they will be
different.  :-|

On Wed, Jun 3, 2015 at 2:54 PM, David Oppenheimer <notifications@github.com>
wrote:

[2015-06-03 19:06] ghodss commented on #7478
Closed by #8026.

[2015-06-03 19:07] ghodss commented on #7478
Actually, now that #8026 is implemented, we should decide if we want to actually disable _ separators by 1.0, or wait until a later release (like 2.0).

[2015-06-03 19:08] uluyol opened #9204 "Examples should request resources that can be met using the default configuration"
When following the mysql-wordpress-pd example and launching using kube-up.sh, mysql cannot run due to requesting an entire core. Either mysql should be requesting fewer cores, or the machines should be allocated more be default.

[2015-06-03 19:09] davidopp opened #9205 "Add a link to a public k8s presentation to our main README.md or one of the other docs pages"
I recently gave a public talk on k8s and got some feedback that the presentation was useful for understanding the system at a high level (this came from someone who had already poked around in our Github site). I think we should put a link to a presentation on our main README.md or one of the other documentation pages.

In theory we could post a video of someone giving a presentation, or a present

[2015-06-03 19:12] #8989 closed

[2015-06-03 19:13] piosz commented on #8082
Since there is no objections I'm closing the issue.

[2015-06-03 19:13] #8082 closed

[2015-06-03 19:13] #8783 closed

[2015-06-03 19:13] thockin commented on #9204
@uluyol first PR

[2015-06-03 19:14] uluyol opened #9207 "Failed to Fit pod errors are not useful"
When pods cannot be scheduled due to insufficient resources, kubectl describe should give useful output. Currently we have

[code]

which is cryptic and also lists every attempted node.

[2015-06-03 19:16] thockin commented on #7478
is it so bad to just leave it?

On Wed, Jun 3, 2015 at 12:08 PM, Sam Ghods <notifications@github.com> wrote:

[2015-06-03 19:20] piosz commented on #3139
I spent some time trying to stabilize the test and make it green on Jenkins, but it still tends to fail. The priority should be to reach that goal. Also I talked with @fgrzadkowski and implementing services seems to not add too much value for performance related issues and it will probably make stabilization harder.

However if anyone wants to implement it feel free to do it. I won't work on it un

[2015-06-03 19:34] #9123 closed

[2015-06-03 19:40] pmorie opened #9208 "Secrets and EmptyDir E2E are broken in master"
With SELinux enforcing and in permissive mode, I always get the following:

[code]

[2015-06-03 19:42] pmorie commented on #9208
@jayunit100

[2015-06-03 19:55] bkeroackdsc commented on #9178
+1

[2015-06-03 19:55] jayunit100 commented on #9208
@timothysc

[2015-06-03 19:57] timothysc commented on #9208
what do events and kubelet logs say?

[2015-06-03 19:58] pmorie commented on #9208
I would look for mount failures in the kubelet logs.

[2015-06-03 19:58] derekwaynecarr commented on #9197
Are you seeing minutes on an old release or from HEAD?  How many namespaces are in the system?  You said the namespace was empty, but are there other namespaces with tons of replication controllers?  We have density tests that test your scenario in question, see https://github.com/GoogleCloudPlatform/kubernetes/pull/8434

I think the work @smarterclayton is doing with graceful pod deletion is anot

[2015-06-03 20:00] jayunit100 commented on #9208
Note that this    failure is breaking networking e2e's and others as well.

[2015-06-03 20:12] thockin commented on #9197
This is from head as of yesterday or Monday.  Nothing else is really
happening in this cluster.

On Wed, Jun 3, 2015 at 12:59 PM, Derek Carr <notifications@github.com>
wrote:

[2015-06-03 20:17] bgrant0607 commented on #9180
cc @ncdc

[2015-06-03 20:19] bgrant0607 commented on #9180
This is probably similar to the logs issue -- maybe the connection times out after 5 minutes. #9013

[2015-06-03 20:22] justinsb commented on #8799
@lavalamp I don't really understand ... here's the code for v1beta3; I think it does what you're asking for:  https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/conversion.go#L365-L375

Maybe I could throw a validation error there if createELB & type != LoadBalancer, but I don't think validation is supposed to be happening in here.

[2015-06-03 20:24] bgrant0607 commented on #9199
cc @erickhan

[2015-06-03 20:29] alex-mohr commented on #6075
I think https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/upgrade.sh meets this one for GCE and thus is post-v1 or closable?

It'd be nice if someone'd do an equivalent for AWS, for example.  @justinsb might be interested, but probably busy with other things?  Someone else?

[2015-06-03 20:29] mnemotiv opened #9212 "Certificates can't be read by API server"
Problem with:

[code]

[code]

Same happens with --kubelet-client-certificate= also (if tls configuration is removed).

Tried chown and chgroup (but impossible, 'cause CoreOS doesn't use so many different users other than default root user), chmod in various forms also doesn't help.

File exists, but problem persists.

K8s v: 0.18.0
CoreOS: 695.0.0 alpha

[2015-06-03 20:31] lavalamp commented on #8799
Ah, maybe it has a bad interaction with the defaulting code, which runs first: https://github.com/GoogleCloudPlatform/kubernetes/blob/32bb3ae8f170a3d2d410ea097739ab4964cccc3e/pkg/api/v1beta3/defaults.go#L72

[2015-06-03 20:31] bgrant0607 commented on #9208
Which e2e tests specifically are failing?

@erictune

[2015-06-03 20:32] zmerlynn commented on #6075
I think we're done here for GCE, yeah - except for testing.

[2015-06-03 20:36] lavalamp commented on #9013
I think users that want to do this should get the logs from elastic search instead of from kubectl.

[2015-06-03 20:36] mulloymorrow opened #9214 "ElasticSearch_Discovery missing"
Attempting to make directory fails.
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/elasticsearch

[code]

[2015-06-03 20:39] erictune commented on #8250
The path we are going with for v1 is that you just use the token provides due to the default service account for the namespace.  SkyDNS should use pkg/client/helper.go NewInCluster.

@lavalamp implemented that new helper function.

[2015-06-03 20:43] erictune commented on #9208
@bgrant0607 Since SELinux is mentioned, I think this must be a redhat-owned e2e.

[2015-06-03 20:49] jayunit100 commented on #9208
Fwiw I think the break is recent . Iirc networking was passing yesterday from head.

[2015-06-03 20:49] brenton commented on #9013
I can't say I disagree about needing something like elastic search in a real world deployment.  I guess part of the weirdness is that clients of the logging API rarely know how much is going to be pulled down before they make the request.  I guess the answer now if you're following the logs is "5 minutes worth".

I know this isn't how it's implemented today but in my mind following the logs should

[2015-06-03 20:54] derekwaynecarr commented on #9197
I will debug tonight/tomorrow to see if there is a regression somewhere, but the code in question has not changed, so if things have got slow for some reason, it's because of a side-effect of something else.

[2015-06-03 20:58] derekwaynecarr commented on #9197
@thockin - I am getting a number of errors like this in my controller logs:

[code]

This is new to me, so maybe that is related.  @lavalamp - I know we recently merged some changes to the reflector code here (cant find the PR in question), but could that be related?

[2015-06-03 21:03] derekwaynecarr commented on #9197
@thockin - out of curiosity, was your cluster running a long time?  spinning up a fresh cluster now, but trying to think about possible variables here.

[2015-06-03 21:09] satnam6502 commented on #9214
You need to make the binary first.

[2015-06-03 21:11] satnam6502 commented on #9214
make all

[2015-06-03 21:11] alex-mohr commented on #8081
Thanks for the work here!

My understanding from @saad-ali's comment at https://github.com/GoogleCloudPlatform/kubernetes/issues/8081#issuecomment-106613111 that of Robby's initial comment, the tests now do 1., 3., and 5., but not 2. or 4.?

If the e2es clean up after themselves and we're testing upgrading an empty cluster, are we vulnerable to upgrades causing existing pods/services/etc to become

[2015-06-03 21:13] lavalamp commented on #9197
#8915 is the only thing I'm aware of-- if that code path is triggering I would expect additional 401 errors. But it should recover and do a re-list immediately. @derekwaynecarr how much time elapses between those error messages?

[2015-06-03 21:15] derekwaynecarr commented on #9197
@lavalamp - will report back with what I see from HEAD when I test, I had brought my cluster down to start fresh.  Thanks for the referenced PR.

[2015-06-03 21:18] markturansky opened #9218 "Validate mounting volumes by type"
Some volumes can be mounted once in a cluster.   Others can be mounted many times, but in different modes.

Gather requirements around each volume, understand their rules, and implement runtime validation to prevent the wrong thing from getting mounted the wrong way on the wrong host.

This is similar to and a complement of scheduling constraints based on volume type: https://github.com/GoogleClou

[2015-06-03 21:18] alex-mohr commented on #6075
@zmerlynn does #8081 capture the testing we want?  if so, please close, else please file a bug that captures?

[2015-06-03 21:21] smarterclayton commented on #9218
A PV that is mounted onto a node for pod 1 should not be able to be added to pod 2 on that same node if the PV is not readwritemany.

[2015-06-03 21:21] erictune commented on #8402
We should have things sorted out by tomorrow.

On Fri, May 22, 2015 at 11:08 PM, Xingyu Chen <notifications@github.com>
wrote:

[2015-06-03 21:23] bprashanth commented on #9197
@derekwaynecarr that's some-what expected since we bumped up the watch timeout, all you'll see is the etcd watch window exiring, sometimes every minute (because of node status updates). I suspect that's a red herring in this case though. see https://github.com/GoogleCloudPlatform/kubernetes/issues/8700 for context.

[2015-06-03 21:25] satnam6502 commented on #8799
So is having to add `type: LoadBalancer` to make my load balancer work still a bug then?

[2015-06-03 21:30] lavalamp commented on #9197
@bprashanth -- increasing the watch timeout should *not* increase the number of 401 errors, if etcd works as expected. You should only be able to get a 401 error when the time between list and initiation of the watch is too long. If your watch is successful at first, you shouldn't be able to get a 401 error from that watch afterwards.

[2015-06-03 21:36] bprashanth commented on #9197
hmm, i think go-etcd client does a new watch per notification. So even if you think you've initiated a watch (from the reflector), you're re-initiating a watch every time from some 500 goroutines that all share 4 cores in the apiserver. Agreed that increasing the timeout should not increase the 401's, just that you will now see 401s when previously you might not have, and the number of 401's reall

[2015-06-03 21:36] jeffmendoza opened #9220 "Docs: container-environment.md should link to or include downward_api.md"
[container-environment.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/container-environment.md) should link to, or possibly be merged with [downward_api.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/downward_api.md). These are both applicable to someone getting started and or porting an app to kubernetes, who need to figure out what metadata is avai

[2015-06-03 21:43] kuboid commented on #7562
@thockin

We have done some work on this front and intend to submit a proposal soon. A very high level description.

1) Scheduler is aware of storage capacity of each node
2) Durable volumes are created with a specific size requirement (among others)
3) Scheduler places a durable volume to a node which meets the requirements
4) When a pod requests that a durable volume be mounted, it is only sched

[2015-06-03 21:45] #9110 closed

[2015-06-03 21:48] justinsb commented on #8799
If you have to include that (as well as createExternalLoadBalancer: true) with v1beta3, then yes, that is a bug @satnam6502.  (With v1, there is no createELB)

I just tried the guestbook-go example (`find examples/guestbook-go -name "*.json" | xargs -I {} kubectl create -f {}` against master (on AWS) and it worked (created an LB, visible in `kubectl get services guestbook -ojson` and in `kubectl d

[2015-06-03 21:50] bprashanth commented on #9147
I think I'm going to stick with watching pods instead of status.Replicas in kubectl, that'll fix a majority of the confusion and confine the changes to kubectl, though some races will still be possible. In theory graceful termination is a feature and we have feature freeze on friday, so that's probably not getting.

[2015-06-03 21:57] justinsb commented on #9191
Confirmed that the pods are indeed stuck in pending, although it doesn't seem to impact my ability to do anything (though I haven't tried creating a secret yet).

I suspect it is related to the name being `ip-172-20-0-9` and not `ip-172-20-0-9.<region>.compute.internal`, and the errors around that.  I think there's also another bug open for that, which hopefully I will come across in my trawl thro

[2015-06-03 22:02] caesarxuchao commented on #9070
I've finished adding v1 tests based on the changes made in #8917.

Here is a list of test files that contains "v1beta3" but not "v1". I'll go through them one by one.

[code]
./runtime/unstructured_test.go
./runtime/helper_test.go
./registry/podtemplate/etcd/etcd_test.go
./apiserver/api_installer_test.go
./apiserver/apiserver_test.go
./kubelet/config/file_test.go
./kubelet/config/common_test.go
./

[2015-06-03 22:04] iterion commented on #9191
Yeah, that was the strange thing for me as well, everything else seemed to be work. It wasn't until I tried to create a secret that I got an error.

Let me know if there are any code changes or investigation for which I can lend a hand?

[2015-06-03 22:06] chanezon commented on #9178
+1
But I guess @errordeveloper and @squillace opinions matter more than mine for this.

[2015-06-03 22:07] erictune commented on #7562
Proposals welcome!  What you have outlined sounds similar to the "New
Resource Kind" option from #1515.
You may want to read through that issue while working on your proposal.
However, some time has passed
since then, so a fresh perspective is certainly welcome.

On Wed, Jun 3, 2015 at 2:44 PM, Ravi Gadde <notifications@github.com> wrote:

[2015-06-03 22:08] #9204 closed

[2015-06-03 22:09] iterion commented on #9191
FYI: the error I see when trying to create a secret:

[code]

[2015-06-03 22:13] squillace commented on #9178
@chanezon Heh. If I'm being asked to comment on the below, then +1.

1. Care if we remove single-node instructions? I don't think this makes sense anymore, unless someone is going to use hyperkube.

2. master.yaml needs instrumentation to generate service-account private key file, so it will depend on openssl. Any objections?

3. We should add DNS integration as many examples depend on it. Objecti

[2015-06-03 22:22] erictune commented on #9132
@thockin
I didn't think that accessing storage APIs, such as GCS, requires use of `.internal` names, right?  So I don't think @bgrant0607 are in disagreement?

[2015-06-03 22:22] satnam6502 commented on #8799
It worked with guestbook with the one attempt I made -- but I worry that
this might be a flaky thing?
For my music service example it seems to always fail unless I add the type.

S

On Wed, Jun 3, 2015 at 10:49 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-06-03 22:29] pmorie commented on #9208
I'm going to dig into this one tonight, since I have to make a code change to the emptyDir plugin and this has to be fixed first.

[2015-06-03 22:37] mulloymorrow commented on #9214
just going to create a new docker file that is based on yours. `FROM kubernetes/elasticsearch:1.0` Done!

[2015-06-03 22:37] #9214 closed

[2015-06-03 22:50] justinsb commented on #8799
So if the problem is  flakiness we're trying to address by capturing events on failure (done, I think), and maybe adding a LoadBalancer Creation status to Status (#8992 #9106).  The problem has often been quota, but we don't know if there is another problem also.

The music service case is weird, especially if you do see guestbook-go working with the same createELB/type combination.  It suggests a

[2015-06-03 22:55] pires commented on #9178
@chanezon @squillace @errordeveloper what I need from you guys, the maintainers of CoreOS on Azure, is to work with me or anyone else to get things tested before opening PR. I don't have an Azure account or experience with it, so that's why.

[2015-06-03 22:56] justinsb commented on #8992
v1-post means we're not targeting this for v1, right?

[2015-06-03 23:09] satnam6502 commented on #8799
Ugh. Do we need to explicitly create namespaces now?

$ kubectl create -f mytunes-pod-v1.yaml --namespace=mytunes
Error from server: Pod "mytunes-v1" is forbidden: Namespace mytunes does
not exist

On Wed, Jun 3, 2015 at 11:51 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-06-03 23:12] squillace commented on #9178
@pires I can test on azure, and I can get you a test account on azure if you would like to test as well. I'm unlikely to be able to test, however, until Monday. But I'm happy to do it.

[2015-06-03 23:26] justinsb commented on #8799
(Don't know, but maybe #8696.  I haven't really started using namespaces yet myself)

[2015-06-03 23:29] erictune opened #9221 "DNS instructions don't say how to check if DNS is working."
cluster/addons/dns/README.md doesn't say how to check if DNS is working.

Something like (not tested):
[code]

[2015-06-03 23:30] derekwaynecarr commented on #9197
I spun up a cluster on GCE and do see a longer than expected time to delete a namespace.

I need to debug further to see what is causing the regression in performance here as it used to be MUCH faster.

[2015-06-03 23:31] satnam6502 commented on #8799
Well once I can create the pods and service I will get you your logs :-)

[2015-06-03 23:32] bprashanth commented on #9197
maybe unrelated but i've observed deleting a ns with O(100) events takes ~10m

[2015-06-03 23:35] shettyg commented on #9072
@jainvipin
Thanks for the insight. A little off-topic: What is the general consensus on where to define networking? Is it added as part of pod json as annotations or kept separate?

[2015-06-03 23:35] bgrant0607 commented on #8992
Correct

[2015-06-03 23:37] derekwaynecarr commented on #9197
General performance would improve with https://github.com/GoogleCloudPlatform/kubernetes/pull/7372 , but that was gated first on  understanding what was going to happen with graceful deletion of pods.  I don't think the namespace had a large number of events given that I had just created it.   It may be good to pull in #7372 for everything but pods

[2015-06-03 23:37] JasonGiedymin opened #9223 "Documentation Updates - Redis & Open Shift"
General updates for docs.
See PR #9222

[2015-06-03 23:38] caesarxuchao commented on #9070
In latest_test.go, line 73,
[code]
Is this still the behavior we expect? More specifically, do we want VersionAndKindForResource to return v1 or v1beta3? We will need to change the order of registered versions if we want v1 to be returned.

@bgrant0607

[2015-06-03 23:47] satnam6502 opened #9224 "kubetcl create service crashes when no apiVersion is provided"
[code]

[2015-06-03 23:47] satnam6502 commented on #8799
Still in pain #9224

[2015-06-03 23:48] derekwaynecarr commented on #9197
the namespace_controller is using not using the framework. informer stuff, maybe something there was changed and got missed in those moves.

[2015-06-03 23:49] satnam6502 commented on #9224
Pods and namespace were created fine.
[code]

[2015-06-03 23:52] satnam6502 commented on #9185
I think @thockin originally dreamed up these names? Do we have a policy for legal characters for label keys and values?

[2015-06-03 23:53] satnam6502 commented on #9224
And thanks @erictune for your help re: namespaces.

[2015-06-03 23:58] derekwaynecarr commented on #9197
well, i am using it, but maybe i am using it wrong

[2015-06-04 00:00] bgrant0607 commented on #9220
cc @pmorie

[2015-06-04 00:01] caesarxuchao commented on #9070
Hi @bgrant0607,

For these tests have v1beta3 test cases but not v1, but I don't think adding v1 will make a difference. Shall I leave them as they are, or shall I add v1 tests for them?
./apiserver/api_installer_test.go
./kubectl/cmd/util/factory_test.go
./kubectl/cmd/expose_test.go
./client/record/events_cache_test.go

`./registry/podtemplate/etcd/etcd_test.go`  uses a v1beta3 codec. Please advi

[2015-06-04 00:07] bgrant0607 commented on #9212
What getting-started guide / config are you using?

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/master.yaml
?

cc @kelseyhightower

[2015-06-04 00:11] satnam6502 commented on #9224
@jlowdermilk

[2015-06-04 00:22] erictune opened #9229 "clusterDNS does not dedup entries"
In `pkg/kubelet/kubelet,go` in `getClusterDNS(...)`, it appends cluster DNS nameserver and search paths to the ones in the host resolv.conf.

A user reported trying to add skydns nameserver address and kubernetes search paths to the host resolv.conf.  Not what the instructions say to do, but a reasonable thing to do.  Very reasonable if you want to be able to resolve service names while debugging

[2015-06-04 00:24] jainvipin commented on #9072
@shettyg - In my view `defining networking` is a much bigger task than associating annotations/labels to the pods. Clearly, the later one is needed for the former to work. Defining networking involves specifying the overall policy using which the operator wants to define/manage inter-connectivity within clusters, and perhaps traffic leaving the cluster. There are many examples that constitute clus

[2015-06-04 00:26] bgrant0607 commented on #9070
@caesarxuchao `replicationControllers` was valid only for v1beta1 and v1beta2. It should be all lowercase `replicationcontrollers` for both v1beta3 and v1.

[2015-06-04 00:27] bgrant0607 commented on #9070
We're not ready to make v1 the preferred API yet. It's not even enabled by default.

[2015-06-04 00:28] bgrant0607 commented on #9070
PodTemplate was not in v1beta1 and v1beta2. It should be in v1 as well as v1beta3.

[2015-06-04 00:39] bgrant0607 commented on #9070
api_installer_test.go, factory_test.go, and expose_test.go: Just change those from v1beta3 to v1.

event_cache_test.go: I don't think it depends on the apiversion -- it's data in the event. Try changing all instances of v1beta2 to "version".

[2015-06-04 00:41] caesarxuchao commented on #9070
I will make these changes in #9225

[2015-06-04 00:42] bgrant0607 commented on #9070
You can remove the `if api.PreV1Beta3(testapi.Version())` checks from pod_template_test.go.

[2015-06-04 00:45] bgrant0607 commented on #9070
And you should be able to remove "newerHelper" in master.go and just use c.EtcdHelper.

[2015-06-04 00:49] erictune commented on #9178
Removing `docs/getting-started-guides/coreos/coreos_single_node_cluster.md` sounds good to me.  There are other options for people who just want to kick the tires quickly.

Yes, add DNS integration.  It is basically required.

[2015-06-04 01:03] yujuhong commented on #9188
The potential cause of the slow pod deletion has been identified in #9165, and it is not related to race conditions. Once the PR is fixed and verified, we can close this issue.

[2015-06-04 01:09] timothysc commented on #9208
Something destabilizing has occurred, below is the complete set of abnormal issues.

It doesn't appear to be SELinux related, b/c it was disabled on this test run, still digging.

[Fail] Networking [It] should function for intra-pod communication
/var/lib/jenkins/workspace/kubernetes/_output/local/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/networking.go:136

[Fail] hostDir [It] MOD

[2015-06-04 01:15] sanjana-bhat opened #9231 "Configure an array of replication controllers/pods in a single json/yaml file"
Hi All,

Does k8s support configuring an array of rc/pods in a single json/yaml file?

Thanks,
Sanjana

[2015-06-04 01:18] erictune commented on #9079
#9230 surfaces to the user if system is hitting this problem.

[2015-06-04 01:19] WIZARD-CXY commented on #8402
looking forward to. THANKS

May the force be with you

[2015-06-04 01:23] WIZARD-CXY commented on #8402
Looking forward to

[2015-06-04 01:24] derekwaynecarr commented on #9197
A potential theory:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/namespace/namespace_controller.go#L59

if this throws an error, we ignore until the next full re-list period.  need to add more logging to see if that is the actual cause, and if we should be retrying immediately instead of waiting.

[2015-06-04 01:24] justinsb commented on #8571
I don't think this is an AWS issue.  We've had reports of it happening on VMWare & GCE also, and I've confirmed that personally on GCE.

Further, when I changed things so that the minion name _could_ be resolved (https://github.com/justinsb/kubernetes/commit/ebc69c290bfa40a84df605266010aba9a728df83) kubelet on the master then registered itself as a node and it started getting pod assignments.

I t

[2015-06-04 01:39] vmarmol commented on #9198
@pmorie lol

[2015-06-04 01:44] derekwaynecarr commented on #9197
For what its worth, namespace deletion in OpenShift (which is doing even more than what is being done in Kubernetes is super fast, like less than a second for me), and we run more controllers so something has changed...

[2015-06-04 01:57] derekwaynecarr commented on #9197
It appears to be an error is getting returned when deleteServiceAccounts, and then we wait for next full resync period to try again and actually delete (when things then pass).  Working with @liggitt on the reason, but that now makes some more sense.

[2015-06-04 01:59] bcbroussard commented on #9170
@bgrant0607 I'll have a fix for this shortly

[2015-06-04 02:02] liggitt commented on #9197
tokencontroller deletes a service account's tokens when it the serviceaccount gets deleted. namespace finalizer should probably broadly tolerate NotFound errors when iterating and deleting

[2015-06-04 02:03] derekwaynecarr commented on #9197
tokens_controller and namespace_controller are racing when deleting secrets.  fix is to update the namespace controller to not care when it gets back an item not found error on a delete call.  will send a pr.  this would all be much simpler code when / if we had collection level delete in #7372

[2015-06-04 02:05] justinsb commented on #8571
(Also marked this as v1-candidate, I believe that is the correct way to flag it as being something we should probably fix for v1)

[2015-06-04 02:13] bgrant0607 commented on #9170
Thanks, @bcbroussard.

[2015-06-04 02:16] bgrant0607 commented on #9208
Is anything passing?

[2015-06-04 02:43] jayunit100 commented on #9208
did e2e's pass this chaos, upstream ? if **yes** then i wonder wether maybe some change coupled functionality to a robust cloud provider  impl ?

[2015-06-04 02:45] justinsb commented on #9191
I just tried this again, with bc0816f5e5de9f2b13bf83f8df5f1bf464661f15 which reverts some of #9155.  I had seen some similar errors to the ones which were prompting the rollback.

My pods are now all "running".  Do you want to try pulling something that includes the rollback of #9155 and trying again?

(The issue I was thinking it was, with "Cannot get host IP", actually seems to be a different is

[2015-06-04 02:58] bgrant0607 commented on #9208
We run several sets of tests on GCE and GKE. The tests that have been reasonably stable are still stable, including:
[code]

[2015-06-04 03:03] bgrant0607 commented on #9208
I take it back. The e2e run that started around 7pm PST just failed with similar symptoms.

[2015-06-04 03:03] pmorie commented on #9208
@bgrant0607 Interesting -- which commits were new in that run?

[2015-06-04 03:05] pmorie commented on #9208
Maybe that can give us a range to bisect

[2015-06-04 03:07] nkwangleiGIT commented on #9122
We're running more than 300 pods in a 10 nodes cluster by now, will change the log level and put the log here later, thanks a lot!

[2015-06-04 03:09] bgrant0607 commented on #9208
No new commits.

[2015-06-04 03:11] bgrant0607 commented on #9208
Just a minute.

[2015-06-04 03:12] bgrant0607 commented on #9208
#9211

cc @lavalamp

[2015-06-04 03:15] bgrant0607 commented on #9208
There was one passing e2e run with #9211, actually. There were no changes in the failing run AFAICT.

[2015-06-04 03:15] bgrant0607 commented on #9208
Running e2e with #9232 now.

[2015-06-04 03:16] caesarxuchao commented on #9070
I understand "replicationControllers" should not be valid for v1beta3 or v1. But currently the RestMapper.VersionAndKindForResource will tolerate "replicationControllers", because it lower case the string before looking it up in the map. I will modify this line of test but I won't change the behavior of this function.

[2015-06-04 03:18] pmorie commented on #9208
@bgrant0607 I think that more than one issue is in play -- which tests failed in your internal run?

I would believe that #9211 affects the services test, but I don't think it would affect emptyDir.

I'm going to dig into this locally and try to debug the emptyDir e2e -- I think that will lead us to the root cause of secrets and the networking e2e (potentially) as well.

[2015-06-04 03:19] pmorie commented on #9208
Interesting, I just got green on emptyDir locally.

[2015-06-04 03:20] pmorie commented on #9208
Also, #9211 was committed too late to be the root cause of the secrets failures we saw earlier.  Both @jayunit100 and I had failures at around 12:00 pacific time.

[2015-06-04 03:21] pmorie commented on #9208
Interesting, got a clean secrets run just now too.

[2015-06-04 03:22] bgrant0607 commented on #9208
I wonder if it's a problem with an image (someone had pushed a bad DNS image on Monday) or access to the docker registry or somesuch.

[2015-06-04 03:24] bgrant0607 commented on #9208
Kubernetes e2e suite.hostDir should support r/w on tmpfs
Kubernetes e2e suite.Docker Containers should use the image defaults if command and args are blank
Kubernetes e2e suite.Secrets should be consumable from pods
Kubernetes e2e suite.EmptyDir volumes should support r/w on tmpfs
Kubernetes e2e suite.Docker Containers should be able to override the image's default commmand (docker entrypoint)
Kub

[2015-06-04 03:33] pmorie commented on #9208
@bgrant0607 I'm going to kick off a full local run, will post results.

[2015-06-04 03:37] bgrant0607 commented on #9208
What I see in a successful run:
[code]
What I see in the failed run:
[code]

[2015-06-04 03:38] bgrant0607 commented on #9208
The pod logs line is blank for every failing test.

[2015-06-04 03:40] bgrant0607 commented on #9208
The e2e run in progress does not exhibit this problem.

[2015-06-04 03:43] mikedanese commented on #4783
Just submitted PR #9236 to resolve this. I would appreciate review.

[2015-06-04 03:44] adyanthaya17 opened #9237 "'kubectl get nodes' returns unknown command"
Hi, I'm following the ubuntu.md document to build my kubernetes node, having both master and minion configured in same node and another minion node but I'm getting an error while I run the below command:

$kubectl get nodes
 NAME            LABELS                                 STATUS
10.x.x.x   kubernetes.io/hostname=10.x.x.x   Ready
10.x.x.y   kubernetes.io/hostname=10.x.x.y   NotReady

The 10.

[2015-06-04 03:53] bgrant0607 commented on #9208
The e2e run passed.

[2015-06-04 03:55] bgrant0607 commented on #9208
#9155 was merged 22 hours ago. Does that timeframe fit?

[2015-06-04 03:58] #8749 closed

[2015-06-04 04:14] #8687 closed

[2015-06-04 04:15] #4567 closed

[2015-06-04 04:15] #7963 closed

[2015-06-04 04:34] iterion commented on #9191
Thanks! I created a cluster with bc0816f and all of my pods are now "running" and I'm now able to create my secret.

I'm going to close this issue now since it seems like it's resolved.

[2015-06-04 04:34] #9191 closed

[2015-06-04 04:36] piosz commented on #8151
#9110 fixed so moving this to post-1.0 milestone.

[2015-06-04 04:49] bgrant0607 commented on #9208
2 successful e2e runs.

[2015-06-04 04:53] thockin commented on #9197
Thanks for digging in.  I will spin up a fresh cluster tomorrow and see if
I can repro.

On Wed, Jun 3, 2015 at 7:04 PM, Derek Carr <notifications@github.com> wrote:

[2015-06-04 05:00] #6855 closed

[2015-06-04 05:02] #7884 closed

[2015-06-04 05:02] davidopp commented on #8151
Thanks @piosz and @dchen1107 !

[2015-06-04 05:03] davidopp commented on #8151
(BTW it would probably be good to do some more testing on this feature.)

[2015-06-04 05:04] bgrant0607 commented on #8489
cc @ghodss

[2015-06-04 05:09] tobegit3hub commented on #9090
Great job :+1: @mikedanese

[2015-06-04 05:15] pmorie commented on #2630
+1, but also:

Now that we have security context API in place, I think we should make emptyDir work with the security context of the containers in a pod.  One little wrinkle to iron out about this is that volumes are pod-scoped while security contexts are container scoped.  I think you will have to look at which containers have the volume mounted and what their security contexts are.  If there's a

[2015-06-04 05:18] #9197 closed

[2015-06-04 05:21] pmorie commented on #9208
@bgrant0607 So, do I understand correctly that the internel jenkins had a single broken run, then 3 more successful runs after that?

[2015-06-04 05:24] pmorie commented on #9208
@bgrant0607 re: #9155 I cannot timeframe it personally as I have been focusing on OpenShift related matters pretty hard the last few days except for code reviews for kube.

@jayunit100 does the timeframe around #9155 line up with your observations?  When did you first notice these breaks?

This is reminding me of a number of e2e issues I wanted to create -- will peel those off.

[2015-06-04 05:44] bgrant0607 commented on #9208
@pmorie Yes, only a single broken run with the symptoms discussed in this issue.

[2015-06-04 05:57] thockin commented on #2630
I don't really like the heuristics here.  I acknowledge that I suggested a
heuristic but that was half a year ago :)

Other than Docker support not being done yet, why can't we do something
like:

1. All volumes get allocated a unique GID (maybe machine-unique or maybe
master-allocated?)
2. All volumes are mounted g+srwx
3. All containers in a pod get all volumes in that pod's GIDs in their
supple

[2015-06-04 05:59] thockin commented on #9178
DNS is required in pretty much every way.

On Wed, Jun 3, 2015 at 5:49 PM, Eric Tune <notifications@github.com> wrote:

[2015-06-04 06:13] BenTheElder commented on #9125
This could get tricky with the all iptables version. https://github.com/GoogleCloudPlatform/kubernetes/issues/3760

[2015-06-04 06:16] pmorie commented on #9208
Interesting @bgrant0607 - my machine got into a weird state and I didn't
trust my first results (many failures, FTR). I'm re-running now.
On Thu, Jun 4, 2015 at 1:44 AM Brian Grant <notifications@github.com> wrote:

[2015-06-04 06:21] BenTheElder opened #9241 "Vagrant hanging on adding SaltStack's COPR repository"
With `KUBERNETES_PROVIDER=vagrant`, `go run hack/e2e.go -v -up -test` the provisioning hangs on:
`==> master:  *  INFO: Adding SaltStack's COPR repository`

I've had this happen multiple times now, the current time has been hung for about 15 minutes while I attempted to debug and search for similar issues. I can `vagrant ssh master` from another shell but the one running e2e is just sitting on a b

[2015-06-04 06:25] thockin commented on #9185
a) Go's template language is atrocious
b) Go's template language does not handle anything but trivial indexing
c)
http://stackoverflow.com/questions/24267608/how-to-print-the-value-of-a-key-containing-dots

I can't even make 'index' work.

kubectl get pods -o template -t '{{range .items}}{{index .metadata.labels
"run"}}{{end}}'  gives me a zero-value error

On Wed, Jun 3, 2015 at 4:52 PM, Satnam S

[2015-06-04 06:25] adyanthaya17 commented on #9237
Okay, so it seemed it was because the Docker wasn't installed on my machine. But I do have a further question. When I add another minion node to the set up, during the kubectl get nodes the node states as NotReady.

[2015-06-04 06:26] davidopp commented on #8119
@timothysc ping? Can you pretty please give the info @bprashanth requested?

[2015-06-04 06:35] thockin commented on #9132
If we disable forwarding entirely then we MUST pass a "real" nameserver to
all containers, which means yet another flag for cluster admins to get
right.

On Wed, Jun 3, 2015 at 6:23 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-04 06:38] mnemotiv commented on #9212
Yes, this one.

But I've replaced some deprecated/changed flags, such as --public_address_override to new ones according to v1beta3 pattern.

Basicly my cloud-config has been made from https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/master.yaml plus with additional new service made by me which generates all files required for TLS and C

[2015-06-04 06:38] mnemotiv commented on #9212
cc @kelseyhightower

[2015-06-04 06:52] errordeveloper opened #9242 "coreos/azure: login commands"
@srakesh28 has suggested (https://github.com/GoogleCloudPlatform/kubernetes/pull/9060#issuecomment-108642690) that it may be necessary to add the following commands:

[code]

[2015-06-04 06:53] Artenac2 opened #9243 "What kind of load-balancing ?"
I work for two weeks on Kubernetes  now and i didn't find any informations about the kind of load-balancing.

I explain myself, I want to know if kubernetes uses round-robin or other kind of load-balancing specific.

Or if Kubernetes uses all load-balancer.

And how can we specify on a file ?

[2015-06-04 06:58] errordeveloper opened #9244 "coreos/azure: accessing services from the outside world"
As @srakesh28 pointed out (https://github.com/GoogleCloudPlatform/kubernetes/pull/9060#issuecomment-108642690), it's currently not possible to access service [as documented](https://github.com/GoogleCloudPlatform/kubernetes/blob/a161edb3960c01ff6e14813858c2eeb85910009b/docs/getting-started-guides/coreos/azure/README.md#exposing-the-app-to-the-outside-world). I am certain it works a few releases ag

[2015-06-04 07:02] pramttl opened #9246 "[usability-issue] kubectl commands shows confusing line: Starting cluster using os distro .."
Example:

kubectl cluster-info shows a redundant line: `Starting cluster using os distro: ubuntu`
The cluster is already up, so the phrase "Starting cluster" is confusing in context of the command. (My kubernetes test cluster is running on AWS i.e. KUBERNETES_PROVIDER=aws. I had used kube-up.sh to create a test kubernetes cluster on aws).  Log of my shell session:

[code]

[2015-06-04 07:08] derekwaynecarr commented on #9241
I think there were problems with the fedora mirrors this evening.  Hope it clears up soon.

Sent from my iPhone

[2015-06-04 07:09] derekwaynecarr commented on #9241
If it continues to hang, I will look to alternate mechanisms to bootstrap salt

Sent from my iPhone

[2015-06-04 07:10] errordeveloper commented on #9178
@pires it's a great goal, however there should a well-defined extend to which we should go. For example, the Azure example uses this JS wrapper around the CLI which does a number of things like generating SSH config file and some other state files, as well as generating cloud-config manifests from template in a kind of nice way (I find).

I think the best we could get to would be around systemd un

[2015-06-04 07:13] mnemotiv commented on #9212
journalctl -r -u kube-apiserver
[code]

[2015-06-04 07:20] davidopp commented on #7561
I'm going to reopen this since there are apparently still problems with e2e scalability test (load test had to be disabled today, #9201). Probably I should open a separate bug but this is close enough.

[2015-06-04 07:21] pramttl opened #9247 "[feature-suggestion] [kubectl] Ability to filter "kubectl get <resource>" output to show only select columns"
`kubectl get <resource_name>` prints all the resource info as a table by default. Sometimes there is just too much data and one row of the table is not able to fit in one line. It takes time to comprehend that entire output. It may be particularly useful to restrict columns by name. So for example in context of resource pod, something like..

`kubectl get pods --filter names`

that would only pod

[2015-06-04 07:22] pmorie commented on #9208
This is cleaner:

[2015-06-04 07:23] davidopp commented on #3139
I've reopened #7561 to track the problems with the load test. I'm going to move this issue out of the 1.0 milestone because nobody is going to have time to add the service thing before the code deadline and, as you say, it's not super-valuable anyway.

[2015-06-04 07:27] pmorie commented on #9208
I'm probably going to dig into some of these failures more tomorrow and see if I can get some more breaks like we saw today.  If it calms down tomorrow, I'll close this out.

[2015-06-04 07:29] pmorie commented on #9208
Don't think this needs to be p0 anymore, @bgrant0607.

[2015-06-04 07:29] pramttl opened #9248 "[feature-suggestion] [kubectl] Regex based filtering instead of requiring exact name of resource"
Example:
One of the pods running on my cluster is `elasticsearch-logging-v1-n0hpm`.

Let's say i want to get information about this pod, then I have to type:

    kubectl describe pods elasticsearch-logging-v1-n0hpm

If the following command also did the job, then that would be a great feature:

    kubectl describe pods elasticsearch

That would save a lot of time.  Like vagrant uses regular expr

[2015-06-04 07:42] pramttl commented on #9247
For now I realized I can do something like `kubectl get pods |  awk '{print $1}'` to get the column name I want (i.e. just the name of the pods in this case)

[2015-06-04 07:53] mnemotiv commented on #9212
If I run as root from cli - it works, but service doesn't.

[code]

[2015-06-04 08:29] nkwangleiGIT commented on #9122
Hi  lavalamp, we found that it's probably caused by the low performance on kube-proxy side, we tried the scenarios below:
1. On all minions/slaves, we start the kube-proxy service; and on a separate host, we also start flannel and kube-proxy service, use this host as the publicIPs of k8s service, so any request will come from this host, so we can hide the k8s master/slave behinde this proxy host.

[2015-06-04 08:31] mnemotiv commented on #9212
Removed --kubelet-* certificate related flags and result  similar:
[code]

[2015-06-04 08:36] njuicsgz commented on #8769
I closed this issue since it is a miss config of docker rather than a issue of k8s.

Following config could resolve this problem:
[code]

[2015-06-04 08:36] #8769 closed

[2015-06-04 09:01] davidopp commented on #8081
Agh, sorry, I wasn't paying attention. I can see from @piosz 's description in #8082 that we run e2e before and after upgrade, but not during. IIUC you're suggesting we should be running some test during the upgrade. Unfortunately we never got around to doing #8081 (and @piosz is out until a week and a half from now), so we don't have a lot of options. I think there are two choices
(i) Run e2e dur

[2015-06-04 09:10] satnam6502 commented on #8081
Certainly happy to jump on this on Monday when I return assuming @thockin is OK with it. I think I asked this question on another thread, but don't we also want to check that the upgrade actually occurred? Otherwise the "NOP" operation would satisfy the test? This seems to suggest that we want something running that spans the lifetime of the two clusters and applies a probe to check for the dy/dx.

[2015-06-04 09:48] hobti01 commented on #9178
I agree with @errordeveloper that there should be a common setup.  Each example could complete or extend the common templates for environment specific requirements.

In order to achieve a template-based approach for any CoreOS install, is it sensible to use @crawford 's two-phase cloud-init approach? https://gist.github.com/crawford/ed7e954bfddd3394c775
This would provide an extensible place to de

[2015-06-04 10:26] pires commented on #9178
@errordeveloper I'm only concerned about reproduce the following in all set-ups:
* Service-account private key file generation (`openssl genrsa -out kube-serviceaccount.key 2048 2>/dev/null`)
* DNS integration

Of course, how this is achieved will depend on each provider own tools (`awscli`, `gcloud`, etc.).
I'd like to have scripts that would automate this in AWS and GCE as well, but that's just

[2015-06-04 10:29] mnemotiv commented on #9212
Problem resolved.

Just DON'T use single or double quotes for flag values.

Somewhere in docs it should be mentioned not to use any quotes for flag values, otherwise in such situations it won't work.

In some examples of setting up k8s it is used quotes for flag values.

Improvement request / to resolve future issues for others:
- parse out single and double quotes around flag values.

[2015-06-04 10:32] pires commented on #2890
@jfoy any updates? Or any pointers to the work done so far?

[2015-06-04 10:49] satnam6502 opened #9250 "Nodes incorrectly numbered"
The 1 should start at the line of the node, not the heading labels.

[code]

[2015-06-04 10:54] pires commented on #5472
@errordeveloper what I think @bgrant0607 is saying is that you can't just model a template that will work for every cloud-provider since there seems to be no abstraction for that on Terraform. And I agree it brings issues but at the same time is not just another layer of abstraction and indirection.

[2015-06-04 10:56] pires commented on #2770
Another one I've used for AWS and GCE, https://jclouds.apache.org/.

[2015-06-04 10:57] pires commented on #2770
+1 for Terraform.

[2015-06-04 10:59] pires commented on #5472
This issues seems to depend on #2770.

[2015-06-04 11:09] errordeveloper commented on #5472
Sure, there isn't, and I think that's for a number of good reasons, as it's rather hard basically. Most cloud providers I worked with have quite different features, aside from naming and structuring things.

That said, I do see that one could potentially implement a lowest-common denominator type of abstraction on top of Terraform. What is best about Terraform is that it doesn't depend on provider

[2015-06-04 11:27] pires commented on #5472
So, `k8s deployment cli` uses `k8s cloud-provider api` uses `terraform`? I like that idea.

[2015-06-04 11:32] errordeveloper commented on #5472
Exactly, and I personally would be all for moving all provisioning stuff out of the main repo.

[2015-06-04 12:24] fahadpolash commented on #8019
Hello,
I was trying to deploy kubernetes with vagrant yesterday as per the below link:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md

But, I getting the following error:

[vagrant@kubernetes-master ~]$ sudo yum update

File contains no section headers.
file: file://///etc/yum.repos.d/saltstack-salt-fedora-20.repo, line: 1
'<HTML><HEAD>\r\n'

A

[2015-06-04 12:38] nikhiljindal commented on #5799
Looks like updating the mesos guide is the only remaining task here.
@caesarxuchao Is that correct?

[2015-06-04 12:48] derekwaynecarr commented on #8019
Salt bootstrap was I hope temporarily failing last night.

https://github.com/GoogleCloudPlatform/kubernetes/issues/9241

It had started to mess up around 6EST after working well so I am hoping its a temporary flake with bootstrap of Salt.  Will verify again today

[2015-06-04 12:53] derekwaynecarr commented on #9241
Were you running with this PR (not yet merged)

https://github.com/GoogleCloudPlatform/kubernetes/pull/9093

Trying to see if your issue was with fedora 20 or 21 mirrors.

[2015-06-04 13:03] timothysc commented on #9208
well emptyDir is passing this a.m.

I'm going to run the battery of tests and report.

[2015-06-04 13:04] justinsb opened #9253 "kubernetes dist file is big; executables in docker images are included twice"
kubernetes-server-linux-amd64.tar.gz is 71 MB; that seemed bigger than I remember it being.

Focusing on kube-scheduler...

`tar tzvf kubernetes-server-linux-amd64.tar.gz` shows e.g.
[code]

Expanding kube-scheduler.tar, the big layer (for me) is one where the JSON says has
```Cmd":["/bin/sh","-c","#(nop) ADD file:1921730b6a5704e5144432383579662ef9b1a97e9361f7a3cf276544f4ac349c in /usr/local/bin/k

[2015-06-04 13:48] pesho commented on #8731
This is a bad idea, as the map would have to be synchronized/shared between all proxies in the cluster. Otherwise a new request with a cookie can hit a different proxy, which won't recognize the randomized id.

The right approach is to just set the pod id in the cookie.

[2015-06-04 14:02] pweil- commented on #8731
I agree with this.  Synchronization across proxies is not unheard of (ie. HAProxy peers with stick-tables) but using a consistent hash in the proxy based on the source to select a destination would avoid synchronization altogether.

[2015-06-04 14:24] nikhiljindal commented on #6584
https://github.com/GoogleCloudPlatform/kubernetes/issues/5799 is, I think, the last remaining task here.
@caesarxuchao @bgrant0607 Any other remaining item?

[2015-06-04 14:30] nikhiljindal commented on #6264
I tried it right now and it works fine. Closing the issue.
Thanks @jimmidyson!

[2015-06-04 14:30] #6264 closed

[2015-06-04 14:36] jsdir commented on #9231
I don't know where the documentation is for this, but there appears to be a `List` kind that defines multiple `items`.

https://github.com/GoogleCloudPlatform/kubernetes/blob/51a4e08ebd4938db6ef7c0bcce26b7fb21bb8248/docs/secrets.md#use-case-pods-with-prod--test-credentials

[2015-06-04 14:44] smarterclayton commented on #9125
At a minimum we'd want to periodically snapshot the stats from iptables - the connection to the service is important though (even if cadvisor captured the stats at the container, knowing *where* the data coming from is valuable for other reasons)

[2015-06-04 14:49] jsdir commented on #9243
Right now, Kubernetes only uses [round-robin load balancing in `kube-proxy`](https://github.com/GoogleCloudPlatform/kubernetes/blob/fdb44a9ad23fec1525ae92e5b2f80bc605be3a79/docs/design/architecture.md#kube-proxy).

[2015-06-04 14:52] nkwangleiGIT commented on #9122
Hi lavalamp, here is the log from kube-controller-manager log using "--v=4", and I'm creating a service with name *"hw123"*:
https://github.com/nkwangleiGIT/docker-node-hello/blob/master/kube-controller-manager-bak.log

The creation of service is about "22:08:42.376079":
[code]

The time to finish syncing service is about "22:10:29.636040"
[code]

[2015-06-04 14:53] timothysc commented on #9208
Most tests are green again, however it appears that introspective services now has a new implied semantic out of the gate, so tests like Networking fail with the following error:

"Unable to read service account token: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory"

Are we now forcing security setup from stage 0?

[2015-06-04 14:54] Artenac2 commented on #9243
And will they implement other load-balancers or they will stay on the round-robin idea?

[2015-06-04 14:58] derekwaynecarr commented on #9241
I just tried this morning at 10:57AM EST and the Salt repositories are functional again.

Closing, reopen if you see the issue again.

[2015-06-04 14:58] #9241 closed

[2015-06-04 15:00] derekwaynecarr commented on #8019
Salt repositories appear to be functioning again for me now.

[2015-06-04 15:08] thockin commented on #9243
It's round robin, with optional session affinity. It may change to a
simpler probabilistic model soon (still with affinity). We don't have plans
to do anything else at the moment, though we are not against it. Do you
have real requirements?
On Jun 4, 2015 7:55 AM, "Pierre Soulerot" <notifications@github.com> wrote:

[2015-06-04 15:15] Artenac2 commented on #9243
For now, I have not real requirements but round robin with, for example, a database container with some replicas, it can be weird, right ? Even if I know a database container with some replicas can be weird too, it just an example for understand.

[2015-06-04 15:22] #8834 closed

[2015-06-04 15:22] #8907 closed

[2015-06-04 15:24] derekwaynecarr commented on #5149
The documentation for resource quota example is updated in this PR:
https://github.com/GoogleCloudPlatform/kubernetes/pull/9096

[2015-06-04 15:26] derekwaynecarr commented on #9039
#9093 was merged that upgraded vagrant to fedora 21 with docker 1.6

Can you test against HEAD to and re-open if you still need assistance?

[2015-06-04 15:26] #9039 closed

[2015-06-04 15:31] BenTheElder commented on #9241
Sorry, yes, just tested and they appear to be working again for me as well.

[2015-06-04 15:32] mrunalp commented on #2630
Waiting for https://github.com/docker/libcontainer/pull/603 to be merged.

[2015-06-04 15:40] pmorie commented on #2630
Spent a lot of time thinking about this last night, and I agree with you on this point.

[2015-06-04 15:45] BenTheElder commented on #9185
Relevant Issue: https://github.com/GoogleCloudPlatform/kubernetes/issues/4348 and PR: https://github.com/GoogleCloudPlatform/kubernetes/pull/8858 should be landing a different template language implementation this summer.

[2015-06-04 16:02] thockin commented on #9243
You can use ClientIP for session affinity, so that repeated connections
(within a time window) will get the same backend.

On Thu, Jun 4, 2015 at 8:15 AM, Pierre Soulerot <notifications@github.com>
wrote:

[2015-06-04 16:06] derekwaynecarr opened #9258 "Kubectl describe of a pod should show resource limits on a container if specified"
This is a general usability improvement.

[2015-06-04 16:22] thockin commented on #2630
I don't know if that means we need a pod-level security context or
something, though :)

On Thu, Jun 4, 2015 at 8:40 AM, Paul Morie <notifications@github.com> wrote:

[2015-06-04 16:23] jayunit100 commented on #9208
EmptyDir still fails for me .  Something about the mount type not being of type tmpfs.

http://paste.fedoraproject.org/228932/14334348/

[code]

[2015-06-04 16:29] smarterclayton commented on #2630
Although - I may collocate two containers and not want them to share contents (db and web logs) but share a work for.

[2015-06-04 16:30] thockin commented on #9248
This is what labels are for!

`kubectl get pods -l app=elasticsearch`

Unfortunately `describe` does not do labels because it expects a single
response.  This might be a reasonable extension to make - more than 1
object in describe or taking the first of a selector or something.

On Thu, Jun 4, 2015 at 12:29 AM, Pranjal Mittal <notifications@github.com>
wrote:

[2015-06-04 16:32] thockin commented on #9247
This is actually in progress.  #7843

On Thu, Jun 4, 2015 at 12:21 AM, Pranjal Mittal <notifications@github.com>
wrote:

[2015-06-04 16:35] thockin commented on #2630
I don't find the case of two containers in a pod needing different access
control to a volume to be very compelling.  The alternative is to spec a
full security context for volumes and then force the complexity back onto
API users.

On Thu, Jun 4, 2015 at 9:30 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-04 16:36] alex-mohr commented on #5472
Re: moving provisioning out of the main repo, for clouds like GCE and AWS and etc that support dynamic provisioning of nodes, one direction we'd like to move in is allowing a k8s cluster to create nodes on-demand: when there aren't enough nodes to schedule everything, spin up more nodes.  And of course downsize as needed as well.   Supporting that would seem to require the k8s master components at

[2015-06-04 16:37] #7795 closed

[2015-06-04 16:38] jayunit100 commented on #9208
Ah. looks like **DOCKER VERSION** is an important factor here.  I found that by updating my docker version fixed  everything the EmptyDir issue.

[2015-06-04 16:43] alex-mohr commented on #8081
The issue with e2es is that they start from an empty cluster state and return it to an empty cluster state.  I think making sure they pass before and after is necessary, but it'd be even better to test more things.

What are the invariants we want to ensure through an upgrade process?  Something like:
- components are actually running the new versions, as @satnam6502 described.
- pods/services/wha

[2015-06-04 16:45] #7815 closed

[2015-06-04 16:51] guenter opened #9260 "Create a tutorial for running Kubernetes on DCOS"
Kubernetes will be available on the Mesosphere DCOS. Add a tutorial that explains how to do this.

[2015-06-04 16:59] RichieEscarez commented on #8977
Fix in api through #9215 and published to swagger through #9256 (ive checked and the changes are live) so closing.

[2015-06-04 16:59] #8977 closed

[2015-06-04 17:01] quinton-hoole commented on #7972
@saad-ali Are you still working on this?

[2015-06-04 17:06] bkeroackdsc commented on #9178
Just want to point out that a fully automated setup is great, but there also needs to be corresponding documentation on manual setup for those with custom environments (or who do not trust third party scripts).

[2015-06-04 17:08] bprashanth commented on #9029
Note that even with the pr above there's still a timeout in the proxy server that disallows useful profiling as described in my previous comment. Other endpoints (like container logs and metrics) will work.

[2015-06-04 17:09] #9170 closed

[2015-06-04 17:17] vishh commented on #9028
I would recommend running Influxdb+Grafana since GCM doesn't work outside of GCE anyways.

[2015-06-04 17:19] smarterclayton commented on #2630
The argument here seems to be that you don't need intra pod security more complex than "don't mount the same volume into different contexts".  I'm ok with a single security context for the pod - just pointing out that if you want to have complex, secure pods, you may want to use user isolation between the containers to secure disk contents.

----- Original Message -----

[2015-06-04 17:24] pmorie commented on #2630
Hrm.

[2015-06-04 17:32] smarterclayton commented on #2630
Although the pod security context is unlikely to work for most real containers once user namespaces land - the UID a container runs as (in user namespaces) is really tied to the container, not the pod.  So either that has to be a default security context at the pod level (overridable) or it's instead the volume security context.

----- Original Message -----

[2015-06-04 17:37] jeffmendoza commented on #8824
@juliaferraioli please assign to me.

[2015-06-04 17:39] thockin commented on #2630
We should share user namespace across the pod.

On Thu, Jun 4, 2015 at 10:32 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-04 17:46] smarterclayton commented on #2630
The user namespace of the two containers should probably be in the same range.  But the UID of container A and B are not required to be ==, and in many cases you don't want them to be trivially ==, because you may want to "read" the volume but not write it.

----- Original Message -----

[2015-06-04 17:46] juliaferraioli commented on #8824
My $.02:

Linking to that doc is the least we should do. However, that introduces another point of friction -- parsing the new page. While it introduces an extra point of maintenance, we should pull in the relevant steps to this Readme, and still link back to the setup page.

[2015-06-04 17:51] lavalamp commented on #9122
Thank you for all the details!

The log snippet you included shows replication controller manager creating pods for a replicationController, not a service being created. apiserver's log is probably the best place to look for the canonical service creation time.

So it takes about half a second for the service's endpoints to be generated. So the time is being lost in either some sort of propagation

[2015-06-04 17:51] pmorie commented on #2630
@smarterclayton

Do you think we could infer this by whether the readOnly flag is set on the VolumeMount?

[2015-06-04 17:55] lavalamp commented on #5921
I'm gonna say that #9233 will fix this; there may be more, but this is the last piece I'm aware of.

[2015-06-04 17:57] pweil- commented on #2630
Some thoughts...

1.  When mounting a volume for a container it could inherit the SC of the container if it has nothing set.
1.  For a complex case we could spec out the SC for the volume to support ranges of SELinux labels as mentioned before and in this case it would not inherit the SC of the volume
1.  For a predefined volume SCs the container's SC would need to be allocated in a manner consist

[2015-06-04 18:02] caesarxuchao commented on #5799
Yes, there is a PR #8882 for mesos.

To be clear, some getting started guides still have their own individual examples, but they are at least updated to v1beta3 now.

[2015-06-04 18:02] dchen1107 commented on #9028
@saad-ali volunteerly takes this work, thanks!

[2015-06-04 18:06] saad-ali commented on #7972
Yep, I'll follow up with you offline.

[2015-06-04 18:08] derekwaynecarr commented on #6641
I think this issue can be closed now.

I did the following:

[code]

Waited for the pod to be killed by the kubelet after it ran to completion.

Verified the kubelet killed the container on the minion.

Verified that once the Kubelet changed the status of a pod to terminated that its resource version was stable for the next 10 minutes.  Meaning that Kubelet was properly filtering out terminated st

[2015-06-04 18:08] #6641 closed

[2015-06-04 18:14] smarterclayton commented on #2630
----- Original Message -----

Hrm - that means a pod with one container would behave differently from a pod with two containers?

[2015-06-04 18:15] juliaferraioli commented on #8521
Do you mean the [getting started guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md)? If so, how about putting a section in troubleshooting?

[2015-06-04 18:16] kprobst commented on #8521
Yes, exactly.

I agree that a troubleshooting section will be good to have.

[2015-06-04 18:19] fahadpolash commented on #9049
Hello,
I am still getting the error:
Each machine instance has been created/updated.
  Now waiting for the Salt provisioning process to complete on each machine.
  This can take some time based on your network, disk, and cpu speed.
  It is possible for an error to occur during Salt provision of cluster and this could loop forever.
Validating master
Validating minion-1
......
Waiting for each minio

[2015-06-04 18:26] pweil- commented on #2630
And this is where some of the complexity comes in from being flexible.  It is a valid use case to a single pod to have different security contexts for every container in the pod.  And likewise, in OpenShift, if the continers make SC requests each container may validate against different SCCs.  In that case, it seems like a predefined SC on the volume should be used with container SCs that comply.

[2015-06-04 18:27] bgrant0607 opened #9267 "Decide what to do with LegacyHostIP"
Forked from #8087.

We intended to get rid of LegacyHostIP when we created the NodeAddresses field, but I don't think we have an adequate replacement yet, as we found when we tried to switch ResourceLocation to use an internal IP in #9155.

What we need to know is at least:
1. At which address/name the master/bastion can reach the node, for /proxy, /portforward, /redirect, kubectl exec, kubectl lo

[2015-06-04 18:28] pramttl opened #9268 "services/kibana-logging API endpoint broken: Error: 'dial tcp 10.244.2.5:5601: connection refused"
Endpoint: `/api/v1beta3/proxy/namespaces/default/services/kibana-logging`
(I am not sure if the endpoint is broken but it seems so)

I entered `kubectl cluster-info'. The output had the following line:

[code]

When I access the URL [above](https://52.26.73.41/api/v1beta3/proxy/namespaces/default/services/kibana-logging). I still get the output:

[code]

The IP `10.244.2.5` seems to be hardcoded s

[2015-06-04 18:30] bgrant0607 commented on #2462
#9155 was reverted.

Also see #9267

[2015-06-04 18:42] timothysc commented on #8119
@bprashanth the test is simply a very wide slave with a script that pools the pod-status once a second, which has no effect when we change the polling interval.   I'm recording the results and will post soon.

[2015-06-04 18:45] pires commented on #5472
@alex-mohr so `k8s deployment cli` & `k8s master` would be clients to `k8s cloud-provider api`? `master` being able to auto-provision the cluster would be rad, but I wonder how infrastructure people would feel about it :D

[2015-06-04 18:46] sanjana-bhat commented on #9231
@jsdir, thanks for a quick turnaround!

[2015-06-04 18:47] bprashanth commented on #8119
Ok, it sounds like you just modified the guestbook example to have a 1000 slaves and ran it on a cluster with 30 nodes. I will try and repro it sometime today/tomorrow.

[2015-06-04 18:49] davidopp commented on #3954
@dchen1107 said she would take a look at the Kubelet to see if that's likely to be causing the problem. One simple temporary fix we discussed was to run SyncPods more often (e.g. every 5 seconds) but only generate status on half of those invocations.

[2015-06-04 18:51] pires commented on #9178
@bkeroackdsc while this is an official repo, a lot of the scripts you see here were/are created and maintained by people outside of Google, RedHat and all other Kubernetes folks. So good luck with that!

[2015-06-04 19:02] #9250 closed

[2015-06-04 19:12] timothysc commented on #8119
@davidopp @bprashanth @lavalamp log results - https://drive.google.com/file/d/0Bzq0eFfVveNqTWNOQUJrcHlBMGM/view?usp=sharing

[2015-06-04 19:59] glensc commented on #9039
thanks. will give a try as i couldn't get it working earlier and did not even know here to look. vagrant was starting point to learn how it works.

[2015-06-04 20:20] davidopp commented on #8081
SGTM. Thanks @satnam6502 for taking over this issue. For reference, @piosz 's plan was to take his load test and just add a final step where you create a service and then use it to test connectivity to all of the pods. The load test is having problems, though (and it's probably better not to conflate load testing and correctness testing right now), so it would probably be better if you were to jus

[2015-06-04 20:22] lavalamp commented on #8119
Thanks. Taking a look...

[2015-06-04 20:32] fahadpolash opened #9270 "Vagrant with Virtualbox: Error when minion is being registered with cloud provider"
Hello,

I am getting the following error:
Wrote config for vagrant to /home/nio/.kube/config
Each machine instance has been created/updated.
  Now waiting for the Salt provisioning process to complete on each machine.
  This can take some time based on your network, disk, and cpu speed.
  It is possible for an error to occur during Salt provision of cluster and this could loop forever.
Validating

[2015-06-04 20:38] arun-gupta opened #9271 "Kube API server not-found an inactive with 0.18.1.1"
Downloaded 0.18.1.1, using VAGRANT_PROVIDER, was able to successfully start the cluster and seeing the output as:

[code]

Could log in to the cluster:

[code]

Testing the Kube API server gives the error:

[code]

Ditto for Kube controller manager:

[code]

This is different from when I tried a slightly different setup at: http://blog.arungupta.me/javaee7-wildfly-kubernetes-mac-vagrant/

[2015-06-04 20:39] quinton-hoole opened #9272 "Multiple e2e tests fail with "Missing service account" when run in parallel"
Some examples below (from our Jenkins e2e continuous integration):

Docker Containers should be able to override the image's default command and arguments

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/docker_containers.go:81
Failed to create pod: Pod "client-containers-6bd82955-0ae5-11e5-9b61-42010af01555" is forbidd

[2015-06-04 20:45] markturansky opened #9273 "PVs where Phase=Available need reindexing"
In case of cluster crash and status recovery, the persistentVolumeClaimBinder would not re-add available volumes to its internal index.  Users would not be able to claim those volumes.

@thockin