[2022-02-11 18:53] SubhasmitaSw commented on #108051
/assign

[2022-02-11 19:17] sorkinl commented on #60338
Is this still in need of cleanup? If not I'd like to work on this. @pmgk07
/assign

[2022-02-11 19:24] alain-baxter commented on #95171
@saschagrunert once this version skew for seccomp has been remove, and annotation based seccomp configuration is no longer functional, will the annotations be allowed to exist on a pod?

[2022-02-11 19:36] astoycos opened #108518 "EventRecorder can accidentally send to a closed channel and Panic"
While Debugging https://github.com/kubernetes/kubernetes/issues/107372 Specifically with the unit test `TestMultipleServiceChanges` which is part of the endpoint controller's tests I ran into the following race after adding some code to shutdown the `EventBroadcaster` following conclusion of the unit tests

[code]

And after digging a little deeper I found the problem in the `ActionOrDrop` functio

[2022-02-11 20:11] irbekrm opened #108081 "kubectl server-side apply not being able to remove other field manager's fields results in invalid field combinations"
### What happened?

cert-manager installation includes `CustomResourceDefinition`s that up till v1.7 specified `crd.spec.conversion.strategy: Webhook` and relied on a component called [`cainjector`](https://cert-manager.io/docs/concepts/ca-injector/) to inject `crd.spec.conversion.webhook.clientConfig.caBundle`. `cainjector` is the only field manager of `crd.spec.conversion.webhook.clientConfig.ca

[2022-02-11 20:15] irbekrm commented on #108081
/sig api-machinery

[2022-02-11 20:18] astoycos commented on #107372
I was able to fix all the unit test related orphaned go-routines, however throughout the codebase the following go-routine is always leaked

[code]

The fix for that is being tracked in https://github.com/kubernetes/klog/issues/282

[2022-02-11 20:21] Huang-Wei opened #108083 "scheduler v1beta3 pre-appends an out-of-tree plugin instead of append"
### What happened?

Out-of-tree plugin typically composes its scheduler ComponentConfig like:

[code]

recently I found that when this is applied into the latest v1beta3 config, `Foo` is pre-appended to the finalized plugin list - i.e., `{preFilter|filter}.enabled = "Foo, <default in-tree plugins>"`.

### What did you expect to happen?

Same as the behavior of v1beta1 and v1beta2, out-of-tree plug

[2022-02-11 20:21] Huang-Wei commented on #108083
/sig scheduling

[2022-02-11 20:23] Huang-Wei commented on #108083
@miam could you take a stab on this issue?

[2022-02-11 20:23] Huang-Wei commented on #108083
@miamipanther could you take a stab on this issue?

[2022-02-11 20:24] Huang-Wei commented on #108083
cc @damemi

[2022-02-11 20:56] damemi commented on #108083
This is probably due to MultiPoint expansion, but is it a bug? When dealing with multipoint, we decided that specific extension point configurations should take precedence over the default plugins. In other words, if a user is intentionally making a configuration change then that is likely higher priority than the defaults.

I'm trying to find if we had any discussion about ordering related to out

[2022-02-11 20:58] #107886 closed

[2022-02-11 20:58] apelisse commented on #108081
/triage accepted

Thanks for opening the bug!

[2022-02-11 21:01] aryan9600 commented on #107534
Terribly sorry for the inactivity on this. After trying to dig through the relevant code, here's what I understood. Still new to the codebase so please let me know if I'm mistaken anywhere.

* I agree with @panzerox123, that `ptrToType` does make sense. It's a pointer to a type as enforced [here](https://github.com/kubernetes/apiserver/blob/56ff18e72e23862ac6fd0c6ddd57238be8324ba3/pkg/storage/etcd

[2022-02-11 21:05] damemi commented on #108083
We do have a couple unit tests for making sure custom plugins are appended:
* [custom plugin appended to specific extension point](https://github.com/kubernetes/kubernetes/blob/420c5308bbf13eeb/pkg/scheduler/apis/config/v1beta3/default_plugins_test.go#L124-L149)
* [custom multipoint plugin is appended after other multipoint plugins](https://github.com/kubernetes/kubernetes/blob/420c5308bbf13eeb/pk

[2022-02-11 21:45] miamipanther commented on #108083
I will give it a try @Huang-Wei

[2022-02-11 21:45] miamipanther commented on #108083
/assign

[2022-02-11 22:01] #104893 closed

[2022-02-11 22:32] Huang-Wei commented on #108083
In this [gist](https://gist.github.com/Huang-Wei/09050a3b19e456ea837643f077ff2808), I merely replaced v1beta2 with v1beta3, which suggests a user may even are not aware of default plugins, it's just aimed to enable the custom plugin instead of making a configuration change.

I think so - `v1beta3` internally uses the multipoint plugin set while `v1beta2` doesn't.

[2022-02-11 22:44] smarterclayton commented on #108035
We have historically focused conformance on the perceived end user experience deploying applications to a conformant Kubernetes cluster as being consistently successful.  From that perspective, while these are actions that are indeed key to conformant behavior, the first two are not invoked by end users, only by kubelets and potentially administrators.  I would expect to be able to create a node o

[2022-02-12 00:13] mac-chaffee commented on #91600
That error can be confusing if your pod just so happened to be running on the same node as another pod which filled up the disk and was killed. Without any ephemeral-storage requests/limits, ALL pods can be considered for eviction even when only one pod is the main disk hogger.

If pod A fills up the disk (outside of a PV) and pod B is running on the same node and has written any data to disk outs

[2022-02-12 00:56] andrewpcone commented on #106704
I am the someone that @neolit123 is referring to. I am not able to use `kind export log` because it tells me `ERROR: unknown cluster "kind"`, but here is the CLI output:

[kind_error.txt](https://github.com/kubernetes/kubernetes/files/8052406/kind_error.txt)

I am on Mac OS 11.6, on a mid 2015 macbook pro.

[2022-02-12 03:31] chenhong0129 commented on #51835
#108041

[2022-02-12 03:49] yxxhero commented on #108041
@chenhong0129 can you show the  test.yaml. Thanks very much.

[2022-02-12 06:25] jingxu97 commented on #107973
thanks @jfremy for discovering the issue and @NikhilSharmaWe for helping fix it.

[2022-02-12 07:36] pmgk07 commented on #60338
@sorkinl Yes, `pkg/kubelet` contains runtime.GOOS checks within them.
[code]

[2022-02-12 09:39] chenhong0129 commented on #108041
The yamls of pv/pvc/pod are as follows，when I rollingUpdate pod by "kubectl apply -f pod.yam", old pod is Terminating for ever :
1、test-gluster-pv.yaml
`apiVersion: v1
kind: PersistentVolume
metadata:
  name: test-gluster-pv
  labels:
    pv: test-gluster-pv
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 2Gi
  persistentVolumeReclaimPolicy: Retain
  glusterfs:
    endpoints: gfs

[2022-02-12 09:41] yxxhero commented on #108041
@chenhong0129 Yaml needs formatting. Thanks very much.

[2022-02-12 12:51] afbjorklund commented on #106917
Adding a flag to `minikube`, to make it easier to test the new CRI with _any_ version of Kubernetes (since 1.20 or so):

[code]

Currently we are bundling the pre-release `cri-dockerd`, until there can be an official `v0.2.1` with the socket fixes.

cri-dockerd `v0.2.0-11-ga4d1895`
(https://github.com/Mirantis/cri-dockerd/commit/a4d1895a2659ea9974bd7528a706592ab8b74181)

[2022-02-12 17:07] #105820 closed

[2022-02-12 18:06] RomitMehta commented on #53881
For me, minikube was in stopped state. Try running `minikube start` and then accessing it

[2022-02-12 18:58] Almenon commented on #49931
@MadhavJivrajani can you reopen this and add lifecycle/frozen please? As you can see by the number of likes and comments this is a highly requested feature that consistently comes up. CPU/memory based autoscaling is good in theory but in practice scaling might not be fast enough to react to load. Load at specific times/days is a common pattern so it would be useful to have this feature.

[2022-02-12 19:13] #104581 closed

[2022-02-12 19:34] liggitt commented on #108025
That is a documentation error. Finalizers don't mark an object read-only. They prevent removal of the object until the finalizer is removed.

[2022-02-12 20:37] uablrek commented on #108065
area/ipvs

[2022-02-12 20:37] uablrek commented on #108065
/area/ipvs

[2022-02-12 20:37] uablrek commented on #108065
/area ipvs

[2022-02-12 21:00] dims commented on #49931
@Almenon folks can still chime in here as comments are still open. So folks can still chime in.

Please note that having a feature request in this repository is not very useful unless there is someone who can help step up propose a formal KEP ( https://github.com/kubernetes/enhancements#is-my-thing-an-enhancement ) and drive the discussion/design through the necessary SIGs and then drive the imple

[2022-02-12 21:15] #104869 closed

[2022-02-12 23:16] #104138 closed

[2022-02-13 01:57] mkumatag commented on #101097
/remove-lifecycle stale

[2022-02-13 06:35] sanposhiho commented on #107790
Forgive me to ping other people who might know.

/cc @vincepri
/cc @lavalamp
/cc @liggitt

[2022-02-13 10:18] #102836 closed

[2022-02-13 17:25] distnie commented on #89657
The existing job need to be deleted, because the template section in the job is immutable or not updatable. so you have 2 following options.

1. Always create a new job with a unique name, so it leaves the old jobs and creates a new one - every time if you include the version of image would be sensible.
2. Automatic cleaning of jobs (more info [check here][1]) - The job property `ttlSecondsAfterFi

[2022-02-13 17:39] senser-adi commented on #75803
Thanks a lot!
Indeed the kubeadm configuration didn't match the one in the github runner (cgroupfs).
Most of solutions out there recommend changing the /etc/docker/daemon.json. Since i'm on a github running and can't modify it, I had to change the pod yaml. Once I did that it worked.

[2022-02-13 19:23] #100420 closed

[2022-02-14 00:21] alexfromapex commented on #94576
Also having this same issue with `stable-1.21` on Raspberry Pi 4 running Ubuntu 20.04.2 LTS

[2022-02-14 01:30] xie-jinwei commented on #108063
@raphminkyu Hi, the full command used to run the standalone kubelet is as below:

[code]

[2022-02-14 03:01] kerthcet commented on #108040
A related pr merged https://github.com/kubernetes/kubernetes/pull/107774 @MadhavJivrajani

[2022-02-14 03:17] utkarsh348 commented on #108040
/assign

[2022-02-14 03:25] chenhong0129 commented on #108041
@yxxhero formatted, please check, Thanks very much.

[2022-02-14 03:40] bluemiaomiao commented on #106369
I don't know why, when I cloned the project, there were some unknown problems with the file permissions. I used the following command to fix the file permissions:

[code]

[2022-02-14 04:27] adisky commented on #107800
All tests are passing now, Thanks @bobbypage for fixing the ubuntu one
/close

[2022-02-14 04:28] #107800 closed

[2022-02-14 04:58] sysnet4admin commented on #40422
FYI (2022-02-14)
`v1.23` is same as before.
[code]
[code]

[2022-02-14 06:39] uablrek commented on #108077
/sig network

[2022-02-14 07:00] TArtiushenko commented on #107647
Looks like i have same issue, upscale with no reason to max replicas when cpu consumption is 2% of target 200%.
Interesting that in another deployment with same hpa config it works almost as expected
k8s 1.20.13

[2022-02-14 08:07] saschagrunert commented on #95171
Yes, to not break existing deployments on upgrade.

[2022-02-14 08:13] saschagrunert commented on #94825
This is still relevant and requires a fix with https://github.com/kubernetes/kubernetes/pull/100448

[2022-02-14 08:40] ivanspasov99 commented on #108025
Can you update the documentation? :)

[2022-02-14 09:02] umangachapagain commented on #106746
Related discussion: https://github.com/kubernetes/kubernetes/pull/103293

We want this to work on both `staging/` and `vendor/`.
`vendor/k8s.io/` links to `staging` so I was expecting it to be tested.

[2022-02-14 09:23] ahrtr opened #108096 "0/1 nodes are available: 1 node(s) had volume node affinity conflict"
I am pretty sure that the PV's node affinity is consistent with the node, but I still got the error message `1 node(s) had volume node affinity conflict`.

### K8s version:
[code]

### Cluster & Node info
The K8s cluster is created on AWS, but not in EKS.

Only one worker node in the cluster.
[code]

### Steps to reproduce the issue
1. Disable CSI Migration feature for both kube-controller-manager

[2022-02-14 09:27] ahrtr commented on #108096
/sig sig-storage

[2022-02-14 09:54] MadhavJivrajani commented on #108096
/sig storage

[2022-02-14 10:17] ruben-herold opened #108097 "Please add repo and packages for centos-stream 8 and 9"
### What would you like to be added?

Please add a repo for cento stream 8 and centos stream 9.

### Why is this needed?

To install your packages on this distributions.

[2022-02-14 10:21] ruben-herold opened #108098 "Please supply repo packages for easy installation of repos to distributions"
### What would you like to be added?

hi,
i want to automate the installation of your repos to our systems and I found that there are no repo packages like epel-release.noarch for epel.

### Why is this needed?

would make installations much safer and better to handle even with automation tools like ansible.

[2022-02-14 10:25] MadhavJivrajani commented on #108098
/kind support
/sig release

[2022-02-14 10:34] ruben-herold commented on #108097
/kind support
/sig release

[2022-02-14 12:51] ctron commented on #60140
I just ran into the same issue. Interestingly a larger file worked, while a smaller file repeatedly failed. I don't thing it has something to do with the file size, but with the fact that the command/protocol involved cannot properly handle binary data. What worked for me, is to base64 encode the data on the fly:

[code]

* `-c perf-sidecar` to target the container in the pod (you can leave this o

[2022-02-14 12:52] PanKaker opened #108105 "kubectl logs - doesn't work after changing IP address of the worker node"
### What happened?

I have 2 node cluster:
- 1 Control plane node (1st node)
- 1 Worker node (2nd node)

After changing IP (INTERNAL-IP) of the worker node (2nd node) kubectl logs command freezes if you're trying to get logs from work node containers.
Docker logs exist in worker node, they also exists in /var/kubernetes/logs (on 2nd node).

### What did you expect to happen?

Kubectl logs

### How

[2022-02-14 13:10] mithlajkn commented on #93472
Getting same issue

[code]

[2022-02-14 13:13] sovkumar opened #108106 "Unable to download kubelet binaries from https://dl.k8s.io/release"
Unable to download kubelet binaries from https://dl.k8s.io/release

[2022-02-14 13:26] Minutis commented on #61486
This looks more like another workaround because you have to switch from managed to unmanaged add-on. As far as I know there is no fix yet.

[2022-02-14 13:38] frosk1 commented on #60538
!!!!  IMPORTANT  !!!!

This issue is still happening in **1.20.15_1568**

former FIX from @liggitt  still works:

# remove the CRD finalizer blocking on custom resource cleanup
**kubectl patch crd/<name-of-the-CRD> -p '{"metadata":{"finalizers":[]}}' --type=merge**

[2022-02-14 13:44] liggitt commented on #60538
I'll echo the warning and question from above:

The reason the finalizer is not being removed from the CRD is that the custom resource instances are still there.

[2022-02-14 13:57] MadhavJivrajani commented on #108040
Thanks @utkarsh348, for checking again.
https://github.com/kubernetes/kubernetes/pull/107774#issuecomment-1039113579
@kerthcet fyi

[2022-02-14 14:00] frosk1 commented on #60538
I do not see any information on how to apply this:

Were you unable to remove the finalizers from the custom resources without short-circuiting the CRD cleanup?

[2022-02-14 14:02] MadhavJivrajani commented on #108040
Maybe we need something like this: https://github.com/kubernetes/kubernetes/pull/98944?

[2022-02-14 14:08] liggitt commented on #60538
1. Locate remaining instances of the custom resource (*not* the CRD itself). They should all have have metadata.deletionTimestamp set, indicating the API server is trying to remove them as part of cleaning up the CRD.

[code]

2. Find any that have metadata.finalizers set. That means something added a finalizer to that instance, indicating it wanted to block deletion of that instance, but has not

[2022-02-14 14:19] dims commented on #108106
@sovkumar the following work for me. Are you behind a vpn?

- `curl -L -s https://dl.k8s.io/release/stable.txt`
- `curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"`

[2022-02-14 14:24] frosk1 commented on #60538
Thx for the commands.

It is interesting, that it seems this does not unblock the deletion, maybe I forgot some custom resources, but I do not think so.

Indeed after some time overwriting the finalizer on the CRD solves the problem.

Is there a way to see remaining etcd entries via kubectl?

[2022-02-14 14:46] liggitt commented on #60538
I'm pretty opposed to building in a footgun like that to kubectl... there's no telling what removing the finalizers will leak/break in the controllers that added them

[2022-02-14 14:48] liggitt commented on #60538
it would probably be useful to improve the status reported on the CRD about which specific custom resource instances remain that are blocking the deletion (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/finalizer/crd_finalizer.go#L232-L253)

[2022-02-14 14:49] frosk1 commented on #60538
yeah I got that, atm this issue should not be closed, because the deadlock in theory still could exist.

I am also think of something like a more sophisticated garbage collection, that invovles backtracing kubernetes objects from the point of creation and takes the deletion time stamps into account etc.

[2022-02-14 15:05] neolit123 commented on #106704
@andrewpcone

try:
[code]

- `retain` does this:
https://github.com/kubernetes-sigs/kind/blob/main/pkg/cmd/kind/create/cluster/createcluster.go#L61
- `export logs` needs a matching cluster name

[2022-02-14 15:35] alain-baxter commented on #95171
Thanks for the reply

Allowing the annotations does create confusing pod configuration for any processes and/or end users that are checking resource state for security compliance.

If the workload made it through the skew period without being remediated for deprecation then seccomp will no longer be configured properly after upgrade. This could cause harder to detect issues with workloads than if

[2022-02-14 15:35] liggitt commented on #60538
This issue was specifically about a bug in the API server that would prevent updates to the CR objects:

[2022-02-14 16:06] zhuyouzhufu commented on #107929
This is his service startup log
![image](https://user-images.githubusercontent.com/34908518/153900461-e175abf3-a7e5-4e48-904f-23bed7bad26f.png)

[2022-02-14 16:21] andrewpcone commented on #106704
I should add, I am not able to reliably reproduce this on my machine. On Friday I always got this error. On Monday (today) I didn't, then I did. Not sure if that's helpful info.

[2022-02-14 16:48] jcleira commented on #107980
👋  Not sure if this would be helpful, but I had a pre 1.20 minikube and kubectl version and I just tested this:

[code]

[2022-02-14 17:11] roycaihw commented on #105558
/remove-lifecycle rotten

[2022-02-14 17:25] lauralorenz commented on #108064
Hi there, 1.24 CI Signal shadow here.

This flake is still intermittently failing and is a risk for blocking tomorrow's 1.24 release cut as -- without other information from the SIG -- we need at least 3 greens in a row by Go/No-Go decision time (currently scheduled for tomorrow 2/15 at 9 AM PST) per the [criteria](https://github.com/kubernetes/kubernetes/issues/108064).

cc SIG-Network leads @cas

[2022-02-14 17:29] enj commented on #106142
/remove-lifecycle stale
/triage accepted

I think the correct behavior here would be to fail the request as unauthorized.  However, that is technically a breaking change since a (poorly coded) client could be currently sending an invalid token and falling through to the anonymous user (and if said client is doing something like healthz checks, they will likely not notice anything is wrong).

We wi

[2022-02-14 17:33] tallclair commented on #76928
From an audit API perspective, I'm not happy with the current approach of appending different IP sources together (https://github.com/kubernetes/kubernetes/pull/93438). If we implement this, I'd like to see the current `SourceIPs` field marked as  deprecated, and replaced with labeled data (probably a map), something like:
[code]

[2022-02-14 19:46] BenTheElder commented on #105662
FWIW https://github.com/kubernetes/kubernetes/issues/103721 and related issues in https://github.com/kubernetes/kubernetes/issues/105662#issuecomment-942806370 have since closed, you can now configure additional linters with https://github.com/kubernetes/kubernetes/blob/master/.golangci.yaml, the issue of existing failures remains but has options

[2022-02-14 20:25] T4cC0re commented on #107980
Thanks for testing this @jcleira . I might be misremembering then, so it is definitely not a regression. Sorry for that confusion.

Regardless, I would still assume the diff to not fail at this point :)

[2022-02-14 21:00] deads2k opened #108112 "Addition service load balancer disruption on azure while upgrading from 1.23 to 1.23"
### What happened?

Doing a micro upgrade from one level of 1.23 to another level of 1.23, we noticed disruption to  PDB based app went from about 5s to about 13s when compared to a 1.22.z to 1.22.z+1 update.

### What did you expect to happen?

I did not expect any disruption.

### How can we reproduce it (as minimally and precisely as possible)?

This one is a bit difficult, we have thousands of

[2022-02-14 21:02] deads2k commented on #108112
/sig cloud-provider

[2022-02-14 21:40] Riaankl opened #108113 "Write Read, Replace, Patch BatchV1NamespacedJobStatus test - +3 endpoint coverage"
# Progress <code>[4/6]</code>

- [x] APISnoop org-flow: [Batchv1JobStatusTest.org](https://github.com/apisnoop/ticket-writing/blob/master/Batchv1JobStatusTest.org)
- [x] Test approval issue : [#108113](https://github.com/kubernetes/kubernetes/issues/108113)
- [x] Test PR : #108114
- [X] Two weeks soak start date : 24 March 2022  [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#g

[2022-02-14 21:43] Riaankl commented on #108113
/triage accepted

[2022-02-14 21:57] lauralorenz commented on #108064
Tagging in @swetharepakula and @freehan based on comments on cross-post with [this slack thread](https://kubernetes.slack.com/archives/C09QYUH5W/p1644859683768429)

[2022-02-14 22:49] ahrtr commented on #108096
cc @wongma7

[2022-02-14 23:16] bobbypage commented on #106466
test is passing now

/close

[2022-02-14 23:16] #106466 closed

[2022-02-14 23:29] bobbypage commented on #107800
Thanks @adisky for your help and investigations as well!

[2022-02-14 23:51] jamestalton commented on #53459
+1

[2022-02-15 00:43] #105102 closed

[2022-02-15 01:03] Driesboy commented on #67202
This sounds like a good solution if you want the same service on each Node, However, in cases where there's for example a single Pod wanting to be exposed on a non-primary IP on one specific node, this doesn't quite work out.

[2022-02-15 02:10] #108025 closed

[2022-02-15 03:07] 249043822 commented on #107730
The logs feedbacked could not find these NotReady pods related lifecycle info.
[code]

Only the pod default/nginx-75cd7474f-tt7b8I is already in terminated, but the housekeeping loop sees an
out of date cache entry for a running container, then the podworker kills the running pod(actually not found) again.

[code]

[2022-02-15 05:07] sanposhiho commented on #107790
Thanks @lavalamp.
Okay. I'll create the PR for that.
/kind documentation
/assign

[2022-02-15 05:07] sanposhiho commented on #100723
/assign

[2022-02-15 05:55] wangyysde commented on #108105
/support

[2022-02-15 08:12] aojea commented on #67202
Just FYI, for `ClusterIPs` there is `internalTrafficPolicy: Local` , but I didn't go through all the comments so I don't know if that is exactly what most people is looking for here
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2086-service-internal-traffic-policy

[2022-02-15 08:16] aojea commented on #108112
ping @nilo19 @feyskyer

[2022-02-15 08:19] PanKaker commented on #108105
Hi! I've tried that approach. It didn't help.
But there is one thing that actually helped and it's fully reinstalling the cluster

[2022-02-15 08:59] matthewbyrne commented on #105703
Hi @nilesh-telang , we've resolved the issue on our cluster. We're using Calico CNI, which had a [bug](https://github.com/projectcalico/calico/issues/4518) in it. After upgrading our Calico version our terminating pods retained their network connectivity, though I see you've already ruled this out earlier.

[2022-02-15 09:04] wangyysde commented on #108026
1. the limit is not guaranteed to be reached if there are no resources available to a node, so your pod might never scale even if there is a spike in resource needs.
2. using request as base for calculation would not make different, you can set a value bigger than 100%.
3.

[2022-02-15 09:04] Driesboy commented on #67202
Well, I tried on 1.23, but it doesn't seem to work there. As it tells me, it only works on NodePorts & LoadBalancers. I figured it out using a LoadBalancer, only pointing at the specific pod with interTrafficPolicy Local. However, this isn't nice for scalability.

[2022-02-15 09:42] neoaggelos opened #108118 "Add --write-config-to option to kubelet"
### What would you like to be added?

Add a new `--write-config-to` flag to kubelet, similar to [kube-scheduler](https://github.com/kubernetes/kubernetes/pull/62515) and [kube-proxy](https://github.com/kubernetes/kubernetes/pull/45908).

This flag can be used to render the kubelet configuration file from a set of command-line arguments. For example:

[code]

### Why is this needed?

In existing Ku

[2022-02-15 09:43] neoaggelos commented on #108118
/sig node

[2022-02-15 10:34] #104428 closed

[2022-02-15 10:34] jonyhy96 commented on #108040
@utkarsh348 are u working on resolve this issue? i  wonder why https://github.com/kubernetes/kubernetes/blob/d899c39ca3025362033b5a71e4f27c32690dc78b/staging/src/k8s.io/client-go/transport/round_trippers_test.go#L518 doesn't face a race condition

[2022-02-15 10:45] MadhavJivrajani commented on #108040
I think he's still working on it.
The race condition doesn't happen there because
https://github.com/kubernetes/kubernetes/blob/d899c39ca3025362033b5a71e4f27c32690dc78b/staging/src/k8s.io/client-go/transport/round_trippers_test.go#L534

doesn't start another go routine. In the kubelet's case however, the write part of the race condition happens in another go routine that is spawned:
https://github

[2022-02-15 10:59] ivanspasov99 commented on #108025
Can you please update the whole docs as there are lines which are not update?

Lines: "When you tell Kubernetes to delete an object that has finalizers specified for it, the Kubernetes API marks the object for deletion, putting it into a read-only state"

[2022-02-15 11:02] Nishant-Nayan opened #108121 "Worker nodes running out of IPs in IP range after node reboot"
### What happened?

I have a kubernetes cluster with one worker node.
When I schedule a deployment of say 'n' pods and then reboot my worker node, then after the node comes up, I can see the old 'n' ips still present in '/var/lib/cni/networks/cbr0' directory, it also contains the newly assigned 'n' ips starting from the ip mentioned in 'last_reserved_ip' file.
So totally I got 2n ips of which 'n'

[2022-02-15 11:23] aojea commented on #108121
The IP management depend on the Container Runtime (CRIO, containerd), since 1.20 the CNI is not part of the kubelet (or Kubernetes)

[2022-02-15 11:25] mieubrisse commented on #75380
Wanted to add that we'd really, really appreciate the limit being raised as well - we're trying to store some metadata custom to our app on the label, and the 63 limit is low enough that we're tripping it

[2022-02-15 11:27] mieubrisse commented on #75380
/reopen

[2022-02-15 12:31] aimuz commented on #106475
/remove-lifecycle stale

[2022-02-15 13:04] neolit123 commented on #108105
/kind support
/sig cli

[2022-02-15 13:05] neolit123 commented on #108106
/kind support
/sig release

[2022-02-15 13:05] neolit123 commented on #108106
/triage needs-information

[2022-02-15 13:42] liggitt commented on #108025
weird... the other content got pulled in from somewhere else, not that file

[2022-02-15 13:50] neolit123 commented on #108118
xref https://github.com/kubernetes/kubernetes/issues/86843
looks like that issue rotted.

[2022-02-15 13:50] vpickard commented on #108112
/cc @vpickard

[2022-02-15 13:52] ravisantoshgudimetla opened #108124 "Support PDBs for DS"
### What happened?

While reviewing https://github.com/kubernetes/enhancements/pull/3089 @smarterclayton suggested that PDBs should be opaque to the backing controllers for the pods. As of now, PDBs are not supported for DS since it doesn't have scale subresource. Clayton suggested to introduce a read only scale subresource to DS so that PDBs can be supported for DS.

In addition, we are going to

[2022-02-15 13:54] ravisantoshgudimetla commented on #108124
cc @soltysh @atiratree @shvgn

[2022-02-15 14:10] neolit123 commented on #106704
@andrewpcone thanks for the logs. i think your issue is not related to the ticket discussed here.
please log a ticket in the kubernetes-sigs/kind repository and attach the log ZIP.

then highlight these problems there:

on the worker kubelet.log there is this:

Feb 14 15:57:07 quickstart-armada-executor-1-worker systemd[1]: Condition check resulted in kubelet: The Kubernetes Node Agent being skipp

[2022-02-15 14:11] neolit123 commented on #106704
@DracePhoenix do you happen to have kubelet / control plane container logs from your failure you reported here:
https://github.com/kubernetes/kubernetes/issues/106704#issuecomment-1029930520

[2022-02-15 14:27] neolit123 commented on #108124
/sig apps

[2022-02-15 14:32] shvgn commented on #108124
/assign

[2022-02-15 15:20] haircommander commented on #107447
at long last, I believe I've found the issue!

[2022-02-15 17:19] ricky-rav commented on #108112
Adding more details to the issue...

We analyzed how Azure Load Balancer backends are modified as cluster nodes become or stop being available, which in our tests can happen in two ways:

- by labeling nodes with `node.kubernetes.io/exclude-from-external-load-balancers`

- by rebooting nodes

With kubernetes prior to this PR (https://github.com/kubernetes/kubernetes/pull/105839, solving https://gi

[2022-02-15 17:22] PradeepKumar-15 commented on #107583
Another reason i can think of to either restart controller-manager ( or ) introduce a retry if endpointslice resource is not returned by 'discoveryClient.ServerGroupsAndResources() ' is to avoid issues with kube-proxy. I think starting 1.20, kube-proxy now watches for change in endpointslices and updates the iptables (unlike previous versions where kube-proxy used endpoints). If we run into a case

[2022-02-15 17:58] ehashman commented on #106884
/triage needs-information

[2022-02-15 18:00] howardjohn opened #108135 "ephemeral containers: show more information on failures to start containers"
### What happened?

[code]

`kubectl describe` shows there are, as expected, failures to pull the image. It would be great if this - and possibly other issues of starting the container - were exposed through the `kubectl debug` call to make things more obvious to the users

### What did you expect to happen?

More info is shown to user

### How can we reproduce it (as minimally and precisely as po

[2022-02-15 18:10] ricky-rav commented on #108112
(I just updated my long comment above with more precise info on openshift 4.9)

[2022-02-15 18:12] bridgetkromhout commented on #108112
Thanks, @deads2k & @ricky-rav! We'll try to get the right folks looking at this.

[2022-02-15 18:13] vpickard commented on #108112
Thanks @bridgetkromhout , appreciate all your help and efforts on this one!

[2022-02-15 18:28] 2rs2ts opened #108137 "policy/v1beta1 PodDisruptionBudget selector patchStrategy changed unexpectedly in 1.21 upgrade"
### What happened?

PDB was upgraded to v1 in 1.21. Despite the changelog saying that the behavior of the v1beta1 implementation should have stayed the same, it appears that the `patchStrategy` for the `selector` field was set to `replace`. I believe this is the change in question: https://github.com/kubernetes/kubernetes/pull/99290/files#diff-d4e188b2d9ba60f8c95c9a44c54d1e470c5796eccc4f28eccd446e

[2022-02-15 18:28] 2rs2ts commented on #108137
@liggitt as requested, I am tagging you and @mortent on this one

[2022-02-15 18:38] liggitt commented on #108137
We should narrowly revert the strategic merge patch selector behavior for v1beta1 to match pre-1.21 behavior for backwards compatibility.

More broadly, it is unexpected for multiple actors to be writing to a single selector. The pre-1.21 strategic merge patch behavior for v1beta1 PDB has problems with data getting left in the selector incorrectly if the same user submits a patch with two keys, an

[2022-02-15 18:41] 2rs2ts commented on #108137
Would that be considered a bug in the implementation, or is there some race condition in patch application that I don't understand? Cuz if I were to sequentially apply patches with the old strategic merge, I would think the selector would just accumulate keys, which seems fine to me–but I can see how a race condition would turn it into chaos

[2022-02-15 18:46] liggitt commented on #108137
Accumulating unowned keys in selectors is considered harmful and likely undesired. server-side apply and strategic merge patch attempt to bring semantic understanding to help sand off sharp edges like that.

If you really want to tweak field-level things, jsonpatch can still do surgical insertion/appending/removal of specific fields.

[2022-02-15 18:48] 2rs2ts commented on #108137
Should we expect to use jsonpatch for anything that can have a selector, going forward? If it changed for PDBs then it should change for everything else, I would assume

[2022-02-15 19:10] dwgillies-bluescape commented on #66478
What is it about --force and --grace-period 0 allows the pod to stay around, and allows the command to hang forever, as it just did for me right now.  In a few years will we be typing :

delete pod $pod_name -n $namespace --grace-period 0 --force --wait=false --i-mean-it=true --no-really=yes --not-kidding=1 ??

i just experienced it a moment ago that the only way to delete a pod was with --wait=fa

[2022-02-15 19:47] sorkinl commented on #60338
Thank you @pmgk07 ! I will try to follow these instructions and post here with updates.

[2022-02-15 20:41] marosset opened #108140 "Kubelet permissions check on Windows does not work if running as a LocalSystem"
### What happened?

If kubelet is configured to run as a service using the `LocalSystem` service account check to verify the kubelet is running with elevated privileges fails with the follow error message

[code]

### What did you expect to happen?

Running the kubelet as a Windows serrvier using `LocalSystem` should not report kubelet is running with insufficient permissions.

### How can we repr

[2022-02-15 20:42] marosset commented on #108140
/sig windows node
/area kubelet

Related to https://github.com/kubernetes/kubernetes/pull/96616

[2022-02-15 21:06] liggitt commented on #105978
I see tmpfs mentioned in the beta graduation criteria for the swap feature (https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2400-node-swap/README.md#beta), but I can't tell if this covers preventing memory-backed volumes from getting swapped to disk:

[2022-02-15 21:16] marosset commented on #108140
I think we can probably just https://pkg.go.dev/golang.org/x/sys/windows#GetCurrentProcessToken and check to see if token.IsElevated is true.
This does not account for the case where kubelet is not running elevated but is running with an account that _could_ elevate but I don't think we care about that (because we'd need to relaunch kubelet as elevated).
I think we just need to check/ensure the cu

[2022-02-15 21:18] fedebongio commented on #108069
/triage accepted

[2022-02-15 21:19] fedebongio commented on #108071
/help
/triage accepted
Thank you Jordan as usual!

[2022-02-15 22:21] SergeyKanzhelev opened #108144 "Install-WorkerServices should not set pod-infra-container-image as it is marked for deprecation"
### What happened?

This code: https://github.com/kubernetes/kubernetes/blob/66445662ad7b65ffdb144b9665608f7b6a4b57a6/cluster/gce/windows/k8s-node-setup.psm1#L1051

should not set `pod-infra-container-image` as it was just marked for deprecation and has to set the `sandbox_image` instead on Contianerd

### What did you expect to happen?

code not setting this flag

### How can we reproduce it (as

[2022-02-15 22:23] dims commented on #108144
@SergeyKanzhelev this has one effect currently. preventing the specified image from being garbage collected. (So we tell folks to specify the pause image in the containerd config toml and here - need to do both)

[2022-02-15 22:41] SergeyKanzhelev commented on #108144
Rephrased. Thank you!

[2022-02-15 23:48] 2rs2ts commented on #105742
/remove-lifecycle stale

[2022-02-16 00:25] #108137 closed

[2022-02-16 01:14] tallclair commented on #103760
FWIW, I think the audit trace is a red-herring
[code]

That log line is getting generated from https://github.com/kubernetes/kubernetes/blob/d374c954deb3a3da62f1fb0055842530ff8c9451/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L131, but that's the first trace step in that function, so it's including everything prior to recording the audit event in the trace.

If audit is disabled,

[2022-02-16 02:57] nilo19 commented on #108112
@ricky-rav thanks for catching this, I will file a PR to fix it ASAP. By the way, is it possible to switch to out-of-tree cloud provider azure since it has been GA?

[2022-02-16 03:02] mangoGoForward commented on #99828
I'd love to work on this issue.
/assign

[2022-02-16 03:08] denkensk commented on #99205
/reopen
/remove-lifecycle rotten

[2022-02-16 03:15] eaceaser opened #108148 "kubectl apply produces incorrect Deployment patches after server-side port deduping"
### What happened?

We updated a `Deployment` resource with an incorrect update that specified two ports in a container that shared the same `(protocol, port)` tuple (albeit with different names):

[code]

`kubectl apply` generates the following patch in this case:

```"containers":[{"$setElementOrder/ports":[{"containerPort":9090},{"containerPort":9090}],"name":"<redacted>","ports":[{"containerPo

[2022-02-16 03:18] eaceaser commented on #108148
/sig cli

[2022-02-16 03:22] feiskyer commented on #108112
/assign @nilo19

[2022-02-16 03:26] eaceaser commented on #108148
Also: creating a new Deployment with a duplicated `(protocol,port)` port breaks the uniqueness -- the server does not appear to deduplicate ports if its a fresh Deployment:

<details>

[code]

</details>

note the duplication:

[code]

This duplication does NOT occur if you're updating an existing Deployment resource. This also seems like a bug?

[2022-02-16 03:57] pacoxu commented on #108148
See https://github.com/kubernetes/kubernetes/issues/103544#issuecomment-876153094, it seems to be dup with that.

[2022-02-16 04:03] pacoxu commented on #108135
/sig cli
/cc @verb

[2022-02-16 05:49] pacoxu commented on #108043
Failed with this:

pull-kubernetes-unit	https://github.com/kubernetes/kubernetes/commit/2fba7c8aded09759fa7a2ae92d78cc7f6a16b829	[link](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108127/pull-kubernetes-unit/1493794415049707520)

[2022-02-16 05:55] NikhilSharmaWe commented on #108144
/assign

[2022-02-16 06:01] NikhilSharmaWe commented on #108144
@dims and @SergeyKanzhelev Could you please inform about where `containerd` config toml is set in the repo, so that I can set the `sandbox_image` there instead.

[2022-02-16 06:28] rthakur-est commented on #107928
I have attached the logs for this issue.
Before node reboot, this was the device address attached to the pod -
00:07.0 Ethernet controller: Intel Corporation Ethernet Virtual Function 700 Series (rev 02)
After node reboot, the address is assigned to block device -
00:07.0 SCSI storage controller: Red Hat, Inc. Virtio block device

But kubelet continues to attach 0000:00:07.0 as the device after re

[2022-02-16 06:41] sovkumar commented on #108106
resolved

[2022-02-16 06:41] #108106 closed

[2022-02-16 07:32] pacoxu commented on #107817
/cc @wzshiming

[2022-02-16 07:38] pacoxu commented on #105846
/remove-lifecycle stale

[2022-02-16 08:30] PanKaker commented on #108105
I'm closing the issue. Need to investigate more

[2022-02-16 08:30] #108105 closed

[2022-02-16 09:10] shivanshu1333 commented on #106276
/remove-lifecycle stale

[2022-02-16 09:13] payall4u opened #108152 "Deployment will create pod infinitely if pod failed with UnexpectedAdmissionError."
### What happened?

Deployment will create pod infinitely if pod failed with UnexpectedAdmissionError continuously.

ReplicaSet controller will ignore the pod whose status is `Succeeded` or `Failed`. And deployment only allow the pod with `restartPolicy: Always`, and it will prevent us from spawning pods ignored by ReplicaSet controller.

But pod failed with UnexpectedAdmissionError is an exceptio

[2022-02-16 09:16] payall4u commented on #108152
/sig node
/sig app

[2022-02-16 09:25] payall4u commented on #108152
/sig apps

[2022-02-16 09:47] bjethwan opened #108155 "dispatcher.go:129] Failed calling webhook, failing open webhook.openpolicyagent.org: failed calling webhook "webhook.openpolicyagent.org": converting (v1beta1.AdmissionReview) to (v1.AdmissionReview): unknown conversion"
### What happened?

OPA Helm Chart not working but problem with Kubernetes

tried with KIND k8s version 1.21.1 and v 1.22.5

OPA installed using ArgoCD
[code]

[code]

### What did you expect to happen?

I expected the validatingwebhookconfiguration to work.
But kube-apiserver kept logging

dispatcher.go:129] Failed calling webhook, failing open webhook.openpolicyagent.org: failed calling webhook

[2022-02-16 10:03] aojea commented on #108155
Thanks for reporting but this seems a duplicate of this problem in OPA https://github.com/open-policy-agent/opa/issues/3778

/close

[2022-02-16 10:04] #108155 closed

[2022-02-16 11:15] ibihim opened #108158 "Migrate kube-rbac-proxy to Kubernetes Org"
### What would you like to be added?

I would like to move the [kube-rbac-proxy](github.com/brancz/kube-rbac-proxy) under the Kubernets Org (sig-auth).

The ToDo List is, according to [SIG-Auth Bi-Weekly Meeting for 20220202](https://www.youtube.com/watch?v=VuBLtW0waC0):
- [ ] Find a different name to better reflect the broad scope of the project. A suggestion is `kube-auth-proxy`.
- [ ] Get a rev

[2022-02-16 11:16] ibihim commented on #108158
/sig auth

[2022-02-16 12:28] quantommy commented on #20227
Out of curiosity did someone use this project for reverse tunneling? https://github.com/omrikiei/ktunnel

[2022-02-16 12:45] MazeChaZer commented on #56402
/remove-lifecycle stale

[2022-02-16 12:58] tnozicka opened #108161 "kubectl apply --prune doesn't respect namespace boundaries and deletes other namespaces"
### What happened?

I run `kubectl -n scylla apply --server-side --prune --all -f <my_folder_for_scylla_namespace>` and even though it was scoped to a namespace it deleted all other namespaces.

### What did you expect to happen?

It should apply files just within the namespace this request is scoped to and prune any extra objects just in that namespace.

### How can we reproduce it (as minimally

[2022-02-16 13:46] wzshiming commented on #107817
Fixed in https://github.com/kubernetes/kubernetes/pull/101225
You can try to upgrade and try again

[2022-02-16 14:00] ardaguclu commented on #108161
Hi @tnozicka.

I tested on local and `prune --all` worked as expected(just deleted resources in given namespace, etc.). Is it possible to give the exact steps what you did?. Thanks.

[2022-02-16 14:00] daniel-hutao commented on #105391
@fedebongio I don't know how this issue is going, you can let me do it if no one is work on it.

[2022-02-16 14:08] bridgetkromhout commented on #108112
/triage accepted

[2022-02-16 14:40] mmeekah commented on #104980
how do we update to fix version?

For example, I'm getting CVE-2021-25741 Security Vulnerability, the suggested fix version is :
"Upgrade to version v1.19.15,v1.20.11,v1.21.5,v1.22.1"

what commands do I run? Is it something like the below:

`go get -u github.com/kubernetes/utils@v1.22.1`

or `go get -u k8s.io/utils@v1.22.1`

I tied both, and the error says 'unknown revision 1.22.1'

[2022-02-16 14:42] knabben commented on #100388
/assign

[2022-02-16 16:34] tnozicka commented on #108161
Hi @ardaguclu,

thanks for looking into that. I'll work on making a reproducer with limited resources and get back to you. It's good that you have confirmed how it should work.

[2022-02-16 17:18] dlipofsky commented on #60140
@ctron, I have good luck piping through gzip ( see my comment on [Oct 26, 2021](https://github.com/kubernetes/kubernetes/issues/60140#issuecomment-952168803) ) which indicates there is not an issue with binary data. It's also much faster (if your file is not already compressed).

[2022-02-16 17:18] marosset commented on #100388
I have thought about this a bit and think it might be easiest to just expose a share on the domain controller.
This does push more requirements into the configuration that needs to happen outside of the tests but it will make the tests a lot cleaner IMO.

[2022-02-16 18:00] #107483 closed

[2022-02-16 18:00] elfinhe opened #108166 "Tests ci-npd-e2e-test are failing"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-node-problem-detector#ci-npd-e2e-test

### Which tests are failing?

ci-npd-e2e-test.Overall

** Ginkgo timed out waiting for all parallel procs to report back. **

### Since when has it been failing?

Since the very beginning I can see from the testgrid, maybe longer ago

02/01/2022 failed after 2m31s.
https://prow.k8s.io/view/gs/kuber

[2022-02-16 18:00] #108112 closed

[2022-02-16 18:06] elfinhe commented on #108166
/sig node

[2022-02-16 18:12] SergeyKanzhelev commented on #108067
Looks like fixed now. All green

/close

[2022-02-16 18:13] #108067 closed

[2022-02-16 18:14] SergeyKanzhelev commented on #108040
/triage accepted
/priority important-soon

[2022-02-16 18:18] SergeyKanzhelev commented on #108166
/triage accepted
/priority important-soon

/assign

this may be a duplicate, let's check

[2022-02-16 18:18] kfox1111 commented on #75482
Still an issue in 2022. :/
/remove-lifecycle stale

[2022-02-16 18:23] SergeyKanzhelev commented on #108063
/triage accepted
/priority important-soon

[2022-02-16 18:27] SergeyKanzhelev commented on #108049
Any chance you can share the full kubelet.log?

/triage accepted
/priority important-soon

as we accepted similar bug

[2022-02-16 18:29] SergeyKanzhelev commented on #108152
From sig node perspective we need more information to tell why there is an `UnexpectedAdmissionError`. Can you please share kubelet log?

/triage needs-information

from sig apps perspective it looks like replica set is doing what is expected

[2022-02-16 18:31] SergeyKanzhelev commented on #107817
/close

please re-open if it still repro

[2022-02-16 18:32] #107817 closed

[2022-02-16 18:34] SergeyKanzhelev commented on #107928
/remove-triage needs-information

[2022-02-16 18:34] SergeyKanzhelev commented on #107928
/triage accepted
/priority important-longterm

[2022-02-16 18:37] SergeyKanzhelev commented on #108009
@xhejtman can you please share the full kubelet log? We need more information to understand if the issue is in kubelet

[2022-02-16 18:40] SergeyKanzhelev commented on #106335
Can you try to reproduce this on 1.21? 1.19 is out of support an 1.20 is about to get out of support. Also dockershim was deprecated as a runtime and ideally try on other runtime.

Please report back if issue persists with exact steps to repro

[2022-02-16 18:48] SergeyKanzhelev commented on #107899
/assign @ehashman

[2022-02-16 18:49] SergeyKanzhelev commented on #105928
/close

since it's likely not a k8s bug

[2022-02-16 18:50] #105928 closed

[2022-02-16 18:59] ehashman commented on #107899
Free memory and available memory are [not the same thing](https://haydenjames.io/free-vs-available-memory-in-linux/). "Free" means the memory is not in use and can be allocated right now. "Available" means that if requested, the memory can be used. But you can see a bunch of that available memory *is* currently in use, under your "buff/cache". Typically, what this means is that memory is being use

[2022-02-16 19:00] #107899 closed

[2022-02-16 19:16] ehashman opened #108168 "local-up-cluster.sh: doesn't install CNI plugins if needed"
### What happened?

Since we switched from dockershim to containerd, my cluster seems to come up okay but pods get stuck in ContainerCreating. When I investigated further, I found

[code]

Most dependencies of launching a cluster are installed automatically. In this case, it seems we don't get the CNI plugins installed and set up as needed.

/cc @adisky
/sig node network

### What did you expect t

[2022-02-16 19:19] mikedanese commented on #106142
We can start with a warning and maybe a metric. We can consider treating this as a bug sometime down the line, but just warning that we are falling through to anonymous seems reasonable and useful.

[2022-02-16 19:22] charannaik commented on #69041
/remove-lifecycle rotten
/remove-lifecycle stale

[2022-02-16 20:21] tkashem commented on #101078
cc @tkashem

[2022-02-16 20:22] BenTheElder commented on #108168
cc @dims, patron saint of local-up-cluster.sh 🙃

[2022-02-16 20:49] dims commented on #108168
/assign

[2022-02-16 21:05] andrewsykim commented on #108144
/remove-sig cloud-provider

[2022-02-16 22:40] thockin commented on #108074
But that's all patched up now :)

[2022-02-16 23:08] ehashman commented on #108168
@dims I think it's as simple as checking if `/usr/lib/cni/loopback` exists (or wherever it's looking for the CNI plugins) and if not, downloading the latest Linux version for the appropriate arch of https://github.com/containernetworking/plugins/releases/download/v1.0.1/cni-plugins-linux-amd64-v1.0.1.tgz

[2022-02-17 00:46] thockin commented on #106713
We do Listen().

vendor/k8s.io/utils/net/port.go
[code]

[2022-02-17 02:19] sfeng1996 commented on #106335
ok，i will try it

[2022-02-17 02:29] audioscavenger commented on #70202
creating the /run/flannel/subnet.env fixes the coredns issue not starting but it's only temporary.
My solution:

1. `kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml`
2. restart all
[code]

[2022-02-17 02:49] adisky commented on #108168
@dims @ehashman already working on installing cni plugin for the local-up ci job
https://github.com/kubernetes/kubernetes/pull/108160

but if the script is running by user, doesn't we make an assumption that user will install cni plugins along with container runtime?

[2022-02-17 03:11] zouyee commented on #106270
/remove-lifecycle stale

[2022-02-17 03:24] pacoxu commented on #106589
Opened cherry-pick pr #108176 for 1.23.

[2022-02-17 03:53] BenTheElder commented on #107857
@aojea it's the same as pods normally, SIGTERM
https://github.com/kubernetes/test-infra/blob/9703a3111217af8a9a4616883ab316c28f33e3cf/prow/entrypoint/run.go#L113

[2022-02-17 03:56] BenTheElder commented on #107857
two _years_ ago we dropped to 6 cores instead of 7 cores request, it's possible some < 1 core job in this cluster is running alongside the job and stomping node I/O or something:

https://github.com/kubernetes/test-infra/blame/7f5c364f8e38b4a4f28bc68f52e5c1257fe43f86/config/jobs/kubernetes/sig-testing/integration.yaml#L31

however not all that many jobs are allowed in the `cluster: k8s-infra-prow-

[2022-02-17 04:12] #84366 closed

[2022-02-17 04:46] Kartik494 commented on #108063
`klet.kubeCleint` is passed in `kubepod.NewBasicMirrorClient()` and `status.NewManager()` func also should i add a check for nil reference on volumemanager.NewVolumeManager() only?

[2022-02-17 05:14] Kartik494 commented on #105418
@gangadharsingh056 if you don't have any further queries then could you close this issue.Thanks!

[2022-02-17 05:19] #105689 closed

[2022-02-17 05:48] gangadharsingh056 commented on #105418
Dear Kubernetes/Kubernetes,

You can close the issue.
Just finally, what should I do to avoid this or what's the best practices?

On Thu, 17 Feb 2022, 10:45 am Kartik Sharma, ***@***.***>
wrote:

[2022-02-17 06:10] SergeyKanzhelev commented on #108144
I'd say function `Configure_Containerd` in that file. @ibabou can you help identify what test will exercise this code to test it?

[2022-02-17 06:19] Kartik494 commented on #106589
@pacoxu Could you please let me know if  #106591 target for 1.24 release?

[2022-02-17 06:38] pacoxu commented on #106589
I think it should. But it need confirmation from Jordon and [Marek](https://github.com/serathius). See discussions in https://github.com/kubernetes/kubernetes/pull/106591#discussion_r780357459.

[2022-02-17 07:02] Kartik494 commented on #106589
Thanks for the clarification !

[2022-02-17 07:21] ctron commented on #60140
As mentioned, I had it working with bigger binary files.Then a smaller one failed repeatedly at the same location. Maybe it is special series of bytes that triggers the issue. Maybe gzipping the binary file changed to so much, that the issue didn't get triggered. base64 encoding the content works for me reliably.

[2022-02-17 08:32] ivanspasov99 commented on #108025
It's great now, thanks @liggitt

[2022-02-17 08:41] sanposhiho commented on #100723
I did some investigation and update the following poc. (How to run Poc is described in the PR.)
[sanposhiho/kubernetes#4](https://github.com/sanposhiho/kubernetes/pull/4)

**What can Poc tell us?**

- If a kube-scheduler was built in kube-cross, we can use plugins that were built in kube-cross.
- The plugins should be built with the same dependency of kube-scheduler. We' ll probably use `replace`

[2022-02-17 08:51] aojea commented on #60140
can you share that file?
Having a reproducer simplifies everything

[2022-02-17 09:13] prawen commented on #96589
@gseidel You don't know how much this has helped me. I faced the exact issue. Thanks a ton.

[2022-02-17 09:13] denkensk commented on #100723
If the version change is just a patch version. Do we still need to rebuild?

[2022-02-17 12:41] xrmzju opened #108181 "support specifiy node resources in kubemark"
### What would you like to be added?

support specifiy node resources  in kubemark

### Why is this needed?

make hollow nodes  with various capacity is neccessary, especially when doing some test related to scheduler

a sample solution is support pass args to cadivisor fake

eg: kubemark --cpu=10 --memory=24Gi ......

and pass through to pkg/kubelet/cadvisor/testing/cadvisor_fake.go

[code]

[2022-02-17 13:01] ctron commented on #60140
Unfortunately no.

[2022-02-17 13:13] #100400 closed

[2022-02-17 13:16] neolit123 commented on #106589
Should we wait for this 3.5 backport as well?
etcd-io/etcd#13706

Xref https://github.com/kubernetes/kubeadm/issues/2567

[2022-02-17 13:17] timthelion commented on #60140
If you cut the file so that only the problematic location remains does it still fail?

[2022-02-17 13:24] ctron commented on #60140
Ok, maybe I should have explained the reason why I can't provide the file :grin: … because it no longer exists. However, I will keep it in mind. Trying to run into the same issue again. And I guess then I can provide a file. Or try a few things.

[2022-02-17 13:26] pjbgf commented on #82647
/remove-lifecycle stale

[2022-02-17 14:09] #106538 closed

[2022-02-17 14:15] #99867 closed

[2022-02-17 14:25] mrueg commented on #64616
/reopen

[2022-02-17 14:34] mitlonik commented on #28321
Test!
$ helm create k8s-helm

$ helm lint k8s-helm/
==> Linting k8s-helm/
[INFO] Chart.yaml: icon is recommended

1 chart(s) linted, 0 chart(s) failed

$ kubectl apply -f k8s-helm/ --dry-run=client
error validating "k8s-helm/Chart.yaml": error validating data: kind not set; if you choose to ignore these errors, turn validation off with --validate=false
error validating "k8s-helm/values.yaml": erro

[2022-02-17 14:49] AWSmith0216 commented on #108049
@SergeyKanzhelev , I restarted kubelet so the log would be relatively clean, let it run for about 1.5 hours to accumulate some NotReady pods, then grabbed the kubelet log and crictl output. You can view that at https://gist.github.com/AWSmith0216/ee09314706cc3e3ad53ec9ee0cfd84f4

[2022-02-17 15:00] alkar commented on #66430
/remove-lifecycle stale

[2022-02-17 15:11] MadhavJivrajani commented on #108181
/sig scalability

[2022-02-17 15:18] rlewkowicz opened #108185 "Private node, public load balancer aws fails to ensure load balancer"
### What happened?

I'm on the latest everything as of the last week or so.

To clarify, this is NOT me looking for an internal loadbalancer. I can't google this without it showing a bunch of internal load balancer stuff.

I want my node group in a private subnet with the lb public routing to the private nodes on aws. I don't want my nodes going out the igw.

I get: message="Error syncing load bal

[2022-02-17 15:23] #108185 closed

[2022-02-17 15:23] rlewkowicz commented on #108185
I'm dumb, I just had messed up my locals working too late

[2022-02-17 15:41] aojea commented on #108185
happens to all of us :smile:
thanks for realizing and closing it

[2022-02-17 16:10] vishrantgupta opened #108188 "Job pods status "0 Running / 0 Succeeded / 0 Failed""
### What happened?

The Job did not create the pod and it's pod status is:
[code]

[code]

### What did you expect to happen?

Expected to see a pod got created and the Job shows the Pod status.

### How can we reproduce it (as minimally and precisely as possible)?

Not Available

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud pr

[2022-02-17 16:16] #105104 closed

[2022-02-17 16:34] rpoitras commented on #62434
@ehashman
Thanks for the link and comments.  It would seem this blocks the possibility of migrating a Docker container with realtime scheduling requirements to a K8s cluster.  Does this statement seem accurate to you?

[2022-02-17 17:35] vishrantgupta commented on #108188
This was happening as `completions` was set to `1` and after the kuberntes node was restarted it saw the Job is already in the successful state and it ignored it.

[2022-02-17 17:58] aramase commented on #106142
@enj Should we start off with a warning message and decide later if we want to change the default behavior?

[2022-02-17 18:01] chrisayoub commented on #99003
@julianvmodesto @apelisse

I saw this PR linked that got closed, was it not a good solution to fix this problem?
https://github.com/kubernetes/kubernetes/pull/99277

I'm interested because of my previous issue that I opened (https://github.com/kubernetes/kubernetes/issues/107828) which seems to be related to this issue in addition to this other issue: https://github.com/kubernetes/kubernetes/issue

[2022-02-17 18:18] #105017 closed

[2022-02-17 18:20] tarun-asthana commented on #9793
@thockin Where can i see the reopened discussion ?

[2022-02-17 19:34] eaceaser commented on #108148
@pacoxu I'm not sure if thats a dupe -- that seems to be an issue with the merge key for service ports not including the protocol? In this case, kubectl is specifically producing a bad patch due to server-side deduplication of conflicts on `(protocol, port)` in ContainerSpec ports

[2022-02-17 20:55] robscott opened #108196 "EndpointSlices can unexpectedly lose node name information after upgrading from v1beta1 to v1"
### What happened?

On the first update of an EndpointSlice using the v1 API, we drop deprecatedTopology with EndpointSlice strategy. Although we only do this if at least 1 endpoint has been modified, there is no guarantee that node name has been populated for all endpoints within the EndpointSlice.

This is most noticeable if the first update using the v1 API is only adding endpoint(s). In that c

[2022-02-17 20:57] robscott commented on #108196
I'm working on a fix for this, hoping to have it out later today.

/triage accepted
/sig network
/cc @thockin @aojea @tnqn

[2022-02-17 21:30] thockin commented on #108064
What can we do to reduce the flakes?

[2022-02-17 21:31] pohly commented on #106945
See also https://github.com/kubernetes/klog/issues/300

[2022-02-17 21:32] thockin commented on #107966
It looks like the failure 2 weeks ago resolved but it's also failing today:

https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-v1beta1-ci-artifacts

?

[2022-02-17 21:51] leonardpahlke commented on #107966
Yes, that's what it looks like. I will close the issue then since the original issue has been fixed. Before I open a new issue with the latest bug, I would wait a day and see if it gets fixed without having to report it. I'll add it to the CI Signal watch list for now though. Sounds good?
Thanks Tim for an extra pair of eyes here :)
/close

[2022-02-17 21:51] #107966 closed

[2022-02-17 21:52] thockin commented on #107482
any updates here?

[2022-02-17 21:55] thockin commented on #105703
any updates here?

[2022-02-17 21:59] danwinship commented on #83400
The initial revision of the AdminNetworkPolicy KEP has now merged (https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2091-admin-network-policy). You can track the progress of that feature at https://github.com/kubernetes/enhancements/issues/2091.

/close

[2022-02-17 22:00] #83400 closed

[2022-02-17 22:02] danwinship commented on #95570
/unassign

[2022-02-17 22:03] liggitt commented on #108196
I think this is better characterized as a controller bug, but https://github.com/kubernetes/kubernetes/pull/108197 is the safest mitigation I can think of in the short term, since we don't want to rewrite 100% of endpointslices on startup. Can you open a separate issue to work through the controller reconciliation so that v1 clients can depend on the nodeName field more reliably?

[2022-02-17 22:12] danwinship commented on #108074
can you add:

[2022-02-17 22:21] leonardpahlke commented on #107702
The job is still flaky. Not sure whom to contact

cc @BenTheElder @thockin @cblecker

[2022-02-17 22:27] nilesh-telang commented on #105703
Hi @matthewbyrne ,

Thanks for sharing these details.

Hi @thockin, at our end I think we may have found out the root cause of our issue. Our production systems use linkerd and we found that the graceful shutdown of linkerd may be causing the pod to loose connectivity to external components

The linkerd shutdown documentation mentions the following - https://linkerd.io/2.10/tasks/graceful-shutdown

[2022-02-17 22:32] danwinship commented on #108074
They should use the non-sloppy functions _in their validation functions_ but for now we should probably still require people to use the sloppy functions everywhere else, just for consistency / not needing to think about it. (If the field has been validated to have no leading zeros then it's guaranteed that ParseIP() and ParseIPSloppy() will give the same results later on, so using the sloppy funct

[2022-02-17 23:38] ibabou commented on #108144
Yeah, it's here https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/windows/k8s-node-setup.psm1#L1435

Tests covering this are the [sig-windows] suite ones, that creates Windows pools. For example, jobs like this have containerd configured to be used (KUBE_WINDOWS_CONTAINER_RUNTIME=containerd): https://k8s-testgrid.appspot.com/sig-windows-master-release#gce-windows-2019-containerd-mas

[2022-02-18 00:14] #106976 closed

[2022-02-18 00:36] vsxen commented on #89903
ping

[2022-02-18 01:20] #107545 closed

[2022-02-18 01:20] #108196 closed

[2022-02-18 03:29] mars1024 commented on #94861
Hi, @cnmcavoy are you still working on this? Same problem happened in our clusters, just because of asymmetrical routing.

[2022-02-18 03:29] mars1024 commented on #94861
/reopen

[2022-02-18 03:32] mars1024 commented on #94861
Also the command suggested by @aojea is helping us, but I still think this should be a bug of kube-proxy.

[2022-02-18 04:34] NikhilSharmaWe commented on #108144
@ibabou I am not understanding the conversation about the tests, actually I have not worked much in this domain. Could you please elaborate on what we are trying to achieve and what steps we should take to achieve that.

Apologies for asking such a vague question.

[2022-02-18 05:45] adisky commented on #108168
/assign
the local e2e job is now working, have to refine the script https://github.com/kubernetes/kubernetes/pull/108160
we are anyways installing cni for the ci job, will add a provision so that users can also install.

[2022-02-18 06:11] MrSsunlight commented on #106023
Thanks, I know the reason, it is caused by the loss of soft connection

[2022-02-18 06:12] MrSsunlight commented on #106023
Thanks, I know the reason, it is caused by the loss of soft connection

[2022-02-18 06:12] #106023 closed

[2022-02-18 06:32] #106664 closed

[2022-02-18 07:09] NikhilSharmaWe commented on #108181
@xrmzju Could you please explain after changing the `type Fake struct `, how we will use it to improve the tests. Also what is the use of [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/testing/cadvisor_fake.go#L42) line in the code and will it effect the tests when we change the `type Fake struct`.

Guidance needed, I am looking forward to collaborate.

[2022-02-18 07:10] NikhilSharmaWe commented on #108181
/assign

[2022-02-18 08:19] cpanato commented on #107966
this is another issue related to the name of the control-plane changed from master to control-plane

there is a pr in flight to fix that https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/531

[2022-02-18 08:19] cpanato commented on #107966
the original issue was with cert-manager then the new one is with the node name :)

[2022-02-18 09:03] pratapdesai opened #108206 "k8s.io/helm/pkg/kube imports k8s.io/kubernetes/pkg/kubectl/cmd/get: module k8s.io/kubernetes@latest found (v1.23.4), but does not contain package k8s.io/kubernetes/pkg/kubectl/cmd/get"
### What happened?

Tried upgrading k8s.io/kubernetes to 1.23.4 version. This is done by properly pinning the dependencies as below

Go version - 1.1.6

go.mod

[code]

### What did you expect to happen?

As every dependancy is pinned, It is supposed to work well with `go mod tidy`

### How can we reproduce it (as minimally and precisely as possible)?

When `go mod tidy` is executed, it fails with

[2022-02-18 09:49] aojea commented on #94861
The problem here is: what happens if the solutions are exclusive or we regress?

The addition of this rule fixed a legit bug that was documented https://github.com/kubernetes/kubernetes/pull/74840 and there is also a nice blog explaining the details https://kubernetes.io/blog/2019/03/29/kube-proxy-subtleties-debugging-an-intermittent-connection-reset/

Removing this rule without a repro and unders

[2022-02-18 09:56] aojea commented on #107583
I would not focus on the detail of the enpoints or endpoint slices controller, the root cause here is that the controller manager is not behaving correctly, you can skip one controller but other things will fail and your cluster will not be usable one way or the other, the important here is that the controller manager recovers ...

The leader election logic should fail and restart the controller m

[2022-02-18 10:52] neolit123 commented on #106893
here is the issue link. we closed https://github.com/kubernetes/kubernetes/issues/81756 with a PR that updates the flag description https://github.com/kubernetes/website/pull/26713
Cc @adisky

[2022-02-18 11:03] hakman commented on #106893
@neolit123 There is already a PR from @adisky for the image GC and the maintainers agreed to backport it to 1.6 when ready: https://github.com/containerd/containerd/pull/6456. The plan is to remove `--pod-infra-container-image` in 1.27, which should be more than enough to finish the implementation.

[2022-02-18 11:24] hakman commented on #106893
I assume both cri-o and cri-dockerd are actively maintained and follow the changes made to the CRI API.
Surely, removing `--pod-infra-container-image` can be postponed if pinned images is not implemented in various CRIs by v1.27.

[2022-02-18 11:33] neolit123 commented on #106893
SGTM, overall I am +1 for removing the flag in 1.27 or later. Users would need to have their container runtimes updated on time... It is not uncommon for users to run older CRs against newer kubelets and I don't think they are sufficiently aware of the skew implications there.

[2022-02-18 11:39] adamcharnock commented on #71233
If anyone is encountering this issue for Postgres Operator, [see this workaround](https://github.com/zalando/patroni/issues/1393#issuecomment-1044380715).

[2022-02-18 11:51] hakman commented on #106893
Seems there's an issue to track pinned images for cri-o too: https://github.com/cri-o/cri-o/issues/5652.

[2022-02-18 11:53] mkrutik opened #108208 "kubectl doesn't patch removing serviceAccountName from deployment"
### What happened?

`kubectl apply -f` doesn't patch removed `serviceAccountName` from the `Deployment` manifest.

### What did you expect to happen?

Removed `serviceAccountName` from `Deployment` must be applied using `kubectl apply -f deployment.yaml` command. (or at least show some warning that it's not applied due to some reasons)

### How can we reproduce it (as minimally and precisely as po

[2022-02-18 12:00] mkrutik commented on #108208
/sig cli

[2022-02-18 12:03] afbjorklund commented on #106893
That's a lot of assumptions, I think it at least needs a bug on cri-dockerd (and a commitment from Mirantis ?)

[2022-02-18 12:11] afbjorklund commented on #106893
I think that CRI-O usually lags a release or two, and Docker and containerd have more of a bi-yearly update phase...

I think that Docker 19.03 and Containerd 1.4 are still supported, don't think their CRI are updated with every release ?

[2022-02-18 12:35] neolit123 commented on #106893
Containerd 1.4 is definitely still supported and likely a lot of users are not updating it on hosts. I think i've heard they have plans to backport CRI updates to supported versions, but cannot confirm. Not sure about crio. Cri-dockerd will have to start managing similar changes as well...

That's probably due to the fact kubeadm passes the pod infra flag to the kubelet without checking the CR con

[2022-02-18 12:36] hakman commented on #106893
I may or may not assume too much, but when APIs change, those maintainers should be involved or at least informed if upstream wants those changes implemented. From what I see, the CRI API KEP added pinned images last year, in May.

The CRI config can be updated by the install tool and use the latest pause image in both k8s and CRI.
There aren't many changes to the pause image since v3.2, unless us

[2022-02-18 12:47] afbjorklund commented on #106893
currently it is actively encouraged, since kubeadm is installing it from docker.com rather than from containerd.io

[2022-02-18 13:13] afbjorklund commented on #106893
I think I meant "it is being linked as part of the kubeadm installation" (the actual text is only about dockershim)

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-runtime

[2022-02-18 13:14] endocrimes commented on #106893
@hakman updated.

[2022-02-18 13:25] hakman commented on #106893
Thanks @endocrimes.

[2022-02-18 13:27] liggitt commented on #108043
which still needs to be fixed

[2022-02-18 13:46] neolit123 commented on #108206
importing k8s in other repositories does not work

thus package no longer exists as kubectl is moving to k8s.io/kubectl

https://github.com/kubernetes/kubernetes/tree/master/cmd/kubectl

have you reported this to helm?

/sig cli
/kind support
/remove-kind bug

[2022-02-18 15:34] RichardoC opened #108212 "v1.18 of the API docs have an invalid certificate"
### What happened?

Attempt to browse to https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/
The certificate is only valid for *.netlify.app rather than *.kubernete.io and given HSTS is enabled by browser refuses to display the content.

<img width="509" alt="image" src="https://user-images.githubusercontent.com/11242848/154712713-08257ad5-c321-41bf-8f5e-2077a6347413.pn

[2022-02-18 15:34] RichardoC commented on #108212
/sig docs

[2022-02-18 16:03] RichardoC opened #108213 "API docs missing for /version and /metrics"
### What happened?

Neither "GET /version" nor "GET /metrics" are documented in https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/ which seems unexpected given that's supposed to be the complete guide to the kubernetes REST API

### What did you expect to happen?

"/version" and "/metrics" to be documented alongside the other APIs

### How can we reproduce it (as minimally and pr

[2022-02-18 16:03] RichardoC commented on #108213
/sig docs

[2022-02-18 17:35] kallisti5 commented on #60903
These ticket bots are *really* annoying.

Just ran into this on our infra.  I have some deployments with pods which are using RWO claims.  I'd like to attach a pod to the same PVC to "load it up with data"... The language in the documentation makes this seem possible...

[code]

The most comment reason to run into RWO issues is always around provisioning data into them.  The "delete a PVC and ask

[2022-02-18 18:33] SergeyKanzhelev commented on #89903
I don't think we will be able to backport changes to 1.19-1.22. As I mentioned earlier in this thread, there is a circular dependency with CRI that we hope to resolve over time, but it is not resolved in earlier versions.

The recommendation is to use cAdvisor standalone to collect these metrics for now.

/close

[2022-02-18 18:34] #89903 closed

[2022-02-18 18:54] SergeyKanzhelev commented on #108168
/triage accepted

[2022-02-18 19:28] #105099 closed

[2022-02-18 21:28] #105096 closed

[2022-02-18 23:01] SergeyKanzhelev commented on #108168
similar bug: https://github.com/kubernetes/kubernetes/issues/106972

[2022-02-18 23:28] #100779 closed

[2022-02-19 01:36] bgrant0607 commented on #67610
This is still necessary.
[code]

[2022-02-19 04:08] NikhilSharmaWe commented on #108063
@aojea What should be the default value of `kubeClient`, value which should be used when it it `nil`.

[2022-02-19 04:38] NikhilSharmaWe commented on #107919
@liggitt Could you please respond to the previous [comment](https://github.com/kubernetes/kubernetes/issues/107919#issuecomment-1033345431).

[2022-02-19 07:45] arcAman07 commented on #102334
Is this issue still open? If yes could I get some reference so that I can start working on it

[2022-02-19 08:25] hex108 commented on #65797
/reopen

I created a PR https://github.com/kubernetes/kubernetes/pull/79334 for it some time ago, but it needs a KEP.

@kerthcet I would be grateful if you could follow up on it. And we could finish it togother if needed.

[2022-02-19 08:59] kerthcet commented on #65797
I'm glad to work on a KEP then, thanks. Hope to finish it in release 1.25.

[2022-02-19 09:34] fordsu opened #108217 "kubelet fails to unmount CSI volumes because unmounter fails when vol_data.json is empty"
### What happened?

On pod termination, kubelet sometimes fails to unmount CSI volumes with the following error:

`kubernetes.io/csi: failed to parse volume data file [/var/lib/kubelet/pods/abe9027f-609b-45db-b7b6-6a363c805b07/volumes/kubernetes.io~csi/pvc-121296d1-12e8-4393-80eb-4285cedd76a6/vol_data.json]: EOF"`

When I check this file on disk，it appears to be 0 bytes：
`ll /var/lib/kubelet/pods/

[2022-02-19 09:38] fordsu commented on #108217
/sig storage

[2022-02-19 10:39] aojea commented on #108063
I'm not familiar with this code, the description looks correct

but people familiar with the VolumeManager should be able to say what is the correct behavior when kubelet runs in standalone  mode and it doesn't have a client

[2022-02-19 10:41] kinderyj commented on #107415
good catch

[2022-02-19 13:19] wojtek-t commented on #108003
FWIW - this will also have an additional benefit of significant reduction of lock contention of watchcache, because with this change, we will no longer have to build the response under lock, but rather we will be able to:
- under lock copy-on-write the btree (which is cheap operation)
- then continue building the response after releasing the lock
I've seen that to be significant problem in some re

[2022-02-19 13:28] #105074 closed

[2022-02-19 14:37] yxxhero commented on #108217
/sig node

[2022-02-19 15:52] aslafy-z commented on #89163
/remove-lifecycle stale

[2022-02-19 16:02] houjun41544 opened #108221 "Unable to restore volume specs in ASW when attach/detach controller starts"
### What happened?

Normally, DSW and ASW data are restored after the attach/detach controller is started.
Get volumes from node.Status.VolumesAttached and add them to ASW. At this point, VolumeSpec is nil.
It then goes through all the pods, adds the volumes in the pods that need to be attached to the DSW, and replaces the volumespec in the ASW with the correct volumes found on the pods.
[https://

[2022-02-19 16:11] houjun41544 commented on #108221
/sig storage

[2022-02-19 16:30] leonardpahlke opened #108222 "[Failing test] capg-conformance-v1beta1-ci-artifacts"
### Which jobs are failing?

release-master-informing
* [capg-conformance-v1beta1-ci-artifacts](https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-v1beta1-ci-artifacts)

### Which tests are failing?

* periodic-cluster-api-provider-gcp-conformance-v1beta1-ci-artifacts.Overall
* capg-e2e.Conformance Tests conformance-tests

### Since when has it been failing?

2022-02-16 13:26 CE

[2022-02-19 16:31] leonardpahlke opened #108223 "[Failing test] capg-conformance-main-ci-artifacts"
### Which jobs are failing?

release-master-informing
* [capg-conformance-main-ci-artifacts](https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-main-ci-artifacts)

### Which tests are failing?

* periodic-cluster-api-provider-gcp-make-conformance-main-ci-artifacts.Overall
* capg-e2e.Conformance Tests conformance-tests

### Since when has it been failing?

2022-02-16 13:24 CET

#

[2022-02-19 16:31] leonardpahlke commented on #108223
xref: https://github.com/kubernetes/kubernetes/issues/108222

[2022-02-19 18:31] #104288 closed

[2022-02-19 18:31] #104629 closed

[2022-02-19 21:34] matthyx commented on #81129
@thockin glad you're back into this, let me prep an answer on Monday.
Enjoy your weekend!

[2022-02-19 23:17] atinsinghal97 commented on #78446
I've been using this as a workaround: https://github.com/atinsinghal97/kubectl-port-forward-heaven

[2022-02-19 23:44] atinsinghal97 commented on #74551
I use port forward to interact with applications like ArgoCD (web ui) and have been using this as a workaround in case folks want to try: https://github.com/atinsinghal97/kubectl-port-forward-heaven

[2022-02-20 03:02] PradeepKumar-15 commented on #107583
The leader election logic should fail and restart the controller manager if is not able to get the lock to confirm it is the leader, if that is not happening then there is the bug.

@aojea

[2022-02-20 04:26] NikhilSharmaWe commented on #108221
@houjun41544 I think the volume spec is being updated [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/attach_detach_controller.go#L479).

Could you please elaborate the issue if I am understanding incorrect here.

[2022-02-20 05:12] krmayankk commented on #68397
@ritpanjw yes please, its complete, pending a few small changes to tests.

[2022-02-20 05:33] yxxhero commented on #104629
@konstantin-tkachuk  do you try use the k8s 1.22? Thanks very much.

[2022-02-20 09:03] aojea commented on #107583
So, let's recap,  you are saying that:
1. controller manager starts and becomes leader
2. some errors happens communicating to the apiserver and some internal controllers of the controller manager doesn't start
3. the errors are not enough to lose the leader and restart the controller manager
4. the controller manager keeps working but some internal controllers are never working again

[2022-02-20 10:07] MinvenX opened #108231 "Empty endpointslices are fully updated every cycle defined by controller-manager default --min-resync-period=12h"
### What happened?

My cluster contains about 4w endpointslices. There are 3 related metrics (endpoint_slice_controller_endpoints_added_per_sync_count, endpoint_slice_controller_endpoints_removed_per_sync_count, endpoint_slice_controller_changes) to indicates endpoint add remove and update. I found that the apiserver periodically receives lots of endpointslice update requests. In terms of the numb

[2022-02-20 10:15] MinvenX commented on #108231
/sig network

[2022-02-20 11:21] aojea commented on #108231
there were different improvements in this area, but since 1.20 is going EOL in 8 days it will be good to know if this happens in 1.21

https://kubernetes.io/releases/#release-v1-20

/cc @robscott

[2022-02-20 11:47] MinvenX commented on #108231
I'm glad to recieve your comment. I'm not sure because I only have cluster with version 1.20.10. Expected someone who could provide more detail about it. It is actually happening in my cluster, but I have not known how it happens.

[2022-02-20 12:50] mohammedi-haroune commented on #80818
We're in the exact same situation with our MLOps platform https://iko.ai, any news about this issue ? @philipmoore-8451 how did you handled that ?

[2022-02-20 13:22] nurhun commented on #93736
Hello,

Any updates here ?

[2022-02-20 14:46] alecgarza96 commented on #102545
/assign

[2022-02-20 15:13] sanposhiho commented on #106127
Wouldn't it be better to add a note about this issue to the documentation?
Even after `NodeInclusionPolicies` is implemented and released, taints/tolerations are not taken into consideration by default for backward compatibility, and users may still face this problem.
The current behavior is written as follows, but it is just a single line at the bottom of the document, and users may not anticipat

[2022-02-20 15:30] houjun41544 commented on #108221
Before volume spec is updated, `adc.actualStateOfWorld.GetAttachState(volumeName, nodeName)` will check the attach state of volume/pod.nodename in ASW.
[code]
The k8s cluster with this problem, before ADcontroller starts, the pod has been evicted, recreated on another node, but has not been successfully mounted on the new node. So attachVolume.nodesAttachedTo in ASW only has old nodes, no new node

[2022-02-20 16:30] NikhilSharmaWe commented on #108221
@houjun41544 So we need to change the attached nodes to the volume from the old nodes to the new nodes. Am I understanding correct here ?

Do you have any idea about what should be done for achieving this ? please inform. I would like to work for fixing this issue.

[2022-02-20 17:48] vaibhav2107 commented on #72881
/remove-lifecycle stale

[2022-02-20 17:52] vaibhav2107 commented on #98473
/remove-lifecycle stale

[2022-02-20 17:53] vaibhav2107 commented on #102373
/remove-lifecycle stale

[2022-02-20 17:55] vaibhav2107 commented on #104017
/remove-lifecycle stale

[2022-02-20 18:40] #38532 closed

[2022-02-20 21:20] JohnRusk commented on #108003
Nice!

Is this a new call to etcd?  I.e. a call that currently would _not_ be made? (Currently if someone is going to be served from watch cache I assume there's no interaction at all with etcd???)

If so, what will etcd have to do to satisfy the request?  Just use local RAM and CPU?  Use local disk too?  Communicate with other etcd nodes (I assume not)?

[2022-02-20 21:41] #94289 closed

[2022-02-20 22:22] timBorelle commented on #87546
[code]

[2022-02-20 22:29] timBorelle commented on #87546
[code]

[2022-02-20 23:21] smuth4 opened #108234 "kubectl server-side diff shows timestamp changes without any other differences"
### What happened?

1. I applied an object with `kubectl apply --server-side test.yml`, with the following definition:
[code]
2. I diffed the same object with `kubectl diff --server-side test.yml` and received this diff:
[code]

### What did you expect to happen?

It should have reported no changes.

### How can we reproduce it (as minimally and precisely as possible)?

In addition to the above se

[2022-02-20 23:25] smuth4 commented on #108234
/sig api-machinery

[2022-02-20 23:30] robscott commented on #108231
I've seen this in 1.20 clusters as well, but have not seen it in 1.21. My theory was that this was mostly fixed by https://github.com/kubernetes/kubernetes/pull/99750. Prior to that, any change to EndpointSlice labels would not trigger an EndpointSlice controller sync loop, but the resync period would result in those EndpointSlices being updated at that point.

@tnqn's more recent fix (https://git

[2022-02-20 23:47] howardjohn commented on #96430
Not sure if this is the same, but it looks like `kubectl get <category>` (CRDs) also invalidates

[2022-02-20 23:50] Riaankl opened #108235 "Update patchCoreV1NamespacedPodStatus test - +1 endpoint coverage"
# Progress <code>[3/6]</code>

- [x] APISnoop org-flow : [patchCoreV1NamespacedPodStatus.org](https://github.com/apisnoop/ticket-writing/blob/master/patchCoreV1NamespacedPodStatus.org)
- [x] test approval issue : #108235
- [x] test pr : #108236
- [ ] two weeks soak start date : [testgrid-link](https://testgrid.k8s.io/)
- [ ] two weeks soak end date : xxxx-xx-xx
- [ ] test promotion pr : [!](https:

[2022-02-20 23:58] Riaankl commented on #108235
/triage accepted

[2022-02-21 01:34] houjun41544 commented on #108221
Before volume spec is updated in `populateDesiredStateOfWorld()`, I think it is only necessary to check if the volumeName is in ASW and if this volume has an attached node, no need to check if pod.nodename is in the attached node. Am i right？
Have other ideas？
@NikhilSharmaWe @jsafrane @msau42

[2022-02-21 03:20] MinvenX commented on #108231
Thanks for your reply! I will check

[2022-02-21 03:21] MinvenX commented on #108231
Thanks for your reply！ I will check it.

[2022-02-21 04:00] MadhavJivrajani commented on #106602
/close
See https://github.com/kubernetes/kubernetes/pull/106612#issuecomment-1012373943
Please feel free to re-open if neede.

[2022-02-21 04:00] #106602 closed

[2022-02-21 04:12] NikhilSharmaWe commented on #108221
/assign

[2022-02-21 05:49] #99177 closed

[2022-02-21 05:55] kerthcet opened #108240 "rename SchedulerCache to Cache in Scheduler"
### What would you like to be added?

https://github.com/kubernetes/kubernetes/blob/f0d5ea1e1d4d43cd5caac92800207fcd2a62538c/pkg/scheduler/scheduler.go#L67-L70

We are doing some refactor works in https://github.com/kubernetes/kubernetes/pull/107135, and I found `SchedulerCache` seems redundant, would like to rename `SchedulerCache` to `Cache`

### Why is this needed?

`SchedulerCache` seems redun

[2022-02-21 05:55] kerthcet commented on #108240
/sig scheduling
/assign
/cc @Huang-Wei

[2022-02-21 06:19] 1511563371 opened #108241 "Failed to watch *v1.ConfigMap: failed to list *v1.ConfigMap:"
### What happened?

【  I wanna install istio-1.11.1 】
【What happened】
[root@master1 istio-1.11.1]# kubectl get pod -A

istio-system   istio-egressgateway-865bcd8956-dgbjt       0/1     ContainerCreating   0          16m
istio-system   istio-ingressgateway-645fcd9bb6-q6ql4      0/1     ContainerCreating   0          16m
istio-system   istiod-85c46bfbbf-245ps                    0/1     Running

[2022-02-21 06:34] MinvenX commented on #108231
I confirmed that the periodic updates in my cluster are all empty endpointslices.  But it shouldn't be updated when endpointslice-controller couldn't find pods by service label selector.

[2022-02-21 07:02] matthyx commented on #81129
Indeed, it would be like killing a fly with a sledgehammer...

Ok, works for me, I think if should be sufficient to mitigate the vulnerability.
I guess we'll need a KEP for that?

[2022-02-21 07:22] wojtek-t commented on #86484
/remove-lifecycle stale

[2022-02-21 07:32] pacoxu commented on #108148
/sig api-machinery

[2022-02-21 07:43] journey-wang opened #108242 "How to patch custom kubernetes API object with clientgo"
### What would you like to be added?

I need to update the argo workflow annotations/labels via api, but unfortunately, argo sdk didn't provide this API. WIth kubectl, like kubectl label/annotation, or kubectl edit workflow , this can be easilily.

But I wonder how to do this work via Kubernetes go client sdk?

Thanks very much.

### Why is this needed?

For our solutioni.

[2022-02-21 07:43] rkojedzinszky commented on #106977
I confirm, v1.23.4 still has this issue.

[2022-02-21 08:12] wojtek-t commented on #108003
It's not for requests served from cache, but rather for one served from etcd. Becasue at this point, a key and RV that etcd returns at this point is enough to fetch the value from the cache at this point. So we will be able to reduce amount of data we send from etcd.

[2022-02-21 08:25] aojea commented on #108242
just check the kubectl patch command, you can also use curl

https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/

[2022-02-21 08:28] aojea commented on #108241
component that provides the Service connectivity is not working correctly, that is a network error

[2022-02-21 08:32] kinderyj commented on #108240
same issue

[2022-02-21 08:40] pierluigilenoci commented on #80897
/remove-lifecycle rotten

[2022-02-21 08:46] tiarly commented on #105357
/remove-lifecycle rotten

[2022-02-21 08:50] jonyhy96 commented on #106977
Hi, the cadvisor dependency is not update yet. This issue will be fixed after #107225 be merged.

[2022-02-21 09:45] bmwiedemann opened #108245 "kubectl-get man page varies between builds"
### What happened?

Similar to issue #52269 , building kubernetes1.23 resulted in 1 variation:

[code]

### What did you expect to happen?

builds should be fully determined by inputs

### How can we reproduce it (as minimally and precisely as possible)?

on openSUSE or Debian,
[code]

### Anything else we need to know?

This bug was found while working on [reproducible builds for openSUSE](https:

[2022-02-21 09:49] #105227 closed

[2022-02-21 09:54] bmwiedemann commented on #108245
/sig release
/area build-release

[2022-02-21 10:14] RottenLeaf24 opened #108247 "kubernetes Cluster add capabilities above 1.21.x do not take effect"
### What happened?

I want execute "mount" cmd in start script,So I need add the "SYS_ADMIN" to pod capabilities.The yaml file like following:
[code]
But I get the error: ```mount: mounting rw on /proc/sys failed: Permission denied```
The current kubernetes cluster version is v1.21.0,Then I do the same operation in another cluster with version v1.20.12 and get the same error.It looks like add capa

[2022-02-21 10:19] RottenLeaf24 commented on #108247
/sig Security

[2022-02-21 10:42] souradeepmoe commented on #106951
We verified the address `10.20.0.2` was up as it our AWS VPC nameserver and other instances were able to make queries against it. We also verified that the affected instances were not being throttled at this address. However, we did not test DNS loopkups against 8.8.8.8.

Thanks again for support @aanm @thockin , will take the network dump if we face this issue the next time.

[2022-02-21 11:28] MadhavJivrajani commented on #108242
For interacting with custom resources that don't have a generated client-set, dynamic client can be used: https://pkg.go.dev/k8s.io/client-go/dynamic
/kind support
/sig api-machinery

[2022-02-21 11:28] MadhavJivrajani commented on #108242
/remove-kind feature

[2022-02-21 11:33] ardaguclu commented on #108208
/triage accepted
/sig api-machinery

[2022-02-21 11:48] kumaravanish opened #108248 "Kubelet service cannot bind port 10250 on both the ipv4 and ipv6 network ips in Dual stack k8s setup."
### What happened?

The parameter `address` in the kubelet `/var/lib/kubelet/config.yaml`  enables to bind the kubelet to a node ip .
It’s the parameter which accepts single value, that means only one IP could be provided.
In case of dual stack environment kubelet cannot listen on both the ipv4 and ipv6 network ips.

Following output is from the case where kubelet listens on ipv6 node's ip in a du

[2022-02-21 12:05] rafaeljesus opened #108249 "retainKeys patch strategy not working as expected"
### What happened?

I needed to rename the volume name of a running a stateful set, so I ran the following command:

[code]

The applied patch file definition correctly renamed the volume, however, it ended up adding an empty string to the other volume that shouldn't be changed.

The `PodSpec` says:
[code]

Am I making the right use of `$retainKeys` here?

<details>
<summary>example-shard0.yaml</s

[2022-02-21 12:49] cvetomir-todorov commented on #40651
I implemented an alternative method to @harishanchu 's approach via init containers. I create an entrypoint.sh in a configmap which:
* First `export`s the `ZOO_MY_ID` env var
* Secondly executes the image's `ENTRYPOINT`

This configmap is mounted as a volume and ran as the app container's `command`.

[code]
[code]

##### PROS
* There are no dealings with `/data/myid` files and init containers
* Th

[2022-02-21 13:25] liggitt commented on #108051
/remove-kind bug
/kind documentation

[2022-02-21 14:04] olfway commented on #69676
/remove-lifecycle stale

[2022-02-21 14:08] pohly commented on #92664
/remove-lifecycle stale

[2022-02-21 14:25] philipcwhite commented on #78446
Thanks @atinsinghal97.  This does seem to help.  For my particular issue I believe the fault is with Grafana (older builds have no issues) however this may be useful for testing that I'm doing sending OpenTelemetry data forward from my local machine.

[2022-02-21 14:31] bertinatto commented on #55517
@msau42 @jsafrane since we are migrating to CSI and this option is mandatory for that use case, is there a way we can deprecate this now?

[2022-02-21 14:34] #108051 closed

[2022-02-21 15:19] EricRnR opened #108254 "CSI plugins sent incorrect authority headers during registration with kubelet"
### What happened?

When using the CSI driver node registration sidecar container, the kubelet-registration-path parameter is set to either ```unix:///path/to/unix.sock``` or ```/path/to/unix.sock```.  One or both of these options should cause kubelet to send a valid authority header to the socket.  In the former case, kubelet will fail to find the file path since it will pass the unix header in t

[2022-02-21 15:24] EricRnR commented on #108254
/sig storage

[2022-02-21 15:52] lethargosapatheia commented on #70745
Sorry to re-open this issue, but I don't understand what was actually changed. I also have this issue using the official documentation referenced by the op, and there are also two other warnings related to `--address` and `--cgroup-driver` (for which I've found the configuration parameters, although for `--pod-manifest-path` not):
https://kubernetes.io/docs/setup/production-environment/tools/kubea

[2022-02-21 15:57] knight42 commented on #108208
@mkrutik  `kubectl apply` did remove the `serviceAccountName` field, but it didn't touch another similar but already deprecated field `serviceAccount`, so the `serviceAccountName` field seems to be unchanged.(You could verify this by running `kubectl edit`, only by removing the `serviceAccountName` and `serviceAccount` field at the same time could you unset the service account).

As a workaround,

[2022-02-21 16:14] invidian commented on #84298
/remove-lifecycle stale

[2022-02-21 16:36] MinvenX commented on #108231
/assign @MinvenX

[2022-02-21 16:40] j4m3s-s opened #108255 "misleading comments in container.Ports"
### What happened?

The comments in https://github.com/kubernetes/kubernetes/blob/dc96c3dfccbc2005e4c4367fc8da199413e2bdcb/staging/src/k8s.io/api/core/v1/types.go#L2328 says that :
[code]
However there are several cases where this is false :
- When using a Service with a targetPort that references a name in the ports arrays of the pod.
- Some software (ab)uses this API to get which ports are used

[2022-02-21 16:41] j4m3s-s commented on #108255
/sig network

[2022-02-21 16:49] #105233 closed

[2022-02-21 16:54] chris-short commented on #106035
To be clear, this isn't a blocker for 1.24 release?

@liggitt @dims @chrisnegus @nate-double-u

[2022-02-21 17:43] carlosdamazio opened #108257 "pkg/proxy/userspace/roundrobin: Make `lb.services` nil check standardized"
As suggested in [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/userspace/roundrobin.go#L129-L130), some portions of the code contains the map checking for nil values in `lb.services` map, and others don't have. Even though we're never assigning nil values to this map, we should standardize the portions that does not have this check in `roundrobin` module.

Example:
[code]
Sh

[2022-02-21 17:48] carlosdamazio commented on #108257
/sig network

[2022-02-21 18:06] chaochn47 opened #108258 "APIServer: Impose optional maximum limit on etcd range queries"
### What would you like to be added?

Modify [apiserver/blob/master/pkg/storage/etcd3/store.go list](https://github.com/kubernetes/apiserver/blob/master/pkg/storage/etcd3/store.go#L565-L576) to apply a maximum limit to every etcd range request and issue multiple range requests if necessary to satisfy the original list. Using the ResourceVersion that comes back from the first range request from etc

[2022-02-21 18:14] chaochn47 commented on #108258
/sig api-machinery
/sig scalability

@kubernetes/sig-scalability @wojtek-t @smarterclayton @anguslees @shyamjvs @geetasg

[2022-02-21 19:38] wojtek-t commented on #108258
We already support pagination. Instead of adding a second implementation for pagination, we should reuse the existing one (or at the very least refactor it to ensure that we end up with just one implementation):
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L686

What might be useful to consider is to allow specifying a per-resource-ty

[2022-02-21 20:02] nate-double-u commented on #104878
/milestone 1.24

[2022-02-21 21:00] vdog commented on #60140
base64 got my gzipped file through kubectl.  thanks @ctron !

Can't provide the file because it's a tcpdump :/

[2022-02-21 22:03] airadier commented on #87185
/reopen

[2022-02-21 22:48] rtheis opened #108266 "Kubernetes controller manager may fail to manage deployment rollout with minReadySeconds and pod restarts"
### What happened?

[code]

may exceed the deployment rollout progress deadlines if the deployment sets `minReadySeconds` and a new pod restarts during the rollout before the minimum ready seconds.

### What did you expect to happen?

Deployment rollout is successful.

### How can we reproduce it (as minimally and precisely as possible)?

Apply the following deployment on a 3 node cluster.  We are

[2022-02-21 22:48] rtheis commented on #108266
Recreate is courtesy of @jmcmeek.

[2022-02-21 22:52] rtheis commented on #108266
/sig apps

[2022-02-21 23:22] acnodal-tc opened #108267 "Scaling a service to 0 replicas deletes EndpointSlice annotations and finalizers"
### What happened?

I added a finalizer and a couple of annotations to an EndpointSlice. When I scaled the parent service down to 0 replicas the EndpointSlice's annotations and finalizers were deleted.

### What did you expect to happen?

The EndpointSlice's annotations and finalizers don't change.

### How can we reproduce it (as minimally and precisely as possible)?

Create a deployment and serv

[2022-02-21 23:37] acnodal-tc commented on #108267
/sig network

(apologies if this is wrong)

[2022-02-22 00:51] #103000 closed

[2022-02-22 00:53] Huang-Wei commented on #108240
You're right. It's against common Go naming practices. Please go rename it.

[2022-02-22 01:59] aojea commented on #108267
the endpointslices objects that are associated to a service, hence autogenerated, are ephemeral, they are (owned) created , updated or deleted by the endpoint slice controller manager

Why do you require to use finalizer and annotations on the endpoint slice?

/cc @robscott

[2022-02-22 02:05] h4ghhh opened #108268 "Pods with tolerations of NoExecute taints have not migrated after the tolerationSeconds expires"
### What happened?

A pod has the default toleration configs as follows:
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 300
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 300

Then power off the node that the pod is on. Five minutes later, the pod still haven't migrated until 9 minut

[2022-02-22 02:07] h4ghhh commented on #108268
/sig apps

[2022-02-22 02:13] sanposhiho commented on #101849
/remove-lifecycle stale

[2022-02-22 04:13] felipecrs commented on #72878
It seems that Ubuntu 18.04 HWE kernel (current is 5.4.0-99) still hasn't applied the fix.

[2022-02-22 05:05] saad-ali commented on #60903
On going work to improve access modes: take a look at https://kubernetes.io/blog/2021/09/13/read-write-once-pod-access-mode-alpha/

See feature issue with link to KEP here https://github.com/kubernetes/enhancements/issues/2485

It's still in alpha so if there are changes/improvements you want to see provide feedback there or better yet, come join SIG Storage and help us move it beta/GA.

[2022-02-22 05:19] MadhavJivrajani commented on #108249
/sig api-machinery
/wg api-expression

[2022-02-22 05:20] MadhavJivrajani commented on #108248
/sig node
/sig network
(maybe?)

[2022-02-22 05:22] kumaravanish commented on #108248
/sig cluster-lifecycle

[2022-02-22 05:59] i-am-yuvi commented on #104432
/assign

[2022-02-22 06:20] robscott commented on #108267
Agree with @aojea here, this is intentional. EndpointSlices are labeled with a `managed-by` label to indicate which controller is responsible for managing them. In this case, the EndpointSlices would be managed by the EndpointSlice controller, so the expectation is that nothing else should modify them. It may make sense for us to update the EndpointSlice controller to go out of its way to immediat

[2022-02-22 06:25] MinvenX commented on #108231
I found that when endpointslice's endpoint array is empty, endpointslice-controller updates it during periodic resync, although it doesn't change. I consider it a bug and would like to fork and fix it. The code below could fix the issue of updating empty endpointslices, but I'm not sure if it will introduce new issues.
`pkg/controller/endpointslice/reconciler.go`

        for  i := 0; i < len(slic

[2022-02-22 06:38] robscott commented on #108231
Hey @MinvenX, I'm not sure I completely understand this fix, but thanks for volunteering to take this on! As I recall, this specific section of the reconciler code is part of the "recycling" logic, where an EndpointSlice marked for creation reuses the name of when marked for the deletion, and the operation becomes an update. I'd appreciate a PR if you can also include a test that recreates the bug

[2022-02-22 07:57] ardaguclu commented on #108234
/triage accepted
/assign

[2022-02-22 08:14] kkkkun commented on #108245
/assign

[2022-02-22 08:23] aojea commented on #108248
kubelet accepts a comma separated list of ips in `--node-ip` for dual-stack

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

It was implemented by
https://github.com/kubernetes/kubernetes/pull/95239/commits/75242fce7aa8a8f9e703b8602587900ca5aaf937

[2022-02-22 08:23] aojea commented on #108248
/remove-kind bug
/kind support

[2022-02-22 08:36] aojea commented on #60140
whoever has a reproducer please share it or feel free to contact me directly

[2022-02-22 08:51] #104647 closed

[2022-02-22 08:53] fromanirh commented on #107805
green again since I checked last time
it seems the extra debug I added (https://github.com/kubernetes/kubernetes/pull/107915) is not needed yet :)

[2022-02-22 08:53] fromanirh commented on #107805
/close

[2022-02-22 08:53] #107805 closed

[2022-02-22 09:02] matthyx commented on #60140
Please also tell me what happens when you use the `--retries=10` option of `kubectl cp`... does it always resumes at the same number of bytes?

[2022-02-22 09:19] kerthcet commented on #108240
/remove-kind feature
/kind cleanup

[2022-02-22 09:44] omrikiei commented on #20227
@tomekit well, I obviously did :)
my work has been using it for a while with tilt.dev to add remote debugging to pycharm...
feel free to reach out to me if you have any questions

[2022-02-22 10:06] 1511563371 commented on #108241
【1】

--------------------------------------------------------------------------------------------
Events:
  Type     Reason     Age                    From               Message
  ----     ------     ----                   ----               -------
  Normal   Scheduled  27m                    default-scheduler  Successfully assigned istio-system/istiod-7d7466f66f-pmx7x to k8snode2
  Normal   Pull

[2022-02-22 10:21] wojtek-t opened #108272 "P&F metrics are expensive"
I was looking a bit into data from P&F in the context of resource consumption. Unfortunately I can't just paste the direct data, but this it the brief summary:

- `startRequest` is the only function that is non-negligble in any profiles I've seen [which is kind-of expected]
- what is extremely suprising is that in any profile I've seen, ~50% of time spent in `startRequest` is actually spend on met

[2022-02-22 11:38] acnodal-tc commented on #108267
Thank you for the speedy responses. I'm implementing the Gateway-SIG Gateway API so I need to track service endpoints so I can route traffic to them. Tracking EndpointSlices is more efficient than tracking Endpoints but I can do that instead.

I add my finalizer so my controller can clean up when a service/EndpointSlice is deleted. I add annotations with the data that identifies the slices in our

[2022-02-22 11:44] aojea commented on #108272
/cc

This match my experience with metrics :turtle: :shrug:

[2022-02-22 11:49] aojea commented on #108267
is not possible to base the logic on the Service instead of the EndpointSlices?

[2022-02-22 12:07] enj commented on #108258
Is there a KEP for this?  I would expect such a change to have an associated KEP to define any configuration, feature flags, lifecycle, design, etc.

[2022-02-22 12:22] s-urbaniak commented on #108272
/cc

[2022-02-22 12:36] matthyx commented on #103500
/assign @cyclinder

[2022-02-22 12:41] felipecrs commented on #72878
Never mind, the fix is included:

https://kernel.ubuntu.com/git/ubuntu/ubuntu-bionic.git/tree/kernel/sched/fair.c?h=Ubuntu-hwe-5.4-5.4.0-100.113_18.04.1#n4990

[2022-02-22 13:01] xing-yang commented on #107479
/triage accepted

[2022-02-22 13:06] acnodal-tc commented on #108267
The service doesn't change in response to endpoint events (e.g., a change in the number of replicas) so it doesn't by itself provide enough info to implement a Gateway, but tracking Endpoints should. As the EndpointSlice page I referenced points out, tracking Endpoints is less scalable and extensible than tracking EndpointSlices but it looks like my only option at this point.

[2022-02-22 13:22] canove commented on #69696
Same here:
`Pod is blocking scale down because it’s a non-daemonset, non-mirrored, non-pdb-assigned kube-system pod`

[code]

[2022-02-22 13:25] xing-yang commented on #94929
/remove-lifecycle rotten

[2022-02-22 13:38] jsafrane commented on #100897
/remove-lifecycle stale

[2022-02-22 13:43] victor-fialkin-deltatre commented on #74551
In my case mapping to a different local port worked (9000:9021)

[2022-02-22 13:50] jseguillon commented on #53459
+1

[2022-02-22 13:53] kumaravanish commented on #108248
@aojea : Thank you for the information. However, i am still thinking why the kubelet should not listen on both the network interfaces?

Argument --node-ip, no doubt allows option to communicate over a preferred network by choosing one. But additional considerations are needed like --cloud-provider parameter could not be used together. Pasting error just for the information.

`Failed to run kubelet

[2022-02-22 14:09] 1511563371 commented on #108241
CNI calico or flannel ,which one is better ? If is network ,i choice calico ,so calico is wrong ,right?

[2022-02-22 14:31] aojea commented on #108248
If your cluster is single-stack and you don't use cloud provider , --node-ip must only listen in one IP family,
If your cluster is single-stack and you don't use cloud provider , --node-ip must configured with the corresponding ip families, and listen on both.
If you use a cloud provider, I have doubts about which IP kubelet is using to bind, what case/s are you referring to?

[2022-02-22 14:33] aojea commented on #108241
there is not bad or good, you have something odd in your setup ... the project only use these issues to report bugs on the codebase, the support requests are best effort an use to be closed, maybe you should use another forums like stack overflow or slack ...
/remove-kind bug
/kind support

[2022-02-22 14:38] aojea commented on #108267
kube-proxy , per example, sets an informer on both Services and EndpointSlices, and reconciles based on both ... I think that the most common pattern for these kind of things is to watch both objects, there is a 1to1 mapping between services and endpoint slices, the slices carry a label `"kubernetes.io/service-name"` identifying the Service

[2022-02-22 14:50] kumaravanish commented on #108248
In my case, the cloud provider is `openstack` and the stack is a `dualstack`. My kubelet is listening on the ipv6 node ip ( which comes from `--address` kubelet option). **By default kubelet communication is happening on the ipv4** so as to alter this behavior i have to configure kubelet with `--node-ip=<nodeIPv6>,<nodeIPv4>` which solves the communication issue. But i am unable to configure both

[2022-02-22 14:58] #108241 closed

[2022-02-22 15:43] dgrisonnet commented on #108272
This issue seems odd to me since all the metrics used by P&F should be fairly inexpensive. @wojtek-t could you perhaps share the CPU profile of the metrics part?

FWIW this is different from what was reported for kubelet in https://github.com/kubernetes/kubernetes/issues/104459, since they are using a different kind of metrics.

[2022-02-22 15:53] kapiljain1989 commented on #93792
/assign

[2022-02-22 15:58] jeromeinsf commented on #96218
/remove-lifecycle stale

[2022-02-22 15:59] andrewsykim commented on #108065
@VivekThrivikraman-est yeah please let me know when you have more details on the repro.

In the meantime, what is `/proc/sys/net/ipv4/vs/conn_reuse_mode` set to?

[2022-02-22 16:04] kumaravanish commented on #108248
@aojea Rightly `--address 0.0.0.0`  results in exposing kubelet service on all the interfaces, Also, this is a default behavior when this option is not even passed .

Below are some concerns:
1. Exposing kubelet service on all network interfaces  is not desirable ( some interfaces can be on external networks, a major security risk).
2. Documentation for the `--node-ip` `--address`  could be  impro

[2022-02-22 16:15] kumaravanish commented on #108248
@aojea : As per the documentation [https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/), option `cloud-provider` was to be removed in v1.23 but looks like it is still valid in v1.23, since i am doing all the tests on the k8s v1.23.

In this case, Probably documentation could be updated as per the cod

[2022-02-22 16:22] neolit123 commented on #108248
the effort to remove the --cloud-provider flag is valid.
the alternative is this interface:
https://git.k8s.io/cloud-provider

probably the flag did not get removed on time for 1.23.
#sig-cloud-provider on k8s slack, might know more about this.

/sig cloud-provider

[2022-02-22 16:23] neolit123 commented on #108247
/sig node

[2022-02-22 16:24] neolit123 commented on #108222
/remove-sig cloud-provider
/sig cluster-lifecycle

capg is a sig cl subproject.

[2022-02-22 16:25] neolit123 commented on #108222
/remove-sig network

[2022-02-22 16:25] neolit123 commented on #108213
/sig api-machinery

[2022-02-22 16:34] i-am-yuvi commented on #104432
Is this issue still open/active?

[2022-02-22 17:00] kapiljain1989 commented on #93792
I want to understand about this task, what we want to achieve?

[2022-02-22 17:22] aojea commented on #108248
:thinking: that should work, it works in aws

Can you check the order of the Node addresses returned in `kubect get node -o yaml`  (you can use some filtering with json or jq to get only the addresses)

The cloud provider should return the IPv6 first, (if that is the main IP family of the cluster), the order is important, kubelet will pick the first address returned by the cloud provider.

xref ht

[2022-02-22 17:34] chaochn47 commented on #108258
@enj, thanks for the reminder. It is still in early stage. We will create a KEP for this by following https://github.com/kubernetes/enhancements/blob/master/keps/README.md

[2022-02-22 17:51] deads2k opened #108279 "New Beta APIs off by Default"
### What would you like to be added?

Implementing https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/3136-beta-apis-off-by-default#graduation-criteria

### Why is this needed?

I need a personal checklist to keep track of where I am.

- [x] Integration and unit tests to ensure that no new beta APIs are enabled by default
    contained in https://github.com/kubernetes/kub

[2022-02-22 17:53] deads2k commented on #108279
/sig api-machinery

[2022-02-22 17:53] deads2k commented on #108279
/priority important-soon

[2022-02-22 17:53] deads2k commented on #108279
/sig architecture

[2022-02-22 17:56] kumaravanish commented on #108248
I meant , the three options are not working all together in v1.23 for the dualstack only, kubelet service failed to start. Further checking the journalctl logs shows the below error.
`Failed to run kubelet" err="failed to run Kubelet: dual-stack --node-ip \"<nodeIPv6>,<nodeIPv4>\" not supported when using a cloud provider"`

So, i removed `--cloud-provider` and tested with below configuration succ

[2022-02-22 18:28] shyamjvs opened #108281 "Should pod IP be immutable?"
### What happened?

Today in k8s the IP assigned to a pod, which is a part of the pod status, is mutable. Changing the field through `kubectl edit` doesn't seem to take effect, but the object can be changed through a json patch directly (more under repro steps below). While the IP is again reset back to the original value as part of the next pod status update (done by kubelet periodically), the ch

[2022-02-22 18:29] dgrisonnet commented on #108272
That's plenty enough, thank you.

I looked into the code a bit and didn't find anything special besides the fact that P&F is updating a ton of metrics for each request, but the access to the metrics underlying hash map should be pretty fast since most of the metrics I have seen have a low cardinality. It might be worth verifying on your side if a P&F request should really update that many metrics

[2022-02-22 18:45] ultraasi-atanas commented on #25478
I don't think you do - that's another issue that's documented - https://github.com/kubernetes/kubernetes/issues/46191, as @mmumshad pointed out, this will not use the pods labels as selectors, instead it will assume selectors as app=myservice

[2022-02-22 19:19] ricky-rav commented on #108112
The fix would be rather simple, something along the lines of https://github.com/openshift/kubernetes/pull/1190
What do you guys think? Thanks!

[2022-02-22 19:20] aojea commented on #108248
--address is the address the process binds, there is no more history there and the description of the flag is accurate.

Then, kubelet needs a NodeIP, it can be one or two, for dual stack, order matters.
If you use a cloud provider, the kubelet NodeIP is assigned by the cloud provider , order matters and some cloud provider.doesnt do this right.

The flag --node-ip is used on the absence of a clou

[2022-02-22 19:28] raphminkyu commented on #60338
Hi @pmgk07, I'm working on the issue with @sorkinl . We tried making some changes and I was wondering if you could take a look and comment:

We made changes in pkg/kubelet/volume_host.go and changed
`func (kvh *kubeletVolumeHost) GetPodVolumeDir(podUID types.UID, pluginName string, volumeName string) string {
	dir := kvh.kubelet.getPodVolumeDir(podUID, pluginName, volumeName)
	if runtime.GOOS == "

[2022-02-22 20:54] MikeSpreitzer commented on #108272
Very odd indeed.  I am not familiar with the golang runtime.  Is perhaps there something about allocating stacks in chunks, and it just so happens that gauge update in SetCurrentR always fills up one chunk and causes allocation of another?

[2022-02-22 20:55] PushkarJ commented on #106639
Waiting for a tagged release to include these fixes from `google/cadvisor`

/remove-lifecycle stale

[2022-02-22 21:01] wojtek-t commented on #108272
@MikeSpreitzer - we should think if we can improve it. I think we should eliminate some of the metrics.

But I agree that the biggest surprise is indeed SetCurrentR - I would expect this particular one to be fast.
I didn't look into prometheus code, but I as Damien wrote above, I would expect it not doing any allocations once set for all priority-levels (which should happen right after startup).

[2022-02-22 21:16] jpbetz commented on #108281
/assign @kubernetes/api-reviewers
/triage accepted

[2022-02-22 21:16] jpbetz commented on #108279
/triage accepted

[2022-02-22 21:16] jpbetz commented on #108272
/triage accepted

[2022-02-22 21:17] jpbetz commented on #108258
/cc @tkashem @yliaog
/triage accepted

[2022-02-22 21:18] jpbetz commented on #108249
/triage accepted
cc @apelisse

[2022-02-22 21:18] jpbetz commented on #108242
/triage accepted

[2022-02-22 21:21] jpbetz commented on #108148
/assign @apelisse
(feel free to triage further)

/triage accepted

[2022-02-22 21:25] liggitt commented on #108281
The status is intentionally mutable. I'll defer to @kubernetes/sig-network-api-reviews on whether there are known/expected scenarios where the IP changes during a pod's lifetime.

Write access to pod status is only granted to system components like scheduler, kubelets, and node-controller by default. Cluster superusers can also write to status but are also able to do disruptive things to cluster o

[2022-02-22 21:47] aojea commented on #108281
This conversations is related to this topic, specially interesting this comment from @smarterclayton

https://github.com/kubernetes/kubernetes/pull/93898#issuecomment-920044741

[2022-02-22 22:17] aojea commented on #108272
nice explanation on how golang stack expansion work
https://www.sobyte.net/post/2021-12/golang-stack-management/#stack-expansion

[2022-02-22 22:36] aojea commented on #108272
heh, this is easy to reproduce just with one test using traces and profilers

[code]
see in the trace the amount of time on the prometheus

![image](https://user-images.githubusercontent.com/6450081/155231186-fd15b1c1-49ae-4681-92a5-1b5f28d286fa.png)

and checking the block profile

[code]

[2022-02-22 22:42] sftim commented on #108281
I recommend opening a documentation issue about making this behavior / risk clear to readers.

[2022-02-22 22:42] sftim commented on #108281
Separately, does anyone want to suggest a feature gate that people can disable if they want to make Pod IP assignments immutable?

[2022-02-22 22:44] sftim commented on #108279
I'd love to see a draft PR for that come in soon - we are already co-ordinating the comms for the v1.24 release.

[2022-02-22 22:44] sftim commented on #108212
/transfer website
Duplicate of https://github.com/kubernetes/website/issues/12303

[2022-02-22 22:46] sftim commented on #108213
@jpbetz would you be happy to `/transfer website` on this issue, and then label it as a feature request?

[2022-02-22 22:47] sftim commented on #108213
(FWIW, https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/ is deprecated in favor of the also-incomplete https://kubernetes.io/docs/reference/kubernetes-api/)

[2022-02-22 22:55] bobbypage commented on #103009
/reopen

[2022-02-22 22:56] ricky-rav opened #108283 "Azure load balancer is never updated when node status changes"
### What happened?

Nodes that are no longer in the `Ready` state (i.e. due to a reboot) do not get removed from backend pools of Azure load balancers.

In the current code, a node gets removed from the backend pool of an Azure load balancer only if:

- it is labeled with `node.kubernetes.io/exclude-from-external-load-balancers` or
- it is labeled with `"kubernetes.azure.com/managed" ="false"`

Th

[2022-02-22 22:56] sftim commented on #108028
Are we happy with the warnings / diagnostics we emit when selecting cgroups v1?

[2022-02-22 22:57] sftim commented on #108028
Also, +1 to blog article.

[2022-02-22 23:01] sftim commented on #107726
That sounds useful! Also, I think you need to have Docker available to run `make update` (which, as it happens, I don't). A way to get an update when you don't have Docker available locally would also be useful to me and I suspect others too.

[2022-02-22 23:04] sftim commented on #107726
Perhaps we could include the changes in Git format as well? https://thoughtbot.com/blog/send-a-patch-to-someone-using-git-format-patch outlines how you could use that (`git am` etc).

[2022-02-22 23:08] neolit123 commented on #108283
/sig cloud-provider
/area provider/azure

[2022-02-22 23:09] ricky-rav commented on #108283
I will submit a patch shortly

[2022-02-22 23:09] ricky-rav commented on #108283
cc @deads2k

[2022-02-22 23:18] ruiwen-zhao commented on #103009
Sorry for dropping the ball. Reopening this issue to propose: kubelet should validate the resource limit, and either a) reject the container or b) set the limit to the capacity of the node, if the limit is larger than the capacity of the node.

[2022-02-22 23:39] PradeepKumar-15 commented on #107583
Yes, you accurately described the problem i noticed a few times now.

[2022-02-23 00:39] Riaankl opened #108285 "Write replaceCoreV1NamespacedPodTemplate test - +1 endpoint coverage"
# Progress <code>[6/6]</code>

- [x] APISnoop org-flow: [ReplaceCoreV1PodTemplateTest.org](https://github.com/apisnoop/ticket-writing/blob/master/ReplaceCoreV1PodTemplateTest.org)
- [x] test approval issue : #108285
- [x] test pr : #108286
- [x] two weeks soak start date : 1 March 2022 [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5&include-filter

[2022-02-23 00:39] Riaankl commented on #108285
/triage accepted

[2022-02-23 01:01] tallclair commented on #81129
I'd be open to discussing whether this would be a fit for the [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/) and inclusion in [Pod Security admission](https://kubernetes.io/docs/concepts/security/pod-security-admission/) by extension. IMO this is hovering around the border of the scope of the pod security standards, but they do already have opinions

[2022-02-23 01:46] houjun41544 commented on #108221
When detach，[csi_attacher](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L411)
 calls `c.k8s.StorageV1().VolumeAttachments().Delete` to deletes VA first, then calls `waitForVolumeDetachmentWithLister` to check VA deletion .
[code]
This issue, detach failure  is due to the failure of `waitForVolumeDetachmentWithLister`, so VA has beed deleted . `waitForVolumeDe

[2022-02-23 02:45] ahg-g commented on #108083
thanks @Huang-Wei ; we need to backport the fix once we have one.

[2022-02-23 02:46] MinvenX commented on #108231
Thanks for your reply. I will try more test and show this fix does work.

[2022-02-23 03:47] ahg-g opened #108288 "Add a new sig-scheduling meeting friendly to APEC timezones"
### What would you like to be added?

A new sig-scheduling meeting friendly to APEC timezones.

### Why is this needed?

The current regular meeting is scheduled at 1PM EST, which is very late for APEC region.

/kind documentation
/assign @Huang-Wei

[2022-02-23 03:49] ahg-g commented on #108288
/sig scheduling

[2022-02-23 03:56] kumaravanish commented on #108248
Thank you. The lines provides clarity  "when there is no --cloud-provider the administrator can pass a comma-separated pair of IP addresses via --node-ip to manually configure dual-stack".

It would be good to know about the current status of `--cloud-provider` kubelet flag in v1.23. Is it **disabled/Just deprecated/ removed/ obsolete.**

[2022-02-23 04:04] reitermarkus commented on #71233
Thanks @adamcharnock, the workaround seems to be working, but this is still not fixed.

/reopen

[2022-02-23 04:05] reitermarkus commented on #71233
@rojkov, can this be reopened?

[2022-02-23 05:07] yan234280533 opened #108289 "why the Replicas used int32? Is used uint32 more better?"
### What happened?

None

### What did you expect to happen?

None

### How can we reproduce it (as minimally and precisely as possible)?

None

### Anything else we need to know?

None

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>

</details>

### OS version

<details>

[code]

</details>

### Install tools

<details>

</details>

### Container runtime (CRI

[2022-02-23 05:26] ritazh commented on #98035
/unassign
/assign @carlory

[2022-02-23 06:17] Huang-Wei commented on #108288
I'd propose 5:00 PM PST, which was the time when we run sig-meeting in rotating calendars. Please either leave +1 emoji to this comment, or propose a new time.

[2022-02-23 06:26] aojea commented on #108281
yeah, I was going through the code and I still don't have clear all the ramifications of this, there are also a lot of things that depend on the podIPs that are only created at start time , like environment variables and /etc/hosts file on the pods.

@thockin @khenidak this was discussed on the latest sig-network meeting, the doubt we had is what happens to the host network pods if the kubelet res

[2022-02-23 06:51] MadhavJivrajani commented on #108289
/sig apps
/remove-kind bug
/kind support
@yan234280533 please fill in the description with more context. If those details are not available to you, please close this issue and feel free to start a discussion on the [K8s slack](https://slack.k8s.io) in the `#sig-apps` and/or the `sig-api-machinery` channels.

[2022-02-23 07:06] YesterdayxD opened #108291 "shm size show inconsistently in the pod"
I set this in yaml file
[code]
but I got this in pod
[code]
and my host memory size is 64G

[2022-02-23 07:09] bronger commented on #34146
To be honest, I don’t think updating the documentation is the way to go, as it reduces pressure to actually fix this. I think go-yaml with its deliberately incompatible policy should not be used in the first place. Is there no alternative that can be switch to with little effort?

[2022-02-23 07:22] chengjoey opened #108292 "Job is completed but pod status is still running"
### What happened?

I use `flink-operator` to run flinkcluster.
it use `k8sclient` get job, and then list pods of the job
I found the job is completed, and job.status.succeed = 1
![image](https://user-images.githubusercontent.com/30427474/155275146-e91925a5-59d1-4ecb-900a-66b7c491cec5.png)
but the pod of the job is still running
![image](https://user-images.githubusercontent.com/30427474/155275218

[2022-02-23 07:34] allen9cs commented on #57838
yeap, still having this issue at 1.22.

[2022-02-23 07:48] hspens commented on #74551
Changing the **mtu** of the network interface to match that of the docker network solved the problem for me.

[code]

[code]

[2022-02-23 08:24] denkensk commented on #108288
+1
Very happy to have a meeting friendly to APEC timezones. 😁

[2022-02-23 09:11] pacoxu commented on #108292
/sig apps

[2022-02-23 09:13] pacoxu commented on #108291
/sig node

As you discovered, the sizeLimit parameter set for emptyDir volume could not be used for creating a volume with the size. Instead what it does it that eviction manager keeps monitoring the disk space used by pod emptyDir volume and it will evict pods when the usage exceeds the limit.

See https://github.com/kubernetes/kubernetes/issues/63126?spm=a2c65.11461447.0.0.37da3505iMDJ3A#issueco

[2022-02-23 09:13] pacoxu commented on #108291
/sig storage

[2022-02-23 09:20] 249043822 commented on #108247
I could not reproduce this in v1.22.3

[2022-02-23 09:24] RottenLeaf24 commented on #108247
Thanks for your help,Maybe this is a security configuration problem,that  I didn't see!

[2022-02-23 09:34] aojea commented on #108248
@andrewsykim can you help us here?

[2022-02-23 09:54] chendave commented on #94227
/assign

[2022-02-23 09:59] leonardpahlke commented on #108064
It looks like the job is no longer failing and therefore this issue can be closed. The job is still failing, which is tracked in another issue: https://github.com/kubernetes/kubernetes/issues/107530
/close

[2022-02-23 09:59] #108064 closed

[2022-02-23 10:00] leonardpahlke commented on #107530
cc @swetharepakula

[2022-02-23 10:40] adisky commented on #106972
Do we really want to install container runtime as a part of hack/local-up-cluster.sh? for dockershim also the script requires docker is already installed

[2022-02-23 10:44] JoeTheVoices commented on #57187
4 years, and still very relevant!

[2022-02-23 11:13] hubertnnn opened #108297 "After deleting a namespace all pods related to a cron job got stuck in Terminating status."
### What happened?

After deleting a namespace all pods related to a cron job got stuck in Terminating status.
It was impossible to remove them even force remove did not work.
The only way of removing that pods was by modifying metadata to remove `batch.kubernetes.io/job-tracking` finalizer

### What did you expect to happen?

Removing a namespace should not get stuck.

### How can we reproduce it

[2022-02-23 11:15] hubertnnn commented on #108297
/sig cluster-lifecycle

[2022-02-23 11:21] MadhavJivrajani commented on #108297
/remove-sig cluster-lifecycle
/sig apps

[2022-02-23 11:25] VivekThrivikraman-est commented on #108065
It is set to 0.

[2022-02-23 12:07] rfftrifork commented on #83242
Perhaps a good idea would be to have some kind of timeout, otherwise that while loop could hang for ever, which might be problematic in pipelines etc.:

[code]

[2022-02-23 12:40] s-urbaniak opened #108298 "test/e2e: use framework helpers to create namespaces"
### What would you like to be added?

Currently, some e2e tests do not use central framework helper methods to create namespaces. Examples:

https://github.com/kubernetes/kubernetes/blob/296bf4f01668374ade252a751d4c3567917b9890/test/e2e/apimachinery/webhook.go#L1532
https://github.com/kubernetes/kubernetes/blob/296bf4f01668374ade252a751d4c3567917b9890/test/e2e/apimachinery/webhook.go#L2370-L2375
h

[2022-02-23 14:07] cyclinder commented on #105231
/kind bug
/assign

[2022-02-23 14:09] #102369 closed

[2022-02-23 14:12] sanjipta1995 opened #108299 "Horizontal pod autoscaler is not able to downscale properly based on custom metrics."
### What happened?

While downscaling, HPA should terminate pods as and when load decreases.
We are seeing downscaling only when custom metric touches zero and not when value decreases below threshold.

### What did you expect to happen?

While downscaling, HPA should terminate pods as and when load decreases. It should not wait for value to become zero.

### How can we reproduce it (as minimally

[2022-02-23 14:15] alculquicondor commented on #86373
/close

Feel free to reopen if you find evidence that the current behavior is not enough.

You might also be interested in #87850 and sig.k8s.io/kueue

[2022-02-23 14:16] #86373 closed

[2022-02-23 14:17] donistz commented on #56582
We also have a problem that can be resolved with a pattern for the resource inside RBAC. We want to grant read access for some dynamically created secrets in the namespace to users who should not be able to read all secrets of that namespace.  We don't want to maintain dynamically the role definitions for our service account and users every time when a new secret is created.

[2022-02-23 14:18] alculquicondor commented on #108288
/retitle Add a new sig-scheduling meeting friendly to APAC timezones

[2022-02-23 14:25] damemi commented on #108288
Is this a change for the existing meeting, or an additional meeting (eg on alternate weeks)?

[2022-02-23 14:30] alculquicondor commented on #108288
A new SIG meeting with monthly cadence.

[2022-02-23 14:35] tkashem opened #108302 "client-go: inconsistencies among `Do`, `Watch`, and `Stream`"
### What happened?

https://github.com/kubernetes/kubernetes/pull/108262 adds a unit test that records the order in which `BackoffManager`, `flowcontrol.RateLimiter`, and `metrics` calls are invoked.

With this we have found an inconsistency where `Watch` does not do `RateLimiter.Wait` before initially sending the request to the server, but `Do`, `DoRaw`, and `Stream` do:

`Do`, and `DoRaw`: https

[2022-02-23 14:38] tkashem commented on #108302
/sig apimachinery
cc @wojtek-t @deads2k @lavalamp

[2022-02-23 14:38] tkashem commented on #108302
/sig api-machinery

[2022-02-23 15:14] #106496 closed

[2022-02-23 15:15] pierluigilenoci commented on #56582
@thomas7kuo you can try to do a PR for the case in question and I am sure that if all safety and design requirements are met it will be approved.

[2022-02-23 15:21] #108023 closed

[2022-02-23 15:23] simonjpartridge commented on #108023
Closed via https://github.com/kubernetes/kubernetes/pull/107997 due for inclusion in k8s 1.24

If you are running an earlier version of k8s. The workaround for me was to set run-id to a static value in skaffold so that the label wasn't changed on each `skaffold deploy`

[2022-02-23 16:11] neolit123 commented on #108299
/sig autoscaling

[2022-02-23 16:12] neolit123 commented on #108299
this version is going EOL soon. is the problem reproducible with newer k8s?
https://kubernetes.io/releases/#release-v1-20

[2022-02-23 16:13] neolit123 commented on #108298
/sig testing
/area e2e-test-framework

[2022-02-23 16:19] wojtek-t commented on #108302
Copying one of my comments here I added on the PR:

I don't think we can just simply remove it - we should respect what kube-apiserver is returning to us (it's always returning 1 now, but we should address that too at some point).

So I think it's not abot removing - it's rather about unifying them and making something like:
BackOffManager.Sleep(max(backoffManager.CalculateBackoff(), retryAfter))

[2022-02-23 16:24] voigt opened #108307 "[Failing test] ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew.Overall"
### Which jobs are failing?

release-master-blocking

- [skew-cluster-latest-kubectl-stable1-gce](https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce)

### Which tests are failing?

- ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew.Overall
- kubetest.Extract

### Since when has it been failing?

2022-02-22 03:43 CET

### Testgrid link

https://testgrid.k8s

[2022-02-23 16:33] sanposhiho opened #108308 "scheduler_perf: Preemption and PreemptionPV workloads are not working successfully"
### What happened?

Preemption and PreemptionPV workloads are not working successfully with `connect: can't assign requested address` errors.

### What did you expect to happen?

working successfully

### How can we reproduce it (as minimally and precisely as possible)?

run scheduler_perf

### Anything else we need to know?

It seems that these test cases are impossible test cases with a realisti

[2022-02-23 16:33] sanposhiho commented on #108308
/sig schedulnig

[2022-02-23 16:34] sanposhiho commented on #108308
/sig scheduling

[2022-02-23 17:13] jfremy commented on #107973
/assign

[2022-02-23 17:50] obvionaoe commented on #77258
/reopen
this issue is still relevant in the newest versions of Kubernetes

[2022-02-23 18:22] SergeyKanzhelev commented on #108247
@RottenLeaf24 can you please tell what runtime is being used in different versions

/triage needs-information

[2022-02-23 18:25] SergeyKanzhelev commented on #108217
from sig node triage, let sig storage triage it to decide whether handling of broken file is a bug or feature.

For the part of the bug on why the file became empty - please provide more information like kubelet logs and ideally steps to reproduce. triaging as needs information for this part of the bug

/triage needs-information

[2022-02-23 18:38] kasturinarra commented on #108288
+1

[2022-02-23 18:50] marosset commented on #108140
/triage accepted
The current behavior does not work for some common scenarios.

I've got a PR open for a fix (#108146) that does need node reviews.
Thanks!

[2022-02-23 19:19] pjo256 commented on #72216
/reopen
/remove-lifecycle rotten

[2022-02-23 20:27] Huang-Wei commented on #100723
Thanks @sanposhiho for the diligence! Personally, I don't quite think it's a good assumption to say: hey, you have to run your plugin compilation on kube-cross (or whatever other base image), which sounds too restricted. We have so many k8s distros: vanilla, in-house ones, public ones.

I'd expect a promising outcome looks like: the .so files are universal and can plug into any prebuilt scheduler

[2022-02-23 21:50] aojea commented on #107927
@robscott do we close it?

[2022-02-23 22:12] #103328 closed

[2022-02-23 22:34] liggitt commented on #108148
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/58477

unfortunately, it is unlikely a fix for this will be possible, due to the requirement that the server and client perfectly agree on merge keys for computing/sending/receiving/applying strategic merge patches

/close

[2022-02-23 22:34] #108148 closed

[2022-02-23 22:35] tkashem opened #108311 "prometheus client library panics with `counter cannot decrease in value`"
### What happened?

We have unit test(s) that gather metrics for verification using `legacyregistry.DefaultGatherer`, for example:
https://github.com/kubernetes/kubernetes/blob/0ae6ef69b8cf49af8d6e87fca3d400716bba631b/staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go#L1288-L1291

We have seen test to panic with the following error:
[code]

the panic seems to be originat

[2022-02-23 22:37] liggitt commented on #107147
that is only possible to specify in the deletion request

[2022-02-23 22:37] #107147 closed

[2022-02-23 22:37] tkashem commented on #108311
/sig instrumentation
/sig api-machinery (apf unit test flakes due to this issue, feel free to correct it)

[2022-02-23 22:38] tkashem commented on #108311
cc @dgrisonnet

[2022-02-23 22:44] liggitt commented on #107726
this is complete, right?

[2022-02-23 22:48] tkashem commented on #108311
cc @benluddy

[2022-02-24 00:10] jiekun commented on #108288
+1
I used to watch the meeting videos on Youtube due to the daily schedule (have to go to bed early :(). **Happy to see this proposal** & thanks.

[2022-02-24 01:32] red8888 commented on #16707
This should at least be toggle-able. I can think of plenty of use cases where you want to parse kubectl output and send it along as structured data (json) so some other system/function.

Seems like this is designed purely for interactive use and should not be relied upon for any kind of automation? Feels kind of dumb to have to introduce an external dependency (jq) when kubectl natively supports a

[2022-02-24 01:53] #105353 closed

[2022-02-24 01:55] xkkker commented on #92460
same in v1.16.3

[2022-02-24 02:11] chendave commented on #108288
+1

[2022-02-24 02:43] mengjiao-liu commented on #107172
The vacation is over, I will continue to work on this issue.

[2022-02-24 03:07] haosdent commented on #108288
+1

[2022-02-24 03:08] haosdent commented on #108288
We could help to organize if need

[2022-02-24 03:09] ravitri commented on #108288
+1
Looking forward to more APAC friendly meetings

[2022-02-24 03:11] kerthcet commented on #108288
I'd like to propose 6:00 PM PST. At least to Chinese software companies, we begin our daily work from 9:30 ~ 10:00.

[2022-02-24 03:14] niuyueyang1996 opened #108318 "controller-manager gc sync event failed"
### What happened?

15:30:38.355384    2136 graph_builder.go:279] garbage controller monitor not yet synced: events.k8s.io/v1, Resource=events

var ignoredResources = map[schema.GroupResource]struct{}{
	{Group: "", Resource: "events"}: {},
}

ignoredResources group miss match with api-resource

events.k8s.io/v1

### What did you expect to happen?

ignore sync event

### How can we reproduce it (as

[2022-02-24 03:23] Alceatraz commented on #53533
Just for assuming:

With swap can avoid crash when memory flow for OS, And k8s/CRI as software not allow process use swap, Will that be difficult or cause some problem?

[2022-02-24 03:23] mkgrei opened #108319 "kube-proxy in ipvs mode leaves real server weight as 0 after restart"
### What happened?

Entry in ipvs real sever remains at weight=0 after kube-proxy restarts. (During 1.21 -> 1.22 kubernetes cluster upgrade.)

Related to https://github.com/kubernetes/kubernetes/issues/92019

As the related issue is considered closed, I will report this issue again as the problem still persists in newer version. Might because of some corner cases.

### What did you expect to happe

[2022-02-24 03:27] mkgrei commented on #108319
/sig network

[2022-02-24 03:29] haosdent commented on #108288
@kerthcet not sure if we have attendees from non +8 timezone, would like to find a time that suitable for all APAC contributors.

[2022-02-24 03:31] haosdent commented on #108288
Maybe we could raise a poll for APAC time zone in this Github issue or stack

[2022-02-24 04:02] mkgrei commented on #108319
Graceful delete of ipvs is not only triggered when pod is in terminating phase. Graceful delete seems to be triggered when endpointslice status is ready=false.

This will happen when node become not ready. However, after the node become ready again, pods on the node will only be recreated if the duration of NotReady is longer than certain time. Otherwise the pod will just become ready again.

If t

[2022-02-24 04:15] #105202 closed

[2022-02-24 04:24] Huang-Wei commented on #108288
I created a poll to select the time slot: https://doodle.com/poll/knxebfuw9n66k857 . Let's vote.

[2022-02-24 05:38] aniketsingh03 opened #108322 "Workqueue's add function `queue.Add()` doesn't tell whether an item was successfully added or not"
### What happened?

While using `workqueue/queue.go` for one of my usecases, I naturally came across its `Add()` function. Essentially, if the queue is in a shutdown mode, it just does a plain `return` and there is no way for the caller to directly know if the item got added or not:
https://github.com/kubernetes/kubernetes/blob/016b96ca3896d27b37c5b2d6e223fb3320a0fdec/staging/src/k8s.io/client-go/

[2022-02-24 05:52] aniketsingh03 commented on #108322
/sig api-machinery

[2022-02-24 06:05] pacoxu commented on #108318
/sig api-machinery

[2022-02-24 06:27] kumaravanish opened #108323 "kubelet options page contains incorrect information for --cloud-provider"
### What happened?

As per the Kubernetes documentation `--cloud-provider`  option is deprecated and removed in v1.23.
The link for the documentation.
[https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/)

But this parameter is still valid. I got the confiramation.

1.  Kublet code : `cmd/kubelet/app

[2022-02-24 06:28] kumaravanish commented on #108323
/sig node
/sig cloud-provider

[2022-02-24 06:34] kumaravanish commented on #108248
Hi, I have got the confirmation from the # sig-cloud-provider that the `--cloud-provider` option is still valid in v1.23. Also, i cross validated with the kubelet code.
I raised a bug request so as to correct the details on the  v1.23 documentation. If needed, i can pick up and make the changes since its a small change. Please see link to a bug request.
https://github.com/kubernetes/kubernetes/iss

[2022-02-24 07:08] chendave opened #108324 "manifest of ingress is not embedded into golang test executable directory"
### What happened?

Run the testcase,
[code]

And debug into the source, will reveal something abnormal,

[code]

and the error was saying that files cannot be found,
[code]

### What did you expect to happen?

manifest should be embedded and test executed successfully.

### How can we reproduce it (as minimally and precisely as possible)?

run testcase and debug into the source,
[code]

### Anyth

[2022-02-24 07:08] chendave commented on #108324
/sig testing
/sig network
/assign

[2022-02-24 07:29] XzenTorXz commented on #77258
/reopen

[2022-02-24 07:54] aojea commented on #108324
how much are we growing the binary?
This test are more a legacy thing than something we should keep distributing

[2022-02-24 08:38] chendave commented on #108324
not much I think, 16k or so,

before the embedding,
[code]

after,
[code]

[2022-02-24 08:46] asabaini commented on #40413
same here. Anybody knows the answer to this? I feel like the question might have been posed incorrectly during the test

[2022-02-24 08:52] aojea commented on #108311
we are vendoring 1.12.0, should we update the version we are vendoring to get the fix?

I see it is in v1.12.1  https://github.com/prometheus/client_golang/releases/tag/v1.12.1

[2022-02-24 08:55] 249043822 commented on #108247
I reproduced this in Linux kernal 5.4(with AppArmor enabled) + containerd1.6 + kubernetes1.22.3, and i found that it was restricted by apparmor, so I changed the configuration of containerd, then it's ok.

/etc/containerd/config.toml
[code]

[2022-02-24 08:56] 249043822 commented on #108247
/close

[2022-02-24 08:56] #108247 closed

[2022-02-24 09:18] dgrisonnet commented on #108311
yeah, I think we should update to v1.12.1. I was confused at first as to why we haven't seen this bug before since the go collector has been used in Kubernetes for while but it seems that its implementation was recently changed and the bug was introduced in v1.12.0.

[2022-02-24 09:19] khalilj commented on #52963
+1

[2022-02-24 09:19] #94227 closed

[2022-02-24 09:53] dgrisonnet opened #108330 "The apiserver_request_sizes metric is stable even though it has an improper name"
### What happened?

In https://github.com/kubernetes/kubernetes/pull/106122, the `apiserver_request_sizes` metric graduation to stable slipped through without its naming being updated to follow sig-instrumentation best practices. Considering that this metric is ill-formed, it shouldn't be advertised as stable and should rather be deprecated/removed it in favor of a new `apiserver_request_size_byte

[2022-02-24 09:54] dgrisonnet commented on #108330
/sig instrumentation

[2022-02-24 10:21] #103258 closed

[2022-02-24 11:05] 249043822 commented on #108323
This pr  https://github.com/kubernetes/kubernetes/pull/106933 has fixed this, waiting website docs to be published.

[2022-02-24 11:22] #105131 closed

[2022-02-24 13:18] pbetkier commented on #102369
/reopen

[2022-02-24 13:19] pbetkier commented on #102369
/remove-lifecycle rotten

[2022-02-24 13:38] sethigoldy commented on #60140
@matthyx `--retries=10` worked for me as it was resuming where it failed.

[2022-02-24 13:41] matthyx commented on #60140
Thanks for the report... I'm super interested in transfers that fail consistently and retry at the exact same place, which would mean we have a special kill sequence in the flow (which I doubt until I see one).

[2022-02-24 14:10] #108311 closed

[2022-02-24 14:18] andyxning commented on #82268
/reopen
/remove-lifecycle rotten

[2022-02-24 15:29] f18m commented on #84869
We're hitting this same issue...

/remove-lifecycle rotten

[2022-02-24 15:36] f18m commented on #94220
Hi all,
I'm hitting exactly the same identical problem.
Any workaround you know for this issue? I'm using Kubernetes 1.20...
thanks

[2022-02-24 15:36] f18m commented on #94220
Hi all,
I'm hitting exactly the same identical problem.
Any workaround you know for this issue? I'm using Kubernetes 1.20...
thanks

[2022-02-24 15:59] klueska commented on #94220
As mentioned here https://github.com/kubernetes/kubernetes/issues/94220#issuecomment-868489201, just make sure that your init container asks for the same (or more) CPUs than your app container.

[2022-02-24 16:19] akunszt commented on #106589
If this won't be to 1.22 not 1.23 then what is the official upgrade path? We are running 1.21 in an environment where we access the etcd cluster through a proxy. Due to the broken etcd client in those version we can't use neither 1.22 nor 1.23, they can't connect to the etcd at all. As far as I know upgrading directly to 1.24 is not supported. How can we escape from this trap?

[2022-02-24 16:25] neolit123 commented on #106589
we have kubeadm HA cluster upgrade tests from 1.21 -> 1.22 -> 1.23 -> latest and these are all green.
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm

so oddly we are not catching any of these reported problems. it's also not clear if the reporting users are:
- reporting separate problems in etcd (client/server?)
- using kubeadm or something else

kubeadm embeds an etcd client, so t

[2022-02-24 16:32] vaibhav2107 commented on #101565
/remove-lifecycle stale

[2022-02-24 16:32] akunszt commented on #106589
We don't use kubeadm. We have an ALB in front of the etcd cluster as using a DNS based discovery wasn't - or isn't - working in AWS environment properly.

The apiserver container fails to connect to the etcd cluster. We would like to update that "tool".

[2022-02-24 16:32] vaibhav2107 commented on #99608
/remove-lifecycle stale

[2022-02-24 16:33] akunszt commented on #106589
We don't use kubeadm. We have an ALB in front of the etcd cluster as using a DNS based discovery wasn't - or isn't - working in AWS environment properly.

The apiserver container fails to connect to the etcd cluster. We would like to update that "tool".

[2022-02-24 16:46] neolit123 commented on #106589
ok, forgot the apiserver has the same client too (duh).
instead of 3.5.1 i think we should get the latest 3.5.x and backport it to the supported k8s version.
is this all about https://github.com/etcd-io/etcd/issues/13196 or are there other etcd client bugs in question here?

cc @kubernetes/sig-api-machinery-bugs

[2022-02-24 16:49] akunszt commented on #106589
@neolit We suffer from the https://github.com/etcd-io/etcd/issues/13192 issue. I think those two had the same root cause though. (I'm not an etcd developer, so that's just my hunch.)

[2022-02-24 16:54] neolit123 commented on #106589
@pacoxu @serathius current state of the pending changes is a bit messy here.
i personally think we should drop the 3.5.1 PRs and backport PRs and wait for 3.5.3.
...but given there are a number of users here than want to upgrade ASAP, we can upgrade client/server to 3.5.2 first.

i don't like upgrading only client separately from server. i think we should keep them in sync.

[2022-02-24 17:03] marianafranco commented on #104583
/remove-lifecycle rotten

[2022-02-24 17:06] neolit123 commented on #106589
looks like the 3.5.1 client bump is blocked here:
https://github.com/kubernetes/kubernetes/pull/106591#pullrequestreview-812844441
due to https://github.com/etcd-io/etcd/issues/13707

but from discussion on this 3.5.2 server PR, people already want a 3.5.2:
https://github.com/kubernetes/kubernetes/pull/107917

[2022-02-24 17:13] akunszt commented on #106589
@neolit123 Honestly, anything above 3.5.0 would make me smile. So 3.5.2 is even better.

[2022-02-24 17:28] #96971 closed

[2022-02-24 17:38] rphillips commented on #100241
I created a 1.21 backport linked to this issue: https://github.com/kubernetes/kubernetes/pull/108335

[2022-02-24 17:41] logicalhan commented on #108330
/triage accepted

[2022-02-24 17:41] logicalhan commented on #108330
/assign @logicalhan

[2022-02-24 17:42] fedebongio commented on #108311
/triage accepted

[2022-02-24 17:44] fedebongio commented on #108208
/assign @apelisse @jpbetz
could either of you take a look / reassign please?
/triage accepted

[2022-02-24 17:44] fedebongio commented on #108302
/assign @wojtek-t
/triage accepted

[2022-02-24 17:45] fedebongio commented on #108318
/cc @lavalamp @deads2k  (we assigned the PR to you both)
/triage accepted

[2022-02-24 17:46] fedebongio commented on #108322
/assign @yliaog
Yu could you take a look please?
/cc @tkashem
  /triage accepted

[2022-02-24 17:48] matthyx commented on #60140
Does it fail every time without the gzip ?

[2022-02-24 17:58] timthelion commented on #60140
Just from @kamil6x's description it shouldn't be "just" a sequence that triggers it, because gzip -1 is just plain "tar" which only adds path, doesn't change file content. So any magic sequences should be retained.

Maybe byte alignment is important. Does just:

[code]
Which removes the first byte from the file do anything?

[2022-02-24 18:03] rphillips commented on #100241
The 1.20 backport https://github.com/kubernetes/kubernetes/pull/108337

[2022-02-24 18:04] timthelion commented on #60140
@bcxpsebastian wrote "I can add that colleagues have no troubles with kubectl cp in similar setups, the only difference being that I'm using OpenVPN while they are on premise."

May I hypothesize, that the problem is that there is a poisonous sequence of bytes that causes problems either at the beginning or end of a package and that the MTU on OpenVPN is several times smaller than the MTU on premi

[2022-02-24 18:26] helayoty commented on #103499
@enj would you please link the PR that solves this issue and update the status?

[2022-02-24 18:28] #104976 closed

[2022-02-24 18:50] helayoty commented on #105023
Hi @ehashman, this is a bug triage shadow for release v1.24, are we still targeting the current release for this issue?

[2022-02-24 21:01] lstellway commented on #39792
@figroc
I was half-expecting the same ability to be available in Kubernetes _(equivalent to [Docker network aliases](https://docs.docker.com/compose/compose-file/compose-file-v3/#aliases))_. It would be GREAT to have this functionality built-in without needing to find a work-around.

I was able to accomplish what I wanted via a [`hostAliases` configuration](https://kubernetes.io/docs/tasks/network

[2022-02-24 21:07] aojea commented on #108272
@wojtek-t I can see that the metrics have a label per flowschema and priority, how many values do you have in that environment?

[2022-02-24 22:14] tkashem commented on #108302
@wojtek-t  another potential issue: the timeout context is derived after the first throttle, i don't know if there are any historical contexts to it https://github.com/kubernetes/kubernetes/pull/87599/files.
in my opinion, the context deadline should include the rate limiter wait before the first try, this reflects the user's experience accurately; otherwise, it's not technically bound to the cont

[2022-02-24 22:35] enj commented on #103499
There is none yet.  Waiting on GKE folks.

[2022-02-24 22:46] #108240 closed

[2022-02-24 22:57] ahrtr commented on #106589
I have already submit a PR [etcd/pull/13737](https://github.com/etcd-io/etcd/pull/13737) for [etcd/issues/13707](https://github.com/etcd-io/etcd/issues/13707). cc @serathius @ptabor

[2022-02-24 23:06] gjkim42 commented on #100241
I think we can close this, as all relevant prs have been merged.

/close

[2022-02-24 23:07] #100241 closed

[2022-02-24 23:25] liggitt commented on #106884
@smarterclayton am I understanding correctly that the kubelet records a pod is terminal in the API _before_ it considers the resources to be free and available for other pods, and then rejects those other pods in admission because it has insufficient resources?

[2022-02-24 23:52] smarterclayton commented on #106884
To the first part, the kubelet has always done that.  The second part is that the kubelet rejects new pods when there are still pods in non-terminal state.  If we have evidence that new pods are being rejected for terminal pods that the kubelet has informed the apiserver are terminal, that would indeed be a bug (and possibly one made possible by refactors, or simply exposed because we’re more stri

[2022-02-25 00:09] smarterclayton commented on #106884
https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-999390465

identifies the problem correctly:

IsPodTerminationRequested is too broad - we need a boolean check that is the intersection of that state and “isn’t terminating” - ie only the window between terminating and when containers exit.

Sorry for not catching that comment earlier, https://github.com/kubernetes/kubernetes/issu

[2022-02-25 00:11] smarterclayton commented on #106884
Note the change has to be done with the pod worker lock which means we need a new method IsPodTerminationRequestedAndNotTerminal - i’ll put something up in the morning

[2022-02-25 00:16] smarterclayton commented on #106884
The e2e that would prevent this regression should be fairly easy to write:

1. create a pod that will have a fairly lengthy termination period due to volume tear down and runs for one second before exiting with code 0, and would constrain the node (perhaps due to a unique resource or simply cpu)
2. create a second pod immediately after the first scheduled that should succeed once the first pod is

[2022-02-25 00:33] smarterclayton commented on #106884
Second note (from bobby in slack) - this only fixes core kubelet resources that don’t require uniqueness (cpu, pods) - resources that are allocated in admission are still broken, if they need a post termination allocation to run.  CPU and device i think check the current state on allocation, but it would be easy to get that wrong and needs to be checked.

[2022-02-25 00:49] tejohnso commented on #62099
The [documentation](https://v1-20.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#volumemount-v1-core) indicates

[2022-02-25 00:50] bobbypage commented on #106884
I was able to repro this pretty consistently.

Here is a sample workload:

[code]

(I used one CPU per container, the kind node is running on my workstation which has 12 CPUs)

I created a kind 1.22 cluster with a single node (here is the config: https://gist.github.com/7f13aac0821cee1835f784ae521ce35d)

[code]

Here is status of some of the pods after creating the job:

[code]

[2022-02-25 00:53] smarterclayton commented on #106884
Do you think you could create a node e2e we can integrate into the fix?

[2022-02-25 01:10] YuxinZhou opened #108344 "Watcher doesn't receive expected event nor `EOF` for resources defined by aggregation sometimes"
### What happened?

We set up [reflectors](https://github.com/kubernetes/client-go/blob/master/tools/cache/reflector.go#L254) to reflect the change of k8s resources but they don't work properly for resources defined by aggregation API. After adding some debugging logs,  I think the issue is narrowed down to the watcher -

- The client starts the watch via long polling. It initiates  a GET request

[2022-02-25 01:12] bobbypage commented on #106884
Yup, I'll work on creating a node e2e for this.

[2022-02-25 01:24] SergeyKanzhelev commented on #104595
not sure why this was reopened as documentation update is merged.

/close

[2022-02-25 01:24] #104595 closed

[2022-02-25 01:27] SergeyKanzhelev commented on #105680
May be related: https://github.com/kubernetes/kubernetes/issues/108247#issuecomment-1049628864

[2022-02-25 01:46] suzaku commented on #77081
I've been googling around and I can only see answers that tell me to remove the finalizer to make the resource deleted.

But there's no explanation for the reason. Any pointers?

[2022-02-25 02:03] andyzhangx commented on #95547
now the following mountPath behavior changed from docker to containerd on Windows:
[code]

- docker on Windows

mount as a D drive

- containerd on Windows

mount as `c:\D\` folder

question is how can I mount as a new drive with containerd on Windows? is this a regression?

[2022-02-25 02:04] kerthcet commented on #108083
Hi @miamipanther , have you made any progress? If not, I'd like to take a look.

[2022-02-25 02:27] jpbetz opened #108346 "Move CEL openapi integration code out of third_party/forked/celopenapi/model/registry.go"
We've made enough changes to the code in staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model, that it's not really helpful to think of it as forked code.

More practically, having [gofmt disabled](https://github.com/kubernetes/kubernetes/blob/3213a92802b91ed718578f51b14916105fb0c3da/hack/verify-gofmt.sh#L44) make it inconvenient.

I'd like to move it out of third_party a

[2022-02-25 05:10] wenwu449 commented on #106884
Looking at "phase" definition at https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#PodStatus

_Succeeded: All containers in the pod have terminated in success, and will not be restarted. Failed: All containers in the pod have terminated, and at least one container has terminated in failure. The container either exited with non-zero status or was terminated by the syste

[2022-02-25 05:21] Kartik494 commented on #104945
@celiawa is this issue persist with k82 1.21 release only? is it throwing same error in 1.22 or earlier release also?

[2022-02-25 05:25] MadhavJivrajani commented on #108346
/sig api-machinery
/area code-organization

[2022-02-25 05:28] MadhavJivrajani commented on #108344
/sig api-machinery

[2022-02-25 05:37] dims commented on #107726
@liggitt yep, @SubhasmitaSw is trying to get some documentation out... last check it was possibly a blog

[2022-02-25 06:35] #108168 closed

[2022-02-25 07:00] adisky opened #108348 "[Failing test] kubelet-gce-e2e-lock-contention"
### Which jobs are failing?

kubelet-gce-e2e-lock-contention

### Which tests are failing?

![image](https://user-images.githubusercontent.com/7712693/155668777-0fc06bec-f9bf-4a84-b4e5-8f9b9c2bc00f.png)

### Since when has it been failing?

8/12/2021

### Testgrid link

https://testgrid.k8s.io/sig-node-kubelet#kubelet-gce-e2e-lock-contention

### Reason for failure (if possible)

It appears that k

[2022-02-25 07:01] smarterclayton commented on #106884
Given that kubelet shouldn’t be rejecting pods based on resources that are lazily cleaned up (which should reconcile), succeeded and failed should be sufficient.

[2022-02-25 07:09] wojtek-t commented on #108272
8 PLs, 13 FSs
These are their definitions (you need to sum mandatory and suggested ones):
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/apis/flowcontrol/bootstrap/default.go#L33

However, since FS is assigned to a given PL, the number of valid pairs is actually number of FSs (so 13).

[2022-02-25 07:16] wojtek-t commented on #108302
Agree with the above

[2022-02-25 07:33] #104961 closed

[2022-02-25 08:12] aojea commented on #108272
ok, a more realistic reproducer:

1. Create a kind cluster: `kind create cluster`
2. Send periodic requests in parallel: `while true; do kubectl get pods; sleep 1; done`
3. Gather a cpu profile from the apiserver `kubectl get --raw http://localhost:6060/debug/pprof/profile?seconds=30 > profile.out`
4. I can see 1608 metrics related to flowcontrol, is that number expected?

[code]

The profile show

[2022-02-25 08:27] RottenLeaf24 commented on #108247
| provider  | version | runtime | Does SYS_ADMIN take effect? |
| ------------- | ------------- | ------------- | ------------- |
| custom  | v1.21.2  | containerd://1.4.6  | False  |
| GCP | 1.20.12-gke.1500  | docker://20.10.3  | False  |
| aliyun | v1.16.9-aliyun.1  | docker://19.3.5  | True  |

[2022-02-25 08:39] SubhasmitaSw commented on #107726
@liggitt Yes, the draft is almost ready waiting for the final approvement and then it should be live soon.

[2022-02-25 09:16] aojea commented on #108344
this runs in another pod inside the cluster? I mean, if we draw the connection path this is something like?

[client] ---> [apiserver] ----> (cluster network) --> [aggregated apiserver]

[2022-02-25 09:18] RottenLeaf24 commented on #108247
Thanks for your answer, it is indeed caused by AppArmor

[2022-02-25 09:32] tossmilestone commented on #108297
The finalizer is used to terminate the cronjob gracefully, and it will be removed if the jobs are completed. I think the issue is not a bug but by design.

[2022-02-25 09:59] wojtek-t commented on #108272
There are gazillion of metrics:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go

But if I'm counting correctly, ~25 of them, multiplying by 13 flow-schemas, I would rather expect <500 streams...
Can you maybe drop some gist here so that not everyone has to reproduce it?

[2022-02-25 10:05] wojtek-t commented on #108272
Actually no - multiple of those are histograms, so that multiples the number of metrics. So this 1608 actually might make sense actually.

[2022-02-25 10:07] aojea commented on #108272
https://gist.github.com/aojea/b605521838658e591f04cab9a2daf85d

[2022-02-25 10:08] bobbypage commented on #106884
I realized that my repro in https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-1050408180 was against v1.22.0 (so I think it was exhibiting issue in https://github.com/kubernetes/kubernetes/pull/104577 rather then the current issue.

However, I was still able to repro it on v1.22.5, though it's slightly more challenging to repro. I created an E2E here - https://github.com/kubernet

[2022-02-25 10:16] aojea commented on #106884
@bobbypage I'm publishing kind images with nightlies in https://quay.io/repository/aojea/kindnode?tab=tags , the tag is the kubernetes commit, if you want to check if it happens in master
[code]

The 1.23.3 images are already present too https://hub.docker.com/r/kindest/node/tags, you better use kind@main

[2022-02-25 10:18] leonardpahlke commented on #107530
The job still fails, in 4 of the last 5 runs.

[2022-02-25 10:23] dgrisonnet commented on #108272
I was looking at similar data as the one Antonio shared and I couldn't get SetCurrentR to show up in the flame graph. Is there anything special with your setup @wojtek-t, that might make a difference here?

[2022-02-25 10:27] thanhlong9x opened #108353 "Node error cni plugin not initialized when re-join node in cluster"
### What happened?

When I re-join nodes in cluster, nodes stuck in NotReady. I show descriced node and see that "cni plugin not initialized"
![Capture](https://user-images.githubusercontent.com/29721257/155695671-be69b2a1-81cd-44b2-a410-0ffbc8e9a72f.PNG)

But this just happen when I use runtime being containerd, and I need to restart containerd to solver. I think that my containerd lack config. A

[2022-02-25 10:27] bobbypage commented on #106884
Thanks @aojea, I can confirm it also happens on master@e14ace92871 with `quay.io/aojea/kindnode:e14ace92871` and kind@main.

[code]

[Here](https://gist.github.com/86633b3214955cd6655209e81b57c3d0) are logs from `kind-worker2` on this run.

[2022-02-25 11:33] lxtywypc opened #108354 "HPA calculated periodStartRelicas maybe unexpected when scaling direction changed frequently during periodSecond"
### What happened?

We created an hpa as following:
[code]
Then started a deployment with 4 replicas and made the CPU utilization about 10%, which proposed to double the replicas, and it did work:
[code]
Then we changed the CPU utilization to about 1%, which would trigger scaling down and would kill 2 pods only for scaleDown behavior:
[code]
Then changed the CPU utilization to about 20%, which wou

[2022-02-25 14:21] sanposhiho commented on #100723
@Huang-Wei

We need to make sure that the dependencies of both plugin and kube-scheduler match perfectly, which I find to be a very difficult limitation. If we want to do this in a way other than asking users to use the image to compile, we need to do the following:
- tell users what the compiler version we used to compile kube-scheduler is. (Users need to compile plugin with the same Go version)

[2022-02-25 14:30] Ansudeen commented on #94892
Hi, is this feature available now ?

[2022-02-25 14:35] wojtek-t commented on #108272
Nothing that I'm aware and comes to my mind - it should be a typical profile.

[2022-02-25 15:28] aojea opened #108355 "Logging statement with missing parameter"
https://github.com/kubernetes/kubernetes/blob/5bafc8306a7b622e292746aec8a9e9212b755071/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning.go#L225

[2022-02-25 15:29] aojea commented on #108355
/help wanted

[2022-02-25 15:30] aojea commented on #108355
/good-first-issue

[2022-02-25 15:38] neolit123 commented on #108353
/sig node
in case this is a known issue with containerd.

[2022-02-25 15:41] alecgarza96 commented on #102545
/unassign

[2022-02-25 15:51] uroy-personal commented on #108355
/assign

[2022-02-25 15:54] uroy-personal commented on #108355
Hi @aojea ,
I am new to making contributions in Kubernetes ecosystem. I am happy to start working on this issue.  I will reach out to you if I need any clarifications.

Best Regards,
Umesh

[2022-02-25 16:18] neolit123 commented on #108354
/sig autoscaling

[2022-02-25 16:23] johnjelinek commented on #52345
bump

[2022-02-25 16:28] jsafrane commented on #106677
/remove-lifecycle stale

[2022-02-25 16:29] jsafrane commented on #106677
@andyzhangx running k/k tests is really a prerequisite for CSI migration GA, it covers Kubernetes features pretty well and we already caught couple of issues there.

[2022-02-25 16:35] jsafrane commented on #106677
Last example: https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1600
(vSphere does not have a public CI, but at least I can run the tests manually)

[2022-02-25 16:53] smarterclayton commented on #106884
If anyone can reproduce this locally in parallel (I'm still testing some other stuff) can you do it with https://github.com/kubernetes/kubernetes/pull/108356 and see what that log line captures when the out of cpu is caught?  Want to see what pods are in the queue and their phases.

[2022-02-25 17:17] smarterclayton commented on #106884
I am 99% sure https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-1050729680 does not include force deletions (i don't see the log line  `klog.V(4).InfoS("Gracefully deleting pods from source", "source", source, "pods", klog.KObjs(update.Pods))` showing up)

[2022-02-25 17:28] smarterclayton commented on #106884
Reproduced with my extra debug:

[code]
@ 12:02:11.759811

32 pods (1 default in local cluster).  The succeeded pod:

[code]

[2022-02-25 17:29] bobbypage commented on #106884
Rerun again with https://github.com/kubernetes/kubernetes/pull/108356 against master

[code]

kind-worker logs - https://gist.github.com/2f019b52f17eb133b50802fb469fd603

[2022-02-25 17:37] mfriedenhagen commented on #48912
Just to come with a IMO valid usecase which would easily break with `noexec`: we always `runAsUser` different than `root` and `readOnlyRootFilesystem`. And we use single-file option for pyinstaller. pyinstaller creates standalone executables for Python programs which contain a stripped down Python environment. The produced binary unpacks the Python environment to /tmp by default.

[2022-02-25 17:43] #105328 closed

[2022-02-25 17:48] smarterclayton commented on #106884
The bug is the previously theorized (last night, after the first theory didn't pan out) "pods that exit early cleanly are updating terminal phase in apiserver too soon, instead of doing it after terminating".

We shouldn't set the phase until we are 100% certain that no future containers can be started, and that all containers are stopped.  I think the current code can do the first part (we're in

[2022-02-25 17:53] jpbetz commented on #108346
/triage accepted
/sig api-machinery

[2022-02-25 18:11] shioshiota commented on #106884
@smarterclayton
I reproduced with https://github.com/kubernetes/kubernetes/pull/108356
https://gist.github.com/shioshiota/27ced280497e5c9c078cf33e802db82b
@endocrimes
And attached scheduler log. I'm sorry to reply too late.

[2022-02-25 18:23] YuxinZhou commented on #108344
@aojea Thank you for taking a look. Yes, that is right. And the pod behind the aggregated apiserver is healthy and never gets re-started.

[2022-02-25 18:47] aojea commented on #108344
^^^^

in my experience, most of the times I see these symptoms the problem is in the network :shrug: , kubernetes by default uses http2 with IdleTimeout to refresh the connection and detect stale connections, verify if you are using http2 and try to "cut" the connection (an iptables DROP should be enough, not REJECT it has to silently drop without the endpoints noticing) to see if your components

[2022-02-25 18:51] smarterclayton commented on #106884
The most straightforward fix (read: most likely not to dramatically regress anything other than maybe some shutdown latency) is probably:

That adds latency, but not that unmanageable.  We probably want to exit syncPod early if we detect the pod is now in a terminal phase too.

I really don't know what to do with eviction - with the proposed fix above, if the kubelet restarts after starting evicti

[2022-02-25 18:55] alculquicondor commented on #106884
+1 on explicit Eviction condition (post hotfix)

[2022-02-25 19:56] YuxinZhou commented on #108344
@aojea Thank you a lot for your suggestions! I'll perform the experiment you suggested.

Still I am a little confused - I don't know enough about apiserver / cluster network so please forgive my naive questions -

1. Let's assume there is a connection blip between [apiserver] and  [aggregated apiserver].  From the symptoms,  the network between [client] and [apiserver]  stills works fine because o

[2022-02-25 20:02] rtheis commented on #103675
I'm sorry, I misunderstood that the `system:aggregate-to-edit` change can be undo before upgrade to 1.22 by running `kubectl annotate --overwrite clusterrole/system:aggregate-to-edit rbac.authorization.kubernetes.io/autoupdate=true`.  This should give users the secure behavior and the 1.22 additions.

[2022-02-25 20:13] justaugustus opened #108357 "[RELEASE BLOCKER][1.24] Golang 1.18 issues"
Upstream/downstream tracking issues:

- [ ] Release engineering tracking for go1.18: https://github.com/kubernetes/release/issues/2307
- [ ] ...
- [ ] ...
- [ ] ...

cc: @kubernetes/release-engineering @kubernetes/release-team @dims @liggitt

---

From https://github.com/kubernetes/kubernetes/pull/107105#issuecomment-1049557807:

[2022-02-25 20:20] ytsarev commented on #97397
I encountered exactly the same situation.

CRD

[code]

CR:

[code]
Attempt to `get` or `delete`  fails
[code]

[2022-02-25 20:43] #105265 closed

[2022-02-25 20:50] smarterclayton commented on #106884
Correctly delaying updates that set a terminal phase from reaching the apiserver is challenging to implement safely without impacting other status updates.  Going to need some time to think about how to work a change in that doesn't risk regressing in another subtle way.

[2022-02-25 21:27] yliaog commented on #108322
what is the use case for knowing if the queue is shutting down when calling Add()? i think likely there was no use case when Add() was initially written.

[2022-02-25 22:16] pohly opened #108358 "hack/update-generated-protobuf.sh: no longer creates and/or updates generated.pb.go"
### What happened?

I am trying to add a new API group and want to generate the `generated.pb.go` file for it with `hack/update-generated-protobuf.sh`. That fails in two ways:
- syncing out the result fails when the file does not exist yet
- if I create an empty Go file (just with `package` statement), that file doesn't get updated

### What did you expect to happen?

The `generated.pb.go` file sh

[2022-02-25 22:18] pohly commented on #108358
/sig api-machinery

[2022-02-25 22:43] #105014 closed

[2022-02-25 23:51] ericrdgz commented on #57291
We too are in dire need of this. We are using Kubernetes to run our Azure DevOps agents and use a setting which exits the process with status code of 0 so that you get a guaranteed fresh container for builds and deploys. However this quick causes problems since Kubernetes will put these pods into crashloopbackoff status. we need this to be configurable!

[2022-02-25 23:54] ericrdgz commented on #101933
We have the same issue and need while running DevOps deploy and build agents in k8s

[2022-02-26 00:08] JoelTrain commented on #63959
my elastic eip ids cannot be found at service creation, so it just sits in pending forever.

if I resort to listing the subnets on their own annotation, (not using subnet discovery) same thing.

no matter what I do it seems to not find me elastic ip addresses.

Are you sure nlb type is supported to work with Elastic IPs?

From the AWS docs it seem they are pretty heavily trying to discourage use o

[2022-02-26 06:01] pre commented on #63959
Note: you will need to use the NEWER aws-lb-controller and install it on your own for elastic ip support. The kubernetes in-tree load balancer controller does not support aws elastic ips.

See available `service` annotations: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/annotations/

If you have done that:
what do your aws-lb-controller logs tell you?

I guess

[2022-02-26 09:23] andyzhangx commented on #106677
@jsafrane actually there are already k/k e2e tests testing against azure file csi driver: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/test/external-e2e/run.sh#L27-L38, so it could be we change the provisioner to in-tree driver, those tests should test against csi migration also.

[2022-02-26 09:24] liyimeng opened #108364 "cgroupv2 and kubelet seem not playing well together on non systemd OS"
### What happened?

I deploy a k3s on a pure cgroupv2 system that is not using systemd. kubelet seem get no access to cgroup as expected. More background see https://github.com/k3s-io/k3s/issues/5133

### What did you expect to happen?

kubelet should support cgroupv2 without systemd.  There are still systems preper non running systemd

### How can we reproduce it (as minimally and precisely as po

[2022-02-26 09:28] liyimeng commented on #108364
/sig k8s-infra
/sig node
/wg iot-edge

[2022-02-26 14:48] jlsong01 commented on #107053
/unassign

[2022-02-26 16:00] liggitt commented on #108358
https://github.com/kubernetes/kubernetes/pull/106630 is the only change I know of recently to this

[2022-02-26 16:30] aojea commented on #108344
If you can reproduce it, check the socket status corresponding to the connection in each of the points with `ss -apno`

[client] ---> [apiserver] ----> (cluster network) --> [aggregated apiserver]

[2022-02-26 16:55] pohly commented on #108358
According to `git bisect`, that is indeed where it broke.

[2022-02-26 16:57] liggitt commented on #108358
yeah, spelunking now

[2022-02-26 19:17] #108358 closed

[2022-02-27 03:18] charan1998 commented on #104432
Hello @i-am-yuvi. I was working on it but not able to continue it due to some personal reasons. You can take over if you would like to. You can refer this PR #107814 if you want to.

[2022-02-27 03:26] i-am-yuvi commented on #104432
Yes sure!

[2022-02-27 04:31] thockin commented on #107625
I guess I am asking why not check in pkg/generated/openapi/zz_generated.openapi.go

[2022-02-27 04:33] liggitt commented on #107625
oh, I'd be in favor of that :)

[2022-02-27 06:11] TBBle commented on #95547
That does seem like a regression or bug. [The mount path is supposed to be absolute](https://github.com/kubernetes/kubernetes/pull/48815), so I feel like containerd has probably done the wrong thing here.

If it really wanted to mount everything under `C:\` (i.e. treating that as the root of system), then it should have either mounted at `C:\D:\` (and almost certainly barfed due to invalid filenam

[2022-02-27 07:04] uablrek commented on #108319
/area ipvs
/area kube-proxy

[2022-02-27 07:06] uablrek commented on #108319
Seems like a legit bug to me. I can't triage until wednesday though.

[2022-02-27 07:08] febytanzil commented on #60140
reporting same problem here, macOS monterey m1 kubectl v1.23.2

both using openvpn and without vpn
trying to cp sql file with ~200MB size, always failed at the end.
had to set --retries to non-zero to workaround this like above suggestion

without --retries
[code]
with --retries=50
[code]

[2022-02-27 08:32] kevpar commented on #95547
This is tracked via containerd/containerd#6589.

[2022-02-27 13:07] faust64 opened #108372 "Delete object cascade=orphan"
### What happened?

Running Kubernetes 1.21.6
According to the docs, I should be able to delete a Deployment while preserving its pods, with some `kubectl delete --cascade=orphan`

https://kubernetes.io/docs/tasks/administer-cluster/use-cascading-deletion/#set-orphan-deletion-policy

This used to work with previous k8s version, but today, running 1.26.1, it does not.

Adding debugs to kubectl whil

[2022-02-27 13:10] faust64 commented on #108372
/sig api-machinery

[2022-02-27 13:51] ErickStaal opened #108373 "Controller-Manager garbagecollector.go objects don´t have an owner written 100000+ times in logfile per day"
### What happened?

In the controller-manager log there are lots and lots of entries written containing the text:

garbagecollector.go:507] object [v1/Namespace, namespace: , name: knative-serving, uid: 6611472c-8af0-430b-abcd-3556be6b53ea]'s doesn't have an owner, continue on next item

These entries are also present for other seemingly random objects in other namespaces. But these entries only o

[2022-02-27 14:02] ErickStaal commented on #108373
/wg structured-logging

[2022-02-27 14:02] ErickStaal commented on #108373
I would like logging here which is a bit more informative about what is going wrong.

[2022-02-27 14:14] dims commented on #107625
downstream users very often end up realizing that we warn folks not to use k8s.io/kubernetes ( https://github.com/kubernetes/kubernetes#to-start-using-k8s ) because they go looking for why this file is not checked in. This paper cut makes people realize that they are doing something that we don't want them to do.

(not arguing for or against, just stating where this was effective before)

[2022-02-27 14:42] liggitt commented on #107625
I think the v0.0.0 local replace directives in go.mod accomplish similar things w.r.t. making people go digging about friction using k/k as a library

[2022-02-27 16:55] adyanth opened #108374 "NFS subPath mount fails"
### What happened?

Attempting to mount a subpath of an existing NFS share fails with the error:
Error: failed to prepare subPath for volumeMount "data" of container "pod"

### What did you expect to happen?

I expect the mount to work

### How can we reproduce it (as minimally and precisely as possible)?

[code]

[code]

### Anything else we need to know?

Removing the subPath works fine. The sub

[2022-02-27 16:55] adyanth commented on #108374
/sig storage

[2022-02-27 17:03] #105326 closed

[2022-02-27 19:03] #46469 closed

[2022-02-27 22:03] #105262 closed

[2022-02-27 23:03] #105224 closed

[2022-02-27 23:20] yelhouti opened #108380 "kube-controller-manager able to acquire lease even when lock retrieval fails"
### What happened?

my etcd cluster got surcharged and become slow to answer, this in turn made the kube-controller-manager crash because it lost the election.

This shouldn't be a problem in theory as everything should be able to restart.

But when the controller-manager tries to restart it fails to retrieve the lock but proceeds to acquire the lease:
[code]
Then starts working the cluster adding

[2022-02-27 23:55] shuaichang commented on #57356
Hi @Random-Liu, we are facing something similiar regarding `Note that only mountpoint is not sufficient for device mapper. IIUC, device mapper still needs pool name to work.`.

It seems to me with device mapper snapshotter, containerd-cri ImageFsInfo will only return filesystem info for `c.imageFSPath` which in our case is `/var/lib/containerd/io.containerd.snapshotter.v1.devmapper/`. This is the

[2022-02-28 00:01] yelhouti commented on #108380
/wg reliability

[2022-02-28 02:24] maaoBit commented on #108181
Hi @xrmzju , does `--extended-resources` flag solve your problem?  Details can be found in this [patch](https://github.com/kubernetes/kubernetes/pull/100267).

[2022-02-28 03:04] #105390 closed

[2022-02-28 03:19] h4ghhh opened #108384 "Add a new --pod-logs-directory flag to Kubelet"
### What would you like to be added?

Add a new --pod-logs-directory flag to Kubelet.
Provide users with ability to set `podLogsRootDirectory`.

### Why is this needed?

The root directory for pod logs is `/var/log/pods` as default, and doesn't support modification.
Sometimes we want container logs to be output to a specified place according to the disk usage plan.

Actually, docker outputs contai

[2022-02-28 03:20] h4ghhh commented on #108384
/sig node

[2022-02-28 05:36] MadhavJivrajani commented on #108380
/sig api-machinery

[2022-02-28 05:54] MadhavJivrajani commented on #108372
@faust64 I'm unable to reproduce this -
Version:
[code]
Sample deployment:
[code]
Delete:
[code]
Get pods:
[code]
[code]
Get replicasets:
[code]
[code]
Any more info that you can provide?

[2022-02-28 06:06] #98898 closed

[2022-02-28 06:23] pacoxu commented on #108323
/kind documentation
/remove-kind bug
/transfer-issue website

[2022-02-28 06:43] robscott commented on #107927
@aojea I think we likely still need some work on this, though I don't think it's urgent. Will leave it open for now.

/assign

[2022-02-28 06:59] kkkkun commented on #108380
When renew leader timeout,  kube-controller-manager and kube-scheduler  will crash.

[2022-02-28 07:06] aojea commented on #107927
/unassign
Sounds good, all yours :)

[2022-02-28 07:09] kkkkun commented on #108373
You should get the pods, and notice field `ownerReferences`.
If pods started by apps, it should set the app to this field and should not empty.
If pods started by  operator or other controller, the pods `ownerRefereces`  should be  empty and recycle by user's operator or other controller.

[2022-02-28 07:36] wojtek-t commented on #108357
@kubernetes/sig-scalability @mborsz @tosi3k

Just to copy the current hypothesis from our discussion with golang folks

[code]

This is under further investigation.

[2022-02-28 08:08] leonardpahlke commented on #106694
/close

[2022-02-28 08:09] #106694 closed

[2022-02-28 08:50] jsafrane commented on #106677
Check how Azure Disk in-tree volume tests are set up in https://github.com/kubernetes/kubernetes/blob/5b1e5387591dd3ad0b3ddacc9e44a6ac7260078e/test/e2e/storage/drivers/in_tree.go#L1541. The hardest part is `CreateVolume()`, that allows for testing in-line and pre-provisioned volumes and at the same time it needs to talk to the cloud outside of Kubernetes.

[2022-02-28 09:01] khushboo121 commented on #65500
we have a similar problem with only one pod with the 1.20 version also.

[2022-02-28 09:11] mangoGoForward commented on #99828
Hi, @XudongLiuHarold , I am a first commitor for kubernetes and I have committed a PR in #108150, could you help me to review it, or give me some suggestions. Thanks a lot.

[2022-02-28 09:49] MurzNN opened #108387 "Provide shortened aliases for common kubectl commands like switching namespace"
### What would you like to be added?

I suggest to add shortened aliases for most used commands in `kubectl` tool like this:
- switch namespace:
[code]
- query in all namespaces:
[code]
- display wide information:
[code]
- configure access to new cluster as single command:
[code]
_Last command alias looks not such short, but it's much easier to execute a single command, instead of three ones!_

Th

[2022-02-28 09:51] MurzNN commented on #108387
/sig cli

[2022-02-28 09:55] ErickStaal commented on #108373
Yes, fully agree, however two questions come to mind:
1) The object which generates many entries in the logfile is a namespace object. (the object ID in the logentry in the first post above belongs to the namespace object knative-serving)
2) when running _kubectl-check-ownerreferences_, I get "No invalid ownerReferences found".
3) when running _kubectl get events -A --field-selector=reason=OwnerRe

[2022-02-28 10:45] aojea opened #108388 "Admission plugins don't exit gracefully"
### What happened?

Found during the investigation of the goroutine leaks on the test integration framework that the resource quota controller doesn't exit

[code]

it seems that the registered plugins doesn't have a way to signal them to stop

https://github.com/kubernetes/kubernetes/blob/5b1e5387591dd3ad0b3ddacc9e44a6ac7260078e/staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/admi

[2022-02-28 10:45] aojea commented on #108388
/sig api-machinery
/cc @sttts @p0lyn0mial @tkashem @deads2k

[2022-02-28 10:53] Erokos commented on #89898
Hi yesterday I recreated my self-hosted kubernetes clusters (they're deployed on EC2 intances) with the latest versions of kubernetes, 1.23.4, using kubeadm and containerd. After deploying our app on both clusters and experiencing load spikes on the "prod" cluster, my app pods kept restarting with the ` Liveness probe failed: Get <some IP path> error: context deadline exceeded (Client.Timeout exce

[2022-02-28 10:59] akloss-cibo commented on #86064
👍  we haven't observed this problem in quite some time.

[2022-02-28 11:56] hubertnnn commented on #108297
No, because neither of them can be completed any more, since both the cron job and the pods were killed.

[2022-02-28 12:25] ldsdsy commented on #108384
/assign

[2022-02-28 12:36] endocrimes commented on #108364
/remove-sig k8s-infra

[2022-02-28 13:48] endocrimes commented on #107803
`[NodeAlphaFeature]` only applies to two tests, that do get ran here, so the conformance failure is potentially valid.

alpha jobs for containerd and crio are surprisingly different though.

For crio they only run NodeAlphaFeature tests.

containerd-alpha-features enables a handful of features explicitly in the tests, some of which are now beta (https://github.com/kubernetes/test-infra/blob/master

[2022-02-28 13:52] endocrimes commented on #107597
/triage accepted

A docs improvement for the config file would be great.

[2022-02-28 14:06] endocrimes commented on #107197
/close

Looks like the initial problem was resolved here. Closing this out.

[2022-02-28 14:06] #107197 closed

[2022-02-28 14:07] endocrimes commented on #107190
/triage accepted

[2022-02-28 14:20] endocrimes commented on #107024
It looks like this is support rather than a feature request as hooks are called and some misunderstandings around how grace periods work occurred. (a follow up issue to improve docs there might be a good idea)

/remove-kind feature
/kind support
/close

[2022-02-28 14:20] #107024 closed

[2022-02-28 14:29] endocrimes commented on #106119
/remove lifecycle state
/lifecycle frozen

[2022-02-28 14:32] yelhouti commented on #108380
@kkkkun but how is it able to to get the lease the first time if the request fails ?

[2022-02-28 14:35] Airblader commented on #95460
I apologize for pinging this again, but the PR seems to have gone stale with all feedback addressed, so I was wondering if there's something I'm missing, or any way to help progress this further. Since this causes an infinite reconciliation loop it renders SSA essentially useless to us.

[2022-02-28 15:12] FearlessHyena commented on #69696
Autoscale being blocked by GKE's own pods is a bit absurd and hard to justify IMHO. Also it seems like the PDB workaround doesn't work anymore with the new GKE versions
There also doesn't seem to be any traction since this issue was created more than 3 years ago
It seems it was assigned to @leilajal last year (apologise for the direct mention but would be really grateful if a contributor could ple

[2022-02-28 17:02] marosset commented on #104443
/remove-lifecycle stale

[2022-02-28 17:14] enj commented on #106221
/triage accepted
/remove-lifecycle stale

There might be something we can do here with server side dry run to avoid having to encode knowledge of server side defaulting directly into the client code.

[2022-02-28 17:19] enj commented on #106587
Cross linking my comment here: https://github.com/kubernetes/kubernetes/pull/106905#issuecomment-1054481407

[2022-02-28 17:37] faust64 commented on #108372
Indeed ...
I've been trying to reproduce from scratch: it works as expected.

I went through my logs, here's a simplified version of the deployment I was having issues with last week:

[code]

With that one, for some reason, I can reproduce:

[code]

Again:

[code]

And that's wierd ... as I used to see replicasets disappearing as well ... Again!

[code]

I don't get it.
Any clue what's going on?!

[2022-02-28 17:42] enj commented on #106110
@stlaz @s-urbaniak either of y'all care to take a look and see if we can improve anything here?

/remove-lifecycle stale

[2022-02-28 17:53] faust64 commented on #108372
FYI:

[code]

[2022-02-28 18:31] jsturtevant commented on #99170
/remove-lifecycle stale

[2022-02-28 19:01] dims opened #108398 "Metrics for Kubernetes downloads (from gcs buckets)"
Follow up from conversation in slack:
https://kubernetes.slack.com/archives/CJH2GBF7Y/p1646068821664219

Currently we don't have a way to look at or graph statistics for downloads from the production GCS buckets for kubernetes downloads. This would be really useful for tracking usage over time, celebrations, comparison between releases etc.

[2022-02-28 19:03] dims commented on #108398
/sig release

[2022-02-28 21:21] apelisse commented on #108249
Yeah, I don't know how much `retainKeys` is actually supported, cc @mengqiy do you know anything about this?

[2022-02-28 21:25] danfromtitan commented on #62078
Full solution to the problem is [included here](https://github.com/danfromtitan/envars-from-node-labels), the admission controller turns node labels into container env vars for selected container names that are deployed in a specific namespace.

[2022-02-28 21:45] apelisse commented on #108081
/wg api-expression

[2022-02-28 21:45] apelisse commented on #108208
/wg api-expression

[2022-02-28 21:49] neolit123 commented on #97153
/remove-sig cluster-lifecycle
seems kubelet / CR related.

[2022-02-28 22:23] neolit123 commented on #106187
yes, exactly. the explanation https://github.com/kubernetes/kubernetes/issues/106187#issuecomment-994325709 is valid.

we can document that in the kubeadm "create a cluster" guide.
i've logged https://github.com/kubernetes/website/issues/31972

[2022-02-28 22:23] neolit123 commented on #106187
deleting the CP node object is a disruptive operation and you should only do it if you want the node to go away.
the node that you are getting post restart is no longer managed by kubeadm. it is a new node with the same name. with that, it also missing at least one important annotation and other kubeadm managed specifics that may land in the future.

there isn't much we can do about this scenario

[2022-02-28 22:24] #106187 closed

[2022-02-28 22:32] neolit123 commented on #106187
if you'd like to continue deleting the node like that, you have to manually restore the node metadata with a privileged kubeconfig / kubectl call.

so it can look like this:
- fetch metadata from node object
- delete node object
- restart kubelet
- re-apply metadata

but as noted this is unsupported by kubeadm in general.

[2022-02-28 22:50] markus-wa commented on #99955
@bswartz - I think this issue should remain open until the feature gate status is actually set to beta

out of curiosity - do we have an estimated ETA for this?

for some background: currently there is no way to easily clone volumes on GKE as the CSI driver doesn't support it yet, and chances are `AnyVolumeDataSource` moving to beta is more likely to happen sooner than the GKE driver gaining suppo

[2022-03-01 00:07] #104108 closed

[2022-03-01 00:31] Huang-Wei commented on #108288
The doodle pool reveals the most favorable spot is 10:00 AM UTC+8:

<img width="921" alt="image" src="https://user-images.githubusercontent.com/1425903/156081735-35849818-95d2-4ee6-9d18-da4468751577.png">

I'll set the date to the **first Thursday** of every month, and share the invite via sig-scheduling google group.

[2022-03-01 01:17] Riaankl commented on #108285
/open

[2022-03-01 01:17] Riaankl commented on #108285
/re-open

[2022-03-01 01:34] Riaankl commented on #108285
/reopen

[2022-03-01 04:07] miamipanther commented on #108083
@kerthcet I am working on a PR, thanks

[2022-03-01 04:46] yelhouti commented on #108380
well thsi doesn't seem to be the case here, leader election fails the first time but etcd keeps starting up.
It is only after the second failure (almost 4 minutes later) that the node sees that his is not the leader in craches.

[2022-03-01 05:58] MurzNN commented on #108387
Seems this main repo is wrong place for that feature request, so I moved it to [kubectl](https://github.com/kubernetes/kubectl) repo - https://github.com/kubernetes/kubectl/issues/1182

[2022-03-01 05:58] #108387 closed

[2022-03-01 06:07] YesterdayxD commented on #108291
@pacoxu
I read [https://github.com/kubernetes/kubernetes/issues/63126](url) and [https://github.com/kubernetes/kubernetes/pull/94444](url)
I test that pod will be evicted if pod usage exceeds the limit. And in the pods, type df -h command shows /dev/shm size is equal to half of host memory .Is it a right condition?

[2022-03-01 06:44] pacoxu commented on #108291
It is possible because the default behavior is that kubelet uses `du` to check emptyDir size and it is a `soft` limit because it will be evicted once kubelet checked the empty dir size is over the limitation. The default volume stats checking interval is 1m. If there are too many small files in the empty dir, it's possible the du will hang or cost a lot of time and the eviction will happen later.

[2022-03-01 07:04] wojtek-t commented on #108357
We believe we already understand the cause of apiserver`s increased memory usage and this is related to golang GC changes.

Citing the summary from golang folks:

[code]

![image](https://user-images.githubusercontent.com/10743879/156120775-a5e8ead9-9007-4709-81a4-5e7c63253b62.png)

So the next step on our side is to run those kind of experiments just to have full confirmation.
Once done, we need

[2022-03-01 08:01] andyzhangx commented on #106677
@jsafrane thanks, I see there are not a lot of tests, let me try to add azure file tests directly in that folder.
And how can I only run azuredisk tests?
follow command does not work.
[code]