[2019-10-16 01:23] Davidrjx commented on #62504
@krmayankk in my opinion, sandbox changed maybe related to pod infra pause container

[2019-10-16 01:55] goldwinner commented on #83225
same problem for me。could you please share the solution or workaround？thanks a lot

[2019-10-16 02:20] cluries commented on #82889
Hello, I have the same problem, my Corefile like this, which plugin not supported now?  thanks.

[code]

[2019-10-16 02:32] Huang-Wei commented on #83873
@lichuqiang You're right. It's a legacy bug, we used to have a PR #69719 working on this. I'm pinging the author to rebase and we will approve that one.

(Let me know if that PR resolves the symptom you observed here)

[2019-10-16 03:06] njuicsgz commented on #81775
@weizhouBlue  Thanks for your attention.

first, the sysctl conf is same as you wish
[code]

I reproduced your steps, but get different result. I will attach the detailed steps and my env as below. We should work out the root cause of those different results.
[code]

my env
[code]

I guess

[2019-10-16 03:26] mortent commented on #77383
I think this is working as intended. Using different labels is the right way to handle this.

[2019-10-16 03:40] weizhouBlue commented on #81775
hi @njuicsgz
it does differ , thanks for retrying my test
I just test it simply with IPVS on VM , but not on K8S. Maybe , I will try to update  versions of something , and I will post any update if possible

my env
# ipvsadm --version
ipvsadm v1.27 2008/5/15 (compiled with popt and IPVS v1.2.1)
# uname -a
Linux localhost.localdomain 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_64

[2019-10-16 03:49] draveness commented on #83788
cc/ @ahg-g

[2019-10-16 05:08] cofyc commented on #74552
I'll look at this soon.

[2019-10-16 06:02] rajusharma commented on #77383
That means if by accident any cronjob have same labels like deployment, then PodDisruptionBudget for that deployment will not run. Even though there was no change on deployment side, cronjob can break the PDB of deployment. Is this intended 🤔

[2019-10-16 06:05] danielqsj commented on #83937
/assign

[2019-10-16 06:08] whs-dot-hk opened #83984 "Enhance for loops of ViewHistorys"
**What would you like to be added**:
https://github.com/kubernetes/kubernetes/blob/4568c615269860433f914e1dc74b13e66acbe5ef/staging/src/k8s.io/kubectl/pkg/polymorphichelpers/history.go#L118

When revision > 0
we could break out of the for loop
once we got the info

**Why is this needed**:
Finish faster

/sig cli

[2019-10-16 06:10] panpan0000 commented on #81775
@njuicsgz  @weizhouBlue , awesome, gurus !
those two parameters does help a lot on IPVS/NAT mode!

[2019-10-16 06:17] ramineni opened #83985 "hack/local-up-cluster.sh fails if HOSTNAME_OVERRIDE is set"
**Which jobs are failing**:
cloud-provider-openstack jobs

**Which test(s) are failing**:
hack/local-up-cluster.sh itself fails.

**Since when has it been failing**:
Recent change https://github.com/kubernetes/kubernetes/pull/82413 , checks for node ready by doing a grep of KUBELET_HOST. But when HOSTNAME_OVERRIDE is set , its unable to find the ip and exits.

**Testgrid link**:

**Reason for fail

[2019-10-16 06:20] weizhouBlue commented on #81775
hi @njuicsgz
I have found the key
Although the IPVS doc writes that net.ipv4.vs.conn_reuse_mode=0 will effectively  disable expire_nodest_conn , it performs differently with below two case:

1 when setting the RS to weight=0, regardless of the value of net.ipv4.vs.expire_nodest_conn , the problem exists
2 when deleting the RS from the ipvs, set net.ipv4.vs.expire_nodest_conn =1 can solve the issue

[2019-10-16 06:29] njuicsgz commented on #81775
@weizhouBlue

[2019-10-16 06:38] kengan commented on #83767
I have see my system log , I found that when the pod used up the memory, kubelet try to restart the docker, but the docker can not be restarted. The kubelet keep trying and finally the kubelet is down.
I want to know why the restarting cause the kubelet down.? Thank you

[2019-10-16 06:46] zouyee commented on #83985
@kubernetes/sig-cloud-provider-test-failures

[2019-10-16 06:54] okartau commented on #83913
Does it help if I create a PR based on work done in https://github.com/intel/pmem-csi/pull/365 ? There the changes are in vendor/ in order to enable testing in pmem-csi context

[2019-10-16 07:16] OPSTime opened #83990 "'CHANGE-CAUSE' field of the deployment rollout history is '<none>'"
**Version：**

**1、'CHANGE-CAUSE' field of the deployment rollout history is '<none>'**
 **As follows：**

**2、"kubectl top" display error:**

[2019-10-16 07:29] Atharex opened #83991 "Using Cloud Storage classes on a on-prem kubeadm installation"
Guess this is just a documentation question...

https://kubernetes.io/docs/concepts/storage/storage-classes/

Are the cloud storage classes (in my case I'm trying Azure-File) possible to use on-prem or are they only supported when the Virtual Machines fully live in the cloud infrastructure (Azure Cloud)?

[2019-10-16 07:29] Atharex commented on #83991
/sig documentation

[2019-10-16 07:30] Atharex commented on #83991
/sig community/question

[2019-10-16 07:41] yuyulei commented on #83733
PTAL @kow3ns @janetkuo @smarterclayton

[2019-10-16 08:13] zouyee commented on #83990
/sig cli

[2019-10-16 08:19] #78083 closed

[2019-10-16 08:22] pohly commented on #83913
Once your experiment in https://github.com/intel/pmem-csi/pull/365 shows that the changes work please move them into a Kubernetes PR.

[2019-10-16 08:29] aojea commented on #83903
I've found another problem with the ipv6 tests, now that we fixed the kindnet issues, seems that there are a problem with iptables locks in kube-proxy

[code]

[2019-10-16 08:42] namreg commented on #72216
/remove-lifecycle stale

[2019-10-16 09:06] zouyee commented on #83990
add flag  `--record=true`
[code]

[2019-10-16 09:09] zouyee commented on #83991
There is no difference in use.

[2019-10-16 09:21] zouyee commented on #83781
cc @justinsb

[2019-10-16 09:31] Atharex commented on #83991
The docs state:

`If a storage account is provided, it must reside in the same resource group as the cluster, and skuName and location are ignored.`

This means to me that it would only work when both the k8s nodes and the storage account are in  Azure and more specifically both in the same resource group. Which would be impossible when on-prem.

@zouyee how does this make it no difference in use?

[2019-10-16 09:37] Atharex commented on #83991
Looking also at the provider docs:
https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-provider-config.md

The config I would need to set up on all k8s nodes is very "cloud-resources" specific:
[code]
On prem I would not use any of these Azure resources, but would only want to connect to an existing storage account within a resource group, with no other resources.

[2019-10-16 09:50] answer1991 opened #83997 "API Server Should NOT Accept Resource Requests Before Cacher is Ready"
**What would you like to be added**:

API Server should NOT accept resource requests before Cacher is ready, but should response 429 code when Cacher is not ready.

**Why is this needed**:

In our production env, when API Server restart and Cacher is not ready, clients(kubelet, DaemonSets, etc.) send too many requests. Especially too many `LIST` resource requests from informer, which will full net

[2019-10-16 09:51] answer1991 commented on #83997
/sig scalability
/sig api-machinery
/assign

[2019-10-16 09:52] lmdaly commented on #83479
/cc

[2019-10-16 10:11] rikatz commented on #77493
/reopen

The patch was a partial solution, We still need to verify if the module loader will support kernels with all builtin

[2019-10-16 10:11] mofirouz opened #83999 "Pod is deleted after job is failed, with restartPolicy: Never"
**What happened**:
A job is created with a single InitContainer and a single main container. The pod restart policy is set to "Never". If the job fails, the pod is randomly deleted. I should mention that the pod is deleted sometimes, not all the time.

Most importantly, we did not observe this issue in Kubernetes 1.12.9-gke.15, but we are observing it now in 1.14.6-gke.1 - we do not have a Kuberne

[2019-10-16 10:19] mofirouz commented on #83999
@kubernetes/sig-node-bugs

[2019-10-16 10:57] pkaramol opened #84000 "Json describing failed job is inconsistent"
**What happened**:

The `k8s` job json description is inconsistent among consecutive job runs.

**What you expected to happen**:

Having the same `json` describing a job whenever the conditions are the same.

**How to reproduce it (as minimally and precisely as possible)**:

We run some one-off jobs. When creating the job `json` file, we are setting the `activeDeadlineSeconds ` field to a specific

[2019-10-16 11:10] Tejeev commented on #76766
/remove-lifecycle stale

[2019-10-16 11:36] answer1991 opened #84001 "API Server Cost too much in runtime.findrunnable, We Need to Reduce API Server Goruntine"
**What would you like to be added**:

We need to reduce API Server goruntine, I think there are many ways to reduce API Server goruntine, such as:
1. Make API Server processing request full-stack context-aware, then try to remove timeout filter.
2. kubelet can list/watch ConfigMap/Secret(s) that the all Node's Pods needed from a single watch request, but not each ConfigMap/Secret need one watch re

[2019-10-16 12:06] danwinship commented on #83903
There's no reason ip6tables-restore should be any slower than the IPv4 version.
Can you point me to the logs that that came from?

[2019-10-16 12:14] alenkacz commented on #81198
@freehan still an issue. Any chance you or someone else will be able to take a look at it?

[2019-10-16 12:27] alenkacz commented on #79711
/remove-lifecycle stale

[2019-10-16 12:45] arbourd commented on #70013
/remove-lifecycle stale

[2019-10-16 12:50] hex108 commented on #83834
We came cross similar problem.

How to guarantee it? Suppose that JA's pods are all in back off queue, and there are available GPU resource, then all JB's pods will be scheduled.

[2019-10-16 12:58] droslean opened #84004 "[Failing test] GCE master, dev {ci-kubernetes-gce-conformance-latest}"
**Which jobs are failing**:
GCE master, dev {ci-kubernetes-gce-conformance-latest}

**Which test(s) are failing**:
[code]
**Since when has it been failing**:
16/10

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#GCE,%20master%20(dev)

**Reason for failure**:
[code]
**Anything else we need to know**:
https://github.com/kubernetes/kubernetes/compare/f64c631cd...d8740

[2019-10-16 12:59] droslean commented on #84004
/sig apps

[2019-10-16 12:59] droslean commented on #84004
/cc @alenkacz @alejandrox1 @hasheddan @Verolop

[2019-10-16 13:01] droslean commented on #84004
/cc @janetkuo @kow3ns @prydonius

[2019-10-16 13:19] hasheddan commented on #84004
It looks like this is failing [here](https://github.com/kubernetes/kubernetes/blob/129a13af983fe2b6bd4429c47e5f0cde6bf0ca42/test/e2e/apps/statefulset.go#L726). I wonder if it may be useful to replace [`UntilWithoutRetry`](https://github.com/kubernetes/kubernetes/blob/129a13af983fe2b6bd4429c47e5f0cde6bf0ca42/staging/src/k8s.io/client-go/tools/watch/until.go#L58) with either `Until` or `UntilWithSyn

[2019-10-16 13:20] yue9944882 commented on #84000
/sig apps

there's similar issue reported in kubernetes java SDK too, ref: https://github.com/kubernetes-client/java/issues/673

[2019-10-16 13:24] #69553 closed

[2019-10-16 13:24] yqwang-ms commented on #83834
I cannot guarantee this, this is just a rough estimation for this specific reproduce steps.

Anyway, the probability for your case should be very small, because even if in current sort policy, JA and JB is **expected** to share the active queue evenly. And after #83835, JA is **expected** to contains more Pods in active queue than JB.

What user really care is the **expectation (average case)** of

[2019-10-16 13:28] liu-cong commented on #83416
/reopen

We decided not to add latency metric for each plugin until we migrate legacy algorithms to plugins. By then we can add latency metric and make sure it doesn't introduce too much overhead.

TODO Add latency metric per plugin after framework migration.

[2019-10-16 13:29] liu-cong commented on #80272
/remove-lifecycle stale

We should continue to add more tests.

[2019-10-16 13:37] liu-cong commented on #83411
/close

The framework metrics can provide more details on failures on each extension point and plugin. Keeping `schedule_attempts_total` as is is probably better.

[2019-10-16 13:37] #83411 closed

[2019-10-16 13:41] OPSTime commented on #83990
Thank you

[2019-10-16 13:41] #83990 closed

[2019-10-16 13:48] hex108 commented on #80304
/remove-lifecycle stale

[2019-10-16 13:49] aojea commented on #83903
This is an example of one failing job

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_kind/954/pull-kind-conformance-parallel-ipv6/1184365445528948736/

and these are the logs of kube-proxy in one of the workers nodes with the errors mentioned before

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_kind/954/pull-kind-conformance-parallel-ipv6/11

[2019-10-16 14:00] zouyee commented on #84000
/assign

[2019-10-16 14:03] obitech commented on #82924
After discussion with @mtaufen and @rosti we agreed to always implement a lenient path with warnings first. This means we would prepare a scheme that has only the current version registered into it, as well as CodecFactory with non-strict decoding. This is then to be dropped when support for said version is dropped. See the discussion in #83204 for more information on the implementation.

Reasons

[2019-10-16 14:12] deads2k commented on #83094
Conditions are generally better than phase.  Phases were a mistake in our original pod implementation because they implied a single unified state machine, but we found that instead we had multiple orthogonal states that are better represented as separate conditions.

You could try `kubectl wait --for=jsonpath=.status.phase=wish-i-was-a-condition`

[2019-10-16 14:36] bboreham commented on #63750
I don't understand how, given the problem "most of them even a latency under 10ms", this was fixed by changing to buckets starting at 50ms and mostly between 125ms and 2000ms.

@mikkeloscar is it working better for you now?

[2019-10-16 14:59] andrewsykim commented on #82163
Thanks @juliantaylor

/remove-triage unresolved

[2019-10-16 15:02] andrewsykim commented on #82065
@ivan-cai can you confirm if the IPVS modules are installed on your kernel? 3.10 is pretty old and may not have the necessary modules. See the [prerequisite](https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/ipvs#prerequisite) for more details.

[2019-10-16 15:05] andrewsykim commented on #81405
Closing this due to inactivity, @zops feel free to re-open if you are still seeing issues

/remove-triage unresolved
/close

[2019-10-16 15:05] #81405 closed

[2019-10-16 15:16] dims commented on #84001
/sig scalability
/sig api-machinery

[2019-10-16 15:41] Cryptophobia commented on #82923
Just a note for everyone following the thread. Release v1.14.8 is out since yesterday. :+1:

[2019-10-16 15:48] gnufied commented on #83781
This is a known issue and stems from the issue with CRI (at least initially) not supporting volumes with `:` in it, because `:` is used to separate volumes -  https://github.com/moby/moby/issues/8604

The current solution seems to be to use explicit `source=` and `destination=` fields but we have to verify if this works for all container-runtimes and is not just docker thing.

[2019-10-16 15:50] abhilash-thumma commented on #65500
Same with me for Dynamic Provisioning.

##encrypted-gp2.yaml (storage class)
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: encrypted-gp2
provisioner: kubernetes.io/aws-ebs
parameters:
  type: gp2
  fsType: ext4
  encrypted: "true"
  kmsKeyId: arn:aws:kms:us-east-2:xxxxxxxxxxxxxxxxxxxxxxxxxxx

##encrypted-pvc.yaml (PVC)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  nam

[2019-10-16 16:03] yue9944882 commented on #70657
/remove-lifecycle stale

[2019-10-16 16:16] militarpancho commented on #83781
Okey, thanks for the clarification!, is there a pr or workaround coming for this issue, or it's not contemplated in the roadmap?

[2019-10-16 16:31] nikhita commented on #80312
Fixed in https://github.com/kubernetes/kubernetes/commit/ab72c099373bbde86f7bec50cc5c2f21a07505b0

/close

[2019-10-16 16:31] #80312 closed

[2019-10-16 16:34] #83783 closed

[2019-10-16 16:35] #83810 closed

[2019-10-16 16:35] #83927 closed

[2019-10-16 16:35] #78134 closed

[2019-10-16 16:35] #83895 closed

[2019-10-16 16:36] #83693 closed

[2019-10-16 16:36] #83948 closed

[2019-10-16 16:43] nikhita commented on #83981
The labels on the PR are set by looking at the OWNERS files. If an OWNERS file has the `labels` field, the labels specified there are automatically added to the PR.

https://github.com/kubernetes/kubernetes/pull/83980 and https://github.com/kubernetes/kubernetes/pull/83979 don't automatically get kind/priority/sig labels because they touch root files and no SIG label is defined for the root OWNERS

[2019-10-16 17:06] gjcarneiro commented on #72102
There are claims here that the bug is solved, but I am seeing evidence of it not being solved in our cluster:

[code]

Are we absolutely sure the etcd client fix made it onto the release?

[2019-10-16 17:08] Gangareddy commented on #65500
@abhilash-thumma: This is what I tried and worked for me. If you want to be safe, you could take a snapshot of the PV and create a new disk from that PVC. Once you get the new PV details, you could change the reference in your PVC claim from old PV to new generated PV.

A similar issue in Azure.

https://github.com/Azure/AKS/issues/884

[2019-10-16 17:27] ide8 commented on #52757
@wsxiaozhang , trying to run it on EKS, but we can't edit a default scheduler there. Did you have a chance to try it on EKS?

[2019-10-16 17:30] seh commented on #72102
That bug is not fixed yet. The only fix was for IP address-only connections, not those using DNS names like this. We are waiting on #83968 for what will probably be Kubernetes version 1.16.3.

The workaround I'm using today is to replace my _etcd_ server certificates with ones that use a wildcard SAN for the members in the subdomain, rather than including the given machine's DNS name as a SAN. So

[2019-10-16 17:37] liggitt commented on #72102
It was fixed for IP addresses, but not DNS names (DNS name issue is tracked in https://github.com/kubernetes/kubernetes/issues/83028). Additionally, part of the fix regressed IPv6 address handling (https://github.com/kubernetes/kubernetes/issues/83550). See https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#known-issues.

These two issues have been resolved in master, and https

[2019-10-16 17:39] gjcarneiro commented on #72102
Ah... thank you @seh and @liggitt, that explains it.  Cheers!

[2019-10-16 18:01] ssro commented on #82923
All good in 1.14.8. Upgraded today from 1.14.6

[2019-10-16 18:28] seh commented on #83028
Given that we missed the cut for Kubernetes version 1.16.2, I decided to find a workaround for this problem, to allow my API servers to talk to _etcd_ servers (running version 3.3.17). My _etcd_ server certificates include SANs both for the machine's DNS name and the subdomain within which they sit for DNS discovery. My API servers start with a set of URLs that mention those per-machine DNS names.

[2019-10-16 18:30] shanmugh opened #84013 "Allow customizable TTL for NewCachedDiscoveryClientForConfig"
**What would you like to be added**:
Ability to customize the discovery cache refresh interval in client-go.

**Why is this needed**:
Currently the disk cache for the client-go discovery cache uses a fixed TTL of [10mins](https://github.com/kubernetes/kubernetes/blob/30c7df5cd822067016640aa267714204ac089172/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go#L235). The cache refre

[2019-10-16 18:32] shanmugh commented on #84013
@kubernetes/sig-cli

[2019-10-16 18:37] #83770 closed

[2019-10-16 18:37] #83912 closed

[2019-10-16 18:43] ahg-g commented on #82385
/cc @liu-cong

[2019-10-16 18:48] seh commented on #83028
I'm not saying that upgrading Kubernetes is necessary. I had already upgraded to version 1.16.1 when I first noticed this problem. The question was whether to roll back to our previous version of 1.15.1, which predates this problem.

Since I was already running version 1.16.1, and had been preparing to upgrade to 1.16.2—falsely assuming that what became #83968 would be included—so I figured I'd te

[2019-10-16 18:56] ahg-g commented on #83554
/cc @liu-cong

[2019-10-16 18:59] tedyu commented on #84013
Thinking of something like the following:
[code]

[2019-10-16 19:02] vgarcia-te commented on #83028
Ok got it. The explanation is here https://github.com/kubernetes/kubernetes/issues/72102#issuecomment-542811694 we still need to wait for https://github.com/kubernetes/kubernetes/pull/83968 . Targeting 1.16.3 for the fix

[2019-10-16 19:08] liggitt commented on #83028
The certificate check issue existed in 1.15.x as well. The handling of ipv6 addresses was what regressed in 1.16 (https://github.com/kubernetes/kubernetes/issues/83550)

[2019-10-16 19:17] seh commented on #83028
I don't see our API servers running version 1.15.1 complaining like this, so perhaps it wasn't until later in the 1.15 patch sequence.

[2019-10-16 19:22] liggitt commented on #83028
The cert verification issue is https://github.com/kubernetes/kubernetes/issues/72102 and has existed for many releases. It only appears when the API server fails over to a server other than the first one passed to --etcd-servers, so if the first one is available, no error is observed.

[2019-10-16 19:31] seh commented on #83028
Well, we must be very lucky around here!

[2019-10-16 19:53] shanmugh commented on #84013
@tedyu thanks for the quick response.

Am I correct in assuming that this will allow the value to be configurable via kubeconfig?

[2019-10-16 20:01] aojea commented on #83903
Another flaky with iptables errors, this time wasn't ip6tables-restore , is the new kindnet that uses go-iptables

[code]

Job link https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel-ipv6/1184528903125864450

Log https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel-ipv6/1184528903125864450/artifacts/logs/kind-worke

[2019-10-16 20:16] liggitt commented on #84000
That field is optional, and is defined here:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/batch/v1/types.go#L160-L162

When set to 0, it is omitted from serialization (see the `omitempty` directive). Control over what that field is set to belongs to the job controller.

/remove-sig api-machinery

[2019-10-16 20:50] neolit123 commented on #84013
client-go does not use the code you mention. it's in the cli-runtime library that is used by kubectl:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/cmd.go#L466

it would not be possible to configure this via a kubeconfig as the underlying kubeconfig structure does not have TTL:
https://github.com/kubernetes/client-go/blob/master/tools/clientcmd/api/types.go

if you wish to e

[2019-10-16 20:52] neolit123 commented on #84013
/sig cli

[2019-10-16 21:07] hpandeycodeit commented on #53201
@liggitt Can we say that following are the remaining points/issues that need to be discussed before we proceed further:

1. Whether to roll out the changes in a single release or 2 releases and The two-release rollout is for server-side validation and not for the client-side.
2. How consumers will handle expanded value spaces.

[2019-10-16 21:30] andrewsykim commented on #82163
Turns out the health check node port logic is actually shared across the iptables and IPVS proxy and realizing now that it's hard-coded to bind on all addresses: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/healthcheck/service_health.go#L100.

I agree it should respect whatever is set by --nodeport-addresses but that would significantly increase the number of listeners in the ser

[2019-10-16 21:36] andrewsykim commented on #82163
/assign @thockin @danwinship @johnbelamaric @bowei

Can we get your input on this issue please?

TL;DR the [service health server](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/healthcheck/service_health.go) which serves endpoints for `healthCheckNodePort` ignores the `--nodeport-addresses` flag and [binds on all addresses instead](https://github.com/kubernetes/kubernetes/blob/mas

[2019-10-16 21:39] jzelinskie commented on #54498
/remove-lifecycle rotten

[2019-10-16 22:44] droslean opened #84021 "[Failing Test] build-master-fast (ci-kubernetes-build-fast)"
**Which jobs are failing**:
build-master-fast (ci-kubernetes-build-fast)

**Since when has it been failing**:
Last successful run was on 13:54 PDT
https://github.com/kubernetes/kubernetes/compare/01a6c27ee...cb19b5683

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#build-master-fast

**Reason for failure**:
[code]
**Anything else we need to know**:
@deads2k

[2019-10-16 22:44] droslean commented on #84021
/cc @alenkacz @alejandrox1 @hasheddan @Verolop

[2019-10-16 22:46] droslean commented on #84021
@deads2k is this related with https://github.com/kubernetes/kubernetes/pull/83419?

[2019-10-16 22:47] droslean commented on #84021
/sig release

[2019-10-16 23:30] hasheddan opened #84022 "[Failing Test] ci-kubernetes-integration-master"
**Which jobs are failing**: ci-kubernetes-integration-master

**Which test(s) are failing**: `Overall`

**Since when has it been failing**: Last successful run at 12:30 PDT
infra commit: https://github.com/kubernetes/test-infra/commit/c1d6e4301e7eedd151c540dc0c466b512795593d
k/k commit: https://github.com/kubernetes/kubernetes/commit/01a6c27ee4130aadb88b188adcba59854e62804f

**Testgrid link**: htt

[2019-10-16 23:52] BenTheElder commented on #84022
/assign
this should have been mitigated by https://github.com/kubernetes/test-infra/pull/14811

[2019-10-16 23:53] BenTheElder commented on #84022
roll forward fix is starting in https://github.com/kubernetes/test-infra/pull/14812 https://github.com/kubernetes/test-infra/pull/14813

similar to https://github.com/kubernetes/kubernetes/issues/71305

[2019-10-17 00:17] cmluciano opened #84026 "New branch for Ingress v1 API"
SIG-Network is requesting a new branch off of of master to safely iterate on the Ingress v1 API. Without this branch, we risk merging v1 api work into the release without completing all of the options mentioned in our [Ingress KEP](https://github.com/kubernetes/enhancements/pull/1113).

This new branch will serve to collect our WIP PRs  ( i.e.  #83467 and #80179) and allow for parallel contributio

[2019-10-17 00:34] #83410 closed

[2019-10-17 00:43] ramineni commented on #83947
https://github.com/kubernetes/kubernetes/issues/83985 , need this to get the CI fixed.

[2019-10-17 00:44] metrue commented on #1668
I'd like to share my the way (https://github.com/metrue/fx/issues/315) I'm doing in [fx](https://github.com/metrue/fx)

[2019-10-17 00:44] metrue commented on #1319
I'd like to share my the way (https://github.com/metrue/fx/issues/315) I'm doing in [fx](https://github.com/metrue/fx)

[2019-10-17 00:45] BenTheElder commented on #84022
roll forward in https://github.com/kubernetes/test-infra/pull/14814

also, while the most recent run did fail, it failed due to a test case rather than docker issues
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1184613331994939392

[2019-10-17 00:57] zouyee commented on #84000
/sig batch

[2019-10-17 00:57] zouyee commented on #84000
/area batch

[2019-10-17 01:25] BenTheElder commented on #84022
Roll forward is in and docker is starting fine.

[2019-10-17 01:27] shanmugh commented on #84013
@neolit123 thanks for the information.

It would be ideal to configure the ttl via kubeconfig. Do you think this approach is feasible and easy to accomplish?

[2019-10-17 02:11] BenTheElder commented on #84022
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1184643532015538176/
/close

[2019-10-17 02:11] #84022 closed

[2019-10-17 02:22] ZP-AlwaysWin commented on #83984
I don't quite understand what you mean. The reason for the loop is that even if revision > 0, you need to traverse the history details.

[2019-10-17 02:25] danwinship commented on #82163
The `healthCheckNodePort` server exists to be queried by the cloud load balancers and no one else. Actual NodePort services are potentially accessible from outside the cluster, so if your goal is to limit access to the health check port then `--nodeport-addresses` is too public.

`--healthz-bind-address` on the other hand is too private, because it's for the proxier health server, and kubelet is t

[2019-10-17 02:36] #72759 closed

[2019-10-17 02:37] zouyee commented on #81134
@tedyu ok, thanks

[2019-10-17 02:50] zouyee commented on #83612
[code]

When restarting kubelet, the admit operation is triggered, pods will be evicted.

[code]
and when it is working normally, the garbage collection operation is triggered. Is there any problem with the above two processing methods?

cc @derekwaynecarr  @liggitt

[2019-10-17 02:52] andrewsykim commented on #82163
I agree that `--healthz-bind-address` and `--metrics-bind-address` are not good candidates for setting the bind address for `healthCheckNodePort`.

Confused about this part. Why is `--nodeport-addresses` too public if we are trying to limit access for health check ports? My thinking here is that if a user wants to restrict bind addresses for actual node ports services, the same set of restrictions

[2019-10-17 03:04] zouyee commented on #83612
[code]

[2019-10-17 03:05] whs-dot-hk commented on #83984
Hi, I mean

[code]

[2019-10-17 03:32] b675987273 commented on #30189
in pkg/kublet/kubelet.go
[// sync interval is defaulted to 10s.](https://github.com/kubernetes/kubernetes/blob/f7091992c04e2d4f16f6b462d4a711e5b9eb0f22/pkg/kubelet/kubelet.go#L1824)
how can i change the  sync interval or find it?

[2019-10-17 03:35] mridulganga commented on #62897
Could you share the steps here?
@qiyongxiao

[2019-10-17 03:37] #78091 closed

[2019-10-17 03:41] neolit123 commented on #84013
possibly best to ask in the #sig-cli channel on slack.

[2019-10-17 04:05] thockin commented on #82163
This has all gotten incredibly complicated, hasn't it?

The `--nodeport-addresses` is the closest to correct, but even that is not quite obvious.

What I like about the iptables impl is that it only matches IP and port. Is there any way to get that behavior in IPVS mode?  Some trickery instead of binding the address to a local interface?  I can't seem to get a simple IPVS demo working on my test V

[2019-10-17 04:20] hangxie opened #84030 "ExpandInUsePersistentVolumes does not do the job"
**What happened**:
To expand a PVC used by pod from statefulset, I edit the PVC with the new size then watch its changes by running
[code]
PVC first reported:
[code]
then the state is gone, at the same time, kubelet reports:
[code]

PV and PVC both have the new size, but not the file system within the pod, delete the pod did not help (since the PVC is no longer in FileSystemResizePending state).

[2019-10-17 04:21] hangxie commented on #84030
/sig storage

[2019-10-17 04:23] hangxie commented on #84030
Let me know if this bug should be filed on CSI side, I prefer to have a confirmation on kubelet's behavior before doing so.

[2019-10-17 04:43] andrewsykim commented on #82163
One clarifying point: IPVS also matches on IP + Port for node ports (see https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1280-L1302). This issue is actually specific to `healthCheckNodePorts` only -- and if I'm understanding correctly, is an issue for both iptables and IPVS proxy because they share the same implementation for `healthCheckNodePorts` which [always bin

[2019-10-17 04:48] hprateek43 commented on #83698
/remove kind-bug

[2019-10-17 04:56] notpad commented on #83985
Repalce KUBELET_HOST with HOSTNAME_OVERRIDE shoud fix this issue, I have created a pull request

[2019-10-17 05:12] thockin commented on #82163
iptables doesn't have local addresses, so `healthCheckNodePorts` binds to
all, but I haven't heard anyone complain about that.  IPVS expands "all" to
include service IPs, which is a real problem.

If we had to wipe it all away, and start over, what would we want?

On Wed, Oct 16, 2019 at 9:44 PM Andrew Sy Kim <notifications@github.com>
wrote:

[2019-10-17 05:14] ramineni commented on #83985
@notpad Thanks. But what if HOSTNAME_OVERRIDE is not set , then again it would fail? I guess its optional parameter

[2019-10-17 05:18] ramineni commented on #83985
cc @zhlhahaha

[2019-10-17 05:51] zhouya0 commented on #83984
I think it's ok to do break for the loop.  Because the the function will return the specfic info when revision >0.
https://github.com/kubernetes/kubernetes/blob/4568c615269860433f914e1dc74b13e66acbe5ef/staging/src/k8s.io/kubectl/pkg/polymorphichelpers/history.go#L137-L145

[2019-10-17 06:04] notpad commented on #83985
If not set, the default value is 127.0.0.1, won't fail

[2019-10-17 06:11] ZP-AlwaysWin commented on #83984
It seems like a good idea. You can try to optimize it.

[2019-10-17 06:35] zouyee commented on #81134
https://github.com/kubernetes/kubernetes/pull/84032

[2019-10-17 06:35] alexanderKhaustov commented on #80286
/remove-lifecycle stale.

[2019-10-17 06:36] whs-dot-hk commented on #83984
/assign

[2019-10-17 06:37] whs-dot-hk commented on #83984
Thx

[2019-10-17 06:54] leowucn opened #84033 "Accessing service is too much slower than accessing inside container"
I have a k8s cluster, and the version of k8s is **v1.12.1**. One of the services is below:
[code]
When accessing the service with `CLUSTER-IP` inside the cluster, it is very slow compared to accessing inside the pod container.
[code]
[code]

The former speed is only **216K**, but the latter speed can up to **75.3M**, I wonder to know what cause the difference.

Is there anyone can help me? thanks.

[2019-10-17 07:00] Bhuvan26 commented on #60987
Issues observed in kubernetes 1.14.3

[root@cluster2cwe1 ~]# kubelet  --version
Kubernetes v1.14.3

var/log.messages logs:
=================
Oct 15 14:48:41 cluster2cwe1 start-etcd.sh: 2019-10-15 14:48:41.930053 I | embed: rejected connection from "10.200.211.102:58860" (error "EOF", ServerName "")
Oct 15 14:48:41 cluster2cwe1 kubelet: E1015 14:48:41.982980 40887 kubelet_volumes.go:154] Orphaned p

[2019-10-17 07:45] draveness commented on #79913
/remove-lifecycle stale

[2019-10-17 07:46] draveness commented on #79913
/help

@Moriadry  Please remove the help if you still want to do this.

[2019-10-17 07:47] draveness commented on #80334
/remove-lifecycle stale
/lifecycle frozen

[2019-10-17 08:08] zhlhahaha commented on #83985
Hi ramineni, nodpad is correct. HOSTNAME_OVERRIDE do have default value which is 127.0.0.1.

[2019-10-17 08:20] ramineni commented on #83985
@notpad @zhlhahaha Thanks. Then grep HOSTNAME_OVERRIDE is ideal solution. That would work for me. Hopefully PR gets merged soon

[2019-10-17 08:46] #82088 closed

[2019-10-17 10:20] ahg-g commented on #83928
Hi Draven, I think I have an idea how to do this without creating another predicate, so we don't need this anymore.

[2019-10-17 10:20] #83928 closed

[2019-10-17 10:21] ahg-g opened #84039 "[migration phase 1] GeneralPred as a plugin configuration"
**What would you like to be added**:
GeneralPred as Filter configuration that combines PodFitsResources, PodFitsHost, PodFitsHostPorts and PodMatchNodeSelector

**Why is this needed**:
Part of  #83554

/sig scheduling
/assign

[2019-10-17 10:28] draveness commented on #84039
cc/ @Huang-Wei

[2019-10-17 10:31] droslean commented on #84021
The next runs have completed successfully.

https://k8s-testgrid.appspot.com/sig-release-master-blocking#build-master-fast

[2019-10-17 10:31] #84021 closed

[2019-10-17 10:32] droslean commented on #84004
The next runs have completed successfully.

[2019-10-17 10:33] droslean commented on #83903
https://github.com/kubernetes/kubernetes/compare/bc25814fb...6a5f0e6ed seems to fix the problem.

[2019-10-17 10:37] droslean commented on #83947
https://github.com/kubernetes/kubernetes/pull/84008

[2019-10-17 10:39] droslean commented on #83947
/milestone 1.17

[2019-10-17 10:52] kmoorfield opened #84040 "Document how to limit access to /version api endpoint"
**What would you like to be added**:
The ability to turn off / disable the "/version" api endpoint on the Kubernetes master node.

**Why is this needed**:
To hide the version information for security, so that scanners can't find the current version of the Kubernetes cluster and then know what exploits to use against the cluster.

[2019-10-17 10:53] smirnov-mi commented on #50375
Still +1. For those who don't have nearly 100 clusters and better monitoring.

[2019-10-17 11:10] opengers opened #84041 "Kube-proxy should support setting ipvs tcp/tcpfin/udp timeout when proxy-mode is ipvs"
**What would you like to be added**:
kube-proxy can add three new options to set the ipvs tcp/tcpfin/udp timeout when proxy-mode is ipvs, such as:
[code]

**Why is this needed**:
kube-proxy has some options to set kernel parameters related to netfilter conntrack, such as:
`net.netfilter.nf_conntrack_tcp_timeout_established` can be set by `--conntrack-tcp-timeout-established`
`net.netfilter.nf_conn

[2019-10-17 11:15] chakri-nelluri commented on #82918
@sungjunyoung This is not specific to Flexvolume and is similar to other in-tree plugins. Ping @msau42. This should also be similar for CSI drivers AFAIK.

[2019-10-17 11:17] opengers commented on #84041
@kubernetes/sig-network-feature-requests

[2019-10-17 11:22] danwinship commented on #82163
OK, I guess probably if someone is specifying `--nodeport-addresses` then it would make sense to use that for `healthCheckNodePort` too. But someone might want to restrict `healthCheckNodePort` out of paranoia while still having NodePort services be fully public.

oh, I had missed the IPVS weirdness aspect of this. Yeah, I'm not convinced the behavior under iptables is an actual problem for anyone

[2019-10-17 11:35] okartau commented on #83913
#84042 created. Because it was developed in context of pmem-csi, which is not using HEAD version of all files, I had to hand-merge some of changes.

[2019-10-17 11:58] gongguan commented on #73527
@wojtek-t seems selector-cache solution has to rewrite GetPodServices function, is it feasible to change so many code?

[2019-10-17 12:08] daenney commented on #65013
Has anyone come up with a strategy to safely move workloads between two pools? Reading this bug, it seems there's no way to reliably do this without causing an outage if you follow the recommendation of `cordon` + `drain`. In my case I'm not using an nginx ingress but services with type `LoadBalancer`.

From what I can see, adding `NoSchedule` to a node causes the Service Controller to consider th

[2019-10-17 12:11] daenney commented on #65013
Reading the affinity docs again it doesn't seem I can use it at a node level to repel pods. That would require taints, but using taints gets us back to nodes with workloads on them being considered not ready.

[2019-10-17 12:12] #83985 closed

[2019-10-17 12:26] hasheddan commented on #83947
/milestone 1.17

[2019-10-17 12:27] hasheddan commented on #83947
/milestone v1.17

[2019-10-17 12:50] ahg-g commented on #80227
/remove-lifecycle stale

[2019-10-17 13:36] wojtek-t commented on #73527
Not necessary - see https://github.com/kubernetes/kubernetes/issues/73527

[2019-10-17 13:50] liggitt commented on #53201
I don't think there's a lot to discuss there. Loosening validation in a single release breaks multi-server upgrade and single-version rollback scenarios. From my perspective, it must be rolled out over 2 releases at minimum.

I think that is the primary open question, and would inform what bounds we placed on the values (whitespace, control characters, unprintable characters, etc)

[2019-10-17 14:03] hangxie commented on #84030
Checked further, the volume attached to the worker still shows old size in fdisk, which leads to resize2fs does nothing, I think this is the root cause (OS/cloud issue)?

[2019-10-17 14:09] droslean commented on #83947
https://github.com/theopenlab/openlab-zuul-jobs/pull/684 is needed also.

[2019-10-17 14:27] tedyu commented on #73527
@wojtek-t
Did you mean a different issue number ?
The above issue number is for this issue.

[2019-10-17 14:40] dguendisch opened #84052 "LoadBalancer issues on azure k8s v1.16.2 and v1.15.5"
**What happened**:
We noticed LoadBalancer issues on azure k8s `v1.16.2` and `v1.15.5`.
We use azure `basic` LoadBalancer and create two `LoadBalancer` type k8s services for azure clusters. Both services ultimately get a Public IP created in azure, however the azure LoadBalancer only contains one single Frontend IP Configuration for one of the k8s `LoadBalancer` type services. Thus the other k8s `

[2019-10-17 14:42] MSSedusch commented on #84052
cc @andyzhangx @feiskyer

[2019-10-17 14:46] ialidzhikov commented on #84052
/sig cloud-provider
/area provider/azure

[2019-10-17 15:08] sbussetti opened #84053 "pkg/storage/etcd3/event.go still using old etcd url"
Attempting to run tests against a project using `k8s.io/apiserver` and run into the following:

[code]

It looks like the imports referenced just need to change to the new etcd url.

[2019-10-17 15:10] tedyu commented on #82918
filepath.Walk() is used to iterate the mount directory.
I wonder if this call can be made asynchronous: we first walk one or two levels synchronously and if there is no error, perform the rest in goroutine.

[2019-10-17 15:22] tedyu commented on #84053
pkg/storage/etcd3/event.go : there is no such file in kubernetes repo.

FYI

[2019-10-17 15:23] andrewsykim commented on #82396
So @mcrute is doing some work on external credential providers https://github.com/kubernetes/enhancements/pull/1284 -- but I wonder if it's worthwhile to stage `pkg/credentalprovider` in the meantime anyways? Are there enough external consumers of `pkg/credentialprovider` to justify this?

[2019-10-17 15:24] #83848 closed

[2019-10-17 15:33] sbussetti commented on #84053
@tedyu https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/event.go#L21-L22

[2019-10-17 15:34] sbussetti commented on #84053
Sorry, over-truncated the path in my description.

[2019-10-17 15:35] sbussetti commented on #84053
Same issue in coreos: https://github.com/coredns/coredns/issues/3087

[2019-10-17 15:46] BenTheElder commented on #83913
https://github.com/kubernetes/kubernetes/pull/84042#issuecomment-543237627 🤔

[2019-10-17 15:57] Huang-Wei commented on #83321
Now #84036 gets merged, which _might_ fix the flake. Let's keep an eye on this.

[2019-10-17 15:59] saschagrunert commented on #19077
We could write up a KEP for this and pitch it in SIG Node. I’d be happy to drive this topic forward, but we should get at least 3 people on board. Who is in? 🙃

[2019-10-17 16:08] MSSedusch commented on #84052
From the logs I can see that two services are created almost at the same time. From the Azure Activity Log, the first services is added to the Azure Loadbalancer (frontend config, rules, probes) but is overwritten by an update of the Azure LB to add the second service. The result is that only the second K8s service has a corresponding frontend config, rule and probe. I think this behavior has not

[2019-10-17 16:12] bboreham commented on #19077
@saschagrunert I am interested - what sort of commitment do you need?

[2019-10-17 16:12] jkugler commented on #60903
/remove-lifecycle stale

[2019-10-17 16:14] shaunc opened #84057 "Proposal: nested namespaces"
/sig architecture

**What would you like to be added**:

I would like namespaces to be nestable.

**Why is this needed**:

I am learning Kubernetes, Istio, and Kubeflow, hoping to be able to recommend Kubeflow as a component of an overall application built on KNative. Unfortunately, I have had problems installing Kubeflow, and once one problem is hit, it is very difficult to recover as it creates

[2019-10-17 16:27] shaunc commented on #36716
Related to this, perhaps the resource manager layer could also support dependency injection? For instance, if I install a dependency which shares a dependency with another resource, it should be able to bind to it rather than installing its own (or failing because of conflict). On the other hand, perhaps it needs its own copy because of config differences. There could be a way of deciding whether

[2019-10-17 16:34] MSSedusch commented on #84052
I think I know the root cause. The two K8s services are the "first" services that are created for that cluster. That means there is no Azure Load Balancer and therefore no etag that is used. The two processes that create the K8s services in parallel cannot use an etag since there is no Azure Load Balancer

[2019-10-17 16:45] saschagrunert commented on #19077
I never wrote a KEP, but I’m thrilled to write one. I would just need relevant input, review and maybe implementation support. We could create a small work group in slack if you want. :)

[2019-10-17 16:47] ahg-g opened #84059 "LeastRequestedPriority/MostRequestedPriority/BalancedResourceAllocation as Score plugins"
**What would you like to be added**:
Add score plugins for LeastRequested, MostRequested and BalancedResourceAllocation priorities.

We should have a single directory ```plugins/nodeutilization```, under it we can have three files for the three plugins: ```high.go``` with a score plugin named ```HighNodeUtilization``` that calls to MostRequestedPriority, ditto for the other two (```low.go``` and p

[2019-10-17 16:50] #75756 closed

[2019-10-17 17:11] aojea commented on #83063
@Prodian0013 can you details the steps that you are following, the versions of the OS and kubernetes components and the number of nodees to try to reproduce it?

[2019-10-17 17:14] bcorijn commented on #81286
Out of completeness, I ran into this issue while updating my cluster from 1.13.7 to 1.14.8 with kops 1.14. So it didn't look like the fix in https://github.com/kubernetes/kubernetes/pull/80173 actually solved this for me (or other kops users in Slack).
As soon as the last master got stopped (so it didn't even need to come back online) the others stabilized.

[2019-10-17 17:17] wskulley commented on #81286
I observed same 1.13.10 and .11 -> 1.14.6

[2019-10-17 17:26] andrewsykim commented on #81775
Still reading through the comments, but if I recall correctly, we added graceful termination _before_ we made the sysctl optimizations so the results found here may be possible. Will do some of my  own research/testing and report back, thanks folks!

[2019-10-17 17:28] yakhyadabo commented on #62156
Having the same issue.
Any fix ?

[2019-10-17 17:33] dharmab commented on #75457
@anguslees the split master/worker is unfortunately a risky option when using instance-based authentication (e.g. AWS IAM, Azure Managed Identity). Without additional controls like kube2iam or aad-pod-identity- and carefully curated access controls on identity- that could allow worker Pods to gain the privileges of the controller-manager.

(IMO instance-based authentication is risky in general and

[2019-10-17 17:33] andrewsykim commented on #81775
Confirmed that graceful deletion was added before we made the sysctl updates for `conn_reuse_mode` and `expire_nodest_conn`.

PR for graceful termination (July 2018): https://github.com/kubernetes/kubernetes/pull/66012
PR for sysctl updates (Dec 2018): https://github.com/kubernetes/kubernetes/pull/71834

It seems likely we didn't re-evaluate the need for graceful termination after the sysctl updat

[2019-10-17 17:33] jonjohnsonjr commented on #82396
I think it would be nice from an open source stewardship perspective. There's been a mechanism in go since [1.4](https://golang.org/doc/go1.4#internalpackages) for making packages private that kubernetes doesn't use. Instead, kubernetes just [intentionally breaks](https://github.com/kubernetes/kubernetes/issues/81878) anyone who took a dependency on the "wrong" packages, which, IMHO, is pretty rud

[2019-10-17 17:48] neolit123 commented on #83044
/sig node

[2019-10-17 17:49] neolit123 commented on #83145
/sig instrumentation

[2019-10-17 17:50] neolit123 commented on #82746
/sig apps

[2019-10-17 17:51] neolit123 commented on #83439
/sig node

[2019-10-17 17:51] neolit123 commented on #83850
/sig cloud-provider network

[2019-10-17 17:52] neolit123 commented on #83676
/remove-kind feature
/kind documentation
/sig network

[2019-10-17 17:54] neolit123 commented on #83256
/sig node

[2019-10-17 17:55] neolit123 commented on #83869
/sig cloud-provider testing release
/kind flake

[2019-10-17 17:55] neolit123 commented on #83870
/sig scalability
/kind flake

[2019-10-17 17:56] neolit123 commented on #83728
/sig apps

[2019-10-17 17:56] neolit123 commented on #83938
/sig api-machinery

[2019-10-17 17:58] neolit123 commented on #83954
in the original post, please link to the code you have in mind and provide more details why you think this is a problem.

/triage needs-information
/sig node

[2019-10-17 17:58] neolit123 commented on #83991
/sig cloud-provider

[2019-10-17 18:00] neolit123 commented on #84033
hi, 1.12 is no longer supported by the k8s project.
please try reproducing this with 1.14 at least (which is in the support skew).

/triage needs-information
/sig network

[2019-10-17 18:00] neolit123 commented on #84040
/sig api-machinery

[2019-10-17 18:03] liggitt commented on #72192
xref #65200

[2019-10-17 18:03] liggitt commented on #65200
xref #72192

[2019-10-17 18:11] Prodian0013 commented on #83063
OS: RHEL 7.7
Kubernetes: 1.15.2
CRIO: 1.15.2
Flannel CNI
Single master node

Heres a couple scripts I threw together that will reproduce the issue just for testing purposes:
Setup Node: https://gist.github.com/Prodian0013/87553254f7376a338de60c20531be252
Install K8S: https://gist.github.com/Prodian0013/e5c4a6883bce042dc8bb06f1217c53a7

[2019-10-17 18:25] andrewsykim commented on #82448
cc @BenTheElder

[2019-10-17 18:26] andrewsykim commented on #82437
/close

[2019-10-17 18:26] #82437 closed

[2019-10-17 18:27] andrewsykim commented on #82396
/assign

[2019-10-17 18:30] andrewsykim commented on #81518
ping @ericzhang08, any updates on this?

[2019-10-17 18:58] gyuho commented on #80741
We do set the gRPC logger by default, in etcd

https://github.com/etcd-io/etcd/blob/a65e4d3357c260504d47f08a433b355e36dbcb51/clientv3/logger.go#L36-L40

to ignore all such logs.

@jpbetz @liggitt Do we override gRPC logger somewhere in kube-apiserver?

I tried

[code]

but no luck...

[code]

[2019-10-17 19:01] liggitt commented on #80741
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/logger.go#L27

[2019-10-17 19:03] liggitt commented on #80741
should we adjust the klog adapter to make all info-level logs from etcd a higher verbosity (e.g. V3 or V4?)

[2019-10-17 19:09] jennybuckley commented on #65200
I think this bug is a little more dangerous than the two reasons given in the original description, since due to virtual nodes, having one illegal cross namespace dependent of X can cause  the GC to delete other, legal dependents of X, occasionally

[2019-10-17 19:11] tedyu commented on #80741
V3 sounds good to me.

[2019-10-17 19:24] gyuho commented on #80741
@liggitt I think we need a way to disable the whole `Info` level logging in `klog` package. Can we translate the kube-apiserver log level to gRPC log writer? Seems like gRPC doesn't really use leveled logging. For example, even if we set the log level, this line will still print:

https://github.com/grpc/grpc-go/blob/7c8e60372e19da88fb3fe8ac6a8de781eef7f547/balancer_v1_wrapper.go#L116

which runs

[2019-10-17 19:27] liggitt commented on #72192
consolidating the "correct uid with incorrect {kind,namespace,name}" GC problems in https://github.com/kubernetes/kubernetes/issues/65200

[2019-10-17 19:27] #72192 closed

[2019-10-17 19:57] gyuho commented on #80741
On second thought, I don't think we need gRPC info level logs at all. etcd client is migrating to zap logger, and it logs all the critical information.

[2019-10-17 20:00] aojea commented on #83063
if you are using only one node with kubeadm you have to taint it so it can schedule pods on it.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

I suggest reviewing the installation steps, I don't know if this is a bug ... I think that it will be detected in minikube per example

/triage support

[2019-10-17 20:01] aojea commented on #83063
/remove-triage unresolved

[2019-10-17 20:04] tedyu commented on #65200
Should we pay attention to the performance impact due to the extra checks in the GC controller ?
Looking under pkg/controller/garbagecollector , I don't see any benchmark test.

[2019-10-17 20:17] fedebongio commented on #83938
/assign @wenjiaswe

[2019-10-17 20:18] fedebongio commented on #83997
/assign @wojtek-t
Thought you will be interested in this one

[2019-10-17 20:19] fedebongio commented on #84000
/remove-sig api-machinery

[2019-10-17 20:20] fedebongio commented on #84001
/cc @lavalamp @wojtek-t
Thought you might be interested since you've been digging into related issue

[2019-10-17 20:20] liggitt commented on #83929
The logs from the first look like what I would expect if the connection between the controller manager and the apiserver was interrupted

The logs from the second look like what I would expect when the controller manager is waiting to acquire the lease.

Can you provide more information about the restart, or information that shows the controller manager cannot maintain a connection to the apiserve

[2019-10-17 20:21] fedebongio commented on #84040
/sig auth

[2019-10-17 20:23] fedebongio commented on #83929
/assign @neolit123

[2019-10-17 20:32] ptemmer commented on #77225
We're experiencing the same issue with AKS 1.14.6.
We have 4 nodes of type Standard_A2m_v2. (4 disks max).
Although 3 disks from pods are already attached, we also see the allocatable and capacity to be left untouched.
[code]

[2019-10-17 20:35] armab commented on #70732
I can't confirm this issue is still present. At least in K8s `v1.15.2`.

I uploaded an image to private Docker registry and tried to re-use that privately hosted image in initContainers. The engine was able to pull it.

After checking, `spec.imagePullSecrets` secrets were used for both `spec.containers` and `spec.initContainers`.

[2019-10-17 20:40] armab commented on #82782
As noted in https://github.com/kubernetes/kubernetes/issues/70732,

I can't confirm this issue is still present. At least in K8s `v1.15.2` it works OK.

`spec.imagePullSecrets` secrets were used for both `spec.containers` and `spec.initContainers`.

[2019-10-17 20:42] liggitt commented on #83997
as an optimization layer, it doesn't seem proper for the cacher to deny serving requests

if we consider the cacher so essential that the server should not be placed into rotation until it is populated, we could consider making it part of the readiness check

[2019-10-17 20:45] Huang-Wei commented on #83321
@tedyu reported it still flaked: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1184738536776011777

@damemi Can you continue looking into this?

[2019-10-17 21:07] mrrandrade commented on #83672
Hey there!

I'm having the same trouble here (kubernetes 1.15.3), but on a very specific situation.

* If I operate on objects with **kubectl**, a **deployment delete** triggers a cascade replicaset delete as expected.

But we don't operate on our cluster using kubectl; we use a custom solution that is kind of outdated.

* If I operate using this custom tools, a **deployment delete**, instead of t

[2019-10-17 21:09] caseydavenport commented on #82494
Closing for now until we have a repro. Please reopen if needed!

/close

[2019-10-17 21:09] #82494 closed

[2019-10-17 21:10] caseydavenport commented on #81642
@wouter-dhaeze ping. Any update?

[2019-10-17 21:14] lavalamp commented on #84001
at 300k goroutines you probably actually have a leak.

See https://github.com/kubernetes/kubernetes/pull/83333 for a recently fixed leak.

[2019-10-17 21:16] lavalamp commented on #84001
For reference, I think a reasonable number of goroutines for a big, heavily loaded cluster is ~50k. Above that something is wrong.

[2019-10-17 21:17] lavalamp commented on #84001
And https://github.com/kubernetes/kubernetes/pull/80465 is one possible thing that could trigger leaking timeouts.

[2019-10-17 21:23] liggitt commented on #84040
Security through obscurity is unlikely to actually improve security. An attacker would just iterate through all available exploits.

[2019-10-17 21:33] wenjiaswe commented on #83938
[etcd](https://kubernetes.io/docs/concepts/overview/components/#etcd) is the Kubernetes’ backing store for all cluster data, it has a history compaction mechanism to avoid performance degradation and eventual storage space exhaustion, here are [some docs on etcd repo](https://github.com/etcd-io/etcd/blob/a621d807f061e1dd635033a8d6bc261461429e27/Documentation/op-guide/maintenance.md#history-compact

[2019-10-17 21:35] Prodian0013 commented on #83063
We have the same issue with n number of nodes on versions 1.14+.  Don't see this issue on 1.13.x.  It's not a pod scheduling issue it seems to be a networking/iptables issues.

[2019-10-17 21:36] fabianbaier commented on #60140
same here.

Trying to download Prometheus snapshots ~= 3.8G

files in the pod:
[code]

Download via `kubectl cp`:
[code]

same for the `prom-snapshot.tar.gz` file.

I am using:
[code]

[2019-10-17 21:43] cblecker opened #84065 "Update to use go 1.12.12 on all supported branches"
https://groups.google.com/d/msg/golang-announce/lVEm7llp0w0/VbafyRkgCgAJ

@kubernetes/release-team
@kubernetes/release-engineering
@kubernetes/product-security-committee

/area release-eng
/priority important-soon
/sig release testing
/kind bug
/milestone v1.17

[2019-10-17 21:48] neolit123 commented on #83929
i just saw single controller manager restart right after bootstrap of a 3CP HA 1.16 cluster:

from cm:
[code]

from api-server:
[code]

are you sure it happened after the cluster was running for a few hours?

[2019-10-17 21:53] The-Loeki commented on #78664
/remove-lifecycle rotten

This issue persists, as the discovery path is hardcoded:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go#L216

I agree that $HOME/.kube should be one setting, like `KUBECTL_CACHE` or `KUBECTL_HOME` or whatever

[2019-10-17 22:04] lavalamp commented on #54498
I think I heard there is a way to query or at least dump the GC graph now?

[2019-10-17 22:16] pwittrock commented on #84013
IIRC, this is in the api machinery layer.

@apelisse can you confirm and maybe give a pointer?

[2019-10-17 22:31] mikedanese commented on #82531
We are hitting another issue with connection caching in http.Transport. Will fill in details in a bit.

[2019-10-17 22:32] alejandrox1 commented on #81333
/priority critical-urgent

[2019-10-17 22:38] liggitt commented on #82531
Specific to (or worse in) 1.13?

[2019-10-17 22:42] alejandrox1 commented on #83834
/priority important-soon

[2019-10-17 22:42] alejandrox1 commented on #83826
/priority important-soon

[2019-10-17 22:44] zhan849 commented on #73360
@conwaychriscosmo we just hit it in 1.14.5, we might want to re-open

[2019-10-17 22:44] mikedanese commented on #82531
Yes, I currently believe so.

[2019-10-17 22:56] #78067 closed

[2019-10-17 23:03] apelisse commented on #84013
Assuming that the problem we're trying to fix is mostly through kubectl usage rather than client-go, I think @tedyu has the best approach to this, and I think I'd be fine reviewing a pull-request going in that direction. This means we would have a new kubectl argument to set the time-out period for the discovery.

People using client-go can already invoke `NewCachedDiscoveryClientForConfig` with t

[2019-10-17 23:20] liggitt commented on #84065
This is important, but based on the actual impact of the resolved issue, does not seem to be critical/urgent

[2019-10-17 23:44] notpad commented on #84059
/assign

[2019-10-17 23:45] notpad commented on #84059
/remove-help

[2019-10-17 23:47] neolit123 commented on #84053
@sbussetti

i cannot reproduce this problem with the following steps:
[code]

the k/k staging/src/k8s.io/apiserver is pushed to k8s.io/apiserver on each commit.

/triage needs-information

[2019-10-17 23:54] wking opened #84068 "Propagate pod errors through ReplicaSet and Deployment status"
Currently pod failures like:

[code]

Are not reflected in the owning ReplicaSet:

[code]

or Deployment:

[code]

I think we should update the `ProgressDeadlineExceeded` message to expose `ImagePullBackOff` and other Pod/container errors which are blocking the Deployment, probably by updating the ReplicaSet status with a message that can be collected when calculating the Deployment status.  That

[2019-10-17 23:55] skwokie opened #84069 "Calling pthread_setschedparam with capability SYS_NICE (or even privileged: true) results in error"
**What happened**:
I'm trying to provision a server and the server code calls pthread_setschedparam. After doing some googling, I've realized that I need to give the container capability of SYS_NICE and so I did, and I've even given it privileged: true; however, the call still returns 2 (ENOENT).

**What you expected to happen**:
The calling returns without any error.

**How to reproduce it (as mi

[2019-10-17 23:57] wking commented on #84068
/sig apps

[2019-10-18 00:00] wking commented on #84068
CC @kubernetes/sig-apps-feature-requests (I'm not actually sure how `feature-requests` differs from `proposals`).

[2019-10-18 00:08] liggitt commented on #84057
Thanks for the feature request, but this is effectively requesting restructuring the entire Kubernetes API, and is unlikely to make progress as an issue. A proposal that works through the design along with the implications of such a change (which are numerous) can be opened as a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps).

/close

[2019-10-18 00:08] #84057 closed

[2019-10-18 00:13] andrewsykim commented on #83791
I made a similar comment in https://github.com/kubernetes/kubernetes/pull/77167#discussion_r336275761, wondering if this is a breaking change in v1.16 that we should revert?

Previously if `nodeIP` is nil, kube-proxy defaults to [127.0.0.1 as the node IP](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L282-L286) but now kube-proxy always exits with error instead

[2019-10-18 00:27] andrewsykim commented on #83791
Opened https://github.com/kubernetes/kubernetes/pull/84071 to preserve behavior before v1.16 where node IP defaults to 127.0.01 is none is found.

[2019-10-18 00:52] qiyongxiao commented on #62897
@mridulganga  This isn't my issue, I see this show the "unknown flags --require-kubeconfig"

[2019-10-18 00:58] #70029 closed

[2019-10-18 01:22] msau42 commented on #82918
Duplicate of https://github.com/kubernetes/kubernetes/issues/69699

[2019-10-18 01:22] msau42 commented on #82918
/close

[2019-10-18 01:22] #82918 closed

[2019-10-18 01:38] zouyee commented on #84059
/assign

[2019-10-18 01:42] bowei commented on #82067
Any updates? This looks like an etcd error rather than a k8s networking error.

[2019-10-18 01:45] aishwaryaprabhat commented on #75803
Hi I am getting the same error on Ubuntu. Any advice on how to resolve this issue?

[2019-10-18 02:00] notpad commented on #84059
/unassign

[2019-10-18 02:03] #84033 closed

[2019-10-18 02:45] whs-dot-hk commented on #83984
Hi, done

[2019-10-18 02:47] draveness commented on #83285
/unassign

[2019-10-18 02:50] #83637 closed

[2019-10-18 03:01] hasheddan commented on #84004
@droslean This popped up again today (15:58 PDT), do you think it is worth reopening?

[2019-10-18 03:10] answer1991 commented on #84001
@lavalamp Thanks for your reply.

I had already picked #83333 and #80465  to our environment.

I do not think API Server still leaking goruntines, because our API Server should process about 200k+ request in every minutes and has more than 300k+ watches. And we had already set most pods `autoAmountServiceAccount` to be `false`, or more watches will be connected between API Server and kubelet. Plea

[2019-10-18 03:23] answer1991 commented on #83997
@liggitt thanks for your reply.

Yes, remind me of #83745. API Server should not accept request before Cacher is ready, we should not add API Server as a backend of LoadBalance before its Cacher is ready. Because Authn will make API Server call etcd frequently before API Server informer is ready.

Have we implemented `/readyz` for now?

[2019-10-18 03:34] mikedanese commented on #82531
Looks like this is broken:

https://github.com/golang/go/commit/43b9fcf6fe9feb0ec67a7ddb01e5b542542b47c8

[2019-10-18 03:35] mikedanese commented on #82531
Looks like this is broken:

https://github.com/golang/go/commit/43b9fcf6fe9feb0ec67a7ddb01e5b542542b47c8

I filed https://github.com/golang/go/issues/34978

[2019-10-18 03:51] calmkart commented on #83672
@ mrrandrade
i think your problem is cause by garbage-colletion config.
in k8s, there is three kind of garbage-collection deletion way
- orphan
- Foreground
- Background

Foreground and Background are the two modes of cascading deletion.
orphan mode just delete the owner but not delete the Dependent.

cascading deletion is default turn on in kubectl client. if you use kubectl to delete owner, such

[2019-10-18 04:01] #77404 closed

[2019-10-18 04:17] ahg-g opened #84076 "Remove "lister" wrappers in the scheduler"
**What would you like to be added**:
Remove scheduler "lister" wrappers ServiceLister, ControllerLister, ReplicaSetLister and PDBLister. Users of those listers should directly use shared informer listers.

**Why is this needed**:

All those listers are just wrappers around informer cache listers, they provide no value. Removing them simplifies things, and allows us to define a simpler interface wi

[2019-10-18 04:18] ahg-g commented on #84076
@draveness this should supersede the PR for moving the listers out.

[2019-10-18 04:19] #84039 closed

[2019-10-18 06:03] tangcong opened #84078 "healthz check etcd failed: error getting data from etcd: etcdserver: permission denied"
**What happened**:
apiserver fails to pass readiness/liveness check when we upgrade k8s 1.12 to k8s.14+.
there are some detail error messages in apiserver when we increase log level to 6(healthz check etcd failed: error getting data from etcd: etcdserver: permission denied.)
our etcd cluster grant specified prefix(for example,/cluster-1) permission to k8s cluster. there is no problem in k8s1.12.
e

[2019-10-18 06:07] tangcong commented on #84078
sig/api-machinery

[2019-10-18 06:09] tangcong commented on #84078
@kubernetes/api-machinery

[2019-10-18 06:09] tangcong commented on #84078
/sig api-machinery

[2019-10-18 06:15] luciferhs commented on #83938
[root@master istio]# kubectl get nodes
NAME     STATUS   ROLES    AGE    VERSION
master   Ready    <none>   6d2h   v1.16.0
node1    Ready    <none>   6d2h   v1.16.0
node2    Ready    <none>   6d2h   v1.16.0
node3    Ready    <none>   6d2h   v1.16.0
[root@master istio]# kubectl get cs
NAME                 AGE
controller-manager   <unknown>
scheduler            <unknown>
etcd-2               <unknow

[2019-10-18 07:03] droslean commented on #84004
Let's reopen the issue and try to observe the job. It would be better to understand if this job flakes, and how to resolve it.

[2019-10-18 07:10] tcmichael commented on #83282
depulicate: https://github.com/kubernetes/kubernetes/issues/74374

[2019-10-18 07:10] wojtek-t commented on #84001
I agree that in large enough clusters hundreds of thousands of goroutines is WAI.
And this is mostly coming from the fact that there are IIRC 3 goroutines per watch request:
- the main one processing the request
- per watcher one in cacher: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L523
- CloseNotify from here:
https://github.com

[2019-10-18 07:14] chendotjs commented on #76064
/assign

[2019-10-18 08:16] aojea commented on #83063
The iptables rules with the rejects are correct, they are rejecting the traffic because the services don't have endpoints.

The key to understand the problem is, once you boot the cluster and you see those iptables rules, to check the status of the pods and the services, that will give us more info so we can understand the problem.

I personally couldn't reproduce it but, can you check the status

[2019-10-18 08:18] aojea commented on #78926
/close

it was already answered

[2019-10-18 08:18] #78926 closed

[2019-10-18 08:24] jxiewei commented on #76316
/remove-lifecycle rotten

[2019-10-18 08:35] reegnz opened #84081 "OpenAPI definition for AdmissionReview"
**What would you like to be added**:

I would like an OpenAPI schema definition for admission controllers for the purposes of generating the API types (and potentially servers or server stubs) in multiple languages.

**Why is this needed**:

Now that AdmissionReview is promoted to v1, it would be welcome if we could get an OpenAPI schema on how such an API would look like.

Currently we have a nic

[2019-10-18 09:33] mikeparker commented on #76714
/remove-lifecycle stale

[2019-10-18 09:35] frittenlab commented on #76531
This issue has been fixed at last. Since the last containerd.io update my logs are behaving normally again.

`dpkg -l |grep containerd
ii  containerd.io                    1.2.10-2                                    amd64        An open and reliable container runtime`

` runc --version
runc version 1.0.0-rc8+dev
commit: 3e425f80a8c931f88e6d94a8c831b9d5aa481657
spec: 1.0.1-dev`

[2019-10-18 10:16] fungnaz commented on #76531
confirm with @frittenlab update containerd.io 1.2.10-2  solve the problem.

[2019-10-18 11:45] wojtek-t commented on #73527
I meant https://github.com/kubernetes/kubernetes/pull/75965

[2019-10-18 11:51] aojea commented on #83903
@droslean I can't see the relationship of that diff with the problem of iptables holding the lock, can you expand a bit more?

[2019-10-18 12:03] gongguan commented on #73527
ok, seems no need for me to implement the selector-cache

[2019-10-18 12:06] knightXun opened #84085 "[storage]: Support SPDK"
Nvme-SSD is the future of storage, It can bring greater performance than HDD. In the future the price of Nvme-SSD will continue to go down. I still notice Openstack Cinder already support SPDK. I think kubernetes can do that too.

[2019-10-18 12:11] aermakov-zalando commented on #13829
/reopen

[2019-10-18 12:25] thanasisk opened #84086 "Unable to provide PVC under Azure self-hosted k8s v1.14.7 - InvalidApiVersionParameter - 2018-09-30"
**What happened**:
Unable to provide PVC under Azure self-hosted k8s v1.14.7.
`
32m         Warning   ProvisioningFailed          PersistentVolumeClaim   Failed to provision volume with StorageClass "azure-storage-class": compute.DisksClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: Code="InvalidApiVersionParameter" Message="The api-version '2018-09-30' is invalid. T

[2019-10-18 12:27] thanasisk commented on #84086
/sig storage
/sig azure

[2019-10-18 12:33] droslean commented on #83903
We noticed that after those commits, the problem was resolved.  For more details about the job, please check https://k8s-testgrid.appspot.com/sig-release-master-blocking#kind-ipv6-master-parallel

[2019-10-18 12:35] zakthan commented on #43867
it would be very nice because deleting namespaces and recreating them you need to fix RBAC again

[2019-10-18 13:47] rojkov commented on #71233
The issue is still there.
/reopen

[2019-10-18 13:51] hasheddan commented on #84004
I looked into it a little bit above https://github.com/kubernetes/kubernetes/issues/84004#issuecomment-542696587 but not sure if I am correct. Maybe @janetkuo would have some insight?

[2019-10-18 13:58] alexanderaucobo commented on #73906
Updated to EKS-14 and now i have the same Problem.

[2019-10-18 14:02] ericzhang08 commented on #81518
@andrewsykim  I am sorry to forget to finish this issue. I have unassigned this issue.

[2019-10-18 14:21] aojea commented on #83903
ahh well, that's a good observation but not necessarily a definitive indication, there were longer periods before without any failure :-)

If you can see in Ben's and previous comments in this thread https://github.com/kubernetes/kubernetes/issues/83903#issuecomment-541764719  this is something we are monitoring closely for a long time, and we are aware that there are different things that are cre

[2019-10-18 14:21] #83903 closed

[2019-10-18 14:34] siwyd commented on #71907
Getting this too.

[2019-10-18 14:48] Planktonette commented on #84040
This is true, but it's long since been beyond discussion that not giving away information to basic information gathering techniques is in fact a good thing.

If, for instance, the approach was to simply disable /version while not patching for known exploits, then yes, that would indeed be "security through obscurity". On the other hand, shouting your specific version to any tom dick or harry who a

[2019-10-18 14:51] kmoorfield commented on #84040
On a similar note, it might not be that hard to just move the /version endpoint behind authentication, as it seems to be one of the only unauthorised endpoints that exist (that I know of currently in v1.16.0).
This would do the same function as just disabling the endpoint.

[2019-10-18 14:53] ahg-g commented on #83554
/milestone v1.17

[2019-10-18 14:53] ahg-g commented on #83554
All of them.

[2019-10-18 14:57] Planktonette commented on #84040
Also, if it helps any, tools like kube-hunter and similar list this as a vulnerability:

[code]

So from an infosec auditing perspective, being bugged by this on every scan is annoying when there's no option to disable from the vendor.

[2019-10-18 15:02] muka commented on #79384
I am using a module that require kubernetes 1.16.2

To build my project, I had to port all the `k8s.io/*` under the `replace` section of kubernetes go.mod in my own go.mod. I feel so bad about it, but works :P

[code]

[2019-10-18 15:03] tedyu commented on #65200
In GarbageCollector#attemptToDeleteItem :
[code]
I think we should continue with other dependents performing the unblocking (instead of breaking out of the loop).

[2019-10-18 15:06] alejandrox1 commented on #25231
From my understanding, this needs to be done in order to tackle https://github.com/kubernetes/kubernetes/issues/19077
/reopen
/lifecycle frozen

[2019-10-18 15:07] alejandrox1 commented on #25231
/priority backlog

[2019-10-18 15:08] liggitt commented on #84040
It is already behind authentication/authorization. It is included in the [`system:public-info-viewer`](https://github.com/kubernetes/kubernetes/blob/release-1.16/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml#L1177-L1194) role by default.

The healthz/readyz/livez endpoints have the clearest use case (unauthenticated load balancers needing to know whether to include th

[2019-10-18 15:29] droslean opened #84088 "[Failing Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:
`gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)`

**Which test(s) are failing**:
`[sig-apps] Deployment should not disrupt a cloud load-balancer's connectivity during rollout`

**Since when has it been failing**:
18 Oct 05:03 PDT

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reas

[2019-10-18 15:30] droslean commented on #84088
/sig apps

[2019-10-18 15:31] droslean commented on #84088
/cc @alenkacz @alejandrox1 @hasheddan @Verolop

[2019-10-18 15:45] itninja-hue commented on #78761
I am having the same, issue , at first i thought its not scaling down, but as time went by , exactly 6 minutes , hpa scaled down the pods.
After looking at the events log , it showed up that an event was triggered to scale down the pods the moment the cpi load went off , but got executes 6 minutes later. I guess this is a feature or how it is supposed to work , it would be nice if we can get a  gr

[2019-10-18 16:20] tedyu commented on #25231
Should status update be triggered when either

1. there is new event and predefined interval has passed
2. SyncPod is called

#1 is for batching and #2 is to be compatible with current implementation.

[2019-10-18 16:23] #83873 closed

[2019-10-18 16:55] damemi commented on #83321
@Huang-Wei I'll keep trying, from my previous debugging it seems that in some cases the test cluster is entering full disruption mode and removing all of the taints from the nodes. I know we specifically made changes to the test (using multiple nodes) to ensure it wouldn't become fully disrupted, do you have any idea what could still be causing that?

[2019-10-18 17:22] shanesiebken commented on #83679
Hi, I'm sorry I haven't had a chance to follow up with this ticket. I will get some pod yaml attached early next week. Thank you for following up.

[2019-10-18 17:27] VojtechVitek commented on #26424
`--attach=true --restart=Never` returns with the pod's exit code :)

[2019-10-18 17:27] jhohertz commented on #67577
Any word from the scheduler maintainers re: the ack Greg HK was looking for to get it into stable tree(s)?

[2019-10-18 17:28] alejandrox1 commented on #84088
/priority critical-urgent
/milestone v1.17

[2019-10-18 17:28] alejandrox1 commented on #84088
/cc @kubernetes/sig-apps-test-failures

[2019-10-18 17:33] brentpearson commented on #76531
What version of K8s fixes it?

[2019-10-18 17:47] siwyd commented on #76531
@brentpearson None, it's a runc bug. So it depends on your runc version, which might differ depending on how you install Docker or containerd or perhaps install runc yourself...

[2019-10-18 17:50] ialidzhikov commented on #72757
/remove-lifecycle stale

[2019-10-18 17:54] eduardobaitello commented on #76531
Only docker 19.03.3 has [_containerd_ version bumped](https://github.com/docker/engine/pull/385) to v1.2.10.

But beware, as Kubernetes v1.16.x [doesn't support](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#unchanged) docker 19.x versions.

[2019-10-18 18:10] ialidzhikov commented on #72757
Hmm, I don't see it as hard requirement. Since more than 2 years (more than 8 k/k minor releases) the kube-addon-manager supports both `kubernetes.io/cluster-service: "true"` and `addonmanager.kubernetes.io/mode: Reconcile/EnsureExists`. I believe that the master branch should always point to the latest and should not contain any deprecated things. Users running really legacy version of kube-addon

[2019-10-18 19:16] #77141 closed

[2019-10-18 19:37] andrewsykim commented on #84041
Do we want tcp/tcpfin/udp timeouts configurable at the kube-proxy level or the Service level?

[2019-10-18 19:37] #82816 closed

[2019-10-18 19:47] #84030 closed

[2019-10-18 20:18] davidz627 commented on #83689
Just saw this again and don't know what I was thinking. Seems like `MaxFileSize` is referring to file size for writing into the disk during tests - `SupportedSizeRange` is about the disk size itself. Was confused because `SupportedSizeRange` does not specify the size of what. These fields are not redundant.

[2019-10-18 20:18] #83689 closed

[2019-10-18 20:22] chiluk commented on #67577
Greg KH has held off on making a decision about this patch because the scheduler maintainers have been unresponsive (the probably just missed the mail).

[2019-10-18 20:27] #80386 closed

[2019-10-18 20:38] tedyu commented on #83689
@davidz627
How about adding comment above the two fields so that people looking at this code in the future would have better idea ?

I can send out a PR for this.

[2019-10-18 20:40] liggitt commented on #84081
sure, there's no requirement for webhooks to be written in go

Can you clarify what you mean by that?

[2019-10-18 21:08] davidz627 commented on #83689
yeah I think that would be good.

[2019-10-18 21:39] Huang-Wei commented on #83321
@damemi There is some flag controlling how the dispution thing is managed internally, maybe you can check how a node lifecycle manager is constructed.

[2019-10-18 21:51] lthiru opened #84095 "HPA counts unready pods and doesn't consider them for desiredReplica calculation"
**What happened**: HPA does not scale up pods as expected after upgrade from kubernetes 1.10.6 to 1.12.8.
In below snippet, although the scaling metric is beyond the target value, Replicas count is not increasing.

NAME                           REFERENCE              TARGETS     MINPODS   MAXPODS   REPLICAS   AGE
test-service-hpa    Deployment/test-deploy    666m/600m   3            100

[2019-10-18 21:52] lthiru commented on #84095
@kubernetes/sig-autoscaling-bugs

[2019-10-18 22:06] neolit123 commented on #83929
i ran a 1.16.0 HA cluster created with kubeadm for 24h and it saw no component restarts once all the components came up (see above).

@Davidrjx

please confirm if you are still seeing this.

[2019-10-18 22:26] Office-Manager opened #84096 "Patching stateful set not updating statefulset"
**What happened:**
Patching a statefulset results in no change being registered and no update takes place

**What you expected to happen:**
After running the `kubectl patch` command for the sts to be updated with the new parameters

**How to reproduce it (as minimally and precisely as possible):**
[code]

Results in
`statefulset.apps/mehdb patched (no change)`

Expected result would be
[code]

act

[2019-10-18 22:31] Office-Manager commented on #84096
@kubernetes/sig-cli-bug

[2019-10-18 22:38] Office-Manager commented on #84096
/sig cli

[2019-10-18 22:51] liggitt commented on #84096
The trailing slash in the patch path looks wrong. Doesn't that map to the empty key "" under the 0-th container?

[2019-10-18 23:10] Office-Manager commented on #84096
Hmm well the alternative without the / seems to create a 0 index container which is not desired.

[2019-10-18 23:27] liggitt commented on #84096
I think you probably want a set op at path /spec/template/spec/containers/0/args

[2019-10-18 23:37] msau42 opened #84097 "Hostpath CSI tests flaky due to PodFitsHostPorts predicate failure"
**Which jobs are failing**:

**Which test(s) are failing**:
CSI Volumes tests using hostpath driver

**Since when has it been failing**:
Unsure

**Testgrid link**:
Here's a sample failure run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83474/pull-kubernetes-e2e-gce-storage-slow/1185309732341026816/

**Reason for failure**:
hostpath csi driver containers fail to come up due to:
Oc

[2019-10-18 23:37] msau42 commented on #84097
@kubernetes/sig-storage-test-failures
/kind flake
/assign

[2019-10-18 23:41] msau42 commented on #84097
I will try to see if we can remove hostNetwork from the hostpath driver [spec](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml#L37)

[2019-10-19 00:02] msau42 commented on #83845
@kubernetes/sig-storage-bugs

[2019-10-19 00:50] raushan2016 commented on #81508
+1 same scenarios, want to use crds with custom etcd.

[2019-10-19 00:59] opengers commented on #84041
@andrewsykim  Yes, this is a suggestion
Just like `net.netfilter.nf_conntrack_tcp_timeout_established` can be set by kube-proxy option `--conntrack-tcp-timeout-established`

[2019-10-19 01:16] skwokie commented on #84069
/sig api-machinery

[2019-10-19 02:08] draveness commented on #83321
The test still flakes after we merge #84036
 https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/82703/pull-kubernetes-integration/1185364587571056642/

[2019-10-19 02:13] jammerful commented on #55946
@gnufied Yes, please let us know how to document this. Just ran into this taint.

[2019-10-19 03:01] #82635 closed

[2019-10-19 03:14] draveness opened #84100 "[scheduler] Cleanup CheckNodeMemoryPressure/DiskPressure/PIDPressure/Condition predicates"
**What would you like to be added**:

Remove the following predicates

[code]

**Why is this needed**:

The TaintNodeByConditions was graduate into a stable version in https://github.com/kubernetes/kubernetes/pull/82703, we could now remove the unused predicates for cleanup.

/assign
/sig scheduling
/kind cleanup
cc/ @ahg-g

[2019-10-19 03:29] ahg-g commented on #84100
+1 they have been practically deprecated since TaintNodeByConditions was in Beta (since 1.12).

[2019-10-19 03:46] zouyee opened #84101 "rename FilterPlugin NodeResources"
**What would you like to be added**:

Move `plugins/noderesources/node_resources.go`  to `noderesources/fit.go` and rename it with  NodeResourcesFit

**Why is this needed**:
After https://github.com/kubernetes/kubernetes/pull/84074 merged
/assign
/sig scheduling
/cc @ahg-g

[2019-10-19 04:54] #83874 closed

[2019-10-19 06:57] sarajmunjal commented on #73527
@wojtek-t I'd like to work on this as a first issue if you don't mind. Should we iterate on #75965 or try afresh?

[2019-10-19 07:09] paalkr commented on #72775
This bug actually did take down a production cluster just recently. One of our deployments scaled out to 120 PODs in a very short time during a rolling update, saturating the nodes. To make thing worse the pods did stuck at terminating state when we started to clean up manually.

So this is at least for us a critical bug, present in k8s 1.14.6 (on AWS deployed with kube-aws)

[2019-10-19 07:11] paalkr commented on #72775
@max-rocket-internet , why is is better to open a new issue rather then reopening this issue?

[2019-10-19 07:42] langyenan commented on #78733
the readiness result is also modified in `syncPod` (before probe worker is invoked), I submitted a PR to keep the result as it was before kubelet restarted

[2019-10-19 08:06] wawa0210 commented on #74173
I have reproduced this problem in the French environment, but the English environment is normal, has your windows installed other languages? I looked at the example of npd on Microsoft's official website and found that it may be a problem with kubernetes. I am following up with the community.

The microsoft offical example is : https://docs.microsoft.com/en-us/windows/win32/perfctrs/determining-wh

[2019-10-19 08:40] rmgogogo commented on #65200
/cc ironpan

[2019-10-19 09:10] Office-Manager commented on #84096
Thank you very much , my incorrect assumption was that because the args field didn't exist I would't be able to give it the path

[code]

works as expected

[2019-10-19 09:10] #84096 closed

[2019-10-19 09:22] alitoufighi commented on #83612
@zouyee
As @tedyu said, do you think a different staged scan when there's some pressure on node for getting existing Pods would solve this?
Can Kubelet find out how much size of disk, inode, etc. each Pod gets? So it could schedule some low-priority Pods to be evicted until it meets the threshold.

[2019-10-19 09:30] #76619 closed

[2019-10-19 09:40] Fennixx opened #84106 "Enviroment variable is not correctly added from secret."
**What happened**:
Enviroment variable is not listed when I connect to POD /bin/sh and run env command, but if I run same command via kubectl exec <pod> env it is listed there.
Name of env variable what causing this issue is:
PRCLISTENER_REST_HEADERS_x-ibm-client-id

**What you expected to happen**:
Need to have enviroment variable in pod correctly listed and recognized by app.

[2019-10-19 09:42] Fennixx commented on #84106
/sig bugs

[2019-10-19 09:43] Fennixx commented on #84106
/sig platform/other

[2019-10-19 09:46] droslean commented on #83947
/close
all required PRs merged. The job is passing now.
https://k8s-testgrid.appspot.com/sig-release-master-informing#Conformance%20-%20OpenStack

[2019-10-19 09:46] #83947 closed

[2019-10-19 09:50] Fennixx commented on #84106
/sig cli

[2019-10-19 09:52] droslean commented on #84004
well the job is running every 3 hours and the flakes are really rare.
I would be happy to improve that situation and have 0 flakes but until then there is no need to have this issue opened, since this was related to falling one and not the flakes.

I am closing this issue. If we need to monitor the flakes we should do it in a different issue.

/close

[2019-10-19 09:52] #84004 closed

[2019-10-19 09:59] ZP-AlwaysWin commented on #84106
Can you give the correct method of recurrence

[2019-10-19 10:20] droslean commented on #84088
/cc @janetkuo @kow3ns @mattfarina

[2019-10-19 10:33] droslean opened #84107 "[Failing Test] gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)"
**Which jobs are failing**:
`gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)`

**Which test(s) are failing**:
[code]

[code]

[code]

[code]

[code]
[code]
[code]
[code]
[code]

**Since when has it been failing**:
18 Oct 13:17 PDT

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-cos-master-slow

**Reason for failure**:
check https://prow.k8s.io/view/gcs/ku

[2019-10-19 10:34] droslean commented on #84107
/sig network
/cc @caseydavenport @dcbw @thockin
/cc @alenkacz @alejandrox1 @hasheddan @Verolop

[2019-10-19 10:38] droslean commented on #84107
/priority critical-urgent
/milestone v1.17

[2019-10-19 11:32] #78209 closed

[2019-10-19 12:15] cmcarey opened #84109 "Kubernetes namespaces stuck in terminating state"
These issues are still present despite the tickets being closed:

- https://github.com/kubernetes/kubernetes/issues/73186
- https://github.com/kubernetes/kubernetes/issues/19317
- https://github.com/kubernetes/kubernetes/issues/60807

[2019-10-19 12:27] #81875 closed

[2019-10-19 13:47] #82385 closed

[2019-10-19 14:03] ahg-g opened #84110 "Add filter plugins for "MaxEBSVolumeCount", "MaxGCEPDVolumeCount", "MaxAzureDiskVolumeCount", "MaxCinderVolumeCount" predicates."
**What would you like to be added**:
Add filter plugins for "MaxEBSVolumeCount", "MaxGCEPDVolumeCount", "MaxAzureDiskVolumeCount", "MaxCinderVolumeCount" predicates.

Those should be added under ```plugins/nodevolumelimits```. File names would be ```ebs.go```, ```gce```, ```azure.go``` and ```cinder.go```. Plugin struct name should be the same pattern, ```EBS```, ```GCE```, ```Azure``` and ```Cind

[2019-10-19 14:10] Fennixx commented on #84106
I cant, the exact case is confidential, but I normally created secret, with PRCLISTENER_REST_HEADERS_x-ibm-client-id and execute kubectl apply. Then using helm chart where in deployment I fulfill environment variables from this secret, and install that helm chart. Then when I connect to created pod to /bin/sh and execute env command, all envs from secret are there except this one. And when i try i

[2019-10-19 14:21] tedyu commented on #84109
Can you provide more information such as controller manager log (snippet) ?

Thanks

[2019-10-19 14:37] gongguan commented on #84110
/assign

[2019-10-19 14:52] draveness commented on #84110
/remove-help

[2019-10-19 15:05] zouyee commented on #84110
/remove-help want

[2019-10-19 15:05] #84076 closed

[2019-10-19 15:31] donnyv12 commented on #72878
Ran into this issue as well this morning on GKE 1.12.

[2019-10-19 15:34] sudeeptoroy opened #84112 "crd validation fails to take effect for the below definition"
**What happened**:
Here is how I defined my CRD
[code]
This is correct custom resource and gets executed.
[code]
However I don’t expect this to pass but it does.

[code]
is this expected?

**What you expected to happen**:
"foo-bad" should have failed.

**How to reproduce it (as minimally and precisely as possible)**:
mentioned above
**Anything else we need to know?**:

**Environment**:
- Kubernete

[2019-10-19 15:37] sudeeptoroy commented on #84112
/sig api-machinery
/area custom-resources

[2019-10-19 17:33] andrewsykim commented on #82065
/remove-triage unresolved
/triage support

[2019-10-19 17:34] liggitt commented on #84112
Shouldn't spec have type:object?

[2019-10-19 17:44] liggitt commented on #84112
Type should be specified for every property

[2019-10-19 17:45] andrewsykim commented on #84041
/remove-triage unresolved

[2019-10-19 17:47] andrewsykim commented on #84041
@opengers so if we add `--ipvs-tcp-timeout` to kube-proxy, then all IPVS services inheirt IPVS TCP timeout from the kube-proxy options. One other alternative would be to add an annotation on Services so you can set TCP timeout on a per Service basis.

If we expose this knob via the API, will users find it useful or are we exposing an unecessary knob?  Maybe kube-proxy flags for defaults but allow

[2019-10-19 19:22] sudeeptoroy commented on #84112
Thanks for the reply. Do you have an example i can refer to.

[2019-10-19 19:28] liggitt commented on #84112
The examples at https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#status-subresource demonstrate fully specifying the types for every property

[2019-10-19 19:57] millerick commented on #80397
/remove-lifecycle stale

[2019-10-19 20:41] #77859 closed

[2019-10-19 20:47] liggitt commented on #84109
Namespaces remain in terminating state until all namespaced resources can be verified to have been cleaned from the namespace.

That requires ALL registered APIs to be available. Typically when a namespace remains in terminating state, an aggregated API (registered with an APIService object) is unavailable. In 1.16, the namespace cleanup controller adds details to the namespace status if it is blo

[2019-10-19 20:48] liggitt commented on #84101
Does the rename break existing policy config files?

[2019-10-19 21:19] ahg-g commented on #84101
No.

[2019-10-19 21:30] smarterclayton commented on #19077
I commented on the cri-o issue, but I think we could separate this into two parts:

1. Progress for end users of kube (the issue this was raised for)
2. Better administrative / operational insight into pulls

The former is definitely Kube since it would have to be exposed via an api.  However the second is likely to be fairly specific to container runtime implementation and the storage that backs

[2019-10-19 22:43] #78186 closed

[2019-10-19 23:37] cblecker commented on #84065
Master branch/1.17 has been merged (https://github.com/kubernetes/kubernetes/pull/84064)

Release branch PRs:
- 1.16: https://github.com/kubernetes/kubernetes/pull/84114
- 1.15: https://github.com/kubernetes/kubernetes/pull/84115
- 1.14: https://github.com/kubernetes/kubernetes/pull/84116

Test-infra:
- https://github.com/kubernetes/test-infra/pull/14870

[2019-10-20 00:33] #84112 closed

[2019-10-20 02:53] 928234269 commented on #84106
You can try using Bash, can you see the environment variable？

[2019-10-20 03:34] smarterclayton commented on #58711
I have a recreate e2e test in #84122 https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/84119/pull-kubernetes-e2e-gce/1185735898881331201/  that demonstrates the failure.

I'll continue to refine the test to make it more reproducible.

[2019-10-20 05:06] pratapdasar commented on #83850
Cloudmanager logs:

I1020 04:56:28.226098 8 aws_loadbalancer.go:1019] Creating load balancer for default/web1111 with name: af9443fdff2f511e989c80af5257a2f5
I1020 04:56:28.809288 8 aws_loadbalancer.go:1268] Updating load-balancer attributes for "af9443fdff2f511e989c80af5257a2f5"
E1020 04:56:28.851059 8 service_controller.go:219] error processing service default/web1111 (will retry): failed to ensu

[2019-10-20 06:08] mucahitkurt commented on #75273
/remove-lifecycle rotten

[2019-10-20 06:51] #77771 closed

[2019-10-20 06:51] #78202 closed

[2019-10-20 07:15] alenkacz opened #84125 "LB test failing after a PR merge"
**Which jobs are failing**:
gce-cos-master-serial

**Which test(s) are failing**:
Services should reconcile LB health check interval
Firewall rule [Slow] [Serial] should create valid firewall rules for LoadBalancer type service

**Since when has it been failing**:
Since this PR got merged https://github.com/kubernetes/kubernetes/pull/83934

**Testgrid link**:
https://testgrid.k8s.io/sig-release-ma

[2019-10-20 07:16] alenkacz commented on #84125
cc. @MrHohn @wccsama

[2019-10-20 07:16] alenkacz commented on #84125
/remove sig/scheduling

[2019-10-20 07:17] alenkacz commented on #84125
/sig network

[2019-10-20 07:18] alenkacz commented on #84125
/remove-sig scheduling

[2019-10-20 07:22] draveness commented on #83829
cc/ @liggitt @guineveresaenger

I updated the description, could you please take another look? Thanks

[2019-10-20 07:32] alenkacz commented on #84125
duplicate of #84107

[2019-10-20 07:33] alenkacz commented on #84125
/close

[2019-10-20 07:33] #84125 closed

[2019-10-20 07:33] alenkacz commented on #84107
I believe this is caused by this merge https://github.com/kubernetes/kubernetes/pull/83934 cc. @MrHohn @wccsama

[2019-10-20 09:07] bboreham commented on #19077
FWIW my interest comes from working on tools layered on top of Kubernetes, where the rollout is initiated by something other that `kubectl` (for instance a git commit).
And we'd like that tooling to be able to feed back status and/or issues without guessing.

Status needs to be tied to a specific update, since multiple overlapping updates can be issued.

I can't immediately see how Prometheus solv

[2019-10-20 09:26] frittentheke commented on #57291
/remove-lifecycle stale

[2019-10-20 10:23] MaciekPytel commented on #79272
/remove-lifecycle rotten

[2019-10-20 10:41] mikkeloscar commented on #63750
I haven't looked deeply into this for a while. a quick look at our dashboards suggest we are still landing in a 125 bucket.

![api-latency](https://user-images.githubusercontent.com/128566/67158302-d2af5400-f336-11e9-93b0-0023f643419a.png)

We are currently running `v1.14.8`

[2019-10-20 11:14] zhangguanzhang commented on #76956
`1.14.8` also had this error

[2019-10-20 11:14] zouyee commented on #75065
/remove-lifecycle stale

[2019-10-20 12:08] feiskyer commented on #84052
/assign @chewong

@chewong could you help to take a look?

[2019-10-20 13:51] shibumi opened #84127 "Building kubectl 1.16.0 from source fails due to latest tags"
**What happened**:
I try building kubectl from source for official Arch Linux repositories.
We use kubernetes version 1.16.0 to build only the kubectl component.

We use the following dependencies:
* go with PIE enabled (1.13.1)
* rsync 3.1.3
* git 2.23.0

Our build system jut downloads the kubernetes-src tarball and executes the following commands for building  kubectl:

[code]

During `make` we

[2019-10-20 13:53] shibumi commented on #84127
/sig cli

[2019-10-20 14:05] cwdsuzhou commented on #82837
/close

[2019-10-20 14:05] #82837 closed

[2019-10-20 15:03] uzuku opened #84130 "fakeTimer doesn't fire after calling Reset when the timer has been stopped or expired"
**What happened**:

k8s.io/apimachinery/pkg/util/clock.fakeTimer doesn't fire after calling Reset when the timer has been stopped or expired.

**What you expected to happen**:

After calling Reset, the timer should always fire after the reset duration.

**How to reproduce it (as minimally and precisely as possible)**:

After calling Reset on a expired fakeTimer, the timer cannot fire anymore, whil

[2019-10-20 15:10] uzuku commented on #84130
/sig api-machinery
/assign

[2019-10-20 16:00] glensc commented on #78664
@The-Loeki :

Don't link to branches!
- see https://news.ycombinator.com/item?id=8046710
  and https://help.github.com/articles/getting-permanent-links-to-files/
- hit `y`
- and perhaps https://github.com/josephfrazier/octopermalinker

[2019-10-20 17:01] #69717 closed

[2019-10-20 17:48] AnSmol commented on #18174
Like mentioned Kubespray, Rancher deployed clusters mitigate this by putting nginx on every worker.  https://rancher.com/docs/rancher/v2.x/en/troubleshooting/kubernetes-components/nginx-proxy/

[2019-10-20 18:01] liggitt commented on #84127
What version of go are you using?

[2019-10-20 18:11] BenTheElder commented on #70767
Is there support in kubelet config for $HTTP_PROXY and friends?

[2019-10-20 20:00] george-angel commented on #73269
/remove-lifecycle rotten

[2019-10-20 20:00] george-angel commented on #73269
/remove-lifecycle stale

[2019-10-20 20:04] #77660 closed

[2019-10-20 20:14] shibumi commented on #84127
@liggitt Go  1.13.1 with PIE

[2019-10-20 20:27] liggitt commented on #84127
the build scripts do not yet support go1.13. See https://github.com/kubernetes/kubernetes/issues/82531 for tracking work to support go1.13

[2019-10-20 20:27] #84127 closed

[2019-10-20 21:42] odacremolbap commented on #72782
This one might be tricky to tackle.

Revisions are saved as `ReplicaSets` owned by the `Deployment`. Returning the latest version when asking for the deployment full data, be it JSON or YAML, is the only right  approach since there is no other deployment revision stored.

When using the `NamePrint` (non JSON, YAML, template), the deployment replicasets are being retrieved and the template object f

[2019-10-20 22:06] #78224 closed

[2019-10-20 22:06] #78231 closed

[2019-10-20 22:30] boddumanohar commented on #83891
I would like to take this task up.

[2019-10-20 22:36] josiahbjorgaard commented on #58211
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:36] josiahbjorgaard commented on #18394
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:37] josiahbjorgaard commented on #70132
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:38] josiahbjorgaard commented on #62046
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:38] josiahbjorgaard commented on #70189
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:38] josiahbjorgaard commented on #48610
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:39] josiahbjorgaard commented on #68244
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:41] josiahbjorgaard commented on #71677
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:41] josiahbjorgaard commented on #69376
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:42] josiahbjorgaard commented on #43214
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:43] josiahbjorgaard commented on #67602
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 22:43] josiahbjorgaard commented on #62277
Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on Nov. 18th. Will this issue be resolved before then?

[2019-10-20 23:06] boddumanohar commented on #83891
I think this facility is already available.

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

by default, kubernetes provide support for any private docker repository using the docker login facility. So all you have to do is use `docker login` and add your credentials.

On that particular host you can pass `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` and ru

[2019-10-20 23:07] #75726 closed

[2019-10-20 23:16] boddumanohar commented on #83300
are you able to access this url from your browser?

[2019-10-20 23:19] neolit123 commented on #71677
hopefully it can be resolved in future cycles.
/milestone v1.18

[2019-10-20 23:22] neolit123 commented on #68244
/wg component-standard

[2019-10-20 23:23] neolit123 commented on #68244
cc @mtaufen @stealthybox

[2019-10-20 23:25] neolit123 commented on #83936
/close
please re-open if needed.

[2019-10-20 23:25] #83936 closed

[2019-10-20 23:39] liggitt commented on #84086
/assign @andyzhangx

[2019-10-21 01:09] #78268 closed

[2019-10-21 01:09] #72181 closed

[2019-10-21 01:42] krmayankk commented on #47326
/remove-lifecycle rotten

[2019-10-21 01:42] krmayankk commented on #47326
/reopen

[2019-10-21 01:42] krmayankk commented on #47326
/lifecycle frozen

[2019-10-21 01:44] RainbowMango commented on #83876
Yes. I opened a PR and see what would happen. (I guess it should be fine now)https://github.com/kubernetes/kubernetes/pull/84135

[2019-10-21 02:00] danielzhanghl commented on #80969
@praveensastry hi, is there any update on this? thanks much!

[2019-10-21 02:00] #80969 closed

[2019-10-21 02:33] krmayankk commented on #81723
oomkilled, liveness failed, etc are all available through kubernetes events, which is a good tool for debugging. I am not sure if they are available through kubelet logs though

[2019-10-21 02:59] zhangxingdeppon commented on #83672
@calmkart okay,great,I need to verify the result, give you a reply later,thanks very much

[2019-10-21 03:09] cwdsuzhou opened #84136 "Kubelet did not send the pvc resize success events when expanding pvc (node expand) successfully"
**What happened**:

Kubelet does send the pvc resize success events when expanding pvc (node expand)

**What you expected to happen**:

Kubelet sends the pvc resize success events when expanding pvc (node expand) successfully

**How to reproduce it (as minimally and precisely as possible)**:

1. CSI Plugin supports node expand
2. deploy the external-reszier(csi reszier)
3. deploy pvc pod
4. edit p

[2019-10-21 03:09] cwdsuzhou commented on #84136
/sig storage

[2019-10-21 03:09] cwdsuzhou commented on #84136
/assign

[2019-10-21 03:27] zhangxingdeppon commented on #83672
@calmkart I'm a little confused，if our client was set default (orphan), so when I deleted all deployment  ,the all rs/pod  should't  be deleted ,but actually  just accidentally happened ，most of time, deleted the deployment ,the rs,pod also will be deleted at the same time ,I want to known more details ,tks.

[2019-10-21 03:32] cwdsuzhou commented on #84136
more details.

pvc
[code]

pod
[code]

If we do not send the successful expansion event,  it is hard to know the result. I think we should also send the event to pvc

[2019-10-21 03:45] #84101 closed

[2019-10-21 03:46] weiqiang333 commented on #56430
Although my kube-apiserver server started the kube-rpoxy it still needs to be configured --enable-aggregator-routing=true, which has haunted me for a long time.

[2019-10-21 03:47] cblecker commented on #83981
@nikhita is correct, and I also agree that this probably isn't needed.

As there is no bug in the current automation, I'm going to close this. If you'd like to start a conversation about adding new automation, please open up an RFE against test-infra

[2019-10-21 03:47] #83981 closed

[2019-10-21 03:47] BobyMCbobs commented on #82545
The goal of this test is to ensure that PriorityClasses via their PriorityClassNames function as expected.

The test should:
1. prepare Pods to be created, with Replicas, a pre-defined PriorityClassName, and fake CPU limitation
2. Create Pods with a lower PriorityClassName, leaving the higher ones
3. Create Pods with a higher PriorityClassName, ensure that lower Pods adjust their Replica amount

[2019-10-21 04:49] tamalsaha commented on #76794
/remove-lifecycle stale

[2019-10-21 04:50] MikeSpreitzer commented on #83869
Flaked on me again.  7 tests failed.  See https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83665/pull-kubernetes-e2e-gce/1186125712675835904/ .  The PR in question (#83665) adds a new utility package that is not used by anything.

[2019-10-21 04:56] andyzhangx commented on #84086
@thanasisk
are you using aks? How can I repro this issue? I created k8s v1.14.7 on South Central US region, did not repro, what is the region of your cluster?

[2019-10-21 05:04] hex108 commented on #84110
These predicates were marked DEPRECATED in  https://github.com/kubernetes/kubernetes/pull/74544 since 2019.2.29. They could be deleted when we ship these plugins, do we need to add them now?

[2019-10-21 05:21] Davidrjx commented on #83929
yes, i am sure. Now, cluster health resembles below
[code]
after about a week, former two controller managers still had restarted.

[2019-10-21 05:27] Davidrjx commented on #83929
@neolit123 in my case, two out of three api servers logs recent error message, looks like below
[code]

[2019-10-21 05:42] zouyee commented on #84059
/close

[2019-10-21 05:42] #84059 closed

[2019-10-21 06:11] k82cn commented on #36716
We're going to support this feature in [volcano](http://github.com/volcano-sh/volcano) & [kube-batch](http://github.com/kubernetes-sigs/kube-batch) :)

[2019-10-21 06:11] #36716 closed

[2019-10-21 06:12] k82cn commented on #84057
xref  [volcano](https://github.com/volcano-sh/volcano) & [kube-batch](https://github.com/kubernetes-sigs/kube-batch) :)

[2019-10-21 06:18] irajdeep commented on #82901
@jpbetz @roycaihw I am starting to write a short KEP for this issue.

Just to confirm this validation would be a client-side validation right?

[2019-10-21 06:18] igoratencompass commented on #69485
/reopen

[2019-10-21 06:23] thanasisk commented on #84086
Hello @andyzhangx thanks for getting back to me.
Eastus is the region and we self-host. I will write more about specifics in a couple of hours.

[2019-10-21 06:57] DemonZSD commented on #81256
it's worked, replace privileged with capabilities :
securityContext:
    capabilities:
      add:  ["ALL"]

[2019-10-21 07:01] paalkr opened #84142 "Rolling update of deployments creates MAX number of pods X 2 according to HPA, regardless of current load"
**What happened**:
The bug described in https://github.com/kubernetes/kubernetes/issues/72775 is still present in 1.14.8
When a change is made to the running deployment that requires a rolling update to be executed, both the current replicaset and the new replicaset is scaled out to max number of pods regardless of actual load.

**What you expected to happen**:
The bug to be fixed
https://github.c

[2019-10-21 07:20] paalkr commented on #84142
@kubernetes/sig-autoscalling-bugs

[2019-10-21 07:22] yue9944882 commented on #84081
sry to be ambiguous, by scanning all the api groups in k/k, i found only `admission.k8s.io/{v1,v1beta1}` marked w/ package-level `// +k8s:openapi-gen=false`

https://github.com/kubernetes/kubernetes/blob/c6342764981cd9defe3d6b00f4967691c0f66093/staging/src/k8s.io/api/admission/v1/doc.go#L19

[2019-10-21 07:29] da-123 commented on #55894
i have got the same issue can anybody help me I am new to Kubernetes:
here is the log
Error: validation failed: [unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta2", unable to recognize "": no matches for kind "Deployment" in version "extensions/v1beta1", unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta2", unable to recognize "": no m

[2019-10-21 07:40] JokerDevops commented on #73360
I encountered the same error in version 1.13.6.
[code]
This looks like an iptables-restore usage error, is it a code problem? Error calling method?

[2019-10-21 07:53] #83933 closed

[2019-10-21 07:59] marriamda commented on #65863
I had the same problem . in journalctl the error message was about not being able to find the file:  /var/lib/kubelet/config.yaml and the installation guide has an error to use systemctl status kubelet before kubeadm init.

the solution :
use command: kubeadm init
so the config files are loaded and kubelet service will be in Running state successfully

[2019-10-21 07:59] marriamda commented on #66108
I had the same problem . in journalctl the error message was about not being able to find the file:  /var/lib/kubelet/config.yaml and the installation guide has an error to use systemctl status kubelet before kubeadm init.

the solution :
use command: kubeadm init
so the config files are loaded and kubelet service will be in Running state successfully

thanks

[2019-10-21 08:15] ProgramerGu commented on #84100
The predicates structure is kind of complex and huge, so it is correct to remove unnecessary parts.

[2019-10-21 08:44] wawa0210 commented on #77943
@absinabs @hongBry @alihalabyah  Can you provide the kubelet logs on windows nodes ?

[2019-10-21 08:52] shimron commented on #72270
having the same problem in v1.13.8, logs:

`I1021 08:29:22.907423 1 graceful_termination.go:94] lw: remote out of the list: 11.233.32.84:6666/TCP/11.233.86.120:6666
I1021 08:29:22.907428 1 graceful_termination.go:161] Trying to delete rs: 11.233.32.84:6666/TCP/11.233.86.81:6666
I1021 08:29:22.907596 1 graceful_termination.go:175] Deleting rs: 11.233.32.84:6666/TCP/11.233.86.81:6666
I1021 08:29:22.

[2019-10-21 09:03] chendotjs opened #84147 "cni "no such file or directory" error check may cause a false positive"
**What happened**:

For some cni plugins that rely on additional necessary resources(e.g. grpc unix socket), if the resource is not found, the plugin would return an error that is similar to `connect: no such file or directory`. On this occasion, kubelet would consider this as a duplicate deletion of network resource that has already been deleted in previous attempts and report no error.

**What y

[2019-10-21 09:03] ashish-oyo commented on #82482
I am also looking for something like this. Any solution yet?

[2019-10-21 09:04] chendotjs commented on #84147
/sig network

[2019-10-21 09:16] oxddr opened #84149 "[Failing Test] gce-master-scale-correctness - loadbalancing tests"
**Which jobs are failing**:
gce-master-scale-correctness

**Which test(s) are failing**:
[sig-network] Loadbalancing: L7 [Slow] Nginx should conform to Ingress spec
[sig-network] Services should handle load balancer cleanup finalizer for service
[sig-network] Services should only allow access from service loadbalancer source ranges

**Since when has it been failing**:
2019-10-19

**Testgrid link**

[2019-10-21 09:24] wojtek-t commented on #84149
It seems that new test was added at that point:
[sig-apps] Deployment should not disrupt a cloud load-balancer's connectivity during rollout

My personal guess is that we started doing too much load-balancer-related stuff at the same time.

[2019-10-21 09:39] stephen-dexda commented on #80435
/remove-lifecycle stale

[2019-10-21 10:01] opengers commented on #84041
@andrewsykim hi, AFAIK, ipvs tcp/tcpfin/udp timeout Is a OS-level configuration, so we can't set it per Service?

[2019-10-21 10:04] oxddr opened #84151 "[Failing Test] gce-master-scale-performance - load and density"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
load
density

**Since when has it been failing**:
2019-10-19

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-performance

**Reason for failure**:
density - `[measurement call PodStartupLatency - PodStartupLatency error: pod startup: too high latency 99th perce

[2019-10-21 10:13] opengers commented on #84041
#https://github.com/kubernetes/kubernetes/issues/71358

[2019-10-21 10:15] bakshi41c commented on #83891
Yes its possible to pull from a private registry (incl. ECR), but with ECR, one needs to generate the username and password using the aws cli tool (as you mentioned) for each node. There is no way to  automate this cleanly, apart from having the username and password in regcreds for each namespace and refreshing them every 12 hours [link](https://medium.com/@xynova/keeping-aws-registry-pull-creden

[2019-10-21 10:30] draveness commented on #84110
We'll remove these predicates in 1.18 after the CSI migration graduates to GA, here is the issue for tracking this https://github.com/kubernetes/kubernetes/issues/82375. I think we could do the migration:

1. It won't take too much time to do the migration
2. We can't be sure that these predicates could be removed in 1.18, maybe we have to wait for more releases.

[2019-10-21 10:34] droslean commented on #83890
/cc @PatrickLang @michmike

[2019-10-21 10:35] droslean commented on #83890
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-windows-master

[2019-10-21 10:44] benmoss commented on #83890
Duplicate of https://github.com/kubernetes/kubernetes/issues/83397

[2019-10-21 10:47] wojtek-t commented on #62277
glbc was fixed in https://github.com/kubernetes/kubernetes/pull/84018

The remaining are:
- prometheus and its operator
- addon-manager

Tracking those in this umbrella bug doesn't make sense. So I'm closing this one.

[2019-10-21 10:47] #62277 closed

[2019-10-21 10:56] thanasisk commented on #84086
We also see the following
https://github.com/kubernetes/kubernetes/blob/release-1.14/vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/disks.go#L87

`	const APIVersion = "2018-09-30"`

[2019-10-21 11:15] hex108 opened #84155 "Keep predicates ordering in scheduler filter plugins?"
**What would you like to be added**:
Keep predicates ordering in scheduler filter plugins, it aims to improve scheduler performance.

**Why is this needed**:
`Predicates ordering`'s design doc could be found [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/predicates-ordering.md), and its PR is at [here](https://github.com/kubernetes/kubernetes/pu

[2019-10-21 11:17] hex108 commented on #84155
Maybe we need an umbrella issue to track performance issue for migration phase 1? cc @ahg-g @k82cn @Huang-Wei

[2019-10-21 11:27] oxddr commented on #84151
Interesting finding: 1k QPS for GET persistenvolumeclaims
![pYNrRb0BPgR](https://user-images.githubusercontent.com/30298753/67201378-7287e300-f406-11e9-8cae-c86d0fb643b6.png)

Possibly unrelated, but still worth investigating.

[2019-10-21 11:28] bclau commented on #70189
We have a PR for it, as you can see above: https://github.com/kubernetes/kubernetes/pull/83730
It;s a pretty small PR too.

[2019-10-21 11:48] oxddr commented on #84151
`schedule_to_run` and `schedule_to_watch` metrics has increase recently in density:
![JJ80H4iKKEV](https://user-images.githubusercontent.com/30298753/67202640-681b1880-f409-11e9-9eaf-6d7ea666a76e.png)
![9r6GvrfgyNb](https://user-images.githubusercontent.com/30298753/67202641-68b3af00-f409-11e9-858e-fdb6c00f193a.png)

[2019-10-21 11:54] Fennixx commented on #84106
In my pod there is no bash by default.

[2019-10-21 11:58] jethrogb commented on #63906
/remove-lifecycle stale

[2019-10-21 12:12] liggitt commented on #82901
No, this would be done server-side

[2019-10-21 12:20] #78288 closed

[2019-10-21 12:22] claudiubelu opened #84158 "tests: Kubernetes E2E test image echoserver no longer builds"
**What happened**:

The Kubernetes E2E image ``echoserver`` no longer builds. This error is encountered when building:

    Building image for echoserver ARCH: s390x...
    ~/kubernetes/_tmp/test-images-build.hI1x5F ~/kubernetes/test/images
    Registering qemu-*-static binaries in the kernel
    Setting /usr/bin/qemu-alpha-static as binfmt interpreter for alpha
    Setting /usr/bin/qemu-arm-stati

[2019-10-21 12:23] bclau commented on #84158
/sig testing

[2019-10-21 12:23] thanasisk commented on #84086
We did some further investigation: using our credentials, the API call *succeeds*, even with "2018-09-30" as the API version used. Therefore, we are suspecting this is a lack of assigned credentials on our K8S - the message we get back from Azure API can be considered misleading.

[2019-10-21 12:26] wgliang commented on #84155
FYI: http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=Scheduler&metricname=SchedulingLatency&Operation=predicate_evaluation

@hex108

[2019-10-21 12:28] saschagrunert commented on #19077
I'd be happy to push both topics forward. From the runtime perspective: If we have the data at hand, then we could expose it to any interface.

I see four major points, whereas the first one could be dropped from here:
1. Getting the data inside the runtime (out of scope from here)
2. Getting the data into the kubelet via the CRI API (KEP)
3. Exposing the data via the API Server (KEP)
4. Exposing

[2019-10-21 12:43] sromano1992 commented on #65500
I had the same issue with IBM Cloud Kubernetes service. I resolved with a worker node reload:

ibmcloud ks worker reload --cluster <cluster_name> --worker <worker_ID>

[2019-10-21 13:17] lbernail commented on #72270
The logs don't indicate a problem, this is expected with graceful termination
What symptoms are you seeing?

[2019-10-21 13:42] tnozicka commented on #69376
I hope it will, PR https://github.com/kubernetes/kubernetes/pull/82572 is there, just a matter of getting a review/tag.

[2019-10-21 13:49] ahg-g commented on #84155
Re tracking performance: we certainly need to keep an eye on any performance regression, we monitor the perf dashboard which runs daily (it seems that the last two runs failed in the perf dashboard btw, so  lets see what today's one look like).

@hex108 do you have a specific plan in mind other than monitoring the perf dashboard? do you mind running the perf benchmarks locally and compare the 1.16

[2019-10-21 13:58] ahg-g commented on #84155
Regarding ordering

1) current ordering is preserved during migration [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/factory.go#L567-L575). You can see that we indeed keep the ordering in the [compatibility test](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/api/compatibility/compatibility_test.go#L1189-L1202), which matches [the ordering in we have

[2019-10-21 13:58] sirdarkat commented on #77086
@liggitt  OMG Thank you for those steps.  I have been having the same issue where a namespace has been stuck in a Terminating state for over a week and no post was able to resolve it.  This finally fixed it and made that namespace go away.  Thank you.

[2019-10-21 14:03] ahg-g commented on #84155
@hex108 I see that we had a "scheduler benchmark" under the perf dashboard, I assume this runs our scheduler_perf benchmarks: http://perf-dash.k8s.io/#/?jobname=scheduler-benchmark&metriccategoryname=Scheduler&metricname=BenchmarkResults

however, it currently contain no results, can you create an issue to fix that, this is going to be important to tracking any regressions.

[2019-10-21 14:20] zhangguanzhang commented on #76956
it fix in `v1.16`+

[2019-10-21 14:25] ahg-g commented on #84110
While those are being deprecated, it will take a while to actually be able to remove them, and so we have to move them to the framework in the meantime. CSIMigrate will be graduating to beta soon, and after that it will take a year to actually be able to deprecated the old path since it was GA.

[2019-10-21 15:04] abstrask opened #84160 "Referencing containerPorts by name as targetPort for "Service" resource, does not generate endpoints when proto is UDP"
**What happened**:
Created a "Service" resource for Pihole deployment, specifying a port, referencing a containerPort by name ("dns") as targetPort. No endpoints are created, when protocol is UDP.

Replacing the named port with the numeric port number (53) works as expected. Using named targetPort also works as expected when protocol is TCP.

**What you expected to happen**:
Endpoints being create

[2019-10-21 15:05] danwinship commented on #84149
I think this is my fault. #84159 should fix it. Is there some way to those tests to run against a PR?

/remove-triage unresolved

[2019-10-21 15:08] oxddr commented on #84151
1. Top 3 slowest pods were scheduled on the same node.
1. Logs indicate that mounting a default token took around ~1s while usually it's O(ms).
1. A watch had a problem listing secrets
[code]

[2019-10-21 15:08] abstrask commented on #84160
/sig network (I guess?)

[2019-10-21 15:14] ahg-g commented on #84100
We need do two things next:

1) document that we broke Policy API compatibility for those predicates since 1.12, the recommendation is to use ```CheckNodeUnschedulablePred```.

2) fix the compatibility test to apply feature gates.

[2019-10-21 15:17] ahg-g opened #84161 "Scheduler policy api compatibility test should apply feature gates"
Currently it does not, and that is not correct, it caused an accidental break in our compatibility since ```TaintNodesByCondition``` graduated to Beta: we removed the registration of "CheckNodeMemoryPressure, CheckNodePIDPressure, CheckNodeDiskPressure, CheckNodeCondition", but the compatibility test didn't catch that.

/sig scheduling
/help
/priority important-soon

[2019-10-21 15:21] notpad commented on #84161
/assign

[2019-10-21 15:21] draveness commented on #84100
What do you mean by this?

[2019-10-21 15:21] notpad commented on #84161
/remove-help

[2019-10-21 15:24] oxddr commented on #84149
At the moment the fastest way would be to merge your fix and wait for the next run tomorrow.

[2019-10-21 15:32] andrewsykim commented on #84041
Ah I see now, I thought you could specify the virtual server with `ipvsadm --set` but I see now it's a global timeout. It sounds reasonable to me but I don't like that you can only set the timeouts with `ipvsadm --set`. I think it's worth investigating if we can set this without `ipvsadm` first? What do you think?

cc @lbernail

[2019-10-21 15:36] ekeih commented on #80968
It looks like we have the same problem with 0.15.3.

Maybe the following two snippets help other people to find their affected pods faster.

In case you want to alert based on this until there is a solution:
[code]

Or if you do not have access to Prometheus, you can use `jq`:
[code]

[2019-10-21 15:45] lbernail commented on #84041
This option can't be set by service but we don't need to use ipvsadm since there is a netlink call for this. I added support for this in libnetwork a while back exactly for this: https://github.com/docker/libnetwork/pull/2349

So we would just need to update libnetwork/ipvs to be able to use it

[2019-10-21 15:48] tpepper commented on #65180
/kind 🐶

This issue is really dogging us.

From my perspective I feel we already have kind and area labels which cover the general situation for the type of patches discussed.  We also have these comment chains in PRs on GitHub.  A PR submitter should be fully justifying their commits and PR here, regardless of the labels (which are more about triage imho).  I don't see us using a "kind/test" or "

[2019-10-21 15:52] andrewsykim commented on #84041
Ah, and in https://github.com/kubernetes/kubernetes/pull/83576 we do pull in that change

[2019-10-21 15:53] andrewsykim commented on #84041
Let's revisit this after https://github.com/kubernetes/kubernetes/pull/83576 merges

[2019-10-21 15:58] lbernail commented on #84041
Nice, I saw the netlink update but did not see the libnetwork one

[2019-10-21 16:05] shaunc commented on #36716
@k82cn -- thanks! I'm planning on integrating with kubeflow, which is also based on Kube-batch. Do you have any plans / designs / documentation so if I can see how this might work for me, and start to pester the kubeflow people to support it? :)

[2019-10-21 16:18] shaunc commented on #36716
In my case, I want to use Istio, which kubeflow also uses. Being in the same service mesh as kubeflow is my goal, but I may need to tweak configuration. On the other hand, there could be other applications in the cluster that want their own service mesh, differently namespaced. Ideally, except for dependency injection step, everything internal to an application just refers to "istio" and is oblivi

[2019-10-21 16:20] slmingol commented on #17512
Here's a modified version of the join ex. which does totals of columns as well.

[code]

Example
[code]

[2019-10-21 16:21] Huang-Wei commented on #84161
@notpad One tip to reuse the snippet when applying featuregates in tests:

[code]

So that each unit test (or subtest) is atomic.

[2019-10-21 16:28] #78266 closed

[2019-10-21 16:56] tpepper commented on #82467
@dims does https://github.com/kubernetes/community/pull/4186 help?

[2019-10-21 17:25] #77520 closed

[2019-10-21 17:39] sbussetti commented on #84053
@neolit123 you have to be working on another project that imports the kubeapi api and uses the new package naming which will then clash with the old naming used in this k8s core code

[2019-10-21 17:47] devaips opened #84162 ""Create e2e test for watch operations""
# Goal
Make a test to create a few resources (~10) of all available resource types; Watch for updates; Update resource names; Verify updates

## Steps for creating test
- [ ] 1. Initialise client
- [ ] 2. Initialise dynamic client
- [ ] 3. List all resource types
- [ ] 4. Filter the resources to be simple (GA only, ones where only one field is required)
- [ ] 5. Set a watch
  - [ ] 5.1. for when i

[2019-10-21 17:49] devaips commented on #84162
/assign @timothysc

[2019-10-21 17:51] tedyu commented on #84053
I searched k8s codebase but didn't find import referencing 'go.etcd.io'

[2019-10-21 18:20] stefanlasiewski commented on #56430
Adding a note for people who find this issue via Google. Keep in mind that error messages with `v1beta1.metrics.k8s.io` can be misleading and can be due to multiple underlying causes. That is one reason why this ticket was allowed to become stale and closed. If you run into this error, do a quick sanity check and look for more routine causes of your cluster failure.

For example, just last week my

[2019-10-21 18:31] janetkuo commented on #83628
This feature is owned by sig-network https://github.com/kubernetes/enhancements/issues/580

/sig network
@freehan

[2019-10-21 18:39] janetkuo commented on #82570
This requirement makes sense. Unassign API machinery - SIG Apps should own this.

[2019-10-21 18:41] ksubrmnn commented on #62046
@josiahbjorgaard I will be discussing this in the Sig-Windows meeting tomorrow so we can give an update then.

[2019-10-21 18:45] egernst commented on #80264
@alenkacz I wanted to check in -- are you making any progress on this?

[2019-10-21 19:00] alenkacz commented on #80264
@egernst sorry got busy with other stuff but I'll get back to this - but if you want to take it and have time for it now, feel free to take it :)

[2019-10-21 19:05] ORESoftware commented on #80370
/remove-lifecycle stale

[2019-10-21 19:13] micahhausler opened #84165 "Add --profiling flag to kubelet"
**What would you like to be added**:

The control plane components have a `--profiling` flag that controls `/debug/pprof/*` and `/debug/flags/v` being enabled or disabled. Kubelet has both these endpoints, but it doesn't allow them to be independently disabled from all other debugging endpoints that support `kubectl {exec,logs,portforward}`.

**Why is this needed**:

Administrators who don't want

[2019-10-21 19:14] Nuru commented on #72102
@seh Would you please explain how to change the SAN on the etcd certificates?

[2019-10-21 19:22] neolit123 commented on #83929
Hard to say without knowing what made the 41893 port connection. You can
increase the verbosity of the components using --v=x in their manifest
files.

[2019-10-21 19:34] neolit123 commented on #34059
/remove-lifecycle stale

[2019-10-21 19:41] neolit123 commented on #84053
/sig api-machinery

[2019-10-21 19:42] neolit123 commented on #84053
Please include this clarification https://github.com/kubernetes/kubernetes/issues/84053#issuecomment-544625914 in the OP.

[2019-10-21 20:21] lavalamp commented on #48610
I don't think anyone is working on this.

@caesarxuchao is fixing the go std lib not detecting dead connections, this might make a good followup; but that change is actually in golang (!), not k8s.

[2019-10-21 20:25] lavalamp commented on #18174
Seems related to #48610.

[2019-10-21 20:28] lavalamp commented on #73994
/reopen

I am still open to a change adding sanity checking to the function.

[2019-10-21 20:29] bowei commented on #66766
Looking through the comments, this looks like a bug that could have a targeted fix.

/remove-triage unresolved
/good-first-issue
/help-wanted

[2019-10-21 20:40] Bessonov commented on #62078
/remove-lifecycle stale

[2019-10-21 21:19] fedebongio commented on #84053
/assign @jingyih

[2019-10-21 21:20] fedebongio commented on #84069
/remove-sig api-machinery
/sig node

[2019-10-21 21:22] fedebongio commented on #84078
/assign @liggitt @jingyih

[2019-10-21 21:22] lbernail commented on #81775
I just did the following test with kube-proxy `v1.14.5`:

- create a deployment with a single pod using http/1.1 (to do multiple requests on the same connection) and with a graceful termination period of 60s
- create a service backed by this deployment
- connect to the service using telnet and perform multiple `GET / HTTP/1.1` on the same connection
- delete the pod providing the service

Here is

[2019-10-21 21:24] fedebongio commented on #84081
/cc @apelisse @jennybuckley

[2019-10-21 21:26] PauloMigAlmeida commented on #49964
/remove-lifecycle stale

[2019-10-21 21:26] fedebongio commented on #84162
/cc @lavalamp

[2019-10-21 21:29] liggitt commented on #84078
What custom etcd prefix are you passing in? if you prefix it with `/`, that should resolve this issue for you in the short-term.

I agree the health check key prefix should be computed the same way as the etcd client prefix

[2019-10-21 21:45] seh commented on #72102
I generate these certificates myself using [Terraform's _tls_ provider](https://www.terraform.io/docs/providers/tls/index.html), so it's a matter of revising the arguments passed for [the `tls_cert_request` resource's "dns_names" attribute](https://www.terraform.io/docs/providers/tls/r/cert_request.html#dns_names).

[2019-10-21 21:50] zouyee commented on #84160
https://github.com/kubernetes/kubernetes/pull/80470

[2019-10-21 21:51] raravena80 commented on #70387
/remove-lifecycle stale

[2019-10-21 22:09] busser commented on #84160
@abstrask, by default ports specified in a pod spec use the TCP protocol.

With the yaml you gave as an example above, you get the following endpoints:

[code]

You could add the UDP protocol to the pod spec like this:

[code]

Which would give the following endpoints:

[code]

You could specify both TCP and UDP protocols as two separate ports with the same number in the pod spec:

[code]

Assumin

[2019-10-21 22:11] busser commented on #84160
/remove-triage unresolved

[2019-10-21 22:27] davidz627 commented on #79743
/remove-lifecycle stale

[2019-10-21 22:28] davidz627 commented on #79743
https://github.com/kubernetes-csi/external-attacher/pull/184

[2019-10-21 22:46] notpad commented on #84161
Thanks @Huang-Wei

[2019-10-21 22:58] jingyih commented on #84053
The imports will be updated as part of #83987.

cc @wenjiaswe

[2019-10-21 23:02] chewong commented on #84052
I don't think #82890 causes a regression. We only perform `shouldUpdateLoadBalancer` check in `UpdateLoadBalancer` when the service controller detects a change in the number of nodes (i.e. when scaling clusters) and wants to reconcile all the services against the new set of nodes.

@MSSedusch @dguendisch do you have any relevant logs from kube-controller-manager / cloud-controller-manager, or step

[2019-10-21 23:24] jennybuckley commented on #84081
Generally the openapi should contain every resource served by the kube-apiserver, but AdmissionReview is different in that, it's a request made by the apiserver to a webhook servers. It probably doesn't belong in the main openapi spec served by the apiserver, but generating openapi for it and putting it somewhere could be useful.

[2019-10-21 23:36] wenjiaswe commented on #84053
In current k8s HEAD, we are using etcd 3.3.15 which has go.mod removed (details can be found [here](https://github.com/kubernetes/kubernetes/pull/81434#issuecomment-522713511), and it seems like your vendor has etcd path with the new go.etcd.io/etcd that k8s cannot resolve now. Once we upgrade etcd client to 3.4.x in k8s 1.17, etcd vendor path will be go.etcd.io/etcd.

[2019-10-21 23:37] raulsh commented on #78024
I have the exact same problem. I followed all of the recommendations, but nothing.

[2019-10-21 23:58] rikatz commented on #82943
@Russia9 I'm closing this issue, as it seems to be resolved by now with the usage of the advertisement flags.

Please feel free to re-open if You find this might still be a bug.

/remove-kind bug
/close

[2019-10-21 23:58] #82943 closed

[2019-10-21 23:59] raulsh commented on #77663
I have the exact same issue, but I can't fix that. I followed all the recommendations.

[2019-10-22 00:00] rikatz commented on #81556
@mohibkhan-nedian I'm closing this issue due to inactivity.

Please feel free to re-open it in case you still face the bug

/close

[2019-10-22 00:01] #81556 closed

[2019-10-22 00:44] saad-ali opened #84169 "CSI VolumeAttachment slows pod startup time as # concurrent attaches increases"
**What happened**:

A reporter testing their CSI driver at scale noticed issues:

Specifically they reported that the pod startup time is impacted by the number of concurrent CSI volume attachments in progress across a cluster.

According to the reporter, the pod start up time jumps from order of seconds (when there are a few volume attachments happening concurrently), to 1-2 minutes once there ar

[2019-10-22 01:07] msau42 commented on #84169
There are a number of different potential bottlenecks to explore:
* K8s attach-detach controller concurrency. The workqueue uses the [default rate limiter](https://github.com/kubernetes/client-go/blob/master/util/workqueue/default_rate_limiters.go#L39:6).  Needs further investigation to understand how that translates into concurrent requests.
* csi-attacher sidecar concurrency: You can try setting

[2019-10-22 01:09] craiglpeters commented on #75752
Moving out of 1.17 since the underlying APIs in Docker and hnsshim are the root cause and will be independent of the Kubernetes release. @feiskyer indicates that it may be possible to do some caching in the kubelet

[2019-10-22 01:19] feiskyer commented on #83085
we need to improve the error message for the case

[2019-10-22 01:34] andyzhangx commented on #83085
anyway, it's an external dependency, should be improved by azure file team.
I will close this issue.
cc @VybavaRamadoss @RenaShahMSFT

/close

[2019-10-22 01:34] #83085 closed

[2019-10-22 01:37] dims commented on #82467
yes it does. thanks @tpepper

[2019-10-22 01:39] hex108 commented on #84110
@draveness @ahg-g  thanks for the explanation

[2019-10-22 01:40] shimron commented on #72270
When updating a deployment, requests to the pods through the service ip are timeout on some nodes. After restart the kube-proxy on those nodes, the timeout disappeared. At the same time, there are many logs in kube-proxy pod like above.

[2019-10-22 01:50] dirkcgrunwald opened #84170 "After upgrading to zsh / Mac catalina, kubectl autocompletion raises error message"
I recently upgrade my mac to Catalina which brings with it a default shift to 'zsh' which is allegedly a superset of bash.

In vendor/github.com/spf13/cobra/bash_completions.go on line 76, the autocompletion code uses **type -t** which is a bash builtin but not a zsh bulitin (zsh aliases type to 'whence' and there's a similar -w flag).

When starting up a shell, this causes garble like
[code]

[2019-10-22 01:55] xiaoanyunfei commented on #84165
/assign

[2019-10-22 02:48] tedyu commented on #84169
It would be helpful to get snapshot of go routines in the controller manager and api server during the long start up.

Thanks

[2019-10-22 02:50] hex108 commented on #84155
Thanks all!

1. Re tracking performance related things

When sending this issue, I am worrying about that we forget similar optimizations(e.g. predicates ordering) when doing migration, especially in phase two, because we might delete/change previous logic at that phase.

It is great to keep an eye on the perf dashboard. As @Huang-Wei said, it will be great to have a automatic solution to auto-rep

[2019-10-22 02:55] #83397 closed

[2019-10-22 03:32] clarklee92 commented on #84170
As you switch to `zsh`, I think this is required.
[code]

[2019-10-22 03:40] tangcong commented on #84078
@liggitt thanks. yes, we prefix it with '/' to resolve this issue.

[2019-10-22 03:43] cduchesne commented on #84169
@msau42 with regards to csi-attacher sidecar, I have not observed any issues with performance here. As soon as a volumeattachment object changes, the csi-attacher sidecar notices and reacts immediately. Average time to complete a request for csi-attacher is under 2 seconds.

When cluster has many volumeattachments objects  (>1300 and not in-flight reqeusts) the time for any attach or detach action

[2019-10-22 04:11] #83424 closed

[2019-10-22 04:11] #83676 closed

[2019-10-22 04:12] #83458 closed

[2019-10-22 04:12] #84110 closed

[2019-10-22 04:30] cduchesne commented on #84169
Looking through [csi_plugin.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go#L52), I see that somewhat recently, `csiTimeout` was changed from 15sec to 2min. This could explain why I've noticed in some clusters, very rarely attachments even happening after a while (if there is indeed throttling). Trying to reproduce these issues in 1.14.8, I have noticed that a

[2019-10-22 04:56] PatrickLang commented on #83038
@nileshkumar01 - this is fixed in 1.16, and the latest 1.14 and 1.15 releases on 10/15. Can we close this issue?

[2019-10-22 05:03] prasadasokan opened #84172 "Issues reaching node ports on masters"
**What happened**:

Running k8s 1.14.1 and had reboot one master after the other for maintenance purposes. After restart, nodeports aren't working when tried with master's IP, but is working with the worker node's IP. We receive no route to host.

**What you expected to happen**:

All node ports used to work on the master's IP address earlier

**How to reproduce it (as minimally and precisely as p

[2019-10-22 05:39] prasadasokan commented on #84172
Adding label

/sig network

[2019-10-22 05:50] hprateek43 commented on #83554
@ahg-g Has someone started to work on `InterPodAffinityPriority as Score plugin` ? If not, can pick it up. Will need some context around it.

[2019-10-22 05:57] istikamet commented on #77663
even if error message is same, problem vary on platform and environment, it is better open a new issue and share your environment

[2019-10-22 06:13] wojtek-t commented on #84149
Reopening just to keep this tracking - will close once we have green run.

[2019-10-22 06:55] MaxWinterstein commented on #75767
Any news on this?

[2019-10-22 07:00] gaveezy commented on #40651
Any workaround solution to this without using shell command? I'm using a distroless image so shell is N/A.

[2019-10-22 07:03] draveness commented on #83523
@ahg-g Do we still need a SharedSchedulerLister? if not, I'd like to close this issue.

[2019-10-22 07:19] #84078 closed

[2019-10-22 07:51] draveness commented on #83829
After some digging around the pertest codebase, I found that we have tested daemonset with 5k nodes and didn't find any code to disable the ScheduleDaemonSetPods feature.

https://github.com/kubernetes/test-infra/blob/c39959996dda01c606d6a18187be89059a263fac/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L199-L261

cc/ @wojtek-t, please feel free to correct me if there's

[2019-10-22 07:59] wojtek-t commented on #83829
Yes - we are testing DaemonSets in our scalablity tests. The tests aren't super extensive - we just ensure that we can create DS and then upgrade it (without requiring any sophisticated latencies of that for now), but we didn't observe any issues with that.
As of now, we have regression that happened sometime on Saturday: https://github.com/kubernetes/kubernetes/issues/84151 - but before that we w

[2019-10-22 08:01] odinuge opened #84178 "Pod with container with failed StartupProbe stays in Ready: false."
**What happened**:

Pod with container with failed `StartupProbe` stays in `Ready: false`.

**What you expected to happen**:

Pod/container should be killed and restarted and eventually enter `CrashLoopBackOff`.

**How to reproduce it (as minimally and precisely as possible)**:

Start cluster with feature gate `StartupProbe=true`.

Deploy pod:
[code]

Watch output:

[code]

**Anything else we need

[2019-10-22 08:05] odinuge commented on #84178
/sig node
/cc matthyx

[2019-10-22 08:09] paalkr commented on #72775
I think I have learned something very important. The bug ONLY occurs if you are using the new HPA API
´apiVersion: autoscaling/v2beta2´ or ´apiVersion: autoscaling/v2beta1´.

This will trigger the bug
[code]

And this config will NOT trigger the bug
[code]

[2019-10-22 08:12] odinuge commented on #82747
Tests are no longer running in CI, but tests are still failing.

One failure is related to https://github.com/kubernetes/kubernetes/issues/84178 and another one is related to https://github.com/kubernetes/kubernetes/pull/84179.

/reopen

[2019-10-22 08:17] angelogwapo commented on #43633
@catalinpan how does it work on your end? My server-alias doesn't work with this config.

`apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: foobar-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/server-alias: "two-app.foob

[2019-10-22 08:22] rohith-vallabhaneni commented on #80897
Hi all,
I'm facing same as described above, could anyone help me in resolving this.

[2019-10-22 08:27] andyzhangx commented on #84086
what is your credential in your k8s, is it service principal?

[2019-10-22 08:28] draveness commented on #83829
Thanks, the ScheduleDaemonSetPods feature was graduated to beta in 1.12 and enabled by default, so I don't think it's relevant.

@liggitt, is this sufficient to continue graduating the ScheduleDaemonSetPods, or we still have some other staff which needs to check?

[2019-10-22 08:37] Davidrjx commented on #83929
@neolit123 controller manager log verbose was changed to 4, two restarted ones restart count fall back to zero. through some period of time, again have a look if restart would exist yet

[2019-10-22 08:47] paalkr commented on #72775
Another observation is that if you have upgraded the HPA object to the new API version, you cannot downgrade again. You will have to delete the ´autoscaling/v2beta2´ object and recreate an ´autoscaling/v1´ object.

[2019-10-22 08:50] paalkr commented on #84142
This bug does only apply to the `autoscaling/v2beta2` and `autoscaling/v2beta1` API version, not the `autoscaling/v1` API.

[2019-10-22 09:02] oxddr commented on #84151
/assign @krzysied

[2019-10-22 09:03] Davidrjx commented on #83929
@liggitt thanks,sorry for late reply. some log messages seem troubling if log verbose was little.
now, after verbose increased, a little clear about controller manager leader lease, like
[code]
as restarted controller managers have restarted again, will observe for some time if new restart occurs

[2019-10-22 09:12] kofj commented on #70047
Same issue, we need scaling the nodes of ceph monitor. But I cannot change PV's monitors field. 😭

[2019-10-22 09:15] tedyu commented on #83929
@Davidrjx
In the snippet you posted, the lock was held by
fuxi-dl-*6_618202d8-fcd8-40a3-96f1-1d1c9212ca3a

Can you see if the lock holder was always the above ?

[2019-10-22 09:19] tiurikov commented on #84086
Hi @andyzhangx and thanks for your help! I work together with @thanasisk, so I can also share some details about the issue we are dealing with.

Kubernetes Controller Manager (KCM) has the following cloud configuration:
[code]
based on my limited Azure experience I think KCM uses metadata API to request an authentication token by calling something like:
`curl -H 'Metadata: true' 'http://169.254.16

[2019-10-22 09:21] catalinpan commented on #43633
@angelogwapo is worth checking if the nginx ingress version you have supports the alias implementation. If the version is newer check [here](https://kubernetes.github.io/ingress-nginx/examples/rewrite/) how the `rewrite-target` syntax should look like.
There is a case where your alias will not work if there is another ingress which uses the same domain, [here](https://kubernetes.github.io/ingress-

[2019-10-22 09:22] Davidrjx commented on #83929
@tedyu until now yes and ep lock is always held by above controller manager pod

[2019-10-22 09:28] #82926 closed

[2019-10-22 09:31] droslean commented on #84107
@danwinship The job is still failing. Can you check?

[2019-10-22 09:35] droslean commented on #84107
/triage unresolved

[2019-10-22 09:47] dguendisch commented on #84052
Currently we don't have additional logs (although I can recreate if absolutely needed)
But as an additional information: the issue happens on cluster creation, hence new nodes are getting created along the way.

[2019-10-22 10:14] wenjun8888 commented on #72878
@xueweiz
hey，we match the same promblems when we use kubernetes v1.13.4.
twice durnig six month and the second time only use 60% cpu.
the current kenerl version is 5.14 and we find the newest is 5.31
can we just use it? thanks!

[2019-10-22 10:27] Pingan2017 commented on #84178
we need to add block for  StartupProbe failure.

https://github.com/kubernetes/kubernetes/blob/ea4570a412a918e24a89992c0daa80efda4a7ae5/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L590-L596

[2019-10-22 10:33] droslean commented on #84088
@janetkuo @kow3ns @mattfarina
New failures https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1186251294050881541

[2019-10-22 10:35] droslean commented on #83890
@benmoss #83397 is closed but the job is still failing.

[2019-10-22 10:41] abstrask commented on #84160
It didn't occur to me that you could specify protocol for `containerPort`, and for some reason I assumed that this merely documented the port number, not protocol/port number combo. Now I feel silly.

Thanks a lot for your helpful response, @busser !

[2019-10-22 10:41] #84160 closed

[2019-10-22 10:57] krzysied commented on #84151
There is also visible and consistent drop in scheduler performance:
![image](https://user-images.githubusercontent.com/25119199/67279511-716cb980-f4cb-11e9-92d9-a535103f55a2.png)

[2019-10-22 11:06] krzysied commented on #84151
[code]
Another sequence of pods scheduled on the same node.

[2019-10-22 11:07] oxddr commented on #84151
There were couple of changed in scheduler in the commit range.

[2019-10-22 11:07] oxddr commented on #84151
FTR: except the golang bump there were no other significant changes in k/k and test-infra when the test switched from green to red.

[2019-10-22 11:09] benmoss commented on #83890
I think you are mistaken, the test referenced here doesn't exist anymore. It has been superseded by `[k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull image [NodeConformance]` which is now passing. The only failing test on the most recent run is `[sig-cli] Kubectl client Guestbook application should create and stop a working application [Conf

[2019-10-22 11:10] SataQiu commented on #84158
/cc

[2019-10-22 11:11] krzysied commented on #84151
Our density test assumes that pods are spread across all nodes. We add resource requirements for cpu and memory (~10% node mem, ~10% node cpu) to ensure that pods are spread evenly.

IMHO it will be worth checking if there was a change in scheduler logic regarding node assigning strategy...

[2019-10-22 11:17] krzysied commented on #84151
Another cool observation:
![image](https://user-images.githubusercontent.com/25119199/67280702-0b356600-f4ce-11e9-9b3d-0a1c8c1fd7e3.png)

Kubemark, density test. Seems like we have a "cheap" repro to verify PRs.

[2019-10-22 11:19] krzysied commented on #84151
There was also no changes in perf-tests repo at that time. It should be only k8s regression.

[2019-10-22 11:24] matthyx commented on #84178
Right, I was blindly hoping that this was sufficient:
https://github.com/kubernetes/kubernetes/blob/3d40c4cea2fe849a750ec99a5aea9264ded88361/pkg/kubelet/prober/worker.go#L275

Let me correct, and thanks for the hint @Pingan2017 !

[2019-10-22 11:40] yujiaao commented on #58956
404

[2019-10-22 11:56] andyzhangx commented on #84086
could you provide the full azure.json config with credential removed? especially config of following:
[code]

[2019-10-22 11:58] andyzhangx commented on #84086
/sig cloud-provider
/area provider/azure

[2019-10-22 11:59] tiurikov commented on #84086
@andyzhangx This is what we have:
[code]

[2019-10-22 12:05] andyzhangx commented on #84086
I think you need to create a service principal and write that sp into azure.json file
[code]

Otherwise how is your KCM talk to Azure? InstanceMetadata can only get local data on that VM
https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-provider-config.md

[2019-10-22 12:17] tiurikov commented on #84086
@andyzhangx thanks for the information! I will read about it and try it out.

My assumption was that KCM can call 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://management.azure.com/` to get a token. Then using the token it can call `https://management.azure.com/subscriptions/MYSUBSCRIPTION_ID/resourceGroups/MY_RESOURCE_GROUP/providers/Microsoft.Comp

[2019-10-22 12:23] ahg-g commented on #83554
Yeah, this one is tricky, for now we will likely hack it as a NormalizeScore plugin. I am planning to create a couple of other issues, feel free to pick them up.

[2019-10-22 12:23] andyzhangx commented on #84086
follow this guide:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal

[2019-10-22 12:25] droslean commented on #83890
@benmoss Yes, you are right. Thanks for letting us know. I will close this issue, and open a new one for the new failures.

[2019-10-22 12:25] droslean commented on #83890
/close

[2019-10-22 12:25] #83890 closed

[2019-10-22 12:29] ahg-g commented on #83523
We do need it, but in a different form. Luckily we managed to work around it for phase 1 of plugin migration. I think we can't close this one, thanks a lot for leading this effort.

/close

[2019-10-22 12:29] #83523 closed

[2019-10-22 12:31] AntonTimiskov commented on #72775
Unfortunatly, The bug is reproducable on `apiVersion: autoscaling/v1` too.
k8s 1.14.6 (Azure Kubernetes Service)

[2019-10-22 12:34] droslean opened #84183 "[Failing Test] gce-windows-master (ci-kubernetes-e2e-windows-gce)"
**Which jobs are failing**:
`gce-windows-master (ci-kubernetes-e2e-windows-gce)`

**Which test(s) are failing**:
[code]
[code]
[code]

**Since when has it been failing**:
`22 Oct 21:02 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-master

**Reason for failure**:
[code]

[code]

[code]

**Anything else we need to know**:
/sig cli
/sig windows

[2019-10-22 12:35] droslean commented on #84183
/cc @soltysh @michmike

[2019-10-22 12:36] droslean commented on #84183
/milestone 1.17

[2019-10-22 12:37] droslean commented on #84183
/milestone v1.17

[2019-10-22 12:38] yue9944882 opened #84184 "APIService.spec.service should not be marked required in the openapi v2 spec"
/sig api-machinery
/kind bug

/cc @sttts @liggitt

this makes any updates on a "Local" apiservice failing by kubectl (unless you disable the client-side validation). a quick repro:

1.  `kubectl edit apiservice v1.batch ` (edit whatever a local apiservice)
2. adds a label "foo: bar"
3. kubectl will fail on the schema validation

client-side v1.15.0 server-side v1.15.2

referencing the published op

[2019-10-22 12:41] #84100 closed

[2019-10-22 12:51] ingvagabund commented on #83554
@ahg-g the same question for `EvenPodsSpread as Score plugin`. I can take this one if it's free.

[2019-10-22 12:58] yue9944882 commented on #84081
UPDATE: i tried toggle on the openapi generation for these groups but it doesnt work. i see the admission{request,response} types are already present in the pkg/generated/zz_generated_openapi.go but in the published doc from the apiserver, the types are gone.. or they can probably be filtered on aggregating/merging the openapi specs..

[2019-10-22 12:59] ahg-g commented on #83554
@Huang-Wei is working on it.

[2019-10-22 13:00] vahitunal commented on #37922
i tried with squid and tiny proxy. none of the solutions worked for me. when i use socks5 it worked.

[2019-10-22 13:00] vahitunal commented on #60134
i tried with squid and tiny proxy. none of the solutions worked for me. when i use socks5 it worked.

[2019-10-22 13:09] ahg-g opened #84185 "Remove wrappers around storage-related listers in the scheduler"
**What would you like to be added**:
Remove wrappers around storage-related listers in the scheduler: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/predicates/predicates.go#L161-L228

predicates should just use shared informer listers directly.

**Why is this needed**:
They provide no value, at the same time removing them simplifies the scheduler framework.

/sig sch

[2019-10-22 13:14] odinuge commented on #84178
Did some research a few days ago, and it turns out that adding a `StarupProbe` there will not be sufficient to fix the issue. Since we init the probe with `Failed`, the container will keep restarting if we do so. I think we have to rewrite the probing mechanism a bit to achieve what we want, since the code was written primarly for the `liveness` and `readiness` probes. I have a small wip solution

[2019-10-22 13:19] ahg-g opened #84186 "sig-scalability-benchmarks#scheduler fails consistently due to build issues"
**What would you like to be added**:
There is a tab in the k8s perf dashaboard for the scheduler perf benchmarks, but it is showing nothing, we should fix that:   http://perf-dash.k8s.io/#/?jobname=scheduler-benchmark&metriccategoryname=Scheduler&metricname=BenchmarkResults

What this dashboard should be showing is multiple runs per day of
[code]

We can run it every hour, and summarize the 24 run

[2019-10-22 13:25] ingvagabund commented on #83554
@ahg-g any free task left then? Or, should I wait the same way as @hprateek43 as new issues are presented ? :)

[2019-10-22 13:29] krzysied commented on #84151
I'm running bisection on https://github.com/kubernetes/kubernetes/compare/54a30700a...9c25b16d8

https://github.com/kubernetes/kubernetes/commit/578d0616669b53be13df0bc8805daf64ae9d01e3 seems affected:
Scheduler_to_run - perc50: 315.537209ms, perc90: 837.548056ms, perc99: 1.92936341s

[2019-10-22 13:30] ahg-g opened #84187 "Filter plugins for CheckNodeLabelPresence predicate"
**What would you like to be added**:
Filter plugins for custom predicate CheckNodeLabelPresence.

**Why is this needed**:
Part of  #83554

/sig scheduling
/assign @liu-cong
/priority important-soon

[2019-10-22 13:55] alculquicondor commented on #83581
@ingvagabund, would you like to take this? I can provide guidance.

[2019-10-22 13:56] mrkm4ntr commented on #83788
Does anyone have opinions about this?

[2019-10-22 14:19] danwinship commented on #84107
OK, fixed some of the tests, got the rest to the point where they failed differently...

[2019-10-22 14:25] droslean commented on #84107
@danwinship Thanks for the update. In testgrid we still see the same error. We will keep observing the next runs.

[2019-10-22 14:25] liggitt commented on #84136
note that events are not guaranteed to be delivered (the event recorder throttles event reporting over certain thresholds)

[2019-10-22 14:27] liggitt commented on #83829
it seems so. can this issue be closed?

[2019-10-22 14:28] dirkcgrunwald commented on #84170
Thanks, good catch.

Turns out that 30 years of sh/csh/tcsh/bash had left a trail through my dot files.
When switching to zsh, this was useful: https://medium.com/@rajsek/zsh-bash-startup-files-loading-order-bashrc-zshrc-etc-e30045652f2e

[2019-10-22 14:28] #84170 closed

[2019-10-22 14:34] tedyu commented on #78220
I only found one copy in pkg/api/v1/pod/util.go

[2019-10-22 14:48] wojtek-t commented on #75294
This should be fixed by #81914

[2019-10-22 14:48] #75294 closed

[2019-10-22 14:50] wojtek-t commented on #73585
This is code complete. Further tracking will be done in https://github.com/kubernetes/enhancements/issues/956

[2019-10-22 14:50] #73585 closed

[2019-10-22 14:59] draveness commented on #83829
/close

Regards,
Draven
On Oct 22, 2019, 10:30 PM +0800, Jordan Liggitt <notifications@github.com>, wrote:

[2019-10-22 14:59] #83829 closed

[2019-10-22 14:59] sebastiansirch commented on #69696
We observed the same issue but it seems to be resolved in 1.14.7-gke.10. Nodes are not recreated after scaling the pool to 0.

[2019-10-22 15:55] adampl commented on #70047
I think the monitors should be pulled from a ConfigMap.

[2019-10-22 15:59] krzysied commented on #84151
Regarding the problem with load test. Some pods are not starting on certain nodes:
W1021 21:14:03.124] I1021 21:14:03.123786   14725 wait_for_pods.go:70] WaitForControlledPodsRunning: namespace(test-86jdkw-45), labelSelector(name=small-deployment-268): pods status: [{small-deployment-268-6d48bdf694-flqtr Running gce-scale-cluster-minion-group-3-rl69} {small-deployment-268-6d48bdf694-k9h2j Pending

[2019-10-22 16:00] zouyee commented on #84185
/assign

[2019-10-22 16:18] apelisse commented on #84081
There seems to be a mechanism in OpenAPI to describe "callbacks": https://swagger.io/docs/specification/callbacks/
I think we should just describe webhooks through that mechanism, along with the types it uses of course.

[2019-10-22 16:30] krzysied commented on #84151
[code]
It seems that some nodes are becoming unresponsive for some reason.

[2019-10-22 16:31] bclau commented on #83890
Indeed, I've had this PR open for it: https://github.com/kubernetes/kubernetes/pull/83398
It merged, now it's fine.

As for the guestbook one, I have a PR for that as well: https://github.com/kubernetes/kubernetes/pull/83055

[2019-10-22 16:33] danielmotaleite commented on #69844
not sure if exactly the same problem, but to help anyone with the same problem, this is what happen with our setup:

the problem was that we disabled ipv6 in the kubernetes master nodes and everything started to slowly fail with strange errors.
In the master,  kube-apiserver.log showed this error:
[code]
That gave me the hint that the problem was related to ipv6. Doing this in the kubernetes maste

[2019-10-22 16:42] krzysied commented on #84151
I knew that I saw this issue somewhere... I had the same problem with kubemark presubmit for my PR https://github.com/kubernetes/kubernetes/pull/83897. pull-kubernetes-kubemark-e2e-gce-big fails because of the same thing. However kubemark should have hollow nodes, so that's weird...

[2019-10-22 16:51] neolit123 commented on #83929
@Davidrjx
what is the average restart rate at this point?
e.g. one restart every 3 days?

[2019-10-22 17:06] ahg-g opened #84195 "Remove predicates.NodeInfo dependency from kubelet"
**What would you like to be added**:
Remove predicates.NodeInfo dependency from kubelet

**Why is this needed**:
Kubelet uses predicates.NodeInfo interface to define a node getter: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L963

Its implementation is based on node corelisters: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2311

We ar

[2019-10-22 17:12] thanasisk commented on #84086
We followed the steps (adapting, given that we are not using AKS) and now we get the following:
`  Warning    ProvisioningFailed  45s    persistentvolume-controller  Failed to provision volume with StorageClass "slow": Create Storage Account: dsc8250bd2f4ee11e98b860, error: storage.AccountsClient#Create: Invalid input: autorest/validation: validation failed: parameter=resourceGroupName constraint=

[2019-10-22 17:22] gudipudipradeep commented on #78338
Getting same issue any idea about this issue. kube-proxy service is not starting that i could not able connect with other components.

[2019-10-22 17:31] StephanX commented on #27308
The ability to choose context based on an environment variable would be incredibly helpful.

I juggle a couple of dozen clusters, some of them need to interact with each other.  Most of my automation tooling expects a single kubeconfig file to contain clusters to work with, so splitting my kubeconfig into 25+ configs (some that come or go over time) is a major hassle.  To perform actions on, say,

[2019-10-22 17:54] mortent commented on #77383
I don't think we want to prevent PDBs from working with pods with different controllers or prevent PDBs from working with CronJobs. But I agree that it could be useful to provide better feedback if the disruption controller for some reason (this issue highlights one way it can fail) are unable to reconcile a PDB resource.

[2019-10-22 17:58] tedyu commented on #70767
@dashpole @mtaufen @BenTheElder
Please comment whether the clearing of environment variables at the start of kubelet should be pursued.

Thanks

[2019-10-22 18:12] walteryoung commented on #58619
/reopen

[2019-10-22 18:13] walteryoung commented on #57291
This lack of feature has been a big pain point for my application, which relies on destroying containers after processing and starting up clean ones for security purposes.

[2019-10-22 18:27] denkensk commented on #84195
/assign

[2019-10-22 18:29] denkensk commented on #84195
/remove-help

[2019-10-22 18:29] mcandre opened #84201 "Support, and require explicit timezones for recurring jobs"
Please support the modern `CRON_TZ=<timezone>` suffix for clarifying exactly when recurring jobs should run, in order to avoid jobs running at the wrong time.

Furthermore, please require this suffix, so that human operators are less likely to make mistakes when configuring job intervals.

The timezone should accept both country code ("UTC", "PST", etc.), as well as regional ("UTC", "America/Los_A

[2019-10-22 18:56] hasheddan opened #84202 "[Failing Test] kops-build (ci-kops-build)"
**Which jobs are failing**: `ci-kops-build`

**Which test(s) are failing**: `Overall`

**Since when has it been failing**:
First failure: 5:15 PDT 10/22/19
Consistent failure since: 10:24 PDT 10/22/19

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-misc#kops-build

**Reason for failure**:
[code]

**Anything else we need to know**:
/sig release
/cc @alenkacz @alejandrox1 @droslean

[2019-10-22 19:05] DarrienG commented on #47775
I'm not a Kubernetes maintainer (although I am one of the Kubernetes maintainers at my company), but this is standard docker best practices. Tags are supposed to be immutable, and when you try to think of them as something that is not, you get into weird situations like this.

If you want to always get the latest image, you should set `imagePullPolicy: Always`

[2019-10-22 19:09] poy opened #84203 "client-go: fake.Clientset doesn't support streaming logs"
**What happened**:
I tried to use [`FakePods.GetLogs()`](https://godoc.org/k8s.io/client-go/kubernetes/typed/core/v1/fake#FakePods.GetLogs) in a unit test, however I get a nil pointer panic when `.Stream()` is invoked.

**What you expected to happen**:
`FakePods.GetLogs()` would return a `restclient.Request{}` that doesn't panic on any method call. Ideally, it would allow me to interact with the c

[2019-10-22 19:14] poy commented on #84203
/sig testing

[2019-10-22 19:25] zerkms commented on #67250
/remove-lifecycle stale

[2019-10-22 19:34] verult commented on #73972
/remove-lifecycle stale

[2019-10-22 19:43] hh commented on #84162
Take another look at Sonobouy's loader or Velaro

[2019-10-22 19:44] tedyu opened #84204 "[Failing Test] Error downloading cri_tools.tgz"
**Which jobs are failing**:
kubernetes-e2e-gce-device-plugin-gpu

**Since when has it been failing**:
Oct 22nd, 2019

**Testgrid link**:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/84198/pull-kubernetes-e2e-gce-device-plugin-gpu/1186724832847335424/build-log.txt

**Reason for failure**:
[code]

[2019-10-22 19:58] hasheddan commented on #84202
It appears AWS is suffering from DNS resolution errors right now, which I think may be causing this issue https://status.aws.amazon.com/

[2019-10-22 19:58] lavalamp commented on #84162
Overall:
* Why does this need to be an e2e test?
* What are you hoping such a test will hold true about the system? (i.e., what failure modes will this detect)
* the dynamic client has no type dependent behavior so it is not clear why you would want to test it against multiple types.

About the steps suggested:
* why did you choose those aspects to test?
* name is generally immutable, the last ste

[2019-10-22 19:59] hasheddan commented on #84204
I am thinking this may have to do with AWS problems, see https://github.com/kubernetes/kubernetes/issues/84202#issuecomment-545127634

[2019-10-22 20:23] metsie2912 commented on #55894
@da-123,
Try setting:
[code]

[2019-10-22 20:23] hh commented on #84162
/retitle "Create e2e test for watch operations"

[2019-10-22 20:37] saad-ali commented on #70505
/priority important-soon

[2019-10-22 20:39] lavalamp commented on #84162
We already have e2e tests for watch operations?

[2019-10-22 20:43] hh commented on #84162
Watch Conformance Coverage is the P1 Priority for the SIG-Arch Conformance subgroup.
(note the original title may have been misleading)

[code]

[code]

It's primarily to ensure the creation and updating actions are observable via watch for a large set of object/kinds,

It was from a general discussion in the Conformance Meeting about how we might be able to measure and increase watch coverage. We

[2019-10-22 20:50] caarlos0 commented on #78227
any workarounds?

[2019-10-22 21:00] lavalamp commented on #84162
Testing every generic API feature on every API type leads to a combinatorial explosion in tests without adding much marginal value (there's only 2-4 relevant code paths that need to be tested for this particular thing). You need to either not do this or switch to a randomized testing strategy.

Will you test that metadata.generate-name works on every type? How about finalizers? How about label sel

[2019-10-22 22:26] stragulus commented on #45509
Having struggled with this problem for a long while, I think there is an acceptable existing solution:

- Run an autoscaler application that only scales UP based on work load
- Run your workers as Jobs. Job spec should have no deadline, e.g. run forever
- Jobs do their worker thing, e.g. continuously consume off of a queue. When they detect they're idle, they exit gracefully. This will not cause a

[2019-10-22 22:56] yujuhong commented on #84183
/cc @yliaog @pjh

[2019-10-22 23:13] BenTheElder opened #84209 "failing test: [k8s.io] Security Context when creating a pod in the host PID namespace should show its pid in the host PID namespace [LinuxOnly] [NodeFeature:HostAccess]"
**Which jobs are failing**: `pull-kubernetes-e2e-kind`, `pull-kubernetes-e2e-gce`

**Which test(s) are failing**: `[k8s.io] Security Context when creating a pod in the host PID namespace should show its pid in the host PID namespace [LinuxOnly] [NodeFeature:HostAccess]`

**Since when has it been failing**: since this PR introduced them https://github.com/kubernetes/kubernetes/pull/83368#issuecomme

[2019-10-22 23:14] BenTheElder commented on #84209
/sig node

[2019-10-22 23:16] BenTheElder commented on #84209
see: https://github.com/kubernetes/kubernetes/pull/83368#issuecomment-544926506, both getting empty PID and multiple PIDs.

[2019-10-22 23:21] johnbelamaric commented on #84209
@Jefftree

[2019-10-23 00:38] segevfiner opened #84210 "Support adding an init process to containers"
**What would you like to be added**:
Add support for adding an init process (PID 1) to containers started by Kubernetes, across the supported container runtimes. This should be toggled by an appropriate flag on the `Container` spec.

A possible implementation is basically bind mounting a statically built init executable (e.g. `tini`) into the container and passing the containers entrypoint+cmd to

[2019-10-23 00:39] tallclair commented on #58211
/milestone v1.18

blocker for https://github.com/kubernetes/enhancements/pull/1148

[2019-10-23 00:50] chewong commented on #84052
After looking at logs provided by @MSSedusch, I think the root cause of the bug is the concurrent-service-syncs flag in your cloud-controller-manager. According to your log, it was set to 10, which means if there were multiple service-related changes queued up for reconciliation, they were processed concurrently.

In your case, since there was no existing Azure Load Balancer when the cluster was c

[2019-10-23 01:08] Davidrjx commented on #83929
hard to evaluate rate, just like  https://github.com/kubernetes/kubernetes/issues/83929#issuecomment-544353225, one or two restart occured before restarting/updating that two controller manager pods via adding log verbose flag.
After adding flag, there is no any restart so far, resembling
[code]

[2019-10-23 01:21] ahg-g commented on #78220
yeah, this has been addressed.

/close

[2019-10-23 01:21] #78220 closed

[2019-10-23 01:29] msau42 opened #84213 "Fix up storage/v1 and v1beta1 apis"
**What happened**:
Most of the v1beta1 objects should be deprecated by now because they have v1 versions.

Also fix up comments in the v1 objects.
- "nil" => "not specified"

[2019-10-23 01:29] liggitt commented on #84209
opened revert at https://github.com/kubernetes/kubernetes/pull/84212

[2019-10-23 01:30] msau42 commented on #84213
/assign
/sig storage
/kind cleanup
/remove-kind bug

[2019-10-23 01:43] cofyc commented on #74923
it's hard to test because this is no reliable and consistent way to check global mount path in e2e, for example:

- local: `/var/lib/kubelet/plugins/kubernetes.io/local-volume/mounts/spec.Name()`
- rbd: `/var/lib/kubelet/plugins/kubernetes.io/rbd/mounts/<pool>-image-<image>`

the only way to check the global mount path is to registering all volume plugins and call `GetDeviceMountPath`, but it requ

[2019-10-23 01:48] msau42 commented on #74923
Actually @jsafrane added an e2e test in https://github.com/kubernetes/kubernetes/pull/83451, but we had to disable it for local volumes since it doesn't support it yet.

[2019-10-23 01:58] cofyc commented on #74923
it's different, the disabled test is for check block volume map path and fixed in https://github.com/kubernetes/kubernetes/pull/84173.

for filesystem volume with block source, pod volume and subpath mounts are checked in subpaths suite but the global mount path in plugin directory is not checked.

[2019-10-23 02:29] kimberli opened #84214 "Kubelet gets stuck trying to inspect a container whose image has been cleaned up"
**What happened**:
Kubelet loops trying to inspect docker container for a pod whose image has been deleted (names and hashes replaced for brevity):
[code]

As a result, the pod gets stuck on status `Terminating`.

**What you expected to happen**:
The pod finishes normally

**How to reproduce it (as minimally and precisely as possible)**:
This is happening on machines with frequently scheduled jobs

[2019-10-23 02:32] kimberli commented on #84214
@kubernetes/sig-node-bugs

[2019-10-23 03:10] #74173 closed

[2019-10-23 03:26] zouyee commented on #84214
/assign

[2019-10-23 03:26] zouyee commented on #84214
/area kubelet

[2019-10-23 03:46] langyenan commented on #83471
Did you try set `--serialize-image-pulls=false` when starting kubelet?

By default, that flag is `true`, which means kubelet pulls images one by one. I think the pulling is not stuck, they are just waiting for the current one to be finished.

below is the serial image puller, you see, one slow pulling may stuck all the pullings on the node :
https://github.com/kubernetes/kubernetes/blob/ca0e694d63

[2019-10-23 03:56] emptywee commented on #83471
@langyenan this is definitely interesting... I'll experiment with this flag and see how it improves/worsens our problem :) Thanks!

[2019-10-23 03:57] emptywee commented on #83471
@langyenan any idea why this param is not configurable?

https://github.com/kubernetes/kubernetes/blob/ca0e694d637f9e6feffd7330f66b081769c1c91b/pkg/kubelet/images/puller.go#L58

[2019-10-23 04:10] langyenan commented on #83471
Nop, but even if it is configurable, there is still only one pulling at a time.

[2019-10-23 04:28] emptywee commented on #83471
@langyenan one pulling at a time even with `--serialize-image-pulls=false` ? What difference is it going to make then?

[2019-10-23 05:09] yliaog commented on #84183
https://github.com/kubernetes/kubernetes/issues/83890#issuecomment-544911236

The only failing test on the most recent run is [sig-cli] Kubectl client Guestbook application should create and stop a working application [Conformance].
to be fixed by https://github.com/kubernetes/kubernetes/pull/83055

[2019-10-23 05:28] cofyc opened #84216 "e2e/storage: verify all pod volume mounts exist"
**What happened**:

e2e `utils.TestVolumeUnmountsFromDeletedPodWithForceOption` does not verify that all pod volume mounts exist.

https://github.com/kubernetes/kubernetes/blob/9c70e39b204e42bbea0b4cf744595a5af3006f70/test/e2e/storage/utils/utils.go#L244-L248

every pod has a builtin secret volume, so this test will pass even if the kubelet failed to mount our test volume.

[2019-10-23 05:28] cofyc commented on #84216
/sig storage
/kind cleanup

[2019-10-23 05:35] pabvenegas commented on #83038
@PatrickLang Nilesh is on leave for this week, I will chase up other Nilesh next week to verify.

[2019-10-23 06:15] langyenan commented on #83471
with `false`, a parallel puller is used:
https://github.com/kubernetes/kubernetes/blob/ca0e694d637f9e6feffd7330f66b081769c1c91b/pkg/kubelet/images/puller.go#L39-L55

[2019-10-23 06:18] #83403 closed

[2019-10-23 06:32] wojtek-t commented on #80513
/remove-lifecycle stale
/lifecycle frozen

[2019-10-23 06:34] emptywee commented on #83471
@langyenan Oh, I thought that const was also used for parallel pulling. My bad, need more sleep. Thanks for the hint!

[2019-10-23 06:38] yue9944882 commented on #84081
yes! however the callbacks only applies to v3 spec https://swagger.io/blog/news/whats-new-in-openapi-3-0/, we can consider include this in this KEP https://github.com/kubernetes/enhancements/pull/1263 @p0lyn0mial

[2019-10-23 06:45] JokerDevops commented on #69725
How did you finally solve the problem?

[2019-10-23 06:56] alenkacz commented on #84202
@hasheddan very nice detective work! :) I still see some failures as of one hour before now though and AWS claim to resolve that already many hours ago. I guess let's wait for a bit to see :)

[2019-10-23 07:29] jsafrane commented on #74923
This is quite ugly, but as the last resort we can list `/var/lib/kubelet/plugins/<plugin name>` before the test starts + after the tests and compare them. Disruptive tests are [Serial], so no other pod can create a new subdir there in the meantime.

[2019-10-23 07:38] cofyc commented on #74923
I've tried the second option [here](https://github.com/kubernetes/kubernetes/pull/84218/files#diff-0d21a89b3adc375caf1b557b014e1111R240). You suggestion is simpler and doesn't need to parse mount information.

[2019-10-23 07:45] dwmkerr commented on #80120
/remove-lifecycle stale

[2019-10-23 07:45] dwmkerr commented on #80120
@fejta any thoughts on this one? I opened up a discussion in slack but very little input so far.

[2019-10-23 07:50] andyzhangx commented on #84086
@thanasisk Since you are using managed diks, you don't need to specify a storage account.
you could use following storage class:
[code]

You could find more examples here(e.g. if you want to provision azure disk in another resource group)
https://github.com/andyzhangx/demo/tree/master/pv

[2019-10-23 08:12] alenkacz commented on #82387
This is pretty flaky in our master-blocking dashboards, any chance someone can dive into this @rtheis ?

https://k8s-testgrid.appspot.com/sig-release-master-blocking#GCE,%20master%20(dev)

[2019-10-23 08:19] jim3ma commented on #70013
/remove-lifecycle stale

[2019-10-23 08:20] oleg-filiutsich commented on #43916
I catched the problem too in gke.
[code]

kubectl top return not correct free ram value.
In host I see free ram almost twice as much more.

[2019-10-23 08:31] ywk253100 opened #84219 "The subpath folder is created with unexpected group id when the volume is shared by multiple pods"
The steps to reproduce this issue is as following:
1. Create PV:
[code]
2. Create PVC:
[code]
3. Create two pods, the first one:
[code]
The second one:
[code]

The two pods share the same volume but with different `subPath`(`a` and `b` ) and different `fsGroup`(`10000` and `900`)

When I checking the permission of directories on the host, I got:
[code]
The group IDs of `/opt/test`, `/opt/test/a` a

[2019-10-23 08:36] cofyc commented on #74923
instead of checking directories, we can check all mount points instead because some parent directories will be created on first use and not cleaned later.

I think we can simply cache all global mount points under `/var/lib/kubelet/plugins` before the test and verify after the test that we do not leak global mount points. Then we don't need to assume how plugin generates its sub-directory under `/

[2019-10-23 08:38] faultuser commented on #78128
same issue

[2019-10-23 08:42] oxddr commented on #84149
@danwinship the fix helped for a two tests, but one of them is still failing: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness

[2019-10-23 08:49] wojtek-t commented on #84149
I disagree - there are couple loadbalancing-related tests that are flaking with high flakiness ration - I think this PR didn't change anything.
So my feeling is that is may still be something like: https://github.com/kubernetes/kubernetes/issues/84149#issuecomment-544429272

[2019-10-23 08:51] tiurikov commented on #84086
@andyzhangx thanks for the information!
I was able to get rid of the resourceName issue using the examples you provided. Thank you! Here is my SC and PVC definitions:
[code]

However I still get:
`I1023 08:44:31.791099       1 pv_controller.go:1492] failed to provision volume for claim "default/tiurikov-test" with StorageClass "azure-storage-class": compute.DisksClient#CreateOrUpdate: Failure send

[2019-10-23 08:53] Sota-Watanabe opened #84220 "Kubernetes not working with DNS - no communication from pod to outside(hack/local-up-cluster.sh)"
**What happened**:
I want to connect outside from pod.
As a test, I trid dns-debugging-resolution.
no connection ...
**How to reproduce it (as minimally and precisely as possible)**:
1. create an env using [running-locally](https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md)
2. create busybox using [dns-debugging-resolution](https://kubernetes.io/docs/tasks/a

[2019-10-23 08:56] tiurikov commented on #84086
Plus the azure.json we currently have:
[code]

[2019-10-23 09:01] oxddr commented on #84149
Still, the conclusion is that unfortunately more work in needed to put us back in a good shape.

[2019-10-23 09:02] zouyee commented on #84214
I couldn't reproduce the issue runtime neither docker nor containerd.
/cc @mattjmcnaughton

[2019-10-23 09:05] andyzhangx commented on #84086
to narrow down this issue, is it possible to provision an azure file:
[code]

[2019-10-23 09:11] acondrat commented on #55045
We have many use cases when it would nice if PVCs are deleted on scale down!

[2019-10-23 09:13] tiurikov commented on #84086
I got this for the `pvc-azurefile`:

`I1023 09:10:31.661037       1 pv_controller.go:1492] failed to provision volume for claim "default/pvc-azurefile" with StorageClass "azurefile": could not get storage key for storage account : could not list storage accounts for account type Standard_LRS: storage.AccountsClient#ListByResourceGroup: Invalid input: autorest/validation: validation failed: paramet

[2019-10-23 09:32] feiskyer commented on #84052
Thanks @chewong .

@dguendisch could you update concurrent-service-syncs to 1? we would limit the value to 1 in [cloud-provider-azure](https://github.com/kubernetes/cloud-provider-azure/issues/249).

[2019-10-23 09:39] tiurikov commented on #84086
if add a resource name to the storage class definition:

[code]

I got another error:
`E1023 09:37:46.807913       1 goroutinemap.go:150] Operation for "provision-default/pvcazurefile[9c323779-f578-11e9-8c56-000d3a544244]" failed. No retries permitted until 2019-10-23 09:38:02.807885195 +0000 UTC m=+63674.250238944 (durationBeforeRetry 16s). Error: "failed to create share dp-poc-1-az-eastus.poc-pv

[2019-10-23 09:40] feiskyer commented on #82467
so I think https://github.com/kubernetes/community/pull/4186 already provides the enough information. All cherry pick PRs would be filled with its link, e.g.

[2019-10-23 09:44] tiurikov commented on #84086
Could it be we specified a resource group name in a wrong way? I also see some similar ideas here: https://github.com/Azure/azure-sdk-for-python/issues/4121#issuecomment-451602197

that explains why we can get `The api-version '2018-09-30' is invalid. `. With a wrong resource group name a request would have been sent to a wrong endpoint.

[2019-10-23 09:45] alculquicondor commented on #80372
Hi @draveness
Do you mind finishing up this refactoring? It looks like most of the dependencies were moved already, except for `algorithm.PodFilter`. Did you reach a consensus about where to move that one?

[2019-10-23 09:48] hhxyda opened #84224 "can't load package: package k8s.io/kubernetes: cannot find module providing package k8s.io/kubernetes"
go/build: importGo k8s.io/kubernetes: exit status 1
can't load package: package k8s.io/kubernetes: cannot find module providing package k8s.io/kubernetes

+++ [1023 17:46:10] Building go targets for linux/amd64:
    ./vendor/k8s.io/code-generator/cmd/deepcopy-gen
go: finding k8s.io/kubernetes/vendor/k8s.io/code-generator/cmd latest
go: finding k8s.io/kubernetes/vendor/k8s.io/code-generator/cmd/dee

[2019-10-23 09:50] wojtek-t commented on #84149
I looked a bit into it and the conclusions are:

- "Services should handle load balancer cleanup finalizer for service [Slow]" test is consistently failing in small clusters too with:
[code]
IIUC, the reason is that if we downgrade load-balancer service to non-loadbalaced one, it takes some time to remove the ingress from Status, but it is failing immediately due to this:
https://github.com/kubern

[2019-10-23 10:01] tiurikov commented on #84086
I also guess that `ErrorCode=InvalidResourceName, ErrorMessage=The specifed resource name contains invalid characters.` is related to `.` character in name `dp-poc-1-az-eastus.poc-pvc-9c323779-f578-11e9-8c56-000d3a544244`

[2019-10-23 10:16] jsafrane opened #84226 "Check if volume is attached before deleting it"
**What would you like to be added**:
PV controller should not try to delete volumes that are attached. Right now, it tries to delete a volume as soon as PVC is deleted, which is too early. When user deletes a namespace, a pod and PVC is deleted at the same time, causing unnecessary delete attempts when the volume is still attached to a node. VolumeInUseProtection won't help us, as a Pod object is

[2019-10-23 10:28] tiurikov commented on #84086
Now I'm pretty sure that the `The api-version '2018-09-30' is invalid.` issue is related to missing resourceGroup in the URL. I think KCM is trying to call it as: https://management.azure.com/subscriptions/MY_SUBS_ID/resourceGroups/providers/Microsoft.Compute/disks/MY_DISK_NAME?api-version=2018-09-30

so, there is no resource group name in the path after `https://management.azure.com/subscriptions

[2019-10-23 10:33] alculquicondor commented on #71863
Hi @hprateek43, could you please do a survey of the remaining structs and functions in the util package and their usages?

From there, we can decide what is the best location for each of them.

[2019-10-23 10:36] Perdjesk commented on #76928
/remove-lifecycle stale

[2019-10-23 10:36] Perdjesk commented on #55045
/remove-lifecycle stale

[2019-10-23 10:37] rtheis commented on #82387
@alenkacz We stopped running the test because it was so flaky.  Unfortunately, I don't have time in the near term to fix the test.

[2019-10-23 10:42] thanasisk commented on #84086
To reinfore the point above, in the KCM we get the following error:
`E1023 01:15:16.270880       1 azure_blobDiskController.go:74] azureDisk - getAllStorageAccounts error: storage.AccountsClient#ListByResourceGroup: Invalid input: autorest/validation: validation failed: parameter=resourceGroupName constraint=MinLength value="" details: value length must be greater than or equal to 1`
no matter if

[2019-10-23 10:58] jsafrane commented on #74923
+1

[2019-10-23 11:08] hprateek43 commented on #71863
@alculquicondor I will review the scheduler today and identify redundant components. Will open a cleanup PR

[2019-10-23 11:12] andyzhangx commented on #84086
`resourceGroup` should be where your cluster is, got a wrong `resourceGroup`?

[2019-10-23 11:15] verb commented on #45922
/remove-lifecycle stale

[2019-10-23 11:17] tiurikov commented on #84086
resourceGroup is available in our `cloud.json`, however is it not applied.

The only way to get it work is to add it right to SC:
[code]
and it works only if the property name is defined in lowercase, it does not work with `resourceGroup`

now we have another error:
`I1023 11:14:31.831025       1 pv_controller.go:1492] failed to provision volume for claim "default/tiurikov-test" with StorageClass

[2019-10-23 11:18] avarf opened #84230 "service-to-pod communication is broken"
**What happened**:
I have an in house 5 node cluster running on bare-metal and I am using Calico. The cluster was working for 22 days but suddenly it stopped working. After investigating the problem I found out that the service to pod communication is broken while all the components are up and kubectl is working without a problem.

From within the cluster (component A) if I try to curl another com

[2019-10-23 11:18] tiurikov commented on #84086
the location property seems to be ignored from both `cloud.json` and StorageClass definitions.

[2019-10-23 11:26] tuminoid commented on #47775
I agree with you. We run `AlwaysPullImages` admission plugin anyways. The point is to get it consistent. Either fix to code to work as documented, or fix the documentation to match the code. I'd prefer `IfNotPresent` and omitting `imagePullPolicy` to do the same.

/remove-lifecycle stale

[2019-10-23 11:27] hex108 commented on #80800
/assign

[2019-10-23 11:27] hex108 commented on #84186
Ref https://github.com/kubernetes/kubernetes/issues/80800

[2019-10-23 11:28] andyzhangx commented on #84086
follow this example: https://github.com/andyzhangx/demo/blob/master/aks-engine/deployment/etc/kubernetes/azure.json
there should be `resourceGroup`, `location` in azure.json file, and then restart kube-controller-manager.

[2019-10-23 11:35] tuminoid commented on #51835
This is very much active issue still, k8s 1.15.4 and RHEL Docker 1.13.1. All the time pods stay in `Terminating` but the container is already gone, and k8s cannot figure out itself, but requires human interaction. Makes test scripting real PITA.

/reopen
/remove-lifecycle rotten

[2019-10-23 11:39] lanmarti commented on #82285
Any news on the state of #79657? I'm running a v1.15.3 cluster with the same issue.

[2019-10-23 11:44] krzysied commented on #84151
Based on manual load test, those are the number of pods assigned to nodes (different node in each line).
[code]
Scheduler schedules pods only on specific subset of nodes. Therefore nodes are either fully unitized or not at all.

[2019-10-23 11:47] tiurikov commented on #84086
yes,  `resourceGroup` and `location` properties are specified in our `azure.json`.
and they are ignored. the only way to set `resourceGroup` for the disk creation request is to add `resourcegroup` to StorageClass definition. `location` property seems to be ignored wherever I defined it.

[2019-10-23 11:50] clarklee92 commented on #84216
Actually, I noticed only ssh command exit code was checked before pod deleted:
[code]
No matter how many results `grep` from `mount`, the test passes if command executed via ssh. It is better to check mounted volumes numbers. As raw block device used by pvc, I don't think it's easy to get the real count of mounted volumes.
How about check if `mount | grep clientPod.UID | grep -v volume-subpaths|wc

[2019-10-23 11:51] sergeydeg commented on #76531
Seems like this is linked issue #71887

[2019-10-23 11:53] andyzhangx commented on #84086
I have no idea why it's ignored, have you restarted your kube-controller-manager?

[2019-10-23 11:57] saschagrunert commented on #19077
I wrote an email to the SIG Node mailing list regarding the topic and the plan:
https://groups.google.com/forum/#!topic/kubernetes-sig-node/JHEus_TlZzA

[2019-10-23 11:58] cofyc commented on #84216
`grep` will fail if no pod mounts (except `volume-subpaths`) found. maybe we can verify if the number of pod mounts equals to `len(pod.Spec.Volumes)`.

[2019-10-23 12:07] clarklee92 commented on #84216
Pod may use block device by pvc which cannot be found by `mount`. `len(pod.Spec.Volumes)` container not only volumes.

[2019-10-23 12:11] Kaijun commented on #65965
Any updates on this?

i'm encountering the the same issue

[2019-10-23 12:12] krzysied commented on #84151
Logs from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1186326794052046848/artifacts/gce-scale-cluster-minion-group-4kps/serial-1.log:
[code]
[code]

[2019-10-23 12:18] cofyc opened #84233 "e2e: better HostExec"
**What would you like to be added**:

- separate stdout and stderr
- command exit code: https://github.com/kubernetes/kubernetes/pull/26541
- remove kubectl dependency: https://github.com/kubernetes/kubernetes/pull/83930

**Why is this needed**:

to replace `e2essh.SSH`

[2019-10-23 12:18] cofyc commented on #84233
/assign

[2019-10-23 12:27] alenkacz commented on #82387
@rtheis so when did you disable it and where? It's the test that's failing here, right? https://k8s-testgrid.appspot.com/sig-release-master-blocking#GCE,%20master%20(dev)

[2019-10-23 12:29] liggitt commented on #84224
until https://github.com/kubernetes/kubernetes/issues/82531 is merged, you will need to use go1.12 to build

/close

[2019-10-23 12:29] #84224 closed

[2019-10-23 12:41] avarf commented on #84230
# Update

After deleting all kube-proxy pods problem seemed to be solved but I still like to know what caused this problem. Btw I didn't see any error in the kube-proxy logs before I delete them.

[2019-10-23 12:44] dguendisch commented on #84052
@dkistner just changed to `1` in https://github.com/gardener/gardener-extensions/pull/383

[2019-10-23 12:46] hatimkapadia2030 commented on #67592
/reopen
Hello, Is there any update on this. We are having a similar issue.

I am running a Couchbase cluster and in order to gracefully remove a pod from the cluster I need to run a shutdown script.
Since the scripts depends on resolving the IP using the endpoints the script always fails and there is no graceful shutdown.

Any info would be appreciated

[2019-10-23 12:52] DarrienG commented on #47775
We'll see how it goes: https://github.com/kubernetes/website/pull/17141

[2019-10-23 13:29] zouyee commented on #80405
/remove-lifecycle stale

[2019-10-23 13:36] thanasisk commented on #84086
@andyzhangx we restarted and we are now able to create and bind PVs. Many thanks for your help.
For future reference if anybody else runs into the same problem:
azure.json (or equivalent --cloud-config kube-controller-manager file) MUST contain resourceGroup and location. MSFT API messages can be misleading.

[2019-10-23 13:36] #84086 closed

[2019-10-23 13:38] droslean opened #84236 "[Failing Test] node-kubelet-master (ci-kubernetes-node-kubelet)"
**Which jobs are failing**:
`node-kubelet-master (ci-kubernetes-node-kubelet)`

**Which test(s) are failing**:
`Node Tests [runner]`

**Since when has it been failing**:

22nd Oct 16:46 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

**Reason for failure**:
[code]

[2019-10-23 13:39] droslean commented on #84236
/cc @alenkacz @alejandrox1 @hasheddan @Verolop
/priority critical-urgent
/milestone v1.17
/sig node

[2019-10-23 13:40] droslean commented on #84236
/cc @dchen1107 @derekwaynecarr

[2019-10-23 13:42] krzysied commented on #84151
After debugging manual test it seems:
- scheduler saturates nodes with load test pods. There is ~80 pods scheduled on single node.
 Pods requires 10MB of memory => 80x10=800[MB].
- To run pod there are required exe, runc, containerd-shim processes to be running. The set of those processes uses ~40MB of memory.
80x40 => 3200[MB].
- Assuming that there are other pods on the node (fluentd, proxy,...)

[2019-10-23 14:09] alejandrox1 commented on #84209
for discoverability for the release team
/priority critical-urgent
/milestone v1.17

[2019-10-23 14:17] msau42 commented on #80333
In the topology test suite, I implemented a check on [number of available topologies](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/topology.go#L135) in the cluster. You can consider reusing that for these tests