[2020-11-12 12:22] #96500 closed

[2020-11-12 12:33] prashantcfc commented on #96505
/sig storage

[2020-11-12 12:35] ravisantoshgudimetla commented on #95213
/assign

Thank you for creating this issue @bingbing8. IIUC, the issue seems to be HPA controller creating those events before those metrics are available. To me, it is ok considering Kubernetes is an eventually consistent system. There will be times where there are errors but eventually the should be sorted out. I also think that this particular test is not flaking out and this issue was created

[2020-11-12 12:39] abhiTamrakar commented on #96500
Thanks a lot @liggitt

[2020-11-12 12:51] thernstig commented on #70044
/remove-lifecycle rotten

[2020-11-12 13:42] liggitt commented on #96430
I think the parse function is doing the right thing ... both the `<resource>.<group>` and `<resource>.<version>.<group>` forms are allowed, and the parse function returns both.

The code that uses those return values to locate a resource is triggering cache invalidation when the first check fails. The rest mapper interface doesn't have a "KindForButDoNotInvalidateIfNotFound" method, which is what

[2020-11-12 14:04] RobertKielty opened #96511 "[Flaking] gce-cos-master-alpha-features Up"
**Which jobs are flaking**:
gce-cos-master-alpha-features

**Which test(s) are flaking**:
Up

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features&exclude-non-failed-tests=&width=90

**Reason for failure**:
`error during ./hack/e2e-internal/e2e-up.sh: exit status 1`

**Anything else we need to know**:
Flaked between 9223413a7 and bdac36b57
Failing si

[2020-11-12 14:04] #96509 closed

[2020-11-12 14:12] lucemans commented on #50375
+1

[2020-11-12 14:51] xing-yang commented on #96494
/triage accepted

[2020-11-12 15:14] jayunit100 opened #96512 "cheking UID's in windows, follow on (quick pr)"
**What happened**:

follow on to https://github.com/kubernetes/kubernetes/pull/96172

Need to comment and avoid checking UID on windows.  requires some research into what we **should** be checking so that we can add appropriate TODO.

**What you expected to happen**:

Lets also check this at the call site, https://github.com/kubernetes/kubernetes/blob/199d48728f33692dc5a5e8b808a064bd3e40b51a/cmd/k

[2020-11-12 15:38] perithompson commented on #96512
/assign

[2020-11-12 15:38] jayunit100 commented on #96512
/assign @perithompson

[2020-11-12 15:38] jayunit100 commented on #96512
/good-first-issue

[2020-11-12 15:44] prameshj opened #96513 "GCE L4 ILB forwarding rules getting recreated upon master restart"
**What happened**:
I created a GCE k8s cluster from HEAD and a LoadBalancer service with "Internal" annotation. Restarting the master VM deletes and recreates the forwarding rule after startup, even if nothing changed in the service.

**What you expected to happen**:
The forwarding rule should not be deleted.

**How to reproduce it (as minimally and precisely as possible)**:
Create a k8s cluster v

[2020-11-12 15:47] jayunit100 opened #96514 "windows kube-proxy: fall back to node-local terminating endpoints for external traffic"
Windows analog for #96371

kube-proxy Should fallback to terminating endpoints `iff`:
* externalTrafficPolicy: Local
* traffic is from an external source
* there are no ready and not terminating endpoints on the node

This prevents packet loss in scenarios where a load balancer sends traffic to a node that recently terminated all it's endpoints.

**Additional documentation e.g., KEPs (Kubernetes E

[2020-11-12 15:48] jayunit100 commented on #96514
/kind feature

[2020-11-12 15:48] jayunit100 commented on #96514
/sig windows

[2020-11-12 15:49] jayunit100 commented on #96514
/sig network

[2020-11-12 15:49] jayunit100 commented on #96514
/assign

[2020-11-12 15:58] lingsamuel commented on #96430
I think we shouldn't keep a wrong parsed result if we can make it right.

[2020-11-12 16:00] liggitt commented on #96430
it's not wrong. there are two supported ways to parse a.b.c, and we have to try both:

* resource=a, group=b.c
* resource=a, version=b, group=c

[2020-11-12 16:18] smarterclayton opened #96515 "Scheduler should consider pod capacity of fully terminated but not deleted pods explicitly"
The scheduler currently waits for full pod deletion (pod removed from the apiserver) to stop accounting the pod resources to the node.  The Kubelet stops accounting for consumed resources on the node once all these conditions are reached:

a) the pod is marked as deleted
b) the pod sync loop observes that deletion
c) the pod sync loop observes that all containers are stopped (internal container st

[2020-11-12 16:19] smarterclayton commented on #96515
/sig scheduling
/sig node

[2020-11-12 16:21] blitzd commented on #95916
An additional four error variations of the error that we have since received:

[code]

[2020-11-12 16:23] lingsamuel commented on #96430
I know this. But in this situation (`endpointslice.discovery.k8s.io`), it treats `discovery` as version.

[2020-11-12 16:24] frbimo commented on #96044
/close

[2020-11-12 16:25] #96044 closed

[2020-11-12 16:26] paol commented on #83471
Just had this problem affecting 6 nodes of a 7 node cluster. Restarting the kubelet service appears to clear the problem.

[2020-11-12 16:28] Shahard2 commented on #83471
and if I'm on eks ?

[2020-11-12 16:39] liggitt commented on #96430
it checks both, which is expected:

[code]

what is not expected is that the first failed lookup invalidates cached discovery so the second triggers a full re-fetch

[2020-11-12 16:47] #87703 closed

[2020-11-12 16:48] eth0xFEED commented on #96200
/cc distributethe6ix

[2020-11-12 16:52] eth0xFEED commented on #96200
I would expect kubelet to continue to reconcile until the desired state is reached, however i have seen times when the return code of the underlying CNI can cause deviation from this behavior. Looking at the comments here seems that this return code behavior is being updated https://github.com/dougbtv/whereabouts/issues/70#issuecomment-724573996

Please let me know if we can resolve the issue as I

[2020-11-12 16:56] jayunit100 commented on #96200
https://github.com/containernetworking/cni/blob/master/SPEC.md <-- looks like ADD can only be called once, so its a CNI bug?

[2020-11-12 17:19] sbangari opened #96517 "Accessing Service VIP from POD fails intermittently on Windows nodes in Overlay network mode"
**What happened**:
Trying to connect to Service VIP from a POD is failing intermittently in Overlay network mode

**What you expected to happen**:
Frontend should be able to connect to Service VIP always.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
With a configuration like this:
Node 1 has these POD's
POD1
POD2
POD3

Node 2 has these POD

[2020-11-12 17:20] sbangari commented on #96517
/sig network
/sig windows

[2020-11-12 17:25] lingsamuel commented on #96430
Why we have to call KindFor twice if we could done the task once?

[2020-11-12 17:27] liggitt commented on #96430
because we don't know whether `a.b.c.d` represents `resource=a, version=b, group=c.d` or `resource=a, group=b.c.d`, and calling `KindFor` is currently how we determine which is correct.

Resolving this will likely require a new signature or mechanism for interrogating the restmapper

[2020-11-12 17:30] lingsamuel commented on #96430
We already have a [version definition](https://kubernetes.io/docs/reference/using-api/#api-versioning).

Beta: The version names contain beta (for example, v2beta3).
Stable: The version name is vX where X is an integer.

[2020-11-12 17:40] liggitt commented on #96430
that's a convention, but is not guaranteed:

[code]

[code]

if the a.b.c.d matches a group, version, and kind, we should prefer that since it is fully qualified

[2020-11-12 17:42] dashpole commented on #95930
Discussing known use-cases for the node proxy at sig-instrumentation:

* Prometheus server can use the proxy endpoint, but it is discouraged.
* It is helpful to be able to query the summary API, for debugging.

[2020-11-12 17:45] rikatz commented on #67526
/assign

[2020-11-12 17:48] marosset commented on #70189
/milestone v1.21

Moving to 1.21 since the required OS fixes were not available in time to implement this functionality in v1.20

[2020-11-12 17:49] marosset commented on #96428
cc @immuzz

[2020-11-12 18:09] msau42 commented on #96508
@andyzhangx can you paste what the in-tree PV object looks like vs CSI PV object?

[2020-11-12 18:10] msau42 commented on #96508
@kubernetes/sig-storage-bugs

[2020-11-12 18:14] robscott commented on #96514
@jayunit100 Thanks for filing this issue and taking this on! One small nit - the issue itself is a bit confusing. It has content like `Which issue(s) this PR fixes:` and `Does this PR introduce a user-facing change?:` and `fixes #` that should probably be removed.

[2020-11-12 18:14] thejoycekung opened #96519 "[Failing Test] [sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests (ci-kubernetes-e2e-gce-device-plugin-gpu)"
**Which jobs are failing**:
`ci-kubernetes-e2e-gce-device-plugin-gpu`

**Which test(s) are failing**:
`[sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests`

**Since when has it been failing**:
https://github.com/kubernetes/kubernetes/compare/0469db9fe...dd4560370

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master

**Reason

[2020-11-12 18:32] msau42 opened #96520 "CSIDriver object is not validating objectmeta"
**What happened**:
See https://github.com/kubernetes/kubernetes/blob/295010c30b6f30f88b766a710c7eadda77577761/pkg/apis/storage/validation/validation.go#L396

Means that labels/annotations, etc are not being validated.

ref: https://github.com/kubernetes/kubernetes/pull/95739#discussion_r522320695

[2020-11-12 18:33] huffmanca opened #96521 "CSIDriver doesn't perform object metadata validation"
**What happened**:
Noticed in https://github.com/kubernetes/kubernetes/pull/95739#discussion_r522249205 , the CSIDriver creation doesn't perform ObjectMeta validation as the other types do.

**What you expected to happen**:
Execute `apivalidation.ValidateObjectMetaUpdate(` when objects are created.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?

[2020-11-12 18:34] #96521 closed

[2020-11-12 18:34] huffmanca commented on #96521
This is now a duplicate to https://github.com/kubernetes/kubernetes/issues/96520

[2020-11-12 18:38] liggitt commented on #96520
We run object meta validation in BeforeCreate/BeforeUpdate for just this reason:

https://github.com/kubernetes/kubernetes/blob/5f1e5cafd33a8863c5dfe9f36c9cba836f0e981b/staging/src/k8s.io/apiserver/pkg/registry/rest/create.go#L111-L114

https://github.com/kubernetes/kubernetes/blob/5f1e5cafd33a8863c5dfe9f36c9cba836f0e981b/staging/src/k8s.io/apiserver/pkg/registry/rest/update.go#L77-L78

[2020-11-12 18:39] liggitt commented on #96520
the name validation is extremely minimal (ValidatePathSegmentName), but all object meta fields are validated

[2020-11-12 18:44] Huang-Wei commented on #96519
@ahg-g I don't quite think this test should be owned by SIG-Scheduling. Most of the failures happen in the Nvidia GPU setup phase.

BTW: although irrelevant, last time we see a failure of this test is #93187.

[2020-11-12 18:47] liggitt commented on #96520
validated in BeforeCreate in 1.1+ in https://github.com/kubernetes/kubernetes/pull/15975

validated in BeforeUpdate in 1.2+ in be0754750f7dac811bc8375714a043deae6709c0

[2020-11-12 18:48] Huang-Wei commented on #96519
Searching keyword "UnexpectedAdmissionError" gets the following occurrences:

[code]

[2020-11-12 18:50] Huang-Wei commented on #96519
/sig node

cc @kubernetes/sig-node-bugs in case you're aware of any recent changes that may have caused this failure.

[2020-11-12 18:56] liggitt commented on #96520
it looks like the name was validated by the specific CSIDriver validation:

https://github.com/kubernetes/kubernetes/blob/5f1e5cafd33a8863c5dfe9f36c9cba836f0e981b/pkg/apis/storage/validation/validation.go#L398

[2020-11-12 19:05] SergeyKanzhelev opened #96524 "Add conformance tests for RuntimeClass v1 API"
Per the @liggitt comment in this PR https://github.com/kubernetes/kubernetes/pull/95718#issuecomment-725735634 conformance tests will regress because of a newly added Runtime Class GA v1 API is not covered with tests. Full comment:

Full comment:

/assign

More links:

- [apisnoop-conformance-gate](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/apisnoop-conformance-gate/1326930505215512576#1

[2020-11-12 19:05] SergeyKanzhelev commented on #96524
/sig node
/triage accepted

[2020-11-12 19:11] MikeSpreitzer commented on #96459
@Frodez : did you tweak that machine's clock backwards, or run any software that does this?

[2020-11-12 19:12] liggitt commented on #96459
Time calculations should be written to use go's [monotonic clock](https://golang.org/pkg/time/#hdr-Monotonic_Clocks), not count on wall clock time always moving foward.

[2020-11-12 19:15] SergeyKanzhelev commented on #96524
KEP: https://github.com/kubernetes/enhancements/issues/585

[2020-11-12 19:20] #95955 closed

[2020-11-12 19:21] #88252 closed

[2020-11-12 19:21] #94278 closed

[2020-11-12 19:22] blitzd commented on #95916
Another variation:

``
Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "623a315b43c55240719c14a0d963cf8ebe8649209cc5d0e12ff9f611146af4e8" network for pod "hello-1605207300-dbx89": networkPlugin cni failed to set up pod "hello-1605207300-dbx89_default" network: failed to Statfs "/proc/26303/ns/net": no such file or directory
``

[2020-11-12 19:31] ialidzhikov commented on #96504
There was this cherry-pick that is included in v1.19.3 (ref https://github.com/kubernetes/kubernetes/pull/94937) and it sounds related to the description of this issue. Can you try to reproduce also with v1.19.3?

/cc @robscott @aojea @damemi

[2020-11-12 19:33] Huang-Wei commented on #96515
So this suggests scheduler to exclude "terminating" Pods in its model, this is not a small change.

What's the concrete semantics of "terminal" Pods? In terms of API: is it good enough to check if Pods carry nil deletionTimestamp? or need to additionally check some status conditions?

[2020-11-12 19:34] SergeyKanzhelev commented on #96524
New to conformance tests. So the idea is to mark tests (or create new ones) that would call each of these methods https://github.com/kubernetes/kubernetes/blob/5cfce4e5cb4dc6ff429c088ec25973e2ebae2d86/staging/src/k8s.io/client-go/kubernetes/typed/node/v1/runtimeclass.go#L40-L50 at lease once?

So if this test https://github.com/kubernetes/kubernetes/blob/5cfce4e5cb4dc6ff429c088ec25973e2ebae2d86/te

[2020-11-12 19:35] MikeSpreitzer commented on #96459
@liggitt : The proximal problem is that https://github.com/kubernetes/apiserver/blob/kubernetes-1.19.3/pkg/util/flowcontrol/metrics/sample_and_watermark.go#L163 uses `Before` and gets the answer that time went backwards.

[2020-11-12 19:43] liggitt commented on #96459
sure, but `time.Now().Before(other_time_fetched_with_time.Now())` should be immune to wall clock resets per https://golang.org/pkg/time/#hdr-Monotonic_Clocks:

[2020-11-12 19:44] MikeSpreitzer commented on #96459
Exactly.  It looks to me like this test for ordering is using the monotonic clock and somehow that is saying time went backwards.

[2020-11-12 19:45] liggitt commented on #96459
does the quantization (https://github.com/kubernetes/apiserver/blob/kubernetes-1.19.3/pkg/util/flowcontrol/metrics/sample_and_watermark.go#L93) factor into well-ordered detection? I'm not sure how the monotonic clock interacts with Unix / UnixNano

[2020-11-12 19:46] MikeSpreitzer commented on #96459
No, I see the quantization is buggy, it uses wall clock.  But the ordering test does not depend on the quantization.

[2020-11-12 19:48] cmluciano commented on #96482
/assign

[2020-11-12 19:48] cmluciano commented on #96482
/triage accepted

[2020-11-12 19:49] liggitt commented on #96524
Yes. You can make a single test that runs objects through CRUD operations. For the deletecollection one, I'd suggest labeling the objects under test and scoping the deletecollection to your test label to avoid breaking the cluster you're running on. See https://github.com/kubernetes/kubernetes/blob/master/test/e2e/auth/certificates.go#L174-L186 as an example

[2020-11-12 19:49] cmluciano commented on #96482
It looks like netcat has the option for `--sctp` but the image we use does not have the most up to date version.

[2020-11-12 19:56] SergeyKanzhelev commented on #96524
Great, will be working on it! Also just chatted with @hh about it.

[2020-11-12 20:20] MikeSpreitzer commented on #96459
/triage accepted
@kubernetes/sig-api-machinery-bugs
/priority urgent-critical

[2020-11-12 20:23] MikeSpreitzer commented on #96459
*very* odd that this is repeatable.

/priority critical-urgent

[2020-11-12 20:30] kikisdeliveryservice commented on #96524
@SergeyKanzhelev @liggitt

Just to get clarify on this - is this considered a blocker for https://github.com/kubernetes/enhancements/issues/585

Confirming bc grad criteria for it says "No release blocking feedback for API and functionality" should these tests be required to consider this stable? https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/585-runtime-class#graduation-crit

[2020-11-12 20:44] damemi commented on #96504
We only saw the problem in that issue at the informer re-sync interval. These being constantly updated sounds like some sort of hot loop, but I'm also interested to see if this is reproducible in 1.19.3

[2020-11-12 20:53] neolit123 commented on #96428
will clear the milestone here, please readjust if needed.
/milestone clear

[2020-11-12 20:56] justaugustus commented on #95038
Let's keep this open and kick the can to the next milestone.
It's still important, but we're out of time for v1.20.

/milestone v1.21

[2020-11-12 20:57] justaugustus commented on #75114
I'm optimistic about being able to wire this up for 1.21.
/milestone v1.21

[2020-11-12 20:58] justaugustus commented on #90698
We're roughly done here, but I have to backfill docs.
/milestone v1.21

[2020-11-12 21:03] MikeSpreitzer commented on #96459
@Frodez : it is very odd that this is repeatable.  Do you have anything unusual in your environment ?  I see it is vmware workstation.  Does that mess with the clock in any unusual way?  I also wonder about the golang runtime; did you do your own build (if so, what version of golang) or fetch binaries from somewhere (where?); full `kubectl version` output would be helpful.

[2020-11-12 21:09] aojea commented on #96504
I think that is the normal behaviour of the leader election, you see that there are no endpoints (as in IP addresses)
https://github.com/kubernetes/client-go/blob/b8dd4e3c0ff47efca55653e83be7371008f923c9/tools/leaderelection/leaderelection.go#L17-L20

@liggitt can you confirm?

[2020-11-12 21:16] ialidzhikov commented on #96504
Yes, you are right. I totally forgot about this case. Actually this can be easily verified with:

[code]

@maplain , can you verify that the only updated part is the leader annotation (I think it should be `control-plane.alpha.kubernetes.io/leader`)? If that is the case, then this is expected.

[2020-11-12 21:16] fedebongio commented on #96104
/triage accepted

[2020-11-12 21:16] smarterclayton commented on #96515
The KEP describes it but it's marked deleted and all containers that are listed in spec (init and regular) having state terminated, and when ephemeral lands also ephemeral containers in status.

Depending on how busy a kubelet is it might be 5-20s before a terminal pod is deleted, or potentially more when some CSI volumes are taken into account.  I think you can view this as an optimization that s

[2020-11-12 21:17] #96517 closed

[2020-11-12 21:18] fedebongio commented on #96147
Thank you @aojea for pointing out.

Closing as per the quoted discussion on relevant threads on the same topic.

/close
/triage accepted

[2020-11-12 21:18] #96147 closed

[2020-11-12 21:19] fedebongio commented on #96303
@gautierdelorme looks like you are planning to send a PR on this one, yes? Thank you!
/triage accepted

[2020-11-12 21:20] fedebongio commented on #96319
/assign @deads2k
/triage accepted

[2020-11-12 21:21] fedebongio commented on #96321
/cc @logicalhan
/sig instrumentation

[2020-11-12 21:24] fedebongio commented on #96346
/remove-sig api-machinery
/sig storage
During our triage, we thought that SIG Storage can have a better idea about this one. Let us know if you think otherwise.

[2020-11-12 21:24] fedebongio commented on #96351
/assign @apelisse
/triage accepted

[2020-11-12 21:25] fedebongio commented on #96408
/cc @logicalhan @dashpole
/triage accepted

[2020-11-12 21:27] fedebongio commented on #96486
/assign @caesarxuchao
/cc @roycaihw
/triage accepted
Thank you Chao!

[2020-11-12 21:27] fedebongio commented on #96497
/assign @smarterclayton
/triage accepted

[2020-11-12 21:32] justaugustus commented on #88553
This is unfunded for v1.20.
I'm dropping the milestone, but let's circle up and see what can be done for 2021.

/milestone clear

[2020-11-12 21:33] justaugustus commented on #70249
This is roughly done, but I need to backfill docs.
/milestone v1.21

[2020-11-12 21:43] cmluciano commented on #95633
Ya we can aggregate these issues

/triage accepted

[2020-11-12 21:45] adtac opened #96537 "kube-apiserver/options/validation.go: test different combinations of APF runtime config parameters"
ref: https://github.com/kubernetes/kubernetes/pull/96527#discussion_r522440243

/sig api-machinery
/kind feature
/cc @lavalamp @MikeSpreitzer
/assign

(I'll do this in a follow-up PR.)

[2020-11-12 21:46] caesarxuchao commented on #75791
Setting the [MaxConcurrentStreams](https://godoc.org/golang.org/x/net/http2#Server) in the webhook server might force the clients to create new connections when load is high.

[2020-11-12 21:51] thockin commented on #96514
Yeah, it looks like you meant to open a PR from a branch?

[2020-11-12 21:52] thockin commented on #96513
Assigned - can GCP owners please triage this and see if it reproduces as described?

[2020-11-12 21:53] justaugustus commented on #80546
Going to really try and tie this off for v1.21.
/milestone v1.21

[2020-11-12 21:55] thockin commented on #96507
Service topology, as it exists, will be going away in favor of a simpler mechanism that should not have the same failure modes.

@andrewsykim to keep in mind for `internalTrafficPolicy`
@robscott FYI

Not sure if we want to try to fix this in alpha.

[2020-11-12 21:56] prameshj commented on #96513
/assign @prameshj

Yes, I found the issue and am working on the fix as well.

[2020-11-12 21:57] robscott commented on #96507
I'd agree that this likely doesn't need to be fixed for this API but we can certainly try to provide a fix as part of the [updated plan for topology aware routing](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/2004-topology-aware-subsetting/README.md).

[2020-11-12 21:57] justaugustus commented on #58012
Debian images are now being built in GCB (triggered by Prowjobs) (ref: https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/README.md)
They've also been migrated to https://github.com/kubernetes/release/tree/master/images/build and are maintained by the Release Engineering subproject, so I'm considering this closed.

Feel free to ping if there are any questions.
/close

[2020-11-12 21:57] #58012 closed

[2020-11-12 22:01] justaugustus commented on #93694
/assign @hasheddan

I'll work with you to clean this up in v1.21 (in relation to https://github.com/kubernetes/sig-release/issues/850).
/milestone v1.21

[2020-11-12 22:04] thockin commented on #96514
/triage accepted

[2020-11-12 22:05] dcbw commented on #96018
@mskrocki what specific RPM version of iptables? I would recommend iptables-1.8.4-10.el8_2.2

[2020-11-12 22:05] thockin commented on #96513
/triage accepted

[2020-11-12 22:05] dcbw commented on #96018
And if you have a relatively recent iptables, when you have 1000 services, could you grab iptables-save dump and attach?

[2020-11-12 22:06] thockin commented on #96507
/assign @andrewsykim

[2020-11-12 22:07] jayunit100 commented on #95830
@distributethe6ix has a docs PR up for this, iirc, to clarify that you can't currently have universal wild cards with different starter

[2020-11-12 22:08] Riaankl commented on #95930
The NodeProxy end points have now been marked at Endpoints Ineligible for conformance in [APISnoop](https://apisnoop.cncf.io/conformance-progress/ineligible-endpoints)
This does not affect the functionally of the endpoint in any way.
![image](https://user-images.githubusercontent.com/61125752/99000981-f75c1680-259e-11eb-8a61-a661cead53bb.png)

[2020-11-12 22:08] #95930 closed

[2020-11-12 22:10] Riaankl commented on #92950
The NodeProxy end points have now been marked at Endpoints Ineligible for conformance in APISnoop
This does not affect the functionally of the endpoint in any way. [#95930](https://github.com/kubernetes/kubernetes/issues/95930)

[2020-11-12 22:10] #92950 closed

[2020-11-12 22:11] Riaankl commented on #95524
The NodeProxy end points have now been marked at Endpoints Ineligible for conformance in APISnoop
This does not affect the functionally of the endpoint in any way. [#95930](https://github.com/kubernetes/kubernetes/issues/95930)

[2020-11-12 22:11] #95524 closed

[2020-11-12 22:15] pbertera commented on #75175
The issue is still present in 1.19.0

[2020-11-12 22:17] dcbw commented on #96200
@jayunit100 ADD will be called once-per-sandbox. So it can certainly be called multiple times for the same pod, because there is a 1:N relationship between Pod:Sandbox.

@TothFerenc What I think the real problem may be is `error invoking DelegateDel - "ipvlan": error in getting result from DelNetwork: Error deallocating IP: Did not find reserved IP for container 7a3efb8f68da62fb22a60271c183b6eb796

[2020-11-12 22:18] dcbw commented on #96200
@dougbtv

[2020-11-12 22:19] bowei commented on #95830
What is the ingress implementation and controller you are using? I would suggest opening a bug in the specific controller's repo/issue tracker.

[2020-11-12 22:21] andrewsykim commented on #96449
ipvs proxier did not really support IPv6 before v1.18 I believe. @zhutongcloud can you share the logs from kube-proxy please?

[2020-11-12 22:21] huffmanca opened #96540 "CSIDriver mock volume FSGroupPolicy needs to run in a loop"
**What happened**:
We currently run the CSIDriver FSGroupPolicy test a single time; however, if the CSIDriver is not available it's possible that the Pod could be created without applying the fsGroup correctly.

**What you expected to happen**:
This test should run multiple times to ensure that we don't create needless flakes.

Ref https://github.com/kubernetes/kubernetes/pull/95739#discussion_r51

[2020-11-12 22:21] huffmanca commented on #96540
/assign huffmanca
/sig storage

[2020-11-12 22:28] hh commented on #96524
Here's possibly an easier link to track:

https://apisnoop.cncf.io/1.20.0/stable/node

![image](https://user-images.githubusercontent.com/31331/99003632-3ee4a180-25a3-11eb-8770-ef2bd724a1f2.png)

[2020-11-12 22:33] ruiwen-zhao commented on #96519
From the [test log](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu/1326940321854001152) I can see a bunch of:

[code]

So it looks like the device plugin on bootstrap-e2e-minion-group-2hjf did not discover any GPU.

[2020-11-12 22:58] #91472 closed

[2020-11-12 23:01] ruiwen-zhao commented on #96519
The nil pointer is from here: https://github.com/kubernetes/kubernetes/blob/6d5cb36d36f34cb4f5735b6adcd5ea8ebb4440ba/pkg/kubelet/cm/devicemanager/manager.go#L908

, which is a new change introduced by https://github.com/kubernetes/kubernetes/commit/a8b8995ef241e93e9486d475126450f33f24ef4e

[2020-11-12 23:04] aojea commented on #96254
I can see in the annotations `field.cattle.io` that, most probably means, this is a Rancher cluster.
There were several issues reported in kubernetes for the way that rancher handles nodeports, but that is something we can not help you here and you should ask in Rancher

https://github.com/rancher/rancher/issues/29833#issuecomment-718985143

If it turns out that is a bug in Kubernetes, please feel

[2020-11-12 23:04] #96254 closed

[2020-11-12 23:11] maplain commented on #96504
yes @ialidzhikov @aojea you're right.
[code]

[2020-11-12 23:14] maplain commented on #96504
closing this now as it's expected behavior caused by leader election.

[2020-11-12 23:14] #96504 closed

[2020-11-12 23:26] ruiwen-zhao commented on #96519
The current device plugin (the one defined [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml#L39)) is using an old version of device plugin api (see [here](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/e3cce9a52ea0034e94512a470f2f26b672204816/vendor/k8s.io/kubernetes/pkg/kubelet/apis/deviceplugin/v1beta1/

[2020-11-12 23:27] Huang-Wei commented on #96515
Thanks. It makes sense to categorize the Pods that don't occupy resources as `Completed` (or "terminal/terminated") - no matter they're regular physically deleted or terminating Pods, or succeeded/failed Job Pods.

cc/ @ahg-g @alculquicondor

[2020-11-12 23:30] Huang-Wei commented on #96519
Thanks @ruiwen-zhao , the analysis makes great sense to me. Could you please work on a fix to address this? (Probably updating https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml)

[2020-11-12 23:47] Raboldar opened #96542 "Pod-Scheduler not respecting constraints imposed by topologySpreadConstraints"
Supposing I have 2 sites of a Data-center with different name (DT1 - DT2). I label all my nodes according to the sites (ex: kubectl label node worker-03 topology.myorg.io/datacenter=DT1). After labeling my Nodes I add the following option to the executable of kube-apiserver and kube-scheduler: `--feature-gates=EvenPodsSpread=true`. To add the option I use the manifest files /etc/kubernetes/manifes

[2020-11-12 23:50] ruiwen-zhao commented on #96519
Hi @Huang-Wei , I am still looking at the code, because the code does have the logic to handle the case where device plugin does not return affinity: https://github.com/kubernetes/kubernetes/blob/6d5cb36d36f34cb4f5735b6adcd5ea8ebb4440ba/pkg/kubelet/cm/devicemanager/manager.go#L745

Also, even if the Topology is not defined, I am not sure `m.allDevices[resource][dev].Topology.Nodes` will throw NPE

[2020-11-12 23:52] ruiwen-zhao commented on #96519
/cc @AlexeyPerevalov

[2020-11-13 00:03] #93718 closed

[2020-11-13 00:03] #96459 closed

[2020-11-13 00:33] Raboldar commented on #96542
/sig scheduling

[2020-11-13 00:42] mskrocki commented on #96018
I have been using 1.8.4-10.el8_2.1, any guide on how I can get the 2.2 version?
I will try the test again and provide the dump later.

[2020-11-13 00:53] MikeSpreitzer opened #96543 "Want better testing of monotonic time in sample_and_watermark.go"
**What would you like to be added**:
Better testing of monotonic time in sample_and_watermark.go

**Why is this needed**:
https://github.com/kubernetes/kubernetes/pull/96530#issuecomment-726343393
@lavalamp

[2020-11-13 01:08] Huang-Wei commented on #96542
Did you create a deployment (with replicas=4) from scratch? Or scale down a deployment from N to 4?

Scale down won't go through scheduling, so the scale-down result is not guaranteed to respect the topologySpreadConstraints . See https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#known-limitations

[2020-11-13 01:14] msau42 commented on #96520
Phew, thanks Jordan from 2015!

We've added the ValidateObjectMeta call back into the ValidateCSIDriver function in #95739 anyway to be consistent.

/close

[2020-11-13 01:14] #96520 closed

[2020-11-13 01:50] wawa0210 commented on #96419
https://github.com/kubernetes/kubernetes/blob/198b2fdb145e85e94494441bacc2692f8718ac4a/test/e2e/storage/testsuites/subpath.go#L724-L761

`waitErr` is an anonymous method with an anonymous method nested inside

https://github.com/kubernetes/kubernetes/blob/198b2fdb145e85e94494441bacc2692f8718ac4a/test/e2e/storage/testsuites/subpath.go#L739-L742
There are two return values ​​as expected

[2020-11-13 01:50] neolit123 commented on #96543
/sig api-machinery

[2020-11-13 01:51] neolit123 commented on #96512
/sig windows

[2020-11-13 01:59] rikatz commented on #94004
@jayunit100 anything I can help on this?

[2020-11-13 02:21] Raboldar commented on #96542
I see, the difference is quite visible like (DT1: 15 and DT2:2), with nothing else deployed in the cluster. Is there any way to force scale down go trough the scheduler ? (PS: scaling up works as expected, each time respecting the rule).

[2020-11-13 02:24] Huang-Wei commented on #96542
Unfortuantely no atm... There is an open discussion here: http://github.com/kubernetes/enhancements/pull/1888

[2020-11-13 02:26] Raboldar commented on #96542
Thank you for the response, we can close the issue as it was the normal behavior of Kubernetes.

[2020-11-13 02:27] #96542 closed

[2020-11-13 02:46] mike-stewart commented on #63214
/remove-lifecycle rotten

[2020-11-13 02:49] Frodez commented on #96459
I don't have anything unusual in my environment. I run it in the ubuntu driven by vmware workstation, because my real machine's operation system is Windows10 19041, and I need a virtual machine to run k8s. My computer is a laptop computer.

I got the golang runtime by apt-get. I also got the distribution of k8s by apt-get too. I did not do my own build.
![@GB1_KR72$}DVPZHD11%( G](https://user-imag

[2020-11-13 03:22] lingsamuel commented on #96430
Could you provide advice on how to resolve this?
IMO I will add a pair enable/disable function to `CachedDiscoveryInterface` to control how function `Fresh` works, instead of add a `KindForButDoNotInvalidateIfNotFound` because we may need many `XXXButNotInvalidation` functions further.

[2020-11-13 04:03] zzbmmbzz commented on #96254
Thanks @aojea

[2020-11-13 04:43] nagasitaramthigulla commented on #78741
@wsong are you able to block exec, if so can you share the configuration.

[2020-11-13 05:48] roycaihw commented on #95742
@grosser Without a reproduce this would be hard to triage. Some possibilities that I can think of:

- Were there any other owners that still existed? Could you print out the configmap and paste it here?
- The garbage collector is the reconcile logic that removes abandoned resources. Was the garbage collector healthy? Please try restart the garbage collector next time you see the issue to see if it

[2020-11-13 05:57] grosser commented on #95742
thx, will reopen if it reappears ... did not check the garbage collector, might have been in trouble!

[2020-11-13 05:57] #95742 closed

[2020-11-13 07:05] apelisse commented on #88981
/lifecycle frozen

[2020-11-13 07:11] krmayankk commented on #72253
Sounds good, then i think there is no action needed here. I will check the integration tests for RunAsGroup and make sure enough coverage is there and we should be goo. I will wait for any comments from @tallclair

[2020-11-13 07:13] gavinfish commented on #90168
/reopen

[2020-11-13 07:26] #94138 closed

[2020-11-13 07:36] gavinfish commented on #95445
/assign

[2020-11-13 07:55] nagasitaramthigulla commented on #96298
I am using docker desktop so there is a role binding called docker-for-desktop-binding which is binding full access to system:serviceaccounts.
so any of my changes are not working.
I have deleted the docker-for-desktop-binding and reapply the change.

Now exec into the pod is disabled.

@troy0820 thanks for your help.

[2020-11-13 07:55] #96298 closed

[2020-11-13 08:01] #92164 closed

[2020-11-13 08:45] venkatsc commented on #93022
Not reproducible anymore.

[2020-11-13 08:45] #93022 closed

[2020-11-13 08:45] artem-shestakov commented on #48378
After `kubeadm init` you have to remove $HOME/.kube folder and create new:

mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config

[2020-11-13 09:02] #92171 closed

[2020-11-13 09:02] #91914 closed

[2020-11-13 09:18] zhashuyu commented on #50375
+1

[2020-11-13 09:31] jayunit100 commented on #96514
Fixed, I meant to file an issue but had some PR text in it..

[2020-11-13 09:48] RobertKielty commented on #96511
gce-cos-master-alpha-feature and the Up "test" (really a Cluster Provisioning Step) is now back working.

From my review of the logs this _appeared_ to be a test infrastructural issue provisioning a 4 node cluster using kubetest

Error message was too vague to allow me to escalate this to an appropriate team.

I will monitor today and escalate withing sig-release of needs be.

[2020-11-13 09:53] lingsamuel commented on #96506
Can you describe `cuda-vector-add-9jlgn`?

[2020-11-13 10:04] dealboy commented on #75175
I have the same issue following  on k8s 1.18.3  (without zones)

[2020-11-13 10:17] RobertKielty commented on #95226
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Downward%20API%20volume%20should%20provide%20container%27s%20memory%20limit

[2020-11-13 10:25] RobertKielty commented on #94718
NB The test under consideration includes markdown in the name. The *not* in the this test is surrounded by `*` so this then gets rendered as italicised text on a GH Issue preventing it from being copied from the Issues to be searched for in TestGrid.

Test names should not include markdown. If emphasis is required in testnames then UPCASE the word instead.

So the name of this test is

`Kubernetes

[2020-11-13 10:30] lingsamuel commented on #96506
Are you install your device plugin properly?
K8s will remove missing extended resource. `nvidia.com/gpu` is extended resource, `alpha.kubernetes.io/nvidia-gpu` isn't because it contains `kubernetes.io/`.

https://github.com/kubernetes/kubernetes/blob/307278029cbf69bc35a7795594d970b7781de2b8/pkg/kubelet/lifecycle/predicate.go#L87-L95

[2020-11-13 10:33] lingsamuel commented on #96506
/kind support

[2020-11-13 10:35] oana-s opened #96554 "Memory increases over time ( low to none activity on the cluster)"
Without much activity I see that memory increases over time(within 1 week from 50 to 90%) and it clearly affects the latency
![image](https://user-images.githubusercontent.com/60611170/99090152-8df3fc00-25ce-11eb-8078-70aab7648ec9.png)

I see that buff/cache is growing but I cannot identify what is going wrong;  even so I do not think that this alone is the cause
![image](https://user-images.githu

[2020-11-13 10:58] arjunrn commented on #95904
@zoux86 You can use multiple metric sources in the HPA. So if you are using a custom metrics provider you will have to specify a different metric source for each container. If you can pass the name of the container probably in a label then it should just work as you expect.
As a side note using averages over time is generally done to prevent sudden changes in the the target replica size. In v1.18

[2020-11-13 11:42] sebastian-schuth commented on #89898
Adding to this: (@cseifert-betterdoc and me both work on the same issue within our K8s / EKS cluster, so the version etc. poste apply to this)

I *think* we have a proof that there is a networking issue between the Kubelet and the container.

## Our Problem

We have had

- an http based health check in place; and
- a http-based readyness endpoint.

We have had problems with our cluster, as is rest

[2020-11-13 12:10] jr200 commented on #95727
Hi, are there any updates on this. I am experiencing what appears to be the same issue.

[2020-11-13 12:14] AlexeyPerevalov commented on #96519
I submitted a fix. My fault, it was a real case when pointer to Topology could be a nil.
But    still fails:
I don't observe SIGSEGV now in kubelet.logs, but 2 problems there:
1. F1113 09:26:19.369703    1336 server.go:269] failed to run Kubelet: cannot create certificate signing request: certificatesigningrequests.certificates.k8s.io is forbidden: User "kubelet" cannot create resource "certificat

[2020-11-13 12:27] TothFerenc commented on #96200
@dcbw : Whereabouts IPAM is going to be fixed by @dougbtv. If there is nothing else to improve on Kubernetes side, then this issue can be closed. Thanks!

[2020-11-13 12:28] davidstack opened #96557 "after delete statefulset，pod is not delete"
**What happened**:
in my cluster,most pod will be deleted after the statefulset is deleted. but there is one pod is not deleted, while the statefulset has been deleted.
**What you expected to happen**:
the pod should be deleted.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
the pod of the statefulset is 6imo2tilh9igb,  two same pod (6imo2til

[2020-11-13 12:31] davidstack commented on #96557
when k8s delete statefulset, the api server will patch the statefulset and pod with metadata
`  deletionGracePeriodSeconds: 0
  deletionTimestamp: "2020-11-13T06:48:53Z"
  finalizers:
  - orphan`

but the pod does not has this metadata, and the ownerreference of the pod is missing.very strange thing.

[2020-11-13 12:36] davidstack commented on #96557
/sig  Apps

[2020-11-13 12:37] davidstack commented on #96557
/sigApps

[2020-11-13 13:09] shinytang6 opened #96560 "PreStart lifecycle hook Required"
**What would you like to be added**:
Currently k8s supports `postStart` and `preStop` lifecycle hook, but in my scenario what I need is actually `preStart`.
And l think `PreStart` is very useful in many scenarios, I don’t understand why it is not supported...

I found some discussions here #140. And a few years have passed, are there any updates/plans for that?

ps: My scenario is simple, l need t

[2020-11-13 13:13] shinytang6 commented on #96560
/sig node

[2020-11-13 13:28] DavidCsaki commented on #96419
My misunderstanding of inner function. I should not have made any conclusion of why we received the error:
"error waiting for pod subpath error to occur: subpath container unexpectedly terminated"
But in our environment we get this error every time we run the test.

[2020-11-13 13:34] ravisantoshgudimetla commented on #95213
I am closing this @bingbing8. Please feel free to open this if you think otherwise

/close

[2020-11-13 13:34] #95213 closed

[2020-11-13 13:37] yarncraft commented on #9043
**OpenKruise** (https://openkruise.io/en-us/index.html) offers a _well documented_ solution through the use of **CustomResourceDefinitions**. It would be valuable to include these controllers in vanilla Kubernetes since they seem to resolve the challenges mentioned above.

[2020-11-13 13:41] ravisantoshgudimetla commented on #95214
@adelina-t - Are you actively working on this?

[2020-11-13 13:44] smarterclayton commented on #96515
Some risks I could see with this is that it triggers higher resource contention (from pods that are tearing down and new pods that are landing faster) and exposes issues.  However, those issues are latent anyway for batch workloads (run-once pods would trigger any of those issues the same way, since the kubelet reports Succeeded or Failed before it begins cleanup of volumes), and in general that's

[2020-11-13 13:44] portante commented on #15478
Seems like we should change CRI-O to specify that both container log streams (stdout / stderr) are collected in a raw form, and the when reading the raw for later we can apply different interpretations of the log byte stream then.

See https://github.com/cri-o/cri-o/pull/1605.

[2020-11-13 14:28] dims opened #96564 "Need a replacement for gogo-protobuf"
This will come to bite us sometime soon(?)

- https://github.com/gogo/protobuf/issues/691 : "GoGo Protobuf looking for new ownership"
- discussion in sig-apimachinery : https://groups.google.com/g/kubernetes-sig-api-machinery/c/tcwFubV9Boo/m/MAdQfLY_AgAJ

/area code-organization
/sig api-machinery

[2020-11-13 14:29] dims commented on #96564
@apelisse @jennybuckley Please add some links to your effort at benchmarking stuff if you still remember where they are :)

[2020-11-13 14:37] thejoycekung opened #96565 "[Failing Test] [sig-node] Pods Extended [k8s.io] Pod Container Status should never report success for a pending container (ci-kubernetes-e2e-ubuntu-gce)"
**Which jobs are failing**:
`ci-kubernetes-e2e-ubuntu-gce`

**Which test(s) are failing**:
`[sig-node] Pods Extended [k8s.io] Pod Container Status should never report success for a pending container`

**Since when has it been failing**:
Flaking since https://github.com/kubernetes/kubernetes/compare/9223413a7...12d9183da Nov 11-12
Failing since https://github.com/kubernetes/kubernetes/compare/29501

[2020-11-13 14:39] thejoycekung commented on #96431
Closing since TestGrid seems to be green now

[2020-11-13 14:39] #96431 closed

[2020-11-13 14:39] #95832 closed

[2020-11-13 14:43] raffaelespazzoli opened #96567 "Implement container log back-pressure mechanism"
If you have a kubernetes cluster with log collection enabled and you deploy the following:
[code]
You will break the log system. If it doesn't break increase the pod count until it does. The point here is that the developer that deployed that app did not do anything illegitimate yet it has the power of taking down part of the system.

So, let's analyse what is going on:

1. an application that cre

[2020-11-13 14:49] akram commented on #25766
@jcelliott according to what I have seen, if you run `oc get pods` with a recent kubernetes (I am using 1.19), here is what you can see if the postStart is failing:

[code]

The STATUS filed is in `PostStartHookError,` and it shows the stderr of the command: `command 'bash -c /var/jenkins/scripts/init.sh' exited with 1: + '[' '' == true ']'`

[2020-11-13 14:55] dims commented on #96564
context : i was asked what our plans were in https://github.com/etcd-io/etcd/issues/12470

[2020-11-13 14:56] raffaelespazzoli commented on #96567
/sig instrumentation
/sig node
/sig architecture

[2020-11-13 15:08] #86739 closed

[2020-11-13 15:10] mikkeloscar commented on #90237
/remove-lifecycle rotten

[2020-11-13 15:18] hasheddan opened #96568 "[Failing Test] [sig-node] [k8s.io] ResourceMetricsAPI [NodeFeature:ResourceMetrics] when querying /resource/metrics should report resource usage through the resouce metrics api"
**Which jobs are failing**:

`node-kubelet-features-master`

**Which test(s) are failing**:

`[k8s.io] ResourceMetricsAPI [NodeFeature:ResourceMetrics] when querying /resource/metrics should report resource usage through the resouce metrics api`

**Since when has it been failing**:

`11-12-20 21:47 CST`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#node-kubelet-features

[2020-11-13 15:23] alculquicondor commented on #95445
/help cancel

[2020-11-13 15:23] alculquicondor commented on #95445
/remove-help

[2020-11-13 15:28] EthanSedgwick opened #96569 "Add 'nodeSelector' to --field-selector supported query options"
**What would you like to be added**: To allow us to select pods and deployments that are using specific nodeSelectors, for example in our use case we are trrying to find pods that we have scheudled to use role=stable (which puts them on stable EC2 instances, versus the default of spot EC2 instances)

**Why is this needed**: Currently the only way to do so is to get all pods and then filter that ou

[2020-11-13 15:29] thejoycekung commented on #96085
closing this because it's no longer happening

[2020-11-13 15:29] #96085 closed

[2020-11-13 15:29] alculquicondor commented on #96515
@smarterclayton it seems to me that you are thinking that kube-scheduler accounts for Pods until they are deleted. This is not the case. It stops accounting for Pods once they are in Succeeded or Failed phase.

Unless kubelet actually doesn't update the phase until everything is garbage collected?

[2020-11-13 15:43] liggitt commented on #94824
/close

due to lack of information

[2020-11-13 15:43] #94824 closed

[2020-11-13 15:46] EthanSedgwick commented on #96569
/sig CLI

[2020-11-13 16:02] wojtek-t commented on #95875
Sorry for delayed response.

@obeyda - what we should do is to basically:
- instead of having an additional go-routine that every 1s refreshes the budget
- change it roughly to:
(a) keep the value of budget and the last time when we were refreshing it
(b) on takeAvailable method:
  - first recompute takeAvailable, which will be "min(current budget + time elapsed since last refresh * refreshValue,

[2020-11-13 16:34] ThaSami commented on #49466
+1

[2020-11-13 16:45] daniel-ke commented on #96468
It's basically missing all the KUBE-FIREWALL/KUBE-MARK-DROP rules that the ipv4 iptables has.

If we manually add the same rules to ip6tables as below, it works correctly, including correctly dropping packets if a pod is not on a node in "Local" service mode, and kube-proxy stops logging errors - until reboot when the rules are lost

`ip6tables -N KUBE-FIREWALL;ip6tables -A KUBE-FIREWALL -m commen

[2020-11-13 17:12] mskrocki commented on #96018
Recently did some more testing, and manged to reproduce this issue with a small, 6 node cluster, meaning this is independent of cluster size. The node has to be big enough to handle the workload. Managed to find the cut-off value at around ~100k endpoints (e.g 200 replicas x 500 services). Going above that value starts to break some services.

[2020-11-13 17:34] eth0xFEED commented on #96200
/close thanks all !

[2020-11-13 18:18] hanlins commented on #95727
Hi @jr200, thanks for the info, I'm still working on the root cause. As I mentioned above, it's something related to gRPC. I collected the `ClientConn` object info, this is the object before containerd restart:
![clientconn1](https://user-images.githubusercontent.com/19394971/99106171-a77a5100-2598-11eb-96e8-e1fd6ae97184.png)
And this is the object after containerd restart:
![clientconn2](https://

[2020-11-13 18:39] roycaihw commented on #96457
Still no failure recorded in testgrid nor go.k8s.io/triage. The priority is low

[2020-11-13 18:42] roycaihw commented on #96107
Thanks @pacoxu. https://github.com/kubernetes/kubernetes/issues/96107#issuecomment-722757805 was unexpected. I will take a look

[2020-11-13 18:43] roycaihw commented on #96107
/reopen

[2020-11-13 18:59] Huang-Wei commented on #96515
@alculquicondor Succeeded or Failed are specific terms for run-to-completion Pods (spawned and managed by Job controller). In terms of regular long-running Pods, kube-scheduler does retain them until they're physically deleted (via a Delete event from API server) - i.e., even when it's being garbaged collected in kubelet, or kubelet hasn't reported the pod's status to API server.

[2020-11-13 20:17] #96568 closed

[2020-11-13 20:45] qiutongs commented on #94085
/assign

[2020-11-13 20:58] neolit123 commented on #96554
hi,

potentially related:
https://stackoverflow.com/questions/56528876/kafka-memory-leak

please try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

we try to keep the issue tracker for bugs / features. if you find a bug in core kubernetes related to the memory increase, please re-open the ticket and update the details.

i don't see a #kafka channel in the Kube

[2020-11-13 20:58] #96554 closed

[2020-11-13 21:05] neolit123 commented on #96511
yes, seems like so:

owner google/gce:
https://github.com/kubernetes/test-infra/blob/bbcd71888bc301fd9017234d54beb85e0e13bb14/config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml#L671-L674

/sig cloud-provider
/area provider/gcp

[2020-11-13 21:06] neolit123 commented on #96461
/sig apps

[2020-11-13 21:08] neolit123 commented on #96506
/sig node

[2020-11-13 21:14] #90968 closed

[2020-11-13 21:14] ruiwen-zhao commented on #96519
@AlexeyPerevalov can you show full error msg of "NVIDIA GPU metrics will not be available: %s"?

[2020-11-13 21:21] #23880 closed

[2020-11-13 21:27] msau42 commented on #96508
cc @mattcary

[2020-11-13 21:41] alculquicondor commented on #96515
Is that not a phase then?

[2020-11-13 21:51] ahg-g commented on #96515
Any idea who sets those phases? is it the controller or kubelet?

[2020-11-13 22:37] liggitt commented on #96565
/priority critical-urgent

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Pod%20Container%20Status%20should%20never%20report%20success%20for%20a%20pending%20container

This is failing almost solidly in post-submits.

[2020-11-13 22:51] jeremyje commented on #62046
@elweb9858 This change isn't complete. It does not provide healthchecks to the load balancer to indicate that the service is healthy and can direct traffic to it. I have a draft PR but I'm struggling to test it locally. https://github.com/kubernetes/kubernetes/compare/master...jeremyje:clientip

[2020-11-13 23:15] #96287 closed

[2020-11-13 23:17] elweb9858 commented on #62046
@jeremyje Hi Jeremy, I was not aware that my changes should address load balancer health checks. Were load balancer health checks something that existed before and my changes broke them? Or was this a feature you were expecting to be added along with the local traffic policy?

fyi @daschott

[2020-11-13 23:35] thockin commented on #90131
Just to recap: If we added metadata (e.g. labels) on each NodeAddress, we could add a NodePortAddressSelector or something that chose which addresses a given service would bind to.  Alternately it could be a CIDR or list of CIDRs.  I don't LOVE the idea, especially on a per-service basis, but I'm open to discussing

[2020-11-14 00:11] jayunit100 commented on #96341
hi @scardena, ok just got a chance to take a look, so 3 follow up questions.  Lets keep this open so we can make a new NetworkPolicy test case for this, as its a policy we haven't really seen/tested before to my knowledge (we don't have many tests in place for ip ranges).

So , 3 follow up questions for you:

-  if you remove the `except` block, are you allowed to then curl down the 10...... IP ad

[2020-11-14 00:33] tallclair commented on #96524
This seems like something that should be tested generically, or at the very least have a table-driven test that covers all (or most) GA APIs.

[2020-11-14 00:50] jeremyje commented on #62046
Test File

[code]

Push a pod that will run on the service port.

[code]

Traversing the Services

[code]

Pivot from the IP address I can find the forwarding rule of the [Google Compute Load Balancer](https://cloud.google.com/load-balancing/docs/using-forwarding-rules).

[code]

[code]

[code]

I cannot figure out how to query the health status of each node but I have a screen shot of how this pl

[2020-11-14 00:54] thejoycekung opened #96577 "[Failing Test] [sig-api-machinery] CustomResourcePublishOpenAPI [Privileged:ClusterAdmin] works for CRD preserving unknown fields in an embedded object [Conformance] (ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts)"
**Which jobs are failing**:
`ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts`

**Which test(s) are failing**:
`[sig-api-machinery] CustomResourcePublishOpenAPI [Privileged:ClusterAdmin] works for CRD preserving unknown fields in an embedded object [Conformance]`
There is another issue #96055 for the other failing tests

**Since when has it been failing**:
https://github.com/

[2020-11-14 00:55] thejoycekung commented on #96577
/area provider/gcp

[2020-11-14 01:01] thejoycekung commented on #96565
/remove-priority important-soon

[2020-11-14 01:39] SergeyKanzhelev commented on #96565
Some very first notes (not sure how much I can spent today on this) from this failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1327392638478848000

Test is waiting on deletion event and fails with timeout. Meanwhile pod is in not ready state.

Error:

[code]

Events:

[code]

Pod is not ready:

[code]

[2020-11-14 02:20] jiuchen1986 commented on #88986
Hi, we had similar issues recently, and one thing I don't understand is that why the packet finally gets through after 63 sec, instead of blocked forever. What kind of vxlan bug is it here? Many thanks!

[2020-11-14 02:45] chenyw1990 opened #96579 "The extended scheduler with webhook will retry bind pod forever when the pod is bind successed but the bind request timeout"
**What happened**:
The extended scheduler with webhook will retry bind pod forever when the pod is bind successed but the bind request timeout

![](https://user-images.githubusercontent.com/1468240/99137266-939c2100-2664-11eb-86c4-89f4aace3e6b.png)

**What you expected to happen**:
Do not perform repeated scheduling when the nodename of the pod is not empty.

**How to reproduce it (as minimally an

[2020-11-14 02:46] chenyw1990 commented on #96579
/sig scheduling

[2020-11-14 02:46] chenyw1990 commented on #96579
/assign @chenyw1990
I will fix it

[2020-11-14 03:24] liggitt commented on #96577
/sig cluster-lifecycle

The last time I looked at these jobs, they were running tests from `master` against old server versions. That is unlikely to work well. cc @detiber

[2020-11-14 03:52] lala123912 commented on #96408
/assign
I will fix it

[2020-11-14 06:07] AlexeyPerevalov commented on #96519
I1113 15:43:26.937884    1338 nvidia.go:95] Found device with vendorID "0x10de"
W1113 15:43:26.938084    1338 nvidia.go:61] **NVIDIA GPU metrics will not be available**: Could not initialize NVML: could not load NVML library
I1113 15:43:26.950281    1338 manager.go:213] Machine: {Timestamp:2020-11-13 15:43:26.949899613 +0000 UTC m=+5.925633071 NumCores:2 NumPhysicalCores:1 NumSockets:1 CpuFrequenc

[2020-11-14 08:08] krmayankk commented on #96557
@davidstack is this reproducible ?

[2020-11-14 09:24] Doude opened #96585 "Code generator generates invalid fake clients for nonnamespaced subresources create method"
**What happened**:

Test create method for non-namespaced subresources generate invalid code.

I have the following code generation annotations:
[code]
which generated test method with generated fake client:
[code]

**What you expected to happen**:
It should be:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Generate clients for non-namespaced resources with subresources

[2020-11-14 10:12] satishkumar678122 commented on #37232
Warning  FailedScheduling  7s (x12 over 13m)  default-scheduler  0/1 nodes are available: 1 node(s) had taint {node-role.kubernetes.io/master: }, that the pod didn't tolerate.

[2020-11-14 10:13] satishkumar678122 commented on #37232
Warning  FailedScheduling  7s (x12 over 13m)  default-scheduler  0/1 nodes are available: 1 node(s) had taint {node-role.kubernetes.io/master: }, that the pod didn't tolerate.

im irritating with this

---
apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
    -
      image: nginx
      name: nginx
  tolerations:
  - key: "example-key"
    operator: "Exists"
    effect: "NoSchedu

[2020-11-14 10:14] satishkumar678122 commented on #37232
---
apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
    -
      image: nginx
      name: nginx
  tolerations:
  - key: "example-key"
    operator: "Exists"
    effect: "NoSchedule"

[2020-11-14 11:28] #91752 closed

[2020-11-14 12:07] lala123912 opened #96587 "Add configuration ability for the duration threshold of ApiServer trace"
**What would you like to be added**:
The duration threshold of the trace  is hard-code, so it will bring inconvennience to the maintainability of the applications if they want to get more requests in a large cluster. What about to configure the threshold through an environment variables and hard-code the threshold a default value such as 500 * time.Millisecond?

https://github.com/kubernetes/kuber

[2020-11-14 12:10] lala123912 commented on #96587
/area apiserver

[2020-11-14 12:10] lala123912 commented on #96587
/sig api-machinery

[2020-11-14 12:29] #92195 closed

[2020-11-14 12:55] aojea commented on #96416
/triage accepted
thanks for finding the bug I 've introduced :)

[2020-11-14 14:10] kujon commented on #92653
I'd be keen to work on this if possible!

[2020-11-14 14:11] andyzhangx commented on #96508
current issue:
 - secret is in namespace `default`

if PVC and pod are **not** in namespace `default`, it would report following error, while if PVC and pod are in namespace `default`, it works.
[code]

 - PV config:
[code]
- PVC config
[code]

[2020-11-14 15:22] jayunit100 commented on #96341
Testing on calico 3.11.2 ... It seems that the policy pasted above is definetly blocking all egress traffic from `namespace X`, as the original post suggested.

[code]
Nov 14 10:19:08.849: INFO: observed:

-               netpol-5134-x/a netpol-5134-x/b netpol-5134-x/c netpol-5134-y/a netpol-5134-y/b netpol-5134-y/c netpol-5134-z/a netpol-5134-z/b netpol-5134-z/c
netpol-5134-x/a X               X

[2020-11-14 15:32] #92221 closed

[2020-11-14 15:59] jayunit100 commented on #96341
## I can reach 10.0.0. addresses with the above policy applied...

- egress access to outside world IPs like 172.... work for me
- egress access to 10.0.0.1 and 10.0.0.255 **also** work for me
- egress access to 192.168.88.10 Fails

## hypothesis

- I have a question - is it possible that the `10.....` ip addresses forwards you to something in the 192 range?   If youre  DNAT'd to an IP range that

[2020-11-14 16:05] andyzhangx commented on #96508
I have tried multiple times, some symptoms:
 - it only happened when if PVC and pod are **not** in namespace `default`, while secret is in `default` namespace
 - it seems that kubelet could access one secret created earlier while it cannot access another secret created later, the config is exactly the same, quite strange behavior.

[2020-11-14 16:17] arianvp commented on #72817
Workaround for this is to always apply CRDs in separate transactions and wait for their readiness:

[code]

[2020-11-14 16:33] #90145 closed

[2020-11-14 16:35] Bessonov commented on #40610
/remove-lifecycle stale

[2020-11-14 17:15] george-angel commented on #40610
/remove-lifecycle stale

[2020-11-14 17:22] gseidel opened #96589 "Kubelet not coming up after reboot "exit status is 255""
**What happened**:

After I reboot a node (Reproducible for another node as well). The docker container and kubelet didn't start again.

The logs in ``journalctl -xeu kubelet`` says:

[code]

I try ``swapoff -a`` but it also didin't help.

**What you expected to happen**:

After reboot the system or kubelet, the container runs again.

**How to reproduce it (as minimally and precisely as possible)*

[2020-11-14 19:55] yuanchen8911 opened #96590 "Make PodBackoffDuration configurable"
**What would you like to be added**:

Make `PodBackoffDuration` configurable.

**Why is this needed**:

The values of `DefaultInitialBackoffDuration` and `DefaultMaxBackoffDuration` are 1s and 10s respectively. The values can be too small for some scenarios. For example, if  a large number of unschedulable pods return to the active queue too quickly, it may affect other schedulable pods and overlo

[2020-11-14 19:55] yuanchen8911 commented on #96590
/label sig-scheduling

[2020-11-14 19:56] yuanchen8911 commented on #96590
/sig scheduling

[2020-11-14 20:31] benjick commented on #17512
If you're using [Krew](https://krew.sigs.k8s.io/):
[code]
[code]

[2020-11-14 20:37] #86246 closed

[2020-11-14 21:24] aojea commented on #93568
/remove-lifecycle stale
/assign
I have a PR ready, but we need to update the KEP, the docs and add some testing, ... targeting 1.21

[2020-11-14 21:59] aojea commented on #96468
/close
This was fixed by https://github.com/kubernetes/kubernetes/pull/94474
It will be available in 1.20, not likely to be backported to 1.19 since dual-stack is still alpha

[2020-11-14 21:59] #96468 closed

[2020-11-14 22:23] alejandrox1 commented on #73324
This is being tackled in https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/0752-endpointslices
so removing the rotten label to (to distinguish this from issues which are labeled as rotten and do need some work done)
/remove-lifecycle rotten

[2020-11-14 22:46] alejandrox1 commented on #48528
/triage accepted
/remove-lifecycle rotten

[2020-11-14 22:59] yuanchen8911 commented on #96590
It's already supported in scheduler policy files.

podMaxBackoffSeconds:
percentageOfNodesToScore:

[2020-11-14 22:59] #96590 closed

[2020-11-14 23:45] ravilr commented on #43916
The other options to consider here is to fast-track migrating to cgroup v2 and leverage https://www.kernel.org/doc/html/latest/accounting/psi.html per cgroup memory.pressure metric.
Facebook have written about their usage and an userspace oomd killer here: https://facebookmicrosites.github.io/cgroup2/docs/memory-strategies.html

[2020-11-15 00:55] Romiko opened #96592 "Insufficient cpu - virtual-kubelet - GKE + Azure ACI Provider"
Environment summary
Provider ACI
https://github.com/virtual-kubelet/azure-aci/tree/master/charts

Version latest

K8s Master Info
1.16.13-gke.401

Helm Chart

Issue Details
I deployed the Virtual-Kubelet in GKE to use the Azure Container Instances. I am able to successfully schedule pods to Azure.

However the virtual-kubelet is causing an issue in the GKE cluster. Existing pods that run on physic

[2020-11-15 01:24] Romiko commented on #96592
/sig scheduling

[2020-11-15 01:33] Romiko commented on #33777
I am having this issue with the Prometheus Alert Manager when I install a Virtual Node in GKE using the Azure Container instance provider.

[2020-11-15 01:36] Romiko commented on #33777
The prometheus pod that got unscheduled has the following limits.

   Limits:
      cpu:     100m
      memory:  25Mi
    Requests:
      cpu:        100m
      memory:     25Mi

Looking at the cluster, there is over 90% cpu available on all nodes. When I remove the aci  virtual node, pods return back to normal.

[2020-11-15 01:36] Romiko commented on #96592
The prometheus pod that got unscheduled has the following limits.

   Limits:
      cpu:     100m
      memory:  25Mi
    Requests:
      cpu:        100m
      memory:     25Mi

Looking at the cluster, there is over 90% cpu available on all nodes. When I remove the aci  virtual node, pods return back to normal.

[2020-11-15 03:56] Romiko commented on #96592
Update. I think I found the cause. When deploying the virtual-kubelet chart for ACI provider, it causes a lot of kube-dns pods to spawn. Not sure why...

![image](https://user-images.githubusercontent.com/579058/99162531-c6bcde00-2752-11eb-8ab3-dfa0a026aa99.png)

[2020-11-15 04:18] Romiko commented on #96592
Temporary fix
`
kubectl scale --replicas=0 deployment/kube-dns-autoscaler --namespace=kube-system
kubectl scale --replicas=1 deployment/kube-dns --namespace=kube-system
`

[2020-11-15 04:45] #89114 closed

[2020-11-15 08:01] SergeyKanzhelev commented on #96565
cannot repro locally:

[code]

Looking at [kubelet.log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1327392638478848000/artifacts/bootstrap-e2e-minion-group-sp83/kubelet.log), pod cannot be terminated because of [volumes keep it alive](https://github.com/kubernetes/kubernetes/blob/bdac36b57ed0d6de91e6ed1f2da7adb1c5117202/pkg/kubelet/kubelet_pods.go#L979-L983

[2020-11-15 08:47] jlsong01 commented on #96512
Hi @perithompson   are you working on this issue already? If not I'd like to tackle this issue :)

[2020-11-15 10:56] Eslamanwar commented on #60538
Currently i use k8s 1.18 , we are facing similar issue, the CRD is struck at terminating state and disappear, and you cant edit the CRD anymore nor you override

[2020-11-15 12:44] mattfenwick commented on #94005
/remove-lifecycle stale

[2020-11-15 12:45] wojtek-t commented on #86484
/remove-lifecycle stale

[2020-11-15 14:12] jayunit100 commented on #96341
Just to re-ask my above questions, since they mighta gotten lost ... :)  @scardena

- if you remove the except block, are you allowed to then curl down the 10...... IP addresses ?
- if you remove the entire policy, are you allowed to curl down the 10..... IP addresses ?
- If you run sonobuoy run --e2e-focus=NetworkPolicy, which tests pass/fail ?

[2020-11-15 14:20] jayunit100 commented on #96200
/unassign

[2020-11-15 15:07] andrewsykim commented on #96565
Seems unrelated but I am fixing another failing test also on `ci-kubernetes-e2e-ubuntu-gce` (https://github.com/kubernetes/kubernetes/issues/96463), cross referencing in case they could end up being related. Working on a fix for that one here https://github.com/kubernetes/kubernetes/pull/96495

[2020-11-15 15:19] andrewsykim commented on #96565
fwiw I think `ci-kubernetes-e2e-ubuntu-gce` runs dockershim, @SergeyKanzhelev was your local test using docker or containerd?

[2020-11-15 16:12] neolit123 commented on #96592
hello, virtual kubelet is not a project originating from kubernetes/kubernetes.
it is a fork of the regular kubelet and it's repository is located here:
https://github.com/virtual-kubelet/virtual-kubelet

you can also try contacting Azure ACI / GKE support.

if you find a bug in core kubernetes, please open a new issue.

thanks
/remove-kind bug
/kind support
/close

[2020-11-15 16:12] #96592 closed

[2020-11-15 16:19] neolit123 commented on #96589
/sig node
/milestone v1.20
adding milestone to gather more attention.

- what options are you passing to the kubelet either via KubeletConfiguration or flags?
- are your components matching versions kubelet / apiserver / ... etc?
- can you show the whole kubelet log - e.g. at https://pastebin.com ?

[2020-11-15 17:53] #96200 closed

[2020-11-15 18:26] GrigoriyMikhalkin commented on #95861
@DemonsLu Did you figured out solution for this? Indeed, you can't specify limit value for downscale, but you can control scale velocity like in [this example](https://github.com/kubernetes/enhancements/blob/master/keps/sig-autoscaling/20190307-configurable-scale-velocity-for-hpa.md#story-2-scale-up-as-fast-as-possible-scale-down-very-gradually). That solved problem for me. Did you encountered any

[2020-11-15 18:59] #92263 closed

[2020-11-15 18:59] #92264 closed

[2020-11-15 20:59] hh commented on #96524
https://apisnoop.cncf.io/1.20.0/stable/node

![image](https://user-images.githubusercontent.com/31331/99196603-4ea5f500-27f2-11eb-8b71-a93fb6915f28.png)

Just a quick note to show that currently the new tests are hitting all endpoints.

I'd go ahead and create the Promotion PR in order to get any necessary feedback from #sig-arch

[2020-11-15 23:04] ScalaWilliam commented on #57291
👍  to this idea as well. Some commentary from Stack Overflow users: https://stackoverflow.com/questions/41108713/configuring-kubernetes-restart-policy#comment83373490_41108798

I have an application that wants similar semantics to the SO comment.

[2020-11-16 01:05] #91981 closed

[2020-11-16 01:42] davidstack commented on #96557
@krmayankk  i can not find one method to reproduce this problem, but i have serveral clusters have this problem

[2020-11-16 02:07] chendave commented on #96579
May I know how that could happen? bind success while got request is timeout, is that checking by `wait.Poll`? where is the code for this check?

[2020-11-16 03:27] ahg-g commented on #94009
/remove-lifecycle stale

[2020-11-16 03:52] ciiiii commented on #89647
/close

[2020-11-16 03:53] #89647 closed

[2020-11-16 07:27] DemonsLu commented on #95861
@GrigoriyMikhalkin Thanks for your response. At present, I also use this method to temporarily solve the problem, But I still think this way of controlling the rate is not the perfect way to downscale pod.  There is a "wave" between upscale and downscale, and different workload has different "wave value", so this is the reason why I prefer to specify downscale value. Because I want to set the valu

[2020-11-16 08:12] #92126 closed

[2020-11-16 08:12] #92255 closed

[2020-11-16 08:16] yangfan-shine commented on #92114
when set privileged=true casue too much authorit, it is not safe

[2020-11-16 08:23] wojtek-t commented on #96259
The fix was merged at head.

I also opened cherrypicks - they are waiting for approval.
https://github.com/kubernetes/kubernetes/pull/96601
https://github.com/kubernetes/kubernetes/pull/96602
https://github.com/kubernetes/kubernetes/pull/96603

Closing since there is nothing else left to do here.

[2020-11-16 08:23] #96259 closed

[2020-11-16 08:41] pohly commented on #95497
I discussed this with SIG-Scalability and they confirmed that relying on server-side prioritization is indeed the end-goal. Once that is in place, clients are allowed and expected to submit requests as quickly as they can, with no rate limiting of requests.

[2020-11-16 08:46] pohly commented on #95497
Reducing the number of requests per provisioned volume becomes less important then from a throughput and load perspective, but it is still relevant for latency: the more components need to react to changes, the higher the delay between creating a PVC and the PVC actually becoming usable for a pod.

This currently cannot be measured well (clusterload2 just measures load and total duration). For inv

[2020-11-16 08:52] henrik-m commented on #96428
We had another pretty extreme case of one of our Windows nodes going nuts out of nowhere yesterday. In hope this might help you get to the bottom of this, I am providing a few screenshot from the VM before it was rebooted and the kubelet log from yesterday when it happened.

This is what we saw in out monitoring system:
![image](https://user-images.githubusercontent.com/8522449/99230121-34b6e300-2

[2020-11-16 09:21] behos commented on #96218
Hi, is there an update on this? Is it a bug or intended behaviour?

[2020-11-16 09:25] sebastian-schuth commented on #89898
We have reviewed our findings on this, and here is my update:

1. The ready endpoint **is** called by the `kubelet`, the gaps were due to some unrelated issue with our logging back end.
2. We have reviewed all calls and the response time for all readiness checks, and the were well within the expected time range

We have had no outages any more since switching the health checks to an `exec` based h

[2020-11-16 09:34] bertreyking commented on #81723
+1

[2020-11-16 10:48] yashvardhan-kukreja commented on #96587
I would like to pick this up

[2020-11-16 10:48] yashvardhan-kukreja commented on #96587
/assign

[2020-11-16 11:02] juliantaylor commented on #88397
/remove-lifecycle rotten

[2020-11-16 11:13] davidstack commented on #96557
maybe because  i use the orphan delete policy,so sometimes, my cluster have this problem.close it

[2020-11-16 11:13] #96557 closed

[2020-11-16 11:15] #92292 closed

[2020-11-16 11:50] llhuii commented on #96506
No device plugin installation in this issue.

[2020-11-16 12:07] lingsamuel commented on #96506
Then this behavior is by design.
Your nodes don't have resource `nvidia.com/gpu`, so when scheduling `cuda-vector-add-9jlgn`, the limit is ignored. Then the pod is scheduled normally - and it crashes later.
The another one `cuda-vector-add-d8wmf` has a resource limit contains `kubernetes.io/`, which considered as an "internal" resource, won't be removed even if it doesn't exist in nodes. So it fai

[2020-11-16 12:52] mborsz commented on #96038
One more flake:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1327839063725576192

it failed with:
[code]
![image](https://user-images.githubusercontent.com/2559168/99254462-af452a00-2812-11eb-8849-79af7d384895.png)

Indeed, there are quite high spikes:
![image](https://user-images.githubusercontent.com/2559168/99254541-ce43bc00-2812-11eb-8ddc-031f44

[2020-11-16 13:23] ScrapCodes commented on #94718
Hi, @kubernetes/sig-windows-bugs any update here?

[2020-11-16 13:35] fasaxc commented on #93925
/remove-lifecycle stale

[2020-11-16 13:36] ScrapCodes commented on #95600
Hello @kubernetes/sig-storage-bugs , any update on this?

[2020-11-16 14:02] perithompson commented on #96512
Hi @jlsong01 yeah I am already working on this :)

[2020-11-16 14:19] damemi commented on #91633
/remove-lifecycle stale

[2020-11-16 14:22] alculquicondor commented on #95445
@gavinfish you can only work on this once we have a v1beta2 version of the API #95308

Users of v1beta1 should not be affected. i.e., they shouldn't need to do any changes.

[2020-11-16 14:49] gavinfish commented on #95445
@alculquicondor according to @ahg-g's proposal, it seems that we may be able to accept both origin in-tree plugin names and qualified ones for v1beta1?

Makes it easier to distinguish between in-tree and out-of-tree plugins.

[2020-11-16 14:58] alculquicondor commented on #91633
@damemi could you make a list of what's needed to have kube-scheduler in a desirable state with regards to structured logging?

[2020-11-16 14:58] gavinfish commented on #88886
/cc

[2020-11-16 15:01] alculquicondor commented on #95445
If you make it work, I'm not against it. But it might be easier to just do it for v1beta2, which is fine.

[2020-11-16 15:36] odinuge commented on #95488
Hmm. Interesting..

I see you are using dockershim, but what cgroup driver is docker and kubelet using? If you use systemd as init you should also use systemd as cgroup driver for both kubelet and the container runtime.

Also, do you have any pods with containers running systemd? Maybe that is causing some strange stuff?

[2020-11-16 16:09] RobertKielty commented on #96565
Another [failure](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1328247499541975040#1:build-log.txt%3A87350) to report when run from [sig-release-master-blocking#gce-cos-master-default](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5)

`Nov 16 08:31:33.868: timed out waiting for watch events for pod-submit-status-2-11
`

[2020-11-16 16:16] adtac commented on #96119
Closing as fixed :)

[2020-11-16 16:16] #96119 closed

[2020-11-16 16:21] andrewsykim commented on #96565
To my point earlier around dockershim, I saw this fail on containerd jobs as well so maybe it's not specific to a container runtime

[2020-11-16 16:35] jkaniuk opened #96612 "[Failing Test] ci-kubernetes-kubemark-100-gce-scheduler"
**Which jobs are failing**:
ci-kubernetes-kubemark-100-gce-scheduler
**Which test(s) are failing**:
pod-affinity
**Since when has it been failing**:
2020-11-14
**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100-scheduler
**Reason for failure**:
[code]
**Anything else we need to know**:
/sig scheduler
/sig scalability
/cc @adtac

[2020-11-16 16:36] jkaniuk commented on #96612
/sig scheduling
/assign @adtac

[2020-11-16 16:48] b10s commented on #95488
@odinuge thank you for the reply!

The kubelet and container runtime (docker) are using `cgroupfs` driver:
[code]
and
[code]

Yeah, we do consider moving to `systemd` cgroup driver [as recommended](https://kubernetes.io/docs/setup/production-environment/container-runtimes/) in soon future updates of our cluster but not now, I think.

That is a good point! I'm not sure but it might be the reason if

[2020-11-16 16:53] AntonOfTheWoods commented on #82987
@deepaksood619 , any chance you could re-open this, a few of us seem to still be having issues

[2020-11-16 17:13] apelisse commented on #91074
/remove-lifecycle stale

[2020-11-16 17:22] jeremyje commented on #62046
The way GCE Load Balancer works in this context is if all nodes report unhealthy the load balancer will direct traffic to any random node. So in the example above you'd have a 1/5 chance of hitting the right node. https://cloud.google.com/load-balancing/docs/health-check-concepts#importance_of_firewall_rules

The UX is the request sometimes works but it's very slow to respond.

[2020-11-16 17:28] Kanshiroron opened #96614 "[Probes] Incorrect application of the initialDelaySeconds"
Hello,

We are experiencing an issue with pod probes where they are not ran in sync with the configuration, which let suggests that the `initialDelaySeconds` is not correctly applied (or some other random delay is introduced).

We have a deployment that contains a `livenessProbe` and a `readinessProbe` configured as followed:
[code]
According to the configuration both probes should be running 15 s

[2020-11-16 17:32] ruiwen-zhao commented on #96519
@AlexeyPerevalov I have looked into this issue actually. This is caused by a recent change on cadvisor: https://github.com/google/cadvisor/pull/2419/files#diff-bd4495842459f1c8cdcb90c14dc169abdcd738596d7e7710daa2f9a9aa7a7ba5

We used to return a real nvidiaManager but now only a Noop one if the NVML lib is not there. And currently the NVML lib is loaded by daemonset, which will not there when the

[2020-11-16 17:33] #95486 closed

[2020-11-16 17:40] thockin commented on #94861
I'd love to pin this down, but I don't have the means to set up a repro.  Is there a way I can set up a way to experiment?

[2020-11-16 17:55] damemi commented on #91633
Yeah, I'll work on putting together what we talked about here. The main improvement would be logging a unique key for each pod through its scheduling cycle like mentioned above

[2020-11-16 18:06] cynepco3hahue commented on #95041
I will take a look at what happens with the serial lane.

[2020-11-16 18:09] perithompson commented on #96512
Started branch for this here @jayunit100
https://github.com/perithompson/kubernetes/tree/windows-check-permissions

[2020-11-16 18:13] MikeSpreitzer commented on #95300
I think we have fixed this in `master`, do you guys agree?

[2020-11-16 18:16] jayunit100 commented on #96512
thanks @perithompson

[2020-11-16 18:23] ArtemProc commented on #96459
I have exactly same problem in my local lab.
Virt infra on Virtual Box 6.1.16

Guest OS

[code]

[code]

[code]

[code]

[2020-11-16 18:25] mqsoh commented on #80346
I think it should be supported in the downward API, but if you're using Kustomize, this will work.

###### kustomization.yml
[code]

###### mydeployment.yml
[code]

[2020-11-16 18:37] cynepco3hahue commented on #95041
So the kubelet failed to restart because of
[code]

I think it can be related to the topology manager scope PR, I will dig into the code tomorrow.
FYI @klueska @k-wiatrzyk @SergeyKanzhelev

[2020-11-16 18:43] mrajashree commented on #96183
@yastij it's not a dupe, the version on which that user reported the bug actually works for me

[2020-11-16 18:44] mrajashree commented on #96183
@yastij it's not a dupe, the version on which that user reported the bug actually works for me

/reopen

[2020-11-16 18:57] mitar commented on #80346
It is not possible to work to get digest of the image as it was pulled by Kubernetes.

[2020-11-16 19:00] zshihang commented on #86448
/close as feature `CSIServiceAccountToken` is Alpha in 1.20.

[2020-11-16 19:02] zshihang commented on #86448
/close

[2020-11-16 19:02] #86448 closed

[2020-11-16 19:02] odinuge commented on #95488
Ahh, yeah, running with cgroupfs together with systemd is probably what is causing the problems.

I do not remember what it will require from the top of my head, but it does requite more than just the default values for pods. But it is possible with the right permissions.

Ahh, makes sense. Hmm. I guess we can fail kubelet on startup (as we do with swap), but that would might end up with upgrades

[2020-11-16 19:29] veeshall commented on #95322
We are facing similar issue with as well. Is there any workaround for this?

[2020-11-16 19:35] MikeSpreitzer commented on #96459
@ArtemProc:
1. Can you try #96530 and, if so, does it fix your problem and does it log complaints about the monotic clock going backwards?
2. Can you tell us about your host and the settings on your VM(s)?

[2020-11-16 19:37] klueska commented on #95041
It actually looks like it was introduced by: a8b8995ef241e93e9486d475126450f33f24ef4e

[2020-11-16 20:08] daschott commented on #62046
@jeremyje Does this issue also occur if you create a load balancer without the local traffic policy flag?

[2020-11-16 20:53] jingxu97 opened #96618 "Add csi snapshot test cases"
Consider to add one test case which have volumes taken from snapshot attached to the same node as the source volume. It also covers the case that snapshot is taken while volume is still attached to node.

1. create pvc as source volume, and a pod1 which writes data to the volume.
2. after data writing is finished, take a snapshot of the source volume
3. create a new pvc which is from the snapshot

[2020-11-16 20:54] jingxu97 commented on #96618
cc @msau42 @xing-yang

[2020-11-16 20:59] marosset commented on #96428
Can someone extract some ETW events and see if anything in there looks interested?

https://github.com/Azure/aks-engine/blob/f5bdb8b94cc62b03480e7430537d122828e21c27/scripts/collect-windows-logs.ps1#L36-L50

would be a good starting point.

Also, is there fairly easy to repro?

[2020-11-16 21:05] marosset commented on #96428
I can start looking into this but probably not until after Thanksgiving...

[2020-11-16 21:07] ArtemProc commented on #96459
@MikeSpreitzer:

1. Log exactly matches same error as posted by author of issue,
I have NOT tried [#96530](https://github.com/kubernetes/kubernetes/pull/96530)
2. Guest VM settings: 4 vCPUs 4GB RAM
swap is OFF on OS level.

Host HW:
Core i9 9900K@4.7GHz
32GB Ram

[2020-11-16 21:13] thockin commented on #48528
This requires evolving the Service API.  The problem is backwards compat.  It has always been the case that a service with an empty `selector` means `manual`.  I am not sure that adding a second field would be compatible with that, but I (or someone) will have to think through the various ways this can be used.  It might be doable.

A heavier approach would be to treat this like pluralization - in

[2020-11-16 21:20] xing-yang commented on #96618
@jingxu97 I think this PR addressed this issue:  https://github.com/kubernetes/kubernetes/pull/92555.  Can you take a look?

[2020-11-16 21:20] thockin commented on #95838
Some of your statements aren't clear:

Why can't they share labels?

This is what threw me - you're routing to backends in the same namespace, but you don't control the labels?  That's a pretty significant limitation.

I commented there.  This is not impossible, and is probably long overdue, honestly, but it will require a KEP and someone to own it.

The way I usually see this is to label the A po

[2020-11-16 21:33] thockin commented on #95712
Maybe there's a combination of parts to the solution.  Just spit-balling.

Imagine a new CRD "ClusterZone"

[code]

CoreDNS would consume ClusterZone resources and serve the spec.zone (example.com here).  A "foo" service in namespace "bar" would become "foo.bar.example.com".  Cluster-internal resolution would hit this and get internal answers.  NOTE: the node-local cache would have to forward the

[2020-11-16 21:33] jingxu97 commented on #96618
from what I tested, I think current snapshot tests will delete first pod first, and then create snapshot. The new test case is to keep the first one running while take snapshot, and also when creating the second pod and volume, the first pod and volume still exist.

The test case discovered an issue in windows related to disk offline/online issue mentioned here  https://github.com/kubernetes-sigs/

[2020-11-16 21:35] thockin commented on #95258
Is this running dockershim on the node or containerd?  Could be that containerd is never clearing conntrack?

[2020-11-16 21:38] thockin commented on #94575
@andrewsykim @khenidak  This says IPVS and IPv6 - can we repro?

[2020-11-16 21:41] thockin commented on #94022
Where's the KEP? :)

[2020-11-16 21:43] thockin commented on #93713
This is expected for a short while - the LB needs to be programmed to remove that endpoint.  If this lasts a very long time (more than 10-15 seconds), there may be something wrong on the cloud-provider path?

[2020-11-16 21:43] #93713 closed

[2020-11-16 21:45] #92618 closed

[2020-11-16 21:56] jingxu97 commented on #95199
yes, this issue can be closed.

[2020-11-16 21:56] #95199 closed

[2020-11-16 21:56] MikeSpreitzer commented on #96459
@ArtemProc : host OS?
Is your VB "Version 6.1.16 r140961 (Qt5.6.3)"?
VM settings match the following?

<img width="616" alt="Screen Shot 2020-11-16 at 4 56 10 PM" src="https://user-images.githubusercontent.com/14296719/99312854-a82b1580-282c-11eb-84d1-fca0ba9df680.png">
<img width="742" alt="Screen Shot 2020-11-16 at 4 55 58 PM" src="https://user-images.githubusercontent.com/14296719/99312861-aa8d

[2020-11-16 22:10] msau42 commented on #94022
If you're going the route of never updating the configmap, then this may be useful: https://github.com/kubernetes/enhancements/issues/1412

[2020-11-16 22:14] gohilankit opened #96620 "Long delay in DetachVolume invocation after the pod is deleted"
**What happened**:
During a scale test, when pods and PVCs were being deleted at scale(about 400), some of the PVs(about 30) remained in terminating state for about an hour. I see a long delay in attacherDetacher.DetachVolume() invocation for these volumes  after the pods were deleted.

**What you expected to happen**:
PVs should be deleted soon after the corresponding PVC and pod got deleted.

**

[2020-11-16 22:14] gohilankit commented on #96620
/sig storage

[2020-11-16 22:35] adammw opened #96621 "Support registering restclient metrics against non-legacyregistry prometheus registry"
**What would you like to be added**:
A register method or similar which takes in a registry as an argument, so that restclient metrics can be exposed to other prometheus registries without having to either duplicate the logic, or force the use of the legacyregistry which is marked as deprecated.

**Why is this needed**:
Currently the `k8s.io/component-base/metrics/prometheus/restclient` package re

[2020-11-16 22:50] apelisse commented on #96351
I'm unfamiliar with `istioctl`, what are the queries performed by `istioctl install --set 'WRONGHUB'`, we're really not supposed to end-up with an empty managedfields.

[2020-11-16 22:51] apelisse commented on #96351
@kwiesmueller Do you want to take a look at this?

[2020-11-16 22:59] richardwxn commented on #96351
@apelisse that command just helps to setting the hub for istio images in related deployment manifest, etc.

[2020-11-16 23:06] andrewsykim commented on #94575
There's a known bug with CentOS 7 + IPVS + IPv6 on any Kubernetes version < v1.18.3. @herbguo what Kubernetes version are you running? I didn't see it on the issue description.

[2020-11-16 23:07] andrewsykim commented on #94575
Fixed in https://github.com/kubernetes/kubernetes/pull/90678

[2020-11-16 23:12] kwiesmueller commented on #96351
I'll take a look and try to reproduce it in a test.
/assign

[2020-11-16 23:16] magixus commented on #79224
I've read all the comment and didn't find any one explained this approach properly:

I've been running in the same issue and wanted to explain again:
I have mongo replicaSet with N applications (backends)  connecting to the same mongo RS:

I need to configure one Secret as bellow:

[code]

and then configure one ConfigMap to take in consideration above secrets like :

[code]
that would help a lot

[2020-11-16 23:22] magixus commented on #79224
yaml highlight on markdown is like bellow :
add ***yaml*** after 3x`
[code]

ex:

[code]

[2020-11-16 23:23] kwiesmueller commented on #96351
@richardwxn could you point me to the place where you integrated SSA into your operator?

Also, can you give some examples as JSON or YAML of the patches you send that cause the corrupt managedFields?

Do you have a mutating webhook that might be responsible?

[2020-11-16 23:29] jeremyje commented on #62046
This only happens with local traffic policy mode. There's a proposed fix but I don't know how to run Windows centric unittests in winkernel.

See https://github.com/kubernetes/kubernetes/issues/62046#issuecomment-727073543

[2020-11-16 23:36] richardwxn commented on #96351
thx for taking a look, yep here is the code: https://github.com/istio/istio/blob/release-1.8/operator/pkg/helmreconciler/apply.go#L239.

I can send you example yamls during this process so you can see how the managedFields got corrupted.

Nope our mutatingwebhook does not look at the istio-system namespace in this case

[2020-11-16 23:55] richardwxn commented on #96351
And you can download the istioctl binary from here if you want to reproduce: https://gcsweb.istio.io/gcs/istio-prerelease/prerelease/1.8.0-alpha.3/

[2020-11-17 00:15] XanderStrike commented on #95838
Yeah the Deployments are produced by a different [component](https://github.com/cloudfoundry-incubator/eirini) that doesn't know anything about routing. We could ask the developers on that component start keeping track of routing information, but that's an expansion of scope that we know already they're not interested in.

We could write a component to update the labels in the deployment spec, but

[2020-11-17 01:14] SergeyKanzhelev commented on #96565
run with kind and docker

[2020-11-17 01:27] msau42 commented on #95600
@yuga711 would you be able to look into this test flake?

[2020-11-17 01:44] Huang-Wei commented on #96478
Yes, it belongs to the "Efficient Rescheduling" context.

Ref:

- https://docs.google.com/document/d/1Dw1qPi4eryllSv0F419sKVbGXiPvSv6N_mJd6AVSg74/edit#
- https://github.com/kubernetes/kubernetes/pull/92206#issuecomment-662609698

@alculquicondor may have already created an umbrella issue, but I cannot find it.

@denkensk feel free to roll this forward.

[2020-11-17 01:57] msau42 commented on #96508
Does it work if pvc and pod and secret are all in the same namespace (not default)?

Looking at azure translation code, the inline to csi translation seems problematic, as it's hardcoding default namespace for the secret:
https://github.com/kubernetes/kubernetes/blob/147a120948482e49f93e7d8896f8e32b0418c2d8/staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go#L96

The PV to csi translation

[2020-11-17 02:52] llhuii commented on #96506
I don't understand why the limit should be ignored?  I think it's better to tell the user the wrong or not enought limits?  Any discussions?

[2020-11-17 03:16] lingsamuel commented on #96506
Currently it doesn't

/kind feature

[2020-11-17 03:19] lingsamuel commented on #96506
/remove-kind bug

[2020-11-17 03:20] lingsamuel commented on #96506
/remove-kind support

[2020-11-17 03:31] lingsamuel commented on #92864
After some tests I believe the podAntiAffinity weights works well in my cluster.

I noticed your yaml looks like:
[code]
I believe labels shouldn't appear in `spec.template.spec`, it should be in `spec.template.metadata`.

[2020-11-17 05:20] rajeshkumaratappviewx commented on #89898
Same issue https://github.com/kubernetes/kubernetes/issues/51096#issuecomment-724170585

[2020-11-17 05:23] thockin commented on #95838
I thought "surely it lets you set labels" but it I took a look and honestly, I can't see it.  How can a tool purport to target Kubernetes workloads and NOT support setting labels?  It's pretty fundamental...

What labels DOES it set, so that you can select the pods at all?  What SetSelector expression would you use?

Well, I can say with confidence that adding a "modern" selector to Service is tot

[2020-11-17 05:39] bjrara opened #96624 "Enabling AlwaysPullImages admission causes existing Pods cannot be updated"
**What happened**:
We enabled AlwaysPullImages admission in an existing cluster, and found annotations/labels/finalizers of existing Pods whose  imagePullPolicy configured as `IfNotPresent` could not be updated.

AlwaysPullImages admission mutated containerSpec by [changing imagePullPolicy from `IfNotPresent` to `Always`](https://github.com/kubernetes/kubernetes/blob/205d5c58296357365bfa834ecabb38

[2020-11-17 05:40] rpherrera commented on #84407
https://github.com/kubernetes/kube-state-metrics/issues/1090#issuecomment-728698307

Repeating myself:

I was having this issue with a cluster on `v1.15.12-gke.20` version.

The most recent version of kube-state-metrics that worked for me without flooding the logs with these errors was: `v1.9.4`

[2020-11-17 05:41] bjrara commented on #96624
/sig api-machinery

[2020-11-17 06:16] tangwz commented on #96436
@alculquicondor This issue remove triage, should I still develop it?

[2020-11-17 06:16] cynepco3hahue commented on #95041
@klueska Thanks for the update.

[2020-11-17 06:29] chendave commented on #89554
Looks like to me this is a very complicated issue which is related with GCB, Moby Buildkit, it's not easy for me to reproduce and some trouble shooting by myself since I am not able to access GCB.

Just wanna know is there any follow up to make this PR merge again? https://github.com/kubernetes/kubernetes/pull/90400, we do have some needs to run the conformance testing on ARM64 @cpanato @BenTheEld

[2020-11-17 07:03] chenyw1990 commented on #96579
@chendave

what happened?
Our cluster has 2000 nodes, and some pods use extender scheduler, the response of kube-apiserver becomes slow during batch application deployment.

the default HTTPExtender timeout is 5s,  sametimes bind request will timeout.

![image](https://user-images.githubusercontent.com/1468240/99356250-d409d200-28e4-11eb-97c4-2ba5856df8d1.png)

[2020-11-17 07:03] RobertKielty commented on #94931
Linked PR is a Timeout Bump which may be masking a real problem
I requested an assist from @hasheddan @zhouya0 to chse up @kubernetes/sig-node-bugs to see if they can expand on analysis provided here https://github.com/kubernetes/kubernetes/pull/94958#issuecomment-705631289

[2020-11-17 07:08] RobertKielty commented on #94753
/close

Closing this is a duplicate of 94931 (even though this issue was logged first) #94931 has a linked PR #94958

[2020-11-17 07:08] #94753 closed

[2020-11-17 07:14] popooja-8 opened #96625 "Calico is frequently down"
I am installing 3 node k8s cluster, calico will be stable for 1 or 2 days, again after that it goes down. After describing POD it says BGP not established, but Internal IPs are pinging.(after rebooting calico will come up, but again it goes down, rebooting as rework is not possible since some of the suites are running in background).

[root@master ~]# kubectl describe po calico-node-nwvgh -n kube-

[2020-11-17 07:18] pacoxu commented on #96625
@popooja-8

If it is a calico issue, you may open issue in https://github.com/projectcalico/calico/issues.

If this is a kube issue, please add more logs or cluster info in the description.

[2020-11-17 07:19] ArtemProc commented on #96459
@MikeSpreitzer
`OS Name:                   Microsoft Windows 10 Enterprise
OS Version:                10.0.18363 N/A Build 18363
OS Manufacturer:           Microsoft Corporation
OS Configuration:          Standalone Workstation
OS Build Type:             Multiprocessor Free`
![image](https://user-images.githubusercontent.com/10011238/99358268-93db2d00-28ad-11eb-867f-1a91d861fb26.png)

![image](htt

[2020-11-17 07:33] mborsz commented on #96038
Failing test (1327839063725576192):
![image](https://user-images.githubusercontent.com/2559168/99359262-19131180-28af-11eb-8380-b0e944faeb35.png)
![image](https://user-images.githubusercontent.com/2559168/99359395-4eb7fa80-28af-11eb-916d-21bb72e678a8.png)

Passing test (1328020252079951872):
![image](https://user-images.githubusercontent.com/2559168/99359271-1e705c00-28af-11eb-9f02-aa2f710353e1.pn

[2020-11-17 07:36] popooja-8 commented on #96625
/sig kubernetes

[2020-11-17 07:37] popooja-8 commented on #96625
/wg  kubernetes

[2020-11-17 07:57] denizdogan commented on #9995
Was it ever discussed by the SIG? I'm assuming no, based on the note from October 15 that says:

[2020-11-17 08:33] panpan0000 commented on #96589
When if the problem caused by improper the kubelet config/arguments, attach the begining part of the kubelet log would be helpful than go-lang dump .  @gseidel

[2020-11-17 08:43] Cweiping commented on #96560
Why not use initContainer? @shinytang6

[2020-11-17 08:47] shinytang6 commented on #96560
@Cweiping What l need is to execute my command at the beginning of the main container ...  `initContainer ` can not do that

[2020-11-17 08:49] mborsz commented on #96038
I checked logs around 7:36:26 in failing test:
* I see a series of PUT endpointslices for big-service mixed together with medium and small services
* At 7:36:25.0689 I see the first `cacher.go:1238] Forcing watcher close due to unresponsiveness: *discovery.EndpointSlic` log
* After that log entry, I see hundreds of 'Forcing watcher close due to unresponsiveness'
* Then huge number of "Starting wat

[2020-11-17 08:52] pacoxu commented on #96560
You may add your command to the start of your entypoint.sh in Dockerfile during image building.

[2020-11-17 08:54] Cweiping commented on #96560
Override entrypoint or rebuild image is a more appropriate choice, which is more reasonable than the implementation of PreStart.

[2020-11-17 09:03] shinytang6 commented on #96560
My scenary is to dynamically insert the command to create a user based on the user's input (e.g.username), l actually don't know what the real command is, so l cannot hack it by inserting a script at the beginning of the Command or Dockerfile.

[2020-11-17 09:07] shinytang6 commented on #96560
l cannot override entrypoint or rebuild image as l described before, l think `preStart` hook is very useful in some cases, is there any reason/side effect not implementing the `preStart` hook?

[2020-11-17 09:11] pacoxu commented on #96560
Another workaround: Add env INIT_COMMAND in your Dockerfile and execute it in your entrypoint.sh.

BTW, this is not best practise .

### init container
You can use initContainer with the same image and use same path as the main container. Mount a path to both containers.

[2020-11-17 09:19] ScrapCodes commented on #95600
Thank you @msau42 and @yuga711 for opting to look in.

Some of the recent failures are: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%20PVC%20Protection%20Verify%20that%20scheduling%20of%20a%20pod%20that%20uses%20PVC%20that%20is%20being%20deleted%20fails%20and%20the%20pod%20becomes%20Unschedulable

Shows one failure on 8/11

[2020-11-17 09:19] shinytang6 commented on #96560
The first approach is indeed possible, but it pollutes the mirror to some extent.
To the second approach, the command l actually executed is like `useradd xxx`, l am not sure if it will cause some problem if l do that.. But l can have a try, Thanks!

[2020-11-17 09:20] adeleglise commented on #87491
I'm seeing this issue as well on our staging cluster.

[2020-11-17 09:34] pacoxu commented on #96560
I'm afraid that it is not good to share /etc/passwd as user info is save in  /etc/passwd .

I think `Add env USER_NAME in Dockerfile` may be a better way.

[2020-11-17 09:35] shinytang6 commented on #96560
Update: I tried it briefly, no matter whether it is mounting the / directory or the /etc/passwd directory, there will be some errors. My need is not as simple as sharing a file.. it's also really trick using that method..

[2020-11-17 09:39] vmandale commented on #81723
+1

[2020-11-17 09:43] shinytang6 commented on #96560
make sense to me in some way, but in my situation I think using `prestart` is much more reasonable :)

[2020-11-17 09:56] pacoxu commented on #96560
http://iocanel.com/2017/09/using-init-containers-to-handle-openshifts-arbitrary-user-ids/
Openshift user suffered the same.

[2020-11-17 09:59] pacoxu commented on #2630
👍

[2020-11-17 10:01] shinytang6 commented on #96560
Sorry, I found that this method still does not work, because it needs to specify username env in the image. But l am actually writing a k8s controller, l want to hijack the k8s pod creation event and insert the user add command before the main pod command...

[2020-11-17 10:22] pacoxu commented on #96560
Override command like `bash -c "useradd xxxx  &&  origin-command "`.
You have to get the Image command if it is not specified in the pod yaml.

[2020-11-17 10:31] mak-454 commented on #45419
Faced the issue again on eks with **kubernetes version=v1.16.8-eks-e16311** and **docker version=docker://19.3.6**
Restarting docker and kubelet recovered the node.

[2020-11-17 10:32] codesome commented on #89820
/remove-lifecycle stale

[2020-11-17 10:34] shinytang6 commented on #96560
lt's really hard to do that because image EntryPoint/CMD may be overided by Command  inside pod yaml

[2020-11-17 10:37] yacinelazaar opened #96630 "Job not failing after backoffLimit is reached"
**What happened**:
I have the current job running that randomly fails or succeeds with completions set to 4 and no parallelism. Notice the backoffLimit here is 2:

[code]

So the job create multiple pods then fails:

[code]

But upon checking the created pods

[code]

I noticed that the job did not fail after making 2 failed retries but 4 (check the last 5 pods)

**What you expected to happen**:
J

[2020-11-17 10:44] pacoxu commented on #96624
seems to be a bug.
/assign

[2020-11-17 10:57] ScrapCodes commented on #95226
Hi @msau42, can you call attention of the relevant folks here as well ?

[2020-11-17 10:58] RobertKielty commented on #91739
So there is an in progress thread in Slack looking at the this now.

I am tempted to create a new issue for the DumpClusterLogs issue / timing out but will leave open for today ...

This is being investigated now by @ramineni and they are investigating on the following thread on Slack

https://kubernetes.slack.com/archives/CN0K3TE2C/p1605284969233600

[2020-11-17 11:10] yacinelazaar commented on #96630
/sig apps

[2020-11-17 11:27] harche commented on #94825
Right now I am thinking of either handling the cache miss better,

[code]

or returning the `DeviceInfo` even if the fs type is not `btrfs` in cadvisor,

[code]

[2020-11-17 11:40] RobertKielty commented on #96577
/assign

[2020-11-17 11:49] whites11 opened #96633 "Allow reservation of volumes for each node"
We are facing a problem with cloud disk attachment limits and Kubernetes scheduling.

When running in a cloud provider, normally virtual machines have a limit on how many disks can be attached at the same time.

The `Scheduler` uses the `allocatable` field from the `Node`'s status to check if a pod requiring a volume is assignable to a certain node (here an example for a cluster running on Azure):

[2020-11-17 11:50] whites11 commented on #96633
/sig storage

[2020-11-17 12:37] praaxe commented on #48361
If anyone still has this issue like me I found a solution, I think it's an issue with the parsing of the file ...
I transformed
[code]
By
[code]
Don't know why but it works

[2020-11-17 12:38] praaxe commented on #64103
If anyone still has this issue like me I found a solution, I think it's an issue with the parsing of the file ...
I transformed
[code]
By
[code]
Don't know why but it works

[2020-11-17 12:40] gautierdelorme commented on #96577
Yeah, this test is actually expected to fail on pre-1.20 server versions. I would recommend to run test from the branch matching the server version.

[2020-11-17 12:54] cseifert-betterdoc commented on #89898
We have replaced the `httpGet` with an `exec` doing basically the same thing, which so far works without any problems.

[code]

[2020-11-17 13:06] sobngwi opened #96634 "Missing resource object on pod spec inside a deployment , block the creation of deployment without explicit error."
**What happened**:
I defined a resource quota in the default namespace.
eg
Name:            rq-demo
Namespace:       default
Resource         Used   Hard
--------         ----   ----
pods             6      100
requests.cpu     1130m  2
requests.memory  340m   500m

Next, i create a deployment ( nginx image) with 3 replicas in the default namespace:
NAME   READY   UP-TO-DATE   AVAILABLE   AGE
dep

[2020-11-17 13:19] sftim commented on #88253
@tallclair could you summarize the challenges you see about that? (when I saw the issue summary, field selectors were my first thought)

[2020-11-17 13:31] mborsz commented on #96038
One more failure:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1328563866136743936

It failed with:

[code]

[2020-11-17 13:32] mborsz commented on #96038
/cc @wojtek-t

[2020-11-17 13:41] mborsz commented on #96038
[code]

[2020-11-17 13:48] mborsz commented on #96038
Logs for small-deployment-167-56c965c4cf-9pw8k

[code]

[2020-11-17 13:51] liggitt commented on #96430
/triage accepted

[2020-11-17 13:52] mborsz commented on #96038
Kubelet has been restarted between 8:13:05 and 08:15:40:

[code]

After the restart kubelet has never managed to remove that pod: https://gist.github.com/mborsz/c4cf5804e59e875df37e437d2b797ade

Full logs: http://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1328563866136743936/artifacts/gce-scale-cluster-minion-group-bddx/kubelet.log

[2020-11-17 13:53] mborsz commented on #96038
Looks like some kubelet bug triggered by kubelet restart (it would be still good to understand why)

[2020-11-17 13:57] liggitt commented on #96430
I'm not sure off the top of my head... @deads2k might have some advice

[2020-11-17 14:05] mborsz commented on #96038
kubelet's restart was caused by VM restart. From serial console logs for
gce-scale-cluster-minion-group-bddx
[code]

[2020-11-17 14:20] mborsz opened #96635 "kubelet is not able to delete pod with mounted secret/configmap after restart"
From https://github.com/kubernetes/kubernetes/issues/96038#issuecomment-728928671

**What happened**:
In https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1328563866136743936 one of the nodes (gce-scale-cluster-minion-group-bddx) restarted for some reason (some kernel panic).

The last kubelet log entry is at 08:13:05.362859 and the first one after restar

[2020-11-17 14:21] mborsz commented on #96038
I created https://github.com/kubernetes/kubernetes/issues/96635 for the kubelet bug. For now I'm going to assume that this issue is not scale related.

[2020-11-17 14:25] mborsz commented on #96635
It looks like kubelet is continuously trying to mount secret that has been deleted in the meantime:

[code]

Is it possible to delete configmap or secret that is still mounted somewhere?

[2020-11-17 14:31] alculquicondor commented on #96478
#94009

Worth discussing what we can do in the next release.

[2020-11-17 14:40] chenyw1990 commented on #96635
mark

[2020-11-17 14:41] alculquicondor commented on #96436
I'm still awaiting for an answer to https://github.com/kubernetes/kubernetes/issues/96436#issuecomment-725056542

[2020-11-17 14:41] mborsz commented on #96635
The secret and configmap have been deleted at 08:13:17.372114 and 08:13:17.407192:
[code]

The pod has been deleted at 08:13:17.496033:
[code]

So the secret and configmap have been deleted **before** pod. This seems to be incorrect.

So most likely the question is: Should we support pod deletion after mounted secret/configmap has been deleted?

I don't have that much kubelet context, but I think

[2020-11-17 14:43] wojtek-t commented on #96038
re AIs you mentioned in https://github.com/kubernetes/kubernetes/issues/96038#issuecomment-728782006

Yes - the issue is opened for this: https://github.com/kubernetes/kubernetes/issues/95875

+100 - let's do that (can we e.g. generate sleep times in some predefined order and way)
  (e.g. hash the step number and bundle number etc. and generate sleep time based on that? or sth like that)?

[2020-11-17 14:55] sofiastockholmcode commented on #92653
need this as well

[2020-11-17 15:05] mborsz commented on #96038
In fact configmaps and secrets have been deleted before pod:

[code]

While the kubelet should support deleting pod with already deleted configmap (this is what the #96635 should focus on), we shouldn't be deleting configmaps and secrets before pod is being deleted.

Moreover, in our test config, we do not delete pod directly, we delete deployments and then we delete configmaps/secrets:
https://gi

[2020-11-17 15:05] fblanke commented on #92653
Would love this annotation too!

[2020-11-17 15:08] mborsz commented on #96038
https://github.com/kubernetes/perf-tests/issues/1575

[2020-11-17 15:22] Xtigyro commented on #40651
/remove-lifecycle stale

[2020-11-17 15:33] adelina-t opened #96639 "Towards a definition of Windows Conformance"
As Kubernetes on Windows continues to grow, there is a growing need to be able to define Conformance for clusters containing Windows Nodes.

### Current conformance definition & process

Details: https://github.com/cncf/k8s-conformance

The current process to have a certified **conformant** distribution:

- https://github.com/cncf/k8s-conformance/blob/master/instructions.md
- Summary: tests are ru

[2020-11-17 15:38] israelbgf commented on #2630
Is this still an issue? I've done some tests (Minikube 1.14, 1.15, 1.19 and EKS 1.14) and the permissions on the `emptyDir` volume is 777 as intended:

[code]

![image](https://user-images.githubusercontent.com/771129/99406823-2212db80-28cd-11eb-83c9-22e4e6d4d48c.png)

[2020-11-17 16:14] lewisdiamond commented on #93900
Could you elaborate on why PodPresets were never promoted to beta and why you want to remove them now? It seems like a useful feature.

[2020-11-17 16:21] neolit123 commented on #96625
hi, please log a ticket in the Calico issue tracker.
if the Calico maintainers think this is a bug in core k8s, please open a new issue here with the feedback from them and reproduction steps.

thanks

/kind support
/close

[2020-11-17 16:21] #96625 closed

[2020-11-17 16:21] neolit123 commented on #96634
/sig apps

[2020-11-17 16:22] neolit123 commented on #96639
/area test
/sig windows

[2020-11-17 16:23] joeburke30 opened #96641 "Deamonset pods.status = "Ready" even though a node is off line"
**What happened**:
Pods show "Ready" but node is NotReady / offline

**What you expected to happen**:
The pods assigned to the "NotReady" node should should not listed as Ready

**How to reproduce it (as minimally and precisely as possible)**:
see above.
1. 3 node kubernetes (1.18.3) cluster in a VMWare environment.
2. Running 4 Daemonsets.
3. Pods deployed and running as expected with Ready state

[2020-11-17 16:34] joeburke30 commented on #96641
/sig node
/sig pod

[2020-11-17 16:47] rexrod commented on #83471
I did as @paol said, i restarted the kubelet service int the node:
`systemctl restart kubelet`
Then I deleted the stuck pod and it worked!

[2020-11-17 16:48] bboreham opened #96642 "generateEvent timestamp is ignored"
`timestamp` is defined here but never used. https://github.com/kubernetes/kubernetes/blob/62321af7ab1c8abb44f5d99e7af560b22bd0a7c6/staging/src/k8s.io/client-go/tools/record/event.go#L326

As this is an unexported method it doesn't affect anyone, just a small point of confusion for the reader.

/sig api-machinery
/kind bug

[2020-11-17 17:29] arjunrn commented on #95861
@DemonsLu Actually the scale up and scale down thresholds are different. There is a tolerance of _0.1_ which is used while scaling up or down which is configurable through the flag [--horizontal-pod-autoscaler-tolerance](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/) of the `kube-controller-manager`. So technically the HPA will only scale up the target

[2020-11-17 17:30] damemi commented on #87526
/remove-lifecycle stale

[2020-11-17 17:40] arjunrn commented on #96242
@scr-oath As I see it there are 2 issues here:
1. Time drift caused by sequential execution.
2. Independent evaluation of each metric source.

With regards to 1 I suppose increasing the worker count should alleviate the problem. Maybe even making it configurable for larger clusters like yours.
However 2 is not possible because the HPA always make a scaling proposal based on the highest value from

[2020-11-17 17:43] deads2k commented on #96430
We added etags to open-api, what if we did similar to discovery to inform the caching?  Do etags allow us arbitrarily set a different etag even when content has not changed?  If we could do that, then we could have a discovery rule that says etags are updated whenever a "lower" discovery doc changes.  So a version discovery change (adding a resource) would ripple out to update etags for the group,

[2020-11-17 17:49] scr-oath commented on #96242
I don't recall describing 2 in quite the same terms as you - I was saying more that each HPA should make its call outs independent from each other - sure you could also parallelize all of its metrics, but as you point out, would need to join/wait for them all to return; I'm more concerned with isolating the work of each HPA from each other, or at least as you've also suggested adding more workers

[2020-11-17 17:51] arjunrn commented on #92515
/remove-lifecycle rotten

[2020-11-17 17:51] arjunrn commented on #92515
/assign @arjunrn

[2020-11-17 17:52] RobertKielty commented on #96577
OK so as far as I can tell from the job configuration in test-infra this should be running against the master branch (I could be wrong on that will return back with evidence either way )

@kubernetes/sig-testing do we have a way of selecting / deselecting conformance (or any) tests for inclusion on a run based on the k8s git ref that a CI job is running against?

[2020-11-17 17:55] liggitt commented on #96577
from the log of a [failed run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts/1328674596487958528):

[code]

that indicates it is running tests against a 1.19.x cluster

[2020-11-17 17:56] arjunrn commented on #89315
/remove-lifecycle rotten
/assign @arjunrn

[2020-11-17 17:58] arjunrn commented on #96242
I guess you meant "Other HPAs not using custom/external metrics should not be impacted..."

[2020-11-17 18:11] richardwxn commented on #96351
here is a output of a bad service resource: [bad-service.txt](https://github.com/kubernetes/kubernetes/files/5555365/bad-service.txt)

[2020-11-17 18:19] scr-oath commented on #96242
ohhhh… thanks clarifying for the semantic typo - you got it! other HPAs

[2020-11-17 18:37] sobngwi opened #96645 "edit quota silent fail."
**What happened**:
- I create a resource quota successfully
- I test a pod creation to figure out the resource quota limitation : OK
- i run the command : kubectl edit quota my-res-quota    NotOK ( for updated any value eg hard.pods , or hard.requests.cpu ). The command successfully ended with the message : resourcequota/bug-on-edit-quota-updated edited .
However the kubectl describe quota quota s

[2020-11-17 18:38] sobngwi commented on #96645
/sig apps

[2020-11-17 18:42] bjethwan commented on #71162
I'm in the exact same situation.
Can someone from the project maintainers group, please comment on the roadmap or future direction or a possible fix?

[2020-11-17 18:46] Huang-Wei commented on #96579
@chenyw1990 Thanks for the explanation. Would you mind summarizing it as a comment in your PR?

[2020-11-17 18:49] stevekuznetsov commented on #96577
@RobertKielty how does this job select the version of e2e tests it's running in the first place? And how does it select the cluster version to run those tests against? I don't see that obviously in the job config:

[code]

[2020-11-17 19:02] lavalamp opened #96647 "Verify/enforce user/group invariant"
While moving APF to beta (see comments on https://github.com/kubernetes/kubernetes/pull/96527), we discovered that the integration tests commonly present users which are not members of any groups. We had thought that the system enforced membership in either the authenticated or unauthenticated group.

If this is supposed to be a system invariant (as we thought), we'd like to ask SIG Auth:
* Please

[2020-11-17 19:11] kfox1111 commented on #88622
This issue has plagued me for a very long time now.

[2020-11-17 19:17] lavalamp opened #96648 "Test APF beta with enablement combos"
I think we know the most common combos work, but we should verify that apiserver either does something reasonable or refuses to start with a polite error message in the following flag combinations:

| | enablement flag | feature gate | beta api group | alpha api group |
|---|---|---|---|---|
| [ ] | on | on | on | on |
| [ ] | on | on | on | off |
| [ ] | on | on | off | on |
| [ ] | on | on | off

[2020-11-17 19:17] lavalamp commented on #96648
/sig api-machinery

[2020-11-17 19:19] MikeSpreitzer commented on #96647
Can I suggest also, if this is a real invariant, that it be documented in some place(s) likely to be read?

[2020-11-17 19:22] liggitt commented on #96624
/remove-sig api-machinery
/sig node auth

[2020-11-17 19:22] adtac commented on #96648
wouldn't it be 3^4 combinations? one could leave out some flags from the command line entirely, but I suppose that scenario would be covered by the row in the table corresponding to the default value

[2020-11-17 19:23] liggitt commented on #96635
Yes, the kubelet should not block cleanup of the pod on unavailability of secret/configmap resources

/sig storage

[2020-11-17 19:23] MikeSpreitzer commented on #94907
We will be able to handle recursive requests better after #94942 merges.

[2020-11-17 19:32] liggitt opened #96649 "[Flaky test] TestStartingResourceVersion"
**Which jobs are flaking**:

pull-kubernetes-bazel-test

**Which test(s) are flaking**:

`TestStartingResourceVersion`

**Reason for failure**:

[code]

**Anything else we need to know**:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestStartingResourceVersion
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92743/pull-kubernetes-bazel-test/1328727115385

[2020-11-17 19:33] liggitt commented on #96649
/sig api-machinery
/triage accepted

[2020-11-17 19:34] VladoPortos commented on #50375
This feature was requested in 2017, its almost end of 2020 ant this is still nowhere to be seen. Is the counter tight to something very important, that we can't have this ?

[2020-11-17 19:39] kwiesmueller commented on #96351
One note ahead that might not be directly related.
I don't think you can always rely on the feature being enabled just because the Kubernetes version is >1.16.
https://github.com/istio/istio/blob/release-1.8/operator/pkg/helmreconciler/apply.go#L94

I've looked through your apply code and I can't really see anything wrong at first sight.
Right now I don't have access to a fresh cluster to try it o

[2020-11-17 19:47] #89271 closed

[2020-11-17 19:52] liggitt opened #96650 "Add migration of ownerReferences to deprecated/no-longer-served Kubernetes API versions"
**What would you like to be added**:

Migrate ownerReferences that refer to deprecated/no-longer-served Kubernetes API versions to current apiVersions

**Why is this needed**:

Objects can be created with ownerReferences pointing at apiVersion/kind combinations which are no longer served and/or have moved API groups. Once those apiVersions are no longer accessible, the live lookups done by the gar

[2020-11-17 19:55] Huang-Wei opened #96651 "[scheduler_perf] Transient API error aborts the scheduler perf test"
In recent testings using [scheduler_perf](https://github.com/kubernetes/kubernetes/tree/master/test/integration/scheduler_perf), I encountered the following error which aborts the entire test suite:

[code]

The source comes from API machinery code:

https://github.com/kubernetes/kubernetes/blob/6dddea5abfa20a22e93114d66735441f04f4a39c/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go#L314-

[2020-11-17 20:12] wojtek-t commented on #96649
OK - I can quite reliably reproduce this problem by adding
`time.Sleep`
before this line:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L1394

This seems to be a test issue (watch being closed as a result of not being able to process stuff on time).
I will think how fix the test and make it not suffer from heavy cpu starvation.

[2020-11-17 20:14] #65200 closed

[2020-11-17 20:15] kinghrothgar commented on #95258
From searching around I believe that GKE uses docker by default. I know when I log into a node I use docker to interact with the pods running on the node, so I assume that means I'm using dockershim.

I believe the issue is that GKE is using netd as it's CNI which I assume is blocked by this issue that has seen no movement https://github.com/containernetworking/plugins/issues/123. Thus the fix / c

[2020-11-17 20:22] liggitt commented on #96650
/triage accepted

[2020-11-17 20:27] kinghrothgar commented on #95258
More details that might be helpful:
[code]

And I varified that this is the configmap that is live in my cluster configuring netd: https://github.com/GoogleCloudPlatform/netd/blob/master/netd.yaml#L67

[2020-11-17 20:38] caseydavenport commented on #96166
@YuraHrunyk how did you create this cluster?

It looks like the sig-network testgrid has both of those tests as green.

Could you also please share the error message returned from the test? i.e., which assertion is failing?

[2020-11-17 20:40] jsturtevant commented on #93945
/remove-lifecycle stale

[2020-11-17 20:55] AnishShah commented on #95258
@kinghrothgar This is definitely an issue with portmap CNI plugin. GKE CNI is chained with portmap CNI to create those DNAT iptable rules to forward packet from hostport to the container. Unfortunately, portmap is not flushing conntrack entries when the container is deleted.

[2020-11-17 21:08] RobertKielty commented on #96577
@stevekuznetsov These are the questions that I'm asking.

This is the first time I've looked at this job configuration.

From Jordan's comment it's clearly not pulling from master.

So I'm not sure why the job is present on the release informing dashboard.

I'll look at this in more detail tomorrow. Late where I am now.

[2020-11-17 21:15] thejoycekung commented on #96577
I think it may be in this script? https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/master/hack/ci/e2e-conformance.sh#L27

[According to the docs](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/master/docs/conformance.md) that script is how to run Conformance tests

[2020-11-17 21:17] kevitan commented on #75065
also getting this in AWS EKS. I think the Docker machine is totally swamped and unable to manage all the pods correctly, and then this happens.

[2020-11-17 21:20] leilajal commented on #96321
/triage accepted

[2020-11-17 21:20] liggitt commented on #65200
Fixed in 1.20 by https://github.com/kubernetes/kubernetes/pull/92743

[2020-11-17 21:21] leilajal commented on #96543
/triage accepted

[2020-11-17 21:24] leilajal commented on #96577
/assign @roycaihw

[2020-11-17 21:25] thejoycekung commented on #96577
It was recently updated to use the `1.19` version marker instead of `latest` - https://github.com/kubernetes-sigs/cluster-api-provider-gcp/commit/52bea00a992e5c6b630913b05fee254b9ef597ce

pr where this happened - https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/324 from the slack discussion linked it looks like it was using `1.17` .....? before

[2020-11-17 21:25] leilajal commented on #96585
/assign @sttts

[2020-11-17 21:25] leilajal commented on #96587
cc @logicalhan

[2020-11-17 21:26] leilajal commented on #96587
cc @lavalamp

[2020-11-17 21:27] AnishShah commented on #95258
We will need a similar fix like kubernetes/kubernetes#59286 but for portmap plugin. But I'm not sure if that's the correct way to fix it.  I have commented on containernetworking/plugins#123 to start the discussion.

[2020-11-17 21:27] leilajal commented on #96621
cc @logicalhan

[2020-11-17 21:27] leilajal commented on #96621
/sig instrumentation

[2020-11-17 21:28] leilajal commented on #96642
/triage accepted

[2020-11-17 21:29] leilajal commented on #96648
/triage accepted

[2020-11-17 21:42] BenTheElder commented on #96577
@amwat @cheftako
I think this repo is intended to track the most recent stable branch going forward and probably shouldn't be in this dashboard, but looking for confirmation

[2020-11-17 21:47] roycaihw commented on #96577
/unassign

[2020-11-17 21:52] Huang-Wei commented on #96651
/assign

[2020-11-17 21:52] lavalamp commented on #96587
Personally I think the way to go is with an adaptive theshold, so that it always logs about the same number of things.

E.g., we could have the trace mechanism keep a rolling 99.5 %ile threshold, and trace all that are slower than that.

Using an env var has the problem that if you set it wrong, you have to restart apiserver to change it, which may make the thing you're trying to debug go away.

[2020-11-17 21:52] sftim commented on #92636
/remove-lifecycle rotten

[2020-11-17 21:55] stepanselyuk commented on #36222
I was able to fix this behavior by:

1) Don't use tabs, convert to spaces
2) To remove spaces before a newline character, use this:
[code]
It seems also will convert CRLF to LF only.

[2020-11-17 22:05] stevekuznetsov commented on #96577
What I can tell is that the script is downloading the conformance tests itself, even though the job configuration explicitly passes in the `master` branch of `kubernetes/kubernetes` - I can't speak to this job specifically but seems like there's a lot of confusion as to where and how the different sources of truth are pieced together, I'd suggest making the scripts either download or accept a pre-

[2020-11-17 22:16] lavalamp commented on #96648
I don't think we need to be 100% exhaustive unless it's really easy.

[2020-11-17 22:41] 2rs2ts commented on #85764
This is still very much a problem. Any chance this can get reopened? Otherwise I will probably make a duplicate.

[2020-11-17 22:42] ag3man opened #96654 "kubeadm.exe join --node-name is ignored"
**What happened**:
running kubeadm.exe join --node-name ip-10-xxx-65-130.ec2.internal is ignored during bootstrapping of a Windows node in AWS.

While using the aws-cloud-controller-manager this node is then rejected from joining the cluster because it is looking for the EC2 hostname rather then the AWS Private DNS name.

You can see in the logs below that **ec2amaz-1atkhmi** is an existing instan

[2020-11-17 23:42] MikeSpreitzer commented on #96459
I tried to reproduce the problem using Ubuntu 18.0.4.5 and Kubernetes 1.19.4, but the problem did not strike.

In the guest:
[code]

[2020-11-17 23:47] kwiesmueller commented on #96351
From the discussion on Slack it looks like there is a GKE specific Webhook that removes the managedFields/corrupts them.
This could be to an old client-go version in the mutating Webhook.

We should address the fact, that people can have their objects broken by mutating webhooks, even on apply.

[2020-11-18 00:21] BenTheElder commented on #96639
/sig architecture
/sig testing
/area conformance

The #k8s-conformance group is almost certainly the right place to discuss this, that team owns the conformance program from the kubernetes side, sponsored by SIG arch with input from testing.

AIUi NodeConformance is currently just a set of tests SIG node expects to pass and is not under the conformance program etc.
I think node intended for it to

[2020-11-18 01:07] BenTheElder commented on #89554
SIG testing does not use this image (we prefer not to run the test runner as a pod given our clusters may be unreliable since we're testing changes and we want to avoid e.g. the pod being evicted => data loss), however this is currently used by the CNCF conformance program (which is CNCF / SIG arch) and sonobuoy (which is a vmware project).

A bunch of our images are shipping with buildkit / build

[2020-11-18 01:17] richardwxn commented on #96351
The webhook is neg-annotation.config.common-webhooks.networking.gke.io, seems like it is fixed in k8s 1.18

[2020-11-18 01:32] BenTheElder commented on #88832
/reopen
/remove-lifecycle rotten

[2020-11-18 01:33] BenTheElder commented on #88832
At the very least we should probably leave a more obvious trail to find them. That might be less effort but still _somewhat_ helpful.

I still think we want them versioned with the binaries for other reasons though.

[2020-11-18 01:40] JacobHenner commented on #45419
@mak-454 I also encountered this issue on EKS today - would you mind sharing the region/AZ where your node was running, along with the duration of the issue? I'm curious to see if there might have been some underlying infra issue.

[2020-11-18 02:12] chendave commented on #89554
/cc  @zhlhahaha

[2020-11-18 03:32] krmayankk commented on #87615
Is this issue specific to 1.17.X versions of kubernetes ?

[2020-11-18 04:29] BenTheElder commented on #94547
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/96640/pull-kubernetes-bazel-test/1328904780793253888

not sure this is actually fixed, I see a failure from today

[2020-11-18 06:08] #95905 closed

[2020-11-18 06:18] chendave opened #96658 "[integration test] PVC should create before the PV if it's referenced by PV"
**What happened**:
Run integration test `BenchmarkPerfScheduling`, for the case which needs PV or PVC,  got the error which info us that PVC is not found,

[code]

Furtherly, this will lead a inconsistent PV / PVC status, and fail the whole testcase.

**What you expected to happen**:
Run successfully.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we nee

[2020-11-18 06:18] chendave commented on #96658
/assign

[2020-11-18 06:30] lingsamuel commented on #96430
Maybe related: #44957

[2020-11-18 06:43] DemonsLu commented on #95861
@arjunrn Thank you so much~ It seems a better way to sovle my problem. I'm looking forward to every hpa can configurable through this target.

[2020-11-18 06:46] sbueringer commented on #87615
@krmayankk Not entirely sure when it exactly started. But at least 1.17-1.19 have this problem. #95980 should fix it though (will be part of the next 1.20 release, hasn't made it into the beta yesterday)

[2020-11-18 07:13] RobertKielty commented on #96577
@stevekuznetsov, totally agree. You are spot on here, thanks for stating that explicitly.

This job's config says one thing (build off master and a passer-by would assume HEAD on master) and then goes off and uses, as @BenTheElder and @thejoycekung point out (TY both) the last stable release off of master. At the very least some description/naming convention at the job level (or even a HBD comment

[2020-11-18 07:15] saad-ali commented on #85330
Relevant code for anyone interested in helping debug this:

https://github.com/kubernetes/kubernetes/blob/36d12390a724c59f44787968deca18de92f9181c/pkg/kubelet/kubelet_pods.go#L152-L153

Either `podVolumes` map did not contain any entry matching `mount.Name` or it did, but `vol.Mounter` was nil. The error message doesn't say which.

May be worth expanding the error message with more information to

[2020-11-18 07:18] saad-ali commented on #85330
/sig storage

[2020-11-18 07:22] invidian commented on #84298
/remove-lifecycle stale

[2020-11-18 07:29] BenTheElder commented on #92162
/remove-lifecycle rotten

[2020-11-18 07:37] wojtek-t commented on #96649
Opened fix in https://github.com/kubernetes/kubernetes/pull/96662

[2020-11-18 07:38] aqualovers opened #96663 "Exec command via API is no longer supported?"
As I remember, there was a API operation corresponding to `kubectl exec`,

seems like `POST /api/v1/namespaces/{namespace}/pods/{name}/exec`.

But in current API Reference Doc, I cannot find contents about that.

I checked `kubectl exec` command still works fine, but how about API?

That feature has removed in recent versions of kubernetes?

[2020-11-18 07:52] krmayankk commented on #96663
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#exec i see this, i dont see anything documented here https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/ . But for sure exec is not being removed from the API.

/sig docs might have some info

[2020-11-18 07:58] krmayankk commented on #96641
@joeburke30 how long did you wait ? There is an eviction period , after which the pod on the not ready node will get evicted

[2020-11-18 08:02] aqualovers commented on #96663
/sig docs

[2020-11-18 08:12] gs11 commented on #87615
@krmayankk We saw this issue with v1.18.9 as well but it was triggered by a buggy version of Rancher that caused very high network usage. After rolling back to another version no issues observed.

[2020-11-18 08:12] astefanutti commented on #77603
I also face this issue on OpenShift 4, that uses CRI-O as container runtime.

@aermakov-zalando, would you mind updating the title and remove the "_when using Docker_" part, so that it's clear it happens also for other runtimes?

[2020-11-18 08:14] Mriesewijk2 opened #96664 "Allow the configuration of the interval of container runtime healthcheck"
**What would you like to be added**:

Currently the interval between health checks from the kubelet to the container runtime seems to be hardcoded here:
https://github.com/kubernetes/kubernetes/blob/147a120948482e49f93e7d8896f8e32b0418c2d8/pkg/kubelet/kubelet.go#L124-L125
And used for a healthcheck here:
https://github.com/kubernetes/kubernetes/blob/147a120948482e49f93e7d8896f8e32b0418c2d8/pkg/kub

[2020-11-18 08:15] Mriesewijk2 commented on #96664
/sig node

[2020-11-18 08:21] pacoxu commented on #96567
If you use journald as log driver in docker, a pod with lots of logs may result in log lost of other pods in the same host.

JSON-file would be a better choice.
json-file size and max files can be defined.

It is not a good practise to save all logs in the host, so it's better to do the log limit in the log collector like fluentd.

-  from host perspective, it keeps pod logs with a limitation of s

[2020-11-18 08:54] adeleglise commented on #87491
/remove-lifecycle rotten

[2020-11-18 09:04] BenTheElder commented on #91657
https://github.com/kubernetes-sigs/kind/pull/1932 (note: most of upstream CI testing kubernetes with kind is using bazel builds which do not have this)

[2020-11-18 09:16] bamboox opened #96667 "livenessProbe failed cannot rebuild conainer"
**What happened**:
    livenessProbe:
      exec:
        command:
        - /bin/calico-node
        - -felix-live
        - -bird-live
      failureThreshold: 6
      initialDelaySeconds: 10
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 1

docker pause calico-node-xxx

**What you expected to happen**:

container rebuild

**How to reproduce it (as minimally and precisely

[2020-11-18 09:34] b10s commented on #95488
@odinuge I've tried two scenarios:
- run privileged pod with systemd on board;
- run container on the same host via docker;

Unfortunately was not able to reproduce.

Maybe there is some other way to escape the mount namespace and be able to make mount on the host machine like

`/sys/fs/cgroup/systemd/kubepods/burstable/pod7ffde41a-fa85-4b01-8023-69a4e4b50c55/8842def241fac72cb34fdce90297b632f09828

[2020-11-18 09:44] #96585 closed

[2020-11-18 09:44] pacoxu commented on #96624
@bjrara try to fix it in #96668

When AlwaysPullImages is disabled, you cannot update imagePullPolicy of pod. The error message is the same as yours. imagePullPolicy is immutable.

When AlwaysPullImages is enabled, old pod(with imagePullPolicy=ifNotPresent) update will change imagePullPolicy as well.

Workaround: recreated pod -_-

[2020-11-18 10:09] bjrara commented on #96624
@pacoxu Thanks for the fixes. I still have questions regarding the PR.
Why don't we just ignore Update in the admission, but choose update spec instead?

[2020-11-18 10:26] Chanpreet08 commented on #93818
K8 gives SIGTERM signal if it wants to terminate the pod, but in case of OOM, it passes SIGKILL to the pod which instantly kills the main process and finally terminates the pod without waiting for the prestop to execute.  So in case of OOM, the prestop won;t execute.

Please follow the raised issue https://github.com/kubernetes/kubernetes/issues/40157

[2020-11-18 10:30] pacoxu commented on #96624
This is another fix option. I'm not sure which is better.
The pod will be still ifNotPresent after updating,  even if the AlwaysPullImages is enabled.

Which is expected behavior?

[2020-11-18 10:35] bjrara commented on #96624
@pacoxu In my case, I would expect the admission not to touch existing Pods. Just want to make sure if there's any concerns.

[2020-11-18 10:40] ark-g opened #96670 "Pod with hostNetwork:true reporting podIP from overlay network"
**What happened**:
Observing a strange issue in k8s: the pod running in host network namespace getting pod IP address from _vxlan.calico_ interface instead of main _bond0_ host interface.
The _vxlan.calico_ interface from host:
[code]
The main host network interface _bond0_ from host:
[code]
The pod status:
[code]
**What you expected to happen**:
We are expecting that pods declared as **hostNetwor

[2020-11-18 10:48] RobertKielty commented on #91739
@ramineni has let me know on the thread above there is a PR opened on OpenLab that might fix this issue

[2020-11-18 10:57] DmitrySemchenok opened #96671 "Incorrect behavior on scaling up when using behaviors config on HPA"
When configuring new behaviors section in HPA I faced two scenarios that I think are incorrect.
First one:
stabilizationWindowSeconds set up to 5 minutes for both scale up and scale down
min replica count 2
Application consumes big amount of resources during warm-up
0 minute: current replica count: 2
1 minute: desired replica count: 3 - no scale up stabilization window worked
2 minute: desired rep

[2020-11-18 11:00] arjunrn commented on #96671
/sig autoscaling

[2020-11-18 11:26] jsafrane opened #96672 "Cinder volume attachment detection failure in Kubelet"
**What happened**:
OpenStack Train with StorageClass kubernetes.io/cinder the volume attachment succeeds to the node but the kubelet fails to find the attached volume.

When a pod attempts to use the volume it becomes stuck in state `"ContainerCreating"`. Investigation in OpenStack shows the volume is attached to the node. Further, we confirmed the volume is attached to the node, appears as `/dev/

[2020-11-18 11:26] jsafrane commented on #96672
/sig storage
/assign

[2020-11-18 11:40] mak-454 commented on #45419
@JacobHenner my nodes were running in eu-central-1 region.

[2020-11-18 12:03] #92245 closed

[2020-11-18 12:10] pacoxu opened #96674 "--volume-stats-agg-period=0 cannot disable volume agg feature."
**What happened**:
After set --volume-stats-agg-period=0 in kubelet args, the kubelet logs still shows
[code]

**What you expected to happen**:
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

it should be disabled

**How to reproduce it (as minimally and precisely as possible)**:
add --volume-stats-agg-period=0 to your kubulet config
change du to a bin which will sleep

[2020-11-18 12:11] pacoxu commented on #96674
/sig node

[2020-11-18 12:50] trondhindenes opened #96676 "kubectl wait "pod" --for=delete errors out if no matching resources are found"
**What happened**:
given an empty namespace (no pods), if running:
`kubectl wait "pod" --selector app.kubernetes.io/name=myapp --for=delete --timeout=500s`, kubectl errors with the message `error: no matching resources found`.

**What you expected to happen**:
kubectl should exit with status 0, since the condition to wait for is for all pods to be deleted, and that condition is already satisfied.

[2020-11-18 12:59] raffaelespazzoli commented on #96567
@pacoxu I think you are agreeing with me. If it wasn't clear, I was talking about a scenario with json logs and a collector agent such as fluentd. As you noted, in that scenario as logs increase in volume the only answer we have today is a bigger pipe. But that is a bad solution because logs can spike suddenly, while it takes time and preparation to build larger log pipes. So, there must be a back

[2020-11-18 13:06] odinuge commented on #95488
Hey! Did some testing again and found some things;

If i run:

[code]

I do actually end up with these mounts, and I guess it is possible to do the same in kubernetes as well (with some combination of cri and pod config):

[code]
I guess it isn't smart to do this, but it certainly looks like it is possible..

Also, if the node with the problem you are reffering to are still running, it would be ni

[2020-11-18 13:10] gnufied opened #96678 "Use force unmount for nfs if regular unmount fails"
This is a long standing issue and we  did not manage to come to a conclusion before -  https://github.com/kubernetes/kubernetes/pull/72049/files

But previously the problem was changes to umount code was affecting all volume drivers and not just NFS but I think a localized fix to just NFS intree driver is reasonable which uses regular umount first and if that fails it uses force unmount.

Somethin

[2020-11-18 13:11] gnufied commented on #96678
/triage accepted

[2020-11-18 13:16] gnufied commented on #96678
/assign

[2020-11-18 13:36] liggitt commented on #96624
I would recommend ignoring pod updates in AlwaysPullImages *if* the update does not change the set of image names referenced by containers in the pod.

[2020-11-18 14:39] andrewsykim commented on #92019
/remove-lifecycle rotten

Going to address this in https://github.com/kubernetes/kubernetes/pull/96371

[2020-11-18 14:46] pacoxu commented on #96624
Agree.  @liggitt

[2020-11-18 15:16] pacoxu commented on #96624
https://github.com/kubernetes/kubernetes/pull/96668 is updated .

[2020-11-18 15:17] joeburke30 commented on #96641
I should have added that to the original ticket...  This is seen consistently.  I waited several hours on one test and a day+ on a second test.

Where can I find the evicted time configuration?

[2020-11-18 15:29] gavinfish commented on #89930
Thanks for @ingvagabund's great work!

And for this issue, @damemi I have some new question, when we change our dependencies from apis/core/helper to component-helpers, should we make the helper methods shared with other components, or we should just keep in scheduling?

[2020-11-18 15:48] damemi commented on #89930
@gavinfish we don't want to duplicate code, so if something is moving to the external repo it should move for all users

[2020-11-18 15:49] harishp8889 commented on #96505
Hello, I am also facing this problem in one of our CSI driver due to the labels not getting removed after driver removal, Due to this scheduling is happening in the wrong nodes(Topology keys) currently we are managing by removing the node labels manually.

[2020-11-18 15:58] RobertKielty commented on #96565
This test also failed recently here on

https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd&sort-by-flakiness

See
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1329006532758605824

[2020-11-18 16:07] #88651 closed

[2020-11-18 16:13] b10s commented on #95488
@odinuge thank you!
That is amazing. I didn't know about propogation options such as "shared"

Yeah, the node is still running but seems there no such container anymore:
The `docker ps -a | grep 884` gives me nothing.

The searching on filesystem links it with systemd-nspawn:

[code]

Interesting, how `systemd-nspawn` and k8s may interact with each other?

[2020-11-18 16:17] sbueringer commented on #74415
I would like to implement this feature
/assign

I guess it makes sense to write a KEP first. I have a few questions, just to make sure I'm not thinking in the completely wrong direction.

Some assumptions:
* We're talking about providing multi-namespace variants of SharedInformer and SharedIndexInformer:
  * not regular Informers which are just (Store/Indexer, Controller) pairs
* This feature shou

[2020-11-18 16:24] adtac commented on #96651
/cc

[2020-11-18 17:08] #88535 closed

[2020-11-18 17:30] iMartyn commented on #40610
Another solid use-case is in a cluster-per-environment setup where a node label can be added (e.g. in gke or eks you could add a label `cluster-environment: staging` to all nodes in a cluster) and then that can be provided to workloads via the downward api to behave appropriately according to business logic.
This obviously doesn't fit with a `topology` structure, so I might propose that it is mayb

[2020-11-18 17:49] erismaster commented on #78904
Seeing that this issue has had little activity in 1.20 milestone, I am going to remove the milestone. If this issue will be addressed in 1.21 please add it to the 1.21 milestone.

/milestone clear

[2020-11-18 17:51] sayanchowdhury commented on #90902
/milestone clear

[2020-11-18 17:51] sayanchowdhury commented on #90902
/milestone v1.21

[2020-11-18 17:53] sayanchowdhury commented on #92963
Seeing that this issue has had little activity in 1.20 milestone, I am going to remove the milestone. If this issue will be addressed in 1.21, please add it to the 1.21 milestone.

/milestone clear

[2020-11-18 17:54] sayanchowdhury commented on #89267
/milestone clear

[2020-11-18 17:57] erismaster commented on #94626
@saschagrunert should this issue be milestoned to v1.23? Basing this off of https://github.com/kubernetes/enhancements/issues/135

[2020-11-18 17:59] erismaster commented on #80488
@gnufied @yuga711 I am going to remove the milestone v1.20 from this issue. Please milestone this issue to v1.21 if the issue will be resolved in the next release. Thanks!

/milestone clear

[2020-11-18 17:59] liggitt commented on #94626
next set of tasks expected to be done in 1.21

[2020-11-18 18:16] sayanchowdhury commented on #82295
Hi @tallclair Since we have crossed the code freeze for 1.20, and there are not many updates in the issues I'm dropping the milestone. Please add the 1.21 milestone if you think the issue will be addressed in the next milestone.
/milestone clear

[2020-11-18 18:20] nojvek opened #96682 "Please take versioning seriously. 1.16 broke extensions/v1beta configs without any serious warning."
**What happened**:
GCP upgraded one of the clusters from 1.15 to 1.16

**What you expected to happen**:
minor version upgrades are backwards compatible and don't break things.

If you have a breaking change, update the major version. semver is a thing https://semver.org/. We should be able to know when k8s is going to break us.

**How to reproduce it (as minimally and precisely as possible)**:
dep

[2020-11-18 18:21] Dean-Coakley commented on #93360
/remove-lifecycle stale

[2020-11-18 19:12] imriss commented on #45419
encountered this issue on EKS (ca-central-1) with Kubernetes version "1.15.12" and docker version "19.03.6-ce"

[2020-11-18 19:38] kwiesmueller opened #96688 "[Server-Side Apply] Prevent mutating admission controllers from corrupting managedFields"
This issue is meant as a space for discussing mutating webhooks regarding Server-Side Apply.

Primarily the problem recently reported in https://github.com/kubernetes/kubernetes/issues/96351.
As discovered in the issue it is possible for a mutating admission webhook to change the managedFields in a way that would break apply.

This can be "achieved" accidentally by running a webhook with an outdat

[2020-11-18 19:45] apelisse commented on #96688
I think one option that you possibly missed: Always reset managed fields after mutation, i.e. discard any changes made by mutation, what-so-ever.

[2020-11-18 19:46] imriss commented on #72759
Hi @eytan-avisror , is there any updates or resolution? Thanks

[2020-11-18 19:49] shaozi commented on #23864
By telnet server I meant console server, a server that listens on a range of ports and connect each port to a serial console of a physical or virtual device.

[2020-11-18 19:56] kwiesmueller commented on #96688
Added, might be a small step towards 4. as we "fix" or workaround the error until we can track mutations.

[2020-11-18 20:00] jlk commented on #23864
Nothing is a security hole, if you know what you're doing. Let's strive for secure and easy to use by default.

[2020-11-18 20:02] eytan-avisror commented on #72759
@imriss
We had this issue quite a while back, we've moved since to amazon-linux-2 and many issues went away, including this one.

[2020-11-18 20:18] trondhindenes commented on #96676
/sig cli

[2020-11-18 20:38] imriss commented on #72759
@eytan-avisror , thanks for the info.
I am facing the System OOM issue in a node. We are on EKS (1.15.2) and using official AMI for EKS (amazon-eks-node-1.15-v20201112).

[2020-11-18 20:45] #93757 closed

[2020-11-18 21:35] wilsonehusin commented on #96682
@nojvek we publish deprecations and removals on every minor release. [In 1.16 release notes](https://v1-16.docs.kubernetes.io/docs/setup/release/notes/#deprecations-and-removals), your specific issue was announced

[2020-11-18 21:46] nojvek commented on #96682
Yeah, but why not cut a major version if you're gonna make breaking changes?

One would assume 1.15 -> 1.16 is backwards compatible. Even cloud providers sometimes auto upgrade thinking this is harmless, but a breaking change is breaking change.

The ask is to increase major version when you make a backwards incompatible change.

[2020-11-18 21:58] wilsonehusin opened #96692 "Cleanup conformance image"
**What would you like to be modified**:
`k8s.gcr.io/conformance` image to be based on anything other than Docker Hub sourced `debian:stretch-slim`
https://github.com/kubernetes/kubernetes/blob/1c49b4425bf8c5b144e3ce7378b63351364ae8c6/cluster/images/conformance/Makefile#L34

**Why is this needed**:
With Docker Hub rate-limit policy in-place, we probably should consider removing this dependency to s

[2020-11-18 22:29] jrivers96 commented on #82987
I'm seeing this too on v1.15.12 EKS.

[2020-11-18 22:34] PeteE commented on #82987
@jrivers96 - We just had this issue on EKS 1.17 with docker version 19.03.13 (from amazon linux 2 repo).  Reverting back to docker 19.03.6 fixed it for us.  It has something to do with the unix sockets being leaded when `kubelet` uses to talk to `dockerd` to do `exec` probes.

[2020-11-18 22:58] jsturtevant commented on #77268
/reopen

[2020-11-19 00:00] erismaster commented on #92037
👋  Bug Triage here, we're pretty late into code freeze and there are no assignees, I am going to remove the 1.20 milestone.

/milestone clear

[2020-11-19 00:05] erismaster commented on #94791
👋  Bug Triage here, we're pretty late into code freeze and it doesn't look like there has been much activity recently. I am going to clear the milestone on this issue.

/milestone clear

[2020-11-19 00:07] erismaster commented on #59848
👋  Hi Bug Triage here, seeing that there hasn't been recent activity on this issue, I am going to remove the milestone target.

/milestone clear

[2020-11-19 00:09] erismaster commented on #94018
Hi @mkumatag, Bug Triage here. I see that https://github.com/openshift/release/pull/13460 was merged. Should this issue be closed/resolved? If not, I can bump it to milestone 1.21. Please let me know, thanks!

[2020-11-19 00:12] BenTheElder commented on #94018
openshift project mitigtations don't apply here.

[2020-11-19 00:15] erismaster commented on #58034
👋   Hi Bug Triage here, seeing that there is not much recent activity here, and we are pretty late into code freeze, I am going to remove the milestone label.

/milestone clear

[2020-11-19 00:21] erismaster commented on #72956
👋  Hi, Bug Triage here, we're pretty late into the code freeze for 1.20 - I am going to put this in the 1.21 milestone

/milestone v1.21

[2020-11-19 00:23] erismaster commented on #75564
👋  Hi, Bug Triage here. Since https://github.com/kubernetes/kubernetes/pull/96498 is still draft and we're pretty late into code freeze, I am going to retarget this one for 1.21. Thanks!

/milestone v1.21

[2020-11-19 00:30] erismaster commented on #95279
👋  Hi, Bug Triage here. We're pretty late into code freeze, so I'm going to bump this to 1.21

/milestone v1.21

[2020-11-19 00:34] erismaster commented on #94018
@BenTheElder thanks, didn't catch that the PR was in openshift, not Kubernetes. Going to bump to 1.21. Thanks!

/milestone v1.21

[2020-11-19 00:37] erismaster commented on #96589
👋  Hi, Bug Triage here. We're pretty late into code freeze for 1.20, going to bump this to 1.21. Thanks!

/milestone 1.21

[2020-11-19 00:38] erismaster commented on #96589
👋 Hi, Bug Triage here. We're pretty late into code freeze for 1.20, going to bump this to 1.21. Thanks!

/milestone v1.21

[2020-11-19 00:43] survivant opened #96697 "kubectl explain redirect to a 404 page"
**What happened**:
[code]

the URL (https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/) return a 404.

**What you expected to happen**:

I expect the link in the documentation to be valid

**How to reproduce it (as minimally and precisely as possible)**:

kubectl explain pod.spec.containers.resources.limits

**Anything else we need to know?**:

**Environment**:
[

[2020-11-19 01:02] wawa0210 commented on #96697
/assign

[2020-11-19 01:12] BenTheElder commented on #70131
@dims should we stop zero-ing out the buildid now?

[2020-11-19 01:22] neolit123 commented on #96589
@erismaster i left this one in 1.20 so that SIG Node can potentially triage it.
panics usually imply critical-urgent fixes.

[2020-11-19 01:28] jeremyje commented on #62046
@elweb9858 @daschott I still having issues running the unit tests in pkg/proxy/winkernel/... The instructions at are not helpful.

Building on Windows gives this,

[code]

Building on linux and running the test binary on Windows returns.

[code]

[2020-11-19 01:34] jeremyrickard commented on #96589
/milestone v1.20 so sig-node can triage.

[2020-11-19 01:37] lingsamuel commented on #96697
I can access this URL.

[2020-11-19 01:41] survivant commented on #96697
but the URL in the docs from kubectl explain is : https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
 not https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

there is "compute" as difference

[2020-11-19 01:44] wawa0210 commented on #96697
Their final addresses are the same and redirected

[2020-11-19 01:45] lingsamuel commented on #96697
That's why there is a redirection. But sure, it should be changed.

[2020-11-19 01:46] palnabarun commented on #96589
/milestone v1.20

[2020-11-19 01:48] survivant commented on #96697
wierd.  I was able to get it redirect 1-2 times now, but most of the time it's not.  probably a plugin in firefox that block the redirect
![image](https://user-images.githubusercontent.com/191879/99610208-60002480-29df-11eb-9115-5d44b61f93f3.png)

[2020-11-19 01:51] wawa0210 commented on #96697
/assign
I can try to fix this

[2020-11-19 01:53] liggitt commented on #96682
Individual APIs included in Kubernetes releases graduate independently, and the pre-GA versions are deprecated and removed as described in https://kubernetes.io/docs/reference/using-api/deprecation-policy/

The versions removed in 1.16 were deprecated 18-24 months earlier, and the removal timeframes highlighted in release notes for multiple releases as well.

Not that it helps for the 1.16 APIs, b

[2020-11-19 02:00] #96682 closed

[2020-11-19 02:01] lingsamuel commented on #96352
Is this issue solved? I suspect this can be closed.

[2020-11-19 02:27] lingsamuel commented on #96676
Seems like #90969 didn't fix it correctly:
https://github.com/kubernetes/kubernetes/blob/e64ebe01314b41fa68cff827a31ab133ec6963a4/staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go#L258-L260

#87747 #93365

[2020-11-19 03:03] agowa338 commented on #23864
Than you shouldn't use NAT44 (and stick to IPv6 only), as that only provides a false sense of security instead of secure and easy by default.
By now there are countless write ups of how to bypass NATs from the outside in to reach unintended destinations...
NAT is not, was not and most likely will not be a security boundary. In fact it was not even designed to be one. All it does it it makes your f

[2020-11-19 03:22] liggitt commented on #96651
cc @lavalamp

is this a response produced by priority & fairness kicking in?

[2020-11-19 03:23] nojvek commented on #96682
Could someone explain why kubernetes doesn’t adopt semver?

I understand the need to close issues but this doesn’t address the core
issue.

Kubernetes versions have little meaning to them even though they look like
semver.

If kubernetes makes a breaking change, what is wrong with calling it v2?

Who cares if we’re at version 140. There is no automated way to know when a
kube version will bring do

[2020-11-19 03:37] lavalamp commented on #96651
It's possible, we can investigate.

On Wed, Nov 18, 2020, 7:23 PM Jordan Liggitt <notifications@github.com>
wrote:

[2020-11-19 04:19] #92297 closed

[2020-11-19 04:49] kolyshkin commented on #92147
My bad :facepalm:, just found out we forgot to skip `[Serial]` tests.

[2020-11-19 05:06] sayanchowdhury commented on #82296
Hi 👋🏽 , Bug Triage here, We're pretty late into code freeze, and there is not much activity in this issue so removing the 1.20 milestone.

/milestone clear

[2020-11-19 05:08] sayanchowdhury commented on #91506
Hi 👋🏽 , Bug Triage here. We're pretty late into code freeze for 1.20, going to bump this to 1.21. Thanks!

/milestone 1.21

[2020-11-19 05:09] sayanchowdhury commented on #91506
/milestone v1.21

[2020-11-19 05:10] wyardley commented on #82296
@liggitt @sayanchowdhury this has now not made it into 1.17, 1.18, 1.19, or 1.20, and has been open for over a year... Any idea when someone will be able to work on this?

[2020-11-19 05:25] ldk273427673 opened #96700 "node is down ,but apiserver pod is running"
**What happened**:
node is down ,but i find the apiserver pod is running ,and kube-controller-manager，kube-scheduler is also running

**What you expected to happen**:
why ?

**How to reproduce it (as minimally and precisely as possible)**:
1,when is shutdonw m1(master1 node)
[root@m1 ~]#init 0

2,test the network is down
[root@m2 ~]#ping 192.168.50.11
PING 192.168.50.11 (192.168.50.11) 56(84) byte

[2020-11-19 06:06] ldk273427673 commented on #96700
/sig API Expression
/wg API Expression
/committee API Expression

[2020-11-19 06:07] ldk273427673 commented on #96700
/sig api-machinery
/wg api-machinery

[2020-11-19 06:36] gohmc commented on #82987
This seems to happen often to pod running on node that was shutdown and restart. Delete and let deploy/ds re-create the pod seems to put probe back on track.

[2020-11-19 06:46] veera2019 opened #96701 "Failed to create container, mkdir /sys/fs/cgroup/memory/kubepods/besteffort/pod98211fca-b27e-4316-b1ae-c0d27925aa84: cannot allocate memory"
Hi Team,

     We are getting issue in my kubernetes worker nodes , first all pods are running fine, after one day pods are not running and stuck in init state only, if i describe pod i am getting below error.

**Warning  FailedCreatePodContainer  6s (x22 over 4m33s)  kubelet            unable to ensure pod container exists: failed to create container for [kubepods besteffort podbfeaeabc-c36c-4a99

[2020-11-19 07:03] jmthvt commented on #74099
Can we reopen this please?

[2020-11-19 07:07] chendave opened #96703 "Failed to create object with non-retriable error"
**What happened**:
When I run some integration test in `scheduler_perf`, I often got the below error message like below,
[code]

How these object is created is called into `RetryWithExponentialBackOff`, but the code there simply return a `error` to say that is `non-retriable`.

e.g.

https://github.com/kubernetes/kubernetes/blob/e64ebe01314b41fa68cff827a31ab133ec6963a4/test/utils/create_resources.

[2020-11-19 07:08] chendave commented on #96703
/sig testing
/sig scheduling

label this as scheduling since this bug impacts the `scheduler_perf`.

[2020-11-19 07:09] palnabarun commented on #95875
@wojtek-t -- I can take this up. One question I had was should the `takeAvailable` method rely on `time.Now()` or the current time should be passed on by the caller like in the following:

https://github.com/kubernetes/kubernetes/blob/master/vendor/golang.org/x/time/rate/rate.go#L307-L310

Having the caller pass the time completely removes the dependency on the clock.

[2020-11-19 07:10] palnabarun commented on #95875
/assign

[2020-11-19 07:29] chendave commented on #96703
/assign

[2020-11-19 07:34] adtac commented on #96651
No, this has existed for multiple months. I wrote the current version of scheduler_perf and I remember seeing this error way back in August/September.

[2020-11-19 07:45] andyzhangx opened #96706 "resize Azure disk issue when it's in attached state"
**What happened**:
resize Azure disk issue when it's in attached state:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install to

[2020-11-19 07:56] xiaopeng-han commented on #96703
/assign

[2020-11-19 08:03] wojtek-t commented on #95875
Let's may be start with:
- passing `clock.Clock` on budget creation to it
- relying on `clock.Now()`

[2020-11-19 08:15] palnabarun commented on #95875
@wojtek-t -- thank you for the thoughts. I drafted a rough implementation in #96707 which still depends on `time`. I will make the change as you suggested and rely solely on a `clock.Clock` instance passed on initialization. I have to rethink the testing strategy a bit, possibly using a `clock.FakeClock`.

[2020-11-19 08:18] aojea commented on #96703
@liggitt I'd love your opinion here, is there a concept of "retriable" and "non-retriable" errors in the API?

[2020-11-19 08:23] chendave commented on #96703
@xiaopeng-han  just  a head up, the PR is out https://github.com/kubernetes/kubernetes/pull/96704, let's see if you have any comment here.

[2020-11-19 08:24] aojea commented on #96703
hmm @chendave this is a duplicate of https://github.com/kubernetes/kubernetes/pull/96696
I think we should close this in favor of #96696 , the other was open before

[2020-11-19 08:25] aniketdivekar opened #96708 "Inconsistent behaviour when using "kubectl replace" for configmaps"
**Client Version**: v1.13.1
**Server Version**: v1.17.9

**Background**:
We were updating config maps using `kubectl apply -f configmap.yaml`. At a point, we started facing issue with `apply` as the size of the metadata was more than the limit. As we understand it, the metadata field keeps previous version of configmap. It's weird to understand why configmap itself doesn't have limit, but metadata

[2020-11-19 08:29] wojtek-t commented on #95875
Yes - FakeClock is the way to test this.

[2020-11-19 08:32] aniketdivekar commented on #96708
/sig cli

[2020-11-19 09:17] chendave commented on #96703
@aojea yeah, looks like I step on @Huang-Wei 's toes :)

/close in favor of https://github.com/kubernetes/kubernetes/issues/96651

[2020-11-19 09:18] chendave commented on #96703
/close

[2020-11-19 09:18] #96703 closed

[2020-11-19 09:19] sttts commented on #94060
/remove-lifecycle stale

[2020-11-19 09:21] sttts commented on #94060
Have we thought about start having ratcheting validation in CRDs?

[code]

MinLength would be enforced only when it was true already before.

[2020-11-19 09:24] ark-g commented on #96670
/sig node

[2020-11-19 09:29] dudicoco commented on #68737
@jqx306 I did not experience this issue. What k8s version are you running?
Here is a PVC described after sts was deleted with `cascade=false`:
[code]

[2020-11-19 09:48] lingsamuel commented on #96167
I am handling other funcs in `pkg/scheduler/apis/config/validation/validation_pluginargs.go`

[2020-11-19 10:21] Shridharbhandar commented on #37922
Hi Team,

I also have the same issue and it's actually getting connected in between but it's unable to complete it.

Can you please check the below image and tell me what is the reason for this kind of behavior??

Is it a compatibility issue of yum on rhel with kubernetes....

![image](https://user-images.githubusercontent.com/22121286/99653376-ef104980-2a7e-11eb-8c0f-1e972be4441e.png)

[2020-11-19 10:46] ark-g commented on #96670
The WA of the issue is to specify explicitly node IP in command line of **kubelet** utility (by using _--node-ip_ command line switch), otherwise, looks like, the node IP can be resolved randomly from set of the all node IP addresses.

[2020-11-19 10:51] whalecold opened #96709 "CRD creation fails with "Forbidden: must not specify anything other than name and generateName""
**What happened**:

I have the a CRD file (crd.yaml) generated with controller-tools v0.4.0 and the tools will add `type` and `description` filed for `metadata` default, the [type](https://github.com/kubernetes/kubernetes/blob/e64ebe01314b41fa68cff827a31ab133ec6963a4/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/validation.go#L162) has been neglected, should we neglect the `descr

[2020-11-19 10:52] whalecold commented on #96709
/triage accepted

[2020-11-19 11:10] RobertKielty opened #96710 ""highqps" not reaching 95% completion threshold on API priority and fairness ... , blocking gce-master-default"
**Which jobs are flaking**:
gce-cos-master-default

**Which test(s) are flaking**:
Kubernetes e2e suite.[sig-api-machinery] API priority and fairness should ensure that requests can't be drowned out (priority)

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default

**Reason for failure**:

[code]

**Anything else we need to know**:
- go.k8s.io/triage at pres

[2020-11-19 11:27] odinuge commented on #95488
Hmm, interesting. Thanks for your detailed feedback!

No, I don't think it will give any more insight into what you have already uncovered.

Interesting! Not familiar with `systemd-nspawn` so I have no real idea about this.

Overall it looks like the most viable solution is to switch to `cgroupfs=systemd`. The "extra" cgroup mounts make some troubles tho, and mounting multiple cgroup-v1 controller

[2020-11-19 12:07] pacoxu commented on #96674
- When I set it to -1s,  kubelet log shows`Volume stats collection disabled.` during startup.

- When I set it to '0',  kubelet log doesn't shows`Volume stats collection disabled.` during startup.
- When I set it to '1s',  kubelet log doesn't shows`Volume stats collection disabled.` during startup.
- When I don't set it,  kubelet log doesn't shows`Volume stats collection disabled.` during startup.

[2020-11-19 12:48] Moser-ss opened #96714 "Changes in Pod.spec.containers.ports aren't recognized by API server"
**What happened**:

When I add a new port object to Pod.spec.containers.ports list that has the same value in the containerPort field that other port it will not update the Pod in the cluster

**What you expected to happen**:
I expect that a new port object was added to the port because when I create the pod from zero with 2 port objects that contained the same value in the containerPort the pod h

[2020-11-19 12:49] Moser-ss commented on #96714
/sig api-machinery

[2020-11-19 13:08] windayski opened #96715 "Object.Raw is nil for a delete request to webhook server"
I set up a webhook server in my kubernetes cluster.
This webhook server will check each delete request of resource and decide whether to approve this delete request.
Everything is ok but I always got a nil in req.OldObject.Raw or req.Object.Raw of a delete request.

I don't know why. I need this OldObject.Raw. And I have been stuck here for days.

Anyone knows why? Thanks in advance.

Here are my

[2020-11-19 13:10] yue9944882 commented on #96651
mmm the ap&f filter doesnt actually return such error as `NewServerTimeout(..)`, the failing request seems to be exceeding  the global request time-out instead ap&f queuing timeout. additionally the rejected requests by the filter can be tracked/confirmed by the `apiserver_flowcontrol_rejected_requests_total{reason="time-out"}` metrics at the kube-apiserver.

[2020-11-19 13:10] harshthakur9030 commented on #95759
Can I take this up?

[2020-11-19 13:12] liggitt commented on #96651
Sounds good, thanks for checking

On Thu, Nov 19, 2020 at 8:10 AM Min Kim <notifications@github.com> wrote:

[2020-11-19 13:23] #94454 closed

[2020-11-19 13:28] #89125 closed

[2020-11-19 13:34] danwinship opened #96717 "Clean up SCTP tests"
When we first added SCTP tests, we thought that we weren't going to be able to do actual tests of SCTP network connectivity within kubernetes CI, so we came up with a plan involving a split between tests that involve actual SCTP network connectivity (which require the SCTP kernel module to be available) and tests that don't do SCTP network traffic and so can run anywhere. That way we could still t

[2020-11-19 13:36] danwinship commented on #96717
/sig network
/triage accepted
/kind cleanup
/remove-kind bug
/help
/good-first-issue
/cc @aojea

[2020-11-19 13:38] neolit123 commented on #82296
if there are contributors that wish to fix this ASAP, PRs for the library should go at http://sig.k8s.io/yaml.
for review / approval of proposals / PRs, the owners of the library are sig-api-machinery:
https://github.com/kubernetes/community/tree/master/sig-api-machinery

[2020-11-19 13:42] bboreham commented on #29838
I've seen this with events from kube-scheduler - they have `eventTimestamp` set but not `firstTimestamp` or `lastTimestamp`.

And there doesn't seem to be a way to tell jsonpath to take one field or fall back to another.

[2020-11-19 13:44] liggitt commented on #82296
Not really. This remains in the middle of the backlog, priority-wise.

The issue lives in the yaml libraries we use, but as noted in https://github.com/kubernetes/kubernetes/issues/82296#issuecomment-529675294, changing how we interpret existing data has compatibility implications that are far-reaching.

I would expect any work done in the yaml libraries to address this to pay similar attention to

[2020-11-19 13:53] Joseph-Irving commented on #96630
This is expected behaviour, the reason you have more than 2 failed pods is due to the fact that the backoff count can get reset when a pod exits successfully. So pod fails backoff = 1, then pod completes backoff = 0, the pod fails backoff = 1, the pod completes backoff = 0, etc.
See https://kubernetes.io/docs/concepts/workloads/controllers/job/#pod-backoff-failure-policy

[2020-11-19 13:58] Joseph-Irving commented on #96380
/sig storage

[2020-11-19 14:03] liggitt commented on #94060
yes. from https://github.com/kubernetes/kubernetes/issues/94060#issuecomment-677644185:

[2020-11-19 14:31] gnvik commented on #63128
किसान भाई कुछ भी बेचे या खरीदे जैसे पुराना ट्रैक्टर , भैंस, गाय , मशीनें आदि। Visit www.krishifarm.in/front/home/post_info/198

[2020-11-19 14:38] jqx306 commented on #68737
@dudico Here's what I'm running:
[code]

[2020-11-19 14:41] rach-sharp commented on #87615
I had this issue but I've now fixed it in my small hobby cluster using [the workaround in a comment above](https://github.com/kubernetes/kubernetes/issues/87615#issuecomment-609413225)

I wrote [a small ansible-playbook](https://github.com/rach-sharp/kubelet-restarter) to deploy the workaround on nodes as a systemd unit and timer, might save others with a similar setup some time

[2020-11-19 15:06] yacinelazaar commented on #96630
Yes but the pods are created successively here. Plus I have sorted the pods by creationTimestamp so there is still 5 failing pods after the last completed pod so backoff = 4 which still superior to 2.

[2020-11-19 15:10] PeteMac88 commented on #78761
Hey guys, I am not sure if our problem matches the cases described here but as far as I can read they seem connected. I am doing load tests in order to find the correct scaling configuration for us and having some strange scaling behaviors for the hpa on AWS EKS. I am running the same load test for a few minutes and new replicas are scaled up correctly. The problem is that every 5 minutes the hpa

[2020-11-19 15:18] tkashem commented on #96651
@Huang-Wei https://github.com/kubernetes/kubernetes/pull/96061 merged three days ago.Although  `NewServerTimeout(..)` is not thrown by request timeout logic. You will see a `504` from the server with the following message:
- https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go#L56
- https://github.com/kubernetes/kubernetes/blob/master/stag

[2020-11-19 15:42] Joseph-Irving commented on #96630
Ah yes, I see you have four failed pods in a row
I could not replicate this on my own test cluster on version 1.19.3
Here you can see  it working as expected.
[code]
[code]
Can you show the full output of `kubectl describe` ? Just to make sure the Pod Statuses look correct
Can you reliably reproduce this? your code will only sometimes fail more than the backoff limit.
Were there any error logs in

[2020-11-19 15:48] Joseph-Irving commented on #96630
It seems this may be some flaky behaviour that you're seeing
A fix was submitted in this PR to make it more reliable https://github.com/kubernetes/kubernetes/pull/93779

[2020-11-19 16:03] jayunit100 commented on #94004
looks like we need a kube-proxy cleanup kep

[2020-11-19 16:03] jayunit100 commented on #94004
talking with @alejandrox1

[2020-11-19 16:15] derekwaynecarr commented on #96589
I don't think this should block 1.20 as the report is on 1.19 and lacks sufficient details for further analysis.

[2020-11-19 16:36] msau42 opened #96719 "Snapshot e2es have strict ordering of deleting snapshots before pvcs"
**What happened**:
Right now our snapshot tests wait for snapshots to be deleted before trying to delete the pvcs. Some storage systems cannot support this and need the pvc to be deleted first.

**What you expected to happen**:
The test should delete snapshots and pvcs independently in parallel to support both kinds of storage systems:
- Those that need PVC to be deleted before snapshots
- Those t

[2020-11-19 16:37] msau42 commented on #96719
/assign @Jiawei0227

[2020-11-19 16:37] msau42 commented on #96719
cc @xing-yang

[2020-11-19 16:37] msau42 commented on #96719
@kubernetes/sig-storage-bugs
/triage accepted

[2020-11-19 16:41] teppokauppinen commented on #68211
We had this issue in AWS EKS today

Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.9-eks-4c6976", GitCommit:"4c6976793196d70bc5cd29d56ce5440c9473648e", GitTreeState:"clean", BuildDate:"2020-07-17T18:46:04Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

[2020-11-19 16:44] jayunit100 commented on #94022
ok, i think we know the direction to go now.

- @alejandrox1 is going to look at the app/kubeproxy commands to make clean up the code path, remove incorrect arg handling as a prototype
- meanwhile ill write up a kep on the overall situation and how kube proxy should handle args in an ideal world

[2020-11-19 16:45] jayunit100 commented on #94004
i think we can close this and solve the problem in the KEP resulting in #94022

[2020-11-19 16:45] #94004 closed

[2020-11-19 16:58] neolit123 commented on #96654
hi, please log this ticket in https://github.com/kubernetes-sigs/sig-windows-tools/

/close
/sig cluster-lifecycle

[2020-11-19 16:58] #96654 closed

[2020-11-19 16:58] neolit123 commented on #96667
/sig node

[2020-11-19 16:59] neolit123 commented on #96697
/sig cli

[2020-11-19 17:00] lavalamp commented on #96651
Thanks @yue9944882, I didn't think it was P&F but I wasn't certain we failed too-long requests via a different code path.

I think there's still a way we could have made this slightly worse, though, imagine a request sat in our queue for the max of 15 seconds. Imagine this request will take 55 seconds to complete. From the perspective of the global time out, it will take 55+15 = 70 seconds and be

[2020-11-19 17:03] neolit123 commented on #96701
hi, please try asking on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if there is a confirmed kubernetes bug, open a new issue with reproduction steps and good details.

thanks
/close
/kind support

[2020-11-19 17:03] #96701 closed

[2020-11-19 17:04] neolit123 commented on #96710
/sig api-machinery

[2020-11-19 17:06] neolit123 commented on #96715
hi, we try to close support tickets and direct users to the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

you could try #kubernetes-users on k8s slack.

if you find a bug in core kubernetes, please open a new issue.
thanks
/close

[2020-11-19 17:06] #96715 closed

[2020-11-19 17:06] spacetc62 commented on #93337
As an additional data point, I have at least one cluster (possibly additional ones, have not proven it yet) that are exhibiting this same issue on GKE. We recently upgraded from 1.16.13-gke.401 to 1.17.13-gke.1400, and started seeing intermittent connection reset errors, and after digging in discovered that we are seeing exactly what this issue describes.

Example tcp dump log from some of my test

[2020-11-19 17:06] #96463 closed

[2020-11-19 17:08] jayunit100 commented on #94022
Placeholder KEP above, will follow on there.

[2020-11-19 17:10] strmdvr commented on #86944
/remove-lifecycle rotten

[2020-11-19 17:23] dims commented on #70131
possibly @BenTheElder but we have to verify :(

[2020-11-19 17:24] jrivers96 commented on #82987
This is my development cluster and we have a mix of k8s node versions on it, v1.15.11 and v1.15.12

[code]

[2020-11-19 17:25] gerardgorrion commented on #78761
Do you use fluxcd ir some continuos deployment?

[2020-11-19 17:33] stamm commented on #86944
I tried with containerd 1.4.1, and still have obtained ip with pods which have already deleted.
Kubernetes 1.17.12, calico 3.15.1 with calico-ipam

[2020-11-19 17:39] Ramyak commented on #87615
Is there a plan to cherry-pick/backport https://github.com/kubernetes/kubernetes/pull/95981 and https://github.com/kubernetes/kubernetes/issues/87615 to 1.18 release branch?

[2020-11-19 17:56] soltysh commented on #95759
Sure, go ahead

[2020-11-19 18:00] yacinelazaar commented on #96630
Had a couple of trials with reduced sleep time (3s) and came across this:

'''
ubuntu@master-0:~$ k get po --sort-by=.metadata.creationTimestamp
NAME             READY   STATUS      RESTARTS   AGE
test-job-rk45b   0/1     Completed   0          4m51s
test-job-j8rf5   0/1     Error       0          4m26s
test-job-nrrqn   0/1     Completed   0          4m1s
test-job-bm6nx   0/1     Error       0

[2020-11-19 18:04] jrivers96 commented on #82987
I'm noticing that my oldest v1.15.12 boxes have around 5000 sockets while the youngest v1.15.12 boxes  have 1k sockets. That does look like a leak to me.

[2020-11-19 18:07] rkojedzinszky commented on #96183
To confirm, I am experiencing the same. I had some nodes powered off, I expected that some pods managed by deployments will get rescheduled on other nodes. Nothing happened. The nodes just got one node.kubernetes.io/unreachable:NoSchedule taint.

[2020-11-19 19:34] #88378 closed

[2020-11-19 19:34] #90651 closed

[2020-11-19 20:14] trondhindenes commented on #96676
thanks for the quick fix!

[2020-11-19 20:51] MikeSpreitzer commented on #74415
We also ran into this in https://github.com/MikeSpreitzer/kube-examples/tree/add-kos/staging/kos .
I support looking for an easy-to-use general solution.
@MikeSpreitzer

[2020-11-19 20:53] steeling commented on #79224
FYI this is required for some exporters in OTEL:

https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/316

ie: the azure monitor exporter requires the app insights instrumentation key which is a secret. There's no other option that I'm aware of to fix this, other than patching OTEL

I've also opened a bug against OTEL https://github.com/open-telemetry/opentelemetry-collector-c

[2020-11-19 21:16] kyprifog commented on #60538
I'm running into this issue with CRD for cluster manager

[2020-11-19 21:16] fedebongio commented on #90168
/assign @bartekzurawski bartekzurawski
Yes, thank you!
/triage accepted

[2020-11-19 21:16] fedebongio commented on #96321
/triage accepted

[2020-11-19 21:17] fedebongio commented on #96537
@adtac is this only for your own tracking or you need help? Thanks!

[2020-11-19 21:17] fedebongio commented on #96543
/triage accepted

[2020-11-19 21:18] fedebongio commented on #96564
/assign @jennybuckley
/triage accepted

[2020-11-19 21:20] fedebongio commented on #96587
/assign @logicalhan @dashpole
/triage accepted

[2020-11-19 21:20] fedebongio commented on #96621
/assign @logicalhan
/triage accepted

[2020-11-19 21:22] fedebongio commented on #96642
/triage accepted
removing triage since the PR seem to be fixing the issue
/assign @bboreham
Please close when merged! thank you

[2020-11-19 21:22] fedebongio commented on #96648
/triage accepted

[2020-11-19 21:22] fedebongio commented on #96688
/triage accepted

[2020-11-19 21:25] fedebongio commented on #96700
@ldk273427673 can you confirm you are shutting down the Master Node? if that is the case, seems impossible that you can even do a Kubectl. Do you have more than one master?

/assign @fedebongio
/triage accepted

[2020-11-19 21:26] fedebongio commented on #96709
/triage accepted

[2020-11-19 21:26] fedebongio commented on #96710
/assign @lavalamp
/triage accepted

[2020-11-19 21:27] fedebongio commented on #96714
/sig network

[2020-11-19 21:29] fedebongio commented on #96585
/triage accepted

[2020-11-19 21:29] fedebongio commented on #96405
/triage accepted

[2020-11-19 21:30] fedebongio commented on #96199
/triage accepted

[2020-11-19 21:30] fedebongio commented on #96182
/triage accepted

[2020-11-19 21:30] fedebongio commented on #96161
/triage accepted

[2020-11-19 21:31] fedebongio commented on #96577
thank you all for the collaboration!
/close

[2020-11-19 21:31] #96577 closed

[2020-11-19 21:36] #88873 closed

[2020-11-19 21:37] lavalamp commented on #96537
This can probably be merged with #96648?

On Thu, Nov 19, 2020 at 1:17 PM Federico Bongiovanni <
notifications@github.com> wrote:

[2020-11-19 21:39] unixfox commented on #57187
/remove-lifecycle stale

[2020-11-19 21:50] aojea opened #96724 "Non LoadBalancer Types can set Status.Loadbalancer.Ingress"
**What happened**:

I can set the Status.LoadBalancer.Ingress in Services that are not Type LoadBalancer

**What you expected to happen**:

The apiserver should reject the Status update

**How to reproduce it (as minimally and precisely as possible)**:

1. kind create cluster
2. wget https://gist.githubusercontent.com/aojea/94e20cda0f4e4de16fe8e35afc678732/raw/a18045d651232c6d20a790503d1eba88c89cc

[2020-11-19 21:51] aojea commented on #96724
/sig network
/triage accepted
/cc @thockin
Full credit to @trozet :)

[2020-11-19 21:53] stevesloka commented on #50032
I had a need for this as well and almost have a PR together. Would folks be interested in that PR?

[2020-11-19 22:08] leilajal commented on #95052
@Git-Jiro did we open new separate issues regarding this? Thanks!

[2020-11-19 22:16] leilajal commented on #89874
@MikeSpreitzer what is the status of this issue? can we close this one if we follow up with the client warnings instead of generating new logs?

[2020-11-19 22:21] leilajal commented on #17362
@owenhaynes  are there any updates at this issue? If this is resolved based on previous comment we can close it. Thanks!

[2020-11-19 22:26] leilajal commented on #36304
@davidopp @soltysh I see there are follow up on this issue at https://github.com/kubernetes/enhancements/issues/1440. Can we close this one?

[2020-11-19 22:33] SergeyKanzhelev commented on #96565
Same situation in this failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1329128337662021632.

Analyzing [kubelet.log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1329128337662021632/artifacts/bootstrap-e2e-minion-group-bbzz/kubelet.log):

Log message keep repeating the message over and over and

[2020-11-19 22:34] leilajal commented on #70159
@andrewsykim what do we need here?

[2020-11-19 22:42] aojea commented on #96724
/assign

[2020-11-19 22:44] bazzargh opened #96725 "log container name alongside id in kuberuntime_container.go"
**What would you like to be added**:
In log messages that log the container id (which is really just kuberuntime_container.go), consistently also log the container name.

**Why is this needed**:
Consider this example:
[code]

This is what is currently logged by kuberuntime_container.go. We'd like to track this back to a specific container name, pod or deployment that had a problem (in this case po

[2020-11-19 22:48] bazzargh commented on #96725
/sig node

[2020-11-19 22:54] #96065 closed

[2020-11-19 23:05] lavalamp commented on #96710
/assign @adtac

[2020-11-19 23:28] Riaankl commented on #90916
/close #96487 merged

[2020-11-19 23:28] #90916 closed

[2020-11-19 23:28] kolyshkin commented on #96565
We have this test case failing a lot with cri-o recently (see e.g. https://github.com/cri-o/cri-o/pull/4383#issuecomment-730510935, https://github.com/cri-o/cri-o/pull/4370#issuecomment-730506929, https://github.com/cri-o/cri-o/pull/4379#issuecomment-730701738)

[2020-11-19 23:37] aojea commented on #96714
it seems that 2 ports with the same port and different name can be created

[code]

but if I read the API docs correctly it seems is not possible to be updated

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#containerport-v1-core

@thockin can you confirm or correct me, please?

[2020-11-20 00:46] msau42 opened #96730 "Disabling a volume plugin without enabling csi migration"
**What would you like to be added**:
The CSIMigration*Complete flags will unregister a particular volume plugin from kube-controller-manager and kubelet. But it requires the CSIMigration* flags to be enabled.

I am proposing we replace these CSIMigration*Complete flags with a more general "Unregister*Plugin" flag that is decoupled from the CSIMigration feature.

**Why is this needed**:
Some enviro

[2020-11-20 00:46] msau42 commented on #96730
@kubernetes/sig-storage-feature-requests

/triage accepted
/assign @mattcary @Jiawei0227

[2020-11-20 00:50] msau42 commented on #92237
/assign @mattcary @Jiawei0227

[2020-11-20 01:27] howardjohn opened #96731 "Dynamic readiness probe period time"
**What would you like to be added**:

I would like a way to have the readiness probe period more dynamic.

**Why is this needed**:

We have a few use cases were we want extremely aggressive readiness probe times, because pod startup time is critical. In these cases, using an interval over 1s is detrimental. This includes cases where we have a service mesh and do not want to be slower than pods tha

[2020-11-20 01:32] nxyy-22 opened #96732 "kubelet report wrong DiskPressure"
One Node in cluster report DiskPressure but the usage of rootfs is 73%, and imagefs (I set docker data root: /data/docker/ instead of  the original dir /var/lib/docker/ ) usage is 4%.
when I check kubelet's log,  I find kubelet check the dir /var/lib/docker/overlay2/ instead of the correct dir /data/docker/ which means kubelet didn't read the right Imagefs from docker .
And this will cause all pod

[2020-11-20 01:34] wawa0210 commented on #96725
/assign

I can try to fix this

[2020-11-20 01:35] nxyy-22 commented on #96732
/sig node

[2020-11-20 01:37] sudo-justinwilson opened #96733 "Spot instance worker nodes have status of Ready,SchedulingDisabled"
I'm running kubernetes 1.17 and use an autoscaling group that has a mix of OnDemand and spot instances. Some of the spot instances are intermittently put into a `SchedulingDisabled` status, which apparently indicates a node has been cordoned off, but I am certain that nobody has done this:

[code]

I expect the nodes to have a Ready status.

On a kubernetes 1.18 EKS cluster, launch a worker node u

[2020-11-20 01:49] jingxu97 opened #96734 "Pod should be deleted after volume unstage finished if no other pods using the volume"
For pod deletion, currently as long as volume is unpublished (unmount), pod might be deleted right after unmount. It is possible that pod is deleted before volume is unstaged (UnmountDevice). This behavior might cause snapshot test fail especially on Windows where unstage takes longer time.

1. volume is created and pod writes data to volume
2. nodeUnpublish finished and pod is deleted,
3. create

[2020-11-20 01:50] jingxu97 commented on #96734
cc @msau42 @mattcary @xing-yang

[2020-11-20 02:00] ConaghFM commented on #92653
Agree, this would be good to have

[2020-11-20 02:12] msau42 commented on #96734
I thought @saikat-royc is trying to fix this issue with https://github.com/kubernetes/kubernetes/pull/94737?

[2020-11-20 02:13] msau42 commented on #96734
In terms of fixing this specific test case, what if the test pod does a fsync after it writes?

[2020-11-20 02:14] msau42 commented on #96734
@kubernetes/sig-storage-bugs

[2020-11-20 02:30] jingxu97 commented on #96734
He is fixing a related but different issue. The race is between unstage and delete volume. But if this issue is fixed, I think it will also fix the issue mentioned in #94737, the ordering will be

[code]

Current possible race
[code]

[2020-11-20 02:33] whalecold commented on #96709
This issue may be similar with [91395](https://github.com/kubernetes/kubernetes/issues/91395), we can also remove the `description` field under `metadata` in controller-tools. Do you have any suggestions?  @sttts

[2020-11-20 02:57] adeniyistephen commented on #95546
@eranreshef @liggitt @k8s-ci-robot Is this issue still open? if not I would need guidance on the documentation improvement.

[2020-11-20 03:14] #96649 closed

[2020-11-20 03:33] fujitatomoya commented on #86539
/remove-lifecycle rotten

[2020-11-20 03:52] liggitt commented on #96709
This was previously discussed and decided against in https://github.com/kubernetes/kubernetes/issues/86800

Dropping the description that would not be used would be the recommendation.

[2020-11-20 03:52] #96709 closed

[2020-11-20 03:56] liggitt commented on #96714
Is this a specific case of the general problem described in https://github.com/kubernetes/kubernetes/issues/58477, where we allow persisting multiple entries that have conflicting keys, and then apply cannot deal with updating the result?

[2020-11-20 04:16] yashvardhan-kukreja commented on #96587
Guys, I would love to work on this issue. I was just waiting for the traige-accepted label. Hope that's fine.

[2020-11-20 04:21] yashvardhan-kukreja commented on #96587
So, @lavalamp , do u mean this? That say, 99.5 percentile of logs are supposed to he shown at a rolling rate of, say, 5 seconds. Meaning at every 5 seconds, 99.5 per cent quantity of logs would be traced

So, say, if in the last 5 mins, there came 1000 lines of logs, then, 995 (99.5% of 1000) lines would be traced.

and then, say, after sometime, in the last 5 mins, there came 2000 lines of logs,

[2020-11-20 05:36] #96706 closed

[2020-11-20 05:37] apelisse commented on #93365
The PR merged, I think we're good now!

[2020-11-20 05:37] #93365 closed

[2020-11-20 05:55] theunrealgeek commented on #96717
@danwinship I'm new to contributing to kubernetes, so I might be slow and take some time to get this done, but would love to take it up. Seems pretty interesting

[2020-11-20 06:00] liggitt commented on #96511
fixed by https://github.com/kubernetes/kubernetes/pull/96444

/close

[2020-11-20 06:00] #96511 closed

[2020-11-20 06:15] PeteMac88 commented on #78761
Thanks @gerardgorrion, that was the problem!

[2020-11-20 06:35] FreeZhang61 commented on #96717
/assign

[2020-11-20 06:48] ldk273427673 commented on #96700
yes, iam sure ,i shutdown the master node,and when i descirbe the pod , the ready status is false ,but status is running

[2020-11-20 06:51] godomainz opened #96741 "error failed to read kubelet config file "/var/lib/kubelet/config.yaml", error: open /vනෙවැ 20 10:28:55 master-2 kubelet[5890]: goroutine 1 [running]"
1) Followed this documentation  https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
2) Started the master node using "sudo kubeadm init"
3) Received successful message and "kubeadm join" commands
4) Ran "journalctl -u kubelet" command on master node to see the status of kubelet
6) I can see below error

` F1120 10:28:55.554344    5890 server.go:198] failed to loa

[2020-11-20 07:08] SergeyKanzhelev commented on #96565
This PR was merged just before failures started: https://github.com/kubernetes/kubernetes/pull/84206/

@mucahitkurt can you please take a look? This test failure looks to happen in exactly the logic that was changed.

[2020-11-20 07:18] SergeyKanzhelev commented on #96565
The directory seems to have to be removed here: https://github.com/kubernetes/kubernetes/blob/7d72ddca6e9a4e9cfa481b137bd0546be6a16cad/pkg/volume/util/subpath/subpath_linux.go#L275

Because this log message is in the `kubelet.log`: https://github.com/kubernetes/kubernetes/blob/7d72ddca6e9a4e9cfa481b137bd0546be6a16cad/pkg/volume/util/subpath/subpath_linux.go#L226 and no errors logged after it. So I

[2020-11-20 07:46] #92396 closed

[2020-11-20 08:05] hmtai commented on #26202
I encountered the same problem when rollback the chart from the  selector manully added chart to no selector chart:
`
stderr: 'Error: Failed to recreate resource: DaemonSet.apps "internal-management-ingress" is invalid: spec.template.metadata.labels: Invalid value: map[string]string{"app":"internal-management-ingress", "chart":"icp-management-ingress", "component":"internal-management-ingress", "h

[2020-11-20 08:08] lala123912 commented on #96405
/assign

[2020-11-20 08:12] #96405 closed

[2020-11-20 08:17] Abhinav054 commented on #26202
Can you post the yaml file you are trying to apply for?

On Fri, Nov 20, 2020 at 1:37 PM huimin <notifications@github.com> wrote:

[2020-11-20 08:20] dprateek1991 commented on #75402
I have a setup with Multiple ASGs with ap-southeast-1a and ap-southeast-1b AZ attached to all the ASGs.

In my case, we have an EC2 running in ap-southeast-1a zone and thus Persistant Volume gets attached to the node perfectly fine since the EBS volume is in ap-southeast-1a itself.

However, I have another EBS Volume in ap-southeast-1b zone and in this case Cluster Autoscaler is not scaling to add

[2020-11-20 08:20] mucahitkurt commented on #96565
I'll try to check it.

cc @jingxu97 @msau42

[2020-11-20 08:43] hmtai commented on #26202
@Abhinav054 This is helm rollback process:
[code]

[2020-11-20 09:00] Abhinav054 commented on #26202
Do you have any app with the given template label running.

On Fri, 20 Nov 2020, 14:13 huimin, <notifications@github.com> wrote:

[2020-11-20 09:00] discanto commented on #51835
This happens on containerd 1.4.0 when node load is high and vm.max_map_count is set to a higher value than the default, the containerd-shim doesnt drain the stdout fifo and blocks waiting for it to be drained, while dockerd fails to ge the event/acknowledge from containerd that the processes are gone.

[2020-11-20 09:40] farvour commented on #61486
This is a ridiculous problem that still exists 5 years today. I still cannot wrap my head around why the developers of the aws provider plugin (which it looks like is actually being deprecated) can't come up with a good solution that has been offered by the community over and over again. The marriage of the domain to the kubelet and the cloud provider is really sad. The assumption that "nobody wou