[2019-12-23 14:50] kittydoor commented on #78902
/open

[2019-12-23 14:57] #80171 closed

[2019-12-23 15:56] mmiara opened #86556 "Master component pods running after master node shutdown"
In an on-prem deployment, running on VMs in vmware, when a master node in HA config is shutdown, the pods that are running (scheduler, api server, and controller) are still shown as running when running kubectl get pods --all-namespaces. i am able to force delete the pods, but why are they not checking that the pods are no longer available when the node itself is shutdown?

[2019-12-23 15:58] #80626 closed

[2019-12-23 16:29] #86404 closed

[2019-12-23 16:40] mm4tt commented on #86483
I ran the following experiment to confirm that this is an actual regression between `1.16` and `1.17`

## Experiment

1. Set up two 5K node clusters (`VERSION=1.16.4` and `VERSION=1.17.0`)
[code]

2. Wait for cluster to go up, set up prometheus monitoring using `ClusterLoader2`

3. Reboot master VM
    1. `gcloud compute instances stop --project=$PROJECT --zone=$ZONE $MASTER_NAME`
    1. `sleep 2m

[2019-12-23 16:44] hprateek43 commented on #86435
I have started working on the code but the `selector_spreading.go` uses a lot of internal functions and types from the package `priorities` which we cannot access in `frameworks`. Am I missing something or we have a different strategy around that?

[2019-12-23 17:16] kwiesmueller opened #86559 "Sending server-side-apply patch as protobuf"
Original report: http://groups.google.com/group/kubernetes-wg-apply/t/61d80fedada07e33?utm_source=digest&utm_medium=email

/kind bug
/sig api-machinery
/wg apply
/cc @apelisse @jennybuckley @tedyu

[2019-12-23 17:27] ahg-g commented on #86435
Which exact functions are you referring to? Anything that it depends on in the priorities package should ideally move with it. Are there functions that it depends on that is shared with other priorities?

[2019-12-23 17:34] kwiesmueller commented on #86559
/assign @kwiesmueller
/assign @tedyu

[2019-12-23 17:41] mars64 commented on #85880
Stumbled here researching cgroup configuration. I do not believe this is a Kubernetes or cgroups problem.

[code]

This line simply means the Kubelet was correctly able to read cgroup configuration.

[code]

This line means your storage had some kind of hiccup and didn't come up properly. You should investigate storage logs for this timeframe. Possible disk full scenario as per:

[code]

[2019-12-23 17:51] ijumps commented on #86552
First of all, I apologize for the statements that may offend you below.

I agreed that it's strongly recommended to keep k8s cluster updated or at least use a supported k8s version. I researched the support/valide kubernetes version policy on public kubernetes cloud like GKE AKS and ACK, they do keep limited lifecycle on certain k8s version.

But it's for the customs or end users to choose whether

[2019-12-23 17:54] bowei commented on #82515
What is the controller you are using? This kind of conflict is very much controller deployment dependent

[2019-12-23 17:56] apelisse commented on #86525
That's such a great point, thank you!

[2019-12-23 18:07] pbalajiips commented on #82515
We are using traefik ingress controller

On Mon 23 Dec, 2019, 2:54 PM Bowei Du, <notifications@github.com> wrote:

[2019-12-23 18:33] roy-work commented on #86499
Well, yes, the node didn't seem to be actually at 100% memory use; as mentioned, it seemed to have significant headroom.

[2019-12-23 19:26] aweis89 commented on #56584
Is there a manual fix for this? Seems like any manual IP changes to the kubernetes endpoint object is getting reversed

[2019-12-23 19:33] czheng94 commented on #79337
Any update on this issue?
I have also been bothered by the same problem. Will be great if we can just apply what's described in Q1, and make the hash label values consistent for both daemonset and statefulset.

[code]

[2019-12-23 19:37] fejta-bot opened #86562 "pr:pull-kubernetes-e2e-gce-100-performance flaked 24 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **24**
 Consistency: **93.00%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| ClusterLoaderV2 | 17 |
| testing/density/config.yaml | 16 |
| Stage | 5 |

#### Previously closed issues for this job flaking:
#83529 #81890 #83870 #62592 #73884 #67295

[Flakiest Jobs](https://storage.google

[2019-12-23 20:47] SleepyBrett commented on #40651
It's absurd that this hasn't been addressed, there was a feature request for this back when it was called `petset`.

[2019-12-23 20:59] mltsy commented on #81042
Oooh, I had not heard of Docker's `--init` flag before - that's interesting!
Here's a link for others with this issue who don't know about it:
https://docs.docker.com/config/containers/multi-service_container/

Sounds like that could actually fix the problem here, right?  The problem that page describes sounds like it would cause exactly this issue, and it sounds like the solution designed into Do

[2019-12-23 21:14] cblecker commented on #82605
What command are you running? Is this still an issue?

[2019-12-23 21:25] #86497 closed

[2019-12-23 22:46] neolit123 commented on #86538
this is something that we discussed at some point, but the problem is that at this point it could be a breaking change to all the users that separated the init process into phases.

before applying this change we need an estimate of the implications.

is there are way to tell an openrc service to loop-restart (crash loop) the same way as systemd is doing?

/kind design
/area ecosystem

[2019-12-23 22:46] neolit123 commented on #86538
i'm going to close this thicket and move it to k/kubeadm.

/close

[2019-12-23 22:46] #86538 closed

[2019-12-23 22:48] neolit123 commented on #86538
opened here https://github.com/kubernetes/kubeadm/issues/1986

[2019-12-23 23:05] neolit123 commented on #86543
/sig apps

[2019-12-23 23:05] neolit123 commented on #86531
/sig node

[2019-12-23 23:06] neolit123 commented on #86544
/sig node windows

[2019-12-23 23:07] neolit123 commented on #86494
/sig cli

[2019-12-23 23:07] neolit123 commented on #86471
/sig network

[2019-12-23 23:07] neolit123 commented on #86562
/sig testing scalability

[2019-12-23 23:08] neolit123 commented on #86562
/kind flake

[2019-12-23 23:08] neolit123 commented on #86420
/sig node

[2019-12-23 23:10] neolit123 commented on #86372
hi, the /addons folder is mostly unmaintained at this point.
you can go to the fluentd maintainers and ask them how to build.

/sig instrumentation
or alternatively go to the #sig-insturmentation slack of k8s and ask there.

[2019-12-23 23:10] neolit123 commented on #86367
/sig cli

[2019-12-23 23:13] neolit123 commented on #86235
/triage support
/remove-kind bug
/sig api-machinery

[2019-12-23 23:17] neolit123 commented on #85901
hi, containers in a Pod are started at the same time.

see this related issue https://github.com/kubernetes/kubernetes/issues/65502
/close

[2019-12-23 23:18] #85901 closed

[2019-12-23 23:18] neolit123 commented on #85921
/sig apps
/kind feature

[2019-12-23 23:19] neolit123 commented on #86038
hi, better try asking in the k8s slack channel #kubernetes-users or on stackoverflow.

/close
/remove-kind bug
/triage support

[2019-12-23 23:19] #86038 closed

[2019-12-24 00:48] msau42 commented on #83323
/assign @cofyc

[2019-12-24 01:06] roycaihw commented on #81616
/remove-lifecycle rotten

[2019-12-24 01:12] zhangxingdeppon commented on #86540
@zq-david-wang Hi, buddy,  Do you have any ideas about this problem? thanks very much.

[2019-12-24 01:33] danielqsj commented on #82846
/remove-lifecycle stale

[2019-12-24 01:41] roycaihw commented on #81616
ref https://github.com/kubernetes/kubernetes/pull/81618#discussion_r361040353

the issue has been fixed by https://github.com/kubernetes/kubernetes/pull/82780

/close

[2019-12-24 01:41] #81616 closed

[2019-12-24 01:41] msau42 commented on #86390
CSI volume expansion flake should be fixed by https://github.com/kubernetes/kubernetes/issues/86317

As for the failing gluster test, I debugged a little bit and found that the test Pod got scheduled to node gce-scale-cluster-minion-heapster.  I'm not familiar with the scale test setup. Is that an expected node that e2e pods should be scheduled to?

[code]

[2019-12-24 01:44] ahg-g opened #86571 "Move ResourceLimitsPriority to its Score plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

We need to move the unit tests as well. For now ignore the metadata as a postfilter plugin (i.e., just call getResourceLimits inside Score).

See #86399 as an example.

Part of #85822

/assign @zouyee

[2019-12-24 01:47] msau42 commented on #81609
/remove-lifecycle rotten
/assign @jingxu97

[2019-12-24 01:53] draveness commented on #85924
/cc

I could take on this if @ravisantoshgudimetla is not available these days.

[2019-12-24 01:55] ahg-g commented on #85924
we are doing this one by one, we actually don't need this anymore.

[2019-12-24 01:55] #85924 closed

[2019-12-24 02:18] wenjianhn commented on #38915
K8s should watch the xenstore event and some retry logic here.

[2019-12-24 02:37] jmickey commented on #83070
/remove-lifecycle stale

[2019-12-24 03:25] zouyee commented on #86571
ack

[2019-12-24 03:44] #75220 closed

[2019-12-24 03:45] vladimirvivien commented on #75220
I don't most (if not all) are needed any longer due to the massive progression of the codebase since this was open.  If I am wrong, please feel free to re-open.

[2019-12-24 04:04] zhouya0 commented on #86549
1. In your giving yaml file. There missed `namespace` field in `ClusterRoleBinding` `subjects`.
2. Normally after this yaml, you will get `yes` when you using `kubectl auth can-i patch nodes --as system:serviceaccount:default:test-sa`. If not, please give more info about your `kubectl auth can-i ` command.

[2019-12-24 04:11] #80463 closed

[2019-12-24 06:56] sofat1989 commented on #82523
@krmayankk I tested this using a plain pod yaml. I have some use cases that we dont want to re-create the pods and just want to update the pods' yaml

[2019-12-24 06:57] sofat1989 commented on #86337
cc @Random-Liu

[2019-12-24 06:57] ashutoshgngwr commented on #86549
@zhouya0

1. Sorry, I accidentally missed it when editing config for the issue.
2. It still says no though I am checking `kubectl auth can-i cordon nodes` and not `kubectl auth can-i patch nodes`. `can-i patch nodes` works fine.

[2019-12-24 08:18] deitch commented on #44165
/reopen

[2019-12-24 08:18] 2018-11-27 commented on #66231
How do you solve this problem? I am facing the same problem as your message. I can't sleep at night for this. But I can get indicators by manually executing `curl - K {metrics server: Port}`. It seems that apiservice cannot communicate with metrics server.

[2019-12-24 08:26] zq-david-wang commented on #86540
@zhangxingdeppon  Mostly the accuracy depends on the frequency of sampling,  `top` may fetch a sample every 1s, yielding a much accurate measurement, but for the container metrics collected by prometheus via cadvisor endpoints, there are two sampling processing involved, cadvisor and prometheus both has its own sampling configuration and it is hard to sync the sampling processes.
It could be helpf

[2019-12-24 08:32] yinwenqin opened #86579 "apiserver Feature Gates enable VolumeSubpathEnvExpansion but no effect"
**What happened**:

I would like to use subPath with expanded environment variables in order to prevent pods(with replicas) writing on same file.

So I turn on the VolumeSubpathEnvExpansion option by modify `/etc/kubernetes/manifests/kube-apiserver.yaml`, like this:

[code]

Then every apiserver instance auto reboot, the new process contains this new option:
[code]

I create a new sts for test:
[c

[2019-12-24 08:33] yinwenqin commented on #86579
/sig api-machinery

[2019-12-24 09:47] zhangxingdeppon commented on #86540
@zq-david-wang yes, I got it, you are right,  perfectly answered my question, thanks very much;
I think if we want to reslove this issue, maybe `metric/cadvisor` can explicitly calculate the percentage value,  and add it in metrics  like `container_cpu_usage_percentage  50%` , but not `container_cpu_usage_seconds_total`, In addition, add a metric in `kubelet metrics`,  this is also okay.
anyway, t

[2019-12-24 09:51] zhouya0 commented on #86549
@ashutoshgngwr
Sorry, i forget you were asking about `cordon`. I get the same `no` answer,  but actually i can corden nodes using `kubectl cordon node1 --as system:serviceaccount:default:test-sa`. So the problem goes to `kubectl auth can-i`.
I think it will just check the verbs you were writing in role yaml file: `patch`, `get`. So when it comes to `cordon`, it has no such verb, so it just saying

[2019-12-24 10:18] mm4tt commented on #82875
I think the fix we applied as a part of this issue helped (at least when it comes to the symptoms describe here).
Closing this one.

/close

[2019-12-24 10:18] #82875 closed

[2019-12-24 10:18] hainesc commented on #81227
/remove-lifecycle stale

Please do not close this until #83105 merged or closed.

[2019-12-24 11:42] yiyang5055 commented on #85822
/cc

[2019-12-24 11:58] gongguan commented on #85822
/cc

[2019-12-24 12:23] gzqx opened #86587 "Flannel pod on node stuck at Init:0/1"
**What happened**:
This seems to be similar with #72462 but it don't seems to solve the problem and a long time has passed.
After applying flannel and adding an edge node, `kubectl get nodes` shows that the edge node is `NotReady`.
`kubectl get pods` returns
[code]
executing `sudo kubectl -n kube-system logs kube-flannel-ds-amd64-... -c install-cni` to the problem pod returns
`Error from server: G

[2019-12-24 12:25] guzhaqixin commented on #86587
`sudo kubectl describe --namespace=kube-system pod kube-flannel-ds-amd64-ctqb6` returns
[code]

[2019-12-24 12:27] b675987273 commented on #30189
Oh, thanks. I had found it from the source code.

[2019-12-24 12:34] guzhaqixin commented on #86587
I'm not quite sure with the sig label thing and in case I make mistakes I apologize in advance...
/sig Network

[2019-12-24 12:51] yangxikun opened #86590 "rest/request.go Request.request retry logic bug?"
When retry, r.ctx should be reset to original value.
[code]
Sample code to verify this bug:
[code]

go run test.go
[code]

[2019-12-24 13:23] minhtrietbkit commented on #86471
Hi there, @robinwangrubin
From your cluster node, you should be able to access your svc through

- CLUSTER_IP:PORT
- POD_IP:PORT

You were able to access through the POD_IP:PORT but not the CLUSTER_IP:PORT. I'm not sure why but I think it may have been due to some misconfigurations.

From the screenshot, I see your svc has two endpoints: 10.244.3.2:80 and 10.244.4.2:80. You were able to access the

[2019-12-24 14:06] ashutoshgngwr commented on #86549
That was my original issue. Sorry if i wasn't able to be more clear. :sweat_smile:

[2019-12-24 14:51] liggitt commented on #86579
You also need to enable it on the kubelet, which is responsible for setting up the mounts.

/close

[2019-12-24 14:51] #86579 closed

[2019-12-24 14:53] liggitt commented on #86559
Protobuf can only be used with data for which a schema is already known. It also is not straightforward to distinguish "present but null" values from "unspecified" values, which is necessary for patch requests.

Adding support for protobuf-based patches would be a feature, not a bug fix, and it's unclear how feasible it is.

[2019-12-24 14:56] liggitt commented on #86549
`can-i` answers queries about API-level verbs, not kubectl commands. There is no "cordon" API verb, so no roles grant that permission. Running `can-i` commands that check the underlying API operations performed (in this case, get/patch nodes) is the correct approach.

/close

[2019-12-24 14:56] #86549 closed

[2019-12-24 14:59] liggitt commented on #86536
Thanks for the issue, but a bug is not required to track this. @seans3 is working on moving the functionality to a standalone command to unblock kubectl extraction while keeping the function available.

[2019-12-24 14:59] #86536 closed

[2019-12-24 15:25] ashutoshgngwr commented on #86549
@liggitt thanks for the clarification.

[2019-12-24 15:40] binlab commented on #58065
Any ideas for fix working kubectl with a socks5 proxy?

[2019-12-24 15:41] binlab commented on #58065
/remove-lifecycle stale

[2019-12-24 16:38] mmiara commented on #86556
Is the best practice here to force shutdown the pods after the node is shut down so that the master components are moved to another node as the leader? Or is there a better way to do this so that the pods are stopped before the node is shutdown?

[2019-12-24 16:50] kwiesmueller commented on #86559
As far as I remember, apply uses the openapispec which is different for some things than the respective proto.

A more detailed error message for the patch sent in the issue linked above:
[code]

[2019-12-24 17:22] liggitt commented on #86559
The linked issue is generating incorrect json. A proto-to-json translator will not work correctly, given some of the json serializations of our API types.

[2019-12-24 18:33] #86559 closed

[2019-12-24 18:34] liggitt commented on #86559
Added comments to the linked issue, can discuss there

[2019-12-24 19:00] bojanpog opened #86594 "/apis/admission.certmanager.k8s.io/v1beta1?timeout=32s 503 Service Unavailable"
Hello!

After successfully upgrading kubernetel  from version 1.17 to v.1.17 all commands like "kubectl get pods" has some delay displaying data. After executing "kubectl get pods -v=6" I get this result:

_I1224 19:54:51.511686   27758 loader.go:375] Config loaded from file:  /root/.kube/config
I1224 19:54:51.529036   27758 round_trippers.go:443] GET https://k8s.cluster:6443/api?timeout=32s 200 O

[2019-12-24 19:42] alikhil commented on #83111
/unstale

[2019-12-24 19:43] alikhil commented on #83111
/remove-lifecycle stale

[2019-12-24 19:43] #86439 closed

[2019-12-24 20:37] tedyu commented on #86594
[code]
Same version appeared twice. Which version did you run before the upgrade ?

Is there anything noticeable in apiserver / controller-manager logs ?

Thanks

[2019-12-24 20:52] bojanpog commented on #86594
Hello!

Sorry about the version .. before was v1.16
Logs from controller-manager:

I1224 13:26:08.384914       1 deprecated_insecure_serving.go:53] Serving insecurely on [::]:10252
I1224 13:26:08.384978       1 leaderelection.go:242] attempting to acquire leader lease  kube-system/kube-controller-manager...
I1224 13:26:08.385007       1 tlsconfig.go:219] Starting DynamicServingCertificateControlle

[2019-12-24 21:04] bojanpog commented on #86594
maybe some additional help - I am using helm and it was installed on version 1.16..

[2019-12-24 21:34] neolit123 commented on #86594
/triage support

hi, this is a helm / certmanager issue.

related:
https://github.com/jetstack/cert-manager/issues/2273
https://github.com/helm/charts/issues/10869

you should look for an existing bug in those repositories or open a new one.

thanks.
/close

[2019-12-24 21:34] #86594 closed

[2019-12-25 01:41] liggitt commented on #86546
FYI, secret volumes are stored in tmpfs memory backed mounts, not disk

[2019-12-25 02:02] Pingan2017 opened #86596 "IsLikelyNotMountPoint hung"
**What happened**:
https://github.com/kubernetes/kubernetes/blob/bb7bad49f54b682a9ec2d6c82824673acc33c64c/vendor/k8s.io/utils/mount/mount_linux.go#L223-L238
`IsLikelyNotMountPoint` will call `os.Stat`  to check the mount Point.
but sometimes, when the server (eg. nfs server) cannot connect, os.Stat will hung and will never return. It will cause `IsLikelyNotMountPoint` hung.

This func is called in

[2019-12-25 02:10] hex108 commented on #86162
Would we create a algorithm provider for kubelet?

[2019-12-25 02:16] ahg-g commented on #86162
I am not sure, it may be too much to have the kubelet instantiate a full framework or scheduler, lets wait and see where we end up.

[2019-12-25 02:32] hase1128 opened #86597 "Improve documents and guidance of each script in hack directory"
**What would you like to be added**:
There are many useful scripts in "https://github.com/kubernetes/kubernetes/tree/master/hack".
For example, I often use `install-etcd.sh` and `local-up-cluster.sh` for creating simple k8s cluster quickly.
However, there are only few explanation or nothing how to use it.
I think it becomes more useful and helpful if some instruction or guidance is explained in ea

[2019-12-25 02:36] hase1128 commented on #86597
I don't know who is in charge of each scripts of hack, but if he agree the idea of this feature request , I am going to do this task myself!!

[2019-12-25 02:41] bswartz commented on #80918
/remove-lifecycle rotten

[2019-12-25 02:41] hase1128 commented on #86597
/sig testing

[2019-12-25 02:45] yangxikun commented on #86590
@liggitt Thanks, got it. But, Is it better to put this code outside the loop?
[code]
So that, the code is more clear and eliminate useless context.WithTimeout.

[2019-12-25 02:49] tedyu commented on #86596
What would be a proper timeout value ?

[2019-12-25 03:26] TisonKun commented on #80272
It seems this issue should be closed by #85188 :-)

[2019-12-25 03:30] hex108 commented on #86162
I can give it a try :)

[2019-12-25 03:36] ahg-g commented on #86162
Sure, but once we move to the new algorithm provider registry, which I am working on.

[2019-12-25 03:42] candidature commented on #67526
I'm creating a network of pods and i don't know what all ports may come in. I would love to see range of ports as part of network policy Ingress and Egress. Sorry for my ignorance, please share details if this is already implemented.

[2019-12-25 06:30] xieyanker commented on #86421
It's caused by ExternalIP, same issue with https://github.com/kubernetes/kubernetes/issues/75290.

[2019-12-25 06:32] #86421 closed

[2019-12-25 06:48] du2016 commented on #86587
[code]
this error seem you should open the kubelet read only port

[2019-12-25 06:53] xieyanker commented on #75290
@lbernail  same issue！

Yes, I can use `nodeport` to replace `externalIP`. However I cannot guarantee that all services in the cluster will follow this rules. Once a service is used incorrectly, the node will become `NotReady`

[2019-12-25 08:01] #86405 closed

[2019-12-25 08:02] bojanpog commented on #86594
updating cert-manager solved my problem. Thank you for your help!

[2019-12-25 08:18] superbrothers opened #86605 "e2e storage: want to use InternalIP for disruptive tests"
**What would you like to be added**:

I'd like to use InternalIP instead of ExternalIP for disruptive tests on e2e storage.

**Why is this needed**:

disruptive tests on e2e storage use ExternalIP as follows:
https://github.com/kubernetes/kubernetes/blob/70132b0f130acc0bed193d9ba59dd186f0e634cf/test/e2e/storage/nfs_persistent_volume-disruptive.go#L124

However, since our own private clusters have

[2019-12-25 08:20] superbrothers commented on #86605
/sig storage

[2019-12-25 09:37] samkrish123 opened #86608 "Could not connect to apt.kubernetes.io:80 (35.201.71.162). - connect (113: No route"
I am trying to install kubernetes in my ubutu 18.04, I even tried package.cloud.google.com as well. I guess there is some issue with my server. I disabled windows norton as well.  Did anyone face this issue before.

sudo apt-add-repository " deb https://packages.cloud.google.com/apt/ kubernetes-xenial main"

Error: Unable to connect apt.kubernetes.io.80

root@k8s:/u01/k8s# sudo apt-get update
Hit:

[2019-12-25 11:51] #86407 closed

[2019-12-25 12:16] haosdent commented on #86194
@zhucan This should be just incomplete display info. It should not affect whether netdev effective or not.

[2019-12-25 12:22] haosdent commented on #86194
@zhucan you could try to mount `-v /run/mount:/run/mount` when launching containers. Because mount command depends on this file `/run/mount/utab` to identify whether the mount point is netdev or not.

[2019-12-25 12:25] denkensk commented on #85822
/cc

[2019-12-25 12:33] haosdent commented on #85992
@Binyang2014 Understand, your request make sense.

[2019-12-25 12:34] draveness commented on #86442
/close

Since #86530 is merged

[2019-12-25 12:34] #86442 closed

[2019-12-25 12:36] draveness commented on #69010
/close

feel free to reopen this

[2019-12-25 12:36] #69010 closed

[2019-12-25 12:36] draveness commented on #84248
/unassign

[2019-12-25 12:38] houshunwei commented on #81713
v1.16 has "startupProbe", that may solve this problem:
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

Thanks to the startup probe, the application will have a maximum of 5 minutes (30 * 10 = 300s) to finish its startup. Once the startup probe has succeeded once, the liveness probe takes over to provide a fast response to container deadlocks.

[2019-12-25 13:21] skilxn-go opened #86610 "Support passing pod annotations as default options for flexvolumes"
**What would you like to be added**:
**Passing pod annotations to flexvolume plugin as default options**

**Why is this needed**:
For example, we have two disks, each is 100Gi, which are controlled by one single flexvolume driver. And we advertised these two disk info to this node.

When user use this flexvolume, we use a scheduler framework plugin to assign one of the disks to pods ( find a node

[2019-12-25 13:21] skilxn-go commented on #86610
/sig storage

[2019-12-25 13:49] tedyu commented on #84248
@serathius
Can you chime in w.r.t. @tallclair 's comment above ?

Thanks

[2019-12-25 14:02] andyzhangx opened #86611 "Cannot mount azure disk on Standard_DC4s/DC2s instances"
**What happened**:
Cannot mount azure disk on Standard_DC4s/DC2s instances
details: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/212

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- O

[2019-12-25 14:42] ahg-g opened #86613 "Move volume limits predicates to their Filter plugins [Migration Phase 2]"
/sig scheduling
/priority important-soon

Part of #85822

/assign @draveness

[2019-12-25 15:20] zhucan commented on #86194
@haosdent Thanks, I will try it.

[2019-12-25 15:27] zhucan commented on #86194
@haosdent It's ok. But I don't know more about utab, Are there any risks？

[2019-12-25 16:30] elsesiy commented on #74178
Is there an ETA on this? If I see it correctly, this currently preventing plugin authors to implement completions as the generated completion suggestions are based off the root command `kubectl` and not the subcommand aka plugin. I've been trying all day to make this work but failed and that's when I stumbled over this issue..

[2019-12-25 16:46] #80668 closed

[2019-12-25 17:57] aojea commented on #85894
I've submitted a PR that fixes the problem (ive tested it locally and can't reproduce the error), forcing the port allocator to sync with etcd before doing the allocation

[2019-12-25 18:03] neolit123 commented on #86608
/remove-kind failing-test
/triage support

hi, this seems like a networking issue and not a k8s bug or feature request.
try searching/posting on stackoverflow or in the k8s slack.

thanks.

/close

[2019-12-25 18:03] #86608 closed

[2019-12-25 18:51] vinodhbasavani commented on #20753
I can't remove the claimReference. without setting any claimRef to null, is there any resolution for this?

[2019-12-25 20:25] ahmetb commented on #74178
Several major issues I see here are:

- We don't want files like `completion.yaml` as proposed in previous comment. We had a plugin.yaml requirement prior to kubectl 1.12 and it didn't look great at all. The simplicity of plugins is valuable to us. (Also, unlike Helm plugins, kubectl plugins don't live at a particular directory, or follow a directory structure.)

- Plugin completions most likely w

[2019-12-25 20:50] rikatz commented on #86507
Hi @ghhenry

A question, are you 'curl'ing' from inside the Pod or from outside?

What happens here is that kube-proxy creates a Nat rule into the node, with the needed rule when it arrives into the Node.

As the Pod has its own Network Namespace, calling "localhost" from inside would call the Pod rather than the Node.

If this isn't the case, let me know and I'll try to reproduce here.

BTW, I've

[2019-12-25 20:51] rikatz commented on #86507
/assign @rikatz

[2019-12-25 20:52] rikatz commented on #84671
@timchenxiaoyu As there's no answer since 1 month ago, I'm closing this issue but feel free to reopen it when you get some additional information or if this issue isn't resolved.

/close

[2019-12-25 20:52] #84671 closed

[2019-12-25 21:11] ranjit552 opened #86617 "'-f' flag in kubectl apply is not working"
**What happened**: I am trying to use kubectl apply in Python the following manner
n = '--namespace mynamespace'
['kubectl', 'create', 'secret', 'generic',mysecret,'--dry-run','-o','yaml',n,'|','kubectl','apply','-f','-',n]
I get an error saying : unknown shorhand f in -f

**Environment**: docker desktop for mac, GKE
- Kubernetes version (use `kubectl version`): 1.16
- Cloud provider or hardware c

[2019-12-25 21:28] ranjit552 commented on #86617
/sig kubernetes

[2019-12-25 21:29] ranjit552 commented on #86617
/k8s-sig-docs

[2019-12-25 21:33] ranjit552 commented on #86617
/wg k8s-infra

[2019-12-25 21:35] ranjit552 commented on #86617
/sig cloud provider

[2019-12-25 21:35] ranjit552 commented on #86617
/sig cloud-provider

[2019-12-25 21:52] tianyaning opened #86619 "How to pause a daemonSet rolling update?"
I want to know how to pause a daemonSet rolling update, like pause a deployment?
If not, are you going to support it in the future？
THX   ：）

[2019-12-25 22:08] alaymodi commented on #81121
hi! if there is any more work to be done on this, I would love to help.

[2019-12-25 23:02] neolit123 commented on #86619
/sig apps
/kind feature

the owners of this area of k8s have a slack channel -> #sig-apps of k8s slack.

[2019-12-25 23:27] #86443 closed

[2019-12-26 01:07] zouyee commented on #86571
/close

[2019-12-26 01:07] #86571 closed

[2019-12-26 01:16] zouyee commented on #86444
If there is no time to deal with it, I would like to  fix it.

[2019-12-26 01:16] aojea commented on #44918
/reopen

[2019-12-26 01:41] ahg-g commented on #86444
/assign zouyee
/unassign tanjunchen

[2019-12-26 01:42] ahg-g commented on #86447
/unassign
/help

[2019-12-26 01:44] danielqsj commented on #86447
/assign

[2019-12-26 01:44] danielqsj commented on #86447
/remove-help

[2019-12-26 01:54] ahg-g opened #86622 "Move CheckNodeUnschedulable predicate to its filter plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon
/assign zouyee

Part of #85822

[2019-12-26 01:57] zq-david-wang commented on #86597
I believe there is a script generating swagger/openapi specfilters under hack, but I am still struggling with it. It could be of great help if there is some how-to doc for each scripts.

[2019-12-26 02:06] skilxn-go commented on #86610
/area kubelet

[2019-12-26 02:14] zouyee commented on #86622
ack

[2019-12-26 02:22] 3Golds opened #86624 "How do I modify the health check interval of aws NLB TargetGroup"
**What happened**:
I created a service (type=loadBalancer, service.beta.kubernetes.io/aws-load-balancer-type: nlb), but I found that can't change HealthCheckIntervalSeconds.

**What you expected to happen**:
In my opinion, when ingress nginx is updated, it may appear that the pod of ingress nginx has been terminated, but the health-check of NLB has not been completed, and there may be traffic tran

[2019-12-26 02:24] 3Golds commented on #86624
- /sig cloud-provider

[2019-12-26 03:34] attlee-wang opened #86626 "pods cannot be scheduled, bug nodes has enough resources"
**What happened**:
I have a large k8s cluster with 500~600 nodes(The node specifications and label are exactly the same) and autoscaler using running a lot of jobs(jobs also the same). I found a problem that some pods cannot be scheduled and always in the pending status, bug nodes has enough resources. that node scheduled pod at once when restart kube-scheduler.  I suspect that's because kueb-sche

[2019-12-26 03:36] attlee-wang commented on #86626
/sig Scheduling
/wg Scheduling

[2019-12-26 03:40] attlee-wang commented on #86626
/committee Scheduling

[2019-12-26 03:53] attlee-wang commented on #86626
@liggitt Look at the problem

[2019-12-26 03:54] attlee-wang commented on #86626
@liggitt See at the problem

[2019-12-26 03:56] attlee-wang commented on #86626
/wg Multitenancy

[2019-12-26 03:58] ghhenry commented on #86507
Hi @rikatz, the commands were run from outside, not from a pod, There is also no firewall active.

[2019-12-26 04:26] tnqn commented on #86333
Hi @liggitt,  I looked into the failures and think it was because the test required the job succeeds 3 times with pseudorandom 50% failure chance within 15 minutes, while there is an exponential back-off delay (10s, 20s, 40s …) capped at 6 minutes before recreating failed pods.
As 7 consecutive failures (1/128 chance) could exceed the timeout, the test failed intermittently because of "timed out w

[2019-12-26 04:41] KobayashiD27 commented on #85495
#86628 fix 10 11 12

[2019-12-26 05:14] hex108 opened #86630 "Scheduler: use the power of two random choices to select nodes"
**What would you like to be added**:

[The power of two random choices](https://www.eecs.harvard.edu/~michaelm/postscripts/handbook2001.pdf) has been used in many systems, e.g. [Sparrow: Distributed, Low Latency Scheduling](https://cs.stanford.edu/~matei/papers/2013/sosp_sparrow.pdf), [Nomad](https://www.nomadproject.io/docs/schedulers.html#batch). Kube-schedule could also use it to to limit the n

[2019-12-26 06:01] houshunwei commented on #81713
"kubelet sent nothing to the container when it decided that the probe failed."
my workmate said that it's not a bug for kubelet, it is a config problem for system.
Everyone who  has this problem should check the system config, for example:
net.ipv4.tcp_max_syn_backlog

and so on, so that process cannot create tcp connection.

[2019-12-26 06:31] guzhaqixin commented on #86587
`sudo netstat -ntulp | grep 10250` returns:
[code]

[2019-12-26 07:06] azmathasan92 commented on #85987
@haosdent No, I Don't think so that there is a network problem.

Today, The controller manager pod is restarted.

![image](https://user-images.githubusercontent.com/46434910/71463268-d39fae80-27db-11ea-861b-afd43a0419bf.png)

here are the logs:

[code]
I am worring about that, Please provide me the exact reason for this happening.

[2019-12-26 07:14] abel-von commented on #83476
We are using k8s to run kata container, the resource topology should be aligned in pod level, so I think change hint generation to pod level is a better choice. I don't think alignning resource separately is any necessary.

[2019-12-26 07:21] zhouya0 commented on #86525
I think can try to help to write documentation, because i know `kubctl diff` a lot , but i never did that before. So should submit PR directly into `https://github.com/kubernetes/website`?

[2019-12-26 08:00] whalecold commented on #71975
i have a question, why the completed pods remained if not speficy the delete `PropagationPolicy`, the default `PropagationPolicy` is `Orphan`?

[2019-12-26 08:00] YuikoTakada commented on #85495
#86637 fix 13 15

[2019-12-26 08:05] zhangguanzhang commented on #75443
@lbernail have resolve is?

[2019-12-26 08:22] divyanshuverma1 commented on #45626
Check the space in the Worker node. # df -h. If there is no space in the worker node, then It would not be able to pull the image from the registry and can be one of the causes for "ERROR SYNCING POD".

Make some space in the server and do the rollout.
# oc get dc
# oc rollout latest dc/<dc_name>

[2019-12-26 09:02] #58384 closed

[2019-12-26 09:02] #80704 closed

[2019-12-26 09:06] bootc commented on #82958
/remove-lifecycle stale

[2019-12-26 09:58] tanjunchen commented on #85495
/cc @neolit123
/cc @liggitt
Hello , Do you agree that the ulrs(CHANGELOG-1.*.md) above? They are too old , We should't  correct them . Thanks.

[2019-12-26 10:05] bboreham commented on #67526
@candidature if you literally don’t know, then say nothing about ports: then every port will be allowed.

(Also FYI Kubernetes defines the specification of NetworkPolicy; all current implementations are 3rd-party and may implement more or less than the spec)

[2019-12-26 10:53] wknapik commented on #60751
Please provide [guidance](https://github.com/kubernetes/kubernetes/issues/60751#issuecomment-491289026) before closing.

/remove-lifecycle stale

[2019-12-26 10:58] haosdent commented on #86194
up to your case, can refer to this answer https://unix.stackexchange.com/questions/406256/what-is-run-mount-utab

[2019-12-26 11:04] #80698 closed

[2019-12-26 11:10] zerosnake0 commented on #77073
/reopen
/remove-lifecycle rotten
same issue with v1.17 as well

[2019-12-26 11:56] haosdent commented on #86499
how about `kubectl describe node aks-nodepool1-35944238-1`

[2019-12-26 12:53] yttan opened #86642 "Is there any plan for secret/configmap status?"
There is no way to find out if a secret/configmap is used by a pod or not for now.
Is there any plan for adding a status like PVC's Bound/Available?
Or can you tell me why you decide not to have a status for  secret/configmap?

A user case example:

I have a test secret.
[code]
And I have a deployment using this secret.
[code]
 The deployment has a runing pod.
[code]

While the pod is still runnin

[2019-12-26 13:45] Chandu3245 commented on #75803
HI, @aishwaryaprabhat  were you able to solve it. I am facing same error in GCP.

Can you please help me with the exact place to update.

[2019-12-26 14:07] #80629 closed

[2019-12-26 14:07] #80650 closed

[2019-12-26 14:12] zhucan commented on #86194
@haosdent The option of the _netdev is userspace，the utab  solves this problem.

[2019-12-26 14:31] aojea commented on #44918
/assign

[2019-12-26 14:34] RainbowMango opened #86644 "TestCommonKindsRegistered failing on release-1.17 as flowcontrol is not registered"
**What happened**:
`TestCommonKindsRegistered ` is failiing on [release-1.17](https://github.com/kubernetes/kubernetes/tree/7d04da8a4a80f22b1a165edb36a02aa9e01514cf).

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Run command `make test` on release-1.17.

**Anything else we need to know?**:
Master is ok, and this test has been removed by https:

[2019-12-26 14:50] RainbowMango commented on #86644
cc @yue9944882  Any comments? :)

[2019-12-26 15:28] neolit123 commented on #85495
@tanjunchen
what do you mean by removed?

the `kustomize.md` was worth fixing, but looks like you did that already:
https://github.com/kubernetes/kubernetes/commit/efd61ae3e4826125d65ef7824e3243e2480c7205

my vote goes to not update the changelog for versions that are too old. links and infrastructure change all the time. whole pages or even components might not exists at this point.

[2019-12-26 15:54] liggitt commented on #86626
Is this reproducible against a 1.15+ version of kubernetes?

[2019-12-26 15:55] liggitt commented on #86626
@kubernetes/sig-scheduling-bugs

[2019-12-26 16:09] #75484 closed

[2019-12-26 16:13] neolit123 commented on #86642
/remove-triage support
/kind feature
/sig api-machinery

[2019-12-26 16:14] tanjunchen commented on #85495
@neolit123
Yes, I agree with you that old links should be kept, so I should update the above URLs to prevent someone from submitting a pr to fix them.

[2019-12-26 16:22] neolit123 commented on #85495
please update the above list to only have items that need fixing.

[2019-12-26 16:24] jacksontj commented on #84248
As a user of the `/pods` endpoint -- the main advantage I have by using it is that I don't rely on the control plane availability to get the data. This is actually very important from a reliability perspective (lots of details in my [katalog-sync post](https://medium.com/wish-engineering/katalog-sync-reliable-integration-of-consul-and-kubernetes-ebe8aae0852a) if you are interested). But suffice it

[2019-12-26 16:30] neolit123 commented on #86644
/sig api-machinery
/remove-kind bug
/kind failing-test

i can confirm that it fails with `make test`:
but i couldn't get it to fail with:
`go test ./pkg/api/testing/... -count=1`

you can try asking in #sig-api-machinery, but people are on holidays right now.

[2019-12-26 16:40] apelisse commented on #86525
Yes, that's really appreciated @zhouya0. Feel free to ask more question on slack (#wg-apply), and I'd love to know what you're doing with diff!

[2019-12-26 18:23] #86444 closed

[2019-12-26 18:38] bowei commented on #44918
/lifecycle frozen
/remove-lifecycle rotten

[2019-12-26 18:38] liggitt commented on #86610
the flex volume options are passed to the driver, right? why wouldn't the required data be specified there, not in pod annotations?

[2019-12-26 18:39] bowei commented on #44918
It would be good to clarify where the scalability issue lies -- it may be in memory and w/ the serialized format that is stored on disk; would need different strategy for each.

[2019-12-26 18:40] liggitt commented on #86644
that is larger than I would expect in a cherry-pick. https://github.com/kubernetes/kubernetes/pull/86252 is a more minimal fix we could pick to release-1.17

[2019-12-26 18:41] liggitt commented on #86642
there is no plan to add status to these objects. since these are 1:many, status does not make as much sense as PV/PVC, which are 1:1

/close

[2019-12-26 18:41] #86642 closed

[2019-12-26 18:47] liggitt commented on #86617
Piping (kubectl create ... | kubectl apply ...) depends on interpretation by a shell, and will not work from within a single python invocation like that.

See https://stackoverflow.com/questions/19318859/execute-shell-script-from-python-with-multiple-pipes for an example of using the output of one command as the input to other from Python.

/close

[2019-12-26 18:47] #86617 closed

[2019-12-26 18:49] dobesv commented on #25238
I think it would solve this problem and a few others if you could specify in the yaml file that certain fields should be set only on creation.

In our case we want to be able to run apply to create the cluster and also to update it.  When updating, we want to leave `replicas` and container image alone during an update, but set them if the resource is being newly created.

[2019-12-26 19:14] saad-ali commented on #69507
It sounds like the problem is that in order for the mechanism to set ephemeral-storage limits (see [docs](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage), currently beta) to be useful users need a way to observe the current usage? That makes sense.

Does this work for folks?

[2019-12-26 19:34] robbinscp opened #86647 "cronjobs do not honor defined schedules"
**What happened**:

Cronjobs do not run on the specified schedule defined in the spec.  Some jobs seem to be "missed" by the scheduler.  Usually this recovers on its own, but it would be nice to have some sort of validation that this is either expected behavior or that there is something wrong with the cronjob system.

For example, I have a cronjob that runs every 5 minutes called `dns-checker`.

[2019-12-26 19:54] neolit123 commented on #86647
/sig apps

[2019-12-26 20:28] philipsparrow commented on #85020
I have similar issues (across Kubernetes, K3s and OpenShift). It happens on services (NodePort, ClusterIP) and StatefulSets when I have many TCP ports open and edit the resource to add a UDP port that has the same port number as an existing TCP port.
Since I've seen this similar behaviour in so many resource types, I suspect this is more than just a problem in NodePort Services. Happy to provide s

[2019-12-26 21:43] #86611 closed

[2019-12-27 00:52] skilxn-go commented on #86610
@liggitt Thanks for your reply, as I replied in slack, we need some dynamic info to be passed from scheduler plugin to flex volume plugin. Let me declare the  example more clearly. There is one node with two disks, and this two disks is controlled(mount/unmount) by one flex volume driver. Like this fig:
![image](https://user-images.githubusercontent.com/8231208/71494865-5d578680-2885-11ea-95a4-44d

[2019-12-27 01:02] skilxn-go commented on #86610
It can't be done with flex volume options is because that pods's spec can't be updated when scheduling.(except some fields like container images, etc)

[2019-12-27 01:05] liggitt commented on #86610
It's unclear to me what information you would put in pod annotations that would help the volume driver that couldn't be put in flex volume options. Maybe a concrete example would help understanding.

I don't anticipate exposing the pod annotation information to volume drivers, but there may be an alternate approach that would make more sense if we understood the use case and desired information be

[2019-12-27 01:10] dreadnautxbuddha commented on #63555
Hi @liggitt , securityContext isn't working for my deployments either. Here's the spec:

**Deployment:**
[code]

**PV**
[code]

**PVC**
[code]

**StorageClassName**
[code]

Originally, I was trying to setup permissions for my hostPath volume, but this is where I am now

[2019-12-27 01:13] liggitt commented on #63555
@dreadnautxbuddha what do you see when you do this:
[code]

what do the resulting pods contain when you output them as yaml?
[code]

[2019-12-27 01:17] skilxn-go commented on #86610
Thanks, let me say:
We have a big cluster with different types of nodes. Some has 1 ssd, some has 2 or more.
Now we want to use these ssds as a resource, but we don't want to make them as a big network filesystem for best performance.
Meanwhile, we can't use Local PV for the reason that local pv is static, we want to use them dynamically. One pod need 50G ssd while another pod need 50G can be bind

[2019-12-27 01:21] skilxn-go commented on #86610
As I described, I want to put the information of which ssd bind to a scheduled pod in scheduler. And use this information in flex volume driver.

[2019-12-27 01:22] dreadnautxbuddha commented on #63555
@liggitt :

_kubectl get deployment/apiserver -n development -o yaml:_
[code]

_kubectl get pods -n development -l app=<myapp>,tier=apiserver -o yaml:_
[code]

And by the way, with my current specs, my pod is stuck in a CrashLoopBackOff state.
`kubectl logs pod/<pod id>` returns this:
_/sbin/runit-wrapper: line 5: can't create /env: Permission denied_

[2019-12-27 01:31] RainbowMango commented on #86644
Great!  I will have a try.

I have a question, #86252 has been closed and the branch has been deleted too, so, how can I get the commit? Is there a guide for this?

I also not sure if the cherry_pick_pull.sh could handle this case.

[2019-12-27 01:31] adampl commented on #78531
/remove-lifecycle rotten

[2019-12-27 01:51] neolit123 commented on #86644
[code]

it can.

[2019-12-27 01:59] #85118 closed

[2019-12-27 01:59] #85353 closed

[2019-12-27 02:05] RainbowMango commented on #86644
I tested #86252 and it works.  See #86649.

Thanks @neolit123 @liggitt.

go test ./pkg/api/testing/... -count=1

By the way, if run the test with `go test` it won't fail. I have no clue. I guess this due to some env set by `hack/make-rules/test.sh`.

[2019-12-27 02:08] rohitkhatana commented on #54491
This feature should be there. It helps in identifying issue in much better/easy way. For example if we are facing issues during in a time window, in the that time window it is very relevant information to see.

[2019-12-27 02:15] liggitt commented on #71565
seen in https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86533/pull-kubernetes-e2e-gce/1210370599596068864/

[2019-12-27 02:25] andy-wolf168 commented on #80452
@odinuge @DeepLJH0001 @neolit123
I'm a little confused. when i used tuned to change the hugepagesz from 2Mi to 1Gi, i hit the same problem, after the reboot node is NotReady，but  when i used tuned to change the hugepagesz from 1Gi to 2Mi, after the reboot，kubelet status can still keep Ready.  why?

[2019-12-27 02:32] NickrenREN commented on #69507
I agree with @ragav0102 , we have ephemeral storage info in `PodStats`, but we also need to expose them as metrics so that users can observe and use them more easily and directly just like what we have done for persistent volumes.

[2019-12-27 02:37] attlee-wang commented on #86626
@liggitt I'm not sure, except for v1.12.4, I didn't find this problem in other versions. Even in version v1.12.4, I tried many times and didn't  reproduce it. It's difficult to reproduce it. If you need other information, you can @ me.

[2019-12-27 02:40] tedyu commented on #75957
@mml
I have added feature gate for the enhancement in @85299

[2019-12-27 02:51] liggitt commented on #63555
it looks like the runAsUser/runAsGroup settings are effective in your pod. It is very possible that the process in your pod is trying to do things that are not allowed to the uid/gid you have chosen (like create or write to specific directories on disk). You need to make sure that your selected image behaves well when run with your selected uid/gid

[2019-12-27 02:54] YuikoTakada opened #86651 "URL in some README is incorrect"
**What happened**:

In below README files, URLs are written. But these URL include version name(master, release-1.0, etc...) which are enclosed in <> and not shown in md files.

- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/storage-csi/external-snapshotter/README.md

- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/storage-csi/ex

[2019-12-27 03:03] chendotjs commented on #75443
@zhangguanzhang
Can you provide the minimal steps to reproduce, etc how the secondary IP is bound (though I dont' think it really matters ).
kube-proxy syncs the rules every 30s by default, so there may be a latency  for it to add new service when secondary IP is bound.

[2019-12-27 03:15] rikatz commented on #86587
@du2016 can you please check:

* if port 10250 is accessible also from outside of the node
* if ufw or any other system managed firewall is enabled into the box
* if /etc/cni/net.d has been populated with some file? (This might represent the correct functioning of the initContainer)

Thanks

[2019-12-27 03:19] zhangguanzhang commented on #75443
just use keepalived to keep a vip in nodes

[2019-12-27 03:22] zhangguanzhang commented on #75443
@chendotjs 你可以`ip addr add $VIP/$MASK dev $interface`手动或者写网卡配置文件给node的机器网卡添加vip后另一个机器ping下看看能不能通，能通了再看为啥kube-proxy没有bind上

[2019-12-27 03:31] neolit123 commented on #86651
/sig storage

[2019-12-27 03:31] neolit123 commented on #86651
/remove-kind bug
/kind documentation

[2019-12-27 03:32] attlee-wang commented on #86626
@wojtek-t @fgrzadkowski @gmarek @mwielgus See at the problem，it is similar to [#34772](https://github.com/kubernetes/kubernetes/issues/34772) and  [#37232](https://github.com/kubernetes/kubernetes/issues/37232). It seems that pod has been assumed on node, so other pod not scheduled. it’s ok when restart kube-scheduler. This is just my guess. and It needs to be confirmed.

[2019-12-27 03:36] paulgmiller commented on #76338
Sorry @squeed slow with holiday travel. Very doubtful #1 is the issue since one of the services that kubeproxy couldn;t find we reboot every 15 minutes. #2 I understand even less.

[2019-12-27 03:36] attlee-wang commented on #86626
@honkiko

[2019-12-27 03:44] attlee-wang commented on #85742
@udit249  @neolit123  I added a more detailed description of the problem at [#86626](https://github.com/kubernetes/kubernetes/issues/86626. this will close.

[2019-12-27 03:44] attlee-wang commented on #85742
/close

[2019-12-27 03:44] #85742 closed

[2019-12-27 03:57] kashishjt opened #86654 "kubectl error after creating cluster using kops on aws"
Hi,
I am getting below error while running "kubectl version" or "kubectl get nodes" commands on aws ec2 instance of ubuntu.
I have created kubernetes cluster using kops command and in dns-zone i have specified my owned domain name which is configured as Name Server in AWS hosted zones.

Below is the error i get :

Unable to connect to the server: dial tcp: lookup api.xxx.com on 127.0.0.53:53: no s

[2019-12-27 05:04] DangAnhDung commented on #81723
@andreib1  So can you share what is the root caurse of your case that Pod being Killed , I am interesting about this problems
Thanks you

[2019-12-27 05:42] liucimin commented on #75443
Yes.We found this problem in our cluster too.
@dcbw
Is the kube-proxy have options to use special ip for the ipvs virtual server?

[2019-12-27 07:00] healfy commented on #51835
And what about this issue? Did it resolve? I have a same, but this does not begin to happen immediately, but some time after the start of the node, if you reset the node, then for some time everything is good

[2019-12-27 08:04] Huang-Wei opened #86658 "Move Pod Topology Spread predicate logic to its Filter plugin [Migration Phase 2]"
/assign
/sig scheduling
/priority important-soon

This includes moving the metadata logic into PreFilter.

Part of #85822

[2019-12-27 08:25] #80632 closed

[2019-12-27 08:33] renjian52 commented on #85726
/retest

[2019-12-27 09:11] dploeger opened #86663 "azure-disk-dynamic-provisioner creates wrong node affinities"
**What happened**:

When dynamically creating a managed disk, azure-disk-dynamic-provisioner creates wrong affinities:

* When used with *Kind: managed* and the parameter "zoned" is true (default)
  * On a multi-node cluster in a VM scale set (using availability zones), the created pv can have an affinity for a node, where the dependent pod can not be scaled to (because of memory issues, e.g.)
* W

[2019-12-27 09:19] dploeger commented on #86663
/sig Cloud Provider

[2019-12-27 09:26] mm4tt commented on #73519
/title Perf-tests shouldn't use deprecated apiserver_request_latency_seconds_summary metric

[2019-12-27 09:27] mm4tt commented on #73519
/retitle Perf-tests shouldn't use deprecated apiserver_request_latency_seconds_summary metric

[2019-12-27 09:28] tanjunchen opened #86664 "alias kubeadmutil for "k8s.io/kubernetes/cmd/kubeadm/app/util""
/assign
/sig kubeadm
/kind cleanup

When I read the source code of kubeadm , I find that there are two alias for "k8s.io/kubernetes/cmd/kubeadm/app/util".
[code]
[code]
I think it is better to use `kubeadmutil`  due to  we use most of it.
This makes the code concise and readable, and makes it easy to know by reference that specific util not the universal util.
/cc @liggitt
/cc @neolit123
PTAL , Th

[2019-12-27 09:30] tanjunchen commented on #86664
/remove support

[2019-12-27 09:36] tanjunchen commented on #86664
sorry ， how  to  remove triage/support ?

[2019-12-27 09:57] pbertera commented on #86531
The command `docker container prune` removes the stopped containers, not the images.
Removing the terminated init container will cause a restart of the init container, see #67261

[2019-12-27 10:15] dploeger commented on #86663
Oh, is this about the current limitation about multi-zone-clusters as described in the [docs](https://docs.microsoft.com/en-us/azure/aks/availability-zones#azure-disks-limitations)?

[2019-12-27 10:47] tanjunchen commented on #81121
very interesting . focus on this topic

[2019-12-27 10:51] STASiAN commented on #50375
+1

[2019-12-27 11:14] megastallman commented on #85548
Hi @liggitt !
Here is a way to reproduce the problem. This is my script: https://gofile.io/?c=YXKNec Need to run with python2.
You need a running pod in some namespace(lines 7, 8, 9) and kubernetes credentials to populate  the dev_config_dict variable on line 84.
After running this script and getting a message from line 73 you have 60 seconds to run the `ss -napt | grep python2` command to see the

[2019-12-27 11:20] ialidzhikov opened #86666 "Namespace deletion fails because object does not implement protobuf marshalling interface"
**What happened**:
Namespace stuck in deletion because API resource does not implement the protobuf marshalling interface.

**What you expected to happen**:
kube-controller-manager to be able to terminate the namespace.

**How to reproduce it (as minimally and precisely as possible)**:
1. Setup sample-apiserver@0.16.4 running on Kubernetes v1.16.4 (minikube provider) using the minikube walkthrough

[2019-12-27 11:22] ialidzhikov commented on #86666
/sig api-machinery

cc @liggitt @smarterclayton

[2019-12-27 12:05] #86447 closed

[2019-12-27 12:58] sylr opened #86667 "Azure: incoming connections seen with cluster's outbound ip address"
**What happened**:

Here my setup:

- kubernetes 1.13.12 cluster
- Deployed manually with custom aks-engine version
- Nodes deployed on several availability zones in West Europe
- Using Standard Load Balancer
- Using Accelerated Networking interfaces
- Load Balancer rules have disable Outgoing SNAT **enabled**
- 1 Load Balancer rule **without** disable Outgoing SNAT enabled to control which IP add

[2019-12-27 12:59] sylr commented on #86667
/sig azure
/sig network

[2019-12-27 13:05] ialidzhikov commented on #86667
/sig cloud-provider
/area provider/azure

[2019-12-27 13:34] ialidzhikov commented on #86666
@liggitt , I think it could be related to #86253. The namespace controller is using the metadataClient which uses as AcceptContentTypes `"application/vnd.kubernetes.protobuf,application/json"`.
https://github.com/kubernetes/kubernetes/blob/b52cdca17d7271bfe78fc4c23936f8eb6146c600/staging/src/k8s.io/client-go/metadata/metadata.go#L62-L71

And the sample-apiserver is not able to fallback to `applica

[2019-12-27 13:35] #83187 closed

[2019-12-27 13:40] janario commented on #83089
/close

[2019-12-27 13:40] #83089 closed

[2019-12-27 13:45] mm4tt commented on #86434
I checked and we create 35 PersistentVolumeClaims per 100 nodes. So in case of 5K node test there will be 1750 PVCs in the cluster. This is close to the 2K of GET PVC requests we see.

[2019-12-27 14:01] rohanKanojia commented on #26353
@workhardcc @Laisky : Did you guys manage to solve this? I am facing the same issue

[2019-12-27 14:02] toadjaune commented on #76957
/remove-lifecycle stale

[2019-12-27 14:05] mm4tt commented on #86434
Let's analyze the last run of 5K node test in more depths  - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1210244261132374016

Grafana:
![WD7UnSp9PSy](https://user-images.githubusercontent.com/2604887/71519620-a674fe00-28b8-11ea-9aab-35cdb023a2e8.png)

As I wrote already somewhere here, it happens during the delete phase. We reach the peak of ~2K QPS

[2019-12-27 14:06] mm4tt commented on #86434
Looking at the api-server logs one can easily tell that something is wrong. It's swamped by GET persistentvolumeclaim requests:
[code]

[2019-12-27 14:06] ialidzhikov commented on #86666
Specifying `application/vnd.kubernetes.protobuf` as first entry in the Accept header returns 406:
[code]

Specifying `application/json` as first entry in the Accept header returns 200:
[code]

[2019-12-27 14:08] TarekAS commented on #40244
For Istio users on EKS:
Until this is fixed, here are some possible workarounds: https://github.com/istio/istio/issues/11579#issuecomment-569277030

[2019-12-27 14:11] mm4tt commented on #86434
Restricting the logs to a single stateful set on a single node (single client ip) it also doesn't look right.
[code]

Total such requests from this IP address:
[code]

[code]

So it looks like a single kubelet issued almost 20K GET requests for this PVC within ~75min, which gives us ~4 QPS from a single kubelet...

[2019-12-27 14:17] ssshaik opened #86668 "AWS APIGateway integration with Ingress controller"
Hi ALL,

am trying to integrate my Application which is deployed(AWS) using K8 with AWS API Gateway.

AWS APIG doesn't support SNI. The AWS support team requested to disable the SNI on my ingress.

Question :
1.) How can I disable an SNI.
2.) My Deployment has two applications running and is using ingress to route the traffic to my domains namely  dev.test.com and prod.test.com. If I disable the S

[2019-12-27 14:27] mm4tt opened #86669 "kube-scheduler.log has a lot of PersitentVolumeClaim binding errors in load test"
[ I stumbled upon this when debugging [#86434](https://github.com/kubernetes/kubernetes/issues/86434) ]

Example run (100 node) - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1210547271494537217
In the [kube-scheduler.log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1210547271494537217/artifacts/e2e-big-

[2019-12-27 14:29] mm4tt commented on #86434
From the scheduler logs it looks like the statefulset pod for this PVC was bound on the `gce-scale-cluster-minion-group-1-rjk3` node
[code]

Let's check the kubelet logs there

[2019-12-27 14:31] mm4tt commented on #86434
Kubelet logs: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1210244261132374016/artifacts/gce-scale-cluster-minion-group-1-rjk3/kubelet.log

Bingo, around the time when the issue happens, it's full of the following logs:
[code]

[2019-12-27 14:46] mm4tt commented on #86434
Looks like the errors disappear exactly when the pod is deleted
[code]

So what happens here is partially caused by our test as it may happen that we'll first delete PVC and won't delete the corresponding pod for the next O(1h).

Nevertheless, the code in the desired_state_of_world_populator.go should be fixed so it doesn't cause kubelet to send ~4QPS per PVC in such case.

[2019-12-27 15:22] howardjohn commented on #86531
the linked issue was closed as resolved but I'm not sure how (or if) it has been resolved.

I get the restarting failed containers, but starting an init container after the application container seems like a clear violation of the lifecycle

[2019-12-27 15:22] dreadnautxbuddha commented on #63555
Hi @liggitt , i doubt that it has something to do with my container. Here's my dockerfile:
[code]

[2019-12-27 15:46] hermanbanken commented on #76570
This hit us too. This being a new development cluster and not production, monitoring was not fully configured. Eventually we had 10.000 pods (which spinned up 100+ extra nodes) from one CronJob before we noticed.

[2019-12-27 15:53] #86658 closed

[2019-12-27 16:23] aojea commented on #44918
Right, I'm trying to understand the problem first.
This change (if needed) most sure will need a KEP, as Lubomir just suggested in the PR I'm using to test the related changes.

[2019-12-27 16:37] pbertera commented on #86531
@howardjohn: I can agree with you, looks like a weak design of the init container life cycle, the Kubelet relies on the terminated init container presence to define if the init container has been started.
You can even trigger the init container re-execution via the Kubernetes Garbage collector, see also #78328

[2019-12-27 17:27] #86622 closed

[2019-12-27 17:49] dreadnautxbuddha commented on #63555
Thanks @liggitt , that helped. Though the permissions weren't getting applied, I found out that there was an issue with my dockerfile.

[2019-12-27 18:37] akamath32 opened #86672 "Support multiple CIDRs in single security group rule in for AWS load balancers"
**What would you like to be added**:

I am using the `loadBalancerSourceRanges` feature on a `Service` object to whitelist certain IP ranges who have access to the service. When I deploy this on EKS, I see that the security group rules are per pair of `(cidr, port)`  which is evident from the code here:
https://github.com/kubernetes/kubernetes/blob/0387ee4244ecceeddeb77783b8fedd74dcc1fb44/staging/

[2019-12-27 18:40] akamath32 commented on #86672
/sig cloud-provider

[2019-12-27 18:51] neolit123 commented on #86664
/remove-triage support
/area kubeadm
/priority backlog

Feel free to send the cleanup PR.

[2019-12-27 20:23] thockin commented on #40244
As per https://github.com/kubernetes/kubernetes/issues/40244#issuecomment-510680742, this just needs a small KEP.  It was already added to EndpointSlice, I believe.

@robscott

[2019-12-27 20:31] robscott commented on #40244
@thockin Just a KEP to add an `AppProtocol` field to Services and Endpoints to match what we have in EndpointSlices? If so, I can write that up.

[2019-12-27 21:10] jlruizmlg commented on #80872
Any update on this issue? thanks!

[2019-12-27 21:32] dvaldivia commented on #48240
Problem still happening on k8s `1.16.3`

[2019-12-27 21:32] cedrickring commented on #73779
I got the same error messages though the file `/var/lib/kubelet/config.yaml` did exist. After running `kubeadm init` I found out, that swap was reenabled after a restart.

So doing a `swapoff -a` fixed it for me.

[2019-12-27 21:41] ahg-g commented on #86669
This error is returned by [FindPodVolumes](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/scheduling/scheduler_binder.go#L217), this logic is owned by sig storage.

/sig storage
/assign @msau42

Michelle can you please triage?

[2019-12-27 21:43] jvshahid commented on #85303
We might have run into one of the flakes in this PR https://github.com/kubernetes/kubernetes/pull/86671#issuecomment-569347993.  Below is the output of the failure:

[code]

[2019-12-27 21:56] thockin commented on #86091
@freehan @dcbw @caseydavenport

[2019-12-27 22:11] manojnirania commented on #79365
# experiencing the same issue

Configured HPA as
[code]

and

[code]
Deployment CPU resources as
[code]

Cluster details
[code]

[2019-12-27 22:29] neolit123 opened #86676 "1.18: panic in "pkg/kubelet/cm/qos_container_manager_linux.go""
**TL;DR:** we discovered the checkpoint file panic in the kubelet that was introduced recently.
see the comments bellow.

**What happened**:
created a 3 control-plane cluster from latest CI 1.17 using kubeadm.
initiated a upgraded from latest CI 1.17 to latest CI 1.18 using kubeadm.

pods such as api-server, etcd end up with stopped containers:
[code]

the pod list gets stuck at this state, which

[2019-12-27 23:04] bukowa commented on #83400
I am also interested in defining `Services` that cannot be accessed by pods unless they are matched by the `Service` selector. Is that reasonable?

[2019-12-27 23:17] neolit123 commented on #86676
modified kinder to upgrade the kubelets on all nodes only after the control-plane components are upgraded. found the same panic after the kubelet restart.

<details>

[code]

</details>

/priority critical-urgent

[2019-12-27 23:17] neolit123 commented on #86676
/remove-priority awaiting-more-evidence

[2019-12-27 23:19] neolit123 commented on #86676
[code]

in terms of draining a CP node this is not really viable.
is deleting the checkpoint now mandatory?

[2019-12-27 23:22] robscott commented on #40244
/assign

[2019-12-27 23:24] tedyu commented on #86676
[code]
It seems we can sideline the checkpoint file, log its new location and continue.

[2019-12-27 23:29] neolit123 commented on #86676
i'm surprised if this is now a breaking requirement, if by design.

in any case the panic should not happen (it happens right after the above message).

[2019-12-27 23:49] neolit123 commented on #86676
it seems to me the panic is by design and added here: https://github.com/kubernetes/kubernetes/pull/56191
cc @ConnorDoyle

which goes back to `v1.10.0-alpha.1` and is still in master here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/cpumanager/state/state_file.go#L64-L67

i just tried clearing the state files and the kubelet restart succeeded and the whole upgrade process p

[2019-12-27 23:54] tedyu commented on #86676
The panic was added in this commit:

https://github.com/kubernetes/kubernetes/commit/6441e1ef436dbc58b1a2fa85ba026fb04b932c16

[2019-12-27 23:55] oomichi opened #86678 "[Flaky test] [sig-cli] Kubectl Port forwarding With a server listening on 0.0.0.0 should support forwarding over websockets"
**Which jobs are flaking**:

pull-kubernetes-e2e-kind

**Which test(s) are flaking**:

`[sig-cli] Kubectl Port forwarding With a server listening on 0.0.0.0 should support forwarding over websockets`

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86634/pull-kubernetes-e2e-kind/1210642026224160769

**Testgrid link**:

- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-ku

[2019-12-27 23:56] oomichi commented on #86678
/sig cli

[2019-12-27 23:58] DarrienG commented on #76570
@ryanarifin134 I guess I'm still a little iffy on `concurrentJobsAllowed` because I don't know if there's a use case for it.

Likewise: A default is required to be set to `concurrentJobsAllowed` for this bug to be fixed, which could break workflows that assume unbounded growth for a `concurrencyPolicy: Allow`

I'm still on board with if an ImagePullError happens either:

* Don't start another job

[2019-12-28 00:03] tedyu commented on #86676
6bfceed4ab5e added error return from state.NewCheckpointState().

6441e1ef436dbc58b1a2fa85ba026fb04b932c16 added panic when error is not nil.

[2019-12-28 00:07] neolit123 commented on #86676
:+1:

@derekwaynecarr @klueska the UX around the kubelet panicing after restart because of the state file is arguably not great.
aren't there better solutions for this? - e.g. see https://github.com/kubernetes/kubernetes/pull/86677

[2019-12-28 00:08] neolit123 commented on #86676
/remove-priority critical-urgent
/priority important-longterm
/kind design

[2019-12-28 00:08] saad-ali commented on #69507
It certainly would be to nice to also have this information in Prometheus

But, as @gnufied and @brancz mentioned cardinality of the metrics is a major concern.

The number of ephemeral volumes (e.g. secret volumes, etc.) that a normal Kubernetes cluster creates is far larger then the number of persistent volumes. And unlike persistent volumes, which are created once and (generally) used for a lon

[2019-12-28 00:10] tedyu commented on #86676
I think if the only option for admin is to remove the (corrupted) checkpoint file, this can be automated via #86677

[2019-12-28 01:11] fenghejingchi commented on #45509
I think there's a workaround, actually it is an improvement of stragulus's version:

1) Each "service" actually is a job
2) this job will always retrieve message from the queue
3) Scale up works by your custom code to start the different number of jobs (if the # of jobs < expected number of jobs)
4) Scale down works when this job can not get content from the queue
5) And there's an extra step to c

[2019-12-28 01:46] neolit123 commented on #86676
/remove-kind bug
/remove-priority awaiting-more-evidence

[2019-12-28 02:14] yiqinguo commented on #86485
I also encountered the same problem.My kubernetes version is 1.15.3.

[2019-12-28 03:43] klueska commented on #86676
I believe the panic exists in order to „fail-fast“ if there is an error (allowing an admin the opportunity to come in and resolve the issue as they see fit for their setup).

What I’d like to understand is why the checkpoint is now corrupt (as it seems to have been fine before or otherwise we’d have always been triggering this).

My PR moved the panic to the Start() Code instead of the New() Code

[2019-12-28 03:45] guo897654050 opened #86680 "add feature-gates='NonPreemptingPriority=true' have no effect"
**What happened**:
trying to user new feature, about use `priotityClass:Never`,but have no effect,
k8s version 1.16.3。
i have 1master, 1node, and node have 6 gpu,i have create 6 job(low-priority) and all the gpu in runing, but when i create seventh job(high-priotity)，will kill one job random，but i have set `PreemptionPolicy: Never`，the seventh job should wait for one job finished,then it's runing!

[2019-12-28 03:47] guo897654050 commented on #86680
/sig scheduling

[2019-12-28 04:43] neolit123 commented on #86676
there is nothing special about the kubelet the is run by the kubeadm cluster.
both the CLI and KubeletConfiguration are close to default.

but once the 1.17 binary is replaced with the 1.18 binary it panics.

i'm going to do more tests around this tomorrow, but let me know if you need any specific information.

deployer documentation being forced to instruct end users to delete checkpoint files, b

[2019-12-28 06:23] #86613 closed

[2019-12-28 06:56] Huang-Wei opened #86682 "Move PodTopologySpread priority logic to its Score plugin [Migration Phase 2]"
/assign
/sig scheduling
/priority important-soon

This includes moving the metadata logic into PostFilter.

Part of #85822

[2019-12-28 07:15] yyklll opened #86683 "ambiguous import while installing kubetest on the newest master branch"
**What happened**:

As showed below:

go: finding k8s.io/test-infra latest
go: finding golang.org/x/sys latest
go: finding golang.org/x/oauth2 latest
go: finding golang.org/x/net latest
go: finding github.com/modern-go/concurrent latest
go: finding golang.org/x/time latest
go: finding google.golang.org/genproto latest
go: finding golang.org/x/crypto latest
go: finding k8s.io/utils latest
go: findi

[2019-12-28 07:17] Huang-Wei commented on #86682
Duplicate of #86440.

[2019-12-28 07:17] #86682 closed

[2019-12-28 07:52] RainbowMango commented on #82213
I need more context and description. @draveness Can you help provide more details information?

/help
Add help back, anyone can take this task if you want to take it.

[2019-12-28 08:33] yangl900 opened #86686 "Azure cloud provider retries 400 for long time"
**What happened**:
If you create a service that reference a Basic IP in a standard load balancer cluster, the service will stuck at "Pending" state for days without detailed error from Azure response.

When you describe the service, it only has following:

[code]

**What you expected to happen**:
In this case Azure responded 400 with detailed error message that the referenced IP is a basic IP and

[2019-12-28 08:34] yangl900 commented on #86686
/assign @yangl900
/area provider/azure
/sig cloud-provider

[2019-12-28 08:35] yangl900 commented on #86686
/area cloudprovider

[2019-12-28 08:38] superxor commented on #86091
Can confirm the issue for any k8s version between 1.14 to 1.16. 1.17 not tested yet

[2019-12-28 09:38] klueska commented on #86676
The panic should only be triggered if the `static` CPUManager is enabled and there is a corrupt checkpoint file, or the CPUManager policy is switched to `none` across the `kubelet` restart. If the panic is being triggered in any other configuration, then there is a bug.

[2019-12-28 09:54] klueska commented on #86676
Can you show me the contents of  the `cpu_manager_state` file just before the upgrade (by default this should be at `/var/lib/kubelet/cpu_manager_state`).

[2019-12-28 10:03] RainbowMango opened #86687 "TestAddressManagerNoRequestedIP failing with make test"
**What happened**:
Unit test failed by command `make test`:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Just run command `make test`.

**Anything else we need to know?**:
Happened on [master branch](https://github.com/kubernetes/kubernetes/tree/d605766c892bff09d182ae96d190e426acd2d7e6).

I first met this issue at v1.15.

**Environmen

[2019-12-28 10:04] RainbowMango commented on #86687
/remove-kind bug
/kind failing-test
/sig cloud-provider

[2019-12-28 10:11] aojea commented on #86518
@13567436138 have you configured your cluster enabling dual stack?

https://kubernetes.io/docs/concepts/services-networking/dual-stack/#enable-ipv4-ipv6-dual-stack

[2019-12-28 10:42] klueska commented on #86676
I believe I have tracked down the problem.

The updated CPUManager from PR #84462 implements logic to migrate the CPUManager checkpoint file from an old format to a new one. To do so, it defines the following types:

[code]

This replaces the old definition of just:
[code]

Code was put in place to ensure proper migration from checkpoints in V1 format to checkpoints in V2 format. However (and this

[2019-12-28 10:57] BlackTurtle123 commented on #60987
Same here

[2019-12-28 12:17] #86686 closed

[2019-12-28 13:07] klueska commented on #86676
Created https://github.com/kubernetes/kubernetes/pull/86689 as a fix to this issue.

Please try it out and let me know if it works for you.

[2019-12-28 13:18] tedyu commented on #86683
What if you issue 'go clean' command first ?

https://golang.org/pkg/cmd/go/internal/clean/

[2019-12-28 13:27] rhuss commented on #82942
/remove-lifecycle stale

[2019-12-28 14:32] yyklll commented on #86683
It seems that some of my configuration is wrong. The `azure` problem goes away and other problem regarding cloud provider appears. This issue would be closed.

[2019-12-28 14:32] #86683 closed

[2019-12-28 14:55] #80783 closed

[2019-12-28 16:02] neolit123 commented on #86676
@klueska the file created by 1.17 that panics after the kubelet upgrade to 1.18 is:

[code]

your patch at https://github.com/kubernetes/kubernetes/pull/86689 fixes the problem.
thank you.

[2019-12-28 16:03] neolit123 commented on #86676
/remove-kind design
/kind bug

[2019-12-28 17:58] #80791 closed

[2019-12-28 18:16] neolit123 commented on #86687
/area provider/gcp

[2019-12-28 21:45] #86664 closed

[2019-12-29 00:23] julianvmodesto commented on #85652
This change is being implemented.

The original PR is https://github.com/kubernetes/kubernetes/pull/86143, but it's quite big so we're splitting it into smaller changes, starting with https://github.com/kubernetes/kubernetes/pull/86408.

[2019-12-29 01:27] renpengzhang opened #86694 "ReadWriteOnce makes no effect: multiple nodes can write to the volume"
**What happened**:
I created a PV and PVC using AccessMode as "ReadWriteOnce", and then I create a deployment containing 3 replicas all using the same above PVC. BTW, I have checked that those 3 replicas did spread in different nodes. The problem is I found that all 3 replicas can write to the same mounted volume.

**What you expected to happen**:
As the AccessMode is "ReadWriteOnce" for PV and PV

[2019-12-29 01:55] neolit123 commented on #86694
/sig storage

[2019-12-29 01:58] coboluxx opened #86695 "Sanitize certificate input during import or before comparison"
**What happened**:
CA validation code fails for a valid input file while trying to initialize a new cluster with an external CA by running kubeadm init.

**What you expected to happen**:
No error.

**How to reproduce it (as minimally and precisely as possible)**:
Prepare an external CA for a new cluster (https://kubernetes.io/docs/setup/best-practices/certificates/).

Create the admin certificate.

[2019-12-29 02:10] tdihp commented on #85565
The issue is mitigated by cleanup the loadbalancer. Closing and will reopen if occured again in >1.17

[2019-12-29 02:10] #85565 closed

[2019-12-29 04:04] ALINRUISU opened #86697 "[Win10] kubectl port-forward background fails"
**What happened**: I tired to port-forward my elastic search pods to 9200 and run it on the background using &, however, it seems like it does not work for window hosts

**What you expected to happen**: port-forward works and is exposes 9200 on the background.

**How to reproduce it (as minimally and precisely as possible)**: Please see sample copy & pasta

[code]
**Anything else we need to know?*

[2019-12-29 04:05] ALINRUISU commented on #86697
/sig sig-windows

[2019-12-29 04:08] #80771 closed

[2019-12-29 04:08] ALINRUISU commented on #86697
/sig windows

[2019-12-29 04:32] neolit123 commented on #86695
please open this issue in the kubernetes/kubeadm repository where the kubeadm issue tracker resides.

thank you.
/area kubeadm
/close

[2019-12-29 04:32] #86695 closed

[2019-12-29 04:58] naseemkullah opened #86698 "please delete"
NVM please delete this issue.

[2019-12-29 06:28] alexey-gusarov commented on #79359
/remove-lifecycle stale

[2019-12-29 07:35] #86698 closed

[2019-12-29 07:47] #86440 closed

[2019-12-29 12:16] #76382 closed

[2019-12-29 12:31] ankurkanoria commented on #48948
Similar issue, vastly hinders local development agility. Setup a new barebones single node development cluster using kubeadm (v1.17) inside a reasonably beefy vm 4 cores 4gb ram (with kvm tuning like raw disk virtio). Idle state cpu usage is around 30%, spikes to 50-60% during container creation/deletion. Controller manager and scheduler often timeout waiting for Apiserver and go to crashloopbacko

[2019-12-29 17:02] ahg-g commented on #86445
Hi @notpad , are you still working on this?

[2019-12-29 18:15] #51668 closed

[2019-12-29 18:15] #53475 closed

[2019-12-29 18:22] #75981 closed

[2019-12-29 19:02] ahg-g commented on #86475
can you clarify why is this a bug?

[2019-12-30 01:29] #78729 closed

[2019-12-30 01:56] notpad commented on #86445
yes, I am working on this

[2019-12-30 02:14] denkensk commented on #86680
/cc

[2019-12-30 02:18] feiskyer commented on #86667
have you enabled [outbound rules](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-rules-overview) for outbound connections? Outbound rules are recommended to configure outbound connections for standard load balancer.

[2019-12-30 02:20] liggitt commented on #86680
you need to also add the feature gate in kube-apiserver, to enable using that API field

[2019-12-30 02:30] #78206 closed

[2019-12-30 02:30] #80881 closed

[2019-12-30 02:38] JHDST opened #86710 "kubectl create -f statefulsets.yaml spec.volumeClaimTemplates.metadata.labels unable to add to pvc"
**What happened**: I tired to create  statefulsets through yaml file ,  but spec.volumeClaimTemplates.metadata.labels unable to add to the resources of pvc.

**What you expected to happen**:  Add metadata.labels for pvc through configuration spec.volumeclaimtemplates.metadata.labels of statefulsets when  I create  statefulsets through yaml file

**How to reproduce it (as minimally and precisely as

[2019-12-30 02:40] guo897654050 commented on #86680
@liggitt  i add feature-agte in /etc/kubernetes/mainfest/kube-schduler.yaml，if add `feature-gates=NonPreemptingPriority=true` in apiserver，apiserver will can't connect，that feature should be edit in kube-scheduler.yaml?

[2019-12-30 02:45] ahg-g commented on #86630
-1 to changing PostFilter semantics. PostFilter is not supposed to be a second filtering phase.

We have [PercentageOfNodesToScore](https://github.com/kubernetes/kube-scheduler/blob/master/config/v1alpha1/types.go#L80) flag to control the number of nodes to score, I think it is reasonable to add another one to set an absolute limit (e.g., MaxNodesToScore), and we can validate that one of them is s

[2019-12-30 02:48] JHDST commented on #86710
/sig statefulsets

[2019-12-30 02:51] JHDST commented on #86710
/sig apps

[2019-12-30 02:52] liggitt commented on #86680
to successfully persist a `preemptionPolicy: Never` field in a PriorityClass object, you must include `--feature-gates=NonPreemptingPriority=true` in the kube-apiserver invocation. If you do `kubectl get priorityclass -o yaml`, you can see that your persisted priority class objects do not currently have your desired preemptionPolicy.

[2019-12-30 03:03] tedyu commented on #85966
How do we handle post start hook failure which may take some time to be detected (when execution of postStart hooks for init containers is asynchronous) ?
Should the normal container(s) be torn down once the post start hook failure is seen ?

[2019-12-30 03:07] ahg-g opened #86711 "Break Filter plugins dependency on PredicateFailureReason [Migration Phase 2]"
/sig scheduling
/assign

This is apart from the Predicates that we can't move now because Kubelet and DaemonSet controller currently depends on.

Part of #85822

[2019-12-30 03:12] guo897654050 commented on #86680
@liggitt ，here is /etc/kubernetes/mainfest/kube-apiserver.yaml,  if I add `--feature-gates=NonPreemptingPriority=true`,  when I do `kubectl get pod`, it will show `The connection to the server 192.168.0.1:6443 was refused - did you specify the right host or port?`,the apiserver doesn't work。
[code]
and here is when i do `kubectl get priorityclass -o=yaml`
[code]
add feature-gate to apiserver is co

[2019-12-30 03:15] liggitt commented on #86687
I would be curious to know how https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master&include-filter-by-regex=%2F%2Fstaging%2Fsrc%2Fk8s.io%2Flegacy-cloud-providers%2Fgce%3Ago_default_test is passing then

[2019-12-30 03:22] RainbowMango commented on #86687
The reason is that `Google Application Default Credentials` is required here:
https://github.com/kubernetes/kubernetes/blob/bd239d42e463bff7694c30c994abd54e4db78700/staging/src/k8s.io/legacy-cloud-providers/gce/gce_fake.go#L65

I guess all CI machinery has a `Google Application Default Credentials`.  This will fail in all environments without a `Google Application Default Credentials`.

[2019-12-30 03:25] ahg-g opened #86712 "Break Filter plugins dependency on predicates package [Migration Phase 2]"
/sig scheduling
/assign

Part of #85822

```pkg/scheduling/algorithm/predicates``` is deprecated.

[2019-12-30 03:31] liggitt commented on #86687
ah, fixed in #86713

[2019-12-30 03:35] RainbowMango commented on #86687
Great!

[2019-12-30 03:39] #86185 closed

[2019-12-30 03:57] yqwang-ms commented on #86373
@bsalamat and @draveness Any comments for this? Thanks!

[2019-12-30 04:26] zhangguanzhang opened #86715 "[-]poststarthook/rbac/bootstrap-roles failed: reason withheld"
**What happened**:
the kube-apiserver logs
[code]
but this is ok
[code]
the code
https://github.com/kubernetes/kubernetes/blob/v1.16.4/staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go#L162-L206

**What you expected to happen**:
healthz check passed
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2019-12-30 04:27] zhangguanzhang commented on #86715
/sig api-machinery

[2019-12-30 04:57] ahg-g opened #86717 "Move node Affinity predicate logic to its Filter plugin [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-30 05:03] #82083 closed

[2019-12-30 05:25] zhangguanzhang commented on #86715
kubeadm config
[code]

[2019-12-30 05:33] #74817 closed

[2019-12-30 05:58] jmf0526 commented on #45419
I'm confused..if this issued can be caused by slow docker daemon, how come it can fixed by simply adding a timeout to cni call?

[2019-12-30 06:33] minzhang28 commented on #86388
@lukeschlather I am interested in learning how to contribute to k8s community, although I don't know exactly what to do for this ticket, I'd like to try this if possible.

[2019-12-30 07:21] wojtek-t commented on #86483
@kubernetes/sig-release @guineveresaenger @alenkacz - FYI

[2019-12-30 07:37] tanjunchen opened #86721 "remove TODO in test/e2e/framework/auth/helpers"
**What happened**:

There are some TODO in  test/e2e/framework/auth/helpers

[code]

**What you expected to happen**:

solve it

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`

[2019-12-30 07:38] tanjunchen commented on #86721
/remove-kind bug

[2019-12-30 07:38] justaugustus commented on #86483
cc: @kubernetes/patch-release-team @alejandrox1 @droslean

[2019-12-30 07:39] tanjunchen commented on #86721
/priority backlog
/kind clean-up

[2019-12-30 07:47] tanjunchen commented on #86721
area/e2e-test-framework

[2019-12-30 07:50] alenkacz commented on #86483
@wojtek-t for future reference, the best way to contact the CI signal team is @kubernetes/ci-signal :) We introduced it this iteration, I think it's not that well-known yet.

And thanks for filing this!

[2019-12-30 08:14] sylr commented on #86667
Yes, the outbound rule is the rule using 55.55.55.55.

[2019-12-30 08:25] feiskyer commented on #86667
OK, it's a different IP compared to 9.9.9.9. I think it happened because of the following workflow:

* When killed the reverse proxy pod on the node, the conntrack of that connection would lose
* Then the response from Pod is SNAT to node IP 10.100.70.106 by masquerade
* Finally, the package is SNAT to outbound IP 55.55.55.55

@sylr do you think this is reasonable?

[2019-12-30 08:28] guo897654050 commented on #86680
@liggitt when I add `feature-gates=NonPreemptingPriority` in `/etc/kubernetes/mainfest/kube-apiserver.yaml` and  `/etc/kubernetes/mainfest/kube-control-manager.yaml` and `/etc/kubernetes/mainfest/kube-scheduler.yaml`，then I delete priority.yaml before and apply as same time, then is seems work, thanks.

[2019-12-30 08:28] #86680 closed

[2019-12-30 08:36] sylr commented on #86667
I'm not well versed in the linux networking stack so I wouldn't assume.

What I've observed is that after killing the reverse proxy pod on the node, when requests are still coming in before the load balancer realizes that there is no more pod to answer the requests on the node, the network traffic seems "multiplied" using several source ips, ie.:

[code]

[2019-12-30 08:41] wilmardo commented on #60748
/remove-lifecycle stale

[2019-12-30 08:44] sylr commented on #86667
1. client <1.1.1.1> -> <9.9.9.9> LB  -> <10.100.70.106> node without pod
2. node without pod <10.100.70.106> -> <9.9.9.9> LB <55.55.55.55> -> <10.100.70.106> node without pod
3. node without pod <10.100.70.106> -> <9.9.9.9> LB (again ?????)

[2019-12-30 08:54] draveness commented on #86373
Thanks. First of all, I see your point of opening this discussion on the behavior of the kubernetes scheduler.

It makes sense to schedule the pods strictly following the priority which could solve the starvation of high priority unschedulable pod which you mentioned. But the unschedulable pod is unlikely to become schedulable and it could also cause a performance penalty for the newer created pod

[2019-12-30 09:04] Sampathkonka commented on #45509
OK, Thanks :)

[2019-12-30 09:22] iamcryptoki commented on #86121
For anyone interested I've managed to solve this issue.

I was getting a 301 redirect response from Wordpress due to Wordpress forcing my domain name example.com. Solved this issue by disabling Wordpress canonical redirection feature for the specific request **http://POD_IP:8080/index.php**.

**Here's how:**

Added the Pod IP address as an environment variable:

[code]

Created a Wordpress plugin

[2019-12-30 09:35] wojtek-t commented on #86626
https://github.com/kubernetes/kubernetes/pull/73845 might have been the culprit - and that was only cherrypicked in 1.12.6

[2019-12-30 09:45] mm4tt commented on #85683
@oxddr, could you post on update on this?
It seems to be still happening - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000

[2019-12-30 10:02] wojtek-t commented on #80857
/remove-lifecycle stale

[2019-12-30 10:02] wojtek-t commented on #80857
/remove-lifecycle rotten

[2019-12-30 10:19] fabiand commented on #59551
Yes ...

I think it's also an issue with the semantics. But what I am looking for is
a way to specify the selector be used to match the service to pods.

[2019-12-30 10:43] ialidzhikov commented on #86666
@liggitt, @smarterclayton, @kubernetes/sig-api-machinery-bugs , did you had time to check this issue?

[2019-12-30 11:25] yqwang-ms commented on #86373
First thanks @draveness to take a look :)

By using another appoarch to schedule we can avoid these cons.
Please check this appoarch in above section **Possible idea for no need tune backoff duration**.

Current wiki is:

https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#effect-of-pod-priority-on-scheduling-order

However, in fact, if there are many pending high priority p

[2019-12-30 11:39] #70251 closed

[2019-12-30 12:17] hpcsc commented on #77086
thanks @liggitt , that worked well

One liner (two lines if you are picky) for @liggitt 's solution which avoids creating intermediate yaml file:

Starting `kubectl proxy` in one terminal:

    kubectl proxy

In another terminal:

    kubectl get ns delete-me -o json | \
      jq '.spec.finalizers=[]' | \
      curl -X PUT http://localhost:8001/api/v1/namespaces/delete-me/finalize -H "Content-Type

[2019-12-30 12:20] kvaps commented on #26718
I just wanted to stick this issue with [trivialt](https://github.com/kvaps/trivialt), CLI for go-tftp with single port feature.
And with the similar [feature request for dnsmasq](http://lists.thekelleys.org.uk/pipermail/dnsmasq-discuss/2019q4/013650.html).

[2019-12-30 12:42] h4ghhh opened #86722 "reconciler: updateDevicePath() panic:invalid memory address or nil pointer dereference"
**What happened**:
kubelet start reconciler with panic.
``
4773 reconciler.go:154] Reconciler: start to sync state
E1211 00:37:16.826560   84773 runtime.go:69] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/ut

[2019-12-30 13:13] #86687 closed

[2019-12-30 13:31] wojtek-t commented on #86483
The current version of https://github.com/kubernetes/kubernetes/pull/86430 seem to mitigate the problems that we found internally.
@mm4tt will run his tests (that he described above) to (hopefully) prove that it helps in this case too.

[2019-12-30 13:34] pikrzysztof commented on #71975
[code]

[2019-12-30 13:48] hex108 commented on #86630
I think they have different effects and purposes.
* Suppose that there are 1000 nodes in the cluster, `PercentageOfNodesToScore` is 10, it means that we could stop searching nodes once we found 100 nodes(1000 * 10%) feasible for running a pod.
* Suppose that `MaxNodesToScore` is 10, if scheduler finds 100 nodes feasible for running a pod, scheduler only need to score 10 nodes of them, and choose t

[2019-12-30 13:59] frittentheke commented on #51835
Could you check if there are Finalizers on the pod keeping it from being deleted?

[2019-12-30 14:28] tedyu commented on #86722
1.13 is very old.

Is it possible to try a recent release and see if the panic persists ?

Thanks

[2019-12-30 14:41] liggitt commented on #86715
It is normal for those checks to fail until they complete their startup operation. After the individual healthz get returns ok, doesn't the overall /healthz return ok as well?

[2019-12-30 14:57] ahg-g commented on #86630
Sure, it is the same as setting the percentage of 1%, but that assumes you know how many nodes you have in the cluster when starting up the scheduler, which is not the case in most realistic deployments, and so having an absolute value is difference from setting a percentage.

I didn't look at the paper you linked to, but suppose that we are filtering the nodes randomly (which is not the case now,

[2019-12-30 15:01] tedyu commented on #86715
If you want to see the detailed error, you can enable the following log:
[code]

[2019-12-30 15:16] jkaniuk commented on #86390
gce-scale-cluster-minion-heapster is regular, schedulable node (albeit bigger).
So yes - it is perfectly normal that some pods are scheduled on it.
There were some issues with that in the past related to that, however all were fixed as far as I know.
Did such scheduling caused a flake?

[2019-12-30 15:17] Choi-Sung-Hoon commented on #86694
It seems that your problem happens because of statefulSet.

I guess that you distributed replicas to 3 nodes via statefulSet and that's why the nodes can access to the PV.

If you provide the template for your deployment it should be moer helpful.

[2019-12-30 15:18] gmorse-gd commented on #81610
/remove-lifecycle stale

[2019-12-30 15:25] megastallman commented on #54923
We also need the following docker run parameters:
      --device-read-bps
      --device-read-iops
      --device-write-bps
      --device-write-iops
Or some way to pass them directly to docker.

[2019-12-30 15:51] neolit123 commented on #86721
/sig testing
/area e2e-test-framework

[2019-12-30 15:59] tettusud commented on #73297
Is that creating a listener of port type **TLS**

[2019-12-30 16:00] neolit123 commented on #86721
the `helpers.go` file should import `"k8s.io/kubernetes/test/e2e/framework"`
and use this function instead:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/log.go#L41

[2019-12-30 16:44] neolit123 commented on #86722
/remove-kind bug
/priority awaiting-more-evidence

what patch version is this?
latest one is `v1.13.12`.

is your API server older than 1.13? try matching the kubelet and api-sever versions.
(see these comments: https://github.com/kubernetes/kubernetes/issues/78970#issuecomment-501699973)

the minimum version in the support skew is 1.15.x, so please upgrade.

there only two changes in `reconciler.

[2019-12-30 17:04] komuw commented on #66321
/remove-lifecycle stale

[2019-12-30 17:50] timkessler commented on #74551
I am running into the timeout issue consistently after port-forward hands off 27 connections to start streaming to the same port (psql connections to postgres). I get intermittent failures on connections  after the first 27.

[2019-12-30 18:00] ahg-g opened #86729 "Break DS controller dependency on scheduler predicates [Migration Phase 2]"
Scheduler predicates and their error types are deprecated.

/sig scheduling
/assign

Part of #85822

[2019-12-30 18:07] countergram commented on #45234
This is still relevant - is there any other way to do this? Besides the numerous valid use cases above, we have a case where a network issue with a node group -- that has nothing to do with the service -- and which cannot be rotated at a moment's notice because it contains instance-store databases, is causing frequent 504s on a service.

[2019-12-30 18:27] Moser-ss commented on #34146
Hey, I also have issues with these differences in YAML parsers. I am using a parser that follows the 1.2 convention where value like this `0250097554_37` is a string but when I try to apply the YAML file I will receive the following error message
`cannot convert int64 to string`

Because is converting the value `0250097554_37` to `25009755437`
`{\"name\":\"TAG\",\"value\":25009755437}`

And the so

[2019-12-30 18:46] #45386 closed

[2019-12-30 18:46] #80826 closed

[2019-12-30 18:55] mnaser commented on #53023
We're affected by this as well.  We can see that there is 3 reported unavailable flannel pods.

[code]

However, you can see that there are 62 actual pods, with that generation, all in Running state.

[code]

I'm digging into this more because it's hitting us pretty hard but I wanted to throw my "me too" in here.

[2019-12-30 19:08] msau42 commented on #86669
We don't schedule pods until the PVCs are provisioned + bound because we need to wait until they are provisioned to know what zone they are in and schedule the pods appropriately. If you want to avoid them in your test, then you could create the PVCs, wait for them to be bound, and then create the Pods, but I would not recommend that because it's not how a StatefulSet would actually behave, and it

[2019-12-30 19:47] oomichi commented on #86678
As https://github.com/kubernetes/kubernetes/blob/a1364be0126743c5cc032c21f28fb5e41f636253/test/e2e/framework/pod/resource.go#L185-L191 waiting method doesn't show any status of the pod.
It is difficult to know actual status of the pod, it is better to add debugging message to know that.

[2019-12-30 20:54] spikecurtis commented on #85966
@tedyu It's not clear to me what the _desired_ behavior is if a hook fails.  The Kubernetes docs only say:

https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-handler-execution

If broadcasting an event is all, I think we are fine.  If there is some other behavior associated with a failed hook, can someone point to a definitive spec of what it should be?

[2019-12-30 20:56] tedyu commented on #85966
ping @derekwaynecarr @dchen1107 @yujuhong
See if you know the spec mentioned by @spikecurtis above.

[2019-12-30 21:03] oomichi commented on #86334
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86731/pull-kubernetes-integration/1211724206971031553 is a flake I faced recently.

/cc @oomichi

[2019-12-30 21:50] k3a commented on #61005
I observed a similar behaviour on a test cluster made by Kops 1.15.0 (git-9992b4055), Kubernetes v1.15.6. Lots of services failed due to the broken kube-dns.

From a newly-created Alpine container, I was able to do DNS resolves using PodIPs of running kube-dns pods. The use of ClusterIP of kube-dns service 100.64.0.10 was not possible, though.

After logging to the node where kubedns pods were run

[2019-12-30 22:37] remyleone commented on #79830
:+1: it is also useful for coherence. If a user uses "kubectl create" to create a given resource, it helps if  all base resources are available inside it.

[2019-12-30 22:37] remyleone commented on #79830
/remove-lifecycle stale

[2019-12-30 22:58] tedyu commented on #75957
@yaseenhamdulay
There is some question about the necessity for enabling support of multiple PDBs.

Can you chime in ?

[2019-12-30 23:13] AndreyMaltsev opened #86735 "1.17: calico-kube-controllers CrashLoopBackoff"
When I run command kubectl get pods --all-namespaces,  there is ERROR  -> kube-system   calico-kube-controllers-648f4868b8-dbkbx    0/1   has STATUS  CrashLoopBackOff.
I installed the next v.  Using Kubernetes version: v1.17.0. OS - CentOS 8.0

I am a new in Kubernetes\Docker - have no idea what is wrong here and where should I check the issie.
Regards, Andre

[2019-12-30 23:27] neolit123 commented on #86735
hi,
what deployer are you using to create this cluster?

if using kubeadm please read this guide for Calico:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

did you apply Calico with this command:

this should pull the latest 3.8 (which is 3.8.5 ATM).
3.8* works fine with k8s 1.17.

if you are having troubles with Calico, please tear down

[2019-12-30 23:27] neolit123 commented on #86735
/sig cluster-lifecycle

[2019-12-30 23:38] msau42 commented on #86390
If it's brought up the same way as any other node in the cluster, then I don't think it should impact the pod.

Digging a little more, the pod failed because the file it was trying to read doesn't exist:
[code]

The error message is strange because the "index.html" file is not used for this test case. This test case should only be trying the "ls /vol1" command:
https://github.com/kubernetes/kubern

[2019-12-30 23:47] samos123 commented on #50309
The container ID and image ID are available locally on each node using the kubelet apiserver that exposes the following endpoint: `localhost:10255/pods`. You can query this endpoint from a pod as well depending on your environment.

[2019-12-31 00:13] oomichi commented on #86334
The test log says
[code]
That seems a node resource is consumed before operating the test `basic pod preemption with filter`.
TestPreemption consists of multiple test cases and the resource is shared in them.
At this time, we cannot see what test cases run before the test `basic pod preemption with filter`.
So it is better to know that to distinguish the cleanup of pods is not completed or not.

[2019-12-31 01:13] zhangguanzhang commented on #86715
@liggitt @tedyu I keep tracking the logs in v4 level, but there is no `healthz check pass`

[2019-12-31 02:05] cwdsuzhou commented on #86475
seem it has been fixed in master branch as @Huang-Wei said

/close

[2019-12-31 02:05] #86475 closed

[2019-12-31 02:14] feiskyer commented on #86667
Interesting. There're some delays between Pod shutdown and kube-proxy iptables updates, hence I think it only happens in a short period after Pod shutdown, it this true? And would the connections back to normal after the Pod runs again?

[2019-12-31 02:54] #80934 closed

[2019-12-31 03:04] hex108 commented on #86630
Agree with it, an absolute limit is different with percentage, and we could add it.

I think it is same(I need to look into it). Then we need to figure out how to filter the nodes randomly, it might not be easy to adopt it to the scheduler framework. At the same time, it seems easier to add a plugin that choose 2 nodes randomly from the filtered nodes.

Yes, but these two nodes need to be choosed

[2019-12-31 04:15] ahg-g commented on #86630
Yes, you can do that with a Filter, but you need to make sure it is the last Filter to be executed.

[2019-12-31 04:39] nilebox commented on #74560
/remove-lifecycle stale

[2019-12-31 04:45] elfinhe opened #86739 "marshal ObjectMeta always prints `proto: tag has too few fields: "-"` error"
**What happened**:
By [marshaling](https://github.com/gogo/protobuf/blob/master/jsonpb/jsonpb.go#L142) time.Time with gogo/protobuf, our istioctl CLI always prints the this message into stderr:
[code]
My guess - there might be some typo here in the tag of time.Time:
https://github.com/kubernetes/apimachinery/blame/master/pkg/apis/meta/v1/time.go#L34
where the gogo/protobuf will validate it (`proto

[2019-12-31 04:47] elfinhe commented on #86739
/sig api-machinery

[2019-12-31 04:56] #80889 closed

[2019-12-31 05:04] ahg-g commented on #86630
We can have other options, isn't this what we are trying to discuss already?

There are two issues here:
1) Limiting the number of nodes to score as a concept (whether limiting it to two or or more)
2) How to choose the nodes

The sentence **" We could disucss it more once we reach a consensus about the above idea."** was  confusing because you seem to suggest that we should defer discussing issue

[2019-12-31 05:46] ksubrmnn commented on #79359
@thxCode can you provide the Kubernetes version for the windows node? I see platform as linux in your post.

Also, should it be https://kubernetes.kube-system.svc.cluster.local/

[2019-12-31 06:01] loganhz commented on #79359
Hi @ksubrmnn , it happens in 1.14, 1.15 and 1.16.

You sent us a commit to fix it before. https://github.com/ksubrmnn/kubernetes/commit/ff03c98ae992c34a57d1af2d210ab5d2ef347ab1

It works well. Hope we can get it fixed in upstream as well.

[2019-12-31 06:43] John402-cloud opened #86741 "can‘t download any binary release package"

[2019-12-31 06:49] John402-cloud commented on #86741
I need kubernetes package to practise，but i find any binary kubernetes package can not be downloaded.

[2019-12-31 07:19] snowplayfire commented on #86626
@liggitt @wojtek-t @attlee-wang I meet the same problem in v1.13.4.

There are more than four scenarios as follows:

1. pod is pending when node has enough resources

2. pod is scheduled into the node which hasn't enough resources

3. pod is scheduled into the node which is cordoned

4. pod is scheduled into the node which has new taint

The problem can be solved temporarily by two ways:

1. chang

[2019-12-31 07:36] renpengzhang commented on #86694
Actually, I created Deployment to use the PV.
The Deployment template is as following:

[2019-12-31 07:44] haosdent commented on #86712
@ahg-g I update volumebinding plugin at https://github.com/kubernetes/kubernetes/pull/86742 ? Is it OK for you? I have updated some other filter plugins as well. If it is OK for you. I would create pull request for them later.

[2019-12-31 08:07] atulabhi commented on #81290
Any update on this issue faced same with gke, kubernetes version 1.12.10-gke.17

[2019-12-31 08:23] sylr commented on #86667
Yes it comes back to normal after a short while in most case but it does not when clients are instantiating long running connections like websockets.

[2019-12-31 08:57] mm4tt commented on #86669
Thanks, @msau42

The explanation is sufficient for now. The errors are currently not affecting us (although they might get relevant when we implement the stateful pod startup latency SLI/SLO), I just noticed a lot of them in the scheduler log and wanted to understand what is going on.

Closing this issue as there isn't any action required here.

[2019-12-31 08:57] #86669 closed

[2019-12-31 08:58] AndreyMaltsev commented on #86735
Thanks so much neolit123. I will apply your solution and post here the results

[2019-12-31 09:01] mm4tt commented on #86434
/sig node
/sig storage

[2019-12-31 09:02] mm4tt commented on #86434
There is a pending discussion about ways to fix it in https://github.com/kubernetes/kubernetes/pull/86670

[2019-12-31 09:13] mm4tt commented on #86483
I ran the tests and can confirm that the fix helps.
Master stabilized, there was no significant increase in the number of etcd list requests after the restart.

If someone would like to take a look at the graphs, they can be found at http://35.237.122.182:3000/d/UkaNrXBZk/master-down-up-experiment?orgId=1&var-source=master-down-up-5k-k8s-1-18-fix&from=1577717822588&to=1577721055853

[2019-12-31 09:14] huchengze opened #86744 "Build kubernetes for mips64le"
**What would you like to be added**:
Support for mips64le.

When I tried to build kubernetes for  mips64le, I found that for these components:

[code]

This error is reported when the make command is executed：

[code]

The reason I found that there would be such an error is:

https://github.com/golang/go/issues/16500#issuecomment-235288559

Then I edited the file（vendor/github.com/google/cadvisor/

[2019-12-31 09:16] attlee-wang commented on #86626
@wojtek-t how to reproduce #73845 issues before accepted it？I want to make sure #73845 is my problem.

[2019-12-31 09:31] wu0407 commented on #64530
/reopen

[2019-12-31 09:39] huchengze commented on #86744
/sig architecture

[2019-12-31 09:47] huchengze commented on #86744
/wg Component Standard

[2019-12-31 09:49] huchengze commented on #86744
/wg component-standard

[2019-12-31 09:58] jkaniuk commented on #86426
Similar situation but in different test:
https://github.com/kubernetes/kubernetes/pull/83654

@k8s-ci-robot k8s-ci-robot merged commit a8b5220 into kubernetes:release-1.13 on 9 Oct
**9 of 11 checks passed**
**pull-kubernetes-e2e-gce-device-plugin-gpu** Job triggered. [Details](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83654/pull-kubernetes-e2e-gce-device-plugin-gpu/1181860254355

[2019-12-31 10:01] Kafei59 opened #86746 "Kubectl scale cluster-wide custom resource"
**What happened**:

I try to scale a cluster-wide custom resource using kubectl but everytime I try so, I got an error telling me:

**What you expected to happen**:

I expected the custom resource to be scaled to the correct amount of replicas.

**How to reproduce it (as minimally and precisely as possible)**:

Here is all the information to reproduce.

_Custom Resource Definition_:

[code]

_Cust

[2019-12-31 10:03] Kafei59 commented on #86746
/sig api-machinery

[2019-12-31 10:05] mm4tt commented on #86426
The test from the PR you mentioned (`pull-kubernetes-e2e-gce-device-plugin-gpu`) is an [optional test](https://github.com/kubernetes/test-infra/blob/fc58d32f2d96b844079c1619135cb9e45b419f62/config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml#L19). If it fails it won't block merging a PR.

/close

[2019-12-31 10:05] #86426 closed

[2019-12-31 10:05] qianlei90 commented on #79612
@alejandrox1 Is there any progress?

[2019-12-31 10:07] jkaniuk commented on #86429
Partial fix: https://github.com/kubernetes/test-infra/pull/15713

Test runs now, but fail:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-node-containerd-throughput/1211925160513245187
[code]

[2019-12-31 10:26] jkaniuk commented on #86429
controller-manager.log
`E1231 08:28:58.430760       1 replica_set.go:534] sync "test-55rfp1-4/latency-pod-rc-0" failed with pods "latency-pod-rc-0-" is forbidden: unable to validate against any pod security policy: []`

[2019-12-31 10:35] jkaniuk commented on #86429
different set of addmission controllers

additional test flag:
` - --env=ENABLE_POD_SECURITY_POLICY=true`

failing test:

passing node-throughput test:

[2019-12-31 10:46] jkaniuk commented on #86429
Original (not throughput) test have similar problems:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-containerd/1182316556764319745/

`E1010 15:36:28.251929       1 stateful_set.go:393] Error syncing StatefulSet provisioning-7675/csi-hostpath-provisioner, requeuing: pods "csi-hostpath-provisioner-0" is forbidden: unable to validate against any pod security policy: [

[2019-12-31 10:49] wojtek-t commented on #86429
Let's remove the enable pod security policy then.

Though, I think that's only part of the problem - replication-controller is getting 403 when creating pods. And my hunch is that it's something different. But we may try one by one.

[2019-12-31 10:50] clarklee92 commented on #86052
Nothing need to do with `ssh`, `testfiles`, `timer`and I already pushed relevant  PRs about others. Thanks for reviews.

[2019-12-31 10:57] #86744 closed

[2019-12-31 10:58] huchengze opened #86749 "Build kubernetes for mips64le"
**What would you like to be added**:
Support for mips64le.

When I tried to build kubernetes for  mips64le, I found that for these components:

[code]

This error is reported when the make command is executed：

[code]

The reason I found that there would be such an error is:

https://github.com/golang/go/issues/16500#issuecomment-235288559

Then I edited the file（vendor/github.com/google/cadvisor/

[2019-12-31 10:58] huchengze commented on #86749
/sig architecture
/wg component-standard

[2019-12-31 11:06] jkaniuk commented on #86429
Example passing test with pod security enabled: ci-cri-containerd-e2e-gci-gce
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-node/containerd.yaml#L553
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce/1211943279172521984/

additional presets:
[code]

mainly:
`  - name: KUBE_MASTER_EXTRA_METADATA
    value: user-data=/workspace/githu

[2019-12-31 11:09] wojtek-t commented on #86429
It was there before I removed it in the morning:
https://github.com/kubernetes/test-infra/pull/15714

It wasn't even starting back then...

[2019-12-31 11:12] jkaniuk commented on #86429
Right, just wanted to write the same.
OK, I'll try with removing security policy.

[2019-12-31 13:25] wojtek-t commented on #86429
Seems to work now:
https://testgrid.k8s.io/sig-scalability-node#node-containerd-throughput

Closing.

[2019-12-31 13:25] #86429 closed

[2019-12-31 13:56] hex108 commented on #86630
Get your point now, agree with it!

As disscussed above, I think we could do both of them, because they are different and both are useful.

* Add an absolute limit `MaxNodesToScore`, and filter nodes in the same way as now.

* Choose two nodes randomly from filtered node, and only score the two nodes. It is more appropriate for short live jobs.

[2019-12-31 14:16] jethrogb commented on #59119
/remove-lifecycle stale

[2019-12-31 14:21] jkaniuk commented on #86390
Accodring to kube-apiserver-audit.log, the path was correct:
[code]

[2019-12-31 14:30] dims commented on #86749
yes, please submit to cadvisor. we periodically re-sync the vendor directory

[2019-12-31 14:37] neolit123 commented on #86741
the binaries are in the changelog:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.17.md#downloads-for-v1170

you can also install some of them as Debian / RPM packages:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

/close

[2019-12-31 14:37] #86741 closed

[2019-12-31 14:42] neolit123 commented on #86749
/remove-wg component-standard
/remove feature
/kind bug
/priority backlog

cc @kubernetes/dep-approvers

[2019-12-31 14:43] neolit123 commented on #86749
/remove-kind feature

[2019-12-31 14:44] neolit123 commented on #86735
/retitle 1.17: calico-kube-controllers CrashLoopBackoff

[2019-12-31 14:53] yordis commented on #59078
It doesn't seem that calling the command itself is what's slow, I tested and it is pretty fast.

But the generated file is quite big and slow.

[2019-12-31 14:59] MatthiasLohr commented on #79783
We ran into the same issue with MetalLB (Layer2 configuration). During debugging I found the issue with ipvs and so I came across this issue.

@imroc thank you very much for initiating this issue and providing a pull request - but unfortunately, discussion on that is discontinued. Is there any (other) idea around for solving that issue? How did you solve this for you so far?

[2019-12-31 15:07] #80818 closed

[2019-12-31 15:13] varuzam commented on #53023
The problem in my case has gone away after upgrading Kubernetes upto 1.16.3

[2019-12-31 15:27] ahg-g commented on #86712
Thanks, please go ahead and do that and reference this issue. Just leave the predicates that didn't move completely because of their dependency on Kubelet and DS controller.

[2019-12-31 15:30] haosdent commented on #86712
Noted, thx @ahg-g Let me raise pull request for these filters which depend on predicate package.

[code]

[2019-12-31 15:45] ahg-g commented on #86712
Do the service affinity and all volume based ones first, then we see what is left (I think the rest still have dependencies).

[2019-12-31 15:56] joekhoobyar commented on #23880
Bump.  This is also very useful for "metal" deployments, when using MetalLB as a load balancer.

[2019-12-31 16:23] haosdent commented on #86712
@ahg-g noted, thank you for the info.

[2019-12-31 16:52] neolit123 commented on #86654
hi, try sending this bug report in the kubernetes/kops repository.

/clsoe

[2019-12-31 16:53] neolit123 commented on #86654
/close

[2019-12-31 16:53] #86654 closed

[2019-12-31 17:37] jaygorrell commented on #58477
Not stale

[2019-12-31 17:37] #86445 closed

[2019-12-31 17:37] jaygorrell commented on #58477
/remove-lifecycle stale

[2019-12-31 18:32] slecrenski commented on #66161
I ended up using NodePorts and deploying the nginx-ingress-controller/ingress-nginx as a daemonset.  The client-ip is preserved as long as the ingress-nginx is deployed across all of the nodes.  The load balancer just needs to get updated to point to the nodeport on all of the nodes.  Least that's how I did it.  Probably much more efficient ways to do it?  Probably wouldn't work with certain load

[2019-12-31 18:41] ialidzhikov commented on #65612
/remove-lifecycle stale

[2019-12-31 18:49] ialidzhikov opened #86753 "Code-generator does not work outside of $GOPATH"
**What happened**:
`k8s.io/code-generator` is not able to generate code for projects using Go modules (cloned outside $GOPATH).

**What you expected to happen**:
`k8s.io/code-generator` to be able to generate code for projects using Go modules (cloned outside $GOPATH).

**How to reproduce it (as minimally and precisely as possible)**:
#### 1. k8s.io/sample-apiserver located in $GOPATH

1. Setup `k

[2019-12-31 18:50] ialidzhikov commented on #86753
/area code-generation
/sig api-machinery

cc @nikhita

[2019-12-31 19:07] ialidzhikov commented on #67566
I have no success with `k8s.io/code-generator` for go modules projects located outside of $GOPATH.
I described my findings in new issue - ref #86753.

[2019-12-31 19:55] rkc007 commented on #66766
Still, open -- anyone actively working on this? I would like to attempt if not. :)
/assign rkc007

[2019-12-31 20:00] rkc007 commented on #68712
Still, open -- anyone actively working on this? I would like to attempt if not. :)

[2020-01-01 00:54] krohrsb commented on #85020
I've run into the exact same scenario. Patches (or re-applys) cause the service UDP port to disappear (defining both TCP and UDP port 53). But a complete delete + apply will "fix" it.

[2020-01-01 01:03] #86198 closed

[2020-01-01 01:11] mnaser opened #86754 "Nodes unable to reach ClusterIP services"
**What happened**:
ClusterIP services seem to not properly respond (either with big delays or not working).

**What you expected to happen**:
ClusterIP should respond just as fast as from a pod as from a node.

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy a new cluster with `kubeadm` and `flannel`.
2. Try to run `dig` inside the node:

[code]
[code]
3. In the same cl

[2020-01-01 02:27] neolit123 commented on #86754
/remove-kind bug
/triage support

[2020-01-01 03:22] huchengze commented on #86749
@dims Thank you and I just creat this [pr](https://github.com/google/cadvisor/pull/2368).

[2020-01-01 06:23] tanjunchen opened #86756 "/test: resolve pending TODOs"
run following command in root of kubernetes
[code]
run  following command in /test of kubernetes
[code]
There are some TODO in /test , I guess that we can git rid of some of them if posssible.
I open an issue to record him, and advocate the removal or consummationof some TODO.
If you have any comments and ideas, please leave  messages under the issue, thank you.

**How to resovle pending TODO?**
I

[2020-01-01 10:41] Choi-Sung-Hoon commented on #86694
Could you provide a better template with indentations please?
It's ambiguous and hard for me to understand what you intended.

[2020-01-01 15:39] toddbu commented on #72501
It's been almost exactly a year since this bug was opened. If it's not worth fixing then the current owner (@WanLinghao) should just say so and close it. If it's important to fix then we should at least get a confirmation that this is a real bug based on the additional feedback or get it reassigned.

/remove-lifecycle stale

[2020-01-01 16:22] mnaser commented on #86497
@neolit123

Thank you for those instructions, I'm affected by this, does this have anything to do with a possibility of ClusterIP's not properly responding or does it only print out alerts?

[2020-01-01 16:28] neolit123 commented on #86756
@tanjunchen
thank you for enumerating these TODOs.

all TODOs in the framework are the responsibility of the "testing commnons" sub project of SIG Testing. "testing commons" created an initiative to c;leanup are refactor the framework to be more easy to consume.

but /test/kubemark or /test/e2e/sig-name are responsibility of other kubernetes SIGs.

my point is that different TODOs have different o

[2020-01-01 16:31] neolit123 commented on #86497
@mnaser

hello, can you test if the ClusterIP is not responding?
i don't think we got a confirmation if this is only an alert. my guess is that it is just that, but there might be side effects.

[2020-01-01 16:35] neolit123 commented on #86497
@mnaser
i see you logged https://github.com/kubernetes/kubernetes/issues/86754
i will comment there.

[2020-01-01 16:36] neolit123 commented on #86754
@mnaser
please confirm that this is caused by:
https://github.com/kubernetes/kubernetes/issues/86497

if this is the case one has to update to 1.17.1 (once it is out) or apply these mitigation steps:
https://github.com/kubernetes/kubernetes/issues/86497#issuecomment-568492909

[2020-01-01 18:03] Nowaker commented on #82440
The issue still persists on patched containerd. CPU usage over time is similar. This is likely a sole Kubernetes problem.

[2020-01-01 18:09] neolit123 commented on #82440
/remove-lifecycle stale

[2020-01-01 18:39] neolit123 commented on #86754
/remove-triage support
/triage needs-information

[2020-01-01 18:58] mnaser commented on #86754
I've investigated a bit more and tried to recreate this:

1. Prepare cluster nodes with 1.16.4 using the following on Debian Buster
[code]

2. Create a new cluster using `kubeadm` on the first node
[code]

3. Join the second node with the supplied `kubeadm` command.
[code]

4. Install flannel
[code]

5. Run the following on the second node once flannel and CoreDNS are up and verify DNS resolution

[2020-01-01 19:07] mnaser commented on #86754
Oh, and one more thing to add.  I can deploy a pod and it can resolve with no problems on both nodes:

[code]

Verify that pods have been deployed in different nodes

[code]

Try to resolve from both pods and notice that it's working:

[code]

[2020-01-01 19:08] kanthasamyraja opened #86760 "kubeadm init - kubelet failing to start"
Getting error while bootstrapping kubernetes 1.17
RHEL 7.7
Docker Version:19.03.5
cgroup-driver=systemd
network-plugin=cni

Error:
kubeadm init command failing to start kubelet
kubelet shows below error message at the end.
"transport: Error while dialing dial unix /var/run/dockershim.sock: connect: connection refused"

Full kubelet error message

systemd[1]: Stopped kubelet: The Kubernetes Node Ag

[2020-01-01 19:15] kanthasamyraja commented on #86760
/sig node
/sig cluster-lifecycle

[2020-01-01 19:37] neolit123 commented on #86754
i'm not convinced this is related to https://github.com/kubernetes/kubernetes/issues/86497
but to confirm you can pass `--service-cidr=10.96.0.0/16` to `kubadm init` (default is `10.96.0.0/12`).

try Calico 3.8.x (https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network), flannel is not as well maintained nowadays. the kubeadm project has e2e test s

[2020-01-01 20:09] neolit123 commented on #86760
hi, here are some questions:

- what is the list of flags passed to the kubelet?
- is the docker service running? try `docker info`
- did the same node/os/setup work in 1.16?
- are you seeing a panic in the kubelet logs?

[2020-01-01 20:10] neolit123 commented on #86760
/remove-triage support
/triage needs-information

[2020-01-01 21:05] rikatz commented on #86507
@ghhenry thanks! I’m OOO this week but will try it ASAP.

Just to know if this might be related to the CNI or kube-proxy, did you tried another CNI other than flannel?

Tks

[2020-01-01 21:38] renpengzhang commented on #86694
PV Template:
[code]
PVC Template:
[code]

Deployment Template
[code]

[2020-01-01 22:59] MikeSpreitzer commented on #73421
/remove-lifecycle stale

[2020-01-02 00:07] mnaser commented on #86754
I attempted to rebuild the cluster 1.17.0 with Calico instead.

[code]

With the pods running on one node, I'm able to hit them from the other node.  Does this mean that this is a flannel regression with Kubernetes 1.17.0?

[2020-01-02 00:08] neolit123 commented on #86754
flannel usually trails behind in support for the latest k8s version.
it's best to report it in the flannel repository, if you wish.

thanks for confirming.

/close

[2020-01-02 00:08] #86754 closed

[2020-01-02 00:36] liggitt commented on #86753
Potential fix in https://github.com/kubernetes/kubernetes/pull/85559

[2020-01-02 00:45] kanthasamyraja commented on #86760
@neolit123: Thanks for checking this.

**what is the full list of flags passed to the kubelet?**

[code]

**what is the full list of flags passed to the kubelet?**

[code]

**is the docker service running? try docker info**
Yes. Running.

[code]

**did the same node/os/setup work in 1.16?**

K8S V1.13.2 was running fine on this node part of cluster (3 Master and 4 Worker node setup). Removed one n

[2020-01-02 01:05] tedyu commented on #73421
@deads2k @soltysh
What do you think of @lavalamp 's comment above ?

Thanks

[2020-01-02 01:09] tedyu commented on #82022
/remove-lifecycle rotten

[2020-01-02 01:35] tanjunchen commented on #86756
@neolit123
Sure , Thanks  for your comments. I Just record these TODOS in /test , my purpose is not to simply delete these TODOs, but we do some research for each TODO to see if they still need to be retained. I estimate that some have been retained for a long time and we need to do some research and investigation on them. I want to help "testing commons" , I will coordinate with them. I will do s

[2020-01-02 01:47] neolit123 commented on #86760
jumping from 1.13 to 1.17 makes it hard to determine when and what regression happened.

try removing `--container-runtime=remote` from `/etc/sysconfig/kubelet` you don't have to pass that if you are using docker.

try removing `--cgroup-driver=systemd` too. kubeadm should detect that and append it in `/var/lib/kubelet/kubeadm-flags.env`.

also what are the contents of this file - `/var/lib/kubele

[2020-01-02 01:50] neolit123 commented on #86756
creating a separate issue for the framework seems good to me:

for the rest it is difficult because these are owned by different SIGs and it might contain logic that only a few people from a SIG understand...

[2020-01-02 01:54] neolit123 commented on #86760
these flags are not managed by kubeadm, so i cannot confirm if something broke related to them.

also:

[2020-01-02 02:28] wangrqsh commented on #58692
When i in  c:  run
 kubectl cp backend-68c49589fb-7dkkm:/fileStorage/20191231/cd28206c5e654390a815cc03bbc6d14e.png d:/xxx.jpg
error:
   tar: Removing leading `/' from member names
remove  the / after  pod:   like

kubectl cp backend-68c49589fb-7dkkm:fileStorage/20191231/cd28206c5e654390a815cc03bbc6d14e.png d:/xxx.jpg
it's ok.

[2020-01-02 02:39] DeanYang121 opened #86762 "coredns [ERROR] plugin/errors: 2 read udp 10.244.235.249:55567->10.96.0.10:53: i/o timeout"
**What happened**:
coredns failed to resolve internal service and External URL occasionally

my app logs：

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/redis/connection.py", line 544, in connect
    raise ConnectionError(self._error_message(e))
ConnectionError: Error -3 connecting to o2o-redis-service.o2o-sales.svc.cluster.local:6379. Temporary failure in name

[2020-01-02 02:40] tanjunchen opened #86763 "/test/e2e/framework: resolve pending TODOs"
ref:https://github.com/kubernetes/kubernetes/issues/86756

/test/e2e/framework: resolve pending TODOs

cc @andrewsykim @oomichi @SataQiu

/area e2e-test-framework
/kind cleanup
/priority backlog

1. e2e/framework/util.go:	// TODO: Remove the following imports (ref: https://github.com/kubernetes/kubernetes/issues/81245)
1. e2e/framework/util.go:	// TODO: Make this 30 seconds once #4566 is resolved.

[2020-01-02 02:41] tanjunchen commented on #86763
/sig testing

[2020-01-02 02:43] DeanYang121 commented on #86762
[root@k8s-mix-176 ~]# kubectl exec -it o2o-sales-deployment-6548b8d5b9-clbzq -c o2o-sales -n o2o-sales -- bash
root@o2o-sales-deployment-6548b8d5b9-clbzq:/data# cat /etc/resolv.conf
nameserver 10.96.0.10
search o2o-sales.svc.cluster.local svc.cluster.local cluster.local
options ndots:5 single-request-reopen

[2020-01-02 02:51] yqwang-ms commented on #86373
Also cc @hex108 @Huang-Wei @everpeace  @ahg-g @NickrenREN Any comments for this? Thanks!

[2020-01-02 02:52] pratikmallya commented on #72597
/remove-lifecycle rotten

[2020-01-02 03:11] DeanYang121 commented on #86762
/sig network

[2020-01-02 03:28] MikeSpreitzer opened #86765 "node not ready when using hack/local-up-cluster.sh"
**What happened**:
I did:
[code]

The git checkout got me commit 09cb73a554d.
After the local-up-cluster script told me to, I used another shell and it went like this:

[code]

**What you expected to happen**:
I expected the node to be ready.

**How to reproduce it (as minimally and precisely as possible)**:
Like I showed above.

**Anything else we need to know?**:

**Environment**:
- Kubernetes v

[2020-01-02 03:41] chengzi-xs commented on #84244
[root@k8s-master01 pki]# kubectl  logs --tail 100 -f  kube-proxy-7xwxd    -n  kube-system
E0102 03:37:31.978739       1 node.go:124] Failed to retrieve node info: Unauthorized
E0102 03:37:32.993003       1 node.go:124] Failed to retrieve node info: Unauthorized
E0102 03:37:35.100749       1 node.go:124] Failed to retrieve node info: Unauthorized
E0102 03:37:39.613080       1 node.go:124] Failed to

[2020-01-02 03:51] feiskyer commented on #86667
@sylr Any more information why the long running connections are not coming back? Didn't the client receive a connection reset?

[2020-01-02 03:54] MikeSpreitzer commented on #86765
@kubernetes/sig-node-bugs

[2020-01-02 04:10] haosdent commented on #86712
For these dependencies, I am going to move it into `pkg/scheduler/framework/plugins/helper/`
[code]

Is it OK for you @ahg-g ?

[2020-01-02 04:13] MikeSpreitzer commented on #86765
Note this particular one of the node conditions:
[code]

[2020-01-02 04:35] haosdent commented on #86711
For PredicateFailureReason, I think we could move the `pkg/scheduler/algorithm/predicates/error.go` to `pkg/scheduler/framework/plugins/helper`.

[2020-01-02 04:36] haosdent commented on #86711
Is it OK for you? @ahg-g

[2020-01-02 05:02] harishgupta opened #86766 "core_dns stuck in ContainerCreating status"
I am trying to setup a basic k8s cluster

After doing a kubeadm init --pod-network-cidr=10.244.0.0/16, the coredns pods are stuck in ContainerCreating   status
[code]

OS-IMAGE: Ubuntu 16.04.6 LTS
KERNEL-VERSION: 4.4.0-142-generic
CONTAINER-RUNTIME: docker://19.3.5

Errors from journalctl -xeu kubelet command
[code]

[2020-01-02 06:09] happilymarrieddad commented on #40244
Is this still an active Issue? I was wondering if there has been any progress on this. Thanks!

[2020-01-02 06:10] harishgupta commented on #86766
Looks like the issue was because I tried switching from calico to flannel cni. Following the steps mentioned here has resolved the issue for me

[Pods failed to start after switch cni plugin from flannel to calico and then flannel](https://stackoverflow.com/questions/53900779/pods-failed-to-start-after-switch-cni-plugin-from-flannel-to-calico-and-then-fla)

[2020-01-02 06:10] #86766 closed

[2020-01-02 06:24] gongguan commented on #86765
could you please upload kubelet log?

[2020-01-02 07:39] qianlei90 commented on #79612
I submited a PR #86770 to fix this issue. PTAL @alejandrox1 .

[2020-01-02 07:39] apoorva-05 opened #86771 "k8s 1.16 custom object resource version changes on status patch"
**What happened**:
In kubernetes 1.16.2 patching a status subresource of a custom object with a body that effectively does nothing increases the resource version of the object and triggers modify events.

I see that a bug was already raised and its fixed(https://github.com/kubernetes/kubernetes/issues/67541).This might be a regression.

**What you expected to happen**:
Applying a patch that does n

[2020-01-02 07:47] #80975 closed

[2020-01-02 07:54] xinyu7git commented on #49792
I have the same problem. Has your problem been solved? How to solve it?

[2020-01-02 07:55] xinyu7git commented on #49792
I have the same problem. Has your problem been solved? How to solve it?

[2020-01-02 08:14] danielsand commented on #81042
AFAIK this problem is docker related - but you took the dive into that area of the IT Ocean's depth to see what is the truth :D

As far i have readen into it yes - because docker is kinda overloaded and i had this problem not with kubernetes 1.11.x and an older Docker Version.

So the trial would be to switch to CRI-O or fraki - containerd is also possible but as far i have looked into it its more

[2020-01-02 09:01] ankon commented on #82753
Is there anything I can do to help with analysis?

[2020-01-02 09:35] tontinme opened #86772 "label type error when kubectl apply"
**What happened**:

I have test.yaml like this

[code]
after `kustomize build . > test02.yaml`, double quote of 1e003 removed by kustomize

[code]
then, kubectl apply -f test02.yaml cause error:

[code]

as you can see, 1e003 has been converted to 1000, which type is numeric, lead to type error.

**What you expected to happen**:

1. double quote reversed by kustomize
or
2. why 1e003 be converted t

[2020-01-02 09:42] george-angel commented on #65012
/remove-lifecycle stale

[2020-01-02 09:45] apoorva-05 commented on #86771
/sig api-mechinery

[2020-01-02 09:49] apoorva-05 commented on #86771
/sig api-machinery

[2020-01-02 09:49] apoorva-05 commented on #86771
/sig api-machinery

[2020-01-02 10:03] LubinLew opened #86773 "DualStack: Fail to deploy dualstack cluster, kube-proxy panics"
**What happened**:
I deployed a dualstack cluster with a config file.
First, kube-controller-manager CrashLoopBackOff,
because it add a default option --node-cidr-mask-size=24,
I deleted it from /etc/kubernetes/manifests/kube-controller-manager.yaml,
I think in dualstack mode, kube-controller-manager should ignore the --node-cidr-mask-size.
Then, kube-proxy CrashLoopBackOff,
[root@master ~]# kubec

[2020-01-02 10:08] tontinme commented on #86772
/sig cli

[2020-01-02 11:11] hex108 commented on #86373
I think it makes sense that high priority pods blocks lower priority pods. How many priority pods are pending for your case? And how often does the problem occur?

As for your proposal, I have some questions:
* After removing backoff feature, how does scheduler schedule pods that have been attempted to be scheduled 3 times and 5 times differently?
* Would you snaphot the priority queue? If not, `U

[2020-01-02 11:36] devopsgoat opened #86776 ""container init exited prematurely" after OOMKilled"
**What happened**:

After a container in a pod has been OOMKilled it fails to restart. The message is "oci runtime error: container_linux.go:247: starting container process caused "container init exited prematurely"

Deleting the pod will create a new pod which will start with no issues.

**What you expected to happen**:

The container should restart with no issues.

**How to reproduce it (as mini

[2020-01-02 11:39] devopsgoat commented on #86776
/sig node

[2020-01-02 11:49] yqwang-ms commented on #86373
Thanks @hex108 :)

To simplify the problem, my case is that the whole cluster is used by different teams (multi-tenant, such as TA, TB), and the nodes are already partitioned with different labels which can only used by cooresponding team (such as label LA can only be used by TA, label LB can only be used by TB).

Assume LA has very **tight** resources, and LB has very **sufficient** resources.

I

[2020-01-02 11:53] sftim commented on #86776
@devopsgoat would you be able to add sample manifests that someone can apply to try to reproduce the issue?

[2020-01-02 11:55] sftim commented on #86337
It sounds like the Pod is using more memory than the `limit` allows. OOM-termination is normal behavior if that's true, right?

[2020-01-02 11:58] hex108 commented on #86373
We could set a resource quota for LA and LB, then there will be not so many pending pods, does it work for you?

[2020-01-02 12:16] gprossliner opened #86779 "Provide richer output for "kubelet --version""
**What would you like to be added**:
The `kubeadm version` and `kubelet version` output can be controlled by the `-o` argument. This is very nice for automation scripts, which need to read this information. It also contains rich information like buildDate, gitTreeState and others.

It would be nice, if we could get this information also from `kubelet --version`, with json or yaml output.

Question

[2020-01-02 12:16] yqwang-ms commented on #86373
@hex108 We have investigated resource quota, but it has below cons:
1. resource quota can only describe resource limitation in quantity, it cannot describe such as "the total resource limit for 2 adjacent GPUs under 1 PCI-E Switch". So, it is not easy to work with scheduler extender, custom scheduling framework, or custom scheduler which using extended resource.
2. resource quota need to dynamical

[2020-01-02 12:17] gprossliner commented on #86779
/sig CLI

[2020-01-02 12:37] rkojedzinszky opened #86780 "Erroneous check for service clusterIPs"
**What happened**:
Started apiserver, received an incosistent error message:
[code]

**What you expected to happen**:
The reported IP matches the service CIDR, this message should've not appeared.

**How to reproduce it (as minimally and precisely as possible)**:
Have a service with clusterIP in 10.97.0.0/16 with service CIDR set to 10.96.0.0/12.

**Anything else we need to know?**:
During reprodu

[2020-01-02 12:42] yqwang-ms commented on #86373
@hex108 for your questions about my proposal:

For each scheduling round, i.e. my step 2~3, every pending pods will be scheduled exactly once. So, the only difference is the scheduling order, which is ordered by pod priority.
However, for the same priority, we still have freedom to order pods, such first schedule the 3times failed pod, then schedule the 5times failed pod.

No, queue is not snapsho

[2020-01-02 12:47] guzhaqixin commented on #86587
@rikatz Thanks for reply.
- The master and the edge can both reach each other with telnet
- `ufw status` returns `Status: inactive` on all nodes
- `/etc/cni/net.d` on master node contains one file `10-flannel.conflist`, the content is
[code]

[2020-01-02 13:11] rkojedzinszky commented on #86780
/sig network

[2020-01-02 13:12] yqwang-ms commented on #86373
@hex108 I updated the issue to clarify my proposal, thanks!

[2020-01-02 13:29] liggitt commented on #86610
how is the scheduler understanding there are two disks, and the capacities of the two disks, in order to understand how it should pack pods? is that built into your scheduler plugin opaquely, or communicated via resource requests in the pods and custom resource capacities on the node objects?

[2020-01-02 13:29] ghhenry commented on #86507
@rikatz  I tried calico now and it behaves similar when called from the master node:
- clusterIP:8080   working
- localhost:NodePort   not working
- machineIP:NodePort  working  (this is different from the flannel case, it was hanging there as well)

coming from another machine with machineIP:NodePort works here as well (did not work with flannel).

[2020-01-02 13:34] liggitt commented on #86552
No offense at all :)

That is not quite accurate. Patch versions are released about once a month (see https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#timelines), which contain only critical bug or security fixes. Upgrading to those patch versions is strongly recommended.

A documentation update to https://kubernetes.io/docs/setup/release/version-skew-policy/#suppor

[2020-01-02 13:56] ahg-g commented on #86712
Oh, I think there is a misunderstanding, the only thing I would like to be done at this point is **the errors** (i.e., similar #86742). As I mentioned above, for now leave the ones that have dependency on Kubelet/DS controller (nodeAffinity, NodeResourcesFit, NodePorts, NodeName and TaintToleration).

The ones that we can start with are:
1) Volume based ones
2) Inter-pod affinity/anti-affinity
3)

[2020-01-02 14:20] kanthasamyraja commented on #86760
Hi @neolit123

**jumping from 1.13 to 1.17 makes it hard to determine when and what regression happened.**

Servers are behind the firewall. No access to internet. Have to download all the rpms and images and copy to server. Thought would be easy to move to latest version instead of going one by one. And we have 4 environments many servers.

Is it not advisable?

**try removing --container-runtime

[2020-01-02 14:39] jnach commented on #48180
A Mutating Admission Controller is designed for exactly this scenario. It requires a valid SSL trust, a config object to instruct K8s to honor an additional check, and a pod(s), behind a service if possible for DNS and convenience, which does effectively whatever you would like to a manifest in transit between the cli and etcd, where transit in this context means authn/authz, your new controller,

[2020-01-02 14:41] jnach commented on #48180
A pre-built solution is another conversation, but this is more a matter of whether the kubernetes team wants to include this, and not if this is achievable. Happy to discuss

[2020-01-02 14:43] deitch commented on #48180
This definitely _can_ be done with a mutating admission controller. The vast majority of users, however, don't want to write one, with all of its complexities. Even if one is made available OSS, it still is real overhead.

My primary point is that this is a common enough use case (arguably, just about every organization deploying kubernetes) that supporting it in core would be a "good idea".

[2020-01-02 14:43] rkojedzinszky commented on #86780
Seems duplicate of #86497

[2020-01-02 14:43] #86780 closed

[2020-01-02 14:46] jnach commented on #48180
That's fair. One could be made that is optionally enabled to do this, there are already many behind flags. I'll see if anyone has already started and go from there.

[2020-01-02 14:47] deitch commented on #48180
Yup. And I know that this is one of many (thousands?) of open "let's put this into k8s" feature requests. I do think it is overwhelmingly common, though.

[2020-01-02 14:54] #77067 closed

[2020-01-02 15:03] seh opened #86784 "CSI mounter second-guesses failed NodePublishVolume RPCs, inferring success wrongly"
**What happened**:

A custom CSI driver implementing [the `NodePublishVolume` RPC](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodepublishvolume) returns a failure response, indicating that it did not complete its intended steps to prepare the volume for the mounting pod. Let's say that these steps involve
1. Mounting a filesystem at the target directory,
1. Fetching da

[2020-01-02 15:05] seh commented on #86784
/sig storage

[2020-01-02 15:17] Arvinderpal commented on #83346
`/close`
This has been addressed in https://github.com/kubernetes/kubernetes/pull/85609

[2020-01-02 15:19] devopsgoat commented on #86776
Hi. This is a sample manifest with some values sanitized:

`---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: myapp1
  namespace: live
spec:
  replicas: 2
  template:
    metadata:
      annotations:
        myapp1/some-port: "8765"
      labels:
        app: myapp1
        service: myapp
      name: myapp1
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringS

[2020-01-02 15:22] devopsgoat commented on #86776
When the pod goes into the problematic state the sidecar containers continue to run. The ConfigMaps appear to be mounted in the OS under` /var/lib/kubelet/pods/[pod Id]/volumes/kubernetes.io~configmap/config-volume/`

[2020-01-02 15:25] devopsgoat commented on #86776
We have recently lengthened the value passed to `sleep` in the preStop hook to 30 seconds. Could this be factor?

[2020-01-02 15:38] devopsgoat commented on #86776
...also on every cycle of the container restart is the message:

[code]

I assume this is because the secret never gets mounted as the container has failed to start.

[2020-01-02 15:52] timothyclarke commented on #55045
As an absolute minimum there needs to be an option to remove the PVC's on Statefulset (sts) deletion.
The option should be editable in the event that someone changes their mind prior to removing the stateful set.
I've recently had a member of our dev team waste a day over this one when trying to deploy a well known chart from the helm / stable repo. They were trying to re-deploy the same chart aft

[2020-01-02 15:55] #77316 closed

[2020-01-02 15:59] tedyu opened #86786 "Require protocol negotiation for exec/attach/port-forward"
**What would you like to be added**:
Subprotocol negotiation was added in Kubernetes 1.1

This issue is about adding requirement of protocol negotiation for exec/attach/port-forward.

/sig api-machinery

[2020-01-02 16:06] neolit123 commented on #86760
but kubeadm already adds `--cgroup-driver=systemd` to your `/var/lib/kubelet/kubeadm-flags.env`. this does not make sense.

the sockets should exist as files in that folder?

[2020-01-02 16:09] tedyu commented on #86786
xref #86646

[2020-01-02 16:18] hermanbanken commented on #25238
Specifying `replicas` while also using a HPA is a weird situation that can lead to this behavior when combined with `kubectl apply` patches.

If you dry-run the kubectl apply with `--server-dry-run` you can observe that it **sets** the replicas to 1:
[code]

IMO, the docs should contain a warning about using both the `replicas` property and HPAs. We could make adjustments to have the master consid

[2020-01-02 16:31] droslean opened #86787 "[Failing Test] gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot )"
**Which jobs are failing**:
`gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot )`

**Which test(s) are failing**:
`[k8s.io] [sig-cloud-provider-gcp] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-reboot

**Reason for failure**

[2020-01-02 16:32] droslean commented on #86787
/sig cloud-provider

[2020-01-02 16:36] droslean opened #86788 "[Failing Test] gce-windows-containerd-master (ci-kubernetes-e2e-windows-containerd-gce)"
**Which jobs are failing**:
`gce-windows-containerd-master (ci-kubernetes-e2e-windows-containerd-gce)`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-containerd-master

**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-containerd-gce/1212723448694968324

**Anything else we need to know**:
/cc @kubernetes/ci-

[2020-01-02 16:38] kanthasamyraja commented on #86760
Hi @neolit123

Thanks for your time on checking this. I made changes.

**the sockets should exist as files in that folder?**

[code]

**try removing /etc/sysconfig/kubelet or make the file empty.**

Now it is empty
[code]

kubeadm reset
kubeadm init shows below log

[code]

Kubelet logs

[code]

[2020-01-02 16:41] markmandel commented on #49792
If anyone wants the code, this is how we do random, non conflicting hostPort management in [Agones](https://agones.dev), as we had the same issue for dedicated multiplayer game servers.

It is tied to our CRD, but it would probably be turned into something more generic is someone was so inclined.

https://github.com/googleforgames/agones/blob/master/pkg/gameservers/portallocator.go

[2020-01-02 16:44] neolit123 commented on #86760
Jan 02 16:27:49 dealw11408 kubelet[30107]: W0102 16:27:49.900663   30107 server.go:617] failed to get the container runtime's cgroup: failed to get container name for docker process: cpu and memory cgroup hierarchy not unified.  cpu: /system.slice/docker.service, memory: /system.slice. Runtime system container metrics may be missing.

something is not right with the CRI / cgroups.

i have not expl

[2020-01-02 17:06] mortent commented on #72320
This issue was brought up at the sig-apps meeting in early December. There are some discussions related to this in #81175 and #83906. I think the core issue here is that the rules for when a pod is considered ready in the disruption controller and when a pod can be evicted are different.

/cc @kow3ns @janetkuo @tnozicka

[2020-01-02 17:12] neolit123 commented on #86773
you seem to be using a pre-release version of kube-proxy (v1.17-rc.2.10+70132b0f130acc). try v1.17.0.

if v1.17.0 also does not work, try using `mode: iptables` instead of IPVS.

@kubernetes/sig-network-bugs

[2020-01-02 17:23] aojea commented on #69588
Some kube-proxy functionalities depends on conntrack, is it possible to run a conformance cluster without having conntrack enable?

[2020-01-02 17:23] msau42 commented on #86784
@kubernetes/sig-storage-bugs

While the plugin should try to clean up as much as possible, I agree that kubelet should not be assuming that if there's a mount point, the publish is successful. NodePublish is supposed to be idempotent so it should theoretically be safe to call it when it's already mounted, although there is the possibility that plugins may have written against the K8s behavior.

[2020-01-02 18:19] neolit123 commented on #86788
/remove-sig cluster-lifecycle
/sig node
this job is owned by sig-windows and sig-node.

[2020-01-02 18:26] neolit123 commented on #86787
/area provider/gke

[2020-01-02 18:33] neolit123 commented on #86779
i think you meant kubeadm and kubectl.

a CLI means command line interface and the kubelet does have one. yet it does not have sub-commands (such as "version"), only flags. so the possibility here is to either add a "version" sub command or add an extra "-o" flag that controls the version output. the later seems better for the time being.

/retitle Provide richer output for "kubelet --version"
/re

[2020-01-02 18:37] MikeSpreitzer commented on #86765
[shell2.log](https://github.com/kubernetes/kubernetes/files/4016945/shell2.log)
[shell1.log](https://github.com/kubernetes/kubernetes/files/4016946/shell1.log)
[kubelogs.zip](https://github.com/kubernetes/kubernetes/files/4016947/kubelogs.zip)

[2020-01-02 18:46] ahg-g opened #86789 "Disable scheduler plugins according to component config plugins disabled list [Migration Phase 2]"
**What would you like to be added**:
Actually disable scheduler plugins according to the disabled list in the scheduler's component config.

The semantics are defined here: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/types.go#L155-L159

Part of #85822

/sig scheduling
/priority important-soon
/assign @draveness

[2020-01-02 18:53] MikeSpreitzer commented on #86765
After noticing the complaint about `/var/lib/kubelet/cpu_manager_state` in in the kubelet log, I added `sudo rm -rf /var/lib/kubelet/` to my cleanout commands, and that made the problem go away.

[2020-01-02 18:54] ahg-g commented on #86711
No, we should keep plugins/helper as light as possible, and there is no need to put all failure reasons in one place, see comment here: https://github.com/kubernetes/kubernetes/issues/86712#issuecomment-570214164

[2020-01-02 18:57] pjh commented on #86788
/assign Random-Liu

[2020-01-02 19:01] pjh commented on #86788
The first failure that I see in the linked build log:

[code]

I skimmed through other failures below that and they all seem to be timeouts. I think increased latency is expected with containerd on Windows right now, not sure if we should increase the test timeouts or just live with this while containerd work progresses.

[2020-01-02 19:21] kanthasamyraja commented on #86760
hi

**does docker pull <someimage> work from a shell?**

Yes. From our internal JFrog artifactory.

[code]

[2020-01-02 19:33] jingxu97 commented on #86784
For the mount point checking here https://github.com/kubernetes/kubernetes/blob/0387ee4244ecceeddeb77783b8fedd74dcc1fb44/pkg/volume/csi/csi_mounter.go#L114-L117 before calling NodePublishVolume, I am wondering it is just for performance optimization, or it has other purposes. Have concern about some drivers might depend on this check if they are not implemented with idenpotency.

[2020-01-02 19:58] rikatz commented on #86507
OK, so I'm wondering if this is some weird iptables issue. Is that possible, just as a test to change kube-proxy to work with IPVS instead of iptables?

[2020-01-02 20:07] rikatz commented on #86587
OK, one problem when you get the logs is that the master can not reach kubelet readonly port to read the logs.

The other problem is that flannel isn't initializing, probably because some other thing.

The install-cni is working fine (as the cni file is being populated) but you're not being able to get the logs.

The 'kubectl' command you're executing inside the master or any other machine?

You c

[2020-01-02 20:12] rikatz commented on #86762
Hi @DeanYang121

By your logs, it seems you have two problems:

* CoreDNS not being able to query kubernetes apiserver to resolve internal names
* CoreDNS not being able to forward your queries to external DNS (132.120.200.49:53: i/o timeout)

Can you please check if CoreDNS is reaching both apiserver and your external DNS correctly? If not, can you try verifying if there's some firewall between t

[2020-01-02 20:23] guzhaqixin commented on #86587
I forget to mention that the flannel pod on master node initialized successfully and is Running.
The `kubectl` command I am executing is inside the master node.
I'll try to get the logs.

[2020-01-02 20:35] rajathagasthya opened #86792 "SelectorFromSet function returns selector that matches everything on invalid labels"
**What happened**:
While looking into https://github.com/kubernetes-sigs/controller-runtime/issues/740, I noticed that the `SelectorFromSet` function is gobbling up validation errors and returns an empty selector that matches everything. (https://github.com/kubernetes/apimachinery/blob/3253b0a30d67e7e362b8615e463156bac729c82f/pkg/labels/selector.go#L881-L883)

The result is that when you pass labe

[2020-01-02 20:35] rajathagasthya commented on #86792
/sig api-machinery

[2020-01-02 20:37] neolit123 commented on #86776
is the problem reproducible with 1.15 at minimum? 1.14 is out of support since the release of 1.17.

[2020-01-02 20:46] rikatz commented on #83242
/remove-lifecycle stale

Got some time to resolve some other stuff, but this is still a thing

[2020-01-02 20:50] cmluciano commented on #43214
Now that https://github.com/kubernetes/kubernetes/pull/85903 is merged, do we have any additional steps to be aware of for 1.18?

[2020-01-02 20:52] liggitt commented on #43214
the main thing for 1.18 is getting the v1 API completed and merged

[2020-01-02 21:00] #80865 closed

[2020-01-02 21:08] seh commented on #86784
Those drivers would be operating in violation of the specification. I'd prefer that we don't penalize already conforming and yet-to-be written drivers in order to accommodate these existing drivers—if they even exist.

[2020-01-02 21:09] kamilgregorczyk commented on #74651
Is it possible to make it global? I don't want to enable that for each pod config, especially that I use a lot of prepared things from helm

[2020-01-02 21:18] praseodym commented on #86626
#73845 was cherrypicked in v1.13.4, so v1.13.2 is still susceptible to that bug.

[2020-01-02 21:25] sudo-undefined commented on #70202
Thanks @HankTheCrank.
I just deployed kubeadm, kubelet, kubeclt 1.15.7 together with whatever CIDR version that are in kubernetes 1.17, I've read there were some changes in CIDR but I don't know really what it is and now I don't have to spend hours trying to figure it out (at the moment),
The node patch command made flannel come alive on my worker nodes.

[2020-01-02 21:42] bowei commented on #82203
I'm going to close this for now as there is a workaround. Reopen if needed.
/close

[2020-01-02 21:42] #82203 closed

[2020-01-02 21:49] aojea commented on #86773
kube-proxy dual-stack support with iptables is still pending https://github.com/kubernetes/kubernetes/pull/82462

The  `--node-cidr-mask-size` was fixed in https://github.com/kubernetes/kubernetes/pull/85609

It seems that the panic is because is trying to add an endpoint without ipFamily

[code]

@aramase @khenidak @uablrek does this ring a bell?
why the mataproxier panics if there is no ip famil

[2020-01-02 21:50] bowei commented on #83400
/lifecycle frozen

[2020-01-02 22:05] liggitt commented on #86772
Thanks for the bug report. kustomize bugs can be reported against https://github.com/kubernetes-sigs/kustomize

This sounds like the same issue as https://github.com/kubernetes/kubernetes/issues/85394, which was resolved by bumping the yaml library we use. kustomize might need to do the same thing

[2020-01-02 22:05] #86772 closed

[2020-01-02 22:11] liggitt commented on #86771
I'm unable to reproduce this

status.yaml:
[code]

[code]

[code]

[code]

[code]

[code]

[2020-01-02 22:12] harsha415 commented on #50346
Hello
Did anyone find a Fix to this issue with kubernetes ?
I am facing a similar issue where I run into the error
 kubelet[8020]: runtime: failed to create new OS thread (have 12 already; errno=11)
kubelet[8020]: runtime: may need to increase max user processes (ulimit -u)
kubelet[8020]: fatal error: newosproc

[2020-01-02 22:12] liggitt commented on #86771
can you start a `kubectl watch -o json` in a separate window on the resource being patched and capture the updates to it while you are submitting the no-op patches?

[2020-01-02 23:02] #80940 closed

[2020-01-02 23:22] aojea commented on #85020
It will be very useful if you can describe the exact steps to reproduce it, @philipsparrow and @krohrsb it seems you have found how to do it, can you share it?

[2020-01-03 00:16] bitglue commented on #23130
/remove-lifecycle stale

[2020-01-03 00:20] bitglue commented on #23130
broken, still

[code]

[2020-01-03 01:04] #80914 closed

[2020-01-03 01:05] gongguan commented on #86765
yes, I met the same issue few days ago, rm /var/lib/kubelet/cpu_manager_state solve it.

[2020-01-03 01:23] h4ghhh commented on #86722
Version is 1.13.0, and merges bug from 1.13.6.
It happened after kubelet restarted.

[2020-01-03 01:39] hex108 commented on #86373
These problem still exsits without resource quota. Resource quota only make things better that it makes pending pods less.

Yes, it has the problem, we have not solved this problem well yet.

[2020-01-03 01:41] hex108 commented on #86373
If there are batch jobs running in the cluster, it is the normal case that there are always new pods coming. And we should deal with them.

[2020-01-03 02:06] neolit123 commented on #86722
< 1.15 is out of support at this point, so it is best to help us confirm if the issue is still present in versions in the support skew.

anything else you can tells us?
- when does this happen?
- any special conditions, volumes?
- how to reproduce this?

----

given this call passes:
https://github.com/kubernetes/kubernetes/blob/abdda3f9fefa29172298a2e42f5102e777a8ec25/pkg/kubelet/volumemanager/re

[2020-01-03 02:10] yqwang-ms commented on #86373
If we run multiple default scheduler instances (configure them to different scheduler name), each for one team, serving as a dedicated queue. We at least can avoid cross team starvation, and the problem 1 and 2 are already resolved by our scheduler extender.

Yep, essentially it is pod scheduling speed vs pod creation speed.
From this comment, https://github.com/kubernetes/kubernetes/issues/81214#

[2020-01-03 02:26] ramanaleon commented on #50346
Are you running kubectl on unix? If so it could be due to proc limits.
Please modify the values in /etc/security/limits.conf

On Fri, 3 Jan 2020 at 3:42 AM, harsha415 <notifications@github.com> wrote:

--
Regards,
Venkat

[2020-01-03 02:30] tedyu commented on #86722
In kubelet.go, kubeClient is passed from:
[code]
Earlier there is check:
[code]
I am thinking of the following fix:
[code]

[2020-01-03 02:45] hex108 commented on #86373
If you have resolved it by extender, there should not be these problems after adding resource quota.

Suppose that pod scheduling speed == pod creation speed and pods are continously comming, the pod queue will still not be empty.

I catch your point, it will be better if we could solve the problem :) In your proposal, before each schedule round ends, high priority pods will not get scheduled agai

[2020-01-03 02:51] neolit123 commented on #86722
@tedyu
having the nil guard is OK, but i think the question is why did the client end up as nil in the first place.

[2020-01-03 02:54] foshantiger commented on #83786
same issue~

[2020-01-03 03:01] tedyu commented on #86722
@h4ghhh
Do you see the following log ?
[code]
It seems kubeDeps.KubeClient might be nil in case of error.

[2020-01-03 03:04] yqwang-ms commented on #86373
I mean to avoid avoid cross team starvation, we resolved it by run **multiple default scheduler** instances, instead of leveraging **extender**. Because currently, extender cannot control how to queuing pods, it can only accept the "to be scheduled pods" from default scheduler's. So extender can hardly help to resolve this queuing issue.

Thanks for the catching, haha.
I think it is fair for them.

[2020-01-03 03:15] #84307 closed

[2020-01-03 03:16] hex108 commented on #86373
That is the problem. There might be some resource released, then free resource meets the demand of the high priroity pods, but it could not get scheduled until the schedule round ends. Howerver these resource might be allocated to new pods with same priority.

And there might be other cases we have not considered. I think a proposal or KEP is needed.

[2020-01-03 03:17] houruiming1 opened #86797 "failed to attach cinder volume when another instance with the same name exists in openstack"
**What happened**:
while attaching cinder volume to node , attach operation failed with the following errors:
[code]
**What you expected to happen**:
attach cinder volume successfully
**How to reproduce it (as minimally and precisely as possible)**:
install kubernetes v1.13.5
config kubernetes to use external cloud provider: --cloud-provider=external
create or rename a server instance with the sam

[2020-01-03 03:20] houruiming1 commented on #86797
/sig cloud-provider

[2020-01-03 03:21] houruiming1 commented on #86797
/sig storage

[2020-01-03 03:24] yqwang-ms commented on #86373
Thanks @hex108 for the suggestion :)

Seems for the same priority, we do not need to guarantee the scheduling order (current scheduler also does not guarantee this due to backoff/unschedulable queue, queue flush features, etc).

Anyway, a KEP would be better, while the issue is still worth to raise now, because I want to know, do we really need to totally avoid Pod starvation (HOL blocking), or ju

[2020-01-03 03:30] dapeng09 commented on #65502
hi folks, any plan on implementing this nice feature or is there a temporary solution for this(long-running containers startup order within a pod)?

[2020-01-03 03:31] yqwang-ms commented on #86373
BTW, for current scheduler, it also has this "problem" (although I do not think it is a problem). The high priroity pods may be in unschedulable queue or backoff queue, it could not get scheduled until the backoff ends. Howerver these resource might be allocated to new pods with same priority.

[2020-01-03 03:32] neolit123 commented on #86797
/area provider/openstack

[2020-01-03 03:41] hex108 commented on #86373
But your proposal might make a unusal case to be a common case, we do not know how long will the schedule round be.

For the HOL problem, I have two suggestions to help alleviate it.

* Use reource quota.
* Give TB's pods high priroity.

[2020-01-03 03:56] yqwang-ms commented on #86373
This is similar to: currently we also do NOT know the scheduling speed (and other factors mentioned in the issue), so hard to tune backoff duration. So, the same question, why we have to insist the backoff mechanism? I see space to improve it, even though my proposal is not the best one.

Maybe K8S need to support multi-tenant as first class, just using reource quota per namespace and global meani

[2020-01-03 04:08] hex108 commented on #86373
I do not insist the backoff mechanism, I just said my concerns about you proposal, and we need discuss them more :)

As to multi-tenant, it is really a big topic, there is [multi-tenancy](https://github.com/kubernetes-sigs/multi-tenancy), and [kube-batch](https://github.com/kubernetes-sigs/kube-batch) also tries to resolve it.

[2020-01-03 04:25] mkumatag commented on #73365
/remove-lifecycle stale

[2020-01-03 04:26] yqwang-ms commented on #86373
Agree :) Thank you!
Wish this issue to be a starting point to discuss K8S HOLB issue, and more devs can provide more ideas.

We are also working on the multi-tenant by [HiveD scheduler](https://github.com/microsoft/pai/blob/master/docs/system_architecture.md), so we are truely impacted by this issue.
Seems both scheduler extender (like our HiveD) and scheduling framework are hardly to solve it, an

[2020-01-03 04:30] thehackercat commented on #86647
+1

[2020-01-03 04:43] apoorva-05 commented on #86771
@liggitt is this the correct command? ```kubectl watch -o json```. Doesn't seem to be working.
Anyway i tried with your yamls. Its output is mentioned below.

### Created the yamls
[code]
### Resource version of foo object before status update
[code]
### Applied the patch
[code]
### Output of foo object after patch
[code]
Not sure what i am missing. Is there any cluster level changes/flags which n

[2020-01-03 04:46] hex108 commented on #86373
:)

It requires @kubernetes-sigs member, I do not meet the requirments to be a sponsor, sorry. And it does not need to be a member to use the repo or file issues/PRs.

[2020-01-03 04:51] yqwang-ms commented on #86373
Thanks @hex108 for the advice :)

[2020-01-03 05:08] #72308 closed

[2020-01-03 06:02] tamalsaha opened #86800 "Allow description in metadata of CRD structural schema"
**What would you like to be added**:

CRD structural schema requires that `if metadata is specified, then only restrictions on metadata.name and metadata.generateName are allowed.`

Can `metadata.description` field be also allowed?

**Why is this needed**:

I am using kubebuilder to generate CRD yamls. If I add comments to `metadata` field in Go struct, kubebuilder sets that as `metadata.descripti

[2020-01-03 06:02] tamalsaha commented on #86800
/sig api-machinery

[2020-01-03 06:03] tamalsaha commented on #86800
/area custom-resources

[2020-01-03 06:03] tamalsaha commented on #86800
cc: @sttts

[2020-01-03 06:25] #86162 closed

[2020-01-03 06:31] hex108 commented on #85447
/close

Close it now, I do not have a reproducible enviroment for it now. But I guess it is related to https://github.com/kubernetes/kubernetes/issues/86198: pod A is scheduled to a pod, and it is put to scheduling queue because of pod annotaitons update, then it gets scheduled again and preempts a pod, and sscheduler add it as a nominated pod.

[2020-01-03 06:31] #85447 closed

[2020-01-03 06:34] paleyoupa commented on #75870
一样的问题，pod跑久了，日志的空间全算到container_memory_usage_bytes里面了，几十个G

[2020-01-03 06:45] h4ghhh commented on #86722
I don‘t find such log...

The whole system was upgrading. Apiserver had not beening working at that time, but kubelet started running first.

[2020-01-03 06:51] jamesthegiantpeach commented on #82131
Getting this error on k8s v1.15.6

[2020-01-03 07:08] hex108 opened #86803 "Define a scheduler algorithm provider for kubelet"
**What would you like to be added**:

Define algorithm providers in terms of plugins instead of predicates for kubelet.

Ref https://github.com/kubernetes/kubernetes/issues/86162

**Why is this needed**:

Predicates will be deprecated.

/sig scheduling
/assign

[2020-01-03 07:08] hex108 commented on #86803
/cc @ahg-g

[2020-01-03 07:10] #79556 closed

[2020-01-03 07:10] #80251 closed

[2020-01-03 07:10] #78855 closed

[2020-01-03 07:10] #79994 closed

[2020-01-03 07:10] #77129 closed

[2020-01-03 07:10] #79067 closed

[2020-01-03 07:10] #77658 closed

[2020-01-03 07:25] skilxn-go commented on #86610
We have some choices to achieve this:

1. Patch resources to nodes api spec
2. Add some unstructured  to node's label/Annotations

So I think it's not a problem. :D

[2020-01-03 08:02] Mowzey123 commented on #86536
Am tasked with setting up MongoDB on Kubernetes, What is the new way to convert from apps/v1beta to apps/v1

[2020-01-03 08:07] apoorva-05 commented on #86771
I see that in your case the resource Version changed from "317" to "331" after the PATCH of the status. Does this mean, that this behavior is expected?

[2020-01-03 08:11] #77591 closed

[2020-01-03 08:22] devopsgoat commented on #86776
OK. I can look to see if this is still an issue at 1.15.

Are there any tools recommended to troubelshoot this at the docker level as this looks like where the error is coming from? So far I have used docker with debug enabled and strace against the docker process.

This only seems to have become a problem recently but there have been no changes to the platform (OS + packages, K8S version) nor the

[2020-01-03 08:31] jonfairbanks commented on #42552
Are there any workarounds to keep `--watch` commands running indefinitely?

[2020-01-03 09:06] edo-lynx commented on #65937
can you please explain how you did it?

[2020-01-03 09:12] #70093 closed

[2020-01-03 09:21] Choi-Sung-Hoon commented on #86694
If you want to make only one node available to use the PV, you have to use the given template for only one node.

For the other 2 nodes, you have to use different template from the given one.

       volumes:
      - name: media
        persistentVolumeClaim:
          claimName: media

I think you need to change this part for the other 2 nodes.

[2020-01-03 09:24] lancelot1989 opened #86805 "provide capabilities to enable aws credential provider manually"
**What would you like to be added**:

i would like to add a flag in kubelet to provide capabilities to enable aws credential provider manually. just like the `--azure-container-registry-config` flag did.

**Why is this needed**:

for some private user, some credential provider (like aws/azure) is unnecessary. and aws credential provider will be initialized automatically during kubelet startup, whi

[2020-01-03 09:26] lancelot1989 commented on #86805
/sig node

[2020-01-03 09:44] uablrek commented on #86773
The reason for the panic is not hard to see;

https://github.com/kubernetes/kubernetes/blob/65ef5dcc513ccfd60436bf4d04652224c9b6036f/pkg/proxy/ipvs/meta_proxier.go#L64-L66

There is no check for `nil`.

The reason why IPFamily *is* nil is less clear. I tried to set `IPv6DualStack:false` for the "master" K8s processes, but keep `IPv6DualStack:true` on `kube-proxy` and I get exactly the panic descri

[2020-01-03 09:47] uablrek commented on #86773
BTW the reverse; `IPv6DualStack:true` on the master processes but  `IPv6DualStack:false` in `kubelet` and `kube-proxy` should be OK IMO. That would allow a "migration" ipv4->dual-stack with a rolling upgrade. I have intended to test this but havn't got the time yet.

[2020-01-03 09:55] uablrek commented on #86773
I tested using a local build on the "master" branch;
[code]

[2020-01-03 10:02] LubinLew commented on #86773
@uablrek
the config file here,  which field is wrong ?
[kubeadm-conf.txt](https://github.com/kubernetes/kubernetes/files/4018683/kubeadm-conf.txt)

[2020-01-03 10:07] sttts commented on #86800
We cannot change this easily, i.e. weakening validation. This would lead to CRDs which are compatible with e.g. 1.18, but incompatible with 1.17.

[2020-01-03 10:11] uablrek commented on #86773
Here is my config; [kubeadm-config.yaml.txt](https://github.com/kubernetes/kubernetes/files/4018719/kubeadm-config.yaml.txt)

It works (for me at least) and a difference I see is how the featureGate is specified. I am not an expert on `kubeadm` so I can't say more exactly what the problem is.

[2020-01-03 10:13] #75663 closed

[2020-01-03 10:19] xinfengliu commented on #61937
Thanks @chilicat .
I tested `cgroup.memory=nokmem` boot option on `Kernel 3.10.0-1062.4.1.el7.x86_64`, yes it works:
[code]
Heads-up:
I also tested on `kernel-3.10.0-957.5.1`, the boot option has no effect. i.e. `memory.kmem.usage_in_bytes` is not zero.

[2020-01-03 10:57] huchengze opened #86808 "The base image's tag of debian-hyperkube-base haven't changed"
**What happened**:

The base image'tag of debian-hyperkube-base haven't changed.

In this [commit](https://github.com/kubernetes/kubernetes/commit/861cdd82b50d2aca3115b5e031a9f509b9eb5e3e#diff-cbc4ed8875862b227463fb138e295d7e), the base image's tags  of debian-base, debian-iptables and debian-hyperkube-base have changed together.

But in this [commit](https://github.com/kubernetes/kubernetes/commi

[2020-01-03 10:57] yingnanzhang666 commented on #85792
**de-prioritize these ScheduleFailed pods, avoid them to block the queue.**

- keep to de-prioritize FailedScheduling pods when each time this pod wasn't scheduled successfully.

- set back to original priority for those pods being de-prioritized when receive events about capacity adding. (warmup time: start to change dynamic-priority after 1 minute when capacity adding)

This proposal mixes with

[2020-01-03 10:59] huchengze commented on #86808
/sig release

[2020-01-03 10:59] yingnanzhang666 commented on #85792
@bsalamat

[2020-01-03 11:00] aojea commented on #86773
@LubinLew seems you are not configuring dual-stack cidrs on these fields

@uablrek indeed a panic doesn't look good . I think that is it possible to hit this scenario not only by misconfiguration, maybe if we want to migrate a cluster from single-stack to dual-stack?

@thockin @khenidak how do you think that should be handled this scenario https://github.com/kubernetes/kubernetes/issues/86773#issu

[2020-01-03 11:01] huchengze commented on #86808
/sig api-machinery

[2020-01-03 11:14] davide-talesco commented on #50375
+1

[2020-01-03 11:14] #78645 closed

[2020-01-03 11:24] odinuge commented on #80452
Hi @andy-wolf168,

This will be fixed in #80831, but it is still not merged. Hoping to get it into next release.

In order to solve the issue (and use 1GiB huge pages) you have to delete the node in kubernetes via `kubectl delete node <name>`, and join the node again.

[2020-01-03 11:33] DeanYang121 commented on #86762
Thanks for your help. I checkd my  kubernetes  environment，My kubernetes Net have two subnet , My CoreDns is not  in the same subnet with apiserver. so，I  schedule CoreDns to  the apiServer's subnet，and the problem disappeared.  I suspect there is packet loss in these two subnets，thanks again~

[2020-01-03 11:33] #86762 closed

[2020-01-03 12:04] droslean opened #86809 "[Failing Test] gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)"
**Which jobs are failing**:
`gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)`

**Since when has it been failing**:
`3rd Jan 23:15 PST` https://github.com/kubernetes/kubernetes/compare/1780792d3...47d5c3ef8

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

**Reason for failure**:
[code]

**Anything else we need to know**:

[2020-01-03 12:05] SalmaSattar commented on #70685
Hi, I am trying to enable --feature-gates="TTLAfterFinished=true" in kubernetes version 1.13.
I tried with kubeadm. Got error saying --feature-gates unrecognized.
I installed kube-apiserver. Tried enabling --feature-gates="TTLAfterFinished=true" . I get some certificate error.

Can you some one please help with the steps to enable  --feature-gates="TTLAfterFinished=true. It would be great help. Th

[2020-01-03 12:07] droslean commented on #86809
@neolit123 Can you take a look?

[2020-01-03 12:15] #81010 closed

[2020-01-03 12:16] gprossliner commented on #86779
Thank you neolit123 for the instant feedback on this Issue.

Of cause, sorry for this.

This was what I was meant.

I also think that introducing sub commands to a program which is no CLI is a good idea.
But implementing the -o (long flag --output) flag to control the output would be reasonable.

I checked the documented [kubelet Options](https://kubernetes.io/docs/reference/command-line-tools-ref

[2020-01-03 12:17] ghhenry commented on #86507
I have done one more experiment to setup a cluster on faster machines (again with flannel) and everything works fine there. So it seems, the issue is really related to the repeated sending of the SYN packet.

I will also try IPVS and report back on that.

[2020-01-03 12:21] phishsticks commented on #23880
+1, this is much needed for metal deployments,

[2020-01-03 12:30] guzhaqixin commented on #86587
@rikatz On master node in the docker logs there are two container about flannel,
- `COMMAND: "/opt/bin/flanneld -…"`; `NAMES: _kube-flannel_kube-flannel-ds-amd64-n4nkk_kube-system_SOMEHASH`
- `COMMAND:"/pause"`; `NAME: k8s_POD_kube-flannel-ds-amd64-n4nkk_kube-system_SOMEHASH`
Log of first is
[code]
and log for the second is empty.

[2020-01-03 12:44] snowplayfire commented on #86626
@wojtek-t @praseodym
I read the PR #73845, but I' m confused and have a question.
As #73845,  these "repeated" events may appear when a watcher starts. That is, scheduler can not schedule pods even though they fit on a node only when scheduler restarts.

However,  I meet the problem not when scheduler restarts.

My scenario:
Scheduler works well for a period of time, then this problem occurs.  But

[2020-01-03 13:03] tamalsaha opened #86811 "metav1.Time fails CRD validation"
**What happened**:

One of my CRD has a metav1.Time field (this is an embedded partial ObjectMeta)

[code]

I am using Kubebuilder to generate CRD yaml. So, it generated the following schema:
https://github.com/kubernetes-sigs/controller-tools/blob/a5fa7b956b85a6e792bc7086fedf7107d62452b1/pkg/crd/known_types.go#L34-L37

Now, if the user does not provide the timestamp (which is common in my case),

[2020-01-03 13:03] tamalsaha commented on #86811
/sig api-machinery
/area custom-resources

cc: @sttts

[2020-01-03 13:05] hmeerlo commented on #50632
Ok, this has bitten me in the a** bigtime. Cost me a day to find out that one of my Python child processes was OOM killed. I would absolutely vote for a oom-killer which always kills the parent process no matter what. That makes the behaviour at least consistent. You assign a resource limit to the pod (as an entity), and clearly the pod went over that limit so it should have been restarted.

[2020-01-03 13:16] #81012 closed

[2020-01-03 13:33] uablrek commented on #86773
@aojea

To migrate ipv4->dual-stack can be reduced to enable dual-stack in k8s >=v1.17.0. The upgrade of a ipv4 cluster to >=v1.17.0 must work, so that is a no-issue. Once you are on k8s >=v1.17.0 I think the best way is to first enable dual-stack on the master(s), updating CIDRs etc, and let the workers stay with IPv6DualStack:false. Then re-boot them with IPv6DualStack:true one-by-one.

Then the

[2020-01-03 13:40] wojtek-t commented on #86626
No - that has nothing to do with scheduler restarts.
This might have caused problems on every watch restart, which happens every 5-10 minutes...

[2020-01-03 13:45] yy8848 commented on #86546
Content of deleted files is just accessible from containers under rare conditions (access to raw disk for example). So the concern seems to be a little paranoid.

[2020-01-03 13:45] #86546 closed

[2020-01-03 13:55] ghhenry commented on #86507
IPVS shows more or less the same behavior. It works in all cases when I connect from the node that runs the POD, but from other cluster nodes connecting to localhost:NodePort does not work. From and outside machine it only works when I connect to the node that runs the POD.

[2020-01-03 14:10] mattjmcnaughton commented on #86722
Ah, is it possible that the `Kubelet` was running in standalone mode at that time?

Re https://sourcegraph.com/github.com/kubernetes/kubernetes@master/-/blob/cmd/kubelet/app/server.go#L551

If the Kubelet wasn't running in standalone mode, I'm not seeing how `KubeClient` could be nil. As far as I can tell, the Kubelet doesn't actually start running when `NewForConfig` returns an error, as the `cmd

[2020-01-03 14:17] #81017 closed

[2020-01-03 14:17] #79535 closed

[2020-01-03 14:17] #77813 closed

[2020-01-03 14:17] #77920 closed

[2020-01-03 14:17] #80248 closed

[2020-01-03 14:29] porrascarlos802018 commented on #75752
Team , I have a customer very interested, needed to have metrics working as expected on windows nodes , do we have anything to share in regards to final fix for these known problems?

[2020-01-03 14:34] liggitt commented on #86536
`kubectl convert` is still present and functional

[2020-01-03 14:48] ahg-g commented on #86803
Sounds good, thanks.

[2020-01-03 14:48] ahg-g commented on #86803
/retitle Define a scheduler algorithm provider for kubelet

[2020-01-03 14:49] LubinLew commented on #86773
I tried to configure dual-stack cidrs on these fields, but kubeadm init failed.

[2020-01-03 14:52] aojea commented on #86808
I think this should be related to this https://github.com/kubernetes/kubernetes/issues/81760

[2020-01-03 15:02] aojea commented on #86773
@LubinLew you don't have to configure the gates in each component, kubeadm do that automatically since https://github.com/kubernetes/kubernetes/pull/80531
This config works for me setting dual-stack cidrs on serviceSubnet and podSubnet

[code]

[2020-01-03 15:08] haosdent commented on #86712
@ahg-g got it. let me create pull requests, thanks a lot for your detail explanation.

[2020-01-03 15:09] haosdent commented on #86711
got it, thx @ahg-g

[2020-01-03 15:10] kanthasamyraja commented on #86760
Hi @neolit123

Thanks for your help, time & support.  It is working now.

[code]

Rebooted the server.

Update configuration "systemd" removed rest all.

[code]

[2020-01-03 15:10] #86760 closed

[2020-01-03 15:18] #79581 closed

[2020-01-03 15:18] #79279 closed

[2020-01-03 15:18] #75829 closed

[2020-01-03 15:19] neolit123 commented on #86773
If the panic us not by design it should be fixed.

[2020-01-03 15:36] skilxn-go commented on #86610
@liggitt what do you think about add something like env from source to flex volume options? Which allow users to specify what field to expose flexibility.

[2020-01-03 15:41] skilxn-go commented on #86610
As I searched a lot of documents/issues about how to pass something from scheduler to flex volume, I fount that the device plugin may have the same requirement in some user cases:
https://github.com/kubernetes/kubernetes/issues/59109

[2020-01-03 15:51] liggitt commented on #86771
Yes, whenever the status update actually results in a change, the resourceVersion is expected to increment. Note that the second time the identical patch was submitted, it was a no-op, and the resourceVersion did not change.

[2020-01-03 15:57] chaudyg opened #86812 "Old master-leases not removed from ETCD after restore from backup"
**What happened**:

After restoring ETCD from backup, old master endpoints are returned, even if the master nodes are long gone.

The screenshot bellow summarises the issues: 3 master nodes running on the cluster, but 5 endpoints are being returned. The additional 2 comes from master nodes from before restoring the cluster.
![image](https://user-images.githubusercontent.com/7817963/71728461-0d5463

[2020-01-03 15:59] Mowzey123 commented on #86536
My kubeadmn git version is 1.17 but when I try to convert mongodb StatefulSet deployment from apps/v1beta to apps/v1. It throws a warning that kubetcl convert is deprecated and stops at that.

[2020-01-03 16:23] krzysied opened #86813 "Non-private kubemark cluster creation fails"
**What happened**:
Kubemark cluster fails to be created when KUBE_GCE_PRIVATE_CLUSTER is set to false.

**What you expected to happen**:
Kubemark cluster should be created.

**How to reproduce it (as minimally and precisely as possible)**:
Running ./start-kumark.sh script.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardw

[2020-01-03 16:23] krzysied commented on #86813
/sig testing
/sig scalability

[2020-01-03 16:23] krzysied commented on #86813
/assign

[2020-01-03 16:27] krzysied commented on #86813
IIUC the bug was introduced in https://github.com/kubernetes/kubernetes/pull/86316
The problem is with https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/gce/util.sh#L91-L93
not being guarded with checking `GCE_PRIVATE_CLUSTER` which causes the error:
[code]

[2020-01-03 16:27] ahg-g commented on #86373
Thanks for bringing up this problem. I think this is something that will come back to us frequently in the future as people start to use k8s in large scale multi-tenant environments. So we should either try to make the scheduler do better, make a recommendation to use multiple schedulers in such setups or make recommendations on how to create workloads to reduce the impact of this problem.

To sta

[2020-01-03 16:30] tedyu opened #86814 "Initialize map for singleton cache"
**What would you like to be added**:
For singleton cache, the map should be created outside lock.

**Why is this needed**:
For singleton cache, it is inefficient to check map against nil under lock.
Code from staging/src/k8s.io/apimachinery/third_party/forked/golang/json/fields.go :
[code]

[2020-01-03 16:31] tedyu commented on #86814
/sig api-machinery

[2020-01-03 16:37] ahg-g commented on #86630
Why do you need the second one if the first is able to give you (assume randomly) two nodes to score from the get go?

[2020-01-03 16:40] chaudyg commented on #86812
/sig api-machinery
/ig cluster-lifecycle

[2020-01-03 16:50] mikedanese commented on #86729
This change is ok because ScheduleDaemonSetPods is now always enabled?

[2020-01-03 17:20] #81024 closed

[2020-01-03 17:49] #86813 closed

[2020-01-03 18:48] thockin commented on #86504
Trivial testing seems to show that 0.0.0.0 as a destination translates to 127.0.0.1:

[code]

The questions I have are:

1) Why does someone want this to work?  What are you trying to express by using this field (which, honestly was probably a mistake to add)

2) If we make this work, does it create a new hole?  I can now instruct kubelet to access localhost ports on the Node on a path of my choos

[2020-01-03 18:55] igorrochalinux commented on #54918
Hi all!

I had the same problem, but in my case, one of my three nodes had the clock wrong when comparated with the other nodes, can you try to sync your clock from servers (with ntp for example), clean up your nodes like this:

rke remove

remove these directories
/etc/kubernetes/ssl
/var/lib/etcd
/etc/cni
/opt/cni
/var/run/calico

docker system prune -af
docker image prune -f

reboot your nodes

[2020-01-03 19:22] #74439 closed

[2020-01-03 19:22] #74759 closed

[2020-01-03 19:22] #75561 closed

[2020-01-03 19:22] #78489 closed

[2020-01-03 19:22] #25745 closed

[2020-01-03 19:40] buraksarac commented on #61937
I am not sure if its related but got a dmesg warning:

`[  598.751319] kmem.limit_in_bytes is deprecated and will be removed. Please report your usecase to linux-mm@kvack.org if you depend on this functionality.`

[2020-01-03 20:01] krohrsb commented on #85020
[code]

Running this works and results in:

[code]

However, if one then changes the `port` value and uses `kubectl apply -f <file>` things get wonky (changed `port` to `5333`).

[code]

Apply the above, and get:

[code]

Note the missing UDP port.

If you then use `kubectl delete -f <file>` and subsequently run `kubectl apply -f <file>` (re-creating it basically) it ends up ok:

[code]

[2020-01-03 20:14] neolit123 commented on #86776
i'm not aware of any tools for that, but you can try asking in the #sig-node channel on k8s slack.

if you provide some minimal (but detailed) reproduction steps someone else might be able to help too.

[2020-01-03 20:23] neolit123 commented on #86809
@droslean are you seeing the sig-cluster-lifecycle label attached to these tests?
please let me know where, because this is wrong.

/remove-sig cluster-lifecycle
/sig cloud-provider
/area provider/gcp

[2020-01-03 20:31] neolit123 commented on #86779
but the kubelet does have a [CLI](https://en.wikipedia.org/wiki/Command-line_interface) even if it does not have sub-commands.

this is a valid proposal and it is fairly easy to understand and implement.

here is a mini guide for the `help-wanted` label, so that someone can pick this up and work on it:
- investigate how kubectl does the version formatting.
https://github.com/kubernetes/kubectl/blo

[2020-01-03 20:34] neolit123 commented on #86760
ok, looks like some of the extra flags were causing this.

[2020-01-03 21:29] snukone commented on #53333
On CentOS 7 you can persist not to fail if swap is turned on by opening the following file:
`vi /etc/sysconfig/kubelet`
and insert the following line: `KUBELET_EXTRA_ARGS=--fail-swap-on=false`

systemd starts kubelet automatically in perodical timeintervals or you restart it manually like mentioned in comments above.

[2020-01-03 21:51] liggitt commented on #86504
That is a good question. @aojea if you omit `host` entirely from the probe, doesn't it accomplish what you want (by probing the pod)?

I'm not thrilled about being able to point a probe at anything other than the pod being probed. Was that ability intentional?

I agree. If it doesn't work now, why would we enable it?

[2020-01-03 22:13] aojea commented on #86504
I'm completely fine keeping the current status with probes and the 0.0.0.0, actually I've learned only some weeks ago that it can be used as destination address.
I've opened this issue because we hit this in #86493 by chance and was so confusing to all of us, that I thought that the best way to proceed is discussing it in an issue and taking a decision as community that serves as reference.

Thank

[2020-01-03 22:13] #86504 closed

[2020-01-03 22:20] thockin commented on #86504
I think it was originally a misinterpretation - "host" probably meant "host header" but came to mean "destination host".  There are some use-cases in weird network topology cases where kubelet can't actually talk to a pod directly and has to probe via a "gateway", but I am not sure that actually works.

I'd like to see us EOL this one day

[2020-01-03 22:20] thockin commented on #86504
Thanks @aojea - you are always very reasonable in your discussions.  I appreciate it :)

[2020-01-03 22:25] #73424 closed

[2020-01-03 22:25] neolit123 commented on #86811
please read this:
https://github.com/kubernetes-sigs/cluster-api/blob/bf790fc2a53614ff5d3405c83c0de0dd3303bb1f/api/v1alpha2/common_types.go#L46-L67

the cluster-api project ended up implementing a custom `ObjectMeta`.

ideally this should be either fixed on the side of metav1 (make the field "nullable"?) or on the side of kube-builider allowing validation overrides.

googling for this problem retu

[2020-01-03 22:32] tamalsaha commented on #86811
We have for now also removed the creationTimestamp field from our custom OjectMeta.

[2020-01-03 22:33] tomwans commented on #30784
Poking around in the API Reference, does https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#userinfo-v1-authentication-k8s-io not handle this?

[2020-01-03 22:49] vinaykul commented on #80759
/reopen
/assign @PatrickLang

Reopening and assigning to Patrick for item 2. Please close if this has already been addressed.

I'll likely make changes for item 1 as part of the CRI changes  - Ref: [enhancements PR 1342](https://github.com/kubernetes/enhancements/pull/1342)

[2020-01-03 22:50] vinaykul commented on #80759
CC: @kkmsft

[2020-01-03 23:02] tbarrella commented on #69507
While there are many more ephemeral storage volumes than persistent volumes, wouldn't the cardinality be similar to the number of pods, for which there are already metrics per container?

[2020-01-03 23:22] tbarrella commented on #68737
/remove-lifecycle stale

[2020-01-03 23:26] #57249 closed

[2020-01-04 00:10] ahg-g commented on #86435
/unassign @hprateek43
/help

[2020-01-04 01:09] howardjohn opened #86827 "Support optional projected serviceAccountTokens"
**What would you like to be added**:

There are a lot of clusters that do not support projected serviceAccountTokens. To avoid complexity in our installation, we want to fallback from using the projected serviceAccountToken. Ideally, we would just add `optional: true` like we can do with secrets or config maps.

**Why is this needed**:

So if the feature is no enabled on the cluster, we can gracef

[2020-01-04 01:11] howardjohn commented on #86827
/sig storage

^ maybe not right..

[2020-01-04 01:15] howardjohn commented on #86827
This doesn't really fully solve the problem for us for at least a year though since if this was theoretically merged today, we couldn't add `optional: true` since it would break anyone running an old kubernetes cluster as well. But ti would be nice for the future

[2020-01-04 01:48] ahmedgdoma commented on #44665
[kube documentation about this issue](https://kubernetes.io/docs/tasks/tools/install-kubectl/#verifying-kubectl-configuration)

[2020-01-04 02:10] yqwang-ms commented on #86373
Thanks @ahg-g for comments.

This will not necessarily defeats the multi-tenant pros. Because generally, for a multi-tenant scheduling strategy, user can submit high priority (i.e. guaranteed) workloads on its own dedicated resources, but it can only submit low priority (i.e. overused or opportunistic) workload on other tenant's dedicated resources. So, when other tenant's high priority workloads

[2020-01-04 02:39] neolit123 commented on #86827
adding
/sig auth
as per https://github.com/kubernetes/community/pull/1973

[2020-01-04 02:39] neolit123 commented on #86827
/cc @mikedanese

[2020-01-04 04:56] liggitt commented on #86827
The case for an optional configmap or secret volume is clearer to me… it allows optionally injected configuration. conditionalizing the projected service account volume type because of cluster capabilities is less obviously beneficial. I'd rather see progress on resolving the issues blocking promotion to GA and inclusion in conformance than formalizing a lack of support for the feature in an API.

[2020-01-04 05:01] liggitt commented on #86800
Given the description would not actually be used in the generated openapi schema, it seems misleading to allow it to be specified

[2020-01-04 05:02] howardjohn commented on #86827
That's reasonable to me. I would much rather just being able to always use the project token rather than even having a fallback at all, so that makes sense

[2020-01-04 05:02] liggitt commented on #86800
That, in addition to the compatibility concerns @sttts mentioned, makes me think we should not do this.

[2020-01-04 05:03] #86800 closed

[2020-01-04 05:32] Pingan2017 commented on #86722
+1

[2020-01-04 07:43] h4ghhh commented on #86722
Yes, kubelet was running in standalone mode, then?

[2020-01-04 08:02] h4ghhh commented on #86722
Yes, kubelet was running in standalone mode, then ?

[2020-01-04 08:02] h4ghhh commented on #86722
Yes, kubelet was running in standalone mode, then?

[2020-01-04 08:22] 3ch01c commented on #70685
`TTLAfterFinished` not working for me either. Am I doing it right?

[code]

[code]

[2020-01-04 08:32] uablrek commented on #86773
Yes, a check for `nil` should be added. But maybe not a fallback to ipv4, but rather an important looking log error and just return.

[2020-01-04 08:35] #79127 closed

[2020-01-04 08:35] #78089 closed

[2020-01-04 08:37] Willux commented on #25908
Would it be a good time to a notion of sidecar containers in Kubernetes and allow pod clean up based on whether non-sidecar containers have finished?

[2020-01-04 09:47] sylr commented on #86667
Here a graph showing the amount of request originating with the outbound ip of the load balancer instead of the real IP after I killed all the reverse proxy pods.

<img width="1645" alt="Search___Splunk_7_2_9" src="https://user-images.githubusercontent.com/153052/71763728-742e5680-2edf-11ea-961f-9f11c91fbee5.png">

It took 15 hours before all clients be seen with their real IP.

[2020-01-04 10:54] yanirq commented on #25625
/remove-lifecycle rotten

[2020-01-04 11:16] aakashrshah commented on #13382
I removed the `conf/extra/httpd-ssl.conf` temporarily from my cluster and it worked.

[2020-01-04 12:29] feiskyer commented on #86667
oops, didn't expect it would need so long. I still didn't get why it would need so long time. Have you noticed what's the request responses on such cases? I think it should be timeout or connection reset, hence the clients should reinitialize the connection again.

[2020-01-04 12:41] feiskyer commented on #23880
per https://github.com/kubernetes/kubernetes/pull/75831#issuecomment-565213919, it needs a KEP for the new feature. I would open one if no one has already started one.

[2020-01-04 12:42] feiskyer commented on #23880
/assign

[2020-01-04 13:29] tedyu commented on #86722
Only rc.updateDevicePath() uses KubeClient.
It seems adding the null check would stop the panic.

I am open to not running reconciler if KubeClient is nil (over #86795).

[2020-01-04 13:34] hex108 commented on #86630
Yes, we do not need the second one if the first one choose node randomly.

[2020-01-04 13:54] aojea commented on #81677
/remove-lifecycle rotten

[2020-01-04 14:04] krancour commented on #25908
@Willux I'm on my phone atm, so it's harder to locate links for reference, but what you've just proposed is already well underway.

[2020-01-04 15:02] liggitt commented on #86814
Discussion of this change can be contained to the PR, we don't need a separate issue to track it

[2020-01-04 15:02] #86814 closed

[2020-01-04 16:33] neolit123 opened #86834 "close the kubernetes/kubernetes GitHub project called "kubeadm""
close the kubernetes/kuberentes project called "kubeadm"

https://github.com/kubernetes/kubernetes/projects/7

it was last updated in 2017, contains merged and closed tickets and is currently unused.
the kubeadm project uses the k/kubeadm repository for tracking work.

/sig cluster-lifecycle
/assign @timothysc @nikhita @cblecker
or someone else with access please help with that. thanks.