[2015-06-16 14:39] perljedi opened #9861 "OVS Bridge obr0 fails when running a cluster with PROVIDER=Vagrant"
After the update to Fedora-21 and Docker 1.6 in the vagrant set up, I am not able to access any kubernetes service ip addresses from a pod.  This appears to be the result of a problem with the settings for the obr0 bridge created by ovs.

[code]

[2015-06-16 15:07] bgrant0607 commented on #9731
cc @wojtek-t

[2015-06-16 15:11] bakins commented on #9857
Try changing your secrete to be something like:

[code]

This will create an empty file for kubeconfig.

[2015-06-16 15:21] bgrant0607 commented on #9356
The whole point of the default namespace is to reduce friction for kick-the-tires users, demos, etc. We shouldn't even have a default namespace if we were going to require users to always create their own namespaces.

[2015-06-16 15:25] stevekuznetsov opened #9866 "Kubernetes does not support https health or readiness checks"
The probes fail, attempting to parse the TLS handshake response as an HTTP response:

Sample output from `kubectl describe pod`
`Readiness probe failed: Get http://<IP>:8443/healthz/ready: malformed HTTP response "\x15\x03\x01\x00\x02\x02"`

`Liveness probe failed: Get http://<IP>:8443/healthz: malformed HTTP response "\x15\x03\x01\x00\x02\x02"`

@smarterclayton @derekwaynecarr

[2015-06-16 15:28] smarterclayton commented on #9866
My opinion is that both readiness and liveness should support https endpoints and skip certificate verification.  Certificates are not relevant (and not even likely to be signed for the pod ip).  Lots of existing infrastructure would have trouble exposing separate http and https ports.

[2015-06-16 15:29] bgrant0607 commented on #9836
Pod-level hook or container volume #831 would be the right solution.

Original discussion re. restart policy was #127.

[2015-06-16 15:32] bgrant0607 commented on #9815
Please add your use case to #1899 and close this one.

[2015-06-16 15:41] eparis commented on #8449
So how do I add nodespec.unschedulable = true? Before I did:

kubectl update nodes $node --patch='{"apiVersion": "v1beta3", "spec": {"unschedulable": true}}'

Now I tried:

[code]

[2015-06-16 15:45] eparis opened #9873 "Unable to set node unschedulable"
Before #8449 I was able to do

So how do I add nodespec.unschedulable = true? Before I did:
[code]

But since patch was removed I decided to try:

[code]

But ended up getting
[code]

What's a man to do?

[2015-06-16 15:55] bgrant0607 commented on #5906
@smarterclayton is correct. I suggest `-o name` or `-o id` to request the kind/name format, both for mutations and for get.

[2015-06-16 16:11] smarterclayton commented on #5906
Name makes a lot of sense.

[2015-06-16 16:14] thockin commented on #9866
No objections from me
 On Jun 16, 2015 8:29 AM, "Clayton Coleman" <notifications@github.com>
wrote:

[2015-06-16 16:24] mwielgus opened #9875 "Empty service name in kubectl cluster-info"
[code]

[2015-06-16 16:33] smarterclayton commented on #9866
I believe all that needs to be done is for `pkg/probe/http/http.go` to pass a TLSConfig that has InsecureSkipVerify set to true.  @stevekuznetsov can you look into that.

[2015-06-16 16:35] dchen1107 commented on #8918
Had offline chat with @brendandburns. So far both docker issues I filed has a proposed fix, and need to verify them with rc4. But this shouldn't be our 1.0 release blocker. Lower the priority to p2/

[2015-06-16 16:38] roberthbailey commented on #9875
Looks like the missing word is .... heapster. Assigning to @vishh.

[2015-06-16 16:40] andronat commented on #9631
Sorry `-l` is already being used. I replaced it with `-z`.

Also, are all labels capital? Do we to be case-sensitive? Should I capitalise all input from user?

[2015-06-16 16:43] mikedanese commented on #9873
No resource version?
[code]
works for me. Do we want to re-enable patch for v1 using strategic merge patch?

[2015-06-16 16:47] jayunit100 commented on #9833
In the e2e for namespaces, we have an extinguish() function which quantifies how many ns are extinguished.  Maybe that test can be extended @dchen1107 ? or just write a new one.  just a thought.

[2015-06-16 16:51] iterion opened #9877 "Docs on Running Production Cluster on AWS"
It would be nice to have some docs on setting up and running a production cluster on AWS, and maybe in general. I know there is some stuff about HA masters, which is great. But, it might also be nice to have some recommendations on best practices for adding nodes to the cluster after it's running. In the context of AWS does that mean utilizing Auto Scaling Groups? If so, maybe we should include an

[2015-06-16 16:55] smarterclayton opened #9878 "Limit admission controller is blocking status updates"
The limit controller is blocking status updates, which is incorrect.  The limit control should be able to distinguish between an edit of the resources and a no-op update.

[code]

[2015-06-16 17:00] goltermann commented on #8969
Fixed with merge of the Add Links to 0.19.0

[2015-06-16 17:00] #8969 closed

[2015-06-16 17:04] bprashanth commented on #9833
@dchen1107 that was my initial argument as well, however 2 things made me rethink:

1. The kubelet has a max-pods setting but not max-containers. @saad-ali and @ArtfulCoder profiled their containers and specified the resource requirements in yaml, so I don't think the containers themselves exhausted resources.

2. The described scenario had containers stick around for hours, longer than I would ex

[2015-06-16 17:08] mbforbes commented on #8081
Hmm, I don't think this should have been closed. I'm adding my comment from #9517 below.

[2015-06-16 17:09] mbforbes commented on #8081
The following could come as follow-up PRs / work, but are necessary to close #8081:

0. Validate that the upgrade actually happened. We want to ensure that the new software is really running, otherwise--as @satnam6502 pointed out in #8081--a no-op would satisfy the "upgrade".
0. Have the webserver util create a replication controller rather than just a pod. At a minimum, we want to validate the co

[2015-06-16 17:11] csrwng opened #9879 "Admission control factory pattern needs to allow additional constructor arguments"
The admission control factory should allow passing additional clients and other objects needed by the admission controller to do its work.

[2015-06-16 17:11] csrwng commented on #9879
@derekwaynecarr @smarterclayton

[2015-06-16 17:12] derekwaynecarr commented on #9878
Related topic:
https://github.com/GoogleCloudPlatform/kubernetes/issues/8868

[2015-06-16 17:13] mbforbes commented on #9541
Sorry for the delay—attempting to repro now...

[2015-06-16 17:14] smarterclayton commented on #9879
I would prefer if admission control was factored like the other plugins (which were later) - a method that instantiates an object that exposes the interface.  I.e. `NewAdmissionControllers()` which could be `package.NewAdmissionControllers(*kube.Client)` or `mypackage.NewAdmissionControllers(*my.Client, someTunables)`.

When you want to use a plugin, you should be passing in the configuration and

[2015-06-16 17:14] perljedi commented on #9861
if it helps, I have a one line patch ready that will fix this.

[2015-06-16 17:16] smarterclayton commented on #9879
In general, we should get lists of plugins and pass them into the things that need to use them as a slice of interfaces (or a slice of structs if there is additional data to them).  This applies to volumes, admission controllers, authorizers, etc.

[2015-06-16 17:17] smarterclayton commented on #9879
In practice, what's happening right now is that OpenShift is registering its own admission controllers, but needs to pass our client, not the Kube client, to the admission controller.  We have to do a really crazy hacky "implement client.Interface" thing that is pretty disgusting to ensure our admission controller has our client object.

[2015-06-16 17:24] OllyGinger commented on #9805
Ok, thanks. I did some more reading up on the issue, and it seems that I just needed to find out the IP address of the minion from within the container and then contact etcd via that address.

[code]

The above code is what I was looking for :+1:

[2015-06-16 17:24] #9805 closed

[2015-06-16 17:27] mbforbes commented on #9541
Fixed by #9557—thanks @mikedanese!

[2015-06-16 17:27] #9541 closed

[2015-06-16 17:31] timstclair commented on #9756
Yup!

[2015-06-16 17:31] #9756 closed

[2015-06-16 17:32] derekwaynecarr commented on #9879
I agree that this should be revisited post Kube 1.0.

[2015-06-16 17:37] mbforbes commented on #9541
Hmm, actually, @mikedanese, I still get the following, though it works:

[code]

Do you get these? It's worth fixing if so...

[2015-06-16 17:39] bgrant0607 commented on #9631
Label validation is here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L56

Labels are not all capitals. For the column header, I'd strip off the key namespace and capitalize the key. We should output the label values as is.

It should be possible to specify the same command-line option multiple times. We might also want to support a single option

[2015-06-16 17:41] quinton-hoole commented on #9444
SGTM too @fgrzadkowski

[2015-06-16 17:43] saad-ali commented on #9444
@fgrzadkowski let me know when you plan to do this, so that I don't merge other PRs at the same time

[2015-06-16 17:50] #9394 closed

[2015-06-16 17:50] dchen1107 commented on #9788
@bprashanth Thanks for conducting the test again.

The only unrecovered node is caused by docker memory leakage. It is a known issue since docker 1.3.0, might even earlier version (https://github.com/docker/docker/issues/9139). Docker 1.7.0-rcX (the one I am currently validating) should have a fix for it. Once you restart docker, the problem should be gone, and the node should be recovered. I saw

[2015-06-16 17:51] mikedanese commented on #9541
I don't get that with `./cluster/gce/upgrade.sh -M -l` but I can take a look.

[2015-06-16 17:51] cjcullen commented on #9822
No, the config file should not be getting modified (other than the initial template-expansion and copy by salt).

[2015-06-16 17:51] bakins commented on #9877
I haven't done Kubernetes on AWS with ASG. I generally spin up a cluster of sufficient size and up/down number of replicas as just adding nodes to the cluster isn't that useful unless you do that anyway.  Would love to hear other's experience in this area.

[2015-06-16 17:58] dchen1107 opened #9881 "Cap docker resource cgroup's limit"
Forked from https://github.com/GoogleCloudPlatform/kubernetes/issues/9788#issuecomment-112512299:

The only unrecovered node is caused by docker memory leakage. It is a known issue since docker 1.3.0, might even earlier version (docker/docker#9139). Docker 1.7.0-rcX (the one I am currently validating) should have a fix for it. Once you restart docker, the problem should be gone, and the node shoul

[2015-06-16 17:58] bkeroackdsc commented on #127
"I have not been able to think of a single valid use case where containers within the pod should have different restart policies. It seems confusing, unnecessarily complex, and likely to promote misuse of the pod abstraction, such as with all proposed use cases in this issue."

My use case (#9836) involves an application which reads etcd for configuration--this configuration must be populated on p

[2015-06-16 17:59] justinsb commented on #9877
_If_ I can get all my PRs etc in shape and landed, we will have ASG for the minions.

I don't know if we can automate the HA master stuff; probably not.

I do want to make sure that we are attaching a persistent disk to our master; I don't think we are and that is a rather big problem if it isn't HA.

[2015-06-16 18:01] lanthias opened #9883 "Latency of starting a pod"
We would like to spin up pods quickly on our cluster, to handle 'one-off' tasks (the idea being that each task has a new pod every time it runs).

Currently, it takes about 10-15 seconds from a Pod creation API call -> completion. This is running on 3x m3 xlarge on AWS, with images that have already been cached. We are running with restartPolicy = Never, as they are one-off tasks. To confirm this

[2015-06-16 18:06] lavalamp commented on #9450
@fgrzadkowski I'm saying the difference is in the etcd Node object, not in our own object. (Epistemic status: unchecked hypothesis)

[2015-06-16 18:09] smarterclayton commented on #127
The alternative is a start-hook that does all this configuration before your main container is started.

----- Original Message -----

[2015-06-16 18:09] jayunit100 commented on #9883
e2e test for instant pod startup, @timothysc @rrati  after this is addressd

[2015-06-16 18:11] dchen1107 commented on #9881
cc/ @vmarmol

[2015-06-16 18:13] dchen1107 commented on #9883
cc/ @ArtfulCoder

[2015-06-16 18:15] iterion commented on #9877
I have faith in you. :) Guessing these are the nodename/hostname and routing PRs?

Yeah, I don't think we are mounting a persistent disk, it would probably be a good idea.

I'm also seeing issues after running a cluster for a while where the disk on all of my nodes gets filled up and they basically become unresponsive. Perhaps that is connected to the aufs/btrfs question? Regardless, maybe for pro

[2015-06-16 18:18] #9755 closed

[2015-06-16 18:41] dchen1107 commented on #9412
#9881 too

[2015-06-16 18:47] satnam6502 opened #9885 "Kibana logging does not seem to work on a 100-node g1-small cluster"
I made a 100-node cluster with g1-small nodes and a n1-highmem-32 master.

Visiting:
[code]
gives:
[code]
or sometimes I get:
[code]
Although visiting
[code]
gives a reasonable response:
[code]

@dchen1107 @saad-ali @ArtfulCoder

[2015-06-16 18:48] justinsb commented on #9877
Persistent disk on master is definitely needed - if you have time to have a look, that would be great.  GCE does this, so we have a model to work from.  We should tag this with the normal ClusterId tag.  If we do this, we can add more features later.

The disk-filling up and locking is definitely related to old kernels & btrfs.  Newer kernels make these problems better, though not necessarily enti

[2015-06-16 18:50] satnam6502 commented on #9885
[code]

[2015-06-16 18:58] erimatnor commented on #9395
Not sure if this helps, but here's a little bit more information. I think this happened mostly when some of my AWS instances became overloaded. I was running quite weak instances with InfluxDB taking up a lot of CPU. At one point, one node became unresponsive and Kubernetes tried to move all pods off of it to another node. This caused a lot of flux and perhaps this in combination with unresponsive

[2015-06-16 19:02] ghodss commented on #9631
I like the idea to specify multiple items through the same option multiple times. Does cobra support that? Do we have a convention established yet for specifying multiple items?

[2015-06-16 19:03] iterion commented on #9877
Cool, I'll take a look at PD on master and model it after GCE.

I sshd to a node and was able to regain ~4GB of disk from clearing unused docker images.

Extra storage on the root can be accomplished by modifying that block device on init:
From the run-instances docs:
[code]
I believe ASG also allows modifying those mappings. Disk space is pretty cheap, so, it probably wouldn't hurt to have a buff

[2015-06-16 19:12] saad-ali commented on #9846
Needs v1 triage.

[2015-06-16 19:14] arun-gupta opened #9888 "Could not load host key when trying to view logs for a pod"
Couple of pods are running on Kubernetes cluster:

[code]

Accessing the logs for the second pod shows the error:

[code]

Logged into minion-1, and trying to viewing the log there also gives a similar error:

[code]

Complete instructions at: https://github.com/javaee-samples/docker-java/blob/master/chapters/docker-kubernetes.adoc

[2015-06-16 19:14] pwais commented on #9623
I was using the registry to serve images that k8s would then pull and run.  Without kube-proxy on the master, I was seeing errors when k8s would try to start a pod using an image hosted on a pod / service IP... If this problem sounds weird, perhaps I had something else set up wrong (or was using an old version of k8s when I started working on this).  Brendan's advice (in the linked thread) seemed

[2015-06-16 19:18] mikedanese commented on #9849
@yifan-gu @kelseyhightower do coreos setups include kube-addons?

[2015-06-16 19:18] pwais commented on #8735
I also ran into this problem trying to run a docker private registry.  The problem of getting nodes to use cluster DNS is indeed pretty complicated.  FWIW on GCE I noticed that setting up salt to modify resolv.conf was a bad idea since k8s needs host DNS on cluster startup time (e.g. before k8s skydns is even started).

However, this Github issue and the docker registry issue perhaps deal more spe

[2015-06-16 19:37] farcaller opened #9889 "0.17 to 0.18 ECDSA keys regression"
After successfully setting up TLS-secured kubernetes at 0.17 I failed to upgrade to 0.18, specifically apiserver failing to start with:

[code]

[2015-06-16 19:44] luxas commented on #9808
Could you try hack/local-up-cluster.sh?
I'm running on bare metal Raspberry Pis

It sounds like kube-up is designed for Google Compute Engine.
Installing gcloud SDK solves nothing.

Try with hack/local-up-cluster.sh :)

[2015-06-16 19:52] nikhiljindal commented on #9711
https://github.com/GoogleCloudPlatform/kubernetes/pull/9862 is updating go-etcd.

@mnemotiv Doesnt look like you are using local-up-cluster.sh to bring up your cluster. Can you specify the exact command you are running?

[2015-06-16 19:59] mwielgus opened #9891 "Pod scheduling problems in redis and cassandra examples with the default GCE config"
Cassandra and redis pods, with configs taken from examples/, cannot start on the default GCE cluster (from the getting started guide) due to:
[code]
Both require 1 cpu which apparently is not available with all the monitoring/logging stuff enabled by default. Is the cpu requirement really necessary?

[2015-06-16 20:01] justinsb opened #9892 "Salt does not do well with systemd"
* It requires lots of module.reload (#9860).
* Salt (at least our version) is entirely broken on Ubuntu 15.04 (it just doesn't see our services)
* We have lots of comments in our salt code where we say "this doesn't work" around service restarting

In order to work around this, I created a simple script that does the systemctl management directly: https://github.com/justinsb/kubernetes/commit/3700

[2015-06-16 20:06] #9237 closed

[2015-06-16 20:10] satnam6502 commented on #9885
In case it helps.
[code]

[2015-06-16 20:12] nikhiljindal commented on #3996
I dont remember why I added TRACE.
It is causing problems while using swagger-codegen since swagger does not support TRACE (https://github.com/swagger-api/swagger-codegen/issues/877#issuecomment-112391320).

Is it fine to remove it?

[2015-06-16 20:14] nikhiljindal opened #9893 "Can we stop supporting TRACE method in proxy requests"
Forked from https://github.com/GoogleCloudPlatform/kubernetes/issues/3996#issuecomment-107784888

Swagger does not support TRACE (https://github.com/swagger-api/swagger-codegen/issues/877#issuecomment-112391320) method which is causing issues while using swagger-codegen.

Do we use TRACE anywhere? Is it fine to remove it?

@bgrant0607 @smarterclayton

[2015-06-16 20:20] smarterclayton commented on #9893
I'm not aware of any uses of it.

[2015-06-16 20:20] thockin commented on #9395
The whole system is supposed to self-heal, so no matter what happened, it
should rectify itself in O(10 seconds).
On Jun 16, 2015 11:58 AM, "Erik Nordström" <notifications@github.com> wrote:

[2015-06-16 20:20] timothysc commented on #9883
So this doesn't really surprise me at all, do you have your pod submission somewhere?

[2015-06-16 20:20] smarterclayton commented on #3996
We patched it out of openshift and replaced it with options - I have no objections to removal.

[2015-06-16 20:37] lanthias commented on #9883
Thanks a lot guys, here is an example pod definition which exhibits the behaviour:
``
{
  "id": "e40354c1-d53d-4462-87d7-4621632a0966",
  "spec": {
    "containers": [{
      "name": "e40354c1-d53d-4462-87d7-4621632a0966",
      "image": "busybox",
      "cpu": 100
    }],
    "restartPolicy": "Never"
  },
  "metadata": {
    "name": "e40354c1-d53d-4462-87d7-4621632a0966",
    "generateName": "ima

[2015-06-16 20:43] justinsb commented on #9860
Going to close this one in favor of the more comprehensive #9892, that also has a potential solution (don't use salt for this!)

[2015-06-16 20:43] #9860 closed

[2015-06-16 20:46] lavalamp opened #9895 "Kubelet shouldn't consider itself healthy if SyncPods is stuck"
@ArtfulCoder and I observed a situation where kubelet's syncLoop was not running, but kubelet still said it was healthy. Action item here is for syncLoop to log a time every time it runs, and /healthz to not return OK if that time is too far in the past.

@dchen1107 @bprashanth

[2015-06-16 20:47] lavalamp opened #9896 "kubelet: all docker calls should have timeouts"
@ArtfulCoder and I observed a situation where kubelet's syncLoop was not running. The action item here is to make sure that any calls to e.g. docker have timeouts, so that syncLoop can't get stuck.

@dchen1107

[2015-06-16 20:53] satnam6502 commented on #9757
Closed via  #9758

[2015-06-16 20:53] #9757 closed

[2015-06-16 20:54] bprashanth commented on #9895
That's what I suspected with  https://github.com/GoogleCloudPlatform/kubernetes/issues/9833#issuecomment-112498179

The syncLoop should run every 10s: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1671

It would not run if there was a hang in SyncPods, which prevents control from reaching the syncLoop again. Any chance you have repro steps? I'd expect slow d

[2015-06-16 21:01] justinsb commented on #9675
I have done a lot of investigation, and here is what I have found:

* Ubuntu 14.04 images include a fairly old kernel.  Lots of "random" e2e tests failures with aufs enabled (20% failures?).  They mostly pass with btrfs, but the older kernel version has issues with the disk being full when it is not.

* Debian Wheezy images have a kernel that is just too old; Docker doesn't officially support it.

[2015-06-16 21:02] nikhiljindal commented on #9521
I just tried ```./cluster/kubectl.sh create -f examples/replication.yaml``` on HEAD and it worked fine for me.
Do you face the same issue on HEAD?

[2015-06-16 21:02] dchen1107 commented on #9895
@bprashanth yes, that is what I suspected too. I am going to close that one to favor this one. Thanks!

[2015-06-16 21:03] #9804 closed

[2015-06-16 21:03] dchen1107 commented on #9833
Close this one as dup of #9895

[2015-06-16 21:03] #9833 closed

[2015-06-16 21:08] bprashanth commented on #9895
Can we change this bug title then (or fork another)? Since I think reporting the node as unhealthy will just gloss over a potential deadlock

[2015-06-16 21:22] thockin commented on #8735
I have no idea how to get Go code to use a DNS server of my choosing,
rather than standard resolver.  One option is to assign a known clusterIP
to your registry Service, and either use that IP or add it to /etc/hosts.

I think there's a relatively easy solution to use dnsmasq on nodes, but no
time to prototype it just now.

On Tue, Jun 16, 2015 at 12:19 PM, pwais <notifications@github.com> wrote:

[2015-06-16 21:51] #9332 closed

[2015-06-16 22:03] erictune opened #9902 "Admission controller to attach additional secrets to a service account"
The following does not work but I would like it to:

[code]

@liggitt is there a way to talk the service account controller into mounting the second secret?

[2015-06-16 22:05] saad-ali commented on #9893
Needs v1 triage (PR pending)

[2015-06-16 22:06] liggitt commented on #9902
No… there's no place to indicate default mount points or intent to auto mount. I think @pmorie had one or more issues open about that specifically related to secrets, aside from service accounts, but not much happened with them yet

[2015-06-16 22:07] jeffbean opened #9903 "kube2sky 1.9 'fails to open /etc/resolv.conf'"
Installation of skydns is not working for Kubernetes 0.18.0. Info and logs below.

Running Kube 0.18.0 installed form CentOS7 testing repo.
[code]

Errors from kube2sky container:
[code]

skydns is running on pod:
[code]

The skydns rc file:  `/etc/kubernetes/addons/dns/skydns-rc.yaml `
[code]

[2015-06-16 22:08] erictune commented on #9902
Do you and pmorie agree this is something that we'd want to do in kubernetes, aside from the issue of agreeing on default mount points for ad-hoc secrets?

[2015-06-16 22:15] yifan-gu commented on #9849
/cc @bakins

[2015-06-16 22:22] ghodss commented on #4869
@dchen1107 Can kubelets now be run in a container?

[2015-06-16 22:36] smarterclayton commented on #4869
We've been running it - there appears to be a bug in boot2docker that causes mounts to be bound several times, and there's also some path fixes I haven't submitted upstream yet.  Also a few glitches with cadvisor.

[2015-06-16 22:39] vishh commented on #9089
Yup. This can be closed.

[2015-06-16 22:39] #9089 closed

[2015-06-16 22:39] smarterclayton commented on #4869
Try the getting started section here: https://github.com/openshift/origin/blob/master/README.md#Getting_Started

My patches are here https://github.com/openshift/origin/commit/f05b1a1e66b0a3aa79058f679389971e633fed89

[2015-06-16 22:50] #8672 closed

[2015-06-16 22:51] #9875 closed

[2015-06-16 22:59] #8571 closed

[2015-06-16 23:34] pwais commented on #8735
Looking at the Kubelet code, it looks like the Kubelet (at the time of writing) interfaces to Docker using (mainly) Docker's standard go client, which talks to the host's Docker daemon (which uses host DNS resolution).  So we probably can't just modify the Kubelet go app to use cluster DNS for pulling Docker images.  I'm not sure how the new k8s volume features work, but clearly no host NFS client

[2015-06-16 23:35] erictune opened #9914 "Do stuff with cloud provider's DNS"
In #9682, @pnovotnak wrote:
_I'd like to create resources that are accessible within my private network at my cloud provider (though outside my Kubernetes cluster), but not to the outside internet, that are resolvable via DNS within the cluster. Ironically it seems like endpoint IPs fit the bill (although they change and are not resolvable) whereas service IPs, which are stable and what, are not a

[2015-06-16 23:36] erictune commented on #9682
I'm calling the docs complete and closing this.
Opened #9914 for post-v1 feature.

[2015-06-16 23:36] #9682 closed

[2015-06-16 23:41] bakins commented on #9849
@mikedanese when using `kube-up.sh`, we still use Debian (or Ubuntu) for the master node which handles the add-ons.

[2015-06-16 23:41] saad-ali opened #9915 "Volume Documentation Needs to be Updated"
[Volume documentation](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/volumes.md) only talks about these volumes:
* EmptyDir
* HostPath
* GCEPersistentDisk
* NFS

However, we [now support](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1/types.go#L211) many more volume types. Documentation should be updated to reflect this.

[2015-06-17 00:01] zmerlynn commented on #9849
We really want to rewrite `kube-addons.sh` in Go, but it's not going to land until after 1.0. cc @marekbiskup .

[2015-06-17 00:06] amygdala commented on #8528
@kprobst This came from a set of similar user complaints.  Looking again, I think it should probably be dup'd with #8527, then as Brian comments on the other issue, probably factor out into sub-issues.
@mikedanese - yes, I think that #9753 is basically addressing one of those subtopics then.  We should make sure we include information on how to auth.

[2015-06-17 00:06] pmorie commented on #9051
@jsdir Are you still having an issue with this?

[2015-06-17 00:34] caesarxuchao commented on #9818
I've run more shippable builds [here](https://app.shippable.com/builds/5580a243e352db0d00567f0f).

5 out of 26 builds failed with "pods never started running timed out waiting for the condition" reported. (failed builds are 2, 3, 5, 11, 21)

Although the error message is the same as the one @davidopp reported, it occurs at different locations in integration.go: line 868 (three times), 893 (twice).

[2015-06-17 00:44] dchen1107 commented on #9896
This is really a good idea, and we should do this. But I am not sure we can make it for the first 1.0 cut. Basically we are using fsouza/go-dockerclient for the Docker remote API which doesn't have an option to specify timeout for those calls. I can improve such library, but don't think it can be done in v1.0, which means this week or next week. :-)

[2015-06-17 00:49] dchen1107 commented on #9896
Assign it to myself. I will try to update the library as soon as possible.

[2015-06-17 00:50] yifan-gu commented on #9849
Good to know. But CoreOS production image does not have go binaries either...

[2015-06-17 00:54] njuicsgz commented on #9311
@derekwaynecarr can you change the label 'CLI'? since it is a UI issue.
Thanks

[2015-06-17 00:59] HaiyangDING opened #9920 "Multiple schedule policies for different pods."
In production, we need multiple schedule policies to meet the requirements of different pods. For instance, some pods may prefer a schedule policy in which ServiceSpreading is considered to be import, while some other pods just want themselves to be deployed on the nodes with more free resources regardless of the ServiceSpreading. To meet these "conflict" requirement, different schedule policies s

[2015-06-17 00:59] zmerlynn commented on #9849
You don't need Go binaries. If we rewrite it in Go, we'll compile it and
ship it as an executable like everything else.
On Jun 16, 2015 5:50 PM, "Yifan Gu" <notifications@github.com> wrote:

[2015-06-17 01:00] yifan-gu commented on #9849
@zmerlynn Awesome! :+1:

[2015-06-17 01:17] bprashanth commented on #9896
We should also be able to rate limit the requests to docker at 30qps (think this is easily achievable for 1.0, if we want it). That is arguably better than timing out a client request that leads to further retries.

[2015-06-17 01:22] mbforbes commented on #7914
Tiny update as I see this is now a P0: I've been working on the e2e test code today and will have it out for review today or tomorrow.

Regarding Jenkins, we've been rethinking how to do upgrade tests on Jenkins that involve just two or three Jenkins jobs that can run in parallel rather than six sequential ones; more details in [this comment](https://github.com/GoogleCloudPlatform/kubernetes/pull/

[2015-06-17 01:36] liggitt commented on #9889
This is likely the serviceaccount token authenticator defaulting to the server key. The default token generator and authenticator implementation only supports an rsa signing key.

[2015-06-17 01:36] liggitt commented on #9889
I'll take a look at this tonight

[2015-06-17 01:40] karlkfi opened #9925 "ValidateClusterSize"
Why is cluster size being validated both in [bash](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/kube-up.sh#L40) and [go](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/e2e.go#L270) during e2e tests?

It looks like it's validating cluster size twice when you run `go run hack/e2e.go -up`.

I ask because I need to disable it for Mesos testing (minion nodes

[2015-06-17 01:40] liggitt commented on #9889
A workaround until this is fixed is to generate an RSA key and explicitly set it for the serviceaccount authenticator and token controller (see local-up-cluster.sh for an example)

[2015-06-17 01:53] WIZARD-CXY commented on #9857
/sub

[2015-06-17 01:55] #9840 closed

[2015-06-17 02:23] nkwangleiGIT commented on #9673
Hi smarterclayton,
For now, w're using HAProxy 1.5.8 in our environment, and it's much quicker than kube-proxy now. And we will get the service and endpoints information periodically to generate frontend and backend into haproxy configuration and then reload haproxy config. It needs around 1 second refresh haproxy.
Do you have any better approach to achieve this? for example, we can listen to kube

[2015-06-17 03:05] adyanthaya17 commented on #9237
@WIZARD-CXY I did run the command in the specified directory. I have installed the same before and that time I didn't get this error and I could list the node states.

[2015-06-17 03:08] adyanthaya17 commented on #9850
I ran the command in kubernetes/cluster/ubuntu/binaries and it gives me unknown command.

[2015-06-17 03:58] pmorie commented on #7972
FYI @markturansky

[2015-06-17 05:06] satnam6502 commented on #9885
Apparently we don't want to offer guarantees for g1-small 100-node clusters. Closing.

[2015-06-17 05:06] #9885 closed

[2015-06-17 05:08] davidopp commented on #9673
I think what you want is exactly what you described at the beginning of your comment -- "get the service and endpoints information periodically to generate frontend and backend into haproxy configuration and then reload haproxy config." You can do it exactly the way you described -- create a service with a label selector corresponding to a label that you put on the pods you're interested in, and t

[2015-06-17 05:34] davidopp commented on #9920
Two ideas were suggested in that thread:
1) Run multiple schedulers, each with one policy configuration and each responsible for a disjoint set of pods
2) Run a single scheduler, which figures out which policies to apply for each pod it is scheduling

We haven't tried either of these, but you are definitely welcome to try it out and let us know if you have problems.

[2015-06-17 06:00] thockin commented on #8735
So it would be a nice project for someone (hint) to build a dnsmasq
container that runs dnsmasq, forwarding to the cluster DNS server by an env
var or flag.  Use salt to inject the DNS_SERVER into the flags for a
dnsmasq.yaml file that gets dropped on every node.  You could use host
networking since all you are doing is claiming host's port 53.  I'm not
sure if 'localhost' is implicitly tried as p

[2015-06-17 06:01] WIZARD-CXY commented on #9237
uhh, I'm a little confused, I need more info. Did you check the line 356 in utils.sh?

[2015-06-17 06:04] adyanthaya17 commented on #9237
Yes, I did check it. It reads just like the document.

 verify-cluster
  detect-master
  export KUBE_MASTER_IP="${KUBE_MASTER_IP}:8080"
  export CONTEXT="ubuntu"
  create-kubeconfig
}

[2015-06-17 06:05] WIZARD-CXY commented on #9237
Ah, I found it. Because someone has added the code and merged it today.https://github.com/GoogleCloudPlatform/kubernetes/pull/9227.Now it's broken.I will figure it how to fix it soon

[2015-06-17 06:06] adyanthaya17 commented on #9237
A quick question, I installed and configured kubernetes files yesterday and it read everything was done i.e the environment is up and running. If I want to set up  from scratch what do I do? That is from getting repository and all that.

[2015-06-17 06:08] mnemotiv commented on #9711
@nikhiljindal I'm running on VPS machines with CoreOS latest alpha, not a virtual machines on my laptop. I want to ensure that it runs on bare-metal, not on only dev-laptop

[2015-06-17 06:11] WIZARD-CXY commented on #9237
I don't understand... what do you mean by  That is from getting repository and all that??

[2015-06-17 06:11] luxas commented on #9850
Could this be something like #9808?
Are you running from source?

[2015-06-17 06:14] adyanthaya17 commented on #9237
The first step of the document is building kubernetes repository on your machine. As I have run the command 'KUBERNETES_PROVIDER=ubuntu ./kube-up.sh' all my services are up and running. To stop the services I can use 'KUBERNETES_PROVIDER=ubuntu ./kube-down.sh' but I want to remove all the services, configuration from the machine for a fresh building of kubernetes.

[2015-06-17 06:21] adyanthaya17 commented on #9850
Hi, only the first issue regarding the ssh-identity is similar but I fixed it by adding the key to ssh-add. I'm working on ubuntu. Yesterday I configured the file and ran the kube-up command and I was able to get my environment up and running. When I tried fetching the details of the nodes it gave me unknown error.

Today I brought down the environment by kube-down.sh but now it reads:

Kubernetes

[2015-06-17 06:35] CaesarC commented on #9573
i have this problem too.
[code]

[2015-06-17 06:40] hurf commented on #9790
@derekwaynecarr - you're really quick, I was about to do it.

[2015-06-17 06:47] davidopp commented on #3954
@gmarek It's probably time for us to collect some final numbers. Can you run the tests and tell us what the 50/90/99 %ile pod scheduling latency is for 100 node, 3000 pod cluster? I think we should include the watch time (i.e. measure something as close to what the user perceives as possible).

[2015-06-17 06:48] thockin commented on #127
I don't think this issue should be re-opened.  There are a number of options for how to do this (some may be more implemented than others).

* Wrap your real app in a loader script that fetches config, writes it, then exec()s your app
* Implement an init-phase of a pod, wherein all init containers must exit successfully before all non-init containers can start
* Run a sidecar container that writes

[2015-06-17 06:55] davidopp commented on #127
So implicitly, the restart policy for the init containers is always RestartPolicyOnFailure?

What is the restart policy for the sidecar container?

How does the etcd configuration get populated?

[2015-06-17 06:58] davidopp commented on #127
(I'll re-close the issue but am curious about the above.)

[2015-06-17 06:58] #127 closed

[2015-06-17 07:10] marekbiskup commented on #9470
Related to #9849 - the current python inline code breakes CoreOS installations because they don't have python. The priority of this issue may increase (I don't see any other easy way to parse yamls in bash)

[2015-06-17 07:14] marekbiskup commented on #9849
@erimatnor, we will get rid of this python by #9470, but surely after 1.0 (this will be one of my first tasks after 1.0).

Is this issue a blocker for 1.0? If so we'll have to workaround it quickly.
Python is used in bash to extract fields from yamls. Maybe by writing a small binary that does the same job.

Could you also tell me how I can reproduce the problem? (So far I used GCE installations on

[2015-06-17 07:35] gmarek commented on #3954
Yes, I did it yesterday. It looks better than I expected, as it turned out that I was "lucky" when picking Pods to analyze. Statistics are that for saturated cluster 50% is around 3s, 90% around 6s, 99% around 9s for scheduled to running, and 6/10/13 for scheduled to watch. This times are computed after Pod is scheduled, so it does not include scheduler latency (assuming that the watch latency is

[2015-06-17 08:13] adyanthaya17 commented on #9850
No it's not. I did get the ssh-identity but I fixed it. How I know according to the document of ubuntu I don't need to configure anything related to kubectl but here I'm getting 'command not found'. Not sure if the codes were changed or modified.

[2015-06-17 08:40] mnemotiv commented on #9711
Etcd2 is fully accessible for all other services via http://127.0.0.1:2379

The etcd config json file above doesn't work and kube-apiserver doesn't shout out any errors at all.

[code]

[2015-06-17 09:51] HaiyangDING commented on #9920
OK. I am going to try them and I will let you know if there is any progress/problem.

[2015-06-17 10:09] mwielgus opened #9931 "Readme.md in examples/limitrange should be more verbose"
Currently there is only a link to `docs/design/admission_control_limit_range.md`. I would expect to see there some description of the included files, commands to be executed etc, just like in the other examples.

[2015-06-17 10:24] mnemotiv commented on #9711
How I'm dumb, timeout is in nanoseconds... it should be at least x100000-x1000000000 times bigger. Sorry.

[2015-06-17 10:24] #9711 closed

[2015-06-17 11:06] akamalov commented on #9857
Hey Brian Thank You so much for the help. It worked with the following config:

[code]
Again, thanks so much!

Alex

[2015-06-17 11:17] marekbiskup commented on #9470
I suggest to have it v1.0-post. A small go binary to query yamls will suffice for #9849. The binary itself may be also useful for other tests, so it won't be just a waste of time.

[2015-06-17 11:41] akamalov commented on #9857
Changed the secret setting to slightly different to get it up and running:

File: ``` token-system-dns.json```

[code]

My API server is listening on port ```:8888``` instead of ```:8080``` due to Marathon already running on port ```8080```. Thus, I moved the port to ```:8888```. Now, I am getting errors trying to get ```skydns``` working:

From a master node:

[code]

As yo can see ```skydns``` e

[2015-06-17 11:53] zmerlynn commented on #9470
I think a generic way to query yaml would be quite helpful, if you can
generate something. Or at least something that precompiles all our API
types and can handle those. I've been tempted to write that for a while and
just never had time.
On Jun 17, 2015 4:17 AM, "Marek Biskup" <notifications@github.com> wrote:

[2015-06-17 11:58] marekbiskup opened #9932 "Clarify label prefix guidance"
I just found in
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/labels.md

that:

Valid label keys have two segments: an optional prefix and name, separated by a slash (/). (...)
If the prefix is omitted, the label key is presumed to be private to the user. System components which use labels **must specify a prefix**. The kubernetes.io/ prefix is reserved for kubernetes core com

[2015-06-17 12:03] farcaller opened #9933 "rbd volume is processed as emptyDir volume"
I was trying to figure why my podspec with the following volume:
[code]

magically transforms into

[code]

and the container starts with empty dir mounted instead of the rbd volume.

Apparently, given that I run kubelet containerized by hupercube, it can't possibly mount anything. This should be a fail state reported somewhere, mounting an empty dir is not acceptable failsafe as it can lead to da

[2015-06-17 12:12] piosz commented on #9661
Fixed by #9706. Thanks @hurf!

[2015-06-17 12:12] #9661 closed

[2015-06-17 13:03] andronat commented on #9631
@bgrant0607

Sorry, does that mean split the label string at `/` keep the last part and capitalise it? Or keep the first part and capitalise it?

This is not possible in cobra ATM. I can open a ticket though and I can also work on it if you want.

Currently `-h` `-o` `-l` `-t` `-w` and `-s` are used.

[2015-06-17 13:16] farcaller commented on #9933
Actually running both kubelet and apiserver outside of docker doesn't fix anything. Is it an issue with rbd plugin specifically?

[2015-06-17 13:30] marekbiskup opened #9937 "Create a command-line tool to query yaml and json files"
Example usage (details to be decided):

[code]

golang templates (http://golang.org/pkg/text/template/#pkg-overview) may not be sufficient because they don't handle all characters (e.g. there have been problems with /)

The tool will be useful for:
- bash scripts that have to manipulate yamls (e.g. for fixing #9849)
- examples, e.g. here: https://github.com/GoogleCloudPlatform/kubernetes/blob/mast

[2015-06-17 13:31] marekbiskup commented on #9470
I reported #9937 for the command-line tool to query yaml.

[2015-06-17 13:31] marekbiskup commented on #9937
@zmerlynn  commented in #9470:

I think a generic way to query yaml would be quite helpful, if you can
generate something. Or at least something that precompiles all our API
types and can handle those. I've been tempted to write that for a while and
just never had time.

[2015-06-17 13:49] markturansky commented on #9933
Could you post your entire pod json?

cc @rootfs

[2015-06-17 13:55] rootfs commented on #9933
@farcaller any chance you can paste your kubelet log?

[2015-06-17 14:01] farcaller commented on #9933
here's the rc: https://gist.github.com/farcaller/0949a79061e1b3956e9e

@rootfs: I'm not sure kubelet log is relevant, the pod description is returned "corrupted" by apiserver.

[2015-06-17 14:03] farcaller commented on #9933
Also tried on 0.19.0 with the same result.

[2015-06-17 14:05] rootfs commented on #9933
@farcaller kubelet log will tell how rbd volume failed.

[2015-06-17 14:08] farcaller commented on #9933
kubelet mounts the emptyDir volume as expected, because that's the volume returned by apiserver:

[code]

[2015-06-17 14:09] moix commented on #9580
Hi, already got the issue and fixed. somehow at some step the flannel0 was removed from the routing table in one of the minions, so adding it fixed the issue.

Thanks.

[2015-06-17 14:09] #9580 closed

[2015-06-17 14:23] bprashanth commented on #9580
@moix thanks for the detailed bug report anyway

[2015-06-17 14:36] bprashanth commented on #3954
We also got a couple of changes in recently that should help. If you ran the test yesterday it should have them (/stats don't hit docker, setting the right oom score on cluster addons so nodes don't die -- if the node went down and came up previously it would take the kubelet/docker a good minute to reinitialize things --). We're also setting a cgroup limit on docker to avoid cases where it can ho

[2015-06-17 14:44] marekbiskup opened #9942 "kubectl should list subcommands in alphabetic order"
[code]

I suggest putting the subcommands in order. I suggest to milestone it for 1.0 with P3 priority.

[2015-06-17 14:45] mikeln commented on #9920
I have a similar issue.  My first thought was multiple schedulers, then add to the podspec/rcspec to allow the pod to specify the scheduler to use for it.  Resort to the default (with some warning message) if the desired scheduler isn't available.   In my case, it may be viable to just allow multiple default scheduler instances, each with their own configuration file and name (label).

[2015-06-17 14:52] marekbiskup opened #9944 "kubectl exec without parameters should print help"
[code]

I'd like to have it as in case of `kubectl config`:
[code]

[2015-06-17 14:55] marekbiskup commented on #9944
[code]

I'm surprised to find that other commands without required parameters don't print help but an error message. So I suppose it is so by design.

In such case it may be better to have it like this also in `kubectl config`.
Anyway, this issue is very low priority and I don't mind if it gets rejected.

[2015-06-17 14:57] jsdir commented on #9051
@pmorie Sorry for not responding sooner. @erictune's answer worked for me.

[2015-06-17 14:57] #9051 closed

[2015-06-17 15:01] maulik887 opened #9945 "Error: the server could not find the requested resource (post replicationcontrollers)"
Hi, Trying my hands on kubernetes first time. I have one controller defined like this,
[code]

And I'm trying to create rc something like this- **kubectl create -f myapp-controller.json** That gives me error- "Error: the server could not find the requested resource (post replicationcontrollers)"
My kubectl version is-
Client Version: version.Info{Major:"0", Minor:"15.0", GitVersion:"v0.15.0", GitC

[2015-06-17 15:15] gmarek commented on #3954
@bprashanth good to know. Statistics are starting to look promising.
TL;DR; Variance of results for saturated cluster is pretty big. Schedule latencies are what can be expected when scheduling 100 new pods and having 10pod/s rate limit in place. As for Kubelet it looks that it quite OK, i.e. scales ~linearly from the number of Pods, but for saturated cluster it takes too much time to start a new P

[2015-06-17 15:17] stevekuznetsov opened #9946 "Serialization Test Failure Output Completely Unreadable"
TestDeepCopyApiObjects: This test outputs ~14k lines of failure dumps and is absolutely impossible to do anything with - the output should be throttled or optional.

[2015-06-17 15:34] huangqg opened #9947 "Microservice in k8s"
Hi,
k8s is designed for Microservice architect. as we deployed a k8s cluster with more about 2000 pods. and we are consider the Microservice on the cluster. here is my concerns:
1. a pod can contain multiple containers, how does the containers connect with each other? I try to connect the container by localhost, but it failed, for example:
[code]

2. how does k8s/pod handle the dependence between

[2015-06-17 15:56] bprashanth commented on #3954
My 2c

1. Watch latency: The variance here goes back to our 'all apiserver operations need to return in 1s' goal. We're clearly not meeting it for watch (time between mutation and watch notification < 1s). We have optimizations planned post 1.0, but I don't think it'll get better before that.

2. Scheduling latency: if we evolve the test to do what we initially discussed (schedule 1 pod instead of

[2015-06-17 16:16] iterion commented on #9877
@justinsb I realized that I was using c4 instances for minions and ephemeral devices are not available there, so docker was being mounted on my root device which filled up very quickly! It's an interesting gotcha, it would probably be nice to support these instance types in the future by mounting ebs volumes for the ephemeral storage. But, I'm guessing that will be a post-1.0 item.

I'll create a

[2015-06-17 16:18] gmarek commented on #3954
I run serialized version of the test and for some reason it's even worse (12/22/25). It may be a bug in the modified test, but I didn't manage to look into it. What's worse I'll be on conferences for next week and the half, so I won't have too much time to dig in.

[2015-06-17 16:19] thockin commented on #9075
Status on this?

[2015-06-17 16:22] jlowdermilk commented on #9237
Apologies, I broke this with #9227. Sending fix now.

[2015-06-17 16:38] nikhiljindal commented on #9945
I ran kubectl create -f myapp-controller.json using your json on my cluster and it worked fine.

Can you verify that your cluster is running fine by running ```kubectl cluster-info``` or ```kubectl get pods```
I will also recommend syncing to the latest version and trying again. The current version on HEAD is 19 and you are using 14 and 15.

[2015-06-17 16:54] dchen1107 commented on #9895
Once the kubelet claim itself unhealthy, monit should pick it up and restart kubelet. From the initial issue  #9833 reported by @saad-ali, he mentioned that restarting either kubelet or docker should fix the issue. In this case, restarting kubelet should workaround the issue, with less cost than restarting docker.

[2015-06-17 16:57] akamalov opened #9950 "Question: How To Display The Status of Components of the POD"
```Kubernetes Release: 0.19.0```

<b>This is a question: not an issue</b>

Under release version ```0.18.0```, I could simply issue command:

```kubectl get pods``` which would display the status of containers running under pod:

[code]

As you can see above, I have containers displayed in ```Running``` state.

Now, come release ```0.19.0```, display output has changed:

[code]

Is there any way t

[2015-06-17 17:01] #9666 closed

[2015-06-17 17:01] akamalov commented on #9666
Confirming, as of v0.19.0 the issue has been resolved

[2015-06-17 17:01] davidopp commented on #9849
@thockin @lavalamp

[2015-06-17 17:03] #8411 closed

[2015-06-17 17:04] bprashanth commented on #9895
Ah. for my own education, how does restarting the kubelet help? (I can see how restarting docker does)

[2015-06-17 17:05] mikedanese commented on #9673
Take a look at https://github.com/mikedanese/k8s-haproxy/ for an example of this, although it hasn't been updated for v1 api, multiport services, or the new client auth requirements. I know there are other project that do this as well. It would be nice to get something in contrib because it's such a common requirement. It would also be great if the current refactoring of the proxy interface would

[2015-06-17 17:13] rreinurm opened #9951 "Container-optimized Google Compute Engine image article and manifest issue"
Tried to deploy new GCE instance using latest container-vm image (container-vm-v20150611) and found few issues then setting up manifest file. According to article https://cloud.google.com/compute/docs/containers/container_vms the container volumes should be mounted in manifest like:
[code]
If I checked api spec from http://kubernetes.io/third_party/swagger-ui/#!/v1beta3/ or http://kubernetes.io/th

[2015-06-17 17:16] farcaller opened #9952 "rbd volume target mount point is created after it's checked for existence"
I find [this code](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L103) questionable, as the check always fails when directory doesn't exist, and it's being created [a few lines later on](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L111).

[2015-06-17 17:18] farcaller commented on #9933
Apparently I was using a stale kubectl binary, that didn't have rbd support (as I figured by looking at wireshark). This one can be closed, I broke rbd in a more legit way now: #9952.

[2015-06-17 17:18] #9933 closed

[2015-06-17 17:22] BenTheElder commented on #9673
https://github.com/GoogleCloudPlatform/kubernetes/pull/9210 should hopefully help a lot with performance (issue: https://github.com/GoogleCloudPlatform/kubernetes/issues/3760). A prototype in use was mentioned here:
https://github.com/GoogleCloudPlatform/kubernetes/issues/3760#issuecomment-104823239

@mikedanese I'd be happy to work on something like that once the iptables rewrite is finished; I'm

[2015-06-17 17:27] bprashanth commented on #9895
haha, i think i know why it helps, becuase we kill the pod workers on kubelet restart.

If I'm right this will happen when you have pods with a lot of containers and you attempt to kill some of them after they've started the pod infra container but before they've started all the other containers (the workers will go on trying to create containers with a non-existing network namespace container whi

[2015-06-17 17:27] rootfs commented on #9952
nice reading. The basic idea is to ensure the directory is not already mounted before rbd starts to use this directory to mount the device.

you'll find kubelet checks the volume mount periodically. If kubelet finds the volume is already mounted, it won't mount it again. This is why kubelet probes the existence of mount point.

[2015-06-17 17:31] satnam6502 opened #9953 "Rework Error Types to Avoid Conflation"
As pointed out in #9803 to address #9721 we have situations where separate peieces of error information get conflated into one string which is troublesome when we just want one of the conflated items. For example, we have

[code]

which stores the `Detail in a separate filed e.g.`may not update fields other than container.image `. Later, when we need this information we appears in the field:

[cod

[2015-06-17 17:38] farcaller commented on #9952
But then who's going to bootstrap the directory if `os.MkdirAll` is never reached? I managed to get out of this loop only by issuing `mkdir` myself, after which the pod started up.

[2015-06-17 17:44] rootfs commented on #9952
if `MkdirAll` is not reached, something wrong happened. Do you have a kubelet log I can peek?

[2015-06-17 17:46] rootfs commented on #9952
btw, are you still using containerized kubelet?

[2015-06-17 17:48] satnam6502 opened #9955 "Kibana logging viewer gives bad gateway error in a shared GCE project"
For a 100-node GCE cluster requests to Elasticsearch work fine i.e. visiting:
[code]
gives:
[code]
reliably after some start-up jitter. This is running the default of 2 instances of Elasticsearch.
However, visiting the Kibana dashboard does not work (using the default of 1 instance):
[code]
The usual error is "Bad Gateway". From the Chrome console:
[code]
i.e. Kibana tries to contact Elasticsearch

[2015-06-17 17:50] bkeroackdsc commented on #127
@thockin My hack works for now, but I'm thinking option #1 (wrap application in loader script) is probably the best way forward if per-container restart policies are off the table. The pod init phase concept is interesting, though.

[2015-06-17 18:01] farcaller commented on #9952
[code]

Kubelet isn't containerized (is that even possible to use one with rbd mounts?)

[2015-06-17 18:02] satnam6502 commented on #9955
I see the same problems on a 10-node cluster.

[2015-06-17 18:05] maulik887 commented on #9945
To be specific I'm running kubernetes cluster how it mentioned [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker.md). When I check cluster info it says- **Kubernetes master is running at http://localhost:8080**.

And there is one pod running three containers-
POD     IP     CONTAINER(S)      IMAGE(S)      HOST      LABELS    STATUS    CREATED
n

[2015-06-17 18:14] satnam6502 commented on #9955
I see the same problem on a 4-node cluster.

[2015-06-17 18:18] lavalamp commented on #9470
You should use kubectl's template output to generate the format you want, rather than attempting to parse yaml/json from bash. (haven't looked at code at all; maybe you're not doing that?)

[2015-06-17 18:31] mpilant commented on #9808
While I expect I could edit scripts, add software, and generally do what is needed to get Kubernetes running, it would really be counter to the purpose of being able to "easily" install Kubernetes on a host (Linux) system.  Indeed, it would be counter to the purpose of the task for which I was attempting to deploy Kubernetes.

For the moment, it would appear this particular set of instructions nee

[2015-06-17 18:32] rootfs commented on #9952
looks i made a regression [here](https://github.com/GoogleCloudPlatform/kubernetes/pull/6578#discussion_r30807150)

[2015-06-17 18:37] satnam6502 commented on #9955
If I create a 4-node cluster in a GCE project that only has Kubernetes cluster in it everything works fine.
If I create a 4-node cluster in a GCE project with many other Kubernetes clusters in it then I get these problems.

[2015-06-17 18:42] nikhiljindal commented on #9945
No nothing fishy here.

[2015-06-17 18:42] a-robinson opened #9959 "kubectl expose's message about load balancers needing a firewall is weirdly indented"
I ran kubectl expose on an existing service, and the message about how I may need to open a firewall rule was indented to where my terminal cursor was, rather than starting at the beginning of the line like I'd expect:
[code]

[2015-06-17 18:43] bgrant0607 commented on #9631
Re. same option multiple times: Yes, that works. We do that for `-f`. See, for example, create:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/create.go#L47

Re. namespace: Yes, split at `/`, keep the last part, and capitalize it.

Re. short flags: We want to use flags consistently across commands, where possible, so please look at other commands to see which short f

[2015-06-17 18:47] kenmoore opened #9960 "kubectl expose on GCE does not fill in"
(from following the nginx example here https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/simple-nginx.md)

Upon running kubectl expose, no load balancer is associated with the service -- the output of the command lacks an IP address and the status.loadBalancer property of the my-nginx service is emtpy HOWEVER  the corresponding forwarding rule and target pool had been created

[2015-06-17 18:48] rootfs commented on #9952
@farcaller  opened #9957 to fix it, thank you for spotting this problem!

[2015-06-17 18:49] roberthbailey commented on #9955
How are you creating multiple clusters in a single project? Which of the settings in config-default are you changing to make sure that they don't step on each other (network, zone, instance prefix, etc)?

[2015-06-17 18:55] a-robinson commented on #9960
I talked to Ken offline, and it's due to version skew between his kubectl and the kubernetes versions. Unfortunately there were breaking API changes to services between 0.17 and 0.18. Having one of them at 0.17.x and the other at 0.18.y will prevent you from seeing your load balancers' public IPs. His particular case is kubectl at 0.18.1 and kubernetes at 0.17.1, but both directions are broken.

T

[2015-06-17 18:55] #9960 closed

[2015-06-17 18:57] satnam6502 commented on #9955
Only changing instance prefix -- which is perhaps the root of my problems.
I am now deleting all the other clusters to leave just one 100-node cluster to see if that solves the problem. I thought it was sufficient to only change the prefix.

[2015-06-17 19:04] quinton-hoole commented on #9955
You should run it in a separate network too.

export E2E_CLUSTER_NAME=mycluster
export E2E_NETWORK=mynetwork
export KUBE_GCE_INSTANCE_PREFIX=myprefix

Q

[2015-06-17 19:14] dchen1107 commented on #9950
Try kubectl describe pods kube-dns-v3-ipduy?

[2015-06-17 19:28] satnam6502 commented on #9955
Oh, that's for e2e test clusters -- right? I am building regular clusters. Before I am pretty sure I could stand up multiple clusters in the same project by changing only the prefix. I wonder if something has changed?

[2015-06-17 19:31] akamalov commented on #9950
Thanks so much, Dawn!!!

[2015-06-17 19:31] #9950 closed

[2015-06-17 19:33] satnam6502 commented on #9955
So should we not set a network which is named after the prefix? Otherwise all clusters will end up in the `default` network?

[2015-06-17 19:39] smarterclayton commented on #9879
Blocks https://github.com/openshift/origin/issues/2884 from being fixed

[2015-06-17 19:40] satnam6502 commented on #9955
So this is certainly due to have multiple Kubernetes clusters in one GCE project. I just built a 100-node cluster by itself in a project and I no longer see any of these problems.

[2015-06-17 19:40] #9955 closed

[2015-06-17 19:41] nikhiljindal opened #9964 "Swagger fails validation"
This was fixed in https://github.com/GoogleCloudPlatform/kubernetes/issues/4083, but has broken again.

[code]

[2015-06-17 20:13] nikhiljindal commented on #9893
xref https://github.com/GoogleCloudPlatform/kubernetes/issues/9964 as TRACE is also failing swagger validation

[code]

[2015-06-17 20:17] farcaller opened #9968 "panic on attaching rbd persistentVolumeClaim"
Running kubelet 0.18.2:

[code]

[code]

pod snippet:
[code]

[code]

[2015-06-17 20:18] bgrant0607 commented on #9893
TRACE was there for completeness.

We use the proxy with elasticsearch. Perhaps @satnam6502 knows whether Elasticsearch needs TRACE.

[2015-06-17 20:18] markturansky commented on #9968
@rootfs Is this the same issue?

[2015-06-17 20:30] davidopp commented on #9849
Here are the relevant places where we currently use Python (i.e. stuff that might be used on CoreOS):

* https://github.com/GoogleCloudPlatform/kubernetes/blob/41545d0a66e79e5747302f81400b5909514b6276/cluster/gce/util.sh [in get-password]
* https://github.com/GoogleCloudPlatform/kubernetes/blob/5520386b180d3ddc4fa7b7dfe6f52642cc0c25f3/build/json-extractor.py [this is a Python script; I'm not sure

[2015-06-17 20:30] bkeroackdsc commented on #9324
I spent some more time on this and I think it's working now. I think the root issue was the secret volume that the RC template is using. After attempting to create the "token-system-dns" secret with the proper format (apparently it is interpreted as YAML and used for k8s client configuration), I gave up and removed the secret altogether and specified the master URL directly. It failed at first (``

[2015-06-17 20:30] #9324 closed

[2015-06-17 20:36] timothysc commented on #8119
Update:
We've recently updated our cluster to an HA configuration and are load-balancing our apiservers.  In this environment we see no plateaus, just a clean curve.

![image](https://cloud.githubusercontent.com/assets/169553/8218113/8f8979f2-1506-11e5-82d5-3c90ba45a1b5.png)

which leads me to believe there is a artificial limitation in the apiserver, not etcd.

[2015-06-17 20:43] bgrant0607 commented on #9951
Sorry about that. You are correct. hostDir has been converted to hostPath in v1beta3/v1, as mentioned here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api.md#v1beta3-conversion-tips-from-v1beta12

[2015-06-17 20:44] dchen1107 commented on #9849
cc/ @kelseyhightower @philips @brendandburns It is pretty bad at the last minutes we break coreos on different cloud providers. I believe it still works on GCE since I leave the master node using Debian by default. Supporting CoreOS on different cloud providers is required for 1.0 release or not?

[2015-06-17 20:50] rootfs commented on #9968
i just ran 0.18.2 code. no problem running the pod in `examples/rbd/v1beta3`.
@farcaller can you test the example pods too?

[2015-06-17 20:54] farcaller commented on #9968
it works fine if I define the volume in the pod spec (apart from #9957). This one happens with PersistentVolumeClaim only, which isn't used in example code.

[2015-06-17 20:55] smarterclayton commented on #4869
See https://github.com/GoogleCloudPlatform/kubernetes/pull/9976

[2015-06-17 20:55] smarterclayton commented on #4869
There are still known issues in boot2docker, paul was looking at them.

[2015-06-17 20:58] davidopp commented on #9849
Yeah, it would be good if someone could explain the scope of this issue, because I'm very confused. As you can see, we already have python code that surely is running even on CoreOS setups. I don't understand what's special about the kube-addons scripts, or (like @dchen1107 asked) which cloud providers (and/or bare metal) this issue affects. Would be good to get more details ASAP.

[2015-06-17 21:11] mbforbes commented on #9541
Ping @mikedanese did you find anything? I'm getting some upgrade failures and am curious about this... I'll take a look if you haven't yet.

[2015-06-17 21:12] #9891 closed

[2015-06-17 21:14] thockin commented on #9849
Just to be clear, if we don't figure this out Kubernetes v1.0 might be broken on CoreOS.  We really REALLY don't want to do that, but we clearly do not have enough coverage to call CoreOS a first-tier supported distro right now.  Help us, CoreOS folks.

[2015-06-17 21:18] antoineco commented on #9461
Do you actually need the skydns pods to use the skydns DNS server?

Recent commits introduced `dnsPolicy: Default  # Don't use cluster DNS.`

[2015-06-17 21:18] #9881 closed

[2015-06-17 21:24] satnam6502 commented on #9893
No, I don't think it needs TRACE. I think I or someone else added TRACE (for completeness) long after Elasticsearch for logging was working.

[2015-06-17 21:28] markturansky commented on #9968
@farcaller what version of kube are you running?

[2015-06-17 21:29] dchen1107 commented on #9849
@davidopp Thanks for find all places in the code using python.

Actually only last two listed by https://github.com/GoogleCloudPlatform/kubernetes/issues/9849#issuecomment-112940384: kube-addons.sh and kube-addon-update.sh has the issues since both are required to run on coreos node. The fix should be simple similar to what I did for running minion-node with coreos.

I am busy for now. But if it i

[2015-06-17 21:31] satnam6502 opened #9979 "kubectl stop rc fails to delete all replicas"
[code]

[2015-06-17 21:32] timothysc commented on #367
After giving this a fair amount of thought... for service orchestration you could likely boil down most options into two categories (affinity, and anti-affinity).  We could get far more fancy, but at some point I wonder "Everything Should Be Made as Simple as Possible..."

Here are my distilled thoughts:

function (label or annotation)
SPREADBY  - typical use case - SLA uptime
GROUPBY  - typical u

[2015-06-17 21:34] eparis commented on #367
I'd think a ! operator would be in order

[2015-06-17 21:37] smarterclayton commented on #9893
Technically even swagger 1.2 did not acknowledge TRACE as a valid option.

----- Original Message -----

[2015-06-17 21:38] rootfs commented on #9968
@farcaller mind pasting more kubelet log before the panic happened? would like to see if anything else went wrong.

[2015-06-17 21:40] davidopp commented on #9849
Thanks for the details. But I don't understand what is special about the kube-addons* scripts. They run on the master, right? Likewise doesn't cluster/gce/configure-vm.sh (which uses python) also run on the master? It is called from here
https://github.com/GoogleCloudPlatform/kubernetes/blob/4d251212065ffa6b797f3991fb572e4d3522294a/cluster/gce/coreos/helper.sh

[2015-06-17 21:43] bkeroackdsc opened #9981 "ClusterIP in service spec is ignored"
Running K8s 0.18.1 on CoreOS alpha on AWS. Using flannel overlay networking.

My kube-apiserver is configured with the following IP range: ``--service-cluster-ip-range=10.100.0.0/16``

I'm using the following service definition for k8s DNS:

[code]

Despite specifying ``clusterIP`` and providing an IP that is within the legal range, every time I create this service it is brought up with a differen

[2015-06-17 21:49] rootfs commented on #9968
@pmorie

[2015-06-17 21:49] fgrzadkowski commented on #9444
Finally I've been able to reproduce this problem on Jenkins (after fixing some bugs with collecting logs). In the failed runs I see the following errors:

[code]

As a result this data are not written to etcd and consecutive updates fail and master cannot assign clusterIP.

@xiang90 - Is it possible this is caused by some other etcd client library changes (other than using ugorji code, which I thi

[2015-06-17 21:56] farcaller commented on #9968
@markturansky 0.18.2, as noted. I'll try to verify with 0.19.1.

[2015-06-17 21:56] dchen1107 commented on #9849
@davidopp that is why I am asking earlier coreos on which cloudprovider? Obviously it is not on gce, because like what i said above, I didn't spend time on converting master node earlier because my goal is demo coreos + rkt, and rkt is ready for running complicated container like master components back then.

With GCE cloud provider including GKE, configure-vm.sh are running on every debian node,

[2015-06-17 21:59] rootfs commented on #9968
@farcaller we are looking at it, i tested against latest master

[2015-06-17 21:59] smarterclayton opened #9983 "Headless services get no env vars"
It should be possible to create the env var for `FOO_SERVICE_HOST="<service>.<namespace>.svc.cluster.local` based on Kubelet configuration it already has.

[2015-06-17 21:59] smarterclayton commented on #9983
It's confusing and harder to integrate in those cases.  We assume DNS is present today (or are very close to doing so).

[2015-06-17 22:00] bakins commented on #9849
For CoreOS in ./cluster, none of the python ever runs on a CoreOS system. It either runs on the client calling `kube-up` or on the master, which is still Ubuntu/Debian when using the cluster scripts.  All of the CoreOS setup is done via cloud-config using shell scripts and systemd units.

I'll go back through the GCE and AWS cluster scripts ASAP.

[2015-06-17 22:00] smarterclayton commented on #9307
Agreed

[2015-06-17 22:00] smarterclayton commented on #9307
Also opened #9983 to track the fact that you don't get env for headless, which is irritating and surprising to users.

[2015-06-17 22:01] bgrant0607 commented on #9979
cc @bprashanth

[2015-06-17 22:03] satnam6502 commented on #9979
I was able to kill them manually with `kubectl delete pod`

[2015-06-17 22:04] smarterclayton commented on #9444
----- Original Message -----

Agree - transient failures here should block startup of the API server.  We don't have to panic if we move this up in the code, try a few times, then return an error if we can't proceed.  That'll exit the apiserver and force a restart (which in a containerized master environment would give us a chance to pick up new env vars or connections).

[2015-06-17 22:08] davidopp commented on #367
There are "soft constraints" (scheduling goals) and "hard constraints." I think you're talking about the first?

What is the use case and semantics of the | operator? (For connecting SPREADBY and GROUPBY clauses, I assume)

Same question for !

[2015-06-17 22:10] bprashanth commented on #9979
The rc doesn't care about failed and succeeded pods.
Fyi delete rc will do confusing things if you try to delete an rc just after creating it, there's a fix in flight for that (https://github.com/GoogleCloudPlatform/kubernetes/pull/9739, https://github.com/GoogleCloudPlatform/kubernetes/issues/9147).

[2015-06-17 22:12] satnam6502 commented on #9979
So once I am done with my RC how do I clean up after it? I need to do a `stop` and then I need to find all the succeeded and failed pods and kill them manually?

[2015-06-17 22:19] bgrant0607 commented on #9873
We should at least make update retry to avoid false conflicts with status updates. Otherwise, update is not so usable.

See also #8625.

[2015-06-17 22:20] bprashanth commented on #9979
I believe the intent here is we want people to keep the history (logs, etc) of these pods and manage their lifespans explicitly (@bgrant0607 correct me if I'm wrong). You can put your things in a ns and delete that, it will recursively delete resources.

[2015-06-17 22:23] RichieEscarez opened #9984 "Document the v1 system requirements"
This is normally boilerplate info. Do we have hardware and software requirements that need to be specified?

For example:

System Requirements (minimums, types, versions, sizes, etc.):

Hardware:
 - Supported IaaSs
 - Supported OSs
 - Supported Networking
 - Supported Configuration Management
 - Supported Web Browsers
 - Minimum Memory Requirements
 - Minimum CPU (Mhz)
 - Minimum Hard Drive Space

[2015-06-17 22:24] bgrant0607 commented on #9792
cc @dchen1107

[2015-06-17 22:24] davidopp commented on #9873
And #9878 and #8868 and ...

[2015-06-17 22:27] davidopp commented on #9792
I'll send a PR to update the comment. The comment is clearly wrong and @gmarek is out the rest of the week.

[2015-06-17 22:41] mikedanese commented on #9690
liveness probe tests already exists

[2015-06-17 22:51] bgrant0607 commented on #9873
cc @nikhiljindal

[2015-06-17 22:55] #9893 closed

[2015-06-17 23:11] bgrant0607 commented on #9873
We should also clarify the error message.

[2015-06-17 23:13] bgrant0607 commented on #9878
This occurs whenever a ResourceQuota limit exists?

[2015-06-17 23:15] bgrant0607 commented on #8868
Is this the root cause of #9878?

[2015-06-17 23:15] bgrant0607 commented on #9873
@davidopp Those 2 issues are not directly related to this one.

[2015-06-17 23:17] bgrant0607 commented on #9873
@mikedanese If we were going to re-enable patch, I'd like it to use strategic merge patch, yes. I don't think that needs to be in 1.0, however, if full-object updates work. I'd also eventually like a patch command that invokes the PATCH functionality in apiserver.

[2015-06-17 23:17] dchen1107 commented on #9792
If I understood @derekwaynecarr above correctly, he think we should fix the implementation instead of the comment / description. Sounds like openshift is using such field.

[2015-06-17 23:20] bgrant0607 commented on #9792
The start time was used to implement ActiveDeadlineSeconds. See https://github.com/GoogleCloudPlatform/kubernetes/pull/7868#issuecomment-99706316.

[2015-06-17 23:22] bgrant0607 commented on #9964
As discussed in person, in addition to fixing the problems, it would be useful to create an e2e test that ran  swagger validation.

[2015-06-17 23:23] bgrant0607 commented on #9915
cc @thockin @markturansky

[2015-06-17 23:25] smarterclayton commented on #8868
Yes, although some admission controllers would need to look at both

[2015-06-17 23:26] nikhiljindal commented on #9964
https://github.com/GoogleCloudPlatform/kubernetes/issues/5356 is for that.

[2015-06-17 23:28] dchen1107 commented on #9792
@bgrant0607 thanks for the pr link. I tried to find it, but failed. Yes, we should fix the implementation, not description.

[2015-06-17 23:30] bgrant0607 commented on #9518
s/kubelabels/labels/

But the error message from --validation is totally unhelpful.

[2015-06-17 23:36] saad-ali commented on #9932
Does #9901 address this?

[2015-06-17 23:39] timothysc commented on #9920
Please see https://github.com/GoogleCloudPlatform/kubernetes/issues/367 , but I'm all for multiple schedulers too ;-)

[2015-06-17 23:42] justinsb commented on #9981
I don't believe clusterIP is defined on v1beta3 services: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L1087-L1114

[2015-06-17 23:43] erimatnor commented on #9849
FYI, I am not running the "official" cloud-init that comes with Kubernetes. The reason is that those do not support security and tokens, addons, etc, which means less security and modifying official pod specs that includes things like tokens. To solve this, I hacked together some fleet unit files that installs Kubernetes on CoreOS by copying the relevant components from the tar ball, including the

[2015-06-17 23:47] satnam6502 commented on #9486
After conferring with @thockin the suspicion now is that we might get into a state where one ES replica is ready but the other is not and the service incorrectly maps requests to the not-ready ES replica. I will add diagnostics for this.

[2015-06-17 23:49] dchen1107 commented on #9932
#9901 only fixed heapster service labels, there are other services. I can work on it now.

[2015-06-18 00:01] bgrant0607 commented on #9518
Also, it shouldn't have been possible to create a replication controller whose labels in the pod template didn't match the selector.

[2015-06-18 00:02] bgrant0607 commented on #9518
P1 to figure out why this didn't produce the expected errors, with or without --validate.

[2015-06-18 00:02] davidopp commented on #9792
I'm confused. @derekwaynecarr said "The intent was for this field to include time to do a docker pull of any requisite images." Isn't that what's currently happening? This call
https://github.com/GoogleCloudPlatform/kubernetes/blob/6f0c48479f51910a4c7f71365a5d1529c235ac9f/pkg/kubelet/kubelet.go#L1117
is deferred to end of syncPod(), as @gmarek mentioned.

[2015-06-18 00:03] dchen1107 commented on #9932
I were wrong, #9901 fix the last one.

[2015-06-18 00:05] davidopp commented on #9792
Oh I see what happened. What @derekwaynecarr wrote in this issue ("time to do a docker pull of any requisite images") is different than what he wrote in the issue @bgrant0607 pointed to ("Add a timestamp to PodStatus that denotes when a Kubelet acknowledges that a Pod has been scheduled to the host.")

So which is correct?

[2015-06-18 00:06] satnam6502 commented on #9518
I think the labels do match? https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/soak/cauldron/cauldron-rc.yaml

[2015-06-18 00:06] davidopp commented on #9792
(And by correct, I mean which is the desired behavior, not what is implemented, which is clear.)

[2015-06-18 00:10] bkeroackdsc commented on #9981
Yup, that was it. I was looking at https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go

[2015-06-18 00:10] #9981 closed

[2015-06-18 00:12] bgrant0607 commented on #9932
The guidance should specify that system components attaching labels to user objects must be prefixed.

In the case of cluster addons, we're the "user".

The real problem is that the cluster addons are in the default namespace -- #9356, so our object names and labels pollute users' object names and labels.

[2015-06-18 00:12] davidopp commented on #9873
@bgrant0607  Ah you're right, I thought those were also version number conflicts but they're not.

[2015-06-18 00:20] #9790 closed

[2015-06-18 00:33] bprashanth commented on #7328
For this to be useful I think we need order.

Resource version is generated by etcd so we can't rely on different members/shards of the cluster giving you an ever increasing resource version (and non-etcd datastores won't have it). My understanding of sequence numbers is as long as the database is consistent, it's part of the data, so it should always be whatever we wrote across all members.

[2015-06-18 00:36] dchen1107 commented on #9792
@davidopp both are the same and correct. But the implementation might be messed up since it is in syncPod's deferred function mentioned by @gmarek. I will double check the code later.

[2015-06-18 00:47] saad-ali opened #9994 "Persistent Disk mount test sometimes fails to delete disk"
The "`Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both`" E2E test will sometimes fail because it fails to delete the PD used in the test after the test is finished.

The error:
[code]

Detailed test log:
[code]

The disk that fails to delete still shows up in `/dev/disk/by-id/`:
[code]

My attempts to manually try to delete the PD fail with:
[code]

`udevadm trigger`

[2015-06-18 00:47] dchen1107 commented on #9792
Ok, I think there is bug since the feature first introduced to kubernetes. Kubelet generated podStatus in syncPod when kubelet first acknowledges the pod on the node, but never cached it in status_manager. Later in the same syncPod's deffered function, kubelet regenerated the status, and cached this version.

[2015-06-18 00:48] thockin opened #9995 "Allow Service NodePorts on low ports"
To capture some of the discussion.

Gripe: Service NodePorts can only be in a "special" port range (apiserver flag).  This is annoying for people who want to expose a service on port 80 (for example) but instead have to use something like 30986.

Rationale for this behavior:
  1. We don't want service node ports to tromp on real ports used by the node (e.g. 22).
  2. We don't want service node por

[2015-06-18 00:50] thockin commented on #9995
Priority to be decided - some argue that it is P0.

[2015-06-18 00:52] thockin opened #9997 "TODO: Remove deprecatedPublicIPs field when v1beta3 dies."
Assigning to myself so I don't forget

[2015-06-18 00:53] thockin opened #9998 "TODO: Convert validation code to be version-specific"
After v1 is cut and v1beta3 dies.

[2015-06-18 00:58] WIZARD-CXY commented on #9237
I am going to fix it today so leave it to you😃

[2015-06-18 01:01] bprashanth commented on #9641
Closed via referenced pr

[2015-06-18 01:01] #9641 closed

[2015-06-18 01:03] bprashanth commented on #7793
Closed via #7024

[2015-06-18 01:03] #7793 closed

[2015-06-18 01:16] quinton-hoole commented on #9995
Thanks for summarizing the discussion so succintly @thockin.

Unless I'm misunderstanding the proposal, it involves unpredictable and difficult to diagnose failure of services, which seems like a complete non-starter to me.  Or at the very least, vastly more undesirable than the annoyance of not being able to expose a service on a favorite pet host port number?

Am I missing something?

[2015-06-18 01:28] bgrant0607 commented on #9518
Even after fixing "kubelabels" you see the problem in this issue?

[2015-06-18 01:37] #9766 closed

[2015-06-18 01:42] derekwaynecarr commented on #9792
The intent was for the following:

1. Kubelet observes a pod is binded to its host.
2. Kubelet records the pod.Status.StartTime
3. Kubelet does a docker pull for container(s) image
4. Kubelet starts the pod

This does sound like a regression because I currently hold a Bugzilla issue for OpenShift that the StartTime is being applied after the image is pulled.

@dchen1107 - it does sound like the ch

[2015-06-18 02:00] bgrant0607 commented on #7328
Also worth noting the proposed v3 etcd API, which distinguishes "index" from per-object "version": https://github.com/coreos/etcd/blob/master/Documentation/rfc/v3api.proto#L172

[2015-06-18 02:09] thockin commented on #9995
I hope my summary wasn't TOO slanted.  There are legitimate issues that
this sort of change would fix.
On Jun 17, 2015 6:16 PM, "Quinton Hoole" <notifications@github.com> wrote:

[2015-06-18 02:17] timothysc commented on #367
@davidopp soft

Constraint evals to simlpe true or false expressions, so it should really be &&, || this way you can connect them including simple predicate matching.

GROUPBY (cluster) ||  rack==funkytown

The more I think about it, the less I want to tread into config language space given the cattle idiom on services.  Weather they are soft or hard could either be denoted kia keyword or some oth

[2015-06-18 02:17] quinton-hoole commented on #9995
Don't worry, I mentally filtered out your propaganda :-)

But do the legitimate issues (which don't seem to be described in any detail) outweigh the "unpredictable and difficult to diagnose failures"?   It's hard to believe that they would, which is why I ask whether I'm missing something.

[2015-06-18 02:23] quinton-hoole commented on #9995
PS:  I am familiar with the "I have an upstream application/network device which connects/forwards to port x and it's difficult to reconfigure" use case.  Is that the legitimate issue?  Are there others?

[2015-06-18 02:43] thockin commented on #9995
That is one of the legitimate use cases, though no user is claiming this
one is a hard requirement.  The biggest issue is simply friction and "kick
the tires" operation.
On Jun 17, 2015 7:23 PM, "Quinton Hoole" <notifications@github.com> wrote:

[2015-06-18 02:44] bprashanth commented on #9792
@derekwaynecarr do you mean as soon as the kubelet has received the nofitication for a new pod bound to its node, or as soon as the kubelet starts processing that notification? If you don't care eitherway we can have the StartTime reflect the former, and it would help monitor watch latencies as well

[2015-06-18 02:45] bgrant0607 commented on #7328
Responding to some questions from #9739 in this more general issue.

With respect to the name of the sequence field, etcd v3 uses "version", and internally we typically use "version" or "generation" (in various APIs -- Borg and Chubby use the latter). I'm somewhat partial to "generation", since it's what I'm used to and since "version" is already fairly overloaded.

Re. metadata vs. spec:

The seq

[2015-06-18 03:31] mbforbes commented on #6590
I've had some trouble with my `monitoring-influx-grafana-v1-*****` pods today after my cluster was running for a while and I tried to start e2e tests. Is this the right place for a "me too!"?

[code]

[2015-06-18 03:34] adyanthaya17 commented on #9237
The issue of kube-up.sh seems to be fixed by adding 2 lines to the code file though I'm still facing the issue where I'm unable to list the nodes by using 'kubectl get nodes'. I'm issuing this command in /kubernetes/cluster/ubuntu/binaries where the kubectl is located. This is what I have:

Kubernetes cluster is running.  The master is running at:
http://10.x.x.x

Using master 10.x.x.x
... calling

[2015-06-18 03:54] adyanthaya17 commented on #9237
Another thing here is previously when I issued the command 'ifconfig' I was able to see my docker network but once I ran the 'kube-up.sh' command the docker network wasn't present on both the master and minion node but only the flannel network was added.

[2015-06-18 04:03] bgrant0607 commented on #8087
Ugh, we're still exposing minions in the API:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/master.go#L474

[2015-06-18 04:05] bgrant0607 commented on #8087
Ah, no, we're not:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/master.go#L730
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/master.go#L746

[2015-06-18 04:09] jlowdermilk commented on #9237
[code]
You need to put the `kubectl` binary somewhere on your path. Distro-specific binaries are included in the [official release tars](https://github.com/GoogleCloudPlatform/kubernetes/releases), or you can build it from the repo by running `hack/build-go.sh`.

[2015-06-18 04:10] bgrant0607 commented on #9979
We should eventually GC terminated pods. #7660

[2015-06-18 04:11] bgrant0607 commented on #7660
In the meantime, we should at least document that users need to do this.

[2015-06-18 04:14] bgrant0607 commented on #9979
Arguably, stop rc (and delete rc, now that it kills pods) could delete terminated pods matching the rc selector by default.

[2015-06-18 04:38] adyanthaya17 commented on #9237
I ran the command in /kubernetes/cluster/ubuntu/binaries and also tried by moving the kubectl to a different PATH. I ran the command in the /kubernetes/hack directory but I' facing error there.

$ ./build-go-sh

Can't find 'go' in PATH, please fix and retry.See http://golang.org/doc/install for installation instructions.

!!! Error in /home/appaad/kubernetes/hack/lib/golang.sh:438

[2015-06-18 04:39] derekwaynecarr commented on #8868
I thought #9878 was originally caused by @smarterclayton misusing a data population tool I had wrote.  I guess in theory, if a user added a quota to a namespace that had previously defined pods that had not set an explicit resource limit this would have happened.

@bgrant0607 - would you accept a fix for this for 1.0?

Sent from my iPhone

[2015-06-18 04:41] derekwaynecarr commented on #8868
If #9878 is p1, this needs to be bumped to match.

[2015-06-18 05:00] thockin commented on #9983
So you want to just expose the DNS name as the env var?  Can't we just get
rid of env vars?

On Wed, Jun 17, 2015 at 3:00 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-18 05:16] thockin commented on #9947
Containers in a pod should absolutely see each other on localhost.  If that is not working, there's something VERY strange going on.

We do not sequence startup within a pod (well, we start them in the order they are listed but we do it concurrently, I think).  It's your job to make sure your containers in a pod behave "correctly" in the face of failure.

As for advice: Reduce coupling whenever po

[2015-06-18 05:27] gmarek commented on #9792
+1 @bprashanth - having this reflect binding time would make monitoring slightly simpler, as we won't need to instrument the code to get watch lag.

[2015-06-18 05:33] WIZARD-CXY commented on #9237
@jlowdermilk It seems the changes to ubuntu was not enough. Other things will fail. I will try to fix it today.

[2015-06-18 05:48] ArtfulCoder opened #10003 "Remove deprecated healthz port 10248"
monit monitors kubelet's health using port 10248.
that port only has the default health handler that always shows kubelet as healthy.

monit should use https port 10250 or port 10255

@dchen1107 @lavalamp

[2015-06-18 05:59] #9462 closed

[2015-06-18 06:04] thockin commented on #9849
Erik,

Agree 1000% - we need to get CoreOS to be a fully-supported platform on
some set of cloud provider modules.

On Wed, Jun 17, 2015 at 4:43 PM, Erik Nordström <notifications@github.com>
wrote:

[2015-06-18 06:09] thockin commented on #127
Pretty much.

Same as the rest of the pod, idempotency is for the user to provide.

By a side-car loader container.

[2015-06-18 06:10] thockin commented on #127
yeah, I think an init phase is a pretty nice feature.

On Wed, Jun 17, 2015 at 10:50 AM, bkeroackdsc <notifications@github.com>
wrote:

[2015-06-18 06:10] davidopp commented on #367
So IIUC the way the thing you're proposing would work would like this?

GROUPBY expr1 || expr2 => put a virtual label X on all the machines that match expr1 or expr2, and then try to co-locate all the pods of the service on machines with label X
GROUPBY expr1 && expr2 => put a virtual label X on all the machines that match expr1 and expr2, and then try to co-locate all the pods of the service on m

[2015-06-18 06:13] bgrant0607 commented on #8868
In principle, yes. In general, bug fixes are welcome for 1.0, unless huge/risky, and it's not good to have a bunch of functionality in k8s that actually only works in Openshift.

[2015-06-18 06:39] hurf commented on #8929
@thockin - I've created a PR for this issue, can you review it to see if it is as what you expected?

[2015-06-18 07:05] satnam6502 commented on #9968
@pmorie want to take this for review?

[2015-06-18 07:05] maulik887 commented on #9945
I'm still getting same error with latest version of [kubectl](https://storage.googleapis.com/kubernetes-release/release/v0.19.0/bin/linux/amd64/kubectl)

Client Version: version.Info{Major:"0", Minor:"19", GitVersion:"v0.19.0", GitCommit:"6b0d4ffed36adb0e2585333f01a553ab3e0970fd", GitTreeState:"clean"}

[2015-06-18 07:06] satnam6502 commented on #9979
@bprashanth do you want to take this?

[2015-06-18 07:19] feihujiang commented on #9998
I would like to do some work on this

[2015-06-18 07:24] uluyol opened #10009 "Supporting multiple API prefixes"
## Introduction

Continued from #7111 and #2306 (also relevant: #3806, #6363).

There is a strong desire for kubernetes to support multiple API prefixes. This would allow us to split to the API into a more logical structure and introduce support for an experimental API prefix. Additionally, we would like to separately version different parts of the API and provide sensible scoping rules for API ob

[2015-06-18 07:26] uluyol commented on #10009
@lavalamp @bgrant0607 @smarterclayton @derekwaynecarr

[2015-06-18 07:37] erimatnor commented on #9849
Btw, the reason I didn't use kube-up.sh for CoreOS is that it is a mixed environment with the master still running Salt, etc. (correct me if I am wrong). I prefer a pure CoreOS environment with the master also running CoreOS and management via Fleet for configuration (the "CoreOS way"). This keeps things simple and unified. Using Fleet has also the benefit of making Kubernetes easier to upgrade wi

[2015-06-18 07:41] njuicsgz commented on #9822
Aslo found this in my env, but can not always reproduce.

env
[code]

kubectl describe po
[code]
docker log
[code]

[2015-06-18 07:44] njuicsgz commented on #9822
Could we limit the restart times? It may cause unlimit restart and will make many dead containers. Maybe we could give a max_retry_times=10 by default.

I can work around this issue be delete pod, however need operate manually. It still a critical issue.

[2015-06-18 07:59] bengong2015 opened #10010 "Kubernetes services cause a huge delay"
I set up a cluster by using kubernetes+docker+flannel+Haproxy, and test the network status by ApacheBench. (Kubernetes version v0.15.0, I set 'PublicIPs' in service in order to assigned ip:port for pods on each node)
The network design below:
Internet->Haproxy->kube-proxy(service)->flannel->docker bridge->containers
I tried the connection, it pass.
Then I run the test: (202.120.11.50 is master wit

[2015-06-18 09:57] marekbiskup opened #10012 "Networking test should also run on a one-node local cluster"
Follow-up from a discussion in #9676:

From @jayunit100:
Looks like this makes it impossible to run e2e networking tests on a single node. but i think networking.go should work on single nodes - in fact - its an important test for local development imo. is there a way we can dial back the nodes >= 2 requirement?

(...) (see #9676 for all the discussion)
From @lavalamp:
 I'm fine with, e.g., gating

[2015-06-18 10:24] mwielgus opened #10013 "Include examples in e2e tests"
It would be good if e2e tried to bring up cassandra, redis, etc using the configs from `examples/` and check if they start properly (for instance by greping kubectl logs).

@marekbiskup

[2015-06-18 10:33] marekbiskup commented on #9470
I think kubectl can only show objects from the api server, not from files. Am I wrong?

[2015-06-18 10:37] erimatnor opened #10014 "Short-name DNS resolution broken"
Short-name DNS resolution is broken for me on AWS with v0.18.2 and v0.19.1. Full-name resolution works fine. I haven't tested other configurations, but I suspect the same holds true there.

This problem means cluster services like Kibana are broken out-of-the-box. Here's the Kibana log output right after doing a `kube-up.sh`:

[code]

I then logged into the Kibana container and did DNS queries for

[2015-06-18 11:37] mwielgus opened #10016 "FileNotFoundException when starting a single Cassandra pod"
Lots of kubernetes-related FileNotFoundException exceptions are written to logs when starting a single Cassandra pod without defining a service before (following `examples/cassandra/README.md`).

[code]
If this situation is OK and Cassandra with no service is fully functional then maybe we should not print the whole stack trace and log just a warning. Otherwise we should explicitly say that the se

[2015-06-18 11:50] ghost974 opened #10017 "AWS persistent storage"
Hello,

EBS is said to be supported here https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/persistent-volumes but in the example code, there is only gce, local-01/02 and nfs. Is there any sample for using AWS EBS ?

Thanks

[2015-06-18 11:55] nebelpfade opened #10018 "Kube2Sky doesn't create SRV records for services"
Hello,

I try to use DNS (SkyDNS) as discovery service and found that Kube2Sky creates only A records for services, no any SRV. What can be a problem here? I'm using gcr.io/google_containers/kube2sky:1.9

[2015-06-18 12:40] jayunit100 commented on #10012
LGTM, rather than adding more filters for other providers, later on we can parameterize it as an option if need be.  Thanks!

[2015-06-18 12:56] marekbiskup commented on #9546
Please also resolve this inconsistency:

[code]

 1. error is found in the first case, but not in the second one
 1. the word `minion`

[2015-06-18 13:00] derekwaynecarr commented on #8868
I will put something together.  This is still an issue in OpenShift so we are actually no better in this scenario :-)

Sent from my iPhone

[2015-06-18 13:17] gmarek opened #10021 "Validate downloaded binaries"
Today during short hands on session we run into a problem which looked like corrupted Kubelet archive. Do we validate those when we upload them to salt master/download it through salt (or does the salt does this for us)?

[2015-06-18 13:18] gmarek commented on #10021
@zmerlynn ?

[2015-06-18 13:22] smarterclayton commented on #5944
@pweil- we need to fold this into SCC as discussed

[2015-06-18 13:28] pweil- commented on #5944
@smarterclayton - agree, it's on my list of follow ups for SCCs

[2015-06-18 13:36] zmerlynn commented on #10021
No. A couple of months ago, I put all the machinery in place to allow this to happen, but the actual validation wasn't added. There's a sha1 and md5 in the bucket, though:
[code]

[2015-06-18 13:41] gmarek commented on #10021
Can someone with enough power triage this? @davidopp @thockin @brendanburns

IMO it should go to v1 - it's really annoying experience on flaky network (e.g. on conferences) and one needs to know to check startupscript logs to figure out that this is a problem.

[2015-06-18 13:41] ArtfulCoder commented on #10018
1. The service port should have a name.
2. The SRV record is of the format _my-port-name._my-port-protocol.my-svc.my-namespace.svc.cluster.local

Check out https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/README.md

If you are already doing this, then can you give more details about your service spec ?

[2015-06-18 13:42] stevekuznetsov commented on #9946
TestRoundTripTypes has similar output

[2015-06-18 13:42] bakins commented on #9849
We (CoreOS) are working on "official" Kubernetes on CoreOS documentation, scripts, configs, and recommendations. This will cover initial install, upgrades, etc.  The current scripts in ./cluster were the fast path to get the e2e tests running on CoreOS.  The add-ons do work on CoreOS, just not using the current tooling in this repo. An official recommended way of deploying the add-ons will be incl

[2015-06-18 13:44] stevekuznetsov commented on #9946
Perhaps only the diffs of the objects in question can be dumped instead of the raw JSON for the entire object?

[2015-06-18 13:59] zmerlynn commented on #10021
You want me to work something up? I know this path really well.

[2015-06-18 14:00] smarterclayton opened #10022 "Pods that are using host network should still be accessible to other pods via the API semantics"
We realized just recently that HostNetwork pods aren't given a pod IP.  I wanted to get agreement on how we can make that pod visible.

1. The effective ip of the pod is the host ip (which we also set).
  1. We could set podIP to hostIP when in host networking and all higher level components would work
  2. We could change higher level components like the endpoints controller to look at hostIP ins

[2015-06-18 14:01] smarterclayton commented on #10022
@bgrant0607 @thockin

[2015-06-18 14:09] swagiaal commented on #9994
@saad-ali is the disk still mounted ? It looks like the detach call did not succeed for some reason

[2015-06-18 14:23] gmarek commented on #10021
Well, I don't know if someone else considers it's v1. I'm going to have hands on session next Thursday, so I'd be really happy to have it fixed, but that's just me.

[2015-06-18 14:31] ArtfulCoder commented on #10014
Can you paste the /etc/resolv.conf file from kibana-logging-v1-vhzi8 container ?

[2015-06-18 14:35] derekwaynecarr commented on #9792
@bprashanth - can you distinguish between "kubelet has received the notification for a new pod bound to its node" vs "as soon as the kubelet starts processing that notification"?  I want start time to be set by the Kubelet, not by another component that binds the pod to a node (i.e. the scheduler should NOT set the value, if we want that, we should have another flag that is scheduledAt or somethin

[2015-06-18 14:40] markturansky commented on #10017
An EBS example just got merged https://github.com/GoogleCloudPlatform/kubernetes/pull/9665

PV should work fine swapping out the examples with an EBS volume.

[2015-06-18 15:07] roberthbailey commented on #10003
Port 10250 would be better than 10255, because 10255 is the read-only port which only has the default healthz handler installed. The custom healthz handler is only running on the https port (10250).

[2015-06-18 15:14] ArtfulCoder commented on #10003
@roberthbailey we need monit to able to use the https endpoint. I couldn't find documentation yet to able to do that.  ( I looked at https://mmonit.com/monit/documentation/#HTTP)

[2015-06-18 15:18] kelseyhightower commented on #9849
@bakins I think the first step here is to highlight what is broken on CoreOS as of 0.19.0 so we can possibly workaround it before 1.0.

[2015-06-18 15:27] kelseyhightower commented on #9849
@thockin @dchen1107 @davidopp Say we are able to find the areas where the kube-addons.sh script does not work on CoreOS, what is deadline to get a fix in place to remain a fully support OS?

[2015-06-18 15:31] roberthbailey commented on #10003
In that case, maybe making the healthz on 10248 (which is called the HealthzPort on the command line) seems like it might make the most sense.

[2015-06-18 15:32] philips commented on #2884
@dchen1107 What were those other issues?

[2015-06-18 15:33] kelseyhightower commented on #9849
@thockin @dchen1107 @davidopp It would also help if we clarify what being a supported OS means. Does that mean kubeup.sh and kube-addons.sh scripts must work for each supported OS? I would also imagine a requirement for all the e2e tests to pass as well. Thanks.

[2015-06-18 15:34] philips commented on #2884
@dchen1107 nevermind, I see the references above bgrant's comment.

[2015-06-18 15:36] bprashanth commented on #9792
@derekwaynecarr

The reflector on the node (not the scheduler, this is client side) has stored the new pod in a queue. The kubelet won't observe this pod if it isn't waiting in syncLoop (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1669). Reasons it might not be waiting in syncLoop are eg: that it's creating pod workers or deleting pods.

The kubelet has pu

[2015-06-18 15:41] bprashanth commented on #9979
I think this should be a post 1.0 discussion, though I'm not against considering it for 1.0. Mostly because stop and delete have always noticed the status.Replicas on an rc, which has never considered failed pods. Changing this should be relatively easy, though if someone should want the behavior we have today they'd have to be careful enough to grab the history of those pods before deleting the r

[2015-06-18 15:44] ArtfulCoder commented on #10003
Will do

On Thu, Jun 18, 2015 at 8:32 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-06-18 15:55] RichieEscarez commented on #8529
@kprobst Is the content that you are requesting already here (or is this where you want more info added): https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md#multi-port-services

[2015-06-18 16:03] nikhiljindal commented on #9546
The field selector error is being fixed in https://github.com/GoogleCloudPlatform/kubernetes/pull/9966

[2015-06-18 16:06] bakins commented on #9857
@akamalov maybe try editing the [rc manifest](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.in) for kube2sky to add `--kube-master-url=<your-master-url>` ?  You may even be able to use variable substitution there.

[2015-06-18 16:08] bakins commented on #9801
@justinsb Lots of folks are using cloudformation. I, personally, use Terraform.  We (CoreOS) are writing "official" docs/recommendations/examples for Kubernetes on CoreOS based on what we have seen that works.

[2015-06-18 16:19] rootfs commented on #9968
this was fixed by the following commit

commit d2b4ae4df422602b085e58ea5e4bd8599374f194
Author: Jan Safranek <jsafrane@redhat.com>
Date:   Mon Jun 1 16:34:40 2015 +0200

    Fix persistent volumes.

    Check Spec.PersistentVolumeSource in NFS, RBD, Gluster and iSCSI volume
    plugins.

[2015-06-18 16:26] andronat commented on #9631
Flags used: `-f`, `-p`, `-P`, `-r`, `-c`, `-h`, `-o`, `-l`, `-t`, `-w`, and `-s`. `-k` is free or we can even use `-L`?

Namespace: Done

Multipleflags: Sorry I didn't see that. Done on the current commit

I will squeeze the commits when you are ready to merge.

[2015-06-18 16:33] juliaferraioli commented on #9416
@brendandburns you've taken on the troubleshooting section -- does this fit with how you've thought of the doc?

[2015-06-18 16:38] svennela opened #10029 "default network resolves to multiple instances, please specify"
Hi,

Trying to deploy kubernetes on vsphere, Running into below error? Any help? Where to specify network details??

Starting cluster using provider: vsphere
... calling verify-prereqs
... calling kube-up
Starting master VM (this can take a minute)...
Error: default network resolves to multiple instances, please specify

Also it created VM, next time when i run it has to be deleted..

[2015-06-18 16:40] erictune commented on #9494
Your mockup for changes to kubernetes.io shows a left-nav with links to examples.  Will examples/ also be moving to gh-pages?

[2015-06-18 16:41] akamalov commented on #9857
Thanks SO MUCH, Brian. Yep, I got ```kube2sky``` working properly. Here is my yaml file:

[code]
However, I am continuously getting errors on ```skydns```: complaining that ETCD does not have the proper ```/skydns``` key:

[code]

So, it looks like ETCD key "/skydns/config" is missing. Shouldn't this be part of the manifest ?

Thanks so much again!

Alex

[2015-06-18 16:43] derekwaynecarr commented on #9792
@bprashanth - 1 is my preference.

[2015-06-18 16:47] bgrant0607 commented on #9494
Is this "move" or "copy"?

It is very useful to be able to update the documentation in the same PR as the code, and we should be moving more CLI and API documentation into the code.

Additionally, if we move the generated files to another branch, we need to automate the process by which they are updated or they'll quickly become out of date.

[2015-06-18 16:47] timothysc opened #10030 "Controller manager restart default initialization failure."
In validating HA-fail-over on density, we verified that the controller manager appears to act in an uninitialized fashion, e.g. it doesn't gather complete state before acting.  It over-corrects which causes a fair amount of unnecessary churn on the system.

It eventually recovers, and converges, but it fails density tests by overshooting.

Reproduction:
1. Configure HA
2. run density
3. Trigger a

[2015-06-18 16:54] pires commented on #9075
I believe I will have the PR ready later today.

[2015-06-18 17:03] smarterclayton opened #10031 "Events API returns raw etcd errors in some cases"
The events REST storage object is not using generic.Etcd, and it's not wrapping the returned errors from etcd with the appropriate `pkg/api/errors/etcd` handles.  As a result, we return raw etcd errors to clients which leaks server information (security) and is also ugly.

Spawned from https://github.com/openshift/origin/issues/3196

[2015-06-18 17:03] juliaferraioli commented on #8529
If that is the information, it sounds like maybe it's not surfaced in the pertinent locations?

[2015-06-18 17:05] derekwaynecarr commented on #8868
I am biased to add a field ```Subresource``` to admission attributes so its consistent with the ```APIRequestInfo``` object.  I would also need to add ```Subresource``` to ```RequestScope```. I guess in concept, I could concat ```Resource/Subresource``` before calling admission, but not sure if that is really preferred or not.  My gut thinks its better to have more information and keep them separa

[2015-06-18 17:07] PeterLamar opened #10033 "vagrant cannot connect"
Is anyone seeing this? Using the vagrant tutorial (with virtualbox), I get this error:

Each machine instance has been created/updated.
  Now waiting for the Salt provisioning process to complete on each machine.
  This can take some time based on your network, disk, and cpu speed.
  It is possible for an error to occur during Salt provision of cluster and this could loop forever.
Validating maste

[2015-06-18 17:09] derekwaynecarr commented on #8868
Tracking down what happens in ```Authorizer``` to here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/handlers.go#L210

I don't see how authorizer is subresource aware either

[2015-06-18 17:10] derekwaynecarr commented on #8868
I must be reading something wrong, need to do more testing, or we convert what is on APIRequestInfo when we build a RequestScope

[2015-06-18 17:15] bakins commented on #9857
@akamalov You can store the skydns config in etcd, but it is not required.  You can safely ignore that error.

[2015-06-18 17:20] mwielgus opened #10034 "Cassandra's KubernetesSeedProvider works only with the default namespace"
The namespace seems to be hard coded [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/cassandra/java/src/io/k8s/cassandra/KubernetesSeedProvider.java#L105):

[code]

[2015-06-18 17:21] smarterclayton commented on #9983
I'd like to get rid of the automatic env vars and let them be defined via the downward API mechanism - I'd be fine with only exposing the DNS name always (i think we can then remove the watch that the kubelet has on all services as well).

----- Original Message -----

[2015-06-18 17:24] derekwaynecarr commented on #8868
I have tracked this all down now.

1. The Kubernetes authorizer is not sub-resource aware today
2. The OpenShift authorizer is sub-resource aware today because it has its own code that concatenates Resource/Subresource when building request attributes

@deads2k and I would like to add ```GetSubresource``` as an operation on the authorizer.Attributes and admission.Attributes interface so they are c

[2015-06-18 17:32] davidwalter0 commented on #9673
@thockin Is there an example and description of an iptables configuration for / replacement of kube-proxy or enablement in kube-proxy.

[2015-06-18 17:35] mikedanese commented on #9673
@davidwalter0  #3760 has a few proof of concept rules.

[2015-06-18 17:35] thockin commented on #10022
I think 1.1 is correct - the network plugin should not be engaged for host
networking.

On Thu, Jun 18, 2015 at 7:02 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-18 17:36] thockin commented on #10021
I think it makes sense to scope for v1

On Thu, Jun 18, 2015 at 7:24 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-06-18 17:37] zmerlynn commented on #10021
I've got a PR in flight.

[2015-06-18 17:38] zmerlynn commented on #10021
(It was trivial and I noticed a little bug while I was glancing around anyways.)

[2015-06-18 17:39] thockin commented on #10010
Do you have a reproducible test?  I have not run benchmarks lately, but
when I ran tests a few months ago the slowdown was almost entirely due to
the veth subsystem.  kube-proxy has a long-tail latency, but we have plans
for that for after 1.0

On Thu, Jun 18, 2015 at 12:59 AM, bengong2015 <notifications@github.com>
wrote:

[2015-06-18 17:44] erictune opened #10036 "TestHandleNodeSelector test flake"
In a PR that only changed docs, TestHandleNodeSelector failed on shippable.
https://app.shippable.com/builds/5582fe6f152d7e0b0098cd1a
says:
[code]

[2015-06-18 17:47] erictune commented on #10036
@yujuhong might know about this test.

[2015-06-18 17:48] erictune commented on #10036
@jszczepkowski might also know about this test.

[2015-06-18 17:48] bgrant0607 commented on #10022
Yes, pod IP should be set to the host IP.

[2015-06-18 17:49] bgrant0607 commented on #10022
If it's easy, I think we should take the PR.

[2015-06-18 17:49] bgrant0607 commented on #10022
cc @dchen1107 @vmarmol

[2015-06-18 17:52] bprashanth commented on #10030
I get the feeling this can happen if the rc manager runs it's first loop after the restart before the watch has populated the store (but it will correct itself, like you noted). We've been meaning to autdit controller framework uses cases for things like restarts (https://github.com/GoogleCloudPlatform/kubernetes/issues/9026), but if we really need a fix we'd need to communicate that the watch gor

[2015-06-18 17:56] csrwng opened #10038 "Create a proxy subresource for services"
Services should have a proxy subresource just like the one for pods (pods/proxy). The endpoint should be the equivalent of the current /proxy/services/[name] endpoint.

[2015-06-18 18:01] yujuhong commented on #10036
`git bisect` suggests that this was caused by #9728. I haven't read the PR yet.
/cc @dchen1107 @justinsb

[2015-06-18 18:01] PeterLamar commented on #10033
I ran ifconfig and noticed that two of the 10 default host-only networks had IPs and the rest didn't. I deleted the networks that did not have IPs and reran vagrant up. Doing so fixed it..
Not sure why its fixed, but ill close the issue.

[2015-06-18 18:01] #10033 closed

[2015-06-18 18:07] bprashanth opened #10042 "Record pod StartTime when we receive a watch notification on the kubelet"
Forked from: https://github.com/GoogleCloudPlatform/kubernetes/issues/9792#issuecomment-113213791, https://github.com/GoogleCloudPlatform/kubernetes/pull/7868#issuecomment-99706316

Proposal for StartTime modification:

1. Initialize StartTime, once, when the kubelet gets an add notification for the pod
2. If something else modifies it via the apiserver the kubelet will ignore the modification (we

[2015-06-18 18:12] nikhiljindal opened #10043 "Delete /binding"
Forked from https://github.com/GoogleCloudPlatform/kubernetes/pull/9991#discussion_r32697587

We need to update the scheduler (ours and mesos) to use pods/binding instead of /binding and then we can delete /binding.

[2015-06-18 18:13] timothysc commented on #10030
@bprashanth or gate the run loops on a watch sync.

[2015-06-18 18:13] nikhiljindal commented on #10043
cc @bgrant0607 @smarterclayton

[2015-06-18 18:16] yujuhong commented on #8692
@jseaidou, feel free to reopen if you run into any other issue.

[2015-06-18 18:16] #8692 closed

[2015-06-18 18:19] bgrant0607 commented on #9878
The scenario where this is a problem was explained here: https://github.com/GoogleCloudPlatform/kubernetes/issues/8868#issuecomment-113035594

[2015-06-18 18:20] smarterclayton commented on #10022
@rajatchopra can you upstream your patch?

[2015-06-18 18:20] nikhiljindal opened #10045 "Delete legacy proxy path"
We right now have two different URL paths in the v1 API for proxying to a pod:

[code]

This is because, we're in the process of moving towards using subresources (the second URL), but haven't deleted the legacy path yet (the first one).

This is to keep track of deleting the legacy proxy path.

[2015-06-18 18:21] nikhiljindal commented on #10045
cc @smarterclayton @bgrant0607

[2015-06-18 18:23] dchen1107 commented on #9792
I think the record for the initial PodStatus when kubelet acknowledge the pod at the initial time is missing, should be a simple fix. The only concern I had is that when node is under resource pressure, kubelet / docker might slowly take action on PodSpec, which might affects the feature introduced by #7868 since it makes ActiveDeadlineSeconds very undeterministic.

[2015-06-18 18:24] dchen1107 commented on #10042
I just updated the initial issue #9792 on this.

[2015-06-18 18:24] bgrant0607 commented on #3606
Partial dupe of #3059

[2015-06-18 18:25] akamalov commented on #9857
Thanks Brian!!! Let me try it out!!

[2015-06-18 18:26] dchen1107 commented on #10022
Yes, we should set Pod IP to the hostIP for pod using host network. @rajatchopra thanks for upload your patch.

[2015-06-18 18:27] bgrant0607 commented on #9753
Also sort of relevant: #7257, #5331, #3060

[2015-06-18 18:28] bprashanth commented on #9792
That's why i asked for clarification between the 2 cases, and it sounded like the startttime including this slow-kubelet time, when it happens, was ok?

[2015-06-18 18:29] bgrant0607 commented on #9979
I don't expect this to be done by Monday.

I'm fine with waiting for more user feedback that their clusters die after accumulating zillions of dead pods.

[2015-06-18 18:37] ArtfulCoder commented on #10003
@roberthbailey and I discussed offline.
We will use 10255 for the health check.
Reason: health checks are very kubelet-internals-specific. It is easier to add healthchecks on 10255, which has easy access to kubelet internals.

[2015-06-18 18:40] dchen1107 commented on #10036
That is weird. How come shippable didn't complaint #9728 at the first place? But #9728 definitely is the biggest culprit here.

[2015-06-18 18:44] roberthbailey commented on #10003
Also, we should audit uses of 10248 and remove it if it was only used by monit (which I believe is the case).

[2015-06-18 18:50] dchen1107 commented on #10003
10248 currently is only used for monit. Validation cluster doesn't validate nodes healthy anymore. It is safe to remove it now.

[2015-06-18 18:51] thockin commented on #15
I revisited this with recent docker and it APPEARS that we can re-enable docker's --iptables flag (or stop disabling it).  It needs more thorough testing to be 100% sure, but it looks pretty good.

[2015-06-18 18:54] saad-ali commented on #9994
@swagiaal I'll have to get another repro and verify.

[2015-06-18 18:56] erictune commented on #10036
happened again:
https://app.shippable.com/builds/55830410152d7e0b0098d14a

seems pretty repeatable.

[2015-06-18 19:06] timstclair opened #10051 "gcloud docker moved out of preview"
Makefiles, scripts & docs should be updated with s/gcloud preview docker/gcloud docker/

This affects gcloud versions >= 2015.06.17

[2015-06-18 19:13] thockin commented on #15
Context:

https://github.com/docker/docker/issues/8356
https://github.com/docker/docker/pull/6810

[2015-06-18 19:19] smarterclayton commented on #10045
The service proxy needs to be moved, @csrwng either knows which issue it is or should be able to create the issue if it doesn't exist

[2015-06-18 19:29] justinsb commented on #9801
@bakins  OK, good to know.  Let me know if there's anything we should do in the AWS cloudprovider for this!

I think this issue is valid - it isn't too hard not to hard code this!

[2015-06-18 19:31] thockin opened #10054 "Token discovery which falls back on service account tokens should log that fact"
I tried to break DNS to experience what everyone else is experiencing and ... it just worked.  @lavalamp explains that somewhere in the bowels of token code it says "hmm, that didn't work, let's try finding a service account".  And it does.  But how do I know that?

[2015-06-18 19:34] justinsb commented on #10036
I think Shippable did complain, but I think I dismissed it as a flake (and I can't see Shippable results because I'm not in the Google org).  A question I need to figure out is why _my_ e2e testing didn't fail.

[2015-06-18 19:41] yujuhong commented on #10036
@justinsb, the unit tests use a simple/test kubelet that does not go through the initialization path you wrote, so `nodeName` is always empty. This would only happen in the unit tests, and will always happen (not flaky). #10055 sets the `nodeName` for such test kubelets.

[2015-06-18 19:41] thockin commented on #9998
This should be a relatively mechanical change

[2015-06-18 19:41] thockin opened #10056 "kubectl exec eventually times out and can't be ^C'ed"
I see this reliably.  `kubectl exec -ti test-dns-4n4u4 -c kube2sky sh`, do some work, get a drink, come back and it's hung.  ^C doesn't work.  ^Z doesn't work.  The only answer I found was to kill it from another terminal.

@ncdc

[2015-06-18 19:44] ncdc commented on #10056
@thockin does your build have https://github.com/GoogleCloudPlatform/kubernetes/pull/9890? That should fix it.

[2015-06-18 19:45] quinton-hoole commented on #9995
In that case I'm going to argue (quite strongly :-)) that allowing service nodeports on low port numbers should be optional, and turned off by default.

[2015-06-18 19:48] bgrant0607 commented on #10043
This is about the top-level resource, not the subresource.

[2015-06-18 19:48] yujuhong commented on #9792
That is also my understanding. `StartTime` is used mainly with ActiveDeadlineSeconds to determine how long a container/pod has been running, and kubelet is responsible for terminating the pod/container once the deadline has been reached. Given that image pulling may take a long time, the active deadline could be inaccurate.

Hmm...is it really okay if the pod has passed the deadline before the con

[2015-06-18 19:50] erimatnor commented on #9849
@bakins and those interested.

Put my scripts, cloud-init and Fleet files here:

https://github.com/iobeam/coreos-kubernetes

[2015-06-18 19:51] eparis commented on #9995
A great example would be the L7 ingress router used by openshift. It needs to run on 80 and 443. Quite reasonable and not at all a 'kick-the-tires' kind of thing.

While hostPort might be possible it does mean that I can't use rc's any more, as I have to start pinning the ingress router container to specific nodes. With publicIPs this was solved, as externally people could be told to use publicIP[

[2015-06-18 19:54] bgrant0607 commented on #10045
#10038

[2015-06-18 19:56] bprashanth commented on #9792
That really depends on how you define the deadline (i.e there could be "virtual" resources a user is consuming even if the kubelet hasn't seen the pod. A typical example is limit range quota -- though for that one might want to set the StartTime even earlier).  @derekwaynecarr since you wanted the initial feature, wdyt?

[2015-06-18 20:09] erimatnor commented on #10014
@ArtfulCoder here's the /etc/resolv.conf:

[code]

[2015-06-18 20:12] derekwaynecarr commented on #9792
I want what was originally discussed when doing ```ActiveDeadlineSeconds``` which means that the ```StartTime``` takes effect before any docker image pulls occur.  It is intentionally NOT the container start time.   Hence, I would like "kubelet has received the notification for a new pod bound to its node" to be ```StartTime```.

[2015-06-18 20:15] #9091 closed

[2015-06-18 20:16] #9487 closed

[2015-06-18 20:18] jcderr opened #10058 "Document how to upgrade a CoreOS-based Cluster"
I have a CoreOS-based cluster based on 0.17 and would love to upgrade to more recent versions.

[2015-06-18 20:20] satnam6502 commented on #8489
@bgrant0607 is it possible to have a milestone for this so I can tell if I should merger #9806? Thanks.

[2015-06-18 20:29] a-robinson opened #10061 "Add kubernetes-specific labels to the google cloud logging fluentd plugin"
Effectively a cross-post of https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/15, but this also tracks updating our fluentd images once the plugin has been changed.

@mr-salty @satnam6502

[2015-06-18 20:33] mwielgus commented on #10034
cc: @caesarxuchao @brendandburns

[2015-06-18 20:33] quinton-hoole commented on #9995
@eparis Yes, your use case is the "PS" one I referred to above. It's not clear to me how you get around points 1 and 3 in the caveats and analysis section of the original description above (a.k.a. "user asked for a service on node port x, and it sometimes just doesn't work and they have no idea why")?

[2015-06-18 20:37] satnam6502 commented on #10061
How do we decide a milestone for this PR?

[2015-06-18 20:39] a-robinson commented on #10061
@erickhan

[2015-06-18 20:48] nikhiljindal commented on #9945
Sorry for not being clear before. Update your kubernetes cluster code as well and not just kubectl.

[2015-06-18 20:57] dchen1107 commented on #9849
@kelseyhightower, @erictune is working a suite of conforming tests for cloud providers based on our current e2e-test suites, but not limited to it, so we and kubernetes community can maintain so many different cloud providers. We should have that as soon as possible, but I don't think that is in 1.0 scope.

CoreOS distro makes the problem even more interesting, since each provider can have differe

[2015-06-18 21:02] satnam6502 commented on #10017
@ghost974 can we close this issue?

[2015-06-18 21:02] justinsb commented on #10061
Love this feature.  Any plans to do something similar for ES?  And did we consider just replacing fluentd with our own collector (in Go)?

[2015-06-18 21:05] satnam6502 commented on #10013
The e2e cluster does bring up Elasticsearch and Kibana and one of the e2e tests does a pretty decent check of Elasticsearch to make sure it works. Do you think the e2e tests should also check that the configs under examples are healthy? Perhaps -- but I think this should be a separate e2e tests under the examples directory and it should not be conflated with the test/e2e tests which are aimed at c

[2015-06-18 21:08] erimatnor commented on #10058
I just made some CoreOS cluster configs available here that might interest you. They are based on Fleet so it makes it easier to upgrade Kubernetes. Current version used is v0.18.2.

https://github.com/iobeam/coreos-kubernetes

[2015-06-18 21:12] #9690 closed

[2015-06-18 21:14] #10021 closed

[2015-06-18 21:24] #8610 closed

[2015-06-18 21:30] #9889 closed

[2015-06-18 21:33] #9404 closed

[2015-06-18 21:36] satnam6502 commented on #8087
Milestone?

[2015-06-18 21:45] dchen1107 commented on #9792
Ok, let me just quickly send a fix for this. We can work on the issue for slow action from kubelet / docker under resource pressure later.

[2015-06-18 21:53] RichieEscarez commented on #9494
@erictune yes, the plan is that all user facing doc will **move** to gh-pages, including examples.

@bgrant0607 about the CLI and API generated output, yes, good point. @brendandburns do you have any suggestions around automating the update process?

[2015-06-18 21:54] yujuhong commented on #6651
No, integration test is still flaky. See https://app.shippable.com/builds/5582458f3d07800f00077736 for example.

Many tests in cmd/intergration/intergration.go rely on checking the pod status with a preset timeout. I disabled one test which failed most often, but other tests still fail from time to time.

[2015-06-18 22:04] nikhiljindal opened #10064 "Shouldnt be returning etcd errors"
As discussed with @bgrant0607, we return etcd error as is if update fails: https://github.com/GoogleCloudPlatform/kubernetes/blob/5520386b180d3ddc4fa7b7dfe6f52642cc0c25f3/pkg/api/errors/etcd/etcd.go#L48. All other functions except InterpretUpdateError() are fine.

Also, we shouldnt be checking resourceVersion while updating in the apiServer: https://github.com/GoogleCloudPlatform/kubernetes/blob/4

[2015-06-18 22:05] mwielgus commented on #10013
@satnam6502, do you want to just put the code in a different directory or to completely separate these e2e tests from the core tests (different scripts in `hack/`, etc)?

[2015-06-18 22:07] akamalov commented on #9857
Hey Brian,

At this point, my skydns instance is not staying up:

[code]

The only error I am getting on docker logs is the container complaining at key not being found:

[code]

From a master node:

[code]

It looks like it's getting killed and re-created continuously :(

[2015-06-18 22:18] #9952 closed

[2015-06-18 22:25] bgrant0607 commented on #10064
See also #10031

[2015-06-18 22:25] bgrant0607 commented on #10064
And #1990

[2015-06-18 22:26] thockin commented on #10056
will try

[2015-06-18 22:27] caesarxuchao commented on #10034
@mwielgus Thanks. We can improve it after v1 release.

[2015-06-18 22:28] satnam6502 commented on #10013
Well, first, let's not write any more scripts please.
I think it is a bit of a project to do a good systematic job of developing e2e tests (or framework) for the examples -- I think there is also already an issue for this? I think we should start to think about this after the 1.0 release? Otherwise it is not going to get the attention it needs for code review etc? Do you think this can wait a bit?

[2015-06-18 22:28] thockin commented on #10018
SRV records are only created on new-style names:  *.svc.cluster.local - this tripped me up, too.  Please confirm.

[2015-06-18 22:30] thockin commented on #9903
Can't reproduce.  Can you `kubectl exec` into the kube2sky container and poke?  Does /etc/resolv.conf exist?  What does it hold?  What is the file mode on it?  what UID is kube2sky running as?

[2015-06-18 22:34] thockin commented on #10056
negative, still happens with a fresh-from-head build

[2015-06-18 22:34] thockin commented on #10056
umm, I forgot to push, lemme try that agin :)

[2015-06-18 22:50] a-robinson commented on #10061
@justinsb, I can't remember if you've been pointed there before, but I think #8632 is along the lines of what you would want for ES.

And we haven't really considered replacing it, no. Fluentd hasn't been a source of problems as far as I've seen. I expect the main benefits that would motivate a replacement would be lower resource usage and making it easier to integrate k8s concepts?

[2015-06-18 22:51] thockin commented on #10056
ACK.  Now it drops the connection on timeout

[2015-06-18 23:12] #10051 closed

[2015-06-18 23:13] #8489 closed

[2015-06-18 23:22] bgrant0607 commented on #10064
We should log unexpected etcd errors (at a suitably high verbosity level).

[2015-06-18 23:28] #9846 closed

[2015-06-18 23:39] bgrant0607 commented on #3955
Another wrinkle -- version negotiation: #9762

[2015-06-18 23:47] smarterclayton commented on #8132
I looked into it - I think our use of pointers to denote optional an unspecified fields may cause an issue

[2015-06-18 23:48] smarterclayton commented on #8132
may *still* cause an issue even with proto3 (noting Eric already pointed out the issue)

[2015-06-18 23:53] satnam6502 commented on #9721
Closed via #9803

[2015-06-18 23:53] #9721 closed

[2015-06-18 23:53] thockin opened #10068 "client code, kubecfg file being ignored by kube2sky in favor of service account token"
We end up making a non-verified connection to the wrong IP (service IP instead of VM IP).

@lavalamp @roberthbailey @mikedanese

[2015-06-19 00:04] thockin commented on #9995
@eparis I don't think I understand your model.  You run L7-as-a-service and you tell people to connect to $node_ip on :80 and :443, rather than a load balancer?  And you're confident that no user of the cluster will ever ask for a Service with port 80 or 443 and ask for NodePort of the same port?

If so, you could change the apiserver's --service-node-port-range to "1-32767" and install your L7 be

[2015-06-19 00:07] eparis commented on #9995
--service-node-port-range=1-32767 suffers extremely from accidentally stomping on port, not someone screwed up, the SYSTEM screwed up....

[2015-06-19 00:10] thockin commented on #8132
I don't know if we have any leverage to fix this issue - it sounds very
intentional that they eliminated both default values AND
presence-detection.  Maybe we could do something clever with JSON-to-proto
encoding, but that will make the proto-native interface ugly.

LOSE

On Thu, Jun 18, 2015 at 4:48 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-19 00:13] eparis commented on #9995
@thockin some people do have an external load balancer to terminate ssl and load balance to pods, which operates with access to the overlay network. Those people have better scalability for sure. But we provide a simple 'load balancer', running on ${some_node_ips} :80 :443 (nodePort would mean $all_node_ips).

We have no controller for nodePort yet, but yes, the plan is to outright reject a servic

[2015-06-19 00:14] satnam6502 commented on #9518
No, the label typo was just in the issue I think. Things work fine now.
[code]

[2015-06-19 00:14] #9518 closed

[2015-06-19 00:20] thockin opened #10071 "Document and test(?) docker flags we expect"
It turns out not every install runs docker with the right flags.  This can potentially mess with networking, restarting, and who knows what else.

[2015-06-19 00:24] satnam6502 commented on #9593
If we are going to get rid of `salve` then do we also need to get rid of `master`?

[2015-06-19 00:27] thockin commented on #10014
Two things:

1) Newer (0.19 I think) kubelets should give you a search more like this:
`search default.svc.cluster.local svc.cluster.local cluster.local`
Note the "svc"

2) Your resolv.conf looks fine.  Sadly, DNS resolution is implemented by
libraries outside of kubernetes' control and some of them are broken.
There's a wonderful tiny-linux container base called 'alpine' that I would
use for EVER

[2015-06-19 00:29] bprashanth commented on #3954
cc @bgrant0607 who was curious about why we needed StartTime to measure watch latency of specific pods when we have /metrics (spinoff from https://github.com/GoogleCloudPlatform/kubernetes/pull/10066).

Pure prometheus metrics aren't as helpful for this benchmark because we need to bucket them, and it's hard to isolate the last 100 pods that we startup after we've setup a 3000 pod cluster

[2015-06-19 00:29] pherl commented on #8132
Proto3 actually supports field presence for primitive fields in a similar manner. i.e. https://github.com/google/protobuf/blob/master/src/google/protobuf/wrappers.proto

During the JSON conversion, unset value will not be serialized (as the proto3 spec), for the wrapper type, if you set the actual value to 0, the JSON serializer will print a '0' in the output.

There is also a Value proto defined

[2015-06-19 00:33] satnam6502 commented on #8528
Note that https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/accessing-the-cluster.md does explain how to use curl with a bearer token to make REST queries against the master. Is this enough or should that section be expanded? [I am happy to add more details.]

[2015-06-19 00:36] bgrant0607 commented on #8132
Thanks, @pherl. So we'd use wrapper messages when we wanted to distinguish unset from type default.

1 issue resolved, ~20 to go.

[2015-06-19 00:41] bgrant0607 commented on #3954
Why won't a sufficiently small percentile work? Do we expect the first 3000 pods to have slower startup time than the last 100?

[2015-06-19 00:42] bprashanth commented on #3954
The first 3000 is known to have slow startup time and put enough duress on the apiserver to also have slow watch time

[2015-06-19 00:49] jeffbean commented on #9903
Permissions are the same on all nodes and master:
[code]

The process is running as root:
[code]

Sorry for the trouble but I can not seem to get into that container based on the `kubectl exec` help.
[code]

[2015-06-19 00:56] bgrant0607 commented on #8087
This was 1.0. Added 1.0 milestone again, but reduced priority. We should allow outstanding PRs related to this to go in, but should look for higher-priority things to spend effort on.

[2015-06-19 00:57] thockin commented on #9903
@ncdc for an assist on exec

On Thu, Jun 18, 2015 at 5:50 PM, Jeffrey Bean <notifications@github.com>
wrote:

[2015-06-19 00:57] rajatchopra commented on #9861
Need to use 'ovs-vsctl show obr0', or 'ovs-ofctl -O OpenFlow13 dump-flows obr0'
Another error with multi-host networking fixed by #10073

[2015-06-19 01:01] thockin commented on #10056
Woops, it came back.

[2015-06-19 01:01] thockin commented on #10056
and eventually resolved itself - about 10 seconds, nothing happened and then it finally quit.

[2015-06-19 01:02] ncdc commented on #9903
With the `nsenter` exec handler, the container must have `env` installed and in the default `PATH`. v0.19 adds support for different exec handlers, and defaults to Docker's native `exec`, which would get rid of this `env` issue, but v0.19 is required.

[2015-06-19 01:04] bgrant0607 commented on #3954
Do we have reason to believe that Kubelet watch behavior is different than that for other watch clients?

[2015-06-19 01:08] thockin commented on #8132
So someone who was writing protobuf directly will have to say
spec.replicas.value = 0 instead of spec.replicas ?  It's a passable
workaround, but it's pretty ugly.

On Thu, Jun 18, 2015 at 5:30 PM, Jisi Liu <notifications@github.com> wrote:

[2015-06-19 01:10] ncdc commented on #10056
@thockin I don't know if there's anything we can do about that. Here's what's going on:

1. You run up against the Kubelet's 5-minute hard-coded Read/WriteTimeout (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/server.go#L68-L69), which terminates the request
1. The Kubelet's handleExec finishes (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/s

[2015-06-19 01:11] bprashanth commented on #3954
That's what we're doing right now (setting up an external watcher to measure latency), but this is to debug after we've observed a slow startup, eg: cpu/memory on the kubelet can certainly lead to the watch goroutine just not running in cases (that's what was happening with https://github.com/GoogleCloudPlatform/kubernetes/issues/9788). It's not like we can't get by without Starttime, just that if

[2015-06-19 01:19] bgrant0607 commented on #8132
There are many other issues that would make proto ugly, anyway. For instance, I'd guess that we'd need a generic object with metadata, which all specific objects would then extend (per api group, per api version). Fields with custom parsing would need to be represented as strings. And so on. With proto, implementation concerns bleed into the API heavily than with json.

I'm skeptical that we could

[2015-06-19 01:26] thockin opened #10075 "GCE VM: killed kubelet and it did not come back for almost 2 minutes"
We should set the check interval to something like 5 seconds

[2015-06-19 01:28] smarterclayton commented on #8132
That's good to know - did not see those while looking.  Is there a cost associated with Any?

[2015-06-19 01:31] thockin commented on #9849
Until we have conformance "supported" really means one of two things:  a)
That people use and develop on it every day b) that some specific
kubernetes binary release works with some specific set of
tools/instructions to reliably bring up a cluster

On Thu, Jun 18, 2015 at 1:57 PM, Dawn Chen <notifications@github.com> wrote:

[2015-06-19 01:34] bgrant0607 commented on #10009
The plugin issues are also somewhat relevant, so I'll ref them here: #991, #3201

[2015-06-19 01:41] bgrant0607 commented on #10009
Pointing out a minor detail: If we add more fields to the API schema, we'll want to populate them automatically so that the user doesn't have to, in the server (#3000) and/or client.

We probably could punt on provider for now, since there would only be different values for systems that didn't use Kubernetes conventions/tooling, such as Docker, cloud providers, etc.

[2015-06-19 01:42] nkwangleiGIT commented on #9673
@mikedanese, thanks, will track the project you recommended below:
https://github.com/mikedanese/k8s-haproxy/
Seems we're also replacing userspace proxy with iptables, I think it'll probably bring much better performance, but not sure if this feature will go to v1, can we confirm this now?

Thanks for all who added comments to this issue, it's helpful for me!

[2015-06-19 01:49] bgrant0607 commented on #10009
Some hypothetical API groups, to test proposals against:
* end-user core objects: pod, pod template, secret, persistent volume claim, service
* higher-level end-user objects: replication controller, daemon (future), deployment (future), job (future)
* app admin objects: namespace, limit range, resource quota, service account
* system objects: event, endpoints, component status, resource stats (fut

[2015-06-19 01:53] thockin commented on #9983
That's sort of funny to define the env var to be the DNS name. :)

I think that keeping the master as a proper IP makes sense, though.  Still
discussing how DNS finds the master and I am liking less and less the need
to salt that into DNS config.

On Thu, Jun 18, 2015 at 10:21 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-19 01:55] huangqg commented on #9947
thanks for your comments.

[2015-06-19 01:55] #9947 closed

[2015-06-19 02:03] thockin commented on #9995
If someone asks for HostPort=22 today it will fail to run on kubelet.  You might pre-filter, but we don't.

As for stomping, it also will not work - we won't be able to claim the port.  It's a bad situation wrt errors, but there's no way we will fix that in the next few weeks - I think the risk is too high for that change.  I'll have a think if there's a less risky way.  We could pre-allocate 22 I

[2015-06-19 02:19] smarterclayton commented on #10009
Might want to split services off - if there are other control objects and policies around them they could potentially be big enough to be distinct (ie Openshift routes, external IPs or load balancers, affinity policies, etc).  That said, they're fairly self contained.

[2015-06-19 02:23] feihujiang opened #10079 "Improve schema validating error message from kubectl create when '--validate' is set"
kubectl create when '--validate' is set, it uses a schema to validate the input  before sending it.
But now in schema validate, if an error occurs, it returns at once, only just show an error message. We should aggregate errors like server validate.
in schema validate, it doesn’t handle required fields now. We should handle them.

[2015-06-19 02:24] bgrant0607 commented on #3954
Another idea: Kill Kubelet after creating the 3000 pods. That would reset any of its monitoring stats.

[2015-06-19 02:27] bprashanth commented on #3954
Haha, yeah, restarting things would reset stats. It's something I'd consider as a last resort (because restarting kubelet will do a lot more).

[2015-06-19 02:30] satnam6502 commented on #10079
Actually assigned to @feihujiang

[2015-06-19 02:32] ddysher commented on #8735
Sounds very interesting, will try to find some time to play around.

Not assigning myself though, got fully occupied recently :(

[2015-06-19 02:33] HaiyangDING commented on #9920
After a rough consideration, I would prefer to go for a single scheduler with multiple policies each specific pods. I am working on the codes and hope to show something sooner:)

[2015-06-19 02:34] bprashanth opened #10080 "Density should cleanup better"
In cases where one wants to run multiple iterations of density back to back, we really need to make sure a pervious iteration's load doesn't leak into this one. 2 main culprits are:

1. Deleting the namespace will return in a moment, when really it takes like ~15m to delete all events (~20,000 events for 3000 pods). These deletes actually have a bad effect on the next run.
2. We should make sure t

[2015-06-19 02:48] satnam6502 commented on #10079
Please can the appropriate TL determine a milestone for this change.

[2015-06-19 03:20] roberthbailey commented on #10068
This could be solved by https://github.com/GoogleCloudPlatform/kubernetes/issues/7648, depending on which implementation path we take.

[2015-06-19 03:25] cclient opened #10082 "irun cluster/kube-up.sh error"
root@debian02:~/kubernetes/cluster# KUBERNETES_PROVIDER=ubuntu ./kube-up.sh

/root/kube/util.sh: line 25: /cluster/common.sh: No such file or directory
Connection to 172.16.231.173 closed.

i echo the  shell common.sh file path
it is "./../cluster/../cluster/common.sh"

[2015-06-19 03:30] roberthbailey commented on #10082
Some of the scripts may assume you are running them from the `kubernetes` directory. Did you try dropping one level and running `KUBERNETES_PROVIDER=ubuntu ./cluster/kube-up.sh`?

[2015-06-19 03:36] thockin commented on #10068
I am not close enough to this logic to say, but the current behavior is
pretty clearly a bug.

On Thu, Jun 18, 2015 at 8:21 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-06-19 04:16] bgrant0607 commented on #10009
Re. services: Good point.

Also sort-of relevant: #1451, #1744, #2306

Worth looking at:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/register.go

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/runtime/scheme.go
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/runtime/scheme_test.go
https://github.com/GoogleCloudPlatform/kubernetes/blob/

[2015-06-19 04:51] davidopp commented on #9673
iptables instead of user-space kube-proxy will not be in the 1.0 release

[2015-06-19 05:04] bgrant0607 commented on #10009
This would benefit from #9971

[2015-06-19 05:05] pmorie commented on #9968
@markturansky @rootfs is there an e2e that easily recreates this?

[2015-06-19 05:09] bgrant0607 commented on #10009
From in-person discussion: All api groups will need to respect namespaces, for objects that should be namespaced.

[2015-06-19 05:12] dchen1107 commented on #10003
We settle down to use 10255 the read-only port, plan to remove 10248 port. I lower down the priority to p2.

[2015-06-19 05:28] mikedanese commented on #10068
Is it correct to use only the inClusterConfig when it's available and ignore all other available configs, maybe even configs passed imperatively from command line args? This seems unintuitive and prone to confusion.

[2015-06-19 06:02] jedsmith commented on #8192
There's also a bug in the migration code -- since the flag for "old" etcd-prefix [defaults to a value](https://github.com/GoogleCloudPlatform/kubernetes/blob/59876df736c41093363f4c198aeec05e29c9c902/cmd/kube-apiserver/app/server.go#L121), [the migration code always runs](https://github.com/GoogleCloudPlatform/kubernetes/blob/59876df736c41093363f4c198aeec05e29c9c902/cmd/kube-apiserver/app/server.go

[2015-06-19 06:43] gmarek commented on #10080
IMO it's not a problem. In Jenkins we do turn down clusters between runs, and when running manually it's all in hands of the person running.

In my case, when running tests I was always waiting for proper namespace deletion. Delete indeed returns straight away, but `get namespace` still returns namespace in question as "terminating". It's slightly faster than turning down the cluster.

In addition

[2015-06-19 06:43] gmarek commented on #10080
I believe we can close this issue.

[2015-06-19 06:49] bprashanth commented on #10080
Deleting additional 100 pods together with associated events is pretty quick.

Sure, there's doing something like that, and theres leaving a clean environment for the next test by default so your tests can run in any order. We have iterations there as a feature, and I think we still run density as part of e2e, so anything that runs after it feels the after effects. It's just too easy to shoot your

[2015-06-19 07:05] erimatnor commented on #10014
@thockin note that I wasn't running my own app. This was the kibana-logging pod on a clean cluster running on AWS immediately after doing a kube-up.sh. I see no reason why this shouldn't be reproducible by anyone bringing up the a similar cluster. Also, I did test 0.19 with the same result.

[2015-06-19 07:07] gmarek commented on #10080
IIUC this (i.e. test isolation) is deeper issue, not only for the Density, but also Load test, and any other e2e that creates non-trivial number of resources.

[2015-06-19 07:16] junjun16818 opened #10084 "api/v1beta3/pods namesacpe error"
http://192.168.22.177:8080/api/v1beta3/pods

[code]

[code]

[2015-06-19 07:24] gmarek commented on #3954
@bgrant0607 FYI we currently have data redundancy in a form of Pod.StartTime and max_containers(Pod."container".Status.Phase.Running.StartedAt), which are equal (up to few milliseconds, truncated to seconds).

[2015-06-19 07:33] wojtek-t commented on #10080
We no longer run those tests as part of regular gce e2e test - see #9858

[2015-06-19 07:48] cclient commented on #10082
while
root@debian02:~/kubernetes# KUBERNETES_PROVIDER=ubuntu cluster/kube-up.sh

Starting cluster using provider: ubuntu
... calling verify-prereqs
Identity added: /root/.ssh/id_rsa (rsa w/o comment)
... calling kube-up
warning: not enough binaries to build k8s, please run build.sh in cluster/ubuntu first

then i edit the
root@debian02:~/kubernetes# vim cluster/ubuntu/util.sh
function kube-up {

[2015-06-19 07:54] nikhiljindal commented on #10084
You should POST it to ```v1beta3/namespaces/default/pods``` instead of POSTing to ```v1beta3/pods```

[2015-06-19 08:10] erimatnor commented on #10014
Ok, I figured it out. Apparently 'dig' does not perform domain search resolution by default. You need to query with "dig +search" for it to append the search domains in `/etc/resolv.conf`. The Kibana errors must be due to the cluster coming up and elasticsearch-logging not yet running. So, conclusion is that this is probably a false alarm.

[2015-06-19 08:20] MarkGavalda commented on #3075
Has there been any progress with this in the last ~6 months? Thanks!

[2015-06-19 08:56] maulik887 commented on #9945
I was about to say that :) Updated kubernetes cluster version and things started to work fine.
Thanks for the help.

[2015-06-19 08:56] #9945 closed

[2015-06-19 09:38] pires commented on #9075
Due to increased workload, I have to postpone this to next week.

[2015-06-19 09:45] marekbiskup opened #10085 "Split the test "Uncontactable nodes..." into two"
TODO: this test has nothing to do with resizing nodes so it should be moved elsewhere.
TODO: two things are tested here:
1. pods from a uncontactable nodes are rescheduled
2. when a node joins the cluster, it can host new pods.
   Factor out the cases into two separate tests.

in addition fix this TODO:
TODO: The use of MasterName will cause iptables to do a DNS lookup to
resolve the name to an IP

[2015-06-19 10:08] fgrzadkowski commented on #10013
I agree that implementing a generic framework for running examples as e2e tests is a lot of work and we should probably not focus on this right now. However, I believe that making sure that our examples actually work is really important. We had examples where this was not the case.
Manual testing and then implementing e2e tests that verify this, was something that @brendanburns suggested we should

[2015-06-19 11:03] nlamirault commented on #8424
+1 , using the Hypercube v0.18.2 image from gcr.io.

[2015-06-19 11:10] sroze commented on #8424
The `hyperkube` image from `gcr.io` is broken, it's built without CGO enabled, which means no cAdvisor client built.
Already alerted on that on IRC without answer Kubernetes guys ;-)

[2015-06-19 12:38] sujaymansingh commented on #4567
Hi @erictune
Sorry about the delay and thanks for reaching out!

It will mainly be python (though if it is HTTP anything could access it right?)

I'm mainly interested in a mix of python APIs (probably using flask) and standalone scripts.

[2015-06-19 13:07] piosz commented on #3954
I've made a similar experiment to what @gmarek did but with pod creation limit 5 pods/sec (#10020) and results are much better:

|                                 |3     |10    |20    |30    |
|---------------------------|------|------|-------|------|
|1perc50 to-schedule|0     |0     |0       |0     |
|1perc90 to-schedule|1|0|1|1|
|1perc99 to-schedule|1|1|1|1|
|1perc50 from-schedule|1|1|2|2|
|1pe

[2015-06-19 13:29] rootfs commented on #9968
not to my knowledge. I tested it manually.

[2015-06-19 13:59] piosz commented on #3954
I re-run the test on a fresh cluster and total e2e pod startup time is as follow:
perc50: 2.41s, perc90: 3.10s, perc99: 5.14s

So we actually meet the goal :)
@davidopp @fgrzadkowski  @wojtek-t

In the previous run there were events remaining from previous runs.

[2015-06-19 14:01] timothysc commented on #8132
It seems that @bgrant0607 is pretty set against.  The primary driver of the ticket was performance related issues that we had seen, namely in decoding, parsing, GC, etc.

FWIW when we recently tested load balancing api-servers, and a lot of the risk is mitigated but performance is still sub-optimal, especially as we approach 10^3+ in the future.  I'm ok with that, so long folks agree on the prescr

[2015-06-19 14:10] ghost974 commented on #10017
Yes thanks. Just adding a bit of information for whoever read this later, if you use CoreOS, you will need to add Instance Role permissions for the Kubernetes minions :
"ec2:AttachVolume",
"ec2:DetachVolume",
"ec2:DescribeInstances",
"ec2:DescribeVolumes"

Also the script "safe_format_and_mount.sh" will be missing from coreOS, still working on that.

[2015-06-19 14:15] bgrant0607 commented on #8132
@timothysc Switching to proto and/or grpc would be a pretty drastic change, likely requiring a rewrite of all our API infrastructure, as well as breaking API compatibility. We should continue to pursue lower-hanging fruit in the short term, and consider proto more seriously when we're planning to overhaul the API infrastructure for other reasons.

[2015-06-19 14:16] markturansky commented on #10017
thanks @ghost974.  would you mind updating the EBS example created in #9665 to include the CoreOS requirements for each node?

[2015-06-19 14:24] bprashanth commented on #10080
See https://github.com/GoogleCloudPlatform/kubernetes/issues/3954#issuecomment-113509698

[2015-06-19 14:28] smarterclayton commented on #8132
At least at the serialization level we should be able to isolate a protobuf to only our external serialization struct and support it as an alternative transport.  It does come down as you noted to being able to, from an existing versioned struct, being able to generate a 100% accurate protobuf representation of the versioned struct and recover it.  That's something that is a good candidate for exp

[2015-06-19 14:35] satnam6502 commented on #10013
Being able to run `--validate` in some kind of dry-run mode could be low overhead and useful?

[2015-06-19 14:36] swagiaal commented on #10017
@ghost974 Yeah if you can update the example that would be great!

Yeah #8530 should fix that but it is scheduled for post 1.0. On CoreOS is think safe_format_and_mount is in a different path according to #7042. So you might have to create a symlink to get it working for the time being

[2015-06-19 14:39] gmarek commented on #3954
I wouldn't trust a single run - watch time variance is really high, and we still have two watches along the way.

[2015-06-19 14:43] swagiaal commented on #10017
@satnam6502 Yes, I think this can be closed.

[2015-06-19 14:44] smarterclayton commented on #10009
Another desired feature: in the future, we should be able to easily run subsets of the apiserver independently.  That might cut across api groups, or only expose specific APIs (like the proxy and passthrough logging systems).

[2015-06-19 14:49] #10017 closed

[2015-06-19 14:51] thockin opened #10091 "kubelet should look for files in /etc/kuberenetes/pods"
rather than (or in addition to) /etc/kubernetes/manifests

[2015-06-19 14:57] swagiaal commented on #9994
@saad-ali okay cool. If you get a repro check to see if the disk is still mounted. If so then the cleanup code is not being called. If not then the clean up started, detach was called but failed for some reason; look in the logs for something like "googleapi: some error about detaching". It can also just be a race condition. That is, detach was called but is taking too long; if the disk does not d

[2015-06-19 15:05] #9792 closed

[2015-06-19 15:16] #10022 closed

[2015-06-19 15:45] bprashanth commented on #3954
I don't think we need to take the last watch into account to measure 'time to running'.  The watch lag is useful to have as a metric, but the createRunningPod routine itself (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/density.go#L295) knowns when the pod is running via Get. I feel like this simulates a user waiting for a Running pod better than a watch. @davidopp do we

[2015-06-19 15:58] thockin commented on #10014
doh, of course.  I knew that.  I apologize for not seeing it.  We all need
a good red herring every now and then.  Can we close this issue out, then?

On Fri, Jun 19, 2015 at 1:10 AM, Erik Nordström <notifications@github.com>
wrote:

[2015-06-19 16:43] RichieEscarez opened #10097 "Clarify the "who", "when", "why", and "how" for the Kubernetes UI"
Kubernetes UI (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/ui.md):
 - Need to make this content clearer
 - Clarify the ""who"", ""when"", ""why"", and ""how"" to use it. For example, define the expected workflow for how to setup, configure (to show what?), and use(ie. good for monitoring?). Plus clarify who this benefits. Is the intended user an admin?

[2015-06-19 16:44] erimatnor commented on #10014
Yes, should be able to close this one.

[2015-06-19 16:55] RichieEscarez opened #10098 "Provide a "roadmap" for what users can do post install (+ example)."
"Next Steps" Roadmap (post-installation-&-examples info):
Need to provide a high-level, general path that applies to all users for moving forward with k8s (ie. install and example done, Now what?).

Examples:
- You created a cluster on a single node, see how to scale to meet your production needs:
  - point to creating more nodes, clusters
  - sharing cluster access
  - security, etc.
- Now you ca

[2015-06-19 17:03] #10014 closed

[2015-06-19 17:12] RichieEscarez opened #10100 "Provide planning and designing type information"
In line with the "Next Steps" Roadmap (#10098) we should provide some guidance information that will assist users with determining how to move forward with Kubernetes and eventually use it in their production environment ("Planning and Designing Considerations"):
- This is the help topic that users reference (for guidance) when they know that they want to take the next steps for really switching o

[2015-06-19 17:30] statik commented on #2849
I need this functionality as well. Anything I can do to help fix or enable this?
I'd also be interested in any workaround where I could manually create the GCP network load balancer with UDP enabled and point it at my k8s service.

[2015-06-19 17:46] dchen1107 commented on #10036
This is fixed by #10057. Thanks @yujuhong and @justinsb

[2015-06-19 17:46] #10036 closed

[2015-06-19 17:48] bprashanth commented on #10042
we decided not to do this

[2015-06-19 17:48] #10042 closed

[2015-06-19 17:53] RichieEscarez opened #10103 "Validate and revise the "resources" help topic"
Today, the help topic says the model has not been implemented. We should revise or create a V1 specific topic to clarify what exactly is in for v1.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/resources.md

[2015-06-19 18:23] lavalamp commented on #10003
We should use the same healthz handler for ALL the ports that we serve healthz on.

[2015-06-19 18:27] dchen1107 commented on #10075
Yes, current configured interval is 2 minutes. :-)

[2015-06-19 18:28] RichieEscarez opened #10108 "Document the workflow and considerations around "Sharing Clusters""
Today we have "[sharing cluster access](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/sharing-clusters.md)" but need to build this concept and the related concepts better and in a single location. For example, if there are multiple clusters that multiple admins manage (for multiple teams), how do we help them set up and configure for this? [Is this even a valid scenario that w

[2015-06-19 18:33] akamalov commented on #9857
Removed liveness probe to see if it is causing a problem:

[code]

And it looks like ```skydns``` is staying up. However looking further into ```kube-dns```, I can see that it is not even listening on port ```:53```:

[code]
Need to understand better, why would ```sky-dns``` wouldn't listen on port...

[2015-06-19 18:41] piosz commented on #3954
I definitely agree with you @gmarek that we need more runs. I can do it on Monday. However the trend seems to be right.

[2015-06-19 18:41] bgrant0607 commented on #10079
I'd like this for 1.0. We need to give clear, actionable feedback to users when their configs are incorrect.

[2015-06-19 18:43] RichieEscarez opened #10109 "Validate and revise the "namespaces" help topic"
Today, the namespaces content exists in a 'design' doc (not a stand alone help topic). We should create a V1 specific topic to clarify and define namespaces for v1.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/namespaces.md

[2015-06-19 18:43] bgrant0607 commented on #10009
I agree, but don't know that we need to tackle subsets as part of this effort.

Another consideration: We need to continue to expose v1 as a single API group. We might need to decouple the effort to add new API groups from splitting the existing monolithic group. Or, maybe everything should go into the same Scheme, which would then have a sparse conversion matrix, so that the same entity could be

[2015-06-19 19:16] derekwaynecarr opened #10112 "Admission control should have a match function on resource/subresource/kind"
There is a lot of code in each admission control plugin `Admit` method that is determining if the incoming resource is something they care about. I think many admission control plug-in code modules would look cleaner if we could introduce a `Match` function that determines if `Admit` should even be invoked.

/cc @deads2k

[2015-06-19 19:17] lavalamp commented on #10030
The problem is that RC manager holds state that prevents the overshoot. That state isn't shared, so the standby doesn't know how many creations/deletions are queued and is likely to double-create/delete.

[2015-06-19 19:19] lavalamp commented on #10030
It should only be a problem if a fail-over is triggered while a large operation is in progress.

Hm, but if as @bprashanth says, it doesn't gate actions on the store being filled, that's a different and more serious problem.

[2015-06-19 19:20] bprashanth commented on #10030
yeah, we should either prepopulate that store or communicate that it has finished a first sync otherwise a restart of the binary could cause weirdness

[2015-06-19 19:21] lavalamp commented on #10030
If @bprashanth is right, then restarting rc manager with big but stable RCs in the system sholud be a big problem.

We've added a method that will tell you if it's had at least one full sync, btw.

[2015-06-19 19:22] lavalamp commented on #10054
@mikedanese Since you're messing around in this code right now, can you add this log message?

[2015-06-19 19:44] bgrant0607 commented on #8190
cc @smarterclayton @timothysc

[2015-06-19 19:50] davidopp commented on #3954
Sometimes. But I guess if they poll the API server they won't hit that final watch latency, and the most common use case right now is likely to be the user sitting at the shell prompt manually running 'get pods' over and over again. So measuring without the final watch seems OK.

[2015-06-19 20:01] perljedi opened #10114 "Add another contributed client library link"
I have been working on a perl client library for interacting with kubernetes.  Would it be possible to include it in the "User Contributed" section of docs/client-libraries.md?

[Net::Kubernetes](https://metacpan.org/pod/Net::Kubernetes)

[2015-06-19 20:04] mbforbes commented on #7914
Now that #9987 is merged, the remaining work for this issue is to
- [ ] support this for GKE (upcoming PR)
- [ ] get all of the Jenkins config sorted out so that we get the [deploy&rarr;upgrade master&rarr;upgrade nodes&rarr;e2e test] workflows green for GCE and GKE.

[2015-06-19 20:07] davidopp commented on #8285
My only nit on the PR is that it would be nice to tell the user about *all* of the leftover artifacts, rather than just the first one that is found in check-resources.

@alex-mohr can you take a quick check of #9859 and see if there's anything else you think we should be doing here? If not, please close the issue.

[2015-06-19 20:17] ddysher opened #10115 "Authentication error running kubectl proxy"
I followed the explorer example but when I did:

`
curl localhost:8001/api/v1/proxy/namespaces/default/pods/explorer:8080/vars/
`

It returns <h3>Unauthorized</h3>

Maybe something changed in auth/z that the example stop working?  @lavalamp

[2015-06-19 20:25] RichieEscarez opened #10116 "Clarify our support/compatibility with other configuration management software"
Today we say [Salt](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/salt.md) can be used but its not clear if only Salt is supported or if Kubernetes can be configured with other software?

Are there any factors to consider (that users should be aware of) when choosing the config. software other than Salt?

[2015-06-19 20:35] alex-mohr commented on #8285
Yeah, nits would be:
(1) could tell the user about all resources
(2) would be nice if kube-down used the same logic.  As is, no guarantee kube-down will actually fix things, or that its code stays in sync with this?

Moving to v1.0-post for now, though.

[2015-06-19 20:36] bkeroackdsc commented on #9675
CoreOS works well on AWS with k8s. Bootstrapping the cluster via cloud-config is quite simple and eliminates the need for salt and opaque automation scrips.

[2015-06-19 20:43] bgrant0607 commented on #10009
Candidates for experimental API prefix:
* Daemon #1518
* Deployment #1743
* RuntimeConfig #6477

[2015-06-19 20:44] RichieEscarez opened #10119 "Provide task oriented documentation around Pods"
We have disconnected documentation around these tasks (and their workflows) but need to explicitly define them in a single location.

We should have a document that addresses our Pod related tasks:

Managing Pods:
 - Overview *(simple intro about how to manage a Pod and mention if there are any routine tasks that should be regularly performed)*
 - Prerequisites
 - Creating
 - Configuring
 - Viewin

[2015-06-19 20:44] bgrant0607 commented on #10009
Those could also be plugins, I suppose.

[2015-06-19 20:45] akamalov opened #10120 "Kube-Proxy Nodes Still Referencing Old Portal Net"
<b> Environment </b>
```OS: CoreOS 695```
```Kubernetes Release: 0.19.0```

<b> Problem </b>

I had to change my portal net from <b>10.100.0.x</b> to <b>11.0.0.0/8</b>. Updated kube-apiserver & restarted it and restarted worker nodes. However, I've noticed that worker node kube-proxies were still referencing old value:

[code]

As you can see, instead of referencing ```11.0.0.x```, it is still ref

[2015-06-19 20:47] akamalov commented on #9857
I think I am onto something. I am using CoreOS + Flannel environment. Flannel is on ```11.0.0.0/8``` network, while Kubernetes cluster range is pointing to ```10.100.0.0/16```. I need to change my portal to match my flannel network segment. I will keep you posted.

[2015-06-19 20:51] satnam6502 commented on #10114
Sure. Why not submit a PR?

[2015-06-19 20:58] thockin commented on #10120
On Fri, Jun 19, 2015 at 1:46 PM, akamalov <notifications@github.com> wrote:

First thought: you can't just use 11.* IPs - those actually belong to someone.

Second thought: you can't really change the portal net like that.  All
the Services that already exist already have IP addresses assigned.
We do not go through and re-assign them.  You have to delete all the
services and then re-create them, a

[2015-06-19 21:02] lavalamp commented on #10115
@mikedanese hm--maybe something broke at head recently?

[2015-06-19 21:06] bgrant0607 commented on #10097
cc @jackgr @bcbroussard @preillyme

[2015-06-19 21:10] bgrant0607 commented on #10056
See also #9180, #9013

[2015-06-19 21:11] RichieEscarez opened #10121 "Provide task oriented documentation around Replication Controllers"
We have disconnected documentation around these tasks (and their workflows) but need to explicitly define them in a single location.

We should have a document that addresses our Replication Controller related tasks:

Managing Replication Controllers:
 - Overview *(simple intro about how to manage a Replication Controller and mention if there are any routine tasks that should be regularly performe

[2015-06-19 21:13] bgrant0607 commented on #9942
I prefer order of importance / frequency of use.

[2015-06-19 21:14] #9942 closed

[2015-06-19 21:20] cjcullen opened #10122 "kube-apiserver unable to write to etcd"
In about 100 test runs overnight, 5 clusters failed with the same problem:
Nodes try to register with the apiserver, apiserver sends back a 500.
Looking at the kube-apiserver logs, I see:
[code]

To me, that looks like writes to etcd are failing. Looking into the etcd container logs, I see a lot of:

[code]

Trying to hit etcd directly:
[code]
Etcd's data directory is pretty empty, other than one

[2015-06-19 21:20] RichieEscarez opened #10123 "Provide task oriented documentation around Services"
We have disconnected documentation around these tasks (and their workflows) but need to explicitly define them in a single location.

We should have a document that addresses our Services related tasks:

Managing Services:

 - Overview *(simple intro about how to manage a Service and mention if there are any routine tasks that should be regularly performed)*
 - Prerequisites
 - Creating
 - Configu

[2015-06-19 21:20] cjcullen commented on #10122
@davidopp @lavalamp @alex-mohr

[2015-06-19 21:20] bgrant0607 commented on #9546
Missed from #7018 and #8087

[2015-06-19 21:20] mikedanese commented on #10115
Tested out #10105 and it seems to fix it. @brendanburns @caesarxuchao

[2015-06-19 21:21] bgrant0607 commented on #9546
@marekbiskup Please file another issue for the describe node problem.

[2015-06-19 21:23] fgrzadkowski commented on #9444
Fixed by #9862

[2015-06-19 21:23] #9444 closed

[2015-06-19 21:24] satnam6502 opened #10124 "Linter for keeping configs & code in sync?"
I had a bug in my own Go code where I forgot to update a label selector in response to a YAML config file changing (to rename a label key). I predict that I will not be the last person to make such a mistake and that others too will be driven to madness.

It would be wonderful to have some kind of system / framework where things like labels in configs are somehow kept in sync with their use in cod

[2015-06-19 21:28] cjcullen commented on #10122
Comparing the startup of a functioning etcd container to my non-functioning one:

**Functional**
[code]
**Non-functional**
[code]

It looks like the lone etcd server is choosing to become a follower of nothing?

[2015-06-19 21:34] bgrant0607 commented on #9356
More and more people keep complaining about this, and I think it's justified. The default namespace should be reserved for kick-the-tires users.

Openshift uses namespace `openshift-infra` (https://github.com/GoogleCloudPlatform/kubernetes/pull/9975#issuecomment-113191817) for a similar purpose. I think we should use simply `kubernetes` as the namespace for addons, not unlike our label prefix `kub

[2015-06-19 21:39] brendandburns commented on #9611
This was fixed by #9692

[2015-06-19 21:39] #9611 closed

[2015-06-19 21:40] satnam6502 commented on #9356
I assume you mean both the static/mirror pods (e.g. fluentd-cloud-logging) as well as the add-on pods (elasticsearch-logging).

[2015-06-19 21:42] smarterclayton commented on #9356
No objection - this has come up on our end as well.  We have our registry and router in the default namespace but we want to move it out.

[2015-06-19 21:42] quinton-hoole commented on #9312
Updated status:

The following 11 e2e tests are currently flaky (in increasing order of stability):

1. Service endpoints latency should not be very high (Failed 15 times in the last 22 runs. Stability: 31 %)
1. Reboot each node by dropping all outbound packages for a while and ensure they function afterwards (Failed 8 times in the last 30 runs. Stability: 73 %) #9062
1. Reboot each node by droppi

[2015-06-19 21:44] roberthbailey commented on #9356
https://github.com/GoogleCloudPlatform/kubernetes/pull/10107 assumes that the kubernetes service (to reach the master) is in the default namespace.

[2015-06-19 21:45] satnam6502 commented on #9356
I am happy to make and test this change (for GCE) on Monday (swamped with on-call today).

[2015-06-19 21:48] smarterclayton commented on #9356
If we want fix this... I think we should fix it before 1.0.  Because it will be near impossible to fix later.

----- Original Message -----

[2015-06-19 21:49] perljedi commented on #10114
Will do, thanks
On Jun 19, 2015 4:52 PM, "Satnam Singh" <notifications@github.com> wrote:

[2015-06-19 21:49] RichieEscarez opened #10125 "Provide task oriented documentation around Clusters"
We have disconnected documentation around these tasks (and their workflows) but need to explicitly define them in a single location.

We should have a document that addresses our Cluster related tasks:

Managing Clusters:
 - Overview *(simple intro about how to manage a Cluster and mention if there are any routine tasks that should be regularly performed)*
 - Prerequisites
 - Creating
 - Configuri

[2015-06-19 21:51] bgrant0607 commented on #10009
Probably need to fix #1490

[2015-06-19 21:54] RichieEscarez opened #10126 "Provide "Updating Clusters" example"
We have a [Live update example](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/user-guide/update-demo) for updating pods. We should have a corresponding example for updating clusters.

[2015-06-19 22:01] cjcullen commented on #10122
On my non-functional master, it looks like the etcd container came up and was on its way to working when it was torn down:
[code]

[2015-06-19 22:01] bgrant0607 commented on #2742
Previous instance of this issue was #700.

[2015-06-19 22:01] derekwaynecarr commented on #9356
No objection.  Whatever we settle on needs to be identified as immortal in the related PR that blocks deletion of the default namespace.

Sent from my iPhone

[2015-06-19 22:02] quinton-hoole opened #10127 "Flaky e2e: Shell should pass tests for services.sh (Failed 3 times in the last 30 runs. Stability: 90 %)"
Master issue is #9312

Recent failures include:

====

waiting for service3 at 10.0.193.5:80
wget: download timed out
ERROR: (gcloud.compute.ssh) [/usr/bin/ssh] exited with return code [1].
testing service3 VIP from container failed
namespaces/services-test-701

===

waiting for service3 at 10.0.110.153:80
Test 7: Bring up another service, make sure it does not re-use IPs.
Starting service 'servic

[2015-06-19 22:03] RichieEscarez opened #10128 "Define and document the desired path for requesting "support""
We should provide a Support/Troubleshooting document that defines the flow/path for how we want users to request support.

For example, do we want to instruct users to use this support flow?
 1. View our troubleshooting content.
 2. See Stack Overflow?
 3. Try posting issue first?
 4. Review GitHub Issues
 5. Open GitHub Issue last?

[2015-06-19 22:08] quinton-hoole commented on #10127
See also #8849.

[2015-06-19 22:08] cjcullen commented on #10122
Looks like this is a known [etcd bug](https://github.com/coreos/etcd/pull/2878), fixed in 2.0.12.

The workaround is "Do not shutdown the etcd member too fast (wait for at least a second)." Now to figure out why we are killing the etcd container...

[2015-06-19 22:12] quinton-hoole commented on #10127
See also #8953

[2015-06-19 22:18] yifan-gu commented on #9075
cc @yifan-gu

[2015-06-19 22:19] mikedanese commented on #10115
This is fixed on HEAD

[2015-06-19 22:21] RichieEscarez opened #10130 "Add the "when" and "why" to use the Downward API"
We need to add more content around the [Downward API](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/downward_api.md) to better clarify when and why to use it. We should also try to revise the "how" info we provide today to improve/clarify what the specific steps.
(for example: Prerequisites are xyx. To use the downward API: 1. do this. 2....3...etc..).

Some details we should

[2015-06-19 22:31] RichieEscarez opened #10132 "Validate, add missing, or remove invalid help topics from new Cluster Admin site nav tree"
Is the structure and content of the new site navigation tree accurate and complete?
[code]

[2015-06-19 22:39] dchen1107 commented on #10122
I read [etcd bug](https://github.com/coreos/etcd/pull/2878), and this issue. Here is my question:

1) Who kill etcd at the first place? kubelet? because liveness failure?
2) If liveness is the case, we might misconfigure the Probe with not long enough InitialDelaySeconds?

[2015-06-19 22:40] lavalamp commented on #10122
No, it's the old kubelet restarts docker thing. :/

[2015-06-19 22:41] dchen1107 commented on #10122
Ahh, another chicken-egg issue at bootstrap time.

[2015-06-19 22:41] alex-mohr opened #10135 "Improve apiserver's /validatez handling of etcd"
In #10122 we saw an issue where etcd wasn't healthy enough to function, but /validatez was reporting that etcd was 'ok'.  We should consider adding a better health check and/or monitoring signals for etcd?

[2015-06-19 22:44] quinton-hoole opened #10136 "Flaky e2e test: Addon update should propagate add-on file changes (Failed 3 times in the last 30 runs. Stability: 90 %)"
Master tracking issue: #9312

Error message as follows (pretty uninformative - need to fix that):

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/addon_update.go:321
Expected error:
    <*errors.errorString | 0xc208029760>: {
        s: "timed out waiting for the condition",
    }
    timed out waiting for the conditio

[2015-06-19 22:46] alex-mohr opened #10137 "Update etcd to v2.0.12"
We should update etcd to v2.0.12 to pick up its fixes over 2.0.9.  Inspired partially by #10122.

@davidopp @brendandburns I haven't seen instructions for updating our dependency versions -- any pointers, or is it tribal knowledge?

Also, should we start adding a step to our releases to pick up the most-recent version of our dependencies and rebuild those images?

[2015-06-19 22:47] quinton-hoole commented on #9062
Re-opening.  Current status as follows:

1. Reboot each node by dropping all outbound packages for a while and ensure they function afterwards (Failed 8 times in the last 30 runs. Stability: 73 %) #9062
1. Reboot each node by dropping all inbound packages for a while and ensure they function afterwards (Failed 5 times in the last 30 runs. Stability: 83 %) #9062
1. Reboot each node by ordering uncl

[2015-06-19 22:49] thockin commented on #10137
This is a big topic.  We don't currently vendor etcd so we really have no
reproducible build.  I do not think we should blindly pick up new releases

On Fri, Jun 19, 2015 at 3:46 PM, Alex Mohr <notifications@github.com> wrote:

[2015-06-19 22:54] quinton-hoole commented on #10136
New test introduced 3 days ago in #9493.

[2015-06-19 22:55] quinton-hoole commented on #10136
@marekbiskup will you be able to look into this one?

[2015-06-19 22:56] lavalamp commented on #10137
Yes, I agree with Tim. We should *not* grab this for v1.0. etcd releases need to spend a lot of time in our e2e tests, soaking.

#10122 can be fixed by just not restarting etcd.

[2015-06-19 22:56] alex-mohr commented on #10137
@thockin I didn't mean blindly pick them up, but rather include them as part of our versioned kubernetes releases -- only release once they pass our validation steps?

And we apparently build our own etcd image: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/images/etcd

[2015-06-19 22:57] davidopp commented on #9356
I'm fine with it since "describe node" shows all of the pods from all namespaces. My main concern was that too much would be hidden from the user. We should document the add-on pod stuff better, though -- in some sense we are exchanging one problem (too much information) for another problem (too little information). But I do think putting them in a separate namespace is a good idea.

[2015-06-19 22:58] bgrant0607 commented on #8190
I expanded this issue into an umbrella issue for overhauling the apiserver, API machinery, and client libraries. See the updated description on github.

[2015-06-19 23:02] thockin commented on #10137
Yes, we build our own etcd image with no vendored code or deps.  It's
terrifiying.  I spent much of my free time last week reading and playing
with vendoring tools to help us and they are all weak at best.

On Fri, Jun 19, 2015 at 3:57 PM, Alex Mohr <notifications@github.com> wrote:

[2015-06-19 23:04] davidopp commented on #10137
@thockin can you say more about why picking up a particular binary release of etcd, qualifying it, and then using it with our release is terrifying?

/cc @dchen1107 who I was actually discussing this general topic with last night.

[2015-06-19 23:05] thockin commented on #6437
Frankly, I'd be happy to support DNSSD properly.  We now have very basic
SRV support, but not the PTR and TXT support needed by DNSSD, it seems.

On Sun, Jun 14, 2015 at 2:08 AM, Fabian Reinartz <notifications@github.com>
wrote:

[2015-06-19 23:05] thockin commented on #6437
In fact I am going to re-title this issue

On Fri, Jun 19, 2015 at 4:04 PM, Tim Hockin <thockin@google.com> wrote:

[2015-06-19 23:07] davidopp opened #10139 "Show more information in "describe node" and "describe pod""
From @dchen1107 comment here
https://github.com/GoogleCloudPlatform/kubernetes/issues/9356#issuecomment-110155706

kubectl describe node id will include
1) all information from NodeStatus, which includes resource capacity, system info like daemon versions, creation timestamp, NodeCondition, etc.
2) pods and corresponding namespace, and pod-level resource request / limit
3) node level events

kubec

[2015-06-19 23:09] thockin commented on #9107
DNS is effectively required at this point.  We're working to make it so that you don't need a special DNS token (in fact due to a bug right now, you don't :).

If we just assume DNS, who is broken?

[2015-06-19 23:09] dchen1107 commented on #9356
"describe node" just recently add namespaces associated with each pod. But still if you have 100 nodes, you are going to describe them one-by-one to find your addons pods?

[2015-06-19 23:10] derekwaynecarr commented on #10109
Will write this up on Monday

[2015-06-19 23:11] thockin commented on #9633
@jlowdermilk this should work in kubectl, right?  How does it work?

[2015-06-19 23:13] davidopp commented on #9356
Maybe we can add a command-line flag to "get pods" that lets you limit the query to only a particular namespace, and also lets you say "from all namespaces" ? (Default behavior would be to only show from default namespace.)

[2015-06-19 23:15] cjcullen commented on #10122
In this case, I don't think it's kubelet killing the pod. I think it is salt bouncing docker after its initial configuration of cbr0.

[2015-06-19 23:16] satnam6502 commented on #9356
Surely `get pods` already has a `--namespace` flag which selects the namespace?

[2015-06-19 23:20] davidopp commented on #9356
Ah yes, good point. Can you use it to say "all namespaces"

[2015-06-19 23:20] dchen1107 commented on #9356
My above comment https://github.com/GoogleCloudPlatform/kubernetes/issues/9356#issuecomment-113668647 is replying @davidopp's describe node one.

If we decided to put addons pods to a well-known and reserved namespace, I am fine with it.

[2015-06-19 23:21] satnam6502 commented on #9356
No, but that would be good. Perhaps --namespaces should take a regexp

On Fri, Jun 19, 2015 at 4:20 PM, David Oppenheimer <notifications@github.com

[2015-06-19 23:22] akamalov commented on #10120
Thanks Tim! I will rollback and re-configure flannel network to match 10.100.0.0/16

[2015-06-19 23:23] davidopp commented on #9356
Yeah, I think that would address the concern. Then you could continue to get the current "get pods" behavior if you use the flag.

[2015-06-19 23:24] jlowdermilk commented on #9633
As far as I know the raw API doesn't support multi-create. `kubectl` supports creating multiple items via a list, but it does so by parsing the list and issuing create requests against the appropriate endpoint for each resource.

[2015-06-19 23:26] roberthbailey commented on #10116
Kubernetes can be configured with other software (see the matrix [here](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides)). As discussed during the community meeting today, being a supported platform doesn't depend on using salt. It depends on ensuring that you can create a cluster and run the e2e test suite against the cluster (and make sure it keeps worki

[2015-06-19 23:28] jlowdermilk commented on #9633
So to answer your question @parikhyash, if you want to create multiple items from a single yaml/json file, use `kubectl create -f` if you want to use the raw API, you'll have to parse the list and issue multiple creates. Supporting list creating within the API itself is an interesting idea, but not likely to be implemented any time soon. cc @bgrant0607.

[2015-06-19 23:28] a-robinson opened #10142 "Error running crontab -l in master startup script"
When bringing up a master at version 0.19.1, I see some error messages from attempting to run crontab -l, saying that they failed due to user root having no crontab. I doubt that it directly caused an issue with the master, but for what it's worth the apiserver on the same master VM is crash-looping.

[code]

[2015-06-19 23:29] thockin opened #10143 "Use docker's --bip instead of our own bridge"
I think that will work and simplify a few things.

[2015-06-19 23:29] quinton-hoole opened #10144 "Flaky e2e test: Etcd failure should recover from SIGKILL (Failed 2 times in the last 30 runs. Stability: 93 %)"
Master tracking issue: #9312

Etcd failure should recover from SIGKILL
[code]

[2015-06-19 23:30] satnam6502 commented on #9356
@jlowdermilk about a possible change to kubectl

[2015-06-19 23:32] quinton-hoole commented on #10144
See also: #9484

[2015-06-19 23:33] zmerlynn commented on #9822
We've seen this a number of times today, and it's effecting cluster creation at a somewhat noticeable rate. The errors are basically identical to the above.

[2015-06-19 23:34] quinton-hoole commented on #10144
@mikedanese Can you take a look into this?  Not super-duper urgent.

[2015-06-19 23:37] #10120 closed

[2015-06-19 23:37] thockin commented on #10137
We have no way to rebuild it or debug it, should something go wrong.  It's
not that I don't trust the CoreOS folks in specific, it's that sometimes
people screw up.  We've already had it happen a few times, where the git
SHA we vendored in got obliterated upstream and we could no longer recreate
a build, except that we had vendored the code.

Consider that every 3rd-party thing we deploy is one of

[2015-06-19 23:37] bgrant0607 commented on #9380
@brendandburns are you working on this? If not, please unassign.

[2015-06-19 23:38] bgrant0607 commented on #9286
Is there anything left to be done on this issue?

[2015-06-19 23:38] thockin commented on #9633
Why do we have type List in the API?

On Fri, Jun 19, 2015 at 4:28 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-06-19 23:39] dchen1107 commented on #9822
@zmerlynn Shouldn't this a dup of #10122?

[2015-06-19 23:39] bgrant0607 commented on #9566
cc @thockin

[2015-06-19 23:40] davidopp commented on #4521
After merging #9862 the latency improved

https://github.com/GoogleCloudPlatform/kubernetes/pull/9862#issuecomment-113504442
says

Results from density test with 30 pods per node in 100 node cluster with n1-standard-4 master:
[code]
This is way better (~25%) than the usual run for density test.

[2015-06-19 23:40] thockin commented on #9566
PR is in flight and LGTM

[2015-06-19 23:45] #10068 closed

[2015-06-19 23:46] eparis commented on #9107
@thockin standard answer 'everyone who doesn't use salt'

[2015-06-19 23:48] dchen1107 commented on #9822
Spoke with @cjcullen offline, and he pointed out it is a different issue. I never see such issue. @zmerlynn could you please point to me the node with such issue?

[2015-06-19 23:53] lavalamp commented on #9822
Well, both this and #10122 are ultimately caused by the docker restart, no? it's just in this case, our own binary breaks and in #10122 etcd breaks.

[2015-06-19 23:53] zmerlynn commented on #9822
Oi. I'm trying to get this project setup with nodes that *aren't* borked, and tore it down.

[2015-06-19 23:54] jlowdermilk commented on #9356
IIRC, having a single kubectl command work across multiple namespaces was considered a security risk. @smarterclayton, is that still the case?

[2015-06-19 23:57] a-robinson commented on #9822
@dchen1107, I have a reproduction for you. I'll get you set up on it offline.

[2015-06-20 00:00] bprashanth commented on #9356
doesn't --all-namespaces already do this?

[2015-06-20 00:00] bgrant0607 commented on #9633
@thockin We have list types for 2 reasons:
1. That's what LIST (GET on a resource collection) returns
2. So kubectl can decode/encode a LIST using the same machinery we use to decode/encode API objects

I could imagine a bulk-creation API in the future. I added this to the "v2" API list (#8190).

[2015-06-20 00:01] dchen1107 commented on #10137
Agreed with @thockin above.

For particular p0 issue #10122, CJ Cullen and I discussed, the current proposed solution is not starting any pods / containers until network configuration is done. In this case, shouldn't no need to rush to upgrade to a new etcd version?

[2015-06-20 00:03] cjcullen commented on #9822
I agree with @lavalamp's assessment: https://github.com/GoogleCloudPlatform/kubernetes/issues/9822#issuecomment-113674675

Both problems appear to stem from docker restarting at inopportune times. This one looks like we end up trying to attach the apiserver container to an invalid infra container.

[2015-06-20 00:05] a-robinson commented on #9822
Similar error in docker.log:
[code]

This is at docker client and server versions 1.6.2.

[2015-06-20 00:08] dchen1107 commented on #9822
Ok, cool. That is pretty much what I suggested above they are the same issue with different symptoms.

But anyway I will double check @a-robinson 's node to confirm that.

[2015-06-20 00:09] alex-mohr commented on #9822
It appears we're seeing this often enough that it's a P0 or at least P1 and not P2?  Maybe not something to work on over the weekend, but worth tracking to resolve since it's a high-severity issue when it does happen?

[2015-06-20 00:10] bgrant0607 commented on #3055
I think this is infeasible now that we include the namespace in the DNS hierarchy.

[2015-06-20 00:10] #3055 closed

[2015-06-20 00:11] #10114 closed

[2015-06-20 00:12] davidopp commented on #9849
Do we consider this a 1.0 blocker? By "this" I mean
https://github.com/GoogleCloudPlatform/kubernetes/issues/9849#issuecomment-113161032
("We (CoreOS) are working on "official" Kubernetes on CoreOS documentation, scripts, configs, and recommendations. This will cover initial install, upgrades, etc. The current scripts in ./cluster were the fast path to get the e2e tests running on CoreOS. The add-

[2015-06-20 00:12] bgrant0607 commented on #2965
Maybe we could do this in the swagger validation pass?

[2015-06-20 00:14] parikhyash commented on #9633
Thanks for the update @jlowdermilk . I'll continue using the multiple create approach for now.

The bulk-creation feature is particularly useful for bringing up all components of a Storm cluster or even a Redis cluster at once.
Also, will there be any field similar to dependencies in the future? For example, Nimbus would first wait for the Zookeeper replication controller to come up while supervis

[2015-06-20 00:17] davidopp commented on #9356
I don't think that flag exists. I tried it and got
[code]

BTW what is the current state of our IAM? If we don't currently restrict the namespaces in which a user can mutate objects, then I don't see the harm in letting them see the objects in all namespaces. I can see that down the road we would want something more secure, but for now it seems overly restrictive.

[2015-06-20 00:19] bprashanth commented on #9356
it's hidden away, I use it fairly regularly because our e2es setup a custom ns
[code]

[2015-06-20 00:24] dchen1107 commented on #9822
Shouldn't the both problem caused by the same issue (#10122), why we are talking about two solutions here: one for #9822, another one upgrades etcd for #10122. Why not check cbr0 configured ready or not. If not, don't start any work?

[2015-06-20 00:25] cjcullen commented on #10137
I think the "not starting containers until network configured" would have to be handled in salt, by not copying manifest files until we've configured cbr0. Kubelet and docker run on startup with default args because of container-vm. So if we copy etcd.manifest to /etc/kubernetes/manifests before we get around to flipping docker, bad things can happen.

The right answer is probably to skip configur

[2015-06-20 00:30] davidopp commented on #9356
Is that new? I ran your comment and didn't see it.

[code]

[2015-06-20 00:31] davidopp commented on #9356
I see it was added here
https://github.com/GoogleCloudPlatform/kubernetes/commit/8ce64ec69e560379d888f7b58483e4b22bb7e462

so never mind.

[2015-06-20 00:33] bgrant0607 commented on #9633
Re. dependencies: Some previous discussion on #1768 and #4245

[2015-06-20 00:37] davidopp commented on #10031
@bgrant0607 should we close this as a dupe of #10064 which you referenced above and is already marked as 1.0?

[2015-06-20 00:43] quinton-hoole opened #10146 "Etcd sometimes doesn't come back after SIGKILL, causing cluster to be broken"
Before these PR's merged, all tests were passing.  Afterwards 19 e2e tests fail consistently, with networking errors:

(Jun 19, 2015 3:31:07 PM)
https://github.com/GoogleCloudPlatform/kubernetes/commit/9ed9bd1c4ffe766acb6720326671feb33af4ef3b Add a generation number to the object meta of all objects, and status of rcs — beeps /

(Jun 19, 2015 3:25:08 PM)
https://github.com/GoogleCloudPlatform/kube

[2015-06-20 00:45] mikedanese commented on #10054
Can I have an explanation or link of " what everyone else is experiencing" to make sure I understand this correctly? pkg/client doesn't seem to do any fancy token negotiation and only looks in the secrets dir.

[2015-06-20 00:49] quinton-hoole commented on #10146
cc @satnam6502

[2015-06-20 00:59] bgrant0607 commented on #10064
Also the case from #10031 reported by @smarterclayton :
The events REST storage object is not using generic.Etcd, and it's not wrapping the returned errors from etcd with the appropriate `pkg/api/errors/etcd` handles.  As a result, we return raw etcd errors to clients which leaks server information (security) and is also ugly.

Spawned from https://github.com/openshift/origin/issues/3196

[2015-06-20 00:59] bgrant0607 commented on #10064
The general issue is #1990

[2015-06-20 01:00] bgrant0607 commented on #10064
The etcd errors were previously noted there: https://github.com/GoogleCloudPlatform/kubernetes/issues/1990#issuecomment-93606822

[2015-06-20 01:00] bgrant0607 commented on #10031
Sure. I copied the info over to the other issue, which itself is a dupe of #1990

[2015-06-20 01:00] #10031 closed

[2015-06-20 01:06] bprashanth commented on #10030
Didn't see that method go in, but now that we have it  https://github.com/GoogleCloudPlatform/kubernetes/pull/10147 fixes the issue i mentioned

[2015-06-20 01:09] bgrant0607 commented on #9356
All these cross-namespaces issues exist when the addons are in default, also, so that shouldn't block moving the addons.

@satnam6502 Yes, mirror pods shouldn't be in the default namespace, either.

[2015-06-20 01:13] lavalamp commented on #10115
Is it? I just sync'd to head and I still have this problem?

[2015-06-20 01:16] lavalamp commented on #10115
OK, I see-- paths that start with /api/ work now, but paths that don't (e.g. /ui/) are still broken. You have to pass --api-prefix=/ to access these paths.

[2015-06-20 01:18] smarterclayton commented on #9356
Mirror pods in an infra namespace helps control admission decisions as well.

[2015-06-20 01:20] quinton-hoole commented on #10146
All tests that ran before the Etcd SIGKILL test succeeded, and everything after that failed.  So apparently Etcd never came back after the SIGKILL. I'm going to turn off that test for now.  It's not clear why it suddenly started failing so dramatically and consistently, after having passed fairly well up to now.

Perhaps?
Jun 19, 2015 2:23:08 PM)
7940c96 Revert "Merge pull request #9447 from Googl

[2015-06-20 01:27] lavalamp commented on #10115
I see. The issue is that the default accepted/rejected things don't allow anything but /api. @brendandburns did you exclude the UI on purpose?

[2015-06-20 01:29] quinton-hoole commented on #10146
Remarkably, after 3 catastrophic failure runs, the tests are all passing again.
So rather than disable the Etcd SIGKILL test, I'm going to leave it enabled and watch for a while..

[2015-06-20 01:42] quinton-hoole commented on #10146
https://github.com/GoogleCloudPlatform/kubernetes/commit/4c0c7dd8793aa5b0fde172f5e441f26e26a40442 merged at precisely the time that the errors started to occur, and contains new code to handle etcd failures, but it all looks correct to me.

[2015-06-20 02:25] smarterclayton commented on #9356
It's more that it needs to be explicit - you have to tell us when you want to operate in a different context.  We finally have a concrete need for identifying a source and destination namespace in Openshift - we store templates in shared public namespaces, and apply them to private personal namespaces.

The destination should probably always default to your configured namespace so as not to potent

[2015-06-20 03:14] justinsb opened #10149 "Unit tests timing out"
When I run `hack/test-go.sh`, it is failing with a timeout in  `github.com/GoogleCloudPlatform/kubernetes/pkg/controller`; I believe in TestSyncReplicationControllerDoesNothing.

Has anyone seen this?

[code]

[2015-06-20 03:29] dchen1107 commented on #10137
When I suggesting not starting containers until network configured, I were thinking kubelet check if network is configured properly. I remembered when cbr0 first introduced, one of my review comments is set NodeNotReady until cbr0 is configured, but I forget at the end if we did it or not. I will take a look on it.

Also @brendandburns's suggest could work around the issue too. The simplest way to

[2015-06-20 03:55] bgrant0607 commented on #367
I agree that flavors of affinity and anti-affinity are the basic 2 features that would satisfy most use cases.

With respect to As Simple As Possible, specifying just whether to group or spread seams like the simplest possible API. That needs to be associated with some set of pods, via label selector (in which object TBD). Node groups to concentrate in or spread across could be configured in the s

[2015-06-20 04:00] bgrant0607 commented on #127
If initializing a specific volume, then #831 is the way to go.

Otherwise, a pod-level pre-start hook.

This doesn't need to be reopened -- see also #9836 and #4282.