[2020-04-06 01:50] hien commented on #88986
Yes, I'm on kvm with virtio NIC.

[2020-04-06 02:07] BobyMCbobs commented on #89740
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89753/pull-kubernetes-e2e-gce/1246969347528724484/

[2020-04-06 02:39] tedyu opened #89873 "EphemeralContainerStatuses should be given reason for waiting"
**What you expected to happen**:
In Kubelet#syncPod(), when the pod is not runnable, we should mark reason for waiting in all container statuses, including ephemeral container status.

/sig node

[2020-04-06 02:45] #82723 closed

[2020-04-06 02:47] tedyu commented on #89873
handled via #89614

[2020-04-06 02:47] #89873 closed

[2020-04-06 02:50] tedyu commented on #89614
[api-pod-status.txt](https://github.com/kubernetes/kubernetes/files/4435646/api-pod-status.txt)

[2020-04-06 02:58] AndrewSav commented on #47202
@benlangfeld

It's not as much about me, it's about it being sustainable for general use. It's hardly reasonable to request every potential user to do a diff. Even if it's a fact that there were no chages, which I'd like to examine further below.

This is not a fair interpretation of what I said.

On the subject of diffs: what are you diffing with what? There are over 50 files in that repo, and no

[2020-04-06 03:46] #84839 closed

[2020-04-06 03:59] bronger commented on #47202
Given the intensive participation in this issue, I think it is fair to request for a re-consideration for a Kubernetes core feature.

I find the following statement above important: “If the solution is widely adopted and can be used by everyone (including small scale, multi-cluster, etc) then it could be considered for core Kubernetes”. There seem to be solutions, maybe not yet fully ready. So, a

[2020-04-06 04:16] TBBle commented on #67761
@aandryashin To be clear, doe the failures cause the delete to fail? The error messages are cosmetic, it's only a problem if they leak back through into the API operation.

[2020-04-06 04:28] johngmyers commented on #72320
/remove-lifecycle stale

[2020-04-06 04:41] shashank-k commented on #89868
I will check this and revert.

[2020-04-06 04:47] #84876 closed

[2020-04-06 04:47] #84949 closed

[2020-04-06 04:57] MikeSpreitzer opened #89874 "Need better debug logging for patch operations"
**What would you like to be added**:
I would like debug logging to show the heart of the processing of a patch request.  For example, showing the inputs and outputs of https://github.com/kubernetes/apiserver/blob/fa3c8ad6d7aff4ba13bf7296583ed2815db1be44/pkg/endpoints/handlers/patch.go#L620 .

**Why is this needed**:
It is way too easy to botch a PATCH request.  Due to the way JSON decoding happily

[2020-04-06 04:57] MikeSpreitzer commented on #89874
@kubernetes/sig-api-machinery-feature-requests

[2020-04-06 05:20] MikeSpreitzer opened #89875 "sample-apiserver, or something, should explain how to implement subresources"
**What would you like to be added**:
I would like documentation and/or examples on how to implement a subresource.  The key is exemplified at https://github.com/kubernetes/kubernetes/blob/c1f1b1bceb8e6dfbc0083617a25f17dd8d57340b/pkg/registry/apps/rest/storage_apps.go#L61 .  This shows the top of what needs to be done.

**Why is this needed**:
The sample-apiserver does not show how to implement a s

[2020-04-06 05:46] dejan9393 commented on #61226
Did you ever get an answer for your question? I'm running into the same issue

[2020-04-06 05:48] #84943 closed

[2020-04-06 05:58] holizon9 commented on #85776
custom scheduler
spec.containers.command[]
--scheduler-name=my-custom-scheduler を追加
--leader-elect=false に変更

[2020-04-06 06:45] adigunhammedolalekan commented on #79224
+1 for a reopen

[2020-04-06 07:15] Colstuwjx opened #89880 "fifo q would be blocking in Pop() while it acquired the lock"
**What happened**:
I'm going to use [fifo](https://github.com/kubernetes/kubernetes/blob/89c615f9c448503b674a0d61bfa8e413cefa4104/staging/src/k8s.io/client-go/tools/cache/fifo.go#L111) as an util library, and found that it would be blocking by Pop() call, think about the following sample:

[code]

**What you expected to happen**:
fifo queue Pop() method should NOT hold the lock in the whole proces

[2020-04-06 07:37] gondaz commented on #79224
+1000 for reopen

[2020-04-06 07:52] zanetworker commented on #83723
mmm do we already have an issue that you can point me too for how that overhaul would look like? To me this annotation is tied to the dockershim, so other CRIs would not have that by default, maybe that should be moved out to be more generic, and also have its own lifecycle?

[2020-04-06 08:10] aojea commented on #71565
/reopen

it seems it failed yesterday :roll_eyes:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=%5C%5Bsig-network%5C%5D%20Network%20should%20set%20TCP%20CLOSE_WAIT%20timeout%20%5C%5BPrivileged%5C%5D

[2020-04-06 08:27] kifeo opened #89882 "User cannot get resouce "nodes" in API group """
**What happened**:
I wanted to make a new node join the cluster.
I created a token on the master with :
`debian@K8M:~$ sudo kubeadm token create --print-join-command`

Then I took the output and put it in the node to join :
`kubeadm join 10.0.14.10:6443 --token 6lt0vk.vh5elkpjczpawuav     --discovery-token-ca-cert-hash sha256:7157a311b8697baafa3e23323552cc283066a20c18ed529c156cc69503377c2a --ignor

[2020-04-06 08:38] munnerz commented on #82905
I just started to take a look into how easy this is (as we're about to begin depending on `k8s.io/kubectl` in our own project which will then pull this in too..)

First blocker I ran into is https://github.com/kubernetes-sigs/kustomize/blob/v3.3.1/kustomize/internal/commands/build/build.go now being part of an `internal` package, whereas previously `sigs.k8s.io/kustomize/pkg/commands/build` could

[2020-04-06 08:53] berthoug commented on #89824
Hi,

Thanks for you quick answer.
I think it is mostly a documentation problem. Looking more into the kubernetes code I figured out that the  `<credential-name>` point 2 of the [documentation](https://kubernetes.io/docs/setup/best-practices/certificates/#configure-certificates-for-user-accounts) should be set to `system:node:ip-172-31-20-205` which is indicated as the `default CN` in the table abo

[2020-04-06 09:06] kifeo commented on #89882
/sig cluster-lifecycle

[2020-04-06 09:45] jdomag commented on #30518
+1

[2020-04-06 10:22] vikas4cloud opened #89884 "Getting error failed to write data into buffer by buffer overflow action=:block"
**What happened**:

getting below errors in fluentd logs pods ..

2020-03-26 07:28:52 +0000 [warn]: [elasticsearch] failed to write data into buffer by buffer overflow action=:block
2020-03-26 07:30:30 +0000 [warn]: [elasticsearch] failed to write data into buffer by buffer overflow action=:block
2020-03-26 07:30:31 +0000 [warn]: [elasticsearch] failed to write data into buffer by buffer overflow

[2020-04-06 10:47] ashleshmandke commented on #74071
Hey,

I am getting below error seems to same:-
[warn]: #0 dump an error event: error_class=ArgumentError error="message does not exist"
I also cleared my current index and executed the fluentd script but its still rejecting records and giving out "[warn]: #0 dump an error event: error_class=ArgumentError error="message does not exist"" error.

Seems it is a issue with elasticsearch. Please help ;)

[2020-04-06 11:01] hiddeco commented on #47202
@AndrewSav as the author of the 'fork' I have to respectfully disagree with anything you have stated thus far, and as a maintainer of multiple OSS projects I am surprised with your attitude.

First, cronjobber was simply derived from the Kubernetes CronJob controller because it was the most straight forward fix, requiring the least amount of time for a mature (and proven) solution. Given the reaso

[2020-04-06 11:18] prankkelkar commented on #87197
@BenTheElder  I can help if someone can guide me with further changes required to resolve this issue. As of now i am not aware about any more changes which are needed.

[2020-04-06 11:25] yuripastushenko commented on #75065
/remove-lifecycle stale

[2020-04-06 11:31] yuripastushenko commented on #75065
We encouraged same issue in environment where we create a lot short living pods.
Kubernetes version: 1.12.1
In kubelets we have errors like:
[code]

[2020-04-06 11:44] vikas4cloud opened #89886 "Error :- ECONNREFUSED error="Failed to open TCP connection to 10.132.0.1:443"
**What happened**:

Getting below error logs in GKE - EFK - elastic-gke-logging-1-fluentd pods

Error :- ECONNREFUSED error="Failed to open TCP connection to 10.132.0.1:443

2020-03-28 00:33:48 +0000 [warn]: emit transaction failed: error_class=Errno::ECONNREFUSED error="Failed to open TCP connection to 10.132.0.1:443 (Connection refused - connect(2) for \"10.132.0.1\" port 443)" location="/usr/li

[2020-04-06 12:13] brancz commented on #75779
/remove-lifecycle stale

[2020-04-06 12:27] kerOssinas commented on #89882
I get the same error on my v1.18.0 test cluster that I upgraded today from v1.17.4.

[2020-04-06 12:31] neolit123 commented on #89824
your observation that passing `system:node:ip-172-31-20-205` to `kubectl config set-credentials` is valid. this is not a core kubernetes/kubernetes issue though.

please file this same ticket in the kubernetes/website issue tracker with an explanation. even better, send a PR to fix the issue if you can.

thanks
/kind documentation
/remove-area kubeadm
/sig auth
/remove-sig cluster-lifecycle
/close

[2020-04-06 12:31] #89824 closed

[2020-04-06 12:36] duylong opened #89888 "Pod ip doesn't match endpoint ip"
Hi,

I have a issue with a dualstack cluster for my Kubernetes Dashboard deployment. I opened a ticket here (https://github.com/kubernetes/dashboard/issues/5052), but I am informed that it is not related to Kubernetes Dashboard.

What is the problem?

Errors in kube-api:
[code]

The service is created with the correct ipFamily (=> IPv6). My endpoint is fully in IPv6. Indeed, my pod has one IP in I

[2020-04-06 12:40] duylong commented on #89888
/sig network
/sig api-machinery

[2020-04-06 12:57] enj commented on #88422
If the plugin is automatically impersonating the group (via the script), then why not just give the user that group membership directly?  You can remove group membership just as easily as you can remove the impersonation access.

Having the client be responsible for inserting data into the audit stream is not an approach I would encourage.

---

From the details I understand, I would implement thi

[2020-04-06 13:00] neolit123 commented on #89824
please, ping me on the new issue / PR.

[2020-04-06 13:04] yuripastushenko commented on #88555
This issue need to be reopened.
We encountered the same error.
We run self hosted kubernetes 1.12.1.
We have few clusters with different workloads.
Only in cluster with big number of short living pods we have same errors.
But not on all nodes.
We can't reproduce this error on other our clusters (that have same configuration but different workload).
How i found the issue?
I deployed a daemonset:
[c

[2020-04-06 13:06] rikatz commented on #88986
OK folks, so the first thing I want to test here is that you all disable all the offloads in the cluster (sudo ethtool --offload interface rx off tx off) so we can remove or confirm this is caused by the offload. Flannel, the e1000e, all of them :)

@hien in your case I need a pretty more descriptive problem, like which tests you've done before hitting the same problem.

Tks

[2020-04-06 13:13] MikeSpreitzer commented on #89874
/good-first-issue

[2020-04-06 13:15] MikeSpreitzer commented on #89874
This mah be particularly helpful to someone struggling with #89875

[2020-04-06 13:16] MikeSpreitzer commented on #89875
@kubernetes/sig-api-machinery-feature-requests

[2020-04-06 13:31] Erokos commented on #17088
@spenceclark
Did you name the ingress in your other namespace the same as the main one or different? Are you maybe on AWS?

[2020-04-06 13:38] kifeo commented on #89882
OK, I used the latest https://cdimage.debian.org/cdimage/openstack/current-10/debian-10-openstack-amd64.qcow2 and it worked right away, but not with the clone of a previous debian 10 VM.
@kerOssinas I leave this issue open as your are affected

[2020-04-06 13:42] 372046933 commented on #88986
@rikatz Since `host-gw` does not have an interface like `flannel0`. Which interface should I disable offload? Is that `docker0`?

[2020-04-06 14:02] alculquicondor commented on #89701
I would say having the versioned args is a good sign of maturity of the API. We are also in good track with it, so I wouldn't be worried.

[2020-04-06 14:41] rikatz commented on #88986
no, the physical network interfaces

[2020-04-06 14:48] liggitt commented on #89802
cc @wojtek-t

[2020-04-06 14:54] iwankgb commented on #89859
Fix is being worked on: https://github.com/google/cadvisor/pull/2471

[2020-04-06 14:54] hasheddan opened #89892 "[Failing Test] node-kubelet-master (ci-kubernetes-node-kubelet)"
**Which jobs are failing**:

`node-kubelet-master (ci-kubernetes-node-kubelet)`

**Which test(s) are failing**:

`Node Tests`

**Since when has it been failing**:

`04-06-20 3:44 PDT`

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-release-master-blocking#node-kubelet-master

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/priority critical

[2020-04-06 14:56] hasheddan opened #89893 "[Failing Test] node-kubelet-features (ci-kubernetes-node-kubelet-features)"
**Which jobs are failing**:

`node-kubelet-features (ci-kubernetes-node-kubelet-features)`

**Which test(s) are failing**:

`Node Tests`

**Since when has it been failing**:

`04-06-20 3:44 PDT`

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-release-master-informing#node-kubelet-features

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/pri

[2020-04-06 15:03] wojtek-t commented on #89802
Copying from the above:

[code]

Reflector is watching starting with RV of the LIST request from before it:
https://github.com/kubernetes/kubernetes/blob/release-1.11/staging/src/k8s.io/client-go/tools/cache/reflector.go#L307

Based on that, we know that the LIST operation itself returned `RV=3597647`.

So there are two options:
(a) the LIST didn't contain the date
(b) Informer framework handled t

[2020-04-06 15:26] andy-wolf168 commented on #89802
Thanks for taking the time to respond,@wojtek-t,@liggitt
Yes, watch-cache is enable.
--default-watch-cache-size="100"
--watch-cache="true"
 --watch-cache-sizes="[]"

[2020-04-06 15:29] yuripastushenko commented on #51096
This issue need to be reopened.
We encountered the same error.
We run self hosted kubernetes 1.12.1.
We have few clusters with different workloads.
Only in cluster with big number of short living pods we have same errors.
But not on all nodes.
We can't reproduce this error on other our clusters (that have same configuration but different workload).
How i found the issue?
I deployed a daemonset:

a

[2020-04-06 15:30] yuripastushenko commented on #51096
/triage unresolved

[2020-04-06 15:38] carlosedp commented on #89597
Sent PR https://github.com/kubernetes/kubernetes/pull/89896
Cc. @rikatz @duboc

[2020-04-06 15:46] SimonHeimberg commented on #64623
Workaround patterns I found while reading about this feature:
### run once on each node:
 * metacontroller and CRD, like https://github.com/kubernetes/kubernetes/issues/64623#issuecomment-575130863
 * daemonset with pod having wait forever at end (or maybe job as init container and rancher/pause as app container)
    runs 1x at start (node or daemonset) + 1x after each reboot

### periodic job
 *

[2020-04-06 15:49] yuripastushenko opened #89898 "Sometime Liveness/Readiness Probes fail because of net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"
**What happened**:
In my cluster sometimes readiness the probes are failing. But the application works fine.
[code]

**What you expected to happen**:
Successful Readiness Probe.

**How to reproduce it (as minimally and precisely as possible)**:
We have few clusters with different workloads.
Only in cluster with big number of short living pods we have this issue.
But not on all nodes.
We can't repr

[2020-04-06 15:49] yuripastushenko commented on #89898
/sig network

[2020-04-06 16:02] smarterclayton commented on #85643
Agree this is super important - externalTrafficPolicy: local is broken for any reasonable current service that wants to avoid disruption, so I'm supportive of this.

[2020-04-06 16:08] admilazz opened #89899 "exec over web sockets protocol is flawed"
**What happened**:
I tried to use exec over web sockets (as implemented in the C# Kubernetes client), but the protocol does not seem to have a way to communicate when STDIN is closed. This causes commands to run forever if they wait for STDIN to be closed, and is especially bad when the command won't send its output until then.

**What you expected to happen**:
I expect the exec protocol to have a

[2020-04-06 16:13] MicDeDuiwel commented on #89882
I also have the same issue adding additional worker nodes to the cluster after updating from v1.17.4 to v1.18.0. When I run
`sudo kubeadm token create --print-join-command`
on the master node I get the following warning:

`W0406 16:05:06.419344    9580 configset.go:202] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]`

[2020-04-06 16:17] kiddingl opened #89900 "Can't init cluster with containerd"
**What happened**:
kuebadm can't create static pod, apiserver,etcd,schduler can't be created by containerd
**What you expected to happen**:
Succeed to  start cluster
**How to reproduce it (as minimally and precisely as possible)**:
Please see my conf and command
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
kubeadm version: &version.Info{Major:

[2020-04-06 16:17] kiddingl commented on #89900
I am confused this for a lang time

[2020-04-06 16:20] wojtek-t commented on #89802
@andy-wolf168 - I guess you didn't want to close the issue?

[2020-04-06 16:23] avanier commented on #63726
Just putting a ping in here. [We're][adgear] scratching our head on how to go about doing this sanely. We have a few ideas in mind, from doing full path validation to subscribing to different bundles / lists. There's quite a few ways to skin that particular cat and all of them seem like :rabbit: :hole: s.

[adgear]: https://github.com/adgear

[2020-04-06 16:27] wojtek-t commented on #89802
Actually, looking deeper into this log:
[code]

I think that there is something happening here too. The fact that it finished within 1ms suggests that some error might have been sent here (200 from watch doesn't reflect that it really finished successfully). Maybe that's a red-herring, but it would be useful to see what happened later.

Also - if you are able to reproduce it, it would be useful if

[2020-04-06 16:28] thockin commented on #86471
If you read through that doc, either you know at what point it stopped working, or it all works.

So which is it?

[2020-04-06 16:31] hien commented on #88986
@rikatz It's just new k8s cluster that was created by kubeadm. I ran `curl`  test to both Service type NodePort and ClusterIP, 4/5 requests was slow to response when I `curl` from other node in cluster ( not the node that pod scheduled)

[2020-04-06 16:40] jkaniuk commented on #87851
4 out of last 8 runs failed:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

/sig scalability

[2020-04-06 16:43] jkaniuk commented on #89811
Additional fail 4 runs later, scalability correctness tests are mainly red recently due to kubectl flakes.

/priority critical-urgent
/assign @seans3

[2020-04-06 16:49] jkaniuk commented on #87851
Another flaky, related test: https://github.com/kubernetes/kubernetes/issues/89811

[2020-04-06 16:51] liggitt commented on #89899
hmm... I know of a websocket-based terminal that uses exec... it seems to be initializing stdin (see https://github.com/kubernetes-ui/container-terminal/blob/master/container-terminal.js#L172)

cc @smarterclayton @spadgett are you aware of this issue?

[2020-04-06 16:56] admilazz commented on #89899
I think a terminal would work okay because 1) when you type "exit" in a terminal, it closes its own process, and 2) the "disconnect" command in that terminal code simply closes the web socket. It's not like running /bin/cat which won't terminate until STDIN is closed.

[2020-04-06 16:58] rikatz commented on #88986
As this is a new k8s cluster, please repeat the test with an OS with newer Kernel, as Ubuntu 16.04 is four years old (and is reaching its EoL now). Ubuntu 19.10 (or 18.04 LTS) would be better. I think in your case we might also have some variables as some problem with KVM, the virtio NIC from your current kernel not understanding vxlan correctly, etc.

Tks

[2020-04-06 17:04] cynepco3hahue commented on #89893
It looks like GCE problem
[code]

[2020-04-06 17:08] rikatz commented on #89597
/unassign @duboc
/assign @carlosedp

[2020-04-06 17:21] rikatz commented on #89632
I wonder what the implications of disabling TX offload are.

Yes, this is a known issue with RH/CentOS 7 kernel (3.10.0-1062) with vxlan and txoffload, so the only workaround right now is to disable the txoffload, wait for an update into the kernel or use another OS.

If this solves the problem, so this is a known problem. I'll mark this issue as a Duplicate of #88986 and close this, if you want y

[2020-04-06 17:21] #89632 closed

[2020-04-06 17:21] rikatz commented on #89632
Oh and please feel free to reopen if you don't think its the same case :)

[2020-04-06 17:34] jpbochi commented on #30784
bump

[2020-04-06 17:36] rikatz commented on #41881
No, it does not work.

The idea of wildcard is to have a catchall for a specific domain like *.yoursite.com, so I don't think it covers the original case

[2020-04-06 17:37] liggitt commented on #89860
can you provide some additional information to help identify the root cause:
* pod definitions (`kubectl get pod $name -o yaml`)
* events from the pods' namespace (`kubectl get events -n $pod_namespace`)
* logs from the kube-controller-manager and kubelet for a few minutes around when you observe a pod deletion

[2020-04-06 17:45] deitch commented on #41881
Then I think we should leave this open. Here was from the original issue:

[code]

[2020-04-06 17:55] bowei commented on #41881
We've had requests for the suffix wildcard. Unfortunately, this doesn't seem to interact well with CertManager that interprets the Host field as domains to register certificates.

[2020-04-06 17:55] bowei commented on #41881
It would be good to work through how those use case will work with the wildcard suffix. For example, DNS integrations look at the host field to register names. How will it work in that case, etc...

[2020-04-06 17:57] deitch commented on #41881
I am quite aware that `foo.*` is not compliant with the RFC, which is probably the certmanager issue. Lots of code depends on that.

The issue is that what we are trying to do here is very much with the cloud-native philosophy. If I need to maintain different `Ingress` configs for 3 different clusters, solely because they are in different environments (prod, qa, dev1, etc.) but are otherwise ident

[2020-04-06 18:06] bowei commented on #41881
That's a valid use case, but we need to be careful not to break existing integrations when we add functionality. For example, expanding the set of valid host paths requires a new API versions. There is the issue with being able to be supports by all implementations. It requires some thought, that's why it cannot be done unilaterally.

[2020-04-06 18:31] Nittarab commented on #89898
Are you sure the application dont' hit the resources limits?

[2020-04-06 18:55] szimonek opened #89903 "Missing labels in kubelet's cAdvisor metrics"
**What happened**:

I'm using cri-containerd as container runtime for Kubernetes. Due to architecture needs I have containerd socket at custom location of `/u01/data/run/containerd/containerd.sock` instead of standard path `/run/containerd/containerd.sock`
My kubelet is started with parameters `--container-runtime=remote --container-runtime-endpoint=unix:///u01/data/run/containerd/containerd.sock`

[2020-04-06 18:59] dal13002 commented on #70674
This is still an issue today. But as an work around, you can get resource version of the current resource object that is deployed, and edit the new resource to have that value. This worked for me and I can do it programmatically.
Something like this:
[code]

[2020-04-06 19:08] alculquicondor commented on #88028
/reopen

#88027 was finalized, so we can add one test to exercise plugin config

[2020-04-06 19:22] grosser commented on #70674
I'm doing that already, but it's still a race-condition :/

On Mon, Apr 6, 2020 at 11:59 AM dal13002 <notifications@github.com> wrote:

[2020-04-06 19:34] ialidzhikov commented on #88611
/sig node

[2020-04-06 19:35] ialidzhikov commented on #88611
Is there any update on this issue?

[2020-04-06 19:38] ialidzhikov commented on #88613
Is there any update on this issue?

[2020-04-06 19:41] alculquicondor commented on #87784
/assign

[2020-04-06 19:41] tedyu commented on #88611
@ialidzhikov
After #3, did you observe the following log involving the pod where container resided ?
[code]
Thanks

[2020-04-06 19:41] 2rs2ts commented on #85397
@uablrek @thockin No, traffic to the nodeIP:nodePort is load balanced too. We have a repro case in our clusters. Just look at my iptables output, it is quite plain to see if you are familiar with the iptables rules.

[2020-04-06 19:43] amanakshe commented on #51835
same issue :( pods stuck in terminating, since 3 days

[2020-04-06 19:46] neolit123 commented on #89903
/sig node

[2020-04-06 19:49] neolit123 commented on #89900
the used deployer is kubeadm, yet i'm not seeing misconfiguration on that front.

1.14 is no longer supported.
please try with at least 1.16.
make sure you are using a 1.16 kubelet too.

/remove-kind bug
/triage needs information
/sig node

[2020-04-06 19:49] neolit123 commented on #89900
/triage needs-information

[2020-04-06 19:50] tedyu commented on #88611
Ref #89155

[2020-04-06 20:02] #80875 closed

[2020-04-06 20:15] navidsh opened #89906 "Pod fails to start when using envFrom and gets stuck in CrashLoopBackOff"
**What happened**:

I want to inject all key-value pairs in a secret as environment variable into a container but I get the following error from `:
[code]

As a result of the error, pod gets stuck in `CrashLoopBackOff`

[code]

**What you expected to happen**:
I expected key-value pairs from my secret to show up in my container as env vars.

**How to reproduce it (as minimally and precisely as pos

[2020-04-06 20:48] #89812 closed

[2020-04-06 20:57] MikeSpreitzer commented on #81508
Not done here.

[2020-04-06 21:03] #85007 closed

[2020-04-06 21:07] ahg-g commented on #89552
can you show the core dump please of this crash?

[2020-04-06 21:07] ahg-g commented on #89552
/assign @alculquicondor

[2020-04-06 21:13] jianzzha commented on #67577
I agree with @mariusgrigoriu , for pods that runs on exclusive cpuset under static cpu policy, we can simply disable cpu quota limit - it can only run on its exclusive cpu set anyway. The patch above is for this purpose and for this type of pods only.

[2020-04-06 21:15] mdedetrich commented on #47202
Honestly this comes to me as whatabouttism thats resulting in obstructionism. This logic can be used to argue against anything so I have no idea what you are trying to achieve here. There is nothing really that complex about running cronjobs that are timezone aware. Any mainstream *nix system (which is what k8's runs on) has had rock solid timezone support for decades (because surprise surprise, *

[2020-04-06 21:29] tedyu commented on #89903
See the following code in cmd/kubelet/app/server.go :
[code]

[2020-04-06 21:52] mltsy commented on #81042
I *think* this can be closed as a duplicate, since this other ticket describes the ideal solution for this problem: https://github.com/kubernetes/kubernetes/issues/84210

[2020-04-06 21:55] mltsy commented on #84210
Yes!  Please make this an option... docker has the `--init` flag for this purpose.  It's very necessary 😄

[2020-04-06 22:13] Random-Liu commented on #89847
All containerd tests are failing, not just the presubmit.

I found this error on the master instance:
[code]

[2020-04-06 22:18] neolit123 commented on #86753
/remove-lifecycle stale

[2020-04-06 22:25] Random-Liu commented on #89847
I think this is the issue https://github.com/kubernetes/kubernetes/commit/c7abf44a197867234c5f3732267354ce41dc2783

[2020-04-06 22:29] jdef commented on #47368
/reopen

[2020-04-06 22:32] neolit123 commented on #89882
this warning means that kubeadm cannot validate your KubeletConfiguration and KubeProxyConfiguration. this is a change that was made in kubeadm because we stopped including the validation code from the components in question.

the warning is printed on STDERR so you can hide it like so:
`sudo kubeadm token create --print-join-command 2> /dev/null`

[2020-04-06 22:34] neolit123 commented on #89882
nodes "k8n4" is forbidden: User "system:bootstrap:6lt0vk" cannot get resource "nodes" in API group "" at the cluster scope
cannot get Node "k8n4"

this is a kubeadm bug in 1.18.0 that will be fixed in 1.18.1.
your current workaround for 1.18.0 is to call `kubeadm init phase bootstrap-token` on a node that `kubeadm init` was previously called on (i.e. has the `/etc/kubernetes/admin.conf`):

https:/

[2020-04-06 22:34] #89882 closed

[2020-04-06 22:42] #84338 closed

[2020-04-06 22:46] cheftako commented on #89847
I agree that https://github.com/containerd/cri/pull/1429 seems to be the fix. https://github.com/kubernetes/kubernetes/pull/88856 merged 10 days ago and the failures started 3 days ago. While they are clearly related, there seems to be a piece missing to the story.

[2020-04-06 22:48] alculquicondor commented on #89552
I patched the unit test shown in #89908 into the `release-1.18`, `release-1.17` and `release-1.16` branches. None crashed.
I'll await for the crash dump.

[2020-04-06 23:06] Random-Liu commented on #89847
The cluster e2e test started failing 10 days ago. containerd/cri#1429 should fix it.

However, the node e2e seems to be failing because of a different issue.

[2020-04-06 23:07] immutableT commented on #58012
cc @immutableT

[2020-04-06 23:08] santhoshs123 opened #89910 "Recreated StatefulSet pod stuck in pending state after deleting pvc and pod."
**What happened**:
1. Created a StatefulSet with 2 replicas and 2 VolumeClaimTemplates.
2. After pods are in Running state, issue command to delete 2 PVCs attached to a pod. PVCs went to Terminating state.
3. Delete the corresponding pod. Both pod and PVCs got deleted.
4. StatefulSet recreated the pod. Pod went into Pending state and stuck there for more than an hour with following events:

[code]

[2020-04-06 23:13] AndrewSav commented on #47202
I don't think it can. You are welcome to demonstrate it, if you like, but please stick to what's said, not what could have been implied.

Oh, I'm just answering the comment from hiddeco directed at me, you can find it above.

If we rephrase that, to say that you and I have a preference that kubernetes cronjob supported time zones, that would be right. I find "closs to useless" a bit too strong, bu

[2020-04-06 23:18] kfox1111 opened #89911 "default storage class for RWO vs RWM"
We have multiple storage classes and its always unclear what to set as default, as there can be one best default for ReadWriteOnce vs ReadWriteMany.

I'd like the option to mark one storage class that is ReadWriteOnce as storageclass.kubernetes.io/is-default-class and one that is ReadWriteMany as storageclass.kubernetes.io/is-default-class and have Kubernetes pick the right default based on the us

[2020-04-06 23:19] kfox1111 commented on #89911
/sig storage

[2020-04-06 23:22] santhoshs123 commented on #89910
/sig apps

[2020-04-06 23:35] BenTheElder commented on #87197
All of the build scripts that cross compile need to be made to *actually*
register quemu properly.
If I knew what exactly how we want that done clearly, I'd have done it 😔

On Mon, Apr 6, 2020 at 4:18 AM Prasanna Kelkar <notifications@github.com>
wrote:

[2020-04-06 23:54] #89798 closed

[2020-04-06 23:55] karim-manaouil commented on #89798
check InstrumentHandlerFunc() in metrics.go in the apiserver

[2020-04-07 00:07] mYmNeo commented on #89552
Here is the fresh dump.

[code]

[2020-04-07 00:13] alculquicondor commented on #89552
and which version was this?

[2020-04-07 00:44] soolaugust commented on #89800
@zhouya0 Yes, I confirmed,  this image exists on the node where the pod is scheduled.

![image](https://user-images.githubusercontent.com/10558124/78618075-f6963000-78ab-11ea-844c-177e46b0c5d8.png)

[2020-04-07 00:44] Random-Liu commented on #89847
I believe the node e2e tests failure (including regular node e2e tests failure) are caused by no network access to the GCE project.

Google shutdown the network access to those GCE projects for some security reason...

[2020-04-07 00:51] tedyu commented on #89800
@soolaugust
Can you attach kubelet.log to this issue ?

thanks

[2020-04-07 01:01] Random-Liu commented on #89847
We need to update COS and ubuntu images used by all node e2e tests to fix this.

[2020-04-07 01:04] warmchang commented on #73933
/remove-lifecycle stale

[2020-04-07 01:07] tedyu commented on #89892
From https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1247299900119453700/build-log.txt:
[code]
The cause was due to quota exceeded.

[2020-04-07 01:07] mYmNeo commented on #89552
This is master branch. And I've tested from 1.16-1.18, it can reproduce easily.

[2020-04-07 01:38] tedyu commented on #89888
I think the following should fix the error you saw:
[code]

[2020-04-07 01:43] tanjunchen commented on #89874
/assign

[2020-04-07 02:07] soolaugust commented on #89800
here's log for `journalctl -eu kubelet`
![image](https://user-images.githubusercontent.com/10558124/78622369-89889780-78b7-11ea-8473-5f818f41c047.png)

[2020-04-07 02:09] zqzzq commented on #89679
The cluster is not under heavy load
All three masters have this problem
It didn't resolve itself, I had to delete and regenerate the endpoint to solve this problem
Sorry I don't know how to reproduce
Many services have this problem
[code]
According to @lavalamp 's suggestion, I restarted my three controller managers, then all services are ok, but I don't know if this problem will happen again..
Th

[2020-04-07 02:14] tedyu commented on #89800
Can you paste the text or attach text file ?
Some log lines were truncated in the image.

[2020-04-07 02:28] dims commented on #87420
@dcantah Any update? thanks!

[2020-04-07 02:45] soolaugust commented on #89800
here's part of output log:

[code]

[2020-04-07 02:52] tedyu commented on #89800
Did you notice the following ?
[code]
I think in normal operation the above shouldn't have occurred.

[2020-04-07 02:52] MikeSpreitzer commented on #89874
FYI, for a comparison of similar debug logging you can try setting `-v=5` and seeing what gets logged.  You can also try some higher settings.  You will see request bodies logged at the site where the call goes out.  I did not see request bodies logged on the receiving side.

[2020-04-07 02:55] MikeSpreitzer commented on #89874
FYI, here is the debug logging statement that I used:
[code]

That was right after the call to `strategicpatch.StrategicMergeMapPatch`.

[2020-04-07 03:08] zqzzq commented on #89679
Maybe it's because my etcd cluster is very slow:
[code]

[2020-04-07 03:10] renukamanavalan commented on #59959
Installer per directions [here](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) in debian version 10.

Upon updating `/etc/apt/sources.list.d/kubernetes.list`, "`sudo -E apt-get update`" fails as below.
Likely it is some restrictions on host. Can you please suggest, how do I fix?

[code]

[2020-04-07 03:29] MikeSpreitzer commented on #89874
It would be appropriate to do the same for the case of JSON Patch and JSON Merge Patch as well as the stategic merge patch.

[2020-04-07 03:40] soolaugust commented on #89800
yes, I have a former k8s cluster, and I use `kubeadm reset`,  then I use `kubeadm init` to create current cluster.

[2020-04-07 03:44] liggitt commented on #89874
That's somewhat intentional. Logging of API server request bodies without regard to whether the resource is a confidential one (e.g. secrets) would expose confidential content. If we add debug output of Request bodies to the API server log, we'll need to do so in a way that is not considered a vulnerability.

[2020-04-07 04:10] #81289 closed

[2020-04-07 04:47] dcantah commented on #87420
@dims My apologies. We're waiting on a bug fix that has a pr out right now and hopefully should be merged soon if not tomorrow.

[2020-04-07 04:49] MikeSpreitzer commented on #89874
Good point.  So would it suffice to carve out an exception for objects of the core Secret kind?

[2020-04-07 05:41] gongguan commented on #89900
There is no configured cni, you should install it at first https://github.com/containernetworking/cni#how-do-i-use-cni

[2020-04-07 05:55] soolaugust commented on #89800
finally I got this. as I changed container runtime to `containerd` on former k8s cluster. so the new k8s cluster couldn't get the image correctly.  So we need to set defalt container runtime to `docker`, Thanks @tedyu , talk with you really helps me get the solution.

[2020-04-07 05:55] #89800 closed

[2020-04-07 06:10] zhouya0 commented on #89849
/reopen

I agree, should this fix be more general? Some other http headers have also the comma problems.

[2020-04-07 06:24] rokii commented on #57291
I have similar requirement. why not directly file a PR @tedyu ?

[2020-04-07 06:28] Colstuwjx commented on #89880
I'm not sure the correct sig, maybe this?
/sig api-machinery

[2020-04-07 06:35] jfbai commented on #72828
https://github.com/kubernetes/kubernetes/pull/78516 as well

[2020-04-07 06:36] kifeo commented on #89882
Thanks @neolit123, I'm sorry for not having spotted this one before.

[2020-04-07 07:10] wkjun commented on #77004
edit `cpu` in  command in `metrics-server-nanny` container works for me, which may control the `metrics-server` cpu limits.

[code]

[2020-04-07 07:17] ialidzhikov commented on #88611
@tedyu , I cannot see similar log entry in the kubelet logs (tried with v1.16.8).

[2020-04-07 08:05] tedyu commented on #57291
It would be better to evaluate the snippet I posted above before PR is created.

[2020-04-07 08:27] fedepaol commented on #89782
@aojea looks like CI is still failing.
I tried locally on a sctp-enabled cluster and the tests passes.
I removed the sctp module and they fail, so not having sctp loaded _might_ be the reason for failures now.

[2020-04-07 08:28] andy-wolf168 commented on #89802
I think it is a common behavior for the client to re-listwatch. At this time, whether the data in the server cache may be discarded because the cache is full, and then not processed by the client?
Or, is it possible that the data in the server cache is consumed by a client such as a kubelet, and the client controller-manager connected later will not be able to accept the event?

[2020-04-07 08:33] aojea commented on #89869
/area ipvs

[2020-04-07 09:21] yuripastushenko commented on #89898
Yes, I am sure. I collected the metrics.
Cpu usage on pod was around 0.01
Ram - around 4mb.
This is a test application (pure nginx image) that did not do anything (no traffic is sent to it).

[2020-04-07 09:41] yuripastushenko commented on #75065
@zouyee Do you have any thoughts about this problem?

[2020-04-07 09:43] ankita-1420 opened #89917 "Cross namespace communication in GKE ingress"
Hey @liggitt,
We have two different applications deployed in two different namespaces in GKE, I am trying to expose these applications using GKE Ingress which is in the default namespace.
I have SSL certificates for this applications.

The issue we are facing now is external load balancer is not able to communicate with our applications because the namespaces are different.

Referring to issue no

[2020-04-07 09:50] furkanmustafa commented on #47202
First, "mature" and "time proven" words has no place in a sentence about kubernetes, or its ecosystem.

Second, since when bugs are a problem in kubernetes? @fejta-bot will just "fix" (close) them automatically. No need to think about bugs. All is well.

[2020-04-07 09:52] furkanmustafa commented on #47202
I wonder when/if any maintainer will care/comment?

[2020-04-07 10:04] DenisPalnitsky commented on #77216
/remove-lifecycle stale

We had same issue that symptoms are similar to what @discordianfish described

[2020-04-07 10:12] alexzimmer96 commented on #89906
Hi @navidsh
Kubernetes stores secret values encoded as base64. However, the represented value must be a string, otherwise it can't be used as a value for an environment variable. If i decode your base64 string, the output looks like binary data which is not a valid value.

You could try to double-encode your data. Then you can use your key as a base64 encoded string inside your application.

[2020-04-07 10:57] aojea commented on #89782
@danwinship reading the KEP for SCTP graduation https://github.com/kubernetes/enhancements/commit/fa4284e0cd72113869e1128b989f24eb65bb5127 I don't have clear what's the best way to proceed here, can you chime in?

[2020-04-07 11:03] zhouya0 commented on #89811
Feels like these failling tests have something to do with `stdin`.

[2020-04-07 11:04] mYmNeo commented on #87615
I've created a patch without restart kubelet and it seems the problem is resolved.
[deadline patch](https://github.com/mYmNeo/kubernetes/commit/baffa9583452b3768aa7bf20b3903b1f930e069d)
[code]

[2020-04-07 11:07] piersdd commented on #23880
+1 for MetalLB

[2020-04-07 11:07] ik9999 commented on #87615
@mYmNeo Can you please explain how to rebuild the client-go?

[2020-04-07 11:09] dims commented on #87420
@dcantah not an issue at all. thanks for the heads up.

[2020-04-07 11:13] mYmNeo commented on #87615
Apply this patch, then rebuild kubelet and replace binary

[2020-04-07 11:14] SaravanakumarSivasankaran opened #89920 "CoreDNS not forwarding the request if more than one nameserver of different domain is configured."
I have two DNS: One nameserver for node vms where kubernetes are running and another one for external communication(say internet). If i configured two nameserver in the resolve config of node, then pods are not running properly.

**Kubernetes worker node resolve config**
[worker1]$ cat /etc/resolv.conf
search private.net
nameserver 10.197.69.51  ----> Internal
nameserver 10.126.62.52 -----> Can sa

[2020-04-07 11:22] wojtek-t commented on #89802
true

The cache in server has two parts:
- the state (which doesn't have any limits - it is the whole state from a given point in time - propagated by watch from etcd)
- the transaction log - which is used for sending events to watchers (that has a capacity)

In your case, there was a list operation from cache (resourceVersion=0 is what determines it) and as I mentioned above, what was returned wa

[2020-04-07 11:36] saraAlizadeh commented on #89860
**1.** my pods are MySQL and WordPress. there is one of each in every namespaces.
here is the log of watching a sample namespace:
`
kubectl get pod --watch
NAME                               READY   STATUS    RESTARTS   AGE
wordpress-559f878449-7p5vb         1/1     Running   0          40s
wordpress-mysql-689b44677b-qwdkw   1/1     Running   0          6d16h
wordpress-559f878449-7p5vb         1/1

[2020-04-07 12:02] liggitt commented on #89849
I would not recommend that, as not all headers value handling can safely assume commas are value delimiters.

[2020-04-07 12:03] liggitt commented on #89849
I would keep this issue scope to this particular header

[2020-04-07 12:03] andy-wolf168 commented on #89802
`I0911 05:18:18.664628       1 round_trippers.go:405] GET https://10.0.206.180:6443/api/v1/services?limit=500&resourceVersion=0 200 OK in 1 milliseconds`
Whether the data obtained by the list operation of resourceVersion=0 comes from the transaction log(that has a capacity), not from the state (which doesn't have any limits, and have full data)

create service return message:
`Service(apiVersion=v

[2020-04-07 12:05] wojtek-t commented on #89802
@andy-wolf168 - I already wrote the above.

By design it works. I don't see any suspcious in the code. And I'm not able to reproduce.
We need to reproduction steps from you or more logs than you gave.

[2020-04-07 12:06] HaveFun83 commented on #89762
Same here. Thx for the fix

[2020-04-07 12:41] pytimer commented on #87615
@mYmNeo How can i reproduce this issue and testing this ?

[2020-04-07 12:43] pytimer commented on #87615
@ik9999 Thanks, it works.

[2020-04-07 12:55] danwinship commented on #89782
Maybe that wasn't sufficiently clear. The whole point of tagging these separately from the other SCTP tests is that they are not expected to be run at all, ever, by any part of Kubernetes CI. The graduation criteria for SCTP do not say that the tests will ever pass in CI, they only require that "At least 2 out-of-tree network plugins can pass the `[Feature:SCTPConnectivity]` tests."

[2020-04-07 12:56] yuripastushenko commented on #89898
/area kubelet

[2020-04-07 13:03] ydcool commented on #89860
Hi @saraAlizadeh
Just a little advise, the logs will be more readable if you paste the logs with code block like this:
<pre>
[code]
</pre>

[2020-04-07 13:03] yuripastushenko commented on #75065
Also in kubelet logs are orphaned pod errors:
[code]
Seems like this issue is very similar to - https://github.com/kubernetes/kubernetes/issues/51835

[2020-04-07 13:08] aojea commented on #89782
got it, the problem is that there was already a job testing alpha features and it started to run these tests once they were added

https://github.com/kubernetes/test-infra/blob/3d3428b914466285aa1f51071d201e06d753a48b/config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml#L443-L463

Per the KEP and your explanation is ok to disable these tests on this job

[2020-04-07 13:10] chrisohaver commented on #89920
`resolv.conf` is not intended to be used in that way.  Multiple entries in resolv.conf are only there to provide redundancy in the even the first server queried times out.  If the first server queried answers anything, including NXDOMAIN (name doesn't exists) that counts as an answer.

Furthermore, CoreDNS defaults to a "random" policy when querying multiple nameservers. IOW, the first server quer

[2020-04-07 13:10] brooksmtownsend commented on #7452
Hello all, any progress on this issue late 2019 / early 2020? We are using an AWS ALB for the rest of our application, but since AWS ALBs do not support the SPDY protocol we have to use a different load balancer solution just for the k8s API.

[2020-04-07 13:10] chrisohaver commented on #89920
/sig network

[2020-04-07 13:13] yuripastushenko commented on #62283
We found a workaround in our case.
All deployments in our cluster are created using helm.
So we parsed output of "helm get manifest -n $NAMESPACE $RELEASE".

[2020-04-07 13:14] chrisohaver commented on #89920
/remove-triage unresolved

[2020-04-07 13:16] chrisohaver commented on #89920
https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#configuration-of-stub-domain-and-upstream-nameserver-using-coredns

[2020-04-07 13:23] yuripastushenko commented on #60987
We have same issue.
Kubernetes version 1.12.1 on bare metal.
Not using any persistent volumes.
Only emptyDir.

[2020-04-07 13:29] danwinship commented on #89782
I had assumed that no existing tests would automatically pick up `[Feature:SCTPSupport]`. But it looks like this test enables *all* `Networking` tests *except* ones tagged `Networking-Performance` or `IPv6`. I think you're not supposed to do that? Anyway, if it's going to do that then it needs to add `SCTPSupport` to the skip list

[2020-04-07 13:29] ydcool commented on #89860
@saraAlizadeh Looks something wrong with the `orphaned pod` on the worker2 node, coud you try to umount and clean up those pods by hand? It's a little bit like this issue  #60987

[2020-04-07 13:31] cofyc commented on #89701
/cc

[2020-04-07 13:33] saraAlizadeh commented on #89860
yes, I've tried it. I can delete them but they keep populating. coz my pod are deleted and their dependencies are left orphaned. actually I believe orphaned pods are a side effect to my real issue. WHY ARE THE PODS DELETED IN THE FIRST PLACE?

[2020-04-07 13:38] liggitt commented on #89874
The audit logging and storage encryption mechanisms do not special-case secret resources, I would not expect this to.

[2020-04-07 13:41] alculquicondor commented on #87784
We came up with the following solution in an offline discussion with @liggitt:

1. Move the Arg types to the versioned and internal component config types #88585
1. Migrate from `runtime.Unknown` to `runtime.RawExtension` for the `PluginConfig.Args` type. This is backwards compatible. This new type allow us to pass an object along with the raw bytes. #89904
1. Implement `DecodeNestedObjects(d runt

[2020-04-07 13:43] davidmogar commented on #85206
/remove lifecycle stale

[2020-04-07 13:46] alculquicondor commented on #84922
@zouyee can you follow up on that with the working group?

[2020-04-07 13:46] aojea commented on #89782
It seems that this regex was there since the beginning
https://github.com/kubernetes/test-infra/pull/9943 , but I think that is up to use to add a proper regex for networking.
I've just filtered SCTPSupport only because I assumed the regex was ok

[2020-04-07 14:20] barucoh opened #89922 "scaling down deployment not considering affinity"
**What happened**:
A deployment with 3 replicas with anti-affinity rule to spread across 2 AZs scaled down to 2 replicas in only 1 AZ

**What you expected to happen**:
Scale down operations, like scale up operations, should consider anti-affinity rules or `SelectorSpreadPriority`

**How to reproduce it (as minimally and precisely as possible)**:
K8s cluster across 2 AZs, single deployment, 3 repli

[2020-04-07 14:23] barucoh commented on #89922
/sig cluster-lifecycle
/sig scheduling
/sig autoscaling

[2020-04-07 14:25] yuripastushenko commented on #75065
@zhan849 Do you found any workaround?

[2020-04-07 14:26] hasheddan commented on #89892
/sig testing

[2020-04-07 14:37] hasheddan commented on #89892
/remove-sig node

[2020-04-07 14:38] hasheddan commented on #89893
/remove-sig node
/sig testing

[2020-04-07 14:47] notpad commented on #88028
Does that mean we can use `scheduler.WithBuildFrameworkCapturer` to get the Plugin config? But we don't have direct acess to the scheduler.new unless we add this argument to `Setup`

[2020-04-07 14:59] elixxx commented on #7452
Hey  @brooksmtownsend i am sure switching to AWS [NetworkLoadBalancer](https://aws.amazon.com/de/blogs/aws/new-network-load-balancer-effortless-scaling-to-millions-of-requests-per-second/) is the only solution at the moment.
I tried for days to get it running, ALB and ELB don't support SPDY and i can't imagine AWS will add support. So please safe time and use NLB.

[2020-04-07 15:11] uablrek opened #89923 "DualStack: Kube-proxy/ipvs; nodePortAddresses with both ipv6 and ipv4 causes invalid ipvs entries"
**What happened**:

In a dual-stack cluster when specifying both ipv6 and ipv4 addresses in the `nodePortAddresses` entries are inserted in ipvs for the ipv6 nodeports but with an invalid ipv4 address;

[code]

The example shows the ipv4 loopback address but any ipv4 address in `nodePortAddresses` will cause a faulty entry.

**What you expected to happen**:

No ipv4 entry shall be inserted for the

[2020-04-07 15:19] singlakirti opened #89925 "Load Balancer timeout annotation for GCE in service.yaml"
I am creating a new Service of Type Load Balancer in google cloud.
As we can specify the connection idle timeout for AWS or azure by providing the annotation in metadata in service.yaml.
What is the similar annotation for the google cloud?

Sample service.yaml containing aws annotation:
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: "myapp"
  name: "myapp"
  annotations:
    service

[2020-04-07 15:23] uablrek commented on #89923
/area ipvs
/area ipv6

[2020-04-07 15:24] uablrek commented on #89923
/remove-triage unresolved
/assign

I take this myself if no one objects.

[2020-04-07 15:26] uablrek commented on #89923
The ipv4 address `17.0.0.0` is obviously a ipv4-converted ipv6 from `1100::`.

[2020-04-07 15:27] smarterclayton commented on #83961
This is on my list.  @liggitt makes me feel guilty about it occasionally.  @spadgett and @jwforres  ALWAYS make me feel guilty.

[2020-04-07 15:30] uablrek commented on #89869
The "Masq" in ipvs has nothing to do with client source preservation, it means that *destination* NAT (DNAT) is used (as opposed to DSR where no dnat is made).

[2020-04-07 15:31] #89769 closed

[2020-04-07 15:32] ssasso commented on #89869
@uablrek you are right.
The fact is that SNAT is happening somehow/somewhere using kube-proxy in ipvs mode, while on iptables mode everything works fine.

[2020-04-07 15:34] alculquicondor commented on #89552
Thanks a lot. I was able to finally reproduce in unit tests. The scenario is:

1. Have a node with at least 2 pod.
1. Delete node.
1. Delete pod1. In unit test, this is first an update to set the termination timestamp. No issues up to this point.
1. Delete pod2. Again, first an update to set the termination timestamp. Here it crashes.

I'm working on a fix.

[2020-04-07 15:48] crixo commented on #79384
Hi @liggitt  That's exactly what I'd like to achieve manually (I got it for free using operator-sdk) but I didn't figure out yet how to do it via script or tools... I mean is there a way to copy somewhere the pinning as per your format ("k8s.io/XXX v0.0.0-{timestamp}-{commit hash prefix}") or a a tool to create it w/o have to figure it out one by one manually? Through the main k8s repo you got onl

[2020-04-07 15:53] uablrek commented on #89869
I can setup a cluster with v1.17.4 and calico so I will to triage this.

/assign

[2020-04-07 15:54] liggitt commented on #79384
You can now use v0.x.y for the published components that correspond to Kubernetes v1.x.y without needing to figure out the timestamps/hashes. This is available in 1.15.10+, 1.16.4+, and 1.17.0+

[2020-04-07 15:59] ssasso commented on #89869
@uablrek if this can be useful, this is my running conf: https://github.com/ssasso/my-k8s

[2020-04-07 16:01] lavalamp commented on #89679
Slow etcd might be a triggering factor, but that should not happen
regardless. Please let us know if you figure out how to reproduce it.

Note that some controllers had a relevant bug that's been fixed in a more
recent version than you're running:
https://github.com/kubernetes/kubernetes/pull/86140

Endpoints controller doesn't appear to have that particular bug, though, so
this is still unexplain

[2020-04-07 16:02] ssasso commented on #89869
Also, here you can find a pcap trace of the behaviour https://github.com/ssasso/my-k8s/tree/issue_ipvs_nat/pcap :
First packet is coming from my computer, 133.0 is the MetalLB announced IP.
Second one is sent from the worker node to the Ingress - as you can see, the IP of the node is present here, instead of my IP.

[2020-04-07 16:07] crixo commented on #79384
You are saying the
[code]
is going to be identical to
[code]
is so... that's great! Now I understood previous post scripts strategy...
Thanks a lot! You made my day

[2020-04-07 16:09] liggitt commented on #79384
yes

[2020-04-07 16:10] ahg-g commented on #89922
the scheduler isn't involved in deployment scale down, and so it can't help here.

a descheduler could help here, but only after the fact.

[2020-04-07 16:28] ahg-g commented on #89820
/remove-sig scheduling

[2020-04-07 16:38] spiffxp commented on #89847
I suggest we have this job stop reporting to all PRs if this is going to take a while to fix.

I know it's not merge-blocking because its context doesn't have "required" next to it, but I think a lot of people just see the bot commenting about a failure and instinctively /retest.

[2020-04-07 16:52] barucoh commented on #89922
I probably put the incorrect sig of scheduling.

If you mean the [Descheduler for Kubernetes](https://github.com/kubernetes-sigs/descheduler) then I'm afraid it doesn't seem to solve the issue since it's also not involved when a scale down operation is taking place, plus it only looks at `required` anti-affinity rules.

But bottom line it doesn't really matter which component is required for this

[2020-04-07 17:00] alculquicondor commented on #88028
that's a good point. Maybe we can add an unexported package variable to do so.

[2020-04-07 17:25] uablrek commented on #89869
I can not recreate this with v1.17.4 and calico/cni:v3.12.0, source-ip is preserved. This was sort-of expected since this is fundamental K8s functionality and really well tested.

I did `iptables -t nat -S` and here is a (narroved) result;
[code]
The important thing here is that the match for the `KUBE-LOAD-BALANCER-LOCAL` with `-j RETURN` is made before the jump to `KUBE-MARK-MASQ` which triggers

[2020-04-07 17:27] rdrgporto commented on #59959
Hi, @renukamanavalan

I think that this kind of issue is related to proxy. Is the machine behind a proxy?

Regards

[2020-04-07 17:42] Huang-Wei commented on #89922
@barucoh As @ahg-g pointed out, scaling down a workload API is implemented in controller-manager, but unfortunately, controller-manager doesn't have the latest view of cluster utilization, hence may give non-optimal result.

I'd say this is a known limitation for a while, but we're open to proposals improving current situation.

[2020-04-07 17:46] damemi opened #89930 "Clean up scheduler dependencies on k8s.io/kubernetes packages"
To make it easier for out-of-tree developers to import the scheduler framework, among other scheduling helpers and constants, we should explore areas that we can remove dependencies on `k8s.io/kubernetes`. Places that could be easily removed are, for example, using internal APIs where not required or importing unrelated packages for simple helpers which can be trivially implemented. This will clea

[2020-04-07 17:47] damemi commented on #89930
/cc @ahg-g @Huang-Wei @alculquicondor @ingvagabund

[2020-04-07 18:30] hasheddan commented on #89892
/assign @spiffxp

[2020-04-07 18:32] hasheddan commented on #89893
/assign @spiffxp

[2020-04-07 18:54] yujuhong commented on #89892
I checked the project and almost all of the VM instances were created around April 6. Most likely some tests hit timeout and the VMs weren't cleaned up.

I deleted all but one VM in case anyone wanted to check the timeout issue.

[2020-04-07 19:00] hasheddan commented on #89892
Thanks @yujuhong! I will monitor if anything changes :)

[2020-04-07 19:01] vipinponnarath opened #89932 "docker images getting deleted when enabling k8s on windows"
**What happened**:
I am using docker desktop for windows for running some of my local images. I enabled Kubernetes option from the docker settings UI and what I observe from time to time is a lot of my important images are getting removed. I have no proof to say that it is k8s who is deleting these, but i confirm that it happens whenever I enable the kubernetes option from the UI. I read about the

[2020-04-07 19:09] vipinponnarath commented on #89932
/sig node

[2020-04-07 19:49] robscott commented on #24553
I do think EndpointSlices have largely solved this issue, though unfortunately the load on controller manager due to the Endpoints controller won't go away until we start significantly limiting the size of Endpoints or have sufficient enough adoption of EndpointSlices that it would be possible to disable the Endpoints controller in some clusters. For now though, I'm open to closing this issue if i

[2020-04-07 20:15] fedebongio commented on #89849
/assign @liggitt
(since you are already working on this one, thanks!)

[2020-04-07 20:16] fedebongio commented on #89874
/assign @jennybuckley

[2020-04-07 20:16] fedebongio commented on #89875
/assign @roycaihw

[2020-04-07 20:17] fedebongio commented on #89880
/assign @yliaog
would you mind taking a look please? thanks!

[2020-04-07 20:19] fedebongio commented on #89888
/remove-sig api-machinery

[2020-04-07 20:29] artem-zinnatullin commented on #78761
Ehh, we've lost some money in off-peak hours because of not scaling down…

But, I think I've found ***a workaround*** in the meantime.

It seems that using `autoscaling/v1` instead of `autoscaling/v2beta2` if you can rely just on CPU usage works correctly:

[code]

[2020-04-07 20:41] renukamanavalan commented on #59959
I have two different machines using same as http & https proxy. But the proxy mentioned in spew is an external one. Yet I added it in apt.conf. This crossed this hurdle.
Then it failed with "`E: The repository 'https://apt.kubernetes.io kubernetes-xenial Release' does not have a Release file.`"
So I ran as "`sudo -E apt-get -o Acquire::AllowInsecureRepositories=true  -o Acquire::AllowDowngradeToIn

[2020-04-07 20:42] hh commented on #86141
/reopen

[2020-04-07 20:44] hh commented on #87120
/reopen

[2020-04-07 20:50] hh commented on #86393
/reopen

[2020-04-07 20:50] dims commented on #87615
cc @liggitt

[2020-04-07 20:52] liggitt commented on #87615
does setting SetReadDeadline mean all watches will close every 30 seconds?

[2020-04-07 20:54] hh commented on #86393
Yeah! We got a test written and a promotion (and we linked them to the mock-ticket that started it all).
/close

[2020-04-07 20:54] #86393 closed

[2020-04-07 20:55] mc0 opened #89936 "Allow Changing Kubelet's Internal Housekeeping Period"
**What would you like to be added**:
The ability to adjust Kubelet's housekeeping frequency. Ideally via the config file as an `internalHousekeepingPeriod`. There is already a housekeeping interval CLI flag that I assume is related to cAdvisor but had trouble tracking down where it was actually used.

Kubelet has a "housekeeping"/cleanup routine that it performs every 2s to remove orphaned resourc

[2020-04-07 20:56] mc0 commented on #89936
/sig node

[2020-04-07 21:08] tallclair commented on #63726
We don't have any updates or progress on this, but would welcome a KEP if anyone is interested in picking it up.

[2020-04-07 21:27] #84368 closed

[2020-04-07 21:27] #84460 closed

[2020-04-07 21:27] #84682 closed

[2020-04-07 21:27] #84762 closed

[2020-04-07 21:27] #84778 closed

[2020-04-07 21:27] #84461 closed

[2020-04-07 21:27] #84580 closed

[2020-04-07 21:28] agadelshin commented on #68026
@Raman-Kumar you can move kubernetes directory to `/Users/ramankumar/go/src/k8s.io/` and re-run this script.

[2020-04-07 21:31] aojea commented on #85894
/assign
Let me give another try to this

[2020-04-07 21:35] agadelshin commented on #68026
I'd like to take `pkg/apis/apps/*`

[2020-04-07 21:51] yujuhong commented on #89892
Failing but for a different reason. Probably related to https://github.com/kubernetes/kubernetes/issues/89847#issuecomment-610109930

[2020-04-07 22:17] matthiasr commented on #24553
What I was originally thinking about is sort of independent of endpoint slices. I would not be surprised if this has actually been done in the meantime and just wasn't linked back to this issue.

Consider a large and fast cluster. A reasonable number, say, 100 pods, become ready roughly at the same time. The behavior I observed back then was that this would cause 100 separate updates to the Endpoi

[2020-04-07 22:21] rajatchopra commented on #89440
@thockin This is a different issue (sounds similar, I agree).
The other one deals with: containers are deleted, volumes are cleaned up but cni may still be working. The desire is to not to remove the pod sandboxes in runtime until CNI is done.

This one is critical: pod spec's containers are deleted, infra container gets deleted but CNI may still be working. The desire is not to remove the infra c

[2020-04-07 22:27] #86141 closed

[2020-04-07 22:32] robscott commented on #24553
Thanks for the clarification @matthiasr! That makes a lot of sense. Most controllers now, including both the Endpoints and EndpointSlice controllers use queuing to process updates. In the case of these controllers, a change to anything related to a Service drops that Service into the queue if it's not already there. Then a syncService() call reconciles all the Pods matching a Service and translate

[2020-04-07 22:32] #24553 closed

[2020-04-07 22:42] tedyu commented on #89440
I applied both #89541 and #89667 locally.

TestPodResourcesAreReclaimed  from #89667 passed.

FYI

[2020-04-07 22:46] dobesv opened #89938 "kubectl apply sets data to an empty string if you remove corresponding values from stringData"
I used `kubectl apply` to update a secret, and I specified values in plaintext using `stringData`.  Each time I updated a different key using this method, the previous keys set using the same method were reset to a blank value.

After some head-scratching I found that the `last-applied-configuration` annotation stored the `stringData` values previously applied, and when `apply` sees that the value

[2020-04-07 22:52] dobesv commented on #89938
/sig api-machinery

[2020-04-07 23:17] lysliu opened #89939 "Add feature with dynamically created devices device-cgroup-rule in kubernetes pods"
**What would you like to be added**:
We want to mount many `volumes` in a pod yaml file like
[code]
Which is a map of docker run command as following:
[code]
This is supported in docker from [here](https://docs.docker.com/engine/reference/commandline/create/#dealing-with-dynamically-created-devices---device-cgroup-rule) by [PR](https://github.com/containers/libpod/pull/5152) Devices available to a

[2020-04-07 23:20] lysliu commented on #89939
/sig node

[2020-04-07 23:45] #81052 closed

[2020-04-07 23:46] #89552 closed

[2020-04-07 23:54] lli-hiya commented on #59888
This should be fixed in v1.16 with this PR:  https://github.com/kubernetes/kubernetes/commit/d55f037b7d84e61c81a6b8c20606bb06b6eb20f2.  More specifically, this part: https://github.com/kubernetes/kubernetes/blob/d55f037b7d84e61c81a6b8c20606bb06b6eb20f2/pkg/controller/podautoscaler/horizontal.go#L711-L747

[2020-04-08 00:00] mtb-xt commented on #64616
/remove-lifecycle rotten
/reopen

[2020-04-08 00:24] kmala commented on #89440
The issue i fixed #89667  is different from this and i looked into the PR #89541 and it is not the correct fix for my issue because it introduces a grace period to update the status of pod to status manager and after that grace period pod will be deleted irrespective of the network resources getting removed.
I looked into the issue description and my understanding is that your issue is because of

[2020-04-08 00:27] disconnect3d opened #89940 "Document kubernetes.io/psp annotation"
Hey,

I have a question regarding validating if PSP is applied, as well as an enhancement request on clarifying this.

It seems to me that when a Pod is validated with a PSP, a `"kubernetes.io/psp"` annotation is added with the name of the used pod security policy as its value. It is not obvious if that mechanism can be relied on, especially since it is not documented in the PSP documentation - ht

[2020-04-08 00:54] cwdsuzhou opened #89941 "Scheduling framework supports custom metrics"
**What would you like to be added**:

Scheduling framework supports custom metrics

**Why is this needed**:

Supporting custom metrics from framework seems a better idea as https://github.com/kubernetes/kubernetes/pull/89131#pullrequestreview-389270134 mentioned

[2020-04-08 00:55] cwdsuzhou commented on #89941
/assign
/sig scheduling

[2020-04-08 01:37] liggitt commented on #89938
The transformation happens serverside, and the last applied annotation is computed client-side. That's not likely to interact well...

[2020-04-08 01:47] #86130 closed

[2020-04-08 02:02] davidstack opened #89943 "kube-proxy can add some custom iptables rules"
**What would you like to be added**:
when kube-proxy running on node, the kube-proxy will flush iptables rules periodically, if use want to add some custom iptables rule when kube-proxy resotring the rules, the rule may be coverd.
**Why is this needed**:
for security reason, administrator may want to add some iptables rules to shield some ports

[2020-04-08 02:02] davidstack commented on #89943
@sig kube-proxy @sig network

[2020-04-08 02:03] davidstack commented on #89943
/sig network

[2020-04-08 02:14] davidstack commented on #89392
@fearlesschenc  yes， the kube-proxy on alive node will update the ipvs rules. but in my issue, when master power off,the kube-proxy on other alive node do not update the ipvs rules

[2020-04-08 02:21] yqwang-ms commented on #83725
/remove-lifecycle stale

[2020-04-08 02:46] hulucc commented on #45419
The problem could be also caused by old version systemd, try upgrade systemd.

ref:
https://my.oschina.net/yunqi/blog/3041189 (chinese only)
https://github.com/kubernetes/kubernetes/issues/45419

[2020-04-08 02:55] jbbarth commented on #22839
Link of the code as it was on March 2016 (similar to original link above I guess): https://github.com/kubernetes/kubernetes/blob/v1.2.0/pkg/kubectl/resource_printer.go#L561-L590

The code now lives here: https://github.com/kubernetes/kubernetes/blob/a9f6b93b62a98598913180c640ab044c85a6718b/pkg/printers/internalversion/printers.go#L695-L781

[2020-04-08 02:56] mYmNeo commented on #87615
Yes. It's a ugly way to resolve this problem(force close a connection).

[2020-04-08 03:33] davidstack commented on #89943
sorry，i check the kube-proxy code, when kube-proxy restore iptables, kube-proxy use --noflush ,with this parement, the iptables-restore will not flush old rules

[2020-04-08 03:33] #89943 closed

[2020-04-08 03:53] mars1024 commented on #89816
Thanks, just checked the codes, the problem is stilling existing in master branch.

[2020-04-08 04:21] ashutoshgngwr commented on #89917
AFAIK, Ingress definition is same for all the all the controllers except a few controller-specific annotations. In `Ingress` resource definition, you can use the FQDN for that service and it should work, e.g. `service-test.my-namespace.svc`.

[2020-04-08 04:33] ashutoshgngwr commented on #89917
Create the `Ingress` resources in same namespace as the `Service` resources and the ingress controller should be able to pick it up. `Ingress` resources and controller need not be in the same namespace.

https://github.com/kubernetes/ingress-gce/blob/master/docs/faq/README.md#are-ingress-controllers-namespaced

[2020-04-08 05:15] RenaudWasTaken commented on #77073
@klueska fixed this in the latest (beta5) release

[2020-04-08 05:37] dobesv commented on #89938
I'm a bit puzzled that the values were blanked out, I think the main issue here is that the values were set to an empty string rather than (1) deleted completely from the secret or (2) ignored.

Since I had removed those values compared to the last apply, I thought it would have omitted them when it sent them to the server, or perhaps sent some kind of `null` or `$delete` marker to say the value s

[2020-04-08 05:44] liggitt commented on #89938
The client-side apply diffs what you apply with the last-applied annotation and anything removed it sends explicit nulls for.

You are expected to apply the full object you want each time, not piecemill fields. I may be misunderstanding what you're doing… a reproducer might be helpful.

[2020-04-08 06:04] dobesv commented on #89938
[code]

If you don't want to support this use case, then if a value is removed from `stringData` it should probably be removed from `data` as well, rather than treated as an empty string.

It would be nice if it would just ignore it, though.

It also seems like using `apply` with `stringData` results in the values being placed into the annotation without base64 encoding, which is also a bit questi

[2020-04-08 06:45] kiddingl commented on #89900
I  downloaded cni-plugin into /opt/cni/bin today
[code]
I wrote a config
[code]
pod-config.json
[code]
I run the command:
[code]
I think some errors  in containerd service or cni-plugin. I can;t find anything error in my conf

[2020-04-08 06:46] kiddingl commented on #89900
My crictl runp can't work

[2020-04-08 06:59] saschagrunert commented on #89893
/cc

[2020-04-08 07:05] SataQiu commented on #89923
@uablrek  According to the code here (https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/metaproxier/meta_proxier.go#L65-L69), we may need to filter the `nodePortAddresses` before passing it to `NewProxier`.

[code]

[2020-04-08 07:14] mark-au commented on #89564
Reproduced when performing different distributions v1.17.4 conformance test on Oracle Linux.

Attached are two tests performed on the same cluster, one using 1.17 tests and the latter with 1.18 tests.

[202004080355_sonobuoy_0a625910-cef3-44ad-9fcd-3193e7987619-clean.tar.gz](https://github.com/kubernetes/kubernetes/files/4448816/202004080355_sonobuoy_0a625910-cef3-44ad-9fcd-3193e7987619-clean.tar.

[2020-04-08 07:24] itskingori commented on #57601
/reopen

[2020-04-08 07:38] yomesky2000 commented on #44275
@ levindoneto

When you used this solution: https://github.com/binudba/Troubeshooting-K8s-issues/blob/master/kube-apiserver-forbidden-messages.md

Where you able to view the dashboard of your kubernete? i use the same solution byt still unable to get to the kubernete dashboard. If anyone has been ablem to solve this issue of accessing kubernete dashboard on VMware, pls help solve this issue asap.

[2020-04-08 07:56] uablrek commented on #89869
I checked the pcap now, but as expected, it just confirms your problem. My thanks for narrowing it down, I was afraid of megs of unrelated data (I have got that before. Frequently.).

Reading the pcap I conclude that the ingress controller pod does not have `hostNetwork: true`, but can you please check just in case?

[2020-04-08 08:01] JokerDevops opened #89947 "Automatically clears unwanted ipvs rules"
**What would you like to be added**:
We all know that kubernetes cluster using the ipvs pattern automatically creates an ipvs rule for load balancing when creating a service, but how does the corresponding ipvs rule automatically clean up when I delete the service?Does kube-proxy have this feature?
**Why is this needed**:
When I delete a service, the corresponding ipvs rule is no longer useful. I

[2020-04-08 08:04] yoavAqua opened #89948 "IKS | Node host name is not equal between kubernetes API and node's os"
I'm trying to identify a shared node between 2 different components.
One component is accessing the node via the Kubernetes API, and the other is running on the node itself and has access to its operating system.

In order to identify the node, I'm combining the node's machine-id with its hostname (since the machine-id and hostname are not unique by themselves).

In most of the environments, this

[2020-04-08 08:05] yoavAqua commented on #89948
./sig api-machinery

[2020-04-08 08:08] SataQiu commented on #89930
/cc

[2020-04-08 08:09] zouyee commented on #84922
@alculquicondor ok

[2020-04-08 08:20] fischerman commented on #86914
/remove-lifecycle stale

@fengzixu Still hoping to enhance the documentation and any input is appreciated.

[2020-04-08 08:20] mark-au commented on #89564
I've confirmed that `--kube-conformance-image-version=v1.16` also passes without error so it's specific to the v1.17 image/tests.

[2020-04-08 08:28] dobber commented on #22024
Is it possible to change the error message from
`v1.ConfigMap ended with: too old resource version`
to
`Maintenance of client connections due to low traffic, re-creating"
or something like that.

I'm debugging an issue in my cluster and the only warning in my logs leads me to this rabbit hole here. I spend an hour chasing this, instead of fixing the real issue.

[2020-04-08 08:31] uablrek commented on #89923
@SataQiu Looks that that's it. Please go ahead and make a PR, or I can do it if you prefer.
I will test the PR of course.

Here are some review comments right away;
* Use v1.IPFamily as param to the filter function rather than `wantIPv6 bool`
* The filter function seem usable and generic and may be placed in some "util" package, but leave is as-is and let the maintainers decide that.

[2020-04-08 08:49] barucoh commented on #4301
What's the status on this? I had opened an issue very similar to this one, perhaps the use case is a bit different https://github.com/kubernetes/kubernetes/issues/89922

[2020-04-08 08:51] barucoh commented on #89922
I dug a bit more and noticed my issue is basically this https://github.com/kubernetes/kubernetes/issues/4301

I feel like this can be closed, but the other issue is opened for over 5 years now...
I'll try to think of a proposal for this

[2020-04-08 09:18] lancelot1989 opened #89949 "[cpumanager]reconcileState reading stale pod status then allocate wrong cpuset"
**What happened**:
We patched a pod on node which use static cpu-manager policy. But pod keep restarting forever. kubelet print logs as follows
[code]

**What you expected to happen**:
Patched pod restart only 1 time and finally be ready.

**How to reproduce it (as minimally and precisely as possible)**:
1. Assume a node with 12 core cpus, 4 cores for reserved.
2. A pod with one container require

[2020-04-08 09:21] lancelot1989 commented on #89949
/sig node

[2020-04-08 09:25] ssasso commented on #89869
@uablrek the ingress controller does not have `hostNetwork: true` (it is a standard nginx-ingress, the one provided by kubernetes, with no customization in the deployment).
I see also your point on iptables above.
However, I am not able to explain why when using `iptables` as kube-proxy mode it works as expected, but in `ipvs` it does not.
I also tried to remove the ingress controller, exposing th

[2020-04-08 09:47] uablrek commented on #89869
I agree, that is the really strange thing.

In addition to `iptables -t nat -S` you may do `iptables -t nat -L -nv` immediately after the request and check the counters for the iptables rules. You should get the counter for the first rule incremented but not the second. Counters are cleared in intervals (by the sync I think) so don't wait to long.

[2020-04-08 09:50] k8sre commented on #89561
only ipv4

[2020-04-08 09:58] YanzhaoLi commented on #78494
Any updates on this issue?

[2020-04-08 10:02] like-inspur opened #89951 "fluentd pod enter into zombie status"
I run fluentd pod on kubernetes node to collect journal and container log, and found that old fluentd pod will enter into zombie status, and new fluentd pod can't start

**Environment**:
- Kubernetes version (use `kubectl version`):
1.14.3
- Cloud provider or hardware configuration:
kvm virtual machine
- OS (e.g: `cat /etc/os-release`):
Ubuntu 18.04.3 LTS
- Kernel (e.g. `uname -a`):
Linux mgt01 4.

[2020-04-08 10:05] uablrek commented on #89869
Also try to see if the source is preserved if you access the `nodeport` on address "node-ip:nodeport".
Nodeport is implicit for "type: LoadBalancer" so they are assigned even if you do not normally use them.

[2020-04-08 10:26] tonyaw opened #89952 "Ability to add nodename in Kubernetes service FQDN"
**What would you like to be added**:

**Why is this needed**:
To use "podAffinity" + "topologyKey: "kubernetes.io/hostname",  I can deploy pod of deploymentA and pod of deploymentB on the same node(Refer to example in https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#always-co-located-in-the-same-node).
What I need is to let pod of deploymentA know the IP of pod of deploymentB on

[2020-04-08 10:37] yuripastushenko commented on #77192
We have clusters on bare metal, version 1.12.1 with different workloads.
In the cluster where a lot of short living pods are creating we experienced the same error.
[code]
In this cluster we also sometime have some pods stucked in Terminating state (described in https://github.com/kubernetes/kubernetes/issues/75065).
[code]
Also sometime in this cluster we have errors with orphaned pods described

[2020-04-08 10:45] ssasso commented on #89869
I tried to change the kube-proxy config to ipvs in my existing cluster, rebooted the worker node (and verified the ipset/ipvs rules are properly set) but not able to reproduce the problem.
I will try to re-deploy the cluster from scratch.

[2020-04-08 10:46] vennb commented on #87197
I believe this issue also impacts if you try to bring up a kind cluster on s390x, as the cluster worked when I used K8S v1.15 and rebuilt the kindnetd image with `gcr.io/google-containers/debian-iptables-s390x}:v11.0.2

[2020-04-08 10:46] yuripastushenko commented on #75065
Also i found that there are other errors about no such container:
[code]

[2020-04-08 11:03] wawa0210 commented on #89932
/sig windows

[2020-04-08 11:03] wawa0210 commented on #89932
Is the node disk pressure normal?

[2020-04-08 11:05] rikatz commented on #89947
@JokerDevops have you confirmed the rules are not cleared?

Afaik they are. You can check that by running ipvsadm -L -n in all your nodes after removing a service to see they disappear.

[2020-04-08 11:05] rikatz commented on #89947
/area ipvs
/assign

[2020-04-08 11:05] rikatz commented on #89947
/remove-triage unresolved

[2020-04-08 11:06] rikatz commented on #89947
/remove-sig storage

[2020-04-08 11:15] ialidzhikov opened #89953 "PVC is not annotated with "volume.kubernetes.io/selected-node" when .spec.nodeName is used"
**What happened**:
PVC stays forever in `Pending` state when the Pod that uses the PVC is created with `.spec.nodeName`.

**What you expected to happen**:
I would expect to be able to schedule a Pod on a predefined Node (using `.spec.nodeName`) that use a PVC (kubelet running with `--cloud-provider=external` and CSI migration feature gates are enabled on the corresponding components).

**How to re

[2020-04-08 11:20] rikatz commented on #89947
/remove-triage unresolved
/triage support

[2020-04-08 11:20] ialidzhikov commented on #89953
/sig storage
/sig scheduling
/kind regression

[2020-04-08 11:25] #88960 closed

[2020-04-08 11:27] dulltz opened #89954 "before-first-apply manager prevents resource updates"
**What happened**:

This problem is occurred when trying to do server-side apply without force option.
I cannot apply new patch to the resource which was created by client-side apply.
It is because `before-first-apply` manager prevents resource updates by other manager's server-side apply.

What is `before-first-apply` field manager?
Of course it can be patched if the force-conflicts option is add

[2020-04-08 11:29] dulltz commented on #89954
/sig api-machinery

[2020-04-08 11:34] hasheddan commented on #89847
@Random-Liu do you think the GCE network access is causing the failures in #89892 and #89893?

[2020-04-08 11:42] wojtek-t commented on #87006
/remove-lifecycle stale

This is happening as we speak.

[2020-04-08 12:10] gongguan commented on #89947
I guess it was fixed by [#80942](https://github.com/kubernetes/kubernetes/pull/80942)
@JokerDevops same scenario as [Comment](https://github.com/kubernetes/kubernetes/pull/80942#issuecomment-519755025)?

[2020-04-08 12:17] reoxey opened #89956 "Incorrect /etc/resolv.conf file inside pod in kubernetes"
Hi, I have a DNS issue with Kubernetes in GCP.
[code]
The issue is that the` /etc/resolv.conf` file is incorrectly written in some pods.
Pod 1
[code]
instead of Pod2:
[code]
Is it a bug? Or am I doing something wrong? This used to never happen before. Could it be this version of K8s?

Here's YAML which caused the issue.

[code]

[2020-04-08 12:19] deads2k opened #89957 "kube-apiserver doesn't fail when APIPriorityAndFairness is enabled, but API is off"
This leaves the feature in a half-enabled state that is failure unstable.

@kubernetes/sig-api-machinery-bugs

[2020-04-08 12:27] klueska commented on #77073
Note, this is a workaround more than a fix.

To use this workaround you will need to use the new daemonset spec `nvidia-device-plugin-compat-with-cpumanager.yml` instead of the default one.

This spec does two things different from the default one:
1) It adds a new argument to the plugin executable for `--pass-device-specs`
2) It launches the plugin as `--privileged`

If you don't want to use the

[2020-04-08 12:30] zhaoguangqiang opened #89958 "kubernetes api-server memory is increasing"
**What happened**:
When i using kubernetes, my api-server memory is increasing to 8G: but i only have 2 nodes and 3 masters

**What you expected to happen**:
I need a api-server with normal memory usage:

**How to reproduce it (as minimally and precisely as possible)**:
It a little difficult, it always grows unconsciously.But i found memory always grow after run helm3 install promethues and grafan

[2020-04-08 12:43] zionwu commented on #64185
I noticed this recently and I also think it is more reasonable to have resources limit less than node allocatable resources.

@k82cn @resouer, could you please help to explain why it is designed in the way that resources limit can exceed allocatable resources?

[2020-04-08 13:43] #81220 closed

[2020-04-08 13:48] ican2002 commented on #78286
/remove-lifecycle rotten

[2020-04-08 13:51] ican2002 commented on #78286
I suggest k8s add feature such as delay some time before k8s call the hook. such as:
        lifecycle:
          postStart:
            httpGet:
              **Delay: 0.5s**
              port: 8080
              path: /

[2020-04-08 13:52] ican2002 commented on #78286
/remove-lifecycle stale

[2020-04-08 14:03] liggitt commented on #89938
it looks like the thing sent in the apply patch to indicate removal (a `null` value in a `stringData` item) gets coerced to `""` by the JSON decoder, so by the time conversion merges/moves the `stringData` into `data`, it can't tell the difference between removal and addition of an empty string item :-/

[2020-04-08 14:09] brianpursley opened #89960 "Human readable duration formats exact year inconsistently"
**What happened**:
When the duration is **exactly** 2 years or 3 years, human readable duration is returned as `2y0d` or `3y0d`.  But when the duration is exactly 4 years, 5 years, etc, the human readable duration is returned as `4y`, `5y`, etc.

**What you expected to happen**:
The format of an exact year should be consistent.  Remove `0d` when duration is an exact year:
* `2y0d` should be `2y`
*

[2020-04-08 14:10] brianpursley commented on #89960
/sig api-machinery

[2020-04-08 14:11] brianpursley commented on #89960
/good-first-issue

[2020-04-08 14:13] pierluigilenoci commented on #69461
/remove-lifecycle stale

[2020-04-08 14:15] mulatinho commented on #58065
I would love to get this feature, same problem here.

[2020-04-08 14:16] alculquicondor commented on #89552
It looks like this is not an issue in 1.17 and below, because we preserved a placeholder node where the operations occur.
@mYmNeo do you have stacktraces for 1.17 and 1.16?

[2020-04-08 14:21] cristichiru commented on #30656
On the node that runs the pod:

[code]

[2020-04-08 14:22] azizzoaib786 commented on #70674
--force works.

[2020-04-08 14:29] serathius opened #89961 "Upgrade to klogv2"
As part of Structured Logging effort we will be upgrading klog to version 2. This issue will propose plan for upgrading all dependencies and be used to maintain progress.

Part of https://github.com/kubernetes/enhancements/issues/1602

Plan:
* [x] Cut klog release 2.0.0 (@dims)
* [x] Send PRs to k/k dependencies upgrading klog (taken from https://github.com/kubernetes/kubernetes/pull/89717#issueco

[2020-04-08 14:35] dims commented on #89961
@serathius please add me to utils repo as well.

[2020-04-08 14:38] bitscuit commented on #89960
Could I pick this up as my first issue?

[2020-04-08 14:55] dims commented on #89961
/sig instrumentation
/area code-organization

[2020-04-08 15:04] treytabner commented on #66844
I'm seeing this with 1.16.8 as well

[2020-04-08 15:06] serathius commented on #89961
/cc @44past4

[2020-04-08 15:10] damemi commented on #89930
/label help-wanted

[2020-04-08 15:12] serathius commented on #89961
/cc @yuzhiquan

[2020-04-08 15:14] brianpursley commented on #89960
Absolutely.  Just use `/assign <your-github-username>` to assign it to yourself.

[2020-04-08 15:14] serathius commented on #89961
/cc @mm4tt

[2020-04-08 15:16] gavinfish commented on #89930
/cc

[2020-04-08 15:18] brianpursley commented on #89960
Also I just updated the issue description.  Check the other exact years 4, 5, 6, 7 because they might also have the problem, I can't remember.

I know 8 and beyond don't have the problem because it just stops showing days after 8 years.

[2020-04-08 15:18] bitscuit commented on #89960
/assign bitscuit

[2020-04-08 15:26] liggitt commented on #89958
* is the the kube-apiserver process that is growing in memory use, or some other process on the master node?
* is something creating ever-increasing numbers of API objects?
* do you have API server logs showing request rate/type?

[2020-04-08 15:27] liggitt commented on #89953
/remove-kind regression

before adding this label, please provide information about the specific previous release where the behavior you are expecting worked differently

[2020-04-08 15:31] #89080 closed

[2020-04-08 15:45] liggitt opened #89964 "HPA conversion serializes internal struct to annotation"
**What happened**:
Found while fixing #88738 in #89963

The internal Spec.Behavior field is serialized to annotations when converting to v1 or v2beta1 HPA types. This causes several problems:
* The internal type does not have json tags, so the data is serialized upper-case
* The internal type is not guaranteed to preserve field layout/names, so the serialized data can become incompatible if that h

[2020-04-08 15:46] ialidzhikov commented on #89953
I tested the steps to reproduce with v1.17.4 + in-tree volume drivers and the result is the same. So my assumption was that this is a regression coming with CSI, but it looks like it is not the case.
Thanks for the note @liggitt .

[2020-04-08 15:46] alculquicondor commented on #89930
/help

[2020-04-08 15:48] liggitt commented on #89953
thanks for the update

/remove-sig scheduling

when specifying .spec.nodeName, scheduling is not involved

[2020-04-08 15:58] rajatchopra commented on #89440
@kmala You are right. The PR #89541 only provides a grace period, it does not guarantee that CNI is finished.
The removal of network namespace does not work well with Infiniband devices, so we need this allowance.

@thockin Can we re-open this issue? Thanks.

[2020-04-08 15:59] ialidzhikov commented on #89953
Ok, but isn't the kube-scheduler responsible for setting the `volume.kubernetes.io/selected-node` annotation?

[2020-04-08 16:00] nrvale0 commented on #30656
@cristichiru For most of the clusters in which I've operated there is no direct shell access to the underlying Node. I suspect that's often the case for others as well.

[2020-04-08 16:05] lavalamp commented on #22024
Yes, I'm totally open to the message being improved.

[2020-04-08 16:09] #89488 closed

[2020-04-08 16:14] seans3 commented on #89600
/area kubectl

[2020-04-08 16:25] tedyu commented on #89949
[code]
Have you inspected kubelet.log to see why "container-a" couldn't start ?

[2020-04-08 16:30] AceHack commented on #69264
Is this fixed in EKS 1.15?

[2020-04-08 16:58] Huang-Wei commented on #68981
@raravena80 I think this issue can be resolved by using the feature PodTopologySpread (beta in 1.18) - you and define NodeAffinity/NodeSelector spec, along with the TopologySpreadConstraints, so the Pods can be scheduled in an absolute (maxSkew=1) even manner, or relatively even (maxSkew >=2).

[2020-04-08 16:59] Huang-Wei commented on #89922
We can keep this open for now, and close this until we have a promising proposal.

[2020-04-08 17:01] jbguerraz commented on #23864
same need here for media streaming.

[2020-04-08 17:02] ucabsdp commented on #89953
I've also encountered similar issues with PVCs which just started today, autoscaling pods created via HPA are staying in ContainerCreating state with issue:
`Warning  FailedAttachVolume  29m                 attachdetach-controller                             Multi-Attach error for volume`
 `Warning  FailedMount         33s (x13 over 27m)  kubelet, gke-daisy-test-default-pool-856721bc-0slq  Unable

[2020-04-08 17:31] dexterpuru commented on #56980
I ran this
kubectl patch configmap/aws-auth -n kube-system --patch /aws-auth-patch.yml
but it shows the same error

[2020-04-08 17:36] liggitt opened #89966 "Static control plane pods do not have priority set"
**What happened**:
https://github.com/kubernetes/kubernetes/pull/80491 changed all static pods to be considered critical. If two pods are both critical, the relative numeric priority determines which one preempts the other. However, the static control plane pods in the `cluster` dir do not have numeric priorities assigned to them.

**What you expected to happen**:
Control plane pods are not preemp

[2020-04-08 17:37] liggitt commented on #89966
It also looks as though they try to set priority class, but have a typo in the field name ("priorityClass" instead of "priorityClassName")

[2020-04-08 17:44] raravena80 commented on #68981
@Huang-Wei yes that works. I'll close this. Thanks!

[2020-04-08 17:44] #68981 closed

[2020-04-08 17:45] alculquicondor commented on #89922
/remove-sig scheduling
/remove-sig cluster-lifecycle

/sig apps
/area controller-manager

[2020-04-08 17:50] yastij commented on #82827
/remove-lifecycle stale
/lifecycle frozen

[2020-04-08 17:51] yastij commented on #82846
/remove-lifecycle stale
/lifecycle frozen

[2020-04-08 18:02] zedtux commented on #68981
https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

[2020-04-08 18:16] ialidzhikov commented on #89953
@ucabsdp , there is no error message like `timeout expired waiting for volumes to attach or mount for pod` in the description of this issue. You can simply open a new issue for the things you observe. Thanks!

[2020-04-08 18:27] Huang-Wei commented on #87784
Thanks Aldo for the wrap-up!

[2020-04-08 18:27] burningalchemist commented on #79610
Hi! I'm sorry to bump it up again, but could you advise any workaround if there's no solution to that yet? It seems that added CRDs (particularly, in Operator case) have to stay in the cluster forever even if they're not needed. Otherwise, there's a lot of spam in `kube-controller-manager`.

[2020-04-08 18:40] soltysh commented on #89600
This was discussed earlier today during SIG-CLI and the overall sentiment is that this won't be solved. We advised towards either improved server-side describe which at some point will allow further dynamic printing (maybe in the future), but overall the suggestion was that original author should check out server-side apply to start with.

I'm going to close this for now, feel free to re-open if t

[2020-04-08 18:41] #89600 closed

[2020-04-08 18:48] #72472 closed

[2020-04-08 18:58] liggitt commented on #88738
Fixes open for review:

* master - #89963
* 1.18.x - #89965
* 1.17.x - #89967
* 1.16.x - #89968
* 1.15.x - #89969

[2020-04-08 19:00] hklohar commented on #47862
+1

[2020-04-08 19:32] spiffxp commented on #75355
/remove-lifecycle stale
/remove-priority critical-urgent
/priority important-longterm
Not in the top ten, but it still flakes occasionally
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pr%3Apull-kubernetes-e2e&test=PodReadinessGate#1bbe547ede96bdf02b07

[2020-04-08 19:34] M00nF1sh commented on #69264
@AceHack yes

[2020-04-08 19:50] andrewsykim commented on #88698
@xmath279 I'm unable to reproduce this bug after several attempts, are you able to provide more details? Specifically (as Tim mentioned) it would be nice to know what source address you are seeing on the nodes where the loadbalancer traffic arrives.

Also wondering what you have set for `externalTrafficPolicy`. In some scenarios using `externalTrafficPolicy: Cluster`, it's possible that traffic wi

[2020-04-08 19:59] BenTheElder commented on #75355
I'm pretty sure we still blacklist this test in most kind CI because it's
too flaky.

On Wed, Apr 8, 2020 at 12:32 PM Aaron Crickenberger <
notifications@github.com> wrote:

[2020-04-08 20:37] #89458 closed

[2020-04-08 20:54] xmath279 commented on #88698
@andrewsykim @thockin

The LoadBalancer service is pretty much what I posted above, so `externalTrafficPolicy` is set to `Local`. You can find it at the end of this post too.

Here is the information requested:

### Example of traffic that should have been filtered but wasn't:

Output of a TCPDump directly on the node:
[code]

Output of a TCPDump inside the MySQL container:
[code]

### Here is an

[2020-04-08 20:58] ahg-g commented on #89521
new metrics look ok, we can now remove the deprecated ones:
binding, predicate_evaluation, priority_evaluation and preemption_evaluation

[2020-04-08 21:41] andrewsykim commented on #88698
Thanks for the details @xmath279. Are you also able to share the iptable rules on the host (run `sudo iptables-save`)?

[2020-04-08 21:43] Drugoy commented on #64168
Can we have the same functionality added for `kind: DeploymentConfig`?

[2020-04-08 22:23] caseydavenport commented on #78994
@hakman I am slightly wary of changing the  insert mode to "append" as a final solution to this - it opens up a window for other iptables users to bypass network policy that would otherwise be enforced by Calico, which isn't great. In terms of rule ordering, it looks to me like putting the CALI rules after the KUBE-* rules is fine because the KUBE-* rules only act on connections that have already

[2020-04-08 22:48] gae123 commented on #41881
@rikatz would this allow for *-foo.bar.com match both a-foo.bar.com and b-foo.bar.com

This is what we need in one of the projects I am involved and this is why I have been following this ticket

[2020-04-08 23:20] kwiesmueller commented on #85750
/remove-lifecycle stale

[2020-04-08 23:44] engelmav commented on #47711
Good catch!

[2020-04-09 00:30] MikeSpreitzer opened #89985 "Update of a non-existent object returns 409 instead of 404"
**What happened**:
[code]
The contents of `z` are:
[code]

I get similar results with configmaps.

**What you expected to happen**:
I expected to get a 404 Not Found

**How to reproduce it (as minimally and precisely as possible)**:
As above.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): current `master` branch, commit 0393b5994a0e02f0a0f3fb50

[2020-04-09 00:31] MikeSpreitzer commented on #89985
@kubernetes/sig-api-machinery-bugs

[2020-04-09 00:31] MikeSpreitzer commented on #89985
@matte21
@liggitt

[2020-04-09 00:35] liggitt commented on #89985
When the incoming object has a precondition (uid or resourceVersion), a conflict error is an allowed response. I think the error message should be made clearer, but we should think carefully before changing the return status code.

[2020-04-09 00:39] MikeSpreitzer commented on #89985
Fair enough.

[2020-04-09 00:39] agowa338 commented on #23864
Until now I just found one solution for implementing this, by changing the networking stack k8s to: https://fosdem.org/2020/schedule/event/rethinking_kubernetes_networking_with_srv6/

[2020-04-09 00:41] liggitt commented on #89985
(Discussion/context at https://kubernetes.slack.com/archives/C0EG7JC6T/p1586381612318200)

[2020-04-09 00:54] #85051 closed

[2020-04-09 01:17] like-inspur commented on #89951
/sig usability

[2020-04-09 01:17] zhijianli88 commented on #89961
/cc @zhijianli88

[2020-04-09 01:26] cofyc commented on #74650
/remove-lifecycle stal

[2020-04-09 01:26] cofyc commented on #74650
/remove-lifecycle stale

[2020-04-09 01:28] gongguan commented on #89807
hi @dashpole , is container-level pid metrics implementable now? I'm glad to do follow up work.

[2020-04-09 01:29] vllry commented on #89265
Linked PR appears to address this, closing.

/close

[2020-04-09 01:29] #89265 closed

[2020-04-09 01:41] tanjunchen commented on #89016
/assign @tanjunchen

[2020-04-09 01:42] tanjunchen commented on #89016
/remove-help
/remove good first issue

[2020-04-09 01:43] vllry commented on #89263
This would be extremely useful.

I have worked around this by using a preStop, which curls an internal service, which allows the call to return only when the calling pod is fully deregistered from the load balancer. The preStop is particularly awkward to do as an infra/service boundary crossover. Anyone who uses this ingress needs the preStop to do this, which is extra awkward for custom preStop u

[2020-04-09 01:43] vllry commented on #88986
/triage unresolved

[2020-04-09 01:54] jejer opened #89987 "HostName entry missing in node.addresses populated by legacy OpenStack cloud-provider"
**What happened**:
HostName missing in addresses of the node description since kubernetes 1.16

**What you expected to happen**:
Populate HostName like the previous releases such as 1.15.
https://kubernetes.io/docs/concepts/architecture/#addresses

**How to reproduce it (as minimally and precisely as possible)**:
Deploy kubernetes in OpenStack with legacy OpenStack cloud-provider, then check the n

[2020-04-09 01:55] jejer commented on #89987
/sig cloud-provider

[2020-04-09 02:04] hase1128 commented on #89961
/cc

[2020-04-09 02:05] mYmNeo commented on #89552
Yes, it seems only be found at 1.18. :smile:

[2020-04-09 02:17] lancelot1989 commented on #89949
we read the container log, "container-a" couldn't start because of its startup shell timeout. "container-a" has a startup shell which startup a main process in background then check the process's health periodically with a 20s timeout. If main process couldn't be healthy in 20s, the startup shell will exit with exit code '1' which cause the container exit unusually. In usual the main process takes

[2020-04-09 02:21] zhaoguangqiang commented on #89958
Thanks your reply!!!

 kubectl top pod -n kube-system
kube-apiserver-ni-k8s-1            122m         5484Mi
kube-apiserver-ni-k8s-2            73m          798Mi
kube-apiserver-ni-k8s-3            178m         4356Mi

NAME           CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
ni-k8s-1       332m         16%    6820Mi          91%
ni-k8s-2       224m         11%    2265Mi          30%
ni-k8s-3

[2020-04-09 02:22] tanjunchen commented on #89961
/cc

[2020-04-09 02:29] tanjunchen commented on #89930
/cc

[2020-04-09 02:34] tanjunchen commented on #89082
/cc

[2020-04-09 03:11] dashpole commented on #89807
I haven't raised this at sig-node yet.  I'll ask and see what the general direction we want to go is...

[2020-04-09 03:41] SataQiu commented on #89923
Hi @uablrek, feel free to send a PR please,  as you have took this already :)
I'd like to help review it!

[2020-04-09 03:48] thockin commented on #89263
I'm not sure that a bool carries enough info.  I don't have a strong sense
of "correctness" for this design yet.

It could be a `preTerminationGarcePeriod` time (equivalent to the sleep in
preStop).

It could be `podTerminationGates` (akin to readinessGates).

It could be a different `lifecycle` hook maybe.

It could be simply adding a `sleep` action to preStop maybe.

Obviously, time-based models

[2020-04-09 03:57] #77024 closed

[2020-04-09 04:19] Ark-kun commented on #78879
For me `kubectl cp` never copies anything and never writes any info to console. Even if I point it to non-existing pod, it just exists with no trace.

[2020-04-09 04:20] lgypro opened #89993 "Cannot access service using service ip from node of the cluster"
**What happened**:

I have a kubernetes cluster on Goolge Compute Engine, its version is v1.18.0. It consists of three nodes: 1 master and 2 workers. I deploy a nginx service on it, and want to access it through server ip (cluster ip) on any node of the cluster. But it doesn't work properly. I have checked deployments, pods, endpoints, services, and kube-proxy configuration, no error message. What

[2020-04-09 04:28] hien commented on #89993
Hi @lgypro

Did you try other CNI plugin such as Calico ? . There's a similar issue here (#[88986](https://github.com/kubernetes/kubernetes/issues/88986))

[2020-04-09 04:53] lgypro commented on #89993
/sig network

[2020-04-09 05:13] #89957 closed

[2020-04-09 05:58] wzxmt opened #89994 "kube-controller-manager: "Unexpected EOF during watch stream event decoding""
**What happened**:
I encountered some problems in the binary deployment of k8s 1.18, the controller-manager has some error messages "Unexpected EOF during watch stream event decoding: unexpected EOF"
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Log level: v2
Apr 09 13:49:22 m1 kube-controller-manager[2156]: I0409 13:49:22.700867    2156 stream

[2020-04-09 06:11] wzxmt commented on #89994
Sorry, I do n’t quite understand, what should I do?

[2020-04-09 06:20] johscheuer commented on #89993
Are you able to directly call the nginx pods e.g. `curl 10.244.2.9`? In the end the cluster IP will be "resolved" to the pod IP and if the pod is not reachable you will get the timeout. If not the issue  is on the CNI side and you need to debug flannel or switch to something else.

[2020-04-09 06:45] zuzzas commented on #74839
I've been hitting this exact problem for packets between a Pod and the outside world.
So the DROP rule has to go into the INPUT chain. Is it the job of a CNI driver or the kube-proxy?

[2020-04-09 07:04] fandu139 commented on #49637
if you have a problem like this on deployment action github
[code]
you can check your flow and your code,  here I assume you using program language `golang` :
1. make sure your project run success in your local. example (go run main.go)
2. after your project is run, you can `build` and `push` your image docker. here i'm use command ( `gcloud builds submit --tag gcr.io/[PROJECT_ID]/[IMAGE_NAME] .`

[2020-04-09 07:05] gongguan commented on #84990
It has been fixed, see
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/autoscaling/v2beta2/doc.go#L20

[2020-04-09 07:09] fenggw-fnst commented on #89961
/cc

[2020-04-09 07:21] iceman739 commented on #45509
I think it's much more extensible that different applications have their own judgment logic exposed through the same interface

[2020-04-09 07:40] lgypro commented on #89993
I can directly call the pod's ip on any node of the cluster and I also can use service name and service ip in another pod, but I cannot use service ip on node of the cluster.
[code]

[2020-04-09 07:49] lgypro commented on #89993
It may be a little hard to reproduce this scenario.
Any one who interested in this issue can use my configuration file
[code]

[2020-04-09 07:59] aojea commented on #89993
@lgypro flannel has a known issue, as mentioned in a previous comment, with that versions of the kernel you are using,  please check the workaround indicated in this comment
https://github.com/kubernetes/kubernetes/issues/88986#issuecomment-600100403
or try using other CNI plugin

Thanks for the great detail and explanation, if you don't mind will close to avoid having multiple duplicate issues  h

[2020-04-09 08:00] #89993 closed

[2020-04-09 08:05] aojea commented on #89958
if you are using kubeadm the kube-apiserver should be a pod, you can find it with:

[code]

and get the logs with:

[code]

[2020-04-09 08:19] fromanirh commented on #84869
/reopen
/remove-lifecycle rotten

[2020-04-09 08:21] windniw commented on #89956
@reoxey Could you show pod1's yaml? It look like Pod1 working in hostNetwork while Pod2 not

[2020-04-09 08:23] heckad opened #89995 "Unexpected startupProbe behavior."
If I have `startupProbe` probe and `readinessProbe` then all good. Previous version of the pod is terminated after startup probe success, but if  `readinessProbe` wasn't specified the pod becomes ready immediately. It would be nice to add new state (for example starting) which would have pods until a `startupProbe` is successful. Also, it would mean that container not ready for connection.

Thank

[2020-04-09 08:48] ygqygq2 opened #89997 "How to extend the auto-exit time of POD entry?"
env
k8s: v1.14.3
kubectl: v1.14.3

After 3 seconds, pod auto exit when use kubectl enter pod.

[code]

[2020-04-09 08:49] zhaoguangqiang commented on #89958
I only have these kube-apiserver, cannot find a pod like kube-apiserver-kind-control-plane
My kubeadm version is 1.16.3. Your version is 1.17.2.
Version 1.16+ may be not have this pod ?

kube-apiserver-ni-k8s-1            1/1     Running     2          21h
kube-apiserver-ni-k8s-2            1/1     Running     3          21h
kube-apiserver-ni-k8s-3            1/1     Running     2          21h

[2020-04-09 09:22] uablrek commented on #89923
@SataQiu The "addresses" are really CIDRs which make the fix even simpler.

[2020-04-09 10:03] #85081 closed

[2020-04-09 10:13] aermakov-zalando commented on #75674
/remove-lifecycle stale

[2020-04-09 10:38] saravana-code commented on #61551
i have the same problem in
Client Version: version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.10-eks-ee8ff", GitCommit:"ee8ffc99be2f6c6caab3cfe890227151b37faf8d", GitTreeState:"clean", BuildDate:"2019-09-24T21:49:34Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"windows/amd64"}

[2020-04-09 11:04] #84340 closed

[2020-04-09 11:26] dims commented on #82905
@seans3 @pwittrock @monopole @soltysh ping! i started an email thread and pinged you all on slack as well.

[2020-04-09 11:41] g-pavlov commented on #83377
/reopen

It would be great at least to have some statement from assignee already or reassign to somebody who could actually move this forward with argumentation for closing or fixing.

[2020-04-09 11:42] shturec commented on #83377
/reopen

It would be great at least to have some statement from assignee already or reassign to somebody who could actually move this forward with argumentation for closing or fixing.

[2020-04-09 11:45] franckleveque commented on #83471
Same problem here, pods get stuck on ContainerCreating step. when trying a kubectl describe pod, it indicate that last event is a Pulling event ie :

Normal  Pulling    13m   kubelet, franck-lenovo-z70-80  Pulling image "jboss/keycloak"

[2020-04-09 11:47] rikatz commented on #88986
/remove-sig architecture
/remove-triage unresolved
/triage needs-information

@vllry as this needs to be checked against different Kernels and it seems more an OS and CNI issue than k8s, WDYT? Otherwise I can return into triage unresolved.

Tks!

[2020-04-09 11:52] middlestone opened #90003 "kubemark: e2e test case LocalStorageCapacityIsolation failed."
**What happened**:
the e2e test case "validates local ephemeral storage resource limits of pods that are allowed to run [Feature:LocalStorageCapacityIsolation]" failed.

•! Panic [3.213 seconds]
[sig-scheduling] SchedulerPredicates [Serial]
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scheduling/framework.go:40
  validates local ephemeral storage resource limits o

[2020-04-09 11:56] middlestone commented on #90003
/sig Testing

[2020-04-09 12:05] #79590 closed

[2020-04-09 12:05] #85087 closed

[2020-04-09 12:07] rikatz commented on #41881
By my tests no. It supports *.domain.com or *.system.domain.com, but not a sub-registry wildcard (as *-a.example.com, *xpto.example.com).

[2020-04-09 12:10] wojtek-t commented on #78481
/remove-lifecycle stale

[2020-04-09 12:12] ialidzhikov opened #90004 "kube-scheduler invalid memory address or nil pointer dereference"
**What happened**:
kube-scheduler panics with `invalid memory address or nil pointer dereference`.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. I see the following logs from kube-scheduler

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.18.0
- Cloud provider or hardware config

[2020-04-09 12:14] ialidzhikov commented on #90004
/sig scheduling

[2020-04-09 12:18] rikatz opened #90005 "Wildcard unable to be converted in new ingress objects"
**What happened**: Kubernetes 1.18 now supports wildcards into hosts specs. But when using a simple yaml example it raises a json conversion error.

Converting the yaml to json by hand and applying the json works fine

**How to reproduce it (as minimally and precisely as possible)**:

* Create a simple ingress yaml file and then apply it:

[code]

[code]

Now convert it to json and apply it:
[code

[2020-04-09 12:19] rikatz commented on #90005
/sig cli
/area kubectl

[2020-04-09 12:20] rikatz commented on #90005
I've put the area as kubectl, although I think this is more related to some conversion library from client-go maybe

[2020-04-09 12:38] navidsh commented on #89906
Thx @alexzimmer96.

I'm trying to see if this requirement is documented somewhere. The only thing I found is this:

https://github.com/kubernetes/kubernetes/blob/0fd4beb089a31642d7f86bb561b66568ab4afa59/pkg/apis/core/types.go#L4785-L4790

[2020-04-09 12:51] liggitt commented on #90005
Doesn't the wildcard string need to be quoted?

[2020-04-09 12:52] MikeSpreitzer commented on #89985
On further reflection: the primary conflict is between the expectation that the object exists and the fact that it does not.  I think "Not found" is the best response.

I stumbled upon this not because my controller couldn't handle the Conflict response, but because I went trolling through telemetry looking for system misbehavior.  It is honestly surprising to a developer of clients (controllers)

[2020-04-09 12:52] shashank-k commented on #89868
After upgrading it worked. I dont have the logs now sorry. Closing it now. But thanks for help

[2020-04-09 12:52] #89868 closed

[2020-04-09 12:53] OktaySavdi commented on #13382
the problem seems to be a **proxy** error

[code]

[2020-04-09 12:54] neolit123 commented on #89966
for kubeadm's static control-plane pods, we use "system-cluster-critical". might have been more accurate to use the higher priority of "system-node-critical".

[2020-04-09 12:55] alexzimmer96 commented on #89906
I think a secret must be capable of holding binary data, because you can create a secret from file. So, storing binary data inside a secret is not the problem - The problem is to try to use this binary data in a environment variable. Because of this, i don't think its actually documented somewhere.

[2020-04-09 12:59] santmcodes commented on #37471
same issue with me as well

$  kubectl exec -it nfs-server -n testnm -- bash
Unable to use a TTY - input is not a terminal or the right kind of file

[2020-04-09 13:01] rikatz commented on #90005
:facepalm:

Sorry @liggitt, I've been following strictly the blog post into kubernetes blog.

I'll ask them to correct this.

/close

[2020-04-09 13:01] #90005 closed

[2020-04-09 13:04] liggitt commented on #89966
IIUC, system-cluster-critical means "it's ok for this pod to be evicted from *this* node by a system-node-critical pod, but it should have priority over all user pods"

for control-plane static pods, I would not expect it would be ok for the pods to be evicted from their nodes

[2020-04-09 13:06] szimonek commented on #89903
@tedyu
I see in code you mentioned that in my case cAdvisor connection is invoked with "legacy" stats (`cadvisor.UsingLegacyCadvisorStats`) but I've no idea what legacy means. If it means lack of container level statistics, then from Prometheus Adapter point of view this is a bug.

[2020-04-09 13:09] neolit123 commented on #89966
i can send a PR to update this for 1.19, but not backport, mostly because we haven't seen user complains (yet).

[2020-04-09 13:14] liggitt commented on #89985
In the abstract, I would have expected a NotFound as well. The question is whether changing from a Conflict error to a NotFound error could be a breaking change.

[2020-04-09 13:26] gongguan commented on #90004
duplicate as [#89552](https://github.com/kubernetes/kubernetes/issues/89552)

[2020-04-09 13:35] matte21 commented on #89985
I agree that the most natural response is NotFound. Besides: when attempting to update a resource that has been deleted the sensible behavior is to stop after the 1st request failure, but a Conflict error might be handled by a client with a retry, which would be useless.

[2020-04-09 13:36] liggitt commented on #89985
correct handling of a conflict would get the current item to refresh the uid or resourceVersion precondition, at which point the NotFound error would be encountered, right?

[2020-04-09 13:42] ialidzhikov commented on #90004
Thanks for the update @gongguan . I see that the fix is merged in the master and cherry-pick PR is open.

/close

[2020-04-09 13:42] ialidzhikov commented on #90004
/close

[2020-04-09 13:42] #90004 closed

[2020-04-09 13:45] navidsh commented on #89906
Wondering if that's a container runtime or Kubernetes limitation.
I'm able to create an env var in macOS with `export P12=$(cat bob.p12)` and I can see the env var getting the correct binary value.

[2020-04-09 13:54] matte21 commented on #89985
I know very little about the code dealing with preconditions, so I wouldn't know :( .

But on further reflection, the most sensible behavior for a controller's worker that receives a Conflict error is to halt processing w/o re-enqueuing the object's namespace name, knowing that a create/update notification that carries the most recent version of the object will be received by the informer and trig

[2020-04-09 14:01] alexzimmer96 commented on #89906
After a [short google research](https://unix.stackexchange.com/questions/510516/how-to-view-the-binary-contents-of-environment-variables) it seems that its not possible to store the NUL-char inside a linux environment variable, but your binary stream could contain one. So it seems like a bad idea to actually to this just because you can in some cases.

[2020-04-09 14:04] boniek83 commented on #17512
In order for this tool to be truly useful it should detect all kubernetes device plugins deployed on cluster and show usage for all of them. CPU/Mem is definetly not enough. There's also GPUs, TPUs (for machine learning), Intel QAT and probably more I don't know about.

[2020-04-09 14:26] MikeSpreitzer commented on #89985
@liggitt : how shall we evaluate whether switching from Conflict to NotFound in this situation is a breaking change?

I can think of three approaches.  One is testing, another is thinking about coding patterns, and a third is surveying the code.  The normal PR processing does some testing, including a sample of the E2E tests.  A submitter could do all the E2E tests, right?  How long would that tak

[2020-04-09 14:34] treytabner commented on #66844
This is reproducible by forcing key rotations (using the `aescbc` provider) over and over as described here: https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#rotating-a-decryption-key

I used `watch -n0.25 kubectl get secret -A` during rotations and eventually I get the error:  `Error from server (InternalError): Internal error occurred: unable to transform key "/registry/secrets/

[2020-04-09 14:35] davidB commented on #17512
@boniek83 , It's why I created [kubectl-view-allocations](https://github.com/davidB/kubectl-view-allocations), because I need to list GPU,... any feedback (on the github project) are welcomes. I curious to know if it detects TPU (it should if it is listed as a Node's resources)

[2020-04-09 14:36] M0rdecay commented on #15478
Function still needs to be implemented
/reopen

[2020-04-09 14:38] M0rdecay commented on #15478
Okay, i understood

[2020-04-09 14:46] liggitt commented on #89985
I would lean toward improving the way the existing conflict error is presented to make it clearer what is going on, and leave it at that. Changing the fundamental error that is returned in this case has non-zero risk, and in my opinion little benefit over simply clarifying the message.

[2020-04-09 14:46] jimcasteleiro commented on #79224
+1 reopen

[2020-04-09 14:49] #87756 closed

[2020-04-09 14:53] navidsh commented on #89906
Thx for helping on this. Closing the issue

[2020-04-09 14:53] #89906 closed

[2020-04-09 15:08] vipinponnarath commented on #89932
Yes, it is normal.

[2020-04-09 15:39] wawa0210 opened #90009 "static-pod cannot be normally registered in the cluster after setting the limitrange"
**What happened**:

I configured a static-pod, the example is as follows(At this time, no limitrange rules are set under the default namespaces)

[code]
At this time, the static-pod can start normally and successfully registered to the apiserver

Later, limitrange was set under this namespace, and at the same time I modified the resource quota of static-pod，the statid-poc yaml as follows:

[code]

[2020-04-09 15:41] wawa0210 commented on #90009
If necessary, I can contribute this pr

/assign

[2020-04-09 15:42] wawa0210 commented on #90009
/sig api-machinery

[2020-04-09 15:54] damemi commented on #89930
Just to note, another key part of this is not only cleaning up our usages but making sure that doesn't cause unnecessary duplication or interfere with other components.

For example, if we import constant `foo.Bar` and want to clean up the dependency by moving `Bar` to our package, we should check for other usages of `foo.Bar` in kubernetes code. If it's not used anywhere else we should delete it

[2020-04-09 15:55] yuzhiquan commented on #89930
/c c

[2020-04-09 16:06] serathius commented on #86058
/sig instrumentation

[2020-04-09 16:16] pwittrock commented on #82905
@dims Thanks for the ping.  Quick update on the status for this.

TLDR: we are actively working towards this on 2 fronts.

## Background

IIUC from @monopole, the migration to go-modules made updating kustomize as it exists today infeasible.

We've explored a number of approaches updating kustomize while keeping the dependencies on apimachinery over the past 9 months, none of which has panned out.

[2020-04-09 16:29] grosser commented on #72944
/remove-lifecycle stale

[2020-04-09 16:29] gball14 opened #90011 "How to force restart a POD based on init-container"
I want to restart the pod if the init container can not execute nslookup successfully i.e. there is an issue with dns set up for the pod. I tried the below command for init-container to understand the behaviour. But, kubernetes just restart the container and not the pod.

command: ['sh', '-c', 'echo The app is running! && exit 1;']

[2020-04-09 16:33] treytabner commented on #66844
This is also reproducible by disabling encryption and rewriting the secrets (https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#decrypting-all-data) and setting up a new encryption key (https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#encrypting-your-data) -- in less than 2 hours of testing the error appeared: `Error from server (InternalError): Internal error occur

[2020-04-09 16:40] apelisse opened #90012 "Do not record managedFields for specific requests/object/types"
As an example (but there are probably other scenarios we need to investigate), events are recording the managedFields even though it's mostly irrelevant. As a consequence, events are much bigger and since they can be quite frequent, this can cause some problems.

A control to decide what is tracked or not can be considered at different levels:
- Per request: one can disable tracking fields for a s

[2020-04-09 16:40] apelisse commented on #90012
/wg apply

[2020-04-09 16:42] jpmcb commented on #40610
+1 for this as well

We would like access to this information in order for a highly available data store service to know which `[topology.kubernetes.io/region, topology.kubernetes.io/zone]` the data store processes are running. Without this information, we could end up in a scenario where data is stored in only a single region or zone. Upon that region becoming unavailable, it's possible the data

[2020-04-09 16:56] gball14 commented on #90011
/sig sig-scheduling

[2020-04-09 17:01] alculquicondor commented on #87784
/reopen

We still have pending work here :)

[2020-04-09 17:04] gball14 commented on #90011
/sig scheduling

[2020-04-09 17:04] lavalamp commented on #90012
I don't agree we need to disable recording managed fields. I think marking something root-level in the object as atomic is sufficient.

[2020-04-09 17:13] skilxn-go commented on #90011
What do you mean for "restarting a pod".

[2020-04-09 17:19] gball14 commented on #90011
I want kubernetes to restart the pod so that networking/storage initialization happens again (which changes the POD IP). Right now, it just restarts the init-container. I have ocasionally seen cases where the DNS isn't programmed correctly for a POD (windows containers). I got around the issue by deleting the POD and the new one comes up fine.

I am trying to do the dns check in the init container

[2020-04-09 17:21] boniek83 commented on #17512
I'm aware of your tool and, for my purpose, it is the best that is currently available. Thanks for making it!
I will try to get TPUs tested after Easter. It would be helpful if this data would be available in web app format with pretty graphs so I wouldn't have to give any access to kubernetes to data scientists. They only want to know who is eating away resources and nothing more :)

[2020-04-09 17:31] xmath279 commented on #88698
@andrewsykim

Sure thing, here it is:

### IPTables rules when port is incorrectly open
https://gist.github.com/xmath279/68ef6e25eb266108c8a4d5c073b7f6e6

### IPTables rules when port is properly closed
https://gist.github.com/xmath279/93e40a5be39fb812734018cb48e30e75

[2020-04-09 17:47] relyt0925 commented on #87615
Just another case:

We are seeing this in Kube 1.16.8 clusters as well. Rebooting the VM can be used to bring the node back to a good state (I suspect a kubelet restart would have worked as well).

Our setup kubelet talks to a local haproxy instance over localhost which acts as a tcp load balancer to the multiple backend master instances. We are going to investigate if adding
[code]

To our load b

[2020-04-09 17:48] roobert commented on #42649
This is still an issue when running GKE 1.14.10-gke.27.

[2020-04-09 17:54] lavalamp commented on #89985
I think NotFound would have been the correct response, but changing it now carries more risk than benefit. :( In particular none of the three mechanisms mentioned ("...testing, another is thinking about coding patterns, and a third is surveying the code...") are sufficient to mitigate the risk, since the affected clients could be running anywhere and may not even be open source for us to examine.

[2020-04-09 18:12] #84068 closed

[2020-04-09 18:17] andrewsykim commented on #88698
I thought this was for the IPVS proxy but these look like iptable proxy rules to me (IPVS still uses iptables but the set of rules are smaller and only for filtering purposes, not proxying).

[2020-04-09 18:18] liggitt commented on #89987
There doesn't appear to be any change in the way openstack cloud provider is computing node addresses between 1.15 and 1.16:

[code]

[code]

[code]

[code]

[2020-04-09 18:20] andrewsykim commented on #88698
Is it possible you switched proxy modes and didn't clean up the left over iptable rules?

[2020-04-09 18:22] liggitt commented on #89987
the only change to kubelet address-reporting between 1.15 and 1.16 was related to kubelets running with `--cloud-provider=external` in #75229:

[code]

[code]

however, you indicated that you were not running with `--cloud-provider=external`

[2020-04-09 18:28] apelisse commented on #89679
/remove-triage unresolved

[2020-04-09 18:33] nicksc423 opened #90017 "Server-Dry-Run with Force flag hangs forever if applied to an Immutable object"
/kind bug

**What happened**:  We use the Server-Dry-Run to lint our kubernetes yaml files (make sure they pass our OPA/Gatekeeper restrictions etc).  When trying this with a Job CRD we recieved an immutable object error, if you add the --force flag this will hang forever (or until timeout).

**What you expected to happen**:
Server-Dry-Run with the Force flag should know that it will delete any ex

[2020-04-09 18:36] nicksc423 commented on #90017
/cc @kubernetes/sig-cli-bugs

[2020-04-09 18:42] andrewsykim commented on #89947
Yeah this was fixed in https://github.com/kubernetes/kubernetes/pull/80942 and backported. @JokerDevops what version are you running?

[2020-04-09 18:45] cristichiru commented on #30656
In those cases, it seems that the other presented options here, like kubectl plugins might be the only way.

[2020-04-09 18:45] xmath279 commented on #88698
@andrewsykim

In all the tests that I did, it may be the case, but the problem was there from the beginning (my first configuration was using IPVS). I will clean that up and update the IPTables rules.

[2020-04-09 19:07] msau42 commented on #89281
@kubernetes/sig-storage-bugs
cc @gnufied

[2020-04-09 19:12] nicksc423 commented on #90017
Currently just using sed to change the name of the job to add a uuid as a work around so not the largest problem in the world

[2020-04-09 20:06] Huang-Wei opened #90025 "Brainstorm on scheduler preemption extension point"
/sig scheduling

## Background

In the [draft proposal of scheduler preemption extension point](https://docs.google.com/document/d/1lBZOA-vjo2m52242q4dZ1L1W-RrNyr14F63PfQ5YUr8/view), we explored possible ways to define the Preemption extension point. Which are listed as below:

- Several Preemption extension points, with each corresponds to each extensible stage of preemption workflow.
- One Preem

[2020-04-09 20:15] lavalamp commented on #89938
cc @apelisse

[2020-04-09 20:18] lavalamp commented on #89954
cc @apelisse @kwiesmueller

I think we're working on making this smoother for 1.19?

[2020-04-09 20:22] lavalamp commented on #89960
@deads2k might recall a related PR?

[2020-04-09 20:23] pschulten commented on #86881
Please unfreeze

[2020-04-09 20:26] lavalamp commented on #89960
(also, I have to leave the pedantic note: a year isn't always 365 days, so it's surprising to me to see the abbreviation exists at all)

[2020-04-09 20:34] apelisse commented on #89938
@seans3

[2020-04-09 20:40] seans3 commented on #89938
@dobesv Can you run `kubectl version` and paste the output here? Thanks

[2020-04-09 20:40] apelisse commented on #89938
For those who aren't aware of this feature, it is based on this proposal: https://github.com/kubernetes/kubernetes/issues/19575

[2020-04-09 20:43] apelisse commented on #89954
Yes, we're planning on converting resources applied with client-side to server-side without conflicts. @julianvmodesto

[2020-04-09 20:58] deads2k commented on #89960
I can't find it.  Maybe I was remembering https://github.com/kubernetes/kubernetes/pull/88270

[2020-04-09 21:07] brianpursley commented on #89960
Yeah it was probably that one.

At first I had the tests and the fix. But it sat for a while.  I changed it to just the tests of existing behavior so it could be approved more easily.

Then I made this issue for the fix but decided it would probably be a good first time issue for someone instead of me doing it.

[2020-04-09 21:12] fabiand commented on #25625
Yes ...

I'd really love to see that the discussion is get picked up here again.

For KubeVirt we have implemented NMO
https://github.com/kubevirt/node-maintenance-operator/ which has a CR to
declare node maintenance (and using kubectl drain internally).
I think we'd be more than happy to deprecte this tool in favor of a nice
upstream solution.

[2020-04-09 21:12] fabiand commented on #25625
/cc @beekhof

[2020-04-09 21:15] #88738 closed

[2020-04-09 21:46] dobesv commented on #89938
[code]

[2020-04-09 21:55] lavalamp commented on #89958
apiserver's resource footprint is very dependent on what is using it.

[2020-04-09 21:56] chancez commented on #74099
/reopen

[2020-04-09 22:01] lavalamp commented on #89948
cc @deads2k

The node name of the kubernetes node object is up to the cloud provider, and is chosen when they create the node object. Whether this name is supposed to match the hostname, a network name, or the name of the e.g. VM resource has never been super well defined.

[2020-04-09 22:02] lavalamp commented on #89948
/sig node
/sig architecture

/remove-sig api-machinery

(we don't own the contents of the API)

[2020-04-09 22:16] #83958 closed

[2020-04-09 22:47] #89782 closed

[2020-04-09 22:51] bitscuit commented on #89960
so should leap years be considered by the code?

[2020-04-09 23:00] lavalamp commented on #89960
There's no way to know how long a year is without knowing the date, so it's
not a good unit--in the abstract, there's no way to know if it's a leap
year or not. The go language deliberately omits it IIRC.

On Thu, Apr 9, 2020 at 3:52 PM Henry Li <notifications@github.com> wrote:

[2020-04-09 23:11] apelisse commented on #88816
I've tried to cherry-pick this in 1.17, but it's not that easy. There are many changes that we would have to pull along with this. I don't think I'm going to cherry-pick this.

[2020-04-09 23:17] bitscuit commented on #89960
What's the intention of HumanDuration? From what I've seen, it is just an approximation of a timestamp solely for humans to understand, so assuming 365 days per year sounds about right to me. This issue is about consistency though, so it could be solved the other way. Instead of abbreviating when it's an exact year (2y, 3y, etc.), exact years could just all have 0d (2y0d, 3y0d, etc.)

[2020-04-09 23:26] brianpursley commented on #89960
I think it is just used for a ballpark duration.  It loses accuracy as the duration increases anyway because it changes the units.  I guess my intention for opening the issue was to make it consistent with itself.  For example it doesn't say 2d0h or 2h0m, so it should not say 2y0d.

[2020-04-09 23:27] lavalamp commented on #89960
(FTR I agree that Xy0d looks worse than Xy.)

On Thu, Apr 9, 2020 at 4:26 PM Brian Pursley <notifications@github.com>
wrote:

[2020-04-10 00:55] chiluk commented on #67577
@Nuru I wrote https://github.com/indeedeng/fibtest
It's about as definitive of a test as you can get, but you'll need a C compiler.

Ignore the number of iterations completed, but focus on the amount of time used for the single threaded vs multi-threaded run.

[2020-04-10 00:59] msau42 commented on #86980
/lifecycle frozen

[2020-04-10 01:00] msau42 commented on #78880
/close
this is fixed in the csi driver

[2020-04-10 01:01] #78880 closed

[2020-04-10 01:22] zhaoguangqiang commented on #89958
But how can i find a clear reason immediately and fix up it?

[2020-04-10 01:32] aespinosa commented on #84081
was looking at the shellscripts again the `swagger.json` file is actually generated by spinning up an apiserver and then getting the spec from there.

[2020-04-10 01:59] jejer commented on #89987
Thanks, @liggitt,
confirm --cloud-provider=openstack.
Maybe not the cloud-provider? verbose log shows cloud-provider only fetched IP.

1.16.4 kubelet log
[code]
1.15.4 kubelet log
[code]

[2020-04-10 02:04] Huang-Wei commented on #85826
https://github.com/kubernetes-sigs/scheduler-plugins is live. Closing this issue.

[2020-04-10 02:04] #85826 closed

[2020-04-10 02:11] spiffxp commented on #89372
/remove-priority critical-urgent
/priority important-longterm
This no longer has the errors mentioned in the description, and while it's not passing 100%, it's significantly healthier today

[2020-04-10 02:16] hasheddan commented on #89782
@aojea looking green! Thanks again :)

[2020-04-10 02:17] liggitt commented on #89987
Those results look identical from a kubernetes perspective between 1.15 and 1.16 (two InternalIPs reported and no Hostname address present). Can you give more info about the change you are observing?

[2020-04-10 03:00] dims commented on #89961
@serathius please mark klog release as DONE ( https://github.com/kubernetes/klog/releases/tag/v2.0.0 )

[2020-04-10 03:04] jejer commented on #87615
We are seeing this in kube 1.17.4 after API server unhealthy due to "etcd failed: reason withheld".

[2020-04-10 03:34] rohithhasher commented on #65500
I get below error. Please help.
Warning  FailedMount         95s (x4 over 8m23s)  kubelet, ip-10-0-1-131.us-east-2.compute.internal  Unable to mount volumes for pod "app1_default(96ba005c-18c6-4b1f-8137-bf48fd7fc067)": timeout expired waiting for volumes to attach or mount for pod "default"/"app1". list of unmounted volumes=[persistent-storage]. list of unattached volumes=[persistent-storage defau

[2020-04-10 03:47] vikkyomkar commented on #89960
Hi @bitscuit I have made the required changes. Shall I raise the PR if you haven't started working in it ?

[2020-04-10 03:47] middlestone commented on #90003
sorry, it seems that kubetest should be run with --kubemark

[2020-04-10 03:47] #90003 closed

[2020-04-10 04:43] spiffxp commented on #78995
/milestone clear
I don't think we're committing to this for v1.19

[2020-04-10 04:53] vinayus commented on #81145
adding this on my machine fixed it for a time being

[code]

[2020-04-10 05:27] #89016 closed

[2020-04-10 06:45] wangkai1994 opened #90042 "Kube-proxy/ipvs;Frequently cannot simultaneous access clusterip and endpoint ip(real server) in pod"
**What happened**:
I use calico cni and kube_proxy is on ipvs mode
![image](https://user-images.githubusercontent.com/9304834/78969395-6cfb9200-7b39-11ea-9159-8051fdcd7b42.png)

i found it's not stable when i simultaneous access apiserver in pod use clusterip and endpoint ip(real server)
 i find out:
** 172.31.0.1 is cluster ip
** 172.28.49.135 is pod ip
** 10.7.210.11 is endpoint ip (real server)

[2020-04-10 06:48] wangkai1994 commented on #90042
/sig network

[2020-04-10 06:48] wangkai1994 commented on #90042
/area ipvs

[2020-04-10 07:02] serathius commented on #89267
Visibility rules for prometheus were moved to better location.
Now you can find them here https://github.com/kubernetes/kubernetes/blob/master/build/visible_to/BUILD#L428

[2020-04-10 07:53] ryanc-me commented on #81089
I'm a little late to the party here, but I want to say thank you to @al45tair for the `fsGroup` solution - it worked well with Postgres 10.

It's also worth noting that the `psql` client binary still requires `0600` at most for client key files, so the solution doesn't work for clients wanting to use Postgres certificate authentication. This is the case even in newer releases like Postgres 11.

It

[2020-04-10 07:53] serathius commented on #89961
@mm4tt We are ready to run scalability tests on https://github.com/kubernetes/kubernetes/pull/89955

[2020-04-10 08:21] heckad commented on #89995
/sig cluster-lifecycle

[2020-04-10 08:45] LuckySB opened #90043 "nodelocal dns 1.15.11 cannot add iptables rules. executable file not found in $PATH"
**What happened**:
daemonset nodelocaldns with image gcr.io/google-containers/k8s-dns-node-cache:1.15.11
flood error log with message
[code]

**What you expected to happen**:
compare files in image 1.15.10 with 1.15.11 i see:
no /usr/bin/iptables-xml file in 1.15.11

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2020-04-10 08:58] shashank-k opened #90044 "Issue with RBAC"
I have configured keycloak for Kubernetes RBAC.

- user having access to get pods

[code]

[code]

my kubeconfig file for the user looks like below

[code]

[2020-04-10 08:59] shashank-k commented on #90044
/sig auth

[2020-04-10 09:01] #89022 closed

[2020-04-10 10:18] LuckySB commented on #90043
/sig network
/sig apps

[2020-04-10 10:57] uziela commented on #85330
/remove-lifecycle rotten

[2020-04-10 11:00] uziela commented on #85330
This is still relevant issue. Right now we are naming our jobs constant_sting + random_string. We have to change the constant_string periodically (every month or so), because after some time all jobs starting with the same constant_string just fail.

[2020-04-10 11:30] wojtek-t opened #90047 "ESIPP [Slow] should handle updates to ExternalTrafficPolicy field is failing in 5k-node tests"
Example failure:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1248219443285200896

Stacktrace:
[code]

The problem seem to be related to the fact that we're running the test on private cluster (nodes doesn't have external IP address).

@mm4tt @kubernetes/sig-network-bugs @kubernetes/sig-scalability-bugs

[2020-04-10 11:31] wojtek-t commented on #90047
/assign @mm4tt

[2020-04-10 13:52] LuckySB commented on #90043
https://github.com/kubernetes/dns/pull/367

[2020-04-10 14:06] enj commented on #90044
It is unclear what issue you are having.  The unauthorized error is from authentication and is unrelated to RBAC.

/triage needs-information

[2020-04-10 14:31] mdrocco opened #90053 "Clarify scope of --etcd-servers-overrides option"
**What would you like to be added**:
Comment on the scope of --etcd-servers-overrides option in the generated documentation

**Why is this needed**:
The documentation does not say if the --etcd-servers-overrides option for kube-apiserver does support CRDs.

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/#options

[2020-04-10 14:31] droccom commented on #90053
/sig docs

[2020-04-10 14:32] kylepw commented on #45438
Same issue. Was working but after a few restarts, Ingress started reporting NodePort service as unhealthy with the same config. Gonna scratch clusters and everything and see if that helps.

[2020-04-10 14:37] ssasso commented on #89869
@uablrek I was able to reproduce the problem installing the cluster from scratch.

[code]

simple tcpdump output for the NodePort connection:
[code]

[2020-04-10 14:50] mcandre opened #90055 "--all-namespaces should parse anywhere -n parses"
Currently, -n can go adjacent to kubectl, but --all-namespaces can only go at the end of the subcommand

[2020-04-10 14:50] davidxjohnson commented on #78761
Any HPA that does not rely on Prometheus seems to scale up and down correctly on k8s 1.14. Our issue appeared to be with custom metrics that rely on Prometheus that would not scale back down. The issue was a persistent volume (EBS) (used by Prometheus) was filled up, which prevented proper evaluation of custom metrics. Not saying this will fix your issue, but the default volume size (Prometheus He

[2020-04-10 15:04] johnnyshields commented on #40157
Is there any reason why this requirement can't be met with `terminationGracePeriodSeconds` (which does a SIGTERM x seconds before the SIGKILL?)

[2020-04-10 15:16] JonathanRRogers commented on #81089
Sure, what did you have in mind?

[2020-04-10 15:31] brianpursley commented on #89960
@vikkyomkar @bitscuit already assigned it, so I think it would be good to let him submit the PR, unless he unassigns or does not submit a PR in a reasonable amount of time.

[2020-04-10 15:33] #75040 closed

[2020-04-10 15:36] wojtek-t commented on #84990
Yeah - seems to be fixed.

[2020-04-10 15:36] #84990 closed

[2020-04-10 15:49] max-lobur commented on #66241
EKS AMI fix: https://github.com/awslabs/amazon-eks-ami/pull/392

[2020-04-10 15:50] pawanpraka1 commented on #84169
We are also facing this issue. It is taking almost 3hrs to create Volumeattachment  object. Is there any way to solve this?

@davidz627, How LIST_VOLUMES_PUBLISHED_NODES will help here, coule you please help me understand both whole work flow of this?

[2020-04-10 15:55] davejhahn commented on #78761
I am using the metric server that comes along with AKS (at least now, that will change at some point), seeing the issue with that.  In my case the correct metrics are being reported, it's just not responding to it for the scale down.

[2020-04-10 16:05] ialidzhikov opened #90056 "gcp cloud-controller-manager cannot initialize a new Node"
**What happened**:
https://github.com/kubernetes/kubernetes/pull/85735 introduces a regression that `getNodeAddressesByProviderIDOrName` func is invoked on a Node obj without `.spec.providerID`, hence it can fail fetching the node addresses when the `.spec.providerID` is not set.

**What you expected to happen**:
I would expect cloud-controller-manager to be able to initialize new Node.

**How to

[2020-04-10 16:06] ialidzhikov commented on #90056
/sig cloud-provider
/kind regression

[2020-04-10 16:06] ialidzhikov commented on #90056
/cc @alvaroaleman @thockin @andrewsykim

[2020-04-10 16:21] lentzi90 commented on #78621
/remove-lifecycle stale

[2020-04-10 16:36] zud0ku commented on #57910
Guys, I had the problem, It happened to be a wrong clock setting. Check your hosts's date and time.
Problem solved setting correct time and date.

[2020-04-10 16:44] tallclair commented on #70679
I'm not sure if this has been discussed elsewhere, but I think it would be useful to opt-in individual service accounts to the new bound service account volumes before the global feature is enabled. This would be useful for opting in individual workloads that are known to work with the new token volumes so they can take advantage of the improvements, and also for doing a gradual migration to catch

[2020-04-10 16:57] dims commented on #89961
@serathius please mark k8s.io/utils and k8s.io/klog as done.

[2020-04-10 17:00] xmath279 commented on #88698
@andrewsykim

I have ran kube-proxy --cleanup on all nodes and updated the files:

### IPTables rules when port is incorrectly open

https://gist.github.com/xmath279/68ef6e25eb266108c8a4d5c073b7f6e6

### IPTables rules when port is properly closed

https://gist.github.com/xmath279/93e40a5be39fb812734018cb48e30e75

[2020-04-10 17:00] cbandy commented on #40157
The SIGKILL comes directly from the Linux kernel: https://www.kernel.org/doc/Documentation/cgroup-v1/memory.txt

[2020-04-10 17:06] bitscuit commented on #89960
Thanks @brianpursley, I was planning on submitting the PR over the weekend

[2020-04-10 17:09] johnnyshields commented on #40157
Doesn't the pod get a SIGTERM first, then after grace period gets a SIGKILL?
https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods

Or does this grace period not apply to the OOMKiller?

[2020-04-10 17:28] docwhat commented on #23130
/remove-lifecycle-stale

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-10 17:28] raymonddeng99 commented on #89637
Hello, could I pick up and be assigned this issue?

[2020-04-10 17:28] raymonddeng99 commented on #87120
Hello, could I pick up and be assigned this issue?

[2020-04-10 17:34] portal7 commented on #48180
About 3 years have passed and there is still no easy way to do it without any "dark magic"? (joke), I mean some kind of configuration of some Kubernetes update?

[2020-04-10 17:36] wojtek-t opened #90058 "Make watch-cache size dynamic and get rid of magic constants"
Currently, capacity for watchcache is a parameter at creation time and cannot be changed later:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L81
To make it scalable, we have a number of magic constants:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/cachesize/cachesize.go#L25
and we already had a bunch issues with

[2020-04-10 17:36] wojtek-t commented on #90058
I'm happy to provide guidance if someone is interested in doing that.

/help wanted

[2020-04-10 18:07] lavalamp commented on #90058
@deads2k may have thoughts

IMO we need protection against exceeding memory limitations, but the proposal above sounds unbounded?

[2020-04-10 18:09] wojtek-t commented on #90058
Sure - we should have some upper bound. But that's one additional "if" and doesn't change anything significantly.

[2020-04-10 18:13] happinesstaker commented on #70679
The cluster administrator has the ability to opt-in enable the bound service account token feature. Additionally, by enabling the option described by #1597, they could do this "safely" by get the warning instead of failing. We are not going to enable the feature by default globally until we watch from the metrics that a number of clusters have opt-in and the client-side issue are fixed.
Given that

[2020-04-10 18:46] hasheddan commented on #89892
@dchen1107 do you have any insight on this test?

[2020-04-10 18:47] dims commented on #89961
@serathius filed https://github.com/kubernetes/gengo/pull/173 for gengo

[2020-04-10 18:54] hasheddan commented on #89811
Any updates here? @seans3 @jkaniuk

[2020-04-10 18:57] hasheddan commented on #87815
@oxddr Is this issue still outstanding? I also cannot find the referenced test

[2020-04-10 18:59] hasheddan commented on #87774
@oxddr I have not seen a failure here in quite some time. Please feel free to re-open if you believe this has not yet been addressed :+1:

/close

[2020-04-10 18:59] #87774 closed

[2020-04-10 19:06] hasheddan commented on #89051
@oxddr @jprzychodzen this test is looking pretty healthy lately, any updates here?

[2020-04-10 19:22] shashank-k commented on #90044
The issue was more with the address of the cluster. I had to use the DNS name instead of IP address.

[2020-04-10 19:22] #90044 closed

[2020-04-10 19:56] dims commented on #89961
@serathius file https://github.com/kubernetes/repo-infra/pull/185 for repo-infra

[2020-04-10 19:56] dims commented on #89961
@tanjunchen can you please file the PRs that you picked up and throw us a link?

[2020-04-10 20:04] tallclair commented on #70679
@happinesstaker I respectfully disagree. I think those are good measures that significantly decrease the risk, but a gradual rollout is always a good idea. Furthermore, I want to be able to take advantage of bound service account tokens for our managed workloads before we're ready to force it on our customers.

[2020-04-10 20:38] marcstreeter commented on #29679
was this supposed to be closed?

[2020-04-10 20:50] neolit123 commented on #90055
/sig cli

[2020-04-10 20:51] neolit123 commented on #89994
/retitle kube-controller-manager: "Unexpected EOF during watch stream event decoding"
/sig api-machinery

hi, i think the folks helping issue triage will request more details logs from you.

[2020-04-10 20:52] neolit123 commented on #89997
hi, please try on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-04-10 20:53] #89997 closed

[2020-04-10 20:53] neolit123 commented on #89956
/remove-kind bug
/triage support

please, change to bug if confirmed.

[2020-04-10 21:11] cocoztho000 commented on #89564
@ivinpolosony and I also hit this issue on Oracle Linux (we work with @mark-au). Our root cause turned out to be a firewall masquerade was hiding the source IP of the packets causing this test to fail. Further digging revealed the test is valid since the [Kubernetes network model](https://kubernetes.io/docs/concepts/cluster-administration/networking/#the-kubernetes-network-model) states "pods in t

[2020-04-10 21:49] mcandre opened #90065 "Please show more configuration keys on `kubectl describe`"
**What would you like to be added**:

Show more resource configuration keys and values on `kubectl describe`.

**Why is this needed**:

Only `kubectl get -o yaml` is able to provide basic info like `imagePullPolicy`, where `kubectl describe` strangely elides this important key.

[2020-04-10 22:00] dcantah commented on #87420
@dims last bug fix went in today so drafted the release and will have it reviewed by team on Monday!

[2020-04-10 22:07] dims commented on #87420
very cool! thanks for the heads up @dcantah

[2020-04-10 22:35] happinesstaker commented on #70679
@tallclair  Make sense. Forcing some of the SA for managed workloads to use bound SA token sounds like a nice use case we want this.
Let me evaluate how we could opt-in invidual service account and put your suggestion together as a modification to the KEP.

[2020-04-10 23:10] howardjohn opened #90066 "managedFields options are very verbose, making kubectl usage a bit"
Recently (1.18?) a new field was added to configs, managedFields. This is incredibly verbose, which makes kubectl commands like `-oyaml` and `edit` painful.

For example, on a random deployment I have looked at, the entire `kubectl get deployment -oyaml` is 640 lines. Managed fields is over half of that, with 358 lines.

I am not sure if its feasible to somehow mitigate this without breaking serve

[2020-04-10 23:11] howardjohn commented on #90066
/sig cli

[2020-04-10 23:41] #84956 closed

[2020-04-10 23:44] #80763 closed

[2020-04-11 00:47] gongguan commented on #90058
/assign

[2020-04-11 00:54] mikedanese commented on #70679
@tallclair I think you are looking for https://github.com/kubernetes/kubernetes/issues/77599

[2020-04-11 01:14] ankycooper opened #90072 "Weave: Duplicate/overlap of IP on pods across different nodes"
**What happened**:
Duplicate/overlap of IP on pods across different nodes

`NAME                            READY   STATUS    RESTARTS   AGE     IP           NODE                      NOMINATED NODE   READINESS GATES
pod/http-app-5947d79757-4gwd6   1/1     Running   0          20s     10.4.192.2   w2.k8s.local   <none>           <none>
pod/http-app-5947d79757-5ldqx   1/1     Running   0          2

[2020-04-11 01:17] ankycooper commented on #90072
/sig Network

[2020-04-11 02:01] EvgeniGordeev commented on #40244
The issue still persists on EKS 1.15.9.

[2020-04-11 02:44] #81490 closed

[2020-04-11 02:53] warmchang commented on #40157
OOMKiller is triggered by the cgroup function of the OS kernel, container runtime & K8S only passively accepts this result, they have no opportunity to actively trigger actions.
https://github.com/kubernetes/kubernetes/blob/393bb44ea95e4690775bbf7ea73fc695f6ce5e6c/pkg/kubelet/dockershim/docker_container.go#L385-L389

[2020-04-11 02:54] BenTheElder commented on #51540
/unassign
I've got too much going on to get back to this in a reasonable time frame.

[2020-04-11 04:13] enj commented on #40403
Any namespace I can get via the API directly.  If running `kubectl get ns foo` and `kubectl get ns bar` would give me the namespace data for `foo` and `bar` (with no authorization error), then `kubectl get mynamespaces` would return `foo` and `bar` (`mynamespaces` being some virtual resource).

[2020-04-11 04:30] MikeSpreitzer commented on #40403
@enj: My question was, how does the system represent which namespaces belong to who?  The earlier discussion suggested it was by a label on the namespace object.  For example, we might imagine a label such as `owner=customer1`.  If that is the technique used, then the filtering can be expressed by the client: `kubectl get namespace -l owner=customer1`.  If kube's authorization framework exposed th

[2020-04-11 04:42] enj commented on #40403
A namespace can belong to more than one entity.  Any entity that can `get` the namespace via the API owns it.  The representation is within the authorization policy.

Something like `kubectl get namespace --filter=(if get namespace $name)`.

How would that handle multiple owners?

[2020-04-11 06:05] tanjunchen commented on #89961
@dims i have open these prs. As seen above.

[2020-04-11 06:24] SataQiu commented on #90072
Emm... Perhaps related to the network plugin. Can you try again with another CNI plugin(such as Calico)?

[2020-04-11 06:37] tamalsaha opened #90074 "kubectl --local requires a valid kubeconfig file"
**What happened**:
I am using a command like below in GitHub actions:

[code]

I get the following error:

[code]

**What you expected to happen**:
Since I am using `kubectl --local` flag, it should work without requiring a valid kubeconfig file.

**How to reproduce it (as minimally and precisely as possible)**:
Just delete your local kubeconfig file and try the above command.

**Anything else we

[2020-04-11 06:37] tamalsaha commented on #90074
/sig cli

[2020-04-11 06:56] MikeSpreitzer commented on #40403
Yes, I understand that in general a given kube API object is accessible by mutliple users (with arbitrary relationships among those users).  I was thinking of multi-tenancy designs in which each tenant owns one or more namespaces --- each such namespace belongs to just one owner.

[2020-04-11 07:21] reoxey commented on #89956
@windniw

[2020-04-11 07:32] reoxey commented on #89956
The issue first occurred to following 2 deployments. But, above `dummy` pod seems to be working fine.
[code]

[2020-04-11 08:26] agadelshin commented on #68578
/assign

I'd like to continue

[2020-04-11 09:15] laradji commented on #23748
it does not work anymore v1.17.2.

[code]

[2020-04-11 09:25] kiuka opened #90076 "Statefulset pod is not assigned to the right node after replace failed node"
**What happened**:
I have a 4 node cluster and running a statefulset with 3 replicas. My statefulset was running on node1, node2, node3.

node1 died so I had to replace it and as it expected the statefulset pod on it was stuck terminating. So since I needed time to replace, I wanted to reassign this pod to my node4 therefore I force deleted the pod (kubectl delete pods <podname> --grace-period=0 -

[2020-04-11 09:50] #85186 closed

[2020-04-11 10:00] serathius commented on #89961
Linked all PRs to issue description.

I was planning to find some time and pick one repo on weekend, but you beat me up to it. Thanks for all the help!

[2020-04-11 10:24] vitalybibikov opened #90077 "No matches for kind "Ingress" in version "networking.k8s.io/v1""
I want to upgrade my cluster version from 1.15.10 to 1.16.7.
Prior to that I'm trying to update all the APIs.

Release notes to 1.16.0 state:
The following APIs are no longer served by default:
* All resources under `apps/v1beta1` and `apps/v1beta2` - use `apps/v1` instead
* `daemonsets`, `deployments`, `replicasets` resources under `extensions/v1beta1` - use `apps/v1` instead
* `networkpolicies`

[2020-04-11 10:27] vitalybibikov commented on #90077
/sig network

[2020-04-11 10:31] ankycooper commented on #90072
calico works fine...

[2020-04-11 10:58] kiuka commented on #90076
as I'm testing maybe I misunderstood the whole concept of statefulsets. if I have a statefulset and put a few dummy pods on a node then when I delete a pod from the statefulset it wont reschedule itself on the same (more utilized) node, even the node has enough resources, it moves itself on a new node.

Is this the expected behaviour? There is no way at the moment to ensure that a pod which is mem

[2020-04-11 12:38] agadelshin commented on #89675
/assign

I want to help here if you don't mind.

[2020-04-11 12:53] sowhatim opened #90079 "Timeout expired waiting for volumes to attach or mount for pod"
/sig storage

**What happened**:
I had es-data-1 pod as part of statefulset es-data. This pod was assigned to a nodegroup which I decided to scale down from 2 to 1 and then later scaled up back to 2. I did this as part of learning and testing the node autoscaling scenario. After this it is stuck in Init:0/1 state. When I describe the the pod, it shows the following error under events -

 ` Warning

[2020-04-11 14:08] wojtek-t commented on #79464
/remove-lifecycle stale

[2020-04-11 14:32] iwita commented on #89960
Hello, I am a first timer in open source contribution community.
I think I made the required changes for that issue.
However, I don't know how assignment rules work. Should I submit a pull request or wait for a feedback?

[2020-04-11 16:25] #89888 closed

[2020-04-11 16:57] deitch commented on #48180
Ha! I recently discovered the “darkarts” channel on the golang slack. Sometimes the name really fits (and those people there are super smart and helpful).

[2020-04-11 17:45] #88740 closed

[2020-04-11 17:58] #81873 closed

[2020-04-11 18:55] brianpursley commented on #88928
@skaegi I was taking a look at the code for this a little today and have some questions.

---

First, can you show what you expect `kubectl get pod my-pod -o=jsonpath={.metadata.labels[*]}` to return?

I have a pod with label `run=nginx` and `foo=bar` and this works for me:
[code]

---

Second, I looked at [the link you posted](https://goessner.net/articles/JsonPath/index.html#e2) and it seems lik

[2020-04-11 21:02] #36891 closed

[2020-04-11 21:32] life1347 commented on #79610
An alternative way I've found so far that works in my case is to use `watch.Interface` instead of using the dynamic informer before this issue getting fixed.

[code]

[2020-04-11 21:38] chief93 opened #90083 "kube-proxy and conntrack (or nf_conntrack) issue"
Hi everyone!
I'm a new user of Kubernetes, so obviously many errors can be caused by my misunderstanding of the documentation. My Kubernetes installation is based on `LXC` (not `LXD`) containers with privileged mode.

**What happened**: after installation of the `kube*` CLI tools and `kubeadm init` command execution (I also tried `kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise

[2020-04-11 21:41] chief93 commented on #90083
/sig node

[2020-04-11 22:00] agadelshin commented on #89675
It's already fixed in master - https://github.com/kubernetes/kubernetes/commit/fe0f38839a79eb372593e87e095988e2dbbc8018

[2020-04-11 22:06] brianpursley commented on #67676
Since this issue is old, the commands have changed (although the problem remains). Here was how I reproduced it using kubectl 1.18.0, adapting @pdbogen 's example:
[code]
As expected based on this issue, I can't use either the example or example2 context because one of my config files exists in a read-only directory.
[code]

---

Also, I thought of another possible workaround for people. Instead o

[2020-04-11 22:06] neolit123 commented on #89675
ok, if this is fixed in master already we can close this issue.
this fix cannot be backported to 1.18 as it's not critical.

thanks for investigating @agadelshin
/close

[2020-04-11 22:07] #89675 closed

[2020-04-11 22:15] liggitt commented on #90077
Ingress is not yet available under `networking.k8s.io/v1`, the release note is for NetworkPolicy objects

[2020-04-11 22:15] #90077 closed

[2020-04-11 22:16] liggitt commented on #90074
/assign @deads2k @soltysh
/kind regression

[2020-04-11 22:17] liggitt commented on #90074
This likely breaks some scripted usage of kubectl

[2020-04-11 22:41] liggitt commented on #89994
Agreed, more logs are needed. The logs a few seconds before and after the EOF messages would be helpful. Are there any other error messages logged? Is the API server restarting around the time theee messages are seen?

[2020-04-11 23:00] brianpursley commented on #67676
Thinking about this a little more, I think there are actually **two problems here.**

**1. If you have multiple configs and one of them is in a read-only directory, you cannot modify anything even if it is in a config that is not in a read-only directory.**

One simple way to possibly solve this would be to move the lock files into a directory tree under the user's temp directory so that they alwa

[2020-04-11 23:15] LuckySB opened #90084 "kube-proxy and vxlan - service net unavailable from pod with 'hostnetwork: true'"
**What happened**:
flannel with backend vxlan
and pod with `hostnetwork:trut`
manifest from https://github.com/kubernetes/kubernetes/issues/87852

exec into pod and do
```dig @10.96.0.10 kubernetes.default.svc.cluster.local```
command failed with timeout

**What you expected to happen**:
should return
[code]

**How to reproduce it (as minimally and precisely as possible)**:
install cluster with 2

[2020-04-11 23:15] LuckySB commented on #90084
sig/network

[2020-04-11 23:16] LuckySB commented on #90084
/sig network

[2020-04-11 23:19] LuckySB commented on #90083
Have you definitely installed CNI ?

[code]

[2020-04-11 23:23] LuckySB commented on #90084
/assign @aojea

[2020-04-12 02:11] tedyu opened #90085 "Error return from Request.ParseForm() shouldn't be ignored"
**What happened**:
In handler#handleSummary, return value from request.Request.ParseForm() is ignored.

**What you expected to happen**:
The error return should be checked.

[2020-04-12 02:12] tedyu commented on #90085
/sig node

[2020-04-12 02:22] rvillablanca commented on #90085
Hi @tedyu, this seems to be easy to fix. Could I solve this?

[2020-04-12 02:29] tedyu commented on #90085
Please go ahead.

[2020-04-12 02:47] mysunshine92 commented on #89564
@cocoztho000 we have fix this problem.from the pr #85642 ,we know that the agnhost image is wrong，so i pull 1.18  agnhost image，then use docker tag as 1.17  agnhost image，then this e2e test is paased.

[2020-04-12 03:08] #85039 closed

[2020-04-12 03:09] cocoztho000 commented on #89564
It's good to hear you found a solution

[2020-04-12 03:51] enj commented on #40403
A label based approach seems reasonable in this architecture.

OpenShift's project resource follows the RBAC semantics I described earlier.  It does not perform any operations based on labels.

[2020-04-12 07:15] yoavAqua commented on #89948
Hi @lavalamp thanks for your answer, just to be clear:
Getting a node's hostname using the API returns a different **hostname** than the one returned by running "hostname" on the node's os.

[2020-04-12 08:00] 13567436138 opened #90089 "how to use kustomize in kubectl"
[root@master01 demo]# kubectl create -k overlays/prod/
error: rawResources failed to read Resources: Load from path ../../base failed: '../../base' must be a file (got d='/root/kubectl/01create/kustomize/demo/base')

[root@master01 demo]# kubectl kustomize ./base
Error: rawResources failed to read Resources: Load from path backend failed: 'backend' must be a file (got d='/root/kubectl/01create/kus

[2020-04-12 09:14] #84981 closed

[2020-04-12 09:20] Harkishen-Singh commented on #88928
@brianpursley I think the output should be similar to what a normal jsonpath should behave.

Like:

[code]

will have `{$.metadata[*]}` as
[code]

**I am looking into this issue since a couple of days and will love to fix it.**

[2020-04-12 10:34] chief93 commented on #90083
Yes, as I said - in my previous attempts right BEFORE installing the Flannel, the all master's pods were with status `Running`. But at current situation, even with installed Flannel, `kube-proxy` is still in error state, more of that - the Flannel itself can not start, because it tries to access the API through the interface that it need to create (it is nonsense), then it can't create it because

[2020-04-12 10:41] better0332 commented on #3595
+1

[2020-04-12 10:41] alexzimmer96 commented on #90076
The identity of a Pod, owned by a StatefulSet is tied to the Pod(name), not the Node this workload is running at. This means, that rescheduling the Pod on another node would keep it's original identity. This behaviour is desirable, if the Pods data life in a persistent volume that can be moved with the pod.

The behaviour you described is strange. Did you delete the Pod before it was re-scheduled

[2020-04-12 10:42] alexzimmer96 commented on #90076
/sig scheduling

[2020-04-12 10:42] alexzimmer96 commented on #90076
/remove-sig node
/sig storage

[2020-04-12 10:49] alexzimmer96 commented on #90011
Your init containers should run before the other container even starts. So it can't restart your Pods "main"-containers because they will not come up, unless your init container succeeds. Init containers should only be used to prepare something for your real application, like adding certificates, prepare storage in a database and so on.

You could run another container beside your real application

[2020-04-12 11:21] sylr commented on #87137
ping

[2020-04-12 11:36] narasimhamurthyk3 opened #90092 "MYSQL In Kubernetes"
Hi Team,

we are trying to setup mysql server with below configurations.

3 mysql pods with sharing same persistence volume and data should be available across all pods and any pods can execute read and write requests and a load balancer to route the traffic to different pods based on load.
Hope service will take care to route the traffic.
I tried master and salve method here master is only suitab

[2020-04-12 11:43] kiuka commented on #90076
@alexzimmer96 no, I wasnt automatic, I deleted the pod and then (kubectl delete pods <pod>) to see what happens if the pod fails for same reason and need a restart and that indicated to reschedule on the previous node.

Maybe its a feature that does not exist yet, because I saw that other people were looking for solution to assign statefulset pods to a node. Lets say its a mysql cluster and the po

[2020-04-12 13:22] brianpursley commented on #3268
Hi @bgrant0607. This issue has been open a long time, so I'm just checking to see if this issue is still valid or if it is taken care of by `kubectl apply -k` or helm, etc.

[2020-04-12 13:31] rikatz commented on #90084
Can you please take a look into https://github.com/kubernetes/kubernetes/issues/88986 and check if disabling tx offload in flannel interface also solves?

This might be a duplicate

[2020-04-12 14:00] brianpursley commented on #6132
Hi @thockin, @smarterclayton, @bgrant0607
This issue has been open for a while, so I'm just checking to see if it is still an issue or not in the latest version.

It looks like there currently are some useful error messages given when there are problems with the json.  Do you think these are sufficient or is something more detailed needed?

Here is what I tried, using kubectl v1.18.0:

---
**Test

[2020-04-12 14:12] brianpursley commented on #67676
Related issue:

**Remove non-mergeable fields from .kubeconfig (such as preferences)**
https://github.com/kubernetes/kubernetes/issues/10693

[2020-04-12 14:20] OliverCole commented on #87149
/remove-lifecycle stale

[2020-04-12 14:25] hakman commented on #78994
Thanks for the explanation @caseydavenport.

[2020-04-12 14:25] uablrek commented on #90042
You havr the same combination of (new)K8s/(old)kernel as https://github.com/kubernetes/kubernetes/issues/89520. Please check if this is the same problem.

[2020-04-12 14:45] chinmay90kulkarni commented on #67702
@Bessonov  check @huanghuangzym's answer above.

If you are working with minikube - try metrics-server is enabled or not.
minikube addons enable metrics-server.

Stop minikube and start again and test it once again.

[2020-04-12 15:01] tedyu commented on #89614
[api-pod-status.txt](https://github.com/kubernetes/kubernetes/files/4466523/api-pod-status.txt)

[2020-04-12 15:09] Bessonov commented on #67702
@chinmay90kulkarni what do you mean? again, `kubelet-insecure-tls` isn't the right option. And no, I don't use minikube.

[2020-04-12 15:22] chinmay90kulkarni commented on #67702
@Bessonov,
Umm, yeah - I was trying to say - --kubelet-preferred-address-types=InternalIP works for me. I tried it today only - but on minikube :) . I referred this video - https://www.youtube.com/watch?v=uxuyPru3_Lc
Check if it's useful for you or not..

[2020-04-12 17:31] dapseen commented on #33664
Workaround for this is to implementing SHA digest , which is really working for me

[2020-04-12 17:41] VanitySoft commented on #33664
Implement SHA digest on what?

-Sent on Samsung 20G Ultra mobile

Jeryl Cook
Founder & Chief Executive Officer
VanitySoft, Inc.
A Geo Business Intelligence Technology Consulting Firm
www.vanity-soft.com
www.linkedin.com/in/jerylcook
Get answers to "who knew what, when, and where"... and everything in
between.

On Sun, Apr 12, 2020, 1:31 PM Adedapo Ajuwon <notifications@github.com>
wrote:

[2020-04-12 18:47] Huang-Wei commented on #90025
cc/ @ahg-g @k82cn @alculquicondor @bsalamat @damemi @ravisantoshgudimetla @everpeace @denkensk

[2020-04-12 19:47] mrvamsidhar commented on #80472
@jorisdejosselin - try this. It worked for me.

**kubectl replace -f storage-class.yaml --force**

[2020-04-12 20:08] agadelshin commented on #87893
/assign

I'd like to do this if you don't mind @abhat.

[2020-04-12 20:24] #85300 closed

[2020-04-12 21:31] tedyu opened #90096 "Remove PodShareProcessNamespace feature gate"
**What would you like to be added**:
PodShareProcessNamespace is in GA.
The feature gate can be removed.

**Why is this needed**:
[code]

[2020-04-12 21:32] dims commented on #78271
tracked already https://github.com/kubernetes/enhancements/issues/88#issuecomment-450910270

/close

[2020-04-12 21:33] dims commented on #87170
/close

[2020-04-12 21:33] #78271 closed

[2020-04-12 21:33] dims commented on #87573
/close

[2020-04-12 21:33] #87170 closed

[2020-04-12 21:33] #87573 closed

[2020-04-12 21:34] dims commented on #72533
/sig cloudprovider

[2020-04-12 21:34] dims commented on #86465
/close

[2020-04-12 21:35] #86465 closed

[2020-04-12 21:36] dims commented on #86340
/close

[2020-04-12 21:36] dims commented on #87887
/close

[2020-04-12 21:36] #86340 closed

[2020-04-12 21:36] dims commented on #87905
/close

[2020-04-12 21:36] #87887 closed

[2020-04-12 21:37] dims commented on #88013
/close

[2020-04-12 21:37] #88013 closed

[2020-04-12 21:37] dims commented on #88380
/close

[2020-04-12 21:37] #88380 closed

[2020-04-12 21:38] dims commented on #86467
/close

[2020-04-12 21:38] dims commented on #88696
/close

[2020-04-12 21:38] dims commented on #88483
/close

[2020-04-12 21:38] #86467 closed

[2020-04-12 21:38] #88696 closed

[2020-04-12 21:38] dims commented on #71869
/sig node

[2020-04-12 21:38] #88483 closed

[2020-04-12 21:38] dims commented on #88793
/close

[2020-04-12 21:39] dims commented on #85725
/sig node

[2020-04-12 21:39] #88793 closed

[2020-04-12 21:39] dims commented on #88748
/close

[2020-04-12 21:39] #88748 closed

[2020-04-12 21:39] dims commented on #86033
/sig apps

[2020-04-12 21:39] dims commented on #88884
/close

[2020-04-12 21:40] #88884 closed

[2020-04-12 21:40] dims commented on #88904
/close

[2020-04-12 21:41] #88904 closed

[2020-04-12 21:41] dims commented on #85794
/close

[2020-04-12 21:41] dims commented on #89029
/close

[2020-04-12 21:41] dims commented on #88957
/close

[2020-04-12 21:41] #85794 closed

[2020-04-12 21:41] #89029 closed

[2020-04-12 21:41] #88957 closed

[2020-04-12 21:42] dims commented on #89101
/close

not enough information to help in any way

[2020-04-12 21:42] dims commented on #86307
/close

[2020-04-12 21:42] dims commented on #86086
/close

[2020-04-12 21:42] dims commented on #86043
/close

[2020-04-12 21:42] #89101 closed

[2020-04-12 21:42] dims commented on #89132
/close

[2020-04-12 21:42] #86307 closed

[2020-04-12 21:42] dims commented on #85438
/close

[2020-04-12 21:42] #86086 closed

[2020-04-12 21:42] #86043 closed

[2020-04-12 21:42] #89132 closed

[2020-04-12 21:42] #85438 closed

[2020-04-12 21:43] dims commented on #89209
/close

[2020-04-12 21:43] dims commented on #85488
/close

[2020-04-12 21:43] #89209 closed

[2020-04-12 21:43] dims commented on #86516
/close

[2020-04-12 21:43] dims commented on #86520
/close

[2020-04-12 21:43] dims commented on #85546
/close

[2020-04-12 21:43] #85488 closed

[2020-04-12 21:43] dims commented on #89349
/close

[2020-04-12 21:43] #86516 closed

[2020-04-12 21:44] dims commented on #85594
/close

[2020-04-12 21:44] #86520 closed

[2020-04-12 21:44] #85546 closed

[2020-04-12 21:44] #89349 closed

[2020-04-12 21:44] #85594 closed

[2020-04-12 21:44] dims commented on #89469
/close

[2020-04-12 21:45] #89469 closed

[2020-04-12 21:45] dims commented on #89472
/close

[2020-04-12 21:45] dims commented on #88832
/sig release

[2020-04-12 21:45] #89472 closed

[2020-04-12 21:45] dims commented on #89623
/close

[2020-04-12 21:45] dims commented on #85752
/close

[2020-04-12 21:46] #89623 closed

[2020-04-12 21:46] #85752 closed

[2020-04-12 21:46] dims commented on #86903
/close

[2020-04-12 21:46] dims commented on #86163
/close

[2020-04-12 21:46] #86903 closed

[2020-04-12 21:47] dims commented on #89476
/close

[2020-04-12 21:47] dims commented on #89758
/close

[2020-04-12 21:47] #89758 closed

[2020-04-12 21:47] dims commented on #89866
/sig node

[2020-04-12 21:47] dims commented on #89884
/close

[2020-04-12 21:48] dims commented on #89886
/close

[2020-04-12 21:48] #89884 closed

[2020-04-12 21:48] #89886 closed

[2020-04-12 21:54] tedyu commented on #82494
@lorenz @AWKIF
See https://github.com/kubernetes/kubernetes/pull/89155#issuecomment-605662801

[2020-04-12 22:10] tedyu commented on #71869
@HayTran94 @samuela @KIVagant @dattim
realImageGCManager#freeSpace has log at level 5 if certain image is not eligible for GC.
e.g.
[code]
Can you put log level to 5 and see if there is some clue given by realImageGCManager#freeSpace ?

Thanks

[2020-04-12 22:11] eht16 commented on #17512
Since none of the tools and scripts above fit my needs (and this issue is still open :( ), I hacked my own variant:
https://github.com/eht16/kube-cargo-load

It provides a quick overview of PODs in a cluster and shows their configured memory requests and limits and the actual memory usage. The idea is to get a picture of the ratio between configured memory limits and actual usage.

[2020-04-12 22:14] dims commented on #90096
/sig node

[2020-04-12 22:15] dims commented on #89564
/sig cli

[2020-04-12 22:15] dims commented on #89564
/area conformance

[2020-04-12 22:18] dims commented on #89956
/sig network

[2020-04-12 22:19] dims commented on #82827
/sig instrumentation

[2020-04-12 22:20] dims commented on #77192
1.12.x is no longer supported

/close

[2020-04-12 22:20] #77192 closed

[2020-04-12 22:21] tedyu commented on #71869
@rubencabrera
In the log you posted:
[code]
Did you have a chance to verify whether the underlying image existed or not ?

Thanks

[2020-04-12 22:22] ashu2207 commented on #71869
Please keep me out of this loop.
Not sure why I am copied in this email

Thanks & Regards,
Ashutosh Singh

On Mon, Apr 13, 2020, 00:21 Zhihong Yu <notifications@github.com> wrote:

[2020-04-12 22:52] LuckySB commented on #87852
I noticed that packets directed to the service address receive the iptables 0x4000 label
and the same label appears on the packet, after encapsulating it in vxlan
and the outgoing vxlan packet passes through MASQUERADE again

[2020-04-12 22:59] LuckySB commented on #88986
https://github.com/kubernetes/kubernetes/issues/87852
https://github.com/kubernetes/kubernetes/issues/90084

[2020-04-12 23:07] LuckySB commented on #88986
my system:
centos 7.7
flannel from 0.7 to 0.11
kernel 4.20.13-1.el7.elrepo.x86_64
test from pod with hostnetwork true and simple from node
[code]
any of the following actions helped me
`route add 10.96.0.0/16 cni0`

[2020-04-12 23:08] LuckySB commented on #87852
also help workaround from issue https://github.com/kubernetes/kubernetes/issues/88986
[code]

[2020-04-12 23:11] LuckySB commented on #88986
/assign @aojea

[2020-04-12 23:15] LuckySB commented on #90084
Here is another Issue

`ethtool --offload flannel.1 rx off tx off` fix my problem
so we have many issues with slightly different problems, but workaround works for everyone
#87852
coreos/flannel#1243
https://github.com/kubernetes/kubernetes/issues/88986

[2020-04-12 23:21] LuckySB commented on #88986
https://github.com/kubernetes/kubernetes/issues/87852#issuecomment-597248793

[2020-04-12 23:52] ainiml commented on #45131
Does this let you rename the cluster name?

[2020-04-13 00:02] Bessonov commented on #52218
/remove-lifecycle stale

[2020-04-13 00:28] #84898 closed

[2020-04-13 00:53] abhat commented on #87893
Sure go ahead. I hadn't gotten to it for a while. Appreciate you picking this up @agadelshin.

[2020-04-13 01:38] mYmNeo commented on #87615
Hi, guys. I've recompiled the kubernetes binary with golang 1.14. It seems that the problem disppeared

[2020-04-13 01:51] tanjunchen commented on #90096
/assign

[2020-04-13 02:09] felixle236 commented on #46826
Although this article has been closed, in my opinion, two spaces are unnecessary while we have a "-" separator, see the attached image.
![image](https://user-images.githubusercontent.com/28352666/79086502-803f7500-7d66-11ea-93df-8e94a0d3813b.png)

[2020-04-13 02:10] jejer commented on #89987
1.17.4 Hostname missing under Addresses:
[code]

1.16.4:
[code]

[2020-04-13 02:24] kyopark2014 commented on #61173
I have a same situation in ubuntu since the process related to k8s is getting restart once it is stopped by "docker kill" manually.
Try this.
It worked in my case.
1) stop kubelet
 $ systemctl stop kubelet
2) docker kill [containers]
3) docker rmi [images]

[2020-04-13 02:52] JHDST opened #90098 "How to get the value of contentType in the Result ? the Result in k8s.io/client-go/rest/resquest.go"
How to get the value of contentType in the Result ?
the Result in k8s.io/client-go/rest/resquest.go

[2020-04-13 02:55] JHDST commented on #90098
/sig area/api

[2020-04-13 02:57] JHDST commented on #90098
/sig api

[2020-04-13 02:59] JHDST commented on #90098
/wg * API

[2020-04-13 02:59] JHDST commented on #90098
/sig ui

[2020-04-13 03:15] wangkai1994 commented on #90042
@uablrek Oh it works ,thanks. But i don't find the root casue. Do you have any idea?

[2020-04-13 04:56] 372046933 commented on #88986
@rikatz I have disabled offloading on both `bond0` on host node and `eth0` on container. Considerable latency exist nevertheless.

[2020-04-13 05:29] #86296 closed

[2020-04-13 05:43] awprice commented on #78416
/remove-lifecycle stale

[2020-04-13 05:48] mindw commented on #57250
/remove-lifecycle stale

[2020-04-13 06:27] #88994 closed

[2020-04-13 06:34] uablrek commented on #90042
How did you get it working? Upgrade kernel? Downgrade K8s?

The problem with ipvs+v1.18+linux-3.10 is that the lib used for controlling ipvs was upgraded but uses a feaure not present in linux-3.10. I think all things of bad things can happen and it's hard to know the symptoms in different systems.

However I think you should see error printouts in the `kube-proxy` log. I think this will be fixed

[2020-04-13 06:38] wangkai1994 commented on #90042
I upgrade kernel to 5.5 to solve this problem（but 4.4 is still not work,sad)

I think maybe this commit for kernel is the key?https://github.com/torvalds/linux/commit/3c5ab3f395d66a9e4e937fcfdf6ebc63894f028b

[2020-04-13 06:46] wuchuxiong opened #90101 "DualStack: Expose an IPv4 service and an IPv6 service to the same nodePort"
/sig Network
In previous release, a kubernetes service(type=NodePort) is listened on both IPv4 and IPv6.
Start from Kubernetes v1.18.0, an IPv4 service(type=NodePort) is listened on IPv4 only. And an IPv4 service(type=NodePort) is listened on IPv6 only too. see code commit https://github.com/kubernetes/kubernetes/commit/3eea0d14052d2b00d2191ea1833164896cc3ff51
With this change, I suppose that kube

[2020-04-13 06:55] enricovittorini commented on #74651
Why had this bug been marked as closed? It does look like the original issue is not solved, but only work-arounded.
It is not clear to me why the pod-eviction-timeout flag is not working

[2020-04-13 06:59] ryanc-me commented on #88986
I was having a similar issue with an Nginx Ingress running as a `DaemonSet`, with `hostNetwork: true` and `dnsPolicy: ClusterFirstWithHostNet`. My ingress was passing requests to a `Service` that was using `ExternalName` (i.e. pointing to a DNS name like _some-service.some-namespace.svc.cluster.local_).

Attempting to look up a domain would fail approximately 50% of the time.

After some digging,

[2020-04-13 07:00] zqzzq commented on #89679
@lavalamp   I have another cluster that also has this problem and cannot be fixed by restarting controller-managers, then I found some error logs in kube-apiserver：
[code]
These ips are podIP of controller-manager:
[code]
Is it because there is a problem with the connection between apiserver and controller-manager, which causes the cache to be out of sync？

[2020-04-13 07:48] pytimer commented on #87615
@mYmNeo golang 1.14 + kubernetes v1.17 ?

[2020-04-13 08:33] uablrek commented on #89869
The iptables rules look ok to me, and the counters show that you hit them as expected. I think that the SNAT/masquerade is not done by rules defined by kube-proxy but "something else". Maybe `kubespray` or some configuration in Calico, it is wery hard for me to say since I can't recreate the fault.

Since this fault does not seem like a bug in K8s I set triage/support.

/remove-triage unresolved
/

[2020-04-13 08:52] arjunrn commented on #86349
/remove-lifecycle stale

[2020-04-13 09:00] uablrek commented on #87884
If something lingers in `/opt/cni/bin` after removal is a fault but not fatal. What *is* fatal is that a config file remains in;
[code]
The above tested with install+remove of cilium:v1.7.1. The first config in sort-order in /etc/cni/net.d/ is used which is intended behaivor. When then installing Calico;
[code]
As you can see the lingering (faulty) cilium config is first.

This problem is caused b

[2020-04-13 09:00] #87884 closed

[2020-04-13 09:05] #80941 closed

[2020-04-13 09:07] uablrek commented on #87884
In cilium:v1.7.1 the "bin" files are removed. After install+remove cilium and install calico;
[code]
No lingering cilium files.

[2020-04-13 09:40] gvko commented on #20555
I had my `readinessProbe` on `/healthz` and the Ingress was not picking it up, so I was forced to open an endpoint on `/`, but then I found this, which solved my issue: https://github.com/kubernetes/ingress-gce/issues/241#issuecomment-385038196

[2020-04-13 09:52] JHDST opened #90102 "Error occurred when calling Get() method in k8s.io/client-go/rest/request.go to get runtime.object"
Error occurred when calling Get() method in k8s.io/client-go/rest/request.go to get runtime.object

Error：no kind "Table" is registered for version "meta.k8s.io/v1beta1" in scheme "k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructuredscheme/scheme.go:31"

[2020-04-13 09:52] JHDST commented on #90102
/sig network

[2020-04-13 09:56] aojea commented on #88986
I went ahead and submit a patch to flannel to fix/alleviate the problem, however I can't reproduce it nor test it, can somebody try my patch and report back in the PR?

https://github.com/coreos/flannel/pull/1282

[2020-04-13 09:56] uablrek commented on #69845
Use `nodePortAddresses` as work-around for the security issue see; https://github.com/kubernetes/kubernetes/pull/89998#issuecomment-611590526.

[2020-04-13 10:05] Colstuwjx commented on #89880
I found that the DeltaFIFO(which has been used by informer) would also be blocked while [do Pop()](https://github.com/kubernetes/kubernetes/blob/89c615f9c448503b674a0d61bfa8e413cefa4104/staging/src/k8s.io/client-go/tools/cache/delta_fifo.go#L410), and reflector used `Replace()` to [sync queue items](https://github.com/kubernetes/kubernetes/blob/89c615f9c448503b674a0d61bfa8e413cefa4104/staging/src/

[2020-04-13 10:45] aojea commented on #90084
/close

let's followup in a single place only,  that as you say the issues are different but the root cause is the same.
I've submitted a PR to flannel to try to fix this, but doesn't seem to be a Kubernetes issue, so let's close it here

[2020-04-13 10:45] #90084 closed

[2020-04-13 11:39] zhouya0 commented on #90074
This is related to https://github.com/kubernetes/kubernetes/pull/87714
/assign @julianvmodesto

[2020-04-13 11:55] oaicstef opened #90106 "Kubernetes not terminating pods after the respective deployment has been deleted"
**What happened**:
Every time I delete a deployment from console using kubectl the related pods are not deleted.
Console command executed is:
kubectl delete deploy deploymentname -n namespacename

**What you expected to happen**:
I expect that the pods and replicasets associated to the deployment are terminated.

**How to reproduce it (as minimally and precisely as possible)**:
I reproduce it only

[2020-04-13 12:06] mYmNeo commented on #87615
@pytimer We are using 1.16.6 without changing any code just recompiling. I think the root cause may be golang.

[2020-04-13 12:10] hasheddan opened #90107 "[Flaky Test] kind-master-parallel (ci-kubernetes-kind-e2e-parallel)"
**Which jobs are flaking**:

`kind-master-parallel (ci-kubernetes-kind-e2e-parallel)`

**Which test(s) are flaking**:

`[sig-storage] ConfigMap optional updates should be reflected in volume [NodeConformance] [Conformance]`
`[sig-storage] Projected configMap optional updates should be reflected in volume [NodeConformance] [Conformance]`
`[sig-cli] Kubectl client Kubectl describe should check if ku

[2020-04-13 12:13] hasheddan commented on #89051
Going to close this out as this job has been looking healthy for some time 👍

/close

[2020-04-13 12:14] #89051 closed

[2020-04-13 12:17] hasheddan commented on #87807
@alejandrox1 is this still under investigation? Looks pretty green as of late :)

[2020-04-13 12:20] hasheddan commented on #86355
@soltysh have you had a chance to look into this?

[2020-04-13 12:23] hasheddan commented on #88408
Updating testgrid link here: https://testgrid.k8s.io/sig-release-releng-informing#build-packages-debs

Any updates here @justaugustus @saschagrunert?

/retitle [Flaky Test] build-packages-debs (ci-release-build-packages-debs)
/kind flaky-test

[2020-04-13 12:24] hasheddan commented on #88408
/kind flake

[2020-04-13 12:26] hasheddan commented on #87092
@alejandrox1 any update on this test? Looks like the situation has not improved, are you in favor of removing?

[2020-04-13 12:29] sheerun commented on #55045
cbtw. casskop (cassandra cluster on kubernetes) needs to do this operation with operator... at least a flag to have this behavior would be very useful

[2020-04-13 12:30] rikatz commented on #90102
/sig api-machinery
/remove-sig network

[2020-04-13 12:31] talonx opened #90108 "Liveness probe periodSeconds is not honoured"
**What happened**:
Liveness probe periodSeconds was set to 60 seconds. This is an nginx container which acts as a reverse proxy to another container in the same pod. The other container does not have any liveness or readiness checks (for simplicity in debugging this problem). The /api/stats URL is accessible both via nginx as well as directly in the other container - I verified this using curl.
[c

[2020-04-13 12:36] talonx commented on #90108
/sig network

[2020-04-13 12:38] rikatz commented on #88986
@aojea I'm on it

[2020-04-13 13:11] rikatz commented on #88986
No success with the PR.

[code]

Rebooted everything so flannel.1 should be recreated, the problem still occurs. Disabling the tx offload on the client side everything goes well

[2020-04-13 13:26] vpickard commented on #83481
@klueska I think it is ok to go ahead and close this issue. The only test code that has not merged is some upgrade tests.

[2020-04-13 14:04] everpeace commented on #90025
Thanks for writing up plans and options!!

My preference is : A4 + A2 + B(original), and additional(`Score` plugins in `frameworkHandle`).

For I, II, IV, I want +1 for `4.`(associate Filter and PreFilter plugins to frameworkHandle so that ).  It is because preemption plugins would be interested in whether selecting victims can make enough room for the preemptor or not.  I think `2.` is too fine-g

[2020-04-13 14:19] firmboy commented on #42791
@sfloresk Solved my problem

[2020-04-13 14:20] raymonddeng99 commented on #89637
/assign

[2020-04-13 14:21] raymonddeng99 commented on #87120
/assign

[2020-04-13 14:59] MyIgel commented on #80207
/remove-lifecycle stale

[2020-04-13 15:20] liggitt commented on #90074
Or https://github.com/kubernetes/kubernetes/pull/86173

[2020-04-13 15:33] manderson23 commented on #78759
/remove-lifecycle stale

[2020-04-13 15:44] #67789 closed

[2020-04-13 15:59] WebDmitryPetrov opened #90114 "Error when starting the minikube"
Hi! When starting the minikube, an error is returned.
Ubuntu 18.04 /Docker 19.03.8 / Kybernetes v1.18.0 / mini cube v1.9.0 / conntrack v1.4.4 is currently installed
![photo_2020-04-13_18-59-17](https://user-images.githubusercontent.com/57726095/79135992-e94fd880-7db8-11ea-8787-59773c136212.jpg)

[2020-04-13 16:01] cwdsuzhou opened #90116 "hostPort not work for windows cluster"
**What happened**:

We configured hostPort for Pod in windows cluster base on k8s 1.14.10, but it does not work

**What you expected to happen**:

We can access the container port through hostPort

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):1.14.10
- Cloud provider or hardware

[2020-04-13 16:30] hasheddan opened #90117 "[Flaky Test] kind-ipv6-master-parallel ( ci-kubernetes-kind-ipv6-e2e-parallel)"
**Which jobs are flaking**:

`kind-ipv6-master-parallel ( ci-kubernetes-kind-ipv6-e2e-parallel)`

**Which test(s) are flaking**:

`[sig-cli] Kubectl client Simple pod should support inline execution and attach`
`[sig-network] Services should allow pods to hairpin back to themselves through services`
`[sig-network] Services should be able to create a functioning NodePort service [Conformance]`

...

[2020-04-13 16:31] hasheddan commented on #90117
@BenTheElder do you have any insight on these flakes + https://github.com/kubernetes/kubernetes/issues/90107?

[2020-04-13 16:35] fahman commented on #83786
I am

I am sorry but this is a non-solution.
We are using proxmox that comes bundled with ceph v12.2.10 and we just cannot easily upgrade ceph cluster to the version required by csi driver.

So I vote this bug is still open just in case some dude eventually decides to fix it.

[2020-04-13 16:39] hasheddan commented on #88974
@pjh looks like https://github.com/kubernetes-sigs/windows-testing/pull/157 did not fix it, could you take another look when you get a chance?

[2020-04-13 16:43] hasheddan commented on #89262
/sig windows

[2020-04-13 16:48] cbf123 commented on #84869
/reopen
/remove-lifecycle rotten

[2020-04-13 17:16] lavalamp commented on #89948
That sounds like a configuration problem. I guess you need to take it up with IKS. If you can see your `kubelet`s, there's some chance you might be able to find the configuration problem in their command line arguments, config files, or environment...

[2020-04-13 17:41] Huang-Wei commented on #90025
Thanks @everpeace .

A4 + A2 is also my preference.

Regarding your proposal on B (expose `Score` plugins), in your practice, to what extent those `Score` plugins can be re-used to help select a PreemptionStrategy? IMO you have to still mutate the state and the (cloned) NodeInfo (to remove victims from it), so I'm not sure about the real value here. @alculquicondor had a discussion in another issu

[2020-04-13 17:59] hasheddan commented on #89892
/cc @kubernetes/sig-node-test-failures

[2020-04-13 18:22] larham opened #90119 "dependencies.yaml : please add patch version for docker"
**What would you like to be added**:

https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml#L28

shows only the docker minor version, omitting the patch version.  e.g. `19.03`

Please add the patch version, e.g. `19.03.5`

**Why is this needed**:

All other dependencies are listed with patch version.  Docker releases are not available for download without a patch version. We

[2020-04-13 18:30] neolit123 commented on #90083
@chief93

is that a 1.18.1 or 1.8.1?

try a different CNI plugin like Calico or WeaveNet. Flannel has shown some errors in the recent k8s versions.

/sig cluster-lifecycle

[2020-04-13 18:31] neolit123 commented on #90083
/remove-kind bug
/triage support

[2020-04-13 19:08] calebamiles commented on #90119
/sig release

[2020-04-13 19:21] adeshmukh-quizlet commented on #79224
Found this while looking for docs on how to inject `Secrets` into `ConfigMaps` - I was expecting this to be a feature already :)

I don't have much to add in terms of reasons for why this feels necessary besides offering the opinion that this feels like a very intuitive feature for reasons others have already pointed out. Please consider reopening it.

[2020-04-13 19:32] chief93 commented on #90083
@neolit123 of course 1.18.1, missed the leading "1", will update the issue.
About other CNI - I thought about this, but:

1. I need the Flannel, because only Flannel creates virtual network over L2, not over L3. I need this because of simplier IPv6 assignment to pods
2. please take in mind that I ask about issue in the `kube-proxy`, because at least issue there is present both within and without i

[2020-04-13 19:33] ngaya-ll commented on #78607
Per @apelisse, this depends on https://github.com/kubernetes/enhancements/issues/1027, which depends on https://github.com/kubernetes/enhancements/issues/555, which is still in beta.

/remove-lifecycle stale

[2020-04-13 19:36] neolit123 commented on #90083
trying another CNI can determine if this is a bug in flannel or core k8s.
bugs for flannel should be logged here:
https://github.com/coreos/flannel

[2020-04-13 19:38] chief93 commented on #90083
yes, but let's look at the default Kuberenetes installation procedure: right after `kubeadm init` and executing the `kubeadm get pods` all listed pods should be with status Running. In my case the `kube-proxy` is in `Error` state caused by mentioned mistake in `server.go` and `coredns` in `Pending`, because it waits for the CNI, which can't be installed, because Flannel looks for the API server ov

[2020-04-13 19:42] deads2k commented on #89948
/assign @rtheis @wmlynch

[2020-04-13 19:44] neolit123 commented on #90083
understood, looks like i had to read your issue description better too.

/remove-sig cluster-lifecycle
/sig network
/remove-triage support

[2020-04-13 19:50] chief93 commented on #90083
thanks =) and one another note - I can't use Calico, because it's default address pool, overlaps my home network (192.168.1.0/24 - home network, 192.168.0.0/16 - Calico). I can try again setting my own  address pool, but it will require patching the Calico ConfigMap, and from experience of previous using of same scenario with Flannel, wich led to Flannel intervention in Mikrotik ARP table, I can't

[2020-04-13 19:51] deads2k commented on #89948
Suggestion from @derekwaynecarr

/assign @mhbauer

[2020-04-13 20:06] dims commented on #89961
@serathius https://github.com/kubernetes/gengo/pull/173 has merged.

[2020-04-13 20:31] sean-krail commented on #33664
@VanitySoft, @dapseen is saying to pull by Docker image SHA digest instead of by tag names.  This would be a change in your CI/CD workflow. You'd have to add something like this (assuming your using Docker Hub):
[code]
Then the image is referenced as `${DOCKER_REPO}@${docker_digest}` instead of `${DOCKER_REPO}:${DOCKER_TAG}`.

This is the only way to achieve true idempotent deployments since diges

[2020-04-13 20:37] #83191 closed

[2020-04-13 20:42] rbo54 opened #90123 "Problem with dynamic CSI provisioning when fsgroup is set for access type RWO"
**What happened**:
This defect is related to the solution chosen for a previous defect: https://github.com/kubernetes/kubernetes/issues/66323.
It appears the solution did not consider a use case our customer has which is described here.

The user wants to provision an NFS mount off of one of our arrays that supports NFS as a native protocol.
(We verified this on Kubernetes v1.14 and v1.16.)

The P

[2020-04-13 21:08] czheng94 opened #90124 "batch/Job should report `JobPodFailure` in `status.conditions` when failing to create pod(s)"
**What would you like to be added**:

batch/Job and apps/StatefulSet should report `JobPodFailure` in  `status.conditions` when failing to create a pod, similar as how it's done in Deployment and ReplicaSet.

**Why is this needed**:

When a Job fails to create pods due to exceeding resource quota (or due to other errors), the job will be stuck with nothing exposed in its `status.conditions`.

Unde