[2018-03-12 23:43] crimsonfaith91 commented on #51484
/reopen
/remove-lifecycle rotten

[2018-03-12 23:54] jingxu97 commented on #60645
Talked with @jsafrane offline, come up with a solution which combines both #60888 and #61071.
The proposal still follows the idea of
1. If pod is added to desired state (no matter whether it might be removed soon or not), do not reconstruct directly (reconstruction does not has the full information which might fail or cause problem having wrong information since there is not enough checking), inst

[2018-03-13 00:21] phemmer commented on #56582
I'm also in the same boat of needing this feature. Our situation is that we have a "production" namespace, a "staging" namespace, etc, of which all our various applications are deployed to. We want to grant each application owner access to their own resources, but since names of things like pods are auto-generated, we can't without granting access to the whole namespace.

The `nonResourceURLs` att

[2018-03-13 00:35] #53806 closed

[2018-03-13 00:37] andrewsykim commented on #61058
/sig storage

[2018-03-13 00:37] gnufied commented on #61058
Can you post the pod specs?

[2018-03-13 01:02] tianshapjq commented on #60821
I missed configuring the DynamicKubeletConfig to all components, just set to the kubelet.

[2018-03-13 01:02] #60821 closed

[2018-03-13 01:21] Pingan2017 commented on #33084
still seeing in v1.11.0-alpha.
I think since k8s list all images and delete the unused images no matter the image is pulled by docker directly or through kubelet, k8s also should determine if the image is used by all running containers in the node , or at least not spam events for this..
. Now, kubelet just  judge used by the running containers that k8s managed.
 	// Make a set of images in use by

[2018-03-13 01:22] andrewsykim commented on #61058
[code]

[2018-03-13 01:34] andrewsykim commented on #61058
Disabling the MountPropagation feature fixes the issue

[2018-03-13 01:36] #48920 closed

[2018-03-13 01:36] #25554 closed

[2018-03-13 01:36] #48925 closed

[2018-03-13 01:36] #48987 closed

[2018-03-13 01:37] andrewsykim commented on #61058
Here's the part of docker that seems to be doing the check: https://github.com/moby/moby/blob/master/daemon/oci_linux.go#L454-L465

[2018-03-13 01:39] andrewsykim commented on #61058
cc @jsafrane

[2018-03-13 01:42] gyliu513 opened #61074 "proxy report ipvs related warning even ipvs not enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kube proxy report following error even if ipvs not enabled.
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Install kubernetes and start proxy.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

We are using 1.9.

[2018-03-13 01:42] gyliu513 commented on #61074
/sig network

[2018-03-13 01:47] wavezhang commented on #44450
fixed?

[2018-03-13 01:48] kirsazlid commented on #59461
@ttarczynski Hi, I've not solved this problem yet, since this initializing process is automatic, I can't figure out the reason at all.

[2018-03-13 01:52] shenshouer commented on #41025
Anyone who knows how to solved on CentOS7 with kernel 4.9.0 ?

[2018-03-13 01:53] m1093782566 commented on #61074
It's a noise, but it's thrown by libnetwork/ipvs util.

Is that a big deal?

[2018-03-13 01:54] m1093782566 commented on #61074
@islinwb, please take a look when you have a chance :)

[2018-03-13 01:55] gyliu513 commented on #61074
Yes, it always bring noise for production when we get warning messages. Why printing some ipvs message even it was not enabled? @m1093782566

[2018-03-13 01:58] k82cn commented on #61050
maybe this case: https://github.com/kubernetes/kubernetes/issues/60163#issuecomment-368773086  , let me check more detail :)

[2018-03-13 02:00] m1093782566 commented on #61074
/area ipvs

[2018-03-13 02:02] #34439 closed

[2018-03-13 02:21] oilbeater commented on #59044
Meet same problem, macvlan seems transfer traffic directly to outside without passing through host network stack and iptables didn't take effect.

[2018-03-13 02:37] #49053 closed

[2018-03-13 02:37] #49050 closed

[2018-03-13 02:37] #49052 closed

[2018-03-13 02:37] #49096 closed

[2018-03-13 02:37] #49184 closed

[2018-03-13 02:37] #49177 closed

[2018-03-13 02:37] #49189 closed

[2018-03-13 02:37] ZhiqinYang commented on #61036
This becase  kubectl  get all both called  /apis/extensions/v1beta1 and /apis/apps/v1beta1 !

[2018-03-13 03:09] foxyriver commented on #58002
@brendandburns
In a single etcd server, quorum and non-quorum reads are equivalent

[2018-03-13 03:13] whereisaaron commented on #13488
Two and half years on and people are still crafting new workarounds, with dummy env vars, dumy labels, ConfigMap and Secret watcher sidecars, scaling to zero, and straight out rolling-update shell scripts to simulate the ability the trigger a rolling update. Is this still something cluster admins should not be allowed to do honestly, without the tricks?

#27081 #33664 https://github.com/kubernetes

[2018-03-13 03:38] Silvenga opened #61076 ""CreateContainerConfigError: failed to prepare subPath for volumeMount" error with configMap volume"
/kind bug

**Fix status:**
- [x] merged in master in https://github.com/kubernetes/kubernetes/pull/61080, will be in 1.10.0-rc.1
- [x] merged in release-1.9 branch in https://github.com/kubernetes/kubernetes/pull/61107, in [v1.9.5](https://github.com/kubernetes/kubernetes/releases/tag/v1.9.5)
- [x] merged in release-1.8 branch in https://github.com/kubernetes/kubernetes/pull/61108, in [v1.8.10](ht

[2018-03-13 03:38] ShualLiu commented on #60930
I'm sorry for that. Do you mean this situation?
[code]

[code]

[2018-03-13 03:38] #49193 closed

[2018-03-13 03:38] #49200 closed

[2018-03-13 03:38] #49297 closed

[2018-03-13 03:38] #49301 closed

[2018-03-13 03:38] #49295 closed

[2018-03-13 03:38] #49373 closed

[2018-03-13 03:38] #49331 closed

[2018-03-13 03:38] #49367 closed

[2018-03-13 03:55] Silvenga commented on #61076
Downgraded to v1.9.3, the problem does not appear to exist.

[2018-03-13 04:02] jjtestk8s commented on #32542
@olalonde  I ran into the same error ,disk space is used 100%，but kubectl describe nodes report that kubelet has sufficient disk space.So  How do you solve it? Thank you！

[2018-03-13 04:03] andreimc commented on #61076
I had the same issue, I am not sure if this behaviour is intended and we should use Pod Security Policies to allow the mounting of config maps ?

[2018-03-13 04:10] liggitt commented on #60768
in progress, 1.9 PR open at https://github.com/kubernetes/kubernetes/pull/60921

[2018-03-13 04:15] liggitt commented on #58083
doc PR is open and tagged for the 1.10 milestone. moving this issue to 1.11

[2018-03-13 04:17] liggitt commented on #61076
@kubernetes/sig-storage-bugs
/assign @jsafrane @msau42

[2018-03-13 04:21] jjtestk8s opened #61079 "when node has"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-03-13 04:39] #49383 closed

[2018-03-13 04:39] #49415 closed

[2018-03-13 04:39] #49434 closed

[2018-03-13 04:39] #49442 closed

[2018-03-13 04:39] #49509 closed

[2018-03-13 04:46] feiskyer commented on #60905
@tpepper Yep, I think so.

[2018-03-13 04:46] feiskyer commented on #60905
Fixed in #60365.

[2018-03-13 04:46] #60905 closed

[2018-03-13 05:34] krzyzacy commented on #60003
#60763 and #60762 left here

[2018-03-13 05:40] #49513 closed

[2018-03-13 05:40] #49545 closed

[2018-03-13 05:40] #49556 closed

[2018-03-13 05:48] liggitt commented on #61076
thanks for the report. yes, it is related to the fix for #60813 and a backstep detection function that hits a false positive with the directory structure used by configmap/secret volumes

a fix is in progress in https://github.com/kubernetes/kubernetes/pull/61080

[2018-03-13 06:06] ConradIrwin commented on #18307
/remove-lifecycle rotten

We just hit this in production in combination with Google Kubernetes Engine's auto-upgrade feature.

[2018-03-13 06:24] shiywang commented on #47862
/remove-lifecycle rotten

[2018-03-13 06:39] k82cn commented on #61079
/sig node

Would you help to share your configuration, e.g. Pod yaml?

[2018-03-13 06:41] #49559 closed

[2018-03-13 06:41] #49570 closed

[2018-03-13 06:41] #49602 closed

[2018-03-13 06:41] #49622 closed

[2018-03-13 06:41] #49634 closed

[2018-03-13 06:41] #49675 closed

[2018-03-13 06:41] #49745 closed

[2018-03-13 06:41] #49756 closed

[2018-03-13 06:41] #49777 closed

[2018-03-13 07:00] BruceShenC commented on #12803
I used kubeadm to deploy k8s. And I update the apiserver yaml file. The api server docker instance couldn't start. and Get the error like failed to delete mirror pod. How can I fix it otherwise restart? Because I have other services running in K8S cluster. Thanks !

[2018-03-13 07:11] hzxuzhonghu opened #61084 "`pkg/api/unversioned` should be removed"
/kind cleanup
/sig api-machinery

`pkg/api/unversioned` is deprecated in 2016, and marked if heapster stop using this pkg, it can be safely removed. Since https://github.com/kubernetes/heapster/pull/1537, heapster not use it anymore. So it's time to remove it.

[2018-03-13 07:17] BruceShenC commented on #44450
How to work around? I coudn't start api server when using kubeadm to deploy k8s. Thanks!

[2018-03-13 07:42] #49854 closed

[2018-03-13 07:42] #49814 closed

[2018-03-13 07:42] #49873 closed

[2018-03-13 07:42] #49917 closed

[2018-03-13 07:42] #49896 closed

[2018-03-13 07:42] #49934 closed

[2018-03-13 07:42] #49933 closed

[2018-03-13 07:42] #49957 closed

[2018-03-13 08:07] piersbarrios commented on #49198
/close

[2018-03-13 08:07] #49198 closed

[2018-03-13 08:08] prometherion opened #61088 "CSR Common Name for RBAC is case-sensitive"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I tried to install a Kubernetes cluster from scratch using RBAC and Node authorization and noticed that the `kubernetes` certificate CSR CN is case sensitive. This is not a bug (even marked as it) but a way to provide support for people who is experiencing various `Forbidden (user=Kubernetes, verb=get, resource=nodes, subresource=p

[2018-03-13 08:09] prometherion commented on #61088
/sig auth

[2018-03-13 08:10] andyzhangx commented on #61076
Need to mention that this issue also exists in Windows, and the PR also covers for windows.

[2018-03-13 08:21] bsalamat commented on #49896
We have made a couple of improvements to the `unschedulable` message of pods that should make it much more readable. The changes are available in Kubernetes 1.10 (and partly in 1.9).

[2018-03-13 08:36] kierenj commented on #17512
This is weird.  I want to know when I'm at or nearing allocation capacity.  It seems a pretty basic function of a cluster.  Whether it's a statistic that shows a high % or textual error... how do other people know this?  Just always use autoscaling on a cloud platform?

[2018-03-13 08:45] Lion-Wei opened #61090 "[gci-gce-ipvs failed]service loadbalancer source range don't work in ipvs proxy mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Service loadbalancer source range don't work in ipvs proxy mode.
Which result in gci-gce-ipvs CI failed.
http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs

**How to reproduce it (as minimally and precisely as possible)**:
In gce environment.
1. Create a service with backend.
2. Change service type to `LoadBala

[2018-03-13 08:45] Lion-Wei commented on #61090
/kind bug
/sig network
/label ipvs

[2018-03-13 08:46] #50027 closed

[2018-03-13 08:46] #50003 closed

[2018-03-13 08:46] #50041 closed

[2018-03-13 08:46] #50067 closed

[2018-03-13 08:46] #50107 closed

[2018-03-13 08:46] #50127 closed

[2018-03-13 08:46] #50129 closed

[2018-03-13 08:46] #50227 closed

[2018-03-13 09:03] tianyaning opened #61092 "tolerations add to replicationController not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
scene 1：
I try to add tolerations to replicationController before the replicationController is created.
It works well, and after the replicationController created,  both itself and it's pods have the same tolerations.
But when i scale the replicationController, something strange happened: The replicationController have no toleration

[2018-03-13 09:12] sttts commented on #61017
I cannot reproduce this on my local machine (zsh 5.3.1 x86_64-apple-darwin16.3.0).

Please produce a docker container (with Dockerfile) that shows this issue.

[2018-03-13 09:16] tianyaning commented on #61092
/sig Scheduling
/sig api-machinery
/sig

[2018-03-13 09:19] sttts commented on #61017
And another important question for the release: @den-is can you try with the 1.9 kubectl? Is that working in your setup?

[2018-03-13 09:30] ZhiqinYang commented on #60930
This maybe not a bug !

[2018-03-13 09:37] ZhiqinYang commented on #60930
/close

[2018-03-13 09:41] ZhiqinYang commented on #60930
/assign me

[2018-03-13 09:41] den-is commented on #61017
little bit more info:
i'm running this on CentOS 7.4 1708 x64 and zsh from official repo
same issue happenes with 1.10.0-b3:
[code]
1.9.3
[code]

[2018-03-13 09:42] ZhiqinYang commented on #60930
/assign @ZhiqinYang

[2018-03-13 09:44] #50292 closed

[2018-03-13 09:44] #50326 closed

[2018-03-13 09:44] #50346 closed

[2018-03-13 09:49] sttts commented on #61017
From sig-cli Slack:

Kazuki Suda [01:22]
It seems that `__debug` have to be renamed to `__kubectl_debug` due to changes contained https://github.com/kubernetes/kubernetes/pull/60689.
https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=__debug&type= (edited)

[2018-03-13 09:53] vdboor commented on #13488
@so0k @KIVagant deleting pods means downtime, even when running multiple instances. When someone runs a single pod with `strategy.rollingUpdate.maxUnavailable = 0` kubernetes creates a new pod first before it terminates the existing one. The `kubectl patch deployment` trick triggers this behavior, and I'd really like to see this being a default one.

For instance, when running images from hub.dock

[2018-03-13 10:16] mlmhl commented on #61052
I can help to fix this.

[2018-03-13 10:26] yanhongwang commented on #31307
Hello all,

In my Kubernetes cluster, SlaveIP:80 can be shown by netstat and accessed by browser.
but MasterIP:80 **can't be opened**.

I think portmap plugin have already enabled by slave side.
But, why doesn't on master side?

My environment condition:

Ubuntu: 16.04 LTS
Kubernetes: 1.9.3
Docker-ce: 17.03.2~ce-0~ubuntu-xenial
Weave Net: 2.2.1

I follow the official Kubernetes ingress page.
https

[2018-03-13 10:45] #50369 closed

[2018-03-13 10:45] #50403 closed

[2018-03-13 10:45] #50415 closed

[2018-03-13 10:45] #50475 closed

[2018-03-13 10:45] #50493 closed

[2018-03-13 10:45] #50544 closed

[2018-03-13 10:45] #50568 closed

[2018-03-13 10:50] jsafrane commented on #60764
Trying to rephrase the problem in my own words: PV/PVC protection is on by default in 1.10 and it's off by default in 1.9. If you have 1.10 cluster with a PVC, it gets a finalizer when it's created (via admission plugin). The finalizer is removed by a protection controller when it's safe to delete the PVC. When you downgrade 1.10 to 1.9, the controller won't be enabled and nobody removes the final

[2018-03-13 11:02] jsafrane commented on #61058
The error means that either docker sees has the mount where `/opt/kubelet/dev` resides (is it `/`?) as not (r)shared. rshared should be the default mount propagation for all mounts when systemd is the init.

What docker version do you use? What Ubuntu version? Did you do any modifications to mount propagation on the host? Please post /proc/1/mountinfo (to see what the host/systemd thinks) and /pro

[2018-03-13 11:08] haf commented on #50983
@msau42 Did you try this yourself? This seems to be an issue, and it's reported well enough with repro steps and all.

For me I get `2018-03-13 12:04:11 +0100 CET   2018-03-13 11:43:59 +0100 CET   82        rabbitmq-pvc-rabbitmq-2.151b74e8058a87c8   PersistentVolumeClaim             Warning   ProvisioningFailed   persistentvolume-controller   storageclass.storage.k8s.io "ssd" not found` in the eve

[2018-03-13 11:22] traghave commented on #60917
@ericchiang
Could you suggest any alternative solution for this for time being?

[2018-03-13 11:37] maxkondr opened #61100 "Cloud Controller Manager tries to create LoadBalancer for services with Type=ClusterIP"
/kind bug

**What happened**: CCM tries to create LoadBalancer for services with Type=ClusterIP or NodePort

**What you expected to happen**: CCM doesn't try to create LB for such services

**How to reproduce it (as minimally and precisely as possible)**:
1) setup CCM
2) create service with Type=ClusterIP

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ver

[2018-03-13 11:43] murali-reddy commented on #59507
@m1093782566 i suggest use of `Finalizers`. In general some of the controllers logic of figuring out diff and reconciliation is very convoluted and some times not possible like in this case.

If kube-proxy IPVS proxies always process the add/delete/updates to the service and endpoint, then it can be sure of what it can add/delete.

[2018-03-13 11:43] jsafrane opened #61101 "Subpath tests don't work in multizone GCE"
New tests for subpath consistently fail in ci-kubernetes-e2e-gce-multizone:

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/18398/

/kind bug
/sig storage

@msau42 @verult

[2018-03-13 11:45] chrissound opened #61103 "HTTP 415 when trying to patch a deployment"
/kind bug

**What happened**:

Received the following HTTP 415 response:
[code]

**What you expected to happen**:

For the deployment to be patched and a successful HTTP 200 response.

How to reproduce it (as minimally and precisely as possible):
(I'm aware of the auth key present - it's just for development purposes)
[code]

**Environment**: Linux / Haskell / HTTP API
- Kubernetes version (use `k

[2018-03-13 11:46] #50608 closed

[2018-03-13 11:46] #50753 closed

[2018-03-13 11:46] #50774 closed

[2018-03-13 11:46] #50748 closed

[2018-03-13 11:46] #50835 closed

[2018-03-13 11:46] #50763 closed

[2018-03-13 11:46] #50820 closed

[2018-03-13 11:46] #50844 closed

[2018-03-13 11:46] #50784 closed

[2018-03-13 11:46] #50855 closed

[2018-03-13 11:46] chrissound commented on #61103
/sig api-machinery

[2018-03-13 11:58] chrissound commented on #61103
Fixed by setting the http header `Content-Type: application/merge-patch+json`. More info can be found here: https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#patch-operations

I feel the Reference API documentation should mention this...

[2018-03-13 12:37] superbrothers commented on #61017
@sttts You can reproduce this with the below:

[code]

[2018-03-13 12:47] #50077 closed

[2018-03-13 12:47] #50847 closed

[2018-03-13 12:47] #50922 closed

[2018-03-13 12:47] #50928 closed

[2018-03-13 12:47] #50979 closed

[2018-03-13 12:47] #50941 closed

[2018-03-13 12:47] #50994 closed

[2018-03-13 12:47] #51002 closed

[2018-03-13 13:00] superbrothers commented on #61017
`__debug` was renamed to `__kubectl_debug` at https://github.com/spf13/cobra/pull/520/files#diff-3db5cab63dbb32fff4264f5449fd2904R25, but `__debug` has been used yet in completions generated by `kubectl completion zsh`. So we have to replace `__debug` to `__kubectl_debug`.

[2018-03-13 13:00] bilalAchahbar opened #61110 "kubernetes pods stuck at Container creating when shrinking raspbian lite image"
hello

My setup
4 raspbian pi's
os: raspbian stretch lite

situation:
When i clone my image to an .img file (16gb) and clone the images in the beginning to every pi on the cluster and set up a cluster everythings works fine.

I am trying to shrink the .img file so that it wouldn't be that large and very easy to burn on a new pi or when pi gets broken.
Until know i used these 2 methods
- www.aoakle

[2018-03-13 13:11] bilalAchahbar commented on #61110
/sig cluster-lifecycle

[2018-03-13 13:13] dims commented on #60589
@shyamjvs toooooooo many commits to place bets :)

[2018-03-13 13:24] squeed commented on #31307
@yanhongwang hostnetworking means that no port forwarding is taking place; the application is opening port 80 directly. So, that's not related to port forwarding.

[2018-03-13 13:26] #61088 closed

[2018-03-13 13:38] MikeSpreitzer opened #61112 "pull-kubernetes-kubemark-e2e-gce failing with ERROR: (gcloud.compute.instances.delete) Could not fetch resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
This looks like a problem with the automated testing.  See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/60065/pull-kubernetes-kubemark-e2e-gce/81204?log#log for an example.  Note the entry
[code]
and others like it.

**What you expected to happen**:
I expected the GCE resource wrangling to not

[2018-03-13 13:38] MikeSpreitzer commented on #61112
@kubernetes/sig-testing-bugs

[2018-03-13 13:42] MikeSpreitzer commented on #61112
This test seems to be consistently failing.  See https://k8s-gubernator.appspot.com/pr/60065

[2018-03-13 13:44] shyamjvs commented on #60589
@dims That's would add more fun I guess ;)

Update: So I ran few iterations of the bisection and here's how the relevant metrics looked across commits (ordered chronologically). Note that for the ones I ran manually, I ran them with the earlier regression reverted (i.e 3.2. -> 3.1.11).

| Commit | 99% watch latency | 99% pod-startup latency | Good/bad? |
| ------------- |-------------|-----|------

[2018-03-13 13:48] #51170 closed

[2018-03-13 13:48] #51234 closed

[2018-03-13 13:48] #51165 closed

[2018-03-13 13:48] #51268 closed

[2018-03-13 13:48] #51362 closed

[2018-03-13 14:00] shyamjvs commented on #60589
Just obtained the results for manual run against a042ecde36 and it only makes life harder:

[code]

as this probably means it might be a flaky regression.

[2018-03-13 14:01] rajiv9702 opened #61113 "The connection to the server localhost:8080 was refused - did you specify the right host or port?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-03-13 14:02] ttarczynski commented on #59461
@kirsazlid I've just found it's related to the docker systemd configuration. I got some docker configs written by puppet.

* the `docker-mountflags.conf` seems to be causing the problem
* I had this config:
[code]
* I was able to fix the `kube-proxy` problem by changing this to the default value:

[code]
* after this change I have `kube-proxy` with status `Running`

[code]

[2018-03-13 14:07] xmudrii commented on #57042
I've worked with @sttts on reproducing the issue and finding the root of the problem. I'll try my best to explain what have I found.

It's hard to define what limited resources are. In the most of cases, everything worked flawlessly. To be able to reproduce the issue, I had to put my local machine (which was running the cluster via `./hack/local-cluster-up.sh`) under the heavy load (100% CPU and a

[2018-03-13 14:08] crassirostris commented on #60882
Yes, this is a significant bug in tests, sorry that it slipped our attention

[2018-03-13 14:23] crassirostris commented on #60500
@shyamjvs

Depends on the request sizes. Assuming each request in ~2.5KB (something I observed in e2e correctness tests), that's at least +25MB for buffering. Accounted for the different size internally, gc and the fact that a copy of audit logging request is stored in context for each request, +100-200 MB sounds reasonable.

[2018-03-13 14:27] jdumars commented on #60764
Should this be a known issue and not be part of the downgrade suite? There some actions that simply don't lend themselves to downgrade without intervention.

[2018-03-13 14:28] shyamjvs commented on #60500
Thanks @crassirostris - I'll update our thresholds correspondingly. Could you please make a release-note mentioning this (if not already done) as this can affect end users?

[2018-03-13 14:37] joelittlejohn commented on #13488
@bgrant0607 I think the important use-case that is not covered by other tickets is this one: https://github.com/kubernetes/kubernetes/issues/13488#issuecomment-136946912

I'd like to force a rolling restart to clear all application state without manual tricks.

[2018-03-13 14:41] crassirostris commented on #60500
@shyamjvs

To clarify, advanced audit logging is enabled by default everywhere but in scale tests since 1.9 (or 1.8 even). That's not a new change per se. However, I created a PR to address this point in the documentation: https://github.com/kubernetes/website/pull/7725

[2018-03-13 14:47] crassirostris commented on #58083
Well, there's a separate issue for 1.11, so to avoid constant pinging from the bot and considering that docs PR is almost ready, I'll move this issue back to 1.10 and close

[2018-03-13 14:47] #58083 closed

[2018-03-13 14:49] #51405 closed

[2018-03-13 14:49] #51349 closed

[2018-03-13 14:49] #51464 closed

[2018-03-13 14:49] #51427 closed

[2018-03-13 14:49] #51486 closed

[2018-03-13 14:49] #51496 closed

[2018-03-13 14:49] #51554 closed

[2018-03-13 14:49] #51532 closed

[2018-03-13 14:52] shyamjvs commented on #60500
I'm aware of that :) However, note that for our 100-node scalability jobs we [did not disable](https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-e2e-gci-gce-scalability.env) advanced audit-logging (unlike for our [larger jobs](https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-e2e-gce-large-performance.env#L26)). IIUC that's the reason why we caug

[2018-03-13 14:59] bmoyles0117 commented on #60762
Two two PRs that should resolve this issue have been approved and will be merged soon.

#60951
#60981

[2018-03-13 15:09] johscheuer commented on #59074
I assume you are running the apiserver with `--storage-backend=etcd3` ? Because we see the same behaviour with `etcd3` as storage-backend (I will test `etcd2` to validate if the MR from above solves this problem)

@akumria it seems like this commit will be in 1.10.*

[2018-03-13 15:13] andyxning commented on #54384
/remove-lifecycle stale

[2018-03-13 15:16] gnufied commented on #60764
The only possible way is when we downgrade the cluster to 1.9.x then the PV/PVC protection feature must be enabled for finalizer to be deleted (so as PVC can be deleted). We will have to perhaps document this somewhere.

[2018-03-13 15:18] k82cn commented on #61050
ACK.  In progress, that trigger a limitation of this feature that: DaemonSet pods donot tolerate unscheduable nodes. Working on the solution.

[2018-03-13 15:19] crassirostris commented on #60500
Oh, OK. I got confused with all different scale tests, sorry :) I agree, PR in question did increase memory consumption on its own. Not sure it requires a separate release note or a piece of documentation, since the memory consumption is extremely dependent on the configuration. For example, buffering existed in webhook audit backend, so e.g. in GKE memory consumption shouldn't have changed.

BTW,

[2018-03-13 15:20] shyamjvs commented on #60589
I'm currently running the test against a042ecde36 once more to verify the possibility that the regression came in even before it.

[2018-03-13 15:23] andrewsykim commented on #61058
This is on docker v1.12.6. `/opt/kubelet/dev` is on the `/` mount. I've been using that host path for quite a while so it's likely that its mount propagation mode was not changed when I upgraded versions. I am also not using systemd for init.

[2018-03-13 15:23] krousey commented on #60764
Another option is to disable the admission controller for 1.10, but leave
the controller that removes the finalizers. Then enable the admission
controller in the next release.

I'm not saying it's a good option, but it is a way to gracefully introduce
a feature like this.

On Tue, Mar 13, 2018, 08:16 Hemant Kumar <notifications@github.com> wrote:

[2018-03-13 15:32] shyamjvs commented on #60500
No problem :). Few thoughts:

The documentation PR you created is definitely useful. However, my feeling is this also warrants a release-note. If it SGTY, I can add a release-note in the PR where I'll bump our test thresholds.

That's true. Maybe a rough idea of the upper bound (200MB?) with default config (i.e 10k events?) is enough.

For GKE, yup. One question though - did we change the k8s apis

[2018-03-13 15:36] jberkus commented on #61076
@liggitt if this is a 1.9.4 issue, why the 1.10 milestone?

[2018-03-13 15:37] ssenthil416 commented on #50326
Is the issue already taken care or resolved...It seems no one replied to it with proper details like is it a issue, or its implemented or not applicable....

Pls let me know what exactly happen

[2018-03-13 15:40] liggitt commented on #61076
it's a recently introduced regression that is release blocking and needs cherry picking to 1.7.x, 1.8.x, and 1.9.x

[2018-03-13 15:40] dims commented on #61076
@jberkus this problem was triggered by the change made for the CVE yesterday (which had patch for 1.10/master which was backported to 1.9,1.8,1.7 branches). when we shipped 1.9.4, someone noticed it. So this problem exists in v.1.10/master as well. So we start here and then do backports again (i believe @liggitt has filed backports already)

[2018-03-13 15:40] yanhongwang commented on #31307
Hello @squeed ,

Thanks for your reply.

In https://github.com/kubernetes/ingress-nginx/blob/master/deploy/README.md
After applying all the yaml, Ingress controller works without error.
But why the **master 80 port** still can't be shown by netstat and accessed by browser?

Currently I use **Kubernetes: 1.9.3**, do I still need to create /etc/cni/net.d/10-****.conflist to enable portmap mechanism?

[2018-03-13 15:45] crassirostris commented on #60500
SG, thanks!

For log backend, no. Or, rather yes, but there's a PR to revert it and re-introduce it in 1.11

Thanks!

[2018-03-13 15:50] #22984 closed

[2018-03-13 15:50] #51611 closed

[2018-03-13 15:50] #51597 closed

[2018-03-13 15:50] #51713 closed

[2018-03-13 15:50] #51793 closed

[2018-03-13 16:00] #60762 closed

[2018-03-13 16:07] albertvaka opened #61117 "PLEG is not healthy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I had a node missbehaving. journal of the kubelet showed this:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8.8
- Cloud provider or hardware configuration: GCE
- OS (e.g. from /etc/os-release): Ubuntu 16.04.3 LTS
- Kernel (e.g. `uname -a`): 4.13.0-1011-gcp
- Install tools: kubeadm
- Others:

[2018-03-13 16:10] albertvaka commented on #61117
/sig node

[2018-03-13 16:13] jpds commented on #56703
Which release did this land in? I'm seeing this in `1.9.3`.

[2018-03-13 16:17] tpepper commented on #61100
/sig cluster-lifecycle

[2018-03-13 16:17] jberkus commented on #60870
At this point, should this issue be a blocker for 1.10 release?  Or is this open just for cherry-picks?

[2018-03-13 16:24] tpepper commented on #59194
@kubernetes/kubernetes-milestone-maintainers this issue needs a priv'd user to assess and add approval for 1.10

[2018-03-13 16:25] jberkus commented on #61058
@gnufied @jsafrane @dchen1107 @derekwaynecarr @saad-ali @childsb

Should this bug be a blocker for 1.10?

[2018-03-13 16:29] ericchiang commented on #60917
Grant users bearer tokens instead of x509 certificates, use the kubelet client cert rotation, use RBAC and the node authorizer for authorization.

[2018-03-13 16:34] joelsmith commented on #61076
It's nice that we're fixing this, but we probably ought to document that configMap and secrets don't work especially well with subPaths since any update to the underlying API object will cause the file to disappear from the view of the container.  Since the subPath mount will cause the container runtime to mount only the version of the file or directory that exists when the container starts, any a

[2018-03-13 16:35] taylorb-microsoft commented on #52419
The operating system change @PatrickLang referenced above (MS 14651051) has been fixed and will be included in the next release (Windows Server version 1803), Windows insiders can test that change now!

[2018-03-13 16:51] #51773 closed

[2018-03-13 16:51] #51882 closed

[2018-03-13 16:51] #51917 closed

[2018-03-13 16:51] #51939 closed

[2018-03-13 16:51] #51974 closed

[2018-03-13 16:51] #51933 closed

[2018-03-13 16:51] #51979 closed

[2018-03-13 16:51] #52016 closed

[2018-03-13 16:51] #52029 closed

[2018-03-13 16:51] jberkus commented on #61101
Is this a blocker for 1.10?

[2018-03-13 16:56] PatrickLang commented on #52419
I'm checking if the Windows Server Insider build 17101 has this change

[2018-03-13 17:00] krzyzacy commented on #60763
ping

[2018-03-13 17:03] crassirostris commented on #60763
Looking into it

[2018-03-13 17:05] saitejar commented on #61076
Is there a workaround for this issue?

[2018-03-13 17:10] BenTheElder commented on #61112
The actual failure is:
W0313 10:28:48.391] 2018/03/13 10:28:48 main.go:273: Flag parse failed:
invalid argument "--check-version-skew=false" for "-v, --v" flag:
strconv.Atoi: parsing "--check-version-skew=false": invalid syntax

This is a known issue, there's a cherry pick out to fix. Part of the
kubemark script is updating kubetest itself (!) and calling it incorrectly.

On Tue, Mar 13, 2018, 06:

[2018-03-13 17:14] liggitt commented on #61076
There is not.

[2018-03-13 17:14] andrewsykim commented on #61058
`/` mount from `/proc/self/mountinfo`
[code]

lsblk
[code]

[2018-03-13 17:16] #61117 closed

[2018-03-13 17:20] nrmitchi commented on #49906
Just following up here, I'm having a similar problem that is not resource based, but still the same root problem, and may be a helpful consideration.

I have a StatefulSet deploying across 3 AZs (using node affinity on instance group labels, and an anti-affinity to prevent colocating). The StatefulSet is limited to only those 3 AZs (a/b/c), despite the cluster operating across more (a/b/c/d/e).

W

[2018-03-13 17:22] BenTheElder commented on #61112
https://github.com/kubernetes/kubernetes/pull/60940

[2018-03-13 17:22] albertvaka commented on #45419
+1
Kubernetes: 1.8.8
Docker: 1.12.6-cs13
Cloud provider: GCE
OS: Ubuntu 16.04.3 LTS
Kernel: 4.13.0-1011-gcp
Install tools: kubeadm
I'm using calico for networking

[2018-03-13 17:23] krzyzacy commented on #60870
it's not blocking 1.10

Cherrypicks has been open for older branches, they need to be merged to unblock those branches.

[2018-03-13 17:23] krzyzacy commented on #60870
/milestone v1.9

[2018-03-13 17:35] bsalamat commented on #59194
/status approved-for-milestone

[2018-03-13 17:37] gnufied commented on #60645
@jberkus @saad-ali @childsb please add this to 1.10 milestone. This should be a 1.10 blocker.

[2018-03-13 17:37] kamarajuPrathi commented on #41787
@felixbuenemann did you figure out was that the issue with docs or the did you come to know the configuration for this ?

[2018-03-13 17:38] toidiu commented on #49906
@nrmitchi are you using a custom storage class to restrict your volumes to only those AZs? https://kubernetes.io/docs/concepts/storage/storage-classes/#aws

[2018-03-13 17:39] andrewsykim commented on #61058
btw, this is on Ubuntu 14.04 (not using systemd)

[2018-03-13 17:40] jberkus commented on #60764
So, recommendation from SIG-Release per Mar. 13 burndown meeting:

1. Document steps for manually removing finalizers on downgrade;
2. add a Known Issue on this with link to steps;
3. add finalizer removal to the test.

Starting a slack thread involving all parties on this issue, as well as sig-storage and sig-lifecycle leads to finalize this solution.

[2018-03-13 17:49] nrmitchi commented on #49906
I was not; I had looked at it but dismissed it because I thought it would only restrict to a single AZ (which appears to have been incorrect).

Thanks!

[2018-03-13 17:52] #52084 closed

[2018-03-13 17:52] #15990 closed

[2018-03-13 17:52] #52089 closed

[2018-03-13 17:52] #52191 closed

[2018-03-13 17:52] #52124 closed

[2018-03-13 17:52] #52224 closed

[2018-03-13 17:52] #52239 closed

[2018-03-13 17:54] jberkus commented on #59764
https://github.com/kubernetes/kubernetes/issues/60764
Known issue, downgrade extra steps with PVC

[2018-03-13 17:58] jberkus commented on #60645
SIG-leads, please confirm, thanks!

[2018-03-13 17:59] krzyzacy commented on #60870
/milestone v1.8

[2018-03-13 18:01] jberkus commented on #60645
/priority critical-urgent
/status in-progress
/kind bug

[2018-03-13 18:02] jberkus commented on #60645
Adding to 1.10 as blocker per @saad-ali

[2018-03-13 18:02] ixdy commented on #61029
Master branch is fixed. Creating cherry-pick PRs now:
* 1.9: #61120
* 1.8: #61121
* 1.7: #61122

[2018-03-13 18:05] calebamiles commented on #60645
/status in-progress

[2018-03-13 18:10] jsafrane commented on #61058
Heh, good old Ubuntu... Kubernetes expects that it runs with `/` (or whatever holds the hostpaths that you want to use in pods) with rshared mount propagation. systemd does that during boot automatically, on other distros you need to add a new service or add a command to Kubernetes init script before running Docker:

[code]

This should be enough for Docker to work.

I hope it's documented somewhe

[2018-03-13 18:11] jsafrane commented on #61058
@jberkus, IMO, it's not a blocker.

[2018-03-13 18:16] satyasm opened #61123 "Avoid initial allocation delay in IPAMFromCloud and IPFromCluster allocator"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The onAdd handler in ipam/controller.go

[code]
create a new sync instance with it's own loop, but does not actually handle the event itself. This means that the loop code falls back to the delay handler case (https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodeipam/ipam/sync/sync.go#L146) in the absenc

[2018-03-13 18:18] satyasm commented on #61123
/sig networking

[2018-03-13 18:24] andrewsykim commented on #61058
Thanks @jsafrane for the update, it should definitely be included in the `Action Required` section of the CHANGELOG

[2018-03-13 18:32] saad-ali commented on #60645
I spoke with @jingxu97 offline. The volume reconstruction work (PR https://github.com/kubernetes/community/pull/1601) is non-critical but touches critical mount/unmount code paths. While the PRs that @jsafrane and @jingxu97 have (https://github.com/kubernetes/kubernetes/pull/61071 and https://github.com/kubernetes/kubernetes/pull/60888) may resolve the issue identified here, I'm afraid there may b

[2018-03-13 18:42] saad-ali commented on #60764
Can we get owners for each of these tasks.

[2018-03-13 18:51] MikeSpreitzer opened #61125 "k8s.io/apiserver should have a flag to control the go mutex profiling fraction"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

This arose while investigating #60484 .  I wonder why I can not saturate the CPUs with proxied watches.  I wonder if there is a contended lock.  So I fetched `/debug/pprof/mutex` from the api-servers.  But the results were empty.

[code]

**What you expected to happen**:

I hoped to get a useful mutex contention prof

[2018-03-13 18:51] MikeSpreitzer commented on #61125
/kind feature

[2018-03-13 18:52] MikeSpreitzer commented on #61125
@kubernetes/sig-api-machinery-feature-requests

[2018-03-13 18:53] #50677 closed

[2018-03-13 18:53] #52280 closed

[2018-03-13 18:53] #52346 closed

[2018-03-13 18:53] #52386 closed

[2018-03-13 18:53] #52527 closed

[2018-03-13 18:53] #52590 closed

[2018-03-13 18:53] #52596 closed

[2018-03-13 18:53] #52735 closed

[2018-03-13 18:53] MikeSpreitzer commented on #61125
https://github.com/google/pprof/issues/334 would be nice too, but we should not wait for that.

[2018-03-13 18:54] shyamjvs commented on #60589
So here's the result of running against a042ecd again:

[code]

This likely means the regression entered even before run-111 (good news that we have a right end for the bisection now).
I'll now try to pursue for a left end. Run-108 (commit 11104d75f) is a potential candidate, which had the following results when I earlier ran it (with etcd 3.1.11):

[code]

[2018-03-13 18:58] andrewsykim commented on #61058
https://github.com/kubernetes/kubernetes/pull/61126 PTAL

[2018-03-13 19:09] pospispa commented on #60764
I agree with @jsafrane 's [description of the problem](https://github.com/kubernetes/kubernetes/issues/60764#issuecomment-372624533)
I agree with [the proposed recommendation](https://github.com/kubernetes/kubernetes/issues/60764#issuecomment-372754234) by @jberkus

[2018-03-13 19:10] CMajeri commented on #43962
Hi,
I'd be pretty interested in this feature. Is someone currently working on it? @goblain's explanations are spot-on and I could apply them if noone else feels like it.

[2018-03-13 19:11] cjyar commented on #58805
@k82cn Because the documentation on the config file format is either nonexistent or difficult to find. If the program itself can generate a template, that fulfills (most of) the need for documentation of the format.

[2018-03-13 19:15] crassirostris commented on #60763
I have some problems with running e2e tests locally

@bmoyles0117 Could you please take a look? I will return to this tomorrow Europe time

[2018-03-13 19:26] #60734 closed

[2018-03-13 19:27] #60882 closed

[2018-03-13 19:33] verult opened #61128 "GCE/GKE multizone: volume subpath tests failing"
https://k8s-testgrid.appspot.com/sig-storage#gce-multizone

/assign
/sig storage
/kind bug

[2018-03-13 19:40] rootfs commented on #60764
dropping  StorageObjectInUseProtection admission controller plugin and patch pvc can remove the finalizers:
Test was done using the following flow:

- disable `StorageObjectInUseProtection` and restart apiserver
- kubectl patch pvc `pvc-name` -n `pvc-namespace` --type=json -p='[{"op": "remove", "path": "/metadata/finalizers"}]'
- verify the pvc no longer has finalizers

[2018-03-13 19:41] KIVagant commented on #49753
Looks like the new related PR is here https://github.com/coreos/alb-ingress-controller/pull/317

[2018-03-13 19:43] liggitt commented on #61076
keeping this open until release branches are fixed as well

[2018-03-13 19:47] liggitt commented on #61128
/close
duplicate of https://github.com/kubernetes/kubernetes/issues/61101

[2018-03-13 19:47] #61128 closed

[2018-03-13 19:51] liggitt commented on #61101
I would expect so, yes.
/milestone v1.10

[2018-03-13 19:53] #52749 closed

[2018-03-13 19:54] #52738 closed

[2018-03-13 19:54] #52824 closed

[2018-03-13 19:54] #52826 closed

[2018-03-13 19:54] #53200 closed

[2018-03-13 19:54] #53118 closed

[2018-03-13 19:54] liggitt commented on #60769
/assign

[2018-03-13 20:07] krzyzacy commented on #60870
all cherrypicks went in, closing

[2018-03-13 20:07] #60870 closed

[2018-03-13 20:07] liggitt commented on #61076
@jberkus fix merged into master, moving this back to the v1.9 milestone as this issue is no longer release blocking

[2018-03-13 20:07] jennybuckley commented on #60037
I think the cause of this garbage collector hanging here is this:

1. The [Sync](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/garbagecollector.go#L169) function periodically calls [GetDeletableResources](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/garbagecollector.go#L586)

2. According to the comment above GetDeletab

[2018-03-13 20:14] bmoyles0117 commented on #60763
I'm not sure what exactly is failing here. I was hoping to see if the two PRs we merged previously would have a positive impact on these failures. Is there any way of seeing whether or not those two PRs did or did not have a positive impact?

[2018-03-13 20:28] timothysc commented on #60608
@jberkus

We're all green except for the 1.9-1.10 upgrade tests which appear to have other issues that are not kubeadm specific.

Final default update PR is #61127 which will auto-close this issue.

[2018-03-13 20:31] verult commented on #61101
I'm on it
/assign

[2018-03-13 20:34] verult commented on #61101
The problem is likely due to inline GCE PD volumes not having enough zone information. Considering changing volumes to PVs instead.

[2018-03-13 20:37] yujuhong commented on #60763
https://github.com/kubernetes/kubernetes/pull/60386 made DaemonSet controller schedules pods on "unschedulable" nodes. The changes lets the fluentd pod to be scheduled on the master, but there is no capacity on the master node to run this pod.
[code]
/cc @k82cn @janetkuo

[2018-03-13 20:46] dims commented on #56032
@bsalamat @shyamjvs the fluentd-gcp problem is being looked at here - https://github.com/kubernetes/kubernetes/issues/60763#issuecomment-372809909

[2018-03-13 20:48] saad-ali commented on #60645
Update on this issue: @jingxu97 spent the morning trying to create a revert PR https://github.com/kubernetes/kubernetes/pull/58177, but it turns out a couple of other big refactors (including https://github.com/kubernetes/kubernetes/pull/56454) went in on top of her volume reconstruction PR, making it much more difficult to revert.

At this point says she can either spend more time backing out her

[2018-03-13 20:50] dims commented on #60645
@saad-ali i support this approach 👍

[2018-03-13 20:53] jdumars commented on #60645
I support this as well. Thank you @jingxu97 and @gnufied for working on this.

[2018-03-13 20:55] #53246 closed

[2018-03-13 20:55] #53279 closed

[2018-03-13 20:55] #53407 closed

[2018-03-13 20:55] #53515 closed

[2018-03-13 20:55] #53463 closed

[2018-03-13 20:57] liggitt commented on #61101
fix was in progress in https://github.com/kubernetes/kubernetes/pull/61111

[2018-03-13 20:58] liggitt commented on #60767
/reopen
still failing in the upgrade test (running 1.9 e2e code): http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master

[2018-03-13 20:59] verult commented on #61101
/unassign

[2018-03-13 21:06] #61101 closed

[2018-03-13 21:06] #60966 closed

[2018-03-13 21:09] jamonation opened #61131 "[juju] kubeapi-load-balancer running with incorrect arguments in 1.10.3 when upgrading from earlier charm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A charm upgrade started throwing errors when upgrading kubeapi-load-balancer - specifically at the
`kubectl apply -f ingress-daemon-set.yaml` step:

`
Error from server (Forbidden): error when creating "ingress-daemon-set.yaml": roles.rbac.authorization.k8s.io "nginx-ingress-kubernetes-worker-role" is forbidden: attempt

[2018-03-13 21:11] timothysc commented on #60608
^ I don't know why we have this policy but it's ridiculous... @kubernetes/sig-contributor-experience-bugs

[2018-03-13 21:12] milanfarkas commented on #45487
I'm on 1.9.4 on CentOS 7.4. Still, it didn't work for me until I applied @alindeman 's suggestion to add `User=root` in file /etc/systemd/system/kubelet.service

[2018-03-13 21:14] jamonation commented on #61131
Tracking this over in https://github.com/juju-solutions/bundle-canonical-kubernetes/issues/515

[2018-03-13 21:14] #61131 closed

[2018-03-13 21:16] shyamjvs commented on #60500
So the apiserver mem issue is sorted now - I've sent #61118 to bump the threshold.

And wrt the controller-manager mem issue, I've confirmed (by running density test few times against 100-node cluster) that it's being caused by this PR:

[code]

While running only density test,

- before that PR, the mem-usage is consistently ~300MB
- after that PR, the mem-usage is consistently ~330MB

@x13n @cra

[2018-03-13 21:22] kevincvlam opened #61132 "Node Taints on GKE GPU Nodes not added"
/kind bug
@kubernetes/sig-gcp-bugs

**What happened**:
I created a GKE cluster using the GKE REST API (https://cloud.google.com/kubernetes-engine/docs/reference/rest/) and within it a nodepool that was supposed to have a Taint on all nodes in the pool. Instead the only taints present were:

`Taints:             nvidia.com/gpu=present:NoSchedule`

**What you expected to happen**:
I expected the tai

[2018-03-13 21:32] crassirostris commented on #60500
@x13n should know more about the connection between scaler and controller-manager. I though all work is performed by a dedicated controller running in the cluster, not controller-manager

[2018-03-13 21:33] gnufied commented on #60645
okay I integrated both the PRs in a branch and tested both on AWS and GCE . Ran e2e tests as well and it looks all good.

[2018-03-13 21:33] liggitt commented on #60765
/reopen
still failing in upgrade tests: http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master

the 1.9 e2e tests are checking alpha response types that don't exist any more in 1.10

requires changing 1.9 to not test these alpha features in 1.10 that dropped support for those alpha features

[2018-03-13 21:35] jingxu97 opened #61133 "kubelet_getters getPodVolumePathListFromDisk() does not check block volume case"
In function getPodVolumePathListFromDisk() inside of kubelet_getters.go, it only checks the file system type volume directory, not the block volume. So for block volumes, this function will return nothing.

[2018-03-13 21:38] liggitt commented on #60719
still failing in upgrade test... e2e fix likely needs backport to 1.9 e2es
http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master

[2018-03-13 21:44] jdumars commented on #60765
Is there anyone from @k8s-mirror-api-machinery-bugs that can look into this?

[2018-03-13 21:52] crassirostris commented on #60719
Good point! Created https://github.com/kubernetes/kubernetes/pull/61134 to address it

[2018-03-13 21:55] #53669 closed

[2018-03-13 21:55] #53723 closed

[2018-03-13 21:55] #53773 closed

[2018-03-13 21:55] #53745 closed

[2018-03-13 21:55] #53582 closed

[2018-03-13 21:56] #39980 closed

[2018-03-13 22:03] juanvallejo commented on #60765
@liggitt @jdumars looking into this

[2018-03-13 22:29] yujuhong opened #61137 "Volume manager should not mount the volumes for pods rejected by kubelet"
This came up when I was checking the kubelet logs for #60763

Kubelet admits or rejects pods assigned to the node in its sync loop, and would not start syncing a pod until it's admitted. In the meantime, volume manager works independently to mount volumes for the assigned pods, as long as they are not in a terminated state. This causes issues where kubelet already rejected (or is about to reject)

[2018-03-13 22:30] nilebox commented on #42594
@nikhiljindal I disagree with this statement for a couple reasons:
1. `replicasets` and `deployments` are exceptions, not vice versa, because this behavior is driven by reapers which are optional (so by default `kubectl` **does not** wait)
2. even for `deployments` the statement "kubectl delete **always** waits" is not 100% correct.

Example: I added a custom finalizer `example.com/preventDeletion

[2018-03-13 22:33] shyamjvs commented on #60589
My re-run against commit 11104d7 does seem to say it's a good one:

[code]

I'll take a stab here at bisecting in the range 11104d7...a042ecd

[2018-03-13 22:48] jberkus commented on #60608
@timothysc are there any 1.9-1.10 upgrade issues which aren't already represented by issues against kubernetes/kubernetes?  that is, are there any in the kubadm repo only?

[2018-03-13 22:56] #53822 closed

[2018-03-13 22:56] #48893 closed

[2018-03-13 22:56] #49161 closed

[2018-03-13 22:57] #51825 closed

[2018-03-13 23:44] s4rd1nh4 opened #61140 "kubectl replace dont working after upgrade master"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
After upgrading the master to 1.9.3-gke.0 in my GKE cluster, the kubectl replare freezes when I perform the command below:

kubectl create secret -n "test" \
       docker-registry test-registry \
       --docker-server = "registry.devops.teste.com" \
       --docker-username = "test" \
       --docker-password

[2018-03-13 23:47] s4rd1nh4 commented on #61140
@kubernetes/sig-gcp

[2018-03-13 23:48] krzyzacy opened #61141 "kubemark presubmit should not use e2e.go and then rebuild kubetest"
as a follow up issue for https://github.com/kubernetes/kubernetes/issues/60870

now in older branches (1.8, and 1.7) it gets error while rebuilding stale kubetest from e2e.go
[code]
which is caused by the go version difference between 1.8 and master

I'll try to move those logic to kubetest to unblock 1.8 branch

/kind bug
/priority failing-test
/sig testing
/sig scalability
/assign

cc @cblecker

[2018-03-13 23:49] feellifexp opened #61142 "Support to update a container in the StatefulSet pods without recreating the pods during rolling update."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently when rolling update a StatefulSet to update containers for, binary release, the controller will delete the current pod then create a corresponding new pod, one by one.

The problems with this approach are:
- The newly created pod may not be scheduled to the same node as the previous pod. This could have impac

[2018-03-13 23:49] s4rd1nh4 commented on #61140
@k8s-sig-gcp

[2018-03-13 23:49] feellifexp commented on #61142
/sig apps

[2018-03-13 23:51] s4rd1nh4 commented on #61140
/sig gcp

[2018-03-13 23:51] s4rd1nh4 commented on #61140
@kubernetes/sig-cli-bugs

[2018-03-13 23:52] s4rd1nh4 commented on #61142
@pwittrock Help please

[2018-03-13 23:57] #52858 closed

[2018-03-13 23:57] #28230 closed

[2018-03-13 23:57] #47666 closed

[2018-03-14 00:31] pblaas opened #61144 "Bootstrapping kubernetes with openstack provider hammers openstack API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When bootstrapping a new kubernetes cluster with the in tree OpenStack provider --cloud-provider=openstack the bootstrap procedure makes arround 60-100 API calls to nova in a minute. On an openstack cloud with ratelimiting on the API this prevents the kubernetes cluster to bootstrap at all.
API calls which are made during

[2018-03-14 00:44] liggitt commented on #61141
and 1.7

[2018-03-14 00:57] toothbrush opened #61145 "kubectl diff feature always returns empty"
/kind bug
/sig cli
/area kubectl

Hello.  This is my first interaction with the Kubernetes community, so please forgive me if i have left out any crucial details, or if, perhaps, this is PEBKAC after all!

I am keen to have a working `kubectl diff` feature, as described in https://github.com/kubernetes/kubernetes/issues/6284 and https://github.com/kubernetes/features/issues/491.  I am running K8s

[2018-03-14 00:58] #16405 closed

[2018-03-14 01:23] m1093782566 commented on #59507
@murali-reddy

I am not very clear about that, would you please explain a bit more?

[2018-03-14 01:31] timothysc commented on #60608
Not that I see atm, I still need to triage the inbound issues.

[2018-03-14 01:42] gnufied commented on #60645
I lied about e2e test run. A second run surfaced some failures:

[code]

[2018-03-14 02:02] dims commented on #61144
Your kubelet is not able to talk to your api server. So it keeps looping...

[code]

[2018-03-14 02:05] kirsazlid commented on #59461
@ttarczynski Yeah, my question is the same as your's. I don't have this file named 'docker-mountflags.conf', but I added the option 'MountFlags=private' into /usr/lib/systemd/system/docker.service myself after installed docker, now removing this option solves this problem. Thanks bro~

[2018-03-14 02:09] #59461 closed

[2018-03-14 02:12] jmhodges opened #61148 "docs for IngressTLS are confusing"
This is a ticket about https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#ingresstls-v1beta1-extensions

I'm confused by the docs on `secretName` and on `hosts` in the IngressTLS API on IngressSpec.

Currently, the `secretName` for the `tls` field of an IngressSpec are as written:

```secretName: Field is left optional to allow SSL routing based on SNI hostname alone. If the SNI h

[2018-03-14 02:15] jingxu97 commented on #60645
@gnufied the error message indicates the pods failed to enter running condition. I think my fix should not affect pod creation.

[2018-03-14 02:15] jjtestk8s commented on #61079
@k82cn
pod.yaml

---
  kind: Service
  apiVersion: v1
  metadata:
    name: jjtole
    namespace: mjjtest
  spec:
    selector:
      app: jjtole
    ports:
      - port: 8000
        targetPort: 80
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: jjtole
  namespace: mjjtest
  annotations:
    ctrip.com/network.id: a64283a5-d821-4f60-b97f-5ea0ef136992
spec:
  replicas: 5
  serviceN

[2018-03-14 02:15] jmhodges commented on #61148
@kubernetes/sig-docs-maintainers

[2018-03-14 02:17] jmhodges commented on #61148
@kubernetes/sig-docs-bugs

[2018-03-14 02:17] jjtestk8s commented on #61079
and api server and scheduler also have "--feature-gates=TaintBasedEvictions=true,TaintNodesByCondition=true"

[2018-03-14 02:20] gnufied commented on #60645
@jingxu97 yeah I agree. I noticed that these tests use NFS based PVs which are not ideal source for testing the bug we are trying to reproduce.  In this case the NFS server itself may not start correctly and hence the test may fail.

I am looking into refactoring the test suite, so as it can use GCE/EBS sources as well.

[2018-03-14 02:38] cyphar commented on #57145
This issue is still applicable.

/remove-lifecycle stale

[2018-03-14 02:40] feiskyer commented on #55867
/cc @kubernetes/sig-node-bugs

[2018-03-14 02:47] gnufied opened #61150 "Refactor kubelet restart related disruptive tests out of NFS disruptive tests"
We need separate tests that flex out kubelet restart and volume mount/unmount logic to ensure there are no regressions.

Currently these tests are embedded into NFS disruptive tests and are marked as flaky.  We can do following things:

1. Create new test suite that just tests mount/unmount logic for block storage volume types
2. Remove the flaky label because for GCE/EBS etc, there is no need for

[2018-03-14 02:47] gnufied commented on #61150
/sig storage

[2018-03-14 02:48] gnufied commented on #61150
/assign

[2018-03-14 02:49] gnufied commented on #60645
I created a follow up issue for creating the disruptive e2e tests so that bugs like these can be more easily caught - https://github.com/kubernetes/kubernetes/issues/61150 . Will follow up with PR tomorrow.

[2018-03-14 02:51] ahakanbaba commented on #37218
As a workaround we incorporate the GET request in the command.
For example this

[code]

Converts to something like this
[code]

[2018-03-14 03:18] anguslees opened #61151 "kube-scheduler/controller-manager use non-unique identity in leader lock"
/kind bug

Reopening https://github.com/kubernetes/kubernetes/issues/22775

**What happened**:

My HA controller-managers and schedulers are fighting over the same resources, even though I have `--leader-elect=true` set for both.

**What you expected to happen**:

Calmness and serenity.  In particular, these jobs should each elect a single leader and only that leader should operate on the cluster.

[2018-03-14 03:19] anguslees commented on #61151
/area HA

[2018-03-14 03:46] hanxiaoshuai opened #61153 "return bool instead of error of func CommonAccessor,ListAccessor,Accessor"
**Anything else we need to know?**:
I notice there are TODOs in apimachinery\pkg\api\meta\meta.go,return bool instead of error func CommonAccessor, ListAccessor, Accessor. If is it necessary to do,I push a PR for it.
**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tool

[2018-03-14 03:49] liggitt commented on #61151
fixed in 1.10 in 58302

[2018-03-14 03:51] anguslees commented on #61151
(woot)

[2018-03-14 03:51] #61151 closed

[2018-03-14 03:53] hanxiaoshuai commented on #61153
cc @deads2k

[2018-03-14 04:15] hanxiaoshuai opened #61155 "catch err when Watch testResource failed in func TestWatchCallNonNamespace"
**What happened**:
[code]

**What you expected to happen**:
I am not sure if is it a bug, I think we should catch err when Watch testResource failed in func TestWatchCallNonNamespace.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS

[2018-03-14 04:17] hanxiaoshuai opened #61156 "catch err when Watch testResource failed in func TestWatchCallNonNamespace"
**What happened**:
'''
ns := accessor.GetNamespace()
	scheme := runtime.NewScheme()
	codecs := serializer.NewCodecFactory(scheme)
	o := NewObjectTracker(scheme, codecs.UniversalDecoder())
	watch, err := o.Watch(testResource, ns)
	go func() {
		err := o.Create(testResource, testObj, ns)
		if err != nil {
			t.Errorf("test resource creation failed: %v", err)
		}
	}()
	out := <-watch.ResultChan()

''

[2018-03-14 04:21] #61156 closed

[2018-03-14 05:05] 1k2k commented on #27081
oh lord, not yet fixed?

[2018-03-14 05:07] mludvig commented on #42649
I've got the same problem with Minikube 0.25.0 running Kubernetes server 1.9.0 in a VirtualBox on my laptop. When I close the lid and laptop suspends the minikube VM obviously stops and upon resume my scheduled job keeps failing with:

**Cannot determine if job needs to be started: Too many missed start time (> 100). Set or decrease .spec.startingDeadlineSeconds or check clock skew.**

[2018-03-14 05:18] G-Harmon commented on #54579
cc me. I saw this as a GSoC potential project on https://github.com/cncf/soc.

[2018-03-14 06:20] k82cn commented on #60763
`CheckNodeUnschedulablePredicate` is enabled by default: if node is 'unschedulable' (`spec.Unschedulable` is true), the pod will not schedule to it.

`CheckNodeConditionPredicate` already includes this check; #60386 is used to also enable this check when `TaintNodesByCondition` enabled.

[2018-03-14 06:28] vfreex commented on #60140
Cannot reproduce in my environment.

[2018-03-14 06:32] pblaas commented on #61144
Well that's part of the bootstrap since the Kubelet is loading the manifest directory where the API Controller spec is located. It will take a little bit before that API controller POD is online so it can talk to it.

You think that is causing reoccuring requests to the nova API?

[2018-03-14 06:38] jianglingxia commented on #58413
you mean that  selector with dynamic provisioning function can support by scheduler in the future? there has some plan for it ? @jsafrane  I think the scenero many users wanted! thanks!

[2018-03-14 06:50] m1093782566 commented on #61090
/area ipvs

[2018-03-14 07:04] #53931 closed

[2018-03-14 07:31] justinbarrick commented on #60807
I seem to be experiencing this issue with a rook deployment:

[code]

I think it does have something to do with their CRD, I see this in the API server logs:

[code]

I've deployed rook to a different namespace now, but I'm not able to create the cluster CRD:

[code]

[2018-03-14 07:47] justinbarrick commented on #60807
I have a fission namespace in a similar state:

[code]

Fission also uses CRDs, however, they appear to be cleaned up.

[2018-03-14 07:52] ttarczynski commented on #56850
I've got the same errors on
* CentOS 7.4.1708
* docker 1.12.6
* kubeadm v1.9.4

[code]
And the above [fix](https://github.com/kubernetes/kubernetes/issues/56850#issuecomment-354539158) works for me.
On CentOS I can add these options in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`:
[code]
Should we have this fix added to the kubeadm RPM by default?

**Environment**:
[code]
/kind bug

[2018-03-14 07:57] bilalAchahbar opened #61163 "stuck at Container creating"
I have an weave network plugin.

inside my folder /etc/cni/net.d there is a 10-weave.conf

My weave pods are running and the dns pod is also running
But when i want to run a pod like a simple nginx  wich will pull an nginx image
The pod stuck at container creating , describe pod  gives me the error , failed create pod sandbox.

When i run journalctl -u kubelet i get this error
`
 cni.go:171] Unabl

[2018-03-14 07:57] bilalAchahbar commented on #61163
/sig network

[2018-03-14 08:03] #61017 closed

[2018-03-14 08:32] bilalAchahbar commented on #61163
/kind bug

[2018-03-14 08:56] stewart-yu commented on #57618
/cc

[2018-03-14 09:03] x13n commented on #60500
@shyamjvs Yes, before that PR it wasn't doing anything useful. Between https://github.com/kubernetes/kubernetes/pull/59657 and https://github.com/kubernetes/kubernetes/pull/59921, fluentd-gcp had no resource request nor limit set. Was there a 30MB drop in memory usage in https://github.com/kubernetes/kubernetes/pull/59657?

[2018-03-14 09:04] thedrow commented on #60389
I'm actually seeing the same with kubectl on Linux. Could it be related?

[2018-03-14 09:17] wanghaoran1988 commented on #58805
+1 for this, from my expirence, add an option to write the default config is really helpful.

[2018-03-14 09:19] wanghaoran1988 commented on #58805
/asign

[2018-03-14 09:42] den-is commented on #61017
issue still exists with v10.0.0-b4
[code]

[2018-03-14 09:46] SpComb opened #61168 "kubelet API GET /stats/:pod/:container handler panics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`GET /stats/:pod/whatever` requests to the kubelet API seem to panic the [`handler.handlePodContainer`](https://github.com/kubernetes/kubernetes/blob/v1.9.3/pkg/kubelet/server/stats/handler.go#L249) => [`StatsProvider.GetContainerInfo`](https://github.com/kubernetes/kubernetes/blob/v1.9.3/pkg/kubelet/stats/stats_provider

[2018-03-14 09:51] dixudx commented on #61017
Because the fix is not cherry-picked to release-1.10 yet.

[2018-03-14 09:54] hzxuzhonghu commented on #61168
can not reproduce on master.

[2018-03-14 09:54] hzxuzhonghu commented on #61168
/sig node

[2018-03-14 09:58] hzxuzhonghu commented on #61155
Absolutely we should check err gracefully.

[2018-03-14 10:03] sebbrandt87 commented on #59676
We also saw a big amount of jobs not being deleted. As well we restarted the controller-manger and it seems to be related to timestamps assigned to the nodes / by the nodes?

Currently we are using kubernetes version 1.8.7

See log here:
[code]

After the restarted and the successful assuming `now` as timestamp by the controller it works again.

[2018-03-14 10:18] egrimley opened #61170 "Kubernetes fails obscurely with two network interfaces"
/kind bug
/sig Node bugs

I would probably have reopened #44702 if that were an option.

If I create a two-node cluster in which each node has two network interfaces and the nodes communicate via their second network interface then everything seems to work until I try `kubectl logs`. Eventually I realised that `kubectl get pods --all-namespaces -o wide` is showing the wrong IP addresses, as descri

[2018-03-14 10:22] bboreham commented on #61006
I agree glog should be fixed, forked or replaced.
Note the glog README says "Feature requests will be ignored.", which points towards the latter two.

Interested in your view @thockin

[2018-03-14 11:09] shyamjvs commented on #60500
Seems both those PRs were merged 27 days ago. However, we started seeing the increase only after #59921 (which IIUC is when the scaler actually started scaling sth?)
In general, do you have a reason to expect controller-manager to be affected by your addon?

[2018-03-14 11:26] SpComb commented on #61168
Upgraded to 1.9.4 and this is still panicing. I also noticed that kubeadm is configuring the kubelet with `--cadvisor-port=0`, but this still happens after reverting that to the default.

---

Oneliner repro case, assuming the node has some pod running in the default namespace:

[code]

This results in an `curl: (52) Empty reply from server` error, and the panic trace is visible in `journalctl -u

[2018-03-14 11:32] dims commented on #61144
yes, it is.

[2018-03-14 11:43] jsafrane commented on #61058
I updated release notes draft with a note in "Before Upgrading" section.

[2018-03-14 11:55] goblain commented on #43962
https://github.com/kubernetes/kubernetes/pull/46517 has implementation (needs a rebase after all that time) but it was put on hold due to feedback from @smarterclayton . No idea if the blocking work was completed so awaiting for confirmation before I invest time in the rebase/refactor.

[2018-03-14 12:05] joelittlejohn commented on #23483
/reopen

Reopening this because I think the China case is important, ELBs are not disposable (because of the ICP requirements) so it's important to support re-use.

[2018-03-14 12:05] shyamjvs commented on #60500
@x13n and me discussed about this offline and there are a bunch of possibilities why this might be happening (possibly some bad behaviour of the scaler).
I've shared instructions on how to run the 100-node tests with him and he'll dig deeper into this.

[2018-03-14 12:13] kindy commented on #26309
same issue, and resolved by this: https://stackoverflow.com/a/37569397/2526528 .

[code]

then I also had to disable the ipv6 for the resolver in nginx:

[code]

[2018-03-14 12:14] Joseph-Irving commented on #61076
Hi. I've upgrade to the fixed version of 1.9.4 which has solved the configmap subpath problem but I'm encountering the same issue when using subPaths with an emptyDir.
[code]
where the volume looks like:
[code]
and the volume mount is this
[code]
This works fine on 1.9.3. Should I open a new issue about this?

[2018-03-14 12:15] johanot opened #61171 "Admission control webhook with self-signed CA in "caBundle" is not trusted"
/kind bug

**What happened**:

I have compiled and deployed the test admission webhook here: https://github.com/kubernetes/kubernetes/tree/master/test/images/webhook
.. into my cluster.

I've added a ValidatingWebhookConfiguration to my cluster intercepting namespace creation, just for initial testing:

[code]

When trying to create a namespace, admission-control fails with PKI-error (seen below),

[2018-03-14 12:21] shyamjvs commented on #60500
@x13n Btw - you might find the following controller-manager logs:

- before your change: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/10865/artifacts/e2e-big-master/kube-controller-manager.log
- after your change: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/10870/artifacts/e2e-big-master/kube-controlle

[2018-03-14 12:22] johanot commented on #61171
/sig api-machinery

[2018-03-14 12:25] nottrobin commented on #61145
I have this same issue - if I change, say, `spec: replicas: 5` to `spec: replicas: 3` in my `config.yaml`, running `kubectl alpha diff -f config.yaml` returns empty.

If I try tweaking the version I'm diffing (which I don't understand) - e.g. `kubectl alpha diff -f config.yaml LAST MERGED` - then I see a bunch of differences, but not actually the change I was expecting in the number of replicas.

[2018-03-14 12:31] K7king opened #61172 "How to Point Tests to a Kubernetes Cluster deployed on AWS"
/sig/testing

**What happened**:
  We spawned up a Kubernetes cluster on AWS. We want to do e2e [tests](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#conformance-tests) as mentioned .
To my understanding all these tests scenarios are spawning new cluster locally and performing tests. Can someone help on how do I point to a cluster which is already running on A

[2018-03-14 12:31] felixbuenemann commented on #41787
Read the comment by smarterclayton, it lists the right option.

[2018-03-14 13:03] x13n commented on #60500
The first PR removed resource requests and limits from the manifest file used by addon manager. The second PR caused the scaler to set them again. Current hypothesis is that sometimes, when the scaler runs `kubectl set resources`, the resource is updated even though it shouldn't. This in turn causes controller-manager to receive data via watch on the DaemonSet resource, which causes the increase i

[2018-03-14 13:07] liggitt commented on #61171
Can you include the `X509v3 extensions` section of your CA?

`openssl x509 -in /path/to/ca.crt -text -noout | grep "X509v3 extensions" -A 10`

Yes, the bundle can contain multiple PEM certificate blocks

[2018-03-14 13:09] liggitt commented on #61171
nevermind, I missed you included the ca bundle in the description. It needs to be in PEM format:

https://github.com/kubernetes/api/blob/master/admissionregistration/v1beta1/types.go#L264-L267

[2018-03-14 13:15] marcinlesek opened #61173 "Removing Docker k8s images from local machine"
/sig scalability

Hello,

I had a problem, maybe easy but I couldn't handle this. How to remove all k8s containers and images from local machine?

[code]
It's unpossible to stop them (they restart always), also to remove them by `rm` and `rmi`. I was looking for it in documentations, stack etc. but with no effect.

Best regards,
Marcin

[2018-03-14 13:15] iMartyn commented on #45173
@justinsb prod.  This is still bugging me and the PR just needs a rebase afaict

[2018-03-14 13:16] liggitt commented on #61171
/close

[2018-03-14 13:16] #61171 closed

[2018-03-14 13:17] mtricolici commented on #44528
use full service name, it works fine:

[code]

[2018-03-14 13:17] dims commented on #61173
@marcinlesek check if kubelet is running, if it is stop that first and then cleanup the containers and images.

[2018-03-14 13:19] CMajeri commented on #43962
I have no idea how I missed that PR, I'll follow that.

Thanks for the work too, it would really be a nice feature to have!

[2018-03-14 13:22] marcinlesek commented on #61173
@dims Could you elaborate more about how to check/stop it?

[2018-03-14 13:45] johanot commented on #61171
@liggitt Thanks, and perhaps pardon my stupidity. It **is** PEM, but without header and footer in my example, because... Adding:

.. gives decode base64: illegal base64 data at input byte 0

.. so it doesn't sound like the parser likes anything other than base64?

Can you please provide an example of how you'd encode it in yaml or json?

[2018-03-14 13:49] jdumars commented on #60645
@gnufied thanks for your work here. How did it come out?

[2018-03-14 13:50] gnufied commented on #60645
@jdumars we still have some problems that needs to be addressed for https://github.com/kubernetes/kubernetes/pull/61071 . I will sync up with @jingxu97 is online.

[2018-03-14 13:51] liggitt commented on #61171
to convert from DER to PEM, do `openssl x509 -in ca.crt -noout -inform der -out ca.crt.pem`

[code]

that PEM file goes in the caBundle, which is a `[]byte` and so base64-encoded again :-/

[code]

[2018-03-14 13:59] pospispa commented on #60764
I completely forgot to mention that there is very similar issue with PVs as with PVCs.

Let me sum up the `StorageObjectInUse` feature development:
1. K8s 1.9 PVC Protection is in alpha. PVC Protection adds finalizers to PVCs.
2. K8s 1.10 PVC Protection goes to beta, PV Protection is added and goes directly to beta and the feature is renamed to `StorageObjectInUseProtection`. So finalizers are bei

[2018-03-14 13:59] rydahl commented on #57897
Today we removed and added a lot of services and replication controllers again, and the issue has come back. One thing I noticed this time though was that the cluster was scaled (+1 node) while pods were created (we have auto scaling on). Last time the issue started to appear, we had also scaled a cluster, but manually due to all pods not being able to fit.

We are running on Google kubernetes eng

[2018-03-14 14:01] rydahl commented on #55473
#57897

[2018-03-14 14:04] johanot commented on #61171
Works perfectly! Missed the "double-encoding" part, and I think the docs confused me a bit (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#webhookclientconfig-v1beta1-admissionregistration), where it says _type = string_.

It is in fact:
- a binary certificate
- represented as a base64-encoded string
- transported as a binary blob
- transfer-encoded as a base64 string

:) than

[2018-03-14 14:04] jdumars commented on #60765
/status in-progress

[2018-03-14 14:06] jdumars commented on #60645
Perfect, thank you.

[2018-03-14 14:06] dims commented on #61173
@marcinlesek are you on ubuntu? how did you install kubelet? (did you use `apt-get` to install kubelet for example, if so then `systemctl stop kubelet` would stop kubelet). do a `ps -ef | grep kubelet` to see if it is running first.

[2018-03-14 14:10] jsafrane commented on #61076
@Joseph-Irving, I can't reproduce the issue. This pod starts and creates an empty directory `/etc/kube-flannel/net-conf.json` in the container.

[code]

`net-conf.json` is a directory because subPath `net-conf.json` does not exists in emptydir and it is assumed that's a directory. Do you have an init container that fills net-conf.json before the real container starts? Can you please start a new is

[2018-03-14 14:13] marcinlesek commented on #61173
Yes, on Ubuntu 16.04. Hmm, let check:
[code]

But know still I'm couldn't to stop this cointainers and remove all. Any ideas?

[2018-03-14 14:17] dims commented on #61173
try this a few times ...

[code]

[2018-03-14 14:23] Joseph-Irving commented on #61076
@jsafrane Yeah exactly that, we have an init container which creates a file and sticks it there before flannel boots up. Sure I'll create a new issue

[2018-03-14 14:25] albertvaka commented on #55713
+1. Is this the intended behavior? If it is, then load balancers should keep serving traffic to those pods (now they do not).

[2018-03-14 14:33] marcinlesek commented on #61173
This commands will remove all containers and images. I run this:
[code]
and here what we have now:
[code]
Containers restarted itselfs. I said it before, that it's not as easy as normal container. :sweat_smile: I'm trapped with them now.

[2018-03-14 14:34] shyamjvs commented on #60589
Update: I needed to test the commit 097efb71a315 thrice in order to gain confidence. It shows quite some variance, but seems like a good commit:

[code]

I'll continue bisecting further.
That said, there seems to have been another spike (of ~1s) in pod-startup latency just couple of days ago. And this one is pushing the 99% to almost 6s:

![increase_again](https://user-images.githubusercontent.com

[2018-03-14 14:47] cypherfox opened #61174 "No error reported when PVC is missing."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Createted a StatefullSet with a PVC that did not exist by calling `kubectl apply -f log-viewer.yaml` (given below), the declaration of the StatefulSet will be accepted, but the resultant pod will remain in the status `ContainerCreating` for ever.

[code]

**What you expected to happen**:
Either a) report that a PVC of

[2018-03-14 14:49] cypherfox commented on #61174
@kubernetes/sig-cli-feature-requests

[2018-03-14 14:50] Overv opened #61175 "Jobs and pods are never deleted with a foreground propagation policy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a job and deleted it with the foreground propagation policy, but it is never actually deleted. Same issue with a pod. It will be "Terminating" forever.

**What you expected to happen**:

I expected the pod/job to disappear within a few seconds/minutes and not still be there after hours.

**How to reproduce it (

[2018-03-14 14:51] fturib opened #61176 "[e2e] test invalid with CoreDNS - DNS Horizontal scaling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
e2e test "gci-gce" is running in 2 versions:
* with kube-dns as DNS Service : https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce
* with CoreDNS as DNS Service : https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-coredns

In CoreDNS use case the test is failing

[code]

**What you expected to happen**:
This e2e

[2018-03-14 14:53] Overv commented on #61175
/sig api-machinery

[2018-03-14 14:54] fturib opened #61177 "[e2e] test invalid with CoreDNS - Kubectl cluster-info should check if Kubernetes master services is included in cluster-info"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[sig-cli] Kubectl client [k8s.io] Kubectl cluster-info should check if Kubernetes master services is included in cluster-info [Conformance] 10s

e2e test "gci-gce" is running in 2 versions:
* with kube-dns as DNS Service : https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce
* with CoreDNS as DNS Service : https://k8

[2018-03-14 14:56] fturib commented on #61176
/sig autoscaling

[2018-03-14 14:56] fturib commented on #61176
/sig cli

[2018-03-14 14:57] shyamjvs commented on #60589
Since I'd be on vacation thu-fri this week, I'm pasting instructions to run density test against 5k-node cluster (so someone with access to the project can continue bisection):

[code]

[2018-03-14 14:57] fturib commented on #61177
/sig cli

[2018-03-14 14:58] urzds commented on #42544
This is still interesting to us.

With support for an arbitrary number of search domains now available in glibc, this should also be actually usable:
* https://sourceware.org/bugzilla/show_bug.cgi?id=19569
* https://bugzilla.redhat.com/show_bug.cgi?id=168253
* https://bugzilla.redhat.com/show_bug.cgi?id=677316

/remove-lifecycle stale

[2018-03-14 14:59] fturib commented on #61176
/unsig cli

[2018-03-14 15:03] Joseph-Irving opened #61178 "CreateContainerConfigError: Error: failed to prepare subPath for volumeMount when using an emptyDir and the subPath is a file"
/kind bug

**Fix status:**
- [x] cleanup issue fixed in master in https://github.com/kubernetes/kubernetes/pull/58433, will be in 1.10.0-rc.1
- [x] cleanup issue fixed in release-1.9 branch in https://github.com/kubernetes/kubernetes/pull/61193, in [v1.9.5](https://github.com/kubernetes/kubernetes/releases/tag/v1.9.5)
- [x] cleanup issue fixed in release-1.8 branch in https://github.com/kubernetes

[2018-03-14 15:06] Joseph-Irving commented on #61076
issue created @jsafrane https://github.com/kubernetes/kubernetes/issues/61178

[2018-03-14 15:08] liggitt commented on #61178
/sig storage
/assign @jsafrane

[2018-03-14 15:12] jdumars commented on #60589
cc: @wojtek-t

[2018-03-14 15:15] jdumars commented on #60767
/status in-progress

[2018-03-14 15:15] andor44 commented on #59676
I've started setting up API server auditing and I can now see that it seems to be happening continuously.
![jobs](https://user-images.githubusercontent.com/496456/37411219-97b33d96-27a2-11e8-8116-8c295e8c6d78.png)

In this screenshot the controller manager seems to be trying to delete the same job over and over again. Eventually it seems to succeed, but it takes a while. It also seems that it trie

[2018-03-14 15:15] jdumars commented on #60608
/status in-progress

[2018-03-14 15:16] jdumars commented on #60003
/status in-progress

[2018-03-14 15:16] andor44 commented on #60403
Likely a duplicate of #59676 ?

[2018-03-14 15:16] jdumars commented on #60763
/status in-progress

[2018-03-14 15:23] php-coder opened #61179 "Don't swallow provider error when they're related to invalid PSP"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig auth

**What happened**:
All `MustRunAs` need `Ranges` field to be configured but there is no validation for that, so it's possible to create PSP without such ranges. Later, an admission plugin tries to create providers for every PSP available to user/SA and will fail to create it, because there is no ranges:

The issue is that such

[2018-03-14 15:25] gyuho commented on #60589
etcd v3.1.12 fixes watch event misses on restore. And this is the only change that we've made from v3.1.11. Does performance test involve anything with etcd restart or multi-node that may trigger snapshot from leader?

[2018-03-14 15:31] shyamjvs commented on #60589
From the [etcd logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/123/artifacts/gce-scale-cluster-master/etcd.log), doesn't seem like there was any restart.

We're using only single-node etcd in our setup (assuming that's what you asked).

[2018-03-14 15:33] gyuho commented on #60589
I see. Then, v3.1.11 and v3.1.12 should be no different :0
Will take another look if the second run also shows higher latencies.

[2018-03-14 15:38] jpiper opened #61180 "etcd healtchecks always hit the same member"
/kind bug

**What happened**:
Every time a health check is called on the APIServer via the `/healthz` endpoint, an etcd healthcheck is performed.

However, as this just starts at the first server in the `--etcd-servers=` list passed to the apiserver binary all the healthchecks generate read load on a single etcd member.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apise

[2018-03-14 15:51] FKatenbrink opened #61182 "SystemVerification and FileContent error when calling kubeadm join on Hypriot (Raspberry PI)"
/kind bug

**What happened**:

I have a Master node running on AWS with Weave Net as pod network. I can successfully join the network using kubeadm join --token XXX --discovery-token-ca-cert-hash XXX on my laptop as a slave node. However, if I run the same command on my Raspberry PI (running Hypriot OS) to add a second slave node, I get the following output:

[code]

When I run `sysctl net.bridge.

[2018-03-14 15:55] jdumars commented on #61050
@k82cn do you have any updates on this?

[2018-03-14 15:58] s4rd1nh4 commented on #61140
After run new upgrade to same version the problem has been fix.

Command:
gcloud container clusters upgrade cluster-name --cluster-version "1.9.3-gke.0" --zone us-central1-a --master

[2018-03-14 15:58] s4rd1nh4 commented on #61140
After run new upgrade to same version the problem has been fix.

Command:
gcloud container clusters upgrade cluster-name --cluster-version "1.9.3-gke.0" --zone us-central1-a --master

[2018-03-14 15:58] #61140 closed

[2018-03-14 16:12] liggitt commented on #61178
what version of docker and storage driver are you using as well?

[2018-03-14 16:22] jsafrane commented on #61178
It must be related to coreos or overlay2 in some way. Exactly the same pod works well on CentOS 7.4 (with docker 1.12.6 + device mapper)

[2018-03-14 16:24] manuperera commented on #52096
Closed??? There are any solution for this problem?

[2018-03-14 16:25] manuperera commented on #52096
/reopen

[2018-03-14 16:33] carlosedp commented on #61178
Same error here but I'm not using EmptyDir, mounting the ConfigMap directly to a subpath:

[code]

[code]
My ConfigMap:
[code]
Deployment:

[code]

Worked fine in 1.9.3.

[2018-03-14 16:36] liggitt commented on #61178
@carlosedp the configmap+subpath issue is different, tracked in https://github.com/kubernetes/kubernetes/issues/61076 with a known fix scheduled for 1.9.5

[2018-03-14 16:39] carlosedp commented on #61178
Oh, thanks.. and sorry about the noise.

[2018-03-14 16:40] jtattermusch commented on #21493
CC @jtattermusch

[2018-03-14 16:43] jsafrane commented on #61178
I switched to overlay, still works. I am installing coreos.

[2018-03-14 16:50] vhosakot opened #61184 "Arguments to a command inside pod are treated as kubectl flags and deprecation warnings are shown for them"
**BUG REPORT**:
/kind bug

**What happened**:
Arguments to a command inside pod are treated as kubectl flags and deprecation warnings are shown for them from `flags.go`.

**What you expected to happen**:
Arguments to a command inside pod should not be treated as kubectl flags by `flags.go`.

**How to reproduce it**:
[code]

The arguments `--some_arg1`, `--some_arg2`, `--some_arg3`, `--some_arg4` p

[2018-03-14 16:53] vhosakot commented on #61184
/sig cli
@kubernetes/sig-cli-bugs

[2018-03-14 16:55] krzyzacy commented on #60763
any solution here?

[2018-03-14 17:01] bsalamat opened #61185 "Create policy API specifying constraints on scheduling properties"
Today, we do not have any mechanism to control what scheduling properties a user is allowed to add to their pods. As an example, a user may add tolerations to their pod allowing the pods to run on machines tainted with special hardware taint while the pods do not need the special hardware. Or, a user may add anti-affinity rules to their pods preventing other pods from running on the same node or e

[2018-03-14 17:02] jdumars commented on #60589
cc: @jpbetz

[2018-03-14 17:03] krzyzacy commented on #60003
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial is green now, pending on fix for https://github.com/kubernetes/kubernetes/issues/60763

/sig apps

[2018-03-14 17:07] klausenbusk commented on #26895
/reopen

I just experienced this today, so it haven't been fixed. I'm not sure why https://github.com/kubernetes/kubernetes/pull/35893 wasn't merged.

[code]

[2018-03-14 17:08] klausenbusk commented on #26895
/remove-lifecycle rotten

[2018-03-14 17:08] bsalamat commented on #61185
cc/ @yastij

[2018-03-14 17:12] tpepper commented on #61182
/sig cluster-lifecycle

[2018-03-14 17:13] dedsm commented on #56582
I have a similar request, it would make rbac really powerful if you can specify a regex in the resourceNames to match, I deploy the whole infrastructure in feature branches in my development cluster into new namespaces with a prefix per user, it would be nice to be able to say something like
[code]
to allow that user to manage any namespace as long as they start with "userA-"

[2018-03-14 17:14] x13n commented on #60500
We did some debugging with @shyamjvs. What we found out is: addon manager and fluent-scaler are both sending PATCH requests to apiserver, to update fluentd-gcp. All these patches are no-ops, the only thing that is changing is the resource version. That unfortunately doesn't prevent the deamonset controller from killing & recreating identical pods, which is what causes increased memory usage of con

[2018-03-14 17:17] liggitt commented on #60500
no-op patches should not change resource version or trigger watch events.

[2018-03-14 17:26] bgrant0607 commented on #44156
/remove-lifecycle stale

[2018-03-14 17:31] ericchiang commented on #56582
There are more issues than just RBAC here. For example if I have the ability to create a pod, I can mount any secret or service account token from a namespace into that pod, even if RBAC prevents me from getting that secret. That's part of why Mike Danese said earlier that "Subdividing namespaces is not trivial." Even if RBAC was more expressive, the security boundary is still the namespace.

The

[2018-03-14 17:35] liggitt commented on #56582
I would add that prefix matching without a delimiter is generally a bad idea. Letting user `bob` manage all namespaces that match `bob-*` sounds great until user `bob-tables` shows up

[2018-03-14 17:41] jsafrane commented on #61178
Reproduced on coreos 1702.1.0 and today's release-1.9 HEAD:

[code]

Interesting is that the pod flips between "Completed" and "CrashLoopBackOff".

[2018-03-14 17:47] Bradamant3 commented on #59764
Clarification, please? Do y'all want a relnote for https://github.com/kubernetes/kubernetes/issues/60933?

[2018-03-14 17:48] Bradamant3 commented on #59764
Add https://github.com/kubernetes/kubernetes/issues/60764 plus related doc https://github.com/kubernetes/website/pull/7731

[2018-03-14 17:53] jsafrane commented on #61178
I did **not** reproduce it, the container is in CrashLoopBackOff because it finished successfully and its restart policy keeps restarting it and gives up eventually. I did **not** see

[code]

[2018-03-14 18:01] apelisse commented on #61145
I'll take this. Sorry for the inconvenience.

[2018-03-14 18:02] Joseph-Irving commented on #61178
@jsafrane sorry if my initial report was a bit misleading. the whole `container init caused \\\"rootfs_linux.go:53: mounting ` part I did not reproduce with that example deployment. That just reproduced the `container start failed: CreateContainerConfigError: failed to prepare subPath for volumeMount "mount" of container "subtest"`.

[2018-03-14 18:08] shyamjvs commented on #60500
@liggitt Even my feeling is the same that we shouldn't be changing RVs for no-ops. There's sth else in play here - needs more digging.

To summarize, here's what we observed:
1. PATCH daemonset calls coming every minute from both fluentd-scaler and addon-manager (verified this by individually turning them on/off). Things we need to understand here:
  - Is the daemonset object continuously toggling

[2018-03-14 18:10] rhcarvalho commented on #26895
/reopen

Let's see if that works.

[2018-03-14 18:15] shyamjvs opened #61189 "Flaky timeouts while waiting for RC pods to be running in density test"
Follows from https://github.com/kubernetes/kubernetes/issues/60500#issuecomment-372395317.

We're seeing such flakes in our density test:

[code]

E.g:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/11568
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/11567
- https://k8s-gubernator.a

[2018-03-14 18:20] shyamjvs opened #61190 "Fluentd-scaler causing fluentd pod deletions and messes with ds-controller"
Forking from https://github.com/kubernetes/kubernetes/issues/60500#issuecomment-373121164:

To summarize, here's what we observed:
1. PATCH daemonset calls coming every minute from both fluentd-scaler and addon-manager (verified this by individually turning them on/off). Things we need to understand here:
  - Is the daemonset object continuously toggling b/w 2 states? (we know here that it's RV is

[2018-03-14 18:22] shyamjvs commented on #61190
Marked this as release-blocker as at least some part of it seems like a correctness issue (i.e fluentd pods dying and getting recreated).
Note also that this is causing increased mem-usage with daemonset-controller (depicted here - https://github.com/kubernetes/kubernetes/issues/60500#issuecomment-372442191)

[2018-03-14 18:27] jhvhs commented on #17626
/remove-lifecycle stale

[2018-03-14 18:27] ahmetb commented on #60887
https://github.com/kubernetes/examples/pull/210 now merged.

We can probably proceed with the deletion of `examples/`. (note that https://github.com/kubernetes/kubernetes/pull/60944 might be causing a conflict, wait for that to get in first).

[2018-03-14 18:31] shyamjvs commented on #60500
Summarizing the entire issue:
- Apiserver mem-usage increased: We found the reason and it's expected ([ref](https://github.com/kubernetes/kubernetes/issues/60500#issuecomment-372682659)). I sent a PR increasing the threshold for our scalability tests along with a release note explaining the effect (https://github.com/kubernetes/kubernetes/pull/61118) - it's now merged.
- Controller-manager mem-usa

[2018-03-14 18:31] yujuhong commented on #60763
@k82cn @janetkuo fluentd is scheduled on the master node, which is marked unschedulable (`spec.unschedulable: true`). Is this working as intended?

[2018-03-14 18:40] pavankjadda opened #61191 "AWS microservices in CrashLoopBackOff status"
I have a project with two microservices and gateway generated through JHipster. I deployed this in AWS cloud using [Kubernetes by Heptio on AWS](https://aws.amazon.com/quickstart/architecture/heptio-kubernetes/). When I deploy the pods, my microservices keep on crashing with the status **CrashLoopBackOff**. Uploaded code to [github](https://github.com/pavankjadda/Kubernetes-SpringCloudStream-Kafka

[2018-03-14 18:43] bbaribeau opened #61192 "Error starting container - failed to write to cpu.cfs_quota_us"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Create a Pod with a single container with CPU requests and limits of `51m`.  When the container is run, it generates the following error:
[code]

**What you expected to happen**:
The container runs properly.

**How to reproduce it (as minimally and precisely as possible)**:
docker and kubelet must be configured to use the

[2018-03-14 18:44] janetkuo commented on #60763
Yes, assuming fluentd is a DaemonSet pod. #60386 is nothing new; it's introduced to fix a regression in 1.10.

As stated in DaemonSet [doc](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#how-daemon-pods-are-scheduled):

[2018-03-14 18:46] shyamjvs commented on #61189
I'm choosing run https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/11568 for further debugging.
So in that run, this happened with `density-latency-pod-53` in particular (note that it's an RC for latency pod):

[code]

When I look into the [controller-manager logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-

[2018-03-14 18:50] shyamjvs commented on #61189
There are 2 concerns here:
- we probably shouldn't be waiting in that utility function for "all pods of that RC to be running", but instead for "rc.Replicas many pods to be running"
- even if the RC created an extra pod, why didn't it delete the extra replica later?

[2018-03-14 18:50] jsafrane commented on #61178
I finally reproduced this error:

[code]

Just run the deployment in 1.9.4 (not master!) and wait enough for the container to be restarted several times, the error will eventually show up. It's because one of the cleanup fails, leaving the bind-mounted test file there. Following Setup will check if the directory is mounted and `IsLikelyNotMountPoint` will fail too, because it does `lstat("/var/lib

[2018-03-14 18:52] janetkuo commented on #59676
@andor44 what's the Kubernetes version of your cluster?

[2018-03-14 18:56] #60500 closed

[2018-03-14 19:07] krzyzacy commented on #61189
/cc
/milestone v1.10

[2018-03-14 19:12] jberkus commented on #61189
/priority critical-urgent

Raisng priority as appropriate, also marking this as in milestone.

[2018-03-14 19:17] pavankjadda commented on #61191
/sig bug

[2018-03-14 19:20] dzr0001 commented on #34137
Hello,
I can confirm that on 1.9.2 the volume stats from /stats/summary are still not available in the /metrics endpoint. Are there still plans to implement this?

Thanks!

/remove-lifecycle rotten

[2018-03-14 19:23] shyamjvs commented on #61189
SGTM

[2018-03-14 19:26] john-delivuk opened #61197 "Allow use of DNS name for apiregistration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When you create an apiregistration resource, you need to provide the service and the namespace for lookup purposes. What's bothersome about this approach, is that you must first create the service before you can go create certs and setup the resource, because it looks up the service IP address. If you allowed use of D

[2018-03-14 19:29] janetkuo commented on #60763
If fluentd Daemon pods aren't supposed to be scheduled on the master, taints should be added to the master; if instead those pods should be scheduled on the master, we should add more capacity to it.

[2018-03-14 19:34] jberkus commented on #59764
Mount propagation manual steps: https://github.com/kubernetes/kubernetes/pull/61126

[2018-03-14 19:36] jberkus commented on #59764
My opinion: yes.

[2018-03-14 19:39] john-delivuk commented on #61197
As soon as I opened this I found this

https://kubernetes.io/docs/concepts/services-networking/service/

[code]

[2018-03-14 19:40] pavankjadda commented on #61191
Some extra characters were appended in Kafka configuration file. This is no longer an issue.

[2018-03-14 19:40] #61191 closed

[2018-03-14 19:40] john-delivuk commented on #61197
Will leave open for now so someone can evaluate if it's worth changing, this can work as a work around for now.

[2018-03-14 19:41] jpbetz commented on #60589
Agree with @gyuho that we should try to get a stronger signal on this one given that the only code change to etcd is isolated to restart/recover code.

The only other change is the upgrade of etcd from go1.8.5 to go1.8.7, but I'm doubtful that we'd see a significant performance regression with that.

[2018-03-14 19:43] gnufied commented on #61133
/sig storage

[2018-03-14 19:51] dlaidlaw opened #61199 "Manage resources created by the cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The cloud providers create resources such as load balancers, block storage, etc. Administrators would like to know which cloud resources were created by the kubernetes cloud provider. There should be the ability to query for a list of those resources, or potentially even delete them.

A typical use case for this inform

[2018-03-14 20:00] copland commented on #59676
@janetkuo  We are seeing this issue as well and we are running 1.9.3.

What we see is a correct number of non-orphaned jobs per our CronJob's successfulJobHistoryLimit and a growing number of orphaned Jobs. The deletionTimestamp of the orphaned Jobs is continuously updated and the jobs do not go away (see below). Interestingly, we have a second, larger cluster running the same Kubernetes and CronJ

[2018-03-14 20:10] janetkuo opened #61200 "Singular "endpoint" not supported in kubectl"
`Endpoint` is the only resource that cannot be specified in singular form in kubectl.
[code]
https://github.com/kubernetes/kubernetes/blob/02611149c181f7fd9ab116c40d7ee32fb5934b7c/pkg/kubectl/kubectl.go#L156-L164

Is it intended? If so, why?

@kubernetes/sig-cli-maintainers

[2018-03-14 20:13] shyamjvs commented on #60589
So continuing, with the bisection, ff7918d1f seems to be good:

[code]

I'll update the commit range in https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-373051051 accordingly.

[2018-03-14 20:21] yujuhong commented on #60763
fluentd's asking more cpu resources than 1.9 (the regression caused by #60613 masked the issue until now). Seems like this could be related to the introduction of fluentd-gcp-scaler.
/assign @crassirostris

[2018-03-14 20:30] liggitt commented on #61200
because the type itself is plural: `type Endpoints struct`

[2018-03-14 20:31] verult commented on #60764
Another related concern is when the beta feature gate is turned off, we run into the same problem of PVCs and PVs not getting deleted properly. Ideally it should be the controller's duty to make sure feature gates can be turned off cleanly.

It may be worthwhile to add this logic in the `StorageObjectInUseProtection` controller: when the feature gate is off, operate in "finalizer deletion" mode wh

[2018-03-14 20:39] verult commented on #60766
PR #60899 merged.
/close

[2018-03-14 20:39] #60766 closed

[2018-03-14 20:40] gnufied commented on #60764
This will also require that pvcProtection controller always runs, no matter feature gate is on or off. Currently starting of that controller is feature gated, so as controller does not run if feature gate is off. Allowing controller to always run will be somewhat of a departure from existing practices.

[2018-03-14 20:42] liggitt commented on #61200
/close

[2018-03-14 20:42] #61200 closed

[2018-03-14 20:42] enisoc commented on #59676
This definitely sounds to me like the GC is failing to process the `orphan` finalizer.

@copland Can you check, for one of the Jobs stuck with the `orphan` finalizer, if it actually has any Pods left? And if so, what state are those Pods in (Running/Succeeded/Failed)? You should be able to do something like:

[code]

If there are any Pods returned, it would also help if you can show the `metadata`

[2018-03-14 21:11] copland commented on #59676
@enisoc There are no pods for any of the stuck Jobs.

[2018-03-14 21:19] janetkuo commented on #61050
I believe #61161 is tackling this issue.

[2018-03-14 21:41] verult commented on #60764
On the other hand, without it users have to manually delete the finalizers in addition to turning off the feature gate if they wish to disable StorageObjectInUseProtection cleanly

[2018-03-14 21:42] danderson commented on #60764
Agreed, it's a departure from the "standard" assumption that feature gates just bypass code.

I guess the question is about what feature gates should do: do they bypass new code, or do they turn a feature on/off? If it's the latter, then turning the feature gate off should turn off the feature, _and take explicit action if necessary to make the feature be actually off_.

Some feature gates already

[2018-03-14 21:45] johnculviner commented on #2707
If you are stuck on <1.8 for the time being this fixed it all for me with elasticsearch (the similar answer above didn't quite cut it) hope this helps someone

[code]

[2018-03-14 21:48] ixdy commented on #54238
This has started failing in tests:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress/20432

[2018-03-14 21:50] danderson commented on #60764
For context, I'm with GKE SRE, and my specific concern is this: when we make 1.10 available for use in GKE, customers expect the ability to roll forward and back. So, let's say they roll forward, do a couple of their normal website deploys, kick the tires... And discover a horrible bug that affects their workflow, not related to PVCs.

They correctly decide that they need to roll back to 1.9 until

[2018-03-14 21:50] krzyzacy commented on #54238
/shrug
/milestone v1.10
/assign
/assign @MrHohn
/priority failing-test
/priority critical-urgent
/sig network
/sig testing

[2018-03-14 21:51] ixdy commented on #54238
I think this might be only in the staging gcloud release; at least https://cloud.google.com/sdk/docs/release-notes doesn't mention this being removed.

[2018-03-14 21:52] krzyzacy commented on #54238
and yeah, gce-canary is also using staging gcloud /shrug

[2018-03-14 21:54] yastij commented on #61185
@bsalamat - we've wrote @arnaudmz & me draft of the design doc, we'll PR it tomorrow to kick-off discussions.

[2018-03-14 21:55] krzyzacy commented on #54238
/assign @rmmh
I'll fix kubetest, @rmmh is patching k8s

[2018-03-14 22:17] SEJeff commented on #36072
Confirmed with kubectl 1.9.3 with this service:
[code]

With this command:

[code]

And the confirm the versions:
[code]

[2018-03-14 22:24] caseydavenport commented on #50451
Closing the loop:

- There's a proposal for this here: https://github.com/kubernetes/kubernetes/issues/58637
- And an API change here! https://github.com/kubernetes/kubernetes/pull/60452

We're expecting this to go into k8s v1.11 in order to give implementations a chance to catch up.

/remove-lifecycle stale

[2018-03-14 22:24] aledbf commented on #57212
/remove-lifecycle stale

[2018-03-14 22:37] saad-ali commented on #60764
+1 I'm not sure how feasible that will be to do before 1.10 is cut. So we can carry on as planned and pursue this in parallel?

1. Document steps for manually removing finalizers on downgrade from PV and PVC objects.
2. Add a Known Issue on this with link to steps above indicating that PV and PVC objects may not delete if...
3. Add manual finalizer removal to the down grade tests to force them to

[2018-03-14 22:44] danderson commented on #60764
@saad-ali To be clear, the "in parallel" point 1, "modify the `pvcProtection` controller"... We would modify it in both 1.10 and 1.9, and make a patch release for both, right? That way we can instruct people "to be downgrade-safe, make sure you're at least on 1.9.X before you upgrade, and downgrade back to 1.9.X if you need to roll back" ?

[2018-03-14 22:44] cjyar commented on #60970
It seems like one workaround is to delete the service and re-create it from scratch. Is there a more graceful workaround?

[2018-03-14 23:01] msau42 commented on #61178
@jsafrane, do you know why the subpath cleanup failed? Did it succeed many times before failing?

[2018-03-14 23:02] msau42 commented on #61178
cc @tallclair

[2018-03-14 23:03] prashantchari commented on #57070
@andyzhangx Andy, Do you happen to have a timeline for this feature ? Would it be available for GA ?

[2018-03-14 23:19] danderson commented on #60764
With my GKE hat on: "proceed with caveats on 1.10" sgtm. We can make 1.10 available with a downgrade caveat for early adopters, and delay wider upgrades until we have a clean downgrade path.

What kind of timeline would we be looking at for a 1.9 patch release that includes the `pvcProtection` cleanup-when-disabled change?

[2018-03-14 23:35] alena1108 opened #61205 "Deployment "MinimumReplicasAvailable" is True when "unavailableReplicas" > 0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Deployment condition doesn't indicate that its replicas are not being ready

**What you expected to happen**:

Condition to reflect that replicas are not ready

**How to reproduce it (as minimally and precisely as possible)**:

* Create a deployment with invalid image; used `kubectl run test --image=nginx123`
* Pod gets

[2018-03-14 23:35] freehan opened #61206 "Support Batch Status Update"
With the [pod ready++ proposal](https://docs.google.com/document/d/1VFZbc_IqPf_Msd-jul7LKTmGjvQ5qRldYOFV0lGqxf8/edit#heading=h.wvpldvtvh8u4), custom pod condition can be injected into pods using PATCH.  This allows external systems to influence pod readiness. However, this will cause higher RPS on pod status updates, since kubelet will no longer be the only system updating pod status.

For some us

[2018-03-14 23:54] bsalamat commented on #61185
/assign yastij

[2018-03-15 00:18] ahilmathew opened #61207 "Application in one pod not able to connect to mongodb on another pod."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: I checked the logs of the application I am using and it says :
Caused by: java.net.UnknownHostException: mongodb:
Inside the application config file I have used the host name as mongodb and i have created a service for the mongo deployment with the service name as  : mongodb.

**What you expected to happen**:
My understanding is tha

[2018-03-15 00:21] #53939 closed

[2018-03-15 00:30] ahilmathew commented on #61207
/sig sig-aws

[2018-03-15 00:36] bsalamat commented on #56032
@shyamjvs I created #61070 and ran `pull-kubernetes-e2e-gce-100-performance` a couple of times. It once failed and once succeeded. The one time that it failed, it was a timeout, but the timeout didn't seem to be related to performance. All the pods had been scheduled successfully and quickly, but one of the pods had never scheduled. This issue may not necessarily be performance related. Given that

[2018-03-15 00:36] ahilmathew commented on #61207
/sig aws

[2018-03-15 00:36] ahilmathew commented on #61207
/sig network

[2018-03-15 00:38] ahilmathew commented on #61207
@kubernetes/sig-aws-bugs

[2018-03-15 00:43] krzyzacy commented on #61141
well.. looks like I need to untangle all the bash in that script.. that might take a bit

in the meantime sent https://github.com/kubernetes/test-infra/pull/7289 as a short-term workaround, I'll leave this issue open until the real fix is in.

[2018-03-15 00:50] ahilmathew commented on #61207
/area dns

[2018-03-15 01:23] saad-ali commented on #60764
Right, no reason this behavior can't be included in 1.10.x as well as 1.9.x.

@pospispa can you confirm if you can work on this? If so can you provide an eta?

[2018-03-15 01:37] k82cn commented on #61050
Working on https://github.com/kubernetes/kubernetes/pull/61161 for this :)

[2018-03-15 01:45] hzxuzhonghu commented on #61180
/assign

[2018-03-15 01:46] hzxuzhonghu commented on #61180
I think a random check is ok.

[2018-03-15 02:00] heqiuwen opened #61208 "kubernetes的master连接2个nodes出现异常"
**Is this a FEATURE REQUEST?**:

**What happened**:
[root@pqcgh077v01 kube-proxy]# cat kube-proxy.pqcgh077v01.unknownuser.log.WARNING.20180314-174840.1312
Log file created at: 2018/03/14 17:48:40
Running on machine: pqcgh077v01
Binary: Built with gc go1.6.3 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
W0314 17:48:40.470511    1312 reflector.go:330] pkg/proxy/

[2018-03-15 02:16] ezspamat commented on #33916
I have the same issue as well. I tried to create a cluster with x86 (Intel NUC) and arm (Raspberry-Pi) and I see that the kube-proxy is crashing. Here's the log entry from kube-proxy
`Logs from kube-proxy
standard_init_linux.go:178: exec user process caused "exec format error"`
Attached is the kube-proxy yaml file. I see that its picking up arm image
[kube-proxy.yaml.txt](https://github.com/kubern

[2018-03-15 02:23] #49709 closed

[2018-03-15 02:40] shyamjvs commented on #60589
Next, commit aa19a1726 seems like a good one, though I'd suggest retrying once again to confirm:

[code]

At this point I'm going to pause the bisection and start my vacation :)

[2018-03-15 02:58] jhorwit2 commented on #61199
cc @wlan0

[2018-03-15 03:08] jhorwit2 commented on #61100
/area cloudprovider

@maxkondr has the service always been ClusterIp? I don't see this on any of our clusters which run the CCM.

[2018-03-15 03:42] kiangj commented on #23130
1.9.3 still having the same issue.

[2018-03-15 03:54] liggitt commented on #61185
cc @kubernetes/sig-auth-feature-requests

[2018-03-15 03:57] liggitt commented on #61174
we wouldn't block creation of the stateful set... asynchronous or out of order creation is intentionally tolerated

[2018-03-15 04:04] shyamjvs commented on #56032
Bobby - Note that the project where these presubmits run has almost it's
entire quota busy in debugging a serious scalability regression atm (issue
#60589). So running anything larger than 100-node (or even that) might
timeout waiting to get enough VMs.

On Thu, Mar 15, 2018, 1:36 AM Bobby (Babak) Salamat <
notifications@github.com> wrote:

[2018-03-15 04:13] shyamjvs commented on #56032
Sorry for this inconvenience - hopefully we resolve that soon.

[2018-03-15 05:18] bamb00 commented on #50799
@MrHohn I deploy the example-app (prometheus-frontend) to monitor my app in the namespace monitoring

Can you tell me what I am doing wrong?

       #  **kubectl get po -n monitoring**
       **prometheus-frontend-0**                  2/2       Running   0          5m

prometheus-frontend logs:

       level=error ts=2018-03-15T05:01:22.217971764Z caller=main.go:212 component=k8s_client_runtime er

[2018-03-15 05:34] ericchiang commented on #61185
Ref https://github.com/kubernetes/kubernetes/issues/48041
Ref https://github.com/kubernetes/kubernetes/issues/59366

[2018-03-15 05:38] MrHohn commented on #50799
@bamb00 It is likely the RBAC for your app wasn't properly setup. Have you checked out [this doc page](https://kubernetes.io/docs/admin/authorization/rbac/)?

[2018-03-15 06:29] ixdy commented on #37598
/remove-lifecycle stale

[2018-03-15 07:02] tanshanshan commented on #61184
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/flag/flags.go#L39
[code]
is it ok if we remove this warning ?

[2018-03-15 07:04] nikhita commented on #61205
/kind bug

[2018-03-15 07:09] vhosakot commented on #61184
@tanshanshan the warning should be removed _**just**_ for the arguments to a command inside pod that are passed after the `--`, and not for the arguments to `kubectl` itself. The warning is still valid and needed for arguments with underscore (`_`) to `kubectl` itself.

[2018-03-15 07:11] jianglingxia opened #61214 "Persistent Volume Claim Protection"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I test the pvc Protection in k8sv1.9,the pvc not by one pod used,and I delete the pvc ,the pvc status become Terminating but not remove,and never delete it always exist!

[root@k8s-jlx:/home/ubuntu/yaml]$ ps -aux |grep kube-api
kube     11982  2.6  2.4 380612 197592 ?       Ssl  14:45   0:20 /usr/bin/kube-apiserver --v=0

[2018-03-15 07:12] jianglingxia commented on #61214
/sig storage

[2018-03-15 07:17] divya25d opened #61215 "Not able to compile the code with this package kubernetes/plugin/pkg/scheduler/api"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

downloading the package k8s.io/kubernetes with version 1.8.0 with subpackages plugin/pkg/scheduler/api using glide pacakge management tool.
When I am trying to build my code compilation is failing because of below file. kubernetes/plugin/pkg/scheduler/api/zz_generated.deepcopy.go
When I remove the file from the path I am able to build my co

[2018-03-15 07:22] mlmhl commented on #61173
@marcinlesek
Maybe you should remove according pods first, use `kubectl get po -n=kube-system` to find all pods, and then use `kubectl delete po <pod-name> -n=kube-system` to delete them.

[2018-03-15 07:26] #54772 closed

[2018-03-15 07:34] maxkondr commented on #61100
@jhorwit2
Yes, I have never created services with LoadBalancer in this environment.
STR was following:

1. Create services (NodePort or ClusterIP)
2. Run CCM

I know that it is not a usual case for running cluster. From the beginning I didn't need to interact with cloud provider at all. And I just ran CCM once this task appeared on already working cluster.

Should CCM handle this case properly? Is

[2018-03-15 07:50] zhangxiaoyu-zidif commented on #61208
could you update your kubernetes to 1.8 above. =)

[2018-03-15 07:52] heqiuwen commented on #61208
why?

[2018-03-15 08:03] ShualLiu commented on #61205
I think there is something wrong in subtraction.<br> https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/sync.go#L606
It should be availableReplicas **>** (deployment.Spec.Replicas)-deploymentutil.MaxUnavailable(*deployment) other than **>=**

[2018-03-15 08:20] x13n commented on #61190
Thanks for filing this!

The only thing that was changing (apart from ds/fluentd-gcp status) was the resource version.

[2018-03-15 08:24] xialonglee commented on #61205
@ShualLiu
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/sync.go#L606
These code use in rolling update scenery too
I think when in a `Deployment recreate` or `RollingUpdate` situation, it allowed  `availableReplicas` equals to zero.(when deployment.Spec.Replicas=1, deploymentutil.MaxUnavailable(*deployment)=1 with surge=0%)
but not allowed  `availableReplicas` equal

[2018-03-15 08:40] zhangxiaoyu-zidif commented on #58788
Again checked, no matter whether we set docker's live-restore, the bug occurs. =)

[2018-03-15 08:47] jsafrane commented on #61178
Because cleanup does `lstat(file + "../")` when file is really a file.

[2018-03-15 08:53] andyzhangx commented on #57070
@prashantchari this is no upstream work for this feature.
Paste info from
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview#managed-disks-and-encryption
[code]

Let me know if you have any question, I will close this issue if there is no concern.

[2018-03-15 09:08] ayushpateria commented on #61205
This is because the the default value of `maxUnavailable ` for deployments in `extensions/v1beta1` is 1 ([https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/defaults.go#L104]). And kubectl uses `extensions/v1beta1` by default for deployments. A fix would be to change 1 to 25% (like in `apps/v1beta1`). I'd like to take this up if the proposed solution looks fine.

[2018-03-15 09:28] x13n commented on #61190
I modified fluentd scaler to use --dry-run in `kubectl set resources` to check whether there would be a change, but this still keeps on updating, even though there is no change. Apparently, the logic inside kubectl is broken...

[2018-03-15 09:35] sunng87 commented on #33664
The [document](https://kubernetes.io/docs/concepts/containers/images/#updating-images) is extremely misleading, where it says ** you can do one of the following**:

    use :latest as the tag for the image to use;
    enable the AlwaysPullImages admission controller.

By the way the policy described in doc is just what it should be. When using a `:latest` tag, it makes sense to pull registry alway

[2018-03-15 09:40] andor44 commented on #59676
@janetkuo we see this across clusters running 1.8.3, 1.9.2 and 1.9.3.

Just like in @copland's case there's no pod, only the job object.

[2018-03-15 09:42] deitch commented on #18174
/remove-lifecycle stale

[2018-03-15 09:54] wasylkowski-a commented on #60589
Thanks Shyam. I am retrying [aa19a17](https://github.com/kubernetes/kubernetes/commit/aa19a172693a4ad60d5a08e9b93557267d259c37).

[2018-03-15 10:20] yastij commented on #61199
/area cloud-provider

[2018-03-15 10:20] yastij commented on #61199
/area cloudprovider

[2018-03-15 10:48] x13n commented on #61190
Btw, addon manager sends tons of PATCH requests for all resources every minute anyway, so even though I will fix fluent-scaler not to send them, it won't solve everything.

[2018-03-15 11:31] crassirostris commented on #60763
@yujuhong

That's unexpected, thanks for noticing

/assign @x13n

Daniel, please take a look

[2018-03-15 11:51] BrianChristie commented on #39170
We're experiencing the same thing in 1.9.

The common use case here is wanting to send a graceful exit signal and wait for a process to complete before returning the `preStop` hook.

As noted above, the container kills (SIGTERM 137) the process running the preStop hook before the hook is able to return.

[2018-03-15 11:52] irfanjs opened #61222 "RBAC issue : Error from server (Forbidden): pods is forbidden: User "root" cannot list pods in the namespace "shopping""
hello,
I am getting following error :

I have created role and role-binding as follows :

[code]

and rolebinding is as follows :

[code]

using following command I have created the resources

here the kubectl config

my understanding is , using above role permission , u should be able to list and deploy pods ... not getting why the error though....
do I need to create the clusterole as well ....

[2018-03-15 11:53] maxkondr commented on #61100
I have recreated my cluster and for this time STR is following:

1. create cluster (run kubelet, api-server, controller-manager, scheduler)
[code]

There are no any other pods running - just control plane

2. Run CCM:

[code]

In CCm logs I see:
[code]

The result is the same - CCM tries to create LoadBalancer for service with type=CusterIP

[2018-03-15 12:07] toddams opened #61223 "ReadinessProbe fails, but pod is added to endpoints"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There is a deployment with 3 replicas which has readinessProbe configured to GET at 80 port. After deploy our uwsgi server failed to start, and readinessprobe is failed with 502. In dashboard I noticed that there were 3 old pods which were working, and one newly created pod that failed a readinessProbe. In service (AWS load balancer

[2018-03-15 12:16] jsafrane commented on #58413
There is a plan for better dynamic provisioning across zones/regions, but it's not using selectors at all. @msau42 is working on a proposal.

[2018-03-15 12:27] x13n commented on #60763
fluentd-gcp in both 1.9 and 1.10 asks for the same amount of resources: 100m cpu request, 200Mi memory request (and 300Mi memory limit). Introducing fluentd-gcp-scaler didn't change these values.
@yujuhong Do you mean that CPU request increased? I see it is 100m now (as it was for 1.9), what values did you see for 1.9 and now?

[2018-03-15 12:40] MartinKosicky commented on #59890
I have the same problem (using minikube)

[2018-03-15 12:47] zhoulouzi commented on #40651
@mikesparr  @oleg-kiselev   a great workaround

[2018-03-15 13:17] liggitt commented on #61222
why did you have to add `--validate=false` when creating the role? if you retrieve the loaded role and role binding from the API (using `kubelet get`) do they match your local files?

[2018-03-15 13:18] liggitt commented on #61222
it looks like you nested `rules` under `metadata` in your Role, which is invalid (and probably what validation was warning you about), and has the result of creating an empty Role with no rules. Make `rules` be a top-level field.

/close

[2018-03-15 13:18] #61222 closed

[2018-03-15 13:21] liggitt commented on #61215
make sure you get matching levels of `k8s.io/api`

[2018-03-15 13:24] liggitt commented on #61205
kubectl uses whatever version is defined in the manifest used to create the deployment

[2018-03-15 13:25] wasylkowski-a commented on #60589
For commit `[https://github.com/kubernetes/kubernetes/commit/aa19a172693a4ad60d5a08e9b93557267d259c37]aa19a17` I got the following results:
`2.47655243s (watch), 2.47655243s (pod-startup)`
So this looks good. Continuing bisection.

[2018-03-15 13:30] ayushpateria commented on #61205
I was a bit unsure if that'd be a breaking change, thanks for clarifying.

I meant in this case when the user is executing `kubectl run test --image=nginx123`, the generated manifest uses `extensions/v1beta1`

[2018-03-15 13:34] liggitt commented on #61205
Yes, that would be worth adding an apps/v1 generator for

[2018-03-15 13:34] jhorwit2 commented on #61100
What version of the CCM are you running?

[2018-03-15 13:58] irfanjs commented on #61222
thanks much .... its resolved .....
the role itself was not created ... :)

[2018-03-15 14:15] kindule opened #61224 "kubeadm join success but node not joined."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubeadm join ...` ok, but `kubectl get nodes` not appear the joined node
![image](https://user-images.githubusercontent.com/4156139/37468350-c44bbc10-289d-11e8-8780-237518765e2f.png)
![image](https://user-images.githubusercontent.com/4156139/37468355-ca57cf18-289d-11e8-9d99-20079853f75c.png)

**What you expected to happe

[2018-03-15 14:15] mooperd commented on #58357
Some infos on googles solution: https://github.com/Azure/azure-app-gateway-k8s-ingress/issues/5

[2018-03-15 14:17] discordianfish commented on #43168
Unfortunately I didn't write them down. But it was something like this (but check the paths first)

ETCDCTL_API=3 etcdctl del /registry/jobs/job-name

[2018-03-15 14:22] jdumars commented on #60589
@wasylkowski-a could you attend our release meeting at 5PM UTC/1PM Eastern/2PM Pacific?  It's a Zoom meeting: https://zoom.us/j/2018742972

[2018-03-15 14:24] pospispa commented on #60764
@saad-ali I left Red Hat on Monday and returned company's notebook with K8s development and testing environment.
I've never tried to build and run K8s on my home computer that may not be good enough for this purpose. So I can't provide any ETA.
I plan to try to build and run K8s on my home computer tomorrow.

[2018-03-15 14:27] wojtek-t commented on #61189
@shyamjvs - regarding your concerns, in this comment https://github.com/kubernetes/kubernetes/issues/61189#issuecomment-373134966 mine are actually different (at least one of them)

There are two concerns:
1. why replication controller created two pods (and only then why it didn't remove the second one)
2. Which is even more important, why one of the pods didn't start.

So I looked into those pods

[2018-03-15 14:42] wojtek-t commented on #61189
@kow3ns @janetkuo @kubernetes/sig-apps-bugs - if any of you can help with debugging that one.
There are a number of link in the first post and each of them seems the same. Because of some reason ReplicationController with 1 replica is creating 2 replicas and such state exists until we trigger deletion of RC.
Example logs are here: https://github.com/kubernetes/kubernetes/issues/61189#issuecomment-

[2018-03-15 14:48] marcinlesek commented on #61173
@mlmhl Thanks for the response. As background, I want to underline that I was checking kubernetes half year ago and I didn't remember everything from this tools.

[code]
Some advice how to start these pods?

[2018-03-15 15:00] k82cn commented on #59194
ACK.  In progress; comments addressed, waiting for review
ETA: 16/03/2018
Risks: low, only alpha feature is touched.

[2018-03-15 15:11] vrubiella opened #61226 "Service type ExtenalName is not filling Host header."
/kind feature

**What happened**:
Defining a service with ExternalName is useless for HTTP services because requests not includes Host header.

**What you expected to happen**:
Use ExternalName value in "Host" header by default.
Optionally, add anothe extra headers.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.9.3
- Cloud provider or hardwa

[2018-03-15 15:15] DirectXMan12 commented on #61007
/kind bug
/priority important-longterm

[2018-03-15 15:25] davidmaitland commented on #19317
@attila123 I was having the same issue. In the case of rook it creates a finalizer which was causing it to get stuck.

Directly from the [cleanup docs](https://rook.io/docs/rook/master/teardown.html):

The operator is responsible for removing the finalizer after the mounts have been cleaned up. If for some reason the operator is not able to remove the finalizer (ie. the operator is not running any

[2018-03-15 15:39] gxbjtu commented on #61113
I had this exact problem, is there any solution?

Environment:
* Kubernetes version (use kubectl version): Kubernetes v1.9.3,
* Cloud provider or hardware configuration: aws ec2
* OS (e.g. from /etc/os-release): CentOS Linux 7
* Kernel (e.g. uname -a): 3.10.0-693.21.1.el7.x86_64 #1 SMP x86_64 x86_64 x86_64 GNU/Linux
* Install tools: kubeadm

[2018-03-15 15:44] tomwparsons commented on #46232
How did you solve this? as it's not in the trouble shooting docs

Thanks

[2018-03-15 15:48] apelisse commented on #46232
I'm not sure what you mean by that.

Anyway, I can see by running `kubectl help proxy` that there is a `-p, --port` option to change the port. But you should really be able to kill the existing process anyway ...

PS: I'm using kubectl 1.8.7.

[2018-03-15 15:53] mengqiy commented on #57237
@ghost Please file a bug to gcloud if you haven't done so. Here is not the right place for it.

[2018-03-15 15:54] guillelb commented on #61076
Same issue upgrading from v1.7.11 to v1.7.14

Mounting a configMap:

`failed to prepare subPath for volumeMount`

[2018-03-15 15:59] liggitt commented on #61076
yes, this applies to 1.7.14, 1.8.9, and 1.9.4. point releases to address are scheduled for 3/19

[2018-03-15 16:05] tomwparsons commented on #46232
It's how to stop kubectl proxy, as running kubectly proxy gives:
`F0315 16:04:34.149372   39941 proxy.go:153] listen tcp 127.0.0.1:8001: bind: address already in use
`
Killing that process doesn't help as it immediately restarts. We're using 1.9.4

[2018-03-15 16:11] wlan0 commented on #61199
/assign

[2018-03-15 16:28] wasylkowski-a commented on #60589
I will attend.

[2018-03-15 16:48] alexellis commented on #61006
I was part of the initial [Twitter thread](https://twitter.com/peterbourgon/status/972177627996831744) - my main concerns are: the `init()` does too much and cannot be deferred.

A forked/updated glog should ideally not run `init()` or have an environmental variable that can be set to avoid it running `init()` until it's desirable - for instance how can you unit test this (you can't)?

The overrid

[2018-03-15 16:49] jberkus commented on #61214
I believe this is a known issue with PVC protection in 1.9?  You need to remove the finalizer manually.

[2018-03-15 16:50] alexellis commented on #61006
Related issue: https://github.com/coredns/coredns/issues/1597 (closed)

[2018-03-15 16:52] apelisse commented on #46232
which process? Did you try `killall kubectl`?

[2018-03-15 16:55] drewwells commented on #56114
What versions of k8s support etcd 3.2.11?

[2018-03-15 16:58] sttts commented on #56986
/remove-lifecycle stale

[2018-03-15 17:03] wlan0 commented on #61199
@dlaidlaw thanks for adding this request.

If you delete the resources (Ingresses, Services (type: LoadBalancer), Nodes) in Kubernetes before deleting the cluster from the cloud provider, then the cloud resources associated with Kubernetes would be deleted.

I know this is true for LBs and Routes, however I'm not sure of Volumes. @yastij might know the answer.

If you're looking for a mechanism to

[2018-03-15 17:12] mattsdni opened #61228 "Persistent Volume does not mount due to missing symlink"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug report

/kind bug

**What happened**:
Pod with EBS backed Persistent Volume stays in container creating state and fails to mount pv.

**What you expected to happen**:
Pod should be in running state after a minute or so

**How to reproduce it (as minimally and precisely as possible)**:
created 1.7.4 cluster with hyperkube running Linux 4.9.58-18.55.

[2018-03-15 17:14] szuecs commented on #51135
We also run into this issue in production, start investigating latency critical applications moving to kubernetes.
This is kind of a blocker for production clusters, because you can not set CPU limits for all latency critical applications. When we dropped the CPU limits from our ingress controller we got 12-20x less latency for the p99. The ingress controller is consuming about 30m CPU on average

[2018-03-15 17:17] krzyzacy commented on #60763
any updates?

[2018-03-15 17:24] calebamiles commented on #54238
/approved-for-milestone

[2018-03-15 17:25] calebamiles commented on #54238
/status approved-for-milestone

[2018-03-15 17:28] prashantchari commented on #57070
Hey @andyzhangx , For my scenario, I'm using https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv in combination with stateful sets to store user data on external disks. Can you elaborate on how I can enable azure disk encryption on those disks using custom keys from my key vault ?

I saw your example, but that requires me to setup encryption using the az commands on the VMs in the re

[2018-03-15 17:29] calebamiles commented on #54238
/status in-review

[2018-03-15 17:29] calebamiles commented on #54238
@krzyzacy should we close this issue since the PR merged?

[2018-03-15 17:30] krzyzacy commented on #54238
@calebamiles waiting for https://github.com/kubernetes/kubernetes/pull/61203, and that need to be cherrypicked into older releases

[2018-03-15 17:38] #53269 closed

[2018-03-15 17:38] yujuhong commented on #60763
The fluentd pod on the master from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/3153:
https://gist.github.com/yujuhong/8044d7daaf169b5cd6b0c3d587579246

Both the `fluentd-gcp` and the `prometheus-to-sd-exporter` containers requests 100m cpu
[code]
This amounts to 200m cpu. In v1.9, `prometheus-to-sd-exporter` did not have any cpu request IIRC. Y

[2018-03-15 17:40] jingxu97 opened #61229 "Check volumes actually exist in PodVolumesExist before deleting the pod"
When checking whether pod can be deleted or not, PodVolumesExist should check whether there are still volumes for the pod have not yet cleaned up. Before, this function only checks volume manager's actual state to see whether volumes exist. However, when kubelet restarts, actual state might not represent the true situation. PR #61071 adds a check which directly reads pod volumes directories from d

[2018-03-15 17:49] liggitt commented on #61215
/close

[2018-03-15 17:49] #61215 closed

[2018-03-15 17:49] mattsdni commented on #61228
/sig aws

[2018-03-15 17:58] gnufied commented on #61228
/sig storage

Just to be clear this is a M5 or C5 instance type right? Can you post output of : `ls /dev/disk/by-id` ?

[2018-03-15 18:01] enisoc commented on #61189
From the ReplicationController side, I believe this is working as intended.

First it creates Pod `density-latency-pod-53-x28c5` which gets scheduled to a node. However, after a few seconds, the Pod is evicted by preemption:

[code]

Once a Pod goes to Failed state due to rejection or eviction by the Node, ReplicationController ignores it completely. This means not only that it creates a replaceme

[2018-03-15 18:02] janetkuo commented on #61189
It looks like one of the RC's pods Failed? RC never sets its pods to Failed state, because its `restartPolicy` is `Always`. It must be kubelet.

When kubelet evicts pods, it sets pod state to Failed but doesn't delete evicted pods (#54525).
@enisoc we've debugged another issue related to this.

RC doesn't take any inactive pods (failed, succeeded, terminating) into account:
https://github.com/kube

[2018-03-15 18:05] mattsdni commented on #61228
running on m5. also happens on c4.
output of that command:
[code]
on c4 it's sda instead of nvme. not sure why, but it still looks for nvme.

[2018-03-15 18:06] liggitt opened #61230 "pull-kubernetes-e2e-gce flakes: Stackdriver Logging sink: googleapi: Error 400: There is a maximum of 90 sinks allowed, failedPrecondition"
pull-kubernetes-e2e-gce tests are failing very frequently with stackdriver related errors: "failed to create Stackdriver Logging sink: googleapi: Error 400: There is a maximum of 90 sinks allowed, failedPrecondition"

For example: https://k8s-gubernator.appspot.com/pr/61196

/sig testing

[2018-03-15 18:06] liggitt commented on #61230
/cc @crassirostris @wojtek-t

[2018-03-15 18:07] gnufied commented on #61228
@mattsdni so where did you see this bug? on C5 instance type or C4? Did you reproduce the bug on both C5 and C4 instance types?

[2018-03-15 18:13] crassirostris commented on #61230
Related to https://github.com/kubernetes/test-infra/issues/7295

I fixed the bleeding temporarily, @krzyzacy will add sinks to the list of cleaned projects, this should solve the problem

[2018-03-15 18:13] janetkuo commented on #61189
@enisoc didn't see your comment . It seems we have the same conclusion 😄

[2018-03-15 18:18] mattsdni commented on #61228
yes, both C5 and C4

[2018-03-15 18:19] pavankjadda opened #61232 "Unable to update Pod image in deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have a project with two microservices and gateway generated through JHipster. I deployed this in AWS cloud using [Kubernetes by Heptio on AWS](https://aws.amazon.com/quickstart/architecture/heptio-kubernetes/). When I try to update one of the image in my deployment through `kubectl` command, I got an error: `unable to find contain

[2018-03-15 18:20] gnufied commented on #61228
The `volumeID` format that you are using in PV is not correct. It should be something like - `aws://us-east-1c/vol-foobar`.

[2018-03-15 18:24] krzyzacy commented on #61230
/sig instrumentation
cc @piosz @brancz

so there's no timeout between the green/red runs today, something triggered this and I cannot tell, someone might want to figure out the cause of leaking

[2018-03-15 18:35] pavankjadda commented on #61232
The name of the container I was using is incorrect. I am able to get it using command `kubectl describe deployment projects --namespace=duppoc`.

#Part of the command output

[code]

[2018-03-15 18:35] #61232 closed

[2018-03-15 19:07] dlaidlaw commented on #61199
Yes, in general deleting the services, etc deletes the load balancers, etc. However you have to know what you need to delete. I suppose you could just go an delete everything.

But there is another use for this information: auditing the things created by the cloud provider. In general we want to be able to relate the resources created by the cloud provider back to the cluster and the resource that

[2018-03-15 19:12] yossip commented on #49445
+1

[2018-03-15 19:12] mattsdni commented on #61228
Using that syntax I now see in the control-manager be printed many times per second
[code]

[2018-03-15 19:19] liggitt commented on #61230
immediate issue is fixed, lowering urgency, will leave open until root caused

[2018-03-15 19:27] gnufied commented on #61228
That is not an error. Do you see volume being attached correctly?

[2018-03-15 19:30] mattsdni commented on #61228
It looks like it's attached
[code]
but not mounted
[code]

[2018-03-15 19:34] gnufied commented on #61228
Okay can you please post. your complete kubelet logs, EC2 instance type and output of `/proc/self/mountinfo` and output of `/dev/disk-by/id/` ?

[2018-03-15 19:36] embano1 commented on #55433
@arun-gupta quick question: are you running the LimitRange admission controller setting defaults to pods w/out (or out-of-range) resource requests/limits?

[2018-03-15 19:41] wasylkowski-a commented on #60589
Commit cca7ccbff161255292f72c2d18459cdface62122 looks unclear with the following results:
[code]
I will run this one more time to get confidence I do not enter the wrong half of the bisection.

[2018-03-15 19:42] itowlson commented on #58357
Thanks @gmoed for the offer - I don't think it's ready for testing yet and I've not had time to look at it since opening it, but I will be back on it hopefully soon, and will take you up on it when I am.

[2018-03-15 20:05] wlan0 commented on #61199
Thanks for explaining the use case in more detail over slack

Here's the gist of what we discussed

For auditing, and management purposes, it is important to establish the identity of the creator (clusterName/userName) of the resources in the Cloud managed by Kubernetes.

This is important because cloudproviders have their own mechanisms for managing resources. In clusters such as @dlaidlaw's, whe

[2018-03-15 20:06] ericchiang commented on #61185
cc @colemickens

[2018-03-15 20:07] spiffxp commented on #57911
That was handled by https://github.com/kubernetes/test-infra/pull/6167, there was still detritus left over at some point, but it seems to have been handled at this point

Fair point, I'm wondering how many of these still need the label applied such that nobody but people with repo write access can remove, or whether /hold and asking people to behave would be enough.  I'll do the rest first and rev

[2018-03-15 20:21] liggitt commented on #60769
fixed by https://github.com/kubernetes/kubernetes/pull/61135

[2018-03-15 20:22] liggitt commented on #60767
fixed by https://github.com/kubernetes/kubernetes/pull/61135

[2018-03-15 20:22] #60767 closed

[2018-03-15 20:22] liggitt commented on #60765
fixed by https://github.com/kubernetes/kubernetes/pull/61139

[2018-03-15 20:22] #60765 closed

[2018-03-15 20:22] liggitt commented on #60768
fixed by #60921

[2018-03-15 20:22] #60768 closed

[2018-03-15 20:22] liggitt commented on #60719
fixed in upgrade test by #61134

[2018-03-15 20:22] #60719 closed

[2018-03-15 20:26] jennybuckley commented on #61051
/sig node
/remove-sig api-machinery

[2018-03-15 20:29] jennybuckley commented on #61092
/sig apps
/remove-sig api-machinery

[2018-03-15 20:30] jennybuckley commented on #61103
/close

[2018-03-15 20:30] jennybuckley commented on #61103
/reopen

[2018-03-15 20:31] jennybuckley commented on #61103
@pwittrock Do you know who owns the Reference API documentation?

[2018-03-15 20:32] jennybuckley commented on #61125
/cc @cheftako

[2018-03-15 20:33] jennybuckley commented on #61175
Are there any logs for the garbage collector in the controller manager log?

[2018-03-15 20:40] jennybuckley commented on #61206
/priority backlog

[2018-03-15 20:41] #31208 closed

[2018-03-15 20:41] jennybuckley commented on #61103
/remove-sig api-machinery

[2018-03-15 20:49] pblaas commented on #61144
I was looking at the following kubelet options to tune this down a bit.
--kube-api-burst
--kube-api-qps
However this doesn't seem right since the only issue is during bootstrap when the api-controller pod is still   getting ready.
Shouldn't the kubelet be a bit more graceful with the connections when a connection refused is returned;  maybe with a incremental sleep instead of keep hitting it with

[2018-03-15 20:50] nikhita commented on #25716
/remove-lifecycle rotten

[2018-03-15 20:51] saad-ali commented on #60764
Thanks for the update @pospispa! Please let us know know ASAP if you're able to work on modifying it. If you are not, @rootfs has volunteered to pick up that work as well.

[2018-03-15 20:52] mattsdni commented on #61228
I don't see the by-id folder since I'm on an m5 instance, but there's this
[code]

Here is `/proc/self/mountinfo`
[code]
kubelet logs: https://www.dropbox.com/s/26b1zeybe7zkqj0/ce8b0612c5e376112a3dfda177735d2f20b89b0d8e5022153c898164193f0c3b-json.log?dl=0

[2018-03-15 21:03] KIVagant commented on #49445
As for me, it isn't a feature, it's a kind of bug.

[2018-03-15 21:04] verult commented on #60764
Adding the controller logic might be simpler than adding the temporary fix to the downgrade test - something to consider if the test fix isn't near completion yet.

[2018-03-15 21:40] alvaroaleman opened #61239 "Do not set anonymous authentication and alllowAll authorization on kubelet by default"
*Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Kubelet configured without `--authorization-mode=Webhook` or `--anonymous-auth=false`, resulting in full anonymous access, e.G. code execution via the `/exec` route

**What you expected to happen**:

A sane default  that does some kind of authentication and/or authorization without explicit configuration for all requests

[2018-03-15 21:42] #34395 closed

[2018-03-15 21:43] alvaroaleman commented on #61239
/sig node

[2018-03-15 21:44] nikhiljindal opened #61240 "Add an e2e test for kubemci to verify ingress spec conformance"
Filing this issue to track adding an e2e test to ensure that kubemci conforms to ingress spec.

[2018-03-15 21:44] nikhiljindal commented on #61240
First PR to add the test: https://github.com/kubernetes/kubernetes/pull/59234.
It is now running continuously at https://k8s-testgrid.appspot.com/sig-multicluster-kubemci#kubemci-ingress-conformance

But its failing

[2018-03-15 21:45] mattsdni commented on #61228
From dmesg tail:
[code]
fdisk
[code]

[2018-03-15 21:45] nikhiljindal commented on #61240
Dup of https://github.com/GoogleCloudPlatform/k8s-multicluster-ingress/issues/131

[2018-03-15 21:45] #61240 closed

[2018-03-15 21:57] verult opened #61242 "Various PD e2e tests failing in GCE regional clusters"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-1-8-1-9-upgrade-regional-cluster/36#cluster-upgrade-persistent-volume-upgrade-sig-storage
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-1-8-1-9-upgrade-regional-cluster/36#sig-storage-pod-disks-should-schedule-a-pod-w-a-rw-pd-gracefully-remove-it-then-sche

[2018-03-15 22:04] ixdy commented on #60887
You probably know about all of these already, but binaries and tests that are depending on examples (perhaps just implicitly):
[code]

[2018-03-15 22:06] ixdy commented on #60887
direct dependencies being
[code]

[2018-03-15 22:08] ahmetb commented on #60887
I think it's mostly kubectl, using some example manifest files. We've been able to move some of these manifests to https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests.

[2018-03-15 22:12] gnufied commented on #61228
sorry, I meant output of `ls /dev/disk/by-id` .  This may indeed be a bug but we need to investigate

[2018-03-15 22:13] alvaroaleman commented on #61239
A more detailed description on how to exploit be found here: https://medium.com/handy-tech/analysis-of-a-kubernetes-hack-backdooring-through-kubelet-823be5c3d67c

cc @liggitt

[2018-03-15 22:21] gnufied commented on #60645
/reopen

[2018-03-15 22:21] gnufied commented on #60645
@jdumars can we keep it open, we still need the second PR

[2018-03-15 22:29] serathius commented on #60887
@ahmetb I'm currently deciding what to do with links to ``https://releases.k8s.io/HEAD/examples/`, which will be broken after removing `examples` directory.
I asked on slack #sig-docs if it's ok to redirect everything to `https://github.com/kubernetes/examples/blob/master/`
Maybe you know reason for `releases.k8s.io` domain?

[2018-03-15 22:35] ahmetb commented on #60887
No I don't. Do these URLs appear in API reference docs? I believe it's maintained at https://github.com/kubernetes/k8s.io, you can suggest a PR with the redirection there.

[2018-03-15 22:43] #53992 closed

[2018-03-15 22:50] serathius commented on #60887
great idea
I'm only worried that in new repo most of examples were moved to `staging` directory.
Even if PR is accepted it would be hard to maintain

[2018-03-15 22:57] mentalblock opened #61247 "Pod Preset not being applied when using 2:1 volumeMount:volume mapping"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A pod preset which has two volumeMounts from the same volume do not get applied to pods. The volume is a `hostPath` volume.

**What you expected to happen**:
I expected the pod to get the volume and volumeMounts from the pod preset.

**How to reproduce it (as minimally and precisely as possible)**:
Create a pod preset tha

[2018-03-15 22:57] jingxu97 opened #61248 "Attached Volume data structure issue in volume manager's actual state"
Two or more pods are allowed to use the same volume. If pods are using in-line volume spec (directly put the volume spec into the pod spec), the volume specs in different pods' spec could have different names. With current data structure in volume manager, we might hit conflicts as explained below.

Give two pod spec example

[code]

[code]

Suppose test-p1 is created first. The pod volume dir wou

[2018-03-15 22:58] jingxu97 commented on #61248
cc @saad-ali

[2018-03-15 23:02] jingxu97 opened #61249 "Move volume related functions to volume manager"
Currently kubelet has some volume related function in kubelet interface, we should move them under volume manager or kubelet_volume.go

[2018-03-15 23:09] mattsdni commented on #61228
It looks like I only have
[code]

[2018-03-15 23:17] SEJeff commented on #36072
The issue (for me at least) was that the `clusterIP` and `resourceVersion` had been serialized and added to the json in the `kubectl.kubernetes.io/last-applied-configuration` annotation. Editing the svc to update this annotation to remove them made things magically work again.

It was via some iteration of kubectl apply, edit, apply, edit, apply that caused it to get into this situation. You shoul

[2018-03-15 23:30] idvoretskyi commented on #60887
cc @thockin on the domain question.

[2018-03-15 23:43] spiffxp commented on #57911
(Editing this as I go, will remove when done)

----

Miscellaneous labels to remove:

- ~https://github.com/kubernetes/kubernetes/labels/beta-blocker~
  - no open issues/prs, removed
- ~https://github.com/kubernetes/kubernetes/labels/non-release-blocker~
  - none of the issues that use it are in 1.10, removed
- https://github.com/kubernetes/kubernetes/labels/release-blocker
  - used by https://git

[2018-03-15 23:44] #25290 closed

[2018-03-15 23:44] #51018 closed

[2018-03-16 00:11] ahmetb commented on #60887
I suspect the https://releases.k8s.io/HEAD/examples/ links are used almost only for the "storage" examples –which we can consider moving out of `staging/` directory. `staging/` directory exists, because we're probably gonna deprecate+delete a good amount (my guess is at least 70%) of those examples. Most of them are not maintained anymore, and that repo is not the right place to host it.

[2018-03-16 00:22] janetkuo commented on #33664
@sunng87 There's also this sentence in the same doc you referenced:

It links to https://kubernetes.io/docs/concepts/configuration/overview/#container-images:

Perhaps we can make it more clear in the section you quoted. WDYT?

[2018-03-16 00:23] rootfs commented on #60764
adding temporary workaround in the e2e test itself to force remove the finalizers is more complicated than fixing the problem

[2018-03-16 00:26] krzyzacy commented on #54238
still need to cherrypick into previous releases

[2018-03-16 00:50] stewart-yu commented on #60645
/cc

[2018-03-16 00:57] resouer commented on #59980
Per discussion during sig-scheduling meeting. Let's hold this issue and focus on scheduler as framework design.

[2018-03-16 00:57] resouer commented on #60697
Per discussion during sig-scheduling meeting. Let's hold this issue and focus on scheduler as framework design.

[2018-03-16 00:57] verult commented on #60764
In that case my opinion is to focus on the fix. Regarding whether a feature gate should "bypass new code" or "turn a feature on/off": choosing the former in this case means the system could potentially be left in a bad state, and there should be an automated system in Kubernetes to clean up, either in the controller or elsewhere. Implementing this in the controller might be the easiest.

[2018-03-16 01:06] cblecker commented on #15863
/remove-lifecycle stale

[2018-03-16 01:12] krzyzacy commented on #61230
[code]

hummm, looks like it's not feasible let janitor clean sinks since the sinks does not have a `createTimeStamp` - this definitely needs to be added

[2018-03-16 01:33] k82cn opened #61250 "Duplicated toleration output in kubectl describe"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Trigger the following issue when testing https://github.com/kubernetes/kubernetes/pull/61161

[code]

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname -a`): `Linux ib15b13.eng.platformla

[2018-03-16 01:55] tallclair commented on #61185
BTW, this is done through annotations for:
Tolerations: https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/admission/podtolerationrestriction
NodeSelector: https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/admission/podnodeselector

[2018-03-16 02:21] mlmhl commented on #61214
I test this in the latest version and the PVC can be deleted. Any messages in controller's log?

[2018-03-16 02:26] gogeof commented on #61208
@heqiuwen 因为 1.8 版本之后更加稳定一些，在老的版本上纠结没有意义

[2018-03-16 02:28] heqiuwen commented on #61208
好的，谢谢

[2018-03-16 02:32] murali-reddy commented on #59507
@m1093782566

From the problem definition of this issue

First why should there be a reconicilization. This is in order to cleanup any stale configuration (service and server) that are no longer added (apart from adding missing any service and server). Now how do you end up in a state configuration? Becuase the control loop in the kube-proxy does not necessarily process all the updates to service

[2018-03-16 02:44] hzxuzhonghu commented on #61239
We should disable anonymous-auth when Authorization mode is AlwaysAllow as kube-apiserver does.
/cc @deads2k

[2018-03-16 02:44] hzxuzhonghu commented on #61239
I can fix it.

[2018-03-16 02:50] jianglingxia commented on #61214
I use the1.9version
![image](https://user-images.githubusercontent.com/25783555/37501044-7d6afaee-2907-11e8-966a-846d6531331e.png)
![image](https://user-images.githubusercontent.com/25783555/37501062-952f6a66-2907-11e8-8dc7-f1956db79f6b.png)
the controller log
![image](https://user-images.githubusercontent.com/25783555/37501119-d015a294-2907-11e8-8e20-d6e3fd989827.png)
thanks！

[2018-03-16 03:00] dixudx commented on #61250
/assign

[2018-03-16 03:04] xrmzju opened #61256 "Pod become unshedulable after our 'upgrade' operation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
pod become Unschedulable  and never come up or raise a new one only if we kill the `Unschedulable`  pod
[root@master1 ~]# kubectl get po
NAME                                  READY     STATUS          RESTARTS   AGE
go-653831134-3q13m              0/1       Unschedulable   0          1d
**What you expected to happen**:
a new pod com

[2018-03-16 03:07] liggitt commented on #61239
That's not backwards compatible. The apiserver began disallowing anonymous auth, so we could choose what limitations to place on it when it was introduced.

The kubelet endpoints had no authn/authz when introduced, so anonymous+allowall is the default for backwards compatibility.

[2018-03-16 03:07] liggitt commented on #61239
Cc @kubernetes/sig-auth-feature-requests

[2018-03-16 03:09] m1093782566 commented on #59507
Do you mean CRD? At least, your link provided is about CRD.

[2018-03-16 03:14] Pingan2017 opened #61257 "when delete a continer managed by k8s manually,the previously legacy symlink will not be deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:
when running a pod, k8s will create a symlink in /var/log/containers
[code]

then we delete the container manually, k8s will start a new container ,but now there are two symlinks in /var/log/containers

[code]

these two symlinks are healthy and link same log file.
**What you expected to happen**:
the previously

[2018-03-16 03:22] shenxg13 commented on #60573
[root@192-168-0-53-kube02 ~]# docker info
Containers: 2
 Running: 2
 Paused: 0
 Stopped: 0
Images: 5
Server Version: 17.12.0-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: systemd
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
 Log: awslogs fluentd gcplogs gelf journald json-file

[2018-03-16 03:27] liggitt commented on #54238
agreed, but isn't blocking 1.10 any more

/milestone clear

[2018-03-16 03:38] tengqm commented on #55807
@nfirvine Looks like there is a misunderstanding there. The assumption is that when a Pod is *about* to exit, the *preStop* hook may and may not run. If the pod transits to "Terminated" status, fine, the hook has a high chance to be invoked. If the pod transits to "Completed" status for example, the hook is not invoked. That is the problem raised IIUC.

This is not talking about hooks to be invoke

[2018-03-16 03:42] taoyu27 opened #61259 "[pvresize]Display of pvc capacity did not make corresponding changes when pv resized"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Display of pvc capacity did not make corresponding changes when pv resized

**What you expected to happen**:
display of pvc capacity did make corresponding changes when pv resized

**How to reproduce it (as minimally and precisely as possible)**:
1. create pvc, request storage: 1Gi
[code]
2. kubectl edit pvc, make request storage 4G

[2018-03-16 03:54] murali-reddy commented on #59507
Finalizers applies to both core and CRD objects.

For a better perspective take a look at https://github.com/kubernetes/kubernetes/pull/54569

[2018-03-16 03:58] thockin commented on #36858
@kubernetes/sig-testing-feature-requests

[2018-03-16 04:47] bsalamat commented on #61185
Tolerations:
NodeSelector:

Yes, we are aware of those. Both of those are alpha features. We are trying to build proper API without the use of annotations.

[2018-03-16 05:31] mlmhl commented on #61249
I can help to fix this. @jingxu97  Can you point out which functions should be moved to volume manager or kubelet_volume.go? Thanks.

[2018-03-16 05:45] wasylkowski-a commented on #60589
OK, so I'm pretty confident now that cca7ccbff161255292f72c2d18459cdface62122 is bad:
[code]

Trimming the range down to aa19a172693a4ad60d5a08e9b93557267d259c37...cca7ccbff161255292f72c2d18459cdface62122.

[2018-03-16 05:54] #58956 closed

[2018-03-16 05:55] #59918 closed

[2018-03-16 05:58] andyzhangx commented on #57070
@prashantchari I see your scenario is "Azure Disk Encryption", here is the detailed doc:
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption#disk-encryption-deployment-scenarios-and-user-experiences

While according to my use expericence on Ubuntu VM, the encryption process will fail sometimes, it's not stable.

Anyway, it's not related to k8s upstream work.

[2018-03-16 06:53] mingfengwuye commented on #52412
@seelam could you share some info with me about GPU quota support ?

[2018-03-16 07:33] MikeSpreitzer commented on #60484
I have a simple demonstration of throughput being limited by a single HTTP/2 connection between two processes.  It is based on the code in https://github.com/MikeSpreitzer/k8api-scaletest/tree/master/go_httperf , which you may think of as a go&HTTP/2 based variant of `iperf`.

With two connections, I can get the requested throughput:
[code]

With just one connection, it never gets there:
[code]

(

[2018-03-16 07:48] lostsquirrel opened #61263 "pod not reschedule after node power off"
**Is this a BUG REPORT**:

 /kind bug

**What happened**:

**What you expected to happen**:
the pod should reschedule to anther ready node
**How to reproduce it (as minimally and precisely as possible)**:
because the node is not response so I power off it.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware config

[2018-03-16 08:06] maxkondr commented on #61100
@jhorwit2
gcr.io/google-containers/cloud-controller-manager-amd64:v1.9.2

[2018-03-16 08:10] wojtek-t commented on #61189
@janetkuo @enisoc - thanks a lot that's super useful!

So I did a bit more debugging. And what is happening is that in all cases that I've seen is:

1. daemon-set controller is removing fluentd from that node
2. the latency-pod is scheduled on that node
3. daemon-set controller is recreating fluentd on that node
4. kubelet is preempting latency-pod to make place for fluentd (which is critical pod)

[2018-03-16 08:23] weherdh opened #61265 ""location" paramter should work if it does not exist in azure.conf"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Failed to provision pv with storage class if there is no location in azure.conf
# cat /etc/azure.conf
{
  "aadClientID" : "xxxxxxxxxxxxxxxxxxx",
  "aadClientSecret" : "xxxxxxxxxxxxxxxxxx",
  "subscriptionID" : "xxxxxxxxxxxxxxxxxxxxxx",
  "tenantID" : "xxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "resourceGroup": "openshift-qe",
}

# kubectl des

[2018-03-16 08:27] weherdh commented on #61265
/assign andyzhangx
/sig azure

[2018-03-16 08:27] weherdh commented on #61265
cc @rootfs

[2018-03-16 08:29] andyzhangx opened #61266 "respect fstype in Windows for azure disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Currently azure disk mount on Windows only supports NTFS, we should respect fstype in Windows like what it does in Linux

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v

[2018-03-16 08:37] shyamjvs commented on #61189
@wojtek-t Cool debugging! Btw there's at least 2 other places where I noticed sth similar:
- https://github.com/kubernetes/kubernetes/issues/61190#issue-305275363 (ds-controller recreating fluentds)
- https://github.com/kubernetes/kubernetes/issues/60035#issuecomment-366684544 (kubemark pods getting evicted when fluentd pod recreated on node)

Quite remarkably, I noticed all of them were observed

[2018-03-16 08:37] x13n commented on #60763
Thanks! Looks like there is a bug in the scaler, so it sets resources on all containers instead of fluentd-gcp only. Scaler fix is in https://github.com/GoogleCloudPlatform/k8s-stackdriver/pull/130, I will create a PR with version bump once this is merged.

[2018-03-16 08:43] taoyu27 commented on #61259
/sig storage

[2018-03-16 08:44] shyamjvs commented on #60035
I'm reopening this in light of https://github.com/kubernetes/kubernetes/issues/61189#issuecomment-373641543.
The real reason why this might've happened maybe fluentd-scaler (noted in https://github.com/kubernetes/kubernetes/issues/60035#issuecomment-366684544) instead of increased mem-usage. Needs verification.

[2018-03-16 08:47] andyzhangx commented on #61265
@weherdh You are using default kind `Shared` which means the shared storage accounts will be created before any pvc, if you specify `Dedicated` kind, it will respect `location` value in storage class.

[2018-03-16 08:49] x13n commented on #61189
fluentd-gcp daemonset is created initially without any resource requests nor limits, but gets them as soon as fluentd-gcp-scaler starts running. This effectively is a race condition - if a pod was created without any resource requests/limits, it will be recreated once they are there. If it is created later, the pod will have resource requests/limits already set correctly. Do we need to get rid of

[2018-03-16 08:54] shyamjvs commented on #61189
I believe yes - as this is sth which can hurt users (wrt evictions of their already running pods).
One more concern to me is - this shouldn't ideally increase the cluster startup time (because we're waiting for scaler to do the setting).

[2018-03-16 09:00] wojtek-t commented on #61189
Wait - you're saying it's a race. I'm seeing this recreations 30 minutes after cluster startup. Is that expected?

[2018-03-16 09:03] x13n commented on #61189
@wojtek-t Nope, it should be a matter of seconds. If it takes 30 minutes, this looks like a bug.
@shyamjvs All addons created at once, so I think there are races anyways. I have some ideas how to change that for fluentd but these ideas fall into two categories: bad and worse :)

[2018-03-16 09:04] x13n commented on #61189
Actually, could restart after 30 minutes be caused by https://github.com/kubernetes/kubernetes/issues/61190?

[2018-03-16 09:10] #61242 closed

[2018-03-16 09:12] wojtek-t commented on #61189
Possible - we didn't see problems since the PR bumping limits was merged.

[2018-03-16 09:15] pineking commented on #52412
@mingfengwuye this feature is merged, see https://github.com/kubernetes/kubernetes/pull/57302

[2018-03-16 09:30] weherdh commented on #61265
Yes, after I added `kind: Dedicated` parameter, it works. So the location in azure.conf should still be optional.

[2018-03-16 09:34] wasylkowski-a commented on #60589
Commit 92e4d3da0076f923a45d54d69c84e91ac6a61a55 looks good:
[code]
New suspect commit range is 92e4d3da0076f923a45d54d69c84e91ac6a61a55...cca7ccbff161255292f72c2d18459cdface62122, trying out 603ebe466d335a37392315d491782ed18d1bae11

[2018-03-16 09:42] Nodraak opened #61270 "kubectl get all does not show every object type"
**Is this a BUG REPORT ~or FEATURE REQUEST?~**:

**What happened**:

When querying objects with `kubectl get all`, it does not include everything (for instance, `ingress` is not shown).

**What you expected to happen**:

`get all` should show everything. Otherwise, `all` should be renamed to something more descriptive such as `summary`.

**How to reproduce it (as minimally and precisely as possibl

[2018-03-16 09:44] Nodraak commented on #61270
Sorry, wrong repo and the issue is [already reported](https://github.com/kubernetes/kubectl/issues/151) closing

[2018-03-16 09:44] #61270 closed

[2018-03-16 09:46] hustcat commented on #60748
If device plugin supporting resource share among pods, then DP can cover this problem.

[2018-03-16 09:48] hanxiaoshuai opened #61272 "make kubeproxy config struct Burst use int instead of int32 unify with kubeConfig"
**What happened**:
In pkg/proxy/apis/kubeproxyconfig/types.go struct ClientConnectionConfiguration.burst is int32 and in staging/src/k8s.io/client-go/rest struct Config.burst is int. I think we should unify it.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2018-03-16 10:21] yastij commented on #61199
@wlan0 @dlaidlaw - when deleting the PV, the storage asset still exists in the cloud provider.

[2018-03-16 10:33] Overv commented on #61175
Invalid bug report, this was caused by duplicate containers of kubernetes services running in my cluster.

[2018-03-16 10:33] #61175 closed

[2018-03-16 11:09] utkarshmani1997 opened #61275 ""pattern not match" warnings in fluentd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Fluentd logs flooded with pattern not match warnings and `\\\\\\\\\\\\\\\\\` and hence it is very difficult to debug.
**What you expected to happen**:
It should not show warnings.
**How to reproduce it (as minimally and precisely as possible)**:
Use the same templates for deploying EFK stack which is hosted on [kubernetes](https://g

[2018-03-16 11:33] dlaidlaw commented on #61199
@wlan0 Thanks for your time on this.

This is exactly what is needed. I would add one more thing: it would also be valuable to annotate or label the kubernetes resource that was created with the same tag value to allow tracking the cloud resource to a kubernetes clusterName/userName/resource. The resource is not critical, but it does enhance the value of the audit by improving traceability.

[2018-03-16 11:48] k82cn commented on #61050
ACK. In progress; waiting for review comments on #61161

[2018-03-16 11:59] dims commented on #60589
@wasylkowski please note that one of the commits namely https://github.com/kubernetes/kubernetes/commit/4c289014a05669c376994868d8d91f7565a204b5 got reverted in https://github.com/dims/kubernetes/commit/493f33583053bb4ce9f7d348c5bac39975883cb8

[2018-03-16 12:23] jeyglk opened #61276 "OIDC flag to check hosted_domain in id-token"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When OIDC is enabled and configured, we can authenticate on the Kubernetes API via Google Auth with any gmail address.

**What you expected to happen**:

We should be able to limit access only to hosted domain addresses.
We could add an --oidc-hosted-domain flag for the API server, with the authorized domain in param

[2018-03-16 12:26] x13n commented on #60763
Actually, maybe better to
/reopen
until testgrid becomes green.

[2018-03-16 12:37] ChristianCandelaria opened #61277 "Kubeadm init stuck on [init] This might take a minute or longer if the control plane images have to be pulled."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig bug

**What happened**:
Kubeadm init hangs at:

[init] Using Kubernetes version: v1.9.4
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks.
	[WARNING FileExisting-crictl]: crictl not found in system path
[preflight] Starting the kubelet service
[certificates] Generated ca certificate and key.
[certifica

[2018-03-16 12:46] depauna commented on #61277
/sig bugs

[2018-03-16 12:57] robotron-sr opened #61278 "HTTP 200 from API without correct key"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
We have a master node on a cloud provider, secured with certificates. We see a lot of status 200 respones from the master to different IPs, which are not our owns.
Anonymous login was off!

**What you expected to happen**:
Every client without the correct certificate should get HTTP status 401.

**Anything else we need to know?**:
I

[2018-03-16 12:57] #17657 closed

[2018-03-16 13:11] andyzhangx commented on #61265
@weherdh I will add a note in doc that kind `Shared` don't respect `location`, `storageaccount` parameter

[2018-03-16 13:31] ruedigers opened #61279 "vSphere cloud provider fails to attach a volume by pvc on CentOS 7.4"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We deployed Kubernetes 1.9.3 on CentOS 7.4.
All works except PVC.
[code]
The create command reports success, but nothing shows or happens in vSphere.
We checked the OS-logs for errors, permissions on vsphere, firewall ports, api-accessibility. We wrote and rewrote the pvc.yaml, with no luck.

**What you expected to happen*

[2018-03-16 13:52] ewbankkit commented on #61199
@wlan0 On AWS there seem to be some tag keys/values that could be re-used:
* [`TagNameKubernetesClusterPrefix `](https://github.com/kubernetes/kubernetes/blob/ca06cc43f787e0a32db7993314784f30ecae0f0a/pkg/cloudprovider/providers/aws/tags.go#L34)
* [`ResourceLifecycleOwned `](https://github.com/kubernetes/kubernetes/blob/ca06cc43f787e0a32db7993314784f30ecae0f0a/pkg/cloudprovider/providers/aws/tags.g

[2018-03-16 14:01] soltysh commented on #58536
@tpepper yes, sorry I've updated the initial description of the issue. All the remining bits are moved to #60712.

[2018-03-16 14:01] #58536 closed

[2018-03-16 14:03] soltysh commented on #60712
@juanvallejo I've added the task about re-evaulating the `creationTimestamp` to the task list. What we've discussed yesterday, which might help to improve UX especially when majority of sort operation are using that field and the current value we return is not much usable in that area.

[2018-03-16 14:07] irfanjs commented on #61222
hello,
after having proper role creation and rolebinding, now still I am not able to deploy the pods
I have gone through the docs : https://kubernetes.io/docs/admin/authorization/rbac/

here is the error I am getting

[2018-03-16 14:18] soumypau1 commented on #33664
We have separate jobs/teams for build and deploy.
If kubernetes cannot automatically detect a change in the image, that is we have to nudge kubernetes to let it know that a new image is available (using any of the method mentioned above), we have to provide access to the build job.
For us this is the biggest issue.
This feature is present  in aws ecs.

[2018-03-16 14:30] crassirostris opened #61280 "Audit logging spam in apiserver logs"
Currently when apiserver is overloaded and the buffer in the buffered backend starts to overflow, apiserver starts to generate a lot of messages like this:

[code]

These messages should be somehow collapsed/filtered. For example, write this message only once in a minute or once in 5 minutes.

/cc @kubernetes/sig-auth-bugs

[2018-03-16 14:59] #43811 closed

[2018-03-16 14:59] #54058 closed

[2018-03-16 14:59] #53807 closed

[2018-03-16 15:01] berlincount commented on #43916
As part of other investigations we've been recommended to use https://github.com/Feh/nocache to wrap the corresponding calls, which helped a fairly big amount :)

[2018-03-16 15:14] wlan0 commented on #61199
@ewbankkit thanks for the information!

@dlaidlaw The tags are already present for AWS. This should solve your issue in your existing cluster.

[2018-03-16 15:16] jdumars commented on #60764
@verult @rootfs @saad-ali given how little time is left in this release cycle, I need all of your help to decide and act on a course forward. My concern about fixing the issue in 1.10 is that it could insert unknown risks that will have very little soak time. If the fix is low-impact, low-risk, that seems reasonable.  Otherwise, it might be prudent to have an advisory for 1.10 and a fix in 1.10.1

[2018-03-16 15:25] wojtek-t commented on #61189
That said, I don't fully understand why this was supposed to help.
The fix meant that we are no longer sending no-op upgrades of DaemonSet.
But even previously, I would expect an update of DaemonSet to either trigger upgrade of all pods, or not trigger any upgrade.
So I would like to understand what exactly it was happening there even if this is fixed..

[2018-03-16 15:27] dlaidlaw commented on #61199
Yes, the tags created by AWS are excellent. I can use the tags created in AWS. However, these are created by AWS, but should this be made a standard or recommended practice? And standardize the tag names that are to be created? Or has this already been done?

[2018-03-16 15:29] liggitt commented on #61222
can you provide the role/rolebinding as retrieved from the apiserver with `kubectl get -o yaml`?

that role/rolebinding are in the `shopping` namespace, not the `xyz` namespace

[2018-03-16 15:33] jsafrane opened #61283 "Subpath volumes don't receive set-GID flag"
**Fix status:**
- [x] fixed in master in https://github.com/kubernetes/kubernetes/pull/61284, will be in 1.10.0
- [x] fixed in release-1.9 branch in https://github.com/kubernetes/kubernetes/pull/61308, will be in 1.9.7
- [x] fixed in release-1.8 branch in https://github.com/kubernetes/kubernetes/pull/61309, will be in 1.8.11
- [x] fixed in release-1.7 branch in https://github.com/kubernetes/kubern

[2018-03-16 15:35] pospispa commented on #60764
@saad-ali I'm actively working on this. So far I've created PR https://github.com/kubernetes/kubernetes/pull/61282

[2018-03-16 15:54] irfanjs commented on #61222
sorry ... it was not xyz ... it is a "shopping" only ....

here are the command:

[2018-03-16 15:56] liggitt commented on #61222
to grant permission in the `shopping` namespace, you have to create the role and rolebinding in the shopping namespace. the rolebinding you listed is in the `default` namespace

[2018-03-16 15:59] crassirostris commented on #60110
Docs PR is merged, closing

[2018-03-16 15:59] #60110 closed

[2018-03-16 16:00] #39502 closed

[2018-03-16 16:02] irfanjs commented on #61222
true. but if you see the role and rolebinding yaml file in very first post , it has namespace as **shopping** and not default

[2018-03-16 16:07] liggitt commented on #61222
Apparently not :)

Delete the role and rolebinding from the default namespace, create them in the shopping namespace, and provide the output of:
[code]

[2018-03-16 16:07] soltysh commented on #59527
https://github.com/kubernetes/kubernetes/pull/60985 merged, closing.
/close

[2018-03-16 16:07] #59527 closed

[2018-03-16 16:26] jberkus commented on #60645
re-opening per @gnufied

[2018-03-16 16:28] irfanjs commented on #61222
ok.. I recreated role and rolebindings in shopping namespace. output as below :

is this ok now ? Thanks ...

[2018-03-16 16:29] redliu312 opened #61286 "deploy on a preemptive node pool , the pods have wrong age"
**What happened**:
I know I have a deployment scheduled in a preemptive node pool . At the time when the node is terminated and created, I saw the pod destroyed and created on the node which met my expect.
The node age is around 15 minutes and the pods are around 14 minutes.
6 hour later,  I check the node and pods age again, the pod age is elder than the node,
like the pods themselves have never

[2018-03-16 16:31] gnufied commented on #60645
The second PR got merged late night yesterday as well. So we can close this.

/close

[2018-03-16 16:31] #60645 closed

[2018-03-16 16:31] liggitt commented on #61222
Your role is missing apiGroups extensions and apps

[2018-03-16 16:39] roberthbailey commented on #45509
Re-opening this issue as I don't feel the use case was fully explored or a reasonable workaround found.

[2018-03-16 16:41] roberthbailey commented on #45509
To be clear, I'm ok if we close this feature request consciously because we've chosen not to implement it. But I think it's a reasonable request and should at least be considered.

[2018-03-16 16:43] irfanjs commented on #61222
I created the role after referring : https://kubernetes.io/docs/admin/authorization/rbac/. I thought by putting apiGroups as [""] will refer to core API and wud be sufficient. I will change it to : **rbac.authorization.k8s.io**

[2018-03-16 16:46] krzyzacy commented on #60769
looks like http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-cluster-parallel is still failing on this, which should have the 1.9 fix in

[2018-03-16 16:57] janetkuo commented on #61189
I don't know the details of fluentd-scaler and what it does. If it keeps updating DaemonSet template, could it be that the scaler updated the DaemonSet for multiple times very quickly, and therefore Daemon pods don't get updated at the same rate? It's hard to tell without fully understanding how the DaemonSet is used here.

[2018-03-16 16:58] saad-ali commented on #60764
Thanks @pospispa!! Let us know when it is ready to review.

@jdumars:

The advisory must still go out! So we must still do the following for the 1.10 release:

1. Document steps for manually removing finalizers on downgrade.
2. Add a Known Issue on this with link to steps.

@rootfs is working on these steps.

The only open question is about:

* Add manual finalizer removal to the down grade tests

[2018-03-16 17:04] dgabrysch commented on #60169
Any help? :)

[2018-03-16 17:11] soltysh commented on #42649
This is due to the hard-coded value of how many missed start times the cronjob controller can handle. It's reasonable to have it configurable, I guess.

[2018-03-16 17:11] pospispa commented on #60764
@saad-ali @rootfs let me sum up options I can think of.

Option A

In K8s 1.10:
1. Document steps for manually removing finalizers on downgrade from PV and PVC objects.
2. Add a Known Issue on this with link to steps above indicating that PV and PVC objects may not delete if...
3. Add manual finalizer removal to the down grade tests to force them to proceed.

In K8s 1.9 before K8s 1.10 release:
1.

[2018-03-16 17:13] lumeche commented on #59975
Is there any advance in this ticket? I'm wondering if this made it to k8s 1.10 or if we need to wait for k8s 1.11?

[2018-03-16 17:16] soltysh commented on #53331
Pending pods are not failed ones and thus the controller won't be able to clean them.

[2018-03-16 17:17] jberkus commented on #61190
Should this issue actually be closed?  It was auto-closed by the bot, but nobody has confirmed that the actual issue is fixed.

[2018-03-16 17:18] Overv commented on #31424
👍

[2018-03-16 17:19] tpepper commented on #60589
Restating @dims comment more clearly, we may be chasing a signal ghost here in the bisection.  If  4c28901 is the problem, and it's reverted at 493f335 already for seemingly unrelated reasons, then does a scalability test against 1.10 branch head show green signal?

Can we prioritize re-testing once against 1.10 branch head, rather than continuing bisection?

[2018-03-16 17:20] tpepper commented on #60589
@wasylkowski / @wasylkowski-a  ^^^^

[2018-03-16 17:20] jdumars commented on #60589
@wojtek-t PTAL ASAP

[2018-03-16 17:22] liggitt commented on #60769
opened https://github.com/kubernetes/kubernetes/pull/61289 to correctly skip those tests

[2018-03-16 17:27] MaciekPytel commented on #59975
The PR is lgtm-ed and it will merge once the code freeze is lifted. Meaning it will go to 1.11. To get it into 1.10 you would need to get approval for milestone from @DirectXMan12 (sig-autoscaling lead).

[2018-03-16 17:33] krzyzacy opened #61290 "gke upgrade test start to hitting quota on us-central1-a?"
/sig gcp
/sig cluster-life-cycle
/kind flake
/milestone v1.10

cc @jdumars @jberkus

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.9-gci-master-upgrade-cluster-parallel
starting last night
/assign @Kashomon @krousey
can one of you verify?

[2018-03-16 17:34] krzyzacy commented on #61290
/kind bug
/priority important-soon

[2018-03-16 17:43] krzyzacy commented on #61290
/priority critical-urgent
/priority failing-test
/status approved-for-milestone

[2018-03-16 17:48] #55676 closed

[2018-03-16 17:48] saad-ali commented on #60764
I spoke with the release team and there feedback is that the test not being green blocks other tests from running, which means that it might mask other issues. Therefore getting the test green must remain a requirement for 1.10.

@pospispa summarized this well! Option A is a lot of work and is jeopardizing the release. Option B is the path of least resistance, it means we keeping this feature in a

[2018-03-16 17:49] krzyzacy commented on #61190
I'll let @shyamjvs to confirm (looks like he'll be back on Monday)

[2018-03-16 17:50] yujuhong opened #61292 "Disruptive daemon restart tests should verify that the node can function properly afterwards"
The current tests check that the previously running pods are fine. However, we have run into issues before that even though the existing pods/containers are still running, kubelet can no longer start new pods. The tests should try creating new pods to see if the kubelet can properly start them.

[2018-03-16 17:56] krzyzacy commented on #61290
/assign
us-central1-a is stocked out according to @Kashomon , gonna move those jobs to us-central1-c instead

[2018-03-16 17:58] saad-ali commented on #60764
Since it is a requirement to get a green signal from the downgrade test, in order to ship (even with just an advisory) we would need to at least fix the test as proposed step 3 of option A, but according to @rootfs doing so is non-trivial.

Considering we've lived without object protection until 1.9, delaying it one more release vs risking the release shipping causes me to lean towards option B.

[2018-03-16 18:01] yujuhong commented on #55501
@Random-Liu, I think you made some changes so that the fluentd configuration is parameterized. Is there anything left?

[2018-03-16 18:04] wasylkowski-a commented on #60589
Thanks @dims and @tpepper. Let my try against 1.10 branch head and see what happens.

[2018-03-16 18:15] aasmm7x commented on #33777
Nothing?

[2018-03-16 18:20] danderson commented on #60764
I would concur with delaying PVC protection. In my opinion, documenting that downgrades require manual intervention is a failure condition, and we should only be doing that when left with no other choice. This is especially true when the choice is between graduating an alpha feature, or breaking "just works" downgrades.

Downgrades are only executed by users who are already desperate, e.g. because

[2018-03-16 18:23] dims commented on #60589
thanks @wasylkowski worst case we go back to what we were bisecting before. right?

[2018-03-16 18:25] liggitt commented on #60764
discussed offline with @saad-ali, @dims, @jberkus, @childsb

we are going to pursue a targeted fix to the downgrade test itself to encode the documented approach of removing the 1.10-added finalizer from pv and pvc objects after downgrading to 1.9.

The PVC protection feature is important to prevent PV corruption by enforcing deletion order between Pods and PVCs. To be clear, downgrading works fin

[2018-03-16 18:28] spiffxp commented on #31345
/priority backlog
taking a guess at priority based on long it's been since this was touched

[2018-03-16 18:30] bsalamat commented on #57471
ref/ #59630 #59636 #59862 #61161 kubernetes/website#7678

[2018-03-16 18:34] MikeSpreitzer commented on #61125
https://github.com/google/pprof/issues/334 was closed in favor of https://github.com/golang/go/issues/23401 --- whose discussion makes it clear that support is not now great for changing the sampling fraction over time.  So adding a command-line flag to set the fraction seems like it may actually be the best approach.

[2018-03-16 18:37] tpepper commented on #61224
/sig cluster-lifecycle

[2018-03-16 18:39] jdumars commented on #61190
/status in-progress

[2018-03-16 18:45] alvaroaleman commented on #61239
I do understand that, but is backward-compatibility really a reason to keep a default that is as insecure as this one? Is there some kind of policy around default-keeping?

I mean at the end of the day we risk:

* Breaking exec, logs and metric scraping
* Breaking use cases where ppl run a standalone Kubelet (I would assume this to be rather unusual)

And we gain a secure by default Kubelet config

[2018-03-16 18:47] tpepper commented on #61263
/sig node
/sig scheduling

[2018-03-16 18:49] tpepper commented on #61277
/sig cluster-lifecycle

[2018-03-16 18:51] derekwaynecarr opened #61293 "kubelet cpu-cfs-quota flag does not work properly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The kubelet flag `--cpu-cfs-quota` does not work when pod cgroups are enabled.
The container cgroup is left unbounded but the pod cgroup is bounded.

**What you expected to happen**:
No cpu quota enforcement should happen at any level of the cgroup tree.

**How to reproduce it (as minimally and precisely as possible)**:
Se

[2018-03-16 18:51] derekwaynecarr commented on #61293
/sig node

[2018-03-16 18:51] jberkus commented on #61050
ACK. In Progress
ETA:  Later today, waiting on test results
Risks: Test may still fail.

[2018-03-16 18:56] spiffxp commented on #28720
/area platform/gke
in lieu of the team/gke label

[2018-03-16 18:57] irfanjs commented on #61222
please suggest ...

[2018-03-16 19:00] tpepper commented on #61279
@kubernetes/vmware

[2018-03-16 19:00] liggitt commented on #61222
you are trying to grant access to deployments in the extensions and apps API groups. that requires you to specify the extensions and apps api group in your role rules:

[code]

[2018-03-16 19:00] krousey commented on #60764
I disagree that this is preventing other tests from running. I only see evidence of a timeout on the downgrade step and leaked disks due to this issue. I do not see a timeout in the test suite that follows the downgrade. I see

[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/2040

All the downgrade tests actually p

[2018-03-16 19:02] jberkus commented on #59194
ACK.  In progress
ETA: 19/03/2018
Risks: additional test fails caused by merge of #61161

All code PRs for this feature issue have been merged, except  #59636, which will be deferred to 1.11 as it is not required for the feature.  At this point, the only thing open for this issue is the Docs patch, which is under review.

[2018-03-16 19:03] #53654 closed

[2018-03-16 19:03] #54087 closed

[2018-03-16 19:10] jberkus commented on #61050
/reopen

Let's not close this until the test passes.

[2018-03-16 19:13] MikeSpreitzer opened #61296 "Proxied Watches are Not Load-Balanced Among Aggregated API-Servers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I modified the sample api-server (https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/sample-apiserver) to run multiple aggregated api-servers, all behind the same Service.  See https://github.com/MikeSpreitzer/kubernetes/tree/sample-apiserver-hax-60065-metrics-dual/staging/src/k8s.io/sample-apiserver/

[2018-03-16 19:15] MikeSpreitzer commented on #61296
@kubernetes/sig-api-machinery-bugs

[2018-03-16 19:16] krzyzacy commented on #60764
ah, @krousey you are right

[code]

looks like the cluster was successfully downgraded - (I was under the impression `cluster downgrade should maintain a functioning cluster` was a hard fail that will affect the cluster functionality)

[2018-03-16 19:23] danderson commented on #60764
All new features are important to some section of the userbase, otherwise we wouldn't be building them. I'm worried that this is being used repeatedly (not specific to this issue) to justify pushing toil onto the users of Kubernetes.

With that said, if that's the concerted decision of the people here, I'll bow out and go figure out what we can do to make this experience better on GKE.

[2018-03-16 19:24] brendandburns opened #61297 "Kubectl copy doesn't check for paths outside of it's destination directory."
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

/kind bug

**What happened**:
kubectl cp <pod-name>:/some/remote/dir /some/local/dir

If the container returns a malformed tarfile with paths like:

'/some/remote/dir/../../../../tmp/foo' kubectl writes this to `/tmp/foo` instead of `/some/local/dir/tmp/foo`

**What you expected to happen**:

I expect kubectl to clean up the path and write to `/so

[2018-03-16 19:54] krousey commented on #60764
@danderson I think the plan is to document this and bandaid the test for 1.10 so they can get test signal. I think they still plan to pursue a proper patch fix to 1.9 and 1.10 to clean up these finalizers when the feature is disabled.

@liggitt @saad-ali @dims @jberkus @childsb Is that correct?

[2018-03-16 19:58] saad-ali commented on #60764
That is correct. That said, we will likely end up disabling this feature on GKE until the automatic clean up of finalizers is available in 1.9.x and 1.10.x releases.

[2018-03-16 20:42] DaoWen commented on #60647
This appears to be a duplicate of #27114.

[2018-03-16 20:43] epcim commented on #46381
[**@superbrothers**](https://github.com/superbrothers) commented on [May 25, 2017, 7:27 AM GMT+2](https://github.com/kubernetes/kubernetes/issues/46381#issuecomment-303926031 "2017-05-25T05:27:10Z - Replied by Github Reply Comments"):

works, except the fact your yaml config starts with `---` :-1:

[2018-03-16 20:49] childsb commented on #61283
/status approved-for-milestone

[2018-03-16 20:52] childsb commented on #61283
/status approved-for-milestone

[2018-03-16 21:44] thockin commented on #57130
/lifecycle frozen
/remove-lifecycle stale

[2018-03-16 21:51] DanyC97 commented on #11883
@justinsb any progress on this by any chance ?

[2018-03-16 22:00] HighwayofLife commented on #46381
@epcim

[code]

Does not have a yaml config starting with `---`, however, it still works even when yaml starts with that separator.

[2018-03-16 22:06] nfirvine commented on #55807
@tengqm Sorry, and thanks for clarifying. Between OP and the rest of the comments, it was unclear what everybody was after. Seems to me like the title should be changed to `prestop hooks aren't called when Jobs complete successfully` or so, if that's what you're experiencing

[2018-03-16 22:06] #11046 closed

[2018-03-16 22:13] verult commented on #60764
I believe the core logic of the controller fix is very similar to the logic added to the downgrade test; the biggest difference is finalizers need to be checked periodically (or event-based) rather than just once. Is this correct? If this is the case, I would argue the amount of risk in adding the fix to 1.10 is fairly low. I agree with the current plan, but if time allows I think it's reasonable

[2018-03-16 22:33] marcinlesek commented on #61173
/kind bug

and a little kind update. :)

[2018-03-16 22:46] italojs commented on #44665
try run with ```sudo``` permission mode
 ```sudo kubectl....```

[2018-03-16 22:51] srikumarb commented on #55807
Sure i can change the title to `prestop hooks aren't called when Jobs complete successfully` and as @tengqm mentioned, I have created the issue as prestop hook is not called for successful job completion.

[2018-03-16 23:09] rramkumar1 opened #61305 "Current image in glbc.manifest points to alpha version"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Using this issue to track launch of ingress-gce 1.0.0

The following fixes are planned for the 1.0.0 release:

    1. Large refactor to fix scalability of controller.
    2. Implementation of rate limiting for GCE calls.

Current [image](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/manifests/glbc.manife

[2018-03-16 23:10] rramkumar1 commented on #61305
/sig network

[2018-03-16 23:13] rramkumar1 commented on #61305
/remove -kind

[2018-03-16 23:16] krzyzacy commented on #61050
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/19586

latest run is green :-) I'll close the issue

[2018-03-16 23:43] MHBauer commented on #28695
1 & 4 work as specified now.

2 still has the `Hit enter for command prompt` message and some weird spaces, but the only thing on stdout is the appropriate output. I'd be inclined to get rid of the message about the prompt.

3 is the only weird behavior where it's just different than docker.

[2018-03-16 23:56] #60037 closed

[2018-03-16 23:59] liggitt commented on #61283
reopening to track fixed in to 1.7, 1.8, 1.9 branches

[2018-03-16 23:59] liggitt commented on #61283
/milestone clear

[2018-03-17 00:02] ixdy commented on #61029
Cherry pick PRs are in. Next patch release of each branch should be fixed.
/close

[2018-03-17 00:02] #61029 closed

[2018-03-17 00:08] #54097 closed

[2018-03-17 00:26] s1113950 commented on #1513
@nehayward if you'd like to `ssh` to your container, here's how we do it:
https://gist.github.com/s1113950/79b29d6ae82184b15d538e3cfe6a5439

It's an `anti-pattern` to do it this way, but sometimes all you need is an environment where you can run your code against, and you'd like to have kubernetes manage that environment :)
SSH also allows for things like remote code syncing via Pycharm!

[2018-03-17 00:27] liggitt commented on #61278
/sig auth
/sig azure

can you provide your apiserver startup flags? are you running with `--insecure-port=0` to disable it?

[2018-03-17 01:03] enisoc commented on #61189
I dug in on one example of DS deleting and recreating a Pod. This seems to confirm that from the perspective of DS, the template was updated and it is doing a rolling update.

Here is the important part of the diff of the Pod on a given Node when it gets deleted, and the replacement Pod that got created on the same Node later.

[code]

I noticed that between deletion and creation of the replacemen

[2018-03-17 01:07] KIVagant commented on #53331
Same problem for me: I've got ~8000 pods in state "Error" when failedJobsHistoryLimit was set to 5.

[2018-03-17 01:16] shyamjvs commented on #61190
Yes, we should keep this issue open until we fully understand what's going wrong and fix the root-cause.
I believe much of the discussion wrt this is happening under related issue https://github.com/kubernetes/kubernetes/issues/61189.

[2018-03-17 01:44] bgrant0607 commented on #28695
/remove-lifecycle stale

[2018-03-17 01:48] andyxning commented on #60647
Close this via [above comment](https://github.com/kubernetes/kubernetes/issues/60647#issuecomment-373839150).

[2018-03-17 01:48] #60647 closed

[2018-03-17 03:04] bgrant0607 commented on #33664
Triggering actions based on images being pushed is the domain of CI/CD systems, of which there are literally dozens to choose from. One example:

https://github.com/weaveworks/flux/blob/master/site/how-it-works.md#monitoring-for-new-images

Such systems provide many more features for managing such deployments. Many image registries also offer hooks that can be used to trigger deployments.

There a

[2018-03-17 03:19] hzxuzhonghu commented on #61278
Or you may set authz AlwaysAllow?

[2018-03-17 03:28] hzxuzhonghu commented on #61280
How many audit webhook servers in this case? And what's the qps they can handle?

Much like the bottleneck is in webhook server end.

[2018-03-17 04:11] hzxuzhonghu commented on #61296
Actually you access wardle servers via clusterip, so this can exclude aggregator bug.  What network are you using iptables or ipvs, does is set any affinity or something?

[2018-03-17 04:13] #53170 closed

[2018-03-17 05:15] lachie83 commented on #61100
Related #60528

[2018-03-17 05:17] lachie83 commented on #61100
I'm also seeing the same issue on all releases of 1.9.x and possible 1.10.x

Seeing the following logs in CM. Looks like service_controller is passing all services over to the cloud provider LB create code. All services listed are either ClusterIP or NodePort
[code]

[2018-03-17 05:18] lachie83 commented on #60528
I believe this is an upstream issue

[2018-03-17 05:39] krzyzacy commented on #61050
🤕 @k82cn https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features it start to fail again (on before suite this time) after one green run, any insight there?

[2018-03-17 05:42] k82cn commented on #61050
@krzyzacy , I think it should be handled by #61311 .

[2018-03-17 05:47] k82cn opened #61312 "Add network unavailable toleration to the Pod using host network"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

If `TaintNodesByCondtion` enabled, it's better to add `NetworkUnavailable` toleration to the pod using host network.

/sig node

[2018-03-17 05:56] krzyzacy commented on #61050
@k82cn ack, thanks!

[2018-03-17 06:07] hzxuzhonghu commented on #61296
Maybe related to    service ` sessionAffinity: ClientIP`

[2018-03-17 06:19] zhangduanya commented on #55649
does we have a real solution? now the problem still exist!! help help,,,

[2018-03-17 06:25] MikeSpreitzer commented on #61296
Yes, I realize that the wardle api Service's address is also called a cluster IP.  The bug here is that the load is not being balanced.  The main api-server _could_ connect to the cluster IP addresses in the Endpoints of the wardle api Service.  I am not saying that is _necessary_; in the situation I reported, the kube-proxy is doing an adequate job of distributing the connections that are opened