[2017-07-17 16:21] timothysc commented on #41428
Thx for reporting, but as called out this is not actually a bug, closing.

[2017-07-17 16:21] #41428 closed

[2017-07-17 16:40] kelseyhightower commented on #48893
@caesarxuchao I'm seeing this with deployments.

[2017-07-17 16:44] ahmetb opened #49030 "Initializer.FailurePolicy default value not documented"
[`Initializer.FailurePolicy` field does not document](https://kubernetes.io/docs/api-reference/v1.7/#initializer-v1alpha1-admissionregistration):
- the 1.7 limitation (only "Ignore" can be used): not sure if fixing this is any worthy as it'll show up in the next minor release, which would probably put the feature to beta
- default value of the field: should be specified. it appears like it's "Igno

[2017-07-17 16:45] ahmetb commented on #49030
/kind documentation

[2017-07-17 16:46] karthik101 commented on #33618
Well i had the same issue in 1.7.1
Fixed it with:
kubeadm reset
kubeadm init --apiserver-advertise-address=10.10.10.4

Thank you luxas.

[2017-07-17 16:47] ericchiang opened #49031 "Remove --insecure-allow-any-token authenticator"
/kind feature

Impersonation is sufficiently capable that this method seems redundant, even when debugging.

@deads2k I remember you were the one who originally requested this. Any objections to removing?

/cc @kubernetes/sig-auth-feature-requests

[2017-07-17 16:49] bgrant0607 commented on #49023
cc @caesarxuchao

[2017-07-17 17:02] deads2k commented on #49031
Yeah, I made it.  I'm ok removing it.

[2017-07-17 17:05] ahmetb opened #49032 "kubectl get: does not show uninitialized resources"
With the addition of dynamic admission controllers and [Initializers](https://kubernetes.io/docs/admin/extensible-admission-controllers/#what-are-initializers), it's very likely that users will create deployments but their `kubectl get pods` output will not show any pods being created because it's stuck at some initializer.

kubectl should provide a way to query resources that are pending initiali

[2017-07-17 17:15] ahmetb commented on #48893
Also seeing this with Deplyment/RS. The controller keeps creating pods because it doesn't see the uninitialized one, I ended up with 20 pods for a 1-replica Deployment.

Also deleting the Deployment does not delete the Pods, they are just leaked, probably for the same reason.

[2017-07-17 17:16] #36997 closed

[2017-07-17 17:16] #39130 closed

[2017-07-17 17:18] chakri-nelluri commented on #45887
@shrinandj Yes. Exit out with exit status 1 and ```{"status": "Not supported"}``` on stderr/stdout.

[2017-07-17 17:26] whitecolor commented on #44273
In my case, different errors including this one came with node failure and were caused by lack of resources on the cluster for existing workloads.

[2017-07-17 17:26] harsh-px opened #49034 "A pod using a Portworx volume driver PVC gets stuck in ContainerCreating phase"
/kind bug

**What happened**:
A pod using a Portworx volume driver PVC gets stuck in ContainerCreating phase. The kubelet logs indicate that the Mount phase is failing.

**What you expected to happen**:
The pod goes to running and ready state.

**How to reproduce it (as minimally and precisely as possible)**:
- Create a pod spec and restrict the POD to run on a specific minion. Let's call this min

[2017-07-17 17:27] thockin commented on #23583
I think it still happens.  As before, I could accept this as "correct" if
we understood why it changed.

On Fri, Jul 14, 2017 at 10:50 AM, cmluciano <notifications@github.com>
wrote:

[2017-07-17 17:28] harsh-px commented on #49034
/sig storage

[2017-07-17 17:29] harsh-px commented on #49034
My PR: #48898 is to fix issue.

[2017-07-17 17:31] krzyzacy commented on #49005
scalability 1.6 and 1.7 are sharing the same project and in Jenkins they are blocking each other, so manual trigger might cause conflict.

But from the log the only thing is `Cluster failed to initialize within 300 seconds.`, is there anything more descriptive we can find?

[2017-07-17 17:31] caesarxuchao commented on #48893
Garbage collector controller doesn't list/watch uninitialized objects. If the owner is deleted before the dependents are initialized, the dependents will be deleted by the gc after they are initialized, no matter what PropagationPolicy the owner is deleted with.

This not a big problem for "Orphan", users don't see uninitialized dependents, so they wouldn't expect them orphaned.

If the policy is

[2017-07-17 17:35] ahmetb opened #49035 "kubectl delete --all: does not include uninitialized resources"
tl;dr Similar to #49032, `kubectl delete --all` command does not delete the uninitialized resources. It appears like it does not query the resource list with  `?includeUninitialized=true` in the first place.

Combined with #49032, these two issues prevents users from seeing or deleting uninitialized resources.

### Update: Proposed solution in comments

See https://github.com/kubernetes/kubernetes

[2017-07-17 17:42] jingxu97 commented on #48968
@yuvipanda Thank you for reporting the issue. Is that possible you could share us some controller's logs during the issue happened? Thanks!

[2017-07-17 17:42] shrinandj commented on #45887
Thanks @chakri-nelluri .. Are you sure about exit 1? I tried the `{"status": "Not supported"}` and exit status 0 and it worked fine.

https://gist.github.com/shrinandj/d78801a0d88dd5a47384ef64ed19a92c

[2017-07-17 17:42] caesarxuchao commented on #49035
We can introduce a global flag --include-uninitialized (default to "false") to kubectl. It's useful for debugging purpose as well, users should be able to use `kubectl get --include-uninitialized` to list unitialized objects.

Any kubectl commands that involve GET will need this flag, e.g., `kubectl edit`.

[2017-07-17 17:47] krousey commented on #48876
This was likely broken because of https://github.com/kubernetes/kubernetes/pull/48845. The upgrade framework overloads the test name for namespace creation. I'm working on a PR to sanitize the name before creating a namespace.

[2017-07-17 17:48] kow3ns commented on #48841
1. I would think we have to address [DaemonSet's lack of sensitivity to node resources] (#https://github.com/kubernetes/kubernetes/issues/46935) prior to considering this.
1. This updateStrategy would probably only work for self hosting if we choose to [not go through the default scheduler](https://github.com/kubernetes/kubernetes/issues/42002) for Pod creation. Are we committed to not doing this

[2017-07-17 17:52] shyamjvs commented on #49005
Yup. I manually triggered while the other test wasn't running. And iiuc if we trigger a job manually it should still block (or be blocked by) any blocked (or blocking) test. Is that true?

The previous failures (91, 92, 93, 95) seem to be due to docker not restarting, but I'm not super sure if that's the reason. Also run 98 (which was timer-triggered) succeeded and the current one (100) is going s

[2017-07-17 17:58] krzyzacy commented on #49005
cc @ixdy for Jenkins ¯\_(ツ)_/¯

[2017-07-17 17:58] gnufied commented on #48968
@yuvipanda can you elaborate on "pod gets killed" ? Previously for terminated pods but not deleted from api server, we never used to perform volume detach but this changed in https://github.com/kubernetes/kubernetes/issues/45191 .

[2017-07-17 18:03] chakri-nelluri commented on #45887
@shrinandj Both exit status will work fine

[2017-07-17 18:03] rootfs commented on #29166
@Sispheor can you post your controller manager log?

[2017-07-17 18:03] ahmetb commented on #49035
My main feeling is that all commands except `kubectl get`, `kubectl delete` should have an **implicit** `--include-initialized=true`.

It doesn't make sense to me that `kubectl scale`,  `kubectl edit` or `kubectl annotate` would fail to find the resource because it is not initialized yet. The resource is there, it can be edited/annotated etc. It just has not been fully initialized.

Initializers a

[2017-07-17 18:04] caesarxuchao opened #49038 "Umbrella: dynamic admission control to beta"
A list of issues we need to address before declaring initializer and webhook admission controller as beta.

webhook admission controller:
- [x] move the admission API to k8s.io/api so that people can import the API to write webhook. (https://github.com/kubernetes/kubernetes/pull/48232)
- [x] GenericWebhook admission plugin is sending internal objects to webhooks (https://github.com/kubernetes/kube

[2017-07-17 18:07] caesarxuchao commented on #48893
In the case reported by@ahmetb, no intializer controller was present, so the pods were never initialized. @ahmetb reported one pod was created every 30 second. I'll check if it's a problem with the "expectation" framework.

[2017-07-17 18:10] yujuhong opened #49039 "Logs on the node are not uploaded in the pre-submit e2e tests"
Didn't check the post-submit tests, but all pre-submit tests have the same issue.
[code]
Most likely caused by the changes in #48651
@shyamjvs could you take a look?

/assign @shyamjvs

[2017-07-17 18:13] yujuhong commented on #49039
/cc test-infra oncall @spxtr

[2017-07-17 18:15] shyamjvs commented on #49039
Will look into it.

[2017-07-17 18:16] yuvipanda commented on #48968
@jingxu97 we were running GKE, and I couldn't find a way to get logs of controllers unfortunately.

@gnufied we spawn one pod per user, and then the user can execute arbitrary code inside the pod (via a Jupyter Notebook). We have a script that would watch for users that are inactive, and perform a delete (via the k8s API) of their pods. We found that for a long (and intermittent?) time after that,

[2017-07-17 18:22] liggitt commented on #48208
yes, it is intentional. the docs were updated to clarify the permissions for individual controllers are in individual roles, and that those roles must be granted to the controller manager if not running with --use-service-account-credentials.

we can't do that for compatibility reasons (someone running their controller manager from a single credential they had granted sufficient permissions to in

[2017-07-17 18:23] henriquetruta opened #49041 "kubefed join breaks with aws cluster"
Joining a cluster from AWS fails in kubefed 1.7. The AWS cluster is also k8s 1.7
The federation is running in a GKE cluster 1.7.0.

[code]

This same command works in kubefed 1.6.6
I'm able to access the AWS cluster using its context.

/kind bug

**How to reproduce it (as minimally and precisely as possible)**:
1 - Create a GKE cluster
2 - Create an AWS cluster (I used conjure-up)
3 - kubefed (1.7

[2017-07-17 18:23] liggitt commented on #48208
closing as documentation was updated in https://github.com/kubernetes/kubernetes.github.io/pull/3951/files

[2017-07-17 18:23] #48208 closed

[2017-07-17 18:34] henriquetruta commented on #49041
/sig federation

[2017-07-17 18:41] dgoodwin opened #49042 "Several API type strategies have Export func that may be unused"
/kind bug

**What happened**:

Secrets have some export logic in their strategy, but does not appear to take effect on the command line when doing a kubectl get --export.

**What you expected to happen**:

Some kind of error given the condition in the secret strategy mentioned below. However it appears the secret strategy Export function may not be wired up. (as well as several other types)

**How

[2017-07-17 18:41] dgoodwin commented on #49042
CC @deads2k @csrwng

[2017-07-17 18:48] andrewsykim commented on #48690
I know we're waiting on CSI to become a thing, but how feasible is it to support volume controller in CCM only to create the volumes and attach them via the cloud provider? If you use flex volumes, it's possible to do the agent level logic via extensions as long as the volumes are created/attached already.

cc @luxas @wlan0

[2017-07-17 18:48] bowei commented on #48992
yes -- splitting into consumable independent piece is the best (fastest) way to get code reviewed.

[2017-07-17 18:49] dgoodwin commented on #49042
/sig api-machinery

[2017-07-17 18:50] caesarxuchao commented on #48893
The `ExpectationsTimeout` is `5 * time.Minute`, so it doesn't explain why new pod is created every 30s. I need to dig deeper.

[2017-07-17 18:56] deads2k commented on #49042
This bug demonstrates that the export feature isn't heavily used yet and may give us a chance to consider what we really need the export API to look like.  The original idea was sound, "give me a representation of this object that I can re-use", but the full intent is less clearly defined.  Re-use how?

Object linkage is a complicated thing and questions like "same cluster' or "different cluster"

[2017-07-17 18:57] derekwaynecarr commented on #41916
@obeattie - thank you for your analysis here:
https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-312428731

there is a similar issue I opened which is independent of any cloud provider:
https://github.com/kubernetes/kubernetes/issues/48638

@gmarek and I discussed having separate timeouts for watch vs non-watch operations.

i don't see a specific knob to set the tcp retry timeouts

[2017-07-17 18:57] jackjacek commented on #48282
I'm also getting that after upgrade. Any workarounds? I can't start any pods anymore, even though kubectl works fine.

[2017-07-17 18:58] derekwaynecarr commented on #41916
this is not AWS specific issue, i am closing this issue and will track it in #48638

[2017-07-17 18:58] #41916 closed

[2017-07-17 19:01] derekwaynecarr commented on #48638
@obeattie had a recommendation worth evaluating here:
https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-315848607

it would require us to tune net.ipv4.tcp_retries2
see: https://www.kernel.org/doc/Documentation/networking/ip-sysctl.txt

in practice, it would make sense for this value to potentially be monitored by the kubelet to ensure node status update interval falls within desi

[2017-07-17 19:13] caesarxuchao commented on #48893
It's because the creations timeout and were considered failed, so the expectation was dropped, https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go#L470-L475

[code]

[2017-07-17 19:20] #48305 closed

[2017-07-17 19:39] cmluciano commented on #48798
Is it ok to close this issue @PLoic ?

[2017-07-17 19:47] PLoic commented on #48798
@cmluciano Yes I think it's ok to close this issue

[2017-07-17 19:47] #48798 closed

[2017-07-17 19:56] deads2k commented on #48716
@sttts how serendipitous, the title looks a lot like our rebase failure.

[2017-07-17 20:06] MikeSpreitzer opened #49044 "kubectl annotate patches too much"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I used `kubectl --v=10 annotate` to learn about patching object metadata, and was surprised to find more than the metadata in the PATCH request body.  Here is an example:
[code]

**What you expected to happen**:
I expected to see my new annotation, but not the pod's status, in the request body.

**How to reproduce it (as

[2017-07-17 20:07] MikeSpreitzer commented on #49044
@sig-cli-bugs

[2017-07-17 20:08] MikeSpreitzer commented on #49044
@kubernetes/sig-cli-bugs

[2017-07-17 20:10] timothysc commented on #48945
punting to @mattmoyer on this side.

[2017-07-17 20:17] luxas commented on #48945
@liggitt What do you think about this from a correctness or cleanliness standpoint then?
Shouldn't we be explicit with that "this is a bootstrap token" instead of implicitely relying on the format?

[2017-07-17 20:23] #49028 closed

[2017-07-17 20:23] #49034 closed

[2017-07-17 20:23] #48887 closed

[2017-07-17 20:46] kelseyhightower opened #49048 "Initializer configs can block initializers from being deployed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Deployed an initializer with an initializer configuration in place.

**What you expected to happen**:

The initializer would deploy even if an initializer configuration was in place.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create an initializer configuration that forces all deployments

[2017-07-17 20:47] kelseyhightower commented on #49048
/cc @smarterclayton

[2017-07-17 20:48] kelseyhightower commented on #49048
While we could ask people to create the initializer deployments before initializer-configurations, if they get it wrong then objects, including the initializer will be stuck in the API.

[2017-07-17 20:55] sudharkrish commented on #48643
Just wondering, if anyone is looking at this issue.

[2017-07-17 20:55] obeattie commented on #48638
@derekwaynecarr Have you seen #48670?

[2017-07-17 20:58] ncdc commented on #49048
/sig api-machinery

[2017-07-17 20:59] ncdc commented on #49048
/assign @smarterclayton

[2017-07-17 21:10] lavalamp commented on #48926
@caesarxuchao is willing to review a PR that adds multiple different timeouts.

[2017-07-17 21:13] lavalamp commented on #48959
@enj how is this impacting you?

[2017-07-17 21:13] derekwaynecarr commented on #48638
@obeattie will take a look, looks promising.

[2017-07-17 21:14] lavalamp commented on #48962
SIG API Machinery doesn't own the *contents* of the API.

[2017-07-17 21:18] caesarxuchao commented on #49023
We have https://github.com/kubernetes/community/pull/788

[2017-07-17 21:18] enj commented on #48959
@lavalamp see openshift/origin/issues/15213

[2017-07-17 21:22] lavalamp commented on #49042
cc @mml

[2017-07-17 21:26] caesarxuchao commented on #49048
When creating the deployment of the initializer controller, the admin should explicitly set the initializer field of the deployment to an empty list, so that it bypass the intializers.

We should document this.

[2017-07-17 21:29] kelseyhightower commented on #49048
@caesarxuchao  Thanks! I'll add that to my tutorial.

[2017-07-17 21:29] lavalamp commented on #48453
Not all fields are usable by fieldselector, it is a hand-written list. We want to be careful about adding fields to this list that we have to support in the future (eventually we'll probably have some sort of index). I would ask SIG Architecture for guidance on when fields should be added to the selector list.

BTW, SIG API Machinery doesn't own the *contents* of the API.

[2017-07-17 21:35] smarterclayton commented on #49048
A couple of ideas that have been kicked around:

* have exclusions in the initializer config for namespace (or an annotation
on a namespace that can bypass certain initializers)
* namespaces have to opt in to certain initializer configs
* apps have to opt in to certain initializer configs
* fail open

I hate fail open because it ends up being non-deterministic :)

On Mon, Jul 17, 2017 at 4:59 PM,

[2017-07-17 21:41] lavalamp opened #49050 "Document that GenericAdmissionWebhook uses/requires proxycert & requestheader flags"
https://groups.google.com/d/msg/kubernetes-users/fGwT1uw8tO4/0qoVPLPaAgAJ

[2017-07-17 21:45] kelseyhightower commented on #49048
It really depends on the target usage. If an initializer is being used to enforce a company policy then we need to make it "impossible" to opt out. If an initializer is being used for an optional configuration like injecting an envoy side car container, then we need to make it opt-in.

I think this needs to be defined in the  initializer config for consistency.

[2017-07-17 21:46] smarterclayton commented on #49048
Yeah, today you have to be an initializer yourself to bypass initialization
(you have to have the same permissions you would to initialize that
resource).

On Mon, Jul 17, 2017 at 5:45 PM, Kelsey Hightower <notifications@github.com>
wrote:

[2017-07-17 21:48] jmillikin-stripe opened #49052 "Dashboard shows jobs succeeded, when they actually failed due to missing mount"
/kind bug

**What happened**:
I created a CronJob with a set of `hostPath` volume mounts. One of them pointed at a path that didn't exist. All jobs created from this CronJob failed, but the dashboard shows them with "succeeded" and a green checkmark.

**What you expected to happen**:
The dashboard should report that the jobs failed.

**How to reproduce it (as minimally and precisely as possible)**

[2017-07-17 21:48] caesarxuchao commented on #49011
cc @rmmh

[2017-07-17 21:54] jingxu97 opened #49053 "Problem in updating VolumeAttached in node status"
If a user delete a pod and quickly recreate the pod which is scheduled to the same node as before, there might be a problem during updating VolumeAttached list in node status

1. after delete a pod action, In reconciler.go https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L204, reconciler might remove the volume from VolumeAttached lis

[2017-07-17 21:58] mengqiy commented on #49044
Can you provide the step to reproduce?

[2017-07-17 22:16] yuvipanda commented on #48968
@jingxu97 reached out to me, and I provided a repro case (https://gist.github.com/yuvipanda/0b6aa32192c35b960e91698e1c14690c)

[2017-07-17 22:18] spiffxp commented on #29314
@david-mcmahon is `cmd/mungedocs` even used anymore?  I looked through community, contrib, kubernetes, kubernetes.github.io, release, and test-infra and couldn't find an actual call.

ref: #38309

[2017-07-17 22:23] ixdy commented on #49005
I don't see anything that suggests this is related to Jenkins or test-infra in particular.

[2017-07-17 22:27] quinton-hoole commented on #45914
Closing this old defunct auto-reported error.  It will be recreated if it is still a problem.

[2017-07-17 22:27] #45914 closed

[2017-07-17 22:31] shyamjvs commented on #49005
The job seems stable now https://k8s-testgrid.appspot.com/google-gce-scale#gce-1.7 and it might be some transient gce-side issues (though I'm not very sure about it).
Will wait for a few more runs and close the issue if it goes fine.

[2017-07-17 22:33] spiffxp commented on #29314
I take that back, pinged on #sig-release in slack, apparently it's still used via travis for kubernetes.github.io

https://github.com/kubernetes/kubernetes.github.io/blob/2f82ff8a96bcf009fed4507100a1ade55de7fdc5/.travis.yml#L29

[2017-07-17 22:36] mml opened #49059 "GCE e2e tests have not passed since June."
Despite the name `etcd3`, this is not a special environment.  etcd3 has been the default for awhile.

https://k8s-testgrid.appspot.com/release-master-blocking#gce-etcd3

Example failure:  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/12735

This seems to be an infrastructure problem related to bringing the cluster up.

Assigning to test-infra oncall f

[2017-07-17 22:37] mml commented on #49059
/sig testing

[2017-07-17 22:45] whitlockjc commented on #49038
For the webhook, there is also an issue where the object sent over the wire is the internal representation of the object instead of the public representation.  This has an impact on serialization.  I'm not sure if this was reported yet but it came up during external testing.

[2017-07-17 23:09] erictune opened #49063 "Not hasRef when Liveness probe failed"
A user on StackOverflow [reports](https://stackoverflow.com/questions/44760796/why-dont-i-see-events-relating-to-failed-kubernetes-probes?noredirect=1#comment76623813_44760796) that events for a pod with a failing liveness and/or readiness probes do not generate an event.  He has looked at the kubelet logs and sees that there is a warning log about not having a reference for the pod ([This line](h

[2017-07-17 23:20] jingxu97 commented on #48968
@wawastein thanks for reporting the error. You mentioned job producing high number of faulty pods. Does each pod uses a different PVC so it creates a new volume? Thanks!

[2017-07-17 23:41] erikh opened #49065 "kubeadm cannot work with machines that cannot resolve their own host"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

**What you expected to happen**:

Just some plain ol' joining and initializing.

**How to reproduce it (as minimally and precisely as possible)**:

should just be able to `kubeadm init/join` with some machines that do not have resolvable hostnames. I don't even know if CentOS is a requirement.

**Anything else we

[2017-07-17 23:43] erikh commented on #49065
maybe I'm reading the code wrong, and it needs to consider net.Interfaces() instead, or there should be a flag for it. Either way this feels pretty broken atm, and worked fine about 2 weeks ago.

[2017-07-17 23:57] mml commented on #49059
cc @wojtek-t @pwittrock

[2017-07-18 00:16] nicky-lenaers commented on #44273
@whitecolor This is inline with my initial encounters:

Is more resources the only option here?

[2017-07-18 00:30] spxtr commented on #49059
I don't have admin for that project. It looks like the pr-kubekins service account has Pub/Sub admin, which is not enough.

[2017-07-18 00:56] liggitt commented on #49024
cc @pweil-

[2017-07-18 01:48] duan-yue commented on #48792
It seems that we can not get CIDR through API in this issue #25533 . sad.

[2017-07-18 02:00] resouer commented on #48380
Close this one since it is expected

[2017-07-18 02:00] #48380 closed

[2017-07-18 02:03] resouer commented on #48186
So users are able to know status of its cluster at one time, instead of trying once again.

[2017-07-18 02:11] resouer commented on #47722
@mitar For now one way to achieve this is writing your own predicate/priority algorithms and register them into scheduler (a.k.a. customize scheduler). It sounds like no general method to determine what FS you are referring. see: https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/

[2017-07-18 02:30] pwittrock opened #49074 "Generate openapi does not work for []*Foo"

[2017-07-18 02:37] #48795 closed

[2017-07-18 02:53] huggsboson commented on #29972
I'm surprised this issue hasn't gotten any attention.  This consistently causes confusion and pain for our users which are using kubectl.   It affects both ReplicaSet and PetSet pods. There doesn't seem to be a realistic work around.  Has anyone testing 1.7 to see if the situation has improved?

@ghodss should we see if one of our folk has time to work on it?

[2017-07-18 02:55] shiywang opened #49075 "SetAnnotations() could not distinguish nil and {}"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig api-machinery

**What happened**:
when I was working on pr https://github.com/kubernetes/kubernetes/pull/46560, I suspect it may be a bug with SetAnnotations(), since it cannot distinguish SetAnnotations(targetObj, nil) with SetAnnotations(targetObj, {}).

**What you expected to happen**:
SetAnnotations(targetObj, {})                  s

[2017-07-18 02:55] shiywang commented on #49075
cc @mengqiy @liggitt

[2017-07-18 02:57] liggitt commented on #49075
cc @ironcladlou

[2017-07-18 03:13] zengbiao opened #49077 "add flannel -public-ip to support custom openstack(using floating ip)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
   minion flannel will write vm's ip to subnet key of etcd. if we need deploy k8s cluster in two different openstack tenant. only floating ip is visibility. but flannel map cluster ip to vm's private ip. this will cause some network problems.

**What you expected to happen**:
just add -public-ip="floating ip" to flannel

**How to re

[2017-07-18 03:18] aveshagarwal commented on #44944
You can not use an existing NoSchedule taint on a node, because that means there are pods that tolerate it and can be scheduled. And that means it wouldn't work as Unschedulable.

I think we should have a standard NoSchedule taint for such drain cases and make sure during validation that no pod is allowed to have any toleration tolerating this standard NoSchedule to ensure it works as Unschedulabl

[2017-07-18 03:21] #47370 closed

[2017-07-18 03:23] munkyboy commented on #7294
FWIW, the default behavior is to disable swap [since 1.6.0](https://github.com/kubernetes/kubernetes/commit/f4edaf2b8c32463d6485e2c12b7fd776aef948bc)

[2017-07-18 03:30] #48876 closed

[2017-07-18 04:25] #49039 closed

[2017-07-18 04:46] ravisantoshgudimetla commented on #44944
Thanks for the input @aveshagarwal but should we care about that scenario? The user explicitly wants his/her pod to be placed on node that has NoSchedule taint. AFAIU even now DaemonSet controller don't respect the unSchedulable field and  as a result could schedule pods onto nodes that are being drained.

Isn't that against the concept of taints and tolerations? We are creating a taint which will

[2017-07-18 04:58] smarterclayton commented on #48483
One problem with being on another port is security.  We could potentially reintroduce this at a new, cadvisor specific host endpoint such as `:10255/metrics/cadvisor` and also correct some of the issues related to consistency mentioned in #45053.  Agree with the cost profile of the metrics - it's likely you'd want to scrape kubelet and this endpoint at different endpoints.

I have a quick patch th

[2017-07-18 04:58] smarterclayton commented on #48483
@DirectXMan12 i'm inclined to do the separation but on the main port - opinions?

[2017-07-18 04:59] reach123 opened #49078 "Plz"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-07-18 05:21] #48345 closed

[2017-07-18 05:29] zhangqx2010 commented on #38923
@cofyc While using this external-provisioner, I got error in the provisioner container:
[code]
The issue may caused by RABC.
So I think the deployment should be modified like:
[code]

[2017-07-18 05:42] cofyc commented on #38923
@zhangqx2010

Yes,  if `default` ServiceAccount cannot have enough permissions to access apiserver, you can add your own ServiceAccount for `rbd-provisioner`, which is recommended way, especially in production.

Also, `namespace` in guide example can also be changed, if you don't want to deploy it in `kube-system` namespace.

[2017-07-18 05:44] MikeSpreitzer commented on #49044
Just make a pod, then
[code]

[2017-07-18 05:48] vikaschoudhary16 commented on #49078
what is this? :)

[2017-07-18 05:49] resouer opened #49080 "No yaml example in DaemonSet doc"
It seems we have no yaml example in the whole DS doc here: https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/,

This is not good, if I were user, I would expect that every `k8s.io/concepts/workloads` has at least one example yaml.

And this issue also apply to many other concepts doc besides DS.

[2017-07-18 06:11] sakeven opened #49082 "Some code break the compatibility with golang 1.6"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Some code like [os.Executable](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/plugins/env.go#L78) and [sort.SliceStable](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go#L520) was added in [golang 1.8](https://golang.org/doc/go1.8).

Bu

[2017-07-18 06:25] xiangpengzhao opened #49084 "Allow "hack/verify-golint.sh" to respect "WHAT" flag"
`hack/verify-golint.sh` can cost minutes to complete the lint. But in some cases we don't want to golint the whole project, e.g. I only want to verify if the files I modified can pass golint. Running the whole golint would be boring in this case, especially when I fix lint errors and run `hack/verify-golint.sh` again to verify if the fix is okay.

I would like to have a `WHAT` flag for `hack/verif

[2017-07-18 06:26] xiangpengzhao commented on #49084
/sig contributor-experience

[2017-07-18 06:35] tnozicka commented on #47180
@timoreimann I didn't. Felt like it was meant for future issues... No point in loosing history.

[2017-07-18 06:36] xiangpengzhao commented on #49084
Felt painful when fixing `hack/verify-golint.sh` in https://github.com/kubernetes/kubernetes/pull/48256

[2017-07-18 06:50] pkirner commented on #29540
Having the same issue with kubernetes 1.7 and kube-dashboard 1.6.1 on raspberry pi 3 with hypriot os.
Please, can someone post the solution here?  Thanks!

[2017-07-18 06:55] spxtr commented on #49084
You can just run `golint ./path/to/your/pkg`, no need to use the script for that.

[2017-07-18 06:57] iordaniordanov commented on #29540
@pkirner My issue was something with the network of my cluster. My admins deployed a new cluster and everything was working fine. Sorry but I cant help ya. This issue really shouldn't have been closed. I don't know why @dchen1107 did.

[2017-07-18 07:00] zhangqx2010 commented on #38923
@cofyc
Why the key is not recognized by system?
kubectl logs rbd-provisioner-4059846714-blk2s -n kube-system
[code]

[2017-07-18 07:08] xiangpengzhao commented on #49084
Thanks @spxtr for quick response!

However, golint cannot do recursive pkg linting. (Can it? or I might miss something) What I really expected is that `hack/verify-golint.sh` can respect `WHAT` to support recursive pkg linting. e.g. I modify several files in `pkg/util/foo` and `pkg/util/bar` and `pkg/util/baz`, I want to run `hack/verify-golint.sh WHAT=./pkg/util` to verify those files. (Though th

[2017-07-18 07:26] dixudx commented on #49044
The root cause is that when [creating a patch for merge](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/annotate.go#L255), [nil value](https://github.com/evanphx/json-patch/blob/master/merge.go#L204-L245) will be considered as different value. That's why `status` (due to `"lastProbeTime":null`) is in the request body.

[2017-07-18 07:27] cofyc commented on #38923
hi, @zhangqx2010

[code]

Your provided base64-encoded string `QVFBUEhGOVoxTU0vQnhBQTZSaEdLblhmYXFqVFE3WjNqZ0xDc1E9PQo==` is invalid. It seems like it has an extra char `=` at the end of string.

[code]

Please remove it and retry.

What's your k8s version? `kubectl version`. In my local 1.6.4 environment, if base64-encoded string is invalid, `apiserver` does not accept it.

[code]

[2017-07-18 07:39] farcaller commented on #38923
You can use the `kube-system/persistent-volume-binder` serviceaccount with rbd provisioner, although it still lacks the events/get permission (seems to be not critical for rbd-provisioner, though).

[2017-07-18 07:47] Sispheor commented on #29166
Logs from the node
[code]

Logs in the controller
[code]

So, the disk is well created in the datastore, it seems that it is well attached into the node too.

[2017-07-18 07:54] gmarek commented on #48926
@kubernetes/sig-api-machinery-feature-requests - we also need someone to work on this.

[2017-07-18 07:56] k82cn commented on #42001
Sub-tasks according to the design doc, I'll create PR for them accordingly:

- [ ] In the node controller, taint Nodes according to the Node Condition
- [ ] In DaemonSet, update DaemonSetController to Tolerant new Taints
- [ ] In admissionController, set default toleration seconds with new Taints
- [ ] In scheduler, disable the current behaviour of filtering out Nodes. Instead, pods will not be sc

[2017-07-18 08:02] benbc commented on #49063
@erictune Thank you. I currently think that the problem I saw is covered by https://github.com/kubernetes/kubernetes/issues/48422. I have not yet had a chance to test with 1.6.7.

[2017-07-18 08:05] leandrocr commented on #23581
I would love to see this feature available for K8S, after doing some research I found that: https://github.com/datawire/loom/ which wraps terraform to apply some AWS changes.

[2017-07-18 08:05] tnozicka commented on #11505
I'll create a short demo for one of the sig-apps meetings to prove the value of auto-pausing as a building block with StatefulSets.

[2017-07-18 08:06] yastij commented on #48716
@deads2k - ref ?

[2017-07-18 08:09] davidopp commented on #47722
Thanks for your interest in Kubernetes. Please use StackOverflow or the kubernetes-users mailing lists for these kinds of questions. (You will get many more people reading them there than filing an issue.)

https://stackoverflow.com/questions/tagged/kubernetes
https://groups.google.com/forum/#!forum/kubernetes-users

[2017-07-18 08:09] #47722 closed

[2017-07-18 08:14] zhangqx2010 commented on #38923
[code]
It's typo for my first try. After modified the key, the issue still exsits.
[code]

[code]

[2017-07-18 08:34] k82cn opened #49096 "Validate selector's value when creating Pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
In `ValidateLabelSelectorRequirement`, it only validates selector's name; it's better to also validate selector's value, so the other components can use selector directly.

xref https://github.com/kubernetes/kubernetes/pull/46952

[2017-07-18 08:35] k82cn commented on #49096
/cc @lavalamp , @liggitt , @ smarterclayton , @wojtek-t

[2017-07-18 08:36] k82cn commented on #49096
/sig api-machinery

[2017-07-18 08:43] justlooks opened #49097 ""message": "pods \"kube-apiserver-k8s-master\" not found","

[2017-07-18 08:56] xiangpengzhao opened #49098 "HealthCheck NodePort test flake"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/assign

**What happened**:
pull-kubernetes-unit test flake:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46079/pull-kubernetes-unit/39938/
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48256/pull-kubernetes-unit/41168/
[code]
Here the `0` in `failed to allocate reque

[2017-07-18 09:11] abdasgupta commented on #49097
Is it not working - curl http://127.0.0.1:8001/api/v1/proxy/namespaces/kube-system/pods/kube-apiserver-k8s-master/ ??
It looks like your pods are in kube-system namespace but you are querying default namespace.

[2017-07-18 09:19] dixudx commented on #49075
@shiywang @liggitt I followed the calling path and found that [SetAnnotations](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/meta/meta.go#L547-L553) will create an empty annotation `map[string]string` if obj.annotations is nil.

[2017-07-18 09:23] #48982 closed

[2017-07-18 09:23] #49012 closed

[2017-07-18 09:30] alexaandru commented on #48814
@jbeda - re _"set up the instance with them from the start"_  - no longer true as of February: https://aws.amazon.com/blogs/security/new-attach-an-aws-iam-role-to-an-existing-amazon-ec2-instance-by-using-the-aws-cli/

[2017-07-18 09:33] justlooks commented on #49097
seems not work
[root@k8s-master ~]# curl http://127.0.0.1:8001/api/v1/proxy/namespaces/kube-system/kubernetes-dashboard-2209332821-0w4r7/
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "the server could not find the requested resource",
  "reason": "NotFound",
  "details": {},
  "code": 404
}[root@k8s-master ~]# curl http://127.0.0.1:8001/api/v1/p

[2017-07-18 09:34] justlooks commented on #49097
@abdasgupta  seems not work
[root@k8s-master ~]# curl http://127.0.0.1:8001/api/v1/proxy/namespaces/kube-system/kubernetes-dashboard-2209332821-0w4r7/
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "the server could not find the requested resource",
  "reason": "NotFound",
  "details": {},
  "code": 404
}[root@k8s-master ~]# curl http://127.0.0.1:

[2017-07-18 09:39] benbc commented on #48422
I have confirmed that I no longer see the problem in 1.6.7 on GKE. Thanks for your help.

[2017-07-18 09:40] justlooks commented on #49097
/sig hallo

[2017-07-18 09:41] abdasgupta commented on #49097
you need to remove the "proxy" element from the url as well..
curl http://127.0.0.1:8001/api/v1/namespaces/kube-system/pods/kube-apiserver-k8s-master/

[2017-07-18 09:44] fogongzi opened #49101 "kube-control-manager hanged by "attempting to acquire leader lease...""
@kubernetes/sig-controller-manager-misc
@kubernetes/sig-architecture
/sig controller-manager
/sig bug
@kubernetes/sig-controller-manager-bugs
/area [controller-manager]
/kind bug
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug
/area controller-manager

I install kubernetes 1.7 on ubuntu 17.04. The master includes three nodes and owns high availability by etcd election. Only a node (10.71.156.

[2017-07-18 09:44] dixudx commented on #49077
@zengbiao I don't think Kubernetes should support this. You can achieve the same goal by setting `FLANNELD_IFACE=<your_floating_ip>` and pass this environment when flanneld starts. This should not be controlled/managed by Kubernetes and also flannel always starts before Kubernetes.

[2017-07-18 09:45] fogongzi commented on #49101
/sig architecture

[2017-07-18 09:54] dixudx commented on #49000
@fogongzi Please try to set `--master=https://10.71.156.{176|170|238}:6443` in your three controller-manager configuration respectively instead of `https://10.71.156.239:6443`, which is for load balance for apiserver.

[2017-07-18 09:56] k82cn opened #49103 "Deprecated NodeInodePressure condition?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

It seems kubelet did not update inode pressure; and only test codes are using `v1.NodeInodePressure`. So prefer to deprecate or remove it directly.

@kubernetes/sig-node-bugs  (seems no node-misc group :). )

[2017-07-18 09:57] dixudx commented on #49101
@fogongzi Seems duplicated of #49000. Should close one.

[2017-07-18 10:03] gyliu513 opened #49104 "Network v1 is not working with calico"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I set up the network policy according to https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/ with network v1 policy, but it is not working.

**What you expected to happen**:
The pod should be isolated by network policy.

**How to reproduce it (as minimally and precisely as possible)**:
calicoctl ve

[2017-07-18 10:04] gyliu513 commented on #49104
/sig network

[2017-07-18 10:05] Sispheor commented on #29166
After a retry with class storage.

Node:
[code]

Controller
[code]

So the volume is attached. But the pod is still in error
[code]

Here is a log line I have also in the node. Dunno if it's a big deal as it's a warning
[code]

[2017-07-18 10:12] edevil opened #49105 "Transient /var/lib/docker prevents correct container log symlink"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I have a transient local disk mounted under /var/lib/docker in order to take advantage of faster IO on Azure VMs. This means that all that data is lost when a reboot occurs, but the rest of the data outside that mountpoint persists. After the reboot, the existing pods are relaunched, and kubelet is unable to create the lo

[2017-07-18 10:16] edevil commented on #49105
I think this falls under @kubernetes/sig-node-bugs

[2017-07-18 10:26] supereagle commented on #48422
@benbc  Thanks for your confirmation.

[2017-07-18 10:29] timoreimann commented on #20473
@bgrant0607 w.r.t. having to let the readiness probe fail explicitly or not in order for pods/endpoints to be taken out of rotation, it looks like the current documentation _is_ right after all: According to @embano1's and my tests, terminating pods are automatically removed without the need to flip the readiness probe manually.

We documented our findings on [this Nginx issue](https://github.com/

[2017-07-18 10:30] pavels commented on #48865
the migration was done as follows
1) stop kubernetes backplane and diable
2) stop kubelet (that stops etcd)
3) replace etcd version
4) start kubelet (api server atc. is disabled) - wait until cluster converges and is healthy
5) stop again - do migration on every node using etcdctl migrate
6) start again - wait until cluster is healthy
7) start api servers, controllers etc...

our etcd status is as

[2017-07-18 10:50] jsafrane opened #49106 "Containerized kubelet can't unmount vSphere volumes"
/kind bug
Kubernetes ~~1.7.0~~ 1.6.1

vSphere volume plugin uses spaces in its mount points such as `/var/lib/kubelet/plugins/kubernetes.io/vsphere-volume/mounts/[datastore1] kubevols/kubernetes-dynamic-pvc-4aacaa9b-6ba5-11e7-8f64-0050569f1b82.vmdk`.

When kubelet runs in a container it uses `/bin/findmnt` to check if a directory is a mount point or not and it parses findmnt output up to the first

[2017-07-18 10:55] wawastein commented on #48968
@jingxu97 hi, no, job pods do not use or create any volumes. Problem was in misconfiguration, containers couldn't connect to DB and failed time and time again.

[2017-07-18 11:20] fraenkel commented on #49104
I believe you are using the wrong version of Calico for the NetworkPolicy v1 stuff to work. You need to use v2.3 of calico which has more current versions of your node and policy controller. See either http://docs.projectcalico.org/v2.3/getting-started/kubernetes/installation/hosted/calico.yaml or https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/calico-policy-controller

[2017-07-18 11:21] pkutishch opened #49108 "PODs stale in Terminating stage"
/kind bug

**What happened**:
Pod stays in terminating status forever

**What you expected to happen**:
POD removed.

**How to reproduce it (as minimally and precisely as possible)**:
Provision container with PVC (Dynamic provisioned) using GlusterFS wait untill running and then remove POD

**Anything else we need to know?**:
Events:
[code]
kubelet log
[code]

**Environment**:
- Client Version: ve

[2017-07-18 11:28] shyamjvs commented on #49005
There a few failures again (108-111) but that's a different issue explained here - https://github.com/kubernetes/test-infra/pull/3561

[2017-07-18 12:06] xiangpengzhao commented on #49082
/sig contributor-experience

[2017-07-18 12:06] xiangpengzhao commented on #49077
/sig network

[2017-07-18 12:06] xiangpengzhao commented on #49108
/sig node

[2017-07-18 12:14] jeroenjacobs1205 opened #49113 "Kubernetes can't resolve external hostnames"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: Kubernetes is unable to resolve external hostnames.

**What you expected to happen**: Kubernetes fails to resolved external names and appends the search domains for some reason.

**How to reproduce it (as minimally and precisely as possible)**:

From within my container, I do an nslookup:

`nslookup www.telenet.be`

This

[2017-07-18 12:20] pweil- commented on #49024
Yeah, it's only briefly hinted at in https://kubernetes.io/docs/concepts/policy/pod-security-policy/#working-with-rbac.  @php-coder @simo5 we need to call this out more clearly both in the example and in the docs.

[2017-07-18 12:21] guilhem commented on #48628
I just faced the same problem.
On my case, this was due to using `kubectl apply`. Using `kubectl create` "fixed" the problem.

Thx to https://github.com/coreos/prometheus-operator/issues/363#issuecomment-300770068

[2017-07-18 12:22] shashidharatd commented on #42822
This is already fixed.

[2017-07-18 12:22] #42822 closed

[2017-07-18 12:23] shashidharatd commented on #42894
This is fixed.

[2017-07-18 12:23] #42894 closed

[2017-07-18 12:23] guilhem commented on #48629
I just faced the same problem.
On my case, this was due to using `kubectl apply`. Using `kubectl create` "fixed" the problem.

Thx to https://github.com/coreos/prometheus-operator/issues/363#issuecomment-300770068

[2017-07-18 12:42] pvlltvk commented on #48703
Same stack as @guillelb, and same issue:

`Jul 18 14:11:49 kbs04 kubelet[1901]: W0718 11:11:49.380022    1977 helpers.go:771] eviction manager: no observation found for eviction signal allocatableNodeFs.available
Jul 18 14:11:59 kbs04 kubelet[1901]: W0718 11:11:59.437958    1977 helpers.go:771] eviction manager: no observation found for eviction signal allocatableNodeFs.available
Jul 18 14:12:09 k

[2017-07-18 13:10] Sispheor commented on #29166
It's ok for me now! I just forgot to active back disk.uuid after creating back my new VMs!

Thanks a lot for your help !

[2017-07-18 13:25] ironcladlou commented on #49075
/xref https://github.com/kubernetes/kubernetes/issues/48211

[2017-07-18 14:11] aveshagarwal commented on #44944
i did not say we should not use NoSchedule taint. i said we should not use an existing NoSchedule taint on a node as a signal for Unschedulable.

I dont think so.

[2017-07-18 14:31] xiangpengzhao commented on #48790
dup of #49000

[2017-07-18 14:31] xiangpengzhao commented on #48590
dup of #49000

[2017-07-18 14:37] julianvmodesto commented on #32676
I had to update bash on macOS w/ brew to fix this
[code]

[code]

[2017-07-18 14:42] caseydavenport commented on #49104
Yep, you'll need to make sure you're using a compatible version of Calico.

Older versions should still work, but will implement the v1beta1 behavior.

/assign

[2017-07-18 14:49] xiangpengzhao commented on #49000
@fogongzi you have four issues reporting the same thing. Since this is the most active one, could you please close those ones?

[2017-07-18 14:52] xiangpengzhao commented on #48579
/remove-priority awaiting-more-evidence

[2017-07-18 14:54] dgoodwin commented on #49042
Does this look like the right track? (repeat for the other types not wired up)
https://github.com/dgoodwin/kubernetes/commit/9dee7698302b575cc7e16277912f976f173199da

[2017-07-18 15:02] deads2k commented on #49042
Yes, though I'd prefer having the unit test on the strategy method itself.  I think we should also create a test that runs against a storage map (constructed in the apiserver) and checks to see that the "normal" strategies are set with a whitelist for the exceptions.

[2017-07-18 15:20] gyliu513 commented on #49104
Thanks @caseydavenport and @fraenkel

Also more info get from @caseydavenport in slack channel:
Calico works with the new v1 API, but there are a couple of things to note:
- Old versions of Calico will still implement the old v1beta1 behavior
- v2.3 with the kubernetes datastore implements the new v1 behavior
- v2.4 (soon to be released) will implement the new v1 behavior when using the etcd datas

[2017-07-18 15:29] deads2k commented on #48716
Yes, ultimately resulting in https://github.com/openshift/origin/issues/15252.  I tagged some of our people to help track it.

[2017-07-18 15:37] dgoodwin commented on #49042
The strategy does have tests for the actual export logic itself, this bug was in the store and I couldn't see any way to test it at the strategy level. I will investigate testing the storage map, that would probably cover it.

[2017-07-18 15:43] divyenpatel commented on #49106
CC: @BaluDontu @tusharnt @luomiao

[2017-07-18 15:48] resouer commented on #48841
+1 for `I think we can implement this, in a backward compatible way, after settling 1 and 2, and after stabilizing and advancing the API to GA.`

[2017-07-18 15:53] cmluciano commented on #49104
Does the upgrade solve your issue? If you continue to have problems, the calico repository would be a better place to track this issue.

[2017-07-18 16:01] gyliu513 commented on #49104
Planning to have some test with calico 2.1.3 to see if can resolve my issue, will do some test later, thanks @cmluciano

[2017-07-18 16:06] gyliu513 commented on #49104
Got an interesting article https://www.projectcalico.org/the-new-networkpolicy-api-in-kubernetes-1-7/ for how does 1.7 works with new network policy.

[2017-07-18 16:06] divyenpatel commented on #49106
We made related space fix as part of this PR - https://github.com/kubernetes/kubernetes/pull/38338. This replaces `\040` to empty space
Change is cherry picked to 1.5 release.

[2017-07-18 16:07] resouer commented on #19221
On prem scripts have been deprecated, I will close this.

[2017-07-18 16:07] #19221 closed

[2017-07-18 16:08] bowei commented on #48938
@shyamjvs could you drop a link to the scale parameter doc here?

[2017-07-18 16:08] jhorwit2 commented on #48691
This issue not only applies to PBP's but NetworkPolicy (and perhaps others).
[code]

[code]

[2017-07-18 16:11] shyamjvs commented on #48938
It's currently under review. Here's the PR - https://github.com/kubernetes/community/pull/811

[2017-07-18 16:18] jsafrane commented on #49106
This sounds like a different bug... I already have #38338 in my test kubernetes. It fixes `ConstructVolumeSpec` that's IMO used only by attach/detach controller.

I see a space in a directory created by kubelet calling `plugin.SetUpAt()`, where `VolumePath` was filled by dynamic provisioning:

[code]

(and there is nothing wrong about the space, just NsEnterMounter is buggy...)

[2017-07-18 16:24] caseydavenport commented on #49104
Yep, this should probably be discussed on an issue in the Calico repo, or on Calico slack!

Closing this one.

/close

[2017-07-18 16:24] #49104 closed

[2017-07-18 16:28] containscafeine opened #49122 "kubectl plugin <subcommand> does not pass flags to subcommand"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

My plugin.yaml looks like -
[code]

**What happened**:

kubectl binary does not pass flag to the binary.

This works fine -
[code]

But this fails,
[code]

**What you expected to happen**:

I'd expect `-d` to be passed to the plugin command and the file should be decoded, i.e. this should happen -
[code]

**How to reproduce it (as minimally

[2017-07-18 16:36] fgrzadkowski commented on #48483
@kubernetes/sig-instrumentation-bugs @piosz

[2017-07-18 16:44] justinsb opened #49124 "Regression: masters no longer printed by `kubectl get nodes`"
`kubectl get nodes` used to show masters, but as of e25a5b1546392221c79e4d48dff4643c2341a002 it no longer does.

This is not in accordance with our deprecation policy I believe.

cc @luxas

[2017-07-18 16:50] #49078 closed

[2017-07-18 17:01] msau42 opened #49126 "Need e2e for local storage mount points"
The current e2e tests use directories as the local storage source, which uncovered some differences between bind mounting a directory vs a mount point.  There should be test cases using a real mount point as the source.

/kind bug
/sig storage

[2017-07-18 17:03] luxas commented on #49124
That commit/PR is not relevant as there are no supported users/deployment methods that are using `kubeadm.alpha.kubernetes.io/role` label. kubeadm v1.4 or v1.5 was the last.

What you're really looking for is who/what removed printing things based on the `kubernetes.io/role` label...

[2017-07-18 17:13] justinsb commented on #49124
No blame on you @luxas

The regression is that we have stopped printing masters in `kubectl get nodes`.  There may be more to it that a simple revert of https://github.com/kubernetes/kubernetes/commit/e25a5b1546392221c79e4d48dff4643c2341a002, but we should probably start there.

[2017-07-18 17:14] arthur0 commented on #49065
Same on Unbuntu 16.04

[code]

[2017-07-18 17:35] yuvipanda commented on #48968
I can't reproduce this on 1.7 btw. Can on 1.6

[2017-07-18 17:48] containscafeine commented on #49122
/sig cli

[2017-07-18 17:51] kow3ns opened #49135 "Move workload API objects to group version apps/v1beta2"
**FEATURE REQUEST**: Create a new version in the apps group for the core workloads API.
When we advance the core workloads API (DaemonSet, Deployment, ReplicaSet, and StatefulSet) to v1, we want them to advance as a group and be (where possible) consistent. Prior to doing so, we would like to make any API incompatible changes. In particular we will
- [x] bump Deployment and StatefulSet to `apps/v1

[2017-07-18 17:51] kow3ns commented on #49135
/assign @janetkuo

[2017-07-18 17:52] kow3ns commented on #49135
@kubernetes/sig-apps-api-reviews
@kubernetes/sig-apps-feature-requests
/sig apps

[2017-07-18 17:55] dimthe opened #49138 "cinder volumes will attach but not mount"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

**What happened**:
cinder volumes  will attach but will not mount

**What you expected to happen**:

to mount cinder volumes in pods

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

 kubectl version
Client Version: version.Info{M

[2017-07-18 17:58] dims commented on #49138
/sig openstack

[2017-07-18 18:20] #45454 closed

[2017-07-18 18:37] jpeeler opened #49141 "Pod preset incorrectly matches pod in different namespace"
/kind bug

**What happened**: A pod with an empty namespace field was mutated by a pod preset in a different namespace.

**What you expected to happen**: Pod presets should only operate on pods in the same namespace.

**How to reproduce it (as minimally and precisely as possible)**: Submit a pod with an empty namespace field and observe pod preset mutation.

**Anything else we need to know?**: Thi

[2017-07-18 18:41] cmluciano commented on #49065
@kubernetes/sig-cluster-lifecycle-feature-requests

[2017-07-18 18:44] cblecker commented on #48579
@xiangpengzhao can you please provide (or edit) example YAMLs then to allow for attempts at duplication?

[2017-07-18 18:53] luxas commented on #49065
known issue, will be fixed in v1.7.2: https://github.com/kubernetes/kubeadm/issues/347

[2017-07-18 18:53] #49065 closed

[2017-07-18 19:03] jingxu97 commented on #48968
@yuvipanda I tried on both 1.6.4 and 1.7 cluster with your repro steps, but could not get the errors..

[2017-07-18 19:06] spxtr commented on #49059
@gmarek @wojtek-t can one of you two either give me access to the `k8s-jkns-e2e-etcd3` project or else fix the permissions for `pr-kubekins` and `kubekins` service accounts in that project?

[2017-07-18 19:09] erikh commented on #49065
awesome, thanks!

On Tue, Jul 18, 2017 at 11:53 AM, Lucas Käldström <notifications@github.com>
wrote:

[2017-07-18 19:37] kris-nova commented on #49065
Seeing this is kubicorn at the moment - do we have an ETA on a 1.7.2 release or a patch for kubeadm?

[2017-07-18 19:50] mengqiy commented on #37471
@alexandercampbell @shiywang Will one of you have bandwidth to look into this issue?

[2017-07-18 19:56] luxas commented on #49065
Just do --skip-preflight-checks until tomorrow ;)

v1.7.2 is planned for tomorrow and will have the fix

[2017-07-18 19:57] timoreimann commented on #27618
This proposal might be related: https://github.com/kubernetes/community/pull/483

[2017-07-18 20:02] foxish commented on #48839
Dashboard operational. Closing!
/close

[2017-07-18 20:02] #48839 closed

[2017-07-18 20:11] wojtek-t commented on #49059
@spxtr - I just added you as an owner.

[2017-07-18 20:12] spxtr commented on #49084
Yes, it can. `golint ./pkg/util/...`

[2017-07-18 20:19] SleepyBrett commented on #48638
We've had three major events in the last few weeks that comes down to this problem. Watches set up through an elb node that gets replaced or scaled down cause large numbers of nodes to go not ready for 15 minutes causing very scary cluster turbulence. ( We've generally seen between a third to half the nodes go not ready ). We're currently evaluating other ways to load balance the api servers for t

[2017-07-18 20:20] kow3ns commented on #48190
@mikedanese are we good to close this?

[2017-07-18 20:22] kris-nova commented on #49065
In case anyone else needs this - the syntax for installing `1.7.0` on Ubuntu is:

[code]

[2017-07-18 20:22] crimsonfaith91 commented on #48839
@foxish Are there `gke-slow` tests for sig-apps?

[2017-07-18 20:22] kris-nova commented on #49065
Thanks @luxas 😄

[2017-07-18 20:25] joelsmith opened #49145 "Controllers make too many requests when denied by quota"
/kind bug

A quota-limited user put a large number for replicas in a replica set.

**What happened**: The controller attempted to start 500 pods even though the quota only allowed 5 pods. A large number of requests were made for each controller pass, and an enormous volume of failure events was generated.

**What you expected to happen**: The controller should realize that pod creation is failing

[2017-07-18 20:28] mikedanese commented on #48190
Do we want to cherrypick to 1.6? I'd say no...

[2017-07-18 20:28] #48190 closed

[2017-07-18 20:34] gnufied commented on #49138
@dimthe can you post your controller and kubelet logs too?

[2017-07-18 20:43] spxtr commented on #49059
Thanks, this *should* be fixed now.

[2017-07-18 20:45] krzyzacy commented on #49059
assume you don't want to make pr-kubekins as a project owner :-) Maybe run that internal version of check_project script instead.

[2017-07-18 20:53] foxish commented on #48839
I think no. The only gce slow tests for sigapps are cronjob and that is
still alpha (not enabled in gke).

On Jul 18, 2017 1:23 PM, "Jun Xiang Tee" <notifications@github.com> wrote:

[2017-07-18 20:57] dimthe commented on #49138
@gnufied  there are no logs whatsoever in /var/log for controller and kubelet
in fact there are no logs at all  unless it logs in another path

[2017-07-18 20:59] gnufied commented on #49138
@dimthe how did you deploy this cluster? kubelet is probably running as a systemd unit? in which case you may want to check `journalctl -u kubelet` ?

[2017-07-18 21:08] dimthe commented on #49138
@gnufied   like so :
[code]
[code]

in master i see a lot of lines like these

`Jul 18 17:49:48 ku-2zvbxqcr7x-0-zwyyphgltoec-kube-master-vxygknkhdoyk.openstackl kubelet[14885]: E0718 17:49:48.858630   14885 container_manager_linux.go:625] error opening pid file /run/docker/libcontainerd/dJul 18 17:54:48 ku-2zvbxqcr7x-0-zwyyphgltoec-kube-master-vxygknkhdoyk.openstackl kubelet[14885]: E0718 17:54:48

[2017-07-18 21:13] crimsonfaith91 commented on #48839
@foxish Noted. I guess we can have `gke-slow` column for the test grid so that cronjob tests are loaded when the cronjob is alpha.

[2017-07-18 21:27] #24121 closed

[2017-07-18 21:34] shyamjvs commented on #49005
This issue is now fixed and we have it all green - https://k8s-testgrid.appspot.com/google-gce-scale#gce-1.7

[2017-07-18 21:34] #49005 closed

[2017-07-18 21:38] mikedanese commented on #48046
Thanks for clarifying.

[2017-07-18 21:38] #48046 closed

[2017-07-18 21:50] zetaab opened #49147 "allow multiple floatingnetworkids in openstack loadbalancer"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

**What happened**: Currently we have kubernetes cluster installed, in node machines we have one subnet and two routers attached. One router for external network and one router for internal network. However, when we create type: loadbalancer services in kubernetes, we have to hardcode floatingnetwork id to only one of tho

[2017-07-18 22:04] emaildanwilson commented on #10439
This is an old thread but...

Now that they are secrets are encrypted by default on k8s would it be best to just integrate with the vault open service broker so that it's easy to provide vault auth secrets to services running on k8s?

See https://github.com/kubernetes-incubator/service-catalog/pull/1042 for basic info of how this works.

[2017-07-18 22:06] DerekV commented on #35186
@eviloop I was pointed towards this https://gitlab.cncf.ci/kubernetes/kubernetes/commit/ab03317d96504486b51785a7f4b7901d908d530d  where apparently kubernetes has their own forked implementation of net/http that supports CIDR in NO_PROXY.  I'll be testing with this and put an update.

[2017-07-18 22:16] alexgorbatchev commented on #43800
Seeing the same with 1.7.1

[2017-07-18 22:24] mikedanese commented on #22734
We now monitor this.

[2017-07-18 22:24] #22734 closed

[2017-07-18 22:24] jimmycuadra commented on #30784
What is the current workaround for this? I'm trying to debug some auth issues for a developer on my team and I'm not sure how to get the user and groups as the server is seeing them.

[2017-07-18 22:25] mikedanese commented on #22452
I think we use kubectl exec now instead of ssh everywhere

[2017-07-18 22:25] #22452 closed

[2017-07-18 22:28] spxtr commented on #44273
Saw this on GKE with a noticeably sluggish `n1-standard-1`.

[2017-07-18 22:40] quinton-hoole commented on #35254
Regarding the issues (in the order above), my suggestions:

- If federation only ever impersonates the user who (last) updated the federated object it will be very difficult to create a bug where it impersonates some other, valid user (modulo eventual consistency).
- I think that this can be addressed by creating a user account in each cluster which only has authorization to do the things that we

[2017-07-18 22:44] mikedanese commented on #29480
This is deployment specific so a general issue doesn't make sense. Do you intend for this issue to be for gce in particular?

[2017-07-18 22:45] msau42 opened #49150 "NFS tests are failing on GKE"
[testgrid](https://k8s-testgrid.appspot.com/google-gke#gci-gke)

[logs for one](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/12443#sig-storage-volumes-sig-storage-nfs-should-be-mountable)

/kind bug
/sig storage

[2017-07-18 22:45] k8s-merge-robot opened #49151 "Failure cluster [72ff9b...] failed 253 builds, 46 jobs, and 1 tests over 1 days"
### Failure cluster [72ff9bc43c6416491818](https://go.k8s.io/triage#72ff9bc43c6416491818)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    46 jobs failed,    253 builds failed.
Failure stats cover 1 day time range '17 Jul 2017 22:16 UTC' to '18 Jul 2017 22:16 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 46 |

##### To

[2017-07-18 22:45] k8s-merge-robot opened #49152 "Failure cluster [d246a4...] failed 214 builds, 20 jobs, and 1 tests over 1 days"
### Failure cluster [d246a41c056d50ce3fa9](https://go.k8s.io/triage#d246a41c056d50ce3fa9)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    20 jobs failed,    214 builds failed.
Failure stats cover 1 day time range '17 Jul 2017 22:16 UTC' to '18 Jul 2017 22:16 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 20 |

##### To

[2017-07-18 22:45] k8s-merge-robot opened #49153 "Failure cluster [834e5b...] failed 144 builds, 18 jobs, and 2 tests over 1 days"
### Failure cluster [834e5bb2574f9d3a4e98](https://go.k8s.io/triage#834e5bb2574f9d3a4e98)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    18 jobs failed,    144 builds failed.
Failure stats cover 1 day time range '17 Jul 2017 22:16 UTC' to '18 Jul 2017 22:16 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services sho

[2017-07-18 22:45] k8s-merge-robot opened #49154 "Failure cluster [156b8f...] failed 119 builds, 17 jobs, and 1 tests over 1 days"
### Failure cluster [156b8f6ab2021c609a85](https://go.k8s.io/triage#156b8f6ab2021c609a85)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    17 jobs failed,    119 builds failed.
Failure stats cover 1 day time range '17 Jul 2017 22:16 UTC' to '18 Jul 2017 22:16 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 17 |

##### To

[2017-07-18 22:50] msau42 opened #49156 "External provisioner test is failing on GKE"
[testgrid](https://k8s-testgrid.appspot.com/sig-storage#gke-slow)

[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-slow/7598#sig-storage-dynamic-provisioning-sig-storage-dynamicprovisioner-external-should-let-an-external-dynamic-provisioner-create-and-delete-persistent-volumes-slow)

/kind bug
/sig storage

[2017-07-18 22:50] msau42 commented on #49156
/assign

[2017-07-18 22:50] msau42 commented on #49150
/assign

[2017-07-18 22:54] nilebox commented on #10439
@emaildanwilson [Secrets roadmap](https://docs.google.com/document/d/1JAwPuZg47UhfRVlof-lMw08OJztunW8pvTNxDK3rCF8) has a plan to implement Vault support in 1.8 (next release). Not sure if it actually planned to be released in 1.8, but Kubernetes core certainly won't add a dependency on Service Catalog

[2017-07-18 23:01] zetaab commented on #49147
Exposing first to external network

[code]

[code]

so the external floatingip is working. Then update floating-networkid in kubernetes cloud-config in all nodes+masters and restart all machines.

Exposing to internal network

[2017-07-18 23:06] skitoo commented on #48798
Removing the $KUBELET_NETWORK_ARGS in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf works for me.
Thanks @PLoic

[2017-07-18 23:06] #47644 closed

[2017-07-18 23:14] jingxu97 opened #49158 "Local Storage Request/Limit Validation Discussion"
## Feature: local storage request/limit
From v1.7, we add the feature to allow users set local storage limit for pod’s emptyDir and container’s writable layer (overlay) to better provide storage capacity isolation.

For all type of resources in Kubernetes, user can set value for request and/or limit. The relationship between request and limit is defined as follows

- A BestEffort quality of servic

[2017-07-18 23:30] MrHohn opened #49159 "`default-http-backend` service shouldn't select `l7-lb-controller` pod as backend"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: `default-http-backend` service selects `l7-lb-controller` pod as backend.
Create a k8s cluster on GCE using `go run hack/e2e.go -up` command.
Output from couple kubectl commands:
[code]

And apparently l7-lb-controller doesn't serve the default 404 page:
[code]

**What you expected to happen**:

`l7-lb-controller` shouldn

[2017-07-18 23:31] grodrigues3 opened #49161 "Umbrella Issue: Move all e2e tests to subdirs and all TestNames Should Have SigPrefix"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Tech debt cleanup :)

As described [here](https://github.com/kubernetes/community/blob/master/contributors/devel/release/testing.md#test), We want each of the sigs to have dashboards reflected in testgrid and every test that the sig owns to have [sig-<NAME>] as a **prefix**.

Lots of good progress was made last week, but there are still additional tes

[2017-07-19 00:02] jingxu97 commented on #48188
cc @yujuhong

[2017-07-19 00:08] ericchiang commented on #30784
@jimmycuadra the RBAC debug logs or audit logs are the current way.

[2017-07-19 00:12] afausti commented on #14017
I have run in to the same issue with the nginx https example.

[2017-07-19 00:16] xiangpengzhao commented on #49161
/sig testing

[2017-07-19 00:18] mikedanese commented on #14017
/sig release

[2017-07-19 00:19] mikedanese commented on #41523
Closing since no response.

[2017-07-19 00:19] #41523 closed

[2017-07-19 00:21] msau42 commented on #49156
From the logs, it looks like provisioning succeeded, but mounting failed.

This could be the same issue as #49150 where with nfs on gke.

[2017-07-19 00:26] msau42 commented on #47762
It's still been flaking periodically :(  I'll try to run this test repeatedly to try to reproduce.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1-6-cvm-1-7-upgrade-cluster-new/273

[2017-07-19 00:42] msau42 commented on #49150
It also fails on debian GKE.  However, they all pass on debian and GCI GCE.

Error msg is mounting timed out.  This leads me to suspect that there is some difference in networking for GKE vs GCE.

[2017-07-19 00:50] zhangyihong commented on #41711
Yes, I agree it would be great to reopen this.

[2017-07-19 00:53] 4220182 commented on #41711
Yes , agree reopen.

[2017-07-19 01:17] xiangpengzhao commented on #49084
Thanks @spxtr for pointing it out!
/close

[2017-07-19 01:17] #49084 closed

[2017-07-19 01:18] ichekrygin commented on #49063
We are seeing the same issue of missing "Killing unhealthy pod" events and log messages in `v1.5.7`
[code]

[2017-07-19 01:19] #15634 closed

[2017-07-19 01:26] liggitt commented on #48865
the difference in DB size seems odd to me... @xiang90, is that expected?

[2017-07-19 01:27] yujuhong commented on #49159
Uh..the bug was introduced a long time ago back in v1.3. (#26048).... It doesn't affect GKE though since the l7-lb-controller pod wouldn't be added to the apiserver...

[2017-07-19 01:32] liggitt commented on #35254
Do you mean the federation *server* should use this account? If so, I agree.

Group membership is dictated by the authentication provider, which in many cases is external to the cluster, and in many cases can does not provide APIs to resolve a user name to a set of groups.

[2017-07-19 01:33] mkumatag opened #49169 "Use debian-base as BASEIMAGE for resource-consumer test image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
BASEIMAGE for resource-consumer was ubuntu before and there is a ask for migrating to debian via - https://github.com/kubernetes/kubernetes/pull/44910/files#r125150263
**What you expected to happen**:
Use debian-base as BASEIMAGE for resource-consumer test image
**How to reproduce it (as minimally and precisely as possibl

[2017-07-19 01:33] mkumatag commented on #49169
/assign

[2017-07-19 01:34] mkumatag commented on #49169
/sig testing

[2017-07-19 01:41] #49097 closed

[2017-07-19 01:58] justlooks opened #49170 "why i can not visit dashboard ？"

[2017-07-19 02:01] xingzhou commented on #49122
I'd like to take a look at this

[2017-07-19 02:04] zhangqx2010 commented on #48387
@farcaller
Do you install ceph client as well as config on every k8s node?

[2017-07-19 02:05] ianchakeres opened #49171 "On mac GCE adds 2 local SSDs even though NODE_LOCAL_SSDS=0 is default"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**: If you are using a mac and GCE and you specify NODE_LOCAL_SSDS=0 when using GCE via kube-up or e2e --up, then you end up getting 2 local SSDs.

**What you expected to happen**: I would expect to get 0 local SSDs by default and when I specify NODE_LOCAL_SSDS=0 explicitly.

**How to reproduce it (as minimally and precis

[2017-07-19 02:05] fabianofranz commented on #49122
Known issue and already fixed in https://github.com/kubernetes/kubernetes/pull/47267.

[2017-07-19 02:05] ianchakeres commented on #49171
/sig storage

[2017-07-19 02:27] sferich888 commented on #23144
Is this the same issue as https://github.com/kubernetes/kubernetes/issues/18239?

[2017-07-19 02:43] xingzhou commented on #48738
I think for kubectl, all the validation work shall be done in the `validate` phase, before the `run` stage. @alexandercampbell, are you working on this? if not, I would like to take a look

[2017-07-19 02:55] emaildanwilson commented on #10439
@nilebox thank you for pointing that out! It seems like it will be a nice option.

I agree that core shouldn't consider using the service catalog approach.

This option is more targeted to cluster admins that want to integrate with their existing Vault setup and provide to their end users a declarative way to obtain Vault auth tokens. The end users (or services) could then use the credentials to r

[2017-07-19 02:55] dixudx commented on #49158
/cc

[2017-07-19 03:04] NickrenREN opened #49175 "What is"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-07-19 03:06] #48747 closed

[2017-07-19 03:06] #47972 closed

[2017-07-19 03:09] fogongzi commented on #49000
@dixudx , I have tried,but it has the same problem.
Jul 19 11:07:15 kube-master-2 systemd[1]: Stopping kube-controller-manager...
Jul 19 11:07:15 kube-master-2 systemd[1]: Stopped kube-controller-manager.
Jul 19 11:07:15 kube-master-2 systemd[1]: Started kube-controller-manager.
Jul 19 11:07:15 kube-master-2 kube-controller-manager[2354]: I0719 11:07:15.594424    2354 controllermanager.go:107] Ver

[2017-07-19 03:09] #49101 closed

[2017-07-19 03:12] fogongzi commented on #48790
@duan-yue it means that is is true for kube-controll-manager. But I feel that when I create new resources such as deployment,daemonsets, the controll-manager acts very slowly.

[2017-07-19 03:12] #48590 closed

[2017-07-19 03:13] NickrenREN opened #49177 "What is the difference between lifecycle admission and others"
We just move lifecycle admission into the staging/src/k8s.io/apiserver/pkg/admission package and register it when we new admission options in function RegisterAllAdmissionPlugins(...) while we put other admissions in plugin/pkg/admission package and register them when we create server chain in function registerAllAdmissionPlugins(...).
What is the difference between lifecycle admission and others,

[2017-07-19 03:15] NickrenREN commented on #49177
/sig admission ?

[2017-07-19 03:17] #49175 closed

[2017-07-19 03:18] dims commented on #1615
@verb don't know if things have changed, last time i went down the pid namespace stuff in https://github.com/kubernetes/kubernetes/pull/29677 ended up with this problem - https://github.com/opencontainers/runc/issues/971 and have been watching https://github.com/opencontainers/runc/pull/976 since then

[2017-07-19 03:24] NickrenREN commented on #49177
/sig cluster-lifecycle

[2017-07-19 03:25] #5280 closed

[2017-07-19 03:31] feiskyer commented on #48452
Alread fixed in #48567, closing the issue.

[2017-07-19 03:31] #48452 closed

[2017-07-19 04:04] #48913 closed

[2017-07-19 04:04] #49169 closed

[2017-07-19 04:04] #49098 closed

[2017-07-19 04:11] smarterclayton commented on #48893
It's definitely not created, but there's no way to know that it failed.
Given that initializers are likely to be a thing, and that long creations
are possible, it doesn't seem unreasonable to expect our core controllers
to at least tolerate the condition of timeout on create and not, for
instance, go crazy creating pods.

On Mon, Jul 17, 2017 at 3:13 PM, Chao Xu <notifications@github.com> wrote:

[2017-07-19 04:15] xiangpengzhao commented on #49147
/sig openstack
/sig network

[2017-07-19 04:18] xiangpengzhao commented on #49141
/sig api-machinery

[2017-07-19 04:19] xiangpengzhao commented on #49113
/sig network

[2017-07-19 04:20] xiangpengzhao commented on #49052
/sig ui

[2017-07-19 04:22] xiangpengzhao commented on #49170
@justlooks please edit the format, it's not so readable. Thanks!

[2017-07-19 04:25] mengqiy commented on #48924
@kubernetes/sig-api-machinery-bugs

[2017-07-19 04:26] xiangpengzhao commented on #48925
/sig node
/cc @vishh

[2017-07-19 04:29] bgrant0607 commented on #49135
@kow3ns What's the corresponding issue in the features repo?

[2017-07-19 04:54] #49074 closed

[2017-07-19 04:54] #48962 closed

[2017-07-19 06:12] #39791 closed

[2017-07-19 06:15] feiskyer opened #49179 "CRI: missing seccomp profile in sandbox security context"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When implementing the follow up of #46332 in #49178, I found that seccomp profile is missed in sandbox's security context. Without this, we couldn't honour "seccomp.security.alpha.kubernetes.io/pod" for sandbox.

/cc @yujuhong

/sig node

[2017-07-19 06:15] feiskyer commented on #49179
/assign

[2017-07-19 06:32] irfanurrehman opened #49181 "[Federation] Make arguments to schedule type adapter generic"
The schedule type adapter interface which is sort of an extention to sync type adapter in federation controllers, uses arguments which are specific to replica type scheduling. These arguments need to be made generic, such that more adapters can implement the same still complying to the same interface.

@kubernetes/sig-federation-misc
@kubernetes/sig-federation-pr-reviews

[2017-07-19 06:33] zetaab commented on #49147
I have defined host route to subnet, which is 10.222.0.0/16,192.168.1.4 this row basically means that all connections toward 10.222.0.0/16 should use 192.168.1.4 router interface, which is internal router. However, openstack lbaas is ignoring these host routes https://bugs.launchpad.net/octavia/+bug/1541802

[2017-07-19 06:33] irfanurrehman commented on #49181
/sig sig-federation

[2017-07-19 06:35] irfanurrehman commented on #49181
/sig federation

[2017-07-19 06:42] Pensu commented on #43989
Closing this issue as ppc64le test results are published on testgrid.

[2017-07-19 06:42] #43989 closed

[2017-07-19 07:01] saiwl opened #49184 "Provide cluster resource usage api?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

I want to monitor the resource usage in our cluster, such as cpu usage and memory usage. However, I cannot get the resource usage information of a node using the existing api directly. I have to request all the pods on the node, and calculate the resource usage. I think this is very wasteful. Node usage should be provided directly and I

[2017-07-19 07:06] #49141 closed

[2017-07-19 07:11] wojtek-t opened #49185 ""Pod Disks should be able to detach from a node which was deleted" failing in release 1.7 branch"
All the failures of this test are exactly the same - they are failing in this line:
https://github.com/kubernetes/kubernetes/blob/release-1.7/test/e2e/storage/pd.go#L452

which means that what is failing is running:
"gcloud compute instances list"

This may block 1.7.2 release.

@kubernetes/test-infra-maintainers @kubernetes/sig-storage-bugs @saad-ali

[2017-07-19 07:12] wojtek-t commented on #49185
It is failing in those suites:
https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gce-serial-release-1-7
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-serial-release-1-7

Interestingly GKE suites look fine...

[2017-07-19 07:44] wojtek-t opened #49187 "Presubmit is not failing on test failures"
I've just seen this:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49056/pull-kubernetes-e2e-gce-etcd3/41375/

What is extremely frightening for me are those lines:
[code]

I guess we should stop merging anything before understanding and fixing this...
@kubernetes/test-infra-maintainers

[2017-07-19 07:45] wojtek-t commented on #49187
Ohh - actually this PR wasn't merged. Maybe it's just the log that is misleading...

[2017-07-19 08:09] pdecat opened #49189 "Dashboard memory limits/requests do not ensure Guaranteed QoS as stated in comment"
As discussed in https://github.com/kubernetes/kubernetes/pull/44712#discussion_r126015758, recent changes on the memory limits of the dashboard made it loose its Guaranteed QoS as the limit and request are now different:

[code]

The memory limits should probably be fixed to restore the Guaranteed QoS on that pod.

cf. https://github.com/kubernetes/community/blob/master/contributors/design-proposa

[2017-07-19 08:13] pdecat commented on #49189
/sig ui

[2017-07-19 08:20] dixudx commented on #49184
@saiwl You can try to fetch such resource info through node v1 api (http://<your_clusterip_and_port>/api/v1/nodes/<node_name>).

For cli,

[code]

[2017-07-19 08:40] FengyunPan commented on #49138
Actrually, I have tested your yaml on kubernetes 1.6.4 and work fine.
The kubernetes version is too old, please upgrade to 1.6.4+.

[2017-07-19 08:40] saiwl commented on #49184
@dixudx The node info fetched through apiserver doesn't include the allocated info. Only the capacity. `kubectl` command fetches the pods info on a node and calculate the allocated info, then show to users.

[2017-07-19 08:45] Leejingforever commented on #31708
How can I change  heapster to the version 1.1 ?  Thanks a lot! @nicolasbelanger @spdeshpande

[2017-07-19 08:45] shivramsrivastava opened #49190 "field label spec.schedulerName not supported"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When trying to list object using field  spec.SchedulerName, we are getting the below error message.

**Failed to list  `*v1.Pod` : field label not supported: spec.schedulerName**

**What you expected to happen**:

To be able to fetch pods using the list and watch based on the field 'spec.schedulerName'

**How to reproduce it (as mi

[2017-07-19 08:59] FengyunPan commented on #49147
Sounds good.
cc @anguslees @dims

[2017-07-19 09:17] xiangpengzhao commented on #48579
Update: reproducing without the extra `ports` line.

1. Create a ClusterIP type service
[code]
[code]

2. Edit the service (`kubectl edit svc foo`). Change it's type to NodePort and add a Port which has the same port number but different protocol with the existing Port.
[code]

3. Describe the updated service. We can see that the UDP Port was not created.
[code]

I have dug into the code and will

[2017-07-19 09:19] xiangpengzhao commented on #49190
/sig api-machinery

[2017-07-19 09:24] xiangpengzhao commented on #49187
https://github.com/kubernetes/kubernetes/pull/48256#issuecomment-316245279

The above PR reported `pull-kubernetes-kubemark-e2e-gce` failure after it's merged. It's weird.

[2017-07-19 09:25] malc0lm commented on #47671
I think the situation which you described will not happen. `LeaseDuration` is just for non-leader candidates. And Leader renew lease every `RetryPeriod` which is default is 2s instead of `LeaseDuration`. So the 10-second one couldn't happily steal the lock from the 30-second one, if latter is alive.

[2017-07-19 09:27] wojtek-t commented on #49187
Our infra was trying to merge the PR in two ways:
- by merging just this PR
- as part of batch of PR
The tests for the second finished first and it was merged, but then it appeared that tests for first option failed. This is "working as intended".

[2017-07-19 09:47] junaid18183 opened #49193 "Local cluster creation using cluster/get-kube-local.sh is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Tried to setup local cluster using `cluster/get-kube-local.sh` but its waiting in infinite loop.

**What you expected to happen**:

Up and running local cluster

**How to reproduce it (as minimally and precisely as possible)**:

   s]# bash cluster/get-kube-local.sh
Downloading kubectl binary...SUCCESS

Creating a local

[2017-07-19 09:55] junaid18183 commented on #49193
/sig testing

[2017-07-19 11:18] thatsk opened #49198 "Proper Way to Install the kubenetes cluster on Centos Bare metal with 4node"
@kubernetes/sig-area-test-infra
**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.1", GitCommit:"1dc5c66f5dd61da08412a74221ecc79208c2165b", GitTreeState:"clean", BuildDate:"2017-07-14T02:00:46Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
- Cloud provider or hardware configuration**:
Master 2GB(kubema

[2017-07-19 11:25] thatsk commented on #49198
/sig-area-test-infra

[2017-07-19 11:26] thatsk commented on #49198
/sig test-infra

[2017-07-19 11:27] moon03432 commented on #45688
@muffin87 I just killed my node_exporter. I think this could release some dead containers but not all of them.

[2017-07-19 11:28] irfanurrehman commented on #49181
Closing as fixed (with https://github.com/kubernetes/kubernetes/pull/48200)

[2017-07-19 11:28] #49181 closed

[2017-07-19 11:28] thatsk commented on #49198
/sig kubeadm

[2017-07-19 11:33] ddysher opened #49199 "resource quota doesn't handle resource with slash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm not sure if this is work as intended or we just haven't look into this; It's possible to create a resource quota with meaningless resource type, e.g.

[code]

I'm working on local storage request/limit, which is the first standard resource type with slash. If this is work as intended, then it's hard to catch errors.

[2017-07-19 11:38] pavolloffay commented on #47862
Is there any progress on this? cc @shiywang

[2017-07-19 11:39] rrati commented on #48954
I am working on this

[2017-07-19 11:41] ddysher commented on #49199
/sig api-machinery

[2017-07-19 11:49] dgoodwin commented on #49042
Half tempted to validate each store in the map and if Create/Update/DeleteStrategy satisfies the Export interface but ExportStrategy is nil, we fail the test. That would miss if someone were setting a different strategy object for export than the others, but then of course ExportStrategy would obviously be getting set and thus no bug.

[2017-07-19 12:12] thatsk commented on #49198
/sig test-infra

[2017-07-19 12:16] #48483 closed

[2017-07-19 12:20] xiangpengzhao commented on #49187
@wojtek-t thanks for explanation!

[2017-07-19 12:40] FrederikNS commented on #45746
This is bugging us as well. We have many TLS encrypted endpoints running in our cluster, and many of those log an error whenever they receive a non-TLS connection from the AWS ELB. This results in huge amounts of log-spam.

It would be really nice if it was possible to configure the healthcheck protocol on the loadbalancers.

[2017-07-19 12:41] gmarek commented on #48638
I know it's not strictly related to this problem, but after a third of a 'zone' goes down NodeController will drastically reduce ratio in which it evicts Pods - exactly to protect you from screwing your cluster too much in situations like this.

Given that it is important problem you could try pushing @kubernetes/sig-api-machinery-feature-requests to make required changes to client-go

[2017-07-19 12:43] xiangpengzhao commented on #49199
I also encountered this when using OIR. See my former issue #44331. And I also sent a PR #44332 but no folks reviewed it yet :(

[2017-07-19 12:43] sttts opened #49200 "Fix k8s.io/metrics dependency on k8s.io/api"
Compare https://github.com/kubernetes/kubernetes/pull/49091#issuecomment-316364570.

[2017-07-19 12:43] sttts commented on #49200
/cc @deads2k

[2017-07-19 12:56] deads2k commented on #49200
@DirectXMan12 The dependency on particular types (especially *those* types), is likely to lead to bad behavior.  We should remove temptation if the cost isn't very high.

[2017-07-19 13:01] PI-Victor commented on #32865
seems that time has caught up with future Victor. working on this.

[2017-07-19 13:04] deads2k commented on #30784
@ericchiang long ago you had a pull to add response headers that died on how to represent impersonation as I recall.  You up for trying again with something concrete for impersonation?  Maybe different values before and after or something?

[2017-07-19 13:07] verb commented on #1615
@dims yes, afaik it's still the case that the host's init is reaping zombies for the first process using a shared namespace.

[2017-07-19 13:09] whitecolor commented on #44273
If in described cases the is an error is just **a consequence** and not the cause of node failure and the cause is a lack of memory/resources, then yes.

[2017-07-19 13:15] ddysher commented on #49199
well, i guess because this is a non-blocking issue :)

i'm not sure if this is a real issue.  what is the naming convention for resources? e.g.. why do we give special meaning to slash.

[2017-07-19 13:23] sttts commented on #48984
The changes in the conversion do not look like a wrong generation order.

Can it be that we are just hitting https://github.com/kubernetes/kubernetes/issues/48675 when switching between branches?

[2017-07-19 13:24] wojtek-t opened #49201 "Build is failing in 1.7 branch"
kubernetes-build is failing in 1.7 branch
https://k8s-testgrid.appspot.com/release-1.7-blocking#build-1.7

We need to fix it ASAP, otherwise I will need to revert the last PRs to cut the 1.7.2 release tomorrow.

@seanknox @brendandburns

[2017-07-19 13:26] grobie commented on #48483
Thanks a lot for picking this up @smarterclayton. I got a bit stuck writing an acceptance test for the expected metrics under `/metrics`. While it's breaking compatibility with 1.6, I think splitting metrics in general makes sense.

[2017-07-19 13:27] liggitt commented on #48984
the changes in conversion are expected, and CI is not complaining about those.

the changed in types.generated.go are the issue - https://github.com/kubernetes/kubernetes/commit/4774babcacf1d8ae34e2300c8cc48f1ad6ca77bc#diff-84c1f4a54ef63a83dfee0975f6895d71

[2017-07-19 13:28] sttts commented on #48984
ic. ugorji....

[2017-07-19 13:29] liggitt commented on #48984
`git ls-files --others` doesn't show any untracked files related to generation or types or anything else

[2017-07-19 13:29] dixudx commented on #49199
@ddysher Refer the [api convention doc](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#label-selector-and-annotation-conventions)

Such resource names always contains slash.

[2017-07-19 13:35] wojtek-t commented on #49201
@kubernetes/sig-release-bugs

[2017-07-19 13:44] jdumars commented on #49201
[code]

[2017-07-19 13:52] ddysher commented on #49199
@dixudx right, but there is no `alpha` or `beta`, so i was thinking the prefix is just identifying information, not for in-development API.

[2017-07-19 13:52] jdumars commented on #49201
https://github.com/kubernetes/kubernetes/pull/48933 needs to be cherry picked in to correct this error.

[2017-07-19 14:00] luxas commented on #48483
We should definitely have a conformance test for this now -- feel free to write one @grobie :)

[2017-07-19 14:03] kargakis commented on #49187
I saw that you rerun only one test before it got merged (for clarity, the PR is https://github.com/kubernetes/kubernetes/pull/49056) which suggests that this is simply a matter of a misleading log.

[2017-07-19 14:09] sttts commented on #48984
The ugorji build order looks wrong:
[code]

Core should be after batch and extensions as the later two depend on core/v1.

[2017-07-19 14:12] liggitt commented on #48984
as @caesarxuchao pointed out, the sort does not include things under k8s.io/api, so it's not surprising it is wrong.

I tried briefly to modify that to include the types where they live now, and didn't have great success

[2017-07-19 14:13] liggitt commented on #48984
it's also possible the sort is getting confused on package names with/without 'vendor'

[2017-07-19 14:20] wojtek-t commented on #49201
Talked with Brendan offline and he created this: https://github.com/kubernetes/kubernetes/pull/49204
It should fix the problem.

[2017-07-19 14:22] sttts commented on #48984
The tsort is broken. Am on it.

[2017-07-19 14:35] wojtek-t commented on #49059
Yeah - seems to be fixed now.

[2017-07-19 14:35] #49059 closed

[2017-07-19 14:35] p0lyn0mial opened #49208 "clientset always crated from LoopbackClientConfig"
**What happened**: The issue I am observing is that [clienset](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/admission.go#L72) meant for [generic admission plugin](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/initializer/initializer.go) are always created from `LoopbackClientConfig `. This can

[2017-07-19 14:35] liggitt commented on #48984
yeah, just got there:
[code]

thanks

[2017-07-19 14:36] p0lyn0mial commented on #49208
/sig api-machinery

[2017-07-19 14:36] p0lyn0mial commented on #49208
/kind bug

[2017-07-19 14:38] p0lyn0mial commented on #49208
@deads2k @sttts FYI

[2017-07-19 14:43] p0lyn0mial commented on #49208
/assign @p0lyn0mial

[2017-07-19 14:53] joantune commented on #49198
@thatsk: I am struggling to use kubeadm 1.7 too. I enjoyed your thorough guide and report of what you were trying, although a bit dismaying. I think that you need to do /sig area-kubeadm

[2017-07-19 14:53] saad-ali commented on #49185
CC @kubernetes/sig-storage-bugs

[2017-07-19 14:53] joantune commented on #49198
/sig area-kubeadm

[2017-07-19 14:59] #40504 closed

[2017-07-19 15:15] argais commented on #32227
This happened to me after upgrading from kops 1.5.3 to 1.6.2 (k8s wasnt upgraded, only kops, k8s 1.5.4), we added disableelbingress during that upgrade and after that removing a service (that was launched before the upgrade) doesnt remove the elb sg anymore.

[2017-07-19 15:26] saad-ali commented on #49185
Looks like the test is only enabled to run on GCE not GKE.

And it looks like it is failing on master, 1.7, and 1.6 branches (it was introduced in 1.6):
* [gce-serial (master)](https://k8s-testgrid.appspot.com/google-gce#gce-serial&include-filter-by-regex=should%20be%20able%20to%20detach%20from%20a%20node%20which%20was%20deleted)
* [gci-gce-serial (master)](https://k8s-testgrid.appspot.com/google-

[2017-07-19 15:34] gmarek opened #49210 "hack/update-staging-godeps.sh is not working on head"
first in notices that Godeps are wrong and removes
[code]
which is fine.

But afterwards it fails:
[code]

@kubernetes/sig-api-machinery-bugs

[2017-07-19 16:26] quinton-hoole commented on #35254
@liggitt Yes, I actually meant that the federation user should use that account (when creating the federated object against the federation API), and that the federation server should use whatever account the federation user used, when interacting with the clusters on behalf of the federation user.  Make sense?

Regarding group membership, how does the cluster verify that the user (or in this case

[2017-07-19 16:41] mikedanese opened #49213 "phase out cluster/ directory"
sig-cluster-lifecycle has decided to phase out the cluster/ directory over the next couple releases in favor of deployment automations maintained outside of the core repo and outside of kubernetes orgs.

@kubernetes/sig-cluster-lifecycle-misc

[2017-07-19 17:02] toonsevrin commented on #48367
@cmluciano nope

[2017-07-19 17:07] ericchiang commented on #30784
@deads2k PR to add Authentication-Info response headers here https://github.com/kubernetes/kubernetes/pull/30829

Some problems beyond impersonation that I hit:

* We don't want to return groups in an HTTP header because the list could easily be too big.
* Parsing the headers is fickle (`Authentication-Info: username="jane", uid="8881`). Format defined in https://tools.ietf.org/html/rfc7235#sectio

[2017-07-19 17:08] saad-ali opened #49217 "Split configMap, secret, and downwardAPI tests into two files: volume and non-volume"
As part of https://github.com/kubernetes/kubernetes/issues/49161 all tests should be labeld with `sig-*` to signify which SIG owns them.

Today all configMap, secret, and downwardAPI E2E tests can be found here:
* [test/e2e/common/configmap.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/configmap.go)
* [test/e2e/common/downward_api.go](https://github.com/kubernetes/kubern

[2017-07-19 17:19] brendandburns commented on #49201
This is now fixed.

https://k8s-testgrid.appspot.com/release-1.7-blocking

[2017-07-19 17:19] #49201 closed

[2017-07-19 17:27] #47739 closed

[2017-07-19 17:27] #49031 closed

[2017-07-19 17:57] tallclair commented on #48561
I think we should consider adding user agent to the audit user info. I know it can be spoofed trivially, but we've had a couple people ask for it.

[2017-07-19 17:59] gabrie30 commented on #46861
This issue is also cause by changing the secret type. For example, if you have an env var in the deployment as a key/value, then you change the same env var but try to read from a kubernetes secret.

[2017-07-19 18:02] verult opened #49220 "Adding sig-storage label to upgrade tests and move them to appropriate storage directory."

[2017-07-19 18:04] verult commented on #49220
/sig storage

[2017-07-19 18:18] kargakis opened #49221 "federation-controller/service TestServiceController unit test flake"
[k8s.io/kubernetes/federation/pkg/federation-controller/service TestServiceController 30s](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48217/pull-kubernetes-unit/41693/)
[code]
@kubernetes/sig-federation-test-failures

[2017-07-19 18:21] #48980 closed

[2017-07-19 18:21] #47315 closed

[2017-07-19 18:21] #49179 closed

[2017-07-19 18:37] kargakis commented on #49145
@kubernetes/sig-apps-bugs

[2017-07-19 18:38] zetaab commented on #49147
the problem what I am thinking currently is that I would like to have possibility to specify floating-pool in each service. Some service people may want expose service to external network and some service to internal network. However, the service api spec is quite hardcoded https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2640-L2724 or can I add field there?

[2017-07-19 18:39] janetkuo commented on #46935
We'd love to see this fixed in 1.8. It's unlikely we'll have #42002 done in 1.8, so @k82cn would you be willing to fix it with the naive solution first?

[2017-07-19 19:22] BastiPaeltz opened #49225 "RBD StorageClass - default adminId not used when deleting volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When creating a RBD StorageClass without explicitly setting the `adminId` parameter and later removing a PVC, the corresponding PV goes into failed state.
Relevant logs are:
[code]

After looking at the code, I see that default value for `adminId` (which is "admin" as is stated in the [documentation](https://kubernetes.io

[2017-07-19 19:26] BastiPaeltz commented on #49225
@kubernetes/sig-storage

[2017-07-19 19:29] BastiPaeltz commented on #49225
@kubernetes/sig-storage

[2017-07-19 19:35] BastiPaeltz commented on #49225
/sig storage

[2017-07-19 19:51] githubvick opened #49228 "Kube-controller-manager fails to start with Azure cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Kube controller manager crashes when adding cloud provider argument as Azure

**What you expected to happen**:
Kube controller manager should function properly,

**How to reproduce it (as minimally and precisely as possible)**:

Add cloud prov parameter in kubeapiserver
KUBE_API_ARGS="--tls-cert-file=/etc/kubernetes/cer

[2017-07-19 19:53] dgoodwin commented on #49042
@deads2k running into some issues trying to test at the level you suggested, some of them are arguably indicating problems in how exporters are structured right now.

In pkg/registry/core/rest.LegacyRESTStorageProvider we have a map of strings to apiserver/pkg/registry/rest.Storage. That interface doesn't define much of interest for Export. We can check that these objects satisfy rest.Exporter but

[2017-07-19 19:58] dgoodwin commented on #49042
Possible suggestion via @Miciah was to add a HasExportStrategy bool or ExportStrategy (getter) to the Exporter interface, allowing us to test if a given rest.Storage implements Exporter, and if so call that method to make sure it has the custom logic defined.

[2017-07-19 20:15] billmilligan commented on #43800
Seeing the same with:
* kubeadm 1.7.1
* Docker 12.6
* Ubuntu 16.10 on VirtualBox with bridged NAT and static IP
* VirtualBox running on a bare metal 16.04 machine, no cloud
* All apt packages upgraded to latest before init

What does this error even mean?  Anybody have any suggestions on how to proceed?

[2017-07-19 20:18] derekwaynecarr opened #49233 "ResourceQuota evaluators should use shared informers for all core types"
**Is this a BUG REPORT or FEATURE REQUEST?**:
perf improvement when working with quota at scale

/kind feature

**What happened**:
quota at scale over large numbers of namespaces is doing too many LIST

**What you expected to happen**:
usage of shared informer and fewer lists

**How to reproduce it (as minimally and precisely as possible)**:
create 10k namespaces, each namespace with 2 quotas, quo

[2017-07-19 20:21] derekwaynecarr commented on #49233
/sig api-machinery

[2017-07-19 20:23] ericchiang commented on #48984
I'm also seeing issues with protobuf generation scripts on master (hit this in https://github.com/kubernetes/kubernetes/pull/48836).

Running `./hack/update-generated-protobuf.sh` creates this diff:

[code]

Don't know if this is related.

[2017-07-19 20:32] piersbarrios commented on #49198
At no point did you start docker, right ?

systemctl enable docker && systemctl start docker

[2017-07-19 20:35] timothysc opened #49236 "RFE: Bootstrap Checkpointing - Modify manifest behavior slightly for self hosting."
**FEATURE REQUEST**:

As of today current self hosting model is as follows:
1. Load the Static Pod specification from disk (from /etc/kubernetes/manifests)
2. Extract the PodSpec from that Static Pod specification
3. Mutate the PodSpec to be compatible with self-hosting (add the right labels, taints, etc. so it can schedule correctly)
4. Build a new DaemonSet object for the self-hosted component i

[2017-07-19 20:36] piersbarrios commented on #49198
Did you follow the instruction in kubeadm init ?

[code]

-----
By the way, at no point did you start docker in your instructions (although docker seems to be running because kubernetes starts) :
`systemctl enable docker && systemctl start docker`

[2017-07-19 20:38] piersbarrios commented on #49198
Concerning having to do --skip-preflight-checks to join nodes. This is referenced as an official workaround https://github.com/kubernetes/kubeadm/issues/347 and should be fixed in 1.7.2

[2017-07-19 20:50] dimthe commented on #49138
this is not going to work with 1.5.3 so closing it.

[2017-07-19 20:50] #49138 closed

[2017-07-19 20:51] bowei commented on #47142
@ssubramanian123 any updates?

[2017-07-19 20:56] ssubramanian123 commented on #47142
@bowei waiting on your response. Still it is not working, currently we did some workaround to bypass kube-dns for few external calls.

[2017-07-19 20:59] spiffxp commented on #47978
/remove-priority P0
/priority critical-urgent

FWIW https://k8s-testgrid.appspot.com/sig-federation#gce and https://k8s-testgrid.appspot.com/sig-federation#gce-serial have a fair amount of green on them now, but https://k8s-testgrid.appspot.com/sig-federation#gce-1.6 is failing consistently

[2017-07-19 21:00] spiffxp commented on #48071
/remove-priority P0
/priority critical-urgent

[2017-07-19 21:19] caesarxuchao commented on #48984
@ericchiang i had a PR merged in which i moved admission to k8s.io/api, I guess you saw those files after rebase? You can remove those two untracked files.

[2017-07-19 21:23] msau42 commented on #48609
To clarify, for the scenario where you want to delete the PV, but keep the disk, you can:

1. Set the reclaim policy to Retain.
2. Delete the PVC
3. Delete the PV

The disk will not be deleted.  Only if reclaim policy is Delete, and you deleted the PVC, then we will delete the disk.

[2017-07-19 21:35] freehan commented on #48719
I see. In summary, appending `KUBE-SERVICES` chain to `FORWARD` in `filter` table will solve the problem.

Not sure if there is any side effect. Should be a easy one line chanage:
https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/proxy/iptables/proxier.go#L1034

[2017-07-19 21:50] kow3ns opened #49239 "service.alpha.kubernetes.io/tolerate-unready-endpoints misuses the Endpoints API object"
**BUG REPORT**: The [addEndpointSubset method](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L509-L528) of the endpoints controller is currently adding EndpointSubsets with Address that are unready base on the `service.alpha.kubernetes.io/tolerate-unready-endpoints` annotation.

At a minimum those addresses need to be added as EndpointSubsets

[2017-07-19 21:52] kow3ns commented on #49239
/assign @kow3ns

[2017-07-19 21:53] kow3ns commented on #49239
/sig apps
/sig network

[2017-07-19 21:54] mtanino commented on #48609
@msau42
Yes. I confirmed those steps worked fine.

[2017-07-19 21:54] kow3ns commented on #49239
@bgrant0607 @smarterclayton @kargakis @janetkuo

[2017-07-19 22:36] aabed commented on #45961
Seeing the same problem

[2017-07-19 22:45] k8s-merge-robot opened #49241 "Failure cluster [71baa7...] failed 428 builds, 52 jobs, and 1 tests over 1 days"
### Failure cluster [71baa74353784f8eccc7](https://go.k8s.io/triage#71baa74353784f8eccc7)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    52 jobs failed,    428 builds failed.
Failure stats cover 1 day time range '18 Jul 2017 21:39 UTC' to '19 Jul 2017 21:39 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 52 |

##### To

[2017-07-19 22:45] k8s-merge-robot opened #49242 "Failure cluster [67db57...] failed 306 builds, 22 jobs, and 1 tests over 1 days"
### Failure cluster [67db57707b49163a9f06](https://go.k8s.io/triage#67db57707b49163a9f06)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    22 jobs failed,    306 builds failed.
Failure stats cover 1 day time range '18 Jul 2017 21:39 UTC' to '19 Jul 2017 21:39 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-storage] Persist

[2017-07-19 22:45] k8s-merge-robot opened #49243 "Failure cluster [194920...] failed 213 builds, 24 jobs, and 21 tests over 1 days"
### Failure cluster [194920f8ea05c87c5e8a](https://go.k8s.io/triage#194920f8ea05c87c5e8a)
##### Error text:
[code]
##### Failure cluster statistics:
21 tests failed,    24 jobs failed,    213 builds failed.
Failure stats cover 1 day time range '18 Jul 2017 21:39 UTC' to '19 Jul 2017 21:39 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] GCP Volumes

[2017-07-19 22:45] k8s-merge-robot opened #49244 "Failure cluster [63cac4...] failed 198 builds, 31 jobs, and 1 tests over 1 days"
### Failure cluster [63cac4c910ad28b543bc](https://go.k8s.io/triage#63cac4c910ad28b543bc)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    31 jobs failed,    198 builds failed.
Failure stats cover 1 day time range '18 Jul 2017 21:39 UTC' to '19 Jul 2017 21:39 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 31 |

##### To

[2017-07-19 22:45] k8s-merge-robot opened #49245 "Failure cluster [5be8b0...] failed 196 builds, 19 jobs, and 1 tests over 1 days"
### Failure cluster [5be8b0877e144b6ba08b](https://go.k8s.io/triage#5be8b0877e144b6ba08b)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    19 jobs failed,    196 builds failed.
Failure stats cover 1 day time range '18 Jul 2017 21:39 UTC' to '19 Jul 2017 21:39 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 19 |

##### To

[2017-07-19 23:04] cblecker commented on #49210
@gmarek Did you run `hack/godep-restore.sh` before running the update script? I found a bug in the current master version of the script (#49247) but it doesn't seem related.

[2017-07-19 23:10] joantune commented on #49198
Sorry guys for the late reply.

@thatsk and everybody: following the instructions, I was able to install and successfully run `kubeadm`. However I used Ubuntu. I was drawn to this issue because of a specific error that I was having, but I think I was using outdated documentation that pointed me to use an old kubeadm (1.4 if i'm not mistaken) after using the official .deb repository and installing

[2017-07-19 23:16] #45183 closed

[2017-07-19 23:18] caesarxuchao commented on #49210
Could it be caused by:

[code]

It's recently updated in https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md.

[2017-07-19 23:37] kow3ns commented on #49135
@bgrant0607 [ref](https://github.com/kubernetes/features/issues/353)

[2017-07-19 23:50] piersbarrios commented on #49198
**Here is how I did it on my side**

[2017-07-19 23:57] billmilligan commented on #43634
I hate to ask the stupid question, but adding"--storage-backend=etcd2" where exactly?  This is a problem for me just trying to run kubeadm init, and I don't see any option like that being accepted by kubeadm.

[2017-07-20 00:07] #49023 closed

[2017-07-20 00:09] piersbarrios commented on #49198
**Here is how I did it on my side: two VMs, (one master, one node)**
FYI: I use nano to edit files

**Vagrantfile**
[code]

I am going to use two terminals, one for each VM. let's call them T1 and T2

**T1:** `mkdir kubernetes_playground && cd kubernetes_playground`
**T1:** add the Vagrantfile
**T1:** `vagrant up && vagrant ssh master`

**T2:** `vagrant ssh minion1`

**T1 & T2:** `sudo su`
(https:

[2017-07-20 00:13] k82cn commented on #46935
@janetkuo , sure, np. let's fix it before #42002.

[2017-07-20 00:23] janetkuo opened #49250 "Open API generates conflicting Operation ID"
**BUG REPORT**:
I found this while adding apps/v1beta2 ReplicaSet (originally extensions/v1beta1) in https://github.com/kubernetes/kubernetes/pull/49238

When updating swagger docs I got this error in swagger-api-server.log:
[code]

I believe it is because of some bugs in open api, see [api/openapi-spec/swagger.json](https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.2/api/openapi-spec/swa

[2017-07-20 00:31] davidopp commented on #48657
ref/ #3138

[2017-07-20 00:40] xiangpengzhao commented on #43634
`storage-backend` is one of the flags of kube-apiserver.
[code]

[2017-07-20 00:41] xiangpengzhao commented on #43634
Oh, sorry. I misread. Did you mean where to set `--storage-backend=etcd2` for kubeadm?

[2017-07-20 00:52] billmilligan commented on #43634
yes, that's exactly what I need ... kubeadm kicks off apiserver, and does so with etc3 settings.  I need to flip that somehow.

[2017-07-20 00:53] billmilligan commented on #43634
... at least, that's my current theory for why apiserver dies a minute or two after starting

[2017-07-20 00:58] caseydavenport commented on #49239
@kubernetes/sig-network-bugs

[2017-07-20 00:59] msau42 commented on #49150
I do strongly suspect there is some networking issue on GKE.  Many other tests are also failing with "connection timed out" errors.  1.7 GKE tests are looking healthy, so it seems like something is broken on master.

/sig network

[2017-07-20 01:00] caseydavenport commented on #49113
/area dns

[2017-07-20 01:03] caseydavenport commented on #49077
Yeah, this doesn't sounds like a Kubernetes issue to me.  If anything it's probably a feature request against flannel.

As mentioned above, seems like Flannel might already have support for this.

/assign

[2017-07-20 01:03] caseydavenport commented on #49077
/close

[2017-07-20 01:03] #49077 closed

[2017-07-20 01:08] evmin commented on #41039
What is the chance that it still gets into 1.8 at the moment? Rough guesstimate is OK.

[2017-07-20 01:09] caseydavenport commented on #48705
@krish7919 can you confirm that this issue is fixed in 1.7?

If so we can close this.

[2017-07-20 01:53] CaoShuFeng commented on #48787
/cc @ixdy @MrHohn @fabiand @luxas
CC some active contributors in addons for advices.
Thanks very much in advance.

[2017-07-20 02:00] xiangpengzhao commented on #49170
/sig ui (maybe)

[2017-07-20 02:10] #48953 closed

[2017-07-20 02:10] tzutalin commented on #43800
Meet the same problem:
* Kubeadm: v1.7.1
* Docker version 17.06
* Run on VirtualBox with ubuntu 16.04 LTS

[2017-07-20 02:31] chengzhang1016 opened #49256 "Wrong HPA condition - ScalingLimited"
**What happened**:
Wrong HPA condition - ScalingLimited
1. I have one rc with 1 replica(current have 1 pod)
2. I have one hpa with spec.minReplicas=1 and spec.maxReplicas=10
HPA condition ScalingLimited is true and described by below, I expect ScalingLimited=false at that time.
[code]

**What you expected to happen**:
I expect ScalingLimited=false at above time

**How to reproduce it (as minimally

[2017-07-20 02:59] xiangpengzhao commented on #48579
@cblecker PR #49258 sent. Reviews welcome! Thanks!

[2017-07-20 03:05] #48260 closed

[2017-07-20 03:05] #48971 closed

[2017-07-20 03:05] #46081 closed

[2017-07-20 03:05] #49233 closed

[2017-07-20 03:10] xiangpengzhao commented on #49243
/remove-sig network

[2017-07-20 03:13] xiangpengzhao commented on #49184
/sig node
/sig instrumentation

[2017-07-20 03:18] xiangpengzhao commented on #49198
/sig cluster-ops

[2017-07-20 03:18] xiangpengzhao commented on #49256
/sig scalability

[2017-07-20 03:20] xiangpengzhao commented on #49000
/sig architecture

[2017-07-20 03:21] xiangpengzhao commented on #48790
/sig architecture

[2017-07-20 03:21] xiangpengzhao commented on #48790
/sig architecture

[2017-07-20 03:29] xiangpengzhao commented on #48596
Could you please provide more details about this? logs or output of `kubectl describe pod`

Also note that you don't mount `etcd-storage`.

/sig node

[2017-07-20 03:31] wu8685 opened #49260 "[feature] Shall we keep controller/scheduler re-campaigning as a follower instead of crashing after leadership lost"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Every time apiserver or etcd unavailable, the controller manager/scheduler leader will choose to crash to give up leadership.

**What you expected to happen**:

Crashing is a convenient way to lose leadership, and it is expected in codes. But a service is not expected to crash caused by the reason not from itself.
In

[2017-07-20 03:44] billmilligan commented on #43800
tzutalin, is your apiservice dying off rather quickly?  With inconsistent logs about how it is dying?  Mine is.

docker ps -a will show a running apiservice for about a minute after I start kubeadm init but dies thereafter without, I think, ever fully coming online.  docker logs <apiservice> gives me nothing I can use.

[2017-07-20 03:59] wu8685 commented on #49260
@kubernetes/sig-cluster-ops-feature-requests
@kubernetes/sig-architecture-feature-requests
@kubernetes/sig-cluster-lifecycle-feature-requests

[2017-07-20 04:18] #49082 closed

[2017-07-20 04:18] #20365 closed

[2017-07-20 04:51] #47613 closed

[2017-07-20 05:23] liggitt commented on #47611
fixed by #47605

[2017-07-20 05:23] #47611 closed

[2017-07-20 05:39] CaoShuFeng commented on #48561
Hi, can we implement a feature that support reading audits by kubectl or [dashborad](https://github.com/kubernetes/dashboard)?
I think this is a common use case.
What's your opinion?

[2017-07-20 06:07] MrHohn opened #49263 "Port collision between kube-proxy and node-problem-detector (standalone mode)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Since k8s v1.7, kube-proxy starts listening on 0.0.0.0:10256 to serve default /healthz traffic from L4 external/internal loadbalancer (https://github.com/kubernetes/kubernetes/pull/44968).

When node-problem-detector runs in [`standalone`](https://github.com/kubernetes/kubernetes/blob/v1.7.1/cluster/gce/config-default.sh#

[2017-07-20 06:10] muffin87 commented on #45688
@moon03432: Thanks for the answer! Yeah right killing node_exporter and flutend will free up the busy resources.

I can reproduce this when I create a Pod and mount /var/lib into the container.
I think this could be a combined problem with CentOS 7.3 and the old kernel and devicemapper docker storage driver.

[2017-07-20 06:29] wojtek-t commented on #49185
@saad-ali thanks for the update. I treat those failure as non-blocker then.

[2017-07-20 06:31] resouer commented on #48759
Sorry, but personally it doesn't feel like a bug >_<

[2017-07-20 06:34] dixudx commented on #49190
/cc

[2017-07-20 06:45] resouer commented on #47604
@ravisantoshgudimetla have you begin design for adding priority to ResourceQuota? I think this is high priority in all remaining tasks.

[2017-07-20 07:08] byungnam opened #49269 "kubeadm init hang up problem when NOT using systemd and selinux"
Hi.

I'm currently trying to install kubernetes for my Gentoo machines with help of the [manual](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) (I know kubernetes manuals are written for Ubuntu or CentOS but I believe a Linux is a Linux and a binary can be executed in any of the distributions). At the beginning, everything went pretty harsh, but I've managed to get to the st

[2017-07-20 07:19] madhusudancs commented on #49213
cc @kubernetes/sig-federation-misc

[2017-07-20 07:21] madhusudancs commented on #49213
This affects federation. Federation test-infra depends on `cluster/` right now. What's the recommended solution for cloud resource provisioning? It's `kubeadm` for cluster turn up, I believe?

[2017-07-20 07:27] davidopp commented on #12140
Design doc from @aveshagarwal : https://docs.google.com/document/d/1KXw02Q0cOF1MUrdpPNiug0yGZlixvPg2SwBycrT5DkE

[2017-07-20 07:33] dixudx commented on #49263
/cc

[2017-07-20 07:38] roberthbailey commented on #49213
What kind of resource provisioning are you thinking of? kubeadm is designed to run on machines that are pre-provisioned. For e2e tests of kubeadm we are currently using kubernetes-anywhere (which uses terraform) to create the VMs on which to run tests.

[2017-07-20 07:51] dorsegal opened #49270 "Pod hostname access from cluster - Help"
Hi,

Is there a way to access a pod by its hostname?
I have a pod with hostname **example-2190400937-qbc0f** that need to connect to another pod
**example-2190400937-fxbdn**

those two pods need to connect directly based on their hostname
what is the best way to achieve this with out services?

[2017-07-20 07:57] dorsegal commented on #49270
/sig network

[2017-07-20 08:04] wojtek-t opened #49272 "kubeadm jobs from 1.7 branch are failing"
Both kubeadm jobs from 1.7 branch are failing now:
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-kubeadm-1.7
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-kubeadm-1.6-on-1.7

This is a result of broken PR submitted by @fejta in test-infra repo.

Those tests were supposed to be fixed by:
https://github.com/kubernetes/test-infra/pull/3589 by @krzyzacy but apparently that didn

[2017-07-20 08:05] wojtek-t commented on #49272
I talked with @luxas offline and he said that "it shouldn't block the 1.7.2 release though".

[2017-07-20 08:06] obeattie commented on #12140
@davidopp I can't access this doc. Is it perhaps only available to a mailing list I'm not on, or is intentionally private for now? 🙃

[2017-07-20 08:13] csbell commented on #49213
The dependency seems to be mostly on some of the cluster bash lib utilities
(cluster/lib/logging.sh) and some wrappers kubectl.sh. Copying the relevant
bits to federation/cluster/common.sh might be workable.

Since federation tests are blocking, any attempts to move cluster/ will
show be apparent.

On Thu, Jul 20, 2017 at 12:38 AM, Robert Bailey <notifications@github.com>
wrote:

[2017-07-20 08:13] resouer commented on #48703
cc @Random-Liu Is this a known issue? Not only one user reported this.

[2017-07-20 08:17] csbell commented on #49221
/assign @shashidharatd

[2017-07-20 08:19] wojtek-t commented on #49185
I looked into logs and those are as following:
[code]

I will check if I can change permissions in that project.

[2017-07-20 08:23] wojtek-t commented on #49185
@fejta @krzyzacy - seems like this has been broken by move to prow or sth like that.
Can you please fix?

[2017-07-20 08:31] wanghaoran1988 commented on #49269
/sig cluster-lifecycle

[2017-07-20 08:36] loburm commented on #47853
I have added small heuristic to the heapster, that will not allow him to report metrics multiple times for the same container.

@yguo0905 Should we close this issue, or you want also to change behavior of kubelet?

[2017-07-20 08:48] krish7919 commented on #48705
@caseydavenport The commit above does fix the issue. However, I have not personally tested it as I run on Azure managed Kubernetes and it hasn't updated to v1.7 yet.

Is there any way the Azure team can update us on this?

[2017-07-20 08:49] dev-security commented on #29540
Please, could anyone help with the solution?  What's the solution? @dchen1107 I do not see the fix / updated solution in @anuribs post. Thanks a lot!

[2017-07-20 08:52] ZhijiaYang opened #49277 "A simple code bug in schedulercache add opaque resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

[code]
OpaqueIntResources is a map, and do not init in NewRes***  . I think  maybe gen panic when AddOpaque called

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider

[2017-07-20 08:57] dixudx commented on #49221
This test passes in my local env. Also passed in [latest 48217/pull-kubernetes-unit](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48217/pull-kubernetes-unit/41708/).

This issue can be closed now I think.

[2017-07-20 08:59] ramur opened #49279 "conjure-up kubernetes-core not starting"
BUG
While launching the conjure-up kubernetes-core, it just hangs. No response from the window for quite some time.

Not sure how to proceed to next step.

This produces log in conjure-up.log

2017-07-20 01:55:05,514 [DEBUG] conjure-up/kubernetes-core - utils.py:392 - Pulling bundle for kubernetes-core from channel: stable
2017-07-20 01:55:09,471 [DEBUG] conjure-up/kubernetes-core - utils.py:581 -

[2017-07-20 09:00] luxas commented on #49272
No, since the jobs have been green between the infra regressions, this is an infra-only problem.

I have no idea why, but https://github.com/kubernetes/test-infra/pull/3589 fixed "only" 4 of 6 kubeadm suites, these jobs are still failing with the same `flag provided but not defined: -gcp-project` error:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.7
https://k8s-testgrid.app

[2017-07-20 09:03] wojtek-t commented on #49272
Those are running on prow so Jenkins is no longer involved. I looked into current prow config in "k8s-prow" GCP project and the config looks as expected there.

I have no idea what is happening there...

[2017-07-20 09:03] luxas commented on #48787
@CaoShuFeng why should this go into core? The `cluster/`directory is deprecated and we're not planning to add new functionality in there, but rather move things away from it.

cc @kubernetes/sig-node-feature-requests for this general idea. This might be solvable in various other ways than making a DaemonSet addon and putting it in `cluster/addons/`

[2017-07-20 09:07] jenningsloy318 opened #49281 "kubelet --cgroup-root error"
Hi I tried to setup kublet with a customized cgroup, but now working, below is my configuration:

environment: ubuntu 16.04.02
docker: 1.12.6 configured cgroup with system
cgroup: create a container.slice, and place docker service in this slice, and also set docker's cgroup-parent into container.slice

kubelet:  start kubelet within  container.slice, and configured   --cgroup-driver=systemd and --

[2017-07-20 09:19] jenningsloy318 commented on #49281
/area kubelet

[2017-07-20 09:30] luxas commented on #47174
cc @wanghaoran1988 this maybe could be a good task for you... :)

[2017-07-20 09:35] weiwei04 commented on #43363
@xiang90 since which etcd release the threshold changed to 100ms, I'd like to upgrade to a newer version, thanks!

[2017-07-20 09:38] wanghaoran1988 commented on #47174
@luxas Cool, thanks for point me this.

[2017-07-20 09:41] kargakis commented on #49221
@dixudx any idea what fixed it?

[2017-07-20 09:42] luxas commented on #47174
You basically only have to implement these `kubectl` commands as an e2e test initially (by impersonating a node in the cluster). Then when that's done, we can check if there are more than these four cases that needs to be verified.

This should go under a separate `Feature:NodeAuthorizer` and be enabled in deployments (like kubeadm) where nodes have unique credentials.

[2017-07-20 10:03] xiangpengzhao commented on #49281
/sig node

[2017-07-20 10:03] xiangpengzhao commented on #49279
/sig onprem

[2017-07-20 10:04] xiangpengzhao commented on #49277
/sig scheduling

[2017-07-20 10:09] wanghaoran1988 commented on #12140
@obeattie I guess you should join [sig scheduling mail list](https://groups.google.com/forum/#!forum/kubernetes-sig-scheduling)

[2017-07-20 10:15] php-coder opened #49287 "Encryption configuration file: show a warning when the file is readable to all"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
PR #46460 introduces a new configuration file that is specified by the `--experimental-encryption-provider-config` option to the api server and contains a sensitive data -- keys that are used for encrypting/decrypting data in the ectd.

At this moment, Kubernetes reads this file and doesn't do any extra check to ensure

[2017-07-20 10:17] php-coder commented on #49287
/sig auth

[2017-07-20 10:19] duan-yue commented on #49277
It is not bug.  ```A nil map behaves like an empty map when reading, but attempts to write to a nil map will cause a runtime panic``` from [here](https://blog.golang.org/go-maps-in-action).

[2017-07-20 10:20] kikiyou opened #49288 "Manual upgrade 1.5.1 to 1.6.7"
kube-apiserver mouch err log

E0720 10:06:54.197481       1 cacher.go:274] unexpected ListAndWatch error: k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/storage/cacher.go:215: Failed to list *certificates.CertificateSigningRequest: no kind "CertificateSigningRequest" is registered for version "certificates.k8s.io/v1alpha1"
E0720 10:06:55.202607       1 cacher.go:274] unexpected ListAndWatch error:

[2017-07-20 10:32] php-coder opened #49290 "Encryption configuration file: don't try to read the file fully"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig auth

**What happened**:
PR #46460 introduces a new configuration file that is specified by the `--experimental-encryption-provider-config` option to the api server.

At the current implementation, [`ParseEncryptionConfiguration` uses `ioutil.ReadAll()` to load this file](https://github.com/kubernetes/kubernetes/blob/2853f46b02c86327

[2017-07-20 10:36] mdaley opened #49291 "Broken concourse workers when upgrading cluster to 1.7.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

When we upgraded our cluster to Kubernetes 1.7.0 from 1.6.4 we found that our Concourse installation stopped working.  We managed to fix the problem after much googling by changing the yaml for stateful sets in the concourse chart.  It seems the v1beta1 specification in the podAntiAffinity area has changed.

In stable/concourse/templates/wo

[2017-07-20 10:56] kargakis opened #49292 "Stage flake"
Seeing this a lot lately
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49289/pull-kubernetes-kubemark-e2e-gce/40750/#stage
@kubernetes/sig-release-test-failures
/kind flake

[2017-07-20 10:57] csbell commented on #47978
I suspect the "wait for rbac" in federation-up.sh might have to be backported. Also, it's not immediately clear to me why we are testing a v1.8.0-alpha.2.530+35d6cf086c38f4 in a 1.6 branch.

/assign @madhusudancs

[2017-07-20 10:58] lukaszo commented on #46935
I've always thought that there is some kind of periodic resync which checks all daemons and should handle this issue. It's even mentioned in some code comments.
Does it even work? Or how does it work?

[2017-07-20 11:06] wojtek-t commented on #49272
I think we missed the fact that they didn't run since the new config was deployed yesterday (because they are configured as postsubmit).

That said, I kicked them manually now and they are still failing, e.g.:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-7/80/

I have no idea why this doesn't really work...

[2017-07-20 11:07] lukaszo commented on #48841
For deployments it's one strategy. I think for all controllers we should make strategies as similar as possible.

[2017-07-20 11:10] mdaley commented on #49291
Wrong place, sorry.

[2017-07-20 11:10] #49291 closed

[2017-07-20 11:10] jsafrane commented on #36092
/assign @rootfs
is it still an issue?

[2017-07-20 11:13] wojtek-t commented on #49272
OK - I know what is going on - the rerun command actually contains the old image.
Will try to play with it...

[2017-07-20 11:19] wojtek-t commented on #49272
OK - it seems that I managed to successfully kick those jobs and now they seem to be doing something useful (i.e. we fixed the problem of bad image):
https://prow.k8s.io/log?job=ci-kubernetes-e2e-kubeadm-gce-1-6-on-1-7&id=73
https://prow.k8s.io/log?job=ci-kubernetes-e2e-kubeadm-gce-1-7&id=82

[2017-07-20 11:19] wojtek-t commented on #49272
So I hope that kubeadm jobs will get back to healthy soon-ish.

[2017-07-20 11:57] xiangpengzhao opened #49295 ""kubectl edit svc foo" fails to update ports"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig cli
/cc @deads2k @fabianofranz

**What happened**:
#48579 describes an issue about updating service to NodePort type gets port lost (Repro steps: https://github.com/kubernetes/kubernetes/issues/48579#issuecomment-316324543). Service update has a bug associated with this issue and PR #49258 is trying to fix it.

When I verify #49258 on my

[2017-07-20 12:03] deads2k commented on #49295
@kubernetes/sig-cli-bugs

[2017-07-20 12:04] xiangpengzhao commented on #49295
Furthermore, if I add a UDP port with different port number by `kubectl edit`, it works!

[code]

result printing:
[code]

[code]

[2017-07-20 12:19] xiangpengzhao commented on #49295
May have something to do with #47249

@mengqiy since you self-assigned that issue, any progress on it?

[2017-07-20 12:20] xiangpengzhao commented on #47249
Any updates here?

xref: #49295

[2017-07-20 12:26] jmastr commented on #43988
FYI here you find a nice workaround, that I am currently testing: https://github.com/coreos/bugs/issues/1965

[2017-07-20 12:27] wojtek-t commented on #49272
The first one already succeeded:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-7/82/

I hope the second will succeed too soon.

[2017-07-20 12:29] mrIncompetent opened #49297 "AWS Cloud-Controller-Manager hanging during security-group deletion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I created a service of type LoadBalancer and afterwards i tried deleting the service.
The CCM deleted the LB but was hanging during security-group deletion.
The CCM was hanging there until i removed the rule from the parent security group.
After this everything was fine again.

Relevant logs (LB Creation)
[code]

Relevant logs (LB D

[2017-07-20 12:30] mrIncompetent commented on #49297
/sig aws

[2017-07-20 12:33] wojtek-t commented on #49272
OK - both passed. Closing this issue.

[2017-07-20 12:33] #49272 closed

[2017-07-20 12:44] dixudx commented on #49221
@kargakis I tried, but didn't find anything. It cannot reproduce right now. And that log did not show anything valuable.

[2017-07-20 12:49] luxas commented on #49272
@wojtek-t Thanks for restarting those jobs!

[2017-07-20 13:09] jamiehannaford commented on #46822
@xiangpengzhao I think this is going to take a bit of work to do, because lots of the current codebase is coupled to the current global state. I'm seeing a lot of flagset errors when I try to decouple it. Unfortunately I don't have much bandwidth at the moment to dedicate to this, but might be able to circle back in a few weeks.

[2017-07-20 13:13] byungnam commented on #49269
/area kubeadm
/help-wanted

[2017-07-20 13:26] jianzhangbjz commented on #49277
Please note that the initialization statement at the `SetOpaque` function.

[2017-07-20 13:32] duan-yue commented on #49277
Reading a nil map won't panic. This is also very simple to test.

[2017-07-20 13:54] xiangpengzhao commented on #49295
Will #46161 fix this? But the PR says `Support multifields merge key for new APIs. All fields are required to present.Not affecting existing APIs.`

[2017-07-20 14:10] Hetkoekje opened #49301 "Loadbalancer not scaling linear"
We made a very simple Node JS REST API for testing / benchmarking the LoadBalancer.
When it receives a request, it waits one second, then sends a response containing the network interfaces of the host (so you can see from which Cluster Node the response came from).
Every requests is handled completely synchronously after another, so a queue will be formed.

According to the documentation, the Load

[2017-07-20 14:13] xiangpengzhao commented on #46822
@jamiehannaford thanks for your work on this! I really appreciate it! Hope we will find an ideal solution:)

[2017-07-20 14:19] luxas commented on #49297
cc @wlan0 @thockin @justinsb

[2017-07-20 14:21] luxas commented on #49269
Please reopen this in https://github.com/kubernetes/kubeadm

[2017-07-20 14:21] #49269 closed

[2017-07-20 14:22] luxas commented on #49236
Can we please keep `--pod-manifest-path` and the checkpointing location separate @timothysc?
I think that would make sense, right now I don't have a clear idea how those interact with each other...

[2017-07-20 14:43] tiny1990 opened #49304 "build source code err"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
make release-skip-tests quick-release  err
[code]

**How to reproduce it (as minimally and precisely as possible)**:
wget https://github.com/kubernetes/kubernetes/archive/v1.7.1.tar.gz
cd kubernetes
make release-skip-tests quick-release

**Environment**:
- Kernel (Linux VM_95_198_centos 3.10.0-327.36.3.el7.x86_64)
- Docke

[2017-07-20 14:47] luxas commented on #49236
Because this is an alpha feature and `--pod-manifest-path` is very well-known to be `/etc/kubernetes/manifests` (I don't want to change that) and read-only for the kubelet.

Changing this in one go seems like a drastic change IMO. I think it's much better to separate from where the kubelet reads manifests that are known to be admin-only maintained and read-only for the kubelet and have a separate

[2017-07-20 14:50] Hetkoekje commented on #49301
/kind bug

[2017-07-20 14:50] Hetkoekje commented on #49301
/sig scalability

[2017-07-20 15:06] luxas opened #49306 "Make it possible to authenticate a Bootstrap Token in different groups"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

It should be possible to set `auth-groups` or a similar key on a Bootstrap Token Secret to get the BootstrapTokenAuthenticator add those group(s) when authenticating.
This has many benefits, but primarily that it's possible to give different Bootstrap Tokens different identities.

For example, you may want to have one Bootstrap Token on

[2017-07-20 15:10] ravisantoshgudimetla commented on #47604
@resouer I had change of priorities at my workplace because of which I will not be able to work on this issue this quarter. I had an offline discussion with @bsalamat on this. Please feel free to pick this up in case you are interested.

[2017-07-20 15:11] luxas commented on #49306
@mattmoyer will take ownership over implementing this :tada:

[2017-07-20 15:18] php-coder commented on #49024
/assign php-coder

[2017-07-20 15:24] pizzarabe commented on #48703
Is this issue related to the current cAdvisor bug? (https://github.com/kubernetes/kubernetes/issues/48483)

[2017-07-20 15:28] ecebuzz commented on #41711
Yes, it would be great to reopen this.

[2017-07-20 15:36] xiangpengzhao commented on #49304
/sig release

[2017-07-20 15:42] githubvick commented on #49228
@dixudx I'm trying to make this work atleast with the conf file.

When I specify this way

KUBE_CONTROLLER_MANAGER_ARGS="--kubeconfig=/etc/kubernetes/controller-manager.kubeconfig --service-account-private-key-file=/etc/kubernetes/certs/server.key --root-ca-file=/etc/kubernetes/certs/ca.crt --cloud-provider=azure --cloud-config=/etc/azure/azure.conf"

It starts properly, but fails when I try to de

[2017-07-20 15:57] timothysc commented on #49236
I dunno about "drastic" but I can buy your argument.   ;-)

[2017-07-20 15:58] prydie opened #49308 "Extend cloudprovider Zones API to support out-of-tree CCMs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm currently part of a team working on implementing an out-of-tree cloud controller manager (CCM) for [Oracle Bare Metal Cloud][4].

For in-tree cloud-providers the [`cloudprovider.GetZone()`][1] method is [called from `kubelet`][2]. This allows in-tree cloud providers to implement [`GetZone()`][1] by querying local met

[2017-07-20 16:01] prydie commented on #49308
@kubernetes/sig-cluster-lifecycle-proposals

[2017-07-20 16:05] #49304 closed

[2017-07-20 16:07] #48984 closed

[2017-07-20 16:19] wlan0 commented on #49308
@pyrdie Thanks for filing the issue. This is definitely required.

I am in favor of creating the new method -`GetZoneByProviderID(providerID string)`

If we update the existing `GetZone()` to take in NodeName as a parameter, then it'll break the contract for all the existing in-tree and out-of-tree cloudproviders when they rebase to a newer kubernetes revision.

I'd be happy to look at a PR if you

[2017-07-20 16:23] roberthbailey commented on #49308
/cc @thockin

[2017-07-20 16:25] yujuhong commented on #47853
I think it's still a good idea to add the safety in kubelet. @yguo0905 already has a PR #48739 up. I haven't had time to review yet though.

[2017-07-20 16:55] prydie commented on #49308
@wlan0 Great! The `GetZoneByProviderID(providerId string)` solution seemed the obvious one to me also.

I'll put a PR together early next week presuming the other relavent parties are happy with that solution.

[2017-07-20 17:05] mengqiy commented on #49295
The root cause is that `port`(port number) is the MergeKey for `ports`, but it can't uniquely identify the ports. In this case, different protocols with same port number is valid, but they cannot be distinguished by port number only.

#46161 alone no. I have another proposal https://github.com/kubernetes/community/pull/476 trying to solve the port issue, but it may give us the burden to maintain 2

[2017-07-20 17:23] spxtr commented on #49185
That is the project in which we are running the tests. Please do not give kubekins or pr-kubekins svc accounts access to that project. Probably some tests are misconfigured to point to that project by default or something.

[2017-07-20 17:29] sakshamsharma commented on #49290
How big of a file should we allow? How about 10 KB?

[2017-07-20 17:32] krzyzacy commented on #49185
wait what how?

[2017-07-20 17:33] krzyzacy commented on #49185
ok I think I know what was going on

[2017-07-20 17:42] php-coder commented on #49290
How about 100Kb? The size doesn't matter because it's trivial to change it.

[2017-07-20 18:03] timothysc opened #49313 "RFE: Policy on version e2es"
**FEATURE REQUEST**:
Objective: Ensure a newer build of e2e tests can run a the tests on older clusters without having failures.

Currently if a new feature adds coverage to the e2es there is no version information that denotes that this feature is new and may not work on an older version.  We should ensure that the e2es in question check the server version and make certain >= to the version it wa

[2017-07-20 18:04] crimsonfaith91 commented on #49250
I also have the same bug for statefulset (working on a statefulset PR).

[2017-07-20 18:07] alena1108 opened #49314 "Pod that failed to bind, stuck in Pending state forever"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Pod got stuck in Pending state forever when failed to bind to host.

**What you expected to happen**:

For it to be rescheduled on another host

**How to reproduce it (as minimally and precisely as possible)**:

Not always reproducible. But simply created an RC replicas=2 on a 3 host setup, and one of the Pods got stuck

[2017-07-20 18:12] janetkuo commented on #49250
cc @pwittrock

[2017-07-20 18:28] roberthbailey commented on #48841
We *want* to use DaemonSet rolling updates but it doesn't currently meet our needs. I feel like that is feedback that should be taken into account as we promote this API towards GA.

[2017-07-20 18:30] roberthbailey commented on #48841
@kow3ns -

I'm not sure I understand. If we "create then delete" for the controller manager and the scheduler, then we will have two copies running before we delete the old one. So in both cases there won't be a time window during which there is no binary that keeps the control plane functional.

[2017-07-20 18:51] mtanino opened #49319 "local-up-cluster.sh always fail with "Timed out waiting for apiserver""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
#49072

**What happened**:

After this commit was introduced, local-up-cluster.sh always fail with "Timed out waiting for apiserver" error.

[code]

I'm not sure the reason but the local-up-cluster.sh successfully start if I specify ENABLE_RBAC=true option to local-up-cluster.sh.

**What you expected to happen**:

The local-up-cluster.sh wil

[2017-07-20 18:53] yujuhong opened #49320 "pull-kubernetes-federation-e2e-gce flaking because `Your "OAuth 2.0 Service Account" credentials are invalid`"
Examples:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49107/pull-kubernetes-federation-e2e-gce/16140/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49266/pull-kubernetes-federation-e2e-gce/16109/

[code]

[2017-07-20 18:54] RenaudWasTaken commented on #49319
I've noticed that If you revert the change, once the cluster is started curling the healthz in https works

[code]

It might be a waiting problem

[2017-07-20 19:00] dgoodwin commented on #49042
PR up with a different approach that felt better than the one in previous comment.

[2017-07-20 19:03] mtanino commented on #49319
@RenaudWasTaken

The patch applied following two fixes. Seems extending wait time fixes my original problem on #47739, but I'm not sure why API endpoint was changed to https.

- Wait 20 sec for starting API server
- Change API server's endpoint from http to https.

[2017-07-20 19:13] cblecker commented on #49320
@kubernetes/test-infra-maintainers

[2017-07-20 19:16] krzyzacy commented on #49320
the actual failure is `Duplicate type [0:0:4]`

[2017-07-20 19:19] yujuhong commented on #49320
Ah...that's a very subtle error.

[2017-07-20 19:19] janetkuo commented on #49320
Saw this in `pull-kubernetes-e2e-gce-etcd3` as well.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48746/pull-kubernetes-e2e-gce-etcd3/41868/

[2017-07-20 19:22] caesarxuchao opened #49324 "client-gen, lister-gen, and informer-gen should use same input in hack/update-codegen.sh"
Currently client-gen gets its groupversions input from the [hard coded list](https://github.com/kubernetes/kubernetes/blob/master/hack/update-codegen.sh#L58) in hack/lib/init.sh, but lister-gen/informer-gen get the list by [find k8s.io/api -name types.go](https://github.com/kubernetes/kubernetes/blob/master/hack/update-codegen.sh#L82). It causes non-obvious compile error if someone adds a new API

[2017-07-20 19:23] fejta commented on #49185
This is not a regression caused by https://github.com/kubernetes/kubernetes/blob/release-1.7/test/e2e/framework/test_context.go#L206

This is actually a bug in the test. This particular line of code is making [a raw gcloud](https://github.com/kubernetes/kubernetes/blob/release-1.7/test/e2e/storage/pd.go#L452).

Instead this should be passing `--project=cloudConfig.ProjectId` from [text_context.go]

[2017-07-20 19:23] EmiPhil commented on #33483
For anyone looking for docs on this, I've found the Google Kubernetes ILB docs to be sufficient: [https://cloud.google.com/container-engine/docs/internal-load-balancing](https://cloud.google.com/container-engine/docs/internal-load-balancing)

[2017-07-20 19:24] krzyzacy commented on #49320
I was suspecting that might be gsutil, haven't took a close look yet.

[2017-07-20 19:35] garethr opened #49325 "Issue with array type descriptions in OpenAPI Schema"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Validating a description of a deployment with a null `args` value against the JSON Schema from the OpenAPI document throws a validation error.

**What you expected to happen**:

Validating a description of a deployment with a null `args` value against the JSON Schema from the OpenAPI document does not throw a validation

[2017-07-20 19:46] janetkuo commented on #49320
Another one: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49238/pull-kubernetes-federation-e2e-gce/16157/

[2017-07-20 19:47] castrojo commented on #49319
/sig cluster-lifecycle

[2017-07-20 19:50] xiangpengzhao commented on #49314
/sig scheduling

[2017-07-20 19:52] plombardi89 commented on #43800
Just hit this issue! Sigh... sadness :(

```kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.1", GitCommit:"1dc5c66f5dd61da08412a74221ecc79208c2165b", GitTreeState:"clean", BuildDate:"2017-07-14T01:48:01Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}```

CentOS 7 and latest packages

Docker

[code]

[2017-07-20 19:59] nicksardo commented on #33483
There's a port collision between the kube-proxy health check server and the node problem detector. As a result, health checks for ILB fail unless the service has externalTrafficPolicy: Local. https://github.com/kubernetes/kubernetes/issues/49263
Sounds like this will be fixed in 1.7.2.

[2017-07-20 20:02] cmluciano commented on #40182
@bboreham Do we think this should be closed with a note to CNI plugins? I agreed that embedding this within kubelet or kubenet may make too many assumptions.

[2017-07-20 20:04] cmluciano commented on #40182
cc @dcbw @caseydavenport @squeed @dnardo

[2017-07-20 20:12] castrojo commented on #43120
Please re-post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see mess

[2017-07-20 20:13] castrojo commented on #43120
/assign

[2017-07-20 20:13] castrojo commented on #43120
/close

[2017-07-20 20:13] #43120 closed

[2017-07-20 20:14] castrojo commented on #40847
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-07-20 20:14] castrojo commented on #40847
/assign

[2017-07-20 20:14] castrojo commented on #40847
/close

[2017-07-20 20:14] #40847 closed

[2017-07-20 20:18] krzyzacy commented on #49320
/assign @ixdy

might wanna look into it

[2017-07-20 20:36] garethr commented on #49325
@kubernetes/sig-api-machinery-bugs

[2017-07-20 20:54] madhusudancs commented on #47978
I have mentioned this before. We did pretty much all the work to stabilize federation tests in v1.6 time frame, but things quite did not make the v1.6 cut. So 1.7+ is when federation tests are expected to be stable.

[2017-07-20 20:57] lavalamp commented on #49075
I am not sure it is a good idea to make decisions based on nil vs {}, is this important for something?

[2017-07-20 21:00] lavalamp commented on #49190
cc @bsalamat

[2017-07-20 21:01] lavalamp commented on #49190
SIG API Machinery doesn't own the *contents* of the API--we only need to be involved if the mechanism needs to be general.

[2017-07-20 21:02] madhusudancs commented on #49213
VMs, network, etc. We just need kubernetes clusters running on GCE like most other kubernetes tests would need, with an exception that we need multiple clusters instead of one and some additional network configuration. It has been a while since I last tried kubernetes-anywhere, so may be that's an alternative worth evaluating.

Federation tests are entirely built on top `kube-{up,down}.sh`. They a

[2017-07-20 21:05] lavalamp commented on #49199
What does the title have to do with the content?

I do not think we want to validate this, to allow custom resources?

At any rate, this doesn't have to do with api machinery as far as I can tell. maybe node or scheduling?

[2017-07-20 21:08] lavalamp commented on #49200
It is not obvious that this is actually an important layering problem? What bad thing happens if the metrics api depends on the core API? I don't think the core API would ever depend on the metrics API, so it shouldn't be a problem in the future?

[2017-07-20 21:10] #49106 closed

[2017-07-20 21:11] lavalamp commented on #49208
Please ask @caesarxuchao for a review / discussion if you want to make changes here.

[2017-07-20 21:14] krzyzacy commented on #49185
/unassign
/unassign @fejta
/assign @saad-ali

This is probably going to pass now since I added `gcloud config set project` back, but still please fix the test to use the right test-context, we'll probably remove that call and fix everywhere not using the context properly instead.

[2017-07-20 21:18] lavalamp commented on #48321
If there's not a test, there should be.

[2017-07-20 21:20] lavalamp commented on #48215
/assign @jpbetz

[2017-07-20 21:23] lavalamp commented on #48211
I think code dealing with maps like this needs to handle both possibilities. That's just defensive coding :/

Functions can of course be written to make the error handling less verbose.

[2017-07-20 21:25] lavalamp commented on #48198
While we're at it, do we really need multiple constructors for these informers?

[2017-07-20 21:28] lavalamp commented on #48195
Can you clarify what you are hoping your example would cause the system to do?

[2017-07-20 21:28] bjhaid commented on #48215
@lavalamp I actually have a WIP for this and was going to PR this tomorrow

[2017-07-20 21:29] jpbetz commented on #48215
Loosely related to this- Etcd's own /health endpoint will start correctly reporting as unhealthy when any alarms are triggered: https://github.com/coreos/etcd/pull/8272

[2017-07-20 21:34] bjhaid commented on #48215
@jpbetz that will not solve the motivation for this issue, the apiserver was fenced off from having a network communication with etcd and the healthz endpoints still reported healthy, even though all critical api requests were failing

[2017-07-20 21:39] tallclair commented on #48561
I think audit logs should be exposed similarly to other master/apiserver logs. I'm hesitant to build a custom audit log solution.

[2017-07-20 21:56] Rev1408 opened #49329 "kubernetes service exposing shellinabox timeout after approx. 60 seconds"
I have kubernetes installed on bare metal ubuntu server, below is the output of kubectl version command

I am running google shellinabox inside a docker container. It all works well with the docker container, but when I put the same image inside a kubernetes pod and expose it with a kubernetes service, my browser session to shellinabox times out after ~60 secs. Since this works fine with standalon

[2017-07-20 22:02] cmluciano commented on #46379
looking into this more I think it might be a storage flake that's hiding the NFS errors.

[2017-07-20 22:03] cmluciano commented on #46379
this is a dupe, closing in favor of https://github.com/kubernetes/kubernetes/issues/49243

[2017-07-20 22:04] cmluciano commented on #46379
/assign

[2017-07-20 22:04] cmluciano commented on #46379
/close

[2017-07-20 22:04] #46379 closed

[2017-07-20 22:08] #49105 closed

[2017-07-20 22:27] zihaoyu opened #49331 "Kubelet gets throttled by AWS metadata service and becomes NotReady"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We run Kubernetes in AWS. When cluster is scaled up to hundreds of minions, `kubelet` starts to get throttled by AWS when it tries to get node metadata and updates status.

[code]

Because of the failure the minion becomes `NotReady` and pods become `Unknown`.

**What you expected to happen**:

**How to reproduce it

[2017-07-20 22:29] janetkuo commented on #49250
Just sync with @mbohlool offline. Open API expects kind name to be unique (such as `PodStatus`, `DeploymentStatus` for `status` subresource). Because `Scale` kind name is not unique, it generates conflicting Operation ID `...ScaleScale` for both Deployments, ReplicaSets, and StatefulSets.

@mbohlool is trying to fix the root cause. If that's too much work for 1.8, here's a hack that we can potenti

[2017-07-20 22:30] zihaoyu commented on #49331
/sig aws

[2017-07-20 22:40] janetkuo commented on #46934
Current plan:

* Deprecate this field in extensions/v1beta1 Deployment
* We won't support /rollback endpoint for apps/v1beta2 Deployment
  * We will add an `deprecated.rollback.to=<revision>` annotation (tentative name) for conversion between apps/v1beta2 and extensions/v1beta1 Deployment
* Deployment controller will continue supporting rollback behavior for backward compatibility

[2017-07-20 22:42] shyamjvs commented on #46195
The issues we originally saw are potentially outdated now. But I've studied the last few flakes and there are 3 kinds of them:
- listNodes after up'ing e2e cluster fails : solved this by checking api reachability (with retries) before doing that [e.g runs 16865, 16860, 16848, 16839, ..]. Ref kubernetes/test-infra#3616
- failing while checking AllNodesReady as AfterSuite : solved by not letting the

[2017-07-20 22:55] enisoc commented on #46935
@lukaszo wrote:

I thought so too, but as far as I can tell, the default period is 12 hours and the randomized value could be up to 2x that, so we can't really rely on it for this kind of problem.

https://github.com/kubernetes/kubernetes/blob/b66be98174fb0257619c218f51246511d6160beb/cmd/kube-controller-manager/app/options/options.go#L84

[2017-07-20 23:06] msau42 opened #49335 "All the GCI gce nfs and gluster tests are failing"
[testgrid](https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce&sort-by-failures=)
[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/11643)

We suspect that #49157 caused the failures.

/sig storage
/kind bug

[2017-07-20 23:06] msau42 commented on #49335
/assign @jingxu97

[2017-07-20 23:18] janetkuo opened #49336 "Clean up deprecated DaemonSet templateGeneration field"
We already announced deprecation of `.spec.templateGeneration` of extensions/v1beta1 DaemonSet in 1.7.

Moving forward in 1.8, we'll need to:
* Add an `deprecated.daemonset.template.generation=<generation>` annotation (tentative name) to support conversion between extensions/v1beta1 DaemonSet and apps/v1beta2 DaemonSet.
* Keep existing `templateGeneration` behavior for backward compatibility.

@ku

[2017-07-20 23:18] Sartner commented on #47131
the same problem
etcd 3.1.7
k8s: 1.6.7

[2017-07-20 23:19] bboreham commented on #40182
Not sure whether a "note to CNI plugins" is enough.  For an install at GCP, using the CNI `bridge` plugin, who would read the note?

I could see you making it a _requirement_ on CNI plugins, i.e. create an issue for the `bridge` plugin and write into the Kubernetes documentation that Kubernetes has this requirement on any CNI plugin, if used with Docker 13+.

[2017-07-20 23:25] krzyzacy commented on #49320
seems https://github.com/kubernetes/release/blob/master/push-build.sh#L183-L193 should retry, but instead sig ERR is tossed?

cc @kubernetes/release-maintainers

[2017-07-20 23:28] #49263 closed

[2017-07-20 23:29] crimsonfaith91 commented on #49250
+1 for temp fix

[2017-07-20 23:40] divyenpatel commented on #48929
@matlockx we can close this.
I have made this clear in the documentation.
PR: https://github.com/kubernetes/kubernetes.github.io/pull/4418

Mentioned VM name constraints and provided note that says "After enabling the vSphere Cloud Provider, Node names will be set to the VM names from the vCenter Inventory."

[2017-07-20 23:47] smarterclayton opened #49338 "Sketch design: API response paging for large data sets"
With the move to etcd3, efficient paging from clients down to the underlying store is now possible.  A number of issues have been opened around this (https://github.com/kubernetes/kubernetes/issues/2349).

## Problem statement:

On large clusters, performing large queries (GET /api/v1/pods, GET /api/v1/secrets) can cause several problems:

* Large reads to etcd block writes to the same range (http

[2017-07-20 23:57] smarterclayton commented on #49338
See #48921 for a design exploration.  I did some testing on a very large data set (100k secrets, 10k namespaces, 10k pods, about 1 million keys) and peak memory load during controller restart was significantly reduced.  For a migration job running using paging, it meant that clients started processing results almost immediately instead of having to wait to receive the full data set size.

[2017-07-20 23:59] smarterclayton commented on #49338
@kubernetes/sig-scheduling-misc @kubernetes/sig-api-machinery-misc We've been exploring how very large clusters work in practice - I think paging could be a very low cost win for large clusters based on the explorations so far.

[2017-07-21 00:02] #45973 closed

[2017-07-21 00:02] #49319 closed

[2017-07-21 01:08] dims commented on #49320
@k8s-oncall i am seeing this in pull-kubernetes-e2e-gce-etcd3 as well

example - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/49299/pull-kubernetes-e2e-gce-etcd3/41874/build-log.txt

[2017-07-21 01:30] cmluciano commented on #40182
The latter was my thinking.

The bridge plugin seems to already do this https://github.com/containernetworking/plugins/blob/master/plugins/main/bridge/bridge.go#L303.

[2017-07-21 01:33] xiangpengzhao commented on #48985
/assign @caesarxuchao

[2017-07-21 01:40] wangxinnong commented on #48776
You can pass the argument as the following:
'"client-id=myproxy:oa4mp,2012:/client_id/<my_client_id_string>"'
or:
`"client-id=myproxy:oa4mp,2012:/client_id/<my_client_id_string>"`
(double quotes are contained in single quotes or backquotes)

#kubectl config set-credentials user1 --auth-provider=oidc --auth-provider-arg='"client-id=myproxy:oa4mp,2012:/client_id/<my_client_id_string>"'

The kubeconf

[2017-07-21 01:41] wirehead opened #49343 "kubectl in-cluster mode conflicts with --request-timeout"
/kind bug

**What happened**:

From a container running inside of a cluster:
[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

- Run a container with kubectl installed (I used an Ubuntu container)
- `kubectl get po` <- this works
- `kubectl get po --request-timeout=11s` <- this fails

**Anything else we need to know?**:

Looking th

[2017-07-21 01:48] d-grigorenko commented on #49331
this is another flavor of https://github.com/kubernetes/kubernetes/issues/16593 The fix applied there https://github.com/kubernetes/kubernetes/pull/16633/files just moved the hotspot from AWS API to ec2metadata service.

In broader sense this ticket https://github.com/kubernetes/kubernetes/issues/19124 points out that cloud provider API unavailability causes nodes become NotReady. This https://git

[2017-07-21 01:57] dixudx commented on #49228
@githubvick This seems to be another issue. Would you please open a new issue for tracking. Also I want to identify that you're still using v1.5.2, right? Please also add a new argument `-v 1` to `KUBE_CONTROLLER_MANAGER_ARGS` to enable more loggings. Thanks.

[2017-07-21 02:05] wirehead commented on #49343
/sig cli

[2017-07-21 02:05] wangxinnong commented on #39767
I don't think we should let kubectl validate the certificate.
It should be the responsibility of api-server to validate the certificate, not the kubectl.

## Cause
The cause of this issue is that when authentication fails, api-server only sets a 401 status and a response body of "Unauthorized" and never returns the authentication error to the caller.

kubectl never uses this body. Instead it gener

[2017-07-21 02:14] chrissnell commented on #39767
It feels like overkill to handle this on the server-side but if that's where everyone wants it, it doesn't matter to me.

I do urge the team to reconsider the wording of the "You must be logged into the server" message.  This message is totally unhelpful to someone dealing with an auth issue.

[2017-07-21 02:23] k82cn commented on #46935
@lukaszo , @enisoc  , I think this's for reflector sync. In DaemonSet, there are `runWorker`s running to sync up DaemonSet; but it's triggered by event, e.g. AddNode, DaemonSet's Pod deleted. If any misunderstanding, please correct me :).

[2017-07-21 02:24] supereagle commented on #49343
It is caused by the cluster server address is not specified. Make sure you run the command on the k8s master. If you run on k8s node, please check the cluster config of kubeconfig file.

[2017-07-21 02:29] kikiyou commented on #49288
/kind bug

[2017-07-21 02:32] kikiyou commented on #49288
area/apiserver
area/upgrade

[2017-07-21 02:37] kikiyou commented on #49288
/area apiserver
/area upgrade

[2017-07-21 02:39] wangxinnong commented on #12316
## Bug Analysis
* Basic auth information will only be sent to BasicAuth Authenticator (KeystoneAuthenticator and PasswordAuthenticator)
* The BasicAuth authenticators will be called in order (local first, then remote). If any authenticator successfully authenticate the request, other authenticators in the chain will not be called.

So the actual issue is that when we use kubectl or directly access

[2017-07-21 02:53] dixudx commented on #49338
/cc

[2017-07-21 03:04] jianzhangbjz commented on #49314
Can you provide the details steps for this issue? And the output of `kubectl describe nodes`?

[2017-07-21 03:07] xiangpengzhao commented on #49199
Users can use OIR to define custom resources, so why do we want to allow random resource types? Maybe for users' own scheduler? I don't think k8s itself will respect such resource types.

/cc @bsalamat @davidopp @k82cn

[2017-07-21 03:13] mistyle opened #49351 "dns is normal,but only containers of monocular can't resolve service name"
monocular   has installed, but  find 3 problem，all related of dns ,serivce name,

        for example，visit "http://xxxx/api/v1/releases" ,show the log
"failed to connect to Tiller, are you sure it is installed" ,in the pod log,show " grpc: addrConn.resetTransport failed to create client transport: connection error: desc = "transport: dial tcp: lookup tiller-deploy.kube-system on 202.96.128.86:53:

[2017-07-21 03:15] #49351 closed

[2017-07-21 03:21] xiangpengzhao commented on #49295
@mengqiy Thanks for clarification!

What's the milestone of the solution? Will it land in 1.8?

[2017-07-21 03:36] dixudx commented on #49314
@alena1108 The log just showed the node was notReady or unreachable.

[code]

Seems the kubelet node is not quite stable that the connections with the master always get lost.

[2017-07-21 03:45] jianzhangbjz commented on #49184
@saiwl You can enable `--enable-swagger-ui` flag in `kube-apiserver`, and then get the api from the `http://node:port/swagger-ui/`. Or you can get them from the output of `kubectl describe nodes`. Or `cadvisor`. :)

[2017-07-21 03:50] matlockx commented on #48929
Great!  Thanks

[2017-07-21 03:51] matlockx commented on #48929
Addressed by https://github.com/kubernetes/kubernetes.github.io/pull/4418

[2017-07-21 03:51] #48929 closed

[2017-07-21 04:02] feiskyer commented on #49270
@dorsegal kubernetes doesn't support accessing pod's hostname by default, but you could create a headless service with same pod's name.

Refer [here](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/).

[2017-07-21 04:10] mengqiy commented on #49295
Maybe. There is no strict timeline for it at this time.

[2017-07-21 04:37] liggitt commented on #49288
The v1alpha1 certificates.k8s.io API was removed in 1.6

Per the 1.6.0 release notes, if you were using the alpha API in 1.5, you must remove your existing objects prior to upgrading.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#certificates-api

[2017-07-21 04:37] #49288 closed

[2017-07-21 04:50] liggitt opened #49354 "TLS-secured aggregated APIs return 500 error for websocket requests"
1. Create an APIService that routes to an external API server (e.g. service catalog) via a service `my-service` in namespace `my-namespace`
2. Specify a caBundle in the APIService
3. Run the external API server with a certificate signed for `my-service.my-namespace.svc`

Result:
* Normal API requests (get/put/post) work as expected
* Normal watch requests work as expected
* Upgrade requests (e.g.

[2017-07-21 04:55] mbohlool commented on #49250
I believe I identified a fix for the root cause and it shouldn't be hard to implement. Will send a PR soon.

[2017-07-21 04:58] crimsonfaith91 commented on #49250
@mbohlool Thanks! Appreciate it! :)

[2017-07-21 06:01] #49159 closed

[2017-07-21 06:08] odeke-em commented on #49290
Could we also decide if we need to make this value configurable by some sort of flag passed in when to the api server?
 How bad is the problem? What is the typical file size?
I am new to the k8 community so please pardon my noobish concerns, but I think that arbitrarily using any value, without surveying for common file sizes might cause more problems.

[2017-07-21 06:10] mbohlool commented on #49325
OpenAPI does not support types with multiple value. This potentially can be fixed in serializer to not include nil values.

[2017-07-21 06:49] sakshamsharma commented on #49290
The configuration file should not exceed a few hundred bytes in any practical use-case I can imagine.

[2017-07-21 08:13] #49171 closed

[2017-07-21 08:19] serbaut commented on #48703
`helpers.go:771] eviction manager: no observation found for eviction signal allocatableNodeFs.available`

same here after upgrade to 1.7, once every 10 seconds.

[2017-07-21 08:27] goten4 opened #49360 "Kubeadm preflight checks cannot be skipped while using --config"
/sig cluster-lifecycle

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Since 1.7.1, you cannot add extra parameters when you use --config, but some parameters (like --skip-preflight-checks) aren't implemented in the config file.

**What you expected to happen**:
Add skipPreflightChecks in the config syntax or allow the combination of --config and --skip-preflight-check

[2017-07-21 08:48] zhangxiaoyu-zidif opened #49363 "pdb's describer forget namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

**What happened**:
![image](https://user-images.githubusercontent.com/5154334/28453818-6c0e6c3c-6e2b-11e7-817f-e0439af814c9.png)

![image](https://user-images.githubusercontent.com/5154334/28453854-83feaca8-6e2b-11e7-808f-06bfda726fb4.png)

**What you expected to happen**:
"kubectl describe pdb" may contain namespaces.

**How to reprod

[2017-07-21 08:53] xiangpengzhao commented on #49329
/sig network

Could you please provide more info about your service and pods, for debugging?

[2017-07-21 09:03] xiangpengzhao opened #49364 "Possibility to validate args of "make test"?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig testing
/sig contributor-experience
/cc @spxtr

**What happened**:
I add some test cases in `pkg/registry/core/service/rest_test.go` and I want to test this pkg only. I run `make test WAHT=./pkg/registry/core/service`, but it runs all unit tests.
[code]

Finally I find that I have a typo in the args. `WAHT` vs `WHAT`. After correctin

[2017-07-21 09:09] zhangxiaoyu-zidif commented on #49363
/sig cli

[2017-07-21 09:09] xiangpengzhao commented on #49363
/sig cli

[2017-07-21 09:18] kargakis commented on #49292
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49285/pull-kubernetes-federation-e2e-gce/16285/

[2017-07-21 09:19] luxas commented on #49213
@madhusudancs I'd love to see if we can get federation e2e's working smoothly on top of kubeadm e2e clusters.

The only thing that would be a hard limit is spawning two or more clusters, right?
Then we'd be running `kubefed init --args` and something like `e2e.test --ginkgo.focus="Federation"` and it should work?

[2017-07-21 09:28] xiangpengzhao commented on #49360
/sig cluster-lifecycle
/area kubeadm

[2017-07-21 09:29] xiangpengzhao commented on #49360
And please re-open this in https://github.com/kubernetes/kubeadm

[2017-07-21 09:32] goten4 commented on #49360
So sorry, I missed the separate repo for kubeadm, and the issue was already created there (https://github.com/kubernetes/kubeadm/issues/352) !

[2017-07-21 09:32] #49360 closed

[2017-07-21 09:33] luxas commented on #48841
I agree with @lukaszo, API predictability/consistency is important. To me it seems like making this change at the same time as you do the shift to v1beta2 is the best move, regardless of whether that happens in v1.8 or not. The validation for MaxSurge/MaxUnavailable will just be different in v1beta2, and allow `MaxUnavailable=0` for instance. This is not allowed if you use the `extensions/v1beta1`

[2017-07-21 09:39] luispabon opened #49367 "Add native support for letsencrypt on Ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
To aid on developer/ops experience, Letsencrypt should be natively supported by Kubernetes itself on Ingress. I am aware of Kube Lego, but it's a hack, difficult to set up, and unreliable.

**What you expected to happen**:
Kubernetes should auto-provision SSL certificates for each Ingress resource created, including renewals.

/sig

[2017-07-21 09:41] luispabon commented on #49367
/sig networking

[2017-07-21 09:50] sttts commented on #48561
Making them available via kube-apiserver doesn't sound right. Nothing stops you though from creating a custom read-only audit-event-apiserver which preferably is backed by an independent storage (maybe not even etcd) and hook that into the cluster with apiserver aggregation. Of course, use the audit webhook to feed the events into audit-event-apiserver.

[2017-07-21 10:00] luispabon commented on #49367
/sig network

[2017-07-21 10:52] carlossg commented on #42559
@dgpc solution works in GKE, but you can also do

    kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin [--user=<user-name>|--group=<group-name>]

as described in https://cloud.google.com/container-engine/docs/role-based-access-control

[2017-07-21 11:42] ash2k opened #49372 "Move some Go types from core/v1 to meta/v1 package"
I'd like to suggest to move certain Go types from core/v1 to meta/v1. Here is the list:
- ResourceName
- ConditionStatus
- Protocol
- ObjectReference
- LocalObjectReference
- SerializedReference
- EnvVar
- EnvFromSource

Motivation: they are not top level api objects like e.g. `Deployment` or `Service` and are used in other non-core k8.io/api packages. They are more like `TypeMeta` and `ObjectMeta

[2017-07-21 11:54] deads2k commented on #49372
metav1 contains types that are critical to the type system, not generally useful types.

1. ResourceName - related to quota, this belongs in v1
2. ConditionStatus - related to particular items.  I think we should suggest, but I don't think we should be prescriptive.  I wouldn't move this or conditions generally.
3. Protocol - in service of services and endpoints.  This belongs in v1.
4. ObjectRefe

[2017-07-21 12:04] mfojtik opened #49373 "Possible mutation in statefulset sync"
Addressed in https://github.com/kubernetes/kubernetes/pull/49285 using big hammer. We still need to investigate where the mutation happens exactly to avoid deep copying the object for no reason.

Initially this was discovered in this issue: https://github.com/openshift/origin/issues/15324

Some logs:

[code]

[2017-07-21 12:04] mfojtik commented on #49373
@kargakis FYI

[2017-07-21 12:06] mfojtik commented on #49373
/sig apps

[2017-07-21 12:11] kargakis commented on #49373
@kubernetes/sig-apps-bugs

[2017-07-21 12:16] tomfotherby commented on #17512
@alok87 - thanks for your alias. I would like you use it but what is `util` ?

[2017-07-21 12:30] garethr commented on #49325
Looks like that is true in both OpenAPI 2 and 3.

From [3](https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md#properties)

From a quick look it seems like this is fixable in 3.0 with the `nullable` option:
https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md#schemaNullable

[2017-07-21 12:37] mwielgus commented on #49256
@DirectXMan12, could you please take a look.

[2017-07-21 12:37] rootfs commented on #36092
/close

[2017-07-21 12:37] #36092 closed

[2017-07-21 12:58] jszczepkowski opened #49375 "Broken/flaky e2e tests for ha masters"
Recently e2e tests for HA master become broken/flaky. Please see:
https://k8s-testgrid.appspot.com/google-gce#gce-ha-master

[2017-07-21 13:00] humblec opened #49376 ""an empty namespace may not be set when a resource name is provided""
Noticed below error message in logs with latest kube and glusterfs plugin.

[code]
[code]
The subjected code path is :

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/glusterfs/glusterfs.go#L150

I failed to get  how come a pod namespace can become empty  or the reason for this error message.

Any thoughts on this ?

[2017-07-21 13:01] humblec commented on #49376
@kubernetes/sig-storage

[2017-07-21 13:02] humblec commented on #49376
@rootfs @jsafrane Any thoughts on the possibility of this error ?

[2017-07-21 13:17] rootfs commented on #49376
Is the `gluster-pod` using the endpoint? Can you post pod yaml and `kubecctl describe pod` ?

[2017-07-21 13:27] humblec commented on #49376
[code]

@rootfs this pod use claim11 which has `glusterfs-dynamic-claim11` as its endpoint.  I was able to run this pod successfully. So I am in doubt that, this error comes somewhere in pod lifecycle, but wondering in which state it can say POD dont have a namespace.

[2017-07-21 13:30] rootfs commented on #49376
or maybe the endpoint was not accessible by the time the Pod was created but later became available.

[2017-07-21 13:30] svengt commented on #36499
@msau42 I was wondering what the status is on PD-SSD boot disks support. Do you have any updates for us?

[2017-07-21 13:32] humblec commented on #49376
hmmmm.. possible, but the error says for *.Get() says "empty" namespace and it kind of saying a 'resource name' is provided.  Its confusing.

[2017-07-21 13:43] chenww commented on #45419
I do not see flapping but consistently not ready state for the node with 1.6.4 and calico, not weave.

[2017-07-21 14:06] wirehead commented on #49343
I have updated the instructions to clarify.

This issue is not about running a kubectl command from a node, mater or otherwise, that is part of the cluster.  This issue is about spawning a container in the cluster and sending kubectl commands to the API server from it, which uses the special in-cluster configuration, which is being bypassed when I use the --request-timeout flag

[2017-07-21 14:17] antonkurbatov opened #49383 "After deletion of the pod with custom flex volume driver it goes to the orphaned state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am testing custom flex volume driver and face an issue:
If my flexvolume plugin failed to exec 'mount' operation, then after pod deletion it becomes orphaned.

**What you expected to happen**:
No orphaned pod.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

This is resulted in kubelet

[2017-07-21 14:18] ravisantoshgudimetla opened #49384 "Missing unit tests in /pkg/api/v1helper & pkg/util/taints for some functions."
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
While working on #46514, I noticed that some fn's like AddorUpdateTaints, DeleteTaintsByKey etc. are missing unit tests.

**What you expected to happen**:
Write unit tests for them.

[2017-07-21 14:18] ravisantoshgudimetla commented on #49384
/sig scheduling

[2017-07-21 14:19] ravisantoshgudimetla commented on #49384
/cc @timothysc

[2017-07-21 14:31] antonkurbatov commented on #49383
/sig kubelet

[2017-07-21 14:44] zmeggyesi opened #49385 "libapparmor.so.1 not available to containers?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: I tried to use a Kubernetes pod to build Docker images with Jenkins, using the command `docker build`.

**What you expected to happen**: I expected the build to run properly, resulting an a compiled docker image

**How to reproduce it (as minimally and precisely as possible)**: execute `docker build` in a Kubernetes pod

[2017-07-21 14:46] timothysc opened #49386 "Update to etcd 3.1.X"
For the 1.8 cycle we should incremental update to etcd 3.1.X to pickup known fixes along with fixing some other problems that we're uncovered during 1.7 (https://github.com/coreos/etcd/pull/8199)

/cc @kubernetes/sig-cluster-lifecycle-misc @kubernetes/sig-scalability-misc @kubernetes/sig-api-machinery-misc

[2017-07-21 14:49] zmeggyesi commented on #49385
@kubernetes/sig-node-docker

[2017-07-21 14:52] zmeggyesi commented on #49385
/sig node

[2017-07-21 14:56] antonkurbatov commented on #49383
Who should remove device mount path in case when 'mount' was failed ?
Custom flexvol code implementaion doesn't create it, why kubelet doesn't remove it by own.

[2017-07-21 14:57] simonswine opened #49387 "`kubectl get` should have a way to filter for advanced pods status"
**What happened**:

I'd like to have a simple command to check for pods that are currently not ready

**What you expected to happen**:

I can see a couple of options:

* There is some magic flag I am not aware of
* Having a flag for `kubectl get` to filter the output using go/jsonpath
* Distinguish between Pod Phase `Running&Ready` and `Running`
* Flag to filter on ready status

**How to get that

[2017-07-21 14:57] simonswine commented on #49387
/kind feature

[2017-07-21 14:58] githubvick commented on #49228
Yes, I am using v1.5.2.

I had added --v=4 to controller manager and the logs attached.
[log.txt](https://github.com/kubernetes/kubernetes/files/1165893/log.txt)

[2017-07-21 14:58] simonswine commented on #49387
/sig cli

[2017-07-21 15:02] antonkurbatov commented on #49383
/sig node

[2017-07-21 15:04] liggitt commented on #49386
@smarterclayton were you expecting 3.1.x or 3.2.x?

[2017-07-21 15:15] timothysc commented on #49386
@liggitt upgrade docs explicitly state minor version upgrades are recommended, and compatible.  I would not want to jump to 3.2 unless @xiang90 and @hongchaodeng have vetted a 3.0.17 -> 3.2.x upgrade.

[2017-07-21 15:31] DirectXMan12 commented on #49256
/sig autoscaling

[2017-07-21 15:34] DirectXMan12 commented on #49256
It looks, at first glance, like what's happening is that since CPU usage is zero, we're calculating a desired replica count of 0, which is less that the minimum (1), so we're getting `ScalingLimited`.  We might want to detect this condition and provide another status message that's clearer.

@chengzhang1016 does that make sense on your end?  Does the problem persist if CPU usage is non-zero?

[2017-07-21 15:36] DirectXMan12 commented on #49200
Yeah, I'm not entirely certain what the issue is here.  IMO, we *want* to say that they're the same object reference.  That way, for instance, if I have a function which fetches an object from an object reference, it works on *any* object reference, not just the one from the core API.

[2017-07-21 15:43] githubvick opened #49389 "Kube-controller-manager crashes when creating svc loadbalancer with Azure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Kube controller manager crashes when creating svc type LoadBalancer

**What you expected to happen**:

Load balancer should be created automatically and properly

**How to reproduce it (as minimally and precisely as possible)**:

Add cloud prov parameter in kubeapiserver
KUBE_API_ARGS="--tls-cert-file=/etc/kubernetes/cer

[2017-07-21 15:46] deads2k opened #49391 "Remove the hardcoded list of group/versions from config"
There is a hardcoded list of priorities that needs to be plumbed up from storage maps.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/aggregator.go#L170

[2017-07-21 15:53] mtanino opened #49392 "FC volume plugin needs to remove detached block device at TeadDown sequence"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When user uses fc volume plugin, device file on operating system such as /dev/sdX remains after deleting a Pod.
After deleting the Pod, PVC and PV, cluster admin or external-provisioner might delete the disk from the storage, therefore the block device on the worker node should be cleaned up.

The photon volume plugin al

[2017-07-21 15:54] mtanino commented on #49392
/sig storage

[2017-07-21 15:58] mtanino commented on #49392
I'll work on  this.

@kubernetes/sig-storage-bugs
@rootfs @saad-ali @jsafrane

[2017-07-21 16:16] kelveden commented on #49385
Getting this exact same problem with Jenkins running in a 1.7.1 cluster.

[2017-07-21 16:17] yujuhong commented on #45419
Sure. Feel free to send a PR.

[2017-07-21 16:21] hongchaodeng commented on #49386
Will update to 3.1.10 first

[2017-07-21 16:35] someword commented on #30073
I am running into this issue as well and I see that the questions posted by @thockin never got answered so I'll do that now.  The reason why i'm interested in this issue is that we are looking to move to pointing the pods to dnsmasq which is bound to the docker0 bridge on each node.   This requires the use of the kubelet --resolv-conf flag.

[code]

[code]

The issue here is the search list is not

[2017-07-21 16:37] hongchaodeng commented on #49386
We also need someone from Google (I assume who have access) to push image to:
[code]

[2017-07-21 17:00] mtaufen commented on #48677
I'm not sure I understand what you gain by using `$(NAME)` instead of `metadata.name` directly.

[2017-07-21 17:04] luxas commented on #49313
cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-07-21 17:06] luxas commented on #49313
Definitely in favor for adding such a policy and having something enforce it

[2017-07-21 17:07] luxas commented on #49386
@wojtek-t ^

[2017-07-21 17:08] enisoc commented on #41605
Status:

- [x] Stop using the annotation in e2e tests. (#49251)
- [x] Remove the annotation from apps/v1beta1 and add release-note-action-required. (#49251)
- [x] Remove the annotation from StatefulSet examples. (https://github.com/kubernetes/examples/pull/32)
- [x] Update docs for 1.8. (https://github.com/kubernetes/kubernetes.github.io/pull/4426)
- [ ] Cherrypick e2e test change to release-1.7 b

[2017-07-21 17:10] luxas commented on #46634
This is fixed thanks to @wanghaoran1988 :tada:!

[2017-07-21 17:10] #46634 closed

[2017-07-21 17:14] fiatala commented on #48677
To use `metadata.name` you need the extra scaffolding to support a map instead of a string - note that the key was changed from `subPath` to `subPathFrom` to align with ENV `value` and `valueFrom` pattern.
If you support `$(NAME)`, then it's still a string and can use the variable substitution work that is already in place for other sections of the file.

[2017-07-21 17:14] kksriram commented on #10439
We've got a [proposal](https://docs.google.com/document/d/15-baW4i7qws1yxxIYjHXqKpk259ebauQbECQCpPD308/edit#heading=h.67bgmqyjswzf) to use envelope encryption and have Vault encrypt the DEKs.

I will push this out to sig-auth as well.

This builds on the work in [41939](https://github.com/kubernetes/kubernetes/pull/41939), [46460](https://github.com/kubernetes/kubernetes/pull/46460) and will likel

[2017-07-21 17:22] kksriram commented on #12742
We've got a [proposal](https://docs.google.com/document/d/15-baW4i7qws1yxxIYjHXqKpk259ebauQbECQCpPD308/edit#heading=h.67bgmqyjswzf) to use envelope encryption and have Vault encrypt the DEKs.

I will push this out to sig-auth as well.

This builds on the work in [41939](https://github.com/kubernetes/kubernetes/pull/41939), [46460](https://github.com/kubernetes/kubernetes/pull/46460) and will likel

[2017-07-21 17:43] saad-ali commented on #49335
Fixed by https://github.com/kubernetes/kubernetes/pull/49337

[2017-07-21 17:43] #49335 closed

[2017-07-21 17:44] enisoc commented on #46935
As far as I can tell, the `min-resync-period` flag (default 12hrs) ends up being used as the `defaultEventHandlerResyncPeriod`, which is the resync period you get if you use `AddEventHandler()` (like [DaemonSet](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemoncontroller.go?utf8=%E2%9C%93#L150) does) instead of `AddEventHandlerWithResyncPeriod()` (like [StatefulSet]

[2017-07-21 17:45] #49354 closed

[2017-07-21 17:47] yguo0905 opened #49397 "Support testing the latest image in an image family in node e2e benchmarks"
The benchmark tests in node e2e are defined in https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/jenkins/benchmark/benchmark-config.yaml. We currently need to list the image name (or regex) in each test. I'd like to add a new field `image-family` so that the test will always run against the latest image in that family. (This will be more clear than using a regex.) It will avoid ch

[2017-07-21 17:48] janetkuo commented on #48841
@luxas @aaronlevy @roberthbailey would you join the next [sig-apps meeting](https://github.com/kubernetes/community/tree/master/sig-apps#meetings) (July 24, 2017 16:00 UTC) to discuss this? We'll do 1.8 planning (see [agenda](https://docs.google.com/document/d/1LZLBGW2wRDwAfdBNHJjFfk9CFoyZPcIYGWU7R1PQ3ng/edit#heading=h.fdccksqewtn6)).

[2017-07-21 17:55] sakshamsharma commented on #12742
Of note, https://github.com/Kubernetes/Kubernetes/pull/49350, which
implements this, is already up for review.

On 21 Jul 2017 10:23, "KK Sriramadhesikan" <notifications@github.com> wrote:

We've got a proposal
<https://docs.google.com/document/d/15-baW4i7qws1yxxIYjHXqKpk259ebauQbECQCpPD308/edit#heading=h.67bgmqyjswzf>
to use envelope encryption and have Vault encrypt the DEKs.

I will push this o

[2017-07-21 18:00] bobbypage opened #49398 "Plan to implement Windows Server Container Stats"
This is a proposal to support stats inside the kubelet for Windows Server containers.
 
**Summary**
Stats are missing from Windows Server containers, despite the fact that stats are important to enable monitoring of Windows Server containers (via ingestion into components such as Heapster) as well as enabling auto scaling features that rely on metrics to function properly.
 
**Rational and Paint P

[2017-07-21 18:02] bobbypage commented on #49398
/sig azure windows

[2017-07-21 18:07] igorpeshansky commented on #28610
This issue is definitely still relevant for our team. Are there any obstacles to merging #28637?

[2017-07-21 18:12] kksriram commented on #12742
@sakshamsharma, The Vault Provider would be another implementation of the same interfaces that you've got in that PR. The impl of the proposal I posted would go into Vendors  as a Vault Provider analogous to the one you're implementing for GCEKMS.

[2017-07-21 18:18] janetkuo commented on #48770
All errors look like this `fork/exec ../kubernetes_skew/cluster/kubectl.sh: no such file or directory`.

@pwittrock @mengqiy is it related to recent kubectl code moves?
@kubernetes/sig-cli-maintainers

[2017-07-21 18:26] mengqiy commented on #48770
We observed this issue before, it should be fixed by https://github.com/kubernetes/test-infra/pull/3444

[2017-07-21 18:27] alok87 commented on #17512
@tomfotherby `alias util='kubectl get nodes | grep node | awk '\''{print $1}'\'' | xargs -I {} sh -c '\''echo   {} ; kubectl describe node {} | grep Allocated -A 5 | grep -ve Event -ve Allocated -ve percent -ve -- ; echo '\'''`

[2017-07-21 18:28] kargakis commented on #46935
Eventually, statefulsets should also be pushed to use AddEventHandler. We don't want controller loops to depend on tight resync intervals. The resource handlers on secondary caches are paramount for complementing the resync logic of the main controllers, eg. once a Node has more resources (status change on the Node?), a watch event in the secondary (node) cache of the DS controller should trigger

[2017-07-21 18:37] dims opened #49402 "Kubernetes API Server should not depend on --cloud-provider and --cloud-config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I was quite surprised to see `--cloud-config` and `--cloud-provider` in the api server when reviewing some code around openstack cloud provider. Turned out that this was needed by a single admission controller, namely `PersistentVolumeLabel`

**What you expected to happen**:

I expect kube-controller-manager and kubelet t

[2017-07-21 18:38] dims commented on #49402
/sig api-machinery

[2017-07-21 18:38] dims commented on #49402
I poked at it a bit in this PR - https://github.com/kubernetes/kubernetes/pull/49374

[2017-07-21 18:40] dims commented on #49402
Code in question - https://github.com/kubernetes/kubernetes/blob/822e29dd3ce90421c099f6bec7f476c419c3211e/plugin/pkg/admission/persistentvolume/label/admission.go#L66

[2017-07-21 19:05] cmluciano commented on #48107
May be related https://github.com/kubernetes/kubernetes/issues/45385.

I tried to find the dashboard where the enormous node test + services-enabled is. Can anyone provide a pointer to the testgrid runs?

[2017-07-21 19:18] shyamjvs commented on #48107
The job for gce 5k-node performance test - https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance
It's not automated yet, but I'm manually triggering the job almost everyday (fixing some bugs each time) until the test goes green.
And regarding services, we reduced it to half of the original no. (which was 16400) without changing total no. of pods involved in services (ref https://

[2017-07-21 19:23] gnufied commented on #47548
/sig storage

[2017-07-21 19:25] limited commented on #47548
Sorry for slow response- troubleshooting some other cluster issues first and then I can get back to this one

[2017-07-21 19:37] davidopp commented on #49199
@derekwaynecarr

[2017-07-21 19:58] mtaufen commented on #48677
Ah, I see. I misread your example as saying that `subPathFrom` was the existing solution and you wanted to move to `subPath` with an env var.

[2017-07-21 20:01] mtaufen commented on #48677
Are there other cases where we plumb pod env vars to pod spec fields today?
@lavalamp wdyt about this? I'm wary of accidentally creating a templating solution.

[2017-07-21 20:20] liggitt commented on #49383
/sig storage

[2017-07-21 20:26] jayeshnazre opened #49411 "kubedns-masq and sidecar containers crash after doing nslookup @kubernetes/sig-network-bugs /sig area/dns"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug
@kubernetes/sig-network-bugs
/sig area/dns

**What happened**:
kubedns-masq and sidecar containers crash after doing nslookup on logical names that do not exists in the kubedns.

**What you expected to happen**:
The crashing of containers is not an expected behavior.

**How to reproduce it (as minimally and precisely as possible)**:

**Anyt

[2017-07-21 20:43] liggitt opened #49413 "handler_proxy_test.go:328: invalid hostname + insecure: expected called=true, got false"
[code]

[2017-07-21 20:47] xrl opened #49414 "OpenStack Cinder is reporting deprecated API call for PVC create"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a new kube cluster on an openstack (running newton) and I created a statefulset with dynamic volume template. The pod was stuck in pending so I check the pvc:

[code]

It is stuck like this and will not move forward.

**What you expected to happen**: The volume should have been created and the pod should have b

[2017-07-21 20:47] liggitt commented on #49413
/sig api-machinery

[2017-07-21 20:51] jayeshnazre commented on #49411
@kubernetes/sig-network-bugs
/sig area/dns

[2017-07-21 20:52] xrl commented on #49414
/sig storage
/sig openstack

[2017-07-21 20:58] plombardi89 opened #49415 "Kubeadm Fails Due to Valid Argument"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Running `kubeadm init --config=<path>` fails.

**What you expected to happen**: `kubeadm init --config=<path>` configures based on the provided file.

**How to reproduce it (as minimally and precisely as possible)**:

Create a file `/tmp/kubeadm.yaml` with the below content:

[code]

Run `kubeadm init --config=/tmp/kubead

[2017-07-21 21:02] janetkuo commented on #48558
@smarterclayton #48746 bumps deployments to apps/v1beta2.

Closing this in favor of umbrella issue #49135

[2017-07-21 21:02] #48558 closed

[2017-07-21 21:09] odeke-em commented on #815
How's it going here?
[code]
"context" is now mainstream for Go1.7, Go1.8 and soon Go1.9.

[2017-07-21 21:17] xrl commented on #49414
I needed to override the bs-version = v2. The auto feature did not work.

My kubespray-installed openstack cloud config:

[code]

[2017-07-21 21:20] saad-ali opened #49418 "kube-controller-manager crash looping with "nil pointer dereference" in volume/cinder/cinder.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We have at least one report of the v1.7.1 kube-controller-manager binary on a master machine crash looping.

**Stack trace:**
<details>

[code]

</details>

**What you expected to happen**:

Not crash loop.

**How to reproduce it (as minimally and precisely as possible)**:
Uncertain

**Anything else we need to know?**:
No

[2017-07-21 21:22] saad-ali commented on #49418
CC @kubernetes/sig-storage-bugs

[2017-07-21 21:26] The-Loeki commented on #33508
It still exists in 1.7 unfortunately... It's too bad, because this is one of the better security improvements in Docker IMHO

[2017-07-21 21:30] The-Loeki commented on #33508
As a bit of additional information, since the User Remap is supposed to remap container `root` to a remapped userID (`cat /etc/subuid`) I just chowned the entire pods dir to see what would happen.

This seemed to work pretty good, but some files are still owned by root and I still have the dreaded `stat ... pemission denied`

[2017-07-21 21:43] saad-ali commented on #49418
**Suspected cause:** PR https://github.com/kubernetes/kubernetes/pull/39732 introduces code that populates the attach/detach controller's "actual state of the world" cache with a volume with a `nil` volume spec. The code assumes that subsequent steps will populate the volume spec. In this case, it appears that does not happen and another attach/detach controller component, `syncState`, not expecti

[2017-07-21 21:44] janetkuo commented on #47727
Do we have such annotation in deployment?

[2017-07-21 22:06] lukaszo commented on #49135
Is this a good moment to make RollingUpdate DS strategy a default? Like in Deployments. Or this will never happen?

[2017-07-21 22:10] alena1108 commented on #49314
@jianglingxia @dixudxOther Another pod of the same RC (replicas=2) was started successfully on one of the nodes. I'd expect the failed one to at least be attempted to start again, may be on the node where its peer is running (as there are no anti affinity rules defined on it). But it was stuck in pending state forever (and there was no other reference for the failed pod besides the original log I'

[2017-07-21 22:13] #49413 closed

[2017-07-21 22:34] gnufied commented on #49418
I think what is happening is, we added this check - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_executor.go#L571 thinking it would prevent processing of volumes with nil spec, but that check isn't enough because if there is another volume on the node which has proper spec we are breaking from that loop and we perform verification of volumes one

[2017-07-21 22:38] mtaufen commented on #42086
Failed again: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49051/pull-kubernetes-e2e-kops-aws/36637/

[2017-07-21 22:50] k8s-merge-robot opened #49421 "Failure cluster [43fbdd...] failed 631 builds, 146 jobs, and 1 tests over 1 days"
### Failure cluster [43fbddb2db10511ee1ae](https://go.k8s.io/triage#43fbddb2db10511ee1ae)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    146 jobs failed,    631 builds failed.
Failure stats cover 1 day time range '20 Jul 2017 22:29 UTC' to '21 Jul 2017 22:29 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 14