[2018-03-06 15:20] wojtek-t commented on #60589
I guess what I'm trying to say is:
- the number of 429s is a consequence and we shouldn't spend too much time on that
- the root cause is either slower api calls or bigger number of those

We clearly seem to see slower api calls in 108. The question is whether we also see bigger number of those.

[2018-03-06 15:22] php-coder commented on #56174
I found that some types were named inconsistently:
[code]
Why `SELinuxStrategy` and `RunAsUserStrategy` don't have `Type` suffix? If it's OK, then why `FSGroupStrategyType` and `SupplementalGroupsStrategyType` have this suffix?

[2018-03-06 15:23] wojtek-t commented on #60589
So I think why the requests are visibly slower - there are three main possibilities

1. there is significantly more requests (from a first glance it doesn't seem to be the case)

2. we added something on the path of processing (e.g. additional processing) or the objects themselves are bigger

3. something else on master machine (e.g. scheduler) is consuming more cpu and thus starving apiserver mor

[2018-03-06 15:32] pweil- commented on #56174
Less a question of why (let's blame me for that one) and more a question of which one to standardize on.  I'd vote for the non-type suffix as it just seems redundant.

[2018-03-06 15:42] monique77 commented on #60617
https://github.com/kubernetes/dashboard/issues/2034

[2018-03-06 15:46] php-coder commented on #56174
Yes, indeed, it's not so interesting of why because it's already there. My question was -- how it should be named and how to proceed to that? I posed it here, as removal of the old constants looks like a breaking change. On another hand, it should be possible to introduce a new ones types without breaking anything.

First I also thought that the suffixes should be removed, but when I did a grep an

[2018-03-06 15:47] jsafrane commented on #60645
@saad-ali, FYI, this might be another 1.10 (or 1.10.1) candidate. We need thorough review though, volumeManager is quite complicated.

[2018-03-06 15:49] faraazkhan commented on #60828
/sig aws

[2018-03-06 15:59] stephbu commented on #45234
I think I care about this at two levels.

1. not all nodes should present a service IP.  Reasoning that I should be able to partition and shape my service traffic to specific nodes, with specific capacity, and specific security boundaries.

2. the *LB should be bound to only the nodes that are presenting the service IP.  Such that only those specific nodes and ports in 1) are bound to the *LB.  Ma

[2018-03-06 16:04] calvix commented on #54108
Hello, what is the progress of this? I seem to be hitting a similar issue. I the fix already included in some of the beta releases of 1.10?

[2018-03-06 16:04] liggitt commented on #60832
`--node-labels` has been problematic (see https://github.com/kubernetes/community/pull/911). do we want to double down on this with annotations?

[2018-03-06 16:38] thockin commented on #60761
Kubelet started running the pod that was deleted - it got the update for that one.

[2018-03-06 16:38] gekart commented on #59642
@jingxu97 @msau42 friendly poke

[2018-03-06 16:39] thockin commented on #60761
The cluster I was testing was a week or 2 old.  I built a cluster from HEAD and I can not repro - @wenjiaswe said the same.

Is this test running against head of master?

[2018-03-06 16:39] thockin commented on #60761
I also ran the test manually against my new cluster and it passed

[2018-03-06 16:42] gekart commented on #59642
The restate the goal: exchange EBS volumes in running, productive clusters.

[2018-03-06 16:46] liggitt commented on #58083
@tallclair has the work planned for 1.10 been completed at this point?

[2018-03-06 16:49] dims commented on #58635
since we are not going to make progress in v1.10, i'll clear the milestone. please respond if this is wrong.

/milestone clear

[2018-03-06 16:50] dims commented on #58638
@richm the issue is not being closed, just moved from milestone v1.10

[2018-03-06 16:52] tallclair commented on #58083
Remaining work is resolving the test failures, https://github.com/kubernetes/kubernetes/issues/60719

[2018-03-06 16:52] yastij commented on #58635
cc @jingxu97 @gmarek

[2018-03-06 17:01] aanm commented on #60845
@nikhita That has solve it. Now I'm seeing a new non-expected behavior:

If I use `Update`, not `UpdateStatus`, to update the whole CR, including `"status"`, there's no error returned from kube-apiserver and the status field was unchanged.

Is this the expected behavior? Should I assume with `Subresources: status` set in the CRD, the `Update` does not update the CR status?

[2018-03-06 17:01] SharpEdgeMarshall commented on #55473
Same issue here, deleted a deployment with a service this morning after 2 hours another service stopped to return endpoints even if it was everything ok

[2018-03-06 17:09] thockin opened #60850 "CUSTOM_KUBE_DASHBOARD_BANNER is unset"
`./cluster/../cluster/../cluster/gce/util.sh: line 792: CUSTOM_KUBE_DASHBOARD_BANNER: unbound variable`

@konryd you added this variable - PTAL

[2018-03-06 17:12] gnufied commented on #60645
@jsafrane @jingxu97 another simpler option is perhaps to mark a volume as "ReportedInUse" if it was found on the disk during reconstruction phase.  That will make sure that, volume gets added correctly to ASW via reconciler(rather than us doing it on reconstruction) and it will make sure that volume is unmounted when volume does get removed from DSW.

[2018-03-06 17:17] crassirostris commented on #58083
@liggitt Besides test failures, docs only. I will create a PR shortly, my fault I didn't do this earlier

[2018-03-06 17:59] nikhita commented on #60845
Yes, this is expected behaviour.

`.status` is generally used to inform about the current status of whatever is being managed by the controller. Ideally, you don't want users to modify the status section as part of updates to the main resource since it could be modified to an inconsistent state. Only the controller should be able to update the status part.

Essentially, `/status` gives you the abi

[2018-03-06 18:10] shyamjvs commented on #60589
So me and @wojtek-t discussed offline and we both agree now that there's quite likely a regression before 108. Adding some points:

Doesn't seem to be the case to me neither

My feeling is it's sth more likely in kubelet as opposed to apiserver (as we're not seeing any visible change in patch/put latencies on kubemark-5000)

IMO this is not the case as we're having quite some CPU/mem slack on our

[2018-03-06 18:10] ericuldall commented on #49931
Yes, I like it. Thanks for the idea.

[2018-03-06 18:39] tpepper commented on #60768
@kubernetes/sig-release-admins looks like this needs /milestone'd by somebody with priv's

[2018-03-06 18:55] krzyzacy commented on #60768
whoops, thanks for reminding me

[2018-03-06 19:00] caseydavenport commented on #60761
FWIW I was also unable to reproduce this yesterday on a cluster from HEAD.

[2018-03-06 19:02] MrHohn commented on #60761
Did some investigations and had some findings for this specific failure:
[code]

Traced down a bit on the history, the first occurrence was https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/3027/#sig-network-services-should-work-after-restarting-apiserver-disruptive.

From the [diff from its previous run](https://github.com/kubernetes/kubernetes/comp

[2018-03-06 19:07] erkules commented on #55713
Got the same issue 1.9.3 . No eviction after 30 minutes.

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-07T11:55:20Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c9

[2018-03-06 19:21] grodrigues3 commented on #60668
/milestone v1.10

[2018-03-06 19:21] grodrigues3 commented on #60668
/milestone clear

[2018-03-06 19:21] grodrigues3 commented on #60668
/close

[2018-03-06 19:21] #60668 closed

[2018-03-06 19:22] jberkus commented on #58638
Removed from 1.10.

@richm you do it like this:

/help

[2018-03-06 19:25] caesarxuchao commented on #60463
/assign @jennybuckley

[2018-03-06 19:30] DirectXMan12 commented on #59888
Unable to reproduce on either the given Kubernetes version (1.9.2) or master.  Considering that we're decently into code freeze, I'm going to pull this from the milestone.  If we can get a reproducer, we'll work on it for 1.11.

[2018-03-06 19:40] DirectXMan12 commented on #59888
For future reference, my attempt went as follows:

1. Deploy https://github.com/DirectXMan12/fake-metrics-server, and register it as providing metrics.k8s.io
2. Create a ReplicaSet which calls `sleep 1000m`, with a CPU request of `1m`
3. Make kubelet take 300 pods at once
3. Create an HPA targetting 1% usage, with min 50, max 200

[2018-03-06 19:41] bsalamat commented on #58406
We should have a mechanism that allows a cluster admin to limit types of tolerations that users can set. This is needed to prevent abuse in multi-tenant clusters. For example, cluster admin may want to taint nodes with rare resources to prevent pods from certain group of users to land on them. Users shouldn't be able to tolerate such taints. That said, this is a separate topic of its own which is

[2018-03-06 19:56] jiayingz commented on #60176
/open

[2018-03-06 20:00] jberkus commented on #59848
So ... given the difficulty of addressing this issue (darn that CAP theorem!), is it realistic to have a fix in time for the 1.10 release?

[2018-03-06 20:01] jberkus commented on #60500
@shyamjvs it's already a blocker.  Please keep us updated, thanks!

[2018-03-06 20:04] shyamjvs commented on #60500
I guess now it is? :)

[2018-03-06 20:06] shyamjvs commented on #60500
ACK.  In progress
ETA: 9/3/2018
Risks: Not yet understood well

[2018-03-06 20:07] jberkus commented on #59766
@jessicaochen: Github automatically closes issues if there's "Fixes: #ISSUE" in the merge.

[2018-03-06 20:15] Stelminator commented on #49881
/remove-lifecycle stale

I just ran into a problem using a hostPort service that got replaced, while still on the same machine; maybe I need to install `conntrack` to get the clearing to work, but that's an unexpected step.

[2018-03-06 20:29] jpbetz commented on #56869
Fixed by https://github.com/kubernetes/kubernetes/pull/56871

[2018-03-06 20:29] #56869 closed

[2018-03-06 20:57] bsalamat commented on #56032
@shyamjvs did you find the chance to add those presubmit tests?

[2018-03-06 21:02] cheftako opened #60854 "Local cluster leaking memory at about 500 MB per day per process while idle"
/kind bug
**What happened**: Start a cluster using ./hack/local-up.sh.
Now just monitor the memory on kube-apiserver and kube-controller-manager.
Without doing anything else note the memory on each process has grown by 500 MB each day.
Tried this for 5 days and saw this steady growth.

**What you expected to happen**:
Memory to remain relatively flat after some initial growth.

**How to reproduce

[2018-03-06 21:02] cheftako commented on #60854
/sig apimachinery

[2018-03-06 21:15] mtanino commented on #54108
@calvix @jingxu97
IIUC, this issue isn't fixed. Still wating second PR of https://github.com/kubernetes/community/pull/1601.

[2018-03-06 21:17] deads2k commented on #60810
I will work on a reproducer

[2018-03-06 21:19] jiayingz commented on #60176
Note that the gpu device plugin e2e_node test has been flaky recently because of this race issue. I think the reason that the problem started to surface out recently is probably due to some recent improvements on kubelet restart speed that we now run pods earlier on kubelet start.

[2018-03-06 21:34] wenjiaswe commented on #60761
@MrHohn nice, is this issue reproducible without the fix (#60715)?

[2018-03-06 21:48] yastij commented on #58406
@bsalamat - we’re already facing this in production for our spare nodes. I’ll bring this up in our next sig-meeting, I’ll also file an issue for this

[2018-03-06 21:50] MrHohn commented on #60761
Sorry should have had confirmed this, bringing up a cluster now.

[2018-03-06 21:51] ravisantoshgudimetla commented on #60018
Update: Discussion on how to implement this feature has been going on here. https://docs.google.com/document/d/1HjAE8Aky3ebyHcbxIMkwaITBcz9j5-cCA21wBuUWoyA/edit?ts=5a9c92b0.

[2018-03-06 21:56] liggitt commented on #60659
I'd be really hesitant to do that. Cons:
* a node could take a requested service account token (carefully required to be bound to a pod bound to the requesting node), turn around and create a token bound only to the service account
* a compromised pod would automatically have credential creating power

what are the pros?

[2018-03-06 22:17] resouer commented on #56104
cc #60753 after updating the hash calculation method, `VolumeBinding` tests fail. I am looking into it.

[2018-03-06 22:20] BenTheElder commented on #59762
@errordeveloper Getting rid of it in favor of what? I know a thing or two about test-infra and I'd be happy to commit some time to help.

[2018-03-06 22:37] BenTheElder commented on #59762
We've got more progress on this, I think I've managed to configure a working run again. Once it goes green I'll PR kubeadm jobs

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/9702/

[2018-03-06 22:42] verult commented on #59988
ACK.  In progress
ETA: 3/9/2018

[2018-03-06 23:05] verult commented on #60766
Because this test is run in 1.9 as well, there needs to be a version check

[2018-03-06 23:12] verult commented on #60766
/status in-progress

[2018-03-06 23:17] BenTheElder commented on #53016
Heh well, 1.6 is out of support now. Oh well. I don't think we have this issue going forward /shrug

[2018-03-06 23:18] MrHohn commented on #60761
Quick update: I was able to repro the same failure (https://github.com/kubernetes/kubernetes/issues/60761#issuecomment-370890783) from HEAD with #60715 reverted.

Though this test is now flaky on some other errors:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/3108#sig-network-services-should-work-after-restarting-apiserver-disruptive
- https:/

[2018-03-06 23:22] Stelminator commented on #49881
actually, I think I ran into what gets fixed by https://github.com/kubernetes/kubernetes/pull/59286

[2018-03-06 23:23] #59076 closed

[2018-03-06 23:28] bsalamat opened #60860 "Scheduler should be able to rebuild its cache and compare it with the existing one"
We have seen a few issues indicating that scheduler cache becomes stale and no longer reflects the most recent state of the cluster (#42433, #56057, #43806).
Scheduler cache issues can be very subtle to debug. In order to make it easier, we would like to build a mechanism in scheduler to resync its informers and rebuild its cache periodically and then compare the newly rebuilt cache to its existin

[2018-03-06 23:30] bsalamat commented on #60860
/assign @anfernee

[2018-03-06 23:34] krzyzacy commented on #60766
/status in-progress

[2018-03-06 23:38] ixdy commented on #53016
procrastination and laziness saves the day!

[2018-03-06 23:45] wenjiaswe commented on #60761
Thanks @MrHohn ! So #60715 fixed the issue and I am curious about what introduced the issue. Do you happen to know when did this test start to fail? Just trying to find out what went wrong in between. We have some other possibly related issues so finding out the root cause of this one would be super helpful.

[2018-03-06 23:57] dims commented on #60854
/milestone v1.10

[2018-03-06 23:59] dims commented on #60854
/priority important-soon

[2018-03-07 00:02] dims commented on #60807
/sig api-machinery

[2018-03-07 00:02] dims commented on #60850
/sig gce

[2018-03-07 00:02] dims commented on #60834
/sig api-machinery

[2018-03-07 00:03] dims commented on #60743
/sig testing

[2018-03-07 00:04] dims commented on #60809
/sig node

[2018-03-07 00:04] dims commented on #60752
/close

thanks @yue9944882

[2018-03-07 00:04] #60752 closed

[2018-03-07 00:05] dims commented on #60799
/sig api-machinery

[2018-03-07 00:05] dims commented on #60734
/sig node

[2018-03-07 00:06] dims commented on #60712
fun with bots!. let me try that

/sig cli

[2018-03-07 00:06] dims commented on #60662
/sig node

[2018-03-07 00:07] dims commented on #60652
/sig storage

[2018-03-07 00:08] dims commented on #52568
/sig multi-cluster

[2018-03-07 00:09] dims commented on #54576
/sig api-machinery

[2018-03-07 00:10] dims commented on #59044
/sig networking

[2018-03-07 00:10] dims commented on #59112
/sig node

[2018-03-07 00:10] dims commented on #59123
/sig api-machinery

[2018-03-07 00:10] technicianted opened #60861 "FlexVolume probe race condition potentially crashes kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If a new file is introduced in the FlexVolume driver directory then quickly deleted, a race condition would occur causing segmentation violation and crashing kubelet.

**What you expected to happen**:
No crashes.

**How to reproduce it (as minimally and precisely as possible)**:
It is a race condition. A file needs to be

[2018-03-07 00:11] technicianted commented on #60861
/sig storage

[2018-03-07 00:12] dims commented on #59419
/sig windows

[2018-03-07 00:12] dims commented on #59461
/sig network

[2018-03-07 00:13] dims commented on #59467
/close

please reopen if necessary

[2018-03-07 00:13] #59467 closed

[2018-03-07 00:14] dims commented on #60029
can you please open under https://github.com/kubernetes/kubeadm/issues and see if you get any bites there?

/close

[2018-03-07 00:18] rramkumar1 commented on #60761
/assign @MrHohn @rramkumar1

[2018-03-07 00:22] msau42 commented on #60766
I don't think you need a version check.  Just checking expected >= actual should work in both 1.9 and 1.10

[2018-03-07 00:29] MrHohn commented on #60761
@wenjiaswe The first occurrence (for that exact failure) I noticed was https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/3027, which happened on 2018-02-15 09:49 PST.

[2018-03-07 00:47] vikasgubbi commented on #48798
Hi,

If you comment  $KUBELET_NETWORK_ARGS in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf and restart the service/sever or if you kubeadm reset and join again/kubeadm init to recreate the cluster
and join the nodes again,

pods will be in running state but if you describe the kube-dns pod you will see

  Warning  Unhealthy              1m (x4 over 2m)  kubelet, master    Readiness probe

[2018-03-07 00:48] dims commented on #59477
/sig node

[2018-03-07 00:48] dims commented on #59477
/sig cli

[2018-03-07 00:48] dims commented on #59491
/sig testing

[2018-03-07 00:49] dims commented on #59557
/sig api-machinery

[2018-03-07 00:49] dims commented on #59560
/sig cli

[2018-03-07 00:49] dims commented on #59631
/sig node

[2018-03-07 00:49] dims commented on #59687
/sig network

[2018-03-07 00:50] dims commented on #59717
/sig node

[2018-03-07 00:50] dims commented on #59783
/sig node

[2018-03-07 00:51] dims commented on #60026
/sig auth

[2018-03-07 00:51] dims commented on #60031
/sig node
/kind bug

[2018-03-07 00:51] dims commented on #60066
/sig cluster-lifecycle

[2018-03-07 00:52] dims commented on #60620
/sig apps

[2018-03-07 00:52] dims commented on #60140
/sig node
/sig network
/sig cli

[2018-03-07 00:53] dims commented on #60279
/sig node

[2018-03-07 00:53] dims commented on #60322
please try https://github.com/kubernetes/kubeadm/issues

/close

[2018-03-07 00:53] #60322 closed

[2018-03-07 01:03] dims commented on #60573
/sig network

[2018-03-07 01:03] dims commented on #60643
/sig node

[2018-03-07 01:03] BenTheElder commented on #59762
I think this is sorted [waiting for this run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/9704/) to be green after the fix, I'll keep an eye out though.

[2018-03-07 01:04] dims commented on #60568
/sig storage

[2018-03-07 01:04] dims commented on #60560
/sig api-machinery

[2018-03-07 01:04] dims commented on #60479
/sig cluster-lifecycle

[2018-03-07 01:05] dims commented on #60333
/sig node

[2018-03-07 01:05] dims commented on #60309
/sig apps

[2018-03-07 01:06] dims commented on #60192
/sig api-machinery

[2018-03-07 01:12] ixdy opened #60863 "staging repositories not handled properly in bazel-built kubernetes-src.tar.gz"
I've been experimenting with producing a kubernetes src tarball from bazel that includes all generated code, such that an end user (like an OS distro) would be able to build kubernetes binaries using solely `go build`.

The kubernetes-src.tar.gz produced by the [build rule in build/release-tars](https://github.com/kubernetes/kubernetes/blob/f196b7c7523dbf0d6ed703a93af73f54e9d2e42c/build/release-ta

[2018-03-07 01:16] bgrant0607 commented on #60511
Another caution on tightening validation: be careful not to affect client-side code (e.g., marking fields as required in types.go that are non-optional in validation).

@liggitt It would be useful to document your advice about tightening validation in api_changes.md.

[2018-03-07 01:22] thockin commented on #60761
You all rock!  I see a couple greens on it now, but still mostly red?

[2018-03-07 01:30] lichuqiang commented on #60860
/cc

[2018-03-07 01:37] eroji commented on #59687
This is resolved. Problem had to do with conflicting documentation where you are instructed to install both flanneld and flannel network pods which caused conflicts in creating the vxlan routes. Removing flanneld and only using pods works just fine.

[2018-03-07 01:37] #59687 closed

[2018-03-07 01:39] liggitt opened #60864 "CRD should prevent generation changes if spec does not update"
/kind bug
/sig api-machinery
/assign @nikhita

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/strategy.go#L120 increments generation if spec changes, but if spec does not change or if subresources are disabled, I'd expect generation to be forced to stay the same

[2018-03-07 01:57] likerj commented on #60568
Thank you! @mlmhl @dims @freeformz

[2018-03-07 01:57] m1093782566 commented on #60257
@prameshj

Would you please change the hairpin mode config in GCE setup to `hairpin-veth` to fix the CI errors in https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs if #60166 can't get in at this release circle?

[2018-03-07 01:57] pcj commented on #34401
Any update on this being documented?  I arrived here after several hours of researching this issue.

[code]

[2018-03-07 02:04] WanLinghao commented on #60828
It works well on my k8s cluster.Here's my version info

[code]

[2018-03-07 02:10] prameshj commented on #60257
We can try changing that temporarily to see how many tests pass in that mode. I only found one test failure that pointed to this issue. I suspect there might be other issues too, that need to be investigated.

[2018-03-07 02:13] Random-Liu opened #60865 "Kubelet Config comes from nowhere."
In the node e2e serial test failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e-serial/343, I saw kubelet got restarted in the middle of the test:
[code]

And in [kubelet log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e-serial/343/artifacts/tmp-node-e2e-d55ac25b-cos-stable-60-9592-84-0/kubelet.log), I saw:
[code]

[2018-03-07 02:13] m1093782566 commented on #60257
Yeah, it would be great.

[2018-03-07 02:14] WanLinghao commented on #60834
track

[2018-03-07 02:20] verult commented on #58786
Could you give a more concrete example for the use case?

[2018-03-07 02:30] verult commented on #60766
ACK

[2018-03-07 02:33] nikhita commented on #60864
In these cases, the strategy doesn't touch generation but it is forced to be same in `BeforeUpdate`:

https://github.com/kubernetes/kubernetes/blob/f196b7c7523dbf0d6ed703a93af73f54e9d2e42c/staging/src/k8s.io/apiserver/pkg/registry/rest/update.go#L98-L103

[2018-03-07 02:39] prameshj commented on #60257
https://github.com/kubernetes/test-infra/pull/7163

[2018-03-07 02:50] liggitt commented on #60864
Ah, didn't realize it was done universally.
/close

[2018-03-07 02:50] #60864 closed

[2018-03-07 03:33] krzyzacy commented on #60725
xref https://github.com/kubernetes/kubernetes/issues/60003

[2018-03-07 03:46] jejer opened #60869 "kube-proxy can't load xz compressed kernel ip_vs module"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kube-proxy failed to load ip_vs.ko.xz module

**What you expected to happen**:
compressed kernel module ip_vs could loaded by kube-proxy

**How to reproduce it (as minimally and precisely as possible)**:
This issue noticed on RHEL

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ver

[2018-03-07 03:54] krzyzacy opened #60870 "pull-kubernetes-kubemark-e2e-gce is failing"
http://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-kubemark-e2e-gce
starting this afternoon

/kind bug
/priority failing-test
/priority critical-urgent
/milestone v1.10

[2018-03-07 03:54] krzyzacy commented on #60870
/sig testing
/sig scalability

cc @jdumars @jberkus @shyamjvs @wojtek-t

[2018-03-07 04:01] krzyzacy commented on #60870
hummmmmmm
this might be the issue -
[code]

but cc @BenTheElder our last kubekins bump was yesterday, and everything works fine, includes http://k8s-testgrid.appspot.com/sig-testing-canaries#kubemark-canary

[2018-03-07 04:03] m1093782566 opened #60871 "Kublet netowrk hostport and kube-proxy have some duplicated codes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

Both kubelet hostport and kube-proxy nodeport needs to hold local port open.

Kublet netowrk hostport and kube-proxy have some duplicated codes, see:

[kubelet] https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/hostport/hostport.go#L91-L127

[iptables proxy] https://github.com/kubernetes/kubern

[2018-03-07 04:11] krzyzacy commented on #60870
ok... kubemark-100-canary was not using `:latest` kubekins?
/shrug
fix incoming

[2018-03-07 04:25] krzyzacy commented on #60870
... my hypothesis: config updater did not actually updated prow config for https://github.com/kubernetes/test-infra/pull/7145, until https://github.com/kubernetes/test-infra/pull/7162

cc @cjwagner and I'll look at that code again

[2018-03-07 04:27] jdumars commented on #60769
@mikedanese any update on this?

[2018-03-07 04:32] jdumars commented on #60870
Thanks @krzyzacy !

[2018-03-07 04:33] krzyzacy commented on #60870
the test-infra fix is actually for skew tests not for kubemark... I'll need to make the fix in k/k...

[2018-03-07 04:53] shenlanse commented on #60832
Thanks for your explanation. Close it.

[2018-03-07 04:53] #60832 closed

[2018-03-07 05:05] ahmetb commented on #34401
@pcj This default LimitRange is not documented and is a pretty historical artifact (was added around 2015). It also doesn't exist on namespaces other than `default` namespace.

[2018-03-07 05:26] dixudx commented on #60869
@jejer Please help check whether ipvs module has been included in the kernel.

[code]

[2018-03-07 05:35] jejer commented on #60869
Hi @dixudx
I can load this module on node using modprobe and insmod:
[code]

[2018-03-07 06:04] krzyzacy commented on #60870
I think the root issue is actually because kubemark testing script pulling another latest kubetest.. the k/k fix will bring kubemark presubmit back to green, k/t-i fix is not relevant to this job, but will be needed whenever we choose to bump kubekins again.

[2018-03-07 06:11] qiujian16 commented on #51000
/remove-lifecycle stale

[2018-03-07 06:12] qiujian16 commented on #51000
/remove-lifecycle rotten

[2018-03-07 06:41] m1093782566 commented on #60871
/assign

[2018-03-07 08:17] techdragon commented on #19367
I just found this while looking for this feature. It seems strange that I can pluck a value from the hierarchy like `spec.nodeName` but not `spec.template.metadata.labels.environment`. I definitely concur that either a mechanism to specify or a decision on restart behaviour is necessary. But it seems weird this very useful feature request has sat without update for nearly 2 years. Using labels and

[2018-03-07 08:31] ning0011 commented on #49544
(name must consist of lower case alphanumeric characters, '-' or '.' (regex: [a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*))

[2018-03-07 09:50] dixudx commented on #55676
@goby Actually we do a no-op when the container runtime is `remote`.

https://github.com/kubernetes/kubernetes/blob/891b471064ddc10aa1e903c7af3162ef157f17ad/pkg/kubelet/kubelet.go#L649-L651

This is why `PodSandboxImage` config can not be set by flag `--pod-infra-container-image`.

[2018-03-07 09:52] akshaymankar commented on #58084
**Update** We were able to move forward with the work. We decided to not add a flag for `--cloud-id-override` as the problem is limited to GCE. So we chose to put it as a configuration in the cloud config. We've called it `instance-name`.

We have made [this commit](https://github.com/CFCR/kubernetes/commit/2b206579e5061ae1d0d451dc4df0911c3ac11b95). We'd love to get some feedback from anybody more

[2018-03-07 09:56] MikaelWahlberg commented on #27114
No updates on this?  Adding the extra parameter would make a lot of sense. We sometimes do database migrations on pod startup (If something big changed) and that can take an unknown amount of time, so it feels a bit unnecessary to always have the initialDelay very high just to avoid the pod getting killed when doing the migration. If it would wait for readiness instead it would feel much more safe

[2018-03-07 10:22] Avanpourm commented on #53754
It is a BUG.

`
Conflict between  componentconfig.IPVar.Set(s string)  and validation.validateHostPort.
`

[2018-03-07 10:30] errm commented on #24288
@bassrock my fix should be in kubernetes 1.2.3+

I found some code that exercises the issue... could you try this on your cluster https://github.com/errm/muffins

I cannot reproduce in the environment I have to hand that is running k8s 1.7

[2018-03-07 10:37] shyamjvs commented on #60589
Unfortunately, the variation in those watch latencies seems like a one-off (it's otherwise roughly the same). Fortunately, we have `PUT pod-status` latency as a reliable indicator of the regression. I ran 2 rounds of bisection yesterday and narrowed down to [this diff](https://github.com/kubernetes/kubernetes/compare/494664a7364d62...551f73d3244f4) (~80 commits). I skimmed through them and have st

[2018-03-07 10:46] wojtek-t commented on #60589
I really doubt that the #58990 is related here - NominatedNodeName is a string that contains a single node name. Even if it would be filled all the time, the change in object size should be negligible.

[2018-03-07 10:50] shyamjvs commented on #60589
@wojtek-t - As you were suggesting offline, it indeed seems like we're using a different version (3.2.16) in kubemark (https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/start-kubemark.sh#L62) which is the potential reason for not seeing this regression there :)

cc @jpbetz

[2018-03-07 10:53] wojtek-t commented on #60589
We are using 3.2.16 everywhere now.

[2018-03-07 10:57] shyamjvs commented on #60589
Oops.. Sorry for the hindsight - I was looking at a wrong combination of commits.

[2018-03-07 11:06] blasrodriguez opened #60879 "[GKE] Multiple LoadBalancers with loadBalancerSourceRanges"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
With GKE as cloud provider, when creating multiple LoadBalancer with different loadBalancerSourceRanges, different FW rules are created as expected.
Problem is that checking from GCP console, every FW rule has the same target, and there is a colision.
As a result, FW rules are applied randomly when connecting to a LoadBal

[2018-03-07 11:08] wojtek-t commented on #60589
BTW - that increase in PUT pods/status latency is visible also in load test in large real clusters.

[2018-03-07 11:09] shyamjvs commented on #60589
So I digged up a bit more and seems like we started observing greater latencies around that time for write requests in general (which makes me suspect etcd change even more):

![post-pod-binding](https://user-images.githubusercontent.com/4333971/37089262-46ae34d4-2200-11e8-8635-295a46d5ec83.png)
![patch-node-status](https://user-images.githubusercontent.com/4333971/37089263-46ce3536-2200-11e8-9013

[2018-03-07 11:14] blasrodriguez commented on #60879
/sig gcp

[2018-03-07 11:24] wojtek-t commented on #60589
Actually, I vote that at least part of the problem is here:
https://github.com/kubernetes/kubernetes/pull/58990/commits/384a86caa92bdb7cf9ac96b10a6ef333d2d60519#diff-c73f80ad83608f18657d22a06950d929R240

I would be surprised if it would be the whole problem, but it may contribute to it.
Will send a PR changing that in a second.

[2018-03-07 11:34] shyamjvs commented on #60589
FYI - When I ran against a commit that's after the etcd 3.2.14 change but before the pod-status API change, the put node-status latency seems totally fine (i.e 99%ile = 39ms).

[2018-03-07 11:56] wojtek-t opened #60882 ""Cluster level logging implemented by Stackdriver should ingest events" fails for GKE Regional Clusters"
This test consistently fails for GKE Regional Clusters:
https://k8s-testgrid.appspot.com/google-gke#gke-regional

[code]

@piosz @crassirostris - can you please triage?

[2018-03-07 12:26] liggitt commented on #60865
/assign @mtaufen

[2018-03-07 12:27] liggitt commented on #60845
/close

[2018-03-07 12:27] #60845 closed

[2018-03-07 12:53] corest commented on #58805
Any updates here? `1.9.2`, `1.9.3` and `1.10.beta.1` don't have this flag. Is it even will be supported?

[2018-03-07 12:55] SamSinging opened #60884 "Failed to list *v1.Pod & v1.service - getsockopt: connection refused err: failed to get node info: node "server1" not found"
Unable to proceed with kubeadm init due to the log below.
**This is just for the initial setup. I've tried:**
 - Removing the Environment="KUBELET_NETWORK_ARGS=--network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-dir=/opt/cni/bin" line from the 10-kubelet.conf file
 - Copying /etc/kubernetes/admin.conf to $HOME/.kube/config and restarting kubelet + daemon-reload

**kubectl apply -f doesn't

[2018-03-07 13:20] crassirostris commented on #60882
/assign @loburm

[2018-03-07 13:29] den-is opened #60885 "bash completion throws error v1.10.0-beta.1"
/kind bug

**What happened**:
[code]
**What you expected to happen**:
[code]

**Env**
[code]
- Centos 7 1708 x64
- Linux kubm1.dev 3.10.0-693.17.1.el7.x86_64 #1 SMP Thu Jan 25 20:13:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- kubelet and kube-proxy are running as binary services. apiserver, controller, scheduler as PODs
- Tested on 2+ fresh installs

[2018-03-07 13:32] gavk34 commented on #40224
Seeing this also
[code]

Sample log output
[code]

[2018-03-07 13:51] PaulCharlton commented on #46381
/remove-lifecycle stale

[2018-03-07 13:59] soltysh commented on #44812
/lifecycle rotten
/remove-lifecycle stale

[2018-03-07 13:59] soltysh commented on #44812
/remove-lifecycle rotten
/lifecycle frozen

[2018-03-07 14:07] mattjmcnaughton commented on #59975
@eghobo @lumeche - I submitted a pr for this - would love your eyes on it so you can see if you think it meets your use case :)

[2018-03-07 14:22] serathius opened #60887 "Remove remaining examples"
I was working on separate demo based on guestbook-go example and wanted to push some updates to it's code.
But looks like there are multiple versions. About 6 months ago some examples were moved to https://github.com/kubernetes/examples and have their README mention it.
It was not noticed couple of times and resulted in new examples still being added to old location.
I think remaining examples sho

[2018-03-07 14:22] gmarek commented on #58635
I believe it's already too late for that.

[2018-03-07 14:59] gnufied commented on #58786
The use case is - similar to format and mount stuff. For example, we know that for most volume types format and mount can be done via a simple utility function that is common to all of them, but having the Mount function as part of volume plugin interface allows a volume plugin to perform certain bespoke actions if necessary. Most volume types currently simple call into `mount.SafeFormatAndMount`

[2018-03-07 15:05] liggitt commented on #60885
fixed in https://github.com/kubernetes/kubernetes/pull/60135
/close

[2018-03-07 15:05] #60885 closed

[2018-03-07 15:12] bswartz commented on #59946
I'd like to take this bug and fix it

[2018-03-07 15:14] bgrant0607 commented on #41442
Another topology-related issue -- service routing:
https://github.com/kubernetes/community/pull/1551
https://github.com/kubernetes/kubernetes/issues/58744
https://github.com/kubernetes/kubernetes/pull/58732

[2018-03-07 15:18] shyamjvs commented on #60589
So I verified that it indeed is caused by the etcd bump to 3.2.14. Here's how the put pod-status latency looks like:

against that [PR](https://github.com/kubernetes/kubernetes/pull/58645):

[code]

against ~HEAD (from Mar 5) with that PR reverted (the test is still running, but about to finish soon):

[code]

63ms seems quite similar to what [it was before](https://github.com/kubernetes/kubernete

[2018-03-07 15:31] wojtek-t commented on #60589
One hypothesis (why we didn't catch that in kubemark - though it's still a guess) is that we may have changed sth wrt to certificates there.
When I'm comparing etcd log from kubemark and real cluster, only in the latter I'm seeing the following line:
[code]

Looking into the PR itself I don't see any changes around that, but I also don't know why we should have see that line only in real clusters.

[2018-03-07 16:13] shyamjvs commented on #60589
ACK.  In progress
ETA: 9/3/2018
Risks: Issue root-caused (mostly)

[2018-03-07 16:44] jsafrane commented on #60645
I closed #60846, it would blow up when kubelet was restarted at wrong time when creating a pod.

Interesting idea, I opened #60888 with it. I am not sure it covers all the corner cases though. Newly started kubelet does not overwrite its own status until `syncState()` runs, I hope it's ensured by something and not just a coincidence.

[2018-03-07 16:47] DirectXMan12 commented on #59975
/assign @mattjmcnaughton

[2018-03-07 16:58] jonathortense commented on #33664
After reading all of this, I'm convinced of not using `image:latest` anymore, and create new tags on every new image build instead:

And then:
[code]

[2018-03-07 17:15] wojtek-t commented on #60589
Re peerTLS - it seems to be the case also before (with 3.1.11) so I think that's a red herring

[2018-03-07 17:27] frapposelli commented on #55416
/assign @frapposelli

[2018-03-07 17:31] liggitt commented on #58002
two things stand out to me:
1. `firstResourceVersion: "104201", currentResourceVersion: "4293"` indicates the version of the object in etcd regressed, which should not be possible. can you verify you are using quorum reads in your apiservers (`--etcd-quorum-read=true`... the default became true in 1.9)
2. `when I change the leader of etcd cluster, this issue will be gone`... can you describe your

[2018-03-07 17:42] krzyzacy commented on #60870
okay that's healthy now, we'll still need to fix the kubemark script asap

[2018-03-07 17:56] jpbetz commented on #60589
cc @gyuho @wenjiaswe

[2018-03-07 18:03] gyuho commented on #60589
Where do we get those numbers? Is `apiserver_request_latencies_summary` actually measuring latencies of etcd writes? Also, metrics from etcd would help.

[2018-03-07 18:05] MrHohn commented on #53754
@Avanpourm Could you elaborate the issue a bit more? Which k8s version are you on?

[2018-03-07 18:05] gyuho commented on #60589
This prints, if peer TLS is configured (same in 3.1).

[2018-03-07 18:06] shyamjvs commented on #56032
I finally found some time today to add a scalability presubmit suite (ref: https://github.com/kubernetes/test-infra/pull/7168) :)
Once that's in, you should be able to trigger performance tests against your PR using:

- `/test pull-kubernetes-e2e-gce-100-performance` (for 100-node)
- `/test pull-kubernetes-e2e-gce-big-performance` (for 500-node)
- `/test pull-kubernetes-e2e-gce-large-performance`

[2018-03-07 18:13] wojtek-t commented on #60589
This measures apicalls latency which (at least in case of write calls) includes latency of etcd.
We still don't really understand what is happening, but reverting to previous etcd version (3.1) fixes the regression. So clearly the problem is somewhere in etcd.

[2018-03-07 18:14] lnsp commented on #60847
This looks like a good first issue!

My suggestion would be something like `999 is not an allowed group (allowed [231 - 261], [300 - 312])`. I would also suggest to merge overlaying ranges in the log message, like `[100 - 300], [150 - 450]` as `[100 - 450]`, to keep the log as concise as possible.

I will look into it.

[2018-03-07 18:28] lumeche commented on #59975
I checked the code and it seems good to me. About the comment @MaciekPytel about scaling down if the readyPods<CurrentPods, we should be fine since our metric is already not including the pods that are not ready.

[2018-03-07 18:28] overip opened #60893 "kubeadm upgrade apply 1.9.0 fails to upgrade kubectl server"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug

**What happened**:
I upgraded my k8s from 1.7.4 to 1.8.3. Then I tried to upgrade again from 1.8.3 to 1.9.0. The upgrade failed with the following error:
FATAL: The --version argument is invalid due to these errors:   - "There are kubelets in this cluster that are too old that have these versions [v1.7.4]"

The output of kubelet --version though i

[2018-03-07 18:29] redbaron opened #60894 "iSCSI doesn't give enough time multipathd to create multipath device"
/kind bug
/sig storage

**What happened**:

When mounting iSCSI PV kubelet doesn't give multipathd enough time to create multipath device and fallbacks to mounting single SCSI device

**What you expected to happen**:
it uses multipath device to mount

**How to reproduce it (as minimally and precisely as possible)**:
create ~5 pods on a single node, each with dynamically provisioned PV (we use Trid

[2018-03-07 18:33] ahmetb commented on #60887
@serathius +1000 for this. We recently added a blockade to this repo to prevent examples/ directory from being modified.

Would you be willing to take up this task? The only remaining work item is to bring the changes made to examples here to k/examples repo. This can be achieved 2 ways:
- preserve the git commit history (authors, commit messages) and port the commits there (sebgoa knows a way to

[2018-03-07 18:33] #59562 closed

[2018-03-07 18:34] shyamjvs commented on #53600
/remove-lifecycle stale

[2018-03-07 18:38] php-coder commented on #60847
Maybe something like "(expected to be in range [231 - 261], [300 - 312])" ?

Thank you!

[2018-03-07 18:39] mtaufen commented on #60865
I looked in the build log, and this suite is at least running the dynamic config tests, so that's going to be a source of many of those config changes:
[code]

[2018-03-07 18:42] mtaufen commented on #60865
I admit the GET without a corresponding POST is rather strange.

[2018-03-07 18:42] cblecker commented on #44505
@mattfarina pointed out that https://fossa.io/ is a SaaS product that does this. We'd have to talk to them about pricing and such (we don't have private repos, which is how they track "developers").

@bgrant0607 @thockin Would something like this be worth looking into?

[2018-03-07 18:44] mtaufen commented on #60865
Ah, doesn't look like the resource name is included in the log line for POST, e.g.:
[code]

[2018-03-07 18:45] shyamjvs commented on #56032
@bsalamat That PR is now merged and those pre-submits should be available. Please free to try them and let me know if you face some issues.

[2018-03-07 18:48] php-coder commented on #60847
We can use the same approach that `runAsUser` strategy uses: https://github.com/kubernetes/kubernetes/blob/48a7048d9819ee516b3cfdf5c458b5815b640138/pkg/security/podsecuritypolicy/user/mustrunas.go#L60-L63

[2018-03-07 19:01] MrHohn commented on #60761
The test is now flaky mostly on creating an exec pod after restarting apiserver. Some sample failures:
[code]

To elaborate a bit more, a snippet of the test procedure is:
- ssh to master and `sudo kill $APISERVER_PID` (sending a SIGTERM)
- Keep polling on /healthz on apiserver until 200 is returned.
- Create an exec pod for later steps (and failed on various erros --- EOF, connection refused, api

[2018-03-07 19:06] BenTheElder commented on #60863
/sig release
/sig testing

[2018-03-07 19:08] gyuho commented on #60589
@shyamjvs

What Kubemark and Kubernetes versions are you running? We tested Kubemark 1.10 against etcd 3.2 vs 3.3 (500-node workloads), and didn't observe this. How many nodes are needed to reproduce this?

[2018-03-07 19:11] Random-Liu commented on #60865
Ha, really? Let me see.

[2018-03-07 19:11] lnsp commented on #60847
Sure, that is probably the most consistent solution.

[2018-03-07 19:12] verult commented on #60725
Fix submitted, awaiting review: https://github.com/kubernetes/kubernetes/pull/60859

[2018-03-07 19:13] serathius commented on #60887
Looks like there is staging directory in new repo containing most of examples.
Should examples be moved there? It's hard to spot because it's mixed with other examples.
Just want to be sure before trying anything.

[2018-03-07 19:14] wojtek-t commented on #60589
We can't reproduce it with kubemark, even with 5k-node one - see bottom of https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-371171837

This appears to be a problem only in real clusters.
This is an open question why is it the case.

[2018-03-07 19:30] tmjd opened #60896 "kubeadm: specifying controllerManagerExtra arg did not take precedence"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I was specifying `node-cidr-mask-size` in a kubeadm config file under `controllerManagerExtraArgs` to set the flag. kube-controller-manager was started with 2 instances of `--node-cidr-mask-size` being passed to it.  The 2nd instance was the default that kubeadm adds and overrode the value I was attempting to set.

**What

[2018-03-07 19:30] rafarost commented on #56972
Hello... We have a similar environment here and I believe we are facing exactly the same issue... We did the same workaround (delete + create services) and apparently it was "fixed".  Do you guys have any news on it? Thanks

[2018-03-07 19:32] ahmetb commented on #60887
Yes, we need to bring updates to what's in `staging/`. The content outside `staging/` are maintained actively by me.

While importing stuff, there we need to make sure bringing the k/k-only changes to k/examples, while making sure the changes made only in k/examples aren't destroyed/lost. That should be about it, I'm happy to assist/review along the way.

[2018-03-07 19:34] tmjd commented on #60896
/sig cluster-lifecycle

[2018-03-07 20:00] bsalamat commented on #56032
@shyamjvs I tried the density test with 30 pods per node that you suggested above. I let the test run until it fails while priority and preemption was enabled in my cluster which had 3 nodes. The test ran for 28 times successfully and then it failed. While running, I was checking the scheduler logs. The 90 pods created in the test were being scheduled in several seconds. And eventually when the te

[2018-03-07 20:06] MrHohn opened #60897 "Set up kube-dns role in manifest and move it out of bootstrap"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup
/sig network

**What happened**:
This has been brought up couple times:
- https://github.com/kubernetes/kubernetes/issues/23225#issuecomment-324376951
- https://github.com/kubernetes/kubernetes/pull/60833#issuecomment-371013456

Copied what was said, kube-dns default service account binding should not have been in bootstrap bindings, but

[2018-03-07 20:18] smarterclayton commented on #59848
My concern is that it regresses 5000 node cluster completely (because if we list from etcd then we have to filter in the apiserver once for each node).  So we'd probably drop back to down to 1k nodes as the max.

[2018-03-07 20:43] dims commented on #60896
@tmjd - issue should be in https://github.com/kubernetes/kubeadm/issues can you please open a fresh one there?

[2018-03-07 20:45] liggitt commented on #19367
single annotations/labels were added to the downwardAPI in 1.9 in https://github.com/kubernetes/kubernetes/pull/55902

syntax is
[code]

/close

[2018-03-07 20:45] #19367 closed

[2018-03-07 20:45] dims commented on #60861
@technicianted the proposed solution looks good to me, can you please submit a pull request?

[2018-03-07 20:58] danielshiplett commented on #46421
Is there any update on this?  I am still seeing this issue while running OpenShift 3.6/Kubernetes 1.6 on Azure.

I've been able to verify that the disk is unmounted from the node.  But according to Azure, the disk is still leased to the node.  I've manually broken the lease, but that leaves it in the Broken status.  So Kubernetes still won't attempt to mount it to the next node.

Barring an actual

[2018-03-07 21:09] verult commented on #60766
PR submitted (https://github.com/kubernetes/kubernetes/pull/60899), awaiting review and 1.9 branch to be unfrozen.

[2018-03-07 21:16] php-coder commented on #60847
/remove-help

[2018-03-07 21:31] caesarxuchao commented on #60037
@mcginne @dwradcliffe did this happen to you to? Or is it that only the garbage collector disappeared from the logs?

[2018-03-07 21:33] #60896 closed

[2018-03-07 21:36] MrHohn commented on #58785
+1, and if there is any problem when rolling updating a daemonset/deployment/etc., we should fix the underlying issue.

[2018-03-07 21:43] kow3ns commented on #60620
This is the wrong place to ask this question. I'm not sure which cassandra-operator you are using, but it's not part of core kubernetes. Please feel free to ask this question on slack (try the sig-apps channel), or stack-overflow.
/close

[2018-03-07 21:43] #60620 closed

[2018-03-07 21:50] kow3ns commented on #60309
@MengZn what is the value of adding this to kubernetes core vs contributing to the examples hosted at the
[linkderd project](https://github.com/linkerd/linkerd-examples/tree/master/k8s-daemonset)?

[2018-03-07 21:53] dwradcliffe commented on #60037
For me the other controllers still have logs; it was just the GC that crashed.

[2018-03-07 22:04] tmjd commented on #60896
I opened https://github.com/kubernetes/kubeadm/issues/724 instead

[2018-03-07 22:07] BenTheElder commented on #59762
I think we can close this now.

[2018-03-07 22:10] #59762 closed

[2018-03-07 22:10] krzyzacy commented on #59766
this is also fixed

[2018-03-07 22:10] #59766 closed

[2018-03-07 22:12] krzyzacy commented on #60762
cc @kubernetes/sig-node-bugs please update

[2018-03-07 22:12] krzyzacy commented on #60762
/priority critical-urgent

[2018-03-07 22:20] jennybuckley commented on #60037
@dwradcliffe does your cluster also use CRDs?

[2018-03-07 22:28] dwradcliffe commented on #60037
Yes, although this happened in one cluster where we don't have any resources yet (the type exists).

I'm not sure what that means

[2018-03-07 23:08] holygits commented on #50622
I've opened a PR for this. Could use a review

[2018-03-07 23:09] ksexton opened #60903 "Multiple pods able to write to PV with accessMode of ReadWriteOnce"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Create ReplicaSet with multiple pods mounting PV set with accessMode of ReadWriteOnce.  Then verified that each pod could write successfully to the PV.

**What you expected to happen**:
Either the replicaset to fail because it was trying to do something invalid (mount a RWO volume to multiple pods) or to succeed but only m

[2018-03-07 23:10] ksexton commented on #60903
/sig storage

[2018-03-07 23:35] mtaufen commented on #60865
By "left over" do you just mean that Kubelet continues using a configmap after the test? This is a hacky implementation detail of the test framework right now (we can change this, I just haven't gotten to it yet); it "resets" the config by pointing a Kubelet to a configmap containing what it initially read from /configz - what it should probably actually do is reset Node.Spec.ConfigSource to a val

[2018-03-08 00:09] y2kenny opened #60905 "k8s.io/kubernetes/examples test failed"
/kind bug

**What happened**:
Test failed when using ./build/run.sh make test
[code]

**What you expected to happen**:
Test passing

**How to reproduce it (as minimally and precisely as possible)**:
./build/run.sh make test

**Anything else we need to know?**:

**Environment**:
Checked out code at master:5364f7beb8
Ubuntu 16.04.3 LTS
kernel:  4.10.0-40-generic
$ go version
go version go1.9.4 linux

[2018-03-08 00:22] krzyzacy commented on #60003
no they are not, not until all the linked test failures are closed

[2018-03-08 00:31] ixdy opened #60907 "go test k8s.io/kubernetes/pkg/kubectl/cmd is failing on master"
`make test` is failing on `k8s.io/kubernetes/pkg/kubectl/cmd` with go1.9.4, whereas the same package passes under bazel test.

`go test` shows failures like
[code]

I dug into this a bit, and I think it started failing about two weeks ago, after https://github.com/kubernetes/kubernetes/pull/60218. Since CI only runs bazel test now, we didn't notice the non-bazel go test failures.

It looks like th

[2018-03-08 00:33] saad-ali commented on #60861
@verult can you submit this patch if @technicianted does not get to it.

[2018-03-08 00:45] jberkus commented on #58083
Since the tests are now fixed, what remains with this tracker?

[2018-03-08 00:51] ixdy commented on #60907
This is getting more mysterious.

I added a panic to `staging/src/k8s.io/client-go/rest/plugin.go`:
[code]

bazel test still passes.
`go test` panics as expected.

something seems fishy.
[code]

@deads2k anything obviously wrong stand out to you here?

[2018-03-08 00:59] dashpole commented on #60762
I don't think so.  This is a specific increase in the runtime (docker in this case) cpu usage

[2018-03-08 01:00] janetkuo commented on #60003
All DaemonSet tests are passing. Removing sig/apps and unassigning sig-apps owners. IMO we should file one bug for each failing test.

[2018-03-08 01:03] pswenson opened #60908 "Kubernetes get cluster status should be more thorough"
**FEATURE REQUEST**:

/kind feature

**What happened**:
`kubectl get cs` returns healthy cluster status even if the overlay networking isn't working.

**What you expected to happen**:

I would expect  a more thorough cluster status test.  Overlay networking is the think I know about, but I suspect there are many other pieces of functionality that isn't being tested.

[2018-03-08 01:15] wackxu commented on #56799
@derekwaynecarr Any thoughts about this feature?

[2018-03-08 01:30] dims commented on #60907
cc @deads2k David, any ideas?

[2018-03-08 01:35] wanghaoran1988 commented on #58805
/cc @kubernetes/sig-scheduling-feature-requests

[2018-03-08 01:42] hzxuzhonghu commented on #56856
This is intended, would wind closing this issue?

[2018-03-08 01:43] hzxuzhonghu commented on #56856
/close

[2018-03-08 01:43] #56856 closed

[2018-03-08 01:43] dims commented on #60763
looks like `should restart all nodes and ensure all nodes and pods recover` is now green. guess it's still flaky

[2018-03-08 01:47] krzyzacy commented on #60003
@janetkuo yep I did that, see all linked individual test failure issues above.

[2018-03-08 02:00] feiskyer commented on #60905
Let me file a PR to fix this

[2018-03-08 02:15] dixudx commented on #58946
@lcfang Please run `journalctl -f -u kubelet-878409224` to show the log.

[2018-03-08 02:18] feiskyer commented on #58002
Seems @foxyriver is running v1.6.9 with etcd v3.0.17. For clusters older than 1.9, are there any possibility of hitting this problem?

[2018-03-08 02:23] andyzhangx commented on #42628
/sig azure
/sig windows

[2018-03-08 02:55] timothysc commented on #60763
Mar  7 16:52:36.943: At least one pod wasn't running and ready or succeeded at test start.

^ The preconditions are not met at the start of the test... and the pods state shows as pending.
Always seems to be a fluentd pod on the master node doesn't run.  Are things tainted properly?

/cc @yujuhong & @mbforbes as they are the test authors.

[2018-03-08 03:06] liggitt commented on #58002
Yes, running against an etcd cluster without that set to true is known to lead to correctness issues.

[2018-03-08 03:20] lcfang commented on #58946
@dixudx  I got some events like this:
[code]
it seems my apiserver didn't run. my firewall was closed, and I don't have http proxy, do you know the reason?

[2018-03-08 03:24] qiujian16 opened #60913 "Static pod cannot pull image from private registry."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
We start apiserver/controller manager as static pods, and the images of kubernetes are saved in a private registry with authentication enabled. However, these images cannot be pulled due to authentication failure.

Docker login does not work, since kubelet does not leverage docker to pull image. It is better that we c

[2018-03-08 03:24] dixudx commented on #58946
@lcfang Please find out the apiserver container and check the log.

[code]

[2018-03-08 04:26] hzxuzhonghu opened #60914 "Should support webhook timeout configuration"
Currently we can set several webhooks for mutating and validating admission, but  we do not provide a way to set http timeout. And now they all use a default 30s.

I think the timeout should be set according to particular cases.

/sig api-machinery
/sig auth

[2018-03-08 04:27] hzxuzhonghu commented on #60914
@caesarxuchao @liggitt @sttts @deads2k @lavalamp

[2018-03-08 04:41] yue9944882 commented on #60860
Related #60770

[2018-03-08 04:44] bmoyles0117 commented on #60762
+ @qingling128 we should investigate this with @crassirostris, according to this report, the latest version of fluentd using our image is using more CPU that is acceptable. I didn't see this behavior in my tests, I wonder if it has anything to do with the parser fixes we added when we moved the multiformat into a plugin block.

[2018-03-08 05:54] aknrdureegaesr commented on #56856
/remove-lifecycle stale

[2018-03-08 06:10] MangeshBiradar commented on #46421
in pvc definition can we set `ReadWriteMany ` instead of `ReadWriteOnce `
`apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    provisioner: kubernetes.io/azure-disk
    storageclass.beta.kubernetes.io/is-default-class: 'true'
    volume.beta.kubernetes.io/storage-provisioner: kubernetes.io/azure-disk
  name: pvc-name
  namespace: namespace
spec:
  accessModes:
  - ReadWriteMany

[2018-03-08 06:12] dixudx commented on #58946
@lcfang Please check whether `--insecure-port` is set to `0` in your apiserver flags.

Any detailed logs from `kubelet`?

[2018-03-08 07:23] wojtek-t commented on #59848
That should happen only if we restart all nodes at once, right? That shouldn't really happen...
Or am I missing something big here?

[2018-03-08 07:51] foxyriver commented on #58002
@liggitt `can you verify you are using quorum reads in your apiservers (--etcd-quorum-read=true... the default became true in 1.9)`
using default value in --etcd-quorum-read configuration, in v1.6.9 is false
`can you describe your etcd cluster setup? are you using the etcd v2 or v3 schema? `
using etcd v3 schema. no migration

[2018-03-08 08:00] foxyriver commented on #58002
@liggitt

thx :), I will try to set --etcd-quorum-read=true in kube-apiserver

[2018-03-08 08:05] dwatzke opened #60916 "kubectl apply: print filename along with line number on parse errors"
/kind feature

**What happened**:
I ran this command on top of a directory that had an invalid yaml

`kubectl apply --validate=true --dry-run=true --filename=dir_with_multiple_yamls`

kubectl reported this error:

`error: error converting YAML to JSON: yaml: line 17: could not find expected ':'`

From that error message, one has no idea which file contains the syntax error.

Note that on certain d

[2018-03-08 08:15] traghave opened #60917 "Support client certificate revocation"
Need help regarding revoking a already issued client certificates.

Steps to reproduce:

I added the groups information in the idtoken of oidcUser1 and configured the same groups
using "--oidc-groups-claim" in kubernetes

I've created created client certificate and key for use with kubectl.

openssl req -newkey rsa:2048  -out oidcuser.csr -nodes -keyout oidcuser.key -subj /CN=oidcUser/O=group1/O=g

[2018-03-08 08:17] traghave commented on #60917
/sig auth

[2018-03-08 09:36] qiujian16 commented on #60897
would like to take a try if no one is working on it.

[2018-03-08 09:41] mcginne commented on #60037
@caesarxuchao I still see messages from `service_controller.go:323` and `deployment_controller.go:483` and `controller_utils.go:180] Updating ready status of pod` after the garbage collector stops working - so looks like some controllers are still working. Is there anything specific you were looking for?

[2018-03-08 10:08] porridge commented on #55686
/unsassign

[2018-03-08 10:13] dixudx commented on #60916
/kind bug
/sig cli

[2018-03-08 10:54] brancz commented on #60768
I dug into this a bit and I think I figured out what's happening.

The test logs of each of the 6 retries of the cAdvisor "ping" on each node says:

[code]

At first this seemed curious, but I realized that this is actually the correct behavior for a 1.10 cluster, as the `/api/v1/proxy` API [has been removed for 1.10](https://github.com/kubernetes/kubernetes/pull/59884). As this is an upgrade test

[2018-03-08 10:58] brancz commented on #60768
/status in-progress

[2018-03-08 11:18] brancz commented on #60768
Opened #60921, I'm not sure if I followed the procedure correctly, please let me know if I did something wrong.

[2018-03-08 11:29] soltysh commented on #53331
@civik iiuc your job is creating another pod, in which case there's no controller owning your pod. In that case you have two options:

1. set the OwnerRef, but that will only remove the pod when the owning pod/job is being removed
2. manually clean your pods

[2018-03-08 11:36] sttts commented on #60854
![bildschirmfoto 2018-03-08 um 12 33 57](https://user-images.githubusercontent.com/730123/37149142-3b1bbbe6-22cd-11e8-8819-cc7a728e32c0.png)

[2018-03-08 11:44] SukantGujar commented on #56672
/remove-lifecycle stale

[2018-03-08 11:54] MikeSpreitzer commented on #60484
The Prometheus data shows that when using proxying the CPU usage (on the node running the aggregated api-server and its etcd server) is about half of what it is when the flunder-loggers connect directly to the aggregated api-server, and the network usage is nowhere near the network capacity.  But with proxying the informers lose sync and miss objects.

[2018-03-08 12:11] php-coder commented on #56174
Another proposed breaking change is to change the default behavior for sysctls -- right now `nil` means "allow all":
https://github.com/kubernetes/kubernetes/blob/a0844c17bfb964e3d1709784203e8404f790116c/pkg/security/podsecuritypolicy/sysctl/mustmatchpatterns.go#L39-L48
I'd suggest to make it stricter by default.

Perhaps, we even can do that change without waiting for major release because sysctl

[2018-03-08 12:11] jpalomaki commented on #25908
FWIW, I worked around this by just deploying Cloud SQL proxy as a regular deployment (`replicas: 1`) and made my `Job` and `CronJob` use it via a `type: ClusterIP` service. Jobs complete fine now.

[2018-03-08 12:25] dag24 commented on #60134
I'm seeing the same. You can get it to work by setting `repo_gpgcheck=0` in `/etc/yum.repos.d/kubernetes.repo` but that is obviously not a real solution.

[2018-03-08 12:35] tianshapjq commented on #60907
/cc

[2018-03-08 12:37] shyamjvs commented on #56032
Not sure why the fluentd error happened, but it indeed seems to me like it may be unrelated to scheduler (or maybe even scalability at that small scale). However:

Could you confirm which issue you're referring to by 'scheduler performance'? If you mean test runs we ran with preemption enabled, I believe it is indeed related to scheduler performance for the reasons I explained in https://github.co

[2018-03-08 12:41] nbaztec commented on #58834
I glanced over the issue and it seems the real discussion is if and what should actually be fixed. This issue seems to originate from YAMLs doc separators - whereas the json equivalent would be to `cat kube-service-*.json | kubectl apply -f - `. And since JSON doesn't have doc separators, the result objects would need to be aggregated into a `api.List`, so they look something like below.

However,

[2018-03-08 13:07] nilebox opened #60924 "Provide support for admission webhooks in all API servers out of the box"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
There are generic admission controllers that are available in the core k8s API server, but not available in other API servers: ValidatingAdmissionWebhook, MutatingAdmissionWebhook, AlwaysAdmit, AlwaysDeny, EventRateLimit, OwnerReferencesPermissionEnforcement.
In order to use them in other API servers, e.g. Service Cata

[2018-03-08 13:08] nilebox commented on #60924
/sig api-machinery

[2018-03-08 13:14] redbaron commented on #46041
/remove-lifecycle stale

[2018-03-08 13:19] nilebox commented on #60924
@caesarxuchao

[2018-03-08 13:25] soltysh commented on #52211
Looking at http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1 I don't see the that particular job flake anymore.

[2018-03-08 13:25] deads2k commented on #60924
This was a requirement for beta.  We added it here: https://github.com/kubernetes/apiserver/blob/release-1.9/pkg/admission/plugin/webhook/validating/admission.go

I suspect that we may have missed some required permissions and should probably create an aggregated cluster role to manage "apiservers should have these", but the core code for enabling it is present.

[2018-03-08 13:27] gtie commented on #59074
We are getting bitten by this problem as well. The way I'm reproducing is:

1. Log on to an etcd node and kill its outbound networking (except for SSH)
[code]
2. Verify the cluster componentstatus is timing out on one of the etcds:

[code]

2. Watch connections to etcd on the instances that run `apiserver`, e.g. quick and dirty `netstat -n | grep ':4001 ' | awk '{print $5 " - " $6}' | sort | uniq

[2018-03-08 13:30] monique77 opened #60928 "Kubernetes without docker"
< Please, People
I want to install Kubernetes without docker. Please send me article with step to step.
-->
My objective is to install Master kubernets without docker, but, at site oficial kubernetes no search.

But, is advisable to install kubernetes master without docker?

**Environment**:
- Kubernetes version (use `kubectl version`): V1.9
- Cloud provider or hardware configuration: nothing
- OS

[2018-03-08 13:32] nilebox commented on #60924
Already resolved in #56627, closing.

[2018-03-08 13:32] #60924 closed

[2018-03-08 13:50] soltysh commented on #27308
It was nicely summarized with this comment https://github.com/kubernetes/kubernetes/pull/60044#issuecomment-371345724 aliases are a reasonable approach that can easily solve this problem without the need to complicate kubectl code even more.

[2018-03-08 14:09] soltysh commented on #59676
@enisoc here's the story behind it (in short :wink:). Initially (when no server-side deletion was possible) we wrote [manual removal of pods and only then job](https://github.com/kubernetes/kubernetes/blob/0dedd13ad7c546f6acac646742ecf9d52e43ab48/pkg/controller/cronjob/cronjob_controller.go#L359-L409). Now when the server-side deletion was introduced to keep [backwards compatibility](https://githu

[2018-03-08 14:44] crassirostris commented on #58083
@jberkus Only docs: https://github.com/kubernetes/website/pull/7679

[2018-03-08 14:48] lloeki commented on #42125
I like *Option 1* for its simplicity and reusal of `--node-ip` which is already a known workaround for bare metal (Digital Ocean precisely), which currently only sets `InternalIP` on nodes, leaving `ExternalIP` as `<none>`. It's especially simple and useful when provisioning nodes using `kubeadm` and `KUBELET_EXTRA_ARGS` in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`.

In the meantime

[2018-03-08 14:59] ncdc commented on #60854
Copying some of what was discussed in Slack - we need to redo a test with `KUBE_CACHE_MUTATION_DETECTOR=false` set when running `hack/local-up-cluster.sh`. This disables the cache mutation detector, which holds on to "all the things" 😄.

[2018-03-08 15:37] oivindoh commented on #60528
Can confirm, seeing same behaviour on 1.9.3

[2018-03-08 16:04] sylr opened #60930 "Job restarted despite "restartPolicy: Never""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We launched a Job with :

[code]

It failed and it got restarted.

**What you expected to happen**:

We expected to not get restarted if failed.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.7.10
- Cloud provider or hardware configuration: Azure
- OS (e.g. from /etc/os-release): Ubuntu 16.04
- Kernel

[2018-03-08 16:04] deads2k commented on #60907
I tested locally using `hack/test-go.sh ./pkg/kubectl/cmd` when I was developing and against just now.  It works for 1.9.1, 1.9.3, and 1.9.4.  `go test k8s.io/kubernetes/pkg/kubectl/cmd` on 1.9.3 works for me too.

[2018-03-08 16:07] sylr commented on #60930
/sig node
/sig scheduling

[2018-03-08 16:32] jstange commented on #51764
I'm getting this as well, just in trying to clean up after a test run in my first Kubernetes foray. I've been following https://opencredo.com/kubernetes-aws-terraform-ansible-3/ and modernizing as I go for current versions of docker, k8s, etc. My Kubernetes bits are all 1.9.3.

[code]

Futzing around with `--force` and various timeout options doesn't seem to change the behavior. If I run with `--c

[2018-03-08 16:39] bmoyles0117 commented on #60762
Just ran my perf tests against the latest configuration, and I'm seeing > 600m usage for CPU. Will investigate how we can optimize this with Ling today.

[2018-03-08 16:44] brancz commented on #60870
I believe I'm getting the same failure here (based on and merging into 1.9 branch): https://github.com/kubernetes/kubernetes/pull/60921

[2018-03-08 16:54] shyamjvs commented on #60870
The same is being seen for our kubemark-small-last-release job - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-small-last-release
Reopening the issue.. @krzyzacy could you please send cherrypick PR for 1.9 (and maybe also 1.8, depending on if we're running kubemark presubmit against it)?

[2018-03-08 16:59] rodlogic commented on #42993
@jeremywu0127 What about amazon linux?

[2018-03-08 17:02] brancz commented on #60870
Not sure if that's the right procedure, but I already cherry-picked this commit into #60921 to see if that resolves my issue, I'm happy to remove the commit again if that was wrong.

[2018-03-08 17:04] nukepuppy commented on #44214
Also adding to what @ugugugug is stating. This seems like a very basic functionality

[2018-03-08 17:21] mleklund commented on #46041
/remove-lifecycle stale

[2018-03-08 17:21] shyamjvs opened #60933 "Scheduler logs exploding in large clusters - Can crash master!"
Today while running our 2k-node scalability presubmit against PR https://github.com/kubernetes/kubernetes/pull/60891, I noticed that scheduler throughput has fallen by ~4-5 times from the normal, i.e 100 pods/s -> 25 pods/s. Simultaneously, another 2k-node run I was manually running (against ~same code) showed normal throughput. I compared the scheduler manifests and only difference found was `--v

[2018-03-08 17:23] ericchiang commented on #60928
Yes It's possible to run the control plan components (kube-apiserver, kube-controller-manager, kube-scheduler) on the host without docker, and only run the kubelet (Kubernetes' node agent which talks to docker) on worker nodes.

Beside kubeadm, which uses docker on the controller nodes, the Kubernetes project doesn't maintain install strategies for Kubernetes. Please consider looking at one of the

[2018-03-08 17:23] #60928 closed

[2018-03-08 17:25] shyamjvs commented on #60933
I can try to bring down verbosity level for our scalability job, but IMO that's not the best thing to do (as we wouldn't be testing prod setup).
I believe we should instead increase it's verbosity to 6 at least. Thoughts?

[2018-03-08 17:25] ericchiang commented on #60917
Kubernetes doesn't have the ability to manage certificate revocation

Dupe of https://github.com/kubernetes/kubernetes/issues/18982

/close

[2018-03-08 17:25] #60917 closed

[2018-03-08 17:37] shyamjvs commented on #60933
I'll send out a PR to increase the verbosity. However, there are few things we need to think about:

- run our scalability tests against the prod default verbosity instead of reduced value
- ensure that devs don't add log lines at V4 that are expected to be more than linear in #objects (or sth like that)
- generally shield from all master components crashing just because one of them spewed tons of

[2018-03-08 17:49] BenTheElder commented on #60870
Normally we follow https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-picks.md for cherry picks, we need to do this for any affected branches.

[2018-03-08 17:55] msau42 commented on #60933
Shyam, I thought prod clusters have are log level 2 by default, and test clusters are log level 4

[2018-03-08 17:57] krzyzacy commented on #60870
I'll send the cherrypicks shortly

[2018-03-08 17:58] shyamjvs commented on #60933
I see.. thanks. Just verified that prod's at 2. Wdyt about increasing verbosity of that line though (as otherwise it doesn't seem to allow us to scale test with higher verbosity)?

[2018-03-08 18:03] asottile opened #60936 "[meta] SubmitQueue broken?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

I've had [this change](https://github.com/kubernetes/kubernetes/pull/55971) (5 character change) bounce around through being retested / hitting test flakes for nearly **5 months now**.

**What you expected to happen**:

I expect it to be merged, there's a "lgtm" and at numerous times it has passed tests.

**How to repro

[2018-03-08 18:06] asottile commented on #60936
/sig contributor-experience

[2018-03-08 18:09] enisoc commented on #56567
@nikhita Is the plan to enable graceful delete on all CRD-backed CRs (and potentially also CRD itself)?

I'm not familiar with the implications of that, but I noticed that currently Pod is the only strategy in core that seems to implement `RESTGracefulDeleteStrategy` (i.e. it has a `CheckGracefulDelete` method). Maybe it should be opt-in on a per-CRD basis?

I'm also curious how the overall flow w

[2018-03-08 18:11] srnfr commented on #32987
Still an issue in v1.8.7. Please re-open. Thxs.

[2018-03-08 18:13] technicianted commented on #60861
I'm on it

[2018-03-08 18:18] yujuhong commented on #60763
FWIW, I didn't author the test, and the test didn't even run since it failed the precondition....

/unassign
/assign @bmoyles0117
/assign @crassirostris

fluentd pods are pending on the master nodes.

[2018-03-08 18:21] msau42 commented on #60933
Yah that's fine. I would prefer level 5 though

[2018-03-08 18:27] yujuhong commented on #60762
@bmoyles0117 the test checks "docker daemon's" cpu usage when *only* system add-on pods are running, and the usage increases on all nodes. fluentd is one of the few pods that run on every node and the failure coincided with the fluentd version upgrade. On top of that,  fluentd frequently fail its own liveness checks.

Here are a few things that are worth checking IMO:
 1. Revert the PR (or run the

[2018-03-08 18:28] yujuhong commented on #60762
/assign @crassirostris

(since I can't assign it to @bmoyles0117 )

[2018-03-08 18:41] enisoc commented on #59676
@phsiao wrote:

You can check the real state with `kubectl get job <job-name> -o yaml` since that doesn't use any cache. If that returns an object, then the Job really is stuck pending deletion, and it's not just the controller manager thinking it still exists.

Given what I noted above about the `orphan` finalizer, and the fact that restarting controller-manager tends to result in CronJob saying

[2018-03-08 18:42] ericchiang commented on #60936
Sorry, this bot comment explains why it's not merged: https://github.com/kubernetes/kubernetes/pull/55971#issuecomment-356696497

Because there's no associated issue, you need to have an OWNER specifically issue the command `/approve no-issue`. The submit queue check generally has the correct feedback. If it's not green then it's not in the submit queue. Right now, because we're in freeze before 1

[2018-03-08 18:42] #60936 closed

[2018-03-08 18:46] jingxu97 commented on #60645
I think #60888 might still hit a race condition issue as below

1. Pod is normally deleted (without force delete) during kubelet restart
2. Kubelet restarts, pod is received again so it is add to the pod Manager
3. Pod is added to desired state, so reconciler skip to reconstruct to the actual state
4. Kubelet kill containers and then try to delete the Pod from API server. If actual state has not y

[2018-03-08 18:48] jayconrod commented on #60907
Some thoughts about possible differences between `bazel test` and `go test`:

* init functions within the same package may be called in a different order. This depends on the order source files are passed to the compiler. Both `go build` and Gazelle will sort sources though, so this
* init functions in different packages may be called in a different order. I think this depends on the order of impo

[2018-03-08 18:50] asottile commented on #60936
Thanks!  Also wanted to voice my frustration, this has been an (in my mind) unnecessarily drawn out process for (in my mind) a trivial change.  Is there a place I can give feedback on the process?  It feels like way too much overhead for simple changes.

[2018-03-08 18:51] ixdy commented on #60907
There's something funny going on with this test... `go test ./pkg/kubectl/cmd` on my personal mac passes (using go1.9.4).

[2018-03-08 18:55] ericchiang commented on #60908
A few of us would like to deprecate component status because it doesn't generalize well to the components it does collect the statuses of. For example it won't work if you self-host any of the control plane components.

Ref https://github.com/kubernetes/features/issues/553

[2018-03-08 18:55] ericchiang commented on #60908
/sig cluster-lifecycle

[2018-03-08 19:02] ericchiang commented on #60936
cc @kubernetes/sig-contributor-experience-feature-requests

I think there are a couple issues here:
* It's non-obvious to new users what the difference between `lgtm` and `approved` is.
* Why do we need `/approve no-issue`? I've seen a ton of approvers get this wrong.

[2018-03-08 19:08] ixdy commented on #60907
On my google linux workstation:

* `bazel test --test_strategy=standalone //pkg/kubectl/cmd:go_default_test` still passes
* `cd pkg/kubectl/cmd && ../../../bazel-bin/pkg/kubectl/cmd/linux_amd64_stripped/go_default_test` gives the same "gcp" errors as `go test`.

So it's definitely something about the test environment.

[2018-03-08 19:10] roycaihw opened #60937 "Umbrella issue for OpenAPI v3 related improvements"
The client libraries in https://github.com/kubernetes-client are generated from the [OpenAPI spec](https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json) that we serve in k/k. Tracking [OpenAPI v3](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md) related issues and tooling support around OpenAPI v3 here:

- Lack of `OneOf` support for types t

[2018-03-08 19:12] roycaihw commented on #60937
/sig api-machinery
/assign

cc @yliaog @mbohlool Please add anything that I missed

[2018-03-08 19:14] dims opened #60938 "Test fails in DIND enviroment - "KubeletManagedEtcHosts should test kubelet managed /etc/hosts file""
Please see the following job:
https://k8s-testgrid.appspot.com/sig-testing-misc#ci-kubernetes-local-e2e

Specifically output from one of the jobs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-local-e2e/373#k8sio-kubeletmanagedetchosts-should-test-kubelet-managed-etchosts-file-conformance

This happens in our CI environment where we use a container to both start lo

[2018-03-08 19:19] ericchiang commented on #60799
Can you include a minimal version of the manifest that reproduces the issue? It's not going to be possible to address this without some information about what part of the API is now incompatible.

[2018-03-08 19:22] verult commented on #59988
The dependency has been updated. #60450 ready for review, and I'm running e2e tests in parallel.
ETA: 3/9/2018

[2018-03-08 19:29] KIVagant commented on #29789
Why just don't add something like `service.beta.kubernetes.io/aws-load-balancer-name` [to annotations](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L99) and allow users to manage this?

[2018-03-08 19:29] jennybuckley opened #60942 "Admission Webhooks will use http even if the url in the WebhookConfiguration is https"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In the case of an admission webhook that specifies a url, we only use the Host and Path fields of the parsed url, (url is defined as ```[scheme:][//[userinfo@]host][/]path[?query][#fragment]```)
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/config/client.go#L

[2018-03-08 19:32] jennybuckley commented on #60942
/sig api-machinery

[2018-03-08 19:32] jennybuckley commented on #60942
/assign

[2018-03-08 19:50] greg-jaunt commented on #29789
Thumbs up to that, although is there any scenario in which Kubernetes needs to recreate the ELB in order to apply a change to a service?  If so, this would then force a delete-before-create scenario whereas before the replacement ELB could be brought up independent of deleting the existing to-be-replaced ELB.

[2018-03-08 20:05] jdumars commented on #60933
Do we want to approve this for the milestone and make it blocking for the 1.10 release?  Also, does this merit being added to #59764 ?

[2018-03-08 20:09] shyamjvs commented on #60933
It's a relatively smaller problem and I've already sent the fix above (yet to merge). I'm fine either way.

[2018-03-08 20:12] fanzhangio opened #60945 "Add conflict detection feature to apply strategy"
**FEATURE REQUEST**:

    Implement feature for https://github.com/kubernetes/kubectl/issues/97

**What is expected to happen**:
Apply is being rewritten under pkg/kubectl/apply/strategy based on visitor pattern. The new merge and replace code should check for conflicts between the recorded value and the remote value, and optionally return an error if they do not match with the field and details.

[2018-03-08 20:13] deads2k commented on #60907
holy side-effects.  @juanvallejo something has gone wrong.  My guess is that we need to fake out the very base layer of the factory in the fake to point to a tmp.

[2018-03-08 20:22] jdumars commented on #60933
We can let the fix go through, then close this issue.  If there's something (even with the fix) that we feel needs to pass on to the user community, I'd love a volunteer to just quickly write that up in #59764

Thanks again for all of your hard work here everyone!

[2018-03-08 20:25] y2kenny opened #60946 "'./build/run.sh make test' generates call stack dump instead of summary in the end when test failed"
/kind bug

**What happened**:
When running ./build/run.sh make test, this is the result when there's a failed test:
[code]

**What you expected to happen**:
A summary of test results (pass, failed, no-ex, etc.)

**How to reproduce it (as minimally and precisely as possible)**:
./build/run.sh make test with a failing test.

**Environment**:
Checked out code at master:5364f7beb8
Ubuntu 16.04.3 LTS
k

[2018-03-08 20:30] shyamjvs commented on #60933
@jdumars Since this doesn't seem to be in production setup (though it may be for some), not sure how much it'll effect users. Also seems like this came in 1.10? (in which case it might be ok as we'll fix it before the release)

[2018-03-08 20:34] shyamjvs commented on #60933
Ok.. I checked it and seems like it was actually introduced in 1.9 (https://github.com/kubernetes/kubernetes/pull/55039)
@msau42 - Could you confirm? This may need 1.9 users running large clusters to be aware with the problem at v=4.

[2018-03-08 20:38] roycaihw commented on #30537
@bgrant0607 The [problem](https://github.com/kubernetes/kubernetes/issues/59501) still exists because our openapi v2 spec cannot represent `OneOf`. Tracking openapi v3 support in https://github.com/kubernetes/kubernetes/issues/60937

[2018-03-08 20:41] juanvallejo commented on #60907
@deads2k

Taking a look

[2018-03-08 20:43] y2kenny commented on #60946
/sig sig-testing

[2018-03-08 20:45] #60933 closed

[2018-03-08 20:54] DirectXMan12 commented on #60768
/status in-progress

helping out since @brancz is a SIG lead ;-)

[2018-03-08 20:59] jdumars commented on #60933
Thanks so much for clarifying that. It might be worth a quick mention in the release notes, even if technically it's not a specific-to-1.10 issue.

[2018-03-08 21:07] gnufied commented on #60645
@jingxu97 what hook you are planning to use to stop kubelet from deleting pod unless it has been processed into asw?

[2018-03-08 21:11] lavalamp commented on #60834
Removing the sig/api-machinery label: SIG API Machinery doesn't own the *contents* of the API.
/remove-sig api-machinery
/sig scheduling
/sig node

[2018-03-08 21:11] janetkuo commented on #59676
@phsiao thanks for reporting this. Not sure if you still have the controller manager logs when the issue happened. Did you see any logs from garbage collector? It might be because the garbage collector was stuck, something we've seen before (e.g. #60037) and are trying to debug. Appreciate if you can give us more information or logs to help us investigate.

[2018-03-08 21:13] lavalamp commented on #60835
Are you saying it works from master nodes but not from regular nodes? That doesn't make very much sense to me, I'd expect it to work everywhere or not at all.

/sig node

(just in case)

[2018-03-08 21:14] phsiao commented on #59676
@janetkuo sadly, I did not retain the log, but if this happens again I will try to keep all the logs.  What logging level is required to see the garbage collector entries that you are interested?

[2018-03-08 21:15] lavalamp commented on #60914
Our gut instinct is that webhooks should be fast and this should be globally like 1s :)

[2018-03-08 21:21] lavalamp commented on #60854
@sttts What does the chart mean?

@ncdc yeah @cheftako determined that most of it is from the mutation detector (it really makes me nervous to have test code linked in to the production binaries).

[2018-03-08 21:36] caesarxuchao commented on #59676
The default is verbose enough. There are a couple of V(2) in the [code](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/garbagecollector.go), and in 60037 people reported not seeing any gc event.

[2018-03-08 21:38] jennybuckley opened #60949 "Unit test for webhook/config/client.go"
/sig api-machinery
/assign

Follow up for #60943

[2018-03-08 22:11] krzyzacy commented on #60767
Hi sig-ui this test is now also broken on master at https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke

please take a look
cc @floreks @liggitt

[2018-03-08 22:25] juanvallejo commented on #60907
Opened PR here to address this: https://github.com/kubernetes/kubernetes/pull/60950

[2018-03-08 22:27] jpbetz commented on #60589
Since we've rolled back to etcd 3.1. for kubernetes.  We also released etcd [3.1.12](https://github.com/coreos/etcd/releases/tag/v3.1.12) with the only outstanding critical fix for kubernetes: [mvcc "unsynced" watcher restore operation](https://github.com/coreos/etcd/pull/9297). Once we've found and fixed the root cause of the performance regression found in this issue we can sketch out a plan to

[2018-03-08 22:42] ericchiang commented on #52916
Support for a gRPC-based KMS integration point will be alpha in 1.10. We strongly recommend trying it out so we can get appropriate feedback for beta.

Feature issue: https://github.com/kubernetes/features/issues/460
Docs: https://github.com/kubernetes/website/pull/7479

Closing since the ability to integrate with AWS KMS merged.

/close

[2018-03-08 22:42] #52916 closed

[2018-03-08 22:45] jingxu97 commented on #60645
My thought is to add a flag (e.g., finishReconstruct) in actual_state_of_world to indicate whether reconstruction finished or not. volume_manager will add a function (e.g., IsActualStateReconstructed) to check the flag is set or not. When status_manager.go call canBeDeleted() function, the PodResourcesAreReclaimed in  kubelet_pod.go will return false if actual state has not yet finished reconstruc

[2018-03-08 22:47] bsalamat commented on #56032
Thanks, @shyamjvs. Unfortunately, I don't have enough quota to bring up a very large k8s cluster in GCE and try the test, but I will try to create a dummy PR and try your recently added CI tests.

[2018-03-08 23:18] #60942 closed

[2018-03-08 23:19] ericchiang commented on #59670
The TokenRequest work merged as alpha in 1.10 should be the first steps toward this feature. They allow non-persisted service account tokens with claim that include the pod ID they're request for.

https://github.com/kubernetes/kubernetes/issues/58790
https://github.com/kubernetes/community/pull/1460

There's still work to be done on the node side to replicate the current service account behavior,

[2018-03-08 23:28] ericchiang commented on #54632
I don't think this is going to progress forward unless there's a specific proposal about what should be implemented. "support custom JWT authentication" is too broad.

How would this be configured? What standards does it use? How would you express the validation?

[2018-03-08 23:33] ericchiang commented on #53348
Dupe of https://github.com/kubernetes/kubernetes/issues/18982

/close

[2018-03-08 23:33] #53348 closed

[2018-03-08 23:34] ericchiang commented on #53027
/remove-lifecycle rotten

[2018-03-08 23:38] ericchiang commented on #48522
Similar to https://github.com/kubernetes/kubernetes/issues/52916

Support for a gRPC-based KMS integration point will be alpha in 1.10.

Feature issue: kubernetes/features#460
Docs: kubernetes/website#7479

Closing since the ability to integrate with Google Cloud KMS merged.

/close

[2018-03-08 23:38] #48522 closed

[2018-03-08 23:40] bsalamat commented on #60616
I actually believe failing fast (i.e., not scheduling any pods) is a better strategy here. Our current behavior draws the attention of a cluster admin to the problem in the cluster. Being resilient to extender failures could cause such failures to remain unnoticed for a long time.

[2018-03-09 00:16] bsalamat commented on #60726
Most probably what @yujuhong here is the case. The pods are scheduled and then got killed (rejected) by the kubelet due to port conflict, but this should not happen since scheduler should check port conflicts before assigning to a node. If this issue is reproducible, please share reproduction steps. We should look into it.

[2018-03-09 00:23] bmoyles0117 commented on #60762
After doing some investigation, we discovered that this was due to an update in Fluentd v0.14 in how it manages its buffers. I've submitted a PR that resolves the liveness probe which should prevent the extreme spikes in CPU when the fluentd process is forcefully shut down.

[2018-03-09 00:24] tallclair commented on #27114
@MikaelWahlberg - That sounds like something InitContainers might be a better fit for.

Logically this feature request seems backwards to me - how can a container be ready if it's not alive? Also, If the liveness check doesn't run until after readiness has succeeded, then a startup failure would never be detected.

[2018-03-09 00:27] #59988 closed

[2018-03-09 00:31] bradleybluebean commented on #54482
We are seeing this issue too. We run a hybrid cloud/bare metal environment and we use a configuration management system which determines settings to apply based on the hostname so the default EC2 name doesn't work for us. It's definitely not obvious that a particular hostname is expected
 or that the hostname-override option will actually be overriden (with regard to setting the node name) when su

[2018-03-09 00:38] krzyzacy commented on #60726
unfortunately it's not easy to reproduce, and seems only happens while we have large volume of incoming PRs (which triggers large number of presubmit runs) (which only happen like... before code freeze, or maybe after code freeze? we'll see)

[2018-03-09 00:39] wattli opened #60952 "Provide client cert for liveness/readiness probe check"
Currently liveness/readiness probe only support http/TLS, but not mTLS, which blocks us from using this feature for mTLS services.

We should provide option to let kubelet send client cert to services.

[2018-03-09 00:39] wattli commented on #60952
@timstclair , FYI

[2018-03-09 00:43] msau42 commented on #60933
In 1.9 the feature is alpha gated so users should not really be using it in production...

[2018-03-09 00:47] ravisantoshgudimetla commented on #60616
I agree with you but depending on the priority of extender(say if it is important or not), I think we should be lenient as well. An example would be usage based scheduling extender that I demonstrated last week. While it would be a definite advantage to have such extender, we should allow the scheduling to happen if extender is not available. This is also especially important if the extender runs

[2018-03-09 01:00] verult commented on #60694
Thanks for reporting the bug. Will look into it.

/kind bug
/assign

[2018-03-09 01:12] ixdy commented on #60907
/assign @juanvallejo

[2018-03-09 01:13] tallclair commented on #56174
Hmm, so I stated in the description that I think all fields should default to "allow all". I could maybe be convinced that the default could only allow up to the pod default (e.g. capabilities default to allowing the default set of capabilities, as opposed to allowing all capabilities). I'm worried that this would cause problems if defaults change across API versions of Pods though.

[2018-03-09 01:18] PiotrSikora commented on #60952
/sig auth

[2018-03-09 01:20] tallclair commented on #60952
/sig node

Is there any reason the Kubelet shouldn't always send it's client cert for HTTPS probes?

[2018-03-09 01:21] BenTheElder commented on #59567
we could run a script with `gcloud container images delete ...` in a cronjob if we had a reliable way to identify which images we want to get rid of.

[2018-03-09 01:25] ixdy commented on #59567
We still pack the docker images + tags into the release tarballs, since GCE/GKE/kops all still do sideloading, but we also push the images from the `ci-kubernetes-cross-build` to gcr.io/kubernetes-ci-images for the kubeadm CI jobs.

See https://github.com/kubernetes/test-infra/issues/1400 for more discussion on this.

[2018-03-09 01:29] PiotrSikora commented on #60952
@tallclair The way client certificates work is that server requests client certificate during TLS handshake if it expects one (by providing list of recognized CAs), and client sends its client certificate only if server asked for it, so there is no reason not to provide client certificate.

Does this answers your question?

[2018-03-09 01:32] ixdy commented on #59567
@BenTheElder maybe combine `gcloud help container images list-tags <image>` with an appropriate `--filter`?

[2018-03-09 01:32] BenTheElder commented on #59567
@ixdy probably? one issue is that images can be pushed with many tags

[2018-03-09 01:35] ixdy commented on #59567
you can use `gcloud container images list` to get the list of images, and then `list-tags` will list all tags matching your filter query.

[2018-03-09 01:39] hogepodge commented on #52249
New PR on crosscloudci project https://github.com/crosscloudci/cross-cloud/pull/128

[2018-03-09 01:39] BenTheElder commented on #59567
yeah, we'll need something like:
- list images we want to keep and their tags
- list all images and their tags
- delete set(all tags) - set(tags to keep)

[2018-03-09 01:40] tallclair commented on #60952
Yep! Specifically, I like to avoid adding extra options to the API :)

[2018-03-09 01:55] lcfang commented on #58946
Hi @dixudx ,are you sure that apiserver run in a container? In a good env, I also can't find apiserver using `$ docker ps -a | grep apiserver` or `$ ps -ef | grep api`, I wonder when apiserver comes up.

I didn't set the `--insecure-port`, and using the default sets, I check the code, and confirm it is `port 8080`.

I think I can't have more useful logs from kubelet except I show before.

Otherwis

[2018-03-09 02:05] TinySong commented on #38923
@jianglingxia did you create ceph-secret in your namespaces ?

[2018-03-09 02:06] liggitt commented on #60913
aren't the credentials in $kubelet-root-dir/.docker/config.json used?

[2018-03-09 02:16] qiujian16 commented on #60913
@liggitt I do not think it is used, the kubelet will pull image at first here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_image.go#L87, and it fails because there is no image pull secret.

[2018-03-09 02:19] liggitt commented on #60913
Image pull secrets allow providing per-pod registry credentials. You can specify node-level registry credentials by placing docker credential files in the $kubelet-root-dir. That is what I'd expect to be done for static pods

[2018-03-09 02:25] jianglingxia commented on #38923
yes,thanks for your reply, and I have checked the problem that the ceph cluster version not Consistent with the minion ceph-common version!thanks very much!

[2018-03-09 02:26] liggitt commented on #60913
See https://github.com/kubernetes/kubernetes/blob/23e60ac9adefd5c6e5562765e942b492e6ce0f35/pkg/credentialprovider/provider.go

[2018-03-09 02:28] PatrickLang opened #60956 "Dashboard "exec" should run cmd.exe on Windows pods instead of bash"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**How to reproduce it (as minimally and precisely as possible)**:

1. Deploy a Kubernetes cluster with Windows nodes
2. Deploy any Windows pod
3. Go to Kubernetes dashboard, find the pod, and click "exec" at the top

**What happened**:

This tried to launch `bash` which isn't on Windows by default.

[code]

**What you expected to happen**:

[2018-03-09 02:32] ericchiang commented on #60897
Was this announced as a depreciation? The only other time we removed a role we announced its deprecation beforehand https://github.com/kubernetes/kubernetes/pull/49638

[2018-03-09 02:34] qiujian16 commented on #60913
Oh, thanks! i will take look at it.

[2018-03-09 02:35] liggitt commented on #60897
Hasn't been done yet, but removal would need to be done as a multi-release deprecation, I agree. That wouldn't preclude going ahead and setting up the binding/role in the manifest, and putting any new required permissions there.

[2018-03-09 02:38] feiskyer commented on #60956
@PatrickLang I think this is a dashboard(https://github.com/kubernetes/dashboard) issue. Probably here https://github.com/kubernetes/dashboard/blob/master/src/app/backend/handler/terminal.go#L257?

[2018-03-09 03:28] dekkagaijin commented on #59567
Image retention policy is a feature we (GCR) are investigating.

@BenTheElder other what tags are you using to push? I see `KUBEMARK_IMAGE_TAG=$(head /dev/urandom | tr -dc 'a-z0-9' | fold -w 6 | head -n 1)` in combination with a `bazel run ... :push`, which is going to complicate matters by stripping the build timestamp from the image (thereby enabling reproducible builds). Would the unix timestam

[2018-03-09 03:31] lcfang commented on #58946
the build log:
[code]

[2018-03-09 03:33] magic-chenyang opened #60957 "kubectl commands timeout"
I'm running a Kubernetes cluster。 Now, today, when I was about to deploy some updates, I get timeouts from the server.

Running $ kubectl get nodes yields
[code]
Running $ kubectl get pods --all-namespaces yields
[code]
Running $ kubectl get deployments yields
[code]
Running $ kubectl get svc yields
[code]
Running $ kubectl cluster-info yields (note no output after the master)
[code]
As I get thes

[2018-03-09 03:35] BenTheElder commented on #59567
I'm not sure what uploads are done for this job yet, or what tags would be acceptable but in other places, but in other places we have code that builds images which are doubly tagged (`:date-sha` and `:latest`), I think this pattern is fairly common.

We have some similar logic for getting rid of stale images on disk (for local caching).
I definitely think we could hack something together, I just

[2018-03-09 03:37] feiskyer opened #60958 "Node external IP is not set when disabling useInstanceMetadata"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Node external IP is set when useInstanceMetadata is set true, but not when useInstanceMetadata is disabled.

**What you expected to happen**:

Node external IP is set regardless of useInstanceMetadata setting.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envir

[2018-03-09 03:37] feiskyer commented on #60958
/sig azure

[2018-03-09 03:39] magic-chenyang commented on #60957
I need help

[2018-03-09 03:50] evandigby commented on #58834
I agree with @nbaztec that there is complexity in dealing with both JSON and YAML output. Ultimately what's coming out are two distinct "files"--the output from two different operations.

The original report describes the expected output to being a list, which agrees with @nbaztec described solution.

As a user I'd be fine with the list output for programmatic use; however, visually to me it doesn

[2018-03-09 03:55] BenTheElder commented on #60712
/remove-sig cli

[2018-03-09 03:55] BenTheElder commented on #60712
/sig cli

[2018-03-09 03:55] BenTheElder commented on #60712
that worked 🙃

[2018-03-09 03:56] BenTheElder commented on #60029
/close

[2018-03-09 03:56] #60029 closed

[2018-03-09 03:56] BenTheElder commented on #60029
echoing what @dims said, this should be at https://github.com/kubernetes/kubeadm/issues where it will also have better visibility for people familiar with kubeadm

[2018-03-09 04:00] lidajia opened #60960 "pod frequent create and delete by daemonset controller when kube-apiserver enabled PodNodeSelector admission controll"
/kind bug

Pod  frequent create and delete by daemonset controller when kube-apiserver enabled PodNodeSelector admission controll. When the daemonset's nodeSelector not cover the nodeSelector configured in PodNodeSelector adminssion controll, the schedule of daemonset pods will conflict with the PodNodeSelector adminssion controll. Is daemonset controller should cover this case?

[2018-03-09 04:02] BenTheElder commented on #60893
@overip those commands work in comments, not titles
Please re-file this issue against the kubeadm repo dedicated to kubeadm issues:
https://github.com/kubernetes/kubeadm

[2018-03-09 04:02] hzxuzhonghu commented on #52472
maybe duplicate of #60854, so close this

[2018-03-09 04:02] #52472 closed

[2018-03-09 04:02] BenTheElder commented on #60893
/close

[2018-03-09 04:02] #60893 closed

[2018-03-09 04:04] lidajia commented on #60960
/sig scheduling

[2018-03-09 04:19] dekkagaijin commented on #59567
Ah.

`--filter`'s a bit... interesting, but it shouldn't be too difficult to do the set difference above: https://cloud.google.com/sdk/gcloud/reference/topic/filters

[2018-03-09 04:37] qiujian16 commented on #60913
The reason is that I did not add HOME environment variable when starting kubelet, image can be successfully pulled after setting HOME for kubelet process. Close this issue.

@liggitt thanks for your help!

[2018-03-09 04:37] #60913 closed

[2018-03-09 04:48] dmick commented on #52218
/remove-lifecycle rotten

[2018-03-09 04:49] dmick commented on #52218
me too.  If the resulting containers can't be logged, then error at that point, but if all pods selected by labels have the selected container name, I don't see why they can't be -f'ed.  If that's a problem for some reason, seems like we could at least allow the case of one-pod-match.

[2018-03-09 05:05] lookuptable commented on #60952
@wattli which client cert are you referring to? The same cert that kubelet uses to talk with the master, or a different client cert that is signed by, for example, Istio CA?

[2018-03-09 05:24] hzxuzhonghu commented on #60952
@lookuptable The latter.

[2018-03-09 05:30] ixdy commented on #59567
re: bazel-built docker images, I'm hoping we can fix https://github.com/bazelbuild/rules_docker/issues/155 at some point (so we can stamp them with real timestamps).

[2018-03-09 05:46] dixudx commented on #60957
@magic-chenyang Are you using any proxies?

If so, try export `no_proxy="127.0.0.1,[apiserver_ip]"` before running kubectl subcommands.

[2018-03-09 06:15] hzxuzhonghu commented on #60914
/assign

[2018-03-09 06:15] nilebox opened #60963 "Fix support for ValidatingAdmissionWebhook and MutatingAdmissionWebhook in custom API servers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig api-machinery

**What happened**:
The `ValidatingAdmissionWebhook` and `MutatingAdmissionWebhook` admission controllers can be enabled in custom API servers, but they are actually broken.
To fix that in each API server we have to import `k8s.io/kubernetes/pkg/apis/admission/install` and explicitly call the corresponding `Install()` metho

[2018-03-09 06:17] nilebox commented on #60963
@deads2k @caesarxuchao This issue is a replacement for #60924 clarifying the actual issue with enabling `ValidatingAdmissionWebhook` and `MutatingAdmissionWebhook` in custom API servers.

[2018-03-09 06:21] #60958 closed

[2018-03-09 06:24] nilebox commented on #60963
Apparently, the `AdmissionReview` type, as well its registration, is duplicated in two places:
https://github.com/kubernetes/api/blob/master/admission/v1beta1/register.go
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/admission/register.go
Not sure what's the reasoning for this, but to fix the issue we really just need to copy the https://github.com/kubernetes/kubernetes/blob/master

[2018-03-09 06:38] nilebox commented on #60963
There is https://github.com/kubernetes/apiserver/blob/master/pkg/apis/audit/install/install.go, so for consistency should probably copy the `k8s.io/kubernetes/pkg/apis/admission/install/install.go`  to `k8s.io/apiserver/blob/master/pkg/apis/admission/install/`

[2018-03-09 06:41] agupta1 opened #60964 "StatefulSet container not able to resolve hostname"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
When trying out Running a Replicated StatefulSet cluster example on kubernetes site, clone-mysql init container of mysql-1 Pod cannot resolve hostname of previous StatefulSet instance mysql-0.mysql and therefore fails.

kubectl get pods -o wide
NAME      READY     STATUS                  RESTARTS   AGE       IP

[2018-03-09 06:41] dixudx commented on #58946
@lcfang I tested this locally with success by running `make test-e2e-node TEST_ARGS="--kubelet-flags=--fail-swap-on=false"` against latest master branch.

[code]

The ports are open. And the apiserver can be accessed locally.

[code]

Our jenkins job [`pull-kubernetes-node-e2e`](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-node-e2e) will be trigger

[2018-03-09 06:49] srhb commented on #58956
Any news here? This breaks kube-proxy with iptables >= 1.6.2

[2018-03-09 06:53] xtuc commented on #60835
Yes.

Since it works with the same(ish) config on AWS, that might not be a Kubernetes issue.

[2018-03-09 06:56] sttts commented on #60963
`pkg/apis` holds the internal types corresponding to the external types in `k8s.io/api`.  The former is not to be used by anyone outside of the kube-apiserver. The install.go is for kube-apiserver only for the same reason.

If we are lacking the registration of the types, we have to do that in a webhook local (invisible for sample-apiserver code) scheme. Also the admission webhooks should use vers

[2018-03-09 07:07] #49664 closed

[2018-03-09 07:07] #34012 closed

[2018-03-09 07:10] jbrownsc commented on #56682
@bsalamat Would love to see an update on the logic you found.  Perhaps there is a workaround identified in that debugging?

[2018-03-09 07:19] wojtek-t commented on #60484
@kubernetes/sig-scalability-misc

[2018-03-09 07:37] dimm0 commented on #60438
I think I figured this. Can use another label which is the same for all nodes in the cluster.

[2018-03-09 07:50] MikaelWahlberg commented on #27114
@tallclair Ok, you have a point about the InitContainer, will look in to that.

I guess I can have a separate LivenessProbe for the initContainer, or rather a timeout to solve the startup failure problem.

[2018-03-09 08:01] WanLinghao commented on #60843
/assign

[2018-03-09 08:08] #25055 closed

[2018-03-09 08:09] bsalamat commented on #56682
In the case of the current issue where scheduler logs "`AssumePod failed: pod <namespace>/<pod> state wasn't initial but get assumed`", a pod that is being considered for scheduling may be deleted in the middle of scheduling process, leaving the "assume" cache invalid at least temporarily. This happens because scheduler does not use pod UID in its assume cache and uses a pod's namespace and name w

[2018-03-09 08:21] bsalamat opened #60966 "Scheduler should use pod UID instead of "namespace/name" in its cache"
The key that scheduler uses to store a pod in its ["assume" cache is "namespace/name"](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/schedulercache/cache.go#L126) of the pod. As I explained in https://github.com/kubernetes/kubernetes/issues/56682#issuecomment-371742634, this can cause issues if a pod that is being scheduled is deleted and a replacement pod with the same name a

[2018-03-09 08:25] JoshuaAndrew commented on #57518
@thockin   @3dinfluence  @m1093782566  @rramkumar1

I ran into the issue above too, when I ran kube-proxy with  ipvs mode enabled.
This problem causes IPVS unavailability, because kube-proxy can not create kube-ipvs0 interface on host

[code]

[code]

Environment:
I'm not sure how much of this is important to this but here's what my environment was when I ran into this.

- Kubernetes version: 1.9.

[2018-03-09 08:27] floreks commented on #60767
@krzyzacy I have checked the logs but I am not sure what could be causing service to just disappear:
[code]

[2018-03-09 08:36] m1093782566 commented on #57518
I can't see the error message from log? If kube-proxy failed to create kube-ipvs0 dummy interface, it will log something like "Failed to create dummy interface: kube-ipvs0, error:...".

[2018-03-09 08:41] bsalamat commented on #60616
What you said about non-critical extenders makes sense. I would add a flag to each extender's config (in scheduler policy config) to indicate whether the extender is critical or ignorable.

[2018-03-09 08:52] JoshuaAndrew commented on #57518
@m1093782566
there is no errors message about this. but I can not see kube-ipvs0 & dummy interface.

[code]

[2018-03-09 08:54] superbrothers opened #60970 "Fail to apply service objects after running `cluster/update-storage-objects.sh`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I ran `cluster/update-storage-objects.sh`, then I tried to apply a service object by `kubectl apply`. However it failed along with the following message:
[code]

The cause of this problem is since `kubectl.kubernetes.io/last-applied-configuration` annotation is updated by `kubectl replace` in `cluster/update-storage-objec

[2018-03-09 08:57] superbrothers commented on #60970
@kubernetes/sig-cluster-lifecycle-bugs

[2018-03-09 09:09] #46733 closed

[2018-03-09 09:09] #48865 closed

[2018-03-09 09:16] enzian commented on #50449
i had a tab in my apiserver config file, so it was not read correctly...

[2018-03-09 09:22] dixudx commented on #60966
@bsalamat I am wondering whether `pod.UID` is always a non-empty string.
Shall we add a fallback strategy for this?

[2018-03-09 09:57] nilebox commented on #60963
Note: this bug was discovered as part of https://github.com/kubernetes-incubator/service-catalog/issues/1812 and https://github.com/kubernetes-incubator/service-catalog/pull/1811, and we need this fix in 1.10 at least (and preferably in 1.9.2 too).

[2018-03-09 10:04] nbaztec commented on #58834
Ideally we should strive to keep things as _non breaking_ as possible but that all depends in how the maintainers define this issue as - a bug or an enhancement. If a bug then the discussion leads to the following:
* Decide on how (or if) to handle json input files. JSON supports multiple resource concatenation:
[code]
So the resulting input is without any separator and so is the resulting output.

[2018-03-09 10:10] #15387 closed

[2018-03-09 10:10] #49877 closed

[2018-03-09 10:11] JorritSalverda commented on #40214
/remove-lifecycle rotten

Do we perhaps need to create a ticket for cadvisor to include this instead?

[2018-03-09 10:20] MansoorMajeed commented on #54567
/remove-lifecycle rotten

[2018-03-09 10:35] soltysh commented on #59527
So looking at the logs there are 2 problems here actually:

1. Is a bug filled in #59918, where the job controller does not notice a successful run after several retries.
2. The backoff is not getting cleared (#60202) when a successful run happened.

All in all it looks like the backoff policy is causing both problems. Digging further to get to the actual root cause.

[2018-03-09 10:39] soltysh commented on #59527
So it looks like no. 2 is caused by 1, actually, and since I'm able to reproduce this once in a while locally I'll try to get to the root cause.

[2018-03-09 10:39] naveens commented on #52657
Issue still happens in our environment with only ~200 pods, no jobs/cronjobs.

**Environment:**
    Kubernetes version: 1.7.8
    Cloud provider: On-Prem
    OS: Container Linux by CoreOS (1409.6.0)
    Kernel: 4.11.9

[code]

[2018-03-09 10:56] WanLinghao commented on #60843
Problem is here:
https://github.com/kubernetes/kubernetes/blob/17d69c296eb75002a06b4ea0d8fe8c484eb90bff/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructured.go#L316
It return without checking error.
But I am not sure it is on purpose.
@sttts WDYT

[2018-03-09 11:00] sttts commented on #56174
We only allow sysctls that are "safe", which mainly means that pod isolation is good enough to avoid harm using them. But I don't have a strong opinion about the default in PSPs either.

[2018-03-09 11:04] redbaron commented on #56149
/remove-lifecycle stale

[2018-03-09 11:11] #49783 closed

[2018-03-09 11:13] mlgibbons commented on #56693
Hi. I'm wondering why this was closed as I see no resolution and am currently experiencing this issue in a VirtualBox three node cluster which I just built. Cheers. Mark

[2018-03-09 11:47] sttts commented on #60854
It was a differential pprof memory chart of hack/local-cluster-up.sh. But as @ncdc noted, we have to run it without mutation detection. I did that for an hour yesterday and did not notice much memory leaking.

[2018-03-09 11:49] andor44 commented on #59676
I don't have the controller manager logs on hand, but I was tailing them as it was happening to us. There was a steady stream of "job deleted" messages in the controller-manager's logs, but when I `kubectl get jobs | wc -l`'d the number wasn't going down.

[2018-03-09 12:09] sttts commented on #56567
Although github linked this already, here again explicitly: https://github.com/kubernetes/kubernetes/pull/60744

[2018-03-09 12:12] #40131 closed

[2018-03-09 12:36] liggitt commented on #60767
The last green test was on c74c826452fb03

Since d112ffc2eb339c it has permanently failed

[2018-03-09 12:51] joewilliams commented on #52657
As a workaround for this we put a 16Gi memory limit in the `kube-controller-manager` config and that has worked well for over a month now. Hope this helps.

[2018-03-09 13:13] #23924 closed

[2018-03-09 13:13] #33431 closed

[2018-03-09 13:23] martinmosegaard opened #60974 "Say namespace does not exist when getting pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I created a namespace, then tried to get pods in it, but misspelled the namespace. The message was that there were no resources, which is not wrong. But it was clearer to me when I tried to describe the namespace and was told that the namespace did not exist:

[code]

**What you expected to happen**:
Getting objects i

[2018-03-09 13:24] martinmosegaard commented on #60974
/sig cli

[2018-03-09 13:27] n-marton opened #60976 "Openstack loadbalancer deletion issue with multiple ports exposed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have exposed a service on multiple ports (80,443).
**What you expected to happen**:
After deletion kube-controller could not clean up the loadbalancer from openstack.
**How to reproduce it (as minimally and precisely as possible)**:
Create a service with multiple port exposed and try to delete it on a k8s cluster with o

[2018-03-09 13:29] andrewhowdencom commented on #58956
Honestly, I haven't looked at the PR yet. Please have a go if you can do it <3 I am at 105% utilisation currently, though I had planned to try and look at it in the next few hours if possible.

[2018-03-09 13:37] jrnt30 commented on #27114
There are still some services that require a longer warmup time because they do things in-process.  A few examples I can think of immediately for our stack our Kafka and ElasticSearch, both of which do some integrity checks and data shuffling when the JVM bootstraps the server.

Both of these have different semantics associated with their startup, but the end result is that we can't reliably use a

[2018-03-09 13:43] danwinship commented on #58956
Doh. Sorry, I was thinking this just broke *detection* of the wait flag. I missed that this was breaking things entirely. I'll submit a new PR

[2018-03-09 13:46] srhb commented on #58956
Right! 1.6.2 started failing entirely on the missing spaces, whereas restore <= 1.6.1 just ignored the flag with a warning. :)

[2018-03-09 13:58] n-marton commented on #60976
/sig openstack

[2018-03-09 14:14] #44298 closed

[2018-03-09 14:14] #49894 closed

[2018-03-09 14:18] kramarz commented on #28241
Hey should it still be opened? I just copied my kubernetes setup to separate "development" aws account and It just worked. Only thing I had to do is to add policy for repositories in production account to allow development to pull images. It worked without any further configuration.
Kubernetes version v1.8.4

[2018-03-09 14:28] sstarcher commented on #28241
@kramarz same with v1.8.6 when adding a policy for a separate account Kubernetes cleanly worked.

[2018-03-09 14:59] vbmade2000 commented on #58721
@yujuhong Does this issue affect multiple projects ? I want to work on this issue but not sure what should I look at and where should I start from.

[2018-03-09 15:05] Draiken commented on #25908
I'd love an official position on this.

If we're not going to have some support from the API, we should at least have the alternative solutions officially documented so people know what to do when they hit this problem.

I'm not sure who to ping or how to get attention to this...

[2018-03-09 15:15] #22415 closed

[2018-03-09 15:15] #24467 closed

[2018-03-09 15:15] #48285 closed

[2018-03-09 15:18] mishamo commented on #54789
/close

[2018-03-09 15:18] #54789 closed

[2018-03-09 15:41] victorhaggqvist opened #60984 "`kubectl describe svc` bad string formatting of TargetPort"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

Run

    kubectl describe svc jaeger-collector

Got
[code]

**What you expected to happen**:

TargetPort to be correctly formatted

    TargetPort:       tchannel/TCP

**How to reproduce it (as minimally and precisely as possible)**:

Run `kubectl describe svc jaeger-collector`, any service with named ports wo

[2018-03-09 15:47] victorhaggqvist commented on #60984
/sig cli

[2018-03-09 15:50] ravisantoshgudimetla commented on #60616
Thanks @bsalamat
/cc @aveshagarwal

[2018-03-09 15:52] ravisantoshgudimetla commented on #60616
/help

[2018-03-09 16:14] zparnold commented on #26670
/remove-lifecycle stale
I think this could be implemented as an additional set of annotations on the LoadBalancer for example in addition to:
[code]

We could add: `service.beta.kubernetes.io/aws-load-balancer-type: elb/alb`

And I would be happy to implement the functionality? Any objections? Or is this a wasted effort because of something I'm not thinking of?

[2018-03-09 16:16] zparnold commented on #30518
/remove-lifecycle rotten
I think this could be implemented as an additional set of annotations on the LoadBalancer for example in addition to:

service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:REGION:ACCOUNT:CERT_ID"
service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
service.beta.kubernetes.io/aws-load-balancer-backend-protocol: https
We could add: service.beta.kubern

[2018-03-09 16:16] #24985 closed

[2018-03-09 16:16] #31218 closed

[2018-03-09 16:16] #48634 closed

[2018-03-09 16:16] #25120 closed

[2018-03-09 16:50] wattli commented on #60952
Currently i think kubelet only has node cert. For simplicity, sending this cert to pod is good enough, all we need at server side (pod) is to add the root bundle of node cert.

[2018-03-09 16:55] marcellodesales commented on #58603
I'd like to implement my own Condition columns... Base on the following: https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#typical-status-properties

Is this the right issue for the following?

# FROM

[code]

# TO

* Adding the column `PARSED`

[code]

[2018-03-09 16:59] dpratt commented on #30518
This would be fantastic - frankly I’d prefer to keep core ALB support to just LoadBalancer services. The new TCP ALB would be even better due to the source IP preservation.

[2018-03-09 17:02] krzyzacy commented on #60589
looks like https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-100 starts to fail consistently since this morning

[2018-03-09 17:03] sttts commented on #58603
@marcellodesales we need a follow-up of https://github.com/kubernetes/kubernetes/pull/60269.

[2018-03-09 17:04] patrickstjohn opened #60987 "Orphaned pod found - but volume paths are still present on disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

**What happened**:
Kubelet is periodically going into an error state and causing errors with our storage layer (ceph, shared filesystem). Upon cleaning out the orphaned pod directory things eventually right themselves.
* Workaround: `rmdir /var/lib/kubelet/pods/*/volumes/*rook/*`

**What you expected to happen**:
Kubelet should intelligently deal

[2018-03-09 17:08] shyamjvs commented on #60589
From the [diff](https://github.com/kubernetes/kubernetes/compare/17d69c296...b13105d43), the only change is https://github.com/kubernetes/kubernetes/pull/60421 which is enabling quotas in our performance tests by default. The error we're seeing is:

[code]

@gmarek - Seems like enabling quotas is affecting our scalability :) Could you look deeper into this - maybe sth serious?
Let me file another

[2018-03-09 17:10] 97turbotalon commented on #30518
I'd also be very interested in the ability to configure ALB.

[2018-03-09 17:12] shyamjvs opened #60988 "Performance test failing on 100-node cluster with ResourceQuotas enabled"
Based on https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-371876879

After enabling quotas (specifically pods per namespace) by default in our tests, we're continuously seeing such failures:

[code]

This may be a serious issue with scalability of quotas and needs some digging in.

/assign @gmarek
(who enabled it.. feel free to redirect this as apt)

cc @kubernetes/sig-scalabilit

[2018-03-09 17:14] shyamjvs commented on #60988
I'm not marking this as a release-blocker as it's failures we started seeing due to testing something new (that we weren't before).
However, feel free to override me if you think otherwise.

[2018-03-09 17:14] discordianfish commented on #57239
Great that it's not panicing anymore, but I'd also love to get the "requires systemreserved.cpu + kubereserved.cpu to be greater than zero" hint in this particular case. It looks like even with #57247 this doesn't seem to be the case (since it errors out with the non-actionable "unable to determine reserved CPU resources for static policy".
Should I open another issue for this?

[2018-03-09 17:16] shyamjvs commented on #60988
For now I'll send a revert disabling it. However, you can easily experiment against 100-node cluster with the presubmit job I newly added. See https://github.com/kubernetes/kubernetes/issues/56032#issuecomment-371229089 for details.

[2018-03-09 17:17] #47712 closed

[2018-03-09 17:17] #47884 closed

[2018-03-09 17:17] #46722 closed

[2018-03-09 17:23] jchv commented on #30518
A TCP ALB is called a Network Load Balancer or NLB and as far as I know that is in Kubernetes 1.9 today.

[2018-03-09 17:30] shyamjvs commented on #60988
One thing to note here is that, even before this change we were seeing flakes on this kind. E.g:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/11453
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/11439

But after this change, we're seeing those continuously. My feeling is that this

[2018-03-09 17:32] jdumars commented on #60764
@kow3ns @saad-ali any update on this?

[2018-03-09 18:03] MrHohn commented on #60761
Test is now passing on gce but failing on gke. Apparently we don't have a way to trigger apiserver restart on gke at this moment. Sending a PR to skip this test on gke.

[2018-03-09 18:12] cdenneen commented on #30518
@jchv yeah I think that eventually the "Classic ELB" will be deprecated and maybe if the default `type=LoadBalancer` can switch from elb -> nlb under the covers then we are forward compatible. Obviously elbv2 (ALB) is different so probably wouldn't be straight forward replacement here as NLB probably could be.

[2018-03-09 18:14] ericchiang commented on #60956
Yes, this issue should be opened on the dashboard's issue tracker.

/close

[2018-03-09 18:14] #60956 closed

[2018-03-09 18:25] tpepper commented on #60903
While not 1.10 specific, if this is deemed not just a doc's issue and is not a "working as intended" but rather a data consistency issue, @kubernetes/sig-storage-bugs  please mark this asap if you deem it a release blocker for 1.10.

[2018-03-09 18:26] hjacobs commented on #30518
@cdenneen I totally agree, the Application Load Balancer (ALB) is a L-7 router and therefore clearly is suited for Ingress instead of service `type=LoadBalancer`. Use https://github.com/zalando-incubator/kube-ingress-aws-controller or https://github.com/coreos/alb-ingress-controller and be done with it :smile:

[2018-03-09 18:35] MrHohn commented on #60761
Commented too quick. On gke we do a same-version master upgrade. Will send another fix :/

[2018-03-09 18:36] caseydavenport commented on #56797
This sounds like a flannel bug, rather than a bug in Kubernetes. Could you please raise against https://github.com/coreos/flannel instead?

/assign
/close

[2018-03-09 18:36] #56797 closed

[2018-03-09 18:54] cheftako commented on #60854
After the suggested fix (turn of mutation detection), there was no noticeable increase on controller manager memory and the api-server memory increase was down to 8 MB per day. (on my setup)

[2018-03-09 19:00] joejulian opened #60992 ""remote" is missing from kubelet's container-runtime flag documentation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[Documentation](https://kubernetes.io/docs/reference/generated/kubelet/) reads that the only options are "rkt" and "docker".

**What you expected to happen**:
I expected to have an entry that would allow me to use containerd, cri-o, etc. I had to go to "kubernetes the hard way" to see how to configure for CNI and found th

[2018-03-09 19:06] agupta1 commented on #60964
/sig bug
Thanks, Anand

    On Thursday, March 8, 2018, 10:41:56 PM PST, k8s-ci-robot <notifications@github.com> wrote:

@agupta1: There are no sig labels on this issue. Please add a sig label.

A sig label can be added by either:

   -
mentioning a sig: @kubernetes/sig-<group-name>-<group-suffix>
e.g., @kubernetes/sig-contributor-experience-<group-suffix> to notify the contributor experience sig,

[2018-03-09 19:06] agupta1 commented on #60964
/sig bug

[2018-03-09 19:19] #13774 closed

[2018-03-09 19:19] #14230 closed

[2018-03-09 19:29] jstange commented on #51764
I fixed my dopey network configuration, and suddenly things started working. So I think what we have here is a fussy utility with confusing error messaging, rather than a proper bug.

If I had to speculate I'd guess that my controllers have been starting up, flailing over their configs, giving up, then restarting in a loop. Alternately, they might be running but unable to communicate with things p

[2018-03-09 19:35] tpepper commented on #60963
@nilebox do you see this as a blocking issue then for 1.10?  Or something you'll look to cherry pick later in 1.10.x?

[2018-03-09 19:38] sttts commented on #60963
@tpepper it only affect 3rdparty apiservers. So having it as a bugfix release is good enough. This patch should not delay kube. But we have a PR (and another one from @caesarxuchao), without much risk.

[2018-03-09 19:40] enisoc commented on #56567
@sttts Have you weighed in on whether that PR needs to be made opt-in with a field in the CRD? I'm assuming there is a reason graceful deletion is opt-in for native types (and only Pod seems to opt in), but I don't know the reason.

[2018-03-09 19:55] janetkuo commented on #59676
@andor44 do you know which component sent the "job deleted" messages, and which jobs are said to be deleted in the message? Are they all different jobs or the same one?

What jobs do you see from `kubectl get jobs`? Are they the same job that logs said is deleted, or totally different ones?

[2018-03-09 20:01] tpepper commented on #60905
Given status in #60365 should this issue be also be labelled for milestone 1.10?  And is the issue fully resolved by #60365?  Since the issue's not linked there and is still open here it's unclear.

[2018-03-09 20:20] #46275 closed

[2018-03-09 20:20] #48458 closed

[2018-03-09 20:20] #46173 closed

[2018-03-09 20:20] #46271 closed

[2018-03-09 20:20] #46156 closed

[2018-03-09 20:30] tpepper commented on #60865
@mtaufen based on your most recent comment, do you see this as a non-priority-urgent issue relative to 1.10 release over the next two weeks?

[2018-03-09 20:51] ericchiang opened #60999 "Formally deprecate the gitRepo volume type"
cc @kubernetes/sig-auth-feature-requests
cc @kubernetes/sig-storage-feature-requests

gitRepo stopped accepting new features a while ago https://github.com/kubernetes/kubernetes/issues/17676#issuecomment-228650586 and today this behavior can easily be achieved through an init container. The kubelet shelling out to git on the host can also be a security issue on un-trusted repos.

https://gist.gith

[2018-03-09 20:52] tpepper commented on #60988
@kubernetes/sig-scalability-bugs do you see this as a v1.10 milestone issue?

[2018-03-09 20:58] tpepper commented on #59848
@smarterclayton should this issue also move to v1.11 now?

[2018-03-09 20:59] shyamjvs commented on #60988
Not really.. for the reason I mentioned in https://github.com/kubernetes/kubernetes/issues/60988#issuecomment-371878759

[2018-03-09 21:02] mtaufen commented on #60865
I don't think its urgent at all. The dynamic config feature is still alpha, anyway.

[2018-03-09 21:08] wattli commented on #60952
Two questions for you @tallclair
1) If we simply provide client cert for all https traffic, would this be any backward compatibility issue, personally i don't think so, but just want to double check
2) For GKE case, the cert is placed at a well-known place, but what about OSS? Is the path also fixed or it varies on different implementation?

[2018-03-09 21:13] tallclair commented on #60999
xref: https://groups.google.com/forum/#!topic/kubernetes-announce/CTLXJ74cu8M

[2018-03-09 21:21] #46543 closed

[2018-03-09 21:21] #42487 closed

[2018-03-09 21:21] #50388 closed

[2018-03-09 21:21] #15743 closed

[2018-03-09 21:28] mikkeloscar commented on #49048
Has there been any further thoughts on this?

I'm designing an initializer controller that is injecting stuff into pods. If it works well it would be deployed to 80 clusters which do regular node updates where all nodes/pods are rotated. So it's pretty clear that modifying the controller pods manually every time to make it run will not scale :)

If I could white list certain resources on a per nam

[2018-03-09 21:44] tpepper commented on #60865
Thanks for the update.

[2018-03-09 21:47] bowei commented on #60257
/assign @m1093782566

[2018-03-09 22:22] #48188 closed

[2018-03-09 22:22] #45956 closed

[2018-03-09 22:22] #48421 closed

[2018-03-09 22:45] smarterclayton commented on #59848
Or am I missing something big here?

I wouldn't be surprised if it caused the api server to die during bringup.  I'm not necessarily against regressing here, I just think we need to do it with the understanding that we're doing so and that cluster operators may need a mitigation or way to mitigate at those extreme scales (until we come up with a better solution).

[2018-03-09 23:00] #60907 closed

[2018-03-09 23:12] tallclair commented on #60952
I don't think so.

The path is configurable. More importantly, we're going to start rotating the cert soon.

I was talking about the cert that the kubelet uses to authenticate to the master. Istio can verify that using the master CA.

[2018-03-09 23:16] caesarxuchao commented on #49048
Please check out the [admission webhooks](http://blog.kubernetes.io/2018/01/extensible-admission-is-beta.html), a beta feature, as an alternative to initializers feature.

Also webhooks provide a [namespaceSelector](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/admissionregistration/v1beta1/types.go#L193) to blacklist/whitelist based on namespaces.

[2018-03-09 23:20] MrHohn commented on #55520
Took a quick look at the existing tests with @grayluck, we need e2e test for session affinity with ExternalTrafficPolicy=Cluster as well. Revised title.

[2018-03-09 23:23] #39910 closed

[2018-03-09 23:28] tallclair commented on #27114
Ack, makes sense. I'm just not sure that liveness waiting for readiness is the right API for it. It almost feels like you want the union of multiple probes. E.g. this pod is alive IF <condition A> OR <condition B>, where one condition is that the pod is still starting up (however you define that) - for example wait for some log line to be printed.

I don't follow this. I thought the idea was that

[2018-03-09 23:33] shyamjvs commented on #60589
@wojtek-t @jpbetz @gyuho @timothysc I found something really interesting with the etcd version change, suggesting significant effect of moving from etcd 3.1.11 to 3.2.16.

Look at the following graph of etcd memory usage in our 100-node cluster (it has increased ~2x) when the job was moved from k8s release 1.9 to 1.10:

![1 9-1 10-etcd-mem-usage](https://user-images.githubusercontent.com/4333971/3

[2018-03-09 23:38] gyuho commented on #60589
Did we mean 3.1.11?

[2018-03-09 23:40] shyamjvs commented on #60589
That's right.. sorry. Edited my comment.

[2018-03-09 23:44] gyuho commented on #60589
@shyamjvs How etcd is configured? We've increased default value `--snapshot-count` from `10000` to `100000`, in v3.2. So if snapshot count is different, it holds Raft entries for longer, thus requires more resident memory.

[2018-03-09 23:53] shyamjvs commented on #60589
Aah! That indeed seems like a suspicious change. Wrt flags, I don't think there's any change in those from k8s side. Because, as you can see in my second graph above, the [diff](https://github.com/kubernetes/kubernetes/compare/a0844c17b...9501c525a) b/w runs 11450 and 11451 is mainly just my etcd revert change (which doesn't seem to touch any flags).

Could you confirm if that's the root-cause of

[2018-03-10 00:01] gyuho commented on #60589
Yeah, this change should have been highlighted from etcd side (will improve our change logs and upgrade guides).

I am not sure if that would be the root cause. Lower snapshot-count will definitely help alleviate spiky memory usage. If both etcd versions use same snapshot count, but one etcd still shows much higher memory usage, there should be something else.

[2018-03-10 00:15] PiotrSikora commented on #60952
I see 2 issues with re-using node certificate:

1. Istio proxies would need to include k8s master CA as a trusted CA. Does it change at all after initial setup? Is the CA available at fixed path in each container or would it need to be redistributed to proxies on a regular basis?

2. Istio uses certificates with SPIFFE Identity, which node certificates presumably don't provide, so while the mTLS c

[2018-03-10 00:24] #50282 closed

[2018-03-10 00:24] #50491 closed

[2018-03-10 00:24] #40643 closed

[2018-03-10 00:24] #39909 closed

[2018-03-10 00:27] asottile commented on #60936
@ericchiang I've now had to trivial rebase so I don't get spammed by a bot replaying tests that will never succeed because my 5-character branch is 5 months old.  This seems to have removed the approval status of the branch.

[2018-03-10 00:56] jingxu97 commented on #49108
Actually  #55796 will avoid printing out the error message "Could not construct volume information ..", but I believe that is not the root cause of the issue here.

[2018-03-10 01:03] verult commented on #58786
Thanks for the clarification. Two points:

1. Perhaps it's better to call them `MasterExpand` and `NodeExpand` vs `ExpandDevice` and `ExpandFS`?
1. If `ExpandDevice` is a no-op for storage systems that require device resize to be done on the node, are we going to update the PVC with the size it's supposed to be if device resize were successful? What if `ExpandFS` fails?

[2018-03-10 01:12] greg-jaunt commented on #30518
NLBs do not support SSL termination and are therefore not a suitable replacement for ELBs for Kubernetes Services of type LoadBalancer.

[2018-03-10 01:25] #33109 closed

[2018-03-10 01:25] #5121 closed

[2018-03-10 01:25] #37268 closed

[2018-03-10 01:25] #48447 closed

[2018-03-10 01:25] #3139 closed

[2018-03-10 01:25] #10307 closed

[2018-03-10 01:25] #3138 closed

[2018-03-10 01:39] verult commented on #60766
PR has been approved; awaiting 1.9 branch to be unfrozen

[2018-03-10 01:42] verult commented on #60725
PR approved; awaiting 1.10 milestone marker

[2018-03-10 01:44] verult commented on #60725
/status in-progress

[2018-03-10 02:26] #18432 closed

[2018-03-10 02:26] #31453 closed

[2018-03-10 02:33] #60761 closed

[2018-03-10 03:09] liggitt commented on #60974
Duplicate of https://github.com/kubernetes/kubernetes/issues/31753

[2018-03-10 03:09] liggitt commented on #60974
At one point, a client-side check was added on notfound errors - https://github.com/kubernetes/kubernetes/pull/31594/files

[2018-03-10 03:27] #47064 closed

[2018-03-10 03:27] #48471 closed

[2018-03-10 03:27] #19080 closed

[2018-03-10 03:27] #32600 closed

[2018-03-10 03:27] mlmhl commented on #60987
/sig storage

[2018-03-10 03:35] mlmhl commented on #60984
It seems that this is already fixed in 1.9 version.

[2018-03-10 04:28] #48603 closed

[2018-03-10 05:29] #3131 closed

[2018-03-10 05:29] #50827 closed

[2018-03-10 05:50] zparnold commented on #30518
Correct, @greg-jaunt I would also say an NLB is a challenge too because you have to know in advance either the ENI ID's you're binding your TCP ALB (NLB) to, or know the IP address list in advance. Our cluster size is very dynamic and is only used to serve HTTP(s) traffic so the ALB is really the only thing I'd be working on. Let me know though if you think this'd be a wasted effort. 😄

[2018-03-10 06:11] jchv commented on #30518
If I'm not mistaking NLB is supported today with the `service.beta.kubernetes.io/aws-load-balancer-type` annotation. I'm also pretty sure it uses target groups the same way ALBs do, I'm not sure I see why it would be different.

The lack of SSL termination is a loss, but on one hand I wonder if that's even a problem. Is it mandatory for a Kubernetes LoadBalancer implementation to support SSL termi

[2018-03-10 06:30] #7577 closed

[2018-03-10 06:30] #35288 closed

[2018-03-10 06:30] #50830 closed

[2018-03-10 06:30] #45249 closed

[2018-03-10 06:30] #50714 closed

[2018-03-10 07:31] #17658 closed

[2018-03-10 07:31] #39812 closed

[2018-03-10 07:31] #48010 closed

[2018-03-10 08:32] #48866 closed

[2018-03-10 08:32] #45456 closed

[2018-03-10 08:32] #45457 closed

[2018-03-10 08:32] #45786 closed

[2018-03-10 08:32] #45486 closed

[2018-03-10 08:35] zkanda commented on #28241
@kramarz @sstarcher hey guys, do you think give us how to do that or how it is actually structured?

For example, we have staging and prod account, the image we built is getting pushed to ECR in prod account, how do we configure staging to pull from prod?

[2018-03-10 09:26] attila123 commented on #19317
Hi, I got the same problem with Kubernetes 1.9.0 running by Minikube v0.24.1.
I started too many pods my laptop kept swapping and not responding. So I powered that off.
Upon restart lots of pods stucked, but I could delete them with `kubectl -n some_namespace delete pod --all --grace-period=0 --force` (first I deleted all the deployments, services, etc.)
I also installed rook (0.7.0) and its names

[2018-03-10 09:33] #45228 closed

[2018-03-10 09:33] #40887 closed

[2018-03-10 09:33] #51078 closed

[2018-03-10 09:33] #47663 closed

[2018-03-10 09:41] nikhita commented on #60807
@shean-guangchang Do you have some way to reproduce this?

And out of curiosity, are you using any CRDs? We faced this problem with TPRs previously.

[2018-03-10 09:41] nikhita commented on #60807
/kind bug

[2018-03-10 10:34] #35088 closed

[2018-03-10 10:34] #36871 closed

[2018-03-10 10:34] #51155 closed

[2018-03-10 11:06] stoyle commented on #45300
Hey everyone. Pretty noob to Kubernetes, so apologies if this is off topic. But, I am pretty sure a active-standby is what we'd like.

We have a stateful web backend (service), only because we need server push, e.g. Server-Sent Events. The server needs to push updates to clients based on input to the server. And if we have several (active) nodes, then we need some pub-sub mechanism to propagate ev

[2018-03-10 11:31] k82cn commented on #60964
/sig apps

[2018-03-10 11:35] #47257 closed

[2018-03-10 11:35] #19927 closed

[2018-03-10 11:35] #24041 closed

[2018-03-10 11:35] #51023 closed

[2018-03-10 11:35] #51175 closed

[2018-03-10 12:32] porridge commented on #54473
/remove-lifecycle rotten
/lifecycle frozen

[2018-03-10 12:36] #47518 closed

[2018-03-10 13:37] #45754 closed

[2018-03-10 13:55] cdenneen commented on #30518
The lack of SSL on NLB is actually a deal breaker for me. So for that reason alone I would like to see `type=LoadBalancer` for AWS actually support ALB under the coverts even if for L4 basic functionality with SSL. ALB features can be utilized further for L7 if needed with `alb-ingress-controller` but the basic `type=LoadBalancer` functionality for services would continue to work as a step towards

[2018-03-10 14:38] #51352 closed

[2018-03-10 14:38] #51365 closed

[2018-03-10 14:53] gnufied commented on #40887
/reopen
/remove-lifecycle rotten

[2018-03-10 15:33] kvaps commented on #40968
bash aliases can help here:
[code]

[2018-03-10 15:39] #17186 closed

[2018-03-10 15:39] #51354 closed

[2018-03-10 15:39] #46222 closed

[2018-03-10 16:40] #48738 closed

[2018-03-10 16:40] #43069 closed

[2018-03-10 17:00] hoeghh opened #61005 "kube-proxy not creating iptable rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Installed kubernetes and kube-proxy starts fine. It reports to journalctl that it is creating rules, but iptables -L doesnt show them, and services does not work. pod-pod network works fine. dns is set up correct in resolve.conf for pods, but doesnt work, as services doesnt work.

**What you expected to happen**:
kube-prox

[2018-03-10 17:00] obeattie opened #61006 "Use of glog for logging is problematic"
**FEATURE REQUEST**:

/kind feature

**What happened**:

Kubernetes uses [golang/glog](https://github.com/golang/glog) extensively for logging. While this is reasonable enough for the Kubernetes binaries, sizeable parts of the codebase are re-used as client libraries (eg. `k8s.io/client-go`). This presents several problems for users of the libraries:

* glog [registers a bunch of flags in an `init

[2018-03-10 17:03] obeattie commented on #61006
@kubernetes/sig-architecture-feature-requests

[2018-03-10 17:14] obeattie commented on #61006
Personal 2¢: while replacing glog completely with something else might be the best long-term solution, doing so seems like it would be a long road. Coming to a consensus on a replacement and rewriting all existing calls to glog to use that replacement doesn't seem like it will happen quickly.

The problems caused by this are quite harmful _now_, so I think it's pragmatic to mitigate those without

[2018-03-10 17:29] victorhaggqvist commented on #60984
In that case I'll close this.

[2018-03-10 17:29] #60984 closed

[2018-03-10 17:41] #47949 closed

[2018-03-10 17:41] #40632 closed

[2018-03-10 17:52] hoeghh commented on #61005
Here's the result of my problem.
From one pod, i can curl another pod, but now the service

[code]

[2018-03-10 17:59] hoeghh commented on #61005
Found this in journalctl for kube-proxy

[code]

[2018-03-10 18:21] technicianted commented on #27796
I Signed the CLA as an individual and onboarded to GitHub. I have a pending PR that complains that I haven't done so. I checked that the email on the commit matches my GitHub which has been verified.

Can you please check?

Here is a link to the PR:
https://github.com/kubernetes/kubernetes/pull/60962

[2018-03-10 18:36] jchv commented on #30518
I'm unsure if I understand. Application Load Balancers do not support TCP load balancing and cannot function as L4 load Balancers at all. This is made clear in the documentation for ALBs:

There is a load balancer type that runs at L4. It's called a Network Load Balancer in AWS parlance:

In the control panel, the three options  (HTTP, TCP, Classic) simply map to ALB, NLB and ELB. Unless I'm horri

[2018-03-10 18:42] #46231 closed

[2018-03-10 18:42] #30918 closed

[2018-03-10 18:47] dankohn commented on #27796
@technicianted Please contact helpdesk@rt.linuxfoundation.org and they’ll sort it out for you.

[2018-03-10 19:27] dobesv opened #61007 "HPA refuses to scale if any custom metric is missing"
**What happened**:

I setup custom metrics based autoscaling with multiple metrics.  One of those metrics was not available.  HPA reports all metrics as "unknown" (even the ones that are still available) and refuses to operate.

[code]

**What you expected to happen**:

Pods would be automatically scaled based on metrics that were available, ignoring missing metrics (treating them as zero).

A par

[2018-03-10 19:27] dobesv commented on #61007
/sig autoscaling

[2018-03-10 19:31] saad-ali opened #61008 "CSI NodePublishVolume readonly is never set"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The `readonly` field passed to `NodePublishVolume` is never set.

In https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter.go#L198:

[code]

where `c` is a `csiMountMgr` object that is initialized in the `NewMounter(...)` method in https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cs

[2018-03-10 19:43] #22952 closed

[2018-03-10 19:43] #24791 closed

[2018-03-10 19:43] #16437 closed

[2018-03-10 19:43] #47780 closed

[2018-03-10 20:39] cblecker opened #61009 "pull-kubernetes-e2e-gke and ci-kubernetes-e2e-gci-gke failing (e86a79dc0b9fe8a51016)"
Both these job started failing at the same time.

Comparison of both repo and infra commits:
https://github.com/kubernetes/kubernetes/compare/c74c82645...d112ffc2e
https://github.com/kubernetes/test-infra/compare/8c7800b6d...8c9bca22f

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Kubernetes%20Dashboard%20should%20check%20that%20the%20kubernetes-dashboard%20instance%20i

[2018-03-10 20:40] cblecker commented on #61009
also cc: @krzyzacy

[2018-03-10 20:44] #49723 closed

[2018-03-10 21:45] #41895 closed

[2018-03-10 22:46] #48128 closed

[2018-03-10 23:47] #49586 closed

[2018-03-10 23:47] #51880 closed

[2018-03-10 23:47] #30180 closed

[2018-03-10 23:47] #50245 closed

[2018-03-10 23:47] #51884 closed

[2018-03-11 00:00] dims commented on #61009
@cblecker is this different from https://github.com/kubernetes/kubernetes/issues/60767 ?

[2018-03-11 00:15] geigev commented on #45779
@thedodd @kuznero @alahijani

I had the exact same issue with `clusterIP: None` set. Turned out my issue was that I had my service selector wrong i.e

[code]
should have been

[code]

Might want to check that.

[2018-03-11 00:19] glb commented on #44154
It looks like this may have been resolved in https://github.com/kubernetes/apiserver/commit/5621f05378f68f1b28a9d15449a3800c40e717bc.
[code]

Excerpt from https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json:
[code]

[2018-03-11 00:48] #51957 closed

[2018-03-11 00:48] #45278 closed

[2018-03-11 00:48] #48437 closed

[2018-03-11 00:51] andor44 commented on #59676
It was the `cronjob-controller`. It reported it deleted jobs that I was able to `kubectl get job foo` after the message. I could also see the `DELETE` requests on the API server, which responded with 200s.

We ended up restarting the controller-manager, which IIRC didn't immediately fix the issue, but CPU usage rose quite sharply shortly after, and it started deleting jobs for real.

[2018-03-11 01:49] #16910 closed

[2018-03-11 02:50] #28546 closed

[2018-03-11 02:50] #33192 closed

[2018-03-11 02:50] #51821 closed

[2018-03-11 02:50] #3518 closed

[2018-03-11 02:50] #10626 closed

[2018-03-11 02:50] #51817 closed

[2018-03-11 03:19] mlmhl commented on #61008
I think `Pod.PodSpec.Containers[x].VolumeMounts[x].Readonly` is only used for mounting pod volume path to container, here(for `volume.Mounter`), we can set `csiMountMgr.readOnly` to `spec.ReadOnly`, just like other volume plugins.

I can help to fix this.

[2018-03-11 03:20] k82cn opened #61012 "Coscheduling in Kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Motivation**

Kubernetes has become a popular solution for orchestrating containerized workloads; it has been largely successful in orchestrating serving and storage workloads, and, with native K8s support for Spark. Meanwhile, the community also try to run Machine Learning (ML) workloads on Kubernetes, e.g. [kubeflow/tf-operator](htt

[2018-03-11 03:20] k82cn commented on #61012
/assign

[2018-03-11 03:24] k82cn commented on #61012
There's the demo from [kube-arbitrator](https://github.com/kubernetes-incubator/kube-arbitrator):

**gang-scheduling**: https://www.youtube.com/watch?v=TKhoWafrYvk
**job group**: (by task priority) https://www.youtube.com/watch?v=I_rPl72HzKE

Will append design doc for gang-scheduling in upstream before end of week :)

[2018-03-11 03:37] mcronce commented on #53331
I'm seeing this happen as well (1.7.3) - `successfulJobsHistoryLimit` (set to 2) works fine, but `failedJobsHistoryLimit` (set to 5) will end up with hundreds of pods in `CrashLoopBackOff` until eventually it hits my nodes' resource limits and then they just stack up in `Pending`

[2018-03-11 03:41] resouer commented on #61012
It's little bit confusing why opening this issue as long as it already works with kube-arbitrator?  😕

[2018-03-11 03:51] #41435 closed

[2018-03-11 04:34] sbezverk commented on #61008
What about the case when a user wants to mount a volume for one of containers in a POD as read only, but the actual volume has ReadOnly False? I would like to suggest an alternative solution which passes the value of ReadOnly attribute, taken from POD's spec.

[2018-03-11 04:43] k82cn commented on #61012
We incubated kube-arbitrator because of the complexity of batch system, it's more smooth to upgrade feature by feature.

gang-scheduling is a common requirements from HPC (e.g. MPI) and ML (TF); It had been asked several times in kube-arbitrator, so I'd like to also handle it in upstream. The kube-arbitrator will align the interface/behaviour with this feature in upstream if necessary.

In kube-ar

[2018-03-11 04:52] #45525 closed

[2018-03-11 04:52] #51883 closed

[2018-03-11 04:52] #40958 closed

[2018-03-11 05:04] BenTheElder commented on #61009
I don't think it's https://github.com/kubernetes/test-infra/pull/7170, that was just as change to git + ssh checkout logic which shouldn't be used for these jobs.

As per the #sig-release discussion I think you two are both right that the dashboard is off by default now, PRing test-infra config to enable it...

[2018-03-11 05:53] #47444 closed

[2018-03-11 05:53] #22032 closed

[2018-03-11 05:53] #28394 closed

[2018-03-11 05:53] #43224 closed

[2018-03-11 06:17] krzyzacy commented on #60725
/status in-progress

[2018-03-11 06:54] #30811 closed

[2018-03-11 06:54] #37252 closed

[2018-03-11 06:54] #40573 closed

[2018-03-11 06:54] #30158 closed

[2018-03-11 06:54] #31061 closed

[2018-03-11 06:54] #35992 closed

[2018-03-11 06:54] #23481 closed

[2018-03-11 06:54] #23482 closed

[2018-03-11 06:54] #23484 closed

[2018-03-11 07:55] #47804 closed

[2018-03-11 07:55] #47805 closed

[2018-03-11 07:55] #19027 closed

[2018-03-11 07:55] #44561 closed

[2018-03-11 08:25] thubregtsen opened #61015 "CPU and Memory usage not visible in Kubernetes Dashboard without a restart"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

 /kind bug

**What happened**: Started a Kubernetes cluster in Azure

**What you expected to happen**: CPU and Memory usage available in Dashboard

**How to reproduce it (as minimally and precisely as possible)**: Start the Kubernetes cluster in Azure, use your browser to go to the dashboard.

**Anything else we need to know?**: Restarting

[2018-03-11 08:42] NerdsvilleCEO opened #61016 "Verify deps for dev environment doesn't happen on make all"
/kind bug
/sig cli
/assign

**What happened**:
Running make all w/out rsync installed resulted in a failed local build.

**What you expected to happen**:
A run to verify dependencies like happens when running make clean

**How to reproduce it (as minimally and precisely as possible)**:
Run make all without rsync installed

**Anything else we need to know?**:
I have a fix local which extracts verfi

[2018-03-11 09:24] shiywang commented on #47862
@pavolloffay do you still need this feature, I already submit my pr and design proposal couple month ago, but seems there're some blockers here: https://github.com/kubernetes/community/pull/1575#discussion_r160174713, https://github.com/kubernetes/community/pull/1575#issuecomment-360580182

[2018-03-11 11:59] #51994 closed

[2018-03-11 11:59] #7804 closed

[2018-03-11 11:59] #39198 closed

[2018-03-11 13:00] #52366 closed

[2018-03-11 14:01] #22232 closed

[2018-03-11 14:27] thubregtsen commented on #61015
/sig instrumentation

[2018-03-11 14:48] hoeghh commented on #60964
Could it be related to https://github.com/kubernetes/kubernetes/issues/39197 ?
The service needs to be headless for the dns to work for statefulsets.

[2018-03-11 15:02] #42258 closed

[2018-03-11 15:02] #45174 closed

[2018-03-11 16:03] #45756 closed

[2018-03-11 16:24] edsonmarquezani commented on #46421
Kubernetes 1.7 (Openshift, actually) with Managed Disks shows the same issues as described by @danielshiplett. I was expecting it worked better, but it does not. Didn't test newer version of Kubernetes, but as of 1.7.x, I can only say **Azure Disk persistent volumes aren't reliable at all for production use**. (I've had stuck disks even for hours!).

[2018-03-11 16:25] edsonmarquezani commented on #46421
@danielshiplett It seems the only way to release the disk is to reboot the node which it is attached to (or wait some random condition that will do it).

[2018-03-11 17:04] #12526 closed

[2018-03-11 17:04] #51989 closed

[2018-03-11 17:28] sch00lb0y commented on #32220
[code]
This can be done right?(I may be wrong)

[2018-03-11 18:05] #52429 closed

[2018-03-11 18:05] #14075 closed

[2018-03-11 18:05] #21390 closed

[2018-03-11 18:05] #51612 closed

[2018-03-11 18:05] #40955 closed

[2018-03-11 18:58] den-is opened #61017 "zsh completion throws error v1.10.0-beta.2"
/kind bug

I wasn't able to find issue opened for ZSH case, and aware about similar, fixed, case with bash in 1.10.0-b1 https://github.com/kubernetes/kubernetes/pull/60135
bash completion is working fine

[code]
[code]
[code]

[2018-03-11 19:06] #23211 closed

[2018-03-11 19:06] #44957 closed

[2018-03-11 19:06] #45974 closed

[2018-03-11 19:13] smarterclayton opened #61018 "e2e test for hostport collision should not use port 80"
The test

[code]

uses port 80, which is often in use on clusters (in our case, masters have an ingress controller listening on 80).  The test should use something in the high range that is unlikely to conflict or use a smarter algorithm for finding a port to validate.

@kubernetes/sig-scheduling-bugs @aveshagarwal fails in openshift

[2018-03-11 20:07] #43258 closed

[2018-03-11 20:07] #17635 closed

[2018-03-11 21:08] #52876 closed

[2018-03-11 21:08] #24731 closed

[2018-03-11 21:51] ianchakeres opened #61020 "Add e2e test for local volume provisioner v2+ to ensure non-bind-mounted filesystems in the discovery directory are ignored."
For v2+ of the [local volume provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume) non-bind mounted filesystems in a discovery directory will no longer result in local PVs. This change was put in place to handle the non-atomic nature of other methods of adding directories (e.g. https://github.com/kubernetes-incubator/external-storage/issues/482).

**What y

[2018-03-11 21:52] ianchakeres commented on #61020
/sig storage

[2018-03-11 22:09] #21227 closed

[2018-03-11 22:09] #52919 closed

[2018-03-11 22:09] #34267 closed

[2018-03-11 22:09] #45287 closed

[2018-03-11 22:09] jberkus commented on #30427
Hmmm, need to test if the 1.10 change fulfills this issue.

[2018-03-11 23:10] #35849 closed

[2018-03-11 23:10] #48419 closed

[2018-03-11 23:10] #25435 closed

[2018-03-12 00:11] #44778 closed

[2018-03-12 00:11] #35906 closed

[2018-03-12 00:11] #22888 closed

[2018-03-12 01:09] zparnold commented on #30518
@jchv Looks like NLB is the only accepted option at present.
[code]
Since someone else when through the trouble of figuring out wiring of AWS target groups to LB config (the new way of configuring Load Balancers in AWS,) I'll just try to hack together http/https with it. 😄 My usage of the cluster (at least for inbound traffic) is almost exclusively HTTP(s).

[2018-03-12 01:12] #52902 closed

[2018-03-12 01:12] #40827 closed

[2018-03-12 01:12] #52820 closed

[2018-03-12 01:16] liggitt commented on #40422
/reopen

[2018-03-12 01:17] liggitt commented on #40422
/remove-lifecycle rotten
cc @lavalamp for consideration in new apply design

[2018-03-12 01:41] magic-chenyang commented on #60957
@dixudx  I tried it，but nothing improved.The error message remains the same.

[2018-03-12 02:04] Lion-Wei commented on #61005
You may need use `iptables -t nat -nL` to check kube-proxy created rules.

[2018-03-12 02:33] jiaxuanzhou commented on #49563
@spiffxp would agree with me about the solution? if so , i will submit one PR to implement the feature, thx.

[2018-03-12 02:46] dhurley14 commented on #59867
Anyone know where I can open a request to ask `gcloud` make kubectl 1.9.x available via `gcloud components update`?

[2018-03-12 03:10] vfreex commented on #60869
Are you running kube-proxy in containers?
This is probably because the `modprobe` binary (usually provided by `kmod` package) in your container is NOT compiled with compression support. See `CONFIG_MODULE_COMPRESS`.

[2018-03-12 03:14] #47937 closed

[2018-03-12 03:14] #21229 closed

[2018-03-12 03:14] Haybu commented on #36222
I am experiencing the same. \n character is messing up a configmap I'm creating with --from-file option. Anyone found a reason why this is happening ?

[2018-03-12 03:29] feiskyer commented on #56744
@messmerxx I'm closing this since this is not supported.

[2018-03-12 03:29] feiskyer commented on #56744
/close

[2018-03-12 03:29] #56744 closed

[2018-03-12 03:37] thockin commented on #28969
@kow3ns FYI ICYMI

[2018-03-12 04:15] #40273 closed

[2018-03-12 04:15] #18725 closed

[2018-03-12 04:15] #43988 closed

[2018-03-12 04:15] #19041 closed

[2018-03-12 04:15] #36856 closed

[2018-03-12 04:15] #37595 closed

[2018-03-12 04:15] #46730 closed

[2018-03-12 04:20] vishwaspai commented on #59867
@dhurley14 - I've asked google the same question using our support account. Will update this thread if there is anything worth sharing.

[2018-03-12 04:32] obriensystems commented on #49314
I am seeing this periodically on Azure VMs

[2018-03-12 04:49] jejer commented on #60869
@vfreex ,
Yes, the image is gcr.io/google-containers/kube-proxy-amd64:v1.9.2

[2018-03-12 05:16] #17456 closed

[2018-03-12 05:16] #41443 closed

[2018-03-12 05:16] #17564 closed

[2018-03-12 05:16] #20820 closed

[2018-03-12 05:16] #31897 closed

[2018-03-12 05:16] #33261 closed

[2018-03-12 06:17] #43179 closed

[2018-03-12 06:17] #33592 closed

[2018-03-12 06:27] nikhita commented on #61017
/sig cli

[2018-03-12 06:29] krmayankk commented on #30427
what change @jberkus  ? Is the index available in 1.10 as downward api ?

[2018-03-12 06:29] krmayankk commented on #30427
/remove-lifecycle stale

[2018-03-12 06:37] gmoed commented on #58357
Interested in this feature as well, I can help you with the testing.

Cheers

[2018-03-12 06:44] saad-ali commented on #61008
Thank you @mlmhl and @sbezverk for jumping on this!

I feel like the other volume plugins have the wrong behavior here. The purpose of the `SetupAt` call is to mount the volume. Therefore, the `SetupAt` should receive the pod volume mount readonly field.

That said, as mentioned [here](https://github.com/kubernetes/kubernetes/pull/61014#discussion_r173703179), I think the fact that "`Pod.PodSpec.C

[2018-03-12 06:54] vfreex commented on #60869
@jejer Yeah, the `modprobe` in `gcr.io/google-containers/kube-proxy-amd64:v1.9.2` is not compiled with `CONFIG_MODULE_COMPRESS`, so that loading compressed kernel modules on hosts is not supported.

[2018-03-12 06:55] ShualLiu commented on #60930
I found it was fixed in
[code]

[2018-03-12 07:18] vfreex commented on #60573
Hi, can you put the results of the following commands on 192-168-0-53-kube02?

[code]

[2018-03-12 07:31] ravilr opened #61029 "KUBE_GIT_VERSION contains extraneous comma when building from git archive source.tgz"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Download the kube release source artifact from https://dl.k8s.io/v1.9.3/kubernetes-src.tar.gz and do a build.  All the kube binaries have a extraneous comma in the version:
$ /usr/bin/kube-proxy --version
Kubernetes v1.9.3,

**What you expected to happen**:

kube binaries built from git archive source tgz to show the co

[2018-03-12 07:34] ravilr commented on #61029
/sig release

[2018-03-12 08:19] #39833 closed

[2018-03-12 08:19] #51088 closed

[2018-03-12 08:19] #42932 closed

[2018-03-12 08:19] #44944 closed

[2018-03-12 08:20] feiskyer commented on #60956
@PatrickLang Opened the issue in dashboard repo https://github.com/kubernetes/dashboard/issues/2888

[2018-03-12 08:40] Nefelim4ag opened #61032 "kubectl more smart diff check on apply"
/kind bug
/area kubectl
/sig cli

kubectl return that deployment configured - i.e. changed, even when deployment are same.
Because thing like:
 - cpu: 1000m converted to "1" after apply.
 - memory: 1024Mi -> 1Gi

And OpenAPI patch assume:
 - cpu: 1000m != "1"
 - cpu: 1 != "1"
 - cpu: 0.5 != 500m
 - memory: 1024Mi != 1Gi

kubectl or OpenAPI-Patch must preprocess values before apply,
or by some othe

[2018-03-12 08:41] sylr commented on #60930
@ShualLiu I did not find any mention of this is the 1.8.8 release note.

How did you find out ?

[2018-03-12 08:54] errordeveloper commented on #61006
@obeattie thanks for enumerating these issue in full, I agree with all of them and we should start doing something about it. I think most developers are partly aware of some of these issues, but I am not sure if anyone else has enumerated these issues as well as you did here.

[2018-03-12 09:36] sttts commented on #60854
@cheftako closing this to remove it from the release radar. Feel free to reopen if you think we still have an issue.

[2018-03-12 09:36] #60854 closed

[2018-03-12 09:50] #60176 closed

[2018-03-12 10:00] k82cn commented on #59194
/status approved-for-milestone

[2018-03-12 10:06] verb opened #61034 "RotateKubeletServerCertificate fails e2e-node test"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug
/sig node
/assign @jcbsmpsn

**What happened**: Enabling alpha feature causes e2e-node test to fail

In kubernetes/test-infra#7030 I created an e2e-node test for alpha features, but I had to blacklist RotateKubeletServerCertificate because it causes the entire test to fail. Please fix the test and remove the blacklist for RotateKubeletSe

[2018-03-12 10:12] bmwiedemann commented on #48710
/remove-lifecycle stale

sorry for missing the question earlier.

I have tested kubernetes-1.9.3 and got different diffs now:
http://rb.zq1.de/compare.factory-20180228/kubernetes-compare.out

## man pages
there one side of the diff is
[code]

and the other side is a properly rendered man page.

`docs/admin/cloud-controller-manager.md` shows similar diffs

This kind of diff usually indicates some r

[2018-03-12 10:20] maodage2005 commented on #49493
@dmnord
how do you fix this problem?

[2018-03-12 10:21] #24471 closed

[2018-03-12 10:21] #26304 closed

[2018-03-12 10:25] vfreex commented on #60966
Using UID sounds reasonable to me!

[2018-03-12 10:30] kchugalinskiy commented on #58692
You may try to copy your files to workdir and then retry to copy them using just their names. It's weird, but it works for now.

[2018-03-12 11:14] akumria commented on #59074
I wonder if your problem goes away once https://github.com/kubernetes/kubernetes/pull/58008 is merged?

[2018-03-12 11:18] shyamjvs commented on #60988
Gathered some interesting evidence today. Look at how the CPU usage of controller-manager increased ~4x across runs 454 and 455:

![controller-manager-with-quotas](https://user-images.githubusercontent.com/4333971/37280904-77a27346-25ef-11e8-8b1e-522faad3b62b.png)

[2018-03-12 11:22] #38930 closed

[2018-03-12 11:23] shyamjvs commented on #60988
From the [commit diff](https://github.com/kubernetes/kubernetes/compare/3d19fe401...73b2b1cac), it seems most likely that enabling quotas (#60421) caused the mischief. Also, I looked at controller-manager logs from one of the newer runs and find many such lines:

[code]

[2018-03-12 11:28] shyamjvs commented on #60988
Found one final piece of evidence to prove that it's indeed a problem caused by resource-quotas. Look at how our scalability job running against HEAD saw a fall back to normal CPU usage (across runs 11485 and 11486), with the [only change](https://github.com/kubernetes/kubernetes/compare/7c9293e1c...40143fd68) being disabling of quotas:

![controller-manager without-quotas](https://user-images.git

[2018-03-12 11:31] shyamjvs commented on #60988
cc @davidopp
(because I somehow remember you associated with the feature:)

[2018-03-12 11:34] Miyurz opened #61036 "Duplicate deployments and replicasets observed on querying a namespace for all its objects"
**BUG REPORT **:

**What happened**:
Every time I try to query all the objects in a given namespace, I observe redundant deployments and replicasets being reported.

**What you expected to happen**:
All the objects in the namespace queried must be specified once and no redundant values should be observed.

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl get all -n <names

[2018-03-12 11:34] gmarek commented on #60988
cc @deads2k

[2018-03-12 11:35] Miyurz commented on #61036
/sig cli

[2018-03-12 12:23] #53486 closed

[2018-03-12 12:23] #38859 closed

[2018-03-12 12:23] #38892 closed

[2018-03-12 12:32] cloudbow commented on #45234
Yes , Why should LB talk to a node which does not have a service. It should not. We have a case where we see varying response time between requests because sometimes the requests go through a server which is not very healthy?

[2018-03-12 12:56] aveshagarwal commented on #61018
@smarterclayton I am looking into it.

[2018-03-12 13:14] deads2k commented on #60988
@derekwaynecarr point of interest

[2018-03-12 13:24] #38858 closed

[2018-03-12 13:24] #28367 closed

[2018-03-12 13:24] #38718 closed

[2018-03-12 13:24] #46728 closed

[2018-03-12 13:24] #40442 closed

[2018-03-12 13:25] aveshagarwal commented on #61018
@smarterclayton I looked into the test and it seems that another option would be for the test to not use 127.0.0.1 to avoid such conflict with infra (or any other important) pods on 127.0.0.1. As the test is using 127.0.0.1 and 127.0.0.2, I think we could just use 127.0.0.2 and 127.0.0.3 instead.

[2018-03-12 13:44] aveshagarwal commented on #61018
so it seems there are following options we can use:

1. Use 127.0.0.2 and 127.0.0.3 instead of 127.0.0.1 and 127.0.0.2.
2. Manually pick some high random port number.
3. Use something like following to pick unused port:

[code]
and then extract random port from it.

[2018-03-12 13:52] aveshagarwal commented on #61018
https://github.com/kubernetes/kubernetes/pull/61038 with option 1 as it seems safer than 2 to me. Let me know if there is any concern, or if we would want to go with 2 or 3 option or something else.

[2018-03-12 13:54] aveshagarwal commented on #61018
@derekwaynecarr

[2018-03-12 13:59] soltysh commented on #60735
Yeah backoff is problematic with the parallelism > 1 as described in #56853, which was fixed in https://github.com/kubernetes/kubernetes/pull/60202. Lemme see if it solves the issues.

[2018-03-12 14:02] #60963 closed

[2018-03-12 14:10] jdumars commented on #49314
@obriensystems any chance you could open a new issue linked to this one with the requisite troubleshooting info (versions, etc.) and label it with ``/sig azure``

Thanks!

[2018-03-12 14:25] #49158 closed

[2018-03-12 14:25] #28630 closed

[2018-03-12 14:25] #44188 closed

[2018-03-12 14:43] soltysh commented on #60735
Hmmm... actually looking further at both this case and the code it doesn't say that `backoffLimit` will only try creating that many pods. It rather states 'number of retries before marking this job failed' and retries are controlled at the controller level, which in this particular case retried exactly three times. The fact that each time it created `parallelism` pods is due to how the job control

[2018-03-12 14:59] so0k commented on #13488
should be app responsibility to watch filesystem for changes, as mentioned you can use checksums on the configmap/secret and force restarts that way

but if you don't want to change the config at all and just do a rolling restart with arbitrary pause, a simple pipeline does the job

[code]

[2018-03-12 15:05] shyamjvs opened #61041 "Controller-manager sees higher mem-usage when load test runs before density"
I accidentally turned off our load test in PR https://github.com/kubernetes/kubernetes/pull/60973. But thanks to it, I observed this pattern in our controller-manager memory usage during density test:

![controller-maanger-load-density-variance](https://user-images.githubusercontent.com/4333971/37290872-ac62ef2a-260d-11e8-988e-b05d359744f4.png)

You can see the jump after run 11479 when I re-enabl

[2018-03-12 15:09] crassirostris commented on #52444
/remove-lifecycle rotten

Still relevant, hasn't been fixed

[2018-03-12 15:16] shyamjvs commented on #61041
So this is **also seen in the apiserver**:

![apiserver-mem-usage-load-density-variance](https://user-images.githubusercontent.com/4333971/37292174-9d5fe8cc-2610-11e8-9898-0b100e0c3e69.png)

[2018-03-12 15:25] gnufied commented on #59984
I do not think this is a 0 or 1 situation. Some objects may have live resources(such as pods that are running) associated with it and some objects will be in pending or other such state.

I believe that - validations that tighten API spec to prevent pending or other zombie state should be allowed. Is it possible that - this is more of a tooling problem for such cases? For example - if a validation

[2018-03-12 15:26] #48147 closed

[2018-03-12 15:45] DirectXMan12 commented on #40214
we have vague plans to talk about how we want to deal with exposed metrics in sig-instrumentation soon.  That'll be a good place to bring this up.

[2018-03-12 15:56] wojtek-t commented on #61041
It hopefully shouldn't be endpoint controller. Note that we don't start the second test before all namespaces from the previous one are deleted. That means endpoint controller wouldn't be able to update endpoints object becuase of non-existing namespace.
I hope that we would observe the higher number of errors somewhere if that's the case.

[2018-03-12 15:56] liggitt opened #61043 "PodSecurityPolicy allowedHostPaths does not effectively restrict to a subpath"
the allowedHostPaths feature limits what paths can be specified in a hostPath volume, but does not restrict symlink creation and traversal within that subpath

To prevent this, either of the following are required:
* limit hostPath use to read only volumes (in progress in https://github.com/kubernetes/kubernetes/pull/58647)
* limit hostPath use to exact path matches

Until those changes are made,

[2018-03-12 15:58] shyamjvs commented on #61041
I looked into the apiserver logs, and can't find any calls that have 'load' mentioned in them after the first call which has 'density' mentioned in it. This could potentially mean that the memory usage is coming from watches that are not initiated by the e2e (i.e sth like kube-proxy or kubelet watches).

[2018-03-12 16:01] shyamjvs commented on #61041
I have one idea to check if it is sth around services. Let's disable them in our load test for the job and see.

[2018-03-12 16:09] shyamjvs commented on #61041
That's true. But IIUC it's still possible that endpoints-controller is using memory, for e.g to process watch events for endpoints updates (coming from load test deletion phase)?

[2018-03-12 16:12] wojtek-t commented on #61041
I don't think it's watch related.
Yes - CM may accumulate some memory, because it allocated a lot in the past. And without memory-pressure not everything might have been cleared yet.

I don't think we should spent too much time on it now.

[2018-03-12 16:16] shyamjvs commented on #61041
Makes sense.

Sure... But this is just taking very small time while I'm running bisection for the pod-startup regression in the background :)

[2018-03-12 16:16] discordianfish commented on #43168
I just got into this or a very similar situation with 1.9.2: I've created a cronjob, then job --from this/cronjob and deleted everything (sorry, not sure about exact order). The pod and cronjob is gone, but I can't delete the job:

``error: timed out waiting for "efs-backup-test" to be synced``

[2018-03-12 16:23] discordianfish commented on #43168
I also have this warning "Too many active pods running after completion count reached" and haven't figure out how to recover from this state. I'm too going to attempt editing etcd directly now. I also believe I got into this the same way @jsravn did: Create the job, delete the pod it created which caused it to create a new pod which I can't delete anymore.

[2018-03-12 16:23] fabiand commented on #59110
We'd actually laos like to see this. For network devices it's helpful in order to clean them up once a network ns goes away.

[2018-03-12 16:27] #32131 closed

[2018-03-12 16:27] #46910 closed

[2018-03-12 16:28] ocervell commented on #51188
@Glennvd not sure if you're still looking, but there is now a solution for [hpa autoscaling on GKE](https://cloud.google.com/kubernetes-engine/docs/tutorials/custom-metrics-autoscaling)

[2018-03-12 16:31] pavolloffay commented on #47862
Yes, I would like to use it if it is realistic to implement it. There is also some interest from other users see the first comment.

[2018-03-12 16:33] Glennvd commented on #51188
Thanks for the heads up @ocervell, I had already found the documentation but unfortunately ran into some other issues (https://github.com/GoogleCloudPlatform/k8s-stackdriver/issues/113#issuecomment-372350817)

[2018-03-12 16:36] humblec commented on #49376
This issue is alreaady fixed in kube >=1.6,  please reopen if you face this issue again. I am closing it for now.

[2018-03-12 16:36] #49376 closed

[2018-03-12 16:43] jberkus commented on #60500
@shyamjvs update?

[2018-03-12 16:45] caesarxuchao commented on #50046
/reopen
/remove-lifecycle rotten

[2018-03-12 16:46] jberkus commented on #60608
@timothysc, @luxas can we have a general status update on the kubeadm issues? The issues themselves don't generally have status updates.  This is the last week before release, where are you with the kubeadm changes?

[2018-03-12 16:48] tpepper commented on #60905
@feiskyer should this be labelled for 1.10?

[2018-03-12 16:52] mengqiy commented on #35991
/reopen

[2018-03-12 16:53] jberkus commented on #59848
Removing from 1.10, per discussion on sig-release.

[2018-03-12 16:56] shyamjvs commented on #60500
@jberkus Unfortunately, I was caught up with a couple of serious regressions under https://github.com/kubernetes/kubernetes/issues/60589. Let me take a deeper look into this now.

ACK. In progress
ETA: <unknown>
Risks: Not yet understood well

[2018-03-12 17:03] ixdy commented on #61029
The issue is that our regex didn't handle the case where the tag isn't the last part of the string filled in by `$Format:%D$`:

https://github.com/kubernetes/kubernetes/blob/ba535d57f6e2eb338f6fbf121d6be2e6f9204136/hack/lib/version.sh#L45-L51

One the 1.9.3 source tarball linked, this looks like
[code]

This should be a pretty easy fix - I don't think commas are allowed in semantic version strings

[2018-03-12 17:03] ixdy commented on #61029
/king bug
/priority important-soon

[2018-03-12 17:04] ttarczynski commented on #59461
I observe a very similar issue:

**What happened**
* after a successful completion of `kubeadm init` I get `kube-proxy` with status `CrashLoopBackOff`
[code]
* there's an error in `kube-proxy` logs:
[code]

**What you expected to happen**:
* `kube-proxy` pod in status `Running` after a successful `kubeadm init`

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything e

[2018-03-12 17:05] rongou opened #61049 "Allow setting directory mode bits on mounted volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
One of the use cases for `secret` is to store ssh keys, but as far as I can tell we cannot set the directory permissions on a mounted secret volume. By default OpenSSH requires the `~/.ssh` directory to be not world writable, thus making it impossible to start `sshd` without turning off `StrictModes`.

**What you expec

[2018-03-12 17:05] krzyzacy commented on #60763
status?

[2018-03-12 17:09] tpepper commented on #61017
@kubernetes/sig-cli-bugs can you verify this and label for v1.10 milestone and note if it will be considered a release blocker

[2018-03-12 17:12] wattli commented on #60952
Istio proxies would need to include k8s master CA as a trusted CA. Does it change at all after initial setup? Is the CA available at fixed path in each container or would it need to be redistributed to proxies on a regular basis?

_- It's a very good question, for GKE, it's fixed and the CA root is long lived, like 10 years iirc. But not sure about OSS, @tallclair ?_

Istio uses certificates with

[2018-03-12 17:14] rongou commented on #61049
/sig storage

[2018-03-12 17:15] krzyzacy commented on #60762
update?

cc @jdumars AI needed here

[2018-03-12 17:22] bsalamat commented on #56721
/remove-lifecycle stale

[2018-03-12 17:27] krzyzacy commented on #60764
cc @msau42 @verult  @janetkuo
cc more folks to see if you have any idea here

[2018-03-12 17:28] #42796 closed

[2018-03-12 17:28] #21528 closed

[2018-03-12 17:28] #53618 closed

[2018-03-12 17:30] brendandburns commented on #58002
@liggitt in my case it was a single etcd server (rpi cluster) does that flag still apply?

[2018-03-12 17:31] shyamjvs commented on #60500
I went through the last 12 flaky failures of our [100-node performance test](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce) and they all fall under one of the 2 categories below:

1. `Error while waiting for replication controller density-latency-pod-54 pods to be running: Timeout while waiting for pods with labels "name=density-latency-pod-54,type=density-latency-pod" to be running`

E

[2018-03-12 17:32] spiffxp commented on #57911
I did a pass through kubernetes/test-infra/label_sync/labels.yaml recently and will use automation to remove a few of the org-wide labels.  Will open a kubernetes/community issue for that.

That said, I think it's time to remove these labels on this repo specifically.  Next step: e-mail out to kubernetes-dev

[2018-03-12 17:34] asarkar commented on #49466
This would be a good feature to have, any thoughts?

[2018-03-12 17:40] ericchiang commented on #46983
/remove-lifecycle rotten
/lifecycle frozen

The manifest in `cluster/gce/manifests/glbc.manifests` still needs updating.

[2018-03-12 17:44] krzyzacy opened #61050 "[test failed] gci-gce-alpha-features"
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features
testgrid diff for commit range: https://github.com/kubernetes/kubernetes/compare/f7d9fb474...f7aafaeb4

looks like #59862

/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone
/sig apps
/milestone v1.10

cc @jdumars @jberkus

/assign @k82cn @janetkuo

[2018-03-12 17:44] kevincvlam opened #61051 "Container Dying with Exit Code 255"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Ran a pod which crashed with Exit Code 255 unexpectedly.

**What you expected to happen**:
Pod to run to completion or exit with an error.

**Anything else we need to know?**:

The pod had a container running tensor2tensor on Tensorflow v.1.6 on CUDA 9.

Here is a redacted pod status:

[code]

**Environment**: GKE
- Kubern

[2018-03-12 17:45] jsafrane opened #61052 "CSI volume plugin should report error when it can't fetch secrets."
CSI volume plugin only logs an error when it can't fetch secret referenced by NodeStageSecretRef or NodePublishSecretRef. It should return error instead, so user knows that something is wrong.

/sig storage
/assign
/kind bug

[2018-03-12 17:54] #60725 closed

[2018-03-12 17:59] caesarxuchao commented on #45019
/reopen
/remove-lifecycle rotten

[2018-03-12 18:00] nicksardo commented on #46983
Needs a lot more than that.

[2018-03-12 18:01] nicksardo commented on #36535
/reopen
/assign

[2018-03-12 18:01] nicksardo commented on #36535
/reopen

[2018-03-12 18:02] saad-ali commented on #60764
@verult has agreed to take a look at the failing Storage tests.

[2018-03-12 18:04] jdumars commented on #60764
Thank you very much!

[2018-03-12 18:09] nfirvine commented on #55807
If the container's already dead, then what you're looking for is a `postStop` hook, which is not a thing. Hooks run inside the container. Where would you expect such a hook to run?

[2018-03-12 18:12] saad-ali commented on #61008
We discussed the proposed fixes in the Kubernetes CSI implementation meeting today (see [notes](https://docs.google.com/document/d/1-WmRYvqw1FREcD1jmZAOjC0jX6Gop8FMOzsdqXHFoT4/edit#heading=h.l1xczpgfnv2j)). We decided it would be better for CSI to be consistent with the other plugins (and still broken), and have CSI fixed, along with all the other plugins, whenever we fix the `volume.Spec.readonly

[2018-03-12 18:13] janetkuo commented on #61050
It seems that Daemon pods aren't unable to be scheduled:

[code]

[2018-03-12 18:14] wattli commented on #60952
A use case https://github.com/istio/istio/issues/2628

[2018-03-12 18:29] #24677 closed

[2018-03-12 18:31] anfernee commented on #60966
/assign

[2018-03-12 18:39] shyamjvs commented on #60500
Wrt the second kind of failures,
I used some script-ery to obtain the graph of apiserver 99%ile mem-usage over a longer time horizon (~1 month) and found this:

![apiserver_mem_usage](https://user-images.githubusercontent.com/4333971/37302877-0ecb11d2-262d-11e8-99fb-43d0bfe6d660.png)

[2018-03-12 18:41] shyamjvs commented on #60500
There was a jump which just crosses our threshold of 1500MB somewhere around run 11250 (look at the red circle). I'll try to zoom in further to narrow down this range.

[2018-03-12 18:45] gnufied commented on #58786
if `ExpandDevice` is a no-op for storage systems then just the PV size will be updated on the controller-manager as we do currently. If `ExpandFS` fails on the node, the PVC will not reflect user requested size in `pvc.Status` . I think this flow is not very different from current behavior where `ExpandFS` may fail even if `ExpandDevice` has succeeded.

[2018-03-12 18:56] shyamjvs commented on #60500
Narrowed down to a smaller range, and it seems likely the increase has been introduced b/w runs 11250 and 11255:

![narrower_range](https://user-images.githubusercontent.com/4333971/37303655-7213e80c-262f-11e8-9199-e9b902183065.png)

[2018-03-12 19:00] bmcstdio commented on #58662
I can confirm this happens in `v1.9.3`.

[2018-03-12 19:00] BenTheElder commented on #61009
PR jobs appear to be passing now after https://github.com/kubernetes/test-infra/pull/7217

[2018-03-12 19:01] shyamjvs commented on #60500
And the [diff](https://github.com/kubernetes/kubernetes/compare/46f05b0c2bc153...209cdd90489a5a) has 2 commits, and I suspect the following change to be likely causing it:

https://github.com/kubernetes/kubernetes/pull/60237 Audit use buffered backend

Unlike the one we earlier suspected wrt audit-logging (https://github.com/kubernetes/kubernetes/pull/60076) that turned out to be just a red herrin

[2018-03-12 19:01] jpbetz commented on #60500
@cheftako Any chance some of your recent memory analysis on apiserver might be related/helpful here?

[2018-03-12 19:06] crassirostris commented on #60500
This is an expected increase, audit logging now uses some memory to accumulate audit events before writing them to disk. No more than 10k events are stored by default

[2018-03-12 19:19] shyamjvs commented on #60500
Thanks @crassirostris.

So seems like that'd be a bounded increase in mem-usage (and independent of cluster size).
Could you confirm that and also how much bound wrt memory can we expect, so we can change our thresholds?

[2018-03-12 19:19] KIVagant commented on #43168
@discordianfish if you succeed, could you show your commands here to save other people time, please?

[2018-03-12 19:30] #51591 closed

[2018-03-12 19:30] #22077 closed

[2018-03-12 19:30] #24978 closed

[2018-03-12 19:30] #53674 closed

[2018-03-12 19:31] andrewsykim opened #61058 "HostPath mounts failing with "Path is not a shared or slave mount""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After upgrading from v1.9.2 -> v1.10.0-beta.2, containers using hostpath mounts are failing with:
[code]

The message `linux mounts: Path /opt/kubelet/dev is mounted on / but it is not a shared or slave mount` seems like it's from the docker daemon, but the docker daemon was not updated during the upgrade so I had assumed

[2018-03-12 19:31] cblecker commented on #57911
Two comments:
- the sig-federation -> multicluster should be handled by label_sync as it's org wide
- do-not-merge is a label that was previously added by someone with write access, while hold is something that anyone (including the PR author) can remove. this isn't a direct translation, and I'd recommend not removing this label at this time.

The rest look fine to me. Although, I'd really like to

[2018-03-12 19:39] cblecker commented on #61009
Looks like the CI job is clear too: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/23620

Thanks @BenTheElder !

[2018-03-12 19:39] #61009 closed

[2018-03-12 19:51] #60814 closed

[2018-03-12 19:56] shyamjvs commented on #60500
Similarly, I fetched the usage for controller-manager too over the long-run:

![wider_cm_mem](https://user-images.githubusercontent.com/4333971/37306350-ba2618ec-2637-11e8-850a-b625c7ae9896.png)

And narrowed it down to:

![narrower_cm_range](https://user-images.githubusercontent.com/4333971/37306379-cc69e8a8-2637-11e8-8407-6d963dd2592d.png)

[2018-03-12 20:05] liggitt commented on #61043
cc @jhorwit2

[2018-03-12 20:08] krzyzacy commented on #60767
looks green now

[2018-03-12 20:15] wilk commented on #59867
I solved by deleting it from the dashboard instead of using the CLI.

[2018-03-12 20:15] egeland commented on #47893
/reopen

As far as I know, this is still a problem.

On Mon., 5 Mar. 2018, 01:18 k8s-ci-robot, <notifications@github.com> wrote:

[2018-03-12 20:22] jberkus commented on #57911
Aside from @cblecker's comments, LGTM.

[2018-03-12 20:31] #43755 closed

[2018-03-12 20:31] #23479 closed

[2018-03-12 20:31] #43486 closed

[2018-03-12 20:34] #61008 closed

[2018-03-12 20:37] shyamjvs commented on #60500
Looking at the [diff](https://github.com/kubernetes/kubernetes/compare/d336607679743a...9a8b675d2c19fa) b/w runs 10868 and 10870 (which seems to be where the regression happened), I'm not really sure which one would cause this. Though this seems potential to me:

Try longer to fetch initial token. #56394

While it's making some POST requests internally and storing the response, it seems to be call

[2018-03-12 20:41] phsiao opened #61062 "eviction-{hard,soft} stops working till kubelet restarted when using devicemapper for imagefs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When a kubelet is configured to have eviction-hard and eviction-soft, I have seen it **twice** now that imagesfs is more than 90% utilized and started generating errors, but eviction or garbage does not kick in till kubelet is restarted.

The kubelet is configured with this eviction related arguments
[code]

In the most

[2018-03-12 20:42] phsiao commented on #61062
/sig node

[2018-03-12 20:47] KIVagant commented on #13488
@so0k alternative command:
[code]

[2018-03-12 20:50] mbohlool commented on #25716
still some issues remains here.

[2018-03-12 20:50] saad-ali commented on #61008
Spoke with @sbezverk offline. Details here: https://github.com/kubernetes/kubernetes/pull/61014#discussion_r173941793

Based on that conversation, I don't think there is anything else we need to do here.

[2018-03-12 20:52] shyamjvs commented on #60589
Update: I verified that the increase in etcd mem usage is indeed caused due to higher --snapshot-count default value. More details here - https://github.com/kubernetes/kubernetes/pull/61037#issuecomment-372457843

We should consider setting it to 10,000 when we're bumping to etcd 3.2.16, if we don't want the increased mem usage.

cc @gyuho @xiang90 @jpbetz

[2018-03-12 20:55] phsiao commented on #61062
Found another node in this state, collecting information that I can think of.

[code]

[code]

[code]

[2018-03-12 20:58] ravisantoshgudimetla commented on #60403
/remove-sig scheduling

[2018-03-12 21:02] nilebox commented on #60963
@sttts should this issue remain opened until the bugfix is backported to 1.10 and 1.9?
If not, how do I otherwise track if it was cherrypicked?

[2018-03-12 21:03] aveshagarwal commented on #60960
This has been discussed before, and here is my comment: https://github.com/kubernetes/kubernetes/issues/51788#issuecomment-331986761 .

Please close this issue.

[2018-03-12 21:09] jberkus commented on #61041
@shyamjvs, @wojtek-t does this look more like a problem with the test, or does this look like a real user-affecting performance problem related to the other performance issues?

[2018-03-12 21:15] shyamjvs commented on #61041
This needs more digging, but AFAIU it's not a regression and we've been seeing it for a while already I think.
Wrt users this may not be much of a problem, but I'd want to hear out @wojtek-t on this.

[2018-03-12 21:18] shyamjvs commented on #61041
By "other performance issues" if you mean the recent ones that I've been hunting down (https://github.com/kubernetes/kubernetes/issues/60500, https://github.com/kubernetes/kubernetes/issues/60589), then I don't think so. Not 100% sure - but I believe they're different.

[2018-03-12 21:20] aveshagarwal commented on #60960
Also annotate your DS's namespace by setting scheduler.alpha.kubernetes.io/node-selector:"".

[2018-03-12 21:23] yastij commented on #61007
cc @DirectXMan12

[2018-03-12 21:31] phsiao commented on #61062
Looks similar to #44189.

[2018-03-12 21:32] phsiao commented on #61062
cc @derekwaynecarr devicemapper-related issue

[2018-03-12 21:32] #39920 closed

[2018-03-12 21:32] #20177 closed

[2018-03-12 21:59] caesarxuchao commented on #60963
1.10 is still doing branchff, so the PR will appear in 1.10.
I sent #61066 as the cherrypick to 1.9.

[2018-03-12 22:00] shyamjvs commented on #60500
I've changed the issue title to more accurately represent the situation. Turns out it's not as bad as 1.5-2x increase (as was originally noted).

[2018-03-12 22:06] saad-ali commented on #60861
Associated PR approved: https://github.com/kubernetes/kubernetes/pull/60962

[2018-03-12 22:09] saad-ali commented on #60766
PR https://github.com/kubernetes/kubernetes/pull/60899 approved

[2018-03-12 22:11] jberkus commented on #60882
Hey, this was removed from 1.10 because it was never updated.  Just want to make sure that this isn't a significant bug.

[2018-03-12 22:15] ixdy commented on #15639
/reopen

[2018-03-12 22:18] verult commented on #60764
Update: my hypothesis is the failure is due to PVC Protection going to beta this release. In 1.10, a PVC contains a PVC protection finalizer while a pod is using it. After cluster downgrade, this finalizer is no longer recognized, so the PVC can never be deleted.

[2018-03-12 22:18] verult commented on #60764
/cc @pospispa

[2018-03-12 22:23] jberkus commented on #60764
@krousey @krzyzacy I've pinged sig-apps and sig-storage.

However, that sounds to me like a bug in the test, not in the code.  I mean, PVCs aren't supposed to be deleted when their statefulset is dropped.  They are *supposed* to hang around.  Or am I misunderstanding the fail?

[2018-03-12 22:24] ixdy commented on #61029
This PR likely affects v1.10 as well. I have a fix out: https://github.com/kubernetes/kubernetes/pull/61068

[2018-03-12 22:24] #60992 closed

[2018-03-12 22:34] ixdy commented on #61029
Confirmed: this affects v1.10.0-beta.0 (trying https://dl.k8s.io/v1.10.0-beta.0/kubernetes-src.tar.gz):
[code]

Though applying my fix from #61068 reveals a different bug:
[code]

The issue then is that there are multiple tags matching that commit when it was built:
[code]

[2018-03-12 22:36] shyamjvs commented on #60589
Update: With the etcd fix in, the pod startup latency 99% still seems to be close to violating the 5s SLO. There is at least one other regression and I've gathered evidence that it's most likely in b/w runs 111 and 112 of our 5k-node performance job (see the bump b/w those runs in the graph I pasted in https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-370568929). Currently I'm bis

[2018-03-12 22:39] shyamjvs commented on #60589
ACK.  In progress
ETA: 13/03/2018
Risks: Can push release date if not debugged before that

[2018-03-12 22:39] andrewsykim commented on #61058
/sig node

[2018-03-12 22:40] ixdy commented on #61029
disregard the second part of my comment above (at least for now); v1.10.0-beta.1 has a more reasonable string:
[code]
(but it still demonstrates the original bug this issue mentions)

[2018-03-12 22:44] verult commented on #60764
/cc @caesarxuchao @childsb @jsafrane

If my hypothesis is correct, this is a real 1.10 -> 1.9 downgrade issue.

[2018-03-12 22:48] tpepper commented on #61029
@kubernetes/sig-release-bugs we need a sig lead to status/approved-for-milestone here

[2018-03-12 22:51] verult commented on #60764
Sorry @jberkus didn't see your comment until now. The test is failing because it got stuck waiting for namespace (and all of the associated namespaced resources, including PVC) to be deleted as part of the cleanup routine.

[2018-03-12 22:52] krzyzacy commented on #61029
/status approved-for-milestone
sure, good to be fixed :-)

[2018-03-12 23:00] jberkus commented on #60764
Oh, got it, and then there's the protection.

So, this sounds like a real bug, but not a release-blocker?  PVC protection isn't on by default, is it?

[2018-03-12 23:02] tpepper commented on #61029
@kubernetes/sig-release-bugs aaaaaand priority increased and re-added to milestone....

[2018-03-12 23:04] verult commented on #60764
It's in beta for 1.10, so it's on by default unfortunately. But do we handle beta features differently?

I'll look into other tests as well to verify my hypothesis. It's interesting other tests (like the PersistentVolumeUpgradeTest) didn't catch this problem.

[2018-03-12 23:07] jberkus commented on #60764
No, I mean is it on by default for all PVCs?

[2018-03-12 23:07] jdumars commented on #60764
I'd like some more opinions on this. If it's on by default and usage-impacting, I am inclined to consider it release-blocking. Either way, we need all hands on deck for this ASAP.

[2018-03-12 23:15] verult commented on #60764
I'm not familiar enough with the feature to say for certain, but I believe it's on by default for all PVCs. @childsb @jsafrane could you verify?

[2018-03-12 23:17] #60861 closed

[2018-03-12 23:30] ixdy commented on #61029
/priority critical-urgent

[2018-03-12 23:34] #36729 closed

[2018-03-12 23:34] #31686 closed

[2018-03-12 23:39] verult commented on #60764
The PersistentVolumeUpgradeTest failed with the same error:
[code]

I'm not sure if this is something that could be fixed in Kubernetes core. Question for sig/cluster-lifecycle: what's the usual solution for migration API objects from one version to another, and if such solution exists, does it live in the kubernetes/kubernetes repo? i.e. is it a release blocker?