[2019-04-05 09:49] Myridor opened #76187 "HPA not scaling down after pods failed to start"
**What happened**:
HPA is not scaling down with 0% usage after pods failed to start (while having high usage) due to insufficient cpu

**What you expected to happen**:
HPA scaling down

**How to reproduce it (as minimally and precisely as possible)**:
- Use simple cluster and the php-apache example
- Asign more CPU/MaxPods than possible
- Do the test until some pods cant start due to insufficient

[2019-04-05 09:51] Myridor commented on #76187
/sig autoscaling

[2019-04-05 10:21] gprashanthkumar commented on #71130
/close

[2019-04-05 10:21] #71130 closed

[2019-04-05 10:55] neolit123 commented on #76155
/remove-kind bug
/triage support
/sig cluster-lifecycle
/sig cli

for kubeadm you need to use:
`imageRepository: ...."
under ClusterConfiguration:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

the kubelet needs a flag:
`--pod-infra-container-image ....`
from kubeadm it can be set using this:

[code]
https://kubernetes.io/docs/setup/independent/kubelet-integration/#the-k

[2019-04-05 10:58] leogr commented on #68321
Same issue with minikube (Server version v1.14.0) and a CPU intensive Node JS app.
Trying `kubectl -n kube-system log coredns-XXX-XXX` I get a lot timeouts as like as the followings:
[code]

[2019-04-05 10:59] neolit123 commented on #76146
/triage support
/remove-kind bug
/sig cli

[2019-04-05 11:18] skpundi commented on #74262
I have the same issue on **Ubuntu 16.04**, **kubernetes 1.14.0**

I have created maser and slave VM nodes on Openstack ( These VMs are behind corporate proxy and 10.0.0.0 is a private network. These VMs are accessed by assiging FIP)

kubeadm init --pod-network-cidr=10.0.0.0/24 --apiserver-advertise-address=10.0.0.23

kube-apiserver is failing to start and throwing below error. All other containers

[2019-04-05 11:29] #65847 closed

[2019-04-05 12:10] mborsz commented on #76183
/assign

In logs I see a series of requests that were stuck for 1m. All of them are using resourceVersion!=''

[code]

[2019-04-05 12:16] wojtek-t commented on #75833
We've spent significant time with golang folks and already have some findings.
To summarize:
- the microbenchmark from #76080 enabled Go team to find some regression on their side - the faulty commit from golang is: 07e738ec32025da458cdf968e4f991972471e6e9
- to cite Go folks: "To summarize the change: I removed the "fast" path for small page-level allocations (which currently always need to acquir

[2019-04-05 12:29] mborsz commented on #76183
While usually we are receiving many /api/v1/nodes/X?resourceVersion=0 requests per second there are no such requests between 08:12:57.991237 and 08:13:34.152911. The requests at 08:13:34.152911 started getting 429 and 504 (after 1m).

In the meantime, other requests (e.g. POST events, GET /api/v1/services?resourceVersion=0) works well.
It looks like all pods/nodes requests going to the cache got s

[2019-04-05 12:56] liggitt commented on #74415
I wouldn't anticipate a server-side API being added for this. A layer on top of informers that allows adding/removing watches of specific namespaces could be done client-side.

[2019-04-05 13:08] agolomoodysaada commented on #67577
<img width="1423" alt="Screen Shot 2019-04-04 at 3 54 00 PM" src="https://user-images.githubusercontent.com/29459870/55629839-3353b680-5782-11e9-8dff-d57a2ae937cb.png">
Thought I would share a graph of an application consistently throttled throughout its lifetime.

[2019-04-05 13:10] mborsz commented on #76183
To be exact: only two object types are affected by this issue: pods and nodes.
For pods last successful GET before 429 was:
[code]

Then, at 08:13:54.304712 we start serving 504 after 1m timeout.
[code]

So between 08:12:54.268563 and 08:12:54.304712 something must have happened that all further cached GETs are blocked.

The same pattern happens for nodes:
Last successful request
[code]
and first

[2019-04-05 13:14] mborsz commented on #76183
grep 'queued in incoming channel' kube-apiserver.log:

[code]

The incoming channel has capacity of 100, so it seems like the channel was slowly (O(seconds) for pods) filling up and at some point it become full and blocked delivering further events.

[2019-04-05 13:15] vsxen commented on #76186
check kube-proxy log & iptables rules in the node.

[2019-04-05 13:25] mborsz commented on #76183
The only change in that area I can find is https://github.com/kubernetes/kubernetes/pull/75547, but I can't see how it can trigger such behavior.

[2019-04-05 13:32] mborsz commented on #76183
My understanding is that all GETs are waiting for the lock here:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go#L292
while the lock is hold by w.processEvent:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go#L252
which tries to call w.onEvent (in our case processE

[2019-04-05 13:37] wojtek-t commented on #76183
This seems really strange - I don't know why this could happen, but I'm fine with reverting to see if that will help.

[2019-04-05 13:42] ncdc commented on #75886
/sig api-machinery
cc @deads2k @liggitt @sttts

[2019-04-05 13:54] mborsz commented on #76183
In fact I think that #75547 indeed caused the regression, see: https://github.com/kubernetes/kubernetes/pull/75547#pullrequestreview-223287473

[2019-04-05 14:24] wuestkamp commented on #75565
There are quite a few of issues about high CPU when using Kubernetes for local development:

https://github.com/docker/for-mac/issues/2601
https://github.com/docker/for-mac/issues/3065

Could these have something todo with this ticket?

[2019-04-05 14:29] chiluk commented on #67577
What kernel was this on?

[2019-04-05 14:30] gnufied commented on #76158
I think current motivation is - world writable directories are simply being flagged by linux security scanners (https://secscan.acron.pl/centos7/1/1/21). I agree that, parent directories are still restricted to root and hence a uncontained user can not access the world-writable directory.

[2019-04-05 15:06] lelabo-marc commented on #73297
I hope to see the associate PR merged soon, we discovered that NLB provide much more performances with Gunicorn for handling a large amount of request / secs.

[2019-04-05 15:27] vladimirvivien commented on #76041
Duplicate of #75838

[2019-04-05 15:27] #76041 closed

[2019-04-05 15:51] nerusnayleinad opened #76202 "hostpath Volume leads to unmanaged/orphan PV"
Remember when back in the days we needed to create a Persistent Volume before creating the Pod, as otherwise we would get an error? Well, it seems that now you can create a Pod with a hostPath volume without creating the PV first, which, I think, can lead to scary scenarios.

For example:

[code]

Given the Pod above, if I create it, it won't through any error. If SSH into the pod, or node, the pa

[2019-04-05 15:55] nerusnayleinad commented on #76202
sig/node
sig/storage

[2019-04-05 16:08] Ashraf-Hassan commented on #76147
I cannot find any directory there with the name of :  6db22ad086cc13a18bf0bd00eeaf6e05
What should I do?
# ls -al /var/lib/docker/containers/
total 100
drwx------. 25 root root 4096 Apr  4 17:07 .
drwx--x--x. 15 root root 4096 Mar 12 13:26 ..
drwx------.  4 root root 4096 Mar 22 20:28 1dbefe80f7880285a02e28e9f1c8703bb65c8e8cc2c7742e442c4169ee50bd52
drwx------.  4 root root 4096 Mar 12 13:58 2d6e88

[2019-04-05 16:12] neolit123 opened #76204 "[sig-apimachinery] removal of an aggregated client from the e2e test framework"
please mind that this is more of a question/proposal.

in the e2e testing framework we import an aggregated clientset from here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/framework.go#L49

the only consumer of this client is this conformance test:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apimachinery/aggregator.go#L80

the k8s testing commons grou

[2019-04-05 16:12] neolit123 commented on #76204
/remove-kind feature
/kind design

[2019-04-05 16:18] NeilW opened #76205 "Cloud-controller-manager won't build for out-of-tree external providers"
**What happened**:

panic: failed to find flag in global flagset (flag): cloud-provider-gce-lb-src-cidrs

goroutine 1 [running]:
k8s.io/component-base/cli/globalflag.Register(0xc0000ba900, 0x17df195, 0x1f)
	/home/neil/Go/pkg/mod/k8s.io/component-base@v0.0.0-20190405092941-79a63e28c077/cli/globalflag/globalflags.go:66 +0x1a9
k8s.io/kubernetes/cmd/cloud-controller-manager/app.NewCloudControllerManag

[2019-04-05 16:18] timothysc commented on #76204
/assign @sttts

[2019-04-05 16:18] NeilW commented on #76205
/sig cloud-provider

[2019-04-05 16:26] andrewsykim opened #76206 "Refactor and clean up e2e framework utils"
As an initial step for https://github.com/kubernetes/kubernetes/issues/75601, we agreed to refactor & clean up miscellaneous utils code under `test/e2e/framework/*`. This is a tracking issue to go through each utils file and do the following:
* clean up any code that is unused or is safe to remove
* clean up any code that can be consolidated with existing libraries
* should be moved into it's own

[2019-04-05 16:30] neolit123 commented on #76206
/area e2e-test-framework

[2019-04-05 16:35] andrewsykim commented on #76206
Feel free to comment which files you'd like to take and I'll assign it you in the issue description

[2019-04-05 16:46] draveness commented on #76206
I want to take the files below. :)

[code]

[2019-04-05 16:49] neolit123 opened #76207 "[sig-auth] question about IsRBACEnabled in the e2e testing framework"
in the e2e testing framework we have an auth utility function IsRBACEnabled:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/authorizer_util.go#L137

in the testing commons meeting today @timothysc proposed that we might want to refactor this utility.

**a question** related to this code and the e2e testing framework is - should we fail immediately when the framework starts

[2019-04-05 16:49] neolit123 commented on #76207
/remove-kind feature

[2019-04-05 17:06] agolomoodysaada commented on #67577
@chiluk "4.15.0-1037-azure"

[2019-04-05 17:07] alejandrox1 commented on #76206
I'd like to take`test/e2e/framework/deployment_util.go`

[2019-04-05 17:16] pjh commented on #75421
@nagiesek I patched containernetworking/plugins#286 in to my plugins repo, built the plugins and made them available for our test nodes starting [yesterday evening](https://github.com/yujuhong/gce-k8s-windows-testing/pull/8). Looking at the [testgrid](https://testgrid.k8s.io/google-windows#windows-gce&width=20) this morning, the most recent [run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/log

[2019-04-05 17:19] pjh commented on #75421
For future reference, I've saved the [commands](https://github.com/pjh/kubernetes/blob/5041724c7fb0545d67937efe8a0d08b0e06254d7/README-HNS-trace-commands.txt) that I used to start the trace, run the e2e tests, then stop the trace as soon as the tests complete.

[2019-04-05 17:20] stevesloka commented on #76206
I can take:

[code]

[2019-04-05 17:24] drewwells commented on #46381
`kubectl config merge` would be easier to remember. First class support would be nice even though the workaround is clever

[2019-04-05 17:40] neolit123 commented on #76207
xref https://github.com/kubernetes/kubernetes/issues/76207

[2019-04-05 17:42] liggitt commented on #76207
some places use it to conditionally run tests that depend on being able to dynamically modify authorization rules

no, RBAC is not a required feature

[2019-04-05 17:44] timothysc commented on #76207
Thx @liggitt !

k, then we should just refactor what is there per our conversation this morning.

[2019-04-05 17:45] neolit123 commented on #76207
ok, i will close this Q ticket as we have another for tracking the util rework.

[2019-04-05 17:45] #76207 closed

[2019-04-05 17:49] MrHohn commented on #75189
@stafot Sorry, adding a couple more questions to understand the issue better.

What was the exact reason this node was marked as not ready? Was it just starting up or turned into not ready from a healthy state? AFAIK kube-proxy being not healthy would not affect the state of the node at all, so there might had been other issues.

And what was the state of kube-proxy? When kube-proxy pod failed kub

[2019-04-05 17:50] wangzhen127 opened #76209 "Use Node-Problem-Detector v0.6.3 on GCI"
Node-Problem-Detector recently has a new release [v0.6.3](https://github.com/kubernetes/node-problem-detector/releases/tag/v0.6.3). This release fixed a bug in NPD v0.6.0 (fix PR: https://github.com/kubernetes/node-problem-detector/pull/265). We need to use the new NPD version and cherry pick to release-1.10, release-1.11, release-1.12, release-1.13, and release-1.14 branches.

/sig node
/sig gcp

[2019-04-05 17:51] wangzhen127 commented on #76209
/assign @wangzhen127

[2019-04-05 17:53] yuwenma opened #76210 "Enhance klog to split up the log files when it grows to 1.8GiB"
**What happened**:
klog supports "log-file" flag to specify the log file path. However, this log file doesn't support chunks. That's to say, when the size of the log file reaches 1.8GiB, the older logs are truncated. See details in [PR76190](https://github.com/kubernetes/kubernetes/pull/76190).

**What you expected to happen**:
We want to keep all the log messages. If the log file goes too large,

[2019-04-05 17:54] yuwenma commented on #76210
@kubernetes/sig-release
@kubernetes/sig-scalability

[2019-04-05 17:58] dims commented on #76210
@yuwenma wanna create a mirror issue in https://github.com/kubernetes/klog ?

[2019-04-05 18:00] DirectXMan12 commented on #67221
there's a correct webhook config in #76107 (it appears to be the underlying cause, and I've narrowed it down to the lines in question, AFAICT, with some carefully placed panics)

[2019-04-05 18:02] DirectXMan12 commented on #75113
It seems like it could be a potential foot-gun, but it's not super-unreasonable -- I think it's probably worth discussing in a meeting (or here) a bit more.

[2019-04-05 18:16] tallclair commented on #76210
Do we want to build logrotation into klog, or continue to rely on logrotate? If the former, maybe look into https://godoc.org/gopkg.in/natefinch/lumberjack.v2. If the latter, then klog needs to somehow recognize that the rotation has happened, and reopen the new file (any idea how this works in bash?).

[2019-04-05 18:44] freehan commented on #75660
Disabling the test in 1.12, 1.13 branches
https://github.com/kubernetes/kubernetes/pull/76212
https://github.com/kubernetes/kubernetes/pull/76214

[2019-04-05 18:44] zhouhaibing089 commented on #59591
Proposing this: https://github.com/kubernetes/kubernetes/pull/76213.

cc @liggitt @lavalamp

[2019-04-05 19:19] chiluk commented on #67577
So that doesn't contain kernel commit 512ac99.  Here's the corresponding
source.
https://kernel.ubuntu.com/git/kernel-ppa/mirror/ubuntu-azure-xenial.git/tree/kernel/sched/fair.c?h=Ubuntu-azure-4.15.0-1037.39_16.04.1&id=19b0066cc4829f45321a52a802b640bab14d0f67

Which means you might be hitting the issue described in 512ac99.  Keep in
mind that 512ac99 brought other regressions for us.

On Fri, Apr

[2019-04-05 19:27] namsral commented on #74971
This is still an issue and not related to OpenStack by the way.

[2019-04-05 19:37] #70656 closed

[2019-04-05 19:40] wojtek-t commented on #76183
I also believe that this should be fixed now. Let's leave it open to monitor this until next runs.

[2019-04-05 19:41] wojtek-t commented on #76182
Given what debugging happened in  #76183 I tend to believe that this is the same issue.

[2019-04-05 20:13] #76166 closed

[2019-04-05 20:44] janetkuo commented on #70685
Thanks all for reporting this. Would you mind providing more details? For example, the output of `kubectl get job <name of the job you expect to be GC'd> -o yaml -n <namespace name>`.

[2019-04-05 20:49] dcbw commented on #71305
@thockin simple answer is to run the host's iptables binaries.

[2019-04-05 20:57] Doqnach commented on #70685
Could it be that I have quotes around the feature-gate?

Also: https://github.com/kubernetes/minikube/issues/3805

[2019-04-05 21:01] janetkuo commented on #74741
It looks like the Jobs are cleaned up, but their Pods aren't garbage collected with them. I wonder if those Pods have finalizers set on them.

@dcvtruong did you see finalizers being set in those Pods' `metadata`? Do they have `metadata.deletionTimestamp` set?

[2019-04-05 21:04] dcbw commented on #71305
I read a bit more of the bug here. Is the core problem that the IPVS proxy specifically is using ipset, which has some specific integration with iptables, but when the host has iptables-nft as the iptables binaries that causes problems?

My iptables/nftables people say that ipset + iptables-nft should work correctly...

What iptables-nft/iptables-legacy versions are people using here that have the

[2019-04-05 21:21] dcbw commented on #71305
@thockin this issue has way too many things in it. The first comment's bug (can't initialize iptables table `nat': Table does not exist (do you need to insmod?)) I believe was some months ago already.

[2019-04-05 21:41] anusha-ragunathan opened #76217 "Driver: iscsi tests fail due to ISCSIServer errors"
**What happened**:
Executing kube-e2e tests specific to `[Driver: iscsi]` fails consistently due to ISCSIServer not running. This is because, [`StartVolumeServer`](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/volume_util.go#L362) declares ISCSIServer as failed, because a specific log message was not found in the logs.
The expected log message is:
`Configuration restored

[2019-04-05 21:42] thockin commented on #76158
Changing to require fsGroup would be a breaking change.  It would need a lengthy transition period

[2019-04-05 21:42] anusha-ragunathan commented on #76217
/sig storage

[2019-04-05 21:43] M00nF1sh commented on #73297
Hi, sorry for late update, I will push some internal forks to get this merged :D

[2019-04-05 21:44] anusha-ragunathan commented on #76217
cc @mkumatag, contributor for https://github.com/kubernetes/kubernetes/blob/master/test/images/volume/iscsi/saveconfig.json#L25

cc @ddebroy

[2019-04-05 21:48] anusha-ragunathan commented on #76217
straces while running `targetcli restoreconfig` https://github.com/kubernetes/kubernetes/blob/93c990d7081bdc9de543e828ba0772cb231dbeab/test/images/volume/iscsi/run_iscsid.sh#L27 with https://github.com/kubernetes/kubernetes/blob/master/test/images/volume/iscsi/saveconfig.json#L25 optimal_sectors set to:
1. 8K - passes
2. 16K - throws 1 recoverable error.

[strace8k.txt](https://github.com/kubernet

[2019-04-05 22:09] apelisse opened #76219 "Server-side apply protobuf serialization performance issue"
Context
======
 Kubernetes 1.14, ServerSideApply feature enabled on kube-apiserver.

Introduction
=========

Server-Side Apply (SSA) seems to be triggering a performance issue on protobuf serialization of objects, specifically while serializing the new `managedFields` recursive map. We detected the problem because the scalability tests mostly indicated problems in LISTing objects (pods and nodes),

[2019-04-05 22:10] apelisse commented on #76219
/sig api-machinery
/cc @smarterclayton @liggitt @jennybuckley @lavalamp @wojtek-t @kubernetes/sig-scalability-bugs

[2019-04-05 22:13] 2rs2ts commented on #66312
We can repro this with k8s 1.13.2 and etcd 3.3.5 by just doing a xen shutdown on our etcd VMs. apiserver completely hangs on everything until the node is restored

[2019-04-05 22:17] lavalamp commented on #76219
Thanks for the exhaustive write up!!

[2019-04-05 22:24] janetkuo commented on #70685
Feature `TTLAfterFinished ` needs to be enabled for both API server and controller manager. To verify whether it's enabled, check the beginning of both apiserver log and controller-manager log and look for `TTLAfterFinished` to see if the feature gate is enabled.

[2019-04-05 22:37] neolit123 commented on #75601
@alejandrox1 dug up a great refactor that we can apply:
https://github.com/kubernetes/kubernetes/issues/34059

the non-annotated assets are far from ideal.

[2019-04-06 00:40] nagiesek commented on #75421
Pleased to see the traces are smaller than I expected. Doesn't look like the error appeared in the manual run. I'm running some tests locally, so I'll update once I get some results from that.

[2019-04-06 00:42] janetkuo commented on #74469
cc @k82cn

[2019-04-06 01:06] #75419 closed

[2019-04-06 01:13] mkumatag commented on #76217
I didn't do anything other than refactoring.! @jsafrane can ptal into this issue?

[2019-04-06 01:16] mkumatag commented on #76217
/cc @jsafrane

[2019-04-06 02:14] smarterclayton commented on #76219
We should only ever be calling MarshalTo (which should never call size).  Is there something in the middle flipping to Marshal()?

[2019-04-06 02:15] smarterclayton commented on #76219
Jordan says MarshalTo is calling Size on children - it shouldn’t be.

[2019-04-06 02:20] smarterclayton commented on #76219
I would have to look later but Size should never be called ever within MarshalTo.  We have AST rewrites for embedded generators - maybe that accidentally started doing this at some point rather than what it was supposed to do.

[2019-04-06 02:23] andreykaipov commented on #74886
I also came across this when I manually tried to apply the manifests. To save the next person some time - I got this to work by removing the `addonmanager.kubernetes.io/mode: Reconcile` and `kubernetes.io/cluster-service: "true"` labels from each resource.

I'm guessing the addons in this repo are meant to be used when bootstrapping your own cluster and not using a managed service like GKE. The ad

[2019-04-06 02:25] apelisse commented on #76219
I don’t see how it would not be called? The size of each structure has to be marshaled before the marshaled structure itself. And it can’t wait to see how big the marshaled data is because it uses varint so it doesn’t know where the data should be written.

[2019-04-06 02:25] liggitt commented on #76219
it's done that since the first version we used proto:

https://github.com/kubernetes/kubernetes/blob/release-1.3/pkg/api/v1/generated.pb.go#L5106-5136

[code]

and every child MarshalTo method does the same

[2019-04-06 02:32] smarterclayton commented on #76219
Ah, because we didn’t inline the embedded structs but instead modeled them as messages when we didn’t have to.

[2019-04-06 04:25] smarterclayton commented on #76219
It’s amazing we got this far.

We already have to modify objects during serialization (gvk).  If we’re careful, I think we can get away with inline memoizing.  I’m slightly worried about the cost implications in memory use for smaller structs though.

We should definitely add a much larger nested object to the serialization and conversion and copy benchmarks.  We relied on fuzzing before but a cra

[2019-04-06 05:43] Coderhypo commented on #76147
can you run `ls -al /var/log/pods`, and find 6db22ad086cc13a18bf0bd00eeaf6e05?
I guess this linked a container log file that deleted by docker, but need to verify

[2019-04-06 06:19] 11janci commented on #73360
Just to clarify: AFAIK the pods' IPs are created based on the podCIDR config parameter (that comes from the master) and not the host's IP. Also, containers share the pod's IP. So if your containers got an IPv4 address, it came from the podCIDR param from master.
So to fix the insufficient sanity checking, there needs to be a comparison of IP versions of podCIDR vs the host's IP, am I correct?

[2019-04-06 08:03] jiatongw commented on #76206
I can take `gpu_util.go` and `upgrade_util.go`

[2019-04-06 08:05] jiatongw commented on #76206
@andrewsykim how about we create a `utils/` folder under `framework/` folder,  and move most of the files end with `_util.go` into `utils` folder?

[2019-04-06 10:12] WeihanLi commented on #64924
I've also had this problem. In my case,  it only happened on `alpine` based image, it works on `Debian` based image

![image](https://user-images.githubusercontent.com/7604648/55668083-1f4da900-5897-11e9-8c0c-1f818d082ad4.png)

[2019-04-06 10:42] fabiorauber commented on #64924
Solved this in Ubuntu 18.04 hosts by upgrading the kernel from 4.15 to 4.18. Now all my Alpine-based Pods have no trouble solving DNS names.

[2019-04-06 10:59] neolit123 commented on #76210
/sig architecture

[2019-04-06 12:54] #68672 closed

[2019-04-06 13:58] danwinship commented on #71305
The bug is "with iptables >= 1.8, the host and all containers have to use the same iptables mode or things won't work". Other comments may or may not be relevant to that.

Yeah, but how simple is that? It's not just a matter of mounting /usr/sbin/iptables into your container, because that's a symlink to something else. Is just mounting in all of /usr/sbin enough, or do you need to mount in /lib64

[2019-04-06 15:53] liggitt commented on #68577
https://github.com/kubernetes/kubernetes/pull/74877 is merged and kubernetes/kubernetes vendoring is now managed using go modules

/close

[2019-04-06 15:53] #68577 closed

[2019-04-06 15:54] liggitt commented on #63607
addressed in https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md and https://github.com/kubernetes/kubernetes/pull/74877

/close

[2019-04-06 15:54] #63607 closed

[2019-04-06 15:55] liggitt commented on #44873
addressed in https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md and https://github.com/kubernetes/kubernetes/pull/74877

/close

[2019-04-06 15:55] #44873 closed

[2019-04-06 16:36] mattjmcnaughton commented on #75113
/unassign

@DirectXMan12 that makes a lot of sense, thanks for weighing in!

@rochaporto if this is still of interest to you, do you mind starting discussions with sig-autoscaling? I think that slack could be a good place.

Still happy to implement this if we decide we want it, but sounds like some discussion could be useful first :)

[2019-04-06 16:57] mattjmcnaughton commented on #75935
Thanks for thinking proactively about test coverage :)

At a high level, I'd love to chat about what types of tests (unit, integration, e2e...) are appropriate for each of these, re my comment here: https://github.com/kubernetes/kubernetes/pull/76129#pullrequestreview-223548067.

[2019-04-06 16:58] #66022 closed

[2019-04-06 17:10] towolf commented on #72342
@danielqsj

What about these?

- `apiserver_admission_step_admission_latencies_seconds_bucket`
- `apiserver_admission_step_admission_latencies_seconds_summary`
- `apiserver_admission_webhook_admission_latencies_seconds_bucket`

[2019-04-06 18:07] #75706 closed

[2019-04-06 22:57] jbeda commented on #59113
FWIW -- this hit me and it was very confusing. What it looks like happens now (at least with kubectl v1.14.0 against v1.12.6-gke.10 is that the entire annotation map is not updated.  No error is returned from kubectl.

[2019-04-06 22:57] jbeda commented on #70962
For those hitting this via google -- this is a dup of https://github.com/kubernetes/kubernetes/issues/59113

[2019-04-07 00:15] aleozlx opened #76231 "Missing stdout from PyO3"
**What happened**:

A rust program invoking Python function thru PyO3 received no printout from Python side of the code.

[code]

**What you expected to happen**:

Same result as running the container standalone.
[code]

**How to reproduce it (as minimally and precisely as possible)**:

Find the example yml from the following URL and kubectl create -f.
https://github.com/aleozlx/sturdy-engine/tree

[2019-04-07 01:06] #70261 closed

[2019-04-07 02:24] ibuildthecloud opened #76232 "Kustomize in kubectl should be marked experimental, CLI process gap"
There seems to be some major gap in the adoption process of CLI features.  I do not follow SIGs or kubernetes PRs closely, which puts me in the same category as 99.9% of your users. One of the nice outcomes of the k8s alpha/beta/GA graduation is that users have the ability to try and comment on features before they become GA and they don't need to track the development of k8s or be a member of SIG

[2019-04-07 02:31] WeihanLi commented on #64924
After upgrade the kernel to latest(5.0.7-050007-generic), the problem still exists

[2019-04-07 03:25] christopherhein commented on #76232
/sig cli

[2019-04-07 03:49] pontiyaraja commented on #75935
@mattjmcnaughton please refer my comment https://github.com/kubernetes/kubernetes/pull/76129#issuecomment-480556675

[2019-04-07 04:00] draveness commented on #76206
I checked the job_util and rc_util files and found out there are many generic functions like:

[code]

At first, I thought I could put these methods into `util.go`. However, it's a file with more than 5,000 lines of code. My question is do we need a new place to put these generic functions or just move these functions into `util.go`. And I do think it's going to be hard to maintain such a huge fil

[2019-04-07 04:03] k82cn commented on #74469
/assign

[2019-04-07 04:09] #52847 closed

[2019-04-07 04:12] k82cn commented on #74469
@zrss , did you try latest version of k8s? We did several enhancements after v1.9.10.

[2019-04-07 06:11] #69849 closed

[2019-04-07 06:11] #69668 closed

[2019-04-07 06:11] #69833 closed

[2019-04-07 06:11] #70284 closed

[2019-04-07 06:11] #70653 closed

[2019-04-07 06:11] #67592 closed

[2019-04-07 06:11] #68078 closed

[2019-04-07 06:11] #68326 closed

[2019-04-07 06:11] #68732 closed

[2019-04-07 06:26] mkumatag opened #76234 "Unit tests failure in vendor/k8s.io/apiserver/pkg/storage/tests"
**What happened**:

Unit tests are failing with the latest golang(1.12)
[code]

**What you expected to happen**:
Tests should pass without any fauilures.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):

[2019-04-07 06:26] mkumatag commented on #76234
/sig api-machinery

[2019-04-07 06:33] amstallion93 commented on #74262
I had the same issue with Ubuntu 18.04 and Kube 1.14.0 . Setting the advertised-address to 0.0.0.0 rather than specifying my machines IP address resolved the issue . Thanks a ton for the comment.

[2019-04-07 07:12] #58693 closed

[2019-04-07 07:12] #70644 closed

[2019-04-07 07:15] rgembalik commented on #65879
@PierrePIRONIN Unfortunately I didn't. We had some updates, in the meantime, now sitting on kubernetes `1.11.2` and Docker `18.x`, so for me, the issue morphed a bit, as kubelet still complains about not being able to unmount the path, but I can manually umount those paths. The issue is still annoying as there are regularly config maps, that needs manual `umount`.

It might be closely connected to

[2019-04-07 08:12] mkumatag opened #76236 "Unit test failure: k8s.io/kubernetes/pkg/registry/storage/csidriver/storage.TestUpdate"
**What happened**:

Fails with the following error:
[code]

In the testcase we are trying to update the immutable field which is wrong, that is happening because of invalid parameter passed to `test.TestUpdate` need to fix by sending `update update` followed by `invalid update`

**What you expected to happen**:
Test should pass
**How to reproduce it (as minimally and precisely as possible)**:

**A

[2019-04-07 08:12] mkumatag commented on #76236
/sig storage

[2019-04-07 12:54] kvaps commented on #69528
/remove-lifecycle stale

[2019-04-07 12:59] anguslees commented on #75886
A version check cannot be used as a security mechanism since it trusts whatever version the client declares - a malicious client would just lie about the version.  Specifically, this would _not_ help with CVE-2019-1002100 (malicious json-patch).

There are also many other API clients out there, and kubectl is only one of them.  What does the "kubectl version" mean for kubecfg, for example?

A simp

[2019-04-07 15:12] zufardhiyaulhaq commented on #76075
This happens to me in kubernetes version 1.14.0.
I try to create with kubeadm and add another master node with kubeadm join. but its failed.

[code]

[2019-04-07 16:53] liggitt commented on #76236
How is CI passing on master if this is failing?

cc @kubernetes/sig-testing

[2019-04-07 17:00] liggitt commented on #76164
Endpoints object's without corresponding service objects are cleaned up by the endpoints controller. If you want to define endpoints manually (as you are doing for gluster), you must also create a service object with no selector.

See https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors for details

/close

[2019-04-07 17:00] #76164 closed

[2019-04-07 17:02] Constantin07 commented on #64924
I'm also having issue with Alpine (3.6.0) pods on Kubenetes  (v1.14.0) with Ubuntu 18.04.2 LTS Kernel 4.15.0-47-generic. Only removing `options ndots` helped. Thanks @Angelinsky7

Is there any option to get rid of  `options ndots` ?

[2019-04-07 17:22] mkumatag commented on #76236
@liggitt this test has a [skip in the beginning](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/storage/csidriver/storage/storage_test.go#L90:L93) if api version is not `v1beta1` which is set during the executing via [KUBE_TEST_API](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/testapi/testapi.go#L129) env. I really doubt about setting this env while running in th

[2019-04-07 17:44] kron4eg commented on #35941
/remove-lifecycle stale

[2019-04-07 18:23] #68809 closed

[2019-04-07 18:47] liggitt commented on #76236
Ah. We should not have unit tests like that. @kubernetes/sig-storage-test-failures can we remove the skips in tests like this and remove any dependency on the testapi package that forces this behavior? xref https://github.com/kubernetes/kubernetes/pull/69929#discussion_r232443959

cc @gnufied

[2019-04-07 20:26] liggitt commented on #76125
This is a new feature that requires an updated AWS sdk. New feature support is not backported to older releases of Kubernetes.

xref https://github.com/kubernetes/kubernetes/pull/73755#event-2251586934

/close

[2019-04-07 20:27] #76125 closed

[2019-04-07 22:27] #57916 closed

[2019-04-08 02:03] alejandrox1 commented on #75976
@msau42 thank you for the catch!
/close

[2019-04-08 02:03] #75976 closed

[2019-04-08 02:50] danielqsj commented on #72342
@towolf  metrics `*_admission_latencies_seconds_*` had been renamed to `*_admission_duration_seconds_*`. And these unit are all fixed to seconds by https://github.com/kubernetes/kubernetes/pull/72343 .

[2019-04-08 02:53] WanLinghao commented on #76206
I would like to take:
 test/e2e/framework/perf_util.go
test/e2e/framework/psp_util.go
test/e2e/framework/pv_util.go

[2019-04-08 03:06] josh1707 opened #76247 "Return total size of all matched data sets in LIST APIs responses"
**What would you like to be added**:
Return total size of all matched data sets when I call the API with "limit" and "continue".

**Why is this needed**
1. To count the total pages for pagination.
2. I should query all data to get the total size without the "total size" property.

[2019-04-08 03:12] josh1707 commented on #76247
@kubernetes/sig-api-machinery

[2019-04-08 03:16] zhangguanzhang commented on #75443
[root@k8s-m3 ~]# ipvsadm -ln
IP Virtual Server version 1.2.1 (size=4096)
Prot LocalAddress:Port Scheduler Flags
  -> RemoteAddress:Port           Forward Weight ActiveConn InActConn
TCP  172.16.1.7:31481 rr
  -> 10.244.0.4:80                Masq    1      0          0
  -> 10.244.3.3:80                Masq    1      0          0
TCP  10.96.0.1:443 rr
  -> 172.16.1.3:6443              Masq    1

[2019-04-08 03:26] josh1707 commented on #76247
/sig api-machinery

[2019-04-08 03:37] YoubingLi commented on #76094
I will work on it.

Both expected list and verified list are known in this case.
The code logic should be added to check the difference between expected and verified list.

[2019-04-08 03:39] tedyu opened #76248 "Use RWMutex for accessing plugins"
**What would you like to be added**:
Currently Mutex lock is acquired in plugins.go for accessing different maps.
Some functions only read map entry:
[code]
We can utilize RWMutex where the above function acquires read lock.

**Why is this needed**:
For concurrent calls to IsFitPredicateRegistered / IsPriorityFunctionRegistered, read lock would lower contention.

[2019-04-08 03:40] tedyu commented on #76248
sig/scheduling

[2019-04-08 03:47] tedyu commented on #76248
functions getFitPredicateFunctions, getPriorityFunctionConfigs and GetAlgorithmProvider can also use read lock.

[2019-04-08 03:53] Huang-Wei commented on #76248
I happened to raise #76245 earlier today.

Anyone can finish resting ones.

[2019-04-08 04:07] tedyu commented on #76248
Good to know, @Huang-Wei

[2019-04-08 04:13] Huang-Wei commented on #76248
Thanks for raising this @tedyu !

My PR #76245 covered `IsPriorityFunctionRegistered` and `GetAlgorithmProvider`. Feel free to raise another PR to cover others.

[2019-04-08 04:39] tedyu commented on #76248
Once #76245 is merged, I will send my PR

thanks

[2019-04-08 04:57] khaile commented on #74249
Getting the same issue on version 1.14.

[2019-04-08 05:18] Huang-Wei commented on #76248
@tedyu it's merged now.

[2019-04-08 05:36] fejta opened #76249 "Update apiserver to use more recent sigs.k8s.io/sturctured-merge-diff commit"
https://github.com/kubernetes-sigs/structured-merge-diff/pull/71/files#diff-51cdfee1244be54c41b34b0a4ccb3ecaR79 removed the ParseableType interface.

Attempting to do a minor upgrade of the kubernetes client will cause go modules to select the latest commit for both k8s.io/apiserver and sigs.k8s.io/structured-merge-diff -- `test-infra fejta$ hack/update-deps.sh --minor k8s.io/{api,apiserver,apimac

[2019-04-08 05:38] fejta commented on #76249
@kubernetes/sig-api-machinery-bugs

[2019-04-08 06:09] shinytang6 commented on #76172
hey @xiuqiaoli, can l ask what's the status of this? Can I try it?

[2019-04-08 06:14] wojtek-t commented on #76183
This seems to be fixed now.

[2019-04-08 06:14] #76183 closed

[2019-04-08 06:15] wojtek-t commented on #76182
i tend to think that it was exactly due to #76183 - given it has recovered, let's close this one.

[2019-04-08 06:15] #76182 closed

[2019-04-08 06:20] xiuqiaoli commented on #76172
@shinytang6 Hi, I am working on it and will create PR later today.

[2019-04-08 06:34] shinytang6 commented on #76172
@xiuqiaoli okay fine!

[2019-04-08 07:49] neolit123 commented on #74249
it usually means your kubelet is not healthy and you need to check the kubelet logs using journalctl.

[2019-04-08 07:50] peterrosell commented on #74689
I'm seeing the same behavior on my on-prem cluster. Took down a node for maintenance and had Prometheus from a statefulset (via Prometheus operator) running on that node. During that maintenance period Prometheus was stuck in _Terminating_. The node was off the whole weekend so it was terminating for over 2 days. Also had the grafana pod (stateless) running on a node that was down during the weeke

[2019-04-08 07:55] peterrosell commented on #72226
I guess this behavior will leave terminating pods forever if the node never gets back. When running preemptive VMs that come and go I can imagine that there can be a lot of terminating pods hanging around.

I also got the same problem as @srinathkotu with statefulset. added some info about that in #74689.

[2019-04-08 07:59] YoubingLi commented on #76094
#76253

[2019-04-08 08:00] PierrePIRONIN commented on #65879
@rgembalik Ouch :(

The same situation here but with Kubernetes 1.11.5 and Docker 17.03. We will try to update asap to Kubernetes 1.12.7 and Docker 18.06 (with @chrischdi configuration).

Do you plan to upgrade to Kubernetes 1.12 on your hand ?

[2019-04-08 08:07] rgembalik commented on #65879
@PierrePIRONIN We do, but it's more of a "We need to upgrade" sentence, rather than "We'll upgrade on <insert date here>". Mostly because upgrade requires node restart etc and to plan it is to schedule potentially a few hours of downtime, which we can rarely afford ;) But I think if we will, it'll jump through 1.12 and 1.13 to 1.14.

[2019-04-08 08:11] darkrasid commented on #63982
/reopen

Same issue :(
Is there any news?

[2019-04-08 08:11] darkrasid commented on #63982
Same issue :(
Is there any news?

[2019-04-08 08:12] PierrePIRONIN commented on #65879
@rgembalik Yes I understand, same here. The problem occurred on our production cluster so we need to upgrade smoothly :)

[2019-04-08 08:34] yanirq commented on #25625
We have an initial controller that performs node drain - server side using custom resources calls to the API inorder to perform the drain (cordon + evictions) :  [node-maintenance-operator](https://github.com/kubevirt/node-maintenance-operator).

I have noticed that several projects have done the same procedure of extracting the drain logic from kubernetes/cmd  and adjusting it to their need.
I ha

[2019-04-08 08:40] jsafrane commented on #76143
`kubectl delete pv --wait=false <name of the pv>`

By this you requested a PV to be deleted despite its volume is still present in your storage backend. Don't delete PVs if you want Kubernetes to delete them for you, just delete PVCs.

[2019-04-08 08:59] ZeroMagic opened #76258 "Extend the criStatsProvider to collect more metrics"
**What would you like to be added**:
Supplement some metrics into cri stats, such as network info, maxUsage of Memory, CPU scheduling related metrics, etc.

We will extend the cri interface, and add the definitions of monitoring data. Then modify the criStatsProvider.

**Why is this needed**:
With the development of security runtime, the metrics provided by cri stats currently are not enough for e

[2019-04-08 09:01] ZeroMagic commented on #76258
/sig node

[2019-04-08 09:03] ZeroMagic commented on #76258
/ping @Random-Liu @feiskyer @yujuhong

[2019-04-08 09:30] wojtek-t commented on #76219
@apelisse - thanks a lot for filing this, it's really useful.
I definitely agree that we need to add better cases to our benchmarks as a first step.

@smarterclayton - can you clarify? I think I'm not really following - depending on gvk we may serialize to completely different objects, so I don't really understand it.

[2019-04-08 09:50] paxatasadey commented on #73906
Thanks & after adding the tag into the node security group, we found the issue as resolved. Now the cleanup (SG along with the ingress rule deletion) is happening automatically with kubectl delete -f <something.yaml>. The tag to be updated as:
Key="kubernetes.io/cluster/<Cluster Name>", Value="shared"

[2019-04-08 09:54] mlmhl commented on #62096
/remove-lifecycle stale

[2019-04-08 10:18] Apokleos opened #76259 "cross-build broken again?...? ...build constraints exclude all Go files..."
cross-build broken Again in k8s-v1.14.0 ? I am not sure. but I am suffering it!

**What happened**:
When I try to compile k8s-v1.14.0's cmd/kubelet module, I got the ERROR, and the ERROR is same to #58106, the bug  fixed some time ago, Why it comes up again! I don't know why!
Error as below:
......
+++ [0408 16:50:40] Building go targets for linux/amd64:
    cmd/kubelet
vendor/github.com/google/ca

[2019-04-08 10:25] frost1990 commented on #75441
I have found the reason and got a solution：
`Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore

@frost1990
1
0 0 frost1990/leetcode_answers
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
leetcode_answers
/
1.txt
 chensui add 1.txt
354bdbd 6 days ago
31 lines (30 sloc)  1.78 KB

diff --git a/pkg/kubelet/kuberuntime/kuberuntime_manager.go b/pkg/kub

[2019-04-08 10:37] wildwolfeng opened #76261 "kube-dns seems not work as expected"
**What happened**:
Services can only be resolved IP address by `fully-qualified name`
**What you expected to happen**:
Service can be resolved correctly

**How to reproduce it (as minimally and precisely as possible)**:
following is what my environment looks like:
[code]

When I debuging my service accord to this page: https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/, I ra

[2019-04-08 10:42] wildwolfeng commented on #76261
@kubernetes/sig-network-bugs

[2019-04-08 10:50] xqqcoder opened #76263 "Limit Memory Emptydir size which mount on /dev/shm but df get the size always is half of machine"
**What happened**:
i use the sizelimit to limit memory emptydir size, but the size i use "df" to get always is half of machine, i try to change the machine /dev/shm ,but it has no use

the machine:
Filesystem                                                                                                 Size  Used Avail Use% Mounted on
/dev/sda2

[2019-04-08 11:24] kvaps commented on #65110
Same problem here on `v1.13.4`

[2019-04-08 11:27] danielsetreus commented on #64330
I'm gettings this issue today. Anyone have a solution for it?

[2019-04-08 11:54] OlegRakovitch commented on #72775
I am seeing the same behavior.
I have deployment with 1 replica
[code]
and HPA
[code]
When I change image it creates another pod and kills old one, than HPA decides to scale up and spin another pod. It might happen up to 3 times, so at the end I might find 4 pods running when I need only one.
I want to add to the story that image where this issue reproduces does cpu intensive operations on startup

[2019-04-08 12:05] Tushar120120 commented on #21111
Can we have a FAQ/trouble shooting section at the end of
https://kubernetes.io/docs/tutorials/stateless-application/guestbook/

There are so many ways to set up cluster and CNI, even if we can find it stackoverflow, many times we can not follow as it not applicable. If we do not use minicube, it is not clear how to get the URL.

[2019-04-08 12:22] flyer103 commented on #72593
This may indicate a generous problem of how `ReplicaSet` Controller handled with `Failed` Pods.
At present `ReplicaSet` will leave `Failed` Pods alone and create new Pods which results in as many `Failed` Pods as possible.

So the basic problem is whether `ReplicaSet` Controller should delete `Failed` Pods when syncing or when the number of `Failed` Pods exceeds `--terminated-pod-gc-threshold` of

[2019-04-08 12:50] mzyfree opened #76266 "Source Code Read Question: what is kube-proxy run method do?"
Forgive me.I do not have a google/facebook account logging in stackoverflow.
I have read the kube-proxy code,since i am new to golang.There is a question:
In kube-proxy code new a ProxyServer:
type ProxyServer struct {
	Client                 clientset.Interface
	EventClient            v1core.EventsGetter
	IptInterface           utiliptables.Interface
	IpvsInterface          utilipvs.Interface
	Ip

[2019-04-08 12:57] diemus commented on #42649
i think set the schedule to "0 0 29 2 0" at the same time can solve the problem

[2019-04-08 13:11] fanux opened #76267 "ipvs excludeCIDRs seems not work"
**What happened**:
When I config kube-proxy with excludeCIDRs, kube-proxy still try to delete my ipvs rules.

**What you expected to happen**:
kube-proxy not delete excludeCIDRs virturl server.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
kubeadm init --config=kubeadm-config.yaml --experimental-upload-certs

Then add a ipvs on node:
[code]
Then join the node, you can s

[2019-04-08 13:12] fanux commented on #76267
/sig network

[2019-04-08 13:14] saidmasoud commented on #68321
Just adding my anecdotal experience with this issue in case anyone else has the same problem. We experienced a large amount of `EAI_AGAIN` errors (k8s version 1.11.7) running kubedns. It turned out that a few bad deployments, whose pods kept looping on `CrashLoopBackError` (literally hundreds of times!) due to low mem limits were causing cascading DNS errors across all of our apps. After deleting

[2019-04-08 13:18] mattjmcnaughton commented on #76258
@ZeroMagic thoughts on whether it would be appropriate to create a KEP for this work? https://github.com/kubernetes/enhancements

It seems large enough that that could be helpful :)

[2019-04-08 13:23] smarterclayton commented on #76219
Objects are mutated by the serializer before they go to the wire because we
have to report gvk in json.  In Proto only the envelope type is changed
today.

On Apr 8, 2019, at 5:30 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

@apelisse <https://github.com/apelisse> - thanks a lot for filing this,
it's really useful.
I definitely agree that we need to add better cases to our benchmarks

[2019-04-08 13:25] neolit123 commented on #76259
/sig release

[2019-04-08 14:00] ChristopherLClark commented on #33664
@jgirdner it should be your build server doing it, and you should use replacement characters. it is a very common ci/cd process.

[2019-04-08 14:13] apelisse commented on #76249
Good catch, we'll fix it today!

[2019-04-08 14:23] dims opened #76269 "Find folks who have not been active in the past year in OWNERS files"
Using the script https://gist.github.com/dims/3261edf075660ad1bf5c338b8794c21b please see the following folks who we can (possibly?) move to emeritus as they have not been active in the project for the last year.

edit (cblecker): Please see up to date list here: https://github.com/kubernetes/kubernetes/issues/76269#issuecomment-536823168

[2019-04-08 14:23] dims commented on #76269
/sig contribex

[2019-04-08 14:25] dims commented on #76269
Looks like `MikaelCluseau` and `lixiaobing10051267` have either had their handles changed or their profiles were deleted

[2019-04-08 14:26] gregory-m commented on #76269
You can remove me. Thanks.

[2019-04-08 14:27] bswartz commented on #75535
My proposal to fix this is to relax the spec. Kubernetes already delete the directory if the SP violates the spec and leave the directory behind after nodeunpublish. Many (all?) SPs already check if the directory exists before creating it during nodepublish.

Thus we can make 2 relaxing changes to the CSI spec and escape from this problem without changing Kubernetes behavior at all:
1. Change the

[2019-04-08 14:27] dims commented on #76269
/assign @mrbobbytables

[2019-04-08 14:33] andrewsykim commented on #76206
@jiatongw IMO I don't think `test/e2e/framework/utils` directory is necessary, but let's see how the first few PRs go and see if adding it can be beneficial.

[2019-04-08 14:35] andrewsykim commented on #76206
@draveness for unexported functions I would recommend checking the callers of the function first, we may be able to fold those into fewer functions and from there it may be easier to decide where that code should live.

[2019-04-08 14:36] dims commented on #76269
related to https://github.com/kubernetes/community/issues/2878

[2019-04-08 14:40] andrewsykim commented on #76206
fwiw, I think functions like `newBool` are okay to duplicate

[2019-04-08 15:06] ubhide commented on #71435
I get the same response when trying to update the custom resource's 'status' sub-resource. On k8s v1.11.4

[2019-04-08 15:06] timothysc commented on #76269
Prune please, as the bots are not aware and sometimes signal can get lost.

[2019-04-08 15:21] kow3ns commented on #76081
/assign

[2019-04-08 15:23] kow3ns commented on #76081
/close You can't change the storage class of a persistent volume claim. The semantics of that would be undefined.

[2019-04-08 15:23] kow3ns commented on #76081
/close

[2019-04-08 15:23] #76081 closed

[2019-04-08 15:50] timothysc commented on #76204
@kubernetes/sig-api-machinery-test-failures

For feedback on this ^

[2019-04-08 15:56] kistora commented on #61625
Still waiting for a solution.

[2019-04-08 15:56] Ademord commented on #73111
As per [source](https://stackoverflow.com/questions/55417410/kubernetes-create-deployment-unexpected-schemaerror):

Which can be verified at: ❌
[code]
On Mac, you can run:
[code]
Then I applied my ```kubectl apply``` , which worked. 🎉

And now ✅
[code]

Hope this helps 😄

[2019-04-08 15:58] #75836 closed

[2019-04-08 15:58] #66538 closed

[2019-04-08 16:10] sttts commented on #76204
@timothysc I think moving the client construction to the test is fine. This is a very special purpose client anyway. I would avoid adding plumbing to the framework if it is only used in this one test.

[2019-04-08 16:14] stealthybox commented on #75426
/assign

[2019-04-08 16:15] jethrogb commented on #62366
/remove-lifecycle stale

[2019-04-08 16:28] idealhack commented on #76269
lixiaobing10051267 is @lixiaobing1 now

[2019-04-08 16:29] lavalamp commented on #63982
@darkrasid See [Jordan's comment](https://github.com/kubernetes/kubernetes/issues/63982#issuecomment-391500112) above.

Essentially, there are many ways to cause this that we would consider "user error": anything that causes the last-applied-state annotation to stop corresponding to the last version of your config file and the rest of the object as stored in the cluster could cause this.

It's pos

[2019-04-08 16:30] idealhack commented on #76269
and `MikaelCluseau` is now @mcluseau

[2019-04-08 16:31] lavalamp commented on #63982
Serverside apply (alpha now, hopefully beta in 1.15) will make it more difficult for things to get out of sync like this.

Serverside dry run--already available--can and should be used before using apply "for real" if you want to detect this before it happens.

[2019-04-08 16:45] pwittrock commented on #76232
Thanks for your concern.

Kustomize graduated to **Beta** after a lengthy pre-Beta process as a stand alone component, during which time, valuable feedback from real world users was solicited and acted upon.

- Kustomize had been available as a separate sig-cli downloadable binary for a year before being integrated into kuberctl and was seeing active adoption.
- Graduation criteria was defined 7 m

[2019-04-08 16:46] #76232 closed

[2019-04-08 17:01] nikhita commented on #76269
From the [discussion on slack](https://kubernetes.slack.com/archives/C1TU9EB9S/p1554733740118900):

We should prune/look for replacement for inactive owners. In case they need to be emeritus, comment their username out and mention that they are meant to be emeritus and should only be pinged in case of escalations i.e. they can be pinged for guidance but the actual approval would be carried out by

[2019-04-08 17:31] pohly commented on #75535
I agree with @bswartz. The drivers I work on now implement exactly this proposal, including the deletion during `NodeUnpublishVolume` and that works fine with Kubernetes.

[2019-04-08 18:00] from-nibly commented on #27114
We ended up building a sidecar container that fronts `liveness` and `readiness`. However if the main container restarts for some reason we have to reset the `haveBeenReadyAtLeastOnce` state. We use a `postStart` hook to call the sidecar container and let it know the current container it's monitoring is new.

This, however, is called on the first boot of the container as well. The side car is writt

[2019-04-08 18:05] cjcullen commented on #69689
GKE now supports expansion of Google Group membership for RBAC {Cluster}RoleBindings. There is a config you need to set on your GKE cluster; more info here: https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control#google-groups-for-gke

[2019-04-08 18:20] liggitt commented on #69689
thanks for the update

/close

[2019-04-08 18:20] #69689 closed

[2019-04-08 18:27] JieJhih commented on #75889
It seems like the ready pod or ``service.Spec.PublishNotReadyAddresses=true`` have Address field, the unready pod has NotReadyAddress. But formatEndpoints it just shows Address not consider pod ready or not.
https://github.com/kubernetes/kubernetes/blob/8a2f8e69ed0cfaae38cf7a40cc40b71a36ff319b/pkg/controller/endpoint/endpoints_controller.go#L495
https://github.com/kubernetes/kubernetes/blob/8a2f8e

[2019-04-08 18:38] andrewsykim commented on #75889
@JieJhih @benishak can you share the full service and endpoint resource (`kubectl get endpoints <endpoint> -o yaml`) after you've reproduced this problem? As @JieJhih mentioned, an endpoint that is not ready would still show up in the Endpoint resource but it would be listed under the `NotReadyAddresses` list.

[2019-04-08 19:34] lmunro-at-shopify commented on #75791
@caesarxuchao I think what's actually happening is due to the fact that kube-proxy does not truly loadbalance traffic.
It randomly assigns an endpoint to a connection (using iptables in this case).

I have noticed the api-server opening a fairly low number of long running connections to my own admission-controller. In one environment it was only 3 connections total, for a total of 3 pods running t

[2019-04-08 19:51] cmluciano commented on #76261
Please post some of the results from https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

/triage needs-information

[2019-04-08 19:52] cmluciano commented on #76261
/remove-label triage/needs-information

[2019-04-08 20:22] josdotso commented on #62479
I agree @MrHohn:

There's also the issue of IPv6-only:

[code]

[code]
Results in:

[code]

[2019-04-08 20:46] MrHohn commented on #62479
@josdotso Thanks for your report. Do you mind opening a new issue regarding IPv6 since the original issue was fixed? Thanks.

[2019-04-08 20:50] cpointner commented on #51017
/remove-lifecycle stale

[2019-04-08 20:51] josdotso commented on #62479
Sure. Thanks @MrHohn

[2019-04-08 20:53] anusha-ragunathan commented on #76217
Here's a simpler repro. Running the `iscsi` image pulled from gcr on my RHEL 7.5 system throws the ```Storage Object fileio/block: Cannot set attribute optimal_sectors: [Errno 22] Invalid argument, skipped```
error.

[code]

[2019-04-08 20:55] josdotso opened #76289 "kube-proxy: Issue with IPv6 bind addresses for metrics and healthz."
**What happened**: Kube-Proxy does not apparently understand IPv6 addressing for HealthzBindAddress and MetricsBindAddress.

**What you expected to happen**: Kube-proxy to start without issue, binding as requested to IPv6.

**How to reproduce it (as minimally and precisely as possible)**: See below.

**Anything else we need to know?**: I'm using kubeadm to test and I removed the IPv4 addresses fro

[2019-04-08 20:56] josdotso commented on #76289
/sig network
/kind bug

[2019-04-08 20:57] anusha-ragunathan commented on #76217
I'm using `RHEL-7.5_HVM_GA-20180322-x86_64-1-Hourly2-GP2 (ami-28e07e50)` AMI on AWS.

[2019-04-08 20:59] josdotso commented on #62479
@MrHohn  Please see: https://github.com/kubernetes/kubernetes/issues/76289

[2019-04-08 21:05] caesarxuchao commented on #76219
/cc @mbohlool @yliaog

[2019-04-08 21:06] caesarxuchao commented on #76247
See https://github.com/kubernetes/kubernetes/pull/75993

[2019-04-08 21:06] caesarxuchao commented on #76247
/assign

[2019-04-08 21:08] MrHohn commented on #76289
Thanks @josdotso, I remembered fixing this in https://github.com/kubernetes/kubernetes/pull/54191. I will take a stab to see why IPv6 address is not valid anymore.

/assign
/area ipv6
cc @leblancd @rpothier

[2019-04-08 21:13] josdotso commented on #76289
Thanks @MrHohn . Perhaps, the issue is that I'm using the config file way instead of the CLI args way? For that reason, perhaps this is an issue for kubeadm's validation of the config.

[2019-04-08 21:35] liggitt commented on #76249
We have a couple big vendor cleanups in flight (https://github.com/kubernetes/kubernetes/pull/76215 and https://github.com/kubernetes/kubernetes/pull/76291). Let's coordinate on a bump of this to avoid rebasing those if possible

[2019-04-08 21:36] jmcmeek opened #76292 "initContainer metrics not working on v1.12.7 or v1.13.5"
**What happened**:
`kubectl` top pods does not show pods having initContainers.  The `alb` pods below have an init container and are not shown `top pods`:
[code]

The metrics-server has log entries like
[code]
I see similar results for other pods having init containers.  Other pods are shown.

I see that kubelet `/stats/summary` is missing `usageNanoCores` for the init container.
[code]

**What yo

[2019-04-08 21:37] jmcmeek commented on #76292
/sig node

[2019-04-08 21:40] #76234 closed

[2019-04-08 21:48] dcvtruong commented on #74741
Hi @janetkuo, There are no metadata.deletionTimestamp set.

      metadata:
        annotations:
          kubernetes.io/limit-ranger: 'LimitRanger plugin set: cpu, memory request for container
            elasticsearch-curator; cpu, memory limit for container elasticsearch-curator'
        creationTimestamp: "2019-04-08T20:00:09Z"
        generateName: curator-elasticsearch-curator-1554753600-

[2019-04-08 21:48] jmcmeek commented on #76292
We first saw this on Kubernetes 1.12.6 and I found https://github.com/kubernetes/kubernetes/pull/74336 that seemed to address this problem and was cherry picked to 1.11 - 1.13.  But we see the same problem in 1.12.7 which has the cherry-pick.

The cherry-picks are different from the original PR in that `result.CPU.UsageNanoCores` is not set in the cherry-picks.  Does that need to be set, presumabl

[2019-04-08 21:53] mitar commented on #69637
/remove-lifecycle stale

[2019-04-08 21:57] timothysc opened #76296 "This is a test, I'll close in a minute."
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-04-08 21:58] apelisse commented on #13488
OK, `kubectl rollout restart` has merged!

[2019-04-08 22:02] apelisse commented on #76219
I have some more experiments that I just ran, confirming the suspicions:
[code]

[2019-04-08 22:05] apelisse commented on #76219
Adding two extra items to both deep and width:
[code]

[2019-04-08 22:09] lavalamp commented on #76219
That's a 20% increase vs 40% increase for wide vs deep, seems like a good problem reproduction.

[2019-04-08 22:15] lavalamp commented on #76219
I'm not sure it was avoidable to model things as embedded messages rather than inline, given our expectations around unset / nil behavior.

[2019-04-08 22:39] lavalamp commented on #76219
Put some more numbers from @apelisse in a chart:

![chart](https://user-images.githubusercontent.com/647318/55761476-3960c600-5a14-11e9-96bf-1bda7f73c8d0.png)

The fixed overhead of this codepath must be very low. This is clearly quadratic behavior already at values of N that we will actually reach.

[2019-04-08 23:42] logicalhan opened #76302 "Unbounded valuesets for metric labels"
Currently, we have a number of metrics in the kube-apiserver which will likely become problematic in the near-ish future. Specifically, metrics which currently have 'resource' as a label are unbounded. In large part, this is due to the emergence of CRDs, which has had the effect of unbounding the cardinality of resources (and sub-resources) served by the kube-apiserver. This dimension was previous

[2019-04-08 23:42] logicalhan commented on #76302
/assign @logicalhan

[2019-04-09 00:05] anfernee commented on #72338
@tobru as @liggitt pointed out, this port is simply a service port on a service VIP. It has nothing to do with the port conflict on the host or in the pod. and I don't see a user case where we want to make it configurable for now.

I am going to close this issue for now. But feel free to reopen it with more details and potential use cases. Thanks for reporting issues.

[2019-04-09 00:06] #72338 closed

[2019-04-09 00:15] fejta opened #76304 "Publish an tagged v12 alpha version for client-go HEAD"
Attempting a minor upgrade of test-infra's k8s imports results in go choosing
* the latest tagged release for client-go (`v11.0.0+incompatible`)
* the latest commit for everything else (`k8s.io/api v0.0.0-20190408172450-b1350b9e3bc2`, for example).

This causes problems as client-go v11 is only guaranteed to behave correctly with kubernetes 1.14. Indeed apimachinery HEAD has backwards incompatible

[2019-04-09 00:21] liggitt commented on #76304
We don't intend to switch to semantic versioning at this time, since that requires all importers to change their version paths and we haven't determined if we want to be that disruptive yet.

Until 1.15 is released, you need to add require directives to indicate the coordinating releases of k8s.io/apimachinery and k8s.io/api.

If you want to auto-upgrade, you'll also need to pin the k8s.io deps us

[2019-04-09 00:22] liggitt commented on #76304
cc @sttts for major version tagging of all staging repos

[2019-04-09 00:28] liggitt commented on #76304
I don't think publishing a v12.0.0 client-go would help your scenario. Automated go patch upgrades would not upgrade client-go, but would still bump to HEAD of the other repos

[2019-04-09 00:38] fejta opened #76305 "Backwards incompatible client-go/testing across major versions makes it hard to use generated fakes for vendored CRD clients"
test-infra uses:
* core kubernetes client code to manage things like pods
* a generated prow client to manage prowjob CRD resources
* a generated knative/build client to manage build CRD resources

We use the generated fake_build client for some of our unit testing. However, the signature for many of the methods in action.go in k8s.io/client-go/testing changed to include a PatchType method (added

[2019-04-09 00:45] liggitt commented on #76305
We would have to go all the way to semantic import versioning for multiple versions to coexist in a build as you describe. Some of the implications of that are described at https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md#alternative-versioning-strategies

I am in favor of major version tagging the other k8s.io components to match client-go

/re

[2019-04-09 01:00] Huang-Wei commented on #76075
I tried on both 1.14.0 and 1.14.1, but seems not to be able to reproduce.

BTW: my attempt is running on a fresh installed Ubuntu 18.04 cluster.

[2019-04-09 01:35] WanLinghao commented on #76258
@dashpole

[2019-04-09 01:53] #74240 closed

[2019-04-09 02:22] ZeroMagic commented on #76258
@mattjmcnaughton Thanks. After a detailed discussion about this issue, we will decide if we need to create a KEP.

[2019-04-09 02:55] allencloud commented on #76258
Thanks for your kind feedback. Actually I am wondering if we could get more details about the cAdvisor remove plan. Any link or somewhere. Searched on the issue list, while found no exactly matched one.  @mattjmcnaughton @dashpole

[2019-04-09 03:01] WanLinghao commented on #76258
@allencloud refer: https://github.com/kubernetes/kubernetes/issues/68522

[2019-04-09 03:02] #76266 closed

[2019-04-09 03:07] ravisantoshgudimetla opened #76308 "Quota for priorityClasses not allowing critical pods to be created in namespaces other than "kube-*""
**What happened**:

Following the documentation at the https://kubernetes.io/docs/concepts/policy/resource-quotas/#limit-priority-class-consumption-by-default, I tried enabling quota for a namespace other than `kube-system` but I was still not able to create a pod with `system-cluster-critical` priorityClass in my namespace with following error:

`
Error from server (Forbidden): error when creatin

[2019-04-09 03:07] ravisantoshgudimetla commented on #76308
/sig scheduling

/cc @bsalamat @vikaschoudhary16

[2019-04-09 03:19] jianglingxia commented on #71424
hi,I test in v1.13 and the problem existed!
my csi plugin running,but the node annotation can not labeled!
[root@paas-controller-111-111-111-118:/home/ubuntu]$ kubectl get po -n kube-system -o wide -w
NAME                                READY     STATUS    RESTARTS   AGE       IP                NODE
csi-attacher-cinderplugin-0         2/2       Running   0          4d        111.111.111.116   111.

[2019-04-09 03:47] liuyongqing1 opened #76312 "Some svc cannot be parsed normally"
kubernetes version: 1.9.11
coredns version: CoreDNS-1.2.6

![image](https://user-images.githubusercontent.com/13477384/55771865-476a2180-5abc-11e9-9ba1-7d469a0c51ca.png)

coredns error
![image](https://user-images.githubusercontent.com/13477384/55771947-b2b3f380-5abc-11e9-9a59-8cc8afb334e4.png)

![image](https://user-images.githubusercontent.com/13477384/55771991-e5f68280-5abc-11e9-9bd4-f670250d5d

[2019-04-09 04:01] liuyongqing1 commented on #76312
/sig scheduling

[2019-04-09 05:39] pdbogen commented on #67676
/remove-lifecycle stale

[2019-04-09 05:50] abizake commented on #75810
/remove-sig cluster-lifecycle

[2019-04-09 05:51] abizake commented on #75810
/sig cluster-lifecycle-kubeadm

[2019-04-09 05:54] abizake commented on #75811
/sig bug

[2019-04-09 05:58] #74801 closed

[2019-04-09 06:14] jxiewei opened #76316 "winkernel proxy is deleting hnsendpoint while it's still referenced by another k8s service."
**What happened**: We have two service(A & B) pointing to the same pod and different port, if we delete service A, service B becomes unaccessible from nodes other than the node pod is running at.

**What you expected to happen**: Deleting service A doesn't affect servicie B.

**How to reproduce it (as minimally and precisely as possible)**: Create two service pointing to the same pod and different

[2019-04-09 06:25] jxiewei commented on #76316
/sig windows

[2019-04-09 06:28] jxiewei commented on #76316
@kubernetes/sig-windows-bugs

[2019-04-09 06:48] lingyanmeng commented on #61937
@qkboy , thanks for your reply. And per my understanding, the workaround is to upgrade the docker to 18.09.1, however, k8s also use the kmem. I'm wondering if there is a fix for k8s.

Thanks!

[2019-04-09 06:57] sttts commented on #76304
So what we suggest here is

1. tag master as early as possible with a alpha.0 after a previous release has been forked
2. tag all staging repos uniformly.

I have not heard any strong argument why we shouldn't do (2).

(1) means we encourage consumation of the master branch. Do we want that in general or is it just something for now where 1.15 is not released and master is the only way to enjoy go

[2019-04-09 07:27] zufardhiyaulhaq commented on #76075
I am having this problem only with multiple master node.

[2019-04-09 07:34] JieJhih commented on #76289
It seems like ``applyDeprecatedHealthzPortToConfig`` and ``applyDeprecatedMetricsPortToConfig`` dosen't return IPV6 format.
https://github.com/kubernetes/kubernetes/blob/1cca3f9d45a6aae62145b8630e36722bd316ef88/cmd/kube-proxy/app/server.go#L366-L392
https://github.com/kubernetes/kubernetes/blob/1cca3f9d45a6aae62145b8630e36722bd316ef88/pkg/proxy/apis/config/validation/validation.go#L196-L203

[2019-04-09 07:41] Apokleos commented on #76259
(1) First Try:
When I use go1.11.3, it will be produce another error, and it gives me messages about go version required  go1.12.1 or greater as below:
[root@foo kubernetes]# KUBE_BUILD_PLATFORMS=linux/amd64 make all WHAT=cmd/kubelet GOFLAGS=-v GOGCFLAGS="-N -l"

Detected go version: go version go1.11.3 linux/amd64.
Kubernetes requires go1.12.1 or greater.
Please install go1.12.1 or later.

!!! [0

[2019-04-09 07:47] gaorong opened #76322 "pod with `requiredDuringSchedulingIgnoredDuringExecution` behave incorrectly after kubelet restart"
**What happened**:
we have a pod with `spec.affinity.nodeAffinity.requiredDuringSchedulingIgnoredDuringExecution` and running peacefully at specific node, let's say node1, when node1's label changed and mismatched pod's constraint specified by node affinity, the pod will run continually as the `IgnoredDuringExecution` semantic.  However if we restart the kubelet agent, this pod will be killed with

[2019-04-09 07:49] gaorong commented on #76322
/sig node
/area kubelet

[2019-04-09 07:56] nakabonne commented on #44273
Also facing this issue on GKE:
[code]

[2019-04-09 08:09] #75267 closed

[2019-04-09 08:18] gaopeiliang opened #76325 "POD scheduled to same node in DiskPressure status many times ..."
**What happened**:
one node ( 10.10.40.70 ) became DiskPressure status , with low filesystem ...
kubelet eviction pod to release source .... this pod rescheduler .. but we found
this pod scheduler to 10.10.40.70 too many times , and create some pod with failed status,
last this pod scheduler to other node

**What you expected to happen**:
this eviction pod should scheduler to other node , without

[2019-04-09 08:20] gaopeiliang commented on #76325
![image](https://user-images.githubusercontent.com/11383058/55784571-6c25bf80-5ae3-11e9-8135-ff5a1ae51c76.png)

[2019-04-09 08:21] SataQiu commented on #75601
I'm interested in this. 😆
/assign @SataQiu

[2019-04-09 09:17] WanLinghao commented on #76325
It is part of #72593

[2019-04-09 09:22] discostur commented on #70202
Just got the same problem - fixed it by manually adding the file:

/run/flannel/subnet.env
[code]

[2019-04-09 09:37] Jacky2 commented on #50375
Count me as another +1 on this. Would love to have it.

[2019-04-09 09:48] montanaflynn commented on #13488
That's great to hear after nearly 4 years, thanks!

I believe the merged PR only supports deployments, is that correct?

Some people in this issue have expressed the need for restarting daemonsets and statefulsets as well.

[2019-04-09 09:51] Nefelim4ag commented on #76267
Kube-proxy delete RS from VIP, even if VIP in excludeCIDRs

Because RS are the same with RS from Service VIP's
- - -
#59507

[2019-04-09 09:59] wojtek-t commented on #76219
I don't think we reach N=11 (maybe, but it's fairly uncommon), but something like 5 is definitely what we have. That's really interesting to see...

[2019-04-09 10:00] NickrenREN commented on #67221
Sorry for the delay @caesarxuchao .
ValidatingWebhookConfiguration yaml file is as follows:

[code]

[2019-04-09 10:02] discostur opened #76329 "kube-proxy configmap invalid after cluster upgrade 1.11.9 - 1.14.1"
**What happened**:
I upgraded my k8s cluster from 1.11.9 to 1.14.1 and kube-proxy was not able to start on the worker nodes.

It seems that the kube-proxy configmap gets not updated correctly, because it hat some feature flags within wich should not be there:

kube-proxy docker logs:
[code]

kubectl -n kube-system get cm kube-proxy -o yaml
[code]

After removing the feature gates from the configma

[2019-04-09 10:04] discostur commented on #76329
/sig node

[2019-04-09 10:31] wildwolfeng commented on #76261
@cmluciano Thanks for your response. I tried step by step in  https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/, got the dns is running correctly. Maybe I ran into another some  error somewhere.  Thank you anyway.

[2019-04-09 10:31] #76261 closed

[2019-04-09 11:14] fanux commented on #76267
I think this is not we expected.  I want using ipvs as a local porxy for kubernetes HA.

[2019-04-09 11:44] sqerison commented on #56335
I'm also interested to have  "scale-up" & "scale-down" waiting time and "scale-step", because HPA adds as much as it can and not relying to percentage over threshold.
/remove-lifecycle stale

[2019-04-09 12:05] gliush commented on #56335
@sqerison : This is covered by my KEP.

[2019-04-09 12:18] soltysh commented on #74179
See the linked issue for now.

[2019-04-09 12:37] sqerison commented on #56335
@gliush, I see, thanks. But it still not merged and not released.
I working with 1.12.* version and not planning to upgrade soon.

Is there some possibility to smoothly add new pods, like by 10?

Currently HPA adds from 100 to 200 pods just in one minute when metric only *10-20%* above threshold.

[2019-04-09 13:13] neolit123 commented on #76329
hi, did you upgrade from 1.11 -> 1.12 -> 1.13 -> 1.14?
direct upgrades from 1.11 to 1.14 are not supported by the project.

also please read the changelog for 1.14:
https://github.com/kubernetes/kubernetes/blob/7a47bc3d1d5e4859dced35b1217163e061a03329/CHANGELOG-1.14.md#deprecations

[code]

so you have to remove them.

/triage support
/remove-sig node
/sig storage

[2019-04-09 14:04] namreg commented on #76267
I've raised the pr https://github.com/kubernetes/kubernetes/pull/76334.

[2019-04-09 14:11] wojtek-t commented on #73958
Re second point - I think we can solve it even with bookmarks - see this comment: https://github.com/kubernetes/kubernetes/pull/75474/files#r273511670

[2019-04-09 14:58] brabil opened #76335 "cgroups_linux.go has different number of arguments"
When using k8s.io/kubernetes v1.14.1, I get the following error when building my project which imports k8s.io/kubernetes:

# k8s.io/kubernetes/pkg/kubelet/cm/util
../../../pkg/mod/k8s.io/kubernetes@v1.14.1/pkg/kubelet/cm/util/cgroups_linux.go:41:67: not enough arguments in call to cgroups.FindCgroupMountpointAndRoot
        have (string)
        want (string, string)

[2019-04-09 15:05] benmoss commented on #75319
I'd be much more in favor of sticking to file-based logging for consistency with Linux

[2019-04-09 15:22] yeya24 commented on #74262
@skpundi  Can you check your kubelet logs by `journalctl -xefu kubelet`? Maybe this problem is caused by your container runtime.

[2019-04-09 15:55] #70899 closed

[2019-04-09 15:55] #52434 closed

[2019-04-09 16:00] uablrek commented on #65006
Still valid, and stops the ipv6+ipvs combination.

[2019-04-09 16:05] mkumatag commented on #76236
@liggitt I still see these CSIDriver* and CSINode* are still in beta1 stage, tests will not run if we remove the skip! you can check the failures in https://github.com/kubernetes/kubernetes/pull/76237/files

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/storage/v1beta1/types.go#L304
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/storage/v1

[2019-04-09 16:37] liggitt commented on #76236
the best way would be to switch the test to use the same storage config as the kubeapiserver, like the last commit in https://github.com/liggitt/kubernetes/commits/fix_storage_test

[2019-04-09 17:01] apelisse commented on #76219
[code]

Running this script against a cluster with 1 basic nginx pod gives me a depth of 14 (without server-side apply): `items[0].spec.volumes[0].projected.sources[0].downwardAPI.items[0].fieldRef.fieldPath`.

[2019-04-09 17:10] Huang-Wei commented on #76075
@zufardhiyaulhaq I'm not 100% sure you're having the same one as this issue. I do see a few PR fixes in [v1.14.1](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md#changelog-since-v1140) related with your symptoms. Can you try 1.14.1?

[2019-04-09 17:17] liggitt commented on #76335
make sure you are using the same version of cgroups:

https://github.com/kubernetes/kubernetes/blob/release-1.14/Godeps/Godeps.json#L2990-L2994:
https://github.com/kubernetes/kubernetes/blob/e5a4a92fefbc80988fbd6668dd3cce9d7ef1dc62/Godeps/Godeps.json#L2990-L2994

https://github.com/opencontainers/runc/blob/f000fe11ece1b79f744edd9c8e1a53ba0f5e0f24/libcontainer/cgroups/utils.go#L30

/close

[2019-04-09 17:17] #76335 closed

[2019-04-09 17:20] liggitt commented on #76259
[code]
that's a go error resolved in go1.12.3: https://github.com/golang/go/issues/31293

[2019-04-09 17:20] liggitt commented on #76259
it sounds like using go1.12.1 works (and I'd expect using go1.12.3 would work as well, given the go error was resolved in that version)

/close

[2019-04-09 17:20] #76259 closed

[2019-04-09 17:22] zufardhiyaulhaq commented on #76075
it is available now in ubuntu 16.04? last 2 day I am using the latest installation but still with version 1.14.0.
maybe tomorrow I will try to install the cluster.

[2019-04-09 17:23] mkumatag commented on #76236
That's great! Let me cherrypick your commit :P

[2019-04-09 17:25] Huang-Wei commented on #76075
I think so - try `apt-get update && apt-get install -y kubeadm=1.14.1-00`

[2019-04-09 17:28] liggitt commented on #76236
I added a second commit as well to fix up job and cronjob tests in the same way

[2019-04-09 17:31] mkumatag commented on #76236
pushed that one too :)

[2019-04-09 17:37] paulgmiller opened #76338 "Kube-proxy hangs on api-server errors"
**What happened**:
After some api-server outages (2 apparent in logs and they lastestd minutes at least)
Kube proxy stopped recieving updates from endpoionts. And stopped updating the ip tables
Here's the kube-proxy logs which show errors and then nothing for 4 days (Log ended on 4/8/2019)
[kubehunglogs.txt](https://github.com/kubernetes/kubernetes/files/3060250/kubehunglogs.txt)
Here's the iptabl

[2019-04-09 17:41] paulgmiller commented on #76338
/sig network
?

[2019-04-09 17:43] dashpole commented on #76258
Thanks for looping me in.  One of the reasons we want to remove cAdvisor is because we don't think it is feasible, or wise to try and monitor every kind of container under the sun in cAdvisor.

We are then left with two ways we could get metrics without building in cAdvisor: Introduce CRI apis to carry the metrics and let the kubelet "re-expose" these metrics, or expose metrics directly from conta

[2019-04-09 17:51] zufardhiyaulhaq commented on #76075
Hi,

I think the error is the same as version 1.14.0. this is my log on master1
[code]
but when i try to join from master2, I still get runtime error in go
[code]
[code]

[2019-04-09 17:57] Huang-Wei commented on #73505
@tanksoga Firstly `percentageOfNodesToScore` is only effective in a large cluster (worker nodes number > 50 if I recall correctly).

Secondly, `--config` has been the official way to pass in scheduler parameters since 1.11.

But the tip here is: if you want to stick with "deprecated" flags, you're fine; but if you want to use `--config`, try to move all "deprecated" flags into the Config yaml. In

[2019-04-09 17:57] Huang-Wei commented on #73505
cc/ @bsalamat @misterikkit I saw a couple of issues asking for scheduler configuration as we marked a lot of flags as deprecated, but we don't document usage of `KubeSchedulerConfiguration` well.

In addition to documentation, do you think we should add some exceptions for deprecated flags, for example `--kubeconfig`, so that they can mix in if the field is not provided in `KubeSchedulerConfigurat

[2019-04-09 18:01] dims commented on #51798
/reopen
/remove-lifecycle rotten

[2019-04-09 18:02] logicalhan commented on #76302
/cc @smarterclayton @brancz (just as an FYI)

Also, the issue #69540 involved a single cluster. This impacts fleetwide aggregations for metrics like this and will also likely recur in single clusters (once it grows large enough and employs enough CRDs).

[2019-04-09 18:02] dims commented on #51798
we still need to deal with the comment here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/util.go#L66-L72

[2019-04-09 18:17] fejta commented on #76304
My goal for the moment is more to get to where I can write automation that will automatically perform minor upgrades to a repo's modules (starting with test-infra), conditionally on the upgrade still passing unit tests.

Tagging all repos with v15 or whatever would meet this need.

The problem with only tagging client-go is that this causes the module system to use HEAD for everything else but v12

[2019-04-09 18:25] nikhita commented on #76304
xref https://github.com/kubernetes/kubernetes/issues/72638

[2019-04-09 18:26] nikhita commented on #72638
/remove-lifecycle stale

[2019-04-09 18:29] liggitt commented on #76304
it actually wouldn't, if I understand correctly what I'm reading around go modules that do not use semantic import versioning...

[2019-04-09 18:54] wongma7 commented on #76044
There's a few other places outside kubelet mount/unmount that can assume spec.Volumes means the pod actually uses the volume. They can do it safely so I'm going to ignore them. e.g.

attach detach will attach all volumes in spec.volumes
scheduler uses spec.volumes to ensure pods using the same gce pd etc. are on the same node.

[2019-04-09 19:03] harsh-px opened #76340 "Fix concurrent map read and map write in Portworx driver"
**What happened**: The Portworx volume driver is accessing the storage parameters and also modifying it. This is a shared map object used by all PVCs being created at that time from the same StorageClass.

This causes 2 issues:

1. The Portworx driver ends up saving annotations of one PVC into the parameters of another PVC as both CreateVolume calls use the same map. See https://github.com/kuberne

[2019-04-09 19:03] harsh-px commented on #76340
/sig storage

[2019-04-09 19:03] harsh-px commented on #76340
I'll take care of fixing this

[2019-04-09 19:22] andrewsykim commented on #76206
Seems like we need to coordinate on what package we want to move some of these util files. Here are a few options I see going forward:
1) `test/e2e/framework/<pkg>`
2) `test/e2e/framework/util/<pkg>`
3) `test/utils/<pkg>`

I'm in favor of 1), @johnSchnake @stevesloka @timothysc @neolit123 @alejandrox1 thoughts?

[2019-04-09 19:22] KitFreddura commented on #75674
I'd be interesting in picking this up if the apps team thinks this is a good ticket - it seems like it's fairly beginner friendly.

[2019-04-09 19:29] johnSchnake opened #76342 "Consolidate test images and improve documentation"
**What would you like to be added**:
I would like the number of test images to be reduced and the documentation improved. The list is in this file:
https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go

Looking at this list, it is not clear why we have so many images or why/how that image is being used.

In many cases tests just want to confirm image=`X` and/or after an

[2019-04-09 19:30] johnSchnake commented on #76342
/sig testing
/area conformance
/area test-framework

[2019-04-09 19:36] Huang-Wei commented on #76075
I believe this is an issue, but only in some particular circumstances.

For me, I still can't reproduce on 1.14.1 with a HA deployment:

[code]

[2019-04-09 19:49] neolit123 commented on #72630
/remove-lifecycle stale
we discussed this recently in the testing commons meeting, but we didn't pick a good location.
also we need to see if the docker validator can stop importing docker packages.

[2019-04-09 20:00] timothysc commented on #62161
We've decided to close this issue due to overlapping issues of Serial+Flaky+Slow and open specific issues on Serial & Slow, and Flaky should be fixed.

[2019-04-09 20:00] #62161 closed

[2019-04-09 20:25] dims opened #76344 "Need a way to run tests not marked `[Serial]` in parallel"
Follow up from https://github.com/kubernetes/kubernetes/issues/62161

Right now, say for example in the conformance tests, we always force sonobuoy to run *all* the tests in Serial mode, since we have a few tests that are marked `[Serial]` in that bucket. It would be nice to run all the ones not marked `[Serial]` in parallel before we run the `[Serial]` tests to save on time.

/area conformance

[2019-04-09 20:29] reidab commented on #74265
I've run across a similar issue running [Consul](https://www.consul.io/docs/platform/k8s/run.html) — the official helm charts for it recommend running a daemonset and injecting the IP using the downward API. This works great until TLS is enabled on the consul nodes and a client wants to enforce host checking on the certificate. The suggested path there is to generate the cert with a Subject Altern

[2019-04-09 20:32] brahmaroutu opened #76345 "Tracking Issue - PodSpec Coverage"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

Why is this needed:
Add or promote PodSpec coverage for conformance

/area conformance
/sig testing

[2019-04-09 20:39] andrewsykim commented on #76338
/triage unresolved

[2019-04-09 20:43] namreg commented on #72050
/remove-lifecycle stale

[2019-04-09 20:47] andrewsykim commented on #76338
@paulgmiller what version of iptables are you running?

/assign

[2019-04-09 20:55] talk2aanand commented on #66108
I'm unable to join can anybody help ?
 failed to load Kubelet config file /var/lib/kubelet/config.yaml, error failed to read kubelet config file "/var/lib/kubelet/config.yaml", error: open /var/lib/kubelet/config.yaml: no such file or directory
Apr  9 20:55:00 ip-172-31-39-203 systemd: kubelet.service: main process exited, code=exited, status=255/n/a
Apr  9 20:55:00 ip-172-31-39-203 systemd: Unit

[2019-04-09 20:59] #76236 closed

[2019-04-09 21:22] sjberman commented on #75342
@ksandermann Do you also see an issue where the NotReady node never gets cleaned up? I'm seeing the issue you mentioned, but the powered down node stays in the NotReady state and never goes away. I'm wondering if it has anything to do with the fact that the pod with the volume attached still "exists" on the downed node (though in an "Unknown" state), and these two issues are somehow tied to each o

[2019-04-09 21:32] greenlaw commented on #66108
@talk2aanand If it's the same issue I had, it's just an expired token (see comments above) - try generating a new token on the master by running `sudo kubeadm token create --print-join-command`, then use that join command on the worker node.

[2019-04-09 21:41] jpbetz commented on #67717
A test for this was added via https://github.com/kubernetes/kubernetes/pull/69829, we just need to promote it to be a conformance test

[2019-04-09 21:44] mdirkse commented on #23864
Another reason this would be handy: specifying a large amount of ports to open on Services means that an equal amount of iptables rules get created (if k8s is using the [iptables proxy](https://kubernetes.io/docs/concepts/services-networking/service/#proxy-mode-iptables) mode, like GKE does).  Iptables performance slows down dramatically after about 10,000 rules (as implied [here](https://kubernet

[2019-04-09 21:45] talk2aanand commented on #66108
Tried but failed still the same error kubelet is activating and I'm unable to do kubeadm join from my any machine.

Any way to start kubeadm before kubeadm join ?

Kubelet is starting after kubeadm init but not at kubeadm join. Please help

[2019-04-09 21:50] WandersonAlves commented on #72811
+1, currently my services are growing like crazy, so i removed all my HPA's, and resources requests/limits.

[2019-04-09 21:50] talk2aanand commented on #66108
@greenlaw is there any mistakes I have don't while generating token from master node ?

[2019-04-09 22:01] shubb30 commented on #58788
I am also still experiencing this issue.  I am using Rancher 2.1.8 to manage my clusters, and the clusters were created using RKE.  When I upgraded a cluster from 1.13.4 to 1.13.5 using RKE, the volumes that were mounted as GlusterFS disconnect, whereas the volumes mounted by Longhorn and CEPH remain mounted.

[2019-04-09 23:38] riaan53 commented on #76338
Not sure if its related but might be worth while checking into the following two issues:

https://github.com/kubernetes/client-go/issues/374
https://github.com/kubernetes/kubernetes/issues/65012

[2019-04-10 00:12] paulgmiller commented on #76338
@andrewsykim  @doubleyewdee
azureuser@aks-nodepool1-37367221-57:~$ iptables --version
iptables v1.6.0
azureuser@aks-nodepool1-37367221-57:~$ modinfo ip_tables
filename:       /lib/modules/4.15.0-1041-azure/kernel/net/ipv4/netfilter/ip_tables.ko
description:    IPv4 packet filter
author:         Netfilter Core Team <coreteam@netfilter.org>
license:        GPL
srcversion:     EE1228938F88D89B5B5A8EB

[2019-04-10 00:16] paulgmiller commented on #76338
#65012 certainly is interesting as our api server is out of cluster.
Was looking to see if I could add a last endpoints update time to the healthz endpoint here
https://github.com/kubernetes/kubernetes/blob/f1693efe3713f065d33a5f0d31df0bec0a966bc0/pkg/proxy/iptables/proxier.go

If so I could at least have  a liveness probe that would restart kube-proxy if it got stuck

We're still trying to repro

[2019-04-10 00:33] andrewsykim commented on #76338
There was a PR merged recently (https://github.com/kubernetes/kubernetes/pull/76171) that would be helpful here to see why your iptables-restore there failed

[2019-04-10 01:23] johnSchnake commented on #76206
On my PR I chose (1), partially because I had seen that used in another similar PR.

In my mind, the framework code is itself is "stuff to help you run your tests" in one form or another, so `framework/util/<pkg>` seems a slightly redundant.

Hadn't really thought about (3), pulling it all the way out of framework and e2e. Just peeking at the code the `e2e` stuff is more code/test focused which wo

[2019-04-10 01:49] ananclub opened #76357 "kubeadm config file not support "apiServerCertSANs" filed?"
when i use kubeadm to create k8s cluster,it report:

W0410 09:21:51.963920   26052 strict.go:54] error unmarshaling configuration schema.GroupVersionKind{Group:"kubeadm.k8s.io", Version:"v1beta1", Kind:"ClusterConfiguration"}: error unmarshaling JSON: while decoding JSON: json: unknown field "apiServerCertSANs"

config file content:

apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
ku

[2019-04-10 02:10] coderLinJ5945 commented on #44665
I used the k8s cluster installed by rancher, but I did not install kubeadm, how can I generate admin.conf?

[2019-04-10 02:13] tedyu opened #76358 "Enhance LogReduction with count of repetitive error message"
**What would you like to be added**:
We can record the number of successive logs of the same error message and show the count when error message changes (w.r.t. the same parentID).

Currently, within identicalErrorDelay, false is returned from ShouldMessageBePrinted and we lose such count.

**Why is this needed**:
The count would reveal the severity / frequency of underlying error message.
This he

[2019-04-10 02:35] hex108 commented on #75456
@bsalamat Thanks for it! Do you have any plan to support out of tree scheduler plugin? If I understand it correctly, we need load these out of tree plugins when scheduler starts working.

[2019-04-10 02:59] ZeroMagic commented on #76258
@dashpole I have some questions about the latter way.
1. Which level of container runtimes do you mean, Containerd or KataContainers ?
2. How can kubelet get the metrics? Stats() API or commandl line?
3. When adding new metrics, we just need to modify container runtimes and kubelet. Is my understanding correct?

[2019-04-10 03:01] hex108 opened #76360 "Let kubelet respect pod's finalizers"
**What would you like to be added**:
If pod's finalizer list is not empty, kubelet should keep it running until its finalizer list is empty even its deletion timestamp is set.

**Why is this needed**:
If I understand it correctly,  finalizer works as a pre-delete hook. We create ingress for pods, and want to remove pod from ingress firstly before terminating it, then we could avoid request traffic

[2019-04-10 03:12] smarterclayton commented on #76302
Clients are already unbounded and much higher in practice.  Whatever solution we pick is going to have to do something about that too.

[2019-04-10 03:13] dashpole commented on #76258
1. Containerd/CRI-O
2. Why does the kubelet need the metrics?
3. I think it would be better if we just needed to modify the container runtime, and not the kubelet.

[2019-04-10 03:31] ZeroMagic commented on #76258
In my understanding, `kubectl top` needs the metrics to show resource usage.

[2019-04-10 03:33] stormgbs commented on #76258
@dashpole Why only Containerd/CRI-O in the future? What about those cri compatible runtimes?

[2019-04-10 03:57] liuyongqing1 commented on #76312
@chrisohaver

I have solved this problem. Thank you for your help. This is caused by the abnormality of the rabbitmq service. I fixed the rabbitmq service and it will be normal. Thank you once again

[2019-04-10 03:57] #76312 closed

[2019-04-10 04:06] andyzhangx commented on #76077
@ylhyh Your private repo only provides http service? does it need authentication?

[2019-04-10 04:09] yue9944882 commented on #70657
/remove-lifecycle rotten

[2019-04-10 04:13] kmova commented on #59040
/remove-lifecycle stale

[2019-04-10 04:14] kmova commented on #59040
Working on a fix for this via iSCSI CSI driver.

[2019-04-10 04:24] ShahNewazKhan commented on #59902
Any updates on this front?

[2019-04-10 04:33] liggitt commented on #61557
fixed in https://github.com/kubernetes/kubernetes/commit/31ffd9f88130c1c0cbb991f90b49887327567398 in 1.12+

/close

[2019-04-10 04:33] #61557 closed

[2019-04-10 04:38] logicalhan commented on #76302
Oh, yeah I hate those things. I was thinking we may want to do some pre-processing prior to emitting the client value in those metrics, so that doesn't bring in directory strings and version data and such. Thoughts?

But yeah, I agree it would be generally desirable to have this dimension bounded as well.

[2019-04-10 04:58] WanLinghao commented on #76258
/cc

[2019-04-10 05:30] #75906 closed

[2019-04-10 05:49] Apokleos commented on #76259
@liggitt
Yeah, I think,go1.12.2 and go1.12.3 both have the same bug.
I have tested compiling kubelet with go1.12.3.
It's a pity that go1.12.3 encounters the same problem as go1.12.2 does in my work.
Now, only go1.12.1 works well!

[2019-04-10 06:37] Saurabh-16 opened #76364 "Pod gets disappears sometimes after job is successful in the k8s dashboard."
**What happened**:
Pod associated with job disappears after sometime. Though job status is succeeded and we can see the job in dashboard,  pod should also stick to the job until we delete the job from namespace itself.

**What you expected to happen**:
Pod should not disappear after job is succeeded unless we delete the job itself.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-04-10 06:39] iamrz1 opened #76366 "Empty PSPs are treated as any other normally named PSP"
We recently came across a problem related to empty PSP while upgrading [kubeDB](https://github.com/kubedb). If a pod's role has an empty resourceName ("") as podsecuritypolicy, our kubeDB operator (superset of the pod) needs to have an empty resourceName ("") alongside other normally named resourceNames as podsecuritypolicy in it's (operator) clusterrole as well.
In Pod:
[code]
In operator:
[code]

[2019-04-10 06:46] randude opened #76367 "Failed deployment upgrade- removing a serviceAccount from a deployment template does not get applied to kubernetes deployment object"
**What happened**:
We used Helm to upgrade our deployment. It causes our
You can view the thread here:
https://github.com/helm/helm/issues/5473

hickeyma verified this issue is not a helm but but a K8s patch command bug.

**What you expected to happen**:
I installed a deployment which was added a serviceAccountName. Then when I tried to install a version that doesnt use the serviceAccountName, the

[2019-04-10 06:56] JishanXing commented on #74900
This ticket has two issues:
1) It's said "TailLines must be greater than or equal to 0", however we can specify -1.
kubectl logs -l app=test --tail=-3
error: TailLines must be greater than or equal to 0

kubectl logs -l app=test --tail=-1
12462: Wed Apr 10 06:51:34 UTC 2019
12463: Wed Apr 10 06:51:35 UTC 2019
12464: Wed Apr 10 06:51:36 UTC 2019
12465: Wed Apr 10 06:51:37 UTC 2019
12466: Wed Apr 10

[2019-04-10 07:00] ylhyh commented on #76077
the private repo built by Nexus, it requires basic authentication

[2019-04-10 07:43] ionutbiru commented on #72905
I have the same issue using cinder storage class. the volume is created but never attached. Did you guys found a fix for this?

storage class: https://kubernetes.io/docs/concepts/storage/storage-classes/#openstack-cinder
mysql deployment: https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/
kubectl get sc,pv,pvc,pod --all-namespaces: https://paste.xinu.at/UN

[2019-04-10 07:56] gaoya16 commented on #75572
all right，thanks a lot for your assistance!

[2019-04-10 08:26] tedyu opened #76369 "Use set to represent targets in KindForGroupVersionKinds"
**What would you like to be added**:
Currently targets is an array of GroupVersionKind.
bestMatch iterates over the array to find match.
We can use set as representation of the targets so that finding match becomes O(1) operation.

[2019-04-10 08:39] WanLinghao commented on #72593
/cc

[2019-04-10 08:42] darkrasid commented on #63982
@lavalamp
Thank you for your comment.

Actually I use `helm upgrade --install` command to deploy k8s objects.
And helm doesn't create ` last-applied-state annotation`. I guess it uses something like `kubectl create or replace`

I always run same deploy script via pipelines and always run `helm upgrade --install`.
However sometimes (actually barely) k8s deployment keeps old container.

Even when I

[2019-04-10 08:47] WanLinghao opened #76370 "Back off controller which slow down pod creation when rejection happens"
Many users reported that some workloads would keep creating new pods in a tight loop when kubelet rejects the pods they created:

1. Nodes was tainted:https://github.com/kubernetes/kubernetes/issues/75913
2. SysctlForbidden:https://github.com/kubernetes/kubernetes/issues/72593
3. Node was in disk pressure: https://github.com/kubernetes/kubernetes/issues/76325
4. GPU allocation failure:https://gith

[2019-04-10 08:49] tedyu commented on #76369
[code]

[2019-04-10 08:52] pohly commented on #71748
/remove-lifecycle stale

Still relevant. I think the tests was recently marked as `[SLOW]` to prevent running it in pre-merge checks, but when running all tests it still causes delays.

[2019-04-10 09:11] #68969 closed

[2019-04-10 09:13] lovejoy commented on #67789
why not use a script to calc the flag's value when you want to set a percentage of memory  ?

[2019-04-10 09:22] feiskyer commented on #75752
/sig windows

[2019-04-10 10:43] wojtek-t opened #76374 "Scalability tests should not consume public IPs for every node"
Public IPs are expensive resources. Given that we're running scalability tests on 5k-node clusters, we are unnecessarily consuming 5k IPs which is a lot.

We should switch our tests so that nodes have only private IP addresses.

We are going to do that by configuring NAT so that nodes can talk to outside world (e.g. to download image from dockerhub). But that also requires changing some correctnes

[2019-04-10 11:07] ijumps commented on #65954
/remove-lifecycle stale

[2019-04-10 11:09] DanielZhangQD opened #76376 "Service access failure during kube-proxy rolling update"
What happened:

We are running in iptables mode.
During kube-proxy rolling update, iptables rules and chains will be removed when kube-proxy starts, which will cause service access failure through NodePort/ServiceIP/ServiceName before kube-proxy restores the iptables rules, which may take about 3 seconds.
Here are the logs:
I0410 09:42:19.441454       1 server_others.go:174] Tearing down inactive

[2019-04-10 11:10] DanielZhangQD commented on #76376
/sig network

[2019-04-10 11:14] DanielZhangQD commented on #76376
Checked source code and even if --cleanup-ipvs=false is set, the iptables rules will still be flushed by following code with iptables mode:
ipvs.CleanupLeftovers(ipvsInterface, iptInterface, ipsetInterface, cleanupIPVS)

[2019-04-10 11:20] felixPG opened #76377 "Certificates problems in kubeadm HA"
**What happened**:

Hi All. Im facing a problem in HA k8s cluster bootstrapped by kubeadm. All work OK, but kubectl logs does not work. *net/http: TLS handshake timeout* .If I not wrong, kube-apiserver in *kubectl logs* forward the request *to the kubelet node where the pod are running*. Appear that kubelet certificate on that node are rejected, why???
If I make a curl from master to the node wher

[2019-04-10 11:21] felixPG commented on #76377
/sig kubeadm

[2019-04-10 11:24] rohantmp commented on #75683
1.13.5 will use kubernetes-cni 0.7.5 without complaining.

[2019-04-10 11:47] tamalsaha commented on #76366
/sig api-machinery

cc:@liggit

[2019-04-10 11:47] tamalsaha commented on #76366
cc: @liggitt

[2019-04-10 12:00] virendra-sharma opened #76380 ""runAsUser" parameter of "securityContext" doesn't reflect assigned value inside container"
**What happened**:
Assigned permission to containers of pod by using "runAsUser" & "runAsGroup" parameter of securitycontext module, but after getting shell prompt of running container of pod, I can see only userID gets updated and groupID remains as root(0).

**What you expected to happen**:
Inside pod container should get userID & groupID as per assigned ID while creating pod. It should be visib

[2019-04-10 12:05] virendra-sharma commented on #76380
@kubernetes/sig-contributor-experience-bugs

[2019-04-10 12:19] lichuqiang opened #76382 "Some removed containers in a pod stay in Running status, and pod cannot be deleted"
**What happened**:
We met the scenario: we have two containers in a pod, one is in unhealthy status (container terminated), others running. Delete the pod and we saw that the the latter container always stay in "Running" status, as as result, the pod will always in "Terminating" status and cannot get deleted.

**What you expected to happen**:
Pod got deleted as expected.

**How to reproduce it (as

[2019-04-10 12:23] lichuqiang commented on #76382
@dashpole @sjenning I noticed you've addressed similar issues before (not exactly the same issue though), can you please help take a look?  thx :)

[2019-04-10 12:27] ramanaleon commented on #50346
Hi jiaqianjing ,

How did you fix this issue?

[2019-04-10 13:06] hprateek43 commented on #75567
Trying to get my first PR here. Is the issue still open ?

[2019-04-10 13:15] liggitt commented on #76366
RBAC does little to no interpretation of the values of string sets. If resourceNames is populated, each item in the list is considered a possible name to match. Escalation prevention requires a covering permission in order to modify a role, so if the role you are trying to create/update contains an empty string in resourceNames, you must also be granted a role which does the same (or is unrestrict

[2019-04-10 13:15] #76366 closed

[2019-04-10 13:18] liggitt commented on #76360
Finalizers control the *API object* lifecycle, not the lifecycle of the pod process. A pod that has had deletion requested is subject to it's process being terminated.

You can use the preStop lifecycle and/or terminationGracePeriodSeconds in combination with SIGTERM handling in your container process to control how long a pod remains running after deletion is requested to give your controller tim

[2019-04-10 13:18] #76360 closed

[2019-04-10 13:19] liggitt commented on #76380
can you provide the pod spec as fetched from the apiserver? runAsGroup was alpha in 1.12.x and not enabled by default.

[2019-04-10 13:24] liggitt commented on #76367
This is unfortunate, but both fields are honored because of a name change around the 1.0 timeframe. the deprecated `serviceAccount` field can be removed if a new apiVersion of pods is introduced, but until then, clearing a service account on an existing object requires explicitly setting both `serviceAccount: ""` and `serviceAccountName: ""`

/close

[2019-04-10 13:24] #76367 closed

[2019-04-10 13:33] strowi commented on #65879
We're running into the same issue running 1.13.5, would be interested in that hotfix command..
regards,
strowi

[2019-04-10 13:36] ev4ern opened #76386 "Restrict pod scheduling to nodes by namespace"
Is there any way to restrict pod scheduling to nodes by namespace?
For example I have a set of nodes for production services and I don't want scheduler to create pods on them. Cause some pods in non production namespaces can  fails and it can affects production services.

[2019-04-10 13:38] ev4ern commented on #76386
/sig schedule

[2019-04-10 13:38] ev4ern commented on #76386
/sig feature-requests

[2019-04-10 13:39] ev4ern commented on #76386
/sig scheduling

[2019-04-10 13:48] rgembalik commented on #65879
@strowi So far I am using two detection commands:
* ` mount | sort | uniq -c | sort -n` - to see which mounts are multiplied, and how many times.
* `tail -n 1000 /var/log/syslog -f | grep busy` to see which mount points require manual `umount`
I think both can be written in a prettier way. I don't have hotfixing cronjobs installed yet.

[2019-04-10 13:52] jsafrane commented on #76217
I am reworking iscsi tests completely in https://github.com/kubernetes/kubernetes/pull/73739.

[2019-04-10 14:03] AndrienkoAleksandr commented on #71350
/remove-lifecycle stale

[2019-04-10 14:05] astorath commented on #13358
@thockin @onitake
ExternalName does not provide any means to change destination port, this is crucial in some setups (like several DB instances on one machine).

[2019-04-10 14:12] Asgoret commented on #22368
Is there any progress on this task?

[2019-04-10 14:58] Dm3Ch commented on #68827
Maybe it would be ok to create this functionality and make it disabled by default with ability to turn this feature on with some configuration option?

[2019-04-10 15:08] mkumatag opened #76393 "TestLoopbackHostPort fails on non-ipv6 machine"
**What happened**:
[code]

LoopbackHostPort code is calling the [net.InterfaceAddrs()](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/config_selfclient.go#L84) which depends on the machine on which this test is running. Especially in this particular testase it looks for the ipv6 ip address which does not exist because the machine is not configured for

[2019-04-10 15:10] mkumatag commented on #76393
/sig network

[2019-04-10 15:12] mkumatag commented on #76393
/cc @JacobTanenbaum @dcbw @pmichali

[2019-04-10 15:21] george-angel commented on #22368
So Kustomize does this, for both configmaps and secrets. The bit thats its missing is garbage collection, which is on the roadmap.

If you can afford to introduce this tool into your workflow, its a nice solution imo. Especially since `kuztomize` just made it's way into `kubectl`.

[2019-04-10 15:25] kfox1111 commented on #22368
kustomize and helm are incompatible.

[2019-04-10 15:30] andrewsykim commented on #76206
Agreed, let's stick with 1) for now unless others think differently :)

[2019-04-10 15:42] benishak commented on #75889
perfect
now it makes sense, i was looking on the Endpoints in service describe

[2019-04-10 15:42] #75889 closed

[2019-04-10 15:45] andrewsykim commented on #75889
/triage resolved

[2019-04-10 15:46] andrewsykim commented on #75889
/remove-triage unresolved

[2019-04-10 15:47] kahootali commented on #22368
@Asgoret you can use [Reloader](https://github.com/stakater/reloader) for this, it can reload your deployments, daemonsets or statefulsets whenever your configmap or secrets are changed. Many companies are using it in their production environments.

[2019-04-10 15:47] albeldas commented on #73297
@M00nF1sh Any update regarding this issue?

[2019-04-10 15:54] bazzargh commented on #74151
Enforcing `vm.panic_on_oom = 0` introduced in #15091 (somewhere in 1.1, 1.2?) hasn't been necessary since kubernetes 1.3, when kubernetes introduced its own pro-active eviction mechanism: https://github.com/kubernetes/kubernetes/blob/release-1.3/docs/proposals/kubelet-eviction.md to _avoid_ using oom-killer, because (quote) `the system is prone to return to an unstable state since the containers t

[2019-04-10 15:56] kfox1111 commented on #22368
Nice.

So, we have Reloader and Kubernetes Deployment Restart Controller that does the watching/restaring parts of the problem. The MutableMap stuff handles most of the lifecycle issue.

So, now we need to write up a KEP to gather all the bits into one place and try and get it into Kubernetes itself so everyone doesn't need to piece together a solution themselves.

[2019-04-10 16:18] alok87 opened #76395 "Dependency Graph For Analysis"
## Objective
The task here is to visualise the kubernetes dependency graph. Use this visualisation to bring out insights in the optimisations that can be made.
- Get rid of unwanted dependencies by making surgical changes [for example](https://github.com/google/cadvisor/pull/2209)
- Find and update the dependencies which are [required](https://docs.google.com/document/d/1HtTI0rJEGP_MSf6eO87aCmx_tz

[2019-04-10 16:18] #47668 closed

[2019-04-10 16:18] #58310 closed

[2019-04-10 16:18] alok87 commented on #76395
/hold

cc @dims

[2019-04-10 16:29] alok87 commented on #76395
/cc @dims

[2019-04-10 16:47] Saurabh-16 commented on #76364
/sig Job

[2019-04-10 16:54] alejandrox1 opened #76397 "Error building Kubernetes on ubuntu 18.04 with Go 1.12.1"
**What happened**:
I got the following error when trying to compile kubectl
[code]

**What you expected to happen**:
I expected to find a kubectl binary in `k8s.io/kubernetes/_output`.

It's my understanding from the developer docs that this should work out of the box.
Also, I did not see this error when doing `make quick-release`.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-04-10 17:18] johnbelamaric commented on #76345
/priority important-soon

[2019-04-10 17:19] #63173 closed

[2019-04-10 17:19] onitake commented on #13358
@astorath This is correct. ExternalName is implemented as a CNAME record on the cluster DNS, not via forwarding. If you want to change the port, you have to do it in the application.

[2019-04-10 17:23] Saurabh-16 commented on #76364
/sig testing

[2019-04-10 17:27] alejandrox1 commented on #76397
Is the recommended way to first run `build/shell.sh` and then `make WHAT=<something>`?

[2019-04-10 17:58] MrHohn commented on #76289
@JieJhih Thanks for the investigation. It true that the `applyDeprecatedXPortToConfig` func seems to not be ipv6 friendly. Though in @josdotso's case the CLI args are not involved at all, so might be a different issue.

[2019-04-10 17:59] cheftako commented on #75567
@hprateek43 The issue is still open. You may want to check on https://github.com/kubernetes/kubernetes/pull/75769 though as @rightblank was trying to fix the issue with that PR.

[2019-04-10 19:18] kfox1111 commented on #22368
I started an incredibly rough draft of a KEP here: https://github.com/kubernetes/enhancements/pull/948
Everyone that's interested, please review (or make changes via pr). :)

I'm not tied to any particular implementation details. Just a first stab at getting something on paper so we can start moving this forward.

[2019-04-10 21:16] janpaul123 commented on #24725
Sounds like this should get addressed by https://github.com/kubernetes/enhancements/pull/912. My workaround for now has been to set up a ServiceAccount that can delete pods, and then run `kubectl delete pods $HOSTNAME` from within my container.

[2019-04-10 21:18] MrHohn commented on #76289
@josdotso  After taking another look at the spec definition: https://github.com/kubernetes/kubernetes/blob/09f821ddb58dd59e89130f03b75a700061c117a8/pkg/proxy/apis/config/types.go#L111-L116
It seems like we are suppose to pass `HealthzBindAddress` and `MetricsBindAddress` in a `ip:port` fashion, instead of just IP. Can you try using this:
[code]

[2019-04-10 21:42] lzang commented on #72186
@maktouch Are you able to reproduce the issue? If you can, you can ping me with your cluster info so that we can take a look.

[2019-04-10 21:43] neolit123 commented on #76377
i'm not seeing this particular problem in a local HA test setup.

but i do see a spam of:
[code]

when calling:
[code]

@kubernetes/sig-cluster-lifecycle

[2019-04-10 21:48] neolit123 commented on #76357
/close

please read details about the v1beta1 config here:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

there is no  field apiServerCertSANs in v1beta1.
to achieve that you need:
[code]

[2019-04-10 21:48] #76357 closed

[2019-04-10 22:09] MrHohn commented on #76289
I see, one issue is that the [`ApplyDefaults` func](https://github.com/kubernetes/kubernetes/blob/84b561033eea9a4dac5b04df4f387efa7a7e9940/cmd/kube-proxy/app/server.go#L468) seems to happen before we actually load from the given config file (in the [`Complete()` func](https://github.com/kubernetes/kubernetes/blob/84b561033eea9a4dac5b04df4f387efa7a7e9940/cmd/kube-proxy/app/server.go#L212-L230)). He

[2019-04-10 22:24] #56430 closed

[2019-04-10 23:54] zufardhiyaulhaq commented on #76075
what tools do you use to create the cluster?

[2019-04-11 00:25] #58102 closed

[2019-04-11 01:07] Jacksonary commented on #76075
@zufardhiyaulhaq
In my case, cluster just has one master and to worker node

[2019-04-11 01:20] hex108 commented on #76386
@ev4ern You could try admission controller `PodNodeSelector` https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

[2019-04-11 01:21] zhan849 commented on #45419
+1
k8s v1.12.3
docker 18.06.2-ce

[2019-04-11 02:06] DanielZhangQD commented on #76376
it's same issue with #75360 and has been fixed by:
#76109

[2019-04-11 02:06] #76376 closed

[2019-04-11 02:10] zq-david-wang commented on #76397
it seems that you install different versions of golang into same directory. I think you need to remove older version of golang before installing new one. Or you can use different directory as goroot for different version of golang

[2019-04-11 02:21] olivejing commented on #72905
I am using k8s v1.13.4 now, the issue still exist:
E0411 02:17:53.404234       1 pv_protection_controller.go:116] PV pvc-fd256216-5bff-11e9-a069-fa163ec82c85 failed with : Operation cannot be fulfilled on persistentvolumes "pvc-fd256216-5bff-11e9-a069-fa163ec82c85": the object has been modified; please apply your changes to the latest version and try again

[2019-04-11 02:33] alejandrox1 commented on #76397
Thank you @zq-david-wang ! That was actually the problem.
Confirmed by accident while messing around with ginkgo.
/close

[2019-04-11 02:33] #76397 closed

[2019-04-11 02:37] ngtuna commented on #43516
Can anyone tell me the good way to go around this issue ? So far I only see this guy telling the solution:

But I am not really sure about the negative effect of setting those two params.

[2019-04-11 02:42] SataQiu commented on #76206
I would like to take:
test/e2e/framework/exec_util.go

[2019-04-11 02:46] marckhouzam commented on #74178
@superbrothers Were you able to make progress on this?  I have a working patch for the completion of the plugin name (part #1 of this issue).  I can make a PR for it if it can help.

[2019-04-11 03:05] YoubingLi commented on #76231
@aleozlx

　STDOUT cannot get the output from following code. Can you help check?

    println!("Importing");
    match py.import(mod_name) {
    //     let ref action: String = ctx_step.unpack("action").unwrap();
        Ok(mod_py) => {
            println!("call_method1()");
            match mod_py.call_method1(action, (pyo3::types::PyDict::new(py), )) {
                Ok(_) => {

[2019-04-11 03:44] mingzhu02 opened #76412 "kubectl have nil pointer panic"
kubectl version 1.9.6
[code]

[2019-04-11 04:39] andyzhangx commented on #68791
/reopen

[2019-04-11 05:30] vllry commented on #72392
@phanisowjanyavutukuri would you mind filing a separate issue, if you still have a problem? That sounds like it may be an unrelated firewall issue. Kubernetes does not normally distinguish private vs public IP interfaces.

/close

[2019-04-11 05:30] #72392 closed

[2019-04-11 05:35] WanLinghao commented on #76206
When I try refactor `pv_util.go`, I found that it includes too many functions and many of them has none relationship with pv/pvc at all. So I decide to split those functions into different files. I create two new directories to put them: `framework/pod  framework/pvpvc`.
But now I am in trouble with package loop import.   I think we need move util.go file to its own sub directory(this file is insa

[2019-04-11 05:42] #76248 closed

[2019-04-11 05:45] peter-wangxu opened #76416 "When sandbox got recreated, related container were not killed explicitly"
**What happened**:
When sandbox container got recreated, whatever reason(server reboot, sandbox got killed), the related container in the pod should be killed explicitly, otherwise the cpu manager would leave the container in the /var/lib/kubelet/cpu_manager_state, causing cpu leak

**What you expected to happen**:

the expected behavior should be: the containers in the pod got killed and the life

[2019-04-11 05:47] dixudx commented on #76416
cc @kubernetes/sig-node-bugs
/sig node

[2019-04-11 05:58] hprateek43 commented on #75567
@cheftako I am planing to introduce a check for kube-system namespace in line 136 in start_addon function to explicitly skip the kube-system namespace creation. Will it be a good approach ? Or should I comment out the line 214 itself that will prevent the trigger of namespace creation?

[2019-04-11 06:02] aleozlx commented on #76231
This is a great insight and really narrowed it down! The following shows that PyO3 failed to output when it is being redirected because there wasn't even a write() system call for the desired output. After comparing what's happening between `close(3)` and `write(1, "=====....`, I think it is safe to conclude the issue is with PyO3 and not Kubernetes as it only takes a redirection to trigger this.

[2019-04-11 06:02] #76231 closed

[2019-04-11 06:18] Pingan2017 commented on #76416
[code]
no err in my cluster.
[root@hpa-vm:~]$ kubectl version
Client Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.0-alpha.0.1067+eaa78b88ac25a6", GitCommit:"eaa78b88ac25a61bfb1aa81d118c5ffeda041b64", GitTreeState:"clean", BuildDate:"2019-03-15T08:03:30Z", GoVersion:"go1.11.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15+", GitVersion:

[2019-04-11 06:20] maktouch commented on #72186
I can't reproduce the issue :(

[2019-04-11 06:21] Pingan2017 commented on #76412
what the version of your server?
using kubectl version?

[2019-04-11 06:25] mingzhu02 commented on #76412
kube-apiserver version is 1.9.6

[2019-04-11 06:40] peter-wangxu commented on #76416
@Pingan2017 Can you please share your kubelet config? here is mine:
[code]

[2019-04-11 06:54] manythans commented on #64073
Not really working. From official websit, the Kubeadm can detect the docker cgroup setting and adapt the kubelet to use the same cgroupfs or systemd, that I have tried.
It couldn't resolve CA permission denied issue.

[2019-04-11 06:58] peterromfeldhk commented on #26944
also having the issue with DaemonSet
[code]

[2019-04-11 07:02] vllry commented on #76267
/remove-triage unresolved

[2019-04-11 07:11] kidrocknroll opened #76424 "kubelet panic during startup with etcd configuration"
## What happened:
kubelet panic during startup after I add [etcd-configuration](https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/#setting-up-the-cluster) as follow:

[code]

## Environment:

###  kubectl && docker version
[code]

###  Cloud provider or hardware configuration:

https://cloud.tencent.com/

### OS && Kernel:

[code]

###  docker systemctl message:

[code]

###

[2019-04-11 07:17] kidrocknroll commented on #76424
/sig kubeadm

[2019-04-11 07:17] kidrocknroll commented on #76424
/sig kubelet

[2019-04-11 07:42] aleozlx commented on #76231
There are multiple subtle things involved. Firstly, it is a known issue that Python uses buffered i/o by default, which can cause outputs missing unless it is turned off by setting the `PYTHONUNBUFFERED` environment variable, also dropping the script into a terminal can achieve a similar effect.

Whether we expect output can be summarized by the following logic table:

[code]

Note that in the yml

[2019-04-11 07:55] kidrocknroll commented on #76424
sig /cluster-lifecycle

[2019-04-11 07:56] georgekaz commented on #62036
I don't think this should have been left to go stale because this issue is real and goes against how the probes are described in the docs. We have a probe that, due to API limits, can only happen every 600s, but that should not mean the first probe takes up-to 10m to happen after a pod first starts. I understand the logic about not wanting all probes to happen at once if the kubelet crashes, but i

[2019-04-11 07:56] kidrocknroll commented on #76424
/sig node

[2019-04-11 08:18] tiptop-labs opened #76429 "Apparently wrong CNs in documentation: PKI Certificates and Requirements"
**What happened**:

Inspecting the certificates that were installed for a Kubernetes 1.13 cluster by kubeadm revealed several discrepancies to the current documentation in ["PKI Certificates and Requirements"](https://kubernetes.io/docs/setup/certificates/) with respect to actual vs. documented certificates.

**What you expected to happen**:

I expected an exact match with the documentation. When

[2019-04-11 09:13] zonesan commented on #76107
I got the same issue.
In my admission webhook server logic, if a deployment.spec.replicas > 1 then webhook deny the request and return some error message.
This mechanism works well when I use `kubectl edit deploy/*`, but when I use `kubectl scale deploy/* --replicas=3`, webhook denies, but kubectl returns success and replicas value still remains 3.

[2019-04-11 09:15] hprateek43 commented on #67777
@DirectXMan12 I would like to work on this issue. Is it still open?

[2019-04-11 09:20] danielqsj commented on #76258
/cc

[2019-04-11 09:33] mucahitkurt commented on #74812
When I check [the code](https://github.com/kubernetes/kubernetes/blob/39073f0b9f642ed658cbe7a81f980394089f0a6f/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go#L152) it seems to me when uninstalling CSI driver is completed, removing nodeID from node annotations should also be completed. There are [related test codes](https://github.com/kubernetes/kubernetes/blob/39073f0b9f642ed658cbe7a81f98039408

[2019-04-11 09:41] jkzhao commented on #75806
even though I set log level=0, this log message always printed every second.

[2019-04-11 09:42] CallMeFoxie opened #76431 "Kubelet keeps creating identical rule on Deb Buster"
**What happened**: Kubelet keeps creating identical rule:
[code]

**What you expected to happen**:
Have only one created

**How to reproduce it (as minimally and precisely as possible)**:
Run kubelet 1.12.7 on Debian Buster

**Anything else we need to know?**:
This issue does not seem to happen on Debian Stretch and kubelet 1.12.5

**Environment**:
- Kubernetes version (use `kubectl version`): 1.1

[2019-04-11 09:48] CallMeFoxie commented on #76431
/sig networking

[2019-04-11 09:51] CallMeFoxie commented on #76431
tried
[code]
to switch from `/usr/sbin/iptables-nft` to `/usr/sbin/iptables-legacy` and it seems to be working for the past 10 minutes fine? I wonder if there is some compatibility issue.

Actually there maybe is, as that one rule was created under the new iptables yet the other rules are under the -legacy version).

[2019-04-11 10:01] CallMeFoxie commented on #76431
So it is a duplicity of #71305 ... should we track this here as this is kubelet and not kube-proxy or should we track it together?

[2019-04-11 10:14] mucahitkurt commented on #74729
How is this issue related with sig storage?

[2019-04-11 10:17] SunilManika opened #76433 "kubeadm join command fails to join the HA k8s master cluster"
I am setting up kubernetes 1.14 HA on AWS.

I am using Stacked etcd topology with 3 master and 5 worker nodes. I am able to run kubeadm init command on first master node, and run kubeadm join command on the 2nd master node. I see both are successful and able to list using kubectl get nodes command.

However, the same kubeadm join command fails on 3rd master node, the command fails.

[code]
[code]

[2019-04-11 10:23] SunilManika commented on #76433
area/question

[2019-04-11 10:25] Thoro opened #76435 "PresistentVolumeClaims for batch/jobs"
**What would you like to be added**:

Please add VolumeClaimTemplates to batch/jobs.

**Why is this needed**:

Currently the only way to dynamically provision new volumes is via the statefulset.

In my specific case, I have a zfs provisioner, that can create clones based of specified volumes. I would like to create a new clone for each job that runs based on the specified volume. The volume update

[2019-04-11 10:56] ArtemAvramenko opened #76436 "Volume mount fails with "cannot open directory" after some period of inactivity"
**What happened**:
I mount host folder and it works after applying. But after some period of time (one hour or more) or after host rebooting, the volume is gone:

    # cd /my-mount-path
    # ls
    ls: cannot open directory '.': No such file or directory

**What you expected to happen**:

The volume should be mounted even after reboot.

**How to reproduce it (as minimally and precisely as possib

[2019-04-11 11:01] corneliusweig commented on #74178
@marckhouzam This is a great first step! I do think however, that the real value is auto-completion for the plugin options. I can roughly remember what plugins I have, but _not_ what options they offer. That's the real value here, I think.
This will probably need a contract for how plugins make completion available (e.g. by following the kubectl standard of `my-plugin completion bash/zsh`). WDYT?

[2019-04-11 11:04] ArtemAvramenko commented on #76436
@kubernetes/sig-windows-bugs

[2019-04-11 11:12] lichuqiang commented on #76382
Here I tried to tell the story more briefly:
Normally container status in the lifecycle of the pod above looks like this:
create pod (container "c" terminated, container "d" running) -->delete pod(container "c" terminated, container "d" terminated)-->pod API object got removed

But for some reason (I guess there were too many events of the pod at the time, the event triggered by PLEG to update con

[2019-04-11 11:16] denglouping commented on #75162
Sorry It doesn't happen all the time, and also I noticed sometimes after I updated my deployment, got the running status of new pods, but the outdated replicaset was still there with the outdated pods.

[2019-04-11 11:18] wojtek-t commented on #75833
It appeared that the commit 07e738ec32025da458cdf968e4f991972471e6e9 isn't the most faulty one for us - running scalability tests against that commit doesn't show significant drop in metrics.

In the lack of better ideas, we decided to bisect changes in golang by running full scalability suite on 5k-node cluster against them. This will take couple more days though...

[2019-04-11 11:20] lichuqiang commented on #76382
[code]

Here I update func `ShouldContainerBeRestarted` like this, following the rule in func `checkContainerStateTransition` of status manger, and for the pod above, it would not try to transit container "c" from "terminated" to "waiting", and when the event to update container "d" from "Running" to "Terminted" lost, it would looks like this:

create pod (container "c" terminated, container "d" r

[2019-04-11 11:38] PierluigiLenociAkelius commented on #69461
/remove-lifecycle stale

[2019-04-11 11:50] brynmathias commented on #49926
Same problem as well, AWS, eks. k8s version 1.11.0
See the issue on c5.9xlarge machines and on p2.xlarge instances.

I have a feeling that it might be due to the maximum number of ebs attachments to an ec2 node.
I do not know if the maximum attachment limit is total, or the attachments are properly removed.

[2019-04-11 11:58] daixiang0 opened #76438 "kuberentes liveness cannot visit service by dns"
I deploy es and fluentd in same namespace`test`, and wirte below config to ensure fluentd can visit es:
[code]

Not work, then i use whole dns name, still failed:
[code]

I remove liveness part and use `curl` in fluentd pod, that works:
[code]

Why they behave different?

Is there any way to do this?

[2019-04-11 11:59] daixiang0 commented on #76438
/sig network

[2019-04-11 12:56] skonto commented on #74415
@liggitt there is a discussion about this and the multi-tenancy issue [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-wg-multitenancy/Jzaty0FLiy0/yaVJ6RpbCAAJ), you might be aware of it already. There are trade offs when you do that at the client side, many watchers etc..

[2019-04-11 13:01] wojtek-t commented on #76008
And fixed now.

[2019-04-11 13:01] #76008 closed

[2019-04-11 13:29] marckhouzam commented on #74178
@corneliusweig I've been thinking about how to do the plugin options completion.  Based on the patch I have now, I believe what will be needed is to be able to ask the plugin what the possible completions can be (based on the user-specified parameters).

So the plugin won't need to generate a bash or zsh completion script (which is difficult for the author of the plugin) but just output possible c

[2019-04-11 13:52] superbrothers commented on #74178
Hi guys,

I've already implemented completion for plugins (subcommands only, doesn't include options) as https://github.com/superbrothers/kubernetes/tree/completion-plugins. However it needs to be refactored more.

You can try completion for plugins with the following steps:

First, prepare the repository, and build a kubectl.

[code]

Install kubectl-hello plugin for completion testing.

[code]

[2019-04-11 14:20] ncdc commented on #76289
We call `ApplyDefaults` in `NewProxyCommand` so the flag help text shows the default values when you run `--help`.

When the config file is loaded, the call to `UniversalDecoder().Decode()` applies defaults (i.e. it calls `SetDefaults_KubeProxyConfiguration`) if values are not present in the config file and there are applicable defaults.

I don't believe there is any issue with order of execution.

[2019-04-11 14:20] johnSchnake commented on #76206
@WanLinghao I'm thinking that may be required as well.

I hadn't done it yet in my PR but if try and follow the general rule that we should only import files _farther_ down the path (rather than back up the path) then anything we want the `framework/<pkg>` files to share along with `framework` needs to be put in a separate `framework/util`

For me, it is the `IsRBACEnabled` method. It is used in a

[2019-04-11 14:23] ncdc commented on #76289
I just tested `master` with a slight modification - I have it print out the resolved configuration after loading from `--config` and then it exits. I created a config file with the healthz and metrics bind addresses set to `0.0.0.0` and `127.0.0.1`, respectively. The values that were printed out had the ports appended (from the defaulting logic).

[2019-04-11 14:40] #70937 closed

[2019-04-11 14:40] johnSchnake commented on #76206
So the `ProviderIs` is one of the many functions in that `util.go` file you were talking about @WanLinghao . It, like a lot of the other methods there, really just need access to the test context.

Since that is such a shared value which even our `framework/<pkg>` utils will need, maybe the larger refactor we need to do here is pushing that down into it's own `framework/testContext` package?

Obvi

[2019-04-11 14:43] neolit123 commented on #76433
can you share your kubeadm configuration file?
also concurrent join of CP nodes is not supported - are you waiting a little before joining the CP nodes?

[2019-04-11 14:45] neolit123 commented on #76433
/area kubeadm
/sig cluster-lifecycle
/priority awaiting-more-evidence

[2019-04-11 14:46] prune998 commented on #60295
one year for this "simple" feature ?
Will have to use kustomize instead...

[2019-04-11 14:47] neolit123 commented on #76429
please open this same ticket in kubernetes/kubeadm where is the correct location for kubeadm tickets.
/sig cluster-lifecycle
/close

[2019-04-11 14:47] #76429 closed

[2019-04-11 14:49] aleksystasiak commented on #56430
I'm having same issue on 1.13.4 when metrics-server breaks request to delete namespace
Also some requests to apiserver will fail or hang from same reason
/reopen

[2019-04-11 14:59] SunilManika commented on #76433
Below is my kubeadm init configuration file.

---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
apiServer:
  extraArgs:
    cloud-provider: aws
  certSANs:
  - kubedemo.aws.test.com
clusterName: kubedemo
controlPlaneEndpoint: "kubedemo.aws.test.com:6443"
controllerManager:
  extraArgs:
    cloud-provider: aws
    configure-cloud-routes: "false"
    address: 0.0.0.0
kubernetesVersio

[2019-04-11 15:03] SunilManika commented on #76433
I am invoking the `kubeadm join` serially. I have time difference of 2 mins between the nodes.

[2019-04-11 15:17] lersouza opened #76447 "Add transparent corporate proxy support"
**What would you like to be added**:

Add, maybe in Endpoint object, support for making requests through a corporate proxy.
This would allow service in the cluster to disregard corporate proxy. One could configure an external service by using a Service object and an Endpoint object with corporate proxy information.

**Example**:
[code]

**Why is this needed**:

Many companies host in-house K8s clu

[2019-04-11 15:23] lersouza commented on #76447
/sig network

[2019-04-11 15:24] lersouza commented on #76447
/sig service-catalog

[2019-04-11 15:28] krisdock commented on #75886
@anguslees thank you for the update. That makes sense. I'll go ahead and close this.

[2019-04-11 15:28] #75886 closed

[2019-04-11 15:56] fejta-bot opened #76449 "pr:pull-kubernetes-e2e-gce-device-plugin-gpu flaked 14 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-device-plugin-gpu
 Flakes in the past week: **14**
 Consistency: **97.20%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Timeout | 13 |
| TearDown | 6 |
| Up | 6 |

#### Previously closed issues for this job flaking:
#56736 #68987

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-04-11 16:23] zjgoodman commented on #60807
I'm a kubernetes noob so I can't offer much info here but I also have 2 namespaces stuck in terminating status. My kubernetes setup is using [IBM Cloud Private 3.1.2 Community Edition](https://www.ibm.com/support/knowledgecenter/en/SSBS6K_3.1.2/kc_welcome_containers.html)

[code]

I have two namespaces stuck in the terminating state
[code]
When I check the finalizers as described in [this comment]

[2019-04-11 16:35] kszarlej commented on #50375
That would be useful 👍

[2019-04-11 16:52] chiluk commented on #67577
I have now posted patches to LKML about this.
https://lkml.org/lkml/2019/4/10/1068

Additional testing would be greatly appreciated.

[2019-04-11 16:52] chiluk commented on #67577
I have now posted patches to LKML about this.
https://lkml.org/lkml/2019/4/10/1068

Additional testing would be greatly appreciated.

[2019-04-11 16:58] splnanthakumar opened #76453 "Liveness probe failed: /bin/sh: 0: Can't open /kickstart/liveness/workers.sh my_worker"
**implemented livenessprobe and it throws the error Liveness probe failed: /bin/sh: 0: Can't open /kickstart/liveness/workers.sh my_worker**:

here my worker is the param i am passing

MyLivenessCode:
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - /kickstart/liveness/workers.sh my_worker_name
          failureThreshold: 2
          initialDelaySecon

[2019-04-11 17:15] Thoro commented on #76435
@kubernetes/sig-storage-feature-requests

I guess?

[2019-04-11 17:15] timothysc commented on #76342
/assign @johnSchnake

[2019-04-11 17:48] ronaldodia commented on #17088
Worked for me. Thanks

[2019-04-11 17:52] tedyu commented on #76382
Can you show existingStatus is obtained in the caller to ShouldContainerBeRestarted ?

[2019-04-11 17:59] joelsmith opened #76454 "Deadlock causes flake in Horizontal Pod Autoscaler unit tests"
**What happened**:

The unit test `TestEventNotCreated` for Horizontal Pod Autoscaler frequently deadlocked on the OpenShift CI system.

**What you expected to happen**:

The unit test should be robust and succeed without having to win a race condition to avoid deadlock.

**How to reproduce it (as minimally and precisely as possible)**:

I'm not sure.

**Anything else we need to know?**:

Here are

[2019-04-11 18:04] joelsmith commented on #76454
/sig autoscaling

[2019-04-11 18:06] MrHohn commented on #76289
@ncdc Thanks! That clears my confusion --- so the issue is purely because `SetDefaults_KubeProxyConfiguration()` doesn't work with IPv6 address, but not the order of execution. We can address this with #76320.

[2019-04-11 18:07] joelsmith commented on #76454
/assign @joelsmith

[2019-04-11 18:12] DirectXMan12 commented on #67777
/unassign @DirectXMan12
/assign @mwielgus

I'm no longer working on autoscaling stuff.  please check with the current autoscaling leads.

[2019-04-11 18:32] jmcmeek commented on #76292
I tried adding the `result.CPU.UsageNanoCores` assignments to 1.13.5 and building hyperkube.  That appears to fix the problem.   Seems odd that those lines were dropped from the cherry-picks.

[2019-04-11 18:53] jmcmeek commented on #76292
Shall I turn my work into a PR?  If so, start with release-1.13?

[2019-04-11 19:43] rodrigopmatias commented on #74262
solver my problem updating docker to distributed of docker.com

[2019-04-11 20:13] j-griffith opened #76460 "Provide DataSource info in PVC describe"
Currently there's now way for a user to check what they entered in the DataSource field of a PVC create request.  In the past, this wasn't as confusing because if one were to submit invalid info (unsupported Kind) the verification checks would fail and the request would be rejected with a helpful message indicating why.

As of 1.14 that's no longer the case, a user is able to put anything they wis

[2019-04-11 20:13] j-griffith commented on #76460
/sig storage

[2019-04-11 20:13] j-griffith commented on #76460
/assign me

[2019-04-11 20:44] tiffanyfay opened #76465 "Remove credential provider LazyProvide"
**What would you like to be added**:
Remove credential provider LazyProvide from credential provider and kubelet etc. Follow on to #75587.

**Why is this needed**:
Lazy Provide is no longer used and should be removed.

/assign tiffanyfay

[2019-04-11 20:45] tiffanyfay commented on #76465
/sig cloud-provider
/cc mcrute andrewsykim

[2019-04-11 20:46] #70942 closed

[2019-04-11 20:55] andrewsykim commented on #76465
/area cloudprovider
/priority important-soon

[2019-04-11 20:55] andrewsykim commented on #76465
/sig auth

[2019-04-11 20:55] marckhouzam commented on #74178
Cool! You've used the same technique I did.  However, may I suggest re-using the code from the plugin package instead of copying it?

https://github.com/VilledeMontreal/kubernetes/commit/6f500099a8ee05b42d4cc8f2f33f7148fb75fd4a

[2019-04-11 21:05] rcreasey commented on #43874
I, too, would be interested in seeing this be possible in a PodPreset.

/reopen
/remove-lifecycle rotten

[2019-04-11 21:15] corneliusweig commented on #74178
@marckhouzam Well, you are absolutely right in saying that we can't just call a plugin with some flag to produce the completion script, because who knows what will happen. Therefore, option completion for plugins has to go the route via an external completion script, like
[code]

However, I'm pretty sure that those completion files need to be bash/zsh scripts, because they need to process contextu

[2019-04-11 21:35] dcbw commented on #71305
@danwinship the symlink itself will actually tell you what the binary is. Following the 'iptables' symlink will either:

1) be a direct symlink to iptables-legacy or iptables-nft

[code]

2) on systems that use 'alternatives' (because hey Linux is all about CHOICE! right???) a symlink to /etc/alternatives/iptables which itself will be a symlink to iptables-legacy or iptables-nft
[code]

Even that'

[2019-04-11 21:42] dcbw commented on #71305
Another option I'm checking is whether the container could call 'nft list <something>' to see if iptables-nft had already run before. Not sure yet, but might be accurate enough to let tools the container bundles decide.

[2019-04-11 22:15] danwinship commented on #71305
I wasn't trying to argue for that. I was just saying that "use the host iptables binary" is a very underspecified answer, and we need to provide more detail than that, or we're going to keep fielding duplicates of this bug forever.

(I guess in the general case you have no idea what the underlying distro is so you really can't assume anything beyond "`iptables` itself is in either `/sbin` or `/usr

[2019-04-11 22:17] tedyu opened #76469 "Use Go's context package in place of CloseNotifier"
**What would you like to be added**:
From server.go:
[code]
We should use context in place of:
[code]
**Why is this needed**:
CloseNotifier is deprecated.

[2019-04-11 22:24] yujuhong opened #76470 "bazel should support building multiple platforms"
#73930 added the support of cross-compilation for bazel, but there is currently no way to build for multiple platforms. For example, to build release tarballs for both windows and linux, one would have to run the following commands.

[code]

It'd be good to support multi-platform building, and then we can extend kubetest to enable this for test jobs that include multiple platforms.

/cc @ixdy
/cc

[2019-04-11 22:47] #70881 closed

[2019-04-11 22:47] #70751 closed

[2019-04-11 22:55] marckhouzam commented on #74178
@corneliusweig kubectl already has some dynamic completion code to allow to complete pod names for example, which actually calls kubectl itself.  I think I can use the same technique for plugin parameter completion.  So here's an example of what I'm thinking:

[code]
Then  when the user types `kubectl plugin --u<TAB>` the kubectl completion script will call `kubectl plugin completion --u`.  This c

[2019-04-11 23:02] #75741 closed

[2019-04-11 23:13] superbrothers commented on #74178
@marckhouzam Thank you for supporting me ;) I adds you as co-author to commit when I send a PR.

[2019-04-11 23:29] marckhouzam commented on #74178
@superbrothers Thanks

[2019-04-12 00:28] jeremywadsack commented on #73791
Had this today when the network stopped resolving hostnames. Resolving that recovered things for me, but the message could be improved.

#66013 might be related.

[2019-04-12 00:50] josdotso commented on #76289
@MrHohn I recall trying it with port numbers too, and saw same issue. Shall I try again to be sure?

[2019-04-12 00:53] MrHohn commented on #76289
@josdotso Thanks, yeah would be great if you can try with that.

[2019-04-12 01:16] josdotso commented on #76289
@MrHohn The square brackets are the fix I guess:

With config...

[code]

the result is:

[code]

But, with config...

[code]

the result looks good:

[code]

I'm not sure yet what's up with the `proxier.go:583` error, but it seems unrelated.

Thanks! For some reason, I didn't try the IPv6 address with brackets + port number combination the other day.

[2019-04-12 01:21] draveness commented on #76206
Just got two PRs approved, I'd like to take one more file :)

[code]

[2019-04-12 01:29] dcbw commented on #71305
Yeah, basically. Which is what we're doing in OpenShift. Probably need to mount /lib too because the iptables binaries link to libxtables and libip[4|6]tc and libpcap.

[2019-04-12 01:36] daixiang0 commented on #76438
/knid bug

[2019-04-12 01:37] felixwqp opened #76477 "Error in configuration:unable to read client-cert /Users/felixwang/.minikube/client.crt for minikube due to open/.minikube/client.crt: no such file or directory #19571"
I encountered a few problems when I “install kubectl” on my mbp. I would be really appreciated if anyone could give me some suggestions,

The first time when I installed according to https://kubernetes.io/docs/tasks/tools/install-kubectl/, everything is good, however I input “rm -rf ~/.minikube” mistakenly, which causes the config files are deleted, and the second time I reinstall it, I cannot fin

[2019-04-12 01:47] Pingan2017 commented on #76438
the probe is executed on the node, not in pod.

[2019-04-12 01:49] daixiang0 commented on #76438
not right, i have clean all iptables but still fail.

[2019-04-12 01:50] #70350 closed

[2019-04-12 01:57] Pingan2017 commented on #76438
i mean the probe execute on node , can't visit service by svc name.

[2019-04-12 01:57] Pingan2017 commented on #76438
[code]

[2019-04-12 02:25] daixiang0 commented on #76438
Is there any docs comment it?

[2019-04-12 02:32] ahmetb commented on #73791
Can confirm it happens if GKE cluster existed before but deleted later on.

[2019-04-12 02:49] andrewrynhard commented on #69006
Anyway we can get this reopened or should I create a new issue? We are running into this issue in https://github.com/talos-systems/talos.

[2019-04-12 02:53] danielqsj commented on #76469
I'd like to have a try.
/assign

[2019-04-12 03:06] tanshanshan commented on #76412
the version you used is old,
Even it is a bug , it can not be fixed in 1.9.6
you should better upgrade your version.

[2019-04-12 03:22] magicsong commented on #76205
any updates?

[2019-04-12 03:28] xichengliudui opened #76480 "Kubelet has an exception log "couldn't propagate object cache: timed out waiting for the condition""
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

Log information: https://github.com/xichengl

[2019-04-12 03:28] xichengliudui commented on #76480
/sig node
/area kubelet

[2019-04-12 03:52] #70161 closed

[2019-04-12 04:00] unmurphy commented on #70202
@discostur  thx, resolved this issues with your answer!

[2019-04-12 04:22] k-toyoda-pi commented on #72956
I list script files which lint failures are not fixed in PRs. Please refer to this.

./build/lib/release.sh
./cluster/clientbin.sh (fix a part of failure in #76152)
./cluster/gce/config-common.sh
./cluster/gce/config-default.sh
./cluster/gce/config-test.sh
./cluster/gce/gci/configure-helper.sh
./cluster/gce/gci/configure.sh
./cluster/gce/gci/flexvolume_node_setup.sh
./cluster/gce/gci/health-monito

[2019-04-12 04:44] xiaoxubeii commented on #75825
It duplicates with #73269. There are some concerns about high frequency requests and loads at api-server & etcd level.

[2019-04-12 05:04] fejta opened #76484 "Remove privileged: true from pull-kubernetes-kubemark-e2e-gce-big"
ref https://github.com/kubernetes/test-infra/issues/12172

Adding this back for now, but it is not clear why this job needs to run in an insecure container

@kubernetes/sig-scalability-bugs

[2019-04-12 06:00] peter-wangxu commented on #76416
I tried on newer version(1.14.1), a fix somehow mitigated the dead container in state file, while the state file clean(meaning killcontainer) happens after the new container creation, that mean if the host doesn't have enough cpu, the new container is not able to start up due to enough cpus.

My fix is trying to release the cpuset occupied by the dead container ASAP.

[2019-04-12 06:06] feiskyer commented on #71838
@yastij I'm closing the issue since it's not active for a long time. Feel free to reopen it if you still have problems.

/close

[2019-04-12 06:06] #71838 closed

[2019-04-12 06:26] clivez commented on #72308
Will anybody help?

[2019-04-12 06:29] WanLinghao commented on #76206
@johnSchnake @andrewsykim It seems that we should make decision about util.go file before push on.

[2019-04-12 06:32] WanLinghao commented on #76370
@liggitt Do you think this is right direction ?

[2019-04-12 06:34] herderwu commented on #37922
use china source:
cat <<EOF > /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=http://mirrors.aliyun.com/kubernetes/yum/repos/kubernetes-el7-x86_64
enabled=1
gpgcheck=0
repo_gpgcheck=0
gpgkey=http://mirrors.aliyun.com/kubernetes/yum/doc/yum-key.gpg
        http://mirrors.aliyun.com/kubernetes/yum/doc/rpm-package-key.gpg
EOF

setenforce 0
yum install -y kubelet kubeadm kubectl

[2019-04-12 06:36] draveness commented on #76206
I think maybe it's better to refactor the other files as many as possible, and then take a look up at the util.go, and find out how to move the functions in util.go file to other packages.

[2019-04-12 06:38] danielqsj commented on #76484
hi @fejta , `pull-kubernetes-kubemark-e2e-gce-big` failed for a long time. Is this issue related ?
 https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-kubemark-e2e-gce-big

[2019-04-12 06:47] xichengliudui commented on #60987
+1
v1.13.2
Ref: https://github.com/xichengliudui/public-repo/blob/master/logs-02.md

[2019-04-12 06:51] hex108 commented on #73269
If so, could we make it(whether report the cpu/memory load information) an option for users?  I think it is really a useful feature.

[2019-04-12 06:52] hex108 commented on #75825
@xiaoxubeii Thanks for it!

[2019-04-12 06:52] hex108 commented on #75825
/close

[2019-04-12 06:52] #75825 closed

[2019-04-12 06:59] felixPG commented on #76377
@neolit123 and what about *kubectl logs -f* .This will trigger the error.

[2019-04-12 07:19] MichaelChirico commented on #73111
Ace-level useless error message 😂

Thanks Ademord, Mac solution worked for me 👍

[2019-04-12 07:38] cwdsuzhou commented on #76484
I have the  same issue

[2019-04-12 07:41] #76267 closed

[2019-04-12 07:53] wojtek-t opened #76490 "Setting up prometheus stack is failing in (some) presubmits"
e.g. this one:
[code]

Priority urgent, because it's blocking some merges.

[2019-04-12 08:00] wojtek-t commented on #76490
This is another example:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-beta/1116038326881619976/build-log.txt

[2019-04-12 08:03] olamy opened #76491 "Pod doesn't have inet6 on interface"
I'm using kube 1.14.1 with ubuntu 18.10 and docker 18.09.2
running an image with docker give me inet6 support:
[code]
The same image started as a pod doesn;t have the inet6 support
[code]
It used to work before upgrading ubuntu (17.10)
I didn;t upgrade anything regarding docker or kubernetes
Thanks

[2019-04-12 08:03] mm4tt commented on #76490
Will disable prometheus to unblock presubmits until we figure out what is going on

[2019-04-12 08:04] wojtek-t opened #76492 "Creating and/or deleting Managed Instance Groups is taking a lot of time in some tests"
I'm seeing things like this:
[code]
[coming from:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-beta/1116038326881619976/build-log.txt]

Deleting MIG shouldn't take 30 minutes.
I've seen a couple other cases like this too

[2019-04-12 08:05] olamy commented on #76491
/sig bugs
/sig network

[2019-04-12 08:05] olamy commented on #76491
/sig bugs

[2019-04-12 08:06] olamy commented on #76491
/sig network-bugs

[2019-04-12 08:06] wojtek-t commented on #76492
@kubernetes/sig-testing

[2019-04-12 08:17] javafoot commented on #61117
I have the same issue on K8S v1.10.11 with health CPU, memory and disk.
v1.10.11   <none>        CentOS Linux 7 (Core)   3.10.0-862.14.4.el7.x86_64   docker://1.13.1
Docker works normally by running "docker ps or info".

By this way, the issue is fixed temporarily.

After restarting docker deamon, there was no container running, meanwhile, kubelet logs kept printing:
kubelet[788387]: W0412 00:46:3

[2019-04-12 08:43] 1090223 opened #76493 "Kubernetes wildfly pod deployment fails to start"
I have a kubernetes wildflypod and kubernetes postgres pod. I have specified env variables so that they can talk to each other but this is not working. But when I am linking these containers in docker it is working fine. What could be possibly wrong?

[2019-04-12 08:49] #71903 closed

[2019-04-12 08:50] Asgoret commented on #70674
Same issue with deployment config via ansible k8s...any workarounds? I need automatically update deployment if i change config map >.<

[2019-04-12 08:57] ksandermann commented on #75342
@sjberman

I didn't test that case, so I can't say anything to that.
What would your expected behaviour be in that case ? That k8s removes the NotReady Node completely from the cluster after time x ?

[2019-04-12 09:16] mm4tt commented on #76490
For the later failure you linked, it seems that scheduler wasn't able to schedule the prometheus-k8s pod. Scheduler log:

[code]

[2019-04-12 09:21] wojtek-t commented on #76490
The original thing is from this one:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/75474/pull-kubernetes-kubemark-e2e-gce-big/1116560766443458560/

[2019-04-12 09:37] mm4tt commented on #76490
The presubmit failure is something else, it looks like it failed to created endpoints object.

[code]

In the kube-apiserver.log I see errors like
[code]

It looks like the `kubemark` namespace didn't exist... How is that possible in a kubemark test?

[2019-04-12 09:52] mm4tt commented on #76490
The presubmit issue doesn't seem related to Prometheus. The test would fail even if there is no prometheus. The root cause was broken kubemark setup.
It looks like the kubemark failed during setting up hollow-nodes (to be more precise during building docker images):
[code]

To compare this is how a good kubemark run looks like
[code]

[2019-04-12 09:54] mm4tt commented on #76490
To summarize, Prometheus is a red herring here. The kubemark cluster failed to start and this is the actual culprit here.
The start-kubemark.sh should fail if it's not able to set-up a fully operational kubemark cluster, it shouldn't ignore the setup errors.
We can also change CL2 to fail if there are no nodes detected in the cluster.

[2019-04-12 10:02] wojtek-t commented on #75833
Just to update this thread - we're bisecting Go 1.12 branch and there aren't that many remaining commits.
We already know that:
9d23975d89e6cc3df4f2156b2ae0df5d2cef16fb is a good one
10faf001077ea6b3907864f16a9f9099a7ba93 is a bad one

I hope that we will know the exact faulty commit on Monday.

[2019-04-12 10:22] #75774 closed

[2019-04-12 10:23] #75839 closed

[2019-04-12 10:35] ryandawsonuk commented on #76304
Would anyone be able to provide a go.mod snippet that should work right now?

[2019-04-12 10:52] andyzhangx commented on #76436
/assign

[2019-04-12 10:57] tuminoid commented on #76146
Hitting this too with 1.13.5

[2019-04-12 11:02] josh1707 commented on #76247
/close

[2019-04-12 11:03] #76247 closed

[2019-04-12 12:03] splnanthakumar commented on #76453
i found the issue. it was i missed the -c in livenessprobe: so the command should be like:
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - /kickstart/liveness/workers.sh license_worker
            initialDelaySeconds: 300
            periodSeconds: 3600
            failureThreshold: 2

[2019-04-12 12:03] #76453 closed

[2019-04-12 12:19] neolit123 commented on #76377
`-f` is just the flag to follow the log stream, i don't think this will cause a `net/http: TLS handshake timeout`.

[2019-04-12 12:22] kcyu2014 commented on #72486
also met this problem, could anyone offer some insight or suggestions? it seems like the k8s logic is to collect all initContainer's resource limit and lock those resources during running time. initContainer never release those...

[2019-04-12 12:24] alok87 commented on #76206
i would like to take:
`test/e2e/framework/metrics_util.go`

[2019-04-12 12:42] wojtek-t commented on #75460
[code]

works fine - this seem to be a problem with escaping.

[2019-04-12 12:42] #75460 closed

[2019-04-12 12:42] wojtek-t commented on #75365
It seems we're in much better shape now. Closing.

[2019-04-12 12:42] #75365 closed

[2019-04-12 12:45] mm4tt commented on #76490
I think we can close this bug and re-enable prometheus.
The presubmit issue is not related to prometheus at all.
The other failure seems to be a one-off PV/PVC issue, not sure if it's severe / frequent  enough to keep the prometheus disabled everywhere because of it.

[2019-04-12 12:45] wojtek-t commented on #69600
I'm closing this as obsolete - we should open a new one if needed.

[2019-04-12 12:45] #69600 closed

[2019-04-12 12:48] wojtek-t commented on #64022
We fixed that by list only object metadata.

[2019-04-12 12:48] #64022 closed

[2019-04-12 12:53] ArtemAvramenko commented on #76436
It seems that problem is hard to reproduce. I reset Kubernetes Cluster and the problem has gone, permanently I hope.

[2019-04-12 12:55] mm4tt commented on #76490
@misterikkit, could you take a look and explain how should we understand the error message we see in https://github.com/kubernetes/kubernetes/issues/76490#issuecomment-482502283, i.e.
[code]

[2019-04-12 12:57] andyzhangx commented on #76436
@ArtemAvramenko is it due to `/host_mnt/c/my-host-path` has changed after reboot? so the symlink does not work?

[2019-04-12 13:12] andyzhangx opened #76502 "detach azure disk should not hold data disk list for a long time"
**What happened**:
In some error condition when detach azure disk failed, azure cloud provider will retry 6 times at most with exponential backoff, it will hold the data disk list for about 3 minutes with a node level lock, and in that time period, if customer update data disk list manually (e.g. need manual operationto attach/detach another disk since there is attach/detach error, ) , the data di

[2019-04-12 13:18] ghouscht commented on #72878
We experience the same issue with k8s 1.14.1 installed with kubeadm and docker as cri:
[code]

The problem seems to be related in the combination of setting a custom `cpuCFSQuotaPeriod` (in our case 5ms) and the use of `systemd` as cgroup driver. As soon as I reconfigure docker to use cgroupfs and redeploy the cluster everything works as I would expect.

/var/lib/kubelet/kubeadm-flags.env:
[code]

[2019-04-12 13:20] mingzhu02 commented on #76412
i try  latest version,the bug has been fixed,thanks!

[2019-04-12 13:20] #76412 closed

[2019-04-12 13:54] ArtemAvramenko commented on #76436
@andyzhangx No, the С:\my-host-path folder is permanent and is on system drive physically.

[2019-04-12 13:57] towolf commented on #72216
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-04-12 14:46] jsafrane commented on #76435
@kubernetes/sig-apps-feature-requests is the right forum.

From storage perspective, I think it should work, however, it looks a bit weird to me and very specific to one use case.

[2019-04-12 14:52] dims opened #76504 "Evaluate and eliminate use of google.golang.org/api/compute/v0.alpha because it's 20M"
One of the top offenders that contribute to the size of our binaries is the v0.alpha API used in the GCE provider
[code]

Can we please check if the alpha features have already gotten promoted to beta? and if we really need the alpha features?

Steps to find sizes of built packages.
[code]

[2019-04-12 14:53] dims commented on #76504
/sig gcp
cc @jagosan @cheftako @liggitt

[2019-04-12 15:00] dims opened #76506 "Reduce sizes of binaries"
- [ ] [Evaluate use of google.golang.org/api/compute/v0.alpha](https://github.com/kubernetes/kubernetes/issues/76504)
- [ ] [Reduce size of VMWare library dependency](https://github.com/kubernetes/kubernetes/issues/66321)
- [ ] [Work with etcd folks to remove use of github.com/ugorji/go/codec](https://github.com/etcd-io/etcd/pull/10667)
- [ ] [Figure out how to rework credential providers](https:/

[2019-04-12 15:00] dims commented on #76506
/sig cloudprovider

[2019-04-12 15:02] dims commented on #76506
/sig gcp
/sig auth
/sig vmware

[2019-04-12 15:07] liggitt commented on #76504
Looks like most of the use is network related. Would be good to evaluate if the APIs we're using have graduated to beta and we can stop calling the alpha APIs

fyi @bowei @MrHohn

[2019-04-12 15:10] sjberman commented on #75342
@ksandermann Yeah, I would expect a node that is stuck in NotReady for some amount of time to be eventually removed from the cluster. Other cloud providers in different clouds have this behavior.

[2019-04-12 15:14] dmanbu commented on #71887
Seeing the same messages:

k8s: v1.14.1
Docker Version: 18.09.4-ce
Kernel: 3.10.0-862.el7.x86_64 #1 SMP Fri Apr 20 16:44:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

cgroup-driver=systemd

[2019-04-12 15:35] liggitt commented on #76304
if you want the dev stream of client-go:
[code]

if you want the latest 1.14.x release:
[code]

[2019-04-12 15:54] jkassis commented on #73297
merge merge.

[2019-04-12 15:55] farrukh90 commented on #74302
How did you do that? I mean how did you edit it?

[2019-04-12 16:05] bjhaid commented on #72102
I just tried using a SAN cert with my etcd nodes having the names of all etcd nodes. The apiserver connects to only the last etcd node in it's `--etcd-servers` list.

We run 3 apiservers per cluster and I can confirm the behavior the apiservers in this particular cluster is consistent that they are picking the last, however if I shutdown the last node the connect to the other 2 without issues, onc

[2019-04-12 16:25] dims commented on #75833
Looking through https://github.com/golang/go/compare/9d23975d89e6cc3df4f2156b2ae0df5d2cef16fb...10faf001077ea6b3907864f16a9f9099a7ba93

the following stand out for me
- https://github.com/golang/go/commit/faf187fb8e2ca074711ed254c72ffbaed4383c64
- https://github.com/golang/go/commit/8e093e7a1cd8a092f23717cb8f34bca489a3eee5

/me places bets on one of those 2 :)

[2019-04-12 16:32] jiatongw commented on #76206
There are a lot of error handling methods, in `util.go` and are referred by many other files. Another big refactor could be extracting them to an error handling specific file

[2019-04-12 16:43] dims opened #76509 "Update kube-up scripts to support using containerd CRI"
Context : please see https://github.com/kubernetes-sigs/kind/pull/428

Currently we only test the built-in dockershim CRI in all our CI jobs. We should add an option to test `containerd` CRI as well. To start we can just use the `containerd` built into docker 18.09 like we did in the kind job above. This should be an optional toggle so we can add some jobs to try the alternate CRI.

cc @Random-Liu

[2019-04-12 16:45] dims commented on #76509
@justinsb @thockin Any chance the k8s-infra WG support this experiment? we need a GCE cluster to try changes to kube-up.sh to support this

cc @idvoretskyi

[2019-04-12 16:52] akumria commented on #75380
This really feels like more of a low-level thing, rather than any specific to AWS.

I think the 'sig/aws' is undeserved here.

Although what is a "reasonable" value length limit? 1024? Why not 2048? Or why not 100?

It has to be arbitrary, but I agree that 63 is on the low-side of arbitrariness.

[2019-04-12 16:53] wojtek-t commented on #75833
That is our bet too - we're working with Go folks to confirm and fix/mitigate this.

[2019-04-12 16:54] draveness commented on #76435
Is there any other use cases for this feature? I dug around the historical issues and didn't find any similar requests.

[2019-04-12 17:01] draveness commented on #76447
/cc

[2019-04-12 17:05] #69101 closed

[2019-04-12 17:05] #1462 closed

[2019-04-12 17:12] japettyjohn commented on #69364
Ran into the same thing on my cluster, nodes running 1.10.7-gke.9 and master 1.11.7-gke.12. This started happening during a spike in CPU usage which caused autoscaling on one of the deployments, then resulting in autoscaling in the node pool. The few pods where the error was happening was on an existing node, not the one added as a part of scaling. Network on my cluster is not native VPC.

[2019-04-12 17:15] liggitt commented on #66321
looks like this package is now up to ~28MB

[2019-04-12 17:24] MrHohn commented on #76504
It may be possible that the existing alpha APIs have graduated to beta or GA, though wouldn't this come back once we have another alpha API integrated in future?

[2019-04-12 17:27] BenTheElder commented on #76492
why is this sig-testing? sounds like a GCP issue.

[2019-04-12 17:31] awadodeh commented on #73111
This worked for me as well on mac! Much appreciated!

[2019-04-12 17:38] jingxu97 commented on #76435
I am thinking whether it makes sense to have a separate API (maybe CRD) for VolumeClaimTemplates which can be referenced in different places. So user can use template reference instead of embedding it in different objects each time it is needed.

[2019-04-12 17:45] vladimirvivien opened #76512 "Add client-go example for dynamic package"
**What would you like to be added**:
Add documentation/example showing the usage of dynamic package in the client-go repo.

/sig api-machinery

[2019-04-12 18:16] andrewsykim commented on #66321
@liggitt is that from the latest simulator update or was there another update recently?

[2019-04-12 18:22] dims commented on #76504
@MrHohn we should not be adding any more "new" stuff to in-tree cloud providers right? :)

cc @andrewsykim

[2019-04-12 18:36] liggitt commented on #66321
the size increase looks to be due to go versions:

go1.10: 23M
go1.11: 27M
go1.12: 27M

[2019-04-12 18:48] liggitt commented on #66321
https://github.com/golang/go/issues/27266 looks relevant

[2019-04-12 18:49] andrewsykim commented on #76504
Yes, as per https://github.com/kubernetes/kubernetes/tree/master/pkg/cloudprovider#deprecation-notice we shouldn't anticipate cloud providers in-tree to add new features/integrations. Should only be incremental changes to fix bugs.

[2019-04-12 18:56] MaurGi opened #76517 "UDP packets from same source port do not round-robin in a kubernetes service"
**What happened**:
Have a Go client that opens a UDP connection and then loops forever sending packets to a kubernetes service with multiple replicas in the deployment, configured with type:ClusterIP/sessionAffinity:None

Packets are not load balanced across the pods, they all end up in the same pod until I stop the Go client and restart it.

If I run a script from command line using netcat, and l

[2019-04-12 19:02] MaurGi commented on #76517
/sig network

[2019-04-12 19:17] Thoro commented on #76435
Actually I really like that idea, maybe this would be the better approach.

Possibly there could also be a mutator / controller to control how the pvc are distributed on the pods (i.e. deployment with pvc templates), and how they are named.

Currently the only way to have dynamic volumes is with a statefulset. But sometimes you want them in a daemonset or deployment

[2019-04-12 19:56] #76217 closed

[2019-04-12 20:11] MrHohn commented on #76504
Right, thanks for the info. So it feels like the real fix here is https://github.com/kubernetes/enhancements/issues/668, after which we can remove all of `google.golang.org/api/compute` from k/k? Or is this causing immediate pain that we need to resolve sooner?

[2019-04-12 20:26] andrewsykim commented on #76504
If `google.golang.org/api/compute/v0.alpha` is needed for existing features in the GCE provider then I don't think it would be reasonable to remove it until the out-of-tree provider is supported like you mentioned. I think the ask here is if the `google.golang.org/api/compute/v0.alpha` dependency can be removed if we are importing v1 versions of the SDK. I haven't look through the GCE compute SDK

[2019-04-12 20:27] andrewsykim commented on #76504
cc @cheftako

[2019-04-12 20:33] andrewsykim commented on #76504
Seems like we create separate clients for alpha/beta versions of the client https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L104-L105 can we go through usage and see if it's feasible to remove?

[2019-04-12 20:36] liggitt commented on #76504
if it's a lot of work to tease out and remove, I'll settle for lumping it in with the rest of the "move out of tree" work, but it seemed worth checking, given it's the number 2 package in size

[2019-04-12 20:54] timothysc commented on #56694
@kubernetes/sig-scalability-misc

[2019-04-12 20:56] timothysc commented on #70248
/assign @aojea
/unassign @timothysc

[2019-04-12 20:56] timothysc commented on #70248
/assign @thockin

[2019-04-12 21:10] brentpearson commented on #76155
Can you elaborate on these? Specific instructions for how to do this would be awesome.

Is there a simple flag to add with the "kubeadm init" command that sets the imageRepository setting? I haven't read everything in that link closely, but it looks to be all about using one or more config files, in which case I'm worried that if I have to come up with all those config file contents, I'm going to

[2019-04-12 21:41] andrewsykim commented on #76504
After doing a quick scan of the provider, it seems like it would be quite a bit of work to do this and would actually break compatibility if I'm not mistaken.

[2019-04-12 21:42] yujuhong commented on #75147
@ddebroy I think this was fixed in test-infra. Closing?

[2019-04-12 21:43] neolit123 commented on #76155
try the `--image-repository=<your-registry>` flag with `kubeadm init` and let me know if it works for you.
i forgot that we have this in 1.14.

with regards to `--pod-infra-container-image`, after using the above flag with `kubeadm init/join` have a look at `/var/lib/kubelet/kubeadm-flags.env` to verify the value for `--pod-infra-container-image` is good.

in case the above does not work for the p

[2019-04-12 22:09] johnbelamaric commented on #73425
This shouldn't be closed yet, still several issues tied to it.

/reopen

[2019-04-12 22:51] andrewsykim commented on #76506
/assign

[2019-04-12 22:56] #68066 closed

[2019-04-12 23:42] MrHohn commented on #76504
@andrewsykim Thanks for checking that. It may not break compatibility, though will require touching many places for switching this and need to make adjustment to the auto-generating wrapper we built sometimes before.. So need more testing to keep this safe.

Also did another check on the vendor --- it seems like `github.com/GoogleCloudPlatform/k8s-cloud-provider` itself also imports this Alpha API

[2019-04-12 23:51] jimmycuadra commented on #75701
Any updates on this? Trying to update from k8s 1.12 to 1.13 with kubeadm and the very first step [according to the documentation](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13/) completely fails:

[code]

Shouldn't this be critically urgent?

[2019-04-13 00:09] tpepper opened #76526 "ci-kubernetes-verify and pull-kubernetes-verify are failing in 1.13 and 1.14 branches"
**Which jobs are failing**:
ci-kubernetes-verify-stable1
ci-kubernetes-verify-beta

**Which test(s) are failing**:
verify.godeps
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-beta/1116040340579553283
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-stable1/1116040340579553284
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/76485/pul

[2019-04-13 00:11] tpepper commented on #76526
/sig testing

I'll have PRs for 1.13 and 1.14 hopefully in just a bit here...

[2019-04-13 00:15] neolit123 commented on #75701
try:
[code]

and then:
[code]

progress on this issue is blocked by deeper problems. packages are claimed as "best effort" until further notice.

[2019-04-13 00:22] rmb938 commented on #75701
@neolit123 Is there anything we can do to make progress on this faster and packages not be "best effort"? Many companies rely on these packages working for production clusters and having to do hacks like these to fix this isn't the best.

It is very concerning that this is not top priority and what ever is blocking this isn't fixed. This kinda leaves a bad taste that OS packages aren't really supp

[2019-04-13 00:49] elishemer opened #76531 "kubelet warnings flooding systemd logs (kube 1.14.1 with CentOS packages)"
**What happened**:
there are many kubelet warnings in the systemd logs

Apr 13 03:37:29 env003master1 kubelet[28028]: W0413 03:37:29.272201   28028 raw.go:87] Error while processing event ("/sys/fs/cgroup/devices/libcontainer_29844_systemd_test_default.slice": 0x40000100 == IN_CREATE|IN_ISDIR): inotify_add_watch /sys/fs/cgroup/devices/libcontainer_29844_systemd_test_default.slice: no such file or

[2019-04-13 01:08] #75691 closed

[2019-04-13 01:10] elishemer commented on #76531
/sig node

[2019-04-13 01:13] #66380 closed

[2019-04-13 01:43] msau42 opened #76532 "Add kubectl describe for CSINode and CSIDriver objects"
**What would you like to be added**:
CSIDriver and CSINode objects were added [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/storage/types.go#L231) and we should add support for these objects in 'kubectl describe'

**Why is this needed**:
Provide user-friendly output

[2019-04-13 01:44] msau42 commented on #76532
@kubernetes/sig-storage-feature-requests
/help

[2019-04-13 02:14] #62931 closed

[2019-04-13 02:20] cwdsuzhou commented on #76532
I find kubectl already supports it in k8s 1.14

[2019-04-13 02:28] msau42 commented on #76532
Oh thanks that's a nice surprise!
/close

[2019-04-13 02:28] #76532 closed

[2019-04-13 02:47] draveness commented on #76435
That sounds like a good idea. The current `volumeClaimTemplates` has some issues, ex: it doesn't update the underlying PVC resources correctly https://github.com/kubernetes/kubernetes/pull/75051. It will be easier to manage the resources if we have a separate API and controller for that.

But do we need to use the `volumeClaimTemplates` in other resources except for StatefulSet? `volumeClaimTempla

[2019-04-13 03:23] dcbw commented on #71305
So it was suggested by iptables developers that 'nft list ruleset' could be run by the thing wishing to know whether iptables-legacy or iptables-nft was being used. If that returns anything, it indicates that nftables has been initialized and is being used and thus iptables-nft should be used.

If not, that indicates that either (a) iptables-legacy is in-use or (b) nothing has created any netfilte

[2019-04-13 05:17] #65874 closed

[2019-04-13 08:20] #71023 closed

[2019-04-13 09:09] lingyueling commented on #55386
so how to remove the nr_migrations ?

[2019-04-13 09:21] #60469 closed

[2019-04-13 09:51] hprateek43 commented on #67777
@mwielgus Is the issue still open or there is some PR corresponding to it? Should I take this up?

[2019-04-13 10:12] neolit123 commented on #75701
the package specs are in this repo:
https://github.com/kubernetes/release

patch attempts for an immediate fix were rejected due to the fact that new revisions need to be pushed of old packages, which is undesired by the release maintainers.

there is a proposal to move the packages from k/release to k/kubernetes:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/ku

[2019-04-13 10:17] bungder commented on #27404
It is reasonable to make it possible to retrieve allocated resources through API. Result of "Allocatable" minus "Capacity"  is neither amount of requests  nor amount of limits.

[2019-04-13 10:32] ihciah commented on #60807
In my case the namespace is rook-ceph, `kubectl -n rook-ceph patch cephclusters.ceph.rook.io rook-ceph -p '{"metadata":{"finalizers": []}}' --type=merge` works for me. For other cases it should work too.

From: https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md

[2019-04-13 12:22] kevincox commented on #66393
/remove-lifecycle rotten

On Sat 13 Apr 2019, 12:24 fejta-bot, <notifications@github.com> wrote:

[2019-04-13 12:51] taragu opened #76538 "Add metrics for plugin operations for plugin manager"
**What would you like to be added**:
After PR #73891 is merged, we need to wire the metrics methods in `pkg/kubelet/pluginmanager/metrics/metrics.go` to `actual_state_of_world` (`pkg/kubelet/pluginmanager/cache/actual_state_of_world.go`) and `desired_state_of_world` (`pkg/kubelet/pluginmanager/cache/desired_state_of_world.go`) when plugins are registered/deregistered.

**Why is this needed**:
Metr

[2019-04-13 13:07] taragu opened #76539 "Have `NewWatcher` of plugin watcher return an interface instead of a struct"
**What would you like to be added**:
After PR #73891  is merged, refactor `pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher.go` so that `NewWatcher(...)` should return a Watcher interface instead of a struct.

**Why is this needed**:
This will make testing easier as fake implementation can be used easily.

FYI @saad-ali
/assign @taragu

[2019-04-13 14:13] bertinatto commented on #75484
/assign
I'll take a look at this.

[2019-04-13 14:29] neolit123 commented on #76539
/sig node

[2019-04-13 14:29] neolit123 commented on #76538
/sig node

[2019-04-13 14:34] neolit123 commented on #76493
/triage needs-information

please provide more details about your setup OS, kubernetes version, cluster setup, other conditions.
also it might be a better idea to ask on stackoverflow or reddit.

[2019-04-13 14:36] neolit123 commented on #76469
/sig api-machinery
as per:
https://github.com/kubernetes/kubernetes/search?q=CloseNotifier&unscoped_q=CloseNotifier

[2019-04-13 14:36] neolit123 commented on #76469
/remove-kind feature
/kind cleanup

[2019-04-13 14:37] neolit123 commented on #76477
/close
please open minikube tickets in the https://github.com/kubernetes/minikube repository.

[2019-04-13 14:37] #76477 closed

[2019-04-13 14:38] neolit123 commented on #76449
/sig gcp
/kind flake

[2019-04-13 14:40] neolit123 commented on #76431
even if it's the same problem kube-proxy and kubelet are maintained by different groups.
so i'd say keep this open for now.

/sig node

[2019-04-13 14:43] neolit123 commented on #76431
but actually....iptables problems fall under sig-network so just mention your issue in a comment in https://github.com/kubernetes/kubernetes/issues/71305

thanks
/close

[2019-04-13 14:43] #76431 closed

[2019-04-13 14:45] neolit123 commented on #76395
thanks for the graph!

/sig architecture
/kind design
/hold cancel

[2019-04-13 14:53] xichengliudui commented on #76480
here.

[2019-04-13 14:58] neolit123 commented on #76395
looks like we still have dependencies on:
- github.com/golang/glog
- github.com/ghodss/yaml

decoupling from *sdk* is long term goal too.

[2019-04-13 15:00] neolit123 commented on #76369
/sig api-machinery
/kind cleanup
/remove-kind feature

[2019-04-13 15:13] neolit123 commented on #76344
/sig testing
/area e2e-test-framework

i think this becomes a question if ginkgo supports controllable number of nodes per test.
i don't think it does.

if the suite is already in parallel mode, and if the suite reaches a SERIAL test it would have to block running this tests until the rest of the nodes have finished.

the alternative would be run all single-node-demanding tests up front and only t

[2019-04-13 15:33] kidrocknroll commented on #76424
/area kubelet

[2019-04-13 15:40] tedyu opened #76544 "Store parsed CIDRs at initialization of Proxier"
**What would you like to be added**:
Change excludeCIDRs from []string to []*IPNet in Proxier and perform the parsing at construction of Proxier.

**Why is this needed**:
This was proposed by @lbernail over comments in Pr #76334

This improves the performance of isIPInExcludeCIDRs since the cost of parsing becomes one time.

[2019-04-13 16:01] millermatt commented on #66811
/remove-lifecycle rotten
/remove-lifecycle stale

[2019-04-13 16:50] Duchongming commented on #76070
Reset cni plugin.

[2019-04-13 17:52] johnSchnake commented on #76344
The recommendation we always give people from a Sonobuoy perspective is this:
 - By default (in Sonobuoy) everything is run in serial which helps reduce flakes based on unintended interactions or load on the system.
 - If you want to reduce testing time for CI purposes, you should do 2 separate runs manually separating out the serial tests

I don't particularly like the idea of this being handled

[2019-04-13 17:59] Monnoroch opened #76553 "GKE support for node-pools with local SSD boot disk"
**What would you like to be added**:

Support Local SSDs as boot disks in GCE/GKE.

**Why is this needed**:

Persistent disks do not make sense for preemptible nodes. These nodes regularly get deleted along with their persistent disks thus making these disks effectively non-persistent. Local SSDs fit this use case perfectly, as they are already not persistent and are faster and cheaper because of

[2019-04-13 18:00] Monnoroch commented on #76553
/sig storage

[2019-04-13 18:25] bowei commented on #76504
Even though this is a big chunk of code, if we are support features calling the alpha API, then it has to stay in some form or another.
Until we build cloud specific libraries, as Go has no dynamic linking, I don't think we can do much about the code size.
What is the target binary size we are trying to go to and why?

[2019-04-13 18:35] liggitt commented on #76504
No disagreement, just thought it was worth seeing if they had graduated to the beta lib and we could drop use of the alpha package, given the size impact

[2019-04-13 18:44] bowei commented on #76504
Support for alpha features is an ongoing thing (they are always being added). Even if we remove them today, they will be required almost immediately tomorrow. It will cause unnecessary code churn at this point.

[2019-04-13 18:46] paulsubrata55 commented on #37414
Can't we use the similar fix given in PR #47262.

[2019-04-13 19:23] neolit123 commented on #76344
thanks for the link. this is a ticket i was looking for myself.

the kind non-serial tests provide some history on recent runs against master.
https://k8s-testgrid.appspot.com/sig-testing-kind#conformance,%20master%20(dev)%20%5Bnon-serial%5D

i'd say that the flakes are close to 0, possibly that is why @dims wants to push the conformance image to be tested in parallel by default, minus the serial

[2019-04-13 19:59] tpepper commented on #76526
Testgrid is now green after theses PRs

[2019-04-13 19:59] #76526 closed

[2019-04-13 20:26] newtondev commented on #63959
+1 need this ASAP

We are hosted on EKS so only official version supported. Any idea when this will be merged?

[2019-04-13 20:31] newtondev commented on #75829
Mind if I assist with improving the test coverage?

[2019-04-13 20:39] vllry commented on #76544
/sig network
/kind cleanup

[2019-04-13 20:39] vllry commented on #76544
/remove-kind feature

[2019-04-13 21:09] jimmycuadra commented on #75701
No dice:

[code]

[2019-04-13 21:48] raulcd commented on #75829
Sure, thanks. I've started but I haven't been able to follow up, I've been busier than expected. I'll be looking and try to review if you are able to work on it.

[2019-04-13 22:34] #68201 closed

[2019-04-14 00:36] #70458 closed

[2019-04-14 00:47] dims commented on #76504
@bowei aren't we supposed to move to external cloud providers and stop adding stuff in the in-tree one?

[2019-04-14 00:54] mitar commented on #69640
/remove-lifecycle stale

[2019-04-14 02:07] vaustral commented on #72533
We're hitting this constantly right now, big issue.  Constantly getting PLEG issues after extended usage.

  Type     Reason             Age                   From                               Message
  ----     ------             ----                  ----                               -------
  Warning  ContainerGCFailed  4m (x211 over 3h34m)  kubelet, aks-agentpool-18316292-0  rpc error: code

[2019-04-14 02:26] vaustral commented on #72533
Oh and we don't have any itsio or anything.  Straight basic off the shelf pods.

[2019-04-14 03:11] liggitt commented on #76480
Your logs indicate you are running 1.12.3.

This was resolved in 1.12.7 in https://github.com/kubernetes/kubernetes/pull/74755

[2019-04-14 03:11] #76480 closed

[2019-04-14 04:50] ddebroy commented on #75147
@yujuhong  do you happen to have a pointer to a PR that skips `[Feature]` tagged tests?

I think we are still picking up Feature tagged tests like `[sig-api-machinery] ResourceQuota [Feature:PodPriority] *` and `[sig-api-machinery] ResourceQuota [Feature:ScopeSelectors] *` in https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master

Since PodPriority and ScopeSelectors are enabled by de

[2019-04-14 06:18] leakingtapan commented on #75941
Thx @jsafrane for putting the fix.

Could you cc me next time whenever there is any changes happening on the in-tree EBS plugin? Keeping feature compatibility between in-tree plugin and CSI is challenging before k/k ebs e2e test is reused for EBS CSI driver

[2019-04-14 08:46] guhuajun commented on #75033
If it s possible, use Windows Server 2019 instead.

[2019-04-14 09:39] nikhita commented on #58682
/remove-lifecycle stale

[2019-04-14 13:00] SataQiu commented on #76206
I would like to take:
test/e2e/framework/networking_utils.go

[2019-04-14 17:10] xichengliudui commented on #76480
YES, Thank you very much.

[2019-04-14 17:53] #70349 closed

[2019-04-14 18:35] mattjmcnaughton commented on #76531
Thanks for reporting!

Two high level questions: can you share the outputs of `ls sys/fs/cgroup/devices`? Additionally, I'm curious if you're finding `*_systemd_test_default.slice` files anywhere on your system? You could use `find / -type f -name "*_systemd_test_default.slice"` to explore.

[2019-04-14 18:54] #59109 closed

[2019-04-14 19:17] dantman commented on #72794
Is "wide" considered a "machine readable" format?

[2019-04-14 19:22] liggitt commented on #72794
No, human readable default and wide column output is not guaranteed stable for scripting.

[2019-04-14 19:34] dantman commented on #72794
Ok, then we still need this feature in another output format.

/remove-lifecycle stale

[2019-04-14 19:40] liggitt commented on #72794
all the output formats for kubectl get display the result of a single API call. What this is requesting requires two API calls

[2019-04-14 19:54] dantman commented on #72794
@liggitt So listing pods by deployment directly is not possible. The other suggestion was outputting the selector in a machine readable way so that a script can just pass it to `--selector`, which should be within the realm of what an output format can do.

The problem is that yaml/json (machine readable) do not output selector in a format that can be passed to `--selector`; kubectl describe does

[2019-04-14 20:45] aseempatni commented on #70732
I'm on v1.12.6-3+602d21b1679fa5. init containers still don't seem to use imagePullSecrets from the spec.

[2019-04-14 21:12] 2ZZ commented on #74689
Also seeing this behaviour on 1.13.5

[2019-04-14 21:47] timoreimann commented on #76205
@andrewsykim we chatted about this the other day on Slack.

[2019-04-14 21:50] dims commented on #67721
/reopen
/remove-lifecycle rotten

[2019-04-14 22:19] frittentheke opened #76568 "Race condition / timeout issues when mounting PV (AWS EBS via CSI driver)"
**What happened**:
Initially a node was drained of all running pods. One pod was causing trouble at was not starting due to a failed mount. First it was re-scheduled to another node in the same AZ - just as expected. Also the volume was detached from the "old" node and then attached at the one that was intended to run the replacement pod.

The mount of the volume, a 1.5 TB EBS disk with ext4 on it

[2019-04-14 22:20] frittentheke commented on #76568
/sig storage

[2019-04-14 22:47] thzois opened #76569 "Ignored --resolv-conf - coreDNS fails"
**What happened**:
coreDNS is failing with the following message:

[code]

I added `--resolv-conf` flag to the kubelet but it seems that it is getting ignored ( /usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf). I reloaded the daemon and restarted the cluster.

[code]

Kubelet is missing the flag:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provi

[2019-04-14 23:15] timoreimann commented on #76205
The GCE flag seems to be registered [here](https://github.com/kubernetes/kubernetes/blob/v1.14.1/cmd/cloud-controller-manager/app/controllermanager.go#L91), with the panic eventually occurring [here](https://github.com/kubernetes/component-base/blob/kubernetes-1.14.1/cli/globalflag/globalflags.go#L66).

[2019-04-14 23:15] timoreimann commented on #76205
Given some pointers on how to resolve the issue best, I'm happy to take a stab at a PR.

[2019-04-14 23:20] timoreimann commented on #76205
A workaround for external cloud providers seems to be to add a bogus version of the parameter before the call to [app.NewCloudControllerManagerCommand()](https://github.com/kubernetes/kubernetes/blob/v1.14.1/cmd/cloud-controller-manager/controller-manager.go#L41), like this:

[code]

[2019-04-14 23:42] DarrienG opened #76570 "Infinite ImagePullBackOff CronJob results in resource leak"
**What happened**:
A CronJob without a ConcurrencyPolicy or history limit that uses an image that doesn't exist will slowly consume almost all cluster resources. In our cluster we started hitting the pod limit on all of our nodes, and began losing our ability to schedule new pods.

**What you expected to happen**:
Even without a ConcurrencyPolicy, CronJob should probably have the same behavior as

[2019-04-14 23:49] DarrienG commented on #76570
sig/scheduling

[2019-04-14 23:49] DarrienG commented on #76570
/sig scheduling

[2019-04-14 23:59] mrbobbytables commented on #76269
Following up on this past week's contribex meeting -- Another section to denote emeritus would be best as it'd just be ignored by current tooling, but opens the door to future tooling/report generation being developed.

As far as formatting goes, I'm thinking just mimic the format we use currently + emeritus as the top level key:

**OWNERS**
[code]
**OWNERS_ALIASES**
[code]

[2019-04-14 23:59] #60015 closed

[2019-04-15 00:48] mkumatag opened #76571 "cmd/kubeadm/app/phases/addons/dns: TestTranslateStubDomainKubeDNSToCoreDNS/If_Hostname_present:_Omit_Hostname unit test is flakey"
**What happened**:

The following unit test case is flakey

[code]

**What you expected to happen**:

Testcase should pass.

**How to reproduce it (as minimally and precisely as possible)**:

Run the testcase for 20 times, you will see failures couple of times.

[code]

**Test failure history**:
https://k8s-testgrid.appspot.com/sig-node-ppc64le#unit-tests

[2019-04-15 00:55] mkumatag commented on #76571
/sig cluster-lifecycle

[2019-04-15 00:56] mkumatag commented on #76571
/assign

[2019-04-15 01:03] mkumatag commented on #76571
This is happening because in [translateStubDomainOfKubeDNSToForwardCoreDNS](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/dns.go#L321) when there is empty proxyIP we are not continuing the pool instead we are breaking which will exit from the loop and ignore the next element in the dictionary of stubDomainData dictionary where there is not guaranty of execu

[2019-04-15 01:43] daixiang0 commented on #76438
Hi, @Pingan2017 any input?

[2019-04-15 02:02] dims commented on #76205
@timoreimann would it be better to do something like this in master? (and get it back ported to 1.14 branch?)

[code]

[2019-04-15 02:03] dnoland1 commented on #57534
/remove-lifecycle stale

[2019-04-15 02:34] Pingan2017 commented on #76438
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-liveness-http-request
kubelet send the probe http rquest to server

[2019-04-15 02:41] daixiang0 commented on #76438
A little hard to understand, ask a [PR](https://github.com/kubernetes/website/pull/13815).

[2019-04-15 03:25] elishemer commented on #76531
@mattjmcnaughton

[root@env003master1 ~]# ls /sys/fs/cgroup/devices
cgroup.clone_children  cgroup.procs          devices.allow  devices.list    notify_on_release  system.slice  user.slice
cgroup.event_control   cgroup.sane_behavior  devices.deny   kubepods.slice  release_agent      tasks
[root@env003master1 ~]# find / -type f -name "*_systemd_test_default.slice"
find: ‘/proc/3197’: No such file or

[2019-04-15 03:31] chicago7 opened #76575 "metrics-server start failed. status is CrashLoopBackOff"
**What happened**:
I0411 03:09:30.784560 1 heapster.go:71] /metrics-server --source=kubernetes.summary_api:''
I0411 03:09:30.784637 1 heapster.go:72] Metrics Server version v0.2.1
I0411 03:09:30.784846 1 configs.go:61] Using Kubernetes client with master "https://10.0.0.1:443" and version
I0411 03:09:30.784862 1 configs.go:62] Using kubelet port 10255
I0411 03:09:30.785670 1 heapster.go:128] Start

[2019-04-15 04:03] #66542 closed

[2019-04-15 06:25] vikram-donekal commented on #74236
/sig cli

[2019-04-15 06:26] vikram-donekal commented on #74236
/sig Storage

[2019-04-15 06:28] wojtek-t opened #76579 "API call latency regression"
There is yet another regression for API-call latencies for 5k-node test:
https://testgrid.k8s.io/sig-scalability-gce#gce-scale-performance

The last 3 runs of load test failed there.

I didn't yet have time to look into it deeper, but (especially the last run) seems suspicious, due to this one:
[code]

It seems some nodes were added during the test, which isn't expected.

@kubernetes/sig-scalabili

[2019-04-15 06:43] luweiv9988 opened #76580 "pod rolling update cause error reuqest flow"
**What happened**:
when kubernetes rolling update killing off old pod there will be a small amount of traffic still going through the old pod and cause http 502 (php)

**What you expected to happen**:

here are my configuration:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
- [X] php application
- [X] http 502

Old pod is term

[2019-04-15 07:06] #71113 closed

[2019-04-15 07:08] danielqsj opened #76581 "Run update-gofmt when make update"
**What would you like to be added**:

It will be more convenient to include `update-gofmt.sh` when `make update`.

**Why is this needed**:

Now, contributor need to run `make update` and `hack/update-gofmt.sh` both.
If including `update-gofmt.sh` when `make update`, it will be more convenient.

/sig contributor-experience
/kind feature
/assign

[2019-04-15 07:13] ggaaooppeenngg commented on #70014
Why bandwidth is  divided by 1000?

[2019-04-15 08:05] feiskyer commented on #71594
/milestone v1.15

[2019-04-15 08:21] rubensayshi commented on #14362
@mikedanese that just protects initial authentication when doing `gcloud container clusters get-credentials`, it doesn't protect anything past that point.
anyone/anything with access to my filesystem can grab the cert and access the k8s API.

[2019-04-15 08:22] Duchongming commented on #76575
查看一下证书

[2019-04-15 08:22] xichengliudui opened #76585 "The same namespace, the pod that kubectl can get, fabric cannot get"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

Log information: https://github.com/xichengl

[2019-04-15 08:23] xichengliudui commented on #76585
/sig node
/sig network

[2019-04-15 08:31] xichengliudui commented on #76585
There are two questions:
 * it took 20 minutes for the pod to pull from the mirror to be scheduled
 * the K8S event shows that this POD was created/started twice, and the fabric log sees two cmdAdd/cmdDel calls

[2019-04-15 08:35] xichengliudui commented on #76585
will the communication mechanism between kubelet and cni call cmdAdd/cmdDel twice? Probably not.

[2019-04-15 08:50] JishanXing commented on #76093
@liggitt

Hi liggitt,

I did a PR for this issue, here are my proposal

This fix will generate the LICENSE file for each package under vender/ and put them to Godeps/ALL_LICENSES/ (In #76092, seems need move this dir to vender/ALL_LICENSES? I will move this folder to vendor in this ticket after your 1st round review)

The LICENSE file name format is "bitbucket.org:bertimus9:systemstat", use colon

[2019-04-15 09:01] chenliu1993 opened #76589 "kubectl: CrashLoopBackOff"
I am new to kubernetes. I am running kubectl to pods:kubectl run busybox-1 --image=docker.io/library/busybox:latest --replicas=2
but this status shows up:CrashLoopBackOff
![image](https://user-images.githubusercontent.com/13761170/56120036-ddf88000-5f9f-11e9-9608-e72210398a27.png)
And this is the kubectl describle pod podname shows:
![image](https://user-images.githubusercontent.com/13761170/56120