[2021-06-23 10:00] gdsoumya commented on #103096
Is there anything else required apart from adding `kubernetes/kubernetes` to `lgtm` block in `test-infra/config/prow/plugins.yaml` to enable this? @sftim @MadhavJivrajani

[2021-06-23 10:07] BenTheElder commented on #95600
https://github.com/kubernetes/k8s.io/issues/1187

[2021-06-23 10:13] BenTheElder commented on #100914
In this case the use case is kube-up (used for kubernetes CI) and kubeadm (officially supported first-party installation tool), not "people". Details of going rootless for the control plane are covered in the KEP link.

I don't think this is an unreasonable thing to have on the api-server binary, but cc @kubernetes/sig-security

You are equally able to build an image without this capability for yo

[2021-06-23 10:16] Haleygo opened #103110 "Failed to generate pod sandbox config if missing /etc/resolv.conf"
#### What happened:
I run kubeadm init on a node and it took a long time to wait for the kubelet(to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests"). And It timeout eventually, so I checked the journal of kubelet and found those error:

Jun 23 18:33:35 10-6-150-51 kubelet[32141]: E0623 18:33:35.148415   32141 kuberuntime_manager.go:790] "CreatePodSandbox for pod

[2021-06-23 10:17] Haleygo commented on #103110
/assign
I will fix it the same way as https://github.com/moby/libnetwork/pull/1847

[2021-06-23 10:18] #73269 closed

[2021-06-23 10:25] invidian commented on #100914
But this does not follow least-privilege principle then, it's not equal situation IMO.

[2021-06-23 10:25] mcorbin commented on #100914
it should be noted that this change was, as I said in my first message, not announced in the changelog althought it was a breaking change for people running the apiserver with all capabilities dropped.

A lot of people are running kubernetes control planes as non root for years (it's my case), the default apiserver port is even `6443` which is not privileged.

The container community spent years a

[2021-06-23 10:53] njuptlzf opened #103113 "Only allow specified users to access k8s cluster"
#### What would you like to be added:
X509 authenticator verifies CN
#### Why is this needed:
1. When the root CA is abused, many users can be issued. At this time, the client certificate can pass X509 authentication. Even if these users cannot operate the cluster through authorization, they can access the non-resource URL of the system:authentication group.
2. After we define a correct X509 authe

[2021-06-23 10:56] njuptlzf commented on #103113
/cc @liggitt @deads2k @mikedanese WDYT?

[2021-06-23 11:06] BenTheElder commented on #103096
Good first issue requires both documenting pointers to where to make the change and what to do and the issue should already be agreed upon a path to move forward. https://git.k8s.io/community/contributors/guide/help-wanted.md

SIG contribex needs to approve workflow changes. I think maybe this is Ok though since it doesn't change the overall workflow.

[2021-06-23 11:17] yuzhiquan commented on #102303
/cc

[2021-06-23 12:03] Haleygo commented on #103110
It can also reproduce like this:
1. have a healthy cluster
2. choose one node, create a test pod yaml under kubelet manifest folder (to keep this pod on this node) and wait it ready
3. move /etc/resolv.conf somewhere else
4. delete test pod container and search kubelet journal for this test pod

[2021-06-23 12:41] gjkim42 commented on #103110
Even if we consider this a bug,
IMHO, creating /etc/resolv.conf file to the host machine is a bad idea. I think making default resolver configuration is better approach.

[2021-06-23 12:49] jsafrane commented on #102779
That's how detach should be done (if your cloud has API for that) - ControllerPublish attaches volumes, ControllerUnpublish detaches them. Ideally, NodeStage finds the attached device and mounts it, and NodeUnstage unmounts it.

[2021-06-23 12:54] jsafrane commented on #102779
Can you please check https://github.com/kubernetes/kubernetes/pull/100183? I changed the way how errors from NodeUnstage / NodeUnpublish are used, it could fix this issue too.

[ Still, using ControllerPublish / ControllerUnpublish is much better if your cloud allows one CSI driver pod (with the external-attacher) to attach/detach volumes to/from *any* node in the cloud ]

[2021-06-23 13:31] gjkim42 commented on #100582
resolved by https://github.com/kubernetes/kubernetes/pull/100651

/close

[2021-06-23 13:31] #100582 closed

[2021-06-23 13:45] wangyysde commented on #103043
Hi, I would like to take up hack/conformance/check_conformance_test_requirements.go

[2021-06-23 13:52] vinayakankugoyal commented on #100914
Although any image can be used as a base image, that is not the intention with the kube-apiserver image. This change allows running kube-apiserver as non-root regardless of what port you bind to.
We are working on removing the need to apply file capabilities through https://github.com/kubernetes/enhancements/pull/2757.

[2021-06-23 14:20] mowangdk commented on #102779
Yes, but due to historical reasons, we cannot migrate all detach operations to ControllerPublish/ControllerUnpublish.  and we believe that spreading the mount operation to each node can increase concurrency

[2021-06-23 14:22] mowangdk commented on #102779
ok， we will look into this pr

[2021-06-23 14:22] #94615 closed

[2021-06-23 14:31] m-Bilal commented on #92402
Hi @tiloso @BenTheElder, can I take the remaining part of this up?

[2021-06-23 14:34] cynepco3hahue commented on #61675
/close

[2021-06-23 14:35] #61675 closed

[2021-06-23 14:35] cynepco3hahue commented on #61675
Closed because of the https://github.com/kubernetes/kubernetes/issues/61675#issuecomment-516398124

[2021-06-23 14:39] lauchokyip commented on #92402
@m-Bilal Yes! go ahead as @tiloso mentioned, there is still  `vendor/k8s.io/apiserver/pkg/util/wsstream ` needed to be fixed

[2021-06-23 14:46] cynepco3hahue commented on #61663
@mtaufen Does this issue is still relevant?

[2021-06-23 14:50] alexvaque commented on #79365
I found the same issue and in my case the reason because the pod or pods   are failing  with the metrics is because the POD is not 100% ready... Check the healtchecks , security groups, etc.

Here more info: https://docs.aws.amazon.com/eks/latest/userguide/horizontal-pod-autoscaler.html

[2021-06-23 14:59] #103108 closed

[2021-06-23 15:24] cynepco3hahue commented on #46255
/kind feature

[2021-06-23 15:48] cynepco3hahue commented on #3595
@SergeyKanzhelev @dims @mrunalp IIRC we are dropping support for the docker soon, does the issue will be relevant in the context of containerd and CRI-O?

[2021-06-23 16:05] Alexander-Bartosh commented on #98215
At certain moment in time the skew will be proper.
But when the pods that are to be removed will be removed the skew might be skewed :)
Essentially you are facing the limitation described here:

[Scaling down a Deployment may result in imbalanced Pods distribution.](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/)
One simple workaround I apply is **scale it down

[2021-06-23 16:16] Random-Liu commented on #94892
It is not abandoned, just not prioritized.

Please feel free bring back the topic back to sig-node, and explain your concern about the suggested approach above, e.g. host path mounting.

[2021-06-23 16:16] haircommander commented on #69825
Since https://github.com/kubernetes/kubernetes/pull/100320 merged, I believe the node part of this can be removed. not sure if prow will like this bug:
/unsig node

[2021-06-23 16:18] haircommander commented on #69825
/remove-sig node

[2021-06-23 16:24] #98319 closed

[2021-06-23 16:27] fromanirh commented on #102552
In the restart flow, the kubelet should reset the allocatable device count to zero until the device plugin register itself again (https://github.com/kubernetes/kubernetes/blob/release-1.21/pkg/kubelet/cm/devicemanager/manager.go#L517).
Which can be slow indeed, but pods should not reach the node until devices are reported allocatable.
When the device plugin registers itself again, it will report t

[2021-06-23 16:27] eddiezane commented on #100845
Please reopen if you are encountering this issue on kubectl 1.21+

/close

[2021-06-23 16:28] #100845 closed

[2021-06-23 16:28] jsafrane opened #103119 "CSI volume is not re-labeled when the first NodePublishVolume fails"
#### What happened:
Using a CSI volume on a Linux machine with SELinux in enforcing mode. I noticed when the volume is used in a pod and the first NodePublishVolume for that pod fails (e.g. timeout), the volume does not get correct SELinux labels.

#### What you expected to happen:
The volume gets correct SELinux labels.

#### How to reproduce it (as minimally and precisely as possible):
With a ha

[2021-06-23 16:28] haircommander commented on #97497
I believe a combo of https://github.com/kubernetes/kubernetes/pull/101524 plus runc bump should have fixed this. If someone runs into it again, please reopen
/close

[2021-06-23 16:30] jsafrane commented on #103119
This breaks applications on clusters with CSI drivers that tend to time out with the first NodePublishVolume - the pods can't access their data and they get `Permission denied` instead.

/priority important-soon
/sig storage
/triage accepted

[2021-06-23 16:34] eddiezane commented on #83094
/triage accepted

[2021-06-23 16:35] psingarakannan commented on #65966
Any solution to the above problem? Even I'm facing the same problem with the same stack trace.

[2021-06-23 16:35] eddiezane commented on #99354
/cc @rikatz

Round up in your KEP?

[2021-06-23 16:36] eddiezane commented on #102569
/sig node

[2021-06-23 16:36] haircommander commented on #30861
/area docker

[2021-06-23 16:40] jsafrane commented on #103119
Root cause: VolumeManager's ActualStateOfWorld (ASW) uses a wrong `Mounter` when a volume gets mounted.

1. CSI volume plugin stores a flag if a volume supports SELinux *after* NodePublish succeeds:
https://github.com/kubernetes/kubernetes/blob/7b24c7e4a7a644bd9c4aa173d59fd5bdcddc8652/pkg/volume/csi/csi_mounter.go#L264

2. Since the first NodePublish does not succeed, `c.supportsSELinux` of the `c

[2021-06-23 16:41] jsafrane commented on #103119
There are several ways out of this. For example, operation generator should use the same Mounter all the time, even in subsequent attempts.

IMO the best would be to modify `AddPodToVolume` to update `Mounter` on every call.

[2021-06-23 16:41] eddiezane commented on #102378
@ingvagabund any interest in looking at this like you did for explain?

We won't be able to error but we can possibly warn.

[2021-06-23 16:42] eddiezane commented on #102378
/triage accepted

[2021-06-23 16:44] eddiezane commented on #102378
We might want to expose priorities in `kubectl api-resources`. Possibly part of the discovery API.

[2021-06-23 16:44] soltysh commented on #102741
I don't consider that a bug, but a conscious decision not to support both
/close

[2021-06-23 16:44] #102741 closed

[2021-06-23 16:51] jsafrane commented on #103119
Another idea: we could move detection of SELinux on a volume into `GetAttributes` call. This way, we would not need to pass a flag in `csiMountMgr` around. But the detection can fail with an error and `GetAttributes` can't return one (at least today).

[2021-06-23 16:54] eddiezane commented on #102214
The above comments are correct. This was the designed implementation.

/close

[2021-06-23 16:55] #102214 closed

[2021-06-23 16:55] cblecker commented on #103096
Has this been brought up to contibex somewhere and I missed it?

[2021-06-23 16:55] jackfrancis commented on #91220
@SergeyKanzhelev I'm happy to take on this housekeeping issue. Can you point me to an example of where this might land (I assume in `staging/src/k8s.io` somewhere)

[2021-06-23 16:58] vickeyrihal1 opened #103120 "mirror pause image to local repository(AWS ECR)"
#### What happened:
We have a k8s setup where we mirror all the public docker images to local and our cloud repository. We do this to avoid public repositories rate limiting and any other public outage cases.

As pause is a multi-arch image and we require this for both windows and linux workers, is there a way we could mirror these images to local repository servers? FYI, we don't have google clou

[2021-06-23 17:00] vickeyrihal1 commented on #103120
/sig cluster-lifecycle

[2021-06-23 17:01] KnVerey commented on #102378
When considering this we should keep in mind that we've had cases in the past where a core resource migrated from one group to another and priority-base selection applying automatically across both was desirable (i.e. Deployment and friends moving from extensions to apps).

[2021-06-23 17:08] ehashman commented on #94289
cc @mmiranda96

[2021-06-23 17:11] eddiezane commented on #102104
From your first 3 lines it seems the 32s timeout isn't being obeyed.

Server version is outside of the [version skew policy](https://kubernetes.io/releases/version-skew-policy).

Are you able to reproduce with a supported version?

Anything else useful in the output with `-v 10`?

[2021-06-23 17:14] eddiezane commented on #102274
Let's consolidate discussion of this in the KEP.

/close

[2021-06-23 17:14] #102274 closed

[2021-06-23 17:17] ehashman commented on #103075
/triage accepted
/assign @vteratipally

[2021-06-23 17:21] adelca opened #103121 "minReadySeconds does not work according to documentation"
#### What happened:
Using minReadySeconds in deployment yaml, this field is ignored when reporting pod readiness.
Even requests are sent to the pod before minReadySeconds.
Documentation claims this minReadySeconds "_specifies the minimum number of seconds for which a newly created Pod should be ready without any of its containers crashing, for it to be considered available._"
https://kubernetes.io

[2021-06-23 17:22] vteratipally commented on #103075
There are other files that are needed to be updated, for reference
https://github.com/kubernetes/kubernetes/pull/100041. Could you please update the rest.

[2021-06-23 17:31] KnVerey commented on #101199
The kustomize version bundled with kubectl was upgraded from v2 to v4 in kubectl 1.21, which pulled in many changes, fixes and features.

Previous commenters are correct that unique identification of a Kubernetes resource includes the namespace, so this behavior is not considered a bug. The `patches` solution mentioned is valid--you can still use an SMP in that field, but you can also override the

[2021-06-23 17:31] #101199 closed

[2021-06-23 18:01] Huang-Wei commented on #101820
I think we can use this chance to standardize the logging logic to dump scores dynamically depending on log level:

- for logging level ranged in `[4, 6)`, dump the scores for topM nodes/plugins. And make it as performant as possible.
- for logging level ranged in `[6, 10)`, dump the scores for topN nodes, and probably show all plugins
- for logging level >= 10, dump the scores for all nodes/plugi

[2021-06-23 18:11] haircommander commented on #94825
the fix has made it into https://github.com/google/cadvisor/releases/tag/v0.40.0-rc.1, so I imagine the change will come in by 1.22

[2021-06-23 18:14] ritazh commented on #20165
/assign @micahhausler
to provide link to the KEP and add docs for this feature

[2021-06-23 18:19] mattmoyer commented on #20165
Prior to step 7 (stop accepting old tokens), it would also be nice to observe a kube-apiserver metric that shows how many active requests are being authenticated with each of the public keys.

You could use this to confirm that no stale tokens are still being validated under an older key before you remove it. Public keys would need to be identified somehow -- perhaps by fingerprint?

[2021-06-23 18:55] ehashman commented on #83107
/remove-lifecycle frozen

need someone to confirm this still affects HEAD and then we can triage

[2021-06-23 19:06] tallclair commented on #83465
Thanks @pacoxu !

I was thinking about this recently, and have a couple thoughts:

1. I think we might be able to implement this without a v2 API (although I think we should have a v2 API) by issuing serial SubjectAccessReviews (SARs): I.e. first send a SAR for the new permission. If the response is not authorized, then send another SAR with the original permission. Since these APIs are mostly onl

[2021-06-23 19:49] alculquicondor commented on #99368
/remove-lifecycle rotten

[2021-06-23 19:58] PushkarJ commented on #99881
@BenTheElder I was able to reproduce this locally and got a much more readable result. It seems like `user.Current()` returns error, when current user is non-root, but the code skips error checking and uses the `user` value returned (which is nil), which induces the panic in the if condition for `UID != 0` check:

[code]
After I added the error check, the tests passed. Will start working on PR to

[2021-06-23 20:02] BenTheElder commented on #99881
THANK YOU!
I keep trying to get to this and something else comes up. That change sounds totally correct: Please do file the PR and I'll try to make sure we get it reviewed 🙏

[2021-06-23 20:12] PushkarJ commented on #99881
@BenTheElder : Also, do you think adding a command on how to run tests locally as non-root user with `allowPrivilegeEscalation` disabled might be a good idea? Potential update location: [testing.md](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/testing.md#run-unit-tests-from-certain-packages)

Was able to do this with docker using this command:

[code]

[2021-06-23 20:19] PushkarJ commented on #99881
/sig security

[2021-06-23 20:31] cheftako commented on #103085
/assign @craiglpeters @feiskyer

[2021-06-23 20:31] cheftako commented on #103085
/triage accepted

[2021-06-23 20:32] cheftako commented on #102803
/assign @craiglpeters @feiskyer
/triage accepted

[2021-06-23 20:32] cheftako commented on #102737
/assign @craiglpeters @feiskyer
/triage accepted

[2021-06-23 20:32] cheftako commented on #102707
/assign @nckturner
/triage accepted

[2021-06-23 20:33] cheftako commented on #102621
/assign @jpbetz
/triage accepted

[2021-06-23 20:35] cheftako commented on #102582
/triage accepted

[2021-06-23 20:37] cheftako commented on #102367
/cc @andrewsykim
/sig network

[2021-06-23 20:39] cheftako commented on #101927
/cc @andrewsykim

[2021-06-23 20:39] cheftako commented on #101608
/assign @nckturner @kishorj
/triage accepted

[2021-06-23 20:40] cheftako commented on #101526
/assign @nckturner
/triage accepted

[2021-06-23 20:41] cheftako commented on #100779
/assign @kishorj
/triage accepted

[2021-06-23 20:41] cheftako commented on #100391
/assign @craiglpeters
/triage accepted

[2021-06-23 20:42] cheftako commented on #100230
/assign @DangerOnTheRanger
/cc @jpbetz
/triage accepted

[2021-06-23 20:43] cheftako commented on #99813
/assign @kishorj
/triage accepted

[2021-06-23 20:43] cheftako commented on #99725
/lifecycle frozen

[2021-06-23 20:44] cheftako commented on #99725
/assign
/triage accepted

[2021-06-23 20:45] cheftako commented on #99451
/cc @bowei @justinsb

[2021-06-23 20:46] cheftako commented on #99404
/remove-lifecycle stale
/assign
/triage accepted

[2021-06-23 20:47] cheftako commented on #99328
/remove-lifecycle rotten
/assign @nckturner
/triage accepted

[2021-06-23 20:48] cheftako commented on #99232
/remove-lifecycle rotten
/assign @jpbetz
/triage accepted

[2021-06-23 20:57] BenTheElder commented on #99881
I would think most users are running the tests locally as non-root but I could be wrong 😅, for me just `make test` encounters the problems. If I'm wrong that would be great!

In CI we will hopefully switch to this there as soon after this last test is fixed.

[2021-06-23 21:04] BenTheElder commented on #92402
Yes please do!

[2021-06-23 21:11] Huang-Wei commented on #96651
I haven't run perf test in large scale recently. But I'm not aware of recent PRs fixing this behavior, so I suppose this problem still exist.

[2021-06-23 21:13] Huang-Wei commented on #83834
FYI: there is a [KEP](https://github.com/kubernetes/enhancements/pull/2781) proposing surfacing the whole SchedulerQueue interface to be implementable:

[2021-06-23 22:39] PushkarJ commented on #99881
CI job for unit tests, with non-root user is now green: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103127/pull-kubernetes-unit-experimental/1407797774702874624

[2021-06-23 22:41] PushkarJ commented on #99881
In my local setup I was running as non-root user, but `make test` did not fail for me. Probably absence of user entry with  a name is what (or one of the reasons that) causes the failure as we discussed here: https://github.com/kubernetes/kubernetes/pull/103127#discussion_r657505781

[2021-06-23 22:42] Huang-Wei commented on #98214
/remove-lifecycle rotten

[2021-06-23 22:45] aojea commented on #103097
the job is timing out, @BenTheElder should we bump the timeout?
[code]

[2021-06-23 22:50] kfox1111 commented on #75482
Does this issue affect the 1.21 upgrade where it wants you to drain out all pods before switching from cgroupfs to systemd? Its recommended to drain the nodes before switching, but if you --ignore-daemonsets then they are left running.

[2021-06-23 23:50] jberkus commented on #103096
@cblecker nope.  I'm a big +1 on it.

[2021-06-24 00:03] ehashman commented on #28272
/kind feature

[2021-06-24 00:12] mtaufen commented on #61663
If it's not migrated yet, technically yes... but maybe worth closing these and focusing it down to one issue with a checklist.

@SergeyKanzhelev @knabben  @kubernetes/sig-node-bugs Do you know if anyone is actively working on moving this forward for Kubelet (I haven't been working on it lately/WGCS hasn't met in some time)?

[2021-06-24 00:13] BenTheElder commented on #103120
Yes, you don't need a google account. k8s.gcr.io is not rate limited and does not require authentication. Google hosts it for the project but there's no requirements to pull from it.

Try [`crane`](https://github.com/google/go-containerregistry/tree/main/cmd/crane) specifically [`crane copy`](https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane_copy.md).

In the pause direc

[2021-06-24 00:21] ehashman commented on #69816
Hi @mitar,

This is by design, to differentiate between when the pod is initializing and when the pod is running.

This is more of a feature request than a bug. If there is further/wider interest in this, I recommend that you find some others who would be interested in this change and put together a design proposal for how you'd like to see the pod lifecycle work for init containers, and reopen th

[2021-06-24 00:21] #69816 closed

[2021-06-24 00:24] ehashman commented on #73056
/remove-sig node

Happy to participate in a KEP but this doesn't appear to be a SIG Node issue.

[2021-06-24 00:28] SergeyKanzhelev commented on #102743
Since the feature is scheduled for deprecation, closing the issue.

KEP: https://github.com/kubernetes/enhancements/issues/281

/close

[2021-06-24 00:28] #102743 closed

[2021-06-24 00:28] ehashman commented on #95916
/triage more-info

@blitzd can you confirm if https://github.com/kubernetes/kubernetes/pull/98424/ fixed the issue? This landed in any 1.21.x or 1.22.x release (not eligible for backport).

[2021-06-24 00:29] ehashman commented on #95916
/triage needs-information

[2021-06-24 00:29] SergeyKanzhelev commented on #102743
feel free to send a patch PR. But it will be low priority since it was this way for a while already

[2021-06-24 00:31] SergeyKanzhelev commented on #100799
Let's track this work as a KEP so there are less bugs in k/k repository. Also helps with linking to the KEP - instead of linking PRs to this issue.

/close

[2021-06-24 00:31] #100799 closed

[2021-06-24 00:33] BenTheElder commented on #100799
Note: the KEP is https://github.com/kubernetes/enhancements/issues/281#issuecomment-841001850

[2021-06-24 00:33] ehashman commented on #70044
/sig storage

We have some PRs that landed recently that touch similar issues with volume teardown on pod deletion (see e.g. https://github.com/kubernetes/kubernetes/pull/101524 https://github.com/kubernetes/kubernetes/pull/100183) but it's hard to say what the root cause is from the description in the issue.

To debug this, we will need full kubelet logs, and container runtime logs as well if ava

[2021-06-24 00:37] BenTheElder commented on #103097
I guess?  I don't feel I have good context on this job currently.

[2021-06-24 00:37] SergeyKanzhelev commented on #75426
@mtaufen is this group still active? Should this issue be closed as it had no activity for a while?

[2021-06-24 00:37] ehashman commented on #27264
/sig cli

It's unclear to me if this is a client issue or a node issue.

[2021-06-24 00:38] SergeyKanzhelev commented on #61673
Since the feature is scheduled for deprecation, closing the issue.

KEP: kubernetes/enhancements#281

/close

[2021-06-24 00:38] #61673 closed

[2021-06-24 00:39] mtaufen commented on #75426
Not active for some time. I've been a bad citizen and haven't gotten to officially dissolving it yet :(.

We can close it if it's just creating noise, I think the content is pretty outdated anyway.

[2021-06-24 00:39] #75426 closed

[2021-06-24 00:43] ehashman commented on #42960
/unassign @freehan

This seems to be handled in #100643 which references this bug. I'm inclined to close this to avoid duplicates, since there is discussion happening there and this bug doesn't have any updates since 2017.

/close

[2021-06-24 00:43] #42960 closed

[2021-06-24 00:44] ehashman commented on #102612
/triage accepted
/kind feature

[2021-06-24 00:46] ehashman commented on #93300
/triage accepted

[2021-06-24 00:50] ehashman commented on #98520
/remove-lifecycle rotten

Node should probably be resilient to external forces killing containers. Is this dockershim specific? Can it be reproduced with the CRI?

/triage needs-information

[2021-06-24 00:56] ehashman commented on #102876
@mootezbessifi This sounds to me like a network interruption occurred between the kubelet and API server. I don't see anything that suggests there is a bug, and we would require more verbose logs to assist. Furthermore, 1.17 is not a supported version.

Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, pl

[2021-06-24 00:56] #102876 closed

[2021-06-24 01:03] ehashman commented on #18394
Updated KEP link: https://github.com/kubernetes/enhancements/blob/0e4d5df19d396511fe41ed0860b0ab9b96f46a2d/keps/sig-auth/279-limit-node-access/README.md https://github.com/kubernetes/enhancements/issues/279

/sig auth

It appears that this went stable in 1.19 and was marked as implemented in https://github.com/kubernetes/kubernetes/pull/90307 and https://github.com/kubernetes/enhancements/pull/173

[2021-06-24 01:12] ehashman commented on #61659
/remove-priority important-soon

This was triaged for 1.11 but basically dropped off the map.

I suspect this flag should be considered for deletion if it has been stuck in alpha for this long. Code hasn't been modified in 3 years: https://github.com/kubernetes/kubernetes/blob/e55ff835b427029a895bfdb2f022bfdd47f9bed8/cmd/kubelet/app/options/options.go#L346

It would be helpful if you provided a us

[2021-06-24 01:13] chrishenzie opened #103132 "Enforce ReadWriteOncePod PVC access mode during scheduling"
See [KEP-2485](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2485-read-write-once-pod-pv-access-mode) for more context.

#### What would you like to be added:

The `ReadWriteOncePod` PVC access mode guarantees only a single pod can access the provided PVC as a volume. This is enforced during volume mount (in kubelet), and should be additionally enforced during scheduling.

[2021-06-24 01:13] chrishenzie commented on #103132
/sig scheduling
/cc @alculquicondor
/cc @ahg-g

[2021-06-24 01:14] ehashman commented on #55006
cc @geofft
who was interested in updating the sysctl allowlist policy, is there a KEP for that yet?

[2021-06-24 01:16] ehashman commented on #102612
Looks like this is effectively a dupe of #56374

Closing this in favour of that issue

/close

[2021-06-24 01:18] ahg-g commented on #103132
thanks, please update the beta graduation criteria in the KEP

[2021-06-24 01:29] ehashman commented on #102612
Hrm, attempting to summarize that one makes me wonder if I spoke too soon...

I think there's a couple things going on here: we need to figure out if we want to add some new sysctls to the allow-list, and we also should figure out a plan for how to deal with the issue described in the linked bug. I'm not sure how much overlap there is yet, so I will reopen this.

/reopen

[2021-06-24 01:31] mitar commented on #69816
But it is very hard to understand failures then, detect that for example init container is failing to pull the docker image or something like that.

[2021-06-24 01:34] ehashman commented on #56374
https://github.com/kubernetes/kubernetes/issues/56374#issuecomment-546647194 has a good summary, and all the linked issues are now closed.

@mrunalp @Random-Liu @tianon PTAL -- should we try to figure out how we want to move forward on this one?

/remove-kind bug
/kind feature

I think this is effectively a feature request... Kubernetes isn't doing anything wrong, per se, it's just confusing how a

[2021-06-24 01:36] BenTheElder commented on #56374
FYI there is a KEP now to cover such a feature https://github.com/kubernetes/enhancements/issues/2763 thanks to @vinayakankugoyal https://github.com/kubernetes/enhancements/pull/2757

[2021-06-24 01:42] ehashman commented on #59902
/help

Now that CRIContainerLogRotation is GA, we can potentially add this as a follow-on feature.

Due to the potential for version skew issues (https://github.com/kubernetes/enhancements/pull/2418#issuecomment-776075487) this will probably need a design doc or perhaps a small KEP.

[2021-06-24 01:43] gjkim42 commented on #100849
/area kubelet

@chenyw1990 @yliaog
Any update on this issue?

[2021-06-24 01:48] gjkim42 commented on #15673
/triage acepted

[2021-06-24 01:48] gjkim42 commented on #15673
/triage accepted

[2021-06-24 01:50] ehashman commented on #86984
/remove-lifecycle rotten
/reopen

[2021-06-24 02:01] geofft commented on #55006
Not yet. I think large amounts of `net.*` are safe, but I haven't gotten a chance to go through them / check kernel versions.

[2021-06-24 02:06] pacoxu commented on #63336
/kind feature
/area kubelet

[2021-06-24 02:14] ehashman commented on #101650
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/). Sorry that this has been sitting with no response :(

/remove-kind bug
/kind support
/close

[2021-06-24 02:14] #101650 closed

[2021-06-24 02:15] ehashman commented on #99466
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2021-06-24 02:15] #99466 closed

[2021-06-24 02:15] euroelessar commented on #61659
One of use cases is #61647, in short, we would like to have an ability to assign labels to a node before scheduler has any chance to select it for a pod (which can potentially violate topology spread).
Is there some other way to achieve it, e.g. to make node's default state "non-schedulable" or some other approach?

[2021-06-24 02:22] pacoxu commented on #102818
/cc @wzshiming

[2021-06-24 02:24] coffeepac commented on #81863
continuing issues:

[2021-06-24 02:30] pacoxu commented on #102230
@wzshiming it shoud be fixed in 1.18.19 and 1.18.20 by #101226.
/close

Feel free to reopen if it still exists. @judab5ericom

[2021-06-24 02:30] #102230 closed

[2021-06-24 02:31] pacoxu commented on #102230
/remove-sig architecture
/triage accepted

[2021-06-24 02:47] pacoxu commented on #94970
/triage accepted
/cc @msau42@mengjiao-liu

Is there a reason that we don't use `fsck -y /dev/sdc` here?  Is there any side effect?

@eplightning  I cannot find `-y` option in https://man7.org/linux/man-pages/man8/fsck.8.html. Does this option `-y` supported in all linux? Which version?

[2021-06-24 02:50] pacoxu commented on #40610
/kind feature

[2021-06-24 02:50] dilyevsky commented on #61659
Second this question. We use it with Cluster API to create various
dedicated node pools (that can be selected for with nodeSelector). Is there
another way to assign nodepool specific labels at kubeadm join?

On Wed, Jun 23, 2021 at 7:16 PM Ruslan Nigmatullin ***@***.***>
wrote:

[2021-06-24 02:52] MikeSpreitzer commented on #102885
#103066 , just merged, causes the configuration mentioned here to be rejected.

[2021-06-24 02:54] n4j commented on #84869
/remove-lifecycle-stale

[2021-06-24 02:59] andyzhangx commented on #102737
this issue is fixed in Azure Disk CSI driver

[2021-06-24 03:01] tengqm commented on #101697
Should we instead forbid empty items in `imagePullSecrets`? Is there a use case for using `[{}]` as `imagePullSecrets`?

[2021-06-24 03:03] andyzhangx commented on #100391
Azure file driver supports using cluster's service principal to get account key, store as k8s secret, and finally use account key to mount azure file; azure file driver does not support using service principal directly to mount azure file.

[2021-06-24 03:03] andyzhangx commented on #100391
/close

[2021-06-24 03:03] #100391 closed

[2021-06-24 03:11] mengjiao-liu commented on #94970
code is here https://github.com/kubernetes/kubernetes/blob/b0010c2d9ea8f2d20ffca20da7846eb4bba6e456/staging/src/k8s.io/mount-utils/mount_linux.go#L339-L358

[2021-06-24 03:17] ctrlzhang commented on #103046
/kind feature

[2021-06-24 03:20] beyondyinjl2 opened #103135 "The problem of edge node replacement"
#### What happened:
After testing, the edge gateway is broken. Change to the same node name and ip to install node. Add to the k8s cluster. The docker container deployed on the original bad gateway will not be automatically deployed to the new gateway. Re-kubectl apply deployment .yaml(Specifies the deployment of node deployment) will not be deployed either. You must first kubectl delete node to d

[2021-06-24 03:31] n4j commented on #140
@bgrant0607 This issue is open since long is it ok if we close this?

[2021-06-24 03:35] kenwoodjw commented on #99483
/area kubelet

[2021-06-24 03:39] pacoxu commented on #69816
Sending a design proposal or KEP to https://github.com/kubernetes/enhancements is appreciated.

From my perspective, user should describe the pod or get events of the pod to know why a pod is not started.
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/#my-pod-stays-pending is a good reading material for that.

[2021-06-24 03:40] ctrlzhang commented on #99986
/triage accepted
/kind support

[2021-06-24 03:41] tech-geek29 commented on #99457
This bug appears to have been addressed now that #99464 &  #99493 have merged.

/close

[2021-06-24 03:41] #99457 closed

[2021-06-24 03:42] n4j commented on #101079
@Nick-Triller if you are still interested in working on this issue you can assign it to yourself

[2021-06-24 03:44] adisky commented on #98268
From the above discussions it seems,  This option is available in container runtimes with some trade offs. I have not seen much request on this feature so closing it for now. We may look at it in future if more request comes up
/close

[2021-06-24 03:44] #98268 closed

[2021-06-24 03:48] n4j commented on #89233
/assign @tech-geek29

[2021-06-24 03:48] n4j commented on #89233
@tech-geek29 can you assign it to yourself?

[2021-06-24 03:49] adisky commented on #89233
/assign @tech-geek29

[2021-06-24 03:54] mengjiao-liu commented on #100695
/triage accepted

[2021-06-24 03:55] kenwoodjw commented on #100695
/triage accepted
/remove-kind support

[2021-06-24 03:56] tech-geek29 commented on #89233
/assign

[2021-06-24 03:56] wzshiming commented on #99986
/triage accepted

[2021-06-24 04:04] adisky commented on #9085
It seems there are other issues as well on Kubelet registration
https://github.com/kubernetes/kubernetes/issues/71398
/kind feature
(To handle kubelet re-registeration as a whole)

[2021-06-24 04:16] adisky commented on #101079
You want to say that, if you are using container runtime other than docker, still it collects metrics from docker?
can you attach Kubelet logs?

I think we should detect without using a flag what container runtime is used and fetch metrics accordingly.

/triage needs-information

[2021-06-24 04:27] adisky commented on #53221
Since dockershim is deprecated, We can close this issue!!
And as mentioned below validating container runtime versions is responsibility of CRI owners.

/close

[2021-06-24 04:27] #53221 closed

[2021-06-24 04:27] ctrlzhang commented on #45206
/area kubelet

[2021-06-24 04:30] #91509 closed

[2021-06-24 04:52] krtk6160 commented on #102104
The problem seems to have disappeared magically, so I'll close this for now.

[2021-06-24 04:52] #102104 closed

[2021-06-24 05:07] mengjiao-liu commented on #96614
/triage accepted

[2021-06-24 05:09] adisky commented on #98928
@yuanchen8911  Can you share more information Kubelet and scheduler logs? and the output of `kubectl describe node`.
Also are you running in the issue while node startup or it is always the case?
/triage needs-information

[2021-06-24 05:12] eplightning commented on #94970
@pacoxu

`fsck` passes through unknown options to the filesystem-specific fsck tool. From what I could find it's only really relevant for `ext4` filesystem (`e2fsck` tool):

[code]
https://man7.org/linux/man-pages/man8/e2fsck.8.html

I don't really know how safe it is compared to the standard `-a` option, it was the only thing that worked for me at the very least.

[2021-06-24 05:13] SergeyKanzhelev commented on #91845
@kfox1111 can you please explain how you use RuntimeClass. It is intended to use to "balance of performance versus security" when running pods. In other words, use a different ways to virtualize. Let's say you can run pods in ultra-secure
environment using RuntimeClass. What would be the reason to limit the number of resources these secure pods can consume? Would namespaces work better for your us

[2021-06-24 05:13] SergeyKanzhelev commented on #91845
/triage needs-information

[2021-06-24 05:18] wzshiming commented on #102818
/assign

[2021-06-24 05:22] n4j commented on #100987
/kind support
/close

[2021-06-24 05:29] adisky commented on #89163
/remove-lifecycle-stale

@mlbiam Are you still working in this? you can mark this issue as `/help` if you need some more people to work on it.

[2021-06-24 05:30] adisky commented on #7452
/remove lifecycle-frozen
Some work is going on here https://github.com/kubernetes/kubernetes/issues/89163

[2021-06-24 05:30] pacoxu commented on #100987
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

Feel free to reopen if this is a feature request or have some ideas/ write proposal/KEPs for it.

@Guru-arnav  Does the link [Metrics For Kubernetes System Components](https://kubernetes.io/docs/c

[2021-06-24 05:31] #100987 closed

[2021-06-24 05:31] #94912 closed

[2021-06-24 05:34] pacoxu commented on #94970
Could you PTAL?  @jingxu97 @jsafrane
cc some experts on this area.

[2021-06-24 05:47] pacoxu commented on #98808
/remove-lifecycle rotten
as it is in progress of 1.22 release cycle.

/triage accepted

[2021-06-24 05:55] deyuhua commented on #98473
/triage accepted

[2021-06-24 05:57] pacoxu commented on #98473
/triage accepted

[2021-06-24 05:58] wzshiming commented on #100803
SIG Node is reviewing and triaging issues that are relevant to supported versions of Kubernetes as part of a bug scrub.

This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Once more deta

[2021-06-24 05:59] adisky commented on #83916
/triage accepted
In progress PR https://github.com/kubernetes/kubernetes/pull/98507

[2021-06-24 06:00] adisky commented on #83916
/remove lifecycle-frozen

[2021-06-24 06:01] wzshiming commented on #100803
This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Please re-open this bug once you have provided more information.

/triage needs-information
/close

[2021-06-24 06:01] #100803 closed

[2021-06-24 06:12] adisky commented on #66181
/triage accepted
/kind feature

[2021-06-24 06:21] wzshiming commented on #101715
/assign

[2021-06-24 06:21] wzshiming commented on #101715
/triage accepted

[2021-06-24 06:22] wzshiming commented on #101715
/remove-sig scalability

[2021-06-24 06:27] pacoxu commented on #17244
/sig apps
/triage accepted

I get back to this issue during bug scrub of sig-nod. @soltysh  Do we still need to think about this feature?

[2021-06-24 06:31] adisky commented on #30039
/remove lifecycle-frozen
/triage accepted

[2021-06-24 06:33] brandond commented on #70044
We're seeing in on containerd, so definitely not limited to dockershim.

[2021-06-24 06:46] adisky commented on #89898
/triage accepted

[2021-06-24 06:48] mengjiao-liu commented on #99854
/triage accepted
/remove-lifecycle stale

[2021-06-24 06:50] pacoxu commented on #54384
If I understand correctly, this should be solved by https://github.com/kubernetes/enhancements/issues/1029. Currently, it is an alpha-level feature.

I asked to promote it to beta and after some discussions, we think there are several things to do before promoting it to beta. But for this issue, I think we can close it as resolved. And it should be tracked in  https://github.com/kubernetes/enhance

[2021-06-24 06:52] wzshiming commented on #98506
/lifecycle rotten

[2021-06-24 06:59] serathius commented on #102294
ok, looks like @pacoxu is busy. Let me take a look
/assign

[2021-06-24 07:07] hprateek43 commented on #102867
@ahg-g I can pick this up if its not assigned yet

[2021-06-24 07:14] adisky commented on #45206
I think it is still needed the new location is `pkg/cri/remote` and still needs more coverage.
/triage accepted
/help

[2021-06-24 07:15] k82cn opened #103141 "Support Oversubscription in kubernetes"
#### What would you like to be added:

In our scenario, the resource usage is very low comparing to resource request; so we'd like to re-use those "idle" by other low priority task, e.g. batch. In this conext, we'd like to add a new interface/api on those oversubscription resources, and some improvement to kubelet on cgroup management.

#### Why is this needed:

Oversubscription will help to impro

[2021-06-24 07:15] k82cn commented on #103141
/assign

[2021-06-24 07:15] k82cn commented on #103141
/sig architecture

[2021-06-24 07:17] k82cn commented on #103141
We're going to draft an design on this for more comments; if anyone interests in this feature, please also share your comments and suggestion :)

[2021-06-24 07:18] pacoxu commented on #81132
The current code is like https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/logs/container_log_manager.go#L402-L421.

Is this the same as #91765 or #90334 which is fixed by #93333?

If not, I think https://github.com/kubernetes/kubernetes/issues/81132#issuecomment-520167460 ted's solution would also solve it.

[2021-06-24 07:18] matthyx commented on #42904
/kind cleanup

[2021-06-24 07:23] pacoxu commented on #81132
The report link is updated to https://github.com/kubernetes/community/blob/master/sig-security/security-audit-2019/findings/Kubernetes%20Final%20Report.pdf

[2021-06-24 07:23] matthyx commented on #64864
/kind feature
/priority important-longterm

[2021-06-24 07:24] pacoxu commented on #81132
If not, I think https://github.com/kubernetes/kubernetes/issues/81132#issuecomment-520167460 ted's solution would also solve it.
/help

[2021-06-24 07:24] pacoxu commented on #81132
/triage accepted

[2021-06-24 07:24] matthyx commented on #19432
/kind cleanup

[2021-06-24 07:25] BenTheElder commented on #100783
I'm not familiar with exclude-rules. But perhaps.

Who decides which packages? I'm not sure this is a good idea, it should probably just be linters suitable to run repo-wide.

Er yes, but we can't force people to fix things. There has to be pretty high value (e.g. preventing runtime bugs), it's just too expensive at this point to fix nitpick stuff across the entire repo unless it's mechanical (lik

[2021-06-24 07:26] BenTheElder commented on #100710
I think this is primarily at the discretion of sig storage, however.

[2021-06-24 07:27] pacoxu commented on #102294
Thanks. @serathius

[2021-06-24 07:28] BenTheElder commented on #100489
I mean we're consolidating them, so there won't be so many to replace/mirror.

The cluster can be instructed to use a mirror for a registry, this doesn't have to be understood in the tests.

[2021-06-24 07:30] BenTheElder commented on #101042
/sig api-machinery
/remove sig-testing
(this is not a framework change, behavior of the test case is a question for the owning sig of code under test)

[2021-06-24 07:30] matthyx commented on #81112
Let sig-auth handle the KEP first...
/remove-sig node

[2021-06-24 07:31] #98044 closed

[2021-06-24 07:31] BenTheElder commented on #100273
raised in #sig-testing slack to see if anyone else has input

[2021-06-24 07:32] BenTheElder commented on #101172
/remove-sig testing
we don't own the nodes (?)

[2021-06-24 07:33] BenTheElder commented on #102194
/remove-sig testing
/sig cloud-provider
/triage accepted
/close
https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gce-alpha-features

[2021-06-24 07:33] #102194 closed

[2021-06-24 07:35] BenTheElder commented on #101944
I don't think there's anything further we can do here unless there's more information shared. Closing for now.

[2021-06-24 07:35] #101944 closed

[2021-06-24 07:36] matthyx commented on #86080
/area test
/triage accepted
/help

[2021-06-24 07:38] matthyx commented on #86080
@gnufied friendly reminder, are you still planning to work on this? Otherwise please unassign yourself.

[2021-06-24 07:38] BenTheElder commented on #45506
/remove-sig testing
(documenting this does not require any input from testing, and it appears to be already documented anyhow, supported version is a question for api-machinery)

[2021-06-24 07:40] BenTheElder commented on #58154
What is left on this issue?

[2021-06-24 07:42] BenTheElder commented on #65928
seems like this is
/sig release
(builds)
or
/sig api-machinery
(generated API code)
/remove-sig testing

[2021-06-24 07:42] 249043822 opened #103143 "volumemanager could not process reconstructed volume‘s consistency while pvc volume delay adding to dsw while apiserver access unstabitily"
#### What happened:
We have even encountered such case that pod continuously reports “Unable to attach or mount volumes for pod;...” when  kubelet restarted. The reasons are listed in details as below:
1. In `dswp.populatorLoop`, as result of apiserver instantaneous unstablility, dswp get pvc‘s pv spec failed, then the pvc volume does not be added to dsw. https://github.com/kubernetes/kubernetes/b

[2021-06-24 07:43] 249043822 commented on #103143
/sig-node

[2021-06-24 07:43] evanlixin commented on #91686
Hi, I am also facing the same issue, when using cache.NewListWatchFromClient to watch pod resource. I find StreamWatcher and see extremely high memory allocations.  pprof memory profile like this @vikramk7 described

[2021-06-24 07:44] 249043822 commented on #103143
/sig node

[2021-06-24 07:44] matthyx commented on #54076
This bug appears to have been addressed by https://github.com/kubernetes/kubernetes/pull/102297

/close

[2021-06-24 07:44] BenTheElder commented on #85425
has the conformance group agreed to this behavior @johnbelamaric?
how would you expect such a test to work?
are you sure conformance tests are not e.g. dialing kubernetes.default service?

[2021-06-24 07:44] #54076 closed

[2021-06-24 07:44] 249043822 commented on #103143
/triage accepted

[2021-06-24 07:45] BenTheElder commented on #102680
NOTE: the "local" provider is specifically hack/local-up-cluster.sh. any other cluster that is not one of "gce" etc. should use the default provider / "skeleton" provider (I know the naming is bad, but it's sort of an API now)

[2021-06-24 07:46] BenTheElder commented on #102680
/remove-sig testing

[2021-06-24 07:48] BenTheElder commented on #92601
/lifecycle frozen

FWIW this will likely get cleaned up by way of PSP being removed from Kubernetes => no more PSP installed by the tests ...

[2021-06-24 07:49] matthyx commented on #62788
/good-first-issue

[2021-06-24 07:49] jendrikjoe commented on #101697
For me personally that would be totally fine 👍 I had no use case for it. It was more produced by chance as I wasn't aware that I had to handle the case `[{}]` separately. An error which led to an early failure would have been fine by me and solved all my problems in tracking this down.

[2021-06-24 07:50] BenTheElder commented on #97472
this sounds useful, is it still ongoing?
/remove-lifecycle rotten

[2021-06-24 07:52] BenTheElder commented on #99673
somehow I thought we were running ineffassign in CI, that probably deserves it's own issue, I imagine it will be painful to enable this repo wide, but, it seems worthwhile as it will probably surface more bugs like this.

[2021-06-24 07:54] BenTheElder commented on #100274
Was CSI moved?

[2021-06-24 07:59] matthyx commented on #95380
I agree this should be lower than warning...

/triage accepted
/help

[2021-06-24 08:06] n4j commented on #102947
@Nebulazhang could you please fill in the below details in the template and give some more insights?
[code]

[2021-06-24 08:06] matthyx commented on #99808
/triage accepted

[2021-06-24 08:08] matthyx commented on #95488
/remove-lifecycle rotten
/triage accepted

[2021-06-24 08:09] matthyx commented on #95488
/area kubelet

[2021-06-24 08:13] chenyw1990 commented on #100849
@gjkim42 I will work on this issue

[2021-06-24 08:17] cynepco3hahue commented on #95380
I think all InfoS messages under the https://github.com/kubernetes/kubernetes/blob/b0010c2d9ea8f2d20ffca20da7846eb4bba6e456/pkg/kubelet/cm/cpumanager/cpu_manager.go#L370 should be moved to debug messages because it flood the log when the CPU manager enabled with the static policy.

[2021-06-24 08:19] matthyx commented on #80968
/assign @tedyu
/remove-lifecycle stale

[2021-06-24 08:20] matthyx commented on #80968
/area kubelet

[2021-06-24 08:21] matthyx commented on #102208
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2021-06-24 08:21] #102208 closed

[2021-06-24 08:23] tech-geek29 commented on #95380
/assign

[2021-06-24 08:27] matthyx commented on #102472
This will require unit test coverage at least...

/triage accepted
/help

[2021-06-24 08:31] chendave commented on #99580
/lifecycle stale

let me revive the PR later.

[2021-06-24 08:31] chendave commented on #99580
/remove-lifecycle stale

[2021-06-24 08:34] 249043822 commented on #103143
/assign @gnufied @jingxu97

[2021-06-24 08:35] jihoon-seo opened #103144 "Term `master` still exist in some script files"
#### What happened:
The page https://kubernetes.io/docs/tasks/administer-cluster/highly-available-control-plane/ introduces `kube-up.sh` script.

While reading, I noticed that the term `master` still exist in some script files in this repo.

- https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh
  - `KUBE_REPLICATE_EXISTING_MASTER`
  - and so on...
- https://github.com/kubernet

[2021-06-24 08:36] 249043822 commented on #103143
CC @sanwishe @yangjunmyfm192085

[2021-06-24 08:37] pacoxu commented on #48180
Using an admission controller is the current simplest workaround.
There are some examples in https://kyverno.io/policies/ to add labels/annotations to the pod.

You can create a configmap/secret to save the global envs and use the below  kyverno example to override all pods.
[code]
Currently, this will only work for the single namespace. For further function, I think it can be implemented easily.

[2021-06-24 08:39] jihoon-seo commented on #103144
/sig usability

[2021-06-24 08:41] aojea opened #103145 "e2e framework: monitoring and metrics report"
#### What would you like to be added:

I'd like the e2e framework to report some basic metrics for the kubernetes components during the tests.

xref: https://github.com/kubernetes/kubernetes/issues/101275#issuecomment-830577539

#### Why is this needed:

On hindsight, we could observe that CI jobs are very sensitive to CPU/RAM/IOPS resources, specially sig-network and sig-storage tests, that under

[2021-06-24 08:42] aojea commented on #103145
/sig testing
common stakeholders, feel free to add more to the discussion
@BenTheElder @liggitt @pohly @wojtek-t @spiffxp

[2021-06-24 08:43] pacoxu commented on #48180
For Kubernetes, I think the simplest solution is implementing it in kubelet.

Proposal 1: We can implement it on kueblet side.
- kubelet reads from namespace `kube-system` for configmap which is named `cluster-wide-envs`.
- when pod is creating, kubelet inject the env to Pods.(maybe according to namespace label that inject only if the namespace have a specified label).

Proposal 2: We can implemen

[2021-06-24 08:45] pacoxu commented on #48180
/sig api-machinery
for proposal 2. sig-node for proposal 1.

/triage accepted
as a feature request

[2021-06-24 08:49] yangjunmyfm192085 commented on #103143
I think this is a point that can be optimized. /cc @ehashman @dchen1107

[2021-06-24 08:52] JohnRusk commented on #102672
@wojtek-t   You mentioned rate-limiting based being based on in-flight limits, above.  I've been testing on large list sizes (e.g. 40,000 items) and I'm seeing it take almost a minute to serve the list (from cache).  Is that what you'd expect?  (Wondering if that's normal, or maybe something unexpected is interfereing with my test).

[2021-06-24 08:55] vickeyrihal1 commented on #103120
Awesome! crane copy command helped mirroring to local repository. Thanks a lot, @BenTheElder.

[2021-06-24 08:55] #103120 closed

[2021-06-24 08:56] BenTheElder commented on #103120
Great! You're welcome 😄

[2021-06-24 09:17] swatisehgal commented on #99678
@wzshiming Given that the potential fix has been closed https://github.com/kubernetes/kubernetes/pull/99431 can we close this issue ?

[2021-06-24 09:23] matthyx commented on #60748
/kind feature

[2021-06-24 09:23] aojea commented on #103097
/assign

[2021-06-24 09:26] pacoxu commented on #38532
Just brainstorming about this. Some users need more events but some are suffered from too many events(I think this is one of the reasons the event is not added.). The event has a limit of 10k size, and some period events will make great pressure on etcd.
I wondered if we should add a flag like `--event-level warning/info/debug` and add some new events as debug level to move this forward.

oom-even

[2021-06-24 09:31] mengjiao-liu commented on #102818
/triage accepted

[2021-06-24 09:31] #95214 closed

[2021-06-24 09:32] matthyx commented on #85624
/triage accepted
/priority important-longterm

[2021-06-24 09:33] matthyx commented on #85624
/area docker

[2021-06-24 09:33] fromanirh commented on #4949
/close
pretty much no activity in more than two years, and is not very clear what the next steps are.
Feel free to re-open once we have clearly actionable items on kubelet side

[2021-06-24 09:33] #4949 closed

[2021-06-24 09:37] adisky commented on #99708
/triage accepted
Needs to check how can we stop pod eviction if NodeAffinity not matched during kubelet startup

[2021-06-24 09:37] avarf opened #103147 "Two Kubernetes clusters behave differently for the same RBAC"
#### What happened:
I have created an application that needs to have access to list, create, update and delete different Kubernetes resources and I created a clusterrole for it as below. Everything works fine on my local K8s cluster that runs on Microk8s but when I deployed it on a bare-metal cluster with the same version of K8s I am getting errors that I don't have proper access.

How this is pos

[2021-06-24 09:41] avarf commented on #103147
`/sig auth`
`/wg auth`

[2021-06-24 09:41] matthyx commented on #93712
As per https://github.com/kubernetes/kubernetes/issues/93712#issuecomment-672279194 you should rebuild your own kubelet in static mode or use another image that has glibc as a base (I would suggest https://github.com/GoogleContainerTools/distroless/blob/main/base/README.md).

Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to deb

[2021-06-24 09:41] #93712 closed

[2021-06-24 09:44] fromanirh commented on #61937
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind bug
/kind support
/close

Extra rationale: this issue affects Centos 7, which is indeed much older than what we test in CI, and because workaround exists (see runc v1.0.0-rc94):

[2021-06-24 09:44] #61937 closed

[2021-06-24 09:47] swatisehgal commented on #99678
/sig network

[2021-06-24 09:51] matthyx commented on #99280
/triage accepted
/area kubelet

[2021-06-24 09:51] rahulii commented on #45206
/assign

[2021-06-24 09:53] swatisehgal commented on #47862
/triage accepted
/priority important-longterm

[2021-06-24 09:54] matthyx commented on #62788
assigned to @tech-geek29 (not org member)

[2021-06-24 09:56] sladyn98 commented on #45206
Would this need adding tests to add_imaget_test.go

[2021-06-24 09:57] tech-geek29 commented on #62788
/assign

[2021-06-24 09:58] glazychev-art opened #103148 "client-go: fixture data race"
#### What happened:
Hello,
Found a potential data race in `client-go` testing.
There is a test `TestWatchCallNonNamespace`
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/testing/fixture_test.go#L56
If we update it like this (we actually can do it [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/testing/fixture.go#L97)):
[co

[2021-06-24 09:58] fromanirh commented on #89477
/triage accepted
/area kubelet
/priority important-longterm

[2021-06-24 09:59] aojea commented on #103097
interesting the job config is exactly the same as https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd

The difference seems to be that this uses docker , I think that sig-release should start the debate about monitoring dockershim jobs, since it was already deprecated cc @dims @justaugustus

I would bump the timeout in the meantime

[2021-06-24 09:59] pacoxu commented on #59376
After reading the whole thread, there would be several reasons.
1. `--image-pull-progress-deadline` is by default 1m for docker(which is deprecated), and configure it to be 60m would solve the problem(if it is caused by not complete pulling in 1m for slow registry or large image).
2. Another common reason is the registry/network may have something wrong. and there are several ways to speed up the

[2021-06-24 09:59] fromanirh commented on #89477
because of the backward compatibility constraint and the extra care involved, I don't think this is actually trivial

[2021-06-24 10:00] glazychev-art commented on #103148
/sig api-machinery

[2021-06-24 10:00] fromanirh commented on #89477
/retitle Stop applying the beta.kubernetes.io/os and beta.kubernetes.io/arch

[2021-06-24 10:01] swatisehgal commented on #54090
/triage accepted
/area kubelet

[2021-06-24 10:02] ms-choudhary commented on #102472
/assign

[2021-06-24 10:03] hokiegeek2 commented on #38532
@pacoxu excellent ideas! 👍

[2021-06-24 10:06] rajaSahil commented on #99708
/assign

[2021-06-24 10:06] wzshiming commented on #99678
sure
/close

[2021-06-24 10:06] #99678 closed

[2021-06-24 10:06] swatisehgal commented on #102750
/area kubelet

[2021-06-24 10:10] pacoxu commented on #98928
I think this is a similar issue with #72593.  It also asks the question how do the kubelet refuse a pod if the pod is scheduled on a node and found it is not fully satisfied.
- When a pod with unsafe sysctl is scheduled to a kubelet that doesn't allow unsafe sysctl, it will be failed for `SysctlForbiden`.

[2021-06-24 10:11] matthyx commented on #101056
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind bug
/kind support
/close

[2021-06-24 10:12] #101056 closed

[2021-06-24 10:13] cynepco3hahue commented on #76951
@mikebrow Can I assign you if you are really working on it?

[2021-06-24 10:14] matthyx commented on #100336
It's been agreed to stop adding new flags in SIG Node meeting:
https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.qmsvtr8128ga

/triage accepted
/assign @adisky

[2021-06-24 10:18] aojea opened #103150 "Add a realistic e2e SCTP test"
#### What would you like to be added:

Add an e2e test with a real SCTP scenario.

#### Why is this needed:

We are only testing basic SCTP functionality, i.e. my SCTP packet reaches the corresponding endpoint, however that has demonstrated to be insufficient.

We need to have and e2e test with a real SCTP scenario so we can be sure that kubernetes meets the requirements and the expectations of SC

[2021-06-24 10:21] pacoxu commented on #99708
As @liggitt mentioned,  it may be fixed by #94087.

You may try to reproduce it with #94087 (1.21.0+,  v1.20.3+, v1.19.8+,  v1.18.16+).

[2021-06-24 10:21] cynepco3hahue commented on #81115
@cji Does the PR https://github.com/kubernetes/kubernetes/pull/101943 is enough to fix the issue?

[2021-06-24 10:30] adisky commented on #42950
/triage needs-information
/sig architecture
/sig security

[2021-06-24 10:31] dims opened #103151 "Auto-closing issues is harmful and causes friction"
Previously open issue : https://github.com/kubernetes/community/issues/5473
Twitter Discussion : https://twitter.com/BenTheElder/status/1407774856033181696

There's pros and cons to having a bot do this, let me try to enumerate current situation here:
- maintainers don't have to play bad cop
- keep set of open issues at a maintainable level
- bot commands are available to org members to `/reopen`

[2021-06-24 10:31] pacoxu commented on #102324
/cc @klueska @swatisehgal
Would you confirm if it is a bug or not?

[2021-06-24 10:31] swatisehgal commented on #61674
/triage accepted
/area kubelet

[2021-06-24 10:36] aojea commented on #97472
/close

There were different changes on the tests descriptions, and I think that right now we can close this, if you see the list right now is easy to filter them

[code]
/close

[2021-06-24 10:36] #97472 closed

[2021-06-24 10:42] fromanirh commented on #100145
/assign @swatisehgal

[2021-06-24 10:44] klueska commented on #102324
This does not appear to be a bug. The `CPUManager` does not allocate exclusive CPUs for *any* containers of pods in the `Burstable` QoS class (it only allocated them for containers of pods in the `Guaranteed` QoS class). So (independent of the `TopologyManager`) there would never be any exclusive CPUs handed out for either `myappnuma ` or `myapp2` in the case of YAML2 (and therefore nothing to pro

[2021-06-24 10:47] mengjiao-liu commented on #102170
This issue has not recurred in my environment
[code]

This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Please re-open this bug once you have provided more information.

/triage needs-i

[2021-06-24 10:48] swatisehgal commented on #102324
Thanks @klueska!

/close

[2021-06-24 10:48] #102324 closed

[2021-06-24 10:49] cynepco3hahue commented on #92851
@zerkms Can you please verify that it still happens for the HEAD version?
/triage needs-information

[2021-06-24 10:49] swatisehgal commented on #61662
/triage accepted
/area kubelet

[2021-06-24 10:51] mengjiao-liu commented on #102170
/reopen

[2021-06-24 10:51] swatisehgal commented on #100145
/area node-e2e

[2021-06-24 10:52] swatisehgal commented on #61650
/triage accepted
/area kubelet

[2021-06-24 10:54] cynepco3hahue commented on #101035
/triage accepted

[2021-06-24 10:59] adisky commented on #59376
@pacoxu it seems that the issue is fixed by  increasing `--image-pull-progress-deadline` and we have deprecated to dockershim so cannot fine tune any parameter now, I think we can close it?

[2021-06-24 11:01] matthyx commented on #102316
This has nothing to do with sig node...

/remove-sig node

[2021-06-24 11:03] rajaSahil commented on #99708
@pacoxu Sure.

[2021-06-24 11:04] matthyx commented on #102052
/assign @swatisehgal

[2021-06-24 11:05] adisky commented on #58034
/triage accepted
/priority backlog
I think we would be able to remove the flag once external kubelet credential provider promoted to GA
https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2133-kubelet-credential-providers

[2021-06-24 11:09] fromanirh commented on #40157
for reasons outlined in https://github.com/kubernetes/kubernetes/issues/40157#issuecomment-612121807 we can't just change the signal delivered. OTOH we can integrate with some OOM daemons, but this would require a separate discussion and KEP.

[2021-06-24 11:10] fromanirh commented on #40157
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind feature
/kind support
/close

[2021-06-24 11:10] #40157 closed

[2021-06-24 11:11] sladyn98 commented on #36400
/assign

[2021-06-24 11:12] sladyn98 commented on #36400
Any tips on how to begin, or where can I find a similar test to look off of

[2021-06-24 11:12] fromanirh commented on #36401
it seems partially addressed. To fully resolve, please file a new issue describing what's missing (and possibly reference this one for context)
/close

[2021-06-24 11:13] #36401 closed

[2021-06-24 11:18] fromanirh commented on #90593
/triage accepted
/area kubelet
/priority backlog

[2021-06-24 11:20] fromanirh commented on #88613
/area

[2021-06-24 11:22] fromanirh commented on #88613
/triage accepted
/area kubelet
/area docker

[2021-06-24 11:23] fromanirh commented on #26093
/triage accepted

[2021-06-24 11:30] zerkms commented on #92851
I don't have a playground to deterministically reproduce it.
I also don't have a playground to run arbitrary versions of kubernetes (unfortunately).

I think the easiest reproduction would be a scripted language (eg a python) that reads the file in a busy loop and then the secret is changed in another busy loop. For somebody with a proper k8s development setup creating this repro would take may be

[2021-06-24 11:30] fromanirh commented on #84869
/triage accepted
/priority backlog
we are actively working on this issue, but proper resolution will require multiple changes across a set of components

[2021-06-24 11:31] fromanirh commented on #57125
all the linked PRs are emrged and no activity since more than 3 years
/close

[2021-06-24 11:31] #57125 closed

[2021-06-24 11:32] sladyn98 commented on #36400
/close

[2021-06-24 11:32] fromanirh commented on #92093
/triage accepted

[2021-06-24 11:32] sladyn98 commented on #36400
Requires more information on detailed steps to reproduce.

[2021-06-24 11:34] fromanirh commented on #61661
/triage accepted
/area kubelet

[2021-06-24 11:34] sftim commented on #103151
It seems like a good idea to revisit the workflows here. What follows is very much my opinion and not representing any SIG. It also covers more than just autoclose.

Auto close _does_ avoid issues piling up.

- I'm OK with the idea of never closing issues that are triaged as accepted
- I'm also OK with the idea of auto closing issues that have been marked as needs more information or as support, a

[2021-06-24 11:39] adisky commented on #75890
This issue can be solved using the `taint` based approach as mentioned here
https://github.com/kubernetes/enhancements/pull/1003#issuecomment-619087019

and here
https://github.com/kubernetes/kubernetes/issues/75890#issuecomment-725792993
I think we can safely close this, the related KEP also has been closed with the same advice

/kind support
/close

[2021-06-24 11:39] #75890 closed

[2021-06-24 11:40] fromanirh commented on #99437
/area node-e2e

[2021-06-24 11:42] fromanirh commented on #46469
/triage accepted
/area kubelet
/priority backlog
/remove-lifecycle frozen

[2021-06-24 11:42] sftim commented on #103151
Does https://github.com/features/issues provide any new way to track issues and help avoid closing ones that are worth keeping?

[2021-06-24 11:46] fromanirh commented on #84473
/triage accepted
/area kubelet
/priority backlog
/remove-lifecycle frozen
It seems we all want this improvement, but yet to be seen who can work on this cleanup :\

[2021-06-24 11:52] 249043822 commented on #103143
I will give a fix for this

[2021-06-24 11:53] evanlixin commented on #102874
me too, Waiting for reply

[2021-06-24 11:54] adisky commented on #62788
I think this document can be updated on this issue

[2021-06-24 11:58] endocrimes commented on #5009
I think this issue is mostly solved by newer additions to kubernetes like storage classes, CSI, and dynamic provisioning - at least when it comes to classes of storage from within a source and not needing to maintain in-tree copies of volume management as storage technologies evolve.

I think because of that it makes sense to close this issue as a lot of the underlying need was solved in other way

[2021-06-24 11:58] #5009 closed

[2021-06-24 11:59] adisky commented on #62788
and the related code could be find here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L589

[2021-06-24 12:01] endocrimes commented on #26093
/priority important-longterm

[2021-06-24 12:02] endocrimes commented on #102880
/priority important-soon

[2021-06-24 12:06] fromanirh commented on #26093
/remove-priority backlog

[2021-06-24 12:08] fromanirh commented on #61661
/remove-priority important-soon
/priority backlog

[2021-06-24 12:09] flokli commented on #61572
That configmap doesn't necessarily exist. It's missing in k3s, for example.

I think the least annoying way to expose this would be to just also send the chain of trust while doing the connection set up (which is a good practice in other https servers as well).

Tooling outside the cluster can do TOFU if they want, or provide the cert by other means - and there's no additional API to implement.

[2021-06-24 12:09] fromanirh commented on #51017
/triage accepted
/area kubelet
/priority backlog

[2021-06-24 12:14] fromanirh commented on #90593
/sig storage

[2021-06-24 12:15] fromanirh commented on #94289
/triage accepted

[2021-06-24 12:16] jsafrane commented on #103119
Implemented this approach in https://github.com/kubernetes/kubernetes/pull/103154

[2021-06-24 12:16] swatisehgal commented on #101622
/area node-lifecycle

[2021-06-24 12:23] infrasystemelille opened #103155 "vsphere csi controller fails to attach a volume due to empty providerId found in the cluster"
#### What happened:
I would like to create and attach a RWO volume with vsphere csi driver. The PVC status is in pending state because the vsphere csi controller can't get the vm uuid node.
Vsphere csi controller log : failed to get shared datastores in kubernetes cluster. Error: Empty List of Node VMs returned from nodeManager

#### What you expected to happen:
The PVC state should be in bound st

[2021-06-24 12:23] swatisehgal commented on #103110
/triage accepted
/priority backlog
/area kubelet

[2021-06-24 12:26] fromanirh commented on #101585
per https://github.com/kubernetes/kubernetes/issues/101585#issuecomment-842403611 doesn't seem a bug. Please reopen if there is new evidence
/close

[2021-06-24 12:26] #101585 closed

[2021-06-24 12:31] fromanirh commented on #102881
SIG Node is reviewing and triaging issues that are relevant to supported versions of Kubernetes as part of a bug scrub.

This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Once more deta

[2021-06-24 12:32] tech-geek29 commented on #62788
/assign

[2021-06-24 12:34] fromanirh commented on #81113
/triage accepted

[2021-06-24 12:35] ahg-g commented on #102867
Yes please go ahead.

/assign @hprateek43

[2021-06-24 12:36] ahg-g commented on #102867
What you're describing is a gauge.

[2021-06-24 12:40] swatisehgal commented on #44118
/triage accepted
/priority important-long-term
/area kubelet

@

[2021-06-24 12:41] yashikabadaya commented on #92410
/assign

[2021-06-24 12:41] #79660 closed

[2021-06-24 12:42] swatisehgal commented on #44118
/priority important-longterm

[2021-06-24 12:42] kenwoodjw commented on #101655
/area node-lifecycle

[2021-06-24 12:43] swatisehgal commented on #44118
@feiskyer Are you still working on this or we need to identify a new assignee?

[2021-06-24 12:46] swatisehgal commented on #80334
https://github.com/kubernetes/kubernetes/pull/61877 addressed this issue.

/close

[2021-06-24 12:46] #80334 closed

[2021-06-24 12:47] infrasystemelille commented on #103155
/sig storage

[2021-06-24 12:49] sladyn98 commented on #103009
Should the validations here be done by the api-server or kubelet @ruiwen-zhao

[2021-06-24 12:53] sladyn98 commented on #101749
In light of @cgwalters comments we could revisit this with a new feature request possibly highlighting

[2021-06-24 12:53] sladyn98 commented on #101749
/close

[2021-06-24 12:54] #101749 closed

[2021-06-24 12:54] fromanirh commented on #61649
all the PRs merged or closed, no updates since 2+ years, please file an actionable issue if still work to be done
/close

[2021-06-24 12:55] #61649 closed

[2021-06-24 12:56] swatisehgal commented on #99918
/triage accepted
/priority awaiting-more-evidence
/area kubelet

[2021-06-24 12:58] sftim commented on #102867
I've heard it said that a gauge is appropriate if-and-only-if a `SUM` operation on the measurements does not make sense for any time interval. I think people might well care about aggregates on these metrics.

[2021-06-24 13:00] n4j commented on #89233
/assign

[2021-06-24 13:01] cynepco3hahue commented on #16627
/kind feature

[2021-06-24 13:03] sladyn98 commented on #36400
/re-open

[2021-06-24 13:04] jsafrane commented on #101791
I've fixed the current issues with FC and iSCSI in https://github.com/kubernetes/kubernetes/pull/102059 and https://github.com/kubernetes/utils/pull/205, however, if ConstructVolumeSpec from any other reason, the volume may not be unmounted from the global mount point, possibly corrupting its content when it gets mounted elsewhere.

[2021-06-24 13:05] sladyn98 commented on #36400
/open

[2021-06-24 13:08] sladyn98 commented on #48180
@pacoxu Would this require a KEP to implement ?

[2021-06-24 13:09] swatisehgal commented on #99126
/triage accepted
/area kubelet
/priority important-longterm

[2021-06-24 13:10] swatisehgal commented on #99126
/assign @lyzs90
Your approach seems reasonable to me. Please go ahead with the implemention.

[2021-06-24 13:11] cynepco3hahue commented on #99895
The CPU manager does not guarantee that only the pod will run on a specific set of CPUs(via cgroup cpuset).
1. so you have non-container processes, should be fixed via OS configuration(moving interrupts, specifying CPUAffinity for systems services...)
2. pause containers, should be solved on the CRI level because the Kubelet does not monitor the pause container(pod wrapper) at all, I provided the

[2021-06-24 13:11] cynepco3hahue commented on #99895
/close
Please free to open KEP or feature requests for the future CPU manager imrovement.

[2021-06-24 13:11] #99895 closed

[2021-06-24 13:14] n4j commented on #2630
Is this still an issue? If not can we close it?

[2021-06-24 13:20] matthyx commented on #100277
This is not per-se a bug.

/close

[2021-06-24 13:20] shay-berman commented on #96149
@alculquicondor the KEP kubernetes/enhancements#2359 is about node affinity and not pod affinity.
Do you know if there is any propose or KEP about pod requiredDuringSchedulingRequiredDuringExecution?

[2021-06-24 13:23] liggitt commented on #102676
cc @mattysweeps for 1.21 impact to systemd cgroup drivers

[2021-06-24 13:28] swatisehgal commented on #88662
/triage accepted
/priority important-longterm
/lifecycle frozen
/area kubelet

[2021-06-24 13:28] gjkim42 commented on #89233
The issue is still reproduced at master.

[code]
[code]

/triage accepted

[2021-06-24 13:33] cynepco3hahue commented on #44503
/kind feature

[2021-06-24 13:33] serathius commented on #99918
Please specify what evidence you are waiting for?
/priority important-longterm

[2021-06-24 13:38] dprotaso commented on #48528
Is there a KEP for this issue?

[2021-06-24 13:40] chrischdi commented on #102676
We can also confirm to not have the issue in `v1.21.0` but issue occured since using `v1.21.2` :-)

[2021-06-24 13:42] cynepco3hahue commented on #18787
/kind-remove design

[2021-06-24 13:43] dims commented on #102676
/milestone v1.22

+1 to backport to 1.21 as well to fix the bug in 1.21.x

[2021-06-24 13:44] cynepco3hahue commented on #18787
/remove-kind design

[2021-06-24 13:44] cynepco3hahue commented on #18787
/kind feature

[2021-06-24 13:47] mikebrow commented on #76951
yes

[2021-06-24 13:55] cynepco3hahue commented on #76951
/assign @mikebrow

[2021-06-24 13:58] swatisehgal commented on #84210
/triage accepted
/area kubelet
/priority important-longterm

[2021-06-24 14:01] dims opened #103157 "Update depstat to include new statistics"
Follow up from:
https://github.com/kubernetes/kubernetes/pull/103123#issuecomment-867658560

- vendored dependencies (things in our tree we actually include code from
- direct dependencies (things one of our k8s.io/* components refers to directly)

cc @RinkiyaKeDad

[2021-06-24 14:03] alculquicondor commented on #103132
/triage accepted

[2021-06-24 14:08] dims commented on #103157
closing in favor of https://github.com/kubernetes-sigs/depstat/issues/44

[2021-06-24 14:08] #103157 closed

[2021-06-24 14:14] cynepco3hahue commented on #99715
I am pretty sure @odinuge worked on something related to add hugepage under the kube and system reserved.

[2021-06-24 14:19] swatisehgal commented on #99918
Given the fact that this is going to be a user facing change, we should identify at least at a high level how this capability would be exposed to the user? Through the CLI? Do we need a new flag and/or feature gate in Kubelet to enable this ability? What are key changes and the components that would have to be modified. A Kubernetes enhancement Proposal ([KEP](https://github.com/kubernetes/enhance

[2021-06-24 14:25] odinuge commented on #99715
Yes! I did that almost two years ago, but it turned stall in lack of approval (I have cherry-picked it and have been using it myself since then). It should be good to go, if people are interested. I can reopen it in case someone are interested in reviewing and getting it merged! :smile:

The PR: https://github.com/kubernetes/kubernetes/pull/83541

[2021-06-24 14:31] #94831 closed

[2021-06-24 14:36] cynepco3hahue commented on #11815
@thockin Can you please clarify what exactly should be documented to make it a nice first issue?

[2021-06-24 14:42] cynepco3hahue commented on #100483
/remove-lifecycle stale

[2021-06-24 14:43] swatisehgal commented on #51798
/triage accepted
/priority important-longterm
/area kubelet

[2021-06-24 14:44] cynepco3hahue commented on #100483
/triage accepted

[2021-06-24 14:47] n4j commented on #17251
@yujuhong Is this issue still relevant? Should we pursue this?

[2021-06-24 14:50] n4j commented on #18174
Hey @lavalamp, checking if you were able to start with the KEP

[2021-06-24 14:51] fromanirh commented on #98981
/area kubelet
/priority important-longterm
/triage accepted

[2021-06-24 14:54] gjkim42 commented on #29845
I think this issue has been resolved by https://github.com/kubernetes/kubernetes/pull/32232.

@Random-Liu @yujuhong
Please reopen this if I am wrong.

/close

[2021-06-24 14:54] #29845 closed

[2021-06-24 14:56] alculquicondor commented on #96149
I'm not aware of any. Feel free to work on it. But note that revisions fall under sig/node, with sig/scheduling input.

[2021-06-24 14:56] fromanirh commented on #99437
/priority important-longterm

[2021-06-24 14:59] endocrimes commented on #1768
Now that service links are optional (dealing with some of the performance and collision issues that they used to cause), we're mostly waiting on a way to declare a subset of them for an application here, and it seems no headway has been made on that recently, I'm going to bump this down to important-longterm.

/priority important-longterm

[2021-06-24 15:03] jijiechen commented on #98094
/reopen

[2021-06-24 15:08] cynepco3hahue commented on #102763
/triage needs-information
@vsxen Can you please specify what kind of enhancement do you expect? It not clear to me just from the description that you provided.

[2021-06-24 15:08] jijiechen commented on #98094
Hi @caesarxuchao
I ran into this issue for quite a while when I was trying to start a port-forwarding using websocket.
Could you provide more information on "an error in the websocket code"? My connections were closed immediately after the first batch of data.
How to correctly connecting port-forward endpoint websockets?

I was thinking this could be an issue of the csharp client. So I raised [an

[2021-06-24 15:11] liggitt commented on #61659
The NodeRestriction admission plugin has made the set of labels a node can set on itself well-defined.

--node-labels is [widely used](https://grep.app/search?q=--node-labels) to tell nodes what labels to add on self-registration. The main reason this remained in alpha was that the permissions and lifecycle around node self-labeling were poorly defined.

Permissions: self-labeling represented a se

[2021-06-24 15:13] liggitt commented on #18394
Commented in https://github.com/kubernetes/kubernetes/issues/61659#issuecomment-867719409

The permissions aspect was a blocker for this and was resolved by https://github.com/kubernetes/enhancements/blob/0e4d5df19d396511fe41ed0860b0ab9b96f46a2d/keps/sig-auth/279-limit-node-access/README.md

This is referring to the second part described in https://github.com/kubernetes/kubernetes/issues/61659#iss

[2021-06-24 15:22] n4j commented on #102589
Yep, it's a duplicate issue.

@nature-18  maybe we can close one of them?

[2021-06-24 15:26] n4j commented on #102481
@ydp Could you give steps to reproduce this issue if the issue is consistent?

[2021-06-24 15:27] endocrimes commented on #1768
/remove-priority important-soon

[2021-06-24 15:29] swatisehgal commented on #18174
/triage accepted
/area kubelet kube-proxy

[2021-06-24 15:29] n4j commented on #102479
@yws-ss Could you provide steps to reproduce the issue?

Also, can you describe your EKS setup (e.g. number of nodes in NodeGroup etc.)

[2021-06-24 15:37] n4j commented on #102263
@ahmeddrawy Could you provide more details like which image you were trying to pull and are you experiencing this issue consistently?

[2021-06-24 15:39] e33ivanyauwai commented on #19825
I also experienced this issue, pod got killed with exit code 137 and restarted for many times.  But docker logs <container> showed that OOMKilled is false below.

        "State": {
             ...
            "OOMKilled": false,
             ...
        },

I read from the above comments that liveness probe failed may induce this issue, but this is not related to OOMKilled (my node has sufficien

[2021-06-24 15:39] swatisehgal commented on #26394
/triage accepted

[2021-06-24 15:40] n4j commented on #102479
/triage needs-information

[2021-06-24 15:40] endocrimes commented on #102472
it seems like this was at least partially intentional, as the question was raised in the initial PR - I wonder if @tcnghia could elaborate on the initial purpose there?

[2021-06-24 15:41] n4j commented on #102481
/triage needs-information

[2021-06-24 15:41] n4j commented on #102263
/triage needs-information

[2021-06-24 15:46] saschagrunert commented on #102472
Yes, I think it was intentional too and added it to the docs in this PR: https://github.com/kubernetes/website/pull/28226

[2021-06-24 15:53] ehashman commented on #18174
Personally I am a -1 to doing this for the kubelet, and I am inclined to close this as WONTFIX. Network and API Machinery would also need to commit. Not sure who's driving this at the moment.

From an architecture standpoint, I am not sure how kubelet talking to multiple API servers should even work. Are they from the same cluster? Different clusters? What guarantees would there be? Many open ques

[2021-06-24 15:58] gjkim42 commented on #101655
This seems to be a feature request.

It will expand the implication of the node's ready status.

[2021-06-24 15:58] sttts commented on #18174
@ehashman the use-case is to take a load-balancer – which is not always an option in every deployment, or it become a single point of failure to avoid – out of the equation for kubelet to talk to the apiserver, especially for the masters. The is a very very real use-case in OpenShift land. Talk to networking and api people. We are heavily suffering from customers who bring their own load-balancer

[2021-06-24 15:59] lavalamp commented on #18174
Same cluster; I think the request may be better phrased as "don't require a load balancer between cluster and control plane and still be HA"

"open to" means I'm willing to read one, not that I'm going to write one :)

(It's also not a promise to approve such a KEP!)

[2021-06-24 16:05] sttts commented on #18174
To clarify: this issue is probably a placeholder for something we would solve in client-go rather than in these two special clients. We have the very same topic for kube-controller-manager and kube-scheduler.

[2021-06-24 16:08] spkane commented on #99715
@chenyw1990 & @odinuge It appears that you both have worked of functionality around this. Do your PRs duplicate or compliment each other? It would be great to see your work around this issue get into 1.22

[2021-06-24 16:09] MadhavJivrajani commented on #84353
/triage accepted

[2021-06-24 16:11] BenTheElder commented on #103151
I want to point out that while the original somewhat hyperbolic tweet took off far beyond expectation there is an important follow-up: https://twitter.com/bentheelder/status/1407906836175491076

IMHO the biggest issue we have is staffing problems keeping after triage and so on.

Perhaps a new role in SIGs recognizing the folks that do issue triage? I think we need some way to recognize and encoura

[2021-06-24 16:17] SergeyKanzhelev commented on #36400
port forwarding is part of CNI. I think we need to add e2e test, likely conformance, that will ensure that if port forwarding was requested by container, it will be set up.

/reopen

[2021-06-24 16:18] kfox1111 commented on #91845
Multiple reasons. security isolation is one. but yeah, you could probably use namespace isolation too with that.

Another:
Say you have 2 pools of nodes with different hardware specs. Some are good at thing A, and some are good at thing B.

You label/taint the sets of nodes, and make a runtime class so the user can easily select between the two. If the size of A is significantly bigger then B, the

[2021-06-24 16:20] aojea commented on #101607
I didn't manage to make the bugzilla public, some misconfiguration issue, not private on purpose,
Anyway, patches are going to the kernel, copying comments from the kernel developer

and soon patches to allow to dump only the unreplied conntrack entries

[2021-06-24 16:21] sladyn98 commented on #36400
@SergeyKanzhelev thanks I can give it a shot, any examples that I can follow in the codebase

[2021-06-24 16:26] aojea commented on #101904
not failures for 3 weeks, since https://github.com/kubernetes/kubernetes/pull/102533 this merged, I'm going to close it, we can reopen if it fails again
/close

[2021-06-24 16:26] #101904 closed

[2021-06-24 16:32] evankanderson commented on #103151
One thing we're going to start experimenting with in Knative is building an issue-triage report to make this sort of thing more manageable:

The initial focus will be simply on quantifying the bot impact:

How many issues touched in the last 100 days:
* Were marked by the stale-bot?
* And had a human undo the stale-bot?
* First item and never had an org member comment?

If there's interest, it mig

[2021-06-24 16:37] Jc2k commented on #72236
/remove-lifecycle stale

[2021-06-24 16:37] lavalamp commented on #18174
I'm not convinced about that at all. That depends a lot on the mechanics of the particular installation whether that would make sense. I agree that merits consideration but I don't think it's the only solution that does, and I wouldn't give it more than a 60% chance of beating other options.

[2021-06-24 16:38] SergeyKanzhelev commented on #64523
/area test
/priority backlog
/sig testing

[2021-06-24 16:43] jingxu97 commented on #103143
@249043822 Thanks for reporting the issue, this innerSpecName and outerSpecName are confusing and cause issues. Please ping me for review when you have a fix.  Thanks!

[2021-06-24 16:43] SergeyKanzhelev commented on #102191
/remove-kind bug
/triage accepted

[2021-06-24 16:45] cynepco3hahue commented on #88543
/remove-kind feature
/kind bug
see https://github.com/kubernetes/kubernetes/issues/88543#issuecomment-603412994
/triage accepted

[2021-06-24 16:48] innovate-invent commented on #75890
@adisky I don't think this issue is resolved. Given how common daemonsets are, k8s shouldn't need a third party tool to ensure that the correct scheduling order occurs. This is mandatory for CSI drivers to function properly.

[2021-06-24 16:56] SergeyKanzhelev commented on #98807
/area test
/remove-kind feature
/kind cleanup

this is a request for test, not a new feature. Changing kind

[2021-06-24 16:57] SergeyKanzhelev commented on #64523
/remove-kind bug
/kind cleanup

kind cleanup works better here

[2021-06-24 16:59] aojea commented on #64523
I want to share something that was useful to me in the past to catch issues related to leaks on long running environment.

The job was very simple (adapted to kubernetes):
1. Deploy a cluster
2. Snapshot and dump whatever you are interested to check for leaks (etcd, heap, ...)
3. Keep the cluster running for a long time (several days, one week, ... ), and start a loop (or multiple loops) that crea

[2021-06-24 17:16] ehashman commented on #95942
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2021-06-24 17:16] #95942 closed

[2021-06-24 17:16] ehashman commented on #95942
I'd also suggest reaching out to Rancher support; they may be able to help.

[2021-06-24 17:17] ehashman commented on #99356
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2021-06-24 17:17] #99356 closed

[2021-06-24 17:19] ehashman commented on #99986
/remove-kind support

I don't think this is a support request, I think this is a feature request for making this threshold configurable.

/kind feature

[2021-06-24 17:19] ehashman commented on #101481
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2021-06-24 17:19] #101481 closed

[2021-06-24 17:21] ehashman commented on #102501
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

You may also want to reach out to AKS support for assistance, but this appears to be an application-specific issue.

/remove-kind bug
/close

[2021-06-24 17:21] #102501 closed

[2021-06-24 17:22] ehashman commented on #102841
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

It looks like we have some documentation for this already as linked by @HongjiangHuang but I will also mark this with a docs tag.

/kind documentation
/close

[2021-06-24 17:22] #102841 closed

[2021-06-24 17:24] ehashman commented on #102659
/remove-kind support

A timeout on pod sandbox creation could possibly be a bug, but there isn't enough information here to be certain.

Can you provide full kubelet/container runtime logs and the pod specification? This is not possible to reproduce or debug in its current state.

/triage more-information

[2021-06-24 17:25] ehashman commented on #102659
/triage needs-information

[2021-06-24 17:36] ehashman commented on #51430
@pacoxu why was the PR that fixed this closed?

[2021-06-24 17:38] n4j commented on #102947
/triage needs-information

[2021-06-24 17:38] ahg-g commented on #103141
wouldn't setting the pod requests to something lower and rely on a higher pod limit practically achieve overcommit semantics?

[2021-06-24 17:47] ehashman commented on #55414
/sig cluster-lifecycle

Closed in https://github.com/kubernetes/kubernetes/pull/84718 when this file was removed.

/close

[2021-06-24 17:47] #55414 closed

[2021-06-24 17:50] ehashman commented on #63814
/remove-priority critical-urgent
as we don't have anyone assigned and this didn't block the last release

/triage accepted
/help

[2021-06-24 17:52] ehashman commented on #85330
/triage needs-information

[2021-06-24 17:54] lavalamp commented on #102749
/sig api-machinery

Can you provide an example CR that triggers this behavior?

[2021-06-24 17:56] ehashman commented on #85966
/sig network
/help

This should be clear enough for someone to pick up to try to address with reproducer in first comment. We have a lot of refactoring happening in the pod lifecycle right now, I am curious if this will still be an issue in 1.22.

[2021-06-24 17:58] liggitt commented on #102749
slack thread (with linked CRs): https://kubernetes.slack.com/archives/C0123CNN8F3/p1623878934051800?thread_ts=1623689723.044900&cid=C0123CNN8F3

[2021-06-24 17:58] ehashman commented on #97138
Great! Glad it was fixed.

[2021-06-24 17:58] ehashman commented on #97138
/close

[2021-06-24 17:59] #97138 closed

[2021-06-24 18:00] ehashman commented on #97066
Per https://github.com/kubernetes/kubernetes/issues/92638#issuecomment-651836545 running the kubelet inside a container is not supported. It should be run directly on the host.

/close

[2021-06-24 18:01] #97066 closed

[2021-06-24 18:04] aojea commented on #100427
/close

As duplicate and without answer

[2021-06-24 18:04] #100427 closed

[2021-06-24 18:08] Huang-Wei commented on #102154
With this as an assumption, yes, (50+50)/2 is a neat algorithm.

[2021-06-24 18:09] ehashman commented on #98494
I would not this expect this to happen because restarting containerd should not restart containers. The data plane should be resilient to control plane failures.

/close

[2021-06-24 18:11] ehashman commented on #99370
/remove-lifecycle stale

I think we should try to backport a targeted fix that just fixes the panic in 1.19 (1.18 unfortunately isn't supported anymore).

/triage accepted
/help

[2021-06-24 18:11] liggitt commented on #98494
The `runtime` metrics are supposed to be metrics for the container runtime itself. This is related to the ability to monitor container runtime health, not saying that all containers should have been restarted.

[2021-06-24 18:12] ehashman commented on #103006
/triage accepted

/cc @fromanirh @swatisehgal @cynepco3hahue

[2021-06-24 18:13] liggitt commented on #98494
it looks like this was a cadvisor bug that had activity in https://github.com/google/cadvisor/pull/2800

if that's resolved the issue, can we use this to track when the fixed cadvisor version is included in k/k?

/cc @bobbypage

[2021-06-24 18:15] endocrimes commented on #81124
/triage accepted
/priority important-longterm

[2021-06-24 18:17] ehashman commented on #102392
/triage not-reproducible

If someone can repro this, then we can look at fixing it but thus far we have been unable. Will close if we cannot reproduce.

[2021-06-24 18:24] ehashman commented on #72320
I think the crux of the issue is this:

They are not. They are considered Running, and that's how the Kubelet will account for them.

The kubelet has no reliable way to know why they are disrupted. A Pending pod is waiting to start; it might have just been scheduled. A CrashLoopBackoff pod could have restarted for any number of reasons: failing liveness probe, disruption on the host outside of Kub

[2021-06-24 18:25] ehashman commented on #94220
/cc @fromanirh @swatisehgal @cynepco3hahue
/triage accepted

[2021-06-24 18:27] SergeyKanzhelev commented on #89903
/cc
/cc @qiutongs
/kind bug
/area cAdvisor
/priority important-soon

[2021-06-24 18:27] aojea commented on #18174
We should check the different solutions , experiment, compare and decide ...

/retitle "don't require a load balancer between cluster and control plane and still be HA"

Let me give this a shot
/assign

[2021-06-24 18:27] liggitt commented on #102749
does this also reproduce in 1.21 / HEAD, or is it limited to 1.19/1.20?

[2021-06-24 18:28] ehashman commented on #99188
/sig storage

This bug doesn't seem to have enough details to reproduce or further investigate. You must include full kubelet logs and relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Please re-open this bug once you have provided more information.

/triage needs-information
/close

[2021-06-24 18:28] #99188 closed

[2021-06-24 18:31] ehashman commented on #102908
Docs say (emphasis mine)

I don't think this is a bug, but rather a clarity issue with the docs.

/remove-kind bug
/kind documentation
/help
/good-first-issue

[2021-06-24 18:31] ehashman commented on #102908
/triage accepted

[2021-06-24 18:39] brandond commented on #85330
We have information and can provide, just need to know who wants the logs...

[2021-06-24 18:40] ehashman commented on #100844
I don't understand how this is a Node bug. This seems like an issue with API Priority and Fairness, and the environment in question.

It's possible the API Server could apply different rate limiting rules to `/livez` or whatever is being queried for liveness. But, there is no requirement that an API Server needs to be run as a container under a kubelet, or that a liveness probe needs to be defined

[2021-06-24 18:41] liggitt commented on #99270
Of the options, the one that seems most concerning to deprecate/remove is file/stderr/stdout destination switching in favor of writing only to stdout.

Have we determined how much use there is of these three options today? (not just in the images we build, but broadly... people run these components using their own scripts)

Collapsing to a single output stream and then allowing switching that stre

[2021-06-24 18:47] ehashman commented on #99608
This looks like a kernel limitation to me, not kubelet bug per se. Thanks @hanlins for linking the bug above, I agree it's related.

Kernel code where max limits are set: https://github.com/torvalds/linux/blob/0bddd227f3dc55975e2b8dfa7fc6f959b062a2c7/kernel/sched/sched.h#L427-L428

/triage accepted
/remove-lifecycle stale

It seems we are only clamping for stuff under `pkg/kubelet/cm`, I don't kno

[2021-06-24 18:51] ehashman commented on #97100
This was fixed in 1.20.5/1.19.9: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#changelog-since-v1204

/close

[2021-06-24 18:51] #97100 closed

[2021-06-24 18:53] ehashman commented on #52172
/triage accepted
/remove-priority awaiting-more-evidence

I think there's probably enough detail here to reproduce and attempt to fix this.

/help

[2021-06-24 18:58] ehashman commented on #92410
/close

I think this is a duplicate of #86984.

[2021-06-24 18:58] #92410 closed

[2021-06-24 18:59] ehashman commented on #86984
/triage needs-information

Can someone please reproduce this?

I think there's a few things we should do to follow up:

1. Validate if `--log-file-max-size` is set but `--log-file` is not set, and print a warning that the first flag will be ignored.
2. Improve documentation for these flags to indicate they both need to be used together.

I know there's also some discussion of deprecating these fla

[2021-06-24 18:59] ehashman commented on #86984
/help

[2021-06-24 19:19] unixfox commented on #90131
/remove-lifecycle stale

[2021-06-24 19:19] endocrimes commented on #102367
/remove-sig node

from a node perspective this is somewhat expected behavior

[2021-06-24 19:21] coderanger commented on #103151
Being mostly on the user side I do feel a lot of frustration with these. I think auto-closing specifically in the case of a ticket/PR being in a "waiting for OP to respond" state is okay but when the issue is accepted as real and there's nothing more to say, then auto-closing them is pretty grumble-inducing. Auto-cloing untriaged tickets/PRs feels like a gray area, can see both sides, and probably

[2021-06-24 19:23] BenTheElder commented on #103144
This is pretty challenging to clean up, these environment variables are sort of an "API", I think we should probably drop it from the docs, as this script is really not suitable for any sort of production use, it's just still widely used in the project's CI.

https://github.com/kubernetes/kubernetes/blob/master/cluster/README.md (see deprecation notice)

[2021-06-24 19:24] endocrimes commented on #54487
Can you confirm if this is still a bug on more recent kubernetes versions?

/remove-lifecycle frozen

[2021-06-24 19:28] SergeyKanzhelev commented on #38495
@dashpole this assignment happened last year. Do you still want to work on this?

as per the issue - log rotation is implemented in CRI now. And Dockershim is deprecated. Is this still an issue?

KEP: https://github.com/kubernetes/enhancements/issues/2411

[2021-06-24 19:29] SergeyKanzhelev commented on #38495
/close

please re-open if the bug is still relevant

[2021-06-24 19:29] #38495 closed

[2021-06-24 19:36] wgahnagl commented on #101733
/kind feature

[2021-06-24 19:36] nickgerace commented on #102749
This was also reproducible on 1.21, but I'm unsure which patch release since that was internally reported. I have only personally tested.
- 1.19.0
- 1.19.9
- 1.19.10
- 1.20.6

[2021-06-24 19:42] wgahnagl commented on #101733
This feature doesn't seem to have enough details to further investigate. What is the end result you want to achieve?

Please re-open once you have provided more information.

/triage needs-information
/close

[2021-06-24 19:42] #101733 closed

[2021-06-24 19:44] SergeyKanzhelev commented on #61667
/close

since it is done already

[2021-06-24 19:44] #61667 closed

[2021-06-24 19:45] wgahnagl commented on #100365
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/kind support
/close

[2021-06-24 19:45] #100365 closed

[2021-06-24 19:52] SergeyKanzhelev commented on #90131
/remove-sig node

I think sig networking needs to decide on scenario importance and then we can add sig node as reviewers

[2021-06-24 19:53] wgahnagl commented on #75457
/kind feature
/remove-kind design

[2021-06-24 19:56] ehashman commented on #16466
/close

Old issue from 2015, this would need a KEP.

[2021-06-24 19:56] #16466 closed

[2021-06-24 19:56] SergeyKanzhelev commented on #75457
/sig cluster-lifecycle

[2021-06-24 19:58] haircommander commented on #100389
I agree, I believe this is fixed as of runc-1.0.0-rc94. Please reopen if you disagree
/close

[2021-06-24 19:58] #100389 closed

[2021-06-24 20:00] haircommander commented on #101829
@Nebulazhang is this still needed? if so, can you add tests as requested by @SergeyKanzhelev

[2021-06-24 20:03] haircommander commented on #99009
CRI-O provides this feature through registry mirroring in [registries.conf](https://github.com/containers/image/blob/main/registries.conf), as does [containerd](https://github.com/containerd/containerd/blob/main/docs/cri/registry.md) I believe. Would either of those meet your needs @Starttoaster

[2021-06-24 20:05] ehashman commented on #70179
This is really a documentation gap.

Most of the comments here don't report _which_ memory metric from cadvisor you are looking at, but I suspect it is `container_memory_usage_bytes`.

`container_memory_working_set_bytes` will likely correspond to what you have in top. But your containers may preemptively reserve more memory than that, even if it is not in active use, which is why it shows up in t

[2021-06-24 20:05] #70179 closed

[2021-06-24 20:06] haircommander commented on #98661
This bug seems to be happening in an out-of-support version 1.14.3. Please reopen if the behavior is still happening in a supported version
/close

[2021-06-24 20:07] lavalamp commented on #100844
It is a node issue because there is no way, from apiserver's perspective, to tell the difference between an anonymous kubelet and an anonymous DDoS-er. The problem is that there is no way to put any identity information into the liveness probe section of a pod.

I doubt that apiserver is the only workload for which this would be handy.

Previously this was solved via the insecure port, which DDoSe

[2021-06-24 20:10] caesarxuchao commented on #103148
/cc @roycaihw
/triage accepted

@roycaihw Do you remember if we fixed similar issues before?

[2021-06-24 20:11] neolit123 commented on #75457
in a recent k/kubeadm ticket we discussed that it's technically not possible (due to privileges) for kubeadm to allow applying joining nodes the `node-role` and other reserved *kubernetes.io labels:
https://github.com/kubernetes/kubeadm/issues/2509
it becomes the responsibility of the administrator or a higher-level tool, like a controller / operator.

[2021-06-24 20:11] utkarsh2102 commented on #24527
Hey,

This hasn't been looked up in ~5 years and has a related PR, which has been closed, too. So I'd be inclined to closing this one. Should you feel differently, please let us know?

/kind feature
/close

[2021-06-24 20:11] caesarxuchao commented on #102749
/triage accepted
/cc @leilajal

[2021-06-24 20:12] ehashman commented on #24527
/remove-lifecycle frozen
/close

[2021-06-24 20:12] #24527 closed

[2021-06-24 20:13] caesarxuchao commented on #101042
/sig network

cc @DangerOnTheRanger

/triage accepted

[2021-06-24 20:16] jonesbr17 opened #103166 "CVE-2021-33194: Update golang.org/x/net to v0.0.0-20210520170846-37e1c6afe023"
#### What happened:

All versions are vulnerable to CVE-2021-33194

#### What you expected to happen:

Vulnerability to be mitigated

#### How to reproduce it (as minimally and precisely as possible):

go.mod needs to be updated to include
[code]

#### Anything else we need to know?:

Golang Go is vulnerable to a denial of service, caused by an infinite loop in golang.org/x/net/html. By sending a

[2021-06-24 20:16] haircommander commented on #55713
It sounds like this has been fixed in all supported versions of k8s: https://github.com/kubernetes/kubernetes/issues/55713#issuecomment-844035331

as such, I'm closing this
/close

[2021-06-24 20:17] #55713 closed

[2021-06-24 20:18] jonesbr17 commented on #103166
/sig release

[2021-06-24 20:19] wgahnagl commented on #58154
/remove-sig node
we're removing these tests so this doesn't apply to sig node anymore
https://github.com/kubernetes/kubernetes/issues/92674

[2021-06-24 20:21] wgahnagl commented on #52757
/kind feature
/lifecycle frozen
/help

we don't have anyone in sig node who's working on this, and wouldn't be opposed to it, but there's no design proposals that have been raised for consideration.

[2021-06-24 20:23] wgahnagl commented on #7452
still relevant! known tech debt but we don't have anyone working on fixing it :(

[2021-06-24 20:25] wgahnagl commented on #51746
/assign @saschagrunert
can we have an update on this ?

[2021-06-24 20:31] wgahnagl commented on #43916
/kind feature
/lifecycle frozen
:snowboarder:
there isn't a clear path forward, so we need somebody to adopt this and drive it  :thinking:
nobody in sig node is currently working on this.

[2021-06-24 20:31] #98234 closed

[2021-06-24 20:32] wgahnagl commented on #43111
/area test

[2021-06-24 20:32] wgahnagl commented on #43111
/kind cleanup

[2021-06-24 20:36] wgahnagl commented on #43111
this still needs to be looked at

https://cs.k8s.io/?q=TestContext.KubeletConfig&i=nope&files=&excludeFiles=&repos=

[2021-06-24 20:36] neolit123 commented on #103147
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.15", GitCommit:"2adc8d7091e89b6e3ca8d048140618ec89b39369", GitTreeState:"clean", BuildDate:"2020-09-02T11:31:21Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

note that this is an unsupported version skew for kubectl
https://kubernetes.io/releases/version-skew-policy/#kubectl

i have no explanation why are you

[2021-06-24 20:37] #103147 closed

[2021-06-24 20:38] wgahnagl commented on #42950
/kind feature
/remove-kind design

is this still relevant ?

[2021-06-24 20:40] thockin commented on #103000
This is a legit bug in iptable.  When we do a "recent" check, we check per SEP (service endpoint - aka port) not per service.

The question is whether we can actually fix it or not.   In particular, it is possible to have a backend pod which offers some but not all service ports (via `targetPort=<string>`) and fixing this would break clients.  It seems EXCEEDIGLY unlikely to be a real problem, but

[2021-06-24 20:43] wgahnagl commented on #3949
/close
no longer relevant, reopen if it becomes relevant again :+1:

[2021-06-24 20:46] thockin commented on #102654
I think Issue 1 is open for debate, but I think it's most correct as it is - the user clearly meant to downgrade and didn't change IPFamilies.

Issue 2 is correct, as Kal says.

[2021-06-24 20:46] ehashman commented on #3949
/reopen
/title Pod lifecycle checkpointing

This has been raised recently at SIG Node meetings with some demos. https://github.com/kubernetes/enhancements/pull/1990 is not yet implementable but reopening to keep this on backlog.

(closed due to confusion about title/first comment)

[2021-06-24 20:47] lauchokyip commented on #102378
can take a look at this one and put it some of my thoughts

[2021-06-24 20:47] lauchokyip commented on #102378
/assign

[2021-06-24 20:47] thockin commented on #102646
Pinging this one for updates.

[2021-06-24 20:48] wgahnagl commented on #36621
/kind cleanup

[2021-06-24 20:49] wgahnagl commented on #36400
/kind cleanup

[2021-06-24 20:50] thockin commented on #102398
Pinging this for any updates?

What network policy implementation are you using?

[2021-06-24 20:51] enj commented on #81127
/sig auth

[2021-06-24 20:51] ruiwen-zhao commented on #103009
This is probably open to discuss. I am thinking that api-server might be a better choice since it will fail the pod as early as possible. Otherwise the pod will get scheduled onto a node and then get rejected by the kubelet on the node.

[2021-06-24 20:52] wgahnagl commented on #35521
/kind bug

[2021-06-24 20:53] thockin commented on #102367
I'm adding node back - while this is "expected" it's not "helpful" :)

It's not clear to me what the RIGHT answer is, but I do think it involve kubelet.

Does anyone have a link handy to where kubelet sets NotReady and why?

[2021-06-24 20:54] wgahnagl commented on #35183
/kind feature

[2021-06-24 20:54] thockin commented on #102198
Pinging for any updates?

[2021-06-24 20:54] kargakis commented on #42950
I'd say the concept of a "trustless master" is something that should still be relevant, particularly given the proliferation of managed clusters. It'd be nice to a see a proof-of-concept with image signing.

[2021-06-24 20:55] thockin commented on #102085
Is this something you can reproduce on demand or did it just happen once?

[2021-06-24 20:56] #102009 closed

[2021-06-24 20:56] thockin commented on #101978
Is there any followup needed here?

[2021-06-24 20:56] #101263 closed

[2021-06-24 20:57] thockin commented on #101216
Is there more followup needed here?

[2021-06-24 20:57] #101165 closed

[2021-06-24 21:07] DaveWHarvey commented on #72320
We want to evict a pod that is currently unavailable (involuntarily disrupted), and the PDB is trying to maintain a number of available pods, and actions of the unavailable pods do not affect the purpose of the PDB.   But the wording for the PDB is around not evicting when number of available pods is below some threshold, but it would make more sense if it was worded to not evict if the number of

[2021-06-24 21:07] #103097 closed

[2021-06-24 21:12] aojea commented on #103000
/cc

[2021-06-24 21:12] mgutierrez98 commented on #94901
I can try to work on this if it's still available?

[2021-06-24 21:14] subodh-dharma commented on #98719
Similar issue: https://github.com/kubernetes/kubernetes/issues/96240

[2021-06-24 21:18] #103119 closed

[2021-06-24 21:20] kishorj commented on #101608
@rkubik-hostersi, the proxy protocol annotation will not be supported by the in-tree controller. Please refer to the earlier comments from @fawadkhaliq on the alternative.

closing this issue.
/close

[2021-06-24 21:20] #101608 closed

[2021-06-24 21:23] rikatz commented on #102575
Hi,

Thanks for the issue and the idea. Although ingress-nginx is indeed a SIG Network subproject, we have our repo in https://github.com/kubernetes/ingress-nginx

Can you open this issue on our specific repo, and closing this one. This way we can have some more eyes (ingress nginx implementators) into that.

Thanks! You can mark me and @strongjz into that issue :)

[2021-06-24 21:24] subodh-dharma commented on #96240
Facing a similar issue as mentioned in #98719.

My cluster details:

Kubernetes Version:
[code]

Docker: 19.03.13
Kernel: 4.15.0-143-generic
OS: Ubuntu 18

Error details:

[code]

VolumeMount Section of the deployment:

[code]

Volumes Section
[code]

[2021-06-24 21:26] fejta commented on #103151
This reminds me of the different types of strategies used by dictionaries. Some are descriptive -- describing how people use words -- whereas others are prescriptive -- informing people how they should use words.

https://www.merriam-webster.com/words-at-play/descriptive-vs-prescriptive-defining-lexicography

What strategy should we use for the backlog of issues that no one has engaged with in hal

[2021-06-24 21:38] SergeyKanzhelev commented on #64523
So we can run test like this: https://github.com/kubernetes/kubernetes/blob/91200bac44f0090a57702d214aa6ca1325a837c5/test/e2e/node/pods.go#L65, or even more simplified one, and run it in the loop for a while.

I'm thinking what would be the best way to observe failures and measure things. Maybe use NPD instead of creating anything custom?

[2021-06-24 21:40] BenTheElder commented on #103151
We close bugs _far_ quicker than half a decade. IMO the amount of time a bug spends open is actually immaterial. If the bug is real and not fixed it deserves to be tracked, it is wasteful to file N bugs for the same problem, and it prevents users from tracking resolution when we spread it out in this way.

We've yet to have any solid arguments as to why open bugs are harmful. At best there is some

[2021-06-24 21:46] SergeyKanzhelev commented on #61647
@mtaufen as DynamicKubeletConfig is deprecated and will be removed (KEP: https://github.com/kubernetes/enhancements/issues/281), this is no longer needed, correct? All configuration will be instance specific

/close

[2021-06-24 21:46] #61647 closed

[2021-06-24 21:48] uablrek commented on #93456
/remove-lifecycle stale

There is a pending PR https://github.com/kubernetes/kubernetes/pull/97081

[2021-06-24 21:56] MikeSpreitzer opened #103167 "Missing doc that static pod's spec can not reference any API objects"
#### What happened:
I discovered by way too indirect means that a static pod can not have a ConfigMap or Secret volume.

#### What you expected to happen:
I expected such a restriction to be clearly documented in the API documentation.  Probably either in the documentation for PodSpec.Volumes or ConfigMapVolumeSource and SecretVolumeSource.

#### How to reproduce it (as minimally and precisely as

[2021-06-24 22:01] MikeSpreitzer commented on #103167
@kubernetes/sig-apps-bugs

[2021-06-24 22:13] SergeyKanzhelev commented on #10091
@mtaufen @thockin the issue is quite old. I think I understand context. Do you think the term manifest is still needs to be eliminated in the codebase? It looks like it is used as a reference to yaml file now in some cases. Like "Pod manifest": https://github.com/kubernetes/kubernetes/blob/3a47ddccdfb09e73758cebb2690ad2a014f67e23/hack/local-up-cluster.sh#L34

Is there any "appropriate" uses of man

[2021-06-24 22:13] SergeyKanzhelev commented on #10091
/kind cleanup

[2021-06-24 22:13] ehashman commented on #10091
As far as I can tell, we have supported configuring this directory since at least 1.4: https://github.com/kubernetes/kubernetes/pull/29999

There's possibly some very non-urgent cleanup left to do re: the name manifest but I don't think it's very critical: https://cs.k8s.io/?q=manifest&i=fosho&files=cmd%2Fkubelet&excludeFiles=&repos=kubernetes/kubernetes

/remove lifecycle-frozen
/close

[2021-06-24 22:13] #10091 closed

[2021-06-24 22:14] gjkim42 commented on #3949
/triage accepted

[2021-06-24 22:17] aojea commented on #103000
I think that we can justify one or the other option, to me this is a problem of how do we want to interpret a Service in Kubernetes

Per example, assume a service with ClusterIP and Port1 and Port2, this can be translated to:
1. ClusterIP:Port1-> Pod1:PortX, Pod2:PortX and ClusterIP:Port2 -> Pod1:PortY, Pod2:PortY
2. ClusterIP:[Port1,Port2] --> Pod1:[PortX,PortY] and Pod2:[PortX,PortY]

Most loadb

[2021-06-24 22:18] SergeyKanzhelev commented on #102263
1.20 is not known for issues with image pulling. Likely something very specific to the pod and image. I will close the issue as we need more specifics on repro steps, and ideally, the kubelet logs for the repro. Please reopen when you have more details

/close

[2021-06-24 22:18] #102263 closed

[2021-06-24 22:33] fejta commented on #103151
How would you separate active from inactive bugs?

Both of these are good signals that a SIG has underinvested in their triage or development process and/or have other problems (bad design/impl causing problems, important unhandled use cases, etc).

[2021-06-24 22:37] SergeyKanzhelev commented on #101723
Docs are [saying](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#:~:text=containers%20(and%20pods)%20do%20not%20share%20gpus.%20there's%20no%20overcommitting%20of%20gpus.) it is impossible:

I wonder if this is a security issue as well.

/priority important-soon
/triage accepted

[2021-06-24 22:38] BenTheElder commented on #103151
Auto-Labeling + search queries used by triagers or triage tooling still seems potentially relevant, but less heavy handed.

Yes -- we definitely have signal that triage processes are under-staffed / optimized / not going well, and it is definitely not uniform across SIGs (some are doing quite well).

As for how we might improve that, https://github.com/kubernetes/sig-testing/issues/7 is one issue

[2021-06-24 22:49] Jeskz0rd commented on #65502
/remove-lifecycle stale

[2021-06-24 22:54] SergeyKanzhelev commented on #100415
/remove-sig node
/sig api-machinery

since the issue is now with the node configuration, but rather api chattiness

/kind support
/remove-kind bug
/triage needs-information

As commented above, this issue looks like a support ticker to help tune kubernetes for a specific use case, rather than bug report. Also it lacks some information on how exactly kubernetes was installed and configured for any

[2021-06-24 22:59] gjkim42 commented on #3949
/remove-triage accepted

Sorry for the confusion. It seems that sig-node has not yet decided to accept this.

[2021-06-24 23:12] jpbetz commented on #102749
I suspect this is due to ReconcileFieldSetWithSchema being run on all updates. For types with no schema (or that makes heavy use of x-kubernetes-preserve-unknown-fields: true) ReconcileFieldSetWithSchema needs to be skipped. It already tried bail out early for deduced schemas (https://github.com/kubernetes-sigs/structured-merge-diff/blob/ea1021dbc0f242313159d5dd4801ff29304712fe/typed/reconcile_sch

[2021-06-24 23:16] SergeyKanzhelev commented on #77603
I saw the attempt fixing this https://github.com/kubernetes/kubernetes/pull/77822 but it was scary (echo this comment: https://github.com/moby/moby/issues/34855#issuecomment-384759118). I suggested a way it may be improved. Also the proposed fix didn't introduce any e2e tests to validate that runtime behavior is not changed and runtimes keep the no-newline-on-splitted-log logic.

@YoubingLi are yo

[2021-06-24 23:28] antoninbas opened #105830 "client-go v0.21 leaking go routines when using SPDYExecutor"
When running the following program on the control-plane Node of my K8s cluster, I observe a large amount of goroutines and therefore memory being leaked:
[code]

After a couple minutes of running the program (a couple thousands of exec's), we get this memory profile:
[code]
A surprising amount of memory consumed, which tends to show that the SPDY connections are not closed properly. If we look at

[2021-06-24 23:31] ehashman commented on #100415
/remove-kind bug
/close

[2021-06-24 23:31] #100415 closed

[2021-06-24 23:39] ydp commented on #102481
@n4j Thanks for the response, the issue occurs occasionally in our pipeline, will give more repro detail when it hit again.

[2021-06-24 23:40] ehashman commented on #91570
It looks like it was discussed in the [2020-06-16 Release](https://docs.google.com/document/d/1Fu6HxXQu8wl6TwloGUEOXVzZ1rwZ72IAhglnaAMCPqA/edit#bookmark=id.gzcu39lyo36s) and [2021-07-02 Architecture](https://docs.google.com/document/d/1BlmHq5uPyBUDlppYqAAzslVbAO8hilgjqZUTaNXUhKM/edit#bookmark=kix.p4f81sc201dp)  meetings but there was no agreement to take on support for this.

This could change in

[2021-06-24 23:40] #91570 closed

[2021-06-24 23:45] SergeyKanzhelev commented on #50375
this will not be handled by sig node, likely needs some new API and everything will be handled on control plane side.

/remove-sig node
/sig api-machinery

P.S. reminded me of https://www.reddit.com/r/moviepass/comments/939fl8/0_days_since_last_accident/

[2021-06-24 23:50] ehashman commented on #28138
/kind feature

I don't think there is any plan to support this. There are a couple ways I could see doing this:

- **add a kubelet API for a kubelet running as part of a cluster:** this breaks assumptions and guarantees around the API server as hub and sole source of truth of cluster state; we already have a number of bugs and race conditions around how kubelets handle static and mirror pods, and

[2021-06-24 23:50] #28138 closed

[2021-06-25 00:03] SergeyKanzhelev commented on #99359
@ProgramerGu is this a request to develop the plugin for this device? Device plugins are not hosted in this repository. This issue looks like a support request. Kubernetes does not use issues on this repo for support requests. For this question you may visit our [forums](https://discuss.kubernetes.io/). Or try to get support [from Baidu](https://intl.cloud.baidu.com/doc/CCE/s/Uk0dm2q76-en#:~:text=

[2021-06-25 00:03] #99359 closed

[2021-06-25 00:05] ehashman commented on #62434
/remove-sig architecture

https://github.com/opencontainers/runc/blob/51beb5c436b159ae2d483b219c37ecfde13b006a/update.go#L83-L86

This is supported in runc/the open container spec, but is not currently part of the CRI, so the kubelet is not able to set this. I'm not sure we'd want to add support for this.

[2021-06-25 00:09] Toasterson commented on #91570
@ehashman It is only the 24.06.2021 so the Discussion on 2021-07-02 has not happened yet.

[2021-06-25 00:20] SergeyKanzhelev commented on #92615
/remove-lifecycle frozen

since the issue needs more information, removing the freeze to make sure we are getting traction here.

@mattmoor @dprotaso reading comments I see that the attempt to repro this failed. Can you please provide more information on how to repro this and why you believe the culprit is env variables. Also, what runtime do you use to run containers.

/triage needs-information
/

[2021-06-25 00:25] pacoxu commented on #102263
link to https://github.com/kubernetes/kubernetes/issues/59376#issuecomment-867507042 which has some discussions on image pull issue

[2021-06-25 00:27] ehashman commented on #50375
FWIW the biggest issue I see with this feature request is that it is a violation of the design for pod lifecycle.

Pods are mortal. They are created, they might restart, and when they terminate, they are gone forever. Clearing a restart count from a running pod is a bit of a white lie, since Kubernetes knows that pod restarted. To me, this doesn't seem like it addresses any root issue, but suppres

[2021-06-25 00:32] SergeyKanzhelev commented on #36400
/triage accepted

[2021-06-25 00:45] SergeyKanzhelev commented on #36400
Something like https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/hostport.go as a way to spin up the container. Then you need to send the portforward API request and get the websocket as a result. And try to call something using it. Quite involved. And it is likely will need to be done in sig network. So let me remove sig node

/remove-sig node

[2021-06-25 00:59] ehashman commented on #103151
So people don't have to wade through Twitter, let me summarize my 2c...

Volume:

- We have nearly 7000 issues in k/k closed with the rotten label; realistically that's over 1000/yr: https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+is%3Aclosed+label%3Alifecycle%2Frotten
- On average for the past year, we have 35 new issues opened every day: https://k8s.devstats.cncf.io/d/39/issues-open

[2021-06-25 01:01] ehashman commented on #3949
/retitle Pod lifecycle checkpointing

[2021-06-25 01:21] mtaufen commented on #43111
@SergeyKanzhelev FYI wrt Dynamic Kubelet Config deprecation.

[2021-06-25 01:22] pacoxu commented on #51430
Sorry, I mistakenly deleted an old branch.

I cannot reopen the PR as it shows that I have force-pushed a new branch.
So I have to recreate a PR #103170 for it.

[2021-06-25 01:23] neolit123 commented on #103135
hi, support questions are better suited for the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close
/kind support

[2021-06-25 01:23] #103135 closed

[2021-06-25 01:25] neolit123 commented on #103121
/sig apps

[2021-06-25 01:34] dprotaso commented on #92615
/lifecycle frozen

Here's an example - with about ~1050 of these services (on a single node kind cluster) causes the deployment's container to fail to start

[code]

[code]

containerd logs are

[code]

If you see the original references issue you can mitigate this by disabling service links - but changing the default wasn't an option so hence I opened this performance tracking issue. Essentially

[2021-06-25 01:36] imheresamir commented on #91570
Please reopen this issue

[2021-06-25 01:41] wzshiming commented on #46287
/lifecycle frozen

[2021-06-25 01:43] wzshiming commented on #57291
/lifecycle frozen

[2021-06-25 01:43] pacoxu commented on #59376
Agree.

/close
/triage accepted

I suggest opening a new issue if a user still suffers ImagePullBackOff error with container runtime. Close it as we need more specifics on repro steps and reopen if there're more details(kubelet log and container runtime log are appreciated).

[2021-06-25 01:43] #59376 closed

[2021-06-25 01:49] pacoxu commented on #48180
Of course.
However, IMO, the admission webhook solution(such as kyverno) is preferred. I'm not quite sure whether the proposals that I mentioned can be approved by feature approvers. It needs more discussions in the KEP, I think.

[2021-06-25 01:56] #102680 closed

[2021-06-25 02:05] wzshiming commented on #91923
preStop will only be executed when it stops normally

Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind bug
/kind support
/close

[2021-06-25 02:05] #91923 closed

[2021-06-25 02:09] wzshiming commented on #94359
This bug appears to have been addressed now that #101795 has merged.

/close

[2021-06-25 02:09] #94359 closed

[2021-06-25 02:09] pacoxu commented on #100788
/area kubelet cadvisor

[2021-06-25 02:11] k82cn commented on #103141
for some online services, e.g. nginx, the resource usage are based on user's request, so it's hard for them set a "reasonable" request; to improve the QoS of service, it's usually to give enough resource to services to avoid interaction.

[2021-06-25 02:24] pacoxu commented on #61668
Update the status:
- (DEPRECATED: will be removed in 1.23. in favor of using CSI.)

/assign
I will take care of it in the next release cycle.

[2021-06-25 02:26] wzshiming commented on #96891
I can’t reproduce this bug on 1.21, after the blackhole, this node becomes unready with `kubectl get node`.

is bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Please re-open this bug once

[2021-06-25 02:26] #96891 closed

[2021-06-25 02:27] pacoxu commented on #61666
Update the status:
- (DEPRECATED: will be removed in 1.23. in favor of using CSI.) Similar to #61668
- #91373 deprecated Kubelet mount related flags in 1.19

/assign

[2021-06-25 02:30] wzshiming commented on #98871
According to my understanding, docker will be abandoned in the future, and it is recommended to migrate to Containerd, which added the ability to encrypt images in 1.5

Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind bug
/kind supp

[2021-06-25 02:30] #98871 closed

[2021-06-25 02:35] wzshiming commented on #85443
/assign

[2021-06-25 02:39] pacoxu commented on #61680
#76556 seems to be a good try. The PR tried to migrate all below flags.
- --root-dir
- --volume-plugin-dir
- --experimental-mounter-path (this isn't really experimental anymore,
- it's been in production for years)
- --kubeconfig
- --bootstrap-kubeconfig
- --cert-dir
- --enable-server

We may move this forward in the following releases.

`--experimental-bootstrap-kubeconfig` is deprecated for 3 ye

[2021-06-25 02:46] BenTheElder commented on #91570
There's no 2021-07-02 meeting, that's a typo and won't ever be happening (SIG arch does not meet on fridays), the meeting happened on 2020-07-02, which is what the text links to.

[2021-06-25 02:49] wzshiming commented on #81135
This bug appears to have been addressed now that https://github.com/google/cadvisor/pull/2171 has merged.

/close

[2021-06-25 02:49] #81135 closed

[2021-06-25 02:52] wzshiming commented on #96183
This bug appears to have been addressed now that #96876 has merged.

/close

[2021-06-25 02:52] #96183 closed

[2021-06-25 02:56] pacoxu commented on #38532
/triage accepted

[2021-06-25 03:06] jpbetz commented on #102749
WIP Fix: https://github.com/kubernetes-sigs/structured-merge-diff/pull/200

[2021-06-25 03:07] wzshiming commented on #61671
/assign

[2021-06-25 03:08] pacoxu commented on #100152
/sig instrumentation
/wg structured-logging

[2021-06-25 03:10] pacoxu commented on #99697
/triage accepted
/cc @wzshiming

[2021-06-25 03:13] pacoxu commented on #99973
/sig scheduling
As the event consumer would be scheduling components.
/area kubelet
/remove-lifecycle stale
/triage accepted

[2021-06-25 03:21] pacoxu commented on #103009
I think it should be part of #94626 Add field-level warnings for deprecated / known bad values.

Here is an example of a warning added for fractional memory/ephemeral-storage requests/limits.
https://github.com/kubernetes/kubernetes/blob/8d9dd7b6eaeeb19a273f4f916e73ac175d757f22/pkg/api/pod/warnings.go#L229-L235

[2021-06-25 03:23] Toasterson commented on #91570
Ah, ok Is the document limited access? I get the page to ask for access via Google drive. I sent the Request and included that the Document is linked on Github.

[2021-06-25 03:32] n4j commented on #102947
/kind feature

[2021-06-25 03:40] BenTheElder commented on #91570
Yeah it probably is limited access though, in general documents are at least supposed to be available to all members of kubernetes-dev@googlegroups.com (which is open to join without an invite) and any relevant SIGs' group mailinglists, some organizations set a gsuite policy to only allow sharing to specific groups and users instead of the entire internet unfortunately. Most likely if you join and

[2021-06-25 03:44] nilo19 commented on #103085
/assign

[2021-06-25 03:45] n4j commented on #85330
/assign

[2021-06-25 03:45] n4j commented on #85330
@brandond You can put the logs here in the issue, I will have a look

[2021-06-25 03:49] BenTheElder commented on #91570
https://groups.google.com/g/kubernetes-dev

Meeting recordings are also on YouTube (public Access)

https://youtu.be/GxGX98IuNHc

https://youtube.com/playlist?list=PL69nYSiGNLP2m6198LaLN6YahX7EEac5g

[2021-06-25 03:49] feiskyer commented on #102803
/assign @nilo19

[2021-06-25 03:51] pacoxu commented on #102553
I have investigated issue #101656.  @saschagrunert 's comments: https://github.com/kubernetes/kubernetes/issues/101656#issuecomment-836373487

I think it would be a kubelet issue. But 1.14.8 is really old. You'd better reproduce it with a newer kubelet version.
The question here is how to reproduce it. I don't know how to simulate the compress failure.

I dug into the code, do you get logs like be

[2021-06-25 04:00] pacoxu commented on #102938
/sig instrumentation
- #86282 v1.18, container_cpu_usage_seconds_total --> container_cpu_usage_seconds
- #89540 v1.19 revert the change to container_cpu_usage_seconds_total

/cc @dashpole

[2021-06-25 04:25] fromanirh commented on #103006
yes, enabling the resource manager creates more writes because the on-disk checkpoint files need to be updated. For CPU Manager, recently this optimization was merged and willbe featured on 1.22: https://github.com/kubernetes/kubernetes/commit/664603948114d2c87df479d297fe788ab10eba06

[2021-06-25 04:25] fromanirh commented on #103006
/area kubelet

[2021-06-25 04:53] MadhavJivrajani commented on #103043
/triage accepted

[2021-06-25 05:00] chirangaalwis commented on #102575
Created issue https://github.com/kubernetes/ingress-nginx/issues/7283 as suggested and closing this.

[2021-06-25 05:00] #102575 closed

[2021-06-25 05:02] pacoxu commented on #101786
I checked that 1.21.2 and 1.21.0 are using [cadvisor v0.39.0](https://github.com/kubernetes/kubernetes/blob/v1.21.2/go.mod#L52).
/area cadivisor
/triage accepted

[2021-06-25 05:04] pacoxu commented on #101786
/area cadvisor

[2021-06-25 05:07] pacoxu commented on #100478
/remove-lifecycle stale
/triage accepted
/area logging

[2021-06-25 05:08] wzshiming commented on #99697
/assign

[2021-06-25 05:12] pacoxu commented on #100178
I think it is a dup issue with #101622. So we should keep only one for tracking.
@MadhavJivrajani has assigned #101622 and sent a PR to fix it.

/close
/triage duplicate

feel free to reopen if I'm wrong.

[2021-06-25 05:12] #100178 closed

[2021-06-25 05:29] matthyx commented on #102367
This is a duplicate of #100277

@thockin I am happy to discuss alternatives, but setting anything other than ready=false at kubelet start would have unexpected consequences...

/triage accepted
/assign

[2021-06-25 05:30] uablrek commented on #103000
I am unsure if my https://github.com/kubernetes/kubernetes/issues/103000#issuecomment-864365374 is valid. Reading;

https://docs.huihoo.com/hpc-cluster/linux-virtual-server/HOWTO/LVS-HOWTO.persistent_connection.html

I can't see immediately if ipvs supports the "full service redirect", requested in this issue, by default. It is a TL;DR page and I think the best is to test it in K8s. I will do that

[2021-06-25 05:33] matthyx commented on #98935
Duplicate of #99280

[2021-06-25 05:35] matthyx commented on #98935
/triage accepted
/area kubelet

[2021-06-25 05:36] matthyx commented on #99280
I suggest we follow up in #98935
/close

[2021-06-25 05:36] #99280 closed

[2021-06-25 05:36] adisky commented on #99602
/triage needs-information
@kvaps can you share kubelet logs? to know whats kubelet is assuming the status of API server.

[2021-06-25 05:40] matthyx commented on #101599
Since there is already a PR being worked on...

/triage accepted
/assign @h4ghhh

[2021-06-25 05:59] pacoxu commented on #60338
(2) is current preferred way.  For `cmd/kubelet` and `pkg\kubelet`, there are 40 matches across 17 files for `runtime.GOOS`.

/triage accepted
/help
/good-first-issue

[2021-06-25 06:06] dnoland1 commented on #85330
@n4j Thanks for having a look at this. I work with @brandond . I'm attaching a k3s log from a test environment that experienced this issue. I believe the three lines listed below may be most relevant.
[k3s.log](https://github.com/kubernetes/kubernetes/files/6713867/k3s.log)

[code]

If needed, I can attempt to reproduce this on newer versions of Kubernetes/k3s and provide logs.

[2021-06-25 06:27] vsxen commented on #102763
I want kubelet to discover  some issue in container runtime.
such as
dockerd hung https://github.com/moby/moby/issues/40817

dbus error  https://github.com/kubernetes/kubernetes/issues/100328

cni is not ready but node status is ready.

[code]

[2021-06-25 06:31] pacoxu commented on #8702
https://github.com/kubernetes/kubernetes/blob/6fdb5a810094ab659a51d70f32ee969e1004866d/pkg/apis/core/types.go#L4184-L4192

A recent PR by @roycaihw  : Mark ContainerImage.names as optional #102159 which seem to be related.

[2021-06-25 06:39] pacoxu commented on #5774
/triage accepted
/remove-priority awaiting-more-evidence
/priority important-soon
for next release

[2021-06-25 06:58] pacoxu commented on #66230
I think this is definitely the case that [PDB](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/) wants to solve.
- livenessProbe is a design for a single Pod.
- PDB is designed to make it cluster-wide available.

[2021-06-25 07:06] CaoDonghui123 commented on #103166
/assign

[2021-06-25 07:10] matthyx commented on #101227
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind bug
/kind support
/close

[2021-06-25 07:10] #101227 closed

[2021-06-25 07:12] matthyx commented on #100219
/assign @msau42

[2021-06-25 07:19] matthyx commented on #98851
Hi folks, is this still a valid bug?
/area kubelet

[2021-06-25 07:19] matthyx commented on #98851
/triage needs-information

[2021-06-25 07:20] pacoxu commented on #81134
According to https://github.com/kubernetes/kubernetes/issues/81134#issuecomment-540800845

package | PR | Status
-- | -- | --
pkg/controller/<br>pkg/util/ | #81158 @zouyee   | merged
staging/src/k8s.io/legacy-cloud-providers/gce/  | #88704 @gavinfish | needs-rebase
 pkg/proxy/healthcheck/ <br> cmd/kubeadm/app/phases/addons/dns/ <br>  dockershim | #84032  @zouyee  |  closed by bot; should follow up

[2021-06-25 07:20] skokkira opened #103175 "Statefulset pods are not evicted when we shutdown the node manually"
#### What happened:

Upon manual shutdown of the node in k8s cluster, the deployment pods running in shutdown node are evicted successfully to the other node in the cluster except statefulset pods.

#### What you expected to happen:

Statefulset pods also should be evicted like other normal pods.

#### How to reproduce it (as minimally and precisely as possible):

It can be reproudced by shutdown

[2021-06-25 07:21] pacoxu commented on #81134
/triage accepted

[2021-06-25 07:21] matthyx commented on #94123
This issue looks more for sig-auth... removing node
/remove-sig node

[2021-06-25 07:23] saschagrunert commented on #51746
I think we will not change the dockershim any more since it is deprecated since some releases. I propose to close this one, while assuming that container runtimes like CRI-O and containerd do the right thing.
/close

[2021-06-25 07:23] #51746 closed

[2021-06-25 07:25] giuseppe commented on #99608
I think the issue is in the Kubelet.

The kernel uses the range `[2-262144]` for `cpu.shares`, but the kubelet can generate and request values outside of the valid range.

When using cgroupfs, the kernel automatically clamps the value.  Instead systemd has an additional check and refuses to use an invalid value (even if the kernel would accept and clamp it).

The clamping is just to make sure the

[2021-06-25 07:26] pacoxu commented on #88406
/triage accepted

[2021-06-25 07:26] matthyx commented on #54487
/triage needs-information

[2021-06-25 07:31] matthyx commented on #101167
/triage accepted
/assign @erismaster

[2021-06-25 07:32] matthyx commented on #61663
/remove-kind bug

[2021-06-25 07:38] BenTheElder commented on #103166
https://groups.google.com/g/golang-announce/c/wPunbCPkWUg for upstream announcement.

[2021-06-25 07:41] pacoxu commented on #102552
@silenceper  would you confirm if it is dupped to #102880?

[2021-06-25 07:42] adisky commented on #102744
I think Kubelet needs to be restarted when kubelet config is changed, I think the issue here is it is changing the behaviour but not updating the `spec.leaseDurationSeconds` field. Either we should not change the behaviour or we should do both (change the behaviour+update to API)
/triage accepted
/priority backlog

[2021-06-25 07:51] matthyx commented on #81301
@thockin can you please elaborate?
/triage needs-information

[2021-06-25 07:51] adisky commented on #94825
/triage accepted
/priority important-soon

[2021-06-25 07:55] adisky commented on #103141
We track feature requests for Kubernetes in https://github.com/kubernetes/enhancements
KEP guide https://github.com/kubernetes/enhancements/blob/master/keps/README.md

[2021-06-25 07:56] adisky commented on #61657
/triage accepted
/priority backlog

[2021-06-25 07:58] pacoxu commented on #103046
/triage accepted

As you mentioned https://github.com/kubernetes/enhancements/pull/2370, this may be discussed in early 2021.
I find there is an item in sig-node weekly meeting on Jan 12th, 2021. This should be discussed on sig-node meetings. Can someone share some details? @derekwaynecarr @harche
- [rphillips, harche] auto system reserved sizing
https://docs.google.com/document/d/1DOKK5div3MuUV5A

[2021-06-25 08:02] adisky commented on #102553
/triage need-information
/priority awaiting-more-evidence

[2021-06-25 08:02] adisky commented on #102553
/triage needs-information

[2021-06-25 08:06] adisky commented on #59893
This issue look like it is more related to GCE/GKE and cloud provider
/remove-sig node

[2021-06-25 08:07] Dingshujie commented on #102367
@thockin, in some case, when kubelet start up, it call ReadyCondition to set Node Condition. Ready Condtion will check runtime, network, stoarge and so on.
when first time check runtime status, runtimeState.lastBaseRuntimeSync is not set, so may call runtimeErrors return container runtime status check may not have completed yet, this may lead to NotReady

[code]
lastBaseRuntimeSync is set when ini

[2021-06-25 08:07] danielfoehrKn commented on #103046
@pacoxu thanks for your response and a link to the previously discussed topic.
 I would be happy to talk about how to advance the topic of system & kube-reserved in an upcoming community meeting.

[2021-06-25 08:09] Dingshujie commented on #102367
#100277 is about pod status change when  restart kubelet

[2021-06-25 08:15] adisky commented on #54384
/triage accepted

[2021-06-25 08:16] gongguan commented on #84473
@fromanirh I think this pr makes sense, what do you think?
https://github.com/kubernetes/kubernetes/pull/90643

[2021-06-25 08:17] adisky commented on #82440
/triage accepted
/priority important-soon

[2021-06-25 08:20] adisky commented on #63336
cc @haircommander thoughts as I know you are working on updating CRI API?

[2021-06-25 08:21] adisky commented on #53533
/triage accepted

[2021-06-25 08:26] adisky commented on #83725
@yqwang-ms Please free to reopen with more information, like how to reproduce and kubelet logs.
closing this for now as the related issue is closed.

/kind support
/close

[2021-06-25 08:26] #83725 closed

[2021-06-25 08:28] pacoxu commented on #75482
I prefer to fix it as a documentation issue: add some reminder to reboot after `kubectl drain`.

What if daemonsets tolerate all taints? It's really odd to invert a new definition to make `draining node` refuse all pods(even tolerate all taints) from scheduling to the node.

[2021-06-25 08:31] silenceper commented on #102552
I looked at the issue  #102880, and from my point of view, it does not seem to be the problem I encountered here.

[2021-06-25 08:35] wzshiming commented on #98450
This can be done with admissionWebhook to limit the number of containers per Pod. e.g. https://github.com/kyverno/kyverno/

Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind bug
/kind support
/close

[2021-06-25 08:35] #98450 closed

[2021-06-25 08:37] yuzhiquan commented on #99270
We set  log-dir in kubernetes core compoent，such as `kubelet`|`kube-scheduler`|`kube-controler-manager`, if we change to `json` or other log format, the log file will gone, sounds like a breaking change for log file.

[2021-06-25 08:40] adisky commented on #81001
Need to have look at it later
/assign @adisky

[2021-06-25 08:44] pacoxu commented on #102552
/triage accepted

[2021-06-25 08:47] matthyx commented on #53769
/triage needs-information

[2021-06-25 08:49] pacoxu commented on #99183
/remove-lifecycle rotten
/assign
/triage accepted
I will raise it in sig-node meeting or send a KEP for it in the next release cycle if I have enough time.

[2021-06-25 08:50] matthyx commented on #61137
This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Please re-open this bug once you have provided more information.

/triage needs-information
/close

[2021-06-25 08:50] #61137 closed

[2021-06-25 08:52] matthyx commented on #25160
Not sure it's actually sig-node...

/remove-sig node

[2021-06-25 08:56] pacoxu commented on #103046
As I know, you can put it in the agenda of the [meeting note](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#) if you will attend the meeting.

[2021-06-25 08:57] matthyx commented on #57130
since there's a KEP
/triage accepted

[2021-06-25 09:03] fromanirh commented on #74405
this issue still seems very relevant but I can't find actionable items on node side. Please add node back once we have a bit clearer picture and items we can work on.
/remove-sig node

[2021-06-25 09:05] matthyx commented on #73275
This bug appears to have been addressed now that https://github.com/docker/engine/pull/178 has merged.

/close

[2021-06-25 09:05] #73275 closed

[2021-06-25 09:10] sftim commented on #57130
Where's the KEP? I'd like to hyperlink to it.

[2021-06-25 09:15] fromanirh commented on #72593
I concur. This seems still a very relevant issue worth keeping on the radar, but I think better to file a more actionable issue for node once we reach consensus
/remove-sig node

[2021-06-25 09:17] pacoxu commented on #98607
https://github.com/google/cadvisor/blob/ef7e64f9efab1257e297d7af339e94bb016cf221/manager/container.go#L49

https://github.com/kubernetes/kubernetes/blob/8b7003aff4c81f124851041eafb8899ea7e83ffd/pkg/kubelet/kubelet.go#L139-L141

[2021-06-25 09:18] fromanirh commented on #52757
/triage needs-information

[2021-06-25 09:21] yqwang-ms commented on #83725
/open
@adisky
Actually this issue is only related to https://github.com/kubernetes/kubernetes/issues/83705, but they are not the same.
After k8s "at least once" is confirmed in https://github.com/kubernetes/kubernetes/issues/83705#issuecomment-590106808, my last question in the below snapshot is still unresolved:
![image](https://user-images.githubusercontent.com/32826762/123400709-a1415e00-d5d8-1

[2021-06-25 09:24] fromanirh commented on #88193
is this still relevant? the original reports says kubernetes 1.17.3, does it still reproduce?
/triage needs-information

[2021-06-25 09:25] fromanirh commented on #84353
/area kubelet

[2021-06-25 09:28] pacoxu commented on #98607
/remove-lifecycle rotten
/triage accepted

We have met an issue for `--volume-stats-agg-period` is by default 1m and there are so many du that cannot be finished in my node with many pods using some nfs/other volumes.
We decide to change it to 1h to make it use less process/cpu resources.

+1 for adding a flag. Currently, we may add it in `/var/lib/kubelet/config.yaml`.

[2021-06-25 09:29] fromanirh commented on #83465
/triage accepted
per https://github.com/kubernetes/kubernetes/issues/83465#issuecomment-866491811

[2021-06-25 09:30] pacoxu commented on #100707
/triage accepted

[2021-06-25 09:31] yqwang-ms commented on #88193
It should still reproduce, as restart policy for ImageNotFound/FailedMount/etc is still not configurable

[2021-06-25 09:32] serathius commented on #83465
@pacoxu Please consider including https://github.com/kubernetes/kubernetes/issues/99918 in `Kubelet v2 API` design

[2021-06-25 09:34] fromanirh commented on #88193
/remove-triage needs-information
/triage accepted
/area kubelet
/priority backlog

[2021-06-25 09:36] pacoxu commented on #100467
It should be fixed in [1.18.19](https://github.com/kubernetes/kubernetes/blob/d41249f780316841a0e13948e7af24d10b9c9c0d/CHANGELOG/CHANGELOG-1.18.md#changelog-since-v11818), [v1.19.10](https://github.com/kubernetes/kubernetes/blob/b4dddbafa2fcff6d82c933c13fe7febf75f00d68/CHANGELOG/CHANGELOG-1.19.md), [v1.20.7](https://github.com/kubernetes/kubernetes/blob/0ccf53dd2003b39651cabe68d1bdd17feb9cd4ec/CHA

[2021-06-25 09:36] #100467 closed

[2021-06-25 09:43] pacoxu commented on #99483
/remove-lifecycle stale
/triage accepted

Something similar that I know is #99305 that is for ephemeral storage. (cadvisor is not ready but kubelet started)

[2021-06-25 09:50] fromanirh commented on #96149
please make sure the KEP is recorded in the sig-node tracker and introduced in the sig-node mtg, because I can't recall this being mentioned in recent meetings (may very well be my fualt though). Anyway, since we have a KEP and a k/e issue it seems this issue is no longer needed.
/close

[2021-06-25 09:50] gjkim42 commented on #35521
/assign

[2021-06-25 09:52] visit1985 opened #103182 "Dynamically set ttlSecondsAfterFinished via mutating webhook after job completion"
#### What happened:

In the docs for [TTL Controller](https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/#ttl-controller), there is a hint about using a mutating admission webhook to set `.spec.ttlSecondsAfterFinished` dynamically after a Job has finished to choose different TTL values based on the Jobs status.

In order to modify the Job on completion, a webhook needs to b

[2021-06-25 09:53] pacoxu commented on #96411
/remove-lifecycle stale
/priority backlog
/triage accepted

[2021-06-25 09:55] fromanirh commented on #96149
added the KEP linked here to the sig-node feature backlog document

[2021-06-25 09:57] matthyx commented on #57130
This one, no?
https://github.com/kubernetes/enhancements/tree/0e4d5df19d396511fe41ed0860b0ab9b96f46a2d/keps/sig-network/2450-Remove-knowledge-of-pod-cluster-CIDR-from-iptables-rules

[2021-06-25 09:59] randomvariable commented on #103068
From a Cluster API perspective:

It's highly unlikely from the CAPI side that it'll go that way. there is a chance on CAPV that a host picks up it's FQDN from DHCP and that the DHCP option for the domain name is using an IDNA. E.g., in my home environment, i have DHCP option 15 set to `home.internal.randomvariable.co.uk`, and these end up in the etcd pods as parameters, e.g.
`  - --initial-cluster

[2021-06-25 09:59] randomvariable commented on #103068
cc @yastij and @gab-satchi  for any further vsphere comments.

[2021-06-25 10:00] fromanirh commented on #99761
/area kubelet
/priority backlog
/triage accepted

[2021-06-25 10:03] adisky commented on #9085
/triage accepted

[2021-06-25 10:03] fromanirh commented on #102569
/priority important-longterm
/triage accepted

[2021-06-25 10:05] fromanirh commented on #102149
/area kubelet
/priority important-soon
/triage accepted

[2021-06-25 10:07] gjkim42 commented on #81001
The issue is still reproduced at master.

[code]

At least, we may need a docs update.

/triage accepted

[2021-06-25 10:09] matthyx commented on #88611
/triage accepted
/priority important-longterm

[2021-06-25 10:10] adisky commented on #20473
/kind support
/close
Feel free to reopen if someone wants to document this, Now there are lots of blogs available on zero downtime deployments.

[2021-06-25 10:10] #20473 closed

[2021-06-25 10:15] adisky commented on #55405
/triage accepted
/priority low
We will evaluate it later!!

[2021-06-25 10:16] adisky commented on #55405
/priority backlog

[2021-06-25 10:17] matthyx commented on #79950
I think it's up to sig windows to ensure we have consistent behavior here...
/remove-sig node

[2021-06-25 10:26] fromanirh commented on #101189
/priority important-longterm
/triage accepted

[2021-06-25 10:29] aojea commented on #57130
The issue is about deprecating the field, that KEP is to remove the kube-proxy dependency on that field.

However, the field is still used by other components and CNIs, there is a controller in the controller-manager that manages that field, and it is possible that instead of deprecating the field new funtionality is added
https://github.com/kubernetes/enhancements/pull/1811

[2021-06-25 10:30] swatisehgal commented on #80346
/triage accepted
/priority important-longterm

[2021-06-25 10:32] pacoxu commented on #98605
/remove-sig node
/sig api-machinery

[2021-06-25 10:32] fromanirh commented on #97445
Hey! does this issue reproduce only on cloud environments? Can someone please add reproducing steps, if possible without requiring cloud accounts?
/triage needs-information

[2021-06-25 10:35] gjkim42 commented on #35521
/unassign

I don't want to make another exception for static pods...

/priority backlog

[2021-06-25 10:36] aojea commented on #102569
https://github.com/containerd/containerd/issues/5563#issuecomment-861038759

[2021-06-25 10:36] yashikabadaya commented on #86984
/assign

[2021-06-25 10:37] matthyx commented on #57130
Ah, I see, sorry then...
/triage needs-information

[2021-06-25 10:37] matthyx commented on #57130
/remove-triage accepted

[2021-06-25 10:39] pacoxu commented on #98557
2s for `/healthz` check api is really long enough in my opinion.
etcd will log a warning message if any request costs more than 100ms and there is a hardware requirement in https://etcd.io/docs/v3.5/op-guide/hardware/#disks.

If the cluster is really slow, I think there are many params that should be tuned, not only the health check here.

/remove-sig node
As livenessProbe is configured for the Po

[2021-06-25 10:42] fromanirh commented on #72881
per https://github.com/kubernetes/kubernetes/issues/72881#issuecomment-821022253 and https://github.com/kubernetes/kubernetes/issues/72881#issuecomment-821224980 it seems this is the designed behaviour, perhaps we should improve the docs but it should be handled on a separate issue. Please reopen if we get new information.
/close

[2021-06-25 10:45] fromanirh commented on #42125
it seems there still is interest in this issue
/area kubelet
/priority backlog
/triage accepted

[2021-06-25 10:52] pacoxu commented on #103009
BTW, what is the expected behavior here?
- one possible fix: kubelet should start the pod with a max limit on the node if the pod limitation is larger than node allocatable capacity.

If so, I think this is a bug, other than a feature.

[2021-06-25 10:57] fgiloux commented on #72881
@fromanirh I can't reopen the issue but frankly I don't follow your reasoning. The comments you took as justification for "work as designed" clearly show that the calculation is not right, which is nicely summarized in:
"Looks like there are still lots of room to improve current implemented node allocatable calculation"

[2021-06-25 11:01] pacoxu commented on #101653
/remove-sig node
I suggest you can run `drain --v=9` to see what happened in the process.
It should not be related to kubelet eviction.

[2021-06-25 11:06] swatisehgal commented on #62334
/triage accepted
/priority backlog

[2021-06-25 11:12] swatisehgal commented on #81138
/triage accepted
/priority important-longterm

[2021-06-25 11:22] swatisehgal commented on #81138
@cji Are you aware of someone working on a fix for this? I noticed the table in the https://github.com/kubernetes/kubernetes/issues/81146 and don't see anything related to this issue in the status column.

[2021-06-25 11:26] gjkim42 commented on #103175
This is a known issue. I think that we have not yet found (or not needed) any graceful solution for this at the core level.

One workaround for this is to make operator that force deletes terminating pod from the non-ready node.

Related:
https://github.com/kubernetes/kubernetes/issues/74947
https://github.com/kubernetes/enhancements/pull/719

/sig apps

[2021-06-25 11:33] matthyx commented on #81116
I think this issue can spawn several PRs that are easy enough to write...

/triage accepted
/good-first-issue

[2021-06-25 11:38] matthyx commented on #81129
Nice one!

/triage accepted
/priority important-longterm
/assign

[2021-06-25 11:39] matthyx commented on #81133
/triage accepted
/priority important-longterm
/help

[2021-06-25 11:41] fromanirh commented on #72881
/reopen

[2021-06-25 11:43] fromanirh commented on #72881
Fair enough, I may have miss a key detail. How we can improve the allocatable calculation? We would like actionable items to make progress.

[2021-06-25 11:43] dvic commented on #97445
I will publish a repo with all the steps we took (including a Dockerfile so you can easily build and push the needed image).

[2021-06-25 11:48] v0ldemort commented on #48798
I am facing the same error, not getting any clue to how to rid of this - please help

`Error - runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized`

Node has been created but not adding to cluster,

[2021-06-25 11:48] fromanirh commented on #72881
/triage needs-information

[2021-06-25 11:49] fromanirh commented on #97445
Thanks, much appreciated. This will enables further work in this issue.

[2021-06-25 12:03] sgerace commented on #101723
@sergeyevstifeev We are actually relying on the ability to access the same host GPU, from within multiple containers, within the same Pod, for some of our production workloads, so _removing_ our ability to do so would be a **major** issue for us (since we are unaware of any alternative ways to achieve the desired effect). Our situation is as follows: we have a workload that is supported by several

[2021-06-25 12:06] fromanirh commented on #72881
ok, answering myself I missed the implications of the proposal of dashpole here: https://github.com/kubernetes/kubernetes/issues/72881#issuecomment-672154398 . This is the improvement which we should do to address this issue.
/triage accepted
/area kubelet
/priority important-longterm

[2021-06-25 12:12] fromanirh commented on #72881
/remove-triage needs-information

[2021-06-25 12:14] matthyx commented on #81142
Actually this one is a feature... and probably requiring a KEP for the long term solution.

/triage accepted
/remove-kind bug
/kind feature
/priority important-longterm

[2021-06-25 12:17] s-urbaniak commented on #78494
To sum up the current state of this issue and my understanding. Generally, the current code is able to self-maintain tokens:

1. ID tokens: renew using the cached refresh token upon its expiry: https://github.com/kubernetes/client-go/blob/75fea27a27a0fb881c29cedc64d623084b124bc2/plugin/pkg/client/auth/oidc/oidc.go#L225-L234
2. refresh tokens: renew the refresh token from the ID token response from

[2021-06-25 12:19] brackendawson commented on #50375
@ehashman I'm happy to help improve docs here.

Pods do not have a restart counter. Pods don't restart, containers do. I can't see any documentation stating what "RESTARTS" means in the `kubectl get pods` output. I assume it is the sum of container restarts in that pod? We can make this situation better.

The [docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#containerstat

[2021-06-25 12:20] dvic commented on #97445
Wow, ok, so I have pushed the example with instructions here: https://github.com/dvic/go-cpu-load.

But now here's the weird part: I can't reproduce it on our Google GKE cluster now, the number of throttled periods is 0! Nothing changed on our cluster in terms of the kernel or COS version. The only thing I can think of is that last time I did not set the cpu requests and that the pod was being thr

[2021-06-25 12:21] nitinkansal1984 commented on #52172
I am facing the same issue on docker desktop

[2021-06-25 12:21] nitinkansal1984 commented on #52172
failed to try resolving symlinks in path "/var/log/pods/

[2021-06-25 12:22] fromanirh commented on #97445
thanks @dvic !
/priority backlog
/triage accepted
/remove-triage needs-information

[2021-06-25 12:30] TorresSu opened #103184 "healthCheckNodePort in service object cannot listen on specific ip address"
#### What happened:
healthCheckNodePort in service object listen on 0.0.0.0, and cannot specify ip address.

#### What you expected to happen:
healthCheckNodePort in service object can listen on specific ip address **in some security scene, such as multi network interface**

#### How to reproduce it (as minimally and precisely as possible):
create a service object with filling healthCheckNodePort

[2021-06-25 12:32] mrbobbytables commented on #91570
I flipped the doc so that anyone on the internet can view - as an FYI most of the kubernetes google docs require membership to the [kubernetes-dev](https://groups.google.com/g/kubernetes-dev) mailing list to be able to comment/edit.

[2021-06-25 12:39] #98397 closed

[2021-06-25 12:46] TorresSu commented on #103184
/sig network

[2021-06-25 12:49] dashpole commented on #102938
@pacoxu those PRs aren't relevant to this issue, as they affect /metrics/resource, and not /metrics/cadvisor.

Does the problem occur consistently?  Missing labels can sometimes indicate cAdvisor wasn't able to connect to the container runtime.  If you can reproduce it in 1.19+ we can try and help further.

cc @bobbypage

[2021-06-25 13:11] klueska commented on #94220
Some more background about this issue -- it is definitely a bug, but it is only exploitable on an uncommon edge case, where an init container asks for a smaller number of exclusive cpus than an app container does.

The common cases are:
1) init containers do not ask for any exclusive CPUs at all
2) init containers ask for the same number of CPUs as their app container

While I agree this issue sho

[2021-06-25 13:16] fromanirh commented on #94220
thanks @klueska for the detailed insights.
/priority backlog
/area kubelet

[2021-06-25 13:16] nitinkansal1984 commented on #52172
Its not working for me.

log-linker-2pp8v                         0/1     Error         0          7s
PS C:\Users\kansa\OneDrive\Desktop\kubebatch2\gremlin> kubectl.exe logs log-linker-2pp8v -n kube-system                                /usr/bin/env: 'bash\r': No such file or directory
PS C:\Users\kansa\OneDrive\Desktop\kubebatch2\gremlin>

[2021-06-25 13:22] pacoxu commented on #102938
@dashpole Thanks for the clarification.
I hide the comment as it may mislead others.

[2021-06-25 13:23] rajaSahil commented on #99708
@adisky @pacoxu
Tested with k8s versions (1.21.0+, v1.20.3+, v1.19.8+, v1.18.16+).

#### Steps to reproduce:
1. label node0 with region=r0
2. schedule a pod A with nodeAffinity region=r0 to node0, and pod A up and running
3. label node0 with region=rx
4. restart kubelet on node0, after kubelet restart, pod A status becomes NodeAffinity.

Output:
[code]

[2021-06-25 13:24] brianpursley opened #103185 "YAML separator with comment causes the next resource to be silently ignored"
#### What happened:

Attempting to create three namespaces (foo, bar, baz).

Notice the first YAML document separator has the comment `# something` after it on the same line.

[code]

Output:
[code]

Exit code is 0 and only `foo` and `baz` were created.

#### What you expected to happen:

It should either create all three namespaces or else it should fail with an error telling me my YAML is invali

[2021-06-25 13:25] nitinkansal1984 commented on #52172
I changed the base image from debian to ubuntu also. it didn;t work

[2021-06-25 13:45] matthyx commented on #54525
/triage accepted
/help
/priority important-longterm

[2021-06-25 13:45] nitinkansal1984 commented on #52172
Never mind ! I used dos2unix and coverted the file format and then used it worked

[2021-06-25 13:51] matthyx commented on #99453
This is more a support request rather than a bug... however I am not closing it since it would be good to document this solution:
https://github.com/kubernetes/kubernetes/issues/99453#issuecomment-797630419

/remove-kind bug
/kind support
/triage accepted
/priority backlog
/area documentation
/good-first-issue

[2021-06-25 14:04] matthyx commented on #88046
@invidian are you interested in providing a PR for this issue?

[2021-06-25 14:05] pacoxu commented on #99708
Oh, got it. Not the same issue as #94087.

I need to look into the code if it can be fixed reasonably.

[2021-06-25 14:08] matthyx commented on #97328
This is definitely for sig scalability...

/remove-sig node

[2021-06-25 14:10] matthyx commented on #84298
/triage accepted
/priority backlog

[2021-06-25 14:10] mtrmac commented on #102472
I don’t see that the original URL says anything about the prefix-of-name-component matching (if anything, “Note that we don't support wildcards in ports and paths yet.” suggests that wildcard support would be same as wildcards in host name, i.e. `filepath.Match` is not a prefix match).

Similarly https://github.com/kubernetes/website/pull/28226 documents the glob behavior but (other than saying th

[2021-06-25 14:24] slayer321 commented on #99453
Hey @matthyx, I am new to open source and will like to contribute to this project can you guide me on what needs to done.

[2021-06-25 14:44] #95380 closed

[2021-06-25 14:45] xGitter commented on #86762
Had the same problem (kubernetes cluster rolled out with kubespray, without any changes) and this fixed the problem, since INPUT and OUTPUT already had policy ACCEPT set.

Untested: It could be a little bit safer, to add some rules to the FORWARD chain to explicitly allow traffic from certain subnets.

[2021-06-25 14:57] matthyx commented on #99453
Welcome @slayer321 ! Sure, so the goal is to document that example of a double mount of the same pv.
I would put it somewhere here: https://kubernetes.io/docs/concepts/storage/volumes/
Which corresponds to this repo: https://github.com/kubernetes/website/blob/3ca34b9a3be454055ba234f1d2ff7d55809b5040/content/en/docs/concepts/storage/volumes.md

[2021-06-25 14:58] matthyx commented on #99453
If you have another idea about the best page to document it, please make it as you think.

[2021-06-25 15:02] neolit123 commented on #103068
@SataQiu @pacoxu have you seen DHCP with IDNA domains used for external etcd with kubeadm?

[2021-06-25 15:08] meganeshkadam commented on #102908
Hi @ehashman ,
I would like to contribute to this issue. Doc bugs is a good place to start!

I am currently going through below reference:
[code]
I have already signed the individual CNCF contributor license Agreement, kindly let me know what should be my next steps. :)

[2021-06-25 15:10] matthyx commented on #97330
I don't quite see how to probe http2 without tls... and what you'll gain by doing so (but I am not a specialist in this area).

/triage needs-information
/close

[2021-06-25 15:10] #97330 closed

[2021-06-25 15:16] matthyx commented on #100211
I am not sure you can "hard assign" cpus with resource quotas... they are still shared somehow afaik.

Can you also provide more information (pod spec, ...) to reproduce?

Please re-open this bug once you have provided more information.

/triage needs-information
/close

[2021-06-25 15:16] #100211 closed

[2021-06-25 15:24] neolit123 commented on #103068
unicode args should be fine, also apparently Go's HTTP stack does IDNA encoding:

[code]

i will update the proposed release note above.

but IMO, if one would like a domain to be encoded when passed to all the tools in the k8s stack, maybe it should be done in advance.

or leave it to the Go standard library to do the encoding. i saw comments that it might not be fully compliant yet, but i don't

[2021-06-25 15:30] MadhavJivrajani commented on #102908
/assign @meganeshkadam

[2021-06-25 15:38] n4j commented on #91286
/priority backlog

[2021-06-25 15:39] ehashman commented on #103143
Please don't triage your own issues immediately, give someone else a chance to review them :(

/sig storage

[2021-06-25 15:39] #98360 closed

[2021-06-25 15:41] n4j commented on #86843
👀

[2021-06-25 15:42] dashpole opened #103186 "Re-entrant apiserver calls are not part of the same trace"
Part of enhancement: kubernetes/enhancements#647

This is a continuation of the discussion in https://github.com/kubernetes/kubernetes/pull/94942#discussion_r657114027, which was a discussion of the risks of abuse that might be possible   To summarize, the [`otelhttp.WithPublicEndpoint()`](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/6d226aff737e650125fd98e18ccba66428f328f7/inst

[2021-06-25 15:42] n4j commented on #86843
/priority important-soon

[2021-06-25 15:42] dashpole commented on #103186
/sig instrumentation
/sig apimachinery

cc @logicalhan @lilic

[2021-06-25 15:46] n4j commented on #86843
/remove-priority soon

[2021-06-25 15:47] n4j commented on #86843
/remove-priority important-soon

[2021-06-25 15:52] n4j commented on #61676
Probably duplicate of https://github.com/kubernetes/kubernetes/issues/86843

[2021-06-25 15:53] n4j commented on #61652
Possible duplicate of https://github.com/kubernetes/kubernetes/issues/86843

[2021-06-25 15:54] n4j commented on #61676
/remove-priority important-soon
/priority backlog

[2021-06-25 15:56] n4j commented on #61662
Possible duplicate of https://github.com/kubernetes/kubernetes/issues/86843
/remove-priority important-soon
/priority backlog

[2021-06-25 15:56] n4j commented on #61654
Possible duplicate of https://github.com/kubernetes/kubernetes/issues/86843
/remove-priority important-soon
/priority backlog

[2021-06-25 15:57] n4j commented on #61679
Possible duplicate of https://github.com/kubernetes/kubernetes/issues/86843
/remove-priority important-soon
/priority backlog

[2021-06-25 15:58] n4j commented on #61656
Possible duplicate of https://github.com/kubernetes/kubernetes/issues/86843
/remove-priority important-soon
/priority backlog

[2021-06-25 15:59] szuecs commented on #83107
@ehashman at least it is also in v1.20.8, that we run (@aermakov-zalando and @mikkeloscar are in the same team like me)

[2021-06-25 15:59] n4j commented on #61658
Could be tracked by https://github.com/kubernetes/kubernetes/issues/86843
/remove-priority important-soon
/priority backlog

[2021-06-25 16:02] n4j commented on #61672
Could be tracked by https://github.com/kubernetes/kubernetes/issues/86843
/remove-priority important-soon
/priority backlog

[2021-06-25 16:02] n4j commented on #61680
Could be tracked by https://github.com/kubernetes/kubernetes/issues/86843
/remove-priority important-soon
/priority backlog

[2021-06-25 16:02] n4j commented on #61677
Could be tracked by https://github.com/kubernetes/kubernetes/issues/86843
/remove-priority important-soon
/priority backlog

[2021-06-25 16:18] nickgerace commented on #102749
Thank you so much @jpbetz! Looks like we were on the right track.

Is it possible for this change to be backported to k8s 1.19, 1.20, and 1.21? (I think 1.22 GA would have this fix by default, right?)

[2021-06-25 16:24] jpbetz commented on #102749
I'm in favor of back porting this as far as we possibly can. Once the fix is merged and the PR to version bump structured-merge-diff is open against github.com/kubernetes/kubernetes I'll open the cherry-pick requests.

[2021-06-25 16:29] j4m3s-s commented on #102659
I currently don't have logs related to that, so I'll follow up with more information soon (probably beginning of next week). Thanks for the help !

[2021-06-25 16:30] SergeyKanzhelev commented on #50375
I think the doc wasn't updated as part of https://github.com/kubernetes/kubernetes/pull/6794

My understanding is that it is less of an alert and more of just watch it periodically. According to comment above saying that people with more elaborate alerting don't need this.

I wonder what is the use case keeping pods active for so long that restart count needed to be cleaned up. People on thread, w

[2021-06-25 16:31] soltysh commented on #101985
Potentially fixed in https://github.com/kubernetes/kubernetes/pull/94165

[2021-06-25 16:42] nickgerace commented on #102749
That sounds great. Please reach out if you would like help or reviews.

[2021-06-25 16:50] logicalhan commented on #103186
/assign

[2021-06-25 17:03] lavalamp commented on #103186
We should never be adding to user-controlled traces, IMO.

apiserver should add baggage to its trace headers. Rentrant calls should repeat the baggage. Then the 2nd apiserver can use this to verify that the trace was originated by some apiserver in the cluster. In that case, it should append to a trace. Otherwise, it should start a new one. This should not be an option for the user. There are mult

[2021-06-25 17:13] kfox1111 commented on #75482
rebooting doesn't delete the pods though. so if the container runtime upgrade causes some differences in the filesystem that need to be corrected by actually fully draining all the containers off of the host, --ingnore-daemonsets won't do it?

[2021-06-25 17:14] kfox1111 commented on #75482
A taint that can not be ignored to force the rest of the pods off of the host may be part of the solution.

[2021-06-25 17:17] logicalhan commented on #103186
I'd like to be able to run `kubectl apply -f blah.yaml --trace` but I am indifferent as to whether that actually attaches a trace directly or runs through some webhook which validates who i am and then attaches a trace to the request.

[2021-06-25 17:31] zorro786 commented on #101877
It is very unlikelyfor collisions in uid. Also it's not a single uid but several so this can be ruled out.

[2021-06-25 17:46] lavalamp commented on #103186
I don't see how webhooks could attach a trace.

Letting users request apiserver initiate a trace is different than attaching a request to an already created trace, no?

If we let users request extra resource usage (trace allocation), then IMO we have to authz that somehow.

[2021-06-25 17:50] logicalhan commented on #103186
Maybe I'm phrasing this incorrectly. We can have some mechanism by which either kubectl attaches a trace header directly, or attaches some sort of proxy pseudo trace header which the apiserver can then, after authz-ing (via a webhook or whatever), decide to actually attach a trace to the request.

[2021-06-25 17:53] MorrisLaw commented on #94901
Made a PR that's ready for review @justaugustus @spiffxp @oomichi ^

[2021-06-25 17:54] lavalamp commented on #103186
Maybe a preexisting trace makes sense if folks are using api calls.

I guess my concern is just bounding the resource usage. A non-authz
solution might look like a cap on the %age of requests that get traced, and
user-requested traces count against that cap (and are ignored if it would
put it over the cap).

I don't think it works this way, but I definitely don't want apiserver
dialing out to some

[2021-06-25 17:56] rahulii commented on #99453
@slayer321 are you taking this up , or should i take?

[2021-06-25 17:58] #101681 closed

[2021-06-25 17:58] QiWang19 commented on #99608
@ehashman  I would like to take this one by opening a PR for the clamping issue.

[2021-06-25 17:59] logicalhan commented on #103186
dialing out to some user-controlled address to report on a trace.

Yeah that's not really what I was saying.

solution might look like a cap on the %age of requests that get traced, and
user-requested traces count against that cap (and are ignored if it would
put it over the cap).

You would probably require separate quotas, generally trace sampling is super super low (think 1 in a hundred thousan

[2021-06-25 18:10] ehashman commented on #23349
/sig scalability
/kind feature
/triage accepted

It's clear that some people are running with 500+ pods per node already. I'm not sure if we have scalability tests to guarantee it though. Tagging in scalability for a possible update.

[2021-06-25 18:21] Jiawei0227 commented on #96852
/remove-lifecycle stale

[2021-06-25 18:24] tallclair opened #103192 "PodSecurity Umbrella Issue"
Umbrella issue to track follow-up items from initial PodSecurity PR

Tracking issues for Alpha:
- [x] #103215
- [x] #103194
  - [x] #103195
  - [x] #103196
  - [x] #103197
  - [x] #103198
  - [x] #103199
  - [x] #103200
  - [x] #103201
  - [x] #103202
  - [x] #103388
  - [x] #103203
  - [x] #103204
  - [x] #103205
  - [x] #103271
- [x] #103211
- [x] #103209
- [x] #103193
- [ ] #103208
- [ ] #10321

[2021-06-25 18:25] tallclair commented on #103192
(Please check in with @liggitt or @tallclair before picking up any of these issues)

[2021-06-25 18:25] tallclair opened #103193 "[PodSecurity] Implement ValidatePodSecurityConfiguration"
Implement this method:
https://github.com/kubernetes/kubernetes/blob/d92f6c424d621e9275fa49cbe57a7d501017ef0d/staging/src/k8s.io/pod-security-admission/admission/api/validation/validation.go#L24-L28

Use the `ParseVersion` and `ParseLevel` functions to validate the values (https://github.com/kubernetes/kubernetes/blob/d92f6c424d621e9275fa49cbe57a7d501017ef0d/staging/src/k8s.io/pod-security-admissi

[2021-06-25 18:25] tallclair opened #103194 "[PodSecurity] Implement remaining pod security standards checks"
Tracking issues:
  - [x] #103195
  - [x] #103197
  - [x] #103198
  - [x] #103199
  - [x] #103202
  - [x] #103196
  - [x] #103201
  - [x] #103200
  - [x] #103381
  - [x] #103388
  - [x] #103204
  - [x] #103203
  - [x] #103205
  - [x] #103271

Once all the checks have been implemented, we should do a final pass to ensure consistency of across all checks. In particular, we should look at:

- Consiste

[2021-06-25 18:25] tallclair opened #103195 "[PodSecurity] baseline - hostNamespace"
Implement the "Host Namespaces" check from https://kubernetes.io/docs/concepts/security/pod-security-standards/#baseline

- [ ] implement check_hostNamespaces.go for the baseline policy
  - fail if any of the three host namespace fields are set to true
  - see staging/src/k8s.io/pod-security-admission/policy/check_runAsNonRoot.go as an example
- [ ] implement fixtures_hostNamespaces.go
  - see sta

[2021-06-25 18:25] tallclair opened #103196 "[PodSecurity] baseline - privileged containers"
Implement the "Privileged" check from https://kubernetes.io/docs/concepts/security/pod-security-standards/#baseline

- [ ] implement check_privileged.go for the baseline policy
  - fail if any container sets `privileged` to true, and include the names of the invalid containers in the forbidden details
  - see staging/src/k8s.io/pod-security-admission/policy/check_runAsNonRoot.go as an example
- [

[2021-06-25 18:26] tallclair opened #103197 "[PodSecurity] baseline - capabilities"

[2021-06-25 18:26] tallclair opened #103198 "[PodSecurity] baseline - hostPath"
Implement the "Host path" check from https://kubernetes.io/docs/concepts/security/pod-security-standards/#baseline

- [ ] implement check_hostPath.go for the baseline policy
  - fail if any hostPath volumes are present in the pod, and include the names of the invalid volumes in the forbidden details
  - see staging/src/k8s.io/pod-security-admission/policy/check_runAsNonRoot.go as an example
- [ ]

[2021-06-25 18:26] tallclair opened #103199 "[PodSecurity] baseline - hostPorts"
Implement the "Host ports" check from https://kubernetes.io/docs/concepts/security/pod-security-standards/#baseline

- [ ] implement check_hostPorts.go for the baseline policy
  - fail if any hostPorts are present in any containers, and include the hostPort numbers and names of the containers in the forbidden details
  - see staging/src/k8s.io/pod-security-admission/policy/check_addCapabilities.go

[2021-06-25 18:26] tallclair opened #103200 "[PodSecurity] baseline - apparmor"
Implement the "AppArmor" check from https://kubernetes.io/docs/concepts/security/pod-security-standards/#baseline

- [ ] implement check_apparmor.go for the baseline policy
  - fail if any apparmor annotations are present that are set `unconfined`, include the relevant container names and invalid values in the forbidden details
  - see staging/src/k8s.io/pod-security-admission/policy/check_addCapa

[2021-06-25 18:26] tallclair opened #103201 "[PodSecurity] baseline - procMount type"
Implement the "procMount" check from https://kubernetes.io/docs/concepts/security/pod-security-standards/#baseline

- [ ] implement check_procMount.go for the baseline policy
  - fail if any containers set `securityContext.procMount` to any value other than `Default`, include the relevant container names and invalid values in the forbidden details
  - see staging/src/k8s.io/pod-security-admission/

[2021-06-25 18:26] tallclair opened #103202 "[PodSecurity] baseline - sysctls"
Implement the "sysctls" check from https://kubernetes.io/docs/concepts/security/pod-security-standards/#baseline

- [ ] implement check_sysctls.go for the baseline policy
  - fail if any containers set `sysctls` to values outside the allowed set, include the relevant container names and invalid values in the forbidden details
  - see staging/src/k8s.io/pod-security-admission/policy/check_addCapabi

[2021-06-25 18:26] tallclair opened #103203 "[PodSecurity] restricted - volume types"
Implement the "restrictedVolumes" check from https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted

- [ ] implement check_restrictedVolumes.go for the baseline policy
  - fail if any volumes define any volume sources outside the allowed set, include the relevant volume names in the forbidden details
  - this should be implemented as a positive check (check each volume to

[2021-06-25 18:26] tallclair opened #103204 "[PodSecurity] restricted - non-root groups?"

[2021-06-25 18:26] tallclair opened #103205 "[PodSecurity] restricted - seccomp"
Implement the "seccomp" check from https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted

- [ ] implement check_seccomp.go for the baseline policy
  - fail if any seccomp profiles are set in the pod security context or container security contexts to type=Unconfined. Include the relevant container names and invalid values in the forbidden details
  - see staging/src/k8s.io

[2021-06-25 18:26] tallclair opened #103206 "[PodSecurity] restricted - dropCapabilities"
in restricted v1.22+, must drop NET_RAW (or require dropping ALL?)

discussion in https://docs.google.com/document/d/1Z26yS26z5saILHzj9nSvlbGOBJP_6c182Fl-vAi8AQY/edit

sketch of this check in https://github.com/liggitt/kubernetes/commits/podsecurity-dropcap

[2021-06-25 18:26] rphillips commented on #61664
/remove-priority important-soon

There has not been any activity on this for a long time. This issue may be a candidate to close.

[2021-06-25 18:27] ehashman commented on #61650
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:27] #61650 closed

[2021-06-25 18:28] ehashman commented on #61652
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:28] #61652 closed

[2021-06-25 18:28] ehashman commented on #61654
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:29] #61654 closed

[2021-06-25 18:29] ehashman commented on #61656
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:29] #61656 closed

[2021-06-25 18:29] ehashman commented on #61655
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:29] #61655 closed

[2021-06-25 18:30] ehashman commented on #61657
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:30] #61657 closed

[2021-06-25 18:30] ehashman commented on #61658
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:30] #61658 closed

[2021-06-25 18:30] ehashman commented on #61659
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:30] #61659 closed

[2021-06-25 18:31] ehashman commented on #61660
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:31] #61660 closed

[2021-06-25 18:31] ehashman commented on #61661
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:31] haircommander commented on #101541
it looks like the two requisite pieces have been merged, so I would consider this done

/close

[2021-06-25 18:31] #61661 closed

[2021-06-25 18:31] #101541 closed

[2021-06-25 18:32] ehashman commented on #61662
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:32] #61662 closed

[2021-06-25 18:32] ehashman commented on #61663
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:32] #61663 closed

[2021-06-25 18:32] ehashman commented on #61664
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:33] #61664 closed

[2021-06-25 18:33] ehashman commented on #61666
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:33] #61666 closed

[2021-06-25 18:33] ehashman commented on #61668
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:33] #61668 closed

[2021-06-25 18:33] rphillips commented on #31424
There has been no activity on this issue for some time. This issue is a candidate to close.

[2021-06-25 18:33] ehashman commented on #61670
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:33] #61670 closed

[2021-06-25 18:34] ehashman commented on #61672
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in https://github.com/kubernetes/kubernetes/issues/86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:34] #61672 closed

[2021-06-25 18:34] tallclair opened #103207 "[PodSecurity] Implement and test metrics"
Tasks:
  - [ ] for both pod/pod-controller admission
  - [ ] record allow/deny/exempt/error cases correctly
  - [ ] record enforce/warn/audit cases correctly

[2021-06-25 18:35] ehashman commented on #61674
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in #86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:35] #61674 closed

[2021-06-25 18:35] ehashman commented on #61676
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in #86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:35] #61676 closed

[2021-06-25 18:36] ehashman commented on #61677
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in #86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:36] #61677 closed

[2021-06-25 18:36] tallclair opened #103208 "[PodSecurity] Implement webhook"
Tasks:
  - [ ] Implement webhook library (WIP commits in https://github.com/kubernetes/kubernetes/pull/103165)
  - [ ] Implement webhook command (WIP commits in https://github.com/kubernetes/kubernetes/pull/103165)

[2021-06-25 18:37] ehashman commented on #61678
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in #86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:37] #61678 closed

[2021-06-25 18:37] ehashman commented on #61679
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in #86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:37] #61679 closed

[2021-06-25 18:37] ehashman commented on #61680
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in #86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:37] #61680 closed

[2021-06-25 18:37] haircommander commented on #102285
https://github.com/opencontainers/runc/pull/2968 was fixed in runc, so the remaining steps here are to vendor runc-1.0.0 into cadvsior, then vendor new cadvisor into kubelet.
/triage accepted

[2021-06-25 18:37] tallclair opened #103209 "[PodSecurity] Propagate code/reason to in-tree admission response"
Address the TODO here: https://github.com/kubernetes/kubernetes/blob/01819dd322855915e0477dcad3b922d66bec9878/plugin/pkg/admission/security/podsecurity/admission.go#L181-L187

[2021-06-25 18:38] tallclair opened #103210 "[PodSecurity] Add test coverage for pod-template-containing objects"
Tasks:
  - [ ] status updates don't produce warnings
  - [ ] spec updates don't block on enforce failures
  - [ ] spec updates produce correct user-visible warnings

[2021-06-25 18:38] tallclair opened #103211 "[PodSecurity] Add test coverage for namespace admission"
Tasks:
  - [x] label validation - done in https://github.com/kubernetes/kubernetes/pull/103099
  - [x] tolerating no-op updates to existing invalid labels - done in https://github.com/kubernetes/kubernetes/pull/103099
  - [x] verifying warning about existing invalid pods - done in https://github.com/kubernetes/kubernetes/pull/103099
  - ~~behavior of count/time limits for validating pods~~ moved t

[2021-06-25 18:38] haircommander commented on #102285
/priority important-soon

[2021-06-25 18:39] ehashman commented on #61671
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using the unified tracker in #86843. We will list each issue here that we're closing and the associated flag.

/close

[2021-06-25 18:39] #61671 closed

[2021-06-25 18:39] ehashman commented on #86843
SIG Node Bug Scrub has decided to close the 23 individual flag tracking issues in favour of using this unified tracker. We will list each issue here that we're closing and the associated flag.

- `--volume-plugin-dir`: https://github.com/kubernetes/kubernetes/issues/61650
- `--runonce`: https://github.com/kubernetes/kubernetes/issues/61652
- `--root-dir`: https://github.com/kubernetes/kubernetes/i

[2021-06-25 18:39] tallclair opened #103212 "[PodSecurity] Add benchmarks"
Tasks:
  - [ ] Benchmark and optimize pod admission
  - [ ] Benchmark and optimize evaluation of identical policies/versions for different actions
  - [ ] Benchmark and optimize evaluation of exemptions

[2021-06-25 18:42] haircommander commented on #95193
@yashvardhan-kukreja are you still working on this?
/priority backlog

[2021-06-25 18:43] rphillips commented on #31424
/close

[2021-06-25 18:43] #31424 closed

[2021-06-25 18:47] tallclair opened #103213 "[PodSecurity] Aggregate identical warnings for multiple pods in a namespace"

[2021-06-25 18:47] tallclair opened #103214 "[PodSecurity] Cleanup: deduplicate config→runtime policy method"

[2021-06-25 18:51] tallclair opened #103215 "[PodSecurity] Implement PodSecurity framework & skeleton"

[2021-06-25 18:52] eddiezane commented on #103185
/cc @KnVerey

[2021-06-25 18:55] haircommander commented on #489
The checkpoint/restore KEP as it exists now has been updated to relate to pod migration between nodes. I believe it was a decision by sig-node to not checkpoint kubelet state, though I'm having trouble finding documentation for that.

Since the current iteration of the KEP is not relevant to this issue, and because it doesn't seem like sig-node has any intention of working on this, I am closing it

[2021-06-25 18:55] #489 closed

[2021-06-25 18:59] haircommander commented on #99285
hey @amit4alcide, thanks for opening the issue. I am not sure I see the general applicability of passing this information to every pod. What is your use-case that makes the node name insufficient?

[2021-06-25 19:01] ehashman commented on #95854
This is sort of a duplicate of #99009 so I think we should keep that issue as the discussion issue, since it's more general. We can consider falling back on more limited scope like this and close it for now.

Seems like a fair idea but we don't have anyone currently working on such a thing, and we would need a detailed design proposal. Since this would involve an API change, we would likely need a

[2021-06-25 19:01] #95854 closed

[2021-06-25 19:01] haircommander commented on #103077
hey @prnvkv since we're adding a new field to the pod  API (we can't reuse hostPort as it's an int, and it would need to become a string), and extending CRI implementations, the kubelet and API, I believe an extension like this warrants a KEP. Do you have any interest in taking on this feature?

/priority backlog

[2021-06-25 19:02] slayer321 commented on #99453
yes, @rahulii  I am taking this up.

[2021-06-25 19:03] ehashman commented on #98902
/remove-lifecycle rotten
/triage accepted

need a plan for pause.

[2021-06-25 19:06] ehashman commented on #102190
/kind bug

[2021-06-25 19:07] haircommander commented on #30861
@rphillips tested this on kubernetes 1.21 and CRI-O and was unable to reproduce. Since this seems to be a docker specific bug, and the dockershim has been deprecated and will soon be removed, I do not believe this bug will be fixed. Please use one of the CRI implementations instead to fix this issue

/close