[2017-02-01 15:42] feiskyer commented on #40182
Could someone explain why docker defaulting to DROP? Does this mean containers of docker v1.13 can't connect outside by default?

[2017-02-01 15:49] fraenkel commented on #8800
The envFrom support for ConfigMap and Secrets are already in 1.6 so you can refer to an entire ConfigMap.

[2017-02-01 15:49] marun commented on #40616
What other easy ways do you mean?  I misspoke when I said ``--dns-provider=`` would allow things to work (and #40757 would close that loophole anyway).  At present, the controller manager will still fail to start when an empty dns provider is specified due to the services controller erroring out on missing dns configuration.   Unless I'm missing something it will be necessary to allow the controll

[2017-02-01 15:55] bboreham commented on #40182
@feiskyer generally the Linux default is to have IP forwarding off.
Docker used to turn it on across the board, which was (a) unnecessary and (b) a security issue.  1.13 removed this issue.

Docker add two specific rules which allow traffic off their bridge, and replies to come back:

[code]

CNI providers which do not use the `docker0` bridge need to make similar provision.

[2017-02-01 16:04] dforste commented on #34583
I just hit this as well. I think moving the "zone" decision closer to the provisioning decision would be best. Perhaps wait until a PVC is consumed by a pod before you create it in a zone. That way corner cases like this are not a problem.

[2017-02-01 16:07] k8s-merge-robot opened #40811 "[k8s.io] HostPath should support r/w [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1740/
Failed: [k8s.io] HostPath should support r/w [Volume] {E2eNode Suite}

[code]

[2017-02-01 16:08] deitch commented on #8800
I was hunting for it, couldn't find it. And it is already in 1.6? That is great. Where is the doc? I have a use case right now.

[2017-02-01 16:09] bboreham commented on #40182
@colemickens can you clarify which network plugin you are using - is it `kubenet`?

[2017-02-01 16:41] #40264 closed

[2017-02-01 16:41] foxish commented on #40651
cc @kow3ns

[2017-02-01 16:44] foxish opened #40813 "kubectl built from head does not recognize all api versions with older server version"
In case of kubectl built from head:

[code]

Older kubectl 1.5.2

[code]

cc @kubernetes/sig-cli-bugs @pwittrock @ymqytw

[2017-02-01 17:09] rsuniev commented on #38963
PV's are not connected to a namespace

[2017-02-01 17:10] fraenkel commented on #8800
The easiest way to read it is https://github.com/kubernetes/community/blob/master/contributors/design-proposals/envvar-configmap.md

[2017-02-01 17:41] smarterclayton commented on #40651
field paths must point to a valid part of the JSON struct - so it has to be
"metadata.annotations['spec.pod.beta.kubernetes.io/statefulset-index']" but
we need to finish the proposal out.

On Wed, Feb 1, 2017 at 11:42 AM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2017-02-01 17:52] deitch commented on #8800
Thanks @fraenkel

1.6, right? Nice

[2017-02-01 18:11] sc68cal commented on #40367
Thanks. I'll re-run the heat-openstack provider and report back

[2017-02-01 18:21] jeffvance commented on #23615
@bambrozio Your 3 claims will remain Pending until a pv is Available for binding. All of your pvs are "Released" so no binding will occur. Did you delete the claims before generating the output above? For nfs volumes when a claim is deleted the volume is recycled, which deletes the data. What happens if you change the pv's ReclaimPolicy to "Delete" (since the data is deleted by nfs recycling anywa

[2017-02-01 18:25] deitch commented on #40651
`"metadata.annotations['spec.pod.beta.kubernetes.io/statefulset-index']"`

How does that look in the config?

[2017-02-01 18:33] ymqytw commented on #40813
Why using `kubectl.sh`. What is the difference between it and `kubectl` binary?
It works on my end:
[code]

[2017-02-01 18:42] dashpole commented on #22586
This issue can be closed, as #40095 is merged

[2017-02-01 18:42] smarterclayton commented on #40651
fieldPath: <what i typed>

On Wed, Feb 1, 2017 at 1:25 PM, Avi Deitcher <notifications@github.com>
wrote:

[2017-02-01 18:54] derekwaynecarr commented on #40044
I think we need to ensure that we have proper defaults identified before removing for all possible storage driver options...  does anyone have operational experience yet relying completely on eviction manager?

[2017-02-01 19:21] Karimerto commented on #40182
This thread sure was a lifesaver, though sadly I found it about 14 hours too late.. I managed to wipe my entire cluster and reinstall everything, with the same issue still persisting. I was about to lose my mind trying to figure out why half of my original cluster was working and the other wasn't. Those which didn't work were installed and added later with docker 1.13, so this explains everything.

[2017-02-01 19:25] screeley44 opened #40817 "kubectl exec fails with connection refused"
Have a single node cluster (local-up-cluster.sh) on AWS using latest HEAD - start a pod that connects to EFS.  Pod runs, mount works.

Try to exec into the pod:

[code]

From docker, have no issue exec into the pod
[code]

I'm also able to access the node (fqdn or ip) and the pods IP fine with a simple ping.

possibly related to #40459 - as I had to delete the .kube/config to be able to use kubect

[2017-02-01 19:59] mml commented on #40110
I have re-built `3.0.14`.  I'll see if I can abort the current run of https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-latest-1.4-gci-latest-upgrade-cluster-new/

[2017-02-01 20:03] TamalSaha commented on #23864
We would also like to see port ranges supported for pods. We are trying to run GlusterFS inside Kubernetes using PetSet. GlusterFS uses one port for each volume provisioned. Their official documentation recommends opening 49152:49251 ports.
https://github.com/heketi/heketi/wiki/Kubernetes-Integration#infrastructure-requirements

This is particularly important when dynamic provisioning is used for

[2017-02-01 20:06] wojtek-t commented on #40110
@mml We are currently using "3.0.14-alpha.1" image. So if you want to try a different image, I think you should update manifest files to the new image. Or rebuild 3.0.14-alpha.1 image :)
[Unless I'm missing something how the test works.]

[2017-02-01 20:10] mml commented on #40110
D'oh.  Thanks, @wojtek-t.  I just assumed the default tag in the Makefile was correct.

[2017-02-01 20:14] mml commented on #40110
[code]

[2017-02-01 20:18] djsly commented on #31709
@DreadPirateShawn we started seeing this too. What do you guys do to bring it back to an healthy state ?

[2017-02-01 20:20] pwittrock opened #40818 "Support for defining swagger extensions directly in types.go"
Background:
kubectl and the Kubernetes reference docs both depend on the swagger.json spec to operate on Kubernetes resources.  The swagger.json lacks important information required by kubectl and the
docs.

Usecase:

- kubectl can identify the patchStrategy and mergeKey for resource fields
- kubectl can identify the columns to print for `kubectl get <type>` on resources
- docs can parse and displ

[2017-02-01 20:29] cvauvarin opened #40819 "Wrong VM name is retrieved by the vSphere Cloud Provider"
**What keywords did you search in Kubernetes issues before filing this one?**: VMware, vSphere, IP, UUID

---

BUG REPORT.

**Kubernetes version**:

[code]

**Environment**:
- **Cloud provider or hardware configuration**: VMware vSphere 6.5.0
- **OS** : Debian GNU/Linux 8.7 (jessie)
- **Kernel** :` Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux`
- **Install tools**: Kar

[2017-02-01 20:32] #39215 closed

[2017-02-01 20:32] #40589 closed

[2017-02-01 20:33] foxish commented on #40818
I think this wouldn't fall under sig-apps.
cc @kubernetes/sig-api-machinery-misc

[2017-02-01 20:36] foxish commented on #40813
I was just using kubectl.sh to run the newly built client from master.
@ymqytw What version of kubectl are you running?

[2017-02-01 20:41] derekwaynecarr opened #40820 "kubectl exec gives poor output when command does not exist in container"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
HEAD

**Environment**:
- OS 4.9.5-200.fc25.x86_64
- docker 1.12.6

**What happened**:
$ kubectl exec <pod> foobar
rpc error: code = 13 desc = invalid header field value "oci runtime error: exec failed: container_linux.go:247: starting container process caused \"exec: \\\"foobar\\\

[2017-02-01 20:44] madhusudancs commented on #40398
@irfanurrehman I discussed this with @nikhiljindal in-person and he is Ok with your proposal. But let's have a comma separated list as suggested by @marun in https://github.com/kubernetes/kubernetes/issues/40398#issuecomment-276522846.

[2017-02-01 20:46] AndrewDryga commented on #10921
1.4 is out, is there are any changes in version in which fix will be included?

[2017-02-01 20:53] justechn commented on #831
Wow, long thread, I tried to read the whole thing, but I may have missed something along the way.

So what is the best way to store persistent data that should never go away? Like what was said [here](https://github.com/kubernetes/kubernetes/issues/831#issuecomment-95837246) I have a database that stores the actual data in a volume container. I need that data available before the DB container star

[2017-02-01 20:55] smarterclayton commented on #40818
I would not do the columns stuff - we're moving get to the server side.
Top level objects is already available in some form by the client -
specifically the list that we use (should use) to get the swagger doc tells
us what the top level type is (or is that for something like explain).

Merge key, patch strategy, default values all belong as "real" attributes,
although we had not necessarily inten

[2017-02-01 21:20] tonglil commented on #24868
I ran into this problem today, what can I do to make this pass?

[2017-02-01 21:42] shyamjvs commented on #40350
Closing this issue since NPD works in kubemark now. For any issues that still come up in kubemark npd, we have issue https://github.com/kubernetes/kubernetes/issues/39245 for tracking.

[2017-02-01 21:42] #40350 closed

[2017-02-01 21:44] ymqytw commented on #40813
@foxish kubectl is built on HEAD
[code]

[2017-02-01 21:46] pwittrock commented on #40818
@smarterclayton Thanks

Is there a design proposal / eta for this?

This is for generating the docs from swagger.  Right now the list of top level resources for the docs to display is hardcoded in a [config file](https://github.com/kubernetes-incubator/reference-docs/blob/master/gen_open_api/config.yaml).  I would like to move the majority of the metadata out of the config file so that:

1. The sa

[2017-02-01 21:53] liggitt commented on #40626
does edit respect `--save-config` (which defaults to false)?

[2017-02-01 22:07] calebamiles commented on #40790
how are these labels @ash2k?

[2017-02-01 22:19] ash2k commented on #40715
cc @kubernetes/sig-api-machinery-misc

[2017-02-01 22:21] ymqytw commented on #40626
No. `edit` behave the same as `replace`

[2017-02-01 22:25] liggitt commented on #40626
then agree it's a bug fix. as long as --save-config can still be used to say "the edited version is my new base config", I'm happy

[2017-02-01 22:25] madhusudancs commented on #40616
Feature gates. This will let you selectively disable APIs and their associated controllers. That should allow you to disable federated service controller and in turn avoid the controller manager startup failure for your local development.

From this discussion and the other ones, it feels like what you really want is the ability to locally test/debug federation without having to use a cloud DNS pr

[2017-02-01 22:31] timothysc commented on #40358
I agree this is needed, and a huge +1 to the builder use case.  We have no iop fences and this is probably the best knob we would have for a while.

Option A isn't really an option ;-).
+1 to Option B, when time permits.

[2017-02-01 22:33] foxish commented on #40813
My server version is 1.5.2. I'm having issues with new kubectl and 1.5.x server version still. Checking against a server built from HEAD now.

[2017-02-01 22:41] timothysc commented on #35317
/cc @mwielgus

[2017-02-01 23:01] dashpole opened #40824 "Pod Creation and Deletion Profiling"
@kubernetes/sig-node-bugs @vishh @derekwaynecarr @yujuhong @Random-Liu
I am starting to look at pod creation/deletion time.  Here is the spread of notable events for 105 pods.

![screenshot from 2017-02-01 14 12 34](https://cloud.githubusercontent.com/assets/3262098/22529257/99ffde58-e88b-11e6-84e2-eb94fd15a7b5.png)

Some quick notes:
volume mounting occurs at the same time as the pod_syncloop add

[2017-02-01 23:02] from-nibly commented on #17512
here is my hack `kubectl describe nodes | grep -A 2 -e "^\\s*CPU Requests"`

[2017-02-01 23:03] pwittrock commented on #40626
@liggitt

Since we can determine whether a flag was set, for `replace` we could change the current 'false' behavior to 'unset' and have 'false' when set explicitly work as expected.  Admittedly, the use cases for using replace with apply are unclear to me so I am not sure if that captures the correct default behavior.

For edit I am not comfortable with defaulting to rewriting the annotation ever.

[2017-02-01 23:19] k8s-merge-robot opened #40826 "ci-kubernetes-e2e-gci-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/3927/
Multiple broken tests:

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should provide basic identity {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37361 #37919

Failed: [k8s.io] Deployment lack of progress should be reported in the deployment status {Kubern

[2017-02-01 23:20] hhzguo opened #40827 "lastBaseRuntimeSync confusion."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-02-02 00:09] wstrange commented on #831
@justechn If I understand your requirements, a StateFulset should do what you want. Depending on the cloud, it will provision you a PV that is tied to the database instance. On GCE - that will be a normal PD disk - which you can snapshot, backup, etc,

[2017-02-02 00:15] robdaemon commented on #40819
Wow, this very much is a bug. It was introduced by one of my colleagues here at HPE.

I'll send a PR upstream tomorrow to resolve this. I think it's best to go back to using dmidecode, but maybe someone from VMware (@abrarshivani or @kerneltime ?)

This would still require root access, but I can't think of a better way to get the machine's ID.

[2017-02-02 00:19] kow3ns commented on #39363
@smarterclayton I think  #38418 is somewhat separate, but I concur that we should allow an annotation that optimizes for burst roll outs.
I was thinking something like [statefulset.alpha.kubernetes.io/burst]=<numPods> to allow up to <numPods> sequential replicas to be concurrently unready simultaneously with [statefulset.alpha.kubernetes.io/burst]="all" being equivalent to <numPods>=set.Spec.Repli

[2017-02-02 00:23] jeffkpayne commented on #40512
I am seeing the same behavior, also on macOS and GCP (almost identical specs to above).  I've been using `kubectl` all day, with other intermittent errors, but I *just* created a deployment a few minutes ago, then started seeing this error...

[2017-02-02 00:24] euank commented on #38042
I don't have time to properly triage this issue.

It's also a ton of disparate things with little common theme. I don't know who should be assigned, but it shouldn't be me.

cc @ethernetdan on the chance you want to turn this into a 1.6 release blocker.

[2017-02-02 00:26] pwittrock commented on #40818
Describe in the server makes sense to me.  IIUC, `get -o wide` just prints out a set of columns.  Was the idea that the server would just print out the columns or return a list of column / values or something more complicated?  No need to answer if it is in the issue / proposal already.

[2017-02-02 00:32] InAnimaTe opened #40835 "Cannot set flannel public IP in 1.5"
Wanted to post this here as well for more coverage (posted on the tectonic forum). This has got to be a similar problem for anyone with an internal host utilizing flannel on top of k8s.

### k8s Version

1.5.2 (tectonic)

### Environment

* 1x Controller Node is VPS with public IPv4 Address (Vultr allows for iPXE endpoints)
* 1x Worker Node (bare-metal) behind NAT address (so interface has interna

[2017-02-02 00:47] nikhiljindal commented on #40398
Yes csv is better. thanks for checking!

[2017-02-02 00:48] yujuhong commented on #40824
The pod status update are most likely limited by the QPS limits of the apiserver client used by kubelet. These are tunable via kubelet flags (`--kube-api-qps`, `--kube-api-burst`). There is an old bug #14955 for leveraging the apiserver backpressure, instead of using a fixed limit that doesn't cater to different cluster size.

[2017-02-02 00:49] GnawNom commented on #40754
[code]

[2017-02-02 01:00] ymqytw commented on #40635
cc: @pwittrock @liggitt
What is the expected behavior?
Should we delete all the resources that matching the labels, even though 0 files passed in (with `-f`) match the labels?

[2017-02-02 01:29] brianbaquiran commented on #31176
I am seeing the same or a similar issue, but it happens after the pod has been running for quite some time.

[code]

[code]

Actually, now that I'm looking more closely at the `describe` output, both pods were on the same node and experienced the error within a minute of each other.

The nodes are currently at v1.4.5, but I see v1.4.7 is available on GKE. I can upgrade if it will fix the problem.

[2017-02-02 01:39] jeffkpayne commented on #40512
OK, so I'm fairly new to all this stuff, but I'm guessing there's a problem (either in `kubectl` or on the GCP side) that results in the `~/.kube/config` getting out of sync or otherwise corrupted.  Looking at that file, I noticed that the cert that was being rejected did, in fact, have an expiry date in the past.  Simply running `gcloud container clusters get-credentials <cluster-name>` *did not*

[2017-02-02 01:40] jbeda commented on #39823
I think this is going to hit a lot of people as Docker 1.13 is now setting the FORWARD chain to drop by default if ip_forward is set. See https://github.com/docker/docker/pull/28257

[2017-02-02 01:48] mwielgus opened #40837 "Redesign Finalizers in Federation Controllers"
Currently the finalizers do multiple updates to the objects. There should be just 1 update in a reconciliation loop.

[2017-02-02 01:48] mwielgus commented on #40837
cc: @csbell @nikhiljindal @madhusudancs

[2017-02-02 01:53] jbeda commented on #40182
The docker change that caused this: https://github.com/docker/docker/pull/28257

[2017-02-02 01:54] colemickens commented on #40182
(@bboreham Yes, it was `kubenet`.)

[2017-02-02 01:54] jbeda commented on #40761
I think this is a dupe of https://github.com/kubernetes/kubernetes/issues/40182.  But not 100% sure.

[2017-02-02 01:55] jbeda commented on #39823
See also https://github.com/kubernetes/kubernetes/issues/40182

[2017-02-02 01:58] Haybu commented on #33462
@kargakis does this suggest that BG is a strategy now is supported ? or it is still underway feature ?

[2017-02-02 02:03] #40629 closed

[2017-02-02 02:12] ravishivt commented on #40761
@jbeda I don't believe this is a duplicate.  #39823 and #40182 are likely duplicates but this is separate IMO.  Those are for working around iptables FORWARD DROP policy and this is for kube-proxy to masquerade all pod outbound traffic so the response can be routed back to the pod.

[2017-02-02 02:23] jbeda commented on #40182
The way that services work with iptables mean that we will be initiating connections in to the bridge.  As such, we need to be more permissive than the `docker0` lines above as we won't already have a connection for incoming connections.  Here is what I had to do (my bridge is called cni0):

[code]

[2017-02-02 02:25] spxtr opened #40839 "Delete many E2E tests"
They don't scale, for a variety of reasons:

* E2E tests cannot be intelligently cached by Bazel, so we end up running all of them for every PR regardless of whether they need to run. Unit tests, on the other hand, only run when they need to.
* E2E tests are slow. Most of them take about a minute to run, and there are hundreds of them. Even trivial tests take a long time. We run each test against

[2017-02-02 02:31] dadux commented on #39812
Same issue with latest CoreOS stable. Metrics seem to disappear after a few hours.
[code]

I think https://github.com/kubernetes/kubernetes/issues/33192 might be related ?

[2017-02-02 02:39] spxtr commented on #40839
cc @soltysh @erictune for the particular example.

[2017-02-02 02:42] smarterclayton commented on #40818
https://github.com/kubernetes/kubernetes/pull/33900 is the bigger issue
that touches on a rough overview, I can't find my rambling brain dump of
the problem, but get would be rough tabular json, you could also get that
as csv, and describe could be a richer but not quite full structured
key/value structure.

On Feb 1, 2017, at 7:26 PM, Phillip Wittrock <notifications@github.com>
wrote:

Describe i

[2017-02-02 02:48] janetkuo commented on #40415
If any new API fields (of podtemplate) was added in a later k8s release, the hash value will be different, and Deployment controller will try to create new replicaset. I remembered we've seen this in 1.3 when `ObjectMeta.OwnerReferences` was added. Is it the root cause?

[2017-02-02 02:48] mengqiy opened #40841 "Add some unit tests for apply on TPR"
Copied from https://github.com/kubernetes/kubernetes/pull/40666#issuecomment-276563996

Initial attempt: #40775

We should at least have the following unit tests:
- create object with unknown group/version (covers TPR creation scenario)
- changing patch of object with unknown group/version (covers TPR apply scenario)
- no-op patch (idempotent apply) object with unknown group/version (covers TPR re

[2017-02-02 02:49] ymqytw commented on #40841
@ahakanbaba This is for you.

[2017-02-02 02:51] liggitt commented on #40635
`apply --prune` globally searches for all existing resources and deletes them if they don't exist in the referenced files? that seems really easy to fat-finger a huge deletion.

[2017-02-02 02:51] liggitt commented on #40754
does that service account with that uid still exist?

[2017-02-02 03:15] janetkuo commented on #29403
@xingzhou sorry for my late reply. From your proposal, on edit error, the users will be brought back to Terminal, with proper error message, and with interactive interface that allow them to get back to where they were (i.e. their previous edit will be preserved) and finish off? That sounds great - I agree that current design for handling edit errors is less intuitive, especially to `kubectl edit`

[2017-02-02 04:16] deitch commented on #40651
So:

[code]

Got it, thanks. Man, that is one painful deep structure.

[2017-02-02 04:19] MrHohn commented on #40635
I think a sane semantic may be "delete objects that don't exist in this path, but were created by the same user before using `kubectl apply` in the same path".

[2017-02-02 04:24] liggitt commented on #40635
the creating user is not stored in the API, so that data is not available to make decisions based on. I'm not sure what you mean by "in the same path"

[2017-02-02 04:42] MrHohn commented on #40635
Yeah that data is not available on apiserver. By "in the same path" I mean this user is manipulating the same set of files --- objects created by `kubectl apply -f /objects/folder` will only be pruned by `kubectl apply -f /objects/folder --prune` if the referenced files are deleted, but not by `kubectl apply -f /other/folder --prune`.

BTW [#33075/comment](https://github.com/kubernetes/kubernetes/

[2017-02-02 04:43] ahawkins opened #40846 "Environment variables not interpolated with exec probes"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- Minikube

**What happened**:

Environment variable interpolation `$()` does not work with exec probes.

**What you expected to happen**:

Environment variables would be interpolated like they are for container commands.

**How to reproduce it** (as minimally and precisely as possible):

Here is a snippet of a failing prob

[2017-02-02 04:48] akhilmandadi opened #40847 "Does minikube support iSCSI volume plugin"
I am trying to mount a iSCSI volume into the pod but i am getting mounting issues. Does minikube support iSCSI persistent volumes

[2017-02-02 04:49] liggitt commented on #40626
If they use edit to modify the resource, but do not write the annotation, isn't their edit subject to getting reverted on a re-apply by the add-on manager? that seems unexpected

[2017-02-02 05:46] GnawNom commented on #40754
Yep, same uid.
[code]

[2017-02-02 05:53] kerneltime commented on #40819
Related issue https://github.com/kubernetes/kubernetes/issues/33114

Will dig in more. For now instead of making it a value determined runtime the deployment framework should have root privileges and can populate it as part of the cloud config post VM creation.

[2017-02-02 06:01] k8s-mirror-cli-misc commented on #40626
No that is not how it works.

I just finished this doc (merged today) that gives a pretty detailed
explanation of how to use apply and what the annotation means.  I'd give it
a read, and hopefully it will answer your question (if not let me know so I
can try to figure out how to improve it).

https://kubernetes.io/docs/concepts/tools/kubectl/object-management-using-declarative-config/

The TLDR; i

[2017-02-02 06:02] dragorosson opened #40850 "apiserver 1.5+ not responding to SSLv3 client hello"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Kind of.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): haproxy, TLS, SSL, client hello, server hello, TLS handshake timeout

---

**Is

[2017-02-02 06:05] pwittrock commented on #40626
In particular, this example with replicas should walkthrough why we do not
want to update the annotation.

https://kubernetes.io/docs/concepts/tools/kubectl/object-management-using-declarative-config/#how-to-update-objects

On Wed, Feb 1, 2017 at 10:02 PM, k8s-mirror-cli-misc <
notifications@github.com> wrote:

[2017-02-02 06:22] madhusudancs commented on #40398
Just to clarify, by csv @nikhiljindal meant the comma separation, not the line separation in the initial proposal.

[2017-02-02 06:25] andrewrynhard opened #40851 "system:node clusterrole requires 'list' and 'watch' verbs for the 'endpoints' resource"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
kubeadm
- **Others**:

**What happened**:
Created a master node with `kubeadm init`, API server logs sh

[2017-02-02 06:33] nileshkanawade commented on #37922
Hi, does anybody manage to solve this issue?? I'm also getting same issue and stuck here since yesterday.

[2017-02-02 06:42] nikhiljindal commented on #40398
yes :)

[2017-02-02 06:57] klinakuf commented on #37922
I am having the same issue

[2017-02-02 07:01] ahakanbaba commented on #40841
Thanks I will follow up with this.

[2017-02-02 07:38] k82cn commented on #40780
@gyliu513 , please create PR directly and cc to Tim for review.

[2017-02-02 07:48] k82cn commented on #40358
+1 for B; for time, I'd like to work this, @timothysc would you shepherd it? I'll draft an doc for that.

[2017-02-02 08:19] irfanurrehman commented on #40398
yes I got that.. :)

[2017-02-02 08:23] mbohlool commented on #40818
regarding tags, they do not need to be in the same k8s:openapi-gen tag, it can be repeated:

[code]

they can also be separate tags but still general like this:

[code]

The idea is to have a general way to add arbitrary extension to a type so we don't need to change code generator for each specific tag. I have no strong feeling about the format, but I would like it to be general vs tags like +opt

[2017-02-02 08:42] pires commented on #40431
Another reason why not to use Docker 1.13, https://github.com/kubernetes/kubernetes/issues/40182#issuecomment-276392353. While there's a workaround, jumping to the latest version always breaks something 👎

[2017-02-02 08:46] MrTrustor commented on #40819
@cvauvarin is my colleague. A little more info and a few ideas. I would also support going back to ``FindByUUID``. We may not need dmidecode for getting the UUID. It is available in ``/sys/devices/virtual/dmi/id/product_uuid``. We could also have the following logic:

- Get UUID and use it to get the VM Name with FindByUUID if possible,
- If not, get the hostname and use FindByDNSName,
- If still

[2017-02-02 08:53] vielmetti commented on #40431
@pires I am on a test and development system looking for issues, so the more things that break and get fixed as a result the better. It was reported that no one had the resources to test Docker 1.13 RC with k8s before the Docker release which seems suboptimal. Of course we also have a Go 1.8 release coming up which makes the test matrix even larger. Suggestions?

[2017-02-02 09:57] kargakis commented on #40415
@janetkuo even though some fields were added in the PodTemplate during that time, they were added as pointers and I run the following test to roundtrip the pod template both in 1.4.7 and 1.5.2
http://pastebin.com/9HBS9tK5
I got back the same hash in both cases so this doesn't seem to be related to the situation we had with ObjectMeta...

[2017-02-02 10:08] kargakis commented on #33462
@Haybu no, BG is not supported natively and I am not sure this is going to happen anytime soon if at all in the core. We have a couple of issues for implementing custom strategies: https://github.com/kubernetes/kubernetes/issues/39337 https://github.com/kubernetes/kubernetes/issues/14510
You can also join Monday meetings of [sig-apps](https://github.com/kubernetes/community/tree/master/sig-apps) i

[2017-02-02 10:31] woopstar commented on #33462
For inspiration, we started to build our own BG deployment setup which is integrated into our bamboo deployment process.

Feel free to have a look at https://github.com/pasientskyhosting/kubernetes-blue-green-deploy

Please be aware this is still in beta.

[2017-02-02 10:47] shashidharatd commented on #40768
@madhusudancs, please assign this task to me.

[2017-02-02 10:52] shashidharatd commented on #40617
if someone else is not working on it, please assign this task to me.

[2017-02-02 11:25] sameo opened #40857 "CRI: StopPodSandbox relevance"
Looking at the CRI runtime service, I am wondering what `StopPodSandbox` is useful for.
According to the code comments, I understand `StopPodSandbox` main role is to reclaim all pod resources, but then from a `StopPodSandbox` call one can only move to a `RemovePodSandbox` one.

In other words, it seems to me that `StopPodSandbox` is a redundant state machine transition and could be potentially rem

[2017-02-02 12:02] soltysh commented on #40839
Commented on the linked PR.

[2017-02-02 12:39] deads2k commented on #39785
@kargakis this has blocked the queue a few times in the last couple days.

[2017-02-02 12:53] ccatlett2000 commented on #36992
It works for me with a non-fqdn hostname, as long as instance name resolution works (I had to explicitly set the subnet's DNS servers to nothing and configure DNS on Neutron's DHCP agent to get it to work).

[2017-02-02 13:02] kargakis commented on #39785
@deads2k thanks for letting me know, since the bot stopped posting in individual issues I have lost track of what's flaking. Looking..

[2017-02-02 13:06] piosz opened #40860 "Test version upgrades in test-update-storage-objects.sh"
follow up from https://github.com/kubernetes/kubernetes/pull/35782#discussion_r99113534

we should consider testing:
- ~~Job v1 and v2alpha2~~
- HPA v1 and v2alpha2

[2017-02-02 13:07] piosz commented on #40860
cc @caesarxuchao @kubernetes/sig-api-machinery-misc

[2017-02-02 13:36] luxas commented on #40851
See: https://github.com/kubernetes/kubeadm/issues/114

[2017-02-02 13:36] #40851 closed

[2017-02-02 13:45] jsafrane commented on #34060
In the logs I can see the first volume can't be deleted because it's still attached somewhere:
[code]

@jingxu97, can you see anything in attach/detach controller logs?

[2017-02-02 14:01] wattsteve commented on #39657
@codablock Agreed. I think it would be good to drive towards a model whereby our volume plugin interface supports a snapshot and a restore operation. If the backend provider that the volume plugin exposes supports those operations, it should be simple enough to invoke the provider API to make those calls. If the provider does not support them it could be a no-op with an appropriate error event. Th

[2017-02-02 14:12] wojtek-t commented on #40110
Should I be looking into this job:
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-latest-1.4-gci-latest-upgrade-cluster-new/

From the logs that @krousey pasted at the beginning (and which appear in all logs) and seems that the problem is with certificated files, not with etcd itself.
[code]

@jszczepkowski @roberthbailey - did anything change around ho

[2017-02-02 14:26] myaskevich opened #40865 "StatefulSet Init container cannot resolve another Pod hostname"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: MacBook Pro 15, VirtualBox
- **OS** (e.g. from /etc/os-release): CentOS 7
- **Kernel** (e.g. `uname -a`): `Linux localhost.localdomain 3.10.0-514.2.2.el7.x86_64 #1 SMP Tue Dec 6 23:06:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**:
- **Others**:

**What happened

[2017-02-02 14:32] aliser commented on #26822
I see it happens again:

ERROR: Timeout after 10 minutes
ERROR: Error fetching remote repo 'origin'
hudson.plugins.git.GitException: Failed to fetch from https://github.com/wpmedia/qa.git
	at hudson.plugins.git.GitSCM.fetchFrom(GitSCM.java:803)
	at hudson.plugins.git.GitSCM.retrieveChanges(GitSCM.java:1063)
	at hudson.plugins.git.GitSCM.checkout(GitSCM.java:1094)
	at hudson.scm.SCM.checkout(SCM.ja

[2017-02-02 14:40] wojtek-t commented on #40110
Actually, looking at the log that is causing it to fail:

I very strongly suspect that the victim of those failures is this PR:
https://github.com/kubernetes/kubernetes/pull/38212

@cjcullen @mikedanese - can you please take a look if the hypothesis sounds reasonable to you?

[2017-02-02 15:10] eggsy84 commented on #38362
Can anyone share how to create the vhds container? For those that don't yet have this fix

[2017-02-02 15:16] jgeraerts commented on #38362
@eggsy84
Easiest is through the portal, browse to your storage account and create a container called `vhds`

[2017-02-02 15:27] eggsy84 commented on #38362
Thats great thanks for the quick response. The automator in me now wants to see if I can automate the creation of that container through powershell ;)

[2017-02-02 15:34] rootfs commented on #38362
https://docs.microsoft.com/en-us/azure/storage/storage-dotnet-how-to-use-blobs#create-a-container

[2017-02-02 15:46] Corristo opened #40869 "`kubectl cp` remote-to-local copy loses owner and access permission information"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubectl cp

---

**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
Goog

[2017-02-02 15:46] soltysh commented on #40415
@victorgp @ApsOps can you guys provide me with a deployment spec that caused you the problems. I've just tried upgrade from 1.4.9-beta.0.14+c69582dffba33e to 1.5.2 and was using the [guestbook example](https://github.com/kubernetes/kubernetes/blob/0e5cda9893931a76ae22b95a70c506d18332c18c/examples/guestbook/all-in-one/guestbook-all-in-one.yaml) Although that one does not use any volumes. I'll try w

[2017-02-02 15:52] kargakis commented on #40415
@ApsOps posted the diff between two replica sets, use their pod template by
removing the podtemplate hash label and there you have one Deployment that
caused it.

On Thu, Feb 2, 2017 at 4:47 PM, Maciej Szulik <notifications@github.com>
wrote:

[2017-02-02 15:55] eggsy84 commented on #38362
Does the container have to be of type 'Container' ? IE Full public read access??

`There are three levels of anonymous read access: Off, Blob, and Container. To prevent anonymous access to blobs, set the Permission parameter to Off. By default, the new container is private and can be accessed only by the account owner. To allow anonymous public read access to blob resources, but not to container m

[2017-02-02 16:14] pskrzyns commented on #38372
cc @kubernetes/sig-network-bugs

[2017-02-02 16:16] smarterclayton commented on #40818
No, I mean we should define conventions in our API code that match the
intent (optional) rather than have tons and tons of repeated code that is
setting x-kubernete-describe-columns (or similar)

On Thu, Feb 2, 2017 at 3:23 AM, Mehdy Bohlool <notifications@github.com>
wrote:

[2017-02-02 16:34] robdaemon commented on #40819
I'm working on a patch right now that will do the following:

* Add a VMUUID field to the cloud config
* If VMUUID is not set, will use `/sys/devices/virtual/dmi/id/product_uuid`
* Error out if neither one is available

[2017-02-02 16:37] phutchins commented on #19899
I've written a service that does all of this and works quite nicely in my production environment. It is still a work in progress but it works.

https://github.com/phutchins/kubernetes-ssl-manager

[2017-02-02 16:39] rmmh commented on #26822
That's not a kubernetes repo. This isn't a generic jenkins bug.

[2017-02-02 16:42] robhaswell opened #40870 "Services without selectors cannot forward to other services as documented"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

Google Container Engine, 1.5.2

**What happened**:

I created a selectorless service and configured the endpoint to point at the ClusterIP of another service in a different namespace, as described in the documentation:
https://kubernetes.io/docs/user-guide/services/#services-without-selectors

This is supported behaviour ("

[2017-02-02 16:53] kozikow opened #40871 "Monitoring for kubernetes job failures"
I can't find a good way of monitoring kubernetes job failures. Particularly if active_deadline_seconds expires.

Currently I can only "actively" check status by listing jobs, but some passive form of notification would be nice. I am looking for more elegant solution than setting up a separate server or cron job that will periodically check status of all jobs.

For example, if some kubernetes compo

[2017-02-02 16:55] liggetm opened #40872 "Cassandra example rc failure"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5aa35041a8ddfe3d4b367381112f89", GitTreeState:"clean", BuildDate:"2017-01-23T14:15:25Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5aa35041a8ddfe3d4

[2017-02-02 16:56] madhusudancs commented on #40768
@shashidharatd assigned.

[2017-02-02 16:58] pwittrock commented on #40818
@smarterclayton I spent some time thinking about your comments last night.  I think don't think this is mutually exclusive with #33900, and could be complementary.

IMHO this is general metadata associated with the type, and including it in the swagger.json doesn't preclude supporting an api endpoint that pre-parses and formats the data.  However, including it in the swagger  does allow clients us

[2017-02-02 17:18] liggitt commented on #20208
We need to decide what strategic merge patch should do in the following scenarios:
* unknown fields (can be encountered when the API or a user-defined object has a new field the compiled-in struct doesn't have yet)
* unmergeable fields (like RawExtension)

cc @soltysh @pwittrock @ymqytw

[2017-02-02 17:18] kargakis commented on #40304
Anybody from @kubernetes/sig-apps-misc have time to take a stab at this one? Basically we should cleanup unhealthy pods before estimating proportions when we scale down in [scale](https://github.com/kubernetes/kubernetes/blob/9e427c88c4e6d335459450b0c7fec8f6e68e0914/pkg/controller/deployment/sync.go#L459).

[2017-02-02 17:22] caarlos0 commented on #40304
If someone point me to the right direction, I can try to tackle this...

[2017-02-02 17:38] liggitt commented on #10439
I don't think exposing keys via the API is a good place to start. Some of the biggest API-related issues with secrets today are:
* difficult to target secrets to a particular purpose or audience (e.g. "kubelet can use my image pull secret, but no one else can")
  * Some purposes ("deliver this secret to a pod as an envvar") require other actors (like the kubelet) to have access to the secret's con

[2017-02-02 17:42] #29778 closed

[2017-02-02 17:58] kargakis commented on #40415
FWIW, run the upgrade from 1.4.7 to 1.5.3 one more time, still couldn't reproduce... Also including the deployment template from https://www.diffchecker.com/P9VDdRXX which btw creates a totally new hash for me in 1.4.7.
http://pastebin.com/c8v4aAwX
The versions of Kube are compiled with different go versions

[2017-02-02 18:02] Grillz commented on #10439
Our biggest problem with them right now is that they aren't secret.

Is more of a namespace issue in general, and I don't think its specifically secret related. Currently, we are segmenting "Apps" into namespaces to restrict access to the secrets, but even with that the secret that is stored simply isn't sufficiently encrypted and hence compliant. I see we have https://github.com/kubernetes/kubern

[2017-02-02 18:07] spiffxp commented on #40636
/cc @kubernetes/sig-scalability-misc we discussed this during the SIG scale meeting today

[2017-02-02 18:14] liggitt commented on #10439
there are multiple levels:
* storage-level encryption (encryption at rest, transparent to the API), https://github.com/kubernetes/kubernetes/issues/12742 (being worked on in https://github.com/kubernetes/kubernetes/pull/40624 and https://github.com/kubernetes/kubernetes/pull/40664). the keys used to perform this encryption should not be exposed via the API.
* api-level encryption, where you can ge

[2017-02-02 18:17] jsafrane commented on #35695
@foxish, if there is no StatefulSet specific code in provisioning code then the StatefulSet controller must choose the zone. In https://github.com/kubernetes/kubernetes/pull/37497 we implement the code in provisioners that would allow it, however then the StatefulSet controller needs to get the list of zones from somewhere. And it's possible that the list is only in StorageClass.

[2017-02-02 18:18] kargakis commented on #40304
Ok, I just realized that trying to cleanup the new replica set will do no good. The system always tries to deploy the latest replica set so having a part of the controller scale down the new replica set (cleanup) and then another part scale up (the strategy) will drive in hotlooping of the controller. That being said I think this is an not issue, we provide you with ways/tools to diagnose failures

[2017-02-02 18:18] #40304 closed

[2017-02-02 18:29] ymqytw opened #40876 "bazel not working"
`update-bazel.sh`  and `verify-bazel.sh` seems not working.
[code]

@mikedanese @ixdy

[2017-02-02 18:37] caarlos0 commented on #40304
@kargakis maybe just fail then? Showing some error message saying that is not possible to scale down because there is no healthy instances in the new version, or something like that?

Of course, the user can check before scaling down... this would be just some kind of safe guard...

[2017-02-02 18:39] kerneltime commented on #39657
One question I have should snapshots record be authoritatively owned by the provider and not cached by kubernetes?

This would allow providers to publish snapshots taken via k8s APIs as well as offline to be available within kubernetes. As an example list snapshot for a volume would be an API call for a provider for a given volume.

This would allow existing integrations for snapshot data lifecycl

[2017-02-02 18:50] mikedanese commented on #40876
Duplicate of #39583, fixed by #40875.

Run `git config --global http.https://gopkg.in.followRedirects true` to workaround

[2017-02-02 18:50] #40876 closed

[2017-02-02 18:52] spxtr commented on #40794
These tests are inherently flawed, I removed them in #38908. Why do I have a flake opened against me for a release-1.5 job? I'm not going to fix it.

[2017-02-02 19:02] smarterclayton commented on #35695
Users shouldn't have to read storage classes in order to create PVCs that
spread appropriately.  We've already decided that PVC's have labels, that
probably implies that we have to have inter affinity rules and anti
affinity rules on PVCs.

On Thu, Feb 2, 2017 at 1:17 PM, Jan Šafránek <notifications@github.com>
wrote:

[2017-02-02 19:03] jingxu97 commented on #39657
Hi Ritesh, could you please provide a little more details? What do you mean
by authoritatively owned by the provider and not cached by kubernetes?

On Thu, Feb 2, 2017 at 10:40 AM, Ritesh H Shukla <notifications@github.com>
wrote:

--
- Jing

[2017-02-02 19:05] Grillz commented on #10439
Not if the key is referenced externally via a plugin. This would be similar to the Authorization plugin implementation where a webhook can simply be used to link out. We have clients that would prefer to use their own keys similar to how they prefer an external user management system. This would eliminate the need for low level encryption all together as the client is responsible for their keys an

[2017-02-02 19:08] yujuhong opened #40880 "Test CRI with docker 1.10 in the node e2e suite"
Since we are unsure whether docker 1.10 will continue to be supported in 1.6, we should prepare for the worst case (?) and test.

The prerequisite of this is to support older separator (`:`) for docker security options. Related PR: #40179

/cc @dchen1107 @Random-Liu

[2017-02-02 19:10] smarterclayton commented on #40818
I think that's a nice to have in the long run - but then people will say "why are the columns different when the server prints them from the local print"?  And most of the pod columns in no way can represent the full complexity of what they print with swagger, so the best effort local printing is going to be really, really, really best effort.  Also, local print is a really specialized case - if w

[2017-02-02 19:13] madhusudancs commented on #40617
@shashidharatd assigned to you.

[2017-02-02 19:17] ymqytw commented on #40813
@foxish Does it work?

[2017-02-02 19:18] Random-Liu commented on #40880
Ref https://github.com/kubernetes/kubernetes/issues/38164.

[2017-02-02 19:19] mikedanese commented on #23233
cc @thockin @MrHohn

[2017-02-02 19:26] cmluciano commented on #19899
Is this issue looking for an owner?

[2017-02-02 19:32] kow3ns commented on #35695
Assuming something like https://github.com/kubernetes/community/pull/306, where PVCs and PVs are used to manage local storage we need a clear way to specify that PVCs need to bind to local PVs on the same host. This will be important for users that want to run storage systems that can benefit from having separate disks for their WALs and/ or use multiple disks for their data (e.g. ZooKeeper, Cassa

[2017-02-02 19:37] ymqytw commented on #20208
The current behavior is:

- unknown fields: trying to merge a unknown field will fail when lookup the metadata in the struct tags
- unmergeable fields: will be replaced as raw byte array

Maybe we can use generic json merge for unmergeable fields?

[2017-02-02 19:40] yujuhong commented on #40880
Right. I'll close this one.

[2017-02-02 19:40] #40880 closed

[2017-02-02 19:41] yujuhong commented on #38164
Since we are unsure whether docker 1.10 will continue to be supported in 1.6, we should prepare for the worst case (?) and test against 1.10.

The prerequisite of this is to support older separator (`:`) for docker security options. Related PR: #40179

[2017-02-02 19:42] bprashanth commented on #19899
We need a volunteer to try the available options and add:
1. A working example here: https://github.com/kubernetes/ingress/tree/master/examples#tls
2. Preferably somem form of integration/e2e testing

1 is a great start, let me know if you need more info on how to go about doing 2.

[2017-02-02 19:59] ixdy commented on #19899
cc @spxtr

[2017-02-02 20:04] timothysc commented on #40636
So this is the kube-up jiggery ... we will have our own outage window + planned event + playbook supporting.  /cc @sdodson

[2017-02-02 20:05] Random-Liu commented on #40857
@sameo I think `StopPodSandbox` is to reclaim most pod resources (cpu, memory, networking etc.). However, after that we may still want to keep the sandbox status and logs on the disk for further debugging. And only reclaim the disk `RemovePodSandbox` when there is disk pressure or it is not needed anymore.

[2017-02-02 20:09] liggitt commented on #20208
Did that change since 1.5? In 1.5, we were getting an error during patch computation

[2017-02-02 20:26] mml commented on #39879
@janetkuo this blocked the queue again today.  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/3559/

[2017-02-02 20:27] jingxu97 opened #40887 "Race condition in volume operations"
In volume management design, volume operations attach/detach are executed by reconciler running on master, while mount/unmount are executed by reconciler running on node. Because the operations are distributed across master and node, there might be race condition issue among these operations. The most dangerous situation is master is trying to detach while the volume is mounted on node. The coorid

[2017-02-02 20:27] rkouj commented on #13479
This makes an effort to improve local storage
https://github.com/kubernetes/community/pull/306

[2017-02-02 20:58] kuroneko25 commented on #33483
How much integration are we currently planning to have between ILB and Kubernetes/GKE? Will the ILB be able to route to a specific service VIP or pod? Or is it only able to forward request to a host port and we need to have an intermediate proxy layer running in the cluster ? i.e. nginx, haproxy, envoy etc.

[2017-02-02 21:01] euank commented on #25886
Well, we've hit 1.8 I think with #38926

@luxas Want to link to any other relevant issues to kinda tie this one together, and close this if it seems appropriate?

[2017-02-02 21:04] ixdy commented on #25886
yeah, ppc64le builds have been re-enabled for k8s 1.6.

[2017-02-02 21:04] #25886 closed

[2017-02-02 21:43] phutchins commented on #19899
I'd be happy to post my plans for my project on github and would love to hear any feedback from others using it...

[2017-02-02 21:48] ymqytw commented on #20208
Sorry. This behavior is in 1.4.7. e.g `ThirdPartyResourceData`. It will error in 1.5.

[2017-02-02 22:09] bprashanth commented on #19899
It would be nice to streamline, we have 3 options at this point, kube-lego, Philip's ssl-manager and  ACME/autocert golang libraries that're still under development (eg: https://github.com/google/acme, https://godoc.org/golang.org/x/crypto/acme/autocert).

Perhaps it's time for an incubator project? (in addition to an example demonstrating how to rotate certs using existing ingress controllers). I

[2017-02-02 22:10] k8s-merge-robot opened #40889 "ci-kubernetes-soak-gce-1.5-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-1.5-test/360/
Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26982 #32214 #33994 #34035 #35399 #38209

Failed: [k8s.io] Cluster level logging us

[2017-02-02 22:23] mbohlool commented on #40818
My intend here was avoiding repeated code for adding each of these tags somewhere (in openapi-gen code or some root level place). Let me distinguish these tags in two categories with respect to OpenAPI code generator:

1. Tags that need some sort of processing that affects OpenAPI spec (e.g. +optional removes the field from `required` OpenAPI field)
2. Tags that need no more processing and will be

[2017-02-02 22:24] feltraco commented on #23483
Would it apply to the following scenario?

- Two VPCs
  - **VPC1**
    - Any internet facing resources are created in **VPC1**
    - ELBs for services created in the K8s cluster should be created in **VPC1**
    - There is a route from **VPC1** to ***VPC2*** (peering)
  - ***VPC2***
    - Only accessible from a VPN and/or **VPC1**
    - Access from Internet to resources in ***VPC2*** pass through

[2017-02-02 22:40] liggitt commented on #20208
Yeah, the `data []byte` field gets replaced. Even in 1.4.7, an unknown field (like initcontainers in pods) or an object including a RawExtension (anything with a field of type `interface{}` or `runtime.Object`) would error

[2017-02-02 22:43] cmluciano commented on #19899
Another option could leverage something like [Hashicorp Vault pki](https://www.vaultproject.io/docs/secrets/pki/index.html)

[2017-02-02 22:47] garreeoke opened #40891 "Cannot use local registry on 1.5.2"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Kubernetes ve

[2017-02-02 22:48] robdaemon commented on #40819
PR is #40892 - if someone would like to review :)

[2017-02-02 22:59] smarterclayton commented on #40818
On patch strategy, I had assumed we'd read the value from what's in the
struct tag, rather than requiring a net new tag?

On Thu, Feb 2, 2017 at 5:24 PM, Mehdy Bohlool <notifications@github.com>
wrote:

[2017-02-02 23:04] smarterclayton commented on #35695
I think we need a data gravity discussion here - this is pretty deep into
@kubernetes/sig-scheduling-misc's responsibilties w.r.t. deciding how
scheduling decisions that depend on data gravity manifest.  StatefulSet
controller should not have to do magic in order for data gravity to take
effect.

On Thu, Feb 2, 2017 at 2:32 PM, Kenneth Owens <notifications@github.com>
wrote:

[2017-02-02 23:12] yujuhong commented on #40717
Sorry didn't notice that you changed the PR. I'll comment on the PR soon.

[2017-02-02 23:34] tonglil opened #40896 "hack/update-generated-swagger-docs.sh does not allow commit to pass"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): pre-commit, precommit, hack/update-generated-swagger-docs

---

**Is this a BUG REPOR

[2017-02-02 23:50] krmayankk opened #40898 "Enable Garbage Collector by default in ReplicaSet and Replication Controllers"
We should remove the boolean and enable garbage collection by default for replica sets and replication controllers.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go

I think from my previous PR when setting up controllerRef for ReplicaSet , we came across this.

If you agree @caesarxuchao @kargakis i can fix this. Please assign this issue to me.

[2017-02-03 00:50] jingxu97 commented on #40375
@chrislovecnm I am not quite following the steps. Do you still hit this issue?

[2017-02-03 00:52] jingxu97 commented on #40220
close PR because user cannot reproduce it after upgrading.

[2017-02-03 00:52] #40220 closed

[2017-02-03 00:57] nikhiljindal opened #40899 "RBAC: user with view role able to impersonate user with write role"
I was able to send a request as `user:admin` (which has clusterrole: `view`) to impersonate as `user:kubecfg` (which has clusterrole: `cluster-admin`). Based on the docs, it looks like this should not be possible.
Filling this to clarify the expected behavior.

Steps:
I first ran:
[code]
and got error: `User "admin" cannot impersonate users at the cluster scope.` which is as expected. I then found

[2017-02-03 01:00] liggitt commented on #40899
You added the ability to impersonate all users to the view role?

[2017-02-03 01:03] nikhiljindal commented on #40899
Yes I added the following, which I assume gives the ability to impersonate all users?
[code]
Is there a way to restrict it to allow impersonating only a particular user or allow impersonating users which have permissions lower than this user?

[2017-02-03 01:06] pwittrock commented on #40818
The get stuff is less urgent for me as long as we aren't doing even more hacky things to work around the current limitations, and can make a commitment to delivering it in a specific release (sounds like 1.7).

For service catalog there was a plan to fork kubectl, compile the service catalog types into the binary, and provide the fork as a separate binary.  I have some concerns with this approach.

[2017-02-03 01:16] liggitt commented on #40899
Yes, by specifying one or more `resourceNames` in the rule

Not today. Impersonation means that (after the initial permission check to see if you are allowed to impersonate the particular user), all authorization checks are done as the impersonated user. "Intersecting authorization" could also potentially be useful, but isn't possible today

[2017-02-03 01:25] liggitt commented on #40899
The view role granted to the admin by default came from kube-up loading the e2e-specific rolebindings.

Adding unrestricted impersonation power to the view role allowed the viewer to impersonate the writer

[2017-02-03 01:29] nikhiljindal commented on #40899
Thanks @liggitt for the great explanation.
I agree that the admin is shooting themselves in the foot by adding impersonation ability to a read only role.

[2017-02-03 01:29] #40899 closed

[2017-02-03 02:02] aanm commented on #31307
@freehan what's the current status of this?

[2017-02-03 02:17] kargakis commented on #40304
We cannot special-case the operation, otherwise we may drive autoscalers in hotloops. There is no reason not to rollback in this case other than when you expect the new image to be imported at some point in the future.

[2017-02-03 02:22] kargakis commented on #40898
Yes, we should!

[2017-02-03 02:30] kargakis commented on #40110
I have seen something related, probably the same issue. I was testing 1.4.7, persisted the etcd data dir, restarted the cluster on master and wasn't able to access any resources created when the cluster was running in 1.4.7. I was able to see those resources in etcd by using curl directly on etcd.

[2017-02-03 02:31] smarterclayton commented on #37554
We're seeing stuck namespaces without TPR, so it's possible it's another
race condition altogether.

On Tue, Jan 17, 2017 at 10:39 AM, sysradium <notifications@github.com>
wrote:

[2017-02-03 02:43] kewaike commented on #11355
@irfanjs,how to create the secrets and attach it to "default" service account ?

[2017-02-03 02:45] jayjun commented on #40891
@garreeoke For some reason, using `localhost` to find the local Docker registry breaks from Kubernetes 1.5 onwards.

The workaround is to use `127.0.0.1` instead. See deis/workflow#678.

[2017-02-03 02:53] #39583 closed

[2017-02-03 03:13] luomiao commented on #40072
Since the installation of kubernetes cluster on Photon Controller is part of the cluster management code in [https://github.com/vmware/photon-controller](url), in order to have the default storage class started by addons manager, the following changes are required on the Photon Controller side:
1. Create a flavor with default parameters with “--kind persistent-disk” and “--name k8s-default-persis-

[2017-02-03 03:22] smarterclayton opened #40905 "Usability: The event for a failed mount is not designed for humans to read, and may even be harmful"
This error message is incredibly common, fairly important for end users to understand, and we have made it so that even the AI people of 2312 will be unable to understand why a configmaps needed its UIDs to be spec named.

[code]

I'm fairly certain the message should be: `Unable to start pod - the referenced configmap "prometheus" does not exist`

[2017-02-03 04:03] freehan commented on #31307
please see: https://github.com/containernetworking/cni/issues/351

[2017-02-03 04:19] mtbbiker commented on #8335
I believe this is still Issue. Just tested this, when I shutdown the VM (I am running CoreOS on VMWare)

My Pods on that Node (in NotReady state) still show Running and the after 10min it is not yet re-created at a different Node (Pods are create from a ReplicationController)

[code]

[2017-02-03 05:06] justinsb commented on #35695
As @jsafrane pointed out, the zone selection is actually not random for StatefulSets:  We round robin around the available zones so that not all the StatefulSet pets land in the same zone.

https://github.com/kubernetes/kubernetes/blob/2cb17cc67745aa39f700e1d0c3d22c70074bee46/pkg/volume/util.go#L287

This is very much the scheduler's department, and we merged the PR knowing it had limitations that

[2017-02-03 05:44] #11461 closed

[2017-02-03 05:45] #20090 closed

[2017-02-03 05:50] AdoHe commented on #40422
/cc @AdoHe

[2017-02-03 05:54] madspaulin opened #40908 "Disable restart of containers in multi-container pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): multi, restart, liveness, restart

---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2017-02-03 06:25] krmayankk commented on #40898
thanks , will start working on this tomorrow.

[2017-02-03 06:28] westwin commented on #35941
is there any plan to support this ?

[2017-02-03 06:41] justinsb commented on #35695
Idea: we should have a periodic (daily?) e2e run that does the (1) full test suite including volumes in (2) HA with (3) multizone.  (`kops create cluster --zones us-east-1b,us-east-1c,us-east-1d --master-count=3 --node-count=3`)  I am assuming we have an e2e test for multivolume StatefulSet - if not I can write one / some.  It would also help a _lot_ with the volume work (cc @jingxu97 @matchstick

[2017-02-03 07:00] justinsb commented on #37962
Oh wow - overlooked this issue and PR - sorry!  And cc @therc who wrote the original code and knows it better than I do.

I have a few thoughts:

1) Normally the aws-sdk-go does a reasonable job of retries.  So the error message is surprising.  We do have a custom retry policy in the "main" cloudprovider, which we should use.  But it actually is primarily for logging, and actually to insert a proc

[2017-02-03 07:01] guoshimin opened #40913 "azure provider doesn't seem to handle scale sets"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): azure scale sets

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug

[2017-02-03 07:18] nikhiljindal commented on #35827
Not sure if this issue still exists. I see that we dont have a test for updating services, we should add that: https://github.com/kubernetes/kubernetes/blob/12a80380bcd9f7e18e6e7561fae3b9eed4784f49/test/e2e_federation/federated-service.go#L115

cc @shashidharatd

[2017-02-03 07:22] andrewrynhard commented on #39136
@k82cn I am still getting this with the latest build
[code]

[2017-02-03 07:32] andyxning commented on #13305
@philk @sspeiche [kubernetes/node-problem-detector#33](https://github.com/kubernetes/node-problem-detector/pull/33) has been merged. :)

[2017-02-03 07:39] mtbbiker commented on #27882
I believe this is still Issue. Just tested this, when I shutdown the VM (I am running CoreOS on VMWare)

My Pods on that Node (in NotReady state) still show Running and the after 10min it is not yet re-created at a different Node (Pods are create from a ReplicationController)

[code]
Could this be caused by Network Partitioning, If so, how can I test? I don't VMWare too well

[2017-02-03 07:45] shashidharatd commented on #35827
I would add a test case for updating service

[2017-02-03 07:54] EricMountain-1A commented on #10439
The webhook client will need a certificate and key to identify itself to the webhook server so it can legitimately request a "decrypting key".  If the intent is for the pods to decrypt their secrets themselves, and avoid handling by kubelet/APIServer/... then the webhook client's (cert, key) pair needs to be delivered to the pod.  Does that not bring us back to @liggitt 's point about partitioned

[2017-02-03 08:00] wmaintw commented on #24903
I met the same issue when I try to set new (local) image (e.g. `hello-node:v2`) to a container, k8s always try to pull image but append a prefix to the image name, like this: `library/hello-node:v2`

After a few spike, I found a workaround: build docker image and add a prefix to the image, just like this:

`docker build -t library/hello-node:v2`

Hope this could help.

[2017-02-03 08:00] xingzhou commented on #29403
Sure, @janetkuo, do we need to file a new ticket? would you like to help shepherd this?

[2017-02-03 09:00] argent-smith commented on #24721
Hi. Is there any progress in this field? Urgently need nfsv3 support with options )

[2017-02-03 09:05] tanshanshan commented on #39559
I have a question about  executing `make test`.

When I use `make test KUBE_COVER=y` , everything is ok ,
but when I use  `make test WHAT=pkg/api/util/ KUBE_COVER=y `  ,  the error is

        /usr/local/go/src/pkg/api/util (from $GOROOT)
        /root/empty-check/src/k8s.io/kubernetes/_output/local/go/src/pkg/api/util (from $GOPATH)

My current GOPATH is

I can not find
`/root/empty-check/src/k8s

[2017-02-03 09:42] jimmidyson commented on #22405
@mbohlool Hey! Any news on this? @iocanel and I were just discussing the possibility of contributing the fabric8 kubernetes-client to Kubernetes org if it's something the community are interested in? Honestly it has a reasonable amount of traction in the community and unfortunately we don't have the cycles to maintain it by ourselves right now.

[2017-02-03 10:05] k82cn commented on #39559
@tanshanshan

[code]

or

[code]

[2017-02-03 10:27] koendc commented on #31891
@guoshimin I tried the command you provided on a node where it is no longer possible to attach volumes.
This is the output I get:

`xenstore-ls error`
`xenstore-ls: xs_open: No such file or directory`

Is this expected or is there anything else that needs to happen before the xenstore commands can be used?

[2017-02-03 10:37] Lallassu opened #40916 "minor spelling misstake"
2  pkg/controller/volume/persistentvolume/pv_controller.go
 @@ -1430,7 +1430,7 @@ func (ctrl *PersistentVolumeController) scheduleOperation(operationName string,
 		if goroutinemap.IsAlreadyExists(err) {
 			glog.V(4).Infof("operation %q is already running, skipping", operationName)
 		} else {
-			glog.Errorf("error scheduling operaion %q: %v", operationName, err)
+			glog.Errorf("error schedulin

[2017-02-03 10:39] soltysh commented on #38100
The job part was dealt with in https://github.com/kubernetes/kubernetes/pull/40845. The rest I'm leaving up for @kubernetes/sig-testing-bugs

[2017-02-03 11:10] caarlos0 commented on #40304
OK, makes sense. Thanks @kargakis =D

[2017-02-03 11:22] jsafrane commented on #40072
It would be nice to have the storage class shipped in cluster/addons/storage-class, so an alternative installation method (e.g. manual deployment) can still find it and use it.

[2017-02-03 11:54] soltysh commented on #40860
Jobs, should not exists in `batch/v2alpha1`, see https://github.com/kubernetes/kubernetes/issues/37166. So I'm crossing out the job from the initial list.

[2017-02-03 11:56] soltysh commented on #38391
Test was removed in #40845.

[2017-02-03 11:56] #38391 closed

[2017-02-03 11:56] soltysh commented on #38364
Test was removed in #40845.

[2017-02-03 11:56] #38364 closed

[2017-02-03 11:56] soltysh commented on #37427
Test was removed in #40845.

[2017-02-03 11:56] #37427 closed

[2017-02-03 11:57] soltysh commented on #34383
Test was removed in #40845.

[2017-02-03 11:57] #34383 closed

[2017-02-03 11:57] soltysh commented on #33171
Test was removed in #40845.

[2017-02-03 11:57] #33171 closed

[2017-02-03 12:27] k82cn commented on #40916
@Lallassu , are you going to open a pull request for this typo? If not, I can help to create a pull request for that :).

[2017-02-03 12:45] soltysh commented on #40415
I think I have something, here's what I did:

1. setup 1.4 gce cluster (I used release-1.4 branch) using `make quick-release` and `cluster/kube-up.sh` <- I compiled my own
2. create following deployment:
[code]
3. Note down the hash:
[code]
4. upgrade cluster to 1.5.2 (`cluster/gce/upgrade.sh -M v1.5.2` and `cluster/gce/upgrade.sh -N v1.5.2`) <- I used a released one
5. check the hash again:
[code

[2017-02-03 12:49] Lallassu commented on #40916
please do, I'm not a valid contributor yet, according to the docs.

[2017-02-03 12:55] dshulyak commented on #36400
I will add this tests node e2e suite

[2017-02-03 12:58] k82cn commented on #39136
@andrewrynhard , thanks for your feedback, I'll check it.

[2017-02-03 13:37] myaskevich commented on #40865
The issue was because of Docker 1.13 iptables bug https://github.com/kubernetes/kubernetes/issues/40182.

[2017-02-03 13:37] #40865 closed

[2017-02-03 13:41] rootfs commented on #24721
@argent-smith for a temporary workaround, use [nfsmount.conf](https://linux.die.net/man/5/nfsmount.conf) on your nodes and set your options there

[2017-02-03 13:46] phutchins commented on #19899
The way that my ssl-manager is built, it is the automation around other tools like certbot and what kube-lego and autocert look to be. Currently it runs the letsencrypt binary and I have plans to migrate that to using the certbotauto bin but it could really wrap any of these.

The missing pieces for me was something to sit in my cluster, find services (pods, deployments...) that needed certificate

[2017-02-03 14:27] whitecolor commented on #35941
So if resize disk manually in compute console and then change PV definition? Will it take effect?

[2017-02-03 14:37] pawelprazak commented on #11237
How about the REST API, how to update a service using it?

[2017-02-03 14:48] #40617 closed

[2017-02-03 15:10] theothermike commented on #40415
I believe my original comment above describing my issue is caused by the same root cause.  It is easily reproducible using the method I described (which did NOT happen < 1.5.x)

[2017-02-03 15:28] soltysh commented on #34710
@peay lemme know if you need help with it, I'd love to have that done for 1.6.

[2017-02-03 15:29] Oloremo opened #40920 "Kube-api could assign nodeport to already used one"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:

Bare metal nodes
- **OS** (e.g. from /etc/os-release):

Ubuntu 16.04 x64
- **Kernel** (e.g. `uname -a`):

`Linux node1 4.4.0-38-generic #57-Ubuntu SMP`

**What happened**:
k8s tried to create a node port and hit a situation when this node port was already used.
So it reported t

[2017-02-03 15:29] soltysh commented on #22517
`extensions/v1beta1.Jobs` were removed in https://github.com/kubernetes/kubernetes/pull/38614.

[2017-02-03 15:29] #22517 closed

[2017-02-03 15:32] theothermike opened #40921 "kubefed join does not pass regex check when using GCE clusters generated by tooling"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2017-02-03 15:37] #40916 closed

[2017-02-03 16:16] soltysh commented on #20208
My personal favor would be to instruct the patch to ignore such field, seems the cleanest approach to me. Similarly to how we allow annotating deletion and merging.

[2017-02-03 16:19] liggitt commented on #20208
wouldn't it be confusing to submit a patch with stuff in that field, have the patch accepted, and have none of your submitted changes take effect? seems like the least surprising thing would be to treat unknown/unmergeable fields as `replace`

[2017-02-03 16:24] soltysh commented on #20208
How about both, iow. having `replace` as a default and `ignore` as an opt-in. This would allow the resource author to decide how his resource should be treated. Eventually on `ignore` we could return the ignored fields.
Having said that we could start with `replace` right away. I think I could work on a patch implementing that if majority agrees (@jackgr, @ymqytw).

[2017-02-03 16:24] theothermike commented on #40921
Using the longer form of kubefed providing --cluster-context and --host-cluster-context allowed it to work with the default names

[2017-02-03 16:24] #40921 closed

[2017-02-03 16:51] s0urpuss commented on #38775
What I ended up doing is writing an haproxy script to set incoming `Authorization` -> `Local-Authorization`. Then, I set up a service that I have my developers talk to that sets `Local-Authorization` -> `Authorization`

Ended up working pretty well, and is trivial to do in haproxy.

[2017-02-03 17:08] ichekrygin commented on #39812
@dadux yes, it is related to #33192.

[2017-02-03 17:09] ichekrygin commented on #39812
@piosz I think this issue impacts HPA, since with missing metrics HPA reports somewhat incorrect CPU usage. @jakexks, did you notice anything of this kind?

[2017-02-03 17:17] liggitt commented on #20208
I think `replace` is a good place to start for known struct fields like RawExtension. I'll open a separate issue for client-side handling of unknown fields

[2017-02-03 17:29] BioMechanico commented on #37922
FWIW: I was having this issue yesterday on my cloud server when I was going through their online console portal. Today I tried ssh'ing into the server instead and it seems to work fine.

[2017-02-03 17:50] bprashanth commented on #19899
Currently we test cert upgrades in the ingress conformance suite: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress_utils.go#L133, we just update the hostname in the test and make sure it reaches the lb (https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress_utils.go#L149).

It sounds like your cert manager doesn't actually have an Ingress dependency, which bring

[2017-02-03 18:06] bprashanth commented on #19899
I believe kube-lego does this by inserting a rule, eg an ingress like
[code]

becomes
[code]

Though there are multiple ways to do this
1. as described in the first comment you can also add a rule as the default backend
2. you can create a second ingress that acquires `/.well-known` (this is currently dependent on the controller, the nginx ingress controller will "join" ingresses such that if it f

[2017-02-03 18:13] pwittrock commented on #20208
@liggitt Ignore the field sounds like a really good solution.  WDYT of printing a warning to stdeer?

[2017-02-03 18:18] mikedanese commented on #40110
Ok, ya this was caused by #38212. I tried to revert and got some nasty conflicts. I'm hoping that https://github.com/kubernetes/kubernetes/pull/40893 will be ready by the EOD and will fix this issue.

[2017-02-03 18:22] piosz commented on #39812
FYI @fgrzadkowski @jszczepkowski @DirectXMan12

[2017-02-03 18:24] liggitt commented on #20208
what does ignoring instead of replacing get us?

[2017-02-03 18:38] ymqytw commented on #40841
@ahakanbaba You should be good to go. #40666 merged.

[2017-02-03 18:50] emaildanwilson commented on #29887
I believe I found a generic version of the NodeSelector in the apimachinery project. I'm going to use this along with the matching functions there unless this is of concern. https://github.com/kubernetes/apimachinery/blob/master/pkg/labels/selector.go#L33

[2017-02-03 18:59] MilanDasek commented on #37922
same issue here

[2017-02-03 18:59] spxtr commented on #40839
@nikhiljindal @kargakis @janetkuo, which deployment e2e tests don't have sufficient unit test coverage?

[2017-02-03 19:00] philk commented on #39812
It absolutely affects HPA (stops HPAs with pods on broken nodes from scaling either direction). That's how we initially discovered this issue on our systems.

[2017-02-03 19:10] Random-Liu commented on #36400
@dshulyak Thanks a lot! Please note that we don't want to use kubectl in node e2e. You may want to add some simple library as `exec_util` for port forward. https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/exec_util.go

[2017-02-03 19:19] mikedanese commented on #37922
@dgoodwin any idea what this could be?

[2017-02-03 19:25] fejta commented on #36379
This test has failed multiple times this morning, blocking the SQ

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/3597/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/3600/

[2017-02-03 19:31] mikedanese commented on #37922
Are all these reports from china? Does this repodata work?
[code]

[2017-02-03 19:40] pwittrock commented on #20208
Sorry I was reading the comment on my phone between other things.  Ignore my comment.

[2017-02-03 19:40] adityakali opened #40936 "fluentd-gcp container does not send journal logs to cloud-logging (on master branch)"
Some of the recent changes in HEAD broke the systemd plugin in fluentd-gcp container and as a result, logs from system journal are not uploaded to GCL anymore on GCI/COS.
(specifically, since PR https://github.com/kubernetes/kubernetes/pull/37681 and PR https://github.com/kubernetes/kubernetes/pull/40017)

**What happened**:
Because of removal of libsystemd setup inside the fluentd-gcp container,

[2017-02-03 19:44] colemickens commented on #40331
I've now seen this happen repeatedly, and have had colleagues report it as well.

[2017-02-03 19:54] mml commented on #39785
This is still happening @kargakis .  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/4012

[2017-02-03 19:56] nikhiljindal opened #40939 "client-go/fake should return the object it received in create and update instead of returning an empty object"
Examples: https://github.com/kubernetes/kubernetes/blob/ab794c612853e6c6dfda63594cb5d74914e7e151/staging/src/k8s.io/client-go/kubernetes/typed/extensions/v1beta1/fake/fake_deployment.go#L49 and https://github.com/kubernetes/kubernetes/blob/ab794c612853e6c6dfda63594cb5d74914e7e151/federation/client/clientset_generated/federation_clientset/typed/extensions/v1beta1/fake/fake_deployment.go#L39.

Here

[2017-02-03 19:57] lilnate22 commented on #40331
@colemickens hopefully you saw my "fix"

[2017-02-03 20:00] colemickens commented on #40452
I don't understand the suggested fix. It seems easier to just `systemctl restart kubelet`. The things running will keep on trucking and that's enough to get kubelet to fire up and process the yamls.

[2017-02-03 20:01] lilnate22 commented on #40452
@colemickens  what i found was editing via nano instead of vim seemed to have solved the initial problem, thus my need to even restart kubelet

[2017-02-03 20:06] colemickens commented on #40452
Avoiding triggering the bug is a good way to avoid it 😄. Anyway, I just meant for your Cluster C, you could've just restarted the `kubelet`. Either way, it's really weird (and clearly a bug) that a swap file is causing kubelet to stop even considering reconciling non-swap file yamls...

[2017-02-03 20:15] colemickens commented on #40276
@rootfs

[2017-02-03 20:16] mml commented on #38041
This failed twice today.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/4007
and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/4011

[2017-02-03 20:20] rootfs commented on #40276
@otaviosoares you have to use the storage account in the same resource group. Otherwise, the resource group is not authorized to retrieve the storage account's key

[2017-02-03 20:26] colemickens commented on #40276
@rootfs So you're saying the permission to attach a disk to a given VM is implicit by nature of them being in the same RG? I'm not sure that's accurate. I've had non-k8s VMs previously that use an attached disk from a different RG.

[2017-02-03 20:27] cdragga opened #40941 "iSCSI volume plugin does not rescan LUNs"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3

[2017-02-03 20:28] colemickens commented on #40708
I don't know, is that different from the lease error from trying to attach a disk that is already attached elsewhere?

This, for example, sounds likely to cause problems:

My guess is one of the VMs got into a bad state clinging to the lease or something.

We'd have to get the full VM GET response for all of the VMs, as well as the instanceViews of all of the VMs to try to guess at what has occurr

[2017-02-03 20:31] MilanDasek commented on #37922
yes, me China

https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/repomd.xml: [Errno 14] curl#7 - "Failed to connect to 2404:6800:4008:802::200e: Network is unreachable"

[2017-02-03 20:35] janetkuo commented on #36379
In both failed cases, during test prep, we created an RS with replica=1, and the test timed out (5m) waiting for the pod to be running (the pod is pending). It's unrelated to deployment itself. It's also unrelated to image slow pull, since the image was pre-pulled.

Maybe it's related to kubelet? @yujuhong do you know other possible cause?

[2017-02-03 20:48] rootfs commented on #40276
@colemickens I am not sure about attach, but listing storage account and keys appears to be limited to the same RG.

[2017-02-03 20:51] colemickens commented on #40276
Sure, but you shouldn't need to do those things if the user is walking up with a disk URI for a disk that just happens to live in a different storage account. You don't need storage account keys for attach.

[2017-02-03 20:52] colemickens commented on #40276
Is there a specific "is in this resource group" check that you implemented? I would've assumed you just take the URI and try to attach it...

[2017-02-03 20:56] rootfs commented on #40276
@colemickens  you are right, attach or walking up the disk URI doesn't check RG or storage account.

The particular issue here happened during provisioning using a provided storage account that lived out of the RG. In such case, when the provsioner tried to find the account key, it failed.

[2017-02-03 20:57] colemickens commented on #40276
Ah, yeah, I think it seems reasonable to say that dynamic provisioning only works when the targetted storage account is in the same resource group.

[2017-02-03 20:59] rootfs commented on #40276
@colemickens +1

So the doc [here](https://github.com/kubernetes/kubernetes/tree/master/examples/persistent-volume-provisioning#azure-disk) needs some words about this case to stress storage account, if provided, must be in the same RG.

[2017-02-03 21:04] piosz commented on #40936
We should also extend our e2e tests to cover this regression.

cc @fgrzadkowski

[2017-02-03 21:06] colemickens commented on #40276
PR https://github.com/kubernetes/kubernetes/pull/40945

[2017-02-03 21:08] nikhiljindal commented on #40705
For reference, we do have a federation-apiserver integration test: https://github.com/kubernetes/kubernetes/tree/master/test/integration/federation.
We use it to test which API group versions are enabled.

[2017-02-03 21:15] spxtr commented on #39785
This test is failing in about 20% of runs in merge-blocking suites.

[2017-02-03 21:29] nikhiljindal commented on #29887
That struct is not intended to be part of an external API. Anyone changing it will not realize that they are changing an external API. We also need to add to add API documentation tags there (you will notice the `json` and `protobuf` tags on structs in types.go: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L272).

If your aim is to reuse the util functions, you can dupl

[2017-02-03 21:31] kim0 commented on #40708
@colemickens .. Thanks for your analysis. I'm trying to get you the info you asked for. Please find attached the output of `az vm list -o json` .. I don't really know the vm-get or instanceview is .. If you can let me know how to get this data, I will.
[az_vm_list_json.txt](https://github.com/kubernetes/kubernetes/files/751594/az_vm_list_json.txt)

[2017-02-03 21:36] mml commented on #40636
OK, looking at the existing upgrade tests in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cluster_upgrade.go I think we have two choices.

1. We can treat this like a master upgrade and just create two, e.g., 1.5 tarballs that have the same code but inside one of them we toggle the env. var. that triggers an upgrade to etcd v3.
2. We can create a new kind of upgrade similar to `Ma

[2017-02-03 21:39] cove commented on #14017
AFter a go get, it almost worked for me, but maybe something changed?

`go run make_secret.go -crt /tmp/nginx.crt -key /tmp/nginx.key > /tmp/secret.json
# command-line-arguments
./make_secret.go:63: cannot use "k8s.io/apimachinery/pkg/apis/meta/v1".ObjectMeta literal (type "k8s.io/apimachinery/pkg/apis/meta/v1".ObjectMeta) as type "k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/apis/meta/v1".Obj

[2017-02-03 21:44] ichekrygin commented on #39812
@philk just curious, how r u guys coping w/ it. I am at the point of setting up a `cronjob` that restarts `kube-kubelet.servcie` every 12 hrs

[2017-02-03 21:45] foxish opened #40949 "Move e2e tests involving redis, cassandra, spark, storm, etc to Charts"
- Redis should create and stop redis servers
- Storm should create and stop Zookeeper, Nimbus and Storm worker servers
- Spark should start spark master, driver and workers
- Cassandra should create and scale cassandra
- CassandraStatefulSet should create statefulset
- RethinkDB should create and stop rethinkdb servers

k8s contributors will not necessarily have the expertise to fix/maintain these

[2017-02-03 21:48] eljefedelrodeodeljefe commented on #15180
This would be helpful for (MongoDB) StatefulSets as well. Currently connecting to one of it's pod has odd behaviours.

[2017-02-03 21:49] colemickens commented on #40708
@kim0 I think there is an option to `az vm show` that says "instance view", not sure if it's on `vm list` as well. The `az vm list -o json` should have included the VM GET response, so that's good.

[2017-02-03 22:12] kim0 commented on #40708
Thanks @colemickens .. vm show results attached
[k8s-agent-268DB7A4-2-az_vm_show.txt](https://github.com/kubernetes/kubernetes/files/751663/k8s-agent-268DB7A4-2-az_vm_show.txt)
[k8s-agent-268DB7A4-1-az_vm_show.txt](https://github.com/kubernetes/kubernetes/files/751662/k8s-agent-268DB7A4-1-az_vm_show.txt)
[k8s-agent-268DB7A4-0-az_vm_show.txt](https://github.com/kubernetes/kubernetes/files/751665/k8

[2017-02-03 22:22] colemickens commented on #40708
I need the instance view. `az vm get-instance-view ...`. Thanks,

[2017-02-03 22:30] kim0 commented on #40708
@colemickens .. HYG
[k8s-agent-268DB7A4-2-az_vm_getinstanceview.txt](https://github.com/kubernetes/kubernetes/files/751694/k8s-agent-268DB7A4-2-az_vm_getinstanceview.txt)
[k8s-agent-268DB7A4-1-az_vm_getinstanceview.txt](https://github.com/kubernetes/kubernetes/files/751695/k8s-agent-268DB7A4-1-az_vm_getinstanceview.txt)
[k8s-agent-268DB7A4-0-az_vm_getinstanceview.txt](https://github.com/kubernetes

[2017-02-03 22:38] ahakanbaba commented on #40841
Thanks

[2017-02-03 22:39] colemickens commented on #40708
And what node is k-c-m trying to attach the disk too? Have you looked through the logs for k-c-m and kubelet?

[2017-02-03 22:40] cemo commented on #39696
Our operations have same concerns as @thockin stated. We are using `hyperkube` and scanners are complaining about CVEs. My last scan result in more than 30 critical issue. So what is the best practice to update these containers? I am afraid of screwing up the things and having more issues. I would be glad that anyone shed light on this topic as well.

[2017-02-03 22:41] ahakanbaba commented on #40841
@GnawNom This is the issue we can collaborate on.
I will mention this issue in my PR's so you can also keep track.

[2017-02-03 22:45] klinakuf commented on #37922
No, for me is Germany

On Feb 3, 2017 9:31 PM, "MilanDasek" <notifications@github.com> wrote:

[2017-02-03 22:54] timstclair commented on #40248
/cc @jessfraz

[2017-02-03 23:00] kim0 commented on #40708
Not really sure what other node is fighting .. those logs are a few comments up though if you'd like to check them out .. Thanks!
https://github.com/kubernetes/kubernetes/issues/40708#issuecomment-276227394

[2017-02-03 23:02] jessfraz commented on #40248
+1 alpine

I personally use this line of decision when building my images:
1. scratch
2. alpine
3. debian
4. fetal position (kidding, I rarely get here)

Alpine has a great story as far as the minimalizing of attack surface with musl-c and very few binaries included. Plus they actively maintain and push updates. I've never had a problem with something not being available when I needed it. plus the

[2017-02-03 23:02] tonglil commented on #40459
Same problem.
If I remove the `~/.kube/config` file, it shows no nodes.
Does this script only work on Linux?

[2017-02-03 23:02] colemickens commented on #40708
Okay, thanks, I'll try to take a look but it won't be for a while.

[2017-02-03 23:13] timstclair commented on #40248
I think the only 2 we need to convert right now are kube-proxy (which looks like it should be straightforward but will require lots of regression testing), and fluentd-gcp which should be easy since the official fluentd image is based off alpine (we also don't provide any crossbuilds for it). I believe everything else can be converted to scratch.

[2017-02-03 23:15] jessfraz commented on #40248
I can take a pass at kube-proxy then

On Fri, Feb 3, 2017 at 3:13 PM Tim St. Clair <notifications@github.com>
wrote:

[2017-02-03 23:17] smarterclayton commented on #40939
We generally expect you to add reactions if you are testing return behavior.  The real client does not return the same object you passed in.

[2017-02-03 23:17] bprashanth commented on #14017
This is a better example of how to create certs: https://github.com/kubernetes/ingress/blob/master/examples/PREREQUISITES.md#tls-certificates

Will update the https-nginx example soon.

[2017-02-03 23:33] cheftako commented on #35953
This failed on me today and past on rerun https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39901/pull-kubernetes-e2e-kops-aws/10745/

[2017-02-03 23:40] chrislovecnm commented on #39526
We need to hold this open for re-architecture.  This issue will cause us to have a theoretical limit on node sizes and number of PV.

@jingxu97 Can we determine a design pattern for this?

[2017-02-03 23:40] cove commented on #14017
@bprashanth thanks, that worked for me.

[2017-02-03 23:42] cheftako opened #40953 "Basic StatefulSet functionality Scaling down before scale up is finished should wait until current pod will be running and ready before it will be removed"
[https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39901/pull-kubernetes-e2e-kops-aws/10745/](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39901/pull-kubernetes-e2e-kops-aws/10745/)

[code]

[2017-02-03 23:50] yujuhong commented on #36379
[code]
1. Looks like the pod was stuck at waiting for volume to attach/mount.  /cc @saad-ali @jingxu97
2. kubelet got the deletion request in one minute, not 5 minutes.

[2017-02-04 00:02] yujuhong commented on #36264
An example of a PR that broke CRI because we don't run the cluster e2e test yet: #33684
We still need the host port support so that people don't have to manually disable their test in the config if it uses host ports

[2017-02-04 00:12] pbx0 opened #40955 "Hyperkube image contains vulnerable rootfs components"
Currently the hyperkube image ships with binary components and libraries with outstanding CVE's. See quay.io's scan of a hyperkube image based on the upstream build scripts: https://quay.io/repository/coreos/hyperkube/image/a1884bc04b88ddb1f27b3e3e862c330e8056179b55eae89c69bae9c30d84b876?tab=vulnerabilities

Clearly, a vulnerability in a rootfs component does not quite equate to a vulnerability in

[2017-02-04 00:21] ixdy commented on #40955
cc @timstclair

[2017-02-04 00:22] ixdy commented on #40955
Which kubernetes release does this hyperkube image correspond to?

[2017-02-04 00:22] #40276 closed

[2017-02-04 00:28] ixdy commented on #40955
Looks like hyperkube is based on debian:jessie. #40248 is a related issue.

[2017-02-04 00:30] tanshanshan commented on #39559
@k82cn , it's ok, thank you.

[2017-02-04 00:31] janetkuo commented on #39879
Related #36379

[2017-02-04 00:33] pbx0 commented on #40955
That corresponds to a recently built 1.5.2 release (it was re-built once because of a jq vulnerability -- see [this](https://groups.google.com/forum/#!topic/coreos-user/2ATky2L2AHM) post). Sorry, I didn't find #40248 in my searches, should I close this in favor of that?

[2017-02-04 00:37] foxish commented on #39722
cc @kubernetes/sig-cli-misc

[2017-02-04 00:50] timstclair opened #40958 "RunAsNonRoot should permit images with a non-root USER directive"
E.g. an image built from a Dockerfile specifying
[code]

should be permitted to run with a security context `RunAsNonRoot: true`

/cc @kubernetes/sig-node-bugs

[2017-02-04 01:08] mml commented on #40636
So, in talking to @krousey, it seems I should make my own copy of the upgrade tests and label these with a different tag.

The real issue is figuring out how to do the change programatically to a running cluster.  In `cluster/gce/gci/configure-helper.sh`, I see code that looks like it reads `kube-env` and uses that to modify the etcd manifest.  https://github.com/kubernetes/kubernetes/blob/master/

[2017-02-04 01:19] krmayankk commented on #22179
@pmorie one more ping :-)

[2017-02-04 01:43] k8s-merge-robot opened #40960 "ci-kubernetes-e2e-gci-gke-slow-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow-release-1.5/2539/
Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for endpoint-Service: http {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34104

Failed: [k8s.io] Services should be able to change the type and ports of

[2017-02-04 01:55] pwittrock opened #40961 "`kubectl run` supports more options for deployment than `kubectl create deployment`"
`kubectl create deployment` and `kubectl run` are both supposed to support the same options for creating a deployment.  `kubectl run` is meant to be a little more discoverable for docker users, but provide the exact same functionality.

We need to bring the 2 in parity.

**Note:**
- Common flags should be factored into a common structure consumed by both
- Business logic should be factored into a

[2017-02-04 02:22] k8s-merge-robot opened #40962 "ci-kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-release-1.4/571/
Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27470 #30156 #34304 #37620

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number

[2017-02-04 02:31] kow3ns commented on #40949
Also, we could move the manifests that do not use charts to the contrib repo. They might serve as examples for how get started using K8s to deploy a specif type of system. e.g If someone was looking at how to contribute a Riak StatefulSet they might have a look at the Cassandra manifest to get started.

[2017-02-04 02:41] laverite commented on #21613
Hi @thockin - I tested connectivity between various pods both inter and intra host and that all seems fine when using direct PodIPs.  I think what I am seeing is actually a more general problem with routing via ServiceIPs- when a request to a ServiceIP which fronts a pod that is on the same host as the originating request, things fail.  If I make the same request to the underlying PodIP directly (

[2017-02-04 03:03] dashpole commented on #40474
@freehan does #39903 solve this?  Should this be closed?

[2017-02-04 03:18] iamzhout commented on #40285
Could someone help to give some hint on this problem?  thanks!

[2017-02-04 05:24] chenchun commented on #39710
Thanks, setting `--storage-backend=etcd2` works.

[2017-02-04 06:17] #40051 closed

[2017-02-04 06:58] andyxning commented on #37616
@feiskyer

* I will first learn existing logic for reporting pod/container Created/Started events. What i desired is we should make it general enough to adjust for docker and rkt container engine for now. Which is similar with [PLEG](https://github.com/kubernetes/kubernetes/pull/13571) which is implemented in #13571

[2017-02-04 08:32] kargakis commented on #40415
Maciej, what version of Goi did you use for compiling? If you use the same
as the one that 1.5.2 was compiled with (1.7.3 I think) do you see the same
behavior?

On Fri, Feb 3, 2017 at 4:11 PM, Michael Wojcikiewicz <
notifications@github.com> wrote:

[2017-02-04 09:35] feiskyer opened #40965 "CRI GCE e2e Port forwarding over websockets failed"
All port forwarding over websockets tests failed in CRI GCE e2e tests, e.g. [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-cri-gce/2415)

- [k8s.io] Port forwarding [k8s.io] With a server listening on 0.0.0.0 should support forwarding over websockets
- [k8s.io] Port forwarding [k8s.io] With a server listening on localhost should support forwarding over we

[2017-02-04 09:38] listomin commented on #38372
@ivan4th has investigated the issue and opened this discussion in golang project https://github.com/golang/go/issues/18925

[2017-02-04 10:17] k8s-merge-robot opened #40966 "ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster-new/231/
Multiple broken tests:

Failed: [k8s.io] Port forwarding [k8s.io] With a server that expects no client request should support a client that connects, sends no data, and disconnects [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically:

[2017-02-04 11:49] #40837 closed

[2017-02-04 14:26] phutchins commented on #19899
So before we go diving into what is there to solve the problem, maybe we can spec out how we would like the user experience to look, then the resulting actions in the backend service that interacts with letsencrypt and kubernetes to make it all happen (including cleaning up after itself if necessary).

I think it should look something like this...

Prerequisites:
- *An ingress defined that directs

[2017-02-04 14:39] phutchins commented on #19899
@bprashanth re kube-kego, looks like it does. That's fairly similar to what my ssl-manager does. I may give it a try and compare.

[2017-02-04 14:51] kargakis commented on #40415
@theothermike @victorgp @ApsOps did any of you guys run another Kubernetes update before and if yes from which to which version?

[2017-02-04 14:56] kargakis commented on #40496
Repurposed the title - I won't be able to get to this anytime soon, @kubernetes/sig-cli-bugs anybody interested in taking a stab at this? Should be fairly easy to fix.

[2017-02-04 15:43] kargakis commented on #40415
So it seems that new fields in the pod template are a problem. Between 1.4.7 and 1.5.2, for example, the Photon volume type was added so Deployments that specify at least one Volume source type are affected (the new nil pointer still changes the hash!). I enhanced http://pastebin.com/9HBS9tK5 to specify a ConfigMap volume source. Runs between 1.4.7 and 1.5.2 produce different hashes.

I think we s

[2017-02-04 15:46] kargakis commented on #40415
This would probably break all existing Deployments though :/

[2017-02-04 16:11] wojtek-t commented on #40636
Yes - it should do the job. We are using exactly the same tricks in other jobs on Jenkins (i.e. to change between etcd2 and etcd3 we are only setting some evn variable).

Though, to clarify, you need to set 3 env vars:
- TARGET_STORAGE
- TARGET_VERSION
- STORAGE_BACKEND
(the last one is passed to apiserver, and based on it apiserver is using which library to talk with etcd).

[2017-02-04 16:17] fraenkel commented on #40965
Fix in https://github.com/kubernetes/kubernetes/pull/40951

[2017-02-04 16:38] philk commented on #39812
@ichekrygin just a simple script that runs every 5 minutes, `curl -s localhost:10255/stats/summary | jq -Mr '.pods | any'` then `systemctl restart kubelet`

[2017-02-04 17:26] GrantGochnauer commented on #33483
+1

[2017-02-04 18:17] ApsOps commented on #40415
@kargakis I've updgraded this cluster from 1.2.0 -> 1.2.2 -> 1.2.3 -> 1.2.4 -> 1.3.0 -> 1.4.0 -> 1.4.3 -> 1.4.6 -> 1.4.7 -> 1.5.2.

[2017-02-04 20:39] alledm commented on #38774
Why is this closed if it is still a problem?

[2017-02-04 20:49] fejta commented on #39785
http://submit-queue.k8s.io/#/e2e

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/4057#k8sio-deployment-lack-of-progress-should-be-reported-in-the-deployment-status
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/5180

[2017-02-04 21:20] dannote commented on #36798
Same thing happens to me

[2017-02-04 21:34] justinsb opened #40968 "kubectl UX: make it easy to switch namespaces"
The UX for using kubectl with multiple namespaces is harder than it need be, and I don't understand why.

Per https://kubernetes.io/docs/user-guide/namespaces/

`kubectl config set-context $(kubectl config current-context) --namespace=myns`

Can we have `kubectl namespace myname` or similar?

Other ideas:

* `kubectl use ns myns` (and `kubectl use cluster myothercluster`)
* `kubectl use myotherclu

[2017-02-04 21:36] l3x commented on #26375
What worked for me was first discovering that deployments existed.

`kubectl get deployments --all-namespaces`

...and then deleting them `kubectl delete deployment <NAME>`

[2017-02-04 21:47] smarterclayton commented on #40968
I do like "use" or "switch".  The openshift "project" call is overloaded
for both view and set, which can cause confusion (although is convenient
for experienced users).

I agree that we should have a simple command that changes the namespace for
the current context - it's ok for it to be namespace based.

We should think a bit about whether the verb we pick would

a. have any other things to alte

[2017-02-04 21:55] argent-smith commented on #40789
Have the same thing on CoreOS host. any ideas?

[2017-02-04 22:09] argent-smith commented on #40789
Btw an hour ago I've successfully run this setup on kube over the ubuntu hosts. This time btw it's rancher/kube installation.

[2017-02-04 22:54] ernestgwilsonii opened #40969 "BUG REPORT: Clean new install on CentOS7x kubelet fails to start with error: kubelet: error: failed to run Kubelet: invalid kubeconfig: stat /etc/kubernetes/kubelet.conf: no such file or directory"
BUG REPORT

Clean / new install(s) on CentOS7x **kubelet fails to start** with error:
**kubelet: error: failed to run Kubelet: invalid kubeconfig: stat /etc/kubernetes/kubelet.conf: no such file or directory**

**Kubernetes version** (use `kubectl version`):
kubelet --version
**Kubernetes v1.4.1**

kubectl version
**Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.1", GitCommit:

[2017-02-04 23:22] soltysh commented on #40415
@kargakis I guess there are two questions we need to answer:

1. Is the new algorithm addressing this problem, iow. is it stable between
version upgrades? I guess you'll have to backport the new algorithm back
and check that.

2. What can we do to make old (or both) algorithms stable between upgrads?
Personally I think that nil fields should not change the hash, I'll look
into those hashing algori

[2017-02-05 00:07] kargakis commented on #38774
Shouldn't be a problem in 1.5.3 which is going to be released soon

[2017-02-05 00:11] ichekrygin commented on #38774
FWIW, this is still an issue in `v1.5.3-beta.0`
[code]

[2017-02-05 00:15] ichekrygin commented on #38774
And in `v1.6.0-alpha.0`
[code]

[2017-02-05 00:17] liggitt commented on #38774
Those two tags were made immediately after 1.5.2 was released and the release-1.5 branch was made, respectively. They do not contain any fixes made in 1.5.3 or 1.6

[2017-02-05 00:33] hongchaodeng opened #40972 "Unpredictable wait time for PVC to be bound on GCE"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
GKE

**What happened**:

We create PVC via dynamic provisioning (storage class) on GCE.
[code]
[code]

The time from PVC is created to PVC is bound usually takes < 4s. Sometimes this goes up > 20s.
This is unpredictable, and very long.
Is this expected? Is there expected p99 for

[2017-02-05 00:52] liggitt commented on #40961
I thought the intent of the create commands was to support a minimal set of options that produce objects that can be further modified, not support every possible option in the object. The run command was considerably less focused, and I don't think the create command intended to replicate it.

[2017-02-05 00:59] liggitt commented on #40961
See original discussion in the PR establishing the `kubectl create [resource]` pattern https://github.com/kubernetes/kubernetes/pull/16028

cc @deads2k

[2017-02-05 01:01] liggitt commented on #40961
And https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#create-commands

[2017-02-05 01:34] hongchaodeng commented on #40972
@saad-ali

[2017-02-05 01:36] liggitt commented on #40939
Agree about requiring reactors. Returning the same object can actually lead to bugs in tests where the returned object gets mutated, mutates the original object passed in, and makes a comparison between the two meaningless.

[2017-02-05 01:52] liggitt commented on #40958
Do we have the ability to resolve symbolic usernames be resolved to the underlying uid so we can be sure someone didn't do something clever with /etc/passwd, /etc/shadow, etc., to make "nobody" actually uid 0?

[2017-02-05 01:53] liggitt commented on #40958
It's definitely working as designed at the moment because of the symbolic->uid resolution issue

[2017-02-05 01:53] liggitt commented on #40958
Cc @pweil-

[2017-02-05 01:57] liggitt commented on #40790
Rather than member methods, these seem more like generic helper functions that could operate on an unstructured object

[2017-02-05 03:22] spacexnice commented on #40969
This is predictable behavior  which allow k8s installer (like kubeadm) to bootstrap kubelet.

[2017-02-05 07:10] hongchaodeng opened #40973 "KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT weren't set in pod env"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
GKE

**What happened**:

KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT weren't set in pod env.

**What you expected to happen**:

KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT should be set by de

[2017-02-05 08:01] AdoHe commented on #40961
I agree. This should be the basic principle.

[2017-02-05 08:06] AdoHe commented on #40496
@kargakis please assign this to me, I just go back from my holiday and will have more time to focus on CLI related things.

[2017-02-05 08:10] Dmitry1987 commented on #38774
guys you wouldn't believe, but I did a short POC with google cloud (we're all on AWS in our company) and the logs were broken too! o_O  in a commercial product like GKE I would never expect this...  and the support couldn't give an answer why it's broken :D , it was last week with 1.4.8 server 1.5.1 client  (client of their 'web console' machine).  such an inconvenience, those broken logs, impossi

[2017-02-05 08:13] AdoHe commented on #38774
@jessfraz would you mind rechecking this?

[2017-02-05 08:22] k8s-merge-robot opened #40976 "ci-kubernetes-e2e-gce-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/3971/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: [k8s.io] StatefulSet [k8s.io] Ba

[2017-02-05 09:38] k8s-merge-robot opened #40977 "[k8s.io] Port forwarding [k8s.io] With a server listening on 0.0.0.0 should support forwarding over websockets {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/4081/
Failed: [k8s.io] Port forwarding [k8s.io] With a server listening on 0.0.0.0 should support forwarding over websockets {Kubernetes e2e suite}

[code]

[2017-02-05 12:33] k82cn opened #40979 "kube-proxy failed to record events"
**Is this a BUG REPORT or FEATURE REQUEST? (choose one):**
bug

**Kubernetes version (use kubectl version):**
master

**What happened:**

Found error again in latest code:

[code]

**What you expected to happen:**

No errors

**How to reproduce it (as minimally and precisely as possible):**

[code]

cc @kubernetes/sig-network-misc

[2017-02-05 13:45] k82cn commented on #40979
cc @deads2k / @smarterclayton

[2017-02-05 14:18] liggitt commented on #38774
It is fixed in HEAD and the release-1.5 stream, but has not made it into a tagged release yet

[2017-02-05 14:35] AdoHe commented on #38774
@liggitt roger that.

[2017-02-05 17:48] hongchaodeng commented on #40973
@dchen1107 @Random-Liu
Potential node issue?

[2017-02-05 17:53] justinsb commented on #30939
I believe this is no longer an issue with our 1.5 series AWS images: docker version is >= 1.12, systemctl version < 226, docker not configured with custom option.  Closing.

[2017-02-05 17:53] #30939 closed

[2017-02-05 17:54] justinsb commented on #39812
@dashpole I believe it is fixed.  I closed that issue (I'm sure someone will comment if not), but I have been unable to reproduce (so far) on our 1.5 AWS images.

[2017-02-05 18:26] k8s-merge-robot opened #40986 "ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new/229/
Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27233 #36204

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource

[2017-02-05 18:29] ernestgwilsonii commented on #40969
Ok thanks, I simply ignored the error and continued on with the next step in the guide and it seemed to work.
Guide:
https://lukemarsden.github.io/docs/getting-started-guides/kubeadm/
Next step (modified to skip the pre-flight check which also fails on CentOS):
**kubeadm init --skip-preflight-checks**

[2017-02-05 18:29] #40969 closed

[2017-02-05 19:07] ernestgwilsonii opened #40987 "BUG REPORT: Clean new install on CentOS7x "kubeadm init" won't run without adding --skip-preflight-checks"
BUG REPORT

Clean / new install(s) on CentOS7x "**kubeadm init**" won't run without adding **--skip-preflight-checks**

**Kubernetes version** (use `kubectl version`):
kubectl version
**Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.1", GitCommit:"33cf7b9acbb2cb7c9c72a10d6636321fb180b159", GitTreeState:"clean", BuildDate:"2016-10-10T18:19:49Z", GoVersion:"go1.6.3", Compiler:"g

[2017-02-05 19:29] ernestgwilsonii opened #40988 "BUG REPORT: Clean new install on CentOS7x "kube-dns" is stuck at status "ContainerCreating""
BUG REPORT

Clean / new install(s) on CentOS7x **kube-dns** is stuck at status **ContainerCreating**

**Kubernetes version** (use `kubectl version`):
kubectl version
**Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.1", GitCommit:"33cf7b9acbb2cb7c9c72a10d6636321fb180b159", GitTreeState:"clean", BuildDate:"2016-10-10T18:19:49Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linu

[2017-02-05 20:13] yuraerwqsdxz commented on #39340
It has been investigated and confirmed that darkwebsolutions has one of the best customer services in hacking and anti hacking related issues, you can findout more by mailing darkwebsolutions on hackermail, darkwebssolutions on gmail, text or dial 19193076946

[2017-02-05 20:41] argent-smith commented on #24721
Didn't help. Possibly because in-container mounting doesn't respect this
file.

2017-02-03 16:41 GMT+03:00 Huamin Chen <notifications@github.com>:

--
Yours truly, Pavel.

[2017-02-05 20:58] argent-smith commented on #24721
@rootfs would you please show me how to turn the nfs mounts into nfsv3? I tried to set Nfsvers=3 in the config: no, it mounts nfsv4. Well, is there any way to specify idmapping as in v3? All containers want to chown things in volumes and fail.

[2017-02-05 21:23] argent-smith commented on #24721
I'm just curios: how in the world can we possibly sync all the possible users in containers/nodes/nfs servers with nfsv4? I'd be glad to know if there is a way to do this. Without that, nfs4 is totally useless in container apps. Meanwhile, many admins still have working nfsv3 servers. Why not supporting them? Shouldn't we introduce nfs backward-compatible in Kubernetes to begin with? Or everyone i

[2017-02-05 21:26] cmoad commented on #15180
As a solution in the near-term, we grab the first pod name using a template and pass that into the port-forward command.

Example:
`kubectl --namespace logger port-forward $(kubectl --namespace logger get pod -l service=kibana -o template --template="{{(index .items 0).metadata.name}}") 5601:5601`

[2017-02-05 23:02] kargakis commented on #40415
Yes, you should see the same issue between upgrades like 1.3->1.4

[2017-02-05 23:06] kargakis commented on #40415
@soltysh what's still not clear to me is how the duplicate replica sets were automatically created.

[2017-02-06 01:31] marun opened #40989 "[Federation] Eliminate code duplication across controllers"
At present there is lots of code duplication across the controllers that synchronize the member  clusters of a given federation with the desired federated state.  This issue is targeted at refactoring the controllers so they can share as much code as possible with the goal of simplifying testing and maintenance.

The original suggestion was to enable generation of the controllers, but that will be

[2017-02-06 01:31] marun commented on #40989
I'm working on this.

[2017-02-06 01:35] marun commented on #33612
@nikhiljindal I see that cascade deletion was implemented for services.

I'm working on #40989, and as part of that work can enable cascade deletion for config maps.

[2017-02-06 01:35] xingzhou commented on #40728
or at least give some warning messages and something like a `-f` option?

[2017-02-06 01:42] liggitt commented on #40989
Is it possible to use a dynamic client for federation controllers? Ideally, federating a new resource would be as easy as starting a controller and feeding it a group/version/kind (with the possibility for custom overrides for spread policies and fields that should be ignored when checking whether the federated resource was equal to the downstream resource, e.g. clusterIP for services)

[2017-02-06 01:45] liggitt commented on #40728
It's not a bug, and the API doesn't have facilities for warning or requiring a force flag on deletion. The only relationship capability that can be expressed at the moment is ownerRefs, but that would automatically remove PVCs referencing a storage class that got deleted, which seems scarily destructive.

[2017-02-06 02:05] marun commented on #40989
@liggitt Based on a survey of the existing controllers, I've identified 3 types of federation:

 - simple
   - namespace, secret, configmap and daemonset
   - simple copy to member clusters
 - workload
   - replicaset and deployment
   - involves making cross-cluster scheduling decisions, which requires details of the workloads of member clusters
 - networking
   - ingress and service
   - special

[2017-02-06 02:15] workhardcc opened #40990 "create a “Best-effort” pod and its oom score not 1000 but -999"
Create a deployment as below:

    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      labels:
        owt: hello
        pdl: com
        app: world
        idc: xg
        add: parameters-48
      name: parameters-48
    spec:
      replicas: 2
      template:
        metadata:
          labels:
            name: parameters-48
        spec:
          containers:
          - n

[2017-02-06 02:16] liggitt commented on #40990
cc @derekwaynecarr

[2017-02-06 03:01] sarat-k opened #40991 "scheduler extender interface enhancement to send minimal node info on the wire"
The current k8s scheduler extender interface is very verbose on the wire. kube-scheduler sends node information of all candidate nodes along with pod spec. The node details are very verbose and take up a lot of bandwidth (esp. if the extender is not running on the same node as kube-scheduler). For a cluster with 100s of nodes, this becomes very cpu intensive to reassemble the TCP payload. The curr

[2017-02-06 03:12] #39919 closed

[2017-02-06 03:58] xingzhou commented on #40820
I'd like to take some investigation on this first.

[2017-02-06 05:08] thockin commented on #40573
Vish,

I still have no recollection of "local" vs "remote" ?

[2017-02-06 05:34] thockin commented on #10921
This is beta in 1.5

https://kubernetes.io/docs/user-guide/load-balancer/, look for
"preservation of Source IP"

On Wed, Feb 1, 2017 at 12:47 PM, Andrew Dryga <notifications@github.com>
wrote:

[2017-02-06 06:51] Phanindra48 opened #40997 "client: etcd cluster is unavailable or misconfigured"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

Hi,

I have been getting this error when trying to reach the kubernetes dashboard and this is happening few days after starting the cluster and slowly the frequency of crashes and unavailability of k8s dashboard time is also increasing.

Error message:
[code]

Here is the log (snippet) that I got from etcd container k8s_etcd-co

[2017-02-06 07:31] DjangoPeng opened #40998 "Feature Request: GPU support"
I'm an active open-source contributor of Kubernetes and TensorFlow. I've built kubernetes v1.5 for managing distributed tensorflow tasks. While what make me upset is that kubernetes doesn't support GPU allocation.
I can't enjoy the convenient management of kubernetes when it comes to TensorFlow and Deep Learning, because Deep Learning tasks always using GPU instead of CPU. I know [Nvidia-docker](h

[2017-02-06 07:54] xilabao opened #41001 "kubeadm reset error"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes version** (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.1.395+1df1ad9d34f5dc", GitCommit:"1df1ad9d34f5dce40229ac5d82b1ab94c559d443", GitTreeState:"clean", BuildDate:"2017-02-06T07:11:51Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Versi

[2017-02-06 07:54] gyliu513 commented on #40459
@tonglil I have the same issue and after remove `~/.kube/config`, the cluster works well and I can also get all nodes.

[code]

[2017-02-06 07:56] ravigadde commented on #40991
@sarat-k Please go ahead and submit a PR

[2017-02-06 08:00] nikhiljindal commented on #40989
cc @mwielgus @madhusudancs

I agree secrets, configmaps and daemonsets federated controller are the simplest. They simply copy the federated resources to underlying clusters. Namespace has special deletion logic.

Federated Informer which is used by all federated controllers except services (WIP to refactor it to use new federated informer) and cluster controller contains most common code to watch

[2017-02-06 08:02] nikhiljindal commented on #33612
@csbell has https://github.com/kubernetes/kubernetes/pull/40464 for adding cascading deletion support to configmaps.

[2017-02-06 08:39] k8s-mirror-storage-bugs commented on #40415
On Saturday, February 4, 2017 at 3:22:50 PM UTC-8, Maciej Szulik wrote:

I've seen this pop up on two separate master upgrades from 1.4 -> 1.5 in
GKE.

Total shot in the dark here, so apologies if it doesn't help at all. But it
reminds me of a problem I saw a while ago where the keys of the data
structure were not stably created - that is the output for the key/value
position (or line number) coul

[2017-02-06 08:51] k82cn opened #41004 "Enhancement for init containers annotation."
After #38382 , the InitContainers feature was promoted go GA; but the beta annotation value will still be respected and overrides the field value. Open this issue to trace the enhancement for initContainer annotation. Sub-tasks in my mind:

- [ ] set defaults for initContainer in annotation (refer to https://github.com/kubernetes/kubernetes/pull/39713#issuecomment-277128214 for the reason of this

[2017-02-06 08:55] k82cn commented on #41004
/cc @smarterclayton , @derekwaynecarr

[2017-02-06 08:55] piosz commented on #40736
@thockin @kubernetes/sig-network-misc do we expose Prometheus metrics for:
- kube-proxy
- l7-lb-controller
- l7-default-backend

[2017-02-06 10:43] wojtek-t opened #41007 ""Failed to register layer" after pulling docker images"
On saturday, in large cluster we started observing runs (all runs since then failed due to the same reason), in which not all system pods come up.
In particular, always some number of fluentd are not starting. I looked into why those are not starting and all of them are failing with logs like these:

[code]

Example failures of this are in:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kuber

[2017-02-06 10:43] wojtek-t commented on #41007
@gmarek

[2017-02-06 11:17] k82cn commented on #40998
AFAIK, our research team has a PR for GPU; let me find it :).

[2017-02-06 11:40] Miyurz commented on #38774
Roger! Roger! Our PoC is waiting on this fix.

[code]

[2017-02-06 11:43] k82cn commented on #40998
@liyubobj , is it possible to share the PR about GPU?

[2017-02-06 12:51] deads2k commented on #40979
Thanks.  Looks like fallout from making client-go authoritative on event recorder.

[2017-02-06 12:55] k82cn commented on #40979
@deads2k, yes, had created a PR (#40980) for it; could you help to review?

[2017-02-06 13:06] pweil- commented on #40958
Right, it was intended to only use numeric names because of this.

[2017-02-06 13:08] dgoodwin commented on #37922
Are there proxies being used in these environments? If so has yum been configured to use it? (https://www.centos.org/docs/5/html/yum/sn-yum-proxy-server.html)

Does a `yum clean all && rm -rf /var/cache/yum/*` help?

[2017-02-06 13:10] unbornchikken opened #41010 "MULTIZONE support in AWS is broken (1.5.2)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): EntityAlreadyExists, IAM Role

---

**Is this a BUG REPORT or FEATURE REQUEST?** (cho

[2017-02-06 13:19] AdoHe commented on #40262
on my list, will fix this asap.

[2017-02-06 13:31] deads2k commented on #40939
That just means you'd want to deep copy it and maybe default it, not that you wouldn't return it.  I'd want to make this more like a real client, not less.  This feels similar to `Watch` not seeing `Create` for the same fake client.

[2017-02-06 13:51] JorritSalverda opened #41012 "Statefulset pods disappearing after initial correct start"
**BUG REPORT**

I'm running ElasticSearch in a statefulset and in the range of 36 hours all 3 pods except for the first one (-0) have disappeared. The first one is in a CrashLoopBackoff state.

I would expect once a statefulset has correctly started the separate pods are no longer dependent on the first one running correctly.

**Kubernetes version** (use `kubectl version`):

Client Version: versio

[2017-02-06 14:02] wojtek-t opened #41013 "Performance regression in handling watches"
Our scalability tests started failing on Thu last week:
https://k8s-testgrid.appspot.com/google-kubemark#gce-scale

[250 run passed, 251 failed and since then everything failed]

I started looking into it and it seems that something happened to how we are handling watches (i.e. I'm seeing a huge number of watches failing with "err too old" errors (which I didn't see before).

[2017-02-06 14:05] wojtek-t commented on #41013
As an example in run 258 of kubemark-scale, I'm seeing this log in the test (after 5 minutes of running test);
[code]

This is extremely strange and unexpected.

I looked into apiserver logs, and there is expected number of POST and PUT operations on pods (and no DELETE and PATCH operations until then). Until then, there were alltogethere ~60.000 operations on pods.

However, in 5000-node cluster,

[2017-02-06 14:13] wojtek-t commented on #41013
As an example, logs from apiserver from a given node:
[code]

This means something is really wrong:
- the first watch started at 45,
- then after it finished, we tried starting watch from rv=106321 and it failed with "rv too old"
- the list, returned rv=234220 from which we started the next watch.

If the watch cache size for pods would be 250.000 (50*cluster size), there there is no way that with

[2017-02-06 14:38] devnev opened #41015 "Allow Updating StatefulSet's entire PodTemplateSpec"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

statefulset updates

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2017-02-06 15:07] gmarek commented on #8335
If it was only Node then yes - NC won't evict anything if all Nodes are not ready (you can look into controller-manager's logs to see what's happening).

Another option is that those Pods were daemons - NC doesn't touch DaemonSets.

[2017-02-06 15:10] gmarek commented on #27882
@mtbbiker - I replied on the second thread (#8335). Please add xrefs instead of sending the same message on multiple threads.

[2017-02-06 15:10] marun commented on #33612
Ok, I won't work on refactoring the configmap controller until that merges.

[2017-02-06 15:16] wojtek-t commented on #41013
I had a hypothesis that it might be the problem of breaking watch to etcd. But in that case there should be a warning "Terminating all watchers" log in apiserver, and there is no such log.

It also seems that the size of cache is being set correctly...

[2017-02-06 15:21] dshulyak commented on #36400
@Random-Liu thanks for suggestion, i added utility module for port forwarding based on rest client. Also i refactored existing e2e tests a bit, so that i can reuse them in node e2e suite. I will be grateful if you can confirm thats it is correct idea

[2017-02-06 15:34] shyamjvs commented on #39245
Closing this issue as we don't have issues with NPD in kubemark anymore.

[2017-02-06 15:34] #39245 closed

[2017-02-06 16:12] taimir commented on #40870
Hi there, this seems interesting:

AFAICT, the problem seems to be a mismatch between the docs and what the `iptables proxier` in `kube-proxy` actually can do. In `k8s`, the otherwise purely virtual `Services` are realized by smart DNAT-ing on each node in the cluster (done by `kube-proxy`). The DNAT rules are more or less the core functionality, and are defined in the NAT table of `iptables`, on

[2017-02-06 16:38] kargakis commented on #40415
Yes, I believe passing a more stable format to the hashing algorithm would solve this problem. See the discussion in https://github.com/kubernetes/kubernetes/pull/36673#issuecomment-277557466

cc: @smarterclayton

[2017-02-06 16:43] kfox1111 commented on #24721
@argent-smith: I have an ldap server cluster and slide in nslcd/nscd sidecars into the pods that need it. So far it has worked really well.

Still, more nfs options would be really useful.

[2017-02-06 16:51] rootfs commented on #24721
@argent-smith what's os you are using?
can you access https://access.redhat.com/solutions/2817461?

[2017-02-06 17:22] jonathanmarsaud opened #41019 "CDK - known_tokens are wrong when rebooting one of the master randomly"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
Token, secrets, Unable to authenticate the request due to an error: crypto/rsa: veri

[2017-02-06 17:23] cmluciano commented on #40998
@k82cn @DjangoPeng Initial PR is here https://github.com/kubernetes/kubernetes/pull/28216. I am also preparing a follow-up PR to add NVML support soon. I think the PR linked is still targeted for 1.6.

[2017-02-06 17:35] AntFuller commented on #34428
I am seeing the same error on Ubuntu , Did you resolve it ? Thanks

[2017-02-06 17:51] cmluciano commented on #40990
Does nodeSelector affect this at all?

[2017-02-06 18:02] cmluciano commented on #40736
[Kube proxy metrics issue](https://github.com/kubernetes/kubernetes/issues/9125)

[2017-02-06 18:13] Krylon360 commented on #26670
It looks like this is already in the Go SDK; but doesn't look like it's hitting the correct methods to actually work.
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L1836

[2017-02-06 18:15] spxtr commented on #40839
Discussions in #40944 showed that the worry is that the unit test coverage only hits a single iteration of the controller sync loop, while e2e tests can follow a deployment through an entire process such as a rolling update. We should make it easier to do this kind of testing locally as an integration test.

[2017-02-06 18:17] kargakis commented on #40839
@spxtr do integration tests use docker?

[2017-02-06 18:18] luomiao commented on #40953
Got the same error for e2e test:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/40843/pull-kubernetes-e2e-gce/16475/

[2017-02-06 18:20] foxish commented on #40813
Yes, it works with server and client built from HEAD. But the problem persists with a 1.5.2 server and client built from HEAD. The server says it doesn't know about StatefulSets, PDBs etc. Is that something we officially support?

[2017-02-06 18:21] abuehrle opened #41024 "Kubeadm install binaries are missing apt-transport-https"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Kubernetes versi

[2017-02-06 18:26] abuehrle opened #41025 "Kube init returns a failed to parse kernel config: error"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

kubeadm version: v

[2017-02-06 18:48] yujuhong commented on #39879
@janetkuo the test started around 11:29:50 and ended at 11:31:36........The total duration was less than 2 minutes. Either I was reading the log wrong, or the timeout was not 5 minute.

Start:
[code]
End:
[code]

[2017-02-06 18:56] freehan commented on #40474
hmmmm... I think it only solves half of this.

[2017-02-06 19:00] freehan commented on #40474
It depends on the result of the race:

If TearDown is called twice and both was able to get valid network namespace, then the second TearDown will still return error.

If the second TearDown was not able to get valid network namespace, then it will only conduct best effort clean up and not return error.

[2017-02-06 19:02] freehan commented on #40474
So basically the race is between "kubelet stopping the pause container after the first TearDown" and "the second network Teardown trying to retrieve network namespace "

[2017-02-06 19:19] simonswine commented on #19899
@phutchins thanks for writing down the a user experience. I am the author of kube-lego and happy to join forces to improve the integration for Let's Encrypt.

Many users are quite happy with kube-lego, but a good start would be to develop your notes, and maybe create a proposal/design document. In the last release I switched to the `golang.org/x/crypto/acme` library with much better interfaces.

T

[2017-02-06 19:26] MrHohn opened #41032 "Eviction manager evicts innocent pods after cleaning up unused images."
Lately we have customer possibly hitting this issue when there are too many unused images on nodes.

When nodes are under disk pressure (either disck space or inodes), eviction manager will try deleting unused images at first to reclaims disk resource, which is good. However, a common issue we could see is the eviction manager continues to evict innocent pods even if the unused images were deleted

[2017-02-06 19:27] MrHohn opened #41033 "Kubelet Garbage Collection should account inode usage as well."
Related issue: #32526

[Kubelet Garbage Collection](https://kubernetes.io/docs/admin/garbage-collection/) is taking disk space usage as the factor for triggering image collection. From the [codes on current HEAD](https://github.com/kubernetes/kubernetes/blob/a461eab321f8262a48d71eda94129c6db524bf6f/pkg/kubelet/images/image_gc_manager.go#L246-L284), it seems like the inode pressure is not accounted

[2017-02-06 19:36] vishh commented on #41032
@dashpole is working on a fix for this. @sjenning also had a PR out to
avoid evicting based on old data. I hope one of them can wrap up the fix
for this issue.

On Mon, Feb 6, 2017 at 11:26 AM, Zihong Zheng <notifications@github.com>
wrote:

[2017-02-06 19:37] timstclair commented on #40958
So not a simple fix, but should still be doable? Is it feasible for the Kubelet to resolve the symbolic user, or will we need to delegate to the CRI runtime? (/cc @yujuhong ). To prevent unaccounted for edge cases, the Kubelet (runtime) should set the uid to the resolved uid in that case (only if RunAsNonRoot is set).

[2017-02-06 19:43] spxtr commented on #40839
Some do, and some use etcd as well.

[2017-02-06 19:44] spxtr commented on #21843
Closing, since we're making changes to `e2e.go` in test-infra.

[2017-02-06 19:44] #21843 closed

[2017-02-06 19:49] mignev commented on #13331
I see it as well.

[code]

[2017-02-06 19:51] wojtek-t commented on #13331
If this is the case in new-ish releases, please open a new issue, rather than commenting on the more-than-year-old issue.

[2017-02-06 19:51] sjenning commented on #41032
This was my PR btw https://github.com/kubernetes/kubernetes/pull/33121

[2017-02-06 19:53] mignev commented on #13331
Got it! Thanks for the fast response :)

[2017-02-06 19:57] mml commented on #40636
Thanks, @wojtek-t.  Hopefully get something running here today.

[2017-02-06 19:57] dchen1107 commented on #41032
I talked to Vish and @dashpole on this very topic before. This is known issue. The fundamental issue is that the eviction manager acts too aggressively on the old data. Since disk account today is expensive, we slowly update disk stats. But the eviction manager take the action upon the old / staled data.

[2017-02-06 19:58] timstclair commented on #40955
How is hyperkube used? Is it feasible to rebase it off scratch, or does it require a shell? Any other external (i.e. not in the go binary) dependencies?

[2017-02-06 19:58] dchen1107 commented on #41032
@sjenning we missed your pr for this fix.

[2017-02-06 19:59] yujuhong commented on #40958
Right now the [`ImageStatus` in CRI](https://github.com/kubernetes/kubernetes/blob/v1.6.0-alpha.1/pkg/kubelet/api/v1alpha1/runtime/api.proto#L854) simply returns the user/uid specified in the image metadata. It is possible to teach dockershim to check the `/etc/passwd`, etc., in the image rootfs to resolve the mapping, but it seemed to heavy-handed/hacky so we chose not to do it. If there is a nee

[2017-02-06 19:59] madhusudancs commented on #40989
Also note that DaemonSets are simple for now because there is no DaemonSet update yet. It can get a lot more complex when it gets tied into disruption budgets, forgiveness, node lifecycle and other related things (#1574). I would just start with Secrets and ConfigMaps.

[2017-02-06 20:06] pashok2398 opened #41038 "Disable SSL Medium Strength Cipher Suites Support."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):Cipher,3DES,SHA1

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Disa

[2017-02-06 20:09] timstclair commented on #39696
@cemo - The short-term solution is to rebuild the image, which should automatically pull in upstream fixes. Longer term (1.6 timeframe), @ixdy and I are working on a multi-pronged approach to fixing these issues in the future.

In response to some of the issues stated above, I do not think we should build our own static iptables (and other external dependencies). If we did, we would need to manual

[2017-02-06 20:10] dashpole commented on #41033
This is something we should do, although the periodic garbage collection (from the link), doesnt look like it has any effect, even for disk.  The default threshold is 90%, which is the same threshold as the eviction manager (nodefs.available<10%).  In addition to changing periodic garbage collection to take inodes into account, we should consider lowering the threshold so that it kicks in before t

[2017-02-06 20:12] spxtr commented on #40839
@kargakis check out some of the integration tests in [this file](https://github.com/kubernetes/kubernetes/blob/master/test/integration/replicaset/replicaset_test.go). I think it makes sense to use this type of test instead of all but one or two deployment e2e tests.

[2017-02-06 20:13] dashpole commented on #41033
@MrHohn can you assign me to this?

[2017-02-06 20:14] MrHohn commented on #41033
@dashpole Thanks for the info. Though I don't have permission to assign neither...

[2017-02-06 20:15] ixdy commented on #40955
@timstclair the Dockerfile currently [installs quite a few](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/Dockerfile#L21-L37) additional dependencies. Not sure how many of these are crittical, though.

[2017-02-06 20:18] yujuhong commented on #41033
@dashpole as you wish

[2017-02-06 20:28] timstclair commented on #40955
Oh yeah, I guess this is going to be a union of the dependencies of all the components... We may need to special-case this image since it requires so many dependencies. Also a couple of those packages don't seem to have alpine versions (e.g. glusterfs-client). It probably makes sense to keep it on Debian, and just make sure we keep it up to date. Do any of our E2E's use hyperkube?

[2017-02-06 20:40] soltysh opened #41039 "Migrate CronJobs to beta"
Per popular demand (see the beginning of the discussion: https://github.com/kubernetes/features/issues/19#issuecomment-277130872) and considering that #40932 is going to limit the number of created Jobs sig-apps decided to migrate CronJobs to beta.

This issue is opened to discuss the following problems that were initially identified:

1. Where the CronJobs should land?
2. Do we want to keep backw

[2017-02-06 20:48] rootfs commented on #40427
steps to reproduce:

* `export NUM_NODES=1 cluster/kube-up.sh`
* Once kubernetes is up, ssh to node. Get the node's FQDN in `/etc/hosts`. In my setup it is `rootfs-e2e-minion-group-jpj4.c.openshift-gce-devel.internal`
* change node's hostname: `hostname rootfs-e2e-minion-group-jpj4.c.openshift-gce-devel.internal`
* restart kubelet: `pkill -9 kubelet`
* Create a PVC and a pod to use the PVC and get

[2017-02-06 20:58] smarterclayton commented on #40736
Expectation was that all 3 of these *should* expose metrics.

[2017-02-06 20:58] luxas commented on #41025
cc @Random-Liu @dchen1107 @yujuhong

This is coming from the system verification check, anything we can do about it except for adding it to the docs?

[2017-02-06 21:01] rom-stratoscale opened #41040 "Is there a way to connect kubernetes to private self signed registry"
without propagating the crt file to all the minions (/etc/docker/certs.d/<REGISTRY:5000>/ca.crt).
kubectl secret docker-registry let me set only the authentication key. not the SSL.

Thanks

[2017-02-06 21:01] mml commented on #40110
@mikedanese thanks!

[2017-02-06 21:01] MHBauer commented on #40459
Leaving the kubeconfig blank, or deleting `~/.kube/config`, or unsetting the context with `kubectl config unset current-context` results in the client using an insecure connection.

[2017-02-06 21:05] adkerr opened #41041 "Deleting a pod will logout an iscsi session even if that session is in use by other pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): iscsi session logout

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-02-06 21:24] xsgordon commented on #40367
/cc @k8s-sig-openstack-bugs

[2017-02-06 21:24] xsgordon commented on #40367
@idvoretskyi can you label this sig/openstack please?

[2017-02-06 21:25] xsgordon commented on #40721
/cc @k8s-sig-openstack-bugs

@idvoretskyi can you add the sig/openstack label please?

[2017-02-06 21:25] xsgordon commented on #40737
@idvoretskyi can you add the sig/openstack label please?

[2017-02-06 21:26] xsgordon commented on #40741
/cc @k8s-sig-openstack-bugs

@idvoretskyi can you add the sig/openstack label please?

[2017-02-06 21:27] xsgordon commented on #40850
/cc @k8s-sig-openstack-bugs

@idvoretskyi can you please add the sig/openstack label?

[2017-02-06 21:28] luxas commented on #19899
@phutchins @simonswine +100 for collaboration and making things as official as possible.
It might be worth considering having an official letsencrypt-kube-integration controller in kubernetes/ingress.

@bprashanth WDYT?

[2017-02-06 21:44] calebamiles commented on #41041
Could someone from @kubernetes/sig-storage-bugs please take a look? Thanks!

[2017-02-06 21:45] bprashanth commented on #19899
I'm still reading the propsal, some quick thoughts.

@simonswine has done a great job with kube-lego, as many members of the community will attest to. Collaboration seems like the right way forward, especially since Philip's proposal formalizes how normal Services can acquire certs.

Heard tell that this will make it into the stdlib soon

@justinsb has a promising proposal:
https://groups.google.c

[2017-02-06 21:46] calebamiles commented on #41038
Could someone from @kubernetes/sig-auth-feature-requests please take a look? Thanks!

[2017-02-06 21:49] mml commented on #37704
I wondered why we care about this.  After all, kubelet restarts failing pods.  For posterity, after talking with @lavalamp, the reason is that the apiserver may fail so fast that the kubelet begins to back off on restarts of a failing pod.  That backoff may be too aggressive.  (Maybe it causes spurious alerts, or maybe it allows too much downtime.)  So, let's fix the apiserver.

That's fine, but c

[2017-02-06 21:49] philips commented on #40955
cc @jessfraz based on related #40248

[2017-02-06 21:52] calebamiles commented on #41025
Could someone from @kubernetes/sig-node-bugs please take a look, thanks!

[2017-02-06 21:53] jingxu97 opened #41044 "attached volume data structure in actual state on master's volume controller should support multiple device paths"
In the actual state of volume controller on master, each attached volume has a data structure as follows. Note that there is only one devicePath for each volume. This is wrong in case of volume could be attached to multiple nodes and they might have different device paths (e.g., aws).

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/cache/actual_state_of_wor

[2017-02-06 21:54] calebamiles commented on #41024
Could you take a look @luxas? Thanks!

[2017-02-06 21:58] calebamiles commented on #41015
Could someone from @kubernetes/sig-api-machinery-misc please help qualify this feature request? Thanks!

[2017-02-06 22:01] timstclair commented on #40955
A couple notes:
- Very few of those CVEs have upstream fixes (check `Only show fixable`)
- Not all of those findings are valid (e.g. [CVE-2016-1761](https://security-tracker.debian.org/tracker/CVE-2016-1761) only applies to iOS, [CVE-2016-6515](https://security-tracker.debian.org/tracker/CVE-2016-6515) only applies to sshd)
- Remaining issues are unfortunate, but mostly look to triaged and marked

[2017-02-06 22:11] psaintlaurent commented on #37704
@mml That's a wonderful explanation that hadn't occurred to me. If there isn't a feature request for this already I'll work on something and reference this issue.

[2017-02-06 22:17] bprashanth commented on #40736
kube-proxy metrics https://github.com/kubernetes/kubernetes/issues/9125

L7-lb-controller metrics https://github.com/kubernetes/ingress/issues/238, they're per backend currently, the nginx contoller does expose metrics (https://github.com/kubernetes/ingress/pull/36), the gce controller doesn't.

default-backend: https://github.com/kubernetes/ingress/issues/237

[2017-02-06 22:27] liggitt commented on #41038
Minimum TLS version is TLS1.2, not sure why TLSv1 was indicated.

The allowed ciphers are the golang defaults

[2017-02-06 22:32] yujuhong commented on #37704
AFAIK, the backoff mechanism is there to protect kubelet from being overwhelmed by failed user containers. Trusting the containers with returning a specific exit code sounds like a big "no" to me. Making this configurable per pod *might* be ok, but it's still not good in general to allow aggressive restarts.

[2017-02-06 22:34] yujuhong commented on #40965
Fixed in #40951

[2017-02-06 22:34] #40965 closed

[2017-02-06 22:35] liggitt commented on #41038
Options:

1. We could modify the allowed ciphers from the golang defaults to a hand-crafted set, though it will likely to reach complete agreement on which ciphers are acceptable (lots of clients with varying TLS capabilities use the API)

2. We could externalize control over allowed ciphers, though http2 enablement makes that ordering really tricky to get right, and the config would be unpleasant

[2017-02-06 22:43] emaildanwilson commented on #29887
ok, yes I noticed that it's not exported. I'll add the protobuf tags.

[2017-02-06 22:50] rootfs commented on #41041
looking...

[2017-02-06 23:04] jalbstmeijer opened #41046 "mysql-wordpress-pd example not claiming created volume as expected on k8s 1.4.7 installed by Kops"
**What keywords did you search in Kubernetes issues before filing this one?**:

mysql-wordpress-pd

---

** BUG REPORT: **

**Kubernetes version**:

Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Ve

[2017-02-06 23:10] calebamiles commented on #41010
@chrislovecnm, could you please help route this issue? Thanks!

[2017-02-06 23:14] janetkuo commented on #39879
Hm, it's weird, since we made a call to [`waitTimeoutForPodRunningInNamespace`](https://github.com/kubernetes/kubernetes/blob/v1.6.0-alpha.1/test/e2e/framework/util.go#L1233-L1240) to wait for pods to be running in 5 minutes.

`waitTimeoutForPodRunningInNamespace` calls [`watch.Until`](https://github.com/kubernetes/apimachinery/blob/master/pkg/watch/until.go#L36-L83). We get the same `wait.ErrWait

[2017-02-06 23:17] yujuhong commented on #41007
https://github.com/kubernetes/kubernetes/issues/33882#issuecomment-264075001
It's a known docker bug that was (supposedly) [fixed in docker v1.13](https://github.com/docker/docker/pull/25523) However, this usually happens when docker gets shut down uncleanly.

Checking the serial log, one can find that the kernel encountered soft lockup and rebooted.
[code]

[2017-02-06 23:21] yujuhong commented on #41007
For GCI, this is tracked by b/33240362

[2017-02-06 23:25] ixdy commented on #39041
I think hack/e2e.go is deprecated now. Not sure if this problem still exists in its successor.

[2017-02-06 23:25] #40962 closed

[2017-02-06 23:25] #40826 closed

[2017-02-06 23:25] #40687 closed

[2017-02-06 23:27] #40668 closed

[2017-02-06 23:30] #39498 closed

[2017-02-06 23:30] #39885 closed

[2017-02-06 23:30] calebamiles commented on #41001
@luxas, could you please take a look? Thanks!

[2017-02-06 23:30] k8s-merge-robot opened #41047 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gke-test/1264/
Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980 #33313 #33380 #35444 #37814 #38204 #38860 #39786 #40477 #40687

[2017-02-06 23:30] k8s-merge-robot opened #41048 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/3799/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668

[2017-02-06 23:30] vishh commented on #40573
@thockin It an idea that you also proposed - Handing over control of static pods to the api-server once kubelet connects successfully with an apiserver.

[2017-02-06 23:33] nikhiljindal commented on #39041
Link to the successor? :)

[2017-02-06 23:35] #40192 closed

[2017-02-06 23:35] ixdy commented on #39041
https://github.com/kubernetes/test-infra/tree/master/kubetest

[2017-02-06 23:36] nikhiljindal commented on #39785
This has failed twice consecutively on my PR: https://github.com/kubernetes/kubernetes/pull/35950.
Should this be P0 since its blocking merges?

[2017-02-06 23:38] vishh commented on #40573
There is still one more issue that has not been captured.
System OOMs can lead to crash loop backoff which results in long downtimes for critical system pods. System OOMs cannot be reliably avoided using oom score adjust setting unless we disable system OOMs all together for critical pods. However this is dangerous because critical pods can also have memory leak bugs.

I'm inclined towards not med

[2017-02-06 23:39] #37062 closed

[2017-02-06 23:40] #37034 closed

[2017-02-06 23:57] brendandburns commented on #29472
Is there a more concrete proposal/design for this somewhere? I'm a little concerned we're rushing into a fairly significant change without much discussion or feedback beyond what is in this issue.

[2017-02-06 23:59] idcrook commented on #40789
I am getting this error on an ubuntu k8s cluster. `iscsiadm` _is_ installed on the cluster node(s), and cluster created with `kargo`. this used to work without errors.

[code]

[code]

[2017-02-07 00:09] errordeveloper commented on #29472
I just reminded myself that Elasticsearch has a similar things, it's called ["cat API"](I think we should consider https://www.elastic.co/guide/en/elasticsearch/reference/current/cat.html), I think it's rather quite neat and we should consider it as an example.

[2017-02-07 00:12] brendandburns commented on #29472
A couple other things we need to make certain of:

1) I'm adding internationalization support, if we're pretty printing on the server, it needs to take language as a parameter so that it can translate appropriately.

2) I'm adding colorization support, again, we likely want the format here to work for colorization too.

I suspect there will be a number of these kinds of features, where we need to

[2017-02-07 00:17] ahakanbaba commented on #40841
@GnawNom I will work on
no-op patch (idempotent apply) object with unknown group/version (covers TPR re-apply scenario)
first.
FYI .

[2017-02-07 00:17] adkerr commented on #41041
Minor clarification: the last lsscsi command from the example was executed on the same system as the other commands (my hostname obfuscation failed me here)

[2017-02-07 00:37] diclophis commented on #39872
I am running into this same issue for a simple CronJob resource.

[2017-02-07 01:01] calebamiles commented on #40972
Could someone from @kubernetes/sig-node-bugs please take a look? Thanks!

[2017-02-07 01:04] calebamiles commented on #40953
Could someone from @kubernetes/sig-apps-bugs help with properly routing this issue? Thanks!

[2017-02-07 01:05] calebamiles commented on #40941
Could someone from @kubernetes/sig-storage-bugs please help with triage? Thanks!

[2017-02-07 01:07] calebamiles commented on #40936
@piosz, why is this issue a release blocker? Does it affect OSS users or only users on GCE/GKE?

**cc: @ethernetdan**

[2017-02-07 01:08] foxish commented on #40953
/cc @kow3ns

[2017-02-07 01:10] calebamiles commented on #40908
Could someone from @kubernetes/sig-node-feature-requests please help with routing this feature request for scoping? Thanks!

[2017-02-07 01:13] yujuhong commented on #39879
This sounds right to me. Returning `ErrWaitTimeout` when the channel closes unexpectedly is confusing.

[2017-02-07 01:14] calebamiles commented on #40887
Can someone from @kubernetes/sig-node-bugs or @kubernetes/sig-storage-bugs please help qualify this issue? Thanks!

[2017-02-07 01:15] yujuhong commented on #41007
Removed the milestone since this is not a regression in 1.6.

[2017-02-07 01:17] mml opened #41054 "Document etcd v2->v3 migration procedure"
1. We need an action-required section for the rel. notes.
2. We need documentation for admins.

[2017-02-07 01:17] calebamiles commented on #40860
@piosz, why is this issue a release blocker?

**cc: @ethernetdan**

[2017-02-07 01:18] fejta commented on #39785
Adding some additional people to try and increase attention on this test.

The 24 hr test history report - http://storage.googleapis.com/kubernetes-test-history/static/index.html shows that this job failed 23 out of 148 attempts yesterday, and is the top source of problems in our blocking jobs.

[2017-02-07 01:18] dashpole opened #41055 "Kubelet needs an Object-Oriented Internal Pod Abstraction"
cc @kubernetes/sig-node-feature-requests

Structs are great to pass around when they are immutable, or remain constant.  However, if they dont remain constant, passing around structs can lead to a few problems:
- If copies of the struct are made, then these copies may become inconsistent.  It becomes difficult, if not impossible to reason about these various copies, and requires extensive knowledg

[2017-02-07 01:18] calebamiles commented on #40857
@sameo, has your question been answered? can this issue be closed?

[2017-02-07 01:20] calebamiles commented on #40850
labels added @xsgordon

[2017-02-07 01:21] fejta commented on #40953
This seems to be more a problem with statefulset than aws?

It is also a top source of flakiness in GKE and GCE environments:
http://storage.googleapis.com/kubernetes-test-history/static/suite-ci-kubernetes-e2e-gci-gce.html
http://storage.googleapis.com/kubernetes-test-history/static/suite-ci-kubernetes-e2e-gce-etcd3.html
http://storage.googleapis.com/kubernetes-test-history/static/suite-ci-kubern

[2017-02-07 01:39] kyjsqd222 commented on #37922
have you solved the problem yet?

[2017-02-07 01:48] ncdc commented on #40953
This is panicking because a watch on pods is getting back a `*v1.Status`, and not a `*v1.Pod`, as expected here: https://github.com/kubernetes/kubernetes/blob/7c7ca34246651243f5422897ab4eab56499b7403/test/e2e/statefulset.go#L259. I have this running in an infinite loop locally with some added code to print out the details of the status object, but have yet to get it to flake.

[2017-02-07 01:52] bprashanth commented on #40953
I checked https://github.com/kubernetes/kubernetes/issues/40953#issuecomment-277766908, it's a panic because this is not a pod:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/statefulset.go#L259
It's probably a tombstone, like: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go#L376

[2017-02-07 02:02] bprashanth commented on #40953
Oh, didn't realize @ncdc mentioned the exact same symptom. Also the tombstone theory is invalid because it's a raw watch.Until, not a watch through the informer like other controllers.

[2017-02-07 02:24] liyubobj commented on #40998
@DjangoPeng, @Hui-Zhi is working on the prelimiary GPU support, please follow #28216 for latest updates. Based on this PR, we also developed more advanced features waiting to merge to upstream, including GPU driver volume injection (same as nvidia-docker), heterogeneous GPU support, GPU topology-aware scheduling, etc. The timeline depends on #28216 , I'm sorry that I can not give you detailed road

[2017-02-07 02:27] liyubobj commented on #40998
agree with @cmluciano :)

[2017-02-07 02:34] rsanders opened #41057 "`kubectl describe` reports wrong unbound PersistentVolumeClaim for pending pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

PersistentVolumeClaim
"SchedulerPredicates failed due to PersistentVolumeClaim is not b

[2017-02-07 02:51] nikhiljindal commented on #33196
@zreigz @smarterclayton Did we contact the owners of those clients?

I am interested in this for federation where cascading deletion (deleting the resource from underlying clusters) is asynchronous. federation apiserver should return 202 in those cases. Since kube-apiserver and federation-apiserver share common code, it will be easier to change both together.

[2017-02-07 03:08] westwin commented on #35941
yes, manually oc edit pv does work. but it is not automatic resizing.

[2017-02-07 03:08] janetkuo commented on #29403
@xingzhou A new ticket sounds great! Unfortunately, I'm currently occupied by DaemonSets.

[2017-02-07 03:15] nikhiljindal commented on #33196
Verified that those clients still have the problem.
Filed https://github.com/fabric8io/kubernetes-client/issues/647 for fabric8io and https://amdatu.atlassian.net/browse/AKC-2 for amdatu.

[2017-02-07 03:17] stephanlindauer commented on #17088
one thing i don't seem to be able to understand is: why insist on ingresses not being able to use services from other namespace, when there aren't any security measures in place (as far as i know) to prevent any pod from just using the <service-name>.<namespace-name>.svc.cluster.local fqnd to get data from another namespace.
or is the fact, that this is possible a security flaw, that will be fixed

[2017-02-07 03:18] workhardcc commented on #40990
@cmluciano I take nodeSelector out but the same result. All my node has enough resources.

[2017-02-07 03:24] AI-PaaS commented on #20567
Does the issue be resolved? I have hit it. I have a four node cluster and kube proxy use iptables. In the cluster i deployed the zookeeper cluster and kafa cluster only. when i use java zk client connection to the zk, the connection established is very slow, same as kafka.

[2017-02-07 03:28] wstrange commented on #17088
@stephanlindauer I believe the intent is that cross namespace service access will not be allowed.

[2017-02-07 03:40] stephanlindauer commented on #17088
put then the question still stands: why not have a certain kind of flag or even `kind` to allow cross-namespace access to certain pods or have a service definition which namespaces they can be accessed from.
without this there would be a n:n (namespace:ingress-host) relation between namespace and hosts that expose them, while it would be nicer to have a n:1 relation to cut down on costs for additi

[2017-02-07 03:42] fzu-huang commented on #39717
What about Prometheus? It also used a lot of memory.I think there should be a option to disable it.

[2017-02-07 04:36] thockin commented on #20567
kube-proxy is not involved in connection setup.  If it is slow, it is
something else.

On Mon, Feb 6, 2017 at 7:25 PM, dou xiaofeng(窦晓峰) <notifications@github.com>
wrote:

[2017-02-07 04:45] thockin commented on #40248
kube-proxy needs iptables and conntrack installed, and I think that is it.

On Fri, Feb 3, 2017 at 3:16 PM, Jess Frazelle <notifications@github.com>
wrote:

[2017-02-07 04:50] billyteves commented on #40285
@iamzhout I also encountered this issue in minikube

[2017-02-07 04:52] JayBusch commented on #38774
Waiting patiently on this as well; fwiw.

$ kubectl --kubeconfig ../K8s_keys/admin.conf logs exchange-endpoint-service-4140876676-sqrxd
Error from server (InternalError): an error on the server ("unknown") has prevented the request from succeeding (get pods exchange-endpoint-service-4140876676-sqrxd)
$ kubectl --kubeconfig ../K8s_keys/admin.conf version
Client Version: version.Info{Major:"1", Mino

[2017-02-07 04:57] #32709 closed

[2017-02-07 05:17] Hui-Zhi commented on #40998
Yes, #28216 is targeted for 1.6

[2017-02-07 05:18] smarterclayton commented on #41055
@caesarxuchao and @lavalamp re: internal versions of objects in the kubelet

[2017-02-07 05:50] #32777 closed

[2017-02-07 06:31] jbeda commented on #40161
Right now on my mac if there is a strange bazel error I cannot easily debug it.  Our standard dockerized build image doesn't have bazel installed (so I can't `build/run.sh make bazel-build`) and the mac build just fails outright (not a cross compilation issue -- just that building on the mac for the mac).

[2017-02-07 06:48] liggitt commented on #38775
this is working as expected. "proxying" through the apiserver will not get you standard proxy behavior (preserving Authorization headers end-to-end), because the API is not being used as a standard proxy

a regular proxy would:
* return Proxy-Authenticate headers, and honor/strip-out Proxy-Authorization headers
* pass-through WWW-Authenticate and Authorization headers
* expect the desired destinat

[2017-02-07 06:48] #38775 closed

[2017-02-07 06:49] liggitt commented on #37023
closing due to age, please report if you still have issues

[2017-02-07 06:49] #37023 closed

[2017-02-07 06:58] iamzhout commented on #40285
@billyteves What is your cluster size(number of master + node)? and how many apps (pods) running in your cluster?

[2017-02-07 07:16] luxas commented on #41024
Ok, so this is not a bug by itself.
We're using an https repository (`apt.kubernetes.io`) and tbh it's currently expected that you know that using an `https` apt src requires `apt-transport-https`.

Anyway, this is probably something @lukemarsden will/can consider including the next time he takes a pass at the docs.

[2017-02-07 07:20] piosz commented on #40936
@calebamiles sorry. I was not aware of the definition of release blocker.

[2017-02-07 07:21] piosz commented on #40860
@caesarxuchao @lavalamp is this issue a release blocker?

[2017-02-07 07:34] jimmidyson commented on #33196
As one of the authors of the fabric8 client, one of the bad ones 😜, just to confirm that we should really be checking status codes off all operations are in success range of >=200 && <300 ? Simple change we can make today & get a release out.

[2017-02-07 08:21] wojtek-t commented on #41013
So I tried running large kubemark locally and it seems that the problem is that the size of cache is too small.
I added few more logs, and here is what I'm seeing:
[code]

So it seems that we are correctly initializing cachesizes, but then watch cache capacity is 100 (which explains why we are seeing all those "rv too old" errors.

I will try to debug why the capacity is so small.

[2017-02-07 08:45] wojtek-t commented on #41013
OK - I found it.
https://github.com/kubernetes/kubernetes/pull/41060 contains the fix.

[2017-02-07 08:57] NickrenREN commented on #41025
System kernel must contain .ko files first before we exec modprobe commands.  configs modules here does not exist in kernel so we can not load that.
I do not know what kubernetes can do here

[2017-02-07 09:02] wojtek-t commented on #41007
@yujuhong - thanks for looking into it.

I though it's a regression, thus the milestone. If it's not, then removing milestone sgtm. Thanks!

[2017-02-07 09:22] klinakuf commented on #37922
I'm behind a proxy and I've set the http(s)_proxy which was working a month ago, but now if I add the proxy also in the etc/yum.conf I receive some time outs with my proxy url.

[2017-02-07 09:30] DjangoPeng commented on #40998
@Hui-Zhi Thanks for your reply and work around GPU support. I'd like to try it in RHEL 7.0. Can we get the feature in kubernetes 1.6.0 release version?

[2017-02-07 09:32] neith00 commented on #34698
I'm experiencing the same Issue.
any news on that one?

[2017-02-07 09:59] dshulyak commented on #34441
I will help with this refactoring

[2017-02-07 10:00] kargakis opened #41063 "Reduce Deployment replicas in e2e tests"
Most of the Deployment tests in the [Kubernetes 24-Hour Test Report](http://storage.googleapis.com/kubernetes-test-history/static/index.html) flake because the pods used by the Deployment are not ending up [running after 5 minutes](https://github.com/kubernetes/kubernetes/blob/3527153426581d48804dd0073ab254f209142ade/test/e2e/framework/util.go#L1217) which is the [timeout used for waiting pods to

[2017-02-07 10:03] palonsoro commented on #28272
I also have a use case of people running Chromium (for Selenium tests). 64MB default of shm is too low for them. I also require to pass this option via pod spec and think it should be simple.

Someone suggested a workaround based on Open Shift docs (https://github.com/kubernetes/kubernetes/pull/34928#issuecomment-276784911), but it only would allow to change the default 64MB limit of docker by the

[2017-02-07 10:03] argent-smith commented on #24721
No, I can't. OS: I've tried Ubuntu 16.04 and CoreOS 1235.9.0. The server is
Synology DiskStation with DSM 6.0.2-8451 Update 9

2017-02-06 19:51 GMT+03:00 Huamin Chen <notifications@github.com>:

--
Yours truly, Pavel.

[2017-02-07 10:14] gmarek commented on #34441
@dshulyak - thanks!

[2017-02-07 10:36] #41013 closed

[2017-02-07 10:47] kargakis commented on #41039
I think introducing cleanup policy (`revisionHistoryLimit` in Deployments) and setting a default for it (number of latest jobs to retain) would be valuable to happen alongside graduating CronJobs to beta. Otherwise, the default will need to be set during the next graduation phase which I guess will take some time. We have had this issue with Deployments (https://github.com/kubernetes/kubernetes/is

[2017-02-07 10:52] kargakis commented on #39879
If the watch errors out before the specified timeout, then this is a serious issue we need to fix as it affects all of our tests.

[2017-02-07 11:01] wojtek-t commented on #39879
Yeah - watch.Until is somewhat broken. I filed an issue for it few months ago (in a different context, but the problem seems at least a bit similar): https://github.com/kubernetes/kubernetes/issues/31345

And yes - I agree that returning ErrWaitTimeout in this case is misleading and we should change that.

[2017-02-07 11:11] whitecolor commented on #35941
If you don't mind I'll ask about manual procedure of resizing. I have created 8GB PV in a cluster. What steps should be made to resize it to 10GB now?
Folloing instructions in https://cloud.google.com/compute/docs/disks/add-persistent-disk

- I resize it using UI in cloud console.
- On the node I made `sudo resize2fs /dev/disk/by-id/google-[DISK_NAME]`
- In cluster present volume I see capacity of

[2017-02-07 12:22] soltysh opened #41066 "Remove all helper code from pkg/apis"
This issue comes from [this discussion](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/aCuaL0DZZvI/2d6AMZ9lCgAJ). Basically we need to clean all `pkg/apis/` directories to contain only code relevant to this API types and nothing more. This would eliminate the need for api-reviewers to look into small changes that do not require their attention.

[2017-02-07 13:08] idvoretskyi commented on #40741
cc @zreigz @elsonrodriguez

[2017-02-07 13:26] phutchins commented on #19899
Re kube-lego, it looks like it's a really good start and fairly close to what I imagine we'll land on in the design doc. I'd be more than happy to help contribute to kube-lego and retire my project if that makes the most sense.

@simonswine, would you mind providing some feedback on the design proposal and let us know if it is in line with a direction that fits your vision of kube-lego? I'll defin

[2017-02-07 13:27] fx-dx commented on #13585
It would be great to export terminal dimensions with 'exec' command

[2017-02-07 13:30] ncdc commented on #13585
@fx-dx this has been implemented. Are you having some issues?

[2017-02-07 13:33] deads2k commented on #41015
This is for @kubernetes/sig-apps-feature-requests .  API machinery provides mechanisms for individual API owners to decide what should and should not be mutable.

[2017-02-07 13:33] fgrzadkowski commented on #40936
GCE is OSS, so I'm confused.

Anyway, I don't see how this would change anything. If we introduce regression in a component which is released with kubernetes, then we need to fix it before the release. Would you agree @calebamiles ? Am I misinterpreting something?

[2017-02-07 13:44] runephilosof commented on #23562
@ksingh7 I wanted to try your workaround, but I don't have those files on the apiserver node.

[2017-02-07 14:04] mnuttall commented on #8305
Today I found that `docker rmi $(docker images --filter "dangling=true" --format "{{.ID}}")` does the trick

[2017-02-07 14:11] jerryjung opened #41070 "pod failed to fit in any node fit failure summary on nodes : PodToleratesNodeTaints (1)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): pod pending

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPO

[2017-02-07 14:14] shyamjvs opened #41071 "[Feature Request] Create a version monitor for etcd to validate migration to v3"
Since we are moving to etcd v3 in 1.6 release, we need a way to validate the migration from v2 to v3 in existing clusters during rollout.
For this, we need to have a pod running on the master machine which periodically scrapes at least the following information:
- etcd server's binary version
- etcd backend version
- size of data in the v3 backend
- no. of gRPC calls to etcd (as gRPC <=> etcdv3)

[2017-02-07 14:21] #40979 closed

[2017-02-07 14:22] wojtek-t commented on #41071
This we can't do, because 3.*.* releases can support both v2 and v3 backend at the same time.

That's why the last two are a proxy for that i.e. are supposed to show us what we are doing.

[2017-02-07 14:35] #25341 closed

[2017-02-07 14:42] shyamjvs commented on #41071
@wojtek-t Thanks for clarifying, I was confusing backend version with cluster version :)
And just for clarification, for the no. of gRPC calls, seems like we do not have to include it as part of this version monitor as `etcd_grpc_requests_total` metric is already exposed as a prometheus metric by etcd's /metrics endpoint:
[code]

[2017-02-07 14:43] bgrant0607 commented on #39734
Closing as dupe of #35672

[2017-02-07 14:43] #39734 closed

[2017-02-07 14:44] ichekrygin commented on #39812
@justinsb Do you mean on 1.5 AWS that are after 1.5.2?
@jakexks  has repro on 1.5.2

[2017-02-07 14:49] ichekrygin commented on #39812
This is what I see in `kube-kubelet.service` log when `cAdvisor` loses container metrics:
[code]

[2017-02-07 14:50] bgrant0607 commented on #40119
@ymqytw Please dedupe this. There are several other issues about apply and edit for TPR.

Apply: https://github.com/kubernetes/kubernetes/issues/29542, https://github.com/kubernetes/kubernetes/issues/39906
Edit: https://github.com/kubernetes/kubernetes/issues/35993

[2017-02-07 14:52] talk2vino opened #41075 "ConfigMap won't Work as Consume as ENV"
**Environment**:

GCP Container Cluster

**Kube Version**:
[code]

In our Project we were trying to use the Configmaps/secrets heavily.

It's works when we consume the configmaps as a "Voulme Plugin". But it won't work when it consume as ENV.

[code]
I tried it in our app in deployment model, it wont work. So i take an example in kubernetes site and test via busybox.

[code]

The pod is failed wit

[2017-02-07 14:58] wojtek-t commented on #41071
@shyamjvs - let's copy this metric for now - it would be much easier to grab all the metrics from one place (i.e. this monitor container) than from two different places.

[2017-02-07 15:10] resouer commented on #41054
Kindly involve @xiang90 @hongchaodeng in.

Is there any existing doc, or should we work out a blog to cover this.

[2017-02-07 15:25] resouer commented on #40857
also cc @feiskyer

[2017-02-07 15:31] resouer commented on #41070
Could you please post your pod yaml and `kubectl describe your-node`?

[2017-02-07 15:43] CaliLuke commented on #15817
I'm also interested in reading some kind of guide on how to get Flink to work on Kubernetes

[2017-02-07 15:48] resouer commented on #15817
@harold-sun @hsaputra Would you like to send a doc PR about `Apache Flink on k8s` in `https://github.com/kubernetes/kubernetes/tree/master/examples` as an official guide?

[2017-02-07 15:51] sugun999 opened #41078 "pod to pod communication is very slow"
Hi,

I have setup kubernetes on openstack with coreOS and deployed pods under custom namespace.

Everything is working fine. I have scenario where one pod/container need to call method of another pod/container which is also working fine.
But the response time of that method invocation is very slow. I noticed this with quick load test with curl and it freezes for about 4-5sec for every 10-15 reques

[2017-02-07 16:16] liggitt commented on #40973
cc @stevekuznetsov

[2017-02-07 16:34] stevekuznetsov commented on #40973
Seeing this intermittently as you say, in Origin e2e CI.

[code]

[2017-02-07 16:35] stevekuznetsov commented on #40973
@pmorie was thinking this may be symptomatic of the `kubernetes` service not actually starting.

[2017-02-07 16:43] yujuhong commented on #39879
Can we replace `watch.Until` with something else (polling?) in the tests until we fix it properly?

[2017-02-07 16:47] chrislovecnm commented on #41010
@calebamiles kube-up.sh is being depreciated :( Are you using that to install?  I recommend using a tool like kops or coreos' tool.

[2017-02-07 16:48] yujuhong commented on #40972
@kubernetes/sig-storage-bugs

[2017-02-07 17:00] yujuhong commented on #31345
This is causing quite a lot of test flakes. Can we replace `watch.Until` with something else (polling?) in the tests until it's fixed properly?

[2017-02-07 17:05] yujuhong commented on #41063
In the few deployment tests (#39879) I checked, the test timed out long before 5 minutes. It was mentioned that #31345 (unreliable `watch.Until()`)may be the cause of the misleading timeout errors.

[2017-02-07 17:08] cmluciano commented on #41078
Can you provide details on the CNI plugin that you are using?

[2017-02-07 17:09] stp-ip commented on #34982
@ryan-loanpal Do you have any issues with the recent 1.5.2 and 1.6.0-alpha1 releases?
Does defaultMode and Mode on items work for you?

[2017-02-07 17:11] liggitt opened #41081 "NewSelfClientConfig assumes certs are valid for bind IP / localhost"
NewSelfClientConfig assumes that the server's TLS certificates will be valid for the bind IP or (in the case of binding to 0.0.0.0) will be valid for localhost.

If there is not a valid certificate for the bind IP or localhost, the client built by NewSelfClientConfig will fail with TLS errors, and the server bootstrap will fail.

[2017-02-07 17:31] kargakis commented on #41012
@kubernetes/sig-apps-bugs

[2017-02-07 17:31] talk2vino commented on #41075
The file name is taken as the key for configmap. I did the wrong implementation.

[2017-02-07 17:31] #41075 closed

[2017-02-07 17:45] nikhiljindal commented on #38225
https://github.com/kubernetes/kubernetes/pull/35950 is now merged so this should be fixed.
We should add a test to verify

[2017-02-07 17:49] xnox commented on #38067
Hello. about s390x support I see for example k8s-dns-kube-dns-ppc64le and flannel-ppc64le, but not s390x variants for those. Will gcr.io/google_containers/flannel-s390x and gcr.io/google_containers/k8s-dns-kube-dns-s390x be build and published soon? Anything outstanding to make that happen?

[2017-02-07 17:52] kow3ns commented on #41015
@devnev You are correct in that the only fields for a StatefulSet that can be updated are replicas and containers [see this](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/validation/validation.go#L101-L123), but deleting a StatefulSet will not cause a cascading delete of the PVCs and PVs generated for the Pods. You can use a non-cascading delete of the StatefulSet to delete on

[2017-02-07 18:04] ncdc commented on #40817
@screeley44 are you still having issues with this?

[2017-02-07 18:47] jessfraz commented on #38774
there is a 1.5 release scheduled on the 10th, just hang tight :)

On Mon, Feb 6, 2017 at 8:53 PM John Busch <notifications@github.com> wrote:

[2017-02-07 18:52] divyenpatel opened #41087 "Update existing and add new E2E tests for vSphere Cloud Provider"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): vsphere

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQU

[2017-02-07 18:52] alledm commented on #38774
I honestly don't understand how a bug so critical can take a month to be resolved or released... Disappointed.

[2017-02-07 18:52] shyamjvs commented on #41071
SGTM. Will do it, thanks.

[2017-02-07 18:54] divyenpatel commented on #41087
PR: https://github.com/kubernetes/kubernetes/pull/40756

[2017-02-07 18:54] wstrange commented on #24687
Also having issues. I have made the suggested edits above, but the busybox pod can not mount the pvc:

[code]

This is on minikube 0.16, kube 1.5.2

Also - is there a tracking bug for

[2017-02-07 18:56] jessfraz commented on #38774
It's open source software, you are more than welcome to come and help
things happen at a speed which you would find more appealing.

On Tue, Feb 7, 2017 at 10:53 AM Alessandro De Maria <
notifications@github.com> wrote:

[2017-02-07 18:58] yujuhong commented on #40061
@justinsb, you weren't there in today's sig-node meeting, so this issue was skipped (actually @dchen1107 and @timstclair were also unable to attend).

I discussed with @timstclair last week, and here are our thoughts. First, the CVE is not good, but in kubernetes, most pods have access to the apiserver and can do more damage if they are malicious. Normal users who don't enforce extra security meas

[2017-02-07 18:59] justinsb commented on #38774
@alledm @Dmitry1987 you shouldn't have to do `docker logs` via SSH (or equivalent).  You always have to specify the container name to `kubectl logs` when there is more than one container in a pod; the bug is simply that we don't print the handy list of containers.  I agree that this is an annoying regression, but I don't think it's critical (?).  You can still get the list of containers via `kubec

[2017-02-07 18:59] JayBusch commented on #38774
Happy to hear about the release; and thank you.  I posted my comment just to let folks know there were people wanting this.  Definitely appreciate everyone's hard work and contribution.

[2017-02-07 19:10] cwsolee commented on #38067
Both gcr.io/google_containers/flannel-s390x and gcr.io/google_containers/k8s-dns-kube-dns-s390x are work in progress. We just finish flannel porting and PR almost all done. Next is add enable build script to create image in gcr.io, might be a while though.

[2017-02-07 19:15] Random-Liu commented on #41025
System verification tries to look for kernel configuration files in the following location: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/system/kernel_validator.go#L174-L177.

If not found, it will try to load the configs kernel module and try again.

I created a Ubuntu 16.04 vm, and checked the kernel configuration, it IS there:
[code]

How about your node? https://github.co

[2017-02-07 19:22] abuehrle commented on #41025
It's showing me an older version of the kernel:

[code]

I wondered about this.  As mentioned I had update the kernel manually with ```apt-get install linux-image-$(uname -r)```

does the kernel need to be: ```config-4.4.0-62-generic``` ?

[2017-02-07 19:33] #39879 closed

[2017-02-07 19:34] Random-Liu commented on #41025
Nope. But the system verification tool needs to find the kernel configuration file and do verification.

System verification run `uname -r` to get the kernel release, and then tried some possible paths including `/boot/config-$(uname -r)`. Once a kernel configuration file is found, it will stop searching and do verification.

In your case, it seems that before you run `apt-get install linux-image-

[2017-02-07 19:35] smarterclayton commented on #33196
Honestly this has backwards compatibility implications - we can't force
every client in the world to update by changing response codes without a
really good reason.  This breaks backwards compatibility, even if it is
more accurate.

On Tue, Feb 7, 2017 at 2:34 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2017-02-07 19:37] dmmcquay opened #41091 "Error using fake ClientSet"
**BUG REPORT **:

**Kubernetes version** (use `kubectl version`): dev branch

**What happened**: Trying to use fake.ClientSet in unit tests in kubeadm and am getting an error.

`./addons_test.go:12: cannot use s (type *"k8s.io/kubernetes/vendor/k8s.io/client-go/kubernetes/fake".Clientset) as type *clientset.Clientset in argument to getDNSIP`

**What you expected to happen**: Expected to be able to

[2017-02-07 19:40] foxish commented on #41012
This is correct. They do not depend on the first one running correctly. If pod-0 restarts, the StatefulSet controller will bring that back up, but will not affect pod-1 and pod-2 which are already running. The more likely event here seems like one of your node deletions took down pod-1 and pod-2 after pod-0 went unhealthy. In that case, we do not attempt to recreate pod-1 or 2 till pod-0 becomes h

[2017-02-07 19:40] smarterclayton commented on #31345
We should maybe just turn the client timeout way up.  It's kind of arbitrary and I opened another issue about removing it.

[2017-02-07 19:41] dashpole commented on #40474
@freehan I would like to handle errors resulting from concurrent calls to teardown.  Where do you think the best place to introduce that error handling is?

[2017-02-07 19:44] cdragga commented on #41041
It looks like the problem is in line 86 of `pkg/volume/iscsi/iscsi_util.go`, in the `getDevicePrefixRefCount` function.  The check evaluates whether a given mount path starts with the prefix (protocol + target portal + target IQN) for the LUN; this will always evaluate to false in most set-ups, since each path will look something like  `/var/lib/kubelet/plugins/kubernetes.io/iscsi/<prefix>`.  Chan

[2017-02-07 19:44] pires commented on #41091
I believe the problem is in `getDNSIP(s)` that wants a different _clientset_, namely the one in `k8s.io/kubernetes/pkg/client/clientset_generated/clientset`.

Now, what's the solution? Perhaps [adopt client-go in kubeadm](https://github.com/kubernetes/kubeadm/issues/52)?

[2017-02-07 19:45] foxish commented on #41015
To add to what @kow3ns said, allowing modification of the template spec without outlining a good update strategy for the pods themselves can lead to situations where pods created after the template spec was changed have totally different properties from those created prior to modification of the spec. It is currently locked down to avoid surprising the user with situations like these.

[2017-02-07 19:55] #40976 closed

[2017-02-07 19:55] #40889 closed

[2017-02-07 19:55] #40680 closed

[2017-02-07 19:55] #40675 closed

[2017-02-07 19:55] #38027 closed

[2017-02-07 19:55] #37913 closed

[2017-02-07 19:56] #37894 closed

[2017-02-07 19:56] #37895 closed

[2017-02-07 19:56] #40794 closed

[2017-02-07 20:03] alledm commented on #38774
I apologize for my message, which could have been more constructive. I didn't mean to upset anyone. I wish the workarounds @justinsb provided were made more visible. My workaround was to downgrade manually to kubectl 1.4.7.

[2017-02-07 20:03] luxas commented on #41025
@Random-Liu So what can the system verification check do if the configs module isn't present?

[2017-02-07 20:07] luxas commented on #38067
cc @bowei

The `gcr.io/google_containers/k8s-dns-kube-dns-s390x` image is just an extra command for the Googler that's releasing the image.

For flannel, you have to coordinate with them, the `gcr.io/google_containers/flannel` doesn't exist anymore because I and the flannel team ported it "upstream" to flannel.

Overall, there are k8s binaries for s390x since v1.6.0-alpha.1 and adding debs for it

[2017-02-07 20:11] vchan2002 commented on #22224
The code seems to indicate that the tag to look for
`	filters := []*ec2.Filter{newEc2Filter("tag:"+TagNameKubernetesCluster, clusterName)}`
However... either putting in TagNameKubernetesCluster or KubernetesCluster with the cluster name (I just stuck with the default kubernetes) doesn't seem to work.... the controller still complains about it.

[2017-02-07 20:25] jimmidyson commented on #33196
Totally agree, but I just wanted to be safe in case of changes in future.

[2017-02-07 20:44] rootfs commented on #41041
@cdragga
The problem is that the mount device shown in /proc/mounts are canonicalized, and thus when searching device prefix, iscsi volume failed to find a match.

If we can use `-c` mount option, this the device will show up in /proc/mounts. But this is not a reliable fix since there are probable mpio paths too.

[2017-02-07 20:49] cdragga commented on #41041
@rootfs
If I'm reading the code correctly, the function doesn't look at the actual device that's backing the mount point; it looks at the mount path (i.e., the second token in /proc/mounts, rather than the first).  Thus, the change I proposed (HasPrefix -> Contains) appears to work with some very basic testing.  That said, I've not done anything with multipathing, so there may be something I'm mis

[2017-02-07 21:02] paralin commented on #17088
@robhaswell I'm not familiar with how the Google Cloud router works with Ingress right now. If you use the nginx ingress controller and point a LoadBalancer at the ingress controller you will get what you want - a single stable IP address TCP load balancer created by the Service pointing to a horizontally scaleable nginx layer. Moving Ingress objects between namespaces just updates the Nginx confi

[2017-02-07 21:07] xmik commented on #40346
Thanks @slouly, I confirm that setting `default` retention policy solves this. Instead of `INF`, I set it to `30d` and it worked too. (Verification: measurements like `cpu/limit` are visible on influxdb).

[2017-02-07 21:18] rootfs commented on #41041
@cdragga I see your point, yes that sounds right to me.

[2017-02-07 21:26] rootfs commented on #41041
@cdragga I think in this case, mpio device should work too (since the mount path constructed in the same way). I see you have yet another iscsi issue open, I am good with rescan.

Can you create a pr to fix them?

[2017-02-07 21:26] sttts commented on #41081
We can do two things:
- create a self-signed cert in memory just for the loopback connection, if none is valid for the IP and/or localhost
- just accept all SNI server certs from the client.

[2017-02-07 21:33] rootfs opened #41096 "Kubelet volume manager doesn't unmount volume"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

Kubelet volume manager doesn't unmount volumes (rbd, iSCSI, etc) that are not controlled by attach-detach-controller.
**Kubernetes version** (use `kubectl version`):
1.6

**Environment**:
- **Cloud provider or hardware configuration**: local cluster
- **OS** (e.g. from /etc/os-release):  CentOS
- **Kernel** (e.g. `uname -a`):
-

[2017-02-07 21:36] smarterclayton commented on #33196
I'm not sure what boundary would be safe to change this on except an API
version boundary.

On Tue, Feb 7, 2017 at 3:25 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2017-02-07 21:37] smarterclayton commented on #41012
And we have had feedback that users would like to opt in to a
non-deterministic order - that may very well be reasonable to experiment
with in 1.6 if we can reach agreement on the form.

On Tue, Feb 7, 2017 at 2:41 PM, Anirudh Ramanathan <notifications@github.com

[2017-02-07 21:39] smarterclayton commented on #39363
Yeah, that works for me.  We could consider "burst: majority" or a percentage to allow someone who isn't dependent on ordering to ensure that the controller will keep trying to fill the slots to achieve a majority even if the rate of evictions > rate of renewal.  But burst=all would be the first knob to try probably.

[2017-02-07 21:45] dmmcquay commented on #41091
Was not a bug, func wasn't asking for type, not looking for an interface, hence why it failed.

[2017-02-07 21:45] #41091 closed

[2017-02-07 21:52] abuehrle commented on #41025
@Random-Liu I can work around that in my post until there is an update for this. Thanks for your help!

[2017-02-07 21:54] freehan commented on #40474
Probably here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/kubenet/kubenet_linux.go#L501

[2017-02-07 22:01] codablock commented on #39791
@NickrenREN Please check https://github.com/kubernetes/kubernetes/pull/40148#issuecomment-278154269

Forcefully detaching the volume from a node while the old POD is still running/terminating sounds like a bad thing.

[2017-02-07 22:03] dashpole commented on #40474
Would it make more sense to put it where #40550 places it?  My goal there was to handle that specific error, and reduce the chance that "no such file or directory" errors from other parts of teardown would accidentally be ignored.

[2017-02-07 22:05] tonglil commented on #40459
@gyliu513 when I remove/move `~/.kube/config` I get:
[code]

[2017-02-07 22:06] blakebarnett opened #41102 "Delete a PVC for a StatelfulSet without deleting the PV causes a loop on VolumeDelete"
**Kubernetes version** (use `kubectl version`): 1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 8 (jessie)
- **Kernel** (e.g. `uname -a`): 4.4.41-k8s
- **Install tools**: Kops 1.5
- **Others**: Terraform

**What happened**: We had someone install and remove this chart a few times: https://github.com/kubernetes/chart

[2017-02-07 22:12] tonglil commented on #40459
I manually updated `hack/local-up-cluster.sh` and added `--anonymous-auth=true` to the api server and now it works.

[2017-02-07 22:16] blakebarnett commented on #41102
Seems like this would at least resolve the back-off, but why is it loopin in the first place?  https://github.com/kubernetes/kubernetes/pull/38339

[2017-02-07 22:26] sugun999 commented on #41078
Hi,

Used coreOS flannel overlay networking. When creating /etc/systemd/system/kubelet.service, for  kublet-wrapper,  the parameter --network-plugin= is specified as empty.

Also, system drop-in /etc/systemd/system/docker.service.d/40-flannel.conf, contains only

[Unit]
Requires=flanneld.service
After=flanneld.service

But this doc https://coreos.com/kubernetes/docs/latest/deploy-master.html, says

[2017-02-07 22:35] mbohlool commented on #22405
@jimmidyson @iocanel, I looked at fabric8 and it looks pretty good. But one of the important features of a supported/blessed client is being up to date with latest API changes. I've achieved that for [client-python](https://github.com/kubernetes-incubator/client-python) by generating it from k8s OpenAPI spec and I would like to do the same for java.

I was written a proposal for a fluent interface

[2017-02-07 22:37] Random-Liu commented on #41025
As long as the kernel configuration file can be found at either of [the paths](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/system/kernel_validator.go#L174-L177), system verification will not try to load the kernel module.

If the configuration file doesn't present, and there is no `configs` module, then for now I don't know where to find kernel configuration. :( System verif

[2017-02-07 22:40] foxish commented on #41102
/cc @kubernetes/sig-apps-bugs

[2017-02-07 22:44] foxish commented on #41102
/cc @kubernetes/sig-storage-bugs

[2017-02-07 23:24] vchan2002 commented on #22770
Set something master-resolvable via --hostname-override on the kubelet.
Have the cloud-provider rename the node to something non-resolvable.

[2017-02-07 23:28] codablock commented on #32929
@jeremywadsack Is it still running without issues atm? Are you already on 1.5?

I found this issue while looking for something else and I feel that at least part of the problems described here may be related to the attach/detach controller racing with the kubelets volume manager.

As I understand this issue, it happened when frequent rescheduling of PODs happened. Also, in one of comments, there w

[2017-02-07 23:59] itajaja commented on #33084
I am hitting this exact problem, running 1.4. has this been fixed? If I look at the [docs](https://kubernetes.io/docs/admin/garbage-collection/):

seems like this should not be happening

[2017-02-08 00:01] foxish commented on #41012
I imagine that such non-determinism would apply at initialization time as well? Can you expand some more on the potential use cases of what you mention? If it is a legitimate use case, then we should open up an issue and start collecting concrete use cases which point to this need.

[2017-02-08 00:30] smarterclayton commented on #41012
Discussed in https://github.com/kubernetes/kubernetes/issues/39363

On Tue, Feb 7, 2017 at 7:01 PM, Anirudh Ramanathan <notifications@github.com

[2017-02-08 00:35] shyamjvs opened #41108 "Regression in most Kubemark tests"
There seems to be a major regression with pretty much all the kubemark CI tests starting from around 12:00 (time as shown on gubernator dashboard).
From the commits around that time, seems like none of the commits in the kubernetes repo affected the code.
However, the following commit in test-infra merged around that time has changed the kubemark job scripts from .sh files to .env files along with

[2017-02-08 00:38] krzyzacy commented on #41108
emmm...

give me 10min take a look before reverting it

[2017-02-08 00:39] krzyzacy commented on #41108
@shyamjvs I did trigger the job locally while the jenkins job was still running, can it break the project?

[2017-02-08 00:52] bprashanth commented on #19899
Let's restrict discussion to external -> internal https and letsencrypt certificates. I'm not talking about certs for intra cluster Services. We're still figuring out an api for "internal lb", or intra-cluster Service gateways.

The first question I'd like to tackle is: Do we really need to include Pods and Services in the design?

User adds a label or labels to a deployment or pod **(see below fo

[2017-02-08 00:54] janetkuo commented on #31345
Filed #41112

[2017-02-08 01:06] shyamjvs commented on #41108
@krzyacy Well technically, if you try triggering the job locally (assuming you are doing it with exactly the same job config), it should fail if there is already a job running as you'd have conflicts with the machine names at the very least. However, if there's something else that you did, I'd be interested in knowing. :)