[2016-11-11 10:26] kargakis commented on #36554
Is it possible to collect them? Is there any reason not to do so?

[2016-11-11 10:30] verb commented on #1615
FYI: after talking with @vishh it sounds like the first step towards a shared PID namespace is an Infra container that cleans up zombies. I'm going to start digging into this. Please wave me off if someone else is working on it.

I've noticed the 4 points above that @bgrant0607 wants to ensure. I'll reach out to SIG Node to discuss this and, in particular, compatibility of an infra container with

[2016-11-11 10:46] miry commented on #33544
@eparhei can you  try to do first: `curl "http://10.144.2.200:9898/cluster-info/v1/?token-id= 012345"`

and from master can you provide the full logs. it should contain in the end the node join command line.

[2016-11-11 10:52] miry commented on #34101
@thedos1701 you need add route to 16.96.0.1 via your you VPN interface.

https://github.com/kubernetes/kubernetes/issues/34101#issuecomment-253745940

[2016-11-11 10:53] gjcarneiro commented on #28272
My use case is a big shared memory database, typically at a 1 GiB order, but we usually reserve 3 GiB shared memory space just in case it grows.  This data is constantly being updated by a writer (a process), and must be made available to readers (other processes).  Previously we tried redis server for this, but the performance for this solution was not great, so shared memory it is.

My current w

[2016-11-11 11:28] BoriszhangSec commented on #29166
1.4.4 same issue

 kubernetes-a5683f4ff62d4f3e97366b63b6de43bc-37af5da575a   Pod                 Warning   FailedMount   {kubelet ubuntu}   Unable to mount volumes for pod "kubernetes-a5683f4ff62d4f3e97366b63b6de43bc-37af5da575a_f8-001(8108b06c-a7fe-11e6-94a6-000c29197b8c)": timeout expired waiting for volumes to attach/mount for pod "kubernetes-a5683f4ff62d4f3e97366b63b6de43bc-37af5da575a"/"f8-00

[2016-11-11 11:35] dims commented on #36629
@NickrenREN : the key is this error
[code]

Can you please do that and THEN run `verify-gofmt.sh` please?

You should see an update to `test/test_owners.csv`

[2016-11-11 11:54] irfanurrehman commented on #36587
@madhusudancs
about the second issue, relating tag
On any given day, I clone the latest k8s repo
do make WHAT=federation/cmd/kubefed
use the newly built kubefed bin to run
kubefed init --host-cluster-context=<context> <fed-name>

the tag value picked by version.get() will be something like v1.6.0-alpha.0.433+dbb4def47046da (today)
I think version.get builds the version string using the last applie

[2016-11-11 12:01] #36598 closed

[2016-11-11 12:06] dims commented on #36633
Should we start a NOTICE.txt like the folks at apache.org do?
http://www.apache.org/dev/licensing-howto.html

Example from one of the projects:
https://svn.apache.org/viewvc/geronimo/server/trunk/NOTICE?annotate=1096964

[2016-11-11 12:16] TerraTech commented on #25988
@yifan-gu @euank is there any progress on this as I'm having to run a few kubernetes + docker runtimes and push anything needing init containers to them exclusively.

[2016-11-11 12:40] wstrange commented on #28272
My use case is an Apache policy agent plugin that allocates a very large (2GB) cache. I worked around it by setting a very low shm value. This is OK for development, but I need a solution for production.

Adjusting shm size dynamically seems tricky. From my perspective, declaring it as a container resource would be fine.

[2016-11-11 13:22] k8s-merge-robot opened #36649 "[k8s.io] Pods should allow activeDeadlineSeconds to be updated [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/2405/

Failed: [k8s.io] Pods should allow activeDeadlineSeconds to be updated [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-11 13:24] ddysher commented on #28272
My use case is to run database application on top of kubernetes that needs at least (2GB) shared memory.  Right now, we just set a large default; it would be nice to have a configurable option.

[2016-11-11 15:16] seppeljordan opened #36652 "kube-proxy cannot set iptables rules for services"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0+a16c0a7", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"not a git tree", BuildDate:"2016-11-08T01:00:01Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.2", GitCommit:"c

[2016-11-11 15:30] andreyz commented on #30617
Made me loose 2 hours hunting down sudden `kubectl oath2 invalid_token` error... Thanks!

Figured out from [release notes](https://cloud.google.com/sdk/release_notes) that I just need to run `gcloud auth application-default login` instead of the previous `gcloud auth login`.

Why the hell `gcloud auth login` doesn't warn about the change?

[2016-11-11 16:24] brendandburns opened #36653 "kubectl on windows seems slow..."
Not sure why, but `kubectl.exe` on windows feels really slow, we should investigate some more.

[2016-11-11 16:40] pavels commented on #34782
Can this be backported into 1.4? It's hard to do clean machine shutdown without this.

[2016-11-11 16:56] sebgoa commented on #36653
yup, noticed that as well. fyi: there are a few minikube improvements needed for windows as well.

https://github.com/kubernetes/minikube/issues/651

[2016-11-11 16:58] sebgoa opened #36655 "contributor experience feedback"
After yesterday contrib-ex session at the dev summit, I tried to compile from scratch following the README.

Here are my notes:
---

Clone repo

[code]

Assuming you have GO environment setup before.
Intuitively try `make` (@thockin just said it works)

[code]

Result: Does not work, missing Go libraries.

I don't want to dig into the dependencies, I want a docker build...

Scroll down main README

[2016-11-11 17:01] kerneltime commented on #36295
Give the full path. Here is what it looks for my setup using Kube-up
export GOVC_RESOURCE_POOL='/Datacenter/host/10.20.104.41/Resources'
That said the assumptions for what constitutes a zone is very prescriptive here. It should be up to the deployment logic to label the nodes for their availability zones rather than the nodes trying to figure it out.

[2016-11-11 17:05] piosz commented on #34679
@fgrzadkowski currently we are collecting logs from kube-addon-manager. The lack of those logs in http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2327/artifacts/jenkins-e2e-master/ might be caused by the same reason that Heapster was not started.

[2016-11-11 17:06] bprashanth commented on #36500
It uses hostport, so under these conditions, it won't: https://github.com/kubernetes/kubernetes/issues/29742. I consider those bug fixes, but I haven't looked into viable alternatives yet.

[2016-11-11 17:06] piosz opened #36656 "Ensure that logs from all Kubernetes components on the master are being collected"
Log should be collected by both jenkins and fluentd.

follow up https://github.com/kubernetes/kubernetes/issues/34679#issuecomment-259656118

[2016-11-11 17:07] saturnism commented on #35637
Also, I noticed that multiple A records for ELB were associated w/ the same DNS entry when the IPs were out of sync. This could be dangerous when the FQN is associated to an IP not belong to you anymore.

If anything, it should sync & refresh w/ newly resolved IP, and replace existing entry rather than appending to it.

[2016-11-11 17:07] dashpole commented on #29033
The following document has my thoughts on this issue.  The most pressing section is the "Volume Deletion Design Issue" section.
Thoughts on the best way to address this problem are welcome, especially from anyone with a better understaning of how we handle volumes.
This is should be visible to everyone, but let me know if there are access issues.
[https://docs.google.com/document/d/1wHpFQ2EShPB_Gz

[2016-11-11 17:09] saturnism commented on #35637
should it at least resync the IP, especially when TTL is reached?
and use CNAME for the cluster-specific entry

[2016-11-11 17:10] sebgoa commented on #36655
bottom line, the root Makefile does not do Docker build.
It takes three clicks to get to find: `build-tools/run.sh make`
and then without investigation it fails.

The root README, should have a two line close to the top:

---
Build for the impatient:

git clone
make
ls /bin
---

remember (configure, make, make install)

[2016-11-11 17:19] saturnism opened #36657 "Deleting a cluster from the federation doesn't clean up DNS entries"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.1", GitCommit:"33cf7b9acbb2cb7c9c72a10d6636321fb180b159", GitTreeState:"clean", BuildDate:"2016-10-10T18:19:49Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1"

[2016-11-11 17:19] saturnism commented on #36657
/cc @quinton-hoole

[2016-11-11 17:28] autrilla commented on #36067
It may be worth noting this happened to me with a single node, not several.

[2016-11-11 17:32] eggie5 commented on #36067
@autrilla that seems like a different issue that me. Does your mount initially? Mine mounts fine initially, then when the pod is shuffled to a different node, the mount gets stuck on the previous node.

[2016-11-11 17:34] nailgun commented on #23920
Besides using `hostNetwork` I had to manually open ports on nodes using iptables. After that it started working.

[2016-11-11 17:34] autrilla commented on #36067
@eggie5 well, it depends on what you mean by "initially". I've had the volume mounted correctly before, but currently k8s can't mount it, even after I restarted the node.

[2016-11-11 17:34] k8s-merge-robot opened #36658 "[k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working mysql cluster [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/2063/

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working mysql cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]

[2016-11-11 17:48] quinton-hoole commented on #36657
Thanks @saturnism.  This is currently by design, although I agree that it could be argued that this is not the ideal behavior.

[2016-11-11 18:13] jeffvance commented on #36624
Thanks for the sig-testing CC @saad-ali

[2016-11-11 18:21] Thermi opened #36659 "kubernetes 1.3 kube-apiserver high CPU usage"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Kind of. More like a bug report.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubernetes apiserver CPU usage 100%

---

**Is this a B

[2016-11-11 18:33] davetropeano commented on #36220
@dgonzalez your comment about "[the] problem with listening for Type=LoadBalancer is magical things happening in the background." is what happens when you are using a cloud provider like AWS, GCE, Openshift, etc. Getting the instance of the LB is an async process that happens behind the scenes.

FWIW the `service-loadbalancer` contribution does not support listening against Type=LoadBalancer, inst

[2016-11-11 18:41] gmarek opened #36661 "Generated client should not create file per resource"
Otherwise we'll need to do some *bad* stuff to make Bazel work. We currently create a file per resource (pod.go, service.go, etc.). The problem is that Bazel can't handle that, as it requires well known list of output files to work. Can we just put all generated clients in a single client.go file?

cc @mikedanese @thockin @wojtek-t

[2016-11-11 18:43] bprashanth commented on #36656
gke master logs in jenkins output would help a LOT in root causing test flake, fwiw, though I'm assuming this issue doesn't apply

[2016-11-11 18:55] mikedanese commented on #36661
I beat you to this one :) dup of https://github.com/kubernetes/kubernetes/issues/36082

[2016-11-11 18:55] #36661 closed

[2016-11-11 18:55] janetkuo commented on #36453
+1

[2016-11-11 18:58] calebamiles commented on #33232
@saad-ali, closing at suggestion of @timstclair. Testgrid looks good for the last day

[2016-11-11 18:58] #33232 closed

[2016-11-11 19:09] dchen1107 commented on #34911
@gmarek sent me this issue, and I haven't gone through all updates on this issue yet. But if the issue is only occurring on GCI nodes, it might be intended since on GCI image, we enforce the cpu quota.

[2016-11-11 19:23] ixdy commented on #36554
we don't have ssh access to the GKE masters AFAIK.

[2016-11-11 19:29] pwittrock commented on #36620
We need to do a better job of educating users how to use apply and its relationship with the other imperative config commands.  This wasn't clear to me for a while even after I had been using it.

[2016-11-11 19:41] vishh commented on #34911
FYI: Quota enforcement applies to user containers only. That should not
slow down the kubelet or docker daemon.

On Fri, Nov 11, 2016 at 11:09 AM, Dawn Chen <notifications@github.com>
wrote:

[2016-11-11 19:52] joshk0 commented on #28515
@rileylark, when I went to Kubernetes v1.4 the issue went away, I think.

[2016-11-11 19:57] mtaufen commented on #34911
We bumped the log verbosity for gci-gce-scalability around 2pm yesterday, hopefully we'll get a flake soon that will help us debug this.

[2016-11-11 20:01] ymqytw commented on #36620
I will send a PR for this today.

[2016-11-11 20:08] vishh commented on #1615
Developing in `C` might be worth the maintenance overhead since the infra container is run for every single pod.

[2016-11-11 20:11] vishh commented on #28272
@ddysher @wstrange @gjcarneiro Do you applications dynamically adjust their behavior based on the shm size? Will they be able to function if the default size is >= pod's memory limit?

[2016-11-11 20:37] calebamiles commented on #32755
added a non-release-blocker as this is an example @saad-ali. Any updates on this failure @mwielgus?

[2016-11-11 20:41] timstclair commented on #35341
Fixed by https://github.com/kubernetes/kubernetes/pull/35342

[2016-11-11 20:41] #35341 closed

[2016-11-11 20:42] calebamiles commented on #32535
thanks for the update @mtaufen, are there more spreadsheets like the one you linked into the issue that could help me determine whether an issue is blocking or not?

[2016-11-11 20:45] quinton-hoole opened #36665 "e2e Tests for Federated Daemonsets are not running"
They need a "Feature:Federation" label, like all the other Federation e2e tests.

  https://github.com/kubernetes/kubernetes/pull/35067

[2016-11-11 20:47] timstclair opened #36666 "[CRI] Add authentication to streaming server"
Address TODO [here](https://github.com/kubernetes/kubernetes/blob/2822e4fd78ca2f448317f97acb551f8e23b5cd58/pkg/kubelet/server/streaming/server.go#L95)

Proposal [here](https://docs.google.com/document/d/1OE_QoInPlVCK9rMAx9aybRmgFiVjHpJCHI9LrfdNM_s/edit#heading=h.nj7347k9gf4q)

/cc @kubernetes/sig-node @liggitt

[2016-11-11 20:50] calebamiles commented on #32214
thanks for updating this issue @yujuhong

[2016-11-11 20:50] timstclair opened #36667 "[CRI] Serve streaming requests from pod namespaces"
Address TODO [here](https://github.com/kubernetes/kubernetes/blob/2822e4fd78ca2f448317f97acb551f8e23b5cd58/pkg/kubelet/server/streaming/server.go#L178) and [here](https://github.com/kubernetes/kubernetes/blob/2822e4fd78ca2f448317f97acb551f8e23b5cd58/pkg/kubelet/server/streaming/server.go#L195).

Requires pod-level cgroups for dockershim implementation (https://github.com/kubernetes/kubernetes/issu

[2016-11-11 20:50] timstclair commented on #29579
I think we can close this now, since the indirect (CRI) path is setup for the dockershim. Remaining work includes:

- Resolving TTY in Kubelet (https://github.com/kubernetes/kubernetes/pull/36615)
- Deal with very long commands (https://github.com/kubernetes/kubernetes/issues/36187)
- Implement authentication interface (https://github.com/kubernetes/kubernetes/issues/36666)
- Serve streaming comma

[2016-11-11 20:50] #29579 closed

[2016-11-11 21:08] vladlosev commented on #34772
Having the same problem. When this is happening, the scheduler log is full of entries like
[code]
This problem is exacerbated by the fact that HPA will stop updating deployment's CPU utilization in the presence of such failed pod - that will break autoscaling and may cause an outage. This is what is showing in controller-manager's logs:
[code]
We are on Ubuntu 14.04 on AWS, m4.xlarge instances, wi

[2016-11-11 21:09] calebamiles commented on #30175
thanks for the update @yujuhong

[2016-11-11 21:23] quinton-hoole commented on #31182
This is done.

[2016-11-11 21:23] #31182 closed

[2016-11-11 21:27] calebamiles commented on #26210
if you're talking about [this test](https://k8s-testgrid.appspot.com/k8s#gci-gke-staging-parallel&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Proxy%5C%20version%5C%20v1%5C%20should%5C%20proxy%5C%20through%5C%20a%5C%20service%5C%20and%5C%20a%5C%20pod%5C%20%5C%5BConformance%5C%5D) @MHBauer then it looks pretty good. I'll take a look at the other testgrid links but I'll likely

[2016-11-11 21:28] quinton-hoole commented on #28335
I'm pretty sure that @justinsb fixed this in one of his PR's. Will check.

[2016-11-11 21:30] gmarek commented on #36082
@caesarxuchao - what other approach do you suggest? We need to have a predefined list of outputs if we're going to move to bazel.

cc @thockin

[2016-11-11 21:32] quinton-hoole commented on #24229
cc @kubernetes/sig-cluster-lifecycle @jbeda @mikedanese
Unassigning myself.

[2016-11-11 21:33] wstrange commented on #28272
The shm size is configurable only when the application starts (i.e. , you can say "only use this much shm").

It can not be adjusted dynamically.

[2016-11-11 21:34] quinton-hoole commented on #22077
@colhom

[2016-11-11 21:38] vishh commented on #28272
@wstrange Thanks for clarifying.

[2016-11-11 21:38] jlowdermilk commented on #30175
Currently working on fix for concurrent map access failure.

[2016-11-11 21:45] jberkus opened #36670 "Kubelet PV mount fails with StatefulSet, CentOS 7, Kube 1.4.4, Kubeadm, AWS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

PetSet, Statefulset, PV, persistent volume, AWS

This is similar to issue #36589 e

[2016-11-11 21:45] luxas commented on #36301
@mikedanese Please push the rpms you built from https://github.com/kubernetes/release/pull/197, so this will be fixed
I think you started building them on Monday already...

[2016-11-11 21:47] k8s-merge-robot opened #36671 "[k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/7310/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28437 #29084 #29256 #29397

[2016-11-11 21:55] sputnick commented on #11296
Wow I spent 3 hours trying a bunch of things to get to the UI of my cluster service and it never occurred to me that a named port was screwing with the path. Would be great to mentioned this here:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/README.md

@roberthbailey @thockin

[2016-11-11 21:57] #36102 closed

[2016-11-11 22:01] saturnism commented on #36657
If the DNS is not cleaned up, or, w/o easy way to clean up, the IPs they point to could easily be pointing to systems you don't own. Other issues follows.

Maybe an option to cascade deletion?

[2016-11-11 22:08] jberkus commented on #36670
Further info:

I tried starting the pod on the kube-master node, thinking this was the issue of failing to pass --cloud-provider to the kubelets.  However, it also won't start on the master node.

[2016-11-11 22:11] andronat commented on #23564
We already have a special mechanism that translates `stringData` to base64 `data` in secrets. So I don't think is wrong to add some extra checks to ensure `lastAppliedConfig` is also properly formatted.

How about making `kubectl apply` putting `null` in every value of `data` in `lastAppliedConfig`? In this way we will patch all existing fields (even if there are no changes, which I think is fine)

[2016-11-11 22:12] quinton-hoole commented on #36657
Yes, @nikhiljindal is working on the cascading deletion option.

[2016-11-11 22:13] caseydavenport commented on #36262
Just looking into this now.

Still trying to grok the stack trace, but from what I can tell we're segfaulting in the code that sets up the etcd cluster.

[code]

Not yet sure if / why this is only showing up in the network policy stuff.

[2016-11-11 22:25] #29305 closed

[2016-11-11 22:30] sputnick commented on #14232
Since I ended in this thread for a related problem I'll share a nugget that others might find useful if they are making a custom cluster-service using the label kubernetes.io/cluster-service: "true"

If you use a named port for your container that the service selects then you need to add ":portname" at the end of the URL that "kubectl cluster-info" reports. Otherwise you will get a "no endpoints..

[2016-11-11 22:36] #35163 closed

[2016-11-11 22:42] ymqytw commented on #32398
@caesarxuchao We can close this issue, since it should be fixed by #35647. I don't know why the bot don't close this from #35647.

[2016-11-11 22:44] janetkuo commented on #32398
To close both issues the keyword should be `fixes #xxxxx, fixes #xxxxx`. This also means the PR template needs to be updated

[2016-11-11 22:44] #32398 closed

[2016-11-11 22:48] ymqytw commented on #32398
Thanks @janetkuo

[2016-11-11 22:49] quinton-hoole commented on #28335
Indeed, this is fixed:

https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/federation-controller/service/dns.go#L109

Closing.

[2016-11-11 22:51] MHBauer commented on #26210
Yup. I wonder what changed.

[2016-11-11 23:23] k8s-merge-robot opened #36677 "[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should come back up if node goes down [Slow] [Disruptive] [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/1092/

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should come back up if node goes down [Slow] [Disruptive] [Feature:PetSet] {Kubernetes e2e suite}

[code]

[2016-11-11 23:28] saad-ali commented on #30175
@jlowdermilk thanks. [kubernetes-e2e-gci-gke-serial](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial/) is also failing fairly frequently with `fatal error: concurrent map writes`. I'll keep an eye out for a fix.

[2016-11-11 23:44] saturnism commented on #36327
i was able to reproduce on my cluster too.

[2016-11-12 00:00] ymqytw commented on #36567
I guess this may related to the the OS you are using?
@pwittrock Do you know who is right person to route to?

[2016-11-12 00:01] mandarjog commented on #36652
Turn up the loglevel of kube-proxy to --v=3
[code]
look for a section that looks like this
[code]
and change --v=2 to --v=3.
kube-proxy will restart automatically after saving.

The logs on the next failure will contain more info.

[2016-11-12 00:11] janetkuo opened #36682 "scheduledjob/cronjob is missing in the OpenAPI spec"
@pwittrock found that scheduledjob/cronjob is missing in the swagger spec. It's because batch/v2alpha1 isn't on by default.

From @mbohlool:

Hope to get this in for 1.5

cc @kubernetes/sig-api-machinery @erictune @soltysh

[2016-11-12 00:16] caesarxuchao commented on #36682
I agree we should generated spec for it. However, it's an alpha feature, so it shouldn't be turned on by default.

[2016-11-12 00:22] mbohlool commented on #33293
@bprashanth can you confirm if you still have this problem or it has been fixed?

[2016-11-12 00:26] ghodss commented on #36081
How would you detect that it's missing? Would you throw an error on duplicate keys?

[2016-11-12 00:28] mbohlool commented on #36682
@caesarxuchao I agree. The title is miss-leading. My PR is not enabling it by default but generate spec for it.

[2016-11-12 00:30] jberkus commented on #36670
Further info:  Having stopped and restarted all of the instances, behavior is identical to bug #36589.  However, deletion and recreation of the pod does not cause it to mount the volume.  Nor do volumes get released from in-use.

[2016-11-12 00:47] scottstensland commented on #23623
On kubernetes v1.4.5 I see same symptom

 0 minions started; waiting
 0 minions started; waiting
 1 minions started; ready
Waiting for cluster initialization.

  This will continually check to see if the API for kubernetes is reachable.
  This might loop forever if there was some uncaught error during start
  up.

....................................................................................

[2016-11-12 00:59] scottstensland opened #36685 "bad AWS cert file permissions cause silent "Attempt 10 to check Docker on node @ IP ...not working yet""
kubectl version  v1.4.5
AWS

x86_64
4.4.0-47-generic
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"

uname -a
Linux hakkoichiu 4.4.0-47-generic #68-Ubuntu SMP Wed Oct 26 19:39:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

On kubernetes v1.4.5 I see this issue

[code]

... I killed it then found root cause was bad permissions on AWS cert files

[2016-11-12 01:02] saturnism commented on #36327
i wonder if it has to do w/ `ingress.kubernetes.io/backends` annotation that also has cluster health. would a change in this trigger an update?

[2016-11-12 01:03] saturnism commented on #36327
also, the federated ingress shows a different IP than the actual cluster ingress

[2016-11-12 01:49] k8s-merge-robot opened #36687 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1556/

Run so broken it didn't make JUnit output!

[2016-11-12 02:24] smarterclayton commented on #23564
Apply needs to be agnostic to the type of object in use.  If you are applying secrets, you are broken anyway.

[2016-11-12 02:27] liggitt commented on #23564
Agree, secret conversion shouldn't be messing with lastAppliedConfiguration

[2016-11-12 02:53] k8s-merge-robot opened #36688 "[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should not reschedule pets if there is a network partition [Slow] [Disruptive] [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/1094/

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should not reschedule pets if there is a network partition [Slow] [Disruptive] [Feature:PetSet] {Kubernetes e2e suite}

[code]

Previous issues for this test: #36035

[2016-11-12 03:14] k8s-merge-robot opened #36689 "kubernetes-e2e-gci-gke-prod-smoke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/2436/

Run so broken it didn't make JUnit output!

[2016-11-12 03:38] madhusudancs commented on #36587
@irfanurrehman isn't that a better default behavior than other options that we have? Hard coding that string is painful because we need to keep chasing the moving target. Every release, we need to ensure we update it to the latest version. If there is an alternative way to automatically update it, I am all ears. Think about it from a user's perspective. User convenience trumps developer convenienc

[2016-11-12 03:45] madhusudancs opened #36690 "[Federation] Make federation controller manager DNS provider flag configurable in `kubefed`"
`kubefed init` brings up federation controller manager with `--dns-provider=google-clouddns` hard coded. This causes a lot of inconvenience for non-GCP users. This also makes non-GCP testing very difficult and we need to fix this.

Assignee: @irfanurrehman (GH won't let me assign this issue to @irfanurrehman, so assigning it to myself in the right hand labels but making it clear here).

cc @kubern

[2016-11-12 03:59] psamaan opened #36691 "Cfd fx m,"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-12 03:59] #36691 closed

[2016-11-12 05:00] liggitt commented on #36666
cc @kubernetes/sig-auth

[2016-11-12 05:11] #9489 closed

[2016-11-12 05:46] saad-ali commented on #36690
Since it is post-code freeze, clarifying: is this a bug fix? If so, please update the PR description with a reference to bug. Removing milestone label until verification.

[2016-11-12 05:53] saad-ali commented on #26134
This is happening more frequently. 3 times in the last 24 hours. Raising priority.

[2016-11-12 06:09] yesimages commented on #36460
kubeadm version
kubeadm version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.2.421+a6bea3d79b8bba", GitCommit:"a6bea3d79b8bbaa5e8b57482c9fff9265d402708", GitTreeState:"clean", BuildDate:"2016-11-03T06:54:50Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"}

Here is output from journalctl when kubeadm init hung:
....
Nov 11 21:50:36 NGPYesStack11.fyre.ibm.com kubelet[3

[2016-11-12 06:33] #36545 closed

[2016-11-12 06:44] k8s-merge-robot opened #36694 "[k8s.io] Downward API volume should provide container's cpu limit [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/2744/

Failed: [k8s.io] Downward API volume should provide container's cpu limit [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-12 08:17] sandys opened #36697 "Kubeadm should have provision to BUILD and install k8s from git url"
I would also request that kubeadm have the ability to *build* and install k8s. At the pace that k8s is changing...we would like to dogfood a lot of upcoming k8s changes. If kubeadm can be pointed to a git URL and have it build that k8s version and use it for install/upgrade...that would be a godsend.

For example, we have been blocking on several changes in ingress controllers (for ssl passthrough

[2016-11-12 08:25] eggie5 commented on #36067
OK, it just happened again, running fine all day and now it's not mounting. From the k8s dashboard:

[code]

[code]

Currently (according to GCE UI) the PV is attached to node: gke-jenkins-cd-pool-2-3c7bd71c-i1ei. Attached is the kugelet.log

[kubelet.log.txt](https://github.com/kubernetes/kubernetes/files/587133/kubelet.log.txt)

[2016-11-12 09:32] c-knowles commented on #29298
Some information in https://github.com/kubernetes/kubernetes/issues/17620 about private ELBs.

[2016-11-12 16:08] erictune opened #36701 "Test g1-small node sizes or recommend against them."
I see a user on stackoverflow using `g1-small` and seeing kube-proxy getting terminated.

[StackOverflow question](http://stackoverflow.com/questions/40564218/kubernetes-on-gce-prevent-pods-undergoing-an-eviction-with-the-node-was-low-o)

I can't tell if that is user setup error or kubernetes bug, or if `g1-small` is just not a good idea.
We don't run any e2e tests using `g1-small`, and we don't s

[2016-11-12 16:31] LordGaav commented on #30751
Same here, most of the guides that I tried don't result in a working cluster...

[2016-11-12 16:41] chrislovecnm commented on #30706
@dims this is listed as non-blocking but yah....

[2016-11-12 17:17] sttts commented on #33685
Do I miss something here?

[code]

[2016-11-12 17:38] bbnnt commented on #23474
Well sorry for reaching you out here; in the end, not related exactly to DNS itself. We've been starting out with small instances, the kube-proxy got evicted due to a lack of resources (or a wrong decision made by kubelet - still related to this lack of resources). Better hit this one now than later…

[2016-11-12 18:08] k8s-merge-robot opened #36703 "[k8s.io] Deployment deployment should support rollback {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/5471/

Failed: [k8s.io] Deployment deployment should support rollback {Kubernetes e2e suite}

[code]

Previous issues for this test: #28348

[2016-11-12 21:23] davidopp commented on #34782
I marked the PR for cherrypick into the next 1.4. It's a pretty small change but I can't guarantee it will be accepted.

[2016-11-12 22:01] EAGrahamJr opened #36705 "kubeadm does not initalize on Ubuntu 16.10"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
kubeadm ubuntu dummy "failed to create test deployment" forbidden 8080

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
1.3.10, 1.4.4, 1.4.6, v1.5.0-alpha.2

*kubeadm* 1.5.0-alpha.2-421-a6bea3d79b8bba-00

**Env

[2016-11-12 22:08] k8s-merge-robot opened #36706 "[k8s.io] Docker Containers should be able to override the image's default arguments (docker cmd) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-release-1.4/2772/

Failed: [k8s.io] Docker Containers should be able to override the image's default arguments (docker cmd) [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-12 22:29] KingJ commented on #36295
After moving my ESXi host in to a cluster in vSphere, instead of having it as a standalone host inside a datacentre, I no longer receive this error. My datacentre config is unchanged and is set as the name of the datacentre as shown in vSphere - i've not used the full path that govc ls outputs.

[2016-11-12 22:58] Crassirostris commented on #32762
Well, I think we're done with this issue, at least for this cycle, @edsiper or @piosz feel free to close it, I should've done it in the PR.

[2016-11-12 23:10] edsiper commented on #32762
thanks @Crassirostris !.

[2016-11-12 23:10] #32762 closed

[2016-11-12 23:47] k8s-merge-robot opened #36708 "ci-kubernetes-node-kubelet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/11108/

Run so broken it didn't make JUnit output!

[2016-11-12 23:59] davidopp commented on #36273
I don't know of anyone who is working on it.

[2016-11-13 00:01] davidopp commented on #36273
(I see your PR, and I'll review it.)

[2016-11-13 02:12] gyliu513 opened #36710 "[k8s][PV] PV size cannot guarantee the data size"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-13 02:13] gyliu513 commented on #36710
cc @coffeepac

[2016-11-13 02:27] davidopp commented on #17186
It looks like we didn't link this issue to the out-of-resource eviction work, which now covers memory and disk: http://kubernetes.io/docs/admin/out-of-resource/

Anyway, we should add out-of-CPU killer, as discussed upthread.

[2016-11-13 03:07] #36402 closed

[2016-11-13 03:29] hongchaodeng commented on #36291
We are working on combining List() and GetToList() into one function.
Let me take this into account as well.

[2016-11-13 03:30] davidopp commented on #18450
Hi, sorry we did not get a chance to talk in-person at KubeCon.

Is it possible to do this using your own client? We now have a go client:
https://github.com/kubernetes/client-go

If you want to see this built into Deployment, you should write a proposal and discuss it with sig-apps.

[2016-11-13 03:58] chrislovecnm commented on #7562
@viglesiasce can you explain how https://cloud.google.com/compute/docs/disks/local-ssd actually work?  I am confused

[2016-11-13 05:37] mootezbessifi opened #36714 "kube-proxy, firewalld issue"
Since 3 days i faced a very strange behavior in kubernetes cluster when requesting mounted services.
first of all i am newbie with kubernetes. i tried to install a kubernetes cluster (one master 10.104.25.85 and 2 nodes 10.104.25.86 , 10.104.25.87) using ansible on CentOS 7. i inspired my playbooks from official kubernetes github repository (https://github.com/kubernetes/contrib/tree/master/ansibl

[2016-11-13 06:13] ddysher commented on #28272
@vishh We have the same case as @wstrange.  shm size doesn't need to be adjusted dynamically.

[2016-11-13 07:15] k82cn opened #36716 "[Proposal] Manage multiple applications in Kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**What you expected to happen**:

According to this doc ([mesos-style.md](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/mesos-style.md)), we can support different workload by different collection controller & scheduler. But I'd like to introduce a resource manager layer for the following requirements:

I'

[2016-11-13 07:36] ApsOps commented on #33433
**Kubernetes Version:** `1.4.3`
**Docker version:** `1.12.0`

**Envirnment:**
    Cloud provider:  AWS
    OS:
[code]

**Kernel**: `Linux ip-10-0-26-1 3.13.0-74-generic #118-Ubuntu SMP Thu Dec 17 22:52:10 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

Kubelet logs show many lines like this:

[code]

### Interesting thing is, all of these are `pause` containers with `status=dead`.

[2016-11-13 07:40] k82cn commented on #36716
Currently, I'm working on the design doc & prototype by leveraging #34377 ; if any suggestion or comments for such case, please let me know :).

cc @davidopp / @foxish / @erikerlandson / @erictune  / @kubernetes/sig-scheduling

[2016-11-13 07:53] robin-hunter commented on #10620
OK, I have tried to find a solution to this problem on version 1.4, again running on a bare metal cluster but without success.

My apiserver is started using the command:

km apiserver --address=192.168.1.35 --etcd-servers=http://192.168.1.35:4001 --service-cluster-ip-range=10.10.10.0/24 --port=8888 --client-ca-file=/opt/kubernetes/certs/ca.crt --tls-cert-file=/opt/kubernetes/certs/server.crt --tl

[2016-11-13 08:44] davidchua commented on #36697
:+1:

I too would like to be able to do just that. It would help greatly to be able to test upcoming kubernetes versions before hand.

[2016-11-13 10:49] k82cn commented on #34377
@erikerlandson , thanks very much :). As we sync up, I'll try your prototype firstly and propose the design on resource management part. #36716 is also filed to trace the discussion on general resource management layer.

[2016-11-13 12:08] gjcarneiro commented on #28272
Same for me, shm size is a constant in a configuration file.

[2016-11-13 12:22] liggitt commented on #10620
[code]

That's likely to be a general issue with secret volume mounts. @pmorie, any suggestions for debugging that?

[2016-11-13 14:00] bachp commented on #33035
I think that is related to #23317. There it is also mentioned that kube-proxy is not IPv6 ready yet.

[2016-11-13 14:21] erikerlandson commented on #36716
In our group, we have been advocating that modern software does not (or should not) really distinguish between "apps" and "big data".  Applications increasingly have "big data" components embedded in them, with one or more Spark clusters backing each application.  @willb gave a talk at Spark Summit EU recently on this topic (slides and video at the link):
https://spark-summit.org/eu-2016/events/co

[2016-11-13 14:46] erikerlandson commented on #34377
A PR for dynamic executor support:  https://github.com/foxish/spark/pull/4

[2016-11-13 16:16] jingxu97 commented on #36067
Hi @eggie5, thank you for reporting it. I checked the log, this issue is just fixed by PR #36616. It was already merged to master and cherrypicked to release 1.4. Please try the new version and let us know if you have any issue. Thank you!

[2016-11-13 16:24] eggie5 commented on #36067
@jingxu97 But, I'm on 1.4.5 on server and client. Wouldn't the fix be in that build?

[2016-11-13 17:36] smarterclayton commented on #36694
Ugh

[2016-11-13 18:10] chicagozer commented on #25060
This worked for me too with 1.4.6. Had to upgrade my aws client on Mac to latest.

aws --version
aws-cli/1.11.14 Python/2.7.10 Darwin/16.1.0 botocore/1.4.71

[2016-11-13 19:16] krmayankk commented on #13479
i think limiting and managing the quota for local disk is required for supporting any kind of local disk persistent volumes support. Is this being tracked as part of emptyDir sticky proposal or something else ?

[2016-11-13 19:19] atomantic commented on #22586
This is logging pretty heavily in GKE to stackdriver, contributing heavily to 22MB/minute of GKE logs from my cluster into stackdriver.

[2016-11-13 19:31] erikerlandson commented on #36716
When we say "resources," does that encompass?   There are at least two: cores and RAM.  I worked on the resource quota and fair-sharing algorithms for HTCondor, and defining what "quota" means when different resources are in play raises some interesting issues.  My personal take on quotas evolved into a view that quota is best measured in units of "how much did my pod just reduce the ability of _o

[2016-11-13 19:37] erikerlandson commented on #36716
As you already mentioned, effective elastic resource sharing requires the ability to _preempt_ pods when they are "borrowing" somebody else's quota.  HTCondor also had a highly developed preemption mechanism, including a "graceful" stage, followed by a "hard kill" after some configurable interval.   I'm still exploring Apache Spark executor stage management, but it looks like Executors are going t

[2016-11-13 20:34] ankurcha commented on #35997
Also hit this. Any workarounds?

[2016-11-13 21:41] EAGrahamJr commented on #36705
Interestingly, there was a background task running that *locked* port 8080, but was not actively listenting.

Closing that resolved this issue, so chalk this up to user error.

[2016-11-13 21:41] #36705 closed

[2016-11-13 22:34] soualid commented on #35591
Got the following error - that may be related - in `weave-kube` when trying to setup a bare metal 3 nodes cluster running ubuntu 16 with `kubeadm`, got the same HWAddr assigned on master and worker node :

kubeadm version

kubectl version

Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56", GitTreeState:"clean", BuildDate:"2

[2016-11-13 23:58] madhusudancs commented on #33943
@lsztachanski Do you have a loadbalancer/external IP implementation for your baremetal/provider?

The Ingress error is independent of the service error your are seeing.

```(... nothing ...)``` in the GKE cluster is curious. Isn't there a `kubernetes` service too? Also, is your GKE cluster registered against federation and showing a `Ready` status?

[2016-11-14 00:04] saad-ali commented on #36159
Ping, can we get an update on this.

[2016-11-14 00:05] saad-ali commented on #35089
This is beginning to happen more frequently, can someone from @kubernetes/sig-node take a look please.

CC @calebamiles

[2016-11-14 00:06] IanLewis commented on #1615
@verb @vishh Is there a reason why the pause container couldn't be PID 1 and clean up zombie processes? I thought that would be the most logical approach. Maybe the idea is that the pause container app itself could be written in C?

[2016-11-14 00:06] saad-ali commented on #32436
@bprashanth Any update on this. It is happening fairly frequently.

CC @calebamiles

[2016-11-14 00:11] saad-ali commented on #36586
@ymqytw Are you the correct assignee for this? If so, can you please give an update. If not, can you please reassign it to the correct person.

CC @calebamiles

[2016-11-14 00:13] saad-ali commented on #35197
@wojtek-t @yujuhong Any updates?

CC @calebamiles

[2016-11-14 00:14] saad-ali commented on #35004
This is happening about once a day. @rmmh any updates? Are you the correct assignee for this bug? If not, can you please direct it to the correct person.

CC @calebamiles

[2016-11-14 00:18] saad-ali commented on #34301
@jszczepkowski Can you take a look at this flake and triage it for 1.5 please?

CC @calebamiles

[2016-11-14 00:18] hongchaodeng commented on #36555
@mml

The rollback tool couldn't accept any v2 data existed.
One way to make it work is to remove snap files:
[code]

[2016-11-14 00:20] saad-ali commented on #33547
@dchen1107 Can you please help triage this issue for 1.5

CC @calebamiles

[2016-11-14 00:21] saad-ali commented on #32044
Ping @janetkuo, can you help tirage this for 1.5

CC @calebamiles

[2016-11-14 00:23] fabianofranz opened #36722 "kubectl convert output is not valid yaml/json when converting multiple files"
BUG REPORT

When using `kubectl convert` with multiple files (like when referencing a directory in `-f`), the json or yaml output is not a valid list format, and when fed to `kubectl create` just the first file gets created.

**Kubernetes version** (use `kubectl version`): latest master

**What happened**: only the first file in directory gets created.

**What you expected to happen**: all files i

[2016-11-14 00:27] saad-ali commented on #31964
Can someone help triage this for 1.5.

CC @calebamiles

[2016-11-14 00:29] saad-ali commented on #32214
@yujuhong Any updates on this issue? Are you the correct assignee? If not could you help assign this to the correct person? I'd like to get a feel for what tests are blocking 1.5 at the moment.

CC @calebamiles

[2016-11-14 00:31] saad-ali commented on #34674
Ping @apelisse @ingvagabund any update on this issue?

CC @calebamiles

[2016-11-14 00:32] saad-ali commented on #34863
@kubernetes/sig-api-machinery can you please help triage this.

CC @calebamiles

[2016-11-14 00:33] saad-ali commented on #36074
@kubernetes/sig-cluster-federation Can someone from federation please take a look at this test and triage it for 1.5

CC @calebamiles

[2016-11-14 00:34] saad-ali commented on #36088
@kubernetes/sig-cluster-federation Can someone from federation please take a look at this test and triage it for 1.5

CC @calebamiles

[2016-11-14 00:36] saad-ali commented on #32535
@kevin-wangzefeng Can you please provide an update on this issue. We need to triage it as a 1.5 blocker or not.

CC @calebamiles

[2016-11-14 00:38] saad-ali commented on #34060
@kubernetes/sig-cluster-federation Do you own multizone test suite? If so could you take a look at this test?

CC @calebamiles

[2016-11-14 00:40] saad-ali commented on #34571
@bowei Any updates on this?

CC @calebamiles

[2016-11-14 00:41] saad-ali commented on #28569
@bprashanth Any updates on this?

CC @calebamiles

[2016-11-14 00:42] saad-ali commented on #27450
Ping @bowei any updates on this flake?

CC @calebamiles

[2016-11-14 01:00] davidopp commented on #36716
First, I want to say I think this is a great discussion. I didn't think the "how to share among multiple apps according to a policy" discussion would come up quite so soon, but I knew it would eventually...

@k82cn My understanding of the requirements you described for the "bigdata area" are
1. run a set of applications
2. provide each application guaranteed access to some quantity of resources
3.

[2016-11-14 01:00] saad-ali commented on #31855
Ack

[2016-11-14 01:00] #31855 closed

[2016-11-14 01:28] saad-ali commented on #30352
Ack.

[2016-11-14 01:28] #30352 closed

[2016-11-14 01:38] bowei commented on #27450
This seems to be an image pulling issue involving AWS networking . I'm making a PR to reduce the size of one of the images involved which hopefully will reduce the occurrence of the flake.

See the notes in https://github.com/kubernetes/kubernetes/issues/34571

[2016-11-14 01:38] #28081 closed

[2016-11-14 01:39] saad-ali commented on #27450
Awesome, thanks for the quick response @bowei. I'll keep an eye out for the PR.

[2016-11-14 01:53] Laisky commented on #26353
@workhardcc still not work on Kubernetes v1.2.6

There are two kinds of errors.

If I POST

[code]

return:
[code]

If I post

[code]

Return:

[code]

[2016-11-14 02:12] davidchua opened #36725 "GlusterFS Volume Provisioner not creating volumes with default 'replicate' durability type."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
- glusterfs
- volume
- provisioning

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2016-11-14 02:28] workhardcc commented on #26353
@Laisky I forgot how I fix this problem last time. I will try it tonight again.

[2016-11-14 02:44] #36682 closed

[2016-11-14 03:08] hongchaodeng commented on #36555
To clarify, the panic is caused by existing v2 snap files.

In the migrate step 2.3.7 -> 3.0.x, the script didn't remove v2 snap files.

[2016-11-14 03:56] Random-Liu commented on #35977
@yujuhong Sure

[2016-11-14 03:59] Random-Liu commented on #34207
Reassign this to @MrHohn

[2016-11-14 04:02] Random-Liu commented on #32037
@calebamiles This issue is not related to directly related to the resource tracking test.

@dchen1107 This hasn't flaked again from 2 month ago. Can we close this one?

[2016-11-14 04:24] wweic commented on #33638
Hi, I'm wondering if `api-bind-address` is considered a useful option?  It's mentioned by @errordeveloper , but not implemented since the listening interface is still currently [hardcoded](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/master/manifests.go#L233). Thanks.

[2016-11-14 04:33] davidopp commented on #36716
cc/ @ConnorDoyle

[2016-11-14 04:36] derailed opened #36729 "SecurityContext privileged not working as expected..."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Docker privileged securitycontext

---

**Is this a BUG REPORT or FEATURE REQUEST?*

[2016-11-14 04:48] luxas commented on #33638
No, generally I don't think so, we'd like it to be secure as the default.
You should do a kubectl proxy if you'd like to expose the API server unsecurely though
[code]

[2016-11-14 05:42] luxas commented on #34134
OK, I got kubeadm working on CoreOS quite easily while travelling back from KubeCon :smile:
Here's how to do it:

[code]

Since CoreOS is missing `socat` on host, kubeadm preflight will stop the user from running init|join, so they must use `--skip-preflight-checks` like this `kubeadm init --skip-preflight-checks`.
We might consider making socat a soft dep for kubeadm, since kubelet will work, but

[2016-11-14 05:51] luxas commented on #34134
cc @errordeveloper @pires @remoe @mettjus @qmx @ttcchl01 @v1k0d3n @JrCs @webwurst @HeavyHorst @raghu67 who've upvoted it :+1:

[2016-11-14 05:52] zhangchungame opened #36730 "How does the Kubeadm start-up the cluster"
I have installed a k8s cluster by Kubeadm ,and now I want to know how Kubeadm works
I have some question below:
1.Is there some doc describe how Kubeadm works?
2.How can I get the source code of Kubeadm?
3.When I try to start-up a cluster by [release](https://github.com/kubernetes/kubernetes/releases)v1.4.6 ,I just find kube-up.sh and it did not work good. How can I put k8s components into contain

[2016-11-14 06:05] resouer opened #36731 "Can we use soft link or other to workaround hard link in build-tools/lib/release.sh"
I once encountered this problem before, and would like to discuss it again.

It's about: https://github.com/kubernetes/kubernetes/blob/master/build-tools/lib/release.sh#L242

The problem is: hard link does not work well on shared file system in virtualbox, so this line is 'painful' in vagrant+virtualbox based dev environment, for example, if you want to run `go run hack/e2e.go -v --build`.

But I

[2016-11-14 06:14] verb commented on #1615
@IanLewis After looking into it, that's what I did. Someone had already rewritten pause in C so I just added a handler for SIGCHLD. Now I just need to put together the PR.

[2016-11-14 06:28] luohoufu commented on #36582
**the server has asked for the client to provide credentials **
i resolve by use --kubeconfig to dashboard yaml

[2016-11-14 06:29] brendandburns commented on #35643
I got these errors when I had a lousy SSD card.  Switching to a higher performance card fixed things...

[2016-11-14 06:32] davidopp opened #36733 "kubectl get node(s) should show all node conditions"
Currently we only show Ready/NotReady, but there are several node conditions that affect schedulability and we don't show any of them (e.g. NetworkUnavailable). We do show SchedulingDisabled but that's talking about something different. My suggestion would be to change Ready/NotReady to Ready/NotSchedulable/NotReady (and keep SchedulingDisabled).  NotSchedulable would be set when Ready is true but

[2016-11-14 06:45] tnachen commented on #36716
@davidopp thanks for the great write up, I agree this is definitely something that belongs to sig-scheduling and I do also have lots of thoughts and plans around this area as well, so I think having a broad discussion in sig-scheduling will be great as there are lots of touch points and tradeoffs with many decisions here. As for now I would favor the alternative approach where each controller is g

[2016-11-14 07:43] jingxu97 commented on #36067
I think it will be in release 1.4.5 since it was cherrypicked to 1.4.

On Sun, Nov 13, 2016 at 8:24 AM, Alex Egg <notifications@github.com> wrote:

--
- Jing

[2016-11-14 08:02] robin-hunter commented on #12715
This is still an issue on version 1.4 and ought top be resolved for the reason above. It reports an error, no error should be 'harmless' otherwise it is either info or warn.

[2016-11-14 08:30] tobstarr commented on #36567
Hi just tested the command with a GKE cluster and things worked fine. So I guess it has something to do with the way I set up my cluster. So I would say close this for the time being?

[2016-11-14 08:35] ApsOps commented on #34447
@soltysh I'm still hitting this on `v1.4.6`

[2016-11-14 08:37] wojtek-t commented on #34863
@saad-ali - this shouldn't block the release (we officially do not yet enabled protobufs in storage).

BTW - I looked into few random ones, and for me this seems to be exactly the same what we observe in other suites.

[2016-11-14 08:39] wojtek-t commented on #36555
@hongchaodeng - thanks a lot for looking into it. I will add a step to our migration script to remove the v2 data before rollback.

Did it work after removing the data?

[2016-11-14 08:42] k82cn commented on #36716
@erikerlandson , regarding the "resources", it includes all things required by computing, e.g. CPU, Mem, Disk; for this discussion, I think cpu & mem should be enough. But multi-dimension scheduling is required; there are some papers on that, e.g. DRF.

@davidopp , agree with you that, that's a important and long discussion; and that's great and accurate summary of the requirements I described :).

[2016-11-14 08:58] wojtek-t commented on #36555
#36738 send out for review

[2016-11-14 09:04] hjacobs commented on #35151
@ymqytw thanks for the ref, but there are already existing "pure maps", e.g. for labels, annotations and config maps --- I guess the whole (more broader) issue is that Kubernetes manifests are."supposed to be machine generated".

[2016-11-14 09:17] YuPengZTE opened #36739 "A flake issue for #36737 PR"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-14 09:27] madhusudancs commented on #36739
@YuPengZTE thanks for the report. Here is an example of a report that contains useful information about the flake - Issue #36262 for future reference. Also, the PR where you saw the test failure is a legitimate failure caused due to the changes introduced in the PR. So I am closing this PR.

[2016-11-14 09:27] #36739 closed

[2016-11-14 10:00] wojtek-t commented on #34911
So to summarize where we are now (update on https://github.com/kubernetes/kubernetes/issues/34911#issuecomment-259446594)

1. We should ignore all failures from kubemark-scale

2. For "gci-gce-scalability" suite, we bumped verbosity of kubelet logs and are waiting for next flake.

3. There are two strange failures of kubemark-5: https://github.com/kubernetes/kubernetes/issues/34911#issuecomment-25

[2016-11-14 10:03] jszczepkowski commented on #34301
Closing this as HPA logic was substantially rewrote by #33593 and the bugs were reported before PR #33593 was merged.

[2016-11-14 10:03] #34301 closed

[2016-11-14 10:32] seppeljordan commented on #36652
Sorry for the long log file. I did not know exactly what you need, so I posted last 100 lines.
[code]

Also: My kube-proxy systemd service file looks like this:
[code]

[2016-11-14 12:31] mootezbessifi opened #36744 "request service from minion only forward to local deployed pod in that minion"
Hi all,
Actually i am at work.
i am working on a POC, and i find out some strange behavior after setting up my kubernetes cluster
In fact, i am working on a topology of one master and two minions.
When i tried to make up 2 pods into each minion and expose a service for them, it turned out that when i try to request the service from the master, nothing is returned (any response from 2 pods) and whe

[2016-11-14 12:35] wojtek-t commented on #22024
@DreadPirateShawn - a looooot of things has changed since this issue was opened. Do you observe the same issue in the newer releases?
[BTW - once we luanch etcd v3 as our backend storage, which should happen soon, this should also help with that]

[2016-11-14 12:45] mattymo opened #36745 "Kubelet won't read apiserver from kubeconfig"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?**
kubelet kubeconfig

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):
Client Ver

[2016-11-14 12:52] dgonzalez commented on #36220
@davetropeano I think I didnt explain myself well: What I am suggesting is provisioning a load balancer within the cluster using a custom image instead of an external load balancer within the cloud. I am swamped at the moment but ping me in the kubernetes slack (@davidgonza) and we can talk more about it. Maybe that is the solution but I need to picture it.

[2016-11-14 12:53] mattymo commented on #36745
I repeated on 1.4.5 with the same results

[2016-11-14 13:02] wojtek-t commented on #32024
@resouer - sorry, I didn't understand the above.

[2016-11-14 13:03] pires commented on #34134
@luxas, one could figure out if the `kubelet` environment (if `containerized`) has `socat`. But I know there's WIP to remove the dependency on that.

[2016-11-14 13:03] CaoShuFeng opened #36746 "cni plugin should not be called twice to delete one single interface"
When I run the following two commands:
$: kubectl run nginx --image=nginx --replicas=3 --namespace demo
$: #wait until  pods run
$: kubectl delete deployment nginx --namespace demo

In the log I can see that cni plugin is called twice to delete the same interface because of graceful deletion feature in kubelet.
http://paste.openstack.org/show/589119/

**Kubernetes version** (use `kubectl version`)

[2016-11-14 13:11] jsafrane commented on #36494
I see in the logs that the volume got Relesed, i.e. persistent volume controller knows it should delete it, however I don't have access to kube-controller-manager logs in GKE to tell why it is not deleted.

Would it be possible to get these kube-controller-manager logs? I am interested in anything that refers to PV name pvc-4f514519-a65c-11e6-a8ff-42010af00002 + ~10 lines around (`grep -C 10 pvc-4

[2016-11-14 13:14] deads2k commented on #36082
Is there a resolution for this that doesn't involve multiple files?

[2016-11-14 13:17] jsafrane commented on #36494
@matchstick, @saad-ali: can you please point me to the group or person who can give me these logs?

[2016-11-14 13:35] #32028 closed

[2016-11-14 13:36] jeremyeder commented on #5880
Found out last week that Heapster is being deprecated in favor of a metrics server and other components.

[2016-11-14 13:44] kargakis commented on #36494
I would also be interested in GKE master logs - see https://github.com/kubernetes/kubernetes/issues/36554#issuecomment-259657632

[2016-11-14 14:00] wojtek-t commented on #36555
To clarify - I verified that it fixed the problem reported (rollback works on the data provided in the issue).

[2016-11-14 14:08] kargakis opened #36749 "kubectl get something -w is broken"
[code]
@kubernetes/kubectl this used to work so it seems like a regression

[2016-11-14 14:19] rootfs commented on #36611
@jpoon @colemickens see #35719.
Should be fixed by  #30091, but you have to get 1.5 for the fix.

[2016-11-14 14:29] erikerlandson commented on #36716
@davidopp, speaking from experience, hierachical quotas are complicated.  Unless somebody has a compelling use case for them, I would consider avoiding them.

In my experience quotas make the most sense when you view them as guaranteed minimums.  They behave like "maximums" only when there is contention, but that is sort of an emergent property of ensuring that everybody gets their quota.

My poin

[2016-11-14 14:47] erikerlandson commented on #36716
I like the idea of quotas being scoped to namespaces.   I'm unsure what that means for the use-case of whole-cluster quotas.   If a cluster admin wants that, do they just declare one namespace for the whole cluster?   Should there be "special" handling of cluster-wide quotas?  In general, special cases make me itchy.

[2016-11-14 14:51] justinsb opened #36750 "Templates syntax: how to _not_ specify an env var"
I am not sure of the status of the templates proposal, but a requirement came up to optionally specify an env var https://github.com/kopeio/kexpand/pull/8 cc @yissachar

Can this be done using the proposed templates syntax?

[2016-11-14 15:23] gmarek opened #36752 "Timestamps in events should have (at least) millisecond granularity."
Currently we truncate them and store them with second granularity which is not enough - it causes problems in debugging (events from the same second are in pretty much random order), and it's not precise enough for performance benchmarking.

cc @dchen1107 @erictune @smarterclayton @timothysc @fgrzadkowski @wojtek-t and I guess @kubernetes/sig-instrumentation

[2016-11-14 15:33] fgrzadkowski commented on #34772
I have to admin that I couldn't reproduce this issue, but I think that the scenario is the following:

1. Kubelet registers nodes
2. Kubelet marks node as Ready
3. Scheduler assigns 10 pods
4. Kubelet registers static pods (pods coming from manifest files on disk)
5. Kubelet refuses 2 pods as they do not fit (due to pods started from manifest)

I think this is a general limitation of a distributed

[2016-11-14 15:45] deads2k commented on #36749
opened https://github.com/kubernetes/kubernetes/issues/36753

[2016-11-14 15:55] mritd opened #36754 "The kubeadm command parameter '--external-etcd-endpoints' validation error"
When using the `kubeadm init --external-etcd-endpoints` command, if `etc` is on the same host as `kubernetes master`, `kubeadm` will verify that the `2379` port is enabled and the `/var/lib/etcd` directory exists , Which causes kubernetes to fail to use the extended etcd cluster.

[2016-11-14 15:59] quinton-hoole commented on #36074
This is definitely a 1.5 blocker, IMO.

On Nov 13, 2016 16:33, "Saad Ali" <notifications@github.com> wrote:

@kubernetes/sig-cluster-federation
<https://github.com/orgs/kubernetes/teams/sig-cluster-federation> Can
someone from federation please take a look at this test and triage it for
1.5

CC @calebamiles <https://github.com/calebamiles>

—
You are receiving this because you are on a team that w

[2016-11-14 16:02] erikerlandson commented on #36716
For situations where admins want to segregate their cluster, say for "big-data" sub-sets with specific hardware profiles, just assigning namespaces for those, combined with use of labels and label affinity, seems like a plausible solution.    Satisfying hardware affinities, combined with satisfying quotas and priorities, all out of the same resource pool, starts to get tricky fast.

[2016-11-14 16:05] yujuhong commented on #32037
I couldn't find any "Kubelet should not restart containers across restart" test failure in the suites blow. Closing.

gce-serial: https://k8s-testgrid.appspot.com/google-gce#gce-serial&width=5
gci-gce-serial: https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial&width=5
gke-serial: https://k8s-testgrid.appspot.com/google-gke#gke-serial&width=5
gci-gke-serial: https://k8s-testgrid.appspot.com/

[2016-11-14 16:05] #32037 closed

[2016-11-14 16:12] phagunbaya commented on #36611
@rootfs What is the expected date for v1.5 release ?

[2016-11-14 16:17] dims commented on #36745
@mattymo already fixed in https://github.com/kubernetes/kubernetes/pull/30798 as part of issue https://github.com/kubernetes/kubernetes/issues/30515

[2016-11-14 16:29] mattymo commented on #36745
@dims That issue is related and seems to suggest there is no bug. But I am still encountering the issue where Kubelet won't actually communicate with the server located in my kubeconfig. All that bug does is tolerate the absence of kubeconfig (and waits for it to be created, or die if --require-kubeconfig is set).

[2016-11-14 16:33] mikedanese commented on #36082
@deads2k Multiple files with predictable outputs is fine. `expansions.go` and `client.go` would work. The nuisance is when the output can't be predicted without parsing the go package and examining type info.

[2016-11-14 16:59] ArchiFleKs opened #36757 "Federation on AWS does not add route53 A and AAAA alias for federated service"
BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.4.5

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS Alpha 1221
- **Kernel** (e.g. `uname -a`): 4.8.6
- **Install tools**:
- **Others**:

**What happened**:

When adding a federated service to a federation API with aws route53 as a DNS provider, alias records are not adde

[2016-11-14 17:15] #36749 closed

[2016-11-14 17:19] sandys commented on #34134
Can this be used to setup a cluster on a regular debian O's as well ?

[2016-11-14 17:22] ymqytw commented on #36567
SGTM

[2016-11-14 17:24] colemickens commented on #33685
You must have an old `kubectl`. `kubectl -n` was added recently.

[2016-11-14 17:44] srakesh28 commented on #36611
Looks like according to https://github.com/kubernetes/features/blob/master/release-1.5/release-1.5.md target date for GA is Dec 8 but 1.5 beta should be ready by Nov 18 this friday

[2016-11-14 17:47] deads2k commented on #36082
It's done as `<resource>_expansion.go` so that a user can later modify that file and new resources will prime new files.  If you have a single file, the generator is stuck trying to mutate a user modified file.

[2016-11-14 17:52] #30175 closed

[2016-11-14 17:55] mml commented on #36555
The fix in the shell script is good, but the error message in the rollback tool could definitely be improved upon.

[2016-11-14 17:55] ymqytw commented on #36586
@saad-ali Yes, I guess so. I'm looking into it.

[2016-11-14 18:08] DreadPirateShawn commented on #22024
@wojtek-t Great question.

We definitely see it on Kubernetes 1.2.2.

However, we attempted to upgrade to Kube 1.4 and Docker 1.12 recently, but ultimately ran into docker/docker#27607 as a blocker issue, and we needed to perform a full rollback. We considered trying to upgrade each separately, but at this point it makes more sense to wait for Docker 1.13 (pending soon) and revisit.

[2016-11-14 18:15] k8s-merge-robot opened #36761 "kubernetes-soak-continuous-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/9300/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26784 #28384 #31935 #33023

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] re

[2016-11-14 18:16] obeattie commented on #22024
We definitely see it in our production cluster running 1.3.x. We'll be upgrading to 1.4.6 in the next few days, so I will post an update soon about whether the issue is still present.

[2016-11-14 18:21] spxtr commented on #36553
One of these tests is causing some serious issues, but it's not clear which. Assigning @foxish because of previous issues.

[2016-11-14 18:22] #36416 closed

[2016-11-14 18:22] vishh commented on #28272
Great. In that case, kubelet can set the default size of `/dev/shm` to be that of the pod's memory limit. Apps will have to be configured to use a value that is lesser than the pod's memory limit for `shm`.

[2016-11-14 18:23] #36689 closed

[2016-11-14 18:24] foxish commented on #36553
@spxtr, I fixed a bug in them earlier and the flakes should be much lesser. Can you explain what issue is being caused?

[2016-11-14 18:28] #32942 closed

[2016-11-14 18:30] jayunit100 opened #36762 "Long intervals of unscheduled pods during integration tests."
Problem:

The scheduler_perf tests seem to have long strings of zeros in pod scheduled throughput, that last 20 seconds or more .

Solution:
Either (1) fix the test so it doesnt create a low througput scenario or (2) fix the scheduler so throughput maintains constant.   Hopefully its just an issue with the test setup in (1) :)

Example if we print out throughput-per-second...

[code]

There are al

[2016-11-14 18:32] jayunit100 commented on #36762
strings like `89 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 132` indicate that this is not just  a sampling window issue - because clearly its a very erratic change in pods per second, even if we average it - it would be very low (2 pods per second),

[2016-11-14 18:33] jayunit100 commented on #36762
cc @gmarek @timothysc

[2016-11-14 18:35] gaddamidianil commented on #27436
@keontang Can you please provide the complete documentation for master HA setup. Thanks.

[2016-11-14 18:39] spxtr commented on #36553
https://k8s-testgrid.appspot.com/google-gce#gci-gce-petset

There are several runs where there are either lots of missing tests or lots of failed tests.

[2016-11-14 18:46] offlinehacker commented on #32630
This is getting really annoying, our pods are not starting on dayli basis and then i have to spend a lot of time recovering them. While this is not critical for us as we have replicated services, it just takes a lot of time to recover. We are running it on k8s-1.4-debian-jessie-amd64-hvm-ebs-2016-09-30 with 4.4.23-k8s kernel. What do you do to workaround this issue, or have you managed to fix it?

[2016-11-14 18:48] dims commented on #36729
Are you running both apiserver and kubectl with --allow-privileged=true flag? can you try that then deploy your container (and check logs to see if there are any issues)

[2016-11-14 18:59] caesarxuchao commented on #36082
The directory structure of the generated clientset is also dynamic, i.e., if a user instructs to generate clients for another group/version, a new "group/version" folder will be added to the typed/ directory. Will bazel work in that case?

[2016-11-14 19:00] foxish commented on #36553
Those seem like older runs to me. I can monitor it for a few days and see, but I don't think there are any major issues around these tests.

[2016-11-14 19:02] gmarek commented on #36082
Maybe client generator should generate BUILD files as well?

[2016-11-14 19:02] Pensu opened #36763 "Error: Go-yaml control characters are not allowed"
Hi all,

I have been trying to run kubernetes e2e tests on ppc64le platform using go1.7. All the conformance tests are failing with the same error. Here is the error that I am getting:

`Couldn't delete ns: yaml: control characters are not allowed (&errors.errorString{s:"yaml: control characters are not allowed"})`

Every single test fails with this error. Any idea where should I start debugging f

[2016-11-14 19:04] caesarxuchao commented on #36082
That could be the solution.

[2016-11-14 19:13] dgoodwin commented on #34420
Doing a little experimenting today with kubelet compiled from master (1.5 effectively) and the new selinux work done there, it looks as though kube-dns and weave can come up without issue and with no denials when selinux is enforcing.

[2016-11-14 19:15] luxas commented on #34420
So you mean v1.5 will work fine on CentOS without `setenforce 0`?

[2016-11-14 19:17] derailed commented on #36729
Hi Davanum,

  Thanks for the reply! I assume you mean kubelet and not kubectl?

  On master
    The kube-apiserver is running with --allow-privileged
    The kubelet is running with --allow-privileged=true

  On minion
    The kubelet is running with --allow-privileged=true

[2016-11-14 19:17] foxish commented on #36553
Spoke too soon. Looks like one of them makes the entire suite fail, because one of the nodes becomes non-ready.

[2016-11-14 19:18] dims commented on #36729
oops. yes. kubelet. Anything in the logs @derailed ?

[2016-11-14 19:20] dgoodwin commented on #34420
Yes I believe so, in my testing we do still need etcd running unconfined because it uses /var/lib/etcd/, but we don't need kube-discovery running unconfined anymore (but it's going away soon anyhow), and the weave/kube-dns problems appear to be gone as well.

[2016-11-14 19:21] madhusudancs commented on #34060
@saad-ali we probably should, but most of us do not have the expertise. @justinsb is probably the right person. @quinton-hoole anything else we can do about this?

[2016-11-14 19:28] erinboyd commented on #36295
@kerneltime So I am thinking the full path is:
/Boston/host/devel/Resources
But from your example you give I am wondering if I shouldn't have an IP (host) rather then 'devel' in my path.
Thoughts?

[2016-11-14 19:33] mandarjog commented on #36652
Can you add the following argument
[code]
to ExecStart ?

It is potentially generating incorrect rules because of missing cluster cidr

[2016-11-14 19:58] sumdog opened #36766 "kubeadm init fails preflight checks on default install in Ubuntu Xenial"
I've been writing some Ansible scripts to automate my setup. In one of the recent package updates, I get a preflight check failure on my first run of `kubeadm` because it finds stuff in `/var/lib/kubelet`:

[code]
When I check the folder, I just see two empty folders: `plugins` and `pods`. If I run `dpg -S` on either of these two packages, no package claims/owns them.

These are the packages I ins

[2016-11-14 20:09] dav1x commented on #36295
@erinboyd I think in @kerneltime's example he is using a single node. The devel is the cluster name. We could always take a node out of the cluster and test with a single node by itself to see if that works.

[2016-11-14 20:15] mandarjog commented on #36652
@bprashanth
https://github.com/kubernetes/kubernetes/commit/93f9b54cab80dd0f49d1041141b60133a82baaca line: 1188 add this problem.

[2016-11-14 20:20] bprashanth commented on #36652
Thanks for the report

[2016-11-14 20:21] #36722 closed

[2016-11-14 20:24] mikedanese commented on #36082
I don't think this is a huge issue. I can prototype a solution and see if you guys like it.

We can do `client.go`, `generated_expansion.go` and optionally a user managed `expansion.go`. To be clear all this is possible without an change, there's just a larger maintenance burden.

This won't work unless we generate BUILD files outside of bazel which defeats the purpose. BUILD files must be present

[2016-11-14 20:41] yvespp commented on #22024
Seeing this with client-go 1.5 and Kubernetes v1.4.3 on minikube. See https://github.com/containous/traefik/pull/836

[2016-11-14 20:43] derailed commented on #36729
I am not seeing anything in the logs, but did see something a bit
suspicious running docker inspect on the manual container vs the kubernetes
launched container. Not super sure of the implications here but here is
some deltas:

First the k8s docker container is indeed running with privileged:true so
the securityContext option seems to be working as expected.

Here are some deltas

Manual docker ru

[2016-11-14 20:48] bprashanth commented on #36652
We want the vm to accept the lb vip as "local" if the traffic is from outside the cluster coming in, but we *don't* want the vm to accept the lb vip as local for traffic from the vm going out. In both cases the destination is the vip, so to distinguish them, we check if the source is within the clusterCIDR.

If we don't have the CIDR, we have 2 options:
1. fallback to blackholing the lb vip on nod

[2016-11-14 20:49] bprashanth commented on #36652
FTR @mandarjog volunteered to send a pr

[2016-11-14 20:50] olegch commented on #36269
@jingxu97: We are having exactly same issue on AWS, Kubernetes 1.4.6, Ubuntu 16.04.

I tried to investigate for a root cause, and it looks like different parts of Kubernetes code have different conventions for AWS EBS mount points.

Here is a log extract that helps illustrate the issue:
[code]

Now let's check actual mount points:
[code]

As you can see, it is trying to unmount path `/var/lib/kube

[2016-11-14 20:52] vishh opened #36770 "hack/update-all takes forever"
There are about 23 update scripts and it is not obvious which ones have to be run for a given PR. These update scripts take anywhere between 20 - 30 minutes on a beefed up machine. I can't imagine running them on a laptop.
We need to either
1. Make the script `hack/update-all.sh` be smart and run only the scripts necessary based on the dirty files in a branch, or
2. Optimize the update-* scripts t

[2016-11-14 20:55] euank commented on #36159
PR that might fix this over #36771. I skimmed the `kern.log` for a couple of them and, as @yujuhong pointed out, there are cgroup OOMs.

Hopefully that PR does fix this, but I haven't done any testing.

[2016-11-14 21:01] mikedanese commented on #16779
Can we add an annotation to a service account that instructs the token controller to not generate an API token secret for the account. E.g.:
[code]
Then a user can use the no-access service account to create pods without api access.

[2016-11-14 21:02] yujuhong commented on #35197
The main problem is that the test gets a list of nodes at the beginning, and then creates a RC with N*10 pods, where N is the number of nodes. The test holds on to the initial node list and queries individual kubelet at the /runningPods endpoint to see all pods are running.

Here comes the problem. For some reason, the initial list only includes 2 nodes, even though the cluster has 3 (non-master)

[2016-11-14 21:05] jotacamou commented on #34698
Maybe this should go under the area/platform/openstack label?

[2016-11-14 21:11] timothysc commented on #36544
/cc @richm @jeremyeder

[2016-11-14 21:17] krousey commented on #34102
@mwielgus It seems that the master is becoming unavailable during a node check after a new pool is added. I saw you checked in https://github.com/kubernetes/kubernetes/pull/28463 which seems related. Could you confirm and possibly fix this if it is?

Assign back to me if it's not.

[2016-11-14 21:17] kerneltime commented on #36295
About that code in question, I was hoping that the HPE team would chime in but so far they have not. So I will put my 2 cents in, right now my understanding is that the cloud provider is trying to discover the values to be returned for GetZone() and they are very prescriptive about the deployment and how it maps to Regions and Zones which might not be true for every deployment. If some one wants,

[2016-11-14 21:18] kerneltime commented on #36295
@dav1x yes that is true my setup has only one vSphere node.

[2016-11-14 21:19] krousey commented on #31503
@yujuhong could you provide the update we discussed over hangouts? Thanks.

[2016-11-14 21:21] bgrant0607 commented on #35462
cc @alex-mohr @eparis

[2016-11-14 21:22] bowei commented on #27450
This should not block 1.5, but I will push something to try to fix it.

[2016-11-14 21:24] jingxu97 commented on #36269
@olegch thanks a lot for helping look into this issue. Your analysis is right, there is some discrepancies when constructing the mount path. I will send out a fix asap.

[2016-11-14 21:27] deads2k commented on #16779
I don't think that works as well since SA tokens are good way to long lived, revocable tokens for machine purposes.  I can then use those credentials to power out of band scripts.  I probably won't ever create a pod using that SA, but if I did, I could reasonably want to prevent the secret from automounting.

Also, SAs have two categories of secrets: mountable secrets and image pull secrets.  It's

[2016-11-14 21:28] dims commented on #36729
@jessfraz : Any ideas on this issue? PTAL when you get a chance

[2016-11-14 21:30] philips commented on #35462
Got caught up with KubeCon madness. Targeting getting this done this week.

Any progress on the requisite systems @jessfraz?

[2016-11-14 21:35] timothysc commented on #22212
@dchen1107 are we scoping this for 1.6?  If so I think it's so cross cutting what sig is going to champion this?

[2016-11-14 21:47] saad-ali commented on #36159
Thanks @euank. @yujuhong could you review Euan's PR please? This issue is becoming more frequent.

[2016-11-14 21:48] richm commented on #36544
This is the information we have in the current logging format (whether using log files or CONTAINER_NAME in journal): container_name, pod_name, namespace_name, docker_id.
log files:
[code]
journald:
[code]
This is the information we currently need: pod_uuid, namespace_uuid, spec.nodeName, metadata.labels, metadata.annotations.

[2016-11-14 21:49] andronat commented on #23564
@smarterclayton why applying secrets is broken anyway? We have a use case that we use a custom controller to apply secrets based on a third party object.

[2016-11-14 21:55] andronat commented on #26202
@pwittrock any comments on [this](https://github.com/kubernetes/kubernetes/issues/26202#issuecomment-257051835), I would like to work on it.

[2016-11-14 21:56] davidopp commented on #22212
My opinion: I think we can probably do the design in 1.6, but it seems unlikely we could finish the implementation.

After thinking about #36716 I think this is actually even more complicated than we originally thought.

I think this is mostly a sig-scheduling issue. However there is some connection to node, I think the two main questions there are
* (discussed upthread) is there a connection betw

[2016-11-14 22:05] jessfraz commented on #35462
I don't have the permissions and pinged a few people I'll reping, sorry for
the delay

On Nov 15, 2016 10:31, "Brandon Philips" <notifications@github.com> wrote:

Got caught up with KubeCon madness. Targeting getting this done this week.

Any progress on the requisite systems @jessfraz
<https://github.com/jessfraz>?

—
You are receiving this because you were mentioned.

Reply to this email directl

[2016-11-14 22:10] dims commented on #36708
Both failures are in the "should not start app containers if init containers fail on a RestartAlways pod" test ( cc @maisem )

[2016-11-14 22:11] waynebrantley commented on #34134
Correct way to run...

 docker run -it -v /etc/cni:/rootfs/etc/cni -v /etc/systemd:/rootfs/etc/systemd -v /opt:/rootfs/opt -v /usr/bin:/rootfs/usr/bin luxas/kubeadm-installer coreos

[2016-11-14 22:13] krousey commented on #29231
Closing as it hasn't happened again.

[2016-11-14 22:13] #29231 closed

[2016-11-14 22:23] yujuhong commented on #31503
This update only applies to the "resource usage tracking" tests for the GCE soak cluster.
 - Memory leak in docker daemon is expected (#28124) as mentioned earlier in the comments.
 - The kubelet memory usage fluctuation will no longer be an issue after #36623 is deployed to the soak cluster.

[2016-11-14 22:27] vishh commented on #32304
@dashpole can you take a look at this issue?

[2016-11-14 22:34] #36567 closed

[2016-11-14 22:35] timothysc commented on #36716
So this topic straddles two architectural approaches, which I've literally toiled on for years, and I think we should add this as a topic for the next @kubernetes/sig-scheduling meeting.  History has taught me having such discussions on github rarely breeds consensus and can often lead to more confusion, as there are a set of features and capabilities that need to be thought about from a wholistic

[2016-11-14 22:41] fraenkel commented on #36391
This is a pretty common issue since we are converting the JSON to a map[string]interface{}, all numbers are treated as float64. The template engine unfortunately documents that it compares like types which will never work out in our case.  Since we vendor & fork the template, it is a trivial change to make this all work.

[2016-11-14 22:48] saad-ali commented on #36159
`kubelet-gce-e2e-ci` is [consistently failing](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/) with this test. Raising priority to P0

[2016-11-14 22:50] philips commented on #35462
@jessfraz no worries, I think we were all overly optimistic about the ability to get stuff done before KubeCon :)

[2016-11-14 22:58] Brian-McM commented on #36589
@jingxu97 just about to email you the logs, thanks!

[2016-11-14 23:01] jingxu97 commented on #36589
Hi @Brian-McM, I think your issue is the same as this PR https://github.com/kubernetes/kubernetes/issues/36269
We are currently working on the fix. If you think your issue is different, please let me know and share your log to us. Thanks a lot!

Jing

[2016-11-14 23:06] yujuhong commented on #35197
The kubectl test "should remove all the taints with the same key off a node" adds taint to the node, causing the node to be temporarily ruled out in the cleanup test.
[code]

I'll patch the cleanup test to avoid hitting this scenario, but I think the the kubectl test could interfere with other tests as well. @kubernetes/kubectl

[2016-11-14 23:08] #33827 closed

[2016-11-14 23:16] Brian-McM commented on #36589
This is it exactly. Thank you very much very much Jing. Would you like me
to add the logs I sent to you to that issue? Let me know if you need
anything from me because I can reproduce this quite consistently.

On Mon, Nov 14, 2016 at 3:02 PM, Jing Xu <notifications@github.com> wrote:

[2016-11-14 23:16] yujuhong opened #36781 "kubectl test adds taints to a node and may interfere with other test"
Forked from https://github.com/kubernetes/kubernetes/issues/35197#issuecomment-260493189

The kubectl test "should remove all the taints with the same key off a node" adds taint to the node, which may interfere with other tests.

E.g., https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/3881/
[code]

The node `gke-jenkins-e2e-default-pool-a4eebde8-om8a` was cons

[2016-11-14 23:29] jingxu97 commented on #36589
@Brian-McM thanks a lot for confirming it. Since we already found the issue, you don't need to put log again. After I finish the fix, we would really appreciate you and other users to help us verify the fix.

[2016-11-14 23:31] Brian-McM commented on #36589
I would be happy to as this is quite a big issue for us. As soon as the fix
is available I will jump on that. Thanks again.

On Mon, Nov 14, 2016 at 3:29 PM, Jing Xu <notifications@github.com> wrote:

[2016-11-14 23:44] bprashanth commented on #36781
Probably just run them in serial, given https://github.com/kubernetes/kubernetes/issues/31906 @kevin-wangzefeng

[2016-11-14 23:52] pwittrock commented on #26202
@andronat I think there are 2 pieces to this issue.  I am guessing you are only talking about solving 1.

1. Updating `kubectl apply` label selector and label fields that were defaults from the PodTemplate labels in response to changes PodTemplate labels
  - More generally how to manage fields after they have been defaulted by the server
  - Need to figure out the details here: Do we allow changin

[2016-11-14 23:57] MrHohn opened #36784 "Unable to change service type from LoadBalancer to ClusterIP with `loadBalancerSourceRanges` declared"
From #36546.

During the firewall e2e test we need to change the service type from `LoadBalancer` to `ClusterIP` to avoid leaking LB resources. But found it is not working because the `loadBalancerSourceRanges` field. Error I got as below:
[code]

If don't delete this `loadBalancerSourceRanges` field, got instead another error:
[code]

@bprashanth @bowei

[2016-11-15 00:28] MrHohn commented on #36784
Just saw the TODO comment [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L2668). Working on it.

[2016-11-15 00:31] mandarjog commented on #36652
The specific issue here arises when
[code]
In this case we populate XLB chain as follows
1. Add rule to jump to SVC chain if source == cluster_cidr
2. Add load balancing rules to route to local endpoints
 or add
"has no local endpoint" rule.

If cluster_cidr is not available, There are 2 options:
1. Rule (1) can either be removed, which means
    If there are local endpoints, routing will succeed,

[2016-11-15 00:46] bprashanth commented on #36652
Is 2 valid? you don't need podCIDR to actually implement onlyLocal. If I startup without podCIDR, and you add a blanket rule that just jumps straight to SVC because we don't have podCIDR, that mens traffic coming in from the internet will get sprayed across service endpoints. Traffic from the internet going to a Service with onlyLocal should always be either kept local, or blackholed. Traffic from

[2016-11-15 00:59] #36159 closed

[2016-11-15 01:09] bgrant0607 commented on #36010
Any idea why this is so flaky in the kubelet suite?
https://k8s-testgrid.appspot.com/k8s#kubelet&width=5

[2016-11-15 01:10] mandarjog commented on #36652
while writing tests, is iptables-restore available ?   I don't see a way to invoke iptable-restore from the tests with custom args.

specifically, how how to verify if the produced filter chains are syntactically correct?
[code]
does this verification.

[2016-11-15 01:19] k8s-merge-robot opened #36787 "kubernetes-e2e-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/11534/

Run so broken it didn't make JUnit output!

[2016-11-15 01:25] yujuhong commented on #36781
Assigned to @kevin-wangzefeng and @davidopp (owner of #31906).

[2016-11-15 01:25] hongchaodeng commented on #34072
Is this still valid?
We have fixed the TestWatch() flakes.

[2016-11-15 01:48] yujuhong commented on #30534
If there is no feedback loop to let scheduler know that the node is not ready, wouldn't this create more churn if more pods get created and scheduled back to the same node?

I think 5 min is too long and we can definitely shorten it. I am also not against making it tunable, but I think kubelet should report it sooner in this case.

[2016-11-15 02:22] workhardcc commented on #26353
here is my note:
{
    "kind": "DeploymentRollback",
    "apiVersion": "extensions/v1beta1",
    "name": "node-46",           //deployment's name
    "rollbackTo": {
        "revision": 3
    }
}

HTTP Produces: application/json
访问方式：POST方法传入json串

[2016-11-15 02:25] jayunit100 commented on #36532
...a more easy to interpret summary...
[code]

[2016-11-15 02:28] Dm3Ch opened #36790 "kubeadm with external etcd failure"
**Kubernetes version** (use `kubectl version`):
`kubeadm version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.2.421+a6bea3d79b8bba", GitCommit:"a6bea3d79b8bbaa5e8b57482c9fff9265d402708", GitTreeState:"clean", BuildDate:"2016-11-03T06:54:50Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Cloud provider or hardware configuration**: baremetal
- *

[2016-11-15 02:44] sandflee opened #36791 "should enable quorum-read by default in HA env"
we deploy k8s in HA mode, and encountered namespace not found while creating default serviceAcount, the main path is :
1,  request apiserver A to create a namespace
2,  controller manager watched it and may request apiserver B to create serviceAcount
3,  apiserverB couldn't find the corresponding namespace even if it tries to get from etcd

we solved this by enable quorum-read in apiserver,  seems

[2016-11-15 02:45] k82cn opened #36792 "Disable e2e/e2e_node build on Mac"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**Kubernetes version** (use `kubectl version`):
master

**Description**:
AFAIK, "e2e/e2e_node" did not support Mac for now; but `make` still compile it which introduced several build broken on Mac.

To save developer&reviewer's effort , e.g. #35897, #33105, propose to disable e2e/e2e_node build on Mac.

cc @Random-Liu , @i

[2016-11-15 02:48] Random-Liu commented on #36792
If there is a way to skip package based on platform when `make`, it would be easy to skip node e2e then.

I'd like to know if there is existing solution.

[2016-11-15 02:55] MikeSpreitzer commented on #22586
I am also seeing this, with line number 133, from v1.4.4.  I am running on "bare metal" (really VirtualBox VMs, but no cloud provider in sight) Ubuntu 16.04, running the kubelet inside a Docker container.  Here's the relevant line from my systemd unit on a master machine (the simpler case, and I get the error message only twice):
[code]

[2016-11-15 02:56] MikeSpreitzer commented on #22586
CC @huang195

[2016-11-15 02:59] Dm3Ch commented on #36790
Hmmm, i thought it should be component/kubeadm, not component/apiserver. O_o

[2016-11-15 03:09] humblec commented on #36725
@davidchua this is fixed by https://github.com/kubernetes/kubernetes/pull/32662.  The latest master should have the fix.

[2016-11-15 03:22] leosunmo commented on #35695
I am having what seems to be the same problem using K8s in AWS.

[code]

Creating a petset with two dynamic PVCs causes the two AWS ELB volumes to be created in different Availability Zones which of course causes my pod to fail scheduling with the following error:

[code]

[2016-11-15 03:30] feiskyer commented on #33189
gci-gce-cri all green in recent tests, @yujuhong do we still have open failures?

[2016-11-15 03:30] k8s-merge-robot opened #36794 "[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] Pods should return to running and ready state after network partition is healed All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be mark back to Ready when the node get back to Ready before pod eviction timeout {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial/336/

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] Pods should return to running and ready state after network partition is healed All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be mark back to Ready when the node get back

[2016-11-15 03:35] yarntime commented on #34519
I will try it later, thank you very much.

[2016-11-15 03:58] bgrant0607 commented on #27308
cc @kubernetes/kubectl

[2016-11-15 04:06] #35089 closed

[2016-11-15 04:17] justinsb commented on #28586
How are you installing @gleeb and @jensskott ?

[2016-11-15 05:11] mattymo commented on #36745
Another update. If you specify --kubeconfig, but omit --api-servers and --require-kubeconfig, kubelet won't connect to any apiserver. If you add --require-kubeconfig, it works. Is that expected behavior?

[2016-11-15 05:24] saad-ali commented on #31920
Closing. It'll re-open if it flakes again.

[2016-11-15 05:24] #31920 closed

[2016-11-15 05:32] saad-ali opened #36796 "`verify-release-1.5` build consistently failing with "No such file or directory""
The `ci-kubernetes-verify-release-1.5` jenkins job, aka `verify-release-1.5` in test grid, has been [consistently failing](https://k8s-testgrid.appspot.com/release-1.5-blocking#verify-release-1.5) due to:
[code]

[2016-11-15 05:44] YuPengZTE commented on #36739
@madhusudancs thanks a lot.

[2016-11-15 06:10] zhw2101024 commented on #34067
#https://github.com/jteeuwen/go-bindata/issues/143
It seems a go-bindata issue.
Go-bindata need vet package, and vet has been moved to golang and cannot be found in golang.org/x/tools now.
But go-bindata is not actively developed and the latest commit is more than one year ago, so I dont't know when can this issue be reviewed.

[2016-11-15 06:12] jaohaohsuan opened #36798 "some errors while running kubelet with rkt fly stage1"
**Environment**
Rkt version: 1.14.0
Docker version: 1.11.2
Hyperkube: v1.4.6
[code]

**What did you do?**

I am running kubelt with official /usr/lib/coreos/kubelet-wrapper on coros 1185.3.0.

**What did you see instead?**

[code]
The errors shows repeatedly. It looks like cgroup tree problem.
Anyone can help ? Thanks :)

[2016-11-15 06:13] davidopp commented on #35695
#27553 is relevant.

But yeah, I'm not sure the "two volumes mounted from the same pod" case is handled. I guess you want the dynamic PV provisioner to somehow know which set of PVs should be co-located in the same zone because they will be used together by some pod?

cc/ @justinsb @bprashanth

[2016-11-15 06:17] nikhiljindal opened #36799 "federation: deleting a service does not delete all DNS records"
Steps to repro:
* Create a federated service and then delete it.

Expected: All DNS records created for that federated service should go away.
Actual: CNAME records still remain.

Details:
Running `
$ gcloud dns record-sets list --zone=nikhiljindal` after deleting federated service gives me
[code]
I had created a service called nginx and have 2 registered clusters one in us-central1-a and other in

[2016-11-15 06:18] nikhiljindal commented on #36799
@mfanjie Can you work on this?

[2016-11-15 06:20] trenton42 commented on #13871
I'm not sure if anything has happened with this, but I experienced the same issue today on version 1.4.5.

I created a simple setup with a single pod RC that has a gcePersistentDisk mounted. Deleting the pod or changing the RC to 0 then back to 1 causes all of the data in the persistent disk to be deleted.

[2016-11-15 06:41] mootezbessifi commented on #36744
@thockin

[2016-11-15 06:43] tatsuhiro-t commented on #35015
This issue was labelled as component/kubectl, but actually it is not limited to kubectl.  All controllers suffer from this.
Only people notice this if they enable V(4) logging.

[2016-11-15 07:31] wernight commented on #16779
I hope the "automount SA token" is off by default so it's not mounted/provided by default. Could be on for upgrades if we can show a nice warning explaining how to turn it off.

[2016-11-15 07:52] andronat commented on #26202
Yea I'm referring only to point 1 as my main concern is the stability of `kubectl apply`.

I want to explicitly state that the problem with defaulting is not only affecting selectors but it is more general. We can decide if we want to prohibit selector changes independently from fixing apply and defaulting.

More specifically we will have similar inconsistency problems wherever new defaulted field

[2016-11-15 08:09] thockin commented on #30338
Agree on all fronts, except individual binaries.  It's relatively small - cope :)

We should demand that "upstream" tag and we should only ship tagged versions.  @freehan will be back from leave soon

[2016-11-15 08:10] k82cn commented on #36733
Will `NotSchedulable` dependent on scheduler, policy and Pod's description ?

[2016-11-15 08:14] k82cn commented on #36716
@timothysc , I definitely want to talk this in sig meeting :).

[2016-11-15 08:18] euank commented on #28368
@calebamiles want to close this one per the comment above?

[2016-11-15 08:32] MeromTh opened #36803 "Service port name still required on multiple ports"
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
- **Cloud provider or hardware configuration**: `gke`
- **OS** (e.g. from /etc/os-release): `container-vm` `Debian GNU/Linux 7 (wheezy)`
- **Kernel** (e.g. `uname -a`): `Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 GNU/Linux`

**What happened**:
I'm trying to use multi ports on service. Like this
[co

[2016-11-15 08:34] #36314 closed

[2016-11-15 08:42] resouer commented on #34923
As long as you are in a cluster, you should have ways to find the node IP first and then consume it. downwardAPI is the best way, but I am wondering whether you can `ping` that hostname inside container.

[2016-11-15 08:51] resouer commented on #32024
@wojtek-t my mistake, I mean `podFitsOnNode` in parallel

[2016-11-15 08:52] thockin commented on #36655
Can you tell me what happens with top-level make?  It works for me...

[2016-11-15 08:52] irfanurrehman commented on #36587
@madhusudancs for issue 2,  I could not find a better way of automatically put a tag value. I think what you say is sort of right.
for issue 1, as you mentioned the fix is raised as part of https://github.com/kubernetes/kubernetes/pull/36294
will close this issue once that PR is merged.

[2016-11-15 09:02] sebgoa commented on #36655
The top level make is a local Go build (afaik)

So if you consider a new guy, who does not have Go installed and wants to compile kube, then it won't work.

I went looking for a 100% docker build.

[2016-11-15 09:15] k8s-merge-robot opened #36804 "[k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook when it is http hook should execute poststart http hook properly [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/11175/

Failed: [k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook when it is http hook should execute poststart http hook properly [Conformance] {E2eNode Suite}

[code]

[2016-11-15 09:18] soltysh opened #36805 "Split generator files into its own subpackage"
`pkg/kubectl` is getting messier and messier with the number of generators being created. I'm propose creating new subpackage `generators` and split each generator into its own file.

@fabianofranz @kubernetes/kubectl opinions?

[2016-11-15 09:20] sebgoa commented on #36655
Since I have Go (personally, but may not be the case for first timers), I can try the top-level make:

[code]

[2016-11-15 09:45] FutureSharks commented on #34772
I had this same issue when trying to autoscale a node.js application while load testing. I was able to simplify the configuration to make it easy to reproduce like this:

[code]

Where app-simple.yaml is here:
https://gist.github.com/FutureSharks/ce0d9e9b030e96689dbfc452ad2aa866

This simply creates pods that use 100% CPU. I know it's a simplistic test but Kubernetes pod and cluster node autoscali

[2016-11-15 09:59] gmarek commented on #36532
I can't really explain what you're seeing. My results look like this (100 Nodes, 10000 Pods) [the huge number in the 0s is expected - this is how this test was written]:
[code]

It's clear that you have some modified version of the test, but it's also strange, as it looks like you observer way, way, way, way, way worse performance that I'm seeing.

[2016-11-15 10:06] floreks opened #36806 "Unable to delete Job using batch client"
**Kubernetes version**: HEAD

**What happened**: Using `RESTClient` interface to delete Job throws an error `api.DeleteOptions is not suitable for converting to "batch/v1"`.

**What you expected to happen**: Job should be deleted.

We've found that issue after dependency update on dashboard: https://github.com/kubernetes/dashboard/pull/1408. We are using [RESTClient](https://github.com/kubernetes/

[2016-11-15 10:18] mdshuai opened #36807 "Container cgroup hierarchy not correct if docker cgroup driver conflict with kubelet cgroup-driver"
**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.1.2189+d8fa4f4d564bab-dirty
docker: 1.12.3

**Environment**:
fedora24
docker-engine-1.12.3-1.fc24.x86_64

**What happened**:
if docker Cgroup Driver=cgroupfs, and set --cgroup-driver=systemd in kubelet, then enable --experimental-cgroups-per-qos=true; The container cgroup some is not correct.

**How to reproduce it** (as minimally and pr

[2016-11-15 10:20] mdshuai commented on #36807
[code]

[2016-11-15 10:23] mdshuai commented on #36807
@derekwaynecarr help check, thanks.

[2016-11-15 10:53] alexandrst88 commented on #22598
@arun-gupta this works fine for me
[code]

[2016-11-15 11:21] #36333 closed

[2016-11-15 11:24] rf232 commented on #36806
+1
apis/autoscaling is similar

[2016-11-15 11:36] jayunit100 commented on #36532
unmmodified from master

[code]
running the original master branch.    the original cause of failure is simply the cold start i think.

[2016-11-15 11:40] fgrzadkowski commented on #34772
@FutureSharks Thanks for your report. I'm gonna try to reproduce this again using your configuration. But I still think that the problem is with the race I have described above.

Regarding you specific issues
Ad 1 - we have already improved logic for creating new nodes more aggressively. It will be available in GKE in Dec. Hopefully it will limit this problem
Ad 2 - This needs further investigatio

[2016-11-15 11:40] #34633 closed

[2016-11-15 11:42] m1093782566 opened #36808 "[resource quota] when Kubernetes update resource quota status"
**Is this a request for help?**

Yes!

Recently, when I read the codes about resource quota, I find I got lost :)

My question is simple, when does admission controller update the resource quota object status in etcd?

For example, when create 1 pod, we should update `resourceQuota.Status.Used.pods` to  `resourceQuota.Status.Used.pods+1`. I can find `podUsageFunc` [here](https://github.com/kuberne

[2016-11-15 11:47] FutureSharks commented on #34772
Regarding 'Ad 3': I mean the cluster node count reached 5 and didn't increase further even though CPU resources on each node were at maximum (in the 90%s) and more pods were still being started. I waited 20-30 mins or so it seemed stuck at 5.

FYI I also have Google Case 11383740 open.

[2016-11-15 12:04] #36808 closed

[2016-11-15 12:05] m1093782566 commented on #36808
I already find it. Just Ignore it :)

[2016-11-15 12:10] k8s-merge-robot opened #36809 "[k8s.io] Kibana Logging Instances Is Alive [Feature:Elasticsearch] should check that the Kibana logging instance is alive {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-es-logging/3503/

Failed: [k8s.io] Kibana Logging Instances Is Alive [Feature:Elasticsearch] should check that the Kibana logging instance is alive {Kubernetes e2e suite}

[code]

[2016-11-15 12:21] jsravn commented on #35062
It comes from cadvisor. I suspect it can't handle LVM partitions?

[2016-11-15 12:41] gmarek commented on #36368
@yujuhong, @dchen1107 - I tried adding ServiceAccounts to the Kubemark master, so the Secrets would be generated. This didn't work straight away, because I wasn't registering secret volume plugin. After I added that it still isn't working.

The reason why is, IIUC:
[code]
Am I right thinking that it's because containers can't create and mount tmpfs volumes? Can I pass some flag/option somewhere to

[2016-11-15 13:08] deads2k commented on #16779
That would be a breaking API change.  We don't break our API intentionally, so automounting would be on by default and you can opt-in to disabling automounting on your serviceaccount.

[2016-11-15 13:10] kargakis opened #36813 "Expose pod start time via the Downward API"
Use-case: a Job or Pod that needs to set timeouts in various points in its lifecycle. For example, a deployer pod that has a global timeout to finish its work and various steps need to use a timeout too.

Deployer pod with a timeout of 10 minutes:
1. Scales down old replica sets for a deployment
2. Waits for all pods to be terminated
3. Executes *something*
4. Scales up new replica set

The wait p

[2016-11-15 13:12] deads2k opened #36814 "master_test.go:484: unexpected creation success. The following IPs exist:"
[code]

Seen in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36774/pull-kubernetes-unit/5119/ on https://github.com/kubernetes/kubernetes/pull/36774#issuecomment-260636365 .

@wojtek-t possibly related to the changes we just merged?

[2016-11-15 13:16] deads2k commented on #36805
Have generators fulfilled their mission yet?  There are a lot of them, but I'm still struggling to find the value they add to our CLI.

@derekwaynecarr

[2016-11-15 13:26] lsztachanski opened #36815 "[federation] kubectl delete cluster doesn't clean controllermanager"
**Kubernetes version**

```Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}```

federation server:
```Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f22

[2016-11-15 13:40] wojtek-t commented on #36814
Hmm - this is the same problem that I was fixing. I don't think my PR is a victim here - I think it just didn't fix all problems...
Though I don't really understand why we can end up with two services having the same IP address now.

@lavalamp

[2016-11-15 13:43] #36126 closed

[2016-11-15 13:43] waynebrantley commented on #36301
etables is easy - just install the package.
However, what about:
[code]

[2016-11-15 13:46] gmarek commented on #34911
@thockin @bprashanth - it seems that kube-proxy is using more and more CPU in our tests. Is that expected? We can raise the threshold (again), but we'd like to know if we want to dedicate 200mCPUs for kube proxy on every Node.

@timothysc - this is an example of failure caused by resource usage, that we talked about on dev summit.

[2016-11-15 13:46] #35513 closed

[2016-11-15 13:48] kargakis commented on #34710
This should be similar to revisionHistoryLimit for Deployments (maybe configurable to keep succeeded or failed jobs, default to keep latest jobs?)

[2016-11-15 13:49] danwinship commented on #30780
just noticed this is a dup of #19319

[2016-11-15 13:49] #30780 closed

[2016-11-15 13:49] soltysh commented on #34710
@bgrant0607 are you saying controller should look into quota and remove what is not needed? If not, that doesn't solve the problem. It'll only limit the surface. Personally I think I'd go with the solution similar to what Deployments have, like Michalis mentioned.

[2016-11-15 13:52] dgoodwin commented on #36301
@waynebrantley fixed but not released yet, details above.

[2016-11-15 13:54] gmarek commented on #36285
Last failure was caused by:
[code]

[2016-11-15 13:55] gmarek commented on #36547
kubemark scale failures should be ignored, as we're currently running a lot of experiments using this suite.

[2016-11-15 13:55] waynebrantley commented on #36301
Ok, I just ran it with --skip-preflight-checks
FYI, I did a kubeadm reset on a new node....
Then did a kubeadm join......the node never joined.   I rolled back to before that and join worked fine.
This may be a related issue?

[2016-11-15 14:01] dgoodwin commented on #36301
Probably very unlikely to be related, this preflight check is just a simple bad assumption that /etc/kubernetes doesn't exist or is completely empty, but the packages create /etc/kubernetes/manifests and the check always fails by default.

[2016-11-15 14:04] gmarek commented on #36368
Scratch that - I wasn't setting privileged container correctly.

[2016-11-15 14:04] Crassirostris commented on #34713
@piosz Please close it due to https://github.com/kubernetes/kubernetes/pull/36225

[2016-11-15 14:45] druidsbane commented on #29298
Has anyone gotten this to work recently?  I can get it to create the internal/private ELB but none of the node machines are added to the ELB.  If I manually add them everything works fine, so it is set up properly except for adding the ASG for the nodes or adding the nodes themselves.

@justinsb Is there some annotation I need to use possibly to allow it to find the nodes it needs to  add to the p

[2016-11-15 14:49] danwinship commented on #34641
@mbohlool @smarterclayton are there bugs for the +optional stuff?

[2016-11-15 14:52] #34713 closed

[2016-11-15 14:52] Crassirostris commented on #34713
Thanks!

[2016-11-15 14:56] emonty commented on #12083
Things are actually much more complex than that, sadly. The code here:

https://github.com/openstack-infra/shade/blob/master/shade/meta.py#L325-L329

is the entry point for a pile of logic for figuring out the appropriate addresses. It's also worth noting that in shade we have stopped relying on the nova proxy info and replace it directly with neutron api calls ourselves, as the proxy data can get

[2016-11-15 15:00] justinsb commented on #29792
kube-up is now in maintenance mode, and kops and kubeadm are well on the way here.  I believe kops matches all your requirements.  Closing; if there are specific requirements missing from kops or kubeadm can you maybe open issues against them?

[2016-11-15 15:00] #29792 closed

[2016-11-15 15:02] soltysh commented on #34447
Fix in flight https://github.com/kubernetes/kubernetes/pull/36812, I'll make sure to cherry-pick it back to 1.4

[2016-11-15 15:07] liggitt commented on #35096
the issue due to `glog/glog_file.go` registering a flag as a package variable, and vendoring glog multiple times (via `k8s.io/client-go`, `k8s.io/kubernetes`, and/or `github.com/golang/glog`)
[code]

[2016-11-15 15:10] rootfs opened #36818 "Need metrics in volume manager and controllers"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

There is no metrics in volume manager and controllers (i.e. attach/detach and provision controllers). It is hard to get latency and stats.
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found

[2016-11-15 15:11] liggitt commented on #35096
@caesarxuchao how are you solving the double-vendor problem with client-go?

[2016-11-15 15:12] sc68cal commented on #12083
Yeah, when I started reading through the openstack k8s provider, I started to realize that it is basically having to solve the issues that Shade was written to solve. @emonty and I spoke quite a bit about the whole neutron/nova-network stuff and how handle all the little differences in Shade, so hopefully this new project @emonty is doing ([oaktree](http://lists.openstack.org/pipermail/openstack-d

[2016-11-15 15:24] smarterclayton commented on #36805
The concept of version locked strategy is valid.  The lower level details
are still pretty ugly.

On Nov 15, 2016, at 8:17 AM, David Eads <notifications@github.com> wrote:

Have generators fulfilled their mission yet? There are a lot of them, but
I'm still struggling to find the value they add to our CLI.

@derekwaynecarr <https://github.com/derekwaynecarr>

—
You are receiving this because you ar

[2016-11-15 15:25] wojtek-t commented on #36814
I spent some time looking into this one, and to be honest I have no idea what this could happen after recent changes from https://github.com/kubernetes/kubernetes/pull/36581

I added few logs in my local branch to confirm that I'm not missing anything and now indeed it looks like it should:
- creating "kubernetes" service correctly allocates "serviceIP" in etcd (this is a single call) [in fact all

[2016-11-15 15:30] #3906 closed

[2016-11-15 15:32] justinsb commented on #6650
I believe we have e2e on storage now, right @saad-ali ?

[2016-11-15 15:33] justinsb commented on #9432
This is a kube-up issue, and we're not making further changes to kube-up.  Also fixed in kops.

[2016-11-15 15:33] #9432 closed

[2016-11-15 15:34] justinsb commented on #11373
This is fixed in kops.  We're not making further changes to kube-up, so closing.

[2016-11-15 15:34] #11373 closed

[2016-11-15 15:35] justinsb commented on #11760
dns-controller does this.  It is currently part of kops.  If there is interest I could propose it for incubation as a top-level project.  Right now it is nestled under kops: https://github.com/kubernetes/kops/tree/master/dns-controller

[2016-11-15 15:38] justinsb commented on #11884
This is now documented (https://github.com/kubernetes/kubernetes/blob/70a8ea5817ec412ae9f647a060cb93c55ac0e311/docs/design/aws_under_the_hood.md), and we aren't making further changes to kube-up (users should probably be using kops instead).  Closing.

[2016-11-15 15:38] #11884 closed

[2016-11-15 15:38] vganapathy1 commented on #35591
@soualid Surprisingly, the UUID was same for all the VM's I had, which caused the name collision and changing the UUID resolved the issue.

To get UUID,
`cat /sys/class/dmi/id/product_uuid `

I had to get the UUID changed in all the VM's to get this work. If not, you can check with @errordeveloper and had a wave-kube patch which also worked for me.

[2016-11-15 15:39] justinsb commented on #11936
We're not going to be making further changes in kube-up, and we have an active issue in kops to figure out further lock-down: https://github.com/kubernetes/kops/issues/376.  Closing.

[2016-11-15 15:39] #11936 closed

[2016-11-15 15:40] justinsb commented on #12074
We're not going to be making further changes in kube-up, and kops solves this problem by using an EBS volume always (which then created a problem/opportunity to make better use of instance storage, but that's an aside...).  Closing.

[2016-11-15 15:40] #12074 closed

[2016-11-15 15:40] dims commented on #36796
verify-release-1.4 is all RED as well @saad-ali with exactly the same problem

https://k8s-testgrid.appspot.com/release-1.4-blocking#verify-release-1.4
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-verify-release-1.4/150/build-log.txt

[code]

[2016-11-15 15:41] justinsb commented on #12273
We're not going to making further changes in kube-up.  Solutions for CoreOS are kube-aws, kubeadm, and likely kops soon (see https://github.com/kubernetes/kops/pull/854).  Closing.

[2016-11-15 15:41] #12273 closed

[2016-11-15 15:41] derekwaynecarr commented on #36807
In Kubernetes 1.6, we can work to detect this case and return an error.  IMHO its a configuration error to have docker running with a cgroupfs driver paired with the kubelet running the systemd cgroup driver.  /cc @vishh

[2016-11-15 15:42] justinsb commented on #12649
We're not going to be making further changes to kube-up, and I don't believe this is a problem in kops (which is the tool I recommend to use instead).  Closing.

[2016-11-15 15:42] #12649 closed

[2016-11-15 15:43] justinsb commented on #12674
We're not going to making further changes to kube-up, and I don't believe kops has this problem (and I recommend kops as the natural replacement for users looking for kube-up like ease of use on AWS - without many of the shortcomings of kube-up!)  Closing.

[2016-11-15 15:43] #12674 closed

[2016-11-15 15:43] justinsb commented on #12852
Haven't seen this in a while; I don't think this affects kubenet/CNI.  Closing.

[2016-11-15 15:43] #12852 closed

[2016-11-15 15:44] dims commented on #36796
@fejta : Any clues? ( cc @kubernetes/test-infra-maintainers @kubernetes/test-infra-admins )

[2016-11-15 15:44] justinsb commented on #13190
We're not going to making further changes in kube-up.  Solutions for CoreOS are kube-aws, kubeadm, and likely kops soon (see https://github.com/kubernetes/kops/pull/854).  Closing.

[2016-11-15 15:44] #13190 closed

[2016-11-15 15:44] justinsb commented on #13839
We're not going to making further changes in kube-up.  Solutions for CoreOS are kube-aws, kubeadm, and likely kops soon (see https://github.com/kubernetes/kops/pull/854).  Closing.

[2016-11-15 15:44] #13839 closed

[2016-11-15 15:45] justinsb commented on #14276
We're not going to be making further changes in kube-up, and kops solves this problem by using an EBS volume always (which then creates a problem/opportunity to make better use of instance storage https://github.com/kubernetes/kops/issues/429 ). Closing.

[2016-11-15 15:45] #14276 closed

[2016-11-15 15:47] justinsb commented on #15088
We're not going to be making further changes to kube-up.  I recommend kops as the natural replacement for the ease-of-use of kube-up on AWS without the shortcomings!  Also, kops can delete a cluster it did not create, including this case I believe, by passing the `--external` flag to `kops delete cluster`.  Closing.

[2016-11-15 15:47] #15088 closed

[2016-11-15 15:49] justinsb commented on #16730
We now do this in both kube-up:
https://github.com/kubernetes/kubernetes/blob/869af8f5a162b5dfee6a6f6817499f6dbed8ebd8/cluster/saltbase/salt/kubelet/kubelet.service#L8

And in kops: https://github.com/kubernetes/kops/blob/36df0753d9fb33975a8fe50e61dd27029183e3fc/upup/models/nodeup/kubelet/services/kubelet.service#L8

Closing

[2016-11-15 15:49] #16730 closed

[2016-11-15 15:51] justinsb commented on #17219
We're not going to be making further changes to kube-up.  The behaviour of kube-up is now to fail-safe, I believe.  kops can delete a cluster safely (even with a shared VPC), including the case where it did not create a cluster (using the `--external` flag).  Not entirely sure whether there's something I'm missing that remains to-do on this issue, but I'm sure someone will let me know if so ;-)  C

[2016-11-15 15:51] #17219 closed

[2016-11-15 15:53] wojtek-t commented on #36814
Though looking into etcd logs
[code]

and at the timestamps, it really seems that those PUTs are from correspondingly:
[code]

there is longer pause between Repair and svc-0 and this is coming from:
https://github.com/kubernetes/kubernetes/blob/master/test/integration/master/master_test.go#L453

So it really seems that Repair may be doing something strange, but I have no idea how...

[2016-11-15 15:53] justinsb commented on #17868
We're not going to be making further changes to kube-up.  kops users shouldn't hit _this_ problem (although I think kops also has problems in cn-north-1 e.g. because of the lack of Route530.  We'll continue to work through the cn-north-1 restrictions in kops.  Closing.

[2016-11-15 15:53] #17868 closed

[2016-11-15 15:58] justinsb commented on #19345
I believe the guide is unmaintained: https://github.com/kubernetes/kubernetes.github.io/issues/1688

[2016-11-15 15:59] justinsb commented on #19345
Can't assign to @robszumski so reassigning ownership to @philips instead.

[2016-11-15 15:59] dims commented on #30799
@vishh @saad-ali @calebamiles - switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:01] dims commented on #31966
@gmarek @saad-ali @calebamiles - switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:03] dims commented on #27630
@piosz @saad-ali @calebamiles - switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:05] dims commented on #31975
@mwielgus @saad-ali @calebamiles - switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:06] justinsb commented on #23181
Sadly Elastic IPs cannot be tagged.  But we instead record a tag on the master EBS volume, so it's not entirely clear why this happened.

That said, we're not going to be making more changes to kube-up.  kops is the natural successor to kube-up for an easy-to-use replacement, and kubeadm is a building block for people that want to build things up according to different opinions.  Closing (sorry -

[2016-11-15 16:06] #23181 closed

[2016-11-15 16:06] dims commented on #31989
@dchen1107 @timstclair : ok to close this issue? Looks like #29479 merged a while ago

[2016-11-15 16:07] justinsb commented on #23245
We're not going to be making further changes to kube-up.  I recommend kops as the natural successor: the ease-of-use of kube-up without many of its shortcomings.  Closing.

[2016-11-15 16:07] #23245 closed

[2016-11-15 16:08] dims commented on #28687
@mikedanese - switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree, cc @saad-ali @calebamiles)

[2016-11-15 16:08] pskrzyns commented on #36485
cc @smarterclayton @kubernetes/sig-node

[2016-11-15 16:09] justinsb commented on #22535
"upup" became kops.  I recommend kops as the natural successor: the ease-of-use of kube-up without many of its shortcomings.  Closing as we have an option now (use kops per https://github.com/kubernetes/kops/blob/master/docs/upgrade_from_k8s_12.md) and we're not going to be making further changes to kube-up.

[2016-11-15 16:09] #22535 closed

[2016-11-15 16:10] justinsb commented on #21153
Closing as we're not going to be making further changes to kube-up, and this sort of thing is better address in kops & friends.

[2016-11-15 16:10] #21153 closed

[2016-11-15 16:11] dims commented on #28552
@derekwaynecarr switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree, cc @saad-ali @calebamiles)

[2016-11-15 16:12] justinsb commented on #22591
Closing as we aren't going to be making further changes to kube-up, and kops has much cleaner deletion procedures (which work with kube-up clusters also).

[2016-11-15 16:12] #22591 closed

[2016-11-15 16:13] jayunit100 commented on #34821
is this sorted now ?

[2016-11-15 16:13] justinsb commented on #22359
Closing: we have an image for AWS that preinstalls docker: https://github.com/kubernetes/kube-deploy/blob/master/imagebuilder/templates/1.4.yml

(We should also probably move imagebuilder to an incubator project, as I presume kube-deploy is going away)

[2016-11-15 16:13] #22359 closed

[2016-11-15 16:14] dims commented on #36473
@jayunit100 👍  please close or let me know

[2016-11-15 16:15] dims commented on #31292
@deads2k switching this to 1.6 as it's too late for 1.5. ok?

[2016-11-15 16:16] justinsb commented on #22499
Closing as super-old

[2016-11-15 16:16] #22499 closed

[2016-11-15 16:16] justinsb commented on #21748
Closing as we aren't going to be making further changes to kube-up.  kops also verifies the zone.

[2016-11-15 16:16] #21748 closed

[2016-11-15 16:17] k8s-merge-robot opened #36821 "[k8s.io] Pods should be submitted and removed [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/11183/

Failed: [k8s.io] Pods should be submitted and removed [Conformance] {E2eNode Suite}

[code]

Previous issues for this test: #30566

[2016-11-15 16:18] DirectXMan12 commented on #34821
it should be fixed as part of #33593

[2016-11-15 16:20] dims commented on #28192
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:20] justinsb commented on #21384
We aren't going to be making further changes to kube-up.  Closing.

[2016-11-15 16:20] #21384 closed

[2016-11-15 16:21] dims commented on #21947
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:22] dims commented on #17546
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:22] dims commented on #18542
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:22] dims commented on #24996
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:22] dims commented on #28051
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:23] dims commented on #28630
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 16:24] quinton-hoole commented on #36799
@nikhiljindal I'm not sure that you want this behavior by default, as it will cause all of the clients using the service via its external DNS names to experience a global outage, which I can imagine would not be what they would want or expect. I would suggest that this be a non-default delete-option, along the lines of cascading deletion.

[2016-11-15 16:29] pires commented on #27973
This fixed it for me on `1.4.6`:
[code]

[2016-11-15 16:36] pskrzyns commented on #36482
cc @timothysc @mikedanese

[2016-11-15 16:39] luxas commented on #36697
This is something we probably are going to do, at least for testing.
Follow along when we have made the kubernetes/kubeadm project, which I hope will happen soon.

Thanks for the issue :+1:, I strongly think we need something like this.

[2016-11-15 16:42] quinton-hoole commented on #36327
@craigbox You need to specify a nodeport in the federated service - that way it's consistent across all clusters.  If you don't, the health checks don't work, as they are only able to check a single port.

@saturnism The IP address on the federated ingress and all of the cluster ingresses should be identical.  You need to ensure that no non-federated ingresses exist in the clusters before they joi

[2016-11-15 16:42] sandys commented on #36697
Thanks for the reply!
A lot of us are not sure on the timelines for this. Will this happen in time for 1.5 ? Or will this be later...in which case would it make sense to have this functionality fairly quickly .

Sorry for being a bother.

[2016-11-15 16:42] xiang90 commented on #24576
@yifan-gu Is this fixed?

[2016-11-15 16:44] pskrzyns commented on #36815
cc @mfanjie

[2016-11-15 16:45] luxas commented on #35314
I have written down some concrete steps how to do this as well as out objectives for v1.6 here:
https://docs.google.com/document/d/1v4k7eN-eetHbbpTAG7WuioRAMsK_FVGi1yC3VIn4Inw/edit#

TL;DR; As soon as kubeadm uses client-go and all pending PRs in this repo are merged, we should move it over

Also I have some WIP of it here: https://github.com/luxas/kubeadm-source (very rough atm)

So @mikedanese @

[2016-11-15 16:45] justinsb commented on #35514
Can I recommend using kops instead?  kube-up is in maintenance mode.

[2016-11-15 16:47] justinsb commented on #35504
I'm actually wondering if this should be an admission controller instead (or something similar) that would have a policy always to apply the annotation when a service was of type LoadBalancer.

[2016-11-15 16:47] luxas commented on #36697
This will be something we hopefully will do in time for v1.6.
The v1.5 window has already passed some weeks ago.

Please take a look at this document to get an understanding of what we will prioritize in time for v1.6:
https://docs.google.com/document/d/1v4k7eN-eetHbbpTAG7WuioRAMsK_FVGi1yC3VIn4Inw/edit#

[2016-11-15 16:49] justinsb commented on #35166
If you're using kops, you can apply k8s labels at the instance group level.

But I agree there should probably be a standard annotation / label / taint.  Any thoughts @davidopp @bgrant0607

[2016-11-15 16:50] justinsb commented on #35103
Can I recommend using kops instead?  kube-up is in maintenance mode.

[2016-11-15 16:52] k8s-merge-robot opened #36823 "[k8s.io] Secrets should be consumable from pods in env vars [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/2608/

Failed: [k8s.io] Secrets should be consumable from pods in env vars [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #32025

[2016-11-15 16:53] justinsb commented on #34874
cc @bprashanth

[2016-11-15 16:55] smarterclayton commented on #36485
@kubernetes/sig-apps

[2016-11-15 16:56] fgrzadkowski commented on #34772
I run twice your example, and I still cannot reproduce `OutOfCPU` pods. All of the pods are either Running or Pending. Where do you see `OutOfCPU` message?

However I can reproduce easily the problem with autoscaler being blocked. I filed https://github.com/kubernetes/contrib/issues/2032 to track it. Please post additional problems there.

Can you help me with debugging `OutOfCPU` pods problem? Ca

[2016-11-15 17:03] justinsb commented on #36685
That's a nice find.  I don't think we're going to be making more changes to kube-up (it is in maintenance mode).  I don't _think_ kops has the problem, but if it does do let me know!

[2016-11-15 17:07] quinton-hoole commented on #36327
@craigbox @saturnism My apologies.  The missing documentation is in https://github.com/kubernetes/kubernetes.github.io/pull/1424 .  I wrote it a while back, but had forgotten that it hasn't merged yet.  I'll fix that now.

[2016-11-15 17:14] codergr commented on #27398
@thockin is there a thread, guidelines for discussing the API considerations ?

[2016-11-15 17:22] robszumski commented on #19345
@justinsb Correct, CoreOS does not maintain this guide. I think we can delete it.

[2016-11-15 17:23] mfojtik commented on #36813
I'm not sure about implementation as the creationTime is set in status after the Pod is created, which means having an env var that points to that field will always result to that env var being empty (because the vars are set before pod is created).

[2016-11-15 17:33] bprashanth commented on #34911
We all know that kubeproxy can be more efficient handling endpoint updates (https://github.com/kubernetes/kubernetes/issues/26637), I don't think it's a huge deal for 1.5 since it has been that way for a couple of releases. There's a fix in fligh (https://github.com/kubernetes/kubernetes/pull/36006/files), we can try to get it into 1.5 but I don't think it should block. This is cpu, not memory, it

[2016-11-15 17:33] kilmarnock opened #36825 "kubeadm init starts paused containers on ubuntu 16.04"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

https://github.com/kubernetes/kubernetes/issues/33729

they have a different bug
---

*

[2016-11-15 17:42] justinsb commented on #19345
Proposed removal in #1689

[2016-11-15 17:45] yujuhong commented on #33189
We still have occasional flakes in the cluster e2e test. Let's keep this open for a few more days to see if my workaround would help.

[2016-11-15 17:51] yujuhong commented on #34868
The soak cluster needs to be re-deployed to include the fix #36680.
/cc @k8s-oncall

[2016-11-15 17:51] deads2k commented on #31292
yes

[2016-11-15 17:53] wojtek-t commented on #34911
@bprashanth - it's not about requests etc. we are monitoring resource usage of components (including kube-proxy) and it increased in the last 2 weeks or so. The question is whether it is expected, or this is a regression.

[2016-11-15 18:00] timothysc commented on #32685
This issue has been resolved long ago, closing.

[2016-11-15 18:00] #32685 closed

[2016-11-15 18:00] #36473 closed

[2016-11-15 18:12] caesarxuchao commented on #35096
We recommended using a vendor management tool like Godep or Glide to flatten the dependencies.

@vklonghml could you check if you still have multiple copies of glog? Maybe adding a `debug.PrintStack()` to see where else calls `glog.init()`.

[2016-11-15 18:13] jeremywadsack commented on #32929
We have been running Kubernetes 1.4.5 for a couple weeks now and have not seen this issue recur. I think we can close it.

[2016-11-15 18:15] krousey commented on #36796
cc @spxtr

[2016-11-15 18:16] caesarxuchao commented on #36806
I thought we only needed to register it in the external versions ([here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/batch/v1/register.go#L43)). I'll double check. cc @smarterclayton.

[2016-11-15 18:20] dims commented on #29326
@mfischer-zd switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 18:20] dims commented on #29911
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 18:22] timothysc commented on #17546
sounds good, I actually have a PR I need to push on this.

[2016-11-15 18:22] dims commented on #26675
@nikhiljindal Is this still target-ted for 1.5? looks like PR #35162 referenced does not have 1.5 milestone on it either. please switch milestones if appropriate

[2016-11-15 18:22] dims commented on #27204
@vishh : move this from v1.5 to v1.6 please?

[2016-11-15 18:22] mfischer-zd commented on #29326
It's not impacting us just yet, so I don't object.

[2016-11-15 18:22] caesarxuchao commented on #36806
Registering api.DeleteOptions in batch looks fine. In the future, I think it's more proper to register DeleteOptions and ListOptions as unversioned, like how we treat [ExportOptions](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/register.go#L131).

[2016-11-15 18:23] dims commented on #30811
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 18:36] nikhiljindal commented on #26675
Removed the milestone

[2016-11-15 19:01] colemickens opened #36829 "1.5: kubectl completion zsh is broken"
I'm on the release-1.5 branch: a602b1181aa5e925ec2e1bf66c6d01fbd3ca6c14

[2016-11-15 19:01] colemickens commented on #36829
Didn't mean to hit enter on this. More info coming soon.

[2016-11-15 19:01] fejta commented on #36796
This should complete in the next 10 or so mins with a good result: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-release-1.5/183/

[2016-11-15 19:01] #36796 closed

[2016-11-15 19:03] screeley44 commented on #31768
@saad-ali - I think #27778 did fix this particular issue:

[code]

[2016-11-15 19:03] dims commented on #36796
Very cool @fejta thanks!

[2016-11-15 19:07] saad-ali commented on #31768
Yep, that PR added events for the most common error cases (e.g. mount failed). We still need to add events for things like attach/detach failures, etc.

[2016-11-15 19:12] mikedanese commented on #28687
That's fine.

[2016-11-15 19:13] craigbox commented on #36327
@quinton-hoole I found that documentation in the end, thanks  The federated service is listed correctly works fine and the node ports are all the same.   The health checks still flap.  There were ingresses (federated or otherwise) created before I found the doc, but they were all deleted before I started.

The only part where the nodeports aren't the same is the default L7 backend, but my example

[2016-11-15 19:19] jayunit100 opened #36831 "mixture of cgroups-per-qos breaks local-up-cluster"
Problem

Looks like theres a mixture of `--cgroups-per-qos` and `--experimental-cgroups-per-qos` across the codebase.  This breaks local-up-cluster.  cc @derekwaynecarr

Solution

update to `experimental-...` make them all named the same way

Examples

 - `fs.BoolVar(&s.ExperimentalCgroupsPerQOS, "experimental-cgroups-per-qos"`
-`TEST_ARGS docs/devel/e2e-node-tests.md:make test_e2e_node TEST_ARGS=

[2016-11-15 19:22] kargakis commented on #36813
@mfojtik creation time is metadata but I also think pod IP is accessible via the downward API, isn't that also status?

[2016-11-15 19:34] pskrzyns commented on #25762
@timothysc is the changed version of those tests publicly available ?

[2016-11-15 19:37] jayunit100 commented on #36831
nvm close this guy :) just fixed in 2110f72

[2016-11-15 19:37] #36831 closed

[2016-11-15 19:38] dims commented on #29340
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 19:38] dims commented on #31565
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 19:39] jayunit100 opened #36832 "local-up-cluster should fail if kubelet dies"
Problem

Local-up-cluster will start normally even if the hyperkube kubelet startup command fails.

Solution

Ensure local-up-cluster fail-fast if things are broke or if individual daemons dont start

[2016-11-15 19:39] dims commented on #31813
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 19:40] dims commented on #31915
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 19:40] dims commented on #27623
@quinton-hoole switching this to 1.6 as it's too late for 1.5. ok?

[2016-11-15 19:41] dims commented on #31061
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 19:41] dims commented on #28394
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 19:41] dims commented on #30898
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 19:42] dims commented on #30446
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 19:42] jberkus commented on #30427
+1 on this feature, regardless of how it's implemented.  Currently I'm parsing the pod name, which is awkward and fragile.

[2016-11-15 19:43] dims commented on #25592
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-15 19:43] vishh commented on #36807
We can also document the compatibility matrix for now.

[2016-11-15 19:43] colemickens commented on #34678
https://gcr.io/v2/google_containers/kube-addon-manager-amd64/tags/list

Now there is a `v5.2` recently published to GCR and a `v6.0` + `v6.0-alpha.1`, yet I don't see those tagged in the source repos.

@mikedanese any ideas or can you tag someone who knows what's up here?

[2016-11-15 19:47] leosunmo commented on #35695
Yes I just realised that the 'volumeClaimTemplates' are under .spec, not .containers, so in you could potentially create several containers each using one disk each. But in that case wouldn't all of those containers still be scheduled on the same node anyway? Would they ever be scheduled across nodes or AZs? Does it ever make sense to create disks across AZs if every instance of that petset has to

[2016-11-15 19:47] piosz commented on #27630
SGTM
We haven't done any progress with this because with the new monitoring vision this will become obsolete.

[2016-11-15 19:55] timstclair commented on #31989
Yes, thanks.

[2016-11-15 19:55] #31989 closed

[2016-11-15 20:02] calebamiles commented on #35150
thanks for the updates @yujuhong

[2016-11-15 20:13] jberkus commented on #36301
Unlikely to be related.

[2016-11-15 20:17] smarterclayton commented on #36806
DeleteOptions and ListOptions are expected to be in their group.  They have
to be in internal version and external version.  Most of this code will be
fixed in 1.6 (we'll standardize registering the "common" things).

On Tue, Nov 15, 2016 at 10:23 AM, Chao Xu <notifications@github.com> wrote:

[2016-11-15 20:19] peterochodo opened #36835 "kube-proxy and kubelet setting up incorrect iptables rules when proxy-mode=iptables"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kube-proxy
issue #36652 is somewhat related but in essence is NOT the same

---

**I

[2016-11-15 20:21] peterochodo commented on #36652
while you are in there fixing this issue, also please take a look at issue #36835

[2016-11-15 20:21] cjcullen opened #36836 "unset KUBE_USER causes startup to fail in gce scripts"
The gce scripts assume that the basic-auth authenticator will always be enabled, so they assume that KUBE_USER and KUBE_PASSWORD will be set.

[2016-11-15 20:22] cjcullen commented on #36836
https://github.com/kubernetes/kubernetes/pull/36778 fixes this for the gci scripts.

[2016-11-15 20:28] justinsb commented on #31061
Thanks @dims

[2016-11-15 20:37] smarterclayton commented on #31824
The service account token should grant no privileges (the current behavior
is a bad default).  That's on the roadmap for 1.6 with default RBAC rules
in place.

Adversarial is www.openshift.com :)  But yes, we in the short term will be
focused on cooperative (as discussed at the developer summit meetings) and
gradually bringing kubernetes in line with the rest of the changes
necessary to cope with

[2016-11-15 20:38] vishh commented on #31565
@mtaufen isn't this done?

[2016-11-15 20:43] somejfn commented on #23481
@justinsb   What type of integration are we looking to enable ?   Point the service record to the ELB like other have done (wearemolecule/route53-kubernetes) ?  I'd be exploring a different approach that could enable internal services (clusterIP) to have a route53 record pointing at a list of service LBs running as daemon-sets.  Thoughts ?

[2016-11-15 20:44] sebgoa commented on #36655
@thockin see https://github.com/kubernetes/kubernetes/issues/34067

same issue, there is a missing dep.

you need to `go get -u github.com/jteeuwen/go-bindata/go-bindata` to get the single `make` to run.

[2016-11-15 20:48] justinsb commented on #23481
Yes, like the wearemolecule work.

People have mentioned the idea of using route53 to replace kube-dns, though I don't understand the use-case really.  Is that what you're talking about @somejfn?  Can you explain the scenario a bit?

[2016-11-15 20:48] k8s-merge-robot opened #36837 "[k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow-release-1.4/2118/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #29752

[2016-11-15 20:58] alexouzounis commented on #30427
Indeed - we ended doing the same as a postStart lifecycle hook to avoid modifying the docker image

[2016-11-15 20:59] nikhiljindal commented on #36799
Ah you are right. I got confused because it deleted some records (all A records) but not all (not the CNAME records).
It should not remove any DNS records at all.

@madhusudancs pointed out that it might be removing A records because it might be deleting the services from underlying clusters when federated service is deleted.
I verified and it is indeed the case.

So the fix here is that we should

[2016-11-15 21:00] vishh commented on #30534
+1. There needs to be some backpressure mechanism in place similar to how resource based evictions are handled.

+1. Let's lower that threshold to 30 seconds. As of now, the runtime state is being queried every 5 seconds. So if it fails consistently for 6 times in a row, we will mark the node as `NotReady`. In-order to prevent flapping between `Ready` & `NotReady`, we could place a 30 second (or l

[2016-11-15 21:01] smarterclayton commented on #30427
@pmorie as we discussed we need to fully specify the downward API for
complex fields (annotations and labels) and get that over the review hump
in 1.6 so people can use an annotation in an env var.  @liggitt too maybe.

On Tue, Nov 15, 2016 at 12:58 PM, Alex Ouzounis <notifications@github.com>
wrote:

[2016-11-15 21:05] k8s-merge-robot opened #36839 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/13583/

Run so broken it didn't make JUnit output!

[2016-11-15 21:07] soualid commented on #35591
@vganapathy1 thanks, I confirm that the machine UUID are equals on my machines, the boxes provider (online.net) must use a "clone" install system ("symantec ghost" like) that is not changing this UUID properly between boxes. I will contact them about this issue, but it could be great to be able to workaround this issue by overriding this value at runtime through a `kubeadm` parameter.

Thank you !

[2016-11-15 21:12] mandarjog commented on #36835
I think It is related.
Try passing in --ClusterCIDR option, I think it will fix the problem.

[2016-11-15 21:21] #34335 closed

[2016-11-15 21:22] mtaufen commented on #31565
Yeah we have PR builder jobs for GCI and the submit queue blockers run against GCI. This can be closed.

[2016-11-15 21:22] #31565 closed

[2016-11-15 21:29] SEJeff commented on #26093
@luxas It doesn't look like anyone answered your hairpin NAT question, so here goes... Hairpin NAT is a new-ish feature in Linux that allows requests from the internal bridged interface for an ip assigned to the external interface get NAT'd as though they came externally. Basically, it allows routing on loopback interfaces. This is how they managed to get rid of the abomination in docker (hold you

[2016-11-15 21:31] dims commented on #23479
@justinsb ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:31] dims commented on #23482
@justinsb ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:31] dims commented on #23484
@justinsb ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:31] dims commented on #24472
@justinsb ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:32] dims commented on #31014
@jingxu97 ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:32] dims commented on #26921
ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:32] dims commented on #30163
ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:32] timothysc commented on #34911
@wojtek-t what's the before and after?  The changes made recently should have been ~ no-op to what was before.

[2016-11-15 21:32] dims commented on #29590
ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:33] dims commented on #32131
ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:33] dims commented on #27385
ok to move this to 1.6? please holler if not appropriate

[2016-11-15 21:33] dims commented on #5671
looks like we have to punt to 1.6 :)

[2016-11-15 21:39] k8s-merge-robot opened #36842 "install_gcloud {PRE-SETUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow-release-1.4/1704/

Failed: install_gcloud {PRE-SETUP}

[code]

Previous issues for this test: #32669 #36416

[2016-11-15 21:40] mikedanese commented on #30163
This is done.

[2016-11-15 21:40] #30163 closed

[2016-11-15 21:40] saad-ali opened #36843 "`update-bazel` should FAIL if it encounters "cannot find package""
`verify-release-1.5` job is consistently failing "verify-bazel" on the `release-1.5` branch. See https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-verify-release-1.5/

Error:
[code]

I did a fast-forward on the `release-1.5` branch on Nov 14 6 PM PST. See [logs here](https://gist.github.com/saad-ali/f542a53eff1cb29344c06ec80dbbf2cd).

Looks like the `update-bazel` ste

[2016-11-15 21:41] saad-ali commented on #36796
Looks like this issue is resolved. Build is still red due to another issue. Tracking that here: https://github.com/kubernetes/kubernetes/issues/36843

[2016-11-15 21:41] dims commented on #30163
Excellent, Thanks @mikedanese

[2016-11-15 21:43] peterochodo commented on #36835
Thanks! Yes, I can now talk to my services when ---proxy-mode=iptables and --cluster-cidr=<cidr of all pods in cluster> is set correctly. Many thanks.

However, I still think we should remove the following 'dead' entries from iptables nat table:
-A KUBE-MARK-DROP -j MARK --set-xmark 0x8000/0x8000
-A KUBE-MARK-MASQ -j MARK --set-xmark 0x4000/0x4000

[2016-11-15 21:46] mandarjog commented on #36835
Just to confirm, did you remove the KUBE-MARK-MASQ from mangle that you had added previously ?

[2016-11-15 21:47] quinton-hoole commented on #36327
@craigbox That's a good question, and the answer is no, as the default backends are not federated, so would have been created independently, and with different node ports.   One simple way to fix that would be to create a federated service for the default backend, with a specified node port.  The federated service would adopt the underlying cluster services, and ensure that all of their ports are

[2016-11-15 21:48] thockin commented on #26093
NB that hairpin mode triggers a kernel bug in all known kernels, which
hangs the machine.  We use a different technique to achieve the same
result, until the bug is fixed.

On Tue, Nov 15, 2016 at 1:29 PM, Jeff Schroeder <notifications@github.com>
wrote:

[2016-11-15 21:49] zarqman opened #36845 "ELB L7 listener assignments not valid for mixed http/https"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Everything 'ELB' for past few months

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2016-11-15 21:51] somejfn commented on #23481
Imho I think kube-dns  is a good common base with baremetal deployments for intra-cluster service discovery.
But for AWS specifically,  my scenario is to enable remote processes (anything outside the cluster and not necessarily hosted on kube ) to be able to resolve a k8s service name to a reacheable entrypoint to that service without requiring an ELB.  So in this case one or likely many service l

[2016-11-15 21:52] quinton-hoole commented on #36327
For what it's worth, I managed to retrieve the logs from a GLBC displaying the problem of flapping health checks.  Still looking at it...

[glbc.log.txt](https://github.com/kubernetes/kubernetes/files/593198/glbc.log.txt)

[2016-11-15 21:52] peterochodo commented on #36835
yes I did. I was sure to reboot all the nodes so that iptables/netfilter gets completely flushed.

[2016-11-15 22:03] k8s-merge-robot opened #36846 "kubernetes-e2e-gci-gke-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/1829/

Run so broken it didn't make JUnit output!

[2016-11-15 22:03] quinton-hoole commented on #36327
@bprashanth

[2016-11-15 22:13] madhusudancs commented on #36327
@quinton-hoole thanks for the logs!

[2016-11-15 22:13] jbeda commented on #35314
@luxas -- I'd like us to wait to move it out until there is a story on doing releases across multiple repos.  Right now we are releasing `kubeadm` out of band but we really shouldn't be doing that.  We should, over time, sync up with the main kubernetes release cycle.

[2016-11-15 22:16] sebgoa commented on #36655
to be fair, that `go get` dependency is indeed in the docs for a local setup:

https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#godep-dependency-management

[2016-11-15 22:23] jsloyer opened #36847 "Refresh token requires id_token in response but openid spec it is optional"
In the method [Refresh](https://github.com/kubernetes/client-go/blob/master/plugin/pkg/client/auth/oidc/oidc.go#L227-L253), there is a line to parse the response from an OpenID provider.  The [current implementation expects](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/client/auth/oidc/oidc.go#L237) an `id_token`.  However in the [Openid spec](http://openid.net/specs/openid-conn

[2016-11-15 22:23] jsloyer commented on #36847
Moved from https://github.com/kubernetes/client-go/issues/40

[2016-11-15 22:25] timothysc commented on #25762
We can probably share that data, we do a baseline overhead test @ 250 pods/node on our env.

But this will vary based upon the storage layer used by docker, and the docker version itself.

/cc @mffiedler

[2016-11-15 22:29] thockin commented on #36655
We do vendor go-bindata, but apparently we do not call it from our vendored
version.  We should NEVER EVER be calling `go get` in our builds.

@ixdy - your fingerprints (git blame) are on several such calls.  We should
build it as part of an "all" build (just like ginkgo) and we should call it
the same way.

I don't know what go-bindata even does - can you make some time to fix this
up?

On Tue, N

[2016-11-15 22:42] mikedanese commented on #36843
This was broken in https://github.com/kubernetes/kubernetes/commit/a602b1181aa5e925ec2e1bf66c6d01fbd3ca6c14 which is currently the latest commit to the release branch. It doesn't look like there is an associated PR so it never had presubmit testing?

[2016-11-15 22:45] derailed commented on #36729
All,

  Any updates on this issue? Things I could try out or would not mind a work around if any?

I have a deadline coming up and would love to have my containers launched k8style vs dockerstyle

Thank you!!

[2016-11-15 22:45] radupantiru commented on #27973
Did not work for me until I've **deleted the etcd data folder** and using;

[code]

[2016-11-15 22:48] saad-ali commented on #36843
@mikedanese Yes, that was the automated branch fast forward process (using the branchff tool). Part of that process runs `update-all` including `update-bazel`. As I posted in the issue above, `update-bazel` silently failed. Branch fast-forwards are checked in directly.

I can fix  fix the 1.5 release branch (PR https://github.com/kubernetes/kubernetes/pull/36844), but I'd like to make that `update

[2016-11-15 23:08] tonglil commented on #6545
@roberthbailey what is the raw API call to get it?

I attempted the following methods by `gcloud compute ssh _node_` first to test, but I am stuck:

- Running `gcloud container clusters describe test-proxy --format 'value(clusterIpv4Cidr)'` gives `ERROR: (gcloud.container.clusters.describe) ResponseError: code=403, message=Request had insufficient authentication scopes.`. And on the new GCI image

[2016-11-15 23:12] fejta commented on #36842
Intermittent flake

[2016-11-15 23:12] #36842 closed

[2016-11-15 23:22] #36839 closed

[2016-11-15 23:25] mandarjog opened #36850 "Enhanced kube-proxy:iptables testing with iptables-restore --test"
## FEATURE REQUEST:
At present the rules generated by kube-proxy (pkg/proxy/iptable/proxier) cannot be / are not validated  for syntactic correctness.

### Options 1
[code]
Given a rules set, it validates if the rules are correct.
This test does more than just syntactic validation.

1. It expects the kernel modules for tables to be loaded (or available for modprobe)
2. You need root privileges to

[2016-11-15 23:26] mandarjog commented on #36850
@bprashanth Added the iptables-restore issue.

[2016-11-15 23:29] yujuhong commented on #32320
Closed by #36789

[2016-11-15 23:29] #32320 closed

[2016-11-15 23:29] ixdy commented on #36843
FWIW this sounds a lot like https://groups.google.com/forum/#!msg/kubernetes-dev/0tj1jK_Iam8/vhJ0fe7aBQAJ.

It looks like your `GOPATH` was set to `/usr/local/google/home/saadali/go`. Where was your `KUBE_ROOT`?

[2016-11-15 23:32] ixdy commented on #36843
oh, now I see. `/usr/local/google/saadali/branchff-release-1.5/kubernetes`.

so we get a kubernetes/release bug out of this too. yay! @david-mcmahon

[2016-11-15 23:33] ixdy commented on #36843
I'll fix the release scripts and review @saad-ali's fixup PR.

@mikedanese can you fix gazel to fail on extract errors? is there a case we wouldn't want to fail?

[2016-11-15 23:35] saad-ali commented on #36843
`branchff` dumped everything to `/usr/local/google/saadali/branchff-release-1.5/kubernetes`. My GOPATH is `/usr/local/google/home/saadali/go`.

So it sounds like 3 changes are needed:

1. Fix bazel release-1.5 branch. PR https://github.com/kubernetes/kubernetes/pull/36844
2. Fix `branchff` to work w/GOPATH. @ixdy will work on.
3. Modify `update-bazel` to fail if package not found condition happens

[2016-11-15 23:35] thockin commented on #11204
On reflection, I like the daemonset best

[2016-11-15 23:43] #24520 closed

[2016-11-15 23:45] eruleman opened #36851 "updatedAnnotations during rollback don't get applied"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `updatedAnnotations`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-11-15 23:46] k8s-merge-robot opened #36852 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/13585/

Run so broken it didn't make JUnit output!

[2016-11-15 23:47] bgrant0607 commented on #36596
See also:
https://groups.google.com/forum/#!searchin/kubernetes-dev/brendan$20burns%7Csort:relevance/kubernetes-dev/PN6aC4TCESE/Koq36AeaCAAJ

cc @brendandburns @smarterclayton

[2016-11-15 23:50] bgrant0607 commented on #36596
And:
https://github.com/kubernetes/contrib/issues/1090

FYI, we usually file these kinds of issues in contrib, since that's where the bot code lives.

[2016-11-15 23:51] saad-ali commented on #32436
This needs to be triaged as a release-blocker or not for 1.5 @bprashanth

[2016-11-15 23:52] jimmycuadra commented on #11884
I still don't understand what the consequence of not using those tags in a custom deployment is. The document states:

but it doesn't say why.

Since our clusters are in separate VPCs, this is the only thing that might affect us:

but I don't really understand what that means. Could we add some more information to that to explain where this "cloud provider logic" is implemented, what exactly it do

[2016-11-15 23:52] saad-ali commented on #32433
This needs to be triaged as a release-blocker or not for 1.5 @mtaufen

[2016-11-15 23:53] saad-ali commented on #32345
This needs to be triaged as a release-blocker or not for 1.5 @fabioy

[2016-11-15 23:54] saad-ali commented on #31676
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-15 23:54] saad-ali commented on #31503
This needs to be triaged as a release-blocker or not for 1.5 @yujuhong @krousey

[2016-11-15 23:55] saad-ali commented on #31184
This needs to be triaged as a release-blocker or not for 1.5 @quinton-hoole @kubernetes/sig-cluster-federation

[2016-11-15 23:55] dhoer commented on #8800
@bgrant0607 I would like to propose the following and get some feedback on it.

In http://kubernetes.io/docs/user-guide/configmap/:

The _Creating from directories_ section  shows the following:
[code]

The _Use-Case: Consume ConfigMap in environment variables_ section shows this:
[code]

I would like to propose that the env section be modified so that if key is an array that contains key value pa

[2016-11-15 23:56] saad-ali commented on #29503
This needs to be triaged as a release-blocker or not for 1.5 @jessfraz

[2016-11-15 23:56] saad-ali commented on #28188
This needs to be triaged as a release-blocker or not for 1.5 @sttts @bprashanth

[2016-11-15 23:57] mbohlool commented on #33293
I've checked out a commit around the time this issue is reported and confirm that it was happening at the time. It does not happen on head right now and I assume it has been fixed.

[2016-11-15 23:57] #33293 closed

[2016-11-15 23:57] saad-ali commented on #27680
This needs to be triaged as a release-blocker or not for 1.5 @sttts

[2016-11-15 23:57] saad-ali commented on #27235
This needs to be triaged as a release-blocker or not for 1.5 @sttts @bprashanth

[2016-11-15 23:58] saad-ali commented on #26134
This needs to be triaged as a release-blocker or not for 1.5 @bprashanth @matchstick

[2016-11-16 00:01] quinton-hoole commented on #36327
Ignore the logs above.  Here is a better one:

[glbc.log.txt](https://github.com/kubernetes/kubernetes/files/593420/glbc.log.txt)

[2016-11-16 00:02] fabioy commented on #32345
There is one test that's continually failing on GKE that needs to be fixed:

[k8s.io] Kubectl client [k8s.io] Kubectl should be able to talk to api server kubectl running in a pod could talk to api server [Conformance]

As far as the flakes, typically the tests either pass or fail to run at all, which makes diagnosing the issue hard.

[2016-11-16 00:05] bgrant0607 commented on #35166
@justinsb A taint makes sense, but we'll need to create a way to automatically add tolerations. (#17097)

[2016-11-16 00:06] quinton-hoole commented on #36327
Here are the associated ingress, service and replicaset logs:

[ingress.yaml.txt](https://github.com/kubernetes/kubernetes/files/593424/ingress.yaml.txt)
[nginx.yaml.txt](https://github.com/kubernetes/kubernetes/files/593427/nginx.yaml.txt)
[nginx-rs.yaml.txt](https://github.com/kubernetes/kubernetes/files/593428/nginx-rs.yaml.txt)

[2016-11-16 00:06] mandarjog commented on #36652
I think we can do better when clusterCIDR is not specified.
we can use
[code]
We know with certainty that --src-type LOCAL *is* in the cluster.

Similar logic can be applied when dealing with Masquerade

[2016-11-16 00:08] #34447 closed

[2016-11-16 00:09] mtaufen commented on #32433
#36828 is intended to help with the race-against-OOM flakes. It should also end up helping with the timeout-before-eviction flakes, because more aggressive thresholds mean eviction will happen sooner.

WRT blocking, our position for 1.4 was that because the scheduler knows how to respond to OOM-killed pods, this shouldn't block the release. I don't think that position has changed for 1.5. Does tha

[2016-11-16 00:10] quinton-hoole commented on #36327
In this case it looks like we ran out of quota for backend services. I've seen the same symptoms (flapping health checks) on another project that did have sufficient quota.  I will increase the quota on this project to confirm.

[2016-11-16 00:11] mtaufen commented on #31676
See
https://github.com/kubernetes/kubernetes/issues/32433#issuecomment-260811985

On Tue, Nov 15, 2016 at 3:54 PM, Saad Ali <notifications@github.com> wrote:

--
Michael Taufen
MTV SWE

[2016-11-16 00:11] janetkuo opened #36855 "StatefulSet tests"
A list of tests for StatefulSet (excluding existing ones). Feel free to extend / update the list:

- [x] Scale StatefulSet up/down #30082 (PR: #32868, #34454)
- [ ] StatefulSet upgrades
  - [x] Manual update (PR: #36849)
  - [ ] Rolling update #28706 (not implemented yet)
- [ ] StatefulSet examples
  - [x] All existing examples (PR: #36793)
  - [ ] Add as least a non-database example, and a test f

[2016-11-16 00:13] quinton-hoole commented on #36327
This looks suspicious:

E1115 23:39:14.917897       5 utils.go:151] Requeuing default/nginx, err Error during sync <nil>, error during GC googleapi: Error 400: The http_health_check resource 'k8s-be-31407--de079c347c3256d9' is already being used by 'k8s-be-31407--de079c347c3256d9', resourceInUseByAnotherResource

[2016-11-16 00:24] thockin commented on #8800
I don't like the "name is ignored" semantic - it feels like a square peg in
a round hole.  That field is required, so it can't be empty.  Making it
non-unique is PROBABLY ok, but is strictly a breaking change....

Can we find a better way to express this?

On Tue, Nov 15, 2016 at 3:56 PM, Dennis Hoer <notifications@github.com>
wrote:

[2016-11-16 00:25] bprashanth commented on #32715
going to let mergebot reopen if necessary, should be fixed

[2016-11-16 00:25] #32715 closed

[2016-11-16 00:30] #36852 closed

[2016-11-16 00:34] mikedanese commented on #36843
I'm going to make gazel fail if it's not running inside the (single) $GOPATH.

[2016-11-16 00:39] F21 opened #36856 "How to scope secrets to a set of pods"
From my current understanding, once I create a secret using something like the following, it is available to all pods in the namespace if they mount it into an environment variable or volume:

[code]

It would be nice if we could scope secrets to a deployment. In this case, the secrets can only be mounted into a volume or environment variables for the deployment. When the deployment is deleted, th

[2016-11-16 00:42] nalink commented on #34919
i see same issue, and i tried the steps as stated by @nikhiljindal
"➜  kubernetes git:(master) ✗ ./cluster/kubectl.sh create secret generic hello123 --namespace=federation --from-file=federation-apiserver-kubeconfig
Unable to connect to the server: net/http: TLS handshake timeout"
looks like, it is unable to connect to AWS instances

[2016-11-16 00:51] CaoShuFeng commented on #20379
Hi, every one:
https://github.com/kubernetes/kubernetes/pull/36747

[2016-11-16 00:57] elyscape commented on #28272
@vishh What about if there is no memory limit imposed on the application? For reference, it looks like Linux defaults to half of the total RAM.

[2016-11-16 01:01] nalink commented on #34919
Also, i tried old approach to bring the cluster: (http://kubernetes.io/docs/admin/federation/#previous-federation-turn-up-mechanism)
but, it deployments say same credential error:
#1 federation-apiserver -
a. SchedulerPredicates failed due to PersistentVolumeClaim is not bound: "federation-apiserver-etcd-claim", which is unexpected.
b. with: secrets "federation-apiserver-credentials" not found

#2

[2016-11-16 01:05] foxish commented on #27796
We are ready to switch over to gate on the CNCF CLA by the end of the week. Will send out documentation, FAQs and so on this week before we complete the transition.
The blocking issue thus far was: https://github.com/kubernetes/contrib/issues/1834, which is now fixed.

cc @dims @soltysh @sarahnovotny

[2016-11-16 01:05] alexbrand commented on #22351
@liggitt Which key is used to sign the service accounts? When running multiple API Servers, does the TLS private key have to be the same for all of them?

We have seen in one of our HA clusters that requests to one of the API servers constantly fails with the verification error when using the service account from within a pod.

[2016-11-16 01:06] mandarjog commented on #36835
@bprashanth This is a similar issue #36652
since clusterCIDR was not specified, ```KUBE-MARK-MASQ``` rules was not added at all in the ```KUBE-SERVICES``` chain for the svc cluster ip.

Therefore the traffic to  svc clusterip was not masqueraded at all as was lost.

I think there should always be a masquerade rule for every service.
if you think this is the right issue, I can send a PR.

[2016-11-16 01:07] tomdee commented on #20391
@changleicn It looks like I fixed this back in May in flannel, so maybe this isn't an issue any more?

[2016-11-16 01:10] dominikh opened #36858 "Code deficiencies of various kinds and severities"
Hi,

I ran [staticcheck](https://github.com/dominikh/go-staticcheck) on Kubernetes at commit 2110f72, filtered out benign issues and false positives and assembled the following report, grouped by category and sorted by severity in descending order. I hope this report is useful to you.

# defer mu.Lock() (SA2003)

The following line of code defers `Lock` instead of `Unlock`:

[code]

# Deferring be

[2016-11-16 01:16] tatsuhiro-t commented on #35015
The really annoying thing caused by this issue is that eventually resync is done in every few seconds due to the leaked goroutine.  Even if you set 30 second resync period in controller, leaked goroutines call resync too, and you end up having resync call very very frequently.  If you have many resources in cache, it really performs unnecessary sync loop.  This is the last thing you want.

[2016-11-16 01:17] dims commented on #32345
@fabioy : you mean this one right? https://github.com/kubernetes/kubernetes/issues/36586

[2016-11-16 01:18] liggitt commented on #22351
The service account public key has to be the same for all. In an HA setup that means you need to explicitly give it to each apiserver (recommended) or make all the apiservers use the same serving cert/private TLS key (not recommended)

[2016-11-16 01:18] liggitt commented on #22351
The service account token private key given to the controller manager is used to sign the tokens.

[2016-11-16 01:21] janetkuo commented on #30081
Should be fixed by #35732

[2016-11-16 01:21] #30081 closed

[2016-11-16 01:25] foxish commented on #36855
Thanks for putting together the list. I think we should clarify/edit a few of these tests mentioned.

* Rolling updates are not implemented, and we're just going to document the manual process with them for the supported StatefulSet examples IIUC.
* Fencing currently has some tests for various controllers (including statefulset) in [test/e2e/network_partition.go](https://github.com/kubernetes/kube

[2016-11-16 01:27] bgrant0607 commented on #35314
Thanks, @luxas.

@jbeda At the dev summit, I asked for a list of what specific issues were blocking this (e.g., client-go, API machinery for configuration), and suggested that it would be easier to manage kubeadm issues if they were filed in a separate repo, even before the code is moved, which is a pattern that Github recommends.

[2016-11-16 01:29] dhoer commented on #8800
@thockin What do you propose? Maybe names must match:
[code]

[2016-11-16 01:34] dhoer commented on #8800
I really would like a switch of some sort, name and configMap switch:
[code]

[2016-11-16 01:42] bprashanth commented on #34911
did it go up steadily, or just spike once in a test one day ago?

[2016-11-16 01:43] janetkuo commented on #36855
We find pods with statefulset selector here https://github.com/kubernetes/kubernetes/blob/v1.5.0-beta.0/pkg/controller/petset/pet_set.go#L219
Perhaps instead of adding this test, we should update the code to not use selector but use name prefix

[2016-11-16 01:49] alexbrand commented on #22351
@liggitt thanks!

[2016-11-16 01:53] bprashanth commented on #33669
This test was rewritten in 1.4 because it was gigantic and flaky, but apparently it wasn't rewritten in time for the branch: https://github.com/kubernetes/kubernetes/pull/36786, so I'm cherrypicking

[2016-11-16 01:54] fejta commented on #36562
Should be unblocked once these two builds complete:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/1
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/1

[2016-11-16 01:58] #32346 closed

[2016-11-16 02:00] foxish opened #36859 "StatefulSets with the same selector interfere with each other"
**What happened**:
When two statefulsets are created with the same labels, only one manages to come up.
This is caused by the same issue as https://github.com/kubernetes/kubernetes/issues/36855#issuecomment-260828249.

**What you expected to happen**:
Two StatefulSets should be created, instead, one was created, and another was unable to come up.

[code]

**How to reproduce it** (as minimally and

[2016-11-16 02:01] foxish commented on #36855
I agree. Filed issue https://github.com/kubernetes/kubernetes/issues/36859.

[2016-11-16 02:03] k8s-merge-robot opened #36860 "ci-kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/-1/

Run so broken it didn't make JUnit output!

[2016-11-16 02:03] k8s-merge-robot opened #36861 "ci-kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/-1/

Run so broken it didn't make JUnit output!

[2016-11-16 02:04] k8s-merge-robot opened #36862 "kubernetes-soak-weekly-deploy-gci-gce-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-weekly-deploy-gci-gce-1.4/8/

Run so broken it didn't make JUnit output!

[2016-11-16 02:04] k8s-merge-robot opened #36863 "kubernetes-soak-weekly-deploy-gke-gci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-weekly-deploy-gke-gci/17/

Run so broken it didn't make JUnit output!

[2016-11-16 02:11] janetkuo commented on #36859
Filter on label selector AND create-by annotation should be safe

[2016-11-16 02:16] bprashanth commented on #27235
The failing suite is gci-gke-prod, why is this still using 1.4.5? anyway that test is obsolete because it was flaky, I have a cherry-pick going into 1.4 (https://github.com/kubernetes/kubernetes/pull/36786), but I still don't think the prod smoke suite will use it if it's stuck to 1.4.5

[2016-11-16 02:25] saad-ali commented on #36586
We need to get this fixed soon and picked up in release-1.5 since it is consistently red in [kubernetes-e2e-gke-release-1.5](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/kubernetes-e2e-gke-release-1.5)

[2016-11-16 02:25] bprashanth commented on #28188
This failure requires debugging, the test basically creates a busybox pod and executes wget google.com inside it, apparently this is timing out, leaving the pod in Failed instead of Success: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/networking.go#L48

[2016-11-16 02:26] bprashanth commented on #32708
This should not be an issue anymore, if it is, robot will reopen

[2016-11-16 02:26] #32708 closed

[2016-11-16 02:28] dims commented on #27796
thanks a ton @foxish

[2016-11-16 02:30] dims commented on #36586
@saad-ali ack i have a PR currently running

[2016-11-16 02:35] smarterclayton commented on #36859
This comes up a lot.  Seems like we want some machinery to make this easier.  @kargakis

[2016-11-16 02:44] bprashanth commented on #33405
These failures are basically around one test that cuts off inbound traffic to the node and polls till it reports healthy (though the message misleadingly says "reboot").

Eg: https://github.com/kubernetes/kubernetes/issues/33405#issuecomment-260672852

from logs
[code]

Node logs: https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot-release-1.4/1495/artifacts/gke-je

[2016-11-16 03:11] k8s-merge-robot opened #36867 "[k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: udp [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/5969/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: udp [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #35283

[2016-11-16 03:17] mars00772 opened #36868 "[Feature]able to stop/restart/scale specific pod labled by pod-template-hash in one deployment"
in some system,one of the pod was elected by raft or some other algorithm,in some case,especially for the statefull application,people need to restart/scale/stop the specific pod which labled by a pod-template-hash in one deployment.
but now we can not do that cause kubectl scale/delete didn't have the -l opthion

[2016-11-16 03:41] ymqytw commented on #36586
@dims If you found the root cause, we will close my pending PR #36777 that printing out some debug info.
What is the PR # of the commit `e605398` you mentioned above?

[2016-11-16 03:46] tuananh commented on #34314
I had the same issue. I'm using GKE (google container)

[2016-11-16 03:48] timothysc commented on #24229
/cc @detiber

[2016-11-16 04:01] gnufied commented on #36450
@willis7 what do you see when you do `kubectl describe pod sonar-3504269494-tnzwo_default` . Do you see any particular errors in the YAML?

I

[2016-11-16 04:02] quinton-hoole commented on #31184
Yes, we can drop it from v1.5.

On Nov 15, 2016 15:56, "Saad Ali" <notifications@github.com> wrote:

[2016-11-16 04:07] gnufied opened #36870 "make quick-release fails because of iptables"
This appears to be recently broken on master. On fedora 24 at least `make quick-release` fails with following errors:

[code]

The same command works without a hitch on release-1.4 branch.

[2016-11-16 04:12] #36861 closed

[2016-11-16 04:12] #36860 closed

[2016-11-16 04:40] tatsuhiro-t opened #36871 "Misleading warning level log on Watch EOF"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernet

[2016-11-16 04:56] chengzhang1016 opened #36872 "In upstream should set S_ISGID on the directory in volumes"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): secret permission mode

**Kubernetes version** (use `kubectl version`):
version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.551+8fefda3bc3c134", GitCommit:"8fefda3bc3c134fbd29ec18c7b6b9bddb0add86d", GitTreeState:"clean", BuildDate:"2016-11-16

[2016-11-16 05:05] k8s-merge-robot opened #36873 "kubernetes-e2e-gke-large-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-large-cluster/155/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: http [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33730

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for

[2016-11-16 05:32] thockin commented on #8800
I don't have an immediately better answer.  The env API did not consider
this use case. One DiY way is to project the configmap into a file on disk
and make the entrypoint read it in before launching the main program.

On Tue, Nov 15, 2016 at 5:29 PM, Dennis Hoer <notifications@github.com>
wrote:

[2016-11-16 05:36] thockin commented on #11296
Why would that go in the addons docs?

http://kubernetes.io/docs/user-guide/accessing-the-cluster/#manually-constructing-apiserver-proxy-urls

[2016-11-16 05:39] k8s-merge-robot opened #36874 "ci-kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/6/

Run so broken it didn't make JUnit output!

[2016-11-16 05:48] sputnick commented on #11296
@thockin in my case I was creating a cluster-service with a UI and trying to copy the way that the common kubernetes dashboard is deployed. "Kubectl cluster-info" returns the service URL without any ":portname" ending which sends the user to a dead end (from a UX perspective). So after searching and digging the cluster-addon docs and coming up with nothing I ended up here for the answer. Funny eno

[2016-11-16 05:54] liggitt commented on #11816
kubelet can now require client cert auth with `--client-ca-file` and disable anonymous access to its HTTPS port with `--anonymous-auth=false`

doc PR for 1.5 open at https://github.com/kubernetes/kubernetes.github.io/pull/1684/files?short_path=c1c4aee#diff-c1c4aee71a4e1629ad21611f5031ca01

[2016-11-16 06:09] k8s-merge-robot opened #36875 "ci-kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/10/

Run so broken it didn't make JUnit output!

[2016-11-16 06:19] liggitt commented on #34668
#20508 refers to capturing user-specified information from the command line invocation, not a Secret API object

https://github.com/kubernetes/kubernetes/issues/23564#issuecomment-252715115 is not proposing that the Secret API be modified, it is simply pointing out that printing the information in the describer is not leaking information.

The issue with #23564 is that `apply` moves secret data fr

[2016-11-16 06:19] #34668 closed

[2016-11-16 06:24] ixdy commented on #36874
um, all tests passed?

[2016-11-16 06:28] liggitt commented on #36856
subdivision of secret access within a namespace is difficult to accomplish for someone who has the ability to create arbitrary pods. do you anticipate allowing users to create pods but not access secrets in a particular namespace?

[2016-11-16 06:30] liggitt commented on #36813
also, creationTime != scheduled time != started time... I don't think I'd want processes in a pod timing anything from when the pod was created

[2016-11-16 06:33] liggitt commented on #36791
I'm not sure we want quorum read on by default. The service account controller will retry the creation in 1.5 if it encounters errors.

cc @smarterclayton

[2016-11-16 06:36] liggitt commented on #36803
Docs state "Optional if only one ServicePort is defined on this service."

With multiple ports, name is required.

[2016-11-16 06:36] #36803 closed

[2016-11-16 06:36] F21 commented on #36856
Not within a namespace, but within a deployment. I am thinking of something like this:

[code]

[2016-11-16 06:39] AlexMioMio opened #36876 "E2E failed because of failing to create ServiceAccount"
I run my CI project.but i always failed here:

/home/jenkins/workspace/PaaS-V2R1-Beethoven-Distributed-E2E-New/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:685
  testRecreateTimeoutAutoRollback should auto-rollback when timeout [Beethoven] [BeforeEach]

  Expected error:
      <*errors.errorString | 0xc8200d8070>: {
          s: "timed out waiting fo

[2016-11-16 06:44] #31338 closed

[2016-11-16 06:47] liggitt commented on #36856
That still exposes the data in the deployment API object, which is not considered a sensitive object to grant read access to.

[2016-11-16 06:50] F21 commented on #36856
That's why the children under `secrets` will need to be treated like secrets, so that they are opaque (and the plain text versions won't be visible to anyone).

[2016-11-16 06:51] liggitt commented on #36745
@smarterclayton, I thought `--require-kubeconfig` was defaulting to true for 1.5

[2016-11-16 06:56] liggitt commented on #36856
the API doesn't serve different versions of resources to different consumers, and partially-secret resources don't fit with the rest of the API. the components responsible for getting those values into the pod would obtain them via the API.

[2016-11-16 06:59] liggitt commented on #36856
I'm more curious about the statement "another pod would not be able to get access to secrets owned by the deployment"... in a secured cluster, pods cannot reach out and get things from the API unless they are given permission. A user authorized to create pods in the same namespace as the secrets would have to create a pod and map a secret to it. Do you anticipate allowing users to create arbitrary

[2016-11-16 07:07] liggitt opened #36877 "kubectl edit does not display mixed objects and secrets correctly"
[code]

Note that the secret object is truncated (missing token from the data map, and missing metadata and kind entirely). Modifying and saving the secret portion submits correctly (so the metadata is somehow still known to kubectl), but the missing portion of the data map is removed (so that part is not known)

cc @smarterclayton @kargakis @fabianofranz

[2016-11-16 07:14] #35197 closed

[2016-11-16 07:30] wangwensheng opened #36878 "kubectl exec"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-16 07:30] #36878 closed

[2016-11-16 07:45] F21 commented on #36856
Yes, to some extent. However, from my understanding, if I create a secret using a secret API, any pod in the namespace would be able to mount that secret using a volume or environment variables.

In a microservices environment, we might have many microservices running under 1 namespace (for example the `app` namespace). However, each microservice does not need access to all secrets, and we want to

[2016-11-16 08:07] kilmarnock commented on #36825
Is this a (the) showstopper?

Nov 15 18:15:42 laptop systemd[1]: Started kubelet: The Kubernetes Node Agent.
Nov 15 18:15:42 laptop kubelet[26181]: error: failed to run Kubelet: invalid kubeconfig: stat /etc/kubernetes/kubelet.conf: no such file or directory
Nov 15 18:15:42 laptop systemd[1]: kubelet.service: Main process exited, code=exited, status=1/FAILURE
Nov 15 18:15:42 laptop systemd[1]: kub

[2016-11-16 08:19] wangzhuzhen commented on #27988
The same error that I have met:

`[error]: config error file="/etc/td-agent/td-agent.conf" error="Invalid Kubernetes API v1 endpoint https://10.254.0.1:443/api: SSL_connect returned=1 errno=0 state=error: certificate verify failed"`

How to solve this?  Please give some advice.

[2016-11-16 08:27] AndreeaDora commented on #35909
Are there any updates on this issue?

[2016-11-16 08:28] sandys commented on #24145
@bprashanth is there a bug to preserve source ip for nginx based ingress controllers ? i see lots of bugs in different cases.. but not for nginx ingress.

[2016-11-16 08:32] sttts commented on #28188
@saad-ali will look into it. This issue is a long-timer. But it seems to happen more often recently.

[2016-11-16 08:37] codablock opened #36880 "Azure Cloud Provider forbids custom backend pools and thus custom rules in Azure Load Balancer"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
azure load balancer
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Kind of both
**Kubernetes version** (use `kubectl version`): current master

**Environment**:
- **Cloud provider or hardware configuration**: azure
- **OS** (e.g. from /

[2016-11-16 08:37] codablock commented on #36880
CC @colemickens

[2016-11-16 08:41] willis7 commented on #36450
@gnufied I dont still have this available as I took another approach, but there was no errors beyond what I shared above.

[2016-11-16 08:41] jszczepkowski commented on #34821
Fixed by #33593.

[2016-11-16 08:41] #34821 closed

[2016-11-16 08:46] kanor1306 opened #36881 "Future alternative for API server bootstrapping"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** static bootstrap,  bootstrap api,  static pods

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

I keep seeing here and there that the static pods are gonna be deprecated "soon", and the suggestion for replacing them is using DaemonSets. But, there

[2016-11-16 08:53] kilmarnock commented on #36825
because the api container does not start, the whole system fails because it needs a connection to it.

[2016-11-16 08:58] feiskyer commented on #36264
Cool. CRI Node tests are running automatically on recent PRs.

@yujuhong Also enable CRI GCE e2e tests as blocking?

Note: there are two flakes in recent CRI GCE e2e tests, both are because of `etcd cluster is unavailable or misconfigured`.

[2016-11-16 09:03] feiskyer commented on #36401
@Random-Liu Does fluentd need to understand different log formats, e.g. CRI supports `Docker JSON log format` and `CRI log format` currently.

[2016-11-16 09:15] AdoHe commented on #28051
@dims I think we still don't make a final decision.

[2016-11-16 09:17] AdoHe commented on #36877
@ymqytw ptal.

[2016-11-16 09:19] AdoHe commented on #36829
@colemickens could you provide your environment? IIRC I have already fixed a similar issue on my local

[2016-11-16 09:44] pires commented on #24145
@thockin can we have an owner for this issue?

[2016-11-16 09:47] rmohr opened #36885 "Proposal: Validation and Pre-Persist modifications for ThirdPartyResources"
As discussed in https://github.com/kubernetes/features/issues/95, `ThirdPartyResources` do not yet allow validation and defaulting. This is about adding support for them.

# Background

With ThirdPartyResources, reusing the apiserver for custom extensions becomes possible. POST/PUT/PATCH/DELETE and watching works fine. However, validation and setting default values is not possible at the moment. E

[2016-11-16 09:56] FutureSharks commented on #34772
Sure I can help.

I'm happy you can reproduce the autoscaling issue.

I ran my example again this morning. This time the `OutOfcpu` pods came much later but still. I'll write in details below...

Create the cluster:
[code]

Create the Kubernetes deployment, HPA etc:
[code]

Pods are running and the HPA is getting ready:
[code]

After 5 mins or so, it starts scaling:
[code]

At 09:59:21 I had 16 po

[2016-11-16 10:02] FutureSharks commented on #34772
I have the output of this run on a node. Is that what you mean?
`gke-test-cluster-1-default-pool-63668488-wgn8 ~ # journalctl | grep kubelet`

I can't really see a consistent pattern as to when it happens. In the example I posted above the `OutOfcpu` pods didn't happen until the cluster node count reached 17 but previously I had seen it as early as 5 nodes. Also there are periods of time during no

[2016-11-16 10:13] rmohr commented on #36885
@@kubernetes/sig-api-machinery

[2016-11-16 10:33] wernight commented on #16779
I mean off by default for *new* clusters. Or off if using an old `apiVersion` in the Yaml. So this would not be a breaking change.

[2016-11-16 10:49] qwang1 commented on #36872
Upstream(v1.6.0-alpha.0.551+8fefda3bc3c134) now has the same result with OCP 3.4.0.26.
@chengzhang1016 I think the authority difference was unaware of.

In container as root:
# ls -ld /etc/foo
drwxrwxrwt. 3 root root 120 Nov 16 08:37 /etc/foo
Since it's root, unique root, unique group. It doesn't need Set S_ISGID.

As normal user:
$ ls -ld /etc/foo
drwxrwsrwt. 3 root 1000100000 120 Nov 16 10:01 /e

[2016-11-16 11:08] kargakis commented on #36813
Right, we want the start time. But the status is still accessible via the downward api.

[2016-11-16 11:11] kargakis commented on #36877
@kubernetes/kubectl

[2016-11-16 11:13] AlexMioMio commented on #36876
@AdoHe

[2016-11-16 11:26] dims commented on #28051
Ack @AdoHe please adjust milestone when appropriate

[2016-11-16 11:30] dims commented on #36586
@ymqytw : here it is https://github.com/kubernetes/kubernetes/pull/36864

[2016-11-16 11:31] dims commented on #36745
@mattymo : please specify which kubernetes version you are trying under :)

[2016-11-16 11:35] FutureSharks commented on #34772
I just ran it again this time I had `OutOfcpu` pods much quicker. Here is events from the pod:
[code]

And from the cluster node:
[code]

[2016-11-16 12:21] jakub-d commented on #10570
Any updates on this topic? What are the decisions after the kubecon?

[2016-11-16 12:21] lsztachanski commented on #36815
I've increased verbosity.
Created random cluster (address with unresponsive API endpoint), removed it (kubectl --context=$FEDERATED-CLUSTER delete -f  cluster-definiton.yaml) and controller manager still produces errors:

`I1116 12:15:29.455180       1 reflector.go:403] k8s.io/kubernetes/federation/pkg/federation-controller/service/servicecontroller.go:238: Watch close - *v1beta1.Cluster total 16

[2016-11-16 12:35] k82cn commented on #36716
Wow, @timothysc / @davidopp / @tnachen , I mean the sig meeting next week; I'm in MesosCon Asia this week :).

[2016-11-16 12:40] nlamirault commented on #35643
@brendandburns i will try that.

[2016-11-16 12:45] jeremyeder commented on #10570
​The feedback was we need to prototype using side-car techniques, prove out the ideas, and then work to get them built into Kube.  This means using node-feature-discovery pod for the hardware discovery. NFD feeds information into Opaque Integer Resources.  We extend the Kube API using ThirdPartyResources such that a pod manifest can request those resources as specified by OIR.

* NFD runs as a dae

[2016-11-16 13:56] k8s-merge-robot opened #36890 "[k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6771/

Failed: [k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}

[code]

Previous issues for this test: #34623 #34713

[2016-11-16 13:57] wallrj opened #36891 "Deleting a namespace sometimes leaves orphaned deployment and pods which can't be deleted"
I've got my kubernetes cluster into a state where there are pods and a deployment that belong to a deleted namespace.

I deleted the namespace (by calling the REST API directly).

And I can't delete the orphaned resources.

[code]
[code]
[code]
[code]
[code]

[code]

Cloud: Google Cloud Platform
Installed according to `kubeadm` documentation http://kubernetes.io/docs/getting-started-guides/kubeadm

[2016-11-16 14:03] dims commented on #15077
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-16 14:04] dims commented on #27980
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-16 14:05] dims commented on #26723
@madhusudancs : is this still target-ted for 1.5?

[2016-11-16 14:06] dims commented on #31553
This needs to be triaged as a release-blocker or not for 1.5 @janetkuo @AdoHe @soltysh

[2016-11-16 14:07] DaanOlbrechts commented on #35508
@sachincab I had this very same issue, in the following scenario:
 - Fresh Kubernetes (v1.4.4 or v1.4.5) installed using kubeadm
 - Set `--runtime-config=batch/v2alpha1` flag in the kube-apiserver manifest file (which promptly restarts it).
 - `kubectl get scheduledjobs` shows created scheduled jobs, but jobs are never created.

The issue was resolved in my setup by restarting the Docker service a

[2016-11-16 14:07] dims commented on #24321
This needs to be triaged as a release-blocker or not for 1.5 @davidopp @mml

[2016-11-16 14:07] dims commented on #28367
This needs to be triaged as a release-blocker or not for 1.5 @saad-ali @jeffvance