[2018-09-18 15:16] nikhita commented on #68231
IIUC this means that there needs to be a `doc.go` even at the root of the repo? Then how does `go get k8s.io/client-go/...` work? :thinking:

[2018-09-18 15:27] losipiuk commented on #68011
Looks promising. The `MetricValue.Metric` was converted correctly (at least `Name`, `Selector` is nil so hard to say). Other fields were not.
I don't know what is the proper way to mix auto-generated conversion code with hand written one. But maybe if you provide hand-written conversion function for `MetricValue` you have to handle all the fields.

[2018-09-18 15:29] thockin commented on #65013
Right, well, that explains it.

So even draining won't do what you want - you need new connections to be allowed until you have capacity in the new pool.

The good news is that you can do this entirely yourself, with taints.  We just need nginx to tolerate the taint, which you can also specify yourself.  The only real alternative I see would be, as you said, to leave nodes in the LB pool until the

[2018-09-18 15:30] losipiuk commented on #68011
Just a side note. If you will be fixing that could you add more verbose test coverage to `TestMetricConverter`? It would be nice to have different objects tested (v1beta1 <-> v1beta2) directly calling `UnsafeConvertToVersionVia` function.

[2018-09-18 15:33] losipiuk commented on #68011
I added one testcase which shows failing scenario:
[code]

[2018-09-18 15:35] losipiuk commented on #68011
The first 2 pass. But the last one fails with `200` being converted to `0`

[2018-09-18 15:35] nikhita commented on #54398
/remove-lifecycle stale

created #68790 to move INSTALL.md to staging

[2018-09-18 15:50] george-angel commented on #39188
/remove-lifecycle stale

[2018-09-18 15:51] damemi commented on #68011
@losipiuk in your code it looks like the first 2 are converting `MetricListOptions` while the 3rd is converting `MetricValueList`. Would you mind modifying the first 2 to still check `internal -> versionXX` but with a `MetricValueList`?

[2018-09-18 16:00] #68383 closed

[2018-09-18 16:05] 31bbb commented on #61277
Also running into this on Ubuntu 16.04.5 LTS server. I thought maybe it was my DNS but that is not the case. I've also got this a few times:

[code]

Makes me wonder if there is an issue with the network endpoint?

[2018-09-18 16:12] losipiuk commented on #68011
I pasted it just for sake of showing the issue. It is not in commitable shape at all. As I mentioned earlier I think that we need more thorough coverage. And for sure more complete test objects. Not sure if we should test against internal API as it is somewhat implementation detail. But feel free to prove me wrong.

[2018-09-18 16:15] bclau opened #68791 "Windows Kubelet does not mount the /dev/termination-file file into containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/sig windows

**What happened**:

When creating a Kubernetes pod [0], you can specify the ``terminationMessagePath`` field, which is a file in which a container can write in, and its content will be included in the Pod's status [1], in the ``status.containerStatuses.state.terminated.message`` field. However, this does not work as intended with Windows

[2018-09-18 16:41] tpepper commented on #66243
If this isn't being resolved, can we disable the test and open an issue for re-enabling if / when applicable in the future?

[2018-09-18 16:48] AishSundar commented on #66243
@freehan any update on the prod rollout of the API Fix?

[2018-09-18 16:50] bowei commented on #66243
@freehan will know definitely, but I think it's slowly being enabled again as we speak

[2018-09-18 17:05] MrHohn commented on #68653
Ref https://k8s-testgrid.appspot.com/google-gke#gci-gke&width=20, this test starts passing again.
/assign

[2018-09-18 17:05] MrHohn commented on #68653
/close

[2018-09-18 17:05] #68653 closed

[2018-09-18 17:06] spiffxp commented on #68653
pull-kubernetes-e2e-gke started passing regularly as of 2018-09-18 01:07 PDT

[2018-09-18 17:08] spiffxp commented on #68755
/close
The fix for #68653 has fixed this

First green 2018-09-17 16:27 PDT
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/66872/pull-kubernetes-e2e-gke/2664

Second green 2018-09-17 17:08 PDT
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/66872/pull-kubernetes-e2e-gke/2667

Started passing continuously after 2018-09-18 01:07 PDT
https://k8s-guber

[2018-09-18 17:08] #68755 closed

[2018-09-18 17:11] freehan commented on #66243
It will be enabled by the end of this week.

[2018-09-18 17:26] jpbetz commented on #59848
Sorry, forgot the link [Apiserver Resource Version Semantics](https://docs.google.com/document/d/1x3JXKwPTpum8S6bC-YXvoGS583iixuQSskEGukTAzcI/edit#) is the design doc.

[2018-09-18 17:32] LohithChanda commented on #68427
In my case, i am using a statefulset and was deleting just the pod after making changes to the pvc. So redeploying the statefulset with increased disk size seems to work. Thanks.

[2018-09-18 17:34] MrHohn commented on #67600
Opened #68794 to disable this test.

[2018-09-18 17:37] adysart78 commented on #37005
Thanks @andyzhangx -- I was still having trouble until I added the storageClassName: "" to the claim... then realized I was hitting issue https://github.com/kubernetes/kubernetes/issues/44370... which I can avoid by setting storageClassName: "default" to both the pv and pvc, and now everything works.  Thanks again!

[2018-09-18 17:39] alinbalutoiu commented on #64188
@dineshgovindasamy thanks for the confirmation.
In my opinion this should stay open until it gets fixed at least for future Windows releases, because the way it is at the moment, the CNI will still be called multiple times regardless of the Windows version.

Why would you recommend closing this issue? Shouldn't this be fixed for futures Windows releases? The other calls will be useless when Window

[2018-09-18 17:41] damemi commented on #68011
I've added these conversions in https://github.com/kubernetes/kubernetes/pull/68795

In testing locally using an HPA and custom adapter running v1beta1, I am able to see the metric value correctly parsed:
[code]

(opposed to the current version, which parses to 0):
[code]

While I am limited in my access to run the Stackdriver tests, we do have improvements to the custom metrics tests in the works

[2018-09-18 17:41] tpepper commented on #67600
Thank you!

[2018-09-18 17:44] lopf opened #68796 "Enrich logs with kubernetes metadata"
/kind feature

**Environment**:
- Kubernetes version (use `kubectl version`): 1.10
- Cloud provider or hardware configuration: CDK on-prem
- OS (e.g. from /etc/os-release): Ubuntu 16.04

CDK deploys Graylog as a central logging instance. The default filebeat configuration adds nothing essential to event logs.

While one can filter for a particular pod using the (IMO ugly) query `type:kube\-logs AN

[2018-09-18 17:45] #68796 closed

[2018-09-18 17:47] lopf commented on #68796
re-opened here: https://github.com/juju-solutions/bundle-canonical-kubernetes/issues/651

[2018-09-18 17:52] bsalamat commented on #65013
@thockin IIUC, we don't want new pods to land on the tainted/cordoned nodes. In that case, we can place "NoSchedule" taint on the nodes. We don't need any tolerations on nginx. This will prevent new instances of nginx from landing on the tainted nodes, but the existing ones will keep running there.

[2018-09-18 18:01] vladimirvivien commented on #68574
Hi, as of version 1.11, the CSI plugin uses the Kubelet Registration Mechanism for CSI driver discovery.  You can take a look here to see how the kubelet path is resolved - https://github.com/kubernetes/kubernetes/blob/36877dafe40495cb43994464e2427355f99042c7/pkg/volume/csi/csi_client.go#L293

That variable, `csiAddrTemplate` is not used and needs to be removed.

[2018-09-18 18:03] gnufied opened #68797 "Setup call to volume plugins should include user and plugin provided mount options"
When we create bind mounts in `Setup` function - we should also include user provided mount options coming from PV or StorageClass.

This will ensure that bind and remount operations have access to full mount options rather than a partial list.

related to https://github.com/kubernetes/kubernetes/pull/68626#discussion_r218534387

/sig storage

/assign

[2018-09-18 18:11] kfox1111 commented on #45418
I can confirm this issue. kubectl 1.10 with kube cluster 1.10 fails to describe cronjob.
but kubectl 1.8 with kube cluster 1.10 describes as intended.

[2018-09-18 18:27] dims commented on #68504
/sig cluster-lifecycle

[2018-09-18 18:35] darxkies commented on #68574
When is the KubeletPluginWatcher feature going to be promoted to beta?

[2018-09-18 18:42] vladimirvivien commented on #68574
@darxkies it will be beta next release.  So it will be on by default.

[2018-09-18 18:47] darxkies commented on #68574
Wonderful. I will take a closer look at it next week.

[2018-09-18 18:58] ixdy commented on #68560
Awesome.

We might want to get better monitoring on this job if IPVS is GA, since it took several weeks from the original PR merged before this issue was opened.

[2018-09-18 19:12] nikhita commented on #68787
/area custom-resources

[2018-09-18 19:32] #68744 closed

[2018-09-18 19:39] BenTheElder commented on #68653
Thanks all!

[2018-09-18 19:39] miekg commented on #68613
[ Quoting <notifications@github.com> in "Re: [kubernetes/kubernetes] Core-dn..." ]

Is there an easy way to get debugging data of these tests regarding CoreDNS?

Or is the only way to try to replicate a similar setup and hoping we see the
same issue?

[2018-09-18 19:41] Nowaker commented on #25353
I run `kubectl describe pod <pod-name>` to find which node the pod lives on. Having this information outputted as YAML or JSON allows me to get that info easily in an automated manner. Doing so with regular output, I have to deal with grep, awk and splitting hostname from IP, and so on.

It doesn't matter `describe` doesn't return a single object. I'm interested in a JSON/YAML representation of `d

[2018-09-18 19:45] liggitt commented on #25353
`kubectl get pod <name> -o json` (or `-o jsonpath="{.spec.nodeName}"`) is what you want for getting api content

[2018-09-18 19:54] bageljp commented on #60987
I have the same issue with k8s v1.11.1 and Docker 1.13.1 on Ubuntu 16.04.
Does not occur k8s v1.11.2?

[2018-09-18 19:55] chrisohaver commented on #68613
@wojtek-t, @shyamjvs Is there a way in the framework to enable collection of profiling data (i.e. `pprof`)?  I initially thought no, but I noticed `e2e/framework/profile_gatherer.go`.

[2018-09-18 19:59] chrisohaver commented on #68613
After a quick look at `profile_gatherer.go`, it looks like it only allows collection via SSH.

[2018-09-18 20:00] wojtek-t commented on #68613
yes - it's only via SSH. And I'm not sure it now supports more than master VM.

[2018-09-18 20:05] chrisohaver commented on #68613
Looks like it would not be terribly complicated to add http support.

[2018-09-18 20:09] Nowaker commented on #25353
[libxo](https://github.com/Juniper/libxo) is a nice way to do it - popular on FreeBSD. Most userland utilities got JSON/YAML output capabilities because of this. It's like `printf` but preserves context for other formats.

[2018-09-18 20:13] nonken commented on #64137
@bjhaid where would you execute this?

[2018-09-18 20:43] jessfs commented on #39845
What's blocking this from happening at this point? cc @mayakacz @destijl

[2018-09-18 20:44] LohithChanda commented on #68427
I couldn't see any changes in the portal when i update the pvc. I had to update the disk size in portal first - edit the pvc accordingly and then deleting the pod made it to work. Thanks

[2018-09-18 20:44] #68427 closed

[2018-09-18 20:44] jesseendahl commented on #39845
What's blocking this from happening at this point? cc @mayakacz @destijl

[2018-09-18 21:10] verult commented on #68490
@tpepper we are arriving at a resolution in the discussion and I'll be pushing an update shortly

[2018-09-18 21:17] davidz627 opened #68804 "Local Volume Provisioner tests failing in CI"
/kind bug
/sig storage
/kind test

Testgrid links:
https://k8s-testgrid.appspot.com/sig-release-1.11-all#soak-gci-gce-1.11
Example test failure:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-stable1/670

Local Volume Tests failing in CI:
[code]

I've determined this test is failing due to enabling PodSecurityPolicy on CI while these tests are creating

[2018-09-18 21:47] jackzzj commented on #53059
I think I just experienced the same issue on AWS ...

[2018-09-18 21:51] bjhaid commented on #64137
@nonken on the kubernetes nodes

[2018-09-18 22:07] BenTheElder commented on #68560
Anyone willing to monitor can PR email alerts per config here: https://github.com/kubernetes/test-infra/tree/master/testgrid#email-alerts
Please consider doing so! It's ~hard~ impossible to track all of testgrid, we really need SIGs to step up on this!

[2018-09-18 22:29] dims commented on #68504
/priority critical-urgent
/milestone v1.12

Sorry the activity and urgency is reflected in the PR :)

[2018-09-18 22:33] guineveresaenger commented on #68504
@dims welp! sorry about that!

[2018-09-18 22:35] mabushey commented on #19077
Normal  Pulling    10m    kubelet, ip-10-132-2-185.us-west-2.compute.internal  pulling image "764210488972.dkr.ecr.us-east-1.amazonaws.com/image:v136"

Is it pulling or locked? It is a large container.

[2018-09-18 22:38] guineveresaenger commented on #65266
Please continue this work in 1.13.
/milestone clear
/milestone v1.13

[2018-09-18 22:41] guineveresaenger commented on #65266
/milestone v1.13

[2018-09-18 23:00] guineveresaenger commented on #63842
note: i see this may be resolved, but moving it to 1.13 due to timing.

/milestone v1.13

[2018-09-18 23:04] liggitt commented on #65266
Actually, we'll tombstone this to track what was done in 1.12 and copy unfinished items to a new issue

/milestone v1.12
/close

[2018-09-18 23:04] #65266 closed

[2018-09-18 23:04] bsalamat commented on #63842
@guineveresaenger The main part of this feature, which is to enable ImageLocalityPriority by default is already merged and shipped with 1.12.

[2018-09-18 23:14] nmittler commented on #65502
@rshriram I'm bringing our conversation back here from https://github.com/kubernetes/community/pull/2148#issuecomment-422203844.  I don't want to muddy their discussion :).

**From @rshriram:**

**My reply:**
You raise a good point. But I'm not sure that's quite sufficient either.

For inbound traffic, you're right ... we would want to start rejecting requests bound for the application. However, t

[2018-09-18 23:28] nmittler commented on #65502
@rshriram @PiotrSikora The proposal above would require the ability to put Envoy into a lameduck mode where it immediately starts rejecting inbound traffic. Assuming we have that, I think we can get the behavior we want by making the sidecar container shutdown **after** the application container.  Here's the shutdown sequence:

**Deployment time**

Webhook injection adds a [PreStop hook](https://k

[2018-09-18 23:32] #67600 closed

[2018-09-18 23:46] dims commented on #68716
@yue9944882 the only piece of code in local-up-cluster that touches the file is https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L885-L895

[2018-09-18 23:51] ddebroy commented on #65201
/remove-lifecycle stale

[2018-09-19 00:02] enisoc commented on #65502
Building on https://github.com/kubernetes/community/pull/2148#issuecomment-422137240, what if we amend the "shutdown ordering" property to this:

* Shutdown ordering: When a Pod goes down gracefully, we will first execute preStop hooks on all normal containers *and all sidecar containers*. After that, we will signal all normal containers to terminate. Only after all normal containers have terminat

[2018-09-19 00:05] andyzhangx commented on #68791
/assign

[2018-09-19 00:10] itowlson commented on #58357
This is now being worked on at https://github.com/Azure/application-gateway-kubernetes-ingress - the previous URL is deprecated.

[2018-09-19 00:17] saad-ali commented on #68490
@tpepper @verult This issue (#68490) is not a blocker for the release. It is just a failing test on alpha clusters (due to what is essentially a test issue, CRD not being installed).

The fix PR https://github.com/kubernetes/kubernetes/pull/68579 bundles two commits: a fix for this issue (test auto-install CRD on alpha clusters) and a fix for issue https://github.com/kubernetes/kubernetes/issues/6

[2018-09-19 00:29] nmittler commented on #65502
@enisoc that would be perfect ... I was actually going to suggest that, but I was concerned about getting push-back. Big +1 to this!

[2018-09-19 01:49] Lion-Wei commented on #68560
@BenTheElder Definitely make sense, I will raise a pr to do this work.

[2018-09-19 01:52] huzhengchuan commented on #58081
I thinks the error is still not fix, because google/cadvisor#1959 revert google/cadvisor#1916

[2018-09-19 01:53] BenTheElder commented on #68560
Thank you! 😄

On Tue, Sep 18, 2018 at 6:51 PM Lion-Wei <notifications@github.com> wrote:

[2018-09-19 01:59] msau42 opened #68809 "Investigate speeding up sig-storage tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
As part of the sig storage e2e refactor, we added a lot of new test cases.  We should make sure these test cases are not taking up too much time and look into ways of shortening them.

One common area that can be looked into first is pod termination time: https://github.com/kubernetes/kubernetes/pull/640

[2018-09-19 02:47] leakingtapan commented on #68026
@dims should we have a checklist as part of the issue summary saying what is in progress and what is done? Since this issue is getting long, this will make new contributors to pick up issues easier.

[2018-09-19 02:58] mikedanese opened #68810 "Support an image pull credential flow built on bound service account tokens"
ImagePullSecret is a mechanism to provide kubelet with credentials to pull images for pods running as a specific service account. This provides segmentation of image access between tenants of a cluster. Now that Kubernetes has a more featureful service acccount token issuer, we can leverage bound service account tokens rather than static secrets to authenticate kubelet to docker registries.

Straw

[2018-09-19 03:04] fturib commented on #68613
About the OOM and memory limit for the Pod, we were able to make some measurement using presubmit scale tests on the PR #68683.

We could estimate some mem usage for 0, 500, 2k nodes. The point at 5k nodes need to be run on a ci test (which means needs to merge the code and wait the scale-perf test is triggered).

**CoreDNS**
* 0 nodes: 18mi (measured)
* 500 nodes: 38mi (measured)
* 2000 nodes: 93

[2018-09-19 03:15] WanLinghao opened #68811 "Inject api-server certificate into serviceaccount token projected volume"
Currently, the serviceaccount token projected volume wouldn't  create ca.crt and namespace.crt file as old serviceaccount model does.  It could cause no available certificate problem.
I think we need to mount ca.crt and namesapce.crt file automatically as current serviceaccount token controller does. I propose a model like this:
1. Add a serviceaccount-cert-file option to api-server which provides

[2018-09-19 03:15] WanLinghao commented on #68811
/sig auth

[2018-09-19 03:28] k82cn commented on #61886
How about taint?

Can we handle DaemonSet in admission controller? With dry-run, DaemonSet need to check whether pod can be scheduled, which should be done by scheduler :)

Assign pod to node is decided by scheduler, prefer not to use such kind logic outside scheduler.

[2018-09-19 03:48] andyzhangx commented on #68791
Update:
This feature is disabled on windows, it depends on file mount on windows.
https://github.com/kubernetes/kubernetes/blob/76518f154b717c977b1bfb506aeb7cd4b176fde0/pkg/kubelet/kubelet_pods.go#L468-L470

I think in the time we are waiting for windows 2019 which supports file mount, I would try to enable it on v1.13 first, make sure there is no break with current 1803 build(k8s v1.13 should wor

[2018-09-19 04:57] uromahn commented on #65502
@enisoc and @nmittler in general I think the proposed solution is good and would definitely solve the Istio use case, I don't think it could solve the additional issue we are facing of "startup" availability.

In our case, the service is trying to make an outbound call to a config service before its endpoint becomes ready. But if the service makes that call before the istio-proxy is ready, the cal

[2018-09-19 04:59] johnbelamaric commented on #68613
I’d really like to understand why the growth is worse than kube-dns. What
additional resources are we storing? It will be great if we can get that
profiling somehow.

On Tue, Sep 18, 2018 at 8:06 PM Francois Tur <notifications@github.com>
wrote:

[2018-09-19 05:01] liqlin2015 commented on #68504
@dims I still get this issue with latest master branch code.

[code]

[2018-09-19 05:51] mcanevet commented on #65274
/remove-lifecycle stale

[2018-09-19 06:16] houjun41544 commented on #68050
We would like to resolve this problem by  clearing gluster log file after read logs. #68814

[2018-09-19 06:32] nonken commented on #64137
@bjhaid Thank you! Much appreciated.

[2018-09-19 06:40] houjun41544 commented on #68050
@humblec If the log file is provided by user, they could archive and clear the logs by themselves. But if it is driver specific ,maybe users do not known the log file existed at all.

[2018-09-19 06:43] resouer commented on #63842
@k82cn Please check the description of this issue they are already listed there :-)

And as Klaus suggested, I will close this issue to avoid future confusing, bug fixes and compatibility fixes can be tracked with seperated issues, e.g. #64413.

Also, @silveryfu & me are also designing image layer locality based scheduling (as @k82cn suggested before), should be a good candidate for upcoming relea

[2018-09-19 06:43] #63842 closed

[2018-09-19 06:50] mymynew commented on #30755
@kayrus Hi, How to deal with it?
I use DaemonSet ，but pod lables the same

[2018-09-19 07:27] tnozicka commented on #61886
If you modify the DaemonSet in the admission you get inconsistencies - if e.g. the nodeSelector is changed, you have already modified the DaemonSet and can't fix it as you can't know if it was the admission plugin setting that part of the nodeSelector or a user.

Also we don't own all the admission controllers, users do.

I think it gets ambiguous with DaemonSet as it is delegating scheduler. It d

[2018-09-19 07:42] mikedanese commented on #68366
cc @smarterclayton

[2018-09-19 07:44] Nebulazhang commented on #45419
`curl -XGET --unix-socket /var/run/docker.sock http://localhost/containers/e8e6a267/json`

[2018-09-19 07:50] Nebulazhang commented on #45419
@deitch
Hi, I met the same error like this
`Error syncing pod *********** ("pod-name"), skipping: rpc error: code = DeadlineExceeded desc = context deadline exceeded`
</br>
and I request the container info by dockerd and I found this request was blocked and no result return
</br>
`curl -XGET --unix-socket /var/run/docker.sock http://localhost/containers/******("yourcontainerid")/json`

So I think

[2018-09-19 08:16] smarterclayton commented on #68366
Is there any difference between the security risk of this endpoint and the pprof endpoint or the exec endpoint, which all offer trivial root escalation?

[2018-09-19 08:16] waldauf opened #68818 "Flannel won't start (kubeadm installation)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig Network

**What happened**:
I have installed Kubernetes cluster on 3 nodes (via `kubeadm init` where ETCD is running standalone in docker container). Everything works fine but before a few days all Kubernetes went down. I found out that problem is in Flannel. Flannel pods won't start and broke Kubernetes.

[code]

Flannel log:
[code]
I t

[2018-09-19 08:18] smarterclayton commented on #68366
Logs is super useful for cluster admin - audit doesn’t even begin to approach the value logs has for triage.

[2018-09-19 08:50] pohly opened #68819 "CSI E2E tests: fail with upcoming CSI release"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When testing k8s master with the "canary" CSI images (= the images which will be tagged as the next release end of this week), the CSI volume tests fail.

PVCs remain pending because the external-attacher runs into a permission issue (from its log):
[code]

**What you expected to happen**:

Should work?

**How to reprodu

[2018-09-19 08:54] waldauf commented on #68818
In kubelet log I often see these lines:
[code]

There is not created _cni0_ network bridge:
[code]

[2018-09-19 08:56] pohly commented on #68819
/sig storage

@jsafrane the stable version is v0.2.1, which didn't have the leadership election. Which permissions are needed for "endpoints" - obviously "get", probably "set", anything else?

[2018-09-19 09:00] #68490 closed

[2018-09-19 09:09] pohly commented on #68819
It looks like these additional permissions must go into `plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go`, right?

[2018-09-19 09:16] kostyrev commented on #56903
I didn't configure 127.0.0.1.
Dnsmasq by default does this.

[2018-09-19 09:39] pohly commented on #68819
I have a fix, but I have no idea whether it is the right one - let's discuss in https://github.com/kubernetes/kubernetes/pull/68821

[2018-09-19 09:58] matteosilv commented on #58693
/remove-lifecycle rotten

[2018-09-19 10:30] #68194 closed

[2018-09-19 10:52] on91716 opened #68824 "ku"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-09-19 10:57] dims commented on #68824
/close

[2018-09-19 10:57] #68824 closed

[2018-09-19 10:59] nikhita commented on #68716
@yue9944882 can't reproduce this. Two questions:

- Can you see this everytime?
- What is the SHA of the commit on master when you tried this? Can check with that too.

[2018-09-19 11:26] Deepak3994 commented on #68542
Hi,

I get the below error..

![screenshot_2018-09-19 deepak - kubernetes dashboard](https://user-images.githubusercontent.com/20994657/45750477-ce44d300-bc2c-11e8-9827-f3cd15cb23e4.png)

The above error occurs only after joining the node to the master. Kindly let me how to overcome this problem.

[2018-09-19 11:36] dims commented on #58357
cool, let's close this out then

/close

[2018-09-19 11:36] #58357 closed

[2018-09-19 11:36] jbartosik opened #68826 "Creating or restarting HPA close to pod creation creates race in the first decision it makes"
/kind bug

**What happened**: I was testing HPA before 1.12 release. My test created replication controller with 10 pods, each using 40% CPU and HPA targeting 60% CPU utilization. First scale was random. On different runs the first scale was to 1, 4, 7 pods.

I expect the same problem will surface if HPA scales up and then gets restarted.

**What you expected to happen**: Stabilizing at 10 pods.

[2018-09-19 11:37] jbartosik commented on #68826
/cc @kubernetes/sig-autoscaling-pr-reviews

[2018-09-19 11:40] stanislavb opened #68827 "Configure pod anti-affinity across all namespaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
A batch Job had the following affinity configuration snippet:

[code]
Output:

spec.template.spec.affinity.podAntiAffinity.requiredDuringSchedulingIgnoredDuringExecution[0].namespace: Invalid value: "*": a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanum

[2018-09-19 11:43] bclau commented on #68791
@andyzhangx yeah, I know that file mount is not supported yet, but it will be at one point.

Regarding the pod.yaml file, I should have mentioned it, but it is [1] in the bug report:  https://paste.ubuntu.com/p/pBp3SKHm9J/

[2018-09-19 11:44] stanislavb commented on #68827
@kubernetes/sig-scheduling-feature-requests

[2018-09-19 12:09] lichuqiang commented on #65295
/remove-lifecycle stale

[2018-09-19 12:34] dims commented on #30039
long-term-issue (note to self)

[2018-09-19 12:34] dims commented on #64864
long-term-issue (note to self)

[2018-09-19 12:34] zhang2kai opened #68828 "Hello, everyone, I want to kown that how to get pods with a label? This not appear in code..."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-09-19 12:35] dims commented on #63024
seems to be green.

/close

[2018-09-19 12:35] #63024 closed

[2018-09-19 12:38] embs commented on #54914
I also had to

    # update-grub2

as suggested [here](https://phabricator.wikimedia.org/T122734).

[2018-09-19 12:39] chrXiTer commented on #60884
same issue with 1.11.3 on ubuntu 16.04.5. When kubeadm init.

[2018-09-19 12:43] Shinerrs opened #68829 "Kubectl delete -f deployments/ --grace-period=0 --force does not work."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Force terminate does not work:

[code]

**What you expected to happen**:
Pod to be deleted

**How to reproduce it (as minimally and precisely as possible)**:
We feel that the there might have been an IO error with the storage on the pods. Kubernetes has its own dedicated direct storage. All hosted on AWS. Use of t3.xl

[2018-09-19 12:48] Shinerrs commented on #68829
@kubernetes/sig-Cluster-Ops-bugs @kubernetes/sig-Resource-Management-bugs @kubernetes/sig-cli-bugs

[2018-09-19 12:52] fabiand commented on #59151
/remove-lifecycle stale

[2018-09-19 13:02] chrXiTer commented on #60884
In my case. Because of I copy /var/lib/docker/image/aufs From other host to my host.
Because my network is so bad.
It seems ok when using “docker image ls”。
But 。。。。md。

[2018-09-19 13:20] wicope opened #68832 "Sometimes not connect from one container to the mysql of another container"
/kind bug

Sometimes connect and another sometimes not connect. I attach logs:

[code]
---
[code]
---
[code]
----
[code]

[2018-09-19 13:30] andyzhangx commented on #68791
@bclau you could skip this test now since the feature is not implemented on Windows.

[2018-09-19 13:46] wicope commented on #68832
/sig network
/area dns

[2018-09-19 13:46] nikhita commented on #68721
This comes from here:

https://github.com/kubernetes/kubernetes/blob/259a59d93618f0266151a50018f3b3f3cbcfc0e4/pkg/kubelet/kuberuntime/logs/logs.go#L189-L197

and then

https://github.com/kubernetes/kubernetes/blob/259a59d93618f0266151a50018f3b3f3cbcfc0e4/pkg/kubelet/kuberuntime/logs/logs.go#L333-L339

and after that it's essentially:

[code]

Looks like something is wrong with the LogPath.

[2018-09-19 13:47] nikhita commented on #68721
/area kubelet

[2018-09-19 13:49] #62221 closed

[2018-09-19 14:01] Shinerrs commented on #68829
For joining community support I have posted this issue on stackOverflow. https://stackoverflow.com/questions/52407579/kubectl-delete-f-deployments-grace-period-0-force-does-not-work

[2018-09-19 14:07] squeed commented on #57280
For the record, Kubernetes will call a CNI DEL for old and stale sandboxes.

However, if you're force-removing /var/run/docker, then it will assume the sandboxes are already cleaned up, and IP addresses will leak.

[2018-09-19 14:30] Shinerrs commented on #68829
Logs from API:

[code]

[2018-09-19 14:34] liggitt commented on #68819
Yes. Constant Endpoint modification floods kubelet and kube-proxy watchers. Prefer the dedicated Lease object.

I'd recommend granting access to the lease object in a dedicated role, not configmaps or endpoints.

Is there a reason not to set up a role that allows read/write access to the specific lease object the component will use?

[2018-09-19 14:42] wongma7 commented on #68819
1. I am reluctant to switch to configmaps so soon because it will be disruptive to users who have already been disrupted by the need to add endpoints permissions. (I thought endpoints was the default from looking at the leaderelection package...and did not check what external-attacher was doing). But this needs to be corrected anyway so I guess it's better to do it sooner, I'll switch it to config

[2018-09-19 14:47] jsafrane commented on #68819
I'd prefer to have a pre-created Role/ClusterRole that the deployment of CSI driver would use. We may add  new permissions later and it's easier to update the role than telling all users to update their deployment tools.

[2018-09-19 14:50] liggitt commented on #68819
I understand that is more convenient, but is problematic to couple in-tree roles with out-of-tree components. Such components should be providing their own role and rolebinding definitions for deployer to make use of.

[2018-09-19 14:50] nmittler commented on #65502
@uromahn That's correct, I only addressed shutdown in https://github.com/kubernetes/kubernetes/issues/65502#issuecomment-422592567) because that is what is being discussed in https://github.com/kubernetes/community/pull/2148#issuecomment-422203844.

For startup, we've implemented [readiness probes for istio-proxy](https://github.com/istio/istio/pull/7465), which is part of the solution.  To solve

[2018-09-19 14:54] liggitt commented on #68819
The guideline is that if the component is defined out of tree, the role/binding should be as well

[2018-09-19 14:55] jsafrane commented on #68819
Is there any prior art? *How* exactly should external component provide roles/binding?

So, should we remove system:csi-external-attacher role then?

[2018-09-19 15:05] liggitt commented on #68819
See examples in the cluster/addons folder, like:

https://github.com/kubernetes/kubernetes/blob/259a59d93618f0266151a50018f3b3f3cbcfc0e4/cluster/addons/dns/coredns/coredns.yaml.base#L12-L47

https://github.com/kubernetes/kubernetes/blob/259a59d93618f0266151a50018f3b3f3cbcfc0e4/cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml#L11-L46

Probably so, after providing the role definitions along w

[2018-09-19 15:06] krcroft opened #68835 "Kubelet pod max PIDs not being inherited by Pod containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
* **Bug Report**

/kind bug

**What happened**:
When applied to kubelet 1.11.3, the pod max PID limit (`--pod-max-pids=2048 --feature-gates=SupportPodPidsLimit=true`) is not inherited by pod containers:

`docker ps --quiet --all | xargs docker inspect --format '{{ .Name }}: PidsLimit={{ .HostConfig.PidsLimit }}'| grep PidsLimit=0`

**What you expected

[2018-09-19 15:17] wongma7 commented on #68819
system:csi-external-provisioner and system:persistent-volume-provisioner should be removed at the same time too then.

[2018-09-19 15:29] michmike commented on #64188
@PatrickLang  and I had talked before about end of life of downlevel OS like 1803 and 1709. I think we should keep this open or open a new Issue to track updating the code so that the CNI is not called multiple times

[2018-09-19 15:30] shubheksha commented on #68828
/triage support
@zhang2kai, you can find info regarding this in the [docs](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/).
/close

[2018-09-19 15:30] #68828 closed

[2018-09-19 15:30] mikedanese commented on #68366
A major difference between the pprof endpoint is that the pprof endpoint is not enabled by default. I don't think exec endpoint is a reasonable comparison, since we have reasonable assurances around and policy to restrict what a user can do (e.g. PSP, RBAC, not registering the master kubelet). Can we at least turn the handler off by default?

[2018-09-19 15:33] nmittler commented on #65502
@enisoc So IIUC, we need 3 separate changes to k8s:

**Startup**
- Application containers started only after all sidecars go "ready"

**Shutdown**
- [Sidecars shutdown after application containers](https://github.com/kubernetes/community/pull/2148), which is already in progress
- Revised shutdown ordering, such that all `preStop` hooks are executed before any containers shut down.

Does that sound

[2018-09-19 15:36] dims commented on #68835
/assign @dims

[2018-09-19 15:38] #56297 closed

[2018-09-19 15:39] tpepper commented on #68613
We should make a release note for Known Issues, perhaps something like:

Feature #566 enabling CoreDNS as the default for kube-up deployments was dropped from the release due to a scalability resource consumption issue observed. The root cause in CoreDNS remains unclear (ie: it was expected to be faster and with lower resource consumption), but CoreDNS folks are investigating. If a cluster operato

[2018-09-19 15:56] apelisse opened #68839 "Change default for SideEffect in admissionregistration Webhook v1"
As described in [dry-run KEP](https://github.com/kubernetes/community/blob/master/keps/sig-api-machinery/0015-dry-run.md#admission-controllers) and [that TODO](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/admissionregistration/v1beta1/defaults.go#L39), the value of SideEffect in the webhook registration should eventually change to "NoneOnDryRun":

[2018-09-19 15:56] apelisse commented on #68839
/sig api-machinery

[2018-09-19 15:59] tpepper commented on #67606
Test automation at this point indicating issue resolved.

[2018-09-19 15:59] #67606 closed

[2018-09-19 15:59] tpepper commented on #66243
Modification appears to be in and test no longer failing.

[2018-09-19 15:59] #66243 closed

[2018-09-19 16:12] guineveresaenger commented on #68260
Since #68579 merged, is this fixed as well?

[2018-09-19 16:14] jsafrane commented on #68819
That makes perfect sense, however it complicates e2e tests - kubernetes/test/e2e either needs the roles to be installed by something or install it by itself (by having a copy of the roles either as yaml or go code in the test).

In addition, users don't read docs and some of them got surprised that they should add new permissions after update. Sure, we can always add more / better docs.

That woul

[2018-09-19 16:42] tpepper opened #68840 "1.12 release notes: known issues bucket"
This issue is a bucket place holder for "known issues" additions into the 1.12 release notes.

[2018-09-19 16:42] tpepper commented on #68840
/assign @nickchase

[2018-09-19 16:42] tpepper commented on #68840
/sig release

[2018-09-19 16:42] tpepper commented on #68840
/milestone v1.12

[2018-09-19 16:48] #68826 closed

[2018-09-19 16:52] mauilion commented on #45419
this is about the docker daemon blocking while persisting logs to disk.
There is work in docker address this but it doesn't land until 18.06
https://docs.docker.com/config/containers/logging/configure/#configure-the-delivery-mode-of-log-messages-from-container-to-log-driver
Since the docker daemon blocks on logging by default we can't address it till we can work around that issue.

This also corre

[2018-09-19 16:54] tpepper commented on #68840
/cc @onyiny-ang @dstrebel @marpaia @guineveresaenger

[2018-09-19 16:55] cduchesne commented on #68829
Upgrade your kubectl client - this was fixed in 1.11.1 and/or 1.11.2 i believe. It is a client-side bug in 1.11.0. Nothing should need to be updated on the server side.

[2018-09-19 16:56] jpbetz commented on #57354
/remove-lifecycle rotten

[2018-09-19 16:56] jcrowthe commented on #62861
I am running into the same error that @mirwan details.

@deads2k  @derekwaynecarr  You are the owners listed for the eventratelimit [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/eventratelimit/apis/eventratelimit/OWNERS) Would you look into this issue? EventRateLimit appears to be broken.

As a side note, removing `--runtime-config=...,eventratelimit.admission.k8

[2018-09-19 16:56] jpbetz commented on #57354
/remove-lifecycle stale

[2018-09-19 16:58] lavalamp commented on #61886
Dry run is in alpha now, so you can try it and see if it helps.

I personally am not convinced it's a silver bullet for this problem. Recall that admission controllers are not required to be idempotent. The pod you get back in a dry run isn't *guaranteed* to be exactly like one made for real: At the very least, UID, a generated name, creation timestamp, and any allocated ports (for service objects

[2018-09-19 17:14] liggitt commented on #68819
I'm using "add-on" in the generic sense. Providing required function for a given cluster, being admin-installed, and being deployed in an arbitrary namespace are all reasonable characteristics for an add-on.

That would be better than compiling in these permissions. The canonical source should probably be defined in a manifest in the csi component repo. Is there such a manifest there already for s

[2018-09-19 17:20] leakingtapan commented on #68026
@dims Created a [spreadsheet](https://docs.google.com/spreadsheets/d/1VhU6zCk-vaAnbu_XkgsIq5I7jVnezUquWBMhcIN6AJM/edit?usp=sharing) with all the package that have on going PRs. Maybe you can add this to the summary.
* For everyone who is going to contribute, please append the packages you picked at the end.
* For existing contributor, please make sure this list is update to date

[2018-09-19 17:21] lavalamp commented on #62861
I imagine there is a feature gate needed to enable this? But I can't find it.

[2018-09-19 17:33] liggitt commented on #62861
I don't think there's a feature gate… you have to opt in to this alpha feature by enabling the admission plugin and specifying the alpha admission config

[2018-09-19 17:39] tpepper commented on #68840
Possible "known issue" around reason for dropping https://github.com/kubernetes/features/issues/566 from v1.12 milestone.   Discussions ongoing https://groups.google.com/d/topic/kubernetes-milestone-burndown/D-CP8ZAJxuI/discussion

[2018-09-19 17:44] verult commented on #68688
/cc

[2018-09-19 17:51] mikedanese commented on #65317
/assign

[2018-09-19 17:57] jcrowthe commented on #62861
@liggitt Do you know of any step that is missing from the ticket description?

[2018-09-19 17:57] guoshimin commented on #21588
/reopen

`kubectl rollout status` is woefully underpowered. A lot of times rollouts fail for simple reasons like typos in image names/tags, insufficient resources, or crash loops. If users can be notified of these errors, it's usually easy for them to fix the issues. But as it stands, it takes multiple kubectl commands for them to discover the reason why their rollouts are not progressing, if at a

[2018-09-19 18:00] verult commented on #68688
* (As we discussed offline) the latest code in master no longer has CSICRDAutoInstall, CSISkipAttach, CSIPodInfo flags. New CSI features are now flag gated under CSINodeInfo and CSIDriverRegistry flags (both alpha and disabled by default). KubeletPluginsWatcher must be enabled as well, but that's in beta now so it's enabled by default.
* Since this PR merged: https://github.com/kubernetes/kubernet

[2018-09-19 18:02] liggitt commented on #62861
The config is not a served rest api. I would not expect --runtime-config to be modified in order to use that feature.

[2018-09-19 18:02] deads2k commented on #62861
When you remove it from the `--runtime-config` does it work?  I would expect it to.  That flag is for REST resources and this just an admission config type.

[2018-09-19 18:04] dims commented on #68026
Thanks @leakingtapan updated the spread sheet

[2018-09-19 18:06] jcrowthe commented on #62861
@deads2k What would be the preferred way to validate? I have a test cluster up and can look into it.

[2018-09-19 18:08] madhanrm commented on #64188
This code would exists as far as we support 1709, 1803.
The new workflow to use the windows namespace is getting implemented in containerd/cri. We can move kubernetes to use this new flow only for RS5 and above, if we plan to do it here as well.

There isn't a good way to switch between 2 workflows of cni callflow wrt the Windows version hence we are not planning to change here till 1709 & 1803 ex

[2018-09-19 18:14] piotr-napadlek commented on #33766
As we use this config in an automated helm build for plenty of services, deleting each one of the releases wasn't an option. I found out that simply setting a nodePort to an empty value does the job, so changing LoadBalancer to ClusterIP config required following configuration

[code]

[2018-09-19 18:33] deitch commented on #65272
/remove-lifecycle stale.

[2018-09-19 18:35] #68011 closed

[2018-09-19 18:45] tallclair commented on #39845
Generally, the fact that this a breaking change, and it's very hard to get breaking changes into Kubernetes these days, especially something that is hard to get visibility into.

Other issues are that this is still an "alpha" feature, but predates feature gates, so it's an alpha feature that's enabled in every cluster. Before changing the default, we probably need to promote the feature to GA, whi

[2018-09-19 18:53] harrisjoseph opened #68846 "Use HTTPHeaders in httpGet pod-lifecycle handler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig node

**What happened**:
When defining a httpGet lifecycle handler, I the headers are not used with the request. handlers.go uses plain `http.DefaultClient.Get(url)`

**What you expected to happen**:
Headers defined in the HTTPGetAction are used during the lifecycle handler.

**How to reproduce it (as minimally and precisely as possible)

[2018-09-19 19:36] ericchiang commented on #65317
We changed this because the https://accounts.google.com/.well-known/openid-configuration was supposed to return the correct token endpoint to use.

@jtolsma can you switch to that token endpoint? It sounds like that solved the issue for @cainelli

[2018-09-19 19:39] vladimirvivien opened #68852 "Quick-Release build script target not skipping tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Attempting to build using the kubernetes/build script locally on OSX using

[code]
Instead of building for platform `linux/amd64` and skip tests, the script ran the followings:
[code]
**What you expected to happen**:
I expected the build script to only build for specified platform of `linux/amd64` and skip all tests then

[2018-09-19 19:40] detiber commented on #64742
I think we should definitely revisit this issue. I believe there are use cases where one would want to use a single endpoint for discovery when the apiserver is starting up and then use the discovered endpoints for the remainder of the session. For example when [bootstrapping HA clusters using kubeadm](https://kubernetes.io/docs/setup/independent/high-availability/) it is beneficial to be able to

[2018-09-19 19:45] vladimirvivien commented on #68852
Not sure which SIG would be responsible.  Is it

/sig release

[2018-09-19 19:47] detiber commented on #64742
/cc @timothysc

[2018-09-19 19:53] timothysc commented on #64742
/remove-lifecycle stale
/lifecycle frozen
/assign @timothysc

[2018-09-19 20:13] paphillon commented on #68723
@andyzhangx  - Thank you! Looks like 1.12.0 has a lot of Azure related features/fixes, pretty exciting! :)

One quick question, does the Azure storage class support or will support binding mode "WaitForFirstConsumer"?

[2018-09-19 20:21] mml commented on #59893
/reopen

[2018-09-19 20:21] mml commented on #59893
/remove-lifecycle rotten

[2018-09-19 20:22] jennybuckley commented on #66368
@smarterclayton I'm in the process of verifying that the fix, #68576, actually improves the situation. Can you tell me what tool you used to generate the CPU profiles and GC profiles for the startup of the apiserver?

[2018-09-19 20:22] mml commented on #59893
@cheftako relevant to your interests.

[2018-09-19 20:27] smarterclayton commented on #66368
You can start a cpu profile when Kube-apiserver main starts and have a
defer for exit or signal to write to a file.

Alternatively use perf in capture mode and have perf start the Kube
apiserver binary and trace until it exits, then generate a perf report from
it.

The former is easier

On Sep 19, 2018, at 10:22 PM, Jenny Buckley <notifications@github.com>
wrote:

@smarterclayton <https://github.c

[2018-09-19 20:28] tpepper commented on #68260
@saad-ali that PR #68579 is in and has seen at least some testing that's all green, eg:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce
had run 29963 all green.

Is this ready to close?

[2018-09-19 20:43] msau42 commented on #68260
It turns out that by moving the test to [Serial], it stopped getting run in the alpha-enabled suite, so we stopped getting signal on that specific test case.

[2018-09-19 20:43] jwatte commented on #43962
I ran into this, too. kube-proxy does the right thing, why not kube-port-forward?
My use case is "I run a linux VM where I run all the kubectl commands (affecting a cluster hosted in AWS,) and the VM lives inside a Windows host where I run my web browser."
When I want to spin up a new pod in the cluster, and test it out locally without exposing a service to other pods, nor a public address on the

[2018-09-19 20:55] cainelli commented on #65317
I was using [google's javascript library](https://developers.google.com/identity/sign-in/web/sign-in) to auth proxy kubernetes dashboard.

[This](https://gist.github.com/cainelli/7ea47fa68609ca61283f4478b4880834) still produces an id token issued as `accounts.google.com` instead of `https://accounts.google.com`.

I had to stop to use the JS library and moved to a patched version of [bitly/oauth2_p

[2018-09-19 21:01] jcrowthe commented on #62861
This may be built on false assumptions, but the following test produces no 429 responses.

Initial test with Curl to validate token and endpoint produces 200 response:
[code]

Same test with Apache Benchmark to produce load:

[code]

Cluster configuration:

[code]

From what I understand (and this is the potentially false assumption) the purpose of the `EventRateLimit` admission plugin is to limit

[2018-09-19 21:33] mikedanese commented on #65317
If people are still using the old token endpoint, I'm not sure we can just drop support for it. The number of :+1: s on this issue indicates that old auth and token endpoints are still in use.

[2018-09-19 21:35] caesarxuchao opened #68854 "Move client-go/discovery/cached_discovery.go to client-go/discovery/diskcached/..."
We have a memory-cached discovery client in `client-go/discovery/cached/memcache.go`.

We have a disk-cached discovery client in `client-go/discovery/cached_discovery.go`.

We should cleanup the directory structure.

/sig api-machinery

[2018-09-19 21:57] #20391 closed

[2018-09-19 22:05] AishSundar opened #68856 "Widespread cluster UP failures in GKE jobs in sig-release-master-blocking"
Starting noon of 9/19, we are seeing **Cluster UP 500ing on all GKE jobs** in sig-release master blocking dashboard

## Jobs affected:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-slow
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-ingress
https://k8s-testgrid.appspot.com/sig-r

[2018-09-19 22:39] tpepper opened #68857 "Failing Test : [sig-apps] daemonset-upgrade"
### Failing Job
---
[sig-release-master-upgrade multiple upgrade/downgrade tests](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#Summary)

### Gubernator Logs
---
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1776
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-

[2018-09-19 22:54] awly opened #68858 "Update kube-addon-manager base Alpine image to 3.8.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Alpine fixed a RCE vulnerability in apk in 3.8.1 (https://alpinelinux.org/posts/Alpine-3.8.1-released.html)
Update the base image used for addon-manager (https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/Makefile#L22) to pick it up.

Note: I'd send a PR if it depended directly on alpine image, not bashell

[2018-09-19 22:54] awly commented on #68858
/assing @MrHohn

[2018-09-19 23:28] mattfarina commented on #68857
/remove-sig node

[2018-09-19 23:32] tpepper commented on #68857
@k82cn is there any chance this is related to your taint nodes by condition work?

[2018-09-20 00:17] danhlee329 opened #68861 "Cannot PATCH via Kubernetes API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When making a PATCH request, getting error "json: cannot unmarshal object into Go value of type jsonpatch.Patch"

**What you expected to happen**:
Have successful PATCH request

**How to reproduce it (as minimally and precisely as possible)**:

Response:
[code]
**Anything else we need to know?**:
- Confirmed permissions check of ser

[2018-09-20 01:05] k82cn commented on #68857
/assign

not sure, let me check it anyway :)

[2018-09-20 01:15] caesarxuchao opened #68865 "Refactor the memcached discovery client"
When debugging #68735, I found the cached discovery clients confusing, which in turn makes the [DeferredDiscoveryRESTMapper](https://github.com/kubernetes/kubernetes/blob/f6d8fd8bdc071fa43a7d6277591fa3ca24feb326/staging/src/k8s.io/client-go/restmapper/discovery.go#L43) hard to understand. I'll try to summarize the confusion and propose a high-level fix.

We have two implementations of the [CacheDi

[2018-09-20 01:18] liggitt commented on #68861
What is the patch data you are submitting?

[2018-09-20 01:27] timothysc commented on #68504
@dims I'm still seeing this on RC1, did this land before the release was cut?

https://paste.fedoraproject.org/paste/KvdsUOR-IrnWmHRA2LJlSQ

/cc @tpepper  @kubernetes/sig-cluster-lifecycle

[2018-09-20 01:28] liggitt commented on #68811
The proposal for this feature separated the injection of the namespace and the CA using existing downward API and configmap mount.

The service account admission plugin would set up three projection sources to inject the token, namespace, and CA

/cc @mikedanese

[2018-09-20 01:29] liggitt commented on #68811
xref
https://github.com/kubernetes/kubernetes/issues/67440

[2018-09-20 01:50] liggitt commented on #68717
The securityContext portions of the admitted pod specs look identical between 1.9.x and 1.11.x. Retitling to clarify the issue being observed.

[2018-09-20 01:53] dims commented on #68504
update from @dougm : `PR 68803 missed RC.1:`

[code]

[2018-09-20 01:57] timothysc commented on #68504
I just verified on release-1.12 branch and it's good.

[2018-09-20 01:57] #68504 closed

[2018-09-20 02:04] qq12157138 opened #68867 "Kubernetes 1.11.2 use ingress-nginx bug?"
1.
[code]
When I created the following service, my cluster crashed.
The following four IPs correspond to my four cluster nodes.
[code]
Finally like this....
[code]

I remember that when I used kube-proxy's iptables mode, it was successful. When I switched to ipvs, I have never succeeded. I don't know what happened.

[2018-09-20 02:07] dims commented on #68852
hey @vladimirvivien can you please try the PR?

[2018-09-20 02:27] printfcoder commented on #68671
@neolit123
So, this issue will be fixed?

[2018-09-20 02:32] neolit123 commented on #68671
@printfcoder

from your last comment i understood that this is working now for you.
could you explain again?

[2018-09-20 02:37] printfcoder commented on #68671
@neolit123

Oh, you misunderstood. Images were always pulled successfully. The problem was the images existed, but  ERROR:
`No internet connection is available so the kubelet cannot pull or find the following control plane images
...
`
appeared every time ran `init`

[2018-09-20 02:40] dims commented on #68867
cc @dixudx

[2018-09-20 02:42] neolit123 commented on #68671
ok, i see.

that error has more possible causes...
[code]

`No internet connection is available so the kubelet cannot pull or find the following control plane images`
is only one of them and given you have the images that's not it.

/reopen

can you provide the output of these two commands?
1.
[code]

2.
[code]

[2018-09-20 02:50] printfcoder commented on #68671
@neolit123  Please:

[code]

[code]

[2018-09-20 03:15] neolit123 commented on #68671
[code]

is there more in the log?

[2018-09-20 03:31] #66236 closed

[2018-09-20 03:35] Tutotu opened #68871 "When kubelet synchronizes pod state from API server, should it detect if it is registered to the cluster"
After kubelet starts, there will be a kl.syncloop (kl) operation, and syncLoop will get the pod update status requested from the API server from the chan kubetypes.PodUpdate channel. Based on these states ADD, UPDATE, REMOVE, replace, DELETE, RESTORE pod status. However, if kubelet is not registered to API server, should pod information synchronized from API server be discarded at this time to mai

[2018-09-20 05:08] Tutotu commented on #68871
When requesting pod information on a node that is not in the kubernetes cluster from API server, should the API server give a friendly prompt instead of just putting it back empty?

从api server 请求一个不在kubernetes集群的节点上的pod信息时，api server是否应该给出友好提示，而不是直接放回空。

[2018-09-20 05:33] danhlee329 commented on #68861
The current curl version on my machine is v7.54.0.

[2018-09-20 06:05] andyzhangx commented on #68723
@paphillon I just tried, it works well.
[code]

[2018-09-20 06:13] #62373 closed

[2018-09-20 06:14] LakshyaGarg commented on #63396
I found the issue with my setup, as i had issue with my dns network in the cluster. Due to which my services were not able to interact.

[2018-09-20 06:27] bruceauyeung commented on #68852
i encountered this bug several times lately

[2018-09-20 07:10] casusbelli commented on #65312
/remove-lifecycle stale

Removing stale state. I created a fixing PR 10 days ago, that links here. Did not expect this to go stale then.

[2018-09-20 07:11] shubheksha commented on #68871
/triage support
@Tutotu, have you tried asking in one of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) listed?

[2018-09-20 07:34] Shinerrs commented on #68829
Thank you, this resolved my matter. Thank you.

[2018-09-20 07:42] warmchang commented on #68050
@humblec
The glusterfs log info will be read and stored in the kubelet log, the admins can track it from the kubelet's log file, so the glusterfs log is redundant and can be emptied.

[code]

[2018-09-20 07:43] houjun41544 commented on #68050
@humblec In addition, it seems that the log files will never be removed even if pods and volumes have been deleted.
Why not place the log file in the pod plugin dir rather than plugin dir?

[2018-09-20 07:50] dwilliams782 commented on #40610
Is this still being considered? I'm currently trying to find a sensible way to retrieve the zone a pod is scheduled in for rack awareness, as per the original use case.

[2018-09-20 08:44] k82cn commented on #68857
Open #68881 to handle that. In DaemonSet upgrade e2e test, it check whether a node is schedulable  by `len(taint)` which is not enough. Open the PR to check it by `Predicates`, similar to DaemonSet e2e test.

[2018-09-20 08:45] kvaps commented on #12338
Hi, I wrote and currently testing my own implementation of fencing. It uses classic fence-agents from clusterlabs, but it can use something else, if you interested in it, please take a look:
https://github.com/kvaps/kube-fencing

[2018-09-20 08:50] jsafrane commented on #68819
`Lease` is not supported by `client-go/tools/leaderelection/leaderelection.go`. So we must stick to endpoints / config maps in 1.12. Since endpoints "floods kubelet and kube-proxy watchers", I propose the provisioner switches to config map. In 1.13 we may add Lease (and users need to update their RBAC once again).

@wongma7, that means new external-storage release and rebase of external-provisione

[2018-09-20 08:55] kvaps commented on #63390
Hi, I found the way:
[code]
In this case, all pods won't be removed, but better to clear node from all the pods.
Please make sure that you have `jq` installed before.

[2018-09-20 09:36] pohly commented on #68819
Jan Šafránek <notifications@github.com> writes:

That sounds like a good plan, with one nitpick: I don't like that tests depend on a
Kubernetes-specific package like e2e/manifest, because then they aren't
reusable outside of the Kubernetes repo. I am trying to fix that with
the E2E refactoring
(https://github.com/kubernetes/kubernetes/issues/66649). But as that's
something for 1.13, let's not worr

[2018-09-20 09:38] fvigotti commented on #45363
just one question , but how you made `--cluster-dns=127.0.0.1` work? the host `127.0.0.1` is different from pod `127.0.0.1` if the dnsmasq is serving from host how can your solution work ?

regards,
Francesco

[2018-09-20 09:39] #66237 closed

[2018-09-20 10:32] kruczjak commented on #45363
@fvigotti I've setup my own CoreDNS on daemonset:

1. Make sure coredns or kubedns daemonset has `hostNetwork: true`, `hostPort`s and is binded to `0.0.0.0`
2. Make sure to add or keep also service for those pods in case pod which is on local node fails.
3. Run for example `ifconfig lo:0 192.168.0.1 up` on each node at startup (I have Debian Stretch, command to alias loopback interface can be diff

[2018-09-20 10:34] #68832 closed

[2018-09-20 11:02] rafaeltovarw commented on #44894
kubectl create rolebinding admin --clusterrole=admin --user=NAME_ERROR_USER --namespace=default

[2018-09-20 11:09] PrasadG193 commented on #68026
Raised PR to fix golint issues in:
- pkg/controller/clusterroleaggregation
- pkg/controller/cronjob
- pkg/controller/daemon
- pkg/controller/deployment
- pkg/controller/deployment/util
- pkg/controller/disruption
- pkg/controller/endpoint

[2018-09-20 11:15] printfcoder commented on #68671
yes, but repeated:

[code]

[2018-09-20 11:28] k82cn commented on #61886
The admission controller only append nodeSelector to DaemonSet, it does not need to care about whether it's changed. The selector will get an ANDed result.

We can suggest user to handle DaemonSet; it's also highlight what's done in admission to the user.

[2018-09-20 11:52] xlgao-zju opened #68883 "Can not get the log of pod, after upgrading the cluster."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig node

**What happened**:
After I upgraded my cluster 1.9.7 to 1.10.4(including upgrading the control plane by `kubeadm` and upgrading the kubelet by 'yum install'), I can not use `kubectl logs` to get the log of pod.

I get output like this, after I issued `kubectl logs`:
[code]

**What you expected to happen**:
I can get log of pod by `

[2018-09-20 11:56] tnozicka commented on #61886
If the admission is reconfigured **not** to add the nodeSelelctor anymore and it had already modified DS  previously you are broken and can't recover. That's why it modifies only Pods.

[2018-09-20 11:59] xlgao-zju commented on #68883
I think this is a bug caused by upgrading the `kubelet` from 1.9.7 to 1.10.4

[2018-09-20 12:33] humblec commented on #68050
The glusterfs log info will be read and stored in the kubelet log, the admins can track it from the kubelet's log file, so the glusterfs log is redundant and can be emptied.

@warmchang Its just last 2 lines are exposed to kubelet , most of the time these 2 lines can give clue, but at times the sequence of events need to be looked at for debugging the issue so the logfile can help.

[2018-09-20 12:39] humblec commented on #68050
It seems to me that, clearing/removing log file when pod is deleted would be better.
@jsafrane Any  thoughts on this ?

[2018-09-20 12:40] FOSquare opened #68885 "Pod sandbox changed, it will be killed and re-created."
/sig Pod

Is this a BUG REPORT or FEATURE REQUEST?:

Uncomment only one, leave it on its own line:

/kind bug
**What happened**:

When I use deployment file to deploy an applicaiton. sometimes it works good. But sometimes it have problme shown below.

Normal   Scheduled       4m               default-scheduler  Successfully assigned default/streaming-client0-67d59b9969-8g9nb to thalassa
  Warning

[2018-09-20 12:43] FOSquare commented on #68885
/sig node

[2018-09-20 12:57] KurtStam commented on #14828
@thockin @ncdc what is the current status of the proposal? It's currently found here:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network/service-discovery.md

Do we need to resubmit it into the new proposal as part of this process?  https://kubernetes.io/docs/community/keps/ which seems overkill since we are just talking about a naming convention here.

Looki

[2018-09-20 13:30] pohly commented on #68819
One question about the predefined roles and how to replace them with custom roles defined in the E2E tests or some deployment file: `system:csi-external-provisioner` has one optional rule for `csinodeinfos` that only gets added if the `CSINodeInfo` feature is enabled:
https://github.com/kubernetes/kubernetes/blob/4ca39ef0edfcbf4361754fcae2a426009f8e2053/plugin/pkg/auth/authorizer/rbac/bootstrappol

[2018-09-20 13:41] neolit123 commented on #68613
+1 for adding reasons in the release notes.

[2018-09-20 13:43] FOSquare commented on #68885
**The kubelet logs are shown below：**
-- Logs begin at mer. 2018-09-19 08:42:51 CEST. --
sept. 20 16:41:05 erebos kubelet[8665]: E0920 16:41:05.744437    8665 helpers.go:289] Failed to remove the conflicting container "3766a2d46a3d49391718d0f8ff919d1beec53f2179aa9101abf3177d5199773b": Error response from daemon: No such container: 3766a2d46a3d49391718d0f8ff919d1beec53f2179aa9101abf3177d5199773b
se

[2018-09-20 13:45] neolit123 commented on #68671
sorry but i cannot help further without more logs from the kubelet.
[code]
this is message that is not important for that phase.
kubeadm fails before the step of installing CNI, so the issue is something else.

[2018-09-20 14:01] printfcoder commented on #68671
OK, I will try other way. Thank you very much.

[2018-09-20 14:05] jtolsma commented on #65317
Yes, we have switched to the new endpoint and it is working now.

[2018-09-20 14:33] jsafrane commented on #68819
I created #68887. That's enough for me to run hostpath tests on my machine.

[2018-09-20 14:49] jsafrane commented on #68819
I think that it's fine to add permissions even for features behind a feature gate in this case.

[2018-09-20 15:02] wongma7 commented on #68819
Yes it means another release. Actually I didn't know about this `Lease` object so, I think if we are going to move to it in 1.13 anyway let's keep external-provisioner on endpoints for 1 release and avoid rushing yet another release within 1.12 timeframe. Waiting until 1.13 will be easier to communicate and easier for users to stomach, they can update external-attacher+external-provisioner in one

[2018-09-20 15:06] pohly opened #68888 "CSI E2E: per-test ClusterRoles"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

At the moment, the E2E CSI test creates ClusterRoles under fixed names and never deletes or overwrites them. This is intentional, the argument being that it allows running tests in parallel:
https://github.com/kubernetes/kubernetes/blob/d1111a57d9243c55e02e0e66af55c2ddb36f3767/test/e2e/storage/csi_objects.go#L62-L64

**What you exp

[2018-09-20 15:06] derekwaynecarr commented on #62861
@jcrowthe the admission plugin is used to optionally limit the number `Event` resources that can be created.  historically, we had issues where control plane components, kubelets could spam the API server with large numbers of event resources.  that has largely been mitigated client-side using the event recorder client.  The admission controller does not care about general purpose REST requests.

[2018-09-20 15:36] tpepper commented on #68840
Here's the final agreed text for the CoreDNS feature #566 dropping from the v1.12 milestone:

Feature #566 enabling CoreDNS as the default for kube-up deployments was dropped from the release due to a scalability memory resource consumption issue observed.  The root cause in CoreDNS remains unclear, but CoreDNS folks are investigating.  If a cluster operator is considering using CoreDNS on a clust

[2018-09-20 15:38] warmchang commented on #68050
@humblec The result of this modification is the same. [As you described](https://github.com/kubernetes/kubernetes/issues/68050#issuecomment-423165972), when the volume mount failed, the admin will check log file to debug the issue. But unfortunately, the log does not existed because it has been cleaned/deleted when the POD dies.

[2018-09-20 15:44] tossmilestone commented on #68885
@FOSquare It seems kubelet call your container runtime failed through rpc, you should check logs of your container runtime(e.g. docker) to see what happened.

[2018-09-20 15:47] pohly commented on #68819
I ended up coding up a slightly different solution in https://github.com/kubernetes/kubernetes/pull/68821.

[2018-09-20 16:01] tjterris commented on #65221
[code]

[2018-09-20 16:14] vladimirvivien commented on #68852
@dims thanks for the PR.  It works for the most part, but created an error.  I left comments on PR.

[2018-09-20 16:28] guineveresaenger commented on #68856
/priority critical-urgent

[2018-09-20 16:38] liggitt commented on #68861
jsonpatch content-type expects an array of operations, see http://jsonpatch.com/ for details

The patch you are submitting looks like a merge patch, not a jsonpatch

[2018-09-20 16:39] msau42 commented on #68856
Unrelated question, why is GKE blocking OSS?

[2018-09-20 16:47] rewt commented on #3595
Can you please help me understand how to get this working with k8s?

[2018-09-20 16:51] tpepper commented on #68856
We will not block on this, given the current triage.  But @msau42  due to the broad state of CI today, we do get useful signal from the GKE tests and their involvement in pre-submit can block/delay inbound PR's.  So massive failures like this add a loooot of friction to the release team's work.

[2018-09-20 17:18] arturalbov commented on #3595
@rewt Hi, sure
I created custom-entrypoint.sh file (it should call original entrypoint script, you could find out how to call it in initial Dockerfile of necessary image). For me (and mostly) it looks like this:
[code]
Then I created Dockerfile to build custom elassandra image. It looks like that:
[code]

Place those files into same folder and just build custom image with `docker build` command. T

[2018-09-20 17:30] msau42 commented on #68856
/assign @mikedanese
/unassign

GKE dev oncall handoff

[2018-09-20 17:46] davidz627 commented on #68888
Hmm that'a an interesting use case I didn't anticipate. It's interesting because `system:csi-external-provisioner` and `system:csi-external-attacher` are bootstrapped when bringing the cluster up. The driver registrar cluster role creation in the test here is just a "temporary hack" to get things to work until the Kubelet registration work is Beta (we no longer need the driver registrar IIUC).

So

[2018-09-20 17:54] rewt commented on #3595
These required as well?

 securityContext:
     capabilities:
         add:
             - IPC_LOCK
             - SYS_RESOURCE

On Thu, Sep 20, 2018 at 1:20 PM Artur Albov <notifications@github.com>
wrote:

[2018-09-20 17:58] arturalbov commented on #3595
@rewt yep, just look at the example of StatefulSet

[2018-09-20 17:59] caesarxuchao commented on #68854
/cc @mbohlool

[2018-09-20 17:59] caesarxuchao commented on #68865
/cc @mbohlool

[2018-09-20 18:12] paphillon commented on #68723
@andyzhangx Thanks for validating this. I suspect my configuration did not work as my pod was on vmss in a zone. I will re-try as soon as 1.12 is out with zone support.

Thanks again!

[2018-09-20 18:18] tuommaki commented on #67732
We hit this same issue and I've been investigating this for a while now and seems that this is coming from `apimachinery`.

Following describes process rss memory usage for one of our apiservers over last two days:
![k8s-apiserver-memory-rss](https://user-images.githubusercontent.com/1947505/45838210-d6c70780-bd19-11e8-9ef4-6edc990e7b2d.png)

Two from the left are upstream `v1.11.1`, the red spike

[2018-09-20 18:26] xnike opened #68891 "k8s.gcr.io/elasticsearch:v6.3.2 does not exist"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Unable to deploy Kibana 6.3.2

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.

[2018-09-20 18:27] xnike commented on #68891
/sig scheduling

[2018-09-20 18:40] danhlee329 commented on #68861
That did the trick, thanks Jordan!

[2018-09-20 18:40] #68861 closed

[2018-09-20 18:43] ksarkaridirect opened #68893 "kubelet cpu utilization around 400%"
**Is this a BUG REPORT or FEATURE REQUEST?**:
yes

**What happened**:
My Kubelet utilization runs as high as 400 percent on both master and worker node. I have seen multiple bugs reported on this issue. But the resolve was not clear to a regular user like me. What do i have to do . I just have around 40 containers running on 2 high perormance dell fx2 blades.  None of the previous bugs reported on

[2018-09-20 18:45] pohly commented on #68888
David Zhu <notifications@github.com> writes:

Which actually turned out be problematic, too. See
https://github.com/kubernetes/kubernetes/issues/68819. The current
trend there is to not use bootstrapped roles and instead rely on the
deployment to have proper rules.

Creating roles might become a permanent solution. Let's wait for the
other discussion to settle and then come back to the question of

[2018-09-20 18:58] ksarkaridirect opened #68894 "kubelet utilization goes upto 400percent"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Kubelet utilization on both master and worker node spikes upto 400 percent. I have seen a few bugs reported on it, but the resolve was not clear from reading the bugs. I am running 1.7.3 docker and my hardware has 64 cpus and is a sufficiently powerful dell fx2 blade with one master and one worker node.

**What you expected to happe

[2018-09-20 19:12] ksarkaridirect commented on #68894
/sig/kubelet

[2018-09-20 19:16] fmoraes74 commented on #28969
It would be nice to know whether this will ever be implemented. Redis is a nightmare to run without some sticky IPs.

[2018-09-20 19:26] #18438 closed

[2018-09-20 19:41] jennybuckley commented on #66368
Re: https://github.com/kubernetes/kubernetes/pull/68576#issuecomment-423299076

original issue so we know what’s next on the hitlist?  Thanks

[code]

[2018-09-20 19:48] FOSquare commented on #68885
Thanks very much for you reply. I went to check the logs of the container at the node where the pod located.
But when I type
sudo docker logs 0eefbae6d297
Nothing is shown. I tried to see logs of other pods that are in the status of "Init:CreateContainerError".
All with no logs. what will be your suggestions? Thanks again.

[2018-09-20 19:56] cheftako commented on #60601
/remove-lifecycle rotten

[2018-09-20 19:57] cheftako commented on #60601
cc @logicalhan

[2018-09-20 20:11] davidz627 commented on #68888
I see, looks like we should wait for consensus on the problem in general before coming to a implementation decision about teardown.

[2018-09-20 20:15] tpepper opened #68899 "Failing Test : persistent-volume-upgrade [sig-storage]"
### Failing Job
---
[sig-release-master-upgrade#gce-new-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master)

### Gubernator Logs
---
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1778

### Error
---
[code]

### Triage
---
This test is a persistent fail in this one test b

[2018-09-20 20:15] lavalamp commented on #68785
/assign @roycaihw

[2018-09-20 20:15] lavalamp commented on #68787
/assign @mbohlool

[2018-09-20 20:17] lavalamp commented on #68839
/priority important-longterm

[2018-09-20 20:18] lavalamp commented on #68839
cc @mbohlool

[2018-09-20 21:17] jonpulsifer commented on #52184
/remove-lifecycle rotten

[2018-09-20 21:55] BenTheElder opened #68904 "conformance tests should have unique names"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Running the non-`[Serial]` conformance tests with `--ginkgo-parallel` produces unpredictable results, sometimes tests show up again with a `[2]` on the end. This is due to the following tests having multiple tests with identical names:

- `[sig-storage] Projected optional updates should be reflected in volume [NodeConform

[2018-09-20 22:02] BenTheElder commented on #68904
er this is probably better
/sig storage
cc @msau42

[2018-09-20 22:04] yujuhong commented on #68835
The pid limits are enforced at the pod level, not at the container level if I remember correctly. It's normal to not see them in the container cgroups limits.

[2018-09-20 22:12] BenTheElder opened #68907 "consider setting ginkgo slow test threshold"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: since we use `ginkgo` to run our end to end tests despite nominally being a unit test framework, all tests are "slow test" in the log output due to being greater than the current threshold (default appears to be 5 seconds).

**What you expected to happen**: We should set the threshold to something we consider to be re

[2018-09-20 22:14] BenTheElder commented on #68907
ginkgo does have a `--slowSpecThreshold=TIME_IN_SECONDS`

@kubernetes/test-infra-maintainers we could try setting this in a job and see how it works out before we try to recommend one more generally.

@kubernetes/sig-testing WDYT?

[2018-09-20 22:15] BenTheElder commented on #68904
/assign
/assign @msau42

[2018-09-20 22:32] tpepper commented on #68899
@davidz627 has triaged this to an understanding that the failures happen because the pod is scheduled on the master and getting logs through the method they're using is disabled on master nodes.

This makes me think this is similar to https://github.com/kubernetes/kubernetes/pull/68881#pullrequestreview-157482936 and we have non-release-blocking issues in test cases not being quite robust enough n

[2018-09-20 22:34] tpepper commented on #68899
It is interesting that in some places this test is always failing, some it is always succeeding, and even in one it flakes but with a high success rate: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster

[2018-09-20 22:34] davidz627 commented on #68899
Adding on to @tpepper's comment:
The pod that we are creating does not have any special "master schedulable" annotations or tolerations, so from my understanding this *should* still be not scheduled to the master for any reason.

The Pod Spec in question:
[code]

Potentially relevant scheduler logs.

[code]

[2018-09-20 22:44] msau42 commented on #68899
The fix mentioned in #68881 is only handling DaemonSets.

I don't think it will fix this issue.

[2018-09-20 22:45] msau42 commented on #68899
Do we need to get sig-scheduling involved to see why the master is showing up as a choice for this pod?

[2018-09-20 22:45] tpepper commented on #68899
/sig scheduling
@bsalamat
Can you triage this for 1.12 release blocking?

[2018-09-20 22:57] janetkuo commented on #68899
It seems that this pvc-tester- pod is only scheduled to master in every run which caused the test to fail consistently.

[code]

[2018-09-20 23:00] davidz627 commented on #68899
@janetkuo
However in this test suite, it seems like the test passes most of the time (pod is scheduled to a node), then occasionally flakes (pod scheduled to master).: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster

Whereas in this one it doesn't seem to fail at all!: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgr

[2018-09-20 23:08] asridharan commented on #58357
Just updating this thread, since we have just introduced an ingress controller for the Azure Application Gateway.

For anyone interested in trying this out you can checkout:
https://github.com/Azure/application-gateway-kubernetes-ingress

Or you can visit the GitHub pages:
https://azure.github.io/application-gateway-kubernetes-ingress/

You can find the installation instructions to run the ingress

[2018-09-20 23:09] bsalamat commented on #68899
@davidz627 Is the master node in your test environment tainted properly?

[2018-09-20 23:13] msau42 commented on #68899
When we were doing unrelated development with DaemonSets, we noticed a similar issue where our DaemonSet pod would get scheduled on gce environment using hack/cluster-up.sh.

[2018-09-20 23:14] msau42 commented on #68899
What release was the tainting master logic added?

[2018-09-20 23:15] krzyzacy commented on #68899
cc @yguo0905 we had similar issue that gpu driver installer is being scheduled on master at https://github.com/kubernetes/kubernetes/issues/68372, can also be related?

[2018-09-20 23:17] davidz627 commented on #68899
Not sure if this is a source of truth on the cluster but the test artifacts here on a successful run show that the master node doesn't have a taint:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2480/artifacts/nodes.yaml

and on a failed run ALSO no taint:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-mast

[2018-09-20 23:17] tpepper commented on #68899
ie: https://github.com/kubernetes/kubernetes/pull/68492

[2018-09-20 23:19] msau42 commented on #68899
Don't think #68492 will help. It looks specific to gpu labeling

[2018-09-20 23:51] PatrickLang opened #68911 "Extra CNI errors logged when pods are terminated on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

`kubectl create …`
`kubectl delete pod …`
Look at `c:\k\kubelet.err.log`

[code]

**What you expected to happen**:

No errors when pod terminated

**Anything else we need to know?**:

/sig windows

**Environment**:
- Kubernetes version (use `kubectl version`): v1.12.0-rc.1
- Cloud provider or hardware configuration: Azure

[2018-09-21 00:10] msau42 opened #68912 "Need e2e test for volume attach limit"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
The test should get the attach limit on a node and create a pod that uses the full attach limit.

You might be able to leverage parts of this test case:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/persistent_volumes.go#L315

[2018-09-21 00:10] msau42 commented on #68912
@gnufied is this something you could help with?

[2018-09-21 00:14] cheftako opened #68913 "list_zones inaccurate metric name when it can include regions as well."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
GetClusters should be for either zone or region.
However the relevant metric name is list_zones.

**What you expected to happen**:
We should transition this to a better named metric while maintaining continuity on the metric/dashboards.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2018-09-21 00:26] dims commented on #68894
/close

duplicate of https://github.com/kubernetes/kubernetes/issues/68893 ?

[2018-09-21 00:26] #68894 closed

[2018-09-21 00:38] tpepper commented on #68899
Also ^^ is GKE specific, and GKE docu says no taints are inherited to a pool from the cluster, so shouldn't be something from that direction.

[2018-09-21 00:48] tpepper commented on #68899
Some log snippets around the area of interest:
[code]

[code]

[code]

[code]

[2018-09-21 00:49] dims commented on #68835
@yujuhong you are right.

@krcroft please use `systemd-cgtop` or `ctop` (from https://pypi.org/project/ctop/) to look at the counts. Also see https://github.com/kubernetes/kubernetes/pull/57973 for the detailed discussion

/close

[2018-09-21 00:49] #68835 closed

[2018-09-21 00:55] oomichi opened #68914 "e2e "should support existing single file subPath" test fails on environment without external IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

"[sig-storage] HostPath [It] should support existing single file subPath" test failed on environments which don't support external IPs like
[code]

**What you expected to happen**:

The test can pass successfully.

**How to reproduce it (as minimally and precisely as possible)**:

just kick:
[code]

**Environment**:
- Ku

[2018-09-21 00:56] tpepper commented on #68899
/priority critical-urgent

[2018-09-21 01:01] oomichi commented on #68914
/sig storage

[2018-09-21 01:05] msau42 commented on #68899
I think the fix is obvious: we need to taint the master node on the gce master setup in cluster/.

What I still don't understand is how did we get this far without anything else failing, and why only this one test?

[2018-09-21 01:05] khenidak opened #68916 "Azure Cloud Provider: Wrong implementation of `InstanceShutdownByProviderID`"
/kind bug

**What happened**:
Azure cloud provider uses `VM.ProvisioningState` to determine if the VM is running. Which never returns true even if the VM is not running (ref: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_vmss.go#L137). The provider should uses (and parse) InstanceView.Statuses array -- specifically `PowerState/running` status. This cu

[2018-09-21 01:07] cofyc commented on #64474
/remove-lifecycle stale

[2018-09-21 01:10] khenidak commented on #68916
@kubernetes/sig-azure

[2018-09-21 01:16] msau42 commented on #68899
Do taints persist across master upgrades, or do they need to be re-applied again?

[2018-09-21 01:38] spiffxp commented on #68904
/area conformance

[2018-09-21 01:55] tpepper commented on #68899
Based on Slack discussion and the triage so far, this looks like it's a case of unfortunate cluster/* directory bit rot.  We can add the taint and have time before the release still to see clear CI signal, but I would not rate this as a release blocker, especially considering node-role.kubernetes.io/master="" appears to have been introduced in 1.6.

[2018-09-21 01:55] k82cn commented on #68899
/assign

I'm going to contribute in my daytime :)

[2018-09-21 02:33] feiskyer commented on #68916
Oops, thanks @khenidak. This is critical, it should be fixed before v1.12 release.

/priority critical-urgent
/milestone v1.12

[2018-09-21 02:44] k82cn commented on #61886
Thanks, that makes sense to me :)

[2018-09-21 02:49] faun commented on #41125
We were able to eliminate DNS downtime by tainting our preemptible nodes and adding a toleration for any preemtible workloads as described on [Stack Overflow](https://stackoverflow.com/a/51274434/807693).

[2018-09-21 02:54] KielChan commented on #58335
hi, i have came up with this problem yesterday, runtime gc will removing veth pairs when pod was deleted already but the the same name pod reassigned to the same node.
when gc failed on the first time(i.e. old pod was removed from the node),the second time(i.e. new pod reassigned to the node with same name)gc will remove the new pod veth pairs.

so, what i want to know is that why sandbox gc not c

[2018-09-21 02:58] mwhittington21 opened #68918 "Kubernetes rest_client_* metrics within controller-manager explode in cardinality when deleting many uniquely named namespaces"
/kind bug

**What happened**:

When creating and deleting a large number of uniquely named namespaces the controller-manager does a lot of GET/LIST/DELETE operations on objects within those namespaces. This is fine and expected. However, the amount of metrics stored balloons because each separate URL for each resource within each uniquely named namespace is stored once for each resource/namespace

[2018-09-21 03:31] justaugustus commented on #68916
@feiskyer @andyzhangx -- how quickly could we have a fix for this? We're basically out of time for this release cycle.

[2018-09-21 03:32] mwhittington21 commented on #68918
@kubernetes/sig-instrumentation-bugs

[2018-09-21 03:33] mwhittington21 commented on #68918
Not totally sure it's instrumentations problem since the offending code is how the instrumentation is used in controller-manager, but I figure this can get pointed to the right place from there.

[2018-09-21 03:34] #62956 closed

[2018-09-21 03:36] feiskyer commented on #68916
@justaugustus The code is ready, I'm validating now. Please wait a moment.

[2018-09-21 03:47] justaugustus commented on #68916
@feiskyer -- sounds good. Keep me posted.

[2018-09-21 04:27] feiskyer commented on #68916
@justaugustus Filed #68921.

[2018-09-21 04:33] pmoust commented on #56787
I guess this should be re-opened, it still is a thing.

[2018-09-21 04:40] andyzhangx commented on #63050
/open

[2018-09-21 04:40] andyzhangx commented on #63050
/reopen

[2018-09-21 05:36] #62843 closed

[2018-09-21 05:42] andyzhangx commented on #63051
/reopen

[2018-09-21 06:11] #68916 closed

[2018-09-21 06:12] turgayozgur commented on #49926
Here is how I fixed.

Kubernetes version: 1.9.10
Machine type: c5.xlarge

[kops 1.8 release notes](https://github.com/kubernetes/kops/blob/master/docs/releases/1.8-NOTES.md#significant-changes)

`kops edit ig nodes`

from:
`image: kope.io/k8s-1.9-debian-jessie-amd64-hvm-ebs-2018-03-11`
to:
`image: kope.io/k8s-1.9-debian-stretch-amd64-hvm-ebs-2018-03-11`

[2018-09-21 06:42] brancz commented on #68918
Thanks for reporting! Indeed this metric simply should not have the "url" label at all. Instead, it should just have a "resource" label (in the concretely shown example with the value "rolebindings") and not surface the namespace at all.

[2018-09-21 07:08] Lionelpang opened #68924 "Kubeadm generates certificates for one year only."
Hi，
The certificate generated by kubeadm is one year. Indeed, it has been written for one year from the source code. If the deadline is up to configmap and secr, all services need to be rebuilt. How do you solve this problem?

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2018-09-21 08:04] xlgao-zju commented on #68883
I upgraded my cluster from 1.10.4 to 1.11.2, and I can still see the log. So, I think this issue has been fixed, am I right?

[2018-09-21 08:39] #62056 closed

[2018-09-21 08:46] xiak commented on #66844
Same issue on v1.11.2

[2018-09-21 08:57] aiman-alsari commented on #60164
This is an annoying issue as it requires manual intervention, and can really bog down a team that relies on automated workflows. I +1 reopening this

[2018-09-21 09:09] tanshanshan commented on #68818
dns not start ,maybe you can check it firstly

[2018-09-21 09:33] SmileSees commented on #61674
Hi @mtaufen , I was using `--container-runtime-endpoint ` flag to integrate kubelet with containerd with k8s version 1.10.7.
And I want to upgrade k8s version to 1.11.3, similarly I am using  `--container-runtime-endpoint ` flag, but the kubelet service won't start, says:

Can you pls tell what is the replacement of this flag? Or how can I integrate kubelet with containerd at k8s 1.11.3 version?

[2018-09-21 09:35] tianshapjq commented on #68522
hi~I would like to know how to `Deprecate the "direct" cAdvisor API endpoints`?
Is that deprecating the port for direct cAdvisor in kubelet first, and then removing the cAdvisor vendor codes from kubelet after all?

[2018-09-21 09:39] sdnmw opened #68926 "How to import the other servers log to EFK? Have any APIs?"
**How to import the other servers log to EFK?Have any APIs?**:

**Environment**:
- Kubernetes version (use `v1.10.1`):
- OS (e.g. from /etc/os-release):CentOS 7.5
- Kernel (e.g. `uname -a`):x86_64 GNU/Linux
- Install tools: Kubeadm
- Others:
kubernetes could run EFK and promethues successfully.

[2018-09-21 09:46] k82cn commented on #68899
I think there's what happen :

1. Kubelet only **update status** when upgrading from 1.11 to 1.13, as the node was previously registered (1.11); so `node.Spec.Taints` is not updated, including unschedulable taint.
2. The scheduler is 1.13 now, TaintNodesByCondition is enabled by default and NodeConditionCheck is disabled by default, so it ignores `node.Spec.Unschedulable`
3. The controller manager

[2018-09-21 09:47] Kanshiroron commented on #65304
/remove-lifecycle stale

[2018-09-21 09:48] k82cn commented on #68899
/sig node

[2018-09-21 09:51] ChrisOnToure opened #68927 "Extend the standard environment variables passed into pod/container"
Is there a way to inject additional standard environment variables in each pod/container?

[2018-09-21 09:57] FengyunPan2 opened #68928 "Cgroup manager specify memory limit with 0"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

The log from kubelet service:
07:41:58.032577    4036 container_manager_linux.go:108] Configure resource-only container "/kube.slice" with memory limit: 0

**Environment**:
- Kubernetes version (use `kubectl version`):v1.10.1
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `una

[2018-09-21 09:58] FengyunPan2 commented on #68928
/sig kubelet
cc @yujuhong

[2018-09-21 10:05] waldauf commented on #68818
Kube-dns cannot run without Flannel:
[code]

There is some problem with CNI and Flannel. But I cannot find it.

[2018-09-21 10:12] tyranron commented on #40846
@smarterclayton any news about supporting `valueFrom`? This is gap is quite confusing.

[2018-09-21 10:21] senthilrch opened #68930 "Selective Image garbage collection in kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Kubelet has a Image GC loop that removes unused images when the disk usage exceeds a max threshold. It is possible to turn off image GC completely.

However there are use cases where users require the time duration between Pod scheduling and Pod ready status to be the least. Since kubelet GC will clean-up unused images

[2018-09-21 10:34] shubheksha commented on #68928
/sig node
/area kubelet

[2018-09-21 10:36] shubheksha commented on #68927
/triage support
@ChrisOnToure, GitHub isn't the correct place for asking support questions, have you tried any of the ones [listed](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures)?

[2018-09-21 10:37] shubheksha commented on #68926
/triage support
@sdnmw, you might want to try asking this in the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) listed

[2018-09-21 10:38] shubheksha commented on #68924
/sig auth
/triage support
@Lionelpang, you might want to try asking in the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) listed.

[2018-09-21 10:39] shubheksha commented on #68913
/sig instrumentation

[2018-09-21 10:39] shubheksha commented on #68893
/sig node
/area kubelet
/kind bug

[2018-09-21 10:42] shubheksha commented on #68303
/triage support
/sig network
@daovallec , you might want to try asking in the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) listed.

[2018-09-21 10:51] huyqut commented on #55713
Hi, I have the same problem. No pods are evicted if a node is "NotReady" even after `--pod-eviction-timeout` set on `kube-controller-manager`. Are there any workarounds?

[2018-09-21 11:42] #62992 closed

[2018-09-21 12:10] jcsirot opened #68933 "Basic StatefulSet functionality [StatefulSetBasic] e2e tests are flaky"
**REPORT**:

/kind bug

**What happened**:

When running the cluster e2e tests the subset  `Basic StatefulSet functionality [StatefulSetBasic]` is flaky. It sometimes includes the failure of some conformance tests.

Here is the result of my last test run:
[code]

Full test log: [StatefulSetBasic-flaky.log](https://github.com/kubernetes/kubernetes/files/2405225/StatefulSetBasic-flaky.log)

**What y

[2018-09-21 12:10] jcsirot commented on #68933
/cc @BenTheElder

[2018-09-21 12:14] Pothulapati commented on #68578
@lavalamp The ````SupportNegativeIndices```` setting defaults to true as per the [PR](https://github.com/evanphx/json-patch/commit/fcd53eccb4f88d7e54b742358017d72c9b34ae44#diff-65c563bba473be9d94ce4d033f74810eL16). So,Why is there a need to enable the new setting? :)

To disable the setting would be a breaking change as negative indices were being allowed previously!

I'm willing to take this issu

[2018-09-21 12:20] dims commented on #68933
@jcsirot : I see 3 of these, one in each of the tests. Could there be a problem with your persistent volumes?

[code]

[2018-09-21 12:43] #61426 closed

[2018-09-21 12:54] FOSquare commented on #68885
Thanks guys, I think I know the reason after dozens of tries.

The reason is that I write a script to deployment mulitple applications at the same time. If more than two pods need to be initilized at the same physical node. This will casue the above problem. i guess the reason is that the physical node can not response the resource request at the same time. when one pod is initilized, I sleep for

[2018-09-21 13:06] frankfarrell opened #68934 "Increase timeout from a max of 1 day for sessionAffinity by Client Ip"
The value is set here https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L3003

I'm not sure of the rationale behind a day max, but I don't see why there should be an upper bound.

[2018-09-21 13:06] randomvariable commented on #64018
/lifecycle active

[2018-09-21 13:09] randomvariable commented on #64018
Once https://github.com/kubernetes/repo-infra/pull/84 is ok & merged,
referenced io_kubernetes_build will need updating in
https://github.com/kubernetes/kubernetes/blob/master/build/root/WORKSPACE

[2018-09-21 13:31] tossmilestone commented on #68885
But what you described should not be a normal behavior of k8s, does your pod has special spec?

[2018-09-21 13:42] FOSquare commented on #68885
The pod has a initcontainer dataset with dataset.

below is the deployment file of the server (The applicaiton is media-streaming from cloudsuite  http://cloudsuite.ch/pages/download/). It works under docker swarm, and I change it into K8s now.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: streaming-server0
spec:
  selector:
    matchLabels:
      app: streaming-server0
  replicas: 1 # t

[2018-09-21 13:44] #63004 closed

[2018-09-21 13:54] adinaclaudia commented on #68712
I have the same problem right now, of correctly identifying a finished job, when it does not complete successfully and after reading the documentation and the reference and all the examples I could find, it's still not clear how I can check the conditions and make sure the job is finished when I do so: `status.conditions[].status: true/false/unknown` -> what does each mean? can I rely on `status.c

[2018-09-21 14:18] gnufied commented on #68912
Yeah. thanks.

/assign

[2018-09-21 14:19] bw2 commented on #43962
Another slight variation on the work-arounds described above using ssh tunnels.

In my case, I'm running minikube with an http web service deployed on NodePort 30003.
I can make it accessible externally on port 80 by running:
[code]

[2018-09-21 14:23] liggitt opened #68935 "Remove kube-scheduler config workaround"
https://github.com/kubernetes/kubernetes/pull/68639 was a temporary workaround to ease the transition from an unsupported alpha config that users were encouraged to use prematurely.

This should be remove in 1.13

/assign
/milestone v1.13

[2018-09-21 14:32] przemolb opened #68937 "Multiple namespaces while selecting pods"
/kind feature
@kubernetes/sig-architecture-feature-requests

I am frequently watching how pods are being created and destroyed in my development environment using the following command:
`kubectl get pods --namespace=ns1 -w -o wide`
Because (for various reason) all the apps are deployed to their dedicated namespaces it would be good to be able to watch multiple namespaces with one command:
`kubectl

[2018-09-21 14:45] #24472 closed

[2018-09-21 15:04] sahitpj commented on #68578
Yeah sure @Pothulapati go ahead

[2018-09-21 15:07] k82cn commented on #68899
if no comments on the solution, i will open a pr for it.

[2018-09-21 15:19] msau42 commented on #68899
cc @mikedanese on relaxing node restriction for this upgrade case

Could another potential solution be to keep the previous scheduler node.unschedulable logic for one more release in order to handle this 2 version upgrade scenario?

[2018-09-21 15:28] tpepper commented on #68899
@k82cn please get a PR started so we can get review happening ASAP

[2018-09-21 15:43] chuckha opened #68939 "Kubelet default argument inconsistency between flags and config file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried to start a kubelet in standalone mode but got an error
`failed to run Kubelet: no client provided, cannot use webhook authentication`

**What you expected to happen**:
I expected the kubelet to start up without needing a client because `kubelet --help` says:

[code]
However looking at the code I see:

https://gith

[2018-09-21 15:45] chuckha commented on #68939
/sig node

[2018-09-21 15:49] sebasmoyano opened #68940 "Lifecycle preStop hook not working when using https"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying to delete a pod that has configured a `preStop` hook using `HTTPS` scheme I got the following error:
[code]

**What you expected to happen**:
The hook should be properly called it. The full url should be: `https://10.52.4.10:8443/api/system/terminate`

**How to reproduce it (as minimally and precisely as possible)*

[2018-09-21 15:55] mtaufen commented on #61674
The flag has not been removed from any Kubernetes version yet, so maybe that error is coming from somewhere else?

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L379

[2018-09-21 16:08] gmaslowski commented on #62078
@solsson Hi, regarding your comment I've recently stumbled upon the same issue. Here's how I've dealt with it: https://gist.github.com/gmaslowski/117f3535173d733e007d0c6c83564888

[2018-09-21 16:19] lavalamp commented on #68578
@Pothulapati In that case, I mean disable--edited.

Right, this is removing a "feature", but--

1. We are allowed to fix bugs
2. As api machinery becomes a more established platform it's becoming more important to standardize, for interoperability reasons. There's lots of non-standard stuff in apiserver but we can at least stick to standards when we claim to.

But yes, action-required release note

[2018-09-21 16:28] danilorsilva opened #68941 "DNS Problem on new namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After create a new namespace, all deployments inside this new namespace don't have connection with the external world.

**What you expected to happen**:
Deployement can access internet, name resolution, etc...

**How to reproduce it (as minimally and precisely as possible)**:
kubectl create namespace teste and deploy a ba

[2018-09-21 16:47] #62332 closed

[2018-09-21 16:47] #62837 closed

[2018-09-21 16:48] LucasSales commented on #40969
Kubeadm reset

[2018-09-21 17:33] janetkuo commented on #68857
The fix was just merged. Let's keep this open until tests start passing.

[2018-09-21 17:46] kow3ns commented on #68712
/assign soltysh

[2018-09-21 17:48] guineveresaenger commented on #68260
/close

Thanks everyone!

[2018-09-21 17:48] #68260 closed

[2018-09-21 17:50] kow3ns commented on #68356
/assign kow3ns

[2018-09-21 17:51] kow3ns commented on #68356
This was never supported and is therefore not a bug, but you can open this as a feature if you'd like. I'm going to close it, but you can feel free to reopen this as a feature request assigned to SIG Apps. Thanks.

[2018-09-21 17:51] kow3ns commented on #68356
/close

[2018-09-21 17:51] #68356 closed

[2018-09-21 18:22] raravena80 opened #68944 "Support non-tls frontend override for a TLS ingress"
/kind feature
/sig network

**What happened**:

Support tls override on the frontend for certain backends on an ingress controller.

**What you expected to happen**:

Use case describe here: https://stackoverflow.com/questions/52440562/allow-single-ingress-to-run-http-without-forcing-ssl-using-traefik-ingress-contr

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anythin

[2018-09-21 18:43] msau42 commented on #68899
@bsalamat can you clarify on what fixing the tainting logic would entail?

If I understand your example, wouldn't the Pod object need to be updated to also tolerate the taint that the condition got converted to?

[2018-09-21 18:49] #63089 closed

[2018-09-21 18:49] #63088 closed

[2018-09-21 18:49] davidz627 commented on #68819
Hi all, I noticed that the conversation kind of floated between this issue and 2 other PR's so in an effort to understand what was going on and what was decided I made a little summary that I will share here. Let me know if there is any misunderstanding or omission and I can edit this comment.

Assumptions:
1. Each driver may require a different set of cluster roles to function
2. Tests should be

[2018-09-21 18:51] bsalamat commented on #68899
@msau42 I was specifically referring to what @k82cn suggested: "I think we need to patch node (at least node.Spec.Taints) and add a whitelist to noderestriction admission controller for known taints key."

Yes, the pod needs to have the right toleration for the taint. We already create our critical system pods with proper tolerations for certain node taints, such as unreachable, etc.

[2018-09-21 18:52] tpepper commented on #68899
I'm going back to feeling this is actually a release blocking upgrade issue.  @bsalamat please clarify in more detail your concern for breakages, the possible paths for resolution, and preferred path.

[2018-09-21 18:55] bsalamat commented on #68899
@tpepper I agree with you that this is release blocking. We commented at the same time. I mentioned above that I think we need to address tainting of the nodes in kubelet.

[2018-09-21 18:55] tpepper commented on #68899
Who's the right owner for this now?  I'm assuming we've lost Klaus to the weekend in his timezone, but some of us still have a few work hours yet on Friday...

[2018-09-21 19:00] bsalamat commented on #68899
I already pinged Dawn as our Node guru, but didn't get any reply. She might be on vacation. Let me see if I can find other folks here.

[2018-09-21 19:00] kow3ns commented on #65430
/assign kow3ns

[2018-09-21 19:02] kow3ns commented on #65430
[code]
You're password is getting rejected. This is not a workloads or network issue.
/close

[2018-09-21 19:02] #65430 closed

[2018-09-21 19:02] kow3ns commented on #65430
/close

[2018-09-21 19:03] kow3ns commented on #65870
/assign kow3ns

[2018-09-21 19:12] bsalamat commented on #68899
cc @dashpole for what we can do on the node side.
cc @tallclair for the security/policy related matters associated with adding taints for node condition

[2018-09-21 19:28] howels commented on #42306
Appears that pod with hostNetwork should be using "dnsPolicy: ClusterFirstWithHostNet" according to the K8S docs referenced in the issue mentioned above.

To quote the other issue: According to the documentation (https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/) the use of "dnsPolicy: ClusterFirst" is not valid when "hostNetwork: true" is set, instead "dnsPolicy: ClusterFir

[2018-09-21 19:38] tpepper commented on #68899
@kubernetes/sig-node-bugs help please

[2018-09-21 19:49] tpepper commented on #68857
I believe these two:
* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-new-downgrade-cluster-parallel   (run 4267)
* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel (run 4946)
are likely to be our next ones that give an idea of health on this topic.

[2018-09-21 20:08] msau42 commented on #68899
@bsalamat regarding your example "a pod that tolerates certain node conditions might not be scheduled if the scheduler checked both node taints and node condition", could this be an API compatibility issue?  Will a pod that tolerates a node condition in 1.11 fail to schedule in 1.12 because the scheduler no longer looks at node conditions and only node taints?

[2018-09-21 20:11] #68555 closed

[2018-09-21 20:14] bsalamat commented on #68899
@msau42 Pods were not able to tolerate node conditions by setting some API fields. We had some annotations, such as pod critical annotation and other hard-coded logic in DS controller, etc. that would have the same effect of tolerating conditions, but their were not in our API.

[2018-09-21 20:21] msau42 commented on #68899
Thanks for the explanation. It looks like the critical pod annotation was alpha, so does not have a backwards compatibility requirement, and we've fixed all the known users of it.

[2018-09-21 20:22] tallclair commented on #68899
xref: https://github.com/kubernetes/kubernetes/issues/63897 - cc @mikedanese @liggitt

Should this be handled by the node controller? I.e. if the Unschedulable bool is set on the node, add the unschedulable taint?

[2018-09-21 20:28] liggitt commented on #68899
Yes, translation of conditions and unschedulable field to taints is done by the controller

[2018-09-21 20:30] kow3ns commented on #64689
/assign kow3ns

[2018-09-21 20:32] kow3ns commented on #64689
You can control the behavior by setting replicas, maxSurge, and minUnavaiable appropriately.
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#updating-a-deployment
/close

[2018-09-21 20:32] #64689 closed

[2018-09-21 20:33] bsalamat commented on #68899
I wonder if we can change our upgrade flow to ensure that the controller manager is upgraded and becomes stable (adds the taints) before the scheduler is upgraded.

[2018-09-21 20:34] liggitt commented on #68899
The kubelet has never required the ability to update taints.

Was that a typo, supposed to be 1.12? Have we ever supported two version skew between those components?

Under what circumstances do we upgrade to 1.13 scheduler while a 1.11 controller manager is still running?

Same question about two version skew between these two components.

That's more concerning… is that something all user pods w

[2018-09-21 20:34] yujuhong commented on #68899
+1 to @dashpole's suggestion in https://github.com/kubernetes/kubernetes/issues/68899#issuecomment-423660716 to unblock the release

[2018-09-21 20:35] tpepper commented on #68857
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel/4946?log#log still failed, but on a different test. I'm not seeing a reason the newly failing test would be related to the original symptom here.  Also not seeing why it would suddenly have flaked. :(

[2018-09-21 20:36] vladimirvivien opened #68946 "hack/local-up-cluster.sh always download cfssl even when on PATH"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running ./hack/local-up-cluster.sh, it always download `cfssl` even when the tool is found on the system $PATH.

First validate cfssl is installed:
[code]

Next run local-up-cluster.sh script

[code]

**What you expected to happen**:
Expecting that the script would skip download and find cfssl on the path.

**How to

[2018-09-21 20:38] vladimirvivien commented on #68946
Not sure which sig handles script....

/sig release ? Maybe ?

[2018-09-21 20:44] msau42 commented on #68899
What about HA master upgrade?

scheduler and controller-manager each have independent leader elections, so during a HA rolling upgrade, the current leaders for scheduler and controller managers could be on different releases in either direction

[2018-09-21 20:45] kow3ns commented on #68933
The volumes aren't mounting. This is likely an issue with the provisioner.
/sig-aws

[2018-09-21 20:45] kow3ns commented on #68933
/sig aws

[2018-09-21 20:46] cheftako opened #68947 "ControllerClientBuilder and related items should be broken into a separate utility."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The ControllerClientBuilder interface is being depended on by items which are being moved out core K8s/K8s.
As such they should be moved into staging/their own repo for controller based utilities.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-09-21 20:49] liggitt commented on #68899
I wouldn't expect an upgrade from 1.12 to 1.13 to begin until the upgrade from 1.11 to 1.12 was complete/successful

[2018-09-21 20:55] dashpole commented on #68899
Thanks for correcting me.  It wasn't a typo, but just a lack of knowledge about how multi-version upgrades are performed.  In that case we need to support 1 version skew.

Yeah, it should be 1.12, not 1.13.  But generally, the newer scheduler should still be compatible with the state left by the previous version's controller manager, even if it isn't running anymore.

Actually, I agree.  @bsalamat

[2018-09-21 20:59] msau42 commented on #68899
Bobby commented [here](https://github.com/kubernetes/kubernetes/issues/68899#issuecomment-423637163) that the system pods have already been corrected.  I also noted that the critical pod annotation is alpha.

[2018-09-21 21:01] dims commented on #58012
/sig release

[2018-09-21 21:02] msau42 commented on #68899
I mean doing an HA rolling upgrade from 1.11 to 1.12.  Let's say we have 3 masters, A, B, C, all on 1.11.

1. A is upgraded to 1.12, B and C are still on 1.11.
2. scheduler leader election could pick scheduler A as the leader, controller-manager leader election could pick controller-manager B as the leader.  Now we have version skew between master components.

[2018-09-21 21:03] bsalamat commented on #68899
That feature (critical pods) was an alpha feature and we have already replaced it. The dilemma is that I am so sure if critical pods were the only kind of pods with a "hack" for tolerating node conditions. Let me dig a bit more.

[2018-09-21 21:09] pohly commented on #68819
David Zhu <notifications@github.com> writes:

I agree that this is a good direction. Both PRs address a subset of this
(Jan's starts to use manifests, mine drops usage of the boostrapped
cluster roles). I'm fine with merging PR #68887 first and then
continuing the work based on that.

[2018-09-21 21:13] janetkuo commented on #68857
The pod failed because its container cannot run:
[code]

The failure doesn't seem to related to https://github.com/kubernetes/kubernetes/pull/68881 or DaemonSet in general.

[2018-09-21 21:14] liggitt commented on #68899
One version of skew, absolutely. @dashpole's comment made me concerned two versions of skew support were being claimed/proposed

[2018-09-21 21:39] spiffxp commented on #68339
Approaches to work around this:
- wrap the whole table based test in a ConformanceIt block
- refactor to a more boilerplate approach that has a ConformanceIt block for each table entry
- update the conformance test walker to detect table based tests that use a well known field?

[2018-09-21 21:41] misterikkit opened #68951 "Scheduler Cleanup"
This is a tracking issue for the effort to reorganize kube-scheduler's code.

**Goals**
- Improve developer velocity and onboarding.
- Clarify which parts of the scheduler are API and which parts are implementation.
- Improve testability and test coverage.

We want to avoid the situation where two contributors send PRs for the same fix, so please coordinate here or on the linked issues before work

[2018-09-21 21:42] msau42 commented on #41598
Topology-aware dynamic provisioning for the gce-pd, aws-ebs and azure disks is available as beta in 1.12

[2018-09-21 21:42] msau42 commented on #49906
Topology-aware dynamic provisioning for the gce-pd, aws-ebs and azure disks is available as beta in 1.12

/close

[2018-09-21 21:42] #49906 closed

[2018-09-21 21:57] bsalamat commented on #68899
I looked the scheduler code and the DaemonSet controller code to find if adding "CheckNodeCondition" could cause issue in presence TaintNodeByCondition and I didn't find anything particularly concerning. So, I created #68953. Let's see if it breaks tests.

[2018-09-21 22:13] misterikkit opened #68954 "[scheduler cleanup phase 1]: Create a new Scheduler constructor"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

Constructing a `Scheduler` object requires a lot of boilerplate, as evidenced by the code in `cmd/kube-scheduler`. It requires calls to `NewConfigFactory` followed

[2018-09-21 22:13] misterikkit opened #68955 "[scheduler cleanup phase 1]: Move informer event handlers to pkg/scheduler"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

A lot of the behavior of `genericScheduler` is captured inside the informer event handlers in `pkg/scheduler/factory/factory.go`. Our code will be easier to mainta

[2018-09-21 22:13] misterikkit opened #68956 "[scheduler cleanup phase 1]: Move SchedulingQueue to pkg/scheduler/internal/queue"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The `SchedulingQueue` implementation in `pkg/scheduler/core` should not be in the same package as `genericScheduler`. Since it is a self-contained component, it ca

[2018-09-21 22:13] misterikkit opened #68957 "Inject `FeatureGate` instead of checking global variable"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The scheduler has various feature gates that enable/disable specific behaviors. E.g.

[code]

And in tests, we often see things like the following.
[code]
[code]

[2018-09-21 22:13] misterikkit opened #68958 "[scheduler cleanup phase 1]: Move `NodeInfo` utils into pkg/scheduler/cache"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

There are utility functions for use with the `NodeInfo` type in `k8s.io/kubernetes/pkg/scheduler/util`. These should be moved into `k8s.io/kubernetes/pkg/scheduler

[2018-09-21 22:13] misterikkit opened #68959 "[scheduler cleanup phase 1]: Move FakeCache to pkg/scheduler/internal/cache/fake"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The `FakeCache` implementation used in scheduler unit tests should go in its own package at `k8s.io/kubernetes/pkg/scheduler/internal/cache/fake`. (Currently it is

[2018-09-21 22:13] misterikkit opened #68960 "[scheduler cleanup phase 1]: Move CacheComparer to pkg/scheduler/internal/cache"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The `CacheComparer` implementation in `k8s.io/kubernetes/pkg/scheduler/factory` should not be exported as a golang library outside of scheduler. It should be moved

[2018-09-21 22:13] misterikkit opened #68961 "[scheduler cleanup phase 1]: Move scheduler cache interface and implementation to pkg/scheduler/internal/cache"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The scheduler’s cache implementation is not meant to be exported as a golang library outside of the scheduler. It should be moved from `k8s.io/kubernetes/pkg/sched

[2018-09-21 22:13] misterikkit opened #68962 "[scheduler cleanup phase 1]: Refactor scheduler_test.go to use a fake k8s client"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The tests in `pkg/scheduler/scheduler_test.go` depend on mocking REST/HTTP with the utils in `pkg/scheduler/testing`. It would be much simpler to use `k8s.io/clien

[2018-09-21 22:13] misterikkit opened #68963 "[scheduler cleanup phase 1]: Refactor factory_test.go to use a fake k8s client"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The tests in `pkg/scheduler/factory/factory_test.go` depend on mocking REST/HTTP with the utils in `pkg/scheduler/testing`. It would be much simpler to use `k8s.io

[2018-09-21 22:13] misterikkit opened #68964 "[scheduler cleanup phase 1]: Simplify kube-scheduler’s server.go `run`"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

In `cmd/kube-scheduler/app/server.go` the `NewSchedulerCommand()` function creates a `cobra.Command` object and populates the `Run` field with an anonymous functio

[2018-09-21 22:18] k82cn commented on #68899
that will break schedule daemonset by scheduler.  and registerwithtaints of kubelet is not worked in upgrade.

[2018-09-21 22:20] krmayankk commented on #68955
/assign @krmayankk

[2018-09-21 22:26] Huang-Wei commented on #68956
/remove-help

[2018-09-21 22:51] janetkuo commented on #68857
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel starts passing.

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-new-downgrade-cluster-parallel isn't passing. However, it doesn't seem to be running the updated upgrade test, given that the debug log removed in #68881 still exists: `Node bootstrap-e2e-master not expected to h

[2018-09-21 23:01] dineshgovindasamy commented on #68511
@fasaxc can we please close this issue?
cc @PatrickLang @daschott

[2018-09-21 23:03] dineshgovindasamy commented on #68375
@PatrickLang we don't support hot adding an endpoint to Hyper-V Container. This is a feature work. we are currently working on enabling it through ContainerD.

[2018-09-21 23:03] dineshgovindasamy commented on #68375
@PatrickLang Can we close this issue and track it as a Feature work item?

[2018-09-21 23:39] wgliang commented on #68961
I can help dot it.
/remove help
/assign

[2018-09-21 23:40] wgliang commented on #68961
/remove-help

[2018-09-21 23:46] davidmatson opened #68967 "Support Windows Certificate Store for kubectl client certs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

(I checked and don't think this support already exists, but perhaps I just missed it somewhere.)

**Anything else we need to know?**:
.kube/config has client-certificate-data and client-key-data on windows. Windows natively puts certificates in a certificate store and configures them via a reference to a certificate in a store, such as
[

[2018-09-21 23:50] davidmatson commented on #68967
@kubernetes/sig-windows-feature-requests

[2018-09-21 23:54] termie commented on #60099
oof, finally found this after hours of debugging, i am running a docker registry and the auth service is called "registry-auth" therefore creates a bunch of env vars that the container things are config values, super annoying to debug and since the advent of kube-dns it seems a bit superfluous

[2018-09-22 00:03] hmodi23 commented on #44703
Hello,

Checking in on this one, was the support for LabelSelector added to KubernetesPolicyRule? Basically, is there any support for defining KubernetesRole/KubernetesClusterRole for say e.g. pods with certain labels?

If this functionality is not present as of now then, are there any plans to support this soon?

Thanks!

[2018-09-22 00:13] liggitt commented on #44703
No, the fundamental issues raised in https://github.com/kubernetes/kubernetes/issues/44703#issuecomment-364693917 are still germane, and other items have been prioritized

it is not currently planned

[2018-09-22 00:15] roycaihw commented on #66538
/sub

[2018-09-22 00:35] wgliang commented on #68960
Because it is related to the cache, I will fix this issue together.
/remove-help
/assign

[2018-09-22 00:35] wgliang commented on #68958
Because it is related to the cache, I will fix this issue together.
/remove-help
/assign

[2018-09-22 00:36] wgliang commented on #68959
Because it is related to the cache, I will fix this issue together.
/remove-help
/assign

[2018-09-22 00:45] k82cn commented on #68899
unschedulable is taint by controller & kubelet; https://github.com/kubernetes/kubernetes/pull/63955 taints node with unschedulable to avoid race condition between controller and scheduler, it dependents on `registerWithTaints` of kubelet to taint when start up; but `registerWithTaints` does not work in upgrade case as mentioned above (we only update status when upgrading). IMO, it should be fixed;

[2018-09-22 00:52] liggitt commented on #68899
The race that is important to resolve at creation time is that of a new node object appearing untainted.

That race does not apply in an upgrade scenario, where the node object already exists, and can already be observed and acted upon. Relying on the condition-to-taint controller in upgrade scenarios is reasonable.

[2018-09-22 00:56] denkensk commented on #68951
I want to take #68959 #68960 #68961 @misterikkit

[2018-09-22 01:02] michmike commented on #68967
@PatrickLang is there anyone working on something similar?

[2018-09-22 01:03] denkensk commented on #68954
I want to take it @misterikkit

[2018-09-22 01:05] denkensk commented on #68964
I want to take it, can you help me? @misterikkit

[2018-09-22 01:30] denkensk commented on #68954
I want to take it，Can you help me to contribute to it？

[2018-09-22 01:45] k82cn commented on #68857
should we cherrypick? can not open the link because gfw right now.

[2018-09-22 01:46] michmike commented on #64188
thanks for the explanation

[2018-09-22 02:10] like-inspur opened #68969 "kubelet log periodic cleaning failed"
I config kubelet with KUBE_LOGTOSTDERR="--logtostderr=false --log-dir=/var/log/kubelet", so kubelet log output to /var/log/kubelet。But I found that there is no method to clean kubelet log, so I add logrotate config for kubelet like this:
/var/log/kubelet/*.log.* {
    rotate 7
    copytruncate
    missingok
    notifempty
    delaycompress
    maxsize 100M
    daily
    create 0644 root root
}

Bu

[2018-09-22 03:08] yue9944882 commented on #68716
@dims @nikhita finally i realize that the cause is `sed` command is built receiving different flags between Linux and OSX. on Linux, you'll find that for linux sed the `-i` is explained as:

'--in-place[=SUFFIX]'
     This option specifies that files are to be edited in-place.  GNU
     'sed' does this by creating a temporary file and sending output to
     this file rather than to the standard ou

[2018-09-22 03:14] yue9944882 commented on #68716
linking the difference between `bsd sed` and `gnu sed`

https://unix.stackexchange.com/a/401928

[2018-09-22 04:00] Pingan2017 commented on #68939
see #59666
should disable webhook when using --config

[2018-09-22 04:12] yue9944882 opened #68971 "Apiextensions discovery is broken without kube-aggragator"
/kind bug
/sig api-machinery
/area custom-resources

i am deploying aggregator dedicatedly in my local environment,  and the legacy server and the extension server is deployed in one via delegation. (is it supported yet? now there is a launch script for only aggregator).

then when i request the discovery to the legacy/extension server (skipping aggregator), it doesn't return any api group info ab

[2018-09-22 04:59] tpepper commented on #68857
I suppose cherry picking this back to 1.11 branch would allow us to at least clear up the CI signal in testgrid for things that are related.  Since we have at least one other up/downgrade issue it seems still, having less noise in CI would be useful.  Can you submit a PR @k82cn ?

[2018-09-22 05:59] #60123 closed

[2018-09-22 06:27] dghubble opened #68973 "kube-controller-manager: error creating self-signed certificates, permission denied on v1.12.0-rc.2"
**BUG REPORT**:

/kind bug

**What happened**:

Kubernetes distro testing v1.12.0-rc.2 shows in setups with self-hosted control planes (i.e. apiserver, controller-manager, scheduler run as pods) that previously worked on v1.11.3 and prior, the kube-controller-manager now crash loops.

[code]

[code]

Notably, the kube-controller-manager is run with:

[code]

which has been fine through to v1.11.3.

[2018-09-22 06:28] nishantsh77 opened #68974 "due to ipset not supporting "comment", kube-proxy is not working in ipvs mode in Kubernetes 1.11.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network
/area kube-proxy
/area ipvs

**What happened**:
Kube-proxy not working in ipvs mode in Kubernetes version 1.11.3.

**What you expected to happen**:
Kube-proxy working in ipvs mode in centos 7.

**How to reproduce it (as minimally and precisely as possible)**:
Initialize Kubernetes using kubeadm init command.

**Anything else we

[2018-09-22 06:32] ChaitanyaVSH commented on #67310
What's the solution for the above problem?

[2018-09-22 06:40] dghubble commented on #68973
Seems like distros like Typhoon, Tectonic, and Tectonic/Openshift may work around this explicitly passing some other path to kube-controller-manager's `--cert-dir string Default: "/var/run/kubernetes"`.

Appears this was also noticed by juju in https://github.com/juju-solutions/bundle-canonical-kubernetes/issues/645

[2018-09-22 06:43] dghubble commented on #68973
/sig release

[2018-09-22 06:49] shubheksha commented on #68964
I'll pick this up!
/assign

[2018-09-22 06:54] denkensk commented on #68954
/assign

[2018-09-22 06:55] shubheksha commented on #68941
/sig network

[2018-09-22 06:55] shubheksha commented on #68940
/sig cluster-lifecycle

[2018-09-22 07:01] shubheksha commented on #68962
I'm working on a very similar fix for service-catalog, so I can pick this up as well!

[2018-09-22 07:02] shubheksha commented on #68963
I'm working on a very similar fix for service-catalog, so I can pick this up as well!

[2018-09-22 08:00] shubheksha commented on #68963
Ref https://github.com/kubernetes-incubator/service-catalog/issues/2358

[2018-09-22 08:00] shubheksha commented on #68962
Ref https://github.com/kubernetes-incubator/service-catalog/issues/2358

[2018-09-22 08:32] PrasadG193 commented on #68957
I would like to work on this.
@misterikkit Just to confirm, in new feature pkg, we need to add support for `featuregate.Enabled()` and `featuregate.AddFlag()`, right?

[2018-09-22 10:03] #62536 closed

[2018-09-22 12:27] ljhmily opened #68975 "centos7 use ipvs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network
/area kube-proxy
/area ipvs

**What happened**:
I0922 09:00:53.538133       1 feature_gate.go:230] feature gates: &{map[SupportIPVSProxyMode:true]}
I0922 09:00:53.565801       1 server_others.go:183] Using ipvs Proxier.
I0922 09:00:54.134194       1 server_others.go:210] Tearing down inactive rules.
I0922 09:00:54.151017       1

[2018-09-22 12:39] ljhmily commented on #68975
this is ./pkg/proxy/ipvs/ipset.go bug, not ./pkg/util/ipset/ipset.go

[2018-09-22 12:41] k82cn commented on #68857
sure, opened #68976 for 1.11.

[2018-09-22 13:47] k82cn commented on #68899
The race after kubelet start up is well known; but we did not handle startup case well.

I think what we're doing is to deprecate `node.Spec.Unschedulable`, and replace it with unschedulable taint. We need to keep backward compatibility for it.

[2018-09-22 14:07] #55421 closed

[2018-09-22 14:10] nikhita commented on #68946
/cc @cblecker @BenTheElder @dims

[2018-09-22 15:48] BenTheElder commented on #68946
cluster/ is
/sig cluster-lifecycle
/remove-sig release

Previously we tried to use CFSSL installed from vendor to fix this, but we ran into some problems when the script is run from a tarball rather than a git checkout.

[2018-09-22 15:56] nikhita commented on #68946
:+1: IIRC that was for when CFSSL was not on $PATH and it was getting downloaded each time the script was run on each execution (https://github.com/kubernetes/kubernetes/issues/60070).

In this case, it looks like CFSSL in in the $PATH, so it would work seamlessly... :thinking:

[2018-09-22 16:00] BenTheElder commented on #68946
We depend somewhat on the version though, so there was some concern about
trivially falling back to $PATH. We need to check versions for cfssl and
cfssljson and probably add installing newer ones in the test images

On Sat, Sep 22, 2018, 08:57 Nikhita Raghunath <notifications@github.com>
wrote:

[2018-09-22 16:34] nikhita commented on #59151
/remove-lifecycle stale

[2018-09-22 17:10] #63147 closed

[2018-09-22 20:06] xing-yang commented on #68688
Thanks @verult.

Tested latest code.  If NodeGetInfo is implemented, we just need to make necessary changes when deploying driver-registrar sidecar container so KubeletPluginsWatcher can work.  NodeGetInfo is needed for kubelet to register CSI plugins.

Also tested with and without "CSINodeInfo=true,CSIDriverRegistry=true" and manually installed CRDs using when they are enabled.

[2018-09-22 20:49] solomatov commented on #58988
I have the same issue. None of the workarounds helped.

[2018-09-22 21:14] #43743 closed

[2018-09-22 22:24] raravena80 opened #68981 "Node affinity for even spread of pods across multiple availability zones"
/kind feature
/sig scheduling

**What happened**:

Currently, nodeAffinity allows you to select multiple av zones to schedule your pods but there's no guarantee that you will have a pod in at least one availability zone. Or if the algorithm inherently does this, it doesn't seem to be documented.

More information here:

https://stackoverflow.com/questions/52457455/multizone-kubernetes-cluster-and-

[2018-09-23 00:17] #60461 closed

[2018-09-23 00:17] #62311 closed

[2018-09-23 00:17] #42332 closed

[2018-09-23 00:55] dims commented on #48710
related to https://github.com/kubernetes/release/issues/637

[2018-09-23 00:55] dims commented on #52269
related to https://github.com/kubernetes/release/issues/637

/reopen

[2018-09-23 01:43] liggitt commented on #43932
yes, getting to this stage will ensure any addon used in a test env is capable of working against a secured server

[2018-09-23 02:38] k82cn commented on #68951
/assign misterikkit

@misterikkit , suppose you will help to trace the overall status of this issue; the developers in community can help on sub-tasks, e.g. pr, review :)

[2018-09-23 02:42] dims commented on #68975
duplicate of https://github.com/kubernetes/kubernetes/issues/68974 ?

[2018-09-23 02:43] dims commented on #68973
cc @sttts

[2018-09-23 02:45] dims commented on #68973
@tpepper WDYT? Can we get folks to write a note to cover this problem in known issues? https://github.com/kubernetes/kubernetes/issues/68840

[2018-09-23 02:46] dims commented on #68974
cc @dixudx

[2018-09-23 03:18] justinsb opened #68985 "CRD API Group naming stricter than for aggregated apiservers"
While experimenting with "can we use CRDs for everything" I hit this gotcha:

`The CustomResourceDefinition "clusters.kops" is invalid: spec.group: Invalid value: "kops": should be a domain with at least one dot`

Our older API groups were single names - e.g. `autoscaling`, `kops`, etc.

I didn't see any particular reason to require a dot in the name - it looks like it might only be to nudge peopl

[2018-09-23 03:33] k82cn commented on #68969
/sig node

[2018-09-23 04:06] liggitt commented on #68985
All new API groups (even new in-tree ones) are supposed to use qualified names. Additionally, the api guidelines state "the Kubernetes project reserves use of the empty group, all single word names ("extensions", "apps"), and any group name ending in "*.k8s.io" for its sole use". Disallowing single-segment groups via CRDs is done to ensure new single segment names aren't introduced via CRD.

For y

[2018-09-23 04:10] mortent commented on #68627
I think this changed with the removal of reapers in #63979. There used to be a reaper for StatefulSet that took care of orderly and graceful termination from the client, but not termination of pods are done by the garbage collector.
This behavior changed in 1.11.0, but depends upon the client version and not the cluster version. Running a 1.10 client against a 1.11 cluster has the expected behavio

[2018-09-23 04:26] dghubble opened #68986 "ClusterRole system:kube-controller-manager cannot get configmaps in v1.12.0-rc's"
**BUG REPORT**:

/kind bug
/sig auth

**What happened**:

Kubernetes distro testing v1.12.0-rc.2 shows in setups with self-hosted control planes (i.e. apiserver, controller-manager, scheduler run as pods) that previously worked on v1.11.3 and prior, the kube-controller-manager now crash loops with:

[code]

The kube-controller-manager is run with a [service account](https://github.com/poseidon/ter

[2018-09-23 04:28] liggitt commented on #68627
/remove-sig cli

[2018-09-23 04:31] liggitt commented on #68627
@smarterclayton @kubernetes/sig-apps-api-reviews for question about statefulset deletion behavior and the podManagementPolicy API field

[2018-09-23 04:32] dghubble commented on #68973
I've added an `emptyDir` mount to address that crashloop, which seems to work preliminary. kube-controller-manager was able to proceed with self-signed cert creation and hit a new bug I've filed separately https://github.com/kubernetes/kubernetes/issues/68986

Perhaps a suitable release note for this change is:

[code]

[2018-09-23 04:34] liggitt commented on #68986
/sig cluster-lifecycle
/area kubeadm
/remove-sig auth

This permission is not a default permission. If it is required for a kubeadm setup, then it must be granted by kubeadm

[2018-09-23 04:47] liggitt commented on #68971
the legacy server and the extension server are two distinct servers... aggregation is the mechanism by which they both contribute API groups to discovery. I would not expect either the legacy or the extension server to know about or return API group info about the other

/cc @dead

[2018-09-23 06:34] bashsiz commented on #41336
Hi all
I also have this issue
I guess this error is related to docker service in my cluster nodes . when docker tries to pull an non existent image i see this message in kube-master . Maybe the deployment waits for docker to pull image but i can not understand what happened exactly in background .
Can anyone help me?

Here is my docker log

[2018-09-23 06:43] krmayankk commented on #62504
/reopen

[2018-09-23 06:44] krmayankk commented on #62504
/remove-lifecycle rotten

[2018-09-23 07:27] nikhita commented on #54579
/remove-lifecycle stale

[2018-09-23 08:10] fejta-bot opened #68987 "pr:pull-kubernetes-e2e-gce-device-plugin-gpu flaked 26 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-device-plugin-gpu
 Flakes in the past week: **26**
 Consistency: **93.30%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 6 |
| [sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests | 6 |
| Stage | 5 |

#### Previously closed issues for this job flaking:
#56736

[Flakiest Jobs](https://storage.goog

[2018-09-23 08:18] iamShantanu101 commented on #49926
@turgayozgur This indeed fixed the issue. Thanks. Saved me a lot of time.

[2018-09-23 11:28] #63184 closed

[2018-09-23 11:36] shubheksha commented on #68987
/kind flake
/sig testing

[2018-09-23 12:53] liggitt commented on #68973
the cert should not need to be persisted to disk. I don't think adding a writeable directory requirement is a very good idea

/assign @sttts

[2018-09-23 13:08] liggitt commented on #68973
Possible fixes

1. not enable by default if no cert is provided, rather than self-signing
2. do the self-sign cert in memory only, no disk persistence needed
3. don't enable by default at all

2 would be ideal but is likely too big a change at this point. 3 would be unfortunate. 1 could be a good compromise if the code change is contained.

[2018-09-23 13:29] dims commented on #68975
cc @m1093782566

[2018-09-23 14:35] dims commented on #68947
/sig cloud-provider

[2018-09-23 14:42] dineshgovindasamy commented on #64188
@alinbalutoiu I totally agree that this has to be fixed for future release and we are actively working on it. I was recommending to close this issue and open a feature to track this request. We should be able to raise a PR in another 2 weeks to support native network namespace support.  This code will stay as long as we support down-level OS'es.

I am fine either way. I am trying to close any open

[2018-09-23 15:37] PatrickLang commented on #64188
/kind feature
Although from a kubernetes standpoint, this isn't a new feature. It doesn't need a new KEP and won't change any API. It will just be a future Windows network code cleanup.

[2018-09-23 15:49] m1093782566 commented on #68974
The fix should be merged in 1.11.1
发件人：Davanum Srinivas
收件人：kubernetes/kubernetes,
抄 送：dujun (D),Mention,
时间：2018-09-23 21:29:19
主 题：Re: [kubernetes/kubernetes] due to ipset not supporting "comment", kube-proxy is not working in ipvs mode in Kubernetes 1.11.3 (#68974)

cc @m1093782566<https://github.com/m1093782566>

—
You are receiving this because you were mentioned.
Reply to this email directly

[2018-09-23 15:50] m1093782566 commented on #68975
the fix is merged in 1.11.1
发件人：Davanum Srinivas
收件人：kubernetes/kubernetes,
抄 送：dujun (D),Mention,
时间：2018-09-23 21:31:17
主 题：Re: [kubernetes/kubernetes] centos7 use ipvs (#68975)

cc @m1093782566<https://github.com/m1093782566>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/kubernetes/kubernetes/issues/68975#issuecomment-42

[2018-09-23 16:00] benbjurstrom commented on #65575
`kubectl get pods --all-namespaces` also works on 1.11.3

[2018-09-23 16:02] santhosh-git opened #68988 "credentials"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-09-23 16:10] neolit123 commented on #68988
/close

hi, please re-open the issue once you fill the template with more details.
thanks!

[2018-09-23 16:15] tpepper commented on #68973
It's up to the SIG if this is a 1.12.0 blocker, or a Known Issue and 1.12.1 material.  I'm inclined to think the latter.

[2018-09-23 16:29] nishantsh77 commented on #68974
Kindly let me know if more information is required.

[2018-09-23 19:12] santhosh-git commented on #68988
I updated my issue.

[2018-09-23 19:16] santhosh-git opened #68989 "strip path in kubernetes ingress"
Below yaml is my ingress rule. Here /nginx is proxying to the backend. Is there any way to strip path while proxying to backend.

Example:
https://gateway.example.com/nginx should be proxied to backend like localhost:80/

---

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
clusterName: ""
name: nginx
namespace: default
spec:
gateways:

gateway
hosts:
test.abc.com
http:
mat

[2018-09-23 20:02] danilorsilva commented on #68941
Issue resolved.

A problem with calico-kube-controller.

Thanks!

[2018-09-23 20:02] #68941 closed

[2018-09-23 21:50] cblecker commented on #43932
/lifecycle frozen

[2018-09-23 22:14] carlisia opened #68991 "Add guidance for testing in the PR template"
I propose we add guidance on how to run tests for a PR in the PR template.

I am a new contributor and took me much (much!) looking around to find testing instructions. It seems that page contains everything one needs to know about testing. I think it is very fitting to have it included in the template, as a one of the last check items.

I propose the template be changed from this:

[code]

...to

[2018-09-23 22:15] carlisia commented on #68991
/sig doc

[2018-09-23 22:16] carlisia commented on #68991
/sig docs

[2018-09-23 22:18] korvus81 commented on #45967
/remove-lifecycle stale

[2018-09-23 22:39] #52190 closed

[2018-09-23 23:58] wgliang commented on #68960
There is a problem with loop import, CacheComparer code will import `k8s.io/kubernetes/pkg/scheduler/core`, however `k8s.io/kubernetes/pkg/scheduler/core` will also import `k8s.io/kubernetes/pkg/scheduler/internal/cache`.
One solution is to use the CacheComparer code as a package `k8s.io/kubernetes/pkg/scheduler/internal/cache_compare.`

@misterikkit WDYT?

[2018-09-24 00:37] dims commented on #68986
@dghubble can you please try if `--authentication-skip-lookup` works to skip that lookup?

[2018-09-24 00:42] djsly opened #68992 "[Azure] LB frontendIP idle timeout should be configurable with a Service label"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The default LoadBalancer Rules idle timeout is set to 4 min.

**What you expected to happen**:
We should be able to set the idle Timeout at service creation time.

**Anything else we need to know?**:
We have clients that cannot send keep-alive and  we need to have service's idle timeout increased to a value over 4mins

[2018-09-24 00:44] djsly commented on #68992
@kubernetes/sig-azure-feature-requests

[2018-09-24 00:55] k82cn commented on #68987
Do we know where to get the log of one or two flake test?

[2018-09-24 00:56] k82cn commented on #68987
/sig scheduling
/sig node

[2018-09-24 02:07] like-inspur commented on #68969
If logrotate is no use for kubelet log, then is there any solutions to solve this problem?

[2018-09-24 02:27] #68336 closed

[2018-09-24 02:39] m1093782566 commented on #68974
xref: #65741

/cc @islinwb

[2018-09-24 02:40] m1093782566 commented on #68974
@nishantsh77

Please also note that your server binary version is :"v1.11.0" instead of v.11.3(client).

[2018-09-24 03:42] charrywanganthony commented on #68991
I agree with you.

[2018-09-24 03:44] #63087 closed

[2018-09-24 04:00] SmileSees commented on #61674
Thanks @mtaufen, it seems to be the character encoding cause the issue. It is ok now.

[2018-09-24 05:13] verb commented on #10834
/remove-lifecycle stale

[2018-09-24 05:37] shubheksha commented on #68991
/sig contribex
cc: @cblecker

[2018-09-24 05:50] pr8kerl commented on #49343
We are hitting this too on v1.11.3.

From within a pod on our cluster...
[code]

[2018-09-24 05:50] pr8kerl commented on #49343
/reopen

[2018-09-24 05:50] pr8kerl commented on #49343
Worth a try :)

[2018-09-24 07:02] dawidmalina commented on #64743
@geekgonecrazy do you know what exactly npd is doing to fix this issue?

[2018-09-24 07:18] fabiand commented on #56634
/remove-lifecycle rotten

[2018-09-24 07:50] yastij commented on #65300
/close

[2018-09-24 07:50] #65300 closed

[2018-09-24 07:53] rfranzke opened #68996 "(AWS) cloud-controller-manager fails for nfs persistent volumes"
/kind bug
/sig cloud-provider
/sig aws

**What happened**: I run the cloud-controller-manager with the PV label initializing controller inside a cluster where I use NFS volumes. Whenever creating such a PV the cloud-controller-manager panics:

[code]

Logs of CCM:

[code]

**What you expected to happen**: Cloud-controller-manager only initializes volumes it is responsible for.

**How to reproduce

[2018-09-24 08:02] brancz commented on #64730
/remove-lifecycle stale

[2018-09-24 08:03] antoniomo commented on #56795
Because this feature isn't there we have to use our own templates and scripting to manage ingresses, which is more code and tools to develop, debug and maintain. Looking at the other comments, looks like we aren't the only ones and it would be a shame to close it, as it's a useful feature to have eventually.

[2018-09-24 08:49] yakuza-m opened #68997 "HPA Current utilization Unknown and Unable to fetch Metrics"
/sig Autoscaling

kind bug

**What happened**:When i do kubectl describe hpa  iam getting
 no metrics returned from resource metrics API

**How to reproduce it (as minimally and precisely as possible)**:
Install kubectl kubeadm kubelet kubernetes-cni and do a kubeadm init on Ubunt 16.04 x64
and
Follow the steps in the link
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-w

[2018-09-24 09:29] nishantsh77 commented on #68974
Thanks for mentioning it. What I understood from above discussion that bug shall be fixed in Kubernetes server release "v1.11.1"

[2018-09-24 09:59] aermakov-zalando opened #68998 "CRDs created in old versions don't have .metadata.generation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

CRDs created with old Kubernetes version are missing `.metadata.generation`:

Example:

 * CRD created recently:

       $ curl -s '…/apis/zalando.org/v1/namespaces/default/platformcredentialssets/foo' | jq '.metadata | {creationTimestamp, generation}'
       {
         "creationTimestamp": "2018-07-23T17:24:58Z",

[2018-09-24 09:59] aermakov-zalando commented on #68998
@kubernetes/sig-api-machinery-bugs

[2018-09-24 10:58] feiskyer commented on #68992
This has already been supported by annotation: "service.beta.kubernetes.io/azure-load-balancer-tcp-idle-timeout". It will be included in v1.12.0

[2018-09-24 11:08] mshivanna commented on #48219
I have the same issue i tried editing the kube-apiserver.yaml using nano but somehow I am not able to connect to the apiserver. I get cannot connect to the apiserver error.
I was trying to enable podpresets on our cluster which was provisioned using kubeadm.
- --runtime-config=apiserver.k8s.io/v1alpha1=true
- --admission-control=PodPreset,Initializers,GenericAdmissionWebhook,NamespaceLifecycle,Lim

[2018-09-24 11:09] yue9944882 commented on #68971
@liggitt if we're handling all the group discovery in the aggregator, why not just completely remove the group discovery from the other two servers? i see for the extension server, the `/apis` is disabled and the `/apis/<group>` is still serving. for the legacy server, even both `/apis` and `/apis/<group>` is dry serving and no requests will ever reach these handlers. 😢

[https://github.com/kubern

[2018-09-24 11:11] sttts commented on #68986
@liggitt we can make this non-fatal, compare https://github.com/kubernetes/kubernetes/pull/67836/files#diff-59f09be65a7ae1feb263f6bce1d856b1R246.

[2018-09-24 11:11] djsly commented on #68992
Super. Thanks !

[2018-09-24 11:14] kivoli commented on #65470
Since the MR is still open I assume this is still valid.

/remove-lifecycle stale

[2018-09-24 11:55] nikhita commented on #68998
Custom resources start setting `.metadata.generation` as 1 during creation from v1.10 because that's when the subresources feature was introduced. The subresources feature says that I want to follow the spec/status conventions and hence, want generation to be initialized to 1 and be incremented whenever spec changes.

In <=v1.9, even if we initialized it to 1, it does not hold much meaning because

[2018-09-24 11:55] nikhita commented on #68998
/area custom-resources
/cc @sttts @liggitt

[2018-09-24 12:06] djsly commented on #68992
@feiskyer would it be possible to ask for a Cherry pick in 1.11. We are about to upgrade our production clusters to 1.11.3, we could wait for 1.11.4.

[2018-09-24 12:09] aermakov-zalando commented on #68998
I don't expect anything from old clusters, that's completely understandable. However, if I have a 1.11 cluster with subresources enabled, I expect all CRDs to behave in the same way, not just the ones that were created after 1.10. This doesn't seem to be the case.

Version information is in the original issue. All our clusters are currently running v1.11.3. I *think* that some of the buggy CRDs we

[2018-09-24 12:15] honi commented on #56795
/remove-lifecycle stale

[2018-09-24 12:53] #62376 closed

[2018-09-24 13:00] dims opened #69000 "trouble with kubernetes-1.12.0-rc.2 tag in the bot sync'ed k8s.io/api repo"
See the following
- https://github.com/kubernetes/api/commits/kubernetes-1.12.0-rc.2/core/v1/types.go
- https://github.com/kubernetes/api/commits/master/core/v1/types.go

272a6c8a3a35653d4d011cbaf60a17c692f85e01 and b1d28a94fbfc5e0f03194884bfc2cb75c6695e1e are in master but not in kubernetes-1.12.0-rc.2

Though, to be clear, the master of k/api repo seems to be ok, just the tag in kubernetes-1.12.

[2018-09-24 13:00] dims commented on #69000
cc @sttts

[2018-09-24 13:02] vinodhbasavani commented on #64586
I am also getting ```Name or service not known ``` logs inside my application pods when the pods are trying to connect to backends like databases(RDS,Elastic Cache Redis,Ec2 Mongo), I increased the number of pods of kube-dns thinking may be because of load. but no luck. Still seeing those errors in huge number.
Created a cluster using kops running with 1.8.8 version

[2018-09-24 13:28] shubheksha commented on #68527
I thought of another approach for this: the bot can auto-comment on issues labelled `triage/support` with a list of support structures in case someone opens an issue despite what's the template stating otherwise.
Currently, we don't have a consolidated list of support structures anywhere, so filed https://github.com/kubernetes/community/issues/2703 for that
Let me know what y'all think 😄

[2018-09-24 13:39] mgdevstack commented on #68339
Thanks @spiffxp, I am evaluating these approaches especially on "conformance test walker" to retrieve well-known fields like `fmt.Sprintf()` and variables used inside `framework.ConformanceIt()`.

[2018-09-24 14:00] aermakov-zalando commented on #42649
@soltysh The current code only handles the last unmet startup anyway, so why the hard-failure on `> 100`? Even if the code is updated to handle all of them, I'd argue that the better way would be to just take the last `N` and ignore the previous failures, perhaps emitting an event about it. This will allow the cronjob to recover without any significant changes to the code, and users wouldn't have

[2018-09-24 14:03] kszarek commented on #44273
The issue also occurs on GKE 1.10.6-gke.2 with n1-standard-1 preemptible nodes

[2018-09-24 14:15] DirectXMan12 commented on #68522
removing the vendored cadvisor would require making sure we have out-of-tree sources for all the metrics.  Deprecating "direct" cAdvisor API endpoints is mostly just about deprecating that piece of API, I believe.  Removing the rest will come later.

[2018-09-24 14:19] ateleshev commented on #65703
@jianzi123 We wrote additional component to solve this problem, and I think it will be fixed in github.com/humblec/gluster-csi-driver

[2018-09-24 14:20] IvanovOleg opened #69001 "Run-once daemonset"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I want to add a kubernetes extended resource to each node that appears in the cluster. I created a daemonset that creates that resource, but it performs endless restarts of the completed pods.

**What you expected to happen**:
Daemonset doesn't restart completed pods

**How to reproduce it (as minimally and precisely

[2018-09-24 14:27] Miouge1 commented on #62817
I'm seeing this on Kubernetes 1.9.10 (client & server) with OpenStack as a cloud provider (Cinder v3).

It goes like this:
- PVC is created
- 3s seconds later Cinder volume is `available`
- Kubernetes waits between 20 and 120 seconds to attach the block device
- Kubelet waits out the exponential backoff (1s, 2s, 4s, 8s, 16s, 32s, 64s etc...) to `mount` the volume, so usually we have 1 or 2min of a

[2018-09-24 14:31] timothysc commented on #68951
This makes me very happy to see, thank you @misterikkit !

[2018-09-24 14:35] jgschmitz commented on #65575
@benbjurstrom  so the strangest thing now kubectl get pods is working also - like out of the blue

 kubectl get po
NAME                                                             READY     STATUS    RESTARTS   AGE
brazen-beetle-influxdb-7448f795cf-tznlw                          1/1       Running   0          5d
eerie-meerkat-mongodb-674c7f7d67-5z2gr                           0/1       Pending   0

[2018-09-24 14:35] fOO223Fr commented on #58876
disabling the firewall worked but is there a way to create an expectation in the firewall, in that case, I won't have to disable the firewall?

[2018-09-24 14:49] squeed commented on #59368
FWIW, this is not fixed in 1.10 - that fix was for HostPort, and this is still a bug for NodePort.

[2018-09-24 14:58] netdisciple commented on #48219
iirc, you need to restart the kubelet. the api container somehow knows the manifest was updated and reloads it.

[2018-09-24 15:01] IvanovOleg commented on #69001
@kubernetes/sig-feature-requests

[2018-09-24 15:36] sindelio commented on #53533
I stand for enabling swap in Kubernete's pods properly. it really does not make sense to not have swap, since almost all containers are custom Linux instances, and hence support swap by default.
It's understandable that the feature is complex to implement, but since when did that stopped us from moving forward?

[2018-09-24 15:45] kfox1111 commented on #10834
Does this get subsumed by debug containers, or is this a slightly different issue?

[2018-09-24 15:56] #62902 closed

[2018-09-24 16:01] #66922 closed

[2018-09-24 16:08] thockin commented on #64586
Do you have a repro script?  This seems to hit some people very hard and
others not at all...

On Mon, Sep 24, 2018 at 6:03 AM Vinodh Kumar Basavani <
notifications@github.com> wrote:

[2018-09-24 16:15] IvanovOleg commented on #69001
@kubernetes/sig-apps-feature-requests

[2018-09-24 16:31] nikhita commented on #69000
/area release-infra

[2018-09-24 16:43] mjrb commented on #68818
+1 i have a similar issue where i tried to use kubeadm to make a cluster for the first time. the only config i applied were these:
- https://raw.githubusercontent.com/coreos/flannel/v0.10.0/Documentation/kube-flannel.yml
- https://raw.githubusercontent.com/coreos/flannel/c5d10c8/Documentation/kube-flannel.yml
i found them from the documentation https://kubernetes.io/docs/setup/independent/create-c

[2018-09-24 16:57] caesarxuchao commented on #65200
/remove-lifecycle stale
/lifecycle frozen

[2018-09-24 17:05] msau42 opened #69005 "RePD failover test flaking"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Testgrid: https://k8s-testgrid.appspot.com/sig-storage#gke-regional-serial

[code]

[2018-09-24 17:05] msau42 commented on #69005
/assign @verult

[2018-09-24 17:10] goodhoko commented on #67313
@saad-ali alright thanks a lot! That fixes it. However it's kinda weird to have so many places you can declare R/W modes:
- `PersistentVolume.spec.accessModes`
- `PersistentVolume.spec.gcePersistentDisk.readOnly`
- `PersistentVolumeClaim.spec.accessModes`
- `Deployment.spec.template.spec.volumes.readOnly`
- `Deployment.spec.template.spec.container.volumeMounts.readOnly`

I've found no explanation

[2018-09-24 17:10] #67313 closed

[2018-09-24 17:32] misterikkit commented on #68957
@PrasadG193 I think that's basically it. There are a handful of examples throughout the scheduler code similar to my code snippet above. Today they are inconsistent, so it would be great to have a consistent way to check features.

More importantly, though, I want us to have a type (struct or whatever) that holds the state of the features we care about. We could initialize it from the global state

[2018-09-24 17:33] misterikkit commented on #68957
@PrasadG193 Let me know if you want to work on this.

[2018-09-24 17:38] krcroft opened #69006 "kube_proxy running under a static kernel reports false-positive module load failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Building a fully static Linux kernel with  kube_proxy's desired IP_VS (Virtual Server) modules linked statically:

CONFIG_IP_VS=y
CONFIG_IP_VS_RR=y
CONFIG_IP_VS_WRR=y
CONFIG_IP_VS_SH=y
CONFIG_NF_CONNTRACK_IPV4=y

Causes kube_proxy to believe that these features don't exist because it can't find modules for them:

[code]

[2018-09-24 17:40] misterikkit commented on #68960
I think a separate package is fine. How about `k8s.io/kubernetes/pkg/scheduler/internal/cache/comparer`?

[2018-09-24 17:49] misterikkit commented on #68954
/assign @denkensk
/remove-help

[2018-09-24 17:55] misterikkit commented on #68955
Be sure to reach out if you get stuck. I think this might be one of the trickier tasks.

[2018-09-24 17:59] #60099 closed

[2018-09-24 18:18] misterikkit commented on #65036
/remove-lifecycle stale

This is still on my list of things to look at.

[2018-09-24 18:19] misterikkit commented on #65333
/remove-lifecycle stale

This is still on my list of things to look at.

[2018-09-24 18:29] sbeckwithiii commented on #64586
After digging with the Google Cloud Support team and the GKE devs into our encounter with this issue, we learned that we were overloading our kube-dns with queries. So now we are aggressive in our configuration of kube-dns replica scaling and forward googleapis.com to 8.8.8.8 & 8.8.4.4.

Our name resolution issues have been mitigated by the following configuration changes deployed to each of our s

[2018-09-24 18:35] tallclair commented on #61006
2 more problems with glog I'd like to add:

1. Logs are untestable (by unit tests). There is no good way to get at the log file, or intercept logs.
2. No way to direct logs to a specific file. As a result, a lot of our system addons log to stderr, and then use a shell to redirect the logs to a file. This is problematic for a whole bunch of reasons.

+1. I think a sensible path forward would be:

1

[2018-09-24 18:48] SandeepPissay commented on #67900
@gnufied Please take a look at one of the solution I had in mind. I had proposed this solution here - https://github.com/kubernetes/kubernetes/pull/63413#issuecomment-392932997, but we could not get to it. It would be nice to solve this problem that can work irrespective of whether vSphere Cloud Provider/Node Manager has the node details in memory or not.

Regarding the solution you proposed, how

[2018-09-24 18:58] #63217 closed

[2018-09-24 18:59] dims commented on #61006
long-term-issue (note to self)

[2018-09-24 19:08] davidz627 commented on #68570
I can't find the 1.10 soak tests anymore but it looks like these tests are consistently passing in the 1.11 soak test so I'm going to mark this as closed
/close

[2018-09-24 19:10] razor-x commented on #56402
/remove-lifecycle stale

[2018-09-24 19:12] msau42 commented on #68570
1.10 soak moved to non-blocking:
https://k8s-testgrid.appspot.com/sig-release-1.10-all#soak-gci-gce-1.10

[2018-09-24 19:14] msau42 commented on #68570
It still looks to be failing on 1.10, but I would double check if the test version used on 1.10 includes your commit.  There was an issue where the release build tags were not getting updated.

[2018-09-24 19:19] cjbottaro commented on #64586
Sorry, email notification for that question got lost in my email pit...

Anyway, I think all my issues were tied to using `amazon-vpc-cni`. I have no idea why, but _after a while_ my dns pods (which I switched to coredns) would stop being able to reach the Koob api, and thus not work.

I find it really strange that it takes 20-30 mins for the dns pods to start generating errors about reaching the

[2018-09-24 19:19] gnufied commented on #67900
The CRD based solution is pretty hard to use and harder to backport to older versions. Configmap based solution may work, so why don't we merge a variant of https://github.com/kubernetes/kubernetes/pull/63413 ? Are there any pending concerns? We can ask @w-leads if he is interested in updating the PR or one of us can do it.

Also I thought prior to moving to UUID based node search, we required nod

[2018-09-24 19:45] mattnworb commented on #67848
We've been hit by this too. It seems to me that with the current behavior, a `backoffLimit` value of `0` doesn't really make any semantic sense.

I think the problem comes from the `pastBackoffLimitOnFailure` function in `job_controller.go`:

https://github.com/kubernetes/kubernetes/blob/a21fdbd78dde8f5447f5f6c331f7eb6f80bd684e/pkg/controller/job/job_controller.go#L626-L648

called here:

https://

[2018-09-24 19:59] #63255 closed

[2018-09-24 19:59] #62036 closed

[2018-09-24 20:06] barney-s commented on #65502
Issues :
1. Pod receives traffic before envoy container is ready
2. Pod receives traffic when main container is in the process of shutting down
3. main container's outbound traffic fails during prestop hook if envoy container terminates sooner
4. (maybe issue) is there a race condition where the outbound connection can  bypass envoy proxy when both containers are brought up in parallel.

@ant31's

[2018-09-24 20:24] sjenning opened #69007 "misleading PLEG error on kubelet start "last seen active 2562047h47m...""
When the kubelet first starts the folllowing error is emitted to the logs
[code]
This is because the relist has not yet run which results in a duration that is just the time since the zero time instant (https://golang.org/pkg/time/#Time.IsZero)

xref https://bugzilla.redhat.com/show_bug.cgi?id=1632430

/sig node

[2018-09-24 20:26] w-leads commented on #67900
Hi @gnufied I think #63413 already uses configmap to keep uuid and to detach disks from powered-off nodes. I'm now working on rebasing branch. Do we need to do anything else?

[2018-09-24 20:36] leakingtapan commented on #66542
My PRs encounter this several times. Here is an [example](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/68813/pull-kubernetes-e2e-kops-aws/106677/)

[2018-09-24 20:41] leakingtapan commented on #66542
/sig testing

[2018-09-24 20:46] cheftako commented on #68913
/sig api-machinery

[2018-09-24 20:47] sidewinder12s commented on #63560
We're also running into a similar problem with the scheduler seemingly scheduling most pods on a couple of nodes, leading to a couple nodes having a ton of utilization while others are less so. Primary problem for us is that the hot nodes get close to their pod per node limit leading to alerting on our part. There doesn't seem to be any category for the scheduler to get it to no run right into the

[2018-09-24 20:59] davinchia commented on #63560
@sidewinder12s fwiw, we ended up fixing this by changing the deploy to a daemonset. Since there is no good way of expressing 'at most n pod per node', the concession is to express 'exactly n pods per node'. Running this on a GCP node pool is how we control the total number of pods of that type we have. If you are AWS, taints will work too. Hope this helps.

[2018-09-24 21:08] sidewinder12s commented on #63560
@davinchia Thanks for the tip, we're seeing it with just general number of pods overall so we don't really have another toggle to switch unfortunately.

[2018-09-24 21:09] gnufied commented on #67900
@w-leads yeah I know. I was just asking @SandeepPissay if there are any outstanding questions/concerns because of which the PR was never merged. It has been open for such a long time.

[2018-09-24 21:27] colinbjohnson opened #69009 "activeDeadlineSeconds is Not Able to be Updated to Greater Value"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When updating the `activeDeadlineSeconds` value from 3600 to 3601 the following error message was returned: `Pod "cjohnson-shell-1537822011" is invalid: spec.activeDeadlineSeconds: Invalid value: 3601: must be less than or equal to previous value`

**What you expected to happen**:
I expected the value of activeDeadlin

[2018-09-24 21:27] bsalamat opened #69010 "Deprecate Node.Spec.Unschedulable when TaintNodeByCondition is GA'ed"
TaintNodeByCondition has replaced the existing node condition. With this feature node conditions that affect feasibility of nodes are reflected as taints on nodes. This feature is promoted to Beta in 1.12. We should deprecate node conditions once the feature is GA'ed in future releases.

- [ ] Announce deprecation of Node.Spec.Unschedulable
- [ ] Mark Node.Spec.Unschedulable as deprecated in our A

[2018-09-24 21:28] bsalamat commented on #69010
/xref #68984

[2018-09-24 21:28] caesarxuchao commented on #60423
If it's not clear, the work around is to delete the local git tag.

[2018-09-24 21:36] nmittler commented on #65502
@barney-s There's actually another issue:

5. Application container tries to contact another service at startup, but can't because it relies on the Envoy sidecar being up and configured. This can result in the application eventually crash looping, delaying application startup.

We saw this happen on Istio when [attaching a sidecar to an NGINX ingress](https://github.com/istio/istio/issues/3533#iss

[2018-09-24 21:40] CecileRobertMichon commented on #65305
/assign

[2018-09-24 21:43] kirgene commented on #64062
/remove-lifecycle rotten

[2018-09-24 21:44] kirgene commented on #64062
/remove-lifecycle stale

[2018-09-24 21:49] cjcullen opened #69011 "Use http.Error() instead of writing responses directly"
There are several places where we return errors from an HTTP server by writing the error code and message directly. We should standardize on using [http.Error ](https://golang.org/pkg/net/http/?#Error)everywhere to pick up the "text/plain" and "nosniff" content type headers.

Here's a [cs.k8s.io query](https://cs.k8s.io/?q=%5C.WriteHeader%5C\(http%5C.Status%5B%5EO%5D&i=nope&files=%5E\(pkg%7Ccmd%7C

[2018-09-24 22:01] #53089 closed

[2018-09-24 22:07] colinbjohnson commented on #69009
/sig api-machinery

[2018-09-24 22:14] colinbjohnson commented on #69009
Closing issue - going to ask in SIG group if this feature is wanted.

[2018-09-24 22:14] #69009 closed

[2018-09-24 22:38] ibrasho commented on #69011
Not all of these are errors. Some of them are redirects or even 1xx or 2xx codes.

[2018-09-24 23:31] troycarlson commented on #26375
Not sure if this will help anyone, but I had pods left over from a failed job. Deleting the pod would simply restart the job, which would fail again. I had to delete the job.

`kubectl get jobs`

`kubectl delete job <job-name>`

[2018-09-24 23:40] wgliang commented on #68960
I'm ok with that.

[2018-09-24 23:51] lswith opened #69014 "Errors not Included in OpenAPI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I am using the swagger api and it doesn't include the possible errors that can be returned from the api. I am generating a client, so the possible errors are necessary.

**What you expected to happen**:
Swagger allows all possible return codes to be used. These should be included in the swagger api.

**Environment**:
- Kub

[2018-09-24 23:52] lswith commented on #69014
/sig api-machinery

[2018-09-24 23:52] dims commented on #67720
@lubinsz what is the frequency of these CI tests? i don't see much data here https://k8s-testgrid.appspot.com/sig-node-arm64#conformance

Also, please see notes from @BenTheElder on better data capture - https://github.com/kubernetes/test-infra/pull/9399#issuecomment-421893660

[2018-09-24 23:53] lswith commented on #69014
@roycaihw @mbohlool

[2018-09-24 23:53] dims commented on #67721
@jichenc @cwsolee @estesp How can we help get this off the ground?

[2018-09-25 00:11] PatrickLang commented on #65305
/assign CecileRobertMichon

[2018-09-25 00:17] #67946 closed

[2018-09-25 00:53] vladimirvivien opened #69015 "Plugin watcher getting notified of every Kubelet directory event"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
This is more of an enhancement.

**What happened**:
The Plugin Watcher is setup to trigger on file activities when they occur in the subdirectory that it scans. During startup, the Watcher is passed (from within the Kubelet) the Kubelet's root plugin directory as a location to scan for newly added plugins - https://github.com/kubernetes/kube

[2018-09-25 00:54] dylancaponi commented on #45976
How do you change that?

[2018-09-25 00:54] vladimirvivien commented on #69015
/sig node

[2018-09-25 01:15] liggitt commented on #68971
Aggregation serves `/apis and /apis/group`

Individual servers serve `/apis/<group>/<version>` (aggregation doesn't have details about the resources contained in the API group/version)

[2018-09-25 01:36] derekwaynecarr commented on #69007
/approve
/lgtm

[2018-09-25 01:37] derekwaynecarr commented on #69007
help if i approve the pr and not the issue ;-)

[2018-09-25 02:00] cyrilbkr commented on #58988
I have the same issue with k8s 1.11.3 after a reboot

[2018-09-25 02:56] feiskyer commented on #64188
/kind cleanup

[2018-09-25 03:32] murarisumit commented on #69011
Can I try working on this?

I'm contributing for the first time.

[2018-09-25 03:50] ricky1993 commented on #68997
Have you checked your metrics server or heapster run as expected?

[2018-09-25 04:13] liangjacky commented on #52444
trying to solve this as well. Having the same issue as @abedwardsw where long lines are being truncated and MDC gone.

[2018-09-25 05:13] k82cn commented on #69001
This should be a requirement to Job instead of DaemonSet.

[2018-09-25 05:35] PrasadG193 commented on #68957
@misterikkit I'll work on this, can you please assign it to me?

[2018-09-25 06:06] nikhita commented on #65414
/remove-lifecycle stale

PR open.

[2018-09-25 06:37] tossmilestone commented on #69015
@vladimirvivien I think you should only place the plugin socket file in the plugin registration directory but not the plugin data.

[2018-09-25 06:41] tossmilestone commented on #68963
/assign

[2018-09-25 06:45] tossmilestone commented on #66549
@k82cn can I work on this?

[2018-09-25 06:51] yakuza-m commented on #68997
No, Can u tell me how to do that

[2018-09-25 06:52] onlymuxia commented on #44665
Thanks,it worked!

[2018-09-25 06:56] k82cn commented on #66549
Sure, please go ahead. BTW, I just found this "issue" by code review, please help to verify it before creating PR.

[2018-09-25 07:02] www44 commented on #43924
working solution for pulling docker image from Artifactory (certificate is selfsigned):
- put all used ca certs in /usr/local/share/ca-certificates
- run update-ca-certificates
- restart docker daemon (sudo service docker restart)

[2018-09-25 07:18] #67260 closed

[2018-09-25 07:18] #67400 closed

[2018-09-25 07:40] BenTheElder commented on #68946
/hel

This issue is not completely trivial, but also doable. Fixing it will require:
Follow up on https://github.com/kubernetes/kubernetes/pull/67178, we've already vendored a reasonable version, but we need to update the script to do:
- attempt to install from vendor, if succesful return these
- check if cfssl / cfssljson in $PATH meet minium requirements, if so return these
- otherwise rror

The

[2018-09-25 07:44] tossmilestone commented on #66549
@k82cn OK, I will check it.

[2018-09-25 08:10] sudhiragarwal opened #69025 "Excess of inter node communication (pod to coredns in other node) in case of pod to external traffic"
If the matter is security related, please disclose it privately via https://kubernetes.io/security/.
-->

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have 3 node setup, one master node and 2 worker nodes with calico network plugin.
There are 2 coredns pods running, one in the master node and other in the worker-node-1
When i am trying to curl google.com from one of the pods

[2018-09-25 08:19] piwi91 opened #69026 "Security group isn't deleted after load balancer was deleted from OpenStack (v1.10.8)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The security group isn't removed from OpenStack after the Load Balancer was removed from OpenStack. this process is triggered by removing the Load Balancer service from Kubernetes.

**What you expected to happen**:

I expect that the security group is removed too after the load balancer is removed.

**How to reproduce it

[2018-09-25 08:29] Ark-kun opened #69028 "Logs are mangled - all non-Latin characters are replaced with Unicode REPLACEMENT CHARACTER"
/kind bug

**What happened**:
I want to get pod logs that should contain characters with codes above 127. Docker has no problem with them.
I try:
* `kubectl logs`
* `kubectl run --attach=true`
* curl http://localhost:8001/api/v1/namespaces/default/pods/test-binary-logs-b98b8/log/

In all cases the characters with codes above 127 are replaced with the [Unicode Replacement Character](https://en.wiki

[2018-09-25 09:03] tianshapjq commented on #69015
agree with @tossmilestone, we can only place the registration file in the specified path instead of placing all data into it. On the other hand, you can place data into the /var/lib/kubelet/plugins/registration even if registration created, that's a no-end loop.

[2018-09-25 09:04] sudhiragarwal619 commented on #69025
area/dns

[2018-09-25 09:08] sudhiragarwal619 commented on #69025
/sig area/dns

[2018-09-25 09:08] sudhiragarwal619 commented on #69025
area/dns

[2018-09-25 09:09] sudhiragarwal619 commented on #69025
/area dns

[2018-09-25 09:14] shyamjvs commented on #60097
Refreshing this bug.. Another similar flake observed recently - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/148

cc @krzysied

[2018-09-25 09:37] ReSearchITEng commented on #65933
Besides the workaround to manually patch each node, was there a fix for newer versions?
Just tried k8s 1.11.3 is still still facing this issue (with same vsphere settings which work perfectly on 1.10.x)
I think only vmware experts like @divyenpatel can help.

[2018-09-25 09:45] tianshapjq commented on #69010
hi~ I am interested in this job, and commit a pr to give it a try. Would you please take a look to check if I do it right? :)

[2018-09-25 09:49] warmchang commented on #54132
/remove-lifecycle stale

[2018-09-25 10:00] nikopen commented on #60097
Namespace deletion couldn't proceed because of a docker failure:

[code]

[code]

[code]

[code]

@shyamjvs @krzysied

[2018-09-25 10:13] #63243 closed

[2018-09-25 10:16] realfresh commented on #13488
Not sure if I'm understanding correctly. Just in case this helps anybody.

It seems that if you update the value of a label under the pod > template > metadata, then a rolling update takes place after you `kubectl apply -f file.yaml`

So you can always have a label for your version and whenever you want to rolling update, change the version and apply the file.

[2018-09-25 10:31] joelittlejohn commented on #13488
@gjcarneiro If you don't `apply` when you make a change, the `kubectl.kubernetes.io/last-applied-configuration` annotation will not get updated, so the next `apply` will not cause another restart.

I'm strongly in favour of adding a rolling restart command to kubectl, but in the meantime I'm using the following (based on solutions above):

[code]

Parameterize this and add it as a function in your

[2018-09-25 10:38] ctodea commented on #65435
/close

[2018-09-25 10:38] #65435 closed

[2018-09-25 10:40] gjcarneiro commented on #13488
Ah, cool, I didn't know that, thanks!

I don't need the bash alias, at my company we made my own web interface for managing Kubernetes using Python+aiohttp and it  already uses patch.  I thought about open sourcing it, just been lazy...

[2018-09-25 10:41] dghubble commented on #68973
@liggitt thanks for the clarifications. I would prefer to avoid my current workaround of giving it a writeable location so those all sound fine to me.

@sttts is there a full story around these controller-manager changes somewhere? I could mint actual certs, mount from a secret, update clients. If there's merit. Like, how big of a deal is it that this is now always enabled vs before? I'll probably

[2018-09-25 10:43] wjiangjay commented on #68648
After dig, and found the root reason,
we switch the terminal mode for exec, from cooked -> raw -> cooked,
but switch back to cooked from raw will got this issue.

[2018-09-25 10:46] dghubble commented on #68986
@dims adding that flag to the controller-manager does also work to skip the lookup, without me manually editing the ClusterRole.

Although if controller-manager defaults to looking up the configmap, I'd imagine the `system:kube-controller-manager` clusterrole should default to allowing configmap get's, no?

[2018-09-25 11:06] Phineas commented on #33777
Still having this issue... on GKE.

[2018-09-25 11:30] cwsolee commented on #67721
We did chat a bit internally and @alicefr is trying to get some help, no good news yet.

[2018-09-25 11:41] vinodhbasavani commented on #64586
@sbeckwithiii

[code]

[2018-09-25 11:44] senthilrch commented on #66221
#68930

[2018-09-25 11:45] senthilrch commented on #68930
https://github.com/kubernetes/kubernetes/issues/66221

[2018-09-25 12:02] islinwb commented on #68974
About `ipset comment`:
added in #63585 and removed in #65533.

The problem of creating ipsets with comments only exists in code with tag `v1.11.0`, `v1.11.0-beta.0`, `v1.11.0-beta.1`, `v1.11.0-beta.2`, `v1.11.0-rc.1`, `v1.11.0-rc.2`, `v1.11.0-rc.3`.

If you ever used the code of the above tag (for example, upgrade to/from), the problem `Failed to make sure ip set...error: error creating ipset...`

[2018-09-25 12:36] shubheksha commented on #69028
/area kubecil
/sig cli node

[2018-09-25 12:37] shubheksha commented on #69026
/sig openstack

[2018-09-25 12:41] dskarlatos opened #69034 "Huge syscall overhead when host-image OS miss match"
**What happened**:
Huge syscall performance overhead when host OS and image OS mismatch.

**What you expected to happen**:
Performance should be similar to native even if OS of image is different from host OS.

**Detailed description and benchmark**:
I'm benchmarking syscall performance inside containers on a kubernetes cluster. I wrote a simple getpid benchmark that iterates over the syscall. Whe

[2018-09-25 12:47] stepin commented on #36601
As I understand, if pod is already scheduled it will be not deleted automatically. This is why there is https://github.com/kubernetes-incubator/descheduler project to delete pods if during runtime conditions (like labels on nodes) changed.

[2018-09-25 12:57] dskarlatos commented on #69034
@kubernetes/sig-node-bugs

[2018-09-25 12:59] stepin commented on #36601
Our use case: init k8s node in GKE. As GKE have autoscaling of nodes it's impossible to use 3d-party configuration systems like Ansible. Also, GKE don't have ability to pre-create VM image for k8s node with required fixes (it will help for for some static configuration cases but not for all).

Now we can create DaemonSet that will do some work and finish with command like `tail -f /dev/null` (do n

[2018-09-25 13:14] jgschmitz commented on #23726
You must run these commands first -

[user@k8s-master ~]# mkdir -p $HOME/.kube
[user@k8s-master ~]# cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
[user@k8s-master ~]# chown $(id -u):$(id -g) $HOME/.kube/config

[2018-09-25 13:14] Flaviohnb commented on #33664
**Using CICD gitlab**

In .gitlab-ci.yml in the deploy step I did
 "**kubectl set image deployment / nginx-deployment nginx = nginx: 0**"
and then
"**kubectl set image deployment / nginx-deployment nginx = nginx: latest**"

With these two steps he updates your "wrong" image with tag 0 and then "correct" with the latest tag.

Kubectl set image, reference: "https://kubernetes.io/docs/concepts/worklo

[2018-09-25 13:15] matti commented on #13488
Looks like people are repeating the same workaround solutions in this thread - please read the full thread before posting here

[2018-09-25 13:32] tpepper commented on #68973
If this is going to get some text in release notes Known Issues (seems like it should), somebody needs to draft the text and make a suggestion of it in #68840 ASAP.

[2018-09-25 13:33] tpepper commented on #68986
This seems like it should get a Known Issue comment in the release notes for 1.12.  Can somebody please draft test and drop it in the known issues bucket issue #68840?

[2018-09-25 13:37] deitch commented on #33664
FWIW, I went in the complete opposite direction. In all of my deployments, I now use not only tagged images, but include the `sha256` hash on those images. Quite simply, I use `latest` almost nowhere, and even actual tags (even as far as using the git hash as a tag) almost nowhere, as I use the tag _plus_ the `sha256` of the manifest.

[2018-09-25 14:44] rkttu commented on #65163
@PatrickLang I keep watching that you're doing a lot of things to make the Kubernetes Windows version to GA state. Is there a bug related to this problem that you are experiencing during your failed E2E tests? If you have any updates about this issue, I would appreciate it if you share.

[2018-09-25 14:55] rkttu commented on #66947
@PatrickLang @daschott This October 16 is not just a patch for HNS, it's also the expected release date for Windows Server 2019 and Windows Server 1809. Unless it is absolutely necessary, I think that installing a newer version of the LTSC operating system is a better choice than applying the patch to fix this problem on Windows Server 1803.

I think I can close this issue if I can build a service

[2018-09-25 15:35] gabrielfsousa opened #69038 "k8s: 1.11.3 - HPA: failed to get cpu utilization: unable to get metrics for resource cpu: unable to fetch metrics from resource metrics API: Unauthorized"
/kind bug
/sig autoscaling

**What happened**:
horizontal-pod-autoscaler  failed to get cpu utilization: unable to get metrics for resource cpu: unable to fetch metrics from resource metrics API: Unauthorized
[code]
**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version: **v1.11.3**
- Cloud provider or h

[2018-09-25 15:37] #68279 closed

[2018-09-25 15:58] markusheiden opened #69039 "kubectl wait fails for jobs with metadata.generateName"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a job with metadata.generateName twice and waited for completion, but got:

    panic: interface conversion: runtime.Object is *unstructured.UnstructuredList, not *unstructured.Unstructured

**What you expected to happen**:

kubectl to wait for the last job to complete.

**How to reproduce it (as minimally and

[2018-09-25 15:59] barney-s commented on #65502
I was thinking more like a flush() but a service level.
Assume the container is giving up some distributed locks or sending an iam shutting down signal to an external service.

[2018-09-25 16:05] daschott commented on #65163
@rkttu I apologize for the delay in the investigation but we haven't tested Kubernetes on Windows on AWS much, and we do not see this issue reproduce anywhere else, which makes it difficult for us to investigate.

[2018-09-25 16:11] vladimirvivien commented on #69015
@tossmilestone
As I mentioned in issue, existing in-tree volume plugins were already using  that directory as a location to store storage operation artifacts (not just csi).  Here is a shortened list of driver locations that use /var/lib/kubelet/plugins in their code already:

* https://github.com/kubernetes/kubernetes/blob/bc6cb90820761699073e8c2e796b2d73c3d4310b/pkg/volume/fc/fc_test.go#L432

*

[2018-09-25 16:19] daschott commented on #66947
@rkttu The official KB for this issue was *delayed* internally, as a complete fix requires changes in other critical components (VFP) + another subsequent HNS patch. However, if you have a Microsoft support engineer & business justification, we should be able to give you a private hotfix for Windows Server 1803 earlier than October 16th . This issue will *also require a patch on Windows Server 201

[2018-09-25 16:26] sgnn7 opened #69040 "Published k8s.io/client-go modules give `checksum mismatch` when downloaded in different GOOS"
Published k8s.io Go modules have mismatching between `darwin` and `linux` GOOS. **As far as I can tell (though I could be wrong), this is not a Golang issue**.

### Version of Go:
Host: `go version go1.11 darwin/amd64`
Container: `go version go1.11 linux/amd64`

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)

[2018-09-25 16:27] spiddy commented on #33664
@flaviohnb be careful because this might fail you in the future, because it works only on some setups

If your replicas is greater than the number of maxunavailable https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#max-unavailable the first command will not scale down all pods with wrong image (assuming you use rollingupdate as deployment strategy which is the default) leaving

[2018-09-25 16:42] krmayankk commented on #68627
Ah I missed this was happening for deletion. And not rolling update . What is the guarantee for deployments ?

[2018-09-25 17:01] raravena80 opened #69041 "Allow adding more volumeClaimTemplates to an existing statefulSet"
/kind feature
/sig storage

**What happened**:

Currently, you get this if you want to update an existing statefulSet with a new volumeClaimTemplate:

[code]

**What you expected to happen**:

Allow the creation of volumeClaimTemplates in a statefulSet.

**How to reproduce it (as minimally and precisely as possible)**:

For example:

[code]

**Anything else we need to know?**:

Some background [he

[2018-09-25 17:33] awslovato commented on #65991
Hi Albert, I did!  On the Kube Slack I found out about using kubeadm to recycle the certs that were expired with `kubeadm alpha phase certs apiserver`. I did move the old certs though, as kubeadm will not work if it sees existing certs as per:
https://github.com/kubernetes/kubeadm/issues/649

Now my issue is that my users filled the Docker volume. I have to start all over now, and I'm not keen on

[2018-09-25 17:53] rkttu commented on #65163
@daschott If it helps, I am willing to give you all the data for the Windows EC2 instance that is experiencing the problem. Could you give me an intensive look at this problem?

[2018-09-25 17:54] davidz627 commented on #68570
/reopen

This is still an issue.

I think @msau42 and I have zeroed in on the problem:
InnerVolumeSpec name comes from the attached volume object in Actual State of the World cache. This object *might* (not confirmed) not get updated when you have multiple pods using the same PD on the same node. This happens when the first pod is removed but the volume hasn't finished Detaching (removed from ASW)

[2018-09-25 17:58] rkttu commented on #66947
@daschott I don't really know how long it will take for server 2019 to be released as a GA version and it will take to publish it as an AWS AMI image, so it's worth pointing out that I'm testing the patch for 1803 first.

Can you tell me more about how to request a patch? I am a Microsoft MVP and know that I have the right to use technical support incidents.

[2018-09-25 18:00] misterikkit commented on #68957
/assign @PrasadG193
/remove-help

[2018-09-25 18:02] bsalamat commented on #69010
@tianshapjq Thanks for the PR, but as it is mentioned in the issue, we should deprecate Node.Spec.Unschedulable only when TaintNodeByCondition is GA. TaintNodeByCondition is beta in 1.12 and will probably not be in GA in 1.13. So, there will be some time before we can deprecate Node.Spec.Unschedulable.

[2018-09-25 18:04] #68327 closed

[2018-09-25 18:04] #68163 closed

[2018-09-25 19:04] huawenli opened #69048 "Give master/node specific IP address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have two VMs, VM1 will act as master and VM2 as node. Each VM has two interfaces, enp0s3 as NAT and DHCP with 10.0.2.15/24 by system for both VMs, enp0s8 as host-only adapter static with 192.168.56.110 and 192.168.56.117 for VM1 and VM2,
at the time 'kubeadm init', 'kubeadm init --kubernetes-version=192.168.56.110 --pod-network-ci

[2018-09-25 19:09] misterikkit commented on #68954
I got some feedback from @smarterclayton and @bsalamat on this, and it is preferred for the constructor to take each informer and lister as a separate argument. Sorry to change the requirement on you. Could you update your code based on that?

[2018-09-25 19:28] bitglue commented on #23130
/remove-lifecycle stale

Would be great to see the fix incorporated in the official releases.

[2018-09-25 19:39] RenaudWasTaken commented on #69015
Well given the fact that the pluginwatcher is beta this is a bit of an issue. My thinking is that we want to be backwards compatible for all plugins published with the beta API.

Meaning that even if we move the registration directory to a new location, we'll need to keep scanning the old directory (to pick up v1beta plugins).

From a 10 000 feet point of view it seems easier to me if we move the

[2018-09-25 19:41] shubheksha commented on #68962
I'll pick this up.
/assign

[2018-09-25 19:42] markusheiden commented on #69039
@kubernetes/sig-scheduling-bugs I have to choose a sig, but I am not sure which one is right...

[2018-09-25 19:42] shubheksha commented on #68963
@tossmilestone, are you interested in working on this issue?

[2018-09-25 20:45] gdoctor commented on #44540
Any update from anyone in the metrics-server community? Heapster is deprecated as mentioned above, yet the metrics-server commands are still asking for a heapster server. @DirectXMan12 @piosz

[2018-09-25 20:46] jingxu97 commented on #68570
this is the same issue as https://github.com/kubernetes/kubernetes/issues/61248
PR https://github.com/kubernetes/kubernetes/pull/61549 fixes the issue
Cherry pick the PR for release-1.10 https://github.com/kubernetes/kubernetes/pull/69050

[2018-09-25 20:48] SandeepPissay commented on #67900
@abrarshivani is looking into #63413 to see if this solves all the use cases for vSphere.

[2018-09-25 20:55] gaieges commented on #56903
I think we found another fix for this - to use tcp mode on dns requests in a container by adding the following to the spec:

[code]

[2018-09-25 21:05] steven-sheehy commented on #65228
/remove-lifecycle stale

[2018-09-25 21:09] nmittler commented on #65502
@barney-s

Assume the container is giving up some distributed locks or sending an iam shutting down signal to an external service.

Sure... separating the `preStop` hooks so they run before any containers are terminated should allow the application to perform any flush-like activities.  Is that what you were thinking?

[2018-09-25 21:09] mtaylor91 opened #69052 "PortForwarder.GetPorts does not return correct port number when local port omitted or set to zero."
/kind bug

Hey guys,

I came across the new code on master to return the list of forwarded ports (see here: https://github.com/kubernetes/client-go/blob/master/tools/portforward/portforward.go#L349).

After doing some testing, I discovered that this function does not return the correct port if the local port is specified as '0' or left unspecified.

This seems to be because the port reference pass

[2018-09-25 21:11] mtaylor91 commented on #69052
/sig cli
(I think - the issue is in the go client, not so much the CLI; but there is no client SIG, so... ¯\_(ツ)_/¯)

[2018-09-25 21:31] s1113950 commented on #44540
When `error: metrics not available yet` happened to me it ended up being an error with the metrics deployment itself. I did a `kubectl get pods -n kube-system`, found the metrics pod and a `kubectl describe pod...` helped me diagnose why the deployment wouldn't work.

I had to patch this default metrics-server deployment:
https://raw.githubusercontent.com/kubernetes/kops/master/addons/metrics-serv

[2018-09-25 21:40] #68338 closed

[2018-09-25 21:41] #66720 closed

[2018-09-25 21:59] roycaihw commented on #69014
Hi Luke, could you be more specific on which APIs are having the problem and what errors are you expecting?

To my knowledge there was a documentation bug that our openapi spec didn't reflect the 202 path in API server delete handler. The bug was fixed in 1.12 https://github.com/kubernetes/kubernetes/pull/63418

There is also a known issue that our openapi v2 spec cannot express `OneOf` concept fo

[2018-09-25 22:16] mortent commented on #68627
I have created a PR to update the documentation to reflect the current behavior and guarantees provided by StatefulSets: https://github.com/kubernetes/website/pull/10380

I discussed this with @enisoc and @kow3ns, and there probably is a way to do this using a custom finalizer to prevent the garbage collector from deleting the pods until the StatefulSet controller can scale down to 0. It gets a li

[2018-09-25 22:19] msau42 commented on #65201
I updated the design doc on how to integrate the max pd predicate with volume topology: https://github.com/kubernetes/community/pull/2711

I left out supporting a volume taking up multiple attach points and a volume consuming other node resources like memory/cpu.  We don't have any concrete use cases or needs for those yet, and we can reconsider if something comes up.  The design for integration i

[2018-09-25 22:21] nikhita commented on #68954
@misterikkit based on the conversation on Slack, I'm guessing you no longer want the help wanted labels here? Removing it now, please add it back later if they should be here. :)

/remove-help

[2018-09-25 22:37] ddebroy commented on #65201
/assign

I will pick this up as we discussed. Thanks for updating the design doc!

[2018-09-25 23:05] jberkus commented on #65180
/remove-lifecycle stale

Since kind/failing-test now exists as a label, it seems like we should add it to tide to accept PRs during code freeze with that label for 1.13.

@AishSundar ?

[2018-09-25 23:31] Random-Liu opened #69060 "Better handle container in unknown state in kubelet."
Container runtime sometimes return [unknown state](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L779) for containers in bad state, e.g. https://github.com/containerd/cri/pull/924 containerd returns `unknown` state if an error occurs when loading container state during restart.

However, this doesn't necessarily mean that the container is stop

[2018-09-25 23:37] yujuhong commented on #69060
Note: docker sometimes report "dead" containers. We may need to handle this differently in dockershim, e.g., simply translate those to exited.