[2022-01-18 21:11] #107619 closed

[2022-01-18 21:21] fedebongio commented on #107491
/assign @leilajal
/triage accepted

[2022-01-18 21:22] fedebongio commented on #107499
/triage accepted
/help

[2022-01-18 21:23] fedebongio commented on #107543
/sig apps

[2022-01-18 21:24] fedebongio commented on #107545
/triage accepted

[2022-01-18 21:28] Jefftree commented on #107498
Created a POC here of adding the deprecated annotation to the swagger.json here: https://github.com/kubernetes/kubernetes/pull/107622

It's a change that I feel is too small for a KEP, would appreciate any feedback.

[2022-01-18 21:42] ehashman commented on #105023
/remove-lifecycle stale

[2022-01-18 21:47] ehashman commented on #104292
/unassign @bobbypage

Clearing assignees for this release, please reassign if you have the bandwidth to complete this.

[2022-01-18 21:47] ehashman commented on #105978
/unassign
/priority important-soon
/milestone v1.24

Clearing assignees for this release to ensure we can distribute the load.

[2022-01-18 21:48] ehashman commented on #105019
/milestone v1.24

[2022-01-18 21:48] ehashman commented on #105020
/milestone v1.24

[2022-01-18 21:49] ehashman commented on #105021
/unassign @yxxhero @mengjiao-liu
/milestone v1.24

Clearing assignees for this release as there are no attached PRs, please reassign if you have the bandwidth to complete this.

[2022-01-18 21:49] ehashman commented on #105022
/unassign @sanchayanghosh
/milestone v1.24

Clearing assignees for this release, please reassign if you have the bandwidth to complete this.

[2022-01-18 21:50] ehashman commented on #105025
/milestone v1.24

[2022-01-18 21:50] ehashman commented on #105023
/milestone v1.24

[2022-01-18 21:59] mmiranda96 commented on #105021
I'm interested in working on this for 1.24
/assign

[2022-01-18 22:04] ehashman commented on #107583
/sig network

[2022-01-18 22:10] aojea commented on #107583
@mhadimani the endpointslice controller is a symptom , the error message complains about a lot resources, you have a problem with the apiserver

[2022-01-18 22:11] bowei commented on #107530
Do we gate the deletion with finalizers? It might be the case that if we get a not ready signal, we need to just wait to see if it can recover the next time the deletion comes around.

[2022-01-18 23:28] Riaankl commented on #100486
/remove-lifecycle stale
Will be address in Feb 2022 Conformance meeting.

[2022-01-19 00:14] #107343 closed

[2022-01-19 00:38] thockin opened #107625 "4 of 5 zz_generated.openapi.go files are checked in - why?"
Checked in:
staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
staging/src/k8s.io/code-generator/examples/apiserver/openapi/zz_generated.openapi.go
staging/src/k8s.io/kube-aggregator/pkg/generated/openapi/zz_generated.openapi.go
staging/src/k8s.io/sample-apiserver/pkg/generated/openapi/zz_generated.openapi.go

Not checked in:
pkg/generated/openapi/zz_generated

[2022-01-19 00:52] yxxhero commented on #106111
@ehashman @SergeyKanzhelev What do you think of? Thanks very much.

[2022-01-19 01:24] vsxen commented on #107611
[code]

[2022-01-19 02:00] jonyhy96 commented on #105589
/remove-lifecycle stale

[2022-01-19 02:02] wzshiming commented on #98319
I tried to fix it before, because the Data in ConfigMap is stored by map, and the traversal order is unstable, so this ability should not be able to do it. #98343

[2022-01-19 02:02] calvin0327 commented on #104432
@SergeyKanzhelev I have been busy with other things recently, if anyone is willing to continue this problem. I will close the PR.

[2022-01-19 02:09] gaocegege commented on #17244
https://tldp.org/LDP/abs/html/exitcodes.html is referred.

[2022-01-19 03:07] KnVerey commented on #94698
We discussed this at last week's SIG meeting and will follow up again next week after taking some time to reflect. You can listen to the conversation starting at https://youtu.be/Wh6eU1AfHBY?t=294. Notes follow.

This is happening because the implementation of `kubectl rollout undo` essentially copies the spec of the targeted ReplicaSet into the Deployment, without touching the last-applied annota

[2022-01-19 03:36] mengjiao-liu commented on #105021
Still working on this.
/assign @yxxhero @mengjiao-liu
/unassign @assign

[2022-01-19 03:36] mengjiao-liu commented on #105021
/unassign @mmiranda96

[2022-01-19 04:43] Shubham82 commented on #107562
Thanks, @deejross  for this information.

[2022-01-19 06:40] pacoxu commented on #104292
[pull-kubernetes-node-swap-fedora](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-node-swap-fedora) always failed
and so does [pull-kubernetes-node-swap-ubuntu](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-node-swap-ubuntu).

[2022-01-19 06:46] zishen commented on #107617
yes， the same in v1.22.2

[2022-01-19 07:34] paipaoso opened #113952 "the namespace in pod is empty"
the code is as follows:
[code]
and output is:
[code]
Can anyone tell me why this happened and how to fix it? thx!

[2022-01-19 07:42] wzshiming commented on #105780
/assign

[2022-01-19 07:44] wzshiming commented on #105780
/remove-lifecycle stale

[2022-01-19 07:55] jeacott1 commented on #89657
@soltysh
I realise this is an old thread, but what about the case where we have a job using a configmap generated via a configMapGenerator? - everytime you try to kustomize .. | apply   a new map is generated, all the other resources update just fine, but theres no way I know of to pin a job to it's original map.
hints and tips welcomed

[2022-01-19 08:01] ravi-kp commented on #107160
Actually, I increased the scrape interval in prometheus.yml file and, now not getting the error.

[2022-01-19 08:27] apsega opened #107632 "Pod hasn't been rescheduled after Disk pressure eviction (exit code: 143)"
### What happened?

After Kubernetes Node Disk Pressure eviction:

[code]

Pod `cdc-hdfs-loader-7fb58bc5c9-8ckr2` should've been rescheduled, instead it went into `error` state with exit code `143`:

[code]

Pod status:
[code]

### What did you expect to happen?

Pod to be rescheduled on another node and in `Running` state.

### How can we reproduce it (as minimally and precisely as possible)?

N/

[2022-01-19 08:39] writeClearly commented on #77258
/remove-lifecycle rotten
Present with v1.23.1

[2022-01-19 09:28] #106615 closed

[2022-01-19 09:31] ThuF commented on #107562
@Shubham82, @deejross, thanks for the comments!

I totally agree that's a good practice to use uppercase environment variables, but there are cases where lowercase/camelcase/etc. format of the keys is expected, due to legacy reasons or simply limitation of the platform. For example, you could take a look at https://kyma-project.io/ and its implementation as part of the SAP BTP, Kyma environment. A

[2022-01-19 10:30] vaibhav2107 commented on #104298
Hi @xmudrii, @SergeyKanzhelev
Is this issue active to work on?

[2022-01-19 10:41] jlsong01 opened #107633 "readability enhancement on unit test of cron job controller"
### What happened?

in TestControllerV2SyncCronJob, there are many listing the properties that don't matter (like nil, false). and many constants F and T, which is unnecessary.

### What did you expect to happen?

As per @alculquicondor 's request, We shouldn't be listing the properties that don't matter (like nil, false). And get rid of constants F and T

### How can we reproduce it (as minimally

[2022-01-19 10:42] jlsong01 commented on #107633
/assign
I would like to work on the optimization

[2022-01-19 11:31] egoroof commented on #72811
/reopen

[2022-01-19 11:56] MadhavJivrajani commented on #84353
FYI - https://github.com/kubernetes/enhancements/issues/3163

[2022-01-19 12:00] gjkim42 commented on #100241
https://kubernetes.slack.com/archives/C0BP8PW9G/p1641412256497400

I think we can expect quite a big performance boost from this issue.
I'll backport #106473 to 1.23 and 1.22.

[2022-01-19 12:09] chamoda commented on #78761
As a temporary workaround I was able to get it scale down by deleting all pods that were not running (pods with state `Terminated`, `NodeShutdown` ect). Make sure only pods with `Running` status are visible when you run `kubectl get pods -A`

This was a GKE cluster (version: 1.21.5-gke.1302) with preemptible option enabled which cause lot of instances to be in status of `Terminated`  or `NodeShutd

[2022-01-19 12:19] et304383 commented on #32946
Can't believe this hasn't been implemented yet.  So we're forced to rely on grep?

/reopen /remove-lifecycle rotten

[2022-01-19 12:23] MadhavJivrajani commented on #107632
/sig node scheduling

[2022-01-19 12:48] rdxmb commented on #85643
/remove-lifecycle stale

[2022-01-19 14:44] leonardpahlke opened #107641 "[Failing test] aks-engine-windows-containerd-master"
### Which jobs are failing?

sig-release-master-informing, aks-engine-windows-containerd-master

### Which tests are failing?

* ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd.Overall
* kubetest.Up

### Since when has it been failing?

2022-01-18 18:55 CET

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#aks-engine-windows-containerd-master

### Reason for fai

[2022-01-19 14:44] alculquicondor commented on #107633
It's not an optimization. It's just about readability.

[2022-01-19 14:44] alculquicondor commented on #107633
/remove-kind bug
/kind cleanup

[2022-01-19 14:47] schellj commented on #99986
/remove-lifecycle stale

[2022-01-19 14:56] liggitt commented on #96647
https://github.com/kubernetes/kubernetes/pull/107276 fixes the authenticator configured in one of the integration test API server startup helpers which resolved this issue for [most integration tests](https://github.com/kubernetes/kubernetes/pull/107276#issuecomment-1016538912).

Remaining tests that still need fixing that are encountering unexpected users look to be ones set up to specifically te

[2022-01-19 15:09] neolit123 commented on #107633
/sig apps

[2022-01-19 16:24] jsturtevant commented on #107641
/triage accepted
/assign

Taking a look this morning

[2022-01-19 16:43] andrewsykim commented on #85643
Yes, but there's been some discussions about extending this functionality for internal traffic (clusterIP).

[2022-01-19 16:51] liggitt commented on #96647
#107644 open to fix remaining integration test users

[2022-01-19 17:26] jsturtevant commented on #107641
The removal of dockershim kubelet flags is causing kubelet to fail to start https://github.com/kubernetes/kubernetes/pull/106907

[2022-01-19 17:29] SergeyKanzhelev commented on #107067
/reopen

still failing

[2022-01-19 17:34] SergeyKanzhelev commented on #107412
this is still flaking

[2022-01-19 17:36] bowei commented on #107530
/assign

[2022-01-19 17:38] #107273 closed

[2022-01-19 17:40] johnSchnake opened #107645 "e2e test progress updates when in parallel mode are incorrect"
### What happened?

Run e2e tests with E2E_PARALLEL=true
See the progress updates that are sent to Sonobuoy (and printed on the command line).
The total test count is listed as -1, the total tests completed and failed go up and down rather than monotonically up. This is because each thread is reporting its own progress independent of the others.

Also see original complaint here in Sonobuoy repo:

[2022-01-19 17:42] johnSchnake commented on #107645
/sig testing
/area e2e-test-framework

[2022-01-19 17:48] mattcary commented on #106637
Sorry for the delay!

Looks like this is exactly [Jordan's guidance](https://github.com/kubernetes/kubernetes/pull/103024#issuecomment-874846127), so I think this plan makes sense. Go for it!

Thanks for your work on this.

[2022-01-19 17:59] jfoy commented on #23130
/remove-lifecycle rotten

[2022-01-19 18:14] JakeReise commented on #52326
Would be helpful to have a call for essentially all-namespaces I have access to. That way I don't need cluster permissions to get resources across multiple namespaces. Can currently cycle through each namespace and gather resource information and store  but that does not scale. A single API call to gather these resources would significantly reduce the time it takes to gather resource information.

[2022-01-19 18:28] apratina opened #107647 "HPA scale in with no reason / blank reason"
### What happened?

HPA scales in the deployment with no reason / blank reason.

![Screen Shot 2022-01-19 at 10 06 12 AM](https://user-images.githubusercontent.com/4571461/150188749-b55ee9e9-bb5f-48c1-a0c9-1839ad4a1f41.png)

### What did you expect to happen?

There should always be a reason for scale in.

### How can we reproduce it (as minimally and precisely as possible)?

Not exactly sure. But

[2022-01-19 18:34] ehashman commented on #105021
ack, thank you!

[2022-01-19 18:36] SergeyKanzhelev commented on #104289
/assign @swatisehgal

/triage accepted

We still need to investigate whether this is a bug or expected behavior

[2022-01-19 18:38] SergeyKanzhelev commented on #107396
/remove-kind bug
/kind failing-test

It looks like a test issue, reclassifying.

[2022-01-19 18:38] jsturtevant commented on #107641
/cc @marosset

[2022-01-19 18:40] SergeyKanzhelev commented on #107493
/remove-sig node
/sig cloud-provider
/kind support
/remove-kind bug

/close

We are using issues to track bugs, please use other ways to get support like k8s forum.

[2022-01-19 18:40] #107493 closed

[2022-01-19 18:43] SergeyKanzhelev commented on #107483
/triage accepted
/assign @ehashman

[2022-01-19 18:44] SergeyKanzhelev commented on #82958
/close

Is it still not resolved? Please re-open again if so

[2022-01-19 18:44] #82958 closed

[2022-01-19 18:46] SergeyKanzhelev commented on #107592
/triage accepted

[2022-01-19 18:47] njegosrailic commented on #104935
/remove-lifecycle stale

[2022-01-19 18:49] SergeyKanzhelev commented on #100328
/triage accepted
/priority backlog

[2022-01-19 18:50] SergeyKanzhelev commented on #107632
/assign @ehashman
/triage needs-information

[2022-01-19 18:54] ehashman commented on #107632
@apsega once a pod is completed or fails (i.e. due to eviction) it will not restart; they are "mortal". If the pod belonging to a deployment was evicted, I would expect that the deployment would create a new pod. If the deployment failed to create a replacement pod, that would be a bug.

/remove-sig scheduling
/sig apps
/close

Please reopen if you are able to provide new information, for example

[2022-01-19 18:56] leilajal commented on #107491
It seems this is a configuration issue. 0 The error message implies that etcd server is rejecting your connection due to URL is not valid.  I guess the issue is with subjectAltName or CN configured in the etcd server.

[2022-01-19 19:03] smarterclayton commented on #107483
How long was the static pod definition removed for?

[2022-01-19 19:05] smarterclayton commented on #107483
Definitely syncTerminatingPod and syncTerminatedPod should not be failing due to "no such container" - if a container can't be found, by definition nothing needs to be done.  Looking.

[2022-01-19 19:12] #104414 closed

[2022-01-19 19:13] smarterclayton commented on #107483
If this is triggered by

[code]

the bug is that GetPodStatus must return an unambiguous error to this code "the pod has no running containers" that the method can use to determine "we're definitely stopped".  We can't exit syncTerminatingPod on an error - we have to keep retrying.  So if you can show me the log line that shows the "no such error" and we can confirm it's coming from GetPodStatus,

[2022-01-19 19:25] ehashman commented on #107483
/unassign
/remove-triage accepted
/triage needs-information

[2022-01-19 19:39] pint1022 commented on #70202
the solution works for me.

[2022-01-19 19:52] hj-johannes-lee commented on #107074
I would like to know which code of which file makes a pod be in the list of activePods()..!
I have tried many things, but I think it's not possible to do anything without knowing that.! Can anyone help me?

And,, @smarterclayton can you explain once more what would be included in the activePods()? The comment @cynepco3hahue said is somewhat not clear to me (since I do not know what current activeP

[2022-01-19 19:59] d-honeybadger commented on #106496
Experiencing another side-effect of this bug.

If job template labels are updated while a cronjob has `active` status (a scheduled job is running), then that cronjob gets stuck in `active`. The cause seems to be the same as @RobinMcCorkell describes: once the job template labels are updated, cronjob controller V2 loses track of the jobs with the old labels, and therefore never updates the status o

[2022-01-19 20:19] ehashman commented on #93925
/remove-triage accepted
/triage needs-information

We need to reproduce this on a more recent version of k8s. We completed a bunch of refactoring in 1.22/1.23 so this may be fixed.

[2022-01-19 20:22] marosset commented on #107641
We need to add support for v1.24 in aks-engine so and update the defaulting logic to no longer set some of these flags.
Here is a PR for tart work https://github.com/Azure/aks-engine/pull/4813

[2022-01-19 20:50] Riaankl commented on #100486
The ApiSerivce endpoints need RBAC to be avalible and RBAC is an optional feature.
Therefore these endpoints would be marked as ineleigeble untill ork is done on the optional conformance module framework.

- patchApiregistrationV1APIServiceStatus
- deleteApiregistrationV1CollectionAPIService
- replaceApiregistrationV1APIService
- replaceApiregistrationV1APIServiceStatus

[2022-01-19 21:18] kevindelgado commented on #105082
/remove-lifecycle rotten
Sorry for the delay, will try to get this in for 1.24

[2022-01-19 21:41] D1StrX commented on #107082
/kind bug

As my comment above, this is not a support question. Ubuntu server 20.04LTS and already did some tests on Ubuntu 22.04LTS have the exact same issue. The container runtime, no matter which of the 3 it is, spams the logs of your server. Silencing it with Systemd v249 on Ubuntu server 22.04 is a _workarround_ **not a solution**.
This happens on each (master)node in each cluster. These are

[2022-01-19 21:44] oomichi opened #107649 "gitlab/runner is Pending at all CI jobs"
### Which jobs are failing?

all CI jobs

### Which tests are failing?

Before kicking tests, those jobs are failed like
[code]
as https://gitlab.com/kargo-ci/kubernetes-sigs-kubespray/-/jobs/1990737178

### Since when has it been failing?

1/18/2022

### Testgrid link

_No response_

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### Releva

[2022-01-19 21:45] oomichi commented on #107649
Oops, I submitted to the wrong repo.
Sorry about that.

[2022-01-19 21:45] #107649 closed

[2022-01-19 21:50] kensipe commented on #103944
I am curious what solution kops provided to close this... and perhaps there were multiple issues.   I could see changes to a non-offending cgroup configuration "fixing" this but that isn't the full story.

It seems in part that Java hotspot had an issue which was also recently resolved however it does require a bump in Java in order to have the full solution.

As reported https://bugs.openjdk.java

[2022-01-19 21:50] nckturner commented on #107246
/triage-accepted

This probably needs a KEP.

[2022-01-19 21:53] nckturner commented on #107231
@jsafrane so what are next steps?  Should issue be closed or does sig-storage want to take it?

[2022-01-19 21:54] nckturner commented on #107230
/assign @msau42

[2022-01-19 21:56] nckturner commented on #107045
Since the topology label is already on the node, this seems to be more of a storage issue.
/remove-sig cloud-provider

[2022-01-19 21:59] nckturner commented on #106476
/triage-accepted

[2022-01-19 22:00] nckturner commented on #86245
/triage-accepted

[2022-01-19 22:02] andrewsykim commented on #106476
EndpointSlice API now supports terminating condition, wonder if ingress controllers can be updated to leverage this for graceful termination of endpoints?

[2022-01-19 22:10] apelisse commented on #107417
No I don't think it is. Update and Apply work differently enough that we can't override one with the other. We probably can figure out a solution but it's not obvious.

[2022-01-19 22:14] apelisse commented on #107434
Yeah, good catch. The comment matches the behavior from alpha, which we changed later on. Thanks for letting us now :-)

I think we could do a better job describing how this value is changed now.

[2022-01-19 22:51] liggitt commented on #107625
ones outside k/k that are in libraries expected to be useful without running custom code generation steps are checked in

[2022-01-19 22:52] liggitt commented on #107617
I think we only need a single issue to track this.

[2022-01-19 22:54] centromere commented on #101324
I am currently affected by this.

/remove-lifecycle rotten

[2022-01-19 22:55] centromere commented on #101324
I am currently affected by this.

/remove-lifecycle rotten
/reopen

[2022-01-19 22:55] liggitt commented on #107617
/close
in favor of https://github.com/kubernetes/kubernetes/issues/101695

[2022-01-19 22:55] KnVerey commented on #94698
One more note: the core k8s docs promote `rollout undo` as the way to roll back changes to a [Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-back-to-a-previous-revision) or [DaemonSet](https://kubernetes.io/docs/tasks/manage-daemon/rollback-daemon-set/), no caveats provided. In fact, the DaemonSet version says:

cc @janetkuo for your thoughts as the origi

[2022-01-19 22:55] #107617 closed

[2022-01-19 22:56] liggitt commented on #101695
As noted in https://github.com/kubernetes/kubernetes/issues/107617, this also applies to display of annotations

[2022-01-19 23:26] liggitt commented on #107625
example issue: https://github.com/kubernetes/kubernetes/issues/75338

there were similar issues with other instances

[2022-01-20 00:42] yangjunmyfm192085 commented on #105022
/assign

[2022-01-20 00:44] 249043822 commented on #105022
/assign

[2022-01-20 01:07] BrandonWeng commented on #100271
/reopen

[2022-01-20 01:39] thesuperzapper commented on #107598
@alculquicondor @tbonfort thanks for the feedback!

I have made some significant updates to the proposal based on your comments:

1. The "pods to kill" vs  "chosen pods" was ill-defined, so I have removed it and simplified the OUTPUTS of a ScaleConfig to:
    - `chosenPods`: the list of Pod-IDs which this ScaleConfig has chosen to be scaled down.
    - `undecidedPods`: the list of Pod-IDs which th

[2022-01-20 01:40] thesuperzapper commented on #107598
@alculquicondor  I am happy to present this proposal at the next Apps SIG meeting (but it would be at 4am my time, Australia).

How would I go about doing this?

[2022-01-20 01:50] liushi001 commented on #107483
At least 15 seconds or more, as following log shows(1 minutes in another recurrence):

I1213 17:26:45.869540   19130 kubelet.go:2249] "SyncLoop REMOVE" source="file" pods=[fst-manage/webhook-paas-192-168-2-2]
...
I1213 17:27:00.876529   19130 kubelet.go:2239] "SyncLoop ADD" source="file" pods=[fst-manage/webhook-paas-192-168-2-2]

[2022-01-20 02:03] liushi001 commented on #107483
I think "no such container" maybe generated from previous residue container, whose id is different from ones of life cycyle changed shown by PLEG log:

After killing container, logs print there are two conainter exited which are 9ff7d0f and 5b0e3b7. But in "no such container" error, the container ID is 740ab75. I think it maybe removed by GC just at the time between ListContainer and InspectConain

[2022-01-20 02:10] janetkuo commented on #94698
`kubectl rollout undo` is an imperative command, similar to `kubectl edit`, and not intended to be used with `kubectl apply`. For `kubectl apply` users, modifying configs (e.g. revert changes) and then apply changes through `kubectl apply` is the declarative way to do a rollback.

[2022-01-20 02:14] slin1237 commented on #107647
i have seen the same thing in our cluster as well
same k8s version
and exactly the same deployment along with hpa worked just fine in another namespace

[2022-01-20 02:41] liushi001 commented on #107483
For details about logs, please see the collapsed `Kubelet Log` part above. I'll pick key lines and explain where is comes from:

I confirmed that the first time the problem occurs, "no such container error" is from this method in `managePodLoop`:
[code]

In later problem recurs for the second time, it is from `GetPodStatus` in `syncTerminatingPod`:
[code]
The following logs shows the message `Unab

[2022-01-20 03:10] pacoxu commented on #107647
/sig autoscaling

[2022-01-20 03:11] 249043822 commented on #105978
@liggitt Does the controls for preventing memory-backed volumes from swapping out need be implemented in kubelet code or be documented for users self-configured on node hosts?

[2022-01-20 04:41] jlsong01 commented on #106637
Thanks for the confirmation. The work is in progress...

[2022-01-20 05:38] tdevinda commented on #107297
I have the same issue. In my case there are two kube-proxy instances running when this happens. Both pods report the same port in use error

[code]

[code]

[2022-01-20 05:58] nano2007 commented on #53459
+1 for this feature

[2022-01-20 06:18] RicoToothless commented on #66450
/remove-lifecycle stale

[2022-01-20 07:14] apsega commented on #107632
Sorry for not being clear in the first place, but that actually was a Deployment and it didn't spin up a new pod after the eviction.

[2022-01-20 07:21] 249043822 commented on #107483
This analysis seems reasonable, actually in the gap for listcontainers and inspectcontainer in `getPodContainerStatuses  `, containergc can remove elder age exited containers, then cause inspectcontainer report "no such container" error

[2022-01-20 07:30] aojea commented on #107297
That is not supported, you can only have one kubeproxy

[2022-01-20 07:30] nehatomar12 commented on #98476
@sunchill06 did you find anything to get `kubelet_volume_stats_available_bytes` metrics ?

[2022-01-20 07:37] ilpozzd opened #107662 "Interface kube-ipvs0 NOARP and DOWN"
### What happened?

When the cluster initializes with kubeadm running, the kube-ipvs0 interface is set to NOARP and DOWN, so services in the cluster exposed through LoadBalancer are unavailable. Manual operations to set the ARP status of this interface to ON and the state to UP result in a state change to UNKNOWN and do not affect the availability of the service.
[code]

In this case 192.168.50.10

[2022-01-20 07:41] ilpozzd commented on #107662
/sig network

[2022-01-20 07:42] ilpozzd commented on #107662
/sig node

[2022-01-20 07:44] 249043822 commented on #107483
If we could catch the error msg"No such container" in the line below, we could ignore this error to prevent stuck in pod terminal, but we should test all the runtime could throw the similar error like "No such container", since the cri-api does not define a NotFound(404) statuscode for container not found.https://github.com/kubernetes/kubernetes/blob/9d2b361ebc7ef28f7cb75596ef40b7c239732d37/pkg/ku

[2022-01-20 07:52] tdevinda commented on #107297
I think that is supposed to be the way. I later found out that kube-proxy is a daemon set. I have two nodes. Master and a minion. So 2 proxies should be normal. 😢 I need to find a way around this. looks like for now a downgrade is the only option.

[2022-01-20 08:17] kevinharing commented on #81089
+1 It's necessary for the RabbitMQ erlang cookie.

[2022-01-20 08:19] pacoxu commented on #105133
/remove-lifecycle rotten
#105142 is ready to review.

[2022-01-20 08:19] redbaron commented on #107417
@apelisse ,

Update already unconditionally overrides anything, so only user visible effect will be that Apply will override Update if both have same `fieldManagerName`, which is exactly what this issue is about -  changes done by the same fieldManagerName should never conflict with itself, regardless of exact operation.

[2022-01-20 08:19] pacoxu commented on #105133
/assign

[2022-01-20 08:21] 1hanymhajna commented on #64148
Hello,
We just saw the same behavior in v1.18 version,
During node replacement (Scaling up new nodes, and moving old nodes to cordon mode) we notice that the sg has been updated automatically and the relevant ELB rule has been removed.
We are using EKS-1.18, and our load balancer type is ELB, nodes are managed by us.

We can see the event triggered by the workers (in cloudtrail) so it approved it

[2022-01-20 08:22] apsega commented on #107632
Had this issue again with the same deployment/pod.

[code]

[code]

Again, kubelet logs:
[code]

Couldn't find anything in control plane (kube-apiserver, scheduler, controller-manager) logs, nor in containerd (container is cleaned up).

/reopen

[2022-01-20 08:33] 249043822 commented on #107483
/triage accepted
/assign

[2022-01-20 08:36] zbogdan7 commented on #107491
Hi there! Question is why does it happen after accidental restart of virtual machines, what makes API server get in misconfiguration and how to resolve this? In my bad, the only solution is to reset and re-init cluster.

[2022-01-20 08:38] 1hanymhajna commented on #64148
The fix is just to handle NLB type, doesn't need to make it global? (ELB, ALB) ?

[2022-01-20 08:41] hj-johannes-lee commented on #103952
Hello, while trying to solve the issue #107074, I still see the similar problem like this.

Kubernetes v1.23.2-rc.0.56+3426f6ceaf92ad-dirty
#I compiled from release-1.23 branch (last commit 15 Jan 2022 06:32)

# Note: This dropin only works with kubeadm and kubelet v1.11+
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/

[2022-01-20 08:42] pacoxu commented on #107662
/area ipvs

[2022-01-20 08:47] ialidzhikov opened #107665 "kube-controller-manager yields whole stack trace when it loses leaderelection"
### What happened?

kube-controller-manager yields whole stack trace when it loses leaderelection.

### What did you expect to happen?

kube-controller-manager to only log `leaderelection lost` and to exit (without logging 17K lines of stack trace that is not useful for anyone).

### How can we reproduce it (as minimally and precisely as possible)?

[code]

kube-controller-manager yields around 17

[2022-01-20 09:11] sftim commented on #107617
/triage duplicate

[2022-01-20 09:44] lsytj0413 commented on #102996
/remove-lifecycle stale

[2022-01-20 09:52] Monokaix opened #107667 "Pods in Terminating status lasts much long time when subPath is set and contains a large number of directories"
### What happened?

I ran a deployment with replicas 1 and use `subPathExpr` to set container's subpath dir, which uses NFS as the storage backend, and create about 100000 dirs in container's subPath dir,when delete the pod, it spent much more time to end `Terminating` status, and when the replicas increase to 10 and do the rolling update, at the same time dir nums in containers increase to 700000

[2022-01-20 09:58] mirusky commented on #43867
What about now ? Have any updates ?

[2022-01-20 10:16] dinhanhhuy opened #107668 "Loss hostAliases records when edit existing deployment"
### What happened?

Create deployment from a manifest file having different "hostAliases" with an upgrade from an existing one.

### What did you expect to happen?

The hostAliases in both case should be have 3 records, not loss when upgrade

### How can we reproduce it (as minimally and precisely as possible)?

1. Create a deployment with the following manifest
[code]
2. Verify hostAliases
[code]

[2022-01-20 10:22] dinhanhhuy commented on #107668
/sig apps

[2022-01-20 10:29] Monokaix commented on #107667
After some debugging, I inspected the pprof with flame graph when delete a pod, it shows that `subpath.doCleanSubPaths` and `filepath.Walk` cost much more time, here is the graph:

![2](https://user-images.githubusercontent.com/16742217/150320838-637e648c-ca95-4d8b-9114-d9e217faa069.PNG)

Apparently the Walk func spent much time when doCleanPath, what we care is the top level dir,and this pr [#826

[2022-01-20 10:30] Monokaix commented on #107667
/sig storage

[2022-01-20 10:32] cyclinder commented on #107662
Do you enable the strictARP?  In layer2 mode and IPVS, we should enable strictARP in config of kube-proxy, refer to https://metallb.universe.tf/installation/#preparation

[2022-01-20 10:33] Monokaix commented on #107667
I tried to fix this, and pr is here[#107669](https://github.com/kubernetes/kubernetes/pull/107669)

[2022-01-20 10:34] ilpozzd commented on #107662
Yes, I do

[2022-01-20 10:41] ilpozzd commented on #107662
MetalLB works correctly, because his function ends on publishing IP address to interface. But i cant reach this IP from K8s node, got "No route to host"

[2022-01-20 10:43] aojea commented on #107491
it is possible that your servers acquire an IP via dhcp or other dynamic allocation method, if those IPs are different after the reboot you can have the inconsistency @leilajal is pointing out

[2022-01-20 10:45] aojea commented on #107297
sorry, let me clarify: I mean "two kube-proxy processes on the same node at the same time" :smile:

[2022-01-20 10:49] zbogdan7 commented on #107491
In my case, my servers have taken IPs from the DHCP server permanently by setting up
appropriate configurations on my router settings, so that's not the case.

[2022-01-20 10:56] aojea commented on #107491
[code]
apiserver can't connect to the local etcd instance

[2022-01-20 11:02] aojea commented on #101324
@centromere the fix is complex and that is the reasons there was not much progress on this, in the meantime you can use an exec probe and curl as workardoung

https://github.com/kubernetes/kubernetes/issues/101324#issuecomment-829910810

/remove-lifecycle rotten
/reopen

Thanks

[2022-01-20 11:23] cuianbing commented on #40422
2022-01-20，I now use `--record` command to prompt me "Flag --record has been deprecated, --record will be removed in the future". Has it been discarded.Is there an alternative solution now。Thanks

[2022-01-20 12:33] swatisehgal commented on #104289
IIUC, this looks like a systemd issue to me as it should not touch cgroups that it didn't create and that is exactly what seems to be happening when `systemctl daemon-reload` is run.

[2022-01-20 12:34] tkashem commented on #107097
1 still needs to be addressed

/reopen

[2022-01-20 12:36] cawoodm opened #107671 "Feature Request: Support Image Registries without Domain Suffix"
### What happened?

Kubernetes is unable to pull images from repositories without a FQDN.

So `myrepo.mycompany.com/image` works but `myrepo/image` does not work.

The point however is that nearly every other tool (ping, curl, browsers etc) support shortened hostnames.

[code]

### What did you expect to happen?

For developers, it's much nicer to specify a short hostname than constantly typing ou

[2022-01-20 12:42] cawoodm commented on #107671
As a workaround we can add the alias to our `/etc/hosts` file and kubernetes suddenly can pull:
[code]

[2022-01-20 13:27] ialidzhikov opened #107672 "azure: LoadBalancer not reconciled properly"
### What happened?

We captured the following logs from a LoadBalancer reconciliation

[code]

At `03:32:46` we have the following failure
[code]

A second after it (`03:32:47`) we see an event from successful LoadBalancer reconciliation:

[code]

The LoadBalancer was not functioning properly.

We restarted azure-cloud-controller-manager and then I managed to reconcile the LoadBalancer successfull

[2022-01-20 13:28] ialidzhikov commented on #107672
/sig cloud-provider
/area provider/azure

[2022-01-20 13:34] robbertvdg commented on #105204
We see the same behaviour with custom configMaps and secrets. Any news on this?
I think it might be related to the [CronJobs v2 controller](https://github.com/kubernetes/enhancements/issues/19) which is the default in 1.22.

[2022-01-20 14:31] liggitt commented on #105978
I'm not sure? Is node host configuration possible to do once outside the kubelet, or is it a configuration that has to be applied for every new pod/container?

[2022-01-20 14:35] jsafrane commented on #107231
I think we can close this issue.

[2022-01-20 14:35] jsafrane commented on #107231
/close

[2022-01-20 14:35] #107231 closed

[2022-01-20 15:30] linastehle commented on #107333
I just updated the issue description, we see the tar files being corrupted after kubectl did at least one retry

[2022-01-20 15:33] neolit123 commented on #107100
adding sig label
/sig api-machinery
/kind feature

[2022-01-20 15:34] neolit123 commented on #107665
/sig api-machinery

[2022-01-20 15:35] neolit123 commented on #107671
/sig node
/kind feature

[2022-01-20 15:46] jayunit100 commented on #103860
https://github.com/kubernetes-sigs/kpng/pull/83 <-- finished porting it over for the windows userspace side ! ok, if anyone wants, they can delete that portion of the codebase :) if not we'll issue a PR in a few weeks once *linux userspace* porting is done w the entire removal....

[2022-01-20 15:52] manavsiddharthgupta commented on #99828
can you assign me

[2022-01-20 16:28] pbetkier commented on #102369
/reopen

@danishprakash are you planning to finish this task? Otherwise I'll take over.

[2022-01-20 16:53] MikeSpreitzer commented on #107097
Also, 4 is still open.  I will submit a PR for further cleanup in that area.

[2022-01-20 17:05] NikhilSharmaWe commented on #107246
@nckturner I think for adding this check we have to add a function similar to function [isSessionBusy()](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/iscsi/iscsi_util.go#L641) `inDetachDisk()` function.

Could you please help me a little here because the functions used in `isSessionBusy()` are not present in the other vendors like in `fcutil.go`, also the some of the types which

[2022-01-20 17:11] ardaguclu commented on #106374
I think this issue is fixed with https://github.com/kubernetes/kubernetes/pull/105566

[2022-01-20 17:14] jsturtevant commented on #107641
/reopen

The job is still failing with some flags that were missed: `Error: failed to parse kubelet flag: unknown flag: --cni-bin-dir`

[2022-01-20 17:41] fedebongio commented on #107100
/assign @jiahuif
Jared would you mind taking a look? thanks!
/triage accepted

[2022-01-20 17:41] fedebongio commented on #107374
Ping @thockin (sorry!)

[2022-01-20 17:43] fedebongio commented on #107543
/help

[2022-01-20 17:46] fedebongio commented on #107560
/cc some people for visibility @caesarxuchao @cheftako @deads2k @lavalamp
@fjammes are you thinking of sending the PR to make the change? thanks
/triage accepted

[2022-01-20 17:46] fedebongio commented on #107574
/triage accepted

[2022-01-20 17:47] fedebongio commented on #107665
/assign @jiahuif @cheftako
/triage accepted

[2022-01-20 17:49] fedebongio commented on #107538
/triage accepted

[2022-01-20 17:49] fedebongio commented on #107539
/triage accepted

[2022-01-20 17:49] fedebongio commented on #107544
/triage accepted

[2022-01-20 17:49] fedebongio commented on #107617
/triage accepted

[2022-01-20 17:49] fedebongio commented on #107625
/triage accepted

[2022-01-20 17:56] sftim commented on #107539
/remove-triage accepted
based on https://github.com/kubernetes/kubernetes/issues/107539#issuecomment-1013103975

/triage duplicate
is the closer match

[2022-01-20 18:08] sftim commented on #107671
BTW the way Docker defines a hostname is rather vague:

[2022-01-20 18:09] sftim commented on #107671
In terms of tools that work with shortened hostnames in container image references: Docker Engine _does_ (and documents that it does).

[2022-01-20 18:10] sftim commented on #107645
/retitle e2e test progress updates when in parallel mode are incorrect

[2022-01-20 18:12] sftim commented on #107562
At a minimum, we should clearly document this behavior (consider opening an issue against [k/website](https://github.com/kubernetes/website) to request that).

It would also be useful to have `kubectl` emit a warning that it has rewritten the keys to uppercase.

[2022-01-20 18:12] sftim commented on #107562
/remove-kind bug
(triage is unclear at this time)

[2022-01-20 18:13] alculquicondor commented on #107598
You add it to the agenda and a lead will approve it if there is enough space left in the meeting.

[2022-01-20 18:40] vaibhav2107 commented on #103300
/remove-lifecycle stale

[2022-01-20 18:43] vaibhav2107 commented on #102818
/remove-lifecycle stale

[2022-01-20 18:43] vaibhav2107 commented on #102148
/remove-lifecycle stale

[2022-01-20 18:44] vaibhav2107 commented on #99126
/remove-lifecycle stale

[2022-01-20 18:54] drthornt opened #107676 "HorizontalPodAutoscaler Documentation doesn't Mention the role of labels in the metrics calculation."
### What happened?

I created a new deployment "mydeploy-dotnetcounters" with two containers, one with resource request and limit set and one without.

The new deployment had these labels:

[code]

The HPA for a different deployment "mydeploy" started to fail with:

[code]

The "mydeploy" deployment had these labels:

[code]

I added resource request and limit to the second container in the "mydep

[2022-01-20 18:56] drthornt commented on #107676
/sig docs

[2022-01-20 19:03] ehashman commented on #102148
/close

This issue was fixed in the 1.23 release. The job was replaced by https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-node-e2e-serial and https://testgrid.k8s.io/sig-node-cri-o#node-kubelet-serial-crio

[2022-01-20 19:03] #102148 closed

[2022-01-20 19:26] ahmetb commented on #74178
@marckhouzam I'm sorry about slow responses. Finally had time to read it and parse these. You're right we shouldn't randomly call a plugin binary without knowing it supports completion.

From #105867:

kubectl already has a mechanism to find all plugins on $PATH, so I agree that at minimum, kubectl<kbd>Tab</kbd> can and should show plugins installed on the system (even if the plugins themselves do

[2022-01-20 19:47] marckhouzam commented on #74178
@ahmetb brilliant! Thanks for taking the time to think about this.  Your suggestion to adapt krew sounds great to me.

I will continue with the PR on kubectl's side and if it gets accepted we can look at krew.

[2022-01-20 20:08] smarterclayton commented on #11505
kueue proposal suggested auto-paused / access control on unpausing Jobs so that a higher level controller could take charge.  Similarities to this issue which I noted https://docs.google.com/document/d/1jFdQPlGnvjCSOrtAFxzGxEMi9z-OS0VVD1uTfSGHXts/edit?resourcekey=0-BgDvCZcpwFVaCEZj2tlfyw

Initializers tried to target some of this (on creation of a job you could assign some properties without imple

[2022-01-20 20:19] uablrek commented on #107662
kube-ipvs0 should be down and noarp. This is intentional and not a bug. kube-ipvs0 only purpose is to hold addresses that should be directed to ipvs. Compare with proxy-mode=iptables where the vip addresses are on no interface at all. Unfortunately there is no easy way to do that with ipvs, if it were, it would have been used and no kube-ipvs0 interface would have been defined.

The intention is _

[2022-01-20 20:28] aojea commented on #107374
@fedebongio  it test the proxy feature of the apiserver (too many proxies :smile: )

[2022-01-20 20:29] aojea commented on #107374
I can take it
/assign

[2022-01-20 20:52] apratina commented on #87733
/reopen

[2022-01-20 20:55] hannahtaub commented on #87733
/reopen

[2022-01-20 20:57] htaub commented on #87733
/reopen

[2022-01-20 20:59] apratina commented on #87733
It would be nice to fix this issue. As it creates lot of problem on other places that may be using HPA configuration as mentioned in this issue.

[2022-01-20 21:15] marckhouzam commented on #74178
The `kubectl_complete-<plugin>` as proposed in #105867 accepts the exact same arguments as the standard `kubectl-<plugin>` executable.  The new completion executable will examine those arguments and will determine what the shell completion choices following them should be.

[2022-01-20 21:23] niemyjski commented on #98612
Did anyone find a solution for this? I'm seeing this in our eks logs on a new instance.

[2022-01-20 21:27] thockin commented on #107591
yes, IPVS mode still uses iptables for some things, but so does flannel.

[2022-01-20 21:30] thockin commented on #107583
Is this a transient error (i.e. the apiserver eventually comes up and these controllers retry) or are they perma-stuck until restart?

Maybe we need some retry internally?

[2022-01-20 21:36] thockin commented on #107079
@devedse The short answer is no, kube will not update such host-mapped files on the fly.

Is there anything more to do on this issue?

[2022-01-20 21:41] thockin commented on #106976
I don't think we have a clear path to changing a defsult behavior, even one that is ill-advised.  As much as I'd like it to be the default, I think the only way to get there is to add a flag _with compatible default behavior_ and encourage people to turn it on.

e.g. add  a kube-proxy config like `iptables.nodePortsOnLocalhost` defaulting to true, and encourage people/tools to set it to false.

[2022-01-20 21:42] yelhouti commented on #107591
`iptables -S` and `ipvsadm -l` don't show any rule for the specific port.
Anything I can use to see who is playing with me ?

[2022-01-20 21:49] thockin commented on #106951
If the nodes themselves were haaving aa DNS problem, then it's unlikely to have been kube-proxy or cilium, but bugs do happen.

If it happens again, capturing cilium state + `iptables-save` + node's /etc/resolv.conf would help.

Is the `10.20.0.2` address a real address or a k8s service IP?  Was it really up?  Could you do DNS lookups using it specifically?  Could you  do DNS lookups against 8.8.8

[2022-01-20 21:49] #106951 closed

[2022-01-20 21:55] thockin commented on #106476
As @uablrek described, syncing state from all kube-proxies on every change to every endpoint of every service isn't feasible.  I'm not sure terminating endpoints helps much, if the core problem is that the Ingress controller or proxy is out-to-lunch or otherwise not getting updates.

[2022-01-20 21:57] thockin commented on #106024
Can we re-title this or dup it to one of the  existing issues?

[2022-01-20 21:59] jabdoa2 commented on #106024
How would you like to title it? I did not find any duplicates when creating this.

[2022-01-20 21:59] #106011 closed

[2022-01-20 22:09] aojea commented on #107372
/assign @astoycos

[2022-01-20 22:17] bobbypage commented on #100241
Agree, sounds like we should backport it. I don't think we need to bump cAdvisor, we just need to bump k/utils to pick up the fix [kubernetes/utils#228](https://github.com/kubernetes/utils/pull/228)

[2022-01-20 22:48] #105133 closed

[2022-01-20 22:50] vaibhav2107 commented on #59902
Hi @Random-Liu,
Is this issue active to work on.

[2022-01-20 22:51] aojea commented on #107591
`iptables-save` dumps all tables, the rules you are looking for are in the nat table `iptables -S -t nat`

[2022-01-20 23:14] mac-chaffee opened #107678 "[scheduler/controller-manager] Failed to update lock: net/http: request canceled"
### What happened?

If you shut down two out of three control plane nodes, there's a chance the remaining kube-scheduler and kube-controller-manager instances will log this line over and over:

[code]

When the two control plane nodes are powered back on, those logs continue and neither kube-scheduler nor kube-controller-manager do any work during this time (such as start up critical daemonsets on

[2022-01-20 23:19] mac-chaffee commented on #107678
/wg reliability

I think

[2022-01-20 23:21] thesuperzapper commented on #107598
@alculquicondor I have done the following:
- Sent an email to https://groups.google.com/g/kubernetes-sig-apps (but it has not shown up)
- Added an agenda item to the SIG Apps meeting notes.

[2022-01-20 23:32] aojea commented on #107678
are you able to reproduce it with kind?

if you do, please export the logs with `kind export logs` and attach them here in a tarball

[2022-01-20 23:43] ganga1980 commented on #68522
/track

[2022-01-20 23:48] jsturtevant commented on #107641
This should remove the remaining flags: https://github.com/Azure/aks-engine/pull/4817

[2022-01-21 00:17] purin0604 opened #107679 "kube-scheduler schedules pods despite of insufficient resource and the pod fails."
### What happened?

The default scheduler (kube-scheduler) schedules pods and kubelet finds insufficient resources, then pods failed as follows.
[code]
I found there was a few similar threads before (#34772, #42433), but they are outdated and I couldn't find an answer.
Why does the scheduler assigns more than allocatable resource?

The following is the node capacity info when there is no jobs are

[2022-01-21 00:24] purin0604 commented on #107679
/sig <scheduling>

[2022-01-21 00:25] purin0604 commented on #107679
sig/scheduling

[2022-01-21 00:36] 2014BDuck commented on #107679
/sig scheduling

[2022-01-21 01:37] jsturtevant commented on #107641
Latest test run passed: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1484315275804282880

/close

[2022-01-21 01:37] #107641 closed

[2022-01-21 02:11] yelhouti commented on #107591
Thanks a lot @aojea here is the output of the command:
[code]
I can indeed see that it is happening here, but this is gibberish to me :(
I am not used to dealing with IP table rules.
Any idea how I can solve my issue please (to disable SNAT or maybe masquerade for hostPort) ?

And do you know if it is flannel or kube-proxy writing the rule, so I can talk to them to hopefully change the default for

[2022-01-21 02:20] pacoxu commented on #107668
[code]
The reason is that the merge key of HostAliases is `ip`.

/sig api-machinery

[2022-01-21 02:21] pacoxu commented on #107676
/sig autoscaling

[2022-01-21 02:26] pacoxu commented on #107671
/area images-registry

[code]
- `nginx` means `docker.io/library/nginx:latest`.
- `myrepo/image` means `docker.io/myrepo/image`

There will be ambiguity if `myrepo/image` means `docker.io/myrepo/image` or `myrepo.mycompany.com/image`.

[2022-01-21 03:10] denkensk commented on #107679
The version of Kubernetes is  v1.22.4?  right?
Do you use the secondary scheduler in your cluster?

[2022-01-21 03:17] #107668 closed

[2022-01-21 04:23] dinhanhhuy commented on #107668
@pacoxu I closed this issue already. I want to upgrade the "hostAliases" with the same IP in many isolated records. Are there any way to override that config?

[2022-01-21 04:51] dinhanhhuy commented on #107668
relate to https://github.com/kubernetes/kubernetes/issues/91670 find a fix

[2022-01-21 04:58] purin0604 commented on #107679
@denkensk Kubectl is v1.23.1 and K8S API server is v1.22.4. Does this mismatch can occur this problem? I thought one minor difference would be fine, but I will try to match them.
I don't use any secondary scheduler in my cluster, but use Argo WF for deployment.

[2022-01-21 05:01] nirnanaaa commented on #106476
I feel that the actual problem is that pods just get their termination signals way too early in this process, right ? Not sure what ingress controllers or kube proxy should do about that.

[2022-01-21 05:40] thockin commented on #107591
KUBE-* rules are kube-proxy
CNI-* rules are CNI

:)

On Thu, Jan 20, 2022, 6:12 PM yelhouti ***@***.***> wrote:

[2022-01-21 06:24] BenTheElder commented on #107530
diffResources is highlighting a failure to cleanup, the underlying bug is not in the test infra or test framework etc.
/remove-sig testing

/sig network
(or cloud-provider?)

[2022-01-21 06:28] BenTheElder commented on #107645
/triage accepted

[2022-01-21 06:29] BenTheElder commented on #107505
/remove-sig testing

This dbus command should be up to SIG node, though tentatively:
/triage accepted

[2022-01-21 06:30] BenTheElder commented on #107078
/triage accepted

[2022-01-21 06:34] BenTheElder commented on #105988
we should probably start by even rolling out the retain-lgtm feature more widely, I think we still haven't enabled it in this repo. xref: https://github.com/kubernetes/test-infra/pull/24134#issuecomment-992717402

[2022-01-21 06:34] BenTheElder commented on #105988
/triage accepted

[2022-01-21 06:34] jyotimahapatra commented on #107537
I found the right way to do this one. We can just run the tool e2e.test to list the images
[code]

[2022-01-21 06:34] #107537 closed

[2022-01-21 06:36] matthyx commented on #105988
Good idea... in the meantime I should come back to this issue :-/

[2022-01-21 06:39] BenTheElder commented on #105988
no worries! I think this will be tough to roll out, but something we should accept as a valid improvement that would ideally happen someday 😅

in kubernetes/test-infra#24134 you can see that you are not alone in getting too busy for this 🙃

[2022-01-21 07:08] doubletao318 commented on #104493
When the node come back, we got the ControllerUnpublishVolume only.
By the way, we cleanup the stale device at CSI site when the csi-node restart through [Garbage Collector](https://github.com/Huawei/eSDK_K8S_Plugin/blob/master/src/csi/garbage_collector.go)

[2022-01-21 07:12] mhadimani commented on #107583
Hi @aojea ,

This is a not a problem with the api-server, it's possible that the api-server could have gone bad at that moment and may be was in the process of a fail over to another instance.

All our api-servers are running 1.20 version

But the issue is with controller-manager, if a request to get the api resources fail, the controller-manager silently ignores loading those components and keeps

[2022-01-21 07:17] mhadimani commented on #107583
Hey @thockin ,
This was a perma-stuck, we had to manually restart to get this fixed.

There is a retry of 2 times but looks like this hasn't helped much.

Check here - https://github.com/kubernetes/kubernetes/blob/ec1738576d8511a4cc03973d26b5606ec04e8693/cmd/kube-controller-manager/app/controllermanager.go#L444
and
https://github.com/kubernetes/kubernetes/blob/1367cca8fd67b09606b01c0a9e46cef59aef3

[2022-01-21 07:47] aojea commented on #107583
per your last comments it seems that there are more things that may be affecting,a full log of the controller-manager will be useful

[2022-01-21 07:50] aojea commented on #107591
it is the CNI remove this lines

and check the CNI config is correct and nothing overrides it later
https://github.com/kubernetes/kubernetes/issues/107591#issuecomment-1014281292

[2022-01-21 08:00] aojea commented on #106476
the process is not parallel is sequential and async

kill pod -> pod goes not ready -> endpoint controller receives event pod is not ready -> updates the endpoints -> ingress receive and event endpoints has changed -> ...

[2022-01-21 08:30] nirnanaaa commented on #106476
true, but shouldn't the pod be able stay alive until that event has been propagated and processed (just as a preStop hook kinda does)? This would ensure that the container doesn't even enter sigterm until kube-proxy/$controller had time to remove the endpoint.

[2022-01-21 08:30] xmudrii commented on #104298
@vaibhav2107 From my side, I'm not working on it, so feel free to take it over.

[2022-01-21 08:30] b10s commented on #95488
@odinuge the magic mounts very similar with what we can see here
https://security.googleblog.com/2021/12/exploring-container-security-storage.html

: )

[2022-01-21 08:38] ardaguclu commented on #105689
It looks that this idempotency problem is fixed in latest releases(after adding ` "kubernetes.io/metadata.name": "lebug"` label as you mentioned).

All responses are legit;
[code]
Kubernetes Version

[code]

[2022-01-21 08:56] aojea commented on #106476
how do the pod know that?

I see your point, you want to make the process completely synchronous, but is not how Kubernetes works https://kubernetes.io/docs/concepts/architecture/controller/#controller-pattern , oversimplifying you have a bunch of controllers that sync the current state to the desired state, and are eventually consistent,

[2022-01-21 09:06] denkensk commented on #107679
Yes. The mismatch between K8S and kubectl wouldn't cause this problem. I just want to know the environment of your cluster.

Is this an inevitable problem? or does it happen occasionally?  I think it's not caused by Argo WF.

[2022-01-21 09:31] #105899 closed

[2022-01-21 09:55] purin0604 commented on #107679
The problem repeats every time I submit a large amount of tasks at the same time. Sometimes insufficient cpu, sometimes insufficient pods capacity

On Jan 21, 2022, at 1:06 AM, Alex Wang ***@***.***> wrote:

﻿

Kubectl is v1.23.1 and K8S API server is v1.22.4. Does this mismatch can occur this problem? I thought one minor difference would be fine, but I will try to match them.

Yes. The mismatch b

[2022-01-21 10:39] aojea commented on #106976
I've found a better way https://github.com/kubernetes/kubernetes/pull/107684 ;)

[2022-01-21 11:03] fhke commented on #106227
Hi @SergeyKanzhelev, sorry for the delay in response. I figured out the issue - the ebs csi node daemonset was running with a non-critical priorityclass, so was unregistering before the `TearDown` occurred:

[code]

[2022-01-21 11:03] #106227 closed

[2022-01-21 11:58] soltysh commented on #107598
Have you seen https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2185-random-pod-select-on-replicaset-downscale which covers your random example?

[2022-01-21 12:29] #104026 closed

[2022-01-21 12:29] #104291 closed

[2022-01-21 13:08] danwinship commented on #106480
When dockershim goes away, we'll be in the odd position that kubelet creates some iptables rules itself, but it never _uses_ any iptables rules. So we should move all of kubelet's rules into kube-proxy. At that point, there would be nothing for kubelet to clean up.

This probably needs to be done over several releases, as there may be people expecting KUBE-MARK-MASQ to exist who aren't running kub

[2022-01-21 13:08] danwinship commented on #106480
/close
(Closing this as #82125 covers the larger issue.)

[2022-01-21 13:08] #106480 closed

[2022-01-21 13:26] 249043822 commented on #105022
we will give comparison results for metrics in the follow scenarios:
1. the node metrics with swap off and cgroupv1
2. the node metrics with swap on and cgroupv1
3. the node metrics with swap off and cgroupv2
4. the node metrics with swap on and cgroupv2
5. the container level metrics with swap off and cgroupv1
6. the container level metrics with swap on and cgroupv1
7. the container level metrics

[2022-01-21 13:36] neolit123 commented on #106480
we have some kubeadm docs here for clearing rules so this is not a high priority:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#remove-the-node

even if the rules are only in kube-proxy, kube-proxy is also optional in kubeadm and is run as a DS by default, which makes it tricky to execute the kube-proxy cleanup on demand from some container that may

[2022-01-21 13:44] MartinEmrich commented on #86914
/reopen
/remove-lifecycle rotten

This seem still valid with 1.21. @jwolfe-ns 's recommendation does not work here (`--grace-period=0` does not send a SIGKILL here, but has in fact no effect). So I have to wait untill my process is finished, or the (intentionally long) terminationGracePeriod is over.

AFAIR `--force` only removes all records of the Pod from the control plane, but the process might

[2022-01-21 13:53] yangjunmyfm192085 commented on #105022
/cc @ehashman.

[2022-01-21 14:34] p-rog commented on #101695
Are there any news regarding potential patch to this vulnerability?
It seems that some fix in kubectl is the best option right now.

[2022-01-21 14:34] 2uasimojo commented on #105689
@ardaguclu The bug happens when there are no other labels. Are you saying the "fix" was for kubernetes to always add a `kubernetes.io/metadata.name` label to the object?

[2022-01-21 14:37] liggitt commented on #105689
That was an incidental change specific to namespaces. I'd expect the issue still exists for other types

[2022-01-21 14:38] sftim commented on #107676
This really belongs in the [k/website](https://github.com/kubernetes/website) repo
/transfer website

[2022-01-21 14:38] Zempashi opened #107685 "kubeadm 1.19.16-00 depends on kubelet>=1.19.0 which might break upgrade"
### What happened?

Upgrading from 1.18.20 to 1.19.16 on ubuntu 20.04 with pakages results on strange behaviour

Upgrading kubeadm to 1.19.16-00 results in having kubelet 1.19.16-00 to be installed which contradicts the documentation that say
- upgrade kubeadm
- do `kubeadm upgrade node`
- upgrade kubelet

As kubelet has already be installed, it's not restarted to take into account it's new config

[2022-01-21 14:50] yelhouti commented on #107591
@aojea thank you very much, I will do, then restart flannel and see if they get recreated.
Maybe I should delete all the CNI rules to make sure that on restart they get recreated correctly.
Or is this a bad idea ?

[2022-01-21 14:52] Zempashi commented on #107685
/sig release

[2022-01-21 14:52] ardaguclu commented on #105689
@2uasimojo @liggitt you are both right. This is incidental "fix" for namespaces. I'll look at others to find the actual problem.

[2022-01-21 15:00] aojea commented on #107591
if they are not recreated after you restart the pods you have a bigger problem :smile:  just remember delete only the CNI* and then, delete the pods so they can be recreated, restarting them is not the same

[2022-01-21 15:37] fasaxc opened #107687 "podman pre-installs its own CNI, interfering with bootstrap of other CNIs"
### What happened?

Not really sure how to report this, it seems like an incompatibility with another program's use of the CNI config directory.

podman (like kubernetes) seems ot use CNI for its networking.  On systems like RHCoreOS that pre-install podman, podman pre-installs its own CNI plugin and the `87-podman-bridge.conflist` CNI netconf.  This conflicts/races with installing a kubernetes CN

[2022-01-21 15:39] fasaxc commented on #107687
/sig cluster-lifecycle

[2022-01-21 15:46] DominikGM commented on #69696
@jkh52 [Issue 181973707](https://issuetracker.google.com/issues/181973707) (at Google's issue-tracker) lists some system-pods which block down-scaling.

Note also [this comment from Nov, 2018](https://issuetracker.google.com/issues/119440195#comment3) (from another Google issue-tracker) that setting up PDBs should be part of customers where they can define the level of disruption they're ok with.

[2022-01-21 16:07] #107002 closed

[2022-01-21 16:07] liggitt commented on #107002
fixed in 1.23.1

[2022-01-21 17:13] yelhouti commented on #107591
@aojea CNI-HOSTPORT-MASQ is referenced here:

I think I sould delete that two,
And maybe also delete the chain right ?

[2022-01-21 17:22] aojea commented on #107591
your comment is formatted weirdly and I can't really understand what do you mean , sorry :smile:

[2022-01-21 17:23] yelhouti commented on #107591
@aojea sorry, fixed

[2022-01-21 17:30] XudongLiuHarold commented on #99828
/assign @manavsiddharthgupta

[2022-01-21 17:32] aojea commented on #107591
when you say deleting those two didn't solve your problem it means the iptables rules are back with the same names?

If is that you have to check your CNI config, is the one that configures the portmap plugin, is the one adding the rules

[2022-01-21 17:42] yelhouti commented on #107591
@aojea what I mean by didn't solve my problem is: pod still received requests with source ip from cni-0 interface.

[2022-01-21 17:48] aojea commented on #107591
you have to check again the iptables rules and find the ones doing the masquerading, I know I know, this process is tedious :upside_down_face:

[2022-01-21 17:53] aojea commented on #107687
heh, you are going to like this, kubelet doesn't check the cni folder (since the dockershim removal)

https://github.com/kubernetes/kubernetes/blob/5c9c181698c0a8944057c2d4c15ad78de8a96319/pkg/kubelet/kubelet.go#L2320-L2326

it is the container runtime, kubelet polls the runtime using the CRI API, the CNI is competence of the runtime, there is nothing that kubelet can do that

[2022-01-21 17:53] SergeyKanzhelev commented on #107062
Should we replace it across all tests to use just a `containerd`? Is there any reason to keep longer path at all?

[2022-01-21 18:52] SergeyKanzhelev commented on #107505
/area test

[2022-01-21 19:16] mritunjaysharma394 opened #107690 "`anyPattern` of type `apiextensions.JSON` breaks for kyverno cluster policy CRD in k8s v1.23 but works for previous k8s versions"
### What happened?

I have been working on the issue (https://github.com/kyverno/kyverno/issues/3004) and the problem that we are facing is that, we have `anyPattern` defined in [api/kyverno/v1/policy_types.go](https://github.com/kyverno/kyverno/blob/5ad0d152402f690bd5af2a14ce12d1608ca7d4ca/api/kyverno/v1/policy_types.go#L483) as:
```AnyPattern apiextensions.JSON `json:"anyPattern,omitempty" yaml:

[2022-01-21 19:19] centromere commented on #101324
@aojea Indeed it seems like a complex lift. As a workaround, I am using socat in a sidecar as follows:

[code]

[2022-01-21 19:23] #107360 closed

[2022-01-21 19:55] justaugustus commented on #107690
@kubernetes/release-engineering -- Let's keep an eye on this regression!
ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1642794167092000

[2022-01-21 21:16] mmiranda96 commented on #107412
I'm trying to reproduce it locally. I'll post an update of my findings soon.

[2022-01-21 21:35] bowei commented on #106603
@collimarco our hope is that the Gateway API will meet your requirements:

* It is standardized across providers (and you can install your own)
* It offers all the extensibility and knobs required for configuring TLS

Note that TLS configuration can become quite complex when you get beyond
configuring just a certificate and secret and adding that complexity into the
existing Service resource could

[2022-01-21 21:36] #106603 closed

[2022-01-21 21:36] #104505 closed

[2022-01-21 21:36] #104548 closed

[2022-01-21 22:24] yelhouti commented on #107591
here is my diagnoses:
iptables -S -t nat
[code]
<details>
Chain PREROUTING (policy ACCEPT 58687 packets, 4700K bytes)
pkts bytes target     prot opt in     out     source               destination
82770 6151K KUBE-SERVICES  all  --  *      *       0.0.0.0/0            0.0.0.0/0            /* kubernetes service portals */
34324 3282K CNI-HOSTPORT-DNAT  all  --  *      *       0.0.0.0/0            0

[2022-01-21 22:30] ChiefGhostZero0x1 opened #107694 "Pick a template"
Be cool to see who has the easiest to use and most functional template??

[2022-01-21 23:42] amayacitta commented on #76761
Google can do it somehow using Flexible-pod-cidr, not sure if it's yet possible outside of GCP. I ran into the same issue above, took me ages to work it out. Now I've got /20 instead of /23 and can get more than 2 nodes working ;-)

[2022-01-22 00:23] kevindelgado commented on #106558
closing in favor of https://github.com/kubernetes/kubernetes/issues/107545

[2022-01-22 00:23] #106558 closed

[2022-01-22 03:16] liggitt commented on #107665
has Fatalf always triggered a stack dump of all goroutines?

[2022-01-22 04:11] sanposhiho commented on #102231
Yes. I think there are places where `os.Exit` is definitely needed. If we were to introduce linter, we would need to use nolint comment-directive there.
https://golangci-lint.run/usage/false-positives/#nolint-directive

It is difficult to make all developers aware of the need to avoid using `os.Exit`, but, linter can do. Hopefully, developers will avoid using `os.Exit` as much as possible and use

[2022-01-22 11:20] sanposhiho commented on #93794
/reopen
/remove-lifecycle rotten

Still valid

[2022-01-22 11:36] gilesknap commented on #60140
@ghost thanks for this. It provides a much more robust approach copying in and out of pods with helpful progress reporting.

It did not actually fix my problem but allowed me to see that I have a significant network issues (rsync was copying at around 130kb/sec over 1Gb network and eventually lost the connection)

[2022-01-22 12:17] #96647 closed

[2022-01-22 13:56] sanposhiho commented on #102231
Okay, I just found that the latest forbidigo provides the useful feature; custom forbid reason messages.
https://github.com/ashanbrown/forbidigo/pull/11

So, if golangci-lint updates its dependencies, we can use this feature and show error message like:
`Please avoid to use os.Exit as much as possible. see #102231 for more details. If you still think we need to use os.Exit here, you can use "//nol

[2022-01-22 14:10] aojea commented on #102231
/cc @thockin

[2022-01-22 14:14] sanposhiho commented on #102231
So, to sum up, I would propose this migration plan:
- find where `os.Exit` or `klog.Fatal` is used and replace them with appropriate way. (returning error, using panic, just log error or ... etc)
  - For places where they are definitely needed, add `//nolint:forbidigo // reason` to avoid `forbidigo` linter which will be enabled in the next step.
- After replacing, enable `forbidigo` linter and con

[2022-01-22 14:17] sanposhiho commented on #102231
/sig instrumentation

[2022-01-22 16:06] leonardpahlke opened #107702 "[Flaky test] verify-master, verify-typecheck"
### Which jobs are flaking?

sig-release-master-blocking
* verify-master

### Which tests are flaking?

* ci-kubernetes-verify-master.Overall
* verify.typecheck

### Since when has it been flaking?

History goes back until January 7

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#verify-master

### Reason for failure (if possible)

[code]

* [k/hack/verify-typecheck.sh](htt

[2022-01-22 16:44] drew-viles commented on #107297
Not sure if this will be much use in getting to the bottom of it but my fix was to switch the proxy-mode of kube-proxy from iptables to IPVS.

I'm not using KubeADM but have configured the services myself however it may still help those who have configured their cluster using KubeADM

Using proxy-mode iptables:
[code]

Using IPVS:
[code]

[2022-01-22 19:41] bigtob commented on #73570
I'm not sure of the underlying workings but...

`mv ~/.kube/cache ~/.kube/cache-$(date +%d%m%y)`
`kubectl get nodes ; kubectl get pods -A`

...the cache directory will be repopulated and _subsequent_ commands appear to be much quicker thereafter.

[2022-01-23 02:39] fengzixu commented on #102902
I will check the left work in this issue

[2022-01-23 02:40] fengzixu commented on #102902
/assign fengzixu

[2022-01-23 04:25] #107662 closed

[2022-01-23 06:03] kkkkun commented on #107665
/cc

[2022-01-23 08:36] mnaser commented on #104647
/remove-lifecycle stale

[2022-01-23 10:02] aryan9600 commented on #107534
/assign

[2022-01-23 10:44] Varun-garg commented on #44954
what should be the source of truth here - Kube config, cloud vendor, or cluster?

[2022-01-23 18:01] #96177 closed

[2022-01-23 23:08] dee-kryvenko commented on #103812
/remove-lifecycle stale

[2022-01-24 02:08] kerthcet commented on #103890
/remove-lifecycle stale

[2022-01-24 03:33] rocketspacer commented on #27247
What was the outcome of this?

We have a special application deployed in a specific set of nodes using nodeSelector + taints/tolerations.

We observed performance side effects/bottlenecks as the traffic goes through some of our smaller nodes that we use for less important workload.

[2022-01-24 03:58] nikhita commented on #107694
Closing since this is not a valid issue.

/close

[2022-01-24 03:59] #107694 closed

[2022-01-24 04:06] #92783 closed

[2022-01-24 04:30] Nivedita-coder opened #107708 "[Flaky test] ci-kubernetes-unit"
### Which jobs are flaking?

- ci-kubernetes-unit

### Which tests are flaking?

- ci-kubernetes-unit.Overall

- k8s.io/kubernetes/pkg/kubelet/eviction.TestStart

- k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/server/filters.TestTimeoutHeaders

- k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/util/httpstream/spdy. TestRoundTripSocks5AndNewConnection

- k8s.io/kubernetes/vendor/k8s.io/apimachine

[2022-01-24 04:39] BenTheElder commented on #103754
/remove-lifecycle stale
Fairly recent activity on linked PR.

[2022-01-24 04:51] mac-chaffee commented on #107678
I've still been unable to replicate the issue, but I found the root cause: If you have a validatingwebhook for the cluster such as [Gatekeeper](https://github.com/open-policy-agent/gatekeeper), then a partial cluster reboot can be unrecoverable without manual intervention. The cluster gets caught in a circular dependency like the following:

1. kube-controller-manager needs to boot up, so it tried

[2022-01-24 04:51] #107678 closed

[2022-01-24 05:18] Nivedita-coder opened #107709 "[Flaky test] gce-cos-master-slow"
### Which jobs are flaking?

- gce-cos-master-slow

### Which tests are flaking?

- Kubernetes e2e suite. [sig-storage] In-tree Volumes [Driver: gluster] [Testpattern: Pre-provisioned PV (default fs)] volumeIO should write files of various sizes, verify size, validate content [Slow]
- ci-kubernetes-e2e-gci-gce-slow.Overall
- kubetest.Test
- kubetest.diffResources
- Kubernetes e2e suite.[sig-storag

[2022-01-24 05:40] kerthcet commented on #107679
This is a conflict between kubelet and kube-scheduler, you can refer to this [link](https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-1005074672) for details. @purin0604

[2022-01-24 06:08] #95587 closed

[2022-01-24 06:33] MikeSpreitzer commented on #107454
I know less about this than everyone else involved here.

[2022-01-24 06:37] matti commented on #69696
makes absolutely no sense that GKE users need to create PDBs

during the last 3 years and 3 months there have been different pods that have prevented scaledown - I have noticed them and created new PDBs and removed old ones.

this is a ridicilous cat and mouse game.

[2022-01-24 07:05] 249043822 commented on #105978
We also haven't found a config that could limit the tmpfs swapping out in cgroupv2 yet

[2022-01-24 07:12] afbjorklund commented on #107687
This is a known issue, the suggestion is to move the podman CNI directory away from the Kubernetes location.

Kubernetes used the first CNI config (in alphabetical order), and there was no way to change this behaviour...

[2022-01-24 07:26] zgfh commented on #36733
for now, try this:
[code]

[2022-01-24 07:29] nikhita commented on #51475
/remove-lifecycle stale

[2022-01-24 07:52] 249043822 commented on #105467
/remove-lifecycle stale

[2022-01-24 07:53] leonardpahlke commented on #107708
/remove-sig testing

/sig api-machinery

[2022-01-24 07:59] 249043822 commented on #107632
Can you see that whether the phase of pod is still Running while it's was evicted? if so, you may patch this pr:https://github.com/kubernetes/kubernetes/pull/105496, got in v1.22.3

[2022-01-24 08:06] aojea commented on #107708
errors related to connection failures, snippet from 2 different jobs

and

[2022-01-24 08:44] aojea commented on #107708
started to flake recently based on

https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&test=TestRoundTripSocks5AndNewConnection

The test `TestRoundTripSocks5AndNewConnection` was added in

https://github.com/kubernetes/kubernetes/pull/105632/commits/0a98875e9572d998fbdf3bcdaef4961715b8bc06

similar error on the socks5 dependency

https://github.com/armon/go-socks5/issues/34

The error

[2022-01-24 09:00] aojea commented on #107678
yeah, this is a known issues with webhooks

[2022-01-24 09:00] mcbenjemaa commented on #103043
/remove-lifecycle rotten

[2022-01-24 09:36] kerthcet opened #107710 "Reuse informer instance in tests"
### What would you like to be added?

As https://github.com/kubernetes/kubernetes/pull/107703 described, some test utilities like `NewTestQueue()` instantiate an informerFactory and start it. However, the caller instantiates another informerFactory and start it. We should reuse the informer.
https://github.com/kubernetes/kubernetes/blob/dc96c3dfccbc2005e4c4367fc8da199413e2bdcb/pkg/scheduler/eventh

[2022-01-24 09:36] kerthcet commented on #107710
/sig scheduling
/assign

[2022-01-24 09:37] MadhavJivrajani commented on #107709
/sig storage

[2022-01-24 09:40] MadhavJivrajani commented on #107710
/remove-kind feature
/kind cleanup

[2022-01-24 09:42] kerthcet commented on #107710
I don't know why kind/feature added, maybe the default behavior. Just forget it.

[2022-01-24 09:43] MadhavJivrajani commented on #107690
@liggitt is this good to close considering the cherry-pick is closed?

[2022-01-24 09:49] MadhavJivrajani commented on #107685
/sig cluster-lifecycle
/kind support
(?, please feel free to re-label if needed)

Thanks! ❤️

[2022-01-24 09:54] fasaxc commented on #107687
Has the NetworkUnavailable taint gone away; I'm wondering how pods get scheduled to this node.  Maybe their (CSI-related) pods are tolerating the taint.

[2022-01-24 10:01] Akrog opened #107711 "External Storage data source e2e tests failing due to unflushed data."
### Which jobs are flaking?

It's not a CI job that is failing, the failures are happening when I run the e2e external storage tests myself with the Ember CSI driver, but I thought this would be the most appropriate kind of issue to open.

### Which tests are flaking?

During e2e External Storage provisioning tests the following tests fail:

[code]

### Since when has it been flaking?

I assume th

[2022-01-24 10:09] afbjorklund commented on #107687
`nerdctl` creates the network on-the-fly, or it would have had the same issue (break-on-install)

`containerd` doesn't ship the cri/cni configuration, unless you go for the alternative download...

[code]

`crio` does install a cni network, but most users installing that tool expect it to interfere with k8s

it might get lucky due to the alphabetic sorting or something, with carefully named config

[2022-01-24 10:14] MadhavJivrajani commented on #107665
@liggitt
Seems like `klog.Fatalf(...)` does a dump of all goroutines
https://github.com/kubernetes/kubernetes/blob/b0f0aad2cedc1168bc44387e5a3d6d7745ae580b/vendor/k8s.io/klog/v2/klog.go#L1638-L1643

Could we `klog.ErrorS(...)` and then `os.Exit(255)` maybe?
/cc @pohly

[2022-01-24 10:19] fasaxc commented on #107687
Maybe the CNI netconf needs a field that sets which CNI users should use/ignore that CNI netconf.  IDK, bit of a mess to assume that there'll be one CNI that it right for everything on the system.

[2022-01-24 10:23] MadhavJivrajani commented on #107611
/cc @bobbypage

[2022-01-24 10:32] MadhavJivrajani commented on #107597
/cc @sftim
could this be a docs improvement maybe?

[2022-01-24 10:37] sftim commented on #107597
/uncc

This looks like a general question rather than one for me specifically.

[2022-01-24 10:37] sftim commented on #107597
/sig docs

[2022-01-24 10:59] pohly commented on #107665
Yes, but if I read the [original code](https://github.com/kubernetes/klog/blob/3e682cc72cac34d315430d66d4af375cbec079c5/glog.go#L654-L657) right, it only printed the current goroutine to stderr. Dumping everything seems to have been added later.

[2022-01-24 11:16] pohly commented on #107665
Dumping of all goroutines was added in https://github.com/kubernetes/klog/pull/79.

[2022-01-24 11:35] fusionneur commented on #92463
still heppening:
 Problem: cannot install both kubelet-1.18.4-0.x86_64 and kubelet-1.23.2-0.x86_64
  - cannot install the best update candidate for package kubernetes-cni-0.8.7-0.x86_64
  - cannot install the best update candidate for package kubelet-1.23.2-0.x86_64

[2022-01-24 12:16] RajivTS commented on #96717
The linked PR appears to be closed, so is it still being worked on? If not then I would like to pick it up.
@danwinship @theunrealgeek

[2022-01-24 12:19] aojea commented on #107708
/assign

[2022-01-24 13:14] baracoder opened #107714 "kubectl logs -f .. -l ... fails if one of the matching containers is not ready"
### What happened?

kubectl stopped the command, because one of the pods that the label matches is in `Shutdown` state and the logs of the container are not available
[code]

### What did you expect to happen?

kubectl would warn about the missing container and print the other logs.

### How can we reproduce it (as minimally and precisely as possible)?

1. Use a cluster with pods in `Shutdown` sta

[2022-01-24 13:18] josephburnett commented on #102369
/reopen
/assign pbetkier

[2022-01-24 13:34] knabben commented on #106718
cc @hxietkg

[2022-01-24 13:40] diannaowa opened #107717 "when LogPath is empty, Kubelet removes some files that we don't expect to remove"
### What happened?

I am implementing a Runtime for Kubernetes using CRI.
When containerStatus.Status.LogPath is empty, Kubelet removes some files that we don't expect to remove, such as /bin symbolic links.

### What did you expect to happen?

I think Kubelet will print an error log telling me that LogPath cannot be empty

### How can we reproduce it (as minimally and precisely as possible)?

 Wh

[2022-01-24 13:50] knabben commented on #104428
/remove-lifecycle rotten

[2022-01-24 13:55] YanzhaoLi commented on #107597
@yangjunmyfm192085  Yes.  But no matter whether enabling this flag or not, these 6 kernel parameters would be the same in both cases, as long as kubelet wants to run successfully.

So can I say that the only difference is to let sysadmin to know that they should manually set these 6 kernel parameters to the required values?  Because, disabling the flag, kubelet automatically sets these 6 kernel pa

[2022-01-24 14:01] leonardpahlke commented on #107709
/remove-sig testing
cc @kubernetes/ci-signal

[2022-01-24 14:13] sftim commented on #107597
I notice that the command line option `--protect-kernel-defaults` is deprecated. I don't think it's important to document it further. We should document the config file equivalent, though.

[2022-01-24 14:18] hj-johannes-lee opened #107721 "The CPU manager does not work correctly for the guaranteed pod with multiple containers and kubelet flag --cpu-manager-policy=static"
### What happened?

With the flag **--cpu-manager-policy=static** and other required flags **--kube-reserved** and **--system-reserved**,
similar situation to the issue #103952 happens.

A guaranteed pod that has multiple containers gets the status "CrashLoopBackOff". Detailed description is [here](https://github.com/kubernetes/kubernetes/issues/103952#issuecomment-1017238454).

### What did you e

[2022-01-24 14:28] kkkkun commented on #107665
I have similar doubts.  I want to fix it.
/assign

[2022-01-24 14:29] kkkkun commented on #107665
/assign

[2022-01-24 14:35] lazarkrstic opened #107723 "Can not apply job with large yaml file - RequestEntityTooLarge"
### What happened?

Hi everyone!

We need to to start batch job with large input. **The problem is limit for yaml file size**. Current limit is just `3 MB`, but my job is larger, approximately `200 MB` .  When trying to start we get the following error:
[code]
We tested this at both EKS and local k8s instalation, same results (errors) in both times. Jobs with yaml files smaller than `3 MB` works f

[2022-01-24 14:36] liggitt commented on #107708
cc @xens

[2022-01-24 14:37] liggitt commented on #107690
yes, fix is merged to 1.23 release branch and will be included in 1.23.3

[2022-01-24 14:37] #107690 closed

[2022-01-24 14:44] MadhavJivrajani commented on #107714
/sig cli

[2022-01-24 14:57] aojea commented on #107687
cni folks were/are working in the next version, maybe this is good feedback for them @squeed @dcbw

[2022-01-24 15:00] TBBle commented on #97739
/remove-lifecycle stale

[2022-01-24 15:10] dims opened #107726 "Helper CI job that runs `make update` to make it easier for contributors"
Quite a few contributors do not have access to beefy environments to run `make update` or `make verify`. They are able to use vscode/wsl/codespaces etc to suggest changes, but do get tripped up from our `make verify` scripts as quite a few scenarios we end up with files that needs to be re-generated. Its a high bar for them to parse the build log from `make verify` to see which exact scripts in ha

[2022-01-24 15:10] tkashem opened #107727 "absence of openapi configuration in integration tests makes server-side apply panic (broke apf controller when it switched to SSA)"
### What happened?

Integration test timed out due to the following error
[code]
The error appeared 748 times in the log. Looks like lots of churning happens during the apf configuration bootstrapping phase.
Is there a race condition between when the type is being registered and the API calls?

Stack trace:
[code]
Integration job link: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/10

[2022-01-24 15:32] MikeSpreitzer commented on #102744
/reopen

[2022-01-24 15:33] MikeSpreitzer commented on #102744
/remove-lifecycle rotten

[2022-01-24 15:37] MikeSpreitzer commented on #107727
I see

[code]

[2022-01-24 15:38] MikeSpreitzer commented on #107727
The fact that it happens to a non-mandatory object implies that the object was received from the server, so the type must be in the server.

The APF config-consuming controller does this:

[code]

[2022-01-24 15:39] MikeSpreitzer commented on #107727
Look for the output from this line:
[code]

[2022-01-24 15:44] neolit123 commented on #107721
/sig node

[2022-01-24 15:44] neolit123 commented on #107717
/sig node

[2022-01-24 15:46] neolit123 commented on #107723
/sig apps api-machinery

[2022-01-24 16:01] fasaxc commented on #107687
Good idea:
https://github.com/containernetworking/cni/issues/878

[2022-01-24 16:13] #98097 closed

[2022-01-24 16:43] hj-johannes-lee commented on #107721
Ah!!
I am so sorry, i guess it is not the bug of kubernetes, but of the image...

[2022-01-24 16:43] #107721 closed

[2022-01-24 16:53] dims commented on #52185
long-term-issue (note to self)

[2022-01-24 17:01] theunrealgeek commented on #96717
@RajivTS Please take it up and feel free to take anything you like from my PR as well.

[2022-01-24 17:04] jsafrane commented on #101791
/remove-lifecycle rotten

[2022-01-24 17:22] enj commented on #105000
EKS does not support the CSR API (the controller that would set the `.status.certificate` field is not present).

Please reach out to EKS for further support.

/close

[2022-01-24 17:22] #105000 closed

[2022-01-24 17:33] ritazh commented on #105063
Closing this in favor of  #91444 so we can track it in the same place.

Please reach out to sig auth if this is issue should be tracked separately.

/close

[2022-01-24 17:34] #105063 closed

[2022-01-24 17:34] afbjorklund commented on #107687
Pretty sure we discussed this as length, where other third party tools were asked to stay out of Kubernetes directories.

Will link if I can find it.

[2022-01-24 18:03] tnqn opened #107730 "Some Pod sandboxes were not cleaned up until next kubelet restart"
### What happened?

After running some Pods and deleting them, sometimes the sandbox containers of the deleted Pods remains until next kubelet restart.

[code]

### What did you expect to happen?

Sandboxes and other resources of deleted Pods should be cleaned up eventually without the need to restart kubelet.

### How can we reproduce it (as minimally and precisely as possible)?

The issue happen

[2022-01-24 18:12] tnqn commented on #107730
/sig node

[2022-01-24 18:16] apollofps commented on #105798
/assign

[2022-01-24 18:31] chrishenzie commented on #103305
/remove-lifecycle stale

I am working to move this feature to beta

[2022-01-24 19:08] mauriciopoppe commented on #105798
thank you for signing up for this task, I believe #107066 should work, we're waiting for additional review

[2022-01-24 19:10] ahmetb commented on #74178
@marckhouzam do you have an insight into whether a plugin developer would develop and ship a separate executable for the completion, or would they simply link the main plugin executable and see if the argv[0] is the kubectl_complete-*? I assume the answer largely also depends on whether the plugin was authored in Go or bash (basically the only two languages I've ever seen a plugin submission in ou

[2022-01-24 19:17] RajivTS commented on #96717
/remove-lifecycle rotten
/assign

Thanks @theunrealgeek.

[2022-01-24 19:18] rphillips opened #107733 "Some static pods fail to start on K8S 1.23"
### What happened?

In Kubernetes 1.23 we are seeing some static pods fail to start. These static pods failures are on quick remove and adds leaving the static pod not started.

We need to revert kubernetes/kubernetes#104743.

cc @gjkim42

### What did you expect to happen?

All static pods should restart.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything

[2022-01-24 19:19] rphillips commented on #107733
/sig node

[2022-01-24 19:20] ehashman commented on #107733
/triage accepted

confirmed race in OpenShift CI

see e.g. https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/openshift_console/10885/pull-ci-openshift-console-master-e2e-gcp-console/1484500374093041664/artifacts/e2e-gcp-console/gather-extra/artifacts/nodes/ci-op-iz49kfy2-75d12-mzq7h-master-2/journal

[2022-01-24 20:03] jyotimahapatra opened #107735 "Kubelet does not assign node address on expanded ipv6 address"
### What happened?

In AWS EKS a issue was discovered in ipv6 only clusters. When nodes with expanded ipv6 address are created `2600:1f14:1d4:d101:0:0:0:ba3d` the string comparison [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/nodestatus/setters.go#L129) ends up comparing `2600:1f14:1d4:d101:0:0:0:ba3d` and
`2600:1f14:1d4:d101::ba3d` and does not assign the ipv6 ip to the

[2022-01-24 20:35] marckhouzam commented on #74178
@ahmetb I think plugins will choose to ship a separate executable.  I feel it keeps the two aspects nicely separate (the plugin functionality and the shell completion functionality).  Also, it is very easy for a separate executable to call back the main plugin if the developer wishes to do so, so I find that solution the most flexible.  For example, for plugins using the Cobra library, the `kubect

[2022-01-24 21:06] mmiranda96 commented on #105978
/cc

[2022-01-24 21:25] pohly commented on #106746
/assign

I have a tentative solution that is based on integrating logcheck into the golangci-lint invocation.

[2022-01-24 21:25] pohly commented on #106746
See https://kubernetes.slack.com/archives/C09QZ4DQB/p1643049767036400 for a discussion of that approach.

[2022-01-24 21:30] SergeyKanzhelev commented on #107062
/reopen

still failing even after the last PR fixing the containerd name

[2022-01-24 21:47] gjkim42 commented on #107733
I guess this case is not relevant to your issue(not restarting static pod).
The staticPodB will restart by SyncKnownPods as it is marked as restartRequested and there is no startedStaticPodsByFullname for its name.

[code]

[2022-01-24 21:57] rphillips commented on #107733
@gjkim42 can you think of anything else that may be racing with a quick add/remove of a static pod?

[2022-01-24 21:59] gjkim42 commented on #107733
@rphillips

Does #107695 not address your problem?
(I guess #107733 is not the case you want to address.)

I am not sure which case you want to cover, but covering it with an e2e test makes more sense as we find out it is hard to be covered with a unit test.

[2022-01-24 22:03] shyamjvs commented on #107133
So the issue I've mentioned above doesn't actually self-recover, and the informer keeps failing and relisting pretty much forever (causing 5xx errors consistently).

Unfortunately I no longer have access to the node where this happened (it was from a customer cluster). That said, I did check the TCP keep-alive settings on a different node (having the same linux image) and it seems to be 2 hours:
[

[2022-01-24 22:04] rphillips commented on #107733
@gjkim42 We'll merge the one liner in our CI and see if it fixes the issue.

[2022-01-24 22:13] shyamjvs commented on #107133
In general, we discussed the above issue in the last sig-scale biweekly meeting (on Jan 20) and decided to ignore this bug for following reasons:
- the only affected k8s versions are <= 1.20 (starting from 1.21, the default recommendation is to turn on progress-notify for etcd) and 1.20 is going to soon be out of the project's support window
- for the affected earlier versions, without some smart

[2022-01-24 22:20] liggitt commented on #105204
The kubelet doesn't treat pods coming from a cronjob or jobs differently than pods from any other source. The 'not registered' error means a call to the kubelet's secret or configmap manager to get a secret or configmap happened when the manager had no record of the kubelet handling a pod referencing that secret or configmap. That should not happen. I also don't see any logic in that manager that

[2022-01-24 22:23] liggitt commented on #105204
https://github.com/kubernetes/kubernetes/commits/master/pkg/kubelet/util/manager is the relevant package.

[2022-01-24 22:23] dims commented on #107726
@SubhasmitaSw could you please help doc this?

[2022-01-24 22:27] jdef commented on #97153
FWIW, I just saw this for a static pod, k8s v1.21.8 using dockershim.

The static pod was crash-looping for bit because some internal dependency was not being met. Then it stalled with "container creation errors". Namely, conflicting container names in docker.

There actually *was* a conflicting container w/ the same name as k8s wanted to create. Kubelet reports "Failed to remove the conflicting c

[2022-01-24 22:37] shyamjvs commented on #107133
Before closing this issue, one idea I want to discuss regarding above is - can we make clients immune to such "replay of events"? That is, let's say reflector is at RV=10 and watch-cache is at RV=5. Instead of relisting from etcd, reflector relists from watch-cache but remembers that it processed events till RV=10 and so ignores any events received until RV=10?

Asking because IIUC, even with prog

[2022-01-24 22:37] liggitt commented on #105204
Also seeing "not registered" methods in kubelet logs in current e2e runs (though it's unclear whether those are coming from the kubelet trying to do volume-related things after a pod has already been torn down). Opened https://github.com/kubernetes/kubernetes/pull/107739 to add some more logging around the refcount increment/decrement cases and the "not registered" instances to see if that is rela

[2022-01-24 22:53] liggitt commented on #105204
https://github.com/kubernetes/kubernetes/issues/105204#issuecomment-996827943 is a report of this happening on a namespace not containing a dash

https://github.com/kubernetes/kubernetes/issues/105204#issuecomment-1017509657 is a report of this happening with both secrets and configmaps

I suspect there's a bug in the secret/configmap manager refcount code in the kubelet.

[2022-01-24 22:54] liggitt commented on #105204
cc @kubernetes/sig-node-bugs @kubernetes/sig-storage-bugs

[2022-01-24 22:58] sftim commented on #67500
I'm going to reopen this, more as a feature request than as a bug.
Yes, the kubelet incorrectly reported the CPU status based on a static snapshot at startup. For me, it'd be nice to have this accurately reported in case of CPU _offlining_. An offlined CPU obviously doesn't provide the CPU resource that the nodes status would imply.

How we might approach this:
- add a component whose job is to li

[2022-01-24 23:15] gjkim42 commented on #107733
@rphillips

Do you use `restartPolicy: Never` and completable static pods?
I think a completed static pod(all containers are terminated) with `restartPolicy: Never` cannot restart.

[code]

[code]

[code]

[2022-01-24 23:21] gjkim42 commented on #107733
https://github.com/kubernetes/kubernetes/blob/f4046f9e6d0bb2fc4fa2d84af64cc9c6db44270a/pkg/kubelet/kubelet_pods.go#L1192-L1200

Already completed static pods are dropped by L1199 and cannot be restarted.

[2022-01-24 23:37] jimangel commented on #105204
Anecdotally, this issue was seen after updating control plane to 1.22.3+ when nodes were currently on 1.21.5. I can reproduce this in a new build of 1.22.3 (nodes and control plane) but I wonder if there's impact on the API side vs. kubelet or if this still aligns with @liggitt's hunch?

[2022-01-24 23:43] thesuperzapper commented on #107598
@alculquicondor @tbonfort @soltysh (and others watching)

__We discussed this proposal in the SIG Apps meeting today, the main points of discussion were:__
- there are problems with the `pod-deletion-cost` annotation from KEP-2255:
    1. it can't be used with existing scaling tools like `HorizontalPodAutoscaler` (annotations must be set BEFORE scale)
    2. even a custom ReplicaSet "scaler contro

[2022-01-24 23:44] liggitt commented on #105204
1.22 didn't drive and new behavior in kubelets, but it would have made more use of shared configmap mounts because of the switch to projected service account tokens. An existing bug in 1.20+ kubelets could be exercised more

[2022-01-24 23:49] shuheiktgw commented on #107702
I've looked into the issue a bit and found two possibly related issues
- https://github.com/kubernetes/kubernetes/issues/105681
- https://github.com/kubernetes/test-infra/issues/23374

[2022-01-24 23:53] yxxhero commented on #107735
/sig node

[2022-01-25 02:31] cheese commented on #93513
I am new to Kubernetes and met the same issue with latest minikube.

[code]

[2022-01-25 03:04] gjkim42 commented on #100408
/remove-lifecycle stale

#101218

[2022-01-25 04:06] #107667 closed

[2022-01-25 05:26] MadhavJivrajani commented on #107727
Another PR with this failure: https://github.com/kubernetes/kubernetes/pull/105483

[2022-01-25 05:39] adisky commented on #106248
cc @andrewsykim

[2022-01-25 05:49] sumeet004 commented on #75803
This really works!!!!!!!!!!!!!

[2022-01-25 06:16] akshaysharama opened #107741 "podpreset is not working with 1.21 k8s version"
### What happened?

Hi,

We were using Kubernetes 1.16 release, we were using pod preset plugin to inject runtime timezone configuration(so that pods will be in the same time as hosts) to the Kube-system pod and as well other pods in a different namespace.
Now, we are upgrading k8s to 1.21 and could see the pod preset plugin is not there, and timezone configurations are not injecting or getting ap

[2022-01-25 06:18] akshaysharama commented on #107741
/sig Usability
/sig k8s-infra
/sig node

[2022-01-25 06:28] SubhasmitaSw commented on #107726
On it @dims 🙌

[2022-01-25 07:24] wojtek-t commented on #105204
Given that it started happening with 1.22 release and kubelets in 1.20+, there weren't many changes that happened in that package. The only non-trivial ones around that time were:
- https://github.com/kubernetes/kubernetes/pull/99393  [v1.21]
- https://github.com/kubernetes/kubernetes/pull/104604 [v1.23 and cherrypicked back to 1.21 and 1.22]

The third alternative I can see is that there is a new

[2022-01-25 08:05] AaronFriel opened #107742 "Kubernetes DNS Specification does not recognize EndpointSlices, kube-dns & coredns diverge on behavior"
### What happened?

Creating an endpoint slice and service in a cluster relying upon kube-dns results in no DNS resolution for either the service name or the hostnames under it. The endpoint slice is not seen by kube-dns.

This impacts Google Kubernetes Engine up to the current rapid version 1.22.3-gke.1500, including with the NodeLocal DNSCache and/or CloudDNS, all of which I suspect rely upon ku

[2022-01-25 08:06] AaronFriel commented on #107742
/sig Network

[2022-01-25 08:14] aojea commented on #107742
This seems a request for kube-dns https://github.com/kubernetes/dns
@bowei @prameshj

[2022-01-25 08:27] damalhot opened #107743 "kubectl logs command gives error if worker node has IPv6 address"
### What happened?

I have a 3-node cluster (1 master + 2 worker). I am exploring dual-stack capabilities of Kubernetes (version 1.21). I have used kubeadm to initialize this cluster. To begin with, I see IPv4 address of nodes in `kubectl get nodes -o wide` command. Also, I can fetch logs of pods using `kubectl logs` command.

Then, I configured all 3 kubelets with --node-ip=IPv6,IPv4. On master,

[2022-01-25 08:31] damalhot commented on #107743
/sig cli

[2022-01-25 08:42] AaronFriel commented on #107742
There is indeed a bug here: two supported DNS plugins behave differently. More importantly though, I think the organizational/spec/conformance issue warrants a review by SIG Network.

One DNS plugin behaves correctly and sees EndpointSlices, **but it's not the one that carries the banner of holding the Kubernetes DNS Specification.**

Another DNS plugin, the former default, doesn't see any new net

[2022-01-25 08:51] marseel commented on #105370
/remove-lifecycle stale

[2022-01-25 08:56] AaronFriel commented on #107742
I've updated the title of this issue to recognize that this is about the spec not being updated to recognize a feature that went from alpha to GA with nary an update, the divergence in behavior between the DNS providers, and resolving the root cause of it.

[2022-01-25 09:26] Shubham82 commented on #104108
Hi
Fixed this issue here #107744

[2022-01-25 09:40] wojtek-t commented on #105204
I was trying to reproduce it, but failed so far.
So couple questions that might help a bit with that:
(1) Are you using watching-manager (default), or is it possible that you're using a cache-based
[It's determined here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L549 based on `ConfigMapAndSecretChangeDetectionStrategy` field of Kubelet configuration (defaulting to

[2022-01-25 09:53] sftim commented on #76982
/reopen

Let's do that.
(also, thanks for the thorough initial report @randomvariable)

[2022-01-25 09:53] sftim commented on #76982
/remove-lifecycle rotten

[2022-01-25 09:53] sftim commented on #76982
/remove-kind cleanup
/kind bug

[2022-01-25 09:55] zetaab commented on #105204
I cannot reproduce this currently with 1.23.1

it is posting that error to pod events, but it still executes the pod fine.

[2022-01-25 10:06] oradwell commented on #103607
I wrote a bash script to clean up the jobs affected by this bug
https://gist.github.com/oradwell/8d3262326dd2b7d51c63708a698e861d

- it looks for active cronjobs
- then their active jobs
- checks the actual status of the jobs
- deletes the jobs that are complete

[2022-01-25 10:11] pohly commented on #106746
I have it working:
- https://github.com/pohly/klog/commits/golangci-lint
- https://github.com/pohly/kubernetes/commits/logcheck

My current thinking is that this issue is not urgent enough to justify a new klog release. I prefer to wait for a decision about the future location of logcheck and then put the updated code there.

[2022-01-25 10:11] pacoxu commented on #107741
PodPreset was removed in #94090 (1.8 added, 1.20 removed)

Some alternatives  can refer to https://github.com/kubernetes/kubernetes/issues/93900#issuecomment-774460034 \ https://github.com/kubernetes/kubernetes/issues/69640#issuecomment-675734553

[2022-01-25 10:35] diyi0926 commented on #107440
Gentle ping on this, this is a blocking issue, without a fix, we need to stay with v1.18.
Do we have a plan to fix this? or maybe I can help to fix @serathius

[2022-01-25 10:50] cyclinder commented on #107743
Can you show the logs of the api-server? I guess the api-server is not using the wrong ipv6 address to send requests to the kubelet

[2022-01-25 11:04] serathius commented on #107440
Removing fields like "fieldPath" was not intended. It should be ok to reintroduce this field to logs like @pacoxu showed in https://github.com/kubernetes/kubernetes/issues/107440#issuecomment-1009786572

This is however not a bug as we don't provide any guarantee about log contents. Feel free to send a PR that will add this field back.
/kind feature

[2022-01-25 11:05] serathius commented on #107440
/remove-kind bug

[2022-01-25 11:24] ahg-g commented on #103607
@oradwell the fix is merged and backported to 1.21; are you able to use the latest version to test the fix? It is available in 1.21.9, 1.22.6 and 1.23.3

[2022-01-25 11:35] Jiawei0227 commented on #104760
/remove-lifecycle rotten

[2022-01-25 11:42] damalhot commented on #107743
Master : 2001:420:db8:11::444:cf
Worker-1: 2001:420:db8:11::444:d0
Worker-2: 2001:420:db8:11::444:d1

Ironically, the following command will again show error (as all nodes have IPv6 address):
[code]
So, I have collected logs from Docker.
[code]

[2022-01-25 11:44] oradwell commented on #103607
@ahg-g thanks for confirming the patch versions, I wasn't sure what patch version it would come in. we're on the latest version of EKS (1.21.5). we'll need to wait for it to come to EKS

[2022-01-25 12:09] justadogistaken opened #107747 "Feature request: support flag "container-runtime-endpoint" and "image-service-endpoint" in kubeadm."
### What would you like to be added?

### Background
kubelet has supported the individual configuration for "container-runtime-endpoint" and "image-service-endpoint". However, only cri-socket supported in kubeadm.
I hope to export these flags in kubeadm.

### Why is this needed?

Kubeadm lacks the flags of configuring image/runtime service in independently.
That makes us have to reconfig the confi

[2022-01-25 12:10] justadogistaken commented on #107747
I could make contributions on this feature if this is needed.

[2022-01-25 12:28] Jiawei0227 commented on #100474
/assign

[2022-01-25 12:49] nbraun-wolf commented on #79606
@blacksd, will it block until *all* pods with that selector are ready? And how to configure rbac in that case? How can you allow to watch, list , get all pods with that selector?

[2022-01-25 12:53] huangyingxian commented on #107297
I have the same error for it

[2022-01-25 13:05] liushi001 opened #107749 "Slow CNI requests, such as TearDownPod would cause PLEG to be unhealthy."
### What happened?

When a Pod is executing TeadDownPod in StopPodsandbox,  PLEG will stuck in asynchronously GetPodNetworkStatus. Because they take the same Pod lock.

A potential condition `networkReady` could avoid the unnecessary wait. But `networkReady` cannot become false until the TearDownPod method is finished and releases the lock.

In severe cases, this causes the PLEG to be unhealthy an

[2022-01-25 13:08] liushi001 commented on #107749
/sig node

[2022-01-25 13:10] ardaguclu commented on #66401
@ashi009 after creating `prod` and `dev` namespaces,I applied this;

[code]
and it returns as expected;

[code]

I think we can close this issue.

[2022-01-25 13:11] tdevinda commented on #107297
I don't know if I was supposed to do this in the first place, but I fixed it by installing flannel.
Install it before you deploy any services.
This issue was there for me in 1.23.0, 1.20.8

Before I went to 1.19's I tried flannel.
Thanks to @sambestsolutions

[2022-01-25 13:14] Shaybs opened #107751 "Kustomize doesn't work with CRDs when specifying images"
### What happened?

I created the relevant yaml manifests using kube-prometheus jsonnet. I was able to use Kustomize to apply everything until I added the images section in Kustomize.

### What did you expect to happen?

I expected Kustomize to work.

### How can we reproduce it (as minimally and precisely as possible)?

So when I utilise the following command:

`kubectl apply -k . --dry-run=serve

[2022-01-25 13:18] neolit123 commented on #107751
/sig cli

[2022-01-25 13:22] MadhavJivrajani commented on #107747
/sig cluster-lifecycle
/cc @neolit123

[2022-01-25 13:33] liggitt commented on #107741
That's correct, the API did not graduate from alpha and was removed in 1.20. The linked resources are good example alternatives.

/close

[2022-01-25 13:33] #107741 closed

[2022-01-25 13:37] liggitt commented on #107723
There is a hard-coded 3MB limit on requests accepted by the API server. There's an additional limit on data that can be persisted in a single key in etcd, which is also in the single-megabyte range.

Creating individual objects in the hundreds of megabytes would cause scalability problems listing resources, which returns the content of all individual objects.

/close

[2022-01-25 13:38] #107723 closed

[2022-01-25 13:38] neolit123 commented on #107747
/transfer kubeadm

kubeadm issues should be logged in kubernetes/kubeadm.

[2022-01-25 13:38] liggitt commented on #107733
cc @SergeyKanzhelev

[2022-01-25 13:41] liggitt commented on #107599
looks like #40651 is already open requesting this

/close
/triage duplicate

[2022-01-25 13:41] srikiz opened #107752 "e2e test for creating Ingress API operations fails when ingress controller is already in place"
### What happened?

We run sonobuoy tests on production running clusters whenever we upgrade our clusters.  We observe that `should support creating Ingress API operations` fails when we already have nginx-ingress controller running in the cluster.

The newer versions of nginx-ingress controller comes up with a validating admission webhook that validates the ingress definitions. In this specific t

[2022-01-25 13:41] #107599 closed

[2022-01-25 13:42] srikiz commented on #107752
/sig testing
/area e2e-test-framework

[2022-01-25 13:44] enj commented on #103525
@sabbey37

[2022-01-25 13:46] liggitt commented on #107751
this looks like the issue https://github.com/kubernetes-sigs/kustomize/issues/890, which was fixed in https://github.com/kubernetes-sigs/kustomize/pull/911

That fix is in kustomize v2.1.0 and v3.0.0+, and is included in kubectl 1.21+

/close

[2022-01-25 13:47] #107751 closed

[2022-01-25 13:50] aojea commented on #107752
This is a duplicate, see the comment from.the author of the ingress nginx controller explaining why this is working as expected https://github.com/kubernetes/kubernetes/pull/100449#issuecomment-804788806

[2022-01-25 13:51] gjkim42 commented on #107733
@rphillips
Can you give us more detail about the problem?

If the problem is about quick removing and adding the static pod, https://github.com/kubernetes/kubernetes/pull/104847 can be relevant.

/cc @smarterclayton

[2022-01-25 13:51] sabbey37 commented on #103525
/assign @sabbey37

[2022-01-25 13:53] srikiz commented on #107752
Thanks @aojea for pointing this. It's infact the same issue. But the fix above should hopefully help since it would create those ingress objects with different paths and the validating webhook for ingress controller would permit creating objects in that case.

[2022-01-25 13:56] Shaybs commented on #107751
@liggitt you are right. My cluster is on 1.21 and kubectl on 1.20. I switched it and it worked.

[2022-01-25 13:56] Shaybs commented on #107751
This can be closed

[2022-01-25 13:58] liggitt commented on #107727
the panic means the request scope FieldManager is nil

that is initialized here: https://github.com/kubernetes/kubernetes/blob/e5ae3f8d67049d60c30b977bda35274ad93667fd/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L607-L621

OpenAPIModels is set here: https://github.com/kubernetes/kubernetes/blob/e5ae3f8d67049d60c30b977bda35274ad93667fd/staging/src/k8s.io/apiserver/pkg/server/genericapis

[2022-01-25 13:59] liggitt commented on #107727
if APF is creating/bootstrapping the objects without using apply, and then updating status using apply, that would explain how the object exists but apply fails

[2022-01-25 14:01] liggitt commented on #107727
I suspect that APF is not successfully updating status at *all* in the integration tests with this server configuration

[2022-01-25 14:05] cmoulliard commented on #90462
What did you do @lingxiankong to fix that ?

[2022-01-25 14:06] liggitt commented on #50791
the beta types have not been served since 1.16, so this can be done now.

relevant spots to update are in https://grep.app/search?q=TODO%28%2350791%29&filter[repo][0]=kubernetes/kubernetes

[2022-01-25 14:09] liggitt commented on #68578
I don't think we would stop accepting these at this point.

Closing this issue to avoid misleading people into helping by implementing a breaking change.

/close

[2022-01-25 14:09] #68578 closed

[2022-01-25 14:15] liggitt commented on #56306
@ahg-g is this still an issue? I thought this was implemented

[2022-01-25 14:16] liggitt commented on #59347
ssh tunnel was removed in 1.22

[2022-01-25 14:16] #59347 closed

[2022-01-25 14:18] aojea commented on #107752
yeah sorry, just checked quickly from the mobile, I will take a look
Thanks

[2022-01-25 14:20] #66401 closed

[2022-01-25 14:21] leogr commented on #60748
Another compelling use case for this feature is Falco.

The official documentation has an example of running it with the _principle of least privilege_ in docker :point_down:
https://falco.org/docs/getting-started/running/#docker-least-privileged

But it is not possible in K8s because of this missing feature.

[2022-01-25 14:31] liggitt commented on #100119
fixed by https://github.com/kubernetes/kubernetes/pull/100125#issuecomment-921006748

/close

[2022-01-25 14:32] liggitt commented on #100024
is this the same issue as #95460? should this be deduped to that one (or vice-versa)?

[2022-01-25 14:39] #103871 closed

[2022-01-25 14:40] liggitt commented on #104661
resolved by #105916

[2022-01-25 14:41] mengjiao-liu commented on #107172
Due to vacation, the time to fix this issue has been extended, if others are interested, you can fix it first.

[2022-01-25 14:45] liggitt commented on #105503
/close

The dashboard addon is removed from this repo. Issues with the addon can be reported to https://github.com/kubernetes/dashboard

[2022-01-25 14:47] tkashem commented on #107727
@liggitt do you want me to revert https://github.com/kubernetes/kubernetes/pull/107456, while we work on a solution?

[2022-01-25 14:50] liggitt commented on #107727
I don't know how bad the test impact is. Work with @apelisse / @Jefftree to determine if we should revert or fix forward

[2022-01-25 15:02] thomas-riccardi commented on #103838
/remove-lifecycle stale

[2022-01-25 15:02] wojtek-t commented on #105204
chatted a bit with Jordan offline

given the referencing/refcounting is actually a separate logic from the one that is actually fetching the data
and the fact that the errors are saying that "a given secrets/configmap is not even registered"
it suggests that the problem is not in the refcounting logic
[we both looked into it and didn't see any issue there]

The current hypothesis is that the reaso

[2022-01-25 15:17] liggitt commented on #105204
@smarterclayton - do you have any thoughts on this?

I'm especially wondering about calls to this method:

https://github.com/kubernetes/kubernetes/blob/e5ae3f8d67049d60c30b977bda35274ad93667fd/pkg/kubelet/pod/pod_manager.go#L185-L215

the main things I'm wondering about are:
* changes in the order updatePodsInternal (and therefore RegisterPod/UnregisterPod) is called relative to the storage subsy

[2022-01-25 15:19] liggitt commented on #105204
The fact that this is not easily reproducible in a way that prevents successful running of pods makes it seem like a race. Off the top of my head, some possibilities are:

* race between kubelet calling updatePodsInternal and kubelet setting up pod volumes
* race between kubelet removing one pod and adding another that both reference the same configmap (more prevalent in 1.22 with use of shared ku

[2022-01-25 15:41] reg0bs commented on #70585
We have exactly the same with an on-prem Rancher Cluster.

[2022-01-25 15:52] lukos commented on #76790
I am suffering from intermittent DNS and there don't seem to be any open issues currently. Did anyone ever put together the definitive guide to debugging and fixing this? We have a Rancher cluster running canal for networking and like another poster, it never seems to be a problem on nodes, but an intermittent problem in pods.

I have tried setting ndots to 1 and `single-request-reopen`, I also ad

[2022-01-25 16:41] rshiva777 opened #107759 "audit logs are not getting generated for deployment, statefulset, pvc"
### What happened?

I have enabled audit logging on apiserver and capturing all resources
resources: ["persistentvolumeclaims", "persistentvolume", "pods", "events", "deployments", "statefulsets","daemonsets", "secrets", "configmaps"]

i am not getting the audit log for deployments, daemonsets, statefulsets, persistentvolume like which user has created or deleted the resource

### What did you exp

[2022-01-25 16:54] smarterclayton commented on #105204
I found and fixed at least 5 data races between core pod loop in kubelet and other loops, so I 100% believe that others exist AND that it's easy to add them AND that I may have added or triggered one.  All the other kubelet loops have to roughly be modelled as reconciling controllers (since the source of truth is the core pod config loop and all the other controllers are observational loops).  I d

[2022-01-25 17:08] aojea commented on #107743
this is weird
[code]
Gateway Timeout is 504 https://developer.mozilla.org/es/docs/Web/HTTP/Status/504, who is returning the 500 then?

By the way, dockershim was deprecated, so it is better to check with containerd/crio or other runtime

[2022-01-25 17:26] jfremy commented on #105204
just fyi we're seeing the same issue not just with the kube-root-ca.crt configmap, but also with secrets in a projected volume.
Running 1.22.3-gke.700

[2022-01-25 17:27] leonardpahlke commented on #107709
looks like the job passes

/close

[2022-01-25 17:27] #107709 closed

[2022-01-25 17:37] robscott commented on #107742
Thanks for raising this issue @AaronFriel! I think there are a few distinct issues here:

**1. Kube-DNS does not support EndpointSlices**
Unfortunately I'm not aware of any active effort to change this.

**2. Kube-DNS spec + behavior does not match the more broadly used CoreDNS behavior**
This seems problematic. Maybe we should consider deprecating kube-dns and moving more formally towards CoreDNS

[2022-01-25 17:42] apelisse commented on #100024
Yeah, they may not be the exact same underlying reason, but they should have the same fix.

/close

[2022-01-25 17:42] #100024 closed

[2022-01-25 17:44] charan1998 commented on #104432
if noone else is working on this task, I would like to take this up. 🙂

[2022-01-25 17:53] kerthcet commented on #104432
Feel free to work on this @charan1998 , you can refer to https://github.com/kubernetes/kubernetes/pull/104535 for some advices.

[2022-01-25 17:55] charan1998 commented on #104432
Thanks! Will refer it 👍

[2022-01-25 18:01] SergeyKanzhelev commented on #107190
I have started this document for the discussion: https://docs.google.com/document/d/1Q0_p7xsZts6aA9xNLuXy1YLpllzCKB0skJ2HPfKdDMk/edit?usp=sharing

[2022-01-25 18:02] smarterclayton commented on #105204
I did a trivial pass on 1.20 -> 1.23 e2e serial runs in openshift ci environments, and while I see the failed mount errors during test pod creation, all of them seemed to be associated with races between the test creating the secret/config map and the pod getting created (i.e. some background controller creates the items, the kubelet gets the pod before the background controller can create the obj

[2022-01-25 18:12] aojea opened #107762 "e2e test should wait for kube-root-ca.crt to be created in the namespace"
_Originally posted by @smarterclayton in https://github.com/kubernetes/kubernetes/issues/105204#issuecomment-1021463140_

[2022-01-25 18:13] aojea commented on #107762
/sig testing
/cc @smarterclayton

[2022-01-25 18:20] smarterclayton commented on #107762
/hold

I have a subtly different fix in https://github.com/kubernetes/kubernetes/pull/107763 :)

[2022-01-25 18:20] smarterclayton commented on #107762
Oh wait, this is an issue.  Yay, thanks :).  Fixed in https://github.com/kubernetes/kubernetes/pull/107763

[2022-01-25 18:30] smarterclayton commented on #105204
Side note: Also recording for posterity, Jordan mentioned again "all the waiting we do in e2e to avoid problems... are things regular users hit every day when they slam manifests into an automation created namespace, and it's likely we're oblivious to bugs or other failures that exist or could be introduced in that scenario", and I agreed with "we should probably address this user gap, and I need

[2022-01-25 18:38] MikeSpreitzer commented on #107727
@liggitt : I do not follow why you talked about server-side stuff then suggested the problem is in the client (a controller in the kube-apiserver) not supplying a fieldManager.

The client _does_ supply the fieldManager, for both creates and updates.  See the following lines:
- https://github.com/kubernetes/kubernetes/blob/e5ae3f8d67049d60c30b977bda35274ad93667fd/pkg/registry/flowcontrol/ensurer/f

[2022-01-25 18:41] liggitt commented on #107727
Different field manager. `reqScope.FieldManager` is set server-side in the endpoint handler based on the server configuration.

[2022-01-25 18:41] SergeyKanzhelev commented on #107447
/assign @mrunalp

[2022-01-25 18:42] MikeSpreitzer commented on #107727
So if the problem is server-side, why did you suggest the problem is in the client?

[2022-01-25 18:43] MikeSpreitzer commented on #107727
Regarding the client, I looked in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/107456/pull-kubernetes-integration/1484156493719670784/build-log.txt and found this line:
[code]

actually several of the same form, all with the same fieldManager.

[2022-01-25 18:44] liggitt commented on #107727
I don't think I did suggest that :) all of the setup and calls in https://github.com/kubernetes/kubernetes/issues/107727#issuecomment-1021208804 are server-side

[2022-01-25 18:48] MikeSpreitzer commented on #107727
@liggitt : please help me understand https://github.com/kubernetes/kubernetes/issues/107727#issuecomment-1021209391 .  That is about the client side.  Are you saying that a client that creates an object using `Create` and later updates the object using `Apply` will run into this server-side scenario?  If so, is that because this client behavior is wrong or because there is a bug server side?

[2022-01-25 18:51] liggitt commented on #107727
That was in response to https://github.com/kubernetes/kubernetes/issues/107727#issuecomment-1020232306, trying to figure out how the object was created but could not be updated.

Yes, when the server is not configured to enable openapi and therefore does not have apply enabled.

Because the server is misconfigured.

[2022-01-25 19:14] MikeSpreitzer commented on #107727
Looking at https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ and https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ it is not obvious to me whether or how openapi could be disabled.  Would that be by turning off the `OpenAPIV3` feature flag?  FYI, the inclusion of "V3" in the flag makes me unsure what the server does about other version

[2022-01-25 19:19] liggitt commented on #107727
It's not intended as an externalized configuration option. integration tests have the ability to fiddle with many of the config struct options in the server that a kube-apiserver binary invocation could not. They intentionally use this to do things like inject specialized authorizers / authenticators for testing purposes, but also can unintentionally result in a test server that doesn't match a re

[2022-01-25 19:27] prameshj commented on #107742
@AaronFriel Can you elaborate on where this diverts from the spec? From the example you posted, the DNS record is created as `<hostname>.<service>.<ns>.svc.<zone>. <ttl> IN A <endpoint-ip>` like the spec says.

Looks like the gap is - Spec does not specify Endpoint Slices, but CoreDNS does create DNS for endpoint slices.  In that case, the issue comes back to EndpointSlices mirroring to Endpoints.

[2022-01-25 20:05] Jefftree commented on #107727
@liggitt is correct that we have a misconfiguration in the integration tests and SSA is only enabled on a subset of integration tests.

I'd like to understand the test failure conditions a bit better though. The `Observed a panic: FieldManager must be installed to run apply` can be consistently reproduced on a non SSA targeted test. (Eg: `TestUnschedulableNodeDaemonDoesLaunchPod` selected from one

[2022-01-25 20:08] liggitt commented on #107727
The panic occurs when APF is updating status (which it just switched to do using SSA). The APF status update failure does not block the API requests the test cares about, so the test passes. I could see extra CPU usage contributing to flakiness.

[2022-01-25 20:25] wojtek-t commented on #105204
To explain that:

Secret/configmap manager consists of two things:
(1) explicit registering/unregistering a pod [which registers a secrets/configmaps they reference to be accessible to users]
   https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/manager/cache_based_manager.go#L221
(2) independently [backed by watch, in the background] fetching the state
   https://github.com/kub

[2022-01-25 20:29] Jefftree commented on #107727
Thanks for the explanation. Created https://github.com/kubernetes/kubernetes/pull/107765 to fix the integration test configurations.

[2022-01-25 20:53] AaronFriel commented on #107742
@prameshj that is correct, but I think there are multiple gaps here, in no particular order:

* A gap in process that resulted in a spec no longer matching the features purported by Kubernetes: a major networking feature, EndpointSlices, reached V1 without updating the extremely relevant [Kubernetes DNS-Based Service Discovery](https://github.com/kubernetes/dns/blob/master/docs/specification.md) s

[2022-01-25 21:14] fedebongio commented on #76928
/cc @cheftako
/triage accepted

[2022-01-25 21:15] fedebongio commented on #107374
Thank you @aojea !!
/triage accepted

[2022-01-25 21:16] fedebongio commented on #107543
/assign @jiahuif
Jiahui could you please take a look to determine if this is a controller manager problem (api-machinery) or sig apps?
Thank you!
/triage accepted

[2022-01-25 21:17] fedebongio commented on #107708
/triage accepted

[2022-01-25 21:18] fedebongio commented on #107727
/triage accepted

[2022-01-25 21:18] prameshj commented on #107742
Great points, responded inline.

Good question. I think this was excluded due to an assumption that EndpointSlices will always map to Endpoints and the spec already mentions Endpoints. @robscott please keep me honest here.

The spec does say `Specific implementations may choose to extend this schema, but the RRs in this document must be a subset of the RRs produced by the implementation.`. But, I

[2022-01-25 21:19] fedebongio commented on #107723
/triage accepted

[2022-01-25 21:19] fedebongio commented on #107668
/triage accepted

[2022-01-25 21:19] fedebongio commented on #107539
/triage accepted

[2022-01-25 21:26] smarterclayton commented on #105204
Are you putting things into caches by UID?

If not... you need to be.

[2022-01-25 21:34] wojtek-t commented on #105204
Pods are referncing secrets/configmaps by UID - if you delete and create a new one it's now referencing a new one.
[It was like that since the beginning.]
So no - we're not putting things by UID, but I also can't see how this could work. [And even if, that's definitely a separate discussion.]

[2022-01-25 21:36] liggitt commented on #105204
I think clayton meant pod uid vs pod namespace/name. Are we guaranteed updatePodsInternal is called with a terminated state pod for every uid?

[2022-01-25 21:38] msau42 commented on #105204
FYI regarding volume manager logic:

We start processing pods that are in pod manager:
https://github.com/kubernetes/kubernetes/blob/fcd96faa7981c1a5f649e03d7e1e66f8eb2076fc/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go#L203

This runs every few ms:
https://github.com/kubernetes/kubernetes/blob/fcd96faa7981c1a5f649e03d7e1e66f8eb2076fc/pkg/kubelet/volumemanager/populator/d

[2022-01-25 21:39] aojea opened #107766 "Enable TestRoundTripSocks5AndNewConnection"
### Which jobs are flaking?

https://github.com/kubernetes/kubernetes/issues/107708

### Which tests are flaking?

TestRoundTripSocks5AndNewConnection

### Since when has it been flaking?

Disabled by https://github.com/kubernetes/kubernetes/pull/107758

### Testgrid link

_No response_

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### Rel

[2022-01-25 21:42] smarterclayton commented on #105204
Sorry, I meant "your pods and their references".  So in the kubelet you can have two pods with the same namespace and name at the same time with different UIDs, or same UID but different namespace and name.  We fixed a bunch of problems related to that, so I just want to make sure your pods are all indexed by UID.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/manager/watch

[2022-01-25 21:44] chrisohaver commented on #107742
The spec gap may be because the link between an a DNS record for an endpoint, and the actual API one would use to derive that information from is subtle (and perhaps unintentional). For example, the primary requirement for headless Service records "There must be an A record for each ready endpoint of the headless Service" does not prescribe the specific API to use.

**However**, there is one indir

[2022-01-25 22:05] sozercan commented on #101567
/remove-lifecycle stale

[2022-01-25 22:35] #105798 closed

[2022-01-25 22:49] smarterclayton commented on #105204
Side note (while I'm looking at updatePodsInternal): the call to isPodInTerminatedState may not make any sense but I'll have to walk through the reasoning later and double check.  The Kubelet config loop is not actually authoritative on the state of the pod, the pod worker is.  A pod can be listed at "completed" in the apiserver and the pod can still be happily running / setting up on the node.  I

[2022-01-25 22:56] shinebayar-g commented on #65551
Any updates on namespace scope CRDs?

[2022-01-25 23:01] smarterclayton commented on #105204
I'll note that none of my changes addressed pods going into pod manager - so it's unlikely the registration and deregistration paths changed.  The only change upstream of that was admission related fixes and the pod is clearly admitted.

Going back to uid - this is wrong (but may not be the cause of this bug):

[code]

You cannot cache pods that the kubelet is aware of (podmanager is downstream of

[2022-01-25 23:49] AaronFriel commented on #107742
@prameshj Endpoints mirror to EndpointSlices by default, so to add mirroring in the other direction may add additional complexity and hard to diagnose errors. It's possible to opt out of that by creating an Endpoints object with a label that disables the EndpointSliceMirroringController, but failing to do so _and_ creating EndpointSlices that mirror in the other direction could lead to interesting

[2022-01-26 00:01] julianvmodesto commented on #107417
The client-side and server-side apply compatibility needs some work to work properly.

Generally the `(field manager, operation)` as the field manager is intended though. A field manager should use the same operation to manage a group of fields, so the conflict is helpful. The exception is client-side and server-side apply, where that shouldn't happen ideally and the `(field manager, operation)` s

[2022-01-26 00:08] julianvmodesto commented on #107417
Maybe a kubectl command like `edit-last-applied` could help users manually fix managed fields, but to fix the compatibility issue itself, I'm not sure. I think the strawperson is on server-side apply, when the client-side apply annotation exists, then we remove the `(field manager, operation)` for client-side apply if the field manager for server-side apply matches.

[2022-01-26 00:19] SineSwiper commented on #104961
[Also from the docs](https://kubernetes.io/docs/concepts/workloads/controllers/job/#handling-pod-and-container-failures):

So, this sounds like a feature, not a bug.  If it's to be "fixed", IMO, it should be a separate property.  Otherwise, there would be no way to control that a cronjob should not restart on application issues (non-zero exit), but *do* restart on infrastructure issues (such as ev

[2022-01-26 00:51] ikogan commented on #105323
I'd be interested to hear whether we think this is something that should be fixed in CephFS or in the Kubelet? Currently, this would make any CSI that implements `NodeStageVolume` in this way close to unusable for any reasonably sized deployments.

[2022-01-26 00:52] lavalamp commented on #65551
It's still very, very unlikely to ever happen.

[2022-01-26 01:11] shinebayar-g commented on #65551
I see.. That's rather unfortunate. Now I'm wondering how folks managing multiple versions of CRDs in a same cluster.

[2022-01-26 01:18] #107062 closed

[2022-01-26 02:19] haoruan commented on #104252
/assign

[2022-01-26 02:22] liggitt commented on #107690
1.23.3 has been released with this fix

[2022-01-26 02:28] #104550 closed

[2022-01-26 02:32] merdincz opened #107772 "Kubernetes shows pod that not actually exist"
### What happened?

One of my nodes failed because of DiskPressure. I solved that issue then I've deleted pod which running on that node to bring up that service quickly. I saw "pod deleted" message and replicaset created new pod for that service but old pod haven't disappeared from pods list even new one Running.

When I check the pods I can see the **pod/xx-yyyyyy-zzzzz-5b4cbdf69d-ljb8l** as run

[2022-01-26 02:36] merdincz commented on #107772
Magic happened and this resolved immediately whenever I create this issue.

[2022-01-26 02:36] #107772 closed

[2022-01-26 02:38] liggitt commented on #105204
I take that back... bound service account token usage got enabled in 1.21. If something is noticeably different in 1.22 then I think we have elsewhere to look.

[2022-01-26 02:39] liggitt commented on #105204
A solid reproducer would help immensely in tracking this down

[2022-01-26 03:00] richardmcsong commented on #97397
/remove-lifecycle stale

[2022-01-26 03:20] #107762 closed

[2022-01-26 04:16] rshiva777 commented on #107759
if i create or delete a pod, i am able to see the user who deleted it

![image](https://user-images.githubusercontent.com/42074614/151103053-03ad55bd-63db-4bc1-b766-6f7272fe3447.png)

In case of deleting or creating a deployment, i dont see the user name, but i see the system serviceaccount as below:

![image](https://user-images.githubusercontent.com/42074614/151102976-83dacfc8-16e4-4c87-af63-037

[2022-01-26 04:26] brianpursley commented on #105204
Not sure if this helps or not, but I noticed a few things about this problem:
1. The warning occurs when the cronjob's pod is terminated, or maybe while it is terminating.
2. The secrets appear to be mounted fine, I can see them in my pod while it is running.
3. It can happen for both cronjob pods and regular pods, as others have stated.  I think it is just more noticeable for cronjob pods since y

[2022-01-26 05:03] damalhot commented on #107743
Sure, I will check with another CRI. But I would like to highlight two observations:
1. When I run `kubectl logs` command, I do not see any API request received in the logs of kubelet. If kubelet hasn't received any API request, probably, dockershim hasn't been invoked yet.
2. The command `kubectl exec` works. This means, in this case, kube-apiserver to kubelet communication works fine.
[code]

[2022-01-26 06:18] bowei commented on #107742
Let's be very clear, there are two things:

1. The Spec in this repository is not connected to any implementation and should be updated to unambiguously describe the handling of EndpointSlice. I am also supportive of having a new home for the spec (probably in a KEP) that can be kept up to date. The reason it lives in the `kubernetes/dns` repo is somewhat historical. Bugs and updates should be mad

[2022-01-26 06:18] bowei commented on #107742
/assign

[2022-01-26 07:18] JohnRusk commented on #65954
@wojtek-t  and @aojea

I found the root cause of this issue in our 5k node test clusters.   Turns out it was not any of the suggested causes mentioned above.  Instead the following sequence of events takes place:

1. Immediately after restarting, API server(s) are busy. This is to be expected, because there's a lot of activity from kubelets when the API server restarts. But...
2. Due to being very

[2022-01-26 07:26] dsaydon90 commented on #104961
Can we change this ticket to a feature request or should I close it and open a new one?

[2022-01-26 07:41] JohnRusk commented on #48638
@derekwaynecarr , you wrote

It turns out, there is an impact on watch code, but it doesn't happen with kubemark/hollow nodes, therefore it escaped detection for a long time.

I've tagged you in on the PR I just made to fix the issue, and would appreciate your comments on whether that PR looks reasonable.

[2022-01-26 08:07] JohnRusk commented on #79805
@wgliang I have an update for you.  After lots of testing, I've  found the root cause of the high numbers of 429s I was seeing in our 5000 node test clusters.  It wasn't actually a retry issue, but rather it was a bug that caused the kubelets to re-list the same things over and over again. With that bug fixed (in my test build of kubelet) I see very few 429s.  I can't say for sure, but I think you

[2022-01-26 08:10] embik commented on #107759
Deployments and StatefulSets are not part of the "core" API group. Your config says: `group: ""`, which targets that API group for resources to print audit logs for. You'll need to add a second item under `resources` that would look like this:

[code]

In addition, you need to change `persistentvolume` to `persistentvolumes` (everything else is plural, which is the format recognised by the audit c

[2022-01-26 08:15] SergeyKanzhelev commented on #107062
It's green now. Yay!

[2022-01-26 08:18] aojea commented on #107743
yeah, something odd is happening, no doubt,I just want to discard that is dockershim specific or we should not be able to fix it in master.

It will be good to have the logs of the apiserver (add some verbosity) and correlate them with the `kubectl -v9` trace

[2022-01-26 08:18] karlhjm commented on #93934
any solution about this？

[2022-01-26 08:20] karlhjm commented on #93934
hey friend, do you have the solution to it now?

[2022-01-26 08:20] karlhjm commented on #93934
hey friend, do you have the solution to it now?

[2022-01-26 08:27] danilosilvase commented on #71869
Have you guys checked inodes on that worker nodes?

`df -i`

[2022-01-26 08:45] leewoobin789 commented on #56582
setting rules based on certain wildcarded reource names would bring enormous benefits in ecosystems and also other cncf projects, where the RBAC ClusterRoles are having way too high privileges. i kindly ask you to reconsider it again. :)

[2022-01-26 09:21] aojea commented on #104252
/cc

[2022-01-26 09:26] wojtek-t commented on #59848
I wanted to make an update on this for quite some time and finally getting here (motivated by a need to link it)

With https://github.com/kubernetes/kubernetes/pull/83520 (so since 1.18), this problem has much lower exposure.

That particular PR ensures, then when a reflector has to relist (e.g. because of out-of-history in watch or whatever other reason), the relist will NOT go back in time (we e

[2022-01-26 09:30] #107752 closed

[2022-01-26 09:32] wojtek-t commented on #105204
Hmm - can you clarify this one a bit?
I just updated the canonical bug for it with: https://github.com/kubernetes/kubernetes/issues/59848#issuecomment-1022016228 - the problem is still unsolved as a whole, but within a single incarnation, I claim it is solved.
So in that sense, all caches that are propagated purely via watch (which IIUC is the case here - isn't it?) should never suffer from this p

[2022-01-26 09:33] wojtek-t commented on #105204
OK - never mind, I see your next comment now.

I don't think it's a problem for this case, but I understand your concerns now.

[2022-01-26 10:09] uziela commented on #85330
/remove-lifecycle stale

[2022-01-26 10:10] wuyudian1 opened #107788 "useless finalizers keep running in background"
### What happened?

When I removed rancher from my kubernets cluster, some finalizers keep running in background, and report many errors:

[code]

E0126 09:48:41.149681       1 crd_finalizer.go:299] globalrolebindings.management.cattle.io failed with: timed out waiting for the condition
E0126 09:48:41.240374       1 crd_finalizer.go:299] nodedrivers.management.cattle.io failed with: timed out wait

[2022-01-26 10:18] rshiva777 commented on #107759
Thanks @embik . Its working fine.

[2022-01-26 10:18] #107759 closed

[2022-01-26 10:35] hduhhz commented on #107024
Hello, I met the same problem. @pacoxu @jonyhy96 @SergeyKanzhelev

**What happened?**
I'm tryying to test  configuration about evictionSoft, and my configuration like this.

Then, I use command dd to create a big file make my configuration work.
However, the configuration not works. my pod looks like been killed twice.
One kill action is from the evictionManager, and the other kill action looks li

[2022-01-26 11:01] apollofps commented on #104432
/assign

[2022-01-26 11:08] wojtek-t commented on #105204
So the reason I didn't manage to reproduce it yesterday is that I guess I was looking for something else.
I was basically looking for cases, where this problem will cause my pod not to start. And I'm still not able to reproduce that.

What I can reproduce though is those events - all of them are happening when the pod is actually terminating/terminated.
The caveat is that - while this is super mis

[2022-01-26 11:26] wojtek-t commented on #105204
I'm not yet entirely sure what has changed though comparing to 1.20 or 1.21 that it wasn't happening earlier...

[2022-01-26 11:29] aojea commented on #107788
should this be better open in the rancher github repo?

[2022-01-26 13:02] sanposhiho opened #107790 "The error code for GenerateName conflict shouldn't be 409"
### What happened?

The error code of `pods "pod-gvh4t" already exists, the server was not able to generate a unique name for the object`  is 409.
Is this an expected behavior? The doc seems to say no:

NOT return a 409 - instead, it will either return 201 Created or 500 with Reason
ServerTimeout indicating a unique name could not be found in the time allotted, and the client
should retry (optiona

[2022-01-26 13:05] sanposhiho commented on #107790
Sorry if not an appropriate SIG.

/sig api-machinery

[2022-01-26 13:10] #103260 closed

[2022-01-26 13:12] wojtek-t commented on #105204
So basically, the problem that seem to be referenced mostly in this issue (being the MountFailed event though happening during pod termination) seem to actually be a long-standing problem.
And this is strictly related to:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/pod/pod_manager.go#L191-L196

And I think it's a long-standing issue (maybe we are just triggerring the race more

[2022-01-26 13:13] sanposhiho commented on #107790
related to #104699

[2022-01-26 13:15] sanposhiho commented on #107790
/assign

[2022-01-26 13:18] sanposhiho commented on #107790
It seems related to #104699. If it's expected behavior, the document isn't correct..?

[2022-01-26 13:20] sanposhiho commented on #107790
`/assign` is a mistake.
/unassign

[2022-01-26 14:04] liushi001 commented on #107749
I'v tested that `RunPodSandbox` could also block `PodSandboxStatus` after kubelet restart, which may cause PLEG be not healthy.

I think it's because networkReady has not been initialized of the status of a pod.

[2022-01-26 14:34] uablrek commented on #107591
From where are you testing? If your test client is on the k8s node then source from cni-0 is correct!

And please remember that `hostPort` is not handled by `kube-proxy` and not even the CNI-plugin I believe (but I am unsure about that). It is handled mainly by the CRI-plugin (via kubelet).

[2022-01-26 14:36] uablrek commented on #107591
That would explain why this happens when you upgrade dockershim -> containerd.

[2022-01-26 14:54] rphillips commented on #107733
https://github.com/kubernetes/kubernetes/pull/107695 merged. We have a tentative increase in CI pass rates. I'll reopen if we need to revisit.

[2022-01-26 14:55] jeroenj commented on #78761
For us this issue started appearing as soon as we upgraded to GKE 1.21 about a month ago. After some investigation we noticed that we have Pods in `Terminated` and/or `NodeShutdown` state more often than when we were on GKE 1.20. Having more such pods is probably (most likely?) related to the [Graceful node shutdown](https://kubernetes.io/docs/concepts/architecture/nodes/#graceful-node-shutdown) f

[2022-01-26 15:16] yelhouti commented on #107591
@uablrek thanks from answering, I am testing from outside the cluster.

[2022-01-26 15:21] yelhouti commented on #107591
@uablrek any suggestion on what I should do to fix this please ?

[2022-01-26 15:40] liggitt commented on #105204
I agree that it's easy to reproduce the event getting logged during teardown.

My understanding is that some people are observing pods not running as a result of this, which is what is very unexpected. I also haven't been able to reproduce *that*.

[2022-01-26 15:42] liggitt commented on #105204
I'm also wondering if what we're seeing are pods not running successfully for some other reason, getting torn down as a result, and this message getting logged during that teardown, but not being the cause of the pod failing to run successfully. Again, a reproducer of the failure to run would let us determine if this is the cause of the pod not running

[2022-01-26 15:55] charan1998 commented on #104432
/assign

[2022-01-26 16:04] ahg-g commented on #107679
https://github.com/kubernetes/kubernetes/issues/106884 is probably the most related.

[2022-01-26 17:12] wojtek-t commented on #105204
I was trying to repro this too. But I can't repro this.
But what I started wondering about if the issue with pods may be related to cronjob controller v2, which actually was launched in 1.22 IIRC. But as you said - repro case would help with that.

In the meantime - if you have suggestions about how to address the even side ( https://github.com/kubernetes/kubernetes/issues/105204#issuecomment-1022

[2022-01-26 17:28] liggitt commented on #105204
yeah, I think fanning out a few specific issues to resolve would make sense:

1. avoid spurious event reporting for mount failures for terminating pods. this is sort of done here:
https://github.com/kubernetes/kubernetes/blob/be38633742e571b83874d0d926f46353d8b84ee1/pkg/kubelet/kubelet.go#L1689-L1694
but may also need to be checked after WaitForAttachAndMount fails, and also here
https://github.co

[2022-01-26 17:40] julienlau commented on #59848
Update appreciated.
Ok for RV usage in general, but regarding corner cases you mentionned "component start".
In your view does kubernetes updates also checks these criteria ?

[2022-01-26 18:23] ehashman commented on #107483
/remove-triage needs-information

[2022-01-26 18:24] ehashman commented on #107749
/triage accepted

[2022-01-26 18:25] ehashman commented on #67500
/remove-kind bug
/remove-lifecycle rotten

[2022-01-26 18:26] ehashman commented on #76982
/triage accepted
/help

[2022-01-26 18:27] liggitt commented on #107727
The integration test job started timing out dramatically last night (>50% of runs) once https://github.com/kubernetes/kubernetes/pull/107765 merged. Since that was the only change made to integration tests recently, it seems related.

I think we should revert https://github.com/kubernetes/kubernetes/pull/107765 (and therefore #107456) until the test impact is understood

[2022-01-26 18:29] ehashman commented on #105204
/triage accepted

[2022-01-26 18:29] ehashman commented on #107671
/remove-kind bug

[2022-01-26 18:33] ehashman commented on #107717
@diannaowa This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue. It's important to include the full filenames of affected files.

Once more details are provided, the bug will be accepted.

/

[2022-01-26 18:35] ehashman commented on #107730
It's expected that the pod logs will remain on the node for some time. It's hard to say for sure about the sandbox containers without more info.

You must include your container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Once more details are provided, the bug will be accepted.

/triage needs-information

[2022-01-26 18:37] ehashman commented on #107735
/sig network
/triage accepted

Thanks for the report, this seems like an obvious and straightforward bug.

/good-first-issue

[2022-01-26 18:38] ehashman commented on #106691
/remove-triage needs-information
/triage accepted

[2022-01-26 18:42] matthyx commented on #107505
Do we actually have these other distros available to prevent regressions if we change that?

[2022-01-26 18:42] matthyx commented on #107505
/assign

[2022-01-26 18:45] mgabeler-lee-6rs opened #107795 "client-go: Scale() constructor for ScaleApplyConfiguration missing WithKind, WithAPIVersion"
### What happened?

Most of the FooApplyConfiguration constructors pre-fill the Kind and APIVersion fields to make using them smooth.

But k8s.io/client-go/applyconfigurations/autoscaling/v1.Scale() is missing this, making patterns like this fail:
[code]

Currently this code fails with (server-side) error `Incorrect version specified in apply patch. Specified patch version: , expected: autoscaling

[2022-01-26 18:46] mgabeler-lee-6rs commented on #107795
/sig api-machinery

[2022-01-26 18:51] sftim commented on #76982
@ehashman would you also be willing to set an explicit priority on this one? I'd definitely like this to land for the v1.24 release because it's related to the removal of Docker Engine direct integration support (dockershim) from the kubelet.

[2022-01-26 19:01] tkashem commented on #107727
revert of #107456 - https://github.com/kubernetes/kubernetes/pull/107797

[2022-01-26 19:04] zhilongwang opened #107798 "Get cpu and memory usage through in cluster config."
### What would you like to be added?

I want to create, monitor and delete pods from one existing pod. The in_cluster_config.py in example/ folder can help me to create and delete pods. However, I did not find any APIs that can help me to monitor the memory and CPU usage just that can be achieve through "kubectl top pods". I wonder is there python API that can help me to achieve this purpose? Than

[2022-01-26 19:14] uablrek commented on #107591
Not really. I have setup a cluster with `flannel:v0.15.1` and proxy-mode=ipvs to try to re-create the problem but I don't get any "CNI*" entries at all in iptables. And source is preserved as expected (both ipv4 and ipv6).

Here is my iptables dump;
[code]

A difference is that I use `cri-o` as CRI-plugin. This may be significant. If possible try with `cri-o`.

I expose port 8080 as hostPort, mapp

[2022-01-26 19:20] jyotimahapatra commented on #107735
Ongoing PR for this https://github.com/kubernetes/kubernetes/pull/107736

[2022-01-26 19:26] uablrek commented on #107591
Tried with some other CNI-plugins; `cilium:v1.10.4`, `calico/cni:v3.19.1` and `antrea-ubuntu:v1.4.0`, and source is preserved for all.

I think you can consider hostPort to be CNI-plugin agnostic.

I suspect `containerd`, but that I can't test `containerd` in my environment, sorry.

[2022-01-26 19:30] seocam commented on #78761
Same here @jeroenj. The problems for us started just after upgrading from GKE 1.20 to 1.21.
I wonder if the Google team is aware of this :thinking:

[2022-01-26 19:40] ahg-g commented on #106884
There are more issues being opened related to this change, here is another one (Argo workflows): https://github.com/kubernetes/kubernetes/issues/107679

In retrospect, the kubelet change should've been coordinated with sig-scheduling.

I don't think we can properly address the force pod deletion case, there is no state on the api-server, so nothing the scheduler can do about it.

@smarterclayton w

[2022-01-26 19:44] yelhouti commented on #107591
Could you please test with kubespray ? (only config to change is flannel). I would be very grateful if you could pinpoint this to docker vs containerd

[2022-01-26 19:45] smarterclayton commented on #105204
For 3 one part of the problem is the sync loop is "run straight through" and can take tens of seconsd to complete, and the necessary context cancellation (proposed) is tricky.  Feasible, but there's a ton of careful changes there and we need a couple of people walking through it carefully to get it right.

[2022-01-26 19:46] marosset opened #107799 "[Windows] HostProcessContainers sometimes fail repeatedly with ErrImagePull"
### What happened?

Occasionally rescheduling deployments that container HostProcessContainers repeatedly experience `ErrImagePull` errors.
It looks like this is most common when `ImagePullPolicy: Always` is specified and setting `ImagePullPolicy: IfNotPresent` in the deployment appears to fix the issue.

This was captured during a demo on one of the sig-windows community calls but have also seen

[2022-01-26 19:47] smarterclayton commented on #105204
Re: 1 - I have an issue to move pod probe management into sync*Pod because all the outside loops are racy, and inside it wouldn't be.  I think moving secret/configmap association with a real running pod under sync*Pod could benefit the same way (there's an argument that you might want to eagerly start watching for those secrets/configmaps to minimize startup latency, so you could maybe do registra

[2022-01-26 19:47] marosset commented on #107799
/cc @dcantah @knabben @jsturtevant

[2022-01-26 19:47] SergeyKanzhelev commented on #107505
the change will be to replace skip logic when `dbus-send` is missing to use an alternative way to send this. So there will be no regression on distros where it currently runs without the skip. Original bug should have a link to job that was failing

[2022-01-26 19:48] alculquicondor commented on #107679
This can be considered a two-part issue. The kubernetes side is #106884. But on Argo's side, it should either use a Job instead of plain Pods or recreate Pods in case of failure.

[2022-01-26 19:59] marosset commented on #107799
/triage accepted

[2022-01-26 20:03] #107798 closed

[2022-01-26 20:05] zhilongwang commented on #107798
Got it. Thanks, I found the solution.

[2022-01-26 20:11] uablrek commented on #107591
No, sorry. My environment is flexible but primitive. It shouldn't be Kubespray though. It must be the thing that causes the "CNI*" iptables rules. I didn't see them in with any CNI-plugin.

[2022-01-26 20:12] SergeyKanzhelev opened #107800 "A number of containerd tests fail to start"
### Which jobs are failing?

- https://testgrid.k8s.io/sig-node-containerd#containerd-e2e-ubuntu
- https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.4
- https://testgrid.k8s.io/sig-node-containerd#e2e-cos-device-plugin-gpu
- https://testgrid.k8s.io/sig-node-containerd#e2e-ubuntu

### Which tests are failing?

Tests wouldn't start.

### Since when has it been failing?

1/24 between

[2022-01-26 20:12] SergeyKanzhelev commented on #107800
/triage accepted

[2022-01-26 20:14] SergeyKanzhelev opened #107801 "Many tests are failing since 1/24 in containerd tab"
### Which jobs are failing?

- https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-features-1.4
- https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-features-1.5
- https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-e2e

### Which tests are failing?

most of tests

### Since when has it been failing?

1/24 between 16:25-17:25

### Testgrid link

_No respons

[2022-01-26 20:14] SergeyKanzhelev commented on #107801
/triage accepted

[2022-01-26 20:20] SergeyKanzhelev commented on #107412
@mmiranda96 do you think this https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.5 failure has the same root cause?

[2022-01-26 20:21] SergeyKanzhelev commented on #107412
it started failing the same time as https://github.com/kubernetes/kubernetes/issues/107800  and https://github.com/kubernetes/kubernetes/issues/107801 which makes me suspect that increase of timeout wouldn't help. Can you please check?

[2022-01-26 20:26] SergeyKanzhelev opened #107802 "sig-node-cos#soak-cos-gce is failing quite often"
### Which jobs are failing?

sig-node-cos#soak-cos-gce

### Which tests are failing?

The test https://testgrid.k8s.io/sig-node-cos#soak-cos-gce  exercise interesting behavior. It fails all the time with NPD issue (may be related to https://github.com/kubernetes/kubernetes/issues/107067), but for other tests it runs successfully for couple days and then fails  for couple of days.

### Since when h

[2022-01-26 20:31] SergeyKanzhelev opened #107803 "sig-node-cri-o#ci-crio-cgroupv1-node-e2e-alpha is running non-alpha tests and failing doing so"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-alpha

this job seems to be misconfigured. It suppose to run alpha tests based on the name, but doesn't

### Which tests are failing?

[code]

### Since when has it been failing?

1/12/2022

### Testgrid link

https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-alpha

### Reason for failure (

[2022-01-26 20:48] CuriousVini commented on #97342
which version is this fixed? I am facing same issue and as per job status doc, seems like it includes both pending and active pods. It would be good to distinguish those 2 pod status.
https://github.com/kubernetes-client/java/blob/master/kubernetes/docs/V1JobStatus.md

[2022-01-26 20:59] liggitt commented on #105204
yeah... it looked really clean, actually. updated https://github.com/kubernetes/kubernetes/pull/107739 to do that just to see what that does to the spurious "not registered" errors

[2022-01-26 21:03] Chalmiller commented on #107735
Hi @jyotimahapatra, will your PR close out this issue? If not, what work would still be required? I'd like to tackle this issue if it's still available to be worked on.

[2022-01-26 21:08] SergeyKanzhelev opened #107804 "sig-node-cri-o#ci-crio-cgroupv1-node-e2e-eviction: test fail PriorityPidEvictionOrdering [Slow] [Serial] [Disruptive][NodeFeature:Eviction] when we run containers that should cause PIDPressure should eventually evict all of the correct pods"
### Which jobs are failing?

sig-node-cri-o#ci-crio-cgroupv1-node-e2e-eviction

### Which tests are failing?

[code]

### Since when has it been failing?

at least from the beginning of Jan

### Testgrid link

https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-eviction

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### Relevan

[2022-01-26 21:12] SergeyKanzhelev opened #107805 "sig-node-cri-o#node-kubelet-serial-crio: failing test Topology Manager [Serial] [Feature:TopologyManager][NodeFeature:TopologyManager] With kubeconfig updated to static CPU Manager policy run the Topology Manager tests run Topology Manager policy test suite"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-node-cri-o#node-kubelet-serial-crio

### Which tests are flaking?

[code]

Same test is skipped on containerd

### Since when has it been flaking?

At least from the new year.

### Testgrid link

https://testgrid.k8s.io/sig-node-cri-o#node-kubelet-serial-crio

### Reason for failure (if possible)

_No response_

### Anything else we need to

[2022-01-26 21:13] smarterclayton commented on #105204
Right

[2022-01-26 22:15] smarterclayton commented on #105014
https://github.com/kubernetes/kubernetes/pull/107739 demonstrates how a similar problem works with in `sync*Pod`

[2022-01-26 22:53] jyotimahapatra commented on #107735
@Chalmiller yes the PR is targeting this issue. I'm actively working on it

[2022-01-27 00:01] Chalmiller commented on #107790
Hi @sanposhiho, do you think this is a good first issue to tackle? If so, I would like to try contributing here.

[2022-01-27 00:59] KnVerey commented on #94698
As promised, we discussed this again at today's SIG-CLI meeting. You can watch the conversation starting at https://youtu.be/l2plzJ9MRlk?t=2517.

The conclusion was that the distinction between imperative and declarative workflows is important and justifies the related stance that this command is behaving as expected and should not be changed. That said, we're not doing a good enough job of commun

[2022-01-27 01:23] johngmyers commented on #94698
If `kubectl rollout undo` is not intended to work with `kubectl apply` then it should remove `kubectl apply`'s annotation, not leave it in an incorrect state.

[2022-01-27 02:12] jlsong01 commented on #107499
I would like to take a try

/assign

[2022-01-27 02:16] hzxuzhonghu opened #107809 "Fake client list watch support field selector"
### What would you like to be added?

[code]

As can be seen above, only label selector is supported

### Why is this needed?

We need it to write tests

[2022-01-27 03:25] cyclinder commented on #107809
Hi! Can I have this? I'd love to do this.

[2022-01-27 03:31] diannaowa commented on #107717
Thanks for your comments.
I implemented a custom runtime with CRI, but I didn't return LogPath in ContainerStatus.

Kubelet gets the following error log when removing pod
kubelet logs:

`Jan 23 03:25:57 k8s-wasm02 kubelet: I0123 03:25:57.164035   28980 scope.go:110] "RemoveContainer" containerID="b5988275-8f6c-47da-9822-81fc90700e1a"
Jan 23 03:25:57 k8s-wasm02 kubelet: E0123 03:25:57.164577   2898

[2022-01-27 03:54] hduhhz commented on #107024
I got the answer.
kubelet will kill pod twice.
The graceful time on the second kill comes from the pod config.
When I config my pod with terminationGracePeriodSeconds: 3600, the eviction soft configuration works.

[2022-01-27 05:11] MadhavJivrajani commented on #107809
/sig api-machinery

[2022-01-27 05:12] #107633 closed

[2022-01-27 05:46] MadhavJivrajani commented on #106754
@uhari03, considering it's been more than a month, cool if I take a shot at this now, I think I should be able to send in a PR sometime next week. Just wanted to make sure in case you were continuing to work on it :)

[2022-01-27 05:56] MadhavJivrajani commented on #107735
@jyotimahapatra looks like this is good to close. If I've overlooked anything, please feel free to reopen the issue (`/reopen`)
Thanks!
/close

[2022-01-27 06:02] uablrek commented on #107591
I was partially right. The K8s cni-plugin, like flannel, calico or whatever is *not* used for `hostPort`. The CRI-plugin *may* however use a CNI-plugin such as `portmap`. I don't think `cri-o` uses `portmap` but I am not sure so I made a [slack query](https://kubernetes.slack.com/archives/CAZH62UR1/p1643259553066600).

[2022-01-27 06:19] MadhavJivrajani opened #107811 "[flake] Test_RaceTerminateRSList seems to be flaking"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

k8s.io/kubernetes/pkg/proxy/ipvs.Test_RaceTerminateRSList

### Since when has it been flaking?

~1 day since merging of https://github.com/kubernetes/kubernetes/pull/107748

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit

### Reason for failure (if possible)

### Anythin

[2022-01-27 06:19] MadhavJivrajani commented on #107811
/cc @cyclinder @aojea

[2022-01-27 06:24] bobbypage commented on #107062
Awesome, thank you!

[2022-01-27 06:57] Huang-Wei commented on #105750
Want to point out that the fact "Special optimization on node-level constraint works on Score" may not lead to the effect it also works on Filter.

- PreFiler() runs against all nodes, while Score() runs against a fair low number of nodes - due to `percentageOfNodesToScore` and filtering result of other Filter plugins.
- Score() only needs to come up with a relative score/weight among the filtered

[2022-01-27 07:05] anguslees commented on #107735
/reopen

Sorry for the run-around, but I think the applied patch is incorrect: https://github.com/bottlerocket-os/bottlerocket/pull/1925/files#r793301369  (only a partial fix)

[2022-01-27 07:06] anguslees commented on #107735
/close

Whoops, reopened the bug against wrong repo :blush:

[2022-01-27 07:07] #107735 closed

[2022-01-27 07:10] timlegrand commented on #76015
I never did, and I'm afraid I don't work on this kind of project anymore.

[2022-01-27 07:20] Huang-Wei commented on #106884
The "OutOf{CPU|Memory}" can also happen when multi schedulers are running - they may race scheduling their pod to the same pod competing for a limited resource. From the user's perspective, the bottom line is the pod can be scheduled elsewhere eventually; instead of staying in this OutOf{CPU|Memory} state forever, unless the landing node's res is released. I'm wondering if we can define an `UnBind

[2022-01-27 07:28] wojtek-t commented on #105204
I agree it looks cleaner comparing to the current code [and I think we should do that], but I think it won't solve our problems unfortunately.

The problem is with this call:
https://github.com/kubernetes/kubernetes/blob/fcd96faa7981c1a5f649e03d7e1e66f8eb2076fc/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go#L203

If there are a lot of pods running on a given node (especial

[2022-01-27 07:54] aojea commented on #107811
ahhhg
let me fix it

[2022-01-27 08:07] g0194776 commented on #73986
any updates?

[2022-01-27 08:39] Sorionce commented on #104935
Hello, I have a similar problem:
`Error: UPGRADE FAILED: an error occurred while rolling back the release. original upgrade error: failed to create patch: unable to find api field in struct HorizontalPodAutoscalerSpec for the json field "behavior": failed to create patch: unable to find api field in struct HorizontalPodAutoscalerSpec for the json field "behavior"`
But in my case, I didn't even cha

[2022-01-27 08:51] cyclinder commented on #107811
oh, I will take a look.

[2022-01-27 08:58] uablrek commented on #107591
Got an answer from @aojea. Cri-o has it's own hostPort implementation https://github.com/cri-o/cri-o/tree/main/internal/hostport.

This is not a K8s bug, so I close this issue. It is not a `flannel` bug either so you should close https://github.com/flannel-io/flannel/issues/1528.

The problem is with `containerd`.

/close

[2022-01-27 09:00] thesuperzapper commented on #107598
@alculquicondor @soltysh I have now raised a KEP https://github.com/kubernetes/enhancements/issues/3189, and associated initial PR of the KEP summary: https://github.com/kubernetes/enhancements/pull/3190

I would greatly appreciate your review.

[2022-01-27 09:01] redbaron commented on #59848
Naive solution, which likely is not applicable, but I'll ask nevertheless, is listing from etcd without quorum read is an option here?

[2022-01-27 09:05] thesuperzapper commented on #45509
Hi All, I have now raised [KEP-3189](https://github.com/kubernetes/enhancements/issues/3189), which takes lots of the discussion from my proposal in https://github.com/kubernetes/kubernetes/issues/107598, and simplifies it into a single change.

Extend Deployments/ReplicaSets with a `downscalePodPicker` field that specifies a user-provided REST API to help decide which Pods are removed when `repli

[2022-01-27 09:05] thesuperzapper commented on #4301
Hi All, I have now raised [KEP-3189](https://github.com/kubernetes/enhancements/issues/3189), which takes lots of the discussion from my proposal in https://github.com/kubernetes/kubernetes/issues/107598, and simplifies it into a single change.

Extend Deployments/ReplicaSets with a `downscalePodPicker` field that specifies a user-provided REST API to help decide which Pods are removed when `repli

[2022-01-27 09:16] uablrek commented on #107591
Possible work-around; switch CRI-plugin to `cri-o`.

[2022-01-27 09:25] Jc2k commented on #72236
I tried escalating this to the security team but they weren't able to help!

Unfortunately I can't easily reproduce it at the moment (too many mitigations) so I don't feel like I can strongly campaign to get this fixed on my own. Can you detail your setup a bit to help? Were the load balancers on internet facing IPs? What's your cni?

[2022-01-27 09:46] jonyhy96 commented on #107809
/assign already working on this cc @cyclinder

[2022-01-27 09:47] jonyhy96 commented on #107809
/assign

[2022-01-27 09:53] Kartik494 commented on #105581
/assign

[2022-01-27 10:11] zolech commented on #81976
I've got the same issue with metrics from Traefik that contains "@".

[2022-01-27 10:18] wojtek-t commented on #59848
This break scalability (especially badly for some resource, pods in particular, because you can't list "pods from my node" from etcd - you can only list all pods and then deserialize in kube-apiserver and filter out. For each node independently. If you have 5k-node cluster with 150k pods that had an incident and all of kubelets are now starting at the same time ....]

[2022-01-27 10:20] nikhita commented on #102361
cc @soltysh
since this is sig apps related

[2022-01-27 10:27] sameer-azazi-tw commented on #40651
/remove-lifecycle stale

[2022-01-27 10:38] DIOLLIA commented on #70732
So what's news? where is official comment..&

[2022-01-27 10:49] tnqn commented on #107730
@ehashman thanks for your comment. I have uploaded container runtime and kubelet logs and updated my analysis about the issue. The steps to reproduce are also updated.
I have created https://github.com/kubernetes/kubernetes/pull/107731 which may fix the issue, could you please take a look?

[2022-01-27 11:02] #107811 closed

[2022-01-27 11:08] ckocyigit opened #107817 "StartupProbe seem to only restart/trigger with pod restart"
### What happened?

We're running Openshift in a enterprise environment and noticed something strange happening to Deployments with all 3 probes (liveness, readiness and startup).

If a new pod is beeing rolled out the container within is booting up without issues. However if for some reason (e.g. application error) the container within the same pod is restarting the startupProbe does not seem to

[2022-01-27 11:14] ckocyigit commented on #107817
/sig node

[2022-01-27 11:36] hielfx commented on #90438
@RichardoC I was able to remove the challenges with the `patch` command. E.g.:
[code]
In case you wanted to remove all challenges, you can do it like this:
[code]

Hope it helps.

[2022-01-27 11:55] rmohr commented on #46255
Just adding a use-case where having resolvable ids is great to have: In KubeVirt we are also interested in seeing an image digest which is pullable. We have a use-case where we want to ensure that exactly the same image gets pulled when starting a new pod (we migrate VMs which can use the content of containers as disks, that should be the same to not change the image under the hood of a running VM

[2022-01-27 11:59] DIOLLIA commented on #70732
No, it didn't work, not on` spec.imagePullSecrets`
and not on
`spec.initContainers.imagePullSecrets`

[2022-01-27 12:05] ardaguclu commented on #100012
The point that I don't understand about this issue; nowhere in the code(highlighted or even in whole file https://github.com/kubernetes/kubernetes/blob/4fccba9e068f31a562f753caf4b37959b4ef829a/staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go#L120-L166) is set patchType to `JSONPatchType(application/json-patch+json)`.

[2022-01-27 12:12] aojea commented on #107749
@dcbw you may find this bug interesting

[2022-01-27 12:21] fromanirh commented on #107805
/assign

[2022-01-27 12:21] EugenMayer opened #107818 "Over-Mounting an ssh-key using subpath makes the key unusable for the ssh-client"
### What happened?

Mounting a ssh-key via a secret and subpath where an existing key was present, renders the key unusable of the ssh-clieent

### What did you expect to happen?

Overmount with subpath should work or not work transparently. In this case it seems to work, but not in all cases.

### How can we reproduce it (as minimally and precisely as possible)?

Create a pod (and the secret) wit

[2022-01-27 12:47] uablrek commented on #107591
It might also be possible to configure `containerd` in some way. But I don't know how.

[2022-01-27 12:49] jpiper commented on #72236
In my test rig I'm on bare metal, and I put kube-proxy in ipvs mode, and then metallb to assign the VIPs from some private IP space. I have tried both Cilium and Calico for the CNI and both have this bug (my hunch would be that if I tried cilium's kube-proxy replacement this wouldn't be an issue).

I haven't looked into it, but I wouldn't be surprised if the cloud load balancer providers (e.g. htt

[2022-01-27 13:01] jpiper commented on #72236
or (and I suspect this is more likely) none of the cloud providers support IPVS out of the box so this isn't really on anyone's radar

https://github.com/Azure/AKS/issues/1846
https://github.com/aws/containers-roadmap/issues/142
https://stackoverflow.com/questions/54238807/is-there-a-way-to-enable-ipvs-proxy-mode-on-gke-cluster

[2022-01-27 13:13] ahg-g commented on #106884
The multi-scheduler problem should probably be addressed by splitting the nodes between schedulers.

pod lifecycle is already complex, this will only add to its complexity and makes it harder to reason about pod states/phases.

[2022-01-27 13:36] damalhot commented on #107743
@aojea  : I have already shared both pieces of logs earlier (in my previous messages). I will share again.
kube-apiserver logs :
[code]
 kubectl trace:
[code]

[2022-01-27 13:37] mishamo commented on #94698
Would there be appetite for the "expected" behaviour under a different command that could be marked as "safe for use with the declarative workflow"? Perhaps something like `kubectl apply rollback`?

[2022-01-27 13:43] clowa commented on #53248
If @weibeld's example didn't work for you and you got the message `error: unrecognized identifier ServiceAccount`, you just need to escape the `"` via `\"`.
This should work:
[code]

Thanks to everyone who added his ideas and solutions in this issue. 🚀

[2022-01-27 13:49] Jc2k commented on #72236
Thanks @jpiper. Yeah thats basically my setup (Calico + MetalLB), with VIP's coming from public ip space (not RFC1918).

In the original calico ticket (https://github.com/projectcalico/calico/issues/2279) @KashifSaadat had calico managed iptable rules that couldn't block this traffic. So there was a bug in kube-proxy *AND* calico couldn't even mitigate it.

I think calico managed pre-dnat rules ca

[2022-01-27 14:16] ingvagabund commented on #89178
/remove-lifecycle stale

[2022-01-27 14:30] alculquicondor commented on #107598
Just FYI, enhancements freeze is next Thursday, so it might be too late to get this merged. I'll review ASAP anyways.

[2022-01-27 14:46] #105783 closed

[2022-01-27 15:01] liggitt commented on #105204
Yeah, did a detailed analysis at https://github.com/kubernetes/kubernetes/pull/107739#issuecomment-1022832147, and it's clear mount operations are being tried after the pod worker lifecycle thinks it has ended.

I think the right approach is for both subsystems (both the secret/configmap manager and volumes) to position themselves properly w.r.t. the pod worker lifecycle, and as each one does, the

[2022-01-27 15:04] wojtek-t commented on #105204
Yeah - I agree.  You kind of did it for secret/configmap in:
https://github.com/kubernetes/kubernetes/pull/107739/commits/ab7c466d58e796625048e96edb1998d85830eaa6
I'm assuming you will finish this? Or you want me to take it over?

Regaring volume-manager - I'm not in the position for doing that - I think someone from sig-storage should probably take this.

[2022-01-27 15:06] neolit123 commented on #107818
/kind support
/sig storage

[2022-01-27 16:06] smarterclayton commented on #105204
I'll help the storage team on the DSW -> reconciler.mountVolumes latency, which means volumes are tens of seconsd behind the actual state of the world:

from https://github.com/kubernetes/kubernetes/pull/107739#issuecomment-1023374189

[2022-01-27 16:10] endocrimes commented on #107800
Looks like they're failing because `ctr` is unavailable, digging further.

[2022-01-27 16:11] mimmus opened #107822 "Missing annotation to specify private, static IPs for AWS NLB"
### What happened?

Only annotation to specify EIP allocations for an **external** NLB is available:

[code]

but for an AWS internal NLB, you can assign a private IP address from the IPv4 range of each subnet instead of letting AWS assign one for you  (and this is very useful if you have an ALB in front of these).

### What did you expect to happen?

An annotation to specify a comma-separated lis

[2022-01-27 16:23] matti commented on #54482
stupid question, what if the hostname is changed before running `/etc/eks/bootstrap.sh` ?

[2022-01-27 16:28] johngmyers commented on #94698
How would an imperative workflow configure a resource that could then safely be targeted by `rollout undo`, if not with `apply`?

[2022-01-27 17:12] marosset commented on #100388
/remove-lifecycle rotten

[2022-01-27 17:38] EugenMayer commented on #107818
@neolit123 are you sure this is a support question? Is this really 'by design'? Anyway, waiting for more information to understand the motivation to degrade it from bug to support.

[2022-01-27 17:40] marosset commented on #105918
/lifecycle stale
@phillipsj as FYI

[2022-01-27 17:41] marosset commented on #105918
/remove-lifecycle stale

[2022-01-27 17:43] fedebongio commented on #107790
/assign @jpbetz
/triage accepted

[2022-01-27 17:43] marosset commented on #105918
https://github.com/kubernetes/kubernetes/issues/106636 might be related

[2022-01-27 17:44] fedebongio commented on #107795
/assign @jpbetz
/triage accepted

[2022-01-27 17:46] marosset commented on #107019
/cc @phillipsj @daschott @jsturtevant @jayunit100
as FYI

[2022-01-27 17:46] fedebongio commented on #107809
thanks @jonyhy96 and @cyclinder, will be waiting for your PR!

/assign @kevindelgado
/cc @jpbetz
/triage accepted

[2022-01-27 17:46] marosset commented on #106752
/triage accepted
/help

[2022-01-27 17:48] marosset commented on #106278
/close
We recently updated some test configs for windows to run 1.6.0-rc.1.
Ex - https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-containerd-master

[2022-01-27 17:49] #106278 closed

[2022-01-27 17:50] marosset commented on #107394
/triage accepted

[2022-01-27 17:51] neolit123 commented on #107818
you should include error output for the ssh commands that fail.

unclear, sig-storage (the owners) will decide.

[2022-01-27 17:53] marosset commented on #107290
/triage accepted
/milestone v1.24

This is an issue in containerd

[2022-01-27 17:56] #101321 closed

[2022-01-27 17:57] marosset commented on #105336
/assign @claudiubelu
We haven't seen this in a while - can you check if this is still and issue and/or close if necessary?

[2022-01-27 18:07] marosset commented on #98499
We believe this issue is fixed (at least for aks-engine and CAPZ) by changing some port ranges on the node before running tests.
https://github.com/Azure/aks-engine/pull/4767

[2022-01-27 18:08] marosset commented on #98499
https://github.com/kubernetes-sigs/image-builder/pull/750
Is the change for CAPZ

[2022-01-27 18:08] marosset commented on #98499
/close

[2022-01-27 18:47] bobbypage commented on #107800
Yes, looks like `ctr` is not unavailable for some reason, thus node bootstrap is failing

For https://testgrid.k8s.io/sig-node-containerd#e2e-ubuntu

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/1486597755479527424

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/1486597755479527424/artifacts/bootstrap-e2e-minion-group

[2022-01-27 19:29] embano1 commented on #59848
With https://github.com/sieve-project/sieve we found several bugs in real-world controllers, some of those caused by time travel anomalies.

While not a perfect mitigation (bc always depending on the problem domain), using optimistic concurrency control patterns not only during updates but also (conditional) deletes, also can mitigate some of the time travel anomalies by fencing off operations fro

[2022-01-27 19:32] msau42 commented on #100219
/remove-lifecycle rotten
/reopen

[2022-01-27 19:36] smarterclayton commented on #100219
In syncPod you can't assume anything, but you can call the pod worker to check Should*() methods (introduced in 1.21).  Calls to that method are cheap (lock per pod)

[2022-01-27 19:57] #104001 closed

[2022-01-27 20:23] neolit123 commented on #107822
/sig cloud-provider
/area provider/aws

[2022-01-27 20:34] liggitt commented on #105204
Now that we've thoroughly hijacked this issue to deal with the "not registered" mount failure events, I want to revisit the original issue that prompted the report: cronjob -> job -> pods not running as expected.

From what I can see, the "not registered" mount warnings are a red herring that get spuriously logged as a pod is terminating or has terminated, but I haven't seen examples where it was

[2022-01-27 20:48] alex-vmw opened #107825 "kubectl describe ingress command should not default to hard-coded default backend in the kube-system namespace"
kubectl describe ingress command should not default to hard-coded default backend in the kube-system namespace (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L2636):
[code]
If the Ingress does not have a defined default backend, why not simply leave the default backend field empty?

On our Kubernetes clusters (and I am sure on many others)

[2022-01-27 20:49] alex-vmw commented on #107825
/sig cli

[2022-01-27 20:58] pabrahamasurion opened #107827 "CronJob not honoring concurrencyPolicy: Forbid v1.20"
### What happened?

Cronjobs created in Kubernetes version v1.20 is not honoring `concurrencyPolicy: Forbid` . It always spins up new jobs if the previous job is still running. As per the docs concurrencyPolicy: Forbid should not spin up new Jobs if one is already running. So this looks like a bug. This is working fine in v1.19. I am using EKS.

If the cronjob is scheduled for every 10 minutes . i

[2022-01-27 21:58] KnVerey commented on #94698
Unfortunately that would exacerbate the problem for the users this affects, since the result would be `apply` not owning _any_ of the fields it previously did as of the rollback.

No, because the declarative way to roll back is to re-apply the previous state, as @soltysh reiterated in the meetings.

Apply by definition is not imperative. If you choose imperative configuration management as your st

[2022-01-27 22:57] chrisayoub opened #107828 "Server-side apply dry-run incorrectly does not report any changes when removing a field from an object"
### What happened?

When running a server-side apply with the following query parameters, the result indicates that there is no change when in fact a field is being deleted from the target object.
[code]
(parameters taken from `kubectl diff ... -v6` as reproduced below)

### What did you expect to happen?

I would expect that the `kubectl diff` output when run server-side matches that when run cli

[2022-01-27 22:58] neolit123 commented on #107828
/sig api-machinery

[2022-01-27 22:58] neolit123 commented on #107827
/sig apps

[2022-01-28 00:09] dwickr commented on #107043
I got around this by naming my logind conf file `/etc/systemd/logind.conf.d/zz-max-delay.conf`, which gives it higher precedence than the config file for unattended-upgrades, which is named `unattended-upgrades-logind-maxdelay.conf`. It's a little unfortunate they didn't follow the numbering pattern here, but the `zz-` prefix is a decent workaround for getting the Kube config to load lexicographic

[2022-01-28 01:39] geotransformer commented on #107320
apiserver.log

E0128 01:31:16.171494       1 reflector.go:138] k8s.io/client-go/informers/factory.go:134: Failed to watch *v1.Secret: failed to list *v1.Secret: Internal error occurred: unable to transform key "/registry/secrets/xxxxxxx/xxxxxxx-sa-token-dzhkb": invalid padding on input
E0128 01:32:15.205679       1 reflector.go:138] k8s.io/client-go/informers/factory.go:134: Failed to watch *v1.Se

[2022-01-28 02:41] jyotimahapatra commented on #106917
@mrbobbytables 👋 I'm in the release 1.24 bug triage team. Since this issue is marked as a release blocker , want to find out if this is a placeholder issue? Let me know how we could track the progress as we go deeper into the release timeline.

[2022-01-28 02:59] bobbypage opened #107830 "cos-cgroupv2-containerd-e2e failing"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-e2e

### Which tests are failing?

majority of tests

### Since when has it been failing?

Since 01-25

### Testgrid link

_No response_

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### Relevant SIG(s)

/sig node

[2022-01-28 02:59] bobbypage commented on #107801
Created issue for `cos-cgroupv2-containerd-e2e` failure - https://github.com/kubernetes/kubernetes/issues/107830

[2022-01-28 03:00] bobbypage commented on #107830
Last passing - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cos-cgroupv2-containerd-e2e-gce/1485774353298624512

First failing - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cos-cgroupv2-containerd-e2e-gce/1485955549232107520

[2022-01-28 03:01] bobbypage commented on #107830
Majority of tests failing with `unable to upgrade connection`

[2022-01-28 03:04] bobbypage commented on #107830
Passing metadata

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cos-cgroupv2-containerd-e2e-gce/1485774353298624512/artifacts/metadata.json

Failing metadata

{"control_plane_node_os_image":"cos-85-13310-1308-1","job-version":"v1.24.0-alpha.1.761+e5ae3f8d67049d","kubetest-version":"","revision":"v1.24.0-alpha.1.761+e5ae3f8d67049d","worker_node_os_image":"cos-dev-97-16843-0-0"}

[2022-01-28 03:05] bobbypage commented on #107830
/cc @Dragoncell

[2022-01-28 03:21] pabrahamasurion commented on #107827
Closing this issue as it is infact working in Kubernetes v1.20

[2022-01-28 03:21] #107827 closed

[2022-01-28 03:30] bobbypage commented on #107800
I found something a bit weird. `ctr` should be installed by systemd service `containerd-installation.service`

I reran the test locally and did `journalctl -u kube-node-installation.service`

[code]

Looking at `journalctl -u containerd-installation.service`

[code]

The strange thing is that error from ctr was at `Jan 28 03:20:45` which appears to be before the containerd tarball was extracted `J

[2022-01-28 03:37] bobbypage commented on #107800
From `systemctl list-dependencies`

[code]

so it appears that there is no dependency where containerd target needs to run _before_ kube-node-installation.service

[2022-01-28 04:18] adisky commented on #107800
The containerd installation logs seems to have installed `ctr`
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-e2e-ubuntu-gce/1486902749667790848/artifacts/bootstrap-e2e-minion-group-8pw1/containerd-installation.log

Tests started suddenly failing after 25 Jan. Also there are no containerd installation log for passed tests, So were we installing containerd before? (possibly us

[2022-01-28 04:39] bobbypage commented on #107800
I'm testing this patch for cloud-init

[code]

[2022-01-28 05:28] adisky commented on #107800
Possibly the reason is, previously it was not reaching to this `ensure_container_runtime` if condition which is verifying containerd installation as `container_runtime` was set to `remote`

https://github.com/kubernetes/kubernetes/pull/107663/files#diff-dcbe601f5e14c1d9d805d0daf3629e02d1e1ea2be615f6e7f3036ca90a25c6e4L597-L608

We were installing containerd for this job from containerd main repo, n

[2022-01-28 05:36] bobbypage commented on #107800
That may be the issue, I tested patch in https://github.com/kubernetes/kubernetes/issues/107800#issuecomment-1023881016 and it looks like it did ensure the ordering of the services, but I still get the same `ERROR ctr not found. Aborting`, so it does not fix the issue.

[2022-01-28 05:52] adisky commented on #107800
@bobbypage should we try this https://github.com/kubernetes/kubernetes/pull/10783?

[2022-01-28 06:00] bobbypage commented on #107800
ah, I looked into a bit more another clue. I did the following:

[code]

Here's the journalctl logs

[code]

This PATH doesn't include ctr so the test won't find it

[code]

Instead ctr is installed under `/home/containerd/...`

[code]

This gets added to login shell because of this

[code]

`/etc/profile.d/containerd_env.sh` is added by containerd script - https://github.com/containerd/containerd

[2022-01-28 06:02] bobbypage commented on #107800
So I think the another possible solution here is to source `/etc/profile.d/containerd_env.sh` if it exits so that `ctr` and related utilities are in the path.

It looks like we simply didn't hit this code path before due to reasons mentioned in https://github.com/kubernetes/kubernetes/issues/107800#issuecomment-1023900103 so this is why it's only surfacing after  https://github.com/kubernetes/kube

[2022-01-28 06:33] adisky commented on #107800
That also sounds right, updating the PR

[2022-01-28 07:01] damalhot commented on #107743
Thanks for patiently looking into this issue faced by me ! I am having a dual-stack cluster. This is what I am doing:
1. My nodes are dual stack (i.e. Node Network / underlay). They are connected via /25 v4 network and /119 v6 network.
[code]

2. I am initializing the cluster with kubeadm
[code]
3. Installed Calico CNI and made changes to support IPv6 as they have documented.
4. The results that I

[2022-01-28 07:05] ardaguclu commented on #107828
/assign

[2022-01-28 07:14] MadhavJivrajani commented on #106754
/asssign

[2022-01-28 07:15] MadhavJivrajani commented on #106754
/assign

[2022-01-28 07:24] RyanAoh commented on #105395
According to the source code of the function [`(dc *DeploymentController) scale(ctx context.Context...)`](https://github.com/kubernetes/kubernetes/blob/83ca74541216405323ddfb67f5f80ad5717da826/pkg/controller/deployment/sync.go#L298), the scaling of the replicaset with old spec is expected.
Refer to these coments：https://github.com/kubernetes/kubernetes/blob/83ca74541216405323ddfb67f5f80ad5717da826

[2022-01-28 07:46] afbjorklund commented on #106917
Currently there are no (working) upstream instructions for how to install the CRI for containerd and for docker.

There are inline instructions for containerd (downloading from docker.com, **not** from containerd.io) and for CRI-O.
But for cri-dockerd, there are no inline instructions and the upstream instructions have a fatal typo (and no packages)

It's not blocking, but it's not ideal. You woul

[2022-01-28 08:05] #84764 closed

[2022-01-28 08:37] aojea commented on #104252
Quoting from https://github.com/kubernetes/kubernetes/pull/107773#issuecomment-1023995506

[2022-01-28 08:47] ardaguclu commented on #107828
I investigated the issue you filed and could have reproduced.

I think server-side apply just skips if the resources are applied with client-side or managed fields' owners are different than it's?.

As you mentioned this does not work;

[code]
But I tried this and it worked;

[code]
I'm not sure this is a bug or intentional design decision, thereby I'm removing my assignment to someone verify it.

[2022-01-28 08:54] jonyhy96 commented on #107809
Already issued pr #107833 but it brings a circular reference
Maybe we should first add these two functions to apimachinery? WDYT @fedebongio
[code]

[2022-01-28 09:02] damalhot commented on #107743
Also, providing the node status.
Master node:
[code]

[code]

[2022-01-28 09:19] jlsong01 commented on #107499
Now client-go pins to mergo v0.3.5, seem v0.3.5 has some bug, while the bug has been fixed since v0.3.8.

To my understanding, the expected `wantHost` should be https://2.2.2.2:8001  instead of 1.1.1.1, as in client-go mergo.WithOverride is specified.

so, we should upgrade the k8s dependency from v0.3.5 to the latest 0.3.12, and add some comments to client-go to clarify it.
@liggitt @dims Please

[2022-01-28 09:51] BenTheElder commented on #107702
in presubmit the concurrency was reduced IIRC (to reduce memory used at any given time, this regressed in go). glancing at these logs suggests the same probably needs to be done here.

there's some suggestion that a) go 1.18 has this patched already and that b) the go team may backport a fix to go1.17 https://github.com/golang/go/issues/49035

[2022-01-28 10:57] johnson2677 commented on #24677
was looking for long time for this answer in [Kubenetes](https://www.kbstraining.com/kubernetes-training.html) Login and [Splunk](https://www.kbstraining.com/splunk-training.html) Administration Thanks For Sharing This.

[2022-01-28 11:19] ardaguclu commented on #107828
I'd like to also note;

[code]

After applying above resource. This also does not remove `my-label: my-value`;

[code]

[2022-01-28 13:32] damalhot commented on #107743
@aojea  : As promised, I added a node to same cluster which has containerd as CRI. And I am getting same error to fetch logs of a pod running on this new node ( i.e. xyz-dpe-12). So, I believe this is not a CRI issue, rather kube-apiserver unable to connect to kubelet on IPv6.

[code]
[code]

[code]

[2022-01-28 14:16] liggitt commented on #107499
it's been a long time since I've looked at this, but whatever we upgrade to, the existing kubernetes unit tests exercising the merging need to keep passing

[2022-01-28 14:17] mishamo commented on #94698
That makes sense if the previous state is readily available. If it isn't available from some other source (e.g. git history or a past helm chart etc) and it _is_ available through the `last-applied-configuration` annotation, it feels like an invaluable convenience to be able to rollback in this manner.

[2022-01-28 14:50] rphillips commented on #107483
This may be fixed by https://github.com/kubernetes/kubernetes/pull/107695

[2022-01-28 15:05] #101371 closed

[2022-01-28 15:21] TeddyAndrieux commented on #107733
To me it need to be fixed in 1.22 as well

[2022-01-28 15:27] aojea commented on #107743
your nodes are ipv6, ipv4 , however you have configured the rest of the cluster as ipv4,ipv6 ... can you swap the nodeIPs and try again, the cluster components must have the same order ...
If the nodes with IPv4,IPv6  works, we can iterate later to make kubernetes more resilient, but checking the code that can cause the issue

[2022-01-28 15:37] rennokki commented on #72811
2021 and this is still an issue. I have to set requests values too much more than needed and I have spare computing power that I don't use because of that. Congrats Kubernetes, something broke that got ignored. 👍

[2022-01-28 15:38] hj-johannes-lee opened #107838 "Pods fail with "restartPolicy: Always""
### What happened?

[code]

As you can see, the status of the Pod I created using the yaml file I put above becomes "CrashLoopBackOff" when restartPolicy is set as "Always". After a while, it becomes "Running", but it again becomes "CrashLoopBackOff" after the next running is done. In addition, I can see the amount of time when the status remains as "CrashLoopBackOff" gets longer (up to about 5 mi

[2022-01-28 15:38] xxTr00p3rxx commented on #81089
+1, using authorized_keys for non-root users

[2022-01-28 15:49] philipcwhite commented on #78446
I have this issue as well when connecting to GKE and port forwarding.  It works for some things but for slower queries it blows up.  When trying to pull data from Managed Prometheus into Grafana its a no go.  Once the pipe breaks it no longer works period.

[2022-01-28 16:09] fjammes commented on #107560
@fedebongio Sure! I'll make the PR.

[2022-01-28 16:20] damalhot commented on #107743
If I setup node as IPv4, IPv6 ---> things work fine as kube-apiserver and kubelet talk on IPv4 (As node is primarily identified by its IPv4 address).
But, if I setup node as IPv6, IPv4 ---> things do not work fine as kube-apiserver and kubelet talk on IPv6 (As node is primarily identified by its IPv6 address). Specifically, `kubectl logs` errors out, although `kubectl exec` works fine. All I am tr

[2022-01-28 16:25] aojea commented on #107743
it is arguable that is a bug because IPv4 to IPv6 conversion is not supported, but let's go deeper ...

if you connect the apiserver on the ipv6 address, does it work with your nodes as IPv6 ?

[2022-01-28 16:29] aojea commented on #107743
I can't reproduce with 1.22 version

[code]

[2022-01-28 17:06] #69608 closed

[2022-01-28 17:14] aojea commented on #107766
there is a race shutting down the socks5 server

[code]

[2022-01-28 17:32] #107708 closed

[2022-01-28 17:52] stek29 commented on #105287
How is this different from using podAntiAffinity and labels?

something like this:
[code]

[2022-01-28 17:55] stek29 commented on #105287
How is this different from using podAntiAffinity and labels?
Something like this:

[code]

[2022-01-28 18:07] alculquicondor commented on #105287
Did you mean `podAntiAffinity`? The complication of the above approach is that every pod has to have such label, even if such pod doesn't need to be 1:1.

[2022-01-28 18:58] damalhot commented on #107743
Connecting on v4 to kube-apiserver:
[code]
Connecting on v6 to kube-apiserver:
[code]

[2022-01-28 18:59] damalhot commented on #107743
If you are not seeing it on 1.22, probably I should also move to 1.22 or even better 1.23.

[2022-01-28 19:01] aojea commented on #107743
yeah, let's try to understand this better

[2022-01-28 19:22] stek29 commented on #105287
@alculquicondor thanks, it makes sense now.
also, I guess specific option for 1:1 pod should be more optimal for scheduler than antiAffinity on kubernetes.io/hostname, I guess.

[2022-01-28 19:25] therealak12 commented on #76790
@lukos It could be due to alpine base image. If you using such an image as the base image, consider changing it to normal distribution images e.g. Ubuntu.

[2022-01-28 19:27] uhari03 commented on #106754
no go ahead and take it

[2022-01-28 19:41] alculquicondor commented on #105287
Yes, ideally it should be faster to calculate. There's an open KEP if you are interested in following up #3098

[2022-01-28 19:44] ehashman commented on #107733
@TeddyAndrieux the affected code is not present in 1.22.

Fix confirmed in OpenShift CI: https://bugzilla.redhat.com/show_bug.cgi?id=2040533#c10

@gjkim42 could we add some unit test coverage for this code path?

[2022-01-28 20:51] TeddyAndrieux commented on #107733
@ehashman I did not follow all the detail about this ticket but from what I see the original PR that caused this bug has been cherry-picked in 1.22 (https://github.com/kubernetes/kubernetes/pull/106394) (part of 1.22.5)

And btw I observed a similar issue on 1.22.5 and 1.22.6 (but not on 1.22.4)

[2022-01-28 22:26] ileixe commented on #93282
Any progress in this issue? I agree current behaviors looks strange as some of systems depend on the init-container letting operators control normal containers only. I'd like to set QoS without touching the init container.

[2022-01-28 22:41] ww3pl opened #107844 "Kubeadm/kubeconfig: user should accept a in-cluster kubeadm config"
### What would you like to be added?

If possible, I'd love to see the option for `kubeadm kubeconfig user` to be able to use not only a kubeadm config file for the required `--config` flag, but also a ConfigMap directly from the cluster.

An alternative would be to specify in the Kubernetes docs how to easily find and/or generate such a kubeadm file to be passed into the command.

- [kubeadm conf