[2021-10-05 01:57] #105200 closed

[2021-10-05 04:31] LiamStorkey commented on #99813
@kishorj Thanks for picking this up! is it `v2.3.0` of the alb controller?

[2021-10-05 04:52] BenTheElder commented on #105321
I don't think that's what it shows at all. It shows that we need this for backwards compatibility. I would argue this note is completely out of place in this doc as it really only pertains to our own images. Wherever possible tooling is using the multi-arch manifest names instead (e.g. kubeadm), IMHO this is by far the most robust solution to architecture placement (just let the node pull the rele

[2021-10-05 05:38] MadhavJivrajani commented on #104462
Sorry, I'm not able to find the time to close this. I've reached out to folks who are interested - happy to help out async as much as possible.
/unassign
cc @PurneswarPrasad

[2021-10-05 05:39] PurneswarPrasad commented on #104462
/assign

[2021-10-05 05:53] cofyc commented on #93552
I think it's still an issue. Yes, we build the cache for every new scheduling cycle, but the cache is built from the volume binding informer.

The root of the problem is the PV & PVC cache used by volume binding is not updated by the scheduler event handlers and there is [no guarantee in which order different event handlers will be called](https://github.com/kubernetes/client-go/blob/36ef1697870db

[2021-10-05 07:46] Somebi commented on #65569
Still having the same issue in:
[code]

Pod stuck and doesn't terminate by itself. Will try to kill it forcibly. It was a redis-slave pod.

[2021-10-05 07:56] ball-hayden commented on #105464
/sig node

[2021-10-05 09:44] endocrimes commented on #105047
I've been on PTO for the last couple of weeks but started looking at this again today and audited our current set of tests and how they exercise dkc to refresh my brain, and double check the extra modes that test_e2e can run in.

Unfortunately, without breaking tests into sub-suites and then merging test results, it doesn't seem that we can avoid replacing dkc in some way (rather than providing mu

[2021-10-05 10:09] akshaysharama commented on #105440
@rphillips ,
    ` 9175 event.go:265] Unable to write event: 'Post https://[xx.xx.xx.xx]:6443/api/v1/namespaces/default/events: dial tcp xx.xx.xx.xx:6443: connect: connection refused' (may retry after sleeping)
          2021-09-17 10:37:16.6059 localhost kubelet[9175]: F0917 10:37:16.604801 9175 server.go:182] Failed to create listener for podResources endpoint: failed to create temporary file: o

[2021-10-05 11:17] adisky commented on #104878
We also need to update the guide for running `local-up-cluster.sh`  to use CRI runtimes rather than docker https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md

[2021-10-05 11:31] marseel commented on #105370
Our job is using `./hack/e2e-internal/e2e-up.sh`, I've also checked other job `pull-kubernetes-e2e-gce-ubuntu-containerd` (which is also using  `./hack/e2e-internal/e2e-up.sh`) and in this job `kube-proxy` is also using `global-default`.

I believe that this line is relevant when we are running e2e tests on gce: https://github.com/kubernetes/kubernetes/blob/6f942a0701bec803e68845fc1c7ceefa5dcbd8e1

[2021-10-05 11:35] neolit123 commented on #105453
I did not notice it is a symlink. Given no copies are created  this does
not seem like a critical problem.

Please close if needed.

/milestone clear
/remove-priority important-soon
On Oct 5, 2021 4:40 AM, "Jordan Liggitt" ***@***.***> wrote:

I think this is working as intended…. _output/local/go/src/k8s.io/kubernetes
is a symlink to ../ in order to place to root of the clone in a
gopath-compatib

[2021-10-05 11:41] saschagrunert commented on #105284
I think we have to set the `$HOME` environment variable like we already do in other build jobs, proposing the fix in https://github.com/kubernetes/kubernetes/pull/105484

[2021-10-05 11:43] marseel commented on #105370
/cc @bowei
/cc @robscott
Tldr: In current GCE setup of k8s kube-proxy user is not in "system:nodes" group. This affects how kube-proxy requests are assigned to Priority Levels In P&F. In terms of kubernetes, do we want to make requirement that kube-proxy user is in "system:nodes" group and fix current GCE setup or maybe add separate FlowSchema for kube-proxy that doesn't depend on user group.  WDY

[2021-10-05 12:33] rajivml commented on #70044
After the recent 1.21.4 upgrade, In the last one week, we have seen this issue of 3 of our environments and as @brandond mentioned, the repro is simple, delete a pod which takes a bit of time to terminate and at the same time restart kubelet + containerd.

We are using kubernetes (RKE2) bundled by rancher and longhorn for storage abstraction and I tried deleting couple of pods which usually takes

[2021-10-05 12:41] #85545 closed

[2021-10-05 13:08] rdxmb commented on #101653
@pacoxu

sorry, I have not seen your answer yet.

No, not Failed or Success. I talk about pods belonging to deployments or statefulSets.

Unfortunately, I am not able to reproduce that anymore, because we've just changed the environment to use smaller nodes - so we cannot reach the maximum number of pods. For me it seems that there is a problem when reaching the max number of pods, where there is

[2021-10-05 13:08] rdxmb commented on #101653
/remove-lifecycle stale

[2021-10-05 13:14] ahg-g commented on #105321
+1; I don't think the scheduler can make a decision, and it is not good enough to simply make a guess.

[2021-10-05 13:28] neolit123 commented on #105047
configuration at runtime (which... is amusing).

I find it surprising that so many tests are bound to this feature. The now
required kubelet restart might cause problems.

Porting to the new mechanism as a first attempt makes sense. At that point
if any tests are not happy about the restart, they should be rewritten to
not change config at runtime...and/or fix discovered bugs.

[2021-10-05 13:42] endocrimes commented on #105047
@neolit123 I was surprised by how many were using it too tbh - Fortunately we should have a bit more control in the harness doing it manually than we did with dynamic config (or at least more obvious debugging points).

I'm assuming that it's going to highlight a couple of currently flaky bugs that we'll need to take care of pretty quickly.

[2021-10-05 13:47] #104682 closed

[2021-10-05 14:01] sftim commented on #105183
This sounds like a case for a new controller, beyond what CronJob is capable of. The new controller could manage Jobs that set all the environment variables and / or command line options that you want it to.

[2021-10-05 14:02] sftim commented on #104012
Since this was filed, the documentation now refers readers to the robfig cron package format documentation.

[2021-10-05 15:08] jimlindeman commented on #57187
It should probably be stated that an ideal behavior is that the liveness checking is actually preserved in terms of removing the pod from service load-balancer assignment (i.e. we don't want new REST requests going to the pod which is being debugged if there are other peers that can take the traffic), but we do want to disable the automated restart.

[2021-10-05 15:26] adampl commented on #75378
/lifecycle freeze

[2021-10-05 15:29] adampl commented on #75378
/lifecycle frozen

[2021-10-05 15:55] danwinship commented on #105470
ah, indeed, this is basically a duplicate

[2021-10-05 15:55] #105470 closed

[2021-10-05 16:02] danwinship commented on #100313
That implementation is wrong according to [the KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2086-service-internal-traffic-policy):

[2021-10-05 16:25] jethrogb commented on #59119
/remove-lifecycle stale

[2021-10-05 16:31] khenidak commented on #105439
@dilyanpalauzov I am not sure what is needed by this issue. Are you looking for clarification?
/triage needs-information

[2021-10-05 16:42] lavalamp opened #105489 "kubectl: discovery is throttled when there are lots of resources (CRDs)"
The default client side rate limit is 50qps with a burst of 100.

Kubectl does a discovery pass before doing the operation requested. Discovery involves (some combination of) reading the OpenAPI spec and the "homegrown" discovery information for the purpose of e.g. mapping kinds to resources. Sometimes these can be cached, but even if it is cached, an API call can be required to verify it hasn't c

[2021-10-05 16:58] spiffxp commented on #105436
Well, it's not related to the MTU workaround I proposed in https://github.com/kubernetes/kubernetes/issues/105436#issuecomment-933874821.  https://github.com/kubernetes/kubernetes/pull/105488 shows integration failing with and without that in place:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/105488/pull-kubernetes-integration-1-22-canary/1445421649049423872
- https://prow.k8s.io

[2021-10-05 16:59] ehashman commented on #99877
/remove-lifecycle stale
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/105462/pull-kubernetes-unit/1445425277772500992

[2021-10-05 17:04] thockin commented on #101029
@khenidak unless we've got a viable solution to this, I think we should  close it.

[2021-10-05 17:08] thockin commented on #103544
I don't think we can safely "fix" this in `kubectl apply` (or any strategic merge patch client).  The key for SMP is simply not sufficiently unique.  Clients perceive two ports with the same port number as the same (even though they differ in protocol), and merge them "successfully", but not as the user intended.

The fixes are either:

1) use `kubectl replace` (read, modify, write)
2) use `kubect

[2021-10-05 17:08] #103544 closed

[2021-10-05 17:08] thockin commented on #59119
See #103544 for status.

[2021-10-05 17:08] #59119 closed

[2021-10-05 17:08] thockin commented on #105279
See #103544 for status.

[2021-10-05 17:08] #105279 closed

[2021-10-05 17:08] thockin commented on #101393
@khenidak unless we've got a viable solution to this, I think we should  close it.

See #103544 for status on the merge problem overall (de-duping).

[2021-10-05 17:09] thockin commented on #101393
Maybe we should add API comments to document this?

[2021-10-05 17:35] ravisantoshgudimetla opened #105492 "PreferNominatedNode integration test flakes"
#### Which jobs are flaking:
Integration tests are sometimes flaking locally:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/105432/pull-kubernetes-integration/1445055277958172672
#### Which test(s) are flaking:
PreferNominatedNode
#### Testgrid link:

#### Reason for failure:
Once the node gets deleted, the nodelifecycle controller
is racing to update pod status and the pod deletion

[2021-10-05 17:37] ravisantoshgudimetla commented on #105492
cc @alculquicondor @Huang-Wei @ahg-g

Tried addressing it via https://github.com/kubernetes/kubernetes/pull/104251/commits/d988387139edc6a8cd748d99df082ec8695084ec

[2021-10-05 17:41] deads2k commented on #105409
There is not currently a way to know that ahead of time in the filters today.  It require a list/watch, but it ought not be excessively expensive to make a 99% correct prediction, but the actual decision is made by the aggregated apiserver later in the request.

[2021-10-05 17:44] seans3 commented on #105489
/triage accepted
/assign

[2021-10-05 17:50] justinsb commented on #105489
Two contributory things:

* I think there's a bug where `kubectl get clusterrolebindings.rbac.authorization.k8s.io` forces a cache invalidation and full rediscovery, but ``kubectl get clusterrolebindings` does not.  The gotcha is that tab completion uses the full name, and of course you're more likely to use tab completion when you have lots of CRDs, making discovery more expensive.

* In general,

[2021-10-05 17:52] seans3 commented on #105489
Moving to kubectl repo: https://github.com/kubernetes/kubectl/issues/1126

/close

[2021-10-05 17:52] #105489 closed

[2021-10-05 18:21] #102295 closed

[2021-10-05 18:22] #105284 closed

[2021-10-05 18:57] karlkfi opened #105494 "API Priority and Fairness doc does not explain expected client behavior"
#### What happened:

I read the [API Priority and Fairness](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/) doc and it didn't explain how the client should behave when interacting with the API server.

#### What you expected to happen:

I would like the docs to explain:
- How should the client handle throttling/slowness?
- How should the client handle cancellation due to

[2021-10-05 18:58] lavalamp commented on #105494
/sig api-machinery

cc @MikeSpreitzer @wojtek-t @tkashem

[2021-10-05 19:13] dilyanpalauzov commented on #105439
Is iptables the best available proxy, or is ipvs better than iptables?

[2021-10-05 19:42] #90838 closed

[2021-10-05 19:44] spiffxp commented on #105436
At this point I have run out of "what changed" stuff to hunt down for the job as a whole.  Need help figuring out what tests are actually failing and why.

Tests that failed in regular integration
[code]
Tests that failed in canary
[code]

The fact that `TestWebhookTimeoutWithoutWatchCache` shows up in both makes me think https://github.com/kubernetes/kubernetes/issues/103512 isn't resolved (on th

[2021-10-05 19:45] spiffxp commented on #105436
https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&job=pull-kubernetes-integration is failing to load in Chrome again, ref: https://github.com/kubernetes/test-infra/issues/22906

[2021-10-05 19:59] tiloso commented on #104721
The issue should be resolved since #103023 has been merged.

[2021-10-05 20:12] #105358 closed

[2021-10-05 20:16] Huang-Wei commented on #105321
Yes, we definitely don't want to put it on the hot path. That's the point of "make it performant" I mentioned earlier.

Also using the arch postfix `suffix -$(ARCH)` doesn't sound like a feasible option. It must be discovered from an authoritative OCI API call alike.

[2021-10-05 20:27] fedebongio commented on #105393
/triage accepted

[2021-10-05 20:28] fedebongio commented on #105409
/triage accepted

[2021-10-05 20:28] fedebongio commented on #105494
/triage accepted

[2021-10-05 21:18] #102787 closed

[2021-10-05 21:49] j4m3s-s commented on #102659
I haven't encountered the bug since I updated, closing.

[2021-10-05 21:49] #102659 closed

[2021-10-05 21:50] ehashman commented on #105436
I diffed the yamls and I also noticed that the presubmit sets a context: https://github.com/kubernetes/test-infra/blob/76eeb12d9aa94f8507714ab2ce4d179b162dc5b9/config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml#L1780

The periodic doesn't and neither do previous release branches: https://github.com/kubernetes/test-infra/blob/76eeb12d9aa94f8507714ab2ce4d179b162dc5b9/config/jobs/kubern

[2021-10-05 21:55] spiffxp commented on #105436
I don't know off the top of my head but I suspect it would be highly unrelated, since it has to do with which github context to report to, ref: https://github.com/kubernetes/test-infra/blob/master/prow/config/jobs.go#L283

Probably something something config-forker / config-rotator serialize into/out-of prowjob structs, and somehow this got picked up as a now explicitly serialized thing along the

[2021-10-05 22:19] spiffxp commented on #105436
At this point I'm having difficulty repro'ing locally, and am trying to narrow down the failure via https://github.com/kubernetes/kubernetes/pull/105488.  All kinds of force-pushes and stuff in there so it's noisy.  Summary thus far:
- tried reverting a few other PRs, still fails
- tried running just `make test-integration` in case `make test-cmd` was leaving behind detritus... fails faster
- curr

[2021-10-05 22:25] ibabou commented on #104702
Update: 1.21.4-gke.2300 has been released (Oct 1st), and current used containerd runtime is v1.5.4.

[2021-10-05 23:17] MikeSpreitzer commented on #105409
@deads2k : is there a way that we can plumb that knowledge forward to the filters?

[2021-10-05 23:23] MikeSpreitzer commented on #105370
First let's be clear about responsibilities.
- kube-proxy is in k/k and should be supported in k/k.
- node-problem-detector and konnectivity-server are _not_ in k/k but _are_ elsewhere in github.com/kubernetes and should be supported by k/k.
- glbc is _not_ anywhere under github.com/kubernetes and should be supported by whoever owns/deploys glbc.

[2021-10-05 23:35] MikeSpreitzer commented on #105370
I can sympathize with the argument that Kubernetes should support very granular authentication and authorization, distinguishing between kubelet and kube-proxy in general and even distinguishing individuals (i.e., each kubelet and each kube-proxy runs with a different username).  If each kube-proxy authenticates with a distinct username then we are going to need a common user-group for all the kub

[2021-10-05 23:48] lavalamp commented on #105370
kube-proxy isn't really a node, so it doesn't seem quite right for it to be in the system:nodes group.

kube-proxy and npd both run *on* nodes, konnectivity-server runs with the control plane.

I think a group for these things makes more sense than managing an FSC for each one. Maybe SIG Auth can say if making such a thing is hard or not?

/sig auth

[2021-10-05 23:49] MikeSpreitzer commented on #105370
There is an additional reason for each kube-proxy, node-problem-detector, and konnectivity-server to authenticate with a distinct username: so that they can be classified to different flows.

[2021-10-05 23:59] MikeSpreitzer commented on #105370
Oh, I was confused.  Yes, the konnectivity-servers run on control plane nodes.  I say plural because I think we should be prepared for multiple of them acting in parallel.  So the konnectivity-server still has the potential issue of authenticating individuals.

[2021-10-06 00:20] spiffxp commented on #105436
Perhaps obvious to those who know this code better, but I think the best signal for these failures so far is `client connection lost` showing up in the build log: https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&text=client%20connection%20lost&job=pull-kubernetes-integration

[2021-10-06 04:30] BenTheElder commented on #94227
/remove-lifecycle rotten
still a problem. FYI @liggitt re: GOPATH removal

[2021-10-06 04:36] BenTheElder commented on #105321
Users today can expect to authenticate to the registry using credentials only present on the destination node (supply credentials to CRI or docker or kubelet directly), so I don't think the scheduler or a webhook even can depend on access to the registry, performant or otherwise without special user support (supplying these credentials, which may also be done by kubelet executing a credential help

[2021-10-06 04:37] matetiprashanth opened #105501 "Exposing multiple TCP/UDP services using a single LoadBalancer on K8s"
Trying to figure out how to expose multiple TCP/UDP services using a single LoadBalancer on Kubernetes. Let's say the services are ftpsrv1.com and ftpsrv2.com each serving at port 21.

Here are the options that I can think of and their limitations :

One LB per svc: too expensive.
Nodeport : Want to use a port outside the 30000-32767 range.
K8s Ingress : does not support TCP or UDP services as of

[2021-10-06 05:16] n4j commented on #105501
@matetiprashanth Please put this question in Kubernetes Slack channel @ https://kubernetes.slack.com/.
Appropriate channels for this would be `kubernetes-users`, `sig-network`, `ingress-nginx-users`

[2021-10-06 05:16] n4j commented on #105501
/close

[2021-10-06 05:17] #105501 closed

[2021-10-06 06:45] gujun4990 opened #105503 "The dashboard display that the server could not find the requested resource (get ingresses.extensions) when list ingress ressources"
#### What happened:
I use local-up-cluster.sh script to install kubernetes and kubernetes-dashboard is installed. I login dashboard and list ingress resources. The web get Unknown error (404) and display "the server could not find the requested resource (get ingresses.extensions)"

#### What you expected to happen:
I can list ingress resources.

#### How to reproduce it (as minimally and precisely

[2021-10-06 07:15] saschagrunert commented on #105284
Latest test run is green: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernetes-push-image-etcd/1445454283720888320

[2021-10-06 08:00] mcbenjemaa commented on #102334
/remove-lifecycle rotten
/remove-lifecycle stale

[2021-10-06 08:41] vfrans opened #105505 "IPVS not updated in the event of a node failure"
#### What happened:
When a single node goes down IPs associated with the pods that are on the impacted are not removed from the IPVS service on each remaining nodes leading to traffic being routed to pod's ip that no longer exists.

That being said, IPs are well removed from the service when quering Kubernetes's API (no invalid endpoints are present)

Nodes:
[code]

Kube-proxy logs:
[code]

When n

[2021-10-06 08:44] vfrans commented on #105505
/sig network

[2021-10-06 08:55] aojea commented on #103224
/unassign
I don't know if is worth the effort to fix the New(c rest.Interface) , hopefully with https://github.com/kubernetes/kubernetes/pull/105490 most of the issues can be solved

[2021-10-06 11:00] cyclinder commented on #105505
In the same situation, is it normal if it is in iptables mode?

[2021-10-06 11:01] vfrans commented on #105505
Never tried iptables mode TBH, didn't even know I could switch ± easily.

[2021-10-06 12:19] cyclinder commented on #105505
What you are talking about is that when the node goes down, the ipvs service is updated normally(removing  endpoints  that were residing on failed nodes), but the ipvs rules are not updated. right?

[2021-10-06 12:22] cyclinder commented on #105505
What you are talking about is that when the node goes down, the ipvs service is updated normally(removing  endpoints  that were residing on failed nodes), but the ipvs rules are not updated. right?

[2021-10-06 12:24] vfrans commented on #105505
No I meant that, when the node goes down, the Kubernetes service (kubectl describe svc) is updated normally:
[code]

But the IPVS service (I don't know what the IPVS rules are) is not:
[code]

[2021-10-06 12:26] yxxhero commented on #105440
@akshaysharama any message like `Orphaned pod found - but volume paths are still present on disk` in the kubelet log?
https://github.com/kubernetes/kubernetes/issues/60987

[2021-10-06 12:52] cyclinder commented on #105505
yeah,what you said is consistent with what I think,ipvs service is ipvs rule,but ipvs rule is not updated

[2021-10-06 12:59] cyclinder commented on #105505
I will try to reproduce this problem in my environment，and find out the cause of this problem

[2021-10-06 13:22] aojea commented on #105436
Disabling the podsecurity policy jobs the job goes through

https://github.com/kubernetes/kubernetes/pull/105506

but that gives more questions than answers though

@liggitt is it possible that the podsecurity tests logic to detect the version behaves differently depending on the job?

[2021-10-06 13:40] liggitt commented on #105436
no, that test just makes a lot of requests. It seems likely there's an issue between apiserver and etcd a high enough volume of requests exposes. Are the versions of etcd in master and 1.22 tests different?

[2021-10-06 13:43] spence95 commented on #81101
I'm still getting this issue

[2021-10-06 13:48] neolit123 commented on #105453
/close
@vvdvortsova let us know if you have other questions.

[2021-10-06 14:22] liggitt commented on #105436
that's really surprising to me ... do you have a link to that run? the parallel runs/tests were what I saw exhausting ephemeral ports in the past

[2021-10-06 14:32] csharmatech commented on #65863
Hi,

Seems like kubelet doesn't start on any worker node(tried on Centos and Ubuntu) after installing kubeadm, kubectl and kubelet. It always complains about missing /var/lib/kubelet/config.yaml file. Because of this missing file, kubelet fails to start on worker node. Please help.

[2021-10-06 15:00] spiffxp commented on #105436
https://github.com/kubernetes/kubernetes/pull/105488/commits/5197769219f78c7fcd564fb834874cf32e1d4a73 - dropping concurrency down to 1 ended up with a 357MB (!!) junit xml file which spyglass is refusing to parse (as it should, that's way too large) (ref: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/105488/pull-kubernetes-integration/1445512318795386880)

Grepping for ^FAIL in the l

[2021-10-06 15:01] aojea commented on #104195
confirmed that relaxing hostname validation is not possible, as it may break the DNS generated records ... long history here
https://kubernetes.slack.com/archives/C09QYUH5W/p1633514843299500

[2021-10-06 15:14] liggitt commented on #105436
looking at the stdout in the serial run, I see panic.go only in TestQuota:

[code]

and it looks like TestQuota output is 50% of the total output (~700mb):

[code]

it looks like the resource quota controller goes nuts at about 22:33:39.331724:
[code]

that's logged about 2.5 million times in about 3.5 minutes, apparently in a hotloop

[2021-10-06 15:28] mrdima commented on #50375
I think this is impossible in the current way of working, at least with docker as CRI, don't know about others. An example of my findings updating the restartCounter to 0 using etcd (that's the easy part, just use auger (https://github.com/jpbetz/auger) to decode/encode the binary protobuf);
Find a pod which has a non zero restart count...(use ```"etcdctl get --prefix --keys-only /registry"``` to

[2021-10-06 15:47] liggitt commented on #105436
fwiw, from scraping stdout artifacts from last passing runs, tests with >10k output lines:

master:
[code]

1.22:
[code]

[2021-10-06 16:05] jpetazzo opened #105518 ""kubectl run --restart=Never -ti" doesn't exit interactive session when container exits"
#### What happened:

When running an interactive container with `kubectl run -ti --restart=Never`, when the container exits, `kubectl` doesn't exit. Instead, it keeps running, and needs to be stopped with Ctrl-C.

#### What you expected to happen:

When the process in the container exits, `kubectl run` should exit as well.

#### How to reproduce it (as minimally and precisely as possible):

[code]

[2021-10-06 16:06] jpetazzo commented on #105518
/sig cli

♥

[2021-10-06 16:10] jpbetz commented on #105394
Yes, that's true. Good catch.

Okay, we need to root cause this.

[2021-10-06 16:30] jpbetz commented on #105357
Adding `DeleteCollection` to [`ObjectTracker`](https://github.com/kubernetes/kubernetes/blob/ca0c04e4d3342d064a5c8fd1c88221a479780cb5/staging/src/k8s.io/client-go/testing/fixture.go#L42) feels like a sufficiently contained and easy to resolve breaking change that we can probably go ahead with it.  I can't think of any way of making this change that is both backward compatible and leaves the code i

[2021-10-06 16:31] lavalamp commented on #105494
Ah, we should state that also. I think the ordinary go client automatically retries if we set that header, I'll try to double check if it's exponential or if it does exactly what the header requests.

[2021-10-06 16:38] tkashem commented on #105494
I think by default it uses `NoBackoff` - so no exponential backoff, it just sleeps for `1s` as the header suggests. if the client sets the env variables only then it creates `URLBackoff` which has exponential back off.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/client.go#L148

[2021-10-06 16:58] ehashman opened #105519 "[Flaky test] [sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should honor timeout [Conformance]"
### Failure cluster [ffe75c844f67fe9ab059](https://go.k8s.io/triage#ffe75c844f67fe9ab059)

##### Error text:
[code]
#### Recent failures:
[10/5/2021, 11:03:43 PM ci-kubernetes-e2e-gci-gce-flaky-repro](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-flaky-repro/1445630815953227776)
[10/5/2021, 10:47:48 PM ci-kubernetes-e2e-gci-gce-proto](https://prow.k8s.io/view/gs/kub

[2021-10-06 17:13] tkashem commented on #105494
https://github.com/kubernetes/kubernetes/issues/105521

[2021-10-06 17:17] ehashman commented on #105320
/remove-sig node

[2021-10-06 17:21] jsturtevant commented on #92963
the code has been merged for this in containerd. We need to fix a test that started failing due to this: https://github.com/kubernetes/kubernetes/issues/104635

[2021-10-06 17:25] ehashman commented on #76146
/sig api-machinery
/remove-kind support
/kind bug

[2021-10-06 17:41] khenidak commented on #105505
The behavior is the same across all proxies.

The proxies on healthy node does not look at other unhealthy nodes. it looks at objects from api-server. Until the node is marked unhealthy and pods are replaced/deleted they will be still reflected in proxies on other nodes. To help with that situation:
1. Use liveness and readiness probes.
2. short-circuit the node lifecycle controller (use less inte

[2021-10-06 17:44] khenidak commented on #105092
The website will be updated with a note describing this behavior. Thank you for reporting this.

[2021-10-06 17:52] khenidak commented on #101029
ack -- looking.
/assign @khenidak

[2021-10-06 18:43] ehashman opened #105523 "Kubelet is reporting OutOfCpu on previously running workloads after restart"
#### What happened:

Restart: Always pods went into OutOfCpu error state after kubelet restart.

#### What you expected to happen:

Pods should remain running as node had sufficient capacity for them. Completed, RestartNever pod should not revert from Completed to OutOfCpu.

#### How to reproduce it (as minimally and precisely as possible):

Launch kubelet with:

[code]

Run the following script a

[2021-10-06 18:50] ehashman commented on #105523
Looks like the topology admit handler thinks that the completed pods are using CPU which is why when it gets to the 8th it fails it with OutOfCpu. Must be a bug in there somewhere.

[2021-10-06 19:36] zoonman commented on #48069
Please, fix this issue!

[2021-10-06 19:37] zoonman commented on #48069
/remove-lifecycle stale

[2021-10-06 19:53] rdxmb commented on #60295
/reopen

[2021-10-06 20:16] jiahuif commented on #104641
/assign

[2021-10-06 20:41] ehashman commented on #105523
[code]

17d32ed0b8441901a994bce0cc4ecea7fb035e34 is https://github.com/kubernetes/kubernetes/pull/104817

[2021-10-06 20:45] neolit123 commented on #103425
actually, i'm mistaken...
1.19 is still in support:
https://k8s-testgrid.appspot.com/sig-release-1.19-blocking

once 1.23 is out in December 1.19 support will be removed:
https://github.com/kubernetes/sig-release/tree/master/releases/release-1.23

@harshanarayana if you have updates for this issue please reopen / send PRs.

[2021-10-06 21:08] ehashman commented on #105523
Added some logging

[code]

With this we see

[code]

I think that the terminated pods are getting filtered, but for whatever reason they are still getting their resource requests added to NodeInfo?

[2021-10-06 22:11] aojea commented on #76146
hmm the error is just informative, it happens for a new installation, it doesn't exist, throws the error and later the lease is added
[code]

this error in the log is a red herring, most of the cases reported are related to deployment issues, wrong IP family, KIND cluster restarts, ...

I'm going to close this to avoid converting this issue in a magnet,
TL;DR `Unable to remove old endpoints from k

[2021-10-06 22:45] aojea commented on #99828
/reopen
per last comment

[2021-10-06 22:47] aojea commented on #105351
![image](https://user-images.githubusercontent.com/6450081/136293945-b73d8467-8ce6-41cf-9c74-a3b77182f6a8.png)

[2021-10-06 23:07] #105225 closed

[2021-10-07 00:11] spiffxp commented on #105381
/remove-sig testing
/remove-sig k8s-infra

[2021-10-07 00:17] dbgoytia commented on #79980
I added a couple of extra debug lines to that lines in the **actual_state_of_the_world.go** file, and can see that when DeletePodFromVolume tries to see if the volume exists, it doesn't find it in the asw.attachedVolumes struct, like so:

[code]

[code]

Probably we should search for the name of the attached volume differently for ephemeral volumes?

[2021-10-07 01:45] #105438 closed

[2021-10-07 02:53] mkumatag opened #105528 "Fix the kubernetes/test/images/apparmor-loader"
#### What happened:

Currently it uses the `alpine:3.8` as base image but this does not have the required packages like `apparmor`, so need to fix the it to build it properly and work.

#### What you expected to happen:

Docker image should build

#### How to reproduce it (as minimally and precisely as possible):

[code]

more information: https://github.com/kubernetes/kubernetes/tree/b6c01adcee89

[2021-10-07 02:53] #105303 closed

[2021-10-07 02:54] ash2k commented on #64391
I think this hasn't been fixed - the linked issue just added docs, but as a user I'm still unable to apply CRD+CR from a single file (or a set of files). I've opened a PR to illustrate what I'm trying to do https://github.com/kubernetes/kubernetes/pull/105529.

/reopen
/kind bug
/remove-lifecycle stale
/sig api-machinery

[2021-10-07 02:58] mkumatag commented on #105528
/help

[2021-10-07 04:47] Rajalakshmi-Girish commented on #105528
/assign @Rajalakshmi-Girish

[2021-10-07 04:47] mkumatag commented on #105528
/remove-help

[2021-10-07 04:58] venub-234105 commented on #64212
Hi, I'm seeing the same issue. Was there anything specific that needs to be done to resolve this issue? Please let me know. Thanks!

[2021-10-07 05:55] yukirii commented on #102849
@jsturtevant I confirmed the affected Deployment has `runAsUser` and `runAsGroup` in Pod template. But I'm not sure why the Deployment has these fields. Unfortunately the control-plane side logs like kube-audit has been rolled out so it is difficult to do further investigation. I would like to share the information If I find new things related to this.

[2021-10-07 06:33] dilyanpalauzov commented on #105439
Since `the best available proxy` is something subjective, the output of `kube-proxy-help` shall not print `If blank, use the best-available proxy (currently iptables).`  It shall print instead `use SUBJECTIVELY the best availabe proxy (iptables)`.

What does the above mean? Does IPVS rely on user-space, since its kernel implementation is incomplete.  Do the “changes” exist somewhere?

[2021-10-07 07:13] aojea commented on #105505
why they should try to reach an api server in a different node?

Each kubeproxy has its own kubeconfig, where the api server address is configured, if kube-proxy is not able to get to the apiserver, he is blind and don't know what happens.

The test is node-b goes down, kube-proxy in node-a (using an apiserver that is not node-b) should have the correct information

[2021-10-07 07:19] aojea commented on #105439
The best available proxy for general use is `iptables`, what is subjective is the use anybody want to give to the cluster :sweat_smile:

I didn't say anything about incomplete, IPVS is implemented in the kernel https://github.com/torvalds/linux/tree/master/net/netfilter/ipvs , the kernel doesn't backport features, if you want feature X that is implemented in 5.6 kernel and you are in kernel 3.11,

[2021-10-07 07:41] LittleChimera commented on #99629
/remove-lifecycle rotten

[2021-10-07 08:44] invidian commented on #88046
/remove-lifecycle stale

[2021-10-07 09:03] dilyanpalauzov opened #105534 "proxy/ipvs/README.md: passing mode:ipvs to `kubeadm init --config=file`"
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/README.md#cluster-created-by-kubeadm says:

My understanding is, that `kubeProxy:` is not anymore correct.  The correct snippet would be:
[code]

[2021-10-07 12:21] sgielen opened #105536 "Orphaned pod found, but error not a directory occurred when trying to remove the volumes dir"
#### What happened:

One of our nodes had a hard reboot. After this, the following message was occurring in the kubelet logs every 2 seconds:

[code]

Indeed, the orphaned pod directory exists and contains 1 stale volume directory with a file in it (probably explaining the "not a directory" error):

[code]

Deleting this file manually leads to immediate resolving of the Kubelet error 2 seconds lat

[2021-10-07 13:11] kerthcet commented on #92229
/remove-lifecycle stale

[2021-10-07 13:17] MadhavJivrajani commented on #105534
/remove-kimd bug
/kind cleanup

[2021-10-07 13:18] MadhavJivrajani commented on #105534
/remove-kind bug
(typo in previous comment)

[2021-10-07 13:23] vfrans commented on #105505
I'm unsure but I think that Kubespray does something funky with an nginx reverse proxy/lb on each master node to avoid having an external LB for master nodes but i'll get to the bottom of this

[2021-10-07 13:41] liggitt commented on #105436
if test-integration is on the edge, I think it's more likely master is working because it dropped a lot of v1beta1 integration tests (https://github.com/kubernetes/kubernetes/pull/105506#issuecomment-936447807)

to unblock 1.22, I'd probably recommend switching the presubmit config to match the periodic config, which seems to be green (bump memory slightly, run all integration tests)

[2021-10-07 15:31] s1061123 commented on #87412
In this case, we need to make serialize selector into one line and it is not intuitive for user, and if it is for headless service, Kubernetes headless service has more feature as following, https://kubernetes.io/docs/concepts/services-networking/service/#headless-services hence we also need to care about it. It could need more time than I expect...

[2021-10-07 15:53] uablrek commented on #87412
I have not seen any use of multiple selectors. A service request will the end in a random POD. The only use-case I can imagine is some canary test.

For headless services A records will be added for your added endpoints if they share the name with the service. Nothing more is needed from the multus-endpoint-controller.

[2021-10-07 16:06] uablrek commented on #87412
Ok. Thanks for a good presentation anyway :+1:

[2021-10-07 16:31] jpbetz commented on #105394
I tried using curl to create the custom resource directly against the API and got the same result: https://gist.github.com/jpbetz/0baf4b25921ca52adb249677e60b08c3

So the problem seems to be in the API server (not in kubectl).

[2021-10-07 17:29] spiffxp commented on #105436
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration-1-22-canary - OK I'm willing to port to the integration job with a comment linking to this issue to explain why 1.22 gets a different job config

[2021-10-07 20:18] fedebongio commented on #64391
/remove-sig api-machinery
this seems to be mostly sig cli, not api machinery

[2021-10-07 20:20] fedebongio commented on #64391
/cc @seans3

[2021-10-07 20:22] fedebongio commented on #76146
/triage accepted

[2021-10-07 20:22] fedebongio commented on #105324
/triage accepted

[2021-10-07 21:32] acheraime commented on #78761
Same issue here. Running k8s 1.19.13 on GKE. Deployment scales up but won't scale down.

[2021-10-07 21:51] patotskiy opened #105554 "Kubectl run hangs on 5-6 minutes."
I'm trying to deploy image to Kubernetes cluster using following command:
`kubectl run -n dev --rm api-tests --image=fo/api-tests:42276-simple_proj  -ojson --attach=true --restart=Never`

After execution pod hangs in 2 different statuses: `Completed` or `Error`.
After 5-6 mins I receive following log:
[code]
It is correct behaviour, but how to make it so that the execution does not freeze for 5-6

[2021-10-07 22:00] ehashman commented on #105020
/assign

[2021-10-07 22:27] neolit123 commented on #105554
please note that this is not a supported skew, see:
https://kubernetes.io/releases/version-skew-policy/#kubectl

[2021-10-07 22:51] alam0rt commented on #71869
/assign

[2021-10-08 00:07] ehashman commented on #82440
/retitle High system load/CPU utilization with trivial liveness and readiness exec probes

This issue does not appear to affect HTTP probes.

This will be easier to fix if someone can provide a working minimal repro (i.e. a barebones pod specification, perhaps using a pause container).

My suggestion for debugging this once someone has a repro is to dump kubelet perf data and stare at it to try to

[2021-10-08 00:18] Nowaker commented on #82440
@alex-koturanov Since it sounds like you have this environment running, could you plot the CPU usage on a graph like mine? I'd love to see the CPU usage for each case:

1. exec health probes + `enableServiceLinks: true`
2. exec health probes + `enableServiceLinks: false`
3. httpGet health probes + `enableServiceLinks: true`
4. httpGet health probes + `enableServiceLinks: true`

[2021-10-08 00:23] roycaihw opened #105558 "Publish apiserver ID"
### What would you like to be added?

A client can know the [ID](https://kubernetes.io/docs/tasks/administer-cluster/highly-available-control-plane/#api-server-identity) (and potentially other information like the public IP address) of the apiserver it connects to by visiting some page on the server. It could be a new metric, a new endpoint, etc. The design should be added to the [KEP](https://git

[2021-10-08 00:24] roycaihw commented on #105558
/sig api-machinery
/assign
cc @aojea

[2021-10-08 02:23] javajon commented on #79606
@seeker  Consider inspecting the statefulset status such as this

[code]

then wrap with shell scripting with a white loop with a scripted timeout. With a little more work that script can be installed as a kubectl plugin and you could call something like:

[code]

In the above, the kubectl plugin would be called `rollout-ss`. An example on how to write a [kubectl plugin written in bash](https://ku

[2021-10-08 03:24] sbwfnhn commented on #104034
Both are fine, I currently use java -xmx instead.
I will update in the next version

[2021-10-08 03:58] cyclinder commented on #105534
/assign

[2021-10-08 05:02] uablrek commented on #87412
I was merely suggesting a way of avoiding duplicated endpoints(-lices).

IMHO your proposal in this issue is sound and simple and no more "hackish" than the existing "service.kubernetes.io/service-proxy-name", in fact exactly the same. I am unsure why it was rejected, but I suppose nobody wants to touch anything while waiting for some future "class" field.

My focus is on load-balancing _external_

[2021-10-08 05:19] #105523 closed

[2021-10-08 06:56] aojea commented on #105558
is there any security problem with publishing an IP?
Endpoints are under RBAC control, is that enough?

[2021-10-08 07:23] ardaguclu opened #105565 "Can not set proxy-url in kubeconfig via kubectl config"
### What happened?

Tried to set proxy-url via;
`kubectl config set-cluster e2e --proxy-url=http://10.1.1.1`

It returns;

[code]

### What did you expect to happen?

proxy-url is set via `kubectl config`

### How can we reproduce it (as minimally and precisely as possible)?

Try to execute `kubectl config set-cluster e2e --proxy-url=http://10.1.1.1`

[2021-10-08 10:15] chromko commented on #89903
Are you planning to add patch to 1.21/1.22 versions?
For AWS EKS its might be too long to wait upgrade to 1.23 (now it is 1.21 adopted).

[2021-10-08 11:48] marqc opened #105572 "Job's activeDeadlineSecond not working"
### What happened?

I have cronjob which starts every 5 minutes and activeDeadlineSeconds set to 3600 (1h). Concurrency policy is "Allow".

ActiveDeadlineSeconds seems to not work. Today i saw >200 jobs and pods running in my cluster

[code]

list of jobs for better overview

<details>

[code]

</details>

list of pods for better overview

<details>

[code]

</details>

### What did you expect to

[2021-10-08 12:03] cyclinder commented on #105505
kube-proxy will go to the add\delete\update ipvs rule according to the service's add\delete\update.

for example, when creating a service, kube-proxy watch the addition of the service through api-server, and then kube-proxy adds the corresponding ipvs rules for this service in the node

[2021-10-08 12:58] wojtek-t commented on #105346
+1 to all of that

I don't understand this - how do they grow with cluster size? The buckets are constant.

[FWIW - we're monitoring it for every GKE cluster and it works for us...]

[2021-10-08 13:00] denkensk commented on #104335
@gageffroy  The current version is actually stable. We will enhance it in more scenes in the future.  FYI：https://github.com/kubernetes-sigs/scheduler-plugins/issues/154#issuecomment-935398748

At present, you still need to deploy in the form of out-of-tree plugins.
And We hope it will be added into kubernetes in the future. /cc @ahg-g @Huang-Wei

[2021-10-08 14:47] cjellick commented on #70044
@krishnakc1 what distro of k8s are you seeing this with?

[2021-10-08 16:59] Nowaker commented on #82440
Or simply plot CPU idle time.

[2021-10-08 17:37] argais opened #105579 "HPA behaviour is inconsistent at different averageUtilization metrics"
### What happened?

I have a workload that I need to scale on CPU utilization, pretty standard, but I need it to scale all the way to 24 pods, then once the CPU avg lowers to slowly scale down to 1 by removing 25% of the pods every 5m.

I have the following manifest.

[code]

So I launch my deployment and the cpu utilization hits 100% quickly, the condition is met, but the HPA launches 1 extra pod

[2021-10-08 17:38] argais commented on #105579
/sig autoscaling

[2021-10-08 18:45] rajula96reddy opened #105580 "[Failing Job] periodic-conformance-main-k8s-main"
### Which jobs are failing?

- periodic-conformance-main-k8s-main

### Which tests are failing?

- capa-e2e-conformance.[unmanaged] [conformance] tests conformance
- periodic-cluster-api-provider-aws-e2e-conformance-with-k8s-ci-artifacts

### Since when has it been failing?

07/10/2021

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#periodic-conformance-main-k8s-main

###

[2021-10-08 20:29] apelisse commented on #39188
We fixed it more or less how you describe it, but only in SSA. The compound key is set through the `x-kubernetes-list-map-keys` field list.

[2021-10-08 23:23] leiyiz opened #105581 "Move test cases from mounted_volume_resize into testsuites/volume_expand.go"
According to [this discussion](https://github.com/kubernetes/kubernetes/pull/105052#discussion_r725235142) we have some tests in `mounted_volume_resize` we should move into `testsuites/volume_expand.go`

/sig storage

[2021-10-08 23:25] leiyiz commented on #105581
/sig storage

[2021-10-09 00:18] gjkim42 commented on #103658
/cc

[2021-10-09 06:50] amalic commented on #24957
Came here because I was looking for a solution to have pods restarting when dependent secrets change without complicated scripts that will break in some not so distant future. I don't like the sidecar solution becasue in a microservice architecture this would requre tons of resources (energy) wasted just to watch for config or secret updates.

[2021-10-09 08:50] brandond commented on #70044
Here are steps to reproduce. Note that you need a two-node cluster so that the control-plane remains up while the kubelet and containerd restart on the node in order to trigger this bug. All commands should be run as root for simplicity's sake.

1. ```bash
    # on node 1
    curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server --node-taint=node-role.kubernetes.io/control-plane=:NoSchedule --to

[2021-10-09 09:09] 249043822 commented on #105467
Does https://github.com/kubernetes/kubernetes/pull/105462 have fixed this issue? @ehashman

[2021-10-09 10:04] jonyhy96 commented on #105439
Agree, this realy makes misleading. i will try to fix it.

/assign

[2021-10-09 10:22] #67455 closed

[2021-10-09 13:29] fandahao17 opened #105587 "zsh autocompletion not replacing tabs correctly"
### What happened?

While using [zsh autocompletion](https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-zsh/):
[code]

No completion result is given.

When I turn on `$BASH_COMP_DEBUG_FILE`, I see the following logs:

[code]

I noticed that the last line seems to give weird results. After printing out what `source <(kubectl completion zsh)` does, I think the bug is caused by

[2021-10-09 13:34] fandahao17 commented on #105587
/sig cli

[2021-10-09 16:29] liggitt opened #105589 "TestUpdatePodWithTerminatedPod flaking"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

TestUpdatePodWithTerminatedPod

### Since when has it been flaking?

10/8 (when it was introduced in https://github.com/kubernetes/kubernetes/pull/105527)

### Testgrid link

_No response_

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

https://storage.googleapis.com/k8s-triag

[2021-10-09 17:19] Bessonov commented on #62078
/remove-lifecycle stale

[2021-10-09 22:18] cjellick commented on #70044
@brandond you mean this bit from @Oats87 ? This is the simplest repro?

[2021-10-09 22:32] #101957 closed

[2021-10-10 03:44] ianache commented on #42306
From my previous post, remember that glusterfs need some ports to be opened if firewall is active:
- 49152:49251
- 49664:496670
- 24007
- 24010
- 3260

[2021-10-10 04:49] brandond commented on #70044
Yes, that seems to be a minimal reproduction. There are other ways to get into a state where it is stuck trying to remount things that obviously can't ever succeed but that's the easiest.

[2021-10-10 07:28] segevfiner commented on #95712
/remove-lifecycle rotten

[2021-10-10 07:47] mostafa8026 commented on #66961
Some beginner question:
How can I change the eviction defaults? Is there any resources to read more? thanks

[2021-10-10 09:46] xiaoxubeii commented on #52757
There are third-party open source software that can implement gpu share in Kubernetes, such as [nano gpu](https://github.com/nano-gpu). Additional extender scheduler and device plugin are required. At present, however, it is too hard to achieve strong isolation of gpu resources by Linux alone.

[2021-10-10 10:32] #98782 closed

[2021-10-10 11:53] thy00 opened #105594 "Built for aarch64-koji-linux-gnu error"
### What happened?

go: 1.16.9 linux/arm64
k8s: v1.20.9
when in root implement “ go build ./vendor/k8s.io/code-generator/cmd/prerelease-lifecycle-gen/main.go” ，there is error:
vendor/k8s.io/klog/v2/klog_file.go:25:2: //go:build comment without // +build comment

### What did you expect to happen?

go build success

### How can we reproduce it (as minimally and precisely as possible)?

go build ./v

[2021-10-10 12:38] Riaankl commented on #92949
/remove-lifecycle stale
Focus for 1.23
Will move forward once https://github.com/kubernetes/kubernetes/pull/95128 merged

[2021-10-10 12:45] thy00 commented on #105594
I get it
the go env is error (goroot).

[2021-10-10 12:45] #105594 closed

[2021-10-10 13:18] herewasmike commented on #105346
@logicalhan

Prometheus uses memory mainly for ingesting time-series into head.
And retention works only for disk usage when metrics are already flushed not before.
Changing scrape interval won't help much either, cause it's really cheap to ingest new point to existing time-series (it's just two floats with value and timestamp) and lots of memory ~8kb/ts required to store time-series itself (name,

[2021-10-10 15:16] petros-d commented on #69507
FWIW I put together a simple exporter that takes the metrics from the kubelet API and exposes them in Prometheus format for scraping, in case it's useful for anyone else who needs to track this in the short term.

https://github.com/petros-d/kubelet-stats-exporter

[2021-10-10 18:10] kasimon commented on #69041
/remove-lifecycle rotten

[2021-10-10 19:36] Chrooth commented on #44259
Booleans definitely wont work here because it ignores the need to be able to specify the only existing alternative option, which is
preferredDuringSchedulingIgnoredDuringExecution.  Of course it could be added, but that becomes substantially more cumbersome than the existing terms.

Given the road-map that seems to indicate the future release of a requiredDuringSchedulingRequiredDuringExecution op

[2021-10-10 20:51] pires commented on #87770
/remove-lifecycle stale

[2021-10-10 21:20] quentingodeau commented on #103632
/remove-lifecycle stale

[2021-10-10 21:40] #101974 closed

[2021-10-10 23:03] brianpursley commented on #91847
/remove-lifecycle stale

[2021-10-10 23:12] brianpursley commented on #105587
This appears to be related to which zsh version you are using.

At first, I was unable to reproduce the problem, but then realized I have zsh 5.8.

So I downloaded and built zsh 5.0.2 to match the version @fandahao17 reported using and *am* able to reproduce the problem.

@fandahao17 Are you able to upgrade to a newer version of zsh?  5.8 worked for me, but I don't know if an earlier version might

[2021-10-10 23:52] bitwalker commented on #105346
https://prometheus.io/docs/practices/histograms/#errors-of-quantile-estimation

I think summaries have their own issues; they are more expensive to calculate, hence why histograms were preferred for this metric, at least as I understand the context. Of course, it may be that the tradeoff would have been better in this case, I don't know what kind of testing/benchmarking was done.

I was disappoint

[2021-10-11 00:00] brianpursley commented on #105554
This is caused by the same thing as https://github.com/kubernetes/kubectl/issues/1098

The bug was fixed by https://github.com/kubernetes/kubernetes/pull/105384 and will be included in 1.22.3.

The workaround for now is to disable command headers using `KUBECTL_COMMAND_HEADERS=false`.  Command headers are informational for the cluster, so it will not affect functionality at all to disable them.

E

[2021-10-11 00:05] brianpursley commented on #105518
@jpetazzo See my comment here for an explanation and workaround: https://github.com/kubernetes/kubernetes/issues/105554#issuecomment-939577166

TLDR: Will be fixed in kubectl 1.22.3.  Workaround is to set `KUBECTL_COMMAND_HEADERS` environment variable to false

[2021-10-11 00:46] leiyiz opened #105595 "Granularly skip storage test cases in upgrade testsuite"
right now due to the inability of only skipping storage test cases, the upgrade testsuite is kept untouched while we [skipped](https://github.com/kubernetes/kubernetes/pull/105052) other tests that will fail upon turning on the `CSIMigrationGCE` feature tag and will fail as a result.

We need to skip only the storage test cases with per-testcase granularity.

/sig storage
/kind cleanup

[2021-10-11 00:47] leiyiz commented on #105595
/kind cleanup

[2021-10-11 00:48] brianpursley commented on #104864
@ylmc7 more information please.  At a minimum can you provide the output of `kubectl version`

It is strange that you get two different tables.  Do you have kubectl aliased by chance?

[2021-10-11 02:52] pipijiev12 opened #105597 "How do Apiserver and Kubelet send commands to listen for pods messages"
How do Apiserver and Kubelet send commands to listen for pods messages?
Where is this function implemented in the source code?

[2021-10-11 04:28] MadhavJivrajani commented on #105597
/sig node
/kind support
@pipijiev12 could you elaborate on what you mean by "commands" and "pod messages"?

[2021-10-11 05:00] pipijiev12 commented on #105597
![微信图片_20211011125507](https://user-images.githubusercontent.com/75164118/136735428-1e5deac6-246f-4227-abd9-5e5b724029a2.png)

As shown in the figure, Apiserver sends instructions to listen for POD information in Kubelet and then returns the POD status

[2021-10-11 07:41] #101942 closed

[2021-10-11 08:08] GreyBalloonYU commented on #88150
I would like to solve this problem.
I'm a new contributor of k8s, so it will take some time for me to read the source code.

[2021-10-11 08:26] Kartik494 opened #105602 "Modify Access Modes aliases"
`ReadWriteOnce` alias `RWO` is an ambiguous [mention](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes)  in access modes, as mention in  documentation that the volume can be mounted as read-write by a single node . But `ReadWriteOnce`  PV can be accessed from multiple pods when those pods are running on the same node . So here i am proposing an idea to modify the access

[2021-10-11 08:28] Kartik494 commented on #105602
cc @YuikoTakada

[2021-10-11 08:53] m-yosefpor commented on #81723
I think the `Killing` event should have a context about `State.Reason` which is only available via describing/viewing pod status. Since the pods are ephemeral and when a pod is already deleted, we can not find the reason for which it has been terminated in its status. Or at least kubelet should emit another event when updating pod status when terminating it.

[2021-10-11 10:15] sdlarsen commented on #105204
I'm seeing this too. k8s 1.22.2 setup with kubeadm, no updates and the kube-root-ca.crt is available in the namespace.

[2021-10-11 13:17] nonylene commented on #102537
/remove-lifecycle rotten

[2021-10-11 14:07] bg-chun opened #105607 "Non-amd64 Conformance test images are built with wrong cpu arch."
### What happened?

I found this issue while validating my arm based `1.19.14` cluster with [sonobuoy](https://github.com/vmware-tanzu/sonobuoy).

[Conformance test Officially supports multiple cpu architectures: amd64, arm, arm64, ppc64le, s390x](https://github.com/kubernetes/kubernetes/tree/master/test/conformance/image).
And `k8s.gcr.io` image registry provides conformance images for above arch

[2021-10-11 14:24] ikogan commented on #104357
I believe I'm seeing this using the CephFS CSI, I have an open issue with them here: https://github.com/ceph/ceph-csi/issues/2238. That issue includes a test manifest but it requires a Ceph cluster :-/.

[2021-10-11 14:42] #88797 closed

[2021-10-11 14:49] bg-chun commented on #105607
known issue: https://github.com/kubernetes/kubernetes/issues/102315

[2021-10-11 14:51] #105607 closed

[2021-10-11 15:43] khenidak opened #105610 "Umbrella Issue: (Known Issue) Service Duplicate Port Numbers + Patch Merge"
Service object has a known issue wrt Port and Patch Merge. The issue can be reproduced as the following:

1. Create a Service object as the following:

[code]

2. Update the Service by adding another port using same port number `31337` but use a different protocol (the example below adds `tcp/31337` using `kubectl apply` or using go-client's patch merge strategies

[code]

**The resulting Service

[2021-10-11 15:43] fromanirh commented on #84869
/reopen

[2021-10-11 15:45] khenidak commented on #101393
https://github.com/kubernetes/kubernetes/issues/105610

[2021-10-11 15:46] khenidak commented on #101393
/close

[2021-10-11 15:48] khenidak commented on #105610
FYI
@thockin @aojea -- Keeping this open until the known issue is resolved. I closed and ref'ed all the other issues.

I am not sure if we should update api doc. There is no precedent there (describing a known issue in api docs). So i will leave it to @thockin  to make a call on it.

[2021-10-11 16:11] n4j commented on #94892
/remove-lifecycle stale

[2021-10-11 17:45] jingxu97 commented on #105341
I think nongraceful node shutdown KEP is trying to address similar issue here https://github.com/kubernetes/enhancements/pull/1116/files

[2021-10-11 19:22] caleb15 commented on #103607
We are also seeing this error message in our logs.

Some of our cronjobs say that there's an active job running, yet the job referenced has already been completed. Could that be a result of this bug?

For example:

[code]

As you can see it successfully completed. Yet the cronjob lists it as active:

[code]

[2021-10-11 19:41] ABaboshin opened #105613 "Kubelet's memory capacity and dynamic RAM in Hyper-V"
### What happened?

I'm creating a kubernetes cluster on VMs in Hyper-V with dynamic RAM. The kubelet is taking not all available RAM (max ram of the VM) but only the allocated amount at the time of starting. Moreover the available RAM will be not recalculated during the running

### What did you expect to happen?

I'd like to have an ability either to force kubelet to calculated all the available

[2021-10-11 20:11] dims commented on #98815
cc @xing-yang @msau42 @saad-ali

[2021-10-11 20:27] nick-oconnor commented on #13136
/remove-lifecycle stale

[2021-10-11 21:30] msau42 opened #105616 "Add unit test for volume operation metrics"
### What would you like to be added?

An attempt was made in https://github.com/kubernetes/kubernetes/pull/98089, but conflicted with a lot of deprecation activity at the same time. It looks like in the middle of that, we lost track of the effort to add a unit test.

@kubernetes/sig-storage-bugs
cc @JornShen is this something you still have time to work on?

### Why is this needed?

Good to have U

[2021-10-11 22:04] swetharepakula commented on #104131
I will take a look.

/assign @swetharepakula

[2021-10-11 22:16] iyashu opened #105617 "NodeLifeCycleController: all pods are marked as not ready making workload services unavailable during network partition b/w master & worker nodes"
### What happened?

We've encountered a failure scenario in production where if master nodes hosting etcd, apiserver, controller-manager etc gets network partitioned with worker nodes (say due to apiserver lb outage or a widespread network infra outage), all the pods hosted in that k8s cluster gets [marked as not ready](https://github.com/kubernetes/kubernetes/blob/5935da7151c5f171c2263976042b254b

[2021-10-11 23:39] bobbypage opened #105618 "hack/{update,verify}-vendor are broken due to coreos/bbolt rename"
### What happened?

The `hack/{update,verify}-vendor.sh` scripts seem to broken. On a fresh checkout of k/k

[code]

[code]

* `update-vendor.log` - https://gist.github.com/cf9fde5bd9ecd2dbfc90a0af49b71acc

The issue seems to be

[code]

### What did you expect to happen?

For `hack/verify-vendor.sh` to succeed.

### How can we reproduce it (as minimally and precisely as possible)?

n/a

### Anyth

[2021-10-12 00:16] liggitt commented on #105618
I can't reproduce this in my normal dev env or a clean checkout, and CI seems to be passing at HEAD of master on new PRs...

[2021-10-12 00:23] #95129 closed

[2021-10-12 00:25] #105618 closed

[2021-10-12 00:42] scr-oath commented on #96242
I tried a test of external metrics that only has a 100µs response time, added 1000 keda metrics, and saw only 25 fetched in an 8m period (I would have expected 4x8=32) so that's something like a 20% loss of metric gathering points over time.  When using that external metrics directly, I see about 3% loss (one drop in 8m), so clearly Keda doesn't completely workaround the HPA limitations; it would

[2021-10-12 03:01] #105492 closed

[2021-10-12 03:15] xing-yang commented on #98815
I've already sent out deprecation email to sig-storage mailing. This will also be added to 1.23 release notes.

[2021-10-12 03:15] xing-yang commented on #98815
/assign @xing-yang

[2021-10-12 04:11] n4j commented on #97007
/assign
Since I am pursuing https://github.com/kubernetes/enhancements/pull/1592, I am assigning to myself

[2021-10-12 05:21] #105398 closed

[2021-10-12 09:32] jsafrane opened #105626 "Storage e2e tests should allow RWX for block volumes and RWO for filesystem ones"
### What would you like to be added?

Right now, our e2e tests and our [external CSI tests](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/external/README.md) allow a test driver to opt-in for RWX testing for both block and filesystem volumes
https://github.com/kubernetes/kubernetes/blob/d9896a23bcec2cdadd398bff0bb967a17ad7893d/test/e2e/storage/framework/testdriver.go#L165

[2021-10-12 09:33] jsafrane commented on #105626
/sig storage

[2021-10-12 10:03] adisky opened #105629 "Enabling feature gate "DisableKubeletCloudCredentialProviders" causing unit test failures"
### What happened?

feature gate "DisableKubeletCloudCredentialProviders" has been recently added to disable in-tree credential providers. Enabling the feature gate causing unit test failures of aws/gcp credential providers.

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/105624/pull-kubernetes-unit/1447850093293080576

### What did you expect to happen?

If the credential providers a

[2021-10-12 12:42] n4j commented on #95039
True that, look at the `lscpu` output of Raspberry PI v/s PC in [this](https://forums.raspberrypi.com/viewtopic.php?t=272199) semi-related thread, `NUMA nodes(s)` count is not available for Raspberry PI on `Raspbian` as well as `Ubuntu`

@adam-power @jc42jc @paolonervi @marjau @leydifalldev @Letme @userkk  Could you please provide a dump of `lscpu` from your devices where you are seeing this issue

[2021-10-12 13:56] n4j commented on #95039
@Letme yep, no NUMA topology information, this confirms @iwankgb's analysis that Raspberry doesn't provide it and hence the issue.

For reference, below is the output from my machine observe the last line which depicts NUMA node(s)

[code]

[2021-10-12 14:46] #95039 closed

[2021-10-12 14:50] alculquicondor commented on #105287
You should still taint your nodes in that case. The idea of this feature is that, once a pod with `pod-per-node` lands on a node, no other pod can be scheduled there (that is not a daemonset).

You remove the pod with `pod-per-node`.

[2021-10-12 16:39] damemi commented on #104868
Awesome, thank you @sanchayanghosh! If you want to open a WIP PR to address the changes, we can start reviewing those while you work on the unit test in the same PR.

[2021-10-12 17:27] mhash17 opened #105638 "Abbreviations"
### What would you like to be added?

Wouldn't it be useful to provide a consistent abbreviation 'policy'?

Examples:
- for deployments it is deploy instead of intuitively 'dep' or 'depl' (that 'loy' is a long way on the keyboard)
- limitranges > limit instead of lr
- networkpolicies > netpol instead of np
- resourcequotas > quota, instead of rq

That's just an idea while working with kubectl ...

[2021-10-12 17:42] mhash17 commented on #105638
/sig usability

[2021-10-12 20:17] alculquicondor commented on #105200
FWIW, the testgrid looks pretty green 🥳
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestParallelJobWithCompletions&width=5

[2021-10-12 22:45] manugupt1 opened #105642 "Volume manager re-conciler takes too long to reconcile under high pressure and large number of subpaths"
### What happened?

We have a situation where we are launching a lot of short-lived pods on a single node on EKS1.20 as a cronjob. Some volumes can take upto 2 hours to reconcile and unmount. Each pod has 3 volumes and 100 subPath

1. EFS volume
2. emptyDir
3.  config map

Below logs show this
[code]

The above volume takes around 2 hours before it stops getting an unmount volume error.

### What

[2021-10-13 00:47] kerthcet commented on #105287
thanks for the details.

[2021-10-13 02:30] yxxhero commented on #105536
@sgielen  from the code:
https://github.com/kubernetes/kubernetes/blob/e054181e517b48a3c862207537092c28604aaad9/pkg/kubelet/kubelet_volumes.go#L130
It only can remove empty dir.

[2021-10-13 02:33] aoxn commented on #84214
![image](https://user-images.githubusercontent.com/5567266/137056891-279b763f-c30a-4a1d-bfd2-f3b034915910.png)

It seems that get pod status from Podcache error blocks pod sync function.

dead loop.

[2021-10-13 03:19] aoxn opened #105644 "kubeadm get configmap retry failed"
### What happened?

[code]

kubeadm failed to retry get `kubeadm-config` configmap when apiserver occasionally failed responsed on massive scale node condition.

This is caused by sharing retry backoff among multiple GetConfigMapWithRetry call. Global DefaultBackoff should not be used unless you known what you r doing.

### What did you expect to happen?

retry get kubeadm-config configmap when fa

[2021-10-13 06:12] m0sh1x2 commented on #55713
This doesn't seem to apply for StatefulSets that have PVCs under a terminated/powered off node(using rook-ceph with rbd). The cronjob that @marczahn noted should work as I have tested it manually https://github.com/kubernetes/kubernetes/issues/55713#issuecomment-358632214 but this functionality should be covered by the Scheduler?

[2021-10-13 07:30] fromanirh commented on #103691
/remove-lifecycle stale
I still believe this PR has a value for the project

[2021-10-13 08:02] wzshiming commented on #101097
/reopen

[2021-10-13 09:46] YuikoTakada commented on #105602
Thank you for posting issue.
Is `ReadWriteOnceNone` right? I think you wanted to write `ReadWriteOnceNode` .
Thanks!

[2021-10-13 10:09] ncsibra opened #105654 "Wrong “exp” date in projected serviceaccount token"
### What happened?

I'm using AWS EKS 1.21 with service account discovery enabled (it's enabled by default by EKS, I can't change it).
The `.well-known/openid-configuration` endpoint returns:

[code]

Created a ServiceAccount for one of my deployments and the pod gets this as projected volume.
[code]
The projected token mounted into the pod contains this:
[code]

Kubernetes renew the projected tok

[2021-10-13 10:20] sunhan-code opened #105655 "The number of pods goes down with ScaleDown: SelectPolicy: Disabled of HPA."
### What happened?

Hi Kubernetes,

I'm managing my service pods using HPA, and as the Title implies I have set SelectPolicy of ScaleDown to "Disabled" not to lose any pods.

So basically it's just growing up to .spec.maxReplicas as specific resource metrics I set grow.

However, I realized that HPA recalculates the desired when there was API Server not responding or pod rescheduling by events lik

[2021-10-13 10:34] pmarag opened #105657 "Wrong udp conntrack entries are populated after a pod is killed using --force"
### What happened?

On a single node kubernetes cluster, deployed using minikube:

[root@control-plane ~]# kubectl get nodes -o wide
NAME                              STATUS   ROLES                  AGE   VERSION   INTERNAL-IP    EXTERNAL-IP   OS-IMAGE                               KERNEL-VERSION          CONTAINER-RUNTIME
control-plane.minikube.internal   Ready    control-plane,master   46h   v1.

[2021-10-13 11:36] humblec commented on #105626
+1 to this proposal, also maintaining `RWX` for backward compatibility would be good.  Just  wondering is there any driver use RWXFilesystem with a clustered aware FS and support multiple writes at same time.

[2021-10-13 12:33] sateekot commented on #105308
Here the problem is with the kafka port. As @249043822 mentioned the Startup probe succeeded for the first time and Liveness probe failed so we see the order of logs. It is the problem with our ZooKeeper and Kafka applications, so closing this issue.

[2021-10-13 12:38] grassdionera opened #105658 "Immutable Secrets are not renewed on recreation of pods"
### What happened?

I delete an immutable secret and applied it with new values.
Then i deleted the deployment/pods that are using this secret.
After applying the Deployments again, the Pod/Container is having the old secret values
When i use kubectl to get the secret values, i see the new values.

### What did you expect to happen?

On Pod recreation the values for immutable secrets should be the

[2021-10-13 13:45] jsafrane commented on #100485
Sorry, I somehow missed this issue.

I don't want a PVC + Pod to hop around Nodes on every little hiccup in the CSI driver. I think the provisioner should have at least configurable amount of retries (on cmdline). Then it could work for most CSI drivers.

For CSI drivers with the distributed provisioning mode, where each node runs its own external-provisioner, we need something else. If a node's V

[2021-10-13 14:44] damemi opened #105661 "Topology spreading can become imbalanced during deployment rollout"
### What happened?

When restarting a rolling deployment, the new pods can end up in imbalanced topologies that violate their specified `MaxSkew`. This is due to interference from the old, `Terminating` pods in the scheduler's topology size calculation. At scheduling time, the constraints are technically satisfied. However, once the old pods are removed, the topology size difference can be greater

[2021-10-13 14:53] timwaizenegger opened #105662 "Run gosec static scan and address findings"
### What would you like to be added?

### Background
When I run the `gosec` static scan against kubernetes master there a lot of findings for a number of rules the scanner provides; e.g.
- `G101 (CWE-798): Potential hardcoded credentials`
- `G601 (CWE-118): Implicit memory aliasing in for loop.`
- `G103 (CWE-242): Use of unsafe calls should be audited`
- `G104 (CWE-703): Errors unhandled.`

A lot

[2021-10-13 14:54] timwaizenegger commented on #105662
/sig security

[2021-10-13 15:42] damemi commented on #105661
/cc @alculquicondor @Huang-Wei @ahg-g
this could actually be more difficult than just excluding terminating pods. When I did a rolling deployment with a *hard* antiaffinity (just to test), the old pods did not go to terminating until the new pods were scheduled.

So, from the scheduler's point of view, there is no difference between an "old" pod and a "new" pod in a deployment since the old pods a

[2021-10-13 15:57] YashJainSC commented on #48528
@zegelin I am also having similar requirement as your's for a headless service, have you figured out any another solution for it ?

[2021-10-13 16:14] andrewsykim commented on #100313
FYI @danwinship I don't think myself or @nicolehanjing is going to be able to work on this any time soon, please feel free to take it if you can :)

[2021-10-13 17:28] neolit123 commented on #105644
/area kubeadm
/priority awaiting-more-evidence

[2021-10-13 17:29] neolit123 commented on #105644
/sig cluster-lifecycle

will comment on the PR.

[2021-10-13 17:29] neolit123 commented on #105644
you shouldn't join 300 nodes at the same time.
increasing the timeouts is not a good solution here.

why is that?

[2021-10-13 18:00] pohly commented on #103718
/remove-lifecycle stale

[2021-10-13 22:06] BenTheElder commented on #103721
/remove-lifecycle stale
(since there's been a recent dupe)

[2021-10-13 22:14] BenTheElder commented on #105129
/remove-sig testing
[SIG storage owns their test code, this is specific to the subpath tests, not general testing infra/framework.]

[2021-10-13 22:18] BenTheElder commented on #104681
I don't think sig-testing can unilaterally alter binaries like this on our own, this seems like maybe sig-architecture or each of the binaries's sigs.

IF they were ok adding these endpoints and paying the cost of profiling during testing, we could collect them in CI, but I'm not sure it's appropriate for e2e.test to collect them, and logistically it will be difficult to collect them portably in a

[2021-10-13 22:20] micahhausler commented on #105654
@ncsibra Thanks for the report! I'm not able to reproduce this on any EKS 1.21 cluster, can you send an email to security@kubernetes.io with more details? Could you also send a note to aws-security@amazon.com  and CC aws-k8s-embargo-notification@amazon.com with more details?

[2021-10-13 22:44] ahg-g commented on #105661
So there are two cases:

case 1) default spreading: we should be handling that correctly already since we look at the owner, which in this case is the ReplicaSet, so spreading should be limited to the pods of the ReplicaSet.

case 2) explicitly setting the topology spread constraints: I don't think we should do anything implicit here, we had the same case for one of GKE customers, and the advise w

[2021-10-13 22:58] #105654 closed

[2021-10-13 22:59] damemi commented on #105661
I don't have the details, but the support team that reported this to us says their users tried the label trick and it wasn't successful. They also said that was actually already documented. I can try to get more details

[2021-10-13 23:45] dims commented on #105662
cc @nehaLohia27 @PushkarJ

[2021-10-13 23:56] BenTheElder commented on #105662
It is not running in CI (SIG Testing here)

some related issues:
https://github.com/kubernetes/kubernetes/issues/99673
https://github.com/kubernetes/kubernetes/issues/100783
https://github.com/kubernetes/kubernetes/issues/103721

more generally kubernetes is not on state of the art linters, and it's a bit challenging to roll them out to a repo this large (it's not practical to patch them all at on

[2021-10-14 01:14] AlexDiamanti opened #105664 "k8s e2e node events test (test/e2e/node/events.go) is designed only for checking events coming from the default scheduler and fails when custom scheduler is used"
### What happened?

When we use custom scheduler, e2e node events test failing (as part of 1.20 conformance)

### What did you expect to happen?

You need not to use default scheduler when query events there:

		var events *v1.EventList
		// Check for scheduler event about the pod.
		ginkgo.By("checking for scheduler event about the pod")
		framework.ExpectNoError(wait.Poll(time.Second*2, time.Sec

[2021-10-14 01:30] gjkim42 commented on #105658
This bug might be reproducible to the (secret, configmap) to env and (secret, configmap) to volume.

[2021-10-14 02:24] eggiter commented on #105114
@fromanirh Hi, what's the current status?

[2021-10-14 04:59] Kartik494 commented on #105418
Could you describe here what log error's are when you run the command `docker system prune -a --volumes` , unused volume should be deleted.

[2021-10-14 07:48] aojea commented on #105664
the problem is that the test has hardcoded the default scheduler as origin, right?

https://github.com/aojea/kubernetes/blob/5b489e2846a7fb959252dc5a04fe21ec844e9fad/test/e2e/node/events.go#L103-L104

[2021-10-14 09:38] pacoxu commented on #104940
@logicalhan I think this is odd to change the component-base metrics code base.  But the refactor to use `promauto.With(reg).NewCounter` is another approach.

You can try to reproduce it with
[code]
`ci-kubernetes-generate-make-test-count10` is with `GOFLAGS=-count=10 `

[2021-10-14 09:58] daniel-kun commented on #72597
I also have the use case to access a database that is only accessible from the remote network.

Additionally, there is the use case to access third party APIs that use whitelisted source IP addresses, which often are only the outgoing IP addresses of the cluster. With the port-forwarding to arbitrary external hosts or IP addresses you could access those IPs from your local development machine (for

[2021-10-14 10:02] ahharu commented on #65797
/reopen

[2021-10-14 10:56] Kartik494 commented on #105602
@YuikoTakada Yes, Aliases for `ReadWriteOnce` ,  `ReadOnlyMany`  ,`ReadWriteMany` Needs to be changed in docs and code.

[2021-10-14 11:48] Sebor commented on #89903
@leeamson,
I use tf [module](https://github.com/terraform-aws-modules/terraform-aws-eks) with `kubelet_extra_args` parameter:
[code]

[2021-10-14 13:04] aojea commented on #105657
most of the conntrack issues with UDP were fixed, I'm surprised this worked before and not now, can you run kube-proxy with verbosity 7 and attach the logs after reproduce the issue (please share more or less the time  when you delete the pod and the name of the pods so I can find them easily in the logs)

[2021-10-14 13:19] pmarag commented on #105657
@aojea I have the logs exactly from when I start our test scenario and we deleted the pod. The verbosity is 9 hope this is not a problem. Please find them attached!  I attach also the same exactly test on kubernetes 1.21 (where everything works as expected). I can see some differences but to be honest, wasn't able to find what exactly is creating the issue.
[kube-proxy-kubernetes-1.21.txt](https:/

[2021-10-14 13:27] soltysh commented on #68397
/milestone v1.23

[2021-10-14 13:59] aojea commented on #105657
on 1.22

on 1.21

on 1.21 it deletes the conntrack entry for service

on 1.22 doesn't detect the service stale :thinking:  and call the slicecache twice but the handler once

@danwinship does this ring a bell?

[2021-10-14 14:07] krzysied opened #105675 "HPA CPU e2e tests are failing"
### Which jobs are failing?

ci-kubernetes-e2e-autoscaling-hpa-cpu

### Which tests are failing?

All Kubernetes e2e suite.[sig-autoscaling] [Feature:HPA] Horizontal pod autoscaling (scale resource: CPU)

### Since when has it been failing?

Jul 23 18:15:50

### Testgrid link

https://k8s-testgrid.appspot.com/sig-autoscaling-hpa#gce-cos-autoscaling-hpa-cpu

### Reason for failure (if possible)

_N

[2021-10-14 14:15] krzysied opened #105677 "HPA Custom metrics tests are failing"
### Which jobs are failing?

ci-kubernetes-e2e-gci-gce-autoscaling-hpa-cm
ci-kubernetes-e2e-gci-gce-autoscaling-migs-hpa

### Which tests are failing?

All Kubernetes e2e suite.[sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: Custom Metrics from Stackdriver)

### Since when has it been failing?

Last entry in prow show that Jul 16 13:55:27 was already failing, so longer than tha

[2021-10-14 14:21] pohly opened #105678 "replace ExpectEqual(someBoolean, ...)"
### What would you like to be added?

The `test/e2e` tests are full of assertions which compare a boolean against true or false, often without any additional explanation. When those assertions fail, the error message is useless for understanding what went wrong, often just saying:
[code]

Including an explanation is better, but then we still have the distracting noise about the comparison:
[code]

[2021-10-14 15:02] asrcryan commented on #84069
@skwokie yes, did you ever resolve? We're running into same issue with pthread_create()

[2021-10-14 15:21] asrcryan opened #105680 "pthread_create EPERM error with SYS_NICE capability added"
### What happened?

Have SYS_NICE capability and privileged: true added to pod. Running C app that calls pthread_create() with a thread priority > 0 fails as non root user. Error is EPERM (https://github.com/kubernetes/kubernetes/issues/84069)

### What did you expect to happen?

With SYS_NICE capability and privileged: true, expected non root user to be able to create threads without error.

###

[2021-10-14 15:33] ehashman commented on #84869
/remove-lifecycle rotten

[2021-10-14 15:33] danmillwood opened #105681 "OOM when running hack/verify-typecheck.sh with go 1.17"
### What happened?

go 1.17 appears to have significantly increased the amount of memory required on a kubernetes development environment to run `make verify` and in particular, `hack/verify-typecheck.sh` `verify-typecheck-dockerless.sh` and `verify-typecheck-providerless.sh`

With go 1.16.9, these can be run in a Linux VM with 8Gb memory.  In go 1.17, `hack/verify-typecheck.sh` still fails with 1

[2021-10-14 15:47] #105463 closed

[2021-10-14 15:48] ehashman commented on #105332
/triage accepted
/assign @haircommander

[2021-10-14 16:12] Oats87 commented on #96635
This looks like a "duplicate" of the issue here: https://github.com/kubernetes/kubernetes/issues/70044

[2021-10-14 16:17] neolit123 commented on #105680
/sig node

[2021-10-14 16:44] wojtek-t opened #105683 "Rethink P&F metrics"
Forked from post-merge discussion on https://github.com/kubernetes/kubernetes/pull/103539

Copying the main comments here:

@MikeSpreitzer :
[code]

@wojtek-t
[code]

@MikeSpreitzer
[code]

@MikeSpreitzer @tkashem

/sig api-machinery
/priority important-longterm
/kind bug

[2021-10-14 16:53] wojtek-t commented on #105683
@MikeSpreitzer - given our metrics are still alpha - I wouldn't add new ones - we should probably update the existing ones

That SGTM

OK - I forgot about that. Yeah - that sounds fine to me.

max(initialSeats, finalSeats) are indeed occupied. But the work isn't happening there.
Even before that was some approximation, for two different requests taking the same latency, the amount of work happenin

[2021-10-14 18:59] grosser opened #105684 "kubelet should not pick up static pods from editor temp/backup files"
When editing a kubernetes file in a folder watched by kubelet, editors often create a `foo.yaml~` file.
This file should be ignored by `kubelet`, ideally it would only search for `*.{yml,yaml,json}`

[code](https://github.com/kubernetes/kubernetes/blob/30a32a39a4924c481b1e1c26f3d782f2e02ab014/pkg/kubelet/config/file.go#L161-L197)

reproduction:
- edit file
- remove file
- pod is still running beca

[2021-10-14 19:45] chrisohaver commented on #101682
CoreDNS used in a sentence ... chris wakes up...

I suppose this could be done to filter the additional records of an SRV request? Or maybe in forwarding cases, only forward to upstream servers in the same family?  I don't think any of those things really matter.

Do you have an example of why/how a DNS server would respond differently based on the source ip family?

[2021-10-14 19:58] #102975 closed

[2021-10-14 20:26] khenidak commented on #101682
I am saying it should not :-)

[2021-10-14 20:28] ehashman opened #105686 "[Flaky test] [sig-node] Kubelet should correctly account for terminated pods after restart"
### Which jobs are flaking?

node-kubelet-serial

### Which tests are flaking?

Kubelet should correctly account for terminated pods after restart

### Since when has it been flaking?

Since test was created, flakes 10-20% of the time. Not entirely clear why, I haven't looked.

### Testgrid link

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial&include-filter-by-regex=Kubelet%20should%

[2021-10-14 22:10] dimitriosstander commented on #81045
/reopen
it is still ongoing and bites every new joiner. All the requests use the correct password apart from exec/forward.
Root cause likely is https://github.com/golang/go/issues/5684

Compare https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go#L279-L287
`credentials := proxyURL.User.String()`

with the implementation at
ht

[2021-10-14 23:03] 2uasimojo opened #105689 "StrategicMerge patching null dict entry on empty dict creates the entry with empty string value"
### What happened?

Note: I'm using OpenShift. s/oc/kubectl/ below if that's how you roll.

I'm using a command similar to the following to idempotently ensure a label is absent on a Namespace object:
[code]
If the object's `.metadata.labels` contains _anything_ other than `EFRIED`, this works fine: the resulting object has no `EFRIED` key. However, if `.metadata.labels` is initially absent, this

[2021-10-14 23:06] rishabhkumar296 commented on #105678
I would like to take this up as my first issue

[2021-10-14 23:20] 2rs2ts commented on #70585
/remove-lifecycle stale

[2021-10-15 02:19] msau42 commented on #100474
/remove lifecycle/rotten

@kassarl @Jiawei0227 any updates on this?

[2021-10-15 03:49] roycaihw commented on #105558
/unassign
/assign @aojea
Thanks for sending the PR!

[2021-10-15 04:55] uthark commented on #105684
Replacing
https://github.com/kubernetes/kubernetes/blob/582b492cc0940d3ed20ea6028b1e54c3430289d0/pkg/kubelet/config/file.go#L162

with
[code]

excludes files ending with ~.

I drafted PR that uses regex to filter only specific file extensions.

[2021-10-15 05:34] devzer01 commented on #24725
The Never value is required for some troubleshooting purposes so that logs are not lost during development stages when time crunching matters like fluentd configuration is not complete. Kindly add the restart policy Never support

[2021-10-15 06:38] MikeSpreitzer commented on #105338
Something is violating locking or counting discipline.
Perhaps some cheap sanity checks on counts (like, never negative) would at least confirm that this is where the problem lies.
The needed discipline is very mechanical.  A careful read of all the code should find any violations.

[2021-10-15 07:05] MikeSpreitzer commented on #105338
Also, we could make queueSet::UpdateObservations check that the queueSet has the right sums over its queues (under the queueSet lock, of course).  I think it is called infrequently enough for that to be tolerable.  The point would be to reveal something to us developers.

We could even make it do repair if an error is found; this would not really solve the problem, of course, but might make a help

[2021-10-15 07:37] aojea commented on #105657
@pmarag do I read it correctly and the problem only happens when using --force to delete the pod, without force it works well?

[2021-10-15 08:15] roffe commented on #54476
@antoinep92 the TL/DR; is that they don't want to implement it because it will restart all static pods when you deploy the fix.

I just gave up and learned to live with it....

[2021-10-15 08:32] ncsibra commented on #105654
Thanks for the help!

Just some more info for those who will find this issue in the future.

The mentioned metric/log info can be found [in the kep too](https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/1205-bound-service-account-tokens/README.md#serviceaccount-admission-controller-migration) and was implemented [here](https://github.com/kubernetes/kubernetes/pull/89549).
To see

[2021-10-15 09:31] swatisehgal opened #105698 "PodResource API: Provide the client a user friendly way to learn taskset of a container"
With the introduction of https://github.com/kubernetes/kubernetes/pull/97415, we return only exclusively allocated CPUs in the list endpoint of Podresource API.

Though this is useful in meeting the original goal of  resource accounting and determining the remaining CPUs on a node, there is no easy way to know the taskset associated with a container. Currently, in order to determine the taskset th

[2021-10-15 10:24] #102079 closed

[2021-10-15 10:24] julienlau commented on #59848
Hi,

Maybe it would be a good idea to have a set of options to completely disable watch cache ?
As I understand today we can disable watch-cache in api-server by using `--watch-cache=false` but the local cache cannot be disabled in controllers.

These options would be helpful for testing purpose, but also would open more broadly the way etcd shims such as Kine or FoundationDB

[2021-10-15 11:08] Jean-Daniel commented on #94825
I still have this logs with version 1.22.2

[2021-10-15 11:23] embano1 commented on #59848
What do you mean by local cache? The `cache.Store` interface? What would be the benefit or use case of not using a local cache?

[2021-10-15 14:16] alculquicondor commented on #105589
It's still flaking https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/105687/pull-kubernetes-unit/1448766205312634880

[2021-10-15 14:43] pohly commented on #91633
The solution with structured logging would be to also do contextual logging:
[code]

Then all `klog.InfoS` call needs to be replaced with `logger.Info` and the pod key/value would always be included in each log message, even in code which isn't even aware that it is being called for the pod. It's also possible to attach a name like "scheduler" or "scheduler/predicate-XYZ".

The problem in the Kube

[2021-10-15 14:52] MikeSpreitzer commented on #105683
I think you meant "rethink".

[2021-10-15 16:48] nilesh-telang opened #105703 "Pod looses network connection (connection refused errors) during graceful shutdown period"
### What happened?

Hi,

Our backend infrastructure uses Kubernetes pods to perform analysis of data. As the flow of data increases and decreases through the day, the Kubernetes auto scaler scales up and scales down the pods.

The analysis operation on a single workload can take up to six minutes. To enable successful completion of in flight scan operation, the pods
1. have a terminationGracePerio

[2021-10-15 17:08] aojea commented on #105703
pods can create connections during shutdown period

a different topic is that if you are trying to connect to a service, the endpoints that are termination are removed from the service, so all the connections to that service will go to the endpoints that are ready, if there are no endpoints those connections will be refused

/kind support

[2021-10-15 18:03] Huang-Wei opened #105704 "sched: `--leader-elect` flag is not honored well"
### What happened?

When `--leader-elect=false` is specified to start the scheduler, it's not honored well - the scheduler still tries to acquire leader election obj and it causes the scheduler to fail scheduling pods.

### What did you expect to happen?

The `--leader-elect` flag is always honored, no matter its corresponding fields in ComponentConfig is set or not.

### How can we reproduce it (

[2021-10-15 18:04] Huang-Wei commented on #105704
/sig scheduling
/assign
cc/ @alculquicondor @chirangaalwis

[2021-10-16 00:22] gjkim42 commented on #105684
It would be great that you can update the issue description to include a reproducible scenario :)

[2021-10-16 00:54] abnormall opened #105708 "dfadfsdf"
**What happened**:
In one cluster, sender service is deployed. In another cluster, receiver service is deployed. The receiver  service is exposed by LoadBalancer.  The external ip:port is 52.191.20.176:50002.  When surfing the 52.191.20.176:50002 on the website, the receiver service will return "hello world".

In the  pod of sender service,  curling 52.191.20.176:50002 will return connection time

[2021-10-16 00:57] abnormall opened #105709 "Fail to reach another cluster by external ip:port"
### What happened?

In one cluster, sender service is deployed. In another cluster, receiver service is deployed. The receiver service is exposed by LoadBalancer. The external ip:port is 52.191.20.176:50002. When surfing the 52.191.20.176:50002 on the website, the receiver service will return "hello world".

In the pod of sender service, curling 52.191.20.176:50002 will return connection time out.

[2021-10-16 01:05] ronaldpetty opened #105710 "kubectl options incorrect --> --skip-headers should be replaced with --no-headers"
### What happened?

Tried to strip headers, failed with --skip-headers (found in kubectl options):

[code]

### What did you expect to happen?

[code]

### How can we reproduce it (as minimally and precisely as possible)?

Just install via kubeadm 1.22.2 k8s, here is the exact script I use.

`K8S_VERSION=1.22.2 sh <(wget -O - https://raw.githubusercontent.com/RX-M/classfiles/master/k8s.sh)`

[code

[2021-10-16 01:29] AuraSinis commented on #105710
/sig sig-cli

[2021-10-16 01:30] AuraSinis commented on #105710
/sig cli

[2021-10-16 05:46] MikeSpreitzer commented on #105683
Specifically regarding the existing request_count and potential seat_count metrics, here are some thoughts.
- The apiserver_flowcontrol_priority_level_request_count_samples and apiserver_flowcontrol_priority_level_request_count_watermarks histograms have a label distinguishing waiting from executing.  The values observed in these histograms are fractions, between 0 and 1, of the number of requests

[2021-10-16 06:22] #105708 closed

[2021-10-16 08:05] Lihongjie-123 opened #105715 "k8s does not work on GPU resource limits"
### What happened?

First of all, my k8s version is v1.18.19 (the same problem also occurs on version 1.16). When I created the pod, I specified nvidia.com/gpu as 0 in the yaml file, but it was running on the pod After getting up, the processes in the pod are still using GPU resources. It seems that I limit nvidia.com/gpu to 0 to no effect. My cluster’s graphics driver for Nvidia has also been ins

[2021-10-16 10:48] gjkim42 commented on #105658
Thank you @wojtek-t

OK, then this is not a bug.

Anyway, I think it is hard for many users to expect the fact that secrets are cached by name per node.
Maybe we need doc updates...? (If there aren't)

/unassign

[2021-10-16 14:50] timoreimann commented on #104107
I think we are hitting pretty much the same issue on a 1.21.3 cluster.

For us it's etcd running as a pod and (not sure if relevant or not) leveraging a CSI-managed PVC. The pod stays stuck indefinitely in the `Terminating` state unless we force-delete it. The pod termination happens as part of a regular namespace deletion with (AFAICT) no pressure, eviction, or similar involved.

We run periodic

[2021-10-16 17:39] #101745 closed

[2021-10-16 17:47] neolit123 commented on #105709
/sig network
/kind support
support vs bug?

if you change the sender pod image to something else (e.g. ubuntu:latest), does this still happen?

[2021-10-16 20:36] rkojedzinszky commented on #104531
Basically, this was working as expected, at least as expected by documentation in 1.21. Is it not a regression?

[2021-10-16 21:49] neolit123 commented on #105710
these flags come from the logger - klog.

/sig instrumentation
/kind documentation

[2021-10-17 00:00] ejose19 commented on #93708
This is really useful, specially if the base image doesn't include `curl` or similar tools to do it using the `exec` way.

[2021-10-17 02:39] #70082 closed

[2021-10-17 02:44] abnormall commented on #105709
@aojea AKS, not AWS.

And if loadbalancer port is 80 or 443, it works fine :)

[2021-10-17 02:45] abnormall commented on #105709
@neolit123 I change the sender pod image, but it also doesn't work.

[2021-10-17 03:18] 249043822 commented on #105467
@ehashman The root cause of the kubectl display issue is that we have changed that previously we never reported container status after an eviction or preemption and so on, Now we sync out the last known container status from the runtime even the pod has been evicted, preempted or teminated by node shutdown.
so if we keep the current status report logic, we should change the kubectl printer in http

[2021-10-17 03:56] amustaque97 commented on #104234
/assign

[2021-10-17 08:16] aojea commented on #105657
I can't reproduce it :/

Install an UDP service with a service
[code]

Get the new service IP
[code]
Run another pod polling the udp service constantly
[code]

In another terminal watch the conntrack entries inside the node
[code]

After doing `kubectl delete --force` to the service pod, the conntrack entries are correct and the app keeps working

[2021-10-17 09:40] lianghao208 opened #105720 "In Scheduler Preemption phase, RunFilterPlugins does not consider extender scheduler plugin"
### What happened?

related code is [default_preemption.go#L177-L185](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L177-L185),  when selecting nominated node for failed scheduled pods, it only runs `RunFilterPluginsWithNominatedPods` to select nominated nodes from default scheduler.
[default_preemption.go#L183-L184](ht

[2021-10-17 09:41] lianghao208 commented on #105720
/sig-scheduling

[2021-10-17 09:42] lianghao208 commented on #105720
/cc @Huang-Wei

[2021-10-17 14:13] BurhanuddinMerchant commented on #105678
I would like to take up this issue as my first issue

[2021-10-17 14:58] BurhanuddinMerchant commented on #105678
Okay sure ,how do I un assign myself from this issue?

[2021-10-17 15:01] chetak123 commented on #105678
I don't think you are assigned to this issue.

[2021-10-17 15:30] BurhanuddinMerchant commented on #105678
Oh okay

[2021-10-17 17:31] leonardpahlke commented on #105242
/cc @kubernetes/ci-signal

[2021-10-18 01:06] Lihongjie-123 commented on #105715
I'm looking for a k8s version 1.20 to try it. Doesn't the version 1.20 support limiting GPU resources? It's really weird. Thank you very much！@neolit123

[2021-10-18 04:40] MikeSpreitzer commented on #105338
Also, the some comments on the fields in `queueSet` are outdated, they reference a now-non-existent field `config`.

[2021-10-18 04:46] cyclinder commented on #105710
/unassign

[2021-10-18 04:52] cyclinder commented on #105710
--skip--headers flag come from klog
--no-headers flag come from  "kubectl get"

https://github.com/kubernetes/kubernetes/blob/9804a83d8fd9eec4c20e75e73e11ffd4b370c6f0/staging/src/k8s.io/kubectl/pkg/cmd/get/get_flags.go#L167

[2021-10-18 05:24] sanposhiho commented on #105720
Hello.
If I understand correctly, extenders are called on [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/preemption/preemption.go#L164).

// We will only check <candidates> with extenders that support preemption.
// Extenders which do not support preemption may later prevent preemptor from being scheduled on the nominated
// node. In that case, scheduler will f

[2021-10-18 06:24] yuvaldolev commented on #102718
/remove-lifecycle stale

[2021-10-18 06:25] javiku commented on #104107
We have also seen this kind of errors once in a while, and only in Pods using persistent storage (CSI-managed PVCs).

[2021-10-18 07:01] heqg opened #105725 "when etcd is abnormal or not heatlth,apiserver's log growing too fast"
### What would you like to be added?

kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/etcd.go

1. Cancel etcd health check

[code]

2. Increase default health check interval

### Why is this needed?

1. To prevent logs from growing rapidly and occupying too many disks
2. Reduce restart times of kube-apiserver

[2021-10-18 07:43] wojtek-t commented on #105683
I think we're mixing "dispatching" and "fairness" aspects here.

- For "fairness" - I don't think there is any discrepancy here. In virtual world, we're computing r(t) based on "initial-seats*duration+final-seats*addition-duration" which is supposed to be exactly the work that is done in the real world.
So (unless we're doing poor job in computing final-seats/additional-latency) - this actually is

[2021-10-18 10:02] #105720 closed

[2021-10-18 10:17] maciekdka opened #105732 "Oldest-by-date repilca set overwrite instead of oldest-by-revision during deployment leads to rollback to inproper version."
Problem is that during deployment the oldest-by-date replica set is overwritten instead of oldest-by-revision. Rollback failure will occur according to revisionHistoryLimit value - in our case it was set to 2, so 2 historical revisions plus current one is kept - issue occured during 3rd deployment. Please see details in below image:

![deployment-overwritte-oldest-by-date-replica-set-instead-of-ol

[2021-10-18 12:42] neolit123 commented on #105725
/remove-sig node
/sig api-machinery

[2021-10-18 15:06] MikeSpreitzer commented on #105683
I am not sure what you mean by "But this is the part where we don't have full correspondence with real world anyway".  If you mean that the dead space (finalSeats-initialSeats during the first phase of execution) in the real world is where the notification work happens, I do not see that.  The notification work for a given request happens during the second phase of execution.  The dead space is se

[2021-10-18 15:09] Eugenevml opened #105733 "Enhancement request for allowing hostnames in endpoints. Currently only IPs are supported"
### What happened?

I'm working on a task requiring to implement a solution that would allow for horizontal pod autoscaling of a certain service to scale pods based on kafka metric "kafka_consumer_group_ConsumerLagMetrics_Value"

HPA would look something similar to this within that service:

[code]
Kafka in this case is a MSK cluster in AWS. Service is running in k8s cluster also in AWS. And I'm u

[2021-10-18 16:34] apelisse commented on #100024
/reopen

[2021-10-18 17:13] alculquicondor commented on #105661
Opt-out wouldn't be backwards compatible, but I don't expect it to break users, so it might be fine. Of course this requires a KEP.

[2021-10-18 17:21] jpetazzo opened #105740 "Meta: bug report form may suggest other repositories than kubernetes/kubernetes"
In some cases, issues get more visibility if they are open on other repositories. For instance, after #105518, I learned that issues with `kubectl` should be open in kubernetes/kubectl instead of kubernetes/kubernetes.

According to https://github.com/orgs/kubernetes/repositories?q=issue there is also kubernetes/kubeadm (and perhaps others that don't have "issue" in the description 😅).

Would it m

[2021-10-18 19:29] 2rs2ts opened #105742 "kube-proxy health check doesn't fail when kube-proxy can't acquire iptables lock"
### What happened?

We upgraded iptables on one of our hosts, and kube-proxy began logging errors about being unable to acquire the `xtables.lock`. However, we didn't notice this, because kube-proxy's health check (`/healthz`) was still passing (and that's generally what we look at as our sign that something is amiss.) As a result, kube-proxy ran for days without being able to update iptables rule

[2021-10-18 19:30] amrHassanAbdallah opened #105743 "Preventing the kube-node-lease namespace removal"
### What would you like to be added?

Right now the deletion of the below namespaces is prevented by the server
`default`, `kube-public`, `kube-system`

But when trying to delete the
`kube-node-lease` namespace, the server deletes it, and sometimes the namespace removal is stuck at the deleted stage which prevents the regeneration for this namespace and ends up impacting the communication between

[2021-10-18 22:12] cici37 opened #105745 "CRD Validation Expression Language in Alpha"
### What would you like to be added?

Adding Expression Language validation for CRD.

KEP: <https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2876-crd-validation-expression-language>

Expression Language validation for CRD is available as alpha feature in 1.23:
- [x] https://github.com/kubernetes/kubernetes/pull/105107
- [x] https://github.com/kubernetes/kubernetes/pull

[2021-10-18 22:44] tallclair opened #105746 "[PodSecurity] Automated webhook image builds"
We should automate the webhook image build using cloud build (see https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io#enabling-automatic-builds).

This depends on the initial webhook implementation: https://github.com/kubernetes/kubernetes/pull/105362

/sig auth

[2021-10-18 22:45] tallclair opened #105747 "[PodSecurity] Multi-arch builds"
Configure cross-architecture builds of the PodSecurity webhook.

This depends on the initial webhook implementation: #105362

/sig auth

[2021-10-19 00:11] onerandomdude opened #105750 "PodTopologySpread performance degrades as more pods are created"
### What happened?

In a benchmark cluster with the following setup:

* 3x control plane instances
* 3x etcd instances
* 5000x [kubemark](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubemark) nodes

Use [clusterloader](https://github.com/kubernetes/perf-tests/tree/master/clusterloader2) to launch Pods with the following configuration:

* Create 5000 deployments under 1 namespace, each

[2021-10-19 02:59] #105528 closed

[2021-10-19 03:03] therzv commented on #66961
@mostafa8026
[docs](https://kubernetes.io/docs/concepts/architecture/garbage-collection/)

you can always set
[code]

[2021-10-19 04:50] lippertmarkus commented on #105216
see https://github.com/microsoft/Windows-Containers/issues/170

[2021-10-19 04:50] #105216 closed

[2021-10-19 06:49] microyahoo commented on #105338
@MikeSpreitzer Thanks for your investigation. I still have some confusions need your clarification.
1. Will the above issue occur under what conditions? As far as I know, `request.decision` will be set to `decisionCancel` just at the stage of `req.decision.Get()` for timeout, and this occurs at the `request.Finish`, but `dispatchAsMuchAsPossibleLocked` will set decision prior to this and decision

[2021-10-19 07:39] marseel opened #105759 "Race condition in apiserver when request times out"
### What happened?

Apiserver crashed with stacktrace:
[code]

### What did you expect to happen?

Not to crash

### How can we reproduce it (as minimally and precisely as possible)?

I was able to reproduce it by "slowing down" deleting headers in Authentication filter (staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go):

[code]
And making requests (around 5-10 requests to trig

[2021-10-19 08:03] #102134 closed

[2021-10-19 08:21] IArchi opened #105761 "USB devices are not available in Pod"
### What happened?

I'm trying to use an USB device directly in the pod. The device is connected on the USB 3.0 port and is not available in the pod.

### What did you expect to happen?

The USB devices should be available on the pod.

### How can we reproduce it (as minimally and precisely as possible)?

 - Plug an USB device (such as Coral Edge TPU).
 - Check the device is detected on host:
<det

[2021-10-19 09:11] jyz0309 commented on #103214
I don’t know exactly what to do first, can you provide some descriptions? Thanks~

[2021-10-19 10:10] ritpanjw commented on #104017
Hi @smarterclayton & @dims  , this is bug triage here 👋
There hasn't been any activity on this issue for a couple of months now. and bug is not assigned to anyone, Just want to make sure this issue is still on track for the 1.23?

[2021-10-19 10:12] ritpanjw commented on #103853
Hi @yuchen-sun  , this is bug triage here 👋
There hasn't been any activity on this issue for a couple of months now, Just want to make sure this issue is still on track for the 1.23?

[2021-10-19 10:16] ritpanjw commented on #102430
Hi @krzysiekg  , this is bug triage shadow here 👋
There hasn't been any activity on this issue for a couple of months now, Just want to make sure this issue is still on track for the 1.23?

[2021-10-19 11:04] paxnil opened #105762 "Pods keep on crashing after worker node upgrade to debian 11"
### What happened?

I have 3 cluster. All of them installed by kubeadm. Nodes in two of them had been upgraded to debian 11 and work normally.
But when I upgrade OS of a worker node in last cluster, pods keep on crashing. I compared versions and configuration and found no noticeable difference.

If I stop kubelet service, pods stop crashing. So kubelet kills pods.
Then I run kubelet with `-v=5` an

[2021-10-19 11:46] #105762 closed

[2021-10-19 15:29] krystan commented on #95039
This also happens on my raspi 3's on 1.19.7

[2021-10-19 16:03] dobsonj commented on #103267
/remove-lifecycle stale

[2021-10-19 17:08] Huang-Wei commented on #103853
@ritpanjw thanks for checking. It's still valid but more a cleanup issue, so feel free to take it out from the 1.23 tracking board.

[2021-10-19 17:41] 2rs2ts commented on #105742
@cyclinder Yeah we upgraded on just one node at first. Like my original bug report says, we started at 1.6.0, so all the other nodes had 1.6.0.

@aojea it never gets the lock. You have to restart kube-proxy so it can go through the iptables version detection routine again and change its behavior to the 1.6.2 logic branch. That's fine, it's whatever, but the health check doesn't fail even though ku

[2021-10-19 20:19] fedebongio commented on #105745
/triage accepted

[2021-10-19 22:26] 2rs2ts commented on #105742
I added this to the description as well, but here is an example `/healthz` response during this failure mode:

[code]

And here are what the logs look like:

[code]

Running `sudo lslocks | grep xtables` gives no output.

[2021-10-20 00:47] sanposhiho commented on #103816
Hi @howardjohn
We can see two problems in this issue.

- fake clientset doesn't support server-side apply
- for the current situation, error message is not appropriate because user cannot know fake clientset doesn't support server-side apply from error message.

And the first one is duplicated with #99953. So I think it is ok to close this issue with #103821, because the PR will fix the second one

[2021-10-20 00:47] hex108 commented on #4301
FYI: `controller.kubernetes.io/pod-deletion-cost` has been added, and it might help. More info could be found at https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/.

[2021-10-20 00:51] sanposhiho commented on #103816
Aha, #99953 was closed because of non-update..

[2021-10-20 01:15] ehashman commented on #105686
Yeah I only tested this locally and not in CI, it seems that in CI the pods take much longer. Timings just need to be tweaked.

[2021-10-20 03:56] aojea commented on #103592
/close

I think that we all agree there is a potential security problem with this approach
https://github.com/kubernetes/kubernetes/pull/103602#issuecomment-902301246
Thanks

[2021-10-20 04:11] forget6 opened #105778 "start pods in batches for per node"
### What would you like to be added?

For some application，start or restart need more resources than running。for exapmle：es/flink。if a node have network jitter，all pods would restart at the same time in this node。When this happens，cpu usage becomes  very high in this node。it would increase resource competition in this node。so start pods in batches for this node，or schedule pod restart for operatio

[2021-10-20 04:24] premGE opened #105779 "IPVS is closing a connection to server without sending FIN packet to the peer on reboot of SPF server and few unknown scenario"
IPVS is closing a connection to server without sending FIN packet to the peer on reboot of SPF server and few unknown scenario

2 scenarion we have reproduced it. Do anybody know any other scenario
1. on reboot of IPVS server
2. keepalive > IPVS timeout

We have following setting on the site

[Active:root@dc-x ~]# sysctl -a|grep tcp_keepalive
sysctl: reading key "net.ipv6.conf.all.stable_secret"
s

[2021-10-20 04:45] aojea commented on #105779
/sig network
/area kube-proxy
/area ipvs

maybe related to this?
https://github.com/kubernetes/kubernetes/issues/81308

[2021-10-20 05:37] MikeSpreitzer commented on #105338
1. A given particular request X might not get dispatched during its `queueSet::StartRequest`; request X might have to wait a while if there are not enough seats available at the moment.  The goroutine that calls `queueSet::StartRequest` for X then proceeds to call `request::Finish`, which calls `request::wait` --- and that calls the `Get` method of X's `decision`.  If X's context times out or is c

[2021-10-20 05:53] #105534 closed

[2021-10-20 06:35] MikeSpreitzer commented on #104342
1.  There may be some confusion here around the term "CRD".  The opening comment of this issue uses that term where I think "CR" is meant.  In the case my colleagues found, the problem concerned a custom resource served from an aggregated custom apiserver NOT an object defined by a CRD.
2. The scenario that troubled my colleagues involved a _restart_ of a kube-apiserver _between_ the time when the

[2021-10-20 06:57] SergeyKanzhelev opened #105780 "Readiness probes should keep running (or pod marked as not ready) during graceful node termination"
### What happened?

In this PR all probes were disabled during the graceful node termination https://github.com/kubernetes/kubernetes/pull/105215.

This may pose a problem when pods will keep being marked as ready fir the duration of a node termination. Ideally we need to keep readiness probes running

### What did you expect to happen?

Ideally we need to keep readiness probes running

### How ca

[2021-10-20 07:37] liufangwai commented on #95129
/remove-lifecycle stale

[2021-10-20 08:04] microyahoo commented on #105338
Thank you for your clarification.
Aout question 2, I mean the `WriteOnce` has been set to `decisionExecute`, the setting of `decisionCancel` will no longer work. maybe nil is better.

[2021-10-20 08:47] #105351 closed

[2021-10-20 09:28] wzshiming commented on #105780
/assign

[2021-10-20 09:40] wzshiming commented on #105780
https://github.com/kubernetes/kubernetes/pull/104798
Maybe just mark it as a Failed, better

[2021-10-20 10:04] pohly opened #105782 "NamespacedName: better structured logging"
### What would you like to be added?

https://github.com/kubernetes/apimachinery/blob/4a9e16b3571218c2e15b8d0319f0b8e0e3fbacf5/pkg/types/namespacedname.go#L19-L39 should implement [MarshalLog](https://github.com/go-logr/logr/blob/1215c813c1cfed81baa5aa822d98da591001d72b/logr.go#L495).

### Why is this needed?

This ensures that it's use as value in a key/value pair emits a struct and not the strin

[2021-10-20 11:52] nmathew opened #105783 "ReservedMemory Configuration for NUMA"
I am trying out  [Topology Aware Scheduler](https://github.com/killianmuldoon/documentation/tree/installguide/install-guides) For that I enabled kubelet memory manager, cpu manager and topology manager.
This is tried on a dual socket NUMA server

`KUBELET_KUBEADM_ARGS="--container-runtime=remote --container-runtime-endpoint=/run/containerd/containerd.sock --cpu-manager-policy=static
--feature-gate

[2021-10-20 11:53] Scorito-Dev commented on #52326
This would be a handy feature, please revisit for 1.23 :)

[2021-10-20 14:24] nmathew commented on #105783
/sig node

[2021-10-20 14:35] collimarco commented on #67135
I also find [this behavior](https://technologyconversations.com/2018/10/10/to-replicas-or-not-to-replicas-in-kubernetes-deployments-and-statefulsets/) extremely confusing and against the declarative approach of Kubernetes.

**Maybe a solution would be to have a `replicas: auto` instead of leaving out the key/value pair?** In this way K8s knows that we want to change that option and not keep the ke

[2021-10-20 16:39] Debanitrkl commented on #104595
/reopen

[2021-10-20 16:47] sanposhiho commented on #105329
The scheduler simulator was developed based on existing integration tests framework and scheduler_perf originally.
(So, this issue means, in other words, "move integration tests framework to another repo and improve it with reference to kube-scheduler-simulator".)

So, basically, they're similar, but kube-scheduler-simulator has features that the framework doesn't have -- visible the result of plu

[2021-10-20 16:52] jmcmeek opened #105790 "containerd pod and mirror pods sometimes remain after deleting the manifest"
### What happened?

We have a test that creates a static pod on every node and a daemonset that later deletes the manifests for those files.  Sometimes the mirror pod and the containerd pod remain.  We've seen this when transient failures communicating with the apiserver caused a failure in calico like:
[code]
There were no further references to the pod in the kubelet logs after that.

Restarting

[2021-10-20 17:37] varshaprasad96 commented on #102849
Hi @aravindhp :)
k8s 1.23 bug triage shadow here. Looks like the linked [PR](https://github.com/kubernetes/kubernetes/pull/102868) is still blocked and there has been no activity on it for a couple of weeks. Just checking in to see if this is still on track for k8s 1.23.

[2021-10-20 18:28] mauriciopoppe opened #105798 "Reduce code duplication in test/e2e/storage/testsuites/snapshottable.go"
### What would you like to be added?

The changes to support snapshot tests for Generic Ephemeral Volumes https://github.com/kubernetes/kubernetes/pull/105659 generated some duplicated code in the file `test/e2e/storage/testsuites/snapshottable.go` as commented here: https://github.com/kubernetes/kubernetes/pull/105659#discussion_r732587703, it'd be great to create functions that are reused in bot

[2021-10-20 18:39] Ethan-99 opened #105799 "Switching from numeric port to named port in service causes unexpected behavior in requests"
### What happened?

Altering the kubernetes service targetPort from a numbered port to a named port that is referenced in the deployment causes the following error. Essentially, it is saying that my arbitrary container port (8054) is an HTTP port and it cannot service HTTPS traffic on it. It does not throw this error when using a numeric targetPort.

When using numeric targetPort in service (curl(

[2021-10-20 19:23] #102180 closed

[2021-10-20 19:46] SergeyKanzhelev commented on #105780
it would be great to keep things aligned with the behavior when pod is being deleted. We discussed here https://github.com/kubernetes/kubernetes/pull/92385 and implemented here: https://github.com/kubernetes/kubernetes/pull/98571 stopping of liveness probe.

I updated the bug title to reflect different options

[2021-10-20 19:50] Ethan-99 commented on #105799
@neolit123 understood. I'd like to note that the issue itself does not have to do with kubectl client version.

[2021-10-20 22:16] #105338 closed

[2021-10-21 00:47] jyotimahapatra opened #105801 "Extended SA token expiration"
### What happened?

Kubernetes has promoted Bound Service Account Tokens to beta starting in 1.21.
Bound Service Account Tokens have a backward compatibility feature to allow extended expiration of tokens. However the extended expiration gets applied anytime the extended expiration is enabled and expiration seconds is `3607` https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/se

[2021-10-21 00:48] jyotimahapatra commented on #105801
I'm working on the a potential fix. Please assign the issue to me

[2021-10-21 01:28] jyotimahapatra commented on #105801
/sig sig-auth

[2021-10-21 01:37] mateuszlitwin opened #105802 "Move `coscheduling` plugin from scheduler-plugins to kubernetes/kubernetes"
### What would you like to be added?

Add `coscheduling` plugin from https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/coscheduling to the default `kube-scheduler`.

### Why is this needed?

1. `coscheduling` plugin is one the [motivations for the scheduling framework](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/624-scheduling-framework/README.md#c

[2021-10-21 01:38] mateuszlitwin commented on #105802
/sig scheduling

[2021-10-21 01:52] lsytj0413 commented on #103034
/remove-lifecycle stale

[2021-10-21 02:51] tkashem opened #105804 "apf: kubemark-500 scale test fails with mutating request estimator enabled"
### What happened?

kubemark-500 scale test fails with apf mutating request estimator enabled.

https://github.com/kubernetes/kubernetes/pull/103539
First red: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1448021022367289344

### What did you expect to happen?

Expected kubemark-500 scale test to pass

### How can we reproduce it (as minimally and precisely as

[2021-10-21 02:52] tkashem commented on #105804
# Work Estimate for Mutating Request

concurrency limit for `workload-high` is at `98`
![](https://i.imgur.com/uoBxAkR.png)

queue wait time is high around the window 12:35 - 12:45. This is a time window of interest since majority of the slow requests coincide on this window.
![](https://i.imgur.com/ipaWglR.png)

number of requests pending in queue is also higher around that time window
![](https:

[2021-10-21 03:08] wzshiming commented on #105780
+1 to @249043822

Probe cleanups in PodWorker are more appropriate. no longer need to add Probe's cleanup logic everywhere

[2021-10-21 04:11] danielakhterov commented on #17144
This doesn't solve the issue, but I created this abbreviation in fish to help with this.
[code]

[2021-10-21 04:14] gosoon opened #105806 "panic in "cm.(*qosContainerManagerImpl).setCPUCgroupConfig""
### What happened?

kubelet config:
[code]

[code]

The node‘s pods is Pending status.

### What did you expect to happen?

kubelet running

### How can we reproduce it (as minimally and precisely as possible)?

Have you ever encountered similar problems？

### Anything else we need to know?

`/sys/fs/cgroup/systemd/kubepods.slice` path not found

### Kubernetes version

<details>

[code]
</details

[2021-10-21 04:41] MikeSpreitzer commented on #105804
@tkashem : what is the PromQL for the graphs of "p&f - currently executing requests" and "p&f - concurrency in use" ?

[2021-10-21 04:50] MikeSpreitzer commented on #105804
What if that cap on finalSeats is raised from 10 to 30, or 100?

[2021-10-21 05:25] yuvaldolev commented on #105798
Hi @mauriciopoppe
Could you please give me some more details about what needs to be done in this issue?

[2021-10-21 06:47] matthyx commented on #105780
Alright it seems we all agree ALL probes should be stopped, either during pod termination or node shutdown...
I think the title of this issue still doesn't reflect that, so maybe we should close it.

+1 on moving podManager calls inside sync*Pod - do we have an issue for that?
Who should handle this, maybe Clayton if that's still some follow up of the refactoring?

[2021-10-21 10:26] soroshsabz opened #105814 "Please add C++ client for kubernetes"
ITNOA

I think, it is very useful to add native modern C++ client to interact with Kubernetes.

[2021-10-21 10:48] jayunit100 opened #105815 "We need a Test for windows pod egress traffic to the kubernetes default service"
### What happened?

Looks like there are bugs such as https://github.com/antrea-io/antrea/issues/2701 that you might find in a CNI where certain types of egress fail in various corner cases.

So, for this issue, im proposing adding a new test "should be able to egress into the internal k8s service from a pod [sig-windows] " which specifically covers this.

### What did you expect to happen?

We wo

[2021-10-21 10:49] jayunit100 commented on #105815
/sig windows

[2021-10-21 11:39] zxh326 commented on #85643
ClusterIp has similar problem, it seems that this issue mentioned pr only solved  LoadBalancer or NodePort service?

[2021-10-21 11:45] njegosrailic commented on #104935
I can confirm the same problem.

[code]

[code]

Example:
[code]

[code]

It is very interesting that in my case the error happens randomly and sometimes Helm just applies a patch without any problem.

[2021-10-21 11:58] yylt opened #105816 "kubectl edit invalid content will remove command interpreter which begin with `#`"
### What happened?

1. create configmap, like

[code]

2. kube edit  configmap test, and make some error and write-save, will see below

[code]

### What did you expect to happen?

when the content after edited is invalid, should not remove data , thus mean expect content below

[code]

### How can we reproduce it (as minimally and precisely as possible)?

1. create configmap

[code]

2 edit confi

[2021-10-21 12:15] yylt commented on #105816
@dixudx PTAL

[2021-10-21 12:44] josephburnett opened #105818 "Graduate HPA ContainerResource to Beta"
### What would you like to be added?

 I would like the HPA ContainerResource feature to graduated from Alpha to Beta.

https://github.com/kubernetes/enhancements/tree/master/keps/sig-autoscaling/1610-container-resource-autoscaling

### Why is this needed?

This is a way to autoscale on the application alone, ignoring the dragging or accelerating effects of sidecar resource usage.

[2021-10-21 13:26] smira opened #105820 "kubelet resets its OOM score to -999 despite oomScoreAdj configuration value when running in a container"
### What happened?

[Talos Linux](https://github.com/talos-systems/talos) runs `kubelet` in a container. Talos sets OOM score to -450 for the kubelet container and passes `oomScoreAdj: -450` in the kubelet config.

End result is that `kubelet` OOM score adj is -999 though.

[code]

### What did you expect to happen?

`kubelet` should have configured OOM score `-450`.

### How can we reproduce it (

[2021-10-21 16:08] cjcullen opened #126811 "CVE-2021-25742: Ingress-nginx custom snippets allows retrieval of ingress-nginx serviceaccount token and secrets across all namespaces"
### Issue Details
A security issue was discovered in ingress-nginx where a user that can create or update ingress objects can use the custom snippets feature to obtain all secrets in the cluster.

This issue has been rated **High** ([CVSS:3.1/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:L/A:L](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:L/A:L)), and assigned **CVE-2021-25742*

[2021-10-21 16:41] marosset commented on #105230
/retitile aks-engine-windows-containerd-master flakes due to bad etcd image push

[2021-10-21 17:12] alculquicondor commented on #105802
cc @ahg-g @Huang-Wei

[2021-10-21 17:41] #104993 closed

[2021-10-21 17:55] fOO223Fr commented on #51475
I would like to work on this issue any guidance on which section to look for to change code? i am aware of the problem @apelisse

[2021-10-21 20:15] fedebongio commented on #105804
/triage accepted

[2021-10-21 20:42] roycaihw commented on #101755
https://github.com/kubernetes/kubernetes/issues/101755#issuecomment-908757270 Do we know if it's UpdateSpec in the apiextensions-apiserver or the aggregation layer, or both?

[2021-10-21 22:44] apelisse commented on #101755
I think we measured it in the aggregation layer, @Jefftree to confirm. @DangerOnTheRanger, could you look into it and make sure that your fix solves it?

[2021-10-21 22:50] apelisse commented on #51475
I'd start by looking at the `kubectl create` code, which probably lives around [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/create/create.go).

The thing that requires the connection to the server, I think, is the call to `OpenAPISchema()` or something, you should be able to investigate and found this call. It's not necessary when we're using `kube

[2021-10-21 23:50] #105409 closed

[2021-10-22 01:06] zerkms commented on #66450
/remove-lifecycle stale

[2021-10-22 02:24] chendave commented on #101135
@alculquicondor Jerry is out of duty at the moment, as far as I know he won't be able to work on this anymore.

maybe I or @ruquanzhao could take over it.

/cc @ruquanzhao

/remove-lifecycle stale

[2021-10-22 02:36] #102017 closed

[2021-10-22 02:54] oomichi opened #105837 "Request for extending vSphere v6.5 support"
### What would you like to be added?

According to the pull request https://github.com/kubernetes/kubernetes/pull/98546 in-tree vSphere v6.5 is deprecated and it will be able to be deleted on Kubernetes v1.24.
On the other hand, VMware announced vSphere v6.5 support period is extended from the original November 15, 2021 to October 15, 2022 as https://blogs.vmware.com/vsphere/2021/03/announcing-lim

[2021-10-22 02:57] oomichi commented on #105837
/sig vmware

[2021-10-22 03:12] fOO223Fr commented on #51475
/assign fOO223Fr

[2021-10-22 03:41] zorro786 opened #105838 "Pod Eviction Timeout not respected"
### What happened?

1. I deployed a deployment object with 3 replicas.
2. I added the following IP table rule on one of the nodes where a replica is running (after ensuring I am able to SSH after running the following command):

`sudo iptables -P OUTPUT DROP`

The Node goes to NotReady state in about 40 seconds per defined timeouts, however, the pod (replica) running on that node is terminated in

[2021-10-22 03:50] zorro786 commented on #105838
/sig api-machinery

[2021-10-22 10:38] pchan opened #105841 "Migrate scheduler to structured logging"
### What would you like to be added?

Enhance scheduler logging and address current issues.

1. Migrate the current unstructured logs to structured logging.
    - Klog APIs of unstructured logs are found in 2 directories (cmd/kube-scheduler, pkg/scheduler)
    - Primarily files in pkg/scheduler/framework and pkg/scheduler/internal needs to be migrated. I will update this issue with the API breakdo

[2021-10-22 11:23] pagarwal-tibco opened #105842 "Incorrect status of kubernetes deployment after updating deployment few times"
### What happened?

When we try to update deployment resource many times where it fails intermittently, status would show incorrect information. Please check steps below for more information.

### What did you expect to happen?

In case of failure, deployment status should show correct information. Please check steps below for more information.

### How can we reproduce it (as minimally and precis

[2021-10-22 13:53] b10s opened #105844 "Allowing mutating webhook to change pod spec for mirror pods is confusing. Consider making it clearer"
### What happened?

Limits applied by LimitRanger to a static Pod are not in effect.

### What did you expect to happen?

Either do apply limits or to not show them in yaml/API and document such behavior (if not yet :smiley:)
First is preferable per my opinion.

### How can we reproduce it (as minimally and precisely as possible)?

1. Make sure you have a LimitRanger with enforced limits.
2. Creat

[2021-10-22 14:40] lizzzcai opened #105846 "kubectl debug node cannot access root of non-root user process"
### What happened?

For a container running as a NonRoot user, debug pod created by `kubectl debug node` cannot access the root of the process. User case [here](https://github.com/kubernetes/enhancements/issues/277#issuecomment-949320689)

### What did you expect to happen?

Privileged debug pod on the node should be able to access almost all the information of the pod running on that node.

### H

[2021-10-23 00:58] jyz0309 commented on #105841
Maybe I can help to migrate the `pkg/scheduler/framework/plugins/volumebinding/binder.go` and  `pkg/scheduler/framework/plugins/volumebinding/assume_cache.go`, can you assign it to me?

[2021-10-23 01:08] jyz0309 commented on #105841
BTW, I think we can divide it into 4 part as @shivanshu1333 said. I have tried to divide it into 4 parts:
<!DOCTYPE html>

  |   |  
-- | -- | --
File | Unstructured log API Calls | Assigned
cmd/kube-scheduler/app/server.go | 2 |  
pkg/scheduler/framework/plugins/nodelabel/node_label.go | 1 |  
pkg/scheduler/framework/plugins/nodevolumelimits/non_csi.go | 1 |  
pkg/scheduler/framework/plugins/volu

[2021-10-23 01:13] MikeSpreitzer commented on #105804
That graph of average execution duration --- which covers the first phase but not the second --- has a surprisingly squashed Y axis.  If you had cut off the spike at the end then we could read the data from around 14:00 with more precision.

As it is, it looks like the average first phase was roughly 1 to 4 ms depending on which FlowSchema was involved.  With a second phase of 5 ms, this means the

[2021-10-23 01:16] MikeSpreitzer commented on #105804
@tkashem : if I understand your suggestion correctly, and drop the common term `S*G` from both sides of your equation, you are suggesting that in the real world we reshape from `finalSeats * A` to `initialSeats * A'`.  We could certainly make the real-world scheduler do that math, but I fear it would defeat the purpose here.  The problem is that the actual work of sending notifications is done in

[2021-10-23 13:31] SreePaadam opened #105856 "aws loadbalancer not started even if Service type is Lodbalancer"
/sig/networking
### What happened?

Hi,

I have a self managed k8s cluster...
The service type is load balancer , but the load balancer does not get started ,

even after giving

### What did you expect to happen?

Expected aws Load Balancer to start  getting created in the self managed cluster

### How can we reproduce it (as minimally and precisely as possible)?

Create a kuberntest deployment i

[2021-10-23 23:55] #98666 closed

[2021-10-24 14:53] vantuvt opened #105861 "Proposed graduation of scheduler metrics from alpha to stable"
### What would you like to be added?

I would like to propose the graduation of the following scheduler metrics from alpha to stable:

- [pending_pods](https://github.com/kubernetes/kubernetes/blob/0d50c969c587c8a6c16e0962118305ac652c5a6b/pkg/scheduler/metrics/metrics.go#L88)
- [preemption_attempts_total](https://github.com/kubernetes/kubernetes/blob/0d50c969c587c8a6c16e0962118305ac652c5a6b/pkg/sc

[2021-10-24 15:28] vantuvt opened #105862 "Proposed graduation of apiserver metrics from alpha to stable"
### What would you like to be added?

I would like to propose the graduation of the following apiserver metrics from alpha to stable:

- [apiserver_response_sizes](https://github.com/kubernetes/kubernetes/blob/0d50c969c587c8a6c16e0962118305ac652c5a6b/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L118)
- [aggregator_unavailable_apiservice](https://github.com/kubernetes/kubernetes/bl

[2021-10-24 15:33] n2243 opened #105863 "[KUBE-APISERVER] Error from server (RequestEntityTooLarge Request entity too large: limit is 3145728"
### What happened?

I'm trying to push a large .yaml file (over 3 MB, less than 4 MB) with kubectl.
`kubectl apply -f viya4-sasdeployment.yaml -n sasoperator`
In response I've got :
`Error from server (RequestEntityTooLarge): error when creating "viya4-sasdeployment.yaml": Request entity too large: limit is 3145728`
To get proper debug I've done this with verbosity level 7 do determine what servic

[2021-10-24 15:37] vantuvt opened #105864 "Proposed graduation of evictions_number metric to stable"
### What would you like to be added?

I would like to propose the graduation of the [evictions_number](https://github.com/kubernetes/kubernetes/blame/0d50c969c587c8a6c16e0962118305ac652c5a6b/pkg/controller/nodelifecycle/metrics.go#L67) metric from alpha to stable.

### Why is this needed?

The `evictions_number` metric has been stable for 2 years now.

[2021-10-25 04:05] zhubuntu opened #105868 "multi PV with same unique volume name mount failed"
### What happened?

I have two PVs with same UniqueVolumeName. Two different pods use those PVs assigned to the same node.
The first assigned pod can run well, but the second assigned pod can't be set up correctly.

### What did you expect to happen?

My two pods both can be set up correctly.

### How can we reproduce it (as minimally and precisely as possible)?

1.  create two CSI PVs with same U

[2021-10-25 13:40] b10s opened #105880 "Can't evict Pods from dedicated node"
### What happened?

Here is a use case of taints and toleration as dedicated node:
https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#example-use-cases

Draining dedicated node doesn't evict Pods on it. Only assigning new unique taint with `NoExecute` effect will evict Pods from dedicated node.

### What did you expect to happen?

I'd expect eviction of Pods from dedicat

[2021-10-25 14:35] kishoreakshat opened #105881 "Using Graceful Node Shutdown, but containers are evicted prematurely."
### What happened?

Our use case is to stream fluentbit logs to an [S3 bucket](https://docs.fluentbit.io/manual/pipeline/outputs/s3) whenever an EKS managed node is terminated due to a scale-in/health failure, etc.

By its design, fluentbit containers stream buffered logs to S3 when they receive a SIGTERM/SIGKILL. With EKS node eviction, they do receive a SIGTERM with default grace period (or an o

[2021-10-25 15:21] marseel opened #105884 "Make sure that underlying goroutine finishes when requests times out"
### What happened?

Spin off from #105611 as requested in https://github.com/kubernetes/kubernetes/pull/105734#discussion_r732852756

Currently, timeout filter doesn't force underlying goroutine to finish. This can potentially cause hard to debug race conditions as showed in #105734

### What did you expect to happen?

Timeout goroutine should wait for underlying goroutine to finish first.

### Ho

[2021-10-26 08:20] jsafrane opened #105899 "CSI Volume staging path contains PV name"
### What happened?

When two CSI PVs point to the same volume in the storage backend, kubelet can't start pods that use these two PVs on the same node.

Both PVs have the same VolumeHandle and kubelet is smart enough to recognize that they're the same volume (because they have the same unique volume ID). It calls `NodeStage` only once, however, the staging path contains name of one of the PVs, say

[2021-10-26 08:22] shivanshu1333 opened #105900 "Reference the V1Secret type in api/core/types.go"
the V1Secret page: V1Secret https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Secret.md
says:

`type | str | Used to facilitate programmatic handling of secret data.` It's not enough to understand what type is or what are the values expected there.
It should reference to https://kubernetes.io/docs/concepts/configuration/secret/#secret-types
which explains the different type

[2021-10-26 16:43] ahg-g opened #105914 "Refactor the scheduler's node resource plugins"
### What would you like to be added?

Unregister NodeResourcesLeastAllocated, NodeResourcesMostAllocated and RequestedToCapacityRatio as plugins and move the logic as functions under NodeResourcesFit plugin.

### Why is this needed?

Those plugins are deprecated as standalone ones and are now accessible via `NodeResourcesFit`'s `ScoringStrategy`.

/sig scheduling
/assign @kerthcet

[2021-10-26 18:03] jayunit100 opened #105918 "ClusterTrafficPolicy on Kernelspace windows proxy doesn't properly respond to NodePortHealthChecks"
### What happened?

See #62046  for details.

Passthrough loadbalancing fails bc healthchecks fail.

In GKE this is noticeable BUT very hard to see bc GKE ALWAYS will be able to
find a HEALTHY linux node... so it results in a subtle degradation of performance, (due to a second hop)
but not a functional problem that is noticebale to the casual end user.

### What did you expect to happen?

We would

[2021-10-26 23:09] thockin opened #105925 "Do we still need {verify,update}-bazel.sh ?"

[2021-10-27 06:11] wojtek-t opened #105927 "Logs from kubemark master are not exported"
It seems that our logexporter for kubemark stopped exporting metrics from kubemark masters, e.g. this run:
https://gcsweb.k8s.io/gcs/sig-scalability-logs/pull-kubernetes-kubemark-e2e-gce-big/1452741046508195840

@kubernetes/sig-scalability @marseel

[2021-10-27 06:25] prashilgupta opened #105928 "Resource temporarily unavailable: Due to logs filling up /run/k3s/containerd/io.containerd.runtime.v2.task/k8s.io"
### What happened?

/run partition is becoming full, making containerd and kubernetes unusable

df -ah /run
Filesystem Size Used Avail Use% Mounted on
tmpfs 395M 395M 0 100% /run

kubectl get pods -A
bash: fork: retry: Resource temporarily unavailable
runtime/cgo: pthread_create failed: Resource temporarily unavailable
SIGABRT: abort
PC=0x404fcf7 m=0 sigcode=18446744073709551610

goroutine 0 [idle

[2021-10-27 09:51] ulucinar opened #105932 "High CPU Utilization in kube-apiserver when a large number of CRDs are created"
### What happened?

In [Crossplane](https://crossplane.io/), we would like to register thousands of CRDs in a single cluster representing the many Cloud services possibly from multiple Cloud Providers. In our early trials with kind clusters, we have observed that simultaneously posting just over 700 CRDs results in a CPU-utilization spike in kube-apiserver, due to the background OpenAPI spec publi

[2021-10-27 09:56] jsafrane opened #105933 "kubelet does not apply SELinux label on error"
### What happened?

On a busy system, kubelet failed to tell the container runtime that a pod's CSI volume supports SELinux and should be relabeled with pod's SELinux label. The pod then can't access the volume.

### What did you expect to happen?

Kubelet correctly detects that the CSI volume supports SELinux and tells the container runtime to relabel it.

### How can we reproduce it (as minimall

[2021-10-27 11:11] winstonww opened #105937 "Using LoadBalancer Service without Selector not working"
### What happened?

I was trying to use `Service` without `selector` using `Endpoints` resource as described [here](https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors), but wasn't able to get it working.

### What did you expect to happen?

Sending a GET request to the `LoadBalancer` external IP should redirect the request to the IP specified under `Endpoin

[2021-10-27 19:49] mtaufen opened #105942 "ServiceAccountIssuerDiscovery conformance test failing in upgrade tests"
### Which jobs are failing?

https://storage.googleapis.com/k8s-triage/index.html?sig=auth

Time | Job | Test
-- | -- | --
10/27/2021, 3:46:58 AM | ci-kubernetes-e2e-gce-stable1-latest-upgrade-cluster-new-parallel | [sig-auth] ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance]
10/27/2021, 3:08:57 AM | ci-kubernetes-e2e-gce-stable1-la

[2021-10-28 02:31] yjjy0921 opened #105953 "Fail to run the conformance test with 1.22"
### What happened?

When I try to run conformance test with a docker command, it failed with this error output.

[code]

While `k8s.gcr.io/conformance:v1.20.0`  and `k8s.gcr.io/conformance:v1.21.0` are still working.
I take a look at the code `cluster/images/conformance/go-runner/main.go` (on branch release-1.22)
Seems we should create the directory for the log file before `logFile, err := os.Crea

[2021-10-28 03:21] ormissia opened #105956 "volumeClaimTemplates.spec.resources.requests.storage: 10Mi. PVC was not created as expected"
### What happened?

When I test [StatefulSet](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#components) ,
I set requests storage 10Mi in volumeClaimTemplates

[code]

But 100Mi is assigned by default

[code]

### What did you expect to happen?

I expect PVC to apply for 10Mi according to the `resources.requests.storage` of volumeClaimTemplates.

### How can we reproduce it

[2021-10-28 06:48] pawelpabich opened #105962 "Exec liveness probe does not honor timeoutSeconds on 1.20.7"
### What happened?

We have a liveness probe with `timeoutSeconds` set to 5 but the probe doesn't seem to be failing after 5s when the monitored endpoint takes minutes to respond.

### What did you expect to happen?

We expect the probe to fail after 5seconds if the monitored endpoint takes longer than 5 seconds to respond.

### How can we reproduce it (as minimally and precisely as possible)?

I

[2021-10-28 17:13] ahg-g opened #105977 "PodTopologySpread DoNotSchedule-to-ScheduleAnyway fallback mode"
### What would you like to be added?

A mode of operation for PodTopologySpread that allows users to express the flexibility to fallback from DoNotSchedule to ScheduleAnyway after a specific condition is met (e.g., after a defined period of time).

### Why is this needed?

This is needed to force the cluster autoscaler to bring up new nodes in under scaled zones, but fallback to schedule anyway if

[2021-10-28 18:02] liggitt opened #105978 "[KEP-2400] Address swap impact on memory-backed volumes"
Some volumes (notably secret volumes) are memory-backed in order to ensure they do not hit disk.

When swap is enabled, we need to ensure the content of memory-backed volumes continue to not touch disk.

* On cgroupsv2, the kubelet should set cgroupv2 controls to prevent memory-backed volumes from swapping out
* On cgroupsv1, where these controls are not available
  * document (in PRR / KEP / docs

[2021-10-28 19:59] thedadams opened #105981 "v1.Time Stringer implementation does not protect against nil-pointer dereference"
### What happened?

The `v1.Time` struct implements the `Stringer` interface because the embedded type (`time.Time`) does. This is fine in production environments, even when the `*v1.Time` pointer is `nil` because of the [catchPanic](https://cs.opensource.google/go/go/+/refs/tags/go1.17.2:src/fmt/print.go;l=538-544) function in the Go standard library. This function will catch the nil-pointer dere

[2021-10-28 21:21] jsturtevant opened #105984 "Update RunPodSandbox api to indicate if failure to run sandbox is a terminial error"
### What happened?

We updated Windows CRI calls to pass the RunAsUserName which once implemented caused failures of the Podsandbox as expected but the pod stayed in `Pending` state even though this was terminal. See https://github.com/kubernetes/kubernetes/issues/104635 for more details.

It was [discussed at signode](https://github.com/kubernetes/kubernetes/issues/104635#issuecomment-910415666)

[2021-10-28 22:43] aojea opened #105986 "ExternalName Services should not autogenerate endpoints based on selectors"
Ref: https://github.com/kubernetes/kubernetes/issues/105733#issuecomment-946863322

To reproduce it, just apply the following manifest https://gist.github.com/aojea/a7744cd5d664e1516bf5d6b05f1787c8
to create a pod and a Service Type Externalname with a selector matching hte pod
[code]

[code]

[2021-10-28 23:04] robscott opened #105987 "EndpointSlice Mirroring Controller does not cleanup EndpointSlices when a Selector is added to a Service"
### What happened?

1. Service with Selector is created
2. Selector is removed
3. Both Endpoints and EndpointSlice controllers do not clean up Endpoint(Slice)s
4. EndpointSlice mirroring controller starts mirroring the Endpoints resource originally created by the Endpoints controller
5. Selector is added back to the Service
6. Pods backing Service change
7. EndpointSlice created by mirroring contr

[2021-10-29 00:26] thockin opened #105988 "short-circuit tests if the only thing that changed was a squash or commit message"
I feel bad wasting CI time just to fix commit messages.  Asking people to squash commits forces CI to run and the `lgtm` to be lost.

Idea!

Could we run something to prove that the code has not changed since "before" and save time?

For example:  `find . -not \( -type d -name .git -prune \) -type f | xargs cat | md5sum` takes < 3 seconds to run and can elide a whole CI run.  We just need to squir

[2021-10-29 08:18] zen-xu opened #106003 "RingGrowing readable will be negative, which leads `index out of range`"
### What happened?

When I restart my pod while the cluster in high load, the restarted pod will panic.

The stack trace told me the panic was caused by **index out of range** in `k8s.io/utils/buffer/ring_growing.go`

![未命名](https://user-images.githubusercontent.com/38552291/139398609-1fc3fc20-39f4-4776-9ada-ca8b1061ebfe.png)

Then I read the source code of `k8s.io/utils/buffer/ring_growing.go`, a

[2021-10-29 11:46] RinkiyaKeDad opened #106008 "[Failing test][sig-cloud-provider] gce-cos-master-serial"
### Which jobs are failing?

gce-cos-master-serial

### Which tests are failing?

- Kubernetes e2e suite.[sig-storage] [Serial] Volume metrics Ephemeral should create prometheus metrics for volume provisioning and attach/detachChanges
- Kubernetes e2e suite.[sig-storage] [Serial] Volume metrics Ephemeral should create prometheus metrics for volume provisioning errors [Slow]Changes
- Kubernetes e2e

[2021-10-29 11:59] benjamin-bergia opened #106009 "Expose the completions value to the indexed job containers"
### What would you like to be added?

Following my comment [here](https://github.com/kubernetes/kubernetes/issues/14188#issuecomment-952935754), I think it would be very useful to expose the value of `spec.completions` to the containers. The same way that it is currently done for the completion index.

### Why is this needed?

We have recently started to use the indexed jobs to process data on one

[2021-10-29 12:53] QWERTY92009 opened #106011 "NodePort service fails to function for ingress when targeted by a neto"
### What happened?
/sig network

- Bitnami rabbitmq pod deployed, exposed externally as a NodePort service 'ramq'.

- Set of network policies controlling flows between pods within namespace using podSelectors, forbidding all flows to / from other namespaces except kube-system, and controlling all flows external to the cluster using ipBlocks.

- The network policy targeting the rabbitmq pod allows

[2021-10-29 16:55] manugupt1 opened #106012 "Integ tests pass but still shows up as failure"
### Which jobs are flaking?

I have had 2 times when integ tests fails on my PR; but they succeed on the jenkins link.

https://github.com/kubernetes/kubernetes/pull/105833#issuecomment-954451199

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/105833/pull-kubernetes-integration/1453952457943027712

### Which tests are flaking?

integ-tests

### Since when has it been flaking?

28 Oct

[2021-10-29 18:06] thockin commented on #105988
running CI at merge time seems appropriate and correct, but if I pass all CI, then fix a commit message, and we can prove that code didn't change, I don't see why we would need to run tests again until it gets to the merge queue?

[2021-10-29 18:07] thockin commented on #105988
LOL at me filing a new bug that is the same as a bug I filed almost 4 years ago.

[2021-10-29 18:09] mtaufen commented on #105942
To summarize, the overall issue here is that we can get the discovery doc, but the JWKS URI in the discovery doc reports an IP that doesn't actually work. We think it's because `--advertise-address` isn't set to the external IP of the control plane VM.

[2021-10-29 18:10] mtaufen commented on #105942
@justinsb recommended @cheftako since this seems to be a problem with the test setup

/assign @cheftako

[2021-10-29 18:15] justinsb commented on #105942
Also cc @jiahuif

[2021-10-29 18:25] oomichi commented on #105837
@divyenpatel helped me to understand current situation about this issue. Thank you @divyenpatel  !

The summary is
- The `in-tree vSphere volume plugin` is implemented under pkg/volume/vsphere_volume/ in k8s/kubernetes repo and it supports vSphere v6.5.
- The `external vsphere CSI driver` is implemented as https://github.com/kubernetes-sigs/vsphere-csi-driver and it doesn't support vSphere v6.5.
-

[2021-10-29 18:40] BenTheElder commented on #105988
Agreed, I think the `store_tree_hash` LGTM functionality could be extended to cover this case, but I'm not sure how much refactoring it would take. cc @alvaroaleman @cjwagner @chaodaiG @matthyx, thoughts? Or perhaps we shoudl follow up on https://github.com/kubernetes/test-infra/issues/19147

[2021-10-29 18:50] BenTheElder commented on #105953
Normally this image is invoked with some parameters specified (e.g. it will need cluster access ...), is there a use case for running it like this?

I'm curious what changed, I don't recall any related changes in 1.22

cc @johnSchnake

[2021-10-29 18:52] #90770 closed

[2021-10-29 19:07] cjwagner commented on #105988
It's unclear to me what additional functionality is required. Isn't the existing behavior sufficient, it just needs to be enabled?

[2021-10-29 19:13] #105900 closed

[2021-10-29 19:14] matthyx commented on #105988
I think it was never enabled on k/k...

[2021-10-29 19:14] alvaroaleman commented on #105988
The current behavior would retain lgtm but not testresults. Uhm, I suppose we would need to somehow maintain a mapping and make (at minimum) `trigger` not create new jobs if the same tree hash was already tested and tide consider a test for a different sha with the same treehash as valid results? It is likely a solveable problem but not a trivial one and will need a design.

[2021-10-29 19:15] alvaroaleman commented on #105988
Also I might be wrong but I seem to remember there was _some_ technical reason why the store_tree_hash was not enabled globally. I can't remember what that reason was though,

[2021-10-29 19:18] matthyx commented on #105988
On the other end we need to separate the ci run on the current branch from the other one on the resulting merge, which cannot be cached.

[2021-10-29 19:20] matthyx commented on #105988
Fear?

[2021-10-29 19:37] rezakrimi commented on #105861
The PR for this is ready to be reviewed: #105941

[2021-10-29 20:04] jglick commented on #93900
Related: https://github.com/kubernetes/kubernetes/issues/48180

[2021-10-29 20:20] rezakrimi commented on #105862
@dgrisonnet since all the three metrics that are created with this function are graduating to stable, do you think I should still pass the `StabilityLevel` to the method or should I just set the metrics created by this functions as stable by default?

[2021-10-29 20:39] M00nF1sh commented on #61486
Hello folks, we'll be updating our managed kube-proxy addon to include the patch. the default kube-proxy addon patch will came after that.

[2021-10-29 21:00] dannyman commented on #95038
I found this thread because I have a Kubernetes controller running some containers as UID 65535. This turns up in an audit for processes running with sketchy UIDs. Please don't ship software that runs processes on UIDs that are not defined users.

[2021-10-29 22:56] lukeschlather commented on #42594
What is actually going on under the covers? It appears that the command immediately prints "<object> deleted" and then hangs, but actually it is waiting. It seems like the messaging is incorrect. It should say "deleting" and if --wait is the default it should only print "deleted" when the object is actually deleted.

The way it works right now it seems like kubectl deletes things and then hangs fo

[2021-10-29 22:57] lukeschlather commented on #42594
I don't know if it could be more clear that it's async by saying "queued for deletion" or "scheduled for deletion." followed by saying "waiting for controller to report deletion" or something and finally "controller reports resource is deleted."

[2021-10-29 22:58] lukeschlather commented on #42594
I do think this is good default behavior it just needs better messaging.

[2021-10-29 23:53] #101584 closed

[2021-10-29 23:53] #102308 closed

[2021-10-30 00:00] GaneshVKadam commented on #96200
Hello Dough,

We are facing the attached issue with multus network attachments , none of the multus PODS are comming up.
Below is the error from teh POD:

Warning  FailedCreatePodSandBox  14m (x11860 over 27h)  kubelet  (combined from similar events): Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "4e5a8ac872e8f5ff13ef33ab71d4250959a3e8f4fb2e70c72

[2021-10-30 02:04] #105220 closed

[2021-10-30 05:59] #104175 closed

[2021-10-30 07:10] matthyx commented on #105988
Who's taking the point? I'll go on PTO from next Wednesday until the 17th of November, but if it can wait I'll have a look.

[2021-10-30 07:50] fvasco commented on #86812
We were affected by a severe cluster downtime probably caused by this issue during a kOps upgrade: CNI drivers weren't unable to start properly, nodes (masters/workers) can't become ready.
We are discussing here: https://github.com/kubernetes/kops/issues/12627
Please consider this issue appropriately.

[2021-10-30 09:13] aojea commented on #86812
/cc

[2021-10-30 10:00] #99303 closed

[2021-10-30 11:20] aojea commented on #105657
/triage accepted
I can reproduce it, there is definitively something odd here

[2021-10-30 12:38] zen-xu commented on #106003
No

[2021-10-30 14:35] MrSsunlight opened #106023 "release-1.19 make error"
### What happened?

[code]

### What did you expect to happen?

build is ok

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

`go version go1.16.3 darwin/amd64`

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>

</details>

### OS version

<details>

# On Linux:
$ uname -a
`Darwin bogon 21.1.0 Dar

[2021-10-30 16:59] aojea commented on #104861
/close
Thanks to @saschagrunert
https://github.com/cri-o/cri-o/pull/5380
and @zouyee
https://github.com/containerd/containerd/pull/6136

[2021-10-30 16:59] #104861 closed

[2021-10-30 17:18] aojea commented on #105657
great catch, this is something worse than the udp conntrack problem

[2021-10-30 22:15] jabdoa2 opened #106024 "Better availability of deployments with replicas equal 1"
### What would you like to be added?

#### Idea ####

I would like to keep pods inside the list of endpoints of my service while they terminate and are still ready. This can be used  with a `preStop` hook on the pod to keep a service available with `replicas: 1` on deployments during planned disruptions. As a result services will not be unavailable during planned disruptions (such as actions by th

[2021-10-30 22:19] jabdoa2 commented on #106024
/sig networking

[2021-10-30 22:19] jabdoa2 commented on #106024
/sig network

[2021-10-31 01:14] gjkim42 commented on #105838
My bad, I thought you used GKE. So how did you bootstrap the cluster? (kubeadm, kubespray, or kind?)

It would be helpful if you can share things I asked earlier.
We need the resources created by kubernetes, rather than the specs you use to create them.

[2021-10-31 05:04] #102384 closed

[2021-10-31 07:20] Zheaoli commented on #105868
Maybe we need add a validation in APISever to forbid people create multi pvs with same UniqueVolumeName

[2021-10-31 07:24] Zheaoli commented on #105868
/assign

[2021-10-31 07:42] Zheaoli commented on #106003
Maybe we need a lock-free thread-safe ringbuffer

[2021-10-31 08:07] #102551 closed

[2021-10-31 09:40] NikhilSharmaWe commented on #105927
@wojtek-t Just want to ask that am I thinking reasonable here to solve this issue.
1. logexporterGCSPath argument should be added to kubermarkDown function.
2. logexporterGCSPath should also be added in exec.command
3. log.Printf("Dumping logs for kubemark master: %s", logexporterGCSPath) should be added at place of log.Printf statement in the function.
Don't know what to do with cmd.Env.

[2021-10-31 11:29] yjjy0921 commented on #105953
1.21 or earlier versions, Conformance test use the `cluster/images/conformance/run_e2e.sh` as the entrypoint, but now 1.22 change to the gorunner(first used as default entrypoint).

The parameter RESULTS_DIR has default value, we used to leave is as default value, and it works with 1.21 or earlier versions.

[2021-10-31 12:45] Ferenc- commented on #89899
/remove-lifecycle stale

[2021-10-31 14:23] AbdElRhman2111 opened #106028 "Kubernetes worker not ready without rebooting and another worker his not ready"
### What happened?

master@master:~$ kubectl get node
NAME      STATUS     ROLES                  AGE    VERSION
master    Ready      control-plane,master   143m   v1.22.3
worker    NotReady   <none>                 142m   v1.22.3
worker2   NotReady   <none>                 142m   v1.22.3

i will run command on notready worker
journalctl -u kubelet

أoctober 31 15:48:10 worker kubelet[86732]: E103

[2021-10-31 14:42] aojea commented on #106028
there is a connectivity problem

[2021-10-31 15:08] #102385 closed

[2021-10-31 15:50] benpbrown commented on #40651
/remove-lifecycle stale

[2021-10-31 16:12] rtheis commented on #83332
/remove-lifecycle rotten

[2021-10-31 17:47] neolit123 commented on #106028
please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support

[2021-10-31 17:47] neolit123 commented on #106028
/close

[2021-10-31 17:47] #106028 closed

[2021-10-31 17:48] neolit123 commented on #106023
/sig release
/kind support

important to note that 1.19 is going out of support soon.

[2021-10-31 21:08] #101564 closed

[2021-10-31 21:08] #102564 closed

[2021-10-31 21:23] chirangaalwis commented on #79365
Hi folks,
Encountered the same issue when attempting HPA based on CPU utilisation. Fixed the issue by setting CPU resource request at the Deployment level.

[2021-10-31 21:36] aojea commented on #106024
I think that this is similar  https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1672-tracking-terminating-endpoints

[2021-10-31 21:37] rajula96reddy opened #106031 "[Flaky Test] gce-ubuntu-master-containerd"
### Which jobs are flaking?

- gce-ubuntu-master-containerd

### Which tests are flaking?

- ci-kubernetes-e2e-ubuntu-gce-containerd
- kubetest.Test

Flaking tests are different each time

### Since when has it been flaking?

Atleast since 23/10/2021

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd

### Reason for failure (if possible)

_No respo

[2021-10-31 21:38] rajula96reddy commented on #106031
/sig cloud-provider

[2021-10-31 21:55] jabdoa2 commented on #106024
That enhancement would definitely make this feature possible as well. It basically add a layer of abstraction inbetween and would allow implementing this in kube-proxy (or similar) instead.

Any chance that I could create PR for this simple feature for the meantime?

[2021-10-31 22:06] aojea commented on #106024
this was already implemented https://github.com/kubernetes/kubernetes/pull/96371

[2021-10-31 22:28] jabdoa2 commented on #106024
Not sure how that helps with my issue. As far as I can see I currently either set `PublishNotReadyAddresses` on my service but that will cause issues (i.e. connection reset) during start-up of pods or when they are unready. It will already include terminating pods in an endpoint which is what I want. Kind of unexpected from the name but that is what is also does. However, I only want terminating p

[2021-10-31 23:20] aojea commented on #106024
I'm rereading it now and I may did not understand it well,
can you be more descriptive on the exactly states of the pods?

[2021-10-31 23:42] jabdoa2 commented on #106024
My pods are in state "terminating" but the containers are still running due to `preStop` hooks. So the app is still functioning (on purpose). I want it to keep serving traffic until the new pod is up and service traffic. Similar to the behavior during a `kubectl rollout restart deployment xxx`.

Scenario:
1. Deployment "my_service" with `replicas 1`
2. Pod X is scheduled on `node A`
3. Autoscaler

[2021-11-01 00:41] shuheiktgw commented on #105616
@msau42 I'm trying to write unit tests for `OperationCompleteHook` but then I realized it is really hard since the value `timeTaken` is indeterministic. Are there any good ways to test it in this case?

[2021-11-01 02:41] heyste opened #106032 "Delete Service Collection Test - +1"
# Progress <code>[2/6]</code>

-   [X] APISnoop org-flow: [deleteCoreV1CollectionNamespacedService.org](https://github.com/apisnoop/ticket-writing/blob/master/deleteCoreV1CollectionNamespacedService.org)
-   [X] Test approval issue: [#106032](https://issues.k8s.io/106032)
-   [X] Test PR: [106034](https://pr.k8s.io/106034)
-   [ ] Two weeks soak start date: [Nov 4](https://testgrid.k8s.io/sig-rele

[2021-11-01 02:47] john1337 opened #106033 "kubernetes cluster failed to start after reboot the computer"
### What happened?

kubernetes cluster failed to start after reboot the computer

### What did you expect to happen?

in my opinion,it's very common to restart docker or reboot the computer,such as power down,but in my circumstance,the whole k8s cluster failed to start

### How can we reproduce it (as minimally and precisely as possible)?

run systemctl restart docker or reboot in ubuntu

### Anyt

[2021-11-01 03:24] winstonww commented on #105937
@freehan  Thanks a lot for the suggestion. Creating the Ingress on a different cluster works.

We wonder if it's possible to solve this without using a second cluster? Would changing kube-proxy mode to say `ipvs` work?

Thanks a lot in advance.

[2021-11-01 03:33] ehashman commented on #105686
/reopen

still a number of flakes since the attached PR merged, I don't think that fixed it.

[2021-11-01 04:26] cheftako commented on #101526
Nick?

[2021-11-01 04:26] cheftako commented on #102707
Nick?

[2021-11-01 04:38] wzshiming opened #106035 "Add the alias of .dockerconfigjson"
### What would you like to be added?

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#inspecting-the-secret-regcred
The Secret specified by pod.spec.imagePullSecrets is .dockerconfigjson, can we add a new field to define it.

### Why is this needed?

We are already using Containerd, here it is still Docker that doesn’t feel suitable.
As a step to remove docker

[2021-11-01 04:39] cheftako commented on #99328
Nick?

[2021-11-01 04:43] wzshiming commented on #106035
/cc @dims @liggitt

[2021-11-01 04:44] cheftako commented on #102231
The lease/leader election use of os.Exit is deliberate and has been baked into several controllers. We can't remove it till we have an alternate way to ensure we don't have competing controllers.

[2021-11-01 04:47] wzshiming commented on #106035
Although this involves API changes, it is very small. Is it necessary to write KEP?

[2021-11-01 04:48] wzshiming commented on #106035
/sig auth
/sig node

[2021-11-01 04:50] zerkms opened #106037 "Images still in use are GCed"
### What happened?

As you may see - for whatever reason kubelet decided to cleanup `pause:3.5` even though it's a sandbox image

[code]

### What did you expect to happen?

It should be kept

### How can we reproduce it (as minimally and precisely as possible)?

Fill the disk to reach threshold and read the GC logs

### Anything else we need to know?

_No response_

### Kubernetes version

<detai

[2021-11-01 04:51] zerkms commented on #106037
/sig node

[2021-11-01 06:03] Kartik494 commented on #105602
cc @xing-yang

[2021-11-01 06:09] MrSsunlight commented on #106023
But 1.19 is also a relatively new version, and now I don’t know what caused it to be unable to compile? I want to find a fixed version for learning. Is there a more suitable historical version recommended? @neolit123

[2021-11-01 07:32] almson commented on #28695
It mostly works for me (other than #105554), but:

 - name should be auto-generated to prevent conflicts
 - text like `pod "test" deleted` should be sent to `stderr` because that's where logging messages should go. [^1]
 - the trio of `--stdin` `--tty` and `--attach` is confusing. Seems that one of those flags should die, or else the man pages should explain how they can be used in different combi

[2021-11-01 08:20] kuba001 opened #106039 "kube-apiserver 1.21+ binary install deploy calico-etc.yaml error"
### What happened?

[ https://docs.projectcalico.org/manifests/calico-etcd.yaml](url)
2021-11-01 07:43:26.939 [INFO][1] main.go 94: Loaded configuration from environment config=&config.Config{LogLevel:"info", WorkloadEndpointWorkers:1, ProfileWorkers:1, PolicyWorkers:1, NodeWorkers:1, Kubeconfig:"", DatastoreType:"etcdv3"}
I1101 07:43:26.940137       1 client.go:360] parsed scheme: "endpoint"
I110

[2021-11-01 08:28] kuba001 commented on #106039
below configure kube-apiserver

KUBE_APISERVER_OPTS="--logtostderr=false \
--v=2 \
--log-dir=/k8s/master/logs \
--etcd-servers=https://10.50.3.20:2379,https://10.50.3.21:2379,https://10.50.3.22:2379 \
--bind-address=10.50.3.20 \
--secure-port=6443 \
--advertise-address=10.50.3.20 \
--insecure-port=0   \
--runtime-config=api/all=true \
--anonymous-auth=false   \
--enable-swagger-ui=true \
--allow-p

[2021-11-01 08:36] B8kingS0ga commented on #71661
for version 1.11.3, if I didn't use that flag, it will have some default value when running? I didn't find any clue about that default hard eviction default value

[2021-11-01 08:41] AbdElRhman2111 opened #106040 "kubernetes PersistentVolumeClaim status pending"
### What happened?

kubernetes PersistentVolumeClaim status pending i do config yaml for storageclass frist

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: claim1
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: fast
  resources:
    requests:
      storage: 30Gi

------------------------
and create  PersistentVolumeClaim yaml after storageclass

apiVersion: storage.k8s.i

[2021-11-01 09:09] xmudrii commented on #97294
/remove-lifecycle rotten

[2021-11-01 09:45] zhubuntu commented on #105868
@Zheaoli if people need to use same UniqueVolume in multi namespace, i think multi pvs are needed.  As pvc is a resource with namespace, and one pv can only bind to one pvc.

[2021-11-01 09:53] MrSsunlight commented on #106023
I use `go get -u k8s.io/code-generator/...` , `go mod tidy` and `go mod vendor` to get the corresponding package, but the result of make remains unchanged.

[code]

[2021-11-01 10:04] junly917 opened #106044 "Ipvsdm failed to be created when endPoints were used to create a single host with multiple ports"
### What happened?

The service and endPoints  is displayed normally
[code]

Ipvsadm is displayed abnormally
[code]

My yaml configuration file is
[code]

### What did you expect to happen?

Normally, this should be displayed
[code]

but now it just shows that the port has no back-end server
[code]

### How can we reproduce it (as minimally and precisely as possible)?

This problem can be repeated

[2021-11-01 10:16] #102075 closed

[2021-11-01 10:47] painhardcore commented on #91552
@fedebongio @caesarxuchao

[2021-11-01 11:14] NilimaC04 commented on #102607
Hi 👋 I'm the bug triage shadow. I wanted to nudge the conversation in the context of 1.23 release. Code Freeze will start in the next 2 weeks. Do we need to follow this up in 1.23?

[2021-11-01 11:22] NilimaC04 commented on #105189
Hello there, Bug-Triage Shadow here 👋 #2897 has been merged. If the issue has been resolved completely. Please close the issue.

[2021-11-01 12:08] cyclinder commented on #106044
can you describe the svc ?

[2021-11-01 12:14] liggitt commented on #106035
/remove-sig auth

I'll defer to sig-node on whether the feature is desired. Since it involves user-facing API changes, yes, a KEP is needed.

[2021-11-01 12:56] yanxingponyai opened #106046 "Under what circumstances will scheduler delete pods"
### What happened?

The pod of a deployment suddenly deleted and restarted.

### What did you expect to happen?

The pods keeps running

### How can we reproduce it (as minimally and precisely as possible)?

I can not reproduce it
I see the audit log from apiserver, I think the pods was deleted by kube-scheduler
[code]

### Anything else we need to know?

_No response_

### Kubernetes version

<de

[2021-11-01 12:57] yanxingponyai commented on #106046
/sig scheduling

[2021-11-01 13:34] dims commented on #106035
+1 to do this with a KEP. thanks @wzshiming

[2021-11-01 13:48] neolit123 commented on #106023
Building older versions should be fine so not sure what the problem is.

[2021-11-01 13:57] yxxhero commented on #106037
@zerkms any pods use the `pause:3.5` image? Thanks very much.

[2021-11-01 14:03] kerthcet commented on #106046
pod restart may caused by many reasons,  e.g. OOM, liveness failed and so on, you should provide more details for investigating. What's more, it seems more like a support rather than a bug, and [slack](https://kubernetes.slack.com/archives/C09TP78DV) maybe a better place to discuss with.

/remove kind-bug
/kind support

[2021-11-01 14:05] kerthcet commented on #106046
/remove-kind bug

[2021-11-01 14:27] yxxhero opened #106047 "Export relistThreshold as a field of KubeletConfiguration named PLEGRelistThreshold to make it configurable"
### What would you like to be added?

export relistThreshold as a field of KubeletConfiguration named PLEGRelistThreshold to make it configurable.

The relistthreshold needs to be greater than the relisting period + the relisting time, which can vary significantly. Set a conservative threshold to avoid flipping between healthy and unhealthy.

default value: 3 * time.Minute

### Why is this needed?

[2021-11-01 14:27] yxxhero commented on #106047
/sig node

[2021-11-01 14:46] rockwyc992 commented on #97230
@oded-dd Have you try the workaround above?

[2021-11-01 14:50] rockwyc992 commented on #97230
@oded-dd Please make sure the length of `Volume Name (for CSI)` is more than 68 byte.

Here is part of my CRD CSIUnity, see the `--volume-name-prefix` argument as below:

[code]

[2021-11-01 15:07] howardjohn commented on #93476
/remove-lifecycle rotten

[2021-11-01 15:16] #99846 closed

[2021-11-01 15:17] yxxhero commented on #106037
/assign

[2021-11-01 15:17] yxxhero commented on #106047
/assign

[2021-11-01 15:21] serathius commented on #99265
@pohly updated issue description to move only non-deprecated flags.

/unassign
/assign @pohly

[2021-11-01 16:11] serathius commented on #102237
Idea, we could utilize existing example to verify do test logging library and confirm that documentation works is correct https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-base/logs/example

[2021-11-01 16:14] serathius commented on #102237
@sladyn98 you haven't made any updates for over 5 months, please let me know if you are still planning to work on it.

/unassign

[2021-11-01 16:14] serathius commented on #102237
/unassign @sladyn98

[2021-11-01 16:25] howardjohn opened #106049 "Deleting SA breaks project SA token"
### What happened?

1. Create a pod with a project SA token:
[code]
2. Send a TokenReview:

[code]

Result is a success.

3. Delete the SA for the pod
4. Wait for the token to refresh, run `review-token` again:

`[invalid bearer token, ServiceAccount UID (795fd62d-5f1f-44c8-89f0-3fae5e2af501) does not match claim (deb3ec38-9d9f-4868-abbb-948436f6d38c)]`

Note: `795fd62d-5f1f-44c8-89f0-3fae5e2af501

[2021-11-01 16:28] encodeflush commented on #105242
At the moment the test is failing with the following error:
[code]
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1455118170657394688

[2021-11-01 16:31] howardjohn commented on #106049
/sig auth

[2021-11-01 16:45] serathius opened #106050 "Remove usage of deprecated klog flags from Kubernetes Org repos"
Klog specific flags are deprecated as part of https://github.com/kubernetes/enhancements/issues/2845

All references to deprecated flags in k8s codebase should be removed or migrated to go-runner. This issue will track the work related on it.

What needs to be done:
* Check all occurrences of deprecated flag names and verify if they are affected
  * Affected cases are those where this flag is pass

[2021-11-01 16:46] serathius commented on #106050
/wg structured-logging

[2021-11-01 16:46] serathius commented on #106050
/triage accepted

[2021-11-01 17:01] alculquicondor commented on #105287
/assign @ahmad-diaa

[2021-11-01 17:01] stephen-dexda commented on #82525
/remove-lifecycle stale

[2021-11-01 17:02] stephen-dexda commented on #80435
/remove-lifecycle stale

[2021-11-01 17:24] aojea commented on #106008
seems a dup of https://github.com/kubernetes/kubernetes/pull/105970
cc @pohly

[2021-11-01 17:27] Huang-Wei commented on #73698
@rtheis Hmm... it's a bit hard for me to verify whether the fix works or not. My idea was to reproduce this issue locally, on my dev env, but I ran the repro script for almost ~6 hours, but still cannot reproduce. Not sure you have an env that can reproduce this problem stably. If so, how about I hand you a patch to verify it on your end?

[2021-11-01 17:45] neolit123 commented on #106044
/sig network

[2021-11-01 17:46] neolit123 commented on #106044
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3",

<1.19 is no longer in support and 1.19 is going out of support soon.
is this reproducible with newer versions?

[2021-11-01 17:47] neolit123 commented on #106040
/sig storage

[2021-11-01 17:48] neolit123 commented on #106039
please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

might be worth contacting Calico about this.

/kind support
/close

[2021-11-01 17:48] #106039 closed

[2021-11-01 17:50] neolit123 commented on #106033
please try the support channels first until a bug is confirmed:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

also this issue is missing sufficient details like component logs.

/kind support
/close

[2021-11-01 17:50] #106033 closed

[2021-11-01 17:52] neolit123 commented on #106003
tagging with api-machinery since this is used in client-go:
https://github.com/kubernetes/kubernetes/search?q=RingGrowing

/sig api-machinery

[2021-11-01 17:54] neolit123 commented on #106009
/sig apps
as per the original linked issue?

[2021-11-01 18:01] neolit123 commented on #105644
commented on the PR
/close

[2021-11-01 18:02] #105644 closed

[2021-11-01 18:23] wking opened #106054 "ProgressDeadlineExceeded not set outside of Deployment rollouts"
I'd floated #93933 earlier with a PR attempting to address this, and more recently opened [rhbz#1983823][1].  Here's a third try at pitching this proposal 🤞.

/sig apps

#### Proposal

When a Deployment has a single underlying ReplicaSet that had previously completed, but which now lacks the target count of ready replicas, and the underling ReplicaSet fails to make progress for more than `progress

[2021-11-01 19:22] muff1nman commented on #100683
/remove-lifecycle rotten

[2021-11-01 19:25] zorro786 commented on #105838
`kubectl describe node`
[code]

`kubectl describe pod` from replaced pod
[code]

`kubelet log`

[code]

`controller-manager`

[code]

[2021-11-01 19:26] zorro786 commented on #105838
`kubectl describe deployments hello-world`

[code]

[2021-11-01 19:53] serathius commented on #106050
/cc @pohly

[2021-11-01 20:00] zerkms commented on #106037
@yxxhero all of them, it's a sandbox image.

[2021-11-01 20:03] rtheis commented on #73698
@Huang-Wei I don't have an environment that will reliably reproduce the problem in a short amount of time.

[2021-11-01 20:10] serathius commented on #106050
@pohly One problem with proposing deprecating klog flags in component-base is that there are multiple components that don't use go-runner. Kubernetes core components already have go-runner available and are using them default manifests. For components like cluster-autoscaler and kube-proxy we might need to do additional work.

[2021-11-01 20:17] #103923 closed

[2021-11-01 20:18] dbason opened #106055 "StatefulSetStatus CurrentRevision doesn't update with OnDelete update strategy"
### What happened?

This is the same as https://github.com/kubernetes/kubernetes/issues/73492

When using the OnDelete update strategy, after all the pods from the old revision are deleted the CurrentRevision doesn't get updated in the Status

### What did you expect to happen?

Once the old revision pods have all been deleted the CurrentRevision should be updated.

### How can we reproduce it (as

[2021-11-01 20:18] #102605 closed

[2021-11-01 20:19] dbason commented on #106055
/sig apps

[2021-11-01 20:21] rkennedy-tpl commented on #91847
I think I've landed here while doing a number of "SRE experiments" on a cluster and using the [`pv-migrate`](https://github.com/utkuozdemir/pv-migrate) tool.

Everything works perfectly if I set PVCs, let the `aws-ebs-csi-controller` create PVs and EBS Volumes for me.

I'm worried about a human accidentally deleting or un-defining a PVC or PV object and how to recover from that. The `StorageClass`

[2021-11-01 20:40] raesene opened #106056 "Overwriting a core type with a CRD causes inconsistent `kubectl explain` and create/client-side validation behaviour"
### What happened?

Creating a CRD with a name of `networkpolicies.networking.k8s.io` and `scope: Cluster` appears to replace the in-built networkpolicy type client-side, causing inconsistent behaviour between client and server.

If we have a CRD with the following definition :-

[code]

And apply that to a Kubernetes cluster. Then run `kubectl explain networkpolicies.networking.k8s.io.spec` the f

[2021-11-01 20:42] liggitt commented on #106049
I couldn't tell... is this step trying to check validity of the original token minted for the original serviceaccount?

Deleting a serviceaccount object invalidates all tokens minted for the old serviceaccount ... that is true both for legacy secret-based tokens and for new projected tokens

[2021-11-01 20:43] liggitt commented on #106056
to be clear, what is actually being created is the following (which is accepted by the built-in network policy API):

[code]

[2021-11-01 20:45] liggitt commented on #106056
/sig api-machinery

[2021-11-01 20:47] liggitt commented on #106056
ideally, when aggregating schemas from built-in and CRD-based APIs, we could avoid adding CRD-based schemas that define group/version/kinds already defined by built-in types.

if we can't prevent that, we should at least order/prioritize the definitions so that `kubectl explain` and kubectl client-side validation prefer the built-in schemas

[2021-11-01 21:03] howardjohn commented on #106049
No, I would expect the old one is invalid. After the token is refresh, the new one is also invalid.

[2021-11-01 21:10] liggitt commented on #106049
how long are you waiting for the token to refresh?

[2021-11-01 21:14] rsalmond opened #106057 "x-kubernetes-embedded-resource fields not being validated as documented"
### What happened?

Created the following CRD:

[code]

Then created the following instance:

[code]

### What did you expect to happen?

Given [this explanation in the docs](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/): "With x-kubernetes-embedded-resource: true, the apiVersion, kind and metadata are implicitly specified and validated." I expec

[2021-11-01 21:16] liggitt commented on #106049
This is where the kubelet requests projected tokens:

https://github.com/kubernetes/kubernetes/blob/ac2d872ed934f9fccb9f83499e652dc04d7802c9/pkg/volume/projected/projected.go#L336-L347

The serviceaccount uid is not part of the kubelet request, it's added by the API server based on a live get when minting the new token:

https://github.com/kubernetes/kubernetes/blob/ac2d872ed934f9fccb9f83499e652dc

[2021-11-01 21:18] howardjohn commented on #106049
Looking more into it I think I got confused and it was *not* actually refreshed. I am trying again and will report back after the token expires. Sorry for the confusion.

In that case its certainly much trickier and arguably not even a bug - but a easy way to shoot yourself in the foot since pods do not recover for a while (12h in our case). A user reported this happened cluster wide so I think so

[2021-11-01 21:29] howardjohn commented on #106049
Ok, I confirmed it recovered after the token expired + was rotated

[2021-11-01 21:36] liggitt commented on #106049
Yeah... I don't see the kubelet actively checking not-yet-expired tokens for exceptional invalidation via SA deletion or key rotation... the cost of that would be pretty high in steady state

[2021-11-01 22:19] zorro786 commented on #105838
You are right, thanks for catching. I only checked `kubelet` and `controller manager` configs for any misconfiguration.

[2021-11-01 22:19] #105838 closed

[2021-11-01 22:23] spiffxp commented on #99517
Are we planning on landing this prior to code freeze or should we kick out of milestone?

[2021-11-01 22:45] shuaich opened #106060 "Metrics-server CrashLoopBackOff: unable to load configmap based request-header-client-ca-file"
### What happened?

#### Bug Description
Metrics-server get **timed out** when querying request-header-client-ca-file from API server during start up.

Metrics-server error log:
[code]

API server error log: (**unrelevant**)

~~I1101 06:21:35.267882       9 authorization.go:73] "Forbidden" URI="/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication" Reason=""
...
I1101 06:21:

[2021-11-01 22:50] shuaich commented on #106060
/sig sig-instrumentation

[2021-11-01 22:51] shuaich commented on #106060
/sig instrumentation

[2021-11-01 23:01] sanposhiho commented on #105291
created:
- Issue: https://github.com/kubernetes/enhancements/issues/3022
- KEP PR: https://github.com/kubernetes/enhancements/pull/3030

[2021-11-01 23:23] 2rs2ts commented on #100343
/remove-lifecycle stale

[2021-11-01 23:24] 2rs2ts commented on #83332
/remove-lifecycle stale

[2021-11-01 23:35] yxxhero commented on #106037
@zerkms Garbage collection will delete unused image. When some image used by container. It can't delete unless forced deletion.

[2021-11-01 23:49] zerkms commented on #106037
@yxxhero that's the very reason I reported it: kubelet does not detect the sandbox image correctly, so thinks it's not used anywhere.

[2021-11-01 23:49] wking commented on #106054
Working through [Code Search results][1], looking for `DeploymentProgressing` (will miss some users, e.g. folks who are doing things like `oc wait --for=condition=Progressing=False deployment/router-default`, because it will not follow the Go -> CLI transition):

* Istio has a rollout-centric [`verifyDeploymentStatus`][2], called only from [`verifyPostInstall`][3], but I'm not clear on the broader

[2021-11-01 23:54] yxxhero commented on #106037
@zerkms yes. I think because I use dockershim. I test in containerd without docker. It can delete image in use.

[2021-11-02 00:11] negz commented on #105932
Our initial tests show that https://github.com/kubernetes/kube-openapi/pull/251 is likely to fix this issue. See https://github.com/crossplane/crossplane/issues/2649#issuecomment-956914007 for details.

[2021-11-02 00:32] 249043822 commented on #105686
@ehashman https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial&include-filter-by-regex=Kubelet%20should%20correctly%20account%20for%20terminated%20pods%20after%20restart
from this link, I see all suites passed, which flakes do you mean?

[2021-11-02 01:12] #103207 closed

[2021-11-02 01:16] msau42 commented on #105616
Maybe the unit test can just check for a positive value. I think what's most important from the unit tests is that we make sure all the proper labels are set.

cc @gnufied for thoughts

[2021-11-02 02:27] chenk008 opened #106070 "Inconsistent validation between labels.Selector and ListOptions.LabelSelector"
### What happened?

Currently there is a validation in `labels.Selector`: label value must be no more than 63 characters. But in `ListOptions.LabelSelector`, the validation does not exist.

Related issue: https://github.com/kubernetes/kubernetes/issues/75380

### What did you expect to happen?

between labels.Selector and  ListOptions.LabelSelector has the same validation for label value.

### How

[2021-11-02 02:30] wking commented on #106054
Ok, so [`Progressing=True` with `NewReplicaSetAvailable` is the documented happy state][1] and I'm just slow:

That's not what I'd expected, and it seems to be overloading "available" a bit, but I can wrap my head around it as "we have [exactly the available, updated pods we want][1]".  So with a history like:

1. Deployment is happy with `spec` A.
2. Owner patches the Deployment to `spec` B.
3. D

[2021-11-02 03:09] akshatki commented on #105881
Hi @wzshiming,

Thanks for writing back. I see that you have tested Graceful Node Shutdown with Kubernetes v1.22 and there seem to be no issues. I would like to highlight a couple of points:

1. As I have specified in my original comment on the issue, I am working with Kubernetes v1.21 which is the latest version available with Amazon EKS.
2. If you go through my comments above, I have mentioned t

[2021-11-02 03:40] ZackHollander commented on #102912
I have the same issue. `GO111MODULE=""
GOARCH="amd64"
GOBIN="/zacharyhollander/go/bin"
GOCACHE="/Users/zacharyhollander/Library/Caches/go-build"
GOENV="/Users/zacharyhollander/Library/Application Support/go/env"
GOEXE=""
GOEXPERIMENT=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOINSECURE=""
GOMODCACHE="/Users/zacharyhollander/go/pkg/mod"
GONOPROXY=""
GONOSUMDB=""
GOOS="darwin"
GOPATH="/User

[2021-11-02 05:14] yxxhero commented on #106037
@zerkms https://github.com/containerd/containerd/issues/6160

[2021-11-02 05:22] zerkms commented on #106037
@yxxhero not sure how it's relevant: it's kubelet's logic that is flawed. `kubelet` must not delete the sandbox image, it's already implemented at

https://github.com/kubernetes/kubernetes/blob/6ebd6f38b9804aa9eb58c5f742a56fa1f9e6ab85/pkg/kubelet/images/image_gc_manager.go#L212-L216

the problem is that it incorrectly detects the sandbox image name.

[2021-11-02 05:24] yxxhero commented on #106047
/cc  @ehashman

[2021-11-02 05:26] yxxhero commented on #106037
@zerkms I think is a bug.

[2021-11-02 05:59] MadhavJivrajani commented on #106070
/sig api-machinery

[2021-11-02 06:33] pohly commented on #106050
From the description:

This "using component-base" needs to be removed. We are deprecating klog in *all* of Kubernetes, not just in some binaries.

[2021-11-02 07:07] pohly commented on #103430
/remove-lifecycle stale

[2021-11-02 07:16] antzjm commented on #103755
@ragunathan23 Can you specify what is the misconfiguration of systemd service?

[2021-11-02 07:30] chenk008 commented on #106070
Sorry for my mistake, some code branch not synced with upstream.

[2021-11-02 07:30] #106070 closed

[2021-11-02 07:34] Kartik494 commented on #106040
Hi @AbdElRhman2111 Do you have `persistentVolume` up with you for bound this to `Persistent volume  claim`?

[2021-11-02 07:41] Kartik494 commented on #106040
Can you apply this `persistent volume` and let me know if this is still in pending state.

apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv
spec:
  storageClassName: fast
  capacity:
    storage: 30Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"

[2021-11-02 08:00] Pingan2017 opened #106079 "Whether unschedulable still needs to exist, we can use tainit instead"
### What would you like to be added?

remove `unschedulable: true` , use node.kubernetes.io/unschedulable instead

when we cordon node or start kubelet with `register-schedulable=false`,  node spec will add taints with `node.kubernetes.io/unschedulable` and `unschedulable: true`

[code]

### Why is this needed?

`Unscheduler `and `taint `can get the same effect, we only need one of them
**Maybe we

[2021-11-02 08:12] Nimmsy opened #106080 "/stats/summary kubelet endpoint usage"
### What happened?

Hi,

Currently, we are monitoring the performance metrics ( cpu , memory utilized ) of pods and nodes via the kubelet endpoint /stats/summary.… Have been seeing news stating this API will be deprecated in the upcoming versions say 1.23 … one instance is – [[Move away from kubelet stats/summary](https://github.com/elastic/beats/issues/12792)]

Is this true … ? if this is true wh

[2021-11-02 08:26] Nimmsy commented on #106080
/sig k8s-infra
/sig release

[2021-11-02 08:39] serathius commented on #106050
We are not yet deprecating klog, as we don't have replacement ready yet. For now we are deprecating klog specific features that are enabled via it's flags. We need to avoid wrong messaging to prevent confusion.

We are deprecating klog specific flags in Kubernetes Org projects, but should not affect:
* projects just using klog

[2021-11-02 10:04] jsafrane commented on #105868
This looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/105899. Let's continue there.
/close

[2021-11-02 10:04] #105868 closed

[2021-11-02 10:29] sfowl opened #106083 "Creation of very deep directory trees can render nodes unstable"
### What would you like to be added?

Inode quota support, to prevent containers from exhausting system resources.

### Why is this needed?

Container processes can create very deep directory trees that, depending on platform and system resources, can exhaust available memory when traversed, making them removal difficult and rendering nodes unstable

### [Demo](https://github.com/sfowl/deep-direct

[2021-11-02 10:29] sfowl commented on #106083
/sig node

[2021-11-02 11:18] d3vpasha opened #106084 "Possibility to run minikube dashboard in background"
### What would you like to be added?

Actually, when you use the command `minikube dashboard`, this will launch a new process & open the dashboard in your browser. You have to let the terminal open so you can still access the dashboard. I would like it to do this in background and not to have a terminal opened.

### Why is this needed?

This is needed because we cannot actually automate the instal

[2021-11-02 12:05] serathius opened #106086 "Add go-runner to kube-proxy image"
All other control plane component images have go-runner available. With deprecation of klog flags [KEP-2845](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components/README.md) we should also add go-runner to kube-proxy image.

This is required for https://github.com/kubernetes/kops/issues/12663

[2021-11-02 12:05] serathius commented on #106086
/cc @kubernetes/wg-structured-logging-members
/wg structured-logging

[2021-11-02 12:17] pohly commented on #106050
True. I simplified too much. The earlier PR described it correctly ("All klog flags except for `-v` and `-vmodule` are deprecated.").

[2021-11-02 12:54] atiratree commented on #106054
For now I can see one issue with inconsistency of the Progressing condition ( I want to dive into the impact of this feature more later).

meaning of the old behaviour:
- `Progressing=True` with `NewReplicaSetAvailable` with all available pods is saying: we know this rollout is able to progress and we have 100% availability
- `Progressing=True` with `NewReplicaSetAvailable` with unavailable pods i

[2021-11-02 13:01] immanuelfodor commented on #92287
Unstale pls

[2021-11-02 13:01] immanuelfodor commented on #92287
/remove-lifecycle stale

[2021-11-02 13:04] rkress3 opened #106088 "Pods stuck in ContainerCreating due to configmaps not being returned from apiserver"
### What happened?

We have a kubernetes 1.16.15 cluster running with etcd. The cluster is running with 3 masters nodes. The system has 25110+ configmaps. When new configmaps are created and mounted to new pods, the pods are stuck in containerCreating because the configmap is not available from the watcher cache on the master nodes.

It seems that the watcher cache on the master nodes are not bein

[2021-11-02 13:18] rkress3 commented on #106088
/sig api-machinery

[2021-11-02 13:53] Kusuma16 commented on #75803
Hello guys, I got same error. So I try this solution and work for me

1. Create a file called "daemon.json" inside "/etc/docker/" directory and paste the following script
    {
      "exec-opts": ["native.cgroupdriver=systemd"]
    }

    Then reload the daemon and restart both docker and kubelet service
2. Finally I try to init again with **--v=latest**, so it can be like sudo kubeadm init --pod-

[2021-11-02 14:10] pawelpabich commented on #105962
I will try to do it in the next few days.  Definitely need to change the logging level. Do I need to do anything once  `kublet.service`  file is updated?

[code]

[2021-11-02 14:14] #102798 closed

[2021-11-02 14:16] Shuanglu commented on #105962
just run `systemctl daemon-reload&&systemctl restart kubelet`.
i was using a nginx image with module 'echo_sleep' to reproduce but couldn't repro https://github.com/nginxinc/docker-nginx/tree/master/modules. You may try something similar in your cluster to isolate.

[2021-11-02 14:31] serathius commented on #106060
/cc
Can you specify what MS version you are using?

[2021-11-02 14:33] shuaich commented on #106060
metrics-server-v0.5.1

[2021-11-02 14:35] MadhavJivrajani commented on #106088
Hi @rkress3, thanks for creating this issue!
The version of Kubernetes used by you (1.16.5) is no longer supported for patches. Please re-open this issue (you can do so by commenting `/reopen` on this issue) if it still persists with a Kubernetes version that is still actively supported - you can find more information [here](https://kubernetes.io/releases/version-skew-policy/). Thanks again!
/clos

[2021-11-02 14:35] #106088 closed

[2021-11-02 14:37] serathius commented on #106060
MS v0.5.1 should be configured get/list/watch on configmaps
https://github.com/kubernetes-sigs/metrics-server/blob/v0.5.1/manifests/base/rbac.yaml#L60

[2021-11-02 14:37] MadhavJivrajani commented on #106088
Also - please feel free to bring this up in the K8s slack (https://slack.k8s.io) `#sig-api-machinery` and/or `kubernetes-users`channel, maybe someone faced a similar issue :)

[2021-11-02 14:45] uablrek commented on #106044
This is not a bug, it is a misunderstanding of function. There are several faults in the provided svc/ep manifests.

* If you have "name" in endpoints, you must have the corresponding name in the svc
* You have already said in the svc that the `targetPort` (the port the ep's are listening on) is 5672 and there is no such ports in the endpoints
* You can't load-balance on endpoint ports on the same

[2021-11-02 14:45] #106044 closed

[2021-11-02 14:45] rkress3 commented on #106088
Got it, thanks for the information about the slack channel.

[2021-11-02 14:51] shuaich commented on #106060
The role `extension-apiserver-authentication-reader` is bound to metrics-server and should be able to query configmaps from apiserver.
I ran `kubectl get roles -n kube-system extension-apiserver-authentication-reader -o yaml` and was able to see
[code]

[2021-11-02 14:56] serathius commented on #106060
ok, this looks correct. I don't know why there is an error ¯\_(ツ)_/¯

 Maybe there is a race between MS start and RBAC propagation (maybe permissions are cached?)

[2021-11-02 15:00] aojea commented on #103151
:upside_down_face:

[2021-11-02 15:05] smarterclayton commented on #59848
Just setting a status, this is still fundamentally broken in Kube, and the use of watch cache is unsafe in HA apiservers in a way that allows two kubelets to be running a pod with the same name at the same time, which violates assumptions that statefulsets and PVC depend on.  Any cache that is HA must establish that it has the freshest data (data from time T > time request was made) to preserve th