[2018-04-26 11:18] AmazingTurtle commented on #59376
Experiencing the same issue with gitlab omnibus registry on `1.8.8-gke.0`. But imagesize is 74.04 MiB. It helps to delete the whole namespace and re-deploy with gitlab again. Ocassionally after resizing my cluster nodes I'm getting a backoff when it's balanced to different nodes for example.

[2018-04-26 11:26] jkraj commented on #53089
@Surya361 Does changing service ip cidr to actual one will work?. Do you have any workaround for this?

[2018-04-26 11:33] sttts commented on #63182
:+1:

[2018-04-26 11:39] ashishkarpe-compumatrice commented on #55765
Add '/home/ubuntu/kube/kubernetes/client/bin' to your PATH to use newly-installed binaries.
Creating a kubernetes on ubuntu...
... Starting cluster using provider: ubuntu
... calling verify-prereqs
Skeleton Provider: verify-prereqs not implemented
... calling verify-kube-binaries
./cluster/kube-up.sh: line 65: verify-kube-binaries: command not found
************************************************

[2018-04-26 12:16] sttts commented on #60937
@roycaihw no, openapi is not used for that.

[2018-04-26 12:23] tingweiwu opened #63195 "pod status is Completed but not Succeeded as the document said"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/
I wonder the document the docs above say as follow:

Pod is running and has one Container. Container exits with success.
Log completion event.
If restartPolicy is:
Always: Restart Container; Pod phase stays Running.
OnFailure: Pod phase becomes Succeeded.
Never

[2018-04-26 12:33] #55677 closed

[2018-04-26 13:00] dober opened #63196 "error: v1alpha1.KubeProxyConfiguration: NodePortAddresses:"
/kind bug

**What happened**:
After editing cm kube-proxy and replacing **nodePortAddresses: null** to **nodePortAddresses: 127.0.0.0/8** got result kube-proxy error

**How to reproduce it (as minimally and precisely as possible)**:
kubectl -n kube-system edit cm kube-proxy,  change null value and recreate pods with label k8s-apps=kube-proxy

**Anything else we need to know?**:
log:
`error: v1alph

[2018-04-26 13:03] dober commented on #63196
/sig network

[2018-04-26 13:20] Miouge1 opened #63197 "Taints and Tolerations not respected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Some pods are getting schedules on nodes even though there is a NoSchedule Taint

**What you expected to happen**:

I expect pods to not be scheduled on that node unless they have the matching toleration.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environmen

[2018-04-26 13:29] andyzhangx commented on #63172
@JackQuincy what's the k8s version?

[2018-04-26 13:42] ferrarimarco commented on #61277
Same here :(

kubeadm 1.10.1 running on CentOS 7.

Components cannot connect to the API server (connetion refused and TLS handshake timeouts), plus CPU and disk usage at 100%

[2018-04-26 14:34] dims commented on #63192
@woopstar can you search for `HTTP-Probe Host` in your kubelet logs? they will look like this. check error messages that come after this line

[code]

[2018-04-26 14:34] msau42 commented on #38606
I think this idea of delegation has come up a few times in the context of secure runtimes.  In those cases, it could make sense to give the block device to CRI and have the runtime manage the final haul of the filesystem. See https://github.com/kubernetes/kubernetes/issues/62238

[2018-04-26 14:40] cburki commented on #61224
Got the same problem but it seems that the token generated during the initialization has expired. Check it by issuing the following command on the master.
`kubeadm token list`
And check the date in the `EXPIRES` column. If it has expired, create a new token.
`kubeadm token create --print-join-command`
You will now be able to join a new node using the given command.

[2018-04-26 15:07] fabiand commented on #38606
I think this ticket is going even one step beyodn this.

Even for secure runtimes it can make sense to directly connect to the storage, and not let the kubelet do this.

BTW - I wonder that #62238 is an issue :)

[2018-04-26 15:07] uriux-andrewd commented on #63128
same issue - how about telling us how you solved it.

[2018-04-26 15:13] msau42 commented on #38606
Do you mean something like running the CSI driver in the runtime?  Can you give an example?

[2018-04-26 15:28] Dieken commented on #57897
I got similar issue on 1.9.2 and 1.8.2.

According to kube-apiserver audit log, I found endpoint-controller deleted and recreated endpoints very soon, often at the same second.

I doubt the service cache isn't consistent with endpoint cache at https://github.com/kubernetes/kubernetes/blob/v1.9.2/pkg/controller/endpoint/endpoints_controller.go#L395,  maybe commit 2fa93da6d5efd97dbcaad262a9e59073de9

[2018-04-26 15:31] Dieken commented on #57897
latest console log of kube-controller-manger-1.9.2 after I restarted it,  I doubted those "too old" logs but they are still there after restart.

![image](https://user-images.githubusercontent.com/2365/39315702-e8a15764-49a9-11e8-98be-300bc5077a0f.png)

[2018-04-26 15:32] abraithwaite commented on #49546
/remove-lifecycle stale

I still care about this.

[2018-04-26 15:36] fabiand commented on #38606
Delivering a CSI driver using a pod for example would requrie this feature. The driver would get the connection details and would establish the connection.

For KubeVirt we'd pass the credentials to qemu and let qemu connect to the storage.

[2018-04-26 15:36] bhack commented on #53059
What is the status of this on AWS/EBS? I'have the same problem on AWS with v1.9.3

[2018-04-26 15:48] zetaab commented on #53059
imo this "bug" exist in all volumetypes. If you have pod with pvc(any type, RWX types excluded) running in node1. You will shutdown that node1 -> the pod will start again in some another node but failovering(it will return that multi-attach error) volumes takes 6-10minutes because it will wait force detach.

1) I am thinking could we make this force detach time faster, it is currently 6 minutes.
2

[2018-04-26 16:11] JackQuincy commented on #63172
@andyzhangx   1.9.1

[2018-04-26 16:27] bhack commented on #53059
Yes it seems that is general.

[2018-04-26 16:37] gabrielfsousa commented on #57673
same problem on version 1.10.0

[2018-04-26 16:37] #56152 closed

[2018-04-26 16:40] dashpole opened #63204 "Cut and vendor cAdvisor v0.30"
/kind bug
(there are mostly bug-fixes coming in this cAdvisor release)
/sig node
/priority important-soon
This is the once-per-release process of cutting a cAdvisor release and vendoring it into kubernetes.  The [v0.30 cAdvisor release](https://github.com/google/cadvisor/milestone/8) is planned for May 20th, 10 days before code freeze to allow for some soak time.

[2018-04-26 16:42] mikedanese opened #63205 "GKE e2e tests in release-1.10 branch are failing"
https://github.com/kubernetes/kubernetes/pull/62116#issuecomment-384429675

cc @krzyzacy @MaciekPytel

/sig gcp
/sig release

[2018-04-26 16:43] #63205 closed

[2018-04-26 16:59] roycaihw commented on #60937
@sttts Are you saying serving openapi v3 in k/k may be not related to issues like #59501? AFAIK `kubernetes-client/gen` [uses the openapi spec](https://github.com/kubernetes-client/gen/blob/df8b843fb9621a396677f5c6dbe31103151907c1/openapi/preprocess_spec.py#L302-L303) to generate non-go clients such as java and python

[2018-04-26 17:05] khenidak commented on #63172
@JackQuincy - I suspect that the error is here. https://github.com/kubernetes/kubernetes/blob/v1.9.1/pkg/cloudprovider/providers/azure/azure_loadbalancer.go#L326

This can be either one of two things
- A bug in SDK serialization (LB does have a private ip) but it does not get serialized correctly.
- A bug in our assumption that that each internal LB ip fe config will have a valid internal IP.

Can

[2018-04-26 17:10] bbzg commented on #20227
Any progress on this? Would be awesome 🚀

[2018-04-26 17:11] ccalderon911217 commented on #62316
I'm having this exact same issue, any updates? Thanks!

[2018-04-26 17:11] JackQuincy commented on #63172
@khenidak this was actually a customer cluster and they deleted it before I got a chance to get things like the model/what error code on the 400 was. And it didn't ever recover.

[2018-04-26 17:24] pmichali opened #63208 "IPv6: conntrack failures deleting endpoints seen during E2E tests"
When running E2E tests on an IPv6 cluster, kube-proxy is showing errors from conntrack, when trying to delete endpoints. For example:

E0425 12:22:48.879901       1 proxier.go:603] Failed to delete e2e-tests-nettest-k6ngh/node-port-service:udp endpoint connections, error: error deleting conntrack entries for UDP peer {fd00:77:30::5328, fd00:77:20:0:3::d}, error: conntrack command returned: "conntr

[2018-04-26 17:25] pmichali commented on #63208
/assign

[2018-04-26 17:25] pmichali commented on #63208
/assign pmichali

[2018-04-26 17:28] dougm opened #63209 "Support SAML token authentication in vSphere Cloud Provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig vmware

**What happened**:

The vSphere cloud provider currently supports username+password based authentication, where the credentials must be present in plain text within the cloud
provider configuration file.

**What you expected to happen**:

Authenticate with vSphere SDK using a SAML token instead.

[2018-04-26 17:29] dougm commented on #63209
# vSphere Cloud Provider SDK authentication

The vSphere cloud provider currently supports username+password based authentication, where the credentials must be present in plain text within the cloud
provider configuration file.

This issue proposes adding SAML token authentication support as an alternative to username+password authentication.
Other [vSphere authentication methods][apiref] are enu

[2018-04-26 17:30] dougm commented on #63209
/assign

[2018-04-26 17:31] shubheksha commented on #63195
@tingweiwu, since this seems to be related to docs, could you file it in the [docs repo](https://github.com/kubernetes/website/issues/new)?

[2018-04-26 17:33] rootfs commented on #59946
cc @bmarzins

[2018-04-26 17:33] john-tipper commented on #45487
Does Kubernetes support the Docker credential store?  I can't get kubernetes to respect a credential store defined in config.json and I don't know if my issue is related to this one.

https://stackoverflow.com/questions/50048861/does-kubernetes-kubelet-support-docker-credential-stores-for-private-registries

[2018-04-26 17:38] #47959 closed

[2018-04-26 17:38] #55418 closed

[2018-04-26 17:38] #55150 closed

[2018-04-26 17:39] gabrielfsousa opened #63210 "hpa wont work on k8s 1.10.1"
/kind bug
/sig autoscaling

**What happened**:
`Warning  FailedComputeMetricsReplicas  17m (x13 over 23m)  horizontal-pod-autoscaler  failed to get cpu utilization: unable to get metrics for resource cpu: unable to fetch metrics from resource metrics API: the server could not find the requested resource (get pods.metrics.k8s.io)`

`Warning  FailedGetResourceMetric       3m (x41 over 23m)   horizon

[2018-04-26 17:41] BenTheElder commented on #55437
These targets are manual now, they will only build if you specifically request them.

[2018-04-26 17:41] BenTheElder commented on #55437
/close

[2018-04-26 17:41] #55437 closed

[2018-04-26 17:55] #42644 closed

[2018-04-26 17:55] #58017 closed

[2018-04-26 17:57] mdruskin commented on #57964
0: Are you sure that's cleaner? The namespace selector picks which namespaces to use, and skipCluster decides whether to include cluster resources or not. Not setting it maintains current behavior (skipCluster=false) and whether cluster level resources are included is very clear. scope=cluster/namespace/both will require us to default to "both" which I find slightly more confusing. Also what to do

[2018-04-26 18:02] lavalamp commented on #57964
Re: 0: fair point, but let's at least name it in the positive: matchClusterScopedResources=true|false or something like that.

[2018-04-26 18:04] rtreffer commented on #60161
On a node in our cluster I've noticed that `6: kube-ipvs0:  mtu 1500 qdisc noop state DOWN` is an issue.
I'd be very interested to hear if `ip link set dev kube-ipvs0 up` helps.
I've opened #63199 to bring devices up by default.

[2018-04-26 18:08] discordianfish commented on #63018
I've just realize that only one specific node (which is suppose to be the same as all other nodes) seems to be affected on which all pods that require full CPUs (triggering the static allocation) fail. Going to taint and drain the node now and will decomision it ~tomorrow, so let me know if you want me to pull something from the node first.

Unfortunately I don't have long enough log rentention to

[2018-04-26 18:12] discordianfish commented on #63018
My kubelet args:
[code]

[2018-04-26 18:27] vishh commented on #51135
@szuecs `1ms` is the minimum period supported by the kernel. It would be great if we can run such a change against a few key workloads to measure any potential impact.
In general, I'm supportive of such a change with some benchmark data.
Perhaps @balajismaniam might be able to help here.

[2018-04-26 18:39] balajismaniam commented on #63018
@discordianfish We have fixed the completed pods related issue before: https://github.com/kubernetes/kubernetes/pull/52363.

[2018-04-26 18:44] szuecs commented on #51135
@vishh I agree but it was just an example. It could be a cli flag exposed and let the choice up to the user with default to 100ms.
What do you think?

[2018-04-26 18:46] OguzPastirmaci commented on #60807
I have a similar environment (Ark & Helm) with @barakAtSoluto and have the same issue. Purging and restarting the masters didn't fix it for me though. Still stuck at terminating.

[2018-04-26 18:48] vishh commented on #51135
Kubelet CLI flags are not exposed to end users in many k8s offerings yet.
Having users tune this knob per-node is also not ideal since it makes
workload portability a huge pain. So I'd prefer us choosing a period that
works for most users.
In the long term, we plan on automating CPU scheduling to provide some
performance guarantees, where we may drop CPU Quota all together and so I'd
prefer not ha

[2018-04-26 18:59] arminmor commented on #49263
I am facing the same issue here.

I have a cluster of 10 nodes, 1 master, 1 etcd.

Services on 6 nodes (out of 10) can not "reach"/"be reached from" other containers. However, the other 4 nodes work perfectly and if I put pods (using nodeSelector) on them the can "reach"/"be reached from" other containers placed on the other nodes (4 nodes).

I checked the describe node, kube-proxy and calico logs

[2018-04-26 19:04] szuecs commented on #51135
Maybe a node annotation?

[2018-04-26 19:07] ruippeixotog commented on #10323
Can some maintainer reopen this issue, since this feature is not yet supported for AWS? Or is it better to open a new issue just for AWS? cc @thockin

I use Terraform to manage my cloud infrastructure and I don't want to leave the responsibility of managing LBs to Kubernetes, since many other services depend on me knowing the name/ID of the load balancer I create, from Cloudwatch alarms to additio

[2018-04-26 19:27] ConnorDoyle commented on #63018
@discordianfish would you mind digging into the cpu manager state checkpointed to disk? This will confirm or refute for us that we failed to release CPUs from a terminal container.

The state file is located by default in `var/run/kubernetes/cpu_manager_state` and the content is simply utf-8 JSON. We should be able to see some container-to-cpuset mappings in there. If we can verify that some of th

[2018-04-26 19:28] integrii commented on #56165
This is a two stage issue in my environment.

First, the breakage above was due to a missing route to the heapster pod from the api server pods.  You can see this in the error I posted before.   I tracked this down to WeaveNet failing to create the proper routes on some nodes in the overlay network (typical weave net instability).

After fixing this problem, HPAs started working and `system:admin`

[2018-04-26 19:48] alkin commented on #60099
@eroldan, I am having a similar issue. My app uses REDIS_PORT to connect to a redis database. Since the variable set by docker uses the tcp://IP:PORT format, i get the following error:

"unable to connect to tcp://redis:tcp://10.0.151.188:6379"

I believe having an option to disable the env variables would be a good solution to this problem.

[2018-04-26 19:59] jeremywadsack opened #63214 "kubectl run from a manifest file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

As discussed in #48684 we also have a use case where we would like to spin up a pod, run a command, and throw away the pod. `kubectl run` seems to support this except that it gets very complicated to bring up a pod matching the environment of an existing deployment. Specifically, attaching secrets.

The commonly cite

[2018-04-26 20:00] filmil commented on #62920
Hi, folks.  I've tried to collect your remarks into a consistent pull request.  It's now created for review.

[2018-04-26 20:01] mdruskin commented on #57964
I proposed it in the negative to make it backwards compatible, so that "false" keeps current behavior. I agree that negatively named booleans are not not bad. I'll treat it as true if unspecified and use matchClusterScopedResources.

[2018-04-26 20:02] jeremywadsack commented on #63214
@kubernetes/sig-cli-feature-requests

[2018-04-26 20:19] lavalamp commented on #62907
/sig node
/remove-sig api-machinery

[2018-04-26 20:41] #31176 closed

[2018-04-26 20:46] caesarxuchao commented on #56567
I prefer the second option based on these comparisons:
* with option 1, both `meta.gracefulDeletePeriod` and a finalizer need to be set. option 2 doesn't require finalizer.
* with option 1, different CR implementers will use different finalizers to implement graceful deletion.
* with option 2, the flow is the same as the pod's graceful deletion.

[2018-04-26 20:48] jiayingz commented on #52190
@vikaschoudhary16 perhaps we can re-use this FR to track rate limiting on probe based plugin registration?

[2018-04-26 20:55] geoffgarside commented on #61277
The `k8s.gcr.io/pause:3.1` issue doesn't seem to be related. It looks like `kubeadm init` or the `kubelet` pulls down the arch specific image, in this case `k8s.gcr.io/pause-arm64:3.1` anyway.

[2018-04-26 20:56] jiayingz commented on #52190
/remove-lifecycle stale

[2018-04-26 21:03] redbaron commented on #63197
Do you run with custom scheduler config?

[2018-04-26 21:05] redbaron commented on #63197
Another possibility is that taint was added AFTER pod was scheduler to a node, so it remains there.

[2018-04-26 21:06] timothysc commented on #61322
@stealthybox @detiber close?

[2018-04-26 21:25] MrHohn commented on #61901
@kubernetes/sig-node-bugs It seems like two instances of kube-proxy were running and causd one of them failed to bind any ports?

[2018-04-26 21:25] MrHohn commented on #49263
@arminmor That is not the same issue. The issue reported here was specifically for the port collision between kube-proxy and node-problem-detector on port 10256, which was a configuration mistake.

What your encountered seems more like #61901 (opened by @disha94).

[2018-04-26 21:26] redbaron commented on #63210
do you have metrics server  / heapster running?

[2018-04-26 21:39] vishh commented on #51135
Annotations are not currently easily controllable by policies and so that
would not be feasible.

On Thu, Apr 26, 2018 at 12:04 PM, Sandor Szücs <notifications@github.com>
wrote:

[2018-04-26 21:57] gabrielfsousa commented on #63210
yes i have.

[2018-04-26 21:57] Stono opened #63217 "Unable to understand terminating namespace on GKE"
Hey,
Very much like [this issue](https://github.com/kubernetes/kubernetes/issues/19317) I have a namespace stuck in terminating on GKE 1.9.6-gke.1, and it's been like that for a good week.

[code]

There's definitely nothing in that ns:
[code]

I've tried removing the finalizer, like others have suggested in other issues with this problem but to no avail and I don't know what else to try.

[2018-04-26 21:58] Stono commented on #63217
/sig gcp

[2018-04-26 21:58] #57710 closed

[2018-04-26 21:59] #57606 closed

[2018-04-26 22:04] Stono commented on #63217
Looks like this is actually an ark problem, see: https://github.com/heptio/ark/blob/master/docs/debugging-deletes.md

[2018-04-26 22:05] Stono commented on #63217
Actually i'm going to re-open this, and change the scope from a bug to a feature.
I think we should be able to investigate what is blocking the namespace deletion.

[2018-04-26 22:07] ValeryNo commented on #61901
I had the same issue after. Happened couple of days after 1.7.x -> 1.9.x cluster upgrade. Initially, everything was fine, but then I was deploying more services one node became NotReady, and the rest shortly followed. We're using Kops on AWS. Problem was solved by a complete cluster restart (workers scaled to 0, each master restarted, then workers scaled back to initial #

[2018-04-26 22:15] wangzhen127 commented on #39845
/reopen

There is followup work.

[2018-04-26 22:40] janetkuo commented on #57167
/remove-lifecycle stale
/lifecycle frozen

[2018-04-26 22:43] #55929 closed

[2018-04-26 23:26] #62738 closed

[2018-04-26 23:35] Kaezon opened #63218 "kube-apiserver container panics if I add a /openapi/v2 route to my APIService"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: When attempting to set up a Python-Flask backed APIService; upon adding an `/openapi/v2` route, the kube-apiserver process panicked and the container failed repeatedly until I was able to stop the new extension's pod manually.
[code]

**What you expected to happen**: When processing the OpenAPI specification, kube-apiserv

[2018-04-26 23:35] liggitt commented on #63196
nodePortAddresses is a list, so you need `nodePortAddresses: ["127.0.0.0/8"]`

[2018-04-26 23:36] liggitt commented on #63188
normally that means the test etcd instance did not come up successfully...

[2018-04-26 23:44] #27000 closed

[2018-04-27 00:06] ixdy commented on #8830
The go-bindata generated files have been removed from the tree, so more parts of k/k (mostly kubectl and kubeadm) are no longer go-gettable.

[2018-04-27 00:30] mkleint commented on #27000
closed just in time to remind me to corner someone about this at Kubecon!

[2018-04-27 00:55] k82cn commented on #63188
I checked those daemons: etcd is there, no apiserver; but I'm not sure whether etcd start up after apiserver crash :(.

[2018-04-27 01:25] tingweiwu commented on #63195
@shubheksha ok, I have filed this in the docs repo  and close this issue,Thanks

[2018-04-27 01:47] MrHohn commented on #63087
Did the endpoint eventually disappear? How long did that take? Would be great to have logs from endpoints controller (part of kube-controller-manager).

[2018-04-27 02:47] #56300 closed

[2018-04-27 03:01] tengqm commented on #8830
the pkg/generated/openapi/zz_generated.openapi.go file is gone, this means 'k8s.io/kubernetes' as a package is not buildable if checked out fresh. Have to run 'make generated_files' manually.

[2018-04-27 03:05] calvinyv opened #63225 "no realtime output by implement kubectl logs -f podname"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Deploy the basic sample pod from https://kubernetes.io/docs/concepts/cluster-administration/logging/, a busybox container which print echo msg.
Run kubectl logs -f coutner, no msg is shown.
And If I just run kubectl logs counter several times, I could see there are new msg generated.
**What you expected to happen**:
kubec

[2018-04-27 03:06] calvinyv commented on #63225
/sig cli

[2018-04-27 03:15] vfreex commented on #20227
Hi @bbzg,
This PR is actually a PoC, which is already working. However, the Kubernetes community refuses to add new features until SPDY is deprecated and migrated to WebSocket or HTTP/2.

[2018-04-27 03:15] karataliu opened #63226 "[Cloud controller manager] Node got deleted before providerId is set"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The change here removes exiternal id, but the call to instance id was not made used at all, it will always return false.
https://github.com/kubernetes/kubernetes/pull/60692/files#diff-a1ff61328540d76c791d919f71da4ad5R423

[code]

At this time no node was able to register

**What you expected to happen**:
ProviderId was use

[2018-04-27 03:31] FengyunPan2 commented on #62376
cc @dims

[2018-04-27 03:33] FengyunPan2 commented on #61774
/close

[2018-04-27 03:33] #61774 closed

[2018-04-27 03:48] 12wrigja commented on #61277
I agree with Geoff here - all my other pods come up for the controller node, so I'd be surprised if there was something specifically wrong with the pause image.

I'm wondering if it's a memory issue as Ferrari is alluding to - It's been hit or miss for me in a couple of my reproduction attempts as to whether this works, and low RAM could certainly be part of the problem on the Pi.

[2018-04-27 04:00] xiaoxubeii commented on #63183
/assign

[2018-04-27 04:10] liggitt commented on #63226
similar to https://github.com/kubernetes/kubernetes/issues/62600

are you using --cloud-provider in your controller manager? are you also setting it on your kubelet?

[2018-04-27 04:49] #56309 closed

[2018-04-27 04:58] karataliu commented on #63226
@liggitt
I'm using acs-engine to deploy the cluster. Config is as following:
[code]

I've proposed a fix. PTAL

[2018-04-27 05:19] feiskyer opened #63228 "Azure MSI is moving to instance metadata"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

[Azure MSI](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/overview) is moving to instance metadata (the new endpoint is `http://169.254.169.254/metadata/identity/oauth2/token`).

Azure cloud provider is reading MSI endpoint from `/var/lib/waagent/ManagedIdentity-Settings` (which is

[2018-04-27 05:27] MattMS commented on #58692
I'm receiving the same error message, but also finding the file copied correctly from the container to my local machine.

- Client: v1.10.1
- Server: v1.9.4-gke.1
- Platform: GKE

I'm not sure where to add the tar `-C` flag when using `kubectl cp`.

[2018-04-27 06:25] redbaron commented on #63210
does `kubectl top` work?

[2018-04-27 06:48] ronakpandya7 commented on #63128
Check the kubelet logs, it will tell you the deprecated flags, just remove it and put it into the kubelet config files.

It will solve my problems :)

[2018-04-27 06:48] andyzhangx opened #63235 "data loss if using existing azure disk with partitions in disk mount"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When use an existing azure disk(also called [static provisioning](https://github.com/andyzhangx/demo/tree/master/linux/azuredisk#static-provisioning-for-azure-disk)) in pod, if that disk has partitions, the disk will be formatted in the pod mounting.

**What you expected to happen**:

**How to reproduce it (as minimally an

[2018-04-27 06:49] andyzhangx commented on #63235
cc @karataliu @rootfs @khenidak

[2018-04-27 07:00] andyzhangx commented on #53059
@zetaab that's correct, on Azure, time cost of disk detach and attach to another node would be around 1 min, so `Multi-Attach error` within that 1 min is expected, while we found an issue specific in containerized kubelet that UnmountDevice process always fail which lead to disk detach on one node never succeeded on one node, in that case, we hit `Multi-Attach error` for hours...

[2018-04-27 07:08] andyzhangx opened #63236 "missing disk format code in formatAndMount func on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
missing disk format code  in formatAndMount func on Windows, currently it only has mount related code:
https://github.com/kubernetes/kubernetes/blob/b87a392b1a7ece8335ad3ade410e5070e29f216e/pkg/util/mount/mount_windows.go#L356-L377

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as poss

[2018-04-27 07:14] CrispyCrafter commented on #53563
Ensure you have set up the connection to your cluster correctly. Based on my experience this issue is borne out of jumping between cluster configurations without ensuring kubectl is properly configured to point towards the correct computational/cloud cluster resource.

[2018-04-27 07:23] forbxy opened #63237 "Is it dangerous to change /sys/fs/cgroup/pids/kubepods/pids.max"
we have to deal fork boom,but config pidMax of pod is not stable now.
I try change /sys/fs/cgroup/pids/kubepods/pids.max, it work.
Is there some trouble while change it ?
thanks

[2018-04-27 07:52] #54814 closed

[2018-04-27 07:55] #59736 closed

[2018-04-27 08:13] MrFishFinger commented on #17626
I am also seeing this issue on kubernetes v1.10.1

as @jhvhs stated: after 10 minutes, the ELB eventually deletes. But the security groups (and references to security group in main security group) are left intact and need to be manually cleaned.

[code]

[2018-04-27 08:52] obeattie commented on #51135
For what it’s worth, we (Monzo) have found 5ms to be a “good” value for _most_ of our latency-sensitive workloads and run with this. There are some exceptions though.

[2018-04-27 08:56] Random-Liu opened #63240 "Node E2E Test timeout"
Node E2E Test constantly timeout now.

https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet&graph-metrics=test-duration-minutes
From the test duration graph, it is very clear that the node e2e test duration changed from ~45m to >1h after the following 2 PRs are merged:
* https://github.com/kubernetes/kubernetes/pull/62913
* https://github.com/kubernetes/kubernetes/pull/63142

Since https://gi

[2018-04-27 09:01] Random-Liu commented on #63240
@deads2k Is this expected?

[2018-04-27 09:05] malachma commented on #63172
@khenidak according to the evente table it was an internal loadbalancer
here is the link to it --> https://jarvis-west.dc.ad.msft.net/AC6BF2D8?genevatraceguid=7da7b7ca-bb86-44c5-bc12-eb08ac0dbc85
maybe it the Details logged Can help you further

[2018-04-27 09:07] gabrielfsousa commented on #63210
yes

Display Resource (CPU/Memory/Storage) usage.

The top command allows you to see the resource consumption for nodes or pods.

This command requires Heapster to be correctly configured and working on the server.

Available Commands:
  node        Display Resource (CPU/Memory/Storage) usage of nodes
  pod         Display Resource (CPU/Memory/Storage) usage of pods

Usage:
  kubectl top [flags] [

[2018-04-27 09:11] pinkencryption commented on #27000
This needs to happen, how can we request this ?

[2018-04-27 09:12] rtreffer opened #63241 "IPVS proxy does not SNAT service IPs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When using IPVS and not natting (no cluster-cidr specified) requests from the host to service IPs are send with the service ip as the source ip.

Let `10.120.0.1` be the kubernetes API IP. Kubeproxy will set up `kube-ipvs0` with `10.120.0.1/32`. This means that traffic from the host (which sees the `kube-ipvs0`) will ori

[2018-04-27 09:26] KevinTHU commented on #39557
@Paxa yes, you are right, I have fix it with ipv6 reopen. and some comment on issue https://github.com/coreos/flannel/issues/936#issuecomment-384916126

[2018-04-27 09:33] hzxuzhonghu commented on #63188
Integration test failed the process exited, not crash.
The timeout panic is recovered by apiserver and printed an error message
`2155 E0426 17:17:14.653839   20580 wrap.go:34] apiserver panic'd on GET /apis/rbac.authorization.k8s.io/v1/clusterroles: killing connecti     on/stream because serving request timed out and response had been started
`

[2018-04-27 09:41] gyliu513 opened #63243 "etcd memory usage is not stable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1) Deployed a 1000 nodes Kubernetes 1.9.1 cluster with 3 masters and 3 etcd server with version 3.2.14.
2) Submit 20000 liberty pods with 10 times, each time submit 1000 pods in 1 deployment.
3) My pods was submitted and running at 15:00.
4) From 15:00, the etcd memory usage is not stable, it keeps going up and down from

[2018-04-27 09:51] dober commented on #63196
@liggitt thank you

it should should be documented as primer

[2018-04-27 09:51] #63196 closed

[2018-04-27 10:10] discordianfish commented on #63018
Ah damn, looks like the cluster autoscaler terminated that node already so unfortunately can't provide the cpu_manager_state.. Would be nice to have the relevant bits exposed as Prometheus metrics.

I'll update this issue if this happens again.

[2018-04-27 10:34] shyamjvs commented on #63025
Seems like the revert made the job green - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000
So now that we've confirmed it's due to proxier change, I believe we can continue:

- estimating how much more resources we'd need to run with proxier enabled
- verify if there's any other issue besides just shortage of resources

[2018-04-27 10:37] Lion-Wei commented on #60688
@CallMeFoxie https://github.com/kubernetes/kubernetes/pull/62718 suppose to fix this issue.

[2018-04-27 10:40] CallMeFoxie commented on #60688
Thanks! Will test when it gets pulled into a release :)

[2018-04-27 10:49] dims commented on #62376
@sunny-hw when you move to external cloud provider, there will be more options. because of the way code is structured for the existing in-tree + kube-controller-manager/api-server, there is not much room for adding a dynamic update method.

https://github.com/kubernetes/cloud-provider-openstack

[2018-04-27 10:53] wojtek-t commented on #63025
+1
As an experiment I would try bumping say by 2x or 3x and look at usage. That should give us estimation what we really need.

Proxier is used in kube-proxy on real clusters. Since we already enabled services in real clusters and don't observe other problems, I'm highly convinced that this is resource problem.

[2018-04-27 11:04] chrissound commented on #50632
I agree with @kellycampbell this behavior is not very well documented...

[2018-04-27 11:05] shyamjvs commented on #63025
That's true. Though I feel it might be better to confirm - as there may be some problem for e.g with our kube-proxy mock.
That said, estimating resources is likely the more important part.

[2018-04-27 11:10] dims commented on #63237
There is a new alpha feature `SupportPodPidsLimit` (https://kubernetes.io/docs/reference/feature-gates/) once you enable that using `--feature-gates`, you will be able to specify  `--pod-max-pids` in kubelet command line

See some information here : https://blog.jetstack.io/blog/hidden-gems-1.10/

thanks,
Dims

/close

[2018-04-27 11:10] #63237 closed

[2018-04-27 11:37] shyamjvs opened #63245 "Test performance against etcd versions"
Off-shoot of what I was suggesting in https://github.com/kubernetes/kubernetes/issues/62064#issuecomment-384355538.
Let's keep this as an umbrella for results of performance testing (specifically density test) against changing etcd versions.
Hopefully this will finally help us understand what's really happening with those.

Based on [history](https://github.com/kubernetes/kubernetes/commits/master

[2018-04-27 11:42] shyamjvs commented on #63245
I'll start by running density test against these versions on head. Also since 'performance' in general can mean many things, I think the focus here should be on 'api call latencies' which is where we're mostly observing regressions. Let me know if you think there is some other characteristic that's needed to be measured.

[2018-04-27 12:03] liggitt commented on #63240
Since the namespace controller is using a single rest client rather than constructing lots of separate ones now, a commensurate increase in the allowed QPS should be made

[2018-04-27 12:05] murali-reddy commented on #63241
We have a similar issue in kube-router https://github.com/cloudnativelabs/kube-router/issues/376

FWIW resolution is included in the issue

[2018-04-27 12:05] vikaschoudhary16 commented on #62738
seems one test still failing.
/open

[2018-04-27 12:18] dims commented on #20227
@vfreex i see a PR in k/k - https://github.com/kubernetes/kubernetes/pull/57320 - that does not seem to have objections from anyone. Though i do see that it's terribly out of date. Please rebase to latest master and let's try getting a formal objection from someone in sig-networking.

[2018-04-27 12:48] liggitt commented on #63243
There is a constant write load from nodes heart beating, and as pod status changes

Etcd retains events in-memory for a time window (default of five minutes, I think), then compacts those events. If the interval of those peaks is ~5 minutes (graphs weren't labeled), then the fact that there are peaks is expected.

I'm not sure if the peaks are expected to be that high or not.

[2018-04-27 12:49] liggitt commented on #63243
Cc @gyuho

[2018-04-27 12:50] liggitt commented on #63218
/assign @mbohlool

[2018-04-27 12:55] jsafrane commented on #61058
@fabiand, I gave up and changed the default to "private" in master and I am waiting for approvals for 1.10.x backport, see https://github.com/kubernetes/kubernetes/pull/62633

[2018-04-27 12:57] #56372 closed

[2018-04-27 13:02] marco-jantke opened #63247 "kubectl patch - bad error message when JSON Patch is invalid JSON"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Using `kubectl patch` with the JSON Patch type produces a  confusing error message when you miss the leading double quote at the beginning of the path value.

[code]

**What you expected to happen**:
A proper error message that the provided JSON Patch is not valid JSON.

**How to reproduce it (as minimally and precisely as

[2018-04-27 13:16] andyzhangx opened #63249 "Windows pod with azure disk mount is in terminating state forever"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`IsLikelyNotMountPoint` func does not return correctly, for invalid symlink, it should return true(not a mount point), now it will always return false:
https://github.com/kubernetes/kubernetes/blob/7711d8866112e89341d194c39bc6470a0ec88a72/pkg/util/mount/mount_windows.go#L141-L148

https://github.com/kubernetes/kubernetes/b

[2018-04-27 13:28] jsafrane commented on #63064
I am not sure it's related to mount propagation at all. It would produce different messages.

[code]

This seems to be some issue with Secret volumes. Please check `/var/lib/kubelet/pods/<your pod uid>/volumes/kubernetes.io~secret/<token name>/` if it contains ca.crt and looks "healthy".

[2018-04-27 13:29] arminmor commented on #49263
@MrHohn thanks! I sent my comments (updated) in #61901.

[2018-04-27 13:35] dims commented on #63226
/sig cluster-lifecycle

[2018-04-27 13:36] dims commented on #63247
/sig cli

[2018-04-27 13:37] dims commented on #63218
/sig api-machinery

[2018-04-27 13:38] dims commented on #63195
/close

[2018-04-27 13:38] #63195 closed

[2018-04-27 13:38] dims commented on #63065
/close

+1 to what @liggitt said

[2018-04-27 13:38] #63065 closed

[2018-04-27 13:39] dims commented on #62997
/close

[2018-04-27 13:39] #62997 closed

[2018-04-27 13:39] dims commented on #62986
/close

[2018-04-27 13:39] #62986 closed

[2018-04-27 13:41] dims commented on #62962
/close

please reopen when you can add more information to able to help with the issue

[2018-04-27 13:41] #62962 closed

[2018-04-27 13:42] dims commented on #62949
/close

[2018-04-27 13:42] #62949 closed

[2018-04-27 13:44] dims commented on #62908
/sig cli
/sig testing

[2018-04-27 13:45] dims commented on #62902
/sig cli

[2018-04-27 13:45] dims commented on #62838
/close

[2018-04-27 13:45] #62838 closed

[2018-04-27 13:46] andrewsykim commented on #61058
@jsafrane does that mean mount propagation will work as expected (with CSI) for older distros like ubuntu 14 that aren't on systemd?

[2018-04-27 14:01] buckhx commented on #7890
Another use case: We have a data pipeline that relies on third parties providing exports to GCS bucket. We want to mount the exports bucket as a volume that our k8s jobs can read from directly instead of copying the files to the container on run.

[2018-04-27 14:06] shyamjvs commented on #63029
This has now been fixed. See latest green run - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/104

[2018-04-27 14:06] #63029 closed

[2018-04-27 14:07] sjenning commented on #46442
Is there any plan here?

I am trying to fix a bug where a customer shuts down their instance in AWS. The Node resource is deleted because of this:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go?#L4278

On reboot the Node resource is recreated and looses all its user-defined labels.

The simple removal of that query filter resolves the issue.

[2018-04-27 14:07] liggitt commented on #63240
opened https://github.com/kubernetes/kubernetes/pull/63251

[2018-04-27 14:13] liggitt commented on #63240
also, just noticed the node-e2e was still using default QPS of 5 (burst 10), which would have made it way slower than the normal namespace controller that runs

[2018-04-27 14:13] ceshihao commented on #62382
It seems to be introduced by #60985

cc @soltysh

[2018-04-27 14:14] rtreffer commented on #63241
Ah nice, I reproduced the source IP selection on my local Ubuntu 18.04
without any kubernetes installed (use ip link add / ip addr add and then
ping the new dummy IP / tcpdump lo). Might be related to the kernel version
(4.15) as you couldn't reproduce it....

Changing the routing table would avoid an extra NAT rule. That sounds
interesting but not doable without changing the kubernetes sources

M

[2018-04-27 14:32] jsravn commented on #58334
/remove-lifecycle stale

[2018-04-27 14:39] arminmor commented on #61901
FYI, deleting the kube-proxy and calico pods on the node with the issue resolved the problem form me.
It takes a few minutes to have updates on the cluster. During this period I was monitoring the calico-node logs and I realized that as soon as the following logs appear, service access is updated:

[code]

[2018-04-27 14:59] #14232 closed

[2018-04-27 15:44] #63182 closed

[2018-04-27 15:54] krzysied commented on #63026
https://github.com/kubernetes/test-infra/pull/7894
I am adding clean-up method. This way all of the firewall rules will be cleaned up after tests.
If this method has to remove any firewall rule, the teardown phase will return exception.

It's not a fix for the bug - it only allows us to easy isolate tests leaking firewall rules.

[2018-04-27 16:24] murali-reddy commented on #63241
@rtreffer let me try with `Ubuntu 18.04` to reproduce. but its no brainer, this issue must be fixed.

[2018-04-27 16:40] liggitt commented on #63217
`all` doesn't mean all :-(

you do still have resources in that namespace.

something like https://github.com/kubernetes/kubernetes/pull/63254 would let you discover all resources types in your cluster and list which ones still existed in your namespace:

[code]

[2018-04-27 16:43] AishSundar commented on #62267
@shyamjvs Thanks to @rmmh we now have a Velodrome dashboard that shows us Presubmit % failure of all jobs (across multiple PRs)

http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1&panelId=11&fullscreen

You can use this to track health of both gce-big and gce-100-performance jobs.

[2018-04-27 16:48] timoreimann commented on #25251
Still plan to do this, albeit with low priority.

/remove-lifecycle stale

[2018-04-27 17:11] ncameronbritt opened #63255 "PVCs should list pods that use them"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The inability to see the pods that use a given PVC causes some usability problems. For example:
- For most providers, expanding PVCs requires deleting and restarting pods to resize the file system. Currently users do not have an easy way to know what pods need to be restarted  when expanding PVCs.
- From a metrics/UI

[2018-04-27 17:36] gyuho commented on #63243
c.f. https://github.com/coreos/etcd/issues/9647

[2018-04-27 17:55] pmichali commented on #63208
Correction: After more research I found out two things. First, the two args, --orig-dst and --dst-nat are indeed IPv6 addresses (no port). From what I can tell, it appears that the conntrack delete is using some IPv4 default for the (unspecified) --orig-src argument and then rejecting the command. If one specifies an IPv6 address for --orig-src the command is no longer rejected (but may not be doi

[2018-04-27 18:09] Random-Liu commented on #63240
Make sense.

@liggitt Thanks for fixing this! I'll keep an eye on the test dashboard.

[2018-04-27 18:23] manhof opened #63257 "kubectl apply init container out of order."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: running kubectl apply to update and add an additional init container to deployment (running second), however sometimes init containers will run out of order

**What you expected to happen**: when running kubectl apply the init containers should run in the correct order

**How to reproduce it (as minimally and precisely as

[2018-04-27 18:32] manhof commented on #63257
/sig cli

[2018-04-27 18:37] misterikkit opened #63259 "scheduler: add metrics to equivalence cache"
/kind feature

The equivalence cache feature is planned to move to beta in 1.11, and it would be useful to have some metrics attached to it. The equivalence cache should improve scheduling throughput, so we want to be able to correlate e.g. throughput with eCache hit rate.

/sig scheduling
/sig instrumentation

[2018-04-27 18:37] misterikkit commented on #63259
/assign misterikkit

[2018-04-27 18:49] grayluck commented on #63208
Ack.

[2018-04-27 18:50] Random-Liu commented on #36666
@mikebrow Volunteered to help on this. Thanks a lot! :D

[2018-04-27 18:59] liggitt commented on #63257
do you have your first and second deployment manifest as an example?

[2018-04-27 19:37] #61782 closed

[2018-04-27 19:39] Surya361 commented on #53089
@jkraj nope it dosent kubernetes manages service ips via iptables, no host will be responding to the arp queries made to the service ip. we ditched macvlan in favour of bridged network to get this working. there are a couple of solutions with macvlan itself, you could make one of the kube boxes the default gateway for the service cidr, and when the packet hits the node, the iptables rules that kub

[2018-04-27 19:41] vjroxvijay1 commented on #61277
I am facing the same issue in RHEL7. Any solution will be appreciated. Tried removing the swap space and still facing the same issue.

[2018-04-27 20:42] bsalamat opened #63262 "The scheduler cache generation number could cause use of stale information if a node is deleted and added back with the same name."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The scheduler cache has a generation number for node info that is incremented every time a change is made to the node, for example, when node's resources change, pods assigned to the node, etc. This generation number starts from zero for a node when the node is added to the scheduler cache. The scheduler uses this generati

[2018-04-27 20:46] geoffgarside commented on #61277
@ferrarimarco how much ram did you adjust to? The RPi has just shy of 1GB after the video memory has been carved out.

[2018-04-27 20:46] markfermor opened #63263 "Downwards API (specifically status.hostIP) Access within podSpec DnsConfig or Hostaliases"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
In order to solve a lot of DNS requests flying all over our cluster to the kubeDNS pods, been looking to implement dnsmasq running as a DaemonSet (running with hostport 53 TCP/UDP) across all nodes in the cluster (which forwards back onto standard kubeDNS - provided by GKE), and then to be able to configure the applica

[2018-04-27 21:06] markfermor commented on #63263
/sig apps

[2018-04-27 21:32] ypsingh27 commented on #61764
Hello All,
I am trying to upgrade the the kuberenetes cluster using kubeadm upgrade apply v1.10.1, I get the below error:
root@vmaksa69901dzl # kubeadm upgrade apply v1.10.1
[preflight] Running pre-flight checks.
[upgrade] Making sure the cluster is healthy:
[upgrade/config] Making sure the configuration is correct:
[upgrade/config] Reading configuration from the cluster...
[upgrade/config] FYI: Y

[2018-04-27 21:47] JackQuincy commented on #63172
I was able to get more details from logs,
 {\"error\":{\"code\":\"LoadBalancerFrontendIPConfigurationCountLimitReached\",\"message\":\"Basic sku load balancer /subscriptions/redacted/resourceGroups/redacted/providers/Microsoft.Network/loadBalancers/kubernetes-internal cannot have more than 10 FrontendIPConfigurations.\",\"details\":[]}}

[2018-04-27 21:58] ferrarimarco commented on #61277
@geoffgarside 4GBs :(

[2018-04-27 21:59] misterikkit opened #63267 "scheduler: Update tests to use subtest"
Go 1.7 added the [subtest feature](https://golang.org/doc/go1.7#testing) which can make table-driven tests much easier to run and debug. Many table-driven tests in `pkg/scheduler` and `test/integration/scheduler` are not using this feature.

As an example, https://github.com/kubernetes/kubernetes/pull/56940 converts some tests to use a sub-benchmark.

Further reading: [Using Subtests and Sub-bench

[2018-04-27 22:00] khenidak commented on #63172
Thanks @JackQuincy - So there are two errors here. One the user can not use more than 10 IPs. The fact that we panic on this. i believe the fix is to log and fail the operation.

/assign @feiskyer

[2018-04-27 22:27] vishh commented on #51135
We have considered introducing the concept of Application classes to represent performance characteristics of applications in the past where Quota Period could be derived based on that (LatencySensitive vs not). We dropped that idea because the community hasn't yet adopted the concept of QoS classes completely.
As suggested earlier in the thread perhaps it's time to drop setting hard limits for CP

[2018-04-27 22:37] Random-Liu commented on #63240
I believe this fixes the node e2e test. Thanks! @liggitt

[2018-04-27 23:11] misterikkit commented on #43788
Anyone looking for more test cleanup work may be interested in #63267

[2018-04-27 23:45] andyzhangx commented on #63235
@khenidak thanks for the info, I am writing this PR, and also testing carefully. And this issue depends on https://github.com/kubernetes/kubernetes/pull/63248, @rootfs could you review it first? Thanks.

[2018-04-27 23:59] misterikkit opened #63269 "scheduler: move test utils out of util package"
**What happened**:
In the package `k8s.io/kubernetes/pkg/scheduler/util`, we have testutil.go, which has an `init()` function. Since this package is imported in production code, we are inadvertently running test code in production.

Fortunately (depending on how you look at it) scheduler already has a package called `k8s.io/kubernetes/pkg/scheduler/testing` which would be an appropriate home for t

[2018-04-28 00:03] misterikkit commented on #63269
Seems like kubelet also imports that package.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/helpers.go

[2018-04-28 00:40] Random-Liu commented on #58638
This release, let's at least add necessary metadata into the CRI log path to avoid regression.

Here is current status:
* Old path: /var/log/containers/PODNAME_PODNAMESPACE_CONTAINERNAME-CONTAINERID.log
* New path: /var/log/pods/PODUID/CONTAINERNAME/RESTARTCOUNT.log

Metadata missing:
* PodName
* PodNamespace
* ContainerID

PodName and PodNamespace are easy to add. However, `ContainerID` is a bit

[2018-04-28 00:40] seanknox commented on #63164
looking at the TLS certs generated on the node:

[code]

[2018-04-28 00:56] liggitt commented on #63164
TLS bootstrapping only sets up api client certificates for the kubelet currently. If you want a serving cert for the kubelet that is signed by the apiserver's `--kubelet-certificate-authority` you must provide it. Otherwise the kubelet generates a self-signed serving cert.

[2018-04-28 01:06] seanknox commented on #63164
Couple questions:
- Are there any known issues with TLS bootstrapping in v1.10.x?
- Do you think the configuration issue is with the kubelet or the apiserver? I'm grasping at straws at why the kubelet cert is invalid (as shown in the curl or the `x509: certificate signed by unknown authority` message on the API server)

[2018-04-28 01:56] MrHohn commented on #62999
Tested with various kube-dns versions (1.14.8 ~ 1.14.10) using a similar setup. Wasn't able to reproduce.

[2018-04-28 01:57] k82cn commented on #54313
/close

All related tasks are done :)

[2018-04-28 01:57] #54313 closed

[2018-04-28 02:32] ravisantoshgudimetla commented on #63262
Is this the same bug that you mentioned in sig-scheduling call sometime ago and we assumed it could be an issue with API server providing stale information? In any case, this is awesome debugging :)

[2018-04-28 02:38] feiskyer commented on #63172
@JackQuincy @khenidak The issue has been fixed in #59083 and has been included in v1.9.2. Could you upgrade your cluster (e.g. to latest v1.9.7) and check whether it fixes the issue?

[2018-04-28 02:50] #61938 closed

[2018-04-28 03:54] portante commented on #58638
Also missing `PodNamespaceUID`, can we add that?  This will allow us to accurately support reviewing historical logs per-namespace (tenant) as the logs age and namespaces are potentially deleted without requiring a namespace lookup.

What about a third option:

 * Leave CRI log path as is, `PodUID/ContainerName/RestartCount.log`, and create a `PodUID/ContainerName/metadata.json` to hold the additi

[2018-04-28 05:13] #56493 closed

[2018-04-28 05:44] m1093782566 commented on #60688
/close

Please check the HEAD.

[2018-04-28 05:44] #60688 closed

[2018-04-28 05:58] gyliu513 commented on #63243
@gyuho This is my etcd configuration. I was configuring `--snapshot-count=10000`.

[code]

[2018-04-28 06:15] zchunhai commented on #61543
I has same issue:
K8s: 1.9.0
Ceph: jewel

[2018-04-28 06:42] foklepoint opened #63273 "Kubelet tcp usage metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I want to analyze at tcp usage of containers using cadvisor. I hit the kubelet metrics endpoint, the metrics were all zeroed out. Looks like this commit disables them without any explanation as to why:
https://github.com/kubernetes/kubernetes/commit/d269775929f176cf7b5804e1ebcb8d5e85a675ce
Why were tcp metrics disable

[2018-04-28 06:45] foklepoint commented on #63273
/sig instrumentation

[2018-04-28 06:46] xiaoxubeii commented on #61543
I will check 1.9.2

[2018-04-28 06:53] mlmhl opened #63274 "Hidden performance problem inside volumeManager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently `Kubelet` synchronizes each pod periodically, inside each loop `VolumeManager` reprocesses each pod's volumes. If a volume refers to a PVC, it will fetch the latest PV/PVC object from apiserver, see [here](https://github.com/kubernetes/kubernetes/blob/6b64c07bafd13f7a2f4396526f60a189d407e363/pkg/kubelet/volumem

[2018-04-28 06:53] mlmhl commented on #63274
/sig storage

[2018-04-28 06:53] mlmhl commented on #63274
cc @gnufied  @saad-ali

[2018-04-28 06:57] shuraa commented on #61543
The same issue:

[code]

[2018-04-28 07:27] pengzhong2010 commented on #44214
I have met the same problem .
k8s version 1.10.0.

[2018-04-28 07:29] foklepoint commented on #63273
Sorry, a little confused. According to the linked issue, this happened due
to cadvisor reading metrics for a pid over and over again. This issue was
fixed and the fixed issue linked in the issue you linked. Why did we
disable the tcp metrics with the fixed cadvisor?

On Sat, Apr 28, 2018 at 12:25 AM Zheng Dayu <notifications@github.com>
wrote:

--
Saurabh Sharma
Infra/Ops
saurabh.sharma@reddit.com

[2018-04-28 07:57] ceshihao commented on #63273
I think it is reasonable that user can get those metrics if performance
issues fixed.

On Sat, Apr 28, 2018 at 3:29 PM, Saurabh Sharma <notifications@github.com>
wrote:

[2018-04-28 08:08] gyliu513 commented on #63243
@liggitt Currently, the default value of `event-ttl` is `1hr`, so think that kubernetes will clear event per hour, and the memory usage should not change so frequently in one hour.

![image](https://user-images.githubusercontent.com/4461983/39393977-50d962fe-4afe-11e8-9001-9c147b86c250.png)

[2018-04-28 09:07] hanxiaoshuai opened #63277 "fix kubectl get can't print namespace correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
fix kubectl get can't print namespace correctly
kubectl get po --all-namespaces
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware

[2018-04-28 09:07] hanxiaoshuai commented on #63277
cc @juanvallejo

[2018-04-28 09:09] hanxiaoshuai commented on #63277
/assign

[2018-04-28 10:01] Jacky2 opened #63279 "IPVS: rr: TCP 10.254.159.251:9004 - no destination available"
**What happened**:
Why I use kube-router in kubernetes,

After running 20 web, kubernetes found that kubernetes node could not connect.

Open the host to find the following error information.
![20180428163023](https://user-images.githubusercontent.com/23411395/39395182-0f3819ac-4b0e-11e8-9ad8-512480c26d0d.png)

/sig network

- Kubernetes version (use `kubectl version`):
  v1.9.7

[2018-04-28 10:13] gemfield commented on #54918
This is due to the proxy issues. kubelet cannot connect to the kube-apiserve through your configured http proxy. You can fix this either by
`unset http_proxy https_proxy`
or
`export no_proxy=<your_kube_apiserver_ip>`
There also has a blog to tell about this issue for Chinese reader: https://zhuanlan.zhihu.com/p/31398416

[2018-04-28 10:31] CaoShuFeng commented on #63277
dup of https://github.com/kubernetes/kubernetes/issues/62059

[2018-04-28 13:33] liggitt commented on #63277
/close duplicate

[2018-04-28 13:34] #63277 closed

[2018-04-28 13:41] SteveChurch commented on #59376
Also seeing this on GKE `1.8.8-gke.0` with a 300MiB image. All containers seeing the same issue.

[2018-04-28 14:54] mkumatag commented on #61277
pause image issue got resolved, that shouldn't be a problematic now..

[2018-04-28 17:25] #56570 closed

[2018-04-28 17:44] foklepoint commented on #63273
Yesss, that’d be great. Also would be fine to put this behind a conditional flag.

[2018-04-28 18:04] ryanmcnamara commented on #61998
Consistent repro:
Create a statefulset that creates a controllerrevision whose hash is between max int32 and max uint32 (this shouldn't be that hard to do, possibly a 50/50 chance of this). Manually create a controllerrevision identical to the first (same revision), incrementing both the name and hash by one. See that the statefulset controller will continually switch which controller revision sho

[2018-04-28 18:08] ryanmcnamara commented on #61998
Due to the issue fixed here: https://github.com/kubernetes/kubernetes/pull/63282, under some circumstances controllerrevisions whose revision is the same were being considered equal. This ends up causing this bug to manifest as follows:

* ListRevisions finds many controllerrevisions with the same revision (unclear how this state happens, but it can happen)
* The sort here https://github.com/kuber

[2018-04-28 19:04] woopstar commented on #63192
Closing issue. Issue is not kubernetes. Apparently the pod had a nginx running where it redirects http to https.

[2018-04-28 19:04] #63192 closed

[2018-04-28 19:14] sebasmannem commented on #57923
I’m also running into an issue with ownership / permissions on a Kubernetes secret.
I have a container (that is run by k8s cron, but that’s beside the point), that runs as uid=999 (pod security: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#users-and-groups).
I want to use a secret, being a SSL-certificate private key for client cert auth. Using Client certificates requires permi

[2018-04-28 19:58] rtreffer commented on #63241
getting closer...

1. KUBE-CLUSTER-IP is only populated _if_ masquerade-all or cluster-cidr is used: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L858
2. There is no OUTPUT masquerading for service IPs if cluster-cidr is not specified (no branch matches): https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1184

With cluster-cidr enable

[2018-04-28 22:27] praseodym commented on #39188
I think `containerPort`s in Deployments have the same problem. I can't seem to specify the same port for two different protocols.

[2018-04-28 23:36] resouer commented on #62750
Close as #62765 is in

[2018-04-28 23:36] #62750 closed

[2018-04-28 23:44] resouer commented on #63269
/sig node

[2018-04-29 02:53] jaygorrell commented on #45759
For anyone else coming here form a Google search - initContainer can handle most of this already.

[2018-04-29 03:35] #42690 closed

[2018-04-29 07:26] barakAtSoluto commented on #60807
I had that too when trying to recreate the problem. I eventually had to create a new cluster....
Exclude - default, kube-system/public and all ark related namespaces from backup and restore to prevent this from happening...

[2018-04-29 09:02] antoineco commented on #54514
/remove-lifecycle stale

[2018-04-29 10:42] #55069 closed

[2018-04-29 10:54] AkihiroSuda commented on #1806
I'm working on "CBI", a vendor-neutral CRD interface for building container images on top of a Kubernetes cluster: https://github.com/containerbuilding/cbi

Currently, plugins for Docker, BuildKit, Buildah, and kaniko are implemented.
More plugins are to come.

[2018-04-29 11:24] zhangxingdeppon commented on #61345
I'm sorry，I reply  little late. and thank you for answering my problem.
my kube-controller-manager-configuration as follows, and I was not found problem，--root-ca-file  --cluster-signing-key-file ,the contents of the 2 files are the same

[root@k8s-10-12-100-236-10-12-100-236 kubernetes]# cat controller-manager
###
# The following values are used to configure the kubernetes controller-manager

# d

[2018-04-29 13:38] geoffgarside commented on #61277
The pause issue doesn't seem to have resolved this for ARM64. I've tested a Ubuntu 18.04 amd64 VM with 968MB of RAM with kubeadm 1.10.2 and that works just fine, so I don't think the RPi RAM limits are uniquely responsible for this issue. While following the ubuntu server installation process I noticed I wasn't setting the cgroup-driver on arm64, so I've tried it again with that option explicitly

[2018-04-29 13:45] #56618 closed

[2018-04-29 13:50] thockin commented on #62421
So I think everyone is saying this is a reasonable change, but someone has to sign up to do it.  This should not be very hard.  Probably broken into a couple PRs:

* allow '/' in CM and secret keys, fix validation, fix projection
* add support to kubectl for building a CM/secret from a directory

[2018-04-29 13:50] Odie commented on #61277
Just want to report that I’m experiencing the same issue with rock64 boards with 4GB RAM. Both versions 1.10.0 and 1.10.1 has both etcd and apiserver go into an infinite crashloop.

Version 1.9.7 installed without issue on the first run. Have not tried 1.10.2 yet.

[2018-04-29 13:52] thockin commented on #36858
/lifecycle frozen
/remove-lifecycle stale

[2018-04-29 14:28] thockin commented on #37414
As far as I can tell, the nodeIP is used in one particular case and nowhere else.  Specifically a service of type=LoadBalancer, which also uses LoadBalancerSourceRanges field AND specifies the node itself as a valid source range for the LB.

That's a pretty corner case.  I bet we could find a better way to express that, and eliminate that parameter and error message entirely.  I doubt it is actual

[2018-04-29 14:31] mcglinn commented on #61277
I am also having same issues for a couple of weeks now :(
Been trying many versions (Raspbian/Docker/K8s) and no luck on raspberry Pi2 with all the obvious things checked 10 times.

below are my logs for apiserver and etcd within docker (other things crash as 6443 no longer listening after api-server stops)

If anyone has any insight (into either further troubleshooting steps or the issue) it woul

[2018-04-29 14:45] #55158 closed

[2018-04-29 14:45] #62440 closed

[2018-04-29 14:47] thockin commented on #19680
/lifecycle frozen
/remove-lifecycle stale

[2018-04-29 15:11] thockin commented on #2630
@eatnumber1 if a group is in your supplemental groups, shouldn't you assume that it was intended that you have access to that group's resources?  Dropping supplemental groups is saying "I know you told me I need this, but I don't want it" and then later complaining that you don't have it.

Regardless, I am now throughly lost as to what this bug means - there are too many followups that don't seem

[2018-04-29 15:25] #30113 closed

[2018-04-29 16:31] thockin commented on #55722
/lifecycle frozen
/remove-lifecycle stale

[2018-04-29 16:33] thockin commented on #11815
/lifecycle frozen
/remove-lifecycle stale

[2018-04-29 16:49] thockin commented on #8830
`make generated_files` is slow mostly because it is slow to run.  @sttts do you think it could run faster?  I have a PR somewhere that makes a marginal improvement, but I agree - can't we just run it before we sync code from staging to external repos?

I clock it at 6 seconds for a do-nothing rebuild and 34 seconds if it has to rebuild the tools themselves, which is about half of the work.  If I n

[2018-04-29 17:49] #54753 closed

[2018-04-29 21:22] danderson opened #63286 "Fetching CRDs by FQDN should be better documented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig cli

**What happened**:

I have two custom resources in my cluster called Cluster, and couldn't figure out how to ask for one or the other. `kubectl help get` was of no help, and various Google searches for things like "kubectl apigroup" or "kubectl crd" revealed nothing of use. Worse, some bugs that came up like https://github.com/

[2018-04-29 23:55] #56590 closed

[2018-04-30 00:27] justinsb commented on #49445
Some comments on #62774 which may be relevant - please comment if an alternative annotation that did replace the default security-groups (as opposed to adding to them) would/wouldn't meet your use-case: https://github.com/kubernetes/kubernetes/pull/62774#issuecomment-385294099

[2018-04-30 00:49] k82cn opened #63287 "Remove DaemonSet after each integration test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

For DaemonSet integration test, it's better to remove the test data after each integration test, as the etcd is not re-start for each test.

/sig apps
/assign

[2018-04-30 02:58] #55993 closed

[2018-04-30 02:58] #56215 closed

[2018-04-30 03:58] ErickWendel opened #63288 "InfluxDB - Error Add-on"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: Error on front end

**What you expected to happen**: show dashboard

**How to reproduce it (as minimally and precisely as possible)**:

img: https://imgur.com/a/UdBtb8J

**Environment**:
- Client Version: v1.10.1
Server Version: v1.8.11

@k8s-sig-onprem-bugs
sig/influxdb

[2018-04-30 05:49] saurabh-chordiya commented on #63064
Yes this doesn't seem to be related to mount propagation, but something new in 1.10 compare to 1.9 that is breaking it.

Checked below path and it has all the required data
[code]
Mount propagation is "private,slave"
[code]

After changing mount propagation to shared and docker restart it started working
[code]

There is something really wrong in 1.10 as same scenario is working fine with k8s 1.19

[2018-04-30 06:28] Miouge1 commented on #63197
The taint was added before the Pod was created, no custom scheduler config.

This happens regularly for new Pods created in that cluster.

[2018-04-30 07:59] wojtek-t commented on #14733
The current proposal is here: https://github.com/kubernetes/community/pull/2090/files

[2018-04-30 08:17] jeffersongirao commented on #54021
I've had a similar need and end up putting together a small controller for that: [source-ranges-controller](https://github.com/jeffersongirao/source-ranges-controller) :)

[2018-04-30 08:26] krmayankk commented on #26707
@justinsb  can you provide some more context on why you recommend a daemonset approach as opposed to just HA (2-3 instances) ? Are you thinking each Pod would just talk to its local kubeDNS  running on that node ? Wouldnt that mean each kubeDNS is listening for pods and services on all nodes which would kill the apiserver ?

[2018-04-30 08:42] krmayankk commented on #45363
is anyone still working on this, what are the blockers to getting this done ? I heard Openshift is already using this method @smarterclayton  can confirm. One thing i am not sure is wont running a kube-dns per node , ddos the apiserver for watching pods and services ?

[2018-04-30 08:50] php-coder commented on #58346
/remove-lifecycle stale

[2018-04-30 09:04] #56677 closed

[2018-04-30 09:06] FilipNikolovski commented on #63210
Experiencing the same issue on a 1.9.3 cluster. `kubectl top` working, but hpa shows exact same error.

[2018-04-30 09:10] szuecs commented on #51135
@vishh it means creating a lot of costs, now. We run 83 cluster with 10-30 worker nodes and we run our ingress controller as daemonset, so we have at least 1000 processes serving ingress traffic. Normal CPU usage is less than 40m (millicores) with ingress traffic up to 2000 requests per second. Your solution is that we pay additional 960m, which is a waste of resources. Even if we change from daem

[2018-04-30 09:29] amine250 commented on #23013
Seeing this with Openshift 3.7 / K8s 1.7

[2018-04-30 09:44] jetpak commented on #62361
try enabling "Legacy Authorization" for your cluster in the GKE Web Console
https://stackoverflow.com/questions/49075723/what-does-unknown-user-client-mean

[2018-04-30 10:18] KacperMucha commented on #23864
@Excludos even if you would write the code for 10000 ports it wouldn't work. The deployment complains that the file is too large. I generated the code for port configuration and I ended up with such error. So it isn't even a problem creating big YAML file. It seems that it's not possible at all to expose such port ranges at the moment. As you pointed out, port ranges are a must have, and it's very

[2018-04-30 10:32] #62342 closed

[2018-04-30 12:16] gsaslis commented on #23864
@KacperMucha is the host networking not an option for you?

Given the extra memory docker requires for forwarding such large numbers of ports, it seems to be even somewhat of an anti-pattern to do the port forwarding (in the sense that, by design, it seems to be impractical to do port forwarding for such large numbers of ports).

[2018-04-30 12:28] KacperMucha commented on #23864
@gsaslis I have similar case as in the initial post here. It's a SIP server and it has to have such large amount of ports available. As to your suggestion - are you referring to this - https://github.com/Azure/azure-container-networking/blob/master/docs/acs.md?

[2018-04-30 13:09] antonlisovenko opened #63296 "Add API to get pod DNS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Currently there is no API to find the DNS name of existing pod. The example scenario when this can be needed is when some statefulset is created programmatically using API and then the pod hostnames are used for some requests inside the cluster. Currently seems there is no other way to get hostnames except for building them manually through string  co

[2018-04-30 14:10] sejushah17 commented on #56303
Hi ,

Is this issue resolved? I am also facing the same issue with Kubernetes version 1.10.1

Can anyone please help on this?

Regards
Sejal

[2018-04-30 14:47] msau42 commented on #63274
@kubernetes/sig-storage-feature-requests

We need to carefully consider how this will impact the storage protection feature because the design requires kubelet live lookup for correctness. cc @pospispa @tsmetana

[2018-04-30 14:49] msau42 commented on #63190
Can you also paste your Node object showing the capacity/allocatable resources?

[2018-04-30 15:10] #47294 closed

[2018-04-30 15:11] qwertys-ru commented on #59867
I have encountered this issue trying to delete a StatefulSet in 1.8 cluster (kops@AWS) using kubectl 1.10.2. Downgrading kubectl to 1.9.7 fixed the issue.

[2018-04-30 15:12] jsafrane opened #63300 "csi: Failed attach should be propagated to A/D controller"
/kind bug
/sig storage

**What happened**:
Kubernetes continues with mounting of non-attached volume when CSI driver fails to attach a volume to a node.

Errors from the CSI driver (and external attacher) are just logged, but plugin.Attach() returns no error and A/D controller thinks that everything's all right and the volume was attached.

**How to reproduce it (as minimally and precisely as poss

[2018-04-30 15:12] liggitt commented on #63286
Opened #63299 with examples

[2018-04-30 15:17] ser-shant opened #63301 "Cant access load balance/kubernetes dashboard"
/kind bug
/sig network

**What happened**:
I have deployed two LoadBalancers on kubernetes and cant access it from external network.
service/nginx-ingress           LoadBalancer   10.101.106.224   <pending>     80:31028/TCP,443:31016/TCP   12m
service/node-hello              LoadBalancer   10.98.249.19     <pending>     8080:30004/TCP               3s
Both have external-ip <pending>
I am trying to

[2018-04-30 15:29] 007 commented on #48767
Still a problem.

/remove-lifecycle stale

[2018-04-30 15:50] liggitt opened #63302 "TestVolumeBindingStress flakes"
Seeing flakes in the TestVolumeBindingStress test:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/58474/pull-kubernetes-integration/9177/

The recent changes to this test in https://github.com/kubernetes/kubernetes/pull/62929 assume events are a reliable message bus, which they are not.

[2018-04-30 15:51] liggitt commented on #63302
/assign @hanxiaoshuai @bsalamat @msau42

[2018-04-30 15:58] vitorbaptista commented on #59867
Same issue using kubectl 1.10.0 and 1.10.1 trying to delete a StatefulSet in 1.8.8-gke.0. Running with kubectl 1.8.6 worked.

[2018-04-30 16:09] lawrencejones commented on #44273
Seeing this in GKE. The bug is definitely not gone!

/reopen

[2018-04-30 16:17] mtaufen opened #63305 "Kubelet config: Validate new config against future feature gates"
Today, Kubelet config validation is performed against the currently set feature gates. This ignores the fact that configs can modify feature gates. We should, instead, validate against the future combination of currently set feature gates and feature gates from the config.

WRT dynamic config, this is somewhat complicated by the flag precedence rules we enforce, because until the `--feature-gates`

[2018-04-30 16:39] tamalsaha commented on #52657
Hi,
We are noticing a similar issue in our CRD controller https://github.com/appscode/voyager/issues/1004 . Was anyone able to find a root cause for this issue?

Thanks.

[2018-04-30 16:50] ericchiang commented on #61599
bump @marrrvin

[2018-04-30 16:59] msau42 commented on #63302
Considering that events are unreliable, then I think the best course of action is to revert #62929

[2018-04-30 17:10] msau42 opened #63306 "Dynamic provisioning e2e tests failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign @humblec

**What happened**:
After https://github.com/kubernetes/kubernetes/pull/59879 merged, dynamic provisioning tests started to panic.

Testgrid: http://k8s-testgrid.appspot.com/sig-storage#gce-slow
Logs: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/16656

[2018-04-30 17:12] #56700 closed

[2018-04-30 17:18] serngawy commented on #62549
/sig scalability

[2018-04-30 17:18] liggitt commented on #63302
Agreed. Opened #63307

[2018-04-30 17:46] yastij commented on #57715
/remove-lifecycle stale

[2018-04-30 17:50] yastij commented on #47243
/remove-lifecycle stale

[2018-04-30 18:50] DamonStamper commented on #59376
I'm seeing the same 'Back-off pulling image "FOO": rpc error: code = Canceled desc = context canceled' Using Kube cluster 1.10 and pulling a large image. Using `--image-pull-progress-deadline=60m` on kublet bypassed the issue, per @woopstar.

[2018-04-30 19:35] smarterclayton commented on #42594
This is driving me up the wall.  I may get to this before too long.

[2018-04-30 19:54] jhoch-palantir opened #63316 "apiserver -> etcd healthcheck does not complete TLS handshake, etcd logs warning"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When configuring kubernetes apiserver to communicate with an SSL-enabled etcd cluster, the etcd health check does not provide TLS headers, so the connection succeeds, but the TLS handshake succeeds.  Nothing looks wrong from kubernetes's perspective, and nothing is logged.  However, the etcd cluster logs the handshake fail

[2018-04-30 20:01] coco98 commented on #39434
I'm in support for removing this feature from kubectl, so that kubectl only does json/yaml syntax validation, because we're looking at a use-case for modifying the structure of say a deployment.yaml on the client side, which will finally be corrected with a mutating webhook admission controller.

[2018-04-30 20:01] jhoch-palantir commented on #63316
@kubernetes/sig-api-machinery-bugs

(please excuse me if this is the wrong sig, I'm still becoming familiar with the project)

[2018-04-30 20:12] roycaihw commented on #63316
/assign @wenjiaswe

[2018-04-30 20:17] roycaihw commented on #63218
/assign
/unassign @mbohlool

[2018-04-30 20:19] verult opened #63317 "PV for regional PD should not allow attaching of regular PDs"
/kind bug

If a PV's zone annotation format indicates that it's a regional PD, but pdName corresponds to a regular PD, currently the GCE PD plugin allows attach to succeed. It should fail, because the mismatch is often caused by user error.

/sig gcp
/sig storage
/assign

[2018-04-30 20:25] seh commented on #18991
@lavalamp, I've looked for a way to configure the API server to use some path prefix, but couldn't find an existing flag that sounds pertinent. It _sounds_ like you (and others) decided here that the API server should not have such a capability, even if clients could respect an API server URL rooted at a path other than the root "/."

Is the idea that server administrators would need to front the

[2018-04-30 20:52] apelisse commented on #39434
We'll probably move that validation to the server while working on server-side apply. @coco98, I'd be more than happy to know more about your use-case though, since I'm not convinced this is the way to go. This thread has been mostly addressed by having the validation done with the openapi. I'm not sure it should be kept open.

[2018-04-30 21:02] lesaux commented on #39420
Still seeing this on GKE as well.
In comparison deleting persistent volumes effectively removes the disks from GCP project.

[2018-04-30 21:16] #55589 closed

[2018-04-30 21:25] emenare opened #63320 "API connection failure does not log out to systemctl or journalctl -u kubelet"
/kind bug

**What happened**:
Error due to failure to connect to openstack cloud provider is not shown in systemctl status or journalctl -u kubelet logs. It can only be seen in the full system journalctl log.

"kubelet-wrapper[14427]: Error: failed to run Kubelet: could not init cloud provider "openstack": Post http://x.x.x.x:5000/v3/auth/tokens: dial tcp x.x.x.x:5000: getsockopt: connection timed

[2018-04-30 21:27] gnufied commented on #59015
/remove-lifecycle stale

[2018-04-30 21:54] scprek commented on #57094
/remove-lifecycle rotten

Interested in GPU information in `Allocated resources`

[2018-04-30 22:29] #63302 closed

[2018-04-30 22:34] Quentin-M commented on #56903
https://github.com/kubernetes/kubernetes/issues/62628

[2018-04-30 22:42] MrHohn commented on #62628
@xiaoxubeii Could you elaborate a bit more on this behavior? Is this a bug in netfilter? Or is this a bug in kube-proxy that it doesn't follow certain standard while using netfilter? Thanks.

cc @bowei

[2018-04-30 22:49] Quentin-M commented on #62628
I am by the way experiencing the same thing. With CoreOS+Weave+CoreDNS/kube-dns, I see constant 5s latency on DNS resolution. tcpdump shows that the first AAAA requests get lost somehow: https://hastebin.com/banulayire.swift. With `single-request` or `single-request-reopen`, the issue is gone.

[2018-04-30 23:16] Quentin-M commented on #62628
Super old netfilter-devel mail https://www.spinics.net/lists/netfilter-devel/msg15860.html may be related?

[2018-04-30 23:26] leifmadsen commented on #58220
I don't know... should we bother with this since 1.10 is released?

[2018-04-30 23:36] j-griffith commented on #38606
I believe this might be achievable using a specific CSI node-server for publish/unpublish.  There would be some plumbing to figure out here, but I think if you ran the node-server in the same Pod as the KVM service you could in fact have the publish function provide the information to KVM rather than have it actually perform the connection (and formatting).

I'm not completely sure about permissio

[2018-04-30 23:38] dvdmuckle commented on #61764
@ypsingh27 check the logs for the `api-server` using `docker logs` while the upgrade is happening. I suspect you might have run into the same issue I did, in which case I'd suggest creating a separate issue.

[2018-05-01 00:02] irees commented on #36499
I've come back to this issue a few time recently. My work would also benefit from better I/O without the complexity of using a local-ssd via hostPath or persistent volume claims to use a PD-SSD.

PD-SSD boot disk would be great; mounting the local-ssd as /var/lib/docker would be even better.

[2018-05-01 00:09] dims commented on #63320
@emenare thanks for the report, kubelet currently fails using `glog.Fatal`:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L238

BUT since you are using kubelet-wrapper which is a wrapper around kubelet, there is a layer of indirection for the logs and you may not be seeing it where you expected it:

https://github.com/coreos/coreos-overlay/blob/master/app-admin/kub

[2018-05-01 00:09] #63320 closed

[2018-05-01 00:09] dims commented on #63320
/sig openstack

[2018-05-01 00:11] msau42 commented on #63317
Can we have an admission controller that checks for this user error?

[2018-05-01 00:13] bgrant0607 commented on #39434
@apelisse

OpenAPI/Swagger-based validation can already be disabled in the client.

With respect to required fields, I would guess that @coco98 may be running into cases where the Go types are used. Go's decoder validates required fields. See also #48564 and #3955

[2018-05-01 00:14] msau42 commented on #36499
@irees please send me an email and I can send you some forms to get whitelisted for PD-SSD boot disk

[2018-05-01 00:14] bgrant0607 commented on #45539
/remove-lifecycle stale
/lifecycle frozen

[2018-05-01 01:11] zhouhaibing089 commented on #62421
I would like to take this. :)

[2018-05-01 01:42] ErickWendel opened #63325 "EncryptionConfig - no matches for kind "EncryptionConfig" in version "v1""
/kind bug
/sig security
**What happened**:
Documentation for [Encryption](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/) is incorrect
**What you expected to happen**:
Model definition correct

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: v1.1

[2018-05-01 02:22] BrendanThompson opened #63326 "AzureFile Mount fails - putting new line between storage account and domain"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When trying to mount an Azure File mount it fails, it looks as though its putting a new line between the name of the Azure Storage Account and the Azure storage domain. There are no new line characters in the secret that holds the account name.

The following is the secret:
[code]

The following is the declaration within

[2018-05-01 02:43] qianzhangxa commented on #2630
@thockin IIUC, Nginx is not just dropping the supplementary groups, it is actually resetting it with what is configured in nginx.conf by calling `initgroups`.

[2018-05-01 03:06] Quentin-M commented on #62628
Also: https://github.com/weaveworks/weave/issues/3287

[2018-05-01 03:16] bgrant0607 commented on #46073
/remove-lifecycle stale
/lifecycle frozen

[2018-05-01 03:29] fgreg commented on #33664
I'm one developer trying to develop an app that can run on an 8 node cluster. My docker image is changing multiple times per day because I change it, build the image, push the image. I'm not going to change the tag every single time because that's a pain. I just push up on my keyboard and rerun the last command and it rebuilds.

Now I want to redeploy my latest image to the kubernetes cluster. Wel

[2018-05-01 04:15] ErickWendel commented on #63325
/sig security

[2018-05-01 04:19] ErickWendel opened #63327 "NetWorking policies examples not working"
/kind bug
/sig network
/sig documentation

**What happened**:
Example from https://v1-10.docs.kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/# isn't working. When I call services before change networking policies, no changes happen

**What you expected to happen**:
Timeout inside pod before changes
**How to reproduce it (as minimally and precisely as possible)**:

Following thi

[2018-05-01 04:33] BrendanThompson commented on #63326
/sig storage

[2018-05-01 04:44] BrendanThompson commented on #63326
/sig azure

[2018-05-01 05:33] sb1975 commented on #54221
kubectl top had been giving error as below
$ kubectl top pod static-web-node1 --containers
Error from server (NotFound): the server could not find the requested resource (get services http:heapster:)
After lot of google and browsing I figured out that I need the Metrics server to tbe running to get the kubectl top
This link was of great help : https://github.com/kubernetes-incubator/metrics-server

[2018-05-01 05:34] andyzhangx commented on #63326
`c2FhdXNucHJkZGV2b3RtCg==` is specified by user, so trim the `\n` is not a good idea in the code.

Another simple way is to use kubectl create secret to create azure-secret, so you won't mess up with `\n`
[code]

@BrendanThompson let me know if you have any question, thanks.

[2018-05-01 05:49] HcgRandon commented on #32749
Without dns on every node I am unable to run my application, or any application that communicates with out of cluster resources in k8s. This is absolutely essential for me.

[2018-05-01 05:52] BrendanThompson commented on #63326
Thanks @xinsnake @andyzhangx !

[2018-05-01 07:45] shubheksha commented on #63296
/sig network
/kind feature

[2018-05-01 07:52] pierreozoux commented on #32749
@HcgRandon I really think that kubernetes is made to be deployed on one region, and if you want mutli region, you should have 2 clusters. I mean, it is the way it was designed, of course, you can bend the rules, but you'll hit other problems.

[2018-05-01 08:27] #40044 closed

[2018-05-01 08:35] k82cn commented on #14188
/lifecycle frozen

[2018-05-01 08:51] mikebryant commented on #63325
Are you trying to use `kubectl apply/create`?

According to https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#encrypting-your-data this isn't an API resource, but the specification for a file you pass to `kube-apiserver` using the `--experimental-encryption-provider-config` flag.

[2018-05-01 08:51] HcgRandon commented on #32749
@pierreozoux k8s advertises itself as planet scale. And if they don't have a solution to this issue I don't think they can continue saying that. At least in my opinion

[2018-05-01 08:56] ianatha commented on #37518
Also stumbled on this (I want my GCE LB to be configured with multiple SSL certificates).

[2018-05-01 09:15] tallclair commented on #62747
@ncdc @DirectXMan12 - mentioned OpenShift controller for generating serving certs, which if upstreamed could be an answer to (3.a), and maybe (2.a) with modification (although I'm not sure how that would work with secrets).

[2018-05-01 09:31] shubheksha commented on #63325
@ErickWendel, this seems like an issue related to docs. Could you please file it in the [docs repo](https://github.com/kubernetes/website/issues/new)?

[2018-05-01 09:48] hellojoshuatonga commented on #56703
I'm also seeing this in `1.9.3`

[2018-05-01 10:07] bboreham commented on #62628
Most of the comments relate to things which will cause intermittent packet loss, but OP seems to be talking about a consistent symptom - every time you do the request it will drop the same packet.

Am I understanding the OP correctly?

I can’t imagine what would cause it to drop the _last_ packet. How would it know it’s the last one?

[2018-05-01 11:27] alyyousuf7 commented on #52434
/remove-lifecycle stale

I'm facing the same issue on v1.10.2

[2018-05-01 11:29] anderspetersson commented on #37518
@ianatha GCE ingress added multiple cert support in 1.1.0, that will be shipped in kubernetes 1.11.

[2018-05-01 11:56] chrissound commented on #53533
This also has an effect that if the memory gets exhausted on the node, it will potentially become completely locked up - requiring a restart of the node, rather than just slowing down and recovering a while later.

[2018-05-01 12:11] dims commented on #61144
cc @strigazi  @openstacker per IRC conversation

[2018-05-01 12:15] lavalamp commented on #18991
Yeah, I think that's an anti-feature. I can't think of a reason to allow it off the top of my head.

I think the idea is some (weird?) proxy situations unavoidably do that and we begrudgingly permit it in the client libraries.

[2018-05-01 12:35] msau42 commented on #50345
This is a known limitation of using subpath with atomic volume types and has been documented.  There is no fix planned.

[2018-05-01 12:45] anuruddhal commented on #57673
Is there a way to set this property on Docker for mac?

[2018-05-01 12:45] Hyper200 commented on #63326
Bumped into this issue today too on our cluster. Can confirm @andyzhangx  command worked.

Is there an easy way to time the /n off the end of the echo for before using base64?

Thanks.

[2018-05-01 12:47] xinsnake commented on #63326
@Hyper200  yes it's `echo -n`

[2018-05-01 12:53] dims commented on #63325
yes please move this as @shubheksha mentioned.

/close

[2018-05-01 12:53] #63325 closed

[2018-05-01 12:57] Hyper200 commented on #63326
Of course it is! Doh!

[2018-05-01 13:21] zhouhaibing089 opened #63331 "kube-proxy stops working and stuck on running iptables command"
We are running on kubernetes v1.8.8. And we found that one of our k8s nodes does not sync new iptables rule any more, basically that means:

1.  If I create a new service, the iptables rule will not be set on that problematic node.
1.  If I delete one service, the iptables rule would still be there.

Here is what I found after `kill -SIGABRT <pid of kube-proxy>`:

[code]

Specifically, the routine

[2018-05-01 13:37] dims commented on #59376
LOL. +1 to `there is something wrong with the registry, docker or the network.` :)

[2018-05-01 13:41] nguyenduybinh commented on #60491
i have the same issue when use kubernetes with cloud provider openstack.
When in my tenant have an instance with the same name with my kubernetes instance, Kubelet can't start.
I rename the instance, kubelet start ok ( openstack instance's name not hostname)

[2018-05-01 13:41] DamonStamper commented on #59376
Sounds like a reason to setup wireshark and monitor traffic. If I get some (ha) time I'll do this and report back.

I'll be looking for a lack of 512kb (KiB?) data transfer inside of a minute. Let me know if I should look for something different.

[2018-05-01 14:05] niahmiah commented on #32929
Just ran into this issue on 1.9.6-gke.1

[2018-05-01 14:08] discordianfish commented on #59376
@dims Sorry for not isolating this further but it confirms that there is an issue causing the pulls to stall. Network is rather unlikely to be the problem though.

[2018-05-01 14:13] dims commented on #59376
@discordianfish not at all, it was just funny. i totally understand it's a very tricky problem to debug or make sense of

[2018-05-01 14:16] dims commented on #59376
@AlexB138 i totally deserved that thumbs down!

[2018-05-01 15:03] dims commented on #59376
@discordianfish what's the docker daemon `max-concurrent-downloads` set to? (default seems to be 3) and  Looks like the serial puller is a max # set to 10 ( https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/images/puller.go#L57)

[2018-05-01 15:31] xandriaw commented on #34406
@iahmad-khan  can you describe what you mean by killall kubelet??

[2018-05-01 15:48] mappedinn commented on #58792
@paolasoto88 I solved the problem by just upgrading kubectl of my GKE cluster from the version `1.7.11-gke.1` to `1.8.6-gke.0` at that time **and** the DNS name will be enough

[2018-05-01 15:57] #63286 closed

[2018-05-01 16:38] iahmad-khan commented on #34406
@xandriaw
Kill all the kublet processes by killall command if u are on linux

[2018-05-01 16:50] #57865 closed

[2018-05-01 17:29] sjenning opened #63336 "kubelet: CRI: return structured errors from CRI calls"
Currently, the CRI does not return any structured errors such that the kubelet code can, for example, distinguish between a "Runtime not available" error or a "Container not found" error.

See https://github.com/kubernetes/kubernetes/pull/63334 for an example.

The kubelet has many paths where a "Container not found" error is no big deal and the error could be treated harmlessly and not logged.  B

[2018-05-01 17:29] sjenning commented on #63336
/sig node

[2018-05-01 17:39] dashpole commented on #63336
cc @Random-Liu

[2018-05-01 17:42] smarterclayton commented on #63336
@bgrant0607 and I discussed, this was a gap in how we set API standards.  I'll take the TODO to get a cross-project recommendation for gRPC APIs together and then we can discuss it in each of the affected sigs (device plugins / CRI for sig node, CSI for sig-storage, encryption for sig-api-machinery).

I think we'll end up with one recommendation for all extensions, not multiple.

[2018-05-01 17:44] smarterclayton commented on #63336
Fortunately CSI thought through some of this:

https://github.com/container-storage-interface/spec/blob/master/spec.md#error-scheme

[2018-05-01 17:45] liggitt commented on #63197
can you provide the full yaml of the pod and node as retrieved from the API?

[code]

is the pod being created directly or via a deployment/replicaset, etc? if directly, can you provide the manifest it is being created from? if from a deployment/replicaset, can you provide the full yaml of the deployment or replicaset?

[2018-05-01 18:26] seh commented on #18991
Yes, for clarification, with an AWS Application Load Balancer (ALB), you can use ["path conditions"](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#path-conditions) to route to different targets based on URL path components, but the ALB _will not_ rewrite these paths.

Hence, if you wanted to use a single load balancer in front of several clusters,

[2018-05-01 18:31] bitglue commented on #23130
This is probably a duplicate of https://github.com/kubernetes/release/issues/469

[2018-05-01 19:10] dchen1107 commented on #63336
@sjenning for filing the issue. +1 on standardizing and uniforming this for all extensions / plugins.

[2018-05-01 19:38] #44811 closed

[2018-05-01 19:54] krmayankk commented on #56682
@bsalamat does this AssumePod issue apply to StatefulSets only or it can happen in Deployment as well. Although i have never seen it occur for Deployment ? Also any fixes in 1.10 ?

[2018-05-01 19:58] jennybuckley commented on #49801
/remove-lifecycle stale

[2018-05-01 20:01] posix4e commented on #55867
Still seeing this in aks 1.8.7

[2018-05-01 20:39] zonepalms91 commented on #39178
I'm seeing this issue as well, but the only workaround when dealing with large clusters across all AZs is to use an EFS mount, which is less than ideal.

[2018-05-01 20:57] nckturner commented on #46442
@rrati I think this is a good separation of concerns.  I also think volume detachment behavior should not be coupled with the ability for kubernetes to differentiate between stopped/suspended and terminated/deleted nodes.

[2018-05-01 21:26] #63218 closed

[2018-05-01 21:37] liggitt commented on #63218
Re-opening until the dependency is fixed in this repo

[2018-05-01 21:50] roycaihw commented on #63218
Sounds good. I will open a PR to bump the kube-openapi vendor version

[2018-05-01 22:01] dpetzold commented on #17512
I authored https://github.com/dpetzold/kube-resource-lister/ to address #3. Here is some sample output:

[code]

[2018-05-01 22:22] Strandedpirate opened #63342 "Where to find the list of docker tags associated with k8s versions?"
I have an Azure ACS deployment of k8s. When upgrading between versions like 1.7.7 to 1.8.1 I read that I'm supposed to update various .yaml files on disk on the master and the nodes.

Where can I find the definitive list of docker tags that are associated to an overall k8s release?

e.g.
kubernetes 1.8.1 =

/etc/kubernetes/addons/kube-tiller-deployment.yaml: image: gcrio.azureedge.net/kubernetes-h

[2018-05-01 22:33] liggitt commented on #63317
how would an out of tree volume plugin enforce this restriction? Shouldn't we try to model surfacing the error using the flows available to CSI plugins, since the in-tree plugins are planned to migrate to that?

[2018-05-01 22:54] dims commented on #63342
@Strandedpirate gcrio.azureedge.net is not maintained in the community, can you please ask on https://github.com/Azure/acs-engine probably?

Thanks,
Dims

/close

[2018-05-01 22:54] #63342 closed

[2018-05-01 23:14] Quentin-M commented on #62628
@bboreham The blog post I linked above explains the issue very well. It's a race condition with conntrack/SNAT. glibc/musl are very good at triggering it when sending A/AAAA lookups in parallel. Using `single-request-reopen` works around the issue by making serializing the queries. One better fix (as documented) is to add `--random-fully` to every MASQUERADE rules (kubelet, kube-proxy, overlay).

[2018-05-01 23:24] dims opened #63343 "Move from docker/docker to moby/moby"
Why are we still using the old github repo?

We probably need to update cadvisor before we can switch over i guess.

[2018-05-01 23:27] jrnt30 commented on #57923
This is very similar to an issue we are experiencing post upgrade to 1.8.11 that changes some of the mount options from RW to RO.  We are using a projected volume to group several disparate secrets/configmaps into a logical volume for the underlying container.

We had fiddled with permissions before but couldn't get things "just right" so we have  been running a `chown` in our entrypoint and the u

[2018-05-02 00:24] depsched opened #63345 "Image locality (scheduler priority function) inflates scheduling latency"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When nodes store more images, each scheduleOne() will check every node's image list, and rebuild a image to image size map. This process can inflate the scheduling latency (the node scoring portion) by as much as 30% according to our measurements.

**What you expected to happen**:

Ideally we should build a map once

[2018-05-02 00:33] dcowden commented on #56903
We experience the same thing. As with Quentin-M, we see the first request most commonly fail.

[2018-05-02 00:37] liggitt commented on #63345
/sig scheduling
/sig scalability

[2018-05-02 00:47] dims commented on #63343
/sig node

[2018-05-02 01:05] jeffrey4l commented on #24957
any news for this?

use `kubectl exec` is not convenience when there  are lots of pod replicates.

[2018-05-02 01:09] HYmian commented on #63190
@msau42
test--0004:
Capacity:
 cpu:                4
 ephemeral-storage:  50441740Ki
 memory:             16243576Ki
 pods:               110
Allocatable:
 cpu:                4
 ephemeral-storage:  46487107508
 memory:             16141176Ki
 pods:               110

test--0006:
Capacity:
 cpu:                4
 ephemeral-storage:  51475468Ki
 memory:             15727708Ki
 pods:               1

[2018-05-02 01:12] dims commented on #58081
@khenidak looks like @dashpole is fixing this with https://github.com/google/cadvisor/pull/1916

[2018-05-02 01:15] dims commented on #54542
/close

[2018-05-02 01:15] #54542 closed

[2018-05-02 01:16] dims commented on #50736
/close

[2018-05-02 01:16] #50736 closed

[2018-05-02 01:24] #10421 closed

[2018-05-02 01:32] krmayankk commented on #26707
Who would this be achieved using CoreDNS (https://github.com/kubernetes/community/pull/1956) ?

[2018-05-02 01:33] krmayankk commented on #32749
Who would this be achieved using CoreDNS (https://github.com/kubernetes/community/pull/1956) ? I believe i hear CoreDNS is one binary, how would we achieve the equivalent of running dnsmasq per node in CoreDNS ?

[2018-05-02 01:35] krmayankk commented on #26707
/area dns

[2018-05-02 01:39] dims commented on #40161
i can conform `bazel build //pkg/... --spawn_strategy=standalone` works

/close

[2018-05-02 01:39] #40161 closed

[2018-05-02 01:44] #44975 closed

[2018-05-02 01:47] dims commented on #35062
@sergei-utinski the `pkg/mount` package is here ... https://github.com/moby/moby/blob/master/pkg/mount/mountinfo_linux.go#L12

[2018-05-02 01:54] ScorpioCPH commented on #59023
/remove-lifecycle stale

[2018-05-02 02:12] smarterclayton commented on #12123
I didn't even think about this until now, but I think we can fix this by using the args termination `--`:

[code]

This would be roughly consistent with `git` and other commands that terminate flag processing at `--`.  This would not be backwards incompatible with our existing commands (`create`, `delete`, `get`, `describe`, `apply`, `replace`).

[2018-05-02 02:51] vikaschoudhary16 commented on #63336
cc @vikaschoudhary16

[2018-05-02 02:53] feiskyer commented on #63336
+1

Containerd's way lgtm, we should probably add a lib for all runtimes.

@smarterclayton @dchen1107 WDYT

[2018-05-02 03:31] ceshihao commented on #63343
I do NOT think it is doable now.

Because you can easily find old repo import everwhere in `moby/moby`, it can not get rid of the old repo.

e.g.
https://github.com/moby/moby/blob/master/api/types/client.go#L8
https://github.com/moby/moby/blob/master/api/types/configs.go#L4

[2018-05-02 03:35] gregkeys opened #63347 "--all-namespaces should work with kubectl set image deployments"
/kind feature

**What happened**:
received the following error `unknown flag: --all-namespaces`

**What you expected to happen**:
I expected all deployments to be updated to the given image:tag across all name spaces

**How to reproduce it (as minimally and precisely as possible)**:
deploy nginx into 2 or more namespaces with a label of `app: nginx` then run the following command
` kubectl set ima

[2018-05-02 03:47] vikaschoudhary16 commented on #63336
+1 for a common lib. Also we should make sure that this part is covered in any gRPC related proposal for example [gRPC based CNI ](https://docs.google.com/document/d/16WBndDxQ3eNTWmGxmZ6_dtzfLIDL-aFq8JkBilgMRHg/edit#heading=h.cygm7rst6ed0)one.

[2018-05-02 03:49] gregkeys commented on #63347
opps wrong repo, sory

[2018-05-02 03:49] #63347 closed

[2018-05-02 04:01] liggitt commented on #61333
you can use a json patch with an "add" operation and a path like "/spec/template/spec/containers/-" to indicate you want to insert an item at the end of the list:

[code]

[2018-05-02 04:57] nilanjan-samajdar commented on #55170
@Theoooooo and @jonduttweiler
I ran into this issue while setting up a Kubernetes Cluster with kubeadm.
The problem occurs because `kubeadm init` generates the `admin.conf`, but does not replace the `admin.conf` file in case it is already present.
Hence, in case the access certificates for the cluster users changed, `kubectl` will continue using the older (redacted) configuration and any Cluster l

[2018-05-02 05:17] zhangtbj commented on #61333
Good idea, Thanks! @liggitt we will try.

[2018-05-02 05:31] JuneZhao opened #63350 "1 of 3 masters is not ready cause cluster not available"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
k8s: v1.7.9

3 masters

one master report not ready

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.7.9
- Cloud provider or hardware configuration: Azure
- OS (e.g.

[2018-05-02 05:48] JuneZhao commented on #63350
@kubernetes/sig-azure-bugs

[2018-05-02 05:48] rramkumar1 opened #63351 "Flaky IPVS Test: [sig-network] Services should have session affinity work for LoadBalancer service with ESIPP on [Slow] [DisabledForLargeClusters]"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The test is flaky with the error something like:

`Could not reach HTTP service through [IP] after 15m0s: <nil>`

**What you expected to happen**:
Test should pass

/assign @Lion-Wei

[2018-05-02 05:48] rramkumar1 commented on #63351
/sig-network
/area ipvs

[2018-05-02 05:49] JuneZhao commented on #63350
@kubernetes/sig-node-bugs

[2018-05-02 05:54] rramkumar1 commented on #58629
/remove-lifecycle stale

[2018-05-02 05:54] rramkumar1 commented on #58640
/remove-lifecycle stale

[2018-05-02 05:58] rramkumar1 commented on #59976
@m1093782566 @Lion-Wei Seems like the fix is in. Can this be closed?

[2018-05-02 05:59] rramkumar1 commented on #57841
@m1093782566 Are you actively working on this? This is something that definitely needs to be fixed before IPVS GA.

[2018-05-02 06:02] smarterclayton commented on #63336
CSI is probably the dominant convention in the project, but containerd's is relevant.  This will be a cross cutting API convention for gRPC style APIs so we'll need to make sure we have consistency.

[2018-05-02 06:03] m1093782566 commented on #59976
yeah，let us close it

/close

[2018-05-02 06:07] rramkumar1 commented on #57841
I think the iptables fix is at #60074

For IPVS we might need to implement a similar change.

[2018-05-02 06:25] onitake commented on #55238
/remove-lifecycle stale

This issue it not something that should be dismissed completely.
While the official Kubernetes documentation now explains how to bootstrap a cluster with the control plane running in pods (see https://kubernetes.io/docs/getting-started-guides/scratch/#bootstrapping-the-cluster ), this may not be the desired setup for everybody.

Would it be possible to inject custom host e

[2018-05-02 06:36] 13567436138 commented on #38923
[code]

I have this error,how to solve?

[2018-05-02 07:47] lavalamp commented on #18991
@seh I would recommend trying a virtual hostname for that use case (surely the LB supports that?), I think there's a chance that you could set it up so the clusters would just work. (You have to somehow get the kubeconfig files the system generates (for pods with api access) to work.)

[2018-05-02 07:49] lavalamp commented on #18991
Actually I'm not sure how you can make that work without also making the proxy do authentication. I think the path and/or virtual hostname is not the hard part of that setup.

[2018-05-02 07:51] dixudx commented on #57144
/remove-lifecycle stale

[2018-05-02 07:57] jsafrane commented on #63300
/assign

[2018-05-02 08:01] m1093782566 commented on #57841
@rramkumar1

I slightly disagree... I don't think this issue is a big deal(it only affect UDP connections) and iptables proxy has the same issue.

[2018-05-02 08:03] xingxingxia commented on #61297
@brendandburns hi, tried to figure out the steps that can reproduce the issue but didn't figure out [1]. I didn't understand what is (and how to prepare) container returns a `malformed tarfile with paths` like '/some/remote/dir/../../../../tmp/foo'. Could you give more detail for me to reproduce? Thx
[1] the steps I tried:
[code]

[2018-05-02 08:15] ChrisTerBeke commented on #59117
/remove-lifecycle stale

[2018-05-02 08:30] depsched opened #63354 "Image locality (scheduler priority function) misses untagged image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The default behavior of docker is when someone runs "docker pull" an image, when the tag is not specified (e.g., nginx), the latest build tag (":latest") is assumed and appended to the image (e.g., nginx:latest). In k8s, the node only reports the image name with the ":latest" tag appended, and hence when users do not

[2018-05-02 08:33] astefanutti commented on #56523
@tallclair I think the Kubelet's stats API issue #56297 should be fixed (PR is available #62544), as the current work-around is to fallback on the cAdvisor port.

[2018-05-02 08:39] Random-Liu opened #63355 "e2e-image-puller doesn't work anymore."
The docker binary we use in COS and most images is dynamically linked.
[code]

It won't work if we directly mount it into busybox, which is what we are doing in e2e-image-puller https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/manifests/e2e-image-puller.manifest#L105.

Here is the e2e image puller log:
[code]

I believe this has been broken for a long time. Given that the e2e test

[2018-05-02 08:49] tossmilestone commented on #63345
We could use `NodeInfo` in `schedulercache` to cache the image size result, if no one is working on this issue, I could take it if there is a conclusion.

[2018-05-02 09:01] Random-Liu commented on #63355
Another option is to make `crictl` statically built, and use `crictl` instead.

[2018-05-02 09:09] choury opened #63356 "client-go should ignore the ResourceVersion of DELETE event when watching"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The ResourceVersion of DELETE event is not the current version, and may be a far early one. If using it to re-watch [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/cache/reflector.go#L394), some events will be received repeatedly.

In some case, kube-scheduler's cache can be

[2018-05-02 09:14] choury commented on #63356
@kubernetes/sig-api-machinery-bugs @kubernetes/sig-scheduling-misc

[2018-05-02 09:37] vineetchawla commented on #58748
I am having the same issue with my k8s deployment. And i have been able to reproduce it multiple times. Here is my code:
[code]

[2018-05-02 09:55] CaoShuFeng opened #63359 "[CustomResourceSubresources] document and codes are not the same"
the [doc](https://github.com/kubernetes/kubernetes/blob/ed9b25c90241b2b8a1fa10b96381c57f99ca952a/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/types.go#L168) said:
[code]

However the [codes](https://github.com/kubernetes/kubernetes/blob/ed9b25c90241b2b8a1fa10b96381c57f99ca952a/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/status_strategy.go#L42) are di

[2018-05-02 09:58] ShualLiu opened #63360 "golang1.10.1 build kube-scheduler has some trouble"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I use golang1.10.1 to build kube-scheduler(using make kube-scheduler in kubernetes), a scheduler will be crashloopbackoff in cluster. But It's ok using golang 1.9.6.[configure-multiple-schedulers](https://v1-8.docs.kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/)
**I'm confused  it  was a g

[2018-05-02 10:16] xiaoxubeii commented on #62628
@MrHohn @bboreham @Quentin-M I think the problem that i met is about race condition on
conntrack insertions. I used the node as the gateway, so it would redirects packets from pods to services. When iptables sets:
[code]
and we send DNS requests in pods, the second DNS requests would be received while the first one is still not confirmed and both DNS requests would have an unconfirmed conntrack. S

[2018-05-02 10:25] verb commented on #24957
It's not an API for signaling, but [signaling across containers in a pod](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/) is available as an alpha feature in 1.10, which could enable sidecars.

You can follow along and give feedback in kubernetes/features#495

[2018-05-02 10:28] AishSundar opened #63361 "Failing test : [sig-testing] Deferred TearDown failing a number of jobs in sig-release-master-blocking and master-upgrade"
## Failing Job
* [gci-gke](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke) ([Triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gke))
* [gke-device-plugin-gpu](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-device-plugin-gpu) ([Triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubern

[2018-05-02 10:34] dims commented on #63343
Yikes! @ceshihao

[2018-05-02 10:34] AishSundar commented on #63030
I still see these failing consistently. https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance

[2018-05-02 10:49] dims commented on #58081
/close

[2018-05-02 10:49] #58081 closed

[2018-05-02 10:50] dims commented on #57799
/close

duplicate of #58081

[2018-05-02 10:50] #57799 closed

[2018-05-02 10:54] dims commented on #63204
/status approved-for-milestone

[2018-05-02 11:04] discostur commented on #62999
Ok, thanks for your help. I switched the "serviceName" from my deployment to the same as my headless service and now it is working!

[2018-05-02 11:04] #62999 closed

[2018-05-02 11:08] DylanGraham commented on #60134
You can re-import the keys:
`rpm --import https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg`

[2018-05-02 11:18] adelton opened #63363 "kubectl describe on nonexistent pod results in error: another mapper was already selected, cannot use unstructured types"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I run

[code]

and I got

[code]

Running with `--v=9` shows

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

With Kubernetes master branch
[code]

and in different terminal on the same machine

[code]

**Anything else we need to know?**:

**Environment

[2018-05-02 11:29] pjanuario commented on #30645
In my particular case I have a cronjob who store some data into a PVC once in a while I need to access the PVC and there by would be useful to use kubectl run command to create a pod with a PVC mounted.

[2018-05-02 11:38] Theoooooo commented on #55170
@nilanjan-samajdar
Hmmmmm i think about this issue later but i didn't have access anymore to my cluster. school is over ^^
Well thank you for the solution. I'm gonna write it somewhere in my brain because i have a funny feeling i will encounter this issue when i will make a kubernetes cluster again :D

[2018-05-02 11:39] lavalamp commented on #63356
@cheftako @wenjiaswe

[2018-05-02 12:28] msau42-tmp commented on #61076
@hightoxicity can you post your pod spec?

[2018-05-02 12:31] CaoShuFeng commented on #63359
/cc @sttts for some suggestions.

[2018-05-02 12:38] dpoison commented on #27436
@keontang Any update? Can you share your doc?

[2018-05-02 12:39] discordianfish commented on #63018
@ConnorDoyle "Good" news, problem just re-appeared - this time on two nodes. Here is one:

cpu_manager_state:
[code]

One of the containers doesn't exist at all and another one is exited:
[code]

Here is the state field from `docker describe` for the exited container:
[code]

It has "io.kubernetes.pod.name": "koko-intelligence-74f64b7c59-np2zh", set and according to k8s this pod is still running o

[2018-05-02 12:49] enibache commented on #42282
so what gets edited if you delete the svc? weird response...

[2018-05-02 12:50] discordianfish commented on #63018
Oh and it's indeed running, now in container `16bf35ba58c9` which is also properly accounted for in the state file.

Now regarding the non-existent container, I also see it in the kubelet log:
[code]

Looks like this belongs to koko-gateway-track-659d9c47d8-6mljm, which doesn't exist anymore. But most likely because it just got gracefully removed eventually.

Maybe some race condition preventing i

[2018-05-02 13:01] alexgiuvara commented on #42282
@enibache good observation! Delete the service and redeploy the correct version

[2018-05-02 13:18] msau42-tmp commented on #63190
cc @jingxu97

[2018-05-02 13:27] ErickWendel commented on #63325
thank you guys, is about `kube-apiserver` isn't flags :D

[2018-05-02 13:33] AishSundar commented on #63361
/milestone v1.11

[2018-05-02 13:35] AishSundar commented on #63361
/status approved-for-milestone

[2018-05-02 13:38] bengland2 commented on #63183
@xiaoxubeii , how would this work?  For example, how do you put the initial contents of the RBD volume on it if it is in the ReadOnlyMany access mode?     How would you use this feature?  As a cheap way of sharing files across a Kubernetes cluster?   I'm just interested.  -ben england

[2018-05-02 13:48] DirectXMan12 opened #63365 "Review HPA v2 Metrics Spec Merge Patch Strategy"
Looks like we don't have a mergeStrategy tag set on the HPA `metrics` field, meaning we get the default replace behavior.  We should probably have the merge behavior instead, so that you can easily add metrics to the list.

cc @kubernetes/sig-autoscaling-feature-requests

[2018-05-02 13:49] DirectXMan12 commented on #63365
/assign @DirectXMan12
/kind feature
/priority backlog

[2018-05-02 14:14] ConnorDoyle commented on #63018
This is awesome info @discordianfish — thanks for updating. I won’t have time to look at this immediately, but perhaps @balajismaniam can help trace it. I suspect some kind of race in reconcileState.

[2018-05-02 14:18] hansmi commented on #61297
@xingxingxia Red Hat's OpenShift product was also affected by this and comparable issues. I'll be publishing the proof-of-concept code at <https://hansmi.ch/articles/2018-04-openshift-s2i-security> on May 4, 2018.

[2018-05-02 14:26] wjrogers commented on #48219
I just encountered this issue on a kubeadm cluster version 1.10.1 after editing `/etc/kubernetes/manifests/kube-apiserver.yaml` with vim. Symptoms look the same as the earlier reports. Writing the file back out with nano brought the kube-apiserver pod back up immediately. (Guess `touch` would have had the same effect?)

[2018-05-02 15:07] redbaron commented on #23720
/remove-lifecycle stale

[2018-05-02 15:09] bclau opened #63366 "DNS tests may pass if DNS not configured or unreachable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig testing

**What happened**:

Tests checking DNS responses can have false positives, such as "should provide DNS for services".

The tests rely on dig-ing certain domain names [1]:

     test -n "$(dig +notcp +noall +answer +search kubernetes.default A)" && echo OK > /results/wheezy_udp@kubernetes.default

The problems could be that, if

[2018-05-02 15:34] cberner opened #63368 "Slow kubectl after 10min"
**What happened**: kubectl is very slow when its cache is cold, especially when communicating with an apiserver which has high latency (e.g. on another continent). I've observed almost 10x longer response time for the first request compared with subsequent requests.

**What you expected to happen**: Requests should have lower variance in response time. Two ideas:
1) batch fetching of schema for ca

[2018-05-02 15:41] cberner commented on #63368
/sig cli

[2018-05-02 15:47] balajismaniam commented on #63018
Thanks for the info @discordianfish. I will take a look at this.
/assign

[2018-05-02 16:02] smarterclayton commented on #62421
This really needs a proposal, the implications are fairly significant.  This is not a pure backwards compatible change from a consumer perspective (people reading secrets) and could lead to broken applications or broken security tooling.

[2018-05-02 16:41] ceshihao commented on #63363
/sig cli

[2018-05-02 16:44] george-angel commented on #62538
Update, managed to consistently reproduce this issue now. The original time frame comes from us restarting etcd-member services and kubelets (masters and workers) every 6 hours.

As an `ExecStartPre` step, we create *new* certificates via a csr request to a cfssl server.

To produce the issue, we simply restart all our etcd-member services, they come up with new certificates. And immediately start

[2018-05-02 16:46] ozzieba opened #63371 "Updating a cronjob causes jobs to be scheduled retroactively"
/kind bug

**What happened**:
When updating a cronjob, the schedule takes effect retroactively, meaning "missed" jobs from before the update are started
**What you expected to happen**:
The new schedule only takes effect from the time of the update
**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
Looks like the culprit is at https://gith

[2018-05-02 16:47] macb commented on #23130
https://github.com/kubernetes/release/issues/469 would resolve this issue. Seems difficult for this to be a duplicate given it was reported 1.5 years earlier :wink:

[2018-05-02 17:09] depsched commented on #63345
@tossmilestone We actually did this fix and are submitting a PR by tomorrow :)

[2018-05-02 17:16] tossmilestone commented on #63345
@depsched that's all right

[2018-05-02 17:37] Quentin-M commented on #62628
Yes, this is exactly what's described there: https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02. AFAIK, real solution would be to patch kubelet, kube-proxy and the overlay networks (flannel, weave, calico, etc), adding `--random-fully` to the MASQUERADE rules.

But I agree that your patch, while slowing down DNS lookups a little (well it's not as b

[2018-05-02 17:44] wenjiaswe commented on #63356
I think this issue is already fixed with #58547. Apiserver watch cache filtering is returning the previous object content, but with the event's resource version is set correctly. cc @roycaihw for confirmation. THanks!

[2018-05-02 20:05] akochnev commented on #53881
I just ran into this issue with VirtualBox, and without minikube.

[2018-05-02 20:06] dashpole commented on #48843
/remove-lifecycle stale

[2018-05-02 20:29] dims commented on #43634
if we ever want to add a ping/status test for etcd3 ... http://paste.openstack.org/show/720249/

[2018-05-02 20:47] liggitt commented on #63363
/assign @deads2k

[2018-05-02 21:11] liggitt commented on #62786
xref https://github.com/kubernetes/kubernetes/issues/63359

[2018-05-02 21:17] sttts commented on #63359
/assign @nikhita

[2018-05-02 21:32] bboreham commented on #62628
It’s great you are all agreed what is the cause, but still: a race condition would randomly cause or not cause the problem.

So, was it consistent - happened every tome, or occasional - sometimes happened?

[2018-05-02 21:48] deads2k commented on #62786
This seems like a good idea to me.

Tidy up that referenced issue first though.

[2018-05-02 21:49] ixdy opened #63378 "verify-openapi-spec.sh frequently hanging in CI"
Many PRs have been failing due to the `pull-kubernetes-verify` job timing out.

It looks like both PR and CI jobs are affected:
http://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-verify&width=5&graph-metrics=test-duration-minutes
http://k8s-testgrid.appspot.com/sig-release-master-blocking#verify&width=20&graph-metrics=test-duration-minutes

The failures aren't consisten

[2018-05-02 21:49] ixdy commented on #63378
/sig testing
/sig release

[2018-05-02 21:51] Quentin-M commented on #62628
Fair point. I wonder if something like [this](https://lists.gt.net/iptables/user/58177) may be happening instead? I am not that familiar with networking to be able to tell.

[2018-05-02 21:59] Quentin-M commented on #62628
Fair point. I wonder if something like [this](https://lists.gt.net/iptables/user/58177) may be happening instead? I am not that familiar with networking to be able to tell.

[2018-05-02 22:07] ixdy commented on #63378
ok, this is suspicious: I added a `ps ax` to the end of `hack/verify-openapi-spec.sh`, and it shows a kube-apiserver still running:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-verify/89061/?log#log
[code]

This is despite `update-openapi-spec.sh` theoretically killing the apiserver:
https://github.com/kubernetes/kubernetes/blob/0d43bdec2b8598ff542

[2018-05-02 22:26] ixdy commented on #63378
maybe we're missing some flags in
https://github.com/kubernetes/kubernetes/blob/0d43bdec2b8598ff542a1afdee876d417b4e7668/hack/update-openapi-spec.sh#L58-L70
?

[2018-05-02 22:36] rphillips commented on #63378
I'll look into it tonight.

[2018-05-02 22:37] yliaog commented on #62538
what are you running in the k8s cluster? don't understand why etcd would be 'immediately' overloaded

[2018-05-02 22:47] ixdy commented on #63378
per discussion on slack, I think we want to revert #58474 to attempt to get CI healthy again: https://github.com/kubernetes/kubernetes/pull/63380

[2018-05-02 23:18] rphillips commented on #63378
https://github.com/rphillips/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/signal.go#L36-L39

Does the stop channel need to be propagated to the lease reconciler? On a TERM, the shutdown is blocking on the second channel read.

[2018-05-03 00:13] bgrant0607 commented on #54256
This issue isn't being used.

/close

[2018-05-03 00:13] #54256 closed

[2018-05-03 00:16] jaxxstorm commented on #60807
I'm also seeing this too, on a cluster upgraded from 1.8.4 to 1.9.6. I don't even know what logs to look at

[2018-05-03 00:28] cblecker commented on #57617
Reopening as this was reverted in https://github.com/kubernetes/kubernetes/pull/63380

[2018-05-03 00:34] dims commented on #63371
/sig apps

[2018-05-03 00:35] dims commented on #63360
/sig scheduling

[2018-05-03 00:57] krmayankk commented on #59867
/area stateful

[2018-05-03 01:04] #62059 closed

[2018-05-03 01:27] feiskyer commented on #56751
Yep, supported plugins have been listed https://github.com/kubernetes/kubernetes/issues/56751#issuecomment-361118099. Let's close the issue.

/close

[2018-05-03 01:28] #56751 closed

[2018-05-03 02:14] liggitt commented on #63378
figured out the issue.

after the signal-driven stop channel is closed, the apiserver runs pre-shutdown tasks before exiting (and waits for them to complete):

https://github.com/kubernetes/kubernetes/blob/4558e419bc3f084c0f5106180f14fb4831c8f153/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go#L260-L265

one of those tasks is a blocking task to call the active reconciler's StopReconcil

[2018-05-03 02:16] JuneZhao commented on #63350
Paste log from kubelet on master 0
Apr 29 21:56:27 k8s-master-25537073-0 docker[7368]: E0429 21:56:27.289224    7451 kubelet.go:1234] Image garbage collection failed once. Stats initialization may not have completed yet: unable to find data for container /
Apr 29 21:56:27 k8s-master-25537073-0 docker[7368]: I0429 21:56:27.289549    7451 kubelet_node_status.go:247] Setting node annotation to enable

[2018-05-03 02:17] ixdy commented on #63378
Would a better fix be to update the script to wait for the apiserver to exit?

[2018-05-03 02:27] liggitt commented on #63378
we can do both, but if circumstances beyond our control mean etcd is dead, the apiserver should still be well-behaved

[2018-05-03 02:36] xiaoxubeii commented on #62628
@Quentin-M I am not sure which one causes this problem, `conntrack` in `KUBE-FORWARD` or MASQUERADE rules, because in my case, they all exist. And when i remove `conntrack` from `KUBE-FORWARD`, the problem is gone (or only alleviated).

@bboreham In my case, it is consistent. It always drop AAAA packet.

[2018-05-03 02:36] ahakanbaba commented on #23013
We ran into this problem with v1.6.13

The instructions in the [comment](https://github.com/kubernetes/kubernetes/issues/23013#issuecomment-296596687) make the daemonset pods start at all nodes. But even after a delete and recreate, I think the DaemonSet is still left in a wrong state

[code]

Even though all the pods have started daemonset thinks there are 0 desired replicas.

[2018-05-03 02:46] liggitt commented on #63378
Opened https://github.com/kubernetes/kubernetes/pull/63383

[2018-05-03 03:03] SammyMj commented on #60957
when I first started k8s and the node,i encounter this problem too.I try kubectl get node,it stucked and then timeout.
the output is "Error from server (Timeout): the server was unable to return a response in the time allotted, but may still be processing the request (get nodes)"

[2018-05-03 03:04] zjj2wry opened #63384 "Can't compile kubectl with master branch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli

**What happened**:
Can't compile kubectl with master branch, I think it was because generated bindata was deleted, so compiling failed
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2018-05-03 03:06] zjj2wry commented on #63384
https://github.com/kubernetes/kubernetes/pull/62432

[2018-05-03 03:11] CaoShuFeng commented on #63359
Made a pull request:
https://github.com/kubernetes/kubernetes/pull/63385

[2018-05-03 03:41] #62920 closed

[2018-05-03 03:52] liggitt commented on #63384
Use ‘make WHAT=cmd/kubectl‘ to ensure prerequisite generated files are built

[2018-05-03 03:52] #63384 closed

[2018-05-03 05:33] #63361 closed

[2018-05-03 05:33] krzyzacy commented on #63361
looks healthy now

[2018-05-03 06:00] alexindigo commented on #60099
We have use case, some apps (libs) try to pass _all available_ environment variables further downstream via arguments, and when we get to a certain number of containers in the cluster, it'd start to crash with `E2BIG` and we're unable to start any new container. So ability to disable it will go a long way. Thank you.

[2018-05-03 06:01] lwsbox opened #63389 "/run/secrets/kubernetes.io/serviceaccount is not exited in docker container"
**Kubernetes version** : V1.9.1
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d55f812", GitTreeState:"clean", BuildDate:"2018-01-04T11:52:23Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d55f812",

[2018-05-03 06:12] #56766 closed

[2018-05-03 06:19] lwsbox commented on #63389
/kind bug

[2018-05-03 06:24] 13567436138 commented on #38923
solved

[2018-05-03 06:25] derekwaynecarr commented on #46442
Is this expected to reach a conclusion as part of the 1.11 milestone?

[2018-05-03 07:02] Anumita commented on #61710
Is there any update on this? The same file is not working with a 1.4.6 version as well. Is there some specific way in which we need to specify the key value pairs in a config map using the file method?

[2018-05-03 07:06] george-angel commented on #62538
Its basically an empty cluster apart from a few monitoring/logging agents. But that is a moot point, I suspect api-server is hanging on to connections in http2/grpc and tries to re-auth with the endpoint, which now has a different cert.

[2018-05-03 07:08] #63226 closed

[2018-05-03 07:31] mdianjun opened #63390 "How to remove PodCIDR of node?"
Is there any way to remove PodCIDR of a node except deleting the node and rejoining it to the cluster? I had changed --allocate-node-cidrs from true to false in kube-controller-manager.yaml, but some nodes had been assigned PodCIDR.

[code]
/kind feature

sig/node

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything el

[2018-05-03 08:24] K7king opened #63391 "Netperf Results show same bandwidth for Bare Metal VMs and Cluster nodes ?"
/kind question
/sig scalability
/sig node

**What happened**:
We deployed K8s on AWS with m4.large as VM type.
We ran [netperf test](https://github.com/kubernetes/perf-tests/tree/master/network/benchmarks/netperf) on Kubernetes cluster nodes and also on Bare Metal EC2  instances. Both results have the same bandwidth of 536Mbits/sec for MSS of 1440.

**What you expected to happen**:
     Since Kube

[2018-05-03 08:39] 13567436138 opened #63393 "Failed to pull image "192.168.1.225:5000/youben/data-transfer:1.0-SNAPSHOT":"
[code]

when I use command docker pull 192.168.1.225:5000/youben/data-transfer:1.0-SNAPSHOT
I can pull the image ,why here the error

[2018-05-03 08:49] #63363 closed

[2018-05-03 09:01] mumu2lili opened #63394 "--experimental-qos-reserved=memory=50% can not run kubelet"
**What happened**:
kubelet --experimental-qos-reserved=memory=50% can not run kubelet

**What you expected to happen**:
error: failed to run Kubelet: percentage expected, got '50',
kubelet can not run !

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Allocatable = capacity - system reserved - kubelet reserved - evict_hard，
If i do not want to

[2018-05-03 09:04] ruanchen commented on #56972
I face the same problem, when i use glusterfs as a storage,the log like this:

[root@k8s-test-bk-1 ~]# kubectl get svc | grep fastdfs-group0
glusterfs-dynamic-storage-data-fastdfs-group0-storage0-0   ClusterIP   10.254.207.133   <none>        1/TCP                           2h
glusterfs-dynamic-storage-data-fastdfs-group0-storage0-1   ClusterIP   10.254.234.38    <none>        1/TCP

[2018-05-03 09:09] mumu2lili opened #63395 "How to limit POD resources without limiting the resources for system services？"
**What happened**:
Allocatable = capacity - system reserved - kubelet reserved - evict_hard。
If set system reserved， system services‘resources is limited too。

**What you expected to happen**:
I only want to limit pods'resources，How to do ?

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:  1.9
- Kubernetes version (use `kubec

[2018-05-03 09:29] jsravn commented on #57841
I believe this affects TCP connections as well, since it immediately removes the IPVS entry as I described. iptables doesn't have this problem (except for UDP).

[2018-05-03 09:33] Vogtinator commented on #58217
Major 0 is used by the linux kernel for mountpoints which do not actually have a direct backing device. This applies to tmpfs, nsfs, overlayfs and also btrfs subvolumes for example.

[2018-05-03 09:41] dixudx commented on #63393
@13567436138 It seems your image `192.168.1.225:5000/youben/data-transfer:1.0-SNAPSHOT` is stored in a private registry. Please follow this guide to [configure the pod that uses your docker credentials](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/).

[2018-05-03 09:45] dixudx commented on #63390
@mdianjun You can try to `kubectl edit node kc-bcc-pod24-10-196-108-10.hadoop.jd.local` and manually remove that attribute.

[2018-05-03 09:56] sttts commented on #63359
Is the documentation wrong or the implementation? I think there was a longer discussion about the correct behaviour in the PR, but haven't found it yet.

[2018-05-03 10:01] CaoShuFeng commented on #63359
It strange that other parts rather than metadata and spec can be modified and they are *not validated*.
So I think the implementation is wrong, at least.

[2018-05-03 10:02] #63395 closed

[2018-05-03 10:16] voor commented on #58217
I wonder if it's a selinux issue with the mounting of the volume, then?

[2018-05-03 10:34] mdianjun commented on #63390
@dixudx  It's forbidden.

[code]

[2018-05-03 10:35] CaoShuFeng commented on #63359
We should follow the design doc, I think.
https://github.com/kubernetes/community/blame/master/contributors/design-proposals/api-machinery/customresources-subresources.md#L153

[2018-05-03 10:37] 13567436138 commented on #63393
thanks anyway

[2018-05-03 10:37] #63393 closed

[2018-05-03 10:40] 13567436138 opened #63396 "spring boot app can not startup in kubernetes ,the log is only printed a little of entire"
[code]

[code]

[root@node1 data-transfer]# kubectl get pod
NAME                                            READY     STATUS    RESTARTS   AGE
data-transfer-web-8596955dc9-mdcdw              0/1       Running   20         1h
nginx-ingress-controller-658567f55-95fcx        1/1       Running   0          2h
nginx-ingress-default-backend-65fb4fd97-wvjnj   1/1       Running   0          2h

[2018-05-03 11:29] meeee commented on #61999
We have the same issue (`du` burning the EBS disk burst balance).

It only appears on nodes with high memory usage, so my current theory is this: When the kernel's disk cache can no longer hold the filesystem metadata `du` regularly reads, the reads go to the EBS volume, which is significantly slower and results in the `du and find on following dirs took` log messages appearing. As soon as the EBS

[2018-05-03 11:31] Miouge1 commented on #63197
Sure.
- [kube-master-1](https://pastebin.com/2dB0Lh7V)
- [example of pod](https://pastebin.com/1giNTLj3)

This is happening on all master nodes.

[2018-05-03 11:32] zaichegk opened #63397 "restarting the pod without rebuilding"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig pod
/close

**What happened**:
There is a pod with GNU bash, version 4.4.12 (1) -release (x86_64-pc-linux-gnu) inside and the application on it, which, after entering the registration key, requires a system reboot. The problem is that after rebuilding the hearth, we return back to the time the key is entered and no activation occurs

[2018-05-03 11:37] ianjuma commented on #62393
What do you mean by removing billing from the artifact bucket?

[2018-05-03 12:01] SEJeff commented on #59478
@pingpilot mind putting your examples in a gist or somewhere? $employer blocks pastebin (and we ran into what appears to be an identical or very similar bug deploying a few new rook objects to a 1.9.4 cluster.

[2018-05-03 12:03] Vogtinator commented on #58217
These might actually be different errors:

`Fail to get rootfs information failed to get device for dir /var/lib/kubelet` vs.
`Fail to get rootfs information unable to find data for container /`.

I don't think so.

[2018-05-03 12:25] pingpilot commented on #59478
@SEJeff sure, here you are:
[kube-apiserver.yaml.txt](https://github.com/kubernetes/kubernetes/files/1970799/kube-apiserver.yaml.txt)
[tools.yaml.txt](https://github.com/kubernetes/kubernetes/files/1970800/tools.yaml.txt)
[CRD.diff.txt](https://github.com/kubernetes/kubernetes/files/1970803/CRD.diff.txt)

[2018-05-03 12:34] pwittrock commented on #63368
Is this the discovery service cache?  An easy thing to do would be to make the expiration time for the cache configurable with an environment variable.  (e.g. don't expire the cache when you startup unless it is N minutes old).  For the openapi data we use etags for caching the OpenAPI and use compressed proto binary for serialization which was a dramatic improvement.  AFAIK Discovery Service has

[2018-05-03 12:53] liggitt commented on #63365
changing the strategy to `merge` means new clients will send partial results to an n-1 server which would then replace the entire list, dropping all items that weren't sent

[2018-05-03 12:54] liggitt commented on #63356
yes, this is the same issue as https://github.com/kubernetes/kubernetes/issues/58545 which was fixed in 1.7+

can you verify your apiserver version?

[2018-05-03 13:05] jhorwit2 commented on #58931
/remove-lifecycle stale

[2018-05-03 13:06] choury commented on #63356
The version we using is 1.8.5, I found the fix in 1.8.8 , we will upgrade to 1.8.12 to check it .

[2018-05-03 13:32] walteraa commented on #62393
@ianjuma for some reason(which I don't know), the fact I have enabled a Billing in my storage which stores the images(artifacts.${PROJECT_NAME}.appspot.com) for any reason made impossible to pull images in my kubernetes cluster.

When I disabled the billing in the artifact which stores my images, it works normally. It sounds strange to me, but works...

[2018-05-03 14:02] liggitt commented on #63197
can you check if kubespray is setting up a custom scheduler policy in the kube-scheduler manifest:

https://github.com/kubernetes-incubator/kubespray/blob/master/roles/kubernetes/master/templates/manifests/kube-scheduler.manifest.j2#L31-L34

if it is, it appears the policy it is using is woefully out of date:

https://github.com/kubernetes-incubator/kubespray/blob/master/roles/kubernetes/master/te

[2018-05-03 14:29] liggitt commented on #62094
I think this would probably be addressed as part of https://github.com/kubernetes/kubernetes/pull/59851

[2018-05-03 14:41] hjacobs commented on #51135
@vishh recommends to set the Kubelet flag `--cpu-cfs-quota=false` to disable CPU quota.

[2018-05-03 15:02] Miouge1 commented on #63197
Aha! indeed I have `volume_cross_zone_attachment: true` so it will pass this scheduler flag. DO you know where I can find the latest default scheduler policy?

[2018-05-03 15:12] bowei commented on #32749
@HcgRandon the usual answer to multi-regional deployments is to have multiple clusters (see https://github.com/kubernetes/community/tree/master/sig-multicluster).

[2018-05-03 15:14] bowei commented on #32749
@krmayankk the difficulty is a nice portable way (i.e. within the Kubernetes API) to express "contact the service backend closest to me (e.g. localhost)"

[2018-05-03 15:16] pomodroizer commented on #58736
If you go to your Kubernetes cluster (in the web page https://console.cloud.google.com/kubernetes/list) and click `connect`, it will prompt you with the correct command:
`export CLOUDSDK_CONTAINER_USE_V1_API_CLIENT=false && export CLOUDSDK_CONTAINER_USE_V1_API=false && gcloud beta container clusters get-credentials <PROJECT_ID>-gke-cluster --region europe-west2 --project <PROJECT_ID>`

[2018-05-03 15:52] akonkol commented on #62204
I have also experienced this same issue luckily we have a very strict iam policy for k8s in aws and did not give the controller access to delete the 'extra-security-group` we specified in the annotation.  There also seems to not be a try/catch around deleting security groups when deleting ELBs.

The flow looks like the following:
1) Fetch security groups associated with ELB
2) For each security gr

[2018-05-03 16:11] yokomotod commented on #61168
I am facing the same issue on GKE with v1.9.6-gke.1

[2018-05-03 16:12] 2rs2ts commented on #62204
I believe the solution should be to only have k8s try to delete security groups that it has ownership tags for.

[2018-05-03 16:49] divyenpatel commented on #62542
@nitram2k have you enabled vSphere Cloud Provider on your cluster?
Please follow instructions mentioned in following link to enable vSphere Cloud Provider on the Kubernetes Cluster.

https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html#enabling-vsphere-cloud-provider

Are you using `provisioner: kubernetes.io/vsphere-volume` in your storage class?

[2018-05-03 16:59] dims commented on #63396
if you are trying to see what's wrong in your app, then another thing you can try is to use `docker logs` on the container directly.

/close

[2018-05-03 16:59] #63396 closed

[2018-05-03 17:03] dims commented on #63394
please try adding `"` like so `kubelet --experimental-qos-reserved="memory=50%"` to be sure that the shell does not try to do something with the `%`

[2018-05-03 17:03] dims commented on #63394
/close

[2018-05-03 17:03] #63394 closed

[2018-05-03 17:17] #61939 closed

[2018-05-03 17:26] liggitt commented on #58002
this error is resolved by https://github.com/kubernetes/kubernetes/pull/63146

[2018-05-03 17:32] liggitt commented on #63164
TLS bootstrapping where the cluster CA is used to sign certificates is only implemented for client certificates (kubelet -> apiserver) in 1.10. The issues you are encountering are with the serving certificate used by the kubelet.

It is with the kubelet. Did you provide the kubelet with a serving certificate via the `--tls-cert-file` flag which is signed by the CA given to the apiserver with the `

[2018-05-03 17:41] markfermor commented on #63263
might be more appropriate for comment from @kubernetes/sig-network-feature-requests

Have got something working for now in test - using initContainer and volume which dynamically updates resolv.conf and then volume mounts the changes overwriting the resolv.conf in the main container runtime (mentioning for info).

[2018-05-03 18:58] cberner commented on #63368
I'm not familiar with the code base, but from my reading of related issues it does sound like it's the "discovery cache"

[2018-05-03 19:25] #56803 closed

[2018-05-03 19:58] Miouge1 commented on #63197
Thanks @liggitt I've opened a PR in kubespray to get the default updated. I'll close this issue since this is a kubespray problem.

[2018-05-03 19:58] #63197 closed

[2018-05-03 20:28] yliaog commented on #62538
i guess it could be a bug in the grpc client library, just to confirm, you don't see any problem if you don't restart etcd or change its certs in any way.

[2018-05-03 20:39] rongou commented on #57709
Doing this before `kubeadm init` worked for me:
[code]

[2018-05-03 20:41] #23297 closed

[2018-05-03 20:43] rongou commented on #61277
For me the problem was etcd tried to bind to the ip address looked up through `localhost.somedomain`. Commenting out the search line in `/etc/resolv.conf` worked:
[code]

[2018-05-03 20:53] emptyewer commented on #60884
same issue with 1.10.1 on ubuntu 16.04

[2018-05-03 21:39] dims commented on #60884
Looks like this is a kubeadm scenario. Can you please use `docker logs` to look at logs from any failed apiserver container?

[2018-05-03 22:05] emptyewer commented on #60884
[code]

[2018-05-03 22:10] dims commented on #60884
so looks like it is still running ... next step is to check if the ip it is listening on ok. `sudo lsof -i :6443`, kubelet is trying to contact apiserver ip/port and we need to make sure the `lsof` reflects the ip/port. You can also do `docker inspect` on the api server container to check what you see there

[2018-05-03 22:13] emptyewer commented on #60884
actually when I look at the `docker ps` output, the apiserver is not running. `journalctl` is listed below

[code]

[2018-05-03 22:25] dims commented on #60884
right, we need to figure out why the api server container failed by looking at its logs. (the journalctl from kubelet is saying that it cannot talk to api server)

[2018-05-03 23:38] MarkDeckert commented on #56850
@ttarczynski
This fix doesn't automatically work in CentOS when using the default docker from centos/rhel repo.  Apparently it differs from the upstream docker from Docker, Inc's own repo.

You'll get this error:
`failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"`

In order for this to work you wou

[2018-05-03 23:56] krmayankk commented on #32749
@bowei my question is like in kube-dns i can run dns-masq per node to avoid always going to kube-dns, can i continue to do so in CoreDns, any blockers with that ?

[2018-05-04 00:27] MrHohn commented on #42521
cc @bowei

[2018-05-04 00:30] #43924 closed

[2018-05-04 00:41] liggitt commented on #63378
Fixed by https://github.com/kubernetes/kubernetes/pull/63380

[2018-05-04 00:41] #63378 closed

[2018-05-04 00:41] #63356 closed

[2018-05-04 00:53] dims commented on #53644
/close

[2018-05-04 00:53] #53644 closed

[2018-05-04 00:59] 13567436138 commented on #63396
docker logs also have very little logs

[2018-05-04 02:02] liggitt commented on #62402
`kubectl edit deployment foo` Is ambiguous about which API group you want, and selects the extensions/v1beta1 api, since that is the preferred version listed in discovery for compatibility purposes.

If you want to edit via the apps/v1 API, Do `kubectl edit deployment.v1.apps foo`

[2018-05-04 02:02] #62402 closed

[2018-05-04 02:06] liggitt commented on #62402
If you add --v=6 to the edit or patch calls, you can see kubectl retrieving and writing via the extensions endpoints. API resources like deployments are accessible from multiple versions and API groups. To ensure you intercept them, you must register for and handle all the versions supported by the server.

[2018-05-04 02:45] buptliuwei commented on #62246
hi,are you solved this problem? I have a similar problem [Failed to execute iptables-restore: exit status 1 in kube-proxy #784](https://github.com/kubernetes/kubeadm/issues/784)

[2018-05-04 03:04] 13567436138 opened #63419 "docker can startup but kubernetes can not startup why"
docker can startup but kubernetes can not startup why
[root@node1 demo]# cat demo-deploy.yaml
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: demo-web
  labels:
    app: demo
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: demo
    spec:
      terminationGracePeriodSeconds: 60
      nodeSelector:
        deploy: app
      containers:
      - name: demo-we

[2018-05-04 03:06] liqlin2015 opened #63420 "Scheduler still schedule pod to not ready node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

1. Enable `DefaultTolerationSeconds` admission control plugin in apiserver.
2. Create a deployment with 1 replica. The pod is successfully launched. By default the `DefaultTolerationSeconds` admission control plugin will add following toleration in the pod.

[code]

3. Shutdown the node where the above pod is running.
4. Because of

[2018-05-04 03:07] liqlin2015 commented on #63420
/sig scheduler

[2018-05-04 03:09] gyliu513 commented on #63420
/sig scheduling
/sig node

[2018-05-04 03:11] gyliu513 commented on #63420
I think that we should avoid scheduling pods to nodes which is not ready even it can tolerate `notready:NoExecute` and `unreachable:NoExecute`, comments @kubernetes/sig-scheduling-bugs

[2018-05-04 04:57] mkumatag commented on #48376
/remove-lifecycle rotten

[2018-05-04 06:31] 13567436138 opened #63423 "the kubedns server can not access,how to add iptables"
# cat /etc/resolv.conf
nameserver 10.96.0.10
search default.svc.cluster.local svc.cluster.local cluster.local
options ndots:5

# nslookup kubernetes.default
;; connection timed out; no servers could be reached

[2018-05-04 06:42] 13567436138 commented on #63423
[code]

[2018-05-04 06:47] george-angel commented on #62538
Thats correct

[2018-05-04 06:49] pdf commented on #23864
@gsaslis `hostNetwork` comes with caveats.  TLDR is that using `hostNetwork` currently requires that, at most, a single instance of any service may be run on any host.  A longer response would detail all the reasons for this, possible hacks, and hard limitations, but I think this is the primary detractor.

[2018-05-04 07:40] Etienn01 commented on #61259
Seeing the same issue on k8s 1.9.3.
I enabled `ExpandPersistentVolumes` feature-gate, edited the StorageClass to set `allowVolumeExpansion` and then increased the `spec.resources.requests.storage` in a PVC. The PV size has been increased (also the corresponding AWS EBS volume has the right size now) but the change is not reflected on the PVC.

[2018-05-04 08:37] #63419 closed

[2018-05-04 08:42] Anumita commented on #61710
I finally got what is wrong. When i specify the file path, i get the error specified. If the file is in the same location from where i am running the command the command executes successfully.
eg: >kubectl create configmap myconfigmap1 --from-file="C:\Users\ansheno\Desktop\password.txt" gives me the error

error: "C:\\Users\\ansheno\\Desktop\\password.txt" is not a valid key name for a ConfigMap:

[2018-05-04 09:02] kargakis commented on #57975
A nice to have

On Fri, May 4, 2018, 08:34 Austin Adams <notifications@github.com> wrote:

[2018-05-04 09:05] CaoShuFeng commented on #63368
/cc

[2018-05-04 09:09] ceshihao commented on #63420
@liqlin2015

I think maybe you can configure effect `NoSchedule` to avoid scheduling to those nodes.
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/#concepts

[2018-05-04 09:23] ash2k opened #63427 "Panic during TestTaintNodeByCondition integration test"
[Panic](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61976/pull-kubernetes-integration/9691/) in the `TestTaintNodeByCondition` integration test in an seemingly unrelated PR https://github.com/kubernetes/kubernetes/pull/61976.

[code]

@kubernetes/sig-scheduling-bugs

[2018-05-04 09:24] k82cn commented on #63420
For running, the `NoExecute` toleration is used for graceful termination by `TaintBasedEviction`; if `TaintNodesByCondition` is enabled, it's better to also taint node with `NoSchedule` for `NotReady`.

[2018-05-04 09:27] hzxuzhonghu opened #63428 "When running Proxy conformance test cases, it was blocked uncertainly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I ran conformance test and met this errors
[code]

Which I found it is because, our master can not access pods running on nodes. In other word master, we do not run cni and kube-proxy on master.

**What you expected to happen**:
even kube-apiserver can not access pods running on nodes by ip, it should fail with a definit

[2018-05-04 09:27] hzxuzhonghu commented on #63428
cc @deads2k @lavalamp @sttts

[2018-05-04 09:27] hzxuzhonghu commented on #63428
/sig api-machinery

[2018-05-04 09:51] kundralaci commented on #50345
@mingfang  you are right.

This configMap / items works great, it's a symlink, so it get updated when the ConfigMap updates.
However, it does not solve the other problem: let's say if I want to mount nginx.conf to /etc/nginx/nginx.conf the directory /etc/nginx becomes empty (removing all other default configs), and will only contain this (finally symlinked) nginx.conf :(

I would love to have a so

[2018-05-04 09:53] dElogics commented on #62061
Same issue persists with iscsi. The new pod never gets out of ContainerCreating and controller complains --
Multi-Attach error for volume
Volume is already exclusively attached to one node and can't be attached to another

[2018-05-04 09:58] dElogics commented on #56149
"disable"
When was it enabled may I ask?
Agreeing with what mtanino says, the relocated container never starts and stays stuck in ContainerCreating, which is something problematic on my end since it fails the self healing property of Kubernetes.

[2018-05-04 10:27] saurabh-chordiya commented on #63064
Sure will retry with 1.10.3 and update.

[2018-05-04 10:59] dElogics commented on #53059
This's not a bug, this's expected behavior. You must not double mount with ReadWriteOnce policy; this's what Kubernetes is trying to avoid. However if the node which's down does not respond within 6 minutes (default), the volumes will be forced associated to the replacement pod.

[Reference](https://github.com/kubernetes/kubernetes/issues/50004) to this 'knowledge'.

[2018-05-04 11:08] #63423 closed

[2018-05-04 11:09] bhack commented on #53059
@dElogics I think that there is a subproblem in AWS about provisiong EBS volumes and switching nodes. If it is provisioned as /dev/ and then reattached to be exposed on /dev/nvme nodes like M5. I think it will fail also if it is attached correctly to the node.

[2018-05-04 11:11] 13567436138 opened #63430 "busybox cannot startup"
[root@node1 dev]# kubectl get pod -n dev-app
NAME                         READY     STATUS             RESTARTS   AGE
alpaca-web-5d5fffbc5-mqwqf   0/1       CrashLoopBackOff   7          12m
busybox-95444875c-ljfs7      0/1       CrashLoopBackOff   5          5m

[code]

[2018-05-04 12:34] discordianfish commented on #59376
@dims I think I'm using the default..
So possible that if kubelet pulls 10 images (layers?) in parallel and docker only processes 3, it will stale of the remaining ones.

Maybe the kubelet puller should use a lower max-concurrent-downloads?

[2018-05-04 13:08] dims commented on #59376
or bump up what you have in docker daemon (see some detail here - https://blog.openai.com/scaling-kubernetes-to-2500-nodes/#dockerimagepulls )

[2018-05-04 13:11] MarkusTeufelberger commented on #36220
https://github.com/google/metallb might be worth a look for everyone who finds this issue via web search etc.

[2018-05-04 13:12] gyliu513 commented on #63420
@resouer Wondering how the pod can start to run if the Node is not ready at deployment time? Can you specify a use case here?

[2018-05-04 13:37] nikhita commented on #51830
/remove-lifecycle stale

[2018-05-04 13:37] nikhita commented on #24562
/remove-lifecycle stale

[2018-05-04 13:38] nikhita commented on #46404
/remove-lifecycle stale

[2018-05-04 13:56] nikhita commented on #63359
/sig api-machinery

[2018-05-04 13:56] nikhita commented on #63359
/priority important-soon

[2018-05-04 13:59] nikhita commented on #62786
/assign

[2018-05-04 14:06] gyliu513 opened #63435 "`kubectl config set-credentials` do not support using certificate data and key data"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

From above, we can see I have to use file name for certificate and key.
[code]

If I want to use content string of the certificate and key, I have to update `$HOME/.kube/config` manually by changing `client-certificate` to `client-certificate-data`, and change `client-key` to `client-key-data`.

[code]

/sig secu

[2018-05-04 14:32] mkumatag commented on #25730
/remove-lifecycle rotten

[2018-05-04 14:44] hjacobs commented on #51135
We had a brief discussion today (at KubeCon) with Xiaohui "Dawn" Chen, @gargath and @obeattie about this topic. We kind of agreed that the problem is big enough to deserve some upstream fix, e.g. having a saner default than 100ms for cpu.cfs_period or adding a kubelet flag to configure the value and set it to something like 20ms or even 5ms (as Monzo uses).

[2018-05-04 14:47] gabrielfsousa commented on #63210
do we need kubernetes-incubator/metrics-server ?

[2018-05-04 14:54] resouer commented on #63427
/assign

Let me take a look at this issue.

[2018-05-04 14:58] wangshuaizs opened #63436 "GPU still can be used in pod when limits is 0"
Hi,

   I am running tensorflow (tensorflow/tensorflow:latest-gpu) on kubernetes (v1.9.4). I set nvidia.com/gpu as  0 in resource limit, but GPU still can be found in pod. However, it can not be used in pod.
  I got the log:
`2018-05-04 14:29:06.352708: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1344] Found device 0 with properties:
name: Tesla K40c major: 3 minor: 5 memoryClockRate(GHz):

[2018-05-04 15:16] liggitt commented on #62421
see https://github.com/kubernetes/kubernetes/pull/63362#issuecomment-386631005 for the types of things that need to be thought through in the proposal

[2018-05-04 15:32] jsafrane commented on #62171
So, what is our solution then? From the above it seems Kubernetes can't reliably check if a key is usable for encryption of a PV. And it can't get an usable event either.

[2018-05-04 15:37] wangshuaizs commented on #63436
/sig scheduling

[2018-05-04 15:46] resouer commented on #63427
It is known that `nodeInfo` may be nil during testing, and we've partially checked it like:

[code]

We just need to do the same check for `ecache.RunPredicate(...)`.

Will send a patch later.

[2018-05-04 15:50] szuecs commented on #51135
I decided to create a PR which just sets the default to 5ms, because there is a production user that has already a patched kubelet and says 5ms is good for them. 100ms seems to me just a value set and it also did not documented why, so I guess it was not too well tested.
I added also some links to why the value was chosen, such that we can improve in the future or decide to have a flag or a node a

[2018-05-04 16:01] liggitt commented on #61710
ah, great. https://github.com/kubernetes/kubernetes/pull/63439 will fix that.

in the meantime, you can do `--from-file=password.txt="C:\Users\ansheno\Desktop\password.txt"`

[2018-05-04 16:07] php-coder commented on #61599
@ericchiang I've submitted https://github.com/kubernetes/kubernetes/pull/63032 You may review it, if you're interested in it.

[2018-05-04 16:13] Anumita commented on #61710
Thanks a lot!. One more observation was that the command works if you specify the path to the directory which contains the file instead of the path to the file itself.

[2018-05-04 16:15] #63168 closed

[2018-05-04 16:21] salilgupta1 opened #63440 "Emit Events when Pod Status changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When a Pod's status changes K8s doesn't emit an event. It would be really helpful if K8s could emit an event mentioning that the Pod's status change. I currently have to listen to the events stream to grab events regarding image pulls etc ... AND the pod stream to grab the status of a pod.

**What you expected to happ

[2018-05-04 16:31] liggitt commented on #63440
events aren't really considered a reliable message bus... they are best effort, and are highly rate-limited on the client side. not sure replicating changes from various objects into events is desired

[2018-05-04 16:31] mtaufen commented on #63305
Solution in #63409

[2018-05-04 16:32] salilgupta1 commented on #63440
/sig sig-instrumentation

[2018-05-04 16:36] salilgupta1 commented on #63440
So is the recommended way to watch for state changes to a Pod or any object just watch the relevant object endpoint?

[2018-05-04 16:37] salilgupta1 commented on #63440
Also, are there any negative effects to generating these events besides setting the precedence for a potentially undesirable paradigm?

[2018-05-04 16:42] hubpanda commented on #61543
Tried out to reinstall in multiple 1.9 versions (1.9.1, 1.9.2, 1.9.7) without any luck.
I then tried it out with v1.10.2 and got something unexpected
`  Warning  FailedMount  1m  kubelet, node5  MountVolume.WaitForAttach failed for volume "pvc-811e8229-4fab-11e8-b18f-0050569571c1" : fail to check rbd image status with: (exit status 1), rbd output: (2018-05-04 15:45:23.481062 7ffb7aa6b100 -1 did no

[2018-05-04 16:50] liggitt commented on #63440
it depends what information you want... detailed state changes for a pod are best observed by watching the pod API

write multiplication is always a concern for core APIs like this

[2018-05-04 16:52] spiddy commented on #33664
There is a simple one-liner that covers this use-case:

[code]

* Credit goes to this comment: https://github.com/kubernetes/kubernetes/issues/27081#issuecomment-238078103

[2018-05-04 16:55] mtaufen commented on #58010
Change AllowPrivileged default to true: https://github.com/kubernetes/kubernetes/pull/63442

[2018-05-04 17:08] #63145 closed

[2018-05-04 17:13] salilgupta1 commented on #63440
Ahh makes sense. Thanks for the quick responses, @liggitt

[2018-05-04 17:13] #63440 closed

[2018-05-04 17:16] roycaihw commented on #62931
Apiserver doesn't check propagationPolicy (and namespace deletion and pod graceful deletion) when it's returning 202.
https://github.com/kubernetes/kubernetes/blob/bc56947e8dd89d70735384239c4e5d0c2c9fe8eb/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go#L132-L136

I think this doesn't affect openapi generated clients because we didn't have 202 path for all delete response in our opena

[2018-05-04 17:25] chrissound opened #63443 "kube-dns deployment keeps being reset by some means"
dns.yaml

[code]

If I patch the kube-dns deployment with:
`kubectl patch --namespace=kube-system deployment kube-dns --patch "$(cat dns.yaml)"`

This works, new pods get scheduled with the updated resources.

However after a while the deployment seems to reset to the previous resource constraints. Is there any way I can disable this?

I appreciate messing around with the resource requirements of

[2018-05-04 17:25] chrissound commented on #63443
/sig dns

[2018-05-04 17:28] chrissound commented on #63443
/sig scheduling

[2018-05-04 17:30] fedebongio commented on #11852
4.5G failed for me this morning, so tired of going by small increases, just threw up 8GB and it worked.

macOS High Sierra: 10.13.4 (17E202)
Docker Community Edition 18.03.1-ce-mac65 (24312)

[2018-05-04 17:40] foxish commented on #62382
Cause appears to be that the `syncJob` method gets exactly one attempt to update the status with the failed condition and if it fails due to resource conflict, it never adds the condition. The controller code seems to use requeues to track failures, but if a sync loop executes successfully, it would lose track of the failed item ever having been requeued.

[2018-05-04 18:02] foxish commented on #62382
Looking at [job_controller.go#L249](https://github.com/kubernetes/kubernetes/blob/139309f798176378f7acf182f4378c287c7baa3b/pkg/controller/job/job_controller.go#L249), we force an immediate resync when we see a pod that has failed which also clears the key in our queue, but that in turn makes us lose state of the number of requeues.

[2018-05-04 18:35] paulorobles commented on #62299
I have this same issue building the 1.10.0-alpha.0

[2018-05-04 19:09] derekwaynecarr commented on #51135
@hjacobs can people provide more context on this topic?

100ms was the default value in most distros.

[2018-05-04 19:16] derekwaynecarr commented on #51135
i prefer that we expose a flag.  i have customers that disable cfs quota entirely in some cases.  setting these is easier when you have configmap based kubelet config.

[2018-05-04 19:41] #57617 closed

[2018-05-04 19:41] #61710 closed

[2018-05-04 20:03] shawn-lo commented on #61277
I used kubernetes in HDF(Hortonworks Dataflow) sandbox. I tried ways above but none of them works for my case. Finally, I change cgroup driver of docker and kubernetes to systemd. It works.

[2018-05-04 20:19] szuecs commented on #51135
@derekwaynecarr I agree that a flag on kubelet would be fine. I can also change the PR to implement this flag.

[2018-05-04 20:27] vishh commented on #51135
What is the use case to make it configurable?

On Fri, May 4, 2018 at 10:20 PM Sandor Szücs <notifications@github.com>
wrote:

[2018-05-04 20:41] rudymccomb opened #63447 "fluentd logging fails to start: fails to start: Path /var/lib/docker/containers is mounted on /var/lib/docker/containers"
What I did
kubectl apply -f kubernetes/cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml

What I expected:
For the daemonset to deploy correctly

What happend
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Deploy fluentd logging with fluentd-es-ds.yaml and fluentd-es-configmap.yaml

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `ku

[2018-05-04 20:51] nick4fake commented on #30792
It looks like now encryption is not supported for static volumes (those with "awsElasticBlockStore")

[2018-05-04 21:19] nathanweeks commented on #30645
I'd like to be able to run command-line-driven bioinformatics applications and workflows via containers (e.g., http://biocontainers.pro/), mounting a given shared file system (and/or NFS home directory) that will contain the input data sets & receive the output results.

Basically, obviate the need to run a traditional HPC cluster with a workload manager like SLURM along side the Kubernetes cluste

[2018-05-04 22:10] dims commented on #59257
looks like 7518 has merged

/close

[2018-05-04 22:10] #59257 closed

[2018-05-04 22:41] balboah commented on #60748
Other use cases is for accessing /dev/video0 for processing webcam input and other IoT things without adding a privileged security context

[2018-05-04 22:43] PiotrKlimczak commented on #44033
It just works in Kubernetes 1.9 and Openshift 3.9.
All you have to do is create HPA like below (example from Openshift 3.9):

[code]

[2018-05-04 23:30] dims commented on #63436
Please try https://github.com/NVIDIA/k8s-device-plugin with kubernetes 1.10 (and above). The old support in main kubernetes repository has been deprecated and removed already.

Thanks,
Dims

/close

[2018-05-04 23:30] #63436 closed

[2018-05-04 23:50] dims commented on #63447
/sig apps

[2018-05-04 23:50] dims commented on #63354
/sig node

[2018-05-04 23:53] dims commented on #63288
Please use stackoverflow or slack (kubernetes-users) for support questions
/close

[2018-05-04 23:53] #63288 closed

[2018-05-05 00:04] dims commented on #63443
@chrissound could it be an addon marked with `mode=Reconcile`? https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/README.md#addon-manager

[2018-05-05 00:52] derekwaynecarr commented on #51135
@vishh not all units that may have limits applied on a host are kubelet managed and I would prefer the ability to keep them in synch if there are unforeseen consequences.

tuning to a low value you ensure consistent latency at expense of burst capacity.  larger periods provide the inverse.  the default period we have today is the same as kernel, and just changing it with a broad stroke for one cla

[2018-05-05 01:49] dims commented on #59205
/close

[2018-05-05 01:49] #59205 closed

[2018-05-05 01:53] dims commented on #61483
/subscribe

[2018-05-05 01:57] dims commented on #57159
/close

[2018-05-05 01:57] #57159 closed

[2018-05-05 02:00] dims commented on #62737
i see some green runs - https://k8s-testgrid.appspot.com/sig-release-1.9-all#soak-gci-gce-1.9

[2018-05-05 02:01] derekwaynecarr commented on #51135
See: https://unix.stackexchange.com/questions/213971/what-is-difference-between-different-cpu-cfs-period-us-values

[2018-05-05 06:50] vishh commented on #51135
Nodes can run multiple types of workloads and so choosing the appropriate
value for cpu quota has to be per pod right?
Also compute intensive jobs can run without limits right trusting on CFS
for fair sharing? Shouldn't this let us tune towards latency sensitive jobs
by default?

On Sat, May 5, 2018 at 8:25 AM Sandor Szücs <notifications@github.com>
wrote:

[2018-05-05 07:11] szuecs commented on #51135
Sorry I was editing my comment before you replied.
Compute intensive jobs can also have a non shared cpu socket (cpu manager).
I am fine with tuning the defaults towards low latency this is why I created this PR, but I guess the question goes to @derekwaynecarr. We can also use an ENV variable and look it up in the Linux helper, in case there’s a reason that a flag is not good or a default should

[2018-05-05 08:02] ianjuma commented on #62393
At first my issue was related to #57427 - I'm running 1.9.0

Yeah, that's really weird - I think this needs to be better documented.

[code]

[2018-05-05 08:41] hzxuzhonghu opened #63455 "Should stop using http.Transport.Dial"
http.Transport.Dial was deprecated, and recommend using `DialContext`, we should replace all ` Dial ` with `DialContext`.

[2018-05-05 09:02] #48019 closed

[2018-05-05 12:31] ghoben opened #63458 "kubeadm init --pod-network-cidr 10.244.0.0/16 hangs forever"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cluster-lifecycle

**What happened**:
I wanted to create a simple master node on a raspberry PI3. (following instructions: https://blog.hypriot.com/post/setup-kubernetes-raspberry-pi-cluster/.
Docker is running successfully, installed latest kubeadm packages. The initialization of the kubeadm locks up in an infinite loop. The docker con

[2018-05-05 13:06] #35238 closed

[2018-05-05 13:06] #56397 closed

[2018-05-05 14:27] resouer commented on #63420
@gyliu513 It won't need to start, system pod pending will be expected :) The point is, freedom for users to decide what tolerations they want matters here. I don't think it's reasonable to combine `NotReady:NoSchedule` with `NotReady:NoExecute` in this case.

[2018-05-05 14:41] minherz commented on #62640
@justinsb can you advise where i can find a code that handle changes in annotation values of the service?

[2018-05-05 15:08] #56453 closed

[2018-05-05 16:40] rfer commented on #28658
As anyone figured out a way to handle the initial use-case? It still seems relevant.

/reopen

[2018-05-05 16:57] dims commented on #63458
@ghoben kubeadm issues go to the other repo, can you please move this issue there? https://github.com/kubernetes/kubeadm/issues/

Thanks,
Dims

/close

[2018-05-05 16:58] #63458 closed

[2018-05-05 16:58] dims commented on #63455
/sig api-machinery

[2018-05-05 17:42] yue9944882 commented on #59200
Fixed by #59324
/close

[2018-05-05 17:42] #59200 closed

[2018-05-05 18:46] szuecs commented on #51135
@vishh I think it’s better per node, because the configuration of QoS classes should be chosen by the cluster operator and not by the deployment manifest. In the deployment you should specify what kind of QoS class you choose.
Does this makes sense to you?

[2018-05-05 19:12] #49931 closed

[2018-05-05 19:12] #47201 closed

[2018-05-05 19:28] silashansen commented on #17144
The way the docker cli handles this for ids is great. If more than one resource is matching the prefix, the command is not executed.

[2018-05-05 21:42] mjaow opened #63462 "Setting individual hostname for every pod in ReplicationController or Deployment?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Now k8s does not support setting hostname for every pod in rc or deployment.

**What you expected to happen**:
Why not support it?Just like cni and ipam,the feature setting hostname by self should be useful

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envir

[2018-05-05 21:43] mjaow commented on #63462
/sig network
/sig node

[2018-05-05 22:53] dims commented on #61483
the latest cross build for 1.9 is as following
[code]

We seem to have only one job that does cross builds on master :
https://k8s-code.appspot.com/?q=ci.*kubernetes.*cross.*build&i=nope&files=&repos=test-infra

So the job fails ( for example in https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-9-on-1-10/242/artifacts/e2e-242-b2110-master/serial-1.log )

[code]

[2018-05-06 00:05] rfer opened #63463 "Ingress upstream incorrectly updated on Service without Selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm trying to expose a Service that has no Selector on Ingress (with Kubernetes official Nginx Controller).

The Service without the Selector works fine when I set it as NodePort, and it uses the Endpoint that I define manually.

However, once I setup an Ingress resource pointing to this service I cannot get it working.

[2018-05-06 04:00] resouer commented on #63420
Let me extracted the mixed problems in this issue :-)

First one:

These two default `NoExecute` tolerations attached to the pod by `DefaultTolerationSeconds` means: if the node is tainted as `NotReady` or `Unreachable`, wait for 300s before the pod is evicted from the node.

While according to the issue description, `DefaultTolerationSeconds` is working as expected (pods are not evicted immediate

[2018-05-06 05:37] ricky1993 opened #63465 "daemonset rollingupdate hang"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I have a daemonsets with 250 replicas and maxUnavailable is 20%. When I try to update its image, the ds will scale down 50 old replicas and wait for SatisfiedExpectations, after that it will scale up 50 new replicas. But if a pod delete failed (node is notready, and pod stuck at terminating status), ds controller will

[2018-05-06 05:42] ricky1993 commented on #63465
/sig apps
/cc @janetkuo

[2018-05-06 07:54] bboreham commented on #56017
Sorry I missed this at the time, but Weave Net needs the configuration modified to support NodePort - https://github.com/weaveworks/weave/issues/3016

Needs someone to write that pr

[2018-05-06 08:09] bboreham commented on #56017
Sorry again - I’m thinking of hostport. No reason why NodePort shouldn’t have worked.

[2018-05-06 09:02] msau42-tmp opened #63467 "TestVolumeBindingStress still flaking"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@k8s-sig-storage-bugs
cc @msau42

**What happened**:
VolumeBindingStress integration test started flaking around 4/26.  Originally thought it was due to #62929, but even after reverting, the test is still flaking.
logs: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63045/pull-kubernetes-integration/9817/
testgrid: https://k8s

[2018-05-06 09:26] #49544 closed

[2018-05-06 10:48] rfer commented on #63463
/sim network

[2018-05-06 12:26] zhouhaibing089 commented on #45811
/remove-lifecycle stale

[2018-05-06 13:54] mouradmourafiq opened #63470 "Pods stuck on terminating (Terminated: ExitCode)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:

Running the helm command `helm del --purge releaseName` sometimes deletes volumes before pods, which results in pods stuck in `Terminated: ExitCode`.

**What you expected to happen**:

I expect the pods to be delete as well without having to manually delete them with `--grace-period=0 --force` options.

**How to reproduce

[2018-05-06 13:57] gmile commented on #56682
@bsalamat I'm facing this very issue. A pod under StatefulSet is stuck in "Pending" state, with the message:

[code]

If I understand correctly from reading https://github.com/kubernetes/kubernetes/issues/56682#issuecomment-371742634, the issue is that cache gets invalid. Is there a way to "poke" scheduler to invalidate / refresh the cache? Normally I'd have the scheduler `kube-scheduler-k8s-maste

[2018-05-06 14:28] resouer commented on #56682
@gmile Even on GKE, you should be able to delete the scheduler pod, no?

And what's the version you are using btw?

[2018-05-06 15:32] #56929 closed

[2018-05-06 17:04] ceshihao commented on #63420
I open a PR #63471

If TaintNodesByCondition is enable, taint node with NotReady:NoSchedule and Unreachable:NoSchedule.

[2018-05-06 19:06] fabiand commented on #59551
@Lion-Wei hey - getting back to this.

So, in my understanding it should be like this: The *name* OR the *selector* must be specified. But specifying both of them makes not much sense to me.

After all I do not see why the name must be provided if we explicitly state the selector.

ideas?

[2018-05-06 19:19] gmile commented on #56682
@resouer this is all I have in the `kube-system` namespace:

[code]

Can't see the scheduler pod anywhere. I might be missing something.

Here's the version info:

[code]

[2018-05-06 19:43] hanikesn commented on #51150
/remove-lifecycle stale

[2018-05-06 19:44] hanikesn commented on #51150
cc @deads2k @derekwaynecarr

[2018-05-06 21:02] arikunbotify commented on #61228
I'm getting this problem on c5.xlarge, was the conclusion its instance type related or am I reading this wrong?

[2018-05-06 22:39] #56841 closed

[2018-05-06 23:14] danielrive commented on #37922
have you solved the problem yet?

[2018-05-06 23:30] amsaiyed commented on #37922
I am still having the same issue.

[2018-05-06 23:37] danielrive commented on #37922
i have downloaded the kubectl binary via curl but the repo still is fail

[2018-05-07 00:41] #51187 closed

[2018-05-07 01:30] dims commented on #63470
@mouradmourafiq can you please post this to https://github.com/kubernetes/helm/issues/ ?

/close

[2018-05-07 01:30] #63470 closed

[2018-05-07 02:05] 13567436138 commented on #63430
[code]

I cannot figure out what is wrong

[2018-05-07 02:25] 13567436138 commented on #63430
[code]

[2018-05-07 02:25] 13567436138 commented on #63430
this is realtime logs

[2018-05-07 02:25] 13567436138 commented on #63430
my kubelet is running

[2018-05-07 02:31] dims commented on #63430
`docker daemon` NOT `kubelet` ... is your Docker daemon running?

[2018-05-07 02:58] 13567436138 commented on #63430
my docker daemon is running
kubectl run busybox --image=busybox -it /binsh
solve my problem

[2018-05-07 03:11] resouer commented on #56682
@gmile what if `kubectl get pods --all-namespaces`?

[2018-05-07 03:39] stickycode commented on #55094
I managed to repro this by putting 500m as a memory limit, rather than 500Mi. This was on GCP GKE with 1.9.6-gke.1

[2018-05-07 04:51] gmile commented on #56682
@resouer nothing... weird:

[code]

[2018-05-07 05:00] Anumita commented on #61710
Hi, what would be eta of this fix? Also, will it be available in all the versions of kubectl?

[2018-05-07 05:42] drdivano commented on #62382
This bug killed my test cluster over the long weekend. Luckily we don't yet use CronJobs in prod.

[2018-05-07 05:43] dElogics opened #63475 "iscsi PV does not recover under a node down."
/kind bug
**What happened**:
Suppose a pod is bound to a PV and the node running that pod goes down. Under default configuration, the PV must be force-detached from the node which got down within 6 minutes (I think depending on --attach-detach-reconcile-sync-period) and successfully relocate to another node; however in the other node, the pod is stuck at ContainerCreating state unless the
1) Node

[2018-05-07 05:46] #56628 closed

[2018-05-07 05:55] tamama opened #63476 "Bug - kubeadm fails to parse kubeProxy.config.bindAddress from config file"
Hi kubernetes / kubeadm,
/sig kubeadm

1. Via kubeadm init --config config.yaml, I specify say 172.21.1.227 as the bindAddress under kubeProxy.config, however when I view it from kubeadm config view, I see the bindAddress as 0.0.0.0.
2. Furthermore, I see that kube_proxy docker container parsing 0.0.0.0 as the bindAddress as well.

Is there any quick fix to this - to bind the address (for all node

[2018-05-07 05:56] tamama commented on #63476
/sig kubeadm

[2018-05-07 06:08] AssafKatz3 commented on #22121
/remove-lifecycle rotten

[2018-05-07 06:35] #62638 closed

[2018-05-07 06:40] wgliang commented on #63360
Which one is the version of the scheduler? After checking the versions, it should be a very old version, it is recommended to upgrade kubernetes. If you still get this error, please reply here.

[2018-05-07 06:42] 13567436138 opened #63477 "configmap mount fail read-only file system"
[code]

[2018-05-07 06:58] yoke88 opened #63479 "Can not access Service IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

* k8s running in docker  using host network , the k8s node has two network card . one is 10.0.1.x/24(enp5s0), another is 192.168.235.0/24 (enp3s0)（this network card has default gateway configured）

* the service IP of heketi can not be accessed from kube-controller-manager, the error says 10.43.206.251:8081 timeout ,the e

[2018-05-07 06:59] timosntr commented on #59890
Got the same problem like @MartinKosicky (also using minikube) has anyone an idee to delete those images "by hand"?

[2018-05-07 07:02] yoke88 commented on #63479
sig/network

[2018-05-07 07:02] yoke88 commented on #63479
/sig network

[2018-05-07 07:03] resouer commented on #56682
@gmile I see, should be GKE magic :-)

Anyway, we have a fix patch in 1.10: https://github.com/kubernetes/kubernetes/pull/61069, which seems not included in v1.9.4 cc @krmayankk

[2018-05-07 07:05] verb commented on #1615
PID namespace sharing was included as an alpha feature in 1.10. It would be nice to coordinate its beta with removing the option to configure it in the kubelet (#41938), which we're planning to do in 1.12. This would leave 2 releases to gather feedback on the alpha.

Does anyone have any concerns they'd like to see addressed before promoting this feature to beta? In particular this is a question f

[2018-05-07 07:08] verb commented on #41938
FYI, right now we're planning on including this in 1.12.

[2018-05-07 07:10] krmayankk commented on #56682
@resouer is this a possible fix or a confirmed fix which will resolve this issue ? Also why doesnt this issue happen in Deployment ?

[2018-05-07 07:12] 13567436138 commented on #63477
[code]
[code]

[2018-05-07 07:15] resouer commented on #56682
@krmayankk It should be THE fix.

The key point of this bug is "replacement pod with the same name and namespace created", which is common in StatefulSet whose Pod has fixed identity and index, but rare for Deployment as Pods are created with random names.

[2018-05-07 07:50] dynek commented on #60099
@alexindigo I had a similar issue with fcgi/php-fom and the workaround has been to unset all env variables before running it :-/

```for i in $(set | grep "_SERVICE_\|_PORT" | cut -f1 -d=); do unset $i; done```

[2018-05-07 07:52] resouer commented on #63345
@depsched Please ping me (the original author of that priority) to review the patch.

[2018-05-07 08:34] tamama opened #63482 "Can we not have cfg.KubeProxy.Config.BindAddress hardcoded to be "0.0.0.0" ?"
https://github.com/kubernetes/kubernetes/blob/c8cded58d71e36665bd345a70fbe404e7523abb8/cmd/kubeadm/app/util/config/masterconfig.go#L56

[2018-05-07 08:36] tamama commented on #63482
/sig cluster-lifecycle

[2018-05-07 08:37] tamama commented on #63476
/sig cluster-lifecycle

[2018-05-07 08:40] tamama commented on #63482
FYI, I want to pass the bindAddress into the kube-proxy docker (ie. /var/lib/kube-proxy/config.conf)

[2018-05-07 08:58] nerumo commented on #62382
killed my cluster too :( still existing in kubernetes 1.10.2

[2018-05-07 09:20] whypro opened #63483 "Add `--terminated-pod-gc-threshold-per-node` flag to kube-controller-manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area controller-manager

**What happened**:

The flag `--terminated-pod-gc-threshold` of kube-controller-manager is just a cluster-wide gc options. There is no gc threshold per node to limit maximum completed pods (or dead containers) for each node.

1. The current threshold is static and cannot adjusted when adding or deleting nodes to

[2018-05-07 09:34] timosntr commented on #59890
`docker system prune`
solved my problem. Maybe you need "some" free disk-space in general ( ? )

[2018-05-07 09:50] hanikesn commented on #62382
This issue also can't be mitigated as terminated are not part of the resource quota: https://github.com/kubernetes/kubernetes/issues/51150

[2018-05-07 10:05] tamama commented on #63482
No need to investigate further -- nodePortAddresses already does a nice job!

[2018-05-07 10:05] #63482 closed

[2018-05-07 10:05] tamama commented on #63476
No need to investigate further -- nodePortAddresses already does a nice job!

[2018-05-07 10:05] #63476 closed

[2018-05-07 10:31] sttts commented on #63359
@CaoShuFeng I agree the current behaviour is wrong. Added some comments to https://github.com/kubernetes/kubernetes/pull/63385.

Especially, https://github.com/kubernetes/kubernetes/pull/63385/files#r186384984 worries me whether we really have to right /status behaviour. Not really related to the given issue. But as we are touching the /status behaviour, we should clarify that as well.

[2018-05-07 10:33] sttts commented on #45539
Controllers naturally add themselves to the finalizer list. This is a /status ObjectMeta operation. Should we forbid this?

[2018-05-07 10:33] sttts commented on #45539
/xref https://github.com/kubernetes/kubernetes/pull/63385/files#r186384984

[2018-05-07 10:39] msau42 commented on #63467
/assign

[2018-05-07 10:51] #55686 closed

[2018-05-07 11:27] sttts commented on #58982
/remove-lifecycle stale

[2018-05-07 11:32] sttts commented on #58983
/remove-lifecycle stale

[2018-05-07 11:47] sttts commented on #8830
We have to run it on every commit to get consistent results (maybe some heuristic will help to avoid some runs, but still).

Maybe the most ugly part will be that we use `git filter-branch` to get the code that we can publish. filter-branch runs over all commits in the entire history. This time 34 seconds is a long long time.

If we have a tool in contrast that can be called from `<root>/staging/s

[2018-05-07 11:48] pmichali commented on #63208
cc @bowei

[2018-05-07 12:04] sttts commented on #60937
I think this was a misunderstanding. The clients in the kubernetes-client use OpenAPI, the Go clients in k/k itself don't.

[2018-05-07 12:14] #62769 closed

[2018-05-07 12:37] dims commented on #63483
/sig node

[2018-05-07 12:37] dims commented on #63477
/sig storage

[2018-05-07 12:38] dims commented on #63475
/sig storage

[2018-05-07 12:38] yoke88 commented on #63479
more questions here:
 * if k8s node has multiple network, how pod choose pod ip adress when pod using host network?
* can i specify the ip  the pod use?

[2018-05-07 12:42] gabrielfsousa commented on #63210
after installed kubernetes-incubator/metrics-server hpa is now working.

but now it gave me other problem, since i have a HA with 3 masters, kubectl top only work on one master,

on other 2 i have this error

`[root@APP198 log]$ kubectl top pod --all-namespaces
error: You must be logged in to the server (Unauthorized)
`

[2018-05-07 12:51] gabrielfsousa opened #63486 "HA with 3 masters kubectl top wont work after Custom Metrics API"
/kind bug
/sig autoscaling
/sig scalability

**What happened**:
**_kubectl top_** only work on one master  ( HA with 3 masters )
[code]

**What you expected to happen**:
**_kubectl top_** to work on all masters like before ( on 3 masters )

**How to reproduce it (as minimally and precisely as possible)**:
after installed (Custom Metrics API) kubernetes-incubator/metrics-server **_kubectl top_** on

[2018-05-07 12:53] #46753 closed

[2018-05-07 13:15] liggitt commented on #60312
@sttts was this resolved by https://github.com/kubernetes/kubernetes/pull/60201?

[2018-05-07 13:16] gabrielfsousa opened #63487 "kubeadm upgrade plan wont work on HA ( 3 masters / HA etcd cluster )"
/kind bug
/sig architecture
/sig cluster-lifecycle

**What happened**:
error executing **_kubeadm upgrade plan_**

**What you expected to happen**:
to view COMPONENT versions

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): **v1.10.0**
- Cloud provider or hardware configuration: **vmware**
- OS (e.g. from /etc

[2018-05-07 13:38] sttts commented on #60312
@liggitt unfortunately only part of it. I found another situation where `Unstructured` is not handled consistently. Will create a PR soon.

[2018-05-07 13:46] techtonik commented on #24891
Nothing explains security issues better than attack vectors. So..

[2018-05-07 13:49] gsaslis commented on #23864
@pdf yes, of course.

the problem is that - given the current state of Docker - it seems you should NOT even be trying to expose large numbers of ports. You are advised to use the host network anyway, due to the overhead involved with large port ranges.  (it adds both latency, as well as consumes significant resources - e.g. see https://www.percona.com/blog/2016/02/05/measuring-docker-cpu-network-

[2018-05-07 13:49] techtonik commented on #1462
Why only delete? Any configuration change can benefit from commit user message.

[2018-05-07 13:54] #52211 closed

[2018-05-07 14:26] krzysied commented on #63026
Tests:
* should have session affinity work for LoadBalancer service with ESIPP on
* should be able to switch session affinity for LoadBalancer service with ESIPP on
* should have session affinity work for LoadBalancer service with ESIPP off
* should be able to switch session affinity for LoadBalancer service with ESIPP off
leak resources related to the LoadBalancer. PR #63489 will fix this.

[2018-05-07 14:30] shyamjvs commented on #62267
So this is no longer a top unhealthy presubmit (in fact it's consistently not even in the top 5 unhealthy ones - and currently ranked 9th).
So closing... (reopen later as apt)

[2018-05-07 14:30] #62267 closed

[2018-05-07 14:39] mr-yaky commented on #61543
I downgraded k8s cluster to 1.9.2 version:

[code]

But still get the same error when statefulset is creating :(

[2018-05-07 14:43] gnufied commented on #63447
I am not sure if you have same problem as linked issue in openshift Bugzilla because that is specific to Openshift-3.10 and hence Kubernetes-1.10.

Underlying root cause of that problem is - we enabled "slave" as default mount propagation option in 1.10 but we are reverting the behaviour. Your cluster is on 1.9 and hence it should not be affected by that bug, unless you explicitly enabled MountPro

[2018-05-07 14:46] pdf commented on #23864
@gsaslis it's not clear to me that those concerns apply to Kubernetes.  I suggest deferring to those with the knowledge of the various parts involved to declare what's viable.  In the mean time, possible workarounds have already been well documented, however it's apparent that the workarounds are not adequate for all use-cases.

[2018-05-07 14:46] liggitt commented on #61710
it will be in 1.11, targeted for end of june (https://github.com/kubernetes/sig-release/blob/master/releases/release-1.11/release-1.11.md)

[2018-05-07 14:49] liggitt commented on #41185
consolidating reports of this issue under https://github.com/kubernetes/kubernetes/issues/48638

[2018-05-07 14:49] #41185 closed

[2018-05-07 14:50] liggitt commented on #61917
consolidating reports of this issue under https://github.com/kubernetes/kubernetes/issues/48638

[2018-05-07 14:50] #61917 closed

[2018-05-07 14:55] liggitt commented on #48638
reopening, the hang is resolved but the underlying stuck TCP connection issue is not

[2018-05-07 15:34] mr-yaky commented on #61543
Some investigations.
Tried manual formating for rbd image:
[code]

And after I re-created statefulset but got previous error:
[code]

[2018-05-07 15:49] shyamjvs opened #63491 "Storage e2es tests around dynamic provisioning failing on large clusters"
Referring to these two failing tests:

- Dynamic Provisioning DynamicProvisioner Default should create and delete default persistent volumes [Slow]
- Dynamic Provisioning DynamicProvisioner should provision storage with different parameters [Slow]

It seems like a regression as they were consistently passing earlier and then started to constantly fail. See:

- https://k8s-testgrid.appspot.com/sig-

[2018-05-07 15:49] shyamjvs commented on #63491
/assign @msau42

It would be great if you could take a look or triage.

[2018-05-07 15:52] msau42 commented on #63491
Dup of #63306
/close

[2018-05-07 15:52] #63491 closed

[2018-05-07 15:58] dims commented on #7890
Looking through material above, looks like there are a few ways of doing things:

1) postStart / preStop : https://karlstoney.com/2017/03/01/fuse-mount-in-kubernetes/  (and) https://github.com/maciekrb/gcs-fuse-sample
2) CephFS : https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cephfs/cephfs.go (One could adapt this code to gcsfuse)
3) Daemonset with bidirectional bind-mount idea :

[2018-05-07 16:01] humblec commented on #63306
need to check where exactly its happening, however my initial analysis is that this PR https://github.com/kubernetes/kubernetes/pull/63338 is going to fix it. @msau42 @jeffvance can you please review this PR ?

[2018-05-07 16:04] spacebel commented on #7890
The cons of these approaches areit requires adding the libraries on the container image (therefore not working on all the use cases of launching containers provided by third parties).

Also using postStart means the container may read the bucket immediatly but it may not already be mounted.

[2018-05-07 16:04] alexindigo commented on #60099
Thanks @dynek, looks like this what I'd have to resort to. Hope there won't be naming conflicts. :)

[2018-05-07 16:12] dims commented on #7890
@spacebel the #3 does not need libraries on containers provided by third parties i think

[2018-05-07 16:12] hubpanda commented on #61543
are you using client.admin as userId for the storageclass?

maybe you should try upgrading to 1.10.x as well since they seem to have imroved the error messages, that might give you the root cause.

[2018-05-07 16:34] andrewrynhard commented on #61117
@albertvaka Was this bug fixed, or why was the issue closed? I am seeing the same thing.

[2018-05-07 16:49] Etienn01 commented on #61259
Found a way to get it to work thanks to [this comment](https://github.com/kubernetes/kubernetes/issues/35941#issuecomment-328028093):
- run `resize2fs` after EBS volume resize has completed to extend your partition (you can use `lsblk` to check the actual volume size)
- use `etcdctl` to update the claim status with the new size

[2018-05-07 16:51] mr-yaky commented on #61543
I tried mount rbd image from one of ceph nodes not from rbd-provisioner container.

Unfortunately kubespray is not support 1.10.x yet so there will still be some risk.

Maybe some one know how we can debug and investigate on 1.9.x version ?

[2018-05-07 16:59] hmarcelodn commented on #62594
This is happening right now in my clusters with kubedns/nginx causing to terminate the rest of the pods.

What is this issue related to?

[2018-05-07 16:59] DirectXMan12 commented on #63365
We can do it in the new beta that we'll need for our other revisions.

[2018-05-07 17:16] mdianjun opened #63493 "Scheduler metrics not captured properly in density test"
File:  test/e2e/scalability/density.go

When running e2e performance test, the density test output scheduling latency as follows:
[code]

Why are these values zero? Is it because of not reseting scheduler metrics?
The codes:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): 1.9.3
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `unam

[2018-05-07 17:25] vishh commented on #51135
[Posting summary of discussions that happened during Kubecon EU]
The main use case for CPU Quota seems to be that of general mistrust in users configuring their CPU requests appropriately. CPU requests are often under-specified which leads to k8s apps being forced into fair-sharing by CFS CPU scheduler which causes unexpected latency spikes for k8s apps. CPU quota helps keep CPU utilization within

[2018-05-07 17:27] roycaihw commented on #60937
@sttts Updated the first comment

[2018-05-07 17:29] Imunhatep commented on #59406
/remove-lifecycle stale

[2018-05-07 17:30] TheKevJames opened #63494 "Applying cluster config breaks cluster"
/kind bug

When the following `yaml` files are applied to a running cluster, the cluster becomes unresponsive with the following alternating error messages:

    $ kubectl describe apiservice v1beta1.custom.metrics.k8s.io
    Unable to connect to the server: unexpected EOF
    $ kubectl describe apiservice v1beta1.custom.metrics.k8s.io
    The connection to the server 35.193.39.187 was refused - d

[2018-05-07 17:36] AishSundar commented on #63030
@shyamjvs @wojtek-t is there an ETA on fixing this test failure? This is currently on of the few tests failing our sig-release master blocking suite. If this is not fixed we will have to delay beta for 1.11

@tpepper @jberkus as FYI

[2018-05-07 17:43] jeffvance commented on #63306
panic occur in L102. Class is nil but is referenced.
This pr should fix the panic.

[2018-05-07 17:44] copejon commented on #63306
The panic occurs because [testDynamicProvisioning()](https://github.com/kubernetes/kubernetes/blob/f4b2452654967a44dd0821a48d8833aa839916c0/test/e2e/storage/volume_provisioning.go#L67) is passed a nil pointer on [Line 725](https://github.com/kubernetes/kubernetes/blob/f4b2452654967a44dd0821a48d8833aa839916c0/test/e2e/storage/volume_provisioning.go#L725).  `testDynamicProvisioning` does not catch `