[2017-03-07 20:35] mwielgus commented on #42665
cc: @ixdy @david-mcmahon

[2017-03-07 20:38] NiclasHedam commented on #42636
We are using scheduledjob / cronjobs.

The relevant configs are posted below as well as one of the affected dockerfiles:

Redis service:
[code]

Redis deployment: (official redis docker image)
[code]

Worker pod deployment:
[code]
Worker dockerfile:
[code]

[2017-03-07 20:41] thockin commented on #34508
I do not think we should use syntax that is JSON-significant, it's confusing.  If you want an @ or something, fine, but how does that map to Go structs?

We simply can't guarantee that.  If there is *ever* a schematic change between first introduction of a field and GA, that field name is effectively burned for some amount of time.  We could argue that final beta->GA should be a no-op, but we can'

[2017-03-07 20:43] timstclair commented on #42515
Actually td-agent was using ruby 2.1:
[code]

[2017-03-07 21:00] yujuhong commented on #42442
One caveat is that we are not able to decouple logs and container lifecycles yet. In some cases (container restart multiple times in a short time frame), kubelet may delete the container (and its logs) before the log get collected. Another thing is that log collection (for e2e and/or GKE master) may need to be changed (now it's easy to grab files in /var/log).

Barring those, I actually like the i

[2017-03-07 21:04] yujuhong commented on #42554
Could you run `kubectl get nodes` and `kubectl describe nodes` to see whether your node is considered healthy/ready? Node controller may evict the pod if the node hasn't posted its status for a while.

[2017-03-07 21:04] #41488 closed

[2017-03-07 21:10] ericchiang commented on #37874
@jsloyer to follow up. Would your provider be okay with sending an empty "client_secret=" POST form value? Or does it actually need to omit the form value?

[2017-03-07 21:10] kargakis commented on #42392
But there is no unknown field for 1.5 clients for Deployments.

[2017-03-07 21:14] mlbiam commented on #37874
@ericchiang i think a public oidc client means that the client_secret isn't sent at all

[2017-03-07 21:16] jayunit100 opened #42670 "[proposal] restructuring tests to facilitate SIG accountability"
Per sig-testing today.

We generally agree:

- We'd like to restructure e2e to group by sig.
- We'd like to auto-associate every PR with a sig so there is global accountability as opposed to individual accountability for any regressions or flakes.
- We'd like to group every job/suite by sig.  possibly redundant to the first bullet.
- As part of this issue Jay has to curate the existing E2E tests w

[2017-03-07 21:16] jayunit100 commented on #42670
@kubernetes/sig-testing-misc

[2017-03-07 21:16] dcbw commented on #42210
For example, pretty sure we don't even need flattenValidEndpoints() and buildEndpointInfoList() at all.

[2017-03-07 21:20] liggitt commented on #42210
Make sure you preserve the intent from when it was added (8ae203825b3b28c45ac7d23f3d107c66df9dad7c)... order needs to be deterministic

[2017-03-07 21:20] lavalamp commented on #34508
The go type name doesn't have to correspond to the json/yaml name. Please keep in mind that the OP of this issue is describing a way to track changes to fields over time, including the sort of change where a given name means string in version 35 and nothing in 36 and int in 37.

My point was, we don't have to *force* it, either.

Yeah, like I said, I still have very little sympathy for people burn

[2017-03-07 21:23] ericchiang commented on #37874
Gah, I'm going crazy. Forgot that client credentials should be sent over basic auth. My question was, does the provider then take a basic auth header with no password at its token endpoint? e.g. Does this work?

[code]

[2017-03-07 21:24] dashpole commented on #39102
Closing this for now, as the proposal was generally approved, and there is no current need for this issue.

[2017-03-07 21:24] #39102 closed

[2017-03-07 21:28] dcbw commented on #42210
@liggitt will look into that.  My code passes the testcases @thockin added, so either it's still correct or the testcases don't have coverage of the intent of that commit.  But the gist of the change is:

[code]

[2017-03-07 21:29] mlbiam commented on #37874
i think you're right first time...you don't send the secret using basic auth during a refresh, you just omit the client_secret parameter http://openid.net/specs/openid-connect-core-1_0.html#RefreshTokens

[2017-03-07 21:32] marun commented on #42670
Part of the motivation for restructuring e2e's to facilitate sig ownership is that  [test_owners.csv](https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv) has proven less than useful in attributing ownership during the 1.6 release process.  Ownership appears to have been randomly assigned, and even if it were accurate, there's no guarantee that a given owner will be available

[2017-03-07 21:42] dashpole commented on #29033
closing since #41644
/close

[2017-03-07 21:42] #29033 closed

[2017-03-07 21:44] thockin commented on #34508
If we don't force it, we have an ugly permanent API and inconsistency.  If we do force it, we impose some burden when switching.

Philosophically I agree.  Practically I think you're dead wrong :)

The original proposal is not going to be viable in the next 3 weeks, wherein we need to make a decision wrt David's new beta fields.

[2017-03-07 21:47] ymqytw commented on #42561
We should assign this issue to another SIG to fix this in 1.6

[2017-03-07 21:49] caesarxuchao commented on #39816
@MikaelCluseau what version are you on? @mikedanese said #40497 was landed in v1.5.3, so the problems should be masked. Is that true?

[2017-03-07 21:53] bgrant0607 commented on #699
I believe this was done as part of SecurityContext and other SELinux work, such as #17555.

[2017-03-07 21:53] #699 closed

[2017-03-07 21:54] dashpole opened #42673 "Add Pod Deletion Prometheus Metric"
With a number of changes to pod deletion going in in 1.6 (#41644, #41095), it is important to expose metrics for monitoring deletion latency.

I plan to expose a pod deletion latency metric in the same way that PodStartLatency is exposed in [kubelet prometheus metrics](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/metrics/metrics.go)

cc @vishh

[2017-03-07 21:55] vishh commented on #42673
SGTM. AFAIK, we do not collect metrics from *all* test suites. So we might
still not catch *all* timeout issues.

On Tue, Mar 7, 2017 at 1:54 PM, David Ashpole <notifications@github.com>
wrote:

[2017-03-07 21:58] bgrant0607 commented on #1111
Minion is still present in scripts in /cluster, such as:
https://github.com/kubernetes/kubernetes/blob/8b8fb6c70da3217a07f198b43528bdf16af4f883/cluster/gce/config-default.sh#L78

We should at least be able to eradicate it when we fully remove provider-specific code from this repo.

[2017-03-07 22:01] liggitt commented on #42561
since the most obvious issue is that there are no nodes registered, let's start triaging there.

[2017-03-07 22:02] dashpole commented on #42673
We can take a look at which suites need these metrics after they are added.

[2017-03-07 22:02] xsgordon commented on #42658
@rootfs have you looked at https://github.com/kubernetes/kubernetes/pull/40423 at all?

@idvoretskyi can you label sig/openstack? Thanks!

[2017-03-07 22:03] bgrant0607 commented on #1567
This is possible via PodSecurityPolicy, by disallowing hostPath volumes.

[2017-03-07 22:03] #1567 closed

[2017-03-07 22:06] ingvagabund commented on #35414
If it can be collected from a reflector, i.e. if there is an object for that, than it could work.

[2017-03-07 22:07] lavalamp commented on #34508
I think there is some disconnect. I'm arguing "change it if it needs to change, otherwise, don't."

Optimizing to prevent a few people getting hurt a lot by hurting everyone a little, in such a way that the total hurt is greater than before, makes the world a worse place. It is not as salient because the low level of pain doesn't cause people to make a bunch of noise. But it does make everyone's e

[2017-03-07 22:09] MikaelCluseau commented on #39816
@caesarxuchao I had to overwrite hyperkube in the docker image `quay.io/coreos/hyperkube-v1.5.3_coreos.0`

[code]

[2017-03-07 22:19] MikaelCluseau commented on #39816
Ahhh it has this commit 64029a2384b9e785a37198d8b53b527021c0fd1a which says:

    Adjust global log limit to 1ms

So probably not a difference a human can detect.

[2017-03-07 22:25] caesarxuchao commented on #39816
I see. 1 ms is still too spamming.

[2017-03-07 22:30] MikaelCluseau commented on #39816
At least, it make the log unusable without filtering ;) I have a global feeling that Kubernetes log system could be improved but I still need to have a better of that. The global problem to solve is probably the repetition of log, something that's solved by events (or at the way kubectl shows them); so maybe I should move my practice more to events and, when I don't have the answer in the events,

[2017-03-07 22:32] dashpole opened #42676 "Test Memcg Notifications on GCI/COS"
Memcg notifications, which have the potential to greatly improve eviction responsiveness was added prior to 1.5: #32577.
However, it appeared that on some images (Specifically CVM), this feature exposed a kernel bug resulting in kernel soft lockups: #37853.
Since 1.5, Memcg has been feature gated, and disabled by default.  However, for images that did not exhibit soft lockups, we should try and re

[2017-03-07 22:33] TamalSaha opened #42677 "Are StatefulSets required to preserve PVC on replica recreation?"
Hi, I wanted to ask about some behavior of StatefulSet. Say I have a SS with replica =3 (also uses PV). Now, later I reduce # of replicas to 2. This deleted the  pod-2. Then if I increase the replicas to 3, I see that the original PVC, if exists, will be reused. My question is this behavior required for a StatefulSet? I am not fully sure from reading:   https://github.com/kubernetes/community/blob

[2017-03-07 22:33] TamalSaha commented on #42677
cc: @smarterclayton

[2017-03-07 22:34] mtaufen commented on #34508
Still catching up on the above. Want to clarify something as I think about this. @thockin your proposal is essentially this (which is in my mind how we were approaching this idea this morning)?
[code]
where the external field name doesn't change, it's just that the internal field name tracks the field version so that we reduce the number of manually edited types.go files? Are you proposing to gene

[2017-03-07 22:36] davidopp commented on #34508
I know of at least one change we definitely want to make, #41718, and I would assume there will be at least some others (all done in a backward-compatible way, of course).

Of course, we could do it by doing a new Beta rev, and then having no change from the last Beta rev to GA, but regardless there will be change(s) from what we have now to GA.

[2017-03-07 22:37] timstclair commented on #42515
A manual search through commenting out parts of the config file revealed that removing the systemd config solves the issue:
[code]

I'll play around with the systemd libraries and see if I can figure out what's going on here.

[2017-03-07 22:40] kow3ns commented on #38439
@kargakis I think we can close this

[2017-03-07 22:46] DreadPirateShawn commented on #39170
Pinging this ticket -- we're seeing the same thing in Kubernetes 1.5. This is a relatively noisy error during production upgrades.

[2017-03-07 22:47] #38439 closed

[2017-03-07 22:47] kow3ns commented on #38254
@foxish @janetkuo @erictune @enisoc I think we can close this flake as well

[2017-03-07 22:52] dchen1107 opened #42679 "e2e flake: [k8s.io] Namespaces [Serial] should ensure that all pods are removed when a namespace is deleted"
The test is really flaky, and the most recent ones:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/759
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/758

[code]

[2017-03-07 22:54] nikhiljindal commented on #36815
This looks like a bug in cluster controller. I see that we are using watch so the controller should be notified immediately when the cluster is deleted.
Will be interesting to add a Log in the [delFromClusterSet](https://github.com/kubernetes/kubernetes/blob/d64434c056d291f967227266083c160962ab0ed7/federation/pkg/federation-controller/cluster/clustercontroller.go#L88) function and see if that come

[2017-03-07 22:56] dchen1107 opened #42680 "e2e breakage: [k8s.io] Services should work after restarting apiserver [Disruptive]"
The test is completely broken now, for example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/759

[code]

[2017-03-07 23:00] dchen1107 opened #42682 "e2e flake: [k8s.io] NoExecuteTaintManager [Serial] evicts pods from tainted nodes"
The test is really flaky lately, for example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/757
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/758

[code]

cc/ @kubernetes/sig-scheduling-bugs @gmarek, can you help with triage?

[2017-03-07 23:01] timothysc commented on #42682
/cc @aveshagarwal

[2017-03-07 23:04] dchen1107 opened #42685 "e2e flake: [k8s.io] NoExecuteTaintManager [Serial] eventually evict pod with finite tolerations from tainted nodes"
Sample failures:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/753
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/755

[code]

cc/ @kubernetes/sig-scheduling-bugs @gmarek

[2017-03-07 23:04] thockin commented on #34508
I'm saying we CAN'T change it if we need to (unless we change the field name).

I think this is overstating, but we're deep into conjecture now.  If someone is using a beta feature, is it so bad to make the acknowledge when the thing stops being beta?

That was the logical extension once we can version objects more aggressively.  For the near-term the name prefix would be visible in the API.

Davi

[2017-03-07 23:06] dchen1107 opened #42686 "e2e flaky: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available"
The test is very flaky lately and sample failure:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/753

[code]

cc/ @kubernetes/sig-scheduling-bugs  @piosz, Could you help triage the flakiness?

[2017-03-07 23:12] timstclair commented on #42515
Still investigating, but I think this may be a regression in the fluent-plugin-systemd library between version 0.0.5 (old image) and 0.0.7 (new image). I realized the diff I linked above was not in sync with the version that was actually pushed (gcr.io/google-containers/fluentd-gcp:2.0). That diff is here, and accurately reflects the change in the systemd library: https://github.com/timstclair/kub

[2017-03-07 23:16] smarterclayton commented on #29033
Yay

On Tue, Mar 7, 2017 at 4:43 PM, David Ashpole <notifications@github.com>
wrote:

[2017-03-07 23:16] lavalamp commented on #34508
@mtaufen what you list there may break the proto field numbering if not done super carefully. It's also somewhat similar to OP.

Looks like an addition, not a modification, should be fine.

I think this is a feature request: backwards compatible field schema change. If we think there's a decent chance we'll need this for 1.7, then I can put this closer to the top of my queue. Note that we don't ne

[2017-03-07 23:18] dchen1107 opened #42688 "e2e flaky: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [ReplicationController] should eagerly create replacement pod during network partition when termination grace is non-zero"
The test is getting very flaky lately due to timeout, and here are the sample failures:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/779

[code]

@kubernetes/sig-apps-bugs

[2017-03-07 23:25] thockin commented on #34508
That's right, we don't need it now.  Regardless of which answer we choose RIGHT NOW, it's an experiment.  Hypothesis: If we don't rename/prefix, we won't learn much.  If we do rename/prefix we might learn whether people actually care about a field being renamed in transition to GA.

OTOH, if we can actually get the work done to version aggressively, we don't need this at all.  I just suspect that

[2017-03-07 23:29] foxish commented on #42688
This was fixed by https://github.com/kubernetes/kubernetes/pull/42596
It is green in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/780 and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/781

[2017-03-07 23:29] foxish commented on #42688
cc @enisoc

[2017-03-07 23:38] timstclair commented on #42515
Confirmed this is a regression in `fluent-plugin-systemd 0.0.7` (0.0.6 does not have the problem). Fortunately 0.0.7 only has a single commit, https://github.com/reevoo/fluent-plugin-systemd/commit/bcbd53ed42b85df5e8ec9b42410bf43a4d0c2683. I'll file an issue on the plugin.

In the meantime, I'll send a PR to pin fluent-plugin-systemd to 0.0.6.

[2017-03-07 23:39] ixdy commented on #42329
That's bizarre. You ran those two `date` commands at the same time?

[2017-03-07 23:39] TamalSaha commented on #42677
cc: @k8s-sig-scheduling

[2017-03-07 23:41] aveshagarwal commented on #42677
@kubernetes/sig-scheduling-feature-requests

[2017-03-07 23:43] ymqytw commented on #40373
@smarterclayton I don't think I can make it in 1.6, there is a lot code change, it may be too risky to do this in 1.6.
Is it OK to fix it in 1.7?

[2017-03-07 23:44] rmmh commented on #42329
Are you running an ubuntu VM with source code from your mac mounted? Are you running NTP to synchronize clocks on both?

VM clocks can be confused when paused, and will cause strange problems like this.

[2017-03-07 23:44] abrarshivani opened #42690 "Kubelet stops due to duplicate api.NodeAddress value"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-07 23:45] TamalSaha commented on #42677
@kubernetes/sig-apps-feature-requests

[2017-03-07 23:45] dchen1107 commented on #42688
Great, thanks!

[2017-03-07 23:45] #42688 closed

[2017-03-07 23:58] sc68cal commented on #40367
No, and I've had a job change recently. I will attempt to reproduce in my spare time once I get settled in. Sorry for the delay

[2017-03-07 23:58] ixdy commented on #42573
Looks like the `1.6.0-beta.0` kubectl was only 66M, which is a more justifiable increase (though still a lot).

Between 1.6.0-beta.0 and 1.6.0-beta.1 we went from go1.7.4 to go1.7.5.

[2017-03-07 23:59] crassirostris commented on #42515
@timstclair Thanks a huge lot for investigating this!

[2017-03-08 00:00] liggitt commented on #42660
We use upgrade.sh to downgrade?

[2017-03-08 00:01] dchen1107 opened #42691 "e2e flaky: [k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching [Conformance]"
Sample failures:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/781

[code]

@kubernetes/sig-scheduling-bugs

[2017-03-08 00:04] bsalamat commented on #37017
This one has been consistently passing in the past couple of weeks. Should we close it?

[2017-03-08 00:07] bsalamat commented on #37176
This test has been consistently passing in the past couple of weeks. Should we close it?

[2017-03-08 00:11] ixdy commented on #42573
OK, it is not due to the golang version bump:
[code]

[2017-03-08 00:17] gaocegege commented on #30763
I think we should slove the problem from upstream to keep code clean but it seems that they don't have time to implement it.

ref https://github.com/spf13/cobra/issues/350

[2017-03-08 00:19] ixdy commented on #42573
Happened between https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build-1.6/3?log#log and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build-1.6/4?log#log:

[code]
[code]

So something in https://github.com/kubernetes/kubernetes/compare/b877536...30dd660.
I'm digging at the CI build artifacts for master (`gs://kubernetes-release-dev/c

[2017-03-08 00:20] krousey commented on #42660
@liggitt Yes. See [1.5 manual upgrade testing instructions](https://docs.google.com/document/d/19Q4AzWLD5jd2FNaPyKy2xdTN4JIGUUpvwDwg0tcBkyc/edit#). Steps 8 and 10 in the test workflow basically downgrade using the previous release's upgrade script.

[2017-03-08 00:21] mml commented on #38569
@nicksardo for why the logs look incomplete, please see kubernetes/test-infra#2112.

[2017-03-08 00:25] grodrigues3 commented on #35318
/assign @kow3ns

[2017-03-08 00:25] yujuhong commented on #42646
Ran into this on multiple PRs. Bumped the priority.
E.g., https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/42681/pull-kubernetes-e2e-gce-gci/21197/

[2017-03-08 00:28] ixdy commented on #42573
Search complete.
[code]

New smaller range: https://github.com/kubernetes/kubernetes/compare/c713ef434d05a5...cdf0cae9e4d604

[2017-03-08 00:35] timstclair commented on #42515
Reopening to track the version bump.

[2017-03-08 00:37] liggitt commented on #42573
https://github.com/kubernetes/kubernetes/compare/c713ef434d05a5...cdf0cae9e4d604#diff-095754adfdcb15cae5584c79c20510e0 massively increases the import tree of the apiserver

[2017-03-08 00:43] caesarxuchao commented on #42086
Looking into this now.

[2017-03-08 00:49] marun commented on #38549
@DirectXMan12 How does heapster run?  Is it possible to get the logs into the artifact directory?Here's the script that dumps the logs:

https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump.sh

[2017-03-08 00:49] yongtang commented on #42492
I can help with the version fix if no one is working on this issue yet. As docker version (not API version) is used in many places, the complete fix may span to https://github.com/google/cadvisor I think.

[2017-03-08 00:53] ixdy commented on #18432
per https://github.com/kubernetes/test-infra/issues/2112, this is not yet done.

[2017-03-08 00:53] k82cn commented on #42329
Yes, at the same time.

The issue is in Mac; it works in Ubuntu 16.04 vm (VM disk).

And I found the `localtime` in local machine was copied into docker; will that the problem?

[2017-03-08 01:00] ixdy commented on #42329
The `localtime` copy just ensures that the timezone in the container matches your host.

[2017-03-08 01:04] ixdy commented on #42573
@kubernetes/release-team fyi

[2017-03-08 01:05] yujuhong commented on #42492
@yongtang that'd be great!

Ignore the code in https://github.com/kubernetes/kubernetes/tree/v1.7.0-alpha.0/pkg/kubelet/dockertools, as that package is going away soon.

[2017-03-08 01:09] smarterclayton commented on #42573
Yikes, that is a serious problem.  pkg/api/validation should *not* import
every volume plugin implementation.

We need to either find a way to snip the dependencies or revert mount
options.

This is a pretty serious regression in size, not only a layering violation.

On Mar 7, 2017, at 8:05 PM, Jeff Grafton <notifications@github.com> wrote:

@kubernetes/release-team
<https://github.com/orgs/kubern

[2017-03-08 01:11] shashidharatd opened #42695 "[Federation] event broadcast is broken"
We are seeing lot of error messages in logs from CI build related to `events`.
with the error message  `'namespaces "default" not found' (will not retry!)`
[code]

cc @kubernetes/sig-federation-bugs

[2017-03-08 01:14] k82cn commented on #42329
no idea now :(. I'm using `./hack/update-generated-protobuf-dockerizer.sh` now.

[2017-03-08 01:24] dchen1107 commented on #42526
@ncdc I am going to look into this one tomorrow. Thanks!

[2017-03-08 01:25] rmmh commented on #42329
Is your VM an hour into the future? Does your Mac or VM clock disagree with https://www.timeanddate.com/time/zones/cst-china ?

[2017-03-08 01:27] k82cn commented on #42329
@rmmh , no, it's not VM related issue. It works fine in my VM, but does not work in my Mac (physical machine, my laptop).

[2017-03-08 01:30] yujuhong opened #42696 "dockershim: check and enforce minimum docker api version"
This mirrors what we do for dockertools.

/cc @dchen1107 @Random-Liu

[2017-03-08 01:30] krzyzacy commented on #42329
@k82cn can be vpn or proxy related issue that gives a bad modified time?

[2017-03-08 01:30] k82cn commented on #32531
/cc  @davidopp , @timothysc , @bsalamat for comments.

[2017-03-08 01:31] bgrant0607 commented on #10439
HN thread: https://news.ycombinator.com/item?id=10927043

[2017-03-08 01:32] k82cn commented on #42329
wow, vpn and proxy, maybe. let me try it without vpn & proxy.

[2017-03-08 01:35] k82cn commented on #38542
@elicox , there's a PR that handled that issue; but we're discussing not to merge it because initContainers had been moved to fields, and fields is the recommended way to use since 1.6. But  I'd like to get  @smarterclayton & @liggitt 's comments on 1.5.

[2017-03-08 01:38] k82cn commented on #42433
Based on experience？

[2017-03-08 01:40] ymqytw opened #42697 "[k8s.io] Kubectl client [k8s.io] Simple pod should handle in-cluster config failing in version skew tests"
[k8s.io] Kubectl client [k8s.io] Simple pod should handle in-cluster config failing in the following tests:
[gce-1.6-master-cvm-kubectl-skew](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.6-master-cvm-kubectl-skew&width=80)
[gce-1.6-master-gci-kubectl-skew](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.6-master-gci-kubectl-skew&width=80)
API server and kubectl a

[2017-03-08 01:40] mawentao02 commented on #42618
**kubectl --context=cluster-cloud94 --namespace=federation get secrets**
NAME                              TYPE                                  DATA      AGE
cluster-cloud94                   Opaque                                1         22h
default-token-lnj44               kubernetes.io/service-account-token   3         13d
federation-apiserver-kubeconfig   Opaque

[2017-03-08 01:40] ymqytw commented on #42697
Please apply the labels and milestone.

[2017-03-08 01:41] caesarxuchao commented on #42086
My first local reproduction failed because:
[code]

[2017-03-08 01:41] k82cn commented on #42686
@dchen1107 , I'm working on that at #32531 .

[2017-03-08 01:43] krzyzacy commented on #42329
coz I know you need those to get the traffic over :-)

[2017-03-08 01:45] madhusudancs commented on #42618
Interesting. Could you exec into your federation-controller-manager pod and run these commands? Or just curl the host cluster's API server to get this secret?

[2017-03-08 01:46] k82cn commented on #35486
I don-t think so; just verify yesterday, it works fine.
I think that's because protobuf's version in your local disk when using `hack/update-generate-protobuf-dockerized.sh`.

[2017-03-08 01:49] freehan opened #42698 "KubeGenericRuntimeManager starts up the pod even when dockershim RunPodSandbox returns error"
I bumped into this when I am trying to run a pod with hostport on a node where the port is occupied. In this case, kubenet will clean up all network artifacts and return error to dockershim. And dockershim will return error to KubeGenericRuntimeManager.

But somehow, KubeGenericRuntimeManager lets the pod stay and declare it `Running` but with no ip. This implies that errors returned by network pl

[2017-03-08 01:51] #42587 closed

[2017-03-08 01:52] #37017 closed

[2017-03-08 01:52] #37176 closed

[2017-03-08 01:53] mawentao02 commented on #42559
### I am running v1.6.0-beta.1 host cluster.
 **curl -k --header "Authorization:Bearer dpHCYNCtb9c5qAfE2ri1iH3FDUvkaXnq"  https://172.31.8.29:443/version**
{
  "major": "1",
  "minor": "6+",
  "gitVersion": "v1.6.0-beta.1",
  "gitCommit": "23cded36d1d20a538f97e0da05c1d2b62a6be700",
  "gitTreeState": "clean",
  "buildDate": "2017-03-02T22:52:08Z",
  "goVersion": "go1.7.5",
  "compiler": "gc",
  "pl

[2017-03-08 01:57] freehan commented on #42698
Grepped kubelet log:
[kubelet.log.zip](https://github.com/kubernetes/kubernetes/files/826384/kubelet.log.zip)

If nobody has bandwidth to look into this, I will come back to this after fixing a more urgent kube-proxy problems. @yujuhong @Random-Liu

[2017-03-08 02:00] fabianofranz commented on #42697
On it.

[2017-03-08 02:01] shashidharatd commented on #42695
All these `Server rejected event` are events associated with namespace object creation/deletion. since namespace object itself will not have namespace, they are assigned default namespace.

@nikhiljindal, Should we create default namespace in federation?

[2017-03-08 02:05] caesarxuchao commented on #42086
According to the stats shown at go.k8s.io/triage, the test is only flaky on kops. In other job, there is 0 failure in thousands builds.

[2017-03-08 02:07] sjezewski opened #42699 "setting for storage resource request or pod container disk size"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

storage resource request
container file size limit

---

**Is this a BUG REPORT or

[2017-03-08 02:08] Random-Liu commented on #42698
I believe the problem is that:
* Even though `RunPodSandbox` returns error, the infra container is already started.
* When kubelet does resync, dockershim returns the sandbox is `Ready`, because we don't set the sandbox as `NotReady` when the container networking is not working properly.
* Kubelet thought the sandbox is good.

The problem is that network plugin should tell dockershim that the sand

[2017-03-08 02:16] shashidharatd commented on #42695
cc @madhusudancs

[2017-03-08 02:17] Random-Liu commented on #42698
@freehan Is the IP allocation synchronous or asynchronous? Is it ok to say that if there is no IP after we `RunPodSandbox`, there must be something wrong? Is there any other way to distinguish whether a sandbox is working properly or not?

[2017-03-08 02:23] fzu-huang commented on #42554
@dchen1107 @yujuhong    thank you all.   Because I use manifest, so the node of master-components  is `localhost`.
[code]

and there are not any node named `localhost`:
[code]
All these components' containers are running and did not be delete.

[2017-03-08 02:53] luckywarrior commented on #12984
skydns version older than 1.3 has the problem.It is because skydns will inherit the host's dns configure from  /etc/resolv.conf.To solved this problem just remove all the nameserver in host's /etc/resolv.conf,and restart skydns,or just update newer version after 1.3

[2017-03-08 02:58] timothysc commented on #35414
This is not a good idea in the long haul, you are partial weighting based on some level of data gravity, where distance doesn't matter.  If you want better performance, smash your layers to 1 and pre-pull your most common images across your cluster or make your images immutable.

[2017-03-08 03:02] gnufied commented on #42573
I am looking at options what we can do. The reason volume plugins are getting imported in api server is because - we wanted to do a creation time validation of PVs and whether underlying volume plugin supports mount options (there are many that don't).

[2017-03-08 03:03] rmb938 opened #42700 "Kubelet pod-manifest-path doesn't limit file extensions"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**:

[code]

- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

- **Install tools**:

  * Custom RPMs deployed via Puppet

**What happened**:

Any files that look like valid Pod definitions in the Kubelet `pod-manifest-path` will be consumed wit

[2017-03-08 03:10] msavlani commented on #12984
@luckywarrior : i dont think we should remove entry from hosts resolv.conf because that would cause many other problems like name resolution.

 @daikaixian @miry @esecules @stephanlindauer  : If you think IP for which connection issues are coming is your DNS IP and not skydns IP, then try to look at your iptables rules.
There are some issues related to IP routing  e.g : [#11204](https://github.com

[2017-03-08 03:13] k82cn opened #42701 "kubelet failed to record some events."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master

**What happened**:
[code]

[2017-03-08 03:13] k82cn commented on #42701
/assign k82cn

[2017-03-08 03:13] k82cn commented on #42701
/assign @k82cn

[2017-03-08 03:19] smarterclayton commented on #42573
If you need to do that, create a sub package with just that code, no
external dependencies.

We really can't have "dynamic" plugins in the API code, it's a locked API.

On Mar 7, 2017, at 10:02 PM, Hemant Kumar <notifications@github.com> wrote:

I am looking at options what we can do. The reason volume plugins are
getting imported in api server is because - we wanted to do a creation time
validati

[2017-03-08 03:32] gnufied commented on #42573
There are couple of options I am thinking:

1. Define new subpackage that contains PV validation code and plugin imports and directly call that function via https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/persistentvolume/strategy.go#L56 hooks. These are the entry points from where `validation.ValidateXXX` methods are called anyways.

2. We can drop creation time validation

[2017-03-08 03:33] mawentao02 commented on #42618
### You main I need to go inside federation-controller-manager container to run these commands?
**docker ps**
CONTAINER ID        IMAGE                                                                                                                                               COMMAND                  CREATED             STATUS              PORTS               NAMES
**b2506c1bd389**        registr

[2017-03-08 03:38] gnufied commented on #42573
@smarterclayton I still don't quite get what you mean by we can't have "dynamic" plugins in the API. These volume plugins aren't dynamic and they don't change API interface in anyway. The mount option is merely an annotation .The only thing they can "potentially" change is - whether a PV type will accept mount options or not.

Having said that,  I didn't expect kubectl to import `api/validation`.

[2017-03-08 03:41] smarterclayton commented on #42677
That behavior is "required" if the user does not delete the PVC.  If the PVC is deleted, the controller will create another one.

[2017-03-08 03:48] smarterclayton commented on #42573
Splitting your validation into separate packages is what I would recommend.

Validation happens on the server, not on the client.  The client validation
is a swagger schema validation, which is based on the server side document
generated by swagger.  We will eventually break client validations away,
but it's tied into other changes.

I consider this a release-blocker at this point since this is a

[2017-03-08 03:57] myonlyzzy opened #42703 "kubeadm init discovery: Invalid value"
when I use kubeadm init

kubeadm init
[kubeadm] WARNING: kubeadm is in alpha, please do not use it for production clusters.
[preflight] Running pre-flight checks
[init] Using Kubernetes version: v1.5.4
discovery: Invalid value: null: exactly one discovery strategy can be provided

if I use  --discovery  what  discovery method  I can use

[2017-03-08 04:00] saad-ali commented on #42573
@gnufied Let's drop creation time validation of mount options for PVs for this (1.6) release, that'll get rid of the dependencies in API server, and open an issue to reimplement them without importing the full dependency tree in v1.7 (as @smarterclayton suggested, maybe multiple packages, we'll need to think about it).

[2017-03-08 04:10] #42515 closed

[2017-03-08 04:26] Crassirostris commented on #42188
@richm But do you need to have this metadata in each entry? Almost all these fields can be extracted independently and then joined with the log entries, if necessary.

As for k8s metadata, the current plan is to retrieve it from API server. In the future, maybe that will change to retrieving metadata from kubelet directly (via API or files, that's yet to be discussed).

[2017-03-08 04:28] Crassirostris commented on #42188
@richm As for the problem with mutable metadata, does journald allow to solve it?

[2017-03-08 04:28] gnufied opened #42707 "Perform mount option validation during PV creation"
As a follow up to https://github.com/kubernetes/kubernetes/issues/42573 - we would like to perform mount option validation during PV creation itself.

One potential problem as discussed in linked issue is - importing volume plugins inside `api/validation` causes huge increase in binary size of kubectl. We would want PV validation for mount option to be inside separate package.

[2017-03-08 04:30] gnufied commented on #42573
Okay I have removed creation time validation of mount options for now - https://github.com/kubernetes/kubernetes/pull/42706

Follow up issue is here for 1.7  - https://github.com/kubernetes/kubernetes/issues/42707 . @saad-ali please assign the issue to me.

[2017-03-08 04:48] Crassirostris commented on #42188
@portante What Vish is talking about is kubernetes metadata, journald doesn't have that

Metadata that is currently inside journald log entry can be acquired in a different way and then joined with logs. For example, when consuming logs by fluentd, you can add hostname as one of the labels, or join hostname with the node name (that is inside kubernetes metadata) on backend later.

[2017-03-08 04:50] zag2art commented on #31910
@MrHohn the same bug - `Failed to create a kubernetes client: invalid configuration: no configuration has been provided`

[2017-03-08 05:01] MrHohn commented on #31910
@zag2art Could you provide more information (or file a new issue)? It has similar symptom but likely has different root cause.

[2017-03-08 05:01] yujuhong commented on #42698
Two things we can do:
 1. Add mechanism in kubenet to allow checking the status of the podsandbox, so that dockershim will return the status correctly.
 2. Clean up the podsandbox container on error -- either in kuberuntime (StopPodSandbox) or in dockershim.

dockertools does the cleanup as well.

[2017-03-08 05:15] Random-Liu commented on #42698
Yeah, I didn't notice that.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L2276

This seems more like a runtime implementation detail.

Is 1) easy to do? @freehan  If not, 2) should be good enough now. :)

[2017-03-08 05:16] yujuhong opened #42709 "kubemark-500 flaking: 1 containers failed which is more than allowed 0"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/3105

After #42264 was merged (enabling CRI in hollow nodes), the test started flaking.

Failure signature:
[code]

I couldn't find anything useful in the log -- what container failed or why it failed.
I think dumping more information in the test may help, since we don't have hollow node logs for kubema

[2017-03-08 05:16] yujuhong commented on #42709
/cc @Random-Liu

[2017-03-08 05:21] Random-Liu commented on #42709
The error is exactly what I saw when that PR was initially merged.

[2017-03-08 05:31] gmarek commented on #42438
It has nothing to do with the NodeController:
[code]

cc @saad-ali

[2017-03-08 05:41] repeatedly commented on #42515
Good investigation. Latest systemd plugin uses ` @journal.wait(0)` and it seems to cause busy loop like problem.

[2017-03-08 05:47] liggitt commented on #42709
can you go ahead and open the appropriate revert?

[2017-03-08 06:01] yujuhong commented on #42709
@liggitt I was debugging this by sshing into the kubemark-500 nodes, but as luck would have it, the most recent run passed. This successful run unblocked the submit queue.

I will upload a PR, but I would ask that maybe we consider do one of the following:
 1. If the test doesn't flake frequently enough that it'd affect submit queue, we don't revert the PR so that we can properly debug it.
 2. Mov

[2017-03-08 06:04] liggitt commented on #42709
You clearly haven't seen the size of some of the PRs going in

[2017-03-08 06:07] yujuhong commented on #42709
We still have kubemark-100, and kubemark-500 will still be running (just not submit queue blocking). Besides, there are only two PRs in the submit queue. Maybe I am too optimistic, but I don't think this is a ridiculous request.

[2017-03-08 06:08] ymqytw commented on #42707
/assign @gnufied

[2017-03-08 06:17] denisa commented on #33483
+1

[2017-03-08 06:20] yu-yang2 commented on #29972
I have encountered this problem too,hope someone can solve.

[2017-03-08 06:23] liggitt commented on #42709
At least get the appropriate revert open so we can get it green if we need it

[2017-03-08 06:29] mitake commented on #16466
Hi,

I'm interested in the idea of prefetching. It is because I'm trying to benchmark (just spawn pods on nodes) and understand performance of optimality of k8s (apiserver + etcd) and various schedulers. Let nodes prefetch images before doing the benchmark will be helpful for excluding the cost of image pulling.

Is anyone already working on this feature?

[2017-03-08 06:45] bgrant0607 commented on #40358
Original issue: #3945

[2017-03-08 06:45] gmarek commented on #42709
I'm all with @yujuhong on this. This failure may indicate some rare race in CRI (or in it's fake implementation, but it's hard to tell at this point), so we should debug it. I'm going to enable gathering logs from kubemark-500 runs.

[2017-03-08 07:02] wojtek-t commented on #42709
+1 for having an open revert (for now, I'm fine with having it hang with "do-not-merge" label)

[2017-03-08 07:03] mdshuai commented on #37809
@eparis you are right, pod level and container should work both and have same selinux result if only set one of them.

[2017-03-08 07:04] wojtek-t commented on #42709
The revert is here - just in case:
https://github.com/kubernetes/kubernetes/pull/42712

[2017-03-08 07:06] wojtek-t commented on #42709
@Random-Liu @yujuhong - we just merged the PR in test-infra that should start gathering logs from hollow kubelets.

@gmarek @shyamjvs  - can you ensure in 2-3 hours that those logs are really there?

[2017-03-08 07:06] bgrant0607 commented on #34508
We're going round and round. This discussion is a repeat of #30819.

Regarding "same info, different fields" comment here: https://github.com/kubernetes/kubernetes/issues/34508#issuecomment-284825444

Our previous discussion was here:
https://github.com/kubernetes/kubernetes/issues/30819#issuecomment-252774539

There are more comments and links to additional comments regarding backward compatibili

[2017-03-08 07:12] mkumatag opened #42714 "Missing gcr.io/google_containers/etcd-ppc64le:3.0.17 image"
Latest kubeadm code is looking for 3.0.17 version of gcr.io/google_containers/etcd-ppc64le docker image but is missing. Please push this image to work latest kubeadm properly on ppc64le platform.

[2017-03-08 07:12] mkumatag commented on #42714
\cc @ixdy @luxas

[2017-03-08 07:19] wojtek-t commented on #42644
Copying from the other thread:

@liggitt - so do you suggest passing the information about whether the object is from cache or not to tryUpdate function?
How patch then should behave based on that? Are you suggesting to "reset" it's state based on that bit of information?
Are there any other places that will use that information, that you are aware of?

[2017-03-08 07:25] gmarek opened #42716 "DefaultTolerationSeconds admission controller is not working"
Default toleration should be applied to newly created Pods. But:
[code]
Gives result:
[code]

Log from the apiserver says:
[code]
Which indicates some problems with casting:
[code]

This admission controller is using:
[code]

Which is probably wrong, as I guess it should be `api/v1/` from client-go. Another example when apimachinery refactoring bites us. cc @deads2k @lavalamp @caesarxuchao @brenda

[2017-03-08 07:26] bgrant0607 commented on #15879
Documented.
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#backward-compatibility-gotchas

[2017-03-08 07:26] #15879 closed

[2017-03-08 07:41] k82cn commented on #40358
/assign @k82cn

[2017-03-08 07:46] kevin-wangzefeng commented on #42716
Got it, I'm taking a look.

[2017-03-08 08:42] andrewsykim commented on #24657
@thockin opened https://github.com/kubernetes/kubernetes/pull/42717 for this. For the most part I took your advice and did a search for `status.podIP` and added `status.hostIP` where possible.

p.s. super excited for your talk at cloud next :)

[2017-03-08 08:43] luxas commented on #42714
I think @wojtek-t should have pushed it; however I see it isn't pushed and yet has to be...
@ixdy might also be able to chime in if @wojtek-t experienced problems or something...

etcd3.0.17 for s390x should also be pushed

[2017-03-08 08:52] crassirostris opened #42718 "Create guidelines for consuming application logs"
Right now there are no clear guidelines as to how to intercept and handle logs produced by application containers on the node. For example, if I wanted today to implement or adapt a new solution for exporting logs, I would have hard time figuring out how to do it. This has created some confusion in the past, example being this issue: https://github.com/kubernetes/kubernetes/issues/24677.

At the s

[2017-03-08 08:59] gmarek commented on #42682
Dupe of #42685

[2017-03-08 08:59] #42682 closed

[2017-03-08 09:12] gmarek commented on #42685
This is a test tuning issue, and I need some guidance on how to set it up @dchen1107.
My observations are that basically everything is working as intended, but Kubelet is not deleting Pod quickly enough.
Proof:
logs from test:
[code]
Which means that delete pod actually happened on 09:53:19 (kubelet noticed it and started doing something), but until 09:53:18 Kubelet didn't force-delete the Pod.

T

[2017-03-08 09:12] xilabao commented on #42718
/cc

[2017-03-08 09:20] gmarek commented on #42685
FYI: I tried to extend timeout to 1 minute, but it didn't help.

[2017-03-08 09:22] eddytruyen commented on #39522
The problem is probably because the kubelet runs in a docker container. You have to pass the env variables to the docker container using -e option of docker run and mount the flocker_ca_dir as a volume using the -v option. You can see how I implemented it for docker-multinode deployment tool at https://github.com/eddytruyen/kube-deploy project and then go to the docker-multinode directory.

A more

[2017-03-08 09:27] gmarek commented on #42685
Some kubelet logs for taint-eviction Pod:
[code]

As can be seen there's a huge (over a minute) gap when Kubelet wasn't doing anything with the Pod.

[2017-03-08 09:33] gmarek commented on #42685
Extending time to 5 minutes seems to do the trick, but I don't know if that's the desired behavior (i.e. the fact that it takes over a minute to delete a single Pod).

Alternatively we can change the test to look for setting the deletion timestamp, not wait for proper Pod deletion and completely ignore Kubelet part of the test.

[2017-03-08 09:37] eddytruyen opened #42720 "Flocker volume plugin does not work anymore since version 1.5.1"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Flocker, Flocker fails
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2017-03-08 09:42] kargakis commented on #38528
The only real failure for this test (listed as 4. above) is not possible anymore - we fixed validation of the rs status to not allow availableReplicas > readyReplicas. All the rest of the failures are transient, not related to the test. Will close this one and let the bot reopen it with new links.

[2017-03-08 09:42] #38528 closed

[2017-03-08 09:43] kargakis commented on #38646
#42175 is merged, closing this one.

[2017-03-08 09:43] #38646 closed

[2017-03-08 09:46] kevin-wangzefeng commented on #42716
Just took a look, some functions this admission controller depends in `kubernetes/pkg/api/v1/helpers.go`, i.e. `AddOrUpdateTolerationInPod()` don't exist in `client-go/pkg/api/v1/helpers.go`

@caesarxuchao is there any particular reason that we don't sync these functions?

[2017-03-08 09:53] kevin-wangzefeng commented on #42716
Nevermind my last reply, I found it.

[2017-03-08 10:02] guillelb commented on #42413
Finally, the solution was to allow forwarding on iptables:
`iptables -P FORWARD ACCEPT`

Thank you @xiangpengzhao & @liqlin2015 !

[2017-03-08 10:02] #42413 closed

[2017-03-08 10:29] jianzhangbjz commented on #42412
@vishh Added the `e2e` test in my [PR](https://github.com/kubernetes/kubernetes/pull/42560).

[2017-03-08 10:45] FrankYu commented on #33714
same here, with kubernetes-1.4.0-0.1.git87d9d8d.el7.x86_64 on centos7.3

[2017-03-08 11:09] keegancsmith commented on #2707
@erictune Funnily enough this hit us as well today for elasticsearch. Docker had this restriction and reverted it since POSIX pretty clearly states that you should tolerate env strings you don't understand. See more in the relevant docker issue https://github.com/docker/docker/issues/16585

[2017-03-08 11:13] CallMeFoxie commented on #9802
Still interested in using nodeSelectors for PV(C). Not useful just for databases but also for anything that has local data cached/pre-downloaded. Upon re-creating the pod via some higher controller (RC/RS from Deployment) we cannot easily specify specific node it should run on and would possibly lose its local data validity.

Or, for that matter, allow in nodeAffinity use of fieldRefs. Would work

[2017-03-08 11:36] ajtrichards commented on #37471
Hi @ligc - Have you tried: `kubectl exec -it my-nginx-2833891535-ycsq2 /bin/bash` or `kubectl exec -it my-nginx-2833891535-ycsq2 sh`? That's what I would typically use and it works fine :)

[2017-03-08 12:17] k8s-merge-robot opened #42724 "[k8s.io] Generated release_1_5 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/6634/
Failed: [k8s.io] Generated release_1_5 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}

[code]

[2017-03-08 12:29] CallMeFoxie opened #42725 "Feature request: Permanent local storage/Same-node StatefulSet rescheduling"
Imagine scenario:
cluster of 200 servers, one app (results from them are aggregated upstream), each works on a different set of data which has to be downloaded **locally** before use. Application controlled by Deployment/StatefulSet. During update each instance gets terminated and restarted. There's no direct way to make sure that the updated instance schedules on the same node to re-use already d

[2017-03-08 12:40] rhatdan commented on #37809
I would refrase this to say that they should have one label if the POD Label is set but the container label is not set.
If you set the container label it could be different then the pod label, since the pod label will get the default label and the container label will get the specified label.

[2017-03-08 12:54] kargakis commented on #35318
Deployments already have an SLA for maintaining availability *during* ReplicaSet upgrades (d.spec.rollingParams.maxUnavailable). It's still not clear to me how that will interact with PDB but the Deployment controller seems like the right place for generating PDBs. I think that if the ReplicaSet controller won't ever switch to use /eviction for deleting Pods, then d.spec.rollingParams.maxUnavailab

[2017-03-08 12:57] soltysh commented on #42649
There was similar problem recently fixed https://github.com/kubernetes/kubernetes/issues/36311, although in this particular use case it's hard to distinguish whether it was down or something else broke, from a controller point of view. I could only suggest tweaking `.spec.startingDeadlineSeconds` for the time.

[2017-03-08 12:58] deads2k commented on #42716
I doubt it on both counts.  Admission plugins use internal objects, you so you want to cast using `pkg/api.Pod` and that's code we didn't touch or change.  Looks like it was just broken and test-less.

[2017-03-08 12:58] wuzesheng opened #42727 "Where's the log files of cluster setup by kubeadm?"
Hi there,

I setup my Kubernetes cluster on CentOS 7 by kubeadm, I can view the logs via 'kubectl logs $pod -f', but I can't find the logs files either in the /var/log/containers directory or the /var/lib/docker/containers directory.  And even I searched the whole system by the system find command, there's no log file related to kubernetes pod. This is really weird.

Any suggestions?

[2017-03-08 12:59] kargakis commented on #40415
1.5.4 is out: https://github.com/kubernetes/kubernetes/releases/tag/v1.5.4

[2017-03-08 13:03] kevin-wangzefeng commented on #42716
@deads2k thanks for the reply, I just found the versioned objects don't work in admission controller, will use internal object instead.

[2017-03-08 13:05] wojtek-t commented on #42709
BTW - this has also failed recently in kubemark-100:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/1688
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/1681

[2017-03-08 13:08] wojtek-t commented on #42644
The fix is out in https://github.com/kubernetes/kubernetes/pull/42729

[2017-03-08 13:11] k82cn commented on #42686
According to the log, the eviction was triggered by rescheduler and the pod wad deleted; but scheduler still can not find enough cpu resources for the dashboard pod. No clue for now :(.

[2017-03-08 13:19] groundnuty commented on #24249
I have tried a couple of nfs-server images from docker hub, I've built and image based on what @innovia supplied above. I've used Deployment, tried 1 and many replicas. In all cases, I can access the nfs servers when using pods ip-s, but not service ip.

Running k8s 1.5.3 on bare-metal ubuntu setup with kubeadm.

[2017-03-08 13:28] TamalSaha commented on #42725
@CallMeFoxie I think https://github.com/kubernetes/kubernetes/issues/42677 is related to this issue.

[2017-03-08 13:32] TamalSaha commented on #42677
Found some related previous discussion; https://github.com/kubernetes/kubernetes/issues/9802

[2017-03-08 13:40] soltysh commented on #42392
I'd say it's strongly advised to do so and we do our best to keep to support skewed versions. Hopefully the big fix from @liggitt will allow us to actually make it more accurate starting from kubectl 1.6 :)

[2017-03-08 13:50] xilabao commented on #42727
It is on the way. ref to https://github.com/kubernetes/kubernetes/pull/42470

[2017-03-08 13:57] gnufied commented on #42293
Looking at your logs - I can say that yeah it will also fix the problem with volumes not being mounted.  1.5.4 got released and it has the necessary fix - please upgrade.

[2017-03-08 14:13] ncdc commented on #41892
@liggitt @deads2k @wojtek-t would this work? https://gist.github.com/ncdc/97e2ae9c7d9a8d4d718c8382daf38775

[2017-03-08 14:14] jayunit100 commented on #42433
... What experience - a 10 node cluster or a 100 node cluster?  12500 seems like a very well specified magic number :).

[2017-03-08 14:18] wojtek-t commented on #41892
Actually, this looks reasonable to me.
I did: https://github.com/kubernetes/kubernetes/pull/42729 that is pretty much solving exactly the same issue, but I think what you're suggesting looks better to me.

[2017-03-08 14:19] lpreson commented on #42649
@soltysh if I set `.spec.startingDeadlineSeconds` to a high number will it trigger once on resume or trigger all missed jobs?

[2017-03-08 14:19] liggitt commented on #41892
this could fix replace, but not patch. the tryUpdate closure in patch captures state, so re-invoking GuaranteedUpdate wouldn't solve anything

[2017-03-08 14:21] ncdc commented on #41892
Maybe we need a combination of the two approaches?

[2017-03-08 14:22] soltysh commented on #42649
@lpreson up to `.spec.startingDeadlineSeconds` but then again you could try setting `.spec.restartPolicy` to `Forbid`, this way only one will be run at the time. I must admit your use case is far from normal, due to shutting down the cluster, but reasonable for the controller to work stably.

[2017-03-08 14:22] liggitt commented on #41892
Maybe. I'm also trying to reason through what this would do in create cases (AlreadyExists errors) and CreateOnUpdate cases

[2017-03-08 14:27] wojtek-t commented on #41892
Yes - regarding patch, it's a good point. I initially though that second GuaranteedUpdate will "drop the state", but that's not true. So we probably need something like my PR.

In that case, the correct thing to do is to fail the update. And any update will fail at the etcd level anyway, right?

[2017-03-08 14:31] lpreson commented on #42649
@soltysh This could be a common approach for money saving in the cloud when running non production clusters.

[2017-03-08 14:31] liggitt commented on #41892
Update calls that make use of AllowCreateOnUpdate would behave oddly

[2017-03-08 14:46] wojtek-t commented on #41892
@liggitt - why? This should work correctly. I mean, in GuaranteedUpdate itself, the first loop will wait at etcd level (because the original state will have out-of-date RV), but in the second loop we will have correct "empty" state of object, and it should just work, right?

[2017-03-08 15:01] liggitt commented on #40850
general TLS issues are more api-machinery-related, not seeing an auth connection here

[2017-03-08 15:01] liggitt commented on #40850
wondering if default ciphers changed in go 1.7... do you know what ciphers the LB supports?

[2017-03-08 15:02] liggitt commented on #40850
or http2 defaulted on

[2017-03-08 15:22] richm commented on #42188
No.  I just need a method I can use in the local log collector agent (e.g. fluentd, rsyslog, filebeat, fluentbit, whatever) to associate the pod/namespace metadata with each log entry.

Our current logging solution gets the k8s metadata from the API server, via the fluentd https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter.  The problem is that if you have 1000 nodes, you have 1

[2017-03-08 15:29] rootfs commented on #42658
@xsgordon thanks!

[2017-03-08 15:29] #42658 closed

[2017-03-08 15:32] k8s-merge-robot opened #42731 "[k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2405/
Failed: [k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {E2eNode Suite}

[code]

[2017-03-08 15:35] gmarek commented on #42709
I think we can now revert this PR now to unblock the queue.

[2017-03-08 15:58] mikedanese commented on #42660
I know what is going on. I'll prepare a fix.

[2017-03-08 16:08] cmluciano commented on #41630
cc/ @kubernetes/sig-apps-misc

[2017-03-08 16:17] aveshagarwal commented on #42614
Yes its expected. See here https://groups.google.com/forum/#!topic/kubernetes-dev/-fwfHQtm9GE

[2017-03-08 16:33] aveshagarwal opened #42733 "Pods not getting evicted even after node is notready when using taint based eviction."
I am just starting a local cluster by using hack/local-up-cluster.sh and the cluster has taint controller (--enable-taint-manager) and taint based evictions (--use-taint-based-evictions) enabled. I create a very simple pod on this cluster. Now when I kill kublet, I see that the node, after some time, goes into NotReday state.

[code]
After waiting for some time (infact lot of time) I dont see the

[2017-03-08 16:35] jmound commented on #42164
I am seeing similar errors as well.

[code]
And from one of the above nodes, I found similar messages as justinsb above https://github.com/kubernetes/kubernetes/issues/42164#issue-210509459:

[code]

This is a cluster built by `kops`, on AWS, v1.5.2 (master + nodes), the master is `m4.large`, the nodes are both `t2.medium`

[2017-03-08 16:37] DreadPirateShawn commented on #28748
Still occurs in v1.5.2. Sometimes includes multiple permutations, eg:
[code]

[2017-03-08 16:47] gmarek commented on #42733
`local-up-cluster` brings up a single Node cluster, which is the reason why you don't see any evictions. Everything's working as intended. Important line is this one:
[code]

Around August last year we introduced a protection against master machine network isolation, which prevents any evictions from happening if master can't see any healthy Node. It then assumes that it's not a problem with Nodes

[2017-03-08 16:49] gnufied commented on #42386
/assign gnufied

[2017-03-08 16:50] gnufied commented on #42386
/assign @gnufied

[2017-03-08 16:54] yujuhong commented on #42709
@wojtek-t @gmarek thanks for the help! I am closing this issue since the PR has already been reverted. Will open a new issue with more information to debug.

[2017-03-08 16:54] #42709 closed

[2017-03-08 16:59] thockin commented on #34508
This is becoming a battle of attrition.  I don't have days on end to run in circles.  I think all the facts are out.  We're not going to have finer-grained versioning in the near-term, but we *do* have beta features that were moved to fields in kube v1.6.  The notion that  the same feature should not have more than one representation is correct, but I think practically it's not a big deal for beta

[2017-03-08 17:02] wanghaoran1988 commented on #42691
I just run a e2e test against my cluster, and cannot reproduce that, @bsalamat Do you have any idea about that?

[2017-03-08 17:06] DreadPirateShawn opened #42735 "Kubelet CNI nsenter failure"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu precise (12.04.4 LTS)
- **Kernel** (e.g. `uname -a`): 3.13.0-55-generic
- **Install tools**: N/A
- **Others**: N/A

**What happened**:

During an otherwise-normal rollingupdate for a replication controller, we see this err

[2017-03-08 17:12] yujuhong opened #42736 "CRI: PodSandbox was restarted in hollow node when running kubemark"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/1689/

Pod `density3000-0-d8af0875-03fc-11e7-a59e-0242ac110004-6zvtn` has a restart count 1

FYI, all relevant messages about this pod in the kubelet.log:
https://gist.github.com/yujuhong/b1dc4fecfe835944d1cd5c6f67f006ed

From the sync loop timeline, some containers died.
[code]

Check the log again:
[c

[2017-03-08 17:12] yujuhong commented on #42736
/cc @wojtek-t @gmarek FYI.

[2017-03-08 17:20] yujuhong commented on #42736
kuberuntime GC routine has a minAge protection such that it can't GC any pod sandbox that was created no more than 30 seconds ago). This doesn't seem to have be respected from the log. I suspect that the fakedockerclient was not returning a proper timestamp.

[2017-03-08 17:31] whitlockjc commented on #34348
Since this issue isn't officially closed yet, I've added my progress here: https://github.com/kubernetes/community/pull/132#issuecomment-285109346

[2017-03-08 17:48] bgrant0607 commented on #34292
Also related: #25424

[2017-03-08 17:54] bsalamat commented on #42691
Failure is probably hard to reproduce. I can see only 2 failures in the past two weeks. Let me try. I will update here if I make any progress.

[2017-03-08 17:54] JoeyZwicker commented on #42699
+1

[2017-03-08 17:54] dwhitena commented on #42699
+1

[2017-03-08 18:02] #42651 closed

[2017-03-08 18:03] crassirostris commented on #42188
Do you find podUID + container name sufficient for this purpose?

That is indeed a great note. I created an issue https://github.com/kubernetes/kubernetes/issues/42718 about integration with logging pipeline on the node, maybe discuss the question of moving away from querying API server directly there?

Could you please elaborate on that? By 'fewer hops' you mean less work for log collector, which

[2017-03-08 18:07] krousey opened #42738 "Deployment upgrade test failed to create new replica set"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-latest-upgrade-cluster/564

[code]

I expect https://github.com/kubernetes/kubernetes/pull/42175 might have caused this as it was merged in the time window that this started failing.

[2017-03-08 18:07] crassirostris commented on #42718
@richm raised a concern in https://github.com/kubernetes/kubernetes/issues/42188#issuecomment-285070322 that acquiring metadata from API server in a big cluster can have a significant overhead. Also it may be unreliable, causing log consumer to stop processing logs from a newly started pod, until API server is available.

Maybe it makes sense to expose versioned API for listing pods on kubelet?

[2017-03-08 18:08] jingxu97 commented on #24249
@groundnuty could you provide more details about your setup? Also could you try to use service name? I have a simple setup which uses service name and it works for me.

1. Glusterfs Pod
[code]
2. Glusterfs Service

[code]
3. Gluster client
[code]

[2017-03-08 18:18] calebamiles commented on #42735
Could someone from @kubernetes/sig-node-bugs and @kubernetes/sig-network-bugs please help with triage? Thanks!

[2017-03-08 18:18] cmluciano commented on #42696
Is there a maintained list of docker versions supported ?

[2017-03-08 18:19] kargakis commented on #42738
@enisoc can you please have a look? Otherwise, I'll get to it tomorrow

[2017-03-08 18:21] cmluciano commented on #42696
Is this the proper place to check https://github.com/dchen1107/kubernetes-1/blob/master/pkg/kubelet/dockertools/docker_manager.go#L85

[2017-03-08 18:22] calebamiles commented on #42727
Hello @wuzesheng thanks for asking your question! We [have been trying](https://kubernetes.io/docs/troubleshooting/) to route help/support requests to stack overflow or slack due to our large number of opened issues against the kubernetes repository. As mentioned bt @xilabao, there is an open pull request which may address your issue; please join the conversation there. Additionally [SIG Cluster L

[2017-03-08 18:22] #42727 closed

[2017-03-08 18:24] maclof commented on #24249
@jingxu97 how is that at all related? You're talking about GlusterFS, not NFS.

[2017-03-08 18:24] calebamiles commented on #42725
Thanks for pointing out a possibly related issue, @TamalSaha. Could someone from @kubernetes/sig-apps-feature-requests and @kubernetes/sig-storage-feature-requests help qualify this feature request? Thanks!

[2017-03-08 18:27] yujuhong commented on #42696
That *was* the proper place to check, but those code are being deprecated. The new one doesn't have a check yet, and that's what this issue is for.

[2017-03-08 18:27] wojtek-t commented on #42709
@yujuhong - thanks; please cc me to the new issue and let me know if I/we can help more with debugging

[2017-03-08 18:27] gmarek commented on #42736
@yujuhong - by looking at the logs, can you tell if there's an easy repro?

[2017-03-08 18:29] gmarek commented on #42709
@wojtek-t she already did: #42736 :)

[2017-03-08 18:31] k8s-merge-robot opened #42742 "[k8s.io] Projected should be consumable from pods in volume with mappings and Item Mode set [Conformance] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2407/
Failed: [k8s.io] Projected should be consumable from pods in volume with mappings and Item Mode set [Conformance] [Volume] {E2eNode Suite}

[code]

[2017-03-08 18:32] wojtek-t commented on #42736
So given that this happens also in non-kubemark suites, it seems like a release blocker to me.

Anyway - @yujuhong - do you think it's releated to number of pod on a node, or it's just that it happens from time to time, and in scalability suites (no matter if it's kubemark or not) we have more of those tries (due to scale)?

[2017-03-08 18:34] dhawal55 commented on #38633
Any update on this? Also, is anyone working on adding support for securityGroup?

[2017-03-08 18:38] colemickens commented on #42605
cc: @anhowe @JiangtianLi PTAL

[2017-03-08 18:39] yujuhong commented on #42736
I think the timestamp comparison logic might be wrong in the sandbox garbage collector.

This would only happen (in my theory) when the the snapshot of all containers/sandboxes on the node are taken when:
 - sandbox is created but not running (started) yet.
 - other containers in the pod haven't not been created.

In this case, the fail-safe (minAge) kicks in, and apparently failed in the tests di

[2017-03-08 18:40] rootfs commented on #42720
@agonzalezro

[2017-03-08 18:42] yujuhong commented on #42736
Oh the above comment was completely based on my theory.

Reproducing this deterministically on a working node may need some hacking in the kubelet code (e.g., inject a long enough sleep after sandbox creation). I will try writing a unit test first to verify the behavior.

[2017-03-08 18:42] cmluciano commented on #40627
cc/ @kubernetes/sig-node-misc

[2017-03-08 18:46] cmluciano commented on #38890
@freehan Does that mean moving to https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go ? I think I can accomplish 1) in tandem with #26005

[2017-03-08 18:46] perotinus opened #42743 "[Federation] Refactor the parameter lists in kubefed to use parameter-grouping structs"
The parameter lists in kubefed are getting unwieldy, and making it harder to update and understand them. We should figure out a good set of parameter objects that make it easer to follow the data flow.

I think this can wait until the outstanding kubefed PRs are merged in, in order to avoid a string of rebases.

[2017-03-08 18:48] jingxu97 commented on #24249
the way to mount NFS and GLusterFS is very similar. It would be very helpful if you could provide more details about your set up so that I can have a try to see the problem. Thanks!

[2017-03-08 18:52] #42653 closed

[2017-03-08 19:00] aveshagarwal commented on #42733
@gmarek Now I tried it in a 1 master and 2-node cluster where master and 1 node is on one VM and another node is on another VM.

The only different I see that the node that goes down is now getting NoExecute taint assigned. However pod eviction is still not happening:

[code]

And see that pod still remain assigned to 192.168.124.214 even after almost 13 mins:

[code]

And I see that the node 192.

[2017-03-08 19:16] aveshagarwal commented on #42733
@gmarek  its been alsmot 29 mins now.  and the node is still NotReady.

[code]

[2017-03-08 19:18] gmarek commented on #42733
OK, then there's something wrong. Taint Controller didn't even tried to do anything with this Pod. Can you please get logs from `kube-controller-manager` that references this Pod and Node?

[2017-03-08 19:22] aveshagarwal commented on #42733
[code]

[2017-03-08 19:23] aveshagarwal commented on #42733
@gmarek One issue I see that I dont know why at one point controller-manager detected all nodes not ready and entered master disruption mode, and a few moments later, it again sees that some nodes are ready but still does not start eviction.

[2017-03-08 19:28] gmarek commented on #42733
When the cluster starts and first Node joins it's normal that "all Nodes are not Ready" (as it takes some time for Nodes to become ready), and later on other Nodes join, and they become ready. I wouldn't worry about that. We need to see what happened on the Node that became not ready and with the busybox pod that was running on it.

[2017-03-08 19:29] monopole commented on #8329
ack, on it

[2017-03-08 19:31] spiffxp commented on #42670
I'm not sure I'm for this.  I agree with the motivation but I question whether the churn is worth it, or solving the root problem.

SIG's are not represented by GitHub users and can't be assigned.  Some, but not all of them, have GitHub teams.  Some, but very few of them, have entries in OWNERS_ALIASES.

Mandating that SIG's have an entry in OWNERS_ALIASES + using those aliases in test_owners.csv

[2017-03-08 19:33] spiffxp commented on #42670
ref: kubernetes/community#422

if/when we start shutting down the queue due to flakes crossing a threshold, how do we properly identify those accountable

[2017-03-08 19:35] skriss opened #42746 "GKE master upgrades from 1.4 to 1.6 are failing (kubedns dnsmaq sidecar pods not ready)"
@krousey

This is happening consistently across all GKE 1.4->1.6 master upgrade jobs. It is not occurring for full-cluster upgrades.

Example log:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.6-upgrade-master/21

[2017-03-08 19:39] aveshagarwal commented on #42733
@gmarek are you looking for any more info/data from me?

[2017-03-08 19:39] bgrant0607 commented on #42725
Please see:
https://github.com/kubernetes/kubernetes/issues/7562#issuecomment-281469904
https://github.com/kubernetes/community/pull/306

[2017-03-08 19:39] #42725 closed

[2017-03-08 19:39] gmarek commented on #42733
Yup - logs from controller manager, that mentions busybox pod.

[2017-03-08 19:39] aveshagarwal commented on #42733
@gmarek those are only logs from controller manager I have.

[2017-03-08 19:40] aveshagarwal commented on #42733
@gmarek is https://github.com/kubernetes/kubernetes/issues/42733#issuecomment-285140872 lacking something?

[2017-03-08 19:40] gmarek commented on #42733
Are you running with `--v=2`?

[2017-03-08 19:41] bgrant0607 commented on #42677
Looks like question was answered. In the future, for usage questions, please try slack, stackoverflow, or kubernetes-users@googlegroups.com instead of github issues.

[2017-03-08 19:41] #42677 closed

[2017-03-08 19:42] gmarek commented on #42733
It lacks a lot of things... Normally controller-manager generates a large amount of logs every minute. If it's silent for an hour, then either your log level is too low, or something's really wrong.

[2017-03-08 19:42] aveshagarwal commented on #42733
@gmarek --v=0

[2017-03-08 19:43] gmarek commented on #42733
OK, with `--v=0` we can't tell anything:). Please redo the experiment with (at least) `--v=2`.

[2017-03-08 19:43] aveshagarwal commented on #42733
ok sure will post here after some time.

[2017-03-08 19:46] derekwaynecarr commented on #42492
we are getting questions about this as well.  @yujuhong - if this is something you have cycles to update its appreciated.

[2017-03-08 19:47] jayunit100 commented on #42670
i guess the broader community can vote on thursday , i realize there might ; other opinions abound

[2017-03-08 19:48] krousey commented on #42746
Config map is failing to mount for some reason.

[code]

[2017-03-08 19:56] jeffvance commented on #42670
@marun wrote: _...Without the option of externalizing the cost of doing too much testing at the e2e level, there will hopefully be incentive to do more testing at the unit and integration levels._
I admit to not knowing the costs associated with running e2e test, but do we want to dis-incent e2e testing? A possible outcome could be that, if the "cost" is high, feature authors omit e2e tests. I thi

[2017-03-08 19:58] jayunit100 commented on #42670
i think we do want to disincentivize uncurated tests: we dont want tests that nobody cares about, which nobody maintains

[2017-03-08 20:03] jeffvance commented on #42670
@jayunit100 ok, so is the issue about existing e2e tests that fail or are flakes and nobody cares out them? If so, can we automatically tag these unmaintained e2e tests in way that prevents them from running, and notify the last comitter of that action? Eg. after X failures and/or Y days of no activitivy the e2e test is tagged per above?

[2017-03-08 20:06] fabianofranz commented on #42392
@pwittrock probably needs broader discussion but I'd be in favor. You'd still support skew of point releases (e.g. kubectl 1.6.1 --> server 1.6.0, etc)?

[2017-03-08 20:17] k8s-merge-robot opened #42749 "[k8s.io] InitContainer should not start app containers if init containers fail on a RestartAlways pod {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2408/
Failed: [k8s.io] InitContainer should not start app containers if init containers fail on a RestartAlways pod {E2eNode Suite}

[code]

[2017-03-08 20:19] jayunit100 commented on #42670
I Think the best thing to do is be data driven about it.  Once i aggregate the groups of tests, alongside a reasonable sig partitioning - it will seem more (or less) reasonable as a possibility :)

[2017-03-08 20:21] jayunit100 commented on #42670
FYI, heres the csv of test annotations im playing with

[code]

Sig descriptions are here:

[code]

[2017-03-08 20:25] enisoc commented on #42738
The error occurs during the [Setup phase](https://github.com/kubernetes/kubernetes/blob/a2eac21/test/e2e/upgrades/deployments.go#L60) before the cluster is upgraded. I think this happens because the upgrade test binary is built with 1.6 code, but is running against a 1.5 cluster.

In particular, [this call](https://github.com/kubernetes/kubernetes/blob/62766c697cd1d94c4f3c5731172745f97d701a40/test

[2017-03-08 20:31] bowei commented on #42685
@freehan -- "I guess kubelet is just ignoring the request (or sth). Correct solution is to give kube-proxy infinite toleration for NoExecute taints"

[2017-03-08 20:34] bgrant0607 commented on #34616
Closing in favor of more specific issues. I suggest following the features repository or release roadmap blog posts.

That said, there are multiple types of stability:
* Reliable operation
* API compatibility

These are still beta more due to the latter than the former.

[2017-03-08 20:34] #34616 closed

[2017-03-08 20:36] dragorosson commented on #40850
@liggitt I agree. This seems to be before auth would come into play. Here's the HAProxy config (just to reiterate, with no changes to the LB, apiserver v1.4.x works fine):

(`HA-Proxy version 1.5.14 2015/07/02`)

[code]

[2017-03-08 20:38] liggitt commented on #42716
The plugin also needs to make sure it's not dealing with a subresource, and I'd expect it to return an error if it gets an object it doesn't recognize, not allow the pod.

[2017-03-08 20:43] bgrant0607 commented on #36596
Closing in favor of the contrib issue. Would still like to see this happen, @ConnorDoyle @derekwaynecarr
cc @grodrigues3

[2017-03-08 20:43] #36596 closed

[2017-03-08 20:43] sosiouxme commented on #42188
The problem with relying on looking up metadata from the k8s API is that pods/namespaces/etc can be deleted or modified. If you are aggregating log data to a log analysis solution or for any reason want to keep track of logs after pods have been deleted, you won't be able to look that up in k8s after the fact. You have to either look it up as the logs are coming through and store the metadata with

[2017-03-08 20:45] variousred commented on #13585
I'm on 1.5.4 and i'm still seeing the remote bash thinking my console is at 80 columns ...

[2017-03-08 20:46] bgrant0607 opened #42752 "Workload API v1 requirements umbrella issue"
I'd like all of the in-flight workload APIs (ReplicaSet, Deployment, StatefulSet, DaemonSet) to advance to v1 together as a group, sometime this year.

Related issues:
* Deployment v1 issue: #20130
* DaemonSet v1 issue: #15310
* StatefulSet beta: #28718
* Eliminate extensions API group: #43214
* Workload controller design issue umbrella issue: #14961
* Extension patterns: #31571, #39337
* Common p

[2017-03-08 20:46] davidopp opened #42753 "NoExecute taints should not evict static pods"
From @gmarek in https://github.com/kubernetes/kubernetes/issues/42685#issuecomment-284987556: "When node is tainted TaintController tries to kill kube-proxy over and over again (and it fails, as this is a manifest Pod): [...] I guess kubelet is just ignoring the request (or sth). Correct solution is to give kube-proxy infinite toleration for NoExecute taints."

(This would involve changing the man

[2017-03-08 20:47] davidopp commented on #42685
Let's split this out into a separate issue, to not confuse the original issue here. I've filed #42753.

[2017-03-08 20:47] ncdc commented on #13585
@variousred would you mind sharing how you tested?

[2017-03-08 20:48] variousred commented on #13585
`kubectl exec -it some-app-name-randomnumber-abcdefg /bin/bash`
`echo $COLUMNS` -> 80

[2017-03-08 20:51] variousred commented on #13585
Its probably the server side version

[2017-03-08 20:52] ncdc commented on #13585
What is the server version?

[2017-03-08 20:54] variousred commented on #13585
Yeah, my bad, on this cluster the server version is 1.2.2

[2017-03-08 21:07] theothermike commented on #38988
We get the exact same thing in GCE.  Currently testing 1.5.2.   If I reboot the VM manually to simulate failure, the tags stay.  If i bring it down for a couple of minutes, then back up, all my custom labels are gone.

This is of course bad, since we make extensive use of nodeSelector to place workloads targeting those labels

[2017-03-08 21:23] gmarek commented on #42753
IIUC there's no way of detecting if something's a static pod. @yujuhong

[2017-03-08 21:24] krousey commented on #42746
@bowei Could you take a look. It seems like the dns pod wants a config map, but for the life of me, I can't find where this config map is created.

https://github.com/kubernetes/kubernetes/blob/release-1.6/cluster/addons/dns/kubedns-controller.yaml.base#L54

[2017-03-08 21:26] davidopp commented on #42753
Yeah unfortunately that's my understanding too...

[2017-03-08 21:28] bowei commented on #42746
optional: true for the configmap means that if the configmap does not exist, then the configmap directory should be empty

[2017-03-08 21:29] bowei commented on #42746
the optional configmap feature was added in 1.6

[2017-03-08 21:35] yujuhong commented on #42736
Can't reproduce this in my cluster with artificially injected latency...
Adding more debug information in https://github.com/kubernetes/kubernetes/pull/42751

For people who are interested in checking the logs and identify the victim pod, here are the instructions:
 1. Download the artifacts: E.g., `gsutil cp -r  gs://kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1337 .`
 2. Find t

[2017-03-08 21:35] krousey commented on #42746
Ah. The kubelet here is 1.4 and doesn't understand optional configmaps. This causes the pod to error and never become ready.

[2017-03-08 21:40] yujuhong commented on #42698
@freehan would you be able to work on this?

[2017-03-08 21:44] krousey commented on #42746
cc @liggitt

[2017-03-08 21:47] gmarek commented on #42753
Actually I think kube-proxy should tolerate all NoExecute Taints. Not unreachable and not ready ones. It's impossible to delete it, so there's no point in trying.

[2017-03-08 21:50] davidopp commented on #42753
Not just kube-proxy -- all static pods.

[2017-03-08 21:50] groundnuty commented on #24249
@jingxu97 I was not able to test glusterfs (need to install some packages on nodes to make it work), but after modifying your example for NFS it seems to be working well.

As some people here tested this against single pod and multiple-pod setups, I provide single and multiple files for testing.

*IMPORTANT*: Please modify nfs volume server field in the client pods so that it matches the service.

[2017-03-08 21:53] timstclair opened #42756 "Add a built-in addon-manager"
Reasons to do so:
- consistency with Kubernetes production code (easier for devs to manage)
- robustness (bash isn't exactly known for being a robust production language)
- reduced base image (less CVE management overhead)
- can be built with release branch code (avoid out of date kubectl problems: https://github.com/kubernetes/kubernetes/issues/34943, https://github.com/kubernetes/kubernetes/issu

[2017-03-08 21:56] mattbates commented on #42720
@simonswine @wallrj

[2017-03-08 21:58] caesarxuchao commented on #42646
#42734 is addressing the same issue. I requested the author to fix #42646 as well.

[2017-03-08 22:11] gmarek commented on #42753
@yujuhong @dchen1107 - do you think that Kubelet would be able to apply them automatically if they're not present? Or do we want to depend on cluster setup tooling to make sure manifests have those?

[2017-03-08 22:16] davidopp commented on #42753
In the past @dchen1107 has argued strongly she does not want Kubelet to have to distinguish static pods from regular pods. So I think the answer to the first question is going to be no, and the second one yes.

[2017-03-08 22:17] gmarek commented on #42753
Then I guess cc @kubernetes/sig-cluster-lifecycle-bugs

[2017-03-08 22:19] gmarek commented on #42753
To be fair, IIUC it does treat static pods differently than ordinary ones. E.g. it doesn't delete them.

[2017-03-08 22:25] liggitt commented on #42746
@MrHohn thanks, just saw this. glad to know the add-on manager support for ensureexists made it in 1.6

[2017-03-08 22:27] MrHohn commented on #42746
@liggitt Glad to see addon-manager could help out instead of causing problems :)

[2017-03-08 22:37] davidopp commented on #42614
Yeah, as @aveshagarwal alluded to, the 1.6 kubectl will only work against a 1.6 master, and vice versa. (For `kubectl taint`.)

[2017-03-08 22:46] yujuhong commented on #42753
I'm not sure I have the full context ere. Are the static pods being killed or just the mirror pods?
- If it's just mirror pods, there are ways for the controller to distinguish mirror pods and ignore them.
- If it's the static pods, then I assume we are talking about kubelet's pod admission logic.

[2017-03-08 22:52] fejta commented on #42670
Here is an example: ci-kubernetes-e2e-gce-multizone has been [failing since February](https://k8s-testgrid.appspot.com/google-gce#gce-multizone&width=5). Who needs this job to exist?

I want to be able to answer that question. I want to ensure that we can map all 300 jobs we are spending resources to run are important to someone. In fact, I want it to be important enough to some someone that they

[2017-03-08 23:02] nikhiljindal commented on #37570
We do have the /rollback subresource in federation-apiserver: https://github.com/kubernetes/kubernetes/blob/98ae5722251f5f88474af1a0d91b3244844fa9f6/federation/cmd/federation-apiserver/app/extensions.go#L50. Need tests for it.

[2017-03-08 23:02] JiangtianLi commented on #42151
@vriesmarcel I deployed 3 iis services in a row and each of them can be accessed outside the cluster via external IP. Did you use ACS engine to deploy k8s? If so, what is the HEAD in your local repo?
@garrardkitchen Were you able to curl cluster IP or pod IP? One possible cause is Windows firewall public profile.

[2017-03-08 23:03] lavalamp commented on #34508
Summary:

* Leave the scheduler fields as-is.
* No more non-GA fields until we make a decision.
* [my addition] Let's try to make a decision within 3 weeks or a month, early enough to be useful for 1.7
* [my addition] I'll take an action item to deliver a more fully-fleshed out proposal so we can have something concrete to make a decision about.

[2017-03-08 23:08] davidopp commented on #34508
OK thanks.

And if it helps, for these scheduler features I'm 99% sure the only changes between now and GA will be adding more fields and more allowed values of existing fields.

[2017-03-08 23:18] bgrant0607 commented on #34508
I'm fine with leaving these fields as is.

[2017-03-08 23:21] bgrant0607 commented on #34508
@thockin @lavalamp I propose we implement fine-grain versioning in 1.7. I agree it will otherwise cause pain every release.

[2017-03-08 23:25] marun opened #42761 "[Federation][kubefed] Not possible to disable a controller via --controllermanager-arg-overrides"
#42375 promised to support disabling any of the federation controllers.  However, due to the way ``kubefed init`` marshalls overrides (splits on commas), multi-valued overrides (separated by commas) are not supported.  This means that only a single controller can be disabled.

Support for multi-valued arg overrides was [discussed](https://reviewable.kubernetes.io/reviews/kubernetes/kubernetes/4091

[2017-03-08 23:29] skriss commented on #42614
@aveshagarwal @davidopp thanks! I have a number of other skew test failures related to Affinity/Taints that I'd like you to just double-check and ensure they're non-issues. An example job output is here:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.5-gci-1.6-upgrade-master/18

This job creates a 1.5 cluster, upgrades the master to 1.6, and

[2017-03-08 23:30] timothysc commented on #41907
Closing this, decided to go a different way: https://github.com/heptio/eventrouter

[2017-03-08 23:31] ymqytw commented on #41656
Since we don't support this. Should we close this or remove it from 1.6 milestone?

[2017-03-08 23:36] yujuhong commented on #42188
There are two types of metadata discussed in this thread: k8s metadata (name, namespace, etc) and journald-provided metadata.
As @crassirostris pointed out, the former is part of the cluster logging integration and this is not affected by the introduction of file-based containers logs in CRI. Let's move that discussion to #42718.
For the latter, which is the journald provided, non-k8s, metadata, I

[2017-03-08 23:36] dchen1107 commented on #42753
Good catch!

If we really understand all use cases of static pods, and agreed that all static pods should have infinite toleration for NoExecute taints. Then Kubelet can automatically apply this set of annotations to the static pods by default. This is different from critical annotation before since not all static pods are critical ones, there is no way for Kubelet to distinguish which one is crit

[2017-03-08 23:40] crassirostris commented on #42718
To address @sosiouxme's https://github.com/kubernetes/kubernetes/issues/42188#issuecomment-285163025

What I had in mind, when suggesting collecting metadata directly from API server is joining it with each log message (or a stream of log messages, that's an implementation detail) before pushing it to the logging backend, something like https://github.com/fabric8io/fluent-plugin-kubernetes_metadat

[2017-03-08 23:43] ymqytw commented on #40635
@calebamiles We are not going to fix this in 1.6. We will do that in 1.7
cc: @pwittrock

[2017-03-08 23:48] crassirostris commented on #42188
@sosiouxme I answered you in https://github.com/kubernetes/kubernetes/issues/42718#issuecomment-285206473 , let's continue the discussion there

[2017-03-08 23:48] k8s-merge-robot opened #42763 "[k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2410/
Failed: [k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {E2eNode Suite}

[code]

[2017-03-08 23:49] skriss opened #42764 "Patch does not apply server-side defaults to resulting object"
Found when looking into DNS configMap upgrade-test errors

@bowei - can you take a look at the following and let me know if this is an issue for the 1.6 release or not? Thanks!

There are two tests failing around DNS configMap in the following test job:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.5-gci-1.6-upgrade-cluster-new/18

For context, this

[2017-03-08 23:49] skriss commented on #42764
/assign @bowei

[2017-03-08 23:54] skriss opened #42766 "DNS horizontal autoscaling test error in upgrade test"
@MrHohn

There is a test failure in the upgrade test jobs around DNS horizontal autoscaling. Can you take a look and let me know if this is an issue for the 1.6 release?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.5-gci-1.6-upgrade-cluster-new/18#k8sio-dns-horizontal-autoscaling-kube-dns-autoscaler-should-scale-kube-dns-pods-in-both-nonfaulty-and-f

[2017-03-08 23:54] skriss commented on #42766
/assign @MrHohn

[2017-03-08 23:56] timothysc commented on #19637
I've started https://github.com/heptio/eventrouter to push events to other systems.

[2017-03-08 23:57] ixdy commented on #42714
It looks like only the amd64 version of 3.0.17 was pushed. I can push the others.

[2017-03-08 23:57] timothysc commented on #38949
Closing this issue there are a number of overlapping ones.

[2017-03-08 23:57] #38949 closed

[2017-03-09 00:16] bsalamat commented on #42691
I have not been able to reproduce this failure so far. I will still try to reproduce. It is clearly still flaky.

[2017-03-09 00:20] wuzesheng commented on #42727
@xilabao @calebamiles Got it, thanks guys:)

[2017-03-09 00:22] bamb00 commented on #26000
I am not clear on how to determine if garbage collection is failing.  For example, if you execute the command "kubelet logs" every minuted you will see the message,
- Started kubelet v1.5.2
- Image garbage collection failed: unable to find data for container /
So does that mean the kubelet process die then restart every minutes.  Then I check kubelet process elapsed time is 25 min.

Is there logs

[2017-03-09 00:30] jeffvance commented on #42670
If a sig is the sponsor then the sig leader is likely the human who has to fix the problem, recruit someone else to fix it, or (most likely if we're under schedule pressure) delete individual tests/jobs. I hope that if jobs/tests are deleted that the deletion is a _move_ of the test to some holding area, or a flag that prevents the test from running, rather than a permanent deletion.

[2017-03-09 00:41] calebamiles commented on #42703
Could someone from @kubernetes/sig-cluster-lifecycle-bugs please help with triage? Thanks!

[2017-03-09 00:42] calebamiles commented on #42701
could someone from @kubernetes/sig-api-machinery-misc or @kubernetes/sig-node-bugs please help with triage? Thanks!

[2017-03-09 00:47] calebamiles commented on #42700
Thanks for submitting your issue @rmb938, this looks like a feature request to me but perhaps you were thinking that this was a bug? Could someone from @kubernetes/sig-cli-feature-requests please help qualify the request? Thanks!

[2017-03-09 00:50] calebamiles commented on #42699
could someone from @kubernetes/sig-storage-feature-requests please help qualify the request or reroute to the appropriate SIG? Thanks!

[2017-03-09 00:51] janetkuo commented on #41655
This is not release blocking, since the k8s fix was already in. The remaining work is to wait for https://github.com/robfig/cron/pull/88 to be merged and bump it in k8s (not required for this issue, just enhancement.)

[2017-03-09 00:56] janetkuo commented on #42154
It's related to storage. Un-assigning myself. @kubernetes/sig-storage-bugs

[2017-03-09 00:57] yujuhong commented on #42698
@Random-Liu volunteered to fix this. Thanks!

[2017-03-09 00:57] calebamiles commented on #42645
Could someone from @kubernetes/sig-network-bugs please help with triage? Thanks!

[2017-03-09 01:03] vishh commented on #26000
cc @dashpole

On Wed, Mar 8, 2017 at 4:23 PM, bamb00 <notifications@github.com> wrote:

[2017-03-09 01:06] rbtcollins commented on #39420
We just had a problem where ELBs and their security groups were not being deleted reliably on AWS: restarting the master node fixed it :(. Don't have much more info for you yet; uptime had been only several weeks before this happened. Similar to @dstiliadis we have a CI workload in this cluster.

[2017-03-09 01:06] calebamiles commented on #42573
Added your PR to the 1.6 milestone @gnufied.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/kubernetes-release-managers**

[2017-03-09 01:17] bsalamat commented on #32531
@k82cn I have been able to reproduce this, but I still don't have a good answer as why this is happening. I will keep looking at the code and will update here if I find anything.

[2017-03-09 01:18] fejta commented on #42670
The most straightforward mechanism to ejecting a test from a job would be to change the regex the job uses to select/skip tests ([example](https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gce-flaky.env#L3))

Deleting a job would involve deleting the appropriate entry in [config.json](https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L885), which shoul

[2017-03-09 01:18] calebamiles commented on #42562
could someone from @kubernetes/sig-network-bugs or SIG AWS (sorry @justinsb I couldn't find any GitHub teams for SIG AWS to ping) please help with triage? Thanks!

[2017-03-09 01:19] k82cn commented on #32531
Can you share some logs? I can not run it locally/or gce because of network; just check the log on the server :).

[2017-03-09 01:25] timstclair commented on #42501
Duplicate: https://github.com/kubernetes/kubernetes/issues/42639

[2017-03-09 01:25] #42501 closed

[2017-03-09 01:29] thockin commented on #42562
SSH is explicitly for HTTP traffic, for now.  You probably want Service with type=LoadBalancer.

[2017-03-09 01:29] #42562 closed

[2017-03-09 01:32] thockin commented on #42645
Can pods reach other pods in general?

If you exec into the DNS pod, can it nslookup on localhost?

[2017-03-09 01:32] rmb938 commented on #42700
As a user this seems more like a bug since the behavior is unexpected and not documented anywhere that this is the case, but every project classifies these things differently. It doesn't really matter to me as long as this feature/bug is documented or fixed in some way.

[2017-03-09 01:37] MrHohn commented on #42766
@skriss I took a look at the failure. Turned out the root cause is in the dns autoscaling test itself.

There is a testcase that we delete the kube-dns-autoscaler ConfigMap and see if it is re-created with the default data. But we updated the default parameters for dns-autoscaler in v1.6, so the configMap is re-created with different data, so the [assertion here](https://github.com/kubernetes/kube

[2017-03-09 01:39] bsalamat commented on #32531
In the latest run of the test that has failed, I see that scheduler attempts to schedule the critical pod after rescheduler evicts other pods to create room, but the critical pod still does not fit on the nodes:

scheduler log (look for "2917723164-2n3g2"):
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/765/artifacts/bootstrap-e2e-master/kube-scheduler.log

res

[2017-03-09 01:44] k82cn commented on #32531
Wow, yes, similar conclusion yesterday (https://github.com/kubernetes/kubernetes/issues/42686#issuecomment-285036344). If you can reproduce it, maybe we can add some instrument/debug log to see `node_info` in scheduler; that'll be helpful :).

[2017-03-09 01:52] billyteves commented on #27343
Hi, issue still occurs in 0.9.3, i think changes still not merged?

[2017-03-09 01:58] gyliu513 opened #42774 "Update kubectl to reflect the latest `NoExecute` update"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-09 02:00] gyliu513 commented on #42774
cc @kubernetes/sig-scheduling-bugs  I will work on this together with https://github.com/kubernetes/kubernetes.github.io/issues/2737

[2017-03-09 02:02] errm commented on #42515
Hi I just released `fluent-plugin-systemd 0.0.8` that should fix this issue.

[2017-03-09 02:04] crassirostris commented on #42515
@errm Thanks! And thanks to @timstclair who already included it into our image :)

[2017-03-09 02:16] gnufied commented on #42573
@calebamiles thank you.

Just to make it clearer, I have opened two PRs to fix this problem.

1. https://github.com/kubernetes/kubernetes/pull/42706 -- which simply drops creation time validation of mount options to avoid referring volume plugins in `pkg/api/validation`.
2. https://github.com/kubernetes/kubernetes/pull/42750 -- which splits the packaging such that, mount option validation is remov

[2017-03-09 02:32] gnufied commented on #42154
I am thinking of bumping `--retry_time` duration for containers that are simply completing successfully before the projected change can be seen.

@jpeeler @pmorie has there been any other change recently in this area to cause these flakes in projected e2e tests? At last count there are 3-4 such issues open now.

[2017-03-09 02:33] gnufied commented on #42154
Clearly bumping the retry_time won't fix other flakes but it will at least fix some of it.

[2017-03-09 02:38] madhusudancs commented on #42695
/assign nikhiljindal

cc @csbell

[2017-03-09 02:40] madhusudancs commented on #42695
/assign @nikhiljindal

[2017-03-09 02:43] dchen1107 commented on #42685
Ok, I looked into this more detail this afternoon, and I believe both pod-cgroup deletion and volume cleanup (https://github.com/kubernetes/kubernetes/pull/41456) introduced lately causes this exta pod deletion latency. cc/ @derekwaynecarr @dashpole  The following logs in above failure case indicates this:

[code]

But around that time, all containers are killed, and PodStatus are updated. Later v

[2017-03-09 02:52] #42697 closed

[2017-03-09 02:56] yujuhong opened #42776 "Pod volume/cgroup cleanup logic is faulty"
Both cleanup rely on the periodic `syncBatch` in the status manger to trigger the final pod deletion. This is specifically checked in [`if m.needsUpdate(syncedUID, status) || m.couldBeDeleted(uid, status.status) `](https://github.com/kubernetes/kubernetes/blob/v1.7.0-alpha.0/pkg/kubelet/status/status_manager.go#L396
).

However, `syncBatch` calls `syncPod`, which checks [`if !m.needsUpdate(uid, st

[2017-03-09 02:57] abdoo commented on #42645
[root@kube-master ~]# kubectl --namespace=kube-system exec -ti kube-dns-2924299975-d2z5z -c kube-dns -- nslookup localhost
Server:    10.18.0.23
Address 1: 10.18.0.23 camonet.ca

Name:      localhost
Address 1: ::1 localhost
Address 2: 127.0.0.1 localhost
[root@kube-master ~]#

[root@kube-master ~]# kubectl --namespace=kube-system exec -ti kube-dns-2924299975-d2z5z -c kube-dns -- nslookup google.c

[2017-03-09 03:01] frankgreco opened #42777 "Custom Kind via Third Party Resource Not Working Correctly"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **BUG REPORT**

**Kubernetes version** (use `kubectl version`): **v1.5.3**

**Environment**:
- **Cloud provider or hardware configuration**: minikube (Mac OSX)
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
```Linux minikube 4.7.2 #6 SMP Wed Feb 22 11:18:55 PST 2017 x86_64 GNU/Linux```
- **Install tools**: min

[2017-03-09 03:01] abdoo commented on #42645
one more thing

root@kube-master ~]# kubectl exec -it busybox -- nslookup localhost
Server: 10.96.0.10                  <<----------------- directly it print this line
Address 1: 10.96.0.10             <<----------------- this line takes time until it will be printed.

Name: localhost                      <<----------------- takes sometime until it will be printed
Address 1: ::1 localhost
Address

[2017-03-09 03:01] msau42 commented on #42699
Could you use emptydir volumes for this purpose?  Currently emptydir volumes are unbounded, but we are looking into adding limits for it as part of kubernetes/community#306

[2017-03-09 03:03] fzu-huang commented on #42568
Shall we use  `nodeSelector` to filter out nodes that have label `allow-privileged=true`?    What we have to do is add an Admission Controller  to add label of node when it registed.

[2017-03-09 03:03] yujuhong commented on #42776
There are a lot of fail-safe mechanisms in kubelet for handling pod deletion, therefore the pod was eventually deleted. These mechanisms are not to be relied on for normal pod cleanup. We should have a dedicated pod deletion test to catch a serious regression like this.

[2017-03-09 03:09] hiscal2015 commented on #37625
@TerraTech @olmoser I have the same issue, did you find the root cause?

[2017-03-09 03:13] dashpole commented on #42776
Yep, I was seeing this earlier today as well, but didnt have time to fix it.  I am hoping to introduce metrics #42673 and test them with the density test to help uncover regressions in the future.  Agreed that we shouldnt rely on fail-safe mechanisms in the kubelet.

[2017-03-09 03:35] dashpole commented on #42685
I was looking at this earlier today, but didnt have a chance to get to the bottom of it.  This bug existed in the original PR delaying deletion until after volume cleanup #41456, but did not manifest for some reason.  Somehow I also didnt discover this in my latency analysis of #41644.  I believe the bug in status_manager is the main issue.  I'll test my fix and put up a PR.

[2017-03-09 03:45] Random-Liu commented on #42199
With the fix #42675, I hit another problem:
[code]

Reopen this.

[2017-03-09 03:53] bgrant0607 commented on #815
There's also OpenTracing.

http://opentracing.io/

[2017-03-09 03:53] JiangtianLi commented on #42605
@vriesmarcel Are you able to ping kubernetes.default.svc.cluster.local? I created and exposed iis service and could ping iis.default.svc.cluster.local from another container. I wasn't able to pull image marcelv/iisexpress just now but db.default.svc.cluster.local can be resolved in ping (I flushed dns cache).

[2017-03-09 03:55] #1568 closed

[2017-03-09 03:56] bgrant0607 commented on #1491
Selectors only work within namespaces for namespaced targets.

[2017-03-09 03:56] #1491 closed

[2017-03-09 03:56] #1601 closed

[2017-03-09 03:57] bgrant0607 commented on #1625
I'm sure we could do more here, but closing in favor of more specific issues.

[2017-03-09 03:57] #1625 closed

[2017-03-09 04:00] bgrant0607 commented on #1796
Closing as obsolete.

[2017-03-09 04:00] #1796 closed

[2017-03-09 04:01] bgrant0607 commented on #1800
Closing as unimportant. Anyway, the right answer is dashes. :-)

[2017-03-09 04:01] #1800 closed

[2017-03-09 04:06] Yancey1989 commented on #42645
@abdoo plz print the output
1. `kubectl get svc --all-namespaces`
1. use domain name `kubernetes` instead of `kubernetes.local`

[2017-03-09 04:11] frankgreco commented on #42756
@timstclair could you provide a link to the current bash code?

[2017-03-09 04:12] bgrant0607 commented on #2740
Closing in favor of more specific issues.

[2017-03-09 04:12] #2740 closed

[2017-03-09 04:13] bgrant0607 commented on #2797
This is either obsolete or will be easily rediscovered.

[2017-03-09 04:13] #2797 closed

[2017-03-09 04:14] #2824 closed

[2017-03-09 04:14] #2843 closed

[2017-03-09 04:17] #23337 closed

[2017-03-09 04:20] bgrant0607 commented on #2953
Closing in favor of other issues, such as #4855.

[2017-03-09 04:20] #2953 closed

[2017-03-09 04:23] #3012 closed

[2017-03-09 04:27] bgrant0607 commented on #3147
Obsolete

[2017-03-09 04:27] #3147 closed

[2017-03-09 04:35] liggitt commented on #42777
`kubectl apply` does not work with third party resources prior to 1.6

[2017-03-09 04:38] liggitt commented on #42777
Fixed in https://github.com/kubernetes/kubernetes/pull/40666

[2017-03-09 04:41] bgrant0607 commented on #42756
Before doing this, please look at:
https://docs.google.com/document/d/1XkjVm4bOeiVkj-Xt1LgoGiqWsBfNozJ51dyI-ljzt1o/edit#

cc @MrHohn @thockin

[2017-03-09 04:42] bgrant0607 commented on #42756
Ref #7459

[2017-03-09 04:42] #3579 closed

[2017-03-09 04:43] bgrant0607 commented on #9467
We're using Deployment

[2017-03-09 04:43] #9467 closed

[2017-03-09 04:43] #34943 closed

[2017-03-09 04:44] bgrant0607 commented on #42756
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager

[2017-03-09 04:46] frankgreco commented on #42777
After ready through #40666, it sounds like there is not way to create a custom kind prior to 1.6 then? This doesn't seem like it would be the case though seeing that TPR is in beta.

[2017-03-09 04:48] liggitt commented on #42777
You can use kubectl create and replace. TPR is in the extensions API group but never formally graduated to beta.

[2017-03-09 04:51] frankgreco commented on #42777
seems to still be an issue with `kubectl create`
[code]

[2017-03-09 04:53] abdoo commented on #42645
Hi

[root@kube-master ~]# kubectl get services --all-namespaces
NAMESPACE NAME CLUSTER-IP EXTERNAL-IP PORT(S) AGE
default kubernetes 10.96.0.1 443/TCP 14m
kube-system kube-dns 10.96.0.10 53/UDP,53/TCP 13m
[root@kube-master ~]#

[root@kube-master ~]# kubectl exec busybox -ti nslookup kubernetes.local
Server: 10.96.0.10
Address 1: 10.96.0.10

nslookup: can't resolve 'kubernetes.local'
[root@kube-mas

[2017-03-09 04:53] liggitt commented on #42777
You might have stale discovery data cached in your ~/.kube folder (I think it has a ttl of five minutes by default).

[2017-03-09 04:57] bgrant0607 commented on #41442
See also #4301

[2017-03-09 04:57] bgrant0607 commented on #41394
See also #4301

[2017-03-09 05:00] Yancey1989 commented on #42645
Oh, @abdoo  execute this command: `kubectl exec busybox -ti nslookup kubernetes`, without *local*.

[2017-03-09 05:02] liggitt commented on #42764
Is this a dupe of https://github.com/kubernetes/kubernetes/issues/42746 or are the nodes upgraded as well?

[2017-03-09 05:13] abdoo commented on #42645
@Yancey:

[root@kube-master ~]# kubectl exec busybox -ti nslookup kubernetes
Server:    10.96.0.10
Address 1: 10.96.0.10

nslookup: can't resolve 'kubernetes'
[root@kube-master ~]#

On Thu, Mar 9, 2017 at 12:00 AM, Yancey <notifications@github.com> wrote:

--
Thanks
Best Regards,
Abdelfattah Mahran
http://www.linkedin.com/in/abdoomahran

[2017-03-09 05:22] gyliu513 commented on #42733
@aveshagarwal Just a question here, for `enable-taint-manager`, I found that the default value is `True`; Regarding to `use-taint-based-evictions`, I did not found any place in code referring this parameter and do not know which component should use this parameter.

This is the only place in code listing the `use-taint-based-evictions` https://github.com/kubernetes/kubernetes/blob/master/staging/s

[2017-03-09 05:32] frankgreco commented on #42756
@bgrant0607 I just requested access to view the document

[2017-03-09 05:51] frankgreco commented on #42777
Alright so I deleted my minikube cluster and recreated it. Now initially I created by TPR through the dashboard but I tried to create it via kubectl this time:

[code]

However, this failed **because** with --v=8 it is trying to POST to
[code]
this of course gives a 404 because it's not a valid api path. However, I curled the following myself with the proper body and it worked:

[code]

I then tri

[2017-03-09 05:53] liggitt commented on #42777
what version of kubectl are you using?

[2017-03-09 05:55] frankgreco commented on #42777
[code]

[2017-03-09 05:56] liggitt commented on #42777
you need to upgrade kubectl to at least within one version of the apiserver, ideally the same version.

[2017-03-09 05:58] davidopp commented on #42685
Thanks to everyone on this thread for the investigations!

[2017-03-09 06:06] frankgreco commented on #42777
Of course.. should have started with this.

After upgrading to v1.5.3. I was apply to successfully create the TPR and create the custom object with `kubectl create`.

 I'll just remember to use create for versions < 1.6 and apply >= 1.6

[2017-03-09 06:08] frankgreco commented on #42777
Sorry to close/reopen but I just remembered that this is still an issue when creating this via the kubernetes dashboard. It just try to do an apply.

[2017-03-09 06:10] frankgreco commented on #42756
I'll start work on this

[2017-03-09 06:11] k82cn commented on #42733
moved by  https://github.com/kubernetes/kubernetes/commit/48d784272eccc2a59505ed9ece590d04143fec7f

[2017-03-09 06:12] liggitt commented on #42777
kube dashboard issues can be reported at https://github.com/kubernetes/dashboard

[2017-03-09 06:12] #42777 closed

[2017-03-09 06:21] k8s-merge-robot opened #42782 "[k8s.io] ConfigMap should be consumable from pods in volume with mappings and Item mode set[Conformance] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2414/
Failed: [k8s.io] ConfigMap should be consumable from pods in volume with mappings and Item mode set[Conformance] [Volume] {E2eNode Suite}

[code]

[2017-03-09 06:21] davidopp commented on #42568
I think the simplest thing to do is to add it to
https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/well_known_labels.go
and then have Kubelet publish it like it does for some of the other labels.

cc/ @kubernetes/sig-node-feature-requests

[2017-03-09 06:29] MrHohn commented on #42756
Previous discussions on https://github.com/kubernetes/kubernetes/issues/23233#issuecomment-232461242 and other comments in that thread are also worth reading :)

Relevant feature issue: kubernetes/features#18

[2017-03-09 06:34] davidopp commented on #32531
cc/ @piosz

[2017-03-09 06:36] gmarek commented on #42753
I believe we all agree that all static/mirror pods should have infinite toleration for NoExecute taints, as there's no point in trying to delete them. Can we leave setting this to Kubelet and writing this change to the Node team? @dchen1107 @yujuhong

[2017-03-09 06:40] feiskyer commented on #42736
Didn't reproduce the problem either.

I think so. GC can't distinguish just-created sandboxes from failed sandboxes. Especially when the time from sandbox creation to ready is longer than GC's minAge.

I'm wondering should runtime (e.g. dockershim) filter out those created-but-not-ready sandboxes from sandbox list? or introduce another sandbox state `CREATED`  in CRI?

[2017-03-09 06:46] luxas commented on #42714
@ixdy Thanks! Only s390x left: https://gcr.io/v2/google-containers/etcd-s390x/tags/list

[2017-03-09 06:54] mkumatag commented on #42714
Thanks a lot @ixdy @luxas

[2017-03-09 06:56] ixdy commented on #42714
sorry, got distracted earlier and forgot to finish. pushing now.

[2017-03-09 06:56] #42714 closed

[2017-03-09 06:57] keyingliu opened #42784 "PV cannot be deleted if attachable PVC is deleted"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.4.5

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): Fedora
- **Kernel** (e.g. `uname -a`): 4.5.7
- **Install tools**:
- **Others**: storage backend is cinder

**What happened**:
We found many error logs in control

[2017-03-09 07:00] davidopp commented on #42753
Sorry I was confused in my earlier comment. I think what @dchen1107 and @gmarek are suggesting sounds good. But because we need to get this into 1.6, if the Kubelet change is not simple, maybe it is simpler to just modify the manifest files, and then implement the Kubelet change in 1.7.

[2017-03-09 07:13] bgrant0607 commented on #39420
See also #15203.

[2017-03-09 07:24] feiskyer commented on #42696
Let me add the check. /assign

[2017-03-09 07:25] feiskyer commented on #42696
/assign

[2017-03-09 08:08] #42698 closed

[2017-03-09 08:31] punkracy opened #42785 "kube-dns does not exist. Failed to create kubernetes client"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

I have similar issue as here:
https://github.com/kubernetes/kubernetes/issues/31910

---
**Kubernetes version** (use `kubectl version`):
`
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5a

[2017-03-09 08:42] soltysh opened #42787 "kubectl should suggest using newer options"
This comes from discussion here: https://github.com/kubernetes/kubernetes/pull/42362#issuecomment-285175701. Generally we would like to be able to suggest a user a new functionality is available eg. newer generator for deployments (like in the linked issue) and he should pick if he wants to use new or stay with the old choice. That choice should be recorder not to bother user with the same questio

[2017-03-09 08:42] gyliu513 commented on #42733
Thanks @k82cn , good to know, created a PR to update https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/well_known_labels.go#L37-L46 at https://github.com/kubernetes/kubernetes/pull/42786

[2017-03-09 09:11] fgrzadkowski commented on #34211
It hasn't happend since Dec. Closing

[2017-03-09 09:11] #34211 closed

[2017-03-09 09:12] fgrzadkowski commented on #33891
This hasn't happened since Dec. Closing.

[2017-03-09 09:12] #33891 closed

[2017-03-09 09:12] fgrzadkowski commented on #33804
This hasn't happened since Dec. Closing.

[2017-03-09 09:12] #33804 closed

[2017-03-09 09:12] fgrzadkowski commented on #30446
It doesn't seem like a blocker.

[2017-03-09 09:20] rbtcollins commented on #39420
Yes, #15203 is definitely related; however the problem we had was not due to a restart of the controller; once restarted when we deleted a svc the elb was deleted too - we had to manually cleanup the previously deleted svc objects' elbs.

[2017-03-09 09:21] errordeveloper opened #42789 "should PodTemplatesGetter be part of public API"
It shows up in the [docs](https://godoc.org/k8s.io/client-go/kubernetes/typed/core/v1#PodTemplatesGetter), and actually I can even do `kubectl get podtemplates`, but it returns nothing. Haven't tried creating one... Is this some kind of placeholder for named pod templates?

[2017-03-09 09:25] errordeveloper commented on #42789
@sttts and I found https://github.com/kubernetes/kubernetes/pull/5012 and https://github.com/kubernetes/kubernetes/issues/170, yet this makes documentation a bit confusing, perhaps we should [unexport it](https://github.com/kubernetes/kubernetes/blob/fc8a37ec86e3a9139882cb4eeecdafc1c0d2d2dd/pkg/api/types.go#L2203-L2203) until it is ready or at least update docs to say it's not really something tha

[2017-03-09 09:26] errordeveloper commented on #42789
cc @smarterclayton

[2017-03-09 09:35] akhildangore commented on #42531
Hello @donutloop,

how do you fix this ?

[2017-03-09 09:45] kargakis commented on #20130
At this point, I think we are missing the following fixes/enhancements for GA:

* Resolve the hashing issue (A proposed change in https://github.com/kubernetes/community/pull/384)
* Automatic rollbacks (https://github.com/kubernetes/kubernetes/issues/23211)
* Extensible strategies (https://github.com/kubernetes/kubernetes/issues/14510)

Of the three, the hashing issue needs more thought.
For autom

[2017-03-09 09:54] zreigz commented on #31343
@deads2k @AdoHe @brendandburns Can you give some feedback. Is it worth to continue this or is it valuable for you ?

[2017-03-09 09:59] hridyeshpant commented on #24330
Hi
i am trying to blue green deployment and not finding any official document . I want to delete all old replica set once new version successfully  deployed. So i need to used version in .spec.selector section so that new replicaset and deployment can be run while old one still taking traffic. but the problem is i need to clean all old deployment and replica set once new version deployed successfu

[2017-03-09 10:04] jicki opened #42791 "kubeadm join Endpoint check failed"
[discovery] Created cluster info discovery client, requesting info from "http://10.6.0.52:9898/cluster-info/v1/?token-id=dd3dac"
[discovery] Cluster info object received, verifying signature using given token
[discovery] Cluster info signature and contents are valid, will use API endpoints [https://10.6.0.52:6443]
[bootstrap] Trying to connect to endpoint https://10.6.0.52:6443
[bootstrap] Endpoin

[2017-03-09 10:06] timoreimann commented on #2707
With the explanation from [here](http://pubs.opengroup.org/onlinepubs/009695399/basedefs/xbd_chap08.html) quoted on the [referenced Docker issue](https://github.com/docker/docker/issues/16585#issuecomment-143363422), it seems to me that Kubernetes is similar to Docker in the sense that it's just an intermediary that should always pass environment variables through to the application even when they

[2017-03-09 10:19] k8s-merge-robot opened #42792 "ci-kubernetes-e2e-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging/2339/
Multiple broken tests:

Failed: [k8s.io] Networking should provide Internet connection for containers [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26171 #28188

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance]

[2017-03-09 10:34] kargakis commented on #42789
Assuming we will use PodTemplates for DS/SS history, this should happen eventually.

[2017-03-09 10:35] pires commented on #13541
Any updates on this? Would be great to have the API exposed as a gRPC service.

[2017-03-09 10:51] #42736 closed

[2017-03-09 10:51] joseph-lanoux opened #42793 "The ginkgo nocolor parameter is not honored in parallel testing"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
nocolor, nocolour, color, colour
---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2017-03-09 11:06] k8s-merge-robot opened #42794 "[k8s.io] GarbageCollect [Serial] Garbage Collection Test: One Non-restarting Container Should eventually garbage collect containers when we exceed the number of dead containers per container {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/401/
Failed: [k8s.io] GarbageCollect [Serial] Garbage Collection Test: One Non-restarting Container Should eventually garbage collect containers when we exceed the number of dead containers per container {E2eNode Suite}

[code]

[2017-03-09 11:07] jszczepkowski commented on #25238
Are we sure we want to deliver this for 1.6? Not much time left.

As I understand, the problem here lies in `kubectl apply` and no modification in HPA are needed. Please, correct me if I'm wrong.

[2017-03-09 11:07] jszczepkowski commented on #25238
CC @jszczepkowski

[2017-03-09 11:13] bcorijn opened #42796 "Kubelet tripping over failed pod + Docker daemon, still reporting ready"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): `Debian GNU/Linux 8 (jessie)`
- **Kernel** (e.g. `uname -a`): `Linux ip-10-10-111-116 4.4.41-k8s #1 SMP Mon Jan 9 15:34:39 UTC 2017 x86_64 GNU/Linux`
- **Install tools**: Kop

[2017-03-09 11:24] kargakis commented on #34654
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:24] kargakis commented on #35579
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:25] shashidharatd commented on #42607
Hi @nikhiljindal, to start controller-manager with CoreDNS, we need to provide config-file.
config file has below format
[code]
Also do let me know, how to run these integration test. i could not locate the tests :)

[2017-03-09 11:28] kargakis commented on #36554
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:30] kargakis commented on #36628
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:30] kargakis commented on #37027
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:30] kargakis commented on #37462
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:31] kargakis commented on #38041
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:32] kargakis commented on #38275
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:33] kargakis commented on #38442
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:35] cortopy commented on #38542
This is still an issue in 1.5.3 when using annotations:

[code]

Without `imagePullPolicy` the deployment would not be accepted

[2017-03-09 11:37] kargakis commented on #41641
1.5.4 is out and contains a fix that should force the Deployment to be resynced eventually and have availableReplicas updated. Not optimal yet but *eventually* consistent. I have queued up some follow-up work to refine the resync.

[2017-03-09 11:37] #41641 closed

[2017-03-09 11:41] hewei1990102 commented on #31424
same request

[2017-03-09 11:43] fzu-huang opened #42798 "service without endpoints will keep updating"
I found that kube-proxy print a lot of log, and all of them are about OnEndpointsUpdated(). So I check the log of api-server,and found that there are so many PUT-endpoints requests.
[code]

 I checked these endpoints with `kubectl get --namespace=** ep **` and found it empty:
[code]

I checked the code and found that if current endpoints-subsets doesn't euqal with new endpoints-subsets, endpoints-

[2017-03-09 11:44] kargakis commented on #36458
Moving to 1.7 as none of the failure modes is related to the test

[2017-03-09 11:45] k82cn commented on #38542
ping @smarterclayton & @liggitt  :).

[2017-03-09 11:45] hewei1990102 commented on #31424
I have the same request

[2017-03-09 11:57] kargakis commented on #25238
The milestone was probably added for triaging. I don't think we can do anything for 1.6.

[2017-03-09 11:58] vriesmarcel commented on #42605
sorry, my bad, the db image name is marcelv/sqlexpress
it exposes port 1433 and runs sql express with already created DB in image. (next step was to map to persistent storage for this)

in the IIS image I am able to ping kubernetes.default.svc.cluster.local and it returns the ip of the dns server, which seems to be what we expect.

in the DB image I am not able to ping kubernetes.default.svc.clust

[2017-03-09 11:58] humblec opened #42799 "Gluster Plugin should have the capability to pass volume options for dynamically provisioned volumes."
At the moment, the gluster dynamic  provisioner does not take any volume options from user and  set on dynamically provisioned volumes.  For example, if we have to set encryption on volumes, we need to set few options like `client.ssl` on provisioned gluster backend volumes. Gluster Plugin should have this capability to read and pass these options to Heketi when provisioning volumes.

[2017-03-09 12:01] k82cn commented on #42433
no ideas about that :(. maybe magic number as you said.

[2017-03-09 12:11] humblec commented on #42799
I dont know how to assign myself. If any one has permission to assign, please assign to me. May be @jsafrane @rootfs has the permission :)

[2017-03-09 12:13] JulienDeray commented on #35870
Same issue here, trying to run the example on Google Container Engine

[2017-03-09 12:22] #41422 closed

[2017-03-09 12:24] wojtek-t commented on #38305
Fixed by https://github.com/kubernetes/kubernetes/pull/38592

[2017-03-09 12:24] #38305 closed

[2017-03-09 12:24] wojtek-t commented on #25563
This issue is completely obsolete.

[2017-03-09 12:24] #25563 closed

[2017-03-09 12:29] wojtek-t commented on #38577
This part has been rewritten in the meantime.

[2017-03-09 12:29] #38577 closed

[2017-03-09 12:34] arnouthoebreckx opened #42800 "ACS Windows Agents, Services connection lost"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-09 12:36] deads2k commented on #31343
As I recall, @pwittrock had a proposal to use swagger annotations to identify fields to display.  There's also a proposal to handle `kubectl get` server-side using a different content type.

[2017-03-09 12:38] jsafrane commented on #42799
oops, sorry, reopening

[2017-03-09 12:39] humblec commented on #42799
/assign

[2017-03-09 12:46] errm commented on #42515
Yeah thanks @timstclair your too fast for me :)

[2017-03-09 12:56] soltysh commented on #42752
/cc

[2017-03-09 13:26] MircoBlitz commented on #39224
I have found a fix. Not pretty but works
edit the file
cluster/get-kube-binaries.sh in line 55 and edit it so it looks like this.

DOWNLOAD_URL_PREFIX="${KUBERNETES_RELEASE_URL}/v${KUBERNETES_RELEASE}"

there is a v missing in ${KUBERNETES_RELEASE}

[2017-03-09 13:30] deads2k commented on #42724
I've seen this pop up a few times.

[2017-03-09 13:35] keontang opened #42804 "kubenet failed to create cbr0 in master"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Bug Report**

cbr0 b

[2017-03-09 13:47] deads2k commented on #42724
I opened https://github.com/kubernetes/kubernetes/pull/42805 to add some debugging.  I'd guess the watch is closing.  It's not obvious to me why we're bothering to delete gracefully given the title of the test.

[2017-03-09 13:49] weitzj commented on #34594
@timothysc Does the controller-manager start with `-v=0` by default?

Did I understand this correctly that you moved it to `-v=4` ?

[2017-03-09 13:52] ravisantoshgudimetla commented on #39975
@gmarek having a delay in the loop before https://github.com/kubernetes/kubernetes/blob/6a4d5cd7cc58e28c20ca133dab7b0e9e56192fe3/pkg/controller/node/nodecontroller_test.go#L1222 caused it to run for close 4 hours without terminating on 8GB,4 core machine. Is this something normal?

 I know, @ncdc is not happy with this change but since we are rewriting this test anyways, this could be a work aroun

[2017-03-09 13:59] liggitt commented on #42746
@MrHohn #42757 merged, is this resolved now?

[2017-03-09 14:01] gmarek commented on #39975
@ravisantoshgudimetla - I don't understand which delay in which loop you mean. You added a delay inside the "Try" call? What do you mean by 'run for close 4 hours without terminating'? That the test didn't fail? If so, then I'm all for such solution for stopping the bleeding.

[2017-03-09 14:06] cheld commented on #31343
@deads2k would the second option work for Dashboard, too?

[2017-03-09 14:09] ravisantoshgudimetla commented on #39975
@gmarek , Yes I introduced a sleep like in loop for zone, like https://github.com/ravisantoshgudimetla/kubernetes/blob/nodecontroller_eviction_flake/pkg/controller/node/nodecontroller_test.go#L1262

Yes the test didn't fail but it didn't complete either even after, so I am wondering if this causes timeout in testing infra.

[2017-03-09 14:11] jamiehannaford commented on #42703
@myonlyzzy I think you specify discovery like this ([reference](https://github.com/kubernetes/kubernetes/pull/36462)):

[code]

Although I've only ever seen token discovery used for the `init` stage, since it's the default. I didn't realise you could override with other types.

@mikedanese Are any other discovery methods accepted for `init` except `token://`?

[2017-03-09 14:13] deads2k commented on #31343
I don't know exactly what the dashboad does, but you can take a look here: https://github.com/kubernetes/community/pull/363

[2017-03-09 14:17] paolomainardi commented on #42164
I had the same problem today on a gke cluster, nothing worked except to delete the node and get it auto-provisioned again by the instance group.

Something bad happen at docker level when they get stressed enough, as we are using them on gitlab CI/CD env, with a lot of docker images build.

[2017-03-09 14:22] jayunit100 commented on #42670
Ok, I've got a first pass at assignments for the suites based on file here...

[code]

There are a few more files that are unassigned that arent picking up any good semantic info, ill see if i can improve the matching algortihm a little to grab em.

[2017-03-09 14:23] jamiehannaford commented on #42611
@liutaohua Do you have a specific problem or issue you need help with? I'm not sure I understand the nature of this help request.

[2017-03-09 14:23] jamiehannaford commented on #42621
@pmsteil What's outputted when you run `kubectl logs` against the crashing pods?

[2017-03-09 14:25] timothysc commented on #31709
Closing this issue for 1.6 there has been a number of changes to scheduling and reporting pod details during this release cycle.

[2017-03-09 14:25] #31709 closed

[2017-03-09 14:26] gmarek commented on #39975
It's strange indeed... Do you have any logs for the test by any chance? Adding this delay shouldn't be noticeable, as it just inserts some delay here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/rate_limited_queue.go#L220
Sleeping under the lock is usually not the best idea, but 50 microseconds in test shouldn't make a lot of difference...

[2017-03-09 14:27] liutaohua commented on #42611
I'm sorry, I think the problem is because I did not copy the log integrity。

[2017-03-09 14:27] #42611 closed

[2017-03-09 14:28] jamiehannaford commented on #42594
Perhaps `--wait` could be an optional flag that turns on waiting, but by default it's not enabled? That will preserve the current UX for users who are used to the current state of things.

More of a semantic question: is there a specific reason to send DELETEs with a precondition, instead of repeated GET/HEADs? Not sure if the latter is possible since I haven't worked much with the apiserver, but

[2017-03-09 14:32] smarterclayton commented on #35486
@k82cn are you looking at fixing verify or figuring it out why is broken?

[2017-03-09 14:34] timothysc commented on #23715
This is general tool-ing issues.  I've been in this code so self assigning, but not for 1.6.

[2017-03-09 14:35] ravisantoshgudimetla commented on #39975
Unfortunately no, I can try reproducing this today. Probably by afternoon EST, I can have something, The way I am doing as of now is the way suggested by @ncdc in the comments above. I can redirect that to a file and see. Let me know, if you are ok with approach.

[2017-03-09 14:37] gmarek commented on #39975
I'm OK with anything that produces logs:) I generally do:
[code]

[2017-03-09 14:40] gmarek commented on #39975
@ncdc - out of curiosity. How often does this flake?

[2017-03-09 14:41] mtaufen commented on #36105
Closing as this really falls under fine-grained field versioning and related discussions: https://github.com/kubernetes/kubernetes/issues/34508

[2017-03-09 14:41] #36105 closed

[2017-03-09 14:43] mtaufen commented on #37715
Closing as I believe this was resolved long ago. Please reopen if I am wrong.

[2017-03-09 14:43] #37715 closed

[2017-03-09 14:44] timothysc commented on #24720
Fixed by #24962 - closing.

[2017-03-09 14:44] ncdc commented on #39975
If I run my `while` loop, it takes about 8-10 seconds to flake.

On Thu, Mar 9, 2017 at 9:41 AM, Marek Grabowski <notifications@github.com>
wrote:

[2017-03-09 14:50] ravisantoshgudimetla commented on #39975
@gmarek @ncdc, I think I made a mistake. I did not take that while true loop out because of which it ran in infinite loop. I am sorry about that.

It means that with that delay introduced that I mentioned earlier it never failed even after running for 4 hours, which means we got rid of atleast test flakyness. @ncdc, if you can confirm if it is working, I will raise a PR which introduces this delay

[2017-03-09 14:56] liggitt commented on #39975
giving the ratelimiter time to refill inside the loop is consistent with the theory that https://github.com/kubernetes/kubernetes/issues/39975#issuecomment-273010545 is causing problems.

If the rate limiter runs out of tokens in Try(), it returns with a `// Try again later` comment, but the unit test does not try again later.

I'm having a hard time following the code to know if non-test invocati

[2017-03-09 14:59] ncdc commented on #39975
The sleep addition seems to have helped.

On Thu, Mar 9, 2017 at 9:51 AM rgudimet <notifications@github.com> wrote:

[2017-03-09 15:03] djablonski commented on #42295
We also encountered this issue, and at least here we had ReplicaSets where the status of the pods was available for all of them, while the deployment still showed one og them as unavailable...
Should I create a new issue for this?

[2017-03-09 15:04] jayunit100 commented on #42670
https://github.com/kubernetes/community/issues/441

[2017-03-09 15:04] marun commented on #42724
This is blocking the submit queue, shouldn't it's priority be higher?

[2017-03-09 15:08] gmarek commented on #39975
It's test only problem: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L520
Runs `Try` in `Until`, so it'll retry in the next round.

I guess the problem here was actually introduces later than what @liggitt suggests - I don't think that the removal of leaky behavior was problematic, but introducing a test that evicts more than one Node. This means that

[2017-03-09 15:15] louyihua commented on #38228
Hi, @jessfraz
To the problem you mentioned about `os.Rename`, I also met it when compiling openshift with go 1.8.
And after some digging, I finally find what changed in go 1.8 that causes the failure.
The actual changed thing is located in the `rename` function inside `src/os/file_unix.go`. In go 1.7.5, it was written as follows:
[code]
However, in go 1.8, it is changed to:
[code]
We can easily no

[2017-03-09 15:20] ravisantoshgudimetla commented on #39975
@gmarek @ncdc, Thanks for confirmation. I will raise a PR for that now.

@liggitt As far as I understood, the issue is with unit test. If rate limiter fails to reload for a particular node, it cannot retry(unless the we separate out the logic which tells if the rate limiter has reloaded or not. - if we have that logic we can ask Try to run again by returning a false just like https://github.com/ku

[2017-03-09 15:29] Cynerva commented on #40386
@calebamiles I don't think this needs to be fixed for 1.6. It's a pretty rare case and only applies to deployments with Juju.

[2017-03-09 15:29] deads2k commented on #42724
Sure.  I didn't know that was the case.  Feel free to review https://github.com/kubernetes/kubernetes/issues/42806

[2017-03-09 15:37] irfanurrehman commented on #42761
As a bug fix, I think we can replace currently used ',' with another special character (;, :, or something else) for 1.6, but I think we might need to think more beyond 1.6..
Or does a dedicated argument for disabling controllers makes more sense.. ? (because the overrides argument details might end up with 2 notes, in 1.6 release notes, if we do above)

[2017-03-09 15:41] jayunit100 commented on #42670
Ive created a first pass that grabs all the files and tries to semantically map them over to sigs, it gets 95% of the test suites via file categorized into sigs.  We can discuss more in sig-comm.

[2017-03-09 15:42] pwittrock commented on #31343
More broadly, we need to think about what sort of metadata we want for TPRs - e.g. schema / merge keys?

[2017-03-09 16:02] ryanwalls commented on #41907
@timothysc Perhaps leave this open?  I think it is an important feature request.

[2017-03-09 16:18] csarora commented on #42263
Any updates what could be the issue?

[2017-03-09 16:34] erstaples commented on #15073
Is there any progress on this issue? I'm running K8s version v1.5.2, and I'm having similar issues. awsElasticBlockStore volumes are virtually unusable due to one of three errors I'm getting:

`Failed to attach volume "<volume-name>" on node "ip-<ip-address>" with: Error attaching EBS volume "vol-123" to instance "i-<instance-id>": VolumeInUse: vol-123 is already attached to an instance status cod

[2017-03-09 16:38] marun commented on #42670
On Wed, Mar 8, 2017 at 11:57 AM, Jeff Vance <notifications@github.com>
wrote:

@jeffvance The goal isn't to discourage e2e testing where it is
appropriate.  However, as per #40839, a non-trivial number of the existing
e2e tests would be better written as integration tests since they only
require interaction with an api server rather than a full cluster.  Some
behavior currently validated in e2e co

[2017-03-09 16:41] yujuhong commented on #42736
#42768 has been merged 11 hours ago and scalability suite hasn't flaked since. Will monitor and see if there is any need to reopen.

[2017-03-09 16:43] jeffvance commented on #42670
@jayunit100 I don't see any of the volume, provisioning or persistent-volume tests for sig-storage.

[2017-03-09 16:49] timothysc commented on #42691
Honestly the best way to try to reproduce is via creating a PR, rarely have I been able to reproduce some of the flake issues on a clean env.  Most of the time it is a timing anomaly caused by a resource strapped environment.

[2017-03-09 16:51] csbell opened #42809 "[Federation][e2e] CI tests malform kube-dns federations domain map entry"
Looking at our latest e2e CI [failures](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/2194), they appear to be due to the fact that the "federations value" for kube-dns install a domain with a trailing dot. The trailing period does **not** appear when I bring up the cluster manually with

[code]

I suspect that somewhere we are reconstructing a F

[2017-03-09 16:53] erinboyd commented on #42670
@jayunit100 @marun this also needs to be solved at a higher level. The testing shouldn't be a secondary thought to the features. If we are proactive in requiring a minimum set of tests be contributed for each feature, then we will get out of this vicious cycle of having to play 'catch up' to provide proper coverage to ensure quality. End to end tests should be fully integrated tests that mimic int

[2017-03-09 16:53] timothysc commented on #34594
default depends on provider, some folks default to 3.  Needless to say -v 4 "should be" outside the normal range to prevent spamming.

verbosity on ingress controller is controlled by how that component is started, but I applied it to the base so it should hit *.

[2017-03-09 17:01] jayunit100 commented on #42670
@jeffvance the FULL listing is in the PR,  :) didnt wanna blind you guys.

[code]

[2017-03-09 17:02] jayunit100 commented on #42670
@jeffvance feel free to run the script from the branch in the PR and suggest changes to the `sigs` data structure. its easy to fine tune if you think its missing/overassigning anything

[2017-03-09 17:05] andrewsykim commented on #39812
I'm seeing this issue as well and its blocking HPA from doing any scaling in my production clusters. I would like to avoid adding hacks such as periodically restarting the kubelet if possible. Is anyone currently working on a fix for this? If not I don't mind digging into it a bit, if someone can point me in the right direction for where to start that would be great. Seems like cAdvisor code in ku

[2017-03-09 17:05] pwittrock commented on #42392
@soltysh I think strongly advising that users match the kubectl / apiserver version makes a lot of sense.

[2017-03-09 17:07] jsafrane commented on #40811
IMO, there are two separate bugs in this issue.

### First comment
In the first comment, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1740/, pod-host-path-test fails after 3 minutes.

The test creates a pod with two containers, sharing a HostPath volume. The first container writes a file there and the second one checks its content. It usually takes 2-

[2017-03-09 17:09] bgrant0607 commented on #42787
Preferences would be a big win IMO: #10693

[2017-03-09 17:12] marun commented on #42670
@erinboyd Agreed, as per the linked article.  E2E testing is necessary but not sufficient, and knowing what needs to be tested at that level requires a complement of testing at lower levels of abstraction.

[2017-03-09 17:27] davidopp commented on #24720
Tim that PR was closed, not merged. I don't think this is fixed yet.

On Mar 9, 2017 6:44 AM, "Timothy St. Clair" <notifications@github.com>
wrote:

[2017-03-09 17:36] yujuhong commented on #42606
We don't support propagating kubernetes labels/annotations to docker containers directly. What written as docker container labels are considered implementation details. Is this a feature request?

[2017-03-09 17:37] dchen1107 commented on #42685
xref:  #42776

[2017-03-09 17:41] timothysc commented on #24720
@davidopp whoops, good catch, just removing milestone then.

There was a shift that happened yesterday where a bunch of items suddenly came into the 1.6 query.

[2017-03-09 17:43] Bregor commented on #39334
@daniel-yavorovich, @Typositoire do you use `weave-net`?

[2017-03-09 17:44] mikedanese commented on #42199
@Random-Liu from release-1.5 to master, I am not able to reproduce.  @krousey verified that this fixed our CI tests.

[2017-03-09 17:46] kow3ns commented on #39574
\assign chrislovecnm

[2017-03-09 17:47] kow3ns commented on #39574
/assign @chrislovecnm

[2017-03-09 17:47] kow3ns commented on #39574
/unassign @fabioy

[2017-03-09 17:47] cmluciano commented on #42753
I poked around to see if I could access feasibility form the Kubelet side based on https://github.com/kubernetes/kubernetes/issues/42753#issuecomment-285271706.

There is a function for checking if a pod is static [here](https://github.com/kubernetes/kubernetes/blob/dd22743b54f280f41e68f206449a13ca949aca4e/pkg/kubelet/pod/mirror_client.go#L98-L100).

I noted also that critical pods are also admitt

[2017-03-09 17:50] paolomainardi commented on #42164
It happened again:

[code]

[2017-03-09 17:51] idvoretskyi commented on #42752
Thanks for collecting this, Brian.

I would also suggest having an umbrella issue for DaemonSet as a feature under https://github.com/kubernetes/features/issues.

[2017-03-09 17:53] paolomainardi commented on #42164
Maybe related:

[code]

[2017-03-09 17:55] MrHohn commented on #42746
Seems like it is still failing in the latest run for the same reason:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.6-upgrade-master/25

Checked the log and found the upgrade is using the beta release binary:
[code]
So I assume the test will keep failing until that PR got cherry picked into 1.6 branch and released?

[2017-03-09 18:02] k8s-merge-robot opened #42816 "ci-kubernetes-e2e-gke-staging-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-parallel/7723/
Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26425 #26715 #28825 #28880 #32854

Failed: [k8s.io] Docker Containers shoul

[2017-03-09 18:03] fraenkel opened #42817 "./hack/update-staging-client-go.sh fails"
I am trying to update the staging client for my PR #42642

When I run ./hack/update-staging-client-go.sh
On linux, I end up with:
[code]

On my mac, I get:
[code]

I have yet to figure out a way to get this to pass.

[2017-03-09 18:07] kow3ns commented on #39574
@chrislovecnm assigned. Do you intend to replace this example with and updated version?

[2017-03-09 18:13] kow3ns commented on #38573
closing fixed
/close

[2017-03-09 18:13] RenaudWasTaken commented on #42606
Thanks for taking a look @yujuhong !

I'm a bit confused here because it looks like the dockershim does exactly that with some kubernetes annotations ?
I can also spot kubernetes annotations passed to this function ?
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_container.go#L46

If this is not a bug then this is a feature request :)
In that case do you mind po

[2017-03-09 18:13] kow3ns commented on #38573
/close

[2017-03-09 18:14] donutloop commented on #42531
Hello @akhildangore

Actually, It's was pretty simple for my case.

Step 1.)  `kubeadm reset`

Step 2.)  `kubeadm init`

[2017-03-09 18:14] kow3ns commented on #38573
/assign @kow3ns

[2017-03-09 18:15] kow3ns commented on #38573
/close

[2017-03-09 18:15] #38573 closed

[2017-03-09 18:16] kow3ns commented on #38254
/assign @kow3ns

[2017-03-09 18:16] kow3ns commented on #38254
/close

[2017-03-09 18:16] #38254 closed

[2017-03-09 18:17] kow3ns commented on #38083
/assign kow3ns

[2017-03-09 18:17] kow3ns commented on #38083
/close
This is fixed

[2017-03-09 18:18] kow3ns commented on #38083
/assign @kow3ns

[2017-03-09 18:18] kow3ns commented on #38083
/close
This is fixed

[2017-03-09 18:18] #38083 closed

[2017-03-09 18:19] kow3ns commented on #38222
/assign @chrislovecnm

[2017-03-09 18:20] kow3ns commented on #38222
@chrislovecnm Chris, as you asked for the other example failure and are thinking of removing/replacing would you mind taking a look at this one as well as they seem to be correlated?

[2017-03-09 18:33] liggitt commented on #42746
at least that, possibly until a new tag is cut

[2017-03-09 18:34] skriss commented on #42764
@liggitt not a dupe - this test job upgrades nodes as well, and the failure mode is different

[2017-03-09 18:35] liggitt commented on #42753
annotation-based pod source checks are not a pattern we should expand, since they can be spoofed, depending on where the check is done

[2017-03-09 18:39] mtaufen commented on #11204
I am going to start throwing my 20% cycles at this.

[2017-03-09 18:40] fraenkel commented on #42817
If I allow the cp to pass, I hit the next issue

[code]

[2017-03-09 18:41] Random-Liu commented on #42199
@mikedanese Sorry, I forgot that my script is upgrade from 1.5.3 to 1.6.0-beta.1, which doesn't include your fix. Will verify again and close this one if it works. :)

[2017-03-09 18:41] ericchiang opened #42821 "kube-aggregator doesn't have the correct go-get meta tags"
[code]

cc @kubernetes/sig-api-machinery-misc

[2017-03-09 18:44] Random-Liu commented on #42199
Wait, it seems that you only changed `upgrade.sh`, then I'm indeed using the latest `upgrade.sh` to upgrade from v1.5.3 to v1.6.0-beta.1. Is there anything missing in v1.6.0-beta.1?

[2017-03-09 18:47] deads2k commented on #42821
@lavalamp is this still waiting on https://github.com/kubernetes/k8s.io/pull/50 ?

[2017-03-09 18:48] smarterclayton commented on #42568
Ugh, I really don't think this is a well-known-label.  This is "hack-for-hack-capability" label.

[2017-03-09 18:53] shashidharatd opened #42822 "[Federation] Fix missing coredns-endpoints in coredns provider config"
Federation CoreDNS provider config is missing a config coredns-endpoints. without this config user has to manually configure the cluster-dns to add the private nameserver in federated cluster in order to do cross-cluster service discovery. with this field, now we can add the private nameserver automatically to cluster-dns when cluster joins federation.

Recently a pr is merged #41826 which will en

[2017-03-09 18:54] ymqytw commented on #41336
@snoby @kargakis What is the status of this issue?

[2017-03-09 18:55] caesarxuchao commented on #42646
Dup of https://github.com/kubernetes/kubernetes/issues/42724.

[2017-03-09 18:56] dchen1107 commented on #42796
Shouldn't docker's babysitter / health-monitoring on the node notice docker's hung / unresponsive issue and restart docker? We expect the docker babysitter / health-monitoring can spot such issue and restart the docker. Normally restarting docker daemon can fix most of those problems. If the docker daemon cannot run, Kubelet would eventually spot runtime is down, and reported NodeNotReady. Meanwhi

[2017-03-09 18:57] wojtek-t commented on #40476
I agree. Though, since we would like to change kubelet to actually "list+watch" secrets, configmaps, etc., I'm going to put together a proposal for this part once I'm done with 1.6 work. I will focus more on that part, but this will be strictly related to this one.
And I agree that the request should be "explicitly asking for my secrets" not implicit filtering. I will try to put some proposal toge

[2017-03-09 18:57] dchen1107 commented on #42796
Or I just realized that you are running on AWS. cc/ @justinsb Are we still having daemon's health-monitoring installed for AWS nodes?

[2017-03-09 18:58] jayunit100 commented on #42670
first plass implementation is here  #42807  for feedback.  i think as demonstrated by jeff question above, it does a decent job at assigning things correctly.  could be made smarter over time but this gets 95% off all files in the e2e portion assigned.  Could do something similar for unit tests but the semantics would be harder since they don't have Ginkgo-ish integration annotations.

[2017-03-09 19:00] kargakis commented on #41336
The linked fix is included in 1.5.4/1.6 but this may also be a problem with watch.Until dropping the watch, thus ending up in the timeout - normally `rollout status` should never time out.

[2017-03-09 19:00] k8s-merge-robot opened #42824 "[k8s.io] GarbageCollect [Serial] Garbage Collection Test: Many Restarting Containers Should eventually garbage collect containers when we exceed the number of dead containers per container {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/405/
Failed: [k8s.io] GarbageCollect [Serial] Garbage Collection Test: Many Restarting Containers Should eventually garbage collect containers when we exceed the number of dead containers per container {E2eNode Suite}

[code]

[2017-03-09 19:01] fraenkel commented on #42817
Had the wrong path'ing for linux. Once that was fixed, linux works but OSX is still busted.

[2017-03-09 19:01] kargakis commented on #41336
Btw I am not actively working on this. The fix would be to replace watch.Until from `rollout status` with a simple watch loop.

[2017-03-09 19:03] dchen1107 commented on #42794
This one is another timeout causing by the deletion logic, and I believe once https://github.com/kubernetes/kubernetes/pull/42779 was merged, this should be fixed. Closing this one as a dup.

[2017-03-09 19:03] #42794 closed

[2017-03-09 19:04] kargakis commented on #41336
cc: @sttts

[2017-03-09 19:07] vishh commented on #39812
cc @dashpole Can you investigate this issue?

On Thu, Mar 9, 2017 at 9:05 AM, Andrew Sy Kim <notifications@github.com>
wrote:

[2017-03-09 19:09] krousey commented on #42199
I think beta.2 rolled up this fix.

[2017-03-09 19:20] skriss opened #42826 "1.6 upgrade testing - [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should handle healthy pet restarts during scale"
@derekwaynecarr

The following test is failing during some of the upgrade tests:

[k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should handle healthy pet restarts during scale

"StatefulSet pet scaled unexpectedly scaled to 1 -> 2 replicas"

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.5-container_vm-1.6-upgrade-master/22#k8sio-statef

[2017-03-09 19:20] skriss commented on #42826
/assign @derekwaynecarr

[2017-03-09 19:27] dashpole commented on #39812
Ill check it out.

[2017-03-09 19:35] aveshagarwal commented on #42733
@gmarek I am still seeing the issue and this time I ran controller-manager with --v=5. Here is the link for logs: https://paste.fedoraproject.org/paste/qrpwjZOLVJPFtci3yCr4I15M1UNdIGYhyRLivL9gydE=

[2017-03-09 19:35] skriss opened #42831 "1.6 upgrade testing - [k8s.io] Kubectl client [k8s.io] Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance]"
@pwittrock

The following test has been failing consistently in 1.6 upgrade testing. For context, this test job is creating a 1.5 cluster, upgrading the master to 1.6, and then running 1.5 tests against it to ensure compatibility.

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:733
Mar  8 13:35:01.304: Failed to find BestEffort in QoS Class:
/go/src/k8s.i

[2017-03-09 19:35] skriss commented on #42831
/assign @pwittrock

[2017-03-09 19:36] aveshagarwal commented on #42733
@gmarek also could you reopen this issue?

[2017-03-09 19:37] bowei opened #42832 "Merge all of the kube-dns cluster yaml into a single file"
We should merge all of the cluster/addons/dns/*.yaml.* into a single file (say `addon.yaml.base`)

This way all of the dependent scripts for cluster creation do not need to be modified when the addon is changed. This currently contributes to the maintenance cost of the addon as it is not immediately obvious all of the locations that need to be changed when an update to the addon is done.

@MrHohn

[2017-03-09 19:37] bowei commented on #42832
@MrHohn

[2017-03-09 19:37] bowei commented on #42832
/assign @MrHohn

[2017-03-09 19:39] skriss opened #42834 "1.6 upgrade testing - [k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC"
@pwittrock

This test is failing in 1.6 upgrade testing.

The ReplicationController "redis-master" is invalid: spec.template.spec.containers[0].imagePullPolicy: Required value

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.5-gci-1.6-upgrade-master/19#k8sio-kubectl-client-k8sio-kubectl-apply-should-apply-a-new-configuration-to-an-existing-rc

[2017-03-09 19:39] skriss commented on #42834
/assign @pwittrock

[2017-03-09 19:46] shashidharatd opened #42836 "[Federation] should not delete kube-dns configmap when cluster unjoin"
kube-dns configmap should not be deleted as it may impact the functioning of kubedns. Here is recent pr which fix a issue around kube-dns configmap #42757.

In federation, when we unjoin a cluster, we are deleting the kube-dns configmap, which may impact dns functions. here is the link to [kubefed unjoin deleting kube-dns](https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/kubefed

[2017-03-09 20:02] onsi opened #42837 "Please validate upcoming changes to Ginkgo against e2e tests"
Heyo

Based on input from https://github.com/onsi/ginkgo/issues/333 I've made some changes to how Ginkgo runs parallel tests.  Instead of precomputing test shards (which can lead to quiescent workers sitting idle while other workers with slow running tests become responsible for completing the test suite) Ginkgo now pulls tests off of a shared queue which keeps all workers fed until all tests are

[2017-03-09 20:02] ravisantoshgudimetla commented on #33188
@timothysc , Is this something needed for 1.6 or planning to move to 1.7?

[2017-03-09 20:08] madhusudancs commented on #42836
Ack. Please send a fix for it. We were removing the ConfigMap because `Federations` was the only supported value. And cleaning it up when the artifact was created by us made sense. Things have changed now, so this needs a fix.

[2017-03-09 20:08] ymqytw commented on #41336
I guess it's like partially reverting #33942. Get [`kubectl.WatchLoop`](https://github.com/kubernetes/kubernetes/pull/33942/files#diff-d9604d12db91bedcc63fd16af3d36db9L128) back.

[2017-03-09 20:09] saad-ali commented on #36837
Closing old non-recurring flake

[2017-03-09 20:09] #36837 closed

[2017-03-09 20:09] saad-ali commented on #36917
Closing old non-recurring flake

[2017-03-09 20:09] #36917 closed

[2017-03-09 20:09] saad-ali commented on #38201
Closing old non-recurring flake

[2017-03-09 20:09] #38201 closed

[2017-03-09 20:10] snoby commented on #41336
I was just using rollout status,  I can check and see if 1.6.4 fixes the issue.

[2017-03-09 20:11] soltysh commented on #10693
/cc

[2017-03-09 20:18] ymqytw commented on #34256
@ncdc It seems that the upstream issue https://github.com/docker/docker/issues/27289 has been fixed. Please confirm. Can we close this issue?

[2017-03-09 20:19] ncdc commented on #34256
@ymqytw no, we can't close this issue until everyone moves to docker 1.13+.

[2017-03-09 20:22] vishh commented on #5671
This feature is completed as of v1.6. cc @derekwaynecarr

[2017-03-09 20:22] #5671 closed

[2017-03-09 20:22] r0bj commented on #26000
kubernetes: 1.5.3
OS: ubuntu 14.04
docker: 1.12.6.

I'm not sure if it's related but there is `/` in `Managed containers` cadvisor section:
[code]

Full cadvisor validate report:
https://gist.github.com/r0bj/68ae481f89a68cb004208e55f2d5a403

log:
[code]

[2017-03-09 20:22] vishh commented on #28192
@derekwaynecarr can we close this issue now? I suspect all the issues are addressed already.

[2017-03-09 20:23] jlewi commented on #33483
+1

[2017-03-09 20:24] ymqytw commented on #34256
I see. Then we should remove this issue from 1.6 milestone.

[2017-03-09 20:25] vishh commented on #28272
Moving this issue to v1.7 since a workaround exists for now.

shm will not be a new resource in kubernetes. The plan is to just set `/dev/shm` limits to the pod's memory limit. There is already quota and limits in place for memory. The underlying resource is memory for `/dev/shm`.

[2017-03-09 20:36] soltysh commented on #42392
Yeah, doing what @fabianofranz said is probably the best option, strongly advising major version and keeping full compatibility in minor, is doable.

[2017-03-09 20:54] saad-ali commented on #37952
Closing old non-recurring flake

[2017-03-09 20:54] #37952 closed

[2017-03-09 21:01] vishh commented on #34520
Posted a PR to bump deletion timeout. That should hopefully avoid these flakes. These failures are not release blockers. hence remove the milestone.

[2017-03-09 21:04] vishh commented on #36153
This issue is old and a lot has changed since the issue was filed. Kindly re-open if its still relevant.

cc @mtaufen

[2017-03-09 21:04] #36153 closed

[2017-03-09 21:08] vishh commented on #40573
@thockin @matchstick can you help find owners for the the following items ?

-  Kube-proxy is moved to Guaranteed QoS class
-  Kube-proxy is moved to a DaemonSet - We need to introduce node labels to avoid scheduling kube proxy on to nodes that are already running it via static pods.

[2017-03-09 21:14] mikedanese commented on #42703
@calebamiles this appears to be a support question, not a bug.

[2017-03-09 21:15] mikedanese commented on #42703
@jamiehannaford is right but those flags will change (and become stable) in the 1.6 release.

[2017-03-09 21:15] #42703 closed

[2017-03-09 21:19] dchen1107 opened #42840 "Deprecate / remove alpha.kubernetes.io/fluentd-ds-ready annotation"
PR #32088 introduced an annotation for fluentd migration from static pod to the daemonset to avoid two instances of fluentd on a single node during the transition stage. I didn't read the pr carefully, but based on the code at https://github.com/kubernetes/kubernetes/pull/32088/files#diff-6b0808bd1afb15f9f77986f4459601c2R199, every node object has one label be default:
"alpha.kubernetes.io/fluentd

[2017-03-09 21:20] JiangtianLi commented on #42605
@vriesmarcel Thanks for the details. I was able to kubectl create marcelv/sqlexpress. In the db container I could ping kubernetes.default.svc.cluster.local. In my other iis container on the same node, ping can resolve db.default.svc.cluster.local name. But there is some other issue to reach db container though, which I am looking into.

So it is better I can access your cluster and take a look the

[2017-03-09 21:21] #42724 closed

[2017-03-09 21:22] bgrant0607 commented on #42840
@piosz The string "fluentd" shouldn't appear anywhere in our code. Please remove it ASAP.

[2017-03-09 21:26] crassirostris commented on #42840
@dchen1107 Absolutely agree with you, thanks for bringing this up! Is it possible to apply labels to the node as part of the node startup script/salt?

[2017-03-09 21:29] vriesmarcel commented on #42605
no clue how to IM you using slack, I don't have you as a team member ?!? sorry slack noob.
What do you need to get access to the cluster? master endpoint and ssh keys?

[2017-03-09 21:29] mbohlool opened #42841 "swagger.json is missing from API discovery"
OpenAPI v2.0 spec is server on the root of the API server as swagger.json. However this file is missing from the API discovery result. Also the file is not versioned. I propose to add version to the path, e.g. $APISERVER/spec.v2/swagger.json, $APISERVER/spec.v3/openapi.json, etc.

ref: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-api-machinery/3Zsf1eALhDw

[2017-03-09 21:30] crassirostris commented on #42840
To clarify, I'm thinking about possible ways to provide a fix for that ASAP.

Writing external controller is a best solution, but here we have a release coming and this label is intended to be only a temporary measure to perform upgrade from using fluentd as static pods to using daemon set.

[2017-03-09 21:31] coffeepac commented on #42718
@crassirostris +1  looks great!  thanks!

[2017-03-09 21:34] dchen1107 commented on #42840
@crassirostris I believe GKE already has an existing mechanism to add this kind of labels to the node. cc/ @fabioy

[2017-03-09 21:35] skriss commented on #42199
@krousey @mikedanese master-only upgrades seem to be working correctly now, however full-cluster upgrades aren't getting the cluster into a functioning state:

<*errors.errorString | 0xc422c96f10>: {
I0309 08:45:31.969]           s: "failed to get logs from downwardapi-volume-cad0f881-04e7-11e7-986c-0242ac110009 for client-container: the server has asked for the client to provide credentials (get

[2017-03-09 21:37] Random-Liu commented on #42199
OK. It works from v1.5.3 to v1.6.0-beta.2. Close this one. :)

[2017-03-09 21:44] timothysc commented on #33188
This is ok to move it's not a blocker for 1.7.

[2017-03-09 21:48] skriss commented on #42449
@kargakis @janetkuo can you clarify the status? To be clear, for 1.5->1.6 upgrades, there are 2 failing Deployment tests in the jobs that perform an upgrade then run 1.5 tests to check for compatibility. Are these issues that need to be addressed for the 1.6 release?

[k8s.io] Deployment deployment reaping should cascade to its replica sets and pods
/go/src/k8s.io/kubernetes/_output/dockerized/go/

[2017-03-09 21:48] liggitt commented on #42834
client-side validation strikes again :(

[2017-03-09 21:49] skriss commented on #42449
upgrade 1.5->1.6, run 1.5 tests: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.5-container_vm-1.6-upgrade-cluster/21

upgrade 1.5->1.6, run 1.6 tests: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.5-container_vm-1.6-upgrade-cluster-new/22

[2017-03-09 21:51] skriss commented on #42764
@liggitt @bowei is someone looking at this? should it be routed to someone else?

[2017-03-09 21:52] bowei commented on #42764
Looking --

[2017-03-09 21:55] liggitt commented on #22841
covered by https://github.com/kubernetes/kubernetes/issues/39434

[2017-03-09 21:55] #22841 closed

[2017-03-09 21:55] JiangtianLi commented on #42605
@vriesmarcel I have created a team on slack and I can sent you the invitation. Please let me know your email address. I am not an expert on slack so not sure if there is better way.

[2017-03-09 21:57] mikedanese commented on #42199
@skriss, looking.... sounds like it might be related :( :(

[2017-03-09 21:57] crassirostris commented on #42840
OK, thanks!

However, I believe we should be sure not to break everyone's upgrade process, i.e. after master upgrade to 1.6 on any platform, there should be only one fluentd agent on each node.

I propose changing the configure scripts and salt to set up needed labels in kubelet's flag (`--node-labels`). @dchen1107 WDYT?

[2017-03-09 21:59] dchen1107 commented on #42554
@fzu-huang from what you posted above, obvious the node with name localhost is not registered itself to API server. Once your master node is registered with API server properly, above issue should be gone.

[2017-03-09 22:03] #34409 closed

[2017-03-09 22:03] nilebox commented on #26003
@wfarr @caesarxuchao do you know what's the exact fix or workaround for this problem? I followed the issue [client-go#8](https://github.com/kubernetes/client-go/issues/8) but don't seem to find what is the workaround for this periodical error in the log.

[2017-03-09 22:03] dashpole commented on #26000
looks like what [cadvisor#1573](https://github.com/google/cadvisor/pull/1573) is fixing.

[2017-03-09 22:03] saad-ali commented on #36970
Closing old non-recurring flake

[2017-03-09 22:03] #36970 closed

[2017-03-09 22:04] saad-ali commented on #37056
Closing old non-recurring flake

[2017-03-09 22:04] #37056 closed

[2017-03-09 22:04] dashpole commented on #33192
Looks like what [cadvisor#1573](https://github.com/google/cadvisor/pull/1573) fixes.

[2017-03-09 22:04] dashpole commented on #39812
This may already be fixed, although I am not sure if it has made it into kubernetes yet.
Looks like what [cadvisor#1573](https://github.com/google/cadvisor/pull/1573) fixes

[2017-03-09 22:07] igorpeshansky commented on #42718
/cc @qingling128 @dhrupadb @rbuskens

[2017-03-09 22:13] dchen1107 commented on #42008
cAdvisor release doc: https://docs.google.com/document/d/102wNLDR9ls5NGRpBIfhQaD53q97DVLfmmuILLUE4AIk/edit

[2017-03-09 22:15] msau42 commented on #28283
I'm working on a fix for this.  It will change all the callers of kubectl exec in pd.go to use the retry wrapper instead.

[2017-03-09 22:15] cmluciano commented on #26005
Test results so far for a few distributions' default settings

Operating System|Key|Value
--- | ---  | ---
Debian Jessie 8.7.5|/proc/sys/kernel/keys/root_maxkeys|200
--- |/proc/sys/kernel/keys/root_maxbytes|20000
--- |/sys/module/nf_conntrack/parameters/hashsize|undefined|
--- |/proc/sys/net/netfilter/nf_conntrack_tcp_timeout_established|undefined|
Ubuntu 14.04|/proc/sys/kernel/keys/root_maxkeys|2

[2017-03-09 22:19] bowei commented on #42764
Let keep this as a 1.6 issue for now. The run does not seem to have incorporated the ConfigMap change, it should be independent, but I am still investigating why the failure occurred.

[2017-03-09 22:21] theothermike opened #42844 "StatefulSet using SSD storage class does not allocate SSD disk"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): statefulset ssd

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REP

[2017-03-09 22:23] nilebox commented on #26003
@caesarxuchao it would be nice if you added an example with watch on TPR. There are many unobvious issues on the way.

For example, you can't use `cache.NewListWatchFromClient` because it relies on global codec which is unaware of custom TPR types (see the [workaround in my repo](https://github.com/nilebox/k8s-deploy/blob/master/pkg/app/server.go#L144) and the [issue comment](https://github.com/ku

[2017-03-09 22:26] caesarxuchao commented on #42646
Closed by #42833

[2017-03-09 22:26] #42646 closed

[2017-03-09 22:30] mikedanese commented on #42199
@liggitt https://github.com/kubernetes/kubernetes/commit/7e98e06e483 broke upgrades since it adds a group to certificates that certificates generated with 1.5 don't have. This is causing:
[code]

[2017-03-09 22:43] bowei commented on #42645
I suspect that there is a connectivity issue to the ClusterIP 10.96.0.10. I would double check that you can get packets to the kube-dns cluster IP from your pod.

[2017-03-09 22:47] liggitt commented on #42199
upgrades should still have the existing ABAC policy in place

[2017-03-09 22:49] mikedanese commented on #42199
ahh, ok. I'll look into why that's not helping.

[2017-03-09 22:51] dchen1107 commented on #42824
I manually merged #42779 which should fix this timeout issue caused pod-deletion.

[2017-03-09 22:51] #42824 closed

[2017-03-09 22:55] yujuhong opened #42847 "ci-kubernetes-test-go: TestConfigMapController data race"
https://k8s-testgrid.appspot.com/sq-blocking#test-go

FAIL	k8s.io/kubernetes/federation/pkg/federation-controller/configmap	3.522s

[code]

@kubernetes/sig-federation-bugs

[2017-03-09 22:55] yujuhong commented on #42847
This is blocking the submit queue.
/cc @k8s-oncall

[2017-03-09 23:00] rickypai commented on #29177
RBAC in 1.6 will include default roles and bindings for components!

staging doc link: https://kubernetes-io-vnext-staging.netlify.com/docs/admin/authorization/rbac/#default-clusterroles-and-clusterrolebindings

[2017-03-09 23:00] gmarek commented on #42685
@dchen1107 IIUC expected time to delete a Pod is now 30 seconds, right? I'll need to rewrite this test to take that into account.

[2017-03-09 23:02] wongma7 commented on #42844
this is because your statefulset claim template has the alpha annotation "volume.alpha.kubernetes.io/storage-class: ssd" which ignores storage class params and uses some default. Switch to beta and it should work

[2017-03-09 23:08] dchen1107 commented on #42847
@yujuhong Thanks for filing the issue. I am just about to file it.

[2017-03-09 23:13] dchen1107 commented on #42847
@csbell I am assigning this to you for triaging. Thanks!

[2017-03-09 23:13] dchen1107 commented on #42847
cc/ @kubernetes/sig-federation-bugs

[2017-03-09 23:14] msteffen commented on #42699
+1. One piece of this report that I'd like to help emphasize is:

The problem with emptyDir is that some kind of janitor process needs to clean it up regularly. While this could be made to work, overriding docker's 10GB-per-container storage limit seems like it might be easier?

[2017-03-09 23:21] dchen1107 commented on #42763
I believe the pr 42779 should also resolve this timeout issue. Close it.

[2017-03-09 23:21] #42763 closed

[2017-03-09 23:26] zhan849 commented on #40044
@vishh so even we set `minimum-container-ttl-duration`, it's not really effective that eviction manager can tear down container whenever it thinks proper? Which means, container logs can be missing (especially the un-rotated logs) if components say, fluentd is not able to collect them timely?

We intend to write some container log management component that is highly dependent on this `minimum-cont

[2017-03-09 23:29] ConradIrwin opened #42850 "Missing logs of which pods were deployed to which nodes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): schedule logs pods nodes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2017-03-09 23:33] Random-Liu commented on #21085
We've already handled this issue in the new dockershim https://github.com/kubernetes/kubernetes/pull/35930

And this issue is more than 1 year old. Close this one.

@calebamiles

[2017-03-09 23:33] #21085 closed

[2017-03-09 23:34] pmsteil commented on #42621
This is what I get:

[2017-03-09 23:35] alexey-medvedchikov opened #42852 "`kubectl config set-cluster` returns 0 on error"
**Kubernetes version**:
[code]

**Environment**:
- Pod on K8S inside AWS EC2
- (container) Debian GNU/Linux 8 (jessie) amd64 (bare) CentOS Linux 7 (Core)
- Linux shell-1313057207-0uwqj 3.10.0-514.10.2.el7.x86_64 #1 SMP Fri Mar 3 00:04:05 UTC 2017 x86_64 GNU/Linux

**What happened**:
Call to `kubectl config set-cluster` with wrong args shows usage help and return exit code 0

**What you expected to

[2017-03-09 23:35] bgrant0607 commented on #42756
Relevant text from the layers doc:

We need a built-in add-on manager (not unlike static pod manifests, but at the cluster level) so that we can automatically add self-hosted components and dynamic configuration to the cluster, and so we can factor out functionality from existing components in running clusters.

At its core would be a pull-based declarative reconciler, as provided by the current a

[2017-03-09 23:37] dchen1107 commented on #37252
We decided to manually create node conformance test image for 1.6 release, and leave the automated process to 1.7. Thanks!

[2017-03-09 23:37] bgrant0607 commented on #42756
See also #23233

[2017-03-09 23:38] bgrant0607 commented on #42756
I'm going to close this in favor of #23233.

[2017-03-09 23:38] #42756 closed

[2017-03-09 23:40] dchen1107 commented on #30811
In 1.6 release, we have done the following:

1) deploy node-problem-detector daemonset with e2e test by default
2) collect node-problem-detector log for the debugging.

I punt this to 1.7.

[2017-03-09 23:40] fejta commented on #42603
/assign @zmerlynn @justinsb
/unassign

[2017-03-09 23:41] crassirostris commented on #39730
What is the status of this issue?

[2017-03-09 23:41] fejta commented on #42543
/close

[2017-03-09 23:41] #42543 closed

[2017-03-09 23:41] dchen1107 commented on #41902
@smarterclayton Do you think https://github.com/kubernetes/kubernetes/pull/42779 is enough to address this issue? Or there are some other pending issues in watching code? Can we close this one?

[2017-03-09 23:41] bgrant0607 commented on #23233
Copied from #42756:

Relevant text from the layers doc (join kubernetes-dev to access):
https://docs.google.com/document/d/1XkjVm4bOeiVkj-Xt1LgoGiqWsBfNozJ51dyI-ljzt1o/edit#

We need a built-in add-on manager (not unlike static pod manifests, but at the cluster level) so that we can automatically add self-hosted components and dynamic configuration to the cluster, and so we can factor out function

[2017-03-09 23:44] Random-Liu commented on #30811
Initially we planed to integrate node problem detector with the e2e framework to:
1) Detect node problems during e2e test.
2) Make sure NPD is actually working.

In 1.6 release, for 1) we collected NPD log, which is good enough for debugging https://github.com/kubernetes/kubernetes/pull/41949; 2) Add real case NPD e2e test to make sure it is working properly https://github.com/kubernetes/kubernete

[2017-03-09 23:44] bgrant0607 commented on #23233
Obviously I agree with @gmarek now.

[2017-03-09 23:45] colemickens commented on #23233
As this is relevant to cluster lifecycle: **cc:** @kubernetes/sig-cluster-lifecycle-misc (didn't realize this had fragmented into four different GH teams, hope this one is relevant)

[2017-03-09 23:46] mikedanese commented on #42199
Infinity bugs. PTAL at https://github.com/kubernetes/kubernetes/pull/42853

[2017-03-09 23:47] dchen1107 commented on #42679
I looked into above failures listed here, and I think all failures are caused by the same pod-deletion issues, which should be addressed by #42779. Close this one.

[2017-03-09 23:47] #42679 closed

[2017-03-09 23:47] feiskyer commented on #42736
@yujuhong  OK. But because `GC can't distinguish just-created sandboxes from failed sandboxes`, there are still potential problems under big  pressure.

[2017-03-09 23:52] yujuhong commented on #42736
First, this issue is no longer a release blocker after the fix. Let's open a separate issue to discuss potential improvement, instead of commenting on a closed issue :)  Also, FWIW, we used the same logic in the old docker manager, so this is also not a regression.

[2017-03-09 23:52] quinton-hoole commented on #38974
@mwielgus @irfanurrehman See my comments today in your design doc:

https://docs.google.com/document/d/1Uacp99LskNHkJ6ZFFOVGorDivYKi4ySkI8E3tTFAZJ8/edit

I think that there is a good way that combines the benefits of both of the approaches above.  See what you think.

[2017-03-09 23:52] dchen1107 commented on #38168
The same test hasn't failed for more than 2 weeks. Close it.

[2017-03-09 23:52] #38168 closed

[2017-03-09 23:55] bgrant0607 commented on #23233
@colemickens Please don't use the misc group unless there isn't a more relevant one. This is a feature request / proposal. @kubernetes/sig-cluster-lifecycle-feature-requests is notified above. @kubernetes/sig-cluster-lifecycle-proposals is notified now. :-)

[2017-03-09 23:56] dchen1107 commented on #36903
A couple of issues were introduced lately to fix this issue: #42779, #42661. Close this one.

[2017-03-09 23:56] #36903 closed

[2017-03-09 23:57] timstclair commented on #23233
What would be the authenticated account when applying? At least for kube-system (addons) the account would need pretty wide privileges, probably root-on-cluster. That means that configuration becomes a very high-value target (and we should probably disallow HTTP), so the endpoint itself as well as the configuration would need to be carefully protected. /cc @kubernetes/sig-auth-feature-requests

[2017-03-09 23:57] bgrant0607 commented on #23233
Why not Helm?

1. That would be a system layering violation, according to the layers in the proposal.
2. Helm is imperative, not declarative.
3. Something has to start Tiller. Probably the addon manager.
4. Does Tiller respect authorization policy yet?

I could probably think of more reasons.

[2017-03-09 23:58] dchen1107 commented on #32044
Clear the milestone from this one. We are using this to alert the abnormal resource usage growth, but currently there is no concern for 1.6 release.

[2017-03-09 23:59] bgrant0607 commented on #23233
@timstclair Excellent question. Yes, I'd only expect HTTP to be used in dev clusters, such as minikube.

[2017-03-09 23:59] dchen1107 commented on #42749
Again it is due to the buggy pod-deletion code which was addressed. Close this one for now.

[2017-03-09 23:59] #42749 closed

[2017-03-10 00:00] csbell commented on #42847
This is a flakey test. We have a few flakes that we are trying to root out. What's the procedure for flakes that block. Can you just re-run to unblock the submit queue?

[2017-03-10 00:01] dchen1107 commented on #42731
ping ... @maisem Do you need help to triage the flaky here?

[2017-03-10 00:02] yujuhong commented on #42606
@RenaudWasTaken this was raised previously in https://github.com/kubernetes/features/issues/16, but the conclusion was that docker labels were immutable and hence don't map well to k8s labels. Nothing has changed since that discussion, so it's unlikely that the sig-node community will add this feature.

As for the labels you mentioned, they are simply used by kubelet to keep track of the container

[2017-03-10 00:04] msau42 commented on #42699
When the pod gets destroyed, the emptydir directory gets deleted.  Is there any other cleanup you are expecting?

[2017-03-10 00:04] feiskyer opened #42856 "CRI: PodSandbox may be garbage collected early before it is ready"
Forked from https://github.com/kubernetes/kubernetes/issues/42736#issuecomment-285268573.

Currently, kuberuntime garbage collection can't distinguish just-created sandboxes from failed sandboxes. Especially when the time from sandbox creation to ready is longer than GC's minAge. In such cases, those sandboxes may be garbage collected early before they are ready.

Some ideas of solving this proble

[2017-03-10 00:04] madhusudancs commented on #42847
@yujuhong @dchen1107 do you know how often this is happening? Should we temporarily disable this test to unblock the submit queue?

[2017-03-10 00:05] feiskyer commented on #42736
@yujuhong Agreed. Opened #42856 for this.

[2017-03-10 00:07] dashpole commented on #32304
This may be fixed by [cadvisor#1573](https://github.com/google/cadvisor/pull/1573)

[2017-03-10 00:09] Random-Liu commented on #38511
The failure is only one of the batch failures in https://github.com/kubernetes/kubernetes/issues/38100.

They are caused by the same reason, and it didn't flake for 3 months. Close this one.

[2017-03-10 00:09] #38511 closed

[2017-03-10 00:10] Random-Liu commented on #37914
The failure is only one of the batch failures in https://github.com/kubernetes/kubernetes/issues/38100.

They are caused by the same reason, and it didn't flake for 3 months. Close this one.

[2017-03-10 00:10] #37914 closed

[2017-03-10 00:11] perotinus commented on #42847
@madhusudancs It looks like this particular flake has happened once this week (at least as far as I could find): https://k8s-testgrid.appspot.com/sq-blocking#test-go

[2017-03-10 00:12] perotinus commented on #42847
And, FWIW, the runs just before and after were green, so this looks like an uncommon flake.

[2017-03-10 00:19] Random-Liu commented on #34827
The test hasn't been flaked for 3 months

The recent failure is caused by pod deletion timeout, which has been fixed in https://github.com/kubernetes/kubernetes/pull/42779.

[2017-03-10 00:19] #34827 closed

[2017-03-10 00:19] madhusudancs commented on #42847
I only looked at the runs in last 24 hours, but yeah.

[2017-03-10 00:20] MrHohn commented on #42764
From the failure above, seems like kube-dns pod was not upgraded to the newer version after upgrade:
[code]
Note that we already removed the healthz container from kube-dns in v1.6.

[2017-03-10 00:23] dchen1107 commented on #35750
The issue was filed against GKE test suites here. The same hasn't failed for more than 2 weeks on both gce and gce-gci. There are a couple of failures on GKE test suites, but all of them are caused by the test-infra related issues. Close this one for now.

[2017-03-10 00:23] #35750 closed

[2017-03-10 00:25] bgrant0607 commented on #23233
The reconciler could be associated with a ServiceAccount for authorization purposes.

Credentials for private/protected endpoints or repos could be in a Secret. We punted on that in gitRepo volume sources. #831 would avoid a new mechanism by just running a container in a Pod, but I don't think we want that in this case.

We'd need another way to automatically create/populate the reconciler API and

[2017-03-10 00:26] bgrant0607 commented on #23233
From @timstclair:

Reasons to do so:
- consistency with Kubernetes production code (easier for devs to manage)
- robustness (bash isn't exactly known for being a robust production language)
- reduced base image (less CVE management overhead)
- can be built with release branch code (avoid out of date kubectl problems: https://github.com/kubernetes/kubernetes/issues/34943, https://github.com/kuberne

[2017-03-10 00:33] yujuhong commented on #42847
Whether this currently blocks the submit queue or not, unit test flakes should be minimized if possible. I think triaging this is definitely a high priority, i.e., figuring out whether the race is caused by a bug in the actual code or just the unit test itself...

[2017-03-10 00:35] madhusudancs commented on #42847
@yujuhong fair enough.

[2017-03-10 00:41] caesarxuchao commented on #42639
According to the log of the first linked failure, and a local reproduction, the RS was not orphaned because the deployment controller-er adopted the RS that was just orphaned by the garbage collector.

To prevent the race, the deployment controller should get the latest deployment from API server, instead of checking its local cache, before [adopting](https://github.com/kubernetes/kubernetes/blob/

[2017-03-10 00:42] ymqytw commented on #40224
We use [0 as timeout](https://github.com/kubernetes/kubernetes/blob/9498a1270f54b6f3353ceb70b53a3746e4f952e0/pkg/kubectl/cmd/rollout/rollout_status.go#L152). [It doesn't set up any timeout](https://github.com/kubernetes/kubernetes/blob/9498a1270f54b6f3353ceb70b53a3746e4f952e0/staging/src/k8s.io/apimachinery/pkg/watch/until.go#L44-L50). I don't find out how it [reach the timeout error](https://gith

[2017-03-10 00:42] bgrant0607 commented on #23233
Current code: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager

[2017-03-10 00:44] ymqytw commented on #41336
@snoby Does 1.5.4 have the same issue?

[2017-03-10 00:50] smarterclayton commented on #41902
We can close this, the issue is almost certainly the one fixed.

[2017-03-10 00:50] #41902 closed

[2017-03-10 00:56] smarterclayton commented on #42841
How would the aggregator expose these? @deads2k

[2017-03-10 00:58] bgrant0607 commented on #23233
The diagram from the app management doc can also be found here (join kubernetes-dev to access):

https://docs.google.com/presentation/d/17AqTn5QisaD2F3pz2buZUVW1fdlIW-Mv_zIiRBrTaSY/edit#slide=id.g1cac0faa55_0_15

[2017-03-10 00:59] MrHohn commented on #42764
Found more hints from the equivalent gce upgrade test: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-cluster-new/8

Apparently addon-manager is not working properly and it failed to update kube-dns ([logs file](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-cluster-new/8/artifacts/bootstrap-e2e-m

[2017-03-10 01:04] bgrant0607 commented on #42752
While I had thought of DaemonSet as an admin API in the past, and had suggested a different API group (#8190), my current thinking is that it would be simpler for users for it to be in the apps group, as part of the continuum of workload APIs.

[2017-03-10 01:05] bgrant0607 commented on #42752
I put all the workload APIs in the "application layer" (join kubernetes-dev to access):
https://docs.google.com/document/d/1XkjVm4bOeiVkj-Xt1LgoGiqWsBfNozJ51dyI-ljzt1o/edit#

[2017-03-10 01:13] Random-Liu commented on #38550
The original failure is one and a half month ago, and the failure is in release 1.4 test.

The recent failure is part of batch failure https://github.com/kubernetes/kubernetes/issues/40679, and is only in 1.3-1.5 upgrade test.

The test-grid also shows all green.

Close this one.

[2017-03-10 01:13] #38550 closed

[2017-03-10 01:19] bgrant0607 commented on #42752
Feature issues:
DaemonSet updates: https://github.com/kubernetes/features/issues/124
StatefulSet updates: https://github.com/kubernetes/features/issues/188

[2017-03-10 01:33] bowei opened #42861 "Dynamically propagate changes to the node level /etc/resolv.conf to the pod"
We currently compute the /etc/resolv.conf from the node once during pod startup.

It may be the case that an external entity updates the resolution configuration for the node during the lifetime of the pod, and it is sensible to expect that the pod's configuration will be adjusted accordingly.

[2017-03-10 01:34] bowei commented on #42861
/assign @bowei

[2017-03-10 01:37] caesarxuchao commented on #42639
@janetkuo @enisoc could you help with the fix, since you are making controllerRef related changes? Also the fix should be applied to all controllers, not just the deployment controller.

[2017-03-10 01:38] Random-Liu commented on #42547
From the log I see:
[code]
The pod cgroup is removed right after the container is created. This is a known issue https://github.com/kubernetes/kubernetes/issues/42431, and is fixed in https://github.com/kubernetes/kubernetes/pull/42585.

Close this one.

[2017-03-10 01:38] #42547 closed

[2017-03-10 01:38] Random-Liu commented on #42541
From the log I see:
[code]
The pod cgroup is removed right after the container is created. This is a known issue https://github.com/kubernetes/kubernetes/issues/42431, and is fixed in https://github.com/kubernetes/kubernetes/pull/42585.

Close this one.

[2017-03-10 01:38] #42541 closed

[2017-03-10 01:38] Random-Liu commented on #42527
From the log I see:
[code]
The pod cgroup is removed right after the container is created. This is a known issue https://github.com/kubernetes/kubernetes/issues/42431, and is fixed in https://github.com/kubernetes/kubernetes/pull/42585.

Close this one.

[2017-03-10 01:38] #42527 closed

[2017-03-10 01:40] Random-Liu commented on #37580
@calebamiles The docker bug is not a regression, and is tracked in #41450.

The problem of the test is not necessarily to be fixed in v1.6, at least it's not release blocker. :)

[2017-03-10 01:41] dchen1107 commented on #42753
Ok I rethink this a little bit more. I think we should handle this in TraintController since it drives the policy.

1) In previous releases, Kubelet already includes two annotations to indicate if a pod is static pod or not: kubernetes.io/config.mirror & kubernetes.io/config.source

[code]

2) If TaintController can easily filter out those mirror pods / static pods with a sample logic as the bello

[2017-03-10 01:45] Random-Liu commented on #37194
The original test failure is fixed in #37261.

And similar error doesn't occur any more. Close this one.

[2017-03-10 01:45] #37194 closed

[2017-03-10 01:49] rvowles commented on #23794
So this seems to work?

[2017-03-10 01:51] janetkuo commented on #42639
This sounds like a serious problem that needs to be fixed in 1.6.

[2017-03-10 01:55] smarterclayton commented on #42753
Jordan was indicating that relying on "powerful" annotations that anyone
can set can lead to security challenges.

I actually liked the idea of the kubelet setting taints on static pods -
after all, the kubelet "owns" those pods.

On Thu, Mar 9, 2017 at 8:41 PM, Dawn Chen <notifications@github.com> wrote:

[2017-03-10 01:55] bgrant0607 commented on #23233
I'd be ok with focusing on the addon manager first and add the API later, provided we keep in mind that we'll want consistent semantics.

[2017-03-10 02:09] ymqytw commented on #42764
I think this issue have been fixed by #42489. And it is in 1.6.0-beta.2.
The root cause is https://github.com/kubernetes/kubernetes/issues/42488

[2017-03-10 02:24] k8s-merge-robot opened #42866 "Extract {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-parallel/7760/
Failed: Extract {e2e.go}

[code]

Previous issues for this test: #42078 #42543

[2017-03-10 02:25] justinsb commented on #23233
@bgrant0607 we are working on this in sig-cluster-lifecycle.  I'll invite you to participate in our discussions going forwards.

Clarifying question though: what functionality does `kubectl apply -f <url> --prune` _not_ have?  i.e. what is in scope here?

As far as I can see, the additional functionality you are asking for:

* updating as the source document changes (automatically?)
* specifying t

[2017-03-10 02:26] msau42 opened #42867 "FailedMount event can be misleading"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
FailedMount

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**K

[2017-03-10 02:26] msau42 commented on #42867
/assign

[2017-03-10 02:28] bsalamat commented on #42691
@timothysc I will create a fake PR to see if we can reproduce, but looking at the code of the test, it seems that there is a reason that this test is flaky. The test (like many other tests) uses waitForScheduler:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduler_predicates.go#L234

waitForScheduler is not doing anything to ensure that scheduler has actually run. It just waits

[2017-03-10 02:38] shashidharatd opened #42868 "How to configure kube-system:kube-dns ConfigMap with nameserver and port"
@bowei, Thanks for this pr #41826, its really useful.
Is there a way to configure port for the nameserver and how?

it would be really useful, if somebody wants to deploy dns-server in kubernetes as a NodePort service and there could be possibilities where cloud-provider may not be supporting LoadBalancer type service.

We do have a usecase in federation for federating clusters on non-cloud enviro

[2017-03-10 02:40] bsalamat commented on #42691
We see similar occasional failures in other tests that call verifyResult right after waitForScheduler, such as:

[k8s.io] SchedulerPredicates [Serial] validates that NodeAffinity is respected if not matching
[k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]

I don't have any evidence that waitForScheduler is causing it, but there is a pos

[2017-03-10 02:42] jeffvance commented on #42867
@msau42 mount failures are a fairly common reason why some of the volume e2e tests fail. It has been useful to me to see the _FailedMount_ event in the target pod. In the case of ceph-rdb we get a useful error msg:
[code]
but for other plugins, not so helpful:
[code]
If the mount eventually succeeds is it possible to annotate an earlier event record (not likely), or even know there was a previousl

[2017-03-10 02:44] chrislovecnm commented on #39574
@kow3ns I plan to remove the ds and rc components of the example, and leave the statefulset.

[2017-03-10 02:47] msau42 commented on #42867
I'm not sure it's possible to modify an earlier event.  So I think in this case, it would just always trigger a successful mount event, regardless of if it had previously failed.

[2017-03-10 02:47] #42573 closed

[2017-03-10 02:48] msau42 commented on #42867
And to clarify, I intend to leave the failed events as is.  I just want to add a success event as well.

[2017-03-10 03:04] timothysc commented on #42691
We should use the eventing mechanism that is used in other tests...

Push it into a generic mechanism, but that's a pretty large change this close to the end.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/opaque_resource.go#L242

[2017-03-10 03:10] gnufied commented on #42573
We ended up not merging both of above PRs, but we merged third PR I made for fixing same problem - https://github.com/kubernetes/kubernetes/pull/42811

[2017-03-10 03:26] timothysc commented on #42691
So here is what I propose: if the there have only been 2 failures in the last two weeks we should hold off and fix it properly in the next cycle.  We should bring all the other scheduling e2es into line as well and possibly subdir off with owners attached so they route to the sig easier.

[2017-03-10 03:39] msteffen commented on #42699
I apologize, I didn't read the docs for emptyVolumes carefully. I think that would work well for us.

[2017-03-10 04:15] #29790 closed

[2017-03-10 04:22] xiangpengzhao commented on #42568
If @kubernetes/sig-node-feature-requests think the way @davidopp mentioned is okay, I would like to try to work on it:)

But I still have no idea how to fix current issue :(     Seems kubelet should call API to delete the pod, but it doesn't have chance to do because the pod was scheduled to the node but never created.

[2017-03-10 04:33] k8s-merge-robot opened #42870 "[k8s.io] EmptyDir volumes should support (non-root,0644,tmpfs) [Conformance] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2428/
Failed: [k8s.io] EmptyDir volumes should support (non-root,0644,tmpfs) [Conformance] [Volume] {E2eNode Suite}

[code]