[2016-06-14 20:45] fejta commented on #27393
`sudo docker ps -a | wc` shows there are some 36 exited containers on the machine, which for some reason aren't getting removed.

[2016-06-14 20:47] yujuhong commented on #27385
Could you adjust the qps limit for the apiserver client and rerun the test?
[code]

[2016-06-14 20:50] fejta commented on #27393
[code]

[2016-06-14 20:58] k8s-merge-robot opened #27394 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1492/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]

[2016-06-14 20:58] sols1 commented on #17406
With the following docker PR #https://github.com/docker/docker/pull/22408, this issue should be resolved by kubelet passing `--dns` and `--net=host` options to docker.

[2016-06-14 21:06] fejta commented on #27393
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-gci-ci-release-1.2/970/console -> timeout
969 -> timeout
948 timeout
944 timeout
928 timeout
923 timeout

[2016-06-14 21:07] fejta commented on #27393
Same: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-1.2-1.3-kubectl-skew/471/consoleFull

[2016-06-14 21:08] nikhiljindal commented on #26762
@mml Yes please feel free to work on it.
The best way to test your hypothesis is to add a test that fails with the current code.

[2016-06-14 21:10] fejta commented on #27393
I'm going to create an hourly maintenance job similar to https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/jenkins-daily-maintenance.yaml that for now does:
[code]

[2016-06-14 21:12] david-mcmahon commented on #27382
I believe you just want to add your binaries to the list [here](https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L1508).

[2016-06-14 21:14] nVitius commented on #23478
- Allow the customization of apiserver flags
- Allow custom files to be uploaded (authorization-policy-file, token-auth-file, basic-auth-file, all the SSL certs).

I'd like to be able to enable ABAC authorization. This would also require being able to pass in a policy file.  http://kubernetes.io/docs/admin/authorization/

[2016-06-14 21:19] quinton-hoole commented on #27236
Yes, the fix PR merged.  Thanks!  Closing.

[2016-06-14 21:19] #27236 closed

[2016-06-14 21:24] yujuhong commented on #27388
You can get the actually docker requests by increasing the log verbosity of docker and compare them against your raw scripts. Then we can see what the difference is.

That's also why I suggested tuning the timeout since that may be one source of difference.

FWIW, I started ~300 pods on a node a few weeks ago and didn't encounter serious issues.

[2016-06-14 21:33] k8s-merge-robot opened #27397 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1519/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}

[code]

[2016-06-14 21:33] nikhiljindal commented on #27382
Thanks a lot @david-mcmahon!
Sent https://github.com/kubernetes/kubernetes/pull/27396

[2016-06-14 21:46] colhom commented on #23653
As per offline discussion w/ @nikhiljindal I will be taking care of the following items:

￼* Verify e2e tests on GKE
￼* Verify e2e tests on AWS

[2016-06-14 21:49] hongchaodeng commented on #27004
@timothysc
We have been digging in controller and informer to do profiling. It's also our v1.4 goal to do it and other optimizations.

[2016-06-14 21:50] #27007 closed

[2016-06-14 21:58] dcbw opened #27398 "Support multiple pod IP addresses"
We anticipate that pods may have multiple IP addresses in the future, any combination of zero or greater IPv4 and IPv6 addresses, for a number of reasons:
- The pod's default IP (eg, the address that should be used by services or other pods to talk to this pod) may not be reachable from the node.  This prevents liveness checking or node-generic services (eg, loggers) from reaching or being reached

[2016-06-14 22:00] dcbw commented on #27398
cc @kubernetes/sig-network @MikeSpreitzer @caseydavenport

[2016-06-14 22:02] dcbw commented on #27398
One outstanding question is, if k8s eventually gets a more specific idea of multiple "networks" that each pod can be connected to, whether each pod should have a list of networks, and each network object would then contain the IP information.  But I'm not sure Kubernetes is ready to go there, since that model isn't applicable to all network plugins.  But the model above would allow network plugins

[2016-06-14 22:03] dcbw commented on #27398
Another question is whether a single AddressType would be sufficient, or if addresses should be more complex structures that allow labels and annotations or something like that.  I'm not sure the complexity is worth it.  A plugin could also just add the same address multiple times with a different type each time.

[2016-06-14 22:14] quinton-hoole commented on #26762
My understanding was that @mfanjie had fixed that problem in the past few days.  I'll dig out the PR that professes to fix it.

[2016-06-14 22:17] quinton-hoole commented on #26762
@mml @nikhiljindal The PR I was thinking of is #27028.  I'll re-review now that it actually does what it's supposed to do.

[2016-06-14 22:42] quinton-hoole commented on #26762
@mml @nikhiljindal I double-checked #27028 and yes, I think you've found a bug.  I'm not sure quite how @mfanjie's manual tests passed. As far as I can see ServiceController.processServiceForCluster() does not in fact invoke ensureDnsRecords(), despite the comment to that effect:

// processServiceForCluster creates or updates service to all registered running clusters,
// update DNS records and u

[2016-06-14 22:42] kargakis commented on #27362
@kubernetes/deployment

[2016-06-14 22:43] yujuhong commented on #27383
Marking p1 since this blocks a several PRs (#27208, #27291).

[2016-06-14 22:46] nikhiljindal commented on #26762
We should add an e2e test case for that.

We should probably compile a list of all test cases that we want. And then each one of use can start picking one.

[2016-06-14 22:51] dsanders1234 commented on #22911
Please note that findmnt command does not exist on docker host vm for virtualbox/windows setup (i.e. 'boot2docker').  I'm pretty sure this will be the case for Mac too.  The errors that I get are:

nsenter_mount.go:185] Failed findmnt command for path /var/lib/kubelet/pods/9602feb4-31ba-11e6-bdbe-f62284e3ec86/volumes/kubernetes.io~secret/default-token-4hz3v: exit status 1

and these don't seem to

[2016-06-14 22:58] quinton-hoole commented on #27372
@jlowdermilk Yes, you make a good point.  The tests currently work the other way around.  If the tests detect a multi-zone cluster, they run, otherwise they skip.  This makes it safe to run against any cluster, and makes test configuration much simpler.

To achieve what you suggest, we will need to add a test for multi-zone that is skipped by default (i.e. in all other test jobs), and only runs on

[2016-06-14 23:00] vgs24 commented on #22639
I have the same issue,
Error syncing pod, skipping: failed to "StartContainer" for "hello" with RunContainerError: "failed to apply oom-score-adj to container \"exceeded maxTries, some processes might not have desired OOM score\"- /k8s_hello.5ba915eb_pod11_default_649b02e2-3283-11e6-8624-1add237a3002_3900ea72"
can someone help

[2016-06-14 23:05] quinton-hoole commented on #26762
@nikhiljindal Yes, these are part of the test matrix that @mfanjie sent out, and that @madhusudancs is currently working on.  He is planning to hand over whatever remains to be done to complete the matrix to @mml and @quinton-hoole tomorrow.

[2016-06-14 23:16] yujuhong commented on #27097
/c @kubernetes/sig-node

[2016-06-14 23:18] zhouhaibing089 commented on #27312
@kfox1111

1.  When you are saying standalone mode, I assume there is no apiserver.
2.  If you expect there is a folder, you could put any spec, and update automatically whenever there is a modifications, then I think `kube-addons` is the one you want.(It requires an endpoint for apiserver)
3.  Configmap could be used for more than one pods in different node, so if you would like to use configmap

[2016-06-14 23:20] pwittrock commented on #26673
Closing issue since the PR to address has been merged.  Re-open if this continues to be an issue for kubectl version 1.3+

[2016-06-14 23:20] #26673 closed

[2016-06-14 23:22] Random-Liu commented on #27360
This seems like a temporary network issue:
[code]
The test failed to get pod from apiserver with `TLS handshake timeout` error.

[2016-06-14 23:24] pwittrock commented on #25353
If your goal is to get specific information from describe that is not available anywhere else, we should open an issue for making it available elsewhere.

[2016-06-14 23:33] k8s-merge-robot opened #27401 "kubernetes-e2e-gke-staging-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/4202/

Multiple broken tests:

Failed: Services should be able to change the type and ports of a service {Kubernetes e2e suite}

[code]

Failed: Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27335

Failed

[2016-06-14 23:49] Random-Liu commented on #27388
Just FYI, according to my benchmark before, starting containers concurrently in different goroutines could make each start operation quite quite slow.

For docker 1.9.1 the highest container starting speed is 3.5/s, if you start 160 containers at the same time, it is possible that some of them will wait minutes.

In my benchmark, I started 100 routines to create and stop containers, the highest op

[2016-06-14 23:56] pwittrock commented on #25353
As a work around, would a simpler solution for your use case be doing what the describe does: list all the pods, aggregate them, and compute the resources used for each node?

[2016-06-15 00:08] kfox1111 commented on #27312
Yeah, by standalone mode I mean kubelet with no apiserver.

Nothing is preventing just using a hostPath. I'm doing that now.

Just thinking of the case where users are migrating from not kubernetes to kubernetes in some places and more kuberntes in other places.

For example, I have a full blown k8s on my laptop but only kubelet on some vm's.

For some vm's, we just use kubelet in standalone mode

[2016-06-15 00:13] Random-Liu commented on #26569
This is a dup to #25993, and the original issue has been fixed. Close this one.

[2016-06-15 00:13] #26569 closed

[2016-06-15 00:13] Random-Liu commented on #23028
@dchen1107 All things are done. Can we close this one?

[2016-06-15 00:16] euank commented on #27388
The time it takes to create a large number of containers depends greatly on the graphdriver used (e.g. devicemapper usually is much slower than overlay, especially via a loopback device) and the backing disk iops (nfs vs SSDs and so on).

Out of curiosity, what graphdriver are you using on what sort of storage?

[2016-06-15 00:17] david-mcmahon opened #27403 "Write a PR status tool to show details per user on master and branch PR state"
Open/closed in both locations and relevant labels cherrypick-*.
cc @matchstick

[2016-06-15 00:37] therc commented on #26202
@bgrant0607 I didn't create it myself. I suspect my colleague used apply.

[2016-06-15 00:40] pwittrock opened #27404 "Node status should include allocated resources info through the API"
See #25355.  Users want to be able to query the allocated resources for nodes and currently do this through `kubectl describe` which is both very inefficient as well as hard to parse the data out of.

[2016-06-15 00:40] pwittrock commented on #25355
Filed #27404 to track providing the node allocated resource directly through the api

[2016-06-15 00:40] #25355 closed

[2016-06-15 00:56] caesarxuchao opened #27405 "Replication Controller doesn't notice changes in pods labels"
To reproduce, I create a rc, wait for its pods to be created, then modify the labels of the pod so that it doesn't match the rc's selector anymore. RC should create another pod, but it doesn't try to.

The problem is this [line](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L357). It should enqueue the old rc if old rc exists.

I have a l

[2016-06-15 00:57] k8s-merge-robot opened #27406 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1520/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]

[2016-06-15 01:02] nikhiljindal commented on #26731
Yes I see this now as well.
This is most probably a certificates issue.

cc @lavalamp

[2016-06-15 01:16] pwittrock commented on #27173
Can you confirm if the master has `--enable-debugging-handlers=false` set, or if this is another issue

[2016-06-15 01:19] pwittrock commented on #27212
@AdoHe Interested?

[2016-06-15 01:24] timothysc commented on #27388
it's devicemapper

[2016-06-15 01:25] pwittrock commented on #27328
@janetkuo Looks like this is related to the things @AdoHe fixed

[2016-06-15 01:33] mfanjie commented on #26762
@quinton-hoole my understanding is:
ensureDNS() should only be invoked when federation service controller catches service updates from underlying k8s clusters, including endpoint update and service update. So it is not invoked in the function processServiceForCluster().
Am I having a misunderstanding here?

[2016-06-15 01:34] therc commented on #27212
I can do it, since I'm a heavy user of deployments and recently fixed `kubectl get service`.

[2016-06-15 01:35] bprashanth commented on #27405
Yeah, that got dropped somewhere along the way. This should happen: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L349
Nice catch.

[2016-06-15 01:39] therc commented on #27212
Does my idea of 'desiredReplicas > 0` as primary sorting key and recency as secondary sound good?

[2016-06-15 01:47] bprashanth commented on #27058
This happens when a pod gets re-scheduled to a node from which the attacher is detaching a pv mounted by the pod. We end up with:

1. detach start
2. pod lands on node
3. kubelet checks to see that pv is attached
4. detach completes
5. attach start
6. attach complete

In between 4 and 6 the pod doesn't have a usable volume:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/k

[2016-06-15 01:57] feiskyer commented on #27097
+1

[2016-06-15 02:02] quinton-hoole commented on #26762
@mfanjie I'll have to take a closer look at the code in the morning.  I had (perhaps incorrectly) assumed that processServiceForCluster() was invoked when services in clusters changed. And the comment for that function says that it updates DNS records.  But it does not seem to do that.

Either way, when underlying services are created, deleted or change status, DNS records may need to be added, de

[2016-06-15 02:03] mfanjie commented on #26762
@mml cluster changes will trigger service update https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/federation-controller/service/servicecontroller.go#L655
and

[2016-06-15 02:04] mfanjie commented on #26762
@quinton-hoole "And the comment for that function says that it updates DNS records. But it does not seem to do that."
this comment should be changed, the DNS records update is based on service changes watcher on underlying services.

[2016-06-15 02:53] bprashanth commented on #27405
This is important. Marking 1.3.

[2016-06-15 02:58] asalkeld commented on #18885
Can we close this bug now? It looks like the PR is merged...

[2016-06-15 03:46] saad-ali commented on #27058
I noticed this while testing https://github.com/kubernetes/kubernetes/pull/26801 as well. I have a plan for how to fix it, and agreed this needs to be fixed for 1.3.

[2016-06-15 03:59] davidopp opened #27413 "Set "burst" rate to zero for node evictions in NodeController"
Is there any good reason to have a nonzero burst rate? Ten is way too high for small clusters, and the number seems to be chosen at random even for large clusters (it's not really the size of any typical failure domain). I think that for now we should set it to zero.

@gmarek Does this sound reasonable to you?

[2016-06-15 03:59] spxtr opened #27414 "No more KubeDescribe verify."
It looks like 18e7a3eb243f4fa74ea3258dad946999c327da01 deleted the check for `KubeDescribe`, and since then `test/e2e/third-party.go` acquired a bare `Describe`. @jayunit100

[2016-06-15 04:07] feiskyer commented on #27398
+1 for supporting multiple ip addresses, e.g. separating container network and storage network.

But I have a few questions about the design:

- Using `HealthCheckIP` to solve health check problem for isolated network may result in another problem: Pods in isolated network could connect each other by HealthCheckIP. Is this expected?
- If a container is configured with multiple interfaces, how coul

[2016-06-15 04:14] dhoeric commented on #22638
@kastork I basically create a temp EC2 instance, based on Debian 8.1

Install https://github.com/andsens/bootstrap-vz#amazon-ec2-ebs-backed-ami and create the image based on `k8s-ebs-jessie-amd64-hvm.yml`

[2016-06-15 04:54] lavalamp commented on #27404
@pwittrock please apply team/ux labels when filing issues against yourself! Thanks!

[2016-06-15 05:01] lavalamp commented on #27172
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-06-15 05:01] #27172 closed

[2016-06-15 05:05] lavalamp commented on #27214
actual error is:

[code]

[2016-06-15 05:10] lavalamp commented on #27274
Not sure if that TODO is actually worth it or not. hm.

[2016-06-15 05:12] lavalamp commented on #27308
I would be in favor if you can make the documentation clear.

[2016-06-15 05:17] lavalamp commented on #27348
Please read the README in that directory. Use the Makefile. https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/README.md

[2016-06-15 05:17] #27348 closed

[2016-06-15 05:29] piosz commented on #27194
cc @fgrzadkowski @mwielgus

[2016-06-15 05:56] win-t commented on #27343
After i enabled `--client-cert-auth` on my etcd cluster, i got another error

    etcd-0               Unhealthy   Get https://a.master.kubeinternal:2379/health: remote error: bad certificate
    etcd-1               Unhealthy   Get https://b.master.kubeinternal:2379/health: remote error: bad certificate
   etcd-2               Unhealthy   Get https://c.master.kubeinternal:2379/health: remote erro

[2016-06-15 06:39] jnardiello commented on #25355
Thanks @pwittrock

[2016-06-15 06:49] jnardiello commented on #25353
Just to confirm, as @pracucci said: we currently use `describe nodes` to extract computed resource as that's the only place where this info is available.

@pwittrock I've already opened this: https://github.com/kubernetes/kubernetes/issues/27404
Which eventually will result in computed resources available in the `get` (and therefore available in `json`).

The work-around you proposed would definit

[2016-06-15 07:02] harryge00 opened #27418 "Any way to update basic-auth.csv and ABAC policy files while running api-server?"
I do not want to restart api-server. I would like to add new users to basic-auth.csv, and update their ABAC policy. Is this possible without restart api-server?
I found I cannot modify the two files to make changes applied.

[2016-06-15 07:05] pracucci commented on #25353
I'm actually not sure if the proposed workaround works on a large scale. We do the check very frequently and calling the `get node` for each single node could take some time.

[2016-06-15 07:24] gmarek commented on #27413
I think that by 0 you mean 1. Goal of #20979 was to set it in some sane way. I'll send a simple PR changing it to 1.

[2016-06-15 07:42] jszczepkowski commented on #27394
Resource consumer should consume 100 millicores in total, but is consuming ~200.

[code]

[2016-06-15 07:47] k8s-merge-robot opened #27419 "kubernetes-e2e-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5402/

Run so broken it didn't make JUnit output!

[2016-06-15 07:51] davidopp commented on #27413
Yeah sorry, I meant 1.

I'm not suggesting to do the full-blown "make rate proportional to cluster size" thing right now, just to change the burst.

[2016-06-15 08:04] kargakis commented on #27173
@kubernetes/kubectl

[2016-06-15 08:07] k8s-merge-robot opened #27420 "kubernetes-e2e-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1523/

Run so broken it didn't make JUnit output!

[2016-06-15 08:15] jnardiello commented on #25353
To clearify, for our specific use-case issuing a `kubectl get nodes -o=json` and getting back also the computed resources would be enough. The point I was making with this issue is that it doesn't make any sense to me to have a `describe` command which is inconsistent with other commands which on the other hand support `json` output.

I do now get that to programmatically access these info it is r

[2016-06-15 08:22] kargakis commented on #25353
Note that you need to explicitly ask for json output in `get`. Its default output is human-friendly.

[2016-06-15 08:26] jnardiello commented on #25353
Either it's a human-only tool, in which case we are cool, or it's a mix with machine-friendly features (that people will use, default or not), in which case you need to be consistent across all your interfaces imho.
Again, this is out of the scope of our specific needs for which adding the info to the get command would be just fine.

[2016-06-15 08:27] mrl045 commented on #27343
+1

[2016-06-15 08:50] jszczepkowski commented on #27394
@piosz

[2016-06-15 08:54] piosz commented on #27194
cc @jszczepkowski

[2016-06-15 08:56] jszczepkowski commented on #27394
Probably this is caused by #27194.

[2016-06-15 09:17] jszczepkowski commented on #27315
Should be fixed by #27045.

[2016-06-15 09:17] #27315 closed

[2016-06-15 09:18] jszczepkowski commented on #27316
Should be fixed by #27045.

[2016-06-15 09:18] jszczepkowski commented on #27316
Should be fixed by #27045.

[2016-06-15 09:18] #27316 closed

[2016-06-15 09:18] jszczepkowski commented on #27377
Should be fixed by #27045.

[2016-06-15 09:18] #27377 closed

[2016-06-15 09:18] jszczepkowski commented on #27384
Should be fixed by #27045.

[2016-06-15 09:18] #27384 closed

[2016-06-15 09:19] jszczepkowski commented on #27317
Probably this is caused by #27194.

[2016-06-15 09:22] craigwillis85 commented on #27352
This seems to have been me. I actually installed 2 clusters, one running 1.2.4 and one 1.3-beta, I was looking at the wrong cluster

[2016-06-15 09:22] #27352 closed

[2016-06-15 09:35] zhouhaibing089 commented on #27343
@win-t Sadly, it is not configurable with certificate data.

1.  There is no field to set. https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/validator.go#L39-L45
2.  The tls configuration hardcoded. https://github.com/kubernetes/kubernetes/blob/master/pkg/probe/http/http.go#L33-L37

[2016-06-15 09:39] #26998 closed

[2016-06-15 09:46] miekg opened #27425 "kube-up.sh: MULTIZONE=1 KUBE_USE_EXISTING_MASTER=true"
When adding a new zone to an existing k8s cluster:

[code]

It stalls with:

[code]

I'm guessing the 4th node is the master, so this does not terminate (or maybe fails, dunno, it's still running)

[2016-06-15 09:47] miekg commented on #27425
kubernetes version: v1.2.4

[2016-06-15 09:51] miekg commented on #27425
ah, look
[code]

[2016-06-15 10:15] win-t commented on #27343
oh, I see,
because of default HTTPProber https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/componentstatus/rest.go#L39,
but, i can say that etcd is not same as other component, it is not created/maintained by kubernetes project, so, i thinks it is ok to create custom HTTPProber.
we can create some condition around https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/co

[2016-06-15 10:18] bryk commented on #27212
@therc Can you also upstream this to the Dashboard UI? This should be as easy as sorting a list of things in our go backend.

[2016-06-15 10:46] k8s-merge-robot opened #27427 "Nodes [Disruptive] Network when a node becomes unreachable [replication controller] recreates pods scheduled on the unreachable node AND allows scheduling of pods on a node after it rejoins the cluster {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13041/

Failed: Nodes [Disruptive] Network when a node becomes unreachable [replication controller] recreates pods scheduled on the unreachable node AND allows scheduling of pods on a node after it rejoins the cluster {Kubernetes e2e suite}

[code]

[2016-06-15 11:04] jszczepkowski commented on #27394
Should be fixed by #27423.

[2016-06-15 11:04] #27394 closed

[2016-06-15 11:04] jszczepkowski commented on #27406
Should be fixed by #27423.

[2016-06-15 11:04] #27406 closed

[2016-06-15 11:04] wojtek-t commented on #26687
We faced this issue yesterday:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/47/

Currently we have logs from apiserver (GKE logs).

I think the problem is that we are creating and deleting "execpod" multiple times and those creations and deletions interfere with each other (in particular the previous deletion is deleting and pod created later). Or

[2016-06-15 11:06] wojtek-t commented on #26687
As a temporary solution, I think we can simply add suffixes to name of this pods (I will send out a PR for it). But it seems there is some bigger issue here.

[2016-06-15 11:09] gmarek commented on #26687
[code]

[2016-06-15 11:22] jszczepkowski commented on #27397
The pod rs-b1nco is not starting due to network problems:
[code]

[2016-06-15 11:34] wojtek-t commented on #26687
@caesarxuchao - since this seems related to graceful deletion and stuff like that...

[2016-06-15 12:02] jimmycuadra opened #27430 "Please consider changing the name of PetSet before General Availability"
I brought this up back when PetSet was just a proposal, but it didn't get much response. At the risk of being labeled or dismissed as an "SJW" or "preachy vegan," or of stirring up drama, please hear me out:

The name PetSet is derived from the common metaphor in infrastructure of "pets vs. cattle." The metaphor encourages infrastructure developers to think of cloud servers as anonymous and fungib

[2016-06-15 12:41] rrati commented on #27388
storage is an lvm thinpool, graphdriver is devicemapper.
$ docker info
...
Storage Driver: devicemapper
...
 Pool Name: docker_vg-docker--pool
...
Logging Driver: journald

[2016-06-15 12:58] rrati commented on #27385
Changing the kube-api-burst and kube-api-qps on the kubelet didn't seem to do anything.  kubelet args:
/usr/bin/kubelet --logtostderr=true --v=0 --api-servers=https://192.2.5.40:443 --address=0.0.0.0 --hostname-override=192.2.5.41 --allow-privileged=true --kubeconfig=/etc/kubernetes/kubeletkubeconfig --config=/etc/kubernetes/manifests --cluster-dns=10.254.0.10 --cluster-domain=cluster.local --max-

[2016-06-15 13:02] smarterclayton commented on #25353
It's a human-only tool that enables administrative scripting.  For example:

     kubectl get nodes --template '{{ range .items.status.allocatable }}{{
output CSV style data }}' | tr <cleverness> | <more bash magic>

I think the use case you described is probably achievable through kubectl.
The point is Kubectl doesn't *itself* add new APIs.

On Wed, Jun 15, 2016 at 4:26 AM, Jacopo Nardiello <noti

[2016-06-15 13:05] smarterclayton commented on #27430
Thanks for speaking up - we will definitely take this into the discussions in the community before this feature moves out of alpha.

[2016-06-15 13:09] wojtek-t commented on #27004
@caesarxuchao - in fact, those two issue that you described were bugs, not even races.
Sending PR that is fixing it now.

[2016-06-15 13:27] keontang opened #27436 "Kubernetes Master High Availability Proposal"
# High Availability Kubernetes Clusters Promotion

## Introduction

There have been attempts in achieving high-availability master in the community:

- [High Availability: kubelet doesn't try to talk to a different API server in case of failures](https://github.com/kubernetes/kubernetes/issues/18174)
- [allow the restclient to contact multiple apiservers](https://github.com/kubernetes/kubernetes/p

[2016-06-15 13:42] eyalev commented on #27361
[code]

[code]

[2016-06-15 13:54] jszczepkowski commented on #27173
@pwittrock

Yes, master had `--enable-debugging-handlers=false` set. When switched to `true`, kubectl logs start working for master's pods. So, I guess this is the expected behavior.

[2016-06-15 13:58] smarterclayton commented on #27173
Yes, expected behavior.  `--enable-debugging-handlers` includes things that many people think of as core features (`logs`, `exec`, `attach`).  We probably need to split the flag so you can actually turn off the other ones, or just formalize defending the kubelet more effectively (by turning on the authz checks on the kubelet endpoints and requiring authenticated connections from everyone).

[2016-06-15 14:00] abkaplan07 commented on #25174
+1 on this issue - experiencing this with recommended AWS default instances (m3.medium instances with 4GB ephemeral storage). We have a very beefy legacy app container (1.5GB) that doesn't help matters

[2016-06-15 14:00] zhouhaibing089 commented on #27418
There is some discussion about ABAC policy file [here](https://github.com/kubernetes/kubernetes/pull/23346)..

[2016-06-15 14:04] boucher opened #27440 "Broken link in Kubernetes 201 walkthrough"
There's a link in the Deployments section of the [201 walkthrough](http://kubernetes.io/docs/user-guide/walkthrough/k8s201/) to a longer description that's broken. It links to `http://kubernetes.io/docs/user-guide/deployment` but should link to `http://kubernetes.io/docs/user-guide/deployments` (missing an `s`).

[2016-06-15 14:33] laugimethods commented on #6888
@dims @yujuhong : Those workarounds do work only when you **do know where are located** the equivalent images on DockerHub...
I try to follow by the book [Kubernetes' Spark example](https://github.com/kubernetes/kubernetes/tree/release-1.3/examples/spark) and this example fails because of "Failed to pull image "gcr.io/google_containers/spark:1.5.2_v1": image pull failed... ".
Now, which Spark imag

[2016-06-15 14:46] derekwaynecarr commented on #15690
@thockin - when was this fixed?  Is there a PR I can track?  I got lost following issue chain.

[2016-06-15 14:55] wojtek-t commented on #27420
Fixed by #27439

[2016-06-15 14:55] #27420 closed

[2016-06-15 14:55] wojtek-t commented on #27419
Fixed by #27439

[2016-06-15 14:55] #27419 closed

[2016-06-15 15:20] quinton-hoole commented on #23848
Yup, this can be closed.  All related PR's are merged.

[2016-06-15 15:20] #23848 closed

[2016-06-15 15:27] dims commented on #6888
@laugimethods : Here's what i usually do

`docker search gcr.io/google-containers/spark` : To check if there are spark images in the remote repository

`docker pull -a gcr.io/google_containers/spark` : Pull ALL tags from remote repository to local docker

`docker images | grep spark` : Check what tags are present for the images and then pick a specific one to use

At this moment, here's what i see

[2016-06-15 15:32] timothysc commented on #26420
@fejta awesome I think that should help reduce the non-reproducible flakes.

[2016-06-15 15:39] derekwaynecarr commented on #27062
This is reverted so reopening.

[2016-06-15 15:47] laugimethods commented on #6888
@dims: Thanks for your useful tips. However, it doesn't provide the tag of those images on DockerHub (if they do exist there), like it is suggested in `docker pull docker.io/kubernetes/pause`...

Btw, I'm able to pull the `spark:1.5.2_v1` image directly using `docker`...
[code]
but not through K8s (even after pulling the image thanks to the previous docker command):
[code]

[2016-06-15 15:54] dims commented on #6888
@laugimethods : very weird. are the docker commands run on the same box as the kubelet? ("Temporary failure in name resolution" seems to imply a DNS problem?)

[2016-06-15 15:54] timothysc commented on #27004
/cc @sdminonne

[2016-06-15 15:58] laugimethods commented on #6888
@dims: Yes, very same CLI... BTW, I'm running the beta version of native Docker on Mac.
[code]

[2016-06-15 15:59] ahuffman opened #27442 "x509 certificate error when following documentation for openssl: http://kubernetes.io/docs/admin/authentication/"
kubnod01.huffnet.org kubelet[7388]: E0615 11:54:32.106405    7388 event.go:207] Unable to write event: 'Post https://192.168.122.20:6443/api/v1/namespaces/default/events: x509: cannot validate certificate for 192.168.122.20 because it doesn't contain any IP SANs' (may retry after sleeping)

I've generated all my certificates with openssl following the documentation found at http://kubernetes.io/do

[2016-06-15 16:12] k8s-merge-robot opened #27443 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/9241/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}

[code]

[2016-06-15 16:15] yifan-gu commented on #27097
cc @kubernetes/rktnetes-maintainers

[2016-06-15 16:22] dchen1107 commented on #27194
Ok, we received several similar reports over different channel. Looks like there is a regression in the node monitoring pipeline. But @vishh and @timstclair are out this week. The rest of node team will take a look.

[2016-06-15 16:27] zmerlynn opened #27444 "Builds are taking too long"
Over a year ago, we had the `kubernetes-build` job down <5m. It's now coming in at 30m. Some of that shot up really recently, too, looking at the build time trend:

![time-trend](https://cloud.githubusercontent.com/assets/4942464/16088152/95720012-32da-11e6-981c-410fa6a2abb1.png)

It looks like sometime around #10384, we shot up from a fat 20m another 50% to 30m. Can we at least eliminate that jum

[2016-06-15 16:36] spxtr commented on #27444
The huge jump was when we started building on arm and ppc. I think that took us from 20 to 30 min. @luxas knows more.

That sounds like an excellent idea. We can do a quick release for triggering CI and have separate jobs making releases. @david-mcmahon

[2016-06-15 16:36] dims commented on #26134
@bprashanth @matchstick Is this still a p0? Does not seem to fit the criteria published (https://groups.google.com/forum/#!topic/kubernetes-dev/0_5vgSCWUyo)

[2016-06-15 16:42] k8s-merge-robot opened #27445 "Kubectl client Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6016/

Failed: Kubectl client Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-15 16:47] timothysc commented on #5640
@jnardiello I believe many folks are using sysdig, zabbix, ganglia... or the host of other monitoring tools to provide alerting and out-of-band monitoring.

[2016-06-15 16:54] matchstick commented on #26134
@dims This is not a P0 anymore. I spent a lot of time yesterday looking at this and will be updating today. Downgrading now.

[2016-06-15 17:04] pwittrock commented on #27404
@lavalamp woops.  Thought I added the correct labels...

[2016-06-15 17:14] krousey commented on #27374
I looked into the reason why the GCE soak tests were timing out last week, and GCE masters are at 100% utilization on an n1-standard-1, even with no tests running. This could make the master slow enough to hit timeouts. I bumped up my GCE master to a n1-standard-2, and it idles at around 67%.

The GKE soak tests weren't timing out, but had individual failures. The GKE soak test master is at approx

[2016-06-15 17:17] a-robinson opened #27446 "Ensure node-level log collection works on GCI"
Logs from node-level components like docker, salt, and the startupscript have historically been collected by tailing their text logs files under /var/log. On GCI, their logs go to journald instead, so we need to ensure that the default fluentd log collectors are able of getting those logs out of journald.

[2016-06-15 17:19] pwittrock commented on #25353
@jnardiello

I do now get that to programmatically access these info it is recommended to use the API and that kubectl was specifically designed to be a human-friendly tool, which in this case I don't understand why json is implemented for the get command.

Json is implemented for the `get` command because the get command returns well defined go objects that are parsed into json objects in the res

[2016-06-15 17:22] pwittrock commented on #27173
Closing this since it is working as intended.  @smarterclayton is that worth filing an issue for?

[2016-06-15 17:22] #27173 closed

[2016-06-15 17:24] spxtr commented on #27444
A related problem is that the size of the output is growing. `make release` will generate a 16G `_output` folder.

[2016-06-15 17:26] pwittrock commented on #27383
@euank If you can supply a replacement image in a GCE project it would be simple for us to pull over

[2016-06-15 17:29] smarterclayton commented on #27173
I think it is worth opening - this is not the first time someone has turned
that off (thinking they were being secure) and then cutting off the things
they needed to actually run.

On Wed, Jun 15, 2016 at 1:23 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-06-15 17:30] laugimethods commented on #6888
FYI, I tried another example ([Java EE Application using WildFly and MySQL](https://github.com/kubernetes/kubernetes/tree/release-1.3/examples/javaee)), which is based on images hosted on Docker Hub, with the same outcome:
[code]

[2016-06-15 17:34] ixdy commented on #27444
@spxtr the jump from 20m to 30m was far more recent - Sunday night. @fejta anything weird happen to Jenkins over the weekend?

[2016-06-15 17:35] theothermike commented on #27304
scheme: HTTPS worked, closing out

[2016-06-15 17:35] #27304 closed

[2016-06-15 17:39] janetkuo commented on #27212
@therc thanks!

[2016-06-15 17:40] dims commented on #6888
@laugimethods : dumb question again - does "curl https://index.docker.io/v1/repositories/library/mysql/images" work? (trying to tease out if there's a bug in the code)

[2016-06-15 17:43] spxtr commented on #27444
Oh interesting. That might be when we switched to 8-core machines?

[2016-06-15 17:43] laugimethods commented on #6888
@dims:
[code]

[2016-06-15 17:50] bprashanth commented on #26134
Last faiulre
[code]

That's such a random flake. To debug one would have to open up docker/kubelet logs on that node and figure out if there was anything off about that one image. Other tests seems to pull images just fine, and I can pull that netexec:1.4 image locally too.

[2016-06-15 17:50] laugimethods commented on #6888
(Take note that I'm definitively new to K8s)
I'm using the CLI provided by [Kube-Solo](https://github.com/TheNewNormal/kube-solo-osx).
[code]
I just also tried to deploy an image through the Web Interface... Same issue...

![deployacontainerizedapp](https://cloud.githubusercontent.com/assets/16766201/16091076/0c6750f8-3300-11e6-83f3-a33fb4cf6a5e.png)
<img width="421" alt="myownsql" src="https://cl

[2016-06-15 17:51] rrati commented on #27388
@yujuhong I increased the default timeout:
-       defaultTimeout = 2 * time.Minute
+       defaultTimeout = 5 * time.Minute

and it made a difference.  It didn't quite complete starting all the pods, but came within 3.  I saw docker had 317 containers running and the last 3 took a while.  The test failed  with 3 containers failing to start, so this seems this timeout or the rate at which the kube

[2016-06-15 17:56] k8s-merge-robot opened #27449 "PrivilegedPod should test privileged pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/4239/

Failed: PrivilegedPod should test privileged pod {Kubernetes e2e suite}

[code]

[2016-06-15 17:56] k8s-merge-robot opened #27450 "[k8s.io] DNS should provide DNS for services [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/9246/

Failed: [k8s.io] DNS should provide DNS for services [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26168

[2016-06-15 17:56] matchstick commented on #26134
This flake has occurred three times in the last month. I took a look at the test. Starting with test run 4912. The steps are pretty intricate as the test is trying to run through a lot of functionality in one run as some items take a while to complete.

The test basically creates two pipelines of the same actions one for TCP and one for UDP. In each case the test verifies the following steps work

[2016-06-15 18:01] bprashanth opened #27451 "Image pulling failing with bearer token errors"
Seeing tests fail because image pulling failed, because of:
[code]
https://github.com/kubernetes/kubernetes/issues/26134#issuecomment-226266013
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/44825/consoleFull

@kubernetes/goog-node did we recently change image pulling?

[2016-06-15 18:01] luxas commented on #27444
We should **not** remove non-amd64, builds from CI, otherwise it's very likely that releases are going to break every now and then, because we haven't tried to compile it. The main point with having the arches in CI right now is that we will spot compilation errors in an early stage (PRs), and may investigate issues if there are any. Like what @smarterclayton and I did with ppc64le (which is going

[2016-06-15 18:02] dchen1107 commented on #27194
A little clarification here:
1) This is not regression from 1.2 release. The issue was reported against 1.2 release.
2) The issue is filed against CoreOS nodes. There is known integration issue between cAdvisor and CoreOS. But we need to verify if it is CoreOS specific.
3) There are many compatability fixes in cAdvisor after 1.2. We need to verify if this particular issue is handled.

@Random-Liu

[2016-06-15 18:06] nikhiljindal commented on #27440
Thanks for filing this @boucher
https://github.com/kubernetes/kubernetes.github.io is the right place to file this issue.
cc @kubernetes/docs @janetkuo

[2016-06-15 18:06] rrati commented on #27053
51000 Pods
- 13 in kube-system
- 5 from each rc
- 1 additional pod in almost all namespaces
10004 Replication Controllers
- 4 system
- 10 per namespace
   - Each running 5 pods
20007 Services
- 6 system services
- 1 default service
- 20 per namespace
1002 Namespaces
- default
- kube-system
- 1000 other
300 Nodes

@hongchaodeng Is ^^ What you are looking for?

[2016-06-15 18:08] boucher commented on #27440
Looks like a duplicate of https://github.com/kubernetes/kubernetes.github.io/issues/589.

[2016-06-15 18:08] #27440 closed

[2016-06-15 18:10] yujuhong commented on #27451
Not that I know of.

[2016-06-15 18:11] krousey opened #27452 "[k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster."
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/5756

[code]

It seems that when it takes a while, it tries to collect debug info. And that collection is flawed because kubectl needs a container for log collection when the pod has more than one container.

#27374

[2016-06-15 18:15] yifan-gu commented on #27451
Seeing this error as well in the e2e tests result https://github.com/kubernetes/kubernetes/pull/27220

[2016-06-15 18:17] goltermann commented on #27347
Is this needed for 1.3?  It sounds like it may be.  If so, please move to P1.  Otherwise, remove the 1.3 milestone.

[2016-06-15 18:17] yujuhong commented on #27388
@rrati, BTW, what version of docker do you use?

Yes, that's why I suggested rate limiting the docker operations. The pod startup throughput is inherently limited by how fast docker can process them (which include other factors as @euank mentioned in https://github.com/kubernetes/kubernetes/issues/27388#issuecomment-226054429). We don't have an SLO for pod startup throughput on kubelet AFAIK. We m

[2016-06-15 18:18] mmontagna opened #27454 "Unable to use commas in --from-literal when creating a configMap"
Creating a config map with a --from-literal argument fails when the literal value contains commas.

Eg.
[code]

The error I get is:
[code]

[2016-06-15 18:20] yujuhong commented on #27385
@rrati, what docker version are you using?

In my test (se https://github.com/kubernetes/kubernetes/issues/27388#issuecomment-226274171), 100 pods reported running on a single node in about a minute.

[2016-06-15 18:21] dims commented on #6888
@laugimethods next logical thing to do is run kubelet with more verbose logs i think.

[2016-06-15 18:23] k8s-merge-robot opened #27455 "BeforeSuite {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/4625/

Failed: BeforeSuite {E2eNode Suite}

[code]

[2016-06-15 18:23] krousey opened #27456 "golang.org/x/exp/inotify leaks memory"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/7477

I'm filing these all together since they seem to be related.

[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node

[code]

[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per nod

[2016-06-15 18:25] Random-Liu commented on #27194
I can reproduce this in my GCE cluster.

The pod spec:
[code]
The cpu usage shown on the node:
![image](https://cloud.githubusercontent.com/assets/5821883/16092244/d5be66cc-32eb-11e6-85a7-856e2025a9b0.png)

The CPU usage from summary api:
[code]

[2016-06-15 18:30] krousey commented on #25398
This is also failing in the soak tests that we're investigating in #27374

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/7477#k8sio-schedulerpredicates-serial-validates-that-embedding-the-json-nodeaffinity-setting-as-a-string-in-the-annotation-value-work

[2016-06-15 18:32] rrati commented on #27388
@yujuhong My tests were run on RHEL 7.2 vms with docker 1.10 running on OpenStack.

Currently I don't think the docker timeout is exposed as a configuration variable on the kubelet.  Would it make sense to make it available?  Maybe some other tuning knobs?

[2016-06-15 18:33] timothysc commented on #27385
We are running docker 1.10.3.

[2016-06-15 18:36] rrati commented on #27385
@yujuhong These tests are run against docker 1.10

It's not so much about how long it takes all pods to be reported running, but how representative the number of running pods is of actual running pods on the kubelet.  In your run, I see a long run of 0 pods running, and then a big jump in pods running near the end of the test.  That is what I am seeing as well.  The number of pods reported as runn

[2016-06-15 18:36] smarterclayton commented on #27197
@mfojtik / @pweil- if this is reverted here we'll need a carry and the security policy aspects closed downstream.

[2016-06-15 18:36] bprashanth commented on #27451
in https://github.com/kubernetes/kubernetes/pull/27415#issuecomment-226275162 this failed on node e2e-gce-agent-pr-28-0-minion-group-7mx6 but passed on some other nodes like e2e-gce-agent-pr-28-0-minion-group-a8gv.
@k8s-oncall fyi

[2016-06-15 18:37] caesarxuchao commented on #26687
It's a valid concern. Adding suffix (27429) will fix it. Or you can set the DeleteOptions.Preconditions.UID in the deletion request.

[2016-06-15 18:38] ihmccreery commented on #27451
I'm seeing this error also pulling images when trying to build: https://github.com/kubernetes/kubernetes/pull/27453#issuecomment-226276204

[2016-06-15 18:38] ihmccreery commented on #27451
cc @roberthbailey

[2016-06-15 18:38] krousey commented on #27317
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/7482#k8sio-hpa-horizontal-pod-autoscaling-scale-resource-cpu-k8sio-serial-slow-replicationcontroller-should-scale-from-1-pod-to-3-pods-and-from-3-to-5-and-verify-decision-stability

#27374

[2016-06-15 18:39] davidopp commented on #27382
@david-mcmahon you added LGTM label to this, but it's an issue.

[2016-06-15 18:40] bprashanth commented on #26687
These pods should have deletion grace=0, what's the race here? do you mean kubectl exec somehow redirects to the wrong container on the node because even though grace=0 the container lingers for a few seconds after?

[2016-06-15 18:40] david-mcmahon commented on #27382
Indeed.  Removed.

[2016-06-15 18:42] davidopp commented on #8132
Can someone update what work is remaining? This is listed as P1/1.3 which means release blocker.

[2016-06-15 18:43] davidopp commented on #24404
ping - can you list what work remains to be done before you can move this issue to 1.4 milestone?

[2016-06-15 18:43] erictune commented on #17219
@davidopp Is this a release blocker?

[2016-06-15 18:44] bprashanth commented on #27451
Yeah this is foreboding but I don't have the time to dig, maybe we shoudl reach out to registry people to check? @kubernetes/goog-testing

[2016-06-15 18:44] k8s-merge-robot opened #27460 "TestCascadingDeletion {integration}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/13038/

Failed: TestCascadingDeletion {integration}

[code]

[2016-06-15 18:44] dchen1107 commented on #27374
@krousey thanks for the updates. That is what I observed from last week's failures. Also finally our master node which is running GCI image is having docker 1.11.2 this week, which helps with CPU utilization on the master nodes too.

[2016-06-15 18:45] erictune commented on #17219
key question is whether this worked in 1.2 and stopped working, versus it is just super annoying but never worked.

[2016-06-15 18:47] ihmccreery commented on #27451
I can have a look.

[2016-06-15 18:49] krousey commented on #27374
@dchen1107 The GCE masters are running 1.11.2 and are 100% utilized. The GKE masters are running 1.9 and are ~70% utilized. The new docker versions don't seem to be helping that much.

Is a master kubelet running in standalone mode doing a lot less than one that is registered with the API server? If this is expected utilization, perhaps we should bump the GCE masters to n1-standard-2 across all e2

[2016-06-15 18:49] davidopp commented on #23765
Is this a release blocker? If not, let's move it out of 1.3 milestone or downgrade to P2.

[2016-06-15 18:49] davidopp commented on #23664
Last call before we close this issue -- please speak up within the next 24 hours if this is still an issue, otherwise we're going to close it.

[2016-06-15 18:52] paralin commented on #23664
No this is obsolete - closing

[2016-06-15 18:52] #23664 closed

[2016-06-15 18:52] piosz commented on #23765
@davidopp I don't think so. It's not clear for me what the problem is.

[2016-06-15 18:54] roberthbailey commented on #24170
I vote to bump it out of the 1.3 milestone. @alex-mohr do you concur?

[2016-06-15 18:55] davidopp commented on #22638
This is not tied to a Kubernetes release so I'm removing the 1.3 milestone label, leaving at P1.

[2016-06-15 18:56] davidopp commented on #23188
ping @paralin -- is there a chance you could write in this issue what you had to do that is different from the docs? I can take care of moving the information into the docs. (Unless you want to send a PR to fix the docs directly, which would obviously be awesome.)

[2016-06-15 18:58] smarterclayton commented on #8132
The last items are the remainder.

[2016-06-15 18:58] davidopp commented on #23431
ping @justinsb - do you think this is a release blocker? It sounds like we had the same behavior in 1.2 (since this was originally in the 1.2 milestone), so it's not clear to me it should be a release blocker.

[2016-06-15 18:59] davidopp commented on #27363
@justinsb Do you think this is a release blocker? If so, do you think you can do a fix by (say) Monday?

[2016-06-15 18:59] alex-mohr commented on #24170
@roberthbailey sgtm.

[2016-06-15 19:11] activars commented on #17219
I suspect the execution in certain scenario could be dangerous:
- what if people want to leave the VPC untouched, but only destroy resources created by the kube-up.
- what if we want keep the network settings

After a few days investigation, I believe a decent kube-down never worked... (Including security group clean up, dhcp clean up, routing table clean up, master deletion when VPC id is specifi

[2016-06-15 19:12] timothysc commented on #27388
/cc @ncdc

[2016-06-15 19:12] timothysc commented on #27385
/cc @ncdc

[2016-06-15 19:14] macb commented on #27306
@lavalamp is this something that can be re-opened as a bug report wrt failure recovery when an api server becomes unavailable? The alternative is opening an additional issue but I didn't want to duplicate it.

[2016-06-15 19:18] pwittrock commented on #27169
@justinsb We are trying to identify the list of issues blocking v1.3.  If we would not hold up the release for this issue, would you move it out of the v1.3 milestone or lower the priority to P2?

[2016-06-15 19:22] ihmccreery opened #27462 "git checkout fails with "reference is not a tree""
I see the following in Jenkins verification of https://github.com/kubernetes/kubernetes/pull/27453:

[code]

Artifacts at https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27453/kubernetes-pull-verify-all/140

[2016-06-15 19:23] davidopp commented on #17219
I discussed with @justinsb just now.

As indicated in the discussion thread here, this never worked. However, it's a pretty bad problem.

@justinsb said he would look into it tonight. We discussed three possible approaches for the 1.3 timeframe:
* actually fix it (the long-term solution)
* partially fix it, so we don't over-kill, but possibly leak resources
* total hack: just add something to kube

[2016-06-15 19:26] rootfs opened #27463 "Deleting Pods with disconnected NFS volume makes kubelet unable to start new Pods"
Steps to reproduce:
- create a Pod (call it Pod A) that uses an NFS volume
- watch Pod A run
- stop the NFS server that provides the NFS volume to Pod A
- delete Pod A.
- Now `kubectl get pod` shows the Pod A is terminating for ever.
- create another (different) Pod (call it Pod B), and the Pod B stays in Pending state for ever.

- restart the NFS server that provides the NFS volume for Pod A
- wa

[2016-06-15 19:32] lavalamp commented on #27256
Kicking out stuff from 1.3, it's too late.

[2016-06-15 19:33] dchen1107 commented on #27169
Also assigned it to @ronnielai.

@justinsb and @osterman Can we have the output of docker info, so that @ronnielai can reproduce the issue here.

[2016-06-15 19:33] erictune commented on #27228
Is rkt support a 1.3 blocker?

[2016-06-15 19:34] lavalamp commented on #27169
Kicking this out of the milestone. Add it back in if it is a regression.

[2016-06-15 19:35] davidopp commented on #27347
As @justinsb described above, third-party network providers that have not been updated to be "NetworkUnavailable"-aware are going to break.

The simplest fix is to disable the new behavior for such providers. Even if there's a way to make it work for flannel, other providers are going to be broken also.

[2016-06-15 19:35] activars commented on #17219
Can we make sure that it only destroys resources being labelled/tagged as KubernetesCluster with specified prefix?

There's an edge case: before the creation if a tagged resources already exist before creation, it should not allow creating another cluster with the same tag.

AWS Role name seems to be hard coded value. So it probably should be left untouched or refactored to be named with the clust

[2016-06-15 19:36] smarterclayton commented on #8132
https://github.com/kubernetes/kubernetes.github.io/pull/668 covers doc.
https://github.com/kubernetes/kubernetes/pull/27258 covers optional fields, which has been deferred out of 1.3.  This can be closed.

[2016-06-15 19:36] lavalamp commented on #27095
@yujuhong, is this a regression? Please kick it out of the milestone if not.

[2016-06-15 19:37] erictune commented on #27044
Improved debugging is not a release blocked.

[2016-06-15 19:39] pwittrock commented on #23855
@bprashanth Is this something we would block the 1.3 release for?  If not, would you change the milestone or reduce the priority?

[2016-06-15 19:41] bprashanth commented on #23855
no but don't we usually do a week of docs etc before the release?

[2016-06-15 19:41] yujuhong commented on #27095
This is a regression, even though it was there in v1.2.

[2016-06-15 19:44] matchstick commented on #26256
Not blocking this on 1.3.

[2016-06-15 19:44] bprashanth commented on #22823
So to summarize we think the dns flakes should be fixed with kube-dns v14 that we're going to ship 1.3 with, and all that remains is to check in the benchmark and publish results. Dropping priority to p2.

[2016-06-15 19:44] davidopp commented on #15077
I'm going to remove the 1.3 milestone label and move to 1.4 -- this doesn't seem like a release blocker since the problem has been around from the beginning.

[2016-06-15 19:45] saad-ali commented on #26994
Assigning to Jing to implement this

[2016-06-15 19:45] erictune commented on #26662
@ihmccreery does this need a new owner?

[2016-06-15 19:46] yujuhong commented on #27463
Sounds like kubelet was stuck at tearing down the volume. /cc @saad-ali

[2016-06-15 19:46] saad-ali commented on #26970
The fix for this is being tracked with https://github.com/kubernetes/kubernetes/issues/26994

[2016-06-15 19:47] ronnielai commented on #27169
@osterman could you also provide
- cAdvisor storage report
<node host>:4194/api/v2.1/storage
- summary
http://localhost:10255/stats/summary

[2016-06-15 19:48] osterman commented on #27169
On it. Will have this for you by eod. @dchen1107 @ronnielai

[2016-06-15 19:48] bprashanth commented on #25543
So it's still happening, can we teach NDP to detect and surface this as node unschedulable?

[2016-06-15 19:49] davidopp commented on #23395
@justinsb Do you think this should be a 1.3 release blocker?

[2016-06-15 19:49] Random-Liu commented on #27360
The new flake report is still a smoke gun. The image backoff timeout is expected to be reset after changing the image. However, after the image change, the image pulling failed because of #27451, which caused the image pulling falling into back off again.

[2016-06-15 19:50] matchstick commented on #24404
Please list what work needs to be done for next candidate.

[2016-06-15 19:51] paralin commented on #23188
I haven't done this in a while and probably won't again for quite a bit. But the summary is that I tweaked kube up to assume the master already exists, and to fail if not. I then changed the pod CIDR and the subnet CIDR and the availability zone values so the new cluster nodes would spawn in a different az.

[2016-06-15 19:55] dchen1107 commented on #27194
I turned up a cluster and checked cAdvisor reports, there is no issue on cAdvisor side. This is a good news. If there is an issue, should be at Kubelet side when generating the summary report.

[2016-06-15 19:56] kfox1111 opened #27464 "sidecar exec"
Say I keep my containers as light weight as possible, perhaps using alpine or some other light weight distro.

When something goes wrong in a pod, it can be difficult to exec in and debug sometimes because there are no debugging tools in the container.

It would be awesome if you could temporarily attach a new sidecar container to the specified pod for debugging purposes.

something like:
kubectl

[2016-06-15 19:56] k8s-merge-robot opened #27465 "[k8s.io] Pods should not start app containers and fail the pod if init containers fail on a RestartNever pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/9251/

Failed: [k8s.io] Pods should not start app containers and fail the pod if init containers fail on a RestartNever pod {Kubernetes e2e suite}

[code]

[2016-06-15 19:58] matchstick commented on #23188
Can we update a doc for v1.3 and then submit a PR for next-candidate?

[2016-06-15 20:01] davidopp commented on #27347
@erictune This isn't AWS-related. I see you just assigned Justin but I'm going to unassign him. It needs an owner.

[2016-06-15 20:01] matchstick commented on #23028
Closing as we scrub bugs for 1.3. If it needs to be re-opened please do so for next-candidate.

[2016-06-15 20:01] #23028 closed

[2016-06-15 20:01] erictune commented on #23166
@lavalamp is going to find a person to edit the relnote on the already merged PR, and the right relnotes are going to be generated.  Then this can be closed.

[2016-06-15 20:02] rmmh commented on #27444
How often do non-amd64 builds actually fail? We could put them in a separate queue-blocking job (like the e2e jobs) and catch those failures slightly slower in exchange for faster/smaller builds for the general case.

[2016-06-15 20:02] madhusudancs opened #27467 "Route53 API authorization in EC2 instances"
Either verify that the EC2 VMs that are part of the cluster federation can access Route53 APIs or define the necessary IAM policies to allow these VMs to access Route53 APIs.

Equivalent authorization scopes were added to GCE and GKE in #27357 and #27466

cc @nikhiljindal @quinton-hoole @kubernetes/sig-cluster-federation

[2016-06-15 20:02] madhusudancs commented on #27467
@justinsb assigning it you. I hope you can help us with this. But please feel free to reassign as necessary.

[2016-06-15 20:05] gmarek commented on #27444
I don't think @zmerlynn suggested removing non-amd64 build from CI, just removing them from the main 'kubernetes-build' which generates binaries used by other tests (which are running on amd64 machines). By all means we should have another 'kubernetes-non-amd64-build' build as a blocker for the merge queue.

[2016-06-15 20:05] matchstick commented on #17994
Is this a dup of #27169?

[2016-06-15 20:06] #8132 closed

[2016-06-15 20:06] rootfs commented on #27463
It looks to me `HandlePodCleanups` hangs because it fails to read volume dir from dead NFS mount. As a result, syncLoop never returns.

[2016-06-15 20:08] zmerlynn commented on #27444
== @gmarek. I'm proposing a separate build for all arches that can be off-schedule from the rest of the CI infrastructure.

[2016-06-15 20:09] zmerlynn commented on #27444
(even triggered by the `amd64` build succeeding)

[2016-06-15 20:09] ixdy commented on #27444
For reference, 1.2 builds take about 10m, and there wasn't an appreciable jump in the most recent build yesterday.

[2016-06-15 20:13] ixdy commented on #27444
`kubernetes-build` went from about 16m to 21-22m starting at build 10361, right when it appears that agents were rebuilt. there was an outlier at build 10366 which took 27, and then we consistently started taking 30m+ at build 10385. There might be code changes to explain this, though I'm guessing that Jenkins infra changes are more likely to blame.

[2016-06-15 20:14] wojtek-t commented on #26687
@bprashanth - I'm not 100%, but it looks something like that

[2016-06-15 20:15] ronnielai commented on #27169
@osterman please also provide kubelet logs

[2016-06-15 20:16] k8s-merge-robot opened #27470 "[k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1499/

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}

[code]

[2016-06-15 20:17] simonswine commented on #27347
@davidopp I agree that this a more generic thing, I am not too sure how the other cloud-providers respond to `Routes()`

I see two possible simple solutions for the whole issue:

AFAIK in the case where the network provider is not supporting `NetworkUnavailable` the controller manager (`configure-cloud-routes=false`) should be aware of that and it could just mark all the NetworkUnavailable states

[2016-06-15 20:18] euank commented on #23765
The HPA tests under rktnetes at this point are flaky and the "1 pod to 3 pods and from 3 to 5" is especially unreliable.

There's still a need for investigation and the possibility that something's broken.

I observe usage of 0% even while the test is making "ConsumeCPU" calls, but haven't investigated far enough to know why.

I'll investigate further so we can prioritize properly.

[2016-06-15 20:20] yujuhong commented on #27463
Yes, that's what I meant :)

@saad-ali will have more idea whether this is being worked on.

[2016-06-15 20:22] rootfs commented on #27463
i tested letting HandlePodCleanups run in a goroutine and it seems to fix the problem.

[2016-06-15 20:22] luxas commented on #27444
Ah, all good then. Somehow I misinterpreted the two first comments.
Separating amd64 e2e and non-amd64 compilation sounds good to me.

@rmmh I expect non-amd64 builds to fail 0-2 times per minor release, so it doesn't fail often.
This time, v1.2-v1.3, the ppc64le hyperkube build failed (somehow it has grown too big for the ppc64le gcc compiler or something like that)

[2016-06-15 20:25] Random-Liu commented on #27194
1. This both happens to node total cpu usage and container cpu usage, sometimes I even got `1031.570384` cores. My node is just `n1-standard-2` with 2 cores.
2. This already happened from summary api initially added https://github.com/kubernetes/kubernetes/commit/ba5be34574984b288dfaeaa54a555eca4c6ca710

[2016-06-15 20:26] k8s-merge-robot opened #27472 "Pods should *not* be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/4244/

Failed: Pods should *not* be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-15 20:28] euank commented on #27228
This issue is best resolved by updating the required rkt version.

However, users can avoid this issue without any changes in k8s by just using a newer rkt version than the minimum required one.
Because of that, I think it's okay for this issue to not block v1.3 (though I hope we can cherry-pick in that one line version requirement bump).

[2016-06-15 20:30] ihmccreery commented on #26662
It ought to have a new owner, yes.  Assigning to you to find a new owner.

[2016-06-15 20:31] quinton-hoole commented on #26762
I'm making fairly good progress doing manual e2e testing, but seeing some curious log messages and behaviour.  I'll note them down here in case anyone else is seeing similar errors:

Of note below is:

1.  At 18:48 4 DNS records were successfully updated, so that appears to work.
2. At 20:07 we detect a new federated service and try to create it in the underlying cluster.  Good.  But this seems to

[2016-06-15 20:32] yujuhong commented on #27463
Unfortunately, that doesn't actually address the root cause.. If the cleanup goroutine hangs, it'd still stop other resources from being cleaned up properly. It'd manifest in a different way.

In general, it's still good to run cleanup in a separate goroutine, but there are some caveats due to this pattern in `HandlePodCleanups`:
 1. Take a snapshot of all pods assigned to kubelet
 2. Get the curr

[2016-06-15 20:32] quinton-hoole commented on #26762
@nikhiljindal @madhusudancs @mml @mfanjie FYI ^^

[2016-06-15 20:33] mml commented on #27451
@quinton-hoole mentioned this as well.

[2016-06-15 20:33] mml commented on #27451
And I saw this just now.  https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/27390/node-pull-build-e2e-test/10692/build-log.txt

[2016-06-15 20:38] rootfs commented on #27463
thanks for the clarity.

[2016-06-15 20:42] quinton-hoole commented on #26762
Actually the failure to create the service seems unrelated to the failure to create the DNS record, as it recurs independently every time around the sync loop:

[code]

[2016-06-15 20:42] janetkuo commented on #11764
Closing this as a dup of https://github.com/kubernetes/kubernetes.github.io/issues/84

[2016-06-15 20:42] #11764 closed

[2016-06-15 20:44] lavalamp commented on #27306
@macb sorry, I triaged a *lot* of issues and didn't give this one enough attention.

[2016-06-15 20:46] spxtr opened #27475 "e2e gce, node and cadvisor ci jobs need to find a new home."
Right now, on both PR and post-submit Jenkins, they are creating VMs in the same project as Jenkins. They need to move elsewhere. I'll set up another project for the PR e2e jobs. @pwittrock can you take care of the others?

[2016-06-15 20:47] fejta commented on #27444
What does improving this going to gain us given the time required for all the other blocking jobs?

I posit that time would be better spent making serial go faster, for example

[2016-06-15 20:53] gmarek commented on #26687
@bprashanth - do you know if Kubelet does ordinary deletion in the case of grace=0 (i.e. do we always have two DELETE calls)

[2016-06-15 20:53] yujuhong commented on #27463
@rootfs np. I just found the comment I posted long ago with similar content
https://github.com/kubernetes/kubernetes/issues/13418#issuecomment-183146070

I think we still want a separate cleanup routine, but just need someone to put more thoughts into handling issues like this.

[2016-06-15 20:53] lwander opened #27476 "Sample cassandra image doesn't work with GCE persistent disk"
Replacing `emptyDir` with a Persistent Volume Claim pointing to a GCE persistent disk for both version 8 and 9 of the sample Cassandra image causes Cassandra to fail during startup due to permission errors around the directory `/cassandra_data`. On :v9 the log output looks like [this](https://gist.github.com/lwander/10a111d7c42fd56cffa478e69ec6166a), and :v8 it looks like [this](https://gist.githu

[2016-06-15 20:54] gmarek commented on #27444
I believe it can be done in less time that we already spent on this issue. Someone correct me if I'm wrong.

[2016-06-15 20:54] pweil- commented on #27197
@mfojtik let's create a bug/issue/card to make sure this isn't missed as a post-rebase item.  At a minimum we'll need to do a policy check to ensure the groups are allowed (build already does something similar for UID access).

[2016-06-15 20:56] k8s-merge-robot opened #27477 "[k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both. [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/6632/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both. [Slow] {Kubernetes e2e suite}

[code]

[2016-06-15 20:59] lavalamp opened #27478 "kubemark-5 weird time out"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/6616

[code]

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/6610

[code]

[2016-06-15 21:00] lavalamp commented on #27478
Dup of #27329-- forgot I fixed this filing...

[2016-06-15 21:00] #27478 closed

[2016-06-15 21:00] Random-Liu commented on #27194
This is definitely a cadvisor issue:
[code]
The script I use:
[code]

[2016-06-15 21:00] lavalamp commented on #27329
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/6616

[code]

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/6610

[code]

[2016-06-15 21:01] lavalamp commented on #27329
@fejta can you please look or reassign?

[2016-06-15 21:03] goltermann commented on #26798
ETA @spxtr?  All remaining v1.3 bugs are getting a lot of attention now.

[2016-06-15 21:03] dcbw commented on #27398
It's up to the network plugin to ensure isolation.  @MikeSpreitzer was asking for this one.

kubelet doesn't care what the pod interfaces are.  It just uses the reported IP.  The network plugin is responsible for ensuring that the kernel's routing table is set up to properly route requests for any pod's health check IP from the node to the pod.

[2016-06-15 21:04] yujuhong commented on #27385
@rrati my experience is that it takes a while for kubelet to report "running status" when starting a large number of pods concurrently. After the initial delay, the qps limit of the apiserver client comes into play and becomes the bottleneck.

As for the initial delay, I haven't had time to dig deeper, but off the top of my head, rate limiting docker operations + parallelize certain kubelet tasks

[2016-06-15 21:05] goltermann commented on #26127
@saad-ali #26801 is in (woo hoo).  When can we close this one?  Is it safe to close now, knowing it'll get auto-re-opened if hit again?

[2016-06-15 21:06] k8s-merge-robot opened #27479 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1538/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-06-15 21:08] yujuhong commented on #27388
Yes, I think exposing request timeout for container runtime is reasonable. I don't recall any other existing knob that's well-defined and would help with this situation directly.
/cc @Random-Liu, who worked on adding the docker timeout.

[2016-06-15 21:09] saad-ali commented on #26127
Tests look green so far! Will monitor the tests overnight and send out a PR tmr to move tests out of flaky if they are still green and will close this then.

[2016-06-15 21:10] goltermann commented on #27413
#27422 got merged, can this be closed?

[2016-06-15 21:11] dchen1107 commented on #27228
Yes, also this one can be document as known issue for rkt as alternative runtime at: https://github.com/kubernetes/kubernetes/issues/26201

[2016-06-15 21:17] davidopp commented on #27413
Yes, thanks for noticing.

[2016-06-15 21:17] #27413 closed

[2016-06-15 21:18] bgrant0607 commented on #19680
https://github.com/kubernetes/kubernetes.github.io/issues/650

[2016-06-15 21:20] bgrant0607 commented on #19680
Another issue: example value for each field

[2016-06-15 21:21] fejta commented on #27296
Assigned to @wonderfly per test-owner in https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gce-gci.yaml

[2016-06-15 21:21] chrislovecnm commented on #27476
My initial guess is that C* docker user is Cassandra. There was a version of v9 that had that bug. Can you start the image locally and determine the user?

Also I have encountered an issue with 3.x at scale, which is open with Cassandra. Do you need 3 or would 2.2 work for yah?

@bgrant0607 is there anyone that can investigate this? I know everyone is super busy for the 1.3 release, and I am worki

[2016-06-15 21:22] euank commented on #27383
For lack of anyone else doing this, I'm doing it now. I should have an image soon.

[2016-06-15 21:23] fejta commented on #27323
Assigning to @lavalamp per https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-test-go.yaml

[2016-06-15 21:23] fejta commented on #27322
Assigning to @gmarek per https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-kubemark.yaml

[2016-06-15 21:24] fejta commented on #27320
Assigning to @lavalamp per https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gce.yaml#L55

[2016-06-15 21:25] fejta commented on #27325
Assigning to @lavalamp per https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gce.yaml#L55

[2016-06-15 21:25] davidopp commented on #22531
This definitely doesn't look like a release blocker. I'm going to set it to P2.

[2016-06-15 21:26] fejta commented on #27462
@mikedanese can you triage? Is this related to the new job somehow?

[2016-06-15 21:28] fejta commented on #27455
Assigning to @pwittrock per https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/node-e2e.yaml#L166

[2016-06-15 21:28] davidopp commented on #23395
Since this is not AWS-specific, I don't think there's any reason Justin in particular needs to work on it. So ignore my previous comment--we can have anybody fix this.

I'm leaving it as a release blocker.

[2016-06-15 21:29] erictune commented on #17219
@activars

It there any way you could send a PR?

[2016-06-15 21:31] macb commented on #27306
np! I'm impressed with the sheer number of issues you all are able to get through. Much respect for that!

[2016-06-15 21:32] fejta commented on #26647
https://github.com/kubernetes/test-infra/pull/167 will help mitigate the impact of the left over resources here (but will not solve upgrade problems)

[2016-06-15 21:34] fejta commented on #26290
New hit on https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27461/kubernetes-pull-build-test-e2e-gce/44859/

[2016-06-15 21:35] Random-Liu commented on #27388
@rrati @yujuhong No configuration for now. We planed to add one before, but because it didn't cause issue at that time, and 2 minutes seems to be long enough, so we haven't done that yet.

I have concern about batch container creation from beginning, because the benchmark shows that could be quite slow. So I added operation timeout metrics in `regular resource tracking` in `kubelet_perf.go`, and f

[2016-06-15 21:38] erictune commented on #27347
@wojtek-t I think you added `NetworkUnavailable`.  Is that right?  It seems like the current behavior is going to break networks that worked with 1.2.  So, this is arguably a release blocking regression.  I think it needs to somehow know that the network provider is not one of the once that knows how to say when it is ready, like by adding something like `CanReportReadiness()` to the network provi

[2016-06-15 21:39] erictune commented on #27062
@vishh @derekwaynecarr this is listed as a release blocker.  Is one of you actively working on a fix for this?

[2016-06-15 21:42] wonderfly commented on #27296
Note the title says this is a failure in `kubelet-gce-e2e-ci`, while I am only the owner of `kubernetes-e2e-gce-gci-*` jobs.

[2016-06-15 21:42] dchen1107 commented on #27194
I think I know the root cause based on the data collected by @Random-Liu above, but need to verify.

UsageNanoCores was introduced to record the total CPU usage (sum of all cores) averaged over the sample window, but I couldn't find the code summarizing the usages on cores together. In @Random-Liu's test, I think the node has 2 cores, and the busyloop container is running on two cores. I believe c

[2016-06-15 21:43] wonderfly commented on #27465
I think there might have been some misunderstanding of the ownership...

[2016-06-15 21:43] #24211 closed

[2016-06-15 21:44] fejta commented on #26420
https://github.com/kubernetes/test-infra/pull/143 moved our pr and heavy agents to 1 executor per VM (currently 8 cores, @spxtr considering moving to 16 or 32). Light agents currently configured to 10 executors per 8 core instance

[2016-06-15 21:51] dchen1107 commented on #27194
@Random-Liu Since I don't have the test environment ready for this yet, could you please help me quickly validate my theory.

Please update your busyloop container's cpuset.cpus to 0. You can simply modify /sys/fs/cgroup/cpuset/<container-id>/cpuset.cpus from 0-1 to 0. Then run your stats collection script.

[2016-06-15 21:53] saad-ali opened #27483 "Kubelet Volume Manager Should Wait For Attach Detach Controller To Verify Attach"
Currently the Kubelet Volume Manager determines whether a volume is attached by calling the `WaitForAttach()` method of the `volume.Attacher` interface.

The GCE volume plugin implements the `WaitForAttach()` method by looking at the `/dev/disk/by-id/google-*` file to show up. This is problematic because the existence of the disk file is not sufficient to ensure that the volume is ready to be moun

[2016-06-15 21:53] erictune commented on #23395
This seems like it affects both 1.2 and 1.3, and is a function of whether or not you have a kernel bug.  So, I don't think this is a release blocked, since it is not a regression.  But, if the fix is small, it does seem like something that could make it into a later patch release.  Removing from 1.3 milestone.

[2016-06-15 21:53] saad-ali commented on #27058
Closing this issue in favor of https://github.com/kubernetes/kubernetes/issues/27483

[2016-06-15 21:53] #27058 closed

[2016-06-15 21:54] erictune commented on #23188
If this is documentation, then it does not necessarily need to be assigned to justinsb.

[2016-06-15 21:58] saad-ali commented on #23591
https://github.com/kubernetes/kubernetes/pull/26801 is merged. It removes unmount logic from the syncPod loop. Closing issue.

[2016-06-15 21:58] #23591 closed

[2016-06-15 21:59] davidopp opened #27484 "Investigate possible scheduler spreading issues"
In the last few weeks we've received a couple of reports of the scheduler not spreading pods as expected. We haven't changed this code recently so I strongly suspect it is WAI, but it seems worth investigating anyway.

http://stackoverflow.com/questions/37494314/kubernetes-pods-are-not-spreaded-across-different-nodes
http://stackoverflow.com/questions/37784480/avoiding-kubernetes-scheduler-to-run-

[2016-06-15 22:00] timstclair commented on #27194
@dchen1107 - I sort of doubt that's the issue, since the summary just copies the field from the cAdvisor API: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/stats/summary.go#L289

Without looking too deep (vacation and all), how do the cumulative numbers look (`UsageCoreNanoSeconds`)? If the issue is only with the "instantaneous" stats, I suspect there's a problem in the c

[2016-06-15 22:01] janetkuo commented on #27328
@pwittrock which PR were you referring to?

[2016-06-15 22:02] mikedanese commented on #27462
Ok, it's also happening on unit/integration on that pr

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27453/kubernetes-pull-test-unit-integration/30794

[2016-06-15 22:02] mikedanese commented on #27462
Could be something that only happens with cherrypicks.

[2016-06-15 22:05] dchen1107 commented on #27194
@timstclair you should on vacation :-)

Yes, I just saw the code, we simply use Total from cAdvisor API. Also @Random-Liu just mentioned to me that the initial report reporting node usage, not pod usage above.

[2016-06-15 22:08] yifan-gu opened #27485 "rkt: Expose runtime operation latency"
Today, we expose the docker runtime's operation latency via the `pkg/kubelet/metrics` package to `prometheus`. We would like to do the same for rkt runtime to understand better about the performance, and help us figure out how to improve.

cc @kubernetes/sig-node @kubernetes/rktnetes-maintainers

[2016-06-15 22:09] saad-ali commented on #27477
This test failed because kubelet continuously failed to mount the volume (in readonly mode):
[code]

Requires further investigation to see why this flake happens.

https://github.com/kubernetes/kubernetes/issues/27483 might help with this, but probably won't because all retry attempts (long after volume should be attached) continue to fail.

[2016-06-15 22:13] bprashanth opened #27486 "Ingress tests panic invoking framework.BeforeEach"
Sometime yesterday the test started panicking because the framework is nil. No changes were made to the test, did we change framework setup?

This is the stack
[code]

[2016-06-15 22:16] ixdy commented on #27367
what does "wrong version" mean?

[2016-06-15 22:17] ixdy commented on #27368
what does "tag is correct" mean?

[2016-06-15 22:21] lavalamp commented on #27323
I think the last couple were the verify godep problem.

[2016-06-15 22:21] #27323 closed

[2016-06-15 22:24] yujuhong commented on #26290
The failed test:
[code]

kubelet log:
[code]
kubelet saw the pod at ` 20:59:35.640051` and got the DELETE request at `20:59:35.754113`. The gap was less than 1 second. Not sure why the pod was deleted before it was running (/cc @kubernetes/kubectl).

The more serious problem is that kubelet continue trying the mount the volume (seemingly in a very tight loop) and couldn't retrieve the secret. It n

[2016-06-15 22:28] caesarxuchao commented on #26687
FYI, those pods are deleted with grace=30, because the deletion request is sent with nil deleteoptions, and pod deletion strategy will use a default value in the pod spec (https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/pod/strategy.go#L110)

But anyway, kubelet now sends deletion request with [uid precondition](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/sta

[2016-06-15 22:32] #26798 closed

[2016-06-15 22:32] bprashanth commented on #26687
So the default clobbers user specified values?
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go#L1107

[2016-06-15 22:34] wonderfly commented on #25215
#26813 is out to fix this. It has been in the submit queue for a week and I have no idea when it'll get merged.

[2016-06-15 22:34] bgrant0607 commented on #3595
@rjnagal Is there a more recent kernel limit cgroup RFC?

http://thread.gmane.org/gmane.linux.kernel.cgroups/12687

[2016-06-15 22:41] bprashanth opened #27489 "Packet laundering as a workaround for promiscuous mode"
To avoid the unregister_netdevice race due to hairpin mode (https://github.com/docker/docker/issues/5618, which is due to a kernel bug, maybe https://bugzilla.kernel.org/show_bug.cgi?id=81211) we flipped the container bridge to promiscuous, but this has various side effects (performance hit, duplicate acks, martian packets etc).

To workaround this we discussed a packet laundering ns, eg: https://

[2016-06-15 22:42] crizCraig opened #27490 "IAM roles should be cluster specific"
`config-default.sh` currently sets AWS IAM roles with:

[code]

However, it seems that I would not want my staging minions to have access to the same resources as my production minions.

The `kubernetes-master` IAM role policy looks like this:

[code]

So would it make sense to change resource lists from things like `arn:aws:s3:::kubernetes-*` to `arn:aws:s3:::kubernetes-${CLUSTER_ID}*`?

[2016-06-15 22:42] #27004 closed

[2016-06-15 22:43] bprashanth commented on #27489
@kubernetes/goog-cluster @matchstick

This seems to bug me more than others, probably because I was the one that put in promiscuous mode workaround, but we should definitely try to do something about it in either a minor release or 1.4 latest.

[2016-06-15 22:50] Random-Liu commented on #27194
@timstclair @dchen1107 If we manually calculate with the cumulative number `UsageCoreNanoSeconds`, the result is right!

[2016-06-15 22:54] kargakis commented on #25353
It's reasonable to have this as part of the node status, isn't it?

[2016-06-15 23:01] freehan commented on #27489
This remind me of a potential fix we could try out.

Kubenet keeps add/delete operation sequential. That guarantees each veth setup/teardown happens separately. I suspect this could help us avoid the kernel bug. I can setup a soak cluster with kubenet+hairpin-veth mode. I remember we had a soak cluster for test, right?

[2016-06-15 23:03] euank commented on #27383
The updated image shows a failure in one test.

[code]

I suspect this is due to docker using `--exec-opt native.cgroupdriver=systemd` combined with scopes. My suspicion comes from the below:

[code]

It might be reasonable to create an image with that setting overridden (which does cause that test to pass) and file a separate issue to fix the root cause.

@derekwaynecarr, this seems related to yo

[2016-06-15 23:09] thockin-cc commented on #27489
It bugs me a lot, but the laundering solution is a gross hack.
On Jun 16, 2016 7:44 AM, "Prashanth B" <notifications@github.com> wrote:

[2016-06-15 23:09] saad-ali opened #27492 "Kubelet Volume Manager Reconciler should backoff on retries after mount failure"
Some mount calls (like secret volumes, for example), make calls to the API server (to fetch, for example, the secret object). If the mount operation fails (because, maybe the secret object doesn't exist), the volume manager retries on its next iteration. To prevent hammering the API server, the volume manager should implement backoff on retires after mount failures.

Based on https://github.com/ku

[2016-06-15 23:11] bprashanth commented on #27489
But packet loss, martian source randomness seems worse, no? i see martian packets from duplicate acks in tests

@freehan k8s-jkns-gce-soak-2 should already be doing that I think, but I haven't been following it week to week to know if it ran into anything

[2016-06-15 23:12] saad-ali commented on #26290
That is expected. The kubelet volume manager runs an asynchronous loop that attempts to mount volumes for pods if they are not mounted (retrying on failure). It does not block any kubelet functionality except the particular [pod's start up goroutine](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1903), and even that times out eventually as well. But, since it results

[2016-06-15 23:12] k8s-merge-robot opened #27493 "Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13043/

Failed: Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-06-15 23:12] mml commented on #26762
I'm having success with some DNS names but not others.  For example

[code]

and

[code]

and

[code]

but `federated-service.e2e-tests-service-ev6w0.federation` fails.

Still digging in to that, but I note that having all these be a single test makes it really hard to debug what failed, or even to note that three of the DNS entries passed.

[2016-06-15 23:14] janetkuo commented on #27328
Both happened at `STEP: rolling-update to same image controller` -- one can't update rc, one can't update pod.

[2016-06-15 23:17] caesarxuchao commented on #26687
Ah, didn't see that, then it's deleted with 0 grace period.

[2016-06-15 23:24] mwielgus commented on #24404
* More efficient unneeded node analysis. The current code will work ok for small to medium clusters (50-150 nodes with 1k-3k pods) but will not work for 1k node/30k pods.
* Reduce latency in scale down. Right now we are super conservative when considering nodes for scale down - for 10 min we check whether is is possible to schedule all of their pods on other machines. Once we delete one node the c

[2016-06-15 23:27] caesarxuchao commented on #27460
It's the GC never observe the deletion of the RC. Perhaps it's fixed by https://github.com/kubernetes/kubernetes/pull/27435.

[2016-06-15 23:37] MikeSpreitzer commented on #27398
BTW, s/health check/probe/g --- probing is the real primitive, and it is used for lifecycle methods as well as health checking.

Dan, I think another thing you meant to include is a proposal for how a CNI plugin can return these extra addresses to the kubelet.

Part of the idea here is to make the Kubelet recognize a particular `PodAddressType` as indicating which address the Kubelet should use fo

[2016-06-15 23:41] activars commented on #17219
@erictune Yes, definitely.

I do have most of the logics in the hacking Ansible script - just a matter of translate into the bash - I've been creating/destroying clusters in a pre-configured VPC 10 times a day without having issues, it's probably straight forward to reproduce.

e.g. PR #27278 is a small change relevant to the topic (i.e. a preconfigured VPC would have a DHCP set already, we should

[2016-06-15 23:49] freehan commented on #27489
I could only find recent logs and did not see the kernel bug so far. But this is not convincing enough.

[2016-06-15 23:50] geoffhendrey opened #27497 "kube-dns serializer doesn't exits"
This is my first time installing kubernetes. I am installing it on a mac using docker-machine.

I followed the instructions here to install skydns on docker-machine kubernetes installation: http://kubernetes.io/docs/getting-started-guides/docker-multinode/deployDNS/

Here is the container log of my k8s_kubedns: https://gist.github.com/geoffhendrey/d1cde88087e8a71c3cd3f8850eac7613

As per the conta

[2016-06-15 23:53] wonderfly opened #27498 "unregister_netdevice kernel race on coreos image"
Doesn't seem to haven been caused by my change: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/27083/node-pull-build-e2e-test/10720/build-log.txt

[code]

[code]

[2016-06-15 23:55] wonderfly opened #27500 "Flaky build failure"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27083/kubernetes-pull-build-test-e2e-gce/44892/

[code]

[2016-06-16 00:04] saad-ali commented on #27463
This code all got ripped out as of 12:16 PM PST today. See if you can get a repro with the new code. As long as Pod B is not referencing the NFS server it should not be blocked even if unmount for Pod A is blocked.

[2016-06-16 00:04] k8s-merge-robot opened #27502 "[k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1500/

Failed: [k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart {Kubernetes e2e suite}

[code]

[2016-06-16 00:04] k8s-merge-robot opened #27503 "[k8s.io] LimitRange should create a LimitRange with defaults and ensure pod has those defaults applied. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18757/

Failed: [k8s.io] LimitRange should create a LimitRange with defaults and ensure pod has those defaults applied. {Kubernetes e2e suite}

[code]

[2016-06-16 00:08] bshi commented on #26525
This appears to also be broken in 1.2.4 using "kind: Deployment"

[2016-06-16 00:10] saad-ali opened #27505 "`Jenkins verification` fails with `GitException: Could not checkout`"
`Jenkins verification` PR test failed with:

From PR https://github.com/kubernetes/kubernetes/pull/27188:
[log](https://00e9e64baccf2e670b2266325331ecae11a53e0c9824c2752b-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F27188%2Fkubernetes-pull-verify-all%2F192%2Fbuild-log.txt?qk=AD5uMEuvnaDSMV7sief248AtyK5l6uCirtJcaImkUhk6kIY31E9bYeWG7M6LQ67PFkqdyn

[2016-06-16 00:12] nikhiljindal commented on #26762
Sent https://github.com/kubernetes/kubernetes/pull/27504 to dump federation apiserver and controller manager logs on failure which should help in debugging federation failures on jenkins.

I am right now looking at federation-apiserver test. Its failing on jenkins. Works fine locally.

[2016-06-16 00:12] dchen1107 commented on #27194
@Random-Liu found the root cause here https://github.com/google/cadvisor/blob/master/info/v2/conversion.go#L209:

[code]

When the valueDelta is too big, times 1e9 makes it overflow.

[2016-06-16 00:14] k8s-merge-robot opened #27506 "kubernetes-e2e-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5432/

Run so broken it didn't make JUnit output!

[2016-06-16 00:14] k8s-merge-robot opened #27507 "[k8s.io] Kubectl client [k8s.io] Kubectl run pod should create a pod from an image when restart is Never [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18758/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run pod should create a pod from an image when restart is Never [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-16 00:19] dchen1107 commented on #27194
Can we use this https://golang.org/pkg/math/big/ in above conversion code?

[2016-06-16 00:21] osterman commented on #27169
Here's the requested information.

Output from `docker info` on affected node.

[code]

Command used to start `kubelet`:
[code]

Command used to start `docker`:
[code]

Starting with 80% utilization:

[code]

Then I start downloading images (each one about ~305MB).....
[code]

So now `/vol/docker/overlay` is 27G.
[code]

And `df` reports 95% full:
[code]

And `docker images` reports:

[code]

Outp

[2016-06-16 00:27] freehan commented on #27489
Okay... Thanks to a bug. Looks like we are always running in haripin-veth mode.

[code]

https://github.com/kubernetes/kubernetes/blob/release-1.3/pkg/kubelet/kubelet.go#L552

[2016-06-16 00:28] Random-Liu commented on #27194
Some simple ways to solve this:
* Change the value to float64, but we may lose some precision.
* Use https://golang.org/pkg/math/big/, this may make the calculation a little slower.
Which one is acceptable? @piosz

[2016-06-16 00:31] feiskyer commented on #27398
@dcbw  What about this way? So we could make the health check logic inside kubernetes, not depends on network plugin any more.

[2016-06-16 00:34] therc commented on #27212
#27510 is out, but it's kinda ugly...

[2016-06-16 00:35] bprashanth commented on #27489
when did we start setting `--configure-cbr0=false` ?

[2016-06-16 00:36] janetkuo commented on #26834
The flake is due to deployment reaper timeout at clear up step.

[2016-06-16 00:37] freehan commented on #27489
https://github.com/kubernetes/kubernetes/blob/release-1.3/pkg/kubelet/kubelet.go#L308

[2016-06-16 00:38] bprashanth commented on #27489
oh, no kubenet sets it https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/kubenet/kubenet_linux.go#L351

[2016-06-16 00:38] janetkuo commented on #27232
Not sure why we hit 403 error :confused:

[2016-06-16 00:47] ronnielai commented on #27169
The image garbage collection loop was in fact invoked:
Jun 15 20:48:40 ip-10-21-101-121.ec2.internal bash[5277]: I0615 20:48:40.694796    5277 image_manager.go:224] [ImageManager]: Disk usage on "/dev/xvdf" (/vol/docker) is at 91% which is over the high threshold (90%). Trying to free 11926935143 bytes

However, the images were not deleted due to being tied to stopped containers.
Jun 15 20:55:56 i

[2016-06-16 00:54] osterman commented on #27169
You are correct - it was at some point it was invoked (as I call out), but not sure why it's not always invoked. The problem with my screen captures is it doesn't convey timestamps, so you don't have any way to interweave the events chronologically.

The problem is that that was several hours ago. When I repeat the process of pulling down the images, they are still not GC'd for several hours. Not

[2016-06-16 01:05] yujuhong commented on #27502
I looked at the logs and the cause was similar to https://github.com/kubernetes/kubernetes/issues/26290#issuecomment-226338140
/cc @saad-ali

Note that the test seems to be consistently failing (2 consecutively runs).

[2016-06-16 01:10] ronnielai commented on #27169
The deleted images are chosen based on a LRU fashion. So my guess is that the images chosen to be deleted in this case are always the older ones with ties to stopped containers so the garbage collection keeps failing.

[2016-06-16 01:16] david-mcmahon commented on #27368
Yes, I understand the sense of urgency here, but I'm having trouble grok'ing this myself.
I'm not exactly sure what it is we want to check here.

[2016-06-16 01:19] timstclair commented on #27194
Float64 should be more than enough precision for this.

On Jun 15, 2016 20:29, "Lantao Liu" <notifications@github.com> wrote:

[2016-06-16 01:20] osterman commented on #27169
Aha - that would makes sense. . . so it's basically using an optimistic gc algorithm, instead of iterating over all images in the graph and attempting to expunge them until  `image-gc-low-threshold` is satisfied.

[2016-06-16 01:32] mfanjie commented on #26762
@quinton-hoole FYI, this log indicates service controller are trying to create new service on k8s cluster federation-e2e-gce-us-central1-f, and repeated logs might be led by creation failure.
[code]

[2016-06-16 01:38] thockin commented on #27430
Agree.  We went with PetSet as a working name in part because we knew it could never be the "real" name, but we didn't have a good name for the concept yet.  Names hold power, so we want to be careful to find something thta captures the problem well.  Having a first impl of the solution will help refine the problem statement, too.

[2016-06-16 01:55] wanghaoran1988 commented on #27463
After the pods hang there , "umount -l "  will resolve the pending issue ,not sure this will help or not.

[2016-06-16 02:03] njuicsgz commented on #24648
closed since it is fixed already

[2016-06-16 02:03] #24648 closed

[2016-06-16 02:07] harryge00 commented on #27418
@zhouhaibing089 I see. How about live updating basic-auth.csv?

[2016-06-16 02:14] zhouhaibing089 commented on #27418
You could use [inotify](https://github.com/golang/exp/blob/master/inotify/inotify_linux.go) to enhance the code [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authenticator/token/tokenfile/tokenfile.go#L35)

[2016-06-16 02:22] kevinz commented on #26395
I saw you closed this issue, how did you fix it?

[2016-06-16 02:38] jay-lau opened #27516 "Enable ABAC configuration files update dynamically"
Currently, for ABAC mode, I need to configure the basic-auth-file and authorization-policy-file first, then start the API with those two files.

The problem is that if there are some new users added in basic-auth-file, I need to restart apiserver, this is not convenient for the admin, it is better enhance API server can reload those files dynamicaly without restart.

[2016-06-16 02:40] k8s-merge-robot opened #27517 "kubernetes-test-go: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/13045/

Run so broken it didn't make JUnit output!

[2016-06-16 02:43] jay-lau commented on #27516
Currently, I was using "confd" to reload the apiserver if there are any changes in those configuration files, the only problem is that the apiserver needs to be restart if it was reloaded.

But as most customers are now using kubernetes to manage long running services, I think it is OK to restart the apisever; But as Kubernetes also support job, and restarting apiserver may cause some job failed,

[2016-06-16 02:58] fejta commented on #27329
Something is timing out here, but it is not clear what is timing out.

[2016-06-16 03:02] fejta commented on #26135
@goltermann @girishkalele @lavalamp @bprashanth I feel like the S/N ratio on this bug is very low. How about I close it in lieu or a new one?

[2016-06-16 03:16] fejta commented on #27465
Unfortunately you are the designated owner of this test!

Please see https://groups.google.com/d/msg/kubernetes-dev/Cq7rrGIbQ8w/2vES0WZ9AwAJ. By being a) a kubernetes maintainer and b) neglecting to proactively sign up for an average number of tests to own we have defaulted to choosing an average number for you. This test is one of those 9.

If you do not have time to maintain tests please leave h

[2016-06-16 03:20] fejta commented on #27296
Assigning to @pwittrock per https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/node-e2e.yaml#L166

[2016-06-16 03:21] fejta commented on #27505
Thanks for reporting! Assigning to @spxtr per @kubernetes/test-infra-maintainers

[2016-06-16 03:22] fejta commented on #27393
https://github.com/kubernetes/test-infra/pull/167 should fix this

[2016-06-16 03:23] fejta commented on #27284
Please reactivate the next time you see this.

[2016-06-16 03:23] #27284 closed

[2016-06-16 03:24] iT2afL0rd commented on #26395
It was caused by the same deployment and replication controller, when I create the deployment, I already have a replication controller in my cluster. After I deleted the rc, it works normally.

[2016-06-16 03:26] fejta commented on #22967
Please reactive this if you see it after June 15

[2016-06-16 03:26] #22967 closed

[2016-06-16 03:27] fejta commented on #26125
Please reactivate the next time you see this. We now us the same ssh keys on all agents so if this was a test-infra problem it should no longer appear

[2016-06-16 03:27] #26125 closed

[2016-06-16 03:27] fejta commented on #27505
Dupe of https://github.com/kubernetes/kubernetes/issues/27462

[2016-06-16 03:27] #27505 closed

[2016-06-16 03:27] #27393 closed

[2016-06-16 03:28] fejta commented on #26822
Please reactive if you see this after June 15.

[2016-06-16 03:29] fejta commented on #26799
@apelisse please talk to @dchen1107 about what we need to do here.

[2016-06-16 03:30] fejta commented on #26186
Please reactivate if you see this after June 15 when we moved to one executor per vm for cpu intensive loads

[2016-06-16 03:30] #26186 closed

[2016-06-16 03:33] harryge00 commented on #27516
#23502
@huang195 has already submitted a PR on detecting and reloading ABAC policy. But closed then...
I also need such feature.

[2016-06-16 03:33] pmorie commented on #13703
@zhengguoyong can this be closed?

[2016-06-16 03:36] justinsb commented on #17219
Sorry for delay.  But I've reviewed this in detail now, and I no longer see it as a particularly critical problem.

- In normal operation, kube-up owns the VPC, and will delete resources correctly.
- We have an experimental and undocumented option to reuse a VPC, by setting `VPC_ID`.  In that case we will not tag the VPC, and kube-down won't do _anything_.  That's not great, but it's not dangerous

[2016-06-16 03:37] k82 commented on #26930
Just have a try, it seems not work; I'm on sure whether configuration issue.

[2016-06-16 03:50] AdoHe commented on #27212
@therc I will help you review this one.

[2016-06-16 03:52] quinton-hoole commented on #26290
I've seen several of these today - latest ones #27332 , #27504.

Searching through the auto-generated e2e flake issues, I see several others that look like they might have the same underlying cause:

#27507
#27503
#27502
#27390

[2016-06-16 03:53] euank commented on #19204
I think we can just close this @yifan-gu

[2016-06-16 03:57] justinsb commented on #17219
And I opened #27518, which warns in the first scenario, and links to some task-based docs I am proposing adding to the kube-deploy repo (https://github.com/kubernetes/kube-deploy/pull/114)

[2016-06-16 04:16] hongchaodeng opened #27519 "Proposal: informer redesign"
(To continue https://github.com/kubernetes/kubernetes/issues/27004#issuecomment-225643876)

Recently, we have found a race in informer in https://github.com/kubernetes/kubernetes/issues/27004. Although the P0 issue has been fixed as quickly as possible, we agreed that we should redesign it properly after 1.3 release: https://github.com/kubernetes/kubernetes/issues/27004#issuecomment-225969446, htt

[2016-06-16 04:18] Random-Liu commented on #27194
@timstclair Cool, I'll send a PR to fix this.

[2016-06-16 04:31] hongchaodeng commented on #27519
/cc @wojtek-t @timothysc @caesarxuchao

[2016-06-16 04:35] caesarxuchao commented on #27507
@janetkuo hope you don't mind I grab this since it's the namespace deletion flake I was looking into.

[2016-06-16 04:39] caesarxuchao commented on #27507
cc @yujuhong
According to the build-log, pod  e2e-test-nginx-pod remains when the ns deletion fails:
[code]

last entry in kubelet about this pod:
[code]

In the api server log, there is no delete request sent by kubelet to finally delete this pod.

[2016-06-16 04:46] caesarxuchao commented on #26290
@saad-ali so it's the volume mount retry loop prevented kubelet from deleting the pod?

[2016-06-16 05:00] spxtr commented on #27462
Oh! I think I remember this one. I think what happens is this:

1. You open a PR whose head has sha abcde123.
1. Jenkins queues up a build with that sha, but doesn't run it yet.
1. You force-push over that commit, so the head of your PR is now something else.
1. Jenkins tries to checkout the old sha, which no longer exists.

It might not be exactly that, since we actually try to check out the merg

[2016-06-16 05:07] davidopp opened #27521 "e2e test failure: Kubectl apply should apply a new configuration to an existing RC"
[Fail] [k8s.io] Kubectl client [AfterEach] [k8s.io] Kubectl apply should apply a new configuration to an existing RC
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:230

Assigning to test-infra team to triage.

[2016-06-16 05:20] saad-ali commented on #26290
The syncPod method that is used to set up a pod, calls the volume manager to make sure that all the volumes for the pod are attached/mounted--[`volumeManager.WaitForAttachAndMount()`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1903) this call has a super long timeout (20 minutes). The reason for the long timeout for this call is explained in the comment above. The

[2016-06-16 05:20] bprashanth commented on #26135
Most of the time it's because a single fluetnd pod on one node doesn't pull on time. This is very similar to our old image pulling issues, but we now prepull all test images so we don't get random test failures. We don't prepull fluent because it's a static pod itself. The fluentd image is huge (400+mb iirc) so just reducing that size will really help, but the issue of why we're suddenly so slow i

[2016-06-16 05:37] sttts commented on #23669
Happened again: https://github.com/kubernetes/kubernetes/issues/27369#event-693851671

[2016-06-16 05:38] sttts commented on #27369
Duplicate of #23669. Closing as this has nothing to do with intra-pod communication.

[2016-06-16 05:38] #27369 closed

[2016-06-16 05:40] sttts commented on #27445
Closing as duplicate of #23669

[2016-06-16 05:40] #27445 closed

[2016-06-16 05:47] bprashanth commented on #27521
Looks like this timed out on ns deletion, which in turn timed out because there was a pod with a deletion timestamp set but it was sitting around holding the ns after the timestamp:

[code]
And the rc manager deleted the pod
[code]

But in fact the last mention we see in kubelet logs of that lingering pod is around the time of the deltion timestamp, but it didn't hard-delete it from apiserver:
htt

[2016-06-16 05:50] bprashanth commented on #27521
This is probably https://github.com/kubernetes/kubernetes/issues/26290#issuecomment-226390671

[2016-06-16 05:55] jay-lau commented on #27516
Thanks @harryge00 I posted some comments there in https://github.com/kubernetes/kubernetes/pull/23502 , I do not know why they recommended to use OpenShift but not Kubernetes, hope we can get more feedback for this soon. Thanks.

[2016-06-16 05:55] bprashanth commented on #23395
A solid repro would be a great starting point, I think at this point there's too much hand waving for an actionable fix. In the meanwhile, maybe we can surface an inability to ping kubelet's `--api-servers` through NPD? @Random-Liu

[2016-06-16 06:03] gmarek commented on #27413
@goltermann - do you know what description should a PR have to auto close the issue?

[2016-06-16 06:04] bprashanth commented on #24254
Sounds like this should be easy enough to fix that we can try and get in 1.3, if someone more familiar with the AWS cloudprovider setup is willing to send a pr my way (or to @justinsb) that flips ICMP in the firewall rule

[2016-06-16 06:08] davidopp commented on #27413
I think the problem is that you put a stray period after "Fix"

[2016-06-16 06:09] davidopp commented on #27413
https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-06-16 06:22] wojtek-t commented on #27322
Come one - we didn't even started cluster in those cases. It's not a test issue.

[2016-06-16 06:32] matchstick commented on #27197
So we are removing most of the P2s from the v1.3 milestone as they can be pushed to v1.4. Due to this special nature I think that a) everyone in the @kubernetes/sig-storage will be keeping it in our minds and try our best to not let it fall through the cracks (I know saad and I feel that way). After we release v1.3 we should revisit this issue.

I am going to mark it with milestone "next-candidate

[2016-06-16 06:35] wojtek-t commented on #27347
@erictune - yes that was me, sorry for breaking;
However, to be honest I think that what you are suggesting is not going to fix the problem (or I misunderstood your proposal - then please correct me).
Basically the problem in this case is having an overlay network. If it was used based on AWS networking it would work, because AWS supports routes interface and thus routecontroller would create them

[2016-06-16 06:41] kevin-wangzefeng commented on #25398
@krousey the test failing you mentioned is to test nodeAffinity, not podAffinity.
The reason it fail is the node.labels leak during tests which is fixed in #26886.

[2016-06-16 06:42] asalkeld opened #27523 "Misleading "PersistentVolumeClaim 'xy' is not in cache" warning"
$subject is not currently supported. Is there any reason why this hasn't been done?

The docs do correctly show the current state:
http://kubernetes.io/docs/user-guide/persistent-volumes/

I'd like to add support for this, any objections?

[2016-06-16 06:46] davidopp commented on #27347
@wojtek-t what part of what @erictune wrote are you disagreeing with? I assume just the "like by adding something like CanReportReadiness() to the network provider API" part? His comment seemed generally accurate to me.

In any event, I think the bottom line is that any approach that causes Kubelet to set `NetworkUnavailable = false`, or not set `NetworkUnavailable`, for network providers that are

[2016-06-16 06:47] k8s-merge-robot opened #27524 "[k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18772/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC {Kubernetes e2e suite}

[code]

[2016-06-16 06:52] liuyang430068 commented on #26965
if you first deploy dns before deploy guestbook,your problem can be fixed.

[2016-06-16 07:04] wojtek-t commented on #27347
So I talked with @davidopp offline about this issue, and we think that the easiest fix for 1.3 is to not set "NetworkUnavailable" condition to fale on any cloud provider different than GCE/GKE. And fix it properly for other cloud providers in 1.4.

If we do that, this won't be regression, because there wasn't NetworkUnavailable condition in 1.2 at all.

Such PR would be super trivial so I will sen

[2016-06-16 07:20] jszczepkowski commented on #27493
Should be fixed by #27045.

[2016-06-16 07:20] #27493 closed

[2016-06-16 07:37] davidopp commented on #27347
SGTM

BTW any misinterpretation @erictune had is my fault, as I had summarized the issue to him.

[2016-06-16 07:40] willmore commented on #22535
Hi @justinsb  - any updates on this?

We're planing to make the leap with our 1.1 clusters, and were wondering if we should wait for a "supported" process.

[2016-06-16 07:46] jszczepkowski commented on #27479
Duplicate of #27317.

[2016-06-16 07:46] #27479 closed

[2016-06-16 07:55] jszczepkowski commented on #27196
Pod rc-light-ctrl-g1ukl was pending due to problems with pulling image:
[code]

[2016-06-16 08:28] wojtek-t opened #27527 "Debug failures from gke-large-cluster #49 run"
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/49/consoleText

@gmarek @zmerlynn

There are 4 tests that failed in this run:
- [x] Guestbook application [It] should create and stop a working application [Conformance]
- [x] Generated release_1_3 clientset [It] should create pods, delete pods, watch pods
- [x] Kubectl client [k8s.io] Update Demo [It] s

[2016-06-16 08:31] lanceyang1992 opened #27528 "can't start kubelet when set openstack as cloud-provider"
Hi,I'm new to k8s

I'm trying this example:
https://github.com/kubernetes/kubernetes/tree/release-1.2/examples/mysql-cinder-pd

my env is single node devstack and k8s，but when I follow the readme and restart my kubelet, it failed...

the command is:
kubelet --address=0.0.0.0 --port=10250 --hostname_override=lance-2 --enable_server=true --v=0 --api-servers=http://x.x.x.x:8080 --cloud-provider="open

[2016-06-16 08:34] wojtek-t commented on #27527
I looked into "Kubectl client [k8s.io] Update Demo [It] should scale a replication controller [Conformance]"
The problem there is that one pod didn't started correctly, because we weren't able to pull the image.
[code]

So this seems like a purely kubelet issue.

[2016-06-16 08:35] sp-joseluis-ledesma commented on #26787
Hello,

    found same behaviour here. The problem is we cannot remove tags for any of the security groups as it would break other company processes. Any workaround we may use to have loadbalancing working in AWS with multiple tagged securitygroups?

[2016-06-16 08:38] jszczepkowski commented on #27443
Pod rc-light-4yszf is pulling image, it takes more than 2 minutes, so timeout occurs.

kubelet logs:
[code]

This may be similar to #27196.

[2016-06-16 08:39] k8s-merge-robot opened #27529 "SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-subnet/3111/

Failed: SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

[2016-06-16 08:41] wojtek-t commented on #27527
Actually, the "Networking [It] should function for intra-pod communication [Conformance]" test failed because exactly the same reason - we weren't able to pull the image for one of the pods:
[code]

[2016-06-16 08:42] jsafrane commented on #26082
Fixed by #27341

[2016-06-16 08:42] #26082 closed

[2016-06-16 08:44] feiskyer commented on #27398
CC @kubernetes/sig-node

[2016-06-16 08:44] wojtek-t commented on #27527
And exactly the same for: "Generated release_1_3 clientset [It] should create pods, delete pods, watch pods":
[code]

[2016-06-16 08:47] jszczepkowski commented on #25277
I'm still observing problems with pulling images in HPA e2e tests: #27196 and #27443.

[2016-06-16 08:48] jszczepkowski commented on #27443
Problems with pulling images are part of #2527.

[2016-06-16 08:48] #27443 closed

[2016-06-16 08:49] jszczepkowski commented on #27196
Problems with pulling images are part of #2527.

[2016-06-16 08:49] #27196 closed

[2016-06-16 08:51] wojtek-t commented on #27527
And the same was in case of the remaining one test - redis master didn't started there:
[code]

[2016-06-16 08:51] gmarek commented on #27295
The problem here was that the Kubelet was down at that time:
[code]

Sadly I have no idea why the Kubelet was down, as logs are unreadable...
cc @yujuhong @kubernetes/goog-node

[2016-06-16 08:54] wojtek-t commented on #27451
And I saw this error 4 times in gke-large suite yesterday:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/49/consoleText

[4 different tests failed exactly because of that reason - see #27527 ]

[2016-06-16 08:54] wojtek-t commented on #27527
Duplicate of #27451

[2016-06-16 08:54] #27527 closed

[2016-06-16 08:55] gmarek commented on #27322
The problem was here:
[code]

No JUnit output is expected when we fail to start a cluster.

I noticed second issue here:
[code]

Which is the problem with GCI if I'm not mistaken. @ixdy

[2016-06-16 09:01] gmarek commented on #27329
Last error is #27451 and extremely long Docker build command - @ixdy

[2016-06-16 09:03] jszczepkowski commented on #25277
It turned out the resource consumer (used by HPA e2e tests) was not in the correct version in image puller, I'm fix it with #27531.

[2016-06-16 09:06] jszczepkowski commented on #27196
Should be fixed by #27531.

[2016-06-16 09:10] wojtek-t commented on #27529
@gmarek

[2016-06-16 09:11] jszczepkowski commented on #27443
Should be fixed by #27531.

[2016-06-16 09:13] wojtek-t commented on #27517
[code]

We weren't able to download some deps. I'm not sure how much we can do about it.

[2016-06-16 09:19] k8s-merge-robot opened #27532 "[k8s.io] Kubectl client [k8s.io] Kubectl run deployment should create a deployment from an image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/9287/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run deployment should create a deployment from an image [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-16 09:29] gmarek commented on #27529
It's something we haven't seen for some time. Multiple errors like this one:
[code]

cc @yujuhong

[2016-06-16 09:44] jonboulle commented on #24430
@tmrts want to assign this to yourself?

[2016-06-16 09:46] wojtek-t commented on #27444
@fejta - this is super important, because it also affects presumbit.
So to clarify - currently e2e tests that are running as part of presubmit takes ~55 minutes. However, out of those we spend:
- 30m of build
- 7m on cluster startup
- 12m on tests
- 7m on cluster teardown

To to be clear - build is consuming more than half of e2e presubmit.
So in fact this is super super important if we want to fi

[2016-06-16 09:46] wojtek-t commented on #27444
So this is dependency of P0 issue, so in my opinion this should also be a P0.

[2016-06-16 09:50] wojtek-t commented on #27370
This was networking issue:
[code]

We simply weren't able to pull an image.

[2016-06-16 11:23] simonswine opened #27534 "cloudprovider/aws: EBS attachment fails: /dev/sdba is not a valid EBS device name (v1.3.0-beta.0)"
I am having trouble on my AWS 1.3.0beta0 cluster to attach EBS with the controller-manager based attacher.

[code]

There problem is here: https://github.com/kubernetes/kubernetes/blob/release-1.3/pkg/cloudprovider/providers/aws/aws.go#L1302

This is failing as the kube-controller-manager is running in a pod via kubelet manifests. I think if you have a cluster with different instance types mixed y

[2016-06-16 11:39] jszczepkowski commented on #27397
The problem arised when pulling image. Due to #27531, pulling image should no longer be a problem.

[2016-06-16 11:39] #27397 closed

[2016-06-16 11:39] simonswine commented on #27534
I have just found [this](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html), I think we could get this information from AWS:

[code]

[2016-06-16 11:42] danwinship commented on #27398
It would? Where?

[2016-06-16 12:16] tmrts commented on #24430
@jonboulle done, feel free to ping me in related issues if I miss one

[2016-06-16 12:17] rootfs commented on #27463
@saad-ali yes, latest code works!

[2016-06-16 12:17] #27463 closed

[2016-06-16 12:46] laugimethods commented on #6888
@dims Unfortunately Kube-Solo did crash while trying to get more verbose logs and I was not able to recover it (even after a reinstallation)... I'll try to use another tool, which hopefully will solve the Docker image fetching issue. Thanks for your help.

[2016-06-16 13:06] wojtek-t commented on #24473
I think it was finally fixed by @thockin in https://github.com/kubernetes/kubernetes/pull/25240

[2016-06-16 13:06] #24473 closed

[2016-06-16 13:06] justinsb commented on #27534
That code is supposed to check, but it is quite possible I got it backwards looking at it.  Also I agree that the logic is going to be problematic anyway with mixed instance types etc if we've moved attachment to KCM.

What AMI are you using?  I may have just been "lucky" so far in the AMIs I've used, in that the heuristics have worked correctly.

Also, if you have time, would be great to know:

1

[2016-06-16 13:08] wojtek-t commented on #24320
This one was fixed by https://github.com/kubernetes/kubernetes/pull/26874

[2016-06-16 13:08] #24320 closed

[2016-06-16 13:08] k8s-merge-robot opened #27537 "kubernetes-e2e-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1542/

Run so broken it didn't make JUnit output!

[2016-06-16 13:18] justinsb commented on #27347
I _think_ though that the problem will still exist for flannel with GCE?  (Not sure if that is a very common scenario - @philips  ?)

I agree that for 1.3 we likely need something like #27525.  I like the approach though of having the node come up broken when it needs extra work, and then having a controller mark each condition as fixed as it is configured.  The core problem is that kubelet doesn'

[2016-06-16 13:26] wojtek-t commented on #27347
@justinsb - in GCE we have support for flannel in our configuration configs, e.g.:
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L137

If you use flannel by this path, this will trigger setting "--experimental-flannel-overlay":
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L262
and this would result in not setting "Netw

[2016-06-16 13:26] pskrzyns commented on #26201
At this moment logging works kvm stage1
As for networking it works but there are some issues connected to networking

[2016-06-16 13:31] rrati commented on #27385
@yujuhong There has always been some delay in pod states being reported by the kubelet, but it seems to have gotten worse.  The 100 pods/node density test used to have a 1s update interval and we could see pods being reported as started almost every second once pods started being reported.  We could use that to graph pod startup times from the test.  The update interval is now 10s but the rate at

[2016-06-16 13:34] rrati commented on #27388
@yujuhong @Random-Liu I think exposing the docker timeout and making it configurable might be a good first step.  #26394 may be the longer term solution.

[2016-06-16 13:38] pskrzyns commented on #26102
I think we should use 1st solution - Rkt manages the network
so this would be looking like that:
![cni](https://cloud.githubusercontent.com/assets/16152568/16118579/0a1619be-33d8-11e6-8754-51195b310149.png)
This is quite generic so other container solutions can use similiar approach

[2016-06-16 13:40] juanvallejo opened #27538 "kubectl completion breaks git completions when sourced on zsh"
`source <(kubectl completion zsh)`
breaks `git` command completions when sourced on a zsh shell.

When pressing `tab` to see completions on zsh, after sourcing output from `kubectl completion zsh`, the following output is produced:

[code]

[2016-06-16 13:43] stefanodoni commented on #27194
Great,

When the fix will be available? Will it be backported into k8s 1.2 release?

Thanks!

[2016-06-16 13:53] lwander commented on #27476
User is `cassandra` (from `$ id -u -n `).

I'm working on removing cassandra as a dependency from this project, so no need to rush to find a solution.

[2016-06-16 13:54] wojtek-t commented on #26119
OK - so this one is actually fixed. I mean that it is still long, but currently it's purely blocked on GCE.

[2016-06-16 13:54] #26119 closed

[2016-06-16 13:54] wojtek-t commented on #26119
As a comment - we have an internal bug for it already.

[2016-06-16 13:57] wojtek-t commented on #25969
We fixed one problem with that at some point. We should check if this one can still be reproduced.

[2016-06-16 14:04] smarterclayton commented on #27040
@sttts since I know you are also looking at code in these places.

[2016-06-16 14:22] fgrzadkowski commented on #27044
I agree. Thanks for removing the 1.3 milestone.

[2016-06-16 14:32] gitfred opened #27540 "Kubectl attach command doesn't work for InitContainters"
Related issue https://github.com/kubernetes/kubernetes/issues/25818

[2016-06-16 14:32] wojtek-t commented on #27198
@davidopp - FYI

[2016-06-16 14:37] aveshagarwal commented on #27502
When the ns is not deleted within time limit, deleteNS() in ./test/e2e/framework/util.go only provides names of remaining pods (if any). Would it be helpful for debugging to print more information about pods like their status (perhaps reason, message)?

[2016-06-16 14:48] chrislovecnm commented on #27476
Removing Cassandra as a dependency?

Do you have access to upload to gcr.io? Noticed that you are a googler, and it looks like the image was not uploaded correctly. The Docker in head does not use Cassandra as a user.

[2016-06-16 14:56] fgrzadkowski commented on #23396
@erictune I see you've self-assigned this 2 days ago. What exactly is missing here? From https://github.com/kubernetes/kubernetes/issues/23396#issuecomment-222041989 I guess it's just tests. Is that the case?

[2016-06-16 15:08] onlyjob opened #27543 "upgrade "github.com/imdario/mergo""
Please upgrade vendored [github.com/imdario/mergo](https://github.com/imdario/mergo/releases): its releases are semantically versioned and problems that made Kubernetes stick to older version of _mergo_ appears to be fixed.
I think there is no need to delay upgrade any longer.

[2016-06-16 15:17] yujuhong commented on #27451
Based on the internal email thread, the GCR team was able to reproduce this failure with `docker pull` and `gcloud docker pull`.
They have also started rolling back their release to see if this would be fixed.

[2016-06-16 15:23] yujuhong commented on #27502
Yes, that'd be helpful.

By the way, @fejta @madhusudancs, I mentioned in https://github.com/kubernetes/kubernetes/issues/27502#issuecomment-226362753 that this (at least the first two failures I checked) was caused by the new behavior introduced by the volume manager PR (details in https://github.com/kubernetes/kubernetes/issues/26290#issuecomment-226338140 and the following comments).

@saad-ali

[2016-06-16 15:27] simonswine commented on #27534
@justinsb I tried to get a such environments with CoreOS amis: (all eu-west1)
- `ami-706cfd03` vtype is PV
- `ami-c36effb0` vtype is HVM

The describe instances returns different rootdevicenames:
[code]

But if I ssh into the two instances, the devices are called the same for both:
[code]

I think we have to somehow signal the devicename from the Kubelet to the KCM to solve this properly.

My unde

[2016-06-16 15:50] aveshagarwal commented on #27502
@yujuhong I have opened a PR https://github.com/kubernetes/kubernetes/pull/27546 that adds pod status reason to remaining pods.

[2016-06-16 15:55] thenayr commented on #17219
@justinsb Thanks for the lengthy update.

I do believe you are correct in your assumption that the `KUBE_AWS_INSTANCE_PREFIX` was the same across both clusters.  I didn't realize at the time the extent to which the instance prefix is referenced throughout the scripts.

I still think the default behavior if a user specifies a custom `VPC_ID` to the kube-down script should be to retain the VPC and n

[2016-06-16 16:04] mml commented on #27524
And another one.  https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27480/kubernetes-pull-build-test-e2e-gce/44915/

[2016-06-16 16:06] adityakali opened #27547 "find a cleaner alternative for salt configs on distros that do not support salt"
Kubernetes maintains most of the node/master configuration as jinja templates at https://github.com/kubernetes/kubernetes/tree/master/cluster/saltbase/salt. These templates are evaluated using saltstack on the nodes. This requires that the distro running on the nodes support python and jinja evaluators.
This is undesirable for several reasons:
1. the syntax is complex and difficult to maintain (ex

[2016-06-16 16:09] dchen1107 commented on #23669
It is indeed a regression issue in the new release of the image registry, gcr.io. The team is rolling back their release. There is nothing more we can do here. Close the issue.

[2016-06-16 16:09] #23669 closed

[2016-06-16 16:35] yujuhong commented on #27529
@gmarek what's the version of docker used in this suite?
If it's v1.9, based on the [conclusion last time](https://github.com/kubernetes/kubernetes/issues/21523#issuecomment-206516554), it's a known issue and we are unlikely to dedicate more time to fix this.
If it's v1.11 (k8s v1.3+), that's the first failure we've seen. It's worth investigating.

[2016-06-16 16:39] yujuhong commented on #27492
/cc @kubernetes/sig-node

Without this, a bad pod spec (i.e., a missing secret) may use up all the QPS quota we have.

[2016-06-16 16:39] lwander commented on #27476
Sorry, I wasn't clear, I meant the project I'm using the Cassandra image in will no longer need Cassandra.

Do you want me to rebuild the docker image at head and then upload that? I don't think I'll have access to that specific `gcr.io` repository.

[2016-06-16 16:41] lavalamp commented on #27502
This test is breaking gce-serial. ETA for a fix?

[2016-06-16 16:42] yujuhong commented on #27507
@caesarxuchao it's likely due to the same cause. The PR to lower the mount timeout to two minutes has already been merged. Let's ignore the old failures and focus on the new ones :)

[2016-06-16 16:44] timothysc commented on #27519
+1 from me.  Folks should be aware that there are other controllers written in the broader ecosystem that will be affected in the 1.4-ish timeframe.

/cc @deads2k @rrati @smarterclayton

[2016-06-16 16:47] gmarek commented on #27529
Honestly - I have no idea. @spxtr @roberthbailey

[2016-06-16 16:51] lavalamp commented on #26290
@saad-ali Does that wait get cancelled if the pod is deleted? We need to get this fixed asap or I'm gonna have to roll back your big change :/

[2016-06-16 16:52] ihmccreery commented on #27451
The GCR team rolled back around 4 p.m. yesterday, and it doesn't look like we've seen any issues since then.

[2016-06-16 16:53] yujuhong commented on #26290
@saad-ali I think the volume manager can stop trying to mount once the `DeletionTimestamp` of the pod is set (since the manager gets the pods from kubelet anyway), but I didn't read the code to know whether this would be hard to implement.

[2016-06-16 16:58] rrati commented on #27519
+1 from me too

[2016-06-16 16:58] yujuhong commented on #27529
The upstream project of the suite is `kubernetes-build-1.2`, so I assume the docker is v1.9.

[2016-06-16 16:59] ihmccreery commented on #24535
This was fixed by #24825 a long time ago.

[2016-06-16 16:59] #24535 closed

[2016-06-16 17:00] #24414 closed

[2016-06-16 17:00] ihmccreery commented on #21699
Closing as obsolete.

[2016-06-16 17:00] #21699 closed

[2016-06-16 17:00] yujuhong commented on #27451
Thanks @ihmccreery. I am closing this issue since we haven't seen any failure since the rollback. Will reopen if there are any new failure.

[2016-06-16 17:00] #27451 closed

[2016-06-16 17:02] yujuhong commented on #27529
/cc @dchen1107 just FYI.

I am closing this issue since this happens rarely even in v1.9, and we've not seen any failure for v1.11.

[2016-06-16 17:02] #27529 closed

[2016-06-16 17:02] gmarek commented on #27529
@fejta @lavalamp - is there a way to prevent merge bot from reopening this issue?

[2016-06-16 17:10] dchen1107 commented on #26799
Had offline discussion with @apelisse. I changed the title to reflect what we had discussed, and removed flake label from it since a lot of them should be infrastructure improvements. I am summarizing what we had discussed so far.

Today kubernetes-soak-weekly-deploy-gce is pre-scheduled to run every Tuesday morning. If the build is failed, no retry. If the build succeeded, we deploy the build to

[2016-06-16 17:11] smarterclayton commented on #27519
Let's queue this up for a discussion in the next @kubernetes/sig-api-machinery meeting.

[2016-06-16 17:11] pwittrock opened #27548 "Want: MultiKey RW Transactions + Indexing in Storage"
Workloads are implemented using multiple api objects in etcd (Deployment => RS => Pod) that often need to be read and written transactionally.

Because we do not have multi key write transactions, our business logic needs to identify and handle partially applied changes (e.g. scaling multiple RS in a deployment).  This pushes complexity into the business logic of the controller that should instead

[2016-06-16 17:14] yujuhong commented on #27521
Yes, the test only checks whether the configuration has been applied to the RC, and once that's done, it moves on to deleting the entire namespace. From kubelet's perspective, it receives a pod ADD request, followed by the UPDATE (with deletion timestamp set) immediately. The pod worker was still stuck at the ADD requst, trying to mount a secret volume with the missing secret. This should've been

[2016-06-16 17:14] #27521 closed

[2016-06-16 17:14] spxtr commented on #26799
Aside: The [testgrid](http://k8s-testgrid.appspot.com/k8s#gce-soak) shows which git commit is being used. I was under the impression that it only uses green builds.

[2016-06-16 17:16] Random-Liu commented on #27194
@stefanodoni Will send it out soon, :)

[2016-06-16 17:17] #27507 closed

[2016-06-16 17:18] freehan commented on #27489
sorry. please ignore my previous comment. The log lines are misleading. We are in `promiscuous-bridge` mode.

[2016-06-16 17:19] krousey commented on #27456
@yujuhong I assigned this to you as you were listed as the owner of these tests. Is there someone better suited to investigate these failures?

[2016-06-16 17:20] krousey commented on #25398
@kevin-wangzefeng Thanks for pointing that out.

[2016-06-16 17:27] dims commented on #27540
@gitfred is there a simple example that you used to recreate the problem?

[2016-06-16 17:27] bprashanth commented on #27489
fantastic, more confusion, maybe we can clarify the logs? i think the logs used to say the right thing, when we shipped 1.2 at least.

[2016-06-16 17:28] ihmccreery commented on #27451
Yes, the root cause on the GCR side sounds like it's understood, so we're good.

[2016-06-16 17:29] ihmccreery commented on #19726
Closing as obsolete.

[2016-06-16 17:29] #19726 closed

[2016-06-16 17:29] yujuhong commented on #27456
I will look at them today. We had other test flakes on non-soak clusters which got my attention first.

It's also worth noting that there are quite a few test failures in the soak suite. Investigating the memory usage issues among so much noise is sometimes not very efficient...

[2016-06-16 17:30] derekwaynecarr commented on #26290
+1 on having this cancel on pod deletion or agree on roll-back.  These
types of flakes are horrible to debug.

On Thu, Jun 16, 2016 at 12:54 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-06-16 17:34] Random-Liu commented on #27194
The fix is here https://github.com/google/cadvisor/pull/1333.
Can anyone has permission to review and merge it? @dchen1107 /cc@kubernetes/sig-node

[2016-06-16 17:36] kfox1111 opened #27550 "rc & gitRepo"
When I have a container in a Pod description that has an attached large gitRepo volume (which takes 30 seconds to download) and that has a command overridden like:
sed update /file/from/gitRepo to include stuff from ENV; run daemon

It works,
but when I then wrapped the spec in an resource controller, it seems to fail. Like its not waiting for the git repo to be fully synchronized before allowing

[2016-06-16 17:37] bprashanth opened #27551 "kube-master-configuration not salted on master"
Nothing comes up. Kubelet logs on the master have:

[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27468/kubernetes-pull-build-test-e2e-gce/44963/artifacts/e2e-gce-agent-pr-13-0-master/

Any ideas on how to debug why the file didn't show up? @andyzheng0831

[2016-06-16 17:38] bprashanth commented on #27551
Without startup.log I mean, or is this blocked on collecting journald output through fluentd on the master?
fyi @a-robinson

[2016-06-16 17:39] mikedanese commented on #27547
cc @bgrant0607 @sparkprime @aaronlevy This issue is about sharing addon and static pod manifests between all the different deployment automation. To do this we need to pick a friendlier configuration process for distros that don't use salt or package python.

cc @bgrant0607 @sparkprime @aaronlevy

[2016-06-16 17:41] yujuhong commented on #27295
Looks like the node rebooted(?) All logs show the similar pattern around 19:54

startupscript.log:
[code]

kern.log
[code]

I have no idea why the node rebooted, but I also don't think we have enough information to figure this out..

[2016-06-16 17:42] krousey commented on #27456
Looking at the gke soak dashboard, which is the more stable of the two soak tests, these seem to be the ones that are most consistently failing.

https://k8s-testgrid.appspot.com/k8s#gke-soak&width=20&sort-by-failures=

Thanks for getting around to this.

[2016-06-16 17:46] andyzheng0831 commented on #27551
Let me take a look.

Generally, the startup.log in ContainerVM is can be seen using the commands in https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure.sh#l28-38. These commands shows the log of cluster instance initialization.

[2016-06-16 17:49] freehan commented on #27489
Okay. It is a known issue. The containervm already has kubelet running and salt will reconfig it and restart it. That is why it seems like kubelet started twice with different configs.

[2016-06-16 17:49] yujuhong commented on #27502
Serial suite hasn't completed a run since the PR (which lower the timeout) has been merged. let's wait and see. Lowering the priority in the meantime.

[2016-06-16 17:50] smarterclayton commented on #24240
This shouldn't be P1 anymore.

[2016-06-16 17:51] bprashanth commented on #27551
@kubernetes/goog-testing maybe we can collect the output of those commands as part of our e2e log dump? (the master is gone). Also on a running master I get
[code]

So maybe we should just rsync rotated logs too?

[2016-06-16 17:51] pwittrock commented on #27325
Hey Janet, looks like these are totally broken.  Do you have any time to take a look?

[2016-06-16 17:51] smarterclayton commented on #14266
Have not had any reports of this recently.  Going to close this unless we are still seeing recreate.

[2016-06-16 17:51] #14266 closed

[2016-06-16 17:52] dims commented on #26210
We have a new variation of this issue logged by the bot:
https://github.com/kubernetes/kubernetes/issues/27335

[2016-06-16 17:56] dchen1107 commented on #27547
cc/ @matchstick too since we briefly talked about node specification yesterday.

[2016-06-16 18:00] mastilver commented on #23535
I'm having the same issue on Google Cloud Platform
I tried updating the dashboard using: https://rawgit.com/kubernetes/dashboard/v1.1.0-beta3/src/deploy/kubernetes-dashboard.yaml
Then I got the error above

I decided to destroy my cluster and rebuild it (without touching kubernetes-dashboard), still the same error on a brand new and clean cluster

[2016-06-16 18:02] sols1 opened #27556 "apiserver leaks memory?"
apiserver memory usage increases linearly to >400 MB in 2 days:

<img width="1032" alt="screen shot 2016-06-16 at 10 33 37 am" src="https://cloud.githubusercontent.com/assets/17886050/16126827/b029d112-33ae-11e6-9e88-a9ae451c42cc.png">

This is a cluster with just 2 nodes and minimal activity over 2 days.

kubernetes version ~1.3

This is an example - I observed similar behavior multiple times.

[2016-06-16 18:05] wojtek-t commented on #27451
Yeah - the failures I linked were also from before 4pm

[2016-06-16 18:06] dims commented on #27528
@lanceyang1992 the 404 shows that kubelet is not able to access the Metadata service from Nova/Neutron that kubernetes openstack provider needs to figure out where it's running. I guess the current assumption in the provider is that the kubelet is running in a VM running on OpenStack and hence it has access to the metadata URL.

[2016-06-16 18:08] jlowdermilk commented on #25590
Fixed by #27139

[2016-06-16 18:08] #25590 closed

[2016-06-16 18:09] Random-Liu commented on #25543
@bprashanth Yes, we can. But I found that the error only occurred once with docker 1.11 till now.

At least, this should be a known issue, right? https://github.com/kubernetes/kubernetes/issues/27076

[2016-06-16 18:13] yujuhong commented on #26290
To be fair, kubelet doesn't have the ability to cancel a docker operation midway as well. If the worker is blocked at pulling an image, kubelet'd wait until the pull succeeds and delete the pod. We should ideally cancel the sync iteration on a deletion request, but this is not the case now.

The difference here for attachment/mounting is  that
 1. The attach/mount is destined to fail because the s

[2016-06-16 18:17] bprashanth commented on #25543
Doesn't this render the node unusable (i.e no services will work because kube-proxy is broken)? if so, we should surface regardless of frequency IMO. Whether we fix or paper over it is a different issue.

[2016-06-16 18:19] derekwaynecarr commented on #27062
Yes.

There is a PR open with fix:
https://github.com/kubernetes/kubernetes/pull/27441

On Wednesday, June 15, 2016, Eric Tune <notifications@github.com> wrote:

[2016-06-16 18:21] yujuhong commented on #27388
@Random-Liu, exposing the knob might be good for rkt as well? I think we should add a generic `--runtime-request-timeout` flag that can be reused by rkt/remote runtimes.

[2016-06-16 18:22] zilman commented on #27361
No big mystery here, the example is using a 'v2' tag that doesn't exist.
https://hub.docker.com/r/kubernetes/redis/tags/

A 's/v2/latest' on the redis example directory did it for me.

[2016-06-16 18:24] andyzheng0831 commented on #27551
The error log you saw should be because apiserver was not up. Any failure in https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#l884-l886 can cause this, but not limited in this block. Since the instance is gone, and we lack of more information, I am sorry to say I cannot infer what is wrong.

I agree that we should collect the output of these commands. If the

[2016-06-16 18:26] saad-ali commented on #26290
Serial test take a long time to reflect changes, since they run so slowly (3.5 hours or so). PR #27491 was merged to lower the timeout for waitForAttach at 10:57 PM last night. There were 2 runs on gce-serial that failed overnight after that because of build issues (one was manually stopped the other hit build timeout) then a 7:39 AM run that was green. Same story on the GKE side. So far lowering

[2016-06-16 18:27] Random-Liu commented on #27388
@yujuhong If so, should we have timeout in runtime interface?

[2016-06-16 18:30] Random-Liu commented on #27388
Offline discussed with @yujuhong, the new client/server interface also has context, we can set timeout as what we've done now.

[2016-06-16 18:32] yifan-gu commented on #25581
Uploaded a spreadsheet that has the throughput / latency / CPU usage for rkt and docker runtime.
https://docs.google.com/spreadsheets/d/1lcmajSnR6suev9K75O_w0sKLGSF0gVc5ueTLZGzt5dY/edit?usp=sharing

cc @euank

[2016-06-16 18:34] saad-ali commented on #26290
Closing this in favor of the automated issue #27502

[2016-06-16 18:34] #26290 closed

[2016-06-16 18:35] bprashanth commented on #27551
We should be able to automate (1) through a sanity check script that runs anytime we hit the 300s cluster bringup timeout, eg https://github.com/kubernetes/kubernetes/issues/22655

[2016-06-16 18:35] saad-ali commented on #27502
Serial test take a long time to reflect changes, since they run so slowly (3.5 hours or so). PR #27491 was merged to lower the timeout for waitForAttach at 10:57 PM last night. There were 2 runs on gce-serial that failed overnight after that because of build issues (one was manually stopped the other hit build timeout) then a 7:39 AM run that was green. Same story on the GKE side. So far lowering

[2016-06-16 18:37] janetkuo commented on #27325
Investigating

[2016-06-16 18:39] ixdy commented on #27551
`cluster/log-dump.sh` is probably the script you want to update, though if things are very GCI-specific you may want to guard on that.

cc @kubernetes/test-infra-maintainers

[2016-06-16 18:43] yujuhong commented on #27385
@rrati I am not denying that the change in kubelet internals may have make reporting worse (not as gradual)  in some cases, and this can be solved with some optimizations :-)

What I wanted to emphasize is that it's hard to track regressions when we don't have a test/benchmark, especially when many factors could come into play. For example, we never had batch creation of 100 pods before v1.2 becau

[2016-06-16 18:47] fejta commented on #27444
@wojtek-t the same VMs that run presubmit jobs on each PR are different from the ones that run CI jobs on postsubmit. I agree that speeding up presubmit is a good idea, but it seems orthogonal to how long kubernetes-build takes.

[2016-06-16 18:48] chrislovecnm commented on #27476
@lwander yah we need the image uploaded again ... thanks for the clarification 😄

@bgrant0607 who can help us figure out if we have something odd going on with `gci.io`. We probably need to re-upload the C* image.

[2016-06-16 18:49] wojtek-t commented on #27444
@wojtek-t the same VMs that run presubmit jobs on each PR are different from the ones that run CI jobs on postsubmit.

I know that. But we are running the same "build" command in both places. And if you look into presubmit e2e tests, first 30-35 minutes of the run is build. And this is far from being acceptable.

[2016-06-16 18:49] rrati commented on #27385
@yujuhong Sorry, I wasn't intending to push harder on the issue but just to provide some additional observational data and my subjective observation. :)

A big +1 from me.

[2016-06-16 18:50] fejta commented on #26799
The best way to do this seems to be to merge these two jobs into one job and make it smart enough to know whether to redeploy or not based on the age and/or health of the cluster before running tests.

[2016-06-16 18:51] fejta commented on #26799
@krousey you're working on the soak tests. Does this fit under your purview?

[2016-06-16 18:51] jeffmendoza commented on #27476
I'm happy to rebuild and upload, what can I check to make sure that the image I'm building is correct?

[2016-06-16 18:53] 7ing opened #27559 "improve iptables-restore implementation"
While checking the iptables (pkg/util/iptables/iptables.go) implementation, its restore logic still use a temporary file to pass the iptable commands. It requires caller has RW permission on tmp folder (which is true in most cases), and it also involves unnecessary file IO operation that impacts the performance.

Suggest improving it by passing commands via memory.

[2016-06-16 19:02] saad-ali commented on #26127
The tests are still falking because of https://github.com/kubernetes/kubernetes/pull/27188 Which is awaitng merge.

[2016-06-16 19:03] gitfred commented on #27540
@dims yep. Just create for eg. RC with Initcontainer with

[2016-06-16 19:13] euank commented on #25581
Great work @yifan-gu! It's nice to know where we stand and have a baseline to improve from

[2016-06-16 19:25] lwander commented on #27476
Will checking the user be enough? I think ideally replacing `EmptyDir` with a `GCEPersistentDisk` and making sure Cassandra can start will ensure this is fixed (right now it just crash loops).

[2016-06-16 19:27] krousey commented on #26799
@fejta I'm helping out with #27374 and trying to track down test failures. I could look into this, but I'm not that familiar with the test infra work.

[2016-06-16 19:46] jeffmendoza commented on #27476
I just pulled from head and rebuilt, it is the same as the `v9` I pushed before, image id `108a1ece523a`. Running bash and `whoami` gives `cassandra`.

[2016-06-16 19:47] jeffmendoza commented on #27476
Also, looking here https://github.com/kubernetes/kubernetes/blob/master/examples/cassandra/image/Dockerfile#L66 I see `USER cassandra` is this correct?

[2016-06-16 20:00] fejta commented on #27517
@wojtek-t a test contacting a server and getting a 500 is a problem with the test, not a problem with the test infrastructure.

Specifically the issue here is that https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godeps.sh#L86 is not robust to 500 level flakes. This can be solved either by updating godep restore or else the script to handle these problems -- most likely by retrying

[2016-06-16 20:07] timothysc commented on #27385
We're going to enqueue for 1.4

[2016-06-16 20:07] fejta commented on #26799
I think a useful way to improve this test is to make it automatically detect and recover from deployment failures. I do not believe we need new jenkins/etc infrastructure to accomplish this. I can also help on this after I move the graphing process onto a VM instead of Ryan's workstation.

[2016-06-16 20:08] fejta commented on #27329
Sounds like the gcr outage is over.

[2016-06-16 20:08] #27329 closed

[2016-06-16 20:08] fejta commented on #26420
Let's call this done for the time being. Please reactivate if you see similar flakes in the future!

[2016-06-16 20:08] #26420 closed

[2016-06-16 20:11] krousey commented on #26799
Odd. I would think that Jenkins would have functionality like this built in.

1. Run job A once a week and retry on failure.
2. Run job B every 4 hours  as long as job A isn't running and its last run was green.

Does it not have that?

[2016-06-16 20:12] smarterclayton commented on #1589
Is there a reason this was removed from the milestone?  It's delivered, it just needs docs.

[2016-06-16 20:15] fejta commented on #25965
@janetkuo any suggestions about what we could do here? This would really make investigating things like https://github.com/kubernetes/kubernetes/issues/25539 faster.

[2016-06-16 20:15] fejta commented on #25539
@janetkuo what can you make of these logs? It is pretty hard for me to tell what if anything is actually failing (since there is a ton of expected error message as well) so I'm not sure about the next step

[2016-06-16 20:15] salv-orlando commented on #27398
@danwinship that was my question as well.

[2016-06-16 20:17] spxtr commented on #26799
https://wiki.jenkins-ci.org/display/JENKINS/Naginator+Plugin but I'd rather not use it.

[2016-06-16 20:18] fejta commented on #27517
@lavalamp when an entire job fails I'm using the test-owner field in the job definition to determine the assignee, who can then delegate to appropriate person. We plan to automatically do these assignments in the future.

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-test-go.yaml#L5

Does this job define the wrong owner or are you suggesting

[2016-06-16 20:26] mml opened #27564 "Client error trying to create object in new namespace"
I'm not sure why this isn't breaking way more stuff.

[code]

[2016-06-16 20:29] fejta commented on #27322
@wojtek-t when entire jobs fail (as opposed to an individual test) I'm using the test-owner field defined in the job in order to determine who to assign the bug. This person can then delegate the assignment as appropriate.

However I would consider starting the cluster an important part of this test.

@gmarek the scp errors are almost certainly a side-effect of the cluster not starting correctly.

[2016-06-16 20:32] mml commented on #27564
NM.  WAI

[2016-06-16 20:32] #27564 closed

[2016-06-16 20:33] a-robinson commented on #27551
IIUC, this could/should be solved on GCE by updating the log-dump.sh logic, as @ixdy suggests. It'll have to be solved on GKE by getting journald support in our fluentd image, which I hope to have ready soon.

[2016-06-16 20:36] mml opened #27565 "servicecontroller needs to create namespaces in target clusters"
See #27564 for the error message that lead me to find this.

If you create a service with a namespace that doesn't exist in any target cluster, (and set --v=5) the servicecontroller logs the below:

[code]

This doesn't come up in the e2e test because the test framework automatically creates the namespace with a matching name in the target cluster.  It also often works fine in manual tests as long

[2016-06-16 20:37] chrislovecnm commented on #27476
CRAP ... thought got that :(  It is a bug.....

[2016-06-16 20:39] fejta commented on #26799
@krousey I'm sure someone has written something to do that, but that is not how I want to solve this problem -- coupling our tests to jenkins. I want to do the following:

Have a single job that does both a weekly deployment, health check and test running:

1. Read the GCS file to determine the age of the cluster, if more than a week old, delete the cluster.
2. If the cluster does not exist, deplo

[2016-06-16 20:40] yifan-gu commented on #25581
Captured from https://github.com/kubernetes/kubernetes/pull/27220#issuecomment-226606342
I found that if we omit the `stage1-image` flag, then we could have a big performance boost as we won't need to unpack the stage1 image each time for every pod.

I updated the kubelet's flag in that PR to include the change, will run the benchmark again and put some new result.

[2016-06-16 20:46] mbohlool commented on #2968
I've looked into this. Problem is go-restful does not understand a custom marshaled unversioned.Time and set the type to string and does not set format property for it.

https://github.com/emicklei/go-restful/blob/master/swagger/model_builder.go#L141

The type should be still string but the format should be "date-time". I can think of these fixes:

1. Add a Marshaling format tag to go-restful (e.g

[2016-06-16 20:48] dcbw commented on #25868
@salv-orlando so what would kubelet do with the returned data?  I can see a case for DNS at the very least, but where would the MAC address, routes, gateway, etc get consumed?  Would they get pushed to the API server through extensions to the PodStatus object?

[2016-06-16 20:51] mml commented on #27565
Possibly related to this, the federation-apiserver doesn't recognize the namespace type at all, meaning you can't delete namespaces to clean up after a test.

[2016-06-16 20:52] therc commented on #26202
I think the problem is that in my case I used `kubectl edit` on the service to add a couple of annotations. That seems to have been responsible for persisting `resourceVersion` and `clusterIP` in the `last-applied-configuration` annotation.

[2016-06-16 20:56] dcbw commented on #27398
@danwinship the plugin should be able to return an address with any string it wants as the tag.

[2016-06-16 20:57] MikeSpreitzer commented on #27398
Do we need `DefaultIP       PodAddressType = "PodDefaultIP"`?  Since `PodStatus` already has the `PodIP` field, which I thought would be the pod's default IP address, it is not obvious to me what the `DefaultIP` type would be for.

[2016-06-16 20:59] dcbw commented on #27398
@MikeSpreitzer I was originally using the kubelet PodStatus struct and removed PodIP from that struct in preference to the array.  But since we can't change the public PodStatus object, I will drop PodDefaultIP.

[2016-06-16 21:05] smarterclayton commented on #1589
Docs PR opened, going to close this as complete (since the proposal won't land for 1.3)

[2016-06-16 21:05] #1589 closed

[2016-06-16 21:14] janetkuo commented on #27325
The tested yaml files specify namespace which conflicts with e2e test namespaces.

[2016-06-16 21:15] liggitt commented on #27370
thanks for the investigation, closing

[2016-06-16 21:15] #27370 closed

[2016-06-16 21:31] gmarek commented on #27322
@fejta - are you claiming that we can't start two kubernetes clusters in a single project? @goltermann

Those errors are actually a side effect of GCI, as I mentioned in the comment - AFAICT there's no /var/log/startupscript.log on a GCI based master machine and we need to get data in some other way. @andyzheng0831

[2016-06-16 21:37] lavalamp commented on #27519
added to agenda

On Thu, Jun 16, 2016 at 10:11 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-06-16 21:45] #27115 closed

[2016-06-16 22:06] pmorie commented on #25965
I made a PR to holp with this -- #26032, which has been merged.

[2016-06-16 22:06] Lukenickerson commented on #22687
The taxonomy-like grouping here mostly makes sense to me (as a Kubernetes novice). Two questions come to mind...

What happens to [the objects that are not categorized](https://github.com/kubernetes/kubernetes/issues/22687#issuecomment-212350117)? For the sake of documentation, will they be given a category or just "other"?

With respect to possibly using these conceptual groupings as [navigation

[2016-06-16 22:07] dkrovich opened #27572 "Problems building on Centos7"
Did a git clone and trying to build on centos.

[root@localup-cluster kubernetes]# cat /etc/redhat-release
CentOS Linux release 7.2.1511 (Core)

[root@localup-cluster kubernetes]# make release
build/release.sh
+++ [0616 17:42:23] Verifying Prerequisites....
+++ [0616 17:42:57] Building Docker image kube-build:build-5a024dbeeb.
+++ [0616 17:44:44] Running build command....
Usage of loopback devices

[2016-06-16 22:21] spxtr commented on #26799
I don't think it needs to read any GCS files to determine how old it is, since it's reusing the same workspace. It can just save a file to the workspace when it starts a new cluster.

[2016-06-16 22:35] slallema commented on #7203
I'm really happy to see rkt support in kubernetes but not being able to use ACIs is a real problem for me.
Right now I have compiled my own version of kubelet without the dockerPrefix "docker://" and it works perfectly with ACIs. So if we could find a way to have different kind of images in the api it would be great.

[2016-06-16 22:35] fejta commented on #26799
Ideally I'd like to eliminate the requirement that the job has to always run on the same machine, which we can remove by storing state in gcs.

[2016-06-16 22:36] JeanMertz commented on #27110
Running Kubernetes 1.2.4, I've noticed the source IP inside a pod returns something other than the client's IP address (f.e. `10.144.4.35`).

Kubernetes is running on GKE, and the pod is exposed using `Ingress -> Service -> Pod`.

We weren't using the client IPs before, so this is the first time I've noticed this.

Could this be because of this regression as well?

[2016-06-16 22:38] fejta commented on #27322
@gmarek the problem isn't two clusters in a single project, but the fact that one of the other clusters --  kubernetes-e2e-gke-large-cluster -- starts 1000 nodes which consumes a lot of compute api quota, slowing everything else in this project down. Hence the weird errors from GCE:

[code]

and other cluster startup issues.

[2016-06-16 22:38] bprashanth commented on #27110
Pods behind an ingress never see accurate source ip, they see the "source" as the loadbalancer as described in my previous comment. Source ip is in the x-forwarded-for header.

[2016-06-16 22:39] fejta commented on #25965
Awesome!

[2016-06-16 22:47] dchen1107 opened #27573 "Update cadvisor godep for kubernetes 1.3 release"
We have to update cadvisor to the latest cherrypick release to include the following fixes:

   - Check for thin_is binary in path for devicemapper when using ThinPoolWatcher
   - Fix uint64 overflow issue for CPU stats
   - Cap the maximum consecutive du commands
   - Fix a panic when a prometheus endpoint ends with a newline

[2016-06-16 22:51] lavalamp commented on #26135
these are important to fix but I'm OK if you close this one.

On Thu, Jun 16, 2016 at 9:37 AM, k8s-merge-robot <notifications@github.com>
wrote:

[2016-06-16 22:51] dchen1107 commented on #27573
cc/ @kubernetes/sig-node @pmorie @timstclair @Random-Liu

[2016-06-16 23:09] lavalamp commented on #27517
Yeah, a different strategy. Build cop owning the job means, if anything, that build cop should be assigning people to fix it. Build cop doesn't have time to investigate.

[2016-06-16 23:13] matjohn2 opened #27575 "Change in salt from merged PR isn't making it into releases."
Hi All,
Just noticed changes merged to the cni salt automation arent making it into the cni.sls file in any of the tagged releases.

Is this normal?

Commit in question: https://github.com/kubernetes/kubernetes/commit/ce220836c38aefc3c23055643ef9da1dae373316#diff-0c1826ac28b55a46c642c8dd403c1ffc

[2016-06-16 23:13] bprashanth commented on #27486
Aarg now it looks like we inverted the order of running framework.AfterEach and custom AfterEach, so I re-invoke framework.AfterEach in my AfterEach (we used to need this) and it crashes. I'm just going to usher https://github.com/kubernetes/kubernetes/pull/26821 in as it doesn't invoke framework.AfterEach.

[2016-06-16 23:15] lavalamp commented on #27444
Rules:
* Presubmits must take no longer than 30 minutes. Humans need to be paged and investigating it if it goes about 30 minutes! Our target should actually be like 20 minutes.
* Everything tested in postsubmit should be tested in presubmit (with smaller workloads).

If we held the above two rules our throughput and flake level would be drastically better.

[2016-06-16 23:16] fejta commented on #27517
What strategy do you recommend then?

The idea with this is when a job flake issue has no owner, automation reads the job owner and assigns it to that owner who can then assign someone to investigate.

This is equivalent to what we are doing with tests (lookup the owner of the test and assign there) but with jobs.

[2016-06-16 23:19] lavalamp commented on #27529
Yes. Make it not flaky.

![image](https://cloud.githubusercontent.com/assets/647318/16136280/115ed034-33de-11e6-95ac-3219ff5073c0.png)

[2016-06-16 23:22] saad-ali commented on #27502
All subsequent serial gce and gke runs have been green since this morning. Closing this issue.

[2016-06-16 23:22] #27502 closed

[2016-06-16 23:23] robdaemon commented on #26983
I can confirm this on 1.3.0-alpha.5 in AWS.

[code]

[2016-06-16 23:24] lavalamp commented on #27517
My plan was, when an entire suite like this fails, it should be assigned to
a human to diagnose. I was hoping someone from test-infra could take a
first pass at that since often these issues are because of some jenkins
failure or some such. I think if that doesn't turn up a cause, then we
probably need a pool of people to round-robin assign.

On Thu, Jun 16, 2016 at 4:16 PM, Erick Fejta <notificat

[2016-06-16 23:38] rootfs commented on #26983
@kubernetes/sig-scheduling @kubernetes/sig-node

[2016-06-16 23:44] lavalamp commented on #27548
We need a way of doing batch api transactions first, IMO. Right now we have no way of even attempting to indicate a transaction to the apiserver.

Additionally, as we start to federate apiservers (imagine openshift installed on a k8s cluster) this won't be possible even in theory, since different storage backends will be used. Even in our current set up, events are not stored in the same place as

[2016-06-16 23:52] fejta commented on #27517
The latter strategy is fine and a change from the current agreed-upon state of the world where build-cop is expected to do initial triage for failures in "critical jobs," hence why build-cop is tagged as the job owner.

I most definitely do not my team doing the first pass for every failure on every job. I want the team focused on making our infra fast, robust and well monitored -- if things head

[2016-06-16 23:56] Random-Liu commented on #26983
/cc @mikedanese

[2016-06-16 23:57] mikedanese commented on #26983
and @kubernetes/sig-aws @justinsb

[2016-06-16 23:58] Random-Liu commented on #26983
It feel like that after kubelet sets the initial status https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1041-L1048, the routecontroller never update it.

[2016-06-17 00:04] lavalamp opened #27578 "Test Flake Exit Criteria: Presubmit test requirements"
From the [doc shared with kubernetes-dev mailing list](https://docs.google.com/document/d/1jnGRrZymgnXoVUNnZVER_TOKH_Z11VvsKxlLxU1gg0A/)

All presubmit test jobs:
- Must finish in less than 30 minutes.
- Because it's frustrating to have a hard timeout, to keep this rule,
  - Our actual time goal is 20 minutes.
  - Human(s) need to be alerted or paged if the test run goes above 30 minutes.
  - That

[2016-06-17 00:04] lavalamp opened #27579 "Test Flake Exit Criteria: Postsubmit requirements"
From the [doc shared with kubernetes-dev mailing list](https://docs.google.com/document/d/1jnGRrZymgnXoVUNnZVER_TOKH_Z11VvsKxlLxU1gg0A/)

Post-submit tests must not test things that are not tested by presubmit tests. Postsubmit tests _may_ test things that take lots of resources.
- Good example: kubemark-5 in presubmit, kubemark-500 in postsubmit.
- Bad example: both of the above as a postsubmit.

[2016-06-17 00:04] lavalamp opened #27580 "Test Flake Exit Criteria: flake issue SLO"
An automated system for getting humans to fix flakes. From the [doc shared with kubernetes-dev mailing list](https://docs.google.com/document/d/1jnGRrZymgnXoVUNnZVER_TOKH_Z11VvsKxlLxU1gg0A/edit#heading=h.4zycjcwy0c59).

The goal here is to have a redundancy in the system: if a flake has been assigned to someone without activity for long enough, we need something to cause either a reassignment or c

[2016-06-17 00:09] #27405 closed

[2016-06-17 00:12] lavalamp opened #27581 "Test Flake Exit Criteria: retest succeeds 95% of the time"
When the merge queue initiates a retest, that should succeed 95% of the time. If that number falls below 80% (3d rolling window average), a human will be paged. The human's job is then to escalate issues as necessary until the flakes have been fixed.

https://docs.google.com/document/d/1jnGRrZymgnXoVUNnZVER_TOKH_Z11VvsKxlLxU1gg0A/edit#

Additionally:
- Percentage of the time during which a merge i

[2016-06-17 00:15] feiskyer commented on #27388
+1

[2016-06-17 00:16] mtaufen opened #27582 "node e2e test teardown crashes with nil deref if node services could not be started"
In `/test/e2e_node/e2e_node_suite_test.go`, the node services are started in the `BeforeSuite` logic. If they fail to start, ginkgo's `Fail` function is called, which ultimately initiates test tear down and thus the `AfterSuite` logic in the same file.

The `AfterSuite` logic calls `e2es.stop()` (defined in `test/e2e_node/e2e_service.go`), which will try to e.g. `es.stopService(es.kubeletCmd)`, wh

[2016-06-17 00:16] pwittrock commented on #22687
cc @johndmulhausen

@Lukenickerson Yes we want to structure navigation around roles + tasks the user is trying to accomplish.  I think we do a better job of this in the non-concept sections.  We should do that here as well to the extent that makes sense, but in some cases it will not.  For example putting DaemonSet, Deployment and Job together in the same section.  DaemonSet is typically going to

[2016-06-17 00:28] spxtr commented on #27444
We should probably redesign our PR Jenkins workflow. This seems reasonable:

* A full build/release job
* A quick build that then starts an E2E run on GCE and GKE
* Verification test
* Unit tests
* Integration tests

We've split the verification checks, and I'd like to get a smoke GKE job soon.

[2016-06-17 00:29] sols1 opened #27583 "kubectl delete ds command times out if container(s) didn't start successfully before"
[code]

[code]

[code]

[code]

kubernetes version ~1.3

[2016-06-17 00:30] a-robinson opened #27584 "Docker's log level isn't set to warning on GCI"
It's set to warning on containervm to avoid all the unnecessary log spam it generates (and hence the CPU that it wastes):
https://github.com/kubernetes/kubernetes/pull/15728
https://github.com/kubernetes/kubernetes/issues/15590
https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/docker/docker-defaults#L13

@andyzheng0831 @adityakali

[2016-06-17 00:33] bgrant0607 commented on #23828
cc @viglesiasce

[2016-06-17 00:33] bgrant0607 commented on #24030
cc @viglesiasce

[2016-06-17 00:34] bgrant0607 commented on #16517
cc @viglesiasce

[2016-06-17 00:35] euank commented on #27582
Either of those solutions sounds reasonable with a slight preference for the first.

Is this causing actual pain/problems somewhere? Ofc we should fix it, but since this only happens in failure scenarios it's not critical, right?

[2016-06-17 00:36] bprashanth commented on #23828
We're runnign e2es tests with a petset galera cluster now: https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/petset/mysql-galera

All that's left to close this bug is to align it with the example in HEAD, and document all the productionizing twists and turns. My examples is just rtm and try stuff till the e2e test consistently passed.

[2016-06-17 00:39] bprashanth commented on #23828
Btw the image it uses is just the stock docker image from the galera site http://galeracluster.com/2015/05/getting-started-galera-with-docker-part-1/ (It's just uploaded to gcr.io for the e2e test), all the cluster bringup stuff is done in the init container so we're not managing a private image. Mysql runs as pid 1.

[2016-06-17 00:53] girishkalele commented on #27489
Prototyping a possibly higher performance solution needing only one tunnel traversal using a separate routing table, avoiding multiple NAT operations too.

1. Setup an IP-in-IP tunnel between two IPs on the same node.
2. `ip rule` to put packets with the masq-mark 0x4000 into a second routing table with a default route pointing into the tunnel.
3. Packets immediately show up on the other end of th

[2016-06-17 00:55] Random-Liu commented on #27498
/cc @yujuhong

[2016-06-17 00:57] mtaufen commented on #27582
Right, non-critical, you pretty much have to break something else to see this show up. I noticed it when I broke the kubelet on a branch I'm currently working on.

I'm also leaning towards the first fix, imo if something else causes the killCmd to be nil by the time we tear down, we'll want to see that there's a problem. I'll put together a PR with that change.

[2016-06-17 01:07] lavalamp commented on #27581
test-infra is on the hook for measuring this, but the rest of us are on the hook for actually fixing things.

[2016-06-17 01:17] csrwng opened #27588 "Kubelet times out docker container logs after 2 minutes"
When streaming logs to a client of a long-running pod, the log will be closed after 2 minutes with

[code]

In the kubelet docker client, a default context (with 2 min timeout) is created for the Logs call:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/kube_docker_client.go#L339

[2016-06-17 01:17] csrwng commented on #27588
@smarterclayton

[2016-06-17 01:24] fejta commented on #27444
FYI I added 7 highcpu-16 core executors, will see how they do overnight and if things look good replace all the standard-8 instances with these tomorrow.

[2016-06-17 01:26] saad-ali opened #27590 "Volume Operation Executor Should Generate Events"
The volume operation executor (which executes Attach/Detach/Mount/Unmount operations) logs errors, but that is hard for users to discover. Instead, these operations should generate `Events` on failure (and maybe even success). So if a pod fails to start, the user can look at the events and see the error for that particular volume.

[2016-06-17 01:26] fejta commented on #27551
Randomly assigned to @roberthbailey per https://github.com/kubernetes/kubernetes/blob/master/cluster/OWNERS and random.randint(1,4)

[2016-06-17 01:31] asalkeld commented on #27523
So this is somewhat working:
I can create the PV and PVC, but the pod has an error.

[code]

Anyone know what "is not in the cache" error means - or how it can be resolved?
kubectl describe pod shows the same error.

[2016-06-17 01:39] yujuhong opened #27593 "kubelet log in the node e2e suite is almost not readable"
The log verbosity setting is way too high (--v=8?). The log is almost unreadable with messages such as
[code]

The default --v=4 should be fine for regular debugging.

[2016-06-17 01:52] smarterclayton commented on #27588
I would not expect all logs calls to be always terminated after 2 minutes.

[2016-06-17 01:52] smarterclayton commented on #27588
@dchen1107

[2016-06-17 01:57] dchen1107 commented on #27588
Yes, this is a regression issue for usability aster switching to docker client library. Will fix it shortly.

[2016-06-17 01:58] yujuhong commented on #27498
The test only failed on **coreos**, and the kubelet.log is full of error messages.
[code]
Plus the log is almost unreadable because of the extremely high verbosity. I filed #27593 for that.

docker.log shows that the node has been rebooted a couple of times.
[code]

And the kernel log shows
[code]

This looks like #20096. The hairpin mode is set to hairpin-veth.

[code]

/cc @bprashanth

[2016-06-17 02:03] dchen1107 commented on #27588
Should we not give any timeout value for all log calls or only streaming ones?

[2016-06-17 02:04] nikhiljindal commented on #2968
@whitlockjc Yes thats what we want to do here.

As @mbohlool said, we pass go-restful a custom `unversioned.Time` object right now and go-restful sets the type to string for that. If we pass `time.Time`, then go-restful will handle it correctly and set `{"type": "string", "format": "date-time"}`

[2016-06-17 02:04] adityakali commented on #27584
Docker daemon args are assembled at https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L271

[2016-06-17 02:06] yujuhong commented on #27456
I ran the heap profiling (`go tool pprof -inuse_space`) for one of the kubelets.
[code]

The inuse space for `/inotify.(*Watcher).readEvents` looks high, but I'm not sure if it's relevant yet.

Will try to reproduce in my own cluster.

[2016-06-17 02:09] k8s-merge-robot opened #27594 "kubernetes-verify-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/44/

Run so broken it didn't make JUnit output!

[2016-06-17 02:09] k8s-merge-robot opened #27595 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/3649/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938

[2016-06-17 02:12] pbitty commented on #11935
@fgrzadkowski I am interested in contributing a first iteration of the AWS implementation.  We are working on getting production workloads onto Kubernetes at wattpad.com, and getting autoscaling working is my current task.  If no one is working on it, could I submit a PR early next week for some feedback?

[2016-06-17 02:19] bprashanth commented on #27498
Yeah don't run with hairpin-mode I guess.
@kubernetes/goog-cluster @yifan-gu is coreos using kubenet?

[2016-06-17 02:34] pbitty commented on #11935
I've studied the current version a bit, and my initial plan is to leverage Autoscaling Groups to control the launching and termination of instances.  It looks to me like both the controls for the GCE MIGs, and the AWS ASGs could be put behind a common interface.

[2016-06-17 02:38] chrislovecnm commented on #16517
what are the plans for this? Kafka, Spark and Elastic are on my radar, besides Cassandra

[2016-06-17 03:10] saad-ali commented on #26127
Tests look good. Sending out PR to move test out of flaky

[2016-06-17 03:27] yanyixing commented on #23683
got the same problem.so sad

[2016-06-17 03:49] AdoHe commented on #27590
SGTM.

[2016-06-17 03:58] dchen1107 commented on #27584
We need to address this for release otherwise, the master node will run out of disk very quickly.

[2016-06-17 03:59] AdoHe commented on #27398
[code]
Personally, I think this should be long term goal.
Also I am considering whether we should take libnetwork network plugin into consideration. Users may use this one.

[2016-06-17 04:00] AdoHe commented on #27404
Since this is low priority, I would do it in the next milestone.

[2016-06-17 04:07] dchen1107 commented on #27194
@stefanodoni The fix was merged to cadvisor already, and an open pr #27591 is going to update cadvisor library to Kubernetes.

cc/ @piosz do you think we need to backport this to k8s 1.2 release? That means we have to create a cadvisor cherrypick release for 1.2 release.

[2016-06-17 04:13] dchen1107 commented on #27498
Node problem detector should detect this issue and report KernelDeadLock condition.

[2016-06-17 04:15] dchen1107 commented on #27404
Wait, shouldn't pr https://github.com/kubernetes/kubernetes/pull/27365 address the issue here?

[2016-06-17 04:31] smarterclayton commented on #24070
There appears to be a fairly predictable race condition in attach now (after switching to engine-api) where we sometimes fail to observe all the output from the container.  The engine buffers those streams for us, but it may be that we're not taking into account everything go-dockerclient was doing.  Trying to get a reproducible scenario.

[2016-06-17 05:06] piosz commented on #27194
I don't think so since we are about to release 1.3 but I'll let you decide. I can imagine that bumping cadvisor right now in release 1.2 might be risky since there was many changes there but @timstclair can analyze the risk better.

[2016-06-17 05:07] lanceyang1992 commented on #27528
@dims thanks for your reply.
 my environment is the openstack and k8s running on a same host,and both are single node.

whether my seettings are wrong?

what should I do to solve this problem?

thanks!

[2016-06-17 05:18] jingxu97 commented on #26297
The same error occurred in onen of my node e2e tests

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27576/node-pull-build-e2e-test/10954/

Reopen it.

[2016-06-17 05:20] jingxu97 commented on #24508
I see the same error in this run
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27576/node-pull-build-e2e-test/10954/

[2016-06-17 05:34] prashantabkari opened #27601 "Build failing in the first step"
Hi - I have downloaded kubernetes and trying to install it by running make release. It is flagging below error. Since i am working behind a proxy, i changed the proxy by following the recommendation mentioned in https://github.com/kubernetes/kubernetes/issues/5706 but after running make release the Dockerfile gets overwritten.

Error seen is
+++ [0617 11:02:32] Verifying Prerequisites....
+++ [061

[2016-06-17 05:36] gmarek commented on #27529
Well - I can't really fix the Docker v1.9, so the only way I can deflake it is to disable it.

[2016-06-17 05:40] Random-Liu commented on #27498
@dchen1107 Yeah, but this is node e2e test, we don't have node problem detector running on node e2e cluster.

[2016-06-17 05:56] Random-Liu commented on #24070
@smarterclayton I'll compare with the code of go-dockerclient.

[2016-06-17 05:59] AdoHe commented on #27548
/cc

[2016-06-17 05:59] AlginMaduro opened #27602 "bug: kubectl apply fails on service with multiple ports."
trying to deploy skydns with apply fails the second time around. Server is 1.2.0 because we are using centos atomic host.

[code]

[code]

Atttempt 1:
[code]

Attempt 2:
[code]

[2016-06-17 06:13] wojtek-t commented on #27322
@fejta - the gke-large suite is unrelated in this case; that suite wasn't running when these errors happened...

[2016-06-17 06:25] metal3d commented on #27572
Note that Centos download a bad "docker" binary that is an image with "404 Error".
Centos seems abandonned by Kubernetes team... so I needed to make the entire operation with Ansible. And that is not simple at all :)

[2016-06-17 06:29] wojtek-t commented on #25543
Doesn't this render the node unusable (i.e no services will work because kube-proxy is broken)? if so, we should surface regardless of frequency IMO. Whether we fix or paper over it is a different issue.

+1

[2016-06-17 06:38] wojtek-t commented on #27595
This is a result of node going down (all hollow-nodes on one of nodes from the base cluster stopped responding).

[2016-06-17 06:48] fejta commented on #27444
Results:

[kubernetes-pull-verify-all](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-verify-all/buildTimeTrend):

* ~22m on [standard-8](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-verify-all/437/)
* ~18m on [highcpu-16](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-verify-all/423/)

[kubernetes-pull-test-unit-integration](http://kubekins.dls.corp.goo

[2016-06-17 06:50] gitfred commented on #27540
@dims I used exactly the example below:
[code]
So Pod sflask-w-init gets into penting state "Init:0/1" forever. Then you can try to run
`cluster/kubectl.sh attach sflask-w-init-<smth-random> -c wait` and you can see that is not working while invoking corresponding command with docker works - it displays current date every second.

[2016-06-17 06:50] Random-Liu commented on #25543
@bprashanth Because it's code freeze, I can add a temporary short hack in node problem detector to detect this issue. @dchen1107 Should we de that? :)

[2016-06-17 06:50] jingxu97 commented on #27477
After checking a few logs from those similar failures, I noticed that in kernal log from the failed nodes, they have many following errors. During the time period when those error messages occur, the mount failed with the error messages posted by @saad-ali. I am wondering whether there is some gce disk issue. Maybe someone from gce team can help take a look?

Jun 16 05:20:44 jenkins-e2e-minion-gro

[2016-06-17 06:58] zreigz opened #27603 "CNI flannel plugin doesn't work with kubernetes"
The issue is also created here https://github.com/containernetworking/cni/issues/250 with detailed description how to reproduce and test it.

[2016-06-17 06:59] zreigz commented on #27603
cc @bprashanth

[2016-06-17 07:15] k8s-merge-robot opened #27604 "kubernetes-e2e-gce-scalability: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/8584/

Run so broken it didn't make JUnit output!

[2016-06-17 07:15] saad-ali commented on #27477
@jingxu97 It's possible that we are corrupting the disk trying to mount it before the disk is completely attached. Testing that theory with #27483. Otherwise, yes we may need to ask the GCE team to help debug.

[2016-06-17 07:26] wojtek-t commented on #27444
@fejta - we know where the problem in e2e-gce is - it is "BUILD":
From a random run:
[code]

[2016-06-17 07:27] wojtek-t commented on #27444
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/45133/consoleFull

[2016-06-17 07:31] wojtek-t commented on #27604
One node didn't started (it wasn't even registered in apiserver).

[2016-06-17 07:35] wojtek-t commented on #27604
The workaround for it is https://github.com/kubernetes/test-infra/pull/181

[2016-06-17 07:35] stefanodoni opened #27605 "Update docs to indidcate that CPU limits are enforced using CPU hardcapping"
Hi,

as per current k8s doc, setting containers CPU limits translates to setting docker --cpu-shares option (http://kubernetes.io/docs/user-guide/compute-resources/):

_**The spec.container[].resources.limits.cpu is multiplied by 1024, converted to an integer, and used as the value of the --cpu-shares flag to the docker run command.**_

However, I have just verified that this is not (no longer?) t

[2016-06-17 07:42] priyanka5 commented on #26259
@TomasTomecek @smarterclayton : i am also facing the same issue in origin 1.2.0 with quick installation method. Can anybody tell me is this resolved and whats docker-current. how to use the workaround.

[2016-06-17 07:43] saad-ali commented on #27477
Verified that #27483 does not help

[2016-06-17 07:46] wojtek-t commented on #27604
This was machine: "e2e-scalability-minion-group-qkdq" that didn't register.

I looked into logs and it seems that the machine dead because of some reasons. In fact even startup script didn't finish correctly:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/8584/artifacts/e2e-scalability-minion-group-qkdq/?project=kubernetes-jenkins

It seems

[2016-06-17 07:46] #27604 closed

[2016-06-17 07:52] wojtek-t commented on #27594
Fixed by https://github.com/kubernetes/test-infra/pull/177

[2016-06-17 07:52] #27594 closed

[2016-06-17 07:57] wojtek-t commented on #27462
@spxtr - what you wrote sounds reasonable and it seems that we can't do much with it. Can we close this one?

[2016-06-17 08:00] wojtek-t commented on #27322
BTW - we already faced out of quota errors a bunch of times in our tests. If this is the cases requests are failing with "Rate Limit Exceeded" error, which wasn't the case here. So this is a different one.

[2016-06-17 08:02] wojtek-t commented on #27321
@fejta - this looks like test-infra issue:

[code]

[2016-06-17 08:03] pracucci commented on #25353
@pwittrock

Your proposed solution looks pretty clear to me and we'll give it a try. Let me just outline that if the resources info will be exported with `get nodes -o json` it will just be much more convenient to be consumed from a bash script, instead of manually iterating over all nodes.

[2016-06-17 08:06] wojtek-t commented on #27334
There were a bunch of such errors in this test failure:
[code]

@kubernetes/goog-node

[2016-06-17 08:42] DutchakVitaliy opened #27607 "`kubectl get cs`: incorrect hard coded master component locations"
I am trying to run controller-manager and scheduler on custom private ip.
But kubectl get cs trying to check health on 127.0.0.1 not on ip where they bind.

Kubernetes version: 1.2.4

**kube-controller-manager.yaml**

[code]

**kube-scheduler.yaml**

[code]

**kubectl get cs**

[code]

I think problem is here:
**pkg/master/master.go**

[code]

[2016-06-17 08:45] PiotrProkop opened #27608 "Fluentd-elasticsearch can be run only in kube-system namespace."
Now elasticsearch_logging_discovery will only look for the endpoints in kube-system namespace due to hard-coded api.NamespaceSystem value. Maybe let user to decide in which namespace elasticsearch_logging_discovery binary will look for endpoints ?

[2016-06-17 09:17] wojtek-t commented on #27444
Basically, the only thing that we need to do is to set "KUBE_FASTBUILD=true" in "kubernetes-pull-build-test-e2e-gce" and anywhere else for now.

@fejta @spxtr - where are configs for "kubernetes-pull-build-test-e2e-gce" job? I can't find them anywhere.

[2016-06-17 09:44] wojtek-t commented on #27444
Note that doing this should roughly double our merge throughput

[2016-06-17 09:46] fgrzadkowski commented on #11935
@pbitty It would be great if you could work on the AWS support for this feature! How about having a VC some time next week to discuss details?

[2016-06-17 10:03] kevinz commented on #26395
Found root cause too, there are 2 deployments with same pod template labels, made them holding  same matchlabels, which confuse the 2 deployments .But replica set don't, another pod-template-hash label added.

So what i have to do is using different labels between deployments.

[2016-06-17 10:06] #23822 closed

[2016-06-17 10:24] urzds commented on #17066
Is this a duplicate of #5607?

[2016-06-17 11:10] zefciu commented on #17902
@davidopp

This is an interesting problem and the behaviour here seems to be quite counterintuitive, especially to a newcomer. My idea would be as follows:

When you `expose` an rc as a service and specify the selector explicitly, the rc stores a special annotation about what selector is used by the service. Also the pods get labelled to match this selector. Now when we do a rolling update, the ne

[2016-06-17 11:15] wojtek-t opened #27610 "e2e flake: "cannot create namespace""
In this run:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/51/console

131 tests failed.
However, most of them (all but two) failed with the following error:
[code]

which means that we couldn't create a namespace.

However, I looked into logs of apiserver and there are not even such requests in apiserver.

[2016-06-17 11:15] wojtek-t commented on #27610
Exactly the same happened in:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gke-serial/1543/

[which suggests it's not related to the size of the cluster]

[2016-06-17 11:16] AdoHe commented on #27607
A possible mechanism is `controller-manager` and `scheduler` can report their ips to apiserver.

[2016-06-17 11:16] wojtek-t commented on #27610
I'm going to add some log, because we don't even know why those requests to create a namespace are dropped.

[2016-06-17 11:19] wojtek-t commented on #27610
@zmerlynn @gmarek @kubernetes/goog-gke [this may (or may not?) be related to GKE itself (I didn't see it in non-gke suites yet)

[2016-06-17 11:22] wojtek-t opened #27612 "e2e flake: "x509: certificate signed by unknown authority""
In gke-large-cluster suite, two tests failed for me with the following error:
"Unable to connect to the server: x509: certificate signed by unknown authority"

[code]

Those errors come from:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/51/console

@zmerlynn

[2016-06-17 11:23] AdoHe commented on #27602
@AlginMaduro I tested this on 1.2.0, it seems ok. My kube version:
[code]
seems you are using an older 1.2.0 version, could you give a try with the latest 1.2.0 version?

[2016-06-17 11:23] AdoHe commented on #27605
@kubernetes/sig-node

[2016-06-17 11:27] gmarek commented on #27322
FYI: similar error from pull-jenkins:
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/27539/kubernetes-pull-build-test-e2e-gce/45162/build-log.txt

Can we agree that it's not the problem with running tests in the same project as big clusters?

[2016-06-17 11:45] danwinship commented on #27398
By "tag" you mean the "Type" field? My understanding was that for fields with a typedef'ed string type, you're only allowed to use the defined values, not arbitrary strings.

[2016-06-17 12:05] vanloswang opened #27614 "/usr/lib/golang/pkg/tool/linux_arm64/link: running gcc failed: fork/exec /usr/bin/gcc: cannot allocate memory"
[code]
go version go1.6.2 linux/arm64
[code]
GOARCH="arm64"
GOBIN=""
GOEXE=""
GOHOSTARCH="arm64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH=""
GORACE=""
GOROOT="/usr/lib/golang"
GOTOOLDIR="/usr/lib/golang/pkg/tool/linux_arm64"
GO15VENDOREXPERIMENT="1"
CC="gcc"
GOGCCFLAGS="-fPIC -pthread -fmessage-length=0"
CXX="g++"
CGO_ENABLED="1"

Just build k8s 1.2.0 on aarch64 platform on CentOS aarch64 edition and

[2016-06-17 12:15] vanloswang commented on #27614
CC https://github.com/golang/go/issues/16082

[2016-06-17 12:24] davecheney commented on #27614
You need to add some swap, Linux won't use it, but if no swap is configured the kernel will not permit any over allocation of memory.

[2016-06-17 12:25] zreigz commented on #27603
I just verify it with the newest k8s. It seems to work fine. I close the issue

[2016-06-17 12:26] cheld commented on #27603
@freehan, @luxas

I have tested hyperkube v1.3.0-beta.1. The cni-flannel plugin is not working properly.

After upgrading to latest version of CNI (build from master) everything works fine.

How can upload the latest release of CNI?

@zreigz please reopen

[2016-06-17 12:28] wojtek-t commented on #25539
@fejta - the way to solve it is to look into /artifacts directory.
In case of:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24836/kubernetes-pull-test-unit-integration/25535/
mentioned above, this was TestUnschedulableNodes.

In the first case, I'm not able to say, because I don't know from which run it comes from.

Anway - I'm going to migrate cmd/integration i

[2016-06-17 12:28] #25539 closed

[2016-06-17 12:36] t0ffel commented on #24677
Log volumes are great for 'legacy' apps when one can simply mount log volume to `/var/log/` and get the logs for free.

However I think the recommendation for newer apps to use log volumes is somewhat limiting.
I suggest in addition to legitimize `stdout/stderr` and maybe add other named `log sinks`(sockets?). Such named `log sinks` can be defined per container similarly to how `log volumes` are d

[2016-06-17 12:41] wojtek-t commented on #27472
We wasn't able to pull the image:
[code]

This was because of bad gcr push.

[2016-06-17 12:41] #27472 closed

[2016-06-17 12:42] wojtek-t commented on #27472
GCR push was already rolled back

[2016-06-17 12:56] vefimova commented on #6439
Hi, @caesarxuchao.
So regarding to “we need a better way to communicate attributes to handlers in apiserver” I want to clarify what exactly it assumes. From the above comment from @bgrant0607 I can see the following items:

1. Namespace is passed in context - it says about api.Context and its key/value interface? If yes,It’s the right place to have attributes, right?
2. the admission controller no

[2016-06-17 13:13] timothysc commented on #16517
/cc @mattf @willb

[2016-06-17 13:33] wojtek-t opened #27615 "e2e flake: "e2e PR builder timed out""
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/45191/consoleFull

Unfortunately we don't have logs.

@fejta @ixdy - can you please take care of uploading logs in case of timeout?

[2016-06-17 14:06] k8s-merge-robot opened #27616 "kubernetes-e2e-gce-scalability: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/8594/

Run so broken it didn't make JUnit output!

[2016-06-17 14:32] kfox1111 opened #27618 "pod prestop"
Pods are useful to co-schedule multiple containers together.

We would like to use it to co-schedule things like a user code running container with a container doing nslcd for ldap support of the user code.

I want to put a preStop hook on the user container to start the drain and wait until the user's code cleanly exits (its time limited but could be hours). But the ldap container quits early. Th

[2016-06-17 14:46] k8s-merge-robot opened #27620 "kubernetes-e2e-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18838/

Run so broken it didn't make JUnit output!