[2016-12-07 01:03] saad-ali opened #38243 "[Upgrade test] "ScheduledJob should not schedule new jobs when ForbidConcurrent" in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-cluster&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20not%20schedule%20new%20jobs%20when%20ForbidConcurrent) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gc

[2016-12-07 01:05] theothermike commented on #23225
Just wanted to add a story from an outage we just had relating to this. (also #36539 above)

We're heavy users of Kubernetes, and it appears this past Friday Dec 3rd, GCE had major spikes on all our VMs, including k8s nodes.   This caused kube-proxy to be evicted from two of our clusters, causing intermittent service outage (very bad)

This needs to be addressed ASAP, and frankly I'm kind of surpr

[2016-12-07 01:08] lavalamp commented on #37473
Wait, it waits in that situation? I thought it just did a quorum read if
the requested rv was greater than what was in the cache.

On Tue, Dec 6, 2016 at 2:01 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-12-07 01:09] saad-ali opened #38245 "[Upgrade test] "ScheduledJob should replace jobs when ReplaceConcurrent" in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-cluster&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20replace%20jobs%20when%20ReplaceConcurrent) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-up

[2016-12-07 01:10] lavalamp commented on #37994
Remind me what mutation we make such that the index is no longer sufficient
for the CAS?

On Tue, Dec 6, 2016 at 8:14 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-12-07 01:12] saad-ali opened #38246 "[Upgrade test] "ScheduledJob should schedule multiple jobs concurrently" in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-cluster&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20schedule%20multiple%20jobs%20concurrently) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-up

[2016-12-07 01:12] kargakis commented on #34052
WIP PR for server-side gc for Deployments in https://github.com/kubernetes/kubernetes/pull/35676

[2016-12-07 01:26] JackTiger commented on #37932
Ok， thanks， I use  the readiness probe feature now in k8s, it may be the only solution if to meet my requirements. Or I replace the kube-proxy, I see someone use haproxy  to replace kube-proxy, The load balance of kube-proxy is low. I will try in next feature.

Thanks very much again!

[2016-12-07 01:27] saad-ali opened #38247 "[Upgrade test] "Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes" in ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster"
Test has been failing [33% of the time](https://k8s-testgrid.appspot.com/google-1.3-1.5-upgrade#gke-container_vm-1.3-container_vm-1.5-upgrade-cluster&width=20&sort-by-failures=&show-stale-tests=&include-filter-by-regex=should%20be%20able%20to%20delete%20nodes) in [ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/l

[2016-12-07 01:30] freehan commented on #38174
https://github.com/kubernetes/kubernetes/pull/37720 just got cherry-picked to 1.4 and 1.5 branch.

It requires both master and nodes to have the latest code in 1.4 and 1.5. If not, it will fail.
Testgrid is showing all green so far.
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-slow-release-1.4
https://k8s-testgrid.appspot.com/release-1.5-blocking#gci-gke-slow-release-1.5

[2016-12-07 01:30] freehan commented on #38174
Not sure what is the master/node version running in the failed cases.

[2016-12-07 01:30] #38205 closed

[2016-12-07 01:30] smarterclayton commented on #37994
Index is sufficient for CAS.  Not sufficient for ensuring the same status
update doesn't generate a new record in etcd when nothing changed.

On Dec 6, 2016, at 8:10 PM, Daniel Smith <notifications@github.com> wrote:

Remind me what mutation we make such that the index is no longer sufficient
for the CAS?

On Tue, Dec 6, 2016 at 8:14 AM, Clayton Coleman <notifications@github.com>
wrote:

https://g

[2016-12-07 01:36] rkouj opened #38248 "[Upgrade test] "Pods should invoke init containers on a RestartAlways pod" failing in gke-container_vm-1.3-container_vm-1.5-upgrade-master"
Test has been failing [100% of the time](http://k8s-testgrid.appspot.com/google-1.3-1.5-upgrade#gke-container_vm-1.3-container_vm-1.5-upgrade-master&include-filter-by-regex=Pods%20should%20invoke%20init%20containers%20on%20a%20RestartAlways%20pod) in [ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master](http://k8s-testgrid.appspot.com/google-1.3-1.5-upgrade#gke-container_vm-1.3-

[2016-12-07 01:37] freehan commented on #38174
[code]

Looks like it is still 1.4.6

[2016-12-07 01:38] rkouj commented on #38248
This also fails on

gke-container_vm-1.3-gci-1.5-upgrade-master
gke-gci-1.3-container_vm-1.5-upgrade-master
gke-gci-1.3-gci-1.5-upgrade-master

[2016-12-07 01:41] rkouj opened #38249 "[Upgrade test] "Pods should invoke init containers on a RestartNever pod" failing in gke-container_vm-1.3-container_vm-1.5-upgrade-master"
Test has been failing [100% of the time](http://k8s-testgrid.appspot.com/google-1.3-1.5-upgrade#gke-container_vm-1.3-container_vm-1.5-upgrade-master&include-filter-by-regex=Pods%20should%20invoke%20init%20containers%20on%20a%20RestartNever%20pod) in [ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master](http://k8s-testgrid.appspot.com/google-1.3-1.5-upgrade#gke-container_vm-1.3-c

[2016-12-07 01:41] #37416 closed

[2016-12-07 01:41] rkouj commented on #38249
gke-container_vm-1.3-gci-1.5-upgrade-master
gke-gci-1.3-container_vm-1.5-upgrade-master
gke-gci-1.3-gci-1.5-upgrade-master

[2016-12-07 01:44] rkouj opened #38250 "[Upgrade test] "Pods should not start app containers and fail the pod if init containers fail on a RestartNever pod" failing in gke-container_vm-1.3-container_vm-1.5-upgrade-master"
Test has been failing [100% of the time](http://k8s-testgrid.appspot.com/google-1.3-1.5-upgrade#gke-container_vm-1.3-container_vm-1.5-upgrade-master&include-filter-by-regex=Pods%20should%20not%20start%20app%20containers%20and%20fail%20the%20pod%20if%20init%20containers%20fail%20on%20a%20RestartNever%20pod) in [ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master](http://k8s-testg

[2016-12-07 01:45] rkouj commented on #38250
This also fails on

gke-container_vm-1.3-gci-1.5-upgrade-master
gke-gci-1.3-container_vm-1.5-upgrade-master
gke-gci-1.3-gci-1.5-upgrade-master

[2016-12-07 01:45] mml commented on #36555
@xiang90 it works with the binary you shared.  We still need a way to build that binary, but I will open a separate issue about that.

[2016-12-07 01:45] #36555 closed

[2016-12-07 01:47] rkouj opened #38251 "[Upgrade test] "Pods should not start app containers if init containers fail on a RestartAlways pod" failing in gke-container_vm-1.3-container_vm-1.5-upgrade-master"
Test has been failing [100% of the time](http://k8s-testgrid.appspot.com/google-1.3-1.5-upgrade#gke-container_vm-1.3-container_vm-1.5-upgrade-master&include-filter-by-regex=Pods%20should%20not%20start%20app%20containers%20if%20init%20containers%20fail%20on%20a%20RestartAlways%20pod) in [ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master](http://k8s-testgrid.appspot.com/google-1

[2016-12-07 01:48] rkouj commented on #38251
This also fails on

gke-container_vm-1.3-gci-1.5-upgrade-master
gke-gci-1.3-container_vm-1.5-upgrade-master
gke-gci-1.3-gci-1.5-upgrade-master

[2016-12-07 01:50] mml opened #38253 "Need to build etcd rollback tool linked against both 3.x and 2.x"
#36555 was fixed by the combination of #37322 and @xiang90 creating a special build linked against both 2.x and 3.x wal packages.

I'm not sure how @xiang90 did the build, but we need to be able to build it automatically from source.

Assigning to @xiang90 for now, but I am willing to help with the build details.

[2016-12-07 01:52] mml commented on #37131
I'm not able to reproduce this now that we have the dual-WAL rollback tool including #37322.  Marking fixed, but the last little bit is #38253.

[2016-12-07 01:52] #37131 closed

[2016-12-07 01:55] justinsb commented on #38082
Sorry - I thought I had closed this.  Closing.

[2016-12-07 01:55] #38082 closed

[2016-12-07 01:55] janetkuo commented on #38246
Probably related to scheduljob renaming to cronjob? @soltysh

[2016-12-07 01:57] xiang90 commented on #37035
@mml Can you verify this is also fixed if we do https://github.com/kubernetes/kubernetes/issues/38253?

[2016-12-07 02:00] xiang90 commented on #38253
What is the current build process for the migration tool?

[2016-12-07 02:02] bigfreeZhou commented on #38178
@yujuhong Actually, I didn't set the --enable-debugging-handlers flag which to be said default value is true. In order to confirm this, I just set --enable-debugging-handlers=true for kubelet, but not help. T.T

[2016-12-07 02:02] krzyzacy commented on #30711
/close

[2016-12-07 02:02] #30711 closed

[2016-12-07 02:08] k8s-merge-robot opened #38254 "[k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should handle healthy pet restarts during scale {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/367/

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should handle healthy pet restarts during scale {Kubernetes e2e suite}

[code]

[2016-12-07 02:19] hongchaodeng commented on #37994
@smarterclayton  What do you mean by same status?

[2016-12-07 02:21] hongchaodeng commented on #37994
Update() will compare the encoded bytes of previous object and bytes of the object to update. If it's the same, it won't go into etcd.

[2016-12-07 02:29] mikedanese commented on #23225
That certainly sounds terrible but I'm not sure this issue would have helped. I think you are looking for a fix for https://github.com/kubernetes/kubernetes/issues/35521. Sorry for the bad experience!

cc @dchen1107 @kubernetes/sig-node

[2016-12-07 02:29] timothysc commented on #37853
I'm still not hitting issue on my end, trying both Fedora 24 and RHEL-7.3.2.

[2016-12-07 02:29] #38138 closed

[2016-12-07 02:54] BruceZu commented on #10265
I meet the same issue
[root@k8s-09 ~]# kubectl logs   kube-dns-4006485561-i21lk  -c kube-dns  --namespace=kube-system | more
[code]
while this works:
[root@k8s-09 ~]# curl  http://127.0.0.1:8080/api/v1/namespaces/default/services/kubernetes
[code]

[2016-12-07 03:02] kargakis commented on #38216
@kubernetes/sig-api-machinery

[2016-12-07 03:02] sjenning commented on #37853
@mtaufen @thockin which distros and kernel versions are having the soft lockups?

[2016-12-07 03:29] k8s-merge-robot opened #38256 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/281/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} {Kubernetes e2e suite}

[code]

[2016-12-07 03:31] xilabao opened #38257 "hack/local-up-cluster.sh start failed"
Happen to the newest version.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes version** (use `kubectl version`):Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.1552+f92039175526c0", GitCommit:"f92039175526c0d359eaa4e887e938904870ec41", GitTreeState:"clean", BuildDate:"2016-12-07T05:22:50Z", GoVersion:"go1.7.1", Compiler:"gc", Platf

[2016-12-07 03:34] dchen1107 commented on #37853
@sjenning @derekwaynecarr We run into the issue on both GCI image (Linux version 4.4.21+ (chrome-bot@build297-m2) ) and CVM image (Debian 3.16.36-1+deb8u2 (2016-10-19))

I understand the real problem is in the kernel, and the userspace change you made here just augment that bug. I am ok with a flag disabling the feature.

[2016-12-07 03:36] soiff commented on #33544
@miry Hi, sorry for still not solving my problem. My operating system is `CentOS Linux release 7.2.1511 (Core)` comes from `CentOS Minimal`. I've installed everthing according to [http://kubernetes.io/docs/getting-started-guides/kubeadm/](http://kubernetes.io/docs/getting-started-guides/kubeadm/) and I've tried to initialize my kubernets cluster by command `kubeadm init`. However, it shows as foll

[2016-12-07 03:41] liggitt opened #38262 "typo in etcd federation service storage location"
federation apiserver computes the etcd prefix for storing services using the singular "service" resource:

https://github.com/kubernetes/kubernetes/blob/master/federation/cmd/federation-apiserver/app/core.go#L45
[code]

this means that service objects end up in etcd in a different location (`/service`) in federation api servers than in regular api servers (`/services/specs`)

as part of streamlini

[2016-12-07 03:44] liggitt commented on #38262
cc @nikhiljindal @saad-ali

[2016-12-07 03:50] #37881 closed

[2016-12-07 03:51] liggitt commented on #37473
actually, I'm really confused what resourceVersion is currently doing with list:

[code]

[2016-12-07 04:08] k8s-merge-robot opened #38263 "ci-kubernetes-e2e-gci-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/282/

Run so broken it didn't make JUnit output!

[2016-12-07 04:11] wanghaoran1988 commented on #38220
@lavalamp Would you mind assign this to me?

[2016-12-07 04:27] smarterclayton commented on #37994
Update in pkg/storage?  That's what I'm referring to (we prevent duplicate
writes).  In practice we just reuse the last contents, but there is still
one encode/decode required per conflict loop in guaranteed update.

On Dec 6, 2016, at 9:21 PM, Hongchao Deng <notifications@github.com> wrote:

Update() will compare the encoded bytes of previous object and bytes of the
object to update. If it's the

[2016-12-07 04:39] thockin commented on #37853
After reverting those changes, 1 of my 3 machines has crashed already.  I
am going to let it run overnight.  Plan for tomorrow is to revert to HEAD
ca. Nov 20, and try that kubelet/proxy

On Tue, Dec 6, 2016 at 7:34 PM, Dawn Chen <notifications@github.com> wrote:

[2016-12-07 04:50] #38257 closed

[2016-12-07 05:07] krousey commented on #37981
The current run, 76, is hung with the soft lockup issue during the "Deployment should support rollover" test. I rebooted the gke-bootstrap-e2e-default-pool-13881f05-ovd4 node so that the suite can hopefully recover and run some more tests.

[2016-12-07 05:14] sjenning commented on #37853
@thockin are the BUG messages the same for all these occurrences?  I worked on the kernel in a previous life so I'm trying to run it down from that side.

For your earlier BUG https://github.com/kubernetes/kubernetes/issues/37853#issuecomment-265259218
The spinlock is here:
[code]

I would expect there is another CPU hung as well.  Any BUG information you can provide could help.

[2016-12-07 05:15] krousey commented on #37981
It was hung at

[code]

As soon as I rebooted the node, it continued.

[2016-12-07 05:16] krousey commented on #37981
It appears we don't timeout pod proxy requests.

[2016-12-07 05:31] krousey commented on #37981
I wrote a program to analyze build logs (since individual test results aren't recorded on timeouts) to see which test cases were taking longer. It's not that any particular run is taking longer, just some test hangs.

I ran it over https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new/76?log#log and got

[code]

[2016-12-07 05:34] thockin commented on #37853
I can make full logs available tomorrow.

On Tue, Dec 6, 2016 at 9:14 PM, Seth Jennings <notifications@github.com>
wrote:

[2016-12-07 05:37] dchen1107 commented on #37853
Re: https://github.com/kubernetes/kubernetes/issues/37853#issuecomment-265354161

@thockin I had suspected the root cause is the underneath infrastructure of GCP all the time, but could have strong enough correlated signals. Now looks like you can repro the issue easily in your cluster, and I know you were re-using the same VM instances. But I ran the same tests iptables-save / iptables-restore fo

[2016-12-07 05:38] krousey commented on #37981
I ran the same tool over https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new/76 and got

[code]

The interesting part is

[code]

It seems to hit [ResourceConsumer.CleanUp()](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling_utils.go#L301) and hang. I think it's attempting to write to a

[2016-12-07 05:44] thockin commented on #37853
I don't have access to the tool needed to convert VMs into Borg machines
(Google takes PII very seriously :).  I can try to get access in the AM.
If anyone following along has access, ping me and I'll give project ID.

On Tue, Dec 6, 2016 at 9:38 PM, Dawn Chen <notifications@github.com> wrote:

[2016-12-07 05:49] dchen1107 commented on #37853
@thockin I applied the permission yesterday, and finally got the approval this afternoon. I checked the status earlier, the permission is not propagated yet. I think tomorrow morning, I should have the access to check for you.

[2016-12-07 06:11] #28687 closed

[2016-12-07 06:19] dchen1107 commented on #37853
Updated based on https://github.com/kubernetes/kubernetes/issues/37853#issuecomment-265360672:

To get a bigger sample set for AB comparison, I found 3 more nodes in the fleet, which are running into this CPU softlock issue. I rebooted all 3 nodes, and started the same iptables-save / iptables-restore test on them. I will leave the test running over the night and check the status tomorrow morning.

[2016-12-07 06:28] thockin commented on #37801
The problem with this is that FSType is not applicable to all types of volumes.  What does it mean if I specify `fstype: xfs` on a claim, when the class is actually implemented as NFS?  User will be surprised, at best.

Provisioners can be parameterized.  Maybe we suggest that all provisioners SHOULD support FSType as a parameter if they model block devices.

[2016-12-07 06:29] thockin commented on #38192
This doesn't seem unreasonable, but it does seem very niche.  Do you have real, rational user demand for this?

[2016-12-07 06:32] jingxu97 commented on #34990
I checked the log from the last failure, didn't see anything related to gci mounter. The test failed on trusty node which mounter should not be used at all.

[2016-12-07 06:33] foxish commented on #38232
Since this is moving from alpha to beta, we don't expect the upgrade test to work I think.
/cc @erictune @janetkuo

[2016-12-07 06:34] foxish commented on #38232
The failure here is of the form:

[code]

[2016-12-07 06:44] thockin commented on #10439
This is something that is very clearly important to a lot (!!) of people.
It's a completely reasonable request but the devil is in the details, of
course.

I can not, a priori, promise we'll merge whatever gets written - this is
why we have proposals and code reviews and design discussions.  Something
as significant as this has many degrees of freedom to choose between, and
as such I can't say tha

[2016-12-07 06:53] thockin commented on #38103
I am not sure how these are being created.  I know that github reverts do
this (blech) but there are a bunch by people that appear to be private.  I
will figure it out.

On Mon, Dec 5, 2016 at 10:43 AM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2016-12-07 06:56] thockin commented on #38103
I am removing old revert-* branches now.

On Tue, Dec 6, 2016 at 10:53 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-12-07 06:58] janetkuo commented on #32947
This should be mitigated by the fix. The test was re-enabled in GKE ~2 hours ago. If it doesn't happen anymore we can close this

[2016-12-07 06:59] thockin commented on #38103
@david-mcmahon there are branches (not tags) for 1.3.6 and 1.3.7 - that's
wrong.  Do we know what happened?

On Tue, Dec 6, 2016 at 10:57 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-12-07 07:06] sttts commented on #38165
Here is the PR fixing the selinux context issue: https://github.com/kubernetes/kubernetes/pull/37985

[2016-12-07 07:10] sttts commented on #38198
https://github.com/kubernetes/kubernetes/pull/38194 merged last night. Please rebase.

Moreover, @fraenkel and myself are working on a fix for the flake.

[2016-12-07 07:10] sttts commented on #38198
Optimistically closing. Please re-open if you still see it after a rebase.

[2016-12-07 07:10] #38198 closed

[2016-12-07 07:11] dchen1107 commented on #37853
Chatted with gmarek@ offline:

* gmarek@ will repeat the experiment that mtaufen@ did this afternoon (https://github.com/kubernetes/kubernetes/issues/37853#issuecomment-265309122):  run kubemark-5000 tests by syncing his 1.5 branch prio to #32577. We only have one test result so far.
* If gmarek@' s test succeed for several times, at least we can conclude the culprit pr is between  #32577 and the

[2016-12-07 07:15] codablock commented on #37853
Am I correct that you all assume frequent iptables updates are triggering this? In my case on Azure, I did not have many services and it did also crash at least once while no one was using the cluster (no changes to services). Or does kubernetes do unnecessary iptables updates?

[2016-12-07 07:15] dchen1107 commented on #37903
I quickly looked at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/1083/ and found one of nodes incluster hit a know docker image corruption issue: docker/docker#25523. That image corruption issue causes several test failures on the node.

I1206 20:06:22.452] Dec  6 20:06:11.101: INFO: At 2016-12-06 20:04:25 -0800 PST - event for echoserver-sourc

[2016-12-07 07:17] thockin commented on #37853
It does periodic full syncs, but that is O(minutes).

On Tue, Dec 6, 2016 at 11:15 PM, Alexander Block <notifications@github.com>
wrote:

[2016-12-07 07:27] jeffvance commented on #38165
closed by #37985

[2016-12-07 07:27] #38165 closed

[2016-12-07 07:27] mcortinas opened #38267 "Just 1 entrypoint with more than 2 version"
Hello,

 I tried to ask the same in slack channels without answer.
 I'm not sure if this is a feature request or not, apologies for advance...

 I looking for a solution for API with more than 2 versions enabled with weight in loadbalancer.
 I can NOT split by URI, we want all version in the same URI, the root.

 Trying to be clear, let me explain better decribing this sceneario:
ENTRYPOINT API :

[2016-12-07 07:28] mattymo commented on #38187
@mikedanese thanks for clearing up how to create a kubelet that is not part of the cluster, does not register itself, and does not run static pods. In summary:
K8s master-only components kubelet config:
no --apiserver
no --kubeconfig
no --require-kubeconfig
no --register-node
no --register-unschedulable

Contrary to popular belief, the last 2 options above are not useful for creating an unschedula

[2016-12-07 07:31] caesarxuchao commented on #37994
@hongchaodeng's #38200 removed PrevValue, which has nothing to do with "ensuring the same status update doesn't generate a new record in etcd when nothing changed." The situation is prevented by this [code](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd/etcd_helper.go#L518-L522). I think @smarterclayton's point is #38200 won't increase performance because we still do encodin

[2016-12-07 07:34] codablock commented on #30752
Just checked the discard support on AWS and it is not supported at all, so it always does a normal write to clear/init the inode tables.

[2016-12-07 07:36] mbohlool opened #38269 "Consider special annotation for deprecated fields and models"
following up on thokin's commend on #36760 we should add a deprecated annotation with enough information for user to find the replacement.

cc @thokin @kubernetes/sig-api-machinery

[2016-12-07 07:40] colemickens commented on #38134
@mogthesprog Is there any chance you'd be willing to remove the subnet-routetable check instead of the second option and see if that meets your needs? I think that's what we want to go with short-term.

Chances are, if people aren't configuring the route table / subnet correctly, then they likely won't find their way to the error message anyway.

(Longer term we hope to move away from needing the

[2016-12-07 07:49] #38208 closed

[2016-12-07 08:05] wojtek-t commented on #37473
I think there might be some bugs in the implementation, as we are pretty much using only "resourceVersion=0". So we definitely need to look into this hanging forever issues - that definitely looks like a bug.

[2016-12-07 08:07] foxish commented on #38103
When someone with write privileges tries to edit a file in the github UI, that usually creates a new branch. I can see some of these being created due to that.

[2016-12-07 08:18] suonto commented on #38098
@rootfs a node does not even need to fail to cause this scenario. Here's a simple example with logs where I just delete a pod that uses a pvc and it tries to relocate to another node within the same zone. As you can see, the cinder volume never detaches from node-1-0.

[code]

[2016-12-07 08:18] resouer commented on #38220
@wanghaoran1988 Yes, just send the PR :) It seems github can not assign issues to non-members ...

[2016-12-07 08:25] sirhopcount commented on #37210
Also ran into this issue, what is the new preferred way to update the loadBalancerSourceRanges?

[2016-12-07 08:31] miry commented on #33544
@soiff I think you have firewall or iptables rules to block port 9098.

try to run `curl http://192.168.103.8:9898/cluster-info/v1/?token-id=e5d784` and on the kubernetes master check that this port is listening by `etcd`. `netstat -ltpn | grep 9898`

[2016-12-07 08:37] jsafrane commented on #33088
You're right, PV controller does not use retry logic of GoRoutineMap and retries provisioning and deletion on its own and currently without exponential backoff. The reason is that PV controller can react to  deletion of object, e.g. when user removes a PVC then the controller does not need to retry provisioning a volume for it.

PV controller retries failed operation every 15 seconds by default. S

[2016-12-07 08:37] pdqsoftware commented on #19744
Thanks mikedanse - that re-capitalization worked a treat for me too!

[2016-12-07 08:40] wojtek-t commented on #38253
This is now super trivial and is here:
https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/Makefile#L59

Though, since it is pretty custom, we can easily modify this one, I guess.

[2016-12-07 08:44] suonto commented on #38098
@rootfs here's an example where I shut down node-1-0 and pods relocate to node-1-1.
[code]

[2016-12-07 08:47] suonto commented on #38098
@rootfs I would especially highlight these lines above:
[code]

[2016-12-07 08:48] #38209 closed

[2016-12-07 08:48] jsafrane commented on #38192
One guy asked for this on slack. I don't know how real or rational he was, he had good arguments (never trust users, some of them *will* delete PVCs)

[2016-12-07 08:58] wojtek-t commented on #27680
Bumping to P0 - this is happening pretty much all the time now.

@sttts - can we revert that PR then? Or have a fix really soon, this is the biggest trigger of failures now.

[2016-12-07 09:05] gmarek commented on #37853
I run kubemark-5000 experiment with repo from before #32577 - it passes, so it seems that we're fine then, as far as kubemark repro is concerned. I'll rerun the experiment on revision from just after #32577 was merged.

[2016-12-07 09:06] pigmej commented on #38187
Yeah, I agree with Matthew there. I've read the docs and found nothing that would mention unexpected behavior caused by mixing options‎, especially that it worked before 1.5 so many may be surprised with this behavior change (even if the previous one was incorrect).

[2016-12-07 09:09] wojtek-t opened #38273 "QPS limits in clients seem to not work in all situations"
In kubemark-500, we are bumping QPS limits for clients in controller-amanger to 100.
https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-kubemark-500-gce.sh#L42

However, it seems the ReplicationController is creating pods significantly faster than 100 per second.
From the logs from:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce

[2016-12-07 09:10] wojtek-t commented on #38273
On the other hand, QPS limits seems to work fine in scheduler (where they are also bumped to 100), so it might be replication-controller (controller-manager?) specific.

[2016-12-07 09:19] soltysh commented on #38232
This is expected to fail, since k8s versions < 1.5 do not have `CronJob` resource, previously named `ScheduledJobs`. This is the effect of the rename (https://github.com/kubernetes/kubernetes/issues/36021). This is not a release-blocker, besides this is still an alpha feature, far from beta.

[2016-12-07 09:20] soltysh commented on #38233
Same justification as here: https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-265396375. Not a release blocker.

[2016-12-07 09:20] soltysh commented on #38234
Same justification as here: https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-265396375. Not a release blocker.

[2016-12-07 09:20] soltysh commented on #38236
Same justification as here: https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-265396375. Not a release blocker.

[2016-12-07 09:20] soltysh commented on #38237
Same justification as here: https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-265396375. Not a release blocker.

[2016-12-07 09:21] soltysh commented on #38240
Same justification as here: https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-265396375. Not a release blocker.

[2016-12-07 09:21] soltysh commented on #38241
Same justification as here: https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-265396375. Not a release blocker.

[2016-12-07 09:21] soltysh commented on #38243
Same justification as here: https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-265396375. Not a release blocker.

[2016-12-07 09:21] soltysh commented on #38245
Same justification as here: https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-265396375. Not a release blocker.

[2016-12-07 09:21] soltysh commented on #38246
Janet - yes. Same justification as here: https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-265396375. Not a release blocker.

[2016-12-07 09:36] gmarek commented on #37853
I run experiment with #32577 and it failed. I'll try going back one PR and run an experiment few times to make sure that this is a culprit as far as kubemark-5000 is concerned.

[2016-12-07 09:38] wojtek-t commented on #38273
BTW - the same is happening in pretty much all runs of kubemark-500 and kubemark-scale (those are runs where we are bumping default QPS limits).

[2016-12-07 09:39] spradeepv opened #38274 "kubernetes-controller-manager container crashes when cloud-provider is openstack"
Is this a request for help? (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

What keywords did you search in Kubernetes issues before filing this one? (If you have found any duplicates, you should instead reply there.):
kubernetes, openstack, cloud-config, loadbalancer
---

**Is this a BUG REPORT or FEATURE REQU

[2016-12-07 09:45] k8s-merge-robot opened #38275 "[k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1.5/1211/

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]

Previous issues for this test: #26509 #26834 #29780 #35355

[2016-12-07 10:05] wojtek-t commented on #38253
If you could fix that build instructions that would be great.
Otherwise, I'm happy to help, but I need a better guidance with how to do it.

[2016-12-07 10:08] mattymo commented on #38187
@mikedanese will kubeadm follow suit? Currently it uses taints to make master node unschedulable, but that will not work for daemonsets because of this reverted patch:
https://github.com/kubernetes/kubernetes/pull/31907#issuecomment-265382450

[2016-12-07 10:27] clarelewis73 commented on #4710
I was wondering...

If I created a Java microservice and wanted to use secrets to store passwords. From the operations side of DevOps, how would I change this password without changing the base code? I.e. how would I expose this from k8s to my Java app? Is there a program in fabric8? or is there anything else?

Any help would be great thanks!

[2016-12-07 10:42] clarelewis73 opened #38279 "Exposing kubernetes secrets to java application HELP"
I was wondering...

If I created a Java microservice and wanted to use K8s secrets to store passwords. From the operations side of DevOps, how would I change this password without changing the base code? I.e. how would I expose this from k8s to my Java application? Is there a program in fabric8? or is there anything else?

Any help would be great thanks!

[2016-12-07 10:46] ged15 opened #38280 "Ingress healthcheck running on GKE"
When creating an Ingress on a cluster running on GKE, a Google Load Balancer is created. However, the GLB uses `/` as the health check path and on some services this needs to be different (i.e. `/healthcheck`).
Ingress resources have no way to define health checks, but perhaps it could be annotated to contain that option.

[2016-12-07 10:49] gmarek commented on #37853
I rerun tests - going back to before #32577 makes the problem disappear, including #32577 is enough to cause failures. I'm going to try reverting offending PR from the 1.5 branch head and run the tests again.

[2016-12-07 11:04] dims commented on #37853
@gmarek glad to hear that #32577 could be the one to revert ( cc @sjenning )

[2016-12-07 11:09] soiff commented on #33544
@miry Thanks, problem verified for weak access to `gcr.io/google_containers/kube*`. It's solved after I load necessary images downloaded independentely on other places.

[2016-12-07 11:14] Crassirostris commented on #36809
@calebamiles @swagiaal This is not a release blocker, please reassign to me

[2016-12-07 11:16] mwielgus commented on #36588
This was fixed. Deployment tests are green (mostly).

[2016-12-07 11:16] #36588 closed

[2016-12-07 11:25] sttts commented on #27680
@wojtek-t we marked both tests as `[Flaky]` last night: https://github.com/kubernetes/kubernetes/issues/38194. This shouldn't happen anymore after rebasing PRs.

[2016-12-07 11:28] sttts commented on #27680
Here is a first attempt for a real fix: https://github.com/kubernetes/kubernetes/pull/38260

[2016-12-07 11:30] bigfreeZhou commented on #38178
@AdoHe @yujuhong
I find the probelm. there is a service's external ip is the master node ip, and the port is exactly the apiserver's port. After i delete the service, everything became right.

thanks for your help.

[2016-12-07 11:31] #38178 closed

[2016-12-07 12:08] gmarek commented on #37853
I'll send a revert for head and 1.5 branch as soon as I verify that it's enough.

[2016-12-07 12:43] wstrange commented on #10439
I can see the value in integrating Vault, and it is something that I would be interested in.

That being said, Vault is a huge piece of infrastructure, and quite opinionated (that is not a bad thing).

Creating a Kubernetes dependency on Vault would be a mistake.   Some kind of plugin makes sense -so the issue is perhaps better captured as  "make it easy to create secret plugins"

[2016-12-07 13:28] gmarek commented on #37853
I created two PRs with reverts, one for 1.5 and one for head (different ones because of huge @smarterclayton's refactoring).

[2016-12-07 13:47] k8s-merge-robot opened #38288 "[k8s.io] Services should work after restarting kube-proxy [Disruptive] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.5/127/

Failed: [k8s.io] Services should work after restarting kube-proxy [Disruptive] {Kubernetes e2e suite}

[code]

Previous issues for this test: #29514

[2016-12-07 13:52] mogthesprog commented on #38134
Yeah sure, I'll knock it up this evening then tag you in the PR :)

[2016-12-07 13:54] dilation commented on #28272
Our use case for this is as follows: We'd like to run [Akka](http://akka.io/) applications in containers with Kubernetes. The new version of [Akka remoting](http://doc.akka.io/docs/akka/2.4.11/scala/remoting-artery.html) uses the [Aeron](https://github.com/real-logic/Aeron/) library for network communication. Aeron uses shared memory, and the default 64m is definitely not enough for it. [Here](htt

[2016-12-07 13:57] wernight commented on #4710
Secrets are exposed as files by default. You can also expose them as environment variables (just check that you can access them through your Java stack). However if you change them, you'll need to restart the Pod for the changes to get picked up.

[2016-12-07 13:59] wojtek-t commented on #38273
I double checked that the flags are correctly passed. There is __exactly one__ controller-manager and it's command line is like this:
[code]

[2016-12-07 14:42] justinsb opened #38290 "User reported issue: `invalid argument "" for --etcd_quorum_read=: strconv.ParseBool: parsing "": invalid syntax`"
Slack user "nalin" reported an issue `invalid argument "" for --etcd_quorum_read=: strconv.ParseBool: parsing "": invalid syntax`

Looking at the code this makes sense.  Will fix.

[2016-12-07 15:17] jayunit100 commented on #33572
dont think this is a priority for now.

[2016-12-07 15:17] #33572 closed

[2016-12-07 15:17] wojtek-t commented on #38273
@saad-ali @smarterclayton @timothysc @thockin @davidopp

This is a regression that was introduced in https://github.com/kubernetes/kubernetes/pull/35583 and broke rate-limitter.
Rate limitter is used among others to:
- rate-limiting evictions in node-controller
- throttling requests send from single client to apiserver
That means, that in my opinion this should be a release blocker. I'm adding a l

[2016-12-07 15:22] liggitt commented on #38273
agree it's a blocker. is there a reason not to return to the tested ratelimiter that was in place prior to that PR?

[2016-12-07 15:23] k8s-merge-robot opened #38293 "[k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-1.5-test/154/

Failed: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}

[code]

Previous issues for this test: #29647 #35627

[2016-12-07 15:24] wojtek-t commented on #38273
I'm fine with that, though automatic revert is no longer possible.

[2016-12-07 15:27] wojtek-t commented on #38273
@lavalamp

[2016-12-07 15:29] mikedanese commented on #38187
What solution are you proposing? Better documentation? We can't change the behavior as it's working as it was intended to work and we can't break compatibility.

A standalone kubelet still runs static pods.

I don't understand this statement.

Are you sure about this? This looks like it's the same behavior as always.

[2016-12-07 15:36] liggitt commented on #38273
opened master PR for discussion at #38294
will pick if agreed on

[2016-12-07 15:39] smarterclayton commented on #38273
Let's revert to known working.

[2016-12-07 15:42] timothysc commented on #38273
+1 for blocker.  I'm more concerned how this passed testing.

[2016-12-07 15:45] kargakis commented on #38274
Can you return the logs from the manager?
[code]
cc: @kubernetes/sig-openstack

[2016-12-07 15:49] gnufied opened #38295 "pv_controller does not uses exponential backoff"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.1499+174305f0a5dacd", GitCommit:"174305f0a5dacdbd2687d9133e31d7b1f69cd14a", GitTreeState:"clean", BuildDate:"2016-12-06T20:09:22Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"}
Server V

[2016-12-07 15:59] ivan4th commented on #38187
I suspect that in 1.4 pod GC was working in a bit different manner (see https://github.com/kubernetes/kubernetes/blame/ce93c81029a6de1263715ea655d53756bc692e88/pkg/controller/podgc/gc_controller.go#L155), so the issue was less obvious because gc was either deleting mirror pods less often or was not deleting them at all. So kubelet behavior didn't change in this respect, it was always incorrect wit

[2016-12-07 16:11] mikedanese commented on #38187
The node controller was responsible for this in v1.4. https://github.com/kubernetes/kubernetes/blob/v1.4.6/pkg/controller/node/controller_utils.go#L45, it's possible that the gc controller acts with lower latency.

[2016-12-07 16:15] mattymo commented on #38187
@mikedanese What is the plan for kubeadm (or any other deployment tool) for 1.5? Register master node + taint or don't register master node?

[2016-12-07 16:16] felixbuenemann commented on #23485
This feature is less obscure than you think. For example [DEIS Workflow](https://deis.com/workflow/) requires an idle timeout of 1200 seconds and it keeps resetting to 60 seconds whenever kubernetes updates the ELB, which happens every time a node is added or removed or the pods that are attached to the service change.

[2016-12-07 16:19] kargakis commented on #32947
We need to update the test to reduce the log output. I am going to close this issue since ~200 comments make it really difficult to parse, and have the bot open a new one once it occurs again.

[2016-12-07 16:19] #32947 closed

[2016-12-07 16:23] jayunit100 opened #38297 "improve debugging of API failures due to DeepEquals comparison failures."
**Is this a request for help?** no

**What keywords did you search in Kubernetes issues before filing this one?** API json

**What happened**:

API Unit tests print out hexidecimal output for some fields (i.e. fields that are pointers)  when DeepEquals fails.

**What you expected to happen**:

API Unit tests print out human readable failures.

**How to reproduce it** (as minimally and precisely as

[2016-12-07 16:25] thockin commented on #37853
I also reverted that PR (and one that built on it) and I saw three failures last night.

[2016-12-07 16:27] krousey opened #38298 "HPA test can hang indefinitely"
I was diagnosing the test timeout in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new/76 and saw that

[code]

The interesting part is

[code]

It seems to hit [ResourceConsumer.CleanUp()](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling_utils.go#L301) and hang. I think it's attempt

[2016-12-07 16:31] ivan4th commented on #38187
Yes, it's probably due to #37365

[2016-12-07 16:31] thockin commented on #37853
I have 3 machines all night, all running a patched kubelet.

* 973v: running normally, as I thrash a service and pods.
* avqf: SIGSTOP kube-proxy, run iptables-save | iptables-restore in a loop
* aajj: SIGSTOP kube-proxy, still thrashing pods

973v failed twice last night (I manually reset after failure).  Logs: https://storage.googleapis.com/thockin-dev-public/kernel-crashes-37853/serial.973v

av

[2016-12-07 16:38] hongchaodeng commented on #36290
@justinsb
All fixed. Could we close this?

[2016-12-07 16:39] hongchaodeng commented on #37994
@caesarxuchao
It's fixed.
Could we close this?

[2016-12-07 16:41] thockin commented on #37853
Running now with @gmarek's exact patch applied

[2016-12-07 16:51] #36290 closed

[2016-12-07 17:09] gmarek commented on #37853
It's possible, and quite likely, that there's more than one trigger.

[2016-12-07 17:18] Crassirostris commented on #37241
It seems like someone introduced some changes, which started to log really long messages

Following lines appeared in the log:

[code]

[2016-12-07 17:20] xiang90 commented on #38253
@wojtek-t I will give it a try.

[2016-12-07 17:22] dchen1107 commented on #38247
@dashpole Can you help triaging this one?

[2016-12-07 17:23] dashpole commented on #38247
Working on it now.

[2016-12-07 17:43] MrHohn commented on #37417
The latter failures(https://github.com/kubernetes/kubernetes/issues/37417#issuecomment-265431790) were fixed by #34053.

May need to cherry-pick it into 1.4.

[2016-12-07 17:43] thockin commented on #37853
I now have a 4th machine that is running iptables but NOT kubelet.

[2016-12-07 17:45] exarkun opened #38301 "Pods using EBS-backed PVC sometimes get stuck."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

unmount
umount
Error checking if mountpoint
---

**Is this a BUG REPORT or FEATURE

[2016-12-07 17:45] yujuhong commented on #37316
One more item:
- Support native docker networking

[2016-12-07 17:55] timothysc commented on #37853
Still no repro on my end, ran over night and restarted this a.m.

[2016-12-07 17:58] george-angel commented on #32295
Something similar happened today, bu this time I got a lot more debugging done.

`df` inside the container:

[code]

`lsblk` on the host:

[code]

kubelet logs:

[code]

The 20G pod and the 400G pod respectively:

[code]

The pvcs:

[code]

And screenshots of volumes in AWS :

![2016-12-07-171405_1690x295_scrot](https://cloud.githubusercontent.com/assets/1801067/20979828/1c761a58-bca6-11e6-9ac9-cb

[2016-12-07 18:01] dashpole commented on #38247
Here are the steps taken during the test, with the error that triggered the test failure at the end.  I omitted
[code]

Final Error:
`failed to wait for pods responding: pod with UID 7553b69a-b98b-11e6-ab97-42010af00042 is no longer a member of the replica set.  Must have been restarted for some reason.`

[2016-12-07 18:02] derekwaynecarr opened #38303 "Author a node e2e test that verifies live-restore functionality in docker"
Newer versions of docker have the ability to keep containers alive during daemon downtime.

See: https://docs.docker.com/engine/admin/live-restore/

For kubelet's that integrate with the docker runtime, we should author a node e2e test that verifies enabling this feature works as expected in kubelet and pods remain alive and well after a restart.

/cc @kubernetes/sig-node @sjenning @mrunalp

[2016-12-07 18:02] deads2k commented on #37428
@ncdc the fix you had was already in kube, right?

[2016-12-07 18:06] dashpole commented on #38247
The test has changed from this run to head: with the difference being (added by #35235, and updated by #36199):

[code]

[2016-12-07 18:06] caesarxuchao commented on #37994
Fixed by #38200. Closing.

[2016-12-07 18:06] #37994 closed

[2016-12-07 18:07] thockin commented on #38273
ACK

On Wed, Dec 7, 2016 at 7:43 AM, Timothy St. Clair <notifications@github.com>
wrote:

[2016-12-07 18:09] timothysc commented on #4301
I debate if we should close this issue in preference for rescheduling & controller rectification.
/cc @jayunit100 - please evaluate.

[2016-12-07 18:12] thockin commented on #10439
Warren: I don't want to presume the design - I want all options on the
table for consideration :)

On Wed, Dec 7, 2016 at 4:44 AM, Warren Strange <notifications@github.com>
wrote:

[2016-12-07 18:12] caesarxuchao commented on #38216
Are there more context/use cases for the problem?

[2016-12-07 18:13] timothysc commented on #10397
Closing in preference of: #20064

[2016-12-07 18:13] #10397 closed

[2016-12-07 18:14] gmarek commented on #37853
@timothysc - what OS image/kernel version are you using?

[2016-12-07 18:17] spxtr commented on #38103
GittHub reverts do this, so please use your own branch and `git revert` manually.

We can close PRs like #37013 with a message saying "please make a new PR from your own fork" as soon as they are opened. Is that worth doing? Do we also close revert branches?

[2016-12-07 18:20] timothysc commented on #37853
RHEL 7.3.2 - 3.10.0-327.28.2.el7.x86_64
F24 - 4.8.11-200.fc24.x86_64

It's probable we are carrying a patch.

[2016-12-07 18:24] krousey opened #38305 "Add timeouts back to e2e tests"
In https://github.com/kubernetes/kubernetes/issues/37981, it appears that at least 2 test timeouts are caused by proxy requests to pods hanging indefinitely (at least hours). The client in the e2e tests should timeout these requests within a reasonable limit.

[2016-12-07 18:26] #36034 closed

[2016-12-07 18:26] krousey commented on #38305
@wojtek-t I marked this as a p1 non-release-blocker issue for 1.5. I would like this fixed for 1.5 because it's causing the entire job to timeout and not report results for individual tests. This would be a test stability fix to improve the signal we get. Do you have any objections to adding timeouts back?

[2016-12-07 18:28] ncdc commented on #37428
@deads2k which fix are you referring to?

[2016-12-07 18:28] jingxu97 commented on #32295
@george-angel, which version of kubernetes you are using? We recently have a fix for this type of error #33796. Could you please check whether you have this fix in your setup? Thanks!

[2016-12-07 18:29] krousey commented on #37981
I boiled this down so far to 2 non-blocking test issues for 1.5: #38298 and #38305. Additionally, the last run is completely green. The run before that had an individual test failure due to the soft lockup issue. I did manually intervene in that suite by rebooting the node so the test could finish.

[2016-12-07 18:29] #37981 closed

[2016-12-07 18:30] thockin commented on #38103
If *all* we had were revert branches, I could live with that, but we have
some that appear to be work branches.  We should quash that.

On Wed, Dec 7, 2016 at 10:17 AM, Joe Finney <notifications@github.com>
wrote:

[2016-12-07 18:41] k8s-merge-robot opened #38307 "ci-kubernetes-e2e-gci-gce-serial-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.5/128/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid podAffinity is rejected because of the LabelSelectorRequirement is invalid {Kubernetes e2e suite}

[code]
Issues about this test specifically: #35279

Failed: [k8s.io] Scheduler

[2016-12-07 18:41] k8s-merge-robot opened #38308 "[k8s.io] Pods should support remote command execution over websockets {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging/74/

Failed: [k8s.io] Pods should support remote command execution over websockets {Kubernetes e2e suite}

[code]

[2016-12-07 18:41] liggitt commented on #38273
Added a unit test for multi-threaded use of the throttler that catches this issue in https://github.com/kubernetes/kubernetes/pull/38306/

[2016-12-07 18:45] timstclair commented on #34990
Yes, the latest failures are just a flake introduced by https://github.com/kubernetes/kubernetes/pull/37856

The bounds need to be adjusted for the misc container. I'll send a PR soon.

[2016-12-07 18:56] enisoc commented on #38248
The logs for the sample failure link in the original comment strangely don't contain any mention of pods named `pod-init-*`. I found another [sample failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master/10#k8sio-pods-should-invoke-init-containers-on-a-restartalways-pod) that does have such mentions in its [l

[2016-12-07 18:57] k8s-merge-robot opened #38312 "ci-kubernetes-e2e-aws-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws-release-1.5/73/

Run so broken it didn't make JUnit output!

[2016-12-07 19:09] wojtek-t commented on #38298
@krousey - great investigation. I had a hypothesis that HPA tests can hang forever in the past but didn't have any strong argument that this is really the case. It seems that you found it.

[2016-12-07 19:10] wojtek-t commented on #38305
Copying what I wrote in the PR where @krousey mentioned that issue:

@krousey - I think this may not only be the issue of upgrade tests. For example this might be the same issue: https://github.com/kubernetes/kubernetes/issues/38066 (though I didn't yet have time to investigate it, but from what @ixdy wrote there it is possible).
I don't feel like an expert in this area, but unless I'm not missing

[2016-12-07 19:10] jessfraz commented on #38103
oooo yes I am +1 this, i hate straggling branches

On Wed, Dec 7, 2016 at 10:30 AM, Tim Hockin <notifications@github.com>
wrote:

[2016-12-07 19:12] krousey commented on #38305
@wojtek-t I don't think we should set it in production code. I think we should set the timeout in test, and hard fail the calls that timeout, but allow the suite to finish. That way the timeouts get reported as failures, can aide in debugging the underlying problem, and not waste an entire 7 hour test run. Thoughts?

[2016-12-07 19:14] FeatherKing commented on #38068
@abrarshivani setting disk.enableuuid seemed to clear this up in my test cluster! thank you!

[2016-12-07 19:16] jingxu97 commented on #34303
I checked the log, the pod was deleted fine not sure why the resource use is not released.

[2016-12-07 19:17] wojtek-t commented on #38305
I would like to avoid differences between test & production code. I completely agree that we should allow for debugging underlying problems, though if we set this timeout in production, what is our store to say for clients for hanging forever request if that happens?
[To be clear, if you really don't agree with me, I don't want to block adding back the timeout. Feel free to add it back to speed up

[2016-12-07 19:20] enisoc commented on #38250
In the sample failure linked above, the error is "timed out waiting for the condition" on [this line](https://github.com/kubernetes/kubernetes/blob/f894cbb340da27/test/e2e/pods.go#L1010). The pod name generated for this test is `pod-init-f2d23319-bc05-11e6-bed4-0242ac110008`.

The condition it's waiting for is that there are 2 InitContainerStatuses and the first one is Terminated with ExitCode 0 w

[2016-12-07 19:25] krousey commented on #38305
@wojtek-t I understand what you mean, but I think our tests should make a best effort to report results. I would like to see a timeout added in such a way that:

1. Doesn't hang the entire test job for 10 hours.
2. Doesn't ignore the time out. Ideally it would fail the test that caused the time out, and we could use the failure to investigate the issue.
3. Doesn't interfere with normal long-lived

[2016-12-07 19:28] thockin commented on #37853
No crashes for me yet.  It's possible my own revert was incomplete.

[2016-12-07 19:35] thockin commented on #37853
If my testbed stays clean by EOD today I propose we merge the revert and test all night on wider scale.

[2016-12-07 19:40] #38188 closed

[2016-12-07 19:40] #38290 closed

[2016-12-07 19:40] gmarek commented on #37853
There's a proposal of flag-gating this behavior instead of reverting it: #38258

[2016-12-07 19:42] thockin commented on #38192
Can we leave this open to accumulate feedback?

On Wed, Dec 7, 2016 at 12:49 AM, Jan Šafránek <notifications@github.com>
wrote:

[2016-12-07 19:45] sjenning commented on #37853
@thockin I looked at the logs and all are showing the soft lockup in handle_mm_fault (really inlined handle_pte_fault) at the same function offset.

Both CPUs are spinning on the same page table lock (`0xffffea00074918f0` for serial.973v and `0xffffea0007316818` for serial.avqf)  but it seems neither of them actually hold the lock.  Could be corruption on the page table lock. Without a kernel memo

[2016-12-07 19:48] enisoc commented on #38248
Just a guess: This and related failures (#38249, #38250, #38251) could be related to old test code running against new behavior. In the version of these tests on master, extra steps have been added to copy InitContainers and InitContainerStatuses in and out of annotations before checking them:

https://github.com/kubernetes/kubernetes/commit/a55c71db4dbcb20d36ffabf86b17db3490ca911e#diff-dec94e1a17

[2016-12-07 19:55] krousey commented on #38239
Failing for the same reason as https://github.com/kubernetes/kubernetes/issues/38229#issuecomment-265319500

[2016-12-07 19:56] krousey commented on #38238
In the sheet, this is not a blocker, but no justification.

[2016-12-07 19:58] sjenning commented on #37853
@thockin ignore that last paragraph of my previous comment.  Just realize I searched for PTLOCKS not PTLOCK in the debian kernel config.

[2016-12-07 20:00] timothysc commented on #37792
That just seems wrong to me.

[2016-12-07 20:02] deads2k commented on #37428
The one where after compaction, you *always* got a "too old resource version" error.

[2016-12-07 20:03] ncdc commented on #37428
Yes, that's fixed.

[2016-12-07 20:12] timothysc commented on #168
I think we should move to close this issue, the root topic has been addressed but there are multiple side-threads that are on this issue where I believe they would be better served on other issues.

@vishh thoughts?

[2016-12-07 20:15] foxish commented on #38247
This shouldn't be a release blocker. The behavior has changed in 1.5, and the Node Controller no longer deletes pods. It's the PodGC's responsibility to delete them. So, without the extra wait added to let the PodGC cleanup the pods, the test is expected to fail.

[2016-12-07 20:21] deads2k commented on #38216
Off the top of my head

 1. rolebindings have a roleref
 1. secretvolumesources have a secret ref
 1. configmapvolumesources have a configmap ref which uses a local ref (which I was prevented from adding group and kind to when I made it).
 1. clusterspecs have a secret reference
 1. glusterfsvolumesources have an endpoints reference
 1. RBDvolumesources have a secret ref
 1. podspecs refer to serv

[2016-12-07 20:22] foxish commented on #38247
@saad-ali, backporting the test fix that was added in https://github.com/kubernetes/kubernetes/pull/36199 mentioned above, to 1.3 would fix it.

[2016-12-07 20:24] timothysc commented on #3518
@derekwaynecarr Can we close this out yet?

[2016-12-07 20:24] foxish commented on #38231
Same reason as https://github.com/kubernetes/kubernetes/issues/38247#issuecomment-265560696

[2016-12-07 20:24] wojtek-t commented on #38305
I agree with your goals here. Though since it seems that this is also a problem in other suites, I vote for decreasing 30 minutes to something smaller.
Is it possible to set timeout only on proxy calls? Do you want to hae a dedicated logic for it in apiserver?

[2016-12-07 20:25] derekwaynecarr commented on #37853
I would ask that we take https://github.com/kubernetes/kubernetes/pull/38258 rather than do a full revert.

[2016-12-07 20:25] timothysc commented on #3945
Closing this one, this is essentially inter-pod anti-affinity.

/cc @rrati

[2016-12-07 20:25] #3945 closed

[2016-12-07 20:28] saad-ali commented on #38251
Per spreadsheet, Lantao is taking ownership of this issue. Please triage this issue as blocker or non-blocker for the 1.5 release ASAP.

[2016-12-07 20:29] dchen1107 commented on #37853
@timothysc Thanks for the information. I am not surprised with your test results here. But I want to double check your kernel config. What is kernel.softlockup_panic on your test instances here? We did production search, and know the same problem occur on both GCI image (Linux version 4.4.21+ (chrome-bot@build297-m2) ) and CVM image (Debian 3.16.36-1+deb8u2 (2016-10-19)). But GCI image is configur

[2016-12-07 20:32] saad-ali commented on #38248
Thanks for the update @enisoc! Can you verify if this is expected or unexpected, i.e. can you please help triage these issues as blocker or non-blocker for the 1.5 release ASAP.

[2016-12-07 20:36] saad-ali commented on #38238
@Crassirostris You marked this test as a non-blocker in the spreadsheet, could you please provide justification here. As soon as you do, we can remove the release blocker label.

[2016-12-07 20:37] saad-ali commented on #38231
Ack, marking non-release blocking.

[2016-12-07 20:38] Random-Liu commented on #38248
The change in the master is not included in 1.5

[2016-12-07 20:39] saad-ali commented on #38230
Same comment as https://github.com/kubernetes/kubernetes/issues/38238:

@Crassirostris You marked this test as a non-blocker in the spreadsheet, could you please provide justification here. As soon as you do, we can remove the release blocker label.

[2016-12-07 20:46] saad-ali commented on #34060
Based on:

and the fact that the dynamic provisioning issue @jsafrane is investigating is in beta, I am marking this issue as non-blocking for the 1.5 release.

@jsafrane please continue your investigation, any fix that comes from it should go into 1.5.1

[2016-12-07 20:49] saad-ali commented on #38273
Revert PRs have been merged to master (PR #35583) and 1.5 (PR #38294).

@wojtek-t @liggitt Please verify and close this issue ASAP

[2016-12-07 20:50] bprashanth opened #38322 "Memory pressure shouldn't hard evict static pods"
If a node runs out of memory, we kill something. Then if there is memory pressure, we don't admit best effort (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L110). Maybe we can admit static-pods, even if they're best effort?

@kubernetes/sig-node if we can't differentiate static from non-static, maybe we can use the `scheduler.alpha.kubernetes.io/cri

[2016-12-07 20:50] saad-ali commented on #37903
@dchen1107 Based on this I will mark this as non-release-blocker. Please speak up ASAP if you disagree

[2016-12-07 20:52] timothysc commented on #37853
I've followed your pr and enabled it on both my machines.  It would be idea to have a 2nd person validating on their env's as well.  /cc @sjenning

[2016-12-07 20:55] k8s-merge-robot opened #38323 "TestRangeAllocatorFullyAllocated {userspace}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/903/

Failed: TestRangeAllocatorFullyAllocated {userspace}

[code]

[2016-12-07 20:56] #37900 closed

[2016-12-07 20:57] rmmh commented on #38323
probably caused by #27711

[2016-12-07 20:57] #37890 closed

[2016-12-07 20:58] rmmh commented on #38323
probably caused by #27711

@xiangpengzhao

[2016-12-07 20:58] #37936 closed

[2016-12-07 20:58] #37949 closed

[2016-12-07 20:58] #37950 closed

[2016-12-07 20:58] #37904 closed

[2016-12-07 20:58] #37905 closed

[2016-12-07 20:58] #37906 closed

[2016-12-07 20:58] #37907 closed

[2016-12-07 20:58] #37908 closed

[2016-12-07 20:58] #37910 closed

[2016-12-07 20:58] #37917 closed

[2016-12-07 20:58] #37924 closed

[2016-12-07 20:58] #37971 closed

[2016-12-07 20:58] #38003 closed

[2016-12-07 20:58] #38004 closed

[2016-12-07 20:58] #38005 closed

[2016-12-07 20:59] #37960 closed

[2016-12-07 20:59] #37969 closed

[2016-12-07 21:01] freehan commented on #37210
I have a PR. It has been merged and cherrypicked to 1.4. It will work in 1.4.7 and 1.5.
https://github.com/kubernetes/kubernetes/pull/37720

[2016-12-07 21:01] Random-Liu commented on #38248
@saad-ali @enisoc This is a non issue, we can mark this as non-release-blocker. I'll update detailed reason soon.

/cc @dchen1107 @erictune

[2016-12-07 21:02] freehan commented on #37210
If you want to bypass, change the service type from Loadbalancer to Nodeport. Then change it back to Loadbalancer with loadBalancerSourceRange field.

Or just create a new loadbalancer service.

[2016-12-07 21:06] thockin commented on #22212
Can we do something simple for static pods?

[2016-12-07 21:07] dchen1107 commented on #37853
@timothysc My concern is that with that enabled, you might ignore the real problem on your nodes triggered by #32577. Can you check your kernel log / serial port log / etc. to figure out if your instance ever panic during the tests?

[2016-12-07 21:10] euank commented on #37903
Thanks for doing some digging there, Dawn!

@saad-ali those errors that Dawn root-caused could have been different than the ones that originally opened this issue I think, but given we can't get more information on the original ones and it seems very likely to me that it's not a 1.5 issue (given similar errors occur on the 1.4 release CI branch), I'm fine with marking this as a non-release-blocker

[2016-12-07 21:12] hjacobs commented on #38279
You simply would create a secret with your password and use the secret in your Deployment `env` section: http://kubernetes.io/docs/user-guide/secrets/#using-secrets-as-environment-variables

I would generally advise looking at "The Twelve-Factor App" (using env vars for your app configuration) : https://12factor.net/

BTW: Spring Boot (we use it for Java microservices in Zalando) automatically sup

[2016-12-07 21:13] hjacobs commented on #38279
I would recommend joining one of the many Slack channels (http://slack.k8s.io/) and/or the mailing list for such support questions.

[2016-12-07 21:17] timothysc commented on #37853
No panics, I had a journal watch during the runs and rescan'd as well.

[2016-12-07 21:18] Random-Liu commented on #38248
The test failed in the following combination:
`test client (v1.3) + apiserver (v1.5/v1.4) + kubelet client (v1.3)`.

The full story is that:
* Test client side: `api.Pod` -> `v1.Pod`, alpha annotation is set. (v1.3)
* Apiserver side: (v1.5)
  * `v1.Pod -> api.Pod`: alpha annotation is used.
  * `api.Pod -> v1.Pod`: alpha & beta annotation is set.
* Kubelet client side: (v1.3)
  *  `v1.Pod` -> `api

[2016-12-07 21:19] hjacobs commented on #38267
A very quick answer on how we plan to do it (naive approach): create one Kubernetes Deployment per version and scale by number of pods, i.e. if you want 25% for versionA and 75% for versionB you have for example:

* Deployment myapp-a with replicas=2
* Deployment myapp-b with replicas=6
* Service "myapp" which selects all pods from both deployments (so using label selector "app=myapp" without sele

[2016-12-07 21:19] Random-Liu commented on #38249
Same reason with https://github.com/kubernetes/kubernetes/issues/38248#issuecomment-265576180.

[2016-12-07 21:20] Random-Liu commented on #38250
Same reason with https://github.com/kubernetes/kubernetes/issues/38248#issuecomment-265576180

[2016-12-07 21:20] Random-Liu commented on #38251
Same reason is https://github.com/kubernetes/kubernetes/issues/38248#issuecomment-265576180.

[2016-12-07 21:22] david-mcmahon commented on #38103
@thockin Looks like those branches were created accidentally by the SQ?

[code]

[2016-12-07 21:22] dashpole opened #38325 "[Upgrade test] "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node" in gke-[container_vm/gci]-1.3-[container_vm/gci]-1.5-upgrade-master"
Test has been failing 100% of the time in [gke-gci-1.3-container_vm-1.5-upgrade-master](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master/). Sample failure: [link](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master/17/#k8sio-kubelet-serial-slow-k

[2016-12-07 21:23] caesarxuchao commented on #38248
@Random-Liu, thanks for the nice summary.

I think this a known issue for @kubernetes/sig-api-machinery. https://github.com/kubernetes/kubernetes/issues/34508 is a proposal on how to solve it.

[2016-12-07 21:27] eparis commented on #38103
*boggle* how did the submit queue create a branch?

[2016-12-07 21:29] david-mcmahon commented on #38103
Perhaps it's better to say, the branch object own is the "Kubernetes Submit Queue" and that's all we know.

[2016-12-07 21:41] nikhiljindal commented on #38133
I tried again on fresh HEAD cluster and namespace deletion worked fine for me. I am going to wait till someone else reports the same issue.

[2016-12-07 21:52] dchen1107 commented on #37853
Great, thanks! I am reviewing @derekwaynecarr's pr: #38258. Let's also document this as known issue for 1.5 release (https://github.com/kubernetes/kubernetes/issues/37134) along with the flag (default: false).

[2016-12-07 21:53] saad-ali commented on #38325
Marking as release blocker for 1.5 until we have verification from @dashpole that this is not a release-blocker.

[2016-12-07 21:55] dashpole commented on #38325
cc:  @yujuhong

[2016-12-07 21:56] smarterclayton opened #38327 "kubectl get -o yaml probably/maybe shouldn't filter pods"
I don't think that `kubectl get -o yaml` should filter pods.  I could maybe be convinced, but as a user it doesn't seem to help me when I'm dealing with output.  Certainly printing the message seems wrong.

[code]

It seems unlikely to me that users want to see the info: message when they run `-o yaml` on get.  The output must be on stderr (so it doesn't break piping) which I did not check but we

[2016-12-07 21:56] smarterclayton commented on #38327
@kubernetes/sig-cli

[2016-12-07 21:56] david-mcmahon commented on #36059
I believe https://github.com/kubernetes/release/pull/176 should have replaced versionize-docs with generate-docs.

[2016-12-07 21:59] xsgordon commented on #38274
@idvoretskyi another one for the area/platform/openstack or equivalent label please.

[2016-12-07 22:00] k8s-merge-robot opened #38329 "ci-kubernetes-e2e-gci-gce-es-logging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-es-logging/1152/

Run so broken it didn't make JUnit output!

[2016-12-07 22:08] timothysc commented on #37853
/cc @mffiedler if you have cycles to cross-check.

[2016-12-07 22:14] nikhiljindal commented on #38262
Thanks a lot @liggitt for noticing and bringing this up. I am surprised that we ended up with a different prefix in federation. Did we change the prefix in kubernetes? (I assume no since that would have broken kubernetes upgrade).

Services was beta in 1.4 and remains beta in 1.5, so I we dont need to rush up the fix in 1.5. We should fix it but should be fine to fix in 1.6.

cc @kubernetes/sig-cl

[2016-12-07 22:17] jingxu97 commented on #38068
Close this issue since it is solved

[2016-12-07 22:17] #38068 closed

[2016-12-07 22:19] yujuhong commented on #38325
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master/17/#k8sio-kubelet-serial-slow-k8sio-regular-resource-usage-tracking-resource-tracking-for-100-pods-per-node

The docker memory usage was high (~500MB0 before running the test:
[code]
I checked the log and docker was up ~3.5 hours before running the test (2016-12-07T05:20 t

[2016-12-07 22:21] jingxu97 commented on #38301
@exarkun the log you posted starting from 1207 16:30:01.276015, do you have older logs before that time? Thanks!

[2016-12-07 22:21] Crassirostris commented on #38230
The problem is that in the 1.5 I upgraded kibana, but now it requires some procedures to rebuild its caches in order to work behind a proxy (https://github.com/kubernetes/kubernetes/pull/36103)

This rebuild takes up to 10 minutes (even 10 minutes timeout creates flakiness, https://github.com/kubernetes/kubernetes/issues/36809, which resulted in PR https://github.com/kubernetes/kubernetes/pull/382

[2016-12-07 22:21] Crassirostris commented on #38238
I wrote and explanation in https://github.com/kubernetes/kubernetes/issues/38230#issuecomment-265592163

[2016-12-07 22:25] liggitt commented on #38262
no, it's been that since 1.0:
https://github.com/kubernetes/kubernetes/blob/cd821444dcf3e1e237b5f3579721440624c9c4fa/pkg/registry/etcd/etcd.go#L35

[2016-12-07 22:26] saad-ali commented on #38230
Based on @Crassirostris's explanation, this is an expected failure, marking issue as non-release-blocking.

[2016-12-07 22:26] saad-ali commented on #38238
Thanks!

Based on @Crassirostris's explanation, this is an expected failure, marking issue as non-release-blocking.

[2016-12-07 22:27] dashpole commented on #38325
`Dec  6 15:34:29.475: INFO: Resource usage on node "gke-bootstrap-e2e-default-pool-f364655f-hrfi":
I1206 15:34:29.484] container cpu(cores) memory_working_set(MB) memory_rss(MB)
I1206 15:34:29.484] "/"       0.296      2067.30                1.61
I1206 15:34:29.484] "runtime" 0.020      1300.57                515.68
I1206 15:34:29.484] "kubelet" 0.208      56.91                  47.21
I1206 15:34:

[2016-12-07 22:29] jingxu97 commented on #37657
@rkouj could you help on this PR?

[2016-12-07 22:29] dashpole commented on #38325
[code]

[2016-12-07 22:30] dashpole commented on #38325
Yeah, looks like the numbers are similar for other runs.

[2016-12-07 22:33] derekwaynecarr commented on #37853
To state what I stated on the burndown call, the Red Hat position is that the feature should be flag gated, and default to off for the community.  If additional time/testing showed it was surfaced on a Red Hat flavor OS, I would prefer we at Red Hat fix the kernel bug that the feature tickled in the presence of an actual reproduction.  Allowing the flag gives us all more time to run tests, reverti

[2016-12-07 22:33] nikhiljindal commented on #38262
hmm I see we chose the `/service` prefix in federation in https://github.com/kubernetes/kubernetes/pull/25232. I didnt realize that in the review. Assume the prefix change was not intentional.
cc @jianhuiz

[2016-12-07 22:34] timothysc commented on #1517
This issue is sufficiently vague and old that I'm going to close for now.  If folks would like to reopen, please feel free.

[2016-12-07 22:34] #1517 closed

[2016-12-07 22:36] saad-ali commented on #37853
We are proceeding with the flag gate (PR https://github.com/kubernetes/kubernetes/pull/38258),  instead of a full revert (PRs https://github.com/kubernetes/kubernetes/pull/38287 and https://github.com/kubernetes/kubernetes/pull/38285). `do-not-merge` has been removed from the flag gate PRs, and merge is in progress. Once merged, we will cherry pick it to 1.5.

[2016-12-07 22:46] dashpole opened #38331 "[Upgrade test] "[k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover" in ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master"
Test has been failing <20% of the time in [ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master/). Sample failure: [link](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master/11)

Based on

[2016-12-07 22:50] MrHohn commented on #31843
Does not seems to exist any more. Closing.

[2016-12-07 22:50] #31843 closed

[2016-12-07 22:50] thockin commented on #37853
6+ hours with no crash for me.  I see no reason not to commit the flag gate.

[2016-12-07 22:51] bprashanth commented on #22212
handling oom (https://github.com/kubernetes/kubernetes/issues/38322) seems like it would have more impact than out of disk, for which we don't have accounting right now anyway

[2016-12-07 22:52] saad-ali commented on #37903
Thanks @euank. Please keep a close eye on this issue. We are pushing the release to Monday, Dec 12. So if any more data comes in indicating that this should be a release-blocker, please bring it up immediately and loudly.

[2016-12-07 22:58] ymqytw opened #38332 "StrategicPatch should delete all duplicates from a list of maps"
[StrategicPatch](https://github.com/kubernetes/kubernetes/blob/v1.6.0-alpha.0/pkg/util/strategicpatch/patch.go#L659) should delete all duplicates from a list of maps.
Currently it just delete the first one appears in the list.

We should make StrategicPatch delete all duplicates no matter it is a list of maps or a list of primitives. (StrategicPatch don't support list of lists).

Ref : https://git

[2016-12-07 23:06] dashpole commented on #38325
This test always fails on gci version 1.3.  Check out that testgrid [here](https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial-release-1.3).
In the 1.3 serial tests, memory rss is consistently ~500MB, whereas after 1.4, it decreases to ~275MB, which passes our resource usage tests consistently.
This is worth investigating, but is not related to upgrading from one version to another, and is

[2016-12-07 23:08] MrHohn commented on #34602
@BoriszhangSec Can you please close this issue if it is resolved? Thanks.

[2016-12-07 23:22] timothysc commented on #38228
Re-jig'd so we have a single issue vs. several.

@bradfitz what is the ETA on 1.8 (Jan 31st)?

[2016-12-07 23:30] KingJ commented on #38068
Just to confirm, setting Disk.EnableUuid to True in my worker VM's configuration did allow the disk to successfully mount.

[2016-12-07 23:32] timothysc commented on #37609
@jayunit100 please eval, por favor.

[2016-12-07 23:35] timothysc commented on #35317
@rrati could you please evaluate this against your fields PR.

/cc @kubernetes/sig-scheduling

[2016-12-07 23:36] timothysc commented on #35117
@wojtek-t can we close this, or are there still work items here?

[2016-12-07 23:40] timothysc commented on #34594
This is expected behavior, this appears from standby controllers and schedulers.  You can tune these parameter on the binaries.. see leader-election params under --help.

closing, not an bug

[2016-12-07 23:41] timothysc commented on #34397
@xiaoshengaimm I'm not certain what exactly you are asking for here.  My apologies for the confusion.

[2016-12-07 23:42] timothysc commented on #34336
/cc @jeremyeder @sjug

[2016-12-07 23:45] timothysc commented on #26043
Can we close this issue?

[2016-12-07 23:45] bradfitz commented on #38228
~Next week is beta2.
~Jan 1st is the first (and hopefully only) release candidate.
~Feb 1st final

Details in https://github.com/golang/go/wiki/Go-Release-Cycle

Bug reports in the next week or two would be ideal. Maybe three.

The later we hear about problems, the harder it is to fix.

[2016-12-07 23:45] rkouj commented on #37657
Ack

[2016-12-07 23:46] timothysc commented on #28842
Can we close this?  It sounds like an opt-in, not default on.

[2016-12-07 23:51] timothysc commented on #33188
@jayunit100 && @ConnorDoyle per 1.6 doc assigning to you.

[2016-12-07 23:52] enisoc opened #38336 "GCE Node Upgrade should respect PodDisruptionBudget"
As part of [pod safety](https://github.com/kubernetes/kubernetes/pull/34160) for [StatefulSets](https://github.com/kubernetes/features/issues/137), we ensured that [kubectl drain uses the eviction subresource](https://github.com/kubernetes/kubernetes/issues/34277) so it respects [PodDisruptionBudget](https://github.com/kubernetes/features/issues/85).

Unfortunately, there is no script or recommend

[2016-12-07 23:53] derekwaynecarr commented on #168
I think this can be closed.

On Wed, Dec 7, 2016 at 3:13 PM Timothy St. Clair <notifications@github.com>
wrote:

[2016-12-07 23:54] #26043 closed

[2016-12-07 23:55] yujuhong commented on #38325
I thought the test was run *after* the upgrade.... so it was the pre-upgrade test?

[2016-12-07 23:56] thockin commented on #37853
Bad news.  It just triggered for me on my "normal operating mode" test case.

[2016-12-07 23:57] mml commented on #37035
Yes, that's correct.

[2016-12-07 23:57] #37035 closed

[2016-12-07 23:58] krousey commented on #38325
@yujuhong For this particular test here's the versions:

Master: 1.5
Nodes: 1.3
E2E: 1.3

[2016-12-08 00:00] timothysc commented on #32223
closed by #32520

[2016-12-08 00:00] #32223 closed

[2016-12-08 00:00] timothysc commented on #30812
closed by #32520

[2016-12-08 00:00] #30812 closed

[2016-12-08 00:02] timothysc commented on #31977
@jayunit100 can you evaluate this and report please.

[2016-12-08 00:03] #168 closed

[2016-12-08 00:03] jingxu97 commented on #37333
After talked with @Random-Liu, the GlusterFS test did run, but it could not show on the build.log because the node was rebooted.

The root cause of the issue might be caused by the following:

When GlusterFS volume is mounted on GCI image cluster, the GCI mounter script will create a container and then execute mount in the container. Because mount for GlusterFS will run a glusterfs daemon, the con

[2016-12-08 00:04] yujuhong commented on #38325
Thanks! I think that's something we should always highlight when talking about an upgrade test failure :)

I don't see there is anything that needs to be done for this failure. Let's just close it.

[2016-12-08 00:04] saad-ali commented on #37241
1.5 release blocking issue? If so, please assign 1.5 milestone and `release-blocker` label

[2016-12-08 00:05] dmrub opened #38337 "kubelet cannot find device for dir /var/lib/kubelet in cached partitions map"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "btrfs kubelet"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REP

[2016-12-08 00:06] timothysc commented on #31709
@jayunit100 could you look into this.

[2016-12-08 00:08] saad-ali commented on #37903
@euank FYI, there is a sister bug for the GCI version of this test suite: https://github.com/kubernetes/kubernetes/issues/38042 PTAL at that as well

[2016-12-08 00:09] yujuhong commented on #37912
@fejta there are no logs collected for this build since it timed out, and nothing to be debugged...

[2016-12-08 00:09] #37912 closed

[2016-12-08 00:12] timothysc commented on #27954
@balajismaniam could you please look into this one?

[2016-12-08 00:13] timothysc commented on #27484
@ConnorDoyle Can you investigate this one?

[2016-12-08 00:15] timothysc commented on #27093
@ConnorDoyle want to triage this one, it's pretty heavy.

[2016-12-08 00:16] timothysc commented on #25663
@fgrzadkowski are you planning on working on this?

[2016-12-08 00:18] timothysc commented on #25649
I'm not entirely certain what you are asking.  There exists node affinity functions, as well as taints and tolerations to treat nodes as "special".  I'm going to close this issue b/c it lacks a detailed description.  If you have further questions, please feel free to reopen.

[2016-12-08 00:18] #25649 closed

[2016-12-08 00:20] timothysc commented on #25557
@ConnorDoyle @balajismaniam , could you triage this one?

[2016-12-08 00:21] timothysc commented on #24996
@jayunit100 This is part of the 1.6 cleanup items for you.

[2016-12-08 00:22] Random-Liu commented on #38331
I checked the sample failure, the failure message is:
[code]
These are all pods running before node restart:
[code]

In v1.5 we change addon pods to use deployment.
After master is upgraded, there is an interval that all addon pods are doing rolling upgrade. The restart test is just running at that time. So before restart, the test saw some old pods, and after restart those old pods were gone.

Th

[2016-12-08 00:23] jessfraz commented on #38228
@bradfitz ok I've looked into some of the errors and [attached the entire logs](https://gist.github.com/anonymous/075016cec95fe2bf3a67da5b0b4ecd6d):

1. **`os.Rename` is returning `file exists` when it says in the doc `// Rename renames (moves) oldpath to newpath. If newpath already exists, Rename replaces it.`. I tried to see anything that changed to the `os.Rename` function and could not find an

[2016-12-08 00:23] timothysc commented on #24408
TL;DR, where are we at with this issue?

[2016-12-08 00:23] exarkun commented on #38301
Probably.  How much older would you like?

[2016-12-08 00:23] dims commented on #37853
@thockin Same call trace signature as before? (share please?)

[2016-12-08 00:24] euank commented on #37903
Thanks for the heads up

[2016-12-08 00:24] #38325 closed

[2016-12-08 00:24] Random-Liu commented on #38325
Close this one according to https://github.com/kubernetes/kubernetes/issues/38325#issuecomment-265613354.

[2016-12-08 00:25] timothysc commented on #23758
@jayunit100 rescheduler problem, enqueue for interleave on 1.6, or 1.7-ish.

[2016-12-08 00:27] timothysc commented on #22554
@abhgupta ok to close?

[2016-12-08 00:27] philk commented on #28519
Interestingly enough this also happens when requesting spot instances from an autoscale group. About 1 in 50 instances end up stuck in this non-state:

1. node boots
1. kubelet starts and registers itself
1. controller-manager deletes the node `Recording Deleting Node blah because it's not present according to cloud provider`
1. kubelet sits around doing nothing responding happily the `/healthz` w

[2016-12-08 00:28] jessfraz commented on #38228
I'm going to try and reproduce in the playground / locally.

[2016-12-08 00:30] timothysc commented on #22301
I'm going to enqueue this now.

[2016-12-08 00:30] #19954 closed

[2016-12-08 00:30] ConnorDoyle commented on #31709
@DreadPirateShawn thanks for the detailed report, I can start looking in to why this occurred. Meanwhile, is there any more info to note about this issue? (have you seen it before or since?)

[2016-12-08 00:32] #18754 closed

[2016-12-08 00:34] timothysc commented on #18438
@ConnorDoyle @balajismaniam want to triage this for tech-debt paydown.

[2016-12-08 00:40] dchen1107 commented on #37853
@thockin at this moment, I suggest you run your "normal operating mode" test with 1.4 branch on your "bad" nodes to see if we can repro here. :-)

Soft lockup is kernel issue, and many thing in the userspace can trigger it. But I don't think we can find all the possibilities in a given time. For example, there is an internal issue I filed recently against glusterfs support, which also causes a sof

[2016-12-08 00:40] jingxu97 commented on #38301
Basically starting from when you run the test

[2016-12-08 00:43] k8s-merge-robot opened #38340 "[k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging/75/

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27115 #28070 #30747 #31341 #35513 #37187

[2016-12-08 00:44] mml opened #38341 "Need a way to force the modified-index when starting etcd"
Rollback to etcd 2.3.7 is working well, but we have one issue, which is that the `resourceVersion` numbers go backward.  This could really confuse clients, at best.  It would be great if there was a way to set a minimum or starting `modified-index` so that at least the numbers do not go backward.  The numbers don't have to match.

[code]

@hongchaodeng @xiang90 @wojtek-t

[2016-12-08 00:49] bradfitz commented on #38228
(1) is expected. See https://beta.golang.org/doc/go1.8#os and the mention of Rename. This was done to make Rename act the same on Unix as Windows. See golang/go#14527. We should probably add more docs to http://beta.golang.org/pkg/os/#Rename ... Filed https://github.com/golang/go/issues/18240 for that.

(2) is also expected. See https://beta.golang.org/doc/go1.8#encoding_json

(3) is because the c

[2016-12-08 00:50] thockin commented on #38103
Any feeling on whether it is safe to nuke these (obviously errant) branches?

On Wed, Dec 7, 2016 at 1:30 PM, David McMahon <notifications@github.com>
wrote:

[2016-12-08 00:50] euank commented on #38042
The resource leak is because of the timeout, and no logs get uploaded also because of it.

[code]

I think that it's failing to actually interrupt testing since when it tried, at 50m, the tests still kept running for another 15 minutes before finishing. Not sure why the interrupt bit didn't work yet ...

[2016-12-08 00:53] jessfraz commented on #38228
wow thanks! that was fast, you must have a bunch of that just stored in your brain

[2016-12-08 00:56] david-mcmahon commented on #38103
@thockin I can say they are no official branches and are not related to releases AFAIK.  Unfortunately we don't have any real ownership of them beyond "SQ".  I'd say nuke them.

[2016-12-08 00:57] dsnet commented on #38228
You see enough of the same failures over and over and you learn to identify the probable cause fairly quickly.

I agree with @bradfitz's assessment of the probable failures.

[2016-12-08 01:00] dsnet commented on #38228
Check if there are custom `net.Conn` implementations being used in code related to (7). In the cases where a test timed out, a fair number of them was because the test relied upon a buggy `net.Conn` implementation.

See https://godoc.org/golang.org/x/net/nettest for a tool to test for compliance.

[2016-12-08 01:01] Random-Liu commented on #38331
/cc @MrHohn

[2016-12-08 01:06] thockin commented on #38103
cleaned up

[2016-12-08 01:06] #38103 closed

[2016-12-08 01:09] thockin commented on #37853
Logs:
https://storage.googleapis.com/thockin-dev-public/kernel-crashes-37853/serial.973v-with-38287.txt

It looks the same to me.

On Wed, Dec 7, 2016 at 4:24 PM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-12-08 01:11] thockin commented on #37853
Dawn, good idea.  I'll sync to 1.4 and push that to my nodes

On Wed, Dec 7, 2016 at 4:40 PM, Dawn Chen <notifications@github.com> wrote:

[2016-12-08 01:14] exarkun commented on #38301
Hm.  I picked a starting point just before the `kubectl apply -f ...` which resulted in the hung pod.  The original deployment of the pod was days ago.  I think there are several hundred megs of logs between that point and now.

[2016-12-08 01:14] #34990 closed

[2016-12-08 01:14] euank commented on #37903
Timeout resulting in node logs being lost...

We need to make sure that test timeouts don't lead to resource leaks or node logs being lost.

cc @fejta, the resource leak looks like it could cause some trouble if left unchecked.

[2016-12-08 01:18] bradfitz commented on #38228
For background on what @dsnet mentioned, see https://beta.golang.org/doc/go1.8#net

[2016-12-08 01:22] k8s-merge-robot opened #38346 "[k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging/79/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28091

[2016-12-08 01:22] bgrant0607 commented on #22368
Resources we need to think about versioning include:
* ConfigMap
* Secret
* PodTemplate
* Template

[2016-12-08 01:26] MrHohn commented on #38331
@dashpole @Random-Liu Thanks for the investigation.

Yeah we introduce [a lag for deleting the old addon resources](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/kube-addons.sh#L207-L209) to support zero downtime addon update. This is explicitly needed for 1.5 because we migrated a big part of addons from RCs to Deployments(#36008).

Sorry about the confusing si

[2016-12-08 01:44] rkouj commented on #37657
The quick way is to check if the dir exists and based on that we fail.
I'm investigating if there is a better way to do this. (to somehow prevent the race from happening).

Will post if I find something.

[2016-12-08 01:44] Hui-Zhi commented on #25557
@ConnorDoyle <https://github.com/ConnorDoyle> @balajismaniam <https://github.com/balajismaniam> I think for now we add it to Kubelet as a alpha version is good enough, and once we decide to enable more GPU capabilities, and this will need to enable NVML, then we can add it to Cadvisor, do you think the same?

Regards,
Hui-Zhi Zhao

[2016-12-08 01:46] Random-Liu commented on #34604
This is fixed in 1.5 https://github.com/kubernetes/kubernetes/issues/27023.

Since 1.5 is out soon, I don't think we need to cherry-pick a test fix into 1.4. Close this one. Feel free to reopen if you are uncomfortable with closing this. :)

[2016-12-08 01:46] #34604 closed

[2016-12-08 01:49] freehan opened #38349 "servicecontroller is not retrying on service status update"
Found this while debugging an issue

kube-proxy depends on the status field of loadBalancer service to setup iptables rules. But servicecontroller sometimes failed to update status due to various reasons:
The one I saw is due to update conflict.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L330
In this case, servicecontroller gives up immediately

[2016-12-08 02:17] ymqytw opened #38353 "HPA defaulting varies in different groups"
Defaulting in [`extensions`](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/defaults.go#L128) is different from the one in [`autoscaling`](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/autoscaling/v1/defaults.go#L30) group.

@kubernetes/autoscaling

[2016-12-08 02:28] timothysc commented on #19005
@jayunit100 could you please triage this one.

[2016-12-08 02:57] vinsonxing opened #38355 "How to make sure the rolling update no downtime"
I am testing the rolling update feature (Deployment based) in k8s. I got an issue about how to make sure no downtime purpose.
For the Service in k8s, it runs in round robin mode to send the incoming request to a backend pod.
But when doing rolling update, the round robin mechanism will send the incoming request to a backend pod which is not ready (the pod status is running, but the internal app se

[2016-12-08 03:04] jeffvance commented on #31272
Added pr #38214

[2016-12-08 03:36] bgrant0607 commented on #35787
See this in PRs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/35797/pull-kubernetes-e2e-gce-etcd3/6236/?log#log

[2016-12-08 03:38] bgrant0607 commented on #35787
Looks like this was fixed by #35081

[2016-12-08 03:38] #35787 closed

[2016-12-08 04:11] k8s-merge-robot opened #38356 "ci-kubernetes-e2e-gci-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-subnet/75/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33883

Failed: [k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respec

[2016-12-08 04:30] bgrant0607 commented on #24343
Most commits in the project are now outside the kubernetes repo, whereas the commit rate in the kubernetes repo is still not increasing.

Script to gather data, thanks to @fejta:
https://github.com/kubernetes/test-infra/pull/1325

[2016-12-08 04:52] #13276 closed

[2016-12-08 04:55] xiangpengzhao commented on #38323
@rmmh I'm so sorry about this. The flake seems caused by race condition. But I haven't reproduced the flake yet by test such as `make test PARALLEL=100 ITERATION=100 WHAT='pkg/proxy/userspace/'`. Is there any other possible way to reproduce this flake? Can @resouer help? Thanks!

[2016-12-08 05:12] harlowja commented on #24343
Btw, all/most/some the data is already sucked into (with a nice interface):

http://stackalytics.com/?release=all&project_type=kubernetes-group&metric=commits

[2016-12-08 05:21] fejta commented on #24343
Wow thanks for the link @harlowja! That is great data.

[2016-12-08 05:30] thockin commented on #37853
I am now running 2 of my 4 nodes on a patched HEAD and the other 2 on
1.4.6.  To make it more likely to hit (empirically) I am running the
iptables save.restore loop on all.

I will be AFK most of tomorrow, but I will keep an eye on these.

On Wed, Dec 7, 2016 at 5:10 PM, Tim Hockin <thockin@google.com> wrote:

[2016-12-08 05:31] bgrant0607 commented on #37048
@thockin Do you have a specific use case? I don't think we should support this, so I'd like to find another way to solve the problem.

cc @pwittrock

[2016-12-08 05:38] si74 commented on #23380
+1

[2016-12-08 05:42] thockin commented on #37048
We need(ed) this to make rollout of configmaps-for-addons easier.  I need
the configmap to exist for the kubelet to run the pod, but I can't install
the configmap from addon manager (kubectl apply) because it clobbers any
user-defined data (because data is a single field).  We worked around it by
reading the configmap directly instead of using kubelet.  We can work
around it other ways in the futu

[2016-12-08 05:50] justinsb commented on #38273
Fix in #38360

[2016-12-08 05:54] weherdh opened #38362 "Azure disk: Fail to find storage account if there is no "vhds" container in it"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.1011+42d5a1a9cd4aca", GitCommit:"42d5a1a9cd4acae9c7b258c21bfc4fb4955d7be3", GitTreeState:"clean", BuildDate:"2016-11-30T07:19:12Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.10

[2016-12-08 05:55] AdoHe commented on #23380
@kubernetes/sig-cli consuming annotation metadata could be another part of 1.6 goal.

[2016-12-08 05:57] AdoHe commented on #38327
@smarterclayton why just be special with `yaml` output? what if `-o json`?

[2016-12-08 05:58] vinsonxing commented on #38355
Finally, I got the answer by setting readinessProbe

[2016-12-08 06:09] spradeepv commented on #38274
@kargakis Here are the logs:

stack@kube-2:~$ sudo kubectl logs kube-controller-manager-kube-2 -n kube-system
[sudo] password for stack:
E1208 06:08:40.317131       1 event.go:258] Could not construct reference to: '&api.Endpoints{TypeMeta:unversioned.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:api.ObjectMeta{Name:"kube-controller-manager", GenerateName:"", Namespace:"kube-system", SelfLink:"", U

[2016-12-08 06:18] davidopp commented on #38273
Thanks a lot for noticing this, @wojtek-t

[2016-12-08 06:26] jonaz commented on #34594
@timothysc i cannot find any way to supress this exept turning upp the duration and thats not what we want. I only dont want to fill elasticerarch with those messages.

https://github.com/kubernetes/kubernetes/blob/master/pkg/client/leaderelection/leaderelection.go#L247

Why dont they have a proper loglevel?

[2016-12-08 06:33] abhgupta commented on #22554
@timothysc The actual error that got me to file this issue has been fixed by PR  https://github.com/kubernetes/kubernetes/pull/22568. However, this is still a valid issue and we need to answer whether a predicate error with a single node should block scheduling of the pod.

[2016-12-08 06:41] xiangpengzhao commented on #38323
Running the test [under stress](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/flaky-tests.md#reproducing-unit-test-flakes) also hasn't failed so far.

`stress ./userspace.test -test.run=FlakyTest`

[code]

Do I need to revert #27711 since that patch is not important? @rmmh

[2016-12-08 06:58] xilabao opened #38363 "start local-up-cluster.sh failed when use ENABLE_RBAC=true"
Happen to the newest version.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes version** (use `kubectl version`):Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.1667+910912ea3ba2fa", GitCommit:"910912ea3ba2fa8e4f8d0cfe97cb6a871c1554a9", GitTreeState:"clean", BuildDate:"2016-12-08T09:41:20Z", GoVersion:"go1.7.1", Compiler:"gc", Platf

[2016-12-08 07:07] k8s-merge-robot opened #38364 "[k8s.io] Job should scale a job up {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/1377/

Failed: [k8s.io] Job should scale a job up {Kubernetes e2e suite}

[code]

Previous issues for this test: #29511 #29987 #30238

[2016-12-08 07:16] fejta commented on #37903
I'll work on this in https://github.com/kubernetes/test-infra/issues/1250 it looks like we don't have the timeout logic quite right yet (it needs to be more aggressive about killing testing to leave enough time to teardown.

[2016-12-08 07:30] davidopp commented on #22212
The simple thing to do is to make static pods non-evictable. But I think @dchen1107 doesn't want kubelet to have a special rule for static pods, and instead use whatever priority scheme we eventually use for scheduler-initiated preemption, to make eviction decisions on the kubelet (i.e. the topic of this issue).  But IMHO this problem (#38129 and its relatives) seems serious enough to merit doing

[2016-12-08 07:42] davidopp commented on #18438
@piosz is working on this as a side project, and the last time I asked him he said he would probably be done with it around the end of this year. (though I think he said it would be in his private repo, so might require some work to upstream.)

[2016-12-08 07:49] wojtek-t commented on #38273
@saad-ali - verified, seems to work fine now.

[2016-12-08 07:49] #38273 closed

[2016-12-08 07:52] wojtek-t commented on #24408
@timothysc - the title is misleading, we fixed/understood the problems of "periods when scheduler wasn't doing anything".

So this issue is mostly about ensuring that scheduler benchmark and real cluster generate roughly the same results. It wasn't like that in the past, but from experiments @gmarek was doing it seemed much better recently. So we should verify it and potentially close it.

[2016-12-08 08:01] davidopp commented on #27093
I think #30044 will provide the desired functionality. I'd suggest we consolidate the discussion for this topic in #7562 or #30044. I assume sig-storage is the SIG where this will get disussed.

[2016-12-08 08:03] davidopp commented on #27484
Suggestion: Take a look at the scheduler unit tests to make sure we are adequately testing spreading (resource spreading, selector spreading, etc.). Consider adding one or more integration tests, just to make sure we're testing this at a higher level.

[2016-12-08 08:15] davidopp commented on #38336
There is some discussion of this in #32323. It's not trivial. See my comment https://github.com/kubernetes/kubernetes/issues/32323#issuecomment-264604766

Actually, I think I'll copy it here, since most of that thread is unrelated.

If this is high-priority I'm happy to discuss these options in more detail.

[copied comment below]

We've talked about two possible solutions to this:

(1) Create "no

[2016-12-08 08:20] davidopp commented on #28842
I don't think we should close this. We have the priority function, but we should try to figure out how to automatically enable it when cluster autoscaler is enabled. I'm not sure it's high priority, since people can enable it manually, but the user experience would be a lot better if it's automatic.

[2016-12-08 08:24] gmarek commented on #38346
Caused by #36054

[2016-12-08 08:24] #38346 closed

[2016-12-08 08:25] wojtek-t commented on #31977
Could this be the same problem as https://github.com/kubernetes/kubernetes/issues/37232 (which we fixed)?

[2016-12-08 08:25] sttts commented on #27673
We will re-enable this test via https://github.com/kubernetes/kubernetes/pull/38260. This is also supposed to include a fix. Revert https://github.com/kubernetes/kubernetes/pull/38260 if the issue reappears.

[2016-12-08 08:25] sttts commented on #27680
We will re-enable this test via https://github.com/kubernetes/kubernetes/pull/38260. This is also supposed to include a fix. Revert https://github.com/kubernetes/kubernetes/pull/38260 if the issue reappears.

[2016-12-08 08:27] Zjianglin opened #38369 "kubeadm init blocks at `waiting for the control plane to become ready` on ubuntu 16.04"
#

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

**Related to or a similar discussion happened** @ [#33544](https://github.com/kubern

[2016-12-08 08:27] wojtek-t commented on #35117
Some of those are not yet done.

[2016-12-08 08:27] gmarek commented on #37882
@fejta - why me? If for SchedulerPredicates failures - it's not SchedulerPredicate problem:
[code]
means that emptydir test didn't clean up after itself.

[2016-12-08 08:28] gmarek commented on #34336
I've done parts of it that I needed, but it's still far from done.

[2016-12-08 08:30] gmarek commented on #38340
@caesarxuchao - it seems that it's somehow related to the dynamic client. PTAL

[2016-12-08 08:31] tyranron commented on #36482
Facing same issue.

[2016-12-08 08:31] davidopp commented on #35317
@wojtek-t do you think you could look into this?

[2016-12-08 08:31] davidopp commented on #35317
cc/ @kevin-wangzefeng

[2016-12-08 08:32] wojtek-t commented on #38341
We were discussing this with @xiang90 and @hongchaodeng and they said that this will be hard.
We also talked about it with @lavalamp and IIRC the conclusion was that we really really really would like to be convinced into "migrate forward" path and then rollback is something that we hopefully never do.

But yeah, i agree that if we could make them not decrease, that would be awesome.

[2016-12-08 08:33] gmarek commented on #35117
@timothysc - it's not a high priority for us (for now), so if you want it to be done soon, you probably need to find someone to do it.

[2016-12-08 08:39] wojtek-t commented on #38253
@xiang90 thanks a lot!
Do you have any ETA for it?

[2016-12-08 08:49] jszczepkowski commented on #38353
@piosz

When you were moving HPA to apis/autoscaling/v1, you didn't copy the default for CPU usage:

https://github.com/kubernetes/kubernetes/pull/20501/files#diff-6b15f453d0ad9c68076d5d038c375f91

Was it just a mistake, or did it have a reason?

[2016-12-08 09:14] nikhiljindal commented on #34919
Sorry for the delay in response.
@nalink What version are you using? release-1.4 or HEAD or 1.5-beta? Are you on GCE or AWS?

For anyone else following this who is trying on HEAD or 1.5-beta, we now have documentation for using kubefed: https://github.com/kubernetes/kubernetes.github.io/blob/release-1.5/docs/admin/federation/kubefed.md. Its alpha but it is going to be the primary tool to deploy fe

[2016-12-08 09:21] wojtek-t commented on #34911
The problem with failed kubemark-500 were broken rate-limitter/throttler. This has been fixed in https://github.com/kubernetes/kubernetes/pull/38294

This was the last issue in this bug. So I'm closing this one.

[2016-12-08 09:21] #34911 closed

[2016-12-08 09:41] shakhat opened #38372 "kube-proxy process silently hangs on one of nodes"
**Kubernetes version** (use `kubectl version`):
Kubernetes v1.4.3+coreos.0

**Environment**:
- **Cloud provider or hardware configuration**:
  6 bare-metal nodes
- **OS** (e.g. from /etc/os-release):
Ubuntu 16.04.1 LTS (Xenial Xerus)
- **Kernel** (e.g. `uname -a`):
Linux node1 4.4.0-47-generic #68-Ubuntu SMP Wed Oct 26 19:39:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:
Kargo
- *

[2016-12-08 09:54] Random-Liu opened #38373 "Kubelet should not rely on the runtime to generate node status."
Currently, kubelet calls `ListImages` to get image list directly from the runtime (see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L562) and [here](https://github.com/kubernetes/kubernetes/blob/1dfd64f4378ad9dd974bbfbef8e90127dce6aafe/pkg/kubelet/images/image_gc_manager.go#L150)).

We recently hit an issue https://github.com/docker/docker/issues/2

[2016-12-08 09:56] Random-Liu commented on #38373
This should be fixed in 1.5.1 to solve the customer issue.

[2016-12-08 10:11] #32795 closed

[2016-12-08 10:26] george-angel commented on #32295
@jingxu97 `v1.4.0_coreos.2` - hyperkube.

Thanks for that, I'll make sure to upgrade to the latest.

[2016-12-08 10:28] Crassirostris commented on #37241
@saad-ali No, I don't think so. Logging still works, it just flakes more when logs volume increases, we're working on fixing this

[2016-12-08 10:29] fasaxc commented on #17470
@hhzguo I did a manual test that matched on the specific IP addresses I was expecting, nothing that was production ready, I'm afraid.

[2016-12-08 10:45] wojtek-t commented on #38066
I have a hypothesis that this may be related to: https://github.com/kubernetes/kubernetes/issues/38298
If that's the case, then https://github.com/kubernetes/kubernetes/pull/38377 should fix it.

[2016-12-08 10:53] Pensu opened #38380 "apiserver error: first path segment in URL cannot contain colon"
Hi,

I have been trying to run api-server as an standalone service along with etcd. I am passing etcd-servers and cluster-ip-range as arguments, here is the error I am getting:

[code]

etcd servers are up and running on that address. Any leads as to how to resolve this? TIA.

[2016-12-08 11:20] anguslees commented on #38274
`Err: 0x2` is `ENOENT`.  I'm guessing the controller-manager is running in
a container or chroot or something, and
`/etc/sysconfig/kube_openstack_config` does not exist inside the
container/chroot.

 - Gus

On Thu, 8 Dec 2016 at 17:10 Pradeep Sathasivam <notifications@github.com>
wrote:

[2016-12-08 11:26] spradeepv commented on #38274
@anguslees Yes the controller-manager is running in a container. Following is the detail of the container and  image:

Container details:

[code]

Image Details:
[code]

[2016-12-08 11:56] ohmystack commented on #28244
Good idea.
Many people don't agree about using iptables to manage service-endpoint relationships in production. One of the reasons is that, the iptables will become huge when there are lots of services and endpoints.
Now, using iptables with NFQUEUE seems to be a good choice.
`kube-proxy` can handle the packet in iptables NFQUEUE according to the service-endpoint mapping info from apiserver, and c

[2016-12-08 12:05] guybrush commented on #24215
my solution for the file-watching-problem was to hash the content of the file regularly :D (just to be completely sure)

[2016-12-08 12:42] kargakis commented on #36859
Same thing should apply for the podtemplate-hash label in ReplicaSets owned by Deployments.

[2016-12-08 12:56] kargakis commented on #33770
@janetkuo agreed, I will open a PR with the pick

[2016-12-08 13:00] kargakis opened #38383 "Remove stale branches from the repo"
Is there any reason for keeping around the stale branches in this repo?
https://github.com/kubernetes/kubernetes/branches/stale

@saad-ali @pwittrock

[2016-12-08 13:32] cheld opened #38386 "Minions behind NAT"
I have setup an experimental cluster with the master on GCE and minions (raspberry pis) locally behind a NAT. The obvious solution is to use VPN in this scenario. Now, this works as expected. However, I did not like having two overlays. So out of curiosity we removed the VPN. Surprisingly I could setup a cluster using weave without much problems. (With a small hack even kubectl logs/exec can bypas

[2016-12-08 13:37] stephanlindauer commented on #22822
@rnataraja any update on how you fixed it?

[2016-12-08 13:40] k8s-merge-robot opened #38387 "[k8s.io] ResourceQuota should verify ResourceQuota with best effort scope. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1083/

Failed: [k8s.io] ResourceQuota should verify ResourceQuota with best effort scope. {Kubernetes e2e suite}

[code]

Previous issues for this test: #31635

[2016-12-08 13:55] kargakis commented on #29229
FWIW, the availability check "moved" in the replica set controller, meaning we should add the virtual clock in the replica set controller if we want to solve this by using a virtual clock. I guess all controllers that deal with Pods should use virtual clocks in the long term.

[2016-12-08 14:08] fgrzadkowski commented on #25663
No.

[2016-12-08 14:12] fgrzadkowski commented on #38353
IIRC we didn't want this default to be part of our API, rather implementation detail of the controller. It's now applied in the controller itself. @piosz please correct me if I'm wrong.

[2016-12-08 14:19] fcvarela commented on #24330
Thought this might help anyone looking at how to remove inactive replicasets (spec.replicas set to zero by the deployment). You may want to add something to filter for replicasets actually managed by a deployment as this might end up destroying manually created replicasets:

        kubectl get --all-namespaces rs -o json|jq -r '.items[] | select(.spec.replicas | contains(0)) | "kubectl delete rs

[2016-12-08 14:33] rootfs commented on #38362
VHD container is a rerequiste. Will update the doc.

[2016-12-08 14:39] kargakis commented on #34458
https://github.com/kubernetes/kubernetes/pull/36648 fixes Deployments that use ProgressDeadlineSeconds
https://github.com/kubernetes/kubernetes/pull/38080 fixes overlapping Deployments

[2016-12-08 14:54] eparis commented on #38103
I've done branch cleanups at least 3 times in the past. Should this somehow become a regular task? Not sure how, just starting to think about it.

[2016-12-08 15:05] DirectXMan12 commented on #38353
IIRC, the reason was that we couldn't have normal defaulting logic with the alpha custom metrics annotation without having issues, so autoscaling/v1 has no normal defaulting logic.  The v2alpha1 API should fix this issue.

[2016-12-08 15:06] timanovsky commented on #27081
Also, I need force rolling update if I change a secret. As far as I understand, it also falls to this use case.

[2016-12-08 15:28] dashpole commented on #38247
We can close this because of #38324.

[2016-12-08 16:05] bgrant0607 commented on #1744
API groups are the solution, and moving versioned types out of tree to share with clients has taken precedence over colocating types and registry code, so closing this as obsolete.

[2016-12-08 16:05] #1744 closed

[2016-12-08 16:06] bgrant0607 commented on #1319
A registry is available as an addon. Closing as obsolete.

[2016-12-08 16:06] #1319 closed

[2016-12-08 16:06] k8s-merge-robot opened #38391 "[k8s.io] Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/1404/

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]

Previous issues for this test: #28773 #29506 #30699 #32734 #34585

[2016-12-08 16:08] kargakis commented on #24330
You don't need to run any script in order to cleanup old replica sets - just set `.spec.revisionHistoryLimit` in the Deployment to the number of old replica sets you want to retain.

http://kubernetes.io/docs/user-guide/deployments/#clean-up-policy

[2016-12-08 16:12] karlkfi opened #38392 "Remove karlkfi from test_owners.csv"
I haven't worked on Kubernetes for almost a year and my commit access was revoked a few months ago, but I'm still being assigned flakey test bugs.

Please remove me from https://raw.githubusercontent.com/kubernetes/kubernetes/master/test/test_owners.csv

I don't know how that file is generated or I would have made a PR myself to fill in the blanks.

There are 7 tickets assigned to me that need to

[2016-12-08 16:19] thockin commented on #37853
One of the 1.5+patches machines died overnight.  I am moving all 4 machines to 1.4.6 kubelet and kube-proxy.

[2016-12-08 16:26] thockin commented on #22212
That's my feeling too.

On Wed, Dec 7, 2016 at 11:30 PM, David Oppenheimer <notifications@github.com

[2016-12-08 16:27] dmrub commented on #38337
looking into /proc/PID/mountinfo file of the kubelet process I see 0:35 device, but no 0:37
[code]

Looks like an issue with btrfs subvolumes.

[2016-12-08 16:28] k8s-merge-robot opened #38393 "ci-kubernetes-e2e-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/909/

Run so broken it didn't make JUnit output!

[2016-12-08 16:42] fcvarela commented on #24330
Yep, I'm doing that but wrote that script to clean up the ones that had
already been created before.
On Thu, 8 Dec 2016 at 16:09, Michail Kargakis <notifications@github.com>
wrote:

[2016-12-08 16:57] dchen1107 commented on #37853
@gmarek was running kubemark-5000 test against 1.5+patches last night. Marek, can you update the test result here? Thanks!

[2016-12-08 17:00] saad-ali commented on #38273
Ack, thank you!

[2016-12-08 17:24] xiang90 commented on #38253
Now. See https://github.com/kubernetes/kubernetes/pull/38394

[2016-12-08 17:24] yujuhong commented on #38373
Should also patch it to 1.4

[2016-12-08 17:27] balajismaniam commented on #27954
@feelobot Thanks for filing this issue.
@timothysc I can start looking at this issue.

[2016-12-08 17:51] enisoc commented on #38336
@davidopp Thanks for surfacing that post. I'm not familiar with the available GCE APIs, but would an intermediate approach be possible where we first "unroll" upgrade.sh to do everything in terms of individual VMs (rather than using rolling updates), and then we add `kubectl drain/uncordon`? Going in arbitrary order (no smart schedule) would at least preserve safety, at the expense of extra pod ch

[2016-12-08 17:53] k8s-merge-robot opened #38395 "ci-kubernetes-e2e-gci-gke-prod-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-parallel/1358/

Multiple broken tests:

Failed: [k8s.io] Probing container should be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Downward API volume should set mode on item file [Conformance] {Kubernetes e2e suite}

[code]
Issues about thi

[2016-12-08 17:57] kad commented on #38103
With revert-* branches, maybe it's good idea to add code to submit queue robot to cleanup revert branch after it being merged ?

[2016-12-08 18:20] foxish commented on #37919
For the failures of the form:

[code]

There appears to be a time during which `hostname` returns an empty string (no stderr, just blank stdout). Could this be some race condition with DNS?
If so, we should probably just add a delay?

@bprashanth

@bprashanth, is this expected?

[2016-12-08 18:28] k8s-merge-robot opened #38398 "[k8s.io] ESIPP [Slow] should work for type=NodePort {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/692/

Failed: [k8s.io] ESIPP [Slow] should work for type=NodePort {Kubernetes e2e suite}

[code]

[2016-12-08 18:29] bgrant0607 commented on #23896
Independent implementation:
https://github.com/InQuicker/ktmpl

[2016-12-08 18:34] foxish commented on #37919
@kow3ns @enisoc

[2016-12-08 18:34] jarrpa opened #38399 "kubeadm return codes not documented"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2016-12-08 18:39] pmorie commented on #24343
Let me second @lavalamp's statements about the `verify-*` scripts and to that that some pieces of the `update-*` scripts also fall into the same bucket.  I would like to begin extracting stuff like the boilerplate and gofmt verification asap, as we need it in many many projects and many have started copying instead of vendoring.

[2016-12-08 18:45] madhusudancs opened #38400 "kubefed join should modify the kube-dns configmap"
`kubefed join` joins a cluster to a federation. However, users are expected to make the modification to the `kube-dns` config by hand to make the intra-cluster service discovery to work. This config used to be passed as a flag to `kube-dns` and required `kube-dns` restart. In v1.5, `kube-dns` learned the ability to read this config from a configmap and needs no restarts. It watches for the configm

[2016-12-08 18:51] #38298 closed

[2016-12-08 18:51] #34534 closed

[2016-12-08 18:52] #38295 closed

[2016-12-08 19:07] enisoc commented on #37919
The test first waits for all pods to be ready, then it checks the hostname on each one with `kubectl exec`. Is it possible that pods sometimes restart after they first become ready, and the `exec` comes in when it hasn't fully finished initializing again? Are there guarantees that `kubectl exec` will fail before the pod is fully initialized?

[2016-12-08 19:21] aledbf commented on #28226
@goblain @hsyed I got it working using a flexvolume plugin
[code]
apt-get install -y jq
[code]
mkdir -p /usr/libexec/kubernetes/kubelet-plugins/volume/exec/aws~efs/

wget -O /usr/libexec/kubernetes/kubelet-plugins/volume/exec/aws~efs/efs https://gist.githubusercontent.com/aledbf/a49069317a626953a740b26c45d06fd4/raw/d47a101f9bd0946d4d99df4389589a82c70bd8ac/flex-efs.sh

chmod +x /usr/libexec/kuberne

[2016-12-08 19:22] k8s-merge-robot opened #38404 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} with 0 secrets {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/313/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} with 0 secrets {Kubernetes e2e suite}

[code]

[2016-12-08 19:22] k8s-merge-robot opened #38405 "[k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] Nginx [Slow] should conform to Ingress spec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress-release-1.5/937/

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] Nginx [Slow] should conform to Ingress spec {Kubernetes e2e suite}

[code]

Previous issues for this test: #34467

[2016-12-08 19:35] #35140 closed

[2016-12-08 19:42] daniilyar commented on #35062
Error gone for me after switching to Kubernetes 1.4.3 and migrating Docker to AUFS. Not sure what was causing it and what fixed it, but the error message just gone away after aforesaid upgrade.

[2016-12-08 20:15] euank commented on #34244
@huang195 I believe requests/limits for memory are just used to set the maximum limit and to handle QoS (e.g. set oom_score_adj). It's possible that that's because docker didn't have that feature when this was originally implemented, but

If `request` were to have more meaning, I would think that it should be applied at the pod cgroup level rather than by the runtime (via the `memory.soft_limit_in

[2016-12-08 20:16] euank commented on #34244
Potentially related: #12422

[2016-12-08 20:22] d1ngd0 commented on #28226
I'm currently doing the same as hsyed. I would love it if I didn't have to manually go into each node I spin up to ensure my containers function properly.

[2016-12-08 20:24] smenon78 commented on #37205
I am running into same issue, what was the resolution?

[2016-12-08 20:33] davidopp commented on #38336
I just chatted with @maisem and he says he is working on exactly what you described and should have it done within the next few weeks. I'll let him describe it here, but from chatting with him it does sound like the third option you described.

[2016-12-08 20:39] davidopp commented on #38336
(BTW I still think we should do "node drain as a service" (option 1 above) eventually, because that would be portable across cloud providers and could even be used by GKE, vs. `upgrade.sh` which only works on GCE.)

[2016-12-08 20:48] timothysc commented on #34594
K, I'll adjust the log levels.

[2016-12-08 20:52] gmarek commented on #37853
Sure - flag gate, to little surprise, solves the issue for kubemark-5000 test. When the flag in off I can't reproduce the crash (tried twice), with the flag on 3/50 Nodes failed.

[2016-12-08 21:14] MrHohn commented on #37048
I would like to elaborate the problem with addon manager a bit more.

Current addon manager replies on `kubectl apply` to fulfill its responsibility --- create and maintain resources with given fields. This pattern works well until we try to provide someone other than addon manager the ability to add/delete/modify non-given fields.

The situation we encountered is that when tried to use `kubectl e

[2016-12-08 21:17] fgrzadkowski commented on #38353
I'm not sure if we want to default on the api level. To be honest I'd prefer to make it a controller internal thing. I imagine that different implementations might have different policies here. WDYT?

[2016-12-08 21:19] MrHohn commented on #37048
Current horizontal autoscaler and vertical resizer work well with addon manager because they are both calling kubernetes client api directly, which will not has effect on `kubectl.kubernetes.io/last-applied-configuration` annotation.

[2016-12-08 21:44] nnashok commented on #37205
I filed https://github.com/kubernetes/kubeadm/issues/75 and https://github.com/kubernetes/kubeadm/issues/77 . I've listed the workarounds in both the issues.

[2016-12-08 21:44] #37712 closed

[2016-12-08 21:44] #38148 closed

[2016-12-08 22:07] dashpole commented on #22586
This occurs on kubernetes head, using OS images: CoreOS-stable, GCI.  It does not occur on container-vm or ubuntu-trusty.

[2016-12-08 22:08] dashpole commented on #22586
The coreos and GCI images use multiple devices (dev/root, dev/sda1, dev/sda8, for example).  Whereas container-vm and ubuntu-trusty only use one filesystem device (dev/sda1).

[2016-12-08 22:12] dashpole commented on #22586
This error occurs when running an image with multiple devices.  All devices are assigned to the "root" filesystem, and cadvisor doesn't know how to handle multiple devies.

[2016-12-08 22:15] dashpole commented on #22586
cc: @derekwaynecarr

[2016-12-08 22:35] timstclair opened #38417 "Add support for "no new privileges""
Support for setting [NO_NEW_PRIVS](https://www.kernel.org/doc/Documentation/prctl/no_new_privs.txt) was added in docker 1.11 (https://github.com/docker/docker/issues/20329). This feature will be much more useful once user namespace support is added (https://github.com/kubernetes/kubernetes/pull/34569), but I believe it is also relevant when paired with seccomp or LSM (SELinux or AppArmor).

/cc @m

[2016-12-08 22:45] dashpole commented on #32304
I have had a coreos cluster up for over 2 weeks, and none of the nodes have stopped reporting

[2016-12-08 22:45] timothysc commented on #27093
ok, closing this one then in lieu of comment above.  reopen if needed.

[2016-12-08 22:45] #27093 closed

[2016-12-08 22:46] #38393 closed

[2016-12-08 22:49] timothysc commented on #25663
@balajismaniam can you triage please.

[2016-12-08 22:53] dchen1107 commented on #32304
I didn't look into this in detail. But since I saw coreos is mentioned here, I guess you might hit this issue: https://github.com/kubernetes/kubernetes/issues/30939

[2016-12-08 22:57] kow3ns opened #38418 "StatefulSet does not recreate Pods at a lower ordinal until successor Pods are Running and Ready"
[In the current StatefulSet implementation](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet.go#L125-L136) a situation exists that can cause deadlock under the following conditions.

1. StatefulSet S is created with 3 replicas {s0,s1,s2}.
2. S creates s0.
3. s0 passes its liveness and readiness probes.
4. S creates s1, and s1 depends on s0 to be Running and Ready for

[2016-12-08 23:09] #38356 closed

[2016-12-08 23:11] kargakis commented on #38418
@smarterclayton @bprashanth

[2016-12-08 23:11] ixdy commented on #36655
I think many of the issues raised in this issue have been resolved. @sebgoa are there still pain points that you're aware of?

[2016-12-08 23:14] kargakis commented on #27954
What version of Kubernetes are you running? This shouldn't be a problem in the latest versions (IIRC we started handling overlapping Deployments in 1.4).

[2016-12-08 23:15] jlowdermilk commented on #38217
As a partial solution, if apiserver looks at both User-Agent and a custom header, it would allow clients that cannot (or don't want to) set User-Agent to continue to get backwards-compatibility support.

[2016-12-08 23:19] k8s-merge-robot opened #38420 "ci-kubernetes-verify-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-release-1.5/903/

Run so broken it didn't make JUnit output!

[2016-12-08 23:27] dashpole commented on #32304
That does look like a possible cause, and would explain why I haven't been able to reproduce.  Thanks @dchen1107!
@shamil and @SleepyBrett can you see if you are using systemd as your Cgroup Driver (run: docker info)?
During my testing, I have been using cgroupfs on coreos 1185.3.0 (MoreOS).

[2016-12-08 23:27] dashpole commented on #32414
see my comment: https://github.com/kubernetes/kubernetes/issues/32304#issuecomment-265886938

[2016-12-08 23:29] jordandev commented on #23597
We found that we ended up with hundreds of these when doing automated builds. Makes sense to be a default.

[2016-12-08 23:50] thockin commented on #37853
OK, once I fixed salt, which was "fixing" my kubelet versions (sigh). 1.4.6 has not crashed in 7 hours.  I am rolling up to head plus reverting the above PRs.

[2016-12-09 00:08] bprashanth commented on #38418
The petset controller will freeze if it notices any pet is unhealthy so it doesn't make the situation worse. The original design assumed that an admin would intervene at this point to resolve deadlocks. I don't think there's any reason to not be smarter, other than the lack of a clear and universal pattern (which should emerge with more prototypes).

[2016-12-09 00:13] davidopp commented on #37984
@jingxu97 I didn't understand your response to the last question. If you delete the pod before restarting the node, does this problem happen?

[2016-12-09 00:25] bprashanth commented on #38349
seems worthy of a 1.5.X fix, let me know if you're not doing this and I will. I'm going to try to get a repro first with some theories I have.

[2016-12-09 01:13] #35351 closed

[2016-12-09 01:26] xingzhou commented on #38417
Shall we add a new flag on this? I'd like to take investigation on this ticket

[2016-12-09 01:29] k8s-merge-robot opened #38428 "ci-kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/218/

Run so broken it didn't make JUnit output!

[2016-12-09 01:34] timstclair commented on #38417
I think it needs to be a user-facing option (for the reasons described [here](https://github.com/docker/docker/issues/20329#issuecomment-184238636)). It probably makes the most sense as a field on the [SecurityContext](https://github.com/kubernetes/kubernetes/blob/bf1afd97fb3aa1737edad7f4c84d99d30fa512b7/pkg/api/types.go#L3447). I think this touches enough components (k8s API, CRI) that a (brief)

[2016-12-09 01:34] thockin commented on #37048
I think the reason for this with ConfigMap is that `data` is a single
field, and maps get replaced, rather than merged?

On Thu, Dec 8, 2016 at 1:19 PM, Zihong Zheng <notifications@github.com>
wrote:

[2016-12-09 01:38] dchen1107 commented on #22212
Here is my 2 cents:

* How should we treat the static pod special? All static pods? If the user creates more static pods on their node, should Kubelet treat specially too? Or Kubelet parse container's name or pod's name to treat kube-proxy differently?

* Why not converting static pod like kube-proxy to daemonset, so that daemonset-controller can take care of this? Instead of always polluting Kube

[2016-12-09 01:57] davidopp commented on #22212
I don't think a priority scheme fixes this problem. If you have a priority scheme, is the user allowed to set the priority of their pod as high as the priority of the critical system pods like kube-proxy? It seems to raise exactly the same issue.

I agree that converting all the static pods to DemonSet is the right thing to do. If we can do it, it sounds like a good plan. And then @thockin's PR (a

[2016-12-09 02:00] davidopp commented on #22212
Actually what I said about DaemonSet + Tim's PR fixing the problem is wrong. DaemonSet is its own scheduler, so "rescheduler" won't help. (Basically the same reason why "rescheduler" doesn't help with static pods.)

[2016-12-09 02:06] xingzhou commented on #38417
yes, @timstclair, if we also add a flag to kubectl, so that user can also config this option from the client. I will try to write a brief design for discussion prior to implementation, thanks

[2016-12-09 02:08] #34594 closed

[2016-12-09 02:09] MrHohn commented on #37048
Yes, if `data` field is defined in configuration, `kubectl apply` will replace the complete map instead of merging it.

But we could also omit the entire `data` field in configuration for ConfigMap. If above issue is resolved, `kubectl apply` will not reset this field anymore(after `kubectl edit` adds the `data` field). I think this is good enough in many cases.

[2016-12-09 02:21] ixdy commented on #3579
any update in the last year+? I just ran across this in https://github.com/kubernetes/kubernetes/blob/74a3b77c734ce88fbe552a505869c61a921c5cda/build-tools/lib/release.sh#L290.

[2016-12-09 02:28] saad-ali commented on #34060
@jsafrane would it be worth opening a new issue to track https://github.com/kubernetes/kubernetes/issues/34060#issuecomment-265103776? So that it doesn't get lost in this bug.

[2016-12-09 03:06] k8s-merge-robot opened #38436 "ci-kubernetes-test-go-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go-release-1.5/193/

Run so broken it didn't make JUnit output!

[2016-12-09 03:32] ixdy opened #38437 "conflicting kube-addon-manager.yaml files in kubernetes-manifests.tar.gz"
I was playing around with reproducing the `kubernetes-manifests.tar.gz` tarball inside bazel, and I came across this exciting warning:
[code]

Sure enough, we have both a `cluster/saltbase/salt/kube-addons/kube-addon-manager.yaml` and a `cluster/gce/coreos/kube-manifests/kube-addon-manager.yaml` file in the repo, and they differ.

In our current release scripts, we first add `cluster/saltbase/salt

[2016-12-09 03:41] MrHohn commented on #38437
Sorry, should have kept on addon manager YAMLs in sync.

But I'm surprise the release script adds this file twice from different locations.

[2016-12-09 03:45] ixdy commented on #38437
Yeah, that's certainly a bug that I want to fix.

[2016-12-09 03:46] k82cn commented on #37706
@lavalamp , i'd like to try this one :).

[2016-12-09 04:06] bprashanth commented on #38349
Basically it's too easy to trick the controller into thinking the Service doesn't change with create/delete cycles. This is why I wanted to beef up the restart testing around this controller in 1.5 but we didn't get a chance to finish it.

save this as `/tmp/svc.yaml`
[code]

__1. Leak__

run this script
[code]

What's happenening:
* first create happens
* the next delete and create come in while

[2016-12-09 04:09] k8s-merge-robot opened #38439 "[k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should allow template updates {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1111/

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should allow template updates {Kubernetes e2e suite}

[code]

[2016-12-09 04:10] bprashanth commented on #38349
Though I don't think the user in question was running into either of the mentioned cases directly, it was probably something realted to the way we process create/deletes and the timing of a service controller restart (which we would do on upgrade).

[2016-12-09 04:24] rmmh commented on #38439
@Random-Liu possibly related to #38375?

[2016-12-09 05:10] k8s-merge-robot opened #38442 "[k8s.io] Deployment deployment should support rollback when there's replica set with no revision {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-parallel/1406/

Failed: [k8s.io] Deployment deployment should support rollback when there's replica set with no revision {Kubernetes e2e suite}

[code]

Previous issues for this test: #34687

[2016-12-09 05:51] thockin commented on #37853
I have been running my pretty-reliable test for 6 hours now, no fails on 1.5.0-beta with the flag gate.  Will update in the AM.

[2016-12-09 05:57] k82cn commented on #37979
@freehan, the event maybe a better solution; as other port maybe success.

[2016-12-09 06:02] roberthbailey commented on #38336
/cc @maisem

This is definitely an improvement over the current shell script.

This is definitely possible when using a MIG.

[2016-12-09 06:02] roberthbailey commented on #38336
/cc @kubernetes/sig-cluster-lifecycle (as this is related to 1.5 -> 1.6 upgrades)

[2016-12-09 06:03] mikedanese commented on #38437
I think you want strip_prefix = "." in your package tar rule to preserve directory structure.

[2016-12-09 06:14] davidopp commented on #38336
Yeah I didn't realize it was possible, but I agree this is definitely the most expedient thing to do short-term.

[2016-12-09 06:20] thockin commented on #28244
We have seen examples of other projects using NFQUEUE so we know it is
possible, but it's complicated.  I'm not really in favor of this idea any
more...

On Thu, Dec 8, 2016 at 3:57 AM, JiangJun <notifications@github.com> wrote:

[2016-12-09 06:30] k8s-merge-robot opened #38446 "[k8s.io] DNS horizontal autoscaling kube-dns-autoscaler should scale kube-dns pods in both nonfaulty and faulty scenarios {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/4/

Failed: [k8s.io] DNS horizontal autoscaling kube-dns-autoscaler should scale kube-dns pods in both nonfaulty and faulty scenarios {Kubernetes e2e suite}

[code]

Previous issues for this test: #36569

[2016-12-09 06:32] ohmystack commented on #28244
Thanks, @thockin . I also prefer the simple solutions.
One more question, I'm just curious. Could you share us some best practice about how does Google handle countless containers' IPs behind a service VIP? How to route from vip(service) to ip(container). Is it powered by SDN flow tables? Or, is the service only possible on DNS level, not IP level? (Maybe iptables solution is too light for Google'

[2016-12-09 06:35] thockin commented on #28244
Internally we don't use a VIP for this stuff, we have our own port
brokering and service discovery.  That all predates things like namespaces.

On Thu, Dec 8, 2016 at 10:32 PM, JiangJun <notifications@github.com> wrote:

[2016-12-09 06:35] thockin commented on #28244
I'm going to close this.  I don't think we want it.

[2016-12-09 06:35] #28244 closed

[2016-12-09 07:00] alejandroEsc commented on #35913
Been having this issue now twice for my pr: https://github.com/kubernetes/kubernetes/pull/34650 and logs at: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34650/pull-kubernetes-e2e-gke-gci/8695/?log#log

[2016-12-09 07:02] m1093782566 opened #38447 "[resource quota admission controller] Sleep between retrying update resource quota status"
Recently, I occur some 409 resource version conflict errors when batch create pods(create a rc/rs with 100+ pods). That's because I set a pod number limitation in resource quota and when many goroutines update resource quota status concurrently, then resource version conflicted.

I find resource quota admission controller already has a retry mechanism in updating resource quota status, see [here](

[2016-12-09 07:03] mkumatag commented on #38380
This is only happening on go1.8 version, not really sure what is causing issue while parsing the URI.

[2016-12-09 07:04] k8s-merge-robot opened #38448 "[k8s.io] ESIPP [Slow] should handle updates to source ip annotation [Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/1086/

Failed: [k8s.io] ESIPP [Slow] should handle updates to source ip annotation [Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

[2016-12-09 07:34] k8s-merge-robot opened #38450 "[k8s.io] Downward API should provide default limits.cpu/memory from node capacity {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/1448/

Failed: [k8s.io] Downward API should provide default limits.cpu/memory from node capacity {Kubernetes e2e suite}

[code]

Previous issues for this test: #28065

[2016-12-09 07:43] #34394 closed

[2016-12-09 08:06] wojtek-t commented on #38446
It seems that it failed in 2000-node GKE cluster. @thockin @bprashanth @gmarek  - FYI

[2016-12-09 08:40] jsravn commented on #37932
@JackTiger can you link the haproxy solution? kube-proxy, unfortunately, isn't really fit for purpose beyond the simplest use cases (in my humble opinion).

[2016-12-09 08:45] JackTiger commented on #37932
@jsravn I am sorry, I have not find the link about the haproxy  solution, but I will try this solution to verify the load balance ability in next feature, it will take me a lot of time, because I am not very familiar with haproxy.

[2016-12-09 08:57] jsravn opened #38456 "kube-proxy does not handle persistent connections very well"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kube-proxy service iptables
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2016-12-09 09:10] mcortinas commented on #38267
Cool! It could be a quite good approach by now!
But, I think the properly way should be managed with weights.

[2016-12-09 09:24] k82cn commented on #37704
@lavalamp , I think we had waited for 10s for etcd to start at https://github.com/kubernetes/kubernetes/blob/v1.6.0-alpha.0/pkg/registry/core/service/ipallocator/controller/repair.go#L94 . Do we need to wait more or make it configurable?

[2016-12-09 09:28] resouer opened #38458 "[CRI] dockershim wrongly set cgroupParent"
When debugging Pod level QoS with CRI dockershim, I found that Pod level OoS actually doesn't work:

dockershim+cgroupfs
[code]

dockertools+cgroupfs
[code]

And after dug it deeper, I noticed CgroupParent is not properly set at all:
[code]

Finally, found the root cause is that that `CgroupParent` in `HostConfig` is accidentally override, so it's always empty. PR: https://github.com/kubernetes/ku

[2016-12-09 09:30] resouer commented on #38458
BTW, I also wrote a patch to make `systemd` based Pod level QoS work in CRI dockershim, will send it later.

[2016-12-09 09:31] wojtek-t opened #38459 "Creating GCE cluster is generating deprecation warnings"
[code]

@kubernetes/sig-cluster-lifecycle

[2016-12-09 09:33] hjacobs commented on #38267
@mcortinas yes, support for weights would be cool --- this could already work with the current `kube-proxy` iptables rules as they are using computed weights (equal distribution).

[2016-12-09 10:21] junaid-ali commented on #27796
I'm also getting the error "This identity is registered to another user." like @hasahni. Initially, LF email was personal (I signed up as an individual contributor), and Git email had my company email as the primary address. I changed my Git email, but I'm still getting the same error.

[2016-12-09 10:35] tobegit3hub commented on #30572
Thanks all and this may be the bug of flannel. We have the same issue when setting up in CentOS 7 with flannel, too. Just open another issue in https://github.com/coreos/flannel/issues/568

[2016-12-09 10:35] #30572 closed

[2016-12-09 10:51] sebgoa commented on #36655
I am testing things from scratch again, but it looks good so far.

The only tid bit is https://github.com/kubernetes/kubernetes/issues/37690

[2016-12-09 11:24] jszczepkowski commented on #37956
Cherry-pick of the fix for the problem with waiting 5h:  https://github.com/kubernetes/kubernetes/pull/38454

[2016-12-09 11:46] k8s-merge-robot opened #38465 "ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster-new/15/

Multiple broken tests:

Failed: UpgradeTest {e2e.go}

[code]
Issues about this test specifically: #37745

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: [k8s.io] Upgrade [Feature:Upgrade] [k8s.io] cluster upgrade

[2016-12-09 11:47] k8s-merge-robot opened #38466 "ci-kubernetes-e2e-gke-1.4-1.5-cvm-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.4-1.5-cvm-kubectl-skew/606/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: DiffResources {e2e.go}

[code]
Issues about

[2016-12-09 11:47] k8s-merge-robot opened #38467 "ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster/14/

Multiple broken tests:

Failed: Deferred TearDown {e2e.go}

[code]
Issues about this test specifically: #35658

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issue

[2016-12-09 11:47] k8s-merge-robot opened #38468 "ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new/40/

Multiple broken tests:

Failed: Deferred TearDown {e2e.go}

[code]
Issues about this test specifically: #35658

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
I

[2016-12-09 11:47] k8s-merge-robot opened #38469 "ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new/43/

Multiple broken tests:

Failed: Deferred TearDown {e2e.go}

[code]
Issues about this test specifically: #35658

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issues abo

[2016-12-09 11:47] k8s-merge-robot opened #38470 "ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster/14/

Multiple broken tests:

Failed: Deferred TearDown {e2e.go}

[code]
Issues about this test specifically: #35658

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issue

[2016-12-09 11:47] k8s-merge-robot opened #38471 "ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new/79/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: DiffResources {

[2016-12-09 11:47] k8s-merge-robot opened #38472 "ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster-new/42/

Multiple broken tests:

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34060

Failed: Deferred TearDown {e2e.go}

[code

[2016-12-09 11:47] k8s-merge-robot opened #38473 "ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster/15/

Multiple broken tests:

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34060

Failed: Deferred TearDown {e2e.go}

[code]
Issues about this test specifically: #35658

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about thi

[2016-12-09 11:47] k8s-merge-robot opened #38474 "ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new/38/

Multiple broken tests:

Failed: Deferred TearDown {e2e.go}

[code]
Issues about this test specifically: #35658

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issues abo

[2016-12-09 11:47] k8s-merge-robot opened #38475 "ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster/12/

Multiple broken tests:

Failed: Deferred TearDown {e2e.go}

[code]
Issues about this test specifically: #35658

Failed: UpgradeTest {e2e.go}

[code]
Issues about this test specifically: #37745

Failed: kubectl version {e2e.go}

[code]
Issues about this test specifica

[2016-12-09 11:47] k8s-merge-robot opened #38476 "ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster-new/39/

Multiple broken tests:

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34060

Failed: Deferred TearDown {e2e.go}

[code

[2016-12-09 11:47] k8s-merge-robot opened #38477 "ci-kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster-new/42/

Multiple broken tests:

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34060

Failed: Deferred TearDown {e2e.go}

[code]
Issues about this test specifically: #35658

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this tes

[2016-12-09 11:47] k8s-merge-robot opened #38478 "ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/15/

Multiple broken tests:

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26134

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #340

[2016-12-09 11:47] k8s-merge-robot opened #38479 "ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master/18/

Multiple broken tests:

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34060

Failed: [k8s.io] Pods should invoke init containers on a RestartNever pod {Kubernetes e2e suite}

[code]
Issues about this test specifica

[2016-12-09 11:47] k8s-merge-robot opened #38480 "ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-master/22/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27233 #36204

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifica

[2016-12-09 11:49] k8s-merge-robot opened #38481 "ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master/22/

Multiple broken tests:

Failed: [k8s.io] ScheduledJob should not schedule new jobs when ForbidConcurrent [Slow] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]
Issues about this test spe

[2016-12-09 11:49] k8s-merge-robot opened #38482 "ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master/21/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26982 #32214 #33994 #34035 #35399 #38209

Failed: [k8

[2016-12-09 11:49] k8s-merge-robot opened #38483 "ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster/19/

Multiple broken tests:

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26509 #26834 #29780 #35355 #38275

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]
Issu

[2016-12-09 11:50] k8s-merge-robot opened #38484 "ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master/34/

Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585 #38391

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code]
Issues

[2016-12-09 11:50] k8s-merge-robot opened #38485 "ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster/16/

Multiple broken tests:

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31502 #32947

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[cod

[2016-12-09 11:50] k8s-merge-robot opened #38486 "ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master/17/

Multiple broken tests:

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37427

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]
Issue

[2016-12-09 11:51] k8s-merge-robot opened #38487 "ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster/22/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27233 #36204

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues ab

[2016-12-09 11:51] k8s-merge-robot opened #38488 "ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-master/18/

Multiple broken tests:

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27704 #30127 #30602 #31070

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kuberne

[2016-12-09 11:51] k8s-merge-robot opened #38489 "ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-master/19/

Multiple broken tests:

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37427

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506

[2016-12-09 11:51] k8s-merge-robot opened #38490 "ci-kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster/17/

Multiple broken tests:

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37427

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues

[2016-12-09 11:51] k8s-merge-robot opened #38491 "ci-kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-master/18/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27233 #36204

Failed: [k8s.io] Deployment overlapping deployment should not fight with each ot

[2016-12-09 12:37] pacuna commented on #34447
@soltysh any news on the release?

[2016-12-09 12:57] k8s-merge-robot opened #38492 "ci-kubernetes-e2e-gke-1.4-1.5-gci-kubectl-skew: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.4-1.5-gci-kubectl-skew/670/

Run so broken it didn't make JUnit output!

[2016-12-09 12:59] soltysh commented on #34447
See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/o0At2-4KKQ8/_kPVM1XyDAAJ

[2016-12-09 13:18] lguminski opened #38493 "federation: premature confirmation of the deletion of replica sets"
Steps to reproduce:
[code]
Expected:
`kubectl delete rs` command should complete after all replica sets from all underlying clusters are deleted.

Observed:
command completed although there are still replica sets being deleted.

[2016-12-09 13:35] pacuna commented on #34447
@soltysh so v1.4.7 will be released on that same day?

[2016-12-09 13:38] m1093782566 opened #38494 "etcd cluster exit unexpectedly"
I am using etcd 2.2.4. Recently, I find etcd cluster go down frequently(some times per day).

The startup parameters are:

[code]

Similar with pet set(stateful set) in kubernetes.

Full logs of etcd cluster are:

[code]

Any ideas? Thanks!

[2016-12-09 13:38] piosz commented on #38353
Filip is right. This is working as intended, because to add a possibility to scale based on custom metrics we don't want cpu to be set anyway.

[2016-12-09 13:38] #38353 closed

[2016-12-09 13:51] #35973 closed

[2016-12-09 13:58] soltysh commented on #34447
Look like should be available later today: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/00lJpT9pxDc/YZfDzCxMDQAJ

[2016-12-09 13:59] crassirostris opened #38495 "New log rotation mechanism required"
For the context: https://github.com/kubernetes/kubernetes/issues/28369 https://github.com/kubernetes/kubernetes/issues/37292 https://github.com/kubernetes/kubernetes/issues/29715

Current mechanism, running logrotate as a cron job hourly in the copytruncate mode poses several problems

* copytruncate mode doesn't integrate well with external logging agents
  * line broken in the middle can sometim

[2016-12-09 14:00] Crassirostris commented on #37292
Closing in favor of https://github.com/kubernetes/kubernetes/issues/38495

[2016-12-09 14:00] #37292 closed

[2016-12-09 14:01] maci0 commented on #5607
+1

[2016-12-09 14:13] vishh commented on #34244
Memory Soft limits are practically useless for Kubernetes purposes.

[2016-12-09 14:24] gmarek opened #38497 "Kubectl reaper fails to delete Jobs"
I added Jobs to our scalability tests: #38461 and I can't get it succeed when running Load. The test creates a big number of Jobs of various sizes using Pods that never finish, resizes them twice, and then tries to delete them. The result I see is the following:
[code]

I use `kubectl.Reaper` to delete those jobs so I expect it should work.

cc @wojtek-t @timothysc @jeremyeder

@erictune - which S

[2016-12-09 14:26] slaskawi commented on #28660
Hey guys!

I would like to ask what is the main motivation for having Public IPs for StatefulSets?

The main use case that I can see is that the client (which is outside of the Kubernetes cluster) makes a request (e.g. using TCP?) and needs to decide which replica receives it. Data Grid apps might be used as an example here. A client app "knows" which replica stored data for a given key.

If my un

[2016-12-09 14:32] sebbonnet opened #38498 "Orphaned pods fail to get cleaned up"
**Kubernetes version**
[code]

**Environment**:
- **Cloud provider or hardware configuration**: `AWS`
- **OS** (e.g. from /etc/os-release): `Ubuntu 16.04.1 LTS`
- **Kernel** (e.g. `uname -a`): `Linux 4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

**What happened**:
syslogs are getting spammed every 2 seconds with these kubelet errors:
[code]

We get th

[2016-12-09 14:45] dims commented on #27680
@sttts Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #27680
@sttts Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #33380
@gmarek Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #36230
@mtaufen Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #32535
@kevin-wangzefeng Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #34123
@Random-Liu Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #37267
@bprashanth Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #29503
@jessfraz Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #33882
@mtaufen Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #34102
@fgrzadkowski Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #31935
@dchen1107 Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #33874
@dashpole Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #35741
@ymqytw Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #28283
@saad-ali Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #33405
@bprashanth Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #37105
@madhusudancs Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #37143
@madhusudancs Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #32214
@yujuhong Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #33702
@lavalamp Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #34060
@justinsb Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #32512
@jszczepkowski Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #36970
@jingxu97 Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #38042
@euank Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #33649
@ncdc Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #32451
@bowei Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #33756
@ncdc Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #38247
@saad-ali @foxish Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #28845
@cjcullen Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #37903
@euank Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #31272
@ncdc @pmorie Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #28337
@MrHohn Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #37056
@jingxu97 Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #37657
@saad-ali @jingxu97 Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:47] dims commented on #38238
@rkouj @Crassirostris Is it appropriate to move this to the next milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 14:48] soltysh commented on #37428
Closing based on previous comment.

[2016-12-09 14:48] #37428 closed

[2016-12-09 14:50] ncdc commented on #33649
@dims that depends on when @kubernetes/sig-node is ready to move to docker 1.13, which isn't out yet.

[2016-12-09 14:53] dims commented on #33649
@ncdc ah then we should just clear the 1.5 milestone and leave it open. right?

[2016-12-09 14:55] ncdc commented on #33649
wfm

[2016-12-09 14:57] k8s-merge-robot opened #38500 "[k8s.io] Downward API volume should provide container's memory limit {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/1470/

Failed: [k8s.io] Downward API volume should provide container's memory limit {Kubernetes e2e suite}

[code]

[2016-12-09 15:00] mwielgus commented on #34102
The current problems are related to the infrastructure. It seems that we are not able to prepare the tests to run (create some extra nodes manually) in time.  Removing 1.5 label. I will also increase the timeout.

[2016-12-09 15:01] Crassirostris commented on #38238
@dims AFAIU, these tests will always fail, because old tests are used.

[2016-12-09 15:08] k8s-merge-robot opened #38501 "ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew/624/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: DiffResources {e2e.go}

[code]
Issues about

[2016-12-09 15:08] jszczepkowski commented on #32512
@dims
PR #38463 should be cherry-picked to 1.5
This is not a release-blocker as it affects e2e tests only.

[2016-12-09 15:09] dims commented on #33726
@ixdy Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:09] dims commented on #34136
@luxas @pipejakob Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:09] dims commented on #35318
@foxish @mwielgus Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:19] thockin commented on #37853
It looks like no crashes over night for me.

[2016-12-09 15:20] smarterclayton commented on #38418
I'd like to roll this into the discussion of rolling ss upgrades
because we won't be able to do those without a change for this.

[2016-12-09 15:22] smarterclayton commented on #29229
We probably want to tie that clock as well to delaying work queue and
others.

On Dec 8, 2016, at 8:55 AM, Michail Kargakis <notifications@github.com>
wrote:

FWIW, the availability check "moved" in the replica set controller, meaning
we should add the virtual clock in the replica set controller if we want to
solve this by using a virtual clock. I guess all controllers that deal with
Pods should u

[2016-12-09 15:30] smarterclayton commented on #38327
The "raw" outputs are subtly different than the tabular outputs, in that they are for different tools.

I still regret the decision to hide completed pods - it's a minor win in some cases but adds one more choice in many cases for users that they don't care about (a completed pod may be more important than all your running pods).

As long as we're out putting those messages to stderr and not inden

[2016-12-09 15:39] jeremyeder commented on #37853
Questions to anyone who was able to reproduce:

- Is there a bug open on the kernel.org bugzilla for this?
- Is a full vmcore available?

[2016-12-09 15:45] krousey commented on #38471
Looks like  node gke-bootstrap-e2e-default-pool-c1e0ada5-gumk had a lot of trouble pulling the fluentd image off of gcr.

[code]

@yujuhong Is this something we should worry about? Or just a rare flake?

[2016-12-09 15:48] sebgoa commented on #36655
I think once #38504 is merged we can close this.

[2016-12-09 15:48] dims commented on #30471
@alex-mohr @DirectXMan12 Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:48] dims commented on #30939
@dchen1107 @justinsb Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:48] dims commented on #36843
@saad-ali @mikedanese Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:48] dims commented on #36264
@yujuhong Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:48] dims commented on #36589
@jsravn Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:48] dims commented on #37239
@foxish Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:48] dims commented on #33285
@bprashanth Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:48] dims commented on #34211
@mwielgus Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 15:48] dims commented on #34904
@krousey Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:04] timothysc commented on #34336
@sjug this is a good task that fits in the scope of the work you have been doing, but I can't assign you.  Could you please join the kubernetes org - https://github.com/orgs/kubernetes/people

[2016-12-09 16:08] dims commented on #30258
@colemickens Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #27828
@justinsb Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #31676
@mtaufen Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #36088
@madhusudancs Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #32433
@mtaufen Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #33884
@justinsb Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #36074
@madhusudancs Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #36328
@zmerlynn Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #36891
@wallrj @liggitt Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #32044
@dchen1107 Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #33669
@bprashanth Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #34223
@caesarxuchao Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #37715
@davidopp @mtaufen Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #11816
@roberthbailey @liggitt Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #33891
@mwielgus Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #36054
@gmarek @cjcullen Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #34746
@pwittrock @ymqytw Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:08] dims commented on #37134
@spiffxp Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:09] dims commented on #37991
@pwittrock Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:09] dims commented on #26134
@bprashanth Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:09] dims commented on #28569
@bprashanth Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:09] dims commented on #28718
@bprashanth @foxish Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:09] dims commented on #37843
@chrislovecnm @rootfs Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:09] dims commented on #38126
@ixdy Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:09] dims commented on #37177
Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:09] dims commented on #37862
@enisoc @davidopp Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:09] dims commented on #34571
@bowei Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #34383
@soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #33547
@dchen1107 Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #33754
@mwielgus Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #37025
@madhusudancs Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #27450
@bowei Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38243
@saad-ali @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38246
@saad-ali @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38241
@saad-ali @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38245
@saad-ali @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38237
@rkouj @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38233
@rkouj @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38234
@rkouj @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38240
@saad-ali @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38229
@saad-ali Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38232
@rkouj @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38235
@saad-ali Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:11] dims commented on #38236
@rkouj @soltysh Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:12] dims commented on #33804
@mwielgus Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:13] dims commented on #38231
@saad-ali @foxish Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:13] dims commented on #38239
@rkouj Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:13] dims commented on #38249
@rkouj Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:13] dims commented on #38305
@krousey Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:13] dims commented on #38248
@rkouj Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:13] dims commented on #38250
@rkouj Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:13] dims commented on #38251
@rkouj @Random-Liu Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:13] dims commented on #38133
@kshafiee @nikhiljindal Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:14] yissachar commented on #27796
I emailed the address @emsearcy posted above, and they were able to resolve my issue by unlinking my company email from whatever account it was linked to. I was then able to create a Linux Foundation account with my company GitHub account and company email address.

[2016-12-09 16:14] dims commented on #38230
@saad-ali Is it appropriate to move this to the next milestone or clear the 1.5 milestone? (and remove the non-release-blocker tag as well)

[2016-12-09 16:14] gmarek commented on #36054
Yes

[2016-12-09 16:18] juanpastas opened #38506 "Install in Ubuntu - Broken link"
Link in this page:

https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md

is broken.

[2016-12-09 16:25] timothysc commented on #35117
@jayunit100 - assigned.

[2016-12-09 16:33] jeremyong commented on #28660
There are many server applications which should not sit behind a load balancer and clients should connect to directly. The two most common examples I can think of are a game server or a media SFU/MCU. In such cases, clients may not be communicating via TCP at all but UDP, RTP, or some other custom protocol which interacts badly with standard load balancing implementations. With a true stable netwo

[2016-12-09 16:39] thockin commented on #37853
Jeremy, I think the answer to both is "no" or at least "not yet".  Now that we have a pretty clear signal of how to enable the bug, we can try to get to a more ready repro

[2016-12-09 16:39] cammm commented on #28660
^exactly this

It needs to work with existing clients without modifications and without a load balancer involved, so just using IP + PORT with support for UDP and TCP. These media / game server examples mentioned in the thread all have existing implementations and expect to connect users to the same session on the same pet.

[2016-12-09 16:41] timothysc commented on #27954
closing, please reopen should you have a reproducer on newer versions.

[2016-12-09 16:41] #27954 closed

[2016-12-09 16:44] bowei commented on #27450
Yes -- let's move it to the next milestone.

[2016-12-09 16:48] sttts commented on #28188
@dims yes, you can move it

[2016-12-09 16:49] #36809 closed

[2016-12-09 16:50] thockin commented on #34660
@kubernetes/sig-network

We really should resolve this in 1.6. maybe even a 1.5 bugfix if we can do something ultra-minimal?

[2016-12-09 16:55] jingxu97 commented on #37657
@dims, yes, it is not a release blocker

[2016-12-09 16:56] jingxu97 commented on #37056
@dims, yes, I think so

[2016-12-09 17:03] davidopp commented on #37862
I think it's no longer relevant once 1.5 is released and people start using PodDisruptionBudget beta, and we didn't get to it for 1.5, so I'm just going to close this.

[2016-12-09 17:03] #37862 closed

[2016-12-09 17:05] davidopp commented on #37134
No, this issue is about v1.5 known issues, so it is for the 1.5 release.

[2016-12-09 17:06] smenon78 commented on #37205
I don't have this file /etc/kubernetes/cloud-config.conf. Do I need to create this manually? What is the content of this file?

[2016-12-09 17:08] mikedanese commented on #38126
It sound like @ixdy wants this in the v1.5 release branch.

[2016-12-09 17:16] timothysc commented on #36532
@jayunit100 isn't this ... patched now?  reopen if you think otherwise.

[2016-12-09 17:16] #36532 closed

[2016-12-09 17:17] k8s-merge-robot opened #38511 "[k8s.io] Probing container should be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/1477/

Failed: [k8s.io] Probing container should be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}

[code]

[2016-12-09 17:18] hubt commented on #32304
Is the conclusion that this is a docker problem that affects 1.11  with cgroupfs(which is the used in systemd >= 226).

Because I believe I am seeing this issue, but I am using docker 1.11.2 and systemd 215(k8s version 1.4.0 provisioned with kops). I am using the cgroupfs driver.

[2016-12-09 17:18] luxas commented on #34136
@mikedanese Actually we can move this issue to kubernetes/kubeadm

[2016-12-09 17:19] timothysc commented on #25318
I'm uncertain if we want to stretch this into 1.6 unless @ConnorDoyle || @balajismaniam have cycles here.

[2016-12-09 17:19] bprashanth commented on #28569
it's worthy of a 1.5.x fix, if we don't get to it, we'll fix it in 1.6

[2016-12-09 17:20] bprashanth commented on #28718
petset is beta in 1.5 and I think all issues discussed here have spin off bugs

[2016-12-09 17:20] #28718 closed

[2016-12-09 17:25] nnashok commented on #37205
Yes, you have to create it. If you are using OpenStack, it would be something similar to:
[code]

[2016-12-09 17:27] smenon78 commented on #37205
What about aws?

[2016-12-09 17:28] caseydavenport commented on #32625
@dims Fine to clear the milestone and remove the non-release-blocker tag.

[2016-12-09 17:32] MrHohn commented on #28337
@dims Yes, please move it to the next milestone

[2016-12-09 17:37] davidopp commented on #37715
@gmarek has a more complete fix out for review but there hasn't been time to review it yet. I'll move this to 1.6.

[2016-12-09 17:38] jingxu97 commented on #36708
From the log, it looks like the node is just finished initialization and has not yet started tests and got Reboot.

cc @Random-Liu @dchen1107 @yujuhong

[2016-12-09 17:40] davidopp commented on #35318
Moved to 1.6

[2016-12-09 17:40] dims commented on #37715
Thanks @davidopp

[2016-12-09 17:41] dims commented on #37134
Ack @davidopp :)

[2016-12-09 17:41] MrHohn commented on #38456
cc @kubernetes/sig-network

[2016-12-09 17:45] timothysc commented on #34397
I'm going to close, please feel free to reopen if needed.

[2016-12-09 17:45] #34397 closed

[2016-12-09 17:46] timothysc commented on #28590
@wojtek-t did you want to keep this open through 1.6?  There has been a lot of work done during the 1.4 cycle.

[2016-12-09 17:49] MrHohn commented on #38446
Checked the log, kube-dns-autoscaler seems to be disabled in this build. Looking into why is it different from other GKE builds.

[2016-12-09 17:51] timothysc commented on #20738
@jayunit100 @sjug - would be a good tag-along exercise.

[2016-12-09 17:52] ymqytw commented on #35741
Need @pwittrock confirm.

@pwittrock BTW, 3 new failures after one week silence.

[2016-12-09 17:57] ymqytw commented on #34746
@dims Yes. Thanks.

@pwittrock we can keep using this issue for next release tracking.

[2016-12-09 18:06] sjug commented on #20738
Sounds good to me.

[2016-12-09 18:13] k8s-merge-robot opened #38513 "ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster-new/48/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33883

Failed: [k8s.io] SchedulerPredicates [Serial] validates that emb

[2016-12-09 18:17] krousey commented on #38247
@dims I think it's appropriate to just close it once a similar change to #38324 is put into 1.3 as well.

[2016-12-09 18:18] caesarxuchao commented on #34223
@davidopp @kevin-wangzefeng your call. I didn't look into the issue.

[2016-12-09 18:19] wojtek-t commented on #28590
yup - we are far from where I would like to be

[2016-12-09 18:22] krzyzacy commented on #36328
This one should be fixed already.

[2016-12-09 18:22] timothysc commented on #18414
@hongchaodeng can we close this one?

[2016-12-09 18:22] dims commented on #36328
Thanks @krzyzacy closing this then.

[2016-12-09 18:22] #36328 closed

[2016-12-09 18:24] bprashanth commented on #38456
Can you provide a repro of the keepalive issues to clarify?

[2016-12-09 18:24] timothysc commented on #17208
@davidopp are there work items we can complete as part of the 1.6 docs effort?

[2016-12-09 18:25] timothysc commented on #16165
@balajismaniam care to evaluate this one?

[2016-12-09 18:27] krousey commented on #38238
We should make an effort to remove these failures from the test results. In the future with 1.5 patch releases, we don't want this noise in the test results.

[2016-12-09 18:27] Random-Liu commented on #38251
@dims I think so. We won't fix this for this release.

[2016-12-09 18:27] Random-Liu commented on #38248
@dims I think so. We won't fix this for this release.

[2016-12-09 18:28] Random-Liu commented on #38249
@dims I think so. We won't fix this for this release.

[2016-12-09 18:28] Random-Liu commented on #38250
@dims I think so. We won't fix this for this release.

[2016-12-09 18:28] krousey commented on #38305
No. This still needs to be fixed.

[2016-12-09 18:31] timothysc commented on #12744
closing, please reopen if needed.

[2016-12-09 18:31] #12744 closed

[2016-12-09 18:31] hongchaodeng commented on #18414
I can't close this.
@xiang90

[2016-12-09 18:31] yujuhong commented on #33189
I think we can close this one. Will file separate issues for test flakes.

[2016-12-09 18:31] #33189 closed

[2016-12-09 18:37] timothysc commented on #10928
closing this issue, due to last report was > year ago.  If you think the issue still exists, please reopen.

[2016-12-09 18:37] #10928 closed

[2016-12-09 18:38] #18414 closed

[2016-12-09 18:41] timothysc commented on #13195
@ConnorDoyle want to triage this please.

[2016-12-09 18:42] Random-Liu commented on #33189
SGTM

[2016-12-09 18:44] k8s-merge-robot opened #38516 "[k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a pod. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-parallel/1445/

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a pod. {Kubernetes e2e suite}

[code]

[2016-12-09 18:44] dims commented on #38380
Caused by this change i believe - https://github.com/golang/go/commit/c5ccbdd22bdbdc43d541b7e7d4ed66ceb559030e

CC @jessfraz as 1.8beta1 is being worked on here - https://github.com/kubernetes/kubernetes/issues/38228

[2016-12-09 18:45] derekwaynecarr opened #38517 "hack/local-up shows leader lease errors"
Errors in hack/local-up started appearing as security was turned on by default.

[code]

It also appears that namespace's no longer delete properly which I also suspect is related to the controller manager problem.

[2016-12-09 18:45] derekwaynecarr commented on #38517
/cc @kubernetes/sig-auth @deads2k @sttts -- was this related to anything you guys have been doing?

[2016-12-09 18:45] yujuhong commented on #36708
[code]

Update engine was running and updating the OS...? I thought update was disabled on GCI.

[2016-12-09 18:47] bowei commented on #38456
@bprashanth re: keepalive issue, it probably refers to the fact that connections remain mapped to the same server. However, this is a problem whenever load balancing is done at the TCP level rather than the application level. The usual solution is for the application layer to provide a way to tell clients to reconnect and create new channel. For example, the HTTP protocol has the "Connection: clos

[2016-12-09 18:48] ljfranklin commented on #30752
@codablock here's the output from a GCP instance:

[code]

We haven't seen any slowness on GCP, even though the above settings are identical to our Azure instance's. We're trying to solve the same slowness issue on Azure, just not with kubernetes :) (we're Cloud Foundry). We're not using containers on this particular VM. Also, the problem manifests with `Standard_D2_V2` but not `Standard_D1`. Rela

[2016-12-09 18:49] saad-ali commented on #37657
Let's leave the non-release blocker label until the 1.5.0 release is cut

[2016-12-09 18:50] saad-ali commented on #37056
Let's leave the non-release-blocker label until the release is cut

[2016-12-09 18:50] Random-Liu commented on #36708
There is a soft lockup before reboot.
[code]

[2016-12-09 18:50] Random-Liu commented on #36708
/cc @adityakali

[2016-12-09 18:52] ixdy commented on #38437
@mikedanese I'm reproducing the existing behavior in `build-tools/lib/release.sh`, which seems to collapse the directory structure in some cases.

[2016-12-09 18:58] derekwaynecarr commented on #30534
@vishh -- it need not be configurable.  I am fine with the reduction of the thresholds.  the current threshold was too high IMHO at 5 minutes since it basically made the situation 2x worse.  30 seconds sgtm.

[2016-12-09 19:00] ixdy commented on #37690
`make clean` should work if docker is not installed.

[2016-12-09 19:00] smarterclayton commented on #28660
The naive solution here is stable external sub-service IPs, which requires
a LB with range IP ingress or VIP allocator / manager.  It would be
possible to build that integration today (VIP allocator) on a number of
clouds - would someone who has a near term reqt for public IP be interested
in driving that?

As a straw man, watch endpoints for a service, ensure a VIP is allocated
for each unique sl

[2016-12-09 19:03] bprashanth commented on #34660
I think @freehan is looking at what it will take, and evaluating the risk of 1.5.x vs 1.6

[2016-12-09 19:04] smarterclayton commented on #38447
In this case the 409 is probably because we're exhausting our retry count - there should be a finite number of conflicts, so retrying more times or telling the client to retry would probably be better than sleeping.

[2016-12-09 19:04] saad-ali commented on #37134
Release notes have been checked in to https://github.com/kubernetes/features/blob/master/release-1.5/release-notes-draft.md

@smarterclayton @yujuhong @euank @timstclair @childsb @BaluDontu @pwittrock @davidopp you all have issues linked to this indicating that you identified a "Known Issue" with the 1.5 release.

The 1.5 release notes are now checked into https://github.com/kubernetes/features/bl