[2017-06-12 23:12] caesarxuchao commented on #38405
Unfortunately i got one today: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47000/pull-kubernetes-e2e-gce-etcd3/35558/

[2017-06-12 23:15] monopole opened #47379 "test failure: cluster 1.6->1.7 upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]"
cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]

connection refused in version check

[job failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-6-cvm-1-7-upgrade-cluster/7#k8sio-upgrade-featureupgrade-k8sio-cluster-upgrade-should-maintain-a-functioning-cluster-featureclusterupgrade)

[history](https://k8s-testgrid.apps

[2017-06-12 23:18] bsalamat commented on #47277
Looks like we are running out of CPU on the master in a default deployment of a small cluster. I brought up a small cluster with 3 minions and a larger master node than usual. [Here](https://docs.google.com/a/google.com/spreadsheets/d/111HzcMGQj4VVPLy3_aIz7rw_E_-zCavOtThgNCNSuvM/edit?usp=sharing) you can see the pods and their resource requests on the master node.
I would suggest reducing CPU requ

[2017-06-12 23:18] bowei commented on #47269
Bug fix for fixing scalability issues with the network policy provider.

/approve

[2017-06-12 23:21] xiangpengzhao commented on #25353
/sig cli

[2017-06-12 23:24] bowei commented on #46918
@dchen1107 remove the milestone, this is not a 1.7 issue

[2017-06-12 23:26] monopole opened #47381 "Test failure: SchedulerPriorities [Serial] Pods should be scheduled to low resource use rate node"
SchedulerPriorities [Serial] Pods should be scheduled to low resource use rate node 1m26s

[log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-6-cvm-1-7-upgrade-cluster-new/7#k8sio-schedulerpriorities-serial-pods-should-be-scheduled-to-low-resource-use-rate-node),  [test grid](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-upgrade-cluster-ne

[2017-06-12 23:27] dchen1107 commented on #46918
Since all issues listed here are addressed separately. Close this one.

[2017-06-12 23:27] #46918 closed

[2017-06-12 23:27] dchen1107 commented on #30073
Removed to next milestone since we didn't fix this.

[2017-06-12 23:29] dchen1107 commented on #32796
There is a pending pr to address this issue, not update if that is the right fix.

[2017-06-12 23:31] bowei commented on #46788
@deads2k is there a PR associated with this?

[2017-06-12 23:33] bowei commented on #46531
This looks to be a quota issue

[2017-06-12 23:33] bowei commented on #46531
/assign

[2017-06-12 23:33] bowei commented on #46531
/close

[2017-06-12 23:33] #46531 closed

[2017-06-12 23:38] perotinus commented on #46119
I believe I understand the reason for the first failure as well. The federated deployment controller watches pods in the underlying cluster to get information that it uses to determine capacity and schedule pods. When a deployment is being updated to a new image, it creates a new replica set for the new pods and scales down the old replica set. For some reason, it looks like the federated deployme

[2017-06-12 23:40] monopole opened #47382 "Test Failure: Pods created by ReplicationController should spread to different node"
[jenkins](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-6-gci-1-7-upgrade-cluster-new/6#k8sio-schedulerpriorities-serial-pods-created-by-replicationcontroller-should-spread-to-different-node)

[test-grid](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-gci-upgrade-cluster-new&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20

[2017-06-12 23:41] monopole commented on #47382
shows up in [many old failure reports](https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20%22Pods%20created%20by%20ReplicationController%20should%20spread%20to%20different%20node%22)

[2017-06-12 23:47] bowei commented on #46475
filed PR here https://github.com/kubernetes/kubernetes.github.io/pull/4064

[2017-06-12 23:47] bowei commented on #46475
/assign

[2017-06-12 23:47] bowei commented on #46475
/close

[2017-06-12 23:47] #46475 closed

[2017-06-12 23:48] bowei commented on #43730
@dchen1107 remove from 1.7 milestone

[2017-06-12 23:52] dchen1107 commented on #43730
Move to next milestone per sig/network's request.

[2017-06-13 00:01] bowei commented on #37414
Next milestone reason: it seems that there are still some conversations about this the PR fix around whether or not we want to make `kube-proxy` require the presence of `kubelet`. It seems warranted then to accept this fix in the next release.

[2017-06-13 00:06] bowei commented on #42735
@dchen1107 move to next milestone

Reading through the issue, there seem to be a couple of different intersecting issues going on here, it seems like it needs some more investigation.

[2017-06-13 00:07] bowei commented on #46039
PR should be able to go in.

[2017-06-13 00:09] bowei commented on #45687
@nicksardo  looks like a test setup issue

[2017-06-13 00:10] bowei commented on #45687
/assign @nicksardo

[2017-06-13 00:10] bowei commented on #45687
/unassign @eparis

[2017-06-13 00:11] bowei commented on #45790
@caseydavenport -- is this appropriate for an issue against the CNI repo?

[2017-06-13 00:15] matchstick commented on #46788
@deads2k You commented that this was going to be addressed for 1.7 . Any update? Do you need help? The deadline is getting close.
@kubernetes/sig-network-misc
@liggitt Can this slip to a patch fix?

[2017-06-13 00:17] matchstick commented on #45687
This is addressed. We can close. Thanks @nicksardo

[2017-06-13 00:17] #45687 closed

[2017-06-13 00:17] nicksardo commented on #45687
For reference: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gke-1-6-ingress/?before=531

[2017-06-13 00:18] matchstick commented on #45790
Moving this off 1.7 milestone. It is documentation for plugin writers. If that is inappropriate please comment.
@kubernetes/sig-network-misc

[2017-06-13 00:18] matchstick commented on #43340
Moving as @bowei recommends.

[2017-06-13 00:18] #29386 closed

[2017-06-13 00:18] liggitt commented on #46788
Fixed by https://github.com/kubernetes/kubernetes/pull/46800

I don't think we can ship as-is

[2017-06-13 00:21] matchstick commented on #42735
This feels like an umbrella issue at this point. It keeps redefining itself.
@DreadPirateShawn I am moving out of 1.7 if that is inappropriate please have us re-add milestone 1.7.

[2017-06-13 00:22] matchstick commented on #37414
We need to address this in a patch release, but it should not block 1.7.
@kubernetes/sig-network-misc

[2017-06-13 00:25] matchstick commented on #44307
@dcbw We are getting close to 1.7 and this bug does not appear to be worth holding the release for. If you feel it is, please comment as such. Otherwise we can move it to next-candidate and then address in a patch release.

[2017-06-13 00:27] matchstick commented on #31813
This is a nice to have for 1.7. @tgraf please see if you can address this soon (by tomorrow) to make 1.7. If not I don't think this documentation is required for the release.

[2017-06-13 00:47] xiangpengzhao commented on #47379
/sig network

[2017-06-13 00:50] spzala commented on #47361
I have changed the issue title a bit to make its scope broader as I described in PR and as @duglin mentioned.

[2017-06-13 00:52] gyliu513 opened #47385 "Enable `ADMISSION_CONTROL` can be set as env var in local-up-cluster.sh"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-13 00:59] ixdy opened #47386 "Update images before 1.7 release"
A number of addon images have CVEs that have been fixed in the upstream base images.
We should update these images before the final 1.7 release.

cc @timstclair

[2017-06-13 01:00] DjangoPeng commented on #5607
@vishh +1.  Could you have a look at [#10642](https://github.com/tensorflow/tensorflow/issues/10642), I think it's need to add `/dev/nvidia-uvm` into container.

[2017-06-13 01:00] ixdy commented on #47386
@kubernetes/sig-release-misc

[2017-06-13 01:04] timstclair commented on #47386
/cc @dchen1107

[2017-06-13 01:08] moserke commented on #23920
I'm not sure I'm following this.  Some things say it's fixed, others say it's not.  If I am using k8s 1.6.4 with Calico CNI, should hostPort work?

[2017-06-13 01:08] bzub commented on #29972
This issue happens regularly with almost any deployment I use that create pods with init containers.  Further, it may be impacting etcd-operator, at the very least, since it sees the pod as being in an erroneous pending state and waits indefinitely, preventing normal operation.

As stated previously, this pending state occurs some time after the pod was created and the init container has previousl

[2017-06-13 01:13] xiangpengzhao commented on #32796
yeah that PR is still under reviewing.

[2017-06-13 01:19] #47269 closed

[2017-06-13 01:29] k82cn commented on #47382
/sig scheduling

`scheduling/priorities.go` is one of scheduling e2e test.

[2017-06-13 01:38] mindprince opened #47388 "Add e2e tests for testing GPUs on GKE"
xref: #44107

/sig node
/area test

[2017-06-13 01:40] mindprince commented on #47388
I am working on this.

[2017-06-13 01:40] caseydavenport commented on #23920
@moserke you'll need a v1.7.0 k8s for this to work, and then you'll need to update your CNI configuration and version.

Here's an example: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/calico-policy-controller/calico-node-daemonset.yaml#L77

[2017-06-13 01:55] wanghaoran1988 commented on #46634
@jbeda Are you already start working on this? if not, I am volunteered to take this as a good start to understanding this feature.

[2017-06-13 02:24] ericchiang commented on #47362
@nicksardo this test was re-assigned to the slow suits but is still failing there. https://k8s-testgrid.appspot.com/release-master-blocking#gci-gke-slow

[2017-06-13 02:33] derekwaynecarr commented on #47350
@ericchiang -- i think this is a separate issue.. for some reason, an empty namespace name is being passed into client which doesnt appear possible at first glance.

[2017-06-13 02:36] emaildanwilson commented on #29887
If the replicasets and deployments conversion to the sync container have
now been merged then this can be closed.

On Jun 12, 2017 2:53 PM, "Maru Newby" <notifications@github.com> wrote:

[2017-06-13 02:43] #24383 closed

[2017-06-13 02:44] #24373 closed

[2017-06-13 02:45] xingzhou commented on #47333
@wongma7 and @gnufied, any plans to fully enforce the access mode? I submitted a ticket on this before https://github.com/kubernetes/kubernetes/issues/37465. If we specify RWO, it means that we should only attach this volume to only one node.

[2017-06-13 02:48] mbohlool commented on #47372
Yes, it does break backward compatibility. There are two options (Both possible with a post processing function hook available in OpenAPI generator config():

1. Rename models to keep backward compatibility.
2. Keep new names and add a redirect from old names to new names for all model names. If we chose this, we need to keep this for at least one version (and clear message of deprecation).

I fav

[2017-06-13 03:00] chrislovecnm commented on #39526
Closing

[2017-06-13 03:00] #39526 closed

[2017-06-13 03:00] bbeaudreault commented on #29972
While a fix is being worked on, the above workarounds have worked for us for 1.5 months. Look into anything that might be deleting/garbagecollecting the containers after the init containers have executed. Disable that if possible, and you'll be unlikely to see this again.

[2017-06-13 03:04] gnufied commented on #47333
There are 2 separate issues here.

a. AccessMode is not applied at mount time. So if user specifies ROX, volumes are still mounted as RW. As @wongma7 said, this is because AccessMode is only used during binding phase and forgotten later on. This problem is relatively easier to solve and I think we can set ReadOnly on volumes if ROX accessmode is specified in PVC.

b. Another problem of course is,

[2017-06-13 03:07] gnufied commented on #39526
@jakexks btw, if polling for individual nodes is killing vsphere server. Vsphere volume plugin should implement BulkPolling api introduced in - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L177

cc @divyenpatel

[2017-06-13 03:08] zhangxiaoyu-zidif opened #47390 "E2E execute failed: SchedulerPredicates validates resource limits of pods that are allowed to run"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-13 03:11] #46039 closed

[2017-06-13 03:16] zhangxiaoyu-zidif commented on #47390
@kubernetes/sig-Testing-misc

[2017-06-13 03:18] xingzhou commented on #47333
@gnufied, if we detect the multi-pod usage from scheduler side, is there any way for the scheduler to know whether or not a PVC is already bound to a pod?

[2017-06-13 03:20] zhangxiaoyu-zidif commented on #47390
/sig help-wanted

[2017-06-13 03:21] zhangxiaoyu-zidif commented on #47390
@kubernetes/sig help-wanted

[2017-06-13 03:23] zhangxiaoyu-zidif commented on #47390
/area test

[2017-06-13 03:24] zhangxiaoyu-zidif commented on #47390
/kind bug

[2017-06-13 03:28] k82cn commented on #47390
/sig scheduling

[2017-06-13 03:29] k82cn commented on #47382
/assign

I'll check this one.

[2017-06-13 03:32] marun commented on #29887
Ah, not yet.

[2017-06-13 03:32] #44461 closed

[2017-06-13 03:35] justinsb commented on #47067
Sorry for the delay @marshallbrekka, and thank you so much for the excellent bug report.

I agree with the approach, and because of the timelines I put up a PR at https://github.com/kubernetes/kubernetes/pull/47391.  If you also want to submit a PR, I'll happily LGTM it though!

Thanks again for finding this!

[2017-06-13 04:01] ZhenyangZhao opened #47392 "kubeadm controller-manager no /etc/fstab when use cloud-provider "openstack" "config-drive""
Dear All:
I'm not sure if I'm right. When i use `kubeadm init --config=xxxx` whith `openstack provider config-drive`.I found controller-manager logs
[code]

#### env
[code]

Someone can help me? Thanks a lot.

[2017-06-13 04:05] mindprince commented on #47216
This can be closed now, the tests are green: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gpu/462

[2017-06-13 04:08] ZhenyangZhao commented on #47392
/sig Federation

[2017-06-13 04:11] ZhenyangZhao commented on #47392
/sig OpenStack
/sig ProductManagement

[2017-06-13 04:13] nicksardo commented on #47362
@aledbf Mind looking at this?

[2017-06-13 04:15] liggitt commented on #47374
Isn't that the issue with keys generated with a previous version of go?

[2017-06-13 04:16] ZhenyangZhao commented on #47392
/sig Product Management

[2017-06-13 04:19] gtaylor commented on #17657
We just ran into this as well. Feels dirty sticking a /.docker/config.json in, but that appears to have worked. We can't pre-populate /var/lib/kubelet, since kubeadm freaks out of there are files already in that dir.

[2017-06-13 04:28] aledbf commented on #47362
@nicksardo sure

[2017-06-13 04:41] aledbf commented on #47362
@nicksardo reading one of the logs https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/7064/nodelog?junit=junit_08.xml&wrap=on
I see this
[code]

[2017-06-13 04:53] vishh commented on #47216
Yay!!!.

[2017-06-13 04:53] #47216 closed

[2017-06-13 05:00] ZhenyangZhao commented on #47392
/sig Cluster Ops

[2017-06-13 05:01] ZhenyangZhao commented on #47392
/sig  area/kubeadm

[2017-06-13 05:01] ZhenyangZhao commented on #47392
/sig kubeadm

[2017-06-13 05:03] ZhenyangZhao commented on #47392
/are kubeadm

[2017-06-13 05:03] ZhenyangZhao commented on #47392
/area kubeadm

[2017-06-13 05:04] ZhenyangZhao commented on #47392
/kind bug

[2017-06-13 05:06] justinsb opened #47394 "AWS provider needs refactoring"
A recent commit introduced some issues into the aws cloudprovider which need to be fixed before we cut the 1.7 branch, or else backporting will be needlessly hard.

[2017-06-13 05:13] txg1550759 opened #47396 "kubelet Error adding network: the server does not allow access to the requested resource"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-13 05:14] k8s-merge-robot opened #47397 "E2E Test failure: [k8s.io] Loadbalancing: L7 [k8s.io] [Slow] Nginx should conform to Ingress spec (Failure cluster [1e796c...] failed 121 builds, 23 jobs, and 3 tests over 1 days)"
### Failure cluster [1e796c09ea87722d28c5](https://go.k8s.io/triage#1e796c09ea87722d28c5)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    23 jobs failed,    121 builds failed.
Failure stats cover 1 day time range '12 Jun 2017 04:03 UTC' to '13 Jun 2017 04:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Loadbalancin

[2017-06-13 05:18] xingzhou commented on #47264
seems according to the doc, only "Changes to the Init Container spec are limited to the container image field.", IIUC, kubernetes/kubectl#27 is trying to update the image field, if @mengqiy you are not working on this, I can help take a look at the issue.

[2017-06-13 05:24] #47396 closed

[2017-06-13 05:27] nicksardo commented on #47397
https://github.com/kubernetes/kubernetes/issues/47362#issuecomment-308005124

[2017-06-13 05:29] txg1550759 opened #47398 "kubelet Error adding network: the server does not allow access to the requested resource"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-13 05:32] justinsb commented on #45417
For question 1, no it is not possible currently.  The strategies we've come up with so far have a high chance of collisions.  We do tag the ELB though with the name of the service though, in the tag `kubernetes.io/service-name`.

For question 2, I think you are asking whether you can set a backend policy that will lower the security rules for ELB -> k8s; sadly the answer is you cannot do that yet:

[2017-06-13 05:36] justinsb commented on #44686
The change you suggest would certainly be reasonable, but AFAIK kubernetes itself doesn't currently have great support for instances with multiple IPs.  What is your reason for multiple IPs?

As an aside, I do think it would be cool to use this functionality of AWS a bit better - it's come up a few times in relation to elastic IPs for services that do IP-based filtering (but there a proxy seems ea

[2017-06-13 05:37] txg1550759 commented on #45626
kubelet 1.6.4 There has been such a problem, and the 1.5 piece of kubelet is no problem at all
# Calico Version v2.1.5
# http://docs.projectcalico.org/v2.1/releases#v2.1.5
# This manifest includes the following component versions:
#   calico/node:v1.1.3
#   calico/cni:v1.8.0
#   calico/kube-policy-controller:v0.5.4

[root@master3 ~]# kubectl get nodes
NAME            STATUS    AGE       VERSION
je

[2017-06-13 05:39] justinsb commented on #43438
There is a long-standing issue here: https://github.com/kubernetes/kubernetes/issues/23483

I'm going to close this in favor of that one, so that we can try to focus the conversation there.

The challenges seem to be around security (what if I specify someone else's ELB maliciously) and collisions (what happens if two services map to the same ELB accidentally)

[2017-06-13 05:39] #43438 closed

[2017-06-13 05:50] justinsb commented on #41904
I added a richer log message in #47399 to help diagnostics.

I'm not sure if this behaviour is wrong actually.  The kubelet goes offline, the node gets evicted etc.

The only challenge is if the metadata service goes down cluster-wide.  We don't want to just shut-down.  When we have sig/cloud we can talk about it there I guess.

[2017-06-13 05:53] irfanurrehman commented on #42907
@madhusudancs @marun, I think we can close this one in favour of https://github.com/kubernetes/kubernetes/issues/44384.
Also, this has been on a backburner from some time.
Please, let me also know if this should be given priority.

[2017-06-13 05:55] nicksardo commented on #47397
Looks like fluentd exposes port 80 and causes the conflict. Tests started failing after https://github.com/kubernetes/kubernetes/pull/46539 was merged via override.
@dchen1107 @crassirostris

Thanks for your help @aledbf

[2017-06-13 05:56] moshe0076 commented on #41033
Hi,

Thank you for the prompt response!

I'm using Rancher to deploy the cluster and it looks like the --eviction-hard parameter is not set.
Please correct me if I am wrong, from what I can see, the only default set on this flag is --eviction-hard=memory.available<100Mi. So if the other options are not set, one can just run out of Inodes or disk space eventually?

Thanks for the help.

Moshe

[2017-06-13 05:56] nicksardo commented on #47397
/assign @crassirostris

[2017-06-13 06:05] crassirostris commented on #47397
@nicksardo Thanks!

[2017-06-13 06:06] mengqiy commented on #47264
@xingzhou Thanks for triaging the issue.

[2017-06-13 06:12] marshallbrekka commented on #47067
Your PR looks good, thanks for getting a fix together so quickly!

[2017-06-13 06:25] krmayankk commented on #47326
@msau42 Specifically for EBS and RBD, where does AttachDisk happen on the master or on the node ? I see code in both kubelet and the controller. How do we know where this is happening ? Is this configurable, for each volume type ?

[2017-06-13 06:31] #47008 closed

[2017-06-13 06:37] roberthbailey commented on #6440
Both `cluster/ubuntu` and the docker-multinode getting started guides have been removed so I'm going to close this as obsolete.

[2017-06-13 06:37] #6440 closed

[2017-06-13 06:39] roberthbailey commented on #6728
Yes, this was "improved" in the sense that we no longer generate keys on the master and fetch them down via ssh; instead we generate them locally and push them up via the metadata server. As there is no longer a step to ssh into the master to fetch files I'm closing as obsolete.

[2017-06-13 06:39] #6728 closed

[2017-06-13 06:40] roberthbailey commented on #7497
I'm going to close this as obsolete since it hasn't been updated in over two years.

[2017-06-13 06:40] #7497 closed

[2017-06-13 06:44] roberthbailey commented on #8313
/cc @chuckbutler @castrojo @marcoceppi @mbruzek (owners of the juju directory).

Can one of you triage and determine if this is still an active issue that is being worked on or can it be closed?

[2017-06-13 06:46] crassirostris commented on #44976
@yujuhong

Not in the core Kuberentes, that's for sure, I agree that it's not a very strong argument, but rather a nice thing to have customizable.

Journald log entry is a set of key-value pairs, so it translates well to json format. Redirecting (e.g. in CRI) journald to json-formatted files will give the following benefits, compared to using raw journald:

- Per-pod log storage management (in th

[2017-06-13 06:48] roberthbailey commented on #8686
@ixdy - I agree that the current state hasn't change much, but that just means we have been able to skate by, not that we have redefined the desired state.

We have started pushing hyperkube images to gcr.io as part of building releases; why not push the other master components (and kube-proxy, which is also now side-loaded onto nodes) as well? That would at least move us in the right direction. A

[2017-06-13 06:49] roberthbailey commented on #8699
Closing as obsolete due to lack of updates in almost two years.

[2017-06-13 06:49] #8699 closed

[2017-06-13 06:50] #44022 closed

[2017-06-13 06:52] roberthbailey commented on #9468
Is this still a pain point almost two years later? The cluster lifecycle SIG is working on revamping the addon manager (see https://docs.google.com/document/d/1Laov9RCOPIexxTMACG6Ffkko9sFMrrZ2ClWEecjYYVg/edit#heading=h.rwtjflxdmlmi) so I'm going to close this issue and propose that we address any lingering concerns as part of that process.

@justinsb FYI.

[2017-06-13 06:52] #9468 closed

[2017-06-13 06:53] roberthbailey commented on #9771
Closing as obsolete as this hasn't been updated in almost two years.

[2017-06-13 06:53] #9771 closed

[2017-06-13 06:56] roberthbailey commented on #10098
This looks obsolete and we've done one (or maybe two) large documentation refactorings since it was filed so I'm going to close it.

[2017-06-13 06:56] #10098 closed

[2017-06-13 06:57] roberthbailey commented on #10116
I agree with @justinsb's conclusion from last November, and as there haven't been any dissenting options I'm going to close as obsolete.

[2017-06-13 06:57] #10116 closed

[2017-06-13 06:59] roberthbailey commented on #10539
I'm closing as obsolete as this issue hasn't been updated in almost two years.

[2017-06-13 06:59] #10539 closed

[2017-06-13 07:00] justinsb opened #47404 "AWS provider: NodeNames are not unique if not filtered by state"
In #46463 we stopped filtering nodes by their running state.  But this means that the NodeName is no longer a unique key.  We need to rework the volume status checker to deal with this.

[2017-06-13 07:01] roberthbailey commented on #10694
As this code has been moved to the contrib repository (e.g. https://github.com/kubernetes/contrib/blob/master/ansible/roles/kubernetes/tasks/gen_certs.yml), please reopen this issue there if it is still something that needs to be addressed.

[2017-06-13 07:01] #10694 closed

[2017-06-13 07:02] roberthbailey commented on #10777
Kubernetes now has a defined release process that doesn't depend on GKE validation, so I'm closing this as obsolete.

[2017-06-13 07:02] #10777 closed

[2017-06-13 07:02] roberthbailey commented on #10886
As this code has been moved to the contrib repository, please reopen this issue there if it is still something that needs to be addressed.

[2017-06-13 07:02] #10886 closed

[2017-06-13 07:03] kenden commented on #22058
Is this implemented?
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/tags.go#L30

[2017-06-13 07:04] roberthbailey commented on #11819
Closing as obsolete. Please re-open if you are still working on this issue.

[2017-06-13 07:04] #11819 closed

[2017-06-13 07:04] justinsb commented on #22058
It is - great point!

[2017-06-13 07:04] #22058 closed

[2017-06-13 07:05] justinsb commented on #35052
This is now implemented as @kenden pointed out here: https://github.com/kubernetes/kubernetes/issues/22058#issuecomment-308026369

[2017-06-13 07:05] #35052 closed

[2017-06-13 07:08] roberthbailey commented on #12457
@derekwaynecarr - this issue hasn't been updated in almost two years, so unless you think it's worth addressing at this point, I'd suggest that we close it.

[2017-06-13 07:09] roberthbailey commented on #12955
Given the last update from @euank, I'm closing this issue as obsolete.

[2017-06-13 07:09] #12955 closed

[2017-06-13 07:15] #23247 closed

[2017-06-13 07:16] roberthbailey commented on #23388
Given the lack of updates in the past year, I'm going to close this as obsolete.

[2017-06-13 07:16] #23388 closed

[2017-06-13 07:18] kenden commented on #42957
I just created a new cluster with Kops 1.6.1 without any tags on the existing subnets and my ELB registered to all subnets. The ELB has the tags:
`KubernetesCluster: k8s.prod.eu-central-1.redacted.net`
`kubernetes.io/cluster/k8s.prod.eu-central-1.redacted.net: owned`
This new tag `kubernetes.io/cluster/...`, from [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/provide

[2017-06-13 07:23] roberthbailey commented on #33764
We now use `gcloud compute instance-groups managed recreate-instances` in the upgrade script.

[2017-06-13 07:23] #33764 closed

[2017-06-13 07:25] roberthbailey commented on #34134
@luxas - please open an issue in the kubeadm repo for this feature request.

[2017-06-13 07:25] #34134 closed

[2017-06-13 07:25] roberthbailey commented on #35188
Please re-open this feature request in the [kubeadm repository](https://github.com/kubernetes/kubeadm).

[2017-06-13 07:25] #35188 closed

[2017-06-13 07:26] roberthbailey commented on #35569
I'm assuming that you either fixed this or found a workaround since there haven't been any updates in a few months.

[2017-06-13 07:26] #35569 closed

[2017-06-13 07:29] roberthbailey commented on #41152
Closing based on @zmerlynn's comment from February 8th. And if this is still an issue, it should be re-opened in the kops repository.

[2017-06-13 07:29] #41152 closed

[2017-06-13 07:32] #43153 closed

[2017-06-13 07:33] roberthbailey commented on #44276
@wojtek-t or @mml may be able to help answer this question.

[2017-06-13 07:34] roberthbailey commented on #44524
Please re-open this issue in the [kubeadm repository](https://github.com/kubernetes/kubeadm).

[2017-06-13 07:34] #44524 closed

[2017-06-13 07:41] ddysher commented on #34439
right now, there is soft limitation enforced by kubelet https://github.com/kubernetes/kubernetes/pull/45686

[2017-06-13 07:43] roberthbailey commented on #46142
@madhusudancs -- https://k8s-testgrid.appspot.com/cluster-federation#soak-gce-test seems to be failing consistently. Are you looking into this?

[2017-06-13 07:46] justinsb opened #47409 "AWS: Dead code - getInstancesByRegex"
Need to remove to support fixing #45050

[2017-06-13 07:48] mikedanese commented on #32215
This is incorporated into the doc

[2017-06-13 07:48] #32215 closed

[2017-06-13 07:49] roberthbailey commented on #8686
FWIW, @dchen1107 also filed https://github.com/kubernetes/kubernetes/issues/24123 in April 2016 which is along the same lines (we should stop side-loading and be pulling from gcr.io).

[2017-06-13 07:58] kargakis commented on #40271
This sounds more like a sig/node issue but I guess this is is obsolete now so I am going to close it.

[2017-06-13 07:58] #40271 closed

[2017-06-13 07:58] pkutishch commented on #47333
@xingzhou as per my understanding the way is check pod spec where binding pvc defined in volume block.
Anyway but i think in future would be nice to have such info in PVC/PV status that i has bound to POD and pod name for example, this will help check whether it was assigned to some resources.
But it only my view

[2017-06-13 08:09] luxas commented on #32215
@mikedanese Can you please turn the gdoc into a markdown proposal soon?

[2017-06-13 08:11] madhusudancs commented on #46142
@roberthbailey thanks for the ping. Wasn't paying attention to this one.

@shashidharatd can you please take a look?

/assign @shashidharatd
/cc @marun

[2017-06-13 08:11] xingzhou commented on #47333
yes, that's my concern, as the PVC status does not include the bound pod info, so it might be not easy to stop the pod scheduling at schedule phase at present, if check from pod spec, I don't know if there is any way to "lock" the resource efficiently, as in a cluster, I think we can run multiple schedulers simultaneously.

[2017-06-13 08:13] kargakis commented on #47398
Seems like an RBAC error with the CNI plugin.

Did you try
[code]
http://docs.projectcalico.org/master/getting-started/kubernetes/installation/hosted/

[2017-06-13 08:14] luxas commented on #46634
@wanghaoran1988 That sounds absoultely awesome!!!
@jbeda has too much things going on at the moment, so this would be a perfect contribution :+1:

@wanghaoran1988 Let me know if you need any help.
Links to proposal: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/bootstrap-discovery.md
and https://github.com/kubernetes/community/pull/628

[2017-06-13 08:14] kargakis commented on #47398
/sig auth
/sig network

[2017-06-13 08:16] wanghaoran1988 commented on #46634
@luxas Thanks for point me the proposal, will ping you if needed:)

[2017-06-13 08:26] ZhenyangZhao commented on #47392
/remove-kind bug
/kind support

[2017-06-13 08:28] ZhenyangZhao commented on #47392
/remove-sig federation

[2017-06-13 08:28] luxas commented on #47386
cc @luxas

[2017-06-13 08:29] luxas commented on #47307
I'm reopening this unless we are really sure that it actually works...

[2017-06-13 08:31] luxas commented on #47307
@ixdy How can we create the testing required to stop this from happening again?

[2017-06-13 08:36] pkutishch commented on #47333
@xingzhou as i know k8s storing information in etcd, not sure if it stores information regarding storage but you may setup lock flag in etcd, and during assigning PVC to POD it will check for lock flag in case you using RWO mode. and not to set lock flag for RWX and ROX, but not sure that this case is suitable.

[2017-06-13 08:36] ZhenyangZhao commented on #47392
@kubernetes/sig-storage-bugs

[2017-06-13 08:36] ZhenyangZhao commented on #47392
/remove-kind bug

[2017-06-13 08:50] sebgoa commented on #13944
@ahmetb "we are not planning t" or "we are now planning to " ?

I think all example issues should be redirected to `kubernetes/examples`

[2017-06-13 08:52] fabiand commented on #15169
I wonder if there is some progress on this issue?

[2017-06-13 09:03] #46999 closed

[2017-06-13 09:46] kargakis commented on #47376
/remove-sig scalability
/sig apps
/unassign

[2017-06-13 09:46] kargakis commented on #47376
/unassign @lavalamp
/assign @kow3ns

[2017-06-13 09:51] r7vme commented on #38372
We had same issue at least two times.

[2017-06-13 10:14] shyamjvs opened #47419 "Kubemark-5k failing load test due to high latency of LIST api requests"
For the last few runs of kubemark-5000 (463-467), we have the load test failing due to high api latencies for list calls of nodes, endpoints and services (occasionally):

[code]
(from run 463)

Previously (when the test was green) we had:
[code]
(from run 416)

So only the list request latencies shot up. Looking for the faulty PR.

cc @kubernetes/sig-scalability-bugs @kubernetes/sig-api-machinery-

[2017-06-13 10:14] shyamjvs commented on #47419
cc @smarterclayton @liggitt

[2017-06-13 10:28] luxas commented on #47392
@ZhenyangZhao Please give more information about your set up
cc @kubernetes/sig-openstack-bugs

[2017-06-13 10:29] alexlarsson commented on #44976
I don't think using json is really helpful here, because we would not be able to persist non-unicode output that way. I also think that escaping things is somewhat painful, because we need to parse and allocate possible extra buffer size when writing the data.

Why don't we just take the existing format:
[code]

But, when we get a partial line, we use a slightly different format to mark this. For

[2017-06-13 10:34] qgadrian opened #47420 "GCP: LoadBalancer service with external IP creates instance with another IP"
**Kubernetes version**:
- 1.6.4

**Environment**:
- **Cloud provider**: Google Cloud Platform (GCP)

**What happened**:
This happens with a previously static IP created in GCP cluster.

When creating a service with an external IP, a service is created with the declared external endpoint but a load balancer instance in Google cloud is created with another IP address.

So, at the end a service in th

[2017-06-13 10:39] qgadrian commented on #47420
/assign
/sig network
/area platform/gce

[2017-06-13 10:41] Bregor commented on #17088
@neelance NGINX by kubernetes team

[2017-06-13 11:34] shyamjvs commented on #47419
So from the apiserver traces it looks like the step of listing from storage is taking long in some of the calls. For eg.:

[code]

[2017-06-13 11:59] murhum1 commented on #42735
I'm also getting this every now and then, and *at least* in my case it seems to be related to resource limits. I'm trying to run a pod both with and without a resource limit - every time I specify a memory limit, the pod is stuck at `ContainerCreating`, and every time I comment them out it starts `Running` without a hitch.

Here's some logs from the kubelet trying to run the resource limited pods.

[2017-06-13 12:14] ZhenyangZhao commented on #47392
@luxas Sorry for report later.
#### My /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
[code]
#### I use kubeadm init --config=kubeadm.config
[code]
#### /etc/kubernetes/cloud-config
[code]

#### docker info
[code]
#### system info
[code]

[2017-06-13 12:22] michaelajr commented on #42957
Which ELB? The API ELB, or a Service ELB?

[2017-06-13 12:26] ZhenyangZhao commented on #47392
/cc @kubernetes/sig-openstack-bugs

[2017-06-13 12:33] paultyng commented on #29025
This can probably be closed now that probes have `httpHeaders` support.

[2017-06-13 12:36] hanikesn commented on #47354
RBAC roles have been provisioned for a while before. But it seems like this was related to the restarting order of apiserver, controller-manager and changing user assignment via tokens. So it's a false alarm. Sorry for the noise.

[2017-06-13 12:36] #47354 closed

[2017-06-13 12:39] deads2k opened #47426 "openapi not aggregating delegated API servers"
The `kube-apiserver` is built by creating a delegation chain from one server to another.  This chain of discrete API servers allows for a code level separation of API servers so that each can be developed separately and later assembled. See https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L118

The openapi isn't being aggregated through the chain.

@kubernetes/

[2017-06-13 12:43] chuckbutler commented on #8313
I think we're good to close this @roberthbailey.

[2017-06-13 12:45] kenden commented on #42957
@michaelajr a service ELB

[2017-06-13 12:56] dims commented on #26404
looks like the referenced PR has merged

/assign

[2017-06-13 12:56] dims commented on #26404
/close

[2017-06-13 12:56] #26404 closed

[2017-06-13 12:59] dims commented on #39929
@gnufied you can talk to someone on the #sig-release channel to help with that.

/assign

[2017-06-13 12:59] dims commented on #39929
/close

[2017-06-13 12:59] #39929 closed

[2017-06-13 13:00] afshinm commented on #3865
I have the same issues but removing / creating the pod doesn't help. Looks like Docker uses some sort of caching or something like this to avoid repeating some steps again.

[2017-06-13 13:04] luxas commented on #47392
Thanks @ZhenyangZhao
Based on this, I think it's an openstack cloudprovider problem more than a kubeadm problem...

[2017-06-13 13:09] liggitt commented on #47283
I see things like this in the master log:

[code]

It seems the kubelet is not set up to authenticate to the API? I'm not familiar with this e2e setup, @timstclair do you know what scripts set up this env?

[2017-06-13 13:11] ZhenyangZhao commented on #47392
@luxas  Thank you for help me. I will change the label.

[2017-06-13 13:11] ZhenyangZhao commented on #47392
/area cloudprovider

[2017-06-13 13:11] jamiehannaford opened #47427 "Allow users to specify the user secret namespace in Ceph volume driver"
The current Ceph driver causes issues when the kubelet mounts volumes in a different namespace from the one where the User secret is stored. By default the User secret is stored in the `default` namespace and the user has no way to override it, forcing them to manually copy it over or face various hard-to-debug errors in the logs. See [here](https://github.com/kubernetes/kubernetes/blob/1e1040b524

[2017-06-13 13:12] suyuan1203 commented on #3865
@afshinm removing/creating the pod will not remove anything on the persistent volume, which means the new mysql pod will load the old 'mysql data file' from the persistent volume, include the 'mysql.user' table which has the old username and password and that's why the 'ROOT_PASSWORD' env doesn't work. So you have to manually remove those files on persistent volume. It seems Kubernetes can automat

[2017-06-13 13:13] shyamjvs commented on #47419
Just figured out that list calls were having high latencies (> 1s) even before, at the time when the test was green (for eg. runs 416, 415, 414, ...). However back then, due to an issue in the apiserver's instrumentation code (https://github.com/kubernetes/kubernetes/issues/45566) we weren't rightly recording LIST call latencies and they were being counted under WATCH calls due to a blooper. Fixed

[2017-06-13 13:14] afshinm commented on #3865
@suyuan1203 yeah correct, I remove the storage as well, I'm using Azure file storage.

[2017-06-13 13:18] jamiehannaford commented on #47427
/sig storage

[2017-06-13 13:21] mikedanese commented on #47135
Cluster is showing a slight uptick in flakes after merge of fix:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=Couldn%27t%20delete%20ns#5c121dd9347b4a1cbd0d

Potentially 10 is not enough?

[2017-06-13 13:23] shyamjvs commented on #47419
There's an ongoing discussion on refining our SLOs (by @wojtek-t) to overcome this and other such problems I guess. However for now let's bump the threshold to 2s for list calls in our performance tests (I'll send out a PR for this). In future, it would be good to make this threshold some function of length of the list and/or size of the object.

[2017-06-13 13:28] piosz commented on #47334
It seems there was some issue with kube-dns so that the heapster service was not reachable. At the same time a number of other tests failed. Closing as the problem is fixed now.

[2017-06-13 13:28] #47334 closed

[2017-06-13 13:30] shyamjvs commented on #47279
/subscribe

[2017-06-13 13:32] piosz commented on #47277
event-exporter-v0.1.0-947590526-h897n
monitoring-influxdb-grafana-v4-2dv01
are not marked as critical by design

cc @crassirostris

[2017-06-13 13:49] gmarek commented on #47135
It looks like namespace controller needs some attention. If anyone is willing to go and try to profile/optimize it it'd be great. Otherwise I'll do it next week.

[2017-06-13 14:02] xiangpengzhao commented on #47156
I guess users want this for troubleshooting. Suppose they create a service but cannot access it (e.g. `curl clusterIP:port` fails), the first thing they try to do might be `ping clusterIP` to see if the clusterIP is reachable. Then they can decide to check the network or the backend itself. But "the clusterIP is reachable" might mean "the service is healthy" in users' mind.

@yan234280533 do I und

[2017-06-13 14:09] mtaufen commented on #35569
Yeah sorry, I should have closed this a long time ago.

[2017-06-13 14:14] xiangpengzhao commented on #46776
/assign

[2017-06-13 14:18] shyamjvs commented on #47279
Seems like verb in API server metrics does mean the kube verb already. However we just filter out some (proxy, watch, connect, etc) in our perf tests while considering api call latencies.
Ref: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/metrics_util.go#L296

To confirm, here are the apiserver metrics:
[code]

I guess we can close this issue, unless you meant something e

[2017-06-13 14:25] wanghaoran1988 commented on #8202
@shiywang Any updates?

[2017-06-13 14:31] liggitt commented on #47135
it's certainly possible there's an issue with the controller, but I was seeing increasing latency on API requests throughout the e2e run... it's possible the API server just gets slower.

[2017-06-13 14:33] liggitt commented on #47135
time throughout the run is graphed at https://github.com/kubernetes/kubernetes/pull/46796#issuecomment-307981276

[2017-06-13 14:42] deads2k opened #47431 "CustomResources allow GC finalizers"
CustomResources enable GC when it is enabled overall, but the GC controller doesn't locate CRs, so the finalizer is never cleared, so the CR is never deleted.

@kubernetes/sig-api-machinery-misc @enisoc @ironcladlou

[2017-06-13 14:48] shiywang commented on #8202
@wanghaoran1988 sorry, I haven't started, you could work on this first if you want

[2017-06-13 14:52] ajwootto opened #47433 "[Federation] Deleting a service in underlying cluster, then deleting in federation plane causes DNS API request spam on GCE"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): federation dns service delete

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug

**Kubernetes version** (use `kubectl version`): 1.6.4

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**What happened**: If I crea

[2017-06-13 14:57] gnufied commented on #39929
@dims since you self-assigned this, I am going to assume you will take care of merging the cherry-pick for 1.5? it needs approval from someone in sig-release team.

[2017-06-13 14:58] dashpole commented on #41033
Yes, the 1.6 default for eviction was `--eviction-hard=memory.available<100Mi`.  The default in 1.7 is `--eviction-hard=memory.available<100Mi,nodefs.available<10%,nodefs.inodesFree<5%`.  Yes, if nodefs.inodesFree is not set, then the kubelet will not respond when it runs low on inodes.

[2017-06-13 14:59] r0bj commented on #38372
@equinox0815 I have experienced this bug also with kubelet.

[2017-06-13 15:34] yujuhong commented on #42735
FWIW, we investigated @vishh's cluster in https://github.com/kubernetes/kubernetes/issues/42735#issuecomment-301159505, and found that it was not relevant to this thread, but forgot to come back and update.

[2017-06-13 15:50] moserke commented on #23920
@caseydavenport I have tried to get this to work in v1.7.0-beta.1 but my calico nodes continue to throw the error

[code]

And port mapping seems to still not be happening.  Perhaps I have my configuration wrong?

[2017-06-13 15:53] derekwaynecarr opened #47437 "kubelet cri errors should only include grpc code if error is grpc related"
**Is this a BUG REPORT or FEATURE REQUEST?**
BUG

**Kubernetes version** (use `kubectl version`):
kubernetes 1.6+ with CRI enabled

**Environment**:
n/a

**What happened**:
kubelet errors show rpc code = 2 desc = %s that means nothing to an end-user.

**What you expected to happen**:
only show the rpc code if the operation failure was related to the mechanics of grpc itself and not the operation f

[2017-06-13 16:02] dchen1107 opened #47441 "E2E Test failure: [k8s.io] Loadbalancing: L7 [k8s.io] [Slow] Nginx should conform to Ingress spec"
To fix https://github.com/kubernetes/kubernetes/issues/47362, we moved

xref: https://github.com/kubernetes/kubernetes/issues/47135

[2017-06-13 16:02] gyliu513 commented on #40131
xref https://github.com/coreos/tectonic-installer/issues/1000

[2017-06-13 16:02] #47441 closed

[2017-06-13 16:03] gyliu513 commented on #40131
xref https://github.com/kubernetes/kubernetes/issues/23920

We may need some test for this, seems calico can work with host port now. @wozhengjl

[2017-06-13 16:05] kow3ns commented on #47378
/unassign lavalamp

[2017-06-13 16:05] gyliu513 commented on #43564
Close this one and trace it in https://github.com/kubernetes/kubernetes/issues/40131

[2017-06-13 16:05] #43564 closed

[2017-06-13 16:05] kow3ns commented on #47378
/assign kow3ns

[2017-06-13 16:06] kow3ns commented on #47378
/assign @kow3ns

[2017-06-13 16:06] kow3ns commented on #47378
/unassign @lavalamp

[2017-06-13 16:06] kow3ns commented on #47378
/remove-sig scalability
/sig apps

[2017-06-13 16:07] akabdog opened #47442 "change in pod inter-communication in 1.5.2-0.6"
**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): "CentOS Linux 7 (Core)"
- **Kernel** (e.g. `uname -a`): 3.10.0-514.16.1.el7.x86_64
- **Install tools**:
- **Others**:

**What happened**:
I deployed a new cluster with 1.5.2-0.6.gitd33fd89.el7
I tried to "curl http://nginx" (my kubernetes service) from client-p

[2017-06-13 16:07] dvonthenen commented on #46184
I scraped this from the test logs. Note the Docker version being used is 1.11.2 for the tests (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-latest-rollback-etcd/2321/artifacts/bootstrap-e2e-minion-group-7fm6/docker.log):
[code]

Found this issue in the Moby repo: https://github.com/moby/moby/issues/23184. Looks like this is a known issue that was fixed in versio

[2017-06-13 16:08] kow3ns commented on #47378
@monopole The semantics of the API changed between 1.6 and 1.7. The 1.6 tests will break against a 1.7 drop due to StatefulSetStatus being updated to conform to DaemonSetStatus and DeploymentStatus. The 1.7 version of e2e seems stable against a 1.7 cluster and the 1.6 e2e should work against a 1.6 cluster.

[2017-06-13 16:09] kow3ns commented on #47376
@monopole The semantics of the API changed between 1.6 and 1.7. The 1.6 tests will break against a 1.7 drop due to StatefulSetStatus being updated to conform to DaemonSetStatus and DeploymentStatus. The 1.7 version of e2e seems stable against a 1.7 cluster and the 1.6 e2e should work against a 1.6 cluster.

[2017-06-13 16:12] ddysher commented on #17707
It's an old request.  Now I look at it, it shouldn't be part of kubectl.  I don't know if kubectl has a plugin or not; if we do, this could be a good candidate.

[2017-06-13 16:12] #17707 closed

[2017-06-13 16:13] enisoc commented on #47431
I changed "fixes" to "xref" on the PR because I'd like to keep this issue open until we have a regression test. I can work on adding one if you won't get to it.

[2017-06-13 16:16] akabdog commented on #47442
@kubernetes/sig-Network-misc
/sig sig/network
/sig area/kube-proxy

[2017-06-13 16:18] enisoc commented on #47431
Do you have repro steps for this?

[2017-06-13 16:21] caseydavenport commented on #45790
I'm going to close this, and perhaps open an issue against CNI.  I don't think there's anything to do in k8s.

/close

[2017-06-13 16:25] dchen1107 commented on #46184
Re: https://github.com/kubernetes/kubernetes/issues/46184#issuecomment-304949138

I am not sure how the node is upgrade, but the docker image on the disk is corrupted. This is known issue from docker. The workaround is simply removing those corrupted images. Node-Problem-Detector could reconfigured to detect such problem.

[2017-06-13 16:27] gyliu513 opened #47444 "Add `CriticalAddonsOnly` for daemonset by default"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-13 16:27] gyliu513 commented on #47444
/sig apps

[2017-06-13 16:27] caseydavenport commented on #45790
Raised this guy: https://github.com/containernetworking/cni/issues/476

[2017-06-13 16:28] caseydavenport commented on #45790
/close

[2017-06-13 16:35] r2d4 commented on #39645
This should be fixed now

[2017-06-13 16:36] jlz27 commented on #44686
The specific issue I ran into was that we configured separate ENIs for our ec2 instances that were not `eth0`. Practically as a kubelet, we were still using 1 IP but since it was not the first one reported by the current `awsProvider` implementation, we were not able to force the kublets to run with the right network settings.

I don't have enough context to comment on the need to support multiple

[2017-06-13 16:37] msau42 commented on #47326
By default, the attach/detach controller runs in the master.  It will invoke the plugin's attach routine through the operation executor.  There is a kubelet option to enable attach/detach controller in kubelet, but it is off by default.  It is not on a per-volume basis.

[2017-06-13 16:43] dcbw opened #47446 "pull-kubernetes-e2e-gce-etcd3: hack/e2e-internal/e2e-down.sh command killed by keyboard interrupt"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46823/pull-kubernetes-e2e-gce-etcd3/35722/

[code]

[2017-06-13 16:44] mtanino commented on #47437
/sig node

[2017-06-13 16:53] mikedanese commented on #47326
Any volume plugin that is backed by a block device will probably support [LUKS](https://en.wikipedia.org/wiki/Linux_Unified_Key_Setup).

[2017-06-13 16:59] rootfs commented on #47326
`AttachDisk` happens on Kubernetes master for cloud block storage (EBS, PD, Cinder, Azure). Kubelet doesn't have to have privileged credentials.

[2017-06-13 17:00] deads2k commented on #47431
[code]

[2017-06-13 17:01] chiragnayyar commented on #34395
superb

[2017-06-13 17:01] drajen commented on #43815
Why is this still an issue? Ubuntu 16.04/CentOS 7.3 with latest updates using the official k8s repos with 1.6.4 and following the steps outlined here: https://kubernetes.io/docs/setup/independent/install-kubeadm/
`Jun 13 09:57:21 tme-lnx1-centos kubelet: W0613 09:57:21.871413   10321 cni.go:157] Unable to update cni config: No networks found in /etc/cni/net.d`
`Jun 13 09:57:21 tme-lnx1-centos kube

[2017-06-13 17:02] caesarxuchao commented on #47307
I'm doing a dry run today.

[2017-06-13 17:07] enisoc commented on #47431
Hm for me the last step returns an empty list (delete worked). GC is on by default right? I'm using `local-up-cluster.sh` on master HEAD (prior to your fix merging):

[code]

[2017-06-13 17:07] luxas commented on #43815
@drajen No, this affected **_only v1.6.0_**. It's expected that kubelet doesn't find a network since you haven't installed any. For example, just run
[code]

to install Weave Net and those problems will go away.

[2017-06-13 17:09] cmluciano commented on #47388
@mindprince Can you update this with the types of tests that you are adding? Is this similar to https://github.com/kubernetes/kubernetes/issues/46356 ?

[2017-06-13 17:09] deads2k commented on #47431
Your client version looks old.  Try building on the latest.  As I recall, I fixed a cascade bug in 1.7.

[2017-06-13 17:09] kow3ns opened #47448 "PodSecurityContext API compatibility broken between 1.6 and 1.7"
** BUG REPORT**

**Kubernetes version**:
1.7.x with a 1.6.x kubectl or any version of helm based on a vendored client at that version.

**Environment**:
This is an API issue affecting all environments.

**What happened**:
When you attempt to apply or create a manifest containing any containers (e.g. DaemonSet, StatefulSet, Deployment) with a PodTemplateSpec with any Container having PodSecurityCon

[2017-06-13 17:12] drajen commented on #43815
@luxas I keep seeing references to this but how am I suppose to apply something to a cluster that is not running? I have nothing to connect to.

[2017-06-13 17:13] kow3ns commented on #47448
@kubernetes/api-approvers
@kubernetes/api-reviewers

[2017-06-13 17:14] kow3ns commented on #47448
@kubernetes/sig-api-machinery-api-reviews
@kubernetes/sig-api-machinery-bugs

[2017-06-13 17:16] liggitt commented on #47448
is this only with kubectl and client-side validation? if you specify `--validate=false`, can it persist correctly? As far as I can tell, that PR is wire-compatible with 1.6

[2017-06-13 17:18] enisoc commented on #47431
Ah ok. I can repro now on a kubectl built from HEAD. It's always fun when fixing bugs uncovers other previously hidden bugs. I'll add a test case for it after your fix merges.

[2017-06-13 17:21] kow3ns commented on #47448
@liggit yes its wire compatible but validation fails.

[2017-06-13 17:22] bjornswift commented on #46641
We've been having these events daily now since last Wednesday (6 days).

@snarayanank2 and @rodawg, are you also still experiencing the issue?

Some notes:
 - Have ruled out `conntrack_max`. A silent test cluster also experienced the kube outage, even though `conntrack` was low.
 - Have spun up three test clusters running older versions of our code (older docker images) to rule out changes in our

[2017-06-13 17:22] liggitt commented on #47448
see https://github.com/kubernetes/kubernetes/issues/39434 for known issues with client-side validation

[2017-06-13 17:24] timstclair commented on #47283
This cluster is brought up with the `AllAlpha=true` flag. I suspect this is related to the kubelet certificate rotation.

[2017-06-13 17:25] liggitt commented on #47448
I'm not sure what to do with this one... bleeding the go field types out into openapi/swagger specs in https://github.com/kubernetes/kubernetes/commit/9440a68744ea97a45ceeef6d75466405ac101ea1 shouldn't have been necessary and was not a great idea, but I also don't know whether our API compatibility only covers the actual API or also the generated openapi doc.

[2017-06-13 17:26] dcbw commented on #47265
@freehan ok I'll proceed with that approach.

[2017-06-13 17:42] liggitt commented on #47283
many alpha features require additional setup or have external requirements... I'm not surprised "blindly turn on all alpha features" doesn't work well, generally.

[2017-06-13 17:43] caseydavenport commented on #44307
IIUC, the outcome of this is that CNI plugins which implement older versions of the spec won't work with host-networked pods.  This is surely something we want to fix, but I don't think it's release blocking and can go into a 1.7 patch release.

[2017-06-13 17:47] liggitt commented on #47444
are all daemonset pods inherently critical addons?

[2017-06-13 17:49] liggitt commented on #47338
I agree we shouldn't take on curating a trusted root cert bundle

[2017-06-13 17:49] jaredbhatti commented on #47361
@pwittrock  @chenopis

If Phillip (original writer of the doc generation scripts) and Andrew Chen (docs lead for 1.7) are ok with this, then I say go for it :)

[2017-06-13 17:50] kow3ns commented on #47448
@liggitt  that is fair. I'm not sure either :). If you want to close and differ to #39434 that is fine. I'm trying to figure a way to work around this for helm charts now. I'm not sure if helm allows you to disable client side validation. If not, my concern is that this will break any helm chart that wants to set a user that is non-root for the 1.7 release. Even the next release, 2.5.x, will still

[2017-06-13 17:51] zatricky commented on #43815
@drajen I think @luxas' point is that this is the wrong place to be asking about setup.
The various setup guides will get you past this point - the typical missing step in older guides, which luxas helpfully mentions, in that you need to apply a network configuration before everything will start working properly.

[2017-06-13 17:51] kow3ns commented on #47448
@foxish @erictune thoughts?

[2017-06-13 17:52] alexandercampbell commented on #38383
It would appear that the only branches in the repo are pointers to release commits. Do those count as stale? :)

[2017-06-13 17:52] #47067 closed

[2017-06-13 17:52] #47419 closed

[2017-06-13 17:52] chuckbutler commented on #46054
Linking this with an issue that was surfaced during digging around about dashboard permissions. This is loosely related. https://github.com/kubernetes/dashboard/issues/574#issuecomment-282360783

[2017-06-13 17:53] liggitt commented on #47448
cc @kubernetes/sig-cli-bugs on client-side validation issues. aside from this, is there anything we should do now to make the 1.7 CLI tolerate unknown custom types in validation.

[2017-06-13 17:56] luxas commented on #43815
Yeah, it is might be non-obvious and we're sorry for that, but we can't have one single providers name there either.

Chatted with @drajen on Slack and the issue was cgroup related, the kubelet was unhealthy and wasn't able to create any Pods, hence the issue.

[2017-06-13 18:02] monopole commented on #47376
@kow3ns This failure is part of ci-kubernetes-e2e-gke-cvm-1-6-cvm-1-7-upgrade-cluster, meant to ensure that things continue to work properly during an upgrade when a skew is unavoidable.   My understanding is that stuff should work with a delta of one in the minor version number.

So is this test a good test that is failing (and hence blocks the 1.7 release), or a bad test that should not exist?

[2017-06-13 18:07] monopole commented on #47378
@kow3ns This failure is part of ci-kubernetes-e2e-gke-cvm-1-6-cvm-1-7-upgrade-cluster, meant to ensure that things continue to work properly during an upgrade when a skew is unavoidable. My understanding is that stuff should work with a delta of one in the minor version number.

So is this test a good test that is failing (and hence blocks the 1.7 release), or a bad test that should not exist?

[2017-06-13 18:08] roberthbailey commented on #8313
Thanks.

[2017-06-13 18:08] #8313 closed

[2017-06-13 18:11] apelisse commented on #42057
Yes, and that's what it is:

      "labels": {
      "description": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: http://kubernetes.io/docs/user-guide/labels",
      "type": "object",
      "additionalProperties": {
       "type": "string"
      }

Literally means that i

[2017-06-13 18:17] ixdy commented on #47338
/unassign

[2017-06-13 18:24] justinsb commented on #11816
kops does not.

Spoke with @roberthbailey about this.  It seems that for a k8s/k8s issue (as opposed to a kubeadm or kops issue) we should close when the approach is documented, and ideally there is at least one implementation of that approach under e2e.

It sounds like kube-up has this under e2e.  Do we have docs?

If we have docs, we then shouldn't wait for kops to implement it before closing th

[2017-06-13 18:26] dgpc commented on #46645
The decision not to change the default value makes sense. I hope that at some point you can add a knob for users to make Federated Ingress helpful in a variety of use cases (or do something automagic, but indeed that seems complicated).

In the mean time we'll manage an HTTP(S) Load Balancer manually rather than use Federated Ingress, and add/remove node pools through our rollout automation.

Than

[2017-06-13 18:28] brendandburns opened #47452 "Azure Storage Driver should allow customization of secret location"
From @liggitt :

In the process of provisioning a PV, it creates a secret in the namespace of the PVC containing the account name and key (password) needed to mount the PV. This secret is visible to a namespace-limited user.

Steps:

1. Run a cluster with
the azure cloud provider
dynamic PV provisioning enabled
a storage class specified for the azure file dynamic provisioner
kube-controller-manage

[2017-06-13 18:28] rodawg commented on #46641
@bjornswift We've seen it occur over the last few days as well, though it hasn't happened today (yet).

I in the middle of individually testing a few changes to see what prevents the issue from occurring.

* Updating to the latest available CentOS 7 AMI on the AWS Marketplace
* I've enabled kube-apiserver audit logging to see if there's any pattern to the API requests sent to the cluster
* Removed

[2017-06-13 18:37] Random-Liu commented on #44976
@alexlarsson This is easy to generate, we can easily make kubelet to understand it.

I don't know whether it's log agent friendly @crassirostris

[2017-06-13 18:52] caseydavenport opened #47453 "GCE kube-up uses inconsistent CNI binary directories"
**Kubernetes version** (use `kubectl version`):
master

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): debian, gci
- **Install tools**: cluster/kube-up.sh

**What happened**:

Creating a cluster with GCI uses the `/home/kubernetes/bin` directory for CNI plugins.
Creating a cluster with debian uses the `/opt/cni/bin` directory for CNI plug

[2017-06-13 18:53] caseydavenport commented on #47453
/sig network

[2017-06-13 18:54] caseydavenport commented on #47453
Some related work here: https://github.com/kubernetes/kubernetes/pull/42079

[2017-06-13 18:57] krmayankk commented on #47326
Interesting @rootfs @msau42 so in RBD, why do we need the user secret in user namespace or it could be my wrong understanding. Putting it other way, in RBD  we need two secrets admin and user. My understanding is that user secrets must be in the same namespace as the PVC and  they are used for AttachDisk. If AttachDisk is happening on master, we should allow the user secret to be in any namespace

[2017-06-13 19:03] dhawal55 commented on #45911
I'm running into the same error for other 'lighter' pods too: kube-apiserver, kube-scheduler

[2017-06-13 19:11] rootfs commented on #47326
rbd doesn't support 3rd party attach, so rbd map has to happen on kubelet.

rbd admin and user keyrings are for different purposes: admin keyring for rbd image provisioning (admin privilege), while user keyring for rbd map (non admin privilege). Pods that use rbd image don't have admin keyrings.

[2017-06-13 19:13] xsgordon commented on #46781
I'm not sure anyone in sig-openstack actively works on the Juju charms... Thus far the SIG's scope has primarily been `cluster/openstack-heat` and `pkgs/cloudprovider/providers/openstack`.

@castrojo, @chuckbutler, @marcoceppi, and @mbruzek are listed as the OWNERS for the Juju charms.

/cc @k8s-sig-openstack-feature-requests

[2017-06-13 19:18] cmluciano commented on #19333
@paultag Are you ok with my closing this since there isn't a clear owner? It seems that there is definitely some interest in the use-case, but I'm not sure if anyone is volunteering to implement it :(

[2017-06-13 19:20] cmluciano commented on #42314
possibly related https://github.com/containernetworking/cni/issues/476 . @caseydavenport not sure if we are transplanting all of these issues to CNI or if this issue stands on its own.

[2017-06-13 19:26] xsgordon commented on #43476
/cc @ohtake @zreigz @elsonrodriguez @k8s-sig-openstack-bugs

[2017-06-13 19:26] xsgordon commented on #43468
/cc @ohtake @zreigz @elsonrodriguez @k8s-sig-openstack-bugs

[2017-06-13 19:26] xsgordon commented on #43389
/cc @ohtake @zreigz @elsonrodriguez @k8s-sig-openstack-bugs

[2017-06-13 19:32] xsgordon commented on #42483
I guess the key for me is, what do you expect `--cloud-provider=openstack` to actually do if there is no configuration? My understanding is we have a number of mandatory values without which we can not interact with the cloud provider, hence if you explicitly ask for the cloud-provider but don't give a config we aren't able to complete the request.

[2017-06-13 19:37] kow3ns commented on #47378
@monopole It's a test that was written without consideration for any type of API skew back in the 1.4 - 1.5 time frame when upgrade validation was still manual and before we were running e2e with version skew.  It shouldn't block 1.7 release. We also shouldn't remove it yet, as its one of the only indicators that the 1.6.x version of StatefulSet is working as intended. We do need to redesign the S

[2017-06-13 19:39] kow3ns commented on #47376
@monopole same as https://github.com/kubernetes/kubernetes/issues/47378#issuecomment-308225074

[2017-06-13 19:44] bboreham commented on #44307
This is an issue with all released versions of 1.6; I don't understand why you would consider it a blocker to release 1.7.0.

[2017-06-13 19:53] bowei commented on #44307
@dchen1107  -- can we take this off of the 1.7.0 milestone?

[2017-06-13 20:04] luxas commented on #30558
@pwittrock Doesn't `kubectl replace` cover all the use-cases for updating a ConfigMap like this already?
Can this issue be closed?

`kubectl replace -f configmap.yaml` does seem to cover `kubectl update configmap --from-file=configmap.yaml`

Also
[code]

I'm very sorry that I didn't check that before @arthur0

[2017-06-13 20:04] bowei commented on #35354
After discussing with reviewer (@freehan): this might be better suited to merge but not for 1.7.0, as it touches a part of the code that is quite old and stable. In other words, we probably need to give this change some time to soak in the e2e system as opposed to put right away into the release.

[2017-06-13 20:06] caseydavenport commented on #42314
@cmluciano this is partially related, but I think it stands on its own since this is about a missing Kubernetes user space dependency.

Yeah, first step would be understanding all of the places that kubelet uses nsenter and then deciding if maybe we can get rid of our dependency on it somehow.

That said, the immediate fix for this issue is probably to use a CNI plugin which performs hairpin and t

[2017-06-13 20:08] bowei commented on #32796
I took a look at the PR and its looks like there are still some outstanding review comments without an LGTM. It feel like this should be moved to the next milestone to be safe. Please comment if you disagree.

[2017-06-13 20:18] ahmetb commented on #13944
@sebgoa We haven't talked about a plan to move the open examples-related issues over here (as the goal is to not to keep maintaining stuff in `staging/` any further). So I assumed we're not moving issues over. If you think we should, I'm open to it.

[2017-06-13 20:24] rootfs commented on #47311
@mtanino do you have bandwidth to do this for 1.8?

[2017-06-13 20:32] gnufied commented on #47404
Was discussing this with @wongma7 offline. Why can't we extend the filter to exclude terminated ones? I understand that AWS API doesn't provide a _documented_ way of doing negative filtering, but can we not simply list all the known states we care about? such as - `stopped`, `running`, `stopping` etc.

[2017-06-13 20:36] janetkuo commented on #47446
Another occurrence https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47084/pull-kubernetes-e2e-gce-etcd3/35771/

[2017-06-13 20:38] cmluciano commented on #42314
SGTM

[2017-06-13 20:45] noah8713 commented on #47201
@fejta please help comment on the same. We need a fix for the same. :(

[2017-06-13 20:46] mengqiy commented on #30558
`-f` only takes configmap object, but `--from-file` takes all kind of files.

[2017-06-13 20:54] bjornswift commented on #46641
@rodawg Had you been running the same versions of Kubernetes/CentOs for a while before experiencing the issue?

In our case, we'd been running the same version of everything since early May -- but your and my environments are quite different. You're on Kubernetes 1.5.x, we're 1.6.2. You're on CentOs, we're on CoreOs. We're both on AWS, what else is common?

Us:
 - We've been experiencing this dail

[2017-06-13 20:55] #42735 closed

[2017-06-13 20:55] #44307 closed

[2017-06-13 20:55] #46975 closed

[2017-06-13 21:19] mengqiy commented on #47238
@janetkuo Can you help look into this deployment issue?

[2017-06-13 21:20] mtanino commented on #47311
@rootfs
Sure. Let me dig more detail.
Form my quick glance, this requires initiator name per PV, so we need to add "initiatorname" parameter into ISCSIVolumeSource, right?

Like;
[code]

[2017-06-13 21:21] moserke commented on #23920
@caseydavenport I've been fighting this all day.  The best I can get to is if I use this config it works:

[code]

But if I use this config it does not:

[code]

The above config just continues to through the error `network: no plugin name provided`

Any thoughts on what I might be doing wrong?  I feel like I am so close but just not quite there.

kubelet is 1.7.0-beta.1

[2017-06-13 21:27] yujuhong commented on #44976
/cc @thockin

[2017-06-13 21:28] krmayankk commented on #47326
@rootfs @msau42 is there a configuration which controls where the AttachDisk happens , or is it just check based , so at pod creation time, if AttachDisk is not already called, it will call AttachDisk. So for EBS, it will never be called since Attach has already happened in the master ?

[2017-06-13 21:29] gunjan5 commented on #23920
@moserke what is the config file called? It has to end with `.conflist` extension (not `.conf`)

[2017-06-13 21:32] ixdy commented on #47307
@luxas anago could have some sort of sanity checking, though I'm not sure how we'd do that without maintaining hardcoded lists, as @david-mcmahon notes.
I guess the "real" fix is having some automated testing somewhere to consume the non-x86 docker images.

[2017-06-13 21:37] msau42 commented on #47326
The attach operation is only performed by the attach/detach controller.  And that controller is only enabled to run in the master node by default.  There is a kubelet option to turn on attach/detach on the node, but it's going to be removed.

[2017-06-13 21:37] janetkuo commented on #47238
@manypozo `rollbackTo = 0` shouldn't be specified in the yaml. That tells Deployment controller to roll back to the last revision.

[2017-06-13 21:38] timothysc commented on #47366
/cc @gmarek @wojtek-t

[2017-06-13 21:43] mtanino commented on #46041
@mleklund @humblec @rootfs

This seems interesting feature but needs design discussion.
From above example, volume yaml specifies physical interface name enX directly into the iscsiInterface but actually user doesn't know what kind of network interface can be available on the worker node.
I think we shouldn't permit this kind of parameter for user.

There is ongoing effort to discover host devices

[2017-06-13 21:44] janetkuo commented on #47238
Closing. Please reopen if the issue persists after removing `rollbackTo` from yaml.

[2017-06-13 21:44] #47238 closed

[2017-06-13 21:50] rootfs commented on #47311
@mtanino yes, that's the idea. Overlaying the custom iface over the iface provided in iSCSI volume source should do it.

Since this is an API change, you can find how other iSCSI APIs are added.

Thanks!

[2017-06-13 21:58] moserke commented on #23920
@gunjan5 oh geez!  Don't I feel like an idiot.  That was 100% my problem.  Well that's several hours of my life I won't get back.  Thanks a ton to you and @caseydavenport for the help to get me up and running!  Port mapping is now working for me.  Great!

[2017-06-13 21:58] mleklund commented on #46041
In the case of the equallogic equipment, it is also viable to not specify an interface when logging in.  The kubernetes code is using a provided interface name, or `default`.  With openiscsi it is perfectly legal to not specify an interface at all, and openiscsi will login to the portal will all available interfaces on the same network segments as the portal.  This means discoveries and logout sho

[2017-06-13 22:04] kargakis commented on #46934
Worth noting user confusion: https://github.com/kubernetes/kubernetes/issues/47238#issuecomment-308256151

[2017-06-13 22:13] foxish commented on #23794
The example now merged. Closing.

[2017-06-13 22:13] #23794 closed

[2017-06-13 22:14] janetkuo commented on #46934
Server side rollback isn't implement yet in StatefulSet and DaemonSet. The design of deployment rollback will eventually be consistent with other controllers. We should have a decision before GA.

[2017-06-13 22:21] janetkuo opened #47463 "Remove overlap annotation from Deployment"
It's safe to remove `OverlapAnnotation` now.

- [ ] deployment controller: pkg/controller/deployment/deployment_controller.go
- [ ] deployment util: pkg/controller/deployment/util/deployment_util.go
- [ ] deployment reaper: pkg/kubectl/stop.go
- [ ] deployment describer: pkg/printers/internalversion/describe.go

@kubernetes/sig-apps-misc

[2017-06-13 22:24] kargakis commented on #47463
Dupe of https://github.com/kubernetes/kubernetes/issues/43322

[2017-06-13 22:24] janetkuo commented on #43322
TODOs:

- [ ] deployment controller: pkg/controller/deployment/deployment_controller.go
- [ ] deployment util: pkg/controller/deployment/util/deployment_util.go
- [ ] deployment reaper: pkg/kubectl/stop.go
- [ ] deployment describer: pkg/printers/internalversion/describe.go

[2017-06-13 22:25] #47463 closed

[2017-06-13 22:25] janetkuo commented on #47463
Copied the list to #43322

[2017-06-13 22:27] monopole opened #47464 "test failure: Simple CustomResourceDefinition creating/deleting custom resource definition objects works [Conformance]"
[gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-cluster-new/4#customresourcedefinition-resources-simple-customresourcedefinition-creatingdeleting-custom-resource-definition-objects-works-conformance)

[code]

Consistently failing in [grid](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-cvm-1-7-upgrade-cluster

[2017-06-13 22:27] monopole commented on #47464
/sig api-machinery

[2017-06-13 22:30] caesarxuchao opened #47465 "client-go workqueue example should show how to enable multiple workers"
One benefit of using workqueue to build controller is that it allows multiple workers to safely process changes in parallel, e.g., the [workers](https://github.com/kubernetes/kubernetes/blob/v1.7.0-beta.1/pkg/controller/replicaset/replica_set.go#L163-L165) in the replicaset controller. The client-go workqueue [example](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-

[2017-06-13 22:32] someword commented on #45976
@bowei - i'm curious if you have any thoughts on this.  We have instrumented a variety of additional metrics to refer to when this issue comes up again.  In doing so I'm noticing a busy udp based app running in a pod (not kube-dns) is having udp rcv_buf_errors.   For my particular exercise and getting supporting data to help determine the cause of DNS resolutions errors should I only be concerned

[2017-06-13 22:33] caesarxuchao commented on #47465
/sig apimachinery

[2017-06-13 22:35] crimsonfaith91 commented on #44407
I have looked at the codes, and is working on sending out a PR. Below are my understanding and thoughts for tasks to be done for this issue:
(1) kubectl drain Pod filtering: annotation is used to obtain pod's controller. We can substitute it with ControllerRef.
(2) classifying failed Pods in e2e test framework: annotation is used to determine whether the pod is being controlled by a controller. We

[2017-06-13 22:36] monopole opened #47466 "Test Failure: Certificates API should support building a client with a CSR"
[jenkins](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-cluster-new/4#k8sio-certificates-api-should-support-building-a-client-with-a-csr)
[grid](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-cvm-1-7-upgrade-cluster-new&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Certificates%5C%20API%5C%20should%

[2017-06-13 22:38] bowei commented on #45976
@someword -- can you open a new issue re: UDP? That sounds like a problems that should be investigated by itself...

[2017-06-13 22:39] enisoc commented on #47464
At first I thought this was an upgrade test that tries to create CRD before the upgrade, but according to @monopole it's trying to run the 1.7 e2e against a post-upgrade cluster, which should actually work. I'll look into it.

cc @deads2k @sttts @nikhita

[2017-06-13 22:40] mindprince commented on #47388
No, this is for running the existing GPU e2e tests on GKE which are currently running on only GCE.

[2017-06-13 22:44] XiaoningDing commented on #45300
@smarterclayton Thank you. I see your points about the transaction part, but I didn't get the point of the last sentence. What does "..the instance has seen it take effect" mean, can you help elaborate?

By the way, internally we are busy catching a project deadline this month and we plan to start this work after the project.  I will draft a design doc for review after it's launched.

[2017-06-13 22:59] drajen commented on #43815
Thanks to @luxas for wrestling my particular problem to the ground: https://github.com/kubernetes/kubeadm/issues/302

[2017-06-13 23:01] someword commented on #45976
@bowei - would the issue just be my question about whether tracking UDP metrics within a pods network namespace is important vs tracking at the the physical machine level?

Also does this current issue provide any benefit or should it be closed?
Thanks.

[2017-06-13 23:12] bowei commented on #45976
It sounds like two issues to me:
- UDP rcv_buf_errors and packet loss
- A generic sidecar to gather network stats

The second one may already be filed somewhere. Keep this one open for now.

[2017-06-13 23:33] mengqiy commented on #47093
Closing in favor of #47013.
/close

[2017-06-13 23:34] wanghaoran1988 commented on #43322
I can help on this

[2017-06-13 23:43] mengqiy commented on #46861
Number should be quoted to be decoded as string.

[2017-06-13 23:43] mengqiy commented on #46861
/assign
/close

[2017-06-13 23:43] mengqiy commented on #46861
/close

[2017-06-13 23:43] #46861 closed

[2017-06-13 23:44] mengqiy commented on #47093
/assign

[2017-06-13 23:44] mengqiy commented on #47093
/close

[2017-06-13 23:44] #47093 closed

[2017-06-13 23:48] mengqiy commented on #45609
/assign

[2017-06-13 23:48] mengqiy commented on #45609
/close

[2017-06-13 23:48] #45609 closed

[2017-06-13 23:50] mengqiy commented on #45608
/assign @shiywang

[2017-06-13 23:54] liggitt commented on #11816
@justinsb https://kubernetes.io/docs/admin/kubelet-authentication-authorization/ describes how to secure the kubelet

[2017-06-13 23:54] monopole opened #47472 "1-5_1-7 upgrade test: configmap-related failures"
[ConfigMap optional updates should be reflected in volume [Conformance] [Volume]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-cluster-new/4#k8sio-projected-optional-updates-should-be-reflected-in-volume-conformance-volume)

[ConfigMap should be consumable via the environment [Conformance]](https://k8s-gubernator.appspot.com/build/k

[2017-06-14 00:00] mengqiy commented on #45608
/unassign @shiywang
Unassign since @atombender already has a PR #45611

[2017-06-14 00:06] mengqiy commented on #45546
What do you mean by `fail`? How is it different from `error`?

[2017-06-14 00:08] monopole opened #47474 "1-5_1-7 upgrade test: daemon set problems"
See [aggregation dashboard](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=1-5-.*-1-7.*upgrade-cluster-new&test=Daemon%20Set)

/sig apps

* Daemon set [Serial] Should adopt or recreate existing pods when creating a RollingUpdate
* DaemonSet with matching or mismatching templateGeneration[k8s.io]
* Daemon set [Serial] Should not update pod when spec was updated and update strat

[2017-06-14 00:10] lavalamp commented on #47366
This is not a regression, though, right?

[2017-06-14 00:12] lavalamp commented on #46963
Is this important for 1.7? Why? Is there an exception filed?

[2017-06-14 00:13] lavalamp commented on #46895
Kicking this out of the milestone, willing to put it back if there's a small PR to fix it.

[2017-06-14 00:14] lavalamp commented on #45506
Kicking this out of the milestone because it is not clear what is actionable here.

[2017-06-14 00:15] lavalamp commented on #45457
I think we decided that the cure is worse than the disease. I like your suggestion of just making the flag mandatory.

[2017-06-14 00:16] lavalamp commented on #43706
I don't think this blocks the release. File as a known issue.

[2017-06-14 00:17] monopole opened #47476 "1-5_1-7 upgrade test failures: Deployment"
[Aggregated failures](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=1-5-.*-1-7.*upgrade-cluster-new&test=Deployment)

/sig apps

- Deployment RecreateDeployment should delete old pods and create new ones
- Deployment RollingUpdateDeployment should delete old pods and create new ones
- Deployment deployment can avoid hash collisions
-  Deployment deployment reaping should casc

[2017-06-14 00:18] lavalamp commented on #34254
Can this be closed?

[2017-06-14 00:19] dchen1107 commented on #44155
Offline discussion with @janetkuo, checked the boxes with done items, and punt the rest to v1.8.

cc/ @erictune

[2017-06-14 00:21] dchen1107 commented on #42410
This requires API-Change, which should be punt to next release since we are at code freeze stage already. cc/ @erictune

[2017-06-14 00:22] lavalamp commented on #3562
I don't have any bandwidth to do this for 1.7--we can put it back in the milestone iff it comes with an owner.

[2017-06-14 00:22] dchen1107 commented on #44046
Offline discussion with @janetkuo, we punt this to v1.8.

[2017-06-14 00:30] caesarxuchao commented on #44046
Discussed with @dchen1107, if we can get the PR https://github.com/kubernetes/kubernetes/pull/45764 fixed soon, it can still go in 1.7. It's a real bug fix.

[2017-06-14 00:34] gyliu513 commented on #47444
I think currently not. We encounter an issue that the daemonset pods sometimes got evicted when enabling rescheduler due to taint based eviction. @liggitt

[2017-06-14 00:36] janetkuo commented on #41789
Punting for 1.8

[2017-06-14 00:37] liggitt commented on #47444
Tolerating failure condition taints seems different than tolerating taints designed to limit to a particular type of pod. If not all daemonsets are critical addons, then it doesn't seem appropriate to automatically add that toleration to daemonset pods

[2017-06-14 00:38] caesarxuchao commented on #47307
After anago dry run, i saw these images on my machine, so it looks fixed.
[code]

[2017-06-14 00:46] roberthbailey commented on #47446
Both of the linked runs failed after a timeout:

`Interrupt testing after 55m0s timeout.`

This is not a cluster lifecycle issue.

[2017-06-14 00:46] gyliu513 commented on #47444
In my understanding, I think the daemonset should have high priority than critical pod as daemonset is system services. If the daemonset do not have the `CriticalAddonsOnly` tolerations, then daemonset pod may got evicted if the node which is running daemonset pod got a `CriticalAddonsOnly` taint. As a workaround, I was now adding the `CriticalAddonsOnly` tolerations to my daemonset as a workaroun

[2017-06-14 00:47] zhangxiaoyu-zidif commented on #47390
according to #47150,  Upgrading to 3.0.17 solved the problem

[2017-06-14 00:59] smarterclayton commented on #46895
It's just confusing not a blocker.

[2017-06-14 01:00] cjcullen commented on #10194
This is fixed now. I think by https://github.com/kubernetes/kubernetes/pull/19314...

[2017-06-14 01:00] #10194 closed

[2017-06-14 01:07] liggitt commented on #47452
Actually, the extraction of credentials from the cloud provider into auto-created secrets at all surprised me... can the nodes not get the mount credentials from their cloud provider impl as well, rather than via secrets?

[2017-06-14 01:18] k82cn commented on #47444
IMO, DaemonSet is not always system services.

[2017-06-14 01:22] mengqiy commented on #12668
Has this been fixed or not?

[2017-06-14 01:22] aanm commented on #46788
What about this https://github.com/kubernetes/kubernetes/pull/46951?

[2017-06-14 01:22] zhangxiaoyu-zidif commented on #47390
In fact, the schedule process stoped after first time.  I do not know why. after scan other issue, I upgrade etcd=).

[2017-06-14 01:22] renewooller commented on #13892
To those using the ingress controller instead of AWS ELB - are you placing all your nodes in a public subnet, and then adding all those nodes to a cname or something? I'm having trouble seeing how we'd achieve this from a private subnet.

[2017-06-14 01:23] zhangxiaoyu-zidif commented on #47390
/assign @zhangxiaoyu-zidif

[2017-06-14 01:28] gyliu513 commented on #47444
From https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/ , we can see the definition of DaemonSet.

[code]

The first sentence is `A DaemonSet ensures that all (or some) nodes run a copy of a pod.`. If a demonset do not have `nodeSelector` or other filters, we should make sure it can always running on the nodes.

[2017-06-14 01:30] gnufied commented on #47452
Similar issue is present for ceph-rbd too. https://github.com/kubernetes/kubernetes/issues/47427

In that case though, there is no cloudprovider from which secrets can be automatically derived from. Looking at AzureFile provisioner code, similar pattern has been used.

[2017-06-14 01:32] liggitt commented on #47444
I don't think that is intended to negate the power of taints/tolerations as the relate to daemonsets, it just likely needs to be updated to explain interactions with taints/tolerations.

[2017-06-14 01:33] liggitt commented on #47452
Sure, both should likely be fixed. The automatic placement of the credentials extracted from the cloudprovider is what is particularly concerning to me

[2017-06-14 02:05] smarterclayton commented on #47338
I will note that pod presets and flex volumes are a good way for an operator to mandate and enforce this, but it is almost always a very core role in security administration infrastructure, rather than something we can dictate.

We eventually want to enable cluster administrators to control this on their own, but not our choice.

[2017-06-14 02:28] whbo158 commented on #47324
/sig dashboard

[2017-06-14 02:31] whbo158 commented on #47324
/area dns

[2017-06-14 02:32] whbo158 commented on #47324
/sig network

[2017-06-14 02:50] gyliu513 commented on #47444
What I want to do is follow [Make DaemonSets survive taint-based evictions when nodes turn unreachable/notReady](https://github.com/kubernetes/kubernetes/pull/41896) to make daemonset can still works even with rescheduler.

What is the concern if adding `CriticalAddonsOnly` for daemonset by default? My thinking is without rescheduler, the daemonset will never get evicted; but with rescheduler, the

[2017-06-14 02:55] liggitt commented on #47444
I don't really want controllers auto-adding tolerations the user did not request, especially when combined with admission plugins like [PodTolerationRestriction](https://github.com/kubernetes/kubernetes/pull/30302#issue-170248549) that prevent users from setting certain tolerations on their pods, in order to keep them off cluster-admin-tainted nodes. CriticalAddonsOnly is exactly the sort of taint

[2017-06-14 03:11] k82cn commented on #47382
According to the log, the balanced pods were not created by scheduler, the cpu/mem usage was unchanged.

[code]

[2017-06-14 03:20] rickypai commented on #47368
would pod labels through downward api be enough? https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/

[2017-06-14 03:23] rickypai commented on #47442
this looks like https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#a-pod-cannot-reach-itself-via-service-ip

[2017-06-14 03:24] prasenforu opened #47486 "Network policy ingress from external ip"
In network policy we define ingress from pod
But I want from external ip.

Not sure How I can implement?

Note: I am using kubeadm 1.6.4 with canal cni with ingress controler & RBAC

[2017-06-14 04:19] derekwaynecarr opened #47490 "Pod container image is allowed to just be a space character"
**Is this a BUG REPORT or FEATURE REQUEST?**
BUG

**Kubernetes version** (use `kubectl version`):
kubernetes 1.5+

**Environment**:
n/a

**What happened**:
examining events that happened in my cluster, i see an event like the following:

[code]

this surprised me, as it implies a container had an imageName=" "

**What you expected to happen**:
i expected a validation failure error if a pod.spec.co

[2017-06-14 04:20] derekwaynecarr commented on #47490
discovered when looking at odd event messages in production cluster.

@kubernetes/sig-api-machinery-api-misc

[2017-06-14 04:55] bowei opened #47494 "GCI kube-up.sh uses gcloud alpha rather than gcloud beta when IP aliases is enabled"
See PR https://github.com/kubernetes/kubernetes/pull/47492

[2017-06-14 04:55] bowei commented on #47494
/sig network

[2017-06-14 04:59] xiangpengzhao commented on #46776
We should also not put such pods in the Endpoints.NotReadyAddresses:

* Succeeded pods with restart policy=Never
* Succeeded pods with restart policy=OnFailure

[2017-06-14 04:59] derekwaynecarr commented on #47135
@liggitt @yujuhong - per https://github.com/kubernetes/kubernetes/issues/47135#issuecomment-307937470 , i am wondering if `estimateGracefulTerminationForPods` should never return 0, and instead have a minEstimate of ~2s?

[2017-06-14 05:05] prasenforu commented on #47486
Normally it should go with Network.

Will be happy if Tim Hockin take care this issue.

[2017-06-14 05:14] k8s-merge-robot opened #47496 "Failure cluster [0a231e...] failed 61 builds, 2 jobs, and 2 tests over 1 days"
### Failure cluster [0a231e578435682a40f5](https://go.k8s.io/triage#0a231e578435682a40f5)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    2 jobs failed,    61 builds failed.
Failure stats cover 1 day time range '13 Jun 2017 02:04 UTC' to '14 Jun 2017 02:04 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| TearDown Previous | 2 |

[2017-06-14 05:20] mikedanese opened #47498 "kube-{master,node}-intallation unit is failing in gce"
Installing mounter.tar is broken.

broken in https://github.com/kubernetes/kubernetes/pull/41944

cc @jingxu97

[2017-06-14 05:20] luxas commented on #47307
Thanks @ixdy and @caesarxuchao :tada:!

[2017-06-14 05:20] #47307 closed

[2017-06-14 06:12] bgrant0607 commented on #30068
@wojtek-t can this be closed?

[2017-06-14 06:17] bgrant0607 commented on #27548
We're not going to expose multi-resource-type transactions via the API.

[2017-06-14 06:17] #27548 closed

[2017-06-14 06:24] bgrant0607 commented on #46351
Hmm. We need to decide what we're doing with respect to exposing the cluster state storage API.

https://github.com/kubernetes/kubernetes/issues/1957
https://github.com/kubernetes/features/issues/172

[2017-06-14 06:37] #47301 closed

[2017-06-14 06:37] #47397 closed

[2017-06-14 06:37] #47273 closed

[2017-06-14 06:37] #47092 closed

[2017-06-14 06:42] upccup commented on #7090
@fgrzadkowski sorry to bother you

is there way wirh not  create an infra container that is used to workaround some docker limitation?

[2017-06-14 06:54] liqlin2015 commented on #47154
Here are some `Kubelet` logs which may help diagnose the issue

[code]

[2017-06-14 07:01] shiywang commented on #8202
/unassign
/assign @wanghaoran1988

[2017-06-14 07:02] sttts commented on #47464
CRDs are not the only resource failing, seeing storage classes and certificates as well. I am not even sure it's an aggregation problem because native resource should have static http handlers installed, so without going through APIService dynamic registration.

[2017-06-14 07:03] ichekrygin commented on #40442
This issue causing `kube-controller-manager` mark the node as `NotReady` w/ following `DeletingAllPods`

On the minion:
[code]

on the master:
[code]

[2017-06-14 07:03] sttts commented on #47464
As this happens on GKE, we don't see master logs. Those might tell us what happens.

[2017-06-14 07:04] wanghaoran1988 opened #47500 "[Scheduler] predicates.go is bloated, we should consider separate each predicate func to it's own go file"
As title, we need consider separate the predicate func to it's own go file for easier maintaining.
@k82cn @timothysc @bsalamat @davidopp

[2017-06-14 07:06] bgrant0607 commented on #1957
I commented here:
https://github.com/kubernetes/kubernetes/pull/31622#issuecomment-308338309

[2017-06-14 07:06] wanghaoran1988 commented on #47500
/sig scheduler

[2017-06-14 07:07] wanghaoran1988 commented on #47500
/sig scheduling

[2017-06-14 07:32] kargakis commented on #27548
@bgrant0607 can we at least leave this open to track transaction on the same resource?

[2017-06-14 07:37] kargakis commented on #44046
Yes, we need to fix this for 1.7 and also backport to 1.6.

[2017-06-14 07:38] joelharkes commented on #14987
@garethr I added the repository here:
https://github.com/joelharkes/kubernetes-json-schema

[2017-06-14 07:59] gmarek commented on #47344
Those are 100-Node tests. We need to look at https://k8s-testgrid.appspot.com/google-kubemark#gce-scale and run https://k8s-testgrid.appspot.com/google-gce#gce-enormous-cluster + https://k8s-testgrid.appspot.com/google-gke#gke-large-cluster.

We believe that we fixed the kubemark-scale, I'm working on making enormous and large clusters working.

[2017-06-14 08:02] fgrzadkowski commented on #7090
AFAIK it's not possible.

[2017-06-14 08:03] yoshz commented on #44603
I have this issue still on CentOS 7.3 with kube-controller-manager. I am running Kubernetes 1.6.4 installed using kubeadm.

@divyenpatel I have used your tip to convert product_serial to the right uuid using this script:
`cat /sys/class/dmi/id/product_serial | sed -e 's/^VMware-//' -e 's/-/ /' | awk '{ print toupper($1$2$3$4 "-" $5$6 "-" $7$8 "-" $9$10 "-" $11$12$13$14$15$16) }'`

This solves the

[2017-06-14 08:12] xiangpengzhao commented on #47486
/sig network
/cc @thockin

[2017-06-14 08:16] jsafrane commented on #47326
That's already implemented. If a  PV gets bound to a PVC the PV can never get bound to another PVC. Only the pods in the same namespace as the PVC can use it.

When the PVC is deleted, the PV gets `Released`. Based on `persistentVolumeReclaimPolicy` of the PV, the PV is either deleted or recycled (data on the PV are discarded in both cases) or remains `Released` forever and thus nobody can bind to

[2017-06-14 08:17] prasenforu commented on #47486
Normally network policy support for ingress from
Podselector or namespaceselector.

But I am looking if I can do from any external ip or host.

[2017-06-14 08:51] k82cn commented on #47295
false alarm, should set `restartPolicy` to Never.

[2017-06-14 08:51] #47295 closed

[2017-06-14 08:52] #47071 closed

[2017-06-14 09:14] ddysher commented on #47326
I think one key point from what @krmayankk describes is the identity of a PV (e.g. PV created by a tenant, PV of an internal customer).   After binding, PV is attached the identity of the PVC, but the binding process itself doesn't seem to take that into consideration. From what I know, it looks into selector, storageclass, accessmode, etc.  As of now, it seems the best way is to mimic identity in

[2017-06-14 09:27] fabiand commented on #46041
@mleklund so you are saying if the kubelet would not specify an interface when calling `iscsiadm`, then all suitable interfaces would be used automatically when connecting to a portal? i.e. `iscsiadm` or the usb-system is working this out itself?

To me the question would be why the interface is named in the first place if none is provided on the API level.

For the general approach - I do agree t

[2017-06-14 09:36] ddysher commented on #47154
I've replied to kubernetes-user thread.  This is not the intended behavior.

Did you use data volume for etcd?

[2017-06-14 09:37] manypozo commented on #47238
@janetkuo removing the `rollbackTo: revision: 0` did work fine thank you.

However, I still do not get where is the difference. Regarding the documentation [Creating a deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment):
[code]
Thought it was 0 by default in anyway (actually I commented this on my yaml as well).

[2017-06-14 10:24] mwielgus opened #47511 "Review Cluster Autoscaler code for Azure"
Currently, the Azure support in Cluster Autoscaler (https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) is in a kind-of undefined state. There are some reports that it works, however the code doesn't compile with the most recent version of Azure client library and doesn't have a proper documentation. Community help is needed to:

* review the code and check whether it uses the

[2017-06-14 10:51] xiangpengzhao commented on #47496
/sig testing

[2017-06-14 10:54] xiangpengzhao commented on #47465
/sig api-machinery

[2017-06-14 10:56] xiangpengzhao commented on #47433
/sig network

[2017-06-14 11:09] xiangpengzhao commented on #47324
Could you please edit markdown format of the issue description? It's not so readable.

The container `kubernetes-dashboard` exit with code 1. What's the log of it?

[2017-06-14 11:48] gmarek commented on #44003
From our side (perfdash.k8s.io) everything's fine.

[2017-06-14 12:16] deads2k commented on #12668
It hasn't been fixed: https://github.com/kubernetes/kubernetes/blob/0613ae5077b280eabbff593bc2dc34fe2d03538d/pkg/kubectl/cmd/util/helpers.go#L369

[2017-06-14 13:17] rootfs commented on #46041
I would like leaving `iscsiadm` to figure out the node specific network topology.
cc @mikechristie

[2017-06-14 13:17] rodawg commented on #46641
* We've also been experiencing this daily since June 7th, but the last occurrence was Monday AM.
* Our instance type is c3.4xlarge on us-east-1
* We're not bringing up a new cluster, only restarting the kubelet process
* The time between events is about the same, though it hasn't occurred since I reduced the overall number of services and iptables rules
* The smaller cluster doesn't experience thi

[2017-06-14 13:22] rootfs commented on #47427
The secret is in the same namespace as the pod
see https://github.com/kubernetes/kubernetes/blob/1e1040b524dda1c97dad4faab1910972b71a5c79/pkg/volume/util/util.go#L123

[2017-06-14 13:29] rootfs commented on #47452
@gnufied the rbd case is different: there is no automatic secret placement, the secret is assumed to exist in the same namespace as the pod. If it is missing, admin creates, not rbd provisioner. This is documented [here](https://github.com/kubernetes/kubernetes/blob/master/examples/persistent-volume-provisioning/README.md#ceph-rbd)

@liggitt I Is opening a new provisioning parameter `namespace` to

[2017-06-14 13:33] fabiand commented on #46041
Sounds reasonable - the q is just if there will be regressions - or as asked before, if there was a reason to specify the interface to use. Otherwise I'd liek it as well. Automagic everywhere - and maybe this time wizards are not even involved.

[2017-06-14 13:40] maxkondr opened #47518 "Secure traffic between pods in cluster"
Hi,
In some hosting environments/configurations, the network traffic between pods (applications) may traverse the public Internet. As a result, I'd like to secure the communication between the pods.

For example, I have the following structure:

- Service_A - edge service in my product and provides access to my API to external users via public IP.
- Service_B and Service_C - microservices that has

[2017-06-14 13:44] gnufied commented on #47427
That only applies to PVs created via dynamic provisioning. I think @jamiehannaford was talking about statically created PVs.

[2017-06-14 13:45] stevekuznetsov commented on #45546
As in, don't add that item to the list of items on which the following access is made. When I do:

[code]

And there is no `foo` annotation on `mypod`, I just get nothing back -- no error, just nothing. Similarly, i would have expected the filtered expression to give me the `.metadata.name` for all of the pods that have an annotation `foo` with value `bar`. That, anyway is what I understand the JS

[2017-06-14 13:56] rootfs commented on #47427
`GetSecretForPod()` is called by rbd mounter, it is not a "provisioning thing". All rbd PVs expect secrets exist in the same namespace as the Pods.

[2017-06-14 14:05] snarayanank2 commented on #46641
@bjornswift we have not run into the issue after adjusting some parameters. My colleague will add a note on what the specific parameters we changed.

[2017-06-14 14:07] gnufied commented on #47427
Sure. But for statically provisioned PVs this can easily become a problem. Because PVs are not namespaced and for statically provisioned PVs they can be bound to any PVC (in any namespace) and then the assumption that secret will be in same namespace as pod falls apart.  I think that is the problem @jamiehannaford is running into. But I will let him clarify.

[2017-06-14 14:12] sutasu opened #47520 "No access to API server from pod in python"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean", BuildDate:"2017-05-19T18:44:27Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Cloud provider or hardware configurat

[2017-06-14 14:13] rootfs commented on #47427
The secret has to be created in the same namespace as the Pods that use rbd. There is no wide open namespace for rbd secrets.

[2017-06-14 14:36] mleklund commented on #46041
@fabiand yes, that is exactly the case provided that iscsi is setup on the hardware at time of provisioning.  It is not magic, by any means, it is just something that is part of the initial setup of the node.  You install the openiscsi packages, then you define your iscsi interfaces.  If you do this then openiscsi will attempt logins and such on all defined iscsi interfaces _if_ you do not name an

[2017-06-14 14:36] justinsb commented on #45050
I propose we keep this instance for ELBs, and use 47516 for the equivalent EBS problem.

They may turn out to have the same solution, but I think ELB's usage of the instance information is sufficiently different that they may not.

[2017-06-14 14:36] moshe0076 commented on #41033
The change in 1.7 is very welcome.

For now I have implemented your suggestion and it does the job.

Thank you so much for your help!

Moshe.

[2017-06-14 14:37] justinsb commented on #47271
As I mentioned here https://github.com/kubernetes/kubernetes/issues/45050#issuecomment-308451376 , I propose we keep this issue for EBS and #45050 for ELBs, as I think they may well turn out to have different solutions.

[2017-06-14 14:40] danwinship commented on #46788
@aanm that's unrelated; kubectl is able to fetch either type ("kubectl get networkpolicies.extensions" will return v1beta1 objects); this is just about it having the wrong default.

[2017-06-14 14:42] fabiand commented on #46041
Right - And IMO we just need to understand if there is a reason for providing the `-I b.iface` today, or if it can be dropped.

[2017-06-14 14:42] jamiehannaford commented on #47427
@rootfs I know the secret must be in the same namespace as the pod, my point is that there's no way to set the namespace in the first place. We're using rook, so the set up is:

1. deploy rook in `foo` namespace (uses ceph)
1. create PVC in `foo` namespace
1. ceph will then dynamically create a PV
1. ceph creates user secret in `default` namespace
1. pod which uses PVC in `foo` namespace doesn't h

[2017-06-14 14:52] rootfs commented on #47427
Why ceph creates user secret in default namespace? After step 2, you have a namespace `foo`

[2017-06-14 15:04] spzala commented on #17223
@pmorie Hi Paul, a gentle touch base, the issue is last discussed an year ago and based on your last comment in the issue I wonder if this is still a valid issue or should we close it? Thanks!

[2017-06-14 15:04] rootfs commented on #47452
second look, opening new provisioning parameter is not the only thing, I also need a new `namespace` in azure file volume source to pick up the namespace in [this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_file/azure_file.go#L206)

@liggitt do we have precedence to reference cross-namespace api objects?

[2017-06-14 15:06] mleklund commented on #46041
I _think_ with openiscsi you do need to provide interface information if you are using offload cards, but if you are using good old fashioned tcp you do not.  Last time I revisited iscsi offload in linux you could not use jumbo frames so the advantages of an offload card were limited, so I stuck with tcp.

[2017-06-14 15:07] clenimar opened #47522 "Federated Ingress fails with hybrid (gke/on-prem) environments"
**Is this a request for help?**: yes
**What keywords did you search in Kubernetes issues before filing this one?**: hybrid federated ingress, on-premise ingress
**Is this a BUG REPORT or FEATURE REQUEST?**: bug report
**Kubernetes version** (use `kubectl version`): v1.5.2
**What happened**: I've got a hybrid federation running on GKE with one on-premise cluster:
[code]
I'm using Google Cloud DNS a

[2017-06-14 15:09] liggitt commented on #47452
cross-namespace from a pod, no. fully-qualified namespace from a PV (which is cluster-scoped), yes.

[2017-06-14 15:09] spzala commented on #17208
@davidopp hi David, since this seems a pure doc issue, should we close it here and open one against kubernetes.github.io to make it better visible to Doc team? - just a thought. Thanks!

[2017-06-14 15:13] clenimar commented on #47522
cc @csbell @kubernetes/sig-federation-misc

[2017-06-14 15:23] spzala commented on #17174
@jcderr hi, it's been more than a year the issue was reported so a touch base. Is the use of HostnameOverride works for you? If it's not an issue anymore, can you please close it? Thanks!

[2017-06-14 15:26] timothysc commented on #17208
@spzala I'm ok with it.  Could you open and issue and cross link to this one please.

[2017-06-14 15:30] ls-yann-david commented on #47340
I do run into the same issue, I see that there's an iptables rule that should reject traffic when no pods are availables, but it never get applied/used.

[2017-06-14 15:36] liggitt commented on #17174
as of 1.5, the kubelet reports dns and ip addresses in node status, and places those in its serving cert as subjectAltNames, and the apiserver can select which node address it wants to use with `--kubelet-preferred-address-types`

[2017-06-14 15:36] #17174 closed

[2017-06-14 15:44] spzala commented on #17174
@liggitt nice, thanks for the update and closing !!

[2017-06-14 15:47] jdumars commented on #35180
/sig azure

[2017-06-14 15:47] iterion opened #47524 "AWS not cleaning up routes"
Kubernetes on AWS seems to be leaving behind black hole routes when nodes leave the cluster.

v1.6.2
Debian Jessie
Linux ip-172-20-60-152 4.4.41-k8s #1 SMP Mon Jan 9 15:34:39 UTC 2017 x86_64 GNU/Linux
Provisioned with kops using kubenet networking

The cluster correctly create routes, but seems to not be attempting to clean up routes. So, a number of black hole routes are left behind. Ultimately,

[2017-06-14 15:51] rootfs commented on #47427
based on the [comment](https://github.com/kubernetes/kubernetes/issues/47452#issuecomment-308461782),  the user namespace idea could happen

[2017-06-14 15:54] xiangpengzhao commented on #47524
/sig aws

[2017-06-14 15:54] iterion commented on #47524
/sig sig/aws

[2017-06-14 15:54] devinburnette commented on #47524
I'm also having this problem on v1.6.0 on AWS (provisioned with kops) running cluster autoscaler v0.5.3

[2017-06-14 15:54] iterion commented on #47524
/sig sig/aws

[2017-06-14 15:56] kavadithya commented on #46641
Here's a solution that worked for us (@@snarayanank2's team).
1. set node-status-update-frequency to 20 seconds on the controller node
2. node-monitor-grace-period to 300 seconds on your controller and worker nodes
The kubelet service has to be started with the 1st setting, and kube-controller-manager has to be started with the 2nd setting.
We haven't seen the issue for the past 10 days after putt

[2017-06-14 15:59] iterion commented on #47524
From discussion on slack, it seems as if most people have cleanup scripts they're running to help. I think, though, for new users it could be frustrating and surprising. Especially if they plan on using the cluster-autoscaler. So, my personal preference would be 1.7.

[2017-06-14 16:01] devinburnette commented on #47524
Same. If it wasn't for the AWS imposed max on routes, I'd say we could wait, but this took me a while to troubleshoot in production and was a bit of a headache.

[2017-06-14 16:09] spiffxp commented on #15635
/sig api-machinery
/sig cli
/sig release

IMO this would be a sig-architecture thing, but we don't have that yet, so I'm hitting the SIG's that are affected by extracting things for `kubectl`

[2017-06-14 16:09] bjornswift commented on #46641
@kavadithya / @snarayanank2 thanks!

I'm going to apply these changes to our clusters and see how that goes. Can see how this would mitigate impact (i.e. the cluster is given longer to recover from events), but wonder whether there's still some underlying issue that causes the network event to occur in the first place.

Will apply and report back, thanks!

[2017-06-14 16:11] spiffxp commented on #16397
/sig instrumentation

docs have changed since this was filed, I suspect this should be closed

https://github.com/kubernetes/kubernetes.github.io/blob/f4fd9e79edc435b977c9fe37219fe39c67f699b3/docs/concepts/cluster-administration/logging.md

[2017-06-14 16:13] spiffxp commented on #16456
/sig node

[2017-06-14 16:13] bjornswift commented on #46641
@rodawg:

Interesting. So had your cluster been around for several days before June 7th, and then this started to occur daily? That would really rule out a change in software configuration.

We also see the eth0 network log messages that @snarayanank2 reported, ~10-20 minutes after the netfilter/iptables message. I've cut a support ticket to aws to see if they see anything of relevance on the host

[2017-06-14 16:20] smarterclayton commented on #30698
One more - preconditions on deletion and other actions.  A resourceVersion precondition on delete, for example.

[2017-06-14 16:25] xiangpengzhao commented on #47518
/sig network

[2017-06-14 16:29] jonpulsifer opened #47525 "GKE RBAC failures on node pool creation/deletion"
**Kubernetes version** (use `kubectl version`): 1.6.0, 1.6.1, 1.6.4

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): cos
- **Kernel** (e.g. `uname -a`): 4.4.21+, 4.4.35+
- **Install tools**:
- **Others**: `--no-enable-legacy-authorization`

**What happened**:

RBAC errors upon node pool creation/deletion for services governed by RBAC (heap

[2017-06-14 16:30] rodawg commented on #46641
Nothing had changed for over a week before the first occurrence.

I also see the eth0 network log messages but none of the other messages.

[2017-06-14 16:35] divyenpatel commented on #44603
@yoshz We can help debugging the issue. Can you create an issue at https://github.com/vmware/kubernetes/issues

please provide kubelet logs.

[2017-06-14 16:36] JonPulsifer commented on #47525
Some more context, the batch of errors exists for only a matter of seconds before returning to normal. The master restarting probably aligns with this pattern?

[2017-06-14 16:36] blayzestefaniak opened #47526 "KubeletOutOfDisk but Node is Ready"
Hi all. I'm new to posting issues in open source world, so feel free to let me know if you require additional information.

I am using Kubernetes 1.5.6 on CoreOS 1185.3.0 (worker nodes). The problem is that my pods are showing OutOfDisk at the same time as the corresponding nodes are showing as Ready. I would expect the KubeletOutOfDisk message to cause the node to become Not Ready.

To provide so

[2017-06-14 16:42] mbohlool commented on #34254
There are less important tasks remains in this. @pwittrock can you look at them again and see if we need all of them.

[2017-06-14 16:48] xiangpengzhao commented on #47526
/sig node
/cc @yujuhong

[2017-06-14 16:49] shyamjvs commented on #47344
FYI kubemark-scale is now fixed with run 469 green (ref: https://k8s-testgrid.appspot.com/google-kubemark#gce-scale)

[2017-06-14 16:55] dchen1107 commented on #47446
@fejta @spxtr Another question I am having is that how we capture the time spent on each test?

[2017-06-14 17:00] dchen1107 commented on #47371
Approve this for 1.7 milestone:  According to @monopole, the upgrade test lead for 1.7 release: This feature will improve the way in which upgrade tests appear on the dashboard, making it easier to triage failures. No risk for the release itself.

[2017-06-14 17:04] Random-Liu commented on #47526
@blayzestefaniak `NodeReady` and `OutOfDisk` are separate node conditions.
`NodeReady==False` is usually caused by node problems such as network plugin is not properly initialized, container runtime is not working properly etc.
`OutOfDisk==True` is usually caused by node run out of disk.

At the node level, kubelet [treats them differently](https://github.com/kubernetes/kubernetes/blob/master/pkg/

[2017-06-14 17:04] enisoc commented on #47027
@deads2k can you approve for v1.7 milestone? This is a regression that breaks all TPR-based operators and custom controllers that worked in 1.6.

[2017-06-14 17:05] smarterclayton commented on #36120
Another datapoint on why I think ugorji has to go by default:

Have a simple client that wants to import Kubernetes client-go.  Pre
importing anything from client-go, the binary is 10M (of which 4 is the
runtime roughly and 6 is a lot of standard library).  Post import, binary
jumps to ~37M.  Remove types.generated.go and compile again - size drops to
roughly 30M.  So every small tool out there pa

[2017-06-14 17:07] yujuhong commented on #47135
I think it makes sense to have some default non-zero estimate. kubelet also sets a minimum grace period of 2s itself, so expecting immediate termination is not practical.
This may not help with the namespace deletion slowness (which looks more like the api request latency issue), but should at least avoid unnecessary error messages.

[2017-06-14 17:09] deads2k commented on #47027
I thought watch of TPRs had known problems back to spring 2016 (https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20watch%20tpr).  Is this a new and unusual one?

[2017-06-14 17:09] pwittrock opened #47528 "Reposplit Umbrella Issue"
Issues when split repos:

- [ ] kubernetes/newrepo split repo into kubernetes/kubernetes
  - [ ] Testing the code against kubernetes/kubernetes
  - [ ] Automatically updating the vendored version of kubernetes/newrepo in kubernetes/kubernetes when updated in newrepo
- [ ] Vendoring deps into kubernetes/newrepo shared with kubernetes/kubernetes
  - [ ] kubernetes/kubernets and kubernetes/newrepo mu

[2017-06-14 17:12] janetkuo commented on #43322
/assign @wanghaoran1988

[2017-06-14 17:12] enisoc commented on #47027
@deads2k This seems to be a total breakage of watching TPRs. The OP here says their specific test case worked in 1.5 and 1.6. I also have heard from another user through side channels that their operator that worked in 1.6 stopped receiving any watch events at all when they upgraded to 1.7.

In the current state, I think upgrading to 1.7 will break lots of users whose watches are (perhaps not enti

[2017-06-14 17:15] yujuhong commented on #47526
FYI, there is also ongoing effort to (re-)define what "ready" condition means to achieve finer-grained conditions for more flexible handling. ref: #45717

[2017-06-14 17:16] squeed opened #47529 "CNI hostport mapping tries to map unmapped ports."
The CNI Host function GetPodPortMappings also includes unmapped ports with a HostPort of 0 (this is apparently by design). This is normal, and the CNI network plugin invoker should not attempt to map these ports. Instead, it passes them through to the underlying CNI plugin.

The default plugin then happily sets up mappings form port 0 to the container.

The CNI shim should ignore HostPort = 0. Thi

[2017-06-14 17:17] squeed commented on #47529
/sig network

[2017-06-14 17:18] janetkuo commented on #47238
`This defaults to 0, meaning rollback to the last revision in history.` is not correct, the default value is nil (empty). It should be `If set to 0, roll back to the last revision`. I'll file a PR to fix the document. Thanks for the report!

[2017-06-14 17:21] #47404 closed

[2017-06-14 17:23] deads2k commented on #47027
Ok.  New and exciting.

[2017-06-14 17:23] nicksardo opened #47531 "[GCE] ILB beta with stable IP in 1.8"
For Kubernetes 1.8 release, ILB should be able to hold onto private IP addresses during sync.

/assign @nicksardo
/sig network
/area platform/gce

[2017-06-14 17:24] janetkuo commented on #47238
Actually, that part is not incorrect.

[code]

`.spec.rollbackTo` defaults to nil.
`.spec.rollbackTo.revision` defaults to 0 (since it's an integer).

Setting `.spec.rollbackTo` to something other than nil will trigger a rollout, even if you specify a default value in `.spec.rollbackTo.revision`.

I can see why this is confusing, I'll rephrase in the document to make it more clear.

[2017-06-14 17:32] dchen1107 commented on #47135
Re: https://github.com/kubernetes/kubernetes/issues/47135#issuecomment-308135523

@liggitt Do we have more stats on increasing latency on API requests? @gmarek @wojtek-t Given https://github.com/kubernetes/kubernetes/issues/44003 was fixed for cluster perf dashboard, can we have AB comparison on API latency between 1.6 and 1.7? cc/ @k8s-mirror-api-machinery-misc

If there is no latency downgrade f

[2017-06-14 17:36] MikeSpreitzer commented on #46370
Why is this issue not labelled `kind/flake` ?

[2017-06-14 17:39] justinsb commented on #46370
@MikeSpreitzer I think because it was not opened by the test infra.

Propose closing; the root cause has been fixed, and we should let test-infra open if needed.

[2017-06-14 17:47] enisoc commented on #47027
I think I have a quick fix. We just need to account for #44350 in the TPRData codec.

I'm also going to try to come up with a regression test. If anyone knows a way to get kubectl to stop watching after it gets the first event, let me know.

[2017-06-14 17:51] hongchaodeng opened #47532 "Kubernetes creates way too many leases on etcd"
Kubernetes only use etcd's lease API for creating event objects. Event objects' lease lasts for 1 hour and doesn't need good precision. However, Kubernetes creates one lease on each create operation, and potentially many leases on GuaranteedUpdate(). This is unnecessary. It also causes big load (observed 100K+ leases in kubemark) in large scale.

An optimization is to have a lease that last for 1

[2017-06-14 17:54] MrHohn commented on #46917
Dupe of #46919. Will close issue when cherrypicks are in.

/assign

[2017-06-14 17:54] MrHohn commented on #46919
/assign

[2017-06-14 17:54] xiang90 commented on #47532
@wojtek-t

The current creation with TTL puts 2x more load on etcd (1 for lease creation, 1 for lease revoke/expire). We can observe significant overhead from etcd monitoring data.

[2017-06-14 17:58] janetkuo commented on #47238
Filed https://github.com/kubernetes/kubernetes.github.io/pull/4085 to update doc

[2017-06-14 18:00] castrojo commented on #43756
/sig cluster-lifecycle

[2017-06-14 18:00] janetkuo commented on #43322
@wanghaoran1988 thanks, feel free to send patches

[2017-06-14 18:01] castrojo commented on #43756
/assign @chuckbutler @tvansteenburgh

[2017-06-14 18:04] castrojo commented on #43754
/sig cluster-lifecycle
/assign @chuckbutler

[2017-06-14 18:04] justinsb commented on #47404
We can do that too @gnufied  :-)

[2017-06-14 18:05] castrojo commented on #43707
/sig cluster-lifecycle
/assign @chuckbutler

[2017-06-14 18:07] castrojo commented on #43448
/sig cluster-lifecycle
/assign @chuckbutler

[2017-06-14 18:07] castrojo commented on #43209
/sig cluster-lifecycle
/assign @Cynerva

[2017-06-14 18:09] squeed commented on #47529
/kind bug

[2017-06-14 18:10] andreychernih commented on #43811
Same here, I have a liveness probe with `timeoutSeconds: 1` and it looks like this timeout is not respected - I see a healthcheck process started several minutes ago and kubernetes does not restart the pod.

[2017-06-14 18:11] castrojo commented on #43695
/sig cluster-lifecycle

[2017-06-14 18:11] castrojo commented on #43526
/sig cluster-lifecycle

[2017-06-14 18:13] castrojo commented on #42027
/sig cluster-lifecycle

[2017-06-14 18:13] castrojo commented on #41936
/sig cluster-lifecycle

[2017-06-14 18:14] castrojo commented on #38399
/sig cluster-lifecycle

[2017-06-14 18:16] castrojo commented on #39581
/sig cluster-lifecycle

[2017-06-14 18:17] #46370 closed

[2017-06-14 18:19] castrojo commented on #43834
/sig docs

[2017-06-14 18:21] castrojo commented on #35683
/sig network

[2017-06-14 18:22] Rev1408 opened #47533 "Service is always forwarding the request to same pod"
I have a single node Kubernetes cluster, with Master tainted. I am running 2 pods and a service with Type: NodePort on the same node. I was expecting the service to load balance the requests between the two pods, but looks like all the requests are always getting forwarded to same pod.

[2017-06-14 18:24] castrojo commented on #23702
/assign
/close

[2017-06-14 18:25] castrojo commented on #23702
/close

[2017-06-14 18:25] #23702 closed

[2017-06-14 18:30] dvonthenen commented on #46184
The way I read Docker's fix for the problem, this issue could pop up on every image pull when using a version prior to Docker 1.13.0. I think the only way to guarantee the issue isn't seen is to check for this specific error, delete the corrupt image, and then retry the pull possibly after X number of attempts. Since I am fairly new, it is unclear if throwing the ErrImagePullBackOff error will tri

[2017-06-14 18:34] dchen1107 opened #47534 "E2E GKE cluster cannot up in both master and 1.7 branch"
@caesarxuchao reports that GKE cluster cannot up with 1.7 branch. I quickly poked around, and found all gke test clusters are affected, not only 1.7 release branch. I also noticed that there is a new cloud SDK upgrade, which might be the cause.

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-release-1-7/186/build-log.txt
[code]

cc/ @gmarek @cheftako

[2017-06-14 18:35] timothysc commented on #47381
I do not have time to dig into root cause right now.
In general, the sig should be cc'd on issues.

/cc @kubernetes/sig-scheduling-bugs

[2017-06-14 18:38] caesarxuchao commented on #47534
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-release-1-7/187/nodelog?junit=junit_runner.xml&wrap=on

[code]
Maybe a kubelet cert rotation issue?

[2017-06-14 18:39] derekwaynecarr commented on #47366
@lavalamp -- i think it was made worse when we added new container events and moved to the CRI. i have a couple prs open to try and mitigate the problem.

[2017-06-14 18:40] caesarxuchao opened #47535 "Flaky, [Serial] Should not update pod when spec was updated and update strategy is OnDelete"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1-7/37

[2017-06-14 18:41] derekwaynecarr commented on #47366
@lavalamp this is a production problem for us right now on larger clusters, so i would like both to make 1.7:

https://github.com/kubernetes/kubernetes/issues/47367
https://github.com/kubernetes/kubernetes/issues/47462

i am not sure how many people were running 300+ node clusters with larger sets of unhealthy pods to know if it is or is not a regression.  for us its a critical problem.

[2017-06-14 18:43] derekwaynecarr commented on #47366
i am moving this to sig-node as its a kubelet problem primarily.

moving this to sig-node, and labeling 1.7

[2017-06-14 18:47] Cynerva commented on #43209
This issue was fixed in #44500, via the addition of the `kubernetes-worker.restart-needed` state seen [here](https://github.com/kubernetes/kubernetes/pull/44500/files#diff-bdfd6f6b79f7f3171e9f0167164a7c98R69).

[2017-06-14 18:52] yoshz commented on #44603
I manually enabled vsphere cloud provider after kubeadm init which solved the problem. I am happy!
Thanks for your help!

[2017-06-14 18:53] hongchaodeng commented on #47532
@kubernetes/sig-api-machinery-misc @kubernetes/sig-scalability-misc

[2017-06-14 18:57] kargakis opened #47538 "Ability to start CronJobs manually"
It would be nice to support manual runs for CronJobs. Today, IIRC, a CronJob misses its schedule for whatever reason and we won't start it until the next time it's scheduled to run. At the very least, this could be a kubectl generator, eventually we may want to support it as part of the CJ API.

@stevekuznetsov since you were asking about it today

@kubernetes/sig-apps-feature-requests

[2017-06-14 19:01] castrojo commented on #42389
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-06-14 19:01] castrojo commented on #42389
/assign

[2017-06-14 19:01] castrojo commented on #42389
/close

[2017-06-14 19:01] #42389 closed

[2017-06-14 19:01] timothysc commented on #47532
Can we finally admit to ourselves that storing events in etcd was a bad idea and nip the root of this problem?  Not that I've been saying this for 2 years or anything... ಠ_ಠ

IMO either allow the direct shunt/webhook, or just eliminate it and create better structured logs and status updates.

@ncdc @smarterclayton @kensimon @derekwaynecarr

[2017-06-14 19:04] chuckbutler commented on #43448
@jacekn This was filed some time ago, do you recall of the kubectl command was executed from a remote unit or from your workstation? I would expect the old load balancer being taken offline to yield in a broken configuration because the endpoint vanished unless you were using a floating ip for that loadbalancer.

[2017-06-14 19:05] yujuhong commented on #47534
Caused by #47094. I believe @cheftako is investigating.

[2017-06-14 19:07] chuckbutler commented on #43707
This is stale and will expire when 1.7 lands. @ktsakalozos would you be OK closing this issue as we're dropping support for 1.5 with the next release of the charms.

[2017-06-14 19:13] stevekuznetsov commented on #47538
Another anti-UX feature is if you change the schedule to something like `1/1 * * * *` to ensure it runs soon without having to look at the time,  the controller notices a huge amount of jobs should have been scheduled and refuses to run anything.

[2017-06-14 19:14] sbezverk commented on #27398
@dcbw I got multus configured with multiple sriov neworks. What happened is when first pod in the cluster starts, kube-dns in my case, it consumes ALL defined networks, so it has eth0 by default and then bunch of interfaces for each defined VF. I have two questions: 1: is there a way to tell pod which network it needs to use? In this case I could have told kube-dns to use only default eth0, and to

[2017-06-14 19:16] cheftako commented on #47534
#47094 <https://github.com/kubernetes/kubernetes/pull/47094> only went in
to 1.7. So it should not be the cause of any problems on GKE clusters which
pre-date 1.7
-Walter

On Wed, Jun 14, 2017 at 12:06 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2017-06-14 19:18] dchen1107 commented on #47534
Could be, that is why I cc-ed him. But based on the information I had from @caesarxuchao I kindly ruled out https://github.com/kubernetes/kubernetes/pull/47094 from @cheftako because the pr was merged two days, and @caesarxuchao did fast forward everyday to 1.7 branch. But the failure in 1.7 started yesterday. Unless the timelines I collected are mismatch here.

[2017-06-14 19:19] dchen1107 commented on #47534
Ok, update the title. The failures are only on both master branch and 1.7 branch.

[2017-06-14 19:31] spiffxp commented on #41904
/remove-priority P0
/priority critical-urgent
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-14 19:31] spiffxp commented on #38660
/remove-priority P0
/priority critical-urgent
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-14 19:32] spiffxp commented on #38660
/assign

closing this due to inactivity

[2017-06-14 19:32] spiffxp commented on #38660
/close

[2017-06-14 19:32] #38660 closed

[2017-06-14 19:32] spiffxp commented on #42603
/remove-priority P0
/priority critical-urgent
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-14 19:32] spiffxp commented on #42603
/assign

closing due to inactivity

[2017-06-14 19:32] spiffxp commented on #42603
/close

[2017-06-14 19:32] #42603 closed

[2017-06-14 19:33] marun commented on #22032
Given that there has been no activity in v1.7, moving to v1.8.

[2017-06-14 19:33] spiffxp commented on #43195
/remove-priority P0
/priority critical-urgent
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-14 19:33] spiffxp commented on #43195
/assign

closing due to inactivity

[2017-06-14 19:33] marun commented on #23479
Given that there has been no activity in v1.7, moving to v1.8.

[2017-06-14 19:33] spiffxp commented on #43195
/close

[2017-06-14 19:33] #43195 closed

[2017-06-14 19:33] spiffxp commented on #46241
/remove-priority P0
/priority critical-urgent
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-14 19:33] marun commented on #23481
Given that there has been no activity in v1.7, moving to v1.8.

[2017-06-14 19:33] marun commented on #23482
Given that there has been no activity in v1.7, moving to v1.8.

[2017-06-14 19:34] marun commented on #23484
Given that there has been no activity in v1.7, moving to v1.8.

[2017-06-14 19:34] marun commented on #31061
Given that there has been no activity in v1.7, moving to v1.8.

[2017-06-14 19:35] castrojo commented on #43209
/assign

[2017-06-14 19:35] castrojo commented on #43209
/close

[2017-06-14 19:35] #43209 closed

[2017-06-14 19:35] marun commented on #31715
This issue hasn't been active in 90 days.   Closing.

[2017-06-14 19:35] #31715 closed

[2017-06-14 19:36] shyamjvs opened #47540 "QPS due to apiserver differing b/w kubemark and real cluster"
![apiserver](https://user-images.githubusercontent.com/4333971/27150367-3ec43686-5147-11e7-84e7-c279de60f089.jpg)

This has been plotted using apiserver logs from our 100-node gce test ([run 2701](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/2701)) and 100-node kubemark test ([run 3203](https://k8s-gubernator.appspot.com/build/kubernetes-jenkin

[2017-06-14 19:36] gnufied commented on #43300
I think this should be fixed by https://github.com/kubernetes/kubernetes/pull/44566 and https://github.com/kubernetes/kubernetes/pull/42033.

@jsravn can we close this?

[2017-06-14 19:36] marun commented on #42602
This hasn't been active in 90 days.  Closing.

[2017-06-14 19:36] #42602 closed

[2017-06-14 19:37] caesarxuchao commented on #47535
/sig apps

[2017-06-14 19:37] marun commented on #42643
This hasn't been active in 90 days.  Closing.

[2017-06-14 19:37] #42643 closed

[2017-06-14 19:37] marun commented on #43050
This issue hasn't been active in 90 days.  Closing.

[2017-06-14 19:37] #43050 closed

[2017-06-14 19:37] justinsb commented on #41904
Thanks @spiffxp - punting to 1.8 as I don't think this behaviour is necessarily wrong, though it is suboptimal if (for some reason) the metadata service went down AWS-wide.

[2017-06-14 19:39] shyamjvs commented on #47540
The QPM arising from scheduler and controller-manger seem to be matching across both. It's just something wrong with the apiserver.

![scheduler](https://user-images.githubusercontent.com/4333971/27151104-d1ffe5ce-5149-11e7-8437-7c5ce6b3dbcd.jpg)

![controller-manager](https://user-images.githubusercontent.com/4333971/27151115-d76fcf7e-5149-11e7-920f-800a1ecf4d9d.jpg)

[2017-06-14 19:40] marun commented on #31858
@justinsb Can this issue be closed?

[2017-06-14 19:41] caesarxuchao commented on #47534
Thanks @yujuhong. The mistake i made was that i compared the timestamp of a relesae-1.7 branch commit with that of a the master branch commit. I should had used `git diff`.

[2017-06-14 19:41] marun commented on #43206
I'm assuming this doesn't have to block v1.7.   Feel free to move back if required.

[2017-06-14 19:43] castrojo commented on #43287
/sig azure

[2017-06-14 19:44] caesarxuchao opened #47541 "GCE serial flake, SchedulerPredicates [Serial] validates that InterPod Affinity and AntiAffinity is respected if matching"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1-7/38

[code]

[code]

[2017-06-14 19:44] caesarxuchao commented on #47541
@MrHohn could you triage? Is this a problem you guys fixed for the master branch recently?

[2017-06-14 19:48] colemickens opened #47543 "components crash if Azure cloud-config file is not well-formed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-14 19:52] MrHohn commented on #47541
Seems to be the same issue discussed in https://github.com/kubernetes/kubernetes/issues/46651#issuecomment-305933636 (which we haven't fixed)?
[code]

cc @freehan @dnardo

[2017-06-14 19:52] shyamjvs opened #47544 "Kubelets in kubemark creating larger QPS than in real cluster"
![kubelet](https://user-images.githubusercontent.com/4333971/27151453-e2a03ad6-514a-11e7-9031-769a00262096.jpg)

This has been plotted using apiserver logs from our 100-node gce test (run 2701) and 100-node kubemark test (run 3203). The first peak is from density test and the second from load test. Both of them had density running first and the graphs are almost aligned in terms of timing of the t

[2017-06-14 19:52] #47409 closed

[2017-06-14 19:52] #47371 closed

[2017-06-14 19:55] shyamjvs commented on #47544
Similar to issue https://github.com/kubernetes/kubernetes/issues/47540, but that one's for difference in qpm due to apiserver. Also, this one is even more important as the difference seen is huge (thousands of qpm).

[2017-06-14 19:56] MrHohn commented on #47541
Was told that @dchen1107 is working on it :)

[2017-06-14 19:57] liggitt commented on #47135
Discovery API requests are taking ~5-10ms at the beginning of the e2e run and ~200-500ms at the end. I'm trying to capture memory and CPU profiles throughout the e2e run in https://github.com/kubernetes/kubernetes/pull/47527 to help determine the root cause

[2017-06-14 19:58] justinsb commented on #47524
OK - makes sense.  I think it's an easy fix, so I'll put it into 1.7 and see if others agree it can go in once we have a PR.

[2017-06-14 20:00] saad-ali commented on #45143
@smarterclayton does that address the graceful deletion/GC approach adequately?

[2017-06-14 20:02] shyamjvs commented on #47544
The yellow line also includes calls from kube-proxy (as both proxy and kubelet use the same client named 'kubemark/v1.8.0'), however those are negligible (< 50 qpm) in comparison to kubelet.
Further for node-problem-detector we are having similar qpm across both, so that's fine.

![npd](https://user-images.githubusercontent.com/4333971/27152105-1722ecd4-514d-11e7-9dfd-22064c431b1c.jpg)

[2017-06-14 20:03] justinsb commented on #31858
I think we close this one and open focused one for issues in 1.7, e.g. Route53.

[2017-06-14 20:03] #31858 closed

[2017-06-14 20:11] smarterclayton commented on #47532
Certainly rotating a lease is a quick fix.  Open question though - we still need a solution even for direct shunt that expires - does that mean everyone has to install something else?

[2017-06-14 20:13] justinsb commented on #47394
Fixed in #47395

[2017-06-14 20:13] #47394 closed

[2017-06-14 20:14] jmillikin-stripe commented on #25908
Gentle ping -- sidecar awareness would make management of microservice proxies such as Envoy much more pleasant. Is there any progress to share?

The current state of things is that each container needs bundled tooling to coordinate lifetimes, which means we can't directly use upstream container images. It also significantly complicates the templates, as we have to inject extra argv and mount poin

[2017-06-14 20:19] iterion commented on #47524
:+1: thanks @justinsb!

lmk if I can help out in any way.

[2017-06-14 20:21] liggitt commented on #47446
even before #47479, we were bumping up against the 55m timeout

[2017-06-14 20:25] shyamjvs commented on #47544
There's also a difference seen for the client "kubectl/v1.6.4", and this difference is almost exclusively because of the kube-addon-manager which creates a plethora of addons (services, controllers and configmaps, clusterrolebindings for them) in the case of real cluster.

![kubectl](https://user-images.githubusercontent.com/4333971/27152923-d15499c0-514f-11e7-93ac-38a693d885d6.jpg)

It makes abou

[2017-06-14 20:49] mikedanese opened #47547 "nil pointer in attach detach controller"
Was playing around with flex volumes and got my controller-manager to start crash looping:

[code]

/sig storage

[2017-06-14 20:49] dchen1107 commented on #43716
I re-open this issue since I reverted https://github.com/kubernetes/kubernetes/pull/47094

[2017-06-14 20:50] limited opened #47548 "Error moving Cinder PVC mount after stopping kubelet service"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.6.4

**Environment**:
- **Cloud provider or hardware configuration**:Openstack
- **OS** (e.g. from /etc/os-release):Centos 7.2.1511
- **Kernel** (e.g. `uname -a`):3.10.0-327.36.3.el7.x86_64
- **Install tools**:kubeadm
- **Others**: Flannel for CNI, Openstack Cloud Provider conf

[2017-06-14 20:55] stevekuznetsov commented on #15863
@kargakis if you're parsing Go source and taking actions from it you should really use [`go/ast`](https://golang.org/pkg/go/ast/) and do it "right"

[2017-06-14 20:57] phillydogg28 commented on #20391
Bump this again. I am not able to use the service endpoints from inside a pod of the service.
[code]
Should I be able to access ServiceA from inside PodA?

[2017-06-14 21:02] gnufied commented on #47547
Did you restart the controller or something like that in between?

[2017-06-14 21:02] limited commented on #47548
/sig sig/openstack

[2017-06-14 21:02] crimsonfaith91 commented on #47520
/sig needs-sig

[2017-06-14 21:04] cmluciano commented on #47533
/sig network

[2017-06-14 21:06] cmluciano commented on #47533
can you dump the iptables rules on that node?

[code]

[2017-06-14 21:06] cmluciano commented on #47533
/assign

[2017-06-14 21:07] sutasu commented on #47520
Opened in dependent project:
https://github.com/kubernetes-incubator/client-python/issues/254

[2017-06-14 21:07] #47520 closed

[2017-06-14 21:08] gnufied commented on #47547
Also, if you can post your PV, PVC and Pod yaml/json. I think this could be either flex only problem or spec being nil (or incomplete). We recently added support for reconstructing the volume spec of attached volumes on controller restart.

[2017-06-14 21:13] mikedanese commented on #47547
The pod is deleted. I'm not useing a PV or PVC but this looks suspicious in the nodeSpec:
[code]

[2017-06-14 21:16] ixdy commented on #8686
I'm pretty sure we do push all of the core cluster images to gcr.io/google-containers for releases, but for G{C,K}E we still side-load, and I'm not sure if the reasons for doing the side-loading are still valid.

If we wanted to use a registry instead of side-loading, we'd still need to figure out the developer and CI use-cases. We currently don't push any of the CI builds to gcr.io, but that's so

[2017-06-14 21:16] crimsonfaith91 opened #47551 "Please ignore - testing sig-mention munger"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-14 21:16] crimsonfaith91 commented on #47551
/sig needs-sig

[2017-06-14 21:16] madhusudancs commented on #47522
@clenimar Federated Ingress only has an implementation for GCP right now. The on-prem clusters don't usually run [GLBC](https://github.com/kubernetes/ingress/tree/master/controllers/gce). Even if you run it on the on-prem clusters, it can't configure the GCP HTTP load balancer on your on-prem clusters. Federated Ingress depends on GLBC to allocate resources, including IP addresses, within individu

[2017-06-14 21:17] crimsonfaith91 commented on #47551
/sig needs-sig

[2017-06-14 21:17] Random-Liu commented on #47219
@dchen1107 @ajitak So we should parse docker log to detect the problem, right?

[2017-06-14 21:18] crimsonfaith91 commented on #47551
/remove needs-sig

[2017-06-14 21:18] jswoods opened #47552 "kube-proxy fails to route traffic to pods on a newly joined node resulting in ELB 5xx errors"
BUG REPORT

**Kubernetes version**:
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.7", GitCommit:"8eb75a5810cba92ccad845ca360cf924f2385881", GitTreeState:"clean", BuildDate:"2017-04-27T10:00:30Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.7", GitCommit:"8eb75a5810cba92ccad845ca360cf924f238588

[2017-06-14 21:18] ixdy commented on #24123
I think kubeadm uses the registry, not the docker tarfiles, right (@luxas @mikedanese)? That's probably more reason we should get away from side-loading.

[2017-06-14 21:18] derekwaynecarr commented on #47532
@timothysc - we need to audit all events and ask if they provide sufficient value.  my observation is that we generate the most events for users that care the least about them.

[2017-06-14 21:19] crimsonfaith91 commented on #47551
/remove-sig needs-sig

[2017-06-14 21:19] crimsonfaith91 commented on #47551
/remove needs-sig

[2017-06-14 21:20] crimsonfaith91 commented on #47551
/sig needs-sig

[2017-06-14 21:20] #47551 closed

[2017-06-14 21:20] monopole opened #47553 "Massive failures in 1.5 to 1.7 upgrade test jobs"
These 1.5 to 1.7 upgrade test jobs all have over 25% failure rates:

* [gke-cvm-1-5-cvm-1-7-upgrade-cluster-new]
* [gke-cvm-1-5-gci-1-7-upgrade-cluster-new]
* [gke-gci-1-5-cvm-1-7-upgrade-cluster-new]
* [gke-gci-1-5-gci-1-7-upgrade-cluster-new]

Per the [job naming convention], these `-new` tests first upgrade the cluster (i.e. master and nodes, from 1.5 to 1.7) and then run the _new_ test suite (

[2017-06-14 21:23] jswoods commented on #47552
@kubernetes/sig-aws-misc

[2017-06-14 21:25] mamdouhweb commented on #44317
Any resolution here on this issue. We're facing the same problem here. if not, what would be a recommended image to replace the one in google-exmaples?

[2017-06-14 21:36] monopole commented on #47553
sigs mentioned in spreadsheet:

* apps @mattfarina
* node @dawnchen, @derekwaynecarr
* cli @pwittrock
* cluster-lifecycle @lukemarsden
* storage @saad-ali
* network @bowei
* scheduling @davidopp
* api-machinery @deads2k

Please look at the tests in rows assigned to a given SIG for a common cause.

[2017-06-14 21:44] monopole commented on #47553
@kubernetes/sig-apps-bugs
@kubernetes/sig-api-machinery-bugs
@kubernetes/sig-storage-bugs
@kubernetes/sig-node-bugs
@kubernetes/sig-cluster-lifecycle-bugs
@kubernetes/sig-network-bugs

[2017-06-14 21:45] smarterclayton commented on #45143
Maybe.  Next question - if you go with 1, is that a breaking API change
(before I could write scripts / apply / clients that deleted PVC before
it's done being used)?

On Wed, Jun 14, 2017 at 4:00 PM, Saad Ali <notifications@github.com> wrote:

[2017-06-14 21:47] smarterclayton commented on #47553
About half of the failures in the first job are due to APIs that don't exist in 1.5 (initializers, storage classes?, taints, new fields, etc).

[2017-06-14 21:50] smarterclayton commented on #47553
How are we doing exclusions for these tests - PRs to the jobs?  List here and one PR to the job?

[2017-06-14 21:51] smarterclayton commented on #47553
I think we want a bulk skip for all of the failing jobs (the same tests will not work on 1.5 across all four)

[2017-06-14 21:55] jmillikin-stripe commented on #25908
For reference, here's the bash madness I'm using to simulate desired sidecar behavior:

[code]

[2017-06-14 22:00] janetkuo opened #47554 "Consistent hash label key across controllers"
Here are the hash label keys of all controllers:
- Deployment: `pod-template-hash`
- DaemonSet: `daemonset-controller-hash` (new in 1.7)
- StatefulSet: `statefulset.beta.kubernetes.io/revision` (new in 1.7)

Had a brief discussion with @bgrant0607 and @kow3ns about this, it should be consistent. We can use `controller-revision-hash` for DaemonSet and StatefulSet, and keep Deployment as-is. Deploym

[2017-06-14 22:07] dchen1107 commented on #47547
Which release found the issue? Is it a regression? Is it required for 1.7? Release blocker? cc/ @saad-ali Please triage. Thanks!

[2017-06-14 22:09] Rev1408 commented on #47533
@cmluciano IP tables is stopped on my node.

`
# Generated by iptables-save v1.6.0 on Wed Jun 14 14:16:19 2017
*mangle
:PREROUTING ACCEPT [735856780:654787400020]
:INPUT ACCEPT [724608001:601541728756]
:FORWARD ACCEPT [8505064:52979893648]
:OUTPUT ACCEPT [518239734:248437323893]
:POSTROUTING ACCEPT [526766053:301417897701]
-A POSTROUTING -o virbr0 -p udp -m udp --dport 68 -j CHECKSUM --checksum-fi

[2017-06-14 22:10] janetkuo commented on #47535
#47258 will deflake this

[2017-06-14 22:18] dchen1107 commented on #47541
There is an internal issue filed to re-build container-vm image to resolve the  problem. cc/ @zmerlynn @timstclair @matchstick

[2017-06-14 22:19] mikechristie commented on #46041
mleklund is correct above.

1. For iscsi offload, it will direct the initiator to use the specific offload card port defined in the iface file.

2. For software iscsi, you do not need it. If not specified it will use whatever network routing you have setup. You can define a iface and pass it in with -I for software iscsi, if you want to override that routing and force the initiator to send IO thro

[2017-06-14 22:20] dchen1107 commented on #47541
@MrHohn Based on what we discussed earlier, this is not an compatibility issue between old existing kubelet on the image and iptable operations. Can we improve the logic in the code path to make them more robust?

[2017-06-14 22:21] dchen1107 commented on #47541
I am not marking this as release blocker.

[2017-06-14 22:25] verult commented on #47547
@mikedanese Could you post the steps to reproduce this bug?

If idmgr/mds-XVlBzgbaiC is a FlexVolume plugin and devicePath is "", it COULD mean there's an error with your driver's Attach implementation. In your kube-controller-manager.log do you see anything like "Failed to attach volume idmgr/mds-XVlBzgbaiC on node..."?

[2017-06-14 22:29] ixdy commented on #42289
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47545/pull-kubernetes-unit/36407/#k8siokubernetestestintegrationexamples-testaggregatedapiserver
[code]

[2017-06-14 22:31] dchen1107 commented on #47366
Please see my comments at: https://github.com/kubernetes/kubernetes/pull/47367#issuecomment-308576236

[2017-06-14 22:31] ixdy commented on #42289
seems like `FindFreeLocalPort` is racy, which is probably a known bug.

[2017-06-14 22:33] dchen1107 commented on #46572
cc/ @piosz Please triage this. Is this a release blocker or not for 1.7?

[2017-06-14 22:35] dchen1107 commented on #46572
I mark this as critical for triage. Please free free to downgrade the priority and move it out of milestone. Thanks!

[2017-06-14 22:39] caesarxuchao commented on #38275
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47546/pull-kubernetes-e2e-gce-etcd3/36083/

[2017-06-14 22:40] mikedanese commented on #47547
My pod spec is:
[code]
My driver is returning "{"status": "Not supported"}" for attach/detach ops since I don't need them.

[2017-06-14 22:48] verult commented on #47547
I see, FlexVolume without attach capability is currently broken, see #47109 , a fix is on the way.
One way to get around it for now is to set --enable-controller-attach-detach=false in kubelet. You only need to do this for the node that has the driver installed.

Looking to see if the nil reference issue is related.

[2017-06-14 22:53] bsalamat commented on #47500
predicates.go is not super long today, at the same time I don't see any problem with breaking it into smaller separate files. Smaller files will be easier to manage in the future.

[2017-06-14 22:53] pwittrock commented on #47553
Are we sure the cluster is being successfully upgraded?  From a spot check, it looks like the tests that are failing are new tests, and like Clayton pointed out, can't find the APIs.  If the cluster had been upgraded successfully, I would expect the APIs to be found.

[2017-06-14 22:59] shilpamayanna opened #47556 "With dynamically provisioned volume, deleting a PVC tried to delete PV though volume is in use by Pod"
Kubernetes version:1.6

1. Created out of tree dynamic provisioner as a Pod
2. Created storage class with provisioner
3. Created PVC with the storageclassname created in step 2
4. PV got created by the provisioner
5. Created a Pod with PVC.
6. Deleted the PVC
7. This invoked PV delete though PV is in use by a Pod

PV should not be deleted when it is in use

[2017-06-14 23:14] gnufied commented on #47556
This is being handled via https://github.com/kubernetes/kubernetes/issues/45143.

[2017-06-14 23:15] gnufied commented on #47556
closing as dupe.

/close

[2017-06-14 23:15] gnufied commented on #47556
/sig storage

[2017-06-14 23:15] gnufied commented on #47556
/close

[2017-06-14 23:16] gnufied commented on #47556
/assign @gnufied

[2017-06-14 23:16] gnufied commented on #47556
/close

[2017-06-14 23:16] #47556 closed

[2017-06-14 23:18] dchen1107 commented on #47446
A quick updates on this:

* @krzyzacy help to increase the timeout (+10m) for pull-kubernetes-e2e-gce-etcd3 to stop the bleeding edge for now: https://github.com/kubernetes/test-infra/pull/3064

* By carefully comparing pull-kubernetes-e2e-gce-etcd3 and https://k8s-testgrid.appspot.com/google-gce#gce-etcd3 since they are running on the same set of tests on GCE, I really believe the performance dis

[2017-06-14 23:22] dchen1107 commented on #47135
@liggitt I updated at https://github.com/kubernetes/kubernetes/issues/47446#issuecomment-308584924

[2017-06-14 23:24] ixdy opened #47558 "switch from gazel to gazelle"
Currently the Go rules in BUILD files are generated by [gazel](https://github.com/mikedanese/gazel).

We should switch to using the officially-supported [gazelle tool](https://github.com/bazelbuild/rules_go/tree/master/go/tools/gazelle), along with some sort of successor to gazel which generates the srcs and generated-code rules.

cc @spxtr @mikedanese

[2017-06-14 23:25] krzyzacy commented on #43997
/close

[2017-06-14 23:25] #43997 closed

[2017-06-14 23:37] nicksardo opened #47559 "[GCE] GCLB loses manually modified health check settings when upgrading to 0.9.3"
1.7.0 Release Blocker:
https://github.com/kubernetes/ingress/issues/842

[2017-06-14 23:37] nicksardo commented on #47559
/assign nicksardo
/sig network
/area platform/gce

[2017-06-14 23:38] nicksardo commented on #47559
@dchen1107 @bowei

[2017-06-14 23:38] nicksardo commented on #47559
/assign

[2017-06-14 23:41] ericchiang opened #47560 "Switch to UnixUserID breaks validation for kubectl 1.6 against 1.7 clusters (unexpected type: types.UnixUserID)"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: vagrant
- **OS** (e.g. from /etc/os-release): CoreOS container linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**: bootkube
- **Others**:

**What happened**:

Attempted to create [a deployment](https://gist.github.com/ericchiang/921582485cbb193c37af37dacc

[2017-06-14 23:55] mengqiy commented on #45546
cc @smarterclayton @ncdc since you authored https://github.com/kubernetes/kubernetes/pull/31714 and https://github.com/kubernetes/kubernetes/pull/39486.
I'm not sure how we want to fix this.

[2017-06-14 23:56] dchen1107 commented on #47453
Ok, I approved this one for 1.7 since

It helps clean up our CVM based tests. The cleanup code is also self-contained, shouldn't cause any issues on other cloud providers. But will double check through the pr.

[2017-06-15 00:02] crimsonfaith91 commented on #47135
One of my PRs are affected too: https://github.com/kubernetes/kubernetes/pull/47469

Part of the build log:
[code]

I will follow closely to this issue, and retest the PR frequently.

[2017-06-15 00:05] pwittrock commented on #47553
Looks like the clusters were not being upgraded properly.

[2017-06-15 00:12] monopole commented on #47553
Closing this.  Expecting that when https://github.com/kubernetes/test-infra/pull/3069 filters through, we'll have a different set of problems.  Hopefully more green.

[2017-06-15 00:13] #47210 closed

[2017-06-15 00:14] #45196 closed

[2017-06-15 00:16] verult commented on #47547
Ultimately the nil spec comes from AttachDetachController's actualStateOfWorld.MarkVolumeAsAttached(). There's one call to this method passing in nil spec:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/attach_detach_controller.go#L279

Wonder if it's related. /cc @tsmetana

[2017-06-15 00:21] dchen1107 commented on #47446
https://github.com/kubernetes/kubernetes/pull/43996 was the first pr to enable cache-mutation-detector. @wojtek-t @gmarek any ideas?

[2017-06-15 00:22] janetkuo commented on #47535
#47258 is merged

[2017-06-15 00:30] ixdy commented on #47553
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-cluster-new/7 (started right after kubernetes/test-infra#3069 was merged) seems to be behaving more correctly.

[2017-06-15 00:33] liggitt commented on #47446
It's required to be confident that shared informers are not having their objects mutated by listeners, causing data inconsistency issues. I would have expected it on in the post-merge job as well, actually

[2017-06-15 00:33] liggitt commented on #47446
@ncdc @deads2k ^

[2017-06-15 00:41] kargakis commented on #47548
/sig openstack

[2017-06-15 00:42] kargakis commented on #47543
/sig azure

[2017-06-15 00:42] kargakis commented on #47385
/sig testing

[2017-06-15 00:48] kargakis commented on #44057
/sig release because broken release somewhere
/sig cluster-lifecycle because kube-up

[2017-06-15 00:48] kargakis commented on #47558
/sig release

[2017-06-15 00:48] #47535 closed

[2017-06-15 00:48] kargakis commented on #43962
/sig cli
/sig api-machinery

[2017-06-15 00:50] kargakis commented on #43970
@kubernetes/sig-node-test-failures

[2017-06-15 00:51] kargakis commented on #44012
@kubernetes/sig-storage-bugs @kubernetes/sig-node-bugs

[2017-06-15 00:51] kargakis commented on #43992
@kubernetes/sig-scheduling-feature-requests

[2017-06-15 00:57] kargakis commented on #43958
/sig network

[2017-06-15 01:04] verult opened #47561 "GCE node startup scripts missing variable to add "volume-plugin-dir" kubelet flag."
For FlexVolume, there is a kubelet flag, --volume-plugin-dir, that specifies the path which FlexVolume plugin uses to find the custom volume driver. Currently it's not possible to set this flag through cluster/kube-up.sh.

[2017-06-15 01:08] #47534 closed

[2017-06-15 01:10] verult commented on #47561
/sig storage

[2017-06-15 01:10] liqlin2015 commented on #47154
Yes. We persist etcd conf and data on the host.

[code]

[2017-06-15 01:11] dchangbo opened #47563 "Backup and recovery the etcd, resulting the podip inconsistent"
Hi，I’m back up and recovery the etcd data in the cluster, causing the podip to be inconsistent.

Do the following (the same namespaces):
1. Create pod1 -> podname = name1, uid = uid1, podIP = podIP1, hostIP = hostIP1
2. Back up the etcd data -> etcd-data-1
3. reboot pod1 -> podname = name1, uid = uid2, podIP = podIP2, hostIP = hostIP1
4. Recovery the etcd data <- etcd-data-1

Now:
Execute "kubectl

[2017-06-15 01:28] xiangpengzhao commented on #47563
/sig node

[2017-06-15 01:32] xiangpengzhao commented on #43938
/sig storage
/cc @saad-ali

[2017-06-15 01:36] nikhiljindal opened #47565 "federation: ingress does not work on GCP for multiple clusters in the same zone"
Problem: When we create a federated ingress with 2 clusters in the same zone, ingress controller in both clusters generate the same instance group name and hence fight with each other by removing each others nodes from that instance group.
This is a problem only with clusters in the same zone since get instance group API takes the name and zone and hence clusters in different zones get different i

[2017-06-15 01:37] dashpole commented on #39113
I revived one of my old refactoring PRs that seemed like it could help in this situation.  Feel free to take a look if you are curious.  #47564

[2017-06-15 01:49] spzala commented on #17612
Seems like it's not yet fixed. With the latest minikube, v0.19.1, I could recreate the problem with -w that status doesn't refresh to Terminated:

$ kubectl delete po nginx-deployment-4234284026-8v7vd
pod "nginx-deployment-4234284026-8v7vd" deleted

$kubectl get -w po
NAME                                READY     STATUS        RESTARTS   AGE
nginx-deployment-4234284026-802ct   1/1       Running

[2017-06-15 01:51] liggitt commented on #17612
Are you including the argument to get that shows terminated pods? They are filtered by default

[2017-06-15 01:52] txg1550759 commented on #47398
Thank you very much. It's really a RBAC authorization problem
So I created rbac.yaml and restarted kube-apiserver.service, kubelet.service, and other services.
Pod container is still unable to allocate IP
Until I close the RBAC option in kube-apiserver.service
The calico CNI plug-in can assign IP to pod
Creating rbac.yaml authorization is invalid. Please help resolve
The rbac.yaml file is as follo

[2017-06-15 02:00] dchen1107 commented on #47446
@liggitt, yes, I read #43996.

Here are a list of jobs with this enabled: https://github.com/kubernetes/test-infra/search?utf8=%E2%9C%93&q=ENABLE_CACHE_MUTATION_DETECTOR&type=

One can see that only pull-* jobs with this enabled. This discrepancy might explain why we see pull-federation-* uses more times than ci-federation-* ? cc/ @csbell

On another hand, my comment at https://github.com/kubernet

[2017-06-15 02:14] krzyzacy commented on #47446
I can make one with cache-mutation and one without and we can compare the performance.

[2017-06-15 02:33] k82cn opened #47571 "kubectl did not print readable message of statefulset PVC's capacity."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Kubernetes version** (use `kubectl version`):
master branch

**What happened**:

Here's the output when we print `Quantity` as string.

[code]

**What you expected to happen**:
print `1Gi`

**How to reproduce it** (as minimally and precisely as possible):
`kubectl describe statefulsets`

/assign

[2017-06-15 02:34] k82cn commented on #47571
/sig apimachinery

[2017-06-15 02:38] tonylambiris commented on #37266
@chrislovecnm yup, closing now. Thanks everyone!

[2017-06-15 02:38] #37266 closed

[2017-06-15 02:41] k82cn commented on #47571
/sig apimachinery

[2017-06-15 02:43] k82cn commented on #47571
/sig api-machinery

[2017-06-15 02:44] k82cn commented on #47571
/king bug

[2017-06-15 02:45] jimmycuadra opened #47574 "Validation of RBAC rules"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): rbac validation

---

**Is this a BUG REPORT or FEAT

[2017-06-15 02:55] ddysher commented on #47154
did you pass `--data-dir` to etcd?  i think by default, it will use work dir

[2017-06-15 02:58] justinsb commented on #36902
This was a bug where we had multiple userid/group pairs, but we only ever called it with 0 or 1 elements.

Fix in #47575 but kicking out of the 1.7 milestone.

[2017-06-15 03:16] devinburnette commented on #47524
Also related https://github.com/kubernetes/kubernetes/issues/33015

[2017-06-15 03:17] enisoc commented on #47466
This appears to be due to #47553.

[2017-06-15 03:17] #47466 closed

[2017-06-15 03:18] enisoc commented on #47464
This appears to be due to #47553.

[2017-06-15 03:18] #47464 closed

[2017-06-15 03:25] xilabao commented on #47574
@liggitt

[2017-06-15 03:50] liggitt commented on #47446
the pull job has GINKGO_TOLERATE_FLAKES=y, the ci job does not. if any flake is encountered, that can lengthen the test run time by the time of the re-run test

time to reach the "Running Suite: Kubernetes e2e suite" line from start of build-log.txt:
* ci job: ~8 minutes
* pull job: ~21 minutes

[2017-06-15 03:54] gyliu513 opened #47576 "terminationGracePeriodSeconds does not work when kill pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-15 03:55] gyliu513 commented on #47576
/kind bug
/sig apps

[2017-06-15 03:57] liggitt commented on #47574
The RBAC system does not know all the resources that it could be asked to authorize. Much of its power lies in its generic nature.

[2017-06-15 04:09] gjw0317 commented on #43704
I'm having this same issue when I update kubernetes cluster from v1.4.7 to v1.6.4 or just use v1.6.4 to install.
CentOS 7.2 & 7.3
Kernel 4.11
Storage Driver: overlay2
Docker: 1.12.3 & 1.13.1

This issue has not been encountered while using the devicemapper.

[2017-06-15 04:39] #47494 closed

[2017-06-15 04:43] #47027 closed

[2017-06-15 04:43] #46322 closed

[2017-06-15 05:14] k8s-merge-robot opened #47577 "Failure cluster [84f92e...] failed 103 builds, 26 jobs, and 1 tests over 1 days"
### Failure cluster [84f92e3d447e29485a23](https://go.k8s.io/triage#84f92e3d447e29485a23)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    26 jobs failed,    103 builds failed.
Failure stats cover 1 day time range '14 Jun 2017 02:02 UTC' to '15 Jun 2017 02:02 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| UpgradeTest | 26 |

#

[2017-06-15 05:16] prasenforu commented on #47486
@thockin

Looking for your input.

Thanks in advance.

[2017-06-15 05:20] rkamudhan commented on #27398
@sbezverk @dcbw Currently there is no provision available in the pod spec to say which network the pod should connect. There is a propose work going on in Kubernetes network SIG. Please join on it and give your thoughts on it. Related to Multus and SRIOV, I am working on making Multus as thick plugin, so that it can select the network based on TRP + annotation in the pod spec. The code will be ope

[2017-06-15 05:31] #47490 closed

[2017-06-15 05:38] bzub commented on #29972
I wonder if a fix is actually being worked on?  Depending on completed init containers to stick around for the lifetime of a Pod does seem like a bug.

@foxish @dchen1107 Is it known that this affects Kubernetes and not CoreOS specific? Is this being considered a bug now?

[2017-06-15 05:46] mengqiy commented on #47560
/assign

[2017-06-15 05:46] bzub commented on #29972
So the bug seems to be that Kubernetes uses stopped container names/UUIDs to determine the status of a Pod with init containers.  It should probably just keep the init container's state as Ready or Completed instead, to allow for garbage collection.

This is not an intuitive bug to track down and this issue may be overlooked easily in searching for a workaround.  Even if this issue is found, the w

[2017-06-15 06:16] qiujian16 commented on #47518
@maxkondr you may take look at this https://github.com/istio/istio

[2017-06-15 06:52] luxas commented on #35683
cc @kubernetes/sig-network-misc Is this up-to-date anymore?
Could we document how to run kubenet on bare metal or do we want to hide that since kubenet is going away?

[2017-06-15 06:57] quantonganh commented on #26299
Is [this](https://github.com/kubernetes/helm/blob/master/docs/charts_tips_and_tricks.md#user-content-automatically-roll-deployments-when-configmaps-or-secrets-change) what you're looking for? Anyway, sounds like it's not related to this issue.

[2017-06-15 07:16] fabiand commented on #46041
Thanks for this extensive summary @mikechristie .

I'd like to focus on the parts where the physical interface is needed, thus the offloading part.

For this case I first think that a user must not specify the real interface name of a host. After all these names can vary over time and between hosts.
Thus here the question is if https://github.com/kubernetes/community/pull/695 could be used - as it

[2017-06-15 07:17] tsmetana commented on #47547
@verult is right: It's definitely related. And it looks like a bug I introduced with my patch. I'll try to find out what did I miss.

[2017-06-15 07:22] k8s-merge-robot opened #47581 "Failure cluster [ac251c...] failed 140 builds, 22 jobs, and 1 tests over 1 days"
### Failure cluster [ac251c8c201b5a9a0dc3](https://go.k8s.io/triage#ac251c8c201b5a9a0dc3)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    22 jobs failed,    140 builds failed.
Failure stats cover 1 day time range '14 Jun 2017 02:02 UTC' to '15 Jun 2017 02:02 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 22 |

##### To

[2017-06-15 07:26] #34520 closed

[2017-06-15 07:27] #36351 closed

[2017-06-15 07:27] #37923 closed

[2017-06-15 07:27] #38002 closed

[2017-06-15 07:27] #38177 closed

[2017-06-15 07:27] #38467 closed

[2017-06-15 07:27] #38518 closed

[2017-06-15 07:28] reachlin commented on #46768
hi, finally i figured out the reason, i run my kubelet in a container, looks like i missed some host folder to mount for kubelet container. i couldn't figure out which one, so list all of them here:
[code]

[2017-06-15 07:28] #46768 closed

[2017-06-15 07:29] #42072 closed

[2017-06-15 07:30] #42792 closed

[2017-06-15 07:30] #42847 closed

[2017-06-15 07:33] squeed commented on #47529
/reopen
Need to get this cherry-picked in 1.7

[2017-06-15 08:00] ktsakalozos commented on #43707
Yes, closing this since 1.7 release is so close. Thank you.

[2017-06-15 08:00] #43707 closed

[2017-06-15 08:12] liqlin2015 commented on #47154
This is the whole pod manifest file of etcd.

[code]

Does it have something to do with etcd?
After I restart docker engine all my deployments, services, etc, are there. It's just the case that Pod failed to start because of wrong secret of serviceaccount was picked up. Not sure why secret of serviceaccount was recreated after restart.

[2017-06-15 08:30] tnozicka commented on #47180
@kubernetes/sig-cli bump

[2017-06-15 08:37] discordianfish commented on #47543
Also the code comments on the struct say that some fields are optional while leaving them out causes a panic.

[2017-06-15 09:38] markpeterfejes commented on #47125
Feature Request filed!
https://issuetracker.google.com/issues/62613829

[2017-06-15 09:43] k82cn opened #47585 "Can not print readable message of 'Quantity' by '%s'"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
enhancement/cleanup
**Kubernetes version** (use `kubectl version`):
master branch

**Description**:
In golang, it will print a readable message of object by `String()`; but in `Quantity`, it uses the pointer for `String()` (for caching string) which makes us has to call `quantity.String()` explicitly.

I opened this issue to find a way to

[2017-06-15 09:45] wanghaoran1988 commented on #38275
/cc

[2017-06-15 09:56] x1957 commented on #2856
Is there any update?

[2017-06-15 10:06] jimmidyson commented on #22405
@mbohlool @brendandburns What's the state of the generated Java client? Any closer to having something interested users like me can try out?

[2017-06-15 10:20] YouriT commented on #47125
Do you have any workaround to get COS work with XFS in the meantime we get news from them?

I wonder how many people are face that same issue...

[2017-06-15 10:23] markpeterfejes commented on #47125
I haven't found a workaround unfortunately. What I did was switching to the container-vm image, then creating a startup script what install xfsprogs.

[2017-06-15 10:33] YouriT commented on #47125
Yup doing the same, DaemonSet with startup script works like a charm. I really don't like this inability of personalising the underlying node, containers ok but still if something is missing we need to be able to tweak the underlying.

[2017-06-15 10:38] mikebryant opened #47589 "kube-proxy losing sync"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kube-proxy sync

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Op

[2017-06-15 10:41] mikebryant commented on #47589
@kubernetes/sig-network-misc

[2017-06-15 10:55] xiaowei0516 opened #47590 "configmap lose container data"
@kubernetes/sig-<configmap>-misc
/sig  <configmap-api>

hi，
    I  have a question in using configmap.

[code]

   The above is my RC  configuration file .  then  i create RC `kubectl  create -f   test.yaml`, RUN success.then i enter docker  `docker exec -it   c61789df3020`, result:

[code]

my other file lose!!!

[2017-06-15 12:11] aloisio31 commented on #8042
according to @looztra commented on 16 May 2015, that's exactly the reson.
In my case, I have such configuration in my dns-rc.yml:
`          livenessProbe:
            exec:
              command:
                - /bin/sh
                - "-c"
                - "nslookup kubernetes.default.svc.cluster.local localhost >/dev/null"
            initialDelaySeconds: 30
            timeoutSeconds: 5`

[2017-06-15 12:49] pmichali commented on #44848
Note: This issue attempts to address making one area of code support IPv6 towards the goals of issue #1443

[2017-06-15 13:22] castrojo commented on #43686
/assign

[2017-06-15 13:23] castrojo commented on #43686
/close

Closing, please use kops or another AWS tool as the kube- scripts have been deprecated since 1.6, thanks!

[2017-06-15 13:23] #43686 closed

[2017-06-15 13:23] castrojo commented on #43013
/sig cluster-lifecycle

[2017-06-15 13:24] castrojo commented on #41632
/sig cluster-lifecycle

[2017-06-15 13:25] castrojo commented on #39430
/sig cluster-lifecycle

[2017-06-15 13:25] castrojo commented on #39127
/sig cluster-lifeycle

[2017-06-15 13:25] castrojo commented on #38921
/sig cluster-lifecycle

[2017-06-15 13:25] castrojo commented on #35370
/sig cluster-lifecycle

[2017-06-15 13:26] castrojo commented on #35103
/sig cluster-lifecycle

[2017-06-15 13:26] castrojo commented on #34917
/sig cluster-lifecycle

[2017-06-15 13:26] castrojo commented on #33820
/sig cluster-lifecycle

[2017-06-15 13:27] castrojo commented on #33429
/sig cluster-lifecycle

[2017-06-15 13:28] castrojo commented on #31204
/assign

[2017-06-15 13:30] justinsb commented on #33429
kube-up on AWS has been deprecated and removed, and I recommend https://github.com/kubernetes/kops instead, particularly for more complicated setups such as shared-VPCs.

[2017-06-15 13:30] #33429 closed

[2017-06-15 13:31] castrojo commented on #31204
/close

The getting started sections have been out of kubernetes/kubernetes for a while now and sig-docs has been maintaining these sections and has plans for improving the navigation and structure. There's also a plan from sig-onprem to make the bare-metal guides better, so I'm closing this.

[2017-06-15 13:31] #31204 closed

[2017-06-15 13:32] castrojo commented on #30920
/sig cluster-lifecycle

[2017-06-15 13:33] castrojo commented on #30367
/sig cluster-lifecycle

[2017-06-15 13:33] castrojo commented on #28449
/sig cluster-lifecycle

[2017-06-15 13:40] tsmetana commented on #47547
There is one very ugly hack in the patch: it places restrictions on the plugin naming: it has to follow the current scheme of namespace/plugin. In case of flex volume the "plugin" name used to construct the volume unique name is the "driver". I think this causes the problem. I will test in my environment.

[2017-06-15 13:44] php-coder commented on #47560
This is duplicate of https://github.com/kubernetes/kubernetes/issues/47448

[2017-06-15 13:54] ianchakeres commented on #47446
Yesterday I encountered some test flakes inside e2e-gce-etcd3 on this PR #46792. All the failures mention timeouts. I think they relate to this test flake, #47446. The test did pass last night, after the timeout was increased.

Here are the the failed test runs' output:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46792/pull-kubernetes-e2e-gce-etcd3/36002/
https://k8s-g

[2017-06-15 14:14] rochdev commented on #33777
We are having the same problem and cannot restart the master since we are in GKE.

[2017-06-15 14:25] castrojo commented on #28001
/sig cluster-lifecycle

[2017-06-15 14:25] castrojo commented on #27425
/sig cluster-lifecycle

[2017-06-15 14:26] castrojo commented on #24190
/sig cluster-lifecycle

[2017-06-15 14:26] castrojo commented on #24121
/sig cluster-lifecycle

[2017-06-15 14:26] castrojo commented on #22612
/sig cluster-lifecycle

[2017-06-15 14:27] castrojo commented on #21155
/sig cluster-lifecycle

[2017-06-15 14:28] castrojo commented on #43838
/sig cluster-lifecycle

[2017-06-15 14:29] castrojo commented on #43688
/sig cluster-lifecycle

[2017-06-15 14:29] castrojo commented on #39027
/sig cluster-lifecycle

[2017-06-15 14:30] castrojo commented on #39127
/sig cluster-lifecycle

[2017-06-15 14:32] castrojo commented on #37242
/sig cluster-lifecycle

[2017-06-15 14:32] castrojo commented on #34783
/sig cluster-lifecycle

[2017-06-15 14:33] castrojo commented on #32546
/sig cluster-lifecycle

[2017-06-15 14:33] castrojo commented on #28510
/sig cluster-lifecycle

[2017-06-15 14:33] castrojo commented on #28505
/sig cluster-lifecycle

[2017-06-15 14:34] xiangpengzhao commented on #47574
/sig auth

[2017-06-15 14:34] castrojo commented on #24865
/sig cluster-lifecycle

[2017-06-15 14:34] castrojo commented on #23124
/sig cluster-lifecycle

[2017-06-15 14:36] mleklund commented on #46041
Abstracting it is fine with me, but the reason I filed this issue is that I either need k8s iscsi to support multiple interfaces for a portal, or support sending no interfaces for a portal.

As @mikechristie said the reason openiscsi has `-I interface` support is for offload cards, and if k8s is not supporting multiple interfaces, you cannot use offload cards with multipath.

If i leave the k8s `i

[2017-06-15 14:37] xiangpengzhao commented on #47590
/sig storage

[2017-06-15 14:38] xiangpengzhao commented on #47581
/sig testing

[2017-06-15 14:39] xiangpengzhao commented on #47577
/sig testing

[2017-06-15 14:42] xiangpengzhao commented on #47304
/sig auth

[2017-06-15 14:53] castrojo commented on #41286
/sig release

[2017-06-15 14:53] castrojo commented on #40913
/sig azure

[2017-06-15 14:54] castrojo commented on #37844
/sig cluster-lifecycle

[2017-06-15 14:54] xiangpengzhao commented on #43974
/sig cluster-ops
/kind support

[2017-06-15 14:55] castrojo commented on #35314
/sig cluster-lifecycle

[2017-06-15 14:56] timothysc commented on #47532
So there are general traceability issues that exists today.  We have an implicit vs explicit set of state machines for different resources in the system and status of different objects doesn't always contain the intermediate states.  I'd be ok with having a fixed sized array on ObjectMeta that recorded the last [x] transitions through the system, and rid the system of the separate event object.

B

[2017-06-15 14:58] xiangpengzhao commented on #43941
/sig scheduling

[2017-06-15 15:03] mtanino commented on #46041
After having some discussion here, I changed the mind that kubernetes/community#695 doesn't s solve this problem because if I understand correctly, this RP supports to specify abstracted device via user but user doesn't know physical network connectivity between server and storage, so user can't choose proper abstracted device.

I'm not sure the background of introducing the interface option, but

[2017-06-15 15:14] tsmetana commented on #47547
I failed to reproduce the crash: The driver naming causes the controller to complain a lot during reconciliation but not the nil pointer dereference.

[2017-06-15 15:15] brendandburns commented on #22405
Yes, it works (mostly ;)

https://github.com/kubernetes-client/java

There are several examples (and more in PR s)

Will work on distribution of a Maven package.

Please file issues if you run into problems!

--brendan

________________________________
From: Jimmi Dyson <notifications@github.com>
Sent: Thursday, June 15, 2017 3:06:25 AM
To: kubernetes/kubernetes
Cc: Brendan Burns; Mention
Subject:

[2017-06-15 15:25] tsmetana commented on #47547
@mikedanese do you have some more logs from the controller/kubelet prior the crash? The nil pointer is dereferenced when the volume that should have been detached is still present in the actual state of world when the controller is syncing states (after the reconciliation loop has been already run).

[2017-06-15 15:29] smarterclayton commented on #47532
Although in practice I know lots of developers who specifically use them to
debug problems with the system in their daily life, especially once they
learn they exist.  So I guess I don't think they aren't useful for
debuggability or traceability, just in a much weaker sense than you may
mean.

On Thu, Jun 15, 2017 at 10:56 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2017-06-15 15:40] jsravn commented on #43300
@gnufied Sure, although I haven't verified it yet. But can reopen if I see it again.

[2017-06-15 15:41] #43300 closed

[2017-06-15 15:45] andor44 commented on #38923
The hyperkube version of `controller-manager` includes a GlusterFS client (albeit a *very* out of date one), so why the disparity with Ceph? I understand that it can't and shouldn't support all the different storage provisioners, but I think it is a reasonable to expectation to at least support the most common ones.

[2017-06-15 15:58] jsravn opened #47597 "Endpoint removal delayed when pod is deleted (1.6)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
No
**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ----------------------------

[2017-06-15 15:58] wanghaoran1988 commented on #41789
I am volunteered to take this if nobody start working on this

[2017-06-15 16:08] xiangpengzhao commented on #47597
@kubernetes/sig-network-misc

[2017-06-15 16:15] countspongebob commented on #47419
Discussion today at SIG scalability about changing the SLOs officially to match.

[2017-06-15 16:21] jsravn commented on #47597
After more testing, it looks like just a delay to remove endpoints. It's bimodal though, either it's near instant or it takes 3-10s to remove. So I'm feeling this may be related to using quorum reads. I'll try disabling that next and retest.

[2017-06-15 16:24] xiangpengzhao commented on #43907
Currently a valid service name is in DNS1035Label format, i.e., `[a-z]([-a-z0-9]*[a-z0-9])?`
If we change the format, it might break something. Not sure about this.

/cc @smarterclayton
/sig api-machinery
/sig network

[2017-06-15 16:30] jswoods commented on #47552
@justinsb that very well may be the cause. I didn't catch the output of the describe service soon enough after the event, but I'm going to try to reproduce and check for that error.

Do you know how far back that fix will be backported?

[2017-06-15 16:32] cmluciano commented on #35683
I think we should update the instructions for utilizing the CNI plugins since kubenet will be removed soon.

[2017-06-15 16:32] cmluciano commented on #35683
cc @dnardo

[2017-06-15 16:41] cmluciano commented on #43970
@vaibhavsood Does this still need a fix?

[2017-06-15 16:51] xiangpengzhao commented on #47597
Dose your pod have a graceful deletion process?

[2017-06-15 16:53] ericchiang commented on #47448
We've hit the same issue #47560 when trying to update bootkube to 1.7.

TL;DR you can't create the following deployment with kubectl 1.6 against a 1.7 cluster.

[code]

Error message for a similar deployment

[code]

@mengqiy sent a fix https://github.com/kubernetes/kubernetes/pull/47578, but this looks like it's client side only.

Regarding compatibility do we expect kubectl to break like this be

[2017-06-15 16:53] ericchiang commented on #47560
Closing in favor of #47448

[2017-06-15 16:53] #47560 closed

[2017-06-15 16:54] ericchiang commented on #47448
/assign @mengqiy

[2017-06-15 16:57] monopole commented on #47553
reopening, as the test still aren't running correctly.

[2017-06-15 16:59] jsravn commented on #47597
@xiangpengzhao Yes, it waits about 10s before terminating.

[2017-06-15 17:01] caesarxuchao opened #47600 "gci-gce-serial is failing in master"
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce-serial

[code]

@kubernetes/kubernetes-release-managers @dchen1107

[2017-06-15 17:05] MrHohn commented on #47576
Quick question: Does nginx:1.8.1 properly handles sigterm? kubelet will send a sigterm first, wait for `terminationGracePeriodSeconds` and then send a sigkill.

[2017-06-15 17:07] caesarxuchao opened #47601 "garbage collector test fails on aws"
https://k8s-testgrid.appspot.com/release-1.7-blocking#aws-release-1-7&width=20

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-release-1-7/213

[code]

Probably caused by https://github.com/kubernetes/kubernetes/pull/45764, though don't understand why it only fails on aws. cc @kargakis @krmayankk

@justinsb i remember GC tests were failing on aws (but n

[2017-06-15 17:09] xiangpengzhao commented on #47597
This might be the cause. See: https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods

[2017-06-15 17:11] spiffxp commented on #47601
/sig aws

[2017-06-15 17:13] yujuhong commented on #47600
[code]
Most likely caused by the fluentd update #47545
/cc @ixdy

[2017-06-15 17:15] liggitt commented on #47448
No. The core issue is that kubectl is trying to do client-side validation using dynamic discovery of schemas, and is intolerant of unknown schema types. As long as we want to claim +/- 1 version skew support for kubectl, it has to tolerate unknown types in the API and in the schema.

@kubernetes/sig-cli-bugs how do you want to handle this?

[2017-06-15 17:16] spiffxp commented on #28632
/sig release
in the name of coming up with a list of support cross arch builds

[2017-06-15 17:18] MrHohn commented on #47597
AFAIK, pod should be removed from endpoints once it is marked as deleting (https://github.com/kubernetes/kubernetes/blob/v1.6.4/pkg/controller/endpoint/endpoints_controller.go#L376-L379), which happens before grace period.

[2017-06-15 17:28] isaldarriaga commented on #45779
I'm experiencing exactly the same problem.
- Deployed on GKE.
- Client: Ubuntu 16.04 LTS

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean", BuildDate:"2017-05-19T18:44:27Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6",

[2017-06-15 17:29] justinsb commented on #47524
Tentatively marketing approved-for-milestone, per https://github.com/kubernetes/kubernetes/pull/47572#issuecomment-308813052

[2017-06-15 17:31] donjohnson commented on #39178
I am seeing the same underlying behavior (full unfiltered list of zones being passed to ChooseZoneForVolume, volume placed in non-k8s zone) with GKE on Google Cloud.

Can we treat this issue as platform-agnostic, or should I create a separate issue?

[2017-06-15 17:33] pwittrock commented on #47448
@apelisse Has been working on migrating the validation code to use openapi.  This won't help for 1.7, but maybe he has an idea on how to work around.

To confirm --validate=false is a workaround for kubectl, but doesn't work for cli's that vendor kubectl.

[2017-06-15 17:34] liggitt commented on #47448
There are enough known issues with `--validate` that I'd be concerned about a component that didn't allow opting out

[2017-06-15 17:37] bsalamat opened #47604 "Task tracker for addition of pod priority and preemption to Kubernetes"
Here is a list of items we need to add pod priority and preemption. These items are not the same size and some may need more work. We can break those down later into smaller tasks if needed.

- [x] Add a design doc to add priority to Kubernetes API.
- [x] Add pod priority
  - [x] Add priority fields to PodSpec.
  - [x] Add PriorityClass API object.
  - [x] Add an Admission Controller for priority.

[2017-06-15 17:53] mindprince commented on #47600
The gce-gpu tests are failing for the same reason.

[2017-06-15 17:55] foxish commented on #47448
Also affecting helm, https://github.com/kubernetes/charts/issues/1294

[2017-06-15 17:56] bsalamat commented on #47604
@kubernetes/sig-scheduling-feature-requests
@kubernetes/sig-scheduling-misc

[2017-06-15 17:56] anandkumarpatel commented on #44012
Don't have any suspicions at the moment. It's strange that the original process can access these files but not an exec process...

[2017-06-15 17:58] pwittrock commented on #47448
Can help just enable opting out of validation for some charts?

[2017-06-15 17:58] pwittrock commented on #47448
FYI, my comment was meant as a question - does --validate=false workaround the issue for kubectl?

[2017-06-15 18:01] csbell commented on #47600
Ditto for pull-federation and federation-ci. pull-federation will need a cluster rebuild once the fix is incorporated upstream.
/cc csbell

[2017-06-15 18:09] dchen1107 commented on #47379
I took a quickly look at the failures, the root cause is actually the master node is not ready. The following error msg indicates why master is not ready:
[code]

It is indeed a network related issue.

[2017-06-15 18:11] dchen1107 commented on #47379
@bowei I am re-assigning this back to you, please delegate. Thanks!

cc/ @kubernetes/kubernetes-release-managers @monopole @kubernetes/sig-network-misc

[2017-06-15 18:15] bowei commented on #47379
@dnardo @freehan this looks like a CNI related, can you guys take a look?

[2017-06-15 18:19] dnardo commented on #47379
/assign

[2017-06-15 18:22] spiffxp commented on #46827
It's failing again
last pass https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47503/pull-kubernetes-federation-e2e-gce/10484/
first failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47580/pull-kubernetes-federation-e2e-gce/10485/

[2017-06-15 18:23] spiffxp commented on #46827
https://github.com/kubernetes/test-infra/pull/3002 re-enabled

[2017-06-15 18:27] cmluciano commented on #47533
If you are using the default kube-proxy mode iptables mode, the flag ``--mode random --probability`` is being injected for your services.

In the output above ``--mode random --probability 0.50000000000 -j KUBE-SEP-CXEQ55XIH4PURQSE`` is being set. This means that 50% of the time you will be directed to ``10.244.0.69:80``. If you deployed another replica, this should change to 33%.

It's important

[2017-06-15 18:29] kargakis opened #47608 "Make sure the discovery fake client can be effectively used in unit tests"
I had a brief look and it wasn't clear enough how should I use the fake discovery client - also some calls seemed like they existed only to satisfy the Discovery client interface. We should make sure the fake client is actually usable and start using it in unit tests (such as for https://github.com/kubernetes/kubernetes/pull/47450)

https://github.com/kubernetes/client-go/blob/master/discovery/fak

[2017-06-15 18:30] csbell commented on #46827
Waiting on fix here: https://github.com/kubernetes/kubernetes/issues/47600 to be merged, then recycle of clusters will be necessary by federation build-cop.
FWIW: Last 4 disables of this suite were not related to federation bugs or flakes.

[2017-06-15 18:30] akabdog commented on #47442
@rickypai thanks, im not sure if that explains it but this is in my logs if it helps:
[code]
The logs appear identical between versions, so that doesn't explain the difference I'm seeing version-to-version.
To be clear, my 'client pod' (that originates the curl) is not part of the 'nginx' service.

[2017-06-15 18:32] mbohlool commented on #22405
@jimmidyson It is in progress as @brendandburns said. With new GVK extensions in 1.7, I hope we would be able to generate a more fluent client (both for java and other languages). That part of the work however is not started yet. We want to get java client to beta/silver and release it first.

[2017-06-15 18:34] kargakis commented on #2856
Please use stackoverflow, slack, or the kubernetes-users mailing list.

[2017-06-15 18:35] kargakis commented on #2856
Well, this ca

[2017-06-15 18:35] kargakis commented on #2856
Reopening as it seems a feature request

[2017-06-15 18:36] caesarxuchao opened #47609 "pull-kubernetes-federation-e2e-gce fails a lot today"
e.g.,
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47580/pull-kubernetes-federation-e2e-gce/10512/

@saad-ali  the build cop
@dchen1107

[2017-06-15 18:39] saad-ali commented on #45143
In the strictest sense, yes. We have precedence for doing things like this in the past where we think it would be in the user's best interest. If we do go through with this, of course we would have to make sure 1) the new errors are clear and provide enough information on how to recover, 2) broadcast the change loudly in the release notes and discussion lists, and 3) introduce it early enough in 1

[2017-06-15 18:41] sbezverk commented on #27398
@rkamudhan great news! I am opened not just to test your code next week but also participate in further development. Please let me know how  I can help/participate.

[2017-06-15 18:45] ixdy commented on #47600
well that's exciting. cc @crassirostris

[2017-06-15 18:46] csbell commented on #47609
Waiting for a fix in https://github.com/kubernetes/kubernetes/issues/47600

[2017-06-15 18:48] ixdy commented on #47600
#47610 to revert fluentd to 2.0.5.

[2017-06-15 18:57] gnufied commented on #45143
Can we initialize informers in strategies? This is something, that  was a big no-no, last I looked. cc @liggitt

[2017-06-15 18:58] ixdy commented on #47600
I don't understand what's special about these clusters, though. The PR passed presubmit tests a number of times.

[2017-06-15 18:59] brendandburns opened #47611 "CVE-2017-1002100: Azure PV should be Private scope not Container scope"

[2017-06-15 19:14] monopole commented on #47525
@JonPulsifer

- So the auth errors only happen for a short time after master start, and then one can create/delete with no auth errors?

- Pure RBAC, or a mix of ABAC and RBAC?

[2017-06-15 19:23] dnardo commented on #47379
One thing I see happening at least in the GCE tests (Because it has the master log, but the GKE tests do not)

I0614 04:25:10.354526       5 range_allocator.go:98] Node bootstrap-e2e-minion-group-2cz0 has CIDR 10.180.1.0/24, occupying it in CIDR map
E0614 04:25:10.354547       5 controllermanager.go:429] Error starting "node"
F0614 04:25:10.354554       5 controllermanager.go:178] error starting c

[2017-06-15 19:38] liggitt commented on #46788
Fixed by #46800

[2017-06-15 19:38] #46788 closed

[2017-06-15 19:44] justinsb commented on #47601
It looks like ff503dbc32b6041509829e98d7e952af7bd43694 is related and landed in the batch that caused the breakage.  Are other clouds experiencing the same problem?

[2017-06-15 19:46] justinsb commented on #47601
Just realized you said the same thing @caesarxuchao ... sorry!

Can finalizers be explicitly enabled / disabled?

[2017-06-15 19:49] spiffxp commented on #20265
/sig cli

[2017-06-15 19:52] yuval-k commented on #36850
Hello,

I have tried to implement the test, please see my branch:
https://github.com/yuval-k/kubernetes/tree/feature-e2e-proxier

and specifically, the test it self:

https://github.com/yuval-k/kubernetes/blob/feature-e2e-proxier/test/e2e/proxier.go

The test has successfully SSH'ed to a kubernetes node and used "iptables-restore --test" to verify the rules generated by the proxier.

It is not 100

[2017-06-15 19:58] jescarri commented on #46257
Any update on this issue?
does the annotation `volume.beta.kubernetes.io/aws-ebs-additional-resource-tags` makes sense?

[2017-06-15 20:11] spzala commented on #17612
@liggitt hi, I used "kubectl get -w po" as described in the issue. I suppose this should refresh the output with 'Terminated' from 'Terminating'. The command without -w works fine or even if I run second time with -w that works fine too but the issue is about first time use of -w. Do you want me to try out any particular argument? Thanks!

[2017-06-15 20:22] #47600 closed

[2017-06-15 20:23] #47609 closed

[2017-06-15 20:27] yujuhong commented on #47600
@ixdy none of the presubmit tests run COS images. I think that's the problem.

From the error message, it seems like copying libsystemd* is not enough, and more libraries need to be copied (e.g., libcap*). Will need to build a new fluentd image to fix this.

[2017-06-15 20:31] foxish commented on #47576
It looks like this could be [nginx being misbehaved](http://manpages.ubuntu.com/manpages/zesty/man8/nginx.8.html). It expects a SIGQUIT to do graceful termination and SIGTERM kills it immediately.

[2017-06-15 20:35] dchen1107 commented on #47581
@xiangpengzhao  Thanks for helping triaging the issues. :-)

I am going to close this one since https://github.com/kubernetes/kubernetes/pull/47402 was merged to fix ingress tests already.

[2017-06-15 20:40] ixdy commented on #47600
@yujuhong yeah, I think you're right. I started a cluster myself and the pod is failing on the master (COS) but not on the nodes (CVM). curious that this broke between fluentd 2.0.5 and 2.0.6, which has no code changes and only updates the base image... I guess something materially changed in the base image.