[2015-05-04 17:40] lavalamp commented on #7697
I think we must be leaking timers, or creating too many. We must be making a *lot* of timers to make a heap consume all our time.

[2015-05-04 17:47] wojtek-t commented on #7697
so the RC is going to take the same amount of time it took to start up to shutdown, ~3m. Even after deleting the pods, it still needs some time to observe that the pods are gone.

sure - I know. But I was observing the same after 20 minutes and after an hour (which definitely isn't related to to it).

I have a cluster on which I ran density a while back and the top cpu consumer (according to atop)

[2015-05-04 17:49] roberthbailey commented on #7280
@derekwaynecarr for vagrant
@bentheelder in case you are on a mac (since I know you are using vagrant).

[2015-05-04 17:50] roberthbailey commented on #7280
It looks like this was fixed by #7310 so I'm going to close. If you run across this again please re-open this issue.

[2015-05-04 17:50] #7280 closed

[2015-05-04 17:53] #6965 closed

[2015-05-04 17:55] BenTheElder commented on #7280
@roberthbailey I'm primarily on a macbook with vagrant (I also use fedora 21 on a desktop); good to see it's already been fixed.

[2015-05-04 17:58] quinton-hoole opened #7714 "SSH e2e test is flaky on GKE"
On May 3, 2015 7:36 PM, "Brendan Burns" <bburns@google.com> wrote:
56% successful:

SSH_should_SSH_to_all_nodes_and_run_commands

My guess is SSH isn't coming up fast enough?  But that's just a guess.

Can someone take a look on Monday?

Thanks!
--brendan

[2015-05-04 18:03] lavalamp commented on #7697
Specifically, the problem seems to be too many concurrent unfired timers. They get cleaned up after they fire. time.After(d) calls should be replaced with t:=time.NewTimer(d), with t.Stop() being called if we're not waiting the duration.

[2015-05-04 18:06] smarterclayton commented on #473
Pull is created as #7704

[2015-05-04 18:08] bprashanth commented on #7697
Top 3 culprits that come to mind:
1. We do a lot of hand checking of time in the expiration cache. But this is on Get by comparing current time with timestamp, not through a timer.
2. I suppose the time.Sleep we have in our runUntil uses timers.
3. We also have the resyncChan timer in the reflector, which creates a new timer on every resync.

[2015-05-04 18:20] smarterclayton opened #7716 "ChooseHostInterface() can choose IPv6 which is not valid for the master"
The master sets its endpoints into the 'kubernetes' service, but endpoints can only be IPv4 today.  So ChooseHostInterface() should either not return an IPv6 address, or we should allow endpoints to be IPv6.

[2015-05-04 18:23] roberthbailey commented on #7716
I think that this is likely the cause of #7282.

[2015-05-04 18:28] thockin-cc commented on #7716
I thought that function explicitly checked for v4. @quinton-hoole got any
bandwidth for review?
On May 4, 2015 11:24 AM, "Robert Bailey" <notifications@github.com> wrote:

[2015-05-04 18:29] roberthbailey commented on #7714
The failures take less time that the successful runs, which is usual for our e2e tests.

The output from failing runs looks like: `error getting SSH client to host 104.154.56.160:22: 'ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain'`.

[2015-05-04 18:35] smarterclayton commented on #7716
It doesn't - and on my mac, it fails to find this address when I add that logic.  Not sure if that's FlagPointToPoint or something:

[code]

----- Original Message -----

[2015-05-04 18:35] bkeroackdsc opened #7717 "Manual setup on CoreOS and AWS"
@bakins

I'm looking to set up k8s on AWS on top of CoreOS within an existing subnet and VPC in AWS. I've read the docs pretty carefully but I'm still not clear on exactly how the networking is supposed to work. If I have several nodes running N pods, I understand that k8s assigns a virtual IP to each pod. I'm not clear how that VIP is routed within AWS--each node will have a private IP, so I then

[2015-05-04 18:40] BenTheElder opened #7719 "e2e tests failures and bugs on vanilla vagrant cluster"
After bringing my local master up to date with https://github.com/GoogleCloudPlatform/kubernetes/commit/c1d1f95c21a04eb1df40ed07ef5d1691cdd25c03 and running: `export KUBERNETES_PROVIDER=vagrant` in a fresh terminal on OSX, I then ran: `go run hack/e2e.go -up -test -down -v`.

After leaving it running for a while and coming back i found it looping between sleep and single command:
`
Running: /Users

[2015-05-04 18:41] BenTheElder commented on #7719
/cc @derekwaynecarr

[2015-05-04 18:47] smarterclayton commented on #7716
PEBKAC for the issue I mentioned above, #7721 is opened to fix the choice.

[2015-05-04 18:48] roberthbailey commented on #7719
It seems like that is probably from [validate-cluster.sh](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/validate-cluster.sh#L33) but then it should fail after 5 tries x 30 seconds = ~2.5 minutes.

[2015-05-04 18:52] BenTheElder commented on #7719
It was easily 500+ times when i came back, I pasted a chunk of them into a line counter and it came back 490. I'm going to tear down the cluster and let hack/e2e-test.sh run.

[2015-05-04 19:01] roberthbailey commented on #7677
/cc @bgrant0607

[2015-05-04 19:05] lavalamp opened #7724 "Coveralls fails too many PRs"
E.g. https://github.com/GoogleCloudPlatform/kubernetes/pull/7643

Coveralls doesn't compute coverage in a way that reflects the reality of our tests, so its overall number is uncorrelated with anything we care about. Can we turn it off?

[2015-05-04 19:14] BenTheElder commented on #7719
It looks like maybe minion-2 isn't getting taken down by anything and is already up, and is somehow triggering the validation to fail.

I ran `go run hack/e2e.go -v -down` and then `vagrant destroy` before running `hack/e2e-test.sh` and saltstack provisioned master and minion then `==> minion-2: VirtualBox VM is already running.`
Then I get the same loop.

[2015-05-04 19:16] BenTheElder commented on #7719
Yep, for some reason vagrant destroy only sees the first minon and the master. I'll try killing all of the vbox headless and then getting boot2docker back up and starting from there and see what happens then.

[2015-05-04 19:31] quinton-hoole opened #7726 "External Load Balancer e2e tests completely broke on Sunday night (5/3 @10pm)"
The following e2e tests are failing 100% of the time on our CI systems since 5/3/2015 22:00 PST.

There are no PR's in that vicinity that seem to be causing it.  Underlying GCE problems?

Identified problems

Services should correctly serve identically named services in different namespaces on different external IP addresses

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/

[2015-05-04 19:39] BenTheElder commented on #7719
I'm getting a similar issue now.

[code]

[2015-05-04 19:43] caesarxuchao commented on #7512
#7629 fixed this.

[2015-05-04 19:43] #7512 closed

[2015-05-04 19:43] caesarxuchao commented on #7260
#7629 fixed this.

[2015-05-04 19:43] #7260 closed

[2015-05-04 19:47] caesarxuchao commented on #7491
#7629 fixed this.

[2015-05-04 19:47] #7491 closed

[2015-05-04 20:03] timothysc commented on #6676
@jdef any update here?

[2015-05-04 20:05] jdef commented on #6676
getting closer to having things ready to upstream. team has been working on
blocking items: improving coverage, cloud provider configuration, and
static pods. i think we'll have something ready for upstream soon.

On Mon, May 4, 2015 at 4:03 PM, Timothy St. Clair <notifications@github.com>
wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2015-05-04 20:06] bgrant0607 commented on #7598
I believe the current validation at most catches required fields that are not provided. Unfortunately, our nearly ubiquitous use of omitempty defeats even that checking.

[2015-05-04 20:08] bgrant0607 commented on #7677
Yes, dupe of #7598. Even --validate doesn't catch this.

[2015-05-04 20:08] #7677 closed

[2015-05-04 20:10] smarterclayton commented on #7282
Oh, good, I fixed both accidentally. :)

[2015-05-04 20:16] roberthbailey commented on #7686
kubectl has a function to fetch logs for a pod but it doesn't work well when the pod is crash looping. See #4526.

[2015-05-04 20:17] roberthbailey commented on #7686
I meant to /cc @dchen1107 rather than assign this to her.

[2015-05-04 20:20] quinton-hoole commented on #7716
Yeah, I can take a look at #7721 later this afternoon, just as soon as I've unbroken ELB's :-)
smarterclayton@ let me know if #7721 is more urgent than that.

[2015-05-04 20:21] roberthbailey commented on #7717
@justinsb could probably shed some light here since he wrote many of the automated scripts.

[2015-05-04 20:24] lavalamp commented on #7724
Or leave it on, but configure it to not fail PRs.

[2015-05-04 20:25] roberthbailey commented on #7693
Which CoreOS getting started guide are you referring to? Looking at https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides there are CoreOs instructions for Azure, AWS, GCE, Vagrant, Bare Metal, VMWare, and libvirt/KVM.

[2015-05-04 20:25] mbforbes commented on #7714
I'll check this out. It would make sense if it was "SSH not coming up fast enough" (though: what does that mean? the ssh daemon on the nodes?) because I never saw a single failure while running a few dozen times locally on a cluster that had been up for a while.

[2015-05-04 20:26] roberthbailey commented on #7627
@dchen1107 @erictune

[2015-05-04 20:32] quinton-hoole commented on #7716
#7721 was smaller than I thought, so committed priority inversion I reviewed  it :-)

[2015-05-04 20:41] nikhiljindal opened #7730 "API: Fix omitempty tags"
Some of the API fields have incorrect omitempty tags, which needs to be fixed.
For ex: imagePullPolicy in Container should be omitempty, but it is not.

@madhuri-rai07

[2015-05-04 20:41] caesarxuchao opened #7731 "hazelcast example is broken"
I followed the instructions in the [tutorial] (https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/hazelcast) and got this output:
[code]
Note the "last termination: exit code 1".

And [here] (http://pastebin.com/1mNt57Ps) is the log.

It seems to be a problem of hazelcast rather than Kubernetes. @pires @nikhiljindal

[2015-05-04 20:49] ixdy commented on #7724
"Coverage threshold for failure" is now set to 0%.

For future reference, I think anyone with ACLs on the GitHub project can adjust the Coveralls settings at https://coveralls.io/r/GoogleCloudPlatform/kubernetes.

[2015-05-04 20:49] #7724 closed

[2015-05-04 20:52] lavalamp commented on #7697
#7643 removes a Poll-- I wonder if that was causing this?

[2015-05-04 20:57] mbforbes commented on #7714
I ran the following command to create a cluster and immediately run the SSH test on it:

[code]

and the test passes. This makes me wonder whether it might be related to the SSH key used in Jenkins. I've created #7732 to try to help debug this.

[2015-05-04 20:59] thockin-cc commented on #7528
Sadly, kernel support in this regard is not easily detected - how can we
detect a back port? And worse, we would like to be able to assume modern
tools (up tables binary, for example) but can't.

CentOS 6 FTW!
On Apr 29, 2015 5:09 PM, "Quinton Hoole" <notifications@github.com> wrote:

[2015-05-04 21:00] roberthbailey commented on #7714
Jenkins is certainly cycling SSH keys very rapidly.

[2015-05-04 21:03] mbforbes commented on #7714
Yes... in fact, I wonder now, even if it is using the right key, whether the key might have been replaced with the wrong content. The test would have errored out a few lines before if the key was gone.

[2015-05-04 21:04] nikhiljindal commented on #7731
@pires: Cant assign the issue to you, but I assume you are the right person to look at this?

[2015-05-04 21:09] #7716 closed

[2015-05-04 21:18] roberthbailey commented on #7282
Fixed by #7721.

[2015-05-04 21:18] #7282 closed

[2015-05-04 21:30] pires commented on #7731
@nikhiljindal I will take a look, yes but this has been changed recently, even by the user who just opened this ticket. How did his PR got merged without testing, I wonder?

@caesarxuchao what version of Kubernetes is this?

[2015-05-04 21:31] #6852 closed

[2015-05-04 21:36] bgrant0607 commented on #1743
For comparison, Heroku's release UX:
https://devcenter.heroku.com/articles/releases

We could potentially keep N old RC versions in order to facilitate a similar rollback experience, for those users not keeping configs under version control.

[2015-05-04 21:36] caesarxuchao commented on #7731
It's 0.16.0.

In that PR, I updated the .yaml files to use the latest API version (v1beta3). I tested the original .yaml files, which are using v1beta1 API, and it causes the same problem.

[2015-05-04 21:39] fabioy opened #7738 "Remove the legacy "/validate" end point."
Once there's reasonable assurances that we don't need the "/validate" end point anymore, it should be removed from api-server.

[2015-05-04 21:41] pires commented on #7731
@caesarxuchao my only question is why merge something that wasn't working in the first place? No harm done. I will try with your changes and without, but most probably it's something related to how the `apiserver` replies now and the library I'm using.

[2015-05-04 21:43] caesarxuchao commented on #7731
@pires I will take caution next time. Thanks.

[2015-05-04 21:48] bgrant0607 commented on #5799
The GCE guide has been fixed, but many guides still contain API examples.

[2015-05-04 22:02] pmorie opened #7739 "Support limited substitution syntax in env var values"
I think we should support a limited substitution syntax for env var values.  The specifics:

1.  Should support `$VAR and ${VAR}`
2.  Resolution should happen after runtime-resolved variables are resolved (ie, fieldRef for EnvVarSource)
3.  Should only support kubernetes vars, ie:
    1.  Service env vars
    2.  Env vars in the container's env

@smarterclayton @thockin

[2015-05-04 22:15] vishh commented on #7587
Our [API](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L565) does not mention the need for exec probes to return an "ok" string BTW. So this change would not *break* the API in theory :)

cc @bgrant0607

[2015-05-04 22:17] bprashanth commented on #7697
I plan to benchmark a little, that shouldn't be though, because in the described scenario we had no rcs and pods and the cpu was high upto an hour later.

[2015-05-04 22:20] lavalamp commented on #7724
ah, thanks-- did not know that. :)

[2015-05-04 22:22] smarterclayton commented on #7739
Context is that docker is not doing this in 1.6 for env, it's almost impossible to actually build URLs to kube services using the env var mechanism, and command + args is horribly ugly and I die a little time everytime I make someone use it.

Here's a relatively real world example of a server running in a namespace that needs to publish its public URL (so that it can provide it for others to acces

[2015-05-04 22:23] a-robinson commented on #6926
This was fixed by #7251

[2015-05-04 22:23] #6926 closed

[2015-05-04 22:26] lavalamp commented on #7697
Hm, that scenario really doesn't sound like there should have been timers open like that. Perhaps something else is wrong.

[2015-05-04 22:31] smarterclayton commented on #1743
Yeah, that's what we've been doing.  However, with etcd3 we'll be able to keep old versions of the deployment around which will give us that use case without RCs having to be present (so you can create a new RC off any old version you want)

----- Original Message -----

[2015-05-04 22:33] mbforbes commented on #7714
Just for the record—and for those prone to skimming over a character—this test has never failed (not even once) on GCE; it is only problematic on GKE.

[2015-05-04 22:52] hobti01 commented on #7693
AWS, GCE, Vagrant, VMWare all point to https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos.md which links to guides for [Single Node Cluster](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_single_node_cluster.md) and
[Multi-node Cluster](https://github.com/GoogleCloudPlatform/kubernetes/blob/maste

[2015-05-04 22:55] bprashanth commented on #7697
Another red herring is that we allow the expectations to expire naturally, each rc should not have > 1 expectation and we should just delete it when the rc is deleted. I'll get a pr up for that.

[2015-05-04 23:06] lavalamp commented on #7697
Yeah, but:
* those don't keep a timer around
* those would have all expired before the time period in question

[2015-05-04 23:08] bprashanth commented on #7697
Just mentioned so you don't waste your time on a red herring :)

[2015-05-04 23:13] bgrant0607 commented on #7018
api.Pod.Host vs. Node: #6895

[2015-05-04 23:16] chaten opened #7745 "v1beta2 serialization is broken on 32bit builds"
We have a pod which requires 2GB of memory. It looks like we are using a plain int instead of either a uint or int64 for memory requirements.

The client is using v0.15.0 (32-bit) and the server is using v0.13.2 (64-bit)

$kubectl get pods
Error: json: cannot unmarshal number 2147483648 into Go value of type int

[2015-05-04 23:27] roberthbailey commented on #7745
Is this also broken in the v1beta3 api?

[2015-05-04 23:30] justinsb opened #7747 "OSX build broken (?)"
While doing a `make release` on OSX:
[code]

mount.NsenterMounter is defined in `pkg/util/mount/nsenter_mount.go`, but that file is `// +build linux`

[2015-05-04 23:32] roberthbailey commented on #7745
In v1beta2 we used an IntOrString for resource quantities (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta2/types.go#L1084). In v1beta3 we use a `resource.Quantity` which is an infinite precision decimal value. So if you update to the v1beta3 api version this should no longer be a problem for you.

[2015-05-04 23:32] justinsb commented on #7747
I guess we probably shouldn't be building kubelet on darwin/amd64 ?

I believe this was broken by #7741

[2015-05-04 23:33] bgrant0607 commented on #7587
The exec functionality has been so problematic that I don't know that anyone can depend on it. I wouldn't worry too much about breaking compatibility, though we should announce/ask on google-containers and kubernetes-announce.

Hooks follow the same rules as probes, and ok vs. not behavior is documented:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/container-environment.md

I

[2015-05-04 23:36] roberthbailey commented on #7747
#7741 was rolled back (#7748). Thanks for the prompt bug report.

[2015-05-04 23:36] #7747 closed

[2015-05-04 23:39] bgrant0607 commented on #7584
Related: #7111, #2306, #1451, #1744, #6210, #4874, #2742, #4851

[2015-05-04 23:42] bgrant0607 commented on #7584
I don't think we have any go->swagger->go paths yet.

[2015-05-04 23:43] bgrant0607 commented on #4874
Package factoring to consider: #7584.

[2015-05-04 23:48] bakins commented on #7717
@bkeroackdsc

Two approaches:

1 - run [flannel](https://coreos.com/docs/cluster-management/setup/flannel-config/) - This is generally how I run kubernetes. For testing, the default UDP backend is fine, though you probably want to investigate using the `vxlan` backend for better performance.

2 - set up routing rules within the VPC.  This involves assigning a subnet per node and adding rules to ro

[2015-05-04 23:49] #7618 closed

[2015-05-04 23:50] bgrant0607 commented on #4851
We should also rethink what goes into each directory. For example, see #7584

[2015-05-04 23:51] roberthbailey commented on #7693
@hobti01 - I've just been reading over those configs while reviewing #7667.

We don't currently have a timeframe for when #1319 will be finished, so if folks are currently using the docker cache proxy it seems like we shouldn't remove it until a replacement is available. WDYT?

[2015-05-04 23:54] viklas opened #7750 "Hyperkube image requires root certificates to work with cloud-providers (at least AWS)"
Testing hyperkube deployment (upgraded to v0.16.1) and I ran into an issue where controller-manager couldn't connect to the nominated cloud-provider (AWS in this instance) and threw lots of errors: "X509: failed to load system roots and no roots provided".

Tried mounting host /etc/ssl/certs into kubelet and controller-manager pods...no good. Fixed by adding 'ca-certificates' to the apt-get comman

[2015-05-04 23:55] bgrant0607 commented on #1319
Yes, I recommend making it an add-on, similar to DNS:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/addons/dns

[2015-05-04 23:58] viklas commented on #7701
You'll need to clone the dockerfile and json files (pod manifests) from the /cluster/images/hyperkube directory then modify the api-server entry in the manifest file (all your api server, controller-manager and scheduler configs go in here). Then build your own hyperkube docker image and it will be good to go.

[2015-05-04 23:59] roberthbailey commented on #7750
/cc @brendandburns

[2015-05-05 00:00] roberthbailey commented on #7750
@viklas - sorry for the trouble; the hyperkube binary hasn't been tested much outside of the single and multi-node local docker getting started scenarios.

PRs are certainly welcome!

[2015-05-05 00:24] viklas commented on #7750
Log file entry from controller-manager container for future reference.
<pre><code>E0504 05:04:37.047853       1 nodecontroller.go:175] Error syncing cloud:
Get https://ec2.ap-southeast-2.amazonaws.com/?AWSAccessKeyId=XXX&Action=DescribeInstances&SecurityToken=XXX&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-05-04T05%3A04%3A37Z&Version=2014-06-15: x509: failed to load system roots a

[2015-05-05 00:29] quinton-hoole commented on #7726
I have thus far utterly failed to reproduce this on a GCE test cluster.

[2015-05-05 00:32] quinton-hoole commented on #7726
PS: We saw this problem intermittently in #7306 , but now it's occurring 100% of the time in our CI environment.

[2015-05-05 00:33] quinton-hoole commented on #7306
This is now happening 100% of the time.  See #7726 .

[2015-05-05 00:40] a-robinson commented on #7726
The GCE project jenkins is running in has hit its quota for target pools, so all external load balancer related tests have been failing in all our e2e varieties.

I've deleted the old target pools (except for a half dozen I'm keeping around in case they may be useful for debugging), so the tests should go back to normal soon. The question we have to answer now is what caused all the old target poo

[2015-05-05 00:42] a-robinson opened #7753 "Target pool leak in GCE project running our jenkins e2e tests"
All of our external load balancer tests failed for the better part of a day due to the GCE project that our tests run in hitting its quota for number of target pools. While the target pools have been deleted, the fact that we hit our quota indicates that there must be a leak somewhere, and we need to plug it.

[2015-05-05 00:43] a-robinson commented on #7753
For reference, the previous issue was #7726

[2015-05-05 00:43] a-robinson commented on #7726
Closing this in favor of a bug explicitly about the target pool leak, now that the bleeding should be stopping.

[2015-05-05 01:03] quinton-hoole commented on #7726
Thanks Alex!

[2015-05-05 01:06] quinton-hoole commented on #7753
Could the leakage be related to #7681 ?  The quota exhaustion occurred about 22 hrs after that.

[2015-05-05 01:13] lavalamp commented on #7697
I've started up a test cluster with my changes, running the density test. So far, looks good. I'll run it in a loop overnight.

[2015-05-05 01:16] bprashanth commented on #7697
You will 100% run into https://github.com/GoogleCloudPlatform/kubernetes/issues/7561#issuecomment-98729344 so make sure you ignore errors. I'm fairly certain I'm almost at the bottom of it but not quite.

[2015-05-05 03:02] bprashanth commented on #7561
This should fix the unexpected terminations, or reveal another race condition that needs handling: https://github.com/GoogleCloudPlatform/kubernetes/pull/7749

[2015-05-05 03:51] quinton-hoole commented on #7726
Still failing with the same errors:

May 4, 2015 8:10 PM:

Identified problems

Services should correctly serve identically named services in different namespaces on different external IP addresses

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/service.go:401
Expected error:
    <*errors.errorString | 0xc2089f4080>: {

[2015-05-05 03:52] quinton-hoole commented on #7726
We'll have to continue debugging in the morning.  Provisionally assigning to @a-robinson

[2015-05-05 03:57] quinton-hoole commented on #7726
cc @wojtek-t in case you or one of the Polish crew can take a look at this before we wake up.

[2015-05-05 04:47] thockin commented on #6852
So was this not reproducible? Working as intended?  Fixed? I don't get it.

On Mon, May 4, 2015 at 2:31 PM, CJ Cullen <notifications@github.com> wrote:

[2015-05-05 04:49] bgrant0607 commented on #7594
This was fixed by #7515

[2015-05-05 04:49] #7594 closed

[2015-05-05 04:53] roberthbailey commented on #6852
Did you see my update above? We were checking the version of etcd by hitting it's /version URL and the output format changed. This call wasn't used outside of the kube2sky program so it didn't affect the apiserver but prevented kube2sky working with a newer etcd. It was fixed as part of #7675.

[2015-05-05 04:55] cjcullen commented on #6852
Sorry. I should have left a comment here before closing.

[2015-05-05 05:12] lavalamp commented on #7697
Yeah, I saw that one. Four hours of looping the density test and kube-controller-manager is still using like 1% CPU according to top, so I think either my change fixes it or your previous change did.

[2015-05-05 05:30] thockin commented on #6852
Got it, reading on a phone and missed some.

On Mon, May 4, 2015 at 9:55 PM, CJ Cullen <notifications@github.com> wrote:

[2015-05-05 05:31] roberthbailey commented on #7698
On my cluster (launched from ~head today) running on GCE, this works fine both from a node in the cluster and from inside the `fluentd-elasticsearch:1.5` container running on the node:

[code]

[2015-05-05 05:33] roberthbailey commented on #6852
Also note that after @cjcullen's change the DNS pod is now running the same version of etcd as the master (2.0.9).

[2015-05-05 06:04] wojtek-t commented on #7561
@bprashanth thanks for the heads-up.

[2015-05-05 06:34] antoineco commented on #7693
The cache is not necessary but can speed up things a lot if you run a lot of nodes. The reason why it made it to the getting started guides is because Google folks use it in the "Supported" setups (in /cluster/...)

[2015-05-05 06:42] quinton-hoole commented on #7726
Interestingly the test started to pass again consistently on both of our CI jobs tonight (5/4) at around 20:00.  No PR's were merged around that time. Need to dig through logs for the root cause, but for now at least the problem appears to be resolved.

[2015-05-05 06:58] tamsky commented on #5419
Placing kube-proxy in a docker container might resolve the concurrency issue triggering #7370.

kube-proxy would be the lone actor in its container.

Agree that `--privileged` and `--net=host` would be new requirements.

[2015-05-05 07:23] abonas commented on #6895
@thockin you just saved me from opening this exact issue :)

[2015-05-05 07:30] pamatteo commented on #7701
Thanks! Now it works !

[2015-05-05 07:48] davidopp commented on #1624
Yes, what you described is basically what we had in mind (though we hadn't thought much about aggregating a single job-level completion status from the pod-level termination statuses).

[2015-05-05 07:59] wojtek-t commented on #7697
I've run fwe more experiments and it seems that (mostly #7643) fixed it. Thanks @bprashanth and @lavalamp

[2015-05-05 08:14] viklas commented on #7701
Nice.

[2015-05-05 08:17] wojtek-t commented on #6562
@fgrzadkowski @bprashanth - what's the current status of it? Is it fixed now?

[2015-05-05 08:18] wojtek-t commented on #5884
@bprashanth - is it fixed now?

[2015-05-05 08:34] gosharplite commented on #7351
I have created an openstack-coreos-kubernetes cluster based on @kelseyhightower [osdc-2015 demo](https://github.com/kelseyhightower/osdc-2015). Since it is very easy to delete a VM instance in openstack, I did a quick test relate to this issue.

My replica controller created 3 pods on different nodes. When one of the node is deleted, I observed 'kubectl get mi' of the deleted node went from Ready

[2015-05-05 08:47] piosz commented on #7351
@gosharplite we are aware of the issue you described. For more context please take a look #7222

[2015-05-05 08:49] fgrzadkowski commented on #6562
I think this is done. Currently most lists come from kubelet which is expected.

[2015-05-05 09:03] wojtek-t commented on #6562
Thanks for confirmation (that was also my observation).

[2015-05-05 09:03] #6562 closed

[2015-05-05 09:48] fgrzadkowski opened #7762 "Kubelet does not start"
I'm trying to start 100-node cluster. I got the following error in kubelet:

E0505 08:31:55.170878    5066 server.go:457] Failed to create kubelet: failed to initialize image manager: failed to start image manager: dial unix /var/run/docker.sock: connection refused

After ssh-ing I checked that docker is working by running ```sudo docker ps```. I guess it must be some kind of a race where kubelet

[2015-05-05 11:02] wojtek-t commented on #7351
@gosharplite - as @piosz wrote, we are aware of that and this should be fixed within days

[2015-05-05 11:12] opaugam commented on #7698
Mmh interesting - the same does not work from a cluster running on AWS & setup via the installer (wget -q -O - https://get.k8s.io | bash).

Is there any provider-specific constraint accessing 10.0.0.2 ? Curling the RO service from within a pod was working great on 0.15 (including AWS) btw.

[2015-05-05 11:17] wojtek-t commented on #7222
@bprashanth @lavalamp - are you working on it? If not I can take this tomorrow (I think we should fix it since people are already complaining for it - see #7351)

[2015-05-05 12:02] wojtek-t commented on #7762
I've just faced exactly the same problem (when creating a 100-node cluster)

[2015-05-05 12:54] fgrzadkowski commented on #7762
@davidopp

[2015-05-05 13:24] gosharplite commented on #7351
@piosz @wojtek-t Got it, thanks!

[2015-05-05 13:44] fgrzadkowski opened #7767 "Slow etcd"
After recent performance fixes we are now not bound by CPU or disk IOPS. Apiserver during density test uses around 80% of CPU. Still we observe high request latency for pods, events, endpoints and sometimes other resources. I was able to narrow this down to slow etcd.

Etcd uses up to 80% of CPU. For some reason we see high latency of requests to etcd. Increasing disk (to increase IOPS) or number

[2015-05-05 13:50] wojtek-t commented on #7767
@xiang90 a related question: from the etcd code it seems that etcd is exposing some metrics under /metrics handler:
https://github.com/coreos/etcd/blob/master/etcdserver/etcdhttp/client.go#L100
 However, when accessing this handler I'm getting 404 error (both with 2.0.9 and 2.0.10 etcd versions). Do you know what could be the reason?

[2015-05-05 14:08] xiang90 commented on #7767
@fgrzadkowski @wojtek-t You can try with etcd 2.1.0-alpha0, which gives you a better performance, less CPU usage and the /metrics endpoint (though it is still expr).

[2015-05-05 14:11] fgrzadkowski commented on #7767
@xiang90 Thanks! We will give it a try. Does etcd export pprof data so that we can profile it for lock contention?

[2015-05-05 14:13] wojtek-t commented on #7767
@fgrzadkowski @wojtek-t You can try with etcd 2.1.0-alpha0, which gives you a better performance, less CPU usage and the /metrics endpoint (though it is still expr).

Thanks - we will try it. So far I downloaded it locally and indeed it has /metrics endpoint. Thanks!

[2015-05-05 14:15] bgrant0607 commented on #1624
My goal was to add the minimal useful Job abstraction. If just a single instance would be less controversial, I'd be happy to start with that.

I agree that we need an experimental API prefix. This comes up over and over again.

For the controller implemented by @bprashanth, I imagined that any coordination necessary would take place in the application, at least for the initial implementation.

As

[2015-05-05 14:17] xiang90 commented on #7767
@fgrzadkowski Not really. If you have time, I think the first thing you can do is to switch the default json encoder to ffjson.

Do you know how much performance do you actually need in terms of write/read?

[2015-05-05 14:28] bprashanth commented on #7222
@wojtek-t yeah sorry for the delay I have a pr, will get some integration tests today. got sidetracked debugging the other e2e scalability failures.

[2015-05-05 14:29] wojtek-t commented on #7767
@xiang90 currently we are focusing more on latency. The issue that we observed is that when reading from etcd the whole directory (which is ~3000 entries, each entry of size ~2kB), it can take more than 2 seconds (which seems to be a lot).

[2015-05-05 14:30] bprashanth commented on #5884
Yep, `stop` is still slow because kubectl uses polling but that has nothing to do with the replication manager.

[2015-05-05 14:30] #5884 closed

[2015-05-05 14:32] xiang90 commented on #7767
@wojtek-t Yea... That is probably caused by slow json encoding... :(

[2015-05-05 14:36] wojtek-t opened #7768 "Consider using ffjson instead of default encoding/json"
Currently, unmarshaling jsons is a significant factor influencing the overall Kubernetes performance.
We should investigate and consider replacing the default encoding/json with ffjson:
https://github.com/pquerna/ffjson

cc @fgrzadkowski @lavalamp @smarterclayton @davidopp

[2015-05-05 14:37] smarterclayton commented on #7768
ugorji/go-codec is strictly better than ffjson.

----- Original Message -----

[2015-05-05 14:40] fgrzadkowski commented on #7767
@xiang90 If that's parsing json shouldn't it mean that there is high CPU usage?

[2015-05-05 14:40] rhcarvalho opened #7770 "Preserve container's working directory on kubectl exec"
Hi there! I'm not familiar with Kubernetes' code base.
I traced the inner workings of `kubectl exec` to an [`ExecAction`](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L552-L553), which is documented to be executed inside the container, and the working directory for the command  to be root ('/') in the container's filesystem.

This is, however, dissonant with how `

[2015-05-05 14:42] xiang90 commented on #7767
@fgrzadkowski

[code]

This is what you told me. :) So I highly suspect it is caused by encoding after you gave me more context.

[2015-05-05 14:56] fgrzadkowski commented on #7767
So you're saying that this json encoding happens under lock so that we cannot use more CPU because other requests are blocked. Is my understanding correct?

Can you point us where this encoding happens?

[2015-05-05 14:57] fgrzadkowski commented on #7767
To clarify - by ```80% of CPU``` I meant ```80% of 1 core```. Sorry for not being clear

[2015-05-05 15:00] xiang90 commented on #7767
@fgrzadkowski The encoding happens without holding any lock: https://github.com/coreos/etcd/blob/master/etcdserver/etcdhttp/client.go#L527.

You give etcd multiple cores, and it only uses 80% of one? Is this what you are saying? I still do not quite follow actually.

[2015-05-05 15:03] jayunit100 commented on #3118
I'm working on this right now.  the plan is to add a prometheus introspector to examples/ . per conversation with @timothysc

[2015-05-05 15:16] quinton-hoole commented on #7767
@xiang90 ffjson seems like a great improvement if the 2x benchmark comparisons vs golang json encoding materialize.  Thanks!

However I can't help noticing that that even ffjson is more than 30x slower than some protobuf implementations (according to the benchmarks published at https://journal.paul.querna.org/articles/2014/03/31/ffjson-faster-json-in-go/)

Have you considered adding a protobuf-bas

[2015-05-05 15:42] xiang90 commented on #7767
@quinton-hoole Take a look at: https://github.com/coreos/etcd/pull/2675

[2015-05-05 15:46] hobti01 commented on #7693
We are using private registries, so do not realize a benefit.  The additional configuration seemed to be added as part of unrelated changes and I was simply looking to make the configuration minimal.  I'll remove from our configuration.

[2015-05-05 15:53] mwielgus commented on #3118
@jayunit100, what is your plan regarding Prometheus config?

[2015-05-05 15:56] roberthbailey commented on #7770
/cc @brendandburns

[2015-05-05 15:57] quinton-hoole commented on #7767
Beautiful :-)

[2015-05-05 16:00] timothysc commented on #5637
@vishh Currently heapsters instructions show it to be run as an introspective service inside of k8's but then it will not have access to the scheduler & kcm /metrics endpoints.  Is there a plan to handle this or is the intention to live outside of k8's?

/cc @jayunit100

[2015-05-05 16:04] satnam6502 opened #7777 "Accessing the apiserver from a container"
I want to access the apiserver from a container and I don't want to use the soon to be deprecated read only port so I will need to provide auth information. I only need to read state information -- I don't need to PUT/POST anything -- I just need to list the running pods in the same namespace as the pod modulo label filters. So it seems like my best bet is to use secrets? I could store either the

[2015-05-05 16:05] satnam6502 commented on #7777
I am feeling very lucky.

[2015-05-05 16:07] jayunit100 commented on #3118
hi @mwielgus  I'll put a rough PR or description  together and update in this thread.

[2015-05-05 16:09] quinton-hoole opened #7778 "Audit bash scripts for obvious silent failure ("or true") bugs"
#7650 refers

I think I can remember three of these sorts of '|| true' bugs recently. Is it perhaps worth doing an audit of our code base for them. Superficially there are a lot of instances of this:

$ find kubernetes -name "*.sh" | xargs grep '||\strue' | wc -l
122

[2015-05-05 16:11] quinton-hoole commented on #7548
I think that we can close this one now?  (closed by #7675)

[2015-05-05 16:14] timothysc commented on #3118
@mwielgus Tentatively we'll create an examples for prom to spin a Pod as an introspective service.  The whole round-trip integration with Heapster #5637 looks to be TBD still at this time.

/cc @vishh @vmarmol

[2015-05-05 16:17] fgrzadkowski commented on #7767
@xiang90 Let me start from the beginning :)

In my test setup master is n1-standard-8 (i.e. 8 cores) machine with 2 PD-SSD disks each 200GB. Under high load generated by density tests total cpu utilization is about 50% (i.e. we use on average 4 cores out of 8). There are two biggest CPU consumers:
* apiserver -> usually up to 3 cores
* etcd -> usually up to 0.8 core (never above 1)

With this setu

[2015-05-05 16:19] quinton-hoole commented on #7767
@xiang90 BTW, I would be careful not to conflate JSON and HTTP vs Protobuf and RPC.  e.g. One can do Protobuf over HTTP without RPC, and still get most of the performance gains.  I'll comment further in the etcd RFC.

[2015-05-05 16:24] xiang90 commented on #7767
@fgrzadkowski Yes. You have to give more cores to etcd to let it use more.

[2015-05-05 16:25] xiang90 commented on #7767
@quinton-hoole We plan to use gRPC, which is protobuf over http2 basically. But we might choose protobuf over plain http with a /rpc endpoint in the end. Not sure yet.

[2015-05-05 16:26] vishh commented on #5637
There is an open issue for that #6428. I plan to address that first and that should make it easy to handle master components.

[2015-05-05 16:28] bgrant0607 commented on #7767
cc @hchoudh

[2015-05-05 16:34] mwielgus commented on #3118
Recently I did some experiments with prometheus on kubernetes being configured in a kindof introspective manner using env variables and command line attributes - you can take a look at a draft here https://github.com/GoogleCloudPlatform/kubernetes/compare/master...mwielgus:prometheus. If it is anyhow in line with your plan I can modify/polish it and submit.

[2015-05-05 16:36] jayunit100 commented on #3118
@mwielgus are you working on this?  I dont want to steal it from you.

BUT I'm happy to pollish and submit a PR if you want to hand it off !

Just let me know !  THANKS !

[2015-05-05 16:36] yifan-gu commented on #7707
@vmarmol This is because that previously rkt looks for port mapping settings in the `ImageManifest`, now we have changed to use the `PodManifest`. I think should this should be fixed [1] by newer version of rkt.

[1] https://github.com/coreos/rkt/pull/858

[2015-05-05 16:37] vmarmol commented on #7707
Awesome! We can bump the version of our `rkt` requirement.

[2015-05-05 16:38] yifan-gu commented on #7710
Yes. Maybe something like `protocol:port` such as `TCP:80` ?

[2015-05-05 16:39] cjcullen commented on #7548
Agreed. I wanted to hold off until the flakiness aged out of jenkins, which it looks like has happened.

[2015-05-05 16:39] #7548 closed

[2015-05-05 16:40] fgrzadkowski commented on #7767
@xiang90 Is it just a regular env variable? I've only changed this using https://golang.org/pkg/runtime/#GOMAXPROCS

[2015-05-05 16:41] yifan-gu commented on #7709
I am not sure I get what you mean, but I will send a PR today to fix a bunch of things.

[2015-05-05 16:41] vmarmol commented on #7710
SGTM

[2015-05-05 16:42] xiang90 commented on #7767
@fgrzadkowski Yes. It is.

[2015-05-05 16:43] thockin commented on #7710
as long as you make sure it is unique in the pod, which means you actually
have to test it and add a suffix if needed

On Tue, May 5, 2015 at 9:38 AM, Yifan Gu <notifications@github.com> wrote:

[2015-05-05 16:44] yifan-gu commented on #7710
@thockin OK, then prefix with the container name should be good IMO

[2015-05-05 16:48] fgrzadkowski commented on #7767
Perfect! I'll give it a try tomorrow.

[2015-05-05 16:48] mwielgus commented on #3118
@jayunit100 It depends whether this draft is in line with your plan and makes any sense at all (I'm very new to Kubernetes). If yes and this will save you some time then sure, I would like submit it.  If not really and/or you need it ASAP then I'm fine with you taking over this.

[2015-05-05 16:53] thockin commented on #7710
I don't think we defend against exposing the same protocol-port twice in a
single container, so be defensive.

On Tue, May 5, 2015 at 9:44 AM, Yifan Gu <notifications@github.com> wrote:

[2015-05-05 16:58] roberthbailey commented on #7778
The recent bugs were where we were missing the `|| true` part on a command that would occasionally exit with a non-zero status. The common one I found was if you grep and it returns no results it won't have a zero exit status but we typically are checking the output against expected output anyway and don't want bash to abruptly exit. There are probably other commands that behave similarly, but sta

[2015-05-05 17:05] roberthbailey commented on #7698
I don't have access to an AWS cluster. Maybe @justinsb could test it out and see if he can reproduce the failure?

[2015-05-05 17:06] yifan-gu commented on #7710
@thockin Why we expose the same protocol-port twice? Is that something we could add to the validation of the pod spec?

[2015-05-05 17:07] derekwaynecarr opened #7781 "Documentation needed to describe possible Event.Reason for project"
I counted ~30 different events being thrown in the project from various components.

I think to benefit future code reviews, we should standardize on a common set of reasons, or at minimum, author a document that has a table of events, reasons, and why they are thrown in the system.

As a user of the system that wants to potentially write automation against the presence of certain events, it would

[2015-05-05 17:12] pmorie commented on #6848
I think we can close this out now that PRs are going into master and open new issues as things develop.

[2015-05-05 17:13] #6848 closed

[2015-05-05 17:14] dchen1107 commented on #7777
We need this for kube-scheduler, kube-controller, etc. in pods to talk to apiserver eventually in secure. Now they are in a same host without auth information.

[2015-05-05 17:15] dchen1107 commented on #7770
cc/ @vishh

[2015-05-05 17:23] lavalamp commented on #7768
We already have an issue on this- #3338. Please continue discussion there.

[2015-05-05 17:23] #7768 closed

[2015-05-05 17:24] quinton-hoole commented on #7726
I assume that it took a few hours for the quota to be replenished in GCE, but I don't have logs to confirm this.  Closing this bug as the tests continue to pass in our CI again.  We can re-open if we run into it again.

[2015-05-05 17:24] #7726 closed

[2015-05-05 17:25] dchen1107 commented on #7762
This is a bug in our initialization logical. We initialize image manager which needs to talk to docker at very early stage before docker is up yet. Later kubelet does a wait to make sure docker is up. We should either delay the initialization of image manager or handle docker unavailable better.

Kubelet will be restarted by monit eventually, but this definitely slow down node initialization. I ma

[2015-05-05 17:25] vishh commented on #7770
The issue here is that we do not use `docker exec` and instead we run nsenter. I have been wanting to switch to using `docker exec` by default, but haven't gotten to it yet.

Related issue #6342

[2015-05-05 17:27] lavalamp commented on #7777
I'm in favor of by default mounting a token giving RO access to pods. Ideally, it'd be in a known place, such that if you package kubectl in your pod, it'll "just work", and if you use our go client library, there's a function you can call that also "just works".

[2015-05-05 17:35] a-robinson commented on #7726
I'd believe that - I noticed yesterday evening that we hadn't leaked any more target pools yet ~1 hour after I deleted the old ones. I don't know whether we can see logs of target pool creation attempts though, since they unfortunately don't show up in the list of Operations.

[2015-05-05 17:35] rhcarvalho commented on #7770
Thanks for the comments. @vishh would it be possible to change the working directory when using nsenter to match that of docker exec?

[2015-05-05 17:40] vishh commented on #7770
It is possible. There is also an open patch to add exec support to `nsinit`
(libcontainer) and use that instead.

On Tue, May 5, 2015 at 10:36 AM, Rodolfo Carvalho <notifications@github.com>
wrote:

[2015-05-05 17:44] yifan-gu commented on #7708
Do you mean `rkt list` actually? You are right, and I found for `prepare aborted` it can have 4 fields.
The reason for using `rkt list` is because we don't have `rkt status` by that time, so now I think we can change to use `rkt status` so we only need the `uuid` field from `rkt list`.

[2015-05-05 17:44] #4852 closed

[2015-05-05 17:46] vmarmol commented on #7708
In my work-arounds that's what I did :)

[2015-05-05 17:48] thockin commented on #7710
Consider exposing two host ports for the same pod.  I know it is a stretch,
but we don't defend it now.  Should be relatively easy to validate, but the
error message infrastructure we have does not have an obvious function to
call to say that the combination of some fields is not valid.

On Tue, May 5, 2015 at 10:06 AM, Yifan Gu <notifications@github.com> wrote:

[2015-05-05 17:58] bgrant0607 commented on #7777
Any new mechanism would need to be considered in the broader context of what we're doing with auth. See #7101, for instance.

@satnam6502 You have one container that needs to access N namespaces, or N pods, each in a different namespace?

[2015-05-05 17:59] vmarmol commented on #7762
I'll go ahead and fix it (since I am mainly to blame :) )

[2015-05-05 18:03] thoraxe opened #7784 "[RFE] pod status of "pending" not very useful"
"Pending" can have lots of different meanings. One, for example, is that the underlying host is doing a docker pull of the image. But "osc get pods" doesn't tell you that.

Is it possible to add "more" status to the Pending line? For example: Pending:Pulling

I'm not sure what other pending states there are.

[2015-05-05 18:11] jayunit100 commented on #3118
okay i see how your doing it - you are using kubernetes-ro as the entrypoint to find the prometheus metrics target exported from api-server.  thats a good idea i didnt realize the kube-ro server worked that way.  im still learning kube internals also :).

two things i think might need to change

- where is your DATABASE_URL  ? I alway set that wehn running.  without it i thought prometheus will no

[2015-05-05 18:20] deads2k commented on #7627
A couple questions come to mind.
 1. Should there be a merge order for pod/service account pull credentials, gcp credentials, and `~/.dockercfg` credentials?  I think I'm against this, but it seems reasonable to argue.  I'd say that if the pod and/or the relevant  service account come with pull credentials (let's call them dynamic creds), those are the only ones we should use.  If they do not, the

[2015-05-05 18:25] mbforbes commented on #7781
This is a great point. I have no idea whether this is "cluster" team, but putting there for now.

[2015-05-05 18:36] mbforbes commented on #7784
This might be a bit tricky because pods' phases become complex when they contain more than one container. For example, what would the phase of a pod be when one of its containers is pulling, and one is running? I think you'd want to introspect the container states themselves. With that said, the containers don't have a "pulling" state, only a "waiting" one as well.

Just for reference, here are [t

[2015-05-05 18:36] vishh commented on #7781
I will take up this issue.

[2015-05-05 18:45] thoraxe commented on #7784
Is this information provided via "describe" or in the "-o YAML/JSON" output?

I could live with "pending" in the "get pod" output if there was some way to get more information about the containers in the pods.

[2015-05-05 18:55] satnam6502 commented on #7777
@bgrant0607 : N pods in one namespace e.g. N pods running Elasticsearch in the namespace `musc-server`.

I want to have a replication controller controlling N Elasticsearch pods in one namespace of course. These pods have a container than at start up does a LIST to discover all the other pods launched by this replication controller so they can do discovery to form a cluster. Specifically the Elast

[2015-05-05 18:59] #6572 closed

[2015-05-05 19:00] #5634 closed

[2015-05-05 19:00] #7762 closed

[2015-05-05 19:01] roberthbailey commented on #7777
/cc @cjcullen

[2015-05-05 19:05] sacashgit commented on #6667
Yes - problem fixed, after installing the SkyDNS service on Ubuntu Cluster. All Good now.

[2015-05-05 19:07] satnam6502 commented on #7777
@deads2k @pmorie another thing we could consider is having a kubectl command that created a secret which has the auth for read only access for a given namespace.
[code]
or some such thing.

[2015-05-05 19:10] yujuhong opened #7788 "TestSyncPodsCreatesNetAndContainerPullsImage has non-deterministic order of docker` calls"
https://app.shippable.com/builds/5549046d42da970c000f2958
[code]
The `list` and `inspect` are reversed in the actual calls.

[2015-05-05 19:11] satnam6502 opened #7789 "Namespace needs to be specified to kubectl when already present in pod spec"
If a pod spec has a namespace specified it must still be specified by a flag when creating it with `kubectl`. I've already had a discussion about this with @smarterclayton and @jlowdermilk but I think it was deemed to be "worked as intended". However, @bgrant0607 considers this a bug.

[code]

[2015-05-05 19:17] thockin commented on #7784
kubectl describe pod has a LOT more info

On Tue, May 5, 2015 at 11:46 AM, Erik M Jacobs <notifications@github.com>
wrote:

[2015-05-05 19:27] yujuhong commented on #7784
`kubectl get pods` returns more than the pod phase. It shows the status, created time, and the termination message (or the last termination message) or reason of failure for *each container*. They were added in #7116.

As Tim suggested, `kubectl describe pod <pod_name>` gives you more information, plus events associated with the pod.
`kubectl get pod -o json <pod_name>` gets you the complete conta

[2015-05-05 19:34] davidopp commented on #7762
Changed to P0 because @brendandburns asked us to only add P0 issues to v1.0 milestone.

[2015-05-05 19:49] timothysc opened #7790 "Adding Red Flag Performance Regression in e2e tests."
Currently e2e tests will pass based on overall behavior.  Currently we do track performance but we do not gate the overall tests.   It seems logical that we would want to have some baseline to detect regression and simply raise the red flag under those conditions.

e.g. create a utility function that checks
1. if overall average falls below 10 pods/sec.
2. if terminated pods > 2% of total pod coun

[2015-05-05 19:54] davidopp commented on #3338
/subscribe

[2015-05-05 19:56] dchen1107 commented on #7784
kubernetes/docs/pod-states.md describes a life of Pod, and lately we expose container state, previous terminated reason and other information through kubectl get pods. Also you can retrieve events related containers in a pod through kubectl describe too. Are those information enough for you to understand your workload?

[2015-05-05 20:04] wojtek-t commented on #7790
@fgrzadkowski already started adding some expectations on performance (although we need to tune them) - see #7505

[2015-05-05 20:04] davidopp commented on #1624
As I alluded to above, I don't think a job controller that only supports this model (type 2 from my earlier comment) is useful. I think even the initial version needs to support pets (type 1) in the manner @nwendling and I have described in earlier comments.

It seems very clear to me that users with type 1 batch jobs will want to observe status (and more generally, reason about their job) in term

[2015-05-05 20:10] markllama commented on #7622
PR to fix the Vagrant test cluster: https://github.com/GoogleCloudPlatform/kubernetes/pull/7791

[2015-05-05 20:15] fabioy commented on #7092
This should have been fixed with #7735. Closing.

[2015-05-05 20:15] #7092 closed

[2015-05-05 20:17] BenTheElder commented on #7719
I'm still having issues with vagrant on OSX on the macbook but running hack/e2e-test.sh from https://github.com/GoogleCloudPlatform/kubernetes/commit/1b7749b8d94ad40db1d908df28ea80cee40a24ac on Fedora 21 on my desktop:
[code]
I get all tests passing.

[2015-05-05 20:17] lavalamp commented on #7697
So after I stopped my loop, I waited O(hours) and tailed the log file; it seems that, even though there's no RCs in the system any more, kube-controller-manager is continuously creating and deleting multiple pods per second.

[code]

I expect this is the real culprit behind the symptom, and explains why @bprashanth's earlier change made the symptom go away.

[2015-05-05 20:18] lavalamp commented on #7697
Upping to P0 since this is a regression.

[2015-05-05 20:19] lavalamp commented on #7697
@bprashanth can you take a look?

[2015-05-05 20:19] ArtfulCoder commented on #6946
Currently,  kube-scheduler, kube-apiserver, and  kube-controller-manager run in pods and still write to log files on the host filesystem using mount.
closing this issue.

[2015-05-05 20:19] #6946 closed

[2015-05-05 20:26] smarterclayton commented on #7627
----- Original Message -----

I think that's reasonable.  Explicit secrets "use these secrets to get images" trumps "grab any old random thing on the host".

Rotation will be important.  If we make the order deterministic with most specific / ordered, that also makes sense to me.

[2015-05-05 20:35] jlowdermilk commented on #7789
@smarterclayton, so should `kubectl create` use namespace provided in schema only if default is unset, or should schema namespace overwrite command namespace?

[2015-05-05 20:37] markllama commented on #7622
I finally found the right hook I think:

[code]

We could either leave my patch which would set both in provision-minion.sh OR I can remove that change and add the kubelet string suffix pattern to the kube-proxy default template.

Preference?

[2015-05-05 20:38] smarterclayton commented on #7789
Command namespace should overwrite schema namespace on create.  Update, Delete, and Get are harder to answer.

----- Original Message -----

[2015-05-05 20:43] lavalamp commented on #7697
Actually, nvm-- this is node controller and replication controller fighting because scheduler is not respecting the NotReady status.

[2015-05-05 20:43] #7697 closed

[2015-05-05 20:47] bprashanth opened #7793 "Kubectl lists resources in all namespaces with *"
Would be nice if we could list all namespaces by doing eg: `get rc --namespace=*` as that's likely the first thing most people will try (at least true for @lavalamp and myself). When that didn't work I resorted to a bash script that parsed out the namespace from logs instead of reading up about kubectl, so there might be a way to achieve exactly the same with a different syntax but people might no

[2015-05-05 20:50] lavalamp commented on #7697
So the good news is that our controllers fight very efficiently now...

[2015-05-05 20:54] chaten commented on #7745
Yeah, resource.Quantity works fine and all v1beta3 uses of IntOrString are limited to port #s, which max out at uint16. So, this bug is at-least confined to old versions of the api.

[2015-05-05 20:54] derekwaynecarr commented on #7793
see https://github.com/GoogleCloudPlatform/kubernetes/pull/7024

[2015-05-05 20:54] markllama commented on #7622
Re-submitted PR to patch:
- https://github.com/GoogleCloudPlatform/kubernetes/pull/7791

This time I used the same mechanism that was used to do the same thing for kubelet.

[2015-05-05 20:56] lavalamp opened #7795 "Kubelet crash"
I think this is the root cause of the problems in #7697.

My cluster does not appear to be recovering from this.

[code]

To dawn to find an owner.

[2015-05-05 21:00] bprashanth commented on #7795
Fyi I have seen similar stack traces (pthread_create failing, can't be sure if it's identical) when you have > 50 pods on the node.

[2015-05-05 21:14] ArtfulCoder commented on #5261
@prateekarora151083  I think you should have every flanneld process point to the same etcd cluster.
That is how the flanneld processes on the various machines co-ordinate with each other (via etcd).

You might want to check out  cat /proc/{flannel process id}/cmdline to see what the flanneld args are.

[2015-05-05 21:21] davidopp commented on #7517
@satnam6502 Did you mark this v1.0-candidate because Kibana/Elasticsearch aren't working due to this bug, and you think it's important to have them working for 1.0?

[2015-05-05 21:24] roberthbailey commented on #7719
@derekwaynecarr have you ever tried to run e2e on vagrant or is @BenTheElder treading new ground here?

[2015-05-05 21:25] pmorie commented on #7777
@dchen1107

Don't forget kubelet ;)

[2015-05-05 21:26] pmorie commented on #7777
@satnam6502 I like the `create-apiserver-ro-secret` idea

[2015-05-05 21:27] satnam6502 commented on #7517
I marked it as a v1.0-candidate because if this really is a bug then a whole class of applications are likely to fall foul of this bug -- which is a shame -- because it then discourages people to deploy software in a way that suits our model (i.e. running a backend server **inside** the cluster that can make use of DNS etc. as is the case with the new Kibana 4) vs. running a system entirely as a p

[2015-05-05 21:28] satnam6502 commented on #7517
@nikhiljindal : I shall try to do a repo when I am done with some other work -- perhaps later this week.

[2015-05-05 21:29] satnam6502 commented on #7777
If enough people like the `create-apiserver-ro-secret` idea (and can think of a better name for it) then I am happy to implement it -- or defer to my betters @pmorie etc. in case they want to.

[2015-05-05 21:32] roberthbailey commented on #7622
@markllama This was definitely broken by #7303, which switched everyone other than azure to port 443.

[2015-05-05 21:34] bgrant0607 commented on #1624
A single-instance job would be a subset of any functionality we'd add later, and would be useful on its own. I suggest starting with that.

For more general types of jobs, let's use mapreduce as an example:
http://research.google.com/archive/mapreduce.html

It has a "master", which one could think of as a controller. The master assigns work, supervises workers, starts duplicate workers for "stragg

[2015-05-05 21:35] dchen1107 commented on #7795
Can I access the node in bad state? Looks like kubelet was crashed at init time. Monit should restart kubelet every 2 mins. Is this a crashloop? When you said this is the root cause of #7697 because this happens to a lot of nodes in a cluster? so that rc or node controller ping-pong the workloads?

[2015-05-05 21:35] bgrant0607 commented on #1624
With respect to recurring workloads, I'll again redirect to #2156.

[2015-05-05 21:36] roberthbailey commented on #7745
The old versions of the api have been deprecated and we plan to remove them in ~1 month as we transition to a stable v1 api.

[2015-05-05 21:36] mbforbes opened #7800 "v1beta3 conversion using kube-version-change dropped attribute nodeSelector"
Reported via "Containers at Google" Google Group:

[2015-05-05 21:42] cjcullen commented on #7777
In his demo on Friday, @liggitt showed off some of the results of #7101, which creates the serviceAccount object, and also auto-creates service accounts for each namespace. This wouldn't get you readonly on the authorization side, but it would be dead-simple to roll into a Pod spec.

Maybe it makes sense to auto-create a read-only service account for each namespace as well? There was a reason the

[2015-05-05 21:43] ArtfulCoder opened #7801 "kube-proxy in a pod"
We can potentially run kube-proxy in a pod.
I made some changes in my repo that serves as a proof-of-concept if someone wants to take it forward.
This is only manually tested to a small extent and has a few hacks in there.

https://github.com/GoogleCloudPlatform/kubernetes/compare/master...ArtfulCoder:proxypod

The Docker image for kube-proxy is based on ubuntu which makes it a 188 MB container.
W

[2015-05-05 21:56] mwielgus commented on #3118
Database url/HA - I use local storage (see https://github.com/GoogleCloudPlatform/kubernetes/compare/master...mwielgus:prometheus#diff-6fb454b575d1bd04454e4ff4e3048b32R95) which I guess can be placed on GCE persistent disk. But if your preference is to write to InfluxDB then i can modify it accordingly.

[2015-05-05 21:57] roberthbailey commented on #7441
Is this reproducible or can we close it?

[2015-05-05 21:58] lavalamp commented on #7566
We should be able to make them share transports, no?

[2015-05-05 21:59] smarterclayton commented on #7566
They look like they create and manage their own transports when TLS is in play, and we can't pass one in.

----- Original Message -----

[2015-05-05 22:04] caesarxuchao opened #7804 "Empty user and cluster in context created by "kubectl config set-context""
I'm following the instructions in examples/kubernetes-namespaces. After I issued the command "cluster/kubectl.sh config set-context dev --namespace=development", I ended up with a context that had empty "cluster" and "user" field, so the following "kubectl get" commands fails as kubectl does not know where to send requests.

Is this the expected behavior of "kubectl config set-context"? Or shall t

[2015-05-05 22:07] vmarmol commented on #5419
@tamsky wouldn't the iptables config still be in the host network so the same race would exist?

[2015-05-05 22:12] roberthbailey opened #7805 "#7743 introduced weird glibc dep"
The current GCE run started at 1:55pm and is still spinning unable to launch a cluster. GKE-CI has been failing since 1:40pm.

[2015-05-05 22:14] roberthbailey commented on #7805
@zmerlynn is looking into the root cause. Based on the GKE-CI failure, the candidate changes are:

[code]

[2015-05-05 22:18] yujuhong opened #7807 "Grouping a list of unknown containers into a pod for container/image management"
The container runtime interface in kubelet sticks to the pod-level abstraction for most of the functions. There are two components that do not handle this interface well:
- `containerGC`: It needs access to all containers managed by kubelet in order to determine whether or not to remove them. This includes all containers starting with the `k8s_` prefix. Note that these containers may not have a va

[2015-05-05 22:19] roberthbailey opened #7808 "/srv/kubernetes/basic_auth.csv and /srv/kubernetes/known_tokens.csv on the master are world-readable"

[2015-05-05 22:20] lavalamp commented on #7566
I just read through coreos/etcd#2677, it's not clear to me what we need to do.

The README says ["go-etcd is not thread-safe, and it may have race when switching member or updating cluster."](https://github.com/coreos/go-etcd), so it sounds like we are supposed to not emit concurrent requests on a single client? @xiang90 or @yichengq, can you tell us what circumstances would trigger this race, so

[2015-05-05 22:21] vmarmol commented on #7807
I think you're the naming expert @yujuhong :) but maybe we can use unallowed characters?:

- "/unknown-kubernetes"
- "/unknown-containers"

[2015-05-05 22:21] lavalamp commented on #7566
OK well, that's kind of a deal-breaker. We can't have O(hundreds) of open
connections for every client we make.

On Tue, May 5, 2015 at 2:59 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-05-05 22:23] vmarmol commented on #7807
We could also use this mapping for the killing in `SyncPod` so that can be parallelized too. Eventually, we'd probably extend the life of the podWorker to match that of the pod, but this is a start.

[2015-05-05 22:24] thoraxe opened #7810 "nfs example link broken"
This page:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/volumes.md

Links to this YAML:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/nfs/test.yaml

Which doesn't exist.

There are several examples now in the NFS folder:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/nfs

[2015-05-05 22:25] bgrant0607 commented on #7789
I think it clearly violates POLS for an implicit setting (kubeconfig context, esp. the default one) to override an explicit one (namespace in schema).

I understand that we want to make it easy to export objects from one namespace and import them into another, but I think we should provide a mechanism to scrub the objects first, for example, removing the explicit namespace (and status, readonly fi

[2015-05-05 22:27] smarterclayton commented on #7566
I have to say... it would be more convenient if the client object was threadsafe so we could share it simply.  Is there a significant downside to the client *becoming* threadsafe?  I'd certainly be willing to help that.

[2015-05-05 22:27] smarterclayton commented on #7789
Which is what we do today.  I'm ok leaving it as is.

[2015-05-05 22:29] lavalamp commented on #7517
Do we allow HEAD requests at all? I suspect you're getting some of these error codes because of the HEAD verb. Does the client actually attempt HEAD requests? Can you repeat this sequence of actions with GET requests?

[2015-05-05 22:31] lavalamp commented on #7566
Yeah, I agree that would be easier.

[2015-05-05 22:32] bgrant0607 commented on #7789
Well, it would be nice for the implicit setting to be overridden by the explicit one without an error.

[2015-05-05 22:33] lavalamp commented on #7566
Filed https://github.com/coreos/go-etcd/issues/211

[2015-05-05 22:33] zmerlynn commented on #7805
The root cause was the injection of a GLIBC_2.14 dep in `kubelet`:

[code]

Our containervm image only ships with 2.13:
[code]

So kubelet didn't come up at all on GCE-Debian.

[2015-05-05 22:36] zmerlynn commented on #7805
#7792 added the dep, and I reverted it in #7809

[2015-05-05 22:40] jayunit100 commented on #3118
@mwielgus how about this
Either :
- I can adopt your patch, add some commits on top, and then we can just submit it as a joint PR by layering the commits ? That way you get credit for your hard work ?
OR :
- You can finish this patch off.

We really need this so I'm happy to take over if you're busy with other tasks.

[2015-05-05 22:42] lavalamp commented on #7800
I cannot reproduce on the below pod. I'll ask for the exact pre-conversion pod in the email thread.

[code]

[2015-05-05 22:46] smarterclayton commented on #7805
What's the process for updating the containervm image?  Is there one?

[2015-05-05 22:48] zmerlynn commented on #7805
There is. I'm actually in the middle of updating it right now, but at the tail. Updating libc, though... hmm. I can look into it.

[2015-05-05 22:49] smarterclayton commented on #7805
Trying to find where #7343 included an updated libc.

[2015-05-05 22:49] zmerlynn commented on #7805
And I may be wrong. My build is confused.

[2015-05-05 22:50] satnam6502 commented on #7517
Kibana makes a HEAD request to Elasticsearch to determine if an index exists and if it does not it creates it. We should adjust our proxy to route HEAD requests.

[2015-05-05 22:51] bkeroackdsc commented on #7717
That was helpful, thank you. I've gotten an initial cluster running via https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws-coreos.md -- despite the warning it appears to work OK.

I have the test pod running and it works:
[code]

I can access the virtual IP of the pod on any of the k8s nodes (master or minion):
[code]

However I'm not clear how I would be

[2015-05-05 22:52] zmerlynn commented on #7805
Dammit. There's something weird going on. I may have gotten them backwards, sorry.

[2015-05-05 23:03] lavalamp opened #7815 "Kubelet in strange state"
(Also following up on #7697) Once every three minutes or so, my kubelet's logs get the below printed.

This kubelet appears to not be sending node status heartbeats.

[code]

[2015-05-05 23:05] lavalamp commented on #7815
Also I don't know what it means by "no space left on device", that doesn't appear to be true:

[code]

[2015-05-05 23:07] lavalamp commented on #7517
SGTM

[2015-05-05 23:09] zmerlynn commented on #7805
Yeah, mea culpa. The culprit was #7743. Reassigning this to @vmarmol to figure out next steps.

[2015-05-05 23:14] mwielgus commented on #3118
@jayunit100 let's go with the first option.

[2015-05-05 23:16] dchen1107 commented on #7815
Most of above logs are coming from cadvisor. I already talked to @vmarmol and they are going to lower those verbose logging messages.

That " no space left on device"  is related to one container, not affect kubelet's state at all.

[2015-05-05 23:17] vmarmol commented on #7815
@lavalamp I believe the "no space left on device" is that we ran out of inotify watches. How many containers is this machine running? Also, can you get the value of `/proc/sys/fs/inotify/max_user_watches`

[2015-05-05 23:20] dchen1107 commented on #7815
Yes, @vmarmol is right. No space error here is out of inotifiy watches. What a terrible message! Shouldn't be something like out of resource or resource unavailable, similar to other kernel error code in such situation?

[2015-05-05 23:22] lavalamp commented on #7815
[code]

There's like 35-40 containers running I guess, that doesn't seem like the end of the world:

[code]

[2015-05-05 23:25] lavalamp commented on #7815
Something must be locked up in kubelet, because it should have stopped all of these containers-- nodecontroller deleted all of these pods.

[2015-05-05 23:26] vmarmol commented on #7815
Can you see what's using inotify watches btw?

[code]

From that many containers we'd only expect a couple hundred watches.

[2015-05-05 23:35] dchen1107 commented on #7805
My hacky way to fix such issue for my rkt demo is building kublet statically. :-(

[2015-05-05 23:36] satnam6502 opened #7817 "Can't create a secret"
I have a secret:
[code]
but I can't create it:
[code]
@pmorie @deads2k

[2015-05-05 23:40] lavalamp commented on #7815
[code]

[2015-05-05 23:42] #7322 closed

[2015-05-05 23:45] jimjh commented on #7359
I ran into the same problem, and solved it using

[code]

with

[code]

[2015-05-05 23:47] dchen1107 commented on #7805
building kubelet statically has one benefit since we are working toward running kubelet as a docker containe, statically linking release kubelet image not based on large base image, such as ubuntu, like what we did in #7797

[2015-05-05 23:53] caesarxuchao opened #7818 "missing public IP in examples/logging-demo"
Hi @satnam6502 @nikhiljindal , I followed the instructions in examples/logging-demo, and there was no "external IP" field for elasticsearch-logging or kibana-logging, as shown below:
[code]
I start up my cluster via cluster/kube-up.sh. Did I miss something or is it a bug? Thanks.

[2015-05-05 23:56] lgfausak commented on #7800
i note that the file you are showing above is yaml, but, i didn't have any luck with yaml, i had to convert to json, the kube-version-change, then convert back to yaml. when I copy your file, and run it:

    apiVersion: v1beta1
    desiredState:
      manifest:
        containers:
          - image: nginx
            name: nginx
        id: nginx
        version: v1beta1
    id: nginx
    kind: P

[2015-05-05 23:56] erictune commented on #7781
We intentionally don't want to enumerate all possible reasons. We want
client code to handle new reasons and to actuate on levels not reasons/
edges
On May 5, 2015 11:37 AM, "Vish Kannan" <notifications@github.com> wrote:

[2015-05-05 23:59] satnam6502 commented on #7818
Correct. This demo does not create an ELB so there is no external IP address.
Access is via service proxy at the master.
Type:
[code]
and you should the URLs for Elasticsearch and Kibana.

[2015-05-06 00:02] bgrant0607 commented on #7018
Generalized label selectors: #7053 / #341

[2015-05-06 00:08] lavalamp commented on #7800
kube-version-change understands yaml, you shouldn't have to convert it to json first. E.g., here's what I did:

[code]

What version are you running?

[2015-05-06 00:08] nikhiljindal commented on #7800
Doesnt look like you are running the latest kube-version-change.
You should not get
 ```Couldn't decode input: "couldn't get version/kind: invalid character 'a' looking for beginning of value"``` error if you are synced past #6849.

[2015-05-06 00:10] jayunit100 commented on #3118
okay ! TL;DR summary for this guy...
- we'll add prometheus RC to add-ons which uses kubernetes-ro endpoint
- it will be based on mwieigus initial patch above
- i'll layer prom dash into it as well, so that the whole thing is spun up on the fly

[2015-05-06 00:18] mbforbes commented on #7810
Thanks for reporting! Always happy to get docs up-to-date, especially to reduce friction. Please report / open PRs for any others. Also, if the examples / explanations aren't clear, we're happy to address issues for that as well.

[2015-05-06 00:27] pmorie commented on #7805
@dchen1107 I'm super-curious about what you had to do to get the kubelet built statically.  I want to have a scratch image w/ just kubelet and nsenter eventually.

[2015-05-06 00:31] satnam6502 commented on #7817
In case this helps.
[code]

[2015-05-06 00:38] liggitt commented on #7817
data is byte arrays, not strings, which serialize as base64

[2015-05-06 00:39] lgfausak commented on #7800
i don't see a version flag for kube-version-change:

    kube-version-change --help 2>&1 | sed 's/^/    /'
    Usage of kube-version-change:
      -i, --input="-": Input source; '-' means stdin
          --log_flush_frequency=5s: Maximum number of seconds between log flushes
      -v, --out-version="v1beta3": Version to convert input to
      -o, --output="-": Output destination; '-' means stdout

[2015-05-06 00:44] lavalamp commented on #7800
Hm, is sync.Pool a go 1.4 only thing? Anyway, sounds good.

[2015-05-06 00:44] #7800 closed

[2015-05-06 00:45] lavalamp commented on #1795
@bprashanth did this.

[2015-05-06 00:45] #1795 closed

[2015-05-06 00:46] satnam6502 commented on #7817
Ah! Thanks.

[2015-05-06 00:46] #7817 closed

[2015-05-06 00:48] smarterclayton commented on #6666
I seem to find myself drawn to 1b the most.

I'm tempted to suggest we define a DNS space which while recognizable is not Kubernetes specific.  We definitely want to be one segment above .local to allow others to coexist in the local space.  I would suggest we do not want to make the local space configurable, to allow anyone who can deploy to one Kube to deploy to any other.  I also want to make i

[2015-05-06 00:50] bakins commented on #7717
@bkeroackdsc You will need to setup a [service](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md) as that will handle the load balancing, etc.  Actually exposing that service on AWS is a bit of a pain, to be honest, and there are some PR's under review to make that easier.

[2015-05-06 00:50] smarterclayton commented on #6666
I'm not really in favor of pod DNS - I want to keep DNS tied to endpoints which provides the discovery mechanism for names.

I also think we should be exposing the primary names for a service under the service status field so that clients can discover what names are available.  We should prepare for there being multiple DNS routes to a service, some from outside the network (we plan to move routes

[2015-05-06 00:53] thockin commented on #7474
Looking at this right now

[2015-05-06 00:54] mbforbes commented on #7818
@caesarxuchao please let us know whether:
  a. Satnam's comment resolves your issue
  b. the demo should be updated to prevent this misunderstanding
  c. the issue isn't resolved

Thank you!

[2015-05-06 00:56] mbforbes commented on #7804
+cc @jlowdermilk might be able to give a bit more info (if this isn't resolved by #7820?)

[2015-05-06 00:57] ArtfulCoder commented on #7473
the pod manifest allows for this param already.

[2015-05-06 00:57] #7473 closed

[2015-05-06 00:58] pmorie commented on #7817
:+1: @liggitt
On Tue, May 5, 2015 at 8:47 PM Satnam Singh <notifications@github.com>
wrote:

[2015-05-06 01:01] jlowdermilk commented on #7804
That is intended behavior of set-context. It only writes the fields that you explicitly tell it to, so that you can change just one field on an existing context without altering/erasing others.

[2015-05-06 01:03] mbforbes commented on #7804
@jlowdermilk if you don't want to erase others, wouldn't that it doesn't inherit cluster/user be erasing them?

[2015-05-06 01:04] caesarxuchao commented on #7804
@jlowdermilk, to clarify, if I run "cluster/kubectl.sh config set-context dev --namespace=development", then shall the "cluster" and "user" field be empty or inherit the current context?

[2015-05-06 01:07] pmorie commented on #7805
I don't think building the kubelet statically is a hack, unless I'm missing something.

[2015-05-06 01:08] jlowdermilk commented on #7804
They should be empty. However, it would be reasonable to change the default behavior to "inherit cluster/user from current context" if we are creating a new context. @deads2k, thoughts?

[2015-05-06 01:10] jlowdermilk commented on #7804
@mbforbes, the reason they are empty is because he created a new context. If he had issued the same command and the 'dev' context already had a cluster/user entry, it would only overwrite the namespace.

[2015-05-06 01:15] lgfausak commented on #7800
I just managed to get a new go, v1.4.2, and compiled the current kubernetes tree with the hack/build-go.sh script above.  That version does work with a yaml file!  BUT, it still drops by nodeSelector when run against the data in the p.yaml file above...

[2015-05-06 01:16] caesarxuchao commented on #7818
Yes, Satnam's comment resolve the issue. I updated the demo in #7824.

[2015-05-06 01:22] mbforbes commented on #7818
Awesome, thanks for sending the patch! We'll discuss there. Always fantastic to have docs updated regularly by folks trying them.

[2015-05-06 01:26] mbforbes commented on #7800
@lgfausak hmm, you're getting different results than @lavalamp running the same command against the same yaml file at HEAD?

[2015-05-06 01:30] thockin opened #7825 "Need healthchecks for "other" DNS containers"
We now have a healthcheck for skydns, but not for etcd or kube2sky.

[2015-05-06 01:34] yujuhong commented on #7807
Assigning to me since I'm working on it. Thanks for the suggestions!

[2015-05-06 01:43] timothysc commented on #3118
:+1:

[2015-05-06 02:01] kunchenguid opened #7826 "azure: waiting for cluster initialization"
Following the instructions on https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/azure.md, cluster/kube-up.sh creates the VMs but hangs forever at "waiting for cluster initialization".

I can see the master and minion VMs are all up and running, but it looks like kubernetes cannot reach the APIs. Is this a known issue? What's the best way to investigate?

[2015-05-06 02:16] kunchenguid commented on #7826
looks like the same issue with #6966.

[2015-05-06 02:18] bprashanth commented on #7441
Haven't seen it since, will reopen if i do

[2015-05-06 02:18] #7441 closed

[2015-05-06 02:23] #7489 closed

[2015-05-06 02:26] bengong2015 commented on #7489
I got solved this by modifying configuration of docker-registry -- detaching to local docker registry and minions pulling images successfully.

[2015-05-06 02:27] kunchenguid commented on #7826
looked further and it seems people are recommending that we provision kube clusters on azure with coreos and weave: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/azure/README.md

is there any advantage that https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/azure.md does not provide?

and still I don't see a

[2015-05-06 02:28] lgfausak commented on #7800
I don't know.  I just tried my new kube-version-change against his pod file, that worked (the nodeSelector stays in the yaml output text).  But, with my file, the nodeSelector disappears.  One difference I see with my file is that the 'spec' is nested, in lavalamp's file it isn't.  I don't know if that makes a difference. Here is with my file:

    grep -c nodeSelector p.yaml
    1
    kube-versio

[2015-05-06 02:34] mbforbes commented on #7826
unsure who the azure goto is; @brendandburns ?

[2015-05-06 02:35] mbforbes commented on #7826
+cc @colemickens @jeffmendoza @ahmetalpbalkan @bgrant0607

[2015-05-06 03:03] dcieslak19973 commented on #6666
Would it make sense to think about services like ZooKeeper where it might be useful to be able to refer to a specific instance in a pod? Perhaps its the anti-pattern to "headless services" - I think I may have seen references to "cardinal services".

For example, when I've set up my Kafka nodes, I find myself specifying zk1:2181,zk2:2181,zk3:2181 in config files. To the point where we're now using

[2015-05-06 03:25] bgrant0607 commented on #6666
Re. Zookeeper, see #260 (nominal services, which was formerly referred to as cardinal services), which is out of scope for now.

[2015-05-06 03:46] vmarmol commented on #7815
@lavalamp do you still have access to the machine with this issue? I'd like to take a look if it's available. I don't think under a steady state we'd run into this problem. The inotify limit is a bit on the low side, but it shouldn't lead to problems.

[2015-05-06 04:07] ahmetalpbalkan commented on #7826
This is currently being investigated at Microsoft Azure side. I believe we will have a fix soon.

[2015-05-06 05:28] thockin commented on #6666
@smarterclayton I think 1b is all but decided.  The root DNS domain is already a configurable, it just happens to default to kubernetes.local.  I can easily imagine tweaking it to include cluster names:  e.g. xy.kube.local and ab.kube.local - then I could cross-ref names like mysvc.myns.svc.ab.kube.local.

Can you explain what you want wildcards to produce?

[2015-05-06 05:40] tamsky commented on #5419
@vmarmol I think you're right.
I'm so used to thinking that "iptables rules are per-container" that I forgot the implications of  `--net=host`.

[2015-05-06 06:35] madis opened #7828 "Certificate error when connecting to master after AWS cluster stop/start"
I have set up a kubernetes cluster in AWS. After finishing work with it, I stop the instances. Next time when I start the instances up again, they get assigned new public IP-s. The ```.kube/config``` has IP-s from the first starting. I can update the IP-s in ```.kube/config``` but it results in certificate error ```Error: Get https://52.24.72.124/api/v1beta1/pods?namespace=default: x509: certifica

[2015-05-06 06:36] fgrzadkowski commented on #7767
This improved stats a lot! The only offending ones (high percentiles above 1s) are listing pods and events:
[code]
I'll look into this today.

[2015-05-06 06:36] fgrzadkowski commented on #7767
(Just to be clear - this is still on 8 core master with fast drives)

[2015-05-06 06:46] roberthbailey commented on #7828
Can you reserve a fixed IP for your master instance? The start-up scripts generate the certificate based on the IP address of the master when it starts which is why you are seeing the old address in the SSL error.

[2015-05-06 06:46] roberthbailey commented on #7828
@justinsb

[2015-05-06 06:53] madis commented on #7828
Amazon calls the fixed IP-s Elastic IP-s. I can reserve one. Just not sure how to tell kubernetes to use it before generating the certificate.

[2015-05-06 07:00] roberthbailey commented on #7828
For GCE we do this (see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/util.sh#L509-L513). The AWS master creation is a bit different, but if you tweaked with the script [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/aws/util.sh#L463-L476) you could probably manage to get this working.

[2015-05-06 07:30] davidopp commented on #1624
I guess I'm OK with initially just supporting "type 2" (or the even simpler version of "type 2" where num_completions=1), especially if it would allow us to do something for batch for 1.0, but I think we should make sure we have a plan for supporting "type 1" soon after that, and try to avoid designing the "type 2" API in a way that we have to change to later support "type 1" (though I agree using

[2015-05-06 09:12] madis commented on #7828
Thanks. I will tweak my aws util.sh and send a pull request so you can see if there's more interest in having this feature.

[2015-05-06 09:12] hesonglin006 opened #7831 "Setting up a simple, single node kubernetes cluster using Docker"
I followed the instrcution [https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker.md) to set up a simple, single node kubernetes cluster using Docker.When I use `kubectl get pods`,the problem is:
` Client error: Get http://localhost:8080/api/v1beta1/pods?n

[2015-05-06 10:42] manolitto commented on #7828
You may (re)create a new certificate by doing this:

    ssh-add -K ~/.ssh/kube_aws_rsa
    ssh -A ubuntu@52.24.72.124
    cd /srv/salt/generate-cert
    sudo ./make-ca-cert.sh 52.24.72.124
    sudo reboot

Then you can download the certificate:

    ssh -A ubuntu@52.24.72.124 sudo cat /srv/kubernetes/kubecfg.crt > ~/.kube/$KUBE_CONTEXT/kubecfg.crt
    ssh -A ubuntu@52.24.72.124 sudo cat /srv/kube

[2015-05-06 12:14] deads2k commented on #7804
If we were to change this, I'm assuming we would we take similar behavior to all of the `kubectl config set*` commands?  I can certainly see benefits to having a flag that allows it to go either way, but I think I'd probably have the default of the `--inherit`(?) flag be `false` so that the verb `set` remains more accurate.  Inheriting values feels more like, `clone` with tweaks.

[2015-05-06 12:24] wojtek-t commented on #3338
This is becoming more important now not only for validating errors, but since json (un)marshaling is currently a significant factor in our performance.

cc @fgrzadkowski

[2015-05-06 12:47] mwielgus commented on #7494
Are you sure that this is still a problem?

On some older build the bug was real:
NAME            LABELS        STATUS
172.28.242.98   Schedulable   <none>    Ready

But now the output is more like:
NAME            LABELS    STATUS
172.28.242.98   <none>    Ready

I suspect that this was fixed in https://github.com/GoogleCloudPlatform/kubernetes/commit/a2ac72c4e76241221017bca33b6b5f22cf4da514

[2015-05-06 13:49] markturansky opened #7835 "Volume resource counting to enforce scheduling constraints"
From #3318:

Above is from @smarterclayton.  Discussed something similar with @thockin and @bgrant0607 a while back.

I understand what we want to do, but lack the technical design to make it happen.

How does a pod/volume communicate what kind of "slot" is consumes?  Is this all contained in the scheduler (it is counting all resources consumed and placed)?  Where do the rules go (e.g, 16 GCE disk

[2015-05-06 14:02] smarterclayton commented on #7835
The simplest thing I can imagine is a simple set of rules in an admission controller that might be configurable or based on some simple heuristics.  It walks incoming pods and converts their characteristics into another resource type.  This is something that would be an initializer hook once they exist.

[2015-05-06 14:02] smarterclayton commented on #7835
For instance, summate the number of GCE volumes in the pod and create a resource "mounted.persistentVolumes.count" = "1"

[2015-05-06 14:03] jayunit100 commented on #3118
- mwielgus@google.com <-- is that your email @mwielgus
- This is now very very heavily redundant to #6981.  should we consolidate ?

[2015-05-06 14:04] smarterclayton commented on #7835
We'd then probably need to add fit characteristic defaulting to the scheduler or the node somehow - max: "mounted.persistentVolumes.count" = 16

[2015-05-06 14:04] markturansky commented on #7835
I hate to be obtuse, but how does that translate into code?  where does "mounted.pV.count=1" go?  I don't quite grok *how* I would implement counting and where i would store rules.

[2015-05-06 14:06] smarterclayton commented on #7835
Into the resources field - essentially you're looking at the pod, doing a calculation, and then storing the result of the calculation as a "consumed" resource in the pod definition prior to the scheduler seeing it.

[2015-05-06 14:06] jayunit100 commented on #6981
in any case it will just be an add on.  also shall we rename this issue to "unified monitoring pipeline creation" ?  Otherwise its redundant to the prometheus specific stuff ( #3118 )

[2015-05-06 14:11] mwielgus commented on #3118
* Yes.
* Sure.

[2015-05-06 14:20] roberthbailey commented on #7831
/cc @brendandburns

[2015-05-06 14:25] markturansky commented on #7835
What "resources field" do you refer to?  Where would this inspection go so that it's calculated before it gets to the scheduler?  Is the scheduler full of state now (knowing where it places pods, how many resources they're consuming across the cluster, etc) and I'm just adding another piece?

I kind of need to know specifically which code this is going to touch, because I am not familiar with the

[2015-05-06 14:32] jayunit100 opened #7837 "Density tests : investigate ways that failures can happen + loosen thresholds if/where appropriate."
There are two stochastic failures that can be triggered in density tests.

`s: "Error: Pod my-hostname-density2300-121bed58-f291-11e4-9498-ecf4bbc71cuhnfi: Container my-hostname-density2300-121bed58-f291-11e4-9498-ecf4bbc71c1c was found to have terminated 1 times",`

And

`s: "Controller my-short-lived-podc4b4f7ef-f2d6-11e4-ba82-ecf4bbc71c1c: No pods submitted for the last 5 checks",`

We can loos

[2015-05-06 14:40] roberthbailey commented on #7376
Regardless of the cause of the problem (which I agree would be interesting to discover) it seems like we need a cron job or something to make sure that monit is always running. @ArtfulCoder can you look into how we can babysit our babysitter?

[2015-05-06 14:44] bgrant0607 commented on #7598
@brendandburns Are you actively working on this? If not, we'd like to reassign it.

Yesterday, we discussed stricter json parsing (also discussed in #3338) as an alternative. Since kubectl currently round-trips objects (#3955), it will drop unknown fields, anyway.

However, when I was thinking about #4855, it reminded me that strict parsing needs to be optional, and we'd want to disable it at leas

[2015-05-06 14:44] bgrant0607 commented on #3338
Re. validation, see https://github.com/GoogleCloudPlatform/kubernetes/issues/7598#issuecomment-99496662

[2015-05-06 14:45] bgrant0607 commented on #3338
@wojtek-t If you have data re. amount of time spent in (un)marshaling, separate from other parts of decoding/encoding (conversion, etc.), please post it here.

[2015-05-06 14:48] smarterclayton commented on #3338
We probably want to be careful about immediately diving in and using ugorji for validation - we probably want to identify all the possible errors, not just the first, and we need to tolerate fields that are unrecognized (otherwise new clients can't talk to old servers).  It's really fields that are type mismatched that we need to flag, or when a validation error occurs on a field, look for similar

[2015-05-06 14:49] wojtek-t commented on #3338
@wojtek-t If you have data re. amount of time spent in (un)marshaling, separate from other parts of decoding/encoding (conversion, etc.), please post it here.

This is more than 25% of cpu usage now, but I will do detailed profiling and post the profile tomorrow.

[2015-05-06 14:56] xiang90 commented on #7767
@fgrzadkowski I guess 2 core is enough. Also the read latency has very little thing to do with seek latency. Everything in etcd is in memory for the moment.

[2015-05-06 14:58] wojtek-t commented on #7767
@xiang90 Regarding disk - out experiments confirm that seek latency doesn't really matter here.
I'm not sure what the difference will be between setting GOMAXPROCS e.g. to  2 and to 4 (we should check it).

[2015-05-06 15:37] a-robinson commented on #7598
I asked about whether strict parsing should be the default for requests in #7600, some concerns were brought up there.

[2015-05-06 15:42] roberthbailey commented on #7256
@mbforbes - I think that in-place upgrades are part of milestone v1.0-post so unless you disagree I'm going to re-assign this issue.

[2015-05-06 15:44] roberthbailey commented on #6086
The blocking issue here (#4855) is marked as part of v1.0-post but this issue is in v1.0. What do we need to do to reconcile them and make sure that we have an upgrade story for 1.0?

[2015-05-06 15:49] roberthbailey commented on #3135
This issue is quite vague. @mbforbes - I saw that you created issues for various node upgrade test scenarios; is there an issue for testing master upgrades?

[2015-05-06 15:51] roberthbailey commented on #1625
It sounds like this issue might be resolved. @davidopp / @a-robinson can you verify that we have metrics available and then we can file individual issue if we believe any further metrics are necessary for v1.0?

[2015-05-06 15:53] a-robinson commented on #7753
I'd guess that this is due to GetTCPLoadBalancer returning that the load balancer doesn't exist if the forwarding rule is gone, ignoring the target pool, while the service controller considers its deleting done if the cloud provider says that the load balancer doesn't exist. I added that logic to the cloud provider because the other implementations of DeleteTCPLoadBalancer weren't/won't be idempot

[2015-05-06 15:58] quinton-hoole opened #7840 "Flaky e2e test: Docker Containers should be able to override the image's default commmand (Stability: 90%)"
This happened on 5/6/2015 at 07:49 am on our continuous integration system, against upstream/master head at that time (i.e. last commit 24a0e5618ac9b9ca8bbccc56b92691b3c2ec7cda).

Needs to be repro'd and debugged.

Docker Containers should be able to override the image's default command and arguments

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleClou

[2015-05-06 16:04] #7810 closed

[2015-05-06 16:10] jayunit100 commented on #7837
parameterized in #7839

[2015-05-06 16:10] erictune commented on #7265
@nelcy
Did you happen to try this suggestion, and did it work for you?

[2015-05-06 16:16] mbforbes opened #7842 "`kubectl help get` is outdated"
I know that you can get nodes / a node, but the help doesn't say you can or provide examples:

[code]

To resolve this issue:

0. Update the help for this command to include nodes (and any other resources we're missing).

0. Can we generate the help text in a way that ensures this (and probably the many others that are drifting) don't get out of date? Or at least give us a heuristic as to whether

[2015-05-06 16:29] mbforbes opened #7843 "kubectl output laughably wide"
Can we make it narrower (non-columnar) by default, and have the current ultra-wide output accessible via a command-line flag?

A user (@lgfausak) reported this in the Google Group, and I've struggled with this myself countless times. It's simply unusable. You can output in `json` or `yaml`, but that's equally bad for trying to get information, and asking users to learn Go's templating system befor

[2015-05-06 16:33] Andre-Freitas opened #7844 "similar labels in replication controller file is getting a strange behavier on containers in minions"
Hi,

I tried to create a rc (http://fpaste.org/219062/09288701/) with these 2 labels as selectors

            "role": "lb",
            "role2": "logstash"

but when i try to `kubectl create -f` that rc ,  my minions start to have a lot of containers in status "Exited ..." and my pod, that is managed by this rc, is always being recreated (http://fpaste.org/219068/30929634/).

If i change that rc

[2015-05-06 16:34] bprashanth commented on #7561
The mentioned pr has merged, and now I'm seeing high latency requests of 2 types:
1. Listing events: this doesn't sound like reason to fail the test, can we ignore  them? @wojtek-t @rrati
2. Lising pods: happens less often, investigating.

To be clear I'm talking about the failure message:
[code]

which inevitably end up being:
[code]

[2015-05-06 16:34] quinton-hoole commented on #7843
Agreed we need to do something better with this.  The current default record-per-row output is very handy for feeding to grep, awk, cut and friends, but it's pretty useless for looking at.

I would support spending some time on figuring out a better default output for v1.0, although I don't have any obvious suggestions for improvement, other than truncating field values or omitting some fields com

[2015-05-06 16:41] ArtfulCoder commented on #7472
I checked with Vishnu and he is Ok with me poaching this issue.

[2015-05-06 16:48] wojtek-t commented on #7561
Correct - this is something we're currently looking at.
cc @fgrzadkowski

[2015-05-06 16:52] vishh commented on #7472
I was planning on refactoring the existing dns code to use new controller
framework. Can you hold on to your changes until then?

On Wed, May 6, 2015 at 9:42 AM, Abhi Shah <notifications@github.com> wrote:

[2015-05-06 16:52] quinton-hoole commented on #7561
The basic event listing e2e test is intermittently failing in the same way as bprashanth@ mentions above, so it's failure is currently somewhat independent of scale.   I'd be very happy to temporarily disable that part of this scalability test until the flakyness of the basic event listing test has been deflaked.

To be clear, I'm talking about this flaky basic event listing e2e test:

==== snip s

[2015-05-06 16:55] fgrzadkowski commented on #7561
@bprashanth I'll send a PR later today to ignore events related metrics.

I was also investigating slow listing of pods. Main reason currently is GOMAXPROCS set for etcd to 1. Increasing it to NumCores() improves a lot, but metrics are still above 1.0 targets. I believe that now the bottleneck is somewhere in apiserver itself.
Please let know if you find something, so that we don't investigate the

[2015-05-06 16:58] bprashanth commented on #7561
Thanks for the heads up, will keep you posted

[2015-05-06 17:13] smarterclayton commented on #6666
Wildcards should resolve the same as the service (the canonical A query for the service).  It's really there to let an app easily support wildcarding for purposes of their own - security (cookie hoisting and isolation), vanity urls (myfoo.service.bar.local), and routing (I can set up a security router at *.foo.bar.service.local that proxies to other services via a mapping of * to service backend).

[2015-05-06 17:20] bgrant0607 commented on #7843
How wide is it (number of chars)?

[2015-05-06 17:23] thockin opened #7845 "DNS subdomain validation does not enforce each label's length"
Each portion of a DNS subdomain must be <= 63 characters.  We only validate the total length.

[2015-05-06 17:27] mbforbes commented on #7714
For anyone reading along, we think this is an issue with GCP and SSH keys. We think we're hitting the limit of the number of SSH keys we can have saved in GCP for the Jenkins project; each new build creates a new key and recycles other keys, which can cause other builds to fail (the SSH test) when their keys get removed.

We're confirming this now, and will then implement a client-side fix (just u

[2015-05-06 17:34] ncdc commented on #7203
Note, the digest format for Docker 1.6 is `namespace/repo@digest` - `:tag` is not part of it when using a digest, and you can only specify either a tag or a digest, but not both.

[2015-05-06 17:34] jdef opened #7846 "Proposal: configurable proxyPort for kube-proxy"
Currently the addServiceOnPort invocation specifies a random port.

https://github.com/GoogleCloudPlatform/kubernetes/blob/release-0.16/pkg/proxy/proxier.go#L431

When running on Mesos we need to account for all server (listening) ports. I'd like to propose a PortAllocator interface that we can leverage for this purpose:
[code]
A default implementation for allocating a `proxyPort` would simply hav

[2015-05-06 17:35] jdef commented on #7846
xref https://github.com/mesosphere/kubernetes-mesos/issues/257

[2015-05-06 17:36] thockin commented on #7843
In the very beginning of the kubectl UX discussions, I sort of argued for a
handful of alternate -o formats for this reason.

Propose:

-o table : what we have today

-o long : one line per existing table column, Key: value, blank lines
between records

-o kv : one line per record, no header, each existing table column output
as key="value" where format is strictly escaped (for downstream processi

[2015-05-06 17:40] pmorie commented on #7203
There is not a one-to-one mapping between container runtime and image pull.  Rocket supports running docker  images, and so it makes sense that you could run a pod that has a docker _image spec_ with a rocket _container runtime_ with no changes.  In the future, the ACI format might be [supported by docker](https://github.com/docker/docker/issues/10777), in which case the opposite would be possible

[2015-05-06 17:44] thockin commented on #3338
On Wed, May 6, 2015 at 7:49 AM, Clayton Coleman
<notifications@github.com> wrote:

We do this inside Google with proto because we do not generally have
versioned APIs.  With versioned APIs, I think that rejecting unknown
fields is much more tenable.  Specifically, you asked for something
and we don't know how to handle it.  Ignoring it MIGHT be OK, but it
might also cause the result to be semantic

[2015-05-06 17:45] smarterclayton commented on #3338
----- Original Message -----

That means we can no longer add new fields to v1beta1.  Instead every new field requires a new api version....

[2015-05-06 17:46] smarterclayton commented on #3338
----- Original Message -----

The vast majority of versioned REST APIs I'm aware of have a "ignore what you don't expect, allow new fields to be added" policy, except those that micro version (every property change causes an api version change).

[2015-05-06 17:58] thockin commented on #3338
On Wed, May 6, 2015 at 10:46 AM, Clayton Coleman
<notifications@github.com> wrote:

No, it means you have to not try to use fields before your master
supports them.  That's very different.  Now, this may be a problem as
long as kubectl is doing version conversions and defaulting.

Yeah, it's a tradeoff of "do you help people get what they really
wanted" vs freedom to mix-and-match components.  I u

[2015-05-06 18:00] dchen1107 commented on #7376
I will take a look this one today since there are several ones related to each other: #7815, #7795, ...

[2015-05-06 18:00] pmorie commented on #7203
Let me offer the following api skeleton for discussion:

[code]

The image spec ought to be orthogonal from the container runtime.  That said, eventually I think the node should inform the cluster of which image specs it can support and the scheduler will have to ensure that pods get scheduled onto a node that supports the image format.

[2015-05-06 18:01] BenTheElder commented on #7719
Opening Virtualbox (the managment gui) and deleting all of the master/minion boxes before running the tests again seems to improve how well the tests run, but i still get inconsistent errors. Running the tests fresh (new v-boxes) I seem to get 0-1 arbitrary failures (different tests failing) and the more times I run it without deleting them all the more failures I get. I'm thinking the performance

[2015-05-06 18:01] lavalamp commented on #7800
Yes, the nesting level makes a large difference. In v1beta1, nodeSelector is a child of Pod, not of Manifest. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta1/types.go#L751

If this was scheduling for you as expected previously, it was only accidentally working. (Try `kubectl --create validate` with your original file.)

[2015-05-06 18:02] lavalamp commented on #7815
@vmarmol I added Dawn to my project, I can add you too if you still want to see it.

[2015-05-06 18:03] yifan-gu commented on #7807
SGTM

[2015-05-06 18:23] vmarmol opened #7850 "rkt: Remove glibc dependency"
Splitting from #7805. It looks like when we include rkt we take in a dependency on `GLIBC_2.14` which we don't have on our Debian systems. It seems that this is due to some code in

[code]

which we import. Is the dependency needed or can we replace it somehow with a rkt invocation?

@yifan-gu can you take a look?

/cc @dchen1107 @yujuhong @jonboulle @bakins

[2015-05-06 18:23] vmarmol commented on #7805
cAdvisor has issues when built statically after Go 1.4 since we'd require running gcc which we don't want to do.

Closing in favor of #7850.

[2015-05-06 18:24] #7805 closed

[2015-05-06 18:32] bgrant0607 commented on #4855
Broadening the discussion a bit. Hopefully it will become obvious why by the end.

No new feature can be depended upon until there's no risk of rolling back any control-plane component required for its functionality, and the feature has been adequately validated, perhaps by end-to-end tests and also perhaps by user trials.

However, new features generally need to be exposed for at least testing, e

[2015-05-06 18:33] pmorie commented on #7627
I suggest the following changes to the container runtime interface:

[code]

The `ImageSpec` type is to design-ahead for #7203 and eventual support for arbitrary image formats.

The container runtime will be injected with a list of possible secrets (eventually coming from the pod's service account) to use to perform the image pull.  This way, the container runtime can make its own decisions about

[2015-05-06 18:34] pmorie commented on #7627
@vmarmol @deads2k @smarterclayton @yifan-gu thoughts? (cc @liggitt)

[2015-05-06 18:35] #4140 closed

[2015-05-06 18:42] bgrant0607 commented on #2057
The lack of this API makes it hard to inspect/update every object. See, for instance, #7819.

[2015-05-06 18:46] ironcladlou opened #7851 "Consider publicly exposing some or all RollingUpdater annotations"
The RollingUpdater makes use of some annotations to drive behavior:

[code]

In OpenShift deployments, we found it useful to [reuse one of these annotations](https://github.com/openshift/origin/pull/2097) for scale factor preservation between deployments. We chose the private upstream annotation because it not only provided the right semantics, but as a bonus also lets our deployments (Replication

[2015-05-06 18:51] bgrant0607 commented on #1624
Instead of types 1 and 2, let's call them static and dynamic work assignment.

I don't disagree that static work assignment could be useful. I view it as similar to nominal services (#260), but where the identity/role would be assigned based on the uncompleted task assigned rather than which currently running instance it was (keeping number of completed tasks desired orthogonal to max/current numb

[2015-05-06 18:53] mbforbes commented on #7851
Drive-by assigning

[2015-05-06 19:10] yifan-gu commented on #7850
Sure

[2015-05-06 19:17] yifan-gu commented on #7850
@vmarmol After a quick look, I think we can remove the dependency of `github.com/coreos/rkt/store` by using the new `rkt images` command.

[2015-05-06 19:20] timothysc commented on #7767
@fgrzadkowski so for clarity, did you:

export GOMAXPROCS=`nproc`
etcd --myparams ?

[2015-05-06 19:21] yifan-gu commented on #7850
Let me fix this :)

[2015-05-06 19:26] bkeroackdsc commented on #7717
Cool, thanks, I definitely was missing something (the Service abstraction). After some searching, it looks like support for AWS ELB creation isn't merged yet (#5225).

Am I correct with the following general plan for externalizing a service?

1. Create a service object for a Pod, choose a random free port for ServicePort (externally tracked).
2. Populate publicIPs with the private IPs of all k8s n

[2015-05-06 19:27] markturansky commented on #7835
I discussed this with @abhgupta.  His advice was:

1. Add "volumes" to node.Status.Capacity when a node is added to the cluster.
  1. Clusters in GCE get "16" for "volumes" or similar key
  2. Clusters in AWS get "40" for "volumes" or similar key
  3. Clusters anywhere else get "0" for "volumes"
2. Add "volumes" to pod.Spec.Containers[i].Resources.Requests
  1. Inspect a pod's volumes and count it

[2015-05-06 19:29] satnam6502 opened #7853 "Add env var for the namespace of the current pod"
I think it would be useful to add an env var that identifies the namespace that a given pod is born in, in addition to the ones we already make.

[code]

[2015-05-06 19:30] pmorie commented on #7853
@satnam6502 You can already do this w/ the downward API: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/downward_api.md

[2015-05-06 19:31] fgrzadkowski commented on #7767
@timothysc Yes. For testing I've just hardcoded this. I'll send PR tomorrow that will automatically set this based on the number of cores.
One thing to mention that we still don't use all 8 cores. According to some further debugging now the bottle neck is on apiserver side. I'll debug more tomorrow.

[2015-05-06 19:35] smarterclayton commented on #3338
----- Original Message -----

This is a big problem for people who have existing stable deployments and new clients that need to talk to multiple servers.  It effectively means that the client you use to talk to X servers has to be min(version){X}, which is practically impossible to manage.

I'm ok with that - it was the converse that has me concerned.  Just because I have kubectl 1.1 and I need t

[2015-05-06 19:36] bakins commented on #7717
@bkeroackdsc yes - I've seen that approach (" publicIPs with the private IPs of all k8s nodes") done before, so it should work. I have not done it myself, however.

[2015-05-06 19:43] yifan-gu commented on #7627
@pmorie Thank you for pinging me! Will take a look!

/cc @jonboulle @philips

[2015-05-06 19:43] #4997 closed

[2015-05-06 19:44] lavalamp commented on #7844
This doesn't seem like expected behavior, and I'll be surprised if the labels are really the root cause. Can you look at log files from terminated containers to see if there are any clues?

[2015-05-06 19:46] bgrant0607 commented on #7851
What do you mean by "made public"?

Why isn't the authoritative source of the desired number of replicas always in Openshift's deployment config?

[2015-05-06 19:49] bgrant0607 commented on #3338
Can we please not have the versioning/validation discussion on this issue? Please comment on #4855 instead.

[2015-05-06 19:52] smarterclayton commented on #7851
Because of autoscaling - we want to let the autoscaler manage a replication controller group, which means the deployment config can't be authoritative in the presence.  Therefore the deployment config has to let the state of the cluster be authoritative, unless there are no other RCs present, in which it falls back to its initial value.

1. Initial creation of a deployment, value in deployment.rep

[2015-05-06 19:52] lgfausak commented on #7800
yup, that was the issue, thanks for following up.

[2015-05-06 19:55] dchen1107 commented on #7805
@pmorie, Yes I built kubelet statically, but sacrificed cAdvisor functionalities. Since my goal is demonstrating k8s + rkt integration on GCE, and I didn't have time to look into cAdvisor issues then. This is one cons we have to pay for integrate cAdvisor library into Kubelet, but there are a lot of pros too.

@vmarmol What are the exact reasons we don't want to running gcc?

[2015-05-06 19:59] bgrant0607 commented on #4855
Re. versioning/validation discussion here: https://github.com/GoogleCloudPlatform/kubernetes/issues/3338#issuecomment-99549781

A good point was made about using the same client to talk to multiple clusters, which might make it infeasible to ensure the client was strictly no newer than any of those clusters. However, I still think the above proposals accommodate that case. In general, the client w

[2015-05-06 20:10] pmorie commented on #7805
@vmarmol

What requires gcc?

[2015-05-06 20:15] pmorie opened #7855 "Make minimal kubelet image"
Currently the docker image for the kubelet is based on centos.  Instead, we should make a scratch image that just contains the `kubelet` and `nsenter` binaries.  A few things need to be worked out:
1.  cAdvisor has some issues with being built statically after go 1.4 (source, @vmarmol)
2.  Where do we source a statically built nsenter binary?   There's a [well-known docker image that builds a stat

[2015-05-06 20:16] ArtfulCoder commented on #7472
We have one open question:
1. Do we care about backward compatibility ?
If users are using relative dns names and don't specify a suffix like  ".kubernetes.local", there is no problem with getting to be backwards compatibility. We can change the suffix to ".services.kubernetes.local"
But if users specify the full path, we could do the following, for each service, we create two dns entries.

Assume

[2015-05-06 20:45] thockin commented on #4855
From #3338

No, again it just means you can't *use* features of newer masters on older
masters.  Isn't that semantically correct?  Assume you have a dozen masters.
half of them have the new Service.Spec.Frobnicator field.  Half do not.  My new
service depends on the Frobnicator - it's not useful without it.

If I send my service to a master that doesn't have Frobnicator support do I
want:

a) mast

[2015-05-06 20:46] bgrant0607 opened #7856 "Eliminate Phase and simplify Conditions"
Forked from #6951.

This is also discussed https://github.com/GoogleCloudPlatform/kubernetes/issues/1899#issuecomment-93900072 and elsewhere.

Users and developers apparently think of phases as states in a state machine, regardless of how much we try to dissuade them:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#spec-and-status

This interpretation conflict

[2015-05-06 20:47] bgrant0607 commented on #6951
Created #7856 re. replacement of phase with condition.

[2015-05-06 20:47] bgrant0607 commented on #7018
Created a new issue for replacement of phase with condition: #7856.

[2015-05-06 20:50] dchen1107 commented on #7784
I am closing the issue for now. @thoraxe If you feel that we didn't answer your question or we don't expose enough information for your wordload, please reopen it. Thanks!

[2015-05-06 20:50] #7784 closed

[2015-05-06 20:52] satnam6502 commented on #7853
Ah, OK, thanks. Although that is quite a lot of stuff to have to write in the podspec!

[2015-05-06 20:52] #7853 closed

[2015-05-06 20:54] vmarmol commented on #7855
I would argue that we should use `busybox` (or something like it) instead of `scratch`. The difference is a few MBs (Just the Kubelet binary is 20MB+ `nsenter` would be a few MBs as well). It solves most of the above issues and gives us access to `sh` and other tools so we can exec into the container and debug.

[2015-05-06 20:55] lavalamp commented on #7517
I think the action item here is to change the spot in api_installer.go where it sets up the go restful stuff to pass all verbs on to the proxy handler.

[2015-05-06 20:57] vmarmol commented on #7805
@pmorie cAdvisor uses C for some queries to the kernel. We may be able to move them to raw syscalls with some work. I'd just want to make sure we need to :)

@dchen1107 because we won't be able to cross-compile. To cross-compile we'd need to specify a compiler in the other architectures and OSes we target.

[2015-05-06 21:13] nelcy commented on #7265
@erictune
Sorry Eric. Got stuck in other things for the last few days. Will make this the top priority and will get back to you by end of day.

[2015-05-06 21:18] smarterclayton commented on #4855
----- Original Message -----

Technically it's doing the exact same thing you asked it to do before.  Your additive new thing just doesn't work quite right.  The WhatsIts and WhooZats are all still busy churning away, it's the Frobnicator that's ignored.

I agree with the general *principle*.  I just have never seen it work well in the messy world of enterprises for people limited time and budgets

[2015-05-06 21:37] lavalamp opened #7860 "Data race in TestWatchControllers"
Observed here: https://app.shippable.com/builds/554a6e97ff724e0c00e4cd53

[code]

[2015-05-06 21:37] lavalamp commented on #7860
@bprashanth can you take a look?

[2015-05-06 21:47] dchen1107 commented on #7856
This is part of 1.0 though.

[2015-05-06 21:48] bgrant0607 commented on #7598
Also being discussed in #4855.

[2015-05-06 21:49] bgrant0607 commented on #5889
See also discussion in #4855.

[2015-05-06 21:50] bgrant0607 commented on #7856
Not part of 1.0, you mean.

[2015-05-06 22:13] bgrant0607 commented on #2456
Is this still relevant?

[2015-05-06 22:13] lavalamp commented on #6951
I'm late to the party, but let me +1 the idea that we should have a general graceful deletion semantic and NOT use pod phase to represent this information.

[2015-05-06 22:15] bgrant0607 commented on #7627
I would prefer to have a secret-based mechanism than to make it easier to roll out a cluster-wide dockercfg (https://github.com/GoogleCloudPlatform/kubernetes/issues/1627#issuecomment-69143858, #2603), though perhaps we need both.

[2015-05-06 22:15] lavalamp commented on #7784
Pending means "not running yet". Look at the events (e.g. `kubectl describe pod`) for more detail.

[2015-05-06 22:20] lavalamp commented on #7856
Just thinking out loud: could we auto-populate this from events filed about the object?

[2015-05-06 22:25] bgrant0607 commented on #7018
Clarification: Replacement of phase is almost certainly out for v1. I just referenced it for completeness.

[2015-05-06 22:29] bgrant0607 commented on #7018
We might want to reconsider use of ObjectReference in the API.

For cases in object specs where kind, namespace, and api version are fixed and where uid, resource version, etc. aren't supported for stronger consistency, it's simpler to just specify an object name, as in the service account PR: #7101.

I still feel that ObjectReference is probably easier for clients to deal with generically when co

[2015-05-06 22:37] pmorie commented on #7627
@bgrant0607, I think we need both.

On Wed, May 6, 2015 at 6:15 PM, Brian Grant <notifications@github.com>
wrote:

[2015-05-06 22:45] smarterclayton commented on #6951
As an implementation note we may want to update the containers grace period during the first delete (when we set TTL) to the effective grace period.  The timestamp is a valid marker but does not make it easy to calculate the desired grace period for termination (which should be calculated on the kubelet from the time it first observes the deletion, not as an absolute clock value).

[2015-05-06 22:48] bgrant0607 commented on #7627
FWIW, discussion on #7150 may be relevant, or may not, since I didn't actually read it. :-)

[2015-05-06 22:49] pmorie commented on #7627
Noted, lol
On Wed, May 6, 2015 at 6:48 PM Brian Grant <notifications@github.com> wrote:

[2015-05-06 22:50] thockin commented on #7846
You want this for all ports or just public ports?  The problem, of course,
is that once you do anything but "dear kernel, please choose for me" you
risk conflicts with any pod host ports that might be chosen

On Wed, May 6, 2015 at 10:35 AM, James DeFelice <notifications@github.com>
wrote:

[2015-05-06 22:51] paddyforan opened #7865 "google-fluentd crash"
It appears that the GCP logging that was shipped with my cluster (running 0.14.2) crashed at some point, silently, and wasn't restarted?

Here's the entire text of the log file from `/var/log/google-fluentd/google-fluentd.log`:

[code]

What's weird is that I have logs from that minion after the crash allegedly took place that are appearing in my Logs Viewer, but I'm missing maybe 99% of my logs.

[2015-05-06 22:58] roberthbailey commented on #7865
/cc @satnam6502 @a-robinson

[2015-05-06 22:58] lavalamp commented on #7777
Any reason not to do this by default?

I think I need something like this to finish up #4567.

[2015-05-06 23:01] fabioy opened #7866 "The node status' LastHeartBeatTime should be set in the master"
It looks like the NodeCondition's LastHeartbeatTime field is set from the kubelet (see "tryUpdateNodeStatus()" in pkg/kubelet/kubelet.go). This may give a greater variance if different nodes have different clocks times. This should be changed to be set at the master at the moment it receives the node status update.

Overall this may not be that big of a deal, but some monitoring decisions may be b

[2015-05-06 23:01] mbforbes commented on #3135
@roberthbailey No issue for master upgrade tests yet; was leaving that to @zmerlynn given our node/master split, though happy to hash out a draft when I've got a few cycles.

[2015-05-06 23:04] liggitt commented on #7777
The issue isn't the user (or token/secret, which #7101 will help auto create), it's connecting it to an authorizer rule that grants access to that user. The authentication layer is (appropriately) distinct from the authorization layer. There isn't dynamic modification of authorization rules in place yet.

[2015-05-06 23:09] satnam6502 commented on #7865
@mr-salty
The actual log file used by our configuration is `/var/log/google-fluentd.log` -- what does that file say?
The setup runs Fluentd as part of the setup process -- and I've noticed that this crashes and I've mentioned this to @mr-salty
For us this does not matter because we re-run Fluentd with the Kubernetes config.

[2015-05-06 23:09] a-robinson commented on #7865
The crash logs are actually benign. My understanding is that they're just an unfortunate consequence of how the agent is installed in the Dockerfile. It's being started with the default google-fluentd configuration, before we manage to replace the config with a kubernetes-specific one and restart it. I also noticed this a while back (#5523). While it's benign, we should definitely try preventing t

[2015-05-06 23:10] #7818 closed

[2015-05-06 23:18] mbforbes commented on #6086
(again, sorry, I'll try to do a quick cleanup of these GitHub issues soon)

Our upgrade plan for v1.0 is now vastly simplified. If I understand correctly, we do need to be able to query the versions of the nodes, but we:

- don't care about a version tuple (we're just using the binary version)
- don't need to do complicated logic to determine what version they "should" be as it'll just be requeste

[2015-05-06 23:21] bgrant0607 commented on #7835
See also #4910

We need some kind of plugin in apiserver to at least validate requests for each volume type. This code should also set defaults, including resource requirements.

We need some kind of plugin in kubelet to implement the volume type. This code should be able to publish capacity for such resource requirements.

I suggest using a different resource name for each volume type: GCEPersist

[2015-05-06 23:22] mbforbes commented on #7256
Yep, this is v1.0-post. I've got a rough plan for testing our v1.0 plan—path 2, provision new nodes—that I can open in a separate issue to track.

For the short term, I'll just say: thanks for the comments, all! Looking forward to addressing after 1.0.

[2015-05-06 23:42] kunchenguid commented on #7826
@ahmetalpbalkan good to know! once Azure fixed this, do we get full networking capabilities with the default azure setup?

[2015-05-06 23:46] a-robinson commented on #7641
Related issues: #7598, #5889, and the discussion on #4855

[2015-05-06 23:51] derekwaynecarr commented on #7856
@lavalamp I thought from prior discussions we did not want to use events as a reliable messaging system to derive status

[2015-05-06 23:56] bprashanth commented on #7866
fyi: https://github.com/GoogleCloudPlatform/kubernetes/issues/6159, https://github.com/GoogleCloudPlatform/kubernetes/issues/6193

[2015-05-06 23:58] bgrant0607 commented on #4710
Re. how to expose this in the API: We now have EnvVarSource. We could create a secret source, with an alternate implementation of how the secret is injected (compared to other env vars).

[2015-05-07 00:03] pmorie commented on #4710
I had thought about doing that @bgrant0607 but i think there are sundry
issues w/ secrets as envs in general. Will try to find time to articulate
them tomorrow.
On Wed, May 6, 2015 at 7:58 PM Brian Grant <notifications@github.com> wrote:

[2015-05-07 00:12] ghodss opened #7871 "There should be a getting started guide for setting up Kubernetes from scratch"
There should be a guide on how to take Kubernetes and run (and optionally package) it yourself. The current [Getting Started Guides](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides) mostly instruct on how to use cluster/kube-up.sh or give you a preconfigured set of steps, instead of teaching how to set up a Kubernetes cluster from scratch for your own envi

[2015-05-07 00:17] bgrant0607 commented on #7018
Load balancer changes: #7447

[2015-05-07 00:19] lavalamp commented on #7856
@derekwaynecarr I think it's a bit different if we're doing it in the master as opposed to joining events & objects externally.

[2015-05-07 00:24] davidopp commented on #7856
I've mentioned my opinion this before, but to recap...

I don't have a problem with what is being suggested here, but I think we should recognize the tradeoff. Everything I've ever read about job management, or heard from users, suggests that users are going to reason about the state of their pods (and jobs) as being part of a state machine. So, we have a choice: we can make the state machine expl

[2015-05-07 00:30] thockin commented on #7856
I know I am contrarian here, but I don't think we will ever prevent users
from thinking of things in terms of state machines - it's a natural mental
model.  And I don't think that's bad.

I agree that enumerated states are not extensible, but I still argue that
there exists an abstract state machine that every such object naturally
goes through that is vague enough to never be extended (or very ve

[2015-05-07 00:33] lavalamp commented on #7856
Since we're enumerating cons, let me add one additional reason to retain some sort of pre-cached state in status: it makes it easy for clients to set a fieldSelector and watch for their desired state.

[2015-05-07 00:34] thockin commented on #7871
Each of the existing docs started that way :)  I think it would be a good
doc, but you'll have to be clear where there are choices and you are just
choosing one option (e.g. net)

On Wed, May 6, 2015 at 5:12 PM, Sam Ghods <notifications@github.com> wrote:

[2015-05-07 00:44] bprashanth opened #7874 "kubelet_test: TestSyncPodEventHandlerFails, fails"
I've seen this on occasion on shipppable:
https://app.shippable.com/builds/554aafcfff724e0c00e4d2d2

[code]

[2015-05-07 00:44] bkeroackdsc commented on #7717
@bakins Thank you. I just wanted to document here for anyone that comes here from searching that the procedure above works fine in AWS. I've tested with both internal and external (internet-facing) ELBs and it works for the test pod.

[2015-05-07 00:45] #7850 closed

[2015-05-07 00:59] markturansky commented on #7835
@bgrant0607 regarding validation, there is validation in the API but that doesn't tell a user they can't request an EBS volume when running in GCE.  What kind of plugins were you referring to that would validate each volume type?

Distinct resource names is a good idea.  I can use the constants from the volumes, either through duplication or the volume plugins can be exposed to the apiserver.  Thi

[2015-05-07 01:12] mbforbes commented on #7871
This strikes me as:

0. a great idea
0. difficult to keep synced with the deployment process as it evolves
0. difficult to make clear because of branching options (as Tim mentioned)

I don't think 2 and 3 outweigh 1, though, and at the very worst case it would be an extremely useful blog post to have, at least for a snapshot of where Kubernetes is now.

[2015-05-07 01:17] thockin commented on #7856
Quick writeup of something Leo (another Borg person) put on the table.

Instead of something like a single field "Phase" being one-of (Pending,
Running, Succeeded, Failed), turn it 90 degrees.   Make 4 fields "Pending",
"Running", "Succeeded", "Failed" each of which is of type "outlook" (his
word).  An outlook is one-of (Yes, Eventually, Never).

The nugget of clever here is that mostly people wan

[2015-05-07 01:56] hurf opened #7877 "Need correct error message for v1beta1 template"
When using v1beta1 template, if there're errors occured, k8s will return error messages in other format. For example, if `containerport` in the v1beta1 template is out of range, the error message will say `targetport` is invalid.

In the case above, at first I was confused for I looked into the whole template and didn't find a field named as `targetport`. After I looked into the code I found it's

[2015-05-07 02:02] bgrant0607 commented on #7438
Sorry I've been MIA on this.

One concern I have with flipping the reference direction: We need a protocol for removing or recycling a PV once a PVC on it has been deleted. We don't want to immediately make it available for re-binding. Where would that information be recorded? Status isn't sufficient, since status must be observable from somewhere else. With pods, this information is in the contai

[2015-05-07 02:03] bgrant0607 commented on #7018
Any PV/PVC changes: #7438.

[2015-05-07 02:07] mr-salty commented on #7865
Is it just coincidence that the date stamps in that log (2015-03-16) are the same as the date of #5523 or is it the case that those errors are generated and persisted when the container is created?  In any case, I agree we should prevent that from happening but it should not affect anything operationally... although it that is the case it begs the question of where the rest of the logs went - I've

[2015-05-07 02:10] jayunit100 commented on #3118
@mwielgus  okay, about to put in the PR, tested a few times and refined a few minor things.... I have one question - why did you use a `volumeMount` ? It seems unnecessary unless you're planning on having other containers in the pod?

[2015-05-07 02:51] paddyforan commented on #7865
It's empty. But there's /var/log/google-fluentd/google-fluentd.log, which is where the paste from above comes from.

That makes sense to me.

They're being written to stdout. I can SSH to the minion and view them with `docker log`. Here's the only output generated by my containers (e.g., not kubernetes output, and not a GCE event):

![screen shot 2015-05-06 at 10 45 49 pm](https://cloud.githubuser

[2015-05-07 02:56] paddyforan commented on #7865
Also, I'm running `gcr.io/google-containers/fluentd-gcp:1.2`

[2015-05-07 03:04] bgrant0607 commented on #7856
A "state" abstraction pushes the decision logic onto the user, as shown by my switch statement.

[2015-05-07 03:08] paddyforan commented on #7865
So, guess who checked his project configuration and found logging turned off?

That, uh

that would be a good explanation for why google cloud logging wasn't storing logs, huh? Helps if you tell it to store them.

![clever](http://gifs.paddy.io/cleverness.gif)

![oops](http://gifs.paddy.io/dishonor.gif)

Sorry for the ruckus. Problem exists with user, not with software.

[2015-05-07 03:08] #7865 closed

[2015-05-07 03:09] bgrant0607 commented on #7856
@thockin Yes, the 4 fields is similar to my conditions proposal, just more ad hoc and with less information.

[2015-05-07 03:11] bgrant0607 commented on #7856
I proposed more possible Conditions, analogous to Leo's proposal, here: https://github.com/GoogleCloudPlatform/kubernetes/issues/6951#issuecomment-94135794

[2015-05-07 03:13] bgrant0607 commented on #7856
@lavalamp We need to extend field selectors to be able to select on conditions. That's a subset of #1362.

[2015-05-07 03:32] mr-salty commented on #7865
Glad that this was resolved although there should be some error output from fluentd to help diagnose the problem, and it sounds like it may not be as apparent as it could be.  I tested as many error cases as I could think of and made sure the logging was reasonable and [documented](https://cloud.google.com/logging/docs/install/troubleshooting#trouble_installing_the_logging_agent), but we could wor

[2015-05-07 03:42] thockin commented on #7856
I meant that these would work WITH conditions not instead of, in which case
they offer more information.  Conditions could be added by any entity (are
they purely additive or can one entity set and another clear?) and would
carry richer details.  The outlooks would be curated and small in number,
for programmatic consumption, derived (primarily?) from Conditions.

On Wed, May 6, 2015 at 8:09 PM, B

[2015-05-07 03:53] bgrant0607 commented on #7856
Conditions aren't annotations. They can't be added by just any entity. They should be curated.

[2015-05-07 03:53] jayunit100 commented on #3118
okay, heres the PR ! #7878

[2015-05-07 03:53] bgrant0607 commented on #7856
And conditions are for programmatic consumption. For instance, the Ready condition is used to remove pods from Endpoints.

[2015-05-07 03:59] colemickens opened #7879 "CoreOS + Azure + Weave Getting Started Guide questions"
I'm trying to discover the answers to some of these myself:

1. How do I connect my `kubectl` running locally on my machine, to the cluster that I've created with the CoreOS+Azure Getting Started Guide?

2. How does external routing work? At the end, there's only a single endpoint added and it's added to a specific minion. Does the proxy running on that single minion distribute load across all the

[2015-05-07 04:02] thockin commented on #7856
Have you worked out the mapping between Unkown, Pending, Running, Failed,
Success and conditions?

I still don't feel like I understand how to handle the case of a Service
being Pending while LB and Endpoints setup are happening.

On Wed, May 6, 2015 at 8:54 PM, Brian Grant <notifications@github.com>
wrote:

[2015-05-07 04:18] bgrant0607 commented on #7856
Running would be replaced by the Active condition (True/False): https://github.com/GoogleCloudPlatform/kubernetes/pull/7868#issuecomment-99684189.

Above I proposed a Terminated condition. The Reason associated with that condition would indicate Succeeded vs. Failed, as described above.

Pending could be derived from not Active and not Terminated for older API versions. I'm not sure we need a more

[2015-05-07 04:28] bgrant0607 commented on #7856
Why can't the service just have a Ready condition? Because no controller is responsible for updating its status currently? Pods have multiple preconditions from multiple components: they must be scheduled, and their images must be pulled.

[2015-05-07 04:30] lavalamp commented on #7856
Can we get a "deleting" (or deleted) condition? Can we get it for all objects?

[2015-05-07 04:31] yifan-gu commented on #7874
Seems to have the same reason as #7788

[2015-05-07 04:37] bgrant0607 commented on #7856
Deleting would be analogous to Vacating. I'm not opposed to a condition for that, though as discussed on #6951 it could be inferred uniformly for all objects from metadata.

Whether we want to make at least certain conditions uniform for all objects is another issue. As discussed in https://github.com/GoogleCloudPlatform/kubernetes/issues/1899#issuecomment-93879097, #6487, and elsewhere, orchestra

[2015-05-07 04:42] yifan-gu commented on #7788
Seems that the first `list` comes from `GetPods()` in here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1113

The second one comes from `GetPods()` in here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/pod_workers.go#L93

The third one comes from here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/ku

[2015-05-07 05:47] derekwaynecarr commented on #7843
Is it possible we could let the user specify the columns to render in a table, and then filter out tables whose header did not match?  I agree the output is out of control now with long pod names and long image names.

[2015-05-07 05:51] derekwaynecarr commented on #7843
For example, when we register column headers

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L265

we can optionally map a column header to a shortname, and then let user's specify an explicit set of columns instead of the default set on any table listing command.

for example,

kubectl get pods --columns=pish

would render

pod, ip, status, host colu

[2015-05-07 05:52] derekwaynecarr commented on #7843
/cc @deads2k @smarterclayton have any thoughts here?  I agree our default output is getting crazy wide.

[2015-05-07 06:02] thockin opened #7881 "Clean up all of our Dockerfiles"
We should make them all FROM either scratch, busybox, or debian:jessie (or ubuntu:14.04 but it is bigger).  I am sad that there is not an ultra-small "just enough debian to run apt-get install" base.

[2015-05-07 06:08] thockin commented on #7881
it looks like debian:jessie is 50MB bigger than wheezy.  Sigh.

[2015-05-07 06:34] madhuri-rai07 opened #7882 "ReplicationController creation with replicas '0' should fail"
$ kubectl get rc frontend -o json
{
    "kind": "ReplicationController",
    "apiVersion": "v1beta3",
    "metadata": {
        "name": "frontend",
        "namespace": "default",
        "selfLink": "/api/v1beta1/replicationControllers/frontend?namespace=default",
        "uid": "d8eede77-f47e-11e4-97c8-fa163ef2733e",
        "resourceVersion": "9",
        "creationTimestamp": "2015-05-07T06:03:

[2015-05-07 06:40] yifan-gu commented on #5896
Fixed by #6608

[2015-05-07 06:40] #5896 closed

[2015-05-07 06:54] nikhiljindal commented on #2057
Proposal:

If the requested path is not a valid API path, but it is a prefix of a valid API path, then the apiserver should return all API paths that have the requested path as a prefix. Else apiserver can return a 404 resource not found.
For ex:
On accessing /api/v1beta3/, server should return all valid paths with /api/v1beta3 as prefix.
On accessing /api/v1beta3/pods/, the expected GET API opera

[2015-05-07 06:54] bgrant0607 commented on #6979
@abonas I agree, though I'm not sure we have time to make the change soon.

Since all the "states" contain a subset of the fields of ContainerStateTerminated, I think it would be simpler to essentially use those fields (some renamed), plus a status field.
[code]

[2015-05-07 06:56] nikhiljindal commented on #7882
Sounds reasonable to me.
@bgrant0607

I believe we need to update https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L1090 to fix this.

[2015-05-07 06:57] hurf opened #7884 "Problem on updating pods with file"
I created a pod with 'pod1.yaml' under `examples/walkthrough` directory by `kubectl create -f pod1.yaml`,
then I modified 'pod1.yaml' changing `image: nginx` to `image: my/nginx`, then I tried to update the pod with `kubectl update -f pod1.yaml`
An error message returns which says:

    Error: Pod "www" is invalid: spec: invalid value '{Volumes:<nil> Containers:[{Name:nginx Image:my/nginx Command:

[2015-05-07 06:57] bgrant0607 commented on #7018
We're very inconsistent on naming of time-related fields -- search for util.Time.
* FooTimestamp: CreationTimestamp, DeletionTimestamp, FirstTimestamp, LastTimestamp
* FooTime: LastHeartbeatTime, LastTransitionTime
* FooAt: StartedAt, FinishedAt

"Time" seems best.

[2015-05-07 06:59] bgrant0607 commented on #7018
Speaking of which, there's also the proposal to use time.Duration: #6013. That's not just a rename, though.

[2015-05-07 07:06] bgrant0607 commented on #7856
An example where the current PodPhase Running was found to be confusing: #7868.

An example where "Pending" was confusing, or at least insufficiently informative on its own: https://github.com/openshift/origin/issues/2048.

[2015-05-07 07:24] elsonrodriguez opened #7886 "CoreOS Getting Started Guide Issues"
Minor issues with https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides/coreos/cloud-configs

1) The examples rely on cloud vendor specific variables ($private_ipv4 )
2) The wget command for kube-register always re-downloads

[2015-05-07 08:01] davidopp commented on #7438
/subscribe

[2015-05-07 08:01] madis commented on #7828
I created a pull request that requests & assigns Elastic IP to cluster master instance. https://github.com/GoogleCloudPlatform/kubernetes/pull/7888

It allows stopping & starting cluster on AWS EC2 without certificate errors (because the master ip changed and certificate is for the old IP).  If this functionality fits the goals of the project, please send feedback, I'll fix if anything wrong :)

[2015-05-07 08:09] #7767 closed

[2015-05-07 08:13] madis commented on #7359
The problem doesn't occur anymore. What's the procedure? Should I close the issue?

[2015-05-07 08:27] davidopp commented on #6951
When Kubelet sees the pod deleted from etcd it sets a local timer equal to the grace period, so it should always give the right grace period.

[2015-05-07 09:01] #7359 closed

[2015-05-07 09:43] pires commented on #7886
LGTM

[2015-05-07 09:45] rsokolowski opened #7890 "FUSE volumes"
I have an use-case where I would like to mount Google Cloud Storage (GCS) bucket (and a directory in that bucket) in my container and use it as a regular FS. Currently, it seems doable using s3fs-fuse (https://github.com/s3fs-fuse/s3fs-fuse) - thanks @brendanburns. It would be great if GCS was supported as a first class Volume in Kubernetes.

[2015-05-07 10:07] ggarson opened #7891 "Exec Readiness probe usage"
Hi,

i have a lot of troubles for using Readiness exec probes into my replication controller.

To explain the context, I'm deploying mysql pods by a replication controller and before the pods is added to the service associated to it, I need to setup everything well. After I use the service to reach one of the cluster members and retrieve by mysql mechanisms all informations needed. So all pods add

[2015-05-07 10:21] wojtek-t commented on #7561
I've seen another failure of the first type:
[code]

@bprashanth Do you think that #7869 can help for that?

[2015-05-07 10:23] wojtek-t commented on #1625
+1 for @roberthbailey - I think we already have a bunch of different metrics. In case we find something is missing we can file another issue.

[2015-05-07 11:42] jimmidyson commented on #3764
This would be great to see. Has there been any movement on this?

[2015-05-07 11:55] joeygibson commented on #7683
I have the same issue on my Mac, running OSX 10.10.3. This is what I see immediately after doing this:

[code]

[code]

Here's the hosts file inside master:
[code]

And here's what I get for the six commands listed in the Setup section of https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md

[code]

[2015-05-07 12:25] WIZARD-CXY opened #7892 "How does bare metal machine use token"
@erictune
As https://github.com/GoogleCloudPlatform/kubernetes/pull/5470/ and https://github.com/GoogleCloudPlatform/kubernetes/issues/5921 said. I agreed with your idea to use secret to enhance the security of the internal cluster.But the secret are created for gke using saltstack . I don't know how to generate it for a bare metal ubuntu cluster.Now when I want to deploy skydns with 0.16.0 k8s, i

[2015-05-07 12:42] markturansky commented on #7438
@bgrant0607 I see what you mean.  With PV.Spec.ClaimRef, we know the volume was once bound.  If that claim does not exist, we know the volume has been released.  We can build Status from that.

Conversely, if we move the bind to claim.Spec.VolumeName and the claim is deleted, we can't rebuild PV's Status should that data be lost for some reason.

[2015-05-07 13:33] Andre-Freitas commented on #7844
I have found the problem - same of labels defined to that rc where being used in another rc and that was causing the pods to be always spaning in pairs.

[2015-05-07 13:33] #7844 closed

[2015-05-07 14:39] dermusikman opened #7895 "Documentation on KUBE_ADMISSION_CONTROL, all configuration variables?"
As the title suggests, I can find no documentation on KUBE_ADMISSION_CONTROL (from the apiserver configuration), and I don't know golang well enough to determine the answer (yet) from the source code. Google search yields only 3 hits today, and all of them are copies of the configuration file itself with no commentary.

As an admin, I'd be grateful for simple documentation on all the variables, th

[2015-05-07 14:42] bakins commented on #7717
@bkeroackdsc  "the procedure above" - which procedure? Just want to be sure ;)

Glad it worked!

[2015-05-07 15:26] derekwaynecarr commented on #7895
I agree a document is needed, will look to put something together describing what each option does.

[2015-05-07 15:28] dermusikman commented on #7895
Thanks! :)

[2015-05-07 15:33] derekwaynecarr commented on #7895
That being said, I recommend we scope this issue to just documentation being needed, and if you need assistance with your other topic, treat it as a separate issue.

[2015-05-07 15:35] dermusikman commented on #7895
Quite reasonable! If you think that documentation will be added before the weekend, I'll wait until that's available and see if I can figure it out myself; otherwise, I'll make a separate issue for that.

[2015-05-07 15:37] bprashanth commented on #7561
Maybe, but it looks like the controller finished creating 3000 pods and the test moved to the stage where we started checking for pod phase. After that something happened that caused another pod creation, so this might be something else. Will try and repro.

[2015-05-07 15:53] quinton-hoole commented on #7843
Note that there is tons of prior art to draw on here.  Take a look at the man pages for 'ps', 'ls' and many other standard *NIX utilities.  There's probably a posix standard for this :-). I'm not terribly hung up adding the ability to add or cull columns (it would be nice, but not  super-critical) as it's easy enough to pipe through 'cut', 'awk' or similar to do that for you.

What bothers me more

[2015-05-07 15:56] #6285 closed

[2015-05-07 16:01] soltysh commented on #4789
My use case is to pass a SSH key through secret, with that I'm hitting too broad access permissions. SSH requires its key to be accessible only by the user owning those keys. Simple fix is possible, if I change in `pkg/volume/secret/secret.go` ` SetUpAt` to do `ioutil.WriteFile(hostFilePath, data, 0400)` it'll work, but just because I'm using root user. What if I'll try to user different user? The

[2015-05-07 16:07] smarterclayton commented on #7843
The flip side argument is to make the default output work for most users in ~100 columns and make the full display visible in more.

[2015-05-07 16:27] mbforbes commented on #7879
+cc @ahmetalpbalkan @kunchenguid

[2015-05-07 16:30] dchen1107 commented on #1535
subscribe myself

[2015-05-07 16:32] jayunit100 opened #7898 "make boilerplate more flexible"
right now, boilerplate forces all sh scripts to be bash, from the `hooks/boilerplate.sh.txt` file,

[code]

So the grep statement needs to be loosened up a little, i guess, to allow the top line to vary... maybe while we're at it we can consolidate all boilerplate files into a single string or regex

cc @eparis

[2015-05-07 16:34] bgrant0607 commented on #4789
0400 seems like a reasonable default for secrets.

In general, enabling permissions to be set on generated volumes (as opposed to attached or exposed volumes) would be useful.

[2015-05-07 16:34] #7474 closed

[2015-05-07 16:35] mbforbes commented on #7892
+cc @roberthbailey

[2015-05-07 16:37] mbforbes commented on #7877
+cc @bgrant0607 is this an issue beyond v1beta1?

[2015-05-07 16:39] mbforbes commented on #7881
huge +1 for the "just enough debian to run apt-get install" base. This has confused me about Docker containers since I first attempted to understand them.

[2015-05-07 16:42] mbforbes commented on #7898
I think this might be intentional (or at least a good side-effect)? That is, given the quantity of scripts we have in Kubernetes (Too Much&#8482;), we want them to be a consistent language so we don't have to support shell variants? I could be wrong here.

[2015-05-07 16:50] jayunit100 commented on #7898
I fixed this in #7878  ... some docker files use sh scripts, after all ?

[2015-05-07 16:55] #7886 closed

[2015-05-07 16:58] jayunit100 commented on #7898
https://github.com/GoogleCloudPlatform/kubernetes/commit/c192cfb3deda6633cb19104b2a20b25add67198b here's my proposed fix .  just a two liner.  and im happy to also implement logic which forces all files to be `bin/bash` if thats something we want to enforce?

[2015-05-07 17:06] mbforbes commented on #7898
Those who worked on the boilerplate should probably decide this (@eparis and @lavalamp)

[2015-05-07 17:12] mbforbes commented on #7843
+cc @goltermann

[2015-05-07 17:17] bprashanth commented on #7874
Closing as a dupe of #7788

[2015-05-07 17:17] #7874 closed

[2015-05-07 17:17] nikhiljindal commented on #7877
This is because the validation happens on internal structs. We have talked about doing versioned validation which should fix this: https://github.com/GoogleCloudPlatform/kubernetes/pull/4575#issuecomment-75172955

Closing this as dup of https://github.com/GoogleCloudPlatform/kubernetes/issues/3084

[2015-05-07 17:17] #7877 closed

[2015-05-07 17:19] nikhiljindal commented on #3084
From https://github.com/GoogleCloudPlatform/kubernetes/pull/4575#issuecomment-75172955, It was suggested that we can do versioned validation which will fix this.

[2015-05-07 17:36] markturansky commented on #7438
If @bgrant0607 can convince @thockin that the current bind is correct, then the PV framework can be ungated.  It is already merged with the bind on pv.Spec.ClaimRef.

[2015-05-07 17:43] nikhiljindal commented on #7882
The default value of replicas is 0 right now, so we will have to update the default value to 1 before making the above change: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/defaults.go#L29

[2015-05-07 17:43] brendandburns commented on #7587
I think that we should use status code, now that it is supported by Docker.

We require Docker 1.4 at this point as well (and we'll soon require 1.6 for PreStop hooks to work).

@vishh are you working on this?  If not, I will do it and send a note to the mailing list about the behavior change.

[2015-05-07 17:49] vishh commented on #7587
@brendandburns: you can take this.

[2015-05-07 17:49] quinton-hoole commented on #7843
@smarterclayton Yes, that's not the flip side, I don't think.  It's what I was trying to propose :-)

Making the default output not wrap in ~100 columns is slightly challenging.  Even if the default output only included the absolutely crucial fields/columns, those can pretty easily exceed 100 chars right now.

More to come shortly...

[2015-05-07 17:51] eparis commented on #7898
I think that's I'm ok with the change, but I generally dislike any script that starts with /bin/sh.  Even if /bin/sh == /bin/bash on 99.9% of systems, there's got to be some nutter out there who changes the symlink. Which is what makes me like the "force /bin/bash" idea....

[2015-05-07 17:54] nikhiljindal commented on #7884
Not sure why patch is failing but update does require all the fields.
To update your object:
* Run ```kubectl get pods www -o yaml > /tmp/pod1.yaml```
* Modify /tmp/pod1.yaml as you want and then
* Run ```kubectl update -f /tmp/pod1.yaml```

[2015-05-07 17:54] smarterclayton commented on #7843
I mean, don't try to do clever detection of width (which we've tried in the past and was complex enough that in the short term just displaying less felt better).  Sorry for not clarifying, realized it was a vague statement.

Display less, require user input to get more.  Don't do terminal width detection (yet).  We know we want to do '-q' so the opposing '-a' or '-v' isn't crazy.

----- Original M

[2015-05-07 17:54] rjnagal commented on #7018
Replication controller default to 1: #6700 - requires breaking change to make the field a pointer.

[2015-05-07 17:56] brendandburns commented on #7494
+1, I agree w/ @mwielgus inspection of the code seems to validate that it is fixed.

I'm closing this.  @davidopp please re-open (and add repro. instructions) if it's still a problem.

[2015-05-07 17:56] #7494 closed

[2015-05-07 18:00] quinton-hoole commented on #7843
To make the discussion more concrete, below are the fields currently included in the default output for get pods, with common field lengths:

NAME - 50
IP - 15
CONTAINER(S) - 24
IMAGE(S) - 80
HOST - 48
LABELS - 64
STATUS - 8
CREATED - 8
MESSAGE - ?

GRAND TOTAL:  314 CHARS

And we want to squash that into ~100 chars.

[2015-05-07 18:01] quinton-hoole commented on #7843
@smarterclayton yes, agreed, start simple.

[2015-05-07 18:11] antoineco commented on #7693
I can take care of it if considered legitimate. I also believe the getting started setups should remain as generic as possible. People can easily adapt them to their needs if they want extra features.

@roberthbailey?

[2015-05-07 18:16] quinton-hoole commented on #7843
So here's a concrete suggestion on what to omit to get from ~320 to ~100 chars.

NAME: Abbreviate from ~50 to 16 chars
IP: as is 15 chars
CONTAINERS - abbreviate to 24 chars
IMAGES - omit
HOST - omit
LABELS - abbreviate to 24 chars
STATUS - as is 8 chars
CREATED - as is 8 chars
MESSAGE - omit

===========
GRAND TOTAL 80 chars

[2015-05-07 18:19] nikhiljindal commented on #7884
Re patch: What you want is a strategic merge patch as described here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#strategic-merge-patch.
Unfortunately, you cant perform a strategic merge patch via kubectl.

[2015-05-07 18:21] smarterclayton commented on #7843
We added message so you could get an at a glance about recent failures - would we roll that into status?  A pod that is restarting frequently is probably more important than labels or created.

----- Original Message -----

[2015-05-07 18:23] quinton-hoole commented on #7843
Sounds reasonable.  The above was intended as a strawman, for people  to argue about :-)

[2015-05-07 18:26] lavalamp commented on #7898
I guess we sometimes use /bin/sh in busybox images... Not too keen on allowing it generally, though. Shell is hard enough without variants.

[2015-05-07 18:27] lavalamp commented on #7898
@jayunit100 Why do you want to make this change?

[2015-05-07 18:29] smarterclayton commented on #7843
You're good at this :)

----- Original Message -----

[2015-05-07 18:29] nikhiljindal commented on #7884
cc @ghodss

[2015-05-07 18:30] bgrant0607 commented on #7882
@madhuri-rai07 Could you please explain why you would like this to fail? Would changing the default to 1 improve your experience? It's something we plan to do - #6700.

We can't make 0 invalid, however. We need to support that for a number of use cases, such as scaling down to 0 and rolling updates.

[2015-05-07 18:32] #4259 closed

[2015-05-07 18:35] bgrant0607 commented on #2922
This is subsumed by other issues.

[2015-05-07 18:35] #2922 closed

[2015-05-07 18:36] bkeroackdsc commented on #7717
Apologies for being unclear.

The following procedure worked to manually stand up a working k8s cluster on CoreOS in AWS (existing VPC and subnet(s)):

1. Created security group for k8s, allowing all traffic among members of that group, and SSH from our management machines.
2. Created subnets for the k8s cluster(s) in an existing VPC. One subnet per AZ, with the idea that each subnet will hold exa

[2015-05-07 18:49] ArtfulCoder commented on #7472
To allow for entries 2,3 simultaneously, we could convert nsFoo into a folder and then have a file called nsFoo_. That way, in folder nsFoo, we could have svBar file to support entry no. 2, and a nsFoo_ file to support entry no 3.

When a query is made for svBar.nsFoo.services (entry 2), it will be answered correctly.

But, when a query is made for nsFoo.services, it would end up returning 2 answe

[2015-05-07 18:52] justinsb commented on #7828
Question for you @madis : are you stopping the instances using cluster/kube-down.sh, or by manually stopping them.  Separately from the elastic-ip issue, it sounds like there may be a problem here (I would expect kube-down should remove the no-longer-valid-configuration)

[2015-05-07 18:55] timothysc commented on #3118
awesome work guys!

[2015-05-07 19:01] jeffmendoza commented on #7179
Fixed with #7848

[2015-05-07 19:01] mbforbes opened #7903 "e2e test: ensure volumes survive when pods die"
Use case: we upgrade nodes by tearing them down (deleting the instances) and bringing up new ones. Do data on the nodes survive?

This might go beyond just 'volumes' if there are other ways that data should persist on kubernetes—anything that might rely on the presence of a node.

+cc @davidopp

[2015-05-07 19:02] timothysc commented on #6951
I'm going to close *this one and join the herd on #7856

[2015-05-07 19:02] #6951 closed

[2015-05-07 19:23] derekwaynecarr opened #7906 "Kubelet is reporting Node cpu capacity as negative value"
I have some reports of a Node reporting a a resource capacity for cpu as a negative value.

[code]

Any idea why cpu could report as a negative value?  Is this an expected normal outcome?  In its current state, it prevents any pods from being scheduled to that Node.  Tips on how to debug further are appreciated.

@dchen1107 @vmarmol - any ideas?

[2015-05-07 19:56] rjnagal commented on #7906
Can you check machineInfo on Cadvisor or kubelet on the node?

[2015-05-07 20:03] vmarmol commented on #7906
a.k.a: `<host>:4194/api/v1.3/machine`

[2015-05-07 20:04] #6213 closed

[2015-05-07 20:08] bprashanth commented on #7815
So I kept running into this situtation and decided to install atop on all my nodes. Looks like elasticsearch was consuming quite a bit of cpu and ram making the entire system dead slow. It only happens after 1,2 runs on a large cluster.
![atop_oom](https://cloud.githubusercontent.com/assets/10927820/7524768/29f7e83e-f4b9-11e4-8e7f-33baba9f2f10.png)

Here are the logs. Zooming in on the lifecycle o

[2015-05-07 20:12] derekwaynecarr commented on #7906
@vmarmol

[code]

[2015-05-07 20:13] derekwaynecarr commented on #7906
@vmarmol

[code]

[2015-05-07 20:21] bprashanth commented on #7815
Fyi ^ is with 30 pods per node

[2015-05-07 20:24] yujuhong commented on #7815
I ran into the same issue this morning. I left my cluster to run density test overnight and found the kubelets in the crash loop this morning. I thought I'd provide some data points, but be warned that I ran the 100 pods per node density test, so the system was more stressed.

There were 288 containers on that node (which was more than I expected given the test created only 100 pods per node).
Eve

[2015-05-07 20:24] dchen1107 commented on #7906
It is a bug in cAdvisor side. @vmarmol I am assigning it to you :-)

[2015-05-07 20:26] mbforbes commented on #7903
Actually, closing as duple of #6084 (which I've updated to clarify is a test).

[2015-05-07 20:26] #7903 closed

[2015-05-07 20:28] mbforbes opened #7912 "Node upgrades: GCE instances start with only common metadata"
Move the metadata to the MIG template (not instance-specific).

[2015-05-07 20:29] derekwaynecarr commented on #7906
@vmarmol

here is contents of /proc/cpuinfo

[code]

Pertinent pieces of a log:

[code]

[2015-05-07 20:31] mbforbes commented on #6087
This is theoretically complete and upgrades are unblocked, though this needs to be verified.

[2015-05-07 20:31] bgrant0607 commented on #3764
@jimmidyson What would you like to see?

We support Docker versions that don't have labels support, so we can't depend on it yet.

[2015-05-07 20:33] guoshimin opened #7913 "getting-started-guides for coreos not working"
It seems "\<master-private-ip\>" in master.yaml needs to be replaced with the actual IP as well, whereas the current documentation says to only do the substitution for node.yaml. On the master I'm getting the following in journalctl:

[code]

[2015-05-07 20:34] derekwaynecarr commented on #7906
Machine is AWS instance if that matters....

[code]

[2015-05-07 20:35] mbforbes opened #7914 "test: ensure node upgrades between k8s versions work"
This is blocked by using only MIG templates #7912 and a mechanism to do updates #6088.

Overview:

- this needs a separate Jenkins job to run continuously on a different cluster (shouldn't be part of e2es yet because of version skewed testing)
- as a minimum bar, this should test only from the latest released version to head
- as a minimum bar, this should run e2es **after** the upgrade happens

[2015-05-07 20:38] rjnagal commented on #7906
We build the topology from system/cpu info. I think we can return partial topology information and ignore caches if its not present. This isn't a recent change though. Is it happening on just a single machine?

I'll file a cAdvisor issue.

[2015-05-07 20:39] davidopp commented on #1625
IMO this issue isn't finished. Maybe we can move it out of 1.0, but there is a long list of metrics that we don't have yet that will be useful for debugging production clusters (for example see my earlier comment in this issue:
https://github.com/GoogleCloudPlatform/kubernetes/issues/1625#issuecomment-96990032
)

I'd rather not file individual issues right now as that will just explode the number

[2015-05-07 20:41] jayunit100 commented on #7898
@lavalamp simply because its the right thing to do.

- There are easy workarounds, BUT
- `verify-boilerplate.sh` shouldnt determine what shells we allow.

HOWEVER i *totally* agree with eric, that we should enforce scripting types - but just not in verify-boilerplate.sh.

- shall we create `hack/verify-misc.sh` or something of the sort which verified miscellaneous things like using bash wherever p

[2015-05-07 20:43] derekwaynecarr commented on #7906
Can you link the referenced issue once created?

[2015-05-07 20:43] jdef commented on #7846
We want this for ports that the proxy will listen on because that consumes
host port resources.
The k8s-mesos integration is already handling accounting for pod host
ports, allocating them from mesos resource offers. The next biggest
"abuser" (allocating ports outside of resource offers) is the proxy.

Also, we can we label this "mesos" (port allocation is not mesos specific
concept, but we sure d

[2015-05-07 20:44] dchen1107 commented on #7815
@bprashanth and @yujuhong Thanks for the detail information. I looked at this particular issue along with several similar ones.

@yujuhong @vmarmol and I talked about inofify abuse issue. Besides that there are many other issues caused by node overcommit. With the density test, the node is totally overcommited with ram, of course cpu too. Kernel oom killer is triggered, since docker's oom_score is

[2015-05-07 20:45] derekwaynecarr commented on #7906
[code]

[2015-05-07 20:45] jimmidyson commented on #3764
I'd like to see kubernetes metadata in labels, e.g. namespace, pod name, container name, even pod labels too. My use case is to enrich runtime data (logs, metrics. etc) without having to make API server requests, removing the need to distribute secrets & set up auth to the API server to do this. While I can parse the container name to get a lot of this info, this is fragile, dependent on an implem

[2015-05-07 20:47] derekwaynecarr commented on #7906
[code]

[2015-05-07 20:51] bgrant0607 commented on #3764
Understood. Yes, we want to enable that. I wouldn't use Docker labels, though. See also #560.

[2015-05-07 20:53] vmarmol commented on #7906
Re-assigning to @rjnagal since he's working on google/cadvisor#697

[2015-05-07 20:54] lavalamp commented on #7898
I guess I don't really see the point in splitting one verification script into two absent an immediate use case.

[2015-05-07 20:54] derekwaynecarr commented on #7906
Could be this was caused by getting a Node on EC2 with old hypervisor, and I am the first victim...

http://stackoverflow.com/questions/5264347/sysfs-cpu-information-missing

[2015-05-07 20:59] vmarmol commented on #7815
@yujuhong we do expect multiple inotify watches per container (one per cgroup hierarchy). The limit on these machines is a bit low as well, we should be able to raise that. I'm still curious where the other watches were going to, the tracing makes no mention of them? Maybe they're already in use before the tracing is started. Since it can be reproduced, it would be worth a try to enable this from

[2015-05-07 20:59] rjnagal commented on #7906
That sounds likely. Most of the cache information is there in /proc/cpuinfo. So looks like the sysfs bits are disabled.

[2015-05-07 21:00] eparis commented on #7898
I know the jayunit 'stole' a script for prometheus that was #!/bin/sh and then couldn't use it in kube because of this requirement.  That's over in #7878

we also enforce `#!/usr/bin/env python` in the python boilerplate

I'm not sure I see the value in having a separate new 'verify interpreter' script.  If we agree `always #!/bin/bash` and `always #!/usr/bin/env python` then we should leave them

[2015-05-07 21:01] roberthbailey opened #7920 "validate-cluster.sh doesn't check that nodes are healthy"
I just created a cluster (on GCE) and kube-up.sh finished successfully. I then immediately did a `kubectl get nodes` and noticed that one of the nodes is `NotReady`. I couldn't ssh into the VM and the serial console output has a bunch of lines like:

`May  7 20:54:10 (none) accounts-from-metadata: WARNING error while trying to update accounts: <urlopen error [Errno 101] Network is unreachable>`

(

[2015-05-07 21:01] vmarmol commented on #7815
@yujuhong what were the processes registering watches btw? You can use the command I mentioned before for @lavalamp. This prints out what FDs are being used for inotify watches, multiple watches can be registered per FD (Kubelet uses one for all of its watches).

[2015-05-07 21:03] roberthbailey commented on #6087
I just created a GCE cluster, resized my MIG to add 2 new nodes, and then watched the nodes go from `Unknown` to `Ready` and verified that I could schedule work on the new nodes.

[2015-05-07 21:06] roberthbailey commented on #7920
@fabioy and I just discussed this and it's a regression introduced when we removed the node status from the component status endpoint.

Bumping to P0.

[2015-05-07 21:07] bgrant0607 commented on #7843
Our internal dashboard has 28 columns. Even then, the message, if non-empty, is put on a separate line, that spans the columns.

We could potentially push more verbosity to describe.

We have a critical need to surface more container status information. Top dev use cases:
* sort by recency/frequency of failures
* get failure reason, message, etc.
* get URL to access the application status page (vi

[2015-05-07 21:07] benmccann commented on #6087
Yay, that's awesome. The other thing to do here would be to document this procedure. Should we leave this open or file a new bug to track that?

[2015-05-07 21:08] bgrant0607 commented on #7843
I'd like an option to generate CSV for easy spreadsheet import, or a space for easy scripting. As with other unix tools, we should provide a flag to specify the separator.

[2015-05-07 21:09] rjnagal commented on #7906
@derekwaynecarr Can you try this cadvisor image on your machine and check /api/v1.3/machine output:

sudo docker run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=8080:8080 \
  --detach=true \
  --name=cadvisor \
  jnagal/cadvisor:canary

[2015-05-07 21:09] roberthbailey commented on #7912
Can you document which metadata is instance specific (so that we know how much needs to be removed and can discuss where it should go instead)?

[2015-05-07 21:11] lavalamp commented on #7898
Copied stuff should go in third_party somewhere, and then the boilerplate script shouldn't check it.

I think I'll close this, since @eparis seems to agree with me. Please reopen if there's a use case that requires this.

[2015-05-07 21:11] #7898 closed

[2015-05-07 21:14] roberthbailey commented on #6087
Well, right now this only really works on GCE. Maybe we should leave it open until #6949 goes in (which is a more general solution).

[2015-05-07 21:14] lavalamp commented on #7815
Given this discussion and the apparent ease of reproducing, I think this is probably something that needs to be resolved for 1.0.

[2015-05-07 21:16] derekwaynecarr commented on #7906
hmm

[code]

[2015-05-07 21:17] bgrant0607 commented on #7843
I'd omit IP and container names.

I'd omit host and instead translate that to an "unscheduled" status qualifier.

For labels, I'd like a flag to specify which label keys should be made into columns. Other labels should be elided. I imagine users setting default preferences for this. I think we should default the default with a curated set of recommended labels, which we should also support as firs

[2015-05-07 21:19] mbforbes commented on #7912
I'm investigating this now. The instance metadata currently looks identical to the template metadata. (I believe this has changed since I last looked). This is fantastic news.

I now just need to confirm that the instance inherits the template meatadata into its own (rather than just referencing it), to ensure we aren't just writing the same metadata into the template and the instance. I looked th

[2015-05-07 21:20] rjnagal commented on #7906
ah, selinux :(

You'll need to run it with --privileged, I think. @vmarmol who's been dealing with it.

[2015-05-07 21:21] derekwaynecarr commented on #7906
No luck with --privileged either on this box...

[2015-05-07 21:23] vmarmol commented on #7815
We can certainly improve (and that is part of the answer here), but we also need to examine the hardware requirements for our scalability goals. It is probably unreasonable to expect a micro instance to run 100 pods, we need to set some minimum requirements for our stated scalability goals. This is similar to what was done for the master.

[2015-05-07 21:25] mbforbes commented on #7912
Yep, the instances just inherit from the template, and we aren't writing directly. We only update instance metadata directly on a push/script-based upgrade.

[2015-05-07 21:25] #7912 closed

[2015-05-07 21:26] vmarmol commented on #7906
This has to do with SELinux, I think we had to disable it for this to work (some of our mounts are being denied). We're working on a better solution...

This is not a problem in Kubernetes since we don't run Kubelet/cAdvisor in a Docker container.

[2015-05-07 21:28] mbforbes commented on #6088
Working on this now.

[2015-05-07 21:31] jimmidyson commented on #3764
Unless I've misunderstood, #560 seems to talk more about pods knowing about their own kubernetes context, rather than being able to see a container's kubernetes context from the outside. Is there another way to get this? Out of interest, why not Docker labels?

[2015-05-07 21:38] derekwaynecarr commented on #7906
@vmarmol ok, unfortunately, i have managed to kill docker on the box in question, and i cannot get the daemon to restart right now so I am not sure when that box will be available to debug against again.

[2015-05-07 21:43] bprashanth commented on #7815
Fyi none of our other components will withstand 100 pods consistently either (i.e 100nodesx100pods will cause an n1-standard apiserver to act strange). The 30 pods case probably should be handled.

[2015-05-07 21:46] lavalamp commented on #7815
I thought the 100 pod case was just kubernetes/pause containers. IMO we should be able to run 100 of those on pretty small VMs...

[2015-05-07 21:47] jayunit100 commented on #7898
Briefly to clarify : that script was written by one of kube contributors... so it definetly goes in the main src.  I can layer some commits on top to change to bash to retest.

But in any case if we're going to use verify boilerplate to do more than boiler plate... we should at least output the correct error message... right?

[2015-05-07 21:51] vmarmol commented on #7815
While the workload itself may be small, our overhead to manage those may not be (it may well exceed the requirements of the workload). In this case we can see a problem start to form around inotify watches. Docker in this workload also starts using a ton of memory.

We should probably be able to handle this workload on those VMs, but we don't isolate, limit, and account enough to make that handlin

[2015-05-07 21:52] yujuhong commented on #6499
#7910 uses the first token of `uname -n` as the hostname, but reserves the full string of the override if it is given. This should solve the naming conflict problem that this issue targets.

I am closing this issue and let the discussion of node identification continues in #6557.

[2015-05-07 21:52] #6499 closed

[2015-05-07 21:55] vmarmol commented on #7815
Looking at memory, these VMs are ~1.8GB. With 100 tasks we're talking ~18MB per task for:
- The task itself
- Kubelet's overhead
- cAdvisor's overhead
- Docker's overhead
- Log collection
- Kernel's overhead

[2015-05-07 21:58] bgrant0607 commented on #3764
@jimmidyson From what/where do you want to access the Docker labels, and how would it discover them?

BTW, do you know whether Docker labels can be updated? I don't remember what the final state was in that area.

[2015-05-07 21:59] sborenst commented on #7906
I can provide an environment with a similar issue if required.

[2015-05-07 22:01] bgrant0607 commented on #7877
Yes, this will soon be a non-issue for a while, since we're going to eliminate v1beta1. :-)

[2015-05-07 22:02] bgrant0607 commented on #3084
BTW, the reason this is no longer a 1.0 issue is that we're going to ship 1.0 with just one API version: v1. The internal rep. should be close enough to v1 for the messages to not be too confusing in the short term.

[2015-05-07 22:03] rjnagal commented on #7906
The fix is checked in to github.com/google/cadvisor head. Can you build the binary and try?

[2015-05-07 22:04] yujuhong commented on #7815
Yes, those watches were already in use before I started the tracing. I am not aware of any method that would let me inspect those watches. I can enable the tracing at VM startup to monitor the usage.

I did run that command and the results were pretty similar to what Daniel had. Nothing caught my eye in particular.

I agree with @vmarmol that the management overhead grows proportionally with the n

[2015-05-07 22:04] roberthbailey opened #7922 "cluster-info doesn't print the name of the dns service"
[code]

/cc @RichieEscarez @piosz

[2015-05-07 22:04] bprashanth commented on #7815
Well @lavalamp 30 pause pods is also 60 pause pods :)

[2015-05-07 22:09] jimmidyson commented on #3764
So right now thinking of enriching logging data (Docker logs) with Kubernetes metadata. This is currently being done by a pod (fluentd) running on each node, mounting the Docker log dir to watch log files & parsing the container name to extract Kubernetes metadata. Want to extend this to add in labels, etc which are currently only available via a call to the API server. Whether it's Docker labels

[2015-05-07 22:11] thockin opened #7923 "Refactor "create object, launch goroutines" logic all over"
We have a number of different ways of doing this:

[code]

[code]

[code]

We should pick one and switch to it all over.  Relatively easy refactoring.

[2015-05-07 22:12] lavalamp opened #7924 "Flake: TestSyncPodsWithRestartPolicy"
[code]

https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/61521532

[2015-05-07 22:15] lavalamp commented on #7923
Whatever we choose, it should take a ```<-chan struct{}``` for shutdown instructions.

[2015-05-07 22:19] pmorie opened #7925 "Security contexts and volumes"
Now that #7343 is in, we can begin discussing the relationship between SecurityContexts and Volumes.  There are a couple different facets:

1.  Volumes should be validated against their assigned security contexts.  For example, it should be a validation error if a pod which is not allowed to access the host's filesystem contains a hostDir volume.
2.  Files in volumes should have the SELinux contex

[2015-05-07 22:21] pmorie commented on #7855
@vmarmol I think `busybox` is a good idea, with the caveat that the busybox image we use today doesn't have selinux support compiled in, so you cannot `ls -lZ` a file or otherwise work with selinux.  Ideally our busybox binary should be built w/ selinux support.

[2015-05-07 22:30] bgrant0607 commented on #3764
@vmarmol @vishh @satnam6502 How do we plan to deliver labels to fluentd, etc. for logging and monitoring?

[2015-05-07 22:31] eparis commented on #7925
@eparis cc

[2015-05-07 22:36] bgrant0607 commented on #7843
cc @caesarxuchao

[2015-05-07 22:38] a-robinson commented on #7865
I'm glad you got this sorted out!

@mr-salty does the agent log these sorts of errors by default? @satnam6502 has fluentd set to quiet logging such that it only logs errors (presumably to avoid using too much disk), but it'd be nice to make errors like this visible. Would you prefer that we make the logging a little less quiet, or is this something that should be fixed in the plugin to log with a

[2015-05-07 22:42] satnam6502 commented on #7865
The log level is set via a `FLUENTD_ARGS` env variable and currently is `-qq` which only logs errors. I think it would be fine to relax the log level a bit for a while to help find out what is going on.

[2015-05-07 22:42] roberthbailey commented on #7717
@bkeroackdsc I'm glad you figured this out. Marking as resolved...

[2015-05-07 22:42] #7717 closed

[2015-05-07 22:42] erictune commented on #7925
Regarding item 1:  As I have been thinking about it, SecurityContext is about how the container _should_ run, not how it _could_ run.  So, strictly speaking,  the Volume is not validated against the SecurityContext.  Rather, both the Volumes and the SecurityContext are each validated against _something_.   We need to decide what that thing is.  In the earlier SecurityContext proposal (#6287), that

[2015-05-07 22:44] caesarxuchao opened #7930 "rethinkdb example, cannot access UI if deployed on GCE"
I followed the instructions [here] (https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/rethinkdb). Because I'm running my cluster on GCE, so I added a "createExternalLoadBalancer: true" in admin-service.yaml. But I cannot access the UI via the external IP (104.197.76.235:8080), I got a "ERR_CONNECTION_TIMED_OUT" error

[code]

Any suggestion? Thanks.

@nikhiljindal @antmanler

[2015-05-07 22:44] roberthbailey commented on #7693
I'm fine with removing it from the standard configuration as long as it's clear to users a) how to add it and b) when they should add it (it sounds like the answer is when they have a lot of nodes and are using a public registry).

[2015-05-07 22:53] erictune commented on #7925
I'm not sure I understand what is being suggested in items 2 and 3.
I had been assuming that kubernetes volumes work like unix fs mounts.

Pre-existing files, by default, have whatever permissions/owner/group/attributes they have on their underlying storage.   There may be mechanisms to remap/override, but use of them should be the exception, not the rule.

New files inherit attributes from their

[2015-05-07 22:54] roberthbailey commented on #7892
/cc @cjcullen

Today this requires basically manually replicating what salt is doing on GCE (generate a bearer token and add it to a csv file that is loaded by the apiserver). If you give it the same name as we do on GCE, the line in your csv file should look like:

`RANDOM_TOKEN_STRING,system:dns,system:dns`

Then you should be able to use the dns pod as is.

We are hoping that the service accoun

[2015-05-07 22:55] roberthbailey commented on #3135
Since you have the node upgrade issues sufficiently sussed out elsewhere, I'm going to repurpose this for master upgrade tests and re-assign to @zmerlynn.

[2015-05-07 22:55] vmarmol commented on #3764
@bgrant0607 we're also encoding some Kubernetes-metadata into the container labels (like what pod the belong to) so they can either (1) query Docker directly and make the mapping themselves, or (2) ask the Kubelet through the undocumented API. cAdvisor is the first consumer AFAIK and it is doing (1). Heapster is using this data through cAdvisor.

I imagine we do not want to surface Docker labels a

[2015-05-07 22:56] roberthbailey commented on #3135
/cc @satnam6502 (after our discussion today)

[2015-05-07 22:58] mr-salty commented on #7865
Ah, that explains it.  These messages would be warnings, not errors (since we retry) -  I'd prefer turning up the default verbosity but I don't think the issue with fluentd logging too much has been fully resolved so perhaps we should hold off on that.

[2015-05-07 22:59] dermusikman opened #7933 "Can't query apiserver from a pod"
I'm trying to query the api server from within a pod, and I get a connection reset. I can query the API from outside of the Kubernetes cluster, and `kubectl` works fine. I just can't get it from within a pod.

On the hunch that it may have been a permissions issue, I've tried this with the default apiserver settings (`KUBE_ADMISSION_CONTROL="--admission_control=NamespaceAutoProvision,LimitRanger,R

[2015-05-07 23:00] nelcy commented on #7265
@erictune
It works beautifully. Kubelet is registering pod with apiserver and the scheduler is making sure it counts these resources when scheduling pods..

Good workaround.. :)

Thanks

[2015-05-07 23:05] jimmidyson commented on #3764
@vmarmol with 1 are you just mapping from docker container name to kubernetes metadata or is there further info available by querying docker? How do you get a pod's labels by querying docker? I can't see that info available through docker.

[2015-05-07 23:08] vmarmol commented on #3764
@jimmidyson today we just export a label that specifies the pod's full name. We don't push any other metadata to Docker (including labels). I'd be curious what usecases you have in mind. For the most part, we're encouraging contacting the Kubelet to get this type of information instead as the details of how the containers are un are up to the Kubelet. For example, if we use rkt, the Docker labels

[2015-05-07 23:10] bcbroussard commented on #6087
+1 for both documentation and leaving this open until #6949 is ready. Awesome work on this, very excited to try it out.

[2015-05-07 23:21] lavalamp commented on #6084
@mbforbes I thought our rule was going to be that we don't save stuff in volumes-- if you want something to outlive your pod/node, you need to have it in some sort of persistent volume.

[2015-05-07 23:25] jimmidyson commented on #3764
@vmarmol yeah that's what I thought. Agree that docker labels are too low level implementation dependent to use now.

Pod's full name isn't too useful for searching/aggregations. When I'm building dashboards I want to be able to visualise data in different ways, based on different factors: e.g. pod name or labels (show me all the logs matching these pod name or labels), docker image (compare histo

[2015-05-07 23:32] yujuhong commented on #7815
@vmarmol, I enabled tracing in the GCE startup script (which would probably not capture the usage at bootup).

At startup,
[code]
There were 8 docker containers running:
[code]

Tracing only captured the inotify calls from kubelet, docker, and td-agent
 - kubelet: added 75, removed 5
 - docker: added 1, removed 0
 - td-agent: added 487, removed 469 (the numbers continue growing)

From then on, for

[2015-05-07 23:41] thockin commented on #7846
I'm not against this in principle.  Maybe a flag like
`--proxy-port-range=20000-29999` with a default of "0-0" or "".  We need to
reconcile this with the cluster-wide public service ports that @justinsb is
doing.

If you sent a patch to this effect, we could discuss.

On Thu, May 7, 2015 at 1:44 PM, James DeFelice <notifications@github.com>
wrote:

[2015-05-07 23:46] madhuri-rai07 commented on #7882
@bgrant0607 Does creating a rc with replicas 0 make sense? If yes, then it should not fail and if it doesn't so should it should fail with error invalid value.
Other use cases that are being done after rc is created like scaling down to 0 or more make sense to have replicas 0.

And the default value should be 1.

[2015-05-07 23:47] bprashanth commented on #7815
It might also help to keep an eye on how often the kubelet is slow enough to get marked dead by the nodecontroller. At least in my case, the kubelet didn't oom, it re-marked itself ready. Sounds like --parent-cgroup around elasticsearch would help my cluster.

[2015-05-07 23:48] satnam6502 opened #7934 "kube-dns name not reported by kubectl cluster-info"
[code]

[2015-05-07 23:54] #6877 closed

[2015-05-08 00:05] roberthbailey commented on #7934
Dupe of #7922.

[2015-05-08 00:05] #7934 closed

[2015-05-08 00:08] fabioy commented on #7920
Should have been fixed by PR #7932. Closing.

[2015-05-08 00:08] #7920 closed

[2015-05-08 00:25] antmanler commented on #7930
Sorry GCE is blocked in China, I've not tested using createExternalLoadBalancer. I run rethinkdb on one of my local cluster, using publicIPs, and it works well.

if someone else can help to fix this on GCE? 

—
Sent from Mailbox

On Fri, May 8, 2015 at 6:44 AM, Chao Xu <notifications@github.com> wrote:

[2015-05-08 00:28] bgrant0607 commented on #7882
Yes, it does make sense.

I'm glad you agree with the change of default value.

Thanks.

[2015-05-08 00:28] #7882 closed

[2015-05-08 00:30] a-robinson commented on #7865
It may be worth logging 400s at a higher severity and giving up, since the backend is effectively saying it'll never accept the logs. Your call though, of course.

[2015-05-08 00:43] thockin commented on #7472
It comes down to what are we willing to break and how much are we willing
to shoulder right now to not break things.

A) Compatible:

1. Roll out kubelets which set dns-search to [ $ns.kube.local,
$ns.svc.kube.local, svc.kube.local, kube.local ]
2, Bounce all pods
3. Roll out DNS server that changes from $svc.$ns.kube.local to
$svc.$ns.svc.kube.local
4. Roll out kubelets which set dns-search to [

[2015-05-08 00:44] bgrant0607 commented on #3764
Labels are intended to flow from configuration, through the API and control plane, to the node, to the containers, and to logging and monitoring systems. We definitely want to support that.

Exposing labels is the purview of what we call the "downward API" -- #386. I don't want to encourage calls to Kubelet, other than by maintained control-plane components, such as cAdvisor. It has too wide of an

[2015-05-08 00:44] goltermann opened #7937 "Simple nginx guide has a few errors"
Should remove kubectl.sh in favor of kubectl
Expose command should expose the my-nginx rc, not "nginx"
It would be clearer to add a "kubectl get rc" command in there, to show the difference between container and replication controller

[2015-05-08 00:52] ArtfulCoder commented on #7472
One option could be the following:
1. We create new kube2sky, apiserver  versions that both use a service-definitions compatibility package.

2. The service-definitions compatibility checker reads the service definitions and checks for compatibility issues.

 3.   On startup, the new kube2sky checks for service name compatibility issues.
      If there are compatibility issues, then:  it continues

[2015-05-08 00:59] vishh commented on #3764
@jimmidyson: Tools like fluentd should have native support for kubernetes, similar to how they support docker. Hacking using labels might be helpful in the short term, but does not seem like a good long term solution. We haven't tackled native kube support for logging yet. It is post v1.0 goal.

@bgrant0607 suggested using annotations for getting application specific metadata plumbed through to lo

[2015-05-08 01:01] vishh commented on #3764
@dchen1107: Does kubelet fallback to overloading container names in the case of rocket?

[2015-05-08 01:27] WIZARD-CXY commented on #7892
thanks for the quick reply.I will wait for #7101 to land

[2015-05-08 01:27] #7892 closed

[2015-05-08 01:27] mr-salty commented on #7865
That's generally what would happen with 400s but I intentionally catch some of them and retry since they're not necessarily permanent failures; the user could fix the problem (which is definitely the case here).

In general I think that's the right thing to do (with backoff, of course), but we've seen some failure modes where fluentd gets into a tight loop logging repeatedly instead of waiting to

[2015-05-08 01:57] #6859 closed

[2015-05-08 01:58] smarterclayton commented on #7438
Can we reach closure tomorrow on a direction?

I would argue that claims and PVs should bond in both directions.  The claim is released, and reclamation happens with the previous claim marked no longer in use.  The PV is the entity that determines whether a claim is official - claims shouldn't be able to spuriously associate themselves with random PVs by guessing global names (I'm not allowed to c

[2015-05-08 02:22] hurf opened #7943 "Check json format before getting 'version/kind'"
Currently all error caused by json format will return with a title: 'couldn't get version/kind'. We can check the json format first other than inside DataVersionAndKind to make the error message more precise.

[2015-05-08 02:28] davidopp commented on #7914
/subscribe

[2015-05-08 02:44] ghodss commented on #7871
The best case is that this doc would be what the maintainers use as the primary way to communicate how the daemon interfaces and setup steps are evolving, and therefore be the guide for all the developers of the cluster scripts.

[2015-05-08 03:32] caesarxuchao commented on #7930
My bad. I forgot to set up the firewall rule on GCE. It works now : )

[2015-05-08 03:32] #7930 closed

[2015-05-08 03:34] pmorie commented on #7925
@erictune

I think we're on the same page.  I had actually typed out 'generated' volumes in a draft of the issue but that made it out in an edit.  I meant my comments to apply to volumes with generated content, secrets for example.  @sdminonne's downward API volume plugin would be another example.

@pweil- and I spent some time talking about exactly this today.  The constraint stuff in #7893 relat

[2015-05-08 03:47] bprashanth commented on #7561
@wojtek-t I think the number of reported pods changing issue is:
https://github.com/GoogleCloudPlatform/kubernetes/issues/7815#issuecomment-100001495

It's certainly possible to have > number of replica pods in the system, if some of them have fallen into an inactive state. I hope to add some clarity with https://github.com/GoogleCloudPlatform/kubernetes/pull/7945.

[2015-05-08 03:51] davidopp commented on #1535
/subscribe

[2015-05-08 03:53] davidopp commented on #7018
/subscribe

[2015-05-08 03:57] bgrant0607 commented on #3764
Annotations for communicating necessary info between components.

Labels for conveying user-applied identifying metadata.

[2015-05-08 04:18] smarterclayton commented on #260
Example of nominal service ish needs https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/rethinkdb/image/run.sh#L26

[2015-05-08 05:25] thockin opened #7949 "Cassandra example can't possibly work after v1b3 conversion"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/cassandra/java/src/io/k8s/cassandra/KubernetesSeedProvider.java#L67

It's is using v1beta3 but referencing endpoints.endpoints, which was a v1beta1 field.  The conversion was just changing the API version, which is insufficient.  You have to actually fix the code.

@caesarxuchao @nikhiljindal

[2015-05-08 05:52] thockin commented on #7472
It's possible, but I am not keen on getting the apiserver involved in this
to the tune of a flag that users have to configure.

What of we just keep it constrained to DNS.  Operate in both modes (new and
old) but don't generate old-style names for any Service with a namespace of
"svc".  Log an event or something.  We could even have a tool that runs
before the push that says "stop, you have a name

[2015-05-08 06:01] caesarxuchao commented on #7949
I'll take care of it

[2015-05-08 06:10] thockin commented on #7856
I assume that "Active" is amalgamated from some number of other Conditions (scheduled, installed, ...)?  As a consumer of this API, some of the things I will want to do are "wait until pod is running" or "wait until pod is terminated".  If we publish a small set of very core conditions, these questions could be answered by blocking until the conditions exist.  But this is sort of a trap - blocking

[2015-05-08 06:11] thockin commented on #7949
Thanks!

On Thu, May 7, 2015 at 11:01 PM, Chao Xu <notifications@github.com> wrote:

[2015-05-08 06:11] ArtfulCoder commented on #7472
@thockin
The flag is optional if we want to give ultimate control to the user. It is not pivotal to the proposed approach.

If we don't want to involve ApiServer then, your simplification is required, and it would work:

(re-iterating what you said, below)

* Rather than go binary on compatibility, have a dialed approach and do both modes only for services which don't have 'svc' in the namespace.

[2015-05-08 06:35] thockin commented on #6979
Brian,

For longer term, are you deeply against using custom JSON unmarshalling to
get a better API?  I know it causes some problems with doc-generation, but
I don't think we should let that dictate our API design, and the API is,
first and foremost, the JSON documents and not the go structs.

For example, suppose we used something like 'go generate' to expand a
templated form of the JSON marshal/

[2015-05-08 06:36] viklas commented on #7750
This issue can be closed - PR merged successfully

[2015-05-08 06:42] thockin commented on #7203
This is another place where a discriminated overlayed one-of type would
make a good API.  #6979

[code]

vs

[code]

On Wed, May 6, 2015 at 11:01 AM, Paul Morie <notifications@github.com>
wrote:

[2015-05-08 06:50] viklas commented on #7831
Hi - not sure what level of debugging you've managed so far.

It basically means the kubernetes 'api server' component hasn't started properly (no response on port 8080). If you SSH to your host and do a 'docker ps' you should see 5 containers (on 'master')...proxy, apiserver, scheduler, controller-manager and kubelet. If all 5 are running...good start. If any are missing...do a 'docker ps -a' to

[2015-05-08 06:54] madis commented on #7828
I'm stopping the instances manually (i.e. without *cluster/kube-down.sh*) so they would not get destroyed and I can start them again next day. It's a cluster for playing around so I can save money by stopping it when not using.

[2015-05-08 06:56] thockin commented on #7317
Is this fixed now?  If so, please close.

On Wed, Apr 29, 2015 at 3:00 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-05-08 07:04] hesonglin006 commented on #7831
Thanks for your patient instruction，I'll try to solve the problem follow your guide,if there is still problem,I'll let you know,thx again @viklas

[2015-05-08 07:05] roberthbailey commented on #7750
Fixed by #7755.

[2015-05-08 07:05] #7750 closed

[2015-05-08 07:20] jimmidyson commented on #3764
@vishh Fluentd doesn't have native support for docker AFAIK. It simply tails docker log files & adds container name. Please correct me if I'm wrong though. I have a couple of fluentd plugins that enrich with docker & kubernetes metadata which you might find useful.

Although it may be a post v1.0 goal, I'd like to contribute to it now because I personally see it as very important. I'm not sure wha

[2015-05-08 07:45] vmarmol commented on #7815
I ran a few experiments and found that the main resource under contention is CPU, memory is plentiful. This lines up with behavior described by @bprashanth and the timeouts. I have some ideas of what may be going wrong and what can improve it. I will run a few more experiments to verify and gather more data.

[2015-05-08 08:11] MCyprien commented on #7913
Yes you need to replace "<master-private-ip>" it is not a variable like $private_ipv4 or $public_ipv4 as you can see in this [coreos multinode guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md#edit-nodeyaml-1).

[2015-05-08 08:55] MCyprien opened #7953 "Cloud config AWS not adding minion to cluster"
Hello everyone,
I am trying to launch a Kubernetes cluster using AWS and vagrant. When I created my VM I launch CoreOS AMI with the [cloud-config](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides/aws/cloud-configs) in the getting starded guide section.
My private IP addresses are fix and I changed <master-private-ip> in the yaml files.
the problem is when t

[2015-05-08 09:09] pamatteo opened #7954 "Private docker registry credentials"
Hi,

In my testing environment I'm currently using a private docker registry set up on my machine. Then I have a kubernetes master/minion on a vm in my cluster. Kubelet cannot pull from my private registry since authentication is required. I've tried to login with `docker login` and copying the `.dockercfg`  in both `/root` and `/var/lib/kubelet` directories. I restarted all the kubernetes compone