[2022-08-16 15:51] #111871 closed

[2022-08-16 15:55] vaibhav2107 commented on #111869
/sig network

[2022-08-16 15:57] liggitt commented on #111871
(note that in 1.24+, the `kubectl create token` exists to make it easy to create a time-bound token using the TokenRequest API)

[2022-08-16 16:00] JJotah commented on #111871
Is not the same create token and create secret with type service account with Metadata automatically pointing to the service Account

[2022-08-16 16:30] pjbgf commented on #82647
/remove-lifecycle stale

[2022-08-16 16:38] liggitt commented on #111871
yes, it is a secret for that service account, but that's not the same as the `secrets` field in the ServiceAccount API object, which is *only* for secrets mounted into pods

[2022-08-16 17:21] tallclair opened #111875 "[FR] Support multi-NIC egress selection"
To support cluster configurations where the control plane and worker nodes are hosted on different networks connected to different network interfaces (multi-NIC) on the apiserver host instance, `EgressSelector` should be able to select a different interface for egress for different network types.

This probably applies more to the `Direct` protocol. I'm not sure whether there is a use case to supp

[2022-08-16 17:22] dims commented on #100460
this one keeps moving down the milestones yet again!. i don't see any activity since i moved this down the line. So kick the can down the road:

/milestone clear

(instead of v1.26 as this has been moving down the line for a few releases now)

[2022-08-16 17:36] aojea commented on #111875
Are those multiple nics on the same network namespace or in a different one? because the output interface is chosen by the routing table and the destination address, but I may be missing some details from the description or not fully understanding it

[2022-08-16 17:56] JJotah commented on #111871
HI,
OK understood. I was thinking in something like ingress with ingress controller that automatically the ingress discover the address of the ingress controller. So something like that, when anyone wants to create the token manually service account auto discover the secrets referred to the ServiceAccount.

[2022-08-16 18:58] tallclair commented on #111875
Same network namespace. Is it even possible to multiplex requests across multiple network namespaces in a single go process?

I believe setting the `LocalAddr` on a `net.Dialer` will select the interface with that address, but I'm definitely not an expert in this space.

[2022-08-16 20:16] fedebongio commented on #111819
ccing the same people from https://github.com/kubernetes/kubernetes/issues/109099 since seems to be the same issue / fix (for visibility): @apelisse @jpbetz @cici37 @alexzielenski
/triage accepted

[2022-08-16 20:16] fedebongio commented on #111852
/cc @MikeSpreitzer @tkashem since I've assigned the PR to you both
/triage accepted

[2022-08-16 20:17] fedebongio commented on #111853
/backlog
cc @alexzielenski @deads2k @lavalamp
/triage accepted

[2022-08-16 20:18] fedebongio commented on #111853
/priority backlog

[2022-08-16 20:18] fedebongio commented on #111853
/priority longterm-backlog

[2022-08-16 20:20] fedebongio commented on #111854
/triage accepted

[2022-08-16 20:20] fedebongio commented on #111875
/triage accepted

[2022-08-16 20:22] apelisse commented on #111819
Hopefully it's the same yeah, especially since you're applying a schema. If you can't reproduce, the schema might be interesting to share. Thanks.

[2022-08-16 21:21] K1Hyve commented on #105204
I'm also getting this error on v1.23.6

[2022-08-16 21:46] bobbypage opened #111876 "sig-node-cos is all failing"
### Which jobs are failing?

Everything under https://testgrid.k8s.io/sig-node-cos is failing

### Which tests are failing?

All tabs

### Since when has it been failing?

Unknown

### Testgrid link

_No response_

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### Relevant SIG(s)

/sig node

[2022-08-16 21:47] bobbypage commented on #111876
We already run COS tests on the COS containerd tab, so we should investigate if it's even worthwhile to have separate COS tests or are they are redundant and we can clean them up.

[2022-08-16 21:53] aojea commented on #111819
we should have a test to cover regressions, if we have the schema the test seems straightforward

[2022-08-16 22:27] aojea commented on #111875
it can be done, ,however, golang and namespaces have some nuances , long history here https://blog.tomlebreux.com/2022/03/02/linux-network-namespaces-and-http-requests-in-go.html

The output interface is chosen by the route table, if there are routes with the same distance IIRC the local address used as source IP determines the interface.

If server has eth0 192.168.1.10 and eth1 192.168.1.11 and

[2022-08-16 22:38] aojea commented on #111823
that is sad by true ...

enough?

heh, another fact ...

most probably the people that check the logs are the ones that have the nodes differently configured 😄

[2022-08-16 22:45] vaibhav2107 commented on #109923
/remove-lifecycle stale

[2022-08-16 22:48] vaibhav2107 commented on #109911
/remove-lifecycle stale

[2022-08-16 22:52] vaibhav2107 commented on #107928
/remove-lifecycle stale

[2022-08-16 22:53] vaibhav2107 commented on #107172
/remove-lifecycle stale

[2022-08-16 22:55] vaibhav2107 commented on #106270
/remove-lifecycle stale

[2022-08-16 22:59] vaibhav2107 commented on #105370
/remove-lifecycle stale

[2022-08-16 23:09] Alibirb commented on #111822
Our registry is fairly reliable, but everything has to be really fault-tolerant, because if something stops working in production, the users need to be able to either quickly fix it by rebooting (before the unavailability causes much bigger issues), or carry out their duties without it. So having our registry be a single point of failure for everything in the cluster is a tough sell, and would bec

[2022-08-16 23:57] vinaykul opened #111877 "[FG:InPlacePodVerticalScaling] Add Pod Resize Node E2E test using framework in test/e2e_node"
### What would you like to be added?

One of the review comments for PR https://github.com/kubernetes/kubernetes/pull/102884 requested to move current pod resize E2E test from test/e2e/node to test/e2e_node.
Please see comment: https://github.com/kubernetes/kubernetes/pull/102884#discussion_r891689410

I have a lot of trust in the current E2E test after it recently failed upon rebase and CI had sw

[2022-08-16 23:57] vinaykul commented on #111877
/sig node

[2022-08-17 01:31] andyzhangx commented on #100485
/reopen

[2022-08-17 01:31] andyzhangx commented on #100485
/remove-lifecycle rotten

[2022-08-17 02:35] lzhecheng commented on #98359
/remove-lifecycle stale

[2022-08-17 03:11] x893675 commented on #111754
I would like to work on this.
/assign

[2022-08-17 03:38] weilaaa commented on #111853
I see, I hope to be able to do more with generics in the future.

[2022-08-17 03:54] LastNight1997 commented on #111385
handleDisruption can get node's Ready condition with Unknown or False in the first monitorNodeHealth period. It calculate disrupted status from zoneToNodeConditions, which will be updated in the first monitorNodeHealth period.

[2022-08-17 04:03] negz opened #111880 "Disable client-side rate-limiting when AP&F is enabled"
### What would you like to be added?

I'd like client-side rate limiting to be disabled in client-go when API server-side Priority and Fairness is enabled.

All client-go based Kubernetes clients are configured by default to use a token bucket rate limiter in an attempt to avoid overloading the API server. This is a form of open-loop control, in that the clients don't factor in the load of the API

[2022-08-17 04:04] negz commented on #111880
/sig api-machinery

[2022-08-17 04:04] negz commented on #111880
/cc @apelisse @MikeSpreitzer

[2022-08-17 04:18] negz commented on #111880
/kind cleanup

Not sure if CI will let me make this change, but it feels more appropriate than "feature".

[2022-08-17 04:25] wyardley commented on #82296
Hi all

It's been many moons, so, in hopes that someone, somewhere is still listening, I've updated the description with an `apps/v1` style repro case and the error / version output from a newer version of Kubernetes.

[2022-08-17 04:26] wyardley commented on #82296
I think the workaround is to quote the value, unless there's some reason that doesn't work for your use case?

[2022-08-17 06:45] aojea commented on #111510
/close

this issue has been resolved, I ca see that the test cases are showing up now, since the different fixes added to the e2e framework.

The remaining part is to show the skip test cases in testgrid, but that is another issue, better not to add more things here

[2022-08-17 06:45] #111510 closed

[2022-08-17 07:07] MadhavJivrajani commented on #111880
Related: https://github.com/kubernetes/kubernetes/pull/109614
/cc @wojtek-t @tkashem

[2022-08-17 07:15] uablrek commented on #111875
Where is the `EgressSelector` supposed to be specified? In the K8s node objects?

It is possible today to have workers on different networks (accessed through different interfaces) but you must have some network overlay, e.g. vxlan. The vast majority on CNI-plugins have that.

To me this doesn't sound like a K8s problem at all, but a CNI-plugin setup problem. And an `EgressSelector` would probably

[2022-08-17 07:20] aojea commented on #111875
it is an apiserver thingy https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/
https://github.com/kubernetes-sigs/apiserver-network-proxy

[2022-08-17 07:26] uablrek commented on #111875
Thanks @aojea. Could be clearer though, like a ref in the description or a new "area".

[2022-08-17 08:12] pohly opened #111884 "e2e: pretty-print objects"
### What would you like to be added?

There is no good pretty-printing for Kubernetes API objects, which affects debugging. All of the following options have drawbacks:
- `fmt.Sprintf("%+v")` (single line, no clear distinction between fields)
- `obj.String()` (auto-generated, single line, does not omit empty fields)

What we want is probably:
- multi-line
- omitting empty fields as defined by the

[2022-08-17 08:13] pohly commented on #111884
/sig testing

[2022-08-17 08:15] yanghesong commented on #107026
/remove-lifecycle rotten

[2022-08-17 08:16] yanghesong commented on #108575
/remove-lifecycle rotten

[2022-08-17 09:03] #107204 closed

[2022-08-17 09:35] p0lyn0mial opened #111886 "kube-apiserver: some HTTP requests might hang indefinitely"
### What happened?

Since `kube-apiserver` doesn't specify a `WriteTimeout` on the server level it solely relies on the timeout filter to terminate HTTP requests.

The timeout filter wraps the `http.ResponseWriter` into a time-aware construct and passes it to an HTTP handler. Once the specified timeout has elapsed the HTTP handler loses control and an appropriate response is sent back to a client.

[2022-08-17 09:39] p0lyn0mial commented on #111886
/sig api-machinery

[2022-08-17 09:46] aojea commented on #18174
/unassign

the KEP was discarded

[2022-08-17 09:48] aojea commented on #111886
Seems golang is going to fix this https://github.com/golang/go/issues/54136

Seems related to https://github.com/kubernetes/kubernetes/issues/105884

/cc @mborsz

[2022-08-17 09:50] aojea commented on #111819
@silenceper can you share the reproducer?

[2022-08-17 10:01] Amith211 commented on #105613
/reopen

I am running into this issue and supporting dynamic memory would be a really useful feature.

[2022-08-17 10:18] marseel commented on #107029
/remove-lifecycle rotten

[2022-08-17 10:19] mborsz commented on #111886
IIUC we cannot simply set WriteTimeout to <=1m value on the server level as the same server handles both long running requests (such as watches which may take O(10m)) and short requests.

With https://github.com/golang/go/issues/54136 we will be able to set this on request level, so only for non-long running requests to 1m.

[2022-08-17 11:04] aojea commented on #111884
`CreationTimestamp` is :upside_down_face: :1st_place_medal:

[2022-08-17 11:15] aojea commented on #111868
how do we know that we are sending to an URL, via a flag?

[2022-08-17 11:21] mengjiao-liu commented on #111815
/sig instrumentation

[2022-08-17 11:21] VA-PLE opened #111888 "DNS does not work correctly on new nodes"
### What happened?

Hi. After adding new nodes to the cluster, pods on these nodes fail with the following errors:
```Could not resolve host: example.svc.cluster.local```
on old nodes, everything works fine. Please help, the problem has not yet been solved. I will provide additional information if necessary.

BAD nodes:
[code]

GOOD nodes:
[code]

CoreDNS logs:
[code]

Nodelocaldns logs GOOD nodes

[2022-08-17 11:24] VA-PLE commented on #111888
/sig network

[2022-08-17 11:30] dankolt commented on #104935
The same problem

[2022-08-17 12:20] remram44 commented on #18174
Discarded? Is there a reference or motivation for that?

[2022-08-17 12:46] brianpursley commented on #111825
[code]

I probably wasn't clear enough.  This isn't adding retry logic.  It is simply not terminating the listener (pf.streamConn) if the error was ECONNRESET.  The listener will remain running and able to service new psql commands, as opposed to terminating and requiring the user to restart port forwarding over and over again.

[2022-08-17 12:56] endocrimes commented on #103587
/remove-lifecycle stale
/lifecycle-frozen

(valid bug that is unlikely to be fixed by accident)

[2022-08-17 13:30] VA-PLE commented on #110550
@chase-swanson Hi, did you manage to solve this problem? it looks like I have the same one

[2022-08-17 13:33] kidddddddddddddddddddddd commented on #108806
Is anyone working on this now?

[2022-08-17 13:39] aojea commented on #111868
are we setting this flag `--progress-report-url` somewhere?

[code]

[2022-08-17 13:48] davidmccormick opened #111890 "AvailableConditionController escalatory check behaviour during network partitions"
### What happened?

### A Network Partition impacts our api extensions

We experienced a network issue affecting our kubernetes apiservers which partitioned one or more of our apiservers from the back-end end pods which were providing api extensions.  The issue affected the apiservice extensions “[v1.subresources.kubevirt.io](http://v1.subresources.kubevirt.io/)” and “[v1alpha3.subresources.kubevi

[2022-08-17 13:51] vladohotnikov commented on #111077
Hello, do you have any updates? I have same issue.
Can't view metrics for pods. And all Grafana dashboard got broken =(

[2022-08-17 13:52] aojea commented on #111825
yeah, thanks for clarifying, I figured out later , sorry :smile:

[2022-08-17 14:08] camaeel opened #111891 "kube-controller-manager crashes when AWS EBS pvc is unable to resize"
### What happened?

I migrated an existing EBS volume from in-tree plugin to external aws-ebs-csi-driver (https://github.com/kubernetes-sigs/aws-ebs-csi-driver). Resizing PVC twice in 6 hour window causes kube-controller-manager to crash.

Exception message:
[code]

### What did you expect to happen?

Kube-controller-manager shouldn't crash in such case. If external aws-ebs-csi-driver fails to pro

[2022-08-17 14:08] pohly commented on #111868
I can imagine that downstream consumers (think Sonobuoy) are using it.

[2022-08-17 14:13] pohly commented on #111868
This printing to stdout has been around since this feature was added in https://github.com/kubernetes/kubernetes/commit/ed1d5270b35d0fc090ba1b9391d84b53f4127293.

The reason why it's annoying now is because we get a `[ReportAfterEach] TOP-LEVEL  /nvme/gopath/src/k8s.io/kubernetes/test/e2e/e2e_test.go:143` for each progress update call.

@onsi: Could we perhaps do something like
[code]

In other wo

[2022-08-17 14:15] aojea commented on #111868
@johnSchnake what do you think of making the output conditional https://github.com/kubernetes/kubernetes/issues/111868#issuecomment-1217940654?

[2022-08-17 14:27] danwinship commented on #111823
You could use a rule like "only check NodePort/ephemeral overlap for services where `epslice.Endpoints[0]` is on this node" so that every node would check _some_ services

[2022-08-17 14:35] camaeel commented on #111891
/sig cloud-provider

[2022-08-17 15:19] aojea commented on #111891
/sig storage

some situation where the sync loop passes a nil `pvc` parameter to https://github.com/kubernetes/kubernetes/blob/d32be903b0b7606627ba8ea8dfbe37865b26dd5e/pkg/volume/util/resize_util.go#L57-L60

[2022-08-17 15:34] palnabarun commented on #111114
/priority critical-urgent

[2022-08-17 15:35] palnabarun commented on #111114
Updated the testgrid link since the jobs have rotated between boards since the v1.25.0-rc.0 cut.

[2022-08-17 15:37] randywatson1979 commented on #111813
Thanks for clarifying! https://github.com/kubernetes/kubernetes/issues/111813#issuecomment-1216008212

Saves a lot of confusion.

[2022-08-17 15:39] palnabarun opened #111892 "Failing ci-kubernetes-e2e-gce-cos-k8sstable3-alphafeatures on sig-release-1.22-blocking"
### Which jobs are failing?

ci-kubernetes-e2e-gce-cos-k8sstable3-alphafeatures

### Which tests are failing?

The job is unable to bootstrap a cluster.

### Since when has it been failing?

2022-08-10 05:03:36 +0000 UTC

### Testgrid link

https://testgrid.k8s.io/sig-release-1.22-blocking#gce-cos-k8sstable3-alphafeatures

### Reason for failure (if possible)

_No response_

### Anything else we n

[2022-08-17 15:40] MikeSpreitzer commented on #111852
Which commit of APF was involved in the trace shown in the opening comment?

I see that the log messages about digesting config are dated 9 days later than the log message about panic.  Why is it asserted that these two are related?

The fact that it took about 12 minutes to digest the config (starting at 0810 02:50:37) is quite surprising.  This should only be a matter of local computation, I do

[2022-08-17 15:41] palnabarun commented on #111892
PTAL https://github.com/orgs/kubernetes/teams/cloud-provider-gcp-maintainers https://github.com/orgs/kubernetes/teams/sig-cloud-provider

[2022-08-17 15:41] palnabarun commented on #111892
related: https://github.com/kubernetes/kubernetes/issues/111114

[2022-08-17 15:58] logicalhan opened #111893 "apiserver_request_size metrics should be present on kube-apiserver"
### What would you like to be added?

It's possible to bump up against the etcd size limitations if your CRD is too big, since the apiserver request size limit is so big (IIRC 3 megs). We should expose a metric which corresponds to apiserver_response_size metric but we should have one for request size as well.

### Why is this needed?

Because one should know how close they are to hitting the apis

[2022-08-17 15:58] logicalhan commented on #111893
/sig api-machinery
/assign @logicalhan

[2022-08-17 16:00] logicalhan commented on #111893
/sig instrumentation

[2022-08-17 16:06] leileiwan commented on #111852
I've updated the first panic log, the failure frequency is very high in our production environment.
Now we solved the problem by fixing apf reset bug when panic happens,  but mutex also needs to be optimized.

[2022-08-17 16:07] nckturner commented on #111891
/assign @wongma7

[2022-08-17 16:12] nckturner commented on #111539
@alexanderConstantinescu do you think we need a KEP for the rest of this change?

[2022-08-17 16:14] MikeSpreitzer commented on #111852
It would help a lot to know the version of the apiserver involved here.

[2022-08-17 16:16] dims commented on #105681
closing, please see https://github.com/golang/go/issues/49035#issuecomment-1209607751

[2022-08-17 16:16] #105681 closed

[2022-08-17 16:25] leileiwan commented on #111852
we rebuild apiserver with golang
[code]

[code]

[code]

[2022-08-17 16:41] MikeSpreitzer commented on #111852
This is using Kubernetes release 1.18.4?  That's really old!

[2022-08-17 16:45] BenTheElder commented on #105681
I think we’re still running at reduced parallelism unfortunately. Might be worth checking if we can improve that yet

[2022-08-17 16:59] dipankardas011 commented on #110667
@manaschandrasahoo @sftim
Created a New VM having Fedora 36.
Wasn't able to Replicate the issue of signature validation using yum package manager.
https://docs.google.com/document/d/14zIvdEQXVEuFlfhDXm_zjmeisNNZul-KAI23CPq8gR8/edit?usp=sharing
then installed Docker and kind for testing

[2022-08-17 17:57] thockin commented on #111823
We'd still storm Events for daemonsets and large-N deployments.

On Wed, Aug 17, 2022 at 7:27 AM Dan Winship ***@***.***> wrote:

[2022-08-17 18:12] Huang-Wei commented on #109900
@kerthcet is right. The behavior is documented in the 1.21 website: https://v1-21.docs.kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/

<img width="1276" alt="image" src="https://user-images.githubusercontent.com/1425903/185206619-31c2e216-0ca5-4061-afd9-642e5b7e82af.png">

With that being said, you have to keep using the deprecated CLI arguments, and do NOT use `--config

[2022-08-17 18:22] wongma7 commented on #111891
https://github.com/kubernetes/kubernetes/blob/v1.26.0-alpha.0/pkg/controller/volume/expand/expand_controller.go#L272-L274

SetClaimResizer may return nil pvc and non-nil error, ClaimToClaimKey naively assumes non-nil as described above, will create PR

[2022-08-17 18:25] palnabarun commented on #111892
/assign
/assign @sonasingh46

[2022-08-17 18:25] palnabarun commented on #111114
/assign
/assign @sonasingh46

[2022-08-17 18:26] alexanderConstantinescu commented on #111539
Sure, here's the KEP I posted and which hopefully will get reviewed during the 1.26 KEP cycle: https://github.com/kubernetes/enhancements/pull/3460

[2022-08-17 18:47] Jefftree commented on #111701
/sig docs

[2022-08-17 18:48] mathuvenkat opened #111895 "How to get Kubernetes API Server to pass requestor token to authorization webhook"
### What happened?

API server failed on authorizer webhook parsing return value

api server logs for version
[code]

failure in api server logs
[code]

Webhook tailed logs
[code]

using a curl request the response returned is of valid json format and is below
`{"apiVersion":"authorization.k8s.io/v1","kind":"SubjectAccessReview","status":{"allowed":true}}`

The api server is configured with this:

[2022-08-17 18:51] mathuvenkat commented on #111895
/sig auth

[2022-08-17 18:56] bobbypage commented on #108028
/remove-lifecycle stale

[2022-08-17 19:53] ncdc commented on #111604
/assign

[2022-08-17 20:13] #108827 closed

[2022-08-17 20:21] negz commented on #111880
There seems to be some prior art for this in https://github.com/kubernetes-sigs/cli-utils/pull/584 (CC @karlkfi)

[2022-08-17 20:45] MikeSpreitzer commented on #111880
The technique in https://github.com/kubernetes-sigs/cli-utils/pull/584 :
1. Looks at a response header like I suggested.
2. Adds an extra request per client.
3. Assumes that all the servers have the same configuration and it does not change over time.

[2022-08-17 21:00] aojea commented on #111852
indeed, @leileiwan bear in mind that only supported releases https://kubernetes.io/releases/ can receive bugfixes

[2022-08-17 21:01] karlkfi commented on #111880
FWIW, the impl I wrote seems to work pretty well in kpt when used by humans, but when using something similar in Config Sync (a multi-instance GitOps operator) we've been noticing that the load produced is very high, especially with many instances in parallel, and the default P&F config doesn't seem configured to be able to mitigate the load, forcing users to make their own P&F configs, which they

[2022-08-17 21:10] tkashem commented on #105884
@mborsz if I am not mistaken, `WriteDeadline` is a `Server` level property, and is used to set the write deadline at a connection level inside the net/http `readRequest` method
https://github.com/golang/go/blob/e1fd51e0765a5d7b2dd72b2f82b9c3eed2764035/src/net/http/server.go#L969-L974

so as you have metioned above, today we can not set `WriteDeadline` on per-request basis. But with the https://git

[2022-08-17 21:33] negz commented on #111880
Yeah, that's my underlying motive here - to discover what needs to be done to feel comfortable removing these rate limits.

[2022-08-17 22:10] chase-swanson commented on #110550
@VA-PLE I solved it by going back to Ubuntu 20.04. It works straight away. I am guessing something changed in 22.04 with iptables, resolvers ... something. But, I have not taken the time to try and sleuth through it.

[2022-08-17 22:17] gnufied commented on #111891
But the posted bug is I think 1.22 specific and should never happen on master or 1.24 and hence this fix against master is kind of okay and should fix the issue but at the same time code in `PatchPVCStatus` is still kinda broken in 1.22 because it returns `nil` if patching fails.

[2022-08-17 22:29] negz commented on #111880
@karlkfi Can you elaborate on what you see when the load gets high? Just reading through the docs I'm guessing all Config Sync instances are getting put into the `workload-low` priority level. Is the issue that this priority level isn't granular enough and that other instances at the same level are experiencing issues (time spent in queues? 429s?)? Are you seeing stuff in `workload-low` affecting

[2022-08-17 22:42] karlkfi commented on #111880
Unfortunately, the problem is only partially diagnosed and a customer issue, so I can't share the exact details. I haven't had a chance to reproduce it myself yet, due to a number of other related load causing issues. But part of the issue is with thousands of clients all hammering the apiserver with the same P&F config, due to the multi-instance way Config Sync handles namespace tenancy.

[2022-08-18 00:11] jyotimahapatra opened #111899 "Relinquish leadership based on conditions"
### What happened?

A kubernetes cluster deployed in AWS is subject to occasional zonal [outages](https://aws.amazon.com/premiumsupport/technology/pes/). If the kubernetes control plane(master) instances are part of the zone experiencing outage, the cluster can have downtime with behaviors defined by the specific component that is failing during the outage. In the most common cluster setup usecase

[2022-08-18 00:12] jyotimahapatra commented on #111899
/sig api-machinary

[2022-08-18 00:12] jyotimahapatra commented on #111899
/sig apimachinary

[2022-08-18 00:13] jyotimahapatra commented on #111899
/sig api-machinery

[2022-08-18 01:48] mathuvenkat commented on #111895
/help

[2022-08-18 02:45] 249043822 commented on #109596
/remove-lifecycle stale

[2022-08-18 02:45] 249043822 commented on #109596
/triage accepted
/assign

[2022-08-18 03:26] haoruan commented on #109953
/remove-lifecycle stale

[2022-08-18 04:38] wangyysde commented on #111888
can you ping 169.254.25.10 on bad node?

[2022-08-18 05:10] silenceper commented on #111819
CRD like this:
[code]

when remove field`x-kubernetes-preserve-unknown-fields: true`, is normal

[2022-08-18 05:51] shimada-takashi001 commented on #111528
Sorry for the late response.
I understand, thank you for your response.

[2022-08-18 05:51] #111528 closed

[2022-08-18 06:06] VA-PLE commented on #111888
@wangyysde yes.
ping from bad node:
[code]

ping from pod on bad node:
[code]

[2022-08-18 06:30] astraw99 commented on #110123
/remove-lifecycle stale

[2022-08-18 07:10] leogr commented on #60748
/remove-lifecycle stale

[2022-08-18 07:55] haoruan commented on #111823
In kube-proxy, the eventRecorder has some [deduplication logic](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/383-new-event-api-ga-graduation/README.md#changes-in-eventrecorder) to reduce the event emission, so there will be only one event up to 30mins, but still one event per node, is it good to go?

[2022-08-18 08:13] 249043822 commented on #109596
The conditions of case are as follows:
1. kubelet restarting
2. kubelet received the static pod kube-apiserver
3  kubelet started to syncPod..., hadn't finished this sync
4. the manifest file of static pod was modified
5. kubelet received REMOVE event for the pod, and removed the old pod from podManager but failed to delete pod as the source hadn't ready
6. kubelet received ADD event for the new s

[2022-08-18 08:47] Anumita opened #111902 "Invalid Bearer token error in Kube-apiserver when using azure auth provider in kube-config"
### What happened?

We have an kubeadm cluster (1 master and 2 worker nodes). The kube-apiserver is configured to use a webhook server for authn and authz. The kubeconfig is configured to use azure auth provider as well. On running any kubectl command , we are getting "Unauthorized" error . We checked that the request is not reaching our server pod and is failing in kube-apiserver.  The error in k

[2022-08-18 09:00] neolit123 commented on #111902
/sig auth

[2022-08-18 09:00] neolit123 commented on #111774
/sig auth

[2022-08-18 09:01] neolit123 commented on #111778
/sig apps

< 1.22 versions are out of support

[2022-08-18 09:02] neolit123 commented on #111791
/sig scheduling
?

[2022-08-18 09:03] neolit123 commented on #111793
/sig scheduling

[2022-08-18 09:36] MickMi commented on #111195
I met the exactly the same question as you, do you found the solution?

[2022-08-18 09:58] vaibhav2107 commented on #109837
/remove-lifecycle stale

[2022-08-18 10:00] vaibhav2107 commented on #107473
/remove-lifecycle stale

[2022-08-18 10:01] vaibhav2107 commented on #110114
/remove-lifecycle stale

[2022-08-18 10:16] unmarshall commented on #84764
If you need for audit reasons then why bloat the pod spec and status? Instead create yet another companion resource which has audit information (gets created when the first debug/attach is issued). This way you do not have to change the pod spec, also allows you to control how much audit information needs to be kept which could also be made configurable. Operators/Consumers can also switch on/off

[2022-08-18 11:28] dlouzan commented on #78693
@qiutongs Since https://github.com/kubernetes/kubernetes/pull/98238 implemented better job tracking in 1.22, should this be reopened and a saner default be applied? 12500 still feels like quite a lot.

/cc @nikopen

[2022-08-18 12:37] akunszt commented on #111796
Thanks for the information! This issue can be closed and if the Image GC removes the pause container again with this setting then I'll re-open it. No need to keep it open.

[2022-08-18 12:53] alaypatel07 commented on #111791
/sig-api-review

[2022-08-18 13:43] alculquicondor commented on #78693
I'm not sure changing the default is a good idea. Users might be relying on this. For example, I'm aware that Argo requires the pod to also stay in the API to do its accounting.

If you are sure that your cluster doesn't have these problems, why not change the value on your end?

[2022-08-18 13:54] liggitt commented on #111895
the unmarshal error indicates a non-struct value is being encountered in the response... do you have the full curl output (maybe even in verbose mode with `-v`) to see everything coming back from the server?

[2022-08-18 13:55] liggitt commented on #111895
also, are you curling the same way the webhook is being invoked (passing a `test-token` bearer token header, making a POST request containing a SubjectAccessReview, etc)?

[2022-08-18 14:05] liggitt opened #111911 "Using exec auth in kubectl triggers one connection per applied/described object"
### What happened?

Switching from the gcp auth provider to the exec auth provider in 1.25 made `kubectl apply` requests which previously made a single connection to the API server make one connection per applied object.

If enough items are applied, the connections can start to fail because of ephemeral port exhaustion

/kind bug
/milestone v1.25
/sig auth cli api-machinery

### What did you expe

[2022-08-18 14:29] vaibhav2107 commented on #109698
/remove-lifecycle stale

[2022-08-18 14:31] dlouzan commented on #78693
@alculquicondor Hey, thanks for the answer. Not an issue on our end, we can ofc modify the defaults. It's even mentioned on the [CIS hardening for k3s](https://rancher.com/docs/k3s/latest/en/security/hardening_guide/#control-1-3-1), as this might be a too-high value for certain environments.

But since I don't know all implications of that change, and the docs do not explain it in detail, this fee

[2022-08-18 14:32] wdec commented on #100698
/reopen

[2022-08-18 14:35] liggitt commented on #111911
/triage accepted

[2022-08-18 14:36] liggitt commented on #111911
labeling as a regression since a configuration that worked prior to 1.25 no longer has an equivalent that works properly

/kind regression

[2022-08-18 14:41] liggitt commented on #111911
I see a few directions a fix could go:
1. exec auth plugin could avoid adding a GetCert hook if the plugin config indicated it would only return tokens. This would require more exec plugin config and wouldn't fix the issue for exec auth plugins that *do* return cert credentials
2. client-go transport config/caching could try to enabling caching transports for configs which set a GetCert callback,

[2022-08-18 14:49] eugenenuke opened #111913 "A PSP is wrongly respecting "extensions/podsecuritypolicies/use" for admission"
### What happened?

A pod is getting admitted from a user which has no policy/podsecuritypolicies/use permission, here is the defined rule in the user's role/rolebinding (see that the apiGroups is `extensions`, not `policy`):

[code]

### What did you expect to happen?

The pod isn't admitted by the apiserver

### How can we reproduce it (as minimally and precisely as possible)?

Create a PSP:

[c

[2022-08-18 14:50] aojea commented on #111819
@liggitt I have a test reproducing it  https://github.com/kubernetes/kubernetes/pull/111912

I can confirm this is present in 1.23, I've created the cherry-pick with the regression test
https://github.com/kubernetes/kubernetes/pull/111914

@silenceper added you as co-author to avoid you the pain of fighting with the dependencies on your PR :)

[2022-08-18 14:53] enj commented on #111911
I would like to avoid this approach as projects such as pinniped exclusively use client certificates for end user facing authentication.

[2022-08-18 14:57] ilyesAj commented on #104935
@zt185019 @njegosrailic did you find any workarround for the issue or any root cause for it ?

[2022-08-18 15:01] liggitt commented on #111911
me too, that doesn't really seem like a fix

[2022-08-18 15:02] liggitt commented on #111911
it looks like the thing in kubectl that is repeatedly constructing clients is the Builder... there might be a central way to make that use the "construct http.Client once, reuse for multiple clientsets" that @aojea made last release

[2022-08-18 15:06] thockin commented on #111888
Are you testing from pods or from nodes?  Is the relevant resolv.conf configured to point to the DNS Service?  Is the DNS Service really responding?  It does not seem to be (io timeout).

This is pretty clearly not a k8s bug.  Happy to try to help, but you might get more traction via Discuss or Slack.

[2022-08-18 15:08] silenceper commented on #111819
@aojea  nice 👍

[2022-08-18 15:10] thockin commented on #111869
It is hard to debug through a helm chart - can you drop to the native k8s APIs to debug?

Does that selector actually select anything ?  Are you SURE?

[2022-08-18 15:11] thockin commented on #111869
Oh, hold on.  Is your DB external to the cluster?  Network policy does not resolve services, only pods and IPs .

[2022-08-18 15:15] thockin commented on #111840
In general it seems to have been bad judgement to have enabled it at all for iptables - I think THAT is the bug to document.

[2022-08-18 15:18] thockin commented on #111825
Port-fwd is not aig-net, oddly

[2022-08-18 15:26] cici37 commented on #111911
/cc @cici37

[2022-08-18 15:27] dankolt commented on #104935
In my case problem resolved by upgrading helm from 2.17 to 3.9.

[2022-08-18 15:29] olehm-ma commented on #104935
In my case, the issue was related to the helmcart configuration and the way how json is converted to yaml. In the helm chart I had, something like that

hpa.yaml

[code]

values.yaml

[code]

In the result hpa manifest looked like

[code]

The nastiest thing, is that initial install succeeded, however further upgrades failed with `failed to create patch: unable to find api field in struct Horizont

[2022-08-18 15:32] aojea commented on #111911
/cc @soltysh @atiratree

adding them to the loop, there was also a WIP PR https://github.com/kubernetes/kubernetes/pull/108459 to achieve this

[2022-08-18 15:39] #111796 closed

[2022-08-18 15:39] liggitt commented on #111911
oof... I didn't know this was a known issue... I'd have pushed to resolve this before forcing the migration to exec auth :-/

[2022-08-18 15:44] mathuvenkat commented on #111895
i modified the code a bit to marshal from the datastructure directly

code snippet of serve method

[code]
[code]

[2022-08-18 15:57] MikeSpreitzer commented on #111880
If you are finding APF is not working well then that is very interesting indeed.  Let me see if I understand the bad symptom.  It is the apiserver(s) using a lot of CPU?

Thousands of clients is normal in a large cluster.

What do the offending requests do?  Any insight into the pathology, or even how to reproduce it, would be great.

[2022-08-18 16:03] eugenenuke commented on #111913
/sig security

[2022-08-18 16:06] thockin commented on #111709
There are 2 parts - use more events (I agree) and maybe don't fail-over (also agree)

[2022-08-18 16:07] BlaineEXE opened #111916 ""contains" misspelled as "contails" in PVC doc comment"
https://github.com/kubernetes/kubernetes/blob/3e396dbac5c61860e4b926f07721851091cf4110/staging/src/k8s.io/api/core/v1/types.go#L555

"contails" -> "contains"

[2022-08-18 16:12] parth-gr commented on #111913
./assign

[2022-08-18 16:16] aojea commented on #111863
note: all implementations that add IP addresses to the node may be affected by this, per example, platforms that use Keepalived on nodes for ExternalIPs  or LoadBalancer IPs

[2022-08-18 16:20] BlaineEXE commented on #111916
/sig api-machinery

???

[2022-08-18 16:21] BlaineEXE commented on #111916
/wg api-expression

???

[2022-08-18 16:26] danwinship commented on #111823
No, I mean, for every service, there would be exactly 1 node that was allowed to emit the event for that service. eg, if the EndpointSlice has

    endpoints:
      - addresses: ["10.0.2.1"]
        nodeName: "node-2"
      - addresses: ["10.0.5.3"]
        nodeName: "node-5"
      - addresses: ["10.0.10.2"]
        nodeName: "node-10"

then node-2 would do the check and emit the event if needed,

[2022-08-18 16:40] leilajal commented on #111899
/cc @roycaihw
during triage we were thinking you might have an opinion here. thanks!
/triage accepted

[2022-08-18 16:40] leilajal commented on #111893
/triage accepted

[2022-08-18 16:41] jpinkul commented on #111356
Thanks for the additional context! I didn't realize how this score adjustment was intended to interact with the base OOM score.

To summarize the final OOM score consists of two components, the base OOM score which is from the actual usage of the process and the adjustment which is based off of the requested container resources. Containers that request a higher portion of a machine derive more of

[2022-08-18 16:43] leilajal commented on #111886
/triage accepted

[2022-08-18 16:43] thockin commented on #111671
Agree

[2022-08-18 16:43] leilajal commented on #111886
/cc @apelisse @jpbetz
/triage accepted

[2022-08-18 16:44] leilajal commented on #111880
/triage accepted

[2022-08-18 16:45] leilajal commented on #111825
/sig apps
/remove-sig api-machinery

[2022-08-18 16:46] leilajal commented on #111813
/triage accepted

[2022-08-18 16:46] #111085 closed

[2022-08-18 16:48] leilajal commented on #111890
/sig network
/cc @Jefftree

[2022-08-18 16:54] thockin commented on #111823
`nodeName` is optional and for manual services doesn't make sense.
Why not just use a lease?

On Thu, Aug 18, 2022 at 9:26 AM Dan Winship ***@***.***> wrote:

[2022-08-18 16:56] danwinship commented on #111695
In 1.23, with an external cloud provider that was built from the official external-cloud-provider sources, `--node-ip` should have exactly two effects:
- if you pass a `--node-ip` value that contains an IP that the external cloud provider does not know about, then the external cloud provider will log an error and exit.
- if your pods have dual-stack IPs, then kubelet will sort the pod IPs of non-h

[2022-08-18 17:04] aojea commented on #111890
/cc @aojea @thockin

yeah, this behavior is wrong by design, because it assumes a single global state, when there is a different state per apiserver

[2022-08-18 17:26] #108848 closed

[2022-08-18 17:32] thockin commented on #111863
Yeah, any LB implementation that is VIP-ish should have this problem - something needs to accept VIP traffic locally.

My fear is that we end up with 1 "ALLOW" `filter` rule for every service-ip-port and then final "DROP" rules, increasing the number of iptables rules.  With things like `externalIPs` it's not even obvious when to put that rule, since a single externalIP could be used on multiple S

[2022-08-18 17:33] thockin commented on #111840
I like the idea of documenting it in kube-proxy help and in the concepts doc, but not in the API docs.  We should also explain how to disable it entirely :)

[2022-08-18 17:38] vaibhav2107 commented on #111916
/assign

[2022-08-18 17:48] BlaineEXE commented on #111916
I will if no one else takes it up by the time I return from my vacation next week.

[2022-08-18 18:06] liggitt commented on #111911
expanding on https://github.com/kubernetes/kubernetes/issues/111911#issuecomment-1219580599, I see our options for 1.25 as:

1. ship 1.25 as-is with this documented as a known kubectl issue
    * removal of gcp and azure credential providers forces migration to exec auth with a known kubectl issue without a reasonable workaround
2. delay 1.25 until the kubectl issue is fixed or worked around
    *

[2022-08-18 18:08] dims commented on #111911
+1 to the proposed plan (3 bullet points) thanks @liggitt @aojea @enj

[2022-08-18 18:24] thockin commented on #111824
This is why I wrote https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/object-lifecycle.md :)

When a Pod is DELETING, should it be in the EPSlice?  Yes, that's the terminating-endpoints KEP.

When a Pod is on a Node which is DELETING, should it be in the EPSlice?   Probably not.  It seems better to remove it from the EPSlice while the pod still exists, so prop

[2022-08-18 18:25] liggitt commented on #111911
revert for 1.25 open at https://github.com/kubernetes/kubernetes/pull/111918 😞

[2022-08-18 18:30] cici37 commented on #111911
Thank you for addressing this and raising the revert PR!
Agree on do it right even if it's slow!

[2022-08-18 18:33] thockin commented on #111112
Sorry, I'm still a bit lost, can we strip this down to bare minimum?

You have a pod with labels:
              tier=frontend
              application-component=00000

You have a service with selector:
              tier=frontend
              application-component=00000

The service selects the pod correctly.

You have a NetworkPolicy with podSelector:
    matchLabels:
      tier: frontend

[2022-08-18 19:13] enj commented on #111911
Reverting this really kills me, but I agree that we should:

1. Not break users in ways that they cannot reasonably workaround
2. Not risk the release with large changes on a late timeline

Lets get this fixed correctly early in the 1.26 release so that we can backport the fix to 1.23+

[2022-08-18 19:47] aramase opened #111919 "[KMSv2] Add support for hot reload of the `EncryptionConfiguration`"
- Watch on the `EncryptionConfiguration`
- When changes are detected, process the `EncryptionConfiguration` resource, and add new transformers and update existing ones atomically.
- If there is an issue with creating or updating any of the transformers, retain the current configuration in the kube-apiserver and generate an error in logs.

ref: https://github.com/kubernetes/enhancements/tree/master

[2022-08-18 19:47] aramase commented on #111919
/assign @nilekhc

[2022-08-18 19:49] enj commented on #111919
/triage accepted

[2022-08-18 19:49] enj commented on #111919
/milestone v1.26

[2022-08-18 19:50] enj commented on #104165
/milestone v1.26

[2022-08-18 19:53] enj commented on #111674
/milestone v1.26
/triage accepted

[2022-08-18 19:54] ravitiwari87 commented on #74741
Is the issue fixed ?

[2022-08-18 19:54] liggitt commented on #111911
revert PR is merged for 1.25 and in the release-1.25 branch

dropping the regression label from this issue now (since it's just an exec auth bug now, not a 1.25 regression) and adding important-soon priority. Will work with @soltysh to get https://github.com/kubernetes/kubernetes/pull/108459 in a backport-safe shape, targeting merge first thing in 1.26

[2022-08-18 19:57] alculquicondor commented on #110643
We should probably extend this to Score as well

[2022-08-18 20:05] aramase opened #111920 "[KMSv2] Use expiring cache"
https://github.com/kubernetes/kubernetes/blob/d581cc90adba6c84919738841fe3e07302d53e33/staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/envelope.go#L95-L99

/sig auth

[2022-08-18 20:21] enj commented on #111920
/triage accepted

[2022-08-18 20:22] enj commented on #111920
/milestone v1.26

[2022-08-18 20:34] thockin commented on #111695
What a roller-coaster!

I am sensitive to the behavioral difference between built-in (legacy) and external cloud-providers causing migration pain.  But I think I agree that changing that behavior is an API break.  Dan, that's what you are saying, right?  Is that (breaking) change in 1.24 or only in (not yet released)1.25?  That could make this decision easier or harder :)

I like the path of depre

[2022-08-18 20:46] thockin commented on #111890
First - awesome issue report, thank you.

Second - I don't know how much sig-net can help you here - this seems to be deep in the design of the api-machinery controllers which govern aggregated APIs.

Third - this seems like a pattern that could do with a well-documented approach.  :)

[2022-08-18 20:50] MikeSpreitzer commented on #111852
FYI, there is a real bug here that persisted until now; the fix is #111850 .  But @leileiwan should not expect the fix to be back-ported to release 1.18.

[2022-08-18 20:53] thockin commented on #111698
please give it a shot!  Start small, fix a few, make sure we;re on the same page, and then expand.

[2022-08-18 20:53] aojea commented on #111671
is not as easy, we need to match the primary ServiceIPRange family, that comes from the flags, with the `advertise-address` that does not necessarily come from a flag, and usually is derived from the host IP (the IP obtained from the interface with the default route)

https://github.com/kubernetes/kubernetes/blob/ae62cd6ce2a61a6252c62a1de7a7061a2484a477/staging/src/k8s.io/apiserver/pkg/server/opti

[2022-08-18 20:55] akutz commented on #111703
I do not understand this. Why should the client control what is being preserved? The API server _supports_ serving multiple API versions, which means they should support clients at those versions. Why should someone using an earlier client cause data loss? The API server should prevent it.

To me this is a design flaw/bug in Kubernetes and should be addressed.

[2022-08-18 21:17] enj opened #111921 "[KMSv2] Create new staging repo k8s.io/kms"
This repo should start with just the KMS proto code under `k8s.io/kms/apis` (make sure the `OWNERS` files correctly require API approval).  We will expand it later to include the reference implementation code (under some library dirs and an examples dir).

[2022-08-18 21:17] enj commented on #111921
/sig auth
/triage accepted
/milestone v1.26

[2022-08-18 21:22] sftim commented on #111911
Optimizations on top of cutting down the number of new transports we make:
For plugins that do return a cert, I'd be happy to cache that cert based on its expiry date (`notAfter`) - perhaps with a max TTL.
For plugins that return tokens, we could provide a way for the plugin to additionally assert a freshness period and / or maximum number of uses for the token.

For some cases it could be useful

[2022-08-18 21:24] enj opened #111922 "[KMSv2] Use status key ID to determine staleness of encrypted data"
Today you need multiple encryption providers to communicate to the API server if data stored in etcd is stale (i.e. the KMS v1beta1 API has no way to communicate staleness).  The KMS v2 API includes a key ID in the status API to allow for such a check to be performed.  We need to wire the knowledge of the current key ID into the envelope encryption code.

xref: https://github.com/kubernetes/kubern

[2022-08-18 21:25] liggitt commented on #111911
The exec auth plugin can already do both of those things (can return expiration timestamps that avoid additional calls to the plugin to get new credentials). In this case, we weren't actually calling the authenticator multiple times, the same cached credentials were getting used with transports and talking to the server over multiple connections

[2022-08-18 21:26] liggitt commented on #111911
thanks for pointing out the docs update needed

[2022-08-18 21:26] aramase opened #111923 "[KMSv2] Add additional logging with UID and metadata"
Add additional logging at level `6` that associates UID with the metadata from the request.

xref: https://github.com/kubernetes/kubernetes/pull/111126#discussion_r934911719

/sig auth

[2022-08-18 21:26] aramase commented on #111923
/triage accepted

[2022-08-18 21:27] enj commented on #111923
/milestone v1.26

[2022-08-18 21:27] kunallanjewar commented on #111386
I'll give this a shot and have a PR soon.

[2022-08-18 21:27] kunallanjewar commented on #111386
/assign

[2022-08-18 21:31] liggitt commented on #111703
We can't assume fields are independent, or that preserving a value in a field set by a v2 client is coherent with an update from a v1 client PUTing the entire object ignorant of that field.

PUT requests don't copy existing persisted data over into the new object (with a couple weird exceptions around server-allocated fields I'll pretend don't exist right now). The request submitted by the client

[2022-08-18 21:37] thockin opened #111924 "kubectl edit seems to always use client-side apply, can it use server-side?"
### What happened?

It seems impossible to request `kubectl edit` to send a server-side apply request

### What did you expect to happen?

To have a --server-side flag

### How can we reproduce it (as minimally and precisely as possible)?

`kubectl edit --help`

### Anything else we need to know?

_No response_

### Kubernetes version

Fairly recent HEAD

### Cloud provider

GCP

### OS version

_

[2022-08-18 21:46] thockin commented on #97149
I was scrubbing issues assigned and I realize I lost track of this one.  The KEP aged-out.  I apologize.  Do you want to revive it?

A few thoughts as I paged it back in, some of which contradict past-me.

## 1

While it WOULD be a break, we could consider it.  Why the change in heart here?  Well, I was wrong - the merge keys for `ports[]` are either `port` (client-side SMP) or `port` + `protocol`

[2022-08-18 21:47] aramase opened #111925 "[KMS] Strategy for storage migration"
Creating this umbrella issue to track how we handle storage migration for kms:
- How to interact with kms v2 design of using `currentKeyID`
- How will it work for `v1beta1`to enable migration from `AES-CBC` to `AES-GCM`
https://github.com/kubernetes/kubernetes/blob/d581cc90adba6c84919738841fe3e07302d53e33/staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go#L490-L492

/sig au

[2022-08-18 21:49] buckaroogeek opened #111926 "Changelog in 1.24.4 release not updated"
### What happened?

Downloaded the 1.24.4 release tar ball. Examined ./CHANGELOG/CHANGELOG-1.24.md.  The top line in the TOC is` - [v1.24.3](#v1243)
`

### What did you expect to happen?

Expected to see the v1.24.4 changelog in the table of contents and in the content area.

### How can we reproduce it (as minimally and precisely as possible)?

Down load the release 1.24.4 tar ball and examine th

[2022-08-18 21:51] enj commented on #111925
/milestone v1.26

(We need to come up with some plan for this during the release, even if the actual implementation takes many releases)

[2022-08-18 21:52] buckaroogeek commented on #111926
/sig Release

[2022-08-18 21:57] #87709 closed

[2022-08-18 22:46] marosset commented on #111416
What version of containerd is being used here?
We found a regression where metrics for host-process containers stopped being reported in containerd versions v1.6.5 - v1.6.6
Related to https://github.com/containerd/containerd/pull/7223

[2022-08-18 22:55] marosset commented on #108144
`--pod-infra-container-image` is planned for deprecation in v1.27 because it is used by the garbage collector to know not to clean up this image.
https://github.com/kubernetes/kubernetes/issues/106893

@SergeyKanzhelev / @ibabou  should we close this issue in favor of the one linked above?

[2022-08-18 23:01] marosset commented on #108868
This doesn't look to be an issue with K8s but instead a limitation of Windows containers (when created with Docker).
If this is still causing problems please raise an issue at https://github.com/microsoft/windows-containers
/close

[2022-08-18 23:01] #108868 closed

[2022-08-18 23:28] marosset commented on #110600
/triage accepted
/milestone v1.26

[2022-08-19 00:49] xtecox commented on #52757
+1

[2022-08-19 02:16] sanposhiho commented on #110643
👍

/retitle metrics to see which plugins affect to scheduler's decisions in Filter/Score phase

[2022-08-19 02:40] olljanat commented on #87709
Completed in where/how? I don't see any linked PRs in here.

[2022-08-19 02:54] cici37 commented on #111911
I have left a comment earlier in https://github.com/kubernetes/website/pull/35981#discussion_r949540394 and the update is done. The CHANGLOG update is covered in https://github.com/kubernetes/sig-release/pull/1995. We still need a release note update. Since it was merged after rc1 cut, the release notes has to be added manually. I am working with release notes team on it: https://github.com/kubern

[2022-08-19 02:56] thockin commented on #87709
I was closing old issues with no traction - I don't know why GitHub thinks
that means "completed".  Sorry.

On Thu, Aug 18, 2022, 7:40 PM Olli Janatuinen ***@***.***>
wrote:

[2022-08-19 06:00] fabian-zeindl-oebb commented on #111386
@kunallanjewar Great, thank you.

[2022-08-19 06:00] ericsuhong commented on #111416
It is using **containerd://1.5.11+azure-2** version (one that comes with AKS k8s 1.23.8).

Here is output from kubectl get nodes -o wide:

![image](https://user-images.githubusercontent.com/3857851/185553202-46e7d6ea-34f5-4093-abbc-8348335d43c5.png)

[2022-08-19 06:50] withlin commented on #83471
same issue

[2022-08-19 07:02] harshanarayana commented on #111923
@aramase @enj Mind if I take a look at this?

/assign

[2022-08-19 07:17] aojea commented on #111671
... and, only if the flag `--endpoint-reconciler-type` is set, if is `none`, the endpoints are not generated by the apiserver, are generated externally

[code]

[2022-08-19 07:47] zw0610 commented on #52757
It looks sharing GPU among Pods is now officially supported after reading this post from Nvidia:
https://developer.nvidia.com/blog/improving-gpu-utilization-in-kubernetes/

[2022-08-19 07:48] nehatomar12 commented on #90549
@liggitt @lolin9 did you get any resolution? to filter key1=value1 || key2=value2?

[2022-08-19 08:38] Dentrax commented on #90272
Any updates here? @hykych Did you figure it out yet?

[2022-08-19 09:04] haoruan opened #111928 "MicroTime marshalled at different precision for json and proto"
### What happened?

Found some error logs when sending series events to apiserver:
[code]
seems the later eventTime differed from the first one in series events

After investigation, I found the problem was in the marshal.
MicroTime is supposed to work on microsecond level precision, but init with nanosecond level precision, in this case, `MarshalJSON` generates microsecond level precision data an

[2022-08-19 09:08] haoruan commented on #111928
/sig api-machinery

[2022-08-19 09:08] haoruan commented on #111928
/assign

[2022-08-19 09:35] #108657 closed

[2022-08-19 09:38] lfe135 commented on #106842
In registry/generic/registry/store.go, create is verified before checking for existence, I don't think this is a bug.

[2022-08-19 09:38] ilyesAj commented on #104935
I'm having the exact same symptoms, how did you manage to fix it ?

[2022-08-19 10:57] aslanpour opened #111929 "Endpoints objects fail to affect Service objects that previously had Selectors"
### What happened?

Hi All,
I am trying to follow the instruction for using [Endpoints ](https://kubernetes.io/docs/concepts/services-networking/service/) objects to ask a Service object to distribute the load between Pods with specific IP addresses instead of any Pod with a matching label/selector.
However, Endpoints objects seem not to work if the Service object had already defined the Selector

[2022-08-19 11:02] aojea commented on #111929
are you using kube-proxy?

since 1.22, kube-proxy uses endpointslices and not endpoints, you should do the same exercise you did, but checking the endpointslices generated in each case

[2022-08-19 11:17] harshanarayana commented on #111895
Are you sure this is right ? Isn't this expected to be `https` always ?

xref: https://kubernetes.io/docs/reference/access-authn-authz/webhook/#configuration-file-format

[code]

[2022-08-19 11:30] atiratree commented on #111911
I can try to improve https://github.com/kubernetes/kubernetes/pull/108459 next week and make it safer for backports

[2022-08-19 11:32] dobharweim commented on #79547
/remove-lifecycle stale

[2022-08-19 12:11] harshanarayana commented on #111895
I did a quick test and it works for me though.

[code]

[code]

[code]
This is when i was forcefully setting `Allowed: false`

[code]
This is when it was working fine

[2022-08-19 12:12] oludareojo3 opened #111931 "Inability to monitor for graceful and ungraceful pod termination"
I have looked through the code but can't seem to find a way to monitor for graceful and ungrateful pod termination i.e pods that terminate gracefully (respecting the grace-period set) and pods that do not and the corresponding events.
Can someone point me in the right direction?

/sig <cluster-lifecycle>

[2022-08-19 12:21] phil9909 commented on #99697
/remove-lifecycle stale

[2022-08-19 13:22] jensentanlo commented on #109712
I was just discussing this with @mimowo on the Slack. An additional use case I was thinking of would be running integration tests; we'd certainly expect "failures" but might want several configurations as to how aggressively that we want to terminate the test run, since each test might take a while to run.

Currently we've hand-rolled something using many single (non-indexed) jobs but it doesn't s

[2022-08-19 13:23] liggitt commented on #111928
Good catch... we'd probably need to truncate to microseconds when marshaling and unmarshaling proto to ensure any already persisted data is fixed up when read. Something like this:

[code]

[2022-08-19 13:24] gnufied opened #111933 "CSI volumes left overs are not cleaned up if CSI plugin is attachable"
### What happened?

1. Create a Deployment or SS that uses a vsphere CSI volumes (for example).
2. Shutdown the node while pod was running.
3. Wait for node to go `NotReady` and pod to switch to `Terminating` state.
4. Bring back the node up.
5. If the pod migrates to different node (or pod gets deleted), then files/directories inside `/var/lib/kubelet/pods/xxxx` should be cleaned up.

The reason

[2022-08-19 13:32] haoruan commented on #111928
Thanks for advice, going to send a PR soon

[2022-08-19 13:50] jsafrane commented on #111799
/retitle RWO access mode should be enforced for non-attachable volumes

There is no "Backward Compatibliity broken" here, non-attachable RWO volumes always had the same (bad) behavior.

[2022-08-19 13:51] liggitt commented on #111913
Thanks for the issue report. This is working as intended.

The PodSecurityPolicy API originated in the `extensions` API group, so the first released implementation honored authorization rules in that API group. Behavior to honor authorization rules in that group was kept for backwards compatibility, even when PSP moved to the `policy` API group, to avoid an upgrade breaking existing working cluste

[2022-08-19 13:51] #111913 closed

[2022-08-19 13:53] BinacsLee commented on #105802
/remove-lifecycle rotten

[2022-08-19 13:53] jsafrane commented on #111799
BTW, this looks like a dup of https://github.com/kubernetes/kubernetes/issues/103305
/close

[2022-08-19 13:53] #111799 closed

[2022-08-19 13:58] olehm-ma commented on #104935
@ilyesAj  you can try to omit using`toYaml` function for hpaBehavior.

E.g.,
values.yaml
[code]

hpa.yaml
[code]

Or add hpa behavior to the hpa template:
[code]

[2022-08-19 14:18] liggitt commented on #111902
cc @enj

[2022-08-19 15:55] kerthcet commented on #106127
We can close this now since it's resolved by https://github.com/kubernetes/enhancements/issues/3094, reopen if needed.
/close

[2022-08-19 15:55] #106127 closed

[2022-08-19 15:56] ahg-g commented on #109712
Interesting! just curious, aren't there dedicated frameworks for running tests? any reason why you use a custom setup?

[2022-08-19 15:58] aramase commented on #111921
/assign

[2022-08-19 15:58] aramase commented on #111920
/assign

[2022-08-19 15:59] thockin commented on #42125
@danwinship This seems relevant to current discussion - opportunity to de-dup issues?

[2022-08-19 16:03] csantanapr commented on #110336
/close

[2022-08-19 16:03] thockin commented on #97445
It's unclear to me why this is open as a k8s issue?  Is there some resolution we should be looking for?

[2022-08-19 16:03] #110336 closed

[2022-08-19 16:07] dprotaso opened #111937 "managedField entry for a removed API version prevent further resource updates"
### What happened?

Hi - a user reported an issue were server-side apply (ssa) stopped working.

ref: https://github.com/knative/operator/issues/1184

tl;dr as we update our CRD schema we drop versions. Prior to dropping versions we run migration jobs so that only the latest storage version is present in the CRD status. When a resource has a managedFields entry for an API version that no longer ex

[2022-08-19 16:08] dprotaso commented on #111937
/sig api-machinery

[2022-08-19 16:11] jayunit100 commented on #111703
I'd vote to reopen if there's any wiggle room here ... I've seen operator implementations in the past delete data bc of this.

[2022-08-19 16:47] tallclair commented on #109297
/remove-lifecycle rotten
/lifecycle frozen

[2022-08-19 17:21] thockin commented on #31571
We have a pretty well established pattern based on CRDs now.  Closing old issues is fun :)

[2022-08-19 17:21] #31571 closed

[2022-08-19 17:21] vaibhav2107 commented on #111931
/kind support

[2022-08-19 17:28] thockin commented on #35183
I don't think we're going to implement  new "do this when a pod is deleted" hooks in the core system any time soon.  https://github.com/kubernetes/enhancements/pull/1995 is not what you want here, it's what bboreham described - user-triggered.  If someone wants to think up a general event-integration, it should at least start as an out-of core implementation.

[2022-08-19 17:28] #35183 closed

[2022-08-19 17:30] #35504 closed

[2022-08-19 17:33] #30781 closed

[2022-08-19 17:34] thockin commented on #30698
Closing old issues that are unlikely to be useful any further.

[2022-08-19 17:34] thockin commented on #30329
Closing old issues that are unlikely to be useful any further.

[2022-08-19 17:34] #30329 closed

[2022-08-19 17:40] #29896 closed

[2022-08-19 17:41] #28322 closed

[2022-08-19 17:44] logicalhan commented on #30698
I actually believe this issue is still useful, we need documentation on the types of guarantees we provide for which API calls and what combinations of API calls one would need to make in order to preserve data integrity at a certain level.

[2022-08-19 17:51] logicalhan commented on #30698
To some extent, this issue served as documentation.

[2022-08-19 17:53] thockin commented on #25836
Oldie but goodie.  I am going to re-title and re-purpose this.

Someone should go through all of the built-in APIs that use selectors and:

1) Make sure all selector fields document what happens if the field is nil or empty.  Write (or solicit API owners to write) API docs where needed.

2) Flag anything that tries to differentiate nil from empty.  For legacy selectors (`map[string]string`), nil a

[2022-08-19 17:54] thockin commented on #25716
Should this old issue be closed?

[2022-08-19 17:55] thockin commented on #25550
@apelisse should we close this now?

[2022-08-19 17:57] thockin commented on #25521
I'm closing this as absolete and not helpful any more.  We should still handle errors better, but making a blanket bug doesn't really further that, I think.

[2022-08-19 17:57] #25521 closed

[2022-08-19 17:59] thockin commented on #25460
@apelisse I feel like we should probably close this old issue now, yes/no ?

[2022-08-19 17:59] thockin commented on #25382
We should open distinct bugs for things we want, with use-cases.  Blanket bugs are not so helpful any more.

[2022-08-19 17:59] #25382 closed

[2022-08-19 18:00] thockin commented on #25241
@apelisse close?

[2022-08-19 18:01] #23727 closed

[2022-08-19 18:02] #22871 closed

[2022-08-19 18:03] thockin commented on #22599
This is a very old issue - does it need to stay alive?

[2022-08-19 18:04] #22007 closed

[2022-08-19 18:05] #21560 closed

[2022-08-19 18:09] thockin commented on #30698
Can we turn it into documentation?  Or re-open it as a request to write such documentation?

[2022-08-19 18:41] #108732 closed

[2022-08-19 19:22] logicalhan commented on #30698
Yeah that makes sense.

[2022-08-19 19:31] gabrielpulga-grafeno opened #111938 "Core certificate not being created within startup"
### What happened?

Been having issues on this new cluster I've built with k8s

pod1
`MountVolume.SetUp failed for volume "kube-api-access-2qx96" : object "app"/"kube-root-ca.crt" not registered
`
pod2
[code]

I'm confused if this is something related to RBAC and how do I register this kube-root-ca.crt

### What did you expect to happen?

This certificate should already be in there

### How can we

[2022-08-19 19:46] djnotes commented on #28149
Apparently  this happens when applying yaml files generated from `kubectl get deployment deployment-name --output=yaml`, because  the said output contains resourceVersion, which will probably be unsuitable for next updates. So, such lines should be deleted from the generated files.

[2022-08-19 20:14] deads2k commented on #111703
The way to handle shared/cooperative ownership of distinct fields inside of a larger resource is to have each of the clients use server-side-apply.  Conversions between versions still need to be made lossless, but using server-side-apply will prevent a client that doesn't have a complete view of the schema from modify fields accidentally.

[2022-08-19 20:24] akutz commented on #111703
The client can still opt to not use that, right? It is just odd to me that the _client_ gets to determine how to corrupt data based on the served API version used.

[2022-08-19 20:52] aramase commented on #111921
Requested for staging repo: https://github.com/kubernetes/org/issues/3630

[2022-08-19 21:11] abashmak2 commented on #108678
+1 please prioritize this issue

[2022-08-19 21:13] apelisse commented on #25241
Yeah, this is so old (with very few updates in the last few years), I'm not really sure it's relevant anymore.

[2022-08-19 21:15] apelisse commented on #25550
Also to be fair, I think that works now. I've definitely seen people update finalizers with smp.
/close

[2022-08-19 21:15] apelisse commented on #25241
/close

[2022-08-19 21:15] #25550 closed

[2022-08-19 21:16] #25241 closed

[2022-08-19 21:17] apelisse commented on #25460
I don't have a strong opinion on this one. We technically don't have validation markers yet (or at least, we could have more, CEL partially covers that too, @jpbetz).

[2022-08-19 21:18] apelisse commented on #111886
That's the type of topic that I would bring to a sig-api-machinery meeting.

[2022-08-19 21:43] Safrudin244342 commented on #47862
+1

[2022-08-19 22:33] paulgmiller opened #111939 "Better user error for confliciting pdbs"
### What happened?

When there are conflicting pdbs the api server errors on the conflict but doesn't name the podisruption budgets in question.

### What did you expect to happen?

Include the names of at least 2 of the pdbs in the error message otherwise this leads to confusion especially if the cluster operator doing evictions is not the same as the author of the bad pdbs.

### How can we repro

[2022-08-19 22:34] paulgmiller commented on #111939
/sig apps

[2022-08-19 23:12] jgalliers commented on #98876
@wc-s please /reopen this as we are hitting this exact issue. CIS Docker hardening requires the `--no-new-privileges` flag on the docker daemon but we need a specific pod to launch with `sudo` access.

`allowPrivilegeEscalation` does not satisfy this, despite what seems to be documentation to the contrary

[2022-08-19 23:33] fujitatomoya opened #111940 "control-plane is stuck with status `NotReady`"
### What happened?

control-plane stays in the status `NotReady`.

[code]

### What did you expect to happen?

control-plane becomes `Ready` state.

### How can we reproduce it (as minimally and precisely as possible)?

Just need to have single node cluster by control-plane.

[code]

### Anything else we need to know?

[code]

[code]

### Kubernetes version

<details>

[code]

</details>

### Clou

[2022-08-19 23:37] aojea commented on #100698
this was discussed in several issues  https://github.com/kubernetes/kubernetes/issues/108523 , TCP sessions should allow graceful termination ... or is there other thing in particular you want to see?

[2022-08-19 23:56] thockin commented on #18174
alt-svc was rejected, but I don't think there was any real objection to having multiple explicit IPs provided to kube-proxy?  That said, kubelet's `--api-servers` flag was removed in favor of a KubeConfig file and I don't think that supports multiple IPs.  So if we want to support multi-dial, we should support it for any kubeconfig.

[2022-08-19 23:58] thockin commented on #17251
@derekwaynecarr @ehashman @endocrimes @bobbypage - is this still real or should we close it?

[2022-08-20 00:03] thockin commented on #17199
Kubelet does have a healthz port, default 10248

[2022-08-20 00:04] thockin commented on #17190
Is this issue still useful?  What is the work to be done?

[2022-08-20 00:05] thockin commented on #16627
@derekwaynecarr @ehashman @endocrimes @bobbypage - should we close this?

[2022-08-20 00:05] #15776 closed

[2022-08-20 00:07] thockin commented on #15675
Closing this in favor of all the ongoing work around service topology and traffic policy.

[2022-08-20 00:07] #15675 closed

[2022-08-20 00:13] thockin commented on #15673
No sure what to do with this issue - yes having a holistic design doc would be good, but this issues isn't going to make that happen.  Is someone going to try to write it?

[2022-08-20 00:15] #65340 closed

[2022-08-20 00:15] #15390 closed

[2022-08-20 00:16] thockin commented on #15195
@derekwaynecarr @ehashman @endocrimes @bobbypage - is this still real or should we close it?

[2022-08-20 00:16] #15157 closed

[2022-08-20 00:18] thockin commented on #15000
Unfortunately this is now part of the public API of k8s.io/apimachinery/pkg/util/wait/

[2022-08-20 00:18] #15000 closed

[2022-08-20 00:20] thockin commented on #14924
Yes this still needs to be done, but this issue is not helpful. Anyone who wants to is invited to jump in and make the comment-docs better, now and forever.  This is a process not a destination.

[2022-08-20 00:20] #14924 closed

[2022-08-20 00:22] thockin commented on #14791
I am pretty sure this is a feature, not a bug at this point.

[2022-08-20 00:22] #14791 closed

[2022-08-20 00:23] thockin commented on #14217
@msau42 It's been a looooong time - is this still a useful idea?

[2022-08-20 00:25] thockin commented on #13969
What do you mean by v2 API?  Are we ever going to have a v2 of the machiery and semantics?

[2022-08-20 00:26] thockin commented on #12968
+1

[2022-08-20 00:27] #12455 closed

[2022-08-20 00:29] thockin commented on #12450
Implemented!

[2022-08-20 00:29] #12450 closed

[2022-08-20 00:29] #12430 closed

[2022-08-20 00:30] #6487 closed

[2022-08-20 00:32] #4630 closed

[2022-08-20 00:32] liggitt commented on #14791
The server side field validation feature that goes beta in 1.25 will warn about these by default if it encounters them, and you can opt into strict mode that will reject requests with duplicate keys. See https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2885-server-side-unknown-field-validation

[2022-08-20 00:33] thockin commented on #3955
Is this still a real issue?

[2022-08-20 00:34] #3714 closed

[2022-08-20 00:35] #3676 closed

[2022-08-20 00:36] #1685 closed

[2022-08-20 00:36] liggitt commented on #3955
This functionality got split out to kubectl-convert so kubectl no longer has a dependency on internal types. I think that's the final destination and this can be closed

[2022-08-20 00:36] #3955 closed

[2022-08-20 00:38] liggitt commented on #3030
I hate to reopen, but I still think this is a legitimate issue that continues to impact callers. The references to this issue continue to pile up.

[2022-08-20 00:41] thockin commented on #3030
AFAICT, it IS populated though?  Am I missing something?

[code]

[2022-08-20 00:45] liggitt commented on #3030
Yeah, kubectl is messing with the output... look at the raw response from the server. `ServiceList` top level object with `items` field containing objects without a `kind` set. When that gets populated into an informer cache, initial objects lack a `kind`, then watch events for individual updates have a `kind`, and there's super weird inconsistencies about objects in the cache having apiVersion/ki

[2022-08-20 00:47] thockin commented on #3030
ACK.  My bad, then.

On Fri, Aug 19, 2022 at 5:45 PM Jordan Liggitt ***@***.***> wrote:

[2022-08-20 01:06] yangjunmyfm192085 commented on #109457
/remove-lifecycle rotten

[2022-08-20 01:22] fujitatomoya commented on #111940
after adding `--pod-network-cidr` via `kubeadm init` did the magic, and now flannel and weave works w/o problem.
i am not sure where/when these info is cached or cleared, since i do not put `--pod-network-cidr` always but it did work okay before.

[2022-08-20 05:31] mitar commented on #1685
@thockin Care to link to some more information about how has this been completed?

[2022-08-20 06:50] pilotudesh commented on #111916
/assign

[2022-08-20 07:28] andyzhangx commented on #108869
/reopen
/remove-lifecycle rotten

[2022-08-20 09:02] ch0mik commented on #111112
@thockin  yes, that right.

[2022-08-20 09:05] lance5890 opened #111943 "1.18: kube-apiserver: fatal error: concurrent map writes"
### What happened?

apiserver  panic by some requests, and finally it will crash to restart ,and this situation will replay after one day

[code]

### What did you expect to happen?

kube-apiserver do not restart

### How can we reproduce it (as minimally and precisely as possible)?

this happends often in my environment，but not in other environment, i just do not known how to reproduce it

### An

[2022-08-20 09:12] lance5890 commented on #111943
/sig k8s-infra

[2022-08-20 09:35] aojea opened #111944 "E2E run serial tests in parallel suite"
GinkgoV1 doesn't support to run Serial and Parallel tests in the same suite, this caused us to set up different jobs for Serial tests.

@onsi implemented this long standing request in V2 , so users can run Serial tests at the same time, Ginkgo will do the magic

https://onsi.github.io/ginkgo/#the-serial-decorator

This can simplify a lot the maintenance of current test-infra jobs and help Conforma

[2022-08-20 09:36] aojea commented on #111944
/cc @pohly @chendave @BenTheElder @johnSchnake

@chendave since you already do the heavylifting for ginkgov2 check if this is something you are interested and feel to assign it to yourself

[2022-08-20 09:51] #108775 closed

[2022-08-20 09:51] invidian commented on #109331
/remove-lifecycle rotten

[2022-08-20 09:55] lance5890 commented on #111943
/sig api-machinery

[2022-08-20 11:29] aojea commented on #111943
that version is EOL, you need to reproduce with a supported version

[2022-08-20 12:51] #108911 closed

[2022-08-20 14:52] #101609 closed

[2022-08-20 16:32] liggitt commented on #111703
When we're talking about a client updating the entire content of an object with a PUT request, it's not corrupting the object to override individual fields set by other actors. Merging individual fields set by other actors back into a PUT update from the latest client could equally be seen as corrupting the object.

If the merging behavior is desired, then patch / apply is the right type of reques

[2022-08-20 16:54] invidian commented on #84298
/remove-lifecycle stale

[2022-08-20 20:32] panicbit commented on #69676
/remove-lifecycle stale

[2022-08-20 21:06] wc-s commented on #98876
/reopen

[2022-08-20 21:56] #108279 closed

[2022-08-20 22:56] #105658 closed

[2022-08-20 23:18] liggitt commented on #111943
Is this reproducible on a supported version? Several issues like this were resolved in 1.22+ in https://github.com/kubernetes/kubernetes/issues/107463

[2022-08-20 23:20] coderplay commented on #97103
@verb

Was it added?

[2022-08-20 23:58] liggitt commented on #111938
What point release of 1.22 are you running? Known examples of this issue were fixed in 1.22.9+ (see https://github.com/kubernetes/kubernetes/issues/105204#issuecomment-1104427967)

[2022-08-21 00:57] #107260 closed

[2022-08-21 02:05] lance5890 commented on #111943
yeah, it may be related to #107463 ， but i also wonder why "apiserver was unable to write a JSON response: client disconnected" happens too much , it is caused by apiserver can not response or the client has closed the connection

[2022-08-21 02:59] #108904 closed

[2022-08-21 03:18] ahmetb opened #111947 "kubelet: Updating files from Secret volumes causes DELETE_SELF inotify event on user-visible symlink"
### What happened?

If a user starts an [inotify](https://man7.org/linux/man-pages/man7/inotify.7.html) watch for a file on a mounted `Secret` volume,  updating the Secret resource (changing the contents of the watched file) causes an inotify event  [**`IN_DELETE_SELF`**](https://man7.org/linux/man-pages/man7/inotify.7.html#:~:text=from%20watched%20directory.-,IN_DELETE_SELF,-Watched%20file/direct

[2022-08-21 03:19] ahmetb commented on #111947
/area kubelet
/sig node

[2022-08-21 03:19] liggitt commented on #17199
This is for an apiserver health port, not kubelet

[2022-08-21 04:28] ahmetb commented on #111947
/close
The issue was with the `inotifywait(1)`  tool I was using to test the behavior that unintentionally follows symlinks

The version of `inotifywait(1)` I was using is old (v3.14) and it is not passing the `IN_DONT_FOLLOW` flag (and it didn't have a `--no-dereference` option), so it was recursively resolving symlinks (which get deleted).

(This also explains why I didn't get the `DELETE /secre

[2022-08-21 04:28] #111947 closed

[2022-08-21 04:57] sanposhiho commented on #93794
/remove-lifecycle stale

[2022-08-21 05:01] #106718 closed

[2022-08-21 05:01] #108542 closed

[2022-08-21 05:26] PalanQu commented on #109034
@thockin Hi, I have commited a PR, could you please help me to review the PR, thx.

[2022-08-21 10:19] jayunit100 commented on #106718
I guess it's understandable that test pods have no tolerations .... I don't remember why I originally filed this but I think there was a good reason.

I'll maybe try to recast the issue with this in mind  later if I remember.

[2022-08-21 10:38] soltysh commented on #111714
I've added that to Wednesday's sig-cli call (Aug 24th), I'd like to discuss this with the rest of the group.

[2022-08-21 10:51] kundan2707 commented on #111940
/kind support

[2022-08-21 12:01] aojea commented on #111940
it seems it was solved

/close

[2022-08-21 12:01] #111940 closed

[2022-08-21 13:16] asm582 opened #111948 "Support active deadline in jobs since the time the pod started"
### What happened?

When a job is started with `activeDeadlineSeconds` param the duration currently is considered as soon as the job controller reports the job as running but it may not be the case that pods are running. In our case, All pods associated with the job are in the `Pending` phase.

### What did you expect to happen?

We expect that the job controller should allow a pod min of 1 pod as

[2022-08-21 14:11] zjm232 commented on #107479
please do not  sent anything to me.it“s to much--发自新浪邮箱客户端
在 8月21日 22:09，Kubernetes Triage Robot ***@***.***> 写道：

The Kubernetes project currently lacks enough contributors to adequately respond to all issues and PRs.
This bot triages issues and PRs according to the following rules:

After 90d of inactivity, lifecycle/stale is applied
After 30d of inactivity since lifecycle/stale was applied, lif

[2022-08-21 14:52] awels commented on #107479
/remove-lifecycle stale

[2022-08-21 15:24] kerthcet commented on #111793
Hi @jackin853 , v1.21 is out of support in community now, can you try v1.22+. And actually, in scheduling, terminating pods will be filtered out.

Besides, can you provide some scheduling logs for digging.

/triage needs-information

[2022-08-21 18:07] #108963 closed

[2022-08-21 19:10] akutz commented on #111703
Hi @liggitt,

Except a client at `vN-1` may be oblivious to non-breaking changes to the schema at `vN`. For example:

* a CRD named `Task` at `v1alpha1` defines the property `spec.id`
* the `Task` API is updated to `v1alpha2` and defines a new property, `spec.description`
* the `Task` API stores itself at `v1alpha2` but serves both `v1alpha1` and `v1alpha2`
* a `Task` object is created at `v1alpha

[2022-08-21 20:24] danwinship commented on #111671
`--endpoint-reconciler` doesn't matter (in the sense that, if you try to manually set endpoint IPs of the wrong family, it won't actually work).

The "kubernetes" Service will _always_ have a clusterIP from the primary service CIDR, therefore the "kubernetes" Endpoints/EndpointSlice must also have IPs from the primary service CIDR's family or the apiserver service won't work, therefore anything el

[2022-08-21 20:28] aojea commented on #111671
my point is that we only panic if we know that we are going to do something wrong

https://github.com/kubernetes/kubernetes/blob/bd9444c1cfd438690dc21c31404dd79ab60dc6cb/pkg/controlplane/controller.go#L98

if the endpoint reconciler is not set there is no check

[2022-08-21 21:00] danwinship commented on #111695
I was saying we _might_ want to call it an API break, yes. I wasn't ready to declare it that myself.

But thinking about it some more, we will definitely break some existing 1.24 users if we revert the change now, because there will be users who used to use a legacy cloud provider with `--node-ip` who were only able to migrate to an external cloud provider in 1.24 because of the fix to `--node-ip`

[2022-08-21 21:12] danwinship commented on #111863
Tim mentioned briefly in the meeting that we have all these problems with bad Service defaults, and I feel like part of the answer here might be to encourage people to use `--nodeport-addresses` or something similar; then we can just change the `KUBE-NODEPORTS` jump rule to only match traffic on those IPs, rather than having to un-match everything else.

(Also, if people use a `--nodeport-addresse

[2022-08-21 21:13] danwinship commented on #111863
eg
`klog.Warning("--nodeport-addresses not specified; NodePorts will be available on all local IPs!")`

[2022-08-21 21:17] danwinship commented on #111823
It's optional because some endpoints aren't on nodes. Kube-proxy requires that `nodeName` be set for pod-based endpoints. (Things like local traffic policy won't work right if it's not set.)

The idea was in response to your comment about "presumes that all nodes are configured the same, which might not be true"

[2022-08-21 22:19] thockin commented on #111823
I get what you are saying but I am not sure it's practically much better.
If the ephemeral range differs across nodes, it is non-deterministic
whether the service which has a colliding node-port happens to land on a
node that has the "bad" range.  And now you need to decide who handles
node-port collisions for corner cases.

E.g.

Service a has nodeport 32222
Service b has nodeport 33333
Service c

[2022-08-22 02:15] TaoVonQi commented on #105536
Found this bug, still in:

k3s version v1.24.3+k3s1 (990ba0e8)
go version go1.18.1

[2022-08-22 02:25] chendave commented on #111944
@aojea  thanks Antonio!  pls let me do some investigation first.

[2022-08-22 02:27] aslanpour commented on #111929
I am not using kube-proxy.
I checked the endpointslice objects. Once I create a deployment an EndpointSlice object is created for that.
Once I delete the Selector parameter from my Service object, a new EndpointSlice is created, again referring to the Service. Hence, now I will have 2 EndpointSlice objects directing the load balancing for my Service. If I delete an IP address of a Pod from my Endp

[2022-08-22 02:33] #111331 closed

[2022-08-22 06:11] #108498 closed

[2022-08-22 07:05] horihel commented on #78446
Just FYI: Alternatives are becoming harder: our go-to alternative "kube-forwarder" is unmaintained for years and has problems talking to newer clusters.
port-forwarding is still a preferred way of accessing cluster-resources, as it doesn't require manipulation on any side (most alternative solutions at least need to manipulate DNS on the client).
If anyone finds a stable alternative implementation

[2022-08-22 07:11] aojea commented on #111929
I see, this is a duplicate of https://github.com/kubernetes/kubernetes/issues/103576

[2022-08-22 08:41] sebltm commented on #75890
I still think this would be helpful, although you can simulate the same thing with a controller and taints it just feels like more of a hack. We would like to perform some actions on the node before it's marked as Ready using a daemonset, but currently for an ASG node, we have to join the node (and therefore have some pods scheduled), get our controller to catch that new node, add a ``NoExecute``

[2022-08-22 08:48] fhke commented on #107218
/close

[2022-08-22 08:48] #107218 closed

[2022-08-22 10:13] #108960 closed

[2022-08-22 11:12] neolit123 commented on #111924
/kind feature
/sig cli

[2022-08-22 11:12] neolit123 commented on #111924
/remove-kind feature

[2022-08-22 11:13] neolit123 commented on #111929
/sig network
close if needed pls

[2022-08-22 11:14] neolit123 commented on #111931
/sig node

[2022-08-22 11:15] neolit123 commented on #111948
/sig apps

[2022-08-22 11:59] RichardoC commented on #108213
/remove-lifecycle stale

[2022-08-22 12:09] Riaankl opened #111956 "Write e2e test for ResourceQuota status +3 Endpoints"
# Progress <code>[6/6]</code>

-   [X] APISnoop org-flow: [CoreV1ResourceQuotaStatusTest.org](https://github.com/apisnoop/ticket-writing/blob/master/CoreV1ResourceQuotaStatusTest.org)
-   [X] Test approval issue: #111956
-   [X] Test PR: #111957
-   [x] Two weeks soak start date: [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5&graph-metrics=test-d

[2022-08-22 12:10] Riaankl commented on #111956
/triage accepted

[2022-08-22 13:05] DieterDP-ng commented on #111077
It seems other metrics have lost different labels as well.

For example, `container_network_receive_bytes_total` and `container_fs_io_current` have lost the `pod` label.

[2022-08-22 13:10] AlvinRamoutar commented on #57187
/remove-lifecycle stale

[2022-08-22 13:13] aimcod commented on #92463
It did help, quite a lot. Thanks for this.

What I ended up doing, was to `exclude=kubelet-1.1*`

I am adding this to my ansible kubernetes deployment playbooks. Sweet and short.

Thanks a ton!

[2022-08-22 13:55] danwinship commented on #42125
/retitle No way to configure ExternalIP addresses for a node with kubelet

It's not quite a dup of the other discussion because that's about dual-stack InternalIPs, whereas this is about (single-stack or theoretically dual-stack) InternalIP+ExternalIP.

There was some discussion of this in https://github.com/kubernetes/enhancements/pull/1665 but never any consensus that we actually wanted to suppo

[2022-08-22 13:59] astoycos commented on #108298
/assign @astoycos

[2022-08-22 14:05] astoycos commented on #108298
We've run into this issue as well in OCP see https://github.com/openshift/origin/pull/26775

[2022-08-22 14:05] dashpole commented on #109829
/remove-lifecycle stale

https://github.com/kubernetes/kubernetes/pull/105126 is merged now, so this can be worked on.

[2022-08-22 14:19] gnufied commented on #111933
cc @dobsonj @jsafrane @jingxu97

[2022-08-22 14:35] Jefftree commented on #108213
/transfer website
/kind feature

[2022-08-22 14:37] liggitt commented on #111703
`kubectl apply` using client-side apply (using the last-applied configuration annotation, as opposed to server-side apply with `--server-side`) does not support multiple actors applying a single object. Deltas between what is in last-applied-configuration and what you're currently applying are expected to be meaningful. When you switched your manifest to a different API version and dropped the pre

[2022-08-22 15:04] vincentmli opened #111962 "Move /proc/timer_list from defaultMaskedPaths to defaultReadonlyPaths"
### What would you like to be added?

In https://github.com/cilium/cilium/issues/20981, cilium agent fall back to `/proc/timer_list` to get kernel HZ when OS distribution like Ubuntu 22.04 does not have `/proc/config.gz` or `/boot/config-release` to get kernel HZ. but cilium agent does not run in privilege mode, so cilium agent can't read `/proc/timer_list` due to `/proc/timer_list` in  `defaultMa

[2022-08-22 15:08] vincentmli commented on #111962
/sig Security

[2022-08-22 15:10] liggitt commented on #107415
this bug is fixed in https://github.com/kubernetes/kubernetes/pull/107558, the scheduler no longer panics.

the validation gap is tracked in https://github.com/kubernetes/kubernetes/issues/99139 and being fixed in https://github.com/kubernetes/kubernetes/pull/107531

[2022-08-22 15:10] #107415 closed

[2022-08-22 15:12] liggitt commented on #109155
/lifecycle frozen

how important is it that this safety be restored? 1.22 is almost out of support so the window to restore threadsafety to this functionality is rapidly closing

[2022-08-22 15:15] dims commented on #78446
cc @aojea @thockin  - Looks like a long standing issue :(

[2022-08-22 15:28] smarterclayton commented on #1685
Accidental?  We don’t have any of the infra for this that Im aware…

[2022-08-22 15:29] liggitt commented on #1685
it hasn't been completed... github started adding "completed" language any time anyone closes an issue by default

[2022-08-22 15:30] manuelbuil commented on #111695
Not exactly, my use case is two NICs in one node, both having ipv4 and ipv6 addresses. For my kubernetes traffic, I want to use the secondary NIC, not the one defined in the default route, and I would like both addresses of the secondary NIC to be under `node.status.addresses`

Thanks for the reply and the suggestion. This workaround works for me and I guess it is an acceptable solution for the ti

[2022-08-22 15:34] mitar commented on #1685
OK, then why was this closed?

[2022-08-22 15:36] liggitt commented on #1685
it's closed as unplanned

[2022-08-22 15:41] jwforres commented on #1685
So this means we've officially given up on ever doing multi watch?

With the overall change in support for the IE browser this issue is less painful than it was when it was opened.

[2022-08-22 15:45] logicalhan commented on #1685
Out of curiosity, why do you want multi-watch?

[2022-08-22 15:48] antoninbas commented on #108298
@astoycos I already have a PR for this: https://github.com/kubernetes/kubernetes/pull/111789. It's pretty comprehensive, as when I started working on this, I realized there were several things that needed fixing in the netpol tests.

[2022-08-22 16:04] robey commented on #78446
/remove-lifecycle stale

this still happens with shocking regularity. i can't believe the authors are lucky enough to have it never happen to them.

[2022-08-22 16:17] astoycos commented on #108298
Ah sweet no worries thanks @antoninbas!!

[2022-08-22 16:17] astoycos commented on #108298
/unassign @astoycos

[2022-08-22 16:17] astoycos commented on #108298
/assign @antoninbas

[2022-08-22 16:19] smarterclayton commented on #1685
Prior to HTTP2 this was a pretty large issue for clients watching a substantial number of resources (as UIs tend to do), since you could have a thousand users watching a hundred resources.  Post HTTP2 it is less impactful overall, although I think in general every client / controller watches or cares about multiple resources at the same time, and there is amplified overhead on reconnect.

While ou

[2022-08-22 16:19] ruiwen-zhao commented on #106248
@ndixita is actively working on this in https://github.com/kubernetes/kubernetes/pull/111495

/reopen

[2022-08-22 16:22] #109530 closed

[2022-08-22 16:26] marosset commented on #111416
You'll want to be using containerd v1.6.x (preferably v1.6.8) for host-process-container stats to work.

[2022-08-22 16:30] aramase opened #111963 "[sig-auth] New project board and use github actions for board sync"
- [x] Create a new project for sig-auth
   - We're using the classic board today: https://github.com/orgs/kubernetes/projects/54 and want to migrate to use the new board
- [ ] Use github actions to automate board sync
   - xref: https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/hack/sync-project-board.sh

/sig auth

[2022-08-22 16:30] aramase commented on #111963
/cc @enj @ritazh
/triage accepted

[2022-08-22 16:39] jwforres commented on #1685
Yeah the critical issue that caused us to originally open this issue is just no longer a problem. Other browsers do not have the very small connection limit that IE had.

There are other API server improvements in the area of websockets that @spadgett and I would prioritize much higher now. I'm good with letting this one fall off the radar until a critical need comes up.

[2022-08-22 16:43] enj commented on #110035
The tokens being different is expected, as we no longer attempt to mount and use secret based tokens in pods (the token request API is used instead to create ephemeral tokens).

This does not appear to be an issue in Kuberentes - there is likely some configuration issue in how your verification keys are configured.

Please try asking on the support channels
https://github.com/kubernetes/kubernetes

[2022-08-22 16:43] #110035 closed

[2022-08-22 17:30] rphillips opened #111965 "Kubelet Ephemeral Storage by Disk"
### What happened?

The Kubelet reports in the Node Status an aggregate for Ephemeral storage space in Allocatable and Capacity. The drawback to this is when a different partition - not the root partition - is mounted to `/var/lib/kubelet` or `/var/lib/containers`. The Ephemeral storage values reported do not reflect the reality of what is on the Node.

Is there a plan to split ephemeral storage r

[2022-08-22 17:30] rphillips commented on #111965
/sig node

[2022-08-22 17:34] knelasevero commented on #91633
Hey, so @Huang-Wei I have run perf tests only for PreemptionBasic which I believe will basically always trigger getting a logger from context and logging something at basically any loglevel (as you mentioned). I ran a few times both with code from master branch and also from the branch using ctx logger with WithName and with values. Results are here: https://gist.github.com/knelasevero/79b7fa6f57c

[2022-08-22 17:58] spiffxp commented on #106248
/remove-lifecycle rotten
per https://github.com/kubernetes/kubernetes/issues/106248#issuecomment-1222588953

[2022-08-22 18:15] 304NotModified commented on #100249
Duplicate of https://github.com/kubernetes/kubernetes/issues/76024

[2022-08-22 18:20] vincentmli commented on #111962
https://access.redhat.com/solutions/3532471, and https://vulners.com/cve/CVE-2017-5967 are the reason to put `/proc/timer_list` in `defaultMaskedPaths`?

 CVE is addressed by kernel fix https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?id=dfb4357da6ddbdf57d583ba64361c9d792b0e0b1, not sure about the NMI watchdog softlockup

[2022-08-22 19:11] aojea commented on #78446
This is a feature that is part of the apiserver and kubectl, proxying a local socket to a pod through a chain of proxies

https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster-services/#manually-constructing-apiserver-proxy-urls

I would not consider the port-forward mechanism something to use in production, Kubernetes networking already offer different mechanism to access the

[2022-08-22 19:16] #107454 closed

[2022-08-22 19:19] spiffxp commented on #111892
/assign
Should be addressed by https://github.com/kubernetes/test-infra/pull/27218

[2022-08-22 19:20] spiffxp commented on #111892
/triage accepted

[2022-08-22 19:34] mathuvenkat commented on #111895
Thanks for the details and trying out - i'm not sure how but modifying to below worked - the only difference in this and my previous code is.

import {
authorizationv1 "k8s.io/api/authorization/v1"
}

json.Marshal(sarFinal)  vs json.Marshal(&sarFinal)

`
       import {
	v1 "k8s.io/api/authorization/v1"
       }
        content, err = ioutil.ReadAll(r.Body)
	authReq := &v1.SubjectAccessReview{}

[2022-08-22 19:38] mathuvenkat commented on #111895
@liggitt  @harshanarayana I have one more question related to this - is there any way to have the api-server pass the requestor token to the web-hook ?
The use-case I'm looking at is to use an external authorizer to which we will forward the request to, but that needs the actual token with which it was invoked and not the groups[] which api-server seems to extract from the token. This is because g

[2022-08-22 19:39] mezhaka commented on #111825
I cannot give a succinct repro setup at the moment, but I can try to do it upon request.

I am not doing any PostgreSQL, but connect to an internal service. Our CI test code
1) Creates a pod with the service.
2) Waits for that pod to go into a "Running" state.
3) Opens a tunnel.
4) Sends `HEAD /` requests to the service until it starts responding in order to figure out when it has finished booting

[2022-08-22 19:56] #111114 closed

[2022-08-22 19:56] #111892 closed

[2022-08-22 20:17] #108689 closed

[2022-08-22 20:18] mezhaka commented on #111825
I got a short repro based on your echo server.

1) do `kubectl run tcpecho --image=alpine --restart=Never -- /bin/sh -c "sleep 60 && apk add socat && socat -v tcp-listen:8080,fork EXEC:cat"`, note the `sleep 60 part`
2) start a tunnel `kubectl port-forward tcpecho 61630:8080` (I used 61630, to filter with Wireshark).
3) do a series of `nc -v localhost 61630`
4) observe that for the kubectl 1.22.6,

[2022-08-22 20:58] teebu commented on #59888
I'm seeing the same message, I scale based on service bus topic and sent 1000 messages.

[code]

The pods spawn, but immediately get terminated.

[2022-08-22 22:54] vincentmli commented on #111962
I did a test for the NMI watchdog softlockup, could not trigger softlockup with privileged netshoot pod, the node is pretty much in idle state, not much activity going on though.

[code]

[2022-08-23 01:21] #108991 closed

[2022-08-23 02:06] jayunit100 commented on #17190
I still kinda wish we had a way to replicate taints to labels somehow .... but maybe that's a different ask

[2022-08-23 02:18] Julysun0 commented on #89535
What are the good upgrade plans

[2022-08-23 05:32] horihel commented on #78446
Here's (only) my case:
all of the usual networking options normally involve exposing the service to the internet.
- From the above comments, many people use a basic version of grafana, probably not configured for internet exposure (or sometimes company policy prevents it anyway). I used this example because grafana is exceptionally easy to break through port-forward (it breaks within minutes, requ

[2022-08-23 06:38] mrajadurai2413 commented on #34314
Check swap on or off ---> free -m
if swap is on , turn off --->sudo swapoff -a
now its works.....!

[2022-08-23 07:32] dano0b commented on #80897
/remove-lifecycle stale

[2022-08-23 07:40] purvipipaliya commented on #110476
I've got a similar issue with 1.24.1 version.
On top of it, I am able to pull images from the docker pull command,
but while using it in pods creation, it is giving an error as below-

Failed to pull image "[ip]/nginx-latest/nginx:latest": rpc error: code = Unknown desc = failed to pull and unpack image "[ip]/nginx-latest/nginx:latest": failed to resolve reference "[ip]/nginx-latest/nginx:latest":

[2022-08-23 07:57] duanmengkk commented on #27000
+1

[2022-08-23 07:57] duanmengkk commented on #92287
+1

[2022-08-23 08:23] cvvz commented on #111933
Hi @gnufied, thanks for finding this bug. I'm currently reading CSI and volume related code, and want to make contribution on k8s, may I have the opportunity to work on this bug? Really appreciate that 😀

[2022-08-23 09:07] jackin853 commented on #111793
The kubernetes cluster contains three nodes. The task is newly started. This task is the deployment controller. It has three replicas, and podAntiAffinity is set, so that the pods can be evenly distributed on the three nodes of the cluster at each startup (sa -001, sa-002, sa-003), as follows:
[code]
And check the scheduling log of the scheduler separately. InterPodAffinity can reflect the rationa

[2022-08-23 09:15] swatisehgal commented on #110478
Yes, this is a known issue and the the behavior is expected.

The system reboot implies kubelet restart here. The cluster admin is expected to remove the CPU Manager state file before kubelet is restarted. In this case, based on the logs it seems that the failure is due to inconsistency in the actual available CPUs compared to the one that were written in the state file. Please refer to the code [

[2022-08-23 09:15] #110478 closed

[2022-08-23 11:38] bavarianbidi commented on #10043
Sorry for the late comment on this but i was AFK for a longer time.
I'm not sure if we missed something.

Currently there only exist the `v1.Binding` implementation.
via the [`PodExpansion` interface](https://github.com/kubernetes/kubernetes/blob/a1128e380c2cf1c2d7443694673d9f1dd63eb518/staging/src/k8s.io/client-go/kubernetes/typed/core/v1/pod_expansion.go#L31-L51) the `pods/binding` API endpoint

[2022-08-23 12:43] alexanderConstantinescu commented on #111824
I am not sure I agree with:

The LB will not send traffic to a Node which is actually deleted because that Node should not be running kube-proxy well before that point and should hence be failing the HC. If the KCCM handles syncing a deleted node for which there is no VM anymore, then I think it's fine in the Node case to sync on DELETED as I mentioned [above](https://github.com/kubernetes/kuberne

[2022-08-23 12:44] liggitt commented on #111895
not to the authorization webhook, no... the credentials from the requesting user are only accessible to the authentication layer, including any authentication webhook

[2022-08-23 12:59] endocrimes commented on #111849
/triage accepted

[2022-08-23 13:07] liggitt opened #111972 "reset deleted_kinds strictRemovedHandlingInAlpha to false after beta"
### What happened?

once the we hit a beta release, we can reset the default value for strict handling to false to prep for 1.26.

/kind cleanup
/priority important-soon
/milestone v1.26
/assign
/cc @deads2k

[2022-08-23 13:09] liggitt commented on #111972
/sig api-machinery

[2022-08-23 13:09] liggitt commented on #111972
/triage accepted

[2022-08-23 14:30] brianpursley commented on #111825
Yeah, this was the reason for [this fix to make kubectl port-forward terminate on error](https://github.com/kubernetes/kubernetes/pull/103526). Otherwise, as you discovered, port forwarding appears to still be running, but is in some kind of zombie state where it cannot actually forward anymore.

I tried to reproduce using the tcpecho example you gave and on step 3 (`nc -v localhost 61630`) I don'

[2022-08-23 15:04] jacksontj commented on #75890
FYI the k8s cluster autoscaler has a flag `ignore-taint` (added [here](https://github.com/kubernetes/autoscaler/pull/1963/files)) which enables you to use that `node-taint` mechanism (I have also updated the [README](https://github.com/wish/nodetaint) to include this information). I do agree this feels a bit hacky but these pieces are in-place we haven't been having issues with it -- so overall se

[2022-08-23 15:27] venudevops1458 opened #111976 "Authorization error (user=kube-apiserver-kubelet-client, verb=get, resource=nodes, subresource=metrics)"
Hi Team,

one of Kafka node becomes unresponsive on Strimzi Kafka cluster which running on kubernetes cluster with below error on that specific node.

kubelet_node_status.go:402] Error updating node status, will retry: error getting node "node11.dc02.its.myorgcorp.net": an error on the server ("") has prevented the request from succeeding (get nodes node11.dc02.its.myorgcorp.net)
kubelet_node_stat

[2022-08-23 17:07] ritazh commented on #111532
/close

This should be addressed by #111919 such that a change in EncryptionConfiguration would not require an api server restart.

[2022-08-23 17:07] #111532 closed

[2022-08-23 17:15] ritazh commented on #111405
/triage accepted

[2022-08-23 17:18] rphillips commented on #111965
Brought this to Sig-Node today. The general consensus is only one (root) partition is supported and reported by the Kubelet.

@kad brought up that the runtime might be able to report ephemeral storage capacity, but that does not currently exist.

@derekwaynecarr brought up the point that exotic partition/mount layouts are problematic. But we might be able to have N ephemeral storage buckets.

Gene

[2022-08-23 17:20] ritazh opened #111977 "[KMSv2] Allow encryption for all resources */*"
ref: https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/3299-kms-v2-improvements

/sig auth

[2022-08-23 17:21] ritazh commented on #111977
/triage accepted

[2022-08-23 17:30] deads2k commented on #111899
If a given process cannot fulfill its responsibilities, I would expect that process to go livez=false and get shutdown.  When it is shutdown, it will release its lease and another instance can acquire the lease.

[2022-08-23 18:26] BenTheElder commented on #111921
https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-repo&template=repo-create.yml&title=REQUEST%3A+%3CCreate+or+Migrate%3E+%3Cgithub+repo%3E to create an issue for creating an actual repo

[2022-08-23 18:27] mezhaka commented on #111825
@brianpursley First of all, thank you a lot for looking into this!

I have prepended `sleep 60`, so I have some time to create the port forward and then `nc`. The idea is to try to `nc` while the echo server is not yet running, so if you already have it running and port forward to it, you won't see what I see. Delete your tcpecho pod first.

I just tried it again. First I prepare my commands, with

[2022-08-23 18:28] aramase commented on #111921
thanks @BenTheElder. I've created this [issue](https://github.com/kubernetes/org/issues/3630). Do we need +1 from sig-auth on that issue for creating the repo?

cc @dims

[2022-08-23 18:29] BenTheElder commented on #111944
Since "serial" means "these tests are disruptive and can be the only test running at the time" it is *inherently* slow to run these ...

We also exclude these in some CI jobs *because of the time it takes to run them* ... 🤔

[2022-08-23 18:30] BenTheElder commented on #111921
AFAIK: yes. I think it can depend on the SIG charter, but typically it's up to the TLs with some lazy consensus from the broader SIG. The github management folks will be looking for the SIG to approve.

[2022-08-23 18:51] faiq commented on #106309
/remove-lifecycle stale

[2022-08-23 20:09] leilajal commented on #111943
/help
/triage accepted

[2022-08-23 20:10] leilajal commented on #111937
/assign @apelisse @Jefftree  @leilajal
/triage accepted

[2022-08-23 20:10] leilajal commented on #111890
/remove-sig api-machinery

[2022-08-23 20:12] leilajal commented on #17199
/cc @logicalhan @YoyinZyc
/triage accepted

[2022-08-23 20:13] leilajal commented on #3030
/assign @seans3
/triage accepted

[2022-08-23 20:13] leilajal commented on #3030
/sig cli

[2022-08-23 20:15] liggitt commented on #3030
/remove-sig cli

this is an api machinery issue with the conversion/server response

[2022-08-23 20:16] liggitt commented on #3030
the comment about kubectl was just that when it was writing yaml, it was serializing objects in a way that masked the issue with what the server was returning... there's no kubectl issue here I'm aware of

[2022-08-23 20:16] adriangb commented on #108887
I hit this issue today. Just for my knowledge, when you say this is "expected" do you mean that it's a known issue or that this is the expected behavior? Is there any way to work around this on 1.22? In my case it looks like pods are getting deleted when the node gets removed (autoscaling).

[2022-08-23 20:29] leilajal commented on #3030
thanks!
/assign @leilajal @Jefftree

[2022-08-23 20:35] pohly opened #111979 "e2e: use DeferCleanup for Framework instance"
### What would you like to be added?

The following code is slightly wrong:

[code]

It's wrong because f.AfterEach runs first and clear f.ClientSet.

We can make such code work as intended by switching to `DeferCleanup` as discussed in https://github.com/onsi/ginkgo/issues/1022.

### Why is this needed?

Not being able to use the framework instance at the same nesting level is not obvious (causin

[2022-08-23 20:35] pohly commented on #111979
/sig testing
/assign

[2022-08-23 20:41] apelisse commented on #111937
Thanks for reporting, that's definitely a bug and shouldn't happen. Trying to reproduce.

[2022-08-23 20:44] davidmccormick commented on #111890
Why are you removing api-machinery when this issue relates to the implementation of the Kube-aggregator?

[2022-08-23 20:44] davidmccormick commented on #111890
/sig api-machinery

[2022-08-23 20:50] aojea commented on #111825
There is nothing listening on that port inside the pod and it fails ... What's the expectation ?

[2022-08-23 21:10] apelisse commented on #111937
According to the corresponding [knative issue](https://github.com/knative/operator/issues/1184), this is the error:

Which is triggered by the CRD converter:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go#L175-L177

That probably ends-up being called here in the server-side apply code:
https://github.com/kuberne

[2022-08-23 21:22] alculquicondor commented on #108887
It is a know issue that we can't fix in 1.22.

The only workaround is to increase the terminated-pod-gc-threshold

[2022-08-23 21:28] adriangb commented on #108887
Gotcha, thank you for the quick reply. Unfortunately I don't think that can be changed on GKE (that's what we're using) so I'll have to upgrade my cluster to 1.23.

[2022-08-23 21:35] pippin-staked commented on #63959
Here is the annotation needed for assigning a static Elastic IP to your NLB.
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/annotations/#eip-allocations

[2022-08-23 21:44] Jefftree commented on #111890
/cc @deads2k @sttts
/triage accepted

[2022-08-23 22:43] apelisse commented on #111937
@kwiesmueller reminded me of that PR to address that bug: https://github.com/kubernetes/kubernetes/pull/92032

[2022-08-23 22:46] marianafranco commented on #104583
/remove-lifecycle stale

[2022-08-23 23:04] #100012 closed

[2022-08-23 23:04] #110186 closed

[2022-08-23 23:59] d-honeybadger commented on #92287
@askervin Would you happen to know if it'd be possible to have dynamic blkio setup? To elaborate on what I mean by that:
In https://github.com/containerd/containerd/pull/5490, containerd lists all available devices at startup. But the way many kubernetes storage providers operate, they would create a new disk device when a volume is mounted in a pod (I was specifically looking at Longhorn and Ceph

[2022-08-24 00:16] #111580 closed

[2022-08-24 00:17] #111659 closed

[2022-08-24 00:57] jyotimahapatra commented on #111899
some more context about the problem:

kubernetes clusters running in the cloud typically are subjected to errors in failure domains. When zonal outages occur, they affect the running workloads in the affected zone in various forms. The effect depends on the kind of dependencies of the pods and the impact of the zonal outage on the dependencies. For pods that serve live traffic, cluster operators c

[2022-08-24 01:38] dims commented on #100897
`deprecation in 1.25 and removal in 1.26` per note to the mailing list - https://groups.google.com/g/kubernetes-sig-storage/c/EnjJYaka_i8/m/0bnz1IuyBAAJ

[2022-08-24 02:00] #111734 closed

[2022-08-24 02:00] #111750 closed

[2022-08-24 03:08] #111891 closed

[2022-08-24 03:21] sanposhiho commented on #103853
We splitted `scheduleOne` into two functions; `schedulingCycle()` `bindingCycle()` in https://github.com/kubernetes/kubernetes/pull/111775

In the PR, we discussed some ideas for this.

One is calling `handleSchedulingFailure()` in `schedulingCycle()` `bindingCycle()` as `defer` like: https://github.com/kubernetes/kubernetes/commit/87d7e076540f30ab9e0cd28aaeb0d2baae7ef8c2
Another is returning need

[2022-08-24 03:21] Arnavion opened #111985 "DeleteCollection API fails if request body is non-empty"
### What happened?

In v1.25.0, invoking the DeleteCollection API with a non-empty request body fails with HTTP 500 - the error message is `no kind "DeleteOptions" is registered for version "meta.k8s.io/v1" in scheme "pkg/api/legacyscheme/scheme.go:30"`

All DeleteCollection APIs are specced (in the OpenAPI spec, eg `deleteCoreV1CollectionNamespacedPod` for the repro below) to take a `DeleteOption

[2022-08-24 03:30] pacoxu commented on #111985
/sig api-machinery

[2022-08-24 04:39] SataQiu opened #111987 "The scheme used by kubectl has no registered FieldLabelConversionFunc"
### What happened?

https://github.com/kubernetes/kubernetes/blob/5fa65e989bbc949c3cb4fb3a155d39bf49d8b9b1/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L1974

The above `scheme.Scheme.ConvertFieldLabel` can only process `metadata.name` and `metadata.namespace` field, because the `fieldLabelConversionFuncs` map of the `Scheme` is empty.
https://github.com/kubernetes/kubernetes/blob/5fa65e989

[2022-08-24 06:05] askervin commented on #92287
Hi @d-honeybadger,

When a new container is being created, this patch (re-)reads the blockio configuration file from the system. At that point it matches device wildcards in the file to whatever is in the file system. Therefore the implementation should already apply parameters to new devices under `/dev/`, given that they appear before `CreateContainer` is handled by containerd's CRI plugin. Do y

[2022-08-24 06:12] harshanarayana commented on #109936
/remove-lifecycle stale

[2022-08-24 06:12] mohitsharma-in opened #111989 "Broken Links on Release note CHANGELOG 1.25"
Broken Blogs and docs  Links for [Change log](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.25.md#changelog-since-v1240)

[2022-08-24 06:13] mohitsharma-in commented on #111989
/sig docs

[2022-08-24 06:45] cuisongliu opened #111995 "can't running kubernetes 1.25.0 in containerd 1.6.8"
### What happened?

containerd github.com/containerd/containerd v1.6.8 9cd3357b7fd7218e4aec3eae239db1f68a5a6ec6

running 1.25.0

[code]

kubelet

[code]

### What did you expect to happen?

containerd1.6.8 running in k8s 1.25.0

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

[2022-08-24 06:56] phshen68 opened #111996 "test"
test

[2022-08-24 06:57] #111996 closed

[2022-08-24 07:02] #111296 closed

[2022-08-24 07:45] pohly commented on #111868
Disabling the ReportAfterEach when not needed is a workaround. I created https://github.com/onsi/ginkgo/issues/1023 to discuss how to address this in ginkgo.

[2022-08-24 08:25] pacoxu commented on #111259
I tried to add metrics in containerd. https://github.com/containerd/containerd/pull/7313
Would you take a look?

[2022-08-24 09:00] #111995 closed

[2022-08-24 09:19] PratikDeoghare opened #112001 "randomly killing kube-apiserver pods can make secret without the encryption key prefix"
### What happened?

While testing Encryption at rest feature https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

Normally encrypted secret is prefixed with the name of the key that encrypted it.

When I randomly deleted some kube-apiserver pods and job that runs this script [1].

I got a secret without the prefix as shown below.

[code]

[1]
[code]

### What did you expect to happen

[2022-08-24 09:28] kerthcet commented on #103853
Diff looks like https://github.com/kubernetes/kubernetes/commit/6554946c5277cd7651d1186f343f89d9641c7abe

[2022-08-24 09:29] SataQiu commented on #111987
We change `k8s.io/kubernetes/pkg/api/legacyscheme` to `k8s.io/kubernetes/pkg/kubectl/scheme` since this commit https://github.com/kubernetes/kubernetes/commit/da9387131e64bf9ffecd33c5044d4e96ab310311

[2022-08-24 10:06] marek-obuchowicz commented on #62334
Same problem hit us on k8s cluster running version `v1.21.11` / OS `Ubuntu 20.04.3 LTS` / kernel `5.11.0-1022-aws`

[2022-08-24 10:15] margach opened #112009 "Some pods get stuck in ContainerCreating status after being replaced by another pod"
### What happened?

Using helm, I upgraded a deployment and the k8s started replacing the pods and while it replaced all the pods successfully, some of the pods that were replaced got stuck in ```ContainerCreating``` status:
[code]
```demo-labxpert-2```  has replaced ```demo-labxpert-1``` in the upgrade but its not removed by the system.

Now, if you are using helm or CI and you have set the ```--

[2022-08-24 11:41] aojea commented on #108074
I'm working for migrating Services IPs as part of
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1880-multiple-service-cidrs

[2022-08-24 11:43] aojea commented on #109912
/close

all green (by now ;)

[2022-08-24 11:52] Shubham82 opened #112010 "Statefuleset/DaemonSet reports invalid status due to ResourceQuota."
### What happened?

When we limited the number of pods for the namespace (let's say 2), then after we deployed the StatefulSet with 5 replicas. Only 2 pods were launched. This is expected behavior but when we see the status of StatefulSet it shows only 1 pod under the `Ready` column. It should show 2 pods in the column.

[code]

A similar issue also occurred with DaemonSet. When we deployed the Da

[2022-08-24 11:56] Shubham82 commented on #112010
/sig node cli

[2022-08-24 12:21] d-honeybadger commented on #92287
:thinking: Hmm yeah. Was running [this nightly build](https://github.com/containerd/containerd/actions/runs/2907917827) with a test blockio class:
[code]
The disks added to `linux.resources.blockIO` were always the ones present during containerd restart. So the one created by Longhorn (it was /dev/sdh 8:112) wasn't throttled. Then I rtried estarting containerd _with_ the deployment that uses that

[2022-08-24 12:52] #111709 closed

[2022-08-24 13:06] xakraz commented on #66450
If this has been fixed, starting which version of `kubectl` should we be able to get this behavior? 😇

[2022-08-24 13:09] alculquicondor commented on #108887
The feature (the fix) is disabled in GKE in 1.23 because we found issues in the implementation. Stay tuned for the version where it will be enabled. 1.25 will for sure be fixed.

[2022-08-24 13:13] alculquicondor commented on #108887
Unfortunately, that case cannot be mitigated in 1.22-1.24 by changing terminated-pod-gc-threshold, because the Pod is removed immediately when the node is deleted.

[2022-08-24 13:23] alexzielenski commented on #66450
unfortunately my patch was already considered and rejected because it could be susceptible to a race condition (showing you `configured` if another applier had issued a patch at the same time as you).

apologies to get hopes up.

to fix without such a race condition would require a patch on the server-side.

[2022-08-24 13:43] alexef commented on #110097
This doesn't work even when no revision is provided, see: https://github.com/kubernetes/kubernetes/issues/72782

[2022-08-24 14:34] cvvz commented on #111933
Hi, @gnufied I've created a PR to solve this issue. And could you PTAL?

In the case of this issue, orphan pod volume was not cleaned up successfully by volume manager since csi driver was not available at that time, however, it still can be cleaned by housekeeping handler. The reason why it not happened is because vol_data.json file blocked the process of removeall.RemoveDirsOneFilesystem in remo

[2022-08-24 14:34] yangjunmyfm192085 commented on #112009
/sig node

[2022-08-24 14:42] brianpursley commented on #110097
It should fix the output with or without `--revision`

[2022-08-24 14:42] #110097 closed

[2022-08-24 15:13] gjkim42 commented on #112010
/assign

[2022-08-24 15:34] adriangb commented on #108887
Makes sense.

Is the "fix" the `JobTrackingWithFinalizers` feature? That is, do I need to do anything to get this working properly if I update to 1.24 or do I have to wait for 1.25?

[2022-08-24 15:53] m-ttriley commented on #89898
@Spiderpig86 Did you ever find the reasoning or solution for this? Running into a similar issue

[2022-08-24 15:59] Jefftree commented on #3030
Summarizing this issue from the comments above, the list API omits apiVersion and kind from the returned items. We should populate those fields for external types.

It looks like there have been attempts at fixing this:

- https://github.com/kubernetes/kubernetes/pull/80618
- https://github.com/kubernetes/kubernetes/pull/63972

haven't really looked too deep into the PRs, but the main thing I see

[2022-08-24 16:03] mathuvenkat commented on #111895
Thanks @liggitt for the confirmation.

[2022-08-24 16:03] #111895 closed

[2022-08-24 16:08] nyarly opened #112014 "Kubectl apply sometimes merges different volume types"
### What happened?

I applied a new configuration to a series of statefulsets that changed a configMap volume into a projected volume. Some, but not all, of the statefulsets merged the volume definition so that the volume had two types, and later when the pods were replaced, they failed because `Forbidden: may not specify more than 1 volume type`

### What did you expect to happen?

The new config

[2022-08-24 16:10] MikeSpreitzer commented on #110139
/remove-lifecycle stale
@tkashem : this is still not fixed, right?

[2022-08-24 16:11] MikeSpreitzer commented on #107454
@tkashem : this should still be an open issue, right?

[2022-08-24 16:11] MikeSpreitzer commented on #109917
/remove-lifecycle stale

[2022-08-24 16:12] MikeSpreitzer commented on #102744
/remove-lifecycle rotten
/reopen

[2022-08-24 16:17] nyarly commented on #112014
/sig api-machinery

I think, anyway

[2022-08-24 16:27] nyarly commented on #112014
During recovery, it seems like the problem impacts older instances of the statefulset - I suspect that the difference is that the involved resources were originally created and updated with client-side apply, and we've since switched to doing SSA.

So, refined repro:
* Start with statefulset.yaml, with a configmap volume
* `kubectl apply`
* update e.g. annotations,
* `kubectl apply`
* change volum

[2022-08-24 16:53] cvvz opened #112016 "Pod with volume attached to a node can't failover when the node goes down"
### What happened?

1. Create a deployment with N replicas and AzureDisk Volume (for example).
2. Shutdown the Node in which Pods resident.
3. Wait until the Node goes into `NotReady` state and Pods go into `Terminating` state( it can't be really deleted since Node is down ) and new Pods are generated automatically.
4. These new Pods stay in `containerCreating` state and will never go into `Ready`

[2022-08-24 16:56] cvvz commented on #112016
/sig storage

[2022-08-24 16:58] relgames commented on #30656
Looks like this is still not resolved, after 6 years. And GKE moved away from docker, making it impossible to SSH to nodes and use `docker exec -u`, as `crictl` does not have a way to pass user either.

`kubectl debug` does not work as well, as it just ends up with the same user as the main container, with no way to become root.

So what is the suggestion? Move away from GKE into AWS who still use

[2022-08-24 17:57] Huang-Wei commented on #103853
+1 to this so we don't need to pass in `podsToActivate` and `start` to `schedulingCycle()`. Apart from that, if we embed nominatingInfo and reason to ScheduleResult, the number of return parameters is not concerning either - just need an additional err to be returned.

[2022-08-24 18:30] tallclair commented on #82647
I think we can close this. The remaining tasks are pretty advanced hardening strategies with debatable value at this point. Any further hardening issues should be opened against the dashboard repo: https://github.com/kubernetes/dashboard/issues

[2022-08-24 18:30] #82647 closed

[2022-08-24 18:32] tallclair commented on #109087
/milestone v1.26

I'd like to try and get this in the next release.

[2022-08-24 19:41] #101786 closed

[2022-08-24 19:55] enj commented on #111911
/assign

[2022-08-24 20:05] enj commented on #111911
I have opened #112017 to fix this bug.  I believe the change is small and safe enough to backport.

[2022-08-24 20:23] Ga13Ou opened #112018 "The --selector flag in kubectl rollout restart not recognized"
### What happened?

When I use the command
`kubectl rollout restart deployment --selector "label=value"`
I get this error: unknown flag: --selector

Even though the flag is clearly indicated in the examples of the rollout command in the reference docs

### What did you expect to happen?

A restart of all deployment matching the label

### How can we reproduce it (as minimally and precisely as poss

[2022-08-24 22:21] ghostsquad commented on #44703
Any chance this can be reopened?

[2022-08-24 22:24] ghostsquad commented on #56582
Any chance this can be reopened?

[2022-08-24 22:31] antoineozenne commented on #107446
/remove-lifecycle stale

[2022-08-24 22:48] ruiwen-zhao commented on #107911
Containerd PR is now merged: https://github.com/containerd/containerd/pull/6517

Next step is to update the containerd dependency on k/k.

[2022-08-24 23:46] bwinter commented on #74741
On 1.22 and we are still seeing this as well.

[2022-08-25 00:04] jyotimahapatra commented on #111899
@deads2k Following up on the suggestions from api-machinery meeting on 08/24, i explored lease stealing technique.
Today the id for lock holder is based on `os.HostName`([link](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L242)). Would we be open to allow changing the id to some other configurable mechanism(flag?) so that an operator can

[2022-08-25 00:04] shuheiktgw commented on #110172
I'm currently working on Spec.MinReplicas scale-to-zero (minReplicas=0)

[2022-08-25 00:40] mrunalp opened #112020 "StatefulSet Basic StatefulSet functionality tests fail due to incorrect selinux labels"
### Which jobs are failing?

crio-e2e tests

### Which tests are failing?

The following tests fail when run on a node with SELinux enabled:
[code]

### Since when has it been failing?

Probably since these tests were added.

### Testgrid link

_No response_

### Reason for failure (if possible)

The host path volumes created under /tmp/hostpath_pv don't have the right SELinux label set
for access

[2022-08-25 00:40] mrunalp commented on #112020
/triage accepted

[2022-08-25 02:35] JackZxj commented on #109554
I got the same issue that the lease lock would not be released sometimes, and I found that was caused by the Get method Incorrectly overriding the lock. Can you see if #112022 fixes your lock release issue?

[2022-08-25 02:48] #111852 closed

[2022-08-25 02:49] pacoxu commented on #102876
We recently meet the problem in an old Kuberentes cluster which is v1.18. We have a lot of `prevented` error message like this.
Finally, we found it is related to `use of closed connection` https://github.com/kubernetes/kubernetes/issues/87615.
- For instance, v1.18.19 fixed it in https://github.com/kubernetes/kubernetes/pull/100376. But the feature is disabled if HTTP2_READ_IDLE_TIMEOUT_SECONDS i

[2022-08-25 02:53] JackZxj commented on #109554
I'm sorry. I've looked carefully again, and I think what we said may not be the same thing. I will open another issue to record my problem. @silenceshell

[2022-08-25 03:01] kerthcet commented on #103853
Then I'm going to address the advices based on the https://github.com/kubernetes/kubernetes/commit/6554946c5277cd7651d1186f343f89d9641c7abe, would you mind that? @sanposhiho

[2022-08-25 03:41] sanposhiho commented on #103853
@kerthcet
No. I don’t mind. Feel free to go ahead. 👍

[2022-08-25 04:08] JackZxj opened #112023 "[client-go] sometimes the leader could not release his lock properly in leaderelection"
### What happened?

The lock acquired by tryAcquireOrRenew is released when the leader ends leadership. However, due to the cancellation of the context, the lock may be set as an empty lock, so the Update cannot be run normally, resulting in a failure to release the lock.

### What did you expect to happen?

The lock can be released every time the leader ends.

### How can we reproduce it (as mini

[2022-08-25 04:12] JackZxj commented on #112023
/sig api-machinery

[2022-08-25 05:15] vinaykul commented on #107911
@ruiwen-zhao Thank you very much for driving this!

[2022-08-25 05:32] fab1an commented on #111386
@kunallanjewar This will make life/debugging easier for a lot of developers, if we show the output in the dashboard.

[2022-08-25 05:37] SataQiu commented on #112018
You can try to update your `kubectl` version, `--selector` is available since v1.24.
FYI: https://github.com/kubernetes/kubernetes/commit/5a5ac86a80464019e3e85d57306156839511d397

[2022-08-25 05:56] mohitsharma-in commented on #111989
/assign

[2022-08-25 06:06] pacoxu commented on #98815
According to
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#deprecation-of-flexvolume
and
https://github.com/kubernetes/community/blob/master/sig-storage/volume-plugin-faq.md#working-with-out-of-tree-volume-plugin-options,
- flex volume has been deprecated since v1.23;
- The Kubernetes Storage-SIG plans to continue to support and maintain the Flex Volume API. So y

[2022-08-25 07:44] pbeschetnov opened #112027 "Undefined behaviour when selected pods overlap in HPA"
### What happened?

There are cases when selected by HPAs Pod sets overlap due to misconfiguration:

**Example 1:**

_Deployment A_ (with controlling _HPA A_) has selector:
[code]

_Deployment B_ (with controlling _HPA B_) has selector:
[code]

And there is a group of Pods with:
[code]

**Example 2:**

_HPA A_ and _HPA B_ point to the same deployment.

**As a result**

The same Pods are actuated f

[2022-08-25 09:51] pacoxu commented on #83977
/reopen

This seems to be a chicken-egg problem.
How about just hardcode the default allow list of kube-system?
- For kube cluster installer, it can change the namespace annotation to the correct one during upgrade or init.

[2022-08-25 10:14] pbeschetnov commented on #112027
/sig autoscaling

[2022-08-25 10:57] agonzalezm commented on #43867
+1 this is would be very useful

[2022-08-25 12:21] johningve opened #112032 "Memory leak in port forwarding client"
### What happened?

The port forwarding client leaks memory when a port forwarding session is reused over time.

### What did you expect to happen?

The port forwarder client should not leak memory.

### How can we reproduce it (as minimally and precisely as possible)?

1. Start forwarding a port with kubectl.
2. Create and close many connections to the forwarded port.

The amount of memory leaked

[2022-08-25 12:23] johningve commented on #112032
/sig api-machinery

[2022-08-25 12:31] chaohan1 commented on #111778
I am sorry，what is means of 1.22 versions are out of support?

[2022-08-25 12:37] JCzz opened #112033 "kubeadm init - unable to create ConfigMap"
### What happened?

When installing stacked HA cluster on Ubuntu:

[code]

[code]

There comes an error saying: `unable to create ConfigMap`
[code]

Update: and it looks bad when `crictl pods`

[code]
### What did you expect to happen?

control-plane up and running ready for joining workers

### How can we reproduce it (as minimally and precisely as possible)?

[Install](https://kubernetes.io/docs

[2022-08-25 13:05] MorrisLaw commented on #110172
/assign

[2022-08-25 13:18] aslafy-z commented on #69507
/remove-lifecycle stale

[2022-08-25 13:19] MorrisLaw commented on #110172
I'll be working on `getUsageRatioReplicaCount()`

[2022-08-25 13:30] alculquicondor opened #112034 "Some scheduler goroutines are not tracked in the metric"
### What happened?

The metric `scheduler_goroutines` is not called in some instances where we initiate routines, like when we call Parallelize

### What did you expect to happen?

We increase the counter every time we create a routine.

### How can we reproduce it (as minimally and precisely as possible)?

N/A

### Anything else we need to know?

The metric is called `scheduler_goroutines`, but i

[2022-08-25 13:30] alculquicondor commented on #112034
@sanposhiho, please assign to yourself if you are already working on this. Otherwise, I think this is a good fit for a new contributor.

[2022-08-25 13:39] sanposhiho commented on #112034
@alculquicondor
I've worked on it in https://github.com/kubernetes/kubernetes/pull/112003 although I didn't create the new metric for renaming.

/sig scheduling
/assign

 I'll add the change to create the new metric (+ deprecate the old one) in #112003 as you describe.

[2022-08-25 14:38] aojea opened #112036 "[CI] pull-kubernetes-e2e-gce jobs using "Unavailble Services""
Seen in all gce jobs like

 https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/110470/pull-kubernetes-e2e-gce-ubuntu-containerd/1562786578244308992/artifacts/e2e-92b275a2f4-a7d53-master/kube-apiserver.log

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-ubuntu-containerd/1562793021089517568/artifacts/e2e-8cc512a620-a7d53-master/kube-apiserve

[2022-08-25 14:38] aojea commented on #112036
/sig testing
/cc @BenTheElder @spiffxp

[2022-08-25 14:47] dims commented on #57291
long-term-issue (note to self)

[2022-08-25 14:48] neolit123 commented on #112033
it means that the `kubeadm init` machine cannot access the API server behind the LB.
could be that the LB is not accepting HTTPs requests.

please try the support channels for similar questions
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/sig cluster-lifecycle
/area kubeadm
/kind support

[2022-08-25 14:48] #112033 closed

[2022-08-25 15:34] #111605 closed

[2022-08-25 16:35] leilajal commented on #108298
/triage accepted

[2022-08-25 16:43] leilajal commented on #112032
/cc @BenTheElder @aojea
/triage accepted

[2022-08-25 16:44] leilajal commented on #112023
/triage accepted
@JackZxj thanks!

[2022-08-25 16:45] dashpole commented on #111757
/assign @bobbypage
/assign
/triage accepted

[2022-08-25 16:46] leilajal commented on #112014
/cc @seans3
/triage accepted

[2022-08-25 16:47] leilajal commented on #111985
/cc @Jefftree
/triage accepted

[2022-08-25 16:50] #108556 closed

[2022-08-25 18:12] pohly commented on #81245
/reopen
/lifecycle frozen

I am reopening this one instead of https://github.com/kubernetes/kubernetes/issues/81232 because that looks like a duplicate.

[2022-08-25 18:24] BenTheElder commented on #112036
It's not clear why this is SIG testing?
The cluster came up and tests ran ... The CI infra provided everything needed and it doesn't seem to be an issue with the e2e framework either.

This looks like a bug in Kubernetes to me.

rest of the logs https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/110470/pull-kubernetes-e2e-gce-ubuntu-containerd/1562786578244308992

[2022-08-25 18:37] harinarayanan-muthukumar opened #112040 "topologySpreadConstraints not working as expected with nodeSelector"
### What happened?

I am using the below nodeSelector and topologySpreadConstraints in my deployment

[code]

and I have the below nodes with respective labels named product=v1 , product=v2 etc respectively .

[code]

### What did you expect to happen?

Based on my node selector , since I asked it to select nodes where product=v1 , the pods are getting scheduled only on that node , but the topolog

[2022-08-25 18:38] harinarayanan-muthukumar commented on #112040
/sig Scheduling

[2022-08-25 18:39] ncdc opened #112041 "apiserver etcd3 metrics groups all CRDs as *unstructured.Unstructured"
### What happened?

The apiserver etcd3 metrics `etcd_request_duration_seconds` and `etcd_bookmark_counts` treat all CustomResourceDefinitions as `*unstructured.Unstructured` instead of as individual group-resources. This makes it impossible to distinguish these metrics per CRD type.

### What did you expect to happen?

These 2 metrics would be per CRD type.

### How can we reproduce it (as minima

[2022-08-25 18:40] ncdc commented on #112041
/assign
/sig api-machinery

[2022-08-25 19:57] bgrant0607 commented on #17190
What's missing is the policy, such as forcing or allowing particular sets of nodes by namespace.

I don't remember whether SchedulingPolicy covered that adequately or not.

A good example to look at is Capsule:
https://github.com/clastix/capsule

We could close this in favor of ecosystem solutions like Capsule.

[2022-08-25 20:21] Joseph-Goergen opened #112044 "QPS and Burst in kubelet are not being followed"
### What happened?

We ran some tests on Burst downloading images on the cluster and came to the conclusion that the kubelet rules not being followed (possibly qps is as well). It appears that the kubelet will just send the requests to the cri on the node without checking the status of what's downloading when in .

[code]

### What did you expect to happen?

I expected at most 5 images to start do

[2022-08-25 20:37] rtheis commented on #112044
/sig-node

[2022-08-25 20:37] rtheis commented on #112044
/sig node

[2022-08-25 21:53] sftim commented on #111989
/kind bug
/sig release
/remove-sig docs

[2022-08-25 22:56] aojea commented on #112036
heh, no, those errors are from my PR, that is no the issue here.

This URL `/apis/metrics.k8s.io/v1beta1?timeout=32s` is from the metrics server , right?

and this userAgent `userAgent="kubectl/v1.20.2 (linux/amd64)` , it has to be external, I added sig-testing because there is no `hack/` and `cluster/` sig :upside_down_face:

I think this is coming from there

[2022-08-25 23:08] aojea commented on #112032
/cc

[2022-08-26 00:47] kunallanjewar commented on #111386
@fabian-zeindl-oebb can you elaborate what do you mean by `output of Pod-Healthcheck per API`?
This needs a little more thought on where to expose this health-check response from the pod.

One option is when a client requests pod's info for ex. below (Go Client Example)
[code]

Open to suggestions.

[2022-08-26 01:55] russgold commented on #72637
A general assumption with Kubernetes resources is that they represent at most one thing that can be scaled. Our project, however, actually has a main resource with multiple included clusters - the reasons for this are historic and are tied to a legacy system more than two decades old, so changing it doesn't appear possible.  For that reason, we would like to be able to have multiple `scale` resour

[2022-08-26 02:12] wujunwei commented on #111698
good example :https://github.com/wujunwei/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/validation/validation.go#L197

[2022-08-26 02:23] niulechuan commented on #112016
``Detach`` should be called only after a volume was successfully unmounted by all nodes' Kubelet.

In Kubelet a volume was unmounted only after the pod that uses the volume was deleted from Apiserver and made sure all container was stopped. Therefore A pod that existed in Apiserver which means unmount can't able to call.

So we cannot just call ``Detach`` in these circumstances.

[2022-08-26 02:36] #109047 closed

[2022-08-26 03:07] pacoxu commented on #105022
/reopen
/remove-lifecycle rotten

[2022-08-26 03:08] pacoxu commented on #105020
/remove-lifecycle rotten

[2022-08-26 03:12] cvvz commented on #112016
@niulechuan Thanks for your explanation! Seems like I consider too superficially.

Do you think this situation is a problem that worth to solve? If so, any good idea to solve it?

[2022-08-26 03:33] LeoLiuYan commented on #69882
Ping @danwinship  @reith @tallclair .

Have we made any progress on this PR?

[2022-08-26 03:33] bmoe24x commented on #111948
+1 on this, would like the same functionality. When deploying to some multi tenant clusters we don't have direct operations over, we often see Pods (particularly from Jobs) get stuck in a pending state. I would like to set my job `activeDeadlineSeconds` to 30m but have a Pod that is pending to be controlled by an independent `activeDeadlineSeconds` value of say 10m

[2022-08-26 04:51] fab1an commented on #111386
With "per api" I meant "in the kubernetes API".

Your suggestion seems fine. As far as I know currently the HTTP-status that the healthcheck returned is provided somewhere, can that be extended?

[2022-08-26 05:26] #112041 closed

[2022-08-26 05:41] fabian-zeindl-oebb commented on #111386
With "per api" I meant "in the kubernetes API".

Your suggestion seems fine. As far as I know currently the HTTP-status that the healthcheck returned is provided somewhere, can that be extended?

[2022-08-26 06:59] pacoxu commented on #111779
/cc @wzshiming @bobbypage

[2022-08-26 07:07] pacoxu commented on #109353
There is a feature gate named GracefulNodeShutdownBasedOnPodPriority. It can influence the drain order during node graceful shutdown.

[2022-08-26 07:12] aojea commented on #69882
heh, this is seems implemented in the CRI and Kubelet ... since 2016 :upside_down_face:

https://github.com/kubernetes/kubernetes/pull/30049

This is the CRI API that creates the Pod

https://github.com/kubernetes/cri-api/blob/278e3b3a55da3b872712c5ea4a7a148aa433c298/pkg/apis/services.go#L71

the config structure has label and annotations fields

https://github.com/kubernetes/cri-api/blob/278e3b3a

[2022-08-26 07:13] #69882 closed

[2022-08-26 07:49] pbetkier commented on #96242
@jjcaballero if you only have HPAs with CPU/memory metrics the effect should be less visible. It's still serial, blocking calls to fetch the metrics, but the response times on these calls should be lower – the metrics-server component responds immediately with what it has in its cache as opposed to making a synchronous call to the custom metrics source (e.g. Prometheus).

[2022-08-26 07:54] aojea commented on #62334
with network is hard to know exactly what parameters you have to monitor, file descriptors, bw, packet drops, .... it can be a long list

Also, its bursty nature will create a lot of false positives that will create system unstability

To be clear, I acknowledge the problem, saying that I can't find a general solution that is stable and works for all ... this seems only a very specific problem

[2022-08-26 08:17] aojea commented on #111944
oh, yeah, I forget about that, I was thinking in this open issue for Conformance https://github.com/kubernetes/kubernetes/issues/76344

so, these means we need to handle Dirsuptive and Slow too XD , or just do it only for Conformance, last time I've checked there were only 6 Serial tests in Conformance

[2022-08-26 08:19] aojea commented on #76344
This can be done with Ginkgov2 https://github.com/kubernetes/kubernetes/issues/111944 but as Ben mentioned there, we should understand the consequences and the intersection with current tests, we don't want to increase significatively the time to run the tests  .... maybe we can do this only for Conformance?

[2022-08-26 08:25] aojea commented on #40157
it is a feature request for the Kernel  not for Kubernetes , the kernel generates the SIGKILL

[2022-08-26 08:26] nazarewk commented on #109353
except my use case is not shutting down the machine, but only k8s components on it. NodeShutdown only handles former as it registers to systemd's shutdown signal.

[2022-08-26 08:51] vriabyk commented on #79224
This feature is still required by lots of people. Please re-open it and allow to reference secrets from configMaps.

[2022-08-26 08:53] aojea commented on #111820
the network topology is different for sure, the diff should be done on the network topology, per example, in Kubernetes your Pod traffic is being Masquerade to use the NodeIP as you are showing in your tcpdumps, there are also other components that touch the traffic too as you are commenting you are using canal ... is hard to obtain conclusions without knowing the full details

one common issue is

[2022-08-26 09:03] johnnyshields commented on #40157
@aojea there non-kernel solutions here, such as triggering graceful shutdowns at a threshold memory usage (e.g. 95%) before the hard limit is reached.

[2022-08-26 09:37] pbetkier commented on #110662
This was already reverted (and later the test got fixed and merged).

/close

[2022-08-26 09:37] #110662 closed

[2022-08-26 09:45] vaibhav2107 opened #112057 "Default values of Kubelet's EvictionHard aren't inherited if one of its parameters was changed"
### What happened?

The default values of kubelet hard eviction's parameters are:
[code]
We changed it's one of the parameters from their default value as:
`memory.available: "500Mi"`

Then, on checking the configuration of node, all the other parameters were set to 0 and only the changed parameter was shown
[code]
I am unable to find this type of behaviour anywhere in the docs.

### What did you

[2022-08-26 09:46] vaibhav2107 commented on #112057
/sig node

[2022-08-26 10:05] thehackercat opened #112059 "Tracing: precise spanName of apiserver webhook requests"
### What happened?

When enable apiserver tracing, the webhook request spans only show spanName as `GET`/`POST`,  mostly because `opentelemetry-go v0.20.0` use http request operations as default span name, https://github.com/open-telemetry/opentelemetry-go-contrib/blob/v0.20.0/instrumentation/net/http/otelhttp/handler.go#L54-L56
 which is hard to understand. ![image](https://user-images.githubuser

[2022-08-26 10:17] thehackercat commented on #112059
@dashpole https://github.com/kubernetes/kubernetes/pull/112060 I make a fix for this.

[2022-08-26 10:18] johnnyshields commented on #40157
Sure, how about titling it: "Add graceful memory usage-based SIGTERM before hard OOM kill happens"

[2022-08-26 10:19] pacoxu commented on #109353
I mean you can follow the design of the feature to use PodPriority to decide the order during the drain of pods.

[2022-08-26 10:29] Shubham82 commented on #108814
I'd like to work on this!
/assign

[2022-08-26 11:16] pbetkier commented on #109920
I don't understand the problem. Isn't `AverageValue` target type exactly what you propose? ([docs](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#autoscaling-on-metrics-not-related-to-kubernetes-objects), [code](https://github.com/kubernetes/kubernetes/blob/b3be343bc8d7b74d1da44cf51df7a4bf73f63ed6/pkg/controller/podautoscaler/replica_calculator.go#L372))

It

[2022-08-26 11:32] njegosrailic commented on #104935
Unfortunately, not yet. I'd suggest trying the solution that `olehm-ma` proposed. Please let us know if it works.

[2022-08-26 11:39] aojea commented on #97149
you can start with 2 right now  creating your own CoreDNS plugin ...

 .... and if there is traction it can be formalized

[2022-08-26 11:42] glhl86 commented on #112023
/unassign

[2022-08-26 11:43] glhl86 commented on #112023
/assign

[2022-08-26 11:43] glhl86 commented on #112023
/unassign

[2022-08-26 11:43] glhl86 commented on #112023
/unassign me

[2022-08-26 12:16] pranaysahith commented on #97129
/remove-lifecycle stale

[2022-08-26 12:17] pranaysahith commented on #97129
/reopen

[2022-08-26 12:55] tkashem commented on #109155
The generated clients in `k8s.io/kubernetes` will not exhibit this issue since the typed clients reuse a `rest.Client` and create a `Request` object for every API call. One has to hand craft a `rest.Request` object and reuse it to exhibit this issue.

I don't know how much of a problem this is in real world, but I intend to restore it to its previous behavior. I was away from work for a while, I a

[2022-08-26 13:13] matejhasul opened #112066 "MinReadySeconds in statefulset does not work with parallel podManagementPolicy"
### What happened?

I've just noticed that [minReadySeconds](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#minimum-ready-seconds) does not work in statefulset with [parallel podManagementPolicy](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#parallel-pod-management).

I have a sts with `minReadySeconds: 10` and `podManagementPolicy: Parallel`. There

[2022-08-26 13:20] matejhasul commented on #112066
/sig apps

[2022-08-26 13:36] aojea commented on #111863
yeah, the `Access that LB IP on 31234 - it works as long as firewalls don't stop it.`  is totally valid if the LB IP belong to the Node ... but is this new? this should be always working like this

[2022-08-26 13:44] eero-t commented on #109920
@pbetkier Thanks!   Yes, it appears to provide what I need (I'll test it in few weeks).

I think this bug could be pivoted to be about documentation as this feature is appallingly documented:

* It's not on the main HPA page: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/
* On walkthrough page this important item is stuffed at the end of (a long) document, with a mislea

[2022-08-26 13:46] aojea commented on #111823
one important detail .. the NodePort range is a flag in the apiserver and its value is not exposed, so kube-proxy can't really know what is the NodePort range unless we pass it via a per-node flag , that makes the odds of having different configurations still higher :upside_down_face:

[2022-08-26 14:04] glhl86 commented on #106361
/assign

[2022-08-26 14:05] glhl86 commented on #106361
/unassign

[2022-08-26 14:10] aojea commented on #111824
agree node DELETING  = put out of rotation
why do you want to send new connections to something you know is going to be deleted but you don't know why?
just be gentle and don't drop the existing connections if you can, but that is on the LB, not in the controller ...

there some assumptions we can not make, the API and the reality are never in sync, there are a lot of async operations on this danc

[2022-08-26 14:18] aojea commented on #111890
who consumes the objects created by the AvailableConditionController? maybe is just enough with disabling and deprecating it ... but I recognize I miss a lot of context here

[2022-08-26 14:34] alculquicondor commented on #106361
one more release before we can remove this code.

[2022-08-26 15:06] bouzanb commented on #81610
/reopen
/remove-lifecycle rotten

I'm seeing this issue on v1.22.10-eks-84b4fe6.

[2022-08-26 15:19] scr-oath commented on #96242
That makes me think... it would be a really interesting feature if there could be a feature for async metrics. The idea being...

What if things aware of metrics - whether scanners at some frequency or notified from events could update some status fields of the HPA (or otherwise update the HPA cache)?

Then there would be zero latency added to the system (beyond having more metrics to consider - b

[2022-08-26 16:44] lmcdasm commented on #105204
Hello

I have the same condition today on 1.22.9 - the certs and config maps are there and being used by many objects within the namespace  however, i have 6 pods that are in INIT:BLOCKED state because of the MountVolume.SetUp failed .. not registered error as in the subject

I attempted to "delete the pods", however they instantly come back Init::Blocked because of the missing mounts.

Reading th

[2022-08-26 17:52] tkashem commented on #109155
pick for 1.23 - https://github.com/kubernetes/kubernetes/pull/112067

[2022-08-26 20:32] GitBatra commented on #108806
/assign

[2022-08-26 21:34] janetkuo commented on #64023
Using the shorter value of `controller-revision-hash` helps, but `statefulset.kubernetes.io/pod-name` would still limit the max length StatefulSet name.

[2022-08-26 22:20] candita commented on #60534
/help

[2022-08-26 22:20] candita commented on #60534
/reopen

[2022-08-27 04:32] pacoxu opened #112081 "when updated ConfigMaps to pods，pod's filesystem by the Kubelet get errors"
See #107329

OpenShift found issues rendering updated ConfigMaps to pods. When ConfigMaps get updated within the API, they do not get rendered to the resulting pod's filesystem by the Kubelet with the following error:

[code]

We will need to backport to 1.25.

Pr is open to Move LocalStorageCapacityIsolationFSQuotaMonitoring back to Alpha.

/sig node
/kind regression
/priority important-soon

__O

[2022-08-27 04:59] dghubble commented on #112081
Going through [conformance](https://github.com/cncf/k8s-conformance/tree/master/v1.24/typhoon#reproduce-conformance-results) testing for Typhoon v1.25.0, I see the same break.

[code]

[2022-08-27 08:20] alifiroozi80 opened #112082 "Api Server pod automaticaaly restart"
### What happened?

I have 3 `EC2` instances on AWS, (`1 Master`, `2 Workers`)

I went through the [official docs](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/)

My steps:

1) Create 1 Ubuntu Control Plane machine (`t2.medium`)
2) Create 2 Ubuntu Worker machines (`t2.large`)
3) Open required ports and Config the `Security Group` as [docs](https://kubernete

[2022-08-27 08:49] neolit123 commented on #112082
hi, this looks like a support request. please try the support channels instead.

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-08-27 08:49] #112082 closed

[2022-08-27 09:24] trickkiste commented on #74812
same problem with
https://github.com/robin-rpr/csi-sshfs
https://github.com/chr-fritz/csi-sshfs

[2022-08-27 09:24] #108319 closed

[2022-08-27 11:54] gjkim42 commented on #112010
The issue with statefulset has been already addressed in the latest kubernetes by https://github.com/kubernetes/kubernetes/pull/109694.

I'll cherry-pick it to release-1.24 so that it can be fixed after the next 1.24.x release.

For the daemonset, I'll look further.

[2022-08-27 11:59] #101079 closed

[2022-08-27 14:07] lhzw commented on #22368
So many years passed....
https://github.com/kiwigrid/k8s-configmap-watcher
https://github.com/stakater/Reloader
https://github.com/gopaddle-io/configurator

[2022-08-27 14:29] Szpadel commented on #64924
For anyone that came here looking for solution for very similar issue where eg wget or other apps reported bad domain but nslookup worked fine
also ndots:1 resolves issue but the same container works on other cluster.
The issue was in extra `.` at the end of search in resolv.conf:
```search default.svc.cluster.local svc.cluster.local cluster.local .```
that dot came from `search .` on the host, an

[2022-08-27 14:34] danwinship commented on #111863
Yes, it always worked like this, but it was never _intended_ to work like this.

[2022-08-27 14:47] danwinship commented on #111823
Right, the idea was that _eventually_ you'd get a bad node/port combo though, and it would report it, and eventually the admin would fix things and then they'd stay fixed. (Once we start warning about this, it should eventually become something that's only a problem for new clusters, not for long-term clusters.)

Ah, I was thinking more like "node A gets the lease and holds onto it for as long as

[2022-08-27 14:48] kfox1111 commented on #22368
So, with so many different ways of trying to workaround the lack of functionality in k8s, is it finally time to start dealing with it in kubernetes proper?

[2022-08-27 14:58] danwinship commented on #111863
If we added `--nodeport-addresses node-ip` meaning "only accept NodePort connections on the node's primary IP (of the relevant IP family)", would that work with the various cloud load balancers that actually use NodePorts? If not, would it work if we had it mean "only accept NodePort connections on IPs in `node.Status.Addresses`"? (Yes, in both cases it would imply "no NodePorts on localhost; peop

[2022-08-27 18:48] mitar commented on #84210
/remove-lifecycle stale

[2022-08-28 02:02] tynril commented on #104443
/remove-lifecycle stale

[2022-08-28 04:12] root-ali commented on #63005
Also facing this issue, Any Update?

[2022-08-28 11:11] #103546 closed

[2022-08-28 12:11] #107726 closed

[2022-08-28 18:21] Riaankl commented on #111847
/reopen

[2022-08-28 19:12] #109021 closed

[2022-08-28 19:12] #109168 closed

[2022-08-28 20:12] #108373 closed

[2022-08-28 22:02] howardjohn commented on #106846
I experimented with this a bit more, I think it works out well. Below shows usage example:

https://github.com/istio/istio/blob/72e2c31c8e29fd39426d2f5b6a916a6f10a80ff9/generics/main.go#L31-L53 with the library in https://github.com/istio/istio/blob/72e2c31c8e29fd39426d2f5b6a916a6f10a80ff9/generics/client.go.

Expansions like PodLogs can be done like: https://github.com/istio/istio/blob/72e2c31c8e

[2022-08-28 23:14] #109052 closed

[2022-08-29 03:07] chendave commented on #112040
/cc

[2022-08-29 03:18] #108258 closed

[2022-08-29 04:25] kerthcet commented on #111793
Is this on kubernetes v1.21 @jackin853 ?

[2022-08-29 04:34] innovia commented on #92195
a workaround for me was to not use `UpdateScale` but use `Update` I think that the name for the autoscaling block meta is whats being picked up by the getter of the fake

so not using it works for me with `update`

[2022-08-29 05:44] Shubham82 commented on #112010
Thanks, @gjkim42 for this information and for cherry-pick

[2022-08-29 07:00] yanhongchang opened #112092 "Cronjob v2 controller bugs：jobs will be pending after when update cronjob"
### What happened?

sometimes， the jobs will stop create and Perform after when I update the cronjob,  such as update the image.

### What did you expect to happen?

I think the update about cronjob resource will not affect the job.

### How can we reproduce it (as minimally and precisely as possible)?

This is an occasional problem. It doesn't happen every time.

### Anything else we need to know

[2022-08-29 07:30] pbetkier commented on #111433
/assign @pbetkier

[2022-08-29 08:06] JJotah commented on #79610
Any update on this topic? I face the same issue in ~ 1.24

[2022-08-29 08:42] adracus opened #112094 "`IgnoreManagedFieldsTimestampsTransformer` causes extended API types with non-default equals to panic"
### What happened?

When upgrading our extended API-Server (https://github.com/onmetal/onmetal-api) to `v1.25.0`, our tests failed with a `panic` in a new branch of the `FieldManager`, the `IgnoreManagedFieldsTimestampsTransformer`.

This part makes checks whether an API object semantically changed using `avoidTimestampEqualities.DeepEqualWithNilDifferentFromEmpty`. `avoidTimestampEqualities` is a

[2022-08-29 08:43] adracus commented on #112094
/sig api-machinery

[2022-08-29 08:43] nuno-aj-aniceto commented on #94393
Notice: for the ones using ArchLinux or a very vanilla base, check:
https://wiki.archlinux.org/title/CRI-O
As there is a need to update CRI-O configuration to check the cni directories.
This solved my issue.

[2022-08-29 08:49] neolit123 commented on #111976
/kind support
/close

hi, this seems like a support request.

please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-08-29 08:50] #111976 closed

[2022-08-29 08:51] neolit123 commented on #111987
/sig cli api-machinery

[2022-08-29 08:52] neolit123 commented on #112001
/sig auth api-machinery

[2022-08-29 08:53] pacoxu commented on #112092
/sig apps

[2022-08-29 08:53] kerthcet commented on #111793
/assign

[2022-08-29 08:54] neolit123 commented on #112018
/kind support
/close

please see
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-08-29 08:54] #112018 closed

[2022-08-29 08:55] neolit123 commented on #112059
/sig api-machinery instrumentation

[2022-08-29 09:23] kerthcet opened #112096 "Extract ParseError from PodInfo"
### What would you like to be added?

Currently we have `ParseError` here https://github.com/kubernetes/kubernetes/blob/891cbede96ab4b64c48edf25f8bbd331d8731622/pkg/scheduler/framework/types.go#L121-L128

And we'll validate the error like this: https://github.com/kubernetes/kubernetes/blob/891cbede96ab4b64c48edf25f8bbd331d8731622/pkg/scheduler/framework/plugins/interpodaffinity/filtering.go#L243-L

[2022-08-29 09:23] kerthcet commented on #112096
/sig scheduling
/assign

[2022-08-29 09:28] HaoLiuHust commented on #43916
Is there any workaround?

[2022-08-29 11:13] kerthcet commented on #111793
Sorry about the wrong description, we actually apply this policy in PodTopologySpread, but not in InterPodAffinity. Submit a PR to fix this IIUC.

[2022-08-29 12:23] #109183 closed

[2022-08-29 12:23] #108427 closed

[2022-08-29 12:23] matthyx commented on #110341
Just looking at this... @marseel do you think merging https://github.com/kubernetes/kubernetes/pull/110359 solved this issue?

[2022-08-29 12:26] matthyx commented on #111704
/triage accepted
/priority important-longterm

[2022-08-29 12:28] liggitt commented on #112001
do you have multiple API server instances running, and are all of them configured with identical encryption configurations?

[2022-08-29 12:35] dashpole commented on #112059
Do you know if this is fixed in later versions of opentelemetry?

[2022-08-29 12:36] dashpole commented on #112059
/triage accepted
/assign

[2022-08-29 12:37] matthyx commented on #110755
I am not a big fan of solving race conditions with "wait a little bit more".
Do you think there are other ways of protecting this status report?

[2022-08-29 12:37] matthyx commented on #110755
/triage accepted
/priority important-longterm

[2022-08-29 12:38] PratikDeoghare commented on #112001
@liggitt Yes.

[2022-08-29 12:39] dashpole commented on #112059
Looks like https://github.com/open-telemetry/opentelemetry-go-contrib/issues/726 might be related

[2022-08-29 12:39] liggitt commented on #112001
cc @enj

[2022-08-29 12:40] matthyx commented on #109929
Please reopen if you can reproduce on supported k8s versions.
/close

[2022-08-29 12:44] xmudrii commented on #97294
/remove-lifecycle rotten

[2022-08-29 12:44] matthyx commented on #35521
Please reopen if you experience this issue.
/close

[2022-08-29 12:45] #35521 closed

[2022-08-29 12:45] matthyx commented on #106962
/triage accepted
/priority backlog

[2022-08-29 12:46] matthyx commented on #106962
/remove-triage needs-information

[2022-08-29 12:48] matthyx commented on #108009
/triage accepted
/priority important-soon
/remove-triage needs-information

[2022-08-29 12:52] matthyx commented on #110083
@dalavayi I don't see this being a kubelet bug... if you application treats all requests (user workload and probes) in the same queue, then it will take longer and longer to respond and eventually be killed.
One way of solving this is to prioritize liveness probes over the rest of the traffic.

[2022-08-29 12:53] matthyx commented on #110083
Please reopen if it's a real bug.
/close

[2022-08-29 12:53] #110083 closed

[2022-08-29 12:58] enj commented on #112001
@PratikDeoghare can you provide the complete scripts and config you used?  It will be hard to diagnose this without a reproducer.

[2022-08-29 13:02] enj commented on #112001
cc @ritazh @aramase @nilekhc

[2022-08-29 13:05] jsafrane commented on #109113
If you look at `AnnBoundByController` description, it says:

So it's expected to be on both PVs and PVCs.

At this point (before `[` above), the controller has a PVC without `AnnBindCompleted` + it has `pv.spec.persistentVolumeName` set + the referenced PV is already bound to another PVC.

How could this happen?

1. Either *user* created the PVC with such `pvc.spec.persistentVolumeName` and thus t

[2022-08-29 13:29] alculquicondor commented on #112010
How critical is this?

[2022-08-29 13:32] PratikDeoghare commented on #112001
@enj I manually killed pods from k9s UI while a job was re-encrypting the the secrets using script [1] shown in the issue.

It would be little hard to provide entire setup from scratch as it was setup with https://docs.kubermatic.com/kubermatic/master/tutorials-howtos/encryption-at-rest/  which is automation for https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/.

[2022-08-29 13:38] kerthcet commented on #87621
Revisit the discussion, I'm not completely convinced by this case. `guarantee that one host-path in a node can only be used by one pod` this should be guaranteed by a pod-node constraint, like https://github.com/kubernetes/kubernetes/issues/105287. Pod anti-affinity used to express the relationships between different pods, So I think `interPodAffinity` should also exclude terminating pods.

[2022-08-29 13:41] zohebs341 opened #112100 "Azure AKS - 1.22.11 Cluster with No AZ's"
Hi All,

My workloads are running in Azure AKS 1.22.11 cluster with No AZs. To ensure high availability across zones, I am planning to move the workload to a new node pool which is of Multi AZ.

The question here is, about Azure AKS Control Plane components. How it will behave in case of zone failures, anyhow workloads/pvc's are running in Multi Az node pool.

But the behavior of the control plane

[2022-08-29 13:51] enj commented on #112001
@PratikDeoghare we still need the full encryption config in use by all API servers at all points during the test.  This could easily be caused by a bug in how kubermatic manages its encryption config.

[2022-08-29 13:57] alculquicondor commented on #87621
If anything, it needs to be a new API field that decides whether or not to include terminating pods. Another alternative would be something similar to https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/3243-respect-pod-topology-spread-after-rolling-upgrades

[2022-08-29 14:33] wzshiming commented on #110755
@matthyx

Once the Inhibit time is up, the Kubelet can't stop Systemd from killing it, it can only request more time from Systemd when it initializes itself. There is no other way.

[2022-08-29 14:49] PratikDeoghare commented on #112001
@enj

This is how I patched kubermatic cluster object which gets converted to `EncryptionConfiguration` shown below.
[code]

[code]

[2022-08-29 15:00] #111769 closed

[2022-08-29 15:00] enj commented on #112001
@PratikDeoghare that does not tell me what file the API server is actually consuming (because I have no proof that kubermatic correctly sets that file and the associated CLI flag on the API server).  Please check the actual API server binary as it is running, along with the actual CLI flags and files it is consuming.

[2022-08-29 15:23] PratikDeoghare commented on #112001
@enj Ah I misunderstood you before.

Here are the kube-api pods and pods that trigger re-encryption.

`kubectl  -n cluster-m7w8lm224f  get pods -lapp=apiserver -oyaml`

[code]

`kubectl --kubeconfig ../../kkpqa.kubeconfig -n cluster-m7w8lm224f  get pods data-encryption-m7w8lm224f-66b9g-b7dmc -oyaml`

[code]

[2022-08-29 15:23] PratikDeoghare commented on #112001
@enj  Even if the creds were wrong isn't it kube-apiserver who puts the prefix that is missing there?

[2022-08-29 15:58] flokli commented on #76570
/remove-lifecycle stale

[2022-08-29 16:15] enj commented on #112001
@PratikDeoghare can you also include a hex dump of the secret's bytes?

[2022-08-29 16:30] enj commented on #110346
/triage accepted

I do not believe we could change the implicit default of this flag as that would be a backwards incompatible change (we have no way of knowing if clients support TLS 1.3 in a particular env).  I could see us removing the default of the flag altogether and requiring that it be specified.  The documentation could then recommend 1.3 for environments where it is known to be supported

[2022-08-29 17:54] lavalamp commented on #83961
/lifecycle frozen

[2022-08-29 17:55] lavalamp commented on #27404
/reopen
/lifecycle frozen

[2022-08-29 18:52] alculquicondor commented on #109131
/remove-lifecycle stale

We will have to tackle this in 1.27 or later.

[2022-08-29 19:46] wmgroot commented on #40610
It reads to me that a PR that allowed cluster admins to selective choose which metadata is made available to the downward API would address the security concerns in https://github.com/kubernetes/kubernetes/pull/25957#issuecomment-228041766

[2022-08-29 20:28] vjvel opened #112105 "Error: Kubelet may be retrying requests that are timing out in CRI-O due to system load context deadline exceeded: error reserving ctr name"
### What happened?

We are getting the below error while mount the pvc volume for the minio. This pvc has 1.7TB and 900GB of data. it not mounting to the pod and container is failed to start with below error.

[code]

### What did you expect to happen?

PVC should mount in the pod

### How can we reproduce it (as minimally and precisely as possible)?

use minio to have bigger storage and restart p

[2022-08-29 20:36] oldium commented on #72734
Currently there is no way how to pass path with spaces on Windows cmd.exe with `EDITOR` or `KUBE_EDITOR` environment variables. Pull Request #112104 addresses this issue. With the fix, you would be able to specify the following:

[code]

and when `C:\Program Files\Notepad++` is in your `PATH`, you could do as well:

[code]

or (this is current workaround for the problem)

[code]

[2022-08-29 21:00] RichardoC commented on #104252
/remove-lifecycle stale

[2022-08-29 21:09] jayunit100 commented on #103860
/assign @knabben

[2022-08-29 21:36] pallasathena92 opened #112109 "kubectl exec -it get messed up terminal"
### What happened?

I want to get a pod shell to check the file inside the pod, but I can't get a normal terminal to run any command line. I tried in UI tool Lens and my local terminal, and I got the same error. I compared it to my colleague's terminal setting (bashrc), we have the same setting, but I get the wrong pod shell. I am not sure how I can fix it, so ask here.
![image](https://user-image

[2022-08-29 21:47] lavalamp commented on #110642
This behavior was intentional. Imagine:

* T0: Item X begins processing.
* T1: Item X processor has read the state of X and begins a computation.
* T2: Item X changes again and is dirty.
* T3: Item X processor finishes its computation. (but it has not seen the most recent version of X)

It is necessary to re-process item X at this point. It's unavoidable because we don't know at what point in the

[2022-08-29 21:56] lavalamp commented on #1685
IMO HTTP2 solves this good enough and I don't plan to do anything visible to the API to support this unless someone can come up with a critical use case.

[2022-08-29 22:43] lavalamp commented on #98423
@abeer91 please make a new issue describing exactly what you saw, it's not good to combine potentially subtle issues like this without strong evidence it's the same.

Watch limitation is coming to APF sometime soon (if it didn't make 1.25?), but you can also already limit LISTs already and that is more likely to be the problem (and also clients typically don't watch without listing first).

[2022-08-29 22:45] jurabek commented on #74741
same problem, open the issue please

[2022-08-29 23:13] steve-marmalade commented on #97549
Came across this issue while searching for exactly the proposed functionality. @FranciscoKurpiel did anything ever come of this?

[2022-08-29 23:16] lavalamp commented on #111643
Have you tried with serverside apply? If we have annotated the type correctly, you should be able to do this.

[2022-08-29 23:19] lavalamp commented on #105884
I'd expect closing the connection externally would cause anything trying to read/write to it to fail and thus be unblocked?

[2022-08-29 23:31] hxietkg opened #112111 "kubelet reports wrong memory usage on Windows"
### What happened?

kubelet calculates memory usage in a different way:
    `memUsage = "WorkingSet - Private" / TotalPhysicalMemory`
'WorkingSet - Private" is physical memory used by all the processes, it does not include "cached" memory used by FileSystem.

### What did you expect to happen?

kubelet takes account of cached memory.

### How can we reproduce it (as minimally and precisely as poss

[2022-08-29 23:32] knabben commented on #112111
/sig windows
/sig node

[2022-08-30 00:03] Huang-Wei commented on #91633
:) That may be related to the actual system loading on the testing machine. The scalability test on perf-dash.k8s.io should be much more reliable.

And forgot to mention the general Golang benchmark testing, we can write tests for the core WithXYZ() logging functions. That should tell the perf diff in a function's level. (ignore it if it's already implemented)

BTW: where are we in KEP https://git

[2022-08-30 00:47] thehackercat commented on #112059
not yet, I think we can fix this in otel upstream, but it's hard to backport to otel `v0.20.0`, which is the version of otel used in Kubernetes

[2022-08-30 00:50] kerthcet commented on #87621
If we introduce a new api field, it will mostly like a feature than. But I treat it as a bug fix, need more advices.

[2022-08-30 01:03] jackin853 commented on #111793
@kerthcet yes，i use v1.21

[2022-08-30 01:51] ellistarn commented on #111643
Will give it a shot. Will that merge lists?

[2022-08-30 02:10] kerthcet commented on #111793
Thanks, I think the current behavior is as designed but not as expected, but I'd like to optimize this by whether filtering out terminating pods directly or providing a new feature-gate to avoid it.

[2022-08-30 02:42] yanhongchang commented on #112092
I have read the part of cronjob controllers v2 code both v1.20 and v.122 even master branch, there is no much different between those branch, I think the bugs still exists in latest version. I will try to fixed the problem today. give me some times.

[2022-08-30 02:44] yanhongchang commented on #112092
I have read the part of cronjob controllers v2 code both v1.20 and v.122 even master branch, there is no much different between those branch, I think the bugs still exists in latest version. I will try to fixed the problem today. give me some times.

[2022-08-30 03:15] haitang5445 commented on #110288
If I configure  " kubeReservedCgroup: / " , no more errors .
Is there a problem with this configuration?

[2022-08-30 03:21] AbelHu opened #112114 "`--container-log-max-files` and `--container-log-max-size` do not work as expected on Windows"
### What happened?

When setting "--container-log-max-files=5" and "--container-log-max-size=9Mi", we only can find two log files for the test container and the file size of one log file exceeds the max size.
[code]

Test Windows Pod spec:
[code]

### What did you expect to happen?

1. The count of log files does not exceed `--container-log-max-files`
2. The file size of all log files does not exc

[2022-08-30 03:22] AbelHu commented on #112114
/sig windows

[2022-08-30 04:22] wanggaolin commented on #74839
I also encountered this problem. Have you solved it

[2022-08-30 04:49] uablrek commented on #72236
An open PR exist that fixes this problem.

/remove-lifecycle stale

[2022-08-30 05:10] vaibhav2107 commented on #112105
/sig node

[2022-08-30 05:57] dgl commented on #112109
You've likely got an environment variable set like `DEBUG=1` and you're seeing [SpdyStream](https://pkg.go.dev/github.com/moby/spdystream#pkg-variables) debugging output.

Minimal reproducer is simply:
[code]
[cut lots of command output]

I think this is best fixed in SpdyStream, there's already an issue here: https://github.com/moby/spdystream/issues/87

[2022-08-30 06:34] Shubham82 commented on #112010
Hi @alculquicondor
There is no criticality functionality wise but this issue makes it difficult for users to debug if they applied ResourceQuota to their namespace. so it will be a great help for the users if we can merge it in upcoming releases for v1.24 and v1.23.

[2022-08-30 06:49] kidddddddddddddddddddddd commented on #112096
Do you need help? I think I can fix this one if you let me. :)

[2022-08-30 07:20] hi120ki opened #112117 "Add recording of Events in audit log for security reasons"
Events collect traces of attacks that are not recorded in default audit logs, such as creating cronjobs for attack persistence.

Attackers may delete events to erase the traces of attacks and make it harder to trace, as featured in the [Threat matrix for Kubernetes](https://www.microsoft.com/security/blog/2021/03/23/secure-containerized-environments-with-updated-threat-matrix-for-kubernetes/).

Ho

[2022-08-30 07:24] FranciscoKurpiel commented on #97549
Unfortunately not, I never managed to put it in a more formal form, as it was requested.

[2022-08-30 07:45] pohly commented on #91633
What kind of conclusion would one draw from measuring individual functions? How slow is "too slow"?

The infrastructure is complete, but still marked as alpha and off by default. I've been using it in various projects without any problems, so I think it is stable. What's missing is some real usage and feedback by others. kube-scheduler is leading here.

[2022-08-30 07:54] Freshwood commented on #104095
We have this problem, too. We have multiple cephfs data pools and want to mount a specific data pool.
We could not found a wait to do this with the Kubenretes cephfs volume spec. Example config:
[code]

[2022-08-30 08:01] xuchen-xiaoying opened #112119 "kubelet http api /pods returned data not consistent with data from etcd"
### What happened?

when kubelet restarts, if access /pods api before podStorage's apiserverSource gets ready, the pod list returned is not full，pods from apiserver source are not shown in result.

the code https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go#L721 returns pods from podManager regardless of sourcesReady condition
![image](https://user-images.githubuserc

[2022-08-30 08:04] xuchen-xiaoying commented on #112119
/sig node

[2022-08-30 08:40] neolit123 commented on #112109
/sig cli

[2022-08-30 08:42] #112100 closed

[2022-08-30 09:27] VirrageS commented on #109282
/remove-lifecycle stale

[2022-08-30 09:38] kerthcet commented on #112096
Actually this is still under discussion. cc @alculquicondor for thoughts.

[2022-08-30 09:38] saschagrunert commented on #112105
Refers to https://github.com/cri-o/cri-o/issues/6185

[2022-08-30 10:52] wzshiming commented on #111779
Hi @Aniket211
Sorry for the late response, this is a known BUG in upstream Systemd, recommend to upgrade Systemd or use a new Linux distribution

Repeated with #107043
/kind support

[2022-08-30 11:28] #107374 closed

[2022-08-30 11:42] amshankaran commented on #109531
Observing the same behavior as 1.24.1 in 1.25.
Few deployment pods are in Terminating status, few deployment pods got Terminated and garbage collected.
Daemonset pods are in Running and Pending.

director-0-stack:~> kubectl get pods -A -o wide | grep worker-pool1-7g9if79b-stack
kube-system     calico-node-cxhc4                                                 0/1     Pending       0          4h36m

[2022-08-30 12:48] davidmccormick commented on #111890
There is value in the periodic checking of an external api extension - but it would perhaps benefit from being performed by a single elected leader or replaced by a consensus approach.

[2022-08-30 13:28] danielcb opened #112124 "Huge amount of logs: kubelet_getters.go:300] "Path does not exist" path="/var/lib/kubelet/pods/86cba354-348c-4826-9837-df9c616a8862/volumes""
### What happened?

After we updated two of our clusters from 1.22 to v1.24.4 we noticed a huge amount of logs (tens of entries per second) in kubelet:

[code]

Neither does the `volumes` subdir exist, nor the corresponding subdir for the pod (`"/var/lib/kubelet/pods/86cba354-348c-4826-9837-df9c616a8862` in this case).

Kubelet currently produces multiple gigabytes of logs each day since the upgra

[2022-08-30 13:30] pwnb0y opened #112125 "some grammatical mistakes in README.md file"
### What happened?

I found some grammatical mistakes
In place of :
``` Kubernetes, also known as K8s, is an open source system for managing containerized applications across multiple hosts. It provides basic mechanisms for deployment, maintenance, and scaling of applications. ```

```To use Kubernetes code as a library in other applications, see the list of published components. Use of the k8s.io

[2022-08-30 13:30] pwnb0y commented on #112125
/assign

[2022-08-30 13:47] pwnb0y commented on #112125
/sig docs

[2022-08-30 14:09] dashpole commented on #112059
Good point. It think fixing it here is a good idea in that case.

[2022-08-30 14:23] alculquicondor commented on #87621
It can't be treated as a bugfix, because the semantics are well defined: we evaluate the (anti)affinity while the pod is still running, even if terminating.

[2022-08-30 14:58] liggitt commented on #112094
cc @apelisse @alexzielenski

[2022-08-30 14:59] liggitt commented on #112014
cc @apelisse if the client-side → server-side apply transition is involved

[2022-08-30 15:01] gjkim42 commented on #112010
DaemonSet has the exact same issue that cannot update status if pod creation fails.

I'll propose a PR to fix it.

[2022-08-30 15:08] jsafrane opened #112126 "Canary CSI snapshot tests are failing"
### Which jobs are failing?

ci-kubernetes-csi-canary-test-on-kubernetes-master, [example](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-csi-canary-test-on-kubernetes-master/1564570330624692224)

### Which tests are failing?

[It] [sig-storage] CSI mock volume CSI Volume Snapshots [Feature:VolumeSnapshotDataSource] volumesnapshotcontent and pvc in Bound state with deletion time

[2022-08-30 15:14] ADITYADAS1999 commented on #111888
Hey [thockin](https://github.com/thockin) can you suggest me how can i contribute to new issue and where to join community discussion and other stuff. I just learing DevOps, kubernates and have some knowledge on linux commnd.

[2022-08-30 15:18] PratikDeoghare commented on #112001
@enj

I will try to do that.

You mean for a secret that is broken (no prefix)?

If yes, then unfortunately that cluster is gone. I will have to break a cluster again.
I observed that some other secrets had the prefixes though.

[2022-08-30 15:22] jsafrane commented on #112126
I reproduced this issue in somewhat hacked [prow.sh](https://github.com/kubernetes-csi/external-provisioner/blob/master/release-tools/prow.sh) from external-provisioner (or any other kubernetes-csi repo). The script compiles Kubernetes master from a fresh checkout, runs it in KIND, installs hostpath CSI driver with canary images and runs e2e tests for the CSI driver like this:

[code]

"hostpath C

[2022-08-30 15:24] jsafrane commented on #112126
@pohly does this ring a bell? I though node-driver-registrar does not do anything with proxied "mock" CSI calls between e2e.test and the CSI driver. In addition, why only these two tests fail reliably, while the rest works?

[2022-08-30 15:26] jsafrane commented on #112126
For the record, this is diff in k/k that adds canary node-driver-registrar to e2e.test. This diff is enough to make the tests fail:

[code]

[2022-08-30 15:33] apelisse commented on #112014
Yeah, we're working toward improving the client-side to server-side process.
In the mean-time, the workaround is to apply null for the former volume-type to force-remove it.

[2022-08-30 16:02] lavalamp commented on #111643
It will.

Lists of primitives don't have a direct deletion incantation. You may have to own it and then send a change omitting it to have the server remove it.

Fortunately you probably already own it -- you can look at existing objects to see if it is owned separately and what the manager's name is if so.

cc @apelisse

[2022-08-30 16:09] pohly commented on #112126
This does not ring a bell at all. You are right that csi-node-driver-registrar should not be involved in the gRPC communication between e2e.test and the driver. Does it communicate with the driver after the initial registration?

If yes, then that will lead into connections that need to be proxied, which might prevent the shutdown. Just a wild guess.

But even then it's not clear how grpc.Server.S

[2022-08-30 16:10] jsafrane commented on #112126
There is `WaitGroup` in `grpc.Server.Stop` that gets stuck, I did not check what is in that group.

[2022-08-30 16:27] kerthcet commented on #87621
Then maybe it worths a KEP, let's make it a configuration for end users.

[2022-08-30 16:38] randomvariable commented on #112111
Do we really need to report cached memory? The vritual memory subsystem will reclaim cached pages as memory pressure increases, just as it does in Linux.

For comparison, here's my Linux box with 40Gi of cached memory usage. We wouldn't report on kubelet that 54Gi of RAM is in use for the same reason.

[code]

[2022-08-30 16:42] randomvariable commented on #112111
I think we want the entire "Private Bytes" reported instead, rather than adding cached.
What windows is saying here is that the application was swapped to virtual memory but immediately cached in memory. This is a Windows performance optimisation that allows it to swap to disk quickly if needed. The values would be correct without any swap enabled however.

[2022-08-30 16:48] Huang-Wei commented on #91633
I'd say a 10% perf drop on individual function's benchmark testing is acceptable - given klog calls don't contribute much to the overall scheduling time.

[2022-08-30 16:56] rittneje opened #119448 "kubectl does not retry after TLS handshake timeout"
**What happened**:

One of our three control plane IPs is unresponsive. On my local machine, what I observe is sporadically it will lag for about 10 seconds, but otherwise works fine. This is because the Go standard library divides the 30 second dial timeout over the 3 IPs, and when the first times out it falls back to the second one.

Further testing shows that if the entire TCP dial times out, t

[2022-08-30 16:56] marosset commented on #112111
/cc

[2022-08-30 17:17] ahg-g commented on #87621
But is there a need for that now? did we get a request for it?

[2022-08-30 17:40] qmloong commented on #110158
Maybe you need to adjust the rate-limiting parameters of kubelet or kube-apiserver (APF).

[2022-08-30 17:40] Jeaniowang commented on #110158
报告收到

[2022-08-30 17:45] pohly commented on #111868
@aojea: we now have a proper solution without disabling this feature in https://github.com/kubernetes/kubernetes/pull/112129, thanks to @onsi adding a Ginkgo extension for suppressing the output. Can you take a look?

[2022-08-30 17:48] pohly commented on #91633
So you meant individual functions in the scheduler, not the WithName/Values functions - sorry, I misunderstood.

[2022-08-30 17:58] derekwaynecarr commented on #40610
I think its reasonable to open a KEP for this proposal for a specific set of allowed node labels for usage in downward API.  Labels have been better normalized since this issue was originally opened and expanding labels for particular use cases could be useful.  Allowing all labels though may prove problematic for users that label nodes with security sensitive information that is not to be exposed

[2022-08-30 17:58] #108354 closed

[2022-08-30 18:25] nilekhc commented on #111923
Hello @harshanarayana, I am wondering how's this coming along. Is there anything I can help with?

[2022-08-30 18:28] #109258 closed

[2022-08-30 18:45] harshanarayana commented on #111923
Sorry. I got a bit occupied with a different project.. Will have a PR opened for this for review tomorrow.. I am trying to find a way to inject the Verbs into log. But haven't found the right way to include that into the context.. Any suggestion on what can be done?

[2022-08-30 18:47] faisal-memon commented on #110988
Hi @smarterclayton, any thoughts on this one?

[2022-08-30 19:53] mattcary commented on #109335
I think this may have been fixed by https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/988. Before that PR, we had a version of the driver for a few months where the driver would return a failure, but then retry the operation on its own. I think that's what's leading to the two disks being created in your example.

After pdcsi/#988, when hitting a rate-limit error, an e

[2022-08-30 20:14] #111893 closed

[2022-08-30 20:19] leilajal commented on #111987
/cc @seans3
/triage accepted
/sig cli

[2022-08-30 20:20] leilajal commented on #112001
/remove-sig api-machinery

[2022-08-30 20:20] leilajal commented on #112094
/triage accepted

[2022-08-30 20:21] leilajal commented on #112041
/triage accepted

[2022-08-30 20:27] andybe opened #112131 "kubeadm 1.25.0 deployment over yaml pull error coredns:v1.93"
### What happened?

From a fresh installation (clean)

[code]

[code]

### What did you expect to happen?

kubeadm 1.25.0 and coredns v.1.9.3:

- OK - upgrade plan from 1.24.3/1.24.4  -> kubeadm upgrade v1.25.0
- OK - kubeadm init  ..... (console without yaml)
- NO - kubeadm init --config=kubeadm.yaml

This error not happen with version 1.24.4 and lower.

[code]
Ends up with the error above.

With

[2022-08-30 21:30] pallasathena92 commented on #112109
I tried to change the `DEBUG=True` in my bash_profile, and I forced to make it False in my environment. But I still get messed up terminal
[code]
Also, I tried to add bebug=0 in my command, it works
[code]
So now, the problem is how could make debug=0 as default during run kubectl?

[2022-08-30 21:38] apelisse commented on #111643
What this means is that every time you do a server-side apply, you MUST specify the finalizer, until you want to remove it, then you should apply without it and it will drop it.
Technically, another way to do that would be to have a "finalizer-applier" that applies the finalizer once and then applies without it at the end to remove it, not sure if I would recommend that either.

[2022-08-30 21:47] pallasathena92 commented on #112109
I tried in the Lens, change my env works now. thanks for the help @dgl

[2022-08-30 21:48] #112109 closed

[2022-08-30 23:15] kluevandrew commented on #112131
Same error for me

[2022-08-30 23:33] kluevandrew commented on #112131
See https://github.com/kubernetes/kubernetes/issues/99321 it's now `k8s.gcr.io/coredns/coredns:v1.8.0` instead of `k8s.gcr.io/coredns:v1.8.0` and i don't now why

[2022-08-30 23:39] kluevandrew commented on #112131
Simple workaround
[code]

[2022-08-31 00:23] dghubble opened #112135 "musl-based DNS resolution will break on v1.25.0 in certain configurations"
### What happened?

This one involves systemd, DNS, musl, and Kubelet v1.25 😬 👷🏻 🔥

Starting in v1.25.0, pods running on Kubelets on certain nodes with a FQDN hostname (more on that later) will not be able to resolve DNS queries if they're using musl (e.g. alpine:3.16.2, busybox, etc).

[code]

Our story starts with systemd. Back in 2020, systemd [started populating](https://github.com/systemd/sys

[2022-08-31 00:56] AbelHu commented on #112114
Reference: https://github.com/containerd/containerd/issues/7075

[2022-08-31 01:55] dghubble commented on #112135
/sig node

[2022-08-31 02:05] dghubble commented on #112135
Could either revert https://github.com/kubernetes/kubernetes/pull/109441 (which propagates "search ." into containers) or find a different solution to the empty "search " problem it was trying to solve (does OpenShift even need that fix if they already [strip "search ." from hosts](https://github.com/kubernetes/kubernetes/pull/109441)? cc @rphillips @vrutkovs @Miciah

A workaournd to problem is to

[2022-08-31 02:07] pacoxu commented on #112092
Link the pr https://github.com/kubernetes/kubernetes/pull/112116

[2022-08-31 02:52] akutz commented on #111108
Hi @nikhita,

So this **purely** a client-side issue, right? The server is still sending back the exact same response/data structure? Thanks!

[2022-08-31 02:55] kerthcet commented on #87621
Here's a recent issue related https://github.com/kubernetes/kubernetes/issues/111793, I think it make the users confusing.

[2022-08-31 03:12] lfe135 commented on #112124
https://github.com/kubernetes/kubernetes/blob/5debf63a742fab8f3d9b3672a1fd3f14d2289dce/pkg/kubelet/kubelet_pods.go#L1180 cleanupOrphanedPodDirs clean up volume dir.
https://github.com/kubernetes/kubernetes/blob/5debf63a742fab8f3d9b3672a1fd3f14d2289dce/pkg/kubelet/kubelet_pods.go#L1198 cleanupOrphanedPodCgroups check that the directory exists.
Maybe need some clean up.

[2022-08-31 03:13] nonylene commented on #102537
/remove-lifecycle stale

[2022-08-31 03:28] lfe135 commented on #112124
/sig node

[2022-08-31 03:41] kerthcet commented on #109962
/close
Since we addressed the planned issues.

[2022-08-31 03:41] #109962 closed

[2022-08-31 05:34] mauriciopoppe commented on #109654
/remove-lifecycle rotten

[2022-08-31 05:58] mondalkaushik91 commented on #37922
try to set repo_gpgcheck=0 This one will work

[2022-08-31 06:13] andybe commented on #112131
@kluevandrew Indeed.Demask he Line in the yaml file:
[code]

did the trick. Didn't think so because it's the official repo.  In case of that, the packages are never no longer on the same root level.

[2022-08-31 06:16] #112131 closed

[2022-08-31 06:31] kerthcet commented on #112040
This is as expected, for we have only one domain here. we solved this problem in v1.25 by providing a new field minDomains to help spreading across minimum specified quantity domains. See https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/3022-min-domains-in-pod-topology-spread

[2022-08-31 06:32] kerthcet commented on #112040
Plz close this if it helps.

[2022-08-31 06:33] kerthcet commented on #112040
Plz close this if this helps @harinarayanan-muthukumar

[2022-08-31 06:33] kerthcet commented on #112040
/remove-kind bug

[2022-08-31 06:39] #112040 closed

[2022-08-31 06:39] harinarayanan-muthukumar commented on #112040
Makes sense as there is only one domain ,  looking forward to test the mindomains out.

[2022-08-31 08:41] Dingshujie opened #112143 "endpointslicemirroring controller not create endpointslice"
### What happened?

1. create a service without selector, and manual create endpoints for this service
2. endpointslicemirroring controller will create an endpointslice for this service.
3. after endpoint slice created, and kube-controller-manager restart.
4. after kube-controller-manager restart, someone delete this endpointslice

and endpointslice not recreate until endpoint/service update event

[2022-08-31 08:42] Dingshujie commented on #112143
/sig network

[2022-08-31 08:45] Dingshujie commented on #112143
@robscott @freehan @kubernetes/sig-network-bugs

[2022-08-31 13:17] danielcb commented on #112124
https://github.com/okd-project/okd/issues/1310

[2022-08-31 13:26] juliantaylor opened #112147 "mark RootCAConfigMap kube-root-ca.crt immutable"
### What would you like to be added?

Allow marking the RootCAConfigMap (kube-root-ca.crt) configmap added to every namesace as immutable to reduce required kubelet watches on a relatively static resource.
https://kubernetes.io/docs/concepts/configuration/configmap/#configmap-immutable

### Why is this needed?

The RootCAConfigMap added to every namespace and mounted into every pod with service ac

[2022-08-31 13:38] armstrongli commented on #106587
/reopen

[2022-08-31 13:38] armstrongli commented on #106587
/remove-lifecycle rotten

[2022-08-31 13:54] pckroon opened #112148 "[kubeadm] cannot pull k8s.gcr.io/coredns:v1.9.3"
### What happened?

I'm trying to add a control node to my local k8s cluster, but it fails on pulling k8s.gcr.io/coredns:v1.9.3.
[code]

To complicate:

[code]

### What did you expect to happen?

Being able to pull k8s.gcr.io/coredns:v1.9.3, or at least a working kubeadm join

### How can we reproduce it (as minimally and precisely as possible)?

`kubeadm join --token <token> <api-endpoint> --dis

[2022-08-31 13:56] juliantaylor commented on #112147
/sig auth

[2022-08-31 14:16] neolit123 commented on #112148
as you can see when the repository is registry.k8s.io it is fine.

this means the kubeadm-config configmap in kube-system has k8s.gcr.io. try updating it to registry.k8s.io.

then pre pull images from it.

for more questions please use #kubeadm on k8s slack.

/kind support
/close

[2022-08-31 14:17] #112148 closed

[2022-08-31 14:28] bauerjs1 commented on #63005
+1

[2022-08-31 14:30] akutz commented on #111108
FYI, I posted [a question](https://kubernetes.slack.com/archives/C0EG7JC6T/p1661955619636249) in Kube slack related to this. We were hoping to alter our webhook behavior based on the originating user agent by passing the `*http.Request` into the Go context given to our webhook server's request handler. However, it appears we are not able to access the originating user-agent info. As @liggitt indic

[2022-08-31 14:35] liggitt commented on #111108
checked with nikhita offline, will reroute the issue

/assign
/unassign @nikhita

[2022-08-31 15:15] aojea commented on #112143
@Dingshujie the first thing the informer does after restart is to list all the endpoint slices existing and send them to the event handler, unless there is a race it seems that the endpointslice should be present on the tracker

Checking the code that you linked, how do you know if the comparison is not failing `!c.endpointSliceTracker.HandleDeletion(endpointSlice)`  instead?

https://github.com/k

[2022-08-31 15:24] invidian commented on #69041
/remove-lifecycle stale

[2022-08-31 15:30] danielcb commented on #112124
Looks like it's a problem with runc <= 1.3

After upgrading runc everyhting works again.

[2022-08-31 15:50] aojea commented on #111868
that is awesome

[2022-08-31 15:50] liggitt commented on #111108
fix open in https://github.com/kubernetes/kubernetes/pull/112150

[2022-08-31 16:02] MatthewFagan opened #112151 "Each time a pod exits, kubelet cpu usage increases with cgroups v2"
### What happened?

When a pod exits, there is some problem in the cgroup cleanup. The containerd cgroup within the kubelet cgroup does not get deleted, and then the kubelet keeps trying to delete the kubelet cgroup, which fails because of the child cgroup. The kubelet continues to try to delete the cgroup every 1 second or so. As pods start and stop, the number of cgroups in this state grows, and

[2022-08-31 16:04] shyamjvs opened #112152 "Apiserver should map etcd errors to proper response code/status"
### What happened?

Etcdserver exposes a myriad of error codes, see - https://github.com/kubernetes/kubernetes/blob/87721fb71075582a1ee1e89b6a3391813e411a1c/vendor/go.etcd.io/etcd/server/v3/etcdserver/errors.go#L23-L47

While some of those may be non-retriable errors for the k8s client, such as:

[code]

Many of them are retryable iiuc:

[code]

However, the k8s apiserver seems to always map all e