[2020-08-18 11:09] #89325 closed

[2020-08-18 11:23] bpineau opened #94077 "Azure ARM client might segfault on empty responses"
**What happened**:

We're seeing legacy-cloud-providers/azure/clients (in our case, the synchronised copy used by latest cluster-autoscaler (1.19)) segfaulting under heavy pressure and ARM throttling:
[code]

In that specific case the cluster-autoscaler triggered the issue, but it can likely affect other ARM clients using that code, including in-tree kubelet or controller-manager.

**What you expe

[2020-08-18 11:49] ScrapCodes commented on #68026
Hi Folks,

Some of the golint fixes, require us to change the exposed function's name, in simple words, "change API". I was not sure, if that is welcomed and what is the process.

[2020-08-18 12:03] jayunit100 commented on #94004
- ok, we can use this issue for the UX modulo fixing the kube-proxy reload.
- I created another issue for the ConfigMap reload.

Assuming that is a valid decomposition, will ask in sig-net this wk

[2020-08-18 12:04] jayunit100 commented on #93965
other work is under way to refactor things, so ill close this.
thanks to @mattfenwick and @saintube for giving it a shot

[2020-08-18 12:04] #93965 closed

[2020-08-18 12:05] AndreKoepke commented on #43633
The workaround works also perfectly with https://github.com/jetstack/cert-manager .
Here is my example

[code]

[2020-08-18 12:22] liggitt commented on #18174
Yes, the client still uses a single server address

[2020-08-18 12:24] raz3k commented on #88986
Unfortunately for me, running on centos 8 the issue still reproduces with a delay of 63 seconds.
I'm using the latest centos 8.2 qcow image, upgraded to latest and Kubernetes 1.18.8, i can immediately access the nodeport (using flannel 0.12 btw) after running `/sbin/ethtool -K flannel.1 tx-checksum-ip-generic off`

[2020-08-18 12:33] liggitt commented on #94068
Duplicate of https://github.com/kubernetes/kubernetes/issues/94067

[2020-08-18 12:33] #94068 closed

[2020-08-18 12:34] zpittmansf commented on #79472
@yue9944882 this issue looks like its been frozen for almost a year, any update on where its at? Thanks!

[2020-08-18 12:38] yuripastushenko opened #94079 "Using variable expansion with env from podPreset"
**What would you like to be added**:
I would like to have the ability to inject environment variables that rely (expands) environment variables defined in podPreset.

**Why is this needed**:
Part of our services use consul as key-value storage.
We, as kubernetes cluster administrators, provide pod presets with consul http address environment variable, that is injected in pods/containers.
Because t

[2020-08-18 12:44] yuripastushenko commented on #94079
/sig api-machinery

[2020-08-18 12:56] jgoeres opened #94080 "exec-type liveness or readiness probes ignore timeout"
When defining a liveness or readiness probe of type exec with a timeout, like this

    readinessProbe:
      exec:
        command:
        - "curl"
        - "-f"
        - "localhost:8080/slow?timeInSecs=10"
      initialDelaySeconds: 5
      periodSeconds: 3
      timeoutSeconds: 1

where the response is taking longer than the defined timeoutSeconds, the pod is still considered running (in cas

[2020-08-18 13:04] jgoeres commented on #94080
/sig instrumentation

[2020-08-18 13:15] liggitt commented on #94080
/remove-sig instrumentation
/sig node

[2020-08-18 13:43] princerachit commented on #89330
I don't see anything useful in kube-controller-manager logs other than this getting repeated with other node dns
[code]

[2020-08-18 13:46] bskiba commented on #92808
AFAIU, this issue is with installing metrics server in the cluster and being able to fetch metrics from the metrics API. Maybe sig-instrumentation can help here?
/sig instrumentation
@kubernetes/sig-instrumentation-bugs

[2020-08-18 13:59] BenTheElder commented on #94029
Worth noting that [kubeadm init] --service-cidr defaults to 10.96.0.0/12

[kubeadm init]: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

[2020-08-18 14:37] knight42 commented on #94029
@BenTheElder Looks like it is reasonable to change the default value to `10.96.0.0/16`?

[2020-08-18 14:46] neolit123 commented on #94029
Unless dynamic service range configuration is supported, I am pretty sure
it would be a breaking change resulting in out of range services for users
uprading to a new KCM manifest, that did not specify an explicit range at
cluster creation. The change may require special casing around upgrade.

[2020-08-18 15:20] anokun7 commented on #78206
@answer1991 Then shouldn't this be an opt-in feature at least? I have found this to be essential for reverse DNS to work.

[2020-08-18 15:35] liggitt commented on #93450
pending 3.4.11 release (should be ~today)

delta from current level of 3.4.10: https://github.com/etcd-io/etcd/compare/v3.4.10...release-3.4

[2020-08-18 15:41] novonilc commented on #72044
We are finding issues with OpenShift 3.11 as well. Any potential fix ?

k8s : 1.11

[2020-08-18 15:43] jlegrone commented on #91074
Thanks @apelisse, yes I think this solution would work. The conflict hash can just be embedded in a "plan" data structure that is defined by the client.

It looks like you're already thinking along these lines, but just to elaborate on the use case -- since the hash would be opaque, including the list of fields and values that have conflicts in the dry run response would still be useful for client

[2020-08-18 16:02] apelisse commented on #91074
That sounds kind of odd and non-k8s idiomatic. I suspect it should follow the same rules we have for other pre-conditions (query parameter)

[2020-08-18 16:11] apelisse commented on #91074
Absolutely, no intention to change that behavior :-)

[2020-08-18 16:11] danwinship commented on #88986
hm... did you reboot after updating kubernetes? I guess if you just stopped the old kubelet and then started the new kubelet (without rebooting), then the new kubelet would append the new iptables rules after the existing bad old iptables rules so they wouldn't have any effect...

If so, then stopping kubelet, running `iptables -F KUBE-POSTROUTING`, and then starting kubelet again should fix it. (

[2020-08-18 16:24] lavalamp commented on #94060
Validation is somewhat version independent. Introducing a new version doesn't actually help this problem, and possibly makes it harder. All objects must be representable in all versions.

E.g., the OP says "we cannot upgrade the storage version to v1 until we are absolutely sure no invalid objects"

But this isn't the case. You can't add v1 if it cannot represent the invalid objects. Because, for

[2020-08-18 16:31] andrewsykim commented on #94080
/assign

[2020-08-18 16:48] neolit123 commented on #94065
this means that the bootstrap token was not granted access to the kubelet configuration stored in kubelet-config-1.13.
this can happen if someone tempered with the RBAC for the bootstrap token.

try creating a new token, using `kubeadm token ...` and joining again.
also this version is no longer in support by the kubeadm team and you need to upgrade to 1.17 soon with the release of 1.19.

for supp

[2020-08-18 16:48] neolit123 commented on #94065
/sig cluster-lifecycle

[2020-08-18 16:48] #94065 closed

[2020-08-18 16:50] neolit123 commented on #94067
/area kubeadm
/sig cluster-lifecycle
/remove-kind bug
/triage support

[2020-08-18 16:53] neolit123 commented on #94067
the warning is a bit misleading and can be ignored. i think we removed it in 1.19.

see here:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#JoinConfiguration

if you pass `controlPlane: {}` in your `JoinConfiguration` it will act the same as the `--control-plane` flag on `kubeadm join`.
it's recommended to not mix flags and config, so better use "--config" only.

for mor

[2020-08-18 16:54] #94067 closed

[2020-08-18 16:56] neolit123 commented on #94073
hi, for support questions please use the k8s slack or the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this issue tracker is for feature requests and bugs (if confirmed).

also you should soon upgrade to 1.17 as 1.16 is going out of support, possibly late august with the release of 1.19.

/triage support
/sig storage

[2020-08-18 16:56] neolit123 commented on #94073
/close

[2020-08-18 16:56] #94073 closed

[2020-08-18 16:59] neolit123 commented on #94074
please use the support channels for support questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-08-18 16:59] #94074 closed

[2020-08-18 16:59] andrewsykim commented on #94080
I tried to reproduce this with containerd  but wasn't able to, the "slow" pod is not ready as expected since it fails the timeout:
[code]

I have a feeling this is likely a docker-specific issue. This code [here](https://github.com/kubernetes/kubernetes/blob/2c964aee1593ec0783dc8bc6ed76c1e7178ad31f/pkg/kubelet/lifecycle/handlers.go) and [here](https://github.com/kubernetes/kubernetes/blob/8398bc3b

[2020-08-18 17:29] robscott commented on #93374
Thanks for catching that @wojtek-t! Closing now that #93908 is merged.

/close

[2020-08-18 17:30] #93374 closed

[2020-08-18 17:58] neolit123 commented on #72675
/reopen

[2020-08-18 17:58] neolit123 commented on #72675
/remove-lifecycle rotten

[2020-08-18 18:01] sjenning commented on #92067
/sig node

[2020-08-18 18:07] derekwaynecarr commented on #92067
the spam cycle is this loop: "pod create, pod schedule, worker reject, pod failed" -- we don't have a lot of protection in higher level workload controllers to handle pods that fail at kubelet admission time versus pods that just dont create due to quota/admission.  in general, is the spam causing any other stability issues?  is pod gc pruning the pods?

[2020-08-18 18:07] liggitt commented on #93496
in presubmits: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestEndpointSliceMirroring&width=5

`TestEndpointSliceMirroring/Service_with_selector` races the endpoints controller by creating the service object first, then the endpoints object, and not tolerating an AlreadyExists error because the controller created the endpoints object f

[2020-08-18 18:14] caseydavenport commented on #39113
/reopen

 this is still an issue

[2020-08-18 18:16] yuraxdrumz commented on #70179
Same issue

[2020-08-18 18:16] liggitt commented on #93496
For the `TestEndpointSliceMirroring/Service_without_selector` failures, I don't see any evidence the endpointslicemirroring controller is running

Failures:
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1295434482718871552
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1295742634442100736
* https://p

[2020-08-18 18:25] liggitt commented on #93496
while rummaging around in the endpointslice controllers' startup code, I noticed the main endpointslice controller doesn't wait for endpointslices and nodes to be synced before starting.

I would have expected the following to avoid churn at controller startup:

[code]

If you agree, that seems like an important thing to fix separately and pick to 1.16-1.18

[2020-08-18 18:47] derekwaynecarr commented on #92067
I wonder if we can do a trick in node lister to mitigate any race condition here...

[2020-08-18 18:53] derekwaynecarr commented on #92067
we could maybe do something similar to https://github.com/kubernetes/kubernetes/pull/91500/files to ensure node lister has synced...

[2020-08-18 19:02] willdeuschle opened #94085 "CreateContainer timeout does not increment Attempt count in ContainerMetadata"
**What happened**:
Call to [CreateContainer](https://github.com/kubernetes/kubernetes/blob/v1.17.8/pkg/kubelet/kuberuntime/kuberuntime_container.go#L128) times out. There is an error message of the form `CreateContainer in sandbox "<redacted>" from runtime service failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded`.

The container manager implementing the CRI correctly rec

[2020-08-18 19:04] willdeuschle commented on #94085
/sig node

[2020-08-18 19:14] yaron-idan commented on #74099
I've opened a [PR](https://github.com/helm/charts/pull/22626) to a the nginx helm chart we've using a few months ago. It fixed the problem for a while but now I see the metrics are reversed again. Was something changed in recent version?
We have recently upgraded our clusters from v1.14 to v1.16, could this be related?

[2020-08-18 19:17] #85296 closed

[2020-08-18 19:31] aramase commented on #90186
/remove-lifecycle stale

[2020-08-18 19:32] derekwaynecarr commented on #92067
hacking on option to ensure if kubelet has a node lister with a valid kube client, we wait for it to sync at least once here which should mitigate this issue.  see: https://github.com/kubernetes/kubernetes/pull/94087

[2020-08-18 19:43] rtheis commented on #92067
We noticed the problem on the OLM `addon-catalog-source` pod which is managed by the OLM operator.  Right or wrong, the operator does not like seeing the pod go to `NodeAffinity` status and no longer reconciles the pod.  The end result is that manual intervention (i.e. pod deletion) is required to fix the problem.

[2020-08-18 19:54] khm opened #94088 "RFC1123 is incorrectly enforced"
**What happened**:
A host with capital letters in its hostname was rejected with the message
[code]

**What you expected to happen**:
Hostnames with capital letters should be regarded as valid.

**How to reproduce it (as minimally and precisely as possible)**:
Define any hostname with capital letters.

**Anything else we need to know?**:
DNS-1123 does not mandate lower-case characters.  It defers

[2020-08-18 19:54] raz3k commented on #88986
It's a scratch install.

[2020-08-18 19:56] khm commented on #94088
/sig network

[2020-08-18 20:08] fedebongio commented on #94019
/sig cli

[2020-08-18 20:09] fedebongio commented on #94029
/assign @jingyih

[2020-08-18 20:10] fedebongio commented on #94060
/assign @lavalamp

[2020-08-18 20:11] fedebongio commented on #94063
/assign @yliaog

[2020-08-18 20:14] fedebongio commented on #94064
/assign @roycaihw

[2020-08-18 20:15] fedebongio commented on #94079
/assign @deads2k
/cc @cheftako

[2020-08-18 20:42] derekwaynecarr commented on #92067
@rtheis sure... i would have thought the pod is failed in that instance and reached a terminal state.  either way, i am looking at what i can do to mitigate this.

[2020-08-18 21:01] yliaog commented on #94063
it looks that the apiserver is overloaded, which may be caused by too many Argo workflow CRDs, could you 1) check how many Argo CRs? 2) reduce # of CRs 3) move the apiserver to a more powerful machine, i.e. more RAMs, CPUs

[2020-08-18 21:06] davesargrad commented on #88986
I also still have the problem with the centos 8 and the latest k8s. Still not sure why this issue has been closed.

[2020-08-18 21:25] deads2k commented on #94079
PodPresets are slated for removal (probably in 1.20).  Rather than make PodPresets more configuration, you could look at creating your own mutating admission webhook to provide similar functionality with an ordering declaration if you find you need it.

related
https://github.com/kubernetes/kubernetes/pull/94090 and https://github.com/kubernetes/kubernetes/issues/93900

[2020-08-18 21:41] liggitt commented on #69640
PodPresets are not being actively developed and are planned for removal (xref #94090 and #93900).

As an alternative, you could create a [mutating admission webhook](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/) (which was not a thing that existed when podpresets were introduced) to inject image pull secrets in a way that matches your use case.

/close

[2020-08-18 21:41] #69640 closed

[2020-08-18 21:44] ehashman commented on #92808
@rjshree your logs indicate a TLS handshake error, have you correctly configured TLS in order to be able to scrape metrics?

[2020-08-18 22:20] #87771 closed

[2020-08-18 22:31] pymander opened #94091 "build/README.md suggests using outdated docker-machine"
**What would you like to be added**:

The Docker Machine project is currently in maintenance mode (https://github.com/docker/machine/issues/4537) and there are different ways to utilize remote hosts for Docker containers to build Kubernetes. I believe the **build/README.md** documentation should be updated to reflect this.

**Why is this needed**:

Docker Machine is in maintenance mode and on the

[2020-08-18 22:35] pymander commented on #94091
/sig docs

[2020-08-18 22:37] BenTheElder commented on #94029
So we moved the _kind_ default to `10.96.0.0/16` which should allow us to run these tests, and doesn't have the same considerations for breaking change as kubeadm currently.

The other aspects of this still need work IMHO, it seems like it would be good for the API server to compact earlier than scheduled in this case (watching the growth or triggered on the alarm?), at minimum.

[2020-08-18 22:45] #93899 closed

[2020-08-18 23:50] roycaihw commented on #94064
Openapi v3 KEP: https://github.com/kubernetes/enhancements/pull/1263

Moving to v3 is the right way to fix the spec. In the meantime we could improve our documentation. Is there any place that we can document this behavior?

[2020-08-18 23:55] ankitm123 commented on #90329
@nikhita I will resume working on this issue from today. Quick question: Does the initial investigation sound ok or am I totally off?

[2020-08-19 00:38] seperman commented on #74551
Minikube + minio runs into this issue all the time when streaming data.

Kubernetes version:

[code]

[2020-08-19 01:03] wangyun1517 commented on #92307
Why the `type` cannot be set in the **anyof**?
We have bunch of resource under v1beta1 that use type under **anyof**.

[2020-08-19 01:33] liggitt commented on #94088
Thanks for the issue.

See previous discussion, and the reasons the current behavior will not be changed, in https://github.com/kubernetes/kubernetes/issues/71140

This should be addressed/clarified in documentation to help avoid confusion in the future.

/remove-kind bug
/kind documentation

[2020-08-19 01:52] khm commented on #94088
If the intent is to maintain this behavior, the error messages should also be changed.  RFC 1123 is no longer driving to the validation, so the diagnostic messages should not mislead users into believing this specification is standards-based.

[2020-08-19 02:08] KubeLouis commented on #94065
thx very much!

[2020-08-19 02:24] Ruilkyu opened #94092 "The host with dual NIC can only get the IP of public network through the interface, but I want the IP of intranet. How to configure kubernetes"

[2020-08-19 02:29] jofia commented on #94073
thanks

[2020-08-19 02:42] eth0xFEED commented on #93801
/remove-triage unresolved

think we found the issue but not much more can do , @Frondall do you feel this is correct ?

[2020-08-19 02:52] denkensk commented on #89930
/cc

[2020-08-19 03:05] liggitt commented on #94088
fair, it could be rephrased as "a lowercase RFC 1123 label" or something similar

[2020-08-19 04:36] BenTheElder commented on #94091
/remove-kind feature
/kind documentation
/sig testing release
/remove-sig docs

[2020-08-19 04:37] karibertils commented on #39188
Also curious how it works on kube-dns

[2020-08-19 04:50] niuyueyang1996 opened #94093 "watch without timeout param will return quick,then high cpu usage"
when i watch a resource without timesecond param
watch will return quickly
like this:
kubectl get pod -w
NAME                    READY   STATUS    RESTARTS   AGE
test-54557b784c-vg9cs   1/1     Running   0          16h

timeout param not in calico request param,then calico and kube-apiserver will High cpu usage
29702 root      20   0 5918164  77700  36008 S 752.9  0.1 366:26.64 calico-node
12920 r

[2020-08-19 05:04] niuyueyang1996 commented on #94093
min-request-timeout=0

[2020-08-19 05:16] #94093 closed

[2020-08-19 05:22] samadhiyaaman93 commented on #63128
Hi,
Thanks for sharing information Find Something That Keeps You Going: Catch Up With the 2019 Graduate Student Research Winner such as useful information.

[New Holland 3037](https://www.tractorjunction.com/tractor-features-and-specifications/235/)

[2020-08-19 06:29] FingerLiu opened #94094 "[Feature Request] Is it possible to let deployment support partition like statefulset"
**What would you like to be added**:
Is it possible to let deployment support partition like statefulset in rolling update?

**Why is this needed**:
Partition in `statefulset.spec.updateStrategy.rollingUpdate` is very useful in doing gray update (or blue/green update).
We want to give deployment the same ability.

One way to do this is to make two deployment `app-green and app-blue and set replica

[2020-08-19 06:31] FingerLiu commented on #94094
/sig apps

[2020-08-19 06:32] harper1011 commented on #90851
Could we know when the problem was introduced?
As I suppose we don't have the same issue with K8S 1.17.x release?

[2020-08-19 06:47] nocanstillbb commented on #94032
i used kubeadm init a  cluster,   after all node join the cluster, i edit  kube-proxy configMap , changed mode to "ipvs", and delete all kube-proxy pods,  then i get the problem.  is wrong my operat? if i not change kube-proxy mode, all command can run seccess

[2020-08-19 07:16] didevlab commented on #52850
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-kibana-config
  namespace: elasticsearch
  labels:
    app: kibana
    release: "kibana"
    version: v1
    component: viewdbdoc
    part-of: appsbots
    managed-by: kubectl
data:
  kibana.yml: |
    server.basePath: /kibana
    server.rewriteBasePath: true
    elasticsearch.hosts: http://elasticsearch:9200
---
apiVersion: apps/v1
kind:

[2020-08-19 07:39] zhugejingcheng opened #94096 "pvc capacity is wrong"
when I create  a 1ki pvc,I find the capacity is 1Mi by 'kubectl get pvc',and resourceQuota's used is 1Ki.so i am to be surprised to this！！！

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configura

[2020-08-19 07:44] aretakisv commented on #94013
but the project is not public. and even if you login, you need to gain access to that project or the project doen't exist?

[2020-08-19 07:56] nocanstillbb commented on #94032
is flannel support ipvs mode?  i use flannel cni plugin in my cluster

[2020-08-19 08:32] yue9944882 commented on #91173
@MikeSpreitzer this issue is resolved, is it?

[2020-08-19 09:07] mszostok commented on #93900
The PodPreset functionality is not used in Service Catalog, we have an issue to remove references to it in the svc-cat repo, see: https://github.com/kubernetes-sigs/service-catalog/issues/2637

In the separate issue, we will figure out how to implement the e2e functionality for injecting secrets into an application: https://github.com/kubernetes-sigs/service-catalog/issues/2638

IMO it's ok to rem

[2020-08-19 09:32] mm4tt opened #94098 "pull-kubernetes-e2e-gce-100-performance is flaky due to sporadic APIResponsivenessPrometheus failures"
https://storage.googleapis.com/k8s-gubernator/triage-go/index.html?ci=0&pr=1&text=APIResponsivenessPrometheus&job=performance

![85d44262-1feb-4cad-a626-c8673bc85355](https://user-images.githubusercontent.com/2604887/90616979-6b8c5580-e20e-11ea-978f-01a19b0bfe53.png)

@wojtek-t, was analyzing it when looking at scheduler throughput issues. What he found, suggests that master is cpu throttled from

[2020-08-19 09:32] mm4tt commented on #94098
/sig-scalability

[2020-08-19 09:41] jingyih commented on #94029
While I agree with this, we need to be careful about the triggering condition. The current compactor keeps 5 mins of history by default. If a cluster is legitimately using a lot of space which is reaching the quota limit, triggering compaction repeatedly would cause all watches to fall out of history window and start relisting. What do you think? @wojtek-t

[2020-08-19 10:02] RobertKielty opened #94099 "bazel-test-master - panic: field etcdserverpb.Request.ID has invalid type"
**Which jobs are flaking**:
bazel-test-master
**Which test(s) are flaking**:
Showing up as **Overall** on TestGrid

The Test Names on TG are not presented as they are for e2e tests (Could this be because these are unit tests?)

Here are the Tests where the Panic occurs
- TestAllocatedLocallyButReleasedStorage
- TestServiceRegistryIPUpdate
- TestServiceRegistryUpdateExternalService
- TestServiceReg

[2020-08-19 10:23] behos commented on #91676
We were looking at this today and realized that the root cause was in fact https://github.com/kubernetes/kubernetes/issues/78420

Which was fixed in 1.16.

Maybe you are hitting the same issue as well?

[2020-08-19 10:24] wojtek-t commented on #94029
That is problem if you're watching directly from etcd. In general, we're using watchcache, and compation doesn't compact stuff in watchcache. So it's not as bad as it seems. There are problems on kube-apiserver reboots, but those will get addressed once https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1904-efficient-watch-resumption is implemented (I'm targeting alpha

[2020-08-19 10:27] neolit123 commented on #94013
i meant k8s.gcr.io/ this should be public.
On Aug 19, 2020 10:44, "V. Aretakis" <notifications@github.com> wrote:

[2020-08-19 10:53] wojtek-t commented on #94098
Given that we actually stopped running kubemark-500 recently on every PR, this sounds reasonable from cost perspective too.

[2020-08-19 11:56] mindw commented on #40651
/remove-lifecycle stale

[2020-08-19 12:30] billysutomo commented on #61117
I also got this issue. My cause is memory leak. I don't know how, but collectd got memory leak and eat my memory resources until 20GB and leave no resource for my kubernetes deployment. After check, i got **Nodes not ready**.

[2020-08-19 12:47] dims commented on #93903
/cc

[2020-08-19 12:47] dims commented on #92159
/cc

[2020-08-19 12:57] devlounge commented on #93900
Many of us have been waiting for this to become mature since along time.
Removing PodPresets would be quite sad, as it would allow many people to stop having to write their own mutating webhooks for things PodPresets could do really well.
Also I had in mind to use it for automatically mounting common volumes into pods and much more.

[2020-08-19 13:10] knight42 commented on #94099
xref: https://github.com/etcd-io/etcd/issues/12197

[2020-08-19 13:20] liggitt commented on #94099
/area etcd
/assign @jingyih

[2020-08-19 13:22] alewitt2 opened #94101 "ServiceAccount cannot create secret it has access to via rbac `resourceNames`"
**What happened**: tried to create a secret via a service account. i had given this serviceaccount only access to create a secret with a specific name.

**What you expected to happen**: it to be able to create the secret with the name specified in `resourceNames`

**How to reproduce it (as minimally and precisely as possible)**:
1. create the rbac:
[code]
2. try creating the secret using the rbac:

[2020-08-19 13:23] alewitt2 commented on #94101
/sig auth

[2020-08-19 13:45] liggitt commented on #94099
Workaround open at https://github.com/etcd-io/etcd/pull/12238 (master) and https://github.com/etcd-io/etcd/pull/12239 (3.4 pick)

Would be good if we can pick those up in 3.4.11

[2020-08-19 13:51] neolit123 commented on #94092
hello, the kubelet allows you to pass --node-ip explicitly which can override the default of picking an address on the public interface. but note that other components might need extra flags too:
https://kubernetes.io/docs/reference/command-line-tools-reference/

we try to use this issue tracker for bugs/feature requests. for questions you can use the support channels and k8s slack.
https://github

[2020-08-19 13:51] #94092 closed

[2020-08-19 13:56] martint17r commented on #94096
Could you please add your environment configuration?

Please note that a pvc with only 1 Kilobyte of data is very unusual.

[2020-08-19 13:56] liggitt commented on #94101
resourceNames is not effective for create requests, since create requests do not include the resource name in the URL. See https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources:

/close

[2020-08-19 13:56] #94101 closed

[2020-08-19 14:06] CzarMich commented on #93472
Getting same issues
~$ kubectl get cs
NAME                 STATUS      MESSAGE                                                                                     ERROR
scheduler            Unhealthy   Get http://127.0.0.1:10251/healthz: dial tcp 127.0.0.1:10251: connect: connection refused
controller-manager   Unhealthy   Get http://127.0.0.1:10252/healthz: dial tcp 127.0.0.1:10252: connect: conn

[2020-08-19 15:19] bamarni commented on #78879
/remove-lifecycle rotten

[2020-08-19 15:20] bamarni commented on #78879
Any maintainer here? I had opened #90333 with a fix.

[2020-08-19 15:51] damemi commented on #87526
/remove-lifecycle stale

[2020-08-19 16:04] diegoxro commented on #44540
this was the only solution for me thanks

[2020-08-19 16:08] captnbp commented on #76435
/reopen

[2020-08-19 16:26] bart0sh opened #94103 "ResourceMetricsAPI test case fails"
**Which jobs are failing**:

ci-kubernetes-node-kubelet-orphans

**Which test(s) are failing**:

[k8s.io] ResourceMetricsAPI when querying /resource/metrics should report resource usage through the v1alpha1 resouce metrics api

**Since when has it been failing**:

Can't say as I've never seen it not failing.

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-node-kubelet#node-kubelet-orphan

[2020-08-19 16:27] bart0sh commented on #94103
/sig node

[2020-08-19 16:33] bart0sh commented on #94103
@MHBauer @vpickard @derekwaynecarr @dims @bsdnet

[2020-08-19 16:35] debu99 commented on #70179
same issue on ruby application

[2020-08-19 16:37] AkihiroSuda opened #94104 "cgroup2: `/sys/fs/cgroup/sys/fs/cgroup` is created"
**What happened**:

`/sys/fs/cgroup/sys/fs/cgroup/...` is created on a cgroup2 host

**What you expected to happen**:

Such directory should not be created

**How to reproduce it (as minimally and precisely as possible)**:
* Boot Ubuntu 20.04 with `systemd.unified_cgroup_hierarchy=1`
* Install moby/moby@868578e493 with containerd/containerd@6c74c391fdce62b15428d3032d10217355dcf638  and  opencontai

[2020-08-19 16:38] AkihiroSuda commented on #94104
cc @giuseppe

[2020-08-19 16:38] AkihiroSuda commented on #94104
/sig node

[2020-08-19 16:42] bart0sh commented on #94103
/cc @dashpole

[2020-08-19 16:44] dashpole commented on #94103
This should be fixed by https://github.com/kubernetes/kubernetes/pull/93868

[2020-08-19 16:47] utsavakru commented on #53881
1. Issue : Kubectl get nodes
Unable to connect to the server: dial tcp [::1]:6445: connectex: No connection could be made because the target machine actively refused it.

2. To fix this issue, Run the command below to tell the kubernetes where to find the configuration file:
[Environment]::SetEnvironmentVariable("KUBECONFIG", $HOME + "\.kube\config", [EnvironmentVariableTarget]::Machine)

3. Reset

[2020-08-19 16:52] bart0sh commented on #94103
@dashpole thank you. I'll close this issue when the fix is merged.

[2020-08-19 17:25] StanYago commented on #71162
A use case for multiple OIDC issuers is to allow use of multiple dex instances in case of network segmentation tokens could come from either dex

[2020-08-19 17:38] marosset commented on #93945
@pjh I'm seeing the same behavior where after scheduling the IIS container with very low limits the node starts flipping between NodeNotReady and NodeReady periodically.

I've grabbed some logs from my machine and will take a look at them.

[2020-08-19 17:40] liggitt commented on #94099
fixed in https://github.com/kubernetes/kubernetes/pull/94105

[2020-08-19 17:41] liggitt commented on #93450
fixed in https://github.com/kubernetes/kubernetes/pull/94105

[2020-08-19 17:45] pjh commented on #93945
Thanks @marosset ! I don't have much experience debugging kubelet issues but if I can help by gathering more information or trying anything else, let me know.

[2020-08-19 17:48] mailhari commented on #94003
We wanted to register our extender with the scheduler which is running as part of GKE control plane. We dont have access to this control plane. So there is not way to configure the extender in GKE.

[2020-08-19 17:50] mailhari opened #94106 "Scheduler extender : Authenticating scheduler"
I have  a scheduler extender in our application which scheduler calls (the predicate). But I am looking for a way to authenticate the kube-scheduler (using some bearer token in request header). I dont see anyway in TLSExtender today.

[2020-08-19 17:51] mailhari commented on #94106
/sig sig-scheduler

[2020-08-19 17:52] mailhari commented on #94106
/sig scheduling

[2020-08-19 17:58] dschunack commented on #57249
/reopen

We have the same problem, private NLB won’t work with instance id

[2020-08-19 18:14] danwinship commented on #88986
can you do `iptables-save` on a system experiencing the problem and put it in a pastebin or a gist. (Or I guess you can attach files to github issues? Just don't paste the whole thing into a comment)

Also, is this with iptables kube-proxy or something else?

[2020-08-19 18:29] alculquicondor commented on #94003
Sorry @mailhari, I think you are misunderstanding my question. I want to know what is it that your extender is doing that you can't do through other mechanisms. Perhaps it's worth to include what you want as a core feature.

In general, extenders have reliability and performance concerns. You can also reach out to GKE support.

[2020-08-19 18:30] liggitt commented on #93496
ok, fixes for known flakes are merged, will watch these grids for failures after https://github.com/kubernetes/kubernetes/pull/94089 merged:

* https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestEndpointSliceMirroring&width=5
* https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5&include-filter-by-regex=TestEndpo

[2020-08-19 18:39] #89322 closed

[2020-08-19 18:49] liggitt commented on #93496
cc @kubernetes/ci-signal

[2020-08-19 18:51] #93450 closed

[2020-08-19 18:51] #94099 closed

[2020-08-19 19:43] csandiri11 commented on #94063
thanks Yliaog. We observing the load on API server is normal. the only difference we are seeing b/w successful jobs vs failed jobs is the job nature where some jobs takes usually 6-7 Hrs. to complete and during this time Argo is not able to communicate to K8 Api server and pods getting failed. eventually job is ending up failed. Now is there anyway I increase timeout setting on Kubernetes API serv

[2020-08-19 20:10] rvakash opened #94108 "Controller delete volume is called before node unstage volume returns success"
**What happened**:
We are seeing an issue where Controller issued Controller Delete volume while node unstage volume was still in flight but unpublish volume had returned success. This is a block volume on K8s 1.18.2. Is this the desired behavior ? Or is there a bug open on this ? According to the spec, my understanding was controller delete volume would be issued after node unstage volume returne

[2020-08-19 20:11] rvakash commented on #94108
/sig storage

[2020-08-19 20:14] rvakash commented on #94108
/assign @gnufied @msau42

[2020-08-19 20:16] msau42 commented on #94108
I think the kubelet logic that determines when to delete the Pod object (which storage protection uses as a signal that unmount is done) doesn't handle staging paths.

[2020-08-19 20:16] msau42 commented on #94108
@kubernetes/sig-storage-bugs

[2020-08-19 20:28] EmilyM1 commented on #87198
Alot of good info here. Sifting through it I think this is notable:
`$ docker run --rm -it test-local-user:1.10.3.27 /bin/bash
user-agent@ebbc6cd9b52b:/$ cat /proc/sys/net/ipv4/ip_forward
1
user-agent@ebbc6cd9b52b:/$ exit

$ kex test-sysctl-1-7c58dff94c-c9s2d /bin/bash
user-agent@test-sysctl-1-7c58dff94c-c9s2d:/$ cat /proc/sys/net/ipv4/ip_forward
0`

At core this seems to be due to an overwrite be

[2020-08-19 21:03] matthias50 commented on #93796
No, from the example above, `curl -s -H Metadata:true "http://169.254.169.254/metadata/instance?api-version=2019-04-30" | jq -r '.compute.name'` doesn't change and is `dev-3-az-eastus-worker-default-1-scale_1`

[2020-08-19 21:07] #77095 closed

[2020-08-19 21:08] andrewsykim commented on #89871
Closing this since I didn't get any responses from @balraj111

/close

[2020-08-19 21:08] #89871 closed

[2020-08-19 21:48] yliaog commented on #94063
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

has flags for timeout setting.

it would be helpful to understand what API requests are timing out, and why, before adjusting the timeout value

[2020-08-19 21:55] 2rs2ts commented on #72359
Did you find an answer to this?

[2020-08-19 22:21] ehashman commented on #91536
/milestone v1.20

[2020-08-19 22:25] MarcPow opened #94113 "Azure Cloud Provider should support Service annotations that allow for ip-tag control over the public ips created for LoadBalancer Services"
**What would you like to be added**:

When the Azure Cloud Provider creates public-ips and binds them to LoadBalancer endpoints, it should allow for customer control of the ip-tags passed along to public-ip creation requests.

**Why is this needed**:

There are optional features in Azure that allow customers to control ip allocations in nuanced ways, based on the ip-tags that are set during public

[2020-08-19 22:32] MarcPow commented on #94113
/assign @feiskyer

[2020-08-20 00:41] andrewsykim commented on #94080
I was able to reproduce this on environments that are still using dockershim and I think this is the fix https://github.com/kubernetes/kubernetes/pull/94115

[2020-08-20 00:42] csandiri11 opened #94117 "Kubernetes pods are getting failed with Unable to attach or mount volume"
We are seeing some of the pods getting failed while mounting/attaching volume to pods. this is happening intermittently and after bouncing kubelet service pods are able to reattach the volumes and succeeding. seeing the below error when pod get struck.

I created single PV and corresponding PVC to use volume mounts for pods:

Error:

[code]
Version:

[code]
Host OS:
`Centos 7.7`

CNI:
`Weave`

Tha

[2020-08-20 00:43] csandiri11 commented on #94117
/sig storage

[2020-08-20 01:01] Dean-Coakley commented on #93360
/assign

/unassign Akhilesh2412

[2020-08-20 01:15] jpmsilva opened #94121 "kubectl diff finds differences on time field"
**What happened**:
I'm trying to automate the usage of `kubectl diff` to check for changes that need to be applied to the cluster based on a static set of manifests.
However, for some manifests, if I run `kubectl diff` the output contains differences on fields called `time` and `date`, after the manifest was applied to the cluster.

I ran `kubectl apply -f https://cloud.weave.works/k8s/v1.18/net.y

[2020-08-20 02:35] jpmsilva commented on #94121
/sig CLI

[2020-08-20 03:27] litao20102546 commented on #93556
I have the same problem. Is it a code bug?

[2020-08-20 04:59] invidian commented on #84298
/remove-lifecycle stale

[2020-08-20 05:16] BenTheElder commented on #92937
moving to https://github.com/kubernetes/test-infra/issues/18729 and https://github.com/kubernetes/test-infra/issues/18551
PRs have been merging and other issues are tracking specific actions being taken forward
/close

[2020-08-20 05:16] #92937 closed

[2020-08-20 05:18] MikeSpreitzer opened #94122 "Inadequate comment on k/apiserver/pkg/util/flowcontrol.Interface.Handle"
**What happened**:
In reviewing #93877 I noticed an incorrect fake implementation of Interface.  I looked at the comment on the Handle method, and noticed that it does not say when/how the `queueNoteFn` is called.

**What you expected to happen**:
I expected the `queueNoteFn` parameter to be as well documented as the others.

**How to reproduce it (as minimally and precisely as possible)**:
Look a

[2020-08-20 05:19] MikeSpreitzer commented on #94122
@kubernetes/sig-api-machinery-bugs

[2020-08-20 05:19] MikeSpreitzer commented on #94122
@bjrara

[2020-08-20 06:37] MikeSpreitzer opened #94123 "Expose crypto/tls.Config.KeyLogWriter"
**What would you like to be added**:
I would like all the TLS servers to have the option to turn on `crypto/tls.Config.KeyLogWriter`.

**Why is this needed**:
This will make it possible to debug traffic with these secured servers, which is a great thing all on its own, and also removes a big motivation to keep unsecured ports.

[2020-08-20 06:38] MikeSpreitzer commented on #94123
@kubernetes/sig-api-machinery-feature-requests
@kubernetes/sig-node-feature-requests

[2020-08-20 06:39] jgoeres commented on #94080
@andrewsykim Thanks for taking care of this. Can you say to which versions this fix will go in the end?
There is another topic related to this one - actually this new topic is what triggered my look at the behavior of probe timeouts the results I reported here. I have not enough hard evidence to open a dedicated issue for this other, but maybe you have an idea - let me please give you a brief sket

[2020-08-20 07:03] MikeSpreitzer commented on #93757
No strong opinion on this one.

I am not sure if that was a response to the ideas in the "Basic CRUD" section --- there the idea is not about testing validation but rather testing the status setting about referential integrity.

The debug endpoints are about what is happening at the moment of the GET.  Controlling that tightly enough to be worth a test would be tricky.  The only plausible approach

[2020-08-20 07:54] feiskyer commented on #93796
@matthias50 then I think the call is expected because current implementations depend on either IMDS or Azure API to determine the node metadata. If the information is not in both of them, then it's hard to match the NodeName to VM. Are you able to use the auto-generated VM Name from VMSS?

[2020-08-20 08:06] raz3k commented on #88986
Sure, https://pastebin.com/fHzrU0bT

I noticed the last line and the fact that I don't have the tool; installed is `iptables v1.8.4 (nf_tables)`
`# Warning: iptables-legacy tables present, use iptables-legacy-save to see them` not sure if that is a problem or not.

[2020-08-20 08:35] rockysingh commented on #51096
It is worth checking if the pods CPU spikes on startup.

[2020-08-20 08:38] hakman commented on #88986
@raz3k Having both legacy and nft rules it's a problem. From the nftables [wiki](https://wiki.nftables.org/wiki-nftables/index.php/Moving_from_iptables_to_nftables):

I am not sure the [script](https://github.com/kubernetes/release/blob/master/images/build/debian-iptables/buster/iptables-wrapper) that detects the iptables flavour correctly in this case. There is a case there where in the end it de

[2020-08-20 08:41] jsafrane opened #94128 "Provisioning tests don't allow any rounding"
**What happened**:
A CSI driver rounds the sizes of volumes it provisions. When running external CSI tests, following happens:

1. The CSI driver rounds the size of the volume up to the value it supports.
2. ~~The external provisioners [rounds it up to the nearest GiB](https://github.com/kubernetes-csi/external-provisioner/blob/710e040172410d8b58d43ce388dd950d65fc9e39/pkg/controller/controller.go#

[2020-08-20 08:41] jsafrane commented on #94128
/sig storage

[2020-08-20 08:47] msaurabhee commented on #85389
This issue is still existing on kubernetes 16.4
Check condition below -
`Name:         alertmanager-main-0
Namespace:    instrumentation
Priority:     0
Node:         k8s-systempool-25664830-vmss00000t/10.240.20.189
Start Time:   Mon, 01 Jun 2020 19:36:02 +0530
Labels:       alertmanager=main
              app=alertmanager
              controller-revision-hash=alertmanager-main-6f59cf8b85

[2020-08-20 08:57] zhouya0 commented on #94121
Ref: https://github.com/kubernetes/kubernetes/pull/89795
But seems the newest version of `kubectl` still has similar problem:
[code]

[2020-08-20 09:21] jpmsilva commented on #94121
Sorry, I was unaware that there was a specific repository on which to report kubectl related issues.
If needed, I can recreate this issue on the kubernetes/kubectl repository.
Do let me know if this is preferred.

[2020-08-20 09:23] raz3k commented on #88986
To be honest, it was a scratch install on a centos 8.2 qcow image, so I did not do anything special to iptables.

[2020-08-20 09:41] christian-2 opened #94129 "psp/privileged requires binding to other serviceaccounts in ns/kube-system next to sa/default"
**What happened**:

I have activated `PodSecurityPolicy`s by creating the following Kubernetes resources:

* `psp/restricted`: according to [Pod Security Standards][1]
* `psp/privileged`: according to [Pod Security Standards][1]
* `clusterrole/restricted`: permits `use` of `psp/restricted`
* `clusterrole/privileged`: permits `use` of `psp/privileged`
* `clusterrolebinding/restricted`: binds the fo

[2020-08-20 10:27] #90334 closed

[2020-08-20 10:27] hakman commented on #88986
I did a bit of digging and tracked the issue to flannel. kube-proxy adds the rules correctly to NFT, but flannel adds them its rules to the Legacy table, hence the message you are seeing.

I think the issue is on the flannel side and this issue for it https://github.com/coreos/flannel/issues/1306.

[2020-08-20 10:43] vainkop commented on #93472
Stop using it as it's officially deprecated in 1.19: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#deprecation
[code]

[2020-08-20 11:42] mm4tt commented on #94098
/sig scalability

[2020-08-20 11:55] #93973 closed

[2020-08-20 12:27] liggitt commented on #94129
/remove-kind bug

This is working as intended. To allow pods to run, you must grant their service accounts access to a pod security policy that permits the pod. The `default` service account is not treated differently by PodSecurityPolicy.

A pull request to update the documentation to use a non-default service account would be welcome if that would have helped clarify this.

/close

[2020-08-20 12:27] #94129 closed

[2020-08-20 12:48] liggitt commented on #94060
I don't think the storage version is really relevant. The primary goal is to be able to introduce a new API version with improved schema validation.

This is the problematic scenario:
1. have a v1beta1 version with insufficient validation (extremely common)
2. use the v1beta1 API to persist insufficiently validated instances (extremely common)
3. realize the error of your ways, and add a v1 versio

[2020-08-20 13:13] chilicat commented on #87615
I can confirm to see the issue with Kubernetes v1.16.13
We did not see the issue with Kubernetes v1.15.9

[2020-08-20 13:16] yastij commented on #94019
@wojtek-t - do we want to close #93663 and wait for the PR to fix the printers ?

[2020-08-20 13:17] wojtek-t commented on #94019
Yes - we probably should

[2020-08-20 13:20] xmudrii commented on #92272
@waynr @dominicgunn I've tried to reproduce this issue with the latest patch releases, but I was not able to do so. Instead, I've run into some other issues and not so usable clusters, but I believe that it's not related to the Kubelet issue.

My setup was the following:

* One control plane and worker node on AWS
* Debian 10 (Buster) running on both instances
* Cluster provisioned with kubeadm us

[2020-08-20 13:58] #89363 closed

[2020-08-20 14:06] nocanstillbb commented on #94032
### route
[code]
### ifconfig
[code]

### kubelet logs
[code]

[2020-08-20 14:26] rikatz commented on #93556
Hello, as stated before this is not a code bug. This is due to your docker registry certificate not being trusted by your container runtime.

PTAL at https://docs.docker.com/engine/security/certificates/ to see how to import the certificate of your docker registry into your container runtime, if you're using some private or non trusted registry.

I'm closing this issue, please feel free to reach b

[2020-08-20 14:26] #93556 closed

[2020-08-20 14:30] rikatz commented on #93784
oh I see. Thanks @CostelLupoaie

I've no access to cloud providers right now to test, but as you've provisioned in EKS using IAM and @fcantournet is using GKE it MIGHT be a thing.

Will see if someone else have access to cloud providers and can test this :)

[2020-08-20 14:36] raz3k commented on #88986
Thanks! I can confirm that running on centos 8 with flannel-git:v0.12.0-34-g8936e90-amd64 (which is the latest build from master) nodeport now works correctly.

[2020-08-20 15:16] devwinner-sek opened #94133 "Kubernetes Pod can’t ping external IP"
Informations :
Version of Kubernetes : 2.19.0
Installations done :
- Kubectl : 1.18.5-00
- Kubelet : 1.18.5-00
- Kubeadm: 1.18.5-00

Number of node: one node master
Dns resolver: core-dns deployment
Network Kubernetes: calico deployment

Hi everybody. I have installed Kubernetes cluster using kubelet, kubeadm and Kubectl. I have installed prometheus using Helm inside my kubernetes cluster on the n

[2020-08-20 15:35] devwinner-sek commented on #94133
Sorry, my version of Kubernetes is  1.18.5-00

[2020-08-20 15:51] lavalamp commented on #94122
Any chance we could write a test for the interface which verifies correct plumbing?

[2020-08-20 16:04] matthias50 commented on #93796
To be clear, we have solved the issue by ensuring the `hostname` is the codename. Disabling NetworkManager does this. My remaining concern is that when kubelet runs this code and it finds that hostname != nodename, and  useInstanceMetadata is true that this should be a fatal error. I say that because it is impossible for kubelet to actually use instance metadata in this case. If kubelet had behave

[2020-08-20 16:08] verb commented on #92557
I thank what matters for proper typing is that `rest.Storage.New()` for `pods/ephemeralcontainers` returns the proper type. This is already implemented for `EphemeralContainersREST` and returns an `EphemeralContainers` API object.

Here's what I think is happening:

1. `EphemeralContainersREST` gets an update for the `ephemeralcontainers` subresource. This is translated into an update of the pod s

[2020-08-20 16:08] verb commented on #92557
For future reference, here's a trace from the validation dispatch that receives the conversion error:

[code]

[2020-08-20 16:35] shubb30 commented on #70082
/remove-lifecycle rotten

Is there any more info on if/when this will be fixed?

[2020-08-20 16:40] ehashman commented on #92731
/assign @serathius

[2020-08-20 16:41] ehashman commented on #93688
/assign @logicalhan

[2020-08-20 16:43] ehashman commented on #93480
/assign @logicalhan

[2020-08-20 16:43] ehashman commented on #93688
@dashpole has looked into this and says this was just one flake out of many months where the controller failed to come up (and hence there were no metrics available), so we are going to close this.

/close

[2020-08-20 16:45] liggitt commented on #92557
mutating admission is applied here:

https://github.com/kubernetes/kubernetes/blob/1c548c328a32c5b6819195760d1abba115ab4969/pkg/registry/core/pod/storage/storage.go#L327

validating admission methods (createValidation / updateValidation) is called from inside `r.store.Update` here:

https://github.com/kubernetes/kubernetes/blob/1c548c328a32c5b6819195760d1abba115ab4969/pkg/registry/core/pod/storage

[2020-08-20 17:11] #94007 closed

[2020-08-20 17:29] erain commented on #92731
/cc @erain

[2020-08-20 17:40] liggitt commented on #94060
my observation is that the current implications / failure modes of adding a new stricter version:
* bites people who don't understand the implications who are trying to do the right thing and add an improved version
* discourages people who do understand the implications from adding new versions with improved validation

[2020-08-20 17:42] apelisse commented on #94060
I agree with Jordan, the current incentives are wrong. People should be able to improve their schemas.

[2020-08-20 17:45] apelisse commented on #94060
Going a little off-topic here, also note that this doesn't solve the problem of objects "template" that create other objects (deployment -> pods). We still can't change the validation on the podtemplate.

[2020-08-20 17:46] liggitt commented on #94060
one problem at a time :-)

[2020-08-20 17:47] apelisse commented on #94060
I don't disagree, but it might be a good time to look at the problem holistically :-)

[2020-08-20 17:57] jeremyje opened #94138 "GCE Windows StackdriverLogging Service sometimes fails and never restarts on node boot."
**What happened**:
There's a race condition between starting `StackdriverLogging` Windows service and when the VMs network is actually available to communicate with the VM's metadata server. If the service starts first and cannot communicate with the metadata server or start talking to the stackdriver logging service it'll crash and not resume because the service is not configured to restart on fa

[2020-08-20 17:57] jeremyje commented on #94138
/sig windows

[2020-08-20 18:16] ruiwen-zhao opened #94139 "Add device plugin error count to metrics"
**What would you like to be added**:

Currently we only have metric for [device_plugin_alloc_duration_seconds](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/metrics/metrics.go#L270), and we should have a metric for error count.

**Why is this needed**:

This metric could help us detect issues/regressions in device plugin. Please let me know if there was previous discussion aroun

[2020-08-20 18:20] ruiwen-zhao commented on #94139
/sig node

[2020-08-20 18:24] yliaog commented on #93757
could you elaborate a bit more about the authorization webhook approach? it is only called in the authorization path, if i understand it correctly.

[2020-08-20 18:25] neolit123 commented on #94133
/close

[2020-08-20 18:25] #94133 closed

[2020-08-20 19:00] MikeSpreitzer commented on #93757
Authorization, and admission control, happen after the priority and fairness filter.

[2020-08-20 19:44] wenjiaswe opened #94141 "Update etcd version to 3.4.13"
Bump etcd version to 3.4.13 to pick up a few important fixes:

* etcd [changelog](https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.4.md)
* Fix [CVE-2020-15106](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-15106) and [CVE-2020-15112](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-15112).

/sig api-machinery
/kind feature
/assign @jingyih
/cc @liggitt @gyuho @xiang90 @wojt

[2020-08-20 19:45] hh commented on #80770
/remove-lifecycle stale

[2020-08-20 19:50] hh commented on #80770
@lavalamp Do we have any plan/timeframes on metadata within the fields or operations that we could extract to support identifying Features->Fields?

[2020-08-20 19:52] misterikkit commented on #64429
+1 to this. The current implementation creates a Watch per Attach operation, and that could result in dozens of concurrent watch requests during a spike.

[2020-08-20 20:01] Riaankl commented on #80770
/remove-lifecycle rotten

[2020-08-20 20:01] Riaankl commented on #80770
/reopen

[2020-08-20 20:10] fedebongio commented on #94121
/assign @apelisse

[2020-08-20 20:11] fedebongio commented on #94122
/cc @rngy

[2020-08-20 20:12] fedebongio commented on #94123
/sig auth

[2020-08-20 20:14] hh commented on #81759
/remove-lifecycle rotten

[2020-08-20 20:17] apelisse commented on #94121
Hey, thanks for the report @jpmsilva!

About the first issue, applying "https://cloud.weave.works/k8s/v1.18/net.yaml". It looks like this yaml is dynamically generated and different every time you get it:
[code]

So I think this one is totally working as intended. We're showing a difference because there is an actual difference.

The second one is actually a bug that we are supposed to have fixed

[2020-08-20 20:30] jpmsilva commented on #94121
Ah, I see. That does account for the differences in the date field. Most unfortunate for me, but definitely not a bug in kubernetes/kubelet. My apologies, I should have checked that first.

So the only actual issue is with the changing time field.
Thanks for looking into that. Do let me know if there is anything I can do to help.

[2020-08-20 20:37] MikeSpreitzer opened #94145 "sampleAndWaterMarkHistograms.innerSet can take a long time"
**What happened**:
Not observed yet, but deduced from analyzing the code.  If a k/apiserver/pkg/util/flowcontrol/fairqueuing.QueueSet, whose metrics.TimedObserverPair is a pair of k/apiserver/pkg/util/flowcontrol/metrics.sampleAndWaterMarkHistograms, gets zero activity for a long while and then gets some activity, then the loop at https://github.com/kubernetes/apiserver/blob/09eab1cf2cce55a46e5d90

[2020-08-20 20:38] MikeSpreitzer commented on #94145
@kubernetes/sig-api-machinery-bugs

[2020-08-20 20:38] MikeSpreitzer commented on #94145
/assign @MikeSpreitzer

[2020-08-20 20:39] MikeSpreitzer commented on #94145
@lavalamp
@yue9944882
@deads2k

[2020-08-20 20:39] Riaankl commented on #81759
/reopen

[2020-08-20 20:44] MikeSpreitzer commented on #94122
@lavalamp : yes

[2020-08-20 20:59] MikeSpreitzer commented on #94145
@rngy
@bjrara

[2020-08-20 21:29] greywolve commented on #80897
@mariusmarais so just ensuring each node has a controller running didn't work for you? or is that not what you want?

[2020-08-20 21:37] szuecs commented on #94022
1) File watching on symlink is useless in this case
2) why not reading every minute the configuration file instead?
3) forced restart of coredns will cause downtime

We are very careful not to restart any coredns daemonset pod and only in case of node starting we do a version change for example.

[2020-08-20 21:37] tan31989 commented on #93818
@Zheaoli Thank you for the update. But while we look for a OOO issue, sometimes to even debug and fix, we may need to take a heap dump on container going down. So, was wondering if this could be highlighted.

[2020-08-20 22:06] #81584 closed

[2020-08-20 22:30] BretFisher commented on #94018
more info on technicals of pull limits, with more blog/faq coming next week https://docs.docker.com/docker-hub/download-rate-limit/

[2020-08-20 22:40] alculquicondor commented on #94106
You can follow https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/

[2020-08-20 22:46] alculquicondor commented on #94058
@Huang-Wei could this be an issue with the node affinity?

@stevenshuang could you try using label `kubernetes.io/hostname`?

[2020-08-20 22:54] sftim commented on #94022
As an alpha feature you can make a [ConfigMap](https://kubernetes.io/docs/concepts/configuration/configmap/#using-configmaps) immutable. Bear in mind that this can be a helpful approach too.

[2020-08-21 00:23] javendo commented on #81837
Have you seen the other issue I had mentioned https://github.com/kubernetes/kubernetes/issues/72102

[2020-08-21 00:40] Huang-Wei commented on #94058
The spec of node affinity looks good to me, but it does look like the scope of PodTopologySpread gets narrowed down to node `zbw-0.211`.

I've tried the steps but cannot reproduce the problem.

[code]

Also I verified it's not due to namespace "test".

[2020-08-21 00:49] eamonryan commented on #90511
/remove-lifecycle-stale

Also seeing this on aarch64 Raspbian Lite myself, it's actually a k3s install but the error is the same:
`Linux pi02 5.4.51-v8+ #1333 SMP PREEMPT Mon Aug 10 16:58:35 BST 2020 aarch64 GNU/Linux`

`Aug 20 17:44:55 pi02 k3s[13031]: E0820 17:44:55.333152   13031 machine.go:331] failed to get cache information for node 0: open /sys/devices/system/cpu/cpu0/cache: no such file or

[2020-08-21 00:50] eamonryan commented on #90511
/remove-lifecycle stale

[2020-08-21 01:09] #82378 closed

[2020-08-21 01:48] yonran commented on #72782
I ran into this bug today when I tried to find out which revision rolled out a particular `image`. Since `kubectl rollout history` does not support `-o`, you have to get this information from the ReplicaSet. Here is my command to create a table of rollout history including the `image`: `kubectl get ReplicaSet -l $(kubectl get deploy $DEPLOYMENT -o json | jq '.spec.selector.matchLabels | to_entries

[2020-08-21 02:11] spencerhance commented on #93693
Sorry for the delay.  This has been triaged.  The actual issue is that:

system:controller:glbc rbac needs patch permissions for "ingresses/status" in networking.k8s.io

I will send a PR for the fix.

[code]

/remove-triage unresolved

[2020-08-21 02:23] spencerhance commented on #93693
^ PR

[2020-08-21 02:41] Rand01ph commented on #93281
@aojea OK.Yesterday I have refactor the code to support IPv6, but I understand wrong
about consolidate the image in agnhost.

I'm sorry for not being able to help.

[https://gist.github.com/Rand01ph/b507aa543970362abaee95113667d9fe](https://gist.github.com/Rand01ph/b507aa543970362abaee95113667d9fe)

[2020-08-21 03:50] ryan-chase commented on #91064
In addition to any deprecated flags mentioned in https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#run, there is incorrect information provided for the `--restart` flag.  The page says:
The restart policy for this Pod. Legal values [Always, OnFailure, Never]. If set to 'Always' a deployment is created, if set to 'OnFailure' a job is created, if set to 'Never', a regular pod i

[2020-08-21 03:51] knight42 commented on #94058
@stevenshuang Does the other 2 nodes have taints?

[2020-08-21 03:52] feiskyer commented on #93796
@matthias50 Glad to hear the issue has been resolved. Yep, we have assumption that hostname should be the same as nodename. We added the fallback to Azure ARM API because the same function may be invoked by two component: kubelet and cloud-controller-manager. Since cloud-controller-manager is running on master nodes, it needs to invoke Azure API for getting other VMs metadata. We would resolve thi

[2020-08-21 03:52] feiskyer commented on #93796
/close

[2020-08-21 03:52] #93796 closed

[2020-08-21 03:57] prabhu43 commented on #93991
@neolit123 assigning this issue to area/kubeadm should be enough, right?
what is the reason for closing this issue and creating new issue with same content?

[2020-08-21 04:04] farah commented on #92410
Hi @daixiang0, could you please share what OS you are running this command?

If possible, the initialisation logs when you first run it would be also useful. thanks.

[2020-08-21 04:12] ppulse commented on #75870
We solve this problem by update linux kernel version to 4.15

[2020-08-21 04:42] MikeSpreitzer commented on #94022
I am confused.  Does kube-proxy read a ConfigMap?  If so, it is not documented at https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/ , and `hack/local-up-cluster.sh` does not create such a ConfigMap.

[2020-08-21 04:44] MikeSpreitzer commented on #94022
When I use `hack/local-up-cluster.sh` I find a kube-proxy process reading a config _file_.  And if I edit that file, the kube-proxy crashes after logging the following line.
[code]
So it does not look like there is a problem with kube-proxy being _aware_ of a config file change.

[2020-08-21 04:45] mariusmarais commented on #80897
@greywolve No, running everything everywhere wouldn't work for us. For ingress specifically we want only a subset of nodes to host the port.

[2020-08-21 04:58] SebastianKristof commented on #24137
`kubectl get jobs` helped me, thanks!

[2020-08-21 05:12] #69485 closed

[2020-08-21 05:13] pigletfly commented on #90376
/remove-lifecycle rotten

[2020-08-21 05:26] mailhari commented on #94106
@alculquicondor isnt it for additional schedulers? My interest is authenticating the default K8s scheduler when it calls extender.

[2020-08-21 05:30] mailhari commented on #94003
@alculquicondor we are filtering the node items (predicate) and returning it back to the scheduler. Sure, I will reach out to GKE support as well.

Also - this v1alpha2 configuration is REST API or the args to kube-scheduler startup?
https://groups.google.com/g/kubernetes-announce/c/q1dnSDtRqQI/m/4iS7pyy5CgAJ
"Scheduler Extenders can now be configured in the v1alpha2 component config (#88768, @dam

[2020-08-21 05:34] aojea commented on #94022
@MikeSpreitzer  kubeadm deploys kube-proxy in a pod and uses a configmap to store the config file
[code]
, and then, it mounts in the kube-proxy
[code]

the expectation is that if you change the configuration in the configmap, kube-proxy detects it and reloads, this does not happen today (you can follow the discussions in https://github.com/kubernetes/kubernetes/pull/86869 for more details)

Once

[2020-08-21 05:40] aojea commented on #93281
no worries, it was trickier than I thought, thanks again for your help

[2020-08-21 06:47] zerodayz commented on #94096
@martint17r @zhugejingcheng PVC size is reporting the size of the PV not the PVC itself. PVC will be bound to PVC of the same or bigger size.

For example 1 kB of PVC (vol19-1kilo-pvc) bound to 2 kB of PV(vol19), PVC will show the size of the PV instead not the PVC itself.

[code]

If your PVC is assigned to PV of 2 MB then your PVC will report 2 MB and not 1 kB

[2020-08-21 07:06] feiskyer commented on #93993
@tdihp thanks for reporting the issue, it is a bug from cloud provider. It shouldn't panic on errors.

[2020-08-21 07:07] nocanstillbb commented on #94032
![image](https://user-images.githubusercontent.com/22405678/90862359-e8126600-e3bf-11ea-9e64-83e3f157fd7c.png)
edge1 node arp was wrong after shift to ipvs mode

[2020-08-21 08:57] Pingan2017 commented on #94020
`status`  `Unknown` OR `False` means NotReady

[2020-08-21 09:20] JackieWu1219 opened #94155 "unable to sync kubernetes service: rpc error: code = Unavailable desc = transport is closing"
env:k8s(v1.16.12) in centos7.4.
when is deploy the kube-apiserver ,I get the error when i start the apiserver service,I search a lot and I didn't get the answer:
--------------------------------------------------------
E0821 17:04:40.026333   21836 controller.go:154] Unable to remove old endpoints from kubernetes service: StorageError: key not found, Code: 1, Key: /registry/masterleases/10.***.***

[2020-08-21 12:35] ScrapCodes opened #94159 "[Flaky Test][sig-storage] downward api volume / should provide container's memory limit [NodeConformance]"
**Which jobs are flaking**:
ci-kubernetes-e2e-ubuntu-gce-containerd

**Which test(s) are flaking**:

[sig-storage] downward api volume / should provide container's memory limit [NodeConformance]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd

**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-g

[2020-08-21 19:21] maxsmythe opened #94168 "patch-based (server-side-apply) and post-based Namespace creation requests to different endpoints populate different namespace attribute in AdmissionReview"
**What happened**:

It appears that validating admission requests for server-side apply are populating the `namespace` for requests to create Namespace objects.

Non server-side apply requests don't do this, and a missing namespace field is the only way to distinguish cluster-scoped resources from namespace-scoped resources. This appears to be a breaking behavioral change.

See https://github.com/

[2020-08-22 07:02] siadark opened #94175 "kubectl permission issue after old certificates expired (Error from server (Forbidden))"
**What happened:**

we used Kubernetes version 1.15 for almost a year without any issue and recently before certificates got expired we **upgrade the cluster to 1.16.12 to renew certificates** everything seems fine until old certificates expired and the kubectl commands (kubectl get pods) gives us:
 **error: You must be logged in to the server (Unauthorized)**
then we found out in [Certificate Man

[2020-08-23 12:38] khatrig opened #94181 "Support for specifying Node Maintenance Information"
**What would you like to be added**:
Option stop specify node cordon/drain reason
Eg. kubectl cordon BADNODE --comment "Node out for RAM upgrade RAM"

Then the comment can be read by running:
kubectl get BADNODE -o wide

+-----------------------------+--------+--------+------+---------+----------------+-------------+--------------------+--------------------+-------------------+--------------------

[2020-08-23 14:29] liabio opened #94183 "nodelifecycle controller does not set NoExecute taint to NotReady node when kubelet has been stopped"
**What happened**:
[code]

Nodelifecycle controller does not set NoExecute taint to NotReady node when kubelet has been stopped

**What you expected to happen**:
- effect: NoExecute
    key: node.kubernetes.io/unreachable
Nodelifecycle controller sets NoExecute taint to NotReady node when kubelet has been stopped

**How to reproduce it (as minimally and precisely as possible)**:
systemctl stop kub

[2020-08-23 15:13] hasheddan opened #94184 "[Flaky Test] integration-{master,1.19,1.18,1.17} (ci-kubernetes-integration-*)"
**Which jobs are flaking**:

`integration-{master,1.19,1.18,1.17} (ci-kubernetes-integration-*)`

**Which test(s) are flaking**:

It has been a mixed bag, some of the more common include:

`k8s.io/kubernetes/test/integration/examples.TestAggregatedAPIServer`
`k8s.io/kubernetes/test/integration/apiserver/admissionwebhook.TestWebhookAdmissionWithWatchCache`
`k8s.io/kubernetes/test/integration/apiser

[2020-08-23 17:07] uablrek commented on #94022
Ref; https://github.com/kubernetes/kubernetes/issues/57144

[2020-08-23 17:43] wingerted commented on #73570
We sloved this problem，kubelctl cache the result from apiserver but it’s really slow because it fsync everytime ! So we link .kube/cache and http_cache dir to /dev/shm .After that everything works really good!

[2020-08-23 19:03] MikeSpreitzer opened #94186 "hack/local-up-cluster.sh should allow more control over kube process configs"
**What would you like to be added**:
My most immediate problem is that I would like the option for `hack/local-up-cluster.sh` to create a kube-proxy with golang /debug/pprof (the debug profiling HTTP endpoint) enabled.  More generally, I see that the script offers no control over the kube-proxy config YAML that gets created.  It would like at least the option to enable /debug/pprof on kube-proxy,

[2020-08-23 19:35] rikatz commented on #93267
Just an update, I'm waiting for the v1.19 release to have a brand new client-go that supports the new API to start working on this (and also because the last weeks were really busy!)

[2020-08-23 19:57] hasheddan commented on #94184
Link to clustered failures shared by @liggitt in Slack: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=kubernetes-integration

[2020-08-23 22:16] #89503 closed

[2020-08-24 03:21] #27732 closed

[2020-08-24 03:21] #87867 closed

[2020-08-24 05:23] #89559 closed

[2020-08-24 06:06] wojtek-t commented on #94019
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L4569

It has LastEventTimestamp.

Basically - what you need to do, is to:
- if series is non-nil, print series timestamp
- otherwise, if lastTimestamp is non-zero, print lastTimestamp
- otherwise print EventTime

[2020-08-24 06:34] CostelLupoaie commented on #93784
Maybe I am wrong and it's just some busy waiting. In my case I noticed it when draining nodes with many pods that cannot immediately be stopped because it would break the deployments maxUnavailable limits, so kubectl has to wait until it can stop all the pods on the draining node.

[2020-08-24 06:52] rawon commented on #67014
I had this problem (using Azure) too. Apparently this is because the service principal credential is expired. If you're on Azure try this: https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-aks-cluster-with-new-service-principal-credentials

[2020-08-24 08:02] wojtek-t commented on #94141
Actually - we may consider waiting for the next release that will contain: https://github.com/etcd-io/etcd/pull/12242

[That will allow us to avoid adjusting the permissions issue we would hit.]

[2020-08-24 08:09] rxwang662001 commented on #87615
We met the same issue on 1.17.3, restarting kubelet shall solve. Any stable workaround for it or when this shall be fixed?

[2020-08-24 08:12] imalandu commented on #77508
@qiwqwq plz re-opening this issue~

[2020-08-24 08:12] ansilh commented on #67730
/remove-lifecycle stale

[2020-08-24 08:27] ryan4yin commented on #74382
same problem, seems like the same issue: https://github.com/docker/for-linux/issues/841

[2020-08-24 08:52] verb commented on #92557
Thanks @liggitt, that set me straight. I have a working fix for this now, but I'm going to make sure it's covered in the e2e tests before sending it.

re: `AdmissionReview` for `EphemeralContainers`, it was a comment you made long ago that made me think there was a requirement to the contrary, so I must have misunderstood.

[2020-08-24 09:08] somnathpawar opened #94188 ""Unable to update cni config: No networks found in /etc/cni/net.d" error seen on a worker node"
**What happened**:
My Cluster is running on EKS 1.12 version and node is at 1.10.3 version. I am trying to introduce a new node with 1.12 AMI through an existing autoscaling group. My ultimate plan is to upgrade the nodes to 1.12 version and then to attempt the cluster upgrade. But the newly launched V1.12 node is facing following errors for kubelet (journalctl -u kubelet -f) and not attaching to

[2020-08-24 09:11] fcantournet commented on #93784
In my case also this was triggered when pods couldn't be evicted immediately because of a violation of pdb.

[2020-08-24 09:48] ialidzhikov opened #94189 "Unable to resize PVC after CSI migration"
**What happened**:
I tried to resize PVC which is migrated to CSI but the operation does not succeed.

**What you expected to happen**:
I would expect to be able to resize PVC after migration.

**How to reproduce it (as minimally and precisely as possible)**:

1. Setup a kubernetes v1.17.11 cluster with in-tree volume plugins

2. Create PVC

[code]

3. Ensure that the PVC is successfully `Bound` w

[2020-08-24 09:50] ialidzhikov commented on #94189
/sig storage

[2020-08-24 09:51] ialidzhikov commented on #94189
/cc-ing @gnufied and @leakingtapan as authors (and reviewers) of https://github.com/kubernetes/kubernetes/pull/77994

[2020-08-24 09:54] sabarnwa commented on #83622
/reopen

[2020-08-24 09:55] sabarnwa commented on #83622
Is there a fix to this sceanrio?

[2020-08-24 09:57] ialidzhikov commented on #94189
As part of the CSI migration we delete the legacy in-tree `StorageClass`es and then we recreate new `StorageClass`es with the same name but using the new CSI provisioner. As far as I see, the logic in https://github.com/kubernetes/kubernetes/blob/9f2892aab98fe339f3bd70e3c470144299398ace/pkg/controller/volume/expand/expand_controller.go#L251-L276 relies that the StorageClass provisioner will be the

[2020-08-24 10:15] dignajar commented on #58908
I had the same issue, but I remember I have network policies enabled for my namespace and the traffic from outside not was allowed :D

[code]

[2020-08-24 10:53] pow-devops2020 commented on #48180
Following. Any update?

[2020-08-24 11:09] dims commented on #94029
/cc

[2020-08-24 11:29] glenjamin commented on #29789
Is this something that's blocked on a philosophical point, or does it just require someone to go write the code to make it work?

[2020-08-24 11:40] kfirfer commented on #56374
In docker-compose if I used this:
[code]
Its gives me the ability to use port 80

How could I achieve this on kubernetes ?

[2020-08-24 11:51] philios33 commented on #77629
I think this is just a quirk.  I found that if you are using a deployment, making any changes to that (even unrelated to limits) will reschedule a completely new pod and then any default limits from a new LimitRange will be used in the new pod spec.

It might also be possible that the scheduler decides to rebalance a pod on to a different node and I'm not sure if that would then also read the new

[2020-08-24 12:04] k3a commented on #56374
This is getting offtopic but to answer your question it is possible to set `--service-node-port-range` on [apiserver](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) to include lower range but it is generally not recommended and a `Service` of type `LoadBalancer` should be used instead. Even some one-node Kubernetes like [k3s](https://k3s.io) support it and there

[2020-08-24 12:29] dariuszbz commented on #39792
it would be veeeeery useful !!!! especially when migrating from old fashion app.

myservvice.public.domain.com CNAM internalkubernetesservice.namespace

so all calls from intern-k8s services goes over the internal network instead of the public endpoint.

[2020-08-24 12:32] bootc commented on #56374
https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/

[2020-08-24 12:33] miton18 opened #94191 "Use IPVS weight in proxy"
**What would you like to be added**:
Support custom weight per endpoint in IPVS rules set by kube-proxy

**Why is this needed**:
I deploy a DNS service as a daemonset, each node has his own pod.
I have a Service in from of them.
My kube-proxy is in IPVS mode.

When IPVS rules are inserted by kube-proxy, there is no weight set (all pods of all node have a weight = 1)

It can be interesting to have

[2020-08-24 12:33] #94159 closed

[2020-08-24 12:34] bootc commented on #56374
`--service-node-port-range` has nothing to do with this; it affects the range of ports that `NodePort` type `Services` can use, not the ports that processes within a pod can listen on.

[2020-08-24 12:41] ScrapCodes commented on #94159
Hi All, please forgive me, if my question is a dumb one.

Should we upgrade the runc version in go.mod as well ? I just checked it compiled ok.

[2020-08-24 12:42] miton18 commented on #94191
/sig network

[2020-08-24 12:45] liggitt commented on #94159
not for this issue, the version we have vendored already includes https://github.com/opencontainers/runc/commit/f34eb2c003f2f7c1835222d136d02b19761a7ae5:

https://github.com/kubernetes/kubernetes/blob/14a11060a0775ed609f0810898ebdbe737c59441/vendor/github.com/opencontainers/runc/libcontainer/cgroups/fscommon/fscommon.go#L23-L25

[2020-08-24 13:20] ingvagabund opened #94192 "kube-scheduler: debug plugin for reporting scheduler insights into logs"
**What would you like to be added**:
A new scheduler plugin for reporting scheduler internals such as node cache, current resource utilization, etc. into logs when scheduling.

**Why is this needed**:
When scheduling e2e tests are flaking, there's no way to know if current utilization guessed by an e2e (e.g. `[sig-scheduling] SchedulerPredicates [Serial] validates resource limits of pods that are

[2020-08-24 13:48] alculquicondor commented on #94058
Do you mind sharing the full specs of your nodes?

[2020-08-24 14:19] lvcaiping opened #94193 "what the default service account rights？"
the docs  do not detail the default service account rights，where can i get the default serviceaccount rights？

[2020-08-24 14:31] liggitt commented on #93694
do we have feedback from sig-cli whether the advertised kubectl compatibility is tested for 1.19? is this release blocking?

[2020-08-24 14:32] liggitt commented on #93295
do we have feedback from sig-windows whether this is a regression and/or is release blocking?

[2020-08-24 14:35] volnei commented on #41881
Any update here?

[2020-08-24 14:44] stevenshuang commented on #94058
@alculquicondor Here is the specific information of all nodes  [nodes.yaml](https://github.com/stevenshuang/EvenPodsSpread/blob/master/nodes.yaml)

[2020-08-24 14:47] liggitt commented on #94184
given this is across release branches, are there changes in test-infra or in CI cluster config that would explain the sudden leap?

[2020-08-24 14:51] hasheddan commented on #94184
@liggitt that was my initial inclination, I am seeing some changes to the cluster config here:
- https://github.com/kubernetes/k8s.io/pull/1169
- https://github.com/kubernetes/k8s.io/pull/1167

/cc @spiffxp @BenTheElder

[2020-08-24 14:52] alculquicondor commented on #94058
I don't see the "zone" labels. Did you remove them?

[2020-08-24 14:53] alculquicondor commented on #94058
or maybe you are using a different node affinity now?

[2020-08-24 14:59] alculquicondor commented on #94058
Also, would you mind trying 1.18.8? I'm thinking that #91601 could be related (fixed in the 1.18.7 version).

[2020-08-24 15:00] michmike commented on #93295
@jsturtevant , @adelina-t  or @marosset do you have insight to Jordan's last question?
is this a new issue or has always been there?

[2020-08-24 15:12] siadark commented on #94175
unfortunately, we ended up tear down and reinit our cluster :(( it was a real disaster.

but today I tried to find out what was the problem and I'm pretty sure I found it:
you were right about admin.conf we probably just needed to **cp /etc/kubernetes/admin.conf $HOME/.kube/config**
to do the trick as it seems that in version 1.16.12 renewing the certificates will change the certificates in admin.

[2020-08-24 15:15] andyzhangx commented on #93295
It's more like a coding issue in the test case, I have already disabled this e2e test on Windows, and there is a tracking issue to fix it: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/381

[2020-08-24 15:15] #93295 closed

[2020-08-24 15:16] stevenshuang commented on #94058
@alculquicondor I tried `kubernetes.io/hostname` label. Here is statefulset yaml [sts](https://github.com/stevenshuang/EvenPodsSpread/blob/master/sts.yaml). And i can try 1.18.8, but now my virtual machine is insufficient, the cluster is also used by others.

[2020-08-24 15:20] neolit123 commented on #94175
The output of kubeadm init does include a message that you can copy the
admin.conf to the home directory.

Thanks for confirming.

/close

[2020-08-24 15:21] #94175 closed

[2020-08-24 15:24] liggitt opened #94194 "TestRemoveContainer flakes on container log file removal"
https://github.com/kubernetes/kubernetes/pull/93333 modified container log file removal in a way that made TestRemoveContainer flaky

[code]

See https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestRemoveContainer

Note that the flake is masked by the fact that the unit test job will retry tests up to 3 times. With [that disabled](https://github.com/kubernetes/kubernetes/

[2020-08-24 15:24] liggitt commented on #94194
cc @knight42

[2020-08-24 15:27] siadark commented on #94175
right but we didn't do kubeadm init. we just upgraded the cluster and renewed certificates along the way and we didn't know that we have to recopy admin.conf.
i think its important to mention this in the output whenever certificates rerenewed like in kubeadm alpha certs renew or kubeadm upgrade apply v1.16.x --certificate-renewal=true

thanks

[2020-08-24 15:27] orirawlings commented on #91913
I also face this problem when using `kubectl get` with certain output formats:

[code]

[2020-08-24 15:34] #89143 closed

[2020-08-24 15:57] abhay-krishna commented on #90311
I will work on this issue.

[2020-08-24 15:59] khatrig commented on #94181
/sig cli

[2020-08-24 16:09] Huang-Wei commented on #94058
It looks weird. It sounds like PodTopologySpread doesn't work at all in your cluster. Did you disable the `EvenPodsSpread` feature gate on scheduler side?

[2020-08-24 16:11] neolit123 commented on #94175
kubeconfig files are credential files that must be kept up to date and distributed to the right users/folders.
if credentials are renewed they obviously need to be redistributed.

[2020-08-24 16:11] alculquicondor commented on #94058
Also, are there any other pods being scheduled in the other nodes? You could try dumping the scheduler cache:

1. Get PID of kube-scheduler: `$ pidof kube-scheduler`
1. Trigger queue dump: `$ sudo kill -SIGUSR2 <pid>`. Note this won't kill the scheduler process.
1. Then in scheduler log, search for strings "Dump of cached NodeInfo", "Dump of scheduling queue" and "cache comparer started".

[2020-08-24 16:30] mtaufen commented on #94022
Especially with a cluster-wide daemon like kube-proxy, if it's being run as a daemonset consuming this ConfigMap, and _especially_ since it seems to exit when it detects a file change, I would not recommend updating the ConfigMap in-place. If it's a bad config change, it could seriously disrupt the cluster. Instead, I would recommend creating a new ConfigMap with a different name and incrementally

[2020-08-24 16:51] neolit123 commented on #94183
/remove-sig cluster-lifecycle
/sig node

[2020-08-24 16:53] neolit123 commented on #94193
/remove-sig network
/sig auth

[2020-08-24 16:54] neolit123 commented on #94186
/remove-sig network
/sig testing

[2020-08-24 16:56] neolit123 commented on #94155
/sig api-machinery

[2020-08-24 16:57] hasheddan opened #94197 "[Flaky Test] verify-1.19 (ci-kubernetes-verify-beta)"
**Which jobs are flaking**:

`verify-1.19 (ci-kubernetes-verify-beta)`

**Which test(s) are flaking**:

`Timeout`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-1.19-blocking#verify-1.19

**Reason for failure**:

Timeout before all tests can complete. Appears to be resource contention as spikes are happening across the board, not just on a single test.

**Anything else we need to know**:

[2020-08-24 16:57] neolit123 commented on #94155
are all etcd members healthy and running?
what is the etcd version?

[2020-08-24 16:59] neolit123 commented on #94141
looks like https://github.com/etcd-io/etcd/pull/12242 merged.

[2020-08-24 17:03] neolit123 commented on #94188
hi, <1.16 is no longer supported. 1.16 will go out of support with the release of 1.19.
the errors you are seeing are probably happening due to joining a 1.12 kubelet to a 1.10 API server.
see here fore the version skew policy:
https://kubernetes.io/docs/setup/release/version-skew-policy/#kubelet

given EKS is a managed service you can try asking for help via its help panels.

we also have support

[2020-08-24 17:03] #94188 closed

[2020-08-24 17:07] swade1987 commented on #43916
This is also happening to use with ....

[code]

[2020-08-24 17:13] tnozicka commented on #91672
We talked about it at today's Sig-Apps call. The consensus was that it would be useful but not a high priority. Needs a KEP and syncing there with apimachinery for being a pod GC (it was pointed out that they claimed the ownership for the similar count based pod GC).

[2020-08-24 17:21] wenjiaswe commented on #94141
https://github.com/etcd-io/etcd/pull/12250 is the one that back ports the fix to release 3.4, once that's merged and a new 3.4.13 is released, we could use that for k8s. cc @gyuho

[2020-08-24 17:43] brettplarson opened #94198 "K8s volume mount race condition - Failed to create subPath directory for volumeMount {volume} of container {container}"
**What happened**:
I have observed a race condition / issue with multiple pods creating the same subpath volume mount on the same node.

My understanding is that if you use a volume with a subpath that doesn't exist, Kubernetes will create it.

I believe what happens if that both pods observe that the subpath needs to be created as seen here: https://github.com/kubernetes/kubernetes/blob/v1.15.11/

[2020-08-24 17:46] brettplarson commented on #94198
/sig storage

[2020-08-24 17:53] thomas-riccardi commented on #69311
`kubectl patch job the-job-to-pause -p '{"spec":{"parallelism":0}}'` seems to work.

[code]

It may do strange things around failed pods count (I see a temporary status.failed: 1 which disappears after some seconds...) and backoffLimit is thus never applied (I could get successively 7 pods with the default backoffLimit).

[2020-08-24 18:12] waynr commented on #92272
The latest patch releases are working for my team both with and without hyperkube (but we have eliminated hyperkube from our builds anyway). Because of the super janky way we were using hyperkube to run kubelet, we actually had to create our own iptables wrapper script that we would bind mount into the container since a couple of our volume mounts were totally breaking the alternatives system (we

[2020-08-24 18:25] liggitt commented on #92306
if the `Networking Granular Checks: Services should update endpoints: http` flake isn't release-blocking, this should be moved out of the milestone

The kubectl flake is known and not releaseblocking

The runc flake should be resolved by the job configuration change

[2020-08-24 18:26] sonicaj commented on #43992
@jagosan did we ended up adding support for this ? If yes, can you please point me to the direction where I could find some more information about it. I have same exact use case as of @kfox1111. Thank you

[2020-08-24 18:42] 2rs2ts commented on #85397
@xagent003 sorry for the late response. I am not using hostname override. In my case my hostnames are the EC2 private hostnames since I am using the AWS cloud provider. So something like `ip-10-42-16-100.us-west-2.compute.internal`.

@thockin can you please reopen this? Or at least explain why my examples does not, despite how I'm reading it, load balance traffic when contacting the node IP from i

[2020-08-24 18:54] hasheddan commented on #94197
/assign

[2020-08-24 18:54] hasheddan commented on #94184
/assign

[2020-08-24 18:54] liggitt commented on #94197
likely the same root cause as https://github.com/kubernetes/kubernetes/issues/94184

[2020-08-24 19:29] gyuho commented on #94141
@wenjiaswe https://github.com/etcd-io/etcd/releases/tag/v3.4.13 has been released.

[2020-08-24 19:31] ZhiFeng1993 commented on #91042
/remove-lifecycle stale

[2020-08-24 19:32] 2rs2ts commented on #53331
The `backoffLimit` definitely has helped mitigate this but my company has 768 cronjobs in one of our production clusters :) It is a not-too-uncommon occurrence that we get support requests for cronjobs that haven't fired in a while because of this bug. We're on 1.17.8 now and we still get these requests from time to time.

[2020-08-24 20:18] sonicaj commented on #43992
/reopen

[2020-08-24 20:22] kfox1111 commented on #43992
/reopen

[2020-08-24 20:28] amwat commented on #94051
fixed with: https://github.com/kubernetes/test-infra/pull/18880
https://testgrid.k8s.io/provider-gcp-periodics#Conformance%20-%20Cloud%20Provider%20GCP%20-%20master

/close

[2020-08-24 20:29] #94051 closed

[2020-08-24 20:39] #89591 closed

[2020-08-24 20:41] Jiawei0227 opened #94202 "[e2e] DynamicSnapshot option should not be in default TestPattern"
**What happened**:

In 1.19 we added a "dynamic snapshot" option to the default TestPattern.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testpatterns/testpattern.go#L113

But it is causing tests to skip for the drivers that don't support snapshots. Even though the test is not actually testing snapshot functionality. Like
`External Storage [Driver: standard-rwo] [Testpatte

[2020-08-24 20:52] msau42 commented on #94202
/assign @saikat-royc
could you help take a look at this?

[2020-08-24 20:54] sridhav opened #94203 "XSS Vulnerability with cAdvisor UI"
**What happened**:
Kubelet internally uses cAdvisor to report/expose metrics. cAdvisor UI internally uses jQuery. JQuery < 3.5.0 has an open XSS vulnerability that is reported by various vulnerability assessment engines.

Example: nessus -> https://www.tenable.com/plugins/nessus/136929

**What you expected to happen**:
UI should not have any open vulnerabilties

**How to reproduce it (as minimally

[2020-08-24 20:59] robscott commented on #91072
/remove-lifecycle stale

[2020-08-24 21:08] sridhav commented on #94203
/sig security

[2020-08-24 21:40] #80193 closed

[2020-08-24 21:52] hasheddan commented on #94197
This has been passing since rollback in https://github.com/kubernetes/k8s.io/issues/1173

/close

[2020-08-24 21:52] #94197 closed

[2020-08-24 21:52] justaugustus commented on #93694
Pinged @kubernetes/sig-cli-bugs [here](https://kubernetes.slack.com/archives/C2GL57FJ4/p1598292604022700) and [here](https://kubernetes.slack.com/archives/CN0K3TE2C/p1598305710065000?thread_ts=1598302665.062800&cid=CN0K3TE2C).

[2020-08-24 21:52] hasheddan commented on #94184
This has been passing since rollback in https://github.com/kubernetes/k8s.io/issues/1173

/close

[2020-08-24 21:52] #94184 closed

[2020-08-24 21:54] brianpursley commented on #93694
I can't answer whether this is release blocking, but I have some recent experience in the area of skew tests (https://github.com/kubernetes/kubernetes/issues/92734), so I'll add a couple pieces of information that might help:

First, I fixed some of the skew tests on the SIG-CLI dashboard last month by adding `[Deprecated]` to the test name, merging that into the Release-1.17 branch (https://githu

[2020-08-24 22:10] #94194 closed

[2020-08-24 22:40] apelisse commented on #94121
@zhouya0 Can you show me the object before you run that diff? I'm curious what the first "fieldManager" is and why it's different from "kubectl-client-side-apply". Also, did you create the object using `kubectl apply`?

[2020-08-24 22:43] apelisse commented on #94121
I figured out what the problem is in that second message: the cpu goes from an `int` to a `string`:

[code]

Note that I'm using a non-server-side capable apiserver version, but I think the problem is the same: we can't detect that this object has been changed because cpu goes from `1` to `"1"`, or from `0.5` to `"500m"` and we consider this as a change. I have no clue how to solve that "bug".

[2020-08-25 00:38] winkee01 commented on #90292
can someone address this issue?

[2020-08-25 01:07] craiglpeters commented on #58034
/milestone v1.20

[2020-08-25 01:10] craiglpeters commented on #94077
/milestone v1.20

[2020-08-25 01:18] craiglpeters commented on #86667
@sylr is this still an issue you face?

[2020-08-25 01:23] craiglpeters commented on #93277
/milestone v1.20

[2020-08-25 01:23] craiglpeters commented on #93277
/unassign

[2020-08-25 01:27] craiglpeters commented on #80488
/milestone v1.20

[2020-08-25 01:31] stevenshuang commented on #94058
@Huang-Wei I didn't disable `EvenPodsSpread` feature, and try add `EvenPodsSpread` for api-server and scheduler.
@alculquicondor Yes, there are pods in other nodes, I will try dump the scheduler cache, thanks!

[2020-08-25 01:35] hasheddan commented on #93688
@dashpole any status update here? Can we bump this to v1.20 milestone?

[2020-08-25 01:35] craiglpeters commented on #93277
/unassign @zhouya0

[2020-08-25 01:36] hasheddan commented on #93693
@spencerhance can we close this out with #94166

[2020-08-25 01:39] liggitt commented on #93693
Yes, latest run was green: https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e&width=20

[2020-08-25 01:44] #93496 closed

[2020-08-25 01:50] tdwyer commented on #94193
I agree this should be documented.

However, any documented rules would not necessarily match the rules in your cluster because of old polices not being changed by upgrades.

Run these 2 commands to get the list of all RBAC Policies

[code]

Then, use these commands to review the Policies which are actually being used in your cluster.

[code]
[code]

[2020-08-25 02:06] JackieWu1219 commented on #94155
thanks for your reply.
I deploy 3 nodes etcd, and get the etcd status is healthy.
my etcd version is v3.3.23

[2020-08-25 02:13] JackieWu1219 commented on #94155
now ,I change the version of k8s to v1.18.6 ,and change the version of etcd to v3.4.10
I deploy the k8s cluster  seems  normal.
Some k8s version is not compatible with  etcd version ??

[2020-08-25 04:40] shanmukha511 opened #94212 "How to get gke node reboot/shutdown logs using Systemd service"
**What happened**:

Actually i want to use logs and check whether system got reboot and shutdown and we dont access to gke node so what we doing is we sending journald service systemd units logs to splunk so that can we can check any reboots and shutdown there.
but we are sending some service logs like kubelet,docker etc but we could not see any logs related to reboot.
Is there any way to find wha

[2020-08-25 04:44] shanmukha511 commented on #94212
sig/node

[2020-08-25 05:17] skashyap7 commented on #92460
We are seeing similar issue on Kubernetes v1.16.3

[2020-08-25 05:24] liggitt commented on #94193
From https://kubernetes.io/docs/reference/access-authn-authz/rbac/#service-account-permissions

[2020-08-25 05:24] #94193 closed

[2020-08-25 07:03] andyzhangx opened #94213 "SMB mount does not work on containerd on Windows"
**What happened**:
Deploy a Windows cluster with containerd configured, SMB mount does not work by trying following project:
 - https://github.com/kubernetes-csi/csi-driver-smb
 - https://github.com/kubernetes-sigs/azurefile-csi-driver

It reports following error:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2020-08-25 07:31] jiaozg22 commented on #49612
I use version 1.18，it happened the same error.

 `Log file created at: 2020/08/25 15:01:06
Running on machine: k8s-master
Binary: Built with gc go1.13.4 for linux/arm64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
E0825 15:01:06.293363    4348 core.go:89] Failed to start service controller: WARNING: no cloud provider provided, services of type LoadBalancer will fail
E0825 15

[2020-08-25 08:19] somnathpawar opened #94215 ""Zone not specified in configuration file; querying AWS metadata service" error while launching worker node"
While launching a eks 1.12 node through a Autoscaling group and with `/etc/eks/bootstrap.sh` user data, facing following errors on the node instance.

Aug 25 07:14:00  kubelet[13252]: I0825 07:14:00.897002   13252 server.go:408] Version: v1.12.10-eks-aae39f
Aug 25 07:14:00 kubelet[13252]: I0825 07:14:00.897399   13252 aws.go:1020] Zone not specified in configuration file; querying AWS metadata ser

[2020-08-25 08:25] prco5 opened #94216 "Init:CrashLoopBackOff"
Hello, im having issues with pode going immediately in crashloopBackoff state.

![Capture](https://user-images.githubusercontent.com/68184994/91149656-a2091b00-e6bb-11ea-8fa6-95c43e3e0814.PNG)

Kubectl describe po -n <namespace>

Init Containers:
  init:
    Container ID:   docker://f2fd33030980aaed48a66b10ff828dfaa835acf64d73c1a01dd89c29136c508b
    Image:          494141260463.dkr.ecr.us-east-1.

[2020-08-25 08:33] pohly opened #94217 "late binding volume binding + multiple volumes"
**What happened**:

The `WaitForFirstConsumer` (= late binding) volume binding mode is supposed to ensure that volumes gets created in a topology that is accessible by the node on which a pod is about to start. This can fail when there are multiple volumes involved:
- first volume gets created
- second volume creation fails, for example because there is not enough space in the accessible topology

[2020-08-25 08:37] CostelLupoaie commented on #93784
`kubectl rollout status deployment` does not lead to high cpu usage in my case, so I suspect it has nothing to do with IAM/GKE auth, but with evictions failing because of pdb (but I am not experienced enough to know kubectl works in the background).

[2020-08-25 08:37] pohly commented on #90304
The new storage capacity tracking alpha feature is known to be affected by a limitation of the `WaitForFirstConsumer` volume binding mode: https://github.com/kubernetes/kubernetes/issues/94217

This is mentioned in the documentation of the feature (https://github.com/kubernetes/website/pull/21634#discussion_r454631648), but it may be worth calling out also as a known issue in the release notes.

[2020-08-25 08:59] yuguorui commented on #59110
In fact, there is currently no available public API in k8s to find the device corresponding to a pod. You can find the type of device a pod needs, but you can't find which device it is.

[2020-08-25 09:16] Baykonur commented on #90814
/remove-lifecycle stale

[2020-08-25 09:27] smartxff commented on #93297
I install linux-5.9-rc2 in centos7. set /proc/sys/net/ipv4/vs/conn_reuse_mode = 1
i have three service: service-a ---> service-b --> service-c     in k8s.
service-c return "helloworld"

I use ab to benchmark service-a.
`
[root@i-7ed5dffp ~]# ab -n 10000 -c 1000 http://172.17.2.66:36010/
This is ApacheBench, Version 2.3 <$Revision: 1430300 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://w

[2020-08-25 09:46] happywzy opened #94218 "make error - missing separator. Stop."
git the latest project.
[code]
how to solve? thanks.

[2020-08-25 10:47] ritheshgm commented on #57726
Was there any update on that, I was trying to use the env variable from my worker node, When I tried to use that env in POD yaml it just proving the string not the actual value as shown below.

apiVersion: v1
kind: Pod
metadata:
  name: test-1
spec:
  containers:
  - name: test-container
    image: k8s.gcr.io/busybox
    command: [ "sh", "-c"]
    args:
    - while true; do
      echo -en '\n';

[2020-08-25 12:17] k-wiatrzyk opened #94220 "App Containers can't inherit Init Containers CPUs - CPU Manager Static Policy"
**What happened**:.
CPU Manager was configured with static policy.
AppContainer couldn't be placed on the same NUMA node as InitContainer, thus couldn't inherit CPUs used by InitContainer, so it ended up with multi NUMA locality hint generated (ex. [11-false]). This can cause a pod rejection, depending on Topology Manager policy.

**What you expected to happen**:
AppContainer to be placed on the s

[2020-08-25 12:18] k-wiatrzyk commented on #94220
/sig node

[2020-08-25 12:25] k-wiatrzyk commented on #94220
Test case presenting the issue: https://github.com/k-wiatrzyk/kubernetes/commit/2bb58c18c1f1771ab995181bb8c3083c5346d43b

Explanation:
"_In this test case, it looks like CPUs 0 and 1 are not available for use (leaving 4 CPUs available for use on NUMA node 0, and 6 available for use on  NUMA node 1). The init container will likely get CPU 6 allocated to it, and then we will attempt to reuse that CP

[2020-08-25 12:28] k-wiatrzyk commented on #94220
/assign klueska

[2020-08-25 12:33] imabhinav commented on #63128
I got the same issue on our self-hosted cluster and found that admin.conf and .kube/config files were not matching in the keys client-certificate-data and client-key-data.
Try the below steps:
kubectl get po --kubeconfig=~/.kube/config(not working)
kubectl get po --kubeconfig=/etc/kubernetes/admin.conf (working)

Copied and pasted the admin.conf client-certificate-data and client-key-data to .kube

[2020-08-25 12:51] ScrapCodes opened #94221 "[Flaky Test] [sig-storage] In-tree Volumes [Driver: gluster] subPath should support file as subpath [LinuxOnly]"
**Which jobs are flaking**:
ci-kubernetes-e2e-ubuntu-gce-containerd

**Which test(s) are flaking**:

[sig-storage] In-tree Volumes [Driver: gluster] [Testpattern: Pre-provisioned PV (default fs)] subPath should support file as subpath [LinuxOnly]

**Testgrid link**:

**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/129801162445134

[2020-08-25 12:52] ScrapCodes commented on #94221
/sig storage

[2020-08-25 13:25] calind opened #94222 "Use the apiserver as a standalone application server"
The kube-apiserver is a very well designed application server. It has a lot of great features already built-in, like authentication, authorization, quotas, multi-tenancy (namespaces), pluggability (webhooks), a way to define resources/subresources (CRD), resource watches, API request limiting and these are only the things from the top of my head.

These are killer features that many applications w

[2020-08-25 13:27] neolit123 commented on #94222
/sig api-machinery

[2020-08-25 13:29] liggitt commented on #94221
The namespace terminating during test setup is super strange but seems like a test-only issue, not an issue with the functionality being tested. I'd recommend looking at the test, API server, and controller logs to figure out why the test namespace (`provisioning-9612`) was deleted and who deleted it

[2020-08-25 13:32] bitglue commented on #43916
Please do not use this issue as a catch-all for every kind of memory problem that might be encountered while running Kubernetes. While some kernels have bugs in cgroup accounting, this issue is not about that. Read the issue description carefully:

Take note: **A pod was evicted due to memory pressure on the node**. If you are experiencing OOM kills, where the kernel kills the process and "oom-kil

[2020-08-25 13:32] neolit123 commented on #94218
i don't see this problem.

what is the output of the follow commands?
[code]
also what shell are you using and what is its version?

/sig release

[2020-08-25 13:35] neolit123 commented on #94216
hi, please try the support channels for general help / questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/remove-kind bug
/triage support
/close

[2020-08-25 13:35] #94216 closed

[2020-08-25 13:36] neolit123 commented on #94216
/remove-kind failing-test

[2020-08-25 13:37] alculquicondor commented on #94058
Are you using component config? If so, could you share it?

[2020-08-25 13:38] neolit123 commented on #94212
hi, this seems like a request for help for the GKE platform.
we try to delegate to such requests for managed solutions to their respective help desks - e.g.:
https://cloud.google.com/kubernetes-engine/docs/support

thanks
/close
/triage support
/remove-kind bug

[2020-08-25 13:38] #94212 closed

[2020-08-25 13:40] neolit123 commented on #94203
/sig node

is this problem present in version 1.16 or newer based on the cadvisor version their include?
1.15 is out of support by the k8s team so if this is already solve in newer versions, this ticket should be closed.

/assign @dashpole
please take a look.

[2020-08-25 13:50] hasheddan opened #94223 "[Flaky Test] [k8s.io] MirrorPodWithGracePeriod when create a mirror pod mirror pod termination should satisfy grace period when static pod is deleted [NodeConformance]"
**Which jobs are flaking**:

`node-kubelet-master (ci-kubernetes-node-kubelet)`

**Which test(s) are flaking**:

`[k8s.io] MirrorPodWithGracePeriod when create a mirror pod mirror pod termination should satisfy grace period when static pod is deleted [NodeConformance]`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

**Reason for failure**:

[code]

**A

[2020-08-25 13:59] RobertKielty opened #94224 "[Flaky Test][sig-storage] Subpath Container restart should verify that container can restart successfully after configmaps modified"
**Which jobs are flaking**:
sig-release-master-blocking#kind-ipv6-master-parallel
**Which test(s) are flaking**:
E2E: [sig-storage] Subpath Container restart should verify that container can restart successfully after configmaps modified
**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#kind-ipv6-master-parallel
**Reason for failure**:
test/e2e/storage/subpath.go:131

[2020-08-25 14:24] jcmcken commented on #74099
Also seeing this issue in Kubernetes 1.17

[2020-08-25 14:24] neolit123 commented on #94224
/sig storage

[2020-08-25 14:33] ingvagabund commented on #94019
It's not just about internal printers. Also, when e.g. a pod is described, you get the following:
[code]

`k8s.io/kubectl/pkg/describe` has `DescribeEvents` functions that takes `corev1.EventList` which does not go through the internal printer. So, the fix needs to be duplicated in `DescribeEvents` as well.

[2020-08-25 14:35] andrei-dascalu commented on #69697
same issue, had to manually remove `- kubernetes.io/pv-protection` to have the PV's deleted. This happened with AKS on k8s 1.17.9

[2020-08-25 14:38] sjenning commented on #94223
/assign

[2020-08-25 14:48] ingvagabund commented on #94019
Fixed in 1.19 through https://github.com/kubernetes/kubernetes/pull/90227

[2020-08-25 14:50] sjenning commented on #94223
History of this failure

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=MirrorPodWithGracePeriod

Looking at the code for this test, it isn't a flake as much as a continued bug in the kubelet with removing mirror pods too early.  In other words, the test is catching the case for which it is designed.

[2020-08-25 14:51] stevenshuang commented on #94058
@alculquicondor @Huang-Wei @knight42 First of all thanks for your help, The `EvenPodSpread`feature is not working because i used the wrong `kubeadm`. The `kubeadm` I used was modified by my colleague, it was disabled. I tried it on this website [play-with-k8s](https://labs.play-with-k8s.com/), it can work. I am very sorry for the trouble caused to you, and this issue can be closed.

[2020-08-25 14:51] #94058 closed

[2020-08-25 15:06] pablitoergosum commented on #94220
I refactored above TC and managed to include it into ``TestGetTopologyHints`` function: [test case](https://github.com/k-wiatrzyk/kubernetes/commit/63925565fc871ae7a84420120196df1bd19f80ad)
This is only indicator of unwanted funcionality for now, so it fails. It will pass, when solution to the issue is implemented.

[2020-08-25 15:10] dims commented on #94223
@sjenning sounds like NOT a blocker for 1.19.0 :)

[2020-08-25 15:11] sjenning commented on #94223
Yes @dims, not a blocker.

Looking at the logs
[code]
Deletion of the mirror pod occurs <1s after the file-based DELETE comes in.

[2020-08-25 15:12] hasheddan commented on #94223
I am going to go ahead and bump to v1.20 then :)

/milestone v1.20

[2020-08-25 15:13] sjenning commented on #94223
also see previous bug caught by this test https://github.com/kubernetes/kubernetes/issues/93210
fyi @liggitt

[2020-08-25 15:17] dims commented on #94221
[code]

[2020-08-25 15:20] marosset commented on #94213
/cc

[2020-08-25 15:23] dims commented on #94221
feels like a test only problem like @liggitt said. We don't even have gluster in our CI/prow to test against...

cc @msau42 @xing-yang

Michelle, Xing, Can you please confirm that this is not a blocker for 1.19.0?

[2020-08-25 15:24] liggitt commented on #94221
Knowing the timeframe for when the test started and when that delete happened would be interesting to know. Possibilities I can see:
* something in the test timed out, and the cleanup happened in parallel with something in the test attempting to run
* multiple tests are reusing the same test context and namespace (I can never keep straight how ginkgo parallel tests work)

[2020-08-25 15:30] xing-yang commented on #94221
@dims This does not look like a blocker for 1.19.0.

[2020-08-25 15:33] hasheddan commented on #94221
Thanks @xing-yang!

/milestone v1.20

[2020-08-25 15:33] dims commented on #94221
@liggitt looking at the logs it seems to be the latter "same test context and namespace name at the same time", but we can deal with this for 1.19.1

[2020-08-25 15:39] andrewschmidt-a commented on #70147
We are following this discussion to as we have a need to share secrets.

[2020-08-25 15:43] derekwaynecarr commented on #94223
i feel like we should add more depth to how we check if the mirror pod containers are running beyond looking at pod phase.

will open some additional prs to help get more debug data.

[2020-08-25 15:43] jayunit100 opened #94227 "example_cluster_dns.go relies on GOPATH, examples/ files"
**What happened**:

We've been doing some release readiness and auditing all `sig-network` tagged ginkgo tests...  Looks like The example_cluster_dns.go test seems to expect a GOPATH when running.  Im seeing some failures in sonobuoy and suspect a possible relation there but havent dove into it.

Either way, its clear this test might need some updating/fixing/cleanuping and parts can be rewritten/

[2020-08-25 15:43] jayunit100 commented on #94227
/sig network

[2020-08-25 15:43] jayunit100 commented on #94227
/assign

[2020-08-25 15:55] derekwaynecarr commented on #94223
the more i look at the log, the more i feel like there is a bug this exposes for when we report phase=running.

[2020-08-25 16:04] asauber commented on #60535
Happy to report that injecting the relevant environment variables via a Mutating Admission Webhook does the trick. All controllers and operators that I use have been able to use `KUBERNETES_SERVICE_HOST` as a hostname.

However this seems like quite a hack, and I would prefer that ExternalName services have this behavior.

[2020-08-25 16:06] Huang-Wei commented on #94058
Bingo, that's why I suspected it was disabled https://github.com/kubernetes/kubernetes/issues/94058#issuecomment-679221760.

[2020-08-25 16:08] hasheddan commented on #94224
@xing-yang could you take a look here as well?

[2020-08-25 16:10] hasheddan commented on #94223
@derekwaynecarr would you consider this bug release blocking?

[2020-08-25 16:17] hasheddan opened #94230 "[Flaky Test] [sig-scheduling] k8s.io/kubernetes/test/integration/scheduler.TestPostFilterPlugin"
**Which jobs are flaking**:

`integration-master (ci-kubernetes-integration-master )`

**Which test(s) are flaking**:

`k8s.io/kubernetes/test/integration/scheduler.TestPostFilterPlugin`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#integration-master

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal @kubernetes/sig-schedulin

[2020-08-25 16:21] msau42 commented on #94221
cc @gnufied @Jiawei0227
This looks like another instance of "the same test namespace is being reused". I believe @Jiawei0227 had a mitigation for that to try to make the namespaces more unique.

[2020-08-25 16:22] msau42 commented on #94221
(btw, the test brings up a containerized gluster server so we are exercising gluster functionality)

[2020-08-25 16:32] derekwaynecarr commented on #94223
@hasheddan no, i think the more likely outcome is that the test is looking at pod phase running which is not always a good thing to look at because a pod can be running even if some of its containers are in an unknown state.  definitely not a blocker.

[2020-08-25 16:37] iqbalhusen commented on #33777
For me, creating all the deployments and services in a different namespace (other than `default`) fixed this issue.

[2020-08-25 16:42] Huang-Wei commented on #94230
@hasheddan thanks for raising this up. I think this is not a releasing blocking flake, but still a flake that can happen with rare chances.

The logs says:

[code]

This implies the integration test env is not prepared well - the (virtual) nodes are not ready - and then we proceed with the testing logic. A simple fix will be to add logic to ensure all (virtual) nodes to become available, and the l

[2020-08-25 16:43] hasheddan commented on #94230
Thanks @Huang-Wei!

/milestone v1.20

[2020-08-25 16:55] Jiawei0227 commented on #94221
Yeah, looking at the build log found that it is the same issue as #93749
The issue is still around the double deletion of namespace, i.e. we delete the test namespace during the test execution, but later on the `AfterEach` call we delete the namespace again to ensure it truly get cleaned up. But unfortunately, this namespace has been reused by another test case between this gap.

[2020-08-25 17:13] Jiawei0227 commented on #94221
Some potential fix I can think of:
1. Since deletion of the primary namespace twice is inevitable, maybe we should consider generate primary namespace based on a hashing of the test cases name?
2. Extends the 4 digits random namespace to 6, this should not solve the problem in nature but it will extremely decrease the chance it happens.
3. Consider using a in-memory namespace map to keep record of

[2020-08-25 17:32] puerco commented on #94217
Hey @pohly  thanks for sharing this issue. I managed to slip it in at the last moment and it will be included in the final version of the notes.

[2020-08-25 18:02] msau42 commented on #94221
@Jiawei0227 do you know if this gluster test is using your mitigation in #93869?

[2020-08-25 18:12] ecda909 commented on #93129
@knight42 Just tracking this issue and wondering if the failed checks on the PR are being addressed?

[2020-08-25 18:15] msau42 commented on #94221
1. A hash of the testcase name + random suffix (because tests can be run multiple times) seems like a good way to mitigate the chances of tests reusing the same namespace. I'm unsure if we know the test case name at the time of test namespace creation though.

2. Otherwise I think increasing the length of the random suffix is a quick and easy mitigation

3. I believe ginkgo [spawns multiple proces

[2020-08-25 18:16] Jiawei0227 commented on #94221
Yes it is. But my fix in #93869 can only reduce the chance of collision and probably improve readability of logs. But not to eliminate this issue in nature.

[2020-08-25 18:17] xing-yang commented on #94224
I see the following in the logs.
[code]

This looks like a similar issue we see in this other issue: https://github.com/kubernetes/kubernetes/issues/94221

[2020-08-25 18:18] xing-yang commented on #94224
CC @msau42

[2020-08-25 18:19] msau42 commented on #94224
Yes sounds like the duplicate test namespace issue

[2020-08-25 18:22] xing-yang commented on #94224
This should not be a blocker for v1.19.

[2020-08-25 18:24] neolit123 commented on #94227
the YAML files are pretty small, so +1 to embed them in example_cluster_dns.go.
i don't think testing the YAML from the separate repository (k8s.io/examples) directly is required here.

ref
https://github.com/kubernetes/examples/tree/master/staging/cluster-dns
https://github.com/kubernetes/kubernetes/blob/09d6512ed31943c1120b4c4970e878e494706f0e/test/e2e/network/example_cluster_dns.go#L66-L83

/he

[2020-08-25 18:25] hasheddan commented on #94224
Thank you so much @xing-yang!

/milestone v1.20

[2020-08-25 18:29] ksanchez15 commented on #33777
I'm trying to install ElasticSearch on my AKS cluster using helm. I get an error telling me there isn't enough cpu. I have prometheus on my cluster but there are no spikes in cpu that would go close to 100%.

Could someone help me understand the output of `kubectl describe node`? What is the relationship between requests and limits, what should the numbers look like?

[2020-08-25 18:32] justaugustus commented on #93694
/assign
(to help with looking at the version markers)

/milestone v1.20

[2020-08-25 18:33] justaugustus commented on #93688
Moving this to v1.20
/milestone v1.20

[2020-08-25 18:33] Jiawei0227 commented on #94224
I checked the log and it does not seems like the same issue with #94221

The namespace generated for this test failed test is "subpath-2114". And by searching in the build log, I dont find any other tests are using the same name.

[2020-08-25 18:36] gnufied commented on #94221
AFAICT https://github.com/kubernetes/kubernetes/pull/93869 does not affect intree code at all, because it only fixes namespace of driver.  If we are seeing collision of primary namespace for intree code then it is a different problem.

[2020-08-25 18:49] puerco commented on #90304
@pohly as noted on your issue, we added a Known Issue to the final v1.19 release notes. Thanks for your feedback!

[2020-08-25 18:51] puerco commented on #90304
All known Issues are now merged in the final Release Notes for Kubernetes v1.19:
https://github.com/kubernetes/sig-release/pull/1193

Closing
/close

[2020-08-25 18:51] #90304 closed

[2020-08-25 18:53] Jiawei0227 commented on #94221
1. Fix on #93869 only deals with the collision between test namespace and driver namespace. And that fix is taking affect.
2. This failure is because a test namespace collides with another test namespace. And this is not related to in-tree code at all. Any test could potentially become flaky because their namespace can be deleted during test execution. It's just happens to be this intree test this

[2020-08-25 19:27] RenaudWasTaken commented on #59110
@yuguorui you should look at the podresources gRPC API, I'm pretty sure it does what you are looking for :) !

[2020-08-25 20:05] neolit123 commented on #94227
/remove-help

[2020-08-25 20:19] fedebongio commented on #94155
/assign @jingyih

[2020-08-25 20:20] fedebongio commented on #94168
/assign @apelisse

[2020-08-25 20:21] fedebongio commented on #94222
/assign @lavalamp
I'm sure you are interested in this topic :)

[2020-08-25 20:55] HighwayofLife commented on #60538
This does not seem fixed, I ran into this problem on a 1.17.6 cluster.

[2020-08-25 21:29] liggitt commented on #60538
I just verified it works properly on a 1.17.6 cluster. To be clear, a finalizer on a custom resource instance will keep the CRD from being deleted, which is working as intended. Whatever is responsible for finalizing the custom resource instances must remove the finalizer.

This issue was reporting that attempting to remove the finalizer on the custom resource instance was disallowed while the CRD

[2020-08-25 21:31] liggitt commented on #94203
kubernetes does not include the vulnerable files

* 1.16 used [v0.34.0](https://github.com/kubernetes/kubernetes/blob/release-1.16/go.mod#L69)
  * The vulnerable files are in https://github.com/google/cadvisor/tree/v0.34.0/pages
  * Kubernetes does not include the pages package: https://github.com/kubernetes/kubernetes/tree/release-1.16/vendor/github.com/google/cadvisor
* 1.17 used [v0.35.0](https

[2020-08-25 21:31] #94203 closed

[2020-08-25 22:25] julianvmodesto commented on #90017
Fixed by @brianpursley!

/close

[2020-08-25 22:26] #90017 closed

[2020-08-25 22:51] Alphasite commented on #94227
/assign

[2020-08-25 23:03] datavisorerzuozhou opened #94234 "Got "Failed to get AWS Cloud Provider. GetCloudProvider returned <nil> instead" when specifying --cloud-provider=external options"
**What happened**:
Create an ebs volume and trying to attach it to statefulset, but the pod event keeps warning
[code]

**What you expected to happen**:
Volume successfully attached

**How to reproduce it (as minimally and precisely as possible)**:
Specifying awsElasticBlockStore in volume field

**Anything else we need to know?**:
My statefulset yaml file:
[code]

cloud-provider-aws version: v1.1

[2020-08-25 23:20] datavisorerzuozhou commented on #94234
/sig cloud-provider
/sig storage

[2020-08-25 23:41] lavalamp commented on #94222
Flattery will get you everywhere ;)

More seriously, you can't *just* run the aggregator and the extensions (CRD) apiserver. You definitely need some built ins: Namespaces, maybe secrets, service accounts, RBAC roles... Services and APIServices... Webhook config...

You can turn off individual APIs with the --runtime-config flag. I think things should continue to function if you turn off nodes, po

[2020-08-25 23:42] liggitt commented on #94222
I thought that only worked down to the resource level for the extensions/v1beta1 API group, and was limited to the API group/version otherwise

[2020-08-25 23:44] Ark-kun commented on #34146
The issue might have been fixed in go-yaml v3: https://github.com/go-yaml/yaml/issues/214#issuecomment-668402447

[2020-08-25 23:50] lavalamp commented on #94222
Oh, you're probably right. Sigh, I've gotten this wrong before.

I think I'm amenable to changes that enable turning stuff off. But rather than fixing the flag, which has a horrible format (undiscoverable and super confusing), we should come up with something else.

[2020-08-25 23:52] lavalamp commented on #94222
Group/version probably is the right level for enabling/disabling. The problem is that the core group has a bunch of different sorts of resources.

[2020-08-25 23:56] glenraynor commented on #32457
kubernetes has a means of defining namespaced per pod sysctl settings in the YAML for the deployed pod. So that we can put the recommended tcp keepalive settings,  `sudo /sbin/sysctl -w net.ipv4.tcp_keepalive_time=60 net.ipv4.tcp_keepalive_intvl=60 net.ipv4.tcp_keepalive_probes=5` , into the Pod’s YAML configuration. Note this is in the Pod not Service YAML, with this new section detailed in https

[2020-08-26 01:13] happywzy commented on #94218
I'm using docker compiler environment with the image `mirrorgooglecontainers/kube-cross:v1.12.10-1`.
[code]

[2020-08-26 01:17] neolit123 commented on #94218
try a newer version of kube-cross. latest one at GCR is at v1.13.6-1.
also what output do you get from `make -d`?

[2020-08-26 01:21] happywzy commented on #94218
[code]

I'm trying `v1.13.6-1`

[2020-08-26 01:24] jingxu97 opened #94237 "agnhost image mounttest does not work well on Windows"
On a K8s Windows cluster, try to run container with agnhost image with following yaml file but failed

[code]
Seems like --file_mode does not work well.
[code]

Windows Server 2019

[2020-08-26 01:25] happywzy commented on #94218
`gcrcontainer/kube-cross:v1.13.6-1`, same error, same output.

[2020-08-26 01:51] neolit123 commented on #94218
this error usually comes when a rule is not prefixed with tab characters.
but given you are cloning the repository without modifications, i have no explanation.

[2020-08-26 02:04] happywzy commented on #94218
thank you

[2020-08-26 02:04] #94218 closed

[2020-08-26 02:57] andyzhangx opened #94240 "write unit tests for azure_storageaccount.go"
**What would you like to be added**:

`getStorageAccounts` and `EnsureStorageAccount` functions need unit tests
https://github.com/kubernetes/kubernetes/blob/8c9d4def18019f3b39305fa83eddedd9f2bc930a/staging/src/k8s.io/legacy-cloud-providers/azure/azure_storageaccount.go#L43

**Why is this needed**:

/kind test
/sig cloud-provider
/area provider/azure

/assign

[2020-08-26 03:00] andyzhangx commented on #94240
related to https://github.com/kubernetes/kubernetes/pull/94239

[2020-08-26 05:19] nicktming opened #94245 "many evicted pods produced repeatedly under disk pressure"
**What happened**:
when a node got disk pressure condition, and a deployment(replicas:1) is deployed to this node using nodename/nodeselector, it will produce many evicted pods until removing this deployment.

**What you expected to happen**:
it should not produce some evicted pods

**How to reproduce it (as minimally and precisely as possible)**:
1. using eviction-hard flag to make a node under d

[2020-08-26 05:28] nicktming commented on #94245
/sig Cluster Lifecycle

[2020-08-26 05:30] nicktming commented on #94245
/sig cluster-lifecycle

[2020-08-26 05:37] ronaldpetty commented on #41638
k8s 1.17 via eks as well

[2020-08-26 05:46] xenoterracide commented on #25829
HEALTHCHECK has been supported for years now... seems redundant to have a liveness check in my pod file and in my dockerfile.

[2020-08-26 06:24] quanbisen commented on #74340
This seems work for me. I had changed the fie `/etc/kubernetes/manifests/kube-controller-manager.yaml`, added `--leader-elect-lease-duration=30s` and `--leader-elect-renew-deadline=20s` below `- kube-controller-manager` args.

[2020-08-26 06:25] pohly commented on #91155
/remove-lifecycle stale

[2020-08-26 06:40] knight42 commented on #94221
/assign

I would like to give it a shot.

[2020-08-26 07:23] knight42 commented on #94221
I' ve opened #94247 to address this issue.

[2020-08-26 07:51] anguslees commented on #60690
Grumble, grumble.  I note there's now a chapter in the kubebuilder docs detailing the steps required to workaround this issue :(
 https://book.kubebuilder.io/cronjob-tutorial/cert-manager.html

[2020-08-26 08:13] ScrapCodes opened #94248 "[Flaky Test] [sig-cli] Kubectl client Simple pod should support inline execution and attach"
**Which jobs are flaking**:
ci-kubernetes-e2e-ubuntu-gce-containerd

**Which test(s) are flaking**:
[sig-cli] Kubectl client Simple pod should support inline execution and attach

**Testgrid link**:
https://testgrid.k8s.io/google-gce#gce-ubuntu-master-containerd
**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1297707120006795264

[2020-08-26 08:13] ScrapCodes commented on #94248
/sig cli

[2020-08-26 08:34] d270624 opened #94249 "How do I add net.core.somaxconn to the whitelist?"
I'm trying to execute on the node `kubelet --allowed-unsafe-sysctls   'net.core.somaxconn'`

but return `Flag --allowed-unsafe-sysctls has been deprecated, This parameter should be set via the config file specified by the Kubelet's --config flag. See https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ for more information.`

I also tried using PodSecurityPolicy, but it still d

[2020-08-26 08:45] saschagrunert commented on #94141
How do we want to handle this? Kubernetes v1.19.0 will still contain etc client/server v3.4.9, but I think we should update ASAP, right?

[2020-08-26 08:48] BenTheElder commented on #94141
3.4.12 client* already https://github.com/kubernetes/kubernetes/pull/94105/

On Wed, Aug 26, 2020 at 1:45 AM Sascha Grunert <notifications@github.com>
wrote:

[2020-08-26 08:51] ialidzhikov commented on #90512
I also observe the issue. Using the script to reproduce against minikube v1.18.5, all svcs hang in deletion:
[code]

/remove lifecycle/state

[2020-08-26 08:53] ialidzhikov commented on #90512
I would also put `kind/regression` as it is something that works perfectly fine with v1.16.10 for example.

/remove-lifecycle stale

[2020-08-26 09:05] gongguan commented on #94245
`nodeName` would caused kubelet and controller-manager fight heavily(scheduler won't schedule it), use `nodeAffinity` please, see https://github.com/kubernetes/kubernetes/pull/92966#issuecomment-674809233

[2020-08-26 09:27] gongguan commented on #94245
/remove-sig cluster-lifecycle
/sig apps

[2020-08-26 09:44] Aaron-23 opened #94250 "Changing server host time after installing k8s cluster can cause problems"
I have a k8s cluster, and the installation time is 1 day faster than the actual time. I want to change the time to the correct time after deploying my business, but the cluster has problems after I am finished. How can I change it correctly? Adjust my server time after installation of k8s cluster？

[2020-08-26 09:47] Aaron-23 commented on #94250
/sig Cluster Lifecycle

[2020-08-26 09:49] Aaron-23 commented on #94250
/sig cluster-lifecycle

[2020-08-26 09:55] jpmsilva commented on #94121
Hi @apelisse

The test you made is comparing the local yaml against the version the apiserver currently has, correct?

That would be similar to running the diff with the option to run server side, which I think yields a suspiciously similar result:

[code]

I also suspect that it is for this reason that if I run the apply command with the dry-run flag, we always get incoming changes to apply:
[cod

[2020-08-26 11:37] waisbrot commented on #34146
Reading that comment thread I don't see any fix to the issues here. The v3 README gives a more detailed description:

That still looks very muddy to me. If I'm trying to generate YAML to be consumed by Kubernetes, do I target 1.1 or 1.2? If I'm trying to parse it do I want 1.1 or 1.2?

[2020-08-26 11:56] cpxPratik commented on #87634
/remove-lifecycle rotten

[2020-08-26 11:59] thomas-riccardi commented on #34146
A non breaking change for kubernetes could be to start supporting YAML 1.2 explicitly (last time I checked it rejected `%YAML 1.2` headers), and really support strict YAML 1.2 there, somehow. Alas go-yaml even v3 doesn't seem to support strict yaml 1.2...

Worse, if kubernetes accidentally accepts `%YAML 1.2` header without properly supporting yaml 1.2 we will be stuck with the broken thing, or a

[2020-08-26 12:01] SeMeKh commented on #90464
I'd like to give this one a try. Can someone please point me in the right direction?

[2020-08-26 12:06] ingvagabund commented on #94019
Fixes for the internal printer are already merged in master:
- lastTimestamp: https://github.com/kubernetes/kubernetes/pull/86557
- firstTimestamp: https://github.com/kubernetes/kubernetes/pull/89999

`firstTimestamp` is backport to 1.19 but not to 1.18
`lastTimestamp` is backported to both 1.19 and 1.18

[2020-08-26 12:13] wojtek-t commented on #94019
Thanks for opening https://github.com/kubernetes/kubernetes/pull/94226 - this will address this issue.

[2020-08-26 12:15] liggitt commented on #94248
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/73099, which has a proposed fix in https://github.com/kubernetes/kubernetes/pull/93961

[2020-08-26 12:17] liggitt commented on #94250
That seems like your system clock was incorrect when the installation was run. Moving it back in time after the installation is likely to leave you with x509 certificates that are not yet valid. If you used kubeadm to set up, [regenerating certificates](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#manual-certificate-renewal) might resolve this issue.

/remove-kind bug

[2020-08-26 12:28] Aaron-23 commented on #94250
Thank you, but it is recommended to optimize from a product perspective, because there are many situations like this

[2020-08-26 13:04] dcbw commented on #93904
/remove-triage unresolved

[2020-08-26 13:28] Shahard2 commented on #73480
@nckturner
@M00nF1sh

[2020-08-26 13:54] neolit123 commented on #94249
please find AllowedUnsafeSysctls here:
https://godoc.org/k8s.io/kubelet/config/v1beta1

example usage:
https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

if you are using kubeadm you can pass kubeletconfiguration as part of the --config file you pass to "kubeadm init":
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

/close
/triage support

[2020-08-26 13:54] #94249 closed

[2020-08-26 13:54] neolit123 commented on #94249
for questions please use the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2020-08-26 13:55] neolit123 commented on #94234
the guesses are correct. if you do not see any replies within a few days try asking in #sig-cloud-provider on k8s slack.

/area provider/aws

[2020-08-26 13:56] liggitt commented on #94248
closing as duplicate of https://github.com/kubernetes/kubernetes/issues/73099

[2020-08-26 13:56] #94248 closed

[2020-08-26 14:08] ialidzhikov commented on #90512
I believe this issue is duplicate of https://github.com/kubernetes/kubernetes/issues/91287 and it is fixed by https://github.com/kubernetes/kubernetes/pull/91311.

Can someone please double-check and eventually close this one?

[2020-08-26 14:09] ialidzhikov commented on #90512
Ref https://github.com/kubernetes/kubernetes/pull/94253

[2020-08-26 14:26] Srini-B-GIT opened #94255 "Namespace creation and deletion automation through Terraform"
**What would you like to be added**:
  As part of K8s Namespace  creation/deletion automation through Terraform. I have created a  cluster role with below mentioned rules and created a role binding for for the same cluster role.  as part of the name space creation  I am also trying to update configmap to grant access to one of the AWS userARN .

I thought provided rules in the clusterrole is enoug

[2020-08-26 14:28] neolit123 commented on #94255
/remove-kind feature
/sig auth
/triage support

[2020-08-26 14:28] povils commented on #83111
Would running sidecar container which would do `sleep x` and requesting  1 GB RAM and 1 CPU ? so that during scheduling the scheduler will ensure the pod will have enough resources

[2020-08-26 14:30] alculquicondor commented on #91489
@RyanAoh did any of the suggested solutions work for you?

[2020-08-26 14:42] santoo1116 commented on #52345
Is there any update or a different issue opened for this?

[2020-08-26 14:58] pigletfly commented on #64623
We can use BroadcastJob in https://github.com/openkruise/kruise now.It's a job that runs Pods to completion across all the nodes in the cluster.

[2020-08-26 15:09] neolit123 commented on #94250
certificate validity periods are important, so if your node clocks were off, changing them to something outside of the validity would break component connectivity. k8s / kubeadm cannot recover from something like that out of the box without intervention and the procedure is not trivial.

one safer option is to backup your workloads, re-create the cluster, start the workloads again on the new clust

[2020-08-26 15:10] #94250 closed

[2020-08-26 15:18] IAXES commented on #64623
@pigletfly Is there a long-term plan to have some/all of these features in OpenKruise be merged upstream into mainline K8S?

Also, thank you: the `BroadcastJob` seems to fit the use case I was raising.

[2020-08-26 15:19] hasheddan opened #94256 "[Flaky Test] [sig-network] ESIPP [Slow] should work for type=LoadBalancer"
**Which jobs are flaking**:

`gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)`

**Which test(s) are flaking**:

`[sig-network] ESIPP [Slow] should work for type=LoadBalancer`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:

[code]

**Anything else we need to know**:

This test recently had a flak

[2020-08-26 15:32] knight42 commented on #94256
[code]

looks like the error is caused by the pending netserver pod.

[2020-08-26 15:35] soltysh commented on #93188
@iguoyr feel free to leave your proposals here, I'd like to have a discussion about possibilities within this issue before we decide how to solve it.

[2020-08-26 15:37] tretos53 commented on #89898
**What happened**: After updating EKS from v1.14.9-eks-f459c0 to v1.15.11-eks-065dce some of our ReplicaSets and DaemonSets Liveness/Readiness probes started failing with `Liveness probe failed: Get http://xxx.xxx.xxx.xxx:80/: net/http: request canceled (Client.Timeout exceeded while awaiting headers`

It seems that random pods are affected. I can successfully curl to them from other pods.

All no

[2020-08-26 15:44] apelisse commented on #94121
That's a bad bug, can you open a separate issue for that?

[2020-08-26 15:46] saurabhcs opened #94257 "in kubernetes get the events ,we found this message"
Readiness probe failed: OCI runtime exec failed: exec failed: container_linux.go:348: starting container process caused "process_linux.go:90: adding pid 29505 to cgroups caused \"failed to write 29505 to cgroup.procs: write /sys/fs/cgroup/cpu,cpuacct/kubepods/burstable/pod06bb23ac-e14e-11ea-b936-06c4bdea633e/1839f75ddcfabcac4e8a3e253a26595cda4e217e208e56d177e5abb5a1e68a3b/cgroup.procs: invalid arg

[2020-08-26 15:53] knight42 commented on #94256
According to the kubelet.log on the node `gce-scale-cluster-minion-group-3-wrv0` which `netserver-3` was created on https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1298591388241235969/artifacts/gce-scale-cluster-minion-group-3-wrv0/kubelet.log, the pod `netserver-3` was pending because the image failed to be pulled after 5 min:
[code]

I suspect this

[2020-08-26 16:10] neolit123 commented on #94257
hi, please fill the issue template properly and the reopen the issue:
https://raw.githubusercontent.com/kubernetes/kubernetes/master/.github/ISSUE_TEMPLATE/bug-report.md

/triage needs-information
/close

[2020-08-26 16:10] #94257 closed

[2020-08-26 16:16] logicalhan commented on #92852
/assign cosmo0920

[2020-08-26 16:16] TheKangaroo commented on #61117
I see this issue on 1.17.6, with lots of free RAM on the host
[code]

[2020-08-26 16:18] logicalhan commented on #15478
/sig node
/remove-sig instrumentation

[2020-08-26 16:18] logicalhan commented on #15478
/remove-sig scalability

[2020-08-26 16:19] logicalhan commented on #25521
/assign @serathius

[2020-08-26 16:21] dashpole commented on #38495
/assign

[2020-08-26 16:22] logicalhan commented on #57660
/assign @serathius

[2020-08-26 16:22] lavalamp commented on #25521
Note that 100% of the discussion above is invalid now that the standard errors package has the concept of wrapping, `Is()`, and `As()`.

[2020-08-26 16:23] logicalhan commented on #64730
/assign @wenjiaswe @jingyih

[2020-08-26 16:25] dashpole commented on #64760
/assign

[2020-08-26 16:28] logicalhan commented on #67126
/sig node
/remove-sig instrumentation

[2020-08-26 16:29] logicalhan commented on #69825
/assign @serathius

[2020-08-26 16:29] logicalhan commented on #75779
/assign

[2020-08-26 16:31] logicalhan commented on #75779
/assign @erain

[2020-08-26 16:32] logicalhan commented on #76873
/assign @erain
/assign @serathius

[2020-08-26 16:32] logicalhan commented on #76873
/cc @erain

[2020-08-26 16:32] erain commented on #75779
/cc @erain

[2020-08-26 16:34] logicalhan commented on #80623
/assign

[2020-08-26 16:43] dashpole commented on #90464
It probably belongs on the kubelet's `/metrics` endpoint (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/metrics/metrics.go).  You would just need to plumb the eviction configuration.  You would probably want to do something like we do for NodeName, which is to "observe" the node name once during startup so that the metric is exposed thereafter: https://github.com/kubernetes/kube

[2020-08-26 16:49] logicalhan commented on #25521
/sig architecture
/cc @johnbelamaric
(this is kinda a code-arch concern, no?)

[2020-08-26 17:05] jingyih commented on #64730
This issue is obsolete. By default, etcd client now enables logging:
https://github.com/etcd-io/etcd/blob/facd0c946025f07ed8c1ba7d2bb2d80baa17c194/clientv3/client.go#L433-L438

[2020-08-26 17:05] jingyih commented on #64730
/close

[2020-08-26 17:06] #64730 closed

[2020-08-26 17:21] jimmyjones2 commented on #26567
Should a kubeflow PR have resolved this?

[2020-08-26 17:23] ialidzhikov commented on #89953
/remove-lifecycle stale

[2020-08-26 17:29] thockin commented on #26567
Weird!

[2020-08-26 17:30] thockin commented on #26567
Cross-repo resolution seems like a bad idea.

[2020-08-26 18:16] Adhira-Deogade commented on #21714
Any updates on this?

[2020-08-26 18:17] eddiezane commented on #92593
@13567436138 I'm not sure from what you provided what's wrong or how to reproduce.

If you're still having an issue please reopen and provide more information with an example we can copy paste.

/close

[2020-08-26 18:18] #92593 closed

[2020-08-26 18:39] wojtek-t commented on #94256
I vaguely recall that things like that we happening in containerd some time ago.
Though we don't use containerd in gce-scale-correctness job (we use default which is still set to docker).

[2020-08-26 19:20] alikhil commented on #83111
@povils thank you for your response! I think with the solution you have provided it is possible to ensure resources, but my point is that it would be nice to free resources that are needed **only** during the startup. Sidecar container will not solve this problem because after heavy startup operations k8s still keeps resources requests reserved.

Please try to reread my initial message, and let me

[2020-08-26 19:22] fkaleo commented on #39824
Documentation now states:

from https://kubernetes.io/docs/concepts/workloads/pods/disruptions/

[2020-08-26 19:27] casey-robertson commented on #89898
For those of us running a managed service....this is not something we should ever have to deal with.  What version and where are you running k8s?

[2020-08-26 20:27] justaugustus opened #94262 "Merge blocker to support reopening for Kubernetes 1.20 development in phases"
This is a **temporary** merge blocker to allow us to do a little re-milestoning before draining the PR queue and reopening officially for Kubernetes 1.20 development work.
Please refer to the proposal for details on reopening development: https://docs.google.com/document/d/1yI7o7R2bOB7QtkHUFMHMb5XObiJmzIAnJPuxhdAX-CA/edit?usp=sharing

/assign
Tracking thread on k-dev: https://groups.google.com/d/t

[2020-08-26 20:40] spiffxp commented on #94262
/cc

[2020-08-26 20:59] justaugustus commented on #94262
[Kubernetes v1.19.0 has been released](https://groups.google.com/g/kubernetes-announce/c/oX-AjJkYhH4) and the [queue of approved 1.20 milestone PRs](https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+is%3Aopen+milestone%3Av1.20++label%3Aapproved+label%3Algtm+-label%3Akind%2Ffailing-test) has been limited to `kind/failing-test` and a single [`ACTION REQUIRED` update to the changelog](https://

[2020-08-26 20:59] #94262 closed

[2020-08-26 21:00] ialidzhikov commented on #90512
I now checked and I can confirm that this issue is fixed by #91311 in the master branch, release-1.18 cherry-pick is opened today - #94253.

[2020-08-26 21:52] skob commented on #87615
v1.18.6 same

[2020-08-26 22:03] justaugustus opened #94263 "pull-kubernetes-conformance-kind-ga-only-parallel failing on kind cluster creation due to yaml unmarshal errors"
**Which jobs are failing**:

https://testgrid.k8s.io/sig-testing-kind#pull-kubernetes-conformance-kind-ga-only-parallel

**Which test(s) are failing**:

Overall test failure on kind cluster creation

**Since when has it been failing**:

8/26/20 17:08 EDT

**Testgrid link**:

https://testgrid.k8s.io/sig-testing-kind#pull-kubernetes-conformance-kind-ga-only-parallel

**Reason for failure**:

kind cl

[2020-08-26 22:23] BenTheElder commented on #94263
waiting for https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kind-push-binaries/1298747385475764227 then retesting
/lifecycle active

[2020-08-26 22:26] justaugustus commented on #94263
Linking fixes: https://github.com/kubernetes-sigs/kind/pull/1819, https://github.com/kubernetes-sigs/kind/pull/1820

[2020-08-26 22:30] BenTheElder commented on #94263
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/94259/pull-kubernetes-conformance-kind-ga-only-parallel/1298748644094119939 <-- test run

[2020-08-26 22:51] BenTheElder commented on #94263
cluster is up:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-conformance-kind-ga-only-parallel/1298751537501179905

[2020-08-26 22:52] BenTheElder commented on #94263
I'm not sure why this took so long to propagate, it seems like somehow some of CI is getting served staler copies ...?
It's a netlify redirect (static redirect to alias the domain so we can swap backing CDN for artifacts) => staging GCS

[2020-08-26 22:55] justaugustus commented on #94263
"Something, something DNS"?
Thanks for the quick fix, Ben! I've sent the other pending PRs for retest.

/close

[2020-08-26 23:13] johngmyers commented on #72320
/remove-lifecycle stale

[2020-08-27 00:31] BenTheElder commented on #94263
still failing for a similar reason (no yaml parse error but yaml isn't being plumbed)

[2020-08-27 00:34] justaugustus commented on #94263
/reopen

[2020-08-27 00:35] BenTheElder commented on #94263
https://github.com/kubernetes-sigs/kind/pull/1822

[2020-08-27 00:36] BenTheElder commented on #94263
give it ~4min to upload the new binaries etc.
https://prow.k8s.io/?repo=kubernetes-sigs%2Fkind&type=postsubmit

[2020-08-27 02:17] RyanAoh commented on #91489
@alculquicondor em..I‘ve learned about the scheduling framework, perhaps using a scheduler plugin is a better way in the long term.  Currently, I deployed extenders as static pods.

[2020-08-27 02:17] #91489 closed

[2020-08-27 02:18] BenTheElder commented on #94263
https://prow.k8s.io/?job=pull-kubernetes-conformance-kind-ga-only-parallel very green again
/close

[2020-08-27 02:18] #94263 closed

[2020-08-27 02:21] howardlau1999 commented on #94191
This is interesting. In what form or API can users specify the weights? Can you describe it with more details?

[2020-08-27 02:41] #93349 closed

[2020-08-27 02:51] MarcPow opened #94269 "[Flaky Test] pull-kubernetes-e2e-azure-disk-windows: should create a statefulset object, write and read to it, delete the pod and write and read to it again"
**Which jobs are flaking**:
pull-kubernetes-e2e-azure-disk-windows

**Which test(s) are flaking**:
[Fail] Dynamic Provisioning [single-az] [It] should create a statefulset object, write and read to it, delete the pod and write and read to it again
[build-log.txt](https://github.com/kubernetes/kubernetes/files/5133762/build-log.txt)
 [kubernetes.io/azure-disk] [disk.csi.azure.com] [Windows]
/home/p

[2020-08-27 02:53] MarcPow commented on #94269
/sig cloud-provider
/area provider/azure

[2020-08-27 03:30] travisghansen commented on #94108
In my case, unstage isn't even invoked first...it's just bad order of operations.

[2020-08-27 03:31] povsister commented on #80609
Is there a real million stone for this issue? I see you moved this from v1.19 to v1.20

Although typed resource is already known to user, it's a bit weird to explicitly remove the GVK from de-serialized struct.
The explicit behavior sometimes makes things harder, eg: Printing struct Kind and version, without filled TypeMeta, I need reflect package to do so.  Any comments or suggestion?

[2020-08-27 03:36] MikeSpreitzer commented on #80623
This is moot now.  component-base is doing the job.

[2020-08-27 03:36] #80623 closed

[2020-08-27 03:44] renukamanavalan opened #94270 "Deamonset rolling update takes longer"
**What happened**:
The rolling update strategy still takes in the order of minute, from termination to start of new pod.

The sequence of events upon applying updated manifest:
1) Terminate the current running pod
2) Download the image for new pod
3) Start the new pod

My manifest has:
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1

Is there a way, make it **_

[2020-08-27 03:51] #93323 closed

[2020-08-27 03:51] #94202 closed

[2020-08-27 04:37] thockin commented on #32457
We'll fix these in the base OS images we use.

[2020-08-27 06:07] t051506 commented on #92242
Same issue observed for 1.18.5  ---

 FAILED! => {"changed": false, "changes": {"installed": ["kubectl-1.18.5", "kubelet-1.18.5", "kubeadm-1.18.5"]}, "msg": "\n\nTransaction check error:\n  file /usr/bin/kubectl from install of kubectl-1.18.5-0.x86_64 conflicts with file from package kubernetes-client-1.5.2-0.7.git269f928.el7.x86_64\n\nError Summary\n-------------\n\n", "rc": 1, "results": ["Loade

[2020-08-27 06:34] verb commented on #27140
This issue has become a sort of tracking issue for the overall problem of troubleshooting distroless containers, but tracking issues are a poor fit for k/k: the discussion dies down and it just into fighting lifecycle.

This issue motivated two enhancements: kubernetes/enhancements#277 (Ephemeral containers) and kubernetes/enhancements#1441 (kubectl debug). Let's track these efforts in their featu

[2020-08-27 06:34] #27140 closed

[2020-08-27 08:06] nodo commented on #89274
/remove-lifecycle stale

[2020-08-27 08:16] miton18 commented on #94191
I don't know the right way to do it but if kube-proxy is able to detect a pod running locally, it can higher his weight in IPVS.

[2020-08-27 08:19] #68712 closed

[2020-08-27 09:02] kfirfer commented on #52817
Same here at 1.18.8

[2020-08-27 09:12] KMFtcy opened #94273 "Can't access cluster nameservice(coredns)"
**What happened**:

Can't access coredns service while cluster running.
I find name resolution error in pod: "ping: github.com: Temporary failure in name resolution"
I try to resolve domain name with coredns service address and got timed out errror:
[code]
however if I try with coredns ip, nameservice will work:
[code]
[code]
SVC and endpoint do exist :
[code]
[code]
and I check kube-proxy log, th

[2020-08-27 09:33] KMFtcy commented on #94273
/sig network

[2020-08-27 09:38] sownak commented on #89898
I am used AWS EKS 1.16 and have been getting the same problems recently.

[2020-08-27 10:14] jpmsilva opened #94275 "kubectl server side diff errors due to field type changes"
**What happened**:
_Spawned from #94121_

Running kubectl diff server side errors out due to the internal data types being different.

[code]

**What you expected to happen**:
No error should be shown, and the diff (if any) should be shown instead.

**How to reproduce it (as minimally and precisely as possible)**:
Given the following test manifest:

[code]

Apply it to the cluster:
[code]

Run a d

[2020-08-27 10:14] jpmsilva commented on #94275
/sig CLI

[2020-08-27 10:16] jpmsilva commented on #94121
Sure thing!
I spawned #94275 from this bug report to cover the "failed to create typed patch object" problem.
I will try to test with the newly minted 1.19 release later today, to see if any previously observed behavior changes.

[2020-08-27 10:59] JustDoItSascha opened #94276 "Node escalates randomly with 100% cpu usage, only restart helps"
**What happened**:
Since a couple of weeks a node of my cluster gets unresponsive. The cpu usage increases to 100%. Only a restart helps.

It's not a specific pod which causes the problem. At all there is no pod which uses much ressources, just some small nginx container.

The only thing I can see in the log is this:

[code]

This line comes every 5 seconds until I restarted the node.

The cpu usa

[2020-08-27 11:05] JustDoItSascha commented on #94276
/sig Node

[2020-08-27 11:07] kiyutink commented on #58477
Is there a workaround for this that doesn't involve deleting the deployment?

[2020-08-27 11:09] jethrogb commented on #58477
Use edit, patch, or replace, instead of apply.

[2020-08-27 11:12] ScrapCodes opened #94278 "[Flaky Test] [sig-api-machinery] ResourceQuota should create a ResourceQuota and capture the life of a persistent volume claim with a storage class. [sig-storage]"
**Which jobs are flaking**:
ci-kubernetes-e2e-ubuntu-gce-containerd

**Which test(s) are flaking**:
[sig-api-machinery] ResourceQuota should create a ResourceQuota and capture the life of a persistent volume claim with a storage class. [sig-storage]

**Testgrid link**:
https://testgrid.k8s.io/google-gce#gce-ubuntu-master-containerd

**Reason for failure**:

https://prow.k8s.io/view/gcs/kubernetes-

[2020-08-27 11:12] ScrapCodes commented on #94278
/sig api-machinery

[2020-08-27 11:17] MikkCZ commented on #58477
@kiyutink for me there was.

[2020-08-27 11:49] #93748 closed

[2020-08-27 12:35] adambkaplan opened #94279 "Secret volume mount not updated if key is renamed and KeyToPath mounting is used"
**What happened**:

I created a pod deployment which volume mounted a `Secret` using key-to-path bindings (ex: `secret.txt`, contents "Hola Terra"). After creating the `Secret` and `Deployment`, I changed the name of the key referenced key in the `Secret` (ex: `secret.config`). The `Secret` was successfully updated, but the file in the pod remained the same - the file was not removed or truncated.

[2020-08-27 12:35] adambkaplan commented on #94279
/sig node

/sig storage

[2020-08-27 12:38] adambkaplan commented on #94279
I also observed similar behavior using a `Secret` in a `ProjectedVolume`.

[2020-08-27 13:03] RobertKielty commented on #94278
Thank you @ScrapCodes for reporting this.

Worth noting I think, that the test has failed with timeout across a multiple jobs (the triage link you provided lists them there)

[code]

Also, there are additional failure reasons present on the triage page when run from e2e-kops-* jobs

Again more details at the bottom of the triage page for
[It should create a ResourceQuota and capture the life of a

[2020-08-27 13:09] ahg-g commented on #85031
Seems to be green: https://k8s-testgrid.appspot.com/sig-release-1.19-blocking#integration-1.19&include-filter-by-regex=TestPreemptionRaces

[2020-08-27 13:30] FabianKramm opened #94280 "kubectl proxy not working for kube contexts with base path"
**What happened**:

Given that you have a kube context that looks like this:

[code]

and you try to run `kubectl proxy`, the request `http://localhost:8081/version` fails, because internally the URL is not correctly rewritten to `https://my-url-to-kubernetes.com/any-base-path-to-kubernetes/version` and instead calls `https://my-url-to-kubernetes.com/version`. The problem is in file (at least what

[2020-08-27 13:31] FabianKramm commented on #94280
/sig api-machinery

[2020-08-27 13:33] ahg-g commented on #94230
/assign @Huang-Wei

[2020-08-27 13:36] RainbowMango commented on #94103
@bart0sh The fix is merged.

[2020-08-27 13:59] ahg-g commented on #93934
The scheduler doesn't know if a pod is a DaemonSet pod. DaemonSet controller decides which node a pod should be scheduled on using nodeAffinity:

[code]

However, as in your case, a node could get filtered even before the scheduler gets to evaluate the NodeAffinity Filter (insufficient memory or host ports).

I don't think there is a pretty way to do what you are asking for, it will have to be spe

[2020-08-27 13:59] pmyjavec opened #94281 "kubelet: pod metrics not visible with Docker 18 (19.03 works)"
**What happened**:

When deploying a cluster on v1.19.0 using kubeadm, we're no longer seeing kubelet reporting pod metrics from the node, this breaking metrics-server to some degree as we're missing pod statistics:

[code]

_Note the empty pods section_

**What you expected to happen**:

We'd see a populated list of pod metrics as we did before that looks like:

[code]

**How to reproduce it (as

[2020-08-27 14:01] pmyjavec commented on #94281
/sig node
/sig instrumentation

[2020-08-27 14:02] alculquicondor commented on #93500
Wasn't that the intention of the Permit extension point?

Maybe you could update the doc for co-scheduling plugin to present the bigger picture.

[2020-08-27 14:17] bhperry commented on #94279
delay is expected: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#mounted-configmaps-are-updated-automatically

[2020-08-27 14:18] pmyjavec commented on #94281
We've narrowed this down to it being a problem with Docker 18, it looks like once we upgraded to Docker 19.03, please feel free to close this off if it's not longer relevant.

Thanks.

[2020-08-27 14:19] neolit123 commented on #94270
/sig apps

[2020-08-27 14:22] bhperry commented on #94279
I would guess that changing the key isn't expected to delete a file that has already been mounted either.

[2020-08-27 14:23] neolit123 commented on #94281
hi,

^ you've mentioned in the OP that this does not happen in 1.18.2.

to clarify, with 1.19.0 and Docker 18 the problem happens, but not with 1.19 and Docker 19.03?

[2020-08-27 14:29] pmyjavec commented on #94281
@neolit123,

[code]

Yes sorry, if that wasn't clear.

[2020-08-27 14:29] dims commented on #34146
long-term-issue (note to self)

[2020-08-27 14:29] dims commented on #60690
long-term-issue (note to self)

[2020-08-27 14:30] neolit123 commented on #94281
ok, this is very odd. hopefully someone from SIG node sees this.
if you want to raise attention you could post in the #sig-node channel on k8s slack.

[2020-08-27 14:31] dims commented on #43916
long-term-issue (note to self)

[2020-08-27 14:31] neolit123 commented on #94281
/retitle kubelet: pod metrics not visible with Docker 18 (19.03 works)

[2020-08-27 14:34] povsister commented on #87615
@rxwang662001
This is caused by upstream golang issue. One thing to be certain is that this WON'T be fixed in go 1.15.
Meanwhile, the Kubernetes community are still struggling to migrate to go 1.14 LOL.

Typically, go releases every 6 months. If everything works well, maybe we could see this issue resolved by upstream in the next year, and maybe another year till kubernetes adpats the fix 🥇 !
(Jus

[2020-08-27 14:36] liggitt commented on #87615
Actually, due to great work by sig-scalability and sig-release to qualify on go1.15 prereleases, Kubernetes 1.19 just released on go1.15. It looks like there is work in progress to expose the http/2 options in go1.16, and I expect we will make use of that as soon as it is available.

[2020-08-27 14:42] ahg-g commented on #93500
My general preference is to try and completely remove generic_scheduler.go: have most of the logic moved to run as plugins where applicable and the logic outside just executes the extension points of the framework.

Moving assume/forget to run as plugins I think fits the framework's reserve/unreserve extension points well, not sure we need stronger motivation to actually do that.

[2020-08-27 14:45] povsister commented on #87615
Opps. Sorry for the awkward joke. Didn't pay much attention to v1.19 release.
Seems we skipped go1.14 entirely on K8S? Wow. that's a big leap 👍

[2020-08-27 14:52] ahg-g commented on #94192
I like that, I guess the plugin could implement multiple extension points to report the status of a pod's scheduling cycle.

[2020-08-27 14:57] serathius commented on #94281
/cc @dashpole

[2020-08-27 15:10] binlab commented on #58065
/remove-lifecycle rotten

[2020-08-27 15:22] neolit123 commented on #94280
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.10-gke.42", GitCommit:"42bef28c2031a74fc68840fce56834ff7ea08518", GitTreeState:"clean", BuildDate:"2020-06-02T16:07:00Z", GoVersion:"go1.12.12b4", Compiler:"gc", Platform:"linux/amd64"}

not this an unsupported skew:
https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl

[2020-08-27 15:25] ahg-g commented on #93753
/close

feel free to open again if this is still an issue

[2020-08-27 15:25] #93753 closed

[2020-08-27 15:27] ahg-g commented on #93793
when you get a chance, can you group all enhancements issues relate to the new benchmark framework under one issue with a task list.

[2020-08-27 15:33] ahg-g commented on #93338
/remove-sig scheduling

[2020-08-27 15:34] cofyc commented on #74374
This solution with [the improvement](https://github.com/kubernetes/kubernetes/issues/74374#issuecomment-504610721) suggested by @janetkuo is acceptable for me.

In theory, it's possible the PVC is deleted just before the pod is created, e.g.

- (statefulset controller) check the PVC is not in terminating state from the apiserver, so try to create the pod
  - if it's in terminating state, the contr

[2020-08-27 15:35] cofyc commented on #74374
/assign

[2020-08-27 15:40] liggitt commented on #93902
/priority important-soon

Note that this is blocking #93605 and full reopen of 1.20, so resolving the test flake in the next few days would be helpful.

[2020-08-27 15:44] apelisse commented on #94275
/wg api-expression

[2020-08-27 15:46] msau42 commented on #74374
I believe this PR is trying to fix this issue: https://github.com/kubernetes/kubernetes/pull/93457

[2020-08-27 15:46] apelisse commented on #94275
Can you try to do: `kubectl apply -f test.yaml --server-side=true` and tell me what happens?

[2020-08-27 15:48] uablrek opened #94282 "hack/update-generated-protobuf.sh does not generate .pb.go and .proto files"
**What happened**:

While working with a PR that updates the API (https://github.com/kubernetes/kubernetes/pull/92744) the `hack/update-generated-protobuf.sh` script stopped to generate grpc files for the updated structure. This worked fine from start and I am unsure when it stopped working. I can't relate it to some update unfortunately.

**What you expected to happen**:

The `hack/update-generat

[2020-08-27 15:49] deepflame commented on #41965
/reopen

[2020-08-27 15:52] tretos53 commented on #89898
Update:
After two days of checking everything (including cluster dump) the issue was with the application/pod itself. The application was failing to respond to Liveness/Readiness probes (in a specific scenario) and it was killed. Initially no obvious reason for this was found, and it correlated with EKS upgrade, so we blamed (wrongly) eks 1.15.

initialDelaySeconds didn't help as the pod was fine

[2020-08-27 15:54] ahg-g commented on #93112
/assign @adtac

the scheduler_perf tests should run on CI, but only few of them (e.g., only the 500node tests).

[2020-08-27 15:55] ahg-g commented on #93112
can we rename this issue to only focus on the scheduler and track the test related to IPAM in another issue?

[2020-08-27 16:09] FabianKramm commented on #94280
@neolit123 thanks for pointing out, I updated the issue.

[2020-08-27 16:10] FabianKramm commented on #94280
/sig cli

[2020-08-27 16:20] renukamanavalan commented on #94270
BTW, I double confirmed with tcpdump too. At the time point, when `kubectl get pods -o wide -w` says "creating" is when TCP connection being established with container registry to pull the image down.

Expect:
1) Pull the image down
2) Stop the current pod
3) Start the new pod

to help minimize down time.

Ref: doc [here](https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/)

[2020-08-27 16:27] ahg-g commented on #93591
I think what we can do is add `Enqueue`, `Dequeue` and `Update` extension points that gets invoked at `addPodToSchedulingQueue`, `deletePodFromSchedulingQueue` and `updatePodInSchedulingQueue` events respectively.

To determine the exact state of the pod, I think we can add a queueing status to `QueuedPodInfo` that indicates whether it is in `active`, `unschedulable` or `backoff`.

[2020-08-27 16:27] lalithvaka opened #94284 "Daemonset does not provision to master nodes - cni failed to set up pod"
**What happened**: Upgraded from 1.15.3 to 1.17.9 in our Dev cluster and started to see Fluent-bit daemonset started failing on master nodes with the following
[code]
Fluent-bit version - 1.5.3  (FROM debian:stretch as builder)
[code]

[code]
[code]

**What you expected to happen**: I expect that daemonset will provision to all nodes.

**How to reproduce it (as minimally and precisely as possible)

[2020-08-27 16:33] lalithvaka commented on #94284
/sig Network
/sig scheduling

[2020-08-27 16:43] immuzz commented on #92522
@adelina-t Do you wanna look at this when you get a chance?

[2020-08-27 16:47] karan commented on #91472
/remove-lifecycle stale

[2020-08-27 16:51] jpmsilva commented on #94275
Hi @apelisse

Here's the output of the most complete set of tests I could think of (the one you asked is the last command execution), on a v1.18.8 clean cluster:

[code]

The error appears regardless of the deployment items already existing on the cluster, which makes me think that it is generated when parsing the local file to generate a patch, before anything even gets sent to the apiserver.

[2020-08-27 16:55] apelisse commented on #94275
I was pretty sure we were handling int-or-string properly in SSA ... Can it be a problem with the limit-range? I'll look into it

FYI @lavalamp

[2020-08-27 16:55] adtac commented on #93112
/assign

[2020-08-27 17:42] adtac commented on #93793
/assign

[2020-08-27 17:42] adtac opened #94285 "scheduler_perf: meta issue to track multiple issues"
/sig scheduler
/cc @ahg-g
/kind feature
/assign
/milestone v1.20

The following features will only be added to the new framework (proposed in https://github.com/kubernetes/kubernetes/issues/93117, implemented in https://github.com/kubernetes/kubernetes/pull/93252), which will replace the old benchmarking framework in `test/integration/scheduler_perf`.

- [x] https://github.com/kubernetes/kubernete

[2020-08-27 17:43] adtac commented on #94285
/sig scheduling

:)

[2020-08-27 17:44] adtac commented on #93793
@ahg-g see https://github.com/kubernetes/kubernetes/issues/94285.

[2020-08-27 17:46] #89087 closed

[2020-08-27 17:53] lavalamp commented on #94275
Yeah that's strange, did we break something with the optimizations? cc @jpbetz

[2020-08-27 17:54] kvaps opened #94286 "error execution phase addon/coredns: unable to match SHA256 digest ID in """
**What happened**:

during update to v1.19 can not upgrade coredns deployment:

[code]

**What you expected to happen**:

cordns succefully upgraded

**How to reproduce it (as minimally and precisely as possible)**

try to apply my manifests: [coredns.txt](https://github.com/kubernetes/kubernetes/files/5137973/coredns.txt), and do:
[code]

**Anything else we need to know?**:

**Environment**:
- Ku

[2020-08-27 18:01] kvaps commented on #94286
/sig node

[2020-08-27 18:05] kvaps commented on #94286
If I do:
[code]

I can install coredns:
[code]

but second run I see the same error:
[code]

[2020-08-27 18:41] apelisse commented on #94275
Yeah, we should check if the schema looks like it should, and if it does, we certainly need a test if we don't have one ...

[2020-08-27 18:47] #89655 closed

[2020-08-27 18:56] neolit123 commented on #91506
/remove-lifecycle stale

[2020-08-27 19:00] brylor commented on #36222
Edited a cm, came back in, and had \n all over.

Something about white space in my previous edit?

Not great overall :/

On

kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.5", GitCommit:"e6503f8d8f769ace2f338794c914a96fc335df0f", GitTreeState:"clean", BuildDate:"2020-07-04T15:01:15Z", GoVersion:"go1.14.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Versio

[2020-08-27 20:07] fedebongio commented on #94278
/cc @yliaog

[2020-08-27 20:08] fedebongio commented on #94280
/assign @lavalamp
(thank you Daniel!)

[2020-08-27 20:10] fedebongio commented on #94282
/assign @sttts
Stefan, would you mind taking a look to this one please? Thanks in advance!

[2020-08-27 20:19] lavalamp commented on #94280
Yeah, kubectl proxy doesn't do any rewriting. Given past experience rewriting proxied stuff, I'm not convinced that's wrong.

The problem is that to do it correctly, you have to munge all returned URL-like things so that, when a client sends them back through the proxy in a subsequent request, it works correctly.

Do you have a use case that makes it really difficult to modify your application req

[2020-08-27 20:59] spiffxp opened #94289 "node e2e test tags: dedupe [Node.*Feature:Foo][Feature:Foo] anti-pattern"
turning https://github.com/kubernetes/kubernetes/pull/94231#discussion_r478088074 into an issue

ref: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#kinds-of-tests

The `[NodeFeature:Foo]`, `[NodeSpecialFeature:Foo]`, `[NodeAlphaFeature:Foo]` tags are undocumented, and probably shouldn't exist.  They've led to an anti-pattern of `[NodeAlphaFeature:F

[2020-08-27 21:01] spiffxp commented on #94289
/assign @SergeyKanzhelev
to put it on your radar since you mentioned helping out with this, feel free to /unassign or /assign someone more relevant if you'd prefer

[2020-08-27 21:09] bart0sh commented on #94103
@RainbowMango thanks, closing the issue.

[2020-08-27 21:09] #94103 closed

[2020-08-27 22:18] bnrjee opened #94291 "Support customized gcc and cross compilation of kubernetes on platforms other than amd64"
**What would you like to be added**:
There should be a way to override the default gcc compliers mentioned in the [golang.sh](https://github.com/kubernetes/kubernetes/blob/35942f65709d73a8bb8c42904eb6ca3204f0e29a/hack/lib/golang.sh#L397) file with custom gcc compilers for different platforms. Also, cross compilation should be supported on platforms other than amd64.

**Why is this needed**:
Right

[2020-08-27 22:32] bnrjee commented on #94291
sig/release

[2020-08-27 22:35] bnrjee commented on #94291
/sig release

[2020-08-27 23:07] #93788 closed

[2020-08-27 23:07] #94006 closed

[2020-08-27 23:41] jpmsilva commented on #94121
I recreated the cluster as version 1.19.0, and here are the results of the previous tests:

[code]

[code]

[code]
⤷ _Ran as expected_

[code]
⤷ _Ran as expected_

[code]
⤷ _Ran showing unexpected diff results_

[2020-08-27 23:47] jpmsilva commented on #94275
I recreated the cluster as version 1.19.0, and here are the results of the previous tests:

[code]

[code]

[code]
⤷ _Ran as expected_

[code]
⤷ _Ran with unexpected error_

[code]
⤷ _Ran as expected_

[code]
⤷ _Ran as expected_

[code]
⤷ _Ran with unexpected error_

[code]
⤷ _Ran as expected_

[code]
⤷ _Ran with unexpected error_

[code]
⤷ _Ran as expected_

[code]
⤷ _Ran showing unexpected chang

[2020-08-28 00:41] waisbrot commented on #34146
Does go-yaml accept the `%YAML 1.1` header? If Kubernetes was strictly YAML 1.1, that would meet all of my needs and I think would be easily within reach.

[2020-08-28 00:55] #91313 closed

[2020-08-28 00:55] #91709 closed

[2020-08-28 00:57] #14460 closed

[2020-08-28 02:06] #91864 closed

[2020-08-28 02:07] #80177 closed

[2020-08-28 02:07] #90293 closed

[2020-08-28 02:27] lalithvaka commented on #94284
Additional context

[code]

My curl on Master nodes fails as following but works from my worker nodes
[code]

[2020-08-28 02:32] #91477 closed

[2020-08-28 03:01] gireeshpunathil commented on #87744
/remove-lifecycle stale

[2020-08-28 03:12] ZeroMagic commented on #94269
Ref: https://github.com/kubernetes/kubernetes/issues/93295
I will try to solve it.

[2020-08-28 03:30] MarcPow commented on #94269
Ref:[azuredisk-csi-driver/381](https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/381)

[2020-08-28 04:18] bowang-666 opened #94293 "Cronjob completed pods not deleted (job deleted)"
**What happened**:
Completed pods of cronjob were not deleted, remain forever. The job was deleted successfully.
Garbage collector seems stop working at certain point.

**What you expected to happen**:
Completed pods are deleted along with the parent jobs.

**How to reproduce it (as minimally and precisely as possible)**:
In a k8s cluster, run a bunch of cronjobs. (we have around 30).
This seems t

[2020-08-28 04:26] everpeace commented on #93591
I love ahg-g's idea.

I think `Dequeue` might be confused with `Pop`.  How about `Add`, `Delete`, `Update` so that it aligns to private methods??

[2020-08-28 04:27] bowang-666 commented on #94293
/sig apps

[2020-08-28 04:41] apelisse commented on #94121
Thanks for all the details @jpmsilva, that's actually really useful for me to understand what's going.

[2020-08-28 05:46] vivekzhere opened #94295 "CRD update from v1beta1 to v1"
**What happened**:
Our [operator ](https://github.com/cloudfoundry-incubator/service-fabrik-broker/tree/master/helm-charts/interoperator) was using a crd.v1beta1.apiextensions.k8s.io and recently updated to crd.v1.apiextensions.k8s.io. In v1beta1 definition `spec.preserveUnknownFields` set as true. In the v1 version some fields have the  `x-kubernetes-preserve-unknown-fields` set as true. When we

[2020-08-28 05:52] Ark-kun commented on #88253
Working with mutating admission controller webhooks is pretty hard and the lack of this feature is one of the reasons.

The lack of support for specifying the namespaces using `namespaceSelector` makes it impossible for us to constrain the webhook to a single namespace.

[2020-08-28 05:56] joakimr-axis commented on #72956
Closing in now, log-dump.sh seems to be almost in. Current status of remaining files:

./cluster/gce/gci/configure.sh #90442
./cluster/gce/gci/master-helper.sh #88582 (**needs rebase**, owner @gavinfish, _now stale due to inactivity_)
./cluster/gce/util.sh #90405
./cluster/log-dump/log-dump.sh #88349

[2020-08-28 06:10] subrnath opened #94296 "Featuregate ExperimentalHostUserNamespaceDefaulting in Kubernetes"
/sig API Machinery

I want to activate  the feature gate ExperimentalHostUserNamespaceDefaulting as documented https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/.

I have enabled "User Namespace"  in docker daemon config

1.systemctl stop docker
2.rm -rf /var/lib/docker
3. Add the following in /etc/docker/daemon.json
"userns-remap": "default"
4. systemctl start docker

[2020-08-28 06:42] #93020 closed

[2020-08-28 06:46] andyzhangx commented on #94240
cc @Sakuralbj

[2020-08-28 06:46] vivekzhere commented on #94295
/sig api-machinery

[2020-08-28 07:21] feiskyer opened #94300 "Kube-controller-manager panic when wrong Azure VMSS name is configured"
**What happened**:

Kube-controller-manager panic when wrong Azure VMSS name is configured:

[code]

This is because the error is not validated first in the following code path:

https://github.com/kubernetes/kubernetes/blob/2ded1e0c59d16aeef948dae5b92035292f213f3a/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go#L1408-L1419

Azure cloud provider should check whether err happens and w

[2020-08-28 07:45] FabianKramm commented on #94280
@lavalamp thanks for clarifying!

I see your point and I guess I would be fine to make this optional, but I think it is worth a though of making `kube proxy` just always expose the kubernetes api at '/', regardless of how the underlying kube context looks like. This would be much easier for the end user, because otherwise you would have to look up the current kube context and check if there is a b

[2020-08-28 07:52] jprzychodzen commented on #94256
This test has failed again. Checking if for the same reason.

[2020-08-28 08:01] nielsbasjes opened #94301 "Kubectl: Keepalive connection to API server for exec and logs."
**What would you like to be added**:

A feature (enabled by default) that any "long running" kubectl command (like exec and logs) send a periodic keep alive signal to the API server.

At this point this is only available for the proxy command where it is disabled by default.

I propose to have this keepalive made a part of also the exec and logs (and others?) and to set the default value to 5s.

*

[2020-08-28 08:09] nielsbasjes commented on #94301
/sig api-machinery
/sig cli

[2020-08-28 08:21] jprzychodzen commented on #94256
Last run has the same problem - node `gce-scale-cluster-minion-group-g5nb` has a problem with downloading image

[kubelet.log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1298953997083742208/artifacts/gce-scale-cluster-minion-group-g5nb/kubelet.log)
[code]

[2020-08-28 08:22] anguslees commented on #40846
/reopen

This issue also applies to lifecycle commands.

[2020-08-28 08:23] nielsbasjes commented on #94301
Note that at this point the only available mitigation for these practical problems is to increase the timeouts on the loadbalancer (haproxy in my case).
Yet this not desirable because
1. also truly stale connections will remain in the memory of the loadbalancer for a longer time which may overload things in busy/large installations.
2. the connections will still be closed after the longer timeout

[2020-08-28 08:41] daixiang0 opened #94304 "CVE issue"
**What would you like to be added**:

Fix all CVE issues.

[code]

[2020-08-28 08:48] chenyw1990 opened #94305 "kubelet: kubelet delete running podes after restart when /var/lib/kubelet is not writable"
**What happened**:

kubelet delete running podes after restart when /var/lib/kubelet is not writable

log is:
Line 81243: W0805 14:50:25.334153   30356 predicate.go:83] Failed to admit pod demo_default(f05ac3a3-fc1c-428b-8800-af2b6598992d) - Update plugin resources failed due to failed to write checkpoint file "kubelet_internal_checkpoint": write /var/lib/kubelet/device-plugins/.288934392: no spac

[2020-08-28 08:57] nielsbasjes commented on #58486
@DreadPirateShawn @cjbottaro @liggitt @Sure2020
I ran into this same undesirable effect in k8s 1.18.8.
Because I think this is something everyone running on a high available cluster will run into I created a feature request for this: https://github.com/kubernetes/kubernetes/issues/94301.

[2020-08-28 08:57] chenyw1990 commented on #94305
/sig node

[2020-08-28 09:00] BenTheElder commented on #94304
/area code-organization

[2020-08-28 09:03] BenTheElder commented on #94286
/sig cluster-lifecycle
/remove-sig apps
/area kubeadm

[2020-08-28 09:13] cofyc commented on #74374
@NickrenREN pointed out that PVC can be deleted successfully if the newly created pod is not scheduled.

https://github.com/kubernetes/kubernetes/blob/24ec90d23ceec048c8d5a695b4b1b65ce1942b61/pkg/controller/volume/pvcprotection/pvc_protection_controller.go#L295-L309

If the user deletes the PVC after the statefulset controller checks the PVC's state, the chance of hitting this issue is very high.

[2020-08-28 09:15] daixiang0 commented on #94304
If necessary, i would post a pr to add this check.

[2020-08-28 09:36] JoelSpeed commented on #89082
Still a problem
/remove-lifecycle rotten

[2020-08-28 10:30] jujoramos commented on #3595
I'd like to vote for this issue as well, it would be really nice to have this feature available out of the box in `Kubernetes` instead of using workarounds and/or hacks.

[2020-08-28 10:41] dims commented on #94304
Please don't file a PR for a verify script. Please do file individual bugs for each CVE and PRs for each thing that needs to be fixed.

I do not want to encourage a "fix everything" issue. So i am going to close this catch all.

/close

[2020-08-28 11:13] zhxqgithub commented on #93385
Is there any response？

[2020-08-28 11:13] knight42 commented on #94300
/assign

[2020-08-28 11:13] zhxqgithub commented on #93385
have the same issue again.

[2020-08-28 11:25] jprzychodzen commented on #94256
There is quite a big number of kubelet's logs referencing containerd, if we are using docker CRI:
[code]

[2020-08-28 11:28] wojtek-t commented on #94256
Apparently we switched the default to containerd couple months ago:
https://github.com/kubernetes/kubernetes/pull/91684

[2020-08-28 11:31] jprzychodzen commented on #94256
/sig node

[2020-08-28 13:05] elonzh commented on #89007
/remove-lifecycle rotten

[2020-08-28 13:05] elonzh commented on #89007
/reopen

[2020-08-28 13:27] wojtek-t commented on #94256
@kubernetes/sig-node-bugs

@dchen1107 - FYI

[2020-08-28 13:34] neolit123 commented on #94286
the linked PR suggests that this happens because you are executing the phase while the Pod is pending?
https://github.com/kubernetes/kubernetes/pull/94299/files

i will comment on the PR.

[2020-08-28 13:35] #93131 closed

[2020-08-28 13:36] #92996 closed

[2020-08-28 13:47] neolit123 commented on #94305
this is an unsupported version of k8s:

can you reproduce the problem with 1.17+?

[2020-08-28 13:48] neolit123 commented on #94295
/remove-kind bug
/triage support

[2020-08-28 13:55] neolit123 commented on #94296
ExperimentalHostUserNamespaceDefaultingGate seems like a feature gate that is relevant to the kubelet not kubeadm:
https://github.com/kubernetes/kubernetes/search?q=ExperimentalHostUserNamespaceDefaultingGate&unscoped_q=ExperimentalHostUserNamespaceDefaultingGate

when using kubeadm you can set it like so:
[code]

[2020-08-28 13:55] ahg-g commented on #94284
/remove-sig scheduling

[2020-08-28 13:55] neolit123 commented on #94296
/close
/sig node cluster-lifecycle

[2020-08-28 13:55] #94296 closed

[2020-08-28 14:29] soltysh commented on #82659
/lifecycle frozen
This is being actively worked on atm.

[2020-08-28 14:35] soltysh commented on #88025
/reopen
/lifecycle frozen

[2020-08-28 14:36] michaelstoica opened #94308 "vSphere create volume did not create pvc"
Installing CSI provider for vsphere failed.

[code]

[code]

`flag\"","TraceId":"db9460d8-acd3-4cc6-940d-7ae4508ac371","stacktrace":"sigs.k8s.io/vsphere-csi-driver/pkg/common/config.ReadConfig\n\t/build/pkg/common/config/config.go:301\nsigs.k8s.io/vsphere-csi-driver/pkg/common/config.GetCnsconfig\n\t/build/pkg/common/config/config.go:331\nsigs.k8s.io/vsphere-csi-driver/pkg/csi/service/common.GetCo

[2020-08-28 14:39] neolit123 commented on #94308
/sig cloud-provider
/area provider/vsphere

[2020-08-28 14:40] neolit123 commented on #94308
/area provider/vmware

[2020-08-28 14:57] lavalamp commented on #75983
/reopen
/lifecycle frozen

it looks like we never actually fixed this?

[2020-08-28 15:04] #93662 closed

[2020-08-28 15:06] pjbgf commented on #91444
/remove-lifecycle stale

[2020-08-28 15:22] Med-All commented on #60315
_Then I switch to flannel, everything works._

How to switch to flannel on Rancher? I have the same problem described above but running Kubernetes via Rancher.

[2020-08-28 15:26] sh0rez commented on #86026
/remove-lifecycle stale

[2020-08-28 15:31] howardjohn commented on #57923
Any updates on this? This continues to break users that are attempting to us features like ProjectedVolumeMounts with sidecar containers: https://github.com/istio/istio/issues/26882

[2020-08-28 15:34] lavalamp commented on #94280
Yeah, to be clear, I definitely don't think it should attempt any rewriting of the path.

I think I'd be OK with adding the option. Technically SIG CLI owns kubectl, I don't think they'll care but you may want to get sign off from them.

[2020-08-28 16:08] zoltan-fedor commented on #73140
I have the same issue in 1.17.

I have 3 different environments each with 2 services. I needed to recreate the services - which meant dropping them and recreating them immediately. Out of the 6, 5 went fine and 1 started to complain about "provided port is already allocated".

That port was used by that service 2 seconds before, so when I have deleted the service the port should have freed up. I h

[2020-08-28 17:07] MarcPow opened #94311 "[Flaky Test] SSL: no alternative certificate subject name matches target host name 'kind.sigs.k8s.io'"
**Which jobs are flaking**:
pull-kubernetes-e2e-kind-ipv6

**Which test(s) are flaking**:

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind-ipv6

**Reason for failure**:
wrapper.sh] [TEST] Running Test Command: `bash -c curl -sSL https://kind.sigs.k8s.io/dl/latest/linux-amd64.tgz | tar xvfz - -C "${PATH%%:*}/" && e2e-k8s.sh` ...
curl: (60) SSL: no

[2020-08-28 17:10] chrishenzie opened #94312 "Default VolumeSnapshotClass should depend on provisioner of PVC"
**What would you like to be added**:

When creating a VolumeSnapshot of a PVC, the default logic (when no VolumeSnapshotClass is provided) should use the VolumeSnapshotClass with the correct driver for that PVC.

More specifically, the VolumeSnapshotClass picked should be the one whose `driver` matches the `provisioner` of the StorageClass that created the PVC.

**Why is this needed**:

Right now

[2020-08-28 17:11] chrishenzie commented on #94312
/sig storage

[2020-08-28 17:17] msau42 commented on #94312
This also allows you to have a default snapshotclass per driver in a single cluster.

[2020-08-28 17:19] chrishenzie commented on #94312
How would this interact with the current annotation? I would imagine relying on the suggested behavior first and falling back to the annotation. Should the annotation be deprecated?

[2020-08-28 17:23] travisghansen commented on #94108
Here's my observations so far...scenario, I'm creating 2 pvcs and 2 pods attaching. I then delete the pods, wait for that to finish, then I delete the PVCs.

In 1.17.4 when the pods are deleted, Unpublish is invoked and subsequently Unstage (without deleting pvc)
In 1.18.6 when the pods are deleted, Unpublish is invoked, Unstage is not invoked until I delete the PVCs. But when I delete the PVCs fi

[2020-08-28 17:28] msau42 commented on #94108
That is really odd. Unstage should only depend on Pod deletion not PVC deletion.

[2020-08-28 17:37] travisghansen commented on #94108
@msau42 yeah, I just deleted the PVCs in the 1.18 cluster after letting it sit for 1.5 hours post pod deletion, and immediately experienced exactly what I described above. 0 unstage calls were invoked during the 1.5 hour window :( Now they fail due to stale file handles (nfs-based volumes) because delete is invoked before unstage and it's impossible to make the unmount go through.

[2020-08-28 17:41] msau42 commented on #94108
Can you check your kubelet.log to see if there's any errors that could indicate why Unstage wasn't called?

[2020-08-28 17:55] rikatz commented on #94284
OK, so the error seems related to the Pod in the worker nodes not being able to reach the apiserver.

1) Need to check if kube-proxy is running: ``kubectl get pods -n kube-system -o wide``
2) How have the fluent-bit being deployed. Not sure right now, but maybe using networkHost may cause some issue

[2020-08-28 17:56] rikatz commented on #94284
3) Are you using kube-proxy in ipvs mode or iptables (default) mode? This might be related to iptables x iptables-legacy conflict

[2020-08-28 18:01] lalithvaka commented on #94284
Kube-proxy seems to be running on all 5 nodes (2 worker and 3 master nodes).
Fluent-bit is deployed as Daemonset using ($ kubectl create -f https://raw.githubusercontent.com/fluent/fluent-bit-kubernetes-logging/master/output/elasticsearch/fluent-bit-ds.yaml) Fluent-bit docker version I have used is 1.5.3.
Same set up worked in our K8S 1.15.3, no issues and everything starts to fail from 1.17.9.
We

[2020-08-28 18:06] lalithvaka commented on #94284
Failure is happening on Master nodes, not worker nodes.
My curl test on master nodes fails as well if I specify the namespace in the API call
curl https://10.233.0.1/api/v1/namespaces/logging  (Fails)
curl https://10.233.0.1/api/v1/namespaces (works)
curl https://10.233.0.1:6443/api/v1/namespaces/logging (works)

Could this be some role permissions issue?

[2020-08-28 18:09] rikatz commented on #94284
Doesn't seems a permission issue, otherwise the error would be some permission denied. Let me see the rules

[2020-08-28 18:09] travisghansen commented on #94108
@msau42 I don't see anything. If there was an issue preventing it from calling unstage would that also prevent it from invoking unstage after the PVC is deleted as well?

[2020-08-28 18:10] #86626 closed

[2020-08-28 18:14] kvaps commented on #94286
Very possible, according the logs one of coredns pod was on exactly on Pedning state.

[2020-08-28 18:22] adambkaplan commented on #94279
Agree - particularly since if a key/path mapping references a key that doesn't exist, the pod can't start unless the mapping is marked `optional`. I haven't experimented with `optional: true`, though...

[2020-08-28 18:23] rikatz commented on #94284
Oh now I see! Sorry! It seems that your fluent-bit is pointing to port 6443. Can you please change the deployment/daemonset to use https://10.233.0.1 without the 6443 port?

Thanks

[2020-08-28 18:36] cmluciano commented on #81121
I think this should be covered by #89120

/close

[2020-08-28 18:36] #81121 closed

[2020-08-28 18:41] lalithvaka commented on #94284
Fluent-bit does not have anything specific detail on 6443. Must be calico trying to reach on 443.
Here is our kube-proxy log as well

[code]

[2020-08-28 18:53] ahg-g commented on #94284
/uncc

[2020-08-28 18:56] rikatz commented on #94284
/assign @rikatz

[2020-08-28 19:10] rikatz commented on #94284
So it seems something got corrupted in the OS during the k8s update, or maybe something new in iptables is causing the issue. I suggest updating your RHEL to latest 7.X version (yum update) then reboot to see if this solves the problem.

[2020-08-28 19:49] gabbifish opened #94313 "PVCs specified with quantity containing suffix `m` are not counted in ResourceQuota and block ResourceQuota updates"
**What happened**:
When a pvc was specified with a quantity including the suffix `m`:
[code]

attempts to include that quantity in the resourcequota's storage  resulted in the following error, which blocked all other updates to the resourcequota:

[code]

**What you expected to happen**:
- Updates to all other quantities in the resourcequota should not have been blocked by the error above
- In gen

[2020-08-28 20:03] dwschulze opened #94314 "Adding a node to kubernetes cluster gives failed to load Kubelet config file /var/lib/kubelet/config.yaml and no networks found in /etc/cni/net.d"
I have a two node k8s cluster working. I added another node to the cluster and the `sudo kubeadm join ...` command reported that the node had joined the cluster. The new node is stuck in the NotReady state:

[code]
The `journalctl -u kubelet` shows this error:

[code]
But the file `/var/lib/kubelet/config.yaml` exists and looks OK.

The `sudo systemctl status kubelet` shows a different error:

[co

[2020-08-28 20:09] gabbifish commented on #94313
/sig api-machinery

[2020-08-28 20:12] janeczku opened #94315 "API client fails to recover when server returns "Timeout: Too large resource version" error"
**What happened**:

- Using client-go v1.18.8 to watch resources on API server versions 1.17.x and 1.18.0 - 1.18.5
- After the connection to the server is temporarily interrupted the client never recovers from `Too large resource version` error

See the earlier issue for steps to reproduce: https://github.com/kubernetes/kubernetes/issues/91073

This was assumed fixed by https://github.com/kubernet

[2020-08-28 20:13] janeczku commented on #94315
/sig api-machinery

[2020-08-28 20:26] neolit123 commented on #94314
hello. this looks like a request to support. please use the support channels and #kubeadm on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you are convinced that this is bug in kubernetes/kubernetes components, please re-open the ticket.

/triage support
/sig cluster-lifecycle node
/remove-kind bug
/close

[2020-08-28 20:27] #94314 closed

[2020-08-28 20:38] neolit123 commented on #94311
/sig testing

seems like some sort of a domain flake?
cc @BenTheElder

[2020-08-28 20:39] BenTheElder commented on #94311
this domain is netlify behind github.com/kubernetes/k8s.io
I think we should probably just update the job to retry (looks like curl can do this natively?)

[2020-08-28 20:47] BenTheElder commented on #94311
it's also weird because the domain has a legitimate letsencrypt certificate. I think there must be some flake on netlify's end.

looking around for similar issues
/assign

[2020-08-28 20:58] BenTheElder commented on #94311
I think the netlify / DNS is mismatched between netlify and kubernetes DNS settings, at some point someone added a different domain to the site that we don't use. this is causing hiccups in renewing the certs, but it's not clear if that is the root cause here.

discussing in sig-docs-tools https://kubernetes.slack.com/archives/CCTBSCVB9/p1598647924000400?thread_ts=1598647801.000200&cid=CCTBSCVB9

[2020-08-28 21:00] neolit123 commented on #92906
/sig node

[2020-08-28 21:02] neolit123 commented on #92758
/sig api-machinery

[2020-08-28 21:02] BenTheElder commented on #94311
I removed kind.docs.kubernetes.io from the netlify end (which doesn't appear to be quite right in DNS) and requested that netlify renew the cert.

I'm not sure if that was the cause though, or some other flake.

[2020-08-28 21:04] Trackhe commented on #91940
I have the Problem too. on K8s 1.19 bare-metal on arm64 ubuntu 20.04
my init config:
[code]

all https://kubernetes.io/docs/tasks/network/validate-dual-stack/ tests are working but only kubectl get nodes raspnode01 -o go-template --template='{{range .status.addresses}}{{printf "%s: %s \n" .type .address}}{{end}}' gives me only a ipv4 back.

I wouldn't care. but I can't create a service in 1.19 wit

[2020-08-28 21:07] neolit123 commented on #92803
please, try the support channels or #sig-node on k8s slack, if you are not getting a response:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/sig node

[2020-08-28 21:41] neolit123 commented on #94313
/remove-sig api-machinery
/sig storage

[2020-08-28 21:41] neolit123 commented on #94313
i guess we should leave api-machinery!
/sig api-machinery

[2020-08-28 22:32] soygalla commented on #44273
just happened to me on 1.15.12-gke.2

[2020-08-28 22:57] glittershark commented on #44273
/reopen

[2020-08-28 22:57] glittershark commented on #44273
wonder if that works

[2020-08-28 22:57] glittershark commented on #44273
hmm, guess not

[2020-08-29 00:17] rittneje opened #94321 "Feature Request: Separate Ingress from IngressRule"
**What would you like to be added**:

Currently the Ingress v1beta1 resource is responsible for holding both the TLS secret to use for each hostname, as well as the HTTP path routing rules to use at the application layer.

With the change, Ingress and IngressRule would be two separate top-level resources.
* An Ingress is responsible for saying which TLS secret to use for a given hostname. Addition

[2020-08-29 00:19] rittneje commented on #94321
/sig network

[2020-08-29 00:22] liggitt commented on #94315
Cc @jpbetz @wojtek-t

[2020-08-29 00:29] liggitt commented on #94295
Do you have the v1 CRD manifest that is being applied? What mechanism does helm use to update and create an object?

[2020-08-29 00:37] liggitt commented on #94295
spec.preserveUnknownFields cannot be set to true when creating v1 CRDs.

To get consistent results when applying an object which was created via a different API version, you may need to explicitly set fields in your manifest like ".spec.preserveUnknownFields: false"

[2020-08-29 00:41] liggitt commented on #94279
This seems roughly like expected behavior… I would not expect deleting a secret or renaming a key to delete already mounted files.

Updates to secrets take time to propagate into updates in the container. 30-60 seconds doesn't seem unexpected.

[2020-08-29 01:18] dfsdevops commented on #75342
I'm also seeing this on 1.18.6, does anyone know any workarounds for this? fwiw I do not see any kind of "NotReady" nodes. I simply scaled the worker nodes down using the TKG cli, most pods got rescheduled successfully, others did not? How can I manually detach a volume?

[2020-08-29 01:37] liggitt commented on #94321
Ingress just reached v1 in 1.19, so it is unlikely significant rework of this API will be done.

[2020-08-29 01:37] liggitt commented on #94321
cc @robscott

[2020-08-29 03:01] daixiang0 commented on #94304
/reopen

[2020-08-29 03:43] daixiang0 commented on #94304
@dims split into two issue or track in one issue is both ok i think.

[2020-08-29 04:03] robscott commented on #94321
Hey @rittneje, I agree with your idea that it would be helpful to have an API that separated routing from TLS and other config. We're actually working on just that with [Service APIs](https://github.com/kubernetes-sigs/service-apis). We want to keep the Ingress API as simple and straightforward as it is, but with Service APIs we're trying to develop an API that allows for more advanced configurati

[2020-08-29 04:16] verult commented on #93902
ACK I'm prioritizing this

[2020-08-29 04:19] #89635 closed

[2020-08-29 04:30] rittneje commented on #94321
@robscott I went through this document: https://docs.google.com/document/d/1BxYbDovMwnEqe8lj8JwHo8YxHAt3oC7ezhlFsG_tyag/preview#

My understanding is that Gateway lines up with my description of Ingress, and HTTPRoute lines up with my description of IngressRule. Thus it seems very much like the model we are looking for. However, I don't think the Gateway spec ought to include the list of routes. F

[2020-08-29 04:45] Ashwin-ks commented on #44273
this happens in "1.14.10-gke.42" version as well.

[2020-08-29 05:59] knight42 commented on #94221
/unassign

/assign @gnufied

[2020-08-29 06:34] Ark-kun commented on #7890
FUSE volumes might finally solve the issue with Kubernetes' lack of read-write-many volumes.

[2020-08-29 06:36] Ark-kun commented on #92114
Can you please share how you do this?

[2020-08-29 06:37] knight42 commented on #94275
@jpmsilva As a workaround, you could change `cpu: 1` to `cpu: "1"` and `cpu: 0.5` to `cpu: "0.5"`, as theoretically its type should be string.

[2020-08-29 06:55] knight42 commented on #94275
As per https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json:

[code]

Perhaps we should set the OpenAPISchemaFormat of `io.k8s.apimachinery.pkg.api.resource.Quantity` to `int-or-string` as well.

[2020-08-29 08:23] #77058 closed

[2020-08-29 09:58] knight42 commented on #94313
/assign

I think we should validate the value of `storage` field.

[2020-08-29 11:19] 12Dong opened #94328 "Kubernetes v1.16.7 number of CronJob exceed 20k+ and do not execute"
**What happened**:
When using Kubernetes v1.16.7, if my cronjob exceed  20k+, the new cronjob doesn't create job to do the script.

**What you expected to happen**:
The cronjob can start on time, and create job correctly.

**How to reproduce it (as minimally and precisely as possible)**:
Using kubernetes to create 20k+ cronjobs with different schedule.

**Anything else we need to know?**:
One yaml

[2020-08-29 11:23] 12Dong commented on #94328
/sig Network

[2020-08-29 12:01] hwdef opened #94329 "failed init kubernetes 19.0 in raspberry 4 with ubuntu server20.04 and kubeadm."
**What happened**:

I installed kubernetes 19.0 in raspberry4 with ubuntu server 20.04,but when I run

`sudo kubeadm init --pod-network-cidr=192.168.0.0/16` I had some errors.

[code]

**What you expected to happen**:

Initialize kubernetes normally

**How to reproduce it (as minimally and precisely as possible)**:

run` sudo kubeadm init --pod-network-cidr=192.168.0.0/16`

**Anything else we need