[2017-05-12 23:10] tudor commented on #45626
This appears to be a Docker issue, actually. `docker ps -a` lists these containers stuck in the `Dead` state, but the containers don't exist. `journalctl -u docker` shows lots of

[2017-05-12 23:11] madhusudancs commented on #28335
@MQasimSarfraz it's not fully resolved. @csbell fixed this in kubefed. We need to fix federation controller manager as well.

[2017-05-12 23:12] jeffvance commented on #44792
[45241](https://github.com/kubernetes/kubernetes/pull/45241#event-1080720530) was merged today so we could see nfs related failures again.

[2017-05-12 23:13] davidopp commented on #40403
Can you explain the escalation vulnerability? I assume that a Secret in the "tls" field of the Ingress spec has to be in the same namespace as the Ingress object (since there's no separate namespace specifier). So I don't see how it would be possible for me to have my Ingress read Secrets in someone else's namespace. I guess the vulnerability must be something else.

[2017-05-12 23:19] weaseal commented on #43356
I believe I have experienced this issue as well on a kops-deployed AWS cluster.  One node on the worker cluster had both kube-dns pods and they were both in this state.  I drained this particular worker node and replaced it and the issue did not re-appear.  I'm not sure if it's related or not, but after replacing that node, kube-dns pods were split evenly (one on each of the two worker nodes).

 h

[2017-05-12 23:20] pwittrock commented on #45457
Yeah this is a really bad UX since there is no notification if the wrong default is chosen, requests just hang with interesting log messages.  Can we detect the storage version of storage system we are talking to, and default to that?

[2017-05-12 23:27] smarterclayton commented on #40403
You have to give the ingress controller the ability to read secrets.  Which gives it the ability to do anything in the namespace you granted (and most people just grant blanket secrets).  There's no way for an etcd operator to utilize secrets without also being given effective root access.

[2017-05-12 23:30] whitlockjc opened #45754 "codegen can produce package aliases that fail verification"
While working on #45564, I ran into an issue where `./hack/verify-pkg-names.sh` was failing on generated code.  What is happening is whenever you have two separate packages with the same name, codegen will attempt to create a unique alias by walking up the package hierarchy and concatenating the directory names with a `_`.  **But** this ends up causing a verification failure because `_` _"breaks g

[2017-05-12 23:36] riturajtiwari commented on #45438
So, I followed this guide step by step: https://github.com/kelseyhightower/ingress-with-static-ip
My `Ingress` definition is different as it uses my allocated public IP:
[code]

My GCP Console Networking shows:
[code]

Forwarding rule for the static IP is:
[code]
What is the best way to filter StackDriver logs on GCP to give me ingress logs?

[2017-05-13 00:00] bowei commented on #45554
@dcbw -- is there a way to stub out the code using build constraints? (https://golang.org/pkg/go/build/#hdr-Build_Constraints)

[2017-05-13 00:04] ixdy commented on #45554
@bowei yeah we do things like this in a variety of places, see e.g. `pkg/util/resourcecontainer/resource_container_linux.go` and `pkg/util/resourcecontainer/resource_container_unsupported.go`, or the `pkg/kubelet/cadvisor` package, or a variety of other places.

[2017-05-13 00:07] ixdy commented on #45554
For this particular example, maybe just use `pkg/util/flock`?

[2017-05-13 00:08] bowei commented on #45554
oh nice -- sending PR

[2017-05-13 00:11] jdfless opened #45756 "cannot get pod name from cronjob"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: bare metal VM
- **OS** (e.g. from /etc/os-release): Ubuntu 12.04 / Ubuntu 16.04

**What happened / expect to happen / how to repro**:
Following the simple tutorial here: https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs, I am unable to get the pod name that run

[2017-05-13 00:12] bowei commented on #45554
n/m -- looks like there is one already on its way

[2017-05-13 00:14] bradfitz commented on #45216
Go's http2 tracking bug is: https://github.com/golang/go/issues/20302 (I think we're just going to pay the cost of an extra goroutine (extra 2KB) for the next Go 1.8.x) For 5,000 connections that's about 10MB of extra memory. Is that a problem?

Go's general bug is now: https://github.com/golang/go/issues/20351

[2017-05-13 00:15] enisoc opened #45757 "update-staging-godeps.sh should not depend on local Go version"
In https://github.com/kubernetes/kubernetes/pull/45752 it was discovered that `update-staging-godeps.sh` generates different output depending on your local Go version, rather than pinning the Go version inside a Docker build container.

This makes it dangerous to run `update-all.sh` on a release branch, since you may have a different Go version installed than the one on which the release branch is

[2017-05-13 00:22] rmmh commented on #45554
I think both #45601 and #45642 are required.

[2017-05-13 00:29] nicksardo commented on #45438
@riturajtiwari Still need more data
[code]

That forwarding rule shows the name of ingress is "ap-qa", but that's the static ip name (I would expect the ingress name myapp-ingress) . Also, you show the nginx ingress with name "nginx", so I have no constant information to help.

[2017-05-13 00:37] nicksardo commented on #44521
@riturajtiwari In #45438, you say that it never goes from 502 to 200.  Therefore, it's not fair to say it takes hours to provision.  It's more likely a configuration problem that is resulting in it never provisioning.  I'll continue discussion in that thread.
I've done a lot of testing on the ingress controller and have never seen it take longer than a few minutes, though I hear it can sometimes t

[2017-05-13 00:39] Congelli501 opened #45759 "[Feature request] Run Job tasks sequentially"
**FEATURE REQUEST**

It would be nice to create a single Job with multiple pods, that would run sequentially

That could be:
 - Perform a database backup
 - Apply default data to a database
 - Migrate some data
 - Perform another backup

Each tack must be run sequentially as they depend / are meaningless if ran in parallel or out of order.
The list of task form a single job that can be scheduled v

[2017-05-13 00:53] bsalamat commented on #45717
@luxas The title is confusing. If a node is not reachable at all, why should scheduler schedule any pods on it and even if the scheduler does, how does the node know that it should run the pod? I can see how this may work if the node is not ready for reasons other than reachability though.

[2017-05-13 00:53] nicksardo commented on #45438
Here's my full working example. I just tested it and it took ~3 minutes to start returning.
[code]

[2017-05-13 00:56] fejta commented on #44792
@jeffvance if an issue is assigned to you can close it with the `/close` command (and you can assign it to yourself with `/assign`).

Full list of commands is here: https://github.com/kubernetes/test-infra/blob/master/commands.md

[2017-05-13 00:56] davidopp commented on #40403
Two questions about what you just wrote:

1) If there's one Ingress controller per cluster, I guess it must use a service account that can read all secrets in the cluster. But above you said "You have to give the ingress controller the ability to read secrets. Which gives it the ability to do anything in the namespace you granted (and most people just grant blanket secrets)." Can you clarify? How

[2017-05-13 01:04] yguo0905 opened #45760 "Encode k8s version in node conformance test image name"
Each version of k8s should have its corresponding node conformance test, which includes the tests and the validations required by that version. The latest node conformance test image is `gcr.io/google_container/node-test:0.2`. The name and the tag do not clearly indicate which k8s version the test is for.

We could encode the k8s version into the image name to make this clear. For example, `gcr.io

[2017-05-13 01:04] yguo0905 commented on #45760
@Random-Liu @dchen1107

[2017-05-13 01:18] #43193 closed

[2017-05-13 01:29] wongma7 commented on #45613
FYI, closed by mistake, sorry. We still need to track it 'til it's fixed in 1.6.x

[2017-05-13 01:29] enisoc commented on #45613
@wongma7 I think an expedited release would be warranted if there are a large number of users who both (1) are affected by this issue, and (2) need something in 1.6.3 so rolling back to 1.6.2 is not good enough.

I don't know how common it is for users to rely on this feature, so any signal we can get on that would be helpful.

[2017-05-13 01:37] ahmetb commented on #45744
Switched to another Mac machine with nearly identical setup and the error did not happen. Weird. I’ll close for now.

[2017-05-13 01:37] #45744 closed

[2017-05-13 01:43] riturajtiwari commented on #45438
As requested:
[code]
and
[code]

I guess it the `in-use` status that is causing trouble? Let me drop and re-create the ingress so it detaches from the previous forwarding to my app.

[2017-05-13 01:48] riturajtiwari commented on #45438
So I deleted and re-created the `Ingress` and it continues to show the error. BTW, none of this is obvious if you simply look at the k8s UI.

[code]

[2017-05-13 01:50] judexzhu commented on #34066
Hi,

I noticed the same issue with below env
CoreOS stable version: 1353.7.0
Kernel : 4.9.24-coreos
rkt version: 1.25.0
docker: 1.12.6
kubernetes version : v1.6.3

kubelet-wrapper[1625]: E0513 01:41:55.155706    1625 container_manager_linux.go:638] error opening pid file /run/docker/libcontainerd/docker-containerd.pid: open /run/docker/libcontainerd/docker-containerd.pid: no such file or directory

[2017-05-13 01:58] riturajtiwari commented on #45438
Also, I went into GCP web console, Networking panel, chose to edit the Forwarding rules for the public IP. The forwarding rule was stuck on a previous (now defunct) service. I changed it via GCP console to point it to the current target proxy (`k8s-tp-default-nginx--56786697cf19xxxx`). This was done about 5 mins ago and has not helped.

I think there might be two underlying issues:

1. Creating a

[2017-05-13 02:08] nicksardo commented on #45438
https://github.com/kubernetes/ingress/blob/master/docs/faq/gce.md#i-shutdown-a-cluster-without-deleting-all-ingresses-how-do-i-manually-cleanup
Resources leak when clusters are terminated without deleting ingress objects. You should delete all GCP-K8s network resources and ingress objects.

[2017-05-13 02:15] riturajtiwari commented on #45438
1. The cluster was auto-deleted by GCP after 30 days probably because it was running alpha features. Should GCP be responsible for cleanup?
2. I deleted by `Ingress` and re-created it. Was this insufficient or should I delete my public IP and allocate a new one?

[2017-05-13 02:46] gyliu513 commented on #45717
+1 to this, some customer want to use `host network` so do not have calico installed, and for this case, we should enable the pod can be created. Perhaps introducing a new taint for this to enable the pod can still be scheduled to the node even if calico is not running.

[2017-05-13 02:52] nicksardo commented on #45438
1- I would assume not. Most people don't let alpha clusters sit around as they cost money and the time limit prevents people from using them for production.

2- No, it's not sufficient. As I just said, you need to delete the ingresses, then all GCP network resources that have the `k8s-` prefix.  With orphaned resources, the controller can get into a bad state in several areas. In your case, I reco

[2017-05-13 03:03] riturajtiwari commented on #45438
@nicksardo appreciate your help. I will try your steps and let you know. Please realize that this defect ticket was opened after a fair amount of searching on Stackoverflow. Also realize that both GCP and k8s UI do not give sufficient feedback, leading to defect reports - maybe something to bring up with product management.

[2017-05-13 03:51] k82cn commented on #45717
similar question with @bsalamat , is there any condition to identify "network" issues? If so, that'll be great to have such a feature.

[2017-05-13 03:58] justinsb opened #45762 "Internal LoadBalancers should be supported by a field"
AWS has supported internal ELBs for a long time with an annotation, I just saw support for the comparable feature on Azure (https://github.com/kubernetes/kubernetes/pull/45473), and GCE apparently has a comparable feature: https://cloud.google.com/compute/docs/load-balancing/internal/

We should probably create a field in the Service definition, seeing as this is widely supported, and deprecate (b

[2017-05-13 04:14] nicksardo commented on #45671
Tests are passing now.
/close

[2017-05-13 04:14] #45671 closed

[2017-05-13 05:00] roberthbailey commented on #45594
/cc @kubernetes/sig-cluster-lifecycle-misc (since there isn't a better alias for docs)

[2017-05-13 05:05] suyogbarve commented on #45484
This issue is already resolved after following commit
https://github.com/kubernetes/kubernetes/commit/15c492bb2ea92d617db6681c09e095f4cad5456a#diff-fa4312d87a8e13262ade8a784ada4693
I have verified using latest kube-scheduler
/assign @wojtek-t

[2017-05-13 05:06] loutian commented on #23864
I think it's very helpful for webgames.   We need to start thounds of services,   there're many services up and down in everyday.  So if it supports port ranges in services,  that will be very very helpful.

[2017-05-13 05:48] suyogbarve commented on #45609
@atombender : This issue is already resolved, please try upgrading your server

kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1+coreos.0", GitCommit:"9212f77ed8c169a0afa02e58dce87913c6387b3e", GitTreeState:"clean", BuildDate:"2017-04-04T00:32:53Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", Gi

[2017-05-13 06:00] atombender commented on #45609
@suyogbarve Awesome. We've been deferring the upgrade to 1.6.x to minimize disruption, but we'll make it a priority now. (Yeah, that should have been `replace`, not `apply`.)

[2017-05-13 06:19] suyogbarve commented on #45461
@eparis @fabianofranz
updated version of pflag also resolves this issue. It supports both --long-flag=true and -l true

[2017-05-13 06:41] JorritSalverda commented on #45398
@foxish that sounds more applicable. Will it allow both an integer as well as a percentage, like _minAvailable_ does?

[2017-05-13 07:42] sttts commented on #45542
This is not fixed by #44861.

[2017-05-13 08:15] kgrvamsi commented on #29330
Does Kubectl have a option to provide the etcd key when trying to query the component status?
something like

[code]

[2017-05-13 09:50] luxas commented on #44321
ping @kubernetes/sig-node-bugs
Please take a look at this flake

Assigning @vishh to triage and redirect to the right person...

[2017-05-13 11:28] wojtek-t commented on #45216
@bradfitz - 10MB in case of 5,000 connection is not a problem at all for us.

[2017-05-13 11:40] wojtek-t commented on #45216
@bradfitz - does it mean that you're going to create "1.8.2" patch release? If so, when can we expect this?

[2017-05-13 12:11] xiao-zhou commented on #45511
@deads2k you can put my name on "does cross namespace list and watch work. Proper rejects for no-namespace creates." For a start, I'll do a small PR.

[2017-05-13 12:19] erikbgithub commented on #7996
@thockin have you gotten the time to look at the iptables?

[2017-05-13 12:36] sbezverk commented on #45613
@enisoc this feature is used a lot by kolla-kubernetes project.  Rolling back is problematic, our gating system works with centos and Ubuntu images, with centos we can go back to 1.6.2 but with Ubuntu, it looks like 1.6.2 binaries have been already removed. We use binaries which are provided by repo and not static files.

[2017-05-13 12:37] sdminonne opened #45767 "apiextesions-server integration test: server panic on CRUD with de-registered custom resource"
**Kubernetes version** (use `kubectl version`):
Kubernetes HEAD

**Environment**:
- **Cloud provider or hardware configuration**: linux
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):NAME=Fedora25

**What happened**:
apiserver panic

**What you expected to happen**:
No panic

**How to reproduce it** (as minimally and precisely as possible):
Testcase is going to be sent as a P

[2017-05-13 12:47] JeanMertz commented on #22368
Thanks @tazjin.

I've just done the same. Works great.

We're using [kubecrt](https://github.com/blendle/kubecrt) to convert Helm charts to Kubernetes resource files, and since both `kubecrt` and `helm` use Sprig to extend to default Go templating  functions, I was able to add this line to the annotations:

[code]

(in this case, this is a chart which defines `envs` and `secrets`, which are then i

[2017-05-13 12:59] while1eq1 commented on #28226
@mikesplain @Deepakkothandan

k8s version 1.6.2

[code]

[2017-05-13 13:13] erikgrinaker commented on #45484
Great, many thanks!

[2017-05-13 13:30] k82cn commented on #44127
#44309 was merged, close this issue.

[2017-05-13 13:30] #44127 closed

[2017-05-13 13:42] chepurko commented on #44214
I have the same deal with a similar setup. I have an `nginx` directory with `nginx/nginx-conf-d` and two other subdirectories inside. This seems to happen on and off but I'm not sure. Is there some order to the way ConfigMaps mount?

[2017-05-13 14:04] ianchakeres commented on #45143
Here is a method that tests whether a PVC is associated with a PV that is actively in use by a pod.

@jingxu97 - can you please take a look at this code and also let me know if you have any advice on where this method should live?

`

    func isPVCActive(claim *v1.PersistentVolumeClaim)
        // prevent deletion of a pvc that is bound to a pv
        // if the pv is used by an active pod

[2017-05-13 14:31] sbezverk commented on #45717
+1 for this feature. For baremetal node, you probably will use host networking for the performance reasons. You would not want to cripple it with using overlay networking.

[2017-05-13 14:38] asifhj commented on #7996
Try this version of docker: Version:      1.10.3

[2017-05-13 14:42] chepurko commented on #44214
Well, this was a real pain in the butt, but I basically had to make non-recursive directories in the pods in order to make this work. So the `volumeMounts` section in my Deployment looks like this now:

[code]

You can't change the `/etc/nginx` directory because that's a built-in compilation flag to NGINX. So you have to put all the original NGINX subdirectories into a different directory under `/

[2017-05-13 16:11] shlompy commented on #44214
I've already done something similar byb using non-recursive directories for volumeMounts, then using a script in the container which copies all the relevant files from the mounts to the relevant destination.

Would have been nice if K8s will fail such pod when trying to create it, as nested volumeMounts can easily be identified as part of the values in the .yaml file.

[2017-05-13 16:39] rahulkrishnanfs commented on #45762
/assign @rahulkrishnanfs

[2017-05-13 16:40] chepurko commented on #44214
I haven't done comprehensive testing, so this is basically just assumption, but I _may_ have started experiencing this after upgrading my cluster to Kube Server v1.6. What version is everyone using here?

I'm on:
[code]

[2017-05-13 16:41] everett-toews commented on #36601
Here's my workaround until this feature become a reality, [Run Once DaemonSet on Kubernetes](http://blog.phymata.com/2017/05/13/run-once-daemonset-on-kubernetes/).

[2017-05-13 16:48] shlompy commented on #44214
I'm on v1.4.1

I think the mount errors are pretty clear (device or resource busy). The mount cannot be unmounted if there are files inside it which are still being used by the system (In that case - the nested mount is still mounted when it tries to mount the parent path).

Usually in such cases, a user can force unmount, but that might not be healthy and I'm not expecting such a fix.
Technically

[2017-05-13 16:57] foxish commented on #45398
Yes, it will have similar semantics to `minAvailable`.

[2017-05-13 17:31] themarcelor opened #45770 "When a deployment duplicate is created containing a different label, it leads to an orphan ReplicaSet"
BUG REPORT:

**Kubernetes version**:
[code]
**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**:

`CentOS Linux release 7.3.1611 (Core)`
- **Kernel** (e.g. `uname -a`):

`Linux ip-10-0-0-150.us-west-2.compute.internal 3.10.0-514.10.2.el7.x86_64 #1 SMP Fri Mar 3 00:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**:
- **Others**:

**What happened**:
From ht

[2017-05-13 17:34] themarcelor commented on #24137
@nikhiljindal, created issue https://github.com/kubernetes/kubernetes/issues/45770 as per your guidance.

[2017-05-13 17:34] thockin-cc commented on #7996
We ship 1.11, I have heard 1.12 works

On May 13, 2017 7:39 AM, "Ase" <notifications@github.com> wrote:

[2017-05-13 17:52] justinsb opened #45772 "servicecontroller.go has multiple node-selection criteria"
For reasons that are not entirely clear to me, and as spotted by @Sprinkle in https://github.com/kubernetes/kubernetes/pull/44745#issuecomment-301252906, there are two functions for selecting nodes in servicecontroller.go: includeNodeFromNodeList & getNodeConditionPredicate.

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L585-L590

I think include

[2017-05-13 17:58] bradfitz commented on #45216
I will discuss it with the Go team on Monday.

[2017-05-13 18:38] k8s-merge-robot opened #45774 "cos-docker-validation-slow suite fails to start clusters"
### Failure cluster [ea6679417165f10786e6](https://go.k8s.io/triage#ea6679417165f10786e6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    29 jobs failed,    464 builds failed.
Failure stats cover 1 day time range '12 May 2017 18:02 UTC' to '13 May 2017 18:02 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 29 |

##### Top

[2017-05-13 19:00] thomasmodeneis commented on #45324
I'm also having same issue ...after installing jenkins with helm:

`helm install stable/jenkins --version 0.6.2`

[2017-05-13 20:55] sdminonne opened #45776 "apiextesions-server integration test: custom resource instantiated self link looks broken"
@deads2k as discussed via IRC my understanding is that customResource selfLink is broken.
For example for resource created [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-apiextensions-server/test/integration/basic_test.go#L85) the selfLink is `not-the-default/noxus/foo` while as far as I understand it should be something like:
`/apis/mygroup.example.com/v1alpha

[2017-05-13 21:08] yogeshnath commented on #43805
I'm getting totally opposite error: failed to create kubelet: misconfiguration: kubelet cgroup driver: "systemd" is different from docker cgroup driver: "cgroupfs"

[2017-05-13 21:54] robermorales commented on #41881
I used this container in the past with this purpose, and it did the job.

https://hub.docker.com/r/jwilder/nginx-proxy/

[2017-05-13 22:07] dlmiddlecote opened #45779 "Pods in StatefulSets cannot resolve each other by expected hostnames"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): StatefulSets, DNS (Found some issues, but all with resolutions I have tried)

---

*

[2017-05-13 22:39] vishh commented on #44321
@msau42 @jingxu97 the failing test is about hostpath volumes. Can either of you take a look?

[2017-05-13 22:45] jhorwit2 opened #45780 "DaemonSet FailedPlacement events fire when they shouldn't"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

DaemonSet FailedPlacement

**Is this a BUG REPORT or FEATURE REQUEST?** (choose on

[2017-05-13 23:44] thockin commented on #45216
I just want to say thanks to everyone involved!

On May 13, 2017 10:58 AM, "Brad Fitzpatrick" <notifications@github.com>
wrote:

[2017-05-13 23:56] cblecker commented on #44803
@todd-dsm:
I've opened https://github.com/kubernetes/kubernetes.github.io/pull/3737 to update the kubernetes documentation, and https://github.com/Homebrew/homebrew-core/issues/13552 to potentially update how homebrew works to make this clearer.

[2017-05-14 00:04] smarterclayton commented on #40403
If the user grants access to any secret, it can do anything that any service account can do (because service account secrets let you act as the user).

Anyone wanting to run an ingress controller across multiple namespaces would have to manually grant the ingress controller permission to see its secrets (or just one secret) which would be painful.

For an operator, any operator that creates secret

[2017-05-14 00:43] smarterclayton commented on #45300
If you want to provide active/master role assignment in a service, you may
want to consider a controller that reads pods from a service and copies one
of them to a new service endpoints:

Service postgres
  selector: app=postgres
Endpoints postgres
  ... all IPs under postgres

Service postgres-master:
  annotations:
    perform-leader-election-on: postgres
  selector: empty
Endpoints postgres-mas

[2017-05-14 02:16] mtaufen opened #45783 "make quick-release generates some protos that make doesn't"
I'm not really sure how big a problem this is, but:

`git fetch upstream`
`git checkout upstream/master` (4807e6c)
`make`
`git status`
[code]

`make quick-release`
`git status`
[code]

Which means that generated code we check in isn't staying up to date, which I'd wager is because most people just run `make` when working on stuff.

Assigning to @thockin initially, since your name dominates `git bl

[2017-05-14 04:19] GoodFaithParadigm8 commented on #44665
Reproduce the same error when doing a tutorial from Udacity called Scalable Microservices with Kubernetes https://classroom.udacity.com/courses/ud615, at the point of Using Kubernetes, Part 3 of Lesson.

Launch a Single Instance:

`kubectl run nginx --image=nginx:1.10.0`

Error:

`Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machin

[2017-05-14 05:27] xiangpengzhao commented on #45780
DaemonSet controller will run predicates to check if node should run daemon pod. In the progress of predicates, it will check if pod fits resources first before other predicates such as PodSelectorMatches. If PodFitsResources fails, it will throw the error in this issue and return without checking other predicates.

/cc @davidopp @kargakis

[2017-05-14 06:21] zhouhaibing089 commented on #45613
Perhaps we should add an e2e test case for subPath.

[2017-05-14 07:11] warmchang opened #45785 "kubeadm returned "Illegal instruction"."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
kubernetes-cni (0.5.1-00)
socat (1.7.2.4-2)
kubelet (1.6.3-00)
kubectl (1.6.3-00)
kubeadm (1.6.3-00)

**Environment**:
- **Cloud provider or hardware configuration**: Raspberry Pi Model B+ with the latest hypriotos (hypriotos-rpi-v1.4.0.img).
- **OS** (e.g. from /etc/os-release):

[2017-05-14 08:10] luxas commented on #45717
@bsalamat @k82cn Sorry for the confusion, was in a hurry when I wrote the issue description initially. This is not about connectivity, full connectivity is assumed at all times.

This is about nodes that have some known "problem" e.g. NetworkNotReady. That condition means that the node is reachable over the network but no CNI network (e.g. kubenet, Weave or Calico) is installed.

However, currentl

[2017-05-14 08:19] luxas opened #45786 "/healthz of the apiserver should return ok first when ready to serve requests"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernet

[2017-05-14 08:22] luxas commented on #45717
Currently we _could_ workaround this by using DaemonSets as they aren't using the default scheduler: https://github.com/kubernetes/kubernetes/issues/42002
But that'd be a poor solution and will stop working in a future release.

[2017-05-14 09:41] yasassri opened #45787 "Connection refused for apiserver"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Conection refuse : 443, apiserver not starting

---

**Is this a BUG REPORT or FEATUR

[2017-05-14 10:51] deitch commented on #9180
Is it possible this is back in 1.6.2 (didn't check 1.6.1 or 1.6.0)? I have several containers that just bump me out of a `kubectl exec -it <pod> sh` after a few mins (I think it is <5, but didn't time precisely).

Or is it a config option?

[2017-05-14 10:57] deitch commented on #9180
Yep. 60 seconds and I get booted. kubelet is set with option `--v=2`, and the only things in the logs the entire time are the connection to exec and a bunch of `MountVolume.SetUp` successes:

[code]

Nothing for being kicked out, though.

[2017-05-14 13:30] warmchang commented on #45785
Change repo from kubernetes-xenial to kubernetes-jessie, but apt-get can't found the kubeadm packages.
Where can I find the deb package which support Raspberry Pi Model B+ with the latest hypriotos (hypriotos-rpi-v1.4.0.img)?

[2017-05-14 13:41] warmchang commented on #45785
Ref "https://packages.cloud.google.com/apt/dists/kubernetes-jessie/main/binary-armhf/Packages", there are only kubectl package.

[2017-05-14 14:54] lukaszo commented on #45780
I think this bug appeared when critical pods were introduced and order of checking predicates changed.
The event is useless for daemonsets in current situation :/ I'm not sure if there is a clean way to fix it.

[2017-05-14 15:15] kargakis commented on #45780
@kubernetes/sig-apps-bugs @kubernetes/sig-node-bugs @kubernetes/sig-scheduling-bugs

[2017-05-14 15:34] deitch opened #45790 "hairpin not set by kubelet with CNI plugin"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kube-proxy clusterIP target hang

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2017-05-14 15:35] deitch commented on #45790
cc @bboreham.

[2017-05-14 15:36] deitch commented on #45790
FYI, doing a simple clusterIP type (without port) has same effective result:

[code]

[2017-05-14 15:50] deitch commented on #45790
Ah, could this be a hairpin issue?

[2017-05-14 16:46] deitch commented on #45790
Yes, confirmed it is. It works when I enable hairpin on the individual `veth`.

[2017-05-14 16:52] deitch commented on #45790
So, the question is: is this a kubelet issue, since kubelet sets `--hairpin-mode` to `"promiscuous-bridge"` by default and then falls back to `"hairpin-veth"`? Or is it a weave problem. In other words, is kubelet not passing the option on to CNI? Should it?

[2017-05-14 17:04] caseydavenport commented on #45762
IIUC, internal LBs are meant for load balancing across instances (Nodes), rather than being aware of and load balancing to _Pods_, and Pod->Pod load-balancing is already provided through kube-proxy + ClusterIP Services.

@justinsb could you describe a bit more why a user of Kubernetes would want to use an internal cloud-provided load balancer?

[2017-05-14 17:13] thockin commented on #45762
I'm wary of making things API features without broad support, but this
might be OK.  I'm not keen on how this whole resource has evolved, partly
because expressing this is not at all clean.

@nicksardo for GCE ILB

Casey - the "internal" here means "inside my network" as opposed to inside
my cluster.  For example, in GCP, exposing a kube service to other GCE
VMs.  It is still node-based as before,

[2017-05-14 17:13] caseydavenport commented on #35911
Note that the PR to move NetworkPolicy to v1 did not make it into v1.6, but is now planned for 1.7: #39164

[2017-05-14 17:22] caseydavenport commented on #29742
The portmap plugin (Currently in a PR https://github.com/containernetworking/plugins/pull/1) will support disabling masquerade.

Once we move kubenet to a CNI plugin and use that plugin for host ports then this issue should be fixed, I think.

[2017-05-14 17:26] rpothier opened #45791 "cidr_allocator_test should test for IPv6"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubern

[2017-05-14 17:30] deitch commented on #45790
(renamed topic)

[2017-05-14 17:32] deitch commented on #45790
Thanks to @bboreham for helping figure this out.

Using weave (latest), it looks like the hairpin mode is not set by kubelet. I start a new container and get the following in kubelet logs:

[code]

Note that hairpin mode was set correctly earlier on:

[code]

[2017-05-14 17:35] phsiao commented on #45334
We are experiencing similar issue with our CNI dhcp plugin, where the infra-container is terminated while CNI plugin is still processing ADD.  The teardown part of it will also fail because the netns is missing.  Not sure if it is a new issue in 1.6, can verify if needed.

[2017-05-14 17:37] jhorwit2 commented on #42164
I'm seeing this quite a bit on 1.6.3 across almost all my nodes.

[code]

[2017-05-14 18:10] jhorwit2 commented on #45780
@lukaszo I feel like a clean solution would be to look at the predicate reasons twice. The first time you look at the `PredicateFailureError` reasons and keep track if any are not intentional. If all of the reasons are intentional then skip checking the `InsufficientResourceError` reasons.

[2017-05-14 18:20] kargakis commented on #45779
@kubernetes/sig-apps-bugs

[2017-05-14 18:28] kargakis commented on #45770
When you say "I had a deployment with label A and I went ahead and tried to replace it by introducing a change to its yaml (basically changing it to use label B)" what labels do you mean?

1. Metadata labels (d.labels)
1. Label selector (d.spec.selector)
1. or podtemplate labels (d.spec.template.labels)

?

You probably want https://github.com/kubernetes/kubernetes/issues/36897

[2017-05-14 18:29] kargakis commented on #45770
@kubernetes/sig-apps-misc

[2017-05-14 18:32] kargakis commented on #45461
Note that --cascade=false wasn't working correctly until recently for `delete` and that should be fixed by https://github.com/kubernetes/kubernetes/pull/45661

[2017-05-14 18:44] danwinship commented on #35911
Oh, I didn't know about this bug and that didn't get changed in #39164 but we can do it as another PR after. (I'm trying to not make any more changes there so we can get it merged.)

[2017-05-14 18:47] lukaszo commented on #45780
@jhorwit2 actually just changing order of checks in GeneralPredicates may just work. I'm testing the fix now.

[2017-05-14 19:03] kargakis commented on #44918
@kubernetes/sig-network-misc

[2017-05-14 19:26] liggitt commented on #40476
closing in favor of https://github.com/kubernetes/features/issues/279

[2017-05-14 19:26] #40476 closed

[2017-05-14 21:01] sttts commented on #45511
@xiao-zhou done. I have split apart "rejects for no-namespace creates". @nikhita has a test ready if I have understood her correctly.

[2017-05-14 21:03] derekwaynecarr commented on #43704
If you are running a kubelet in a container on docker for Mac, and you were getting the error about failed to create QoS containers this should have been fixed by https://github.com/kubernetes/kubernetes/pull/45515 the issue was docker vm for some reason has openrc cgroup

[2017-05-14 21:08] nikhita commented on #45511
@sttts thanks! yes, it is ready. will update the PR tomorrow and address comments.

[2017-05-14 21:13] vishh commented on #27754
@crassirostris possible use case for kubelet rotating logs.

[2017-05-14 21:38] crassirostris commented on #27754
@krmayankk Currently there's no thought through story around logging at all. Log rotation is configured by the kubernetes deployment tool, e.g. if you use `kube-up.sh`, it installs and configures logrotate on the nodes but without the ability to configure it without changing the scripts.

It's not a perfect situation and we're working on changing that and formalizing how log rotation and storage m

[2017-05-14 22:43] lukaszo commented on #45780
Ok, GeneralPredicates returns all reasons. Error that pod doesn't match the node is also returned but because it's "intentional" there is no event for it.
The event "Node didn't have enough resource" should be sent only when there are no other "intentional" reasons.

[2017-05-14 22:57] robertojrojas opened #45795 "pull-kubernetes-federation-e2e-gce flake: PR #45781"
Test pull-kubernetes-federation-e2e-gce for PR #45781  is failing.

`Test name:` pull-kubernetes-federation-e2e-gce
`Commit link:` e790df2
`Details:` https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45781/pull-kubernetes-federation-e2e-gce/4590/
`Command:` @k8s-bot pull-kubernetes-federation-e2e-gce test this

[2017-05-14 23:53] gyliu513 commented on #45780
Seems we are not doing `EssentialPredicates` to check `nodeSelector`:  https://github.com/kubernetes/kubernetes/blob/fb3353c769b8344aad86a1bf34b6c2936f28d306/pkg/controller/daemon/daemoncontroller.go#L981-L987

Not clear why only have `EssentialPredicates` for only `CritialPod` but not other pods.

[2017-05-15 01:12] wanghaoran1988 commented on #45717
xref : https://github.com/kubernetes/kubernetes/issues/42001

[2017-05-15 01:13] ferdinand-swoboda commented on #43389
+1 on Openstack Heat

[2017-05-15 01:17] davidopp commented on #45717
Indeed someone is already working on this (#42406). Feel free to comment on that PR. I think there are some issues with it, for example it appears to be using one taint for everything instead of one taint per condition. I haven't had a chance to look at it.

We should not hide behavior like this behind flags. If a pod wants to schedule on a node with NetworkNotReady taint, it should have an explic

[2017-05-15 01:38] k82cn commented on #45717
Just go through #42406 , it handled this case by taint for everything as davidopp said. Appended a comments in #42406 for this case.

@luxas , I think we should not mark `NodeReady` to `ConditionFalse` if `NodeNetworkUnavailable` is acceptable. IMO, if `NodeReady` is `False`, it means that node can not run any Pod event it tolerant everything, e.g. some internal critical issue of kubelet.

[2017-05-15 01:49] #41866 closed

[2017-05-15 02:05] k82cn commented on #45780
Yes, I think maybe we need to check reason list twice: `NodeSelector` check is in tail of predicate list.

[2017-05-15 02:13] hiscal2015 commented on #45324
@xiangpengzhao maybe this is the cause, but for my use case, I can't change that value, so finally I use a init container to get it work.

@thomasmodeneis

[code]

[2017-05-15 02:15] #45324 closed

[2017-05-15 02:21] k82cn commented on #45499
it seems more about controllers instead of scheduler :).

/cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-05-15 02:39] superbrothers commented on #29386
@yissachar Kubectl supported context completions for config use-context from v1.7.0-alpha.2. Can you close this issue?

[2017-05-15 02:57] krmayankk commented on #27754
@crassirostris is there a proposal around it ?

[2017-05-15 03:06] jhou1 commented on #45679
@divyenpatel @wongma7 Having `disk.EnableUUID = "TRUE"` on the node VM fixes the problem, thank you.

[2017-05-15 03:19] jeffvance commented on #44792
Thanks @fejta
/close

[2017-05-15 03:19] #44792 closed

[2017-05-15 03:27] smarterclayton commented on #45762
I'd be cautious about adding more things to Service, especially as other
groups are gearing up to build policy objects around service.  Could we
safely model options for internal load balancing as a separate resource
object without having potential conflicts?

The ingress extensions discussion is extremely relevant here re: support.

On Sun, May 14, 2017 at 1:13 PM, Tim Hockin <notifications@githu

[2017-05-15 03:38] justinsb commented on #45762
My thought process is:

1. All the clouds should use the same annotation
2. We're not using annotations any more, we're using fields

And I agree @thockin it seems that we don't want to add fields for features that e.g. only AWS has.  The challenge is that AWS therefore creates an annotation, and then Azure & GCE create their own annotations.  That is just pointlessly annoying for users, and not g

[2017-05-15 03:39] shashidharatd opened #45803 "kubelet unit test flake"
here is one such instance where kubelet unit tests are failing
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45798/pull-kubernetes-unit/30523/

[2017-05-15 03:40] madhusudancs commented on #45795
/sig federation
/assign @shashidharatd @madhusudancs

[2017-05-15 03:41] madhusudancs commented on #45795
cc @MrHohn

[2017-05-15 03:56] thockin commented on #45762
The intent was always that various clouds could do their own thing, and
if/when a preponderance of platforms supported a feature, we would
centralize it.

The problem is that Service has grown unwieldly.  It's not that we don't
have other loadBalancer and externalTraffic fields - we do.  They are just
awful and getting worse.  I will have more time to think of this next
week...

On Sun, May 14, 20

[2017-05-15 04:12] cblecker commented on #45795
Details on the types of failures and frequency: https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=pull-kubernetes-federation-e2e-gce

In the last two days in particular, the following tests have been timing out:
- [k8s.io] Federated Services [Feature:Federation] with clusters Federated Service should create and update matching services in underlying clusters
- [k8s.io]

[2017-05-15 04:29] madhusudancs commented on #45795
@cblecker Thanks. And yes we are aware of it. @shashidharatd is working on a fix - PR #45798.

[2017-05-15 05:00] CallMeFoxie commented on #43704
This may fix our use case as well as we were using OpenVZ branded kernel on some test nodes apparently which adds vz cgroup :) will try later today.

[2017-05-15 05:45] aliouba commented on #45727
@jingxu97 everything seems to work very well. I don't have any other error.

[root@aliou2 ~]# journalctl -xe
-- Subject: Unit session-11.scope has finished start-up
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Subject: Unit session-11.scope has begun start-up
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/sys

[2017-05-15 06:01] k82cn commented on #45717
slack with luxas, if do not mark `NodeReady` to `ConditionFalse`, that may introduce backward compatibility issue :).

[2017-05-15 06:03] #45554 closed

[2017-05-15 06:32] sttts commented on #43781
@deads2k any immediate idea?

[2017-05-15 07:00] wojtek-t commented on #45037
@xiang90 - friendly ping. Were you guys able to find anything? It seems we are hitting this problem from time to time.

[2017-05-15 07:11] karunakar1122v commented on #45655
In addons directory Heapster and InfluxDB and Grafana yaml file not found.Can you please let me know where I can find.

[2017-05-15 07:57] zhouhaibing089 opened #45811 "ServerTimeout when there are a huge amount of requests on a specific resource"
We are running on version 1.5.2, when I search similar issue through the list, I found [this](https://github.com/kubernetes/kubernetes/issues/41640) is somewhat relevant.

### What I did

We designed a load test on apiserver, which can be simply described as below:

1.  we create ten configmaps in a given namespace.
1.  we spawn 500 pods which run `curl https://..../api/v1/namespaces/<ns>/configma

[2017-05-15 08:00] shashidharatd opened #45812 "Federation: Handling deviations from k8s service registry"
This issue is to continue the discussion in #45798, The fix in the PR is temporary and would be reverted as soon as the permanent solution is arrived at.

We want to implement the defaulting `ExternalTrafficPolicy` logic for Service in registry, (for both create and update). We at federation are currently not using the same set of Rest functions for Service. This was agreeable as some of the logic

[2017-05-15 08:03] zhouhaibing089 commented on #45811
cc @gmarek @wojtek-t I think you guys might have some ideas on the performance part, could you please help out?

[2017-05-15 09:00] Pensu commented on #43989
@fejta Hi, I am running tests, but not able to see any junit.xml file, where can I find it?

[2017-05-15 09:01] Pensu commented on #29894
Closing it in favor of #43989

[2017-05-15 09:01] #29894 closed

[2017-05-15 09:03] bboreham commented on #45334
@liaoyw sadly this is is a bug in your CNI plugin, after the [CNI spec](https://github.com/containernetworking/cni/blob/master/SPEC.md#network-configuration-list-error-handling) was updated to include these words:

See also #43488

[2017-05-15 09:05] Pensu commented on #44750
@rootfs Hey, turning off iptables worked fine. I am able to run all the three containers. Though there are couple of tests that are still failing when firewall is on.

[2017-05-15 09:18] crassirostris commented on #27754
@krmayankk The proposal is the goal for this quarter. The plan is to release it for the community to review sometime in June. I'll advertise it as wide as possible, including this issue. Does it sound reasonable?

[2017-05-15 09:26] gmarek commented on #18432
@fejta - The work you reference is completely unrelated. It only improves the log download path, so we don't set few GB through network unnecessarily. This issue is about lack of logs from machines that were deleted during e.g. "scale down" tests (or whatever), and are not present when test ends, though we do not schedule this uploader pod there. This is clearly @kubernetes/test-infra-maintainers

[2017-05-15 09:31] gmarek commented on #45811
cc @kubernetes/sig-scalability-bugs

[2017-05-15 09:43] gmarek commented on #45717
`NodeReady = false` basically means that Kubelet is down or can't reach API server, which in turn means that there's no reason for tolerating NoSchedule Taint corresponding to it (as Kubelet won't notice your Pod either way). To my understanding conditions are supposed to be completely orthogonal, so state of the one, should not influence state of another. One can infer if the Node is "ready enoug

[2017-05-15 09:56] CallMeFoxie commented on #43704
Yep, having extra cgroups seems to cause this at least in our case :) Thanks for finding it!

[2017-05-15 10:47] yaojingguo commented on #15935
@ jfbibeau's solution works for me. I am using minikube v0.19.0 on macOS Sierra 10.12.2.

[2017-05-15 10:56] ankon opened #45818 "CreatingLoadBalancerFailed with only "(events with common reason combined)""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No-ish.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "events with common reason combined"

**Is this a BUG REPORT or FEATURE REQUEST?

[2017-05-15 11:17] zhouhaibing089 commented on #45811
It seems in such a circumstance, the web service hangs or crashes??

[2017-05-15 11:24] Baschdl opened #45819 "Fair-share cpu time resources"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
quota, time (week), cpu time

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

We would like to see a feature where it is possible to specify quotas like cpu time/running time in the cluster. Currently one can only set a

[2017-05-15 11:35] iordaniordanov opened #45820 "Juju guide url cannot be used(404 Error)"
Hey guys just tried opening https://kubernetes.io/docs/getting-started-guides/juju/ found [here](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/juju.md) but it resulted in 404 error

Thanks :)

[2017-05-15 11:39] deads2k commented on #43781
Nothing immediate comes to mind, though @shiywang expressed interest in helping with API machinery.  He was looking at re-implementing these tests using direct Indexer.Add calls which ought to help.

[2017-05-15 11:57] v1k0d3n commented on #45613
yeah, i have to agree with @kfox1111 and @sbezverk on this one. our projects are very similar, and we're experiencing the same thing on our end w/v1.6.3.

[2017-05-15 12:08] armstrongli commented on #45811
@zhouhaibing089  does this PR give any help https://github.com/kubernetes/kubernetes/pull/7559 ?

[2017-05-15 12:13] yasassri commented on #45787
Actually, api-server starts but crashes time to time. I also observed the following error. Another thing to note is I'm not using Calico.

[code]

[2017-05-15 12:27] d-Pixie commented on #45131
I had my config in `~/.kube/config`. In that file you will find entries such as:

[code]

Simply edit the context's name under `contexts.context.name` and save the file.

[2017-05-15 12:52] wojtek-t commented on #45484
Yup - it should be solved at head.

@davidopp - should we backport it to 1.6. branch?

[2017-05-15 13:03] wongma7 commented on #45679
Thanks for quick response!

[2017-05-15 13:03] #45679 closed

[2017-05-15 13:18] wojtek-t opened #45824 "Panic in: "should only target nodes with endpoints""
Coming from here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/146

[code]

@kubernetes/sig-network-bugs

[2017-05-15 13:30] jhorwit2 opened #45825 "CronJob won't run again after being suspended long enough"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernet

[2017-05-15 13:39] timothysc commented on #45811
/cc @kubernetes/sig-api-machinery-bugs

[2017-05-15 13:41] timothysc commented on #38543
Sweet thanks @fejta !

[2017-05-15 13:44] jhorwit2 commented on #45825
My quick guess at what is happening is that `getRecentUnmetScheduleTimes` does not take into account whether or not the job was recently suspended, so it appears that the cronjob missed too many scheduled starts, which is true but they are intentional misses.

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cronjob/cronjob_controller.go#L264

[2017-05-15 13:54] joan38 commented on #17404
This doc seems outdated. I'm I right?

[2017-05-15 14:33] gnufied commented on #45615
I am thinking of deprecating this flag in 1.7 - unless anyone has any objections.

[2017-05-15 14:34] tacy commented on #27796
I have signed the CLA, but still  the "cnfc-cla: no" flag, pleast take a look @foxish @sarahnovotny

[2017-05-15 15:06] wojtek-t commented on #45811
I don't think this is necessary a bug - this may be working as intended.

If you have 500 pods, each of the generating 10qps of "get configmap), this gives us 5000qps. Depending on the size of the master machine/number of apiservers and/or etcd instances, this just may be too many requests to handle.

[2017-05-15 15:19] chrismcv opened #45827 "AzureFile doesn't mount in pod."
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- Azure ACS: default install
[code]

**What happened**:
Azure File Volume mounts don't work.

**What you expected to happen**:
A mount with my files from Azure Files

**How to reproduce it** (as minimally and precisely as possible):
(Assumes you have the azure cli)

Create storage
[code]
Create a secret: (check `$name`) for t

[2017-05-15 15:33] seh commented on #16376
Thank you for responding, @caesarxuchao. I was out on vacation for a week and am back catching up today.

I'm not sure whether my complaint about the need to manage a separate `runtime.Scheme` remains valid or not, given that you revised [your initial statement here](https://github.com/kubernetes/kubernetes/issues/16376#issuecomment-299991729).

In my application, I have a `rest.RESTClient` in use

[2017-05-15 15:48] yasassri commented on #45787
@sonamsamdupkhangsar  Everything started working after setting the following parameters in kube-apiserver.yaml

[code]

[2017-05-15 15:48] #45787 closed

[2017-05-15 15:49] cmluciano commented on #45717
The example for host-network=true can be leveraged with kubenet. Kubenet is not an official CNI plugin, but it works for the purpose that you mentioned. Does the noop plugin not work anymore -

[code]

[2017-05-15 15:52] sonamsamdupkhangsar commented on #45787
@yasassri Thanks for your response.

[2017-05-15 15:54] tacy commented on #45459
@ZachGoldberg - Kubedns to external dns server need to SNAT, can you share your all nat rules?

[2017-05-15 15:57] sttts commented on #16376
@seh we merged a complete TPR example in client-go last week, might be helpful: https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/examples/third-party-resources.

[2017-05-15 15:58] ZachGoldberg commented on #45459
@tacy  can you post the exact command you'd like me to run?  And do you want me to run this in the container or on the node?

[2017-05-15 16:00] tacy commented on #45459
@ZachGoldberg  Run `iptables -t nat -S` in the node

[2017-05-15 16:01] ZachGoldberg commented on #45459
Thanks @tacy !
`iptables -L -t nat
Chain PREROUTING (policy ACCEPT)
target     prot opt source               destination
KUBE-SERVICES  all  --  anywhere             anywhere             /* kubernetes service portals */
DOCKER     all  --  anywhere             anywhere             ADDRTYPE match dst-type LOCAL

Chain INPUT (policy ACCEPT)
target     prot opt source               destination

Chain

[2017-05-15 16:04] xiang90 commented on #45037
@wojtek-t Sorry for the late response. No, we did not find anything. @mml's reproduce in this issue does not make sense to me as I mentioned above.

I discussed with @lavalamp a few days ago. boltdb clearly has issues, but we are not sure if it is a symptom or the root cause. And we are not sure how we triggered it.

I am happy to look into this again if we can somehow reproduce it. Or we can get

[2017-05-15 16:08] kargakis commented on #44905
We can proceed with this now that edit has been made re-usable.

[2017-05-15 16:09] kargakis commented on #44905
Oh well, I was thinking of a different issue https://github.com/kubernetes/kubernetes/issues/38761 - this is done.

[2017-05-15 16:09] #44905 closed

[2017-05-15 16:09] kargakis commented on #38761
We can proceed with this now that edit has been made re-usable.

[2017-05-15 16:12] neelance commented on #6284
@janetkuo Is this still planned? I would like to see if a `kubectl apply` would actually change something or not, to determine if the cluster state is actually in sync with the files describing the resources.

As far as I can see, #31892 would have added that feature, but it got superseded by #31892 which also adds `--dry-run`, but without the "diff" functionality.

[2017-05-15 16:16] ncdc commented on #44175
@divyenpatel `ETCDCTL_API=3` is only applicable to running the `etcdctl` command-line tool. Kubernetes has a different place where you configure if you want it to talk to etcd using the v2 or v3 API.

[2017-05-15 16:25] DirectXMan12 commented on #45498
Yeah, they're effectively copy-paste.  The version in `k8s.io/metrics` contains updated protobuf annotations, etc, but they should be JSON-compatible.

[2017-05-15 16:30] kargakis commented on #6284
@neelance https://github.com/kubernetes/community/blob/master/contributors/design-proposals/sig-cli/kubectl_apply_getsetdiff_last_applied_config.md should handle your case.

[2017-05-15 16:34] mwuertinger commented on #1806
Beware that mounting the docker socket completely bypasses Kubernetes. That means that the scheduler is not aware of the stuff that is running there which might degrade your cluster reliability or performance. Also note that mounting the docker socket gives your pods full root privileges on the nodes, thus eliminating all of the security benefits of containers.

I recommend taking a look at [acbui

[2017-05-15 16:36] gjcarneiro opened #45828 "kube-dns copies 127.0.0.35 from host's /etc/resolv.conf, doesn't work"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kube-dns resolv.conf

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-05-15 16:41] djmckinley commented on #45487
@yujuhong - it works if I pre-pull just the "pause" pod sandbox image from the registry prior to starting kubelet, confirming your diagnosis.  Thanks for opening #45738 to resolve this issue the right way.

[2017-05-15 16:44] ncdc commented on #44857
@timothysc it's maybe https://github.com/kubernetes/features/issues/115, although that doesn't really have any details in it. This is probably a better link despite its age: https://github.com/kubernetes/kubernetes/issues/12245.

[2017-05-15 16:51] mtaufen commented on #44248
Death by a thousand cuts is a great point. At this point, I think that's what I'll do, other than removals already in-flight like #40050.

[2017-05-15 16:54] wojtek-t commented on #45037
@xiang90 - no worries. Yes I agree that @mml thing is something completely different and for me this is "working as intended"

Is etcd using boltdb internally? I initially had the impression that you were using it only to decode snapshot file, but I guess that's not the case, right? If it is using, can you point me to etcd code where it is using it (just out of curiosity)?

Reproduction is hard -

[2017-05-15 16:59] RiaanLab commented on #9180
I am using v1.6.2 and I can confirm that the timeout is definitely still happening in less than 10 minutes.

[2017-05-15 17:01] erictune opened #45829 "CLI-based discovery of resources"
I can discover what API Groups are present on my cluster using `kubectl api-versions`.
However, I cannot find out what Kinds are in each Group.

If I knew what kinds there were, then I could do `kubectl get $KIND` or `kubectl explain $KIND`.

Top-down exploration will become more important as there are more TPRs and AAs being installed into clusters.

The request here is to have a command that tel

[2017-05-15 17:02] tacy commented on #45459
@ZachGoldberg  You can try add masq rule for kubedns by run command 'iptables -t nat -I POSTROUTING -s 10.244.0.7 -p udp --dport 53 -j MASQUERADE`

[2017-05-15 17:02] erictune commented on #45829
@mbohlool we talked about this the other day.

[2017-05-15 17:08] seh commented on #16376
Thanks. I'll study that one today, and rewrite my code again to better match the latest and greatest. This is quite a ride.

[2017-05-15 17:09] yujuhong commented on #45738
@abgworrall volunteered to take a look, and potentially work on it.

[2017-05-15 17:10] ZachGoldberg commented on #45459
Sweet!!  Progress!   I think that may have fixed it...

[code]

Any thoughts on why the rule isn't there automatically?

[2017-05-15 17:12] robertojrojas commented on #45795
Hi @madhusudancs I'm trying to find out how to follow up on this.
Will there be some sort of notification for the PRs affected this?

[2017-05-15 17:13] caesarxuchao commented on #16376
@seh the latest trp example still constructs it's own [scheme](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/examples/third-party-resources/client/client.go#L28-L29). But if you have an existing scheme, you can call `tprv1.AddToScheme` on the existing scheme. Note that you need to move the call to a init() function to avoid race. This way you'll have a scheme th

[2017-05-15 17:14] cblecker commented on #45795
@robertojrojas I just re-queue that test on your PR. note that the test isn't blocking, so your PR can be reviewed/merged without this test passing.

[2017-05-15 17:17] robertojrojas commented on #45795
@cblecker good to know. Thanks!

[2017-05-15 17:22] cmluciano commented on #45790
cc @kubernetes/sig-network-bugs

[2017-05-15 17:23] ye commented on #43168
I am encountering the same issue today. One thing to add is that I noticed "TooManyActivePods" warning showing up in the k8s events log, even though there really isn't any job initiated pods existing at all. Not sure if that's another hint at the problem.

[code]

[2017-05-15 17:26] raeesbhatti commented on #42559
I tried using `--authorization-mode=RBAC` for `kube-apiserver` but now I don't have access to do anything.
[code]

[2017-05-15 17:30] cmluciano commented on #45819
May be related to https://github.com/kubernetes/community/pull/604 and preemption work

[2017-05-15 17:34] MrHohn commented on #44750
"Turning off" isn't the right word. It helps because it flushes all rules in all chains to ensure there wouldn't be any incompatible rules pre-exist.

@Pensu I'd suggest re-post support questions on stackoverflow.

[2017-05-15 17:40] timothysc commented on #44857
Forgot to update this issue.  @mikedanese put up his grand unified field theory on ComponentConfigs ;-)

https://docs.google.com/document/d/1arP4T9Qkp2SovlJZ_y790sBeiWXDO6SG10pZ_UUU-Lc/edit#heading=h.xgjl2srtytjt

[2017-05-15 17:48] xiang90 commented on #45037
Yes. We merge in mem diff back to boltdb to enable incremental snapshot for v3 (so no sudden IO/CPU usage for doing a full snapshot).

https://github.com/coreos/etcd/tree/master/mvcc/backend

Agree. But I have no access to the actual data, and we do not have enough debugging logging. So I do not really know how I can help at this point. Even if I have the data + log, it is still hard to debug with

[2017-05-15 17:55] msau42 commented on #44321
Yeah I'll take a look

[2017-05-15 17:55] MrHohn commented on #45824
/assign

[2017-05-15 17:59] enisoc commented on #45613
After discussing with @saad-ali, I am planning to expedite v1.6.4 to fix this. However, I will wait for the e2e test, which I believe @wongma7 is working on.

[2017-05-15 18:02] saad-ali commented on #45613
Keeping open until v1.6.4 ships with fix.

[2017-05-15 18:11] fejta commented on #43989
Will you be more explicit about running tests? What tests are you running? How are you running them? What are you expecting to happen and what is actually happening? Where are you expecting to find the junit.xml files?

[2017-05-15 18:28] cmluciano commented on #44080
I think we agreed that this feature is not possible since GPU machines require a reboot. I'm closing for now, but can re-open later.

[2017-05-15 18:37] MrHohn commented on #45662
/sig network

Did you re-use the nodePort on different services? Or is the "another service" completely irrelevant? This may happen if kube-proxy on nodes were not able to update stale rules soon enough.

[2017-05-15 18:38] DreadPirateShawn commented on #34710
Curious -- would this be a candidate for backporting to v1.5? It seems that using CronJobs in Kube 1.5 isn't really viable with this bug, since the jobs build up forever (which as we've seen causes cpu problems).

[2017-05-15 18:56] kfox1111 commented on #22368
sha's of configmaps are kind of a hack. I'd much rather the lifecycle be managed by the deployment like the lifecycle of the ReplicationSet's are. Snapshot the configmap when the RS is created, and its lifecycle matches RS.

[2017-05-15 19:08] liggitt commented on #45829
duplicate of https://github.com/kubernetes/kubernetes/issues/42932, I think

[2017-05-15 19:09] liggitt commented on #45829
yup, with implementation in progress in https://github.com/kubernetes/kubernetes/pull/42873

[2017-05-15 19:09] #45829 closed

[2017-05-15 19:12] vishh commented on #44080
It's still not clear if reboots are necessary for driver installation. Is
there any documentation from Nvidia requiring reboots tfor jus tdriver
installation and not hot plugging?

On Mon, May 15, 2017 at 11:29 AM, cmluciano <notifications@github.com>
wrote:

[2017-05-15 19:15] mbohlool opened #45833 "Server OpenAPI spec in protobuf binary format"
It is much easier to consume OpenAPI spec in binary format. [Design doc](https://docs.google.com/document/d/1EcnvLRqP9-5mqQ-kghfnB3GtB8eIrkVQjn1B16NRrr0/edit#)

[2017-05-15 19:29] cmluciano commented on #44080
I have not found explicit documentation yet, just notes that you should. I know my laptop requires a reboot when I swap out driver versions, but I don't know what happens if you don't. @flx42 can you point us to any docs on this?

[2017-05-15 20:00] cmluciano commented on #7190
Is this still relevant?

[2017-05-15 20:00] cmluciano commented on #7190
/assign

[2017-05-15 20:06] cmluciano commented on #9623
kube-proxy now runs by default on the controller with kubeadm.

[2017-05-15 20:06] cmluciano commented on #9623
/close

[2017-05-15 20:07] cmluciano commented on #9623
/assign

[2017-05-15 20:07] cmluciano commented on #9623
/close

[2017-05-15 20:07] #9623 closed

[2017-05-15 20:12] cmluciano commented on #13364
Is this issue still relevant?

[2017-05-15 20:14] cmluciano commented on #14661
@MrHohn should this be assigned to you?

[2017-05-15 20:16] cmluciano commented on #14371
Is this still relevant? Should this be tagged with SIG-Apps?

[2017-05-15 20:18] cmluciano commented on #17115
Is this still relevant? I'm not sure if this is related to SIG-Network anymore.

[2017-05-15 20:18] kargakis commented on #34710
@DreadPirateShawn we are not backporting features.

[2017-05-15 20:19] MrHohn commented on #14661
/assign

@cmluciano Sounds good. Though my open PR #45524 is only for GCE, we may also look for assignees for other cloud providers.

[2017-05-15 20:19] cmluciano commented on #17962
@freehan Is this still relevant ?

[2017-05-15 20:20] #45198 closed

[2017-05-15 20:21] fejta commented on #45774
@kubernetes/sig-node-test-failures
/assign @dchen1107 @derekwaynecarr

[2017-05-15 20:22] cmluciano commented on #15940
This issue is quite stale. The documentation has underwent a major overhaul. Please take a look at https://kubernetes.io/docs/concepts/services-networking/service/ and re-open this issue if it still does not address the problem.

[2017-05-15 20:22] cmluciano commented on #15940
/assign

[2017-05-15 20:22] cmluciano commented on #15940
/close

[2017-05-15 20:22] #15940 closed

[2017-05-15 20:23] cmluciano commented on #19159
Is this still relevant @adohe ?

[2017-05-15 20:24] cmluciano commented on #19159
/assign

[2017-05-15 20:25] cmluciano commented on #19055
Is this still relevant @smashraf ?

[2017-05-15 20:25] cmluciano commented on #19055
/assign

[2017-05-15 20:26] cmluciano commented on #17348
Is this still relevant?

[2017-05-15 20:27] cmluciano commented on #20251
@yujuhong Any idea if this is still relevant?

[2017-05-15 20:27] cmluciano commented on #20251
/assign

[2017-05-15 20:28] fejta opened #45837 "federation soak tests are timing out"
triage failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#4df909ae403747031437

Failing 8 tests in 3 jobs.

@kubernetes/sig-federation-test-failures
/assign @quinton-hoole @csbell

[2017-05-15 20:29] deitch commented on #9180
10 minutes sounds great! I wish I could get it that high. Any idea what controls the timeout?

[2017-05-15 20:30] cmluciano commented on #23314
This appears to be managed with salt now https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/opencontrail-networking-minion/init.sls

[2017-05-15 20:30] cmluciano commented on #23314
/assign

/close

[2017-05-15 20:30] cmluciano commented on #23314
/close

[2017-05-15 20:30] #23314 closed

[2017-05-15 20:31] deitch commented on #45790
Happy to help debug if someone can give me some pointers? Any workarounds?

[2017-05-15 20:32] cmluciano commented on #23791
@bprashanth Is this still relevant?

[2017-05-15 20:32] cmluciano commented on #23791
/assign

[2017-05-15 20:33] cmluciano commented on #23870
Is this still relevant?

[2017-05-15 20:33] cmluciano commented on #23870
/assign

[2017-05-15 20:34] csbell commented on #45837
The soak tests are going to fail until we bring back up a cluster that includes #45798. @madhusudancs can you comment on how to re-start the clusters in the soak tests?

[2017-05-15 20:34] cmluciano commented on #23991
Is this still an issue @bprashanth ?

[2017-05-15 20:34] cmluciano commented on #23991
/assign

[2017-05-15 20:35] cmluciano commented on #24041
/area kubectl

[2017-05-15 20:37] cmluciano commented on #17032
Is this still an issue?

[2017-05-15 20:37] cmluciano commented on #17032
/assign

[2017-05-15 20:38] RiaanLab commented on #9180
@deitch I have no idea what sets the timeout, only that the terminal hangs/freezes in less than 10min.

[2017-05-15 20:39] fejta opened #45841 "aws slow suite fails service tests"
testgrid: https://k8s-testgrid.appspot.com/google-aws#kops-aws-slow
failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#aee02e0442d98d20850b

[code]

@kubernetes/sig-apps-test-failures
/assign @michelleN @mattfarina @prydonius
/cc @justinsb

[2017-05-15 20:39] cmluciano commented on #20292
Seems to be fixed with https://github.com/kubernetes/kubernetes/pull/21072 .

[2017-05-15 20:39] cmluciano commented on #20292
/assign

[2017-05-15 20:39] cmluciano commented on #20292
/close

[2017-05-15 20:39] #20292 closed

[2017-05-15 20:40] yujuhong commented on #20251
@cmluciano not sure. You can check the pkg/kubelet/kuberuntime/kuberuntime_manager.go to see if it's fixed by the new implementation. Thanks!

[2017-05-15 20:41] cmluciano commented on #23976
Is this still an issue?

[2017-05-15 20:41] cmluciano commented on #23976
/assign

[2017-05-15 20:41] kargakis commented on #45841
@fejta why is this sig/apps? I thought services were @kubernetes/sig-network-test-failures ?

[2017-05-15 20:42] cmluciano commented on #26760
This seems like an old flake. Closing for now

[2017-05-15 20:42] cmluciano commented on #26760
/assign

[2017-05-15 20:42] cmluciano commented on #26760
/close

[2017-05-15 20:42] #26760 closed

[2017-05-15 20:43] deitch commented on #9180
Interesting. More often I see it get kicked out after 1 min rather than hang.

[2017-05-15 20:43] fejta commented on #45841
Sure, thanks for clarifying!

/remove-sig apps
/unassign @michelleN @mattfarina @prydonius
/assign @thockin @dcbw @caseydavenport

[2017-05-15 20:48] fejta opened #45842 "Downgrade 1.6 to 1.5 suite leaks ip addresses"
failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#8cd80568009d1085aaf5
testgrid: https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.6-1.5-downgrade-cluster

Example failure text
[code]

@kubernetes/sig-network-test-failures
/assign @thockin @caseydavenport @dcbw

[2017-05-15 20:55] myaghini commented on #33483
Same case, same use. Need internal lb for container cluster services to access them from VM and from VPN.

[2017-05-15 21:01] madhusudancs commented on #45837
@csbell needs poking Jenkins, which I have done now.

@shashidharatd I think we should just delete the federation soak build job. It is confusing right now. I was looking at the `build` job which was failing and realized a few minutes later that we build in the `deploy` job now.

[2017-05-15 21:07] crimsonfaith91 commented on #45287
@JorritSalverda @lcjlcj
I added `"terminationMessagePath": "/dev/termination-log",` into init container annotation syntax, and then restart the server. It fixed the issue on my machine. I will continue working on a better way to fix the issue, but this may be a quick fix.

[code]

[2017-05-15 21:38] k8s-merge-robot opened #45843 "ci-kubernetes-e2e-gce-examples Failure cluster [451144...] failed 94 builds, 16 jobs, and 1 tests over 1 days"
### Failure cluster [451144a9be5d4451ad3c](https://go.k8s.io/triage#451144a9be5d4451ad3c)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    16 jobs failed,    94 builds failed.
Failure stats cover 1 day time range '14 May 2017 20:07 UTC' to '15 May 2017 20:07 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 16 |

##### Top

[2017-05-15 21:38] k8s-merge-robot opened #45844 "Failure cluster [c1aa76...] failed 76 builds, 16 jobs, and 3 tests over 1 days"
### Failure cluster [c1aa76ec7c67c92366fc](https://go.k8s.io/triage#c1aa76ec7c67c92366fc)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    16 jobs failed,    76 builds failed.
Failure stats cover 1 day time range '14 May 2017 20:07 UTC' to '15 May 2017 20:07 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 15 |
| Helm Lin

[2017-05-15 21:38] k8s-merge-robot opened #45845 "Failure cluster [8cd805...] failed 76 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [8cd80568009d1085aaf5](https://go.k8s.io/triage#8cd80568009d1085aaf5)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    76 builds failed.
Failure stats cover 1 day time range '14 May 2017 20:07 UTC' to '15 May 2017 20:07 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Downgrade [Fea

[2017-05-15 21:38] k8s-merge-robot opened #45846 "Failure cluster [a30885...] failed 71 builds, 11 jobs, and 1 tests over 1 days"
### Failure cluster [a3088522c5a7b765a080](https://go.k8s.io/triage#a3088522c5a7b765a080)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    11 jobs failed,    71 builds failed.
Failure stats cover 1 day time range '14 May 2017 20:07 UTC' to '15 May 2017 20:07 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 11 |

##### Top

[2017-05-15 21:38] k8s-merge-robot opened #45847 "Failure cluster [4df909...] failed 67 builds, 3 jobs, and 8 tests over 1 days"
### Failure cluster [4df909ae403747031437](https://go.k8s.io/triage#4df909ae403747031437)
##### Error text:
[code]
##### Failure cluster statistics:
8 tests failed,    3 jobs failed,    67 builds failed.
Failure stats cover 1 day time range '14 May 2017 20:07 UTC' to '15 May 2017 20:07 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Federated Serv

[2017-05-15 21:38] k8s-merge-robot opened #45848 "Failure cluster [2c8663...] failed 66 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [2c8663cd863e7f75b087](https://go.k8s.io/triage#2c8663cd863e7f75b087)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    66 builds failed.
Failure stats cover 1 day time range '14 May 2017 20:07 UTC' to '15 May 2017 20:07 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DiffResources | 2 |

##

[2017-05-15 21:38] k8s-merge-robot opened #45849 "Failure cluster [d9148c...] failed 65 builds, 1 jobs, and 1 tests over 1 days"
### Failure cluster [d9148c8ad74587b9b4ce](https://go.k8s.io/triage#d9148c8ad74587b9b4ce)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    1 jobs failed,    65 builds failed.
Failure stats cover 1 day time range '14 May 2017 20:07 UTC' to '15 May 2017 20:07 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 1 |

##### Top f

[2017-05-15 21:38] k8s-merge-robot opened #45850 "Failure cluster [a74741...] failed 58 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [a747411b52fce48b96bb](https://go.k8s.io/triage#a747411b52fce48b96bb)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    58 builds failed.
Failure stats cover 1 day time range '14 May 2017 20:07 UTC' to '15 May 2017 20:07 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 2 |

##### Top f

[2017-05-15 21:49] MrHohn commented on #36389
Doesn't seems like it is still happening.

/close

[2017-05-15 21:49] #36389 closed

[2017-05-15 21:49] MrHohn commented on #38448
Doesn't seems like it is still happening.

/close

[2017-05-15 21:49] #38448 closed

[2017-05-15 21:59] MrHohn opened #45851 "dns-horizontal-autoscaler should update scaling params if users are using defaults"
We updated the default scaling parameters a bit in v1.6 (#42065). It turns out many users upgraded their clusters from v1.5 to v1.6 didn't get the new scaling params because the pre-existing kube-dns-autoscaler configmap took precedence over defaults.

We should figure out a way to update scaling params if users are using defaults, for the ease of letting them take advantage of new supported featu

[2017-05-15 22:00] MrHohn commented on #45851
/area dns

[2017-05-15 22:02] wongma7 commented on #45613
@enisoc @saad-ali the e2e test PR is here: https://github.com/kubernetes/kubernetes/pull/45852 . They cover both this issue and the original one I was trying to fix, #43775.

[2017-05-15 22:24] ahmetb opened #45853 ""hack/update-all.sh" output doesn't pass "make validate" for generated federation content"
With #45694 we now have verify-*.sh scripts around federation generated code/swagger/docs ran as part of `make validate`.

However these steps updating the generated federation content are not listed in `hack/update-all.sh`. Therefore the output of `hack/update-all.sh` is no longer passing the `make validate` if federation-related content is updated.

/assign @nikhiljindal

[2017-05-15 22:43] #35946 closed

[2017-05-15 22:59] MrHohn commented on #44225
Closing per above comment.

/close

[2017-05-15 22:59] #44225 closed

[2017-05-15 23:07] hollowimage opened #45858 "Weave randomly picks ipv6 and everything breaks"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**Kubern

[2017-05-15 23:20] liggitt commented on #45812
isn't this just one instance of the type of issues a version skewed federation server will encounter? it seems like the answer is to make federation deal with objects more generically, not replicate cluster logic into federation registries

[2017-05-15 23:27] nikhiljindal commented on #45812
We discussed this in sig meeting in the morning.
Yes, this is similar to the version skew problem, but is not exactly that since in this case the problem even exists in same version of federation and kubernetes.

@madhusudancs @MrHohn and I discussed this more just now.

@MrHohn will send a PR to move the defaulting logic to defaults.go (which is the right place to put that code). That way federat

[2017-05-15 23:36] madhusudancs commented on #44477
This was fixed in https://github.com/kubernetes/test-infra/pull/2494.

[2017-05-15 23:36] #44477 closed

[2017-05-15 23:52] nikhiljindal commented on #45853
aah thanks for pointing that out.
Fixing in https://github.com/kubernetes/kubernetes/pull/45861

[2017-05-15 23:53] yutongz commented on #27796
I have a problem with the CLA, https://github.com/kubernetes/test-infra/pull/2764
I confirmed using the right email, logined CNCF as an individual, linked it to github and google, and make another commit afterward, still got error on CLA, could you please take a look?

[2017-05-16 00:01] enisoc commented on #45510
FYI this is working for me, after updating `noxu-resource-definition.yaml` to use `kind: CustomResourceDefinition`. Time to play!

[2017-05-16 00:14] shashidharatd commented on #45837
@madhusudancs, i have already raised the PR to delete federation soak build job. it is assigned to you. PTAL https://github.com/kubernetes/test-infra/pull/2663

[2017-05-16 00:20] ahmetb commented on #45853
@nikhiljindal thanks.

[2017-05-16 00:53] tsuna commented on #23255
Why not put everything in RAM while you're at it.  Seriously, recommending to use an SSD is not an option.  We have hundreds of spinning HDDs and they are currently kept spinning all the time by `du` commands.

[2017-05-16 01:01] vishh commented on #23255
@dashpole worth considering adding an opt-out for disk stats collection. If users do not specify disk based evictions, then we can entirely disable disk metrics collection.

[2017-05-16 01:14] dashpole commented on #23255
@vishh They could still have disk-based evictions, it would simply evict based on QoS, but not usage.

Another possible workaround, if most of your disk usage is volume-based, would be to [disable volume disk stats collection](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L233) by setting the period to 0.  If all of the usage is in container writable layer

[2017-05-16 01:32] tacy commented on #45459
I guess that you need set ip-masq for the flanneld running.

Related to: https://github.com/coreos/flannel/blob/master/Documentation/configuration.md

[2017-05-16 01:48] bbhoss commented on #19953
To pile on, I am seeing this issue on a 1.6.2 GKE cluster. We have a persistent group and a preemptible one, and we've started seeing this quite a bit recently. I believe this may be a regression in 1.6.2, I have seen it happen before but it usually clears up. Now it requires manual intervention.

[2017-05-16 01:50] bbhoss commented on #44732
I am having this issue quite often, were you able to figure it out?

[2017-05-16 02:01] lixiaobing1 opened #45863 "remote control: kubectl get node: 443: connection refused"
from another pc to access apiserver:

kubectl get node:

error: couldn't read version from server: Get https://192.168.56.16/api: dial tcp 192.168.56.16:443: connection refused

ufw has been disabled.

so, why cant't be accessed?

[2017-05-16 02:08] lixiaobing1 commented on #45863
the description is wrong, close it, sorry.

[2017-05-16 02:08] #45863 closed

[2017-05-16 02:39] msau42 commented on #44732
@bbhoss The issue here was there were still pods on the old node using the volume.

[2017-05-16 02:46] xiangpengzhao commented on #45820
Current link for `Setting up Kubernetes with Juju` is https://kubernetes.io/docs/getting-started-guides/ubuntu/installation/

[2017-05-16 02:47] crimsonfaith91 commented on #45287
@lcjlcj
If the issue still blocks you, you may consider using kubectl v1.5. Tell me if you need any help. Thanks!

[2017-05-16 02:51] fabianofranz commented on #44992
@suyogbarve I'll do a bump of pflag sometime this week (as soon as I finish https://github.com/spf13/pflag/pull/130), but at least initially I'm not planning to bump Cobra. If that fulfills your need then just wait.  ;)

[2017-05-16 03:03] shiywang commented on #45538
hi, @deads2k , about follow the indexers pattern to refactor `autoregister_controlloer_test.go`,  so I using a `cache.NewIndexer`  to replace previous  `fakeWatch` and  `informers.NewSharedInformerFactory`,  but I'm not sure should I also remove `Workqueue` ?  here is my code(not finished yet) : https://github.com/kubernetes/kubernetes/pull/45864

is that right ? should I start goroutinue and usin

[2017-05-16 03:44] wongma7 commented on #43318
We've determined this is not a bug, so this can be closed.

However we'd like to know the 'official' recommendation wrt instance VM 'name-ability' and organization? I'm guessing tags? https://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.vsphere.vcenterhost.doc%2FGUID-379F40D3-8CD6-449E-89CB-79C4E2683221.html

[2017-05-16 04:08] #45213 closed

[2017-05-16 04:08] #45853 closed

[2017-05-16 04:52] #40503 closed

[2017-05-16 05:18] dove-young commented on #39585
I've got the same issue at v1.5.5.

I workaround this issue by replace kube-apiserver generated private key with my own ssh private key.  And deploy my own ssh public key by myself.

[2017-05-16 05:26] imogenthomson commented on #45827
I'm having the same to you.

However when I create the folder manually, it does not succeed. Were there any other steps you took to get it to succeed manually?

[2017-05-16 05:33] tacy commented on #41476
@fgrzadkowski @keontang  - Related to: #45511, kubelet can't handle the vim .swp file

[2017-05-16 06:08] iordaniordanov commented on #45820
Ok, thanks :)

[2017-05-16 06:19] shashidharatd commented on #35827
This has been fixed and also a e2e test case been added to verify the behavior in PR #41254
/close

[2017-05-16 06:19] #35827 closed

[2017-05-16 06:21] shashidharatd commented on #44402
federation soak jobs are working fine now. we can close this issue now.
/close

[2017-05-16 06:21] #44402 closed

[2017-05-16 06:30] Pensu commented on #43989
@fejta I am running unit tests using "make test", integration tests using "make test-integration", and in e2e tests, I am mostly running only Conformance tests, using " GINKGO_PARALLEL=y go run hack/e2e.go -- -v --test --test_args="--ginkgo.focus=\[Conformance\] --ginkgo.skip=\[Serial\]"  "

Now, as I understand I need junit.xml files that can be read by test-grid to display the results. The expec

[2017-05-16 06:37] madhusudancs commented on #42894
/sig federation

[2017-05-16 06:37] madhusudancs commented on #42822
/sig federation

[2017-05-16 07:11] bbhoss commented on #44732
Thanks for the reply, there's a chance that this might be the case here. I have some pods that I have tried to delete but that seem to keep coming back, with various statuses. Sometimes Unknown, sometimes other states. When I checked describe it lists them as Terminating, so I tried force deleting them with a grace period of 0. I still had some issues after that though, with pods some seemingly be

[2017-05-16 07:12] wojtek-t opened #45876 "KubeProxy should expose more standard handlers"
Currently kube-proxy exposes only: `/healthz' handler.
I would also like it to expose:
- '/metrics' (with standard prometheus metrics)
- '/debug/pprof/...` for profiling (probably hidden behind some flag; in other components we have `--profiling` flag for this purpose)

@freehan @thockin - I think that we can expose them using the same http server we are using for healthz purpose. WDYT?

[2017-05-16 07:17] sttts commented on #42950
@Ch3ck I guess we need a general proposal for the untrusted-master scenario, and/or find the old discussions if they exist somewhere as @smarterclayton mentioned. Securing the exec command is only one part of a holistic solution. If you want to work on that, it's of course very welcome.

[2017-05-16 07:32] #45824 closed

[2017-05-16 07:33] wojtek-t commented on #45876
If we agree that this should be done using the same http server, we should probably rename it from "healthcheck" into something else - though I don't have a good name for it.

[2017-05-16 07:57] ktsakalozos commented on #42559
Also blocked by this. The workaround @dgpc is suggesting is for GCE only, right? Do we have a workaround for an on-prem cluster?

I am not sure what the strategy is here. I see a couple of related issues but it is not clear how this problem will be addressed. Does anyone have a summary on what should we be expecting?

Thanks

[2017-05-16 08:20] gmarek commented on #45675
@fejta - I tried doing kubernetes/test-infra#2742, but judging from test-grid it didn't turn off those tests. Can you tell me how to pass argument to this job?

This suite generally looks extremely sketchy, as it runs ALL our tests (including all performance tests, all flaky tests, all disruptive tests, all serial tests), and if I were to guess all of them are run in parallel. In other words - the

[2017-05-16 08:35] sdminonne commented on #45767
Fixed by #45804

[2017-05-16 08:35] #45767 closed

[2017-05-16 08:38] sdminonne opened #45878 "apiextensions-server: de registering and re-registering CustomResource resurrects previous instances"
**What happened**:
de registering and re-registering CustomResource resurrects previous instances

**What you expected to happen**:
Not having old instance again

**How to reproduce it** (as minimally and precisely as possible):
#45768

[2017-05-16 08:40] sdminonne commented on #45878
@deads2k
@stts FYI

[2017-05-16 08:47] tangzhankun commented on #34377
@foxish thanks for the initiative. Could you elaborate current known issues of Spark Standalone in K8s mentioned in below sentence?

[2017-05-16 08:48] #44587 closed

[2017-05-16 08:50] wojtek-t commented on #43600
@justinsb - I've just built this image:
[code]

I think this should work for HA setups. Would you be able to verify it?

[2017-05-16 08:59] sdminonne commented on #45511
submitted #45768 for de-registration but it fails (see #45878)

[2017-05-16 09:17] huangjiasingle commented on #45753
@sjezewski  please make the same veriosn between client and version

[2017-05-16 10:11] wojtek-t commented on #45876
Now I see that there are already two http servers (one for healthz and one for healthchecks). But I guess we shouldn't touch healthchecks here.

We should just somehow merge it with healthz.

[2017-05-16 10:28] arehmandev commented on #25406
Yup podmaster still on diagram, had me confused for a second

[2017-05-16 11:22] MartinEmrich commented on #43805
I just had this issue, maybe this helps someone...:

If you use the docker packages supplied via EPEL (package "docker", version 1.12.6), it works OOTB with the "systemd" driver.
If you use newer packages from docker, you have to switch to cgroupfs, but then you are in for this message: "WARNING: docker version is greater than the most recently validated version. Docker version: 17.05.0-ce. Max va

[2017-05-16 11:41] deads2k commented on #45878
@sdminonne This is because we don't yet have a finalizer in place.  Can we get the test working as much as it can without the finalizer so we don't slip backwards?

[2017-05-16 11:46] simonswine commented on #45368
I see this happening quite heavily in our GKE 1.6 cluster. (It is always affecting single nodes, some run without any issues, others restart quite heavily).

This is an instance that restart 3 times already (today): https://gist.github.com/simonswine/4abe215d2fd51b6890201706c60529ed

[2017-05-16 11:51] sdminonne commented on #45878
@deads2k  sorry for the noise then, I'm going to modify the test adding a `DELETE` of the `foo` resource before deregistration. Tell me if you have a better idea or disagree.

[2017-05-16 11:52] deads2k commented on #45878
Not noise at all.  Great that it was noticed

[2017-05-16 11:55] rtheis commented on #45385
I added the following to my test script to check iptables update time during service creation with a 10 minute refresh interval.

[code]

**10 minute refresh interval**
Overall: Average to 400 services is 3.3 tries with a maximum of 11 tries and a minimum of 1 try. The test runtime was 55 minutes.

**1 minute refresh interval**
Overall: Average to 400 services is 4.0 tries with a maximum of 60 tri

[2017-05-16 12:32] davidmccormick opened #45887 "Custom FlexVolume no longer working after 1.6.3 update"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Yes and no, the behavior of the flex volume interface has changed between 1.5 and 1.6 and I'm struggling to understand/change my implementation.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have

[2017-05-16 12:44] mccormd commented on #37626
Sorry, this can be closed.

[2017-05-16 12:44] #37626 closed

[2017-05-16 12:46] jazzsir commented on #45787
@yasassri Thank you so much :)

[2017-05-16 12:47] seh commented on #16376
@caesarxuchao, speaking of `init` functions, do you know why [@nilebox's example registers the TPR types on the same scheme twice](https://github.com/kubernetes/kubernetes/commit/a6c97715ed7e24581dd9a02a256d57e56b70ac44#commitcomment-22146536)?

[2017-05-16 12:49] csandanov commented on #41580
I have the same issue with 1.5.4 while running an init container with sysctl:
[code]

[2017-05-16 12:53] nmnellis commented on #43980
Were you able to find a fix for this?

[2017-05-16 13:17] simonswine commented on #45368
To give you an idea how often these kernel panics happen:

(This is a 3 node cluster)

![image](https://cloud.githubusercontent.com/assets/223048/26107765/48a81ee0-3a42-11e7-926b-b27525c618ce.png)

[2017-05-16 13:20] shashidharatd commented on #45837
federation soak tests are back on track https://k8s-testgrid.appspot.com/cluster-federation#soak-gce-test . this issue can be closed now.

[2017-05-16 13:31] caniszczyk commented on #27796
@yutongz can you email Linux Foundation Helpdesk <helpdesk@rt.linuxfoundation.org> with your issue, make sure that your github id is linked with https://identity.linuxfoundation.org/projects/cncf and your commits

[2017-05-16 13:40] wojtek-t commented on #45566
@shyamjvs - any update on it?

[2017-05-16 13:53] dnovakovskiy commented on #42559
FYI @ktsakalozos - the workaround proposed by @dgpc works (I just tested), it's GKE-specific (due to `$ gcloud container clusters get-credentials...`)

[2017-05-16 13:54] timothysc commented on #45780
/cc @kensimon

[2017-05-16 13:54] shyamjvs commented on #45566
Not yet, I'll look into it today or tomorrow. Currently working on creating a CI job for benchmark.

[2017-05-16 13:55] arthur0 commented on #45131
Is anyone working on it? Can I try?

[2017-05-16 13:59] #45776 closed

[2017-05-16 14:05] fejta commented on #45847
Dup of https://github.com/kubernetes/kubernetes/issues/45837

[2017-05-16 14:05] #45847 closed

[2017-05-16 14:06] fejta commented on #45837
Thanks! Note you can close issues with the `/close` command

[2017-05-16 14:06] #45837 closed

[2017-05-16 14:17] rrati commented on #45118
I'm not sure an e2e is the best way to show this.  An e2e would incur costs to run on a cloud provider so likely wouldn't be part of any standard e2e run.  I think a unit test could be done though.

[2017-05-16 14:24] idryomov commented on #45190
The sysfs interface is stable and we are committed to keeping it that way.  By omitting the tool you are missing out on the udev bits, but it's mostly just waiting until udev rules are processed before returning from `rbd map`, so probably not an issue.

One needs to write to `.../add_single_major` instead of `.../add` if the former is there:
[code]

Unrelated, but the tool shouldn't fail if modpr

[2017-05-16 14:55] wongma7 commented on #45803
This can happen if an earlier test, e.g. one of the reconciler tests, called fakevolumeplugin.Setup, which creates a pod fake volume plugin directory. This directory can then gets mistakenly detected and "reconstructed" in later tests that actually Run the volume manager, like this TestListVolumesForPods one. As part of the volume manager's reconstruction process, each directory's plugin's Constru

[2017-05-16 15:04] timothysc commented on #41907
Deciding to close, and use auxiliary system

[2017-05-16 15:08] justinsb commented on #43600
@wojtek-t cool.  Where is the image built from?

[2017-05-16 15:18] cmluciano commented on #45858
@hollowimage Is there a bug open on the [Weave repository](https://github.com/weaveworks/weave) as well.

cc @bboreham

[2017-05-16 15:18] cmluciano commented on #45858
/area network

[2017-05-16 15:19] cmluciano commented on #45858
/label sig/network

[2017-05-16 15:24] cmluciano commented on #45844
@kubernetes/sig-network-bugs

[2017-05-16 15:25] cmluciano commented on #45844
Labeling this as sig-network since there are DNS timeouts mentioned in a few of these

[2017-05-16 15:26] hollowimage commented on #45858
@cmluciano i dont know, but i pinged the guys in their slack with this issue. honestly i just wanted to make a record of this somewhere at the time before it got lost.

[2017-05-16 15:26] cmluciano commented on #45845
dup of #45842

[2017-05-16 15:28] cmluciano commented on #45844
@sig-network-test-failures

[2017-05-16 15:28] cmluciano commented on #45846
@sig-node-test-failures

[2017-05-16 15:30] cmluciano commented on #45849
related #45842

[2017-05-16 15:30] cmluciano commented on #45849
@sig-network-test-failures

[2017-05-16 15:31] wojtek-t commented on #43600
@justinsb  - I just removed the "--force-new-cluster" flag, which I before supposed that removing it should solve the problem. So the only difference is remove this line:
https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/migrate-if-needed.sh#L125
from migration script.

[2017-05-16 15:58] kensimon commented on #38532
@resouer's patch ultimately wasn't merged but I took a stab at this here: https://github.com/kubernetes/kubernetes/pull/45682

[2017-05-16 16:28] JonathanFraser commented on #45750
Issue in acs-engine deployment not in core kubernetes.

[2017-05-16 16:28] #45750 closed

[2017-05-16 16:35] bboreham commented on #45790
I tried disabling CRI on kubelet and that brought the hairpin-veth mode back.

Looking at the code, I see `hairpin.SetUpContainerPid` called in `dockertools/docker_manager.go`, but no similar call in `dockershim/docker_service.go`.  So I conclude that the CRI code just doesn't have this functionality.

[2017-05-16 16:38] cmluciano commented on #45858
I think we should open the issue on the [Weave repository](https://github.com/weaveworks/weave) unless this affects more than one CNI plugin.

[2017-05-16 16:42] bboreham commented on #45790
and if anyone was expecting the CNI plugin to set hairpin mode, they first need to get past the problem that  [Init()](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go#L174) drops the mode on the floor.

[2017-05-16 16:56] kornface13 commented on #42164
Seeing the same on 1.6.2.
[code]

[2017-05-16 17:00] bboreham commented on #45858
Agreed you should open this issue on the Weave repo.

Looking at the symptoms, that ipv6 address is just a link-local one automagically generated; the issue is that the Weave Net startup has not yet assigned an IPv4 address.

The reason for that may be in the (Docker) logs of the `weave` container.

[2017-05-16 17:18] yujuhong commented on #45790
/cc @freehan

[2017-05-16 17:22] msau42 commented on #44732
Hmm the only reason I can think of pods still coming back is if they were part of some deployment or replicaset, and you just deleted the pod instead of the deployment.  You can check the kubelet logs on the node to debug the pod issues.

[2017-05-16 17:27] suyogbarve commented on #44992
@fabianofranz : pflag update will solve https://github.com/kubernetes/kubernetes/issues/45461
but not this one (as #44992 needs Cobra update)

[2017-05-16 17:28] suyogbarve commented on #45609
/assign

[2017-05-16 17:33] suyogbarve commented on #45689
@SpencerReynolds18 : thought? Please close this ticket if you are convinced.

[2017-05-16 17:52] cmluciano commented on #45858
Thanks @bboreham . @hollowimage please open this issue on the Weave repository

[2017-05-16 17:52] cmluciano commented on #45858
/assign

[2017-05-16 17:52] cmluciano commented on #45858
/close

[2017-05-16 17:52] #45858 closed

[2017-05-16 17:53] kokhang commented on #45190
@rootfs Based on @idryomov's comment, this is what i envision the changes would be:
1- Use sysfs to map/unmap blocks instead of `rbd map`. Writing to `/add_single_major` and `/add` if single_major exists. This is something we already do in Rook (https://github.com/rook/rook/blob/master/cmd/rook/block/map.go#L89) and I could port this work to the rbd plugin.

2- Relax `modprobe rbd`. Not have it fa

[2017-05-16 17:58] dlmiddlecote commented on #45779
Solved: running an old version of kube-dns

[2017-05-16 17:58] dlmiddlecote commented on #45779
Solved: running an old version of kube-dns

[2017-05-16 17:58] #45779 closed

[2017-05-16 17:59] gladiatr72 commented on #45627
That's all very interesting, but that doesn't mitigate init-containers being essentially broken in 1.6 (relative to the 1.6 documentation page)

[2017-05-16 18:07] golyalpha opened #45900 "Unable to mount RWX volume to multiple pods"
BUG REPORT

**Kubernetes version**: Whatever OpenShift currently uses

**Environment**:
RHCloud
OpenShift US East 1

**What happened**:
I am unable to mount an RWX volume to multiple pods (results in problems during deployment)

**What you expected to happen**:
Mount RWX volume to multiple pods without any problems

**How to reproduce it**:
Create an RWX volume
Create a PHP webapp (I'm using my fo

[2017-05-16 18:19] rootfs commented on #45190
@idryomov can sysfs disable lock owner transition?
@kokhang in addition to map, rbd is also needed for [provisioning](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L344) and [checking status](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L409)

[2017-05-16 18:35] rootfs commented on #45190
@kokhang how did you set key in sysfs? The [ceph secret](https://github.com/ceph/ceph/blob/master/src/common/secret.c#L74) looks using kernel key utils.

[2017-05-16 18:39] #44450 closed

[2017-05-16 18:55] idryomov commented on #45190
@rootfs Yes.  exclusive is just another map option, like rw/ro or queue_depth.  You'd write:
[code]
instead of
[code]
@kokhang Mapping an image with exclusive-lock feature enabled if the kernel supports exclusive-lock feature bit but doesn't support the new exclusive option (naming...!) should NOT be allowed by the plugin, because using `rbd lock` in such a case won't work.  Only two cases should

[2017-05-16 19:08] suyogbarve commented on #45737
Sent PR for this
https://github.com/kubernetes/kubernetes/pull/45902

[2017-05-16 19:08] suyogbarve commented on #45736
Sent PR for this
https://github.com/kubernetes/kubernetes/pull/45902

[2017-05-16 19:17] suyogbarve commented on #45461
@kargakis if you can assign it to me, I will track and update after https://github.com/spf13/pflag/pull/130 is available

[2017-05-16 19:25] kokhang commented on #45190
@idryomov Since the new exclusive map option is available on 4.12, we could map an image with exclusive-lock if the kernel is 4.12+ and fall back to `rbd lock` otherwise.

@rootfs, for ceph secret, you can pass the secret to sysfs using the `secret=`, such as
```$ echo "192.168.0.1 name=admin secret=<secret> rbd foo" > /sys/bus/rbd/add_single_major```

If you want to use the `key=`, there is a Gol

[2017-05-16 19:31] kfox1111 commented on #45190
For provisioning, I think it should be moved out to an external provisioner like the cephfs provisioner. Then you can start with a stock controller-manager container and add a rbd-provisioner container that matches your ceph version.

[2017-05-16 19:42] MrHohn commented on #45876
Note that kube-proxy now holds more than two http servers:
- Metrics server
- Healthz server
- Local traffic healthcheck servers

/healthz is held on a different port from /metrics since #44968, so you are actually adding handlers to the Metrics server :)

[2017-05-16 19:44] pmichali opened #45906 "IPv6 support for hexCIDR()"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): hexCIDR and CIDR

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

[2017-05-16 19:47] fejta commented on #45675
/unassign @ixdy @fejta
/assign @gmarek

Please take a look at the triage failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=SchedulerPredicates#c2701aacb94858f60ca9

The failure cluster shows that there are 4 SchedulerPredicate tests in 19 jobs with this failure.

Looks like [your PR](https://github.com/kubernetes/test-infra/pull/2742) modified the [gke-container

[2017-05-16 19:49] kargakis commented on #45461
/assign @suyogbarve

[2017-05-16 19:56] pmichali commented on #45906
I see there is an asciiCIDR() method too that needs addressing.

[2017-05-16 20:02] idryomov commented on #45190
@kokhang Kernels 4.9-4.11 support exclusive-lock feature bit, but not the new exclusive map option.  This is where the plugin should bail because the mapping will succeed, but `rbd lock` fallback won't work.

[2017-05-16 20:15] kargakis commented on #45900
Open this issue in Openshift first and once we identify whether it's a Kubernetes issue or not, we can re-open this accordingly.

https://github.com/openshift/origin/issues

[2017-05-16 20:15] #45900 closed

[2017-05-16 20:22] cmluciano commented on #45906
/area networking

[2017-05-16 20:22] cmluciano commented on #45906
/sig network

[2017-05-16 20:25] cmluciano commented on #28658
Is this still relevant? Do we think that custom metrics could support this?

[2017-05-16 20:26] cmluciano commented on #28658
/assign

[2017-05-16 20:29] cmluciano commented on #43340
/sig aws

[2017-05-16 20:31] cmluciano commented on #24745
@bprashanth @freehan  @aledbf Can we use websockets with the nginx ingress controller now as well?

[2017-05-16 20:31] cmluciano commented on #45790
/sig node

[2017-05-16 20:33] cmluciano commented on #45841
Possible dupe of #43340 ?

[2017-05-16 20:33] cmluciano commented on #45841
/sig aws

[2017-05-16 20:35] cmluciano commented on #45828
/area dns

[2017-05-16 20:35] cmluciano commented on #45828
/sig network

[2017-05-16 20:36] aledbf commented on #24745
@cmluciano yes, you can use websockets with the nginx ingress controller

[2017-05-16 20:49] gmarek commented on #45675
@fejta - I was checking if that's the way to do it, and it seems that it is. The problem is that it's a miracle that any tests in those suites are actually passing - we are running all tests whatsoever ignoring even `Feature` tags (not to mention 'Serial', 'Disruptive' or 'Flaky', which shouldn't be run in the same suite as tests of different kind, especially not in parallel). There's no point in

[2017-05-16 20:50] gmarek commented on #45675
I won't be fixing tests that quite likely shouldn't be running in this suite in the first place (they're serial tests).

[2017-05-16 20:55] cmluciano commented on #24745
cool, closing issue

[2017-05-16 20:55] cmluciano commented on #24745
/assign

[2017-05-16 20:55] cmluciano commented on #24745
/close

[2017-05-16 20:55] #24745 closed

[2017-05-16 20:56] kokhang commented on #45190
@kfox1111 Agree. This is exactly what we do with Rook.

@rootfs, based on @idryomov's comment https://github.com/kubernetes/kubernetes/issues/45190#issuecomment-301898781,  here is my proposal for the locking mechanism:
For kernel < 4.12: Disable exclusive-lock feature on image creation, map without exclusive lock and use`rbd lock`
For kernel >= 4.12, Enable exclusive-lock on image, map with exclu

[2017-05-16 21:00] shyamjvs commented on #18432
/unassign @shyamjvs
This is unrelated to my logexporter work as mentioned above by gmarek.

[2017-05-16 21:05] timothysc commented on #27624
@k82cn - fyi, previous thoughts here a while ago.

[2017-05-16 21:07] timothysc commented on #20738
Closing this now, as folks have re-worked the scheduling tests.  Events are useful if/when used judiciously in the e2es.

[2017-05-16 21:07] #20738 closed

[2017-05-16 21:11] kensimon commented on #45818
I've been looking at some of the event usability/bugs lately, I'll start looking at this.

[2017-05-16 21:25] danielfm opened #45911 "Cannot retrieve logs of running pod via kubectl"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `"failed to open log file"` `"/var/log/pods"`

---

**Is this a BUG REPORT or FEATURE

[2017-05-16 21:27] msau42 commented on #44321
This test has failed with many different signatures, and I am going to open separate bugs for each signature.

[2017-05-16 21:33] kensimon commented on #45818
My guess is that the original message was GC'd but the subsequent message wasn't for some reason, since you say you didn't look at it until a long time later.  Events are API object like any other and they get GC'd.  This is my guess at least.

How long between when the issue and when you looked at the event list?

[2017-05-16 21:39] k8s-merge-robot opened #45914 "Failure cluster [9a3f59...] failed 54 builds, 13 jobs, and 6 tests over 1 days"
### Failure cluster [9a3f59da96d25e83df6e](https://go.k8s.io/triage#9a3f59da96d25e83df6e)
##### Error text:
[code]
##### Failure cluster statistics:
6 tests failed,    13 jobs failed,    54 builds failed.
Failure stats cover 1 day time range '15 May 2017 20:02 UTC' to '16 May 2017 20:02 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Reboot [Disru

[2017-05-16 21:39] k8s-merge-robot opened #45915 "Failure cluster [895633...] failed 48 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [8956334f660a34c16bf6](https://go.k8s.io/triage#8956334f660a34c16bf6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    48 builds failed.
Failure stats cover 1 day time range '15 May 2017 20:02 UTC' to '16 May 2017 20:02 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] ClusterDns [Fe

[2017-05-16 21:44] msau42 opened #45916 "Flaky ci-kubernetes-e2e-gce-gci suites with "dial tcp: i/o timeout""
These suites sometimes flake with timeouts reaching the nodes, which causes many tests to fail.

Example failures:
ci-kubernetes-e2e-gce-gci-ci-release-1.4 [log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-ci-release-1.4/6201)
ci-kubernetes-e2e-gce-gci-qa-m56 [log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-

[2017-05-16 21:45] timothysc commented on #45818
@ankon

[2017-05-16 21:47] msau42 commented on #45916
All the failures that match "dial tcp"
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=dial%20tcp

[2017-05-16 21:49] suyogbarve commented on #44765
@vglazkov I have verified that this is working perfectly fine with

Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e51decb1a211df6", GitTreeState:"clean", BuildDate:"2017-05-10T15:48:59Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc

[2017-05-16 21:49] suyogbarve commented on #44765
@saad-ali assign this to me

[2017-05-16 21:54] msau42 opened #45917 "Flaky e2e suites with "Not ready nodes""
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Not%20ready%20nodes

Here's one sample:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-ci-master/7117

[code]

[2017-05-16 21:58] dashpole commented on #40474
This issue should be mitigated by #43950, since that changes the eviction manager to ignore the success or failure of the killpod function call, and instead rely on observing the cleanup of the evicted pod.

[2017-05-16 22:05] cblecker commented on #45757
So I think the reason we're seeing this in the staging repos, but not the core repo is this line:
https://github.com/kubernetes/kubernetes/blob/3294200dc8e4e0600bedb512699a054fe3616797/hack/update-staging-godeps.sh#L67

We blow away the Godeps directory each time we to a godep save. I'm not sure that's strictly necessary.

Long term, if we're sticking with godep, doing those operations in a docker

[2017-05-16 22:19] madhusudancs commented on #42559
@ktsakalozos if you are running an on-prem cluster, just enabling RBAC mode as suggested in https://github.com/kubernetes/kubernetes/issues/42559#issuecomment-292496145 might help.

We also have plans to add a flag to let you decide what credentials and authorization mechanisms you want federation control plane to use if the defaults chosen doesn't work for you. Described in detail in - https://gi

[2017-05-16 22:23] xiangpengzhao commented on #45911
Daniel, can you try to kill a running container of your pod by `kill -9 CONTAINER_PID` to see if it can be reproduced? This will also leads to container exiting with code 137. Let's see if this is the cause.

/cc @Random-Liu

[2017-05-16 22:29] xiangpengzhao commented on #45887
/cc @jingxu97

[2017-05-16 22:35] fejta commented on #45675
/unassign

I am not writing features in kubernetes and therefore I have nothing I need to validate.

[2017-05-16 22:47] willjacobs commented on #24745
Awesome, thanks for the hard work guys!

[2017-05-16 22:50] enisoc commented on #45511
@deads2k I added some new items, in a third section geared towards preventing regressions versus TPR.

[2017-05-16 22:52] enisoc commented on #29415
This is addressed in the [proposal for moving TPR to beta](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/thirdpartyresources.md). The various names are specified explicitly by the user.

[2017-05-16 22:52] #29415 closed

[2017-05-16 22:57] danielfm commented on #45911
Hi @xiangpengzhao. Thanks for your reply.

I killed the container with `kill -9` and in the next minute the Docker daemon became unresponsive (i.e. `docker ps` hanged without giving a response).

Since I thought there was something wrong with Docker, I restarted it via `sudo systemctl restart docker`. The command took a few minutes to finish. Then, when I ran `kubectl logs`, it still returned an e

[2017-05-16 23:00] yurishkuro commented on #26507
@ichekrygin I updated the docs. The Cassandra port is standard. We will soon merge https://github.com/uber/jaeger/pull/157, which builds ready to use Docker images, and update the docs on how to start them. Alternatively, there are OpenShift and Kubernetes templates being developed in https://github.com/jaegertracing

[2017-05-16 23:05] kfox1111 commented on #45190
Id recommend making the lock type overridable. a lot of vendor kernels report to be older then some of their subsystems are. With Redhat owning Ceph, I'd be surprised if their 3.10.x kernel didn't have newer ceph bits.

[2017-05-16 23:09] danielfm commented on #45911
Apparently the "freezing" of the Docker daemon happened after the Kubelet restarted the container.

[2017-05-16 23:14] #44351 closed

[2017-05-16 23:15] xiangpengzhao commented on #45911
`kill -9` possibly destroy some other thing of the container. I'm not so sure either:)

@Random-Liu might help on the original issue.

[2017-05-16 23:20] eparis commented on #45461
I do not believe a change to pflag is going to 'fix' anything here. Bool flags simply can not take a space.  (Not flag with a NoOptDefVal can take a space)

The only fix I can think here is that the command should fail if args contains a word it doesn't understand. In this case 'false' is parsed as an arg....

[2017-05-16 23:25] kokhang commented on #45190
@kfox1111 yes. As i specified in the proposal (first comment), relying on`uname -r` might be ok.  At worst, this would just result in a false negative.

[2017-05-17 00:10] erictune commented on #44172
I had a long chat with @jingxu97 about this today.  She asked me to summarize here.  I haven't read this whole issue, so apologies in advance if I misunderstand or state what has already been said.

In Kubernetes RBAC, it is desirable, and I think common, to give a user within a namespace permission to access all resources of all objects within that namespace, including subresources.

(Details: th

[2017-05-17 00:12] verb opened #45922 "FR: New kubectl command `kubectl debug`"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

SIG Node is working on new functionality (feature: kubernetes/features#277 , proposal: #35584) to execute a "Debug Container" in the context of a running pod for the purposes of troubleshooting. This issue is to discuss changes needed to kubectl to surface this feature.

We're aiming for an alpha release in 1.7 that includ

[2017-05-17 00:18] suyogbarve commented on #45461
@eparis : thanks; I made some misinterpretations, below tests confirms what you said

go run ./45461/booltest.go echo --c1=false -b=false xxxxx
value of b1 flag:  false
value of c1 flag:  false
Print args: xxxxx

go run ./45461/booltest.go echo --c1 false -b false xxxxx
value of b1 flag:  true
value of c1 flag:  true
Print args: false false xxxxx

[2017-05-17 00:30] liggitt opened #45925 "PodPreset admission plugin should ignore mirror pods"
Mirror pods should not reference secrets, configmaps, service accounts, or PVC objects.

The PodPreset admission plugin should avoid adding references to these objects to a pod annotated as a mirror pod.

[2017-05-17 00:34] rootfs commented on #45190
@kokhang
- checking kernel version is not a reliable mechanism to check rbd features, e.g. centos backports 4.x kernel features into 3.x base.
- can you check the if the rbd advisory lock is already held by other client via sysfs (currently done via `rbd status`)?

[2017-05-17 00:36] brunobowden commented on #33586
Issue was created by @nickform for Source IP whitelist support for the Ingress Controller on GKE:

https://github.com/kubernetes/ingress/issues/566

[2017-05-17 00:38] cjwagner commented on #45842
/cc

[2017-05-17 00:40] cjwagner commented on #45842
/cc @cjwagner

[2017-05-17 00:43] fejta commented on #44650
/remove-sig network

[2017-05-17 00:49] suyogbarve commented on #45461
@eparis : Looks like it is not possible to come up with generic solution for this

While expected behavior would be to create "a" and "b" ( following NOT z-approach)
Result will be creation of "a" , "b" and "false" (following z-approach)
since a, b .... are just random values it is hard determine if "false" is yet another value.

flag with NoOptDefVal is causing ambiguity in such scenarios.

[2017-05-17 01:05] kokhang commented on #45190
@rootfs While it is true that checking the kernel version might not be reliable, how about if we go with that @kfox1111 suggested and make this as a config? We can add a flag in both the storageclass and the RBDVolumeSource to indicate whether to use exclusive-lock or not. By default we can set it to false, in which it will fall back on `rbd lock`, which is the current behavior. No need to do kern

[2017-05-17 01:10] #44857 closed

[2017-05-17 01:11] rootfs commented on #45190
If you wrap up map/unmap using sysfs and fall back to rbd cli, that sounds good to me.

[2017-05-17 01:16] yujuhong opened #45927 "Add windows support in the docker-CRI implementation (pkg/kubelet/dockershim)"
The legacy non-CRI implementation in the dockertools has been removed from the codebase. [Changes](https://github.com/kubernetes/kubernetes/blob/v1.6.3/pkg/kubelet/dockertools/docker_manager_windows.go) previously introduced to the dockertools package need to be ported to the new docker-CRI implementation (`pkg/kubelet/dockershim`). The port should be relatively straightforward, but manual testing

[2017-05-17 01:21] k82cn commented on #27624
ack, let me check it :).

[2017-05-17 02:04] Rishabhjain123456 opened #45928 "How to connect two masters for HA setup?"
Hi ,

 I have setup two k8s masters with k8 1.3 version they are independently working fine. How to connect two masters for HA setup and how to connect workers nodes to both of them(from one master works are running fine).

Regards,
Rishabh

[2017-05-17 02:54] vromero opened #45931 "Hook initContainers into lifecycle"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: `minikube` `xhyve`
- **OS** (e.g. from /etc/os-release): `macosx`
- **Kernel** (e.g. `uname -a`): `Darwin ML-VSITZ-OSX-SF 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016; root:xnu-3789.4

[2017-05-17 03:41] ZongqiangZhang commented on #5607
+1 need for /dev/fuse access, which is used by s3fuse

[2017-05-17 04:05] cblecker commented on #45928
Hi @Rishabhjain123456,
GitHub issues are for bug reports or feature requests directly related to the Kubernetes code base. For support with your cluster, please check out our [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/) or [Stack Overflow](http://stackoverflow.com/questions/ask?tags=kubernetes).

[2017-05-17 04:05] cblecker commented on #45928
/assign

[2017-05-17 04:06] cblecker commented on #45928
/close

[2017-05-17 04:06] #45928 closed

[2017-05-17 04:43] thockin opened #45934 "Idea: DNS "diagnosis" program"
We still have a lot of reports of DNS issues.  It would be super cool to have a diagnoser program that could run as a pod in your cluster, and would gather information about DNS - how many replicas are running, how many restarts they have, do a bunch of DNS lookups of various kinds - in-cluster, out of cluster, A, PTR, SRV - and collect the latencies and dropped requests.

Something like `kubectl

[2017-05-17 04:53] wulibin163 opened #45935 "A lot of wrapped_wrapped_config.deleting~ file, and kubelet can't work"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

wrapped_wrapped_config.deleting
nestedpendingoperations.go:262] Operation for
Orphaned

[2017-05-17 05:02] ZongqiangZhang commented on #5607
+1 need for /dev/fuse too

[2017-05-17 05:53] vnandha commented on #33245
I faced the same issue on 1.6.0

It usually happens if anyone of the node is not responding ( or it is unable to delete the daemon set pod on one node)

In my case,  I had a faulty node daemon set status shows `NodeLost`, I tried doing delete daemonset, it took a while and timedout

`error: timed out waiting for the condition`

Later the daemonset pod status became `unknown`

`sysdig-falco-kt42p

[2017-05-17 06:00] ash2k opened #45939 "Expose Informer constructors in generated clientsets"
This is a feature request.

I'd like to reuse methods like [newDeploymentInformer()](https://github.com/kubernetes/kubernetes/blob/b844f7d4a4018beb664a9f0b075d83f717a631ab/staging/src/k8s.io/client-go/informers/apps/v1beta1/deployment.go#L44) but they are private at the moment.
The use case: I need to construct Informers for a specific namespace (or a set of namespaces) and instead of reusing this

[2017-05-17 06:00] ash2k commented on #45939
/sig api-machinery

[2017-05-17 06:23] pires commented on #45927
No, there are no CI builds.

[2017-05-17 06:24] wojtek-t commented on #45876
Yeah - I was adding next comments to it once I was going through related part of kube-proxy code.
I think that sounds most reasonable, because those profile handlers are most related to metrics.

[2017-05-17 06:28] evmin commented on #41039
Looking forward to 1.7!

[2017-05-17 06:58] thockin commented on #13364
I think this is an app problem - reporting ready when it is not.

[2017-05-17 06:58] #13364 closed

[2017-05-17 07:04] davidopp commented on #45675
@bsalamat can you take a look at this?

[2017-05-17 07:05] sttts commented on #45757
The removal of vendor/ is necessary because a) godep-save isn't very reliable with an existing vendor/ b) we want to be sure that we can always start fresh without a vendor/ dir.

I agree with the docker suggestion. Would be happy to review a PR implementing this :)

[2017-05-17 07:15] xowind opened #45942 "Containers of pod keep restarting while a infra container is created with future timestamp"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kill infra restart kubelet label:area/kubelet

---

**Is this a BUG REPORT or FEATURE

[2017-05-17 07:18] karsteng commented on #45041
We had similar issue.
Switching from EC2 instance type t2 to m3 solved the problem.

[2017-05-17 07:31] murhum1 opened #45943 "Pod's container status' "Started" is null after container termination"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Pod status started null, started, 01 Jan 0001

**Kubernetes version** (use `kubectl version`):

    Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e51decb1a211df6", GitTreeState:"clean", Build

[2017-05-17 08:25] davidmccormick commented on #45887
I'm confused by this log message: -

[code]

I'm not running with "--enable-controller-attach-detach" ...

[2017-05-17 08:53] davidmccormick commented on #45887
Hmm it looks like the volume reconciler decides whether to run VerifyControllerAttachedVolume or not.

[code]

It must be hitting this branch of code otherwise it would be logging "Attempting to start AttachVolume for volume" instead.

So if the plugin is not attachable then it must be controller attached?  My flexvolume does not need to be attached AT ALL - it only needs to be mounted or unmounte

[2017-05-17 08:54] x1957 commented on #5607
+1

[2017-05-17 09:04] sdminonne commented on #30243
@soltysh any chances to have this implemented?  This starts to bite us too many times :)
so... +1

[2017-05-17 09:12] CelsoSantos commented on #44275
I too am facing this issue after upgrading to 1.6.2 on GKE

[2017-05-17 10:24] nielsole opened #45947 "e2e tests flag "--prom-push-gateway" has no effect"
TLDR: https://github.com/kubernetes/kubernetes/pull/34597 removed a feature but left documentation and the flag intact.

**Kubernetes version** (use `kubectl version`):

    Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:36:33Z", GoVersion:"go1.7.5", Compiler:"gc", Platform

[2017-05-17 10:25] inetfuture commented on #11158
@andyxning I'm curious, what's the difference between rss and workingset, please?

[2017-05-17 10:30] gmarek commented on #45675
This generally involves looking at upgrade/skew tests and making sure we're running correct set of tests. I don't know what's the definition of 'correct set of tests' is, but I guess previous/current release tzar might.

[2017-05-17 11:17] andyxning commented on #11158
@inetfuture IIUC, rss + cache ~= usage. Just like what is res + cache ~= virt.

I also have no clear understand about workingset, according to the [wiki](https://en.wikipedia.org/wiki/Working_set), it is just an operating system concept.

[2017-05-17 11:35] davidmccormick commented on #45887
/cc @chakri-nelluri

[2017-05-17 11:59] danielmorlock opened #45951 "Error while mounting data from ConfigMaps to a file in a Pod"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):

`root@ginger:/tmp# kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e51decb1a211df6", GitTreeState:"clean", BuildDate:"2017-05-10T15:48:59Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVers

[2017-05-17 12:26] NickrenREN opened #45954 "pull-kubernetes-federation-e2e-gce test failed"
W0517 05:04:27.446] +(/workspace/e2e-runner.sh:1): main(): chmod -R o+r /workspace/_artifacts
I0517 05:04:28.366] Starting pull-kubernetes-federation-e2e-gce-5154...
W0517 05:04:28.373] Traceback (most recent call last):
W0517 05:04:28.374]   File "/var/lib/jenkins/workspace/pull-kubernetes-federation-e2e-gce/./test-infra/jenkins/../scenarios/kubernetes_e2e.py", line 488, in <module>
W0517 05:04:2

[2017-05-17 12:27] danielmorlock commented on #45951
Duplicate of #45613 ...

[2017-05-17 12:27] #45951 closed

[2017-05-17 12:37] sibh8 opened #45955 "Facing issues Kubernetes 1.6.3 installation after referring to get started section in the Installation guide"
Hi,

I am a newbie w.r.t Kubernetes and installing v1.6.3 Kubernetes on Centos 7 Machines. As a part of my configuration,. I am using 1 master and 1 slave with 4 GB RAM for each machine. The machines are spun up using Vagrant. I am using the vagrant image siddheshbhandarkar/MSKSidCentos7.

I have refered to the installation steps in Get started section on the link
https://kubernetes.io/docs/gettin

[2017-05-17 12:37] erikbgithub opened #45956 "kube proxy in proxy-based network redirects weirdly"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Nope

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): I talked to the dashboard guys in kubernetes/dashboard#1858 and they suggested to o

[2017-05-17 12:40] sibh8 opened #45957 "Kubernetes 1.6.3 Installation."
Hi,

I am linkingthis issue with Issue ID 45955. Following the kubernetes installation in the guide I wish to know if I can achieve the networking aspects by just applying flannel pod or I need to install flannel and etcd explicitly in my centos Machine

Thanks

[2017-05-17 12:45] jsravn opened #45959 "salt manifests for kube components breaks graceful termination"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Kubernetes ve

[2017-05-17 13:43] lyz-code opened #45961 "HPA cannot get cpu info"
**Kubernetes version**:

    Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
    Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507",

[2017-05-17 13:46] davidmccormick commented on #45887
ok, think I got a bit further.  I didn't realize that `--enable-controller-attach-detach` is enabled by default on the kubelet.  I've now made sure that my updated plugin implementation is also deployed to the masters and included in the kube-controller-manager with `--flex-volume-plugin-dir`

I simplified the flexvolume with only mount/unmount/init and return "Not Supported" for anything else by

[2017-05-17 13:51] James-Dao opened #45963 "Federation service configured NodePort can not be used for service discovery cross cluster with coredns in 1.6"
Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de

[2017-05-17 14:05] James-Dao commented on #45963
The ServiceType of Federation Service must be LoadBalance?

[2017-05-17 14:37] aliouba commented on #44377
+1

[2017-05-17 14:39] caarlos0 commented on #15478
My 2 cents.

Current solutions to logging inside k8s are (AFAIK):

- sidecar container sending logs somewhere
- replication controller sending all logs somewhere
- the container itself sending logs somewhere

Sidecar container seems kind of overkill for me. The replication controller strategy seems good, but it mix logs of containers from all deployments, and some users might now want that, and ma

[2017-05-17 14:57] kornface13 commented on #43704
I'm having this same issue on 1.6.2 on CentOS.  Not running kubelet as a pod.  Kernel is 4.11.1-1.el7.elrepo.x86_64.

Specifying --cgroups-per-qos=false --enforce-node-allocatable= in my kubelet config has solved the problem and lets the kubelet become ready again.

[2017-05-17 15:03] hex0cter commented on #13776
+1!

[2017-05-17 15:12] benmathews opened #45967 "Make cpu limits and requests scalable to accommodate difference in node chip architecture"
Pods are allowed to specify a [request and limit for cpu](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/). Our cluster though is composed of multiple classes of cpus. I think this has to be a very common problem as it makes little sense to replace every node when new chip architecture comes out. Replacement is always going to be a phased process.

What 100 mi

[2017-05-17 15:30] themarcelor commented on #45770
Number 3: pod template labels (d.spec.template.metadata.labels).
[code]
Hm, I'm not sure if 36897 addresses this issue as the actual problem is that, instead of relabelling the existing RS (ReplicaSet) once the deployment is relabelled, it actually creates 2 pods and 2 RSs and when we delete the deployment it gets rid of all pods but it deletes only one of the RSs.

[2017-05-17 15:41] kfox1111 commented on #15478
once multi tenancy becomes more of a thing, it will be harder to solve properly.

Each namespace may be a different tenant so logs from each should not necessarily be aggregated, but allowed to be sent to tenant specified locations.

I can think of a few ways of doing this:
1. make a new volume type, container-logs. This allows a daemonset launched by a particular namespace to access just the logs

[2017-05-17 15:49] crassirostris commented on #15478
@caarlos0 @kfox1111 I agree with your points. This is a complex topic, as it requires coordination of instrumentation, storage, node and maybe even more teams. I suggest having a proposal for the overall logging architecture laid out first and then discuss the changed to this consistent view. I expect for this proposal to appear in a month or so, bringing order and figuring out all problems mentio

[2017-05-17 16:00] caarlos0 commented on #15478
@crassirostris I'm not sure I understand: if we just allow `log-driver` et al, we don't have to deal with storage or any of that, right?

Is just docker sendings its STDOUT to whatever log driver is set up in a container basis, right? We kind of pass the responsibility down to the container... seems like a pretty simple solution to me - but, as I said, I don't know the codebase, so maybe I'm just

[2017-05-17 16:07] ConorNevin commented on #41039
Is this still on track to make 1.7?

[2017-05-17 16:07] kfox1111 commented on #15478
The issue is the log-driver in docker doesn't add any of the k8s metadata that makes consuming the logs later actually useful. :/

[2017-05-17 16:13] pwittrock commented on #45922
How are we going to hide this?  I can think of a couple ways:

- put it under and `alpha` subcommand as is done in gcloud
- only expose it if a `--alpha` flag is provided

FYI, code freeze for 1.7 is a week from tomorrow, so this will need to be fully reviewed, approved and have all checks passing by then to make it into 1.7.

You probably want to send an MVP for review ASAP, so follow up later wi

[2017-05-17 16:14] ravisantoshgudimetla opened #45969 "Support taints & tolerations as priority in scheduler_perf"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):

**What happened**:
As of now, we have performance tests for nodeAffinity and density tests in scheduler perf. To simulate complex scheduling scenarios we need to have other priorities as well.

**What you expected to happen**:
Include taints & tolerations in scheduler_perf.

[2017-05-17 16:14] ravisantoshgudimetla commented on #45969
/cc @jayunit100 @gmarek @sjug

[2017-05-17 16:15] caarlos0 commented on #15478
@kfox1111 hmm, makes sense...

but, what if the user only wants the "application" logs, not kubernetes logs, not docker logs, just the app running inside the container logs?

In that case, seems to me, `log-driver` would work...

[2017-05-17 16:21] kargakis commented on #45770
You can't just change the pod template labels, otherwise once they mismatch with the selector of the Deployment, we return a validation error. Can you post a reproducer of what you are seeing with the exact steps you followed?

I just tried to reproduce the case where "and when we delete the deployment it gets rid of all pods but it deletes only one of the RSs." w/o any luck. I see the old RS with

[2017-05-17 16:28] caarlos0 commented on #34308
I think this would also require to update other docker packages...

This will probably break a lot of things :(

[2017-05-17 16:28] ankon opened #45970 "401/403 apiserver errors do not return 'Status' objects"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "status forbidden unauthorized"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2017-05-17 16:29] kensimon opened #45971 "Aggregated events can outlive the events they duplicate"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** : is:issue is:open in:title event

Original report: #45818

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`):

Latest master, although same bug is in released versions

[code]

**Environment**:
- **Cloud provide

[2017-05-17 16:35] kensimon commented on #45818
Opened a new issue (#45971) to address the root cause here, because this same issue can happen for any event.  I'll put further thoughts on the design problems in that issue.  IMO you can leave this open and consider it closed only when #45971 is, or you can close it as a duplicate.

Thanks for your report!

[2017-05-17 16:38] crassirostris commented on #15478
@caarlos0 It may have some implications, e.g. kubelet makes some assumptions about logging format to server kubectl logs.

But all things aside, `log-driver` per se is Docker-specific and might not work for other runtimes, that's the main reason not to include it in the API.

[2017-05-17 16:38] ravisantoshgudimetla opened #45972 "Separate predicate and priority metrics in scheduler"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

As of now in metrics.go https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/metrics/metrics.go, we have 3 metrics, for end2endLatency, algorithmLatency and BindingLatency.

The problem with algorithmLatency is
- it is a combination of predicate and priority latencies.

So breaking down this metri

[2017-05-17 16:38] ravisantoshgudimetla commented on #45972
/cc @jayunit100 @gmarek

[2017-05-17 16:46] davidopp commented on #45717
This issue (and #44445)  led @gmarek and me to realize that there is not a good understanding and agreement of what the actual and desired behavior is for node conditions (and for the taints that we want to replace them with for scheduling purposes) in general. Before we try to do anything, we need to take a step back and get this understanding. @gmarek and I started talking about all of the scena

[2017-05-17 16:53] ravisantoshgudimetla opened #45973 "Architectural changes for scheduler perf"
As  part of  #44770, we started re-architecting scheduler perf but retracted to have backwards compatibility. In order to have robust scheduler performance and scale testing, we need to ensure complex scenarios like multiple combinations of predicates and priorities are tested.

The problem with current scheduler perf is that we are defining strategies where choose predefined subset of given nodes

[2017-05-17 16:53] ravisantoshgudimetla commented on #45973
/cc @jayunit100 @gmarek

[2017-05-17 16:53] davidopp commented on #45484
Yes, I think so. Can someone do it?

[2017-05-17 17:00] davidopp commented on #45717
Oops, @gmarek is still working on the spreadsheet, so the link isn't public yet. @gmarek please post to this issue when it is ready to share. Sorry about that.

[2017-05-17 17:02] davidmccormick commented on #45887
Not sure about the message above but only just spotted that the mount and unmount commands have changed!  I'll re-test this tomorrow morning and see if I can't get any further.

[2017-05-17 17:03] flx42 commented on #44080
From the official [CUDA documentation](http://docs.nvidia.com/cuda/cuda-installation-guide-linux/#runfile-installation):

The instructions are also valid for headless nodes.

When you install the driver using the Ubuntu deb package:
[code]

[2017-05-17 17:06] davidopp opened #45974 "Implement a library/tool for processing and transforming the etcd state"
It may be useful to build some kind of library for working with the etcd databases from Kubernetes masters. If you build such a library it can be useful for lots of applications, such as removing sensitive information before sharing the state for debugging by a third party, repairing corrupted/buggy state, creating artificial workloads for benchmarking, etc. It would let you do these operations di

[2017-05-17 17:07] yujuhong commented on #45927
The 1.7 code freeze is imminent. Let me know if you need some pointers to the new code.

/cc @michmike

[2017-05-17 17:23] kensimon commented on #45971
cc @derekwaynecarr

[2017-05-17 17:23] bsalamat commented on #45675
@davidopp I can take a look if it is not urgent. I will be very busy in the next one week or so to prepare PRs for before the code freeze for 1.7. I can take a look after that.

[2017-05-17 17:30] davidopp commented on #45675
OK, thanks.

[2017-05-17 17:32] someword opened #45976 "kube-dns: dnsmasq intermittent connection refused"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-05-17 17:33] lavalamp commented on #44618
Mehdy's PR merged so I guess this is done.

[2017-05-17 17:33] #44618 closed

[2017-05-17 17:39] caarlos0 commented on #15478
@crassirostris that makes sense...

[2017-05-17 17:40] cmluciano commented on #45973
/sig scheduling

[2017-05-17 17:41] gmarek commented on #45973
I'm fine with any changes, as long as we'll end up with the same-ish API as cluster loader.

[2017-05-17 17:41] gmarek commented on #45969
/sig scheduling

[2017-05-17 17:43] gmarek commented on #45972
+1 please send a PR.

[2017-05-17 17:45] crassirostris commented on #15478
@caarlos0 However, we definitely want to make the logging set up more flexible and transparent. Your feedback will be appreciated on the proposal!

[2017-05-17 17:54] wojtek-t commented on #45484
@davidopp - will do tomorrow

[2017-05-17 17:55] yujuhong commented on #45943
/cc @kubernetes/sig-node-bugs

PR to fix this: #45977

[2017-05-17 18:02] verb commented on #45922
ack, thanks. Will dig into which is easier and create an MVP ASAP.

[2017-05-17 18:13] jayunit100 commented on #45972
We also have some demonstrations of how this helps with things like highlighting taint and toleration performance and so on.  We should update readme info on how to use these along side the scheduler perf stuff as we've done internally .

[2017-05-17 18:13] wojtek-t commented on #45972
You need to be careful about what latency means if we are computing multiple different predicates in parallel (if we decide to split it by predicate).

Splitting predicate vs priority is definitely a good idea.

[2017-05-17 18:13] jayunit100 commented on #45972
Please label this as part of our 1.7 scheduling forensics milestone .

[2017-05-17 18:14] fejta opened #45978 "pull-kubernetes-federation-e2e-gce is flaky"
from @nikhita on https://github.com/kubernetes/test-infra/issues/2787

I keep hitting this flake: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45721/pull-kubernetes-federation-e2e-gce/5138/. Noticed that most of the recently updated PRs are failing on this one. See also: kubernetes/kubernetes#42072.

I mentioned this in the sig-testing channel as well and wasn't sure if

[2017-05-17 18:15] jayunit100 commented on #45972
Let's remove the idea of latency entirely, it is confusing - this is just an attempt at measuring predicate and priority timescales, and there is no response latency that we care about in those small (20ms) timescales , (with the exception of maybe the latency of an etcd hit that might happen in a client if the cache is missing information I guess)

[2017-05-17 18:18] jayunit100 commented on #45973
Go ahead and attach a PR and let's make sure its orthogonal to the other improvements we're making so we can progress in parallel.

[2017-05-17 18:30] thockin commented on #45783
Fascinating.  Trying to repro.

[2017-05-17 18:32] thockin commented on #44248
It would be great to do a deprecation-week once each release cycle.

[2017-05-17 18:33] thockin commented on #45841
Looks like dup

[2017-05-17 18:33] #45841 closed

[2017-05-17 18:37] csbell commented on #45978
The clusters have been re-cycled (jenkins job re-build) and test runs are
passing as of ~10:10 PDT. We'll have to figure out why the base clusters
timed out.

On Wed, May 17, 2017 at 11:15 AM, Erick Fejta <notifications@github.com>
wrote:

[2017-05-17 18:38] thockin commented on #45842
I need the `gcloud compute addresses describe` for each of the IPs in this project - which GCP project is it?

[2017-05-17 18:49] justinsb opened #45983 "aws: when we choose subnets arbitrarily, we should still choose consistently"
When we choose subnets here: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L2411

We should choose e.g. the first alphabetically.  We do sometimes have to make an arbitrary choice, but we should make the same choice as far as possible.

[2017-05-17 19:03] fejta commented on #45842
You can find this information from the job definition or a build result.

For now each job is pinned to a specific project. You can determine which job is pinned by opening the `test-infra/jobs/JOB_NAME.env` file for that job and then look for the `PROJECT=whatever` line which tells you the project.

If you have a gubernator build result then click on `build log` and then `expand skipped lines` th

[2017-05-17 19:12] nikhita commented on #45954
xref. #45978.

[2017-05-17 19:23] bboreham commented on #45790
We discussed this at the CNI maintainers meeting; the consensus was that 3rd-party CNI plugins should just set hairpin on on the bridge port and not worry about giving an option for those old kernels that panic when they encounter this setting.

[2017-05-17 19:27] ravilr commented on #45976
cc @bowei

we are also seeing this intermittently in our clusters, specifically from java based containers. the lookups that fail are for non-cluster domains.

@someword what version of kube-dns manifest are you running with. specifically, does it have this https://github.com/kubernetes/kubernetes/pull/41212 change ?  we are running a older version without that change. Just wondering if the above

[2017-05-17 19:40] rrati commented on #45118
The PR I pushed only changes AWS.  w/o this change the node is removed from kubernetes shortly after it is no longer running.  With this PR the node transitions to unschedulable and details show it hasn't reported its health check.

[2017-05-17 19:46] someword commented on #45976
@ravilr
We are mostly seeing it from java apps but that's because they are the ones that are the best at logging what happens.  It mostly seems for external names as well but 90% of our the DNS lookups done by our java apps are off cluster names.  Our nodejs apps see it as well but they are not instrumented very well so we don't know the exposure.

So we have been running an internal experimental

[2017-05-17 19:53] thockin commented on #45842
All leaked IPs seem to be from test/e2e/upgrades/ingress.go - "ingress-upgrade".

None of them are "in use" by anything.

No lingering ForwardingRules or TargetProxies or BackendServices.

Some lingering certificates (e.g. k8s-ssl-e2e-tests-ingress-upgrade-793tb-static-ip--c108c2b16fb0) all for example.ciom

Tagging @nicksardo as most familiar with ingress and GLBC code, which would be responsible

[2017-05-17 19:54] jagosan commented on #45705
/unassign @deads2k @lavalamp (whom expect are full-on, heads-down on other things)
/assign @cheftako who has slightly better chances.
Leaving @derekwaynecarr.

[2017-05-17 19:58] dchen1107 opened #45988 "[k8s.io] Services should work after restarting kube-proxy [Disruptive] failed all the time in ci-kubernetes-e2e-gce-serial"
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial is very flaky since 2017-05-12 00:47 PDT took 5h5m due to the test:
[code]
One example of failed builds is: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1063/

The flakiness currently blocks our 1.7 alpha-4 build.

cc/ @kubernetes/kubernetes-release-manage

[2017-05-17 20:10] ravilr commented on #45976
ok. good to know.  i was just trying to see if there are any patterns.

Another thing that is related for sure in our case is, kube-proxy being up and available all the times. During kubernetes version upgrades (in place upgrade without drain) on the nodes,  we've observed this happening when kube-proxy gets restarted.

reminds me of this https://github.com/kubernetes/kubernetes/issues/32749 which

[2017-05-17 20:11] nicksardo commented on #45842
I hardened the cleanup code back in March https://github.com/kubernetes/kubernetes/pull/42555; however, it could still leak static addresses until Kris wrote https://github.com/kubernetes/kubernetes/pull/44104. @krousey, should we cherry pick that to 1.6?

[2017-05-17 20:14] thockin commented on #45783
Can not reproduce:

[code]

[2017-05-17 20:15] kargakis commented on #45970
@kubernetes/sig-api-machinery-misc

[2017-05-17 20:15] thockin commented on #45783
can you show me the `git diff` this produces for you?  Can you run `make clean` first?

[2017-05-17 20:22] dchen1107 opened #45991 "kubedns not-ready causes test: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] failed all the time in ci-kubernetes-e2e-gce-serial"
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial is very flaky since 2017-05-12 00:47 PDT took 5h5m due to the test:

[k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] 6m11s

[code]
One example of failed builds is: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-

[2017-05-17 20:30] bowei commented on #45991
/assign

[2017-05-17 20:31] krousey commented on #45842
@nicksardo Yes. Could you handle that? I'm going on vacation soon and wouldn't be able to shepherd the cherry pick for long.

[2017-05-17 20:32] nicksardo commented on #45842
No problem @krousey!

[2017-05-17 20:32] dchen1107 commented on #45988
@MrHohn is triaging this. Please let the release manager team know if this is a blocker.

[2017-05-17 20:36] freehan commented on #31631
ref: https://github.com/kubernetes/kubernetes/pull/45343

[2017-05-17 20:37] #17962 closed

[2017-05-17 20:41] bowei commented on #45988
/assign @bowei

[2017-05-17 20:46] smarterclayton commented on #45705
Adding debug info into https://github.com/kubernetes/kubernetes/pull/42975 to get more signal.

[2017-05-17 20:54] nicksardo commented on #45842
I'd like this test to run with this cherry pick for a little bit before clearing the leaked certs/addresses. I'll clean it up tomorrow morning.

[2017-05-17 20:56] jcbsmpsn commented on #43670
Have a bunch of changes in a branch but it's not compiling yet. Paused waiting for some migration changes from @caesarxuchao

[2017-05-17 20:56] #45876 closed

[2017-05-17 20:56] jcbsmpsn commented on #43670
/assign jcbsmpsn

[2017-05-17 21:11] jcbsmpsn commented on #43670
The necessary changes won't land in 1.7.

[2017-05-17 21:13] MrHohn commented on #45988
Found a potential root cause: https://github.com/kubernetes/kubernetes/commit/77624a12d38692e1cc06d8a375f67b6d48549ca9#diff-d51765b83fe795b469e8a86276b12dc9L590

Seems like this commit mistakenly flipped the skipping flag, so after restarted kube-proxy we failed to add the service rules back.

[2017-05-17 21:14] MrHohn commented on #45988
cc @wojtek-t

[2017-05-17 21:17] MrHohn commented on #45988
Sorry, I'm wrong. That only affects logging and it seems correct.

[2017-05-17 21:18] yujuhong commented on #45942
kubelet looks at the most recently created containers to determine the state of the pod, and it got fooled because the older containers had more newer timestamps.
I don't think we coded kubelet to handle changing system time. As a workaround, you can manually remove all those exited containers using docker. kubelet would then create fresh containers for you.

[2017-05-17 21:24] caesarxuchao commented on #44065
The prototype PR https://github.com/kubernetes/kubernetes/pull/44784 passes tests locally, but it requires constant rebasing.

At this phase of 1.7 release, i feel we should not merge #44784 before code freeze since it's going to cause almost all PRs to rebase. I propose to review it during the code freeze, and merge it as the first PR after the freeze is lift, like what we did for https://github.

[2017-05-17 21:28] deads2k commented on #44065
The plan sounds good.  I agree that its worthy of mention at the community meeting.  I also think its important for it to be `go get`-able almost immediately, so you'll need pulls ready to auto-sync it and the one to the kubernetes/k8s.io repo along with tim ready to merge and push it.

[2017-05-17 21:32] jcbsmpsn commented on #43670
/assign @jcbsmpsn

[2017-05-17 21:39] k8s-merge-robot opened #45998 "Failure cluster [6d268a...] failed 49 builds, 3 jobs, and 1 tests over 1 days"
### Failure cluster [6d268a83c25eb70f6b68](https://go.k8s.io/triage#6d268a83c25eb70f6b68)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    3 jobs failed,    49 builds failed.
Failure stats cover 1 day time range '15 May 2017 22:03 UTC' to '16 May 2017 22:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 3 |

##### Top f

[2017-05-17 21:51] madhusudancs commented on #45978
This was an infrastructure issue. @shashidharatd and @irfanurrehman who were around when this happened both noticed this but they did not have access to Jenkins to manually trigger a new run. We will prioritize moving the federation presubmit deploy job from Jenkins to prow.

Filed an issue here - https://github.com/kubernetes/test-infra/issues/2791

[2017-05-17 21:56] dchen1107 commented on #43092
I am closing this one since the failures last couple of weeks are irrelevant from the original one:
* https://github.com/kubernetes/kubernetes/issues/44127#issuecomment-299013624
* https://github.com/kubernetes/kubernetes/issues/45988
* https://github.com/kubernetes/kubernetes/issues/45991

There is no action in this bug too.

[2017-05-17 21:56] #43092 closed

[2017-05-17 22:00] MrHohn commented on #45988
Quick update, this seems to be a blocker.

The failure behavior is: In-cluster service stops working on node after kube-proxy is restarted. I'm trying to reproduce locally.

[2017-05-17 22:13] caseydavenport commented on #45790
@bboreham does that mean this issue can be closed, since CNI says this is the responsibility of plugin writers?

[2017-05-17 22:20] bradenwright commented on #44822
Any updates?  It would be nice to move forward on this.

[2017-05-17 22:20] MrHohn commented on #45988
Reproduced locally. After kube-proxy was restarted, the whole KUBE-SERVICES chain was missing. Though it recovered after the test service was deleted.

[2017-05-17 22:35] jeffvance commented on #44172
Is it an option, at least initially if not permanently, to disallow all editing of a snapshot? In a way, this is consistent with the basic concept of snap-shotting...

[2017-05-17 22:39] #45943 closed

[2017-05-17 22:39] vishh commented on #44080
cc @Amey-D

[2017-05-17 22:43] danielfm commented on #45911
It happened again.

I noticed the prometheus pod was recreated in a different machine due to a cluster scaling event, and the `kubectl logs` command started to fail again after that:

[code]

I could not find any kernel OOM event this time.

I verified that the `prometheus-server` container was running and that its logs were being written to the appropriate location at `/var/lib/docker/containers`

[2017-05-17 22:50] deitch commented on #45790
So, hairpin mode **always** is should be set to true?

[2017-05-17 22:55] MrHohn commented on #45988
The root cause should be https://github.com/kubernetes/kubernetes/commit/77624a12d38692e1cc06d8a375f67b6d48549ca9#diff-d51765b83fe795b469e8a86276b12dc9R907. Because `syncReason` is removed, we have not way to force kube-proxy to sync iptables rules.

During this disruptive test, we restart kube-proxy and flush some of the iptables chains. After restart, kube-proxy failed to restore the rules becau

[2017-05-17 23:01] thockin commented on #45988
ACK. We both missed that case.  I have to leave office soon, We could
revert that commit for a fast fix, though we do want most of the other
changes accumulated in there.

On Wed, May 17, 2017 at 3:56 PM, Zihong Zheng <notifications@github.com>
wrote:

[2017-05-17 23:07] foxish commented on #41039
/cc

[2017-05-17 23:07] blueyed commented on #35187
This seems to work by now (Kubernetes 1.5.7).
(`isLocal` is determined by comparing addr.NodeName with hostname however - which might not be correct as per https://github.com/kubernetes/kops/issues/2584#issuecomment-302198278).

[2017-05-17 23:28] whereisaaron commented on #15478
stdout logging from containers is currently handled out-of-band within Kubernetes. We are currently rely on non-Kubernetes solutions to handle logging, or privileged containers that jail-break Kubernetes to get access to the out-of-band logging. Container run-time logging is different per run-time (docker, rkt, Windows), so picking any one, like Docker --log-driver is creating future baggage.

I s

[2017-05-17 23:29] ae6rt opened #46003 "Phased, or partial, rolling deployments"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

[code]

**Feature request**

As a cluster operator, I would like the ability to control the number of updated pods that are deployed during a Deployment rolling update.  For example, if the number of replicas in a Deployment is 3, and I call for a roll

[2017-05-17 23:37] verult commented on #42438
The NodeInformer cache is actually reporting the correct state. The problem is that inside the node status updater, there is another data structure keeping track of nodes that require a status update (see ActualStateOfWorld.GetVolumesToReportAttached(), called inside UpdateNodeStatuses() in node_status_updater.go). The entry for the deleted node is never removed from the data structure; rather, th

[2017-05-17 23:42] crimsonfaith91 commented on #40896
I also faced a similar issue for `swagger-spec`, `openapi-spec`, and `update-federation-openapi-spec.sh` using `v1.6.3 kubectl` and `v1.5.6 local cluster`. The error for `swagger-spec`:

[code]
/cc @foxish

[2017-05-17 23:46] caseydavenport commented on #44100
The Calico plugin has been updated to handle this behavior as of [Calico CNI release v1.7.0](https://github.com/projectcalico/cni-plugin/releases/tag/v1.7.0).

I think this is reasonable enough for now, so I'll close this issue.

[2017-05-17 23:58] caseydavenport commented on #44187
I think this is a symptom of this issue: https://github.com/kubernetes/kubernetes/issues/45790

In v1.6, kubernetes no longer configures hairpin mode.  According to that thread this should now be configured by the 3rd-party CNI plugin in use.

CC @bboreham

[2017-05-18 00:06] crimsonfaith91 opened #46005 "No scale subresource for StatefulSets"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
update using patch
scaleSimple

---

**Is this a BUG REPORT or FEATURE REQUEST?** (ch

[2017-05-18 00:07] crimsonfaith91 commented on #46005
@foxish PTAL - I am not sure whether I describe the issue correctly. Thanks!

[2017-05-18 00:09] foxish commented on #46005
I think the issue here is not that Update() should change, because it serves other purposes also. I'd expect the scaler to use patch instead of update.

[2017-05-18 00:11] caseydavenport commented on #41471
@ChenLingPeng the bandwidth shaping feature that you linked to lives on today in the kubenet plugin only.

See here: https://github.com/kubernetes/kubernetes/blob/v1.7.0-alpha.3/pkg/kubelet/network/kubenet/kubenet_linux.go#L371

[2017-05-18 00:11] caseydavenport commented on #41471
/assign

[2017-05-18 00:18] caseydavenport commented on #40761
Another option here is the [ip-masq-agent](https://github.com/mtaufen/ip-masq-agent).

I agree with @dcbw though that this shouldn't be the kube-proxy's responsibility (although it does provide similar behavior in the other direction when `--cluster-cidr` is set).

[2017-05-18 00:19] caseydavenport commented on #40761
/assign

[2017-05-18 00:21] crimsonfaith91 commented on #46005
/assign crimsonfaith91

[2017-05-18 00:25] foxish commented on #46005
/cc @kubernetes/sig-cli-misc

[2017-05-18 00:30] caseydavenport commented on #40577
I saw this the other day as well on v1.6.2. This sounds to me like a kubectl issue - the Node status indicates that it is NotReady but kubectl says something else.

CC @kubernetes/sig-cli-bugs
/sig cli

[2017-05-18 00:45] janetkuo commented on #46003
Please see issue #11505 where we discussed similar feature request. At this moment you'll need to use multiple deployments to achieve this. Feel free to comment in that issue about your thoughts or suggestions.

Closing this as dup of #11505. Please reopen it if #11505 doesn't fully cover your request.

[2017-05-18 00:46] #46003 closed

[2017-05-18 00:54] smarterclayton commented on #45783
Can reproduce either

[2017-05-18 00:54] smarterclayton commented on #45783
Can't

[2017-05-18 00:55] smarterclayton commented on #45970
@deads2k knows why this happens

[2017-05-18 01:07] dw33z1lP commented on #24317
Will it be possible in the future to set a custom KUBE_MAX_PD_VOLS for GKE (yes, at your own risk), ? For exemple 32 for a 1 vCPU/node cluster.

[2017-05-18 01:13] MrHohn commented on #45991
To clarify, it is not "kubedns not-ready" that causes failure all the time.

For instance, this error didn't appear in the latest runs of [ci-kubernetes-e2e-gce-serial](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial) (from [1076](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1076/) to [1084](https://k8s

[2017-05-18 01:14] msau42 commented on #24317
We are thinking that each node automatically sets a limit based on the VM instance type, as documented here: https://cloud.google.com/compute/docs/machine-types

[2017-05-18 01:15] 8enmann opened #46007 "CUDA_VISIBLE_DEVICES not set, no way to tell which devices were reserved"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
CUDA_VISIBLE_DEVICES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2017-05-18 01:26] dw33z1lP commented on #24317
Sure, it's better. But I wanted to know if there is a workaround to increase this limit now in GKE.

Or do you think it will come soon in k8s next releases ?

[2017-05-18 01:38] msau42 commented on #24317
I believe currently the workaround is to set it on the master node, which won't work for GKE.  We don't have cycles to address this for 1.7, but we may be able to something for 1.8.

[2017-05-18 01:40] #45257 closed

[2017-05-18 02:14] jmzwcn commented on #45828
Could I please take a try? any suggestion?

[2017-05-18 02:26] chrislovecnm commented on #39526
@jingxu97 / @saad-ali should we close this?

[2017-05-18 03:06] jianzhangbjz commented on #45783
@mtaufen I have a another question that how to update these generated proto files. I have modified some protobuf message but can't update these `xxx.proto` files (like `pkg/api/v1/generated.proto` file) via `make` or `make quick-release`.

[2017-05-18 03:43] MrHohn commented on #45991
Found something interesting in test: ["Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover"](https://github.com/kubernetes/kubernetes/blob/61b7b3fb660d09917af0b843c1b151279ea574ef/test/e2e/restart.go#L76)

Below is the log extracted from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1060/?log#log:
[code]
After restart,

[2017-05-18 04:07] thockin commented on #45783
I'm closing for now.  reopen if you can repro

[2017-05-18 04:07] #45783 closed

[2017-05-18 04:11] smarterclayton commented on #46005
PATCH is more expensive on the server side than PUT if the conflict rate is low.  On the server, we should already be doing the optimal behavior.

[2017-05-18 04:59] codablock opened #46012 "Fix regression in UX experience for double attach volume failure"
This PR is a reminder to handle the comment of @saad-ali on https://github.com/kubernetes/kubernetes/pull/45346#issuecomment-302270624

I most likely won't be able to do this by myself due to missing time.

[2017-05-18 05:04] lavalamp commented on #44065
I will mention this during the API machinery sig update tomorrow.

[2017-05-18 05:10] Pensu commented on #44750
@MrHohn Sure, will do that. Closing this one.

[2017-05-18 05:10] #44750 closed

[2017-05-18 05:14] thockin commented on #45790
@dnardo

[2017-05-18 05:15] thockin commented on #46003
I knew there had to be an issue for this already :)

[2017-05-18 05:21] wojtek-t commented on #45988
Yeah - I missed this case. Sorry.

I will think about it try to re-revert with the fix.

[2017-05-18 05:23] thockin commented on #45988
We can leave the reasons in place until the rest of the pre-filtering is done, and then remove the "did anything change" test entirely.  I owe you more time on that topic, will get to it probably tomorrow evening or Friday.

[2017-05-18 05:30] #23976 closed

[2017-05-18 05:39] wojtek-t commented on #45988
@thockin - yeah I think we can first try merging https://github.com/kubernetes/kubernetes/pull/45816 and then fix this PR. And that one is hanging on you :)

[2017-05-18 06:08] mfaizanse commented on #34327
Just to confirm, Does it mean that currently container Stats/Metrics are not supported by windows container, thus horizontal pod auto-scaling will not work with windows containers?

Also, is there any work-around to get horizontal pod auto-scaling to work with windows containers? Like If I can manually run some metrics service inside my win container? or any similar approach?

[2017-05-18 06:23] bgrant0607 commented on #16079
Sounds like this is obsolete.

[2017-05-18 06:23] #16079 closed

[2017-05-18 06:36] bboreham commented on #44187
Just to be explicit: 1.6 has two implementations (CRI and non-CRI) and it's the CRI one that doesn't set hairpin when using CNI. CRI is the default but you can select the other with `--enable-cri=false`

1.7 will remove the non-CRI choice.

For Weave Net specifically we will add the hairpin setting at https://github.com/weaveworks/weave/pull/2971

[2017-05-18 06:48] #42605 closed

[2017-05-18 06:49] bboreham commented on #45790
@deitch yes, that is what was said.

However, looking at https://github.com/moby/moby/issues/5618 it seems lots of people do suffer from the kernel bug that suggests an option is necessary.

The option could be in the 3rd-party network's configuration; it's not mandatory that Kubernetes owns the config. But maybe it would be more consistent for Kubernetes to pass it down to all CNI plugins.

[2017-05-18 06:52] xowind commented on #45942
@yujuhong  thanks,  of course, It will work, if i clean the future containers on my own.
but, i also wish kubelet could do the clean , so that, I can change time of node without any serious error occurred.

[2017-05-18 07:13] deitch commented on #45790
in other words, configured like it always was via `--hairpin-mode` option on `kubelet`, but instead of `kubelet` doing it, it would pass it down to the CNI plugin that would handle it?

That would make this issue still relevant, but probably should be renamed something like, "kubelet does not pass hairpin mode option to CNI plugin." Is that a better description?

I will address the weave issue in

[2017-05-18 07:16] gmarek commented on #45717
Sure - the doc is [here](https://docs.google.com/a/google.com/spreadsheets/d/1GT6XmdzG0TTmip0WH92mFQq84qcRn_oQUZ7Q2KFIjwQ/edit?usp=sharing)

[2017-05-18 07:52] simonswine commented on #45368
Another update: I am seeing the crashes with both images: `cos` and `container-vm`

[2017-05-18 07:56] sttts commented on #45970
The reason is probably here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/errors.go#L46

[2017-05-18 08:13] sttts commented on #45970
We have quite a number of error code paths which do not write Status object, not only "forbidden". It's mostly a matter of wiring through the context and serializer.

[2017-05-18 08:20] wojtek-t commented on #45974
@xiang90 @hongchaodeng

[2017-05-18 08:23] alikhajeh1 commented on #28454
@humblec / @wattsteve bump

[2017-05-18 08:30] dsilvius commented on #45662
The  nodePorts are not reused and are fairly static ( some services may change the nodePorts, it is done only on demand, and never happened when this issue  occured ).

[2017-05-18 08:45] ktsakalozos opened #46021 "kubefed init with nodeport should allow setting the port"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kube

[2017-05-18 08:48] NickrenREN commented on #46012
I will work for it when #45346 is merged

[2017-05-18 08:48] NickrenREN commented on #46012
/assign

[2017-05-18 08:57] shashidharatd commented on #46021
/cc @kubernetes/sig-federation-bugs

[2017-05-18 08:58] shashidharatd commented on #46021
/assign @ktsakalozos

[2017-05-18 09:12] gmarek commented on #45972
Not really - there were cases of predicates which computation could take over a second.

[2017-05-18 09:13] gmarek commented on #45973
@sjug

[2017-05-18 09:13] crassirostris commented on #15478
@whereisaaron I really would like not to have this discussion now, when we don't have all details around the logging ecosystem in one place.

E.g. I see network and machine problems disrupting the log flow, but again, I don't want to discuss it just yet. How about we discuss this later, when proposal is ready? Does it seem reasonable for you?

[2017-05-18 09:15] simt2 opened #46023 "cluster addon fluentd-elasticsearch does not work with RBAC enabled"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

rbac elasticsearch elasticsearch-logging fluentd-elasticsearch

---

**Is this a BUG

[2017-05-18 09:19] wojtek-t commented on #45216
So for now, we patched the Go version in Kubernetes. It's not ideal but it solves our problem for now.
If there will be patch release of Go containing it, we will just switch to it.

[2017-05-18 09:20] wojtek-t commented on #45216
But since this is solved, I'm downgrading it's priority - for now it's more like a cleanup thing.

[2017-05-18 09:25] jianzhangbjz opened #46024 "Cannot generate protobuf for map[string][]string"
Hey guys,

I added a new type(`type TopologyMap map[ResourceName][]string`) in `pkg/api/v1/types.go` file.
And execute `./hack/update-generated-protobuf.sh` to update `pkg/api/v1/generated.proto` file, but I got `map<string, string> gTopology = 11;`, a bit confusing, details as the below:

pkg/api/v1/types.go
[code]
pkg/api/v1/generated.proto
[code]
Why the value of map is `string`?  Or something

[2017-05-18 09:38] fcgravalos commented on #43935
I'd just add what it requires: list and get nodes and services. cluster-admin would allow reading other namespaces secrets or other resources.

[code]
[code]

[2017-05-18 10:15] jayunit100 commented on #45972
Yes, and even longer on large clusters with things light affinity....

However here  I'm just disputing use of the term latency since latency is usually used to refer to the time between the end of a request and the beggining of a response.

What we endeavor to do here is really measure round trip execution time, for predicates, in isolation.

If we want to measure some kind of latency then I beli

[2017-05-18 10:21] javefang commented on #34137
Up vote for this feature! We also have prometheus set up but it can't monitor PV usage currently due to the missing metrics under the /metrics path. Since kubelet seems to have the data already (/stats/summary), it might be a good idea to expose them under /metrics?

[2017-05-18 10:42] themarcelor commented on #45770
Right, so it all comes down to the selector. Thanks for clarifying.

[2017-05-18 10:42] #45770 closed

[2017-05-18 10:42] fasaxc opened #46026 "kube-proxy can no longer print its version"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"kube-proxy version"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2017-05-18 10:53] rdsubhas commented on #45613
@saad-ali should kubernetes yank the binary packages for kubelet/kubeadm/etc that were released for 1.6.3 - until 1.6.4 gets released? Because many of us who are just installing kubeadm/kubelet/etc with 1.6.* have found that things suddenly start break.

`subPath` is not an alpha/beta feature, it's a core feature. Right now, its in the `KNOWN ISSUES` in the release note and stuff breaks until 1.6.

[2017-05-18 11:17] yastij opened #46027 "Summarizing scores in generic_scheduler done sequentially"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

generic_scheduling
scheduler
scoring

---

**Is this a BUG REPORT or FEATURE REQUES

[2017-05-18 11:22] gmarek commented on #45972
OK, IIUC you object usage of the word 'latency', right? We use it in this context for quite some time, and as I agree that it doesn't fit formal definition, there's no point in changing it now, as it would confuse people even more.

[2017-05-18 12:27] sbezverk commented on #45613
@rdsubhas as a workaround we compiled 1.6.3 kubelet with the one fix. If you are interested, please let me know I will share the link, I have it posted on GitHub.

[2017-05-18 12:28] deads2k commented on #44065
I will go off to a bunker somewhere to hide from the pitchforks. :)

[2017-05-18 12:32] rdsubhas commented on #45613
@sbezverk thanks, but we have pinned kubernetes versions for now...

@saad-ali I can see that k8s 1.6.4-beta.1 is already being tagged. Great work from the team! Looks like k8s 1.6.4 will supersede 1.6.3 shortly. Thanks!

[2017-05-18 12:54] karunakar1122v opened #46029 "I am trying to setup kubernetes cluster 1.6.3.But i am facing issue whaen i deployed kubernetes-dashboard."
**Kubernetes version** (use `kubectl version`):
1.6.3

When I execute kubectl cluster-info command I am get response kubernetes master running.But when I deployed kubernetes-Dashboard showing error kubernetes cluster is misconfigure or certficates missing.Can you please let me know how to configure cluster in 1.6.3 version.Can you please send me laster cluster configuration .

[2017-05-18 13:18] jayunit100 commented on #45972
yeah, i really think they should all be refactored to not be named as such, that is my broader point . but if we want to keep those metrics id suggest we at least update the definition in the `help` fields to clarify that latency is defined WRT `fit` rather then to a RPC.

[2017-05-18 13:29] mtaufen commented on #45783
@jianzhangbjz try `hack/update-generated-protobuf.sh`

[2017-05-18 13:35] sdminonne commented on #45511
xref: #46030

[2017-05-18 13:37] rrati commented on #45118
@justinsb @gmarek PTAL and let me know if you see issues with this approach

[2017-05-18 13:43] yastij commented on #46027
/sig scheduling

[2017-05-18 13:44] yastij commented on #46027
/assign

[2017-05-18 13:48] pmichali commented on #45906
One question I have...
Can the callers (bandwidth?) of the function work with an IPv6 based hex CIDR?

In the future, if we support pod IPs that are IPv6 addresses, and we modify the code to add /128 vs /32, as is done currently, this would create an IPv6 based hex CIDR.

[2017-05-18 13:55] cmluciano commented on #44080
Apologies, I meant to only close my PR, not the issue.

[2017-05-18 14:00] PavelPrischepa commented on #40182
@bboreham is there any way to make it persist? It looks like docker overrides it each reboot.

[2017-05-18 14:05] clenimar commented on #39989
it seems that the two short-term issues have already been fixed.

[2017-05-18 14:06] sdminonne opened #46031 "api-extensions etcd storage: resources serialized in etcd with double prefix"
@deads2k as discussed in #46030  more particulary [here](https://github.com/kubernetes/kubernetes/pull/46030#issuecomment-302411867)
CRD are serialized in`etcd` with a double prefix.
Thanks to have a look

[2017-05-18 14:07] mtaufen commented on #45783
Hmm I think `make clean` must have done the trick. I tried that just now at the hash where I originally saw this (4807e6c) and couldn't repro after.

[2017-05-18 15:00] foxish commented on #46005
@smarterclayton The fact that we use PUT and round-trip the entire spec seems to cause issues like https://github.com/kubernetes/kubernetes/issues/45287. We narrowed down the issue in #45287 to the `initContainers` field which should ideally also be mutable in addition to `spec.containers` and `spec.replicas`.

[2017-05-18 15:01] resouer commented on #45278
@yan234280533 as yuju said, frequently PLEG request will create heavy burden to runtime side, while status report is affected by many factors.

Another question is why 800ms -> 200ms change make a lot sense to you? It seems users should not even aware the difference (it's only 600ms).

[2017-05-18 15:05] soltysh commented on #30243
I'll do my best, but I can't promise anything, b/c I'm traveling this and next week.

[2017-05-18 15:10] cmluciano commented on #46007
/sig node

[2017-05-18 15:10] cmluciano commented on #46007
/assign

[2017-05-18 15:15] cmluciano commented on #46007
This is related to https://github.com/kubernetes/kubernetes/issues/43240. We currently check devices in use on the node via a docker inspect on all of the running containers.

We are considering a checkpoint mechanism for better bookkeeping. We also will whitelist only select devices that the pod need so that you do not see all devices w/i your container.

cc @vishh

[2017-05-18 15:24] tsmetana commented on #44172
Thanks for the updates. I think the two objects would be the safest path forward then: it looks to me it might be really more extensible in the future...

[2017-05-18 15:31] shyamjvs commented on #40139
@wojtek-t Can we close this issue now that the flakes are either resolved / known already / have separate issues filed for them?

[2017-05-18 15:35] dcbw commented on #45790
@bboreham it might be more consistent, but it really does live in the network plugins IMHO and I don't really think Kube should have anything to do with it.  Ideally :)

[2017-05-18 15:35] vishh commented on #46007
Setting a pod to be `privileged` will result in all devices on the node from being exposed to pods. This is a docker thing. I wonder what it takes to run CUDA pods in non privileged mode.
@cmluciano will you be able to triage and fix this issue in v1.7?

[2017-05-18 15:44] deitch commented on #45790
@dcbw I agree it should be a plugin setting e.g. some network types may not need it. Others may implement it in a way that does or does not affect kernels.

However because it always did live as a kubelet setting, imho there are two sides to this

1. users may have come to expect it to be in kubelet. Changing it requires really making sure cluster admins know they need to control it at the network

[2017-05-18 15:52] cmluciano commented on #46007
Yep, I'll take it

[2017-05-18 15:52] cmluciano commented on #46007
/assign

[2017-05-18 16:14] yujuhong commented on #45368
@simonswine do they have the same stack strace like the example I posted originally?

[2017-05-18 16:15] yujuhong commented on #45942
@xowind that's just one thing that could go wrong. Other components might have issues too, but I can't be sure. I think supporting this is pretty low in terms of priority.

[2017-05-18 16:16] ae6rt commented on #11505
We are interested in this canary promotion.  However, our processes require a human check the canary for correct behavior.  If it passes, the remaining app instances are upgraded.  It would be helpful if Kubernetes supports this sort of "release a canary, pause indefinitely, then release (or not) the rest".

[2017-05-18 16:18] kargakis commented on #11505
@ae6rt that's the plan - see the statefulset upgrades proposal for more info: kubernetes/community#503

[2017-05-18 16:20] thockin commented on #45790
I think the abstract "allows hairpin behavior" is a property of plugins.
Some support it.  Some do not.  Some may support it in multiple ways with
configuration required.  If you don't support it in a Kubernetes install,
one class of Service behavior will not work correctly.  That may be OK for
some installations and not for others.

For plugins which use Linux bridges, we have ample evidence that

[2017-05-18 16:26] timothysc commented on #41907
Folks have requested a re-open of this issue.

[2017-05-18 16:30] ae6rt commented on #11505
Great, thank you.  Just to be clear, my interest is in canary promotion for objects of kind==Deployment, not kind==StatefulSet.  The way I interpret your response is that Deployment will share canary promotion design with StatefulSet.  Do I have that right?

[2017-05-18 16:46] smarterclayton commented on #45287
Sanity check - are stateful sets using the scale endpoint?  If not... that's what we should be fixing.  The scale endpoint is allowed to do more efficient things, but fundamentally all edits are going to result in some defaulting.

[2017-05-18 16:47] simonswine commented on #45368
This is from container-vm: https://gist.github.com/simonswine/25cdc06921c379fd75adecab647cdd85

This is from cos: https://gist.github.com/simonswine/4abe215d2fd51b6890201706c60529ed

[2017-05-18 16:57] davidmccormick commented on #45887
Maybe it doesn't like my getvolumename which generates a random name?  I would dearly like to use the pod_id in order to be able to create a unique volume-name based on it and the volume spec name: e.g.

bounded-local-logging-76ef544a-3be5-11e7-a102-02373e508e82

That way if the name is run on the controller and the kubelet they would come up with the same global unique name of the volume.  Perhap

[2017-05-18 16:59] dcbw commented on #44702
@dunjut so given all this info, the issue is in how kubelet finds its own IP address, not about kube-proxy.  So --bind-address won't really work, because that's a kube-proxy option and the proxy is running in a pod that already has the wrong address.

If you're not using a cloud provider, try modifying the kubelet command-line options to pass "--node-ip=<desired node IP>" or setting the NodeIP con

[2017-05-18 17:01] timothysc commented on #45717
IMO there is a conflation of "Conditions" with an implicit state vs. having an explicit state machine. This leads to the glue logic that exists in kubelet, and if we follow this track it would make it's way into the scheduler.

[2017-05-18 17:07] derekwaynecarr commented on #45971
At the time aggregation was added, we were bleeding from event spam killing etcd.  We had many events that varied only slightly on message because they would insert things like the pod name.  For example, we had controllers that would create a pod be denied, and would throw an event "Unable to create pod pod-name" and pod-name would change every time.  As a result, we just dropped the message, and

[2017-05-18 17:32] mml commented on #45706
Just saw this.  I will take a look.

[2017-05-18 17:36] dcbw opened #46039 "iptables proxier doesn't respect --bind-address"
@thockin cmd/kube-proxy/app/server.go has:

[code]

while the userspace and Windows proxies use `net.ParseIP(config.BindAddress)` instead.  Should the iptables proxy also pass BindAddress if !empty?

[2017-05-18 17:38] aclements commented on #40745
What version(s) of Go were these seen with? We pushed a mitigation for this crash in Go 1.7.5 and Go 1.8, but I only had a hunch what the problem was, so it's possible this mitigation didn't work.

[2017-05-18 17:39] chakri-nelluri commented on #45887
@davidmccormick getvolumename is broken in 1.6. Please refer to #44737 for workaround. @liggitt has a PR #39488 to pass the pod information to the plugin. Let me ping him and revive it.

[2017-05-18 17:41] RahulMahale commented on #42164
seeing the same on 1.6.0, cluster created using kops on AWS.
[code]

[2017-05-18 17:45] mleklund commented on #45394
I am also seeing this issue.

[2017-05-18 17:47] mml commented on #45706
Well this is weird.  I downloaded the controller manager log from a failed run.

[code]

ah ha!

[code]

But... why?  Have we changed how `kube-controller-manager` is invoked on AWS?

[2017-05-18 17:49] wojtek-t commented on #45988
Marking as fixed - reverting my PR fixed the problems.

[2017-05-18 17:49] #45988 closed

[2017-05-18 17:57] 8enmann commented on #46007
@vishh is the workaround not to use privileged containers? But I thought we need that to access the CUDA libraries on the host. Or is there no workaround and must wait for 1.7?

[2017-05-18 17:58] mml commented on #45706
It would be awesome to have a little pre-req on e2e tests that says "this test is meaningless unless controller X is running.  check if it is and fail immediately if not.".  To do that we need to have the running controllers exported as prometheus metrics, and a hook that lets us query prometheus metrics from kube-controller-manager.

[2017-05-18 18:01] wojtek-t commented on #45484
@davidopp - actually, we already cherrypicked it in: https://github.com/kubernetes/kubernetes/pull/45352

[2017-05-18 18:02] mleklund opened #46041 "Add multipath iscsi support for multiple initiator logins"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Kube

[2017-05-18 18:03] humblec commented on #46041
/assign @humblec

[2017-05-18 18:03] mleklund commented on #46041
as a work around I have done this:

[code]

but am having the logout issue from https://github.com/kubernetes/kubernetes/issues/45394

[2017-05-18 18:04] mml commented on #45706
DisruptionController refuses to start unless `poddisruptionbudgets` in `policy/v1beta1` (exactly) is available.  This is exactly the pattern we discourage [here](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L320), but the root cause here is probably that we aren't passing the right flags to `kube-apiserver` to turn on the policy group.

[2017-05-18 18:05] humblec commented on #46041
` It appears the iscsi go code is calling iscsiadm with specific interface options which connect to the single portal with a single interface.` -> this is not correct. Atm, iscsi code use the multiple target Ips and login to those to achieve multipathing.

[2017-05-18 18:20] bbhoss commented on #43279
I'm also running into this on GKE with preemptible nodes. This is new since the 1.6 upgrade. Describing one of the pods looks like this:
[code]

kubectl get lists these pods as Unknown, while describe lists them as Terminating. kubectl delete says the pod could not be found, with --force or any other option. I need a way to be able to get rid of these, killing all of the nodes is not a valid worka

[2017-05-18 18:22] cmluciano commented on #46007
Summary from SIG Node chat:

- Privileged containers are needed for those libraries as you mentioned
- Workarounds include creating a PV with libraries and then mounting these into the host
- Advanced solution is a sort of volume injection system (similar to the PV solution) and mounting it automatically to pods requesting GPUs

[2017-05-18 18:30] OguzPastirmaci opened #46043 "kubefed unjoin does not remove the load balancer ingress ip from DNS records and the service"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2017-05-18 18:36] pmichali commented on #44848
I'm going to break this up into multiple commits that are smaller, so they can be reviewed independently (and be smaller - I hope).

[2017-05-18 18:43] luxas commented on #45717
@davidopp I meant that the feature to _be able to take NotReady nodes into account_ could be added behind a feature flag for the scheduler possibly already in v1.7?
Of course the workload itself must tolerate everything in order to get scheduled...

Great @gmarek, I think that's step number one

@gmarek I thought that `NodeReady=ConditionFalse` meant that not every sub-condition is true; the kubel

[2017-05-18 18:43] mleklund commented on #46041
True that is badly worded.  iscsi code expects that in the case of multipath you would have multiple targets on separate networks, not multiple connections to the same network.  My particular iscsi equipment expects the latter, and expects that you will make multiple connections to the same portal.  The equipment then load balances these connections to other interfaces.

To the point, the iscsiadm

[2017-05-18 19:29] dcbw commented on #45906
The only caller is currently the ingress/egress shaping function in kubelet.  That code also needs to be updated for IPv6.  For example, kubelet_network.go assumes IPv4 when adding CIDRs to the shaper list.

[2017-05-18 19:33] dcbw commented on #45849
This does look like https://github.com/kubernetes/kubernetes/issues/45842, I guess when that gets closed we'll have to close this one too.

[2017-05-18 19:36] dcbw commented on #45790
@thockin hairpin is a setting on Linux bridge ports (at least as we implement it in Kube) so without a Linux bridge, you don't get hairpin.  The network plugin could certainly figure out how to emulate hairpin without a bridge though.

But it just seems like something we need to specify at a higher level, eg "When multiple containers are run in the same pod, the Network Plugin must allow container

[2017-05-18 19:38] dcbw commented on #45459
@ZachGoldberg does setting ip-masq for flannel fix the issue for you?

[2017-05-18 19:43] uiansol commented on #44018
Hi,
@cedriclam what is the state of this issue?
Is @madhusudancs working in this issues with the others issues related to e2e tests?

[2017-05-18 20:12] dcbw commented on #45956
Does the page load quickly if you open a browser and enter "127.0.0.1:8001/ui" instead of "localhost"?

Also, what are the contents of your `/etc/hosts` file?

[2017-05-18 20:16] freehan commented on #44307
True. I am just saying that maintaining the desired state does not solve the whole problem. kubelet still triggers multiple DELs in some cases. The cni plugin has to return Success if there is nothing to delete. Otherwise, kubelet cannot proceed.

[2017-05-18 20:18] gmarek commented on #45717
@luxas - my understanding is different. I think that all conditions are independent, and `NodeReady` is also independent of others, and it means that there's something fundamental wrong with the Node (I believe that it mostly means that runtime is down). I guess it's best to ask @kubernetes/sig-node-proposals

[2017-05-18 20:25] dcbw commented on #44889
My initial feeling is that the proxy should not be doing this since it effectively creates a parallel API outside of the apiserver that would need to be guaranteed and maintained.  @thockin what do you think?

[2017-05-18 20:32] danielfm commented on #45911
Got lucky (?) to see another OOM event that killed the same container again, now the `kubectl logs` command tries to find the logs under a new "index":

[code]

I'll try to come up with a more stable way to reproduce this.

[2017-05-18 20:35] pmichali commented on #45906
@dcbw Agree.I wanted to separate this out, partly to make the change smaller, but also, when I looked at the callers (this shaping functionality) I wasn't sure if it would support IPv6. I looked a bit at the "tc" command and saw some notes that indicate that it doesn't support IPv6 yet. Is that still accurate?

Would it be ok to tackle that separately?

[2017-05-18 20:36] cmluciano commented on #45849
/assign

[2017-05-18 20:42] pmichali commented on #44848
Here's the plan I was thinking of for now...

1. Modify the code that obtains the IP by looking at all the system interfaces. I did PR 46044 for that, as it is independent of the rest of the changes.
2. Refactor findMatchingIP() to make sure the IP found on the interface is on same subnet as GW. This is so that dual-stack wouldn't grab the wrong IP (e.g. IPv4 and IPv6 global IPs, but the IPv6 is o

[2017-05-18 21:00] MrHohn commented on #37982
/assign

[2017-05-18 21:03] chuckbutler opened #46054 "Service Accounts are not shipping with the cluster addons for Heapster, FluentD, or the Kubernetes Dashboard when using RBAC"
**Kubernetes version** (use `kubectl version`):
Anything > 1.6.1 with RBAC enabled

**Environment**:
- **Cloud provider or hardware configuration**: ALL
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: N/A

**What happened**:

When deploying system components, in this particular instance I'm looking into the defaults for Canonical Kubernetes

- Hea

[2017-05-18 21:07] michailbrynard commented on #8800
I'm running 1.6.2 on both client and server, however when I run the following command:
`kubectl create secret generic my-secret --from-env-file .staging.env`, I get the response: `Error: unknown flag: --from-env-file`

[2017-05-18 21:22] dcbw commented on #46026
Confirmed.  Odd, since kube-proxy does include `verflag.PrintAndExitIfRequested()` but for some reason, that's not working.  Adding `pflag.CommandLine.AddFlagSet(command.Flags())` to kube-proxy's main() gets us "--help" output, but it still runs into the Complete() issue that requires a config option.  Not sure what the real answer is here.

[2017-05-18 21:51] mleklund commented on #46041
Multiple interface connections is also used, at times for increased bandwidth.

[2017-05-18 22:06] nicksardo commented on #45842
Cherry pick was delayed a day, but finally in the submit queue; I'll post again after cleaning resources tomorrow.

[2017-05-18 22:10] spzala commented on #44874
area/dns

[2017-05-18 22:10] spzala commented on #44874
sig/network

[2017-05-18 22:11] caseydavenport commented on #37970
/assign