[2017-02-15 00:33] pwittrock commented on #39900
cc @pwittrock

[2017-02-15 00:45] yujuhong opened #41450 "Processes may be leaked when docker is killed repeatedly in a short time frame"
Forked from #37580

*docker version: 1.11.2*
*OS: gci*

If docker gets killed repeated in a short time frame (while kubelet is running and trying to create containers), some container processes may get reparented to PID 1 and continue running, but no longer visible from the docker daemon.

This can be produced by running the `Network should recover from ip leaks` node e2e test.
 - test creates 100

[2017-02-15 00:47] yujuhong commented on #37580
I filed a new issue for the docker bug since it's not unique to CRI and this test is catching it by accident: #41450

Leaving this issue to fix the test by not blindly checking all `pause` processes: https://github.com/kubernetes/kubernetes/issues/37580#issuecomment-279569760

[2017-02-15 00:48] screeley44 commented on #41381
@chao007 - the PV does not contain the alpha annotation when used for dynamic provisioning - not sure if this is a bug or by design.  The PV object does contain the beta annotation if used however.

alpha annotation PV:
[code]

beta annotation PV:
[code]
@jsafrane - is there a reason we are not updating the annotation on a PV for alpha provisioning?  If not, let me know and I'll create a PR to han

[2017-02-15 00:50] vishh commented on #41450
Are these processes still tracked by their respective cgroups?

On Tue, Feb 14, 2017 at 4:46 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2017-02-15 01:08] saad-ali commented on #41283
Rolling back the image changes in https://github.com/kubernetes/kubernetes/pull/41370 appears to have fixed this

[2017-02-15 01:27] ITPro360 commented on #41444
Subscribed +1

[2017-02-15 01:47] yujuhong commented on #41450
Didn't check when I still had the node. Should be easy to reproduce and verify though.

[2017-02-15 01:51] yujuhong commented on #41450
/cc @kubernetes/rh-cluster-infra to see if anyone has encountered this issue.

[2017-02-15 02:05] chao007 opened #41453 "Could not attach ebs volume more than 50 for one node"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Kubernetes versi

[2017-02-15 02:18] gnufied commented on #41453
This is a problem with new device allocator for AWS. The naming scheme doesn't support those names and actual list of volumes attachable on aws can't be more than 52 - http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html

I am working on pushing a fix.

[2017-02-15 02:34] #35993 closed

[2017-02-15 03:04] gnufied commented on #41453
The naming scheme of AWS does not allow mounting more than 52 volumes on a node, so we can't really change that easily but we have a genuine bug here - as devices are attached and detached even if number of attached volumes is much smaller than 52 - people will run into this bug because code will start creating invalid device names.

[2017-02-15 03:16] liggitt commented on #39900
edit is fixed in https://github.com/kubernetes/kubernetes/pull/41304

[2017-02-15 03:19] liggitt commented on #39900
https://github.com/kubernetes/kubernetes/issues/40545 is working as designed (though see #18023 as a possible alternative)

https://github.com/kubernetes/kubernetes/issues/29972 Is the only outstanding issue

[2017-02-15 03:28] jingxu97 commented on #40972
If you are using GCI image, you can get kubelet log by running "journalctl -u kubelet" and save it to a file if you need. For other images, get the log in /var/log/kubelet.log
I can get the master controller log if you could let me know the zone, project and cluster name.

[2017-02-15 03:57] c-knowles commented on #28974
We were adding a shortened git hash into a label so found this issue was a little intermittent.

For example, the hash `1242e05` seems to parse/validate as a numeric in kubectl and we get `expect char '"' but got char '1'`. However, the [YAML writer](https://www.npmjs.com/package/js-yaml) we're using always tries to use the minimum scalar for each value and it treats `1242e05` as a string. Not sur

[2017-02-15 04:02] feiskyer commented on #41450
Does docker 1.12 have same problem?

[2017-02-15 04:20] feiskyer commented on #36136
Already fixed in #40903.

[2017-02-15 04:20] #36136 closed

[2017-02-15 04:47] thockin commented on #41442
Obviously if we had a concept of topology, then ~ everything would be
impacted - scale up, scale down, rolling updates, services, etc.

I did not file this issue lightly.

On Tue, Feb 14, 2017 at 2:46 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-02-15 04:56] thockin commented on #41415
As far as I know, the master has never run kube-proxy

On Tue, Feb 14, 2017 at 1:20 PM, Bowei Du <notifications@github.com> wrote:

[2017-02-15 05:03] nivwusquorum commented on #36803
What if we defaulted it to `port_<i>` where `i` is it's position on the port list?

[2017-02-15 05:07] k82cn commented on #40639
/cc @timothysc , any suggestion to this one?

[2017-02-15 05:21] hongchaodeng commented on #40972
@jingxu97

Cool. I will ping again once it comes up. Thanks!

[2017-02-15 05:43] netroby commented on #41377
@kargakis but as the document guide. still got error. seems 1.5.3 can not be download . it does not released?

[2017-02-15 05:58] ahakanbaba commented on #39900
Maybe once I finish tests in https://github.com/kubernetes/kubernetes/issues/40841 I could take a look to https://github.com/kubernetes/kubernetes/issues/29972
For fun ;)

[2017-02-15 06:24] sttts commented on #41438
I looked into gofuzz some days ago and noticed that it does not support value-only fuzzing that preserves object structure (= does not change pointer values). So we need something clever, maybe reflection based here. Any other idea?

[2017-02-15 06:25] kargakis commented on #41432
No, this is fixed in later versions and should even unblock stuck Deployments with hundreds of ReplicaSets in 1.6.

[2017-02-15 06:25] #41432 closed

[2017-02-15 06:36] RobinLe commented on #41377
same issue
kubernetes-1.5.1
[code]

[2017-02-15 07:07] jingxu97 commented on #38498
@emmanuel @dhawal55 @SleepyBrett Sorry for the delay. Currently we don't have a specific PR for rkt issue. This PR seems mentioned two issues: one is fail to delete orphaned pod, and the other is AWS volume is stuck in attaching. Could you please provide some more details about the issues you still have? It would be great if you could share some logs with me over slack @jingxu97 so that we can und

[2017-02-15 07:19] prakash1991 commented on #26670
Hey guys,

I also was facing the same roadblock but was able to resolve it by editing the minion sg rules to allow traffic from kubernetes vpc CIDR and removing all other rules.

Hope this helps.

Regards,
Prakash

[2017-02-15 07:26] abdasgupta commented on #38228
@Pensu , it seems, the etcd panic error comes due to "." character in socket name is not supported in golang 1.8 transport. We need to update etcd atleast to this commit (https://github.com/coreos/etcd/pull/7106/commits/6825ffe1a4b69167a4a1fcbdac6612e71aff76ac) to remove the panic while using go1.8.

I will shortly post a patch to update the vendored etcd to this commit in kubernetes.

Open to any

[2017-02-15 07:32] paragradke commented on #40581
There may be more reasons for this issue but I think Kuebernetes should  handle this situation gracefully or should only entertain resource requests after keeping his client requirements aside.

[2017-02-15 07:56] bruceauyeung commented on #41305
@irfanurrehman after pulled your commit #41410 , the problem i mentioned above is gone. but the init process fall into an indefinite loop:

I0215 23:45:03.520886    7427 round_trippers.go:423] Response Headers:
I0215 23:45:05.519625    7427 round_trippers.go:398] curl -k -v -XGET  -H "User-Agent: kubefed/v0.0.0 (linux/amd64) kubernetes/$Format" -H "Authorization: Basic YWRtaW46" -H "Accept: applic

[2017-02-15 07:59] bgrant0607 commented on #24343
Chatted with someone from CFF today. Cloud Foundry does their development on github -- they aren't just mirroring code to github. They have >200 full-time contributors on the project, which is many more than we have. It may be worth talking to them.

They have well over 200 repos:
https://github.com/cloudfoundry

They said they thought this was maybe too many repos, but their strategies for submod

[2017-02-15 07:59] dzr0001 opened #41462 "fluentd-elasticsearch addon should have support for journald logging"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

journald fluentd

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-02-15 08:13] mkumatag commented on #33719
This can be closed as ppc64le build enabled back..

[2017-02-15 08:14] #33719 closed

[2017-02-15 08:16] thockin commented on #23651
@montanaflynn: use `kubectl apply`, instead of `replace`

[2017-02-15 08:16] thockin commented on #23651
I am closing this old bug

[2017-02-15 08:16] #23651 closed

[2017-02-15 08:21] davidopp commented on #41442
There are two types of topological requests that are relevant
* **Type 1:** The user selects a level of the topology hierarchy and one of the topology graph nodes in that level of the hierarchy. The user's request is of the form "put this instance onto a machine that is in topology graph node X." This is exemplified by our current "node affinity/anti-affinity" feature (e.g. "schedule this pod onto

[2017-02-15 08:25] madhusudancs commented on #41305
@bruceauyeung

Not necessary. It is already being tracked in https://github.com/kubernetes/kubernetes/issues/41127#issuecomment-278883918. @shashidharatd's PR to fix it is in https://github.com/kubernetes/kubernetes/pull/41243.

[2017-02-15 08:30] livelace commented on #12526
Kubernetes is a great software! But there are no mechanisms that allow to control order of containers initialization inside pod.

1. two containers:

A can starts early than B and vice verse. No control.

2. two containers + init container:

init container must do things and must go down. A can starts early than B and vice verse. No control.

Service in container A can works fine, but not to liste

[2017-02-15 08:31] jianlianggao opened #41463 "Cannot download kubectl.exe for windows easily!!!!"
Dear guys,

I followed the minikube docs to use the command line in my windows
curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/windows/amd64/kubectl.exe

But I got the error as nosuchkey

Then I found out, I had to hack the xml file at URL http://storage.googleapis.com/kubernetes-release/
to find

[2017-02-15 09:23] jsafrane commented on #41453
I'd swear that xvduu was valid when I tested it couple of years ago. It seems that AWS is more strict now :-(.

[2017-02-15 09:24] kargakis commented on #39785
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-flaky/3201

Seems like the comparison happens 9 millieseconds (!!) short of progressDeadlineSeconds. The controller resync interval has been extended to * hours so after the last progress check misses, the deployment will never be updated with the ProgressDeadlineExceeded condition. Since the granularity

[2017-02-15 09:31] jsafrane commented on #23525
@pierreozoux, please open a new issue for this so we don't pollute discussion about the default storage type with bugs. And please post `kubectl get pvc -o yaml && kubectl get storageclass -o yaml` there and tag me, thanks!

[2017-02-15 10:01] strugglingyouth opened #41467 "Our kubernetes is installed via the rpm package.But how to setting up HA masters in version 1.5.The official in 1.5 can only use kube-up/kube-down to create, whether there are other ways"
Our company installed kubernetes through the already made rpm package, the version is 1.5, but through the new function how to create HA, in addition to using kube-up.sh/kube-down.sh  this method.
Hope to give suggestions,thanks.

[2017-02-15 10:05] luxas commented on #37790
This is done now

[2017-02-15 10:05] #37790 closed

[2017-02-15 10:10] pierreozoux opened #41468 "Bug in storageClass with pd-gce provider - unable to provision ssd"
I'm using GCE, and I didn't manage to make this storageClass working as expected.

**Kubernetes version** (use `kubectl version`):

[code]

I'd love to have this working :)

I just tried as @chrislovecnm said to s/pd-ssd/ https://www.googleapis.com/compute/v1/projects/myproject/zones/europe-west1-b/diskTypes/pd-ssd/g, but without success either.

**Environment**:
- **Cloud provider or hardware con

[2017-02-15 10:18] KeithTt opened #41469 "fluentd-elasticsearch DaemonSet there is no fluentd pod list"
OS version：centos7.2
Kube Version：1.5

I follow the guide here:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/

It seems everything are running, but there are no pods about fluentd.

[code]

[code]

Also, I can not access the site `http://MYIP:8080/api/v1/proxy/namespaces/kube-system/services/kibana-logging`

[2017-02-15 10:25] hrach commented on #30518
Personally, I would suggest integrating ALB not as ingress controller, but only as the entry point to the cluster - for now. It supports:
- HTTP 2 (ELB not)
- WAF (ELB not)
- is less expensive than ELB ;-)

[2017-02-15 11:21] t0mmyt commented on #39031
Can confirm, this is still happening on 1.5.2 with both the aforementioned coreos hyperkube build and a vanilla kubelet running in a debian container.

The block device is being attached to the host but not formatted with a filesystem.

[2017-02-15 11:24] keith4743 commented on #41469
@vishh

[2017-02-15 12:10] ChenLingPeng opened #41471 "kubelet pod bandwidth shaping not work any more?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
help

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
shaping, bandwidth

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-02-15 12:11] #39202 closed

[2017-02-15 12:11] #40941 closed

[2017-02-15 12:11] #41041 closed

[2017-02-15 12:22] wojtek-t opened #41472 "parameterCodec::DecodeParameters seems to be doing strange things"
I was looking into memory allocations in large clusters and discovered that ~5% of allocations are coming from "parameterCodec::DecodeParameters".

I started looking closer into it and it seems that something strange is happening there.

So I added some logs to the code and have the code like this:
[code]

And when I'm looking into apiserver logs now, I'm seeing a lot of lines like this:
[code]

F

[2017-02-15 12:30] wojtek-t commented on #41472
So I looked into the code, and the reason for that behavior is that we have:
[code]

registered in both "meta.k8s.io/__internal" and "meta.k8s.io/v1" groups.

So if registering those in both internal and external group is by-design, then we need to fix the "typer" that is determining group-version of an object.

[2017-02-15 12:34] sttts commented on #41472
Here is the root cause: https://github.com/kubernetes/kubernetes/blob/a591242061742bfb651cb25f2dc7b3da160f9a0c/staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/register.go#L68

We register the meta types multiple times.

Moreover, the order in `targetGVK` is unlucky, leading us to the described conversion path in the parameter codec.

To solve this, we can
1. fix the order of targetGV

[2017-02-15 12:38] wojtek-t commented on #41472
I'm not fan of 1 - initialization order is pretty subtle thing and it would be easy to break it in the future.

I think (2) is much better. Though the question is: can we do better than iterating over all returned "GVKs" and if any of those is equal to from then just avoid 2-step conversion?
I mean - can we avoid this "iteration over all returned GVKs"?

[2017-02-15 12:39] wojtek-t commented on #41472
Anyway - that change is super trivial, so I will send out a PR with it in few minutes.

[2017-02-15 12:52] sttts commented on #41472
The iteration will always be tiny: 1, 2 or 3 iterations. So this is not super performance critical I guess. Can you double check that this really is the case? Maybe even write a small unit test that no Kind is listed more than n times?

If this becomes a problem, we can easily switch to a map I guess.

[2017-02-15 13:05] wojtek-t commented on #41472
Yeah - it seems it's never more than 2.

[2017-02-15 13:40] pweil- commented on #22179
@krmayankk search for `ModifyContainerConfig` in the example above.  That is in the security context `provider.go` and is called by the docker tools to set the configuration that is passed.  Additionally take a look at the `DetermineEffectiveSecurityContext` which should be in the same file.

I think you are requesting the same thing as @pmorie.  The field itself should exist at both the pod and c

[2017-02-15 13:58] #38967 closed

[2017-02-15 13:58] #41305 closed

[2017-02-15 14:00] jsafrane commented on #41468
This enables alpha provisioning, which ignores storage class. Either remove this alpha annotation (and default storage class *should* be automatically used) or use beta annotation: `volume.beta.kubernetes.io/storage-class: default`.

This is hard to spot even for me :-(

[2017-02-15 14:39] fgrzadkowski opened #41476 "Kubelet does not react to changes in manifest files"
**Is this a request for help?** no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUT REPORT

**Kubernetes version** (use `kubectl version`): HEAD

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. fr

[2017-02-15 14:47] #41453 closed

[2017-02-15 15:04] sugun999 commented on #41078
after disabling ipv6, it works as expected. Hence closing

[2017-02-15 15:04] #41078 closed

[2017-02-15 15:05] gajju26 commented on #39229
@fejta : I would like to help on migrating jobs to use kubernetes pods. I will be a newbie and may need some guidelines for this task.

[2017-02-15 15:05] wojtek-t opened #41481 "Extend tests for kubemark presubmit"
Today we have two cases, where merging PRs (which passed kubemark presubmit) broke kubemark-500 and kubemark-100. The PRs were:
https://github.com/kubernetes/kubernetes/pull/41378
https://github.com/kubernetes/kubernetes/pull/41285

In both cases we weren't able to start pods - one broke scheduler, the other broke hollow-kubelet.

This should have been caught by our presubmit kubemark tests. But t

[2017-02-15 15:07] smarterclayton commented on #41472
Yeah, decodeparameters is a copy of converttoversion and has drifted over
time.

I'm fine with 2 - converttoversion is the model

On Feb 15, 2017, at 8:05 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

Yeah - it seems it's never more than 2.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubernetes/iss

[2017-02-15 15:15] smarterclayton commented on #41442
I'm not disagreeing, I was trying to describe the things I'm hearing
that matter the most to people running real workloads today:

1. What do you mean, scaling down means my app is no longer properly
spread across failure zones?!
2. What do you mean, updates cause my app to be concentrated in one
failure domain?!
3. Why is my app still not properly balanced 3 days after I deployed?!
4. What do you

[2017-02-15 15:29] cemo commented on #24657
@thockin I don't want to open a new issue but I have some similar requirements as others. Our fluentd agent is collecting data from docker logs file but I would like to feed by socket. docker files has docker id in filename but I need to access in k8s environment. Is there a way to get it?

[2017-02-15 15:31] johnwchadwick commented on #30518
The problem is that it only supports HTTP, whereas LoadBalancer is by-default Level 3, and you can forward any TCP service on AWS right now.

[2017-02-15 15:38] vendrov commented on #30518
@johnwchadwick I'm not sure what is "Level 3", ELB does support TCP which is OSI 4.
Take a note that ALB does support WebSocket (which are blocked in HTTP in ELB).
While IMO ALB should be used as the default LB, It will be great If we could add annotation to the K8S-service specifying which type of LB to use.

[2017-02-15 15:42] Crassirostris commented on #41411
https://github.com/kubernetes/kubernetes/pull/41172 broke ingesting logs from master and we didn't notice it at once

Test should check that logs are present from all nodes, including master (when possible)

[2017-02-15 15:59] jbhurat commented on #34270
Changes are merged

[2017-02-15 15:59] #34270 closed

[2017-02-15 16:05] skelterjohn opened #41483 "doc bug: swagger viewer is broken"
https://kubernetes.io/docs/api/ has a link to https://kubernetes.io/kubernetes/third_party/swagger-ui/, and the latter is broken with the message "Can't read from server. It may not have the appropriate access-control-origin settings."

[2017-02-15 16:06] thockin commented on #24657
At this point, I guess I am open to adding `status.hostIP`, if someone can
write the PR (should be easy, tests are a bit more complex)

On Wed, Feb 15, 2017 at 7:29 AM, Cemalettin Koc <notifications@github.com>
wrote:

[2017-02-15 16:09] cemo commented on #24657
@thockin I was referring `container-id`. I think that you did not reply to me. :)

[2017-02-15 16:13] thockin commented on #24657
container-id is significantly harder, since the ID isn't known until after
the container starts, but by then it is too late to make changes to things
like env vars.

On Wed, Feb 15, 2017 at 8:10 AM, Cemalettin Koc <notifications@github.com>
wrote:

[2017-02-15 16:14] cemo commented on #24657
I was looking this answer. Thank you so much.

[2017-02-15 16:14] bradbeam opened #41485 "[doc] Supported persistent volume provisioner clarification"
In the persistent volumes documentation ( https://kubernetes.io/docs/user-guide/persistent-volumes/#provisioner  ), it explicitly calls out aws-ebs and gce-pd as the only supported provisioners:

However, there are examples for openstack/cinder that reference v1beta:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/storage-class/openstack/default.yaml

Is the documentation still

[2017-02-15 16:14] piosz commented on #41415
The migration to DS should be unrelated here. We used to have fluentd as manifest pod before.

[2017-02-15 16:16] johnwchadwick commented on #30518
Sorry, meant layer 4. I agree with allowing ALB through an annotation, but I don't think it makes sense to assume services are HTTP. That'd break most of my Kubernetes LoadBalancer services, which are largely not Websockets or any form of HTTP. If the LoadBalancer says `"protocol": "TCP"` it would be only reasonable to assume that it's a TCP proxy and not necessarily an HTTP one.

To be clear: I w

[2017-02-15 16:31] #33634 closed

[2017-02-15 16:39] soltysh commented on #30079
I need to get back to this and double check. With the amount of changes it might have been fixed, but I doubt it actually was :/

[2017-02-15 17:11] yujuhong opened #41488 "Enable CRI in hollow nodes for kubemark"
CRI was disabled temporarily in hollow nodes by #41460 because hollow nodes were failing to create pods.

We need to fix this and enable CRI for hollow nodes.
[code]

@Random-Liu did a quick triage and found that the container ids used by the fake docker client are not valid checkpoint key names:https://github.com/kubernetes/kubernetes/pull/41460#issuecomment-279950446

/cc @freehan @Random-Liu @w

[2017-02-15 17:14] dashpole commented on #40563
Sorry, I lost track of this.  Vish, can you assign this to me?

[2017-02-15 17:27] bigkraig commented on #30518
Kubernetes could provision a ELB type when requesting a TCP protocol, and an ALB when using a HTTP protocol.

With regards to using ALBs as ingress controllers and the lack of hostname based routing, couldn't the ingress controller build an ALB per hostname to achieve the same thing?

[2017-02-15 17:36] liggitt opened #41493 "kubemark add-on manager unable to apply rbac bindings"
seeing errors in kubemark add-on manager logs applying RBAC permissions:

[code]

do we know what version of kubectl the add-on manager is using?

cc @wojtek-t @shyamjvs

[2017-02-15 17:36] liggitt commented on #41493
from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/2599/artifacts/kubemark-500-kubemark-master/kube-addon-manager.log

[2017-02-15 17:41] Crassirostris commented on #41415
Using `dnsPolicy: Default` didn't help

Is it possible to have the same `resolv.conf` for fluentd on master as the rest of the pods?

[2017-02-15 17:54] shyamjvs commented on #41071
@fabxc We want to have all the version-related metrics (some of which are exposed directly by etcd and some of which have to be obtained/computed in other ways) at one place. Hence the proxy'ing. And regarding the size of data in v3, yes it is tricky and we decided to let it go off for now and are actually using the grpc request counts instead as a good proxy for v3 activity. Since for our purpose

[2017-02-15 18:00] liggitt commented on #41493
looks like kubemark is using:
image: {{kube_docker_registry}}/kube-addon-manager:v6.1

normal CI is using:
image: gcr.io/google-containers/kube-addon-manager:v6.4-alpha.1

[2017-02-15 18:02] shyamjvs commented on #41071
@mml We are not using the term `backend version` anymore, as there could be data in multiple backend versions at the same time (as pointed out by Wojtek above). Instead we are trying to use metrics like grpc request counts as a proxy for knowing v3 backend status.

[2017-02-15 18:02] johnwchadwick commented on #30518
The problem is that right now, as far as i know, `protocol` can only be `TCP` or `UDP`. If layer 7 options like `HTTP` and `HTTPS` were added, it would then make a lot more sense (and I'd be in favor of this, but it does make things somewhat less consistent admittedly.)

As far as using an ALB per-hostname, I think there's another problem: I think you can only have up to 10 routes. Correct me if I

[2017-02-15 18:10] #41472 closed

[2017-02-15 18:15] redbaron commented on #31459
is it still planned for 1.6?

[2017-02-15 18:40] vchan2002 commented on #29298
I actually still have trouble getting this all setup.... I have to set it up manually as we already have quite an infrastructure and assets that we have to conform to.

At this time, I've gotten to the point where I can get K8 to create an internal ELB pointing to the right subnets and what not... But... it does not attach any instances where the pods have launched... I have my Kube minions tagged

[2017-02-15 18:40] yujuhong commented on #41476
@fgrzadkowski could you provide more information?
 - The original etcd manifest file
 - The modified etcd manifest file
 - The kubelet log
 - Can you reliably reproduce this issue?

One possibility is that there was a mistake in the manifest file, so kubelet just ignored it. This should be evident by checking the kubelet log.

[2017-02-15 18:48] yujuhong commented on #41488
Assigned to @Random-Liu since he's already started working on it (thanks!)

[2017-02-15 18:58] yujuhong opened #41504 "kubemark should replace the fake docker client with a fake CRI client"
Kubelet has switched to using the CRI implementation by default, so CRI is the right abstraction for kubemark to use. This will also ensure all unnecessary functions in dockershim (e.g., creating checkpoint files) are properly mocked out.

The CRI fakes are currently in https://github.com/kubernetes/kubernetes/tree/v1.6.0-alpha.2/pkg/kubelet/api/testing
It'll need some work to match what `FakeDock

[2017-02-15 19:00] yujuhong commented on #31459
Yes, we just enabled the CRI implementation by default in kubelet last night.

[2017-02-15 19:02] thockin commented on #41415
Define "doesn't work" after this?  /etc/resolv.conf should show whatever
the host machine has.

On Wed, Feb 15, 2017 at 9:41 AM, Mikhail Vyatskov <notifications@github.com>
wrote:

[2017-02-15 19:07] wojtek-t commented on #41493
@liggitt - thanks for reporting.

@shyamjvs - can you please take care of unifying kubemark with real clusters?

[2017-02-15 19:08] shyamjvs commented on #41493
These errors start coming from run 2595 (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/2595/artifacts/kubemark-500-kubemark-master/kube-addon-manager.log) and right before that your commit updating rbac apiversion to v1beta1 was merged (https://github.com/kubernetes/kubernetes/commit/0a56830520e29b6a76d3d6fb1d041d8fbecc68fe). Upping the version to 6.4 should

[2017-02-15 19:11] redbaron commented on #31459
great!  does it mean that `hostPort` feature will work for CNI enabled setups?

[2017-02-15 19:12] wojtek-t commented on #41504
@shyamjvs

[2017-02-15 19:15] timothysc commented on #40639
going back to the original statement:

We can't really make suppositions on Never imo, it still needs to be weighted.

[2017-02-15 19:32] vishh opened #41507 "[kubelet] Delete mirror pods once static pods get evicted"
As of mirror pods serve as a "mirror" of the state of static pods on a node. If a static pod gets evicted, the mirror pod will reflect this state change, but is never deleted.
When kubelet restarts it restarts previously evicted static pods and so the old mirror pod is no longer valid.

We need to either delete mirror pods once their respective static pods have been completely removed from the nod

[2017-02-15 19:40] yujuhong commented on #41507
@Random-Liu had a WIP PR long ago to move all mirror pod logic to a separate component to handle cases like this. He never had time to finish that PR though...

[2017-02-15 19:42] sachincab commented on #34066
Hi,

I noticed below errors in kubelet logs:
[27]: E0215 17:05:28.279002 1727 container_manager_linux.go:625] error opening pid file /run/docker/libcontainerd/docker-containerd.pid: open /run/docker/libcontainerd/docker-containerd.pid: no such file or directory

CoreOS stable version: 1235.9.0
kernel: 4.7.3
rkt: 1.18.0
docker: 1.12.6
Kubernetes version: v1.5.3

Please let me know your inputs for t

[2017-02-15 19:45] yujuhong commented on #31459
@redbaron unfortunately no. It works for kubenet, but not for CNI. The effort of pushing host port logic down to CNI is tracked in #31307

[2017-02-15 19:46] yujuhong commented on #31459
Closing this issue since the only thing left is the CRI validation test, which is tracked separately.

[2017-02-15 19:46] #31459 closed

[2017-02-15 19:50] sineer commented on #15702
I have the same problem using

Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}

on GKE...

[2017-02-15 19:52] Crassirostris commented on #41415
Sorry, my bad, was testing with the wrong setup. Using `dnsPolicy: Default` did indeed help for fluentd with Stackdriver, thanks a lot!

[2017-02-15 20:18] shyamjvs commented on #41504
There is issue https://github.com/kubernetes/kubernetes/issues/41488 where discussion about making hollow node use CRI is happening already. Can we close this issue @yujuhong (unless you intended for something else)?

[2017-02-15 20:19] pierreozoux commented on #41468
Arf!

You are good!

And you know what, I thought I was using beta because of:
https://github.com/kubernetes/charts/blob/master/stable/mongodb/templates/pvc.yaml#L7-L11

But, my local version of the helm repo was actually using the "old" version of the mongo helm package - with alpha:
https://github.com/kubernetes/charts/blob/46191a9583b1a4b6e4341504c830b7c4fede9c26/stable/mongodb/templates/pvc.ya

[2017-02-15 20:19] #41468 closed

[2017-02-15 20:21] davidopp commented on #41442
This is related to #4301. We don't need a new notion of topology or new topology rules, but we do need the scale-down to take into account the existing rules.

This shouldn't happen. If an update causes a pod to reschedule, the replacement pod goes through the scheduler which should take the spreading requirements into account when placing the new pod.

The rescheduler should address this -- if th

[2017-02-15 20:23] timothysc commented on #41481
It would be nice to get the latest state on perf during the next sig-scale mtg.

[2017-02-15 20:24] redbaron commented on #31307
Might be worth adding to discussion that Mesos implemented cni portmapper plugin: http://mesos.apache.org/documentation/latest/cni/#a-port-mapper-plugin

[2017-02-15 20:30] pandeybk opened #41512 "Failed to list *federation.Cluster: client: etcd cluster is unavailable or misconfigured"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernet

[2017-02-15 20:31] davidopp opened #41513 "Add StatefulSet to set of controllers that SelectorSpreadPriority spreads"
The SelectorSpreadPriority priority functions unfortunately has a hard-coded list of controller types whose pods it tries to spread across nodes. We never updated this list to include StatefulSet.

https://github.com/kubernetes/kubernetes/blob/3dbbd0bdf44cb07fdde85aa392adf99ea7e95939/plugin/pkg/scheduler/algorithm/priorities/selector_spreading.go#L60
needs a "getPodStatefulSets()" function

Longer

[2017-02-15 20:46] smarterclayton commented on #41513
I thought there was an issue about reading the controller ref, walking to
it generically, and trying to get a selector out of it.  But can't find it
now.

On Wed, Feb 15, 2017 at 3:31 PM, David Oppenheimer <notifications@github.com

[2017-02-15 20:53] smarterclayton commented on #41442
On Wed, Feb 15, 2017 at 3:21 PM, David Oppenheimer <notifications@github.com

For every controller, first-party or not.  Every third party controller /
operator / babysitter for stateful sets needs some variant of this.
Stateful sets in practice need to rebalance before a member is evicted or
very shortly after, where even with disruption budget and scheduler
constraints there still needs to be ad

[2017-02-15 21:13] tonglil commented on #41463
The download links for (.exe) binaries for each release are in the CHANGELOG, for example for 1.4.9: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#client-binaries

[2017-02-15 21:32] ravilr commented on #40415
Do we know the root cause yet. Going through the comments above, it is not clear whether upgrade to 1.4.x to 1.4.9 would also trigger this issue? Can someone confirm. Thanks.

[2017-02-15 21:38] yujuhong commented on #41504
#41488 is about getting the FakeDockerClient in kubemark to work properly when CRI is enabled. That's only a short-term solution. kubemark should not be using FakeDockerClient in the future, which is what this issues is about.

[2017-02-15 21:39] liggitt commented on #40021
I think all the referenced components have roles now (updated description with links to PRs that added them)

[2017-02-15 21:39] #40021 closed

[2017-02-15 21:46] vishh commented on #41469
cc @piosz

[2017-02-15 21:48] thockin commented on #12526
Hi Oleg, this comes up a lot.  Let me answer in the form of questions.

On Wed, Feb 15, 2017 at 12:30 AM, Oleg Popov <notifications@github.com> wrote:

What happens when A crashes for some reason?  Does B suddenly crash or
does it retry?

What does "immediately" mean?  If you need strict ordering A->B->C,
how does A indicate that it is ready for B to start?  Isn't that a
readiness check?

If C nee

[2017-02-15 21:58] krousey commented on #40562
Any insights on this?

[2017-02-15 22:02] spxtr commented on #40562
Haven't had a chance to look into it. To be clear, it work just fine if you use `ubuntu:16.04`?

[2017-02-15 22:05] alejandroEsc commented on #41428
@alexbrand could you give a bit more detail about the cluster where you see this happening. Is it an HA cluster? Is there more than one kube-scheduler? Also the logs show that, rightly so, the scheduler lost its leader role, was there any message indicating that it has stopped?

[2017-02-15 22:07] krousey commented on #40562
Don't know. Didn't try. I assume it would.

[2017-02-15 22:08] shyamjvs commented on #41504
Ah, I get it now! Thanks for telling this :)

[2017-02-15 22:17] shyamjvs commented on #41504
@wojtek-t Could you assign a priority to this issue?

[2017-02-15 22:17] alexbrand commented on #41428
@alejandroEsc This is a single node cluster. There is only one kube-scheduler running.

The last log entry is a call to glog's fatal, which results in os.Exit(255). This is evidenced in the systemd logs:
[code]

[2017-02-15 22:30] yujuhong opened #41516 "Docker reports incorrect exit code for containers if the docker service was restarted"
To reproduce this, start several containers and restart docker with `sudo systemctl restart docker` or `sudo service docker restart`, depending on the OS distro.
After docker restarts properly, run `docker ps -a`  and see containers were terminated with exit code 0.

[code]

I tested this on three docker versions: 1.10.3, 1.11.2, and 1.12.6. Only docker 1.10.3 correctly reported the 137 exit code.

[2017-02-15 22:46] davidopp commented on #41513
Yeah, that's probably a good way to do it long-term. Anyway, I was trying to find something simple as a first project for @bsalamat, and this seemed like a good one, so I think we should do this short-term fix first, and then think about longer-term.

[2017-02-15 22:51] yujuhong commented on #41488
@Random-Liu please also revert #41460 in your PR :)

[2017-02-15 22:51] smarterclayton commented on #41513
I'm ok with it.  Just that we keep having to add new controllers to old
hacks.

On Wed, Feb 15, 2017 at 5:46 PM, David Oppenheimer <notifications@github.com

[2017-02-15 22:52] krousey opened #41518 "Deployment upgrade test failing"
The deployment upgrade tests are failing the upgrade CI tests. Here is a sample:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-latest-upgrade-master/5/

It might not be a deployment issues, but an upgrade issue.

[2017-02-15 22:57] davidopp commented on #41442
Yeah, I have seen bits and pieces of that; it would be good if someone could link all the relevant discussions to this issue. I know there has been some discussion of integrating PVClaim scheduling with pod scheduling, at least for the local PV case.

and we'll need it for priority too once we have it....

Can you expand on this? Do you mean people wan access control and quota not just on namespac

[2017-02-15 23:18] hogepodge commented on #27796
I've tried to sign the CNCF CLA, but am still having issues. I also should have been registered as the official contact for the OpenStack Foundation to approve other contributors.  Thanks, Chris

[2017-02-15 23:19] Random-Liu commented on #41488
@yujuhong Sure. I'll revert it to make sure my fix actually work.

[2017-02-15 23:43] ixdy commented on #40562
using Ubuntu 16.04 seems broken too, though slightly differently:
[code]

[2017-02-15 23:45] xiang90 commented on #40973
@resouer

I feel this is more like a workaround. This bug should be fixed.

[2017-02-15 23:45] krousey commented on #40562
This might be because I downgrade to gcc 5. I did that because some linker defaults changed in gcc 6 that really broke the build.

[2017-02-15 23:47] ixdy commented on #40562
we probably should prioritize getting https://github.com/bazelbuild/rules_go/issues/252 fixed.

[2017-02-15 23:52] #41283 closed

[2017-02-15 23:52] DreadPirateShawn opened #41520 "Validation error: "found invalid field optional for v1.SecretVolumeSource""
**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS**: Ubuntu precise (12.04.4 LTS)
- **Kernel**: Linux dev 3.13.0-55-generic #92~precise1-Ubuntu SMP Sun Jun 14 18:32:23 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: N/A
- **Others**: N/A

**What happened**:

Using the "optional" flag specified in https://kubernetes.io/do

[2017-02-15 23:53] saad-ali commented on #41374
The builds look stable since https://github.com/kubernetes/kubernetes/pull/41376 merged
Closing this issue

[2017-02-15 23:53] #41374 closed

[2017-02-16 00:12] yujuhong commented on #41516
/cc @kubernetes/sig-node-bugs

[2017-02-16 00:28] #40721 closed

[2017-02-16 00:32] jingxu97 opened #41522 "ReconstructVolumeSpec fake OuterVolumeSpecName during sync state in volume reconciler at node"
In current design, there is no checkpointing for volume manager. When kubelet restarts, there is a syncStates function to scan the pod volume directory and try to reconstruct the states for the volume reconciler. However, the volume original OuterVolumeSpecName cannot be recovered from reading the volume directories. There are two situations
1. If pod is deleted during kubelet restarts, there is n

[2017-02-16 00:39] sarahnovotny commented on #27796
@hogepodge, please email helpdesk@rt.linuxfoundation.org to troubleshoot this.  (as a note, being registered as the contact does not automatically put you in the CLA group.)

[2017-02-16 00:48] #36205 closed

[2017-02-16 00:52] kashifali94 opened #41523 "After Reboot Kubernetes Service is not uo"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
its a help

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

no i didn't find anything related to this

**Is this a BUG REPORT or FEATURE

[2017-02-16 01:48] victorgp commented on #40415
What i understand is that the root cause is not yet confirmed, i guess they are still debugging.

I'm still waiting to upgrade another cluster here to try to reproduce the issue

[2017-02-16 02:14] mml commented on #41422
@wojtek-t I am having trouble getting clusters to come up running 2.2.1.  Wonder if you've had this problem yet.  I set these two environment variables when I bring up an e2e cluster.

[code]

But when I look at the master's kube-env, `STORAGE_BACKEND` is correct, but it doesn't mention `ETCD_VERSION`.  Same thing in the `etcd.manifest` files.  I end up running 3.0.14 in etcd2 mode.  This is at he

[2017-02-16 02:15] madhusudancs commented on #41512
cc @kubernetes/sig-federation-bugs

[2017-02-16 02:30] fanhaozzu opened #41527 "[kubernetes ingress] nginx ingress static ip example just can run in gce or aws？"
https://github.com/kubernetes/ingress/tree/master/examples/static-ip/nginx
i assign a unused ip as loadBalancerIP.
when kubectl create -f static-ip-svc.yaml, the EXTERNAL-IP of  nginx-ingress-lb is keeping pending.

## **static-ip-svc.yaml**

apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-lb
  annotations:
    service.beta.kubernetes.io/external-traffic: OnlyLocal
  labels:
    app:

[2017-02-16 02:41] bprashanth commented on #38228
Hmm, I might go off on a bit of a tangent to get some clarification about (5) from https://github.com/kubernetes/kubernetes/issues/38228#issuecomment-265616447, which is hitting this cert: https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/elazarl/goproxy/certs.go#L24.

Looking at the raw ASN.1
[code]

It looks like the Parameters field is unset, not set to non-NULL.

The origi

[2017-02-16 02:42] bprashanth commented on #38228
Anyway, I'm guessing anyone trying to use later versions of go locally is running into
[code]

when they try to run e2es.

You can regenerate a random valid cert (openssl req -x509 -newkey rsa:2048 -nodes -days 365 -keyout /tmp/temp.key -out /tmp/temp.crt -subj '/CN=localhost') and plug it into the vendored goproxy (https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/elazarl/gop

[2017-02-16 02:52] fanhaozzu opened #41528 "[kubernetes ingress] nginx ingress static ip example just can run in gce or aws？"
https://github.com/kubernetes/ingress/tree/master/examples/static-ip/nginx
i assign a unused ip as loadBalancerIP.
when kubectl create -f static-ip-svc.yaml, the EXTERNAL-IP of  nginx-ingress-lb is keeping pending.

## **static-ip-svc.yaml**

apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-lb
  annotations:
    service.beta.kubernetes.io/external-traffic: OnlyLocal
  labels:
    app:

[2017-02-16 03:19] aanm opened #41529 "Kubernetes service's endpoints are set to 6443 instead 8080"
It appears that kubernetes service's endpoints are being set with port 6443 even if that was not the port set in the api-server options
[code]
I would expect the kubernets' endpoints would show up with port 8080.
[code]

I believe that port comes from [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/master/controller.go#L181) without checking if there is a non-secure port binded.

I

[2017-02-16 03:35] #28158 closed

[2017-02-16 03:56] itling commented on #41237
This problem also occurred when I visited apiserver with fabric8 api
(The Kubernetes version is v1.4.3 ):

`Caused by: io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: POST at: http://10.10.50.88:8080/api/v1/namespaces/kkk/services. Message: Internal error occurred: failed to allocate a serviceIP: client: response is invalid json. The endpoint is probably not valid etcd c

[2017-02-16 03:57] ankitforcode commented on #41444
+1

[2017-02-16 04:05] #41493 closed

[2017-02-16 04:05] #16779 closed

[2017-02-16 05:38] #41318 closed

[2017-02-16 05:39] iam404 commented on #39031
@t0mmyt Can you verify with 1.5.3
On 1.5.3 they have patched https://github.com/kubernetes/kubernetes/pull/38818

[2017-02-16 06:16] keith4743 commented on #41469
I found many errors in the logs about es pod:
[code]

[2017-02-16 06:17] livelace commented on #12526
@thockin

Hi, it seems my English is not good :)

does it retry?**

"B" does nothing, it stays running, but doesn't try to connect to socket.

how does A indicate that it is ready for B to start?**

I meant two modes:

![worklfow](https://cloud.githubusercontent.com/assets/2379419/23009114/257d68ac-f425-11e6-9694-406976bfd3eb.jpeg)

"readiness checks" - it is about a service object. Isn't it ?

ne

[2017-02-16 06:27] thockin commented on #12526
On Wed, Feb 15, 2017 at 10:17 PM, Oleg Popov <notifications@github.com> wrote:

So you're saying that B can't start until A is up, but B is fine if A
goes away for a while?  Isn't startup just a special case of runtime?
Why can't B simply wait-and-retry until A is up?

Thanks, I misunderstood :)

readiness is about being ready - whatever that means to a particular
pod.  services use readiness to d

[2017-02-16 07:01] #32881 closed

[2017-02-16 07:03] keith4743 commented on #41469
I found that there is a `NodeSelector` in the yaml file, so I add the corresponding label for all the nodes, and the fluentd pods are running.

But I still can not access the ES api and the kibana api. Please help...
`http://localhost:8080/api/v1/proxy/namespaces/kube-system/services/elasticsearch-logging`
`http://localhost:8080/api/v1/proxy/namespaces/kube-system/services/kibana-logging`

[code]

[2017-02-16 07:05] cooligc opened #41536 "kubectl not able to pull the image from private repository"
**Is this a BUG REPORT or FEATURE REQUEST?:** BUG

**Kubernetes version (use kubectl version):**
[code]

Environment:

**Cloud provider or hardware configuration:** 2GB RAM/50GB HDD VM
**OS (e.g. from /etc/os-release):**
	NAME="Ubuntu"
	VERSION="16.04 LTS (Xenial Xerus)"
	ID=ubuntu
	ID_LIKE=debian
	PRETTY_NAME="Ubuntu 16.04 LTS"
	VERSION_ID="16.04"
	HOME_URL="http://www.ubuntu.com/"
	SUPPORT_URL="

[2017-02-16 07:24] wojtek-t commented on #41422
Ohh sorry. You need to also set one more env, which is:
[code]

The ETCD_VERSION is propagated only to the etcd manifest as "TARGET_VERSION" field (which is consumed by migration script).
However, the image is controlled via the "ETCD_IMAGE" env var.

This was added to allow having images like "3.0.14-alpha.1" (which is obviously not a correct etcd version - that should be "3.0.14").
This should p

[2017-02-16 07:28] thockin commented on #10834
Do we have a front-runner design?

On Tue, Feb 14, 2017 at 1:35 PM, Lee Verberne <notifications@github.com>
wrote:

[2017-02-16 07:41] gmarek commented on #41481
Fixed by #41490

[2017-02-16 07:41] #41481 closed

[2017-02-16 07:45] livelace commented on #12526
@thockin

My schemas and thoughts are not a completed solution. And it is a world of imperfect applications, which work in different manners (Kubernetes works only with good applications ?). I'm trying to solve my problems:

1. Start "A" application. I want to be sure - it works and accepts connections.
2. Start "B" application which use "A" application. Run postStart hook inside "B" application

[2017-02-16 07:50] veerendramw commented on #34920
@griffinkelly @Deepak1100 I am facing the same problem and I am using 1.4.4.

Please help me if this can be solved.

[2017-02-16 07:53] thockin commented on #12526
On Wed, Feb 15, 2017 at 11:45 PM, Oleg Popov <notifications@github.com> wrote:

Of course we want to help "not good" applications work, but that
doesn't mean we have infinite capacity for arbitrary complexity in the
system.

So B crashes and comes back.  If A is not ready yet, repeat until it is ready.

You've restated your problem, but not why all of the available
workarounds are insufficient, wh

[2017-02-16 08:02] thockin commented on #37396
Did you look at the OnlyLocal logic?  This is designed specifically to
avoid SNAT

On Mon, Feb 13, 2017 at 12:11 PM, Mohammad Arab <notifications@github.com>
wrote:

[2017-02-16 08:05] gyliu513 opened #41539 "Add `Node` to `kubectl get pods` output."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-02-16 08:12] livelace commented on #12526
1. postStart hook works long time (complex software testing) and you suggest to wait again.
2. You forget that it can be not only "standalone services" but and short-living tasks which end after the arrived results, which don't repeat deployments again and again in hope that some services could work again (which might not work at all).

[2017-02-16 08:15] thockin commented on #12526
On Thu, Feb 16, 2017 at 12:12 AM, Oleg Popov <notifications@github.com> wrote:

Wrap it in a `while true; do` loop?

run-to-completion will handle crashes gracefully.

[2017-02-16 08:25] livelace commented on #12526
Of course I can do anything inside postStart hook. Do not you think that's bad?  Many people must include different checks (hardcoded legacy) inside of swarm of scripts because Kubernetes can't do it for them ? And it is in only in case of postStart, what people should do with plain applications/services ?  Write new ENTRYPOINT ? :)

[2017-02-16 08:34] piosz commented on #41469
As you correctly noticed there was no appropriate labels on nodes, because it fluentd as a daemon set will be supported starting from 1.6 and appropriate labels should be there by default. What you did is a reasonable approach.

@Crassirostris can you please take a look into the problem with ES/Kibana?

[2017-02-16 08:52] piosz opened #41542 "Fluentd image is huge"
for example 360MB in version 1.28.2

cc @Crassirostris @igorpeshansky @qingling128

[2017-02-16 08:59] k82cn commented on #40639
If `Never`, kubelet does not pull images; so images's size should not include.
**But** after re-thinking it today, there's no impact on including it or not; because images should be there in all related nodes for `Never`.

I'm going to close it if no more comments.

/cc @liggitt  for the conclusion :).

[2017-02-16 09:09] boynux commented on #37396
No, i'll look. Thanks for the hint.

On Thu, Feb 16, 2017, 9:03 AM Tim Hockin <notifications@github.com> wrote:

[2017-02-16 09:17] cooligc commented on #41536
From the slave and master, I could pull the private repository. But, the problem is existing when kubectl tries to pull the image from the private repository though I have added my secret in the pod definition.

[2017-02-16 09:19] keith4743 commented on #41469
Refer to the `**k8s Definitive Guide**`, I execute the command ` kubectl proxy`
[code]
then, it report 404...
[code]

[2017-02-16 09:21] kargakis commented on #41518
Is this failing consistenly?

On Thu, Feb 16, 2017 at 12:52 AM, krousey <notifications@github.com> wrote:

[2017-02-16 09:37] vic3lord commented on #41539
I think what you need is `kubectl get pods -o wide`

[2017-02-16 09:52] #41415 closed

[2017-02-16 10:01] shyamjvs commented on #40291
Closing this issue as the regressions related to kubemark refactoring have been resolved after the revert.
Followed it up by 3 smaller refactor PRs and the tests have been green for quite some runs after the last one got merged.

[2017-02-16 10:01] #40291 closed

[2017-02-16 10:02] gyliu513 commented on #41539
this would help, thanks @vic3lord

[2017-02-16 10:02] #41539 closed

[2017-02-16 10:02] shyamjvs commented on #40291
Ref https://github.com/kubernetes/kubernetes/issues/38967

[2017-02-16 10:20] qiujian16 opened #41549 "Cannot access kubernetes.default from worker if there are multiple network interface on the worker"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kube proxy, service cannot access
---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2017-02-16 10:26] php-coder commented on #41528
Looks like a duplicate of #41527 @fanhaozzu Could you close it if it's a duplicate?

[2017-02-16 10:30] Crassirostris commented on #41542
The most of the space is consumed by the fluentd package

[code]

[2017-02-16 10:38] abdasgupta commented on #38228
Sent a PR to update etcd: https://github.com/kubernetes/kubernetes/pull/41546

[2017-02-16 11:06] humblec commented on #39345
@fabiand The PR is merged in master and should be available from 1.6 :). Thanks!

[2017-02-16 11:08] humblec commented on #21306
@tobad357 @fortcollins The multipath support is added to iscsi plugin. Basically it is multiple TPs for same IQN support which is the very common multipath support in many iscsi setups.

[2017-02-16 11:12] heartlock opened #41552 "upgrade cni in vendor to support pass interface info back to runtime"
It is necessary for vm-based runtime to use cni, like hyper, e.g. May be we can refactor code of [cniNetworkPlugin](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/network/cni) and reuse in all kinds of runtime.

Ref:https://github.com/containernetworking/cni/pull/145 is merged, this refactoring may become possible.

cc @dcbw @caseydavenport

[2017-02-16 11:26] jamiehannaford commented on #35056
@grahamhayes Are you still working on this? If not, I can take a look.

[2017-02-16 11:27] fabiand commented on #39345
Kudos!

[2017-02-16 11:30] jamiehannaford commented on #36632
Based on the feedback in https://github.com/kubernetes/kubernetes/pull/36650#issuecomment-260844270, can this be closed?

cc/ @dims

[2017-02-16 11:33] jamiehannaford commented on #35048
@grahamhayes Is this bug still active, and has work begun? If not I can begin on a fix.

[2017-02-16 11:35] jamiehannaford commented on #34930
@pcorpet Did you get any further with this?

[2017-02-16 11:37] zreigz commented on #31343
I've prepared some demo code here: https://github.com/zreigz/kubernetes/tree/third_party_resource_update
To test it you can create thirdpartyresources with `display` and `wideDisplay` metadata

 tpr.yaml
[code]

[code]
There is one problem with creating tpr resource because new fields can not be resolved
[code]
and I can not find solution how to fix it. The `--validate=false` solves the problem fo

[2017-02-16 11:37] zreigz commented on #31343
cc @cheld

[2017-02-16 11:54] jamiehannaford commented on #26404
What types of requests are being sent to the Nova/Cinder APIs? GET calls which check the status of the create operation? I can't seem to find the place in the codebase which does that, the chatter to OpenStack seems fairly minimal:

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cinder/attacher.go#L88
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers

[2017-02-16 11:58] evmin commented on #8867
While I fully understand the desire to limit the access to the metadata endpoint, there still should be an easy way for Pods to get the basics - such as project id of the cluster, etc.

Please consider how this requirement can be met?

[2017-02-16 12:10] wojtek-t commented on #40491
Bumping the priority of it - I faced this twice today (while testing large clusters).

[2017-02-16 12:11] fgrzadkowski commented on #41476
* Manifest file was OK. When I moved file from and to the directory it was created correctly.
* Original manifest file is the one from HEAD
* I modified 2 env vars - TARGET_STORAGE & TARGET_VERSION
* As explained this is not happening always, but in my tests it happened more than 20% of times.

I don't have logs, but I'll reproduce the issue and copy them here.

[2017-02-16 12:12] thriqon commented on #39474
@wongma7 , sorry for reactivating an old thread, but are you aware of any workaround for this (apart from running the container process as root)?

[2017-02-16 12:15] mikebryant commented on #26404
This call happens every time it tries to attach, or detach a volume, it's called multiple times during the reconciliation loop - and it gets a list of every volume in the openstack project.

https://github.com/kubernetes/kubernetes/blob/8ecc256e88317d6c61ff7834fb8e19af11b012c2/pkg/cloudprovider/providers/openstack/openstack_volumes.go#L118

[2017-02-16 12:20] wojtek-t opened #41557 "Kubelet doesn't restart apiserver after it crashed"
Found while testing 5000-node clusters on GKE from head

1. apiserver crashed due to #40491
2. kubelet didn't restart it for 5 minutes
3. this triggered GKE repair, and everything went back to normal

This is coming from that run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-deploy/8

@kubernetes/sig-node-bugs @yujuhong @dchen1107

[2017-02-16 12:22] jsafrane commented on #41381
Volumes created by alpha dynamic provisioning do not belong to any storage class, therefore they do not have any class annotation. Alpha annotation is just a trigger for provisioning and the value does not matter.

[2017-02-16 12:25] benbooth493 commented on #29298
I currently have implemented in AWS a single VPC with multiple k8s clusters each in their own respective private subnet. I have a public subnet too that I want all the individual clusters to use for deploying external ELBs.

If I don't set the "KubernetesCluster" tag, everything works as expected with the exception of not really knowing which k8s created resources belong to which k8s cluster.

Of

[2017-02-16 12:35] ChrisBuchholz commented on #39557
@filipenf: I ran into the same problem, and your workaround seems to fix it. Thanks.

[2017-02-16 12:38] kad commented on #37396
But if we forget about chances where it is really required, do we have reasons why at all for both TCP and UDP we have SNAT which hides real client ip ? Is it covered by some design document ?

[2017-02-16 12:44] resouer commented on #41552
Thanks for caring about vm based runtime. 👍

But you are expected to provide more details about what you plan to change. Then we can figure out if it's possible :)

[2017-02-16 13:06] arthur0 commented on #41377
Hello everyone, you are using flannel as the pod network, so you are specified the `--pod-network-cidr` option when you run the `kubeadm init` command?

[2017-02-16 13:10] Crassirostris commented on #41469
@keith4743 Actually you cannot see the logs of fluentd using `kubectl logs` right now, reasoning is given in https://github.com/kubernetes/kubernetes/pull/38213

To see the logs of fluentd, you have to ssh to the machine and perform `cat /var/log/fluentd.log`

[2017-02-16 13:31] feiskyer commented on #41552
Although https://github.com/containernetworking/cni/pull/145 has been merged, we still needs to wait another cni stable release.

@dcbw @thockin Do you have plans of pushing this into kubernetes?

cc  @kubernetes/sig-network-misc

[2017-02-16 13:32] fgrzadkowski commented on #41476
Attaching kubelet log.

At 13:19:36 I edited etcd manifest file using `vim`. After 7 minutes of inactivity of kubelet I moved the file to & from directory (`sudo mv /etc/kubernetes/manifests/etcd.manifest . && sudo mv etcd.manifest /etc/kubernetes/manifests/`) and at 13:26:55 kubelet noticed the file and created the pod.

[kubelet.log.gz](https://github.com/kubernetes/kubernetes/files/780221/kubel

[2017-02-16 13:34] Crassirostris commented on #41469
@keith4743 As Piotr mentioned, fluentd run in DaemonSet is a feature of 1.6, if you look at https://github.com/kubernetes/kubernetes/tree/release-1.5/cluster/addons/fluentd-elasticsearch you will not find a DaemonSet yaml file there. In Kubernetes 1.5 fluentd is deployed by default as manifest pods, that's why you can find some incompatibilities here.

However, if you don't have fluentd deployed i

[2017-02-16 13:41] Crassirostris commented on #41469
@keith4743 I have the following:

[code]

Try to add the slash to the end of the url

Anyway, 301 seems to be OK response, let's look at the fluentd logs, whether it says that everything's OK

[2017-02-16 13:56] jamiehannaford commented on #26404
Looking at the code, it seems we're using volume names and UUIDs interchangeably. Perhaps we can refactor to only use UUIDs, meaning that we can bypass the list lookup. This would mean 1 HTTP call per create/delete operation, as opposed to however many paginated collections of volumes there are in an OpenStack project.

The only operation I see which accepts a `volumeName` arg is `DeleteVolume`, w

[2017-02-16 14:14] timothysc commented on #40491
/cc @davidopp taint conversion is growing in priority.

[2017-02-16 14:20] pcorpet commented on #34930
Nope, my hint worked for me but I did not send any PR.

[2017-02-16 14:25] jsafrane opened #41559 "Deploy a default storage class on GKE"
In 1.6 I'd like to remove alpha dynamic provisioning and it's important to have a default storage class that would cause all PVCs with alpha annotation to be provisioned.  See 1.6 feture: https://github.com/kubernetes/features/issues/180

With GKE cluster created by `KUBERNETES_PROVIDER=gke go run hack/e2e.go -v  --up` I cannot see any default storage class:

[code]

During installation, just inje

[2017-02-16 14:39] feiskyer opened #41560 "hack/local-up-cluster.sh: line 463: USER: unbound variable"
Encountered this error while running `hack/local-up-cluster.sh` on master:

Should we set `USER` to `root` by default?

cc @sttts @liggitt

[2017-02-16 14:42] sttts commented on #41560
Why is it empty? Would `$(whoami)` be better?

[2017-02-16 14:58] wongma7 commented on #39474
@thriqon, no, it seems kubernetes expects that the folder one puts in `subPath` is already created. So you will have to either create it before you create your pod or delete/recreate/scale your pod/rc/deployment.

It's still possible for kubernetes to get around this and create the folder for you, didn't mean to suggest it should be absolved of all responsibility. Just mean to say that the '755' i

[2017-02-16 15:01] cooligc commented on #41536
Issue was exists due to port number. After putting the port number it has started working as expected.

`kubectl create secret docker-registry my-secret --docker-server=123.456.789.0:9595 --docker-username=admin --docker-password=XXXX --docker-email=test@xyz.com`

[2017-02-16 15:01] #41536 closed

[2017-02-16 15:09] jamiehannaford commented on #34930
@pcorpet Okay, I will submit a PR for it. Thanks for the suggested fix!

[2017-02-16 15:12] lenartj commented on #41536
Was not an actual bug, but for the solution see http://stackoverflow.com/questions/42267164/kubectl-not-able-to-pull-the-image-from-private-repository

[2017-02-16 15:17] pmorie commented on #22179
Let me restate what I'm suggesting:

1.  There should be a `RunAsGroup` field on the pod and container security contexts that allows you to set a *numeric* GID
2.  If the container-level field is set, it should override the the pod-level value
3.  If a container has no security context set at the k8s level, it should use the group specified in the image

Note: if we implement this, we need to cons

[2017-02-16 15:49] thriqon commented on #39474
Thanks @wongma7 ! I just wanted to inquire whether there are any known workarounds for this... Since I'm using an emptyDir, the recreate way won't work for me :wink:

I'll open an issue with Kubernetes then.

[2017-02-16 15:58] alejandroEsc commented on #41560
@sttts @feiskyer seems to expect $(whoami) based on the value of that variable for my machine. I can make that change  if you would like.

[2017-02-16 16:17] raghakk opened #41565 "How to access Headless service externally"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Request for help. NO help was available in troubleshooting.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

access headless service ou

[2017-02-16 16:27] #41527 closed

[2017-02-16 16:27] PI-Victor opened #41566 "failed to pull repository kube-aggregator"
`kube-aggregator pod` fails to start

@deads2k
Not sure but it might be related to your recent PRs regarding the moving of kube-aggregator
when using `hack/local-up-cluster.sh`
i get this in the docker logs:
[code]

the only repo available to me on docker hub is yours.
[code]

maybe there's one more script that needs updating?

[2017-02-16 16:29] deads2k commented on #41566
That slipped in.  https://github.com/kubernetes/kubernetes/pull/41514 fixes it.  Sorry.

[2017-02-16 16:32] PI-Victor commented on #41566
cool, will keep this open and close it once the PR is merged to avoid issue duplication by people hitting this.

[2017-02-16 16:36] Dm3Ch opened #41568 "[FEATURE REQUEST] Show time of next scheduled job for cronjob"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

It would be cool if after creating of cronjob it would be possible to see when job for the cronjob will be created.

[2017-02-16 16:47] terencechow commented on #33664
+1

[2017-02-16 16:59] aurcioli-handy commented on #30603
It's unclear to me how DCT is supported in Kubernetes. When DCT is enabled Docker will only pull signed images. This is not the default behavior of Kubernetes. Is there a way to turn on DCT per deployment and specify Notary servers to use?

[2017-02-16 17:02] yujuhong commented on #41476
kubelet switched to using inotify last release (1.5). There has been some reported issues (#40123), but we haven't seen missing events at this rate (20%). I think it's worth testing this part of the code, and as suggested in #40123, using polling as a backup to cope with missing events.

[2017-02-16 17:12] zedfauji commented on #29678
@pwittrock i would be interested in implementing this feature. will send a pull request.

[2017-02-16 17:14] zedfauji commented on #29678
@spacepluk  if you have managed a workaround , it would be nice to share with the community :)

[2017-02-16 17:15] thockin commented on #37396
The SNAT is required for external traffic because of the way most
load-balancers work.  They can only target a VM, so kube-proxy
"re-balances" which means it might reroute to a different node.  When that
happens, the final node tries to reply directly to the client, which
doesn't work.

OnlyLocal accepts the limitation of (im)balancing to nodes, in exchange for
not losing the client IP.

On Thu, F

[2017-02-16 17:32] ttripp opened #41573 "Put the non-existent key into the error message"
**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:52:34Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
Linux 4.8.0-37-generic #39-Ubuntu SMP Thu Jan 26 02:27:07 UTC 2017 x86_64 x86_64 x86_64 GNU/

[2017-02-16 17:36] kerneltime opened #41575 "StorageClass to PV relationship"
This is a continuation of the [discussions part of the PR to add Classname attribute to PV and PVC](https://github.com/kubernetes/kubernetes/pull/40013#issuecomment-278251609).
There are 2 main concerns
1. Ability for a backend/provider to be able to validate a storage class being created (Ex: Backend does not have fast disks but storage class consists of fast disks). Today, the storage class will

[2017-02-16 17:45] hongzhili commented on #38774
@JayBusch, @Dmitry1987
I had the same issue and solved it.
[code]
In my case, the problem is caused by that the worker node name is not registered in DNS, and cannot be accessed from the machine which runs kubectl. kubectl logs try to access  https://[worker node name]:10250/containerLogs/kube-system/kube-dns-6vzck/kubedns to get nodes, if the worker node name is not resolvable, kubectl returns In

[2017-02-16 17:58] thockin commented on #41559
@MrHohn @saad-ali I thought we had all this in by now?

[2017-02-16 18:02] verb commented on #10834
@thockin I still think running a "debug container" inside an existing pod is the most elegant solution (#35584), but it's contingent on being able to cross-mount container filesystems (sort of #831) which I'll try to resolve over the next week.

[2017-02-16 18:09] #41438 closed

[2017-02-16 18:14] #40491 closed

[2017-02-16 18:15] MrHohn commented on #41559
Addon-manager is ready for creating default storage class. #40108 is out for easily disabling default storage class but it is still under review.

And we might need some GKE internal works for deploying default storage class on GKE as part of the addons.

[2017-02-16 18:17] screeley44 commented on #41381
should we indicate that on the resource printer at least keying off of *pv.kubernetes.io/provisioned-by* ?  Something like

[code]

@jsafrane @childsb @eparis ?

[2017-02-16 18:17] freehan commented on #41552
I am planning to bump libcni and cni plugins.

[2017-02-16 18:18] quinton-hoole commented on #41442
cc @kubernetes/sig-federation-misc
@thockin thanks for calling this out - I agree that it's really worthwhile figuring out.
I largely agree with most of what @davidopp says.
Would it perhaps be better to move this to a Google Doc to better facilitate feedback and addressing thereof?  I can see this issue turning into a monster megathread pretty soon :-)

[2017-02-16 18:29] alejandroEsc commented on #41557
@wojtek-t curious, are there any kubelet logs to go along with this?

[2017-02-16 18:31] dchen1107 commented on #41557
Based on what you described, apiserver is running into the crashloop, which triggers restart-back-off. 5-minutes is the maximum. I think this is a intented Kubelet behavior. Do you have related Kubelet logs?

[2017-02-16 18:31] yujuhong commented on #41557
I spoke to @wojtek-t, and unfortunately, the kubelet log was lost after the auto repair. We will keep an eye on this issue and see if it will hit again.

[2017-02-16 18:41] wojtek-t commented on #41557
@dchen1107 - actually, it should be possible to check if this was crashloop, because apiserver logs should be available in bigquery.

[2017-02-16 18:41] wojtek-t commented on #41557
So this hypothesis we should be able to verify.

[2017-02-16 18:43] wojtek-t commented on #41557
If noone gets to it by tomorrow, I will verify this tomorrow.

[2017-02-16 18:45] krousey commented on #41518
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-latest-upgrade-master/

Yes. And across 3 other suites as well.

[2017-02-16 18:46] alejandroEsc commented on #41405
cant repro, can you provide kubelet logs?

[2017-02-16 18:48] zhan849 opened #41580 "Pod main containers finished but init container is still waiting for resource"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
"kubernetes pod main container finished but init container is pending"
---

**Is this

[2017-02-16 19:07] loopingz commented on #29059
I'm facing the same issue only on one node of my cluster, it fills the number of mounts pretty quick leading to unresponsive OS ( 32k mount )

[2017-02-16 19:09] freehan commented on #31715
@shyamjvs Which test suite are you referring to? Do you mind copying the link?

[2017-02-16 19:12] davidopp commented on #41442
I can put it into a Google Doc by Monday.

[2017-02-16 19:16] jingxu97 commented on #29059
@loopingz could you provide some more details about your case? Do you use nfs or gluster in the pods? Could you also give a some of the mounts you see on the node so we can have a better understanding what might cause the issue? Thanks!

[2017-02-16 19:23] faresj opened #41584 "K8s pods affinity & anti-affinity, soft (preferredDuringScheduling) not respected in 1.4?"
Hello, I am experimenting with K8s 1.4 pod affinity-antiaffinity,
i am trying to get K8s to cluster together pods of the same service on the same node as much as possible (ie, only go to next node if not possible to put more on the node where the service is already in)
To do so, i setup

1- a hard (requiredDuringScheduling) anti-affinity to exclude running where a diffrent service is already runni

[2017-02-16 19:27] jingxu97 opened #41586 "node e2e test failures on pull reqeust"
Since this morning, we noticed quite a few pull request failures in node e2e tests.
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-node-e2e-cri?
Anyone could help take a look at this?

cc @kubernetes/test-infra-admins

[2017-02-16 19:31] msau42 commented on #41559
I'll take a look at enabling it for GKE.

[2017-02-16 19:31] krzyzacy commented on #41586
Looks like flakes in the node? cc @Random-Liu

[2017-02-16 19:32] mml commented on #41422
@wojtek-t I don't need to change the `ETCD_IMAGE`.  I could, but the 3.0.14 image should work, since it contains 2.2.1.  But `ETCD_VERSION` is not getting propagated.

I bring my cluster up like this: 'STORAGE_BACKEND=etcd2 ETCD_VERSION=2.2.1 [...other environment variables...] go run hack/e2e.go -- -v --up'

But this is what I get.

[code]

Still looking into it...

[2017-02-16 19:36] Random-Liu commented on #41586
Only the latest test failure is a flake.
[code]
The others are just problem in the PR itself.

[2017-02-16 19:43] madhusudancs opened #41589 "[Federation][TestInfra] Unjoin clusters in federation-down.sh"
I initially thought this wasn't necessary since we tear down the clusters after each e2e test run. However, the plan for presubmits is to not recycle the clusters after each test run to avoid cluster bring up and tear down times. If we retain the clusters we have to clean up the `kube-dns` ConfigMap entries we create in the clusters to have a clean start at the beginning of each run. `kubefed unjo

[2017-02-16 19:50] loopingz commented on #29059
Sure sorry, i had lots of
`
tmpfs /home/lib/kubelet/pods/1630930a-f25f-11e6-8d1a-e840f2ece05a/volumes/kubernetes.io~secret/default-token-9gn39 tmpfs rw,relatime 0 0
tmpfs /home/lib/kubelet/pods/567b3775-f259-11e6-8d1a-e840f2ece05a/volumes/kubernetes.io~secret/default-token-9gn39 tmpfs rw,relatime 0 0
tmpfs /home/lib/kubelet/pods/1630930a-f25f-11e6-8d1a-e840f2ece05a/volumes/kubernetes.io~secret/def

[2017-02-16 20:00] vladimirvivien opened #41591 "Jenkins Bazel Build failing with python errors"
Jenken Bazel Build keeps failing after three tries while building https://github.com/kubernetes/kubernetes/pull/38924 - See following link: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/38924/pull-kubernetes-bazel/5627/

[code]

[2017-02-16 20:01] jingxu97 commented on #29059
@loopingz which version of kuberentes you are using? I see the exact mounts you posted are repeated many time. In the current mount code path, it should check whether the path is already mounted and if it is yes, it will skip to mount it again. I will check again our code path.

[2017-02-16 20:02] timothysc opened #41592 "Featuregate alpha-beta apis."
Per https://github.com/kubernetes/kubernetes/pull/41215 I'm updating our affinity PR to leverage flag-gates for affinity upon re-generation we get:

[code]

But we are absolutely going to want this type of capability... My only question is where to put this feature-gates.  Asked on slack... no answer.

/cc @davidopp @kubernetes/sig-api-machinery-misc

[2017-02-16 20:16] chrislovecnm commented on #39674
FYI

Top three API calls that we are getting.  I am uncertain if we are using the PRs on this ticket.

1. ListHostedZonesByName
1. ChangeResourceRecordSet
1. ListResourceRecordSets

[2017-02-16 20:41] shyamjvs commented on #31715
The gke-slow suite: https://k8s-testgrid.appspot.com/google-gke#gke-slow. You can see that it's pretty much the only test which is failing in the suite.

[2017-02-16 20:48] buchireddy opened #41596 "Rolling upgrades using Deployments should have an option of waiting for the old pod to terminate completely"
**Is this a request for help?**

No

**What keywords did you search in Kubernetes issues before filing this one?**

kubernetes deployment rolling upgrade wait old pod terminate completely

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request.

**Kubernetes version** (use `kubectl version`):
`Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommi

[2017-02-16 21:04] kow3ns opened #41598 "Fix StatefulSet volume provisioning "magic""
**Feature Request**

**tldr**
Currently the volume [utilities](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util.go#L287) used by the GCE and AWS cloud providers attempt to spread the Pods of StatefulSest across zones by detecting PVCs whose names conform to the StatefulSet naming scheme and round robin provisioning the required PVs across AWS and GCE zones. Aside from introduci

[2017-02-16 21:06] kow3ns commented on #41598
@kubernetes/sig-storage-feature-requests
@kubernetes/sig-scheduling-feature-requests

[2017-02-16 21:08] alejandroEsc commented on #5625
should this issue be closed?

[2017-02-16 21:10] timothysc commented on #41592
deads2k [3:02 PM]
@timothysc our cycle protection works. That's good

[3:03]
@timothysc this is a feature gate for teh kube-apiserver in particular, right?

timothysc [3:03 PM]
this is to feature gate an api-utility

[3:04]
so I think the features probably should not be under api-server

deads2k [3:04 PM]
@timothysc but one that is applicable to the kube-apiserver

[3:04]
@timothysc apiserver is a

[2017-02-16 21:10] #41592 closed

[2017-02-16 21:10] liggitt commented on #5625
no, they still exist

[2017-02-16 21:11] deads2k commented on #41592
The API packages shouldn't rely on feature gates, because client-go relies upon the APIs and the feature-gates won't be used cleanly or reliably by the vast majority of client-go users.

You could pass a boolean instead and keep the helper with the bool in the sig (to make the choice obvious) or move the helper entirely.

[2017-02-16 21:18] foxish commented on #41584
cc @kubernetes/sig-scheduling-misc

[2017-02-16 21:39] bsalamat opened #41600 "Allow dynamic change of scheduler's policy configuration"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Kubernetes currently supports "multiple schedulers" (users can run their own custom scheduler(s))
(https://kubernetes.io/docs/admin/multiple-schedulers/), but running an entire separate scheduler is heavyweight, especially for common desires like using best-fit instead of the default spreading policy. There is a scheduler

[2017-02-16 22:05] mml commented on #41422
Sigh.  https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L116

I am now setting this other environment variable and it's working.  No idea if this was intended or not.  Either way, it consumed a few hours.  :-1:

[2017-02-16 22:18] foxish commented on #40813
Thanks @AdoHe

[2017-02-16 22:23] tonglil commented on #41528
Also filed here https://github.com/kubernetes/ingress/issues/280.

[2017-02-16 22:26] tonglil commented on #41560
Can you keep `$USER` as an option if it is specified?

`whoami` returns a 6 digit numeric value on my machine (corporate provisioned) and that is incompatible with GCI images, as well as error-ing out during e2e provisioning.

[2017-02-16 22:30] alejandroEsc commented on #41560
@tonglil that is a great idea, so should be defaulting to whoami in the case where it has not been defined.

[2017-02-16 22:45] kow3ns opened #41605 "Remove StatefulSet Init Annotation"
** FEATURE REQUEST**

The annotation
[code]
needs to be deprecated as was decided in the Beta-GA roadmap.
All e2e tests need to be updated to not use this annotation.

[2017-02-16 22:54] kargakis commented on #41596
Terminating pods have their endpoints removed so they don't serve new traffic and they don't count against quota. If you want quick deletions use a lower terminationGraceperiod than the default.

[2017-02-16 23:15] buchireddy commented on #41596
@kargakis Yeah. Though I agree that it works for apps behind services, we have a special case where the applications are forming a quorum by registering themselves with ZooKeeper and they unregister just before going down.

Why not have a property in rolling upgrades which enables this behavior?

[2017-02-16 23:25] kuroneko25 commented on #39676
Duplicate of https://github.com/kubernetes/kubernetes/issues/33483?

[2017-02-16 23:27] kargakis commented on #41596
This is not a common case for Deployments but should be enabled by providing a custom strategy (still missing from Deployments). https://github.com/kubernetes/kubernetes/issues/14510 You may also want to have a look at Statefulsets where stronger guarantees regarding spinning up and tearing down pods are going to be provided.

cc: @kubernetes/sig-apps-misc

[2017-02-16 23:45] GheRivero commented on #41584
Just for curiosity: did you check if the behavior is the same with latest stable version (1.5)?

[2017-02-17 00:54] faresj commented on #41584
no, i did not, i wanted to confirm that i am doing the right thing with the affinity rule above first, there was no examples so for,....i can try with 1.5. but would be nice to see if i the affinity rules above are sound

[2017-02-17 01:05] #14940 closed

[2017-02-17 01:09] bprashanth commented on #41528
Closing as dupe

[2017-02-17 01:09] #41528 closed

[2017-02-17 01:15] pwittrock opened #41609 "kubectl cp does not work on linux"
the following command works on my mac, but not on linux:

[code]

[2017-02-17 01:19] #41609 closed

[2017-02-17 01:19] pwittrock commented on #41609
Something else seems to be broken.

[2017-02-17 01:31] janetkuo opened #41612 "Make DaemonSet respect "critical pods annotation" when scheduling"
So that DaemonSet can schedule critical pods onto nodes, and kubelet will preempt non-critical pods. #40573

@kubernetes/sig-apps-feature-requests @erictune @vishh

[2017-02-17 01:42] yujuhong opened #41613 "Archive hollow node logs in (pre-submit) kubemark tests"
The logs are currently not uploaded to GCS. Debugging kubemark requires running the test yourself or ssh'ing into a jenkins cluster running kubemark. Can we collect the logs to facilitate debugging?

/cc @wojtek-t @gmarek @shyamjvs

[2017-02-17 01:50] mml commented on #40636
Alright.  Status update here... I have code in place to do the test, but I'm now also trying to just upgrade a cluster successfully by hand.

To get an e2e cluster to come up running 2.2.1 (in this case with the 3.0.14 image), do this: `STORAGE_BACKEND=etcd2 TEST_ETCD_VERSION=2.2.1 [...] go run hack/e2e.go`

The cluster comes up healthy running 2.2.1 in etcd2 mode.

To upgrade, the below should wo

[2017-02-17 02:02] feiskyer commented on #41560
OK, will file an PR to fix this.

[2017-02-17 02:11] feiskyer commented on #41560
Filed PR at #41614. PTAL

[2017-02-17 02:14] yujuhong commented on #39130
/cc @timstclair

[2017-02-17 02:49] keith4743 commented on #41469
I followed this page:
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch

this is my yaml file of es daemonset and service:
[code]

Maybe I should modify some entries?

[2017-02-17 03:00] qiujian16 commented on #41549
add --cluster-cidr flag resolve the issue, close it.

[2017-02-17 03:00] #41549 closed

[2017-02-17 03:18] gyliu513 opened #41616 "kubelet keeps reporting errors"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-02-17 03:20] gyliu513 commented on #41616
cc @Random-Liu

[2017-02-17 03:26] timothysc commented on #40636
so I can't speak to the kube-up/script-jiggery but I've upgraded large data-sets from 2.3.7 -> 3.0.x several times and restarted and reloaded.

/cc @hongchaodeng

[2017-02-17 03:39] bgrant0607 commented on #18622
This is a pain for TPRs:
https://docs.google.com/document/d/1Gg158jO1cRBq-8RrWRAWA2IRF9avscuRaWFmY2Wb6qw/edit#

[2017-02-17 03:41] yujuhong commented on #41616
/cc @freehan

[2017-02-17 03:48] gyliu513 commented on #41616
Seems caused by my env due to I cannot access gcr due to the proxy failed, will continue to check...

[code]

[2017-02-17 03:50] bgrant0607 commented on #41600
@bsalamat This is a dupe of #1627

[2017-02-17 03:55] dhilipkumars commented on #41605
Hi @kow3ns I can help with this if no one has picked it up currently.

[2017-02-17 03:56] smarterclayton commented on #41598
We talked in another proposal about attaching affinity selectors to PVCs and letting the tail wag the dog.  That might work for a StatefulSet, but probably not useful for the other controllers.

[2017-02-17 05:02] liggitt commented on #41612
are we expanding use of this annotation?

[2017-02-17 05:06] liggitt commented on #41529
the default secure port is 6443, and your invocation did not override the default

[2017-02-17 05:07] liggitt commented on #41520
the optional field is new in 1.6

the public docs should be for the latest released version, 1.5.x. looks like the optional example got merged early

[2017-02-17 05:08] liggitt commented on #41520
can you open this against the doc repo instead?
cc @fraenkel

[2017-02-17 05:08] #41520 closed

[2017-02-17 05:16] #36379 closed

[2017-02-17 05:20] Miyurz opened #41619 "Creating a Secret with a Docker Config with kubectl command is broken"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No, its a bug in kubectl.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
.dockercfg, .dockerconfigjson
---

**Is this a BUG REPORT or F

[2017-02-17 05:23] ahawkins commented on #41619
I believe the difference between `.dockercfg` and `.dockerconfigjson` secret types is they're intended for different Docker versions. My guess is this at the heart of the bug: you must use the correct secret type that matches your Docker version.

[2017-02-17 05:57] noriuky opened #41620 "Which Docker version(s) for Kubernetes v1.6.0-alpha.0.2074+a092d8e0f95f52"
I installed kubernetes v1.6.0-alpha.0.2074+a092d8e0f95f52
i wonder which Docker ver is compatible with this.
Plz there is a place where to find this info, i lost hrs on google without success.
Tnx

[2017-02-17 06:19] bamb00 opened #41623 "fluentd loading from minion can't reached the kubernetes apiserver"
---

**kubernetes version v1.5.3**

**Environment**:
- **k8 master & minions on AWS**
- **Ubuntu**
- **1 master, 2 Minions**:

**Fluentd pod load from master is fine but from minions failed with error cannot access kubernetes apiserver:**
**2017-02-17T06:05:22.362485115Z 2017-02-17 06:05:22 +0000 [info]: adding filter pattern="kubernetes.**" **type="kubernetes_metadata"**
**2017-02-17T06:06:22.708

[2017-02-17 06:22] aanm commented on #41529
Ok, so it is possible to set the kubernetes service endpoint with the insecure port instead?

[2017-02-17 06:42] huysamen commented on #36572
I am experiencing the same issue.

[2017-02-17 06:49] anguslees commented on #7789
I believe the:
`*	No	Yes	Use spec namespace even if it disagrees with .kube/config`
case from the above table was *not* implemented by PR #10493.

Specifically I have config files that contain explicit namespace statements.  Works fine out of cluster, works in-cluster (no .kube/config) with 1.4.x kubectl's, fails in-cluster with 1.5.x.  I would like it to work the same in/out of cluster, or I woul

[2017-02-17 06:51] Zjianglin commented on #38369
I guess it was due to execute commands behind a `http_proxy`, try to unset `http_proxy` , then `kubeadm reset; systemctl restart kubelet; kubeadm init`?

[2017-02-17 07:12] davidopp commented on #41598
ref/ #41442

[2017-02-17 07:15] keontang opened #41624 "Should not just return one ip when cloud provider is used"
Refer to: [https://github.com/kubernetes/kubernetes/pull/33123](https://github.com/kubernetes/kubernetes/pull/33123)

Use case: In general, we have two ips at least on cloud vm, one is internal ip, another is external ip. For pod communication, we would like to use internal ip for k8s cluster; But for other apps, it will communicate with the node by external ip. So, `kubectl get node xxxx` should

[2017-02-17 07:15] keontang commented on #41624
@kokhang

[2017-02-17 07:17] Random-Liu commented on #41616
@freehan We should create the checkpoint directory when creating the checkpoint store, or else the  list failed error will be quite spammy.

[2017-02-17 07:21] wojtek-t commented on #40636
@mml - are you running the cluster from head?

my hypothesis (though I need to verify it) is that it's because of protobufs switched on by default as storage format at head.

[2017-02-17 07:27] madhukar32 commented on #41070
@resouer I am facing the same problem as well. In my case I have a cluster of 3 nodes (1master + 2 minion )

Kubelet Version:               v1.5.1
Kube-Proxy Version:            v1.5.1

[code]
[code]
[code]
[code]

[2017-02-17 07:52] thockin opened #41629 "Idea for evolving split repos around client, apimachinery, etc."
@lavalamp  and I spoke for a couple hours today, and I need to write some thoughts down.  Maybe it will go nowhere, but let's see.

We have a small set of things that are/were in the main repo which really MAKE SENSE outside of it.  The flagship of this is `client-go`, which I would expect to have orders of magnitude more consumers than anything else in the project.  It just makes sense to make th

[2017-02-17 08:00] wojtek-t commented on #40636
Actually no - it doesn't seem to be related to protobufs.

I managed to reproduce exactly this problem, but look into etcd logs the etcd migration happened successfully.

That said it looks to me that the problem is actually with connecting from apiserver to etcd and we are not even reaching any data parsing or sth - it's fully on the connection level.

I also checked that I can actually access th

[2017-02-17 08:22] orainxiong opened #41630 "Scheduler : CalculateNodePreferAvoidPodsPriority seems does not work"
`CalculateNodePreferAvoidPodsPriority` : describes pods that should avoid this node. It seems use `Controller Type` and `UID`(code as follow), but `UID` is generated by `kubernetes`. How can I use this priority ?
[code]

**Kubernetes version** (use `kubectl version`):
version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4+3b417cc", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56"

**Environment

[2017-02-17 08:36] gmarek commented on #41613
Yes we can - we know that we don't do it. It was an accident at the beginning, but we decided that's a lucky one, as we're not sure how our test env will survive downloading logs from 5000 hollow nodes. I guess we can switch it on for some time.

[2017-02-17 08:38] gmarek commented on #41613
Ideally it would be turned on by the flag and enabled only in pre-submit kubemark (+ maybe in some of the smaller ones)

[2017-02-17 08:39] RayWoodson commented on #33729
I have the same problem on centos 7.2.1511
and port 8080 is free
how shoul i fix it

[2017-02-17 08:56] PI-Victor commented on #41566
no, longer hitting this. closing.

[2017-02-17 08:56] #41566 closed

[2017-02-17 08:58] resouer commented on #41070
Did you noticed the `Insufficient pods (2)`, have you checked pods capacity is exceeded?

As for `PodToleratesNodeTaint`, what's your pod yaml looks like? Do it has toleration related spec?

[2017-02-17 08:58] wojtek-t commented on #41613
Yup - this should be pretty simple to switch on. And I agree we should first start with enabling it only for small kubemarks (e.g. <=100 nodes)

[2017-02-17 09:13] strugglingyouth opened #41632 "KUBERNETES_PROVIDER is centos,cluster/kube-up.sh don't work, k8s 1.5.2"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-02-17 09:41] davidopp commented on #41584
cc/ @kevin-wangzefeng who may have time to look at this before I can

[2017-02-17 09:41] davidopp commented on #41584
(Sorry, hit close button by accident!)

[2017-02-17 09:53] jianzi123 commented on #32796
I would like to work on this issue

[2017-02-17 09:58] keith4743 commented on #41469
[code]

[2017-02-17 10:00] ankon opened #41633 "CronJob should apply a label to each created job"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"scheduledjob" (and try to understand from the title whether this could be related to my issue)
"find job"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request.

**Kubernetes version** (use `kubectl version`):
[code]

**Envi

[2017-02-17 10:16] Crassirostris commented on #41469
@keith4743 Could you please provide full ES response and one of es pods' logs?

[2017-02-17 10:28] dshulyak commented on #40953
Sorry, it was my mistake. Will submit a fix in a moment

[2017-02-17 10:45] Crassirostris commented on #41469
@keith4743 By full ES response I mean the output of the following command

[code]

[2017-02-17 10:49] wojtek-t commented on #41422
Should be fixed by https://github.com/kubernetes/test-infra/pull/1900

[2017-02-17 11:16] dmnord commented on #34066
I also want to know about this issue in details, because I have the same problems on fedora host. software versions are also the same as described above by sachincab!

[2017-02-17 11:54] wojtek-t commented on #40636
OK - so I finally managed to make this work.

So the main issue was in fact protobufs (which are turned on by default at head).

But also, starting a test cluster and using the upgrade script doesn't really work. So what worked for me was to:
1. recompile the binaries with protobufs switched off by default - I will create a PR to expose this as an env variable, hopefully will be out today
2. the r

[2017-02-17 11:57] shashidharatd opened #41635 "Too many watch update events for endpoints object"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): HEAD (latest)

**Environment**: dind

**What happened**:
Enpoints object is constantly getting updated every 2 seconds, even though nothing has changed in the object. It will produce lot of traffic on any informer watching on endpoints. An update event is produced every 2 second p

[2017-02-17 12:28] luxas commented on #38228
sent https://github.com/kubernetes/kubernetes/issues/41636 to upgrade to go1.8, let's see how it goes

[2017-02-17 12:42] thriqon opened #41638 "subPath in volumeMount is not writable for non-root users"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): subpath, emptyDir, mode, permissions

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2017-02-17 12:51] deads2k commented on #41629
I'm generally in favor of the idea, but I'm not sure you've made the repercussions sound scary enough.

Having worked downstream of a large project for a while, I'd be concerned about having uncoordinated updates to a repo that k8s.io/kubernetes depends upon.  You can very easily end up in a state where you have a change in one of the precursor repos that are very difficult to be consumed by the k

[2017-02-17 12:52] deads2k commented on #41629
I don't think we should rope this in with apimachinery.  The two have different concerns and only touch in a couple interfaces, strictly one way.

[2017-02-17 12:59] wojtek-t commented on #40636
OK, so with #41637 patched in, the following works for me:
[code]

[2017-02-17 13:13] wojtek-t commented on #41557
It seems that @dchen1107 was right - there were multiple panics:
[code]

So this probably "worked as indended".

BTW - the issue that was causing those crashes should already be fixed - it was: https://github.com/kubernetes/kubernetes/issues/40491

Closing - thanks a lot for looking into it.

[2017-02-17 13:13] #41557 closed

[2017-02-17 13:25] joelharkes commented on #14987
I have converted the [1.5 api](https://kubernetes.io/docs/resources-reference/v1.5/)  to schema.json:
https://github.com/joelharkes/kubernetes-json-schema

For example for v1 container you can use this URL: https://raw.githubusercontent.com/joelharkes/kubernetes-json-schema/master/generated/container-v1.json

[2017-02-17 13:30] evmin commented on #40415
+1

[2017-02-17 13:36] phutchins commented on #19899
@bprashanth I agree that we should keep the scope to external -> internal https and lets encrypt certs. That being said, I always like to consider how a feature or addition would/could interact or change user experience with current or future features/changes.  While DNS is not and should not be a part of this service, it might be helpful to at least keep in mind how the two might play together...

[2017-02-17 13:39] fraenkel commented on #41520
Submitting a revert against docs.

[2017-02-17 13:47] felipejfc opened #41640 "1.5.2 Performance Issues on AWS"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**:
1.5.2, performance

---

**Is this a BUG REPORT or FEATURE REQUEST?**
Bug report

**Kubernetes version** (use `kubectl version`): 1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Jessie
- **Kernel** (e.g. `uname -a`):  4

[2017-02-17 14:15] justinsb commented on #41640
OTOH, I would guess one of these things:

* kube-controller-manager messing up the routes (seems unlikely).  (Can you confirm you're using kube-net)
* kube-proxy messing up the service -> pod mappings on one or more nodes.  Maybe then your application retries the request, so it still goes through, just with a delay.  This seems fairly likely.
* kube-dns being slow to resolve the service name to th

[2017-02-17 14:35] felipejfc commented on #41640
I'm using Kubenet

[2017-02-17 14:36] edevil opened #41641 "New deployment sometimes leaves old ReplicaSet with active replicas"
**Is this a request for help?**
No.

**What keywords did you search in Kubernetes issues before filing this one?**
dangling ReplicaSet

---

**Is this a BUG REPORT or FEATURE REQUEST?**
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Azure A1
- **OS** (e.g. from /etc/os-release):
NAME="Container Linux by CoreOS"
I

[2017-02-17 14:43] smarterclayton commented on #41629
This would probably be yet another thing a new contributor (or even moderate ones) would run up against as a huge roadblock (revendoring and dealing with rebase is ugly) and get angry about.

Having a compact and low dep count library that is stable seems goal #1.  Is making it easy to submit small patches to that library as important?

Having the subdivided repos inside staging is growing on me,

[2017-02-17 14:51] felipejfc commented on #41640
i think that last time it happened I've tried to delete all kube-proxy and kube-dns pods and wait for new ones to start but it didn't help. Only thing that helped was to shutdown all worker nodes and wait for new ones to spin up...

[2017-02-17 14:54] smarterclayton commented on #7789
Yeah, it should be consistent.  Can you spawn an issue for it?

[2017-02-17 15:18] chrislovecnm opened #41643 "Test if Daemonsets will drain if they have local storage"
Working with `kops` rolling-update I notice that Daemonsets may be drained if they are marked as to ignore, but have local storage.  This issue it to write a unit test to determine if this is correct.

[2017-02-17 15:19] keith4743 commented on #41469
@Crassirostris that is all the output, nothings else after 503 error.

[2017-02-17 15:21] Crassirostris commented on #41469
@keith4743 You're only showing headers, because of the `-I` flag

[2017-02-17 15:25] keith4743 commented on #41469
@Crassirostris  there is no output without `-IL` flag.

[2017-02-17 15:27] Crassirostris commented on #41469
@keith4743 OK, I see, thanks!

This is really weird, from the logs above, ES should be responding with 200. 503 means it cannot connect to the cluster.

Could you please paste logs from all instances of ES?

[2017-02-17 15:31] keith4743 commented on #41469
[code]
[code]

[2017-02-17 15:34] justinsb commented on #41640
If we can, I think it would be great to try to narrow it down layer by layer.  We hope that at some layer we see the high latency, and then as we remove layers we observe that everything is fast, which helps us figure out the problematic layer:

So the layers

1) The ELB: From your machine or from an EC2 instance to the ELB endpoint
2) From a pod (`kubectl exec -it`) to the kubernetes service name

[2017-02-17 16:00] Crassirostris commented on #41469
@keith4743 First one looks suspicious, like it hasn't completely initialized. However, the exact reason requires debugging ES

You can try the following steps:

* Figure out if you get 503 from only the first one or both of them
* Restart the first container
* Increase number of replicas

Please tell whether it helps or not

[2017-02-17 16:31] keith4743 commented on #41469
@Crassirostris what is your mean about `from only one`? I got the API address by the command `kubectl cluster-info`.
and how to restart a specified container, the containers are created by the RC resource.

I modify the `replicas` entry from 2 to 3, still report the same error 503.

[code]
[code]
[code]
[code]
[code]

[2017-02-17 16:33] kevin-wangzefeng commented on #41584
When converted, the affinity/anti-affinity rules are:
[code]
According to your rules, the semantics are:

affinity:

anti-affinity:

which are actually a little bit different with your requirement described. Pods with such rules would just stay together with pods that have label "pod_label_xyz=value-a"

As for the case you described, let me rephrase here.
There are 3 kind of RC with pod labels lik

[2017-02-17 16:47] crassirostris opened #41647 "e2e flake: Cluster level logging using GCL should check that logs from containers are ingested in GCL"
Due to some recent changes (at some point before 16th), fluentd OOMs and e2e test flakes

CC @piosz

[2017-02-17 16:58] DreadPirateShawn commented on #31709
@djsly Well in the repro I describe above, it's not really an "unhealthy state" situation -- generally binding and scheduling work fine, we simply see occasional "false alarms" which quickly resolve themselves, but concern us regarding robustness / reliability.

[2017-02-17 17:02] Crassirostris commented on #41469
@keith4743 When you do `curl` on `http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/elasticsearch-logging` the request goes to the service, which in turn goes to one of the replicas, I wanted to understand whether it's a problem with only one of the ES pods or all pods reply with 503. Consistency of the problem tells that it's not about hitting the wrong replica, but you can still

[2017-02-17 17:03] Crassirostris commented on #41469
@keith4743 Wait a minute, look at the header

[code]

Specifically at the `Content-Length` header. Response should not be empty, are you sure `curl` without `-I` prints nothing?

[2017-02-17 17:23] keith4743 commented on #41469
after modified the `replicas`, I try to curl the API address again, and the output is different when add a slash at the end this time.
[code]
[code]
[code]

[2017-02-17 17:23] kow3ns commented on #41442
I think #41598 summarizes the magic we currently do to spread StatefulSet across zones by round robin provisioning storage.

[2017-02-17 17:34] fabiand commented on #30961
Seeing this one as well with
[code]

[2017-02-17 17:38] fabiand commented on #30961
Okay - issue with my yaml was that the value of a key was invlaid.

[2017-02-17 18:11] kow3ns commented on #41605
@dhilipkumars I think we should wait until we get feedback. It was on the beta roadmap to remove this before GA, and it will need to be either promoted or removed, but we should make sure that people are not using first. Also, be aware, that pretty much all of the e2e testing works off of this annotation so this will require quite a bit of work. @smarterclayton do you know of anyone who is dependi

[2017-02-17 18:18] #41071 closed

[2017-02-17 18:25] bsalamat commented on #41600
@bgrant0607 Yes. Thanks for pointing out. This is specifically targeting scheduler's config, but I guess we can mark it a dupe and continue the discussion in #1627.

[2017-02-17 18:30] dhilipkumars commented on #41605
@kow3ns also 1.6 promotes affinity annotation to pod spec, all the examples that uses Affinity should be fixed too.  We could handle that aswell.

Where is Beta Roadmap for statefulset? Could you link that with this issue?

[2017-02-17 18:37] janetkuo opened #41655 "Crash looping controller manager - panic: index out of range in cronjob controller"
Happened in 1.5.2.
In controller manager log:

[code]

@soltysh @kubernetes/sig-apps-bugs

[2017-02-17 18:37] yujuhong commented on #41613
I think it should definitely be enabled for presubmit. The next to consider is the submit queue blocking "ci-kubernetes-kubemark-500-gce" suite, but that depends on how often it fails.

[2017-02-17 18:38] fabianofranz commented on #40968
I like it for that specific use case and it feels fluid, but I worry that it might cause confusion when using it for things that are not actual resource types.

E.g. `use context/stage` or `use cluster/aws`, where `cluster` *is* a resource type in Federation, but that's not what we are referring to here. Maybe part of why it feels odd to me is `use` being a first-level cmd, while `config use` make

[2017-02-17 18:39] faresj commented on #41584
Thank you for the above explanation, but this is not the behavior i am seeing in the test.

Indeed I do expect the RC-a pod to run on Node1, Node4 and Node5 (as long as Node4 and Node5 do not run any pods with pod_label_xyz!=value-a), I confirm from my testing that with the rules shown above, it does so indeed...

My main problem is that when i scale up RC-a it seems to favour creating new POD-a o

[2017-02-17 19:01] janetkuo commented on #41655
In k8s.io/kubernetes/vendor/github.com/robfig/cron.ParseStandard:

[code]

[2017-02-17 19:01] chrislovecnm opened #41656 "kubectl drain error - Eviction: no kind "Eviction" is registered for version "policy/v1beta1""
This is a what I believe is a bug in the API or kubectl drain.

**Kubernetes version** (use `kubectl version`):
[code]

I am going to test on the latest as well.

**BUG REPORT**

**Environment**:
- **Cloud provider or hardware configuration**: aws built with kops
- **OS** (e.g. from /etc/os-release): debian
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: kops
- **Others**:

**What happene

[2017-02-17 19:06] vishh commented on #41612
@liggitt This annotation is a primitive implementation of `priority`. The real use case is that of running `critical system pods (daemons) across all nodes`.
@janetkuo FYI: The annotation is currently gated by a Feature Gate and we should respect that in DaemonSet controller too.

[2017-02-17 19:14] janetkuo commented on #41655
Found another clue in controller manager log:

[code]

I think this caused UpdateStatus to fail, and then caused cronjob controller to pass empty string to `ParseStandard` and caused the panic

[2017-02-17 19:19] MikeSpreitzer commented on #41442
I have a slightly different take on this than @davidopp , who I would characterize as focusing on operations rather than data.  I favor first focusing on the model that the user presents.  The use cases are not single pods but larger things (e.g., replica set, stateful set) that can be annotated with the desired topological constraints.  I would focus first on characterizing those constraints, wit

[2017-02-17 19:33] davidopp commented on #41442
I think these are isomorphic. Giving a topological constraint to a ReplicaSet is equivalent to giving topological constraints to each of the corresponding pods of that ReplicaSet relative to one another. (For example, "place all of the pods of ReplicaSet X in the same zone" is equivalent to giving the ReplicaSet's pod template a label Z and a constraint "the pod can only run in a zone with another

[2017-02-17 19:40] mrmcmuffinz commented on #13776
I know I'm kinda late to the game here and this item was closed but what was the exact solution be able to copy a remote file over from my host to the pod? I'm on linux/unix so no windows issues here.

[2017-02-17 19:44] sevein commented on #24343
[https://github.com/concourse/concourse/blob/master/.gitmodules](concourse] (Pivotal CF) could be another example.

[2017-02-17 19:50] davidopp commented on #41442
Actually it's that PLUS the fact that our current scheduler schedules one pod at a time. If we had gang scheduling, then putting topology constraints on the collection might be a better approach (though effectively we do already put topology constraints on the collection since the controller has a "pod template" and that's where we put the topology constraints).

[2017-02-17 20:04] wojtek-t commented on #41613
+1 for presubmit

The 500-node one is super stable - e.g. all the failures from last week were regressions.

[2017-02-17 20:08] mml commented on #40636
Awesome.  Thanks @wojtek-t.

[2017-02-17 20:10] crockpotveggies commented on #39489
I'm still experiencing this issue, even after Kubernetes has been updated to latest versions. Here is a screenshot that demonstrates the problem:

![screen shot 2017-02-17 at 12 07 20 pm](https://cloud.githubusercontent.com/assets/1445295/23081486/e0b0ab04-f509-11e6-9fb2-510775ac05cd.png)

Note that the *Running* container in the attached image has `Restarts` at 1. Once a container has been restar

[2017-02-17 20:24] cmluciano commented on #28695
Can this be closed now?

[2017-02-17 20:42] freehan commented on #41616
Will push a fix soon.

[2017-02-17 20:54] yujuhong commented on #41613
Agreed. Hopefully the presubmit tests will catch most of the regressions from now on.

[2017-02-17 21:05] MrHohn commented on #39489
I'm trying to understand the issue. The previous thing we were discussing is kubelet failed to pull image, but the issue seems different now.

Is `http-api-6f68g` the only pod that was effected? And could you post the specific problem you encountered ("the API goes down" is vague)? Is this pod unreachable? Or is the service's clusterIP/external IP unreachable? Or is it non-networking issue (pod is

[2017-02-17 21:21] crockpotveggies commented on #39489
Thanks for the quick follow up. I'll try to explain from the beginning. I think we were led astray by the kubelet failing to pull the image.

The core issue is that any time an image fails and Kubernetes restarts that image, the container always fails. The most visible impact occurs on our HTTP API, since that is where our external monitoring systems detect the issue.

However, this actually affec

[2017-02-17 21:25] shaynewang opened #41662 "[Scheduler] Algorithm - Separate test code from features"
FEATURE REQUEST

In [scheduler/algorithm/listers.go](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/listers.go) there are multiple test related objects (Ex. FakePodLister).

[code]

These should be properly renamed and get rid of "Fake" prefixes. Changes should be like FakeControllerLister -> ControllerLister.

These "Fake" objects only make sense in the testin

[2017-02-17 21:30] crockpotveggies commented on #39489
For clarity sake, I'll be more specific on this. Kubernetes marks the Pod as `Running`. However, the Pod is not actually performing its functions. This is either because it doesn't log any startup messages and presumably didn't execute the startup script, or because it lacks network access (for reasons that I fully do not understand).

[2017-02-17 21:36] MrHohn commented on #39489
If the restarted pods didn't log any startup messages then I guess it would be more than just networking issue.

+@kubernetes/sig-node-bugs for more node experts.

[2017-02-17 21:37] DreadPirateShawn commented on #38532
@resouer Sorry for the delay. That's correct.

More details / repro:

Step 1) Have a running pod:
[code]

Step 2) Check original events for pod:
[code]

So far, so good.

Step 3) Pretend to be an OOM killer -- ssh to node3 and "docker kill" the foo pod's container.
[code]

Step 4) Confirm that pod has been killed/restarted:
[code]

Step 5) Check events for pod -- the new pod's start event is seen,

[2017-02-17 21:37] crockpotveggies commented on #39489
![screen shot 2017-02-17 at 1 34 19 pm](https://cloud.githubusercontent.com/assets/1445295/23084154/d40eb880-f515-11e6-8b84-b67e70aa8796.png)

In the interest of providing more examples, here is another example where a "backend" pod failed. This pod is a microservice that receives request via internal load balancing.

Note that the pod has been restarted **211** times. That's quite unusual. I'd ex

[2017-02-17 21:48] calebamiles commented on #41286
@mc0e, @shiywang I think it would possibly make more sense to link the sections in `CHANGELOG.md`to the corresponding release from [the releases page](https://github.com/kubernetes/kubernetes/releases) which includes the git SHA of the tag as well as when the release was created. The releases page links to `CHANGELOG.md` but not the other way around. I would also rather have GitHub work out time d

[2017-02-17 22:07] janetkuo commented on #41655
We should fix github.com/robfig/cron.ParseStandard as well. It should first check if input string is empty.

[2017-02-17 22:08] smarterclayton commented on #40968
We should be careful about overlapping the resource identifier syntax
(resource/name) with things things that are not resources.

Contexts, users, and servers are not resources.  I would be against mixing
the two - and prefer "config use namespace foo", "use namespace foo", or
"config use --namespace=foo", to anything that puts non resources in
resource spots.

On Feb 17, 2017, at 1:39 PM, Fabiano

[2017-02-17 22:17] timstclair commented on #40248
I realized this bug is overdue for a status update! Here is the current strategy we are targeting:

1. If an image has NO external dependencies (with the possible exception of data-only files), then it should be built on scratch. This mostly applies to images made up of a single statically compiled go binary, that doesn't make any exec calls. There are a couple images that wrap a go binary in a th

[2017-02-17 22:48] everett-toews commented on #36575
@rothgar you mentioned that

Do you know if that's made explicit anywhere?

I wasn't able to find a reference to Weave being the default in any of:
* https://kubernetes.io/docs/getting-started-guides/kubeadm/
* https://kubernetes.io/docs/admin/addons/
* https://kubernetes.io/docs/admin/kubeadm/

I'm just wondering if I'm missing something or if it should be made explicit in one of those guides.

[2017-02-17 22:52] MrHohn commented on #39489
Ok this seems like networking issue again :(

If a pod crashed it might kept restarting, thus this unfortunate pod got restarted 211 times...

For the error `Name or service not known`, is it an external or in-cluster DNS name? Does the other affected pods have similar name resolving issue?

[2017-02-17 22:53] thockin commented on #24343
For the sake of archival, I feel like we have (at least) 2 kinds of repos
we might want.

1) Libraries that are consumed by one or more other components
2) Shards of the system that really want to be tested and release together,
but github doesn't handle well.

We may want different solutions for them.  Case (1) feels more like any
other repo across github, and maybe we can just manage them that w

[2017-02-17 22:55] faresj commented on #41584
Please note: i tried with an even simpler example where i only had a single soft inter-pod affinity

[code]

and i confirm the behavior is the same.....when scaling up K8s ignore the soft affinity and prefer to spread out the pods across several node, instead of favoring the 1 node that already have a pod with label  "pod_label_xyz=value-a      .... even though there are ample resources still avai

[2017-02-17 22:58] calebamiles commented on #41638
Could someone from @kubernetes/sig-node-bugs please take a look? Thanks!

**cc: @kubernetes/sig-storage-bugs**

[2017-02-17 22:59] krmayankk commented on #22179
@pmorie  can you reassign this issue to me ?

[2017-02-17 23:01] MrHohn commented on #39489
Though instead of saying "k8s restarted a pod caused its failure", I will guess "its failure caused k8s restarted it".

[2017-02-17 23:02] calebamiles commented on #41591
Could someone from @kubernetes/test-infra-maintainers please take a look? Thanks!

[2017-02-17 23:03] calebamiles commented on #41568
Could someone from @kubernetes/sig-apps-feature-requests please help with this feature request? Thanks!

[2017-02-17 23:06] yujuhong commented on #41620
The most tested docker version on GCE with v1.6.0-alpha is 1.11.2. There are also less-extensive testing with docker 1.10.3 and 1.12.6. If you are using other cloud provider/vendor, the answer may change.

[2017-02-17 23:08] crockpotveggies commented on #39489
I think your description of the failure is accurate. In that specific case, it is making a request to Amazon S3 to access a serialized model. So that would be an external DNS name.

Another example that operates in an entirely different environment is a backup service for MongoDB. Note that our particular MongoDB instance is set up outside of k8s, though is still running within Google Cloud. The b

[2017-02-17 23:18] crockpotveggies commented on #39489
I should add that although these particular examples focus on failure of Amazon API resolution, our other containers do not rely on contacting Amazon to successfully run. We see similar issues. I've recently cleaned up a lot of our containers but will provide more examples as they happen. Usually we can see failure within a couple days.

[2017-02-17 23:19] yujuhong opened #41668 "e2e flake: Cluster level logging using GCL should check that logs from containers are ingested in GCL"
The test has been [extremely flaky in the past few days](https://k8s-testgrid.appspot.com/sq-blocking#gci-gce&width=20&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Cluster%5C%20level%5C%20logging%5C%20using%5C%20GCL%5C%20should%5C%20check%5C%20that%5C%20logs%5C%20from%5C%20containers%5C%20are%5C%20ingested%5C%20in%5C%20GCL).

Some failures:
https://k8s-gubernator.appspot.com/

[2017-02-17 23:20] smarterclayton commented on #41605
I know a lot of the original petset examples used the annotation, so I
expect a fair amount of cargo culting.

On Fri, Feb 17, 2017 at 1:30 PM, Dhilip <notifications@github.com> wrote:

[2017-02-17 23:29] Crassirostris commented on #41668
Thanks!

Closing as duplicate of https://github.com/kubernetes/kubernetes/issues/41647

[2017-02-17 23:29] #41668 closed

[2017-02-17 23:29] yujuhong commented on #41504
Thanks to @Random-Liu for fixing up the FakeDockerClient in #41524, but the current code is still quite fragile. Copying my own comment from https://github.com/kubernetes/kubernetes/pull/41524#issuecomment-280790000 below:
"we can't mock out the OS interface in dockershim anymore (given that it should not be part of kubelet). This means that hollow nodes will still create directories, checkpoints,

[2017-02-17 23:30] yujuhong commented on #41647
It'd be nice to have the name of the failing tests in the issue to avoid duplicates :-)

[2017-02-17 23:31] Crassirostris commented on #41647
@yujuhong Absolutely, sorry! Thanks a lot for pointing that out :)

[2017-02-17 23:31] yangl900 opened #41671 "azure_routes: the plugin should back off properly on 429 and other failures"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Azure route

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPO

[2017-02-17 23:42] marun opened #41673 "[Federation] Member cluster config should be stored in federation control plane"
Configuration for member clusters that require secure access is currently stored in secrets in the cluster hosting the federation control plane.  According to the following comment, this was originally necessary because the federation control plane didn't support secrets:

https://github.com/kubernetes/kubernetes/blob/master/federation/apis/federation/v1beta1/types.go#L43

Now that secrets are sup

[2017-02-17 23:44] Crassirostris commented on #41469
@keith4743 Aha, so the problem is not with ES, but with the networking

Have you tries accessing the pod directly? Does it work? Does accessing `10.244.4.78:9200` directly from inside the cluster works? Does accessing `localhost:9200` from inside the container works?

[2017-02-18 00:05] DreadPirateShawn opened #41675 "scheduler started too many pods then immediately killed one"
**Kubernetes version:**
[code]

**Environment**:
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu precise (12.04.4 LTS)
- **Kernel** (e.g. `uname -a`): Linux tuk6r1kmaster1 3.13.0-55-generic #92~precise1-Ubuntu SMP Sun Jun 14 18:32:23 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: N/A
- **Others**: N/A

**What happened**:

We saw

[2017-02-18 00:29] msau42 commented on #41559
@jsafrane is this needed for 1.6 GA?  I am in the process of setting up a dev GKE environment for myself, but it is very slow and may take beyond code freeze.  If it's urgent, I can try to find a teammate's cluster to use.

[2017-02-18 00:37] ronaldpetty commented on #34345
I am using 1.6.0-alpha and ctrl-d seems to work.  Since I am new, how can I help close this one?  Adding a test to exercise?

[code]

[2017-02-18 01:17] erictune opened #41677 "Need pattern for updating controllers that works with extensions (TPR/Aggregated)"
Users may also write their own controllers as extensions  -- Aggregated API Servers  (AASes) or Third Party Resources (TPRs).

Controllers (core or extensions) may contain pod templates.
Those podTemplates need to be updateable, and that should cause a rollout of the new desired state.

We already support rollouts for deployments by creating a new replicaSet each time we see an update to the contr

[2017-02-18 01:18] erictune commented on #41677
@bgrant0607 this is about whether podTemplates play well with API extensions.

[2017-02-18 01:19] nicksardo opened #41678 "[Proposal] Describe ports of a service with tls"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Small Feature Request

**What you expected to happen**:
A frequent user request is the ability to encrypt the backend communication for L7 load balancing. We cannot provide this currently because a service port is only described by its protocol, and any given ingress controller cannot make an accurate determination of using HTTPS.

**Featu

[2017-02-18 01:27] rothgar commented on #36575
@everett-toews The doc doesn't explicitly say which overlay it uses. I think in an ideal world the user wouldn't have to care but obviously that's not always the case.

I would agree there probably should be a note somewhere on the page that the default is weave just to let people know a little bit about what they're deploying

[2017-02-18 01:35] hollowimage opened #41679 "Feature Request: switch k8s nodes/master to autosize EBS using new elastic volumes on AWS"
**FEATURE REQUEST**:

AWS announced today:
https://aws.amazon.com/blogs/aws/amazon-ebs-update-new-elastic-volumes-change-everything/

It would be a great boon if the root volumes on AWS instances in k8s would scale up the used storage when nodes reach a certain usage volume. I think default rootvol size is 20GB? at 18GB, scale up +20GB and send alerts, etc.

**Anything else we need to know**:
Ther

[2017-02-18 02:22] miracle2k opened #41681 "1.5.2 on GKE breaks multiple LoadBalancers, because iptables processes host ports before service ports"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.4.8 and 1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: Google Container Engine

**What happened**:

My cluster has three services of type=LoadBalancer; all of them respond on the same port. One of them is the official nginx ingress controller. So I have

[2017-02-18 02:28] madhusudancs commented on #41673
One of the reasons why we are still not in a position to do this is because creating a secret in a federation control plane copies those secrets to all the underlying clusters. This is unnecessary and also potentially dangerous. We should be able to do this when we get cluster selection support or some form of support to not propagate secrets to the underlying clusters.

[2017-02-18 03:05] shiywang commented on #41286
@calebamiles thanks for you suggestion, but I still think directly add the release date in `CHANGELOG.md` would be clear at a glance for users, check out those popular projects in github: [angular](https://github.com/angular/angular/blob/master/CHANGELOG.md), [docker](https://github.com/docker/docker/blob/master/CHANGELOG.md), [react](https://github.com/facebook/react/blob/master/CHANGELOG.md)...

[2017-02-18 03:22] alex88 commented on #35149
Why closed? It's still an issue here, even after deleting the cronjob I get the same issue

[2017-02-18 03:26] liggitt commented on #35149
What client and server version do you have, what does your yaml file look like, and what is the output of the command. If possible, can you also include verbose output (--v=8), but redact any authorization headers

[2017-02-18 03:28] alex88 commented on #35149
@liggitt just found out that it wasn't enough to delete the job in the jobs section of kubectl admin, I've deleted the cronjob via kubectl and it worked, you still need the other info?

[2017-02-18 03:35] liggitt commented on #35149
depends on what version of kubectl you had and what error you were seeing. just want to make sure the issue is actually resolved.

[2017-02-18 03:39] thockin commented on #41559
We really need this for 1.6, I think

On Feb 17, 2017 4:30 PM, "Michelle Au" <notifications@github.com> wrote:

[2017-02-18 03:43] crockpotveggies commented on #39489
Okay, we just experienced deployment-wide pod failure and I can demonstrate the "no logging" scenario. Below, you can see that all pods across a deployment were suddenly restarted:

![screen shot 2017-02-17 at 7 41 27 pm](https://cloud.githubusercontent.com/assets/1445295/23090052/355d6c66-f549-11e6-89c4-b9084ca972ec.png)

Every single one of these containers displays the same message:

![screen s

[2017-02-18 05:48] bgrant0607 commented on #41629
ref #24343

[2017-02-18 06:11] alex88 commented on #35149
@liggitt ok so

[code]

the cronjob configuration is

[code]

due an image error I got tons of errors since kube was continuously trying to start the containers. I went into the jobs page and deleted the cronjob job, then to restart it I've tried to run apply again and I got

[code]

[2017-02-18 06:14] liggitt commented on #35149
I see. the issue is fixed in master, which will be in the 1.6 release.

[2017-02-18 06:19] alex88 commented on #35149
Gotcha, thank you @liggitt

[2017-02-18 06:44] keith4743 commented on #41469
@Crassirostris the `endpoint` can be accessed.
[code]
[code]
which part is in trouble, what log should I check?

[2017-02-18 06:48] thockin commented on #41678
NIck,

A few thoughts.

1) We could alternatively implement this in Ingress, since TLS is sort of an L7 thing.  But not REALLY.  I was going to argue hard that it should be in Ingress.  I even started to write it up, but the more I think on it, the more I think this could be better.  It's just "decoration" but it is informative.

2) While I would demand alpha for a lot of changes, if this is just

[2017-02-18 07:01] bobobo1618 opened #41686 "Inability to detect disk space leads to kubelet failing entirely, cadvisor tries things that need root"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):  Disk space, cadvisor

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2017-02-18 07:38] thockin commented on #41677
I agree (2) is correct.  After our chat, I realized I was mixing up
code-gens in my mind. For defaulting I thought the code generator does
something like:

For each top-level API type:
  If the type has a defaulter function, use that
  else
    For each field
      if the field's type has a defaulter function, call it

But that doesn't seem to be quite right.  it's more like:

For each top-level A

[2017-02-18 11:01] shiywang opened #41690 "`kubectl apply ` output in inconsistency"
assume I have a rc.yaml
[code]
when I run `apply` first time to create this resource, like `kubectl apply -f rc.yaml -o yaml`
the output I got is the resource same as live object, with annotations.
[code]

but if I change the rc.yaml like change the label  `name: foo`  to `name: bar`  then run
`kubectl apply -f rc.yaml -o yaml`
the output I got is still  `name: foo` in annotations.
[code]
should t

[2017-02-18 11:27] wanghaoran1988 commented on #35414
If the layers information are not exits on the apiserver, maybe we can get the size using the registry api
1. Get the manifests of the image, the manifests contains the layers sha ID.
  ` GET /v2/<name>/manifests/<reference>`
2. Get the layer size using
`HEAD /v2/<name>/manifests/<reference>`
This will return the blob size in the header.

[2017-02-18 11:42] sttts commented on #41629
Like @deads2k I have serious doubts that late integration via on-demand vendoring is helping us. This has caused so much pain in the OpenShift rebases that everybody involved there will have a bad vibe with the idea to do the same upstream.

@thockin I would like to understand what you say about the staging dir: "a weird in-between thing that is utterly incomprehensible".

I understand that we had

[2017-02-18 12:00] sttts commented on #41629
Following @thockin list of repos, I propose to implement some of them as further staging directories (to start with something before the tooling issue is solved):
1. create a stable `k8s.io/lib` or `k8s.io/foundation` in staging
   - move relevant `pkg/utils` from apimachinery, client-go and kube there.
   - @thockin volunteered as a gate keeper 👍
2. move all types into `k8s.io/api` in staging

[2017-02-18 12:22] bedeabza opened #41691 "fluentd-elasticsearch addon - can not build fluentd-es image"
**Kubernetes version** (use `kubectl version`): Any

**Environment**:
- **Cloud provider or hardware configuration**: Macbook Pro
- **OS** (e.g. from /etc/os-release): OS X 10.12.3
- **Kernel** (e.g. `uname -a`): Darwin 16.4.0
- **Install tools**:
- **Others**: Docker 1.13.0

**What happened**:

I am trying to build the [fluentd-es](https://github.com/kubernetes/kubernetes/tree/master/cluster/addo

[2017-02-18 13:41] k82cn commented on #41584
@faresj , here should be what happened for your case:

RC	 | pod label | Pods
-----|-----------|--------
RC-a |	pod_label_xyz=value-a | 1 pod on Node1
RC-b |	pod_label_xyz=value-b | 1 pod on Node2
RC-c |	pod_label_xyz=value-c | 1 pod on Node3

Because of anti-affinity:`pod_label_xyz exists`, `Node1`, `Node2` and `Node3` are not included in priority phase (soft) for the new Pod: each of those nodes

[2017-02-18 14:15] liggitt commented on #41690
What version of kubectl do you have? Is the label actually changed?

[2017-02-18 14:27] liggitt commented on #41529
If you completely disable the secure port (by setting it to 0), it *may* bind the insecure port to the service (I'm not sure), but I wouldn't recommend operating that way. That doesn't resemble any normal deployment, and it's likely there are things that assume the kubernetes service is TLS

[2017-02-18 14:27] #41529 closed

[2017-02-18 14:33] liggitt commented on #41635
Those two endpoints specifically are used as shared lock objects by controllers. Agree that's a bad object to use because so many things watch them for updating iptables, etc

[2017-02-18 15:05] a-wakeel opened #41692 "kubelet service/kubernetes appropriate selinux labels"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
 **No**, not particularly related to troubleshooting

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
yeah i searched for **selinux:issue

[2017-02-18 15:11] a-wakeel commented on #41692
There should be a selinux module for kubernetes inorder to get proper labels on kublet service and kubernetes contexts(binaries and files etc) to make it work in selinux restricted environment.  I could not found any of this on my centos machine after installing and configuring kubernetes.

[2017-02-18 15:26] shiywang commented on #41690
@liggitt I use the latest master version, the label not changed, I think the reason is because first time using apply to create a resource, it invoke [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/apply.go#L264):  `info.Refresh(obj, true)`, then `PrintResourceInfoForCommand`, but if we apply to a resource already exist, it doesn't invoke `info.Refresh(obj, true)`, but

[2017-02-18 15:28] liggitt commented on #41635
code in question:
https://github.com/kubernetes/kubernetes/blob/master/plugin/cmd/kube-scheduler/app/server.go#L89-L111

[2017-02-18 15:30] liggitt commented on #41635
dupe of https://github.com/kubernetes/kubernetes/issues/34627

[2017-02-18 15:30] #41635 closed

[2017-02-18 15:30] liggitt commented on #34627
Or stop using endpoints as a shared lock object

[2017-02-18 15:32] liggitt commented on #41633
can you include labels in the cronjob's jobTemplate spec?

[2017-02-18 15:34] liggitt commented on #41619
Correct, those two files have different formats, unfortunately. You cannot use the content of one with the other type.

[2017-02-18 15:34] #41619 closed

[2017-02-18 15:39] timothysc commented on #34627
We already have all the filters in place on the proxy side, but the source still broadcasts.

There is code written to easily shift away when we have a different mechanism.

My longstanding opinion is that we should have a simpler version of component registration and do proper leader election using that resource.  Straight up locking has issues.

[2017-02-18 15:44] liggitt commented on #34627
Sure, I don't have a strong opinion on locking vs leader election. Just that it not hammer the endpoints resource for either.

[2017-02-18 16:02] kevin-wangzefeng commented on #41584
@faresj , sorry, I just found that I made a mistake in my prior reply

the hard anti-affinity rule you gave actually results in don't schedule a pod anywhere runs pods have label "pod_label_xyz!=value-a". And equally, it means the pod can be scheduled to nodes with pods have label "pod_label_xyz=value-a" or pods don't have label key "pod_label_xyz".

Besides, one more thing I'd like to mention is

[2017-02-18 18:59] redbaron commented on #34583
@dforste , is right. Another use case is that if pod consumes >1 PVC, associated PVs might be created in different zones, therefore pod becomes unschedulable, as there is no node which belongs >1 AZ. Zone decision when provisioning PV must be made as late as possible, while currently it seems to be a very first thing to do.

[2017-02-18 19:16] bedeabza commented on #41691
I have temporarily solved this by configuring td-agent-gem to download over unsecured HTTP changing the :sources key in the gemfile. However, this is far from an ideal solution.

[2017-02-18 20:33] janetkuo opened #41697 "ReplicaSet controller failed to update its status after scaling down"
**Kubernetes version** (use `kubectl version`): 1.5.2

**What happened**:

100% reproducible on the cluster.

[code]

**My theory about the cause:**

1. When `kubectl delete` a deployment, kubectl scales down its replicaset.
2. (root cause) There's some bug in the replicaset controller, and replicaset controller failed to update status.availableReplicas after scaling down replicas
3. Deployment co

[2017-02-18 20:44] kargakis commented on #41697
4 is fixed in master, not sure if it was cherry picked in 1.5 - will check tomorrow. The replica set controller updates its status based on what's in the pod cache.

[2017-02-18 21:03] kargakis commented on #41641
Can you also post the output of

kubectl get deployment tviftttapp -o yaml
kubectl get rs (dangling rs) -o yaml

When this manifests again?

[2017-02-18 21:07] deads2k commented on #41629
@smarterclayton had originally convinced me that we should make copies of API objects to make it more reasonable to get generate clients with old API guarantees against new objects, but if we get https://github.com/kubernetes/kubernetes/pull/41486, we should be able to regenerate clients whenever we need to.

I'm ok with splitting the API objects into a separate staging dir and eliminating the onl

[2017-02-18 21:40] davidopp commented on #41600
I think it's worth keeping both issues open; this one is specific to scheduler, even if it uses an appoach decided in #1627.

[2017-02-18 22:30] davidopp commented on #41678
Regarding (4) I am not sure we ever resolved #34508. If we did, someone really should write it up as a design doc.

[2017-02-18 22:41] Random-Liu commented on #41488
Reopen this since #41524 broke the kubemark 500 test and has been reverted.

Copy my comment from the revert PR:

---------

This broke kubemark-500.

The failure is reason is 1 containers failed which is more than allowed 0.

However:

There is no information about which container failed.
There is no log for the hollow nodes.
This can not be reproduced in my 10 node kubemark cluster, the 100 node

[2017-02-18 23:53] bsalamat commented on #41600
@kubernetes/sig-api-machinery-misc @kubernetes/sig-scheduling-feature-requests

[2017-02-19 00:47] thockin commented on #41629
@sttts

Note that I am exclusively talking about things that are really distinct libraries - NOT about core components of the system.  Vendoring today kind of sucks, but it is getting better and it is a well-understood and totally unsurprising form of suck.  I'd like a little less magic in our tree...

@sttts

* Nobody who knows anything about go knows WTF is going on
* I don't know how to regen o

[2017-02-19 01:02] smarterclayton commented on #41629
I'm having trouble processing your concerns, mostly because I haven't seen any of the problems you've brought up yet directly.

Regen or refresh: run make like normal
Which files to edit: there's only one file to edit
Build system problems: which ones in particular?  Maybe I missed some recently, but everything was ticking over normally last week.
* confuses and confounds: this is somewhat hyperbo

[2017-02-19 01:16] bujardeari commented on #34395
i dont have a folder .kube at my userprofile folder? You have an idea what to do?

[2017-02-19 01:30] thockin commented on #41629
On Sat, Feb 18, 2017 at 5:02 PM, Clayton Coleman
<notifications@github.com> wrote:

Are you saying there are no dup files anywhere any more?

Several times I have experience weirdness like a bulk search/replace
that fails until I revert staging/...

Well, for example, any `make` that takes a WHAT arg was broken by
changes related to staging.  No fix yet, and I am not sure it's
fixable.  It's relat

[2017-02-19 01:34] #22041 closed

[2017-02-19 01:34] #20614 closed

[2017-02-19 01:34] #21766 closed

[2017-02-19 01:35] #20618 closed

[2017-02-19 01:36] #25323 closed

[2017-02-19 01:52] smarterclayton commented on #41629
All the dup files are slimmed down dependencies caused by stuff checked in.  All those packages should have comments saying "this has been deprecated and shouldn't be changed because we were dumb and allowed circular dependencies".  They also should have been marked readonly which last I checked was gated by verify checks.

Ok, had not seen anything like that.  The last bit that @sttts was talking

[2017-02-19 02:32] liggitt commented on #41690
I see what you're saying. Yes, I would expect the output to reflect the latest result from the server of applying the patch.

[2017-02-19 02:33] liggitt commented on #41690
fixed in #41699

[2017-02-19 02:40] #40639 closed

[2017-02-19 02:40] #17731 closed

[2017-02-19 02:45] timothysc commented on #31709
This report is on such an old version now... have you seen this on 1.5 or 1.6-alpha versions?

[2017-02-19 03:11] thockin commented on #41629
Mobile now.

Your explanations make some sense, but it still feels very weird and
backwards.

Maybe but I don't think we should pretend it isn't real.  If we could get
the Go team to at least commit to not breaking in the face of symlink, I
would feel better.

None of this addresses the limitations of GitHub.  I still can't filter
well.  Our bots are very custom and not always obvious, and they do

[2017-02-19 03:40] davidopp commented on #41394
Straw man possible solution:

Add two new fields to DeploymentSpec’s rolling update spec:
* topology key
* rolling group axis (straw man values: “x” or “y” -- “x” means take down “maxUnavailable” spread across nodes with the same value of the topology key, while “y” means take down “maxUnavailable” all with the same value of the topology key)

[2017-02-19 03:53] davidopp commented on #41442
I'm not sure a doc is necessarily better than an issue, but I've created a doc [here](https://docs.google.com/a/google.com/document/d/1nZ6Vnjpn9WtwReqGImEOKQ4oF1WoRWeBGiIZ5q-WgsI/edit?usp=sharing) and shared it with kubernetes-dev. The doc is an extraction of the ideas in this thread into a background/problem statement section and a use cases/proposal section.

[2017-02-19 06:09] justinsb commented on #41153
@kow3ns yes - that's how we/I found the issue!  #40910 will be fixed real-soon-now though - that's just a silly bug.

[2017-02-19 06:15] liggitt commented on #41690
to be clear, when you say "the label not changed", you mean in the output of the `apply` command, right? if you do another `kubectl get` to see the server's version, the label was correctly changed, right?

[2017-02-19 06:16] shiywang commented on #41690
@liggitt yes

[2017-02-19 06:31] justinsb commented on #41598
I agree we should replace the heuristics with the scheduler.  That is why the heuristics are quite so fragile - we didn't want to paint the scheduler into a corner.  We discussed adding additional metadata to the PVC, but the fear was that it would interact badly with the long term plan.

However, I think we're technically going to resolve this issue when I clean up #40910:

1. remains the same wh

[2017-02-19 06:41] davidopp commented on #1957
CoreOS benchmarked etcd, Consul, and ZK. (I was not involved, just saw an announcement and thought folks here might be interested.)

https://coreos.com/blog/performance-of-etcd.html

[2017-02-19 07:33] deitch commented on #40651
@smarterclayton I am closing this in favour of that merged PR https://github.com/kubernetes/community/pull/147

[2017-02-19 08:25] k82cn commented on #40358
@davidopp , @mwielgus , @bsalamat, I draft an design doc [here](https://docs.google.com/document/d/1vjek2VrsuU6Dr6N52jkGlmzHOX4DiGXj9MGwdeeNsEA/edit?usp=sharing) , would you help to review it? I'm going to create PRs for it. And there's two points I'd like to highlight:

1. When checking anti-affinity, "max number of replicas" will be pod level, e.g. if two has 3 anti-affinity matched, scheduler w

[2017-02-19 08:37] davidopp commented on #40358
I didn't read the doc yet, but we should consider a couple of additional things beyond what this issue originally proposed, namely:
* add a number to pod affinity that means "minimum of N per topology value", similar to this proposal of adding a number to pod anti-affinity that means "maximum of N per topology value"
* preference versions of both (with associated weights, as with preference today)

[2017-02-19 08:40] k82cn commented on #41584
@kevin-wangzefeng , I think the hard anti-affntiy "pod_label_xyz exists" make scheduler can not dispatch new Pod of RC-a to Node1, similar to Node2 & Node3. So the new pod was dispatched to Node4 & Node5.

[2017-02-19 08:58] #20208 closed

[2017-02-19 09:55] k82cn commented on #40358
Sure; in this issue, we only address original requirements.

To me, `N>1` seems not necessary for preference; any issue for that? But I think there maybe the requirements on increasing the number of bucket (10 for now), e.g. if there're 10k hosts in the cluster, there'll ~1k hosts for each bucket.

[2017-02-19 10:07] deitch opened #41711 "Load configmap from file dynamically using configmap resource yml"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubectl configmap from-file

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Feature Request (I think)

If this is a FEATURE REQUEST, please:
  - Describe *in detail* the feature/behavior/change you'd like to see.

Make it possible (if

[2017-02-19 10:07] davidopp opened #41712 "MostRequestedPriority should prefer to not pack nodes to 100%"
This was suggested by @matchstick a couple of weeks ago and it makes a lot of sense.

Our "best-fit" scheduling algorithm (["MostRequestedPrioity"](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/most_requested.go)) is pure best-fit, which ties to pack nodes to 100% in all resource dimensions. But this is actually too aggressive because (1) it's never

[2017-02-19 10:08] Random-Liu opened #41713 "kubemark is still failing."
The PR https://github.com/kubernetes/kubernetes/pull/41703 fixed hollow npd. Now hollow npd can work properly. However, I found that npd can't update node condition, and keep reporting error:
[code]
The reason is that hollow kubelet never registers the node.

I checked the hollow kubelet. Most of them are empty, but in some of them I saw tons of the following log:
[code]

BTW, we really need hollo

[2017-02-19 10:50] sttts commented on #41629
k8s.io/client-go/pkg/api*`. Everything else can be edited (now, not 3
months ago when client-go was a 90% copy). That's why I propose k8s.io/api
to get this out of the way finally. No more "what can I edit and how can I
sync".

k8s.io/api even staging/copy.sh would go away). We could put the code
directly into the vendor dir. In the worst case, your vendoring tool of
choice will fall over it. If t

[2017-02-19 10:55] davidopp commented on #40491
The PR that moves taints from annotations to fields is #38957 and is just waiting for @aveshagarwal to rebase and then a review and merge. Will be merged this upcoming week assuming nothing unexpected.

[2017-02-19 11:00] Random-Liu commented on #41713
I think the reason is that each npd will also create an `inotify` instance now.

On the node, the inotify instance limit is:
[code]
Previously, we have **500 hollow nodes, 6 real nodes**. It means that on each node there are **83-84 inotify instances** held by hollow kubelet.

However, now each hollow npd will also hold an inotify instance. Then we have **166-168 inotify instances** on each node,

[2017-02-19 11:21] Random-Liu commented on #41713
@foxish I'm fine with reverting the PR https://github.com/kubernetes/kubernetes/pull/41703 and https://github.com/kubernetes/kubernetes/pull/40206 to unblock the queue.

Will send a fix for the new issue...https://github.com/kubernetes/kubernetes/issues/41713#issuecomment-280911500

[2017-02-19 11:24] foxish commented on #41713
The kubemark test was passing briefly I think, after the earlier fix. And it seems like something merged 2 hours ago. Could one of those be related?

[2017-02-19 11:32] Random-Liu commented on #41713
@foxish Nope. There are 2 issues here. The first one got resolved by my PR #41703, however this one could not be resolved very soon.

If I go with option 3, I'll need to update NPD and cut a new release.

The option 1, 2 need the opinion from Warsaw team.

Warsaw team doesn't have president day. If we could wait till their Monday morning (our Sunday night), they may have better opinion about this.

[2017-02-19 11:34] deitch commented on #19764
Does it? I could not figure out how. If I have an app that expects a config file in `/app.conf` or `/app/conf/app.conf`, what syntax do I use to mount the configmap as the single file `app.conf` without mounting over the entire `/` or `/app/conf/`?

[2017-02-19 11:43] deitch commented on #19764
Well, it looks like I figured it out here https://github.com/dshulyak/kubernetes.github.io/commit/d58ba7b075bb4848349a2c920caaa08ff3773d70

but that was a lot harder to find than it should have been.

[2017-02-19 11:43] foxish commented on #41713
Revert makes sense I think. We can deal with the larger problem later on during the week I imagine, since it's not a decision that seems obvious. I created https://github.com/kubernetes/kubernetes/pull/41715 reverting https://github.com/kubernetes/kubernetes/pull/41703

Looks like https://github.com/kubernetes/kubernetes/pull/40206 needs manually creating the revert PR. Can you do that when you fi

[2017-02-19 12:23] Random-Liu commented on #41713
Discussed with @foxish. We decided to revert #41703 and partially revert #40206 to only revert changes in `test/kubemark`. Because new npd is actually working well in the real cluster. The only problem is this issue.

Only revert kubemark related change can unblock the submit queue, and will also give npd more soak time.

[2017-02-19 16:06] shiywang opened #41719 "kubectl logs support for multiple types"
since this https://github.com/kubernetes/kubernetes/pull/21335 got merged, I think we should make `kubectl logs` support for multiple types now.
the only question I have is previously `logs` support `containerName` if we not using explicit specify, like this:
`kubectl logs podname containerName`  (there is no `-c` option here)
but if we support multiple types, do we want support all of those two s

[2017-02-19 16:15] smarterclayton commented on #41629
Yeah, not arguing against resolving.  Just trying to emphasize that we have a little meta-island of stability that I think is net better than the split repos right now.  I'm ok with not being super aggressive on new repos in staging (in fact I'd agree that we should have just a few), but I think it's an ok point to be for right now that is a halfway point.  And I haven't seen the tools blow up, I'

[2017-02-19 16:20] faresj commented on #41584
@k82cn & @kevin-wangzefeng thank you for the replies.

@k82cn, Regarding
[code]

What i am seeing is that when i increase replicas to 2 in RC-a, a new pod is indeed scheduled on Node1, but when i increase it to 3, 4, 5...etc, then it goes to Node4 then Node5 and then Node1 again,

I also confirm that in all my testing i delete the entire RC and all pods before proceeded.
I also confirm that
- I ha

[2017-02-19 19:15] icambridge commented on #22680
So is this being worked on? If not I would like to help. It looks like a nice easy task to get into kubernetes development, but I am not actually sure what solution has been chosen. Is it going to be set it dynamically by the number of nodes or is it going to be done in the set up scripts?

[2017-02-19 19:52] andrewrynhard opened #41723 "Latest alpha fails to run flannel plugin on master node"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
Occurs on bare metal and AWS.
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
`Linux k8s-master 3.10.0-514.6.1.el7.x86_64 #1 SMP Wed Jan 18 13:06:36 UTC 2017 x86_64 x86_64 x86_64

[2017-02-19 19:58] pradeeppandeyy commented on #30048
kubelet is not starting pod for manifest , Kindly provide configuration for the same. I am using below service  file with kubernetes version-1.4.7

**[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet   --allow-privileged=true   --api-servers=https://10.25.0.20:6443

[2017-02-19 20:01] luxas commented on #41723
What do `kubelet --version` output? I expect that it has to be at least alpha.3 for things to work...

[2017-02-19 20:15] pradeeppandeyy opened #41724 "kubelet is not starting pod form manifest."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-02-19 20:21] andrewrynhard commented on #41723
@luxas updated the notes.

[2017-02-19 20:24] luxas commented on #41723
cc @kubernetes/sig-node-bugs

[2017-02-19 20:31] irfanurrehman opened #41725 "[Federation] Better usability for kubefed"
**kubefed** tool, which is used to deploy a federation control plane:

1 - Does not do a very good job of giving status information to the end user. If the operations take long time it appears to be hung (especially kubefed init).
2 - There is a possibility that the deployed pods of the federation control plane, do not come up successfully, in such a scenario the kubefed init will wait indefinitel

[2017-02-19 20:44] andrewrynhard commented on #41723
Looking into this more, I noticed that `/etcd/cni/net.d/10-flannel.conf` IS created on worker nodes but NOT on the master node in `v1.6.0-alpha.3`. I have another cluster up with `v1.6.0-alpha.1.744+a6952bc9e5836c` components and `/etcd/cni/net.d/10-flannel.conf` IS created on the master node.

[2017-02-19 20:55] andrewrynhard commented on #41723
@luxas Flannel should be running on the master nodes correct? Before `1.6.3-alpha.3` flannel was running on the master.

[2017-02-19 21:40] kow3ns commented on #41598
@justinsb
1. At a minimum we need to be clear with users about current status of dynamic volume provisioning on AWS or GCP (even with #40910). The tldr is that we really don't have a way to achieve zonal collocation or controlled spreading for stateful applications that use dynamically provisioned storage on these providers, at this time. I think we would have to document the following to clearly

[2017-02-19 21:50] #39372 closed

[2017-02-19 22:03] davidopp opened #41726 "--register-with-taints needs to change to using field instead of annotations in 1.6"
In 1.6 taints will be represented as a field of NodeSpec, rather than as an annotation on Node.
The Kubelet --register-with-taints feature needs to change accordingly.
We are NOT providing backward compatibility, as taints were an alpha feature. (Starting in 1.6 they are beta.) The taint annotation will be ignored by the scheduler when the cluster is upgraded to 1.6.

Someone from the Node team/SI

[2017-02-19 22:10] InAnimaTe commented on #24145
Any updates on this? Has it been merged to docs or discrete bugs?

Additionally, unless I'm reading this wrong, it seems SNI Passthrough (L4 in Ingress) is at least somewhat [done](https://github.com/kubernetes/contrib/issues/1854#issuecomment-256623830).

[2017-02-19 22:12] davidopp commented on #41726
PR that replaces annotations with fields is #38957 (it's waiting for rebase and final review)

[2017-02-19 22:18] justinsb commented on #41598
Totally agree on both points.  For the docs I think in general we should describe it as best-effort spreading rather than a guarantee anyway, because we _also_ use heuristics to find the set of zones.  (And yes, we had a edge-case here also  - #41702 ).  If you want to take your bullet points and put them into a google doc or PR for the docs I can review/comment and/or iterate on them if that woul

[2017-02-19 22:33] gyliu513 opened #41727 "Make `docker-email` optional when create registry secret"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-02-20 00:13] #41719 closed

[2017-02-20 01:29] k82cn commented on #41584
Interesting, let me try your profile to see what happened :).

[2017-02-20 03:51] jf647 commented on #40180
I'm having this problem too, with more details in the kubernetes-users group:

https://groups.google.com/forum/#!topic/kubernetes-users/SaGclOJxdQk

The problem is DNS resolution: when `/home/kubernetes/bin/mounter` uses rkt to start the mounter container, it has no DNS resolution set up.

If your glusterfs endpoints are referenced by IP *and* your volumes were set up with the bricks referenced by

[2017-02-20 05:06] yujuhong commented on #41723
Could be related to #41172, which instructs daemonset controller to respect taints.

[2017-02-20 05:56] chen-anders commented on #24657
This would work for our use case (as local node names don't resolve in our local VM though they do in our AWS cluster). While it seems pretty trivial to add an additional value to pkg/api/validation/validation.go, I'm not exactly sure where the corresponding tests should be aside from an additional validator around here: https://github.com/kubernetes/kubernetes/blob/313ef63993017597bd28f5efd236778

[2017-02-20 06:04] gmarek commented on #41713
Thanks for unblocking the queue!

[2017-02-20 06:19] simt2 commented on #40180
I just want to note that this is the case for NFS on GKE too, it works when I mount the volume via my fileservers IP.

[2017-02-20 06:24] simt2 commented on #33447
The initial problem with NFS on GKE GCI images described in this issue is fixed for me now. As mentioned a few posts above, it currently fails with ` Temporary failure in name resolution`. This is actually a Problem with rkt and name resolution on GKE, described for GlusterFS in @ #40180 and affects NFS also. Mounting volumes via my fileservers IP instead of internal GKE hostname works fine - also

[2017-02-20 07:11] irfanurrehman commented on #41725
cc @madhusudancs @shashidharatd @marun
you can please add any other usability issue that, you think I have missed here.

[2017-02-20 07:13] voyalab commented on #9558
+1 @justinsb I faced the similar issue. If load balancer is creating another cluster. then how to update my API server endpoint ?

[2017-02-20 07:20] wojtek-t commented on #41713
Thanks - I think it was a good decision.

I definitely think that option 3 is the worst one - I think we want all component to behave as similar to to prod environment as possible.

Between 1 and 2, I think (2) is better, though I'm not sure how big changes this would be. If this is relatively big change, then (1) might be easier to do.

@gmarek @shyamjvs

[2017-02-20 07:29] anguslees commented on #21397
Re @bprashanth's comment above: I was expecting to see at least one outraged comment above about how the Internet, Kubernetes, and DNS entries are *not* just for HTTP(S) and so DNS is *not* something that should be configured (only) in Ingress annotations, and something about the music choices of this younger generation.

Did I miss something?  Oh look, now there is such a comment :stuck_out_tongu

[2017-02-20 07:38] deitch commented on #21397
@jsravn my thinking actually has come around almost a complete 180. I no longer do automatic ELB (or anything else), unless I am doing non-http/https services.

I now have everything defined by Ingress, and use a Traefik or nginx ingress controller cluster-wide. I front it with a single ELB/ALB set to forward all subdomains of `*.somesub.mydomain.com` to the ingress controller's port(s). Since it

[2017-02-20 07:39] deitch commented on #21397
LOL! I cannot complain, my kids all like classic rock in addition to more modern stuff. Warms my heart to hear my kid playing Eagles on the guitar or singing Beatles, Motown, etc.

If only I could get them to appreciate Mozart, Beethoven and Bach too....

[2017-02-20 07:43] gmarek opened #41735 "Master components are not started after kubemark-master reboot"
We currently have only anecdotal evidence, so it needs to be verified.

cc @wojtek-t @shyamjvs

[2017-02-20 07:52] Crassirostris commented on #41469
@bowei This looks like a networking problem, similar to https://github.com/kubernetes/heapster/issues/1477. Do you have any thoughts?

[2017-02-20 07:58] solsson commented on #36415
@ApsOps what do yo mean? That `sessionAffinity`=`ClientIP` can't make use of the X-Forwarded-For header? In #2867, then what do you mean with "pass the real IP to your service"? And from where is the quote above?

The reason I'm asking is that I have a service that I'm quite sure had stickyness based on `X-Forwarded-For` in k8s 1.4.x but I can no longer conclude that it works, and I can't find a r

[2017-02-20 08:20] oilbeater opened #41736 "Kubelet livenessProbe always fail in Macvlan/Ipvlan network mode"
For both Macvlan and Ipvlan network, the kubelet work in host net namespace can not visit net namespace pod due to this two network mode constrain. All network related livenessProbe (http and tcp) will fail.

Even more if the kubedns runs on apiserver node, they cannot visit each other (since apiserver run in host mode and kubedns in a separate net ns) the domain based service discovery will not w

[2017-02-20 08:31] ApsOps commented on #36415
@solsson Turns out some of the info I had given was incorrect. Sorry about that.

You can check the full discussion here - https://groups.google.com/d/topic/kubernetes-sig-network/NUH7co8NDAQ/discussion

[2017-02-20 09:19] davidopp commented on #41726
Actually never mind, I'm reviewing #38957 now and I see @aveshagarwal already took care of this.

[2017-02-20 09:19] #41726 closed

[2017-02-20 09:25] madhusudancs commented on #41725
Agreed with all the above. I think (1) is critical, (2) and (3) are important and (4) is a nice to have.

[2017-02-20 09:58] gmarek opened #41738 "DaemonSets should have infinite toleration for Unreachable/NotReady NoExecute Taints."
When writing DaemonSets we decided that they shouldn't be deleted by NodeController in case of Node problems. Now that we're moving to using taints and taint-based evictions (NC will just taint Nodes and the rest will be done by generic taint-eviction mechanism) we need to add infinite toleration for those taints to DaemonSets to keep this behavior.

cc @davidopp @kevin-wangzefeng @aveshagarwal @f

[2017-02-20 10:07] solsson commented on #36415
Based on that thread, is your conclusion like mine: only the actual remote IP of the TCP connection can be used with sessionAffinity=ClientIP?

For socket.io etc without Ingress (nginx-sticky-module-ng + bypasses services) this basically means you'd need a service that is `type`=`LoadBalancer` AND  `"service.beta.kubernetes.io/external-traffic": "OnlyLocal"` AND `sessionAffinity`=`ClientIP`, corre

[2017-02-20 10:19] shyamjvs commented on #41613
I'll look into enabling the hollow-node logs (both kubelet and proxy) for presubmit and 100-node tests then. Seems like that should suffice for now from above discussion.

[2017-02-20 10:34] pires commented on #24145
The L4 Ingress proposal was closed due to inactivity. The _somewhat done_ you mention is just a workaround for nginx controller.

[2017-02-20 10:39] wojtek-t commented on #41488
I think there are two options:
- wait until @shyamjvs will add support for grabbing logs from kubemarks
- or (probably preferred) run kubemark-500 yourself. If you don't have enough quota in your project to run it, just sent me an email - I can add you to my project or sth like that.

[2017-02-20 10:46] khatribharat commented on #23864
@bpulito How do you implement load balancing for SIP/RTP in a Kubernetes environment? I understand that K8S services / cloud load balancers would need to operate at L7 to implement session affinity for SIP/RTP. And in such a scenario - if you're not using K8S services - how do you implement service discovery and load balancing in K8S for SIP/RTP workloads.

@thockin Is it possible to write an L7 i

[2017-02-20 11:00] kargakis commented on #41697
Opened https://github.com/kubernetes/kubernetes/pull/41740

[2017-02-20 11:06] krallistic opened #41741 "Make timestamp shorting optional"
Current output (for example kubectl get events) shortenes all timespamps to a more readable format like 1d.
Sometimes it would be nice to disable these and see the full timestamp. (The current workarround is to use -o=json, and just look at the json).

- One Solution would be to introduces a flag which just disables the usage of `ShortHumanDuration`.
- Another solution would be to make the lenght

[2017-02-20 11:08] kargakis commented on #41697
Btw this doesn't seem specific to status.availableReplicas.

[2017-02-20 11:39] soltysh commented on #41655
Created https://github.com/robfig/cron/pull/88, I'll bump this in k8s when it gets merged.

[2017-02-20 11:45] jayunit100 commented on #41741
Why not a generic unix / go  time stamp formatter  option W default as days?

[2017-02-20 11:59] gowrisankar22 commented on #39224
is there any workaround or fix is available for the same issue?

[2017-02-20 12:06] shyamjvs commented on #41488
FYI, PRs https://github.com/kubernetes/kubernetes/pull/41739#issuecomment-281047059 and https://github.com/kubernetes/test-infra/pull/1942 together should enable saving of hollow-node logs for kubemark-5/100 node tests.

[2017-02-20 12:14] edevil commented on #41641
Here are the current deployment, the dangling RS, and the "good" RS.

Deployment:
[code]

Dangling RS:
[code]

Current RS:
[code]

[2017-02-20 12:23] kargakis commented on #41641
It seems that status.availableReplicas for the new replica set is never correctly updated to 2. Short term if you stop using minReadySeconds (minReadySeconds=2 doesn't offer you much anyway), this problem should stop. Long term, we should fix the status update.

cc: @janetkuo @kubernetes/sig-apps-bugs

[2017-02-20 12:28] jsafrane commented on #41559
It's necessary to remove v1alpha1 dynamic provisioning, which is scheduled to 1.6. It *can* slip, I don't thinks anyone really depends on removing it. But sooner is better as it reduces number of supported configurations.

I was able to track `cluster/kube-up.sh` up to `gcloud container clusters create`, which deploys master somewhere in GCE and this step should IMO deploy a default storage class

[2017-02-20 12:32] soltysh commented on #41194
I've look through our defaulting logic, but I'm not sure it's doable. The reason for that is that `Always` for restart policy is set at `PodSpec` level which is part of `PodTemplateSpec`. I haven't seen any reasonable options to default it to something better, atm. But I'll keep investigating :)

[2017-02-20 12:39] gmarek opened #41743 "Event 'source' field selector should be 'source.Component'"
Field selector for Events is named `source` even though it points to `source.Component`: https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/event/strategy.go#L104

I have no idea if this have any semantic consequences, but certainly is misleading and should be fixed.

cc @lavalamp @smarterclayton @kubernetes/sig-api-machinery-misc

[2017-02-20 12:41] ApsOps commented on #36415
@solsson With the recent info I got, I understand that it's not possible to look at headers currently.

The reason why my setup works (the one I specified in the blog post) is that:

Since `sessionAffinity` is enabled at both intermediary nginx and socket.io container, the connection from an ELB server comes to the same nginx pod every time, and connection from an nginx pod goes to the same socket

[2017-02-20 12:48] antoineco commented on #41194
That makes it clearer where the error comes from. Sounds like a redesign would be necessary, I'm not sure if this is worth the effort.

[2017-02-20 12:49] shiywang commented on #41741
cc @pwittrock @AdoHe

[2017-02-20 12:52] deads2k commented on #41743
Looks like that one's a couple years old: https://github.com/kubernetes/kubernetes/commit/e3c019128e5666039270b6c42bae8264b43ca925#diff-c409a8da27ded0d7e571cf2d10b0bdcbR112.  I don't think we can just change it.

[2017-02-20 13:01] soltysh commented on #41194
We'd need to default at Job level and at this point I can't be sure that `Always` there is coming from a user or from the `PodSpec` defaulting mechanism, so yeah it might be hard.

[2017-02-20 13:11] alikhajeh1 commented on #28454
Any update on this? I created https://github.com/gluster/gluster-kubernetes/issues/157 but haven't seen any updates from that issue either.

[2017-02-20 13:23] #41560 closed

[2017-02-20 13:24] wattsteve commented on #28454
@alikhajeh1 I think this needs to get added first in gluster/gluster-kubernetes and then we need to make the necessary adjustments in k8s to the gluster vol plugin and provisioner. I am going to prod the gluster-kubernetes community to get you a response on your question.

[2017-02-20 13:40] soltysh commented on #25908
@anshumanbh perfectly clear, and still that doesn't fall into the category of side-car container. All you want to achieve is currently doable with what jobs provide.

[2017-02-20 13:49] sethpollack commented on #33666
@pwittrock should I submit a PR?

[2017-02-20 13:55] feiskyer opened #41746 "Dockertools unit test failed on OSX"
**Kubernetes version**:

master branch.

**Environment**:

OSX.

**What happened**:

[code]

cc/ @yujuhong @Random-Liu @freehan

[2017-02-20 13:56] abel-von commented on #19816
@mqliang  I encountered the same problem with what you mentioned, can you post you nginx config?

[2017-02-20 14:16] resouer commented on #38532
If only in this case, since the container is killed from outside (and not a OOM kill), there's no event kubelet should report.

But I think what you are expecting  is events can include more information like container failure?

[2017-02-20 14:27] deads2k opened #41748 "genericapiserver needs a non-cyclical test for openapi"
The existing openapi test for genericapiserver had a cycle in it.  We need a simple test for enablement that doesn't introduce a cycle.  https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/genericapiserver_test.go#L91

@mbohlool @sttts

[2017-02-20 14:30] mohamedbouchriha commented on #33544
thanks @saidiahd  It works for me

[2017-02-20 14:33] deads2k opened #41749 "staging/godeps-json-updater.go should take parameter for skipped deps"
The godep json updater should take an arg for skipping dependencies here: https://github.com/kubernetes/kubernetes/blob/master/staging/godeps-json-updater.go#L70-L82

[2017-02-20 14:37] timothysc commented on #19816
This is a pretty big issue honestly, at the time I didn't ruminate on it... but now that I've seen some experiments, it exposes a fundamental fault in the notion of horizontally scalable api-servers.

There are race conditions that do occur on reads, that force a quorum read.  If you enforce a quorum read to *greatly* decrease read throughput and you also force a constraint on the api-server and c

[2017-02-20 14:48] icambridge commented on #32335
I'll work on this if no one is currently doing so.

[2017-02-20 14:51] timothysc commented on #41600
In general, I've been wanting a SIGUP reconfig on * kube components.  Our initialization paths are really heavy weight atm, but imho we could probably start with rejigging for either signal-trap or fstat change = reconfig.  I'm old-school, so i'll always prefer an explicit SIGUP.

[2017-02-20 14:53] icambridge commented on #32335
I've created https://github.com/go-yaml/yaml/pull/242 which allows for adding a `nowrap` tag to elements.

[2017-02-20 14:56] icambridge commented on #30700
This issue can be closed?

[2017-02-20 15:02] pizzarabe commented on #41405
sure, something specific?

$ journalctl -u kubelet
[code]

$ kubectl describe node 10.169.1.132

[code]

[2017-02-20 15:12] flylo opened #41752 "kubectl cp appending basename twice and throwing error on fully qualified local filepath"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "cp"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**K

[2017-02-20 15:18] wanghaoran1988 commented on #41712
@davidopp Can we add a resource allocatable radio to the node configuration maybe can using a annotation, like a node have a total memory 10G, and  can be allocated  90%  of the total, the the kubelet will report  periodically with the computed value 9G, and the scheduler still use the allocatable value 9G to schedule, this will make the scheduler logic simple.

[2017-02-20 16:15] copejon commented on #17092
#40885 Further addresses this by consolidating GCE tests into a single persistent_volumes-gce.go file.

[2017-02-20 17:06] cmluciano commented on #41712
@wanghaoran1988 Is that similar to the kube-reserved or system-reserved flags that can be passed to the kubelet?

[2017-02-20 17:30] kargakis commented on #41677
Unfortunately, this can happen not only due to defaulting but also net-new fields added in a backwards-compatible fashion as nil pointers produce a new hash different from the previous one.

cc: @kubernetes/sig-api-machinery-misc @kubernetes/sig-apps-misc

[2017-02-20 17:32] deads2k commented on #41677
@smarterclayton

[2017-02-20 17:34] #41749 closed

[2017-02-20 17:37] shyamjvs commented on #41735
The problem seems to be that the files written by the start-kubemark-master.sh script (like systemd kubelet.service file, /etc/kubernetes/manifests, etc) disappear from the disk once the machine is rebooted. They need to persist across reboots. So from offline discussion, the best thing to do for now seems to be creating a new PD for placing these files.

[2017-02-20 17:50] vishh commented on #41712
https://github.com/kubernetes/community/pull/348 is relevant here.
Specifically, I'm changing Allocatable to take into account memory reserved
for eviction thresholds.
The effective allocatable will be `Capacity - kube reserved - system
reserved - OOR hard eviction threshold`.

I suspect that by itself should address the concern in this issue.

On Mon, Feb 20, 2017 at 9:06 AM, cmluciano <notificat

[2017-02-20 17:55] shyamjvs commented on #41713
+1 to @wojtek-t 's comment.
It shouldn't really be difficult to change the start-kubemark.sh script to ssh to each of the nodes and run sysctl setting inotify limit to higher value (though I'm not sure how long this would take when we have higher no. of nodes, like 60 in case of kubemark-scale test). We should ideally be doing this in parallel or set the var during the real node creation itself, i

[2017-02-20 18:06] shyamjvs commented on #41713
@Random-Liu If we agree on the 2nd option, I can change the code for it. Also FYI, if you need hollow-node logs to debug stuff, they should be available once PR https://github.com/kubernetes/kubernetes/pull/41739 gets merged.

[2017-02-20 18:34] #40383 closed

[2017-02-20 19:27] abdasgupta commented on #38228
All of the "errors in setting up localhostcertPool" are resolved through this PR https://github.com/kubernetes/kubernetes/pull/41758 while running with go1.8

[2017-02-20 19:47] derekwaynecarr opened #41760 "recreate deployment w/ same name does not work"
**Kubernetes version** (use `kubectl version`):
hack/local-up-cluster.sh using master branch

**Environment**:
see above, on fedora 25

**What happened**:
$ kubectl run nginx --image=nginx
wait for pods to be created
$ kubectl delete deployments --all
wait for all to be gone
$ kubectl run nginx --image=nginx

the replica set for the new deployment is never created, and pods never appear.

logs sho

[2017-02-20 19:49] derekwaynecarr commented on #41760
/cc @janetkuo @nikhiljindal @kargakis @mfojtik

[2017-02-20 20:35] fabianofranz commented on #41741
@kubernetes/sig-cli-proposals

[2017-02-20 20:43] gg7 opened #41762 "Sometimes a deployment never completes because Kubernetes falsely believes that some of the pods are unavailable"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report.

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: 4 bare-metal servers (x86_64)
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.2 LTS
- **Kernel** (e.g. `uname -a`): 4.4.0-*-generic
- **Install tools**: Custom deployment from scratch (3 masters in HA mo

[2017-02-20 21:32] jedsmith commented on #1957
@davidopp That benchmark somewhat hints that etcd is evolving into Kubernetes-specific software, which I suppose is unsurprising.

[2017-02-20 21:39] #30404 closed

[2017-02-20 21:41] davidopp commented on #1957
Seriously I wasn't trying to troll. :) I think it would be great if Kubernetes could support multiple key-value stores.

[2017-02-20 21:49] smarterclayton commented on #41741
We already have custom columns for this, don't we?  What does the custom column display when you add it?

[2017-02-20 22:03] davidopp commented on #41712
@vishh Ah, I didn't know allocatable was going to subtract out the memory reserved for eviction thresholds. I think that is a good enough solution; I don't think there's much need to make the "optimal" packing ratio on each machine independently tunable with a scheduler parameter if we have what you described.

I'm going to close this issue.

[2017-02-20 22:03] #41712 closed

[2017-02-20 22:06] grahamhayes commented on #35048
Work has began - I will stick up a WIP PR in the next day or so

[2017-02-20 22:11] smarterclayton commented on #1957
I actually don't think etcd is evolving into Kubernetes specific software - we just have continually refined it at fairly large scale, and the etcd team has been phenomenal at tuning etcd to eliminate scalability gaps.

I do think the benchmark numbers mirror our own experiences in production, which it is an excellent high performance and reliable K/V store for O(100k-5m) small keys that also prov

[2017-02-20 22:35] davidopp commented on #41738
Off the top of my head, I think the best way to implement this is to modify the [admission controller that adds default tolerationSeconds](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/defaulttolerationseconds/admission.go), to special-case DaemonSet pods and add infinite tolerationSeconds to them. (See definition of [tolerationSeconds](https://github.com/kubernetes/kub

[2017-02-20 23:48] smarterclayton commented on #41738
Why wouldn't the daemon set controller special case that?

[2017-02-20 23:51] davidopp commented on #41738
Yeah, I guess that's probably better - have the DaemonSet controller create pods with the toleration.

[2017-02-20 23:54] smarterclayton commented on #41743
I think this was a backwards compatibility thing that we didn't remember to fix in v1beta3, and carried over into v1 because it was too late, IIRC.

Can make the godoc better.

[2017-02-20 23:56] foxish commented on #29972
From what I see, these issues are related to configuration of the StatefulSet and init containers for particular workloads, rather than being issues with the feature itself.

[2017-02-21 00:24] thockin commented on #32335
Any way we can make it an option to the marshal/unmarshal?  I don't think
we want to add another tag to every string field.  I guess maybe
annotations would be enough...

On Mon, Feb 20, 2017 at 6:53 AM, Iain Cambridge <notifications@github.com>
wrote:

[2017-02-21 00:27] thockin commented on #36415
Yeah, Service does not have a concept of looking inside the packet stream. :(

[2017-02-21 00:27] #36415 closed

[2017-02-21 00:34] cgag commented on #41444
Some work on this by @wardviaene: https://github.com/kubernetes/kubernetes/pull/36894

[2017-02-21 00:44] paralin commented on #41444
Relevant, maybe a blocker:

 - https://github.com/kubernetes/community/pull/128

[2017-02-21 01:17] kevin-wangzefeng commented on #41738
@davidopp I can do this, and yes, in the DaemonSet controller.

[2017-02-21 01:42] djsly commented on #41584
Hey @k82cn , had you had the chance to look at Fares' Profile? We are in the process of upgrading our Dev cluster to 1.5.3 to get somewhat closers to the official release. This should reduce the variables here for this investigation.

Thanks.

[2017-02-21 02:18] keith4743 commented on #41469
@Crassirostris Hi Mik, I have created another k8s cluster in another environment, and run the yaml files, and still with the same error.
I wondered how the API address communicate with the svc of es or kibana?

[2017-02-21 02:50] #41001 closed

[2017-02-21 03:13] yangyuqian opened #41767 "dns addon doesnt work on bare metal cluster on Digital Ocean"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

I'm newbie in k8s, not

[2017-02-21 03:30] sjenning opened #41768 "flake: podautoscaler unit test failing"
Just a few:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41149/pull-kubernetes-unit/18979/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41077/pull-kubernetes-unit/18972/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41714/pull-kubernetes-unit/18970/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs

[2017-02-21 04:15] bradbeam commented on #34698
Similar to what @eviloop mentioned.

A couple additional details:
- `/var/lib/kubelet/plugins` is empty, so the mount of `/var/lib/kubelet/plugins/kubernetes.io/cinder/<uuid>` fails.
- Disk is attached to VM as a qemu device which is not searched via CandidateDisks https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_volumes.go#L176
[code]

[2017-02-21 04:25] Random-Liu commented on #41713
Thanks a lot for the hollow-node logs!

Going with option 2 sounds good to me. :)

[2017-02-21 05:22] XiLongZheng commented on #39229
Looks like the cluster created by `kubeadm init` will need calico image to work together for network? Unfortunately, I didn't find calico image for s390x yet. Is calico a must have?

[2017-02-21 05:24] k82cn commented on #41584
@djsly , did not get chance to check it yet. Please try 1.5.3 and let me know if anything I can help then :).

[2017-02-21 05:50] resouer commented on #38532
And #37616 describes we should report more **container life cycle** events, I think although you are saying pod lifecycle, you are actually means the container life cycle (like: `Created container with docker id 095e624a722a`). If in this case, this is dup to #37616

[2017-02-21 05:53] qiujian16 commented on #41656
It is because of the version incompatibility between client and server. The client is version 1.5, and it will call Eviction in policy/v1beta1 group. While server is version 1.4, and the Eviction is only in group policy/v1alpha1. You can change your client to version 1.4.

[2017-02-21 06:13] bowei commented on #41469
@keith4743 @Crassirostris  -- trying to read through all of the previous posts, but finding it somewhat hard to follow. Can someone summarize for me what is trying to connect to what? (e.g. from outside into cluster, node to pod, pod to pod, ...)

[2017-02-21 06:29] mansing2 opened #41769 "Error "TLS handshake error from" while making API request to HTTPS instance"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): I have already checked.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Unable to make REST API request.

---

**Is this a BUG REPORT or

[2017-02-21 06:39] keith4743 commented on #41469
@bowei access the API address from master node.

[2017-02-21 06:42] cblecker commented on #41769
Can you please provide the output of `kubectl version`, as asked by the issue template?

[2017-02-21 06:47] mdshuai commented on #37807
This should be fixed by https://github.com/kubernetes/kubernetes/pull/40903

[2017-02-21 06:47] #37807 closed

[2017-02-21 06:53] mansing2 commented on #41769
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5aa35041a8ddfe3d4b367381112f89", GitTreeState:"clean", BuildDate:"2017-01-23T14:15:25Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5aa35041a8ddfe3d4b367381112f89", GitTreeState:"clean", BuildDate:

[2017-02-21 07:42] bowei commented on #41469
I may be misreading, but in your case the cluster IP cannot be accessed from the master node, as it does not run kube-proxy that is used to implement the virtual IP. You should be able to access ES from any of the pods.

[2017-02-21 07:50] qiujian16 commented on #41263
@madhusudancs I would like to create a PR if no one is working on this.

[2017-02-21 07:54] shyamjvs opened #41776 "Regression in all Kubemark tests"
There seems to be a regression in all kubemark tests (occasional failure in 5-node tests) starting yesterday night (at around 12:00 Jenkins time).This is blocking the submit queue.

cc @k8s-oncall @wojtek-t @gmarek

[2017-02-21 07:54] wojtek-t commented on #41776
https://github.com/kubernetes/kubernetes/pull/41774

describes the reason and is the fix

[2017-02-21 07:56] shyamjvs commented on #41776
Thanks for pointing to it. Will close this issue once the PR is merged.

[2017-02-21 07:59] irfanurrehman commented on #41263
@qiujian16, Thanks for checking. I am already working on this!

[2017-02-21 08:10] andyxning commented on #38532
@resouer @DreadPirateShawn I think we need to bring more container and pod info, such as pod labels, through pod events when containers or pod phase change.

[2017-02-21 08:14] keith4743 commented on #41469
@bowei what do u mean, there is no corresponding kube-proxy? how to ensure all the pods can access ES?

refer to `Kubernetes Definitive Guide`, I execute the command `kubectl proxy`, is this command to solve this problem? but do not work for me.

[2017-02-21 08:28] icambridge commented on #32335
@thockin Marshal and Unmarshal don't accept any parameters so adding options would break BC.

[2017-02-21 08:32] resouer commented on #38532
More lifecycle events will be added, but pod change details are definitely out of scope of events.

Deployment's revision is used to check difference between deployments. For example:
[code]

[2017-02-21 08:47] Crassirostris commented on #41469
@bowei IIUC, the problem is that service is unavailable through proxy API, but all pods are available from inside of the cluster (i.e. from a minion node). How to debug this?

@keith4743

Try `https://MYIP/api/v1/proxy/namespaces/kube-system/services/kibana-logging` (https + no port, login/password should be in `~/.kube/config`)

[2017-02-21 08:49] gmarek commented on #41713
It may be a stupid question, but is it possible to build a container image that, when run in a privileged mode will bump ionotify limit and then run it similarly to image-puller?

[2017-02-21 08:56] wojtek-t commented on #41713
Something like that was also on my mind when I wrote that it shouldn't be that difficult.

I don't want to put things like "ssh to all nodes and do something" to our startup scripts.

[2017-02-21 08:58] keith4743 commented on #41469
@Crassirostris `https://MYIP/api/v1/proxy/namespaces/kube-system/services/kibana-logging` the request was refused, and `~/.kube/config` this file is empty.

[2017-02-21 09:25] mansing2 commented on #41769
@cblecker - Do let me know if any more information is needed.

[2017-02-21 09:29] mikebryant commented on #34698
@bradbeam I have a PR open for that: https://github.com/kubernetes/kubernetes/pull/41498

We've worked around it by going back to the virtio mounts for now

[2017-02-21 09:37] kargakis commented on #41760
@derekwaynecarr I cannot reproduce this and I am running with the same setup :/ but I know @soltysh has seen this storage error before. Can you set up a panic in the error handler for this particular error and paste the resulting call stack?

[2017-02-21 09:41] kargakis commented on #41768
k8s.io/kubernetes/pkg/controller/podautoscaler TestScaleUpCMUnreadyLessScale
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41282/pull-kubernetes-unit/19037/#k8siokubernetespkgcontrollerpodautoscaler-testscaleupcmunreadylessscale

[2017-02-21 09:42] kargakis commented on #41768
Bumping the priority - since yesterday this has been flaking frequently

[2017-02-21 09:44] kargakis commented on #41768
@piosz @DirectXMan12 not sure if there is a sig and/or Github team for the autoscaler

[2017-02-21 09:45] wojtek-t commented on #41768
@jszczepkowski @mwielgus

[2017-02-21 10:02] dixudx commented on #41746
@feiskyer I just took `TestDeleteContainerRemoveDeadContainer` as an example.

[code]

[code]

When running on OSX, `containerIsNetworked` always returns `false`. [pkg/kubelet/dockertools/docker_manager_unsupported.go#L49](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager_unsupported.go#L49)

[code]

However, on Linux, the actual calling path is [pkg/kubel

[2017-02-21 10:04] feiskyer commented on #41746
@dixudx Thanks. Could you file a PR to fix this?

[2017-02-21 10:24] #28678 closed

[2017-02-21 10:24] #41247 closed

[2017-02-21 11:07] soltysh opened #41786 "Be able to specify the timeout to wait for pod for kubectl logs/attach"
Currently our code responsible for getting the first pod for logs or attach allows specifying a timeout, how long to wait for that: see [here](https://github.com/kubernetes/kubernetes/blob/1cb737fb970a65be2b3ff21cbf00196359b56cd3/pkg/kubectl/cmd/util/factory_object_mapping.go#L229) and [here](https://github.com/kubernetes/kubernetes/blob/1cb737fb970a65be2b3ff21cbf00196359b56cd3/pkg/kubectl/cmd/uti

[2017-02-21 11:17] felixbuenemann opened #41787 "Automatic pod expiration not working"
According to the docs on [Pod Lifetime](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-lifetime) pods in phase "Succeeded" or "Failed" should be expired by the master:

However in reality on K8s v1.4.x (tested up to v1.4.9) completed or erred pods never get removed.

In fact completed one-off pods (`restartPolicy: Never`) from builds of our PaaS running on K8s (Deis Workflow

[2017-02-21 11:38] kargakis commented on #41786
@kubernetes/sig-cli-feature-requests

[2017-02-21 11:44] kargakis commented on #41762
Seems like a dupe of https://github.com/kubernetes/kubernetes/issues/41641

[2017-02-21 11:54] kargakis opened #41789 "Solidify UnavailableReplicas field for Deployments"
https://github.com/kubernetes/kubernetes/blob/1cb737fb970a65be2b3ff21cbf00196359b56cd3/pkg/apis/extensions/types.go#L323-L325
[code]
This is assuming we count unavailable pods from all **created** pods targeted by a Deployment.
In the controller, we calculate unavailable replicas based on spec.replicas which also includes pods that haven't been created.
https://github.com/kubernetes/kubernetes/blo

[2017-02-21 11:55] shiywang commented on #41786
@soltysh @kargakis I would like to work on that, how about `attach-timeout` and `logs-timeout` for each of them ?

[2017-02-21 11:58] kargakis commented on #40415
Can anybody paste logs from the controller manager when it's restarted? It may not be that helpful eventually but at least it will rule out other bugs that are lurking around.

[2017-02-21 12:05] kargakis commented on #41641
@edevil @gg7 can one of you guys paste logs from the controller manager when this issue occurs? Log level should be ideally set to 2.

[2017-02-21 12:08] shashidharatd opened #41791 "Automating federation upgrade tests"
This issue is to track all the tasks related to upgrade tests and framework for federation as described in [Kubernetes federation upgrade tests](https://docs.google.com/document/d/1QJg-8I3Ff3ClqLXRHpWXhe4BRaDcdRiuDPPbPHEomsw/edit?usp=sharing)

- [x] Framework for federation upgrade tests
- [ ] CI jobs for federation upgrade
- Individual test cases
  - [ ] Federated Service: @shashidharatd
  - [ ]

[2017-02-21 12:19] shashidharatd commented on #41791
cc @madhusudancs @nikhiljindal @kubernetes/sig-federation-pr-reviews

[2017-02-21 12:23] bradbeam commented on #34698
@mikebryant I tested those changes locally and wasn't seeing any change

[2017-02-21 12:25] raffaelespazzoli opened #41792 "Ability to Mount a Persistent Volume as a Raw Device"
This is a request for improvement.

Currently kubernetes will format a volume if it finds it's not formatted and always mount it as a branch of the file system.
There is some software that works better with raw devices, such as Oracle RAC for example.
This request is about allowing kubernetes to mount raw devices. Volumes that would support this should be:

- emptyDir
- persistentVolume whose back

[2017-02-21 12:26] wojtek-t commented on #41776
Fixed by https://github.com/kubernetes/kubernetes/pull/41774

[2017-02-21 12:26] #41776 closed

[2017-02-21 12:32] natalia-k commented on #32326
is any chance that this will be implemented in the next release ?

Thanks a lot!

[2017-02-21 12:40] gmarek opened #41796 "Race in HPA unit test"
I hit this:
[code]

cc @jszczepkowski @ncdc for shared informers

@wojtek-t @deads2k @lavalamp

[2017-02-21 12:49] wojtek-t commented on #41796
Deplicate of https://github.com/kubernetes/kubernetes/issues/41768

[2017-02-21 12:49] #41796 closed

[2017-02-21 12:54] wojtek-t commented on #41768
@deads2k @smarterclayton - it seems that detector discovered some issue

[2017-02-21 12:54] wojtek-t commented on #41768
@ncdc

[2017-02-21 13:10] chrigl commented on #38498
The issue looks very similar at my setup running kubelet 1.5.2
[code]

I was not able remove the orphan pods by hand due to:

[code]

Which are tmpfs

[code]

Umounting all the secrets by hand "solved" the issue.

Another note: I came to the node, because docker was stuck and did not respond. I needed to SIGTERM it. But this is likely a different issue.

[2017-02-21 13:17] ncdc commented on #41768
I was on PTO yesterday so I'll be catching up on emails and then I'll look
at this asap. Back online in 1.5 hours.

On Tue, Feb 21, 2017 at 7:54 AM Wojciech Tyczynski <notifications@github.com>
wrote:

[2017-02-21 13:30] shyamjvs opened #41802 "NPD doesn't write its logs to file in kubemark"
The npd in hollow-nodes doesn't write its logs to a file despite having its command as:

[code]

in hollow-node_template.json. I tried changing it to the following:

[code]

and that makes the container enter crashloop, without providing any way to access logs (I tried looking into /var/log/npd-$(NODE_NAME).log, tried kubectl logs, tried docker logs on the node and also kubectl describe pod, but n