[2018-02-04 05:21] vielmetti commented on #44540
I think this can be closed, since `kubectl top node --help` provides the requested information.

[2018-02-04 05:38] yue9944882 commented on #59113
I believe it's by the implementation of [json-iterator](https://github.com/json-iterator/go).

[https://github.com/kubernetes/kubernetes/blob/1e6ebd49cb6fb16ae3f361c3603999dfd05c77bb/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go#L189](https://github.com/kubernetes/kubernetes/blob/1e6ebd49cb6fb16ae3f361c3603999dfd05c77bb/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/j

[2018-02-04 05:41] Quentin-M commented on #51012
I am facing a similar issue with the controller not being able to update any endpoints or other resources (e.g. StatefulSet) after a full etcd kill+recovery from a snapshot.

[2018-02-04 05:44] Quentin-M commented on #40074
@nickschuch Could you please elaborate on the issue/fix? I am seeing something similar on services / statefulsets / other resources after using client-go to patch resources. I also noticed that client-go was patching the namespace in a weird way for cluster scoped resources.

[2018-02-04 05:55] liggitt commented on #59216
Cc @kubernetes/sig-auth-feature-requests

[2018-02-04 06:06] Quentin-M commented on #43357
Seeing this on endpoints as of now. After an hour, and a controller restart, the issue was not fixed. Removing the endpoint and cycling the pods that backs the endpoint fixed the issue.

Note that 1/ I am using client-go (even tho never on endpoints..) and killed+recovered my etcd cluster entirely for disaster recovery testing.

This is legitimately scary..

[2018-02-04 06:15] william-tran commented on #52906
I'm having a similar issue with the concourse chart, worker pods are privileged and run docker. I'm running k8s 1.7.11, and I run no other pods on the node other than concourse-worker and kube proxy. Here's the log output when I stop the pod:

[code]

[2018-02-04 06:31] k82cn commented on #58505
Overall, I agree :). Personally, I'd like to keep components behavior align: reject by admission/kubelet or accept by them. Currently, apiserver/scheduler accept and handle it and kubelet will reject it.

[2018-02-04 06:33] k82cn commented on #59194
working branch is https://github.com/k82cn/kubernetes/tree/k8s_59194 :).

[2018-02-04 07:12] liggitt commented on #58635
Just to be clear, what component is intended to add and remove the taint?

[2018-02-04 07:34] zetaab commented on #58635
@liggitt I think cloud controller should add that taint? Instead of deleting node here https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L238-L239 we add taint if node is in shutdown state. The problem currently is that we might need extend Instances() in cloudproviders. I am thinking to add InstanceShutdownedByProviderID  here https://github.com/kubernet

[2018-02-04 07:36] liggitt commented on #58635
Ok, just wanted to make sure the kubelet wasn't expected to taint/untaint itself as part of this

[2018-02-04 07:44] ankushchadha commented on #3595
File max limits are tricky and IMO (theoretically) the limits are set at multiple levels (container, docker daemon on the node, node itself and all the way to the storage tier/filesystem).

Should there be a check at PV level in addition? Example - What if at the container level, we set the limit to 1M and a user decides to go with EFS as PV where file-max limits can't be configured and the limit

[2018-02-04 07:48] jtgans commented on #44528
Ran into this, myself, while attempting to configure my storageclasses to speak to a heketi glusterfs pod by service name. When I rebooted my cluster, the cluster IP changed, which broke my glusterfs storage solution.

[2018-02-04 08:11] michaelmitchell commented on #55725
Seeing the same thing

Node version 1.8.6-gke.0
fluentd image: gcr.io/google-containers/fluentd-gcp:2.0.9

[2018-02-04 08:13] mlmhl opened #59318 "Remove GetDeviceMountRefs method from AttachableVolumePlugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

`AttachableVolumePlugin` has a `GetDeviceMountRefs` method that used to check if a device can be safely umounted or not. Currently, this method has the same implementation for all plugins, looks like this:

[code]

So maybe we can implement this check inside `GenerateUnmountDeviceFunc` instead of inside each volume plugins. This ca

[2018-02-04 08:14] mlmhl commented on #59318
/kind cleanup
/sig storage

[2018-02-04 08:15] mlmhl commented on #59318
/cc @jingxu97
I'm not sure if I understand it correctly, if we can do this cleanup, I will post a PR later.

[2018-02-04 08:17] mlmhl commented on #59318
/assign @jingxu97
I'm not sure if I understand it correctly, if we can do this cleanup, I will post a PR later.

[2018-02-04 09:36] 361007018 commented on #39557
@filipenf It work,Thanks:)

[2018-02-04 10:55] pires commented on #53142
@mcandre @dims it seems that the example moved to https://github.com/kubernetes/examples. I am now reading that repo guidelines and will update this there. I'll open a PR that cleans this folder in the current repo and closes this issue.

[2018-02-04 11:14] yastij commented on #58635
cc @wlan0  @cheftako are you okay with extending instances interface ? This will break some of the CCM already implemented, are we okay with that ?

@zetaab - on the same func would be fine, as it is used to monitor nodes

[2018-02-04 11:25] mjaow opened #59320 "What does the HandlePodUpdates actually do?"
HandlePodUpdates seems not a in-place update of pod.What does it actually do?It's a rolling-update? Or it is in reponsibility of updating pod status?I was confused.

/sig node

[2018-02-04 13:23] zetaab commented on #58635
I coded something regarding this, could you please comment is this approach the correct one and can it be accepted? If yes, then I can make PR of it :) https://github.com/zetaab/kubernetes/commit/1cca2e424b61976b0e6086332c4e108b1b8ae73c

Example using this cloud-controller-manager in openstack:
[code]

Questions/comments:
- can we modify Instances interface?
- I need help implementing at least gce

[2018-02-04 13:54] mootezbessifi opened #59321 "elasticsearch: max file descriptors [1024] for elasticsearch process is too low, increase to at least [65536]"
Hi all,

when i tried to run the logging aggregation (see link below) i found out the following error generated by elasticsearch:

[2018-02-04T13:44:04,259][INFO ][o.e.b.BootstrapChecks    ] [elasticsearch-logging-0] bound or publishing to a non-loopback or non-link-local address, enforcing bootstrap checks
ERROR: [1] bootstrap checks failed
[1]: max file descriptors [1024] for elasticsearch proce

[2018-02-04 13:59] mootezbessifi commented on #59321
@piosz @crassirostris @coffeepac  any idea about the below please ?

[2018-02-04 14:48] devenfan commented on #42158
Kuberntes 1.9.1

root@ubuntu-105:/var/log/kubernetes# tail -f kube-controller-manager.ERROR
Log file created at: 2018/02/04 22:44:19
Running on machine: ubuntu-105
Binary: Built with gc go1.9.2 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
E0204 22:44:19.133862    2013 core.go:73] Failed to start service controller: WARNING: no cloud provider provided, service

[2018-02-04 15:22] zetaab commented on #58635
I opened PR lets continue there, #59323

[2018-02-04 16:41] yue9944882 commented on #59200
@thomas-riccardi
It should have fixed in `evanphx/json-patch` after [https://github.com/evanphx/json-patch/commit/c3740aa533c8ac9463b1428e3f964f66733135af](https://github.com/evanphx/json-patch/commit/c3740aa533c8ac9463b1428e3f964f66733135af).
An update of that vendor dependency is needed for aligning revision to release-1.8 or later.

[2018-02-04 17:33] msau42 commented on #43504
@wu105 are you referring to local or zonal PVs?  The design goal of local PVs is that the pod does not need to specify any node name; it's all contained in the PV information.

The problem of node enforcement with zonal PVs is that you also need to take into account access mode.  A multi writer zonal PV does not have a node attachment restriction like with readwriteonce PVs.  I think the best way

[2018-02-04 17:40] msau42 commented on #44528
I believe the issue is the node's resolv.conf needs to be configured to point to Kubernetes' dns service.

This is a host configuration that needs to be done per deployment.  I believe we do it automatically for GCE/GKE but I'm unsure about other environments.  cc @jingxu97

[2018-02-04 18:28] mightyguava opened #59326 "Dynamic volume provisioning multiple EBS volumes for same pod creates in different AZs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I tried to provision source graph on an AWS multi-az cluster

[code]

**What you expected to happen**:

Expected the 2 volumes to be provisioned in the same zone.

**How to reproduce it (as minimally and precisely as possible)**:

They got provisioned in different zones. The pod can't schedule since the 2 disks it needs

[2018-02-04 18:28] mightyguava commented on #59326
Looks semi-relevant to https://github.com/kubernetes/kubernetes/issues/39178

[2018-02-04 18:29] mightyguava commented on #59326
/sig aws

[2018-02-04 18:42] jtgans commented on #44528
So how would I setup the resolve.conf files on each node to resolve to
kube-dns? The service for it is setup as a ClusterIP service, and in a CNI
environment like flannel, that becomes non accessible from outside of a
container.

Can I edit the service to set it up as a NodePort and then direct
resolve.conf to every node in the cluster?

On Feb 4, 2018 9:41 AM, "Michelle Au" <notifications@github.

[2018-02-04 19:00] smarterclayton commented on #59314
I disagree - the kubelet owns its own labels (those specified at `--node-labels` time) at a minimum.  I agree that node labels should be manageable via an API, especially those set by humans.  I do not agree that a fleet of bootstrapped nodes in scaling groups should not be able to specify their own labels and keep them up to date based on config.  And given that the node controller can stomp down

[2018-02-04 19:10] liggitt commented on #59314
That is incompatible with using labels to segment node groups for anything security related. Why wouldn't the person applying config to nodes also label them?

[2018-02-04 21:03] dshamanthreddy commented on #19515
~# kubectl create -f nginx-v1.yaml
error: could not read an encoded object from nginx-v1.yaml: API version "apps/v1" in "nginx-v1.yaml" isn't supported, only supports API versions ["v1"]
error: no objects passed to create

[2018-02-04 21:04] dshamanthreddy opened #59327 "Deployment issue"
~# kubectl create -f nginx-v1.yaml
error: could not read an encoded object from nginx-v1.yaml: API version "apps/v1" in "nginx-v1.yaml" isn't supported, only supports API versions ["v1"]
error: no objects passed to create

[2018-02-04 21:43] ayushpateria commented on #59266
I would like to work on this. `ConvertSelectorToLabelsMap` doesn't work with set based selectors, and the function fails when called while creating [new controller revision](https://github.com/kubernetes/kubernetes/blob/a73c96d7b28e8c04a5bd5f68af04eecea3ec14ff/pkg/controller/history/controller_history.go#L63). The comments mention that  "ControllerRevision has labels matching selector", is that co

[2018-02-04 21:58] dshamanthreddy commented on #59327
/sig deployment

[2018-02-04 22:00] dshamanthreddy commented on #59327
cat nginx-deployment.yml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 2
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.7.9
        ports:
        - containerPort: 80

kubectl create -f nginx-deployment.yml
error: could not re

[2018-02-04 22:41] kargakis commented on #59266
I think controller revisions could use the same labels found inside the statefulset podtemplate instead of trying to derive labels from the selector.

[2018-02-04 23:45] divyenpatel commented on #43527
/remove-lifecycle stale

[2018-02-04 23:46] divyenpatel commented on #43527
/assign divyenpatel

[2018-02-05 00:15] nick4fake commented on #35752
Is this by-design?

[2018-02-05 00:31] projecthubble commented on #29307
I am running into this problem too. I am running qinikube and running couple of deployments. Now I can't do kubectl delete deployment to remove them. I have tried stopping and starting minikube and the pods come back again (they are persistent). I have tried rebooting and still persistent.

Is there a way to clean up all the deployments and start fresh ?

[2018-02-05 00:59] DanielZhangQD commented on #59197
/sig node bug

[2018-02-05 01:13] kargakis commented on #25146
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-05 01:28] kargakis commented on #36813
Or exec `uptime -s`

/close

[2018-02-05 01:28] #36813 closed

[2018-02-05 01:29] kargakis commented on #38612
/lifecycle frozen
/remove-lifecycle rotten

[2018-02-05 01:30] islinwb commented on #59327
@dshamanthreddy  What's the Kubernetes version you were using? The `apps/v1` works for v1.9.x and later.

[2018-02-05 01:31] kargakis commented on #38761
/unassign @adohe

due to lack of response

/help
/remove-lifecycle stale

[2018-02-05 01:32] kargakis commented on #42332
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-05 01:33] kargakis commented on #42534
/remove-lifecycle stale
/lifecycle frozen

[2018-02-05 01:36] kargakis commented on #44734
/lifecycle frozen

[2018-02-05 01:52] zjj2wry commented on #29307
@projecthubble
I think the problem you said may not be the same as this one. This describes the issue of consistency kubectl run, your problem seems to be deployment can not be deleted. Can you copy the deleted log to this issue?
[code]

[2018-02-05 01:57] shiywang commented on #38761
@kargakis could you assign to me ? thanks

[2018-02-05 02:29] projecthubble commented on #29307
Thanks for the response.
Perhaps its a different problem, but this was the best thread I found that was related. So posted it here.
I was trying to delete deployment as my minikube was not able to get to images from google cloud, but all my pods became persistent. Now I cant delete the other pods too.

Here are the logs attached.
[XXX@localhost kubernetes]$ kubectl delete deployment/my-hello
Error

[2018-02-05 02:52] dshamanthreddy commented on #59327
@islinwb
# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T20:55:30Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}

# kubectl version
Client Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.4", GitCommit:"65d28d5fd12345592405714c81c

[2018-02-05 03:13] clivez commented on #58853
Hi @yliaog , If this kind of problem is solved in k8s 1.9.x, it will also be a acceptable choice.
Could you please help have a confirm whether this kind of problem is fixed in k8s 1.9.x built with go 1.9 with monotonic time? Thank you.

[2018-02-05 03:28] smurfralf opened #59331 "[advanced audit]Audit rule matching logic incorrect when user attribute is nil"
/kind bug

**What happened**:

Advanced audit logging policy rules with specific users match requests that don't have user info.

**What you expected to happen**:

Rules with users should _only_ match transactions with those users. E.G for the reproduction steps below, the audit log should have a metadata entry for the `401` request/response caused by the catch-all rule since the first  `Level: No

[2018-02-05 03:29] jhorwit2 commented on #59327
@dshamanthreddy you need to update kubectl. You're using version 1.0.

[2018-02-05 03:32] jhorwit2 commented on #59331
/sig auth

[2018-02-05 03:33] smurfralf commented on #59331
The same problem exists in the parallel clause in the same function for matching `UserGroups`.

[2018-02-05 03:36] jhorwit2 commented on #59320
@mjaow We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding. Please reach out in slack at #sig-node or one of their other contact method. You can find those [here](https://github.com/kubernetes/community/tree/master/sig-node#contact).

/close

[2018-02-05 03:36] #59320 closed

[2018-02-05 03:38] justinsb opened #59332 "Consider adopting dep"
With the latest version of dep and a few tweaks, it now appears to be possible to get dep working with kubernetes.

Here are some learnings from getting dep to not crash for kops (cf https://github.com/kubernetes/kops/pull/4382 ):

* We created a script https://github.com/kubernetes/kops/pull/4382/commits/9fbbbcb76a141658c156b3fd4ffe01ca622fa44c which compares the versions in Godeps.json to the ve

[2018-02-05 03:38] justinsb commented on #59332
cc @kubernetes/sig-release-feature-requests

[2018-02-05 03:42] jhorwit2 commented on #59332
@justinsb This is a duplicate of https://github.com/kubernetes/kubernetes/issues/52728 which has a WIP PR https://github.com/kubernetes/kubernetes/pull/57795.

[2018-02-05 03:44] justinsb commented on #59326
We have heuristics to make this work, but only for a statefulset.  You can have a statefulset of size 1 though: https://github.com/kubernetes/kubernetes/pull/40910

Another option is to put them onto the same PVC and use a symlink

[2018-02-05 03:52] justinsb commented on #59332
Hooray - yes, it seems dep is finally able to not-segfault and we're all finally having our WIP efforts succeed :-)

I'm wondering if I should change this into a document for the benefit of our universe of kubernetes projects, once we all get this working.  And some of the stuff about around _not_ relying on dep version resolution, and possibly publishing a per-minor release set of overrides feels

[2018-02-05 04:38] dshamanthreddy commented on #59327
It works, Thanks

[2018-02-05 04:48] anuraaga commented on #28969
I ran into this issue when starting up redis cluster, which only supports IP addresses in its data model. The workaround of using a service per pod to have a sticky service IP works ok, but it seems quite hacky, considering that the default service IP address space is pretty small, probably assuming that there are supposed to be a small number of services relative to the number of pods. Is this th

[2018-02-05 05:01] dan-turner commented on #58662
Having the exact same problem here

[2018-02-05 05:01] dshamanthreddy commented on #59327
@jhorwit2 @islinwb  How can I get dashboard  on kubernetes.

[2018-02-05 05:10] rambo45 commented on #45688
@lorenz I am running Docker 17.03, it seem to work for the most part until you start deleting and recreating containers rapidly which seem to hit a race condition with the volume cleanups. I think its still manageable once there is enough documentation around these scenarios.

[2018-02-05 05:22] cblecker commented on #44873
An update on this:
- godep as it is is still.. well godep. It's still awful, but the scripts around it have been touched up to be slightly less awful. There are updated docs [here](https://git.k8s.io/community/contributors/devel/godep.md) about how to work with it, as it stands currently in k/k. We've also made some changes to speed things up in CI when running the verify job, as well as make it c

[2018-02-05 05:23] cblecker commented on #52728
Closing as a dupe of #44873
/close

[2018-02-05 05:23] #52728 closed

[2018-02-05 05:30] lorenz commented on #45688
@rambo45 Seeing exactly the same. Luckily CoreOS still ships 1.12 if you enable it, so I'm currently running that option everywhere. I have a lot of container churn, so staying on 17.09 (what CoreOS ships by default) was not an option, within 24h I accumulated a few hundred pods stuck in terminating. Still awaiting a proper cri-containerd so that I can get rid of Docker for good.

[2018-02-05 05:32] cblecker commented on #59332
Hey @justinsb,
We actually have a couple issues for this, so I'm going to close this one out as a dupe. There's a bunch of discussion on #44873 as far as how to improve dependency management for k/k.

I also know there has been a bunch of work in k/test-infra on making dep play nice with bazel. We're hoping to combine these different efforts together into a working solution to the complexity that

[2018-02-05 05:32] #59332 closed

[2018-02-05 05:33] cblecker commented on #59327
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-02-05 05:33] #59327 closed

[2018-02-05 05:57] justinsb commented on #44873
Adding notes about how we got this to work for kops (mostly).  Originally posted in #59332, but reposting here.

With the latest version of dep and a few tweaks, it now appears to be possible to get dep working with kubernetes.

Here are some learnings from getting dep to not crash for kops (cf https://github.com/kubernetes/kops/pull/4382 ):

* We created a script https://github.com/kubernetes/kop

[2018-02-05 06:07] gyliu513 commented on #18044
@timstclair I found that Kubernetes 1.9 do not have the parameter of `--housekeeping-interval`, but Kubernetes master branch has introduced the parameter of `--housekeeping_interval` at https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/globalflags_linux.go#L47 , do you know how I can update the parameter for Kubernetes 1.9? Thanks!

[2018-02-05 06:08] resouer commented on #58797
@msau42 Thank you very much for such a detailed explanation, it's really appreciated! I am writhing up a patch to fix volume related predicates based on this thread. Will ping you there very soon.

[2018-02-05 06:30] Allenhaozi commented on #51835
Have the same bug on my 1.7.2

[2018-02-05 07:07] thockin commented on #35752
None of the LBs that implement kubernetes can support it. :(

On Sun, Feb 4, 2018 at 4:16 PM, Bohdan Yurov <notifications@github.com>
wrote:

[2018-02-05 07:22] zyxtech commented on #58217
meet the same error
os centos7.4(vagrant 2.0.1 ,virtualbox 5.2.2r119230  virtualization)
kubelet 1.9.2

`kubelet[11291]: E0205 05:57:29.768433   11291 container_manager_linux.go:583] [ContainerManager]:
[ContainerManager]: Fail to get rootfs information unable to find data for container /`

[2018-02-05 07:44] zhouhaibing089 commented on #45811
/remove-lifecycle stale

[2018-02-05 07:45] zhouhaibing089 commented on #45811
Below is the goroutine profile based on k8s 1.6.3.

[code]

[2018-02-05 08:32] wojtek-t opened #59338 "Apiserver crashed while reporting component statuses"
In release 1.9.1:

[code]

@kubernetes/sig-api-machinery-bugs

[2018-02-05 08:50] zhouhaibing089 commented on #45811
Looks like exactly the same as https://github.com/kubernetes/kubernetes/issues/57061

[2018-02-05 08:58] kargakis commented on #38761
/assign shiywang

[2018-02-05 09:16] nikhita commented on #47465
/remove-lifecycle stale

[2018-02-05 09:17] Allenhaozi commented on #53373
I met the same problem,  stuck on Terminating

Please check weather another program mount the same host path

/proc/90225/mountinfo

check the 90225 program

[2018-02-05 09:31] #44023 closed

[2018-02-05 09:31] #43970 closed

[2018-02-05 10:01] ffledgling commented on #23880
Bump. This would be really nice to have!

[2018-02-05 10:29] nicolaferraro opened #59343 "StatefulSet support for clean decommission on scale down"
/kind feature

StatefulSets are nice resources. But most stateful applications need to execute a custom "decommission" procedure that must be executed (**correctly**) when a instance is removed permanently from the cluster.

**Examples:**
- When scaling down from say 5 pods to 4 pods, many datastores require that data contained in the 5th pod is rebalanced across the cluster
- Applications forming

[2018-02-05 10:54] nikhita commented on #45542
/remove-lifecycle stale

[2018-02-05 11:01] Constantin07 commented on #29789
+1 Prefixing ELB name with some meaningful name, aka env, app stack, etc. would be much helpful!

[2018-02-05 11:15] nicolaferraro commented on #59343
@kubernetes/sig-apps-feature-requests

[2018-02-05 11:39] ash2k commented on #51457
/remove-lifecycle stale
/lifecycle frozen

[2018-02-05 12:05] zjj2wry commented on #50905
/close

[2018-02-05 12:05] #50905 closed

[2018-02-05 12:06] clamoriniere1A commented on #56853
Hi @soltysh
I started to implement the pod success check in order to clear the backoff delay in case of at least one of the pods succeed.
https://github.com/kubernetes/kubernetes/compare/master...clamoriniere1A:feature/JobBackoffWithParallelism
let me know if you are fine with this approach, and then I will go further with unit-tests and end2end tests.

[2018-02-05 12:20] soltysh commented on #47202
Given the previous comment I feel like we can close this issue. Feel free to reopen if you don't agree.

[2018-02-05 12:54] jhorwit2 commented on #59206
/kind bug

[2018-02-05 13:02] wojtek-t opened #59347 "Healthchecking of SSH Tunneler seem to be broken"
Healthchecking of Tunneler is part of healthz of apiserver. However, that seems to be a bit broken:

1. when we start, this is always ok:
https://github.com/kubernetes/kubernetes/blob/master/pkg/master/tunneler/ssh.go#L52
https://github.com/kubernetes/kubernetes/blob/master/pkg/master/tunneler/ssh.go#L131

2. If (because of some reason, e.g. user disabled compute API in GCE) we are not update SSHK

[2018-02-05 13:11] 3h4x commented on #49492
Just run into this issue after upgrading k8s from 1.6.6 to 1.7.12.
Deployments working in 1.6.6 stopped working after upgrade and couldn't be delete even when `topologyKey` was added.

[2018-02-05 14:03] hanikesn commented on #51150
/remove-lifecycle stale

[2018-02-05 14:16] shyamjvs opened #59349 "gce-100 node cluster failing to come up against 1.8"
Our gce-1.8 100-node scalability [job](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-1.8) is failing to create the cluster with:

[code]

and has been failing continuously since run 523.

cc @kubernetes/sig-network-bugs

[2018-02-05 14:21] shyamjvs commented on #59349
@krzyzacy @MrHohn - Could one of you PTAL into this?

[2018-02-05 14:28] smurfralf commented on #58083
Please also include fix for Issue #59331

[2018-02-05 14:52] shyamjvs commented on #59349
Ok.. I took a quick look and found out the problem,

previously we were creating the firewall with name `e2e-scalability-1-6-minion-e2e-scalability-1-6-nodeports`, but then @krzyzacy's PR https://github.com/kubernetes/test-infra/pull/6538 to bikeshed 1.6 jobs changed the generated name for firewall to `e2e-scalability-stable1-minion-e2e-scalability-stable1-nodeports` which is failing to be created

[2018-02-05 14:54] shyamjvs commented on #59349
/assign

I'll send a fix reducing the length of the name.

[2018-02-05 14:56] lauri-elevant commented on #56903
We haev the same symptoms on 1.8, intermittent DNS resolution stall of 5 seconds. The suggested workaround seems to be effective for us as well. Thank you @vasartori !

[2018-02-05 15:09] #59349 closed

[2018-02-05 15:17] deads2k commented on #58776
I think so.  Open the pull, I'll leave a few days for comments before merging.

[2018-02-05 15:20] wojtek-t commented on #59263
This is now fixed - thanks!

[2018-02-05 15:20] #59263 closed

[2018-02-05 15:20] Quentin-M opened #59351 "`system:serviceaccount:kube-system:certificate-controller` is lacking permissions to delete CSRs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

`system:serviceaccount:kube-system:certificate-controller` is lacking permissions to delete CSRs.

See:
- https://github.com/kubernetes/kubernetes/blob/d3b783d5ec1739e43344299d67a1b7ac4079458d/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go#L318
- https://github.com/kubernetes/kubernetes/blob

[2018-02-05 15:21] nkuba commented on #55471
I had the same issue. I tried to change pod network CIDR from _192.168.0.0/16_ to e.g. _10.240.0.0/16_ and it seems to be working now.
The _CALICO_IPV4POOL_CIDR_ in _calico.yaml_ manifest had to be updated to this value also.

[2018-02-05 15:45] wwwtyro commented on #43448
@tvansteenburgh I was able to repro this.

[2018-02-05 15:46] wwwtyro commented on #43572
This feature request is on our roadmap.

@tvansteenburgh

[2018-02-05 15:49] wwwtyro commented on #43754
@tvansteenburgh This will probably be resolved by the cloudinit docs we're likely going to add for the layer-docker issue.

[2018-02-05 15:50] wwwtyro commented on #43756
@tvansteenburgh This is on our roadmap.

[2018-02-05 16:00] wwwtyro commented on #43572
/close

Please see https://github.com/kubernetes/kubernetes/issues/43756 for RBAC configuration through juju actions

[2018-02-05 16:00] wwwtyro commented on #43756
/remove-lifecycle rotten

[2018-02-05 16:09] bes commented on #49931
This feature would be really useful.

[2018-02-05 16:17] sjenning commented on #57865
I just tried this with a bare pod and could not reproduce on master.
- create pod that immediately fails
- wait for cashloop backoff to reach 5m
- attempt to delete the pod

In my case, the pod deleted immediately, even though it had just started the 5m backoff interval.

So this is either
- fixed already in master (1.10)
- there is some element of the recreate that is not captured when creating b

[2018-02-05 16:20] wwwtyro commented on #43754
/remove-lifecycle rotten

[2018-02-05 16:21] wwwtyro commented on #43448
/remove-lifecycle rotten

[2018-02-05 16:25] sjenning commented on #57865
Re-reading through the issue, seems like there is some element of Stateful sets at play here that does not effect bare pods or ReplicationControllers.

[2018-02-05 16:44] joelsmith opened #59354 "Dashboard add-on config ignores cert/key pair in a secret."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

When #58720 merged, it broke any Dashboard users that:
1. Directly use `cluster/addons/dashboard/dashboard-controller.yaml` from this project to configure their Dashboard.
and
2. Have a Dashboard cert/key pair as a secret rather than using one autogenerated by Dashboard.

**What you expected to happen**:

If users have a

[2018-02-05 16:47] max-rocket-internet commented on #56706
We also seem to have a high amount of errors. This is from a host that has been up for 24 days:

[code]

Kubernetes version: 1.8.4
Kops version: 1.8.0
Networking: calico

Is this the same issue?

[2018-02-05 16:54] msau42 commented on #43504
I just realized as a workaround, you could use pod affinity to get two pods sharing the same zonal single attach PVC to be scheduled on the same node.

[2018-02-05 16:55] discordianfish opened #59356 "kubectl does not warn about permission issues with cache directory"
/kind bug

**What happened**:
kubectl became very slow, taking >30s to list pods etc.
After going deep down the rabbit hole of debugging the controller components, I ran kubectl -v=8 which showed:

[code]

**What you expected to happen**:
Since caching is required for kubectl to respond in reasonable time and the issue isn't obvious, kubectl should at least print warnings in default log level.

**

[2018-02-05 17:04] ericchiang commented on #20165
/lifecycle frozen
/assign

[2018-02-05 17:13] nsidhaye commented on #25456
@ApsOps : Did you able to get resolved issue?

I am getting exact same error but root cause is different.

[code]

[2018-02-05 17:16] shyamjvs commented on #54164
Re-opening this issue as this problem has struck again. The following runs of our 5k-node scalability jobs failed to bring up the cluster on time:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/106
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/107
https://k8s-gubernator.appspot.com

[2018-02-05 17:22] shyamjvs commented on #54164
These failures started happening about 4 days ago and I'm pretty sure it's this one:

Add self anti-affinity to kube-dns pods #57683

Sadly, we'll have to revert it again for now :(

cc @bsalamat @misterikkit - Seems like the improvements to anti-affinity performance made under https://github.com/kubernetes/kubernetes/issues/54189 weren't enough?

[2018-02-05 17:22] yliaog commented on #58853
https://github.com/kubernetes/kubernetes/issues/54130#issuecomment-338912933

as tested by xialonglee

[2018-02-05 17:26] nambrot opened #59358 "NodePort service not accessible on node from one node-pool"
/kind bug

**What happened**:

I have 2 node pools on GCP, one are preemtible instances, one arent. I have 2 preemptible nodes and 1 non-preemptible one. I also have a simple nginx service that is of type `NodePort`. I have opened my firewall rules to have all instances open at `tcp:80;tcp:443`. I can thus access my service from the preemptible nodes ip address as expected. However, for some reaso

[2018-02-05 17:29] #58875 closed

[2018-02-05 17:30] mycrEEpy commented on #57996
On minikube you can use:
`minikube start --extra-config=controller-manager.HorizontalPodAutoscalerUseRESTClients=false`

[2018-02-05 17:33] shyamjvs commented on #54189
Reopening this as the performance of anti-affinity still doesn't seem to be satisfactory enough on large clusters (i.e 5k nodes) - and it's causing them to fail to startup. Ref: issue #54164

I can help with evaluating any performance improvements if needed.

[2018-02-05 17:43] kimocode commented on #28969
Sticky IPs per Pod for StatefulSets would also be useful for the case where ports are being opened dynamically on the Pod (like in the case for many media RTP streams). Mapping a service to a Pod for all possible port ranges definitely feels hacky.

[2018-02-05 17:45] cblecker commented on #54164
@kubernetes/sig-scalability-test-failures

[2018-02-05 18:05] #59278 closed

[2018-02-05 18:25] krzyzacy commented on #59349
ah, thanks!

[2018-02-05 18:28] yujuhong commented on #42188
The issues (e.g., log rotation and metadata) are tracked separately. Rate limit is something we are not considering in the near term. Closing this issue.

[2018-02-05 18:28] #42188 closed

[2018-02-05 18:32] mattfarina commented on #58017
FYI, Helm recently upgraded to client-go and api-machinery for k8s 1.9. Helm users are now starting to experience this bug. For example, it's impacting istio users. There are some details on kubernetes/helm#3382.

It may be worth noting that this impacts projects like istio that are used with Kubernetes. Istio uses CRDs today.

While the issue is in SIG API Machinery it's already starting to impac

[2018-02-05 18:35] sjenning commented on #57865
I was able to recreate with a StatefulSet.

He is the kubelet + controller-manager log for the time between the pod delete request and the StatefulSet controller creating the new one (with a 10s yet unexplained delay)

[code]

There are a number of `kubelet_pods.go:919] Pod "web-0_default(6b28ae97-0a9f-11e8-bf96-1c1b0deeddfa)" is terminated, but some containers have not been cleaned up: [0xc42114e

[2018-02-05 18:48] DirectXMan12 commented on #43357
please don't piggyback on different issues.  If you're seeing it with a different controller, please file a new bug

[2018-02-05 18:50] Stono commented on #58017
It's also worth noting that the original issue above mentioned "under load".  I can confirm the issues in the linked helm issue occur consistently and load is not a factor

[2018-02-05 18:56] bacongobbler opened #59362 "`kubectl apply` on a apps/v1beta2 Deployment renders as extensions/v1beta1"
/kind bug

Running `kubectl apply` on a `apps/v1beta2` deployment creates a deployment with apiVersion set to `extensions/v1beta1`, but the version in `kubectl.kubernetes.io/last-applied-configuration` is `v1beta2`. I'm not sure if the transformation is a bug or a feature. I expected the deployed resource to be of type `apps/v1beta2`, as requested.

Reproducing the error can be done on both v1.8 a

[2018-02-05 18:58] bacongobbler commented on #59362
/sig api-machinery

[2018-02-05 19:12] bsalamat commented on #54189
The change @misterikkit sent improved performance of the predicate, but apparently it is not enough to make our large scale scalability tests happy.

[2018-02-05 19:14] yujuhong commented on #58823
@jberkus @idvoretskyi a lot of these are ongoing work in the past few releases to bridge the gap between docker and non-docker runtimes using CRI. They are not used with docker (the only runtime with in-tree support), and are in general not user facing. If all milestone issues must link to a feature, hope this would help: https://github.com/kubernetes/features/issues/552

[2018-02-05 19:15] bsalamat commented on #54164
We need to find other improvements for the predicate. If we cannot find major improvement opportunities, we may have to change its design to be more scalable at the cost of the reducing its flexibility.

[2018-02-05 19:15] yujuhong commented on #47872
https://github.com/kubernetes/features/issues/552

[2018-02-05 19:17] nikhita commented on #59362
Dupe of https://github.com/kubernetes/kubernetes/issues/58895.

Copying @liggitt's reply from https://github.com/kubernetes/kubernetes/issues/58895:

[code]

[2018-02-05 19:20] bacongobbler commented on #59362
thanks for pointing out the dupe! Couldn't find it when searching. Closing.

[2018-02-05 19:20] #59362 closed

[2018-02-05 19:20] msau42 commented on #44528
Hm maybe @kubernetes/sig-network-misc knows something that can be done here.

The problem is volume mounts are done by kubelet, so the nfs server IP/hostname needs to be accessible to kubelet's network.

[2018-02-05 19:21] liggitt commented on #58017
If you are encountering this issue outside of load situations where frequent patches are being done on the same object, then you are observing a different issue

[2018-02-05 19:22] wojtek-t commented on #54164
@bsalamat - my personal opinion is that we need to change the design anyway. Having it work both ways (i.e. existing pods everywhere impacting placing of our pod) will always be painful (especially for things like cluster autoscaler)

[2018-02-05 19:24] Stono commented on #58017
@liggitt could you have a quick read of https://github.com/kubernetes/helm/issues/3382 please and advise if you want a separate issue raising then?

[2018-02-05 19:25] #56462 closed

[2018-02-05 19:26] tallclair commented on #18044
@gyliu513 What component are you looking at? I see the flags there in 1.9:

[code]

[2018-02-05 19:32] jtgans commented on #44528
Which on a baremetal deployment should be the node's/host's network, correct?

[2018-02-05 19:32] tallclair commented on #59331
/cc @crassirostris @soltysh

[2018-02-05 19:34] msau42 commented on #44528
Correct.  So if your nfs server is being provided by a Pod, then you need the node/host network to be able to access the pod's network, which like you pointed out, could be tricky depending on how you've configured your network.

[2018-02-05 19:36] wu105 commented on #43504
Affinity indeed is a workaround.

I selected the preferred rule because it does not seem to require the first pod specifies no affinity which would require the user to track the number of pods using the pv.

I used the max weight 100 in the hope that k8s will never ignore the “preferred” rule and gets a pod on the wrong node.

In summary, the original pod spec --
apiVersion: v1
kind: Pod
metadata:

[2018-02-05 19:42] nikhita commented on #58017
I haven't tried the example given inhttps://github.com/kubernetes/helm/issues/3382#issuecomment-363151748 with Helm but it works for me with kubectl:

1. Create the CRD

[code]

2. Create the custom resource.

[code]

3. Change `.metadata.labels.version` to 24 and apply again:

[code]

[2018-02-05 19:45] liggitt commented on #58017
@nikhita @Stono tracked the helm issue down to an assumption around returned error types when doing a conversion that no longer holds in 1.9

see https://kubernetes.slack.com/archives/C0EG7JC6T/p1517858912000634 for discussion with @mattfarina

[2018-02-05 19:45] msau42 commented on #43504
@bsalamat anything we can do about the scenario where you specify podAffinity and it's the first pod (which is going to have no pods matching the selector yet)?

[2018-02-05 19:45] jtgans commented on #44528
Okay, so I see two solutions to this problem, then:

  1. Adjust the `Service` for kube-dns from `ClusterIP` to `NodePort` and adjust the node's `/etc/resolv.conf` to point to the local IPs to get name resolution working.
  2. Adjust the `Service` for NFS or GlusterFS (in my case) from `ClusterIP` to `NodePort`, and then change the `StorageClass` to point to one of the node's static IPs in the nod

[2018-02-05 20:08] sjenning commented on #42644
Something has cause these flakes to increase in frequency.  Three in the pass few hours.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/59158/pull-kubernetes-unit/78634/

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/58714/pull-kubernetes-unit/78613/

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56525/pull-kubernetes

[2018-02-05 20:19] liggitt commented on #42644
I think it has been intermittent but present for a while...

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=TestPatch

http://storage.googleapis.com/k8s-metrics/flakes-latest.json shows 40 failures

[2018-02-05 20:36] greg-jaunt commented on #23896
Deleted snarky comments aside, we use Kubernetes because it is an opinionated framework.  Kubernetes is able to grow so quickly because there is one good implementation of every needed feature for the rest of the Kubernetes community to build on.  IMO, it doesn't make sense for Kubernetes to be opinionated about everything except templating.

[2018-02-05 20:37] bamb00 commented on #38923
Hi,

I'm running into the same error.  Is there a workaround?

        Feb 05 20:05:53 minikube kubelet[3704]: E0205 20:05:53.570497    3704 nestedpendingoperations.go:263] Operation for "\"kubernetes.io/rbd/[10.97.152.94:6790 10.104.200.62:6790 10.111.171.163:6790]:k8s-dynamic-pvc-ea65c0b0-0a99-11e8-a29b-0800272637bb-ea742ba1-0a99-11e8-9a4d-0242ac110004\"" failed. No retries permitted until 2018-

[2018-02-05 20:38] #58296 closed

[2018-02-05 20:40] mattfarina commented on #58017
We have a proposed PR to fix this in helm. turns out to be a small change. See https://github.com/kubernetes/helm/pull/3459

[2018-02-05 20:40] #53224 closed

[2018-02-05 20:40] #54164 closed

[2018-02-05 20:40] colemickens opened #59366 "PodTolerationRestriction is insufficient for implementing cluster wide policies"
`PodTolerationRestriction` is an admission controller for restricting tolerations that may be placed on pods, based on the target namespace, and depending on the conditions, a cluster-wide default tolerations list, and a cluster-wide whitelist.

However, this still seems to leave large gaps in clusters where administrators don't restrict the creation/modification of namespaces. Since the cluster-w

[2018-02-05 20:44] bgrant0607 commented on #23896
I suggest that people interested in helping with this topic participate in the Application Definition Working Group:

https://github.com/kubernetes/community/tree/master/wg-app-def

[2018-02-05 20:45] bsalamat commented on #54164
@wojtek-t I agree. The symetrical application of anti-affinity is problematic. I also think we need to change it.

[2018-02-05 20:56] joemiller opened #59368 "kube-proxy/iptables, UDP conntrack data not removed on endpoint changes"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
When deleting/recreating pods backing a UDP service, traffic from external senders stops flowing.

**What you expected to happen**:
Traffic would continue to flow to new pods.

**How to reproduce it (as minimally and precisely as possible)**:
Based on reading of similar issues and commit messages it seems like

[2018-02-05 20:59] lavalamp commented on #59347
If this is configured to be on but not functioning, then proxy, port forward, exec, attach, some admission webhooks and some aggregated apiservers are all broken. The latter two are concerning as they are part of the control plane. I think calling the control plane unhealthy for this state is fair.

We don't really have a concept of "live but in degraded mode", but maybe we should invent one.

[2018-02-05 21:03] bsalamat commented on #54189
@shyamjvs This issue is not about general performance improvment of affinity/anti-affinity. It was to implement a particular improvment which is already implemented. There are other performance improvement issues. I am going to close this one.

[2018-02-05 21:03] #54189 closed

[2018-02-05 21:07] joemiller commented on #59368
/sig network

[2018-02-05 21:11] lavalamp commented on #59266
/assign @cheftako

[2018-02-05 21:12] lavalamp commented on #59338
/assign @yliaog

[2018-02-05 21:15] lavalamp commented on #59366
/sig auth
/sig scheduling

[2018-02-05 21:15] lavalamp commented on #59366
/remove-sig api-machinery

[2018-02-05 21:16] lavalamp commented on #59216
I agree with @liggitt; this seems to be heading in the direction of turning RBAC into a DSL / Turing complete language. Please reopen with more explanation if you think that's not the right solution.

[2018-02-05 21:16] #59216 closed

[2018-02-05 21:17] wojtek-t commented on #59347
Let's be clear - I'm not saying this shouldn't be part of healthcheck.
I guess what I'm saying is:

1. the installSSHKey should either be called more often or the timeout sholld be longer than 10m (single failure shouldn't cause going into non-health state)
2. I think we should check both things at start, instead of entering the "healthy" state without setting up tunnelers.

Does that make sense?

[2018-02-05 21:20] wojtek-t commented on #54164
Great. @davidopp - do you agree with that too?

[2018-02-05 21:21] msau42 opened #59369 "Local PV node affinity test failing again"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
The tests are failing again because the scheduler messages have changed yet again.  I'm going to remove the check for the exact messages because this is at least the 3rd time this has happened.  Instead depend on unit/integration tests to check for specific failures.

Also there's no need for the

[2018-02-05 21:22] #49857 closed

[2018-02-05 21:24] RenaudWasTaken opened #59370 "[DevicePlugin] Change the multiple Allocate call to a single Pod Admit call"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig node
/area hw-accelerators
/cc @vishh @jiayingz @vikaschoudhary16

**What happened**:
At the moment device plugin Allocate call is called once for each container at Pod admition time.
As we introduce the Initialize call, this behavior is no longer needed.
This behavior also leads to weird API semantics and makes it really hard for th

[2018-02-05 21:31] krzyzacy commented on #1806
cc @mattmoor @cjwagner @BenTheElder

[2018-02-05 21:38] shyamjvs commented on #54189
Sounds good. Thanks.

On Mon, Feb 5, 2018, 10:04 PM Bobby (Babak) Salamat <
notifications@github.com> wrote:

[2018-02-05 21:39] yujuhong commented on #58823
@Random-Liu is going to own the issue unless we find someone else with more bandwidth this release.

[2018-02-05 21:45] bsalamat commented on #43504
@msau42 if two pending pods had affinity to one another, they would never be scheduled. Affinity is a way of specifying dependency and two pods having affinity to one another represents a circular dependency which is an anti-pattern IMO.

[2018-02-05 21:51] liggitt commented on #59366
I'm skeptical that locking down pods in such an environment is going to be possible, if arbitary users have power over the kube-system name space.

This is definitely a feature, not a bug

[2018-02-05 21:52] liggitt commented on #59351
/sig auth
/assign @mikedanese

[2018-02-05 22:03] wu105 commented on #43504
@bsalamat Maybe we can add a rule requiredDuringSchedulingIgnoredDuringExecutionOrFirstPod_, or introduce a weight, e.g., 101 for the preferredDuringSchedulingIgnoredDuringExecution rule that would make it behave like the requiredDuringSchedulingIgnoredDuringExecution when there is at least one pod matching.

[2018-02-05 22:08] jaxxstorm opened #59372 "Node bootstrapping certificate should include an IP SAN"
/kind feature

**What happened**:

I created a cluster with kubeadm, and then configured the API Server flag `--kubelet-certificate-authority`. Everything seemed fine until I tried to use helm, at which point I got the following error:

[code]

**What you expected to happen**:

When boostrapping the nodes, an IP SAN should be included in the CSR generated and sent via the kubelet. This seems to be

[2018-02-05 22:08] jaxxstorm commented on #59372
/sig-auth
/sig-cluster-lifecycle

[2018-02-05 22:25] kevincvlam opened #59376 "Occasional ImagePullBackOff Errors when pulling large docker images"
/kind bug

**What happened**:

Occasionally we'll run into ImagePullBackOff errors on our alpha GKE cluster on kube v1.8.5-gke.0  when pulling large docker images for containers within a pod. It sometimes won't work for 30+ mins and then start working again later. The larger docker images we occasionally have issues with are around 1-2GB.

Example events from describing the pod:

[code]
I have cor

[2018-02-05 22:27] kevincvlam commented on #59376
@kubernetes/sig-storage-bugs
@kubernetes/sig-gcp-bugs

[2018-02-05 22:29] colemickens commented on #59366
Thanks @liggitt. Do you see this as an additive feature to `PodTolerationRestriction`, or a new controller? If it's the former, do you feel it can be added even after promoting `PodTolerationRestriction` to stable?

[2018-02-05 22:32] colemickens commented on #59366
@liggitt Restricting access to the kube-system namespace is not sufficient for the scenario I described.

I don't think it's unreasonable that a cluster admin wants to enforce that a certain NS, and only that certain NS, is permitted to schedule to a set of nodes, while still allowing users to create arbitrary other namespaces that don't have the ability to tolerate the controller node's taint.

[2018-02-05 22:34] colemickens commented on #59366
I guess your point is that "arbirtary NS creation" implies the ability to update the `kube-system` namespace as well and there's no way to be more granular today. As such, I agree this sounds like a new feature then.

Do you see this functionality as an extension to PodTolerationRestriction, or its own new controller? If the former, should we gate promoting PTR to stable on this functionality, or

[2018-02-05 22:43] sjenning commented on #57865
Nevermind the part about not being able to create it with a bare pod.  I *can*.  I forgot I set a termination grace period of 0 on the pd and it *is* related to the grace period.

What happens is that the kubelet is not cleaning up the failed container and thus the pod is not cleaned up and not being completely deleted.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods

[2018-02-05 22:44] liggitt commented on #59366
If this ended up happening, I would anticipate that new function being controlled via a new option in the configuration file, which we could do in a backwards compatible way

[2018-02-05 22:55] bvandewalle commented on #59376
I have seen the same thing, also with smaller images sometimes.

It randomly solves itself after a couple retries.

[2018-02-06 00:00] RenaudWasTaken opened #59380 "[DevicePlugin] Support Unlimited Resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig node
/area hw-accelerators
/cc @vishh @jiayingz @vikaschoudhary16 @fabiand

**What happened**:

@fabiand mentioned there are non limited resources, things like "capabilitites" of a host (i.e. /dev/kvm) which his important to consider during scheduling, but not really limited how often it can be consumed by pods.

Currently a hack wou

[2018-02-06 00:13] liggitt commented on #59372
The linked method requests a client certificate, not a serving certificate. The resulting certificate is not intended to be used for serving.

/close

[2018-02-06 00:13] #59372 closed

[2018-02-06 00:14] bsalamat commented on #43504
so, the "OrFirstPod" part causes the pod to be scheduled even if the affinity rule cannot be satisfied? It could work, but I have to think about possible performance implications of this. Affinity/anti-affinity already causes performance issues in medium and large clusters and we are thinking about stream-lining the design. We must be very careful about adding new features which could worsen the s

[2018-02-06 00:18] liggitt commented on #59372
Node bootstrapping only obtains a client certificate. A serving certificate is either 1) provided via command line flags, 2) self signed by the kubelet, or 3) requested via (separate) CSR if the alpha "rotate serving certs" feature is enabled.

[2018-02-06 00:26] bsalamat commented on #58505
Kubelet does not reject a BE pod with high priority either.

[2018-02-06 01:03] bsalamat opened #59381 "Disallow PriorityClass names with 'system-' prefix for user defined priority classes"
In a recent discussion on #58444, @liggitt suggested to keep priority class names that start with "system-" for system use only and not allow user defined priority classes to start with this prefix. Given that we have reserved priority values > 1 Billion for system use only, it makes sense to reserve a prefix as well to ensure that predefined priority classes won't conflict with user defined ones

[2018-02-06 01:09] CaoShuFeng commented on #59331
/assign

[2018-02-06 01:24] k82cn commented on #58505
I mean BE pod with Memory Pressure toleration :)

[2018-02-06 01:36] bsalamat commented on #58505
I see. The pod may still be scheduled without any problem if another node in the cluster is found that does not have memory pressure. So, I wouldn't call this inconsistent behavior of components.
Anyway, I leave it up to SIG node to decide whehter the current behavior should be changed.

[2018-02-06 01:38] resouer opened #59384 "Should clean up scheduler integration test by using feature gate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently, equivalence class is enabled and controlled by boolean. We should enable this feature for all scheduler integration test.

**What you expected to happen**:

 We should use feature gate and enable it by default.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?

[2018-02-06 01:42] lichuqiang commented on #59370
[code]
That would be a big change,
so you mean we should rely on the plugin itself to decide which devices to allocate? IMO a plugin should not be aware of the logic inside a pod when managing allocation(i.e. devices of a init container could be reused by regular containers and other containers)

[2018-02-06 01:45] ScorpioCPH commented on #54011
@vishh I think this is a tracking issue :)

[2018-02-06 02:01] RenaudWasTaken commented on #59370
No, I'm suggesting we merge the N allocation calls into one call at pod admission.

That's going to be a requirement for GPU sharing (e.g: [MPS needs a daemon to run](https://docs.nvidia.com/deploy/pdf/CUDA_Multi_Process_Service_Overview.pdf)) and in general pod level sharing of devices.
Any reasons or arguments to support your opinion that I might not have considered?

[2018-02-06 02:09] charly37 opened #59387 "BASIC authentication not generated on python client lib"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Probably not a bug...more like a removed feature

/kind feature

**What happened**:
BASIC auth not generated on client libraries

**What you expected to happen**:
I am reviewing a ticket on the Python kubernetes-client generated library. This issue is related to the lack of support of BASIC authentication on the python generated library and track here:

[2018-02-06 02:20] lichuqiang commented on #59370
Oh, I have no objection if you suggest things this way. It is because I didn't see input of device info in struct `AdmitPodRequest` above that I thought you were suggesting moving the decision part to plugins.

[2018-02-06 02:22] #56976 closed

[2018-02-06 02:29] zjj2wry commented on #29307
@projecthubble
Try to delete rs to see if the pod can be deleted

[2018-02-06 02:31] waynr commented on #46172
I currently have very little understanding of the issue here, but according to this serverfault post, there seems to be a bug in Linux related to what y'all are describing:
https://serverfault.com/questions/606043/iptables-counters-restore-when-using-quotas-not-working-as-expected

I've got an RC build of linux 4.15 checked out on my computer and it doesn't look like a whole lot has changed. In fa

[2018-02-06 02:43] #59060 closed

[2018-02-06 02:49] clivez commented on #58853
@yliaog , ok, that is a good news, k8s in our environment will be upgraded to 1.9 in the near future.
I think this issue could be closed now, thank you!

[2018-02-06 02:49] #58853 closed

[2018-02-06 02:51] msau42 opened #59390 "Move volume scheduling and local storage to beta"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests
/assign

**What happened**:
Move APIs to beta.  No new functionality added for this change.

[2018-02-06 03:22] AkihiroSuda commented on #57356
Has anyone looked into whether `f_fsid` can be used for this purpose?
http://man7.org/linux/man-pages/man2/statfs.2.html

[code]

btrfs implementation: https://github.com/torvalds/linux/blob/e237f98a9c134c3d600353f21e07db915516875b/fs/btrfs/super.c#L2168-L2175
zfs implementation: https://github.com/zfsonlinux/zfs/blob/1b66810bad0a893031c6d49613aa83dc359bf034/module/zfs/zfs_vfsops.c#L1302-L1303

My

[2018-02-06 03:27] divyenpatel commented on #43527
@eicnix  @jingxu97 volume metric support for vSphere is added with https://github.com/kubernetes/kubernetes/pull/59328.
You can close this issue.

[2018-02-06 03:48] islinwb commented on #52128
@msau42  I came cross the issue when launching a local cluster using `hack/local-up-cluster.sh` in Kubernets v1.9.2.
Contens as follows repeated in `/tmp/kubelet.log`.
[code]
and then
[code]
[code]
[code]

[2018-02-06 03:58] msau42 commented on #52128
@islinwb yes like I mentioned earlier, you will hit this issue if:
- you run a Local K8s cluster < 1.7 built with go 1.8+
- the directories don't get cleaned up when you bring the cluster down
- you bring up another cluster

[2018-02-06 04:10] larryck opened #59393 "CephFS volumes need --id argument to mount correctly with ceph-fuse"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I tried to use pvs provisioned by the cephfs storageclass build from https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs. PV and pvc are OK but it failed when mounting. here is the output of the ceph-fuse mount command:

I try the ceph-fuse mounting outside kubernetes environment, and found tha

[2018-02-06 04:21] wu105 commented on #43504
The root  issue is assigning a node to a pod and its pv so that they are on the same node.
The new wrinkle is the pv is assigned to a node first via another pod.  If we can check the pv and if it is already attached to a node,
we should assign the same node to the pod.  Then we would not need this explicit affinity workaround, just like we do not need to spell out the affinity of pvs to its pod.

[2018-02-06 04:30] kprabhak commented on #56706
@max-rocket-internet The fact that you have fragmentation occurring (from your fragments failed counters) seems to suggest that you've some mtu mismatches. Could you check the mtu in your Calico manifests, both in the cni configuration, as well as in the host (felix) configuration, and check if they are aligned with your interface mtu.

[2018-02-06 04:51] kevincvlam commented on #59376
@bvandewalle thanks for +1'ing, out of curiousity are you also hosting your images on docker hub? I'm wondering if moving to Google Container Registry will help with these issues.

[2018-02-06 04:53] msau42 commented on #43504
@wu105 like I mentioned earlier, I think the proper solution will be access mode enforcement.  The PV NodeAffinity feature does not help here as it is unrelated to volume attaching + access modes.  We cannot assume that all PVs are only attachable to a single node at a time.  There have actually been quite a few other issues discussing this and the challenges: #26567, #30085, #47333

[2018-02-06 05:14] #59351 closed

[2018-02-06 05:14] #44420 closed

[2018-02-06 05:27] piaoyu opened #59395 "Ingress ResourceVersion change make many event cause etcd down"
**What happened**:   Ingress  ResourceVersion change  make many event  cause etcd  down

APIVersion:"extensions", ResourceVersion:"362943464", FieldPath:""}): type: 'Normal' reason: 'UPDATE' Ingress gnucyw/****
I0206 12:57:57.300714      62 event.go:218] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"gnucyw", Name:"answer2-task-prod-sz", UID:"c9437e72-019c-11e8-9112-6c92bf6b352c", APIVersion:

[2018-02-06 05:31] piaoyu commented on #59395
/sig sig-scalability

[2018-02-06 05:53] smarterclayton commented on #59314
In that case we should just make the node controller do it based on the config - it can observe the active config correctly.  But if we really care about security, then the node shouldn’t be able to set taints or labels on create other and only the node controller manages that set.  That seems strictly better, although disabling node labels ends up being a painful deprecation security process.

[2018-02-06 05:54] smarterclayton commented on #59314
Disabling/preventing the kubelets node-labels and register-taints flags, that is

[2018-02-06 05:58] jianglingxia opened #59397 "How to use RBAC to binding the spec user?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I add --authorization-mode=RBAC to apiserver and restart kube-apiserver then create a role and rolebinding following

[root@controller:/home/ubuntu/RBAC]$ cat role.yaml
[code]

[root@controller:/home/ubuntu/RBAC]$ cat rolebinding.yaml

[code]

but how can I create many user in k8s cluster? I command with: kubectl get

[2018-02-06 05:59] jianglingxia commented on #59397
/sig auth
/cc @liggitt
thanks very much!

[2018-02-06 06:24] ApsOps commented on #25456
@nsidhaye I had upgraded Kubernetes and docker and haven't seen this issue again. Though I've seen a couple of other docker related issues. It's almost always a docker problem.

[2018-02-06 06:25] liubog2008 commented on #54632
1. A token can be validated by multiple clusters
2. Dynamically client registration

I have tried authorized party claim, but `azp` is confusing and only dex implements it. And `dex` can't solve a problem that a powerful "client" will be set in apiserver  and all other clients need to trust it or be trusted by it.

[2018-02-06 06:27] CaoShuFeng commented on #59331
@smurfralf
I can't reporduce this issue with the steps you provided.

I think the reproduce step should be:
1. define a policy rule like this:
[code]
2. make an unauthorized request:
[code]
3. check the audit log file, we found that not only Tom's request are saved, but also the unauthorized one
[code]

[2018-02-06 06:31] CaoShuFeng commented on #59331
https://github.com/kubernetes/kubernetes/pull/59398

@smurfralf
Does the pull request fix this issue?
Sorry that I haven't understand your reproduce steps.

[2018-02-06 06:38] wu105 commented on #43504
I quickly went through those referenced issues.

I did not quick capture all the fine points, but I think one issue is to nail the definition of RWO, then, if it does not  cover all the needs or variations, we may need to add additional modes.

For instance, single node pv attachment constraint comes from openstack cinder, mixed with file systems on the volume that can support multi-writes, or app

[2018-02-06 07:04] eyz commented on #53089
Would this explain why pods on macvlan could not query kube-dns, as it is exposed on a service IP as well?

[2018-02-06 07:10] wanghaoran1988 commented on #59397
@jianglingxia k8s didn't manage users dirrectly.
This is the doc about the Authentication : https://v1-8.docs.kubernetes.io/docs/admin/authentication/
Also liggitt delivered talk in the kubecon, https://www.youtube.com/watch?v=Nw1ymxcLIDI , this should be a good one for you understanding the RBAC.

Hope this can help you.

[2018-02-06 07:13] m1093782566 opened #59402 "Automatically load ipvs required kernel modules in startup scripts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Per #56732, seems init container can not cover all user cases - running kube-proxy without container for example.

We need to automatically load kernel modules in all user cases so that declaring IPVS proxy GA in v1.10. Following are the list which should be coverd.

- [ ] kubeadm
- [ ] kubernetes-anywhere
- [ ] gce

cc

[2018-02-06 07:13] m1093782566 commented on #59402
/sig network

[2018-02-06 07:13] m1093782566 commented on #59402
/area ipvs

[2018-02-06 07:28] superbrothers opened #59403 "[cluster/update-storage-objects.sh] ValidationError(Endpoints): missing required field "subsets" in io.k8s.api.core.v1.Endpoints"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I tried to use `cluster/update-storage-objects.sh` and got the following errors:

[code]

These errors occur in k8s > 1.7.

**What you expected to happen**:

I expect that the execution of `cluster/update-storage-objects.sh` succeed.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything e

[2018-02-06 07:29] stewart-yu commented on #59402
kubeadm
/assign

[2018-02-06 07:32] zhangxiaoyu-zidif commented on #59235
/hold cancel

[2018-02-06 07:34] zhangxiaoyu-zidif commented on #59397
/cc

[2018-02-06 07:36] zhangxiaoyu-zidif commented on #59397
does it has the same feature of openshift's user.

[2018-02-06 07:36] larryck commented on #59393
/sig storage

[2018-02-06 07:44] bsalamat commented on #57471
@ravisantoshgudimetla
FYI, I have identified the following system critical add-ons so far that need to have a critical priority:

Kube-dns: system-cluster-critical
Kube-proxy: system-node-critical
Kubernetes-dashboard: system-cluster-critical
fluentd: system-node-critical
ip-masq-agent: system-node-critical
nvidia-gpu-device-plugin: system-node-critical
metadata-proxy: system-node-critical
metrics

[2018-02-06 07:44] superbrothers commented on #59403
@kubernetes/sig-cluster-lifecycle-bugs

[2018-02-06 08:04] Lion-Wei commented on #59402
I can do kubernetes-anywhere part : )

[2018-02-06 08:10] Random-Liu commented on #57356
@AkihiroSuda Thanks a lot! This is very useful. Given so, I don't think `f_fsid` will be useful, because it doesn't seem that we can use the id to retrieve the information. Given how `statvfs` is defined, I think we should just let container runtime return a path to the image filesystem.

And kubelet can use `statvfs` to get file system information.

[2018-02-06 08:11] mlmhl commented on #59393
Does this problem still exist in the latest k8s version?

[2018-02-06 08:12] Demonsthere commented on #38923
@bamb00 I found that the linux kernel required for ceph is at least 4.10 for Ubuntu. Plus you need the kernel modules libceph and rbd enabled

[2018-02-06 09:18] Imunhatep opened #59406 "Pulling images from AWS ECR with docker credsStore option"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug
/sig aws

**What happened:**

Configuring docker authentication with:
[code]
This config.json paths are:
~/.docker/config.json
/var/lib/kubelet/config.json

Docker pull cli works as expected, though kubelet cant pull image.

[code]

**What you expected to happen:**

Kubelet successfully pulls out image from ECR

**How to reproduce it (as minimal

[2018-02-06 09:19] jsafrane commented on #58147
fixed by #58256
/close

[2018-02-06 09:19] #58147 closed

[2018-02-06 09:24] lcfang opened #59407 "A fail case about e2e_node test."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When I run the command like this:
`make test-e2e-node TEST_ARGS="--kubelet-flags=--fail-swap-on=false" FOCUS="should report resource usage through the stats api"`
to test e2e_node cases, but this test failed:
[code]

I checked kubelet logs, some logs are:

[code]
[code]

**Is there some one else has the similar problem, or have som

[2018-02-06 09:24] lcfang commented on #59407
/sig-node

[2018-02-06 09:40] liubin opened #59409 "AWS SDK should be update to support `cn-northwest-1` region"
Recently AWS released `cn-northwest-1` region in China, and the vendored AWS SDK by kubernetes is not updated to the latest official version, so the volume function can't used in `cn-northwest-1` region.

[2018-02-06 10:03] gmarek commented on #58635
+1 this sounds exactly like a thing Taints are for. I'd go with a name more connected to the reasoning behind the Taint (sth. like DisksUnmounted or sth like that), than a generic "Node is shut down" case. Unless someone can give me a guarantee that it's the only case we'd like to force detachment. Together with the Taint we'll need to have an admission plugin that will add a toleration for this t

[2018-02-06 10:04] manikantag commented on #57828
Duplicate of https://github.com/kubernetes/kubernetes/issues/43962

[2018-02-06 10:05] manikantag commented on #42298
Duplicate of https://github.com/kubernetes/kubernetes/issues/43962

[2018-02-06 10:10] serathius commented on #55887
Looks like both Metric Server and Heapster resources requirements are scaled to the point that they do not fit on dedicated heapster minion. They request about 8.3 GB of memory both on machine that provides 16GB, resulting in only one of them running and second one being stuck in unschedulable state.

[2018-02-06 10:17] lf1029698952 opened #59411 "kubectl exec <pod> -it bash，and auto exit pod after 1 minitue"
/kind bug

**What happened**:
I upgrade my k8s cluster to v1.7.11,
I use kubectl exec <pod> -it bash to enter the pod out of cluster, but it will auto exit pod after 1 minitue,
and I kubectl exec <pod> -it bash in cluster master node, it dones't auto exit.
but This situation does not exist in kubernetes v1.4.6

I suspect network firewall.
Is there anyone in this situation? Please guide to me, than

[2018-02-06 10:18] lf1029698952 commented on #59411
/sig pod

[2018-02-06 10:25] liubin commented on #59409
/sig storage

[2018-02-06 10:29] shyamjvs commented on #55887
Thanks for looking into this @serathius . We're [using](https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-e2e-gce-large-correctness.env#L8) a special node (of size n1-standard-4) for heapster to run - seems like that's not enough.

Could you confirm if everything goes fine with n1-standard-8?

[2018-02-06 10:30] wojtek-t commented on #55887
Sounds reasonable - bumping it should be trivial.

[2018-02-06 10:48] superbrothers commented on #59078
Below is simple lazy load.

[code]

[2018-02-06 10:55] kargakis commented on #39775
/lifecycle frozen
/remove-lifecycle rotten

[2018-02-06 10:55] kargakis commented on #39775
@kubernetes/sig-cli-feature-requests

[2018-02-06 10:55] lf1029698952 commented on #59411
This is usually the load balancer timeout in front of an apiserver. Check the timeout from the ELB.
Thanks!
[https://github.com/kubernetes/kubernetes/issues/15702](url)

[2018-02-06 11:38] mjaow opened #59412 "what is the difference between container_manager_linux.go in kubelet and dockershim?"
I find two container_manager_linux in kubelet and they are all used.What is the diference between both of them?
One of them is kubelet/cm/container_manager_linux.go,another one is kubelet/dockershim/cm/container_manager_linux.go.
If I want to add some cgroup args to kubelet ,which code should I focus on?

/sig node
@dims

[2018-02-06 11:49] max-rocket-internet commented on #56706
@kprabhak

Thanks for the suggestion. I don't think any MTU settings are set by default with a kops cluster. I checked the deployment for `calico-kube-controllers` and the daemonset `calico-node` and the configmap `calico-config`. Nothing about MTU. So I guess it's just using [the default](https://docs.projectcalico.org/v3.0/usage/configuration/mtu).

I checked the MTU of `eth0` on a node and it i

[2018-02-06 11:53] hzxuzhonghu commented on #56998
I think this issue can be closed. Since admission refactor has been done.

[2018-02-06 11:54] serathius commented on #55887
I verified that heapster and metric server is working, but didn't check if HPA tests pass.

[2018-02-06 12:12] shyamjvs commented on #55887
Would you be able to run those HPA tests on a large cluster (at least 2k-node)? Then we may be able to get rid of [this TODO](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling/horizontal_pod_autoscaling.go#L69) and have HPA tests included back in our scalability correctness tests.

[2018-02-06 12:16] hzxuzhonghu opened #59415 "Should we support pass request.Context into `attributesRecord`?"
Now just think of one use cases:

1. we want to support audit log for admission plugins.
2. pass something through admission plugins

[2018-02-06 12:16] hzxuzhonghu commented on #59415
/sig apimachinery

[2018-02-06 12:17] hzxuzhonghu commented on #59415
/sig api

[2018-02-06 12:17] hzxuzhonghu commented on #59415
/sig api-machinery

[2018-02-06 12:34] charly37 commented on #59387
/sig api-machinery

[2018-02-06 13:02] smurfralf commented on #59331
@CaoShuFeng: Fix looks good. Maybe this will help with the reproduce steps:
1) rules are applied in the order they are found. As soon as a rule matches (returns true) then the other rules below it are ignored.
2) The reproduce steps define two rules. If the first rule matches then the second one doesn't get used.
3) The first rule in the reproduce step says "Level: None" which means audit logging

[2018-02-06 13:30] toredash opened #59418 "AWS: service.spec.externalTrafficPolicy does not work with ELB on 1.7"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Creating a service type of LoadBalancer, with annontation `service.spec.externalTrafficPolicy` on AWS, creates an broken ELB that does not work.

The ELB does not work since all compute nodes are reported as unhealthy, as the health check is pointing to an non existing target (HTTP:<port>/healthz)

**What you expected to

[2018-02-06 13:33] toredash commented on #59418
/sig area/platform/aws
/sig network

[2018-02-06 13:34] toredash commented on #59418
/sig area/platform/aws

[2018-02-06 13:36] toredash commented on #59418
/sig platform/aws

[2018-02-06 13:36] toredash commented on #59418
/sig platform/aws
/sig network

[2018-02-06 13:37] fahimulhaque opened #59419 "Unable to connect to the server: Service Unavailable in windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
 kubectl get services --all-namespaces
Unable to connect to the server: Service Unavailable

**What you expected to happen**:
It should list all the services running.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
 kubectl config view
apiVersion: v1
clusters:
- cluster:
    ce

[2018-02-06 13:37] serathius commented on #55887
On it

[2018-02-06 14:27] mslebodnik commented on #56006
same issue here. wondering why connecting  https://10.96.0.1:443/api/v1/services?resourceVersion=0:
when API server is listnening on 6443

root# kubectl logs -n kube-system kube-dns-6f4fd4bdf-v88k8 kubedns
E0206 14:20:24.171371       1 reflector.go:201] k8s.io/dns/pkg/dns/dns.go:147: Failed to list *v1.Endpoints: Get https://10.96.0.1:443/api/v1/endpoints?resourceVersion=0: dial tcp 10.96.0.1:443:

[2018-02-06 14:29] liggitt commented on #59314
That is the goal, trying to work through how to transition there. It probably looks like whitelisting existing labels/taints the kubelets set, but in the meantime I want to avoid expansion of kubelet control over taints/labels

cc @mikedanese @kubernetes/sig-auth-misc

[2018-02-06 14:42] kad commented on #59109
@RenaudWasTaken currently, Allocate() is called how many times in case of presence of Init containers, and multiple containers in the pod ? If normal container in the pod asking for device, does that mean that device will be also exposed to initcontainer ?

[2018-02-06 14:46] RenaudWasTaken commented on #59109
Once per container requesting the advertised resource. If an init container requests a device and a normal container requests a device, the current algorithm will re-use that device.

[2018-02-06 14:58] deads2k commented on #56998
Yes, this is done.

[2018-02-06 14:58] #56998 closed

[2018-02-06 15:15] zioproto opened #59421 "Openstack Cloud provider mixes IPv4 subnets and IPv6 nexthops in Neutron routes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The Kubernetes master created routes in the neutron router that assign an IPv6 nexthop for a IPv4 prefix. This is not possible and causes a reachability problem between the pods.

Example route:
[code]

**What you expected to happen**:

When describing a node the master has the following information
[code]

It should det

[2018-02-06 15:49] redbaron commented on #40973
/remove-lifecycle stale

[2018-02-06 15:51] larsha commented on #41125
Hi @JeanMertz, unfortunately I didn't find a solution to it. I just stopped using preemptibles for now. But I will follow the issue you referenced here.

[2018-02-06 16:02] leblancd commented on #59421
@zioproto - Thank you for this detailed analysis. Seems to me that the best way to address this would be to add an IP family argument to getAddressByName() to let it know what V4/V6 family to look for for a next-hop address. In the calls to getAddressByName(), this argument could be set based on the family of route.DestinationCIDR.

[2018-02-06 16:36] #59255 closed

[2018-02-06 16:44] pohly opened #59425 "TestGetMultipleTypeObjectsAsList: times out when .kube/config specifies server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After setting up minikube once, I proceeded to compiling and testing kubernetes directly. The minikube VM is inactive, but I have that cluster as default in .kube/config.

With commit 68da45623f5b14f61d9ce51b4946c11e034eb25c (current master), I noticed that "make test" failed with TestGetMultipleTypeObjectsAsList timing

[2018-02-06 16:45] pohly commented on #59425
/sig testing

[2018-02-06 16:50] kargakis opened #59426 "TestCRDDeletionCascading flake"
@kubernetes/sig-api-machinery-bugs
/kind test-flake
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/59325/pull-kubernetes-unit/78868/

[2018-02-06 16:51] kargakis commented on #59426
/kind flake

[2018-02-06 17:03] khenidak commented on #58635
I am against taints in cloud controller. The cloud controller should provide/extend existing instance interface with *IsRunning(nodeName)*. This can be translated by the node controller to taints/actions as needed. If the cloud provider put the taint then it needs to maintain a reference to tainted nodes and update them accordingly (i.e node came back up, node is not coming back up etc).

Keep in

[2018-02-06 17:05] rramkumar1 opened #59427 "IPVS should have more e2e tests in CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

IPVS only has one test currently in OSS CI and that test has been failing in the bootstrapping stage for quite a while.

https://k8s-testgrid.appspot.com/sig-network-gce#kubeadm-gce-ipvs

Not only does this test need to be fixed, but more tests need to be added before IPVS can go GA.

- [x] Fix kubeadm test
- [x] Run sig-network tests
- [x]

[2018-02-06 17:25] miketonks commented on #55271
Same issue with metrics-server, using minikube.  Also reproduced on our test cluster.

Steps to reproduce:

- Set up localkube
- Install metrics-server https://github.com/kubernetes-incubator/metrics-server/tree/master/deploy
- Stop minikube: sudo minikube stop
- Start minikube: sudo -E minikube start --vm-driver=none

Expected: Kubernetes is running

Actual: Kubernetes is dead

Logs:

[code]

Wor

[2018-02-06 17:27] liggitt commented on #59425
/sig cli

[2018-02-06 17:29] miketonks commented on #55271
Related: https://github.com/kubernetes-incubator/metrics-server/issues/39

[2018-02-06 17:38] Blasterdick commented on #43409
Might be useful for GKE users [cluster role binding & principalEmail](https://github.com/coreos/prometheus-operator/issues/357#issuecomment-363498455).

[2018-02-06 18:26] yujuhong commented on #30702
Discussed in the sig-node meeting today. The conclusion is that since the runtime stats is purely for monitoring and/or testing, we do not want to support this through CRI. Instead, during node setup, the runtime cgroup can be passed to kubelet through the existing --runtime-cgroup flag.

Closing the issue.

[2018-02-06 18:26] #30702 closed

[2018-02-06 18:38] liggitt commented on #59397
the "User" bound in a rolebinding or clusterrolebinding is any username authenticated by your apiserver's configured authenticators (https://kubernetes.io/docs/admin/authentication/#authentication-strategies)

For example, it could be the CN of an X509 client certificate, the username (`system:serviceaccount:<namespace>:<name>`) of a service account, the username claim of an OIDC token, etc.

/clo

[2018-02-06 18:38] #59397 closed

[2018-02-06 18:40] #58984 closed

[2018-02-06 18:42] pohly commented on #59425
Let me add that `KUBECONFIG=/dev/null` as env variable can be used to work around the failure. Then strace shows no attempts to read ~/.kube and there is no connect system call. Tests also run much faster.

This could be done via the Makefile, but this doesn't look like the right solution to me because a plain "go test" command would still fail.

I started looking at the code in order to figure ou

[2018-02-06 18:45] discordianfish commented on #59356
/sig cli

[2018-02-06 18:45] eroji opened #59430 "403 Forbidden when attempting to init, google cloud storage bucket hosting kubernetes releases returns errors"
I am trying to experiment and learn how to configure a cluster from scratch using kubeadm which involves a lot of trial-and-error. Suddenly I am getting this response when I tried to re-init the cluster.
`unable to fetch file. URL: "https://dl.k8s.io/release/stable-1.9.txt" Status: 403 Forbidden`

Checking the URL, the XML response is the following.
[code]
I am guessing I hit some sort of spam blo

[2018-02-06 18:48] jpbetz commented on #57447
@garyyang85 See also https://github.com/kubernetes/kubernetes/issues/57440 for configuring/debugging `--etcd-servers-overrides`.

[2018-02-06 18:52] liggitt commented on #59415
I don't think so... that object is serializable today, and request.Context would never be serializable

/close

[2018-02-06 18:52] #59415 closed

[2018-02-06 18:54] liggitt commented on #59403
field should be marked optional, since it is allowed to be empty/excluded

[2018-02-06 18:57] liggitt commented on #59403
/assign

[2018-02-06 18:57] pohly commented on #59425
Hmm, not quite. I'm pretty sure that worked for `go test`, but a full `KUBECONFIG=/dev/null make test` just failed with:
[code]

[2018-02-06 18:59] msau42 commented on #43504
Agree, I think some new access mode API is needed to handle this case.  Let's use #26567 to continue the discussion since that issue has the most history regarding access modes.

[2018-02-06 19:03] liggitt commented on #59425
cc @cjcullen @krousey
for problems with kubeconfig lock files

[2018-02-06 19:04] liggitt commented on #58957
cc @cjcullen
issues with kubeconfig lock files

[2018-02-06 19:04] liggitt commented on #32606
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-06 19:06] resouer opened #59432 "pull-kubernetes-bazel-test is flaky due to fail image pulling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/59335/pull-kubernetes-bazel-test/29571/

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2018-02-06 19:13] bspaans commented on #59430
I'm hitting a similar issue and it looks like kubernetes-releases went private. Could you reopen, @eroji?

I think this might be @kubernetes/sig-release-bugs ?

[2018-02-06 19:18] yliaog commented on #59338
@wojtek-t could you please provide more details, like how to reproduce this bug?

[2018-02-06 19:26] bspaans opened #59433 "The google cloud storage bucket that hosts the Kubernetes binaries has gone private"
/kind bug

**What happened**:

The bucket returns error:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Go here https://storage.googleapis.com/kubernetes-release/release/v1.9.1/kubernetes-client-linux-amd64.tar.gz

**Anything else we need to know?**:

"duplicate" of #59430, but got closed prematurely.

[2018-02-06 19:27] liggitt commented on #59433
duplicate of https://github.com/kubernetes/kubernetes/issues/59430

[2018-02-06 19:27] #59433 closed

[2018-02-06 19:27] liggitt commented on #59432
duplicate of https://github.com/kubernetes/kubernetes/issues/59430

[2018-02-06 19:27] #59432 closed

[2018-02-06 19:30] liggitt commented on #59430
xref https://status.cloud.google.com/incident/container-engine/18003

[2018-02-06 19:37] pohly commented on #59425
On Tue, 2018-02-06 at 19:04 +0000, Jordan Liggitt wrote:

To be fair, pointing KUBECONFIG to a special file like /dev/null is
probably not something that is worth supporting. I was just looking for
 a workaround other than "remove my ~/.kube directory".

[2018-02-06 19:44] liggitt commented on #59425
isolating $HOME would probably work as well (e.g. `HOME=/tmp/foo make test`)

[2018-02-06 20:14] zioproto commented on #59421
Issue https://github.com/kubernetes/kubernetes/issues/55202 is probably related.

[2018-02-06 20:19] bspaans commented on #59430
Seems to be fixed now. Thanks!

[2018-02-06 20:22] wojtek-t commented on #59338
I don't know - I've seen that in one of our prod clusters.

[2018-02-06 20:32] jasonrooks commented on #58582
I've been running into this a lot and just occurred again.  I'm trying to install on CentOS 7.
On a fresh CentOS 7 install preformed the following steps
`kubeadm init`

It ran as expected and I was able to run
`kubectl get pods`

I decided I wanted to use flannel and saw that I needed to use
`kubeadm init --pod-network-cidr=10.244.0.0/16`
instead so I ran
`kubeadm reset`
then
`kubeadm init --pod-n

[2018-02-06 20:32] niftyworx commented on #55094
Able to make 2 Ubuntu Virtualbox VMs worked with Calico:

Check if your VMs are underpowered.

CTTO: https://stackoverflow.com/questions/42222513/kubernetes-kube-dns-pod-is-pending

[2018-02-06 20:39] srudenko opened #59435 "azure-file volume ignores mountOptions (dir_mode, file_mode)"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
I attempted to setup Azure File Volume using azureFile with mountOptions: dir_mode=0777, file_mode=0777.  The volume was successfully mounted, however file_mode and dir_mode contains default values (https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv#mount-options)  file_mode=0755,dir_mode=0755 fo

[2018-02-06 20:44] #58558 closed

[2018-02-06 21:47] sbezverk commented on #45190
@kokhang Do you have any plans to revive this initiative?

[2018-02-06 21:48] yastij opened #59438 "Kubectl top no doesn't wotk when using HPA without heapster"
Currently

[code]
Doesn't work when using HPA without heapster, there's some files to change under `utilmetrics/`

we might want this for 1.10

/assign
/sig cli

[2018-02-06 21:49] yastij commented on #59438
/area kubectl

[2018-02-06 21:53] #57110 closed

[2018-02-06 22:19] mml commented on #59347
@wojtek-t they both make sense, but we need to be careful that the apiserver pod spec's liveness intervals will play well with this since the apiserver will start out unhealthy and these can be somewhat high-latency operations.

[2018-02-06 22:27] janetkuo commented on #59213
To clarify, we don't actually care about RS label changes in this case. What we do care about is the change of ownership between Deployment and its RSes.

[2018-02-06 22:35] #57269 closed

[2018-02-06 23:00] cjcullen commented on #59425
I'm fine w/ `KUBECONFIG=/dev/null` failing if you try to actually use a kubeconfig file, but we can probably make that test more hermetic.

[2018-02-06 23:02] Cynerva commented on #54482
We're having a hell of a time working around this in the Canonical Distribution of Kubernetes. Since `--cloud-provider=aws` changes the node name, and we can't override it with `--hostname-override`, we're forced to make changes elsewhere in cluster configuration:
* We have to use the correct node name when creating an auth token for kubelet, otherwise the Node authorizer won't allow kubelet to re

[2018-02-06 23:12] thockin commented on #54337
Would another (simpler) solution here be to simply add the NAT IP as a "local" IP (e.g. setting it on a local interface) so that validation would succeed?

[2018-02-06 23:54] crimsonfaith91 commented on #59213
@janetkuo Update description of the issue. Tell me if it is still confusing.

[2018-02-06 23:55] liggitt commented on #54482
Why are you required to use non-standard hostnames for AWS?

[2018-02-06 23:55] crimsonfaith91 commented on #59213
@enisoc Thanks for pointing to the `testDeploymentsControllerRef` e2e test.

[2018-02-07 00:03] Random-Liu commented on #57356
It turns out that cadvisor is using `statfs` today (see [here](https://github.com/google/cadvisor/blob/master/fs/fs.go#L621)), so we can just rely on it.

The only thing we need to change is:
1) Let container runtime return the path of image filesystem.
2) Kubelet pass it to cadvisor and get filesystem stats.
3) Kubelet pass it to cadvisor to get device name, and compare with rootfs to identify wh

[2018-02-07 00:24] Nefelim4ag opened #59446 "Does it possible to add Retaining_Unsafe reclaim policy or something?"
Example of use case:
MySQL Galera Cluster or ElasticSearch cluster with statefulset and clustered storage,
we can use Dynamic PV/PVC provisioning for Horizontal Pod Autoscaling,
Use storage class to ensure that this clustered app will use only this set of PV/PVC.

Currently with Retaining policy, we will get plenty of Released PV.
With Deleting policy, that will lead to full resync on new pod crea

[2018-02-07 01:08] cheftako opened #59450 "[flaky unit test] pull-kubernetes-bazel-test failing on pkg/master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind flake

**What happened**: Mutliple PRs are seeing the same flaky failure on bazel test running pkg/master

**What you expected to happen**: Test to pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Seeing the following in the log.

2018-02-06 22:37:40.535268 I | integration: te

[2018-02-07 01:08] cheftako commented on #59450
/sig api-machinery

[2018-02-07 01:08] dashpole commented on #59155
It looks like we are double counting the writable layer (du run from the path we are using to monitor container disk usage, in a container that has written 100Mb, 102400Kb to disk):
`$ du .`
`4       ./upper/dev/pts`
`4       ./upper/dev/shm`
`12      ./upper/dev`
`4       ./upper/sys`
`4       ./upper/proc`
`4       ./upper/etc`
`102428  ./upper`
`4       ./merged/home`
`4       ./merged/dev/pts`

[2018-02-07 01:23] hzxuzhonghu commented on #59415
Our product has a private admission plugin in-tree and really need context to pass something useful.
Though this is just a private requirement, seems not common.

[2018-02-07 01:24] hzxuzhonghu commented on #59415
But if we want audit for in-tree plugins, is there a way to do?

[2018-02-07 01:26] rmb938 opened #59451 "Namespaced CRD cannot used label selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When listing a namespaced CRD with a valid label selector no results are returned

**What you expected to happen**:

Results returned

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a namespaced CRD.
2. Create a resource with that CRD with labels
3. List the resources with a valid label sele

[2018-02-07 01:30] rmb938 commented on #59451
/sig api-machinery
/area custom-resources

[2018-02-07 01:44] ConnorDoyle commented on #50658
/remove-lifecycle stale
"Scenario B" from the PR description is not fixed yet AFAIK.

[2018-02-07 01:58] liggitt commented on #59415
See work in progress in https://github.com/kubernetes/kubernetes/pull/58143

[2018-02-07 02:35] jhorwit2 commented on #59412
@mjaow Please use the mentioned contact methods [here](https://github.com/kubernetes/community/tree/master/sig-node#contact) for asking questions like this. You'll receive prompter responses.

Thanks!

/close

[2018-02-07 02:35] #59412 closed

[2018-02-07 02:38] jhorwit2 commented on #59411
/sig network

[2018-02-07 02:43] lf1029698952 commented on #59411
This is my haproxy timeout config 50s, modify 10m, fix it.
I hope to help people who have the same situation with me.

[2018-02-07 02:49] #58163 closed

[2018-02-07 03:08] timothysc commented on #59275
@kubernetes/sig-node-bugs - Is there a run a static manifest that's not a master test case in the node-e2e suite?

[2018-02-07 03:18] hoffer2github opened #59456 "Pods in StagefulSet with initContainers stuck in Terminating status for roughly one minute."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When my sts has initContainers in it's pods, i found it alway updates very slow. Pod stucked in Terminating state for about a minute when its init containers are waiting for recycled. I check the kubelet log and find that init containers are always removed by container garbage collector, which runs every minute.

[code]

**What you

[2018-02-07 03:20] CaoShuFeng commented on #59331
@smurfralf

Your step is right. Thanks.

Let me describe this isssue in one sentence:
`A 401 request should not match an audit policy with user or group specified.`

[2018-02-07 03:21] dhirajh commented on #59450
Seeing this issue with my PR too: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/59303/pull-kubernetes-bazel-test/29687/

[2018-02-07 03:23] hoffer2github commented on #59456
/sig node

[2018-02-07 03:24] jamesgetx commented on #59456
I ran into similar symptoms, when using sts with a initcontainer. the issue is similar to #54814

[2018-02-07 03:28] chentao1596 commented on #59451
According to my test, this Volume is not create correctly, i thought this is the real reason.
[code]
[code]

[2018-02-07 03:30] lcfang commented on #59407
When I run the command like this:
make test-e2e-node TEST_ARGS="--kubelet-flags=--fail-swap-on=false" FOCUS="should report resource usage through the stats api"
to test e2e_node cases on another ubuntu system, I get the similar result:
[code]
in the process , I run the command `curl http://127.0.0.1:10255/stats/summary` to get the summary :
[code]
It indeed doesn't match the expection, Is there so

[2018-02-07 03:35] rmb938 commented on #59451
It doesn't seem like you waited after creating the CRD before applying the actual resource. CRDs take like 5 seconds to become "active" before the api recognizes them.

[2018-02-07 03:36] bgrant0607 commented on #35234
/remove-lifecycle stale
/lifecycle frozen

[2018-02-07 03:44] Lion-Wei commented on #59427
To be clear, you mean add ipvs CI jobs for different cloud providers, such as /cluster/gce built environment. Or mean fix current CI job and add more test cases?

[2018-02-07 03:45] chentao1596 commented on #59451
You are right, i try to split them into different files, and the Volume can be created.
I create them in the different version(1.8.5 and 1.9.2), different result show,such as(1.8.5):
[code]
and(1.9.2)
[code]

I thought this is because of the labels not set correctly.
Do you working for it? If not, i will happy to do it.

[2018-02-07 03:49] liggitt commented on #59430
/close

[2018-02-07 03:49] #59430 closed

[2018-02-07 03:54] rmb938 commented on #59451
I currently do not have a PR open to fix this issue and I wouldn't really know where to start. If you know of a fix feel free to do it.

[2018-02-07 04:35] fejta-bot opened #59458 "Failure cluster [b15fa7...] failed 120 builds, 88 jobs, and 1 tests over 1 days"
### Failure cluster [b15fa73a792c6e9f81ed](https://go.k8s.io/triage#b15fa73a792c6e9f81ed)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    88 jobs failed,    120 builds failed.
Failure stats cover 1 day time range '6 Feb 2018 02:41 UTC' to '7 Feb 2018 02:41 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Extract | 88 |

##### T

[2018-02-07 05:00] khenidak commented on #56751
CC: @jdumars

[2018-02-07 05:01] wgliang opened #59460 "The number of parallel workqueue should be settable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

In the actual production environment, scheduler shows different performance when I set the number of parallel workqueue. And after continuous testing, the number that eventually fits me is 14.So I suggest that we should configure it.

**What you expected to happen**:
In the case of the default number of concurrent (

[2018-02-07 05:03] khenidak commented on #56569
@djsly while i understand the need for proxy in an on-prem deployment. I really don't see a use case for it on the cloud. Can you please expand more? is this for masters + nodes to ARM?

[2018-02-07 05:04] wgliang commented on #59460
/sig scheduling

[2018-02-07 05:34] rramkumar1 commented on #59427
I would say for sure fix the kubeadm test that is failing.

After that, I would suggest adding a couple new CI jobs. In my opinion, if you are able to pass the sig-network tests and the ingress tests with ipvs enabled, then I would be pretty confident everything is working as expected.

For example, https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce displays the results for the sig-network t

[2018-02-07 05:34] #58766 closed

[2018-02-07 05:34] #58989 closed

[2018-02-07 05:43] wgliang commented on #59460
https://github.com/kubernetes/kubernetes/blob/fa85bf7094a8a503fede964b7038eed51360ffc7/pkg/scheduler/core/generic_scheduler.go#L332

[2018-02-07 05:54] kirsazlid opened #59461 "kubeadm init problem: kube-proxy CrashLoopBackOff"
OS Version: CentOS Linux release 7.4.1708 (Core)
K8s Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T21:07:38Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Docker Version: docker-ce.17.09.0
#######
After installing all components of k8s 1.9 on my server, and finishing

[2018-02-07 05:56] brentpearson commented on #57280
"I recommend you configure your host-local ipam plugin to use a dataDir in /run, instead of the default in /var/lib. That will mean that IPAM is cleared on every reboot."

Could someone please explain how to do this?

[2018-02-07 06:14] wgliang commented on #59460
/assign @bsalamat

[2018-02-07 06:17] chentao1596 commented on #59451
ok, i try to do it, ^_^!

[2018-02-07 06:27] hpham04 opened #59462 "Kubernetes cluster is suddenly down"
Yesterday, my kubernetes cluster is suddenly down
I tried to investigate as the follows but not sure what the reason was:
- Unable to access Kube Dashboard, it returns HTTP ERROR 502
- Unable to access deployed apps on cluster, it also returns 502 error
- Cannot use kubectl command, it shows the message: "Unable to connect to the server: x509: certificate has expired or is not yet valid"
With this

[2018-02-07 06:31] markrj commented on #30403
Noticed this while browsing for "help wanted" issues. It seems like this issue can be cleaned up / closed; earlier comments confirmed that this was already done.

See https://chocolatey.org/packages/kubernetes-cli

Also see https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-with-chocolatey-on-windows

@mcandre - could you comment with the close command?

Alternatively, @xiangpengzhao,

[2018-02-07 06:50] bgrant0607 commented on #2114
/remove-lifecycle rotten

[2018-02-07 06:53] bgrant0607 commented on #11488
/remove-lifecycle rotten

[2018-02-07 06:53] bgrant0607 commented on #47172
Dupe of #11488

[2018-02-07 06:53] #47172 closed

[2018-02-07 06:56] xiangpengzhao commented on #30403
@markrj thanks for notifying!
/close

[2018-02-07 06:56] #30403 closed

[2018-02-07 07:15] lostllama commented on #43329
@caesarxuchao @liggitt @dims

Why was this closed?

I'm using a Kubernetes 1.9 cluster and this is still an issue. If I pass propagationPolicy as part of the query string (as per the documentation), I still receive the same error message.  If I pass a DeleteOptions object with the propagationPolicy within, it works.

[2018-02-07 07:30] wojtek-t commented on #59347
Actually, I think that:
- (1) isn't very controversial
- (2) - agree that it's fairly non-trivial and I had the same concern that you have (otherwise I would have already done that). I'm not entirely sure how to solve it, but where we are now seems definitely like bad state to me.

[2018-02-07 07:30] bgrant0607 commented on #23233
/remove-lifecycle stale
/lifecycle frozen

[2018-02-07 07:35] #58031 closed

[2018-02-07 08:01] vikaschoudhary16 commented on #59370
I am just thinking if passing container name could be a concern. Thinking more on it.

[2018-02-07 08:10] JackyBeatles opened #59467 "Node status down -> pod status unknown k8s v.1.9.2 can't terminating"
![image](https://user-images.githubusercontent.com/1269261/35904925-9824e096-0c17-11e8-98d7-d1f31dad074d.png)

![image](https://user-images.githubusercontent.com/1269261/35905241-eeee0eb0-0c18-11e8-8ac1-7eb46510275b.png)

[2018-02-07 08:26] ankon commented on #41633
From my perspective this is still something I'd like to see.

[2018-02-07 08:55] nikhita commented on #59451
Labelselectors work fine for custom resources in general. It fails here because of `sandwichcloud.com/attached_to: null` (if you remove this label, everything will work fine).

In 1.9, we introduced:

https://github.com/kubernetes/kubernetes/blob/11104d75f15e43ac41aa5d7226837f8a81523572/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/helpers.go#L152-L168

This sees that there is a no

[2018-02-07 08:58] wojtek-t commented on #59338
I've just seens this in 1.7.11 release too

[2018-02-07 08:59] nikhita commented on #59451
Btw for native resources, nil values are allowed:

[code]

[code]

[2018-02-07 09:03] nikhita commented on #59451
[code]

We should be replacing nil values with an empty string...

[2018-02-07 09:08] soltysh commented on #17902
@bgrant0607 given your suggestion here: https://github.com/kubernetes/kubernetes/issues/23276#issuecomment-359567626 I'd propose closing this.

[2018-02-07 09:17] cvallance commented on #25908
Just wanted to throw in my +1 for this. I've got the same GCE Cloud SQL Proxy issue as everyone else. It's killing me... helm deploy fails which in turn fails my terraform apply.

Would really like to see some kind of resolution on this... jist from @ajbouh looks like it could work... but jeez, that's hacky.

[2018-02-07 09:22] chentao1596 commented on #59451
Yes, i get the same result when following your. Will you fix it? If not, i will try to.

I think this will be better.

[2018-02-07 09:24] nikhita commented on #59451
Yes, I'll do it. :)

/assign

[2018-02-07 09:25] dmathieu commented on #41633
@ankon I've given this a go. There was actually a todo for it in the comments.

[2018-02-07 09:29] chentao1596 commented on #59451
It's great, i will stop my work, thank you!

[2018-02-07 09:33] dmathieu commented on #47112
It seems this issue was fixed in 0d39648775c0a5ab2bb99754f9181c51adc29544, and can be closed.

[2018-02-07 09:33] dmathieu commented on #47112
/close

[2018-02-07 09:33] #47112 closed

[2018-02-07 09:34] fabiand opened #59476 "Qualitative resource/capabilities reporting for device-plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

**What happened**: Trying to create a device-plugin for infinite resources

**What you expected to happen**: A non-accounted way to do this

**How to reproduce it (as minimally and precisely as possible)**: Create a device plugin for `/dev/kvm`

**Anything else we need to know?**: A workaround is to use an arbitrary high

[2018-02-07 09:35] fabiand commented on #59476
Dupe of #59380

[2018-02-07 09:35] #59476 closed

[2018-02-07 09:36] RJacksonm1 commented on #25908
For anybody else requiring `cloudsql-proxy`, would it fit your use-case to run the `cloudsql-proxy` as a DaemonSet? In my case I had both a persistent `Deployment` and a `CronJob` requiring the proxy, so it made sense to detach it from individual pods and instead attach one instance per node.

[2018-02-07 09:37] gce-2017 opened #59477 ""kubectl logs <pod> -f" gets stuck for high output logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/area kubectl

**What happened**:
The output of `kubectl logs -f` gets stuck for high output logs. Restarting the command doesn't fix the issue.
**What you expected to happen**:
To continue getting output from the command.
**How to reproduce it (as minimally and precisely as possible)**:
$ gcloud container clusters create --cluster-version=1

[2018-02-07 09:39] tianshapjq commented on #44033
@DirectXMan12 sorry I did not catch your point quite clearly. I want to know if any plans for supporting HPA in StatefulSet or prs on implementing this? We do have some scenarios required this feature, thanks :)

[2018-02-07 09:44] kargakis commented on #41633
/remove-lifecycle rotten

[2018-02-07 09:47] ash2k commented on #59451
From https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

I think `null` in yaml/json should be considered an invalid input. `null` is not an empty string.

[2018-02-07 10:02] #21858 closed

[2018-02-07 10:08] pingpilot opened #59478 "kube-apiserver panics on deployment of CRD"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When deploying a `rook.io/v1alpha1` CRD the kube-apiserver (run from gcr.io/google_containers/hyperkube:v1.9.2) panics with `fatal error: concurrent map writes`.

**What you expected to happen**:
When deploying a CRD to the cluster, the kube-apiserver does not panic and updates the map appropriately.

**How to reproduce

[2018-02-07 10:18] chaosaffe commented on #59478
@kubernetes/sig-api-machinery-bugs
/sig onprem
// cc @ash2k @sttts

[2018-02-07 10:28] devlounge commented on #25908
Yes,

We have decided to remove the cloudsql proxy sidecars and built a pool of
cloudsql proxies in their central namespace, it works perfectly and allows
move scalability and easier deployments.
Now we can run jobs and cronjobs without any issue.

On Wed, Feb 7, 2018 at 9:37 AM, Rob Jackson <notifications@github.com>
wrote:

[2018-02-07 10:28] mborsz commented on #59338
I just tried to debug this a bit and my understanding is that:
1. strSliceContains call that causes panic according to stacktrace:
https://github.com/kubernetes/kubernetes/blob/1789a8513c745f274ff8ddc3c46948a4a2ff2468/vendor/golang.org/x/net/http2/configure_transport.go#L28-L30

2. NextProtos at that point is somehow malformed, because according to stacktrace:

slice of nil array and len = cap = 2

[2018-02-07 10:39] chaosaffe commented on #59478
Relevant section of the logs:
[code]

[2018-02-07 10:49] Bhuvanesh1208 commented on #49628
can anyone tell me what is the exact replacement for register-schedulable=true in kubernates 1.9

[2018-02-07 10:50] nikhita commented on #59451
From https://golang.org/pkg/encoding/json/

Go treats a `null` in yaml/json as empty for strings. So `null` _is_ an empty string. Weird.

So it is a valid input for labels.

[2018-02-07 10:53] BookOfGreg opened #59482 "kubectl apply will not add protocols to services that already exist"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I have an existing TCP service, when I try to add UDP to it, it will report success but nothing changes.
My `kubectl get services`

will show `hello-world      ClusterIP      10.0.96.64     <none>          8301/TCP`

**What you expected to happen**:

I expect `kubectl get services`

to show `hello-world      ClusterIP

[2018-02-07 10:56] sttts opened #59483 "Refactor kube/cloud-controller-manager bootstrap wiring"
Both controller manager still share a lot of code. We should follow the apiserver example and introduce a split between modular option structs and config. Each options struct holds a number of flags and is able to validate and create a config out of it. This way we can reuse options between different control plane components.

TODO:
- [x] PR for an initial split https://github.com/kubernetes/kuber

[2018-02-07 10:57] BookOfGreg commented on #59482
@kubernetes/sig-cli-bugs
I hope this is your field. My apologies if I have tagged an inappropriate group.

[2018-02-07 10:58] sttts commented on #59483
/cc @stewart-yu @hzxuzhonghu

[2018-02-07 11:01] mborsz commented on #59338
I think the comment from net/http doesn't apply here, as we are calling http2.ConfigureTransport concurrently:
https://github.com/kubernetes/kubernetes/blob/7aed66305127904a874289a1c78f5b5d5ad6b80c/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L101-L112

and http2.ConfigureTransport doesn't give any thread safe guarantees

[2018-02-07 11:06] kargakis commented on #32220
/remove-lifecycle rotten

[2018-02-07 11:06] sttts commented on #59451
What does the Golang json parser say? I guess that's the reference if we don't want to diverge from native resource semantics.

[2018-02-07 11:07] kargakis commented on #32220
/help

[2018-02-07 11:42] ankon commented on #41633
Lovely, thanks a lot!

[2018-02-07 11:46] ash2k commented on #59451
Go json parser unmarshals `null` as `nil` interface i.e. type pointer is `nil` and data pointer is also `nil`. That means you can distinguish between json `null` and an empty string. Hope this example clarifies what I mean: https://play.golang.org/p/uLvUvQzTeiB

[2018-02-07 11:47] djsly commented on #56569
@khenidak thanks for your reply, may you elaborate on the reasons why you do not see the use case with the cloud? Currently our security requirement enforces us to setup an outbound rule on all of our NSGs (nodes/master) to prevent the internet access. (e.g. DENY outbound internet)

Since both kubelet/controller-manager are accessing the ARM api and the LOGIN api to perform multiple interaction wi

[2018-02-07 11:48] ash2k commented on #59451
Hm... if it is `map[string]string` then it converts `null` into and empty string https://play.golang.org/p/PVYArMEYZSN

[2018-02-07 11:50] ash2k commented on #59451
If there is a number - it fails. https://play.golang.org/p/IZ3T21mGf5r
This is inconsistent. I think it should be failing to convert `null` into anything except `nil` interface. Just like it cannot convert a number.

[2018-02-07 11:53] kargakis commented on #21657
/remove-lifecycle stale
/lifecycle frozen

[2018-02-07 11:58] ash2k commented on #59478
`fatal error: concurrent map writes` means there is something else that is mutating the map that backs the unstructured. So I tried to find what it can be. The code tries to set the self link in the objects it got from the store:
https://github.com/kubernetes/kubernetes/blob/5fa2db2bd46ac79e5e00a4e6ed24191080aa463b/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go#L255-L261

Is it safe in

[2018-02-07 12:01] kargakis commented on #33041
Related (maybe a dupe): https://github.com/kubernetes/kubernetes/issues/43846

[2018-02-07 12:02] kargakis commented on #43846
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-07 12:14] ash2k opened #59485 "CustomResourceDefinitions should support maps in OpenAPI schema"
**What happened**:
Currently it is not possible to set `additionalProperties` in a CRD validation section of the spec to a schema. If set, validation rejects such CRD. That means OpenAPI schema for CustomResourceDefinitions does not support describing fields that are "maps" i.e. objects that do not have a pre-defined set of properties. Examples of such fields are labels and annotations in object m

[2018-02-07 12:18] nikhita commented on #59485
/cc @deads2k @liggitt @mbohlool @enisoc @jennybuckley

[2018-02-07 12:20] jhorwit2 commented on #59411
Sounds like this is resolved then! Good to hear!

/close

[2018-02-07 12:20] #59411 closed

[2018-02-07 12:21] mkumatag commented on #53360
/remove-lifecycle stale

[2018-02-07 13:00] phsiao commented on #59177
I suspect it is working as expected, retry succeeded if you don't continue to see the error.

The haproxy config has a idle timeout of 10 seconds on the client side, and I think the closed socket caused the error and the retry.

[2018-02-07 13:26] kad commented on #59109
That might open can of worms actually :(

- if init container is using musl as libc, and workload container is using glibc, Allocate() response for them might be different (e.g. different mounts for libraries). Simple reuse of response might not be enough.
- Device plugin might be interested in doing a bit different steps in case of init containers and normal containers. Especially in the cases wh

[2018-02-07 13:33] smurfralf commented on #59331
@CaoShuFeng: Cool. Your sentence is correct. However its just a bit more restrictive than I'd want for the issue summary because 401 may not be the only way to get an event without user info.

[2018-02-07 13:35] rmb938 commented on #59451
I do have a use case for null (it just makes my logic easier) but I have no problem changing my stuff to handle an empty string instead.

[2018-02-07 13:39] deads2k commented on #59483
I think this is a very good idea and the general tenor of https://github.com/kubernetes/kubernetes/pull/59408 is moving us in the right direction.

[2018-02-07 14:17] soltysh commented on #38756
Based on https://github.com/kubernetes/kubernetes/pull/58468#issuecomment-360794229 this is not going to happen. Additionally, we're starting to deprecate `kubectl scale job` functionality in 1.10.

[2018-02-07 14:17] #38756 closed

[2018-02-07 14:19] soltysh commented on #52657
There's an open issue to improve job controller not to rely on pod being around, see https://github.com/kubernetes/kubernetes/issues/28486

As one of the main authors of jobs and cronjobs I'd be more than happy to help you with that, but I won't be able to implement it myself, due to time contraints. Maybe for 1.11 :/

[2018-02-07 14:26] jasonrooks opened #59487 "kubeadm init hangs after kubeadm reset with api server error PostStartHook "ca-registration" failed:"
/kind bug

**What happened**:
"kubeadm init" hangs for about 30 minutes or so then returns with failed message.

**What you expected to happen**:
"kubeadm init" should complete within a couple of minutes with information on how to join the nodes.

**How to reproduce it (as minimally and precisely as possible)**:
On a fresh CentOS 7 install preformed the following steps
kubeadm init

It ran as expe

[2018-02-07 14:37] nikhita commented on #15000
/remove-lifecycle stale

[2018-02-07 14:57] halfa commented on #29322
/close (can I do that ?)

[2018-02-07 15:00] iwankgb commented on #59380
@RenaudWasTaken are you aware of this project: https://github.com/kubernetes-incubator/node-feature-discovery? It could suite your needs, I believe. Maybe it is tome to consider adding its features to main Kubernetes repository?
CC: @balajismaniam, @ConnorDoyle

[2018-02-07 15:12] yastij commented on #46888
/close

[2018-02-07 15:12] #46888 closed

[2018-02-07 15:24] pohly opened #59488 "k8s.io/kubernetes/pkg/kubelet/cm/devicemanager test failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm running into a k8s.io/kubernetes/pkg/kubelet/cm/devicemanager test failure during "make test". To get more output and to avoid issue #59425 , I am using:
[code]

**What you expected to happen**:

The test should pass.

**How to reproduce it (as minimally and precisely as possible)**:

It happens for me only when runn

[2018-02-07 15:24] bgrant0607 commented on #17902
@soltysh Agreed. We should deprecate rolling-update.

I would like to see `kubectl run` adopt a set of labels that more closely match best practices, though.

[2018-02-07 15:24] #17902 closed

[2018-02-07 15:39] soltysh commented on #39775
I'd see this being solve similarly to how allow clearing env vars, which is:
[code]
I don't think that a separate command is necessary. Eventually, where needed `--overwrite` should be added.

[2018-02-07 15:39] ingvagabund commented on #55253
/remove-lifecycle stale

[2018-02-07 15:46] msau42 commented on #55174
/remove-lifecycle stale

[2018-02-07 15:52] rphillips commented on #58012
I created a prototype using container builder and uploaded the repo here https://github.com/rphillips/kubernetes-base-image-builder. The resulting build pushes all supported cross platform images into GCR.

[2018-02-07 15:55] ayushpateria commented on #55538
I'd like to take this up. I'm familiarising myself with the apiextension code base, please give me some time to come up with a PR :)

[2018-02-07 16:00] sdaschner commented on #55667
Update as of today:
In Minikube v0.25.0, Kubernetes 1.9.0, the behavior now seems to work as expected. That is, the service IP doesn't loose requests anymore.

Also -- for the first time, as far as I can tell -- taking the default `strategy.rollingUpdate.maxUnavailable` actually causes the currently running pod to be terminated immediately (if `replicas` is `1`), before the new one is ready. This

[2018-02-07 16:03] khenidak commented on #56569
Thanks @djsly for the context. are you currently solving for this by running a proxy where all `kubelet/controller->proxy->ARM/Login endpoint`?

[2018-02-07 16:07] theothermike commented on #40314
/remove-lifecycle rotten

[2018-02-07 16:20] gnufied commented on #32727
/remote-lifecycle stale

[2018-02-07 16:20] shyamjvs commented on #56032
#59244 seems to be an unrelated failure.

I waited to have at least a couple of failure runs to be able to assert this confidently.
Indeed it seems like the feature has affected the scheduler performance on large clusters (2k-nodes).

I took a look at one of our failed runs, and seems like we got bottlenecked very much by scheduling while saturating the cluster with density pods:

[code]

This is

[2018-02-07 16:23] djsly commented on #56569
@khenidak, that's correct.  We updated our `kubelet` and `kube-controller-manager` systemd environment file to use an external squid http proxy.
[code]

It would make more sense if we could leverage a NSG service tag for all of Azure internal endpoints.
(when we know that the traffic isn't / shouldn't be leaving the internal network)

I guess this solution would fall outside of this particular iss

[2018-02-07 16:42] rramkumar1 commented on #59402
I don't mind taking care of the gce part

[2018-02-07 16:43] yastij commented on #59438
cc @DirectXMan12

[2018-02-07 16:45] pohly commented on #59488
After fixing the /tmp dir handling with PR #59489  I can no longer reproduce this issue. It might be worth keeping this issue open nevertheless, because the issue has not been explained completely and there might be some remaining problem lurking somewhere.

[2018-02-07 16:47] pohly commented on #59488
@RenaudWasTaken I think you originally wrote this test. Perhaps you can comment here and comment on PR #59489?

[2018-02-07 16:49] shyamjvs commented on #58154
@bsalamat That sounds like a good place to start with. Could you please post the numbers below?

One more thing to consider is how reliable are those numbers. IIRC from some earlier comment of @misterikkit, those numbers have quite a bit of variance (he can confirm). If need be, we may also need to fix the machine type/architecture for running the benchmark job.

[2018-02-07 16:49] liggitt commented on #48408
/remove-lifecycle stale
/lifecycle frozen

[2018-02-07 16:50] RenaudWasTaken commented on #59488
/cc @jiayingz @vikaschoudhary16
This test has been re-written multiple times, I'll take a look ASAP :)

[2018-02-07 16:52] soltysh commented on #17902
Would you mind explaining this a bit, not sure I follow. What kind of labels?

[2018-02-07 16:55] ConnorDoyle commented on #53616
@jiayingz do you want to keep this issue around to capture the interaction between scheduler extenders and extended resources? Otherwise we could roll this requirement into issues on cluster-level resources.

[2018-02-07 17:15] rramkumar1 commented on #59402
I would also just like to mention that loading the ipvs modules is a secondary goal here. The most important thing is making sure that the environment variable KUBE_PROXY_MODE is plumbed throughout all startup scripts. This will ensure that an ipvs cluster can be easily brought up and tested.

[2018-02-07 17:16] soltysh commented on #24855
/lifecycle frozen

[2018-02-07 17:19] #55887 closed

[2018-02-07 17:21] soltysh commented on #52211
I'll check out the jobs part.

[2018-02-07 17:34] jiayingz commented on #53616
Thanks for reminding, @ConnorDoyle
The issue probably fits into the requirements on how to better support cluster-level extended resources.
I guess we can keep it fresh for now before we have a concrete plan on how to solve the problem.
/remove-lifecycle stale

[2018-02-07 17:37] zcalusic commented on #50375
/remove-lifecycle stale

[2018-02-07 17:59] nicksardo commented on #53968
This has been addressed.

/close

[2018-02-07 17:59] #53968 closed

[2018-02-07 18:02] yue9944882 commented on #59482
For `Ports` filed in `Service`, its merge key is `Port`:
[https://github.com/kubernetes/kubernetes/blob/99cfb3889e577ce743ef4f9f002d5a1c5fd28d8c/staging/src/k8s.io/api/core/v1/types.go#L3406](https://github.com/kubernetes/kubernetes/blob/99cfb3889e577ce743ef4f9f002d5a1c5fd28d8c/staging/src/k8s.io/api/core/v1/types.go#L3406)
So now when we merge the patch based on current implemetation:
[https://gi

[2018-02-07 18:02] cblecker commented on #14207
Created https://github.com/kubernetes/test-infra/issues/6696 in test-infra.

/close

[2018-02-07 18:02] #14207 closed

[2018-02-07 18:07] plombardi89 commented on #29298
I have a bit of a problem with this design... it's not clear how to use the `shared` value at all when you're running many clusters in a subnet without forcing each cluster to . I have a system which bootstraps ephemeral single-node Kubernetes clusters in an auto scaling group and allows users to claim them on-demand for 1 - 24 hours  (mostly used for experiments and running tests). The number of

[2018-02-07 18:08] soltysh commented on #58748
This is working as expected on lastest master, so it must be one of the changes that was recently introduced. Checking latest 1.8 branch...

[2018-02-07 18:11] nelsonfassis commented on #21613
For CentOS, I fixed this issue using:
echo '1' > /proc/sys/net/bridge/bridge-nf-call-iptables

The problem is that I did it before, it was working and for some reason it changed back to 0 again after a while. I will have to keep monitoring.

[2018-02-07 18:13] cblecker opened #59491 "go-bindata library issue"
It was noted on twitter (https://twitter.com/francesc/status/961249107020001280) that the author of go-bindata (https://github.com/jteeuwen/go-bindata) deleted their account, and someone new created an account under the same name to re-prop up the repo.

We should probably review this as the status of this library (currently vendored in k/k), and if we want to keep using it, fork it, etc.

https:/

[2018-02-07 18:13] cblecker commented on #59491
This was added to vendor here: https://github.com/kubernetes/kubernetes/pull/35373

[2018-02-07 18:15] MrHohn commented on #23225
/remove-lifecycle stale

[2018-02-07 18:15] bsteciuk commented on #53201
FYI, I've started work on this issue, limited to just allowing the ':' character in environment variables for now.

[2018-02-07 18:22] bsalamat commented on #58154
@shyamjvs I took a quick look at a few recent runs and it look to me that the variance is generally acceptable. It is a bit higher for fast tests that take <10ms per iteration, but that's expected.
I will take a more thorough look at the numbers and update here. If the variance is large then we must fix our tests or test environment. Large amount of variance in performance benchmarks means that we

[2018-02-07 18:32] eroji opened #59494 "Load-balanced VIP for HA masters and workers not working"
**What happened**:
I currently have 2 master nodes and 2 worker nodes, each set with its own VIP via a load-balancer. The master nodes are configured in HA and the cluster is functional per kubectl command. The VIP for the master nodes is configured to forward requests on port 6443, the secure port for the apiserver. However after installing the kubernetes-dashboard and I cannot seem to access it

[2018-02-07 18:39] bsalamat commented on #51656
/remove-lifecycle stale

[2018-02-07 18:43] yujuhong commented on #59275
I don't think there are standalone kubelet tests since it's hard to observe the pod status.

[2018-02-07 18:48] sreetummidi opened #59496 "email_verified should not be part of required claims for OIDC JWT Validation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report
/kind bug

**What happened**:
This is related to https://github.com/kubernetes/kubernetes/issues/46806
I am trying to integrate Cloud Foundry UAA (https://github.com/cloudfoundry/uaa) with kubernetes using the OIDC flow and the JWT  validation is failing on the kubernetes side with an error of email_verified is required.

1.  email_verified

[2018-02-07 18:57] kevincvlam commented on #59376
Just want to follow-up to mention this issue is sometimes being observed for images hosted on GCR as well.

[2018-02-07 19:02] whereisaaron commented on #29298
IMHO I think @plombardi89 that kind of a mis-use of an autoscaler :smile: Since 'claimed' nodes are pets not cattle. However, if you want to go this way, then I can suggest you create the autoscaler to create t2.nano instances (somewhere), with a cloudinit script that uses a CloudFormation template to create a tiny subnet, with the one-node cluster and any subnet tags. When the t2.nano gets the sc

[2018-02-07 19:03] bsalamat commented on #56032
I will investigate this issue. We do not expect priority and preemption to cause a significant slow down when cluster has enough capacity to run pods. Preemption logic kicks in when a pod cannot be scheduled because it cannot fit.

[2018-02-07 19:04] nikhita commented on #59451
This is clearly not a valid operation.

For Go, `null` is special and it does not follow rules that it would follow normally (like in the case of number above).

I don't like this but I guess we should follow what Go thinks is right? Not sure.

[2018-02-07 19:06] sreetummidi commented on #59496
@kubernetes/sig-auth-bugs

[2018-02-07 19:10] soltysh commented on #58748
@adam-sandor I've tried this on latest 1.8 release and it's working as intended. Additionally your sample cronjob is missing restart policy, but I've checked with both `OnFailure` and `Never` and was not able to reproduce the problem. Would you mind double checking or providing some additional information about the job and pod states. In general if a job exists the Forbid policy should always prev

[2018-02-07 19:12] cheftako commented on #59450
Also saw this on https://github.com/kubernetes/kubernetes/pull/59287

[2018-02-07 19:28] dhirajh opened #59500 "Update local volume plugin to support block volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
At this time, block volume API is available but is not supported by local volumes plugin.

**What you expected to happen**:
Enhance local volumes plugin to support block volumes.

**Anything else we need to know?**:
This work is part of the overall effort in https://github.com/kubernetes/features/issues/121

**Environ

[2018-02-07 19:28] dhirajh commented on #59500
@msau42

[2018-02-07 19:28] cvallance commented on #25908
Interesting, using a deamonset sounds like a good option. @RJacksonm1 & @devlounge - how does discovery of the cloud sql proxy work when using daemonsets?

[2018-02-07 19:29] msau42 commented on #59500
@kubernetes/sig-storage-feature-requests

[2018-02-07 19:37] yujuhong commented on #25242
rktnetes has been deprecated. Closing

[2018-02-07 19:37] #25242 closed

[2018-02-07 19:48] soltysh commented on #54698
I'll try to put the PR together, it's been waiting on my todo list for too long now.

[2018-02-07 19:50] masroorhasan opened #59501 "DELETE requests for some objects get response data with Object instead of Status object"
/kind bug

**What happened**:
DELETE request for pod resource is returning the entire pod resource in the response instead of the Status resource.

**What you expected to happen**:
Expecting the serialized response data to contain the Status resource instead of the Pod resource.

Here is the response from the API server:
![image](https://user-images.githubusercontent.com/802678/35937904-79edfc86-0

[2018-02-07 19:51] masroorhasan commented on #59501
/sig api-machinery

[2018-02-07 19:52] Random-Liu opened #59503 "kube-up.sh should support specifying kubelet args"
Sometimes users do need to specify some kubelet flags, e.g. configure kubelet container runtime cgroup based on their environment.

Currently, user can only specify kubelet args with a hidden env `KUBELET_TEST_ARGS` for kube-up.sh.
We should formalize the name exposed to user.

@kubernetes/sig-node-feature-requests @kubernetes/sig-cluster-lifecycle-feature-requests

[2018-02-07 19:53] #29322 closed

[2018-02-07 19:54] cvallance commented on #25908
Found this which looks like it'll do the trick...
https://buoyant.io/2016/10/14/a-service-mesh-for-kubernetes-part-ii-pods-are-great-until-theyre-not/

Basically involves using something like this to get the host ip:
[code]

[2018-02-07 19:56] jingxu97 commented on #58635
@gmarek Currently node "shut down" seems the only situation. After os shut down, the mounts are gone so detach can proceed. Otherwise, we will rely kubelet to update node status to indicate whether mounts still exist or not. In case of node deleted from cloud provider, volumes are automatically detached.

I also agree with @khenidak. I think it is better to extend cloud provider interface to have

[2018-02-07 19:58] ericchiang commented on #59496
It's not marked optional either, which was the original motivation for taking the safe route and assuming false if it wasn't provided.

https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

This would be a feature for us to detect the presence of the `email_verified` claim and act differently if it isn't there.

Do any other providers do this? Almost all that I've worked with do su

[2018-02-07 20:00] #59275 closed

[2018-02-07 20:00] #59369 closed

[2018-02-07 20:23] euank commented on #54924
/assign
/close

[2018-02-07 20:23] #54924 closed

[2018-02-07 20:43] jingxu97 commented on #55074
@gnufied @jsafrane maybe we should find some help working on this?

[2018-02-07 20:54] rramkumar1 opened #59505 "IPVS needs better documentation"
/kind documentation

**What happened**:
IPVS needs to be documented more.  Specifically, the existing documentation needs to be updated to properly describe how to bring up a cluster with ipvs in the kubeadm, local and gce case. Furthermore, there needs to be another piece of documentation that describes the main differences between iptables and ipvs and also dives into implementation differences

[2018-02-07 20:55] euank commented on #37592
I think there's rough consensus above that we should not rollback cordon. This issue title is misleading as to next steps.
If we plan to work on making `drain` less aggressively cordon (not cordon when it detects failure modes), that should be split out as a separate issue.
Closing as stale.
/close

[2018-02-07 20:55] #37592 closed

[2018-02-07 20:57] euank commented on #27214
Closing as stale
/close

[2018-02-07 20:57] #27214 closed

[2018-02-07 21:27] #59500 closed

[2018-02-07 21:30] janetkuo commented on #54816
It seems to be caused by some non backward-compatible changes in pod template conversion logic. I'd expect it to affect other resources with pod template in its spec.

cc @caesarxuchao @roycaihw

[2018-02-07 21:37] gtirloni commented on #43633
I don't have much to add except to say this would be very welcome. Hopefully the rules for beta APIs still allow some flexibility to modify this.

[2018-02-07 21:40] GoelDeepak opened #59507 "Kube-proxy in IPVS mode flushes other IPVS configs not configured by it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kube-proxy in IPVS mode periodically reconciles the IPVS configuration as part of which it takes out the configuration that might be configured by other application running on the system.

**What you expected to happen**:
Kube-proxy should only remove the configuration that it added to the IPVS table.

**How to reproduce

[2018-02-07 21:42] GoelDeepak commented on #59507
cc @pires

[2018-02-07 21:47] pires commented on #59507
`kube-proxy` is indeed (or was last time I checked) highly opinionated when it comes to IPVS rules management. I'm also curious to learn if this is or will be changing any time soon.

[2018-02-07 21:49] thockin commented on #8976
/lifecycle frozen
/remove-lifecycle stale

[2018-02-07 21:58] jasonrooks commented on #59487
I was able to get it working by

[code]

Just doing a kubeadm reset and init again did not work for me.

[2018-02-07 21:58] #59487 closed

[2018-02-07 22:01] resouer commented on #58507
Oh I missed this notification somehow, busy on cleaning scheduler integration test.

Yep so if locking is acceptable, it should be cleanest way to fix this, optimistic control would be a more complicated story.

[2018-02-07 22:04] yastij commented on #58507
@resouer - are you handling this one ?

[2018-02-07 22:05] G-Harmon commented on #42885
/remove-lifecycle stale

[2018-02-07 22:14] lavalamp commented on #52185
https://docs.google.com/document/d/1eoS1K40HLMl4zUyw5pnC05dEF3mzFLp5TPEEt4PFvsM/edit#heading=h.xgjl2srtytjt

[2018-02-07 22:18] salrashid123 opened #59513 "Ref: value in swagger.json file should be a string"
/kind bug

The ref: value should be a plain string in swagger 2+ and in the json spec cited

that is, in
[https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json](https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json)

we have

[code]

the ref value should be just a string

see:
swagger 2 specs:
- [https://github.com/OAI/O

[2018-02-07 22:34] louisgriffin commented on #33825
still regrettable with latest kubernetes:
[code]

[2018-02-07 22:47] salrashid123 commented on #59513
/sig api-machinery

[2018-02-07 22:51] rramkumar1 commented on #59507
cc @m1093782566

[2018-02-07 23:05] roberthbailey commented on #59503
/cc @mtaufen

[2018-02-07 23:18] gamer22026 commented on #57686
Thx for the kubelet-exporter.

[2018-02-07 23:27] #58855 closed

[2018-02-07 23:27] #59503 closed

[2018-02-07 23:27] #59296 closed

[2018-02-07 23:33] af-inet opened #59516 "Secret key validation is inconsistent with the documentation."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I can upload a secret with keys that do not match `DNS_SUBDOMAIN`.

The documentation for secrets states:
[code]
source: https://kubernetes.io/docs/concepts/configuration/secret/

**What you expected to happen**:

Either:
- the documentation should not state DNS_SUBDOMAIN is a requirement
OR
- the kubernetes API rejects i

[2018-02-07 23:35] af-inet commented on #59516
/sig api-machinery

[2018-02-07 23:38] af-inet commented on #59516
/sig docs

[2018-02-07 23:52] jiayingz commented on #59370
@RenaudWasTaken for MPS use cases, we would like to learn more on its explicit requirements for Kuberentes. Do you have any doc that describes these requirements and the high-level structure?

[2018-02-08 00:12] k82cn commented on #36716
/lifecycle frozen

[2018-02-08 00:16] jhorwit2 commented on #59462
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes) or to [Slack](https://kubernetes.slack.com/)

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to addre

[2018-02-08 00:16] #59462 closed

[2018-02-08 00:24] jhorwit2 commented on #59483
cc @wlan0

[2018-02-08 00:25] php-coder commented on #59488
/sig node

[2018-02-08 00:37] mtaufen commented on #56523
This applies to #53833, better get rid of it before it's canonized in beta kubeletconfig (also v1.10).

[2018-02-08 00:38] bsalamat commented on #57471
Rollout plan for Priority and Preemption can be [found here](https://docs.google.com/document/d/1-ZDLZ1HJp209saJl_XVhOaXZYXFUqgI7B6C3Lx5N4_w/).
As usual, you need be a member of [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-dev) to gain access to the doc.

[2018-02-08 00:40] bhack commented on #54011
@jberkus Yes but there isn't a clear action plan.

[2018-02-08 00:43] #59213 closed

[2018-02-08 00:50] msau42 opened #59517 "Volume metrics e2e tests are failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign @gnufied

**What happened**:
https://k8s-testgrid.appspot.com/sig-storage#gke-serial

[code]

[2018-02-08 00:51] verult opened #59518 "verify-bazel.sh in pull-kubernetes-verify failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

When running `hack/verify-bazel.sh` on my commits locally I got the following error:

[code]

Affected PRs:
https://github.com/kubernetes/kubernetes/pull/59447
https://github.com/kubernetes/kubernetes/pull/59511

[2018-02-08 00:52] verult commented on #59518
/sig testing

[2018-02-08 00:52] msau42 commented on #59517
Oh it's only happening in GKE.  Hm I wonder if something changed regarding access to the master.  What is this test trying to do?

[2018-02-08 00:53] verult commented on #59518
/cc @ixdy

[2018-02-08 01:17] m1093782566 commented on #58443
Something off the top of my head is:

* automatically load kernel modules without mounting `/lib/modules` from host to kube-proxy containers to reduce security concern.

[2018-02-08 01:21] m1093782566 commented on #59156
@vincentmli

Please reference #58052

Briefly speaking, IPVS proxier just want to emulate the `--dst-type LOCAL` in iptables. When #58052 goes in, you can configure the nodeport IP address ranges.

[2018-02-08 01:28] khenidak commented on #56569
Yes - I think the cloud itself should take care of this, I will push the feedback internally

[2018-02-08 01:30] FengyunPan2 commented on #54984
The name of nova vm always unique, or work bad on kubernetes.

[2018-02-08 01:32] yue9944882 commented on #59482
/sig api-machinery

[2018-02-08 01:38] yue9944882 commented on #39188
Related #59482

[2018-02-08 01:44] gnufied commented on #59517
Yeah, this was newly introduced.  These metrics report number of bound/unbound volumes etc - https://github.com/kubernetes/kubernetes/pull/57872

The fix seems pretty simple. We used to skip this test in environments where controller-manager is not registered. This test is going wrong way spotting that.

[2018-02-08 01:48] gnufied commented on #59517
cc @mlmhl

[2018-02-08 02:00] m1093782566 commented on #59507
@pires

Do you have any good idea of cleaning up out-of-dated IPVS rules?

[2018-02-08 02:04] bgrant0607 commented on #59482
Yes, this is the buggy merge key. Thanks for the report, but I'm going to close this as a dupe, and follow up on the earlier one.

[2018-02-08 02:04] #59482 closed

[2018-02-08 02:08] bgrant0607 commented on #39188
Yes #59482 has the same root cause.

[2018-02-08 02:08] m1093782566 commented on #59507
@rramkumar1 The root cause is that we have no better way to determine what rules are created by us.

We created a `--cleanup-ipvs` flag when clean up all proxy rules.

[2018-02-08 02:09] liggitt commented on #59501
That's an issue with the documentation (and possibly the openapi doc). Returning the deleted object is intentional.

[2018-02-08 02:10] #50232 closed

[2018-02-08 02:23] lcfang opened #59521 "What is the difference of network between the node-e2e test and cluster-e2e test?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I run cluster-e2e ref the doc [End-to-End Testing in Kubernetes](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md), and run node-e2e ref the doc [Node End-To-End tests](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-node-tests.md).
there are four cases witch both ru

[2018-02-08 02:23] CaoShuFeng opened #59522 "a build in admission controller to control service per namespace/user"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Can we add a new feature like podsecuritypolicy to control service per namespace and user?

Like:
namespace A are only allowed to allocate cluster ip in range 10.0.1.0/24
namespace B are only allowed to allocate cluster ip in range 10.0.2.0/24.

User C is allowed to allocate nodeport  in range 30000-31000
User D is allowed to allocate n

[2018-02-08 02:23] lcfang commented on #59521
@yguo0905 @yujuhong

[2018-02-08 02:24] lcfang commented on #59521
/sig node

[2018-02-08 02:28] jianglingxia commented on #54984
thanks,but openstack can let user create vm with same name,Unique identification is the instance id
![image](https://user-images.githubusercontent.com/25783555/35952074-30e47886-0cb9-11e8-9f59-5f1364f6c6d7.png)
![image](https://user-images.githubusercontent.com/25783555/35952089-3e95a2e8-0cb9-11e8-9e0d-3533f0a7b311.png)
I think maybe we should valid the vm name in  code!

[2018-02-08 02:30] gnufied commented on #59517
Okay, so I made a fix - https://github.com/gnufied/kubernetes/tree/fix-storage-metric-failures and tried running it in a tight loop against a GCE cluster and it failed because of different reasons (but in same newly introduced metrics).

I propose, we revert https://github.com/kubernetes/kubernetes/pull/57872 until, it has been fixed for good.

[2018-02-08 02:35] FengyunPan2 commented on #54984
Nova allow vm have same name, but Kubernetes not allow. Kubernetes need unique name now. Kubernetes maybe use vm id in the future.

[2018-02-08 02:42] yue9944882 commented on #59516
[https://github.com/kubernetes/kubernetes/blob/07e849c98698b19de636d6f7282dbc0b2edebde7/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L53](https://github.com/kubernetes/kubernetes/blob/07e849c98698b19de636d6f7282dbc0b2edebde7/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L53)
Now it only requires the prefix part (separated by slash) of key matches DNS_SUBDOM

[2018-02-08 02:47] dashpole opened #59524 "Incorrect start times can cause heapster to not have CPU stats"
/kind bug
/sig node
/priority important-soon

When HPA is supposed to upscale it is intermittently unable to calculate the number of desired replicas because of missing metrics
`$ kubectl describe hpa <hpa-name>`
`  3d            29s             80      horizontal-pod-autoscaler                       Warning         FailedGetResourceMetric         unable to get metrics for resource cpu: no metrics

[2018-02-08 02:51] jianglingxia commented on #54984
oh,if future use vm id ,will design kubelet return id? like:
kubectl get node
vmid     ....
our project has used cinder function,
kubectl get node return vm name
maybe Changes more .... if could ，Compatible name maybe!

[2018-02-08 02:51] m1093782566 commented on #59507
@rramkumar1

In each sync loop, we only know active service and can not get any information on legacy services from API Server.

[2018-02-08 03:10] jianglingxia commented on #58413
can support like @mlmhl said the scenario,maybe we should Separate the dynamic provisioning  and Create manually like above Discussion！ @liggitt @jsafrane @jingxu97  thanks

[2018-02-08 03:19] yue9944882 commented on #58834
Additionally for `-o yaml`, Should the output be printed in the form of `[{...},{...}]`, but now instead it is:

[code]
Which is also not a legal json either.

[2018-02-08 03:34] #59522 closed

[2018-02-08 03:36] FengyunPan2 commented on #58338
I met this issuse too, any comment?

[2018-02-08 03:39] mlmhl commented on #59517
Sorry for this, I add a `GrabFromControllerManager` operation in `BeforeEach` by forget to check `HasRegisteredMaster`.

@gnufied  Could you post the failures in GCE cluster? I only run these tests in my local environment before.

[2018-02-08 03:40] brycecarman opened #59526 "Run Cloud Controller Manager with AWS IAM role from different account"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig aws

**Anything else we need to know?**:
Enable running the Cloud Controller Manager using a different AWS account than the worker instances.

The AWS cloud provider for Kubernetes assumes that all of the master and worker nodes run in the same AWS account. I would like to be able to run the master nodes in a separate AWS account to

[2018-02-08 03:43] mithrav opened #59527 "[e2e flake] [sig-apps] Job should run a job to completion when tasks sometimes fail and are not locally restarted"
Back story in https://github.com/kubernetes/kubernetes/issues/54904, but still the top 2nd flake on Velodrome: http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

[2018-02-08 03:43] mithrav commented on #59527
kind/bug

[2018-02-08 03:44] mithrav commented on #59527
/priority failing-test
/priority important-soon
/sig apps
/kind flake
@kubernetes/sig-apps-test-failures

[2018-02-08 03:46] gnufied commented on #59517
The other failures were:

[code]

[2018-02-08 03:53] mithrav opened #59528 "Probing container should be restarted with a exec \"cat /tmp/health\" liveness probe [Conformance]"
Seems to be similar to https://github.com/kubernetes/kubernetes/issues/59150

Flaked 11/36 times.
/sig node

[2018-02-08 04:09] vikaschoudhary16 commented on #59488
Will take a look ASAP.

[2018-02-08 04:11] larryck commented on #59393
yes, I've tested on kubernetes v1.10.0-alpha.3 with  ceph version 10.2.10 and the problem still exists

[2018-02-08 04:30] #58615 closed

[2018-02-08 04:32] tossmilestone commented on #58956
The `-w5` option is not the cause, you may check out the other `iptables-restore` logs to confirm it.

[2018-02-08 05:00] crimsonfaith91 commented on #50791
/remove-lifecycle rotten

[2018-02-08 05:01] crimsonfaith91 commented on #50791
/lifecycle frozen

[2018-02-08 05:21] akgunjal commented on #50521
Closing this issue for now as its not reproducible and not found so far in later versions of kubernetes.

[2018-02-08 05:21] #50521 closed

[2018-02-08 05:22] bowei commented on #58338
Can you give a tcpdump of the relevant flow (SYN/SYNACK/ACK exchange would be sufficient)

[2018-02-08 05:27] rramkumar1 commented on #59507
So for example, if kube-proxy restarted, we currently have no way of knowing what services we created and what were created by another process?

[2018-02-08 05:33] kokhang commented on #58826
The same issue happened to me when using a btrfs fs type.

[2018-02-08 05:45] huangjiasingle commented on #58801
@feiskyer  did't you know it ?

[2018-02-08 05:49] huangjiasingle commented on #58801
@kubernetes/sig-apps-bugs

[2018-02-08 05:50] cblecker commented on #59518
@verult There's likely something up with your local environment. These jobs are running correctly in CI, although you need to look at the build log for output

[2018-02-08 05:55] ericchiang commented on #48041
/remove-lifecycle rotten

cc @colemickens

ref https://github.com/kubernetes/kubernetes/issues/59366

[2018-02-08 05:55] shyamjvs commented on #50907
/remove-lifecycle rotten

On Thu, Feb 8, 2018, 6:45 AM fejta-bot <notifications@github.com> wrote:

[2018-02-08 06:05] m1093782566 commented on #59507
Probably yes, sadly. I have been seeking a way to identify IPVS service, but no interesting finding yet.

[2018-02-08 06:13] liuhuiping2013 commented on #58956
i have verify iptables-restore command in two popular OS:
## CentOS 7.4
[code]

## Ubuntu 16.04
[code]

none of _"-w"_ option was found, this must be a mistake.

@tossmilestone

[2018-02-08 06:20] bgrant0607 commented on #55369
While perhaps confusing, this is working as intended. Everything in Kubernetes is asynchronous. I assume you're asking for a way to wait, synchronously, for the pods to become ready. Or would just changing the terminology (is scaling?) be sufficient?

See also:
#1899
#34363

[2018-02-08 06:26] mikewied opened #59534 "types_jsonschema files don't match up and cause conversion to fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm extending Kubernetes by registering a CRD and creating a custom controller. At the moment I'm working on getting CRD validation to work and for the most part it is. I did however notice that when I use the JSON struct my code crashes when I call the following function I wrote.

[code]

**What you expected to happen**

[2018-02-08 06:33] xiang90 commented on #47532
/remove-lifecycle rotten

[2018-02-08 06:55] mikewied commented on #59534
Looks like an issue on my part. I see that the custom conversion functions were not being registered properly by my code.

[2018-02-08 06:55] #59534 closed

[2018-02-08 06:56] tossmilestone commented on #58956
The `iptables-restore` with `-w` option requires min version `v1.4.20`, can you check the version? And the usage may not be complete with all options, you can run the command with `-w` to verify it.

[2018-02-08 07:01] bgrant0607 commented on #59113
Annotation values must be strings. Something should generate an error, though

[2018-02-08 07:04] bgrant0607 commented on #33679
/remove-lifecycle rotten

[2018-02-08 07:11] bgrant0607 commented on #39144
/remove-lifecycle rotten

[2018-02-08 07:15] GoelDeepak commented on #59507
@m1093782566  Can we rely on subnet used to create IPVS service and flush only the entries belonging to that subnet?

[2018-02-08 07:17] andyzhangx opened #59538 "return error when user specify an wrong storage account for azure file mount on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
User wants to create a pod moutning with azure file pvc using static provisioning([doc](https://github.com/andyzhangx/Demo/tree/master/windows/azurefile#static-provisioning-for-azure-file-on-windows-server-version-1709support-from-v17x])) and user uses a wrong storage account name or key, current behavior is if mount azure

[2018-02-08 07:17] m1093782566 commented on #59507
Hi Deepak,

subnet can only be used to create/delete ClusterIP. We should consider nodeport IP, externaIPs and LoadBalancer IPs.

[2018-02-08 07:20] k82cn commented on #59460
That's interesting, would you share your data?

/assign , I'm not sure whether Bobby has time to handle that, I'll create PR for that if the data is proved :).

[2018-02-08 07:24] wgliang commented on #59460
This is obvious, you can test in an effective environment.And I have completed this PR,I just want to know your opinions.

[2018-02-08 07:35] wgliang commented on #59460
Parallelism and response time line chart:

![1518074989053-image](https://user-images.githubusercontent.com/8739301/35960637-69eaeb48-0ce5-11e8-950d-0982aa31b394.png)

[2018-02-08 07:48] k82cn commented on #59460
No objection to the new parameters, it provides an option to the user.
Compare to 16, 14 give a 5ms improvement per pod?

[2018-02-08 07:49] fluidjeel commented on #58582
same here on ubuntu

[2018-02-08 07:54] wgliang commented on #59460
Yes, this is data obtained in the test environment, which can be increased by 10ms in the production environment (3w nodes) or even more. I think it is important for the user to adjust this parameter, depending on the size of the cluster or different production environments, and it is also important for the user to improve performance for 5-10 ms or more.

[2018-02-08 07:57] andyzhangx opened #59543 "azure file PVC need secrets create permission for persistent-volume-binder"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
workaround is run
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): v1.10
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kern

[2018-02-08 08:04] GoelDeepak commented on #59507
Another idea is to have a `--exclude-cidrs` flag that takes a list of cidrs to be excluded

[2018-02-08 08:08] m1093782566 commented on #59507
a `--exclude-cidrs` flag sounds a no-bad idea, but it means kube-proxy will flush IPVS services one by one - currently we can flush it within a command.

[2018-02-08 08:13] Lion-Wei commented on #59402
@rramkumar1 Sorry about that, I didn't notice. : (
I used gce built ipvs CI earlier, pretty familiar with this part.

[2018-02-08 08:23] toredash commented on #59418
/sig aws

[2018-02-08 08:26] whitecolor commented on #44273
It's just invasion of robots.

[2018-02-08 08:32] andyzhangx commented on #58308
@tenkjm What’s your wanted permission? Below is the guide about setting mountOptions:
https://github.com/andyzhangx/Demo/blob/master/linux/azurefile/azurefile-mountoptions.md#set-mountoptions-in-static-provisioning-for-azure-file-support-from-v150

[2018-02-08 08:36] a4abhishek commented on #51788
I am using Openshift cluster, My DS's Namespace's node selector annotation is empty. Still facing same issue. Can I get any suggestions.

[2018-02-08 08:41] yue9944882 commented on #58477
I believe it's related with #59119. They might be the same issue.

[2018-02-08 08:48] andyzhangx commented on #59543
workaround way is run
[code]

[2018-02-08 08:52] ReSearchITEng commented on #54281
/lifecycle stale

On Wed, Feb 7, 2018 at 6:33 PM, fejta-bot <notifications@github.com> wrote:

[2018-02-08 08:55] yue9944882 commented on #59119
dup #58477

[2018-02-08 08:58] yue9944882 commented on #58477
Otherwise, to prevent the inconsistency proactively, How about having a `GET` request to decide whether respect the last-configuration-annotation?

[2018-02-08 09:15] andyzhangx commented on #58308
BTW, you could set mountOptions as `0777` to fix this issue.

[2018-02-08 09:24] m1093782566 commented on #59507
/assign

[2018-02-08 09:25] m1093782566 commented on #59507
/assign

[2018-02-08 09:29] m1093782566 commented on #59507
@kubernetes/sig-network-misc

[2018-02-08 09:30] sttts commented on #59478
Nope. Very bad things happen if you do that.

So this means that it concurrent write is inside the endpoints handler? No in unstructured?

[2018-02-08 09:33] fabiand opened #59551 "kubectl expose does not work with kind and selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Trying to expose a pod using a selector

**What you expected to happen**:
To be able to create a service with a kind and selector only

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl expose pod --selector='app=MYAPP' --name myappsvc --port=4242`

**Anything else we need to know?**:
It fails with

[2018-02-08 09:33] sttts commented on #54522
/remove-lifecycle stale

[2018-02-08 09:41] RJacksonm1 commented on #25908
@cvallance I've got a Service set up to expose the DaemonSet, which my application can then access via DNS. This doesn't guarantee the application will talk to the `cloudsql-proxy` instance running on the same host as itself, but it does guarantee the `cloudsql-proxy` will scale with the cluster as a whole (originally I had the proxy as a Deployment and a HorizontalPodAutoscaler, but found it scal

[2018-02-08 09:42] fabiand commented on #59551
Hm, let's give it a try

/sig api-machinery

[2018-02-08 09:42] fabiand commented on #59551
Yey.

[2018-02-08 09:43] mqzry opened #59552 "Wrong naming of docker compatible envvar "{service.name}_PORT" causing problems in spring boot app"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I tried to start my Spring Boot application that uses rabbitmq. A service called 'rabbitmq' is defined in the same cluster. When I start the app, the following error message is shown

So `RABBITMQ_PORT=tcp://192.168.17.112:5672`.
See https://github.com/kubernetes/kubernetes/blob/dd9981d038012c120525c9e6df98b3beb3ef19

[2018-02-08 09:44] m1093782566 commented on #59507
ping @murali-reddy for thoughts :)

[2018-02-08 09:44] maojiawei opened #59553 "KUBE_REPO_PREFIX unwork"
kubeadm version v1.8.2
I use `KUBE_REPO_PREFIX` but it's unwork.The config kubeadm create still use image from gcr.io .
![image](https://user-images.githubusercontent.com/5907733/35965990-86964c08-0cf7-11e8-8c49-afb4ff2fd9e2.png)

[2018-02-08 09:47] dixudx commented on #59460
Fantastic!
I think we should write this down to our documentations as well.

[2018-02-08 09:52] pohly commented on #59425
Setting HOME works before invoking a test works. I am a bit concerned that doing it before invoking make and go - what if any of the commands used during building the tests need access to the original HOME? Is that a valid concern or do I just worry too much?

I experimented with os.Setenv() in a TestMain function, but that doesn't help because various global variables were already initialized wit

[2018-02-08 09:54] verb opened #59554 "Add node e2e test for ShareProcessNamespace"
Once the API for http://bit.ly/pod-shared-pid is finalized, add a node e2e test.

/kind feature
/assign @verb
/cc @yujuhong
/sig node

[2018-02-08 10:00] wgliang opened #59555 "Add predicate (or others) parameters to represent different scheduling algorithms by creating a pod"
We've always been obsessive about multiple schedulers, but have we ever thought that we could add a parameter when creating a pod, which could be a combination of predicates, either by ignoring a predicate or by specifying a scheduling strategy, etc. Etc., we can still achieve the effect of using different schedulers

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

[2018-02-08 10:01] wgliang commented on #59555
/sig scheduling

[2018-02-08 10:05] maojiawei commented on #59553
/sig kubeadm

[2018-02-08 10:10] ash2k commented on #59478
Double checking - this is not an informer store, this is some other store. This code was there for at least 2.5 years if I'm not mistaken. My guess is probably wrong.

It is an issue caused by concurrency, but there is no concurrent code in unstructured itself. Something is not doing locking properly or sharing an object by mistake.

[2018-02-08 10:34] RenaudWasTaken commented on #59370
Reposting the link in the previous post:  https://docs.nvidia.com/deploy/pdf/CUDA_Multi_Process_Service_Overview.pdf

[2018-02-08 10:39] ash2k commented on #59451
I think we have two options:
- We change the labels and annotations specs and say that `null`s are converted to empty strings to match the implementation. And also fix CRs to behave the same way.
- We reject `null`s in values to match the spec. Both in CRs and in typed objects.

The second option can be implemented like this:
[code]
This is not great of course. Ideally there should be an option on

[2018-02-08 10:44] sttts commented on #28167
/remove-lifecycle rotten

[2018-02-08 10:47] anguslees commented on #55202
I strongly suggest this is not a bug.  If you're using the host network, and you've configured IPv6 addresses on the host (explicitly or implicitly), then you *should* see IPv6 addresses for host pods.

If IPv6 addresses are an issue for your infrastructure, then the solution is to not configure IPv6 addresses on the host (and file a "should support ipv6" bug with your infrastructure component).

[2018-02-08 10:48] RenaudWasTaken commented on #59370
API-wise I don't think it's a good model to rely on the table ordering.

In terms of general model, we've already seen multiple asks (from basically every device plugin author except GKE) for passing container and pod information, I don't see how we're going to escape passing none.
@vikaschoudhary16 even reads the checkpointing file from the device plugin to get the pod name....

Now in terms of I

[2018-02-08 10:51] lcfang opened #59557 "Can we moving api constants to a global file?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

 Many consts in different api groups are the same, and in some api groups, there are so many useless const, so moving them in a global file is a good idea. here is a [mail-discussion](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-api-machinery/-wLySWuICjA/PFiz-R5wCgAJ).

**What you expected

[2018-02-08 10:57] tossmilestone commented on #59460
@wgliang How many cpu cores on one of your test servers?

[2018-02-08 10:58] jryberg opened #59558 "RBAC wrongly denies API requests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
**What happened**:
I'm running calico-controllers-node and the docker are not allowed to access the API

Log from docker calico-kube-controllers

This is the role and rolebinding
[code]

Configured clusterrole
[code]

Configured clusterrolebindings
[code]

POD running in correct namespace
[code]

**What you expected to happen**:

I expect thi

[2018-02-08 11:01] jryberg commented on #59558
@kubernetes/sig-auth-bugs

[2018-02-08 11:08] huangjiuyuan opened #59560 "Doing process in parallel in processLoop function"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
A `TODO` suggests doing process in parallel in `processLoop` function [here](https://github.com/kubernetes/kubernetes/blob/6827c3cf4725e3490dc27aabd5a43a26de3363ef/staging/src/k8s.io/client-go/tools/cache/controller.go#L148). I have some thoughts on how to do this work. Since the queue have lock on doing various operat

[2018-02-08 11:11] stuartio opened #59562 "Can't run Kubelet as a service on Windows"
/kind bug
(this could be considered a feature if this was never intended to work)

**What happened**:

If creating a Windows service through Powershell New-Service command or cmd sc.exe the resulting service cannot start.

**What you expected to happen**:

The service to start

**How to reproduce it (as minimally and precisely as possible)**:

Setup Kubelet.exe on Windows with necessary prereqs. R

[2018-02-08 11:11] jryberg commented on #59558
Oh,

I thought I read everything not only twice but three times.

I just realized that the clusterrole was incorrect

It was:
[code]

Need to be:
[code]

[2018-02-08 11:11] #59558 closed

[2018-02-08 11:33] wgliang commented on #59460
@tossmilestone In the course of testing and found no direct relationship with the number of CPUs, the number of CPU is 4 and 32, the performance characteristics are the same.I think may be related to the size of the cluster, or others.

[2018-02-08 11:40] tossmilestone commented on #59460
@wgliang got it, thanks for you reply, it's very helpful!

[2018-02-08 11:46] wgliang commented on #59460
@tossmilestone This is why I have not fully understood so far, I have been seeking the relationship between the most valuable and the CPU, but never found. I hope you can do it! :).

[2018-02-08 11:48] Alger7w opened #59564 "Pod stuck in terminating status"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

 /kind bug

**What happened**:
Pod stuck in terminating status with corresponding  containers were deleted. Using 'journalctl -u kubelet, see repeated logs:

Feb 08 17:34:12 xxx kubelet[1460]: E0208 17:34:12.136804    1460 kuberuntime_container.go:411] ContainerStatus for 5cb4f3b5c6c93001e60d0ba81b0252306df341308c6bce36ed8c7ad45099b714 error: rpc

[2018-02-08 11:52] stuartio commented on #59562
/sig windows

[2018-02-08 12:13] #53721 closed

[2018-02-08 12:13] mqzry commented on #59552
@kubernetes/sig-node-feature-requests

[2018-02-08 12:20] shyamjvs opened #59567 "Problems with kubemark image lifecycle"
After looking at @thockin 's [PR](https://github.com/kubernetes/kubernetes/pull/57824), I realized that there are some problems with how we're using kubemark images for our CI-testing:

1. Every run of every kubemark job creates and pushes a kubemark image to the image registry of the project in which the cluster would be created. But the kubemark cluster setup uses the `<registry>/kubemark:latest

[2018-02-08 12:22] andyzhangx commented on #59435
@srudenko I have tried azure file mountOptions on v1.9.1, it works well.
One possible reason why your k8s dose not work is that you are using `azurefile` storage class, while there is a built-in `azurefile` storage class which could not be overwritten by `kubectl` command, that is if you delete old  `azurefile` and create your new one, after about 2min, the new class will be overwritten by old one

[2018-02-08 12:27] filipnowakswissre commented on #55404
@vfreex, this is good question. I didn't found good description or design doc for hostNetwork feature. If you will assume that UTS namespace is set to host correctly, then you are negating StatefulSets semantics, as they should have their own identity (and hostname). This would make those two features somehow exclusive I would say.

[2018-02-08 12:29] andyzhangx commented on #59543
FYI @JiangtianLi @jackfrancis in acs-engine v0.12.0, RBAC is enabled, from that version, azure file dynamic provision does not work. We need to configure in acs-engine to make it work.

[2018-02-08 12:30] mlmhl commented on #59517
It seems that there are other PVs in the cluster when we running this test, the `calculateRelativeValues`(in this [code](https://github.com/kubernetes/kubernetes/blob/b922ffc491ed7016f6e8381a45633e8d0fe023ae/test/e2e/storage/volume_metrics.go#L449)) should be modified like this, we should only consider changed values:

[code]

I will test this code in my local environment first.

[2018-02-08 12:31] andyzhangx commented on #59435
and you could use `kubectl get sc azurefile -o yaml` to check whether azurefile class is overwritten.

[2018-02-08 13:01] zjj2wry commented on #39200
this work well now, so close
[code]

[2018-02-08 13:01] zjj2wry commented on #39200
/close

[2018-02-08 13:01] #39200 closed

[2018-02-08 13:12] guillaumerose opened #59570 "Duplicate test names"
/kind bug
/sig testing

**What happened**:

When I run conformance tests, I can see 4 duplicate test names in the console and the JUnit report.

This is needed if we want to track failures across multiples runs since this is the only way to identify a test.

**What you expected to happen**:

Test names should be distinct.

**How to reproduce it (as minimally and precisely as possible)**:

Run conf

[2018-02-08 13:36] mootezbessifi commented on #59321
/sig efk

[2018-02-08 13:57] roffe commented on #55464
/joke

[2018-02-08 14:00] ravisantoshgudimetla commented on #58232
@k82 - IIUC, what @abhgupta wants is - a node which has balanced CPU, memory and number of volumes attached.
I think
We can modify the balanced resource allocation priority to compute standard deviation or variance of (CPU Fraction, Memory Fraction, volumes_mounted_till_now_on_node/max_no_of_vols_allowed) for every node. Whichever node has least standard deviation will have high priority.

[2018-02-08 14:13] pires commented on #33195
Is there even a validation for the CIDR size? Say I set something like `--service-cluster-ip-range-static=10.3.0.128/31`. There's no chance I'll have `kubernetes` as `10.3.0.1`. Are there any validations for this?

[2018-02-08 14:20] davecramer commented on #40817
I'd like to reopen this. I have the same issue.

[2018-02-08 14:28] jsafrane commented on #57686
I tested it with OpenShift (Kubernetes 1.9.1) and I can confirm that usage stats are updated when a PVC "leaves" a node (i.e. a pod that used the PVC is killed).

[2018-02-08 14:56] code-to-core opened #59573 "tl get pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-02-08 15:12] Alger7w commented on #59564
/sig node

[2018-02-08 15:41] srudenko commented on #59435
Thank for getting back.

There is the content of my azurefile yaml:

[code]

I have checked on another cluster (v1.8.7) and there is no azurefile StorageClass.

I have renamed the storage class to
[code]

and updated PersistentVolumeClaim, PersistentVolume as
[code]

Still volume has been mounted using `file_mode=0755,dir_mode=0755,persistenthandles` ....

Could you please provide your yaml that m

[2018-02-08 15:43] Alger7w commented on #59564
Use 'docker ps -a|grep xxx' to see the exited container and delete it, this problem is solved. It seems to be a docker's bug.

[2018-02-08 15:43] #59564 closed

[2018-02-08 15:46] liggitt commented on #59451
I'd expect CRD's to match native resources, as weird as the behavior is:

- null label/annotation values would get coerced to "" and would actually persist "" to etcd
- null label/annotation values previously persisted to etcd would return "" from the API and work correctly with label selection
- other invalid values (numbers, booleans, structured values, etc) would fail validation and prevent per

[2018-02-08 15:56] k82cn commented on #58232
Any impact if we have a bigger number, performance or max mount points ? If max mount points, that's interesting point that how many pods will run in each node :)

Another case in my mind is DFS (distributed file system) client issue : if so many Pod read/write data into dfs mount point, the connection maybe a bottleneck.

No objection, just would like to know the detail of case before we build a

[2018-02-08 15:57] k82cn commented on #58232
/cc @bsalamat  @kubernetes/sig-storage-feature-requests

[2018-02-08 16:01] srudenko commented on #59435
I have finally got this solved.

mountOptions must be specified in PersistentVolume and StorageClass (found in your code here: https://github.com/andyzhangx/Demo/blob/master/pv/pv-azurefile-mountoptions.yaml)

The working solution is:

[code]
[code]
[code]

I would suggest to update the official documentation: https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv#mount-options

[2018-02-08 16:02] #59435 closed

[2018-02-08 16:07] kabakaev commented on #40632
Thanks for debuggin this, @kad.

Build scripts are a bit spahetti: for example, a function that builds tar files, also executes a function that builds docker containers. Therefore, it is not possible to only build tars, one have to build docker containers too.

As i wanted to build a clean release without a "durty" suffix, the workaround was to wrap docker execution under `flock`. This way, k8s gi

[2018-02-08 16:09] jsafrane commented on #57686
Sorry, wrong issue. Deleting my previous comment.

[2018-02-08 16:16] abhgupta commented on #58232
@ravisantoshgudimetla Thanks! That is exactly captures the gist of my proposal. We could ignore PVs (for storage classes) that do not have an upper limit. Such PVs (with no upper limits) could simply be dealt with the "least requested" priority function.

If I understand what @k82cn was highlighting
There are multiple scheduling issues with PVCs
1. Imbalance with just the number of PVs mounted (on

[2018-02-08 16:36] liggitt commented on #59573
/close

[2018-02-08 16:36] #59573 closed

[2018-02-08 16:39] liggitt commented on #58343
/unassign

[2018-02-08 16:43] shyamjvs commented on #59567
PR #59577 solves the 1st and 3rd issues above.

Wrt 2, the following seem to be the current set of projects running our kubemark jobs (there may be more abandoned ones from the past):

[code]

We need to clean up all those images. Any ideas on what's the easiest way of doing it? I'm thinking of directly deleting the GCS directories holding those images (if that's possible). cc @krzyzacy @BenTheEld

[2018-02-08 16:57] kad commented on #40632
@kabakaev are you still hitting on that issue ? I haven't seen it for a while, and actually yesterday thinking about to close that issue.

[2018-02-08 17:12] mtaufen commented on #51487
The CVM tests were turned off a while ago.

[2018-02-08 17:12] #51487 closed

[2018-02-08 17:33] liggitt commented on #38612
making all controllers watch or check namespace status seems uglier, just to prevent a few rejections during namespace deletion

[2018-02-08 17:34] ravisantoshgudimetla commented on #59460
@wgliang The stats and idea are really interesting and thanks a lot for sharing them.
- I think its the number of nodes in the cluster and pods on each node on which the response time(I believe you are talking about time taken for node assignment by scheduler) depends.
- What is the cluster size when you ran this test? In the above graph is the cluster size invariant?
- The parallelization might a

[2018-02-08 17:43] #58927 closed

[2018-02-08 17:55] adam-sandor commented on #58748
Thanks for looking into this @soltysh ! I will do another attempt at reproducing this.

[2018-02-08 17:56] bsalamat commented on #59460
I agree with @ravisantoshgudimetla. We assign one node to each thread when processing predicates. Therefore, the number of nodes in your cluster. Also, the number of CPU cores on your machine should matter for large clusters. What is the size of the cluster that you obtained the results for.

[2018-02-08 18:01] MrHohn commented on #51292
/remove-lifecycle stale

[2018-02-08 18:01] MrHohn commented on #51292
/remove-lifecycle rotten

[2018-02-08 18:06] mtaufen commented on #56523
https://github.com/kubernetes/kubernetes/pull/59580

[2018-02-08 18:09] divyenpatel commented on #58927
@abrarshivani we should cherry pick this change to 1.9 release.

[2018-02-08 18:20] jiayingz commented on #59370
I know there have been multiple asks on passing more container and pod information to plugins. I think other K8s areas have also seen similar asks but they have avoided doing this for good reasons. We are going to see more plugins on different areas like devices, storage, and network, and will need a general policy on what information should be passed to plugins. If you believe there are strong re

[2018-02-08 18:25] rfliam commented on #55202
There are _plenty_ of valid reasons to blacklist IPV6 addresses being exposed to kubernetes.

First and foremost in Kube 1.8 (and 1.9) most infrastructure components use host networking. Most do not; however, support ipv6. This includes core kube components like **_etcd_**. In kube 1.8 if IPV6 addresses are exposed for pods like etcd **_the cluster won't start_**. That's a pretty serious issue. An

[2018-02-08 18:29] mithrav opened #59581 "Kubectl apply apply set/view last-applied"
This flaked 10/20 times in the last week.

/priority failing-test
/priority important-soon
/sig cli
/kind flake

[2018-02-08 18:30] dims commented on #55202
How about we add a config option to filter out ipv6 but leave the current behavior as is?

[2018-02-08 18:36] mithrav opened #59583 "AdmissionWebhook Should mutate crd"
This flaked 14/20 times in the last week.

/priority failing-test
/priority important-soon
/sig apimachinery
/kind flake

[2018-02-08 18:36] mithrav commented on #59583
/sig api-machinery

[2018-02-08 18:38] ravisantoshgudimetla commented on #58232
@k82cn

I think as of now, we are limited by 39 for AWS and 16 for GCE which are hardcoded from scheduling perspective with user able to specify through environment variable, so the number aren't that high. I can create a benchmark to test this.

@msau42 - Thanks for pointing to the issue where node sizes vary. I think as long as I rely on the configMap(https://github.com/kubernetes/kubernetes/pul

[2018-02-08 18:41] mithrav opened #59584 "run Nvidia GPU Device Plugin tests on Container Optimized OS only"
This flaked 5/14 times in the last week.

/priority failing-test
/priority important-soon
/sig scheduling
/kind flake

[2018-02-08 18:43] mithrav commented on #59584
[Feature:GPUDevicePlugin]

[2018-02-08 18:51] bsalamat commented on #58232
Are you using PVCs and attached volumes interchangeably here? AFAIK, PVCs should first be processed and result in an attached volume before the Pod can be scheduled.

[2018-02-08 19:01] krzyzacy commented on #59567
@shyamjvs I still suggest we push the image as part of the build process :-)
for gc, isn't it we won't need anything except for the `:latest` one? Select all and delete?

[2018-02-08 19:08] shyamjvs commented on #59567
I'm not sure I understand. Push where? Do you mean pack it in the release tar (like kube-proxy, etc)?

Yeah, for now we can delete all the images (even the latest one, it'll probably just cause a few one-off failures of the current runs). In general we don't want to gc everything except the latest one as we're going to have multiple unique images in use at a given instant (see my point 1).

[2018-02-08 19:14] coffeepac commented on #59321
/sig instrumentation

[2018-02-08 19:16] mithrav opened #59585 "kubernetes/test/integration/garbagecollector/garbage_collector_test.go is flaky"
This flaked 11/66 times in the last week.

/priority failing-test
/priority important-soon
/sig api-machinery
/kind flake

Please correct sig if assigned inaccurately.

[2018-02-08 19:25] mithrav opened #59586 "k8s.io/kubernetes/vendor/k8s.io/apiextensions-apiserver/test/integration TestPatch is Flaky"
This flaked 46/66 times in the last week.

/priority failing-test
/priority important-soon
/sig api-machinery
/kind flake

[2018-02-08 19:31] luxas commented on #57869
@mkumatag can you provide a status update on this issue?
I'd really want this fully working in v1.10... :)

[2018-02-08 19:35] luxas commented on #56523
I'm in favor of stopping to listen on `localhost:4194` by default, we stopped doing that in kubeadm clusters already by v1.7 and nobody has complained so far.

[2018-02-08 19:35] rambo45 commented on #51835
Restarting docker service releases the lock and pods gets removed within few minutes. This is a bug. Using docker 17.03

[2018-02-08 20:12] eroji commented on #59494
Issue resolved. It was caused by flannel network not being able to route internally. Restarting the pods seemed to have fixed the issue.

[2018-02-08 20:12] #59494 closed

[2018-02-08 20:14] fejta commented on #59150
/kind flake

[2018-02-08 20:15] fejta commented on #59150
@kubernetes/sig-node-test-failures

[2018-02-08 20:16] mithrav commented on #59528
/priority failing-test
/priority important-soon
/kind flake

[2018-02-08 20:17] mithrav commented on #59528
@kubernetes/sig-node-test-failures

[2018-02-08 20:18] mithrav commented on #59581
@kubernetes/sig-cli-test-failures

[2018-02-08 20:18] mithrav commented on #59583
@kubernetes/sig-api-macinery-test-failures

[2018-02-08 20:18] mithrav commented on #59583
@kubernetes/sig-api-machinery-test-failures

[2018-02-08 20:19] mithrav commented on #59584
@kubernetes/sig-scheduling-test-failures

[2018-02-08 20:19] mithrav commented on #59585
@kubernetes/sig-api-machinery-test-failures

[2018-02-08 20:19] mithrav commented on #59586
@kubernetes/sig-api-machinery-test-failures

[2018-02-08 20:24] kirs commented on #42057
Looks like bug is fixed (running on kubernetes v1.9.0):

[code]

[2018-02-08 20:24] #42057 closed

[2018-02-08 20:39] khenidak commented on #57304
/assign @khenidak

@jdumars This is re the scheduler update to filter out nodes that are not fit for disks types (for managed vs. unmanaged and premium vs non-premium machines)

[2018-02-08 20:53] fejta opened #59590 "//pkg/master:go_default_test flakes pull-kubernetes-bazel-test"
/kind flake
@kubernetes/sig-scheduling-test-failures

CI: https://k8s-testgrid.appspot.com/google-unit#bazel-test&width=5

presubmits (note that this will include noise from bad PRs): https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test

[2018-02-08 21:03] bsalamat commented on #59590
@fejta where should I look to find the flaky tests? I don't see scheduler tests flaking in the links provided.

[2018-02-08 21:10] aveshagarwal commented on #51788
@a4abhishek empty means have you set the annotation to `""`?

[2018-02-08 21:10] jpbetz commented on #59586
cc @enisoc

[2018-02-08 21:11] jpbetz commented on #59585
/assign @caesarxuchao

[2018-02-08 21:12] jpbetz commented on #59583
cc @cheftako - Is this the same flake you fixed recently?

[2018-02-08 21:15] jpbetz commented on #59516
/sig apps
/remove-sig api-machinery

[2018-02-08 21:16] jpbetz commented on #59513
/assign @mbohlool

[2018-02-08 21:18] jpbetz commented on #59501
@yliaog

[2018-02-08 21:19] jpbetz commented on #59483
/assign @cheftako

[2018-02-08 21:20] jpbetz commented on #59478
/assign @yliaog

[2018-02-08 21:21] jpbetz commented on #59451
cc @jennybuckley

[2018-02-08 21:24] jpbetz commented on #59426
cc @ironcladlou @caesarxuchao

[2018-02-08 21:25] jpbetz commented on #59387
/assign @roycaihw

[2018-02-08 21:26] liggitt opened #59591 "Allow limiting adding/removing finalizers"
/kind feature
@kubernetes/sig-auth-feature-requests
@kubernetes/sig-api-machinery-feature-requests

**What happened**:

As a namespace-constrained user, I am able to manually add/remove finalizers added by system components:
* garbage collection finalizers
* pv/pvc protection finalizers
* service catalog deprovisioning finalizers
* etc...

**What you expected to happen**:

As a cluster admin, I ex

[2018-02-08 21:26] bsalamat commented on #58154
Here is my suggested numbers:
[code]

Looks like the number of iterations of the first two rows is not fixed among runs. Depending the on number of iterations, the variance for those two could be high and that's not ideal. The numbers that I am suggesting here are conservative and are set so that we don't get lots of false alarms, but ideally we should run the tests with more consistent conditions

[2018-02-08 21:26] enisoc commented on #59586
ref #42644 #58017

[2018-02-08 21:33] cvallance commented on #25908
@RJacksonm1 - got it working with `hostPort` and `spec.nodeName` ... now they will connect directly to the DaemonSet on their node 😄

CloudSql Proxy command not working:
`-instances={{ .Values.sqlConnectionName }}=tcp:{{ .Values.internalPort }}`
Working:
`-instances={{ .Values.sqlConnectionName }}=tcp:0.0.0.0:{{ .Values.internalPort }}`

🤦‍♂️

[2018-02-08 21:34] brycecarman commented on #59526
@kubernetes/sig-aws-proposals

[2018-02-08 21:45] khenidak commented on #58081
The issue is in the underlying inotify implementation i think it does not close the watcher fd correctly https://github.com/golang/exp/commit/292a51b8d262487dab23a588950e8052d63d9113#diff-913c4cd2428ce8671839b1afb2699b25

I am not sure how can fix it, I can move cAdisor on top of fsnotify

[2018-02-08 21:50] liggitt commented on #42644
deflake for TestPatch in https://github.com/kubernetes/kubernetes/pull/59594, same workaround as #42641... when we're doing consecutive overlapping patches on the same object, wait for our first patch to take effect.

[2018-02-08 21:56] mbohlool commented on #59513
cc @nikhiljindal
This is interesting. Problem here is "$ref" is a field name not a json schema reference. [check here.](https://github.com/mbohlool/kubernetes/blob/6133d84835c59f157a8fb4596f98d2d3cf828bef/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types_jsonschema.go#L23-L22)
it is a grey area, but my understanding of spec is "$ref" is not applicable as a key in "pro

[2018-02-08 21:59] wu105 commented on #26567
Using cloud provider openstack, the cinder provisioner restricts its PV to attach to a single node only.  When a minion node is down, k8s moves its pods to other nodes, however, the PVs attached to the down node is not automatically detached, making their dependent pods fail to schedule because those PVs cannot attach to other nodes while still attached to the down node.   It seems that k8s forgot

[2018-02-08 22:04] liggitt commented on #59586
deflake for TestPatch in #59594, same workaround as #42641

[2018-02-08 22:06] fejta commented on #59590
What do you see then? Look for the //pkg/master:go_default_test row, which is at/near the top. Scroll to the right.

[2018-02-08 22:10] jennybuckley commented on #58477
@yue9944882
I think that could fix this, but that PR has been unmerged for 9 months now.
Also isn't very clear to me why we should be allowing multiple definitions of the same environment variable anyway. I think #59593 could fix this in the short term

[2018-02-08 22:20] wu105 commented on #26567
On the RWO discussion above, not sure where we are at.  Is there a summary?  When introducing more modes, we may consider multi-mentioned specs, e.g., mode = {singleNodeAttachment: yes,  writerNumber: unlimited, ...},  At least we could use multi-dimensioned description to document the modes, which may also help with the implementation.

[2018-02-08 22:23] mikedanese commented on #59591
@ihmccreery

[2018-02-08 22:28] tallclair commented on #56523
I think we need to give people a heads up that the default is changing. I modified my proposal to capture that.

[2018-02-08 22:29] mikedanese commented on #59314
This is a dup of https://github.com/kubernetes/kubernetes/issues/18394

[2018-02-08 22:33] tallclair commented on #56523
FYI, flag deprecation policy: https://kubernetes.io/docs/reference/deprecation-policy/#deprecating-a-flag-or-cli

This falls under the "admin-facing" components, as a GA flag:

[2018-02-08 22:48] dims commented on #54077
Looks like this is already done! https://github.com/dims/kubernetes/commit/31332fa84a0928085200ba5a2e35118516ee2c48

[2018-02-08 22:48] #54077 closed

[2018-02-08 22:51] dims commented on #58613
@jhorwit2 i can recreate this using `hack/local-up-cluster.sh` by setting `EXTERNAL_CLOUD_PROVIDER=true` along with a CLOUD_CONFIG + CLOUD_PROVIDER env vars

[2018-02-08 22:57] xiaolanz opened #59596 "List ControllerRevision.v1.apps resource with kubectl get all"
/kind feature

**What happened**:
kubectl get all

doesn't list controllerrevision resources

I have to list them specifically:
$k get controllerrevision
NAME                     KIND                         REVISION
example-foo-5d7dfd79c9   ControllerRevision.v1.apps   1
example-foo-74b44748d6   ControllerRevision.v1.apps   2

**What you expected to happen**:
I want cr to be listed with fields "r

[2018-02-08 23:02] xiaolanz commented on #59596
/sig api-machinery

[2018-02-08 23:23] RenaudWasTaken commented on #59370
Ok let's move the discussion of device informations to #59109

I'll also create an issue for supporting device sharing which for basic sharing (i.e two containers using the same device) or pod level sharing (i.e: NICs) is really not far away.
It only requires consensus on the Device Plugin API and the User facing API.

Let's focus on the current suggested change:
- Do we support merging the curren

[2018-02-08 23:34] colinmorelli commented on #34583
Just to add another use case to this - I just spun up a new cluster in AWS. Masters spanning `us-east-1a`, `us-east-1b`, and `us-east-1d`. After creating the ASG for nodes, I learned that AWS is out of instance capacity in `us-east-1d` for that particular instance type. Now I currently don't have nodes in `us-east-1d` (until capacity is restored and I can move an instance over).

The reason this i

[2018-02-09 00:09] gnufied opened #59601 "Refactor checkIfAttachedToNode to return different error type based on error"
Currently, this function just returns same `fmt.Errorf` no matter what error is. I think, it is a good idea to refactor this function to return different types of errors so as caller of this function can use the error to differentiate between errors and take action.

cc @tsmetana
/sig aws
/sig storage

[2018-02-09 00:09] gnufied commented on #59601
/assign @tsmetana

[2018-02-09 00:12] jhorwit2 commented on #58613
@dims If you're running a local cluster then how are you running the CCM? The only way the taint gets removed is if the instance was found in the cloud provider and setup (labels, addresses, etc) OK. The code can be found [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L314-L365)

[2018-02-09 00:18] roberthbailey commented on #27150
This is a sign that the MIG is attempting to add a VM but is unable to. It usually will give an indication of why (e.g. quota issue, etc).

[2018-02-09 00:26] resouer commented on #58507
@yastij Already been taken by volunteer days ago :)

[2018-02-09 00:49] masroorhasan commented on #59501
Thanks @liggitt. If the defined behavior is that the deleted 'Pod' object should be returned then there is definitely a bug in docs as well as the swagger spec. The swagger spec shows that its expecting a 'Status' object as well:
![image](https://user-images.githubusercontent.com/802678/36006126-f9791528-0cef-11e8-908f-b19101c9664f.png)

[2018-02-09 00:53] mikedanese commented on #59491
This one is maintained by go bazel team and is much simpler than go-bindata:

https://github.com/bazelbuild/rules_go/blob/c584696cf0df17ef56bdea5c7dee726bd269dafd/go/tools/builders/embed.go

[2018-02-09 00:55] bsalamat commented on #59590
@fejta Am I missing something? Why //pkg/master is related to scheduler?

[2018-02-09 00:59] dims commented on #58613
@jhorwit2 the local cluster is started within a openstack vm. so it's a one vm cluster. thanks for the pointer, will check it out

[2018-02-09 01:00] timothysc commented on #58908
@dcbw @thockin - this is pretty bad.

[2018-02-09 01:02] fejta commented on #59590
I have no idea.

https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv#L682 doesn't specify a sig for this package, so I guessed.

Please pass forward to the correct sig if you can find a better owner. If you put eh sig name in the test_owners.csv file we will apply it next time.

[2018-02-09 01:05] bsalamat commented on #59590
I actually don't know what is the right SIG, but I am going to ask around and will pass the issue to the right owner.
For the reference, scheduler tests are under //pkg/scheduler.

[2018-02-09 01:07] caseydavenport commented on #58908
yeah, you should have the pod IP range within the `--cluster-cidr` that you give to Kubernetes.

From above, it looks like Calico is configured to use `192.168.0.0/16` for Pod IPs and Kubernetes is configured to expect `10.5.0.0/16`. I think you need to either change the pool that Calico is using, or change the cluster-cidr provided to k8s such that the two match.

[2018-02-09 01:08] bsalamat commented on #59590
/assign @cheftako

[2018-02-09 01:18] MrHohn commented on #58338
@beatlejuse Sorry for the delay, I failed to reproduce it in on my GCE cluster. As you are using flannel, I suspect it is the same issue as https://github.com/kubernetes/kubernetes/issues/52096 (and couple previously closed ones https://github.com/kubernetes/kubernetes/issues/44963, https://github.com/coreos/flannel/issues/734). Would be great if you could check whether that is the case.

[2018-02-09 01:18] cheftako commented on #59583
I suspect this should be fixed by the combination of #59010 and #58992 but without more detail its tough to tell. @mithrav can you tell me where you see these failures? I suspect we may need to cherrypick these fixes on to at least the 1.9 branch if you want to not have flakiness on the 1.9 branch.

[2018-02-09 01:19] jiayingz commented on #53616
/assign @yguo0905

[2018-02-09 01:29] bgeesaman commented on #58908
In my case, I'm not using Calico (purposefully using kubenet): https://github.com/hardening-kubernetes/from-scratch/blob/master/docs/launch-configure-master.md and https://github.com/hardening-kubernetes/from-scratch/blob/master/docs/launch-configure-workers.md Unsure if that means my issues is then identical to @wittlesouth.  Thanks for looking at this!

[2018-02-09 01:40] m1093782566 commented on #59505
@islinwb

[2018-02-09 01:42] cheftako commented on #59450
/kind flake

[2018-02-09 01:43] cheftako commented on #59590
This is a duplicate of #59450

[2018-02-09 01:43] harsh-px opened #59606 "Portworx volume driver is dropping namespace information when creating a PVC"
**BUG REPORT**: During the create workflow, Portworx native driver has the PVC namespace information. But this isn't getting passed to the Portworx Create API. As a result, the Portworx service side handler doesn't get the namespace information.

It will also be helpful to send PVC annotations in the Create API call.

/kind bug

**What happened**:
Portworx native driver didn't send PVC namespace t

[2018-02-09 01:44] harsh-px commented on #59606
I'll be fixing this issue in an upcoming PR.

[2018-02-09 01:44] andyzhangx commented on #57304
@khenidak I think this issue is not related to `filter out nodes that are not fit for disks types (for managed vs. unmanaged and premium vs non-premium machines)`, you could file a new feature request issue

[2018-02-09 01:49] mithrav commented on #59583
pull-kubernetes-e2e-gce is the PR job.

[2018-02-09 01:51] VinceMD commented on #24290
@chrislovecnm sorry this is closed but regarding `EC2 snitch providers need testing (don't have environment yet)"`.
I've tested it and it works

In statefulset, remove env var for Rack and DC and instead add this env var:

`          - name: CASSANDRA_ENDPOINT_SNITCH
            value: "Ec2Snitch"`

Result with nodetool status:

`root@cassandra-0:/# nodetool status
Datacenter: ap-southeast-2
=====

[2018-02-09 01:53] VinceMD commented on #24290
With regards to Seed, how to I specify the number of Seeds with current statefulset? Where is the ticket for the development of the SeedProvider in Kubernetes?

[2018-02-09 01:59] andyzhangx commented on #59435
@srudenko I see, in your case, you are using azure file static provisioning (you brings your azure file storage account name & key), so you must set mountOptions in PersistentVolume, (not necessary to set mountOptions in storage class). And if you are using dynamic provisioning, you must set mountOptions in Storage Class. I will ask owner to update the official doc, thanks.

[2018-02-09 02:02] cheftako commented on #59583
I believe the last failure on https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=webhook&job=pull-kubernetes-e2e-gce was just prior to #59010 merging. Hoping this is now fixed.

[2018-02-09 02:22] charrywanganthony commented on #59596
can you get the resource by `kubectl get controllerrevision ...`

[2018-02-09 02:23] yue9944882 commented on #58908
AFAIK kube-proxy doesn't make sure if `FORWARD ACCEPT` is present on the host at the first place. Maybe kube-proxy should at least throw an error before applying rules about `NodePort` if `FORWARD` policy is forbidden.

[2018-02-09 02:25] bsalamat commented on #56032
Today, I found some time to look into the problem. It was not preemption itself that was slowing us down, it was getting the list of "nominated Pods" from the scheduling queue which was the problem. ActiveQ of scheduling queue does not have a hash table to track the pods nominated for nodes and getting the list causes an O(n) scan. When there are many pods in the scheduling queue, this O(n) scanni

[2018-02-09 02:30] dineshsckloud9 commented on #27150
This is fixed and auto scaling is working for GCE kubernetes...

Will the same thing work for openshift?

Here, my openshift cluster should be in GCE, once I create it, I will try
to run Custer autoscaler pod with node-group and all in it, will it
scale-up nodes?

On 09-Feb-2018 5:48 AM, "Robert Bailey" <notifications@github.com> wrote:

[2018-02-09 02:30] MrHohn commented on #58839
Fixed by https://github.com/kubernetes/kubernetes/pull/59077.

[2018-02-09 02:30] #58839 closed

[2018-02-09 02:52] wgliang commented on #59460
@ravisantoshgudimetla @bsalamat
The cluster size is 3w nodes, the number of CPUs is 32 physical CPUs. I agree with your idea, but setting 16 to different environments is not a good choice for me, and we should provide more elegant The way. Allow users to adjust this parameter according to their own environment (CPU number or size of cluster).

[2018-02-09 02:55] stantonk commented on #59488
I experienced the same. What's interesting is I can get it to pass when running the devicemanager suite, but only about half the time.

[2018-02-09 03:07] MrHohn commented on #55520
/remove-lifecycle stale

[2018-02-09 03:13] k82cn commented on #58232
+1, it's also better to enhance scheduler for general purpose, e.g. CSI, instead of hardcode :).

Overall, that's a reasonable feature to me :).

[2018-02-09 03:14] k82cn commented on #59460
Good point on `GOMAXPROCS` :)

[2018-02-09 03:18] wgliang commented on #59460
@k82cn I have tried to adjust this parameter, the default is the number of CPU.And I also try to set this value to a larger value, but there is no more obvious effect.

[2018-02-09 03:20] andyzhangx commented on #59543
Update, following config needs to be set in acs-engine:
[code]

[2018-02-09 03:22] MrHohn opened #59611 "Resource name has random trailing hash in events"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig instrumentation

**What happened**:
Saw unusual resource names in events on a fair new k8s dev cluster (built few days ago).
[code]
Even the same resource could have different trailng hashes (`.1511886XXX`), which seems abnormal.

**What you expected to happen**:
Resource name should appear without trailing hash.

**How to reproduce it (

[2018-02-09 03:30] treacher commented on #51271
I'm having the same issues it's as though it's trying to recreate the ELB which is a bit scary.

[2018-02-09 03:41] #57356 closed

[2018-02-09 04:05] ravisantoshgudimetla commented on #59460
@wgliang -

IIUC, you have 3 nodes in the cluster? If yes, I think increasing the number of cores is not going to speed up the process. Everything could be done on a single core and even it may be faster on a single core since we have sync.Wait in the code which may cause lock when used across cores. Can you please let us know the usage stats of cores. I think at this point, a tool like scheduler_

[2018-02-09 04:11] wgliang commented on #59460
@ravisantoshgudimetla Yes,I agree with you, and this is maybe the most likely reason I think.
Anyway, what is your opinion on configuring this parameter?

[2018-02-09 04:33] JasonShin opened #59614 "Ingress level proxy and redirection to external websites or IPs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
Please add features in Kubernetes Ingress to proxy and redirect traffic to external website or IPs

**What happened**:
It seems like you cannot do this using Ingress on its own so I had to create a Nginx service to do this job, which is somewhat wasteful.

**What you expected to happen**:
I want to simply configure redirection and proxy