[2019-01-30 14:48] DarkHostDH opened #73528 "Issue when installing flannel/calico interfaces"
I have few kvm nodes in different subnets. Every node has two iface `eth0 - nat iface` and `eth1 - ip from 10.201.(11|12|14).0/24`. On every node presents manual routes to link between subnets. Routes between nodes was checking. There is single master cluster temporary.
**Environment**:
All nodes has identity configuration.
[code]
**What happened**:
Master node was setting up from config
[code]
I

[2019-01-30 15:05] dims commented on #73514
/sig auth
/sig apimachinery

[2019-01-30 15:09] liggitt commented on #73514
/cc @immutableT @smarterclayton @destijl

[2019-01-30 15:30] #71349 closed

[2019-01-30 15:30] smarterclayton commented on #73514
This was considered during the design - I believe the end argument was:

If you can perform this attack (change disk contents) you’re root on the master which means you can, for instance, change etcd to run your pod as root on every node in the cluster, create a role that gives you cluster admin and the right to view every secret, or tell the kubelet to load any PV in your account that you have ac

[2019-01-30 15:34] smarterclayton commented on #73514
I recall us discussing and eliminating counter mode because of something.  Secret box was reasonably new at the time and there was a concern about endorsing it.

I’d probably prefer to fix the padding issue given the relative history of aes cbc

[2019-01-30 15:41] danwinship commented on #71728
/remove-good-first-issue
/remove-help-wanted
(after someone asked me about this, I realized that trying to run tests that don't get run by CI is kind of complicated...)

[2019-01-30 15:41] danwinship commented on #71728
/remove-good-first-issue
/remove-help
(after someone asked me about this, I realized that trying to run tests that don't get run by CI is kind of complicated...)

[2019-01-30 16:08] tuminoid commented on #73216
Does not reproduce for me with 1.14.0-alpha.2, which has #72558.

Disclaimer: minikube has issues with 1.14.0-alpha.2, as kube-apiserver doesn't recognize `Initializers` in `--enable-admission-controller`, so it has to be manually edited away to use minikube with alpha.2.

[2019-01-30 16:11] xformerfhs commented on #73514
I think it would be a good idea to always use integrity checks when using encryption. There have been a lot of attacks recently that manipulate the ciphertext. All of these attacks can no longer be performed when there is integrity checking in place. "secretbox" has integrity checking, "aesgcm" has and I think "aescbc" should be modified to use a HMAC in encrypt-then-MAC mode. Really, never use en

[2019-01-30 16:15] johnSchnake opened #73530 "kubeadm apiserver-advertise-address to support cname"
**What would you like to be added**:
apiserver-advertise-address to allow cnames instead of just ipv4 or ipv6 addresses.

**Why is this needed**:
Makes the system more resilient in situations where the IP may change.

[2019-01-30 16:24] adelina-t commented on #73415
Yeah, I think we can add them. I'll try a run with those added and make a PR. @bclau you looked over the full tests recently, any caveats against these [sig-apps] CronJob ?

[2019-01-30 16:38] nvnobelen commented on #71706
Same issue occurs on:
Ubuntu-1804-lts
Ubuntu-1810

Line number of when the error occurs varies

Issue does not occur on Ubuntu-1604-lts
(But due to docker 18.x PLEG issues with Ubuntu-1604-lts we really need the upgrade to a higher Ubuntu version, so this is iptables issue is pretty critical to get resolved)

[2019-01-30 16:39] richm commented on #58638
@jcantrill @ewolinetz

[2019-01-30 16:52] dturn commented on #72996
Thanks everyone for the discussion. I think we're all on the same page and can close this issue. Feel free to re-open if anyone disagrees.

[2019-01-30 16:52] #72996 closed

[2019-01-30 17:12] mariantalla commented on #72932
Sounds good, thanks (and found #72976 a super interesting read fwiw 🤔)

/close

[2019-01-30 17:12] #72932 closed

[2019-01-30 17:14] mattfarina commented on #73289
Since I shared this on the SIG CLI meeting...

* Over on Helm we've gotten request for a system install location or plugins. There are cases where plugins are needed but access is not available in the users directory to add them but you can have system admin install them in a location they manage. I would look at this case and would not be surprised if this case came to kubectl as well.
* There is

[2019-01-30 17:16] tallclair commented on #7961
Yep, and help is still wanted :)

[2019-01-30 17:20] kfox1111 commented on #22368
For that, you should be able to do that with inotify in a sidecar container and:
https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/

mount the configmap in the sidecar and watch it. signal the process when it changes. Should be good to go.

That is a separate way of solving a subset of the problem. there's no way to see what the state of the deployment is with respec

[2019-01-30 17:25] cnelson commented on #22368
+1 so hard

[2019-01-30 17:31] immutableT commented on #73514
CBC mode is also [hard coded](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go#L312) for use by Envelope Encryption, where a new DEK is generated per secret - making the collision attacks against an IV not relevant.

Changing default to GCM is a good choice for Envelope Encryption (even for reasons outside the scope of

[2019-01-30 17:33] nyetwurk commented on #22368
@kfox1111 Thanks, I will try to take this approach.

[2019-01-30 17:35] mourya007 commented on #7961
@timstclair Thanks, Please Let me know how can i give my help in this issues.

[2019-01-30 17:40] dashpole commented on #72788
As to how this could be done, in [pkg/kugelet/stats/cri_stats_provider.go:ListPodStats()](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/stats/cri_stats_provider.go#L78) and
 [ListPodCPUAndMemoryStats()](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/stats/cri_stats_provider.go#L178) we could just add a `map[string]*runtimeapi.CpuUsage` in the `criStatsProvider`

[2019-01-30 17:41] tallclair commented on #7961
The hardest part of this is going to be handling the log files. If we can ensure those (and any other host mounted files) have the right permissions, then setting RunAsUser should be pretty straightforward (plus adequate testing).

[2019-01-30 17:45] wongma7 commented on #72661
https://github.com/kubernetes/kubernetes/pull/73318 should mitigate this as it forces the read container to start after write container. In short, this is an nfs-ganesha bug when read/write happens at the same time. (I opened https://github.com/kubernetes/kubernetes/pull/73318 for another issue, writer container starting 10s after reader container, but it should help here anyway).

Note how it's o

[2019-01-30 17:50] johnSchnake commented on #73530
/sig cluster-lifecycle

[2019-01-30 17:52] chuckha commented on #73530
Ah could you reopen this in github.com/kubernetes/kubeadm ?

@johnSchnake

[2019-01-30 17:57] bclau commented on #73415
I see no problem with the [sig-apps] CronJob tests or any other cronjob test[1], so LGTM.

[1] https://docs.google.com/spreadsheets/d/1j8fAU0BLgdHWmRW5Ib9LlUydkBZJsghApTercA7WQRM/edit#gid=1365541815

[2019-01-30 17:57] msau42 commented on #72661
great find! Is it possible to change our nfs provisioning tests to use nfs-client instead?

[2019-01-30 18:05] wongma7 commented on #72661
Probably, another option is to mount ganesha shares with `-o nfsvers=3`.

[2019-01-30 18:08] Akuka commented on #25908
Side note:
Google updated their [Connecting from Google Kubernetes Engine](https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine) documentation, now in addition to the `Connecting using the Cloud SQL Proxy Docker image` you can `Connecting using a private IP address`
So if you are here for the same reason Im here (because of the cloud_sql_proxy), you can use now the new feature of Priv

[2019-01-30 18:11] wongma7 opened #73535 "Use `nfs-client-provisioner` instead of `nfs-provisioner` for dynamic nfs storage e2e tests"
**What would you like to be added**: tests should start nfs-server+nfs-client-provisioner pods instead of starting an nfs-provisioner pod.

**Why is this needed**: It will be more consistent for all tests, dynamic/preprovisioned, to use nfs-server (containerized kernel nfs). And it will insulate us from nfs-provisioner bugs. nfs-provisioner is good enough as an all-in-one solution for testing the

[2019-01-30 18:11] wongma7 commented on #72661
https://github.com/kubernetes/kubernetes/issues/73535 to track that created

[2019-01-30 18:40] #73530 closed

[2019-01-30 18:42] liggitt commented on #73510
typically that means you need to grant permissions to the user making the API calls. Can you provide the full error message you are seeing?

[2019-01-30 18:48] jnummelin commented on #66241
Can't find any docs on what "some system configuration" means in this case, anyone care to share anything on that?

By NOT setting that fail one CIS security benchmark test so it would be nice to be able to set on a cluster.

[2019-01-30 18:52] anitgandhi commented on #44370
We're seeing the same behavior on a vanilla Minikube cluster. The default storage class exists, and a simple PVC with no storage class set will _sometimes_ fail to bind, with error `no persistent volumes available for this claim and no storage class is set`.

This is on Minikube v0.33.1 for what it's worth, but the issue only shows up sporadically, and a reboot seems to fix it, at least temporaril

[2019-01-30 18:52] pbarker commented on #70815
There is a KEP for a simple token API based authentication https://github.com/kubernetes/enhancements/pull/658
as well as a PR for a kubeconfig version https://github.com/kubernetes/kubernetes/pull/73536 keeping in line with Dynamic Admission Control.

[2019-01-30 19:00] saad-ali commented on #73371
Not urgent. Getting it in for v1.14 would be really great, and make the whole system more robust. If we don't, with the work around @taragu added for CSI https://github.com/kubernetes/kubernetes/pull/72873 we should be stable enough on the CSI side that we can push this to 1.15 if needed.

[2019-01-30 19:04] mdaniel opened #73538 "kubelet provides unhelpful message when kubeconfig is blank"
**What happened**:

[code]
_I gravely simplified the situation just for this bug, my actual command line had a lot more text which is why it masked the erroneous `--kubeconfig=""` part_

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
see above

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versio

[2019-01-30 19:19] apelisse commented on #68839
/lifecycle frozen

[2019-01-30 19:22] xyhuang commented on #48180
+1. this would be very helpful. one use case we need is to inject things like proxy configs into all containers.

[2019-01-30 19:31] alanjcastonguay opened #73541 "Pods sit in ContainerCreating for a long time in presence of a large number of ServiceAccount imagePullSecrets"
**What happened**:

On AKS, I edited the "default" ServiceAccount in 11 namespaces to add `imagePullSecrets[]`, and erroneously listed the same `type=kubernetes.io/dockerconfigjson` secret 545 times. That bug was a provisioner trying to workaround #72475 but not being idempotent. My fault.

I observed in this state that Pods in those namespaces took 4-60 minutes to start, most of that time spent i

[2019-01-30 19:38] alanjcastonguay commented on #73541
I can't attach the shellscripts or csv files here, so I put them at https://gist.github.com/alanjcastonguay/ac890649c5b484062dedf98ae1f186ec

[2019-01-30 19:40] mariantalla commented on #72931
/priority important-soon

[2019-01-30 20:12] clemens-openai opened #73543 "Pod scheduler does not apply priority settings to device plugin resources"
**What happened**:
Our scheduler is configured to use the `MostRequestedPriority` and `InterPodAffinityPriority` priorities to pack pods into as few nodes as possible. This works for CPU and Memory requests, but requests for `nvidia.com/gpu` (using the NVIDIA device plugin) seem to be ignored when determining priority in the presence of CPU/Memory requests. When there are no CPU/Memory requests an

[2019-01-30 20:15] clemens-openai commented on #73543
@kubernetes/sig-scheduling-bugs

[2019-01-30 20:16] alanjcastonguay commented on #73541
Starting with @kubernetes/sig-azure-bugs, since I haven't reproduced this outside AKS.

[2019-01-30 20:23] liggitt commented on #73134
the failing path is "STEP: testing: /swaggerapi"

That URL is for swagger 1.2 schema docs, which were removed in master https://github.com/kubernetes/kubernetes/pull/72924

That test was updated in master in that PR as well. The failure indicates a test from a previous branch is running against master and needs to be updated.

[2019-01-30 20:23] liggitt commented on #73134
do we know what branch the failing test is running from? release-1.12? release-1.13?

[2019-01-30 20:46] zerkms commented on #22368
Another approach, depending on how one deploys things: if a `ConfigMap` is deployed by the same automated process as a `Pod` (or `Deployment` does not matter) then one may include an additional environment variable that contains a hash of the `ConfigMap`.

Then when a `ConfigMap` changes -> a hash changes -> an environment variable changes -> a pod is redeployed.

[2019-01-30 20:56] misterikkit commented on #67589
since both the PRs I mentioned merged, I think we can consider this issue resolved.
/close

[2019-01-30 20:56] #67589 closed

[2019-01-30 21:01] pbarker commented on #71464
@mourya007 I opened a PR for the API change as that will take awhile to get through https://github.com/kubernetes/kubernetes/pull/73547

[2019-01-30 21:01] richgerrard opened #73548 "Secrets metadata should include updatedTimestamp"
**What would you like to be added**:
Currently (v1.13) the metadata for secrets only includes creationTimestamp:
`kubectl get secret mysecret -o yaml`
returns:
`apiVersion: v1
data:
  config.yaml: YXBpVXJsOiAiaHR0cHM6Ly9teS5hcGkuY29tL2FwaS92MSIKdXNlcm5hbWU6IHt7dXNlcm5hbWV9fQpwYXNzd29yZDoge3twYXNzd29yZH19
kind: Secret
metadata:
  creationTimestamp: 2018-11-15T20:40:59Z
  name: mysecret
  namespace:

[2019-01-30 21:11] TL-KenYu commented on #46861
Hitting this issue. I don't understand why this is breaking

[2019-01-30 21:19] pbarker commented on #71464
@mourya007 also see https://github.com/kubernetes/kubernetes/pull/73547#issuecomment-459109958 we may want to hold out to see the outcome of the admission work

[2019-01-30 21:20] alankm commented on #72788
ListPodCPUAndMemoryStats() we could just add a map[string]*runtimeapi.CpuUsage in the criStatsProvider struct

I've done some tinkering on this myself and I originally thought that it would be as simple as that. It gets much more complicated when you have to work in between the existing cAdvisor-based logic. I assume the intent is to cut it out entirely eventually, but the information passed throu

[2019-01-30 21:45] msau42 commented on #72931
I ran these tests against a cluster with the NodeLease feature disabled, and the tests pass.  So I think the issue is related to the new NodeLease feature enabled a month ago: https://github.com/kubernetes/kubernetes/pull/72096

cc @wojtek-t @wangzhen127

[2019-01-30 21:45] msau42 commented on #72931
@kubernetes/sig-node-test-failures

[2019-01-30 21:46] msau42 commented on #72931
I discussed with @jingxu97.  VolumesInUse is updated periodically in the Node.Status.  So we need to make sure this flow is working well with the NodeLease feature.

[2019-01-30 21:51] richgerrard commented on #73548
@kubernetes/sig-api-machinery-feature-requests

[2019-01-30 21:52] dashpole commented on #72788
We don't need to fill in everything in the summary API, just "usageNanoCores".

The "/stats/summary" api is the one used by the metrics server, which is why we care about it in this case.  The "/stats/container" isn't something we need to implement to support this.

[2019-01-30 21:54] fabianotessarolo commented on #59117
@ChrisTerBeke have you tried this way:

E.g:
[code]

[2019-01-30 22:19] dekkagaijin commented on #73133
The GCE metadata concealment image was updated in 1.14: https://github.com/kubernetes/kubernetes/pull/71094

The old test image (1.1.1) used in the upgrade test is expected to fail with the new image

[2019-01-30 22:42] msau42 commented on #72931
@jingxu97 @wangzhen127 and I walked through the code.  The NodeLease feature introduced an early exit to the node status update function, so our theory is we need to add a call to `MarkVolumesReportedAsInUse` [here](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/kubelet/kubelet_node_status.go#L430).

I will make the change and test it out

[2019-01-30 22:43] roycaihw opened #73551 "Some workqueue metrics aren't registered"
**What happened**:
We don't handle potential error from metric registration and fail silently when error occurs. As a result some metrics didn't get registered due to invalid name / duplication: https://github.com/kubernetes/kubernetes/pull/71767

**What you expected to happen**:
It's a programming error that we register invalid / duplicated metrics. We should fix naming / duplication, and fail ha

[2019-01-30 22:46] bsklaroff commented on #45509
I'm new to kubernetes and need exactly this, for exactly the use case mentioned above, managing a set of workers with spiky queues. This seems like an obvious use-case and no reasonable workaround exists. What am I missing about kubernetes? Is it simply the wrong tool for the job here?

[2019-01-30 22:47] byxorna commented on #48180
I recently released https://github.com/tumblr/k8s-sidecar-injector which we use at Tumblr to inject standard environment variables into pods (as well as sidecar containers and volumes). Perhaps this can scratch your itch?

[2019-01-30 23:09] bsklaroff commented on #45509
I also want this feature for autoscaling workers with long-running jobs and spiky queues. Currently working around with `kubectl pause deployment`, then deleting an idle pod by name, then scaling down deployment replicas by one, then `kubectl resume deployment`

[2019-01-30 23:20] taragu commented on #73371
@vikaschoudhary16 sounds good. Thanks!! 😄

[2019-01-30 23:41] #68095 closed

[2019-01-30 23:41] sdanieru commented on #73412
I'm getting the same error, but in my case, my underlying persistent storage is NFS. I suspect that in both our cases mongodb is trying to do something that the underlying filesystem doesn't support. mongodb docs state:
"With the WiredTiger storage engine, WiredTiger objects may be stored on remote file systems if the remote file system conforms to ISO/IEC 9945-1:1996 (POSIX.1). Because remote fil

[2019-01-30 23:57] achodankar04 commented on #73412
I guess there will be issue if you try to use azure file , nfs and glusterfs as these are read write many type storage classes. If you use any type of read write once storage class like azure disk then the issue can be solved. For our project we are moving away from containerized Mongo to external Mongo cluster.

[2019-01-30 23:59] M00nF1sh commented on #73480
The root cause is [updateInstanceSecurityGroupsForLoadBalancer](https://github.com/kubernetes/kubernetes/blob/a780dd78d30616c5bbf254244013d784a73c5d39/pkg/cloudprovider/providers/aws/aws.go#L3909) doesn't play well with "service.beta.kubernetes.io/aws-load-balancer-extra-security-groups" and "service.beta.kubernetes.io/aws-load-balancer-security-groups"(added in v1.13).

And this behavior is unpre

[2019-01-30 23:59] jsturtevant commented on #73387
I've started to tackle this.  Are there considerations (versioning,back compatibility, etc) of adding a new field to `v1.Container.SecurityContext`?

Does a new field name of `v1.Container.SecurityContext.runAsUserName` work? Or should it be something like `v1.Container.SecurityContext.windows.runAsUser`?

[2019-01-31 01:36] tanksoga commented on #73505
I think it is

[2019-01-31 01:50] #73478 closed

[2019-01-31 02:21] changyaowei commented on #73397
Sorry , i don't know how to explain .

[2019-01-31 02:45] pjh commented on #56188
This Microsoft support page seems to indicate that Windows Server has supported NFS v4 since 2012R2: https://docs.microsoft.com/en-us/windows-server/storage/nfs/nfs-overview

So it seems that the lack of v4 client support should not be a reason that NFS volume support can't be done for Windows.

That said, my understanding is that nobody uses NFS on Windows and everybody uses SMB/CIFS instead, so

[2019-01-31 03:18] IpaliboWhyte opened #73558 "kubectl exec: invalid memory address or nil pointer dereference v1.12.5"
**What happened**:
After upgrading my k8s cluster from **v1.12.4** to **v1.12.5** I'm currently having issues with `kubectl exec`

**e.g**
`kubectl -n kube-system exec -it <pod-name> sh`
outputs:
[code]

I noticed this error first on **kube-dashboard v1.10.1** anytime I try exec into any pod I get the following error on the screen:

[code]

Also tried the following curl request:
[code]
output:
[co

[2019-01-31 03:20] IpaliboWhyte commented on #73558
/sig api-machinery

[2019-01-31 03:37] listx commented on #58012
I think this issue is blocked by https://github.com/kubernetes/k8s.io/issues/157. At least, that issue seems to directly touch on this sort of problem.

[2019-01-31 03:39] ymmt2005 commented on #71555
We addressed the issue by assigning a link-local address 169.254.1.1/32
to the host-side veth in https://github.com/cybozu-go/coil/pull/36 .

So this issue is not critical at least for our case.

[2019-01-31 03:41] chey commented on #49926
Cloud: AWS
OS: RedHat 7.6
kube version: v1.12.5

Having a similar problem with storage myself. When draining a node that has an EBS volume which is attached to a Pod and/or Deployment, the storage doesn't move. It releases from original node but never makes it to the new/next node.

Like others, switching to `t2.xlarge` instances fixed this for me.

[2019-01-31 03:46] cofyc opened #73559 "Add an e2e test "Pods sharing a PVC on a single node ""
**What would you like to be added**:

New test case to cover scenario in https://github.com/kubernetes/kubernetes/issues/73216.

**Why is this needed**:

Prevent this issue happening again.

[2019-01-31 03:46] cofyc commented on #73559
/assign
/sig storage

[2019-01-31 04:27] junawaneshivani opened #73561 "Adding power support for image(fluentd-elasticsearch) at k8s.gcr.io"
**What would you like to be added**:

I was looking for help in making the fluentd-elasticsearch image  @k8s.gcr.io, multi-arch.

**Why is this needed**:

I have a requirement for using the fluentd-elasticsearch image on Power(ppc64le) architecture for knative deployment. However, the images available here - `k8s.gcr.io/fluentd-elasticsearch`  have support for "amd64" only as seen below
[code]

I

[2019-01-31 04:49] calvix commented on #71594
This seems like really bad design if I want to have full control over I should be able to do that and having separate VMSS for each worker sounds awful.

On AWS its handled properly, where a cloud provider is not meddling with whenever it should or not update the ASG so I wonder why its different on Azure.

Is there a way how to disable this behavior? VMSS already have a way of defining the `updat

[2019-01-31 05:01] cblecker commented on #73238
@foxish Looks like the only branch we are still waiting to merge is 1.11 (#73379)

[2019-01-31 05:07] cofyc commented on #73419
This failure is because kubelet is restarted serval times during testing.

fail time of test:

[code]

Note that after `Jan 30 10:22:14.037: INFO: 37/40 pods finished`, the rest 3 pods cannot finished.

This is because kubelet is restarted serval times in this period of time.

Output of `grep 'Started Kubernetes kubelet' kubelet.log  -B 3 -A 2`:

[code]

Because all tests in this job is run serial

[2019-01-31 05:09] foxish commented on #73238
Just approved the cherrypick @cblecker. Thanks!

[2019-01-31 05:10] QiuMike commented on #40182
this does not make it work even though the packet forward use docker0, because the packet from other node will not be in ctstate RELATED or ESTABLISHED, the first packet will be NEW, and this packet will be drop, so it will never be in ESTABLISHED state

[2019-01-31 05:32] michmike commented on #72788
we added a couple of tickets to validate if HPA works. My guess is that it works for memory and not for CPU metrics because of this issue.

If this is complicated to fix, i wonder if waiting for the CRI containerD changes in windows would be the best option for supporting this.

[2019-01-31 07:34] feiskyer commented on #71594
The operation is required for updating LoadBalancer backends, or else, kubernetes service with type LoadBalancer won't work.

We're pending on VMSS new APIs to allow only updating the networkProfile in such cases.

[2019-01-31 07:37] gosoon opened #73570 "`kubectl get pod` is very slow, it takes about 15 seconds，is there any way to improve it？"
Our kubernetes cluster have 1000 nodes and 7100 pods，I don't think the cluster is large，but using kubectl is very slow,is there any way to improve it？

[code]

**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.8.1
- Clo

[2019-01-31 07:40] feiskyer commented on #73235
The IP is part of service spec, so it's required to make the full service spec work. To support specifying public IP name, a new annotation may be added in service spec.

I wonder what's the use cases of this?

@khenidak What do you think about this?

[2019-01-31 08:24] Ladicle opened #73572 "Static and critical pod is evicted"
**What happened**:

Eviction manager evicts the below static and critical pod when the node observed MemoryPressure.
The k8s server version is v1.13.2, and the pod priority is enabled.

[code]

As far as I can see, the eviction manager does not evict such pods.
https://github.com/kubernetes/kubernetes/blob/6cea9266dcfb89d1d278d102885c03b11dbe26fc/pkg/kubelet/eviction/eviction_manager.go#L547

**Wh

[2019-01-31 08:48] liuhuiping2013 opened #73574 "deployment's image always rollback to specify tag"
**What happened**: when edit deployment's image, it will auto rollback to specify tag
if you set image to "abcd:v1", it will be "abcd:v3.1.10-dev" after few seconds
if you set image to "xyz:v2", it will be "xyz:v3.1.10-dev" after few seconds
and
[code]
output like this:
[code]
but i never run these commands, but just edit deployment's image in dashboard, edit one time, rollout history output will

[2019-01-31 08:50] liuhuiping2013 commented on #73574
/sig bug

[2019-01-31 09:15] wojtek-t opened #73575 "--vmodule used in scalability tests is adding significant concention"
After we moved logging all requests in apiserver to V(3) level:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go#L146

We have added the:
--vmodule=httplog=3
to config of all scalability tests, because debugging scalability tests is pretty much impossible without having those logs.

However, apparently this is adding a huge lock conten

[2019-01-31 09:19] zouyee commented on #71665
any progress?

[2019-01-31 09:23] djcass44 commented on #71665
My cluster is using 3 Raspberry Pi 3B+ and I switched from using Raspbian Lite to Hypriot 1.9.0 and it fixed all my problems. Sorry I can't be more help :(

[2019-01-31 09:50] zouyee commented on #73572
/assgin

[2019-01-31 10:23] snwfdhmp opened #73579 "Prevent ingress from using TLS v1.2"
Hi,

I'm building an authentication system using a chipcard and card reader to log into my application.
For this intent, I need to use Client SSL Certificate Validation for 1. transmitting the CA to the client browser 2. the browser asks the user for his certificate 3. the browser connects using user's certificate.

I've noticed that Chrome (at least Chrome 71 and below) are not asking for Client'

[2019-01-31 10:30] snwfdhmp commented on #73579
@kubernetes/sig-network-bugs

[2019-01-31 10:31] qzmfranklin commented on #71996
@dims

Interesting that [this fix](https://github.com/golang/go/issues/27110) was not explicitly mentioned in any release notes.

I can confirm that a valid test point is that as of go-1.11.5, this issue has been resolved. I am sure that by looking through the git history of the golang repo I can find the exact minor release that patched this issue. But for now and going on forward I am happy enou

[2019-01-31 10:31] #71996 closed

[2019-01-31 10:59] calind opened #73584 "Containers deleted while pod still having finalizers set"
**What happened**:
Pod enters `Terminating` state and containers get deleted even if finalizers still exist on pod.

**What you expected to happen**:
Pods should stay in `Running` state and containers should stay up while finalizers still exist on pod.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
We need this in order to do graceful

[2019-01-31 11:04] calind commented on #69458
/remove-lifecycle-stale

[2019-01-31 11:05] calind commented on #69458
/remove-lifecycle stale

[2019-01-31 11:11] wojtek-t opened #73585 "Add an ability to hearbeat inside watch"
From scalability/performance point of view, our "k8s watch" is missing one important feature which is ability to send a "resource-version-dependent heartbeat" to it.
What I mean here is that if a watch is interested only in some small percentage of object, the fact that it didn't receive any event doesn't mean that this watch didn't do any progress. In majority of cases we already know that all ob

[2019-01-31 11:13] wojtek-t commented on #73585
I'm going to hack a little bit with that to see what we could do it (as a first step without thinking much about backward compatibility). Once I have a bit better understanding of what we can do exactly here, I'm happy to write a KEP.

In the meantime, if anyone has any specific suggestions, I'm happy to hear them.

[2019-01-31 11:14] wojtek-t commented on #73585
@liggitt

[2019-01-31 11:40] multi-io commented on #49622
/reopen

[2019-01-31 12:01] szuecs opened #73587 "memory leak in kubelet 1.12.5"
**What happened**:
After upgrading to kubernetes 1.12.5 we observe failing nodes, that are caused by kubelet eating all over the memory after some time.

![image](https://user-images.githubusercontent.com/50872/52051018-9f335c00-2552-11e9-8520-2c22a5f64ab2.png)

I use image `k8s.gcr.io/hyperkube:v1.12.5` to run kubelet on 102 clusters and since a week we see some nodes leaking memory, caused by ku

[2019-01-31 12:06] szuecs commented on #73587
/sig node

[2019-01-31 12:17] Shnatsel commented on #73587
@kubernetes/sig-node-bugs

[2019-01-31 12:40] crunchie84 commented on #65013
Just chiming in; We as a GKE customer have today been bitten by this issue in production. The documentation of `kubectl cordon` (in the context of GKE) is not extensive enough so we could be aware of this issue. This should be addressed.

Luckily the outage was not severe because we were using the node-by-node approach (and accepted the container churn this would cause). We explicitly took this ap

[2019-01-31 12:54] #67129 closed

[2019-01-31 12:54] #58820 closed

[2019-01-31 12:57] aermakov-zalando commented on #73587
I *think* it might've been a side effect of https://github.com/kubernetes/kubernetes/pull/71731, but I couldn't find any numbers in there. The comments mention an offline discussion, was this brought up?

[2019-01-31 12:59] aermakov-zalando commented on #73587
What happens (I only investigated it very briefly) is that kubelet creates a bunch of reflectors for every pod — secret mounts, configmap mounts, token mounts etc. Each reflector registers a number of histograms, gauges, etc. and even when the reflector is stopped and removed the metrics are never removed. After a few days on a busy cluster you get millions of metrics bloating up kubelet and every

[2019-01-31 12:59] #73575 closed

[2019-01-31 13:06] micafer opened #73590 "Pod scheduled in NetworkNotReady node stucks ContainerCreating"
**What happened**:

We have deloped a tool to manage an elastic kubernetes cluster.
We send pods to the cluster and, if there are no free resources, new nodes are automatically added to the cluster.
When the nodes are added to the cluster (using kubeadm join) pods are assigned to the new node but in many cases the pods stuck in "ContainerCreating" state showing this info:

[code]

**What you expec

[2019-01-31 13:08] danielqsj commented on #73551
/sig instrumentation

[2019-01-31 13:44] aermakov-zalando commented on #73587
This was broken since v1.12.0, so probably unrelated to #71731.

[2019-01-31 13:45] dims commented on #73587
correct @aermakov-zalando that PR is only in v1.14.0-alpha.2 v1.14.0-alpha.1 and master

[2019-01-31 13:47] sooryamanian91 opened #73591 "Ingress IP does match with the service ip of the Nginx ingress controller"
Deployed a ingress-controller-service using the following yaml
[code]
[code]
The ingress is supposed to identify the external ip of the ingress-controller, which in the above case `35.188.238.102` , but it is grabbing some random ip.
[code]

[code]

[2019-01-31 13:52] micafer commented on #73590
/sig scheduling

[2019-01-31 13:52] sooryamanian91 commented on #73591
/sig ingress

[2019-01-31 13:54] andyzhangx commented on #73332
@jingxu97 could you provide more details?

I tried with following example: https://github.com/andyzhangx/demo/blob/master/windows/local, if specify a not existing dir:
[code]

I will get following error, is that error what we are expecting on Windows?
[code]

[2019-01-31 14:12] andyzhangx commented on #73321
@michmike could you point out the KEP where `subpath volume mounting as not working`, I did a subpath related security fix on windows, at that time as I tried, it should be still working.

[2019-01-31 14:19] sooryamanian91 commented on #73591
Args for the controller.
[code]

[2019-01-31 14:20] ipuustin commented on #72956
I'm fixing `hack/verify-generated-files-remake.sh` at https://github.com/kubernetes/kubernetes/pull/73464.

[2019-01-31 14:20] szuecs commented on #73587
For everyone that finds this issue and needs a patch to disable the reflector metrics:

[code]

[2019-01-31 14:33] DarkHostDH commented on #73528
/sig network

[2019-01-31 14:34] alegacy commented on #62872
Has there been any progress on this investigation?   We have a usecase where using references from within a single CRD would be useful.

[2019-01-31 14:37] sooryamanian91 commented on #73591
Logs from nginx-controller
[code]

[2019-01-31 14:40] seh opened #73592 "API server logs wrong error message for Webhook token authentication failure"
**What happened**:

I configured my API server with a Webhook token authentication server by way of the "authentication-token-webhook-config-file" command-line flag, and confirmed that the API server does pass bearer tokens through, issuing HTTP POST requests with a JSON-encoded `TokenReview` body.

When my Webhook server indicates authentication failure, it responds with HTTP status code 200 and

[2019-01-31 14:42] seh commented on #73592
/sig auth

[2019-01-31 14:52] andyzhangx commented on #73321
@jingxu97 should we replace all `path.Join` with `filepath.Join` if that code would also run on Windows?

[2019-01-31 14:52] szuecs commented on #73587
no, it drops the reflector metrics

[2019-01-31 14:56] gaorong commented on #53669
@grosser From your kubelet log: ` Created an OOM event in container "/"`, why it would come as container "/" ? in mostly situation, it would comes as pattern: `/kubepods/pod23d2c685-24f5-11e9-8b87-000c292d53d3/1091db0703a369cf386468c488a408eb2b45038d950a59c42bb933531b535b33`

[2019-01-31 15:01] liggitt commented on #73592
/assign

[2019-01-31 15:17] nzoueidi commented on #71728
I was able to reproduce the same behavior.
I am working on the fix, I will file up a new PR asap.

[2019-01-31 15:20] michalpiasecki1 commented on #60134
any update?

[2019-01-31 15:45] adelina-t commented on #73327
Something is wierd here:

What I did:

Fresh environment, 2 linux nodes agents, 2 windows agents, deployed with aks-engine v.29.1.
Using k8s 13.2.

[code]

I used the exact spec you indicated:

[code]

As you can see, it is assigned to the node: **2923k8s011**. This is the first ever pod ( other than kube-system, that don't land on windows ) created on the windows nodes.

[code]

CURL on the first

[2019-01-31 15:57] #68160 closed

[2019-01-31 16:49] justinsb commented on #71749
Should kubelet mark the node NotReady if it sees an older apiserver?

[2019-01-31 16:52] brokenjacobs opened #73597 "vsphere cloud provider fails reading accessible datastores and won't create volumes"
/kind bug
/sig cloud-provider
/sig vmware
@kubernetes/sig-vmware-bugs

**What happened**:
Trying to set up the vsphere cloud provider on a new kubernetes cluster, I am unable to get the provider to create pv's. It doesn't even attempt to do so.

**What you expected to happen**:
A pv would be created when deploying a statefulset, instead the pvc stays pending and never creates.

**How to reproduce

[2019-01-31 17:44] brokenjacobs commented on #73597
Ok well this ended up being my issue. I figured out that somehow the volume I was using wasn't attached to three of my cluster nodes, which just happened to be the nodes running the kubernetes vm's. Rescan storage, everything works. Closing ticket. This was driving me nuts.

[2019-01-31 17:44] #73597 closed

[2019-01-31 17:51] cblecker commented on #73238
Looks like all the updates have merged. Closing this out. Thank you everyone!
/close

[2019-01-31 17:51] #73238 closed

[2019-01-31 17:56] #73384 closed

[2019-01-31 18:10] nerzhul commented on #71749
@justinsb it sounds reasonable, and if we can have a description on the node saying: not compatible can be better

[2019-01-31 19:14] jpbetz commented on #73585
Yes, I think the etcd features you alluded to are:
- https://godoc.org/github.com/coreos/etcd/clientv3#WithProgressNotify which has existed for quite some time, which is currently is sent only about every 10 minutes, and is not yet configurable.
- The more recently added https://github.com/etcd-io/etcd/issues/9855 to allow the client to request a progress notification, but that will only become av

[2019-01-31 19:28] mbohlool opened #73605 "Allow http for localhost Webhooks"
This feature came up in the process of designing a path to GA for admission webhooks (issue #68095, KEP [enhancements#736](https://github.com/kubernetes/enhancements/pull/736). It promised to be challenging from the original idea (e.g. discussions in [this comment](https://github.com/kubernetes/enhancements/pull/736#discussion_r252435484) and sig-api-machinery meeting (TODO meeting note link). The

[2019-01-31 19:31] jpbetz commented on #73585
I see you're point, yes those are distinct, and the issue we're focusing on here is kube-apiserver<->client. Thanks for explaining.

[2019-01-31 19:35] wojtek-t commented on #73585
Glad that you agree (at least initially).
I will keep the issue up-to-date with my thoughts.

[2019-01-31 19:41] jpbetz commented on #73585
It should be possible to add the heartbeat in a backward compatible way if we make it so the client must request the heartbeat when establishing the watch, and then set all new clients to request by default.

[2019-01-31 19:43] lavalamp commented on #73585
I agree this is a defect and the best way to solve it is a new watch event type (maybe BOOKMARK for the name?).

A simple algorithm like "send a bookmark when there hasn't been activity for 1s OR if the last RV sent is 50% of the watch window old" may be good.

We should examine client code--if an unexpected event will break it, we need to make it opt-in. :/

This is NOT a general connectivity hea

[2019-01-31 19:48] wojtek-t commented on #73585
I called that HEARTBEAT in my POC, but I'm fine with changing to anything else.
But yeah - my idea was exactly the same.

I personally think 1s is too small, because we risk sending too many of those maybe?
But that's probably so small detail that I'm sure we can figure this one :-)

Agree.

One of the purposes of my POC is exactly this one too.

I'm still wondering  if this is really needed (yeah

[2019-01-31 19:50] icann-itops commented on #61551
Indeed, me too

[2019-01-31 19:50] icann-itops commented on #61551
/remove-lifecycle rotten

[2019-01-31 19:51] jingxu97 commented on #73332
@andyzhangx In the path, I used \noexist or /noexist without a letter. From the log the MountVolume operation succeeded and I can see a local volume directory is created.
However, the event of the pod does give an error message: Error: CreateFile c:\var\lib\kubelet\pods\e0b06368-258f-11e9-8a95-42010a280002\volumes\kubernetes.io~local-volume\example-local-pv-noexist: The system cannot find the file

[2019-01-31 20:53] ChrisTerBeke commented on #59117
This seems to work indeed. Since I've opened this ticket I moved to using simple `sed` commands instead, but I'll maybe give this a try again.

[2019-01-31 21:04] gnufied commented on #69699
/remove-lifecycle-stale

[2019-01-31 21:32] roycaihw commented on #73497
cc @jpbetz

[2019-01-31 21:43] chrisz100 commented on #72908
Seems to be available now.

[2019-01-31 21:51] derekwaynecarr commented on #70916
@wozniakjan i prefer the presence of a condition on namespace as the mechanism.  it would ideally be good if we can update kube-state-metrics to ensure the condition is collected so we can build meaningful alerts against the condition as well.

/cc @brancz

[2019-01-31 22:03] kevinkim9264 commented on #65013
It looks like this happens only to AWS and GCP but not on Azure? Can anyone confirm this?

[2019-01-31 22:10] jsturtevant commented on #73387
I opened a PR to try it out.  I modeled it after [SELinuxOptions in the SecurityContext.]( https://github.com/kubernetes/kubernetes/blob/85f1205efa89008e6e94a92d66a9dd691cb59825/staging/src/k8s.io/api/core/v1/types.go#L2951)

[2019-01-31 22:32] tumluliu commented on #68427
very helpful thread, thanks a lot @andyzhangx !
A follow-up question: when I have seen the `Waiting for user to (re-)start a pod to finish file system resize of volume on node.` message, shall I just keep waiting for itself to finish the resizing, or I should launch a pod and run `resize2fs` explicitly?
The background is I am resizing a pvc from 256Gi to 1024Gi. It's been already running for a whi

[2019-01-31 22:36] thockin commented on #72908
So sorry!  I forgot to update this.  Too many balls in the air.

[2019-01-31 22:36] #72908 closed

[2019-01-31 22:39] andrewsykim commented on #73319
Working on a reference implementation of a mutating admission webhook for labeling PVs. It should serve as a good out-of-tree alternative. I will likely put the reference implementation in `k8s.io/cloud-provider/admission/pvl`. cc @cheftako

[2019-01-31 22:43] pydevops commented on #68427
I believe you need to do a `kubectl delete <pod-uses-the-pvc>`. And I don't think you need to run `resize2fs` as the new pod will mount with the new size. I could be wrong.

[2019-01-31 22:51] tumluliu commented on #68427
@pydevops I have already deleted all the pods using the pvc before I started the `kubectl edit pvc...`. And that's why the disks have been detached from the VM. And what do you mean by "the new pod"? So k8s is waiting for me to launch a pod and mount the pvc, rt?

[2019-01-31 22:52] yujuhong commented on #73587
@wojtek-t is this indirectly caused by switching to watch-based managers?

[2019-01-31 22:58] tumluliu commented on #68427
and from this message:
[code]
I would assume the `persistentvolume-controller` was created temporarily to do the disk resizing by k8s itself? But I can't see any such temp pod in my k8s cluster now...

[2019-01-31 22:58] pydevops commented on #68427
yes correct.

[2019-01-31 23:00] tumluliu commented on #68427
thank you @pydevops . I will try that

[2019-01-31 23:07] dacox opened #73613 "Updated CronJob Schedule Missing from Dry Run"
**What happened**:
When trying to update a `CronJob` schedule using a combination of `kubectl apply --dry-run` and `kubectl replace`, the schedule is not updated.
The schedule emitted from `kubectl apply --dry-run` does not reflect the updated schedule but rather the original schedule.

**What you expected to happen**:

I expected that `kubectl apply --dry-run` would reflect the updated schedule f

[2019-01-31 23:08] dacox commented on #73613
/sig apps

[2019-01-31 23:44] grosser commented on #53669
no idea

[2019-02-01 01:09] gautammoulik opened #73614 "Doesn't HPA is honored when we execute "kubectl scale deploy" ?"
**What happened**:
I have deployed a service using helm chart, I can see my service, hpa etc.
In my hpa setting: the min pod count is set to 1.
I can see my Pod is running and able to handle service request.

After a while ---
I ran "kubectl scale deploy <my deployment name> --replicas=0"
Once I run the above above command I can see my pod is deleted (although the hpa min pod setting was set to 1)

[2019-02-01 01:34] gautammoulik commented on #73614
Can someone help me adding the sig label ?
Is it something I have mention part of the description above ? as in,
sig # @kubernetes/sig-contributor-experience-bugs

[2019-02-01 01:47] cblecker commented on #73614
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-02-01 01:47] #73614 closed

[2019-02-01 01:50] gaorong commented on #53669
thx, I got this, because some process which did not own by k8s/container was being killed.

[2019-02-01 01:54] tanshanshan commented on #73590
from the error msg` network is not ready`, you should check your  whether flannel network plugin is ok.
check your flannel pod firstly.

[2019-02-01 02:08] lingxiankong opened #73615 "Secret can be deleted when referenced by Ingress"
**What happened**:
The tls secret can be deleted without any validation when it's referenced by an Ingress.

**What you expected to happen**:
Deletion should not allowed.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a secret
[code]

2. Create an Ingress using the secret as TLS certs.
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2019-02-01 03:08] mkumatag commented on #69358
/remove-lifecycle rotten

[2019-02-01 03:42] PaulFurtado commented on #65613
/remove-lifecycle stale

[2019-02-01 04:09] #68052 closed

[2019-02-01 04:39] junawaneshivani commented on #73561
/sig Cloud Provider

[2019-02-01 05:10] #68204 closed

[2019-02-01 05:18] globervinodhn commented on #55807
Facing the exact same situation at my end, the preStop hook executes only under failure scenarios. I was of the notion that both "postStart" and "preStop" hooks are guaranteed to execute at least once as per the documentation. If a pod needs to complete the execution of postStart hook to enter running state then the pod should ensure that the preStop is executed before ending up in a completed sta

[2019-02-01 05:44] changyaowei commented on #73590
https://github.com/kubernetes/kubernetes/issues/72129

[2019-02-01 06:00] changyaowei commented on #73590
When a node add, before it change to unready, schedule a pod to the node

[2019-02-01 07:11] r0ss3 opened #73620 "update ceph-common version in hyperkube to newer version to support clusters with require_min_compat_client >= luminous"
**What would you like to be added**:

Use ceph-common from the official ceph.com repositories instead of the debian stable one.

**Why is this needed**:

Currently ceph-common in hyperkube is a fairly old version (jewel).  This old version is not able to connect to ceph clusters with "require_min_compat_client" option set to luminous or later.  When ceph-common would be installed from the ceph.com

[2019-02-01 07:12] #68203 closed

[2019-02-01 07:15] r0ss3 commented on #73620
/sig storage

[2019-02-01 07:19] wojtek-t commented on #73587
Yeah - switching to watch resulted in more extensive using of a reflector.
It seems that those metrics are directly coming from reflector (I wasn't aware of those).
So it's highly probably that this change cause it.

I think that we don't really need those metrics, so if we could switch them off in Kubelets, that should solve the problem.

[2019-02-01 07:32] micafer commented on #73590
Yes this is exactly my issue.

[2019-02-01 07:40] Ladicle commented on #73572
Right. It seems the expected behavior and the actual behavior are different. `ExperimentalCriticalPodAnnotation` will remove next k8s v1.14 (it's written in the document), but I'd like to wait for it until the critical priority can prevent eviction.

[2019-02-01 07:45] yue9944882 commented on #73497
cc @adohe

[2019-02-01 08:00] Zyqsempai commented on #73548
I can take this one if we will get approve.

[2019-02-01 08:13] #62329 closed

[2019-02-01 08:13] #67856 closed

[2019-02-01 08:36] mourya007 commented on #73133
How can we reproduce this issue?

[2019-02-01 08:51] tumluliu commented on #68427
It's just working as you mentioned 👍 . Thank you again @pydevops

[2019-02-01 08:53] mourya007 commented on #66789
cc @liggitt  is this issue still exist?

[2019-02-01 08:54] feiskyer commented on #72788
Sorry the for late response. HPA is actually working for Windows containers. e.g. in my cluster (v1.12.5), cpu-based HPA is working as expected:

[code]

@yujuhong Which version of kubernetes are you referring for HPA issues?

[2019-02-01 08:57] wojtek-t commented on #73587
Actually, I realized that I don't fully understand the problem.
It should be a problem in default Kubernetes (what we build from this repo), because those metrics are not switched on for kubelet:
- metrics factory is defaulted to noop
- the prometheus metrics need to be explicitly linked and initialized (as they are in apiserver e.g.:
https://github.com/kubernetes/kubernetes/blob/d1031b18fc83146dd

[2019-02-01 09:13] mourya007 commented on #54960
@mikedanese I would Like to work on this issue.

[2019-02-01 09:17] TommyLike commented on #61171
mark

[2019-02-01 09:20] lingxiankong commented on #73615
@kubernetes/sig-network-bugs

[2019-02-01 09:27] pohly opened #73625 "E2E storage: test snapshot semantics"
**What would you like to be added**:

https://github.com/kubernetes/kubernetes/pull/69036 adds a test that snapshots can be created and used. It would be good to actually verify that the snapshotting properly handles data (https://github.com/kubernetes/kubernetes/pull/69036/files#r252769254):

1. Write some data
1. Take a snapshot
1. Write more data
1. Create a new volume from snapshot
1. Validate

[2019-02-01 09:38] yanghaichao12 opened #73626 "why Inotify isn't switched to fsnotify?"
I noticed the bug of inotify. This bug has been fixed in ”https://github.com/google/cadvisor/pull/1916“，
But it seems that there is no synchronization to k8s.  so, why?

[2019-02-01 09:38] aermakov-zalando commented on #73587
Wouldn't it be better to rewrite the reflector metrics so that they're aggregated in a better way rather than relying on people not accidentally enabling them? Or at least put a huge warning on top saying "this will leak memory like crazy" just so the same situation doesn't repeat in other code using client-go?

[2019-02-01 09:41] yue9944882 commented on #73558
@IpaliboWhyte could you paste some more detail about your pod? like yaml definition, thx

[2019-02-01 11:07] krzysztof-jastrzebski commented on #71349
@k82cn Should I backport fix to 1.13 and 1.12?

[2019-02-01 11:20] Semoar opened #73628 "NodePort quota also disallows services of type ClusterIP"
**What happened**:
We deployed resource quotas to disallow services of type NodePort. Some teams had already deployed services with NodePorts/LoadBalancer. So they are above their limit. Now if we try to deploy a service of type ClusterIP, this is forbidden, although that is not restricted by resource quotas.

**What you expected to happen**:
I expect for a resource quota for NodePorts to only dis

[2019-02-01 11:33] Semoar commented on #73628
/sig api-machinery

[2019-02-01 11:44] soltysh commented on #73289
@mauilion I've looked through the specification that @mattfarina linked and I think it nicely aligns with your proposal. I've tried on several machines (all linux) and haven't seen those envs from spec filled in, so I'm :+1: on just implementing that dir, the majority of SIG participants on Wednesday were in agreement.

[2019-02-01 11:52] wojtek-t commented on #73587
@aermakov-zalando - that's a separate issue whether the metrics are reasonable or not (and node sig-node related).
One thing that I would like to confirm: do you customize k8s yourself? I would like to ensure that this issue you faced is in your setup and not in upstream k8s.

[2019-02-01 11:54] soltysh commented on #72104
@prksu go for it

[2019-02-01 12:18] saschagrunert commented on #28407
/reopen

[2019-02-01 12:25] krzysied opened #73632 "Cluster creation script fails - no "get-linux-node-instance-metadata-from-file" function"
**What happened**:
The gce cluster creation script fails, when HEAPSTER_MACHINE_TYPE env variable is provided. The cluster/gce/util.sh script calls

**What you expected to happen**:
Script shouldn't fail.

**How to reproduce it (as minimally and precisely as possible)**:
Run hack script to setup the cluster.

**Anything else we need to know?**:
Tis bug was introduced in https://github.com/kubernet

[2019-02-01 12:36] mikkeloscar commented on #73587
Our production configuration is this one: https://github.com/zalando-incubator/kubernetes-on-aws/tree/beta

Kubelet config: https://github.com/zalando-incubator/kubernetes-on-aws/blob/85f3ddea60900a7880d03e8c9c5ed7b158b100c7/cluster/node-pools/worker-default/userdata.clc.yaml#L144-L207

We run with an image called `registry.opensource.zalan.do/teapot/hyperkube:v1.12.5`, but it's just a mirror of `

[2019-02-01 12:50] itskarthikholla commented on #57250
/remove-lifecycle rotten

[2019-02-01 12:51] itskarthikholla commented on #57250
/reopen

[2019-02-01 12:53] itskarthikholla commented on #57250
Hi @micahhausler Does kubernetes  support Proxy protocol for NLB ? What is the current status ?

[2019-02-01 13:02] wojtek-t commented on #73585
I was playing a bit with it and I have something that is delivering some kind of heartbeats working.
Nothing that is even close to something that we would like to have, but it proves, overall, it would work:
https://github.com/kubernetes/kubernetes/compare/master...wojtek-t:hack_on_watch_heartbeats?expand=1

The key takeaways at this point are:
- adding new watch type should work fine (as we expec

[2019-02-01 13:04] k82cn commented on #71349
+1

[2019-02-01 13:32] mgdevstack commented on #55807
2 Scenarios are demonstrated to show current behavior of PreStop handler and an summary, suggesting k8s [DOC](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/containers/container-lifecycle-hooks.md#container-hooks) update.
***
===================== Scenario 1 =========================
**When** `t(PreStopProcess) < t(ContainerProcess) < t(TerminationGracePeriod)`
**Outcom

[2019-02-01 13:42] krzysied opened #73635 "Scalability tests: Apiserver latency metrics have 0s as latency values"
**What happened**:
Some of calls latencies have 0 values in scalability performance test APIResponsiveness summary.
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance-cl/12/artifacts/APIResponsiveness_load_2019-01-31T20:01:15Z.txt

**What you expected to happen**:
There should be values != 0.

**How to reproduce it (as minimally and precisely as possible

[2019-02-01 13:47] krzysied commented on #73635
This issue applies to golang scalability tests and  clusterlaoder scalabiliy tests.

[2019-02-01 13:50] yakhira commented on #41193
/reopen

[2019-02-01 13:52] dims commented on #73626
@yanghaichao12 see https://github.com/google/cadvisor/pull/1959 it got reverted

[2019-02-01 14:02] krzysied commented on #73635
The 0 values are a result of not having result for given api call in `apiserver_request_latencies_summary` while having result in `apiserver_request_total`.

IIUC thare are two problem here:
- `apiserver_request_latencies_summary` is a metric that has 5h sliding window. https://github.com/kubernetes/kubernetes/blob/ad58fb1ea09aca034bab83e57b396149ec4789c5/staging/src/k8s.io/apiserver/pkg/endpoints

[2019-02-01 14:03] bclau commented on #69905
/assign

So, when the API for ``v1.Container.SecurityContext.runAsUserName`` is ready, I could write the tests necessary. Then we could also look into the mounttest "run as non-root" tests and see what we could do there. One thing that comes to mind is that there are also tests which are setting the ``v1.Container.SecurityContext.FSGroup`` (this is also an int), so should we also consider adding t

[2019-02-01 14:31] krzysied commented on #73635
cc @wojtek-t

[2019-02-01 14:31] #68955 closed

[2019-02-01 14:31] #72824 closed

[2019-02-01 14:34] szuecs commented on #73587
I try to figure out an issue why these metrics are even there and I found issues from the past showing leaks already in older versions:
https://github.com/kubernetes/kubernetes/issues/52121
https://github.com/kubernetes/kubernetes/issues/53485

Sounds for, that we need a postmortem to make this not happening again.

I don't find in kubernetes issues nor in client-go issues something reasonable tha

[2019-02-01 15:00] Huang-Wei commented on #72925
@rtheis I've verified #73309 is able to fix your issue thoroughly. And cherrypick PRs have been raised (1.12 #73567, 1.13 #73568).

[2019-02-01 15:41] michaelfig commented on #69082
@z8772083, @prakashmishra1598, I solved this problem in v1.13.2 deployed by kubeadm, using the out-of-tree rbd-provisioner, as well as a hyperkube-based controller-manager (which contains the RBD tools in the released version).  This is apparently the configuration that core Kubernetes uses for testing RBD support.

Basically, I needed to edit `/etc/kubernetes/manifests/kube-controller-manager.yam

[2019-02-01 15:44] #73632 closed

[2019-02-01 16:02] rtheis commented on #72925
@Huang-Wei Thank you.

[2019-02-01 16:25] venkatsc opened #73641 "PVC supplied secrets for volume authentication"
**What would you like to be added**:

PVC supplied secrets for volume authentication for both statically and dynamically provisioned volumes  (currently for CSI's NodeStage and NodePublish related API calls. Possibly, later can be extended to the ControllerPublish and Provisioning related API calls).

Assumptions:
1. Every storage user has their own credentials to access the storage
2. K8S deploym

[2019-02-01 16:33] msau42 commented on #73641
For manual provisioning, do you already know which PVC the PV is intended for?

[2019-02-01 16:47] venkatsc commented on #73641
Hi @msau42
We are a storage provider, it is unpredictable how PVC and PVs are going to be used at the customer deployments.

I followed the [recommended deployment approach](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#introduction)
1. Administrator manages the PV
2. User manages the PVC

So the binding is in the direction of PVC to PV.
Our expectation is that the administrator

[2019-02-01 17:17] yogeshnath commented on #68270
We are running into the same issue. Does anyone see this in 1.13 as well?

[2019-02-01 17:18] ddebroy commented on #69642
/remove-lifecycle stale

[2019-02-01 17:33] dashpole commented on #28407
/reopen
/remove-lifecycle rotten

[2019-02-01 18:11] Falconx1000 commented on #73004
Looking more into name resolving this appears to be the same issue as #64924

[2019-02-01 18:11] #73004 closed

[2019-02-01 18:30] canthefason commented on #64586
as far as I can tell, internal is a TLD used by GCP as a part of their [internal DNS](https://cloud.google.com/compute/docs/internal-dns).

On the other hand, the IP address belongs to the metadata server, which is also responsible for resolving internal domain names.

[2019-02-01 18:39] adelina-t commented on #73327
Cc @patricklang

[2019-02-01 18:40] liggitt commented on #50340
reapers were removed from kubectl in 1.11, deletion now depends on server side GC, and client-side wait is skippable with `--wait=false`

/close

[2019-02-01 18:40] #50340 closed

[2019-02-01 18:43] liggitt commented on #73615
in general, kubernetes does not maintain referential integrity between resources. An ingress controller in this scenario could skip serving this ingress until the referenced secret became available again.

/close

[2019-02-01 18:43] #73615 closed

[2019-02-01 18:49] IpaliboWhyte commented on #73558
@yue9944882 I was testing the exec for one the tiller pod:
[code]

I also see this error message after the exec:
[code]

Thanks!

[2019-02-01 19:10] dashpole commented on #72788
@feiskyer are you running heapster, or the metrics server to serve HPA?  Heapster uses the cumulative metric, but the metrics-server uses the 10 average rate metric.

[2019-02-01 19:10] dims opened #73643 "Break dependency between k8s.io/kubernetes/pkg/credentialprovider/aws and k8s.io/kubernetes/pkg/cloudprovider/providers/aws"
Please see:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/regions.go#L81

This is making it hard to move the code to staging/ as part of external cloud provider enablement.

[2019-02-01 19:10] dims commented on #73643
/sig aws
/sig cloud-provider

[2019-02-01 19:11] dims commented on #73643
@mcrute will you be able to help with this?

[2019-02-01 19:20] alanjcastonguay commented on #73541
A tiny run of the same shell scripts (far fewer samples, still looks linear) against DockerForMac Version 2.0.0.2 (30215) running k8s v1.10.11 637c7e2885 at
https://gist.github.com/alanjcastonguay/ac890649c5b484062dedf98ae1f186ec#file-reproduction-multipod-dockerformac-csv and
https://gist.github.com/alanjcastonguay/ac890649c5b484062dedf98ae1f186ec#file-reproduction-dockerformac-csv.

[2019-02-01 19:21] stevenimle-honeywell opened #73644 "Error resizing Azure Disk"
**What happened**:
Tried to resize an Azure Disk PV and got an error. The Azure Disk type is Shared (so in a storage account) but the error was not that it could not be done, but:
[code]

**What you expected to happen**:
Disk to be resized.

**How to reproduce it (as minimally and precisely as possible)**:
In an Azure based cluster with VMs spun up with Docker Machine (no specific configuration ne

[2019-02-01 19:22] stevenimle-honeywell commented on #73644
/sig azure
/sig storage

[2019-02-01 19:23] mcrute commented on #73643
@dims funny you should ask, there's been a PR open (#70675) for about 3 months that just needs some input from @liggitt and @justinsb that fixes just this. :smile:

[2019-02-01 19:39] timothysc commented on #72102
/assign @timothysc @detiber

So live updating a static pod manifest is typically not recommended, was this triggered via some other operation or were you editing your static manifests?

[2019-02-01 20:13] james-knott commented on #62511
@Khaja514 Can you share how you resolved the problem?

[2019-02-01 20:19] lavalamp opened #73648 "Delete: needs more preconditions"
Today you can use UID as a precondition for delete; this allows you to avoid deleting an object that has been replaced with an object of the same name.

As reported by @fasaxc on slack, there's also a need to ensure a delete fails if an unobserved change happens to an object. This could be implemented as either an RV or a Generation precondition.

Scenario:

1) A observes object foo and sends a de

[2019-02-01 20:20] Cytrian commented on #72102
No pod manifest involved here. Just a group of etcd and a kube-apiserver. The issue appeared when we rebooted the first etcd node.

[2019-02-01 21:08] danwinship commented on #73360
No, that's not a working config. You can currently use either *only* IPv4 addresses, or *only* IPv6 addresses. It shouldn't let you bring up the cluster the way you did, but there's not enough sanity-checking, so instead of giving you a proper error early on, it's crashing in a confusing way later.

[2019-02-01 21:21] msau42 commented on #69642
/lifecycle frozen

[2019-02-01 22:11] davidz627 commented on #73513
Hi @shilpamayanna, I understand the error and can submit a patch to fix this. However, I'm not really sure how to reproduce it for testing. Do you have some minimal steps to repro the error?

[2019-02-01 22:12] ajatprabha commented on #73648
@lavalamp I'd like to work on this issue.

[2019-02-01 22:14] lavalamp commented on #73648
@ajatprabha Go for it!

[2019-02-01 22:22] davidz627 commented on #73513
/assign

[2019-02-01 22:31] #45746 closed

[2019-02-01 22:32] #73050 closed

[2019-02-02 00:02] tpepper commented on #73238
FTR 1.13.3 cut today w/ this included.

https://github.com/kubernetes/kubernetes/releases/tag/v1.13.3

[2019-02-02 00:59] bsalamat commented on #72925
Thanks, @Huang-Wei and @rtheis!
K8s 13.3 already has another change (#72558) that should alleviate the problem significantly. K8s 13.4 will have the definitive fix.
Given that the root-cause is fixed, we can close this issue.

[2019-02-02 00:59] #72925 closed

[2019-02-02 01:40] danielqsj commented on #73385
Fixed by #73455
/close

[2019-02-02 01:40] #73385 closed

[2019-02-02 02:31] #68250 closed

[2019-02-02 03:01] killy001 commented on #42465
@jsafrane I know what you said, but i am wondering when user actually used more than the binded pv capacity,what will happened?

[2019-02-02 03:34] lijinghuatongxue commented on #58067
how turn the alarm off ?

[2019-02-02 03:35] killy001 commented on #49466
@dixudx  Very glad to see this feature adopted and implemented. It's my honor to contribute my suggestion for kubernetes organization. Thank you very much.

[2019-02-02 03:40] gertcuykens commented on #66994
/remove-lifecycle stale

[2019-02-02 04:06] mikedanese commented on #55807
If the PreStop hook is not blocking, that's a bug. The intent is that it blocks:

https://github.com/kubernetes/kubernetes/blob/30566b990aa13922dfc8532e76bd9a682c65699d/pkg/kubelet/kuberuntime/kuberuntime_container.go#L567

I think the documentation is ambiguous (or wrong) and could be improved:
1) to s/is terminated/is terminated by the node agent/. Brian suggested "PreStop is called immediately

[2019-02-02 04:50] mikedanese commented on #54960
@mourya007 that would be awesome. Thanks!

[2019-02-02 05:30] lijiansgit opened #73654 "client-go build error"
**What happened**:
i run go build command
../../../k8s.io/kubernetes/pkg/features/kube_features.go:495:23: cannot us
e "k8s.io/apiextensions-apiserver/pkg/features".CustomResourceValidation (
type "k8s.io/apiextensions-apiserver/vendor/k8s.io/apiserver/pkg/util/feat
ure".Feature) as type "k8s.io/apiserver/pkg/util/feature".Feature in map k
ey
../../../k8s.io/kubernetes/pkg/features/kube_features.g

[2019-02-02 05:31] mikedanese commented on #62915
The problem is that many DaemonSets do not get evicted during node upgrades. Credential rotation + node upgrade works for rotating anything that gets evicted, but some ciritcal daemons lie around with secret volumes that reference secrets that don't exist.

[2019-02-02 05:32] mikedanese commented on #70958
Yes, it's still not handled.

[2019-02-02 06:35] #68226 closed

[2019-02-02 06:43] mkumatag commented on #69358
/assign

[2019-02-02 07:33] lingxiankong commented on #73615
Thanks for the reply!

[2019-02-02 07:48] IpaliboWhyte commented on #73558
It turns out this had to do with my aws environment where I was using multi-domain in my dhcp setting. This was resolved after I changed from using multiple domain to using a single domain in my dhcp settings. I will go ahead and close this. 🙂Thanks!

[2019-02-02 07:48] #73558 closed

[2019-02-02 07:55] zetaab commented on #73444
is there any news when this issue is solved?

[2019-02-02 07:58] yue9944882 opened #73655 "StrategicMergePatch against RawExtension misorders object content"
/sig api-machinery
/kind bug

@kubernetes/sig-api-machinery-bugs

**What happened**:

Initially i found some error logs in garbage-collector/kube-controller-manager which was trying to orphaning a ControllerRevision to perform a cascading deletion:

then i dig into the error and find that it was the SMP failing the update validation b/c the `Data` fields in controller revision is unexpectedly reor

[2019-02-02 08:14] krmayankk commented on #64801
/sig auth

[2019-02-02 08:35] krmayankk commented on #73648
Are we saying that , if I get an object, store its resourceVersion and then issue a delete on the resourceVersion for that object , even though the object has been modified and hence its resourceVersion changed, the delete still succeeds ?

[2019-02-02 09:45] mzyfree opened #73658 "In IPv6 cluster, kube-proxy use ip6tables-restore restore rules failed,due to Couldn't load target `KUBE-MARK-DROP`"
**What happened**:
In IPv6 HA Cluster(3 masters with single VIP),after reboot one master,the kube-proxy on this mster print error logs:
E0814 18:20:56.733818     227 proxier.go:1306] Failed to execute iptables-restore: exit status 2 (ip6tables-restore v1.6.2: Couldn't load target `KUBE-MARK-DROP':No such file or directory
This information is the same as #67398,but we deploy ingress instead of LB.I

[2019-02-02 09:53] feiskyer commented on #72788
See #73659 .

[2019-02-02 09:57] yue9944882 commented on #73655
/cc @liggitt

[2019-02-02 11:02] shajc0504 opened #73660 "use NVIDIA_VISIBLE_DEVICES to share GPU in Kubernetes"
NVIDIA_VISIBLE_DEVICES : controls which GPUs will be accessible inside the container. By default, all GPUs are accessible to the container.
Can kubernetes use NVIDIA_VISIBLE_DEVICES to implement GPU sharing?

[2019-02-02 12:12] nuthankumar commented on #28969
@brouberol tried your work around.. but seems thats not reliable too.. can you please post complete ymls please?

[2019-02-02 12:47] DarkHostDH commented on #73528
Fixed. API server was bind to eth0 instead of eth1. This is my mistake. I'm very embarrassed.
Additional master node work fine because it healthcheck his own apiserver iface. But this don't work for worker node.

[2019-02-02 12:47] #73528 closed

[2019-02-02 13:37] ramnar commented on #72501
I am not able to replicate this issue.

I am able to successfully copy a file with : in its name. from the pod to local system

Can you share the output of kubect get namespaces and kubectl get pods ?

[2019-02-02 15:16] hawran commented on #72782
Have I missed anything?

[2019-02-02 15:55] andyzhangx commented on #73644
The azure disk resize feature is only supported for managed disk with limited support: https://github.com/kubernetes/kubernetes/issues/68427#issuecomment-452180146

[2019-02-02 16:16] LittleFox94 commented on #73360
OK then :)

I just wanted to report it because it worked in a prior version. If I understand you correctly, it only worked by accident?

(you may close this issue)

[2019-02-02 16:40] montyz commented on #72501
@ramnar here you go.
Namespaces:
[code]
pods in `admin`:
[code]
Version
[code]
`cp` failure
[code]
`cp` success
[code]

[2019-02-02 16:57] Mister-Meeseeks opened #73666 "TTL support for ConfigMaps tied to job completion"
**What would you like to be added**:

Ability to set ConfigMap lifecycle to delete after the completion of a Job resource object.

**Why is this needed**:

Job objects are inherently ephemeral. And support for this is included by the TTL controller. Otherwise given enough time the API would become littered with the corpses of long-dead jobs.

But Jobs frequently need ConfigMap objects built specif

[2019-02-02 19:15] neolit123 commented on #73505
i don't think so.
the user is applying custom modifications to the scheduler pod, and the pod at this point is managed by the kubelet.

if you find a kubeadm specific problem please file the issue in the kubernetes/kubeadm repo.
there is no way to pass percentageOfNodesToScore from kubeadm, but you can pass volumes.
read here about extra volumes: https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app

[2019-02-02 20:49] #68172 closed

[2019-02-02 21:50] #67420 closed

[2019-02-02 23:42] ajatprabha commented on #73648
@krmayankk I think there is no RV based precondition check on delete. Only UID based check is there.
https://github.com/kubernetes/kubernetes/blob/0c2613c71a87f850190a8c1084d4de1e18336c07/staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go#L79-L82
I'm a little confused when you say `issue a delete on resourceVersion for that object`. Do you mean like delete the object with old stored RV? In t

[2019-02-02 23:45] ajatprabha commented on #73648
@lavalamp I'm looking at #22965 to see which places need precondition checks. Will a simple `Preconditions.ResourceVersion` check suffice to solve the issue here? Also, how will a Generation precondition work if it is to be used?

[2019-02-03 03:15] SupLinux commented on #49440
Optional:    false
QoS Class:       BestEffort
Node-Selectors:  node-role.kubernetes.io/compute=true
Tolerations:     <none>
Events:
  Type     Reason            Age                From               Message
  ----     ------            ----               ----               -------
  Warning  FailedScheduling  2m (x57 over 17m)  default-scheduler  0/2 nodes are available: 2 MatchNodeSelector.

[2019-02-03 03:16] SupLinux commented on #49440
who knows what happened

[2019-02-03 03:55] prisar commented on #73328
@PatrickLang Can explain why you think http server is rejecting service name in header?

[2019-02-03 04:48] tedyu opened #73671 "Inefficient sharding in staging/src/k8s.io/apimachinery/pkg/util/cache/cache.go"
**What happened**:
When indices are skewed in terms of number of items per shard, there would be shard(s) with more frequent evictions compared to less populated shard(s).

**What you expected to happen**:
We can use maxSize / shardsCount as target capacity per shard. Shard(s) with fewer items than target capacity should allow shard(s) with more items than target capacity to borrow against unused

[2019-02-03 04:51] horan-geeker commented on #40651
It works for me
statefuleset spec.template.spec.containers
[code]

[2019-02-03 06:59] #68193 closed

[2019-02-03 08:42] shyamjvs commented on #73444
We're expecting to get this resolved early next week.

[2019-02-03 10:05] k82cn commented on #70501
/assign

[2019-02-03 10:10] yastij commented on #63554
/remove-lifecycle stale
/lifecycle frozen

[2019-02-03 11:03] #67999 closed

[2019-02-03 11:11] ash2k opened #73674 "OpenAPI generator validation warnings"
**What happened**:
OpenAPI generator prints the following warnings:
[code]

**What you expected to happen**:
No warnings.

/kind bug
/sig api-machinery
/cc @sttts

[2019-02-03 13:04] danielloczi commented on #72395
I have the same problem with v1.13.2.

[2019-02-03 13:39] nikhita commented on #15863
@ShivangGoswami Only Kubernetes GitHub org members can be assigned. Even though you can't be assigned to the issue, please feel free to work on it. :)

[2019-02-03 14:06] #67936 closed

[2019-02-03 15:56] michaelfig commented on #38923
@r0bj I solved this by [editing the `/etc/kubernetes/manifests/kube-controller-manager.yaml` to use the `hyperkube` image](https://github.com/kubernetes/kubernetes/issues/69082#issuecomment-459764495).

[2019-02-03 15:56] rnsv opened #73675 "Add support for blacklist in PodTolerationRestriction Admission Controller"
**What would you like to be added**:
Need an ability to provide blacklisted tolerations in PodTolerationRestriction Admission Controller
**Why is this needed**:
The current implementation only supports whitelist and default tolerations.  This feature is useful In cases where the administrator of the cluster wants to taint certain nodes to be used exclusively for cluster administration (e.g pods ru

[2019-02-03 16:32] rnsv commented on #73675
/area/admission-control
/sig/api-machinery

[2019-02-03 16:36] rnsv commented on #73675
/area/admisson-control

[2019-02-03 17:04] rmb938 commented on #53777
I also would like this feature to be implemented. My current workaround is to use a validating webhook to deny the creation of crd object when over the quota.

[2019-02-03 17:40] szuecs commented on #50375
@xiangpengzhao I am not sure why it is sig-node. For me it sounds more like a Pod lifecycle configuration changed by the pod controller in controller-manager.
My idea would be to have it based on annotations and reset to 0 if the restart is too long ago.

[2019-02-03 17:51] neolit123 commented on #73660
/close

please discuss this topic in the https://github.com/NVIDIA/k8s-device-plugin/ tracker.
also this seems related to https://github.com/kubernetes/kubernetes/issues/52757

thanks.

[2019-02-03 17:51] #73660 closed

[2019-02-03 17:51] neolit123 commented on #73658
/sig network

[2019-02-03 17:52] neolit123 commented on #73671
/sig api-machinery

[2019-02-03 17:53] neolit123 commented on #73654
/sig api-machinery

[2019-02-03 17:53] neolit123 commented on #73635
/sig scalability

[2019-02-03 17:56] neolit123 commented on #73591
please log an issue in this issue tracker:
https://github.com/kubernetes/ingress-nginx

thanks
/close

[2019-02-03 17:56] #73591 closed

[2019-02-03 17:57] neolit123 commented on #73584
/sig node

[2019-02-03 17:59] neolit123 commented on #73574
hello, k8s version 1.9 is outside of the support skew, thus even if there is a bug we cannot fix it.
please try at least k8s 1.12 and re-open this issue if the problem is still present.

thank you.
/close

[2019-02-03 17:59] #73574 closed

[2019-02-03 18:10] #66417 closed

[2019-02-03 18:10] #68367 closed

[2019-02-03 19:35] erwbgy commented on #71398
Since this issue is still open I presume there was no conclusion to this topic?  If there was, could someone post an update here?

Personally I like the "exit after a period of time or number of retries" @liggitt  proposed, with the default being 0 to retry forever to keep the current behavior, while still making it possible to have the node re-registered after some time when the kubelet restarts,

[2019-02-03 20:02] #71185 closed

[2019-02-03 20:43] alex-roman commented on #72905
Having the same issue but the volume isn't attached to any node in my case.
[code]

pv_controller tries to bound pvc, succeed, updates the claim and since the volume is actually detached pv_controller does the same thing next loop.
I don't see any other related errors except the one posted above.

[2019-02-03 21:35] selfmanagingresource commented on #73099
Uploaded https://github.com/kubernetes/kubernetes/pull/73682 to try to address

[2019-02-03 22:18] Demon-DK commented on #69973
Have the same issue !
Have you had any solution ?

[2019-02-04 02:19] gaorong commented on #73515
After diving into this issue, I found it's more complicated than I expected, someone had a try on this, see [this PR](https://github.com/kubernetes/kubernetes/pull/45682), there may be such a scenario which a big cluster has many always failed container and try to restart,  then there will be many spam event messages, this will be a serious problem, we should take more time to reconsider this prob

[2019-02-04 03:19] #68376 closed

[2019-02-04 04:18] delgod commented on #68737
@alwinmarkcf, I believe it is bad idea to do such workflow.
If you lose PVC due to some reason - k8s will recreate it from a template with the wrong size.
also during scaling up, you will receive new instance storage with the wrong size.

a better way - delete statefullset, change size in statefullset, resize PVCs manually and apply statefullset again.

[2019-02-04 04:45] rajeshdeshpande02 opened #73685 "Inconsistent pod status"
**What happened**:
"kubectl get pod" shows pod status ,but it does not always displays values from list of available pod statuses. Sometimes it displays actual pod status value (i.e. pending, running etc)  but sometimes it displays value of container status reason(e.g. imagePullError).

This become more inconsistent if we have multi-container pod and all container failing because of different reas

[2019-02-04 04:47] mourya007 commented on #54960
@mikedanese How much progress was done already on this, means where I should start on this?

[2019-02-04 04:51] rajeshdeshpande02 commented on #73685
@kubernetes/sig-CLI-bugs

[2019-02-04 05:18] luckyfengyong commented on #73307
@subramanian-neelakantan Thanks for the info. It seems the permission of System.Read privilege on hosts is missed from VMware doc of https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html#minimal-set-of-vsphere-rolesprivileges-required-for-static-only-persistent-volume-provisioning.

Can you help to confirm whether the above link could be used as pre-requirement of vS

[2019-02-04 05:41] mgdevstack commented on #55807
@globervinodhn Could you please update the doc and investigate to fix non-blocking behavior of preStop intending to close this issue.

[2019-02-04 05:41] mgdevstack commented on #55807
/assign @globervinodhn

[2019-02-04 06:23] jadhavamruta19 opened #73687 "my minikube is not able start by non root users.?"

[2019-02-04 06:59] michmike commented on #73321
@andyzhangx  which is the subpath fix you made for windows? can you reference it here.
In the Windows KEP (https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190103-windows-node-support.md), search for subpath

[2019-02-04 07:20] bavarianbidi opened #73688 "PODs Filesystem is 100% filled, POD doesn't start anymore if selinux is enabled"
**What happened**:
If a POD with a persistance disk, which is filled to the last bit, got scheduled to a new node, the POD can't start with following error message:

[code]

**What you expected to happen**:
POD starts and/or have the possability to scale down the statefulset and mount this disk with a `manual action container` to cleanup data!

**How to reproduce it (as minimally and precisely as

[2019-02-04 07:36] micafer commented on #73590
Last release 1.13.3 apply the PR #73097 and fixes my issue.

[2019-02-04 07:36] #73590 closed

[2019-02-04 07:54] khteh commented on #34583
Warning  FailedScheduling   3m2s (x660 over 58m)   default-scheduler   0/2 nodes are available: 1 Insufficient pods, 1 node(s) had no available volume zone.

[2019-02-04 07:56] aamirpinger commented on #62382
### **STILL backOffLimit is not taken into account to stop the creation of pods in case of failure?**
@

**kubectl version:**
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.3", GitCommit:"435f92c719f279a3a67808c80521ea17d5715c66", GitTreeState:"clean", BuildDate:"2018-11-26T12:57:14Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{

[2019-02-04 07:58] CallMeFoxie commented on #62382
Just update to something newer than 1.10.0. That version is ages old and I'm sure it is fixed within the latest 1.10.x release.
(Which is also out of support so update to 1.12/1.13 ASAP.)

[2019-02-04 08:02] sudeeshjohn opened #73689 "Kubernetes unit tests failing due to build failure"
**What happened**:
make test is failing due to  build failure

**What you expected to happen**:
make test should be successful

**How to reproduce it (as minimally and precisely as possible)**:
clone kubenetes git and run make test
**Anything else we need to know?**:

**Environment**:
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname -a`): `Linux ubuntu18.04-icp-node-4 4.15.0-43-gener

[2019-02-04 08:05] sudeeshjohn commented on #73689
/sig testing

[2019-02-04 08:33] zedtux commented on #60105
/reopen
/remove-lifecycle rotten

[2019-02-04 08:33] alwinmarkcf commented on #68737
If I delete my Statefulset, it will delete all my Pods so, Ive a downtime
of my services.

If that field would be just editable, exact the failure secnario you
mentioned would be possible (but  in the other direction) even for
storageclasses which does not allow resizing.

Also I could finish my resize procedure and woul be able to autoscale.

Currently I don't use autoscale and if I would loose m

[2019-02-04 09:15] wojtek-t commented on #73635
https://github.com/kubernetes/kubernetes/pull/73638 is the thing that's going to change the metric.
We should fix the part one of the problem in ClusterLoader directly.

For part (2) of the problem, we should probably somehow try to 429 completely.

[2019-02-04 09:53] antalm commented on #72565
Hi! Is there any news regarding this issue? Do you need any more information before this issue can be assigned to someone? Thanks!

[2019-02-04 09:55] ashishranjan738 commented on #73687
@jadhavamruta19 can you post the error you are getting?

[2019-02-04 10:08] pontiyaraja commented on #73430
@brahmaroutu is it Share Process Namespace between Containers in a Pod ?

[2019-02-04 10:31] sttts commented on #65869
/remove-lifecycle rotten

[2019-02-04 11:28] cben opened #73692 "strategic patch: "unrecognized type" error not informative enough"
**What happened**:
Given a wrong type, e.g. string where int was expected in a large yaml, `oc apply` as well as the underlying `kubectl patch --type=strategic` gives an error that's hard to act upon (if patch is large).
[code]
1. The wording sounds like the problem was an unexpected integer, but actually it means it expected integer but got something else.  Worse, there are 2 code paths (`FromUns

[2019-02-04 11:39] lig commented on #39178
@msau42 this one looks resolved

[2019-02-04 12:16] cben commented on #26050
Working on improving `unrecognized type` error message from server (#73692) but apparently no longer relevant for `kubectl edit`, I'm seeing it give a pretty message, I guess from client-side validation:
[code]

Only if you force `--validate=false` you get the server's error (which I'll improve):
[code]

[2019-02-04 12:34] Fleuri commented on #72811
Yes, this would also help optimizing the resource usage as there would be no need to request resources as buffer for scaling.

[2019-02-04 12:37] tuapuikia commented on #64148
kops 1.11 support k8s 1.11.x. I already tested it on 1.11.7 and it working as expected.

[2019-02-04 12:51] michalpiasecki1 commented on #73140
having same issue

[2019-02-04 12:52] sikhlaqu commented on #72048
@linxiulei
**What is the current workaround for this issue ?**

We have a customer complaining about this,  when his firewall goes down, all his NFS storage hangs and they dont recover even after the Firewall is restored/back and when he deletes his Application PODs, they always remain in "terminating state" (kube 1.12 + containerd runtime). POD describe shows _"Killing container with id container

[2019-02-04 12:59] cben commented on #73692
more places people saw this error and would help if it was clearer:
https://github.com/helm/charts/issues/3496
https://github.com/ansible/ansible-kubernetes-modules/issues/22

it's common result of openshift templates, which expand to string unless you use [`${{PARAM}}` syntax](https://docs.okd.io/latest/dev_guide/templates.html#writing-parameters):
- http://logs.nodejs.org/openshift/2018-08-15#12

[2019-02-04 13:17] mariantalla opened #73696 "Several sig-storage tests failing in master-upgrade"
**Which jobs are failing**:
In [master-upgrade](https://testgrid.k8s.io/sig-release-master-upgrade):
- [gce-new-master-upgrade-cluster-new](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new)
- [gce-new-master-upgrade-cluster-new-parallel](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new-parallel)

**Which test(s) are failing*

[2019-02-04 13:17] mariantalla commented on #73696
/priority important-soon

[2019-02-04 13:36] rtheis opened #73698 "Exceeded quota for pod priority class"
**What happened**:
Quota was exceeded for a pod priority class.

**What you expected to happen**:
Quota is enforced for a pod priority class.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a PriorityClass.
2. Create a pod using the PriorityClass created in step 1 and wait for it to be Running.
3. Create a ResourceQuota with a hard limit of 2 pods for the PriorityClas

[2019-02-04 13:38] rtheis commented on #73698
[code]

[code]

[2019-02-04 13:42] bclau commented on #73489
@benmoss I think the bigger issue would be that we can't push repo_name/resource-consumer/controller:1.0 on dockerhub alongside the other images we ported, as it doesn't allow you to push images with slashes in them.

[2019-02-04 13:42] dvoros commented on #63477
@xiyangxdy you'd have to modify the `mountPath: /etc` part not to overmount /etc with a read-only fs.

[2019-02-04 13:52] wooyanger commented on #69973
You need to delete the certificate directory.

[2019-02-04 14:00] maciaszczykm commented on #32220
Would be really helpful to solve this :)

/remove-lifecycle rotten

[2019-02-04 14:02] rtheis commented on #73698
/sig scheduling

[2019-02-04 14:06] wojtek-t commented on #73585
I've run our scalability tests against my POC (that is extremely hacky, but good enough for that purpose, I think). And I was able to reduce amount of events to be processed when starting watch by ~40x.
That I think finally confirms that it's definitely a useful optimization.

The next step for me is to write down a formal KEP for it. Hope to have it our for review later this week.

[2019-02-04 14:09] Adirio commented on #41600
What is the state of this?

Was the doccument ever published for the public or just to the two mentioned GoogleGroups?

I'm intereseted in modifying the weights that each priority function has in a dynamic way.

[2019-02-04 14:21] #68298 closed

[2019-02-04 14:57] stevenimle-honeywell commented on #73644
Gotcha, I assumed that was the case. However, the error message for it makes it seem like I had just not set it up correctly.

[2019-02-04 14:57] #73644 closed

[2019-02-04 15:49] sj0509 commented on #67533
Hi,
How did you resolve this issue ? I'm getting the same error - am looking at more detailed logs, I see it failing to get kube-proxy

I0204 10:38:55.638449   17396 kubernetes.go:119] error getting Pods with label selector "k8s-app=kube-proxy" [Get https://10.6.104.30:8443/api/v1/namespaces/kube-system/pods?labelSelector=k8s-app%3Dkube-proxy: Service Unavailable]
I0204 10:38:56.138119   17396 rou

[2019-02-04 16:02] alexbrand commented on #72102
I was able to repro this issue with the repro steps provided by @Cytrian. I also reproduced this issue with a real etcd cluster.

As @JishanXing previously mentioned, the problem is caused by a bug in the etcd v3 client library (or perhaps the grpc library). The vault project is also running into this: https://github.com/hashicorp/vault/issues/4349

The problem seems to be that the etcd library us

[2019-02-04 16:09] wozniakjan commented on #70916
thanks, that is a great point, I will gladly try to make a PR to kube-state-metrics if https://github.com/kubernetes/kubernetes/pull/73405 gets approved. I think now it is possible there will be many changes requested.

@brancz I assume somewhere here would be a good fit?
https://github.com/kubernetes/kube-state-metrics/blob/d96e9a8ad1b1b4de4d996b4d81b6f4bc693fe67f/internal/collector/namespace.go

[2019-02-04 16:17] mikearruda commented on #56903
Switching from flannel to calico did not work for us, however switching from flannel to calico and then back to flannel did. Weird, right?

[2019-02-04 16:34] benmoss commented on #73073
Just hit this again https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/73699/pull-kubernetes-local-e2e-containerized/4606/

[2019-02-04 16:42] timothysc commented on #72102
/assign @gyuho @xiang90 @jpbetz

[2019-02-04 16:42] timothysc commented on #72102
@liggitt ^ FYI.

[2019-02-04 17:05] bclau commented on #73418
So, this is a bit confusing, since QoS can refer to a few different things.

First of all, I was thinking about LimitRanges set per namespace, but the LimiRange types are: Pod, Container, PersistentVolumeClaim. The documentation says: ``If a Pod does not meet the constraints imposed by the LimitRange, it cannot be created in the namespace.``, which means that it doesn't fit the scenario described

[2019-02-04 17:19] GregSilverman commented on #56903
@mikearruda, did the switch back to flannel include a version upgrade?

[2019-02-04 17:19] zerthimon opened #73702 "container's port specific hostIP is ignored, listens on all host's IPs instead"
**What happened**:
Followed https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#containerport-v1-core to configure container ports
[code]
The settings `hostIP: 10.20.20.1` is ignored, container answers on all host's IPs
Services listening on port 80 on other IPs get overridden by container.

**What you expected to happen**:
Container answers only on `10.20.20.1`, services bound to

[2019-02-04 17:31] mikearruda commented on #56903
@GregSilverman No, 1.11 was used both times. Maybe the switch to calico added some routes that are now making flannel work? I am really confused.

Prior to this, we were getting inconsistent results connecting to external addresses. For example, connecting to google.com (on the same IP every time) would fail intermittently using TCP. However, forcing UDP worked every time.

[2019-02-04 17:36] #71749 closed

[2019-02-04 17:39] zerthimon commented on #73702
/sig network

[2019-02-04 17:44] tallclair commented on #70249
/assign @yuwenma

[2019-02-04 17:55] alejandrox1 opened #73705 "[sig-cluster-lifecycle] cluster upgrade tests failing"
**Which jobs are failing**:
on `sig-master-upgrade`:

[https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster&width=80)

**Which test(s) are failing**:
* `UpgradeTest`
* `[sig-cluster-lifecycle] Upgrade [Feature:Upgrade] cluster upgrade should maintain a functioning cluster [Feature:Cluste

[2019-02-04 18:25] haiyanmeng opened #73707 "Include RuntimeClass information in ListPodSandboxResponse and PodSandboxStatusResponse"
**What would you like to be added**:
Add a new field called `runtime_handler` into [PodSandbox](https://github.com/kubernetes/kubernetes/blob/f52713515b8d526feed0f9111b3f075aaf463001/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L480) and [PodSandboxStatus](https://github.com/kubernetes/kubernetes/blob/f52713515b8d526feed0f9111b3f075aaf463001/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L422)

[2019-02-04 18:31] deads2k commented on #54960
There are some external projects that tackled this area with reasonable success.  I suspect that the combination of
1. https://github.com/openshift/service-serving-cert-signer to mint and rotate serving certificates and inject trust into apiservices (could be extended) and,
2. https://github.com/kubernetes/enhancements/pull/658 for tokens

would be enough for most use cases.  That provides the "th

[2019-02-04 18:31] tallclair commented on #73707
SGTM. This would also make testing much easier, as well as verification that the runtime was respecting the runtime handler if we wanted stronger enforcement.

[2019-02-04 18:47] brancz commented on #70916
Once implemented in the API then that would be a very good fit indeed :slightly_smiling_face: .

[2019-02-04 19:01] mikearruda commented on #56903
I take that back. Eventually the issue returned :(

[2019-02-04 19:14] verult commented on #67972
/remove-lifecycle rotten

[2019-02-04 19:21] lavalamp commented on #73648
RV precondition: only delete the object if its current RV equals the specified one.

Generation precondition: only delete the object if its current metadata.Generation equals the specified one.

Either one works, the generation one is more tolerant of random status updates. There's possibly room in the world for both.

@deads2k might have an opinion?

If we're going to have more than 2 or three of

[2019-02-04 19:35] #68415 closed

[2019-02-04 19:37] openstacker commented on #62549
I can reproduce this issue with OpenStack Magnum master branch and stable/rocky branch with k8s v1.13.2. Will dig and post more details later.

[2019-02-04 19:38] jsturtevant opened #73712 "Dead code in pkg/securitycontext/util.go"
**What happened**:
I was working on another feature and found that `ParseSELinuxOptions` in `pkg/securitycontext/util.go` code is not called anywhere: https://github.com/kubernetes/kubernetes/blob/2d7b92ee743de20d17406003e463a829a0db5a51/pkg/securitycontext/util.go#L55

A search seems to verify:

https://github.com/kubernetes/kubernetes/search?q=ParseSELinuxOptions&unscoped_q=ParseSELinuxOptions
h

[2019-02-04 19:43] #73334 closed

[2019-02-04 19:43] #73361 closed

[2019-02-04 20:01] nikopen commented on #64952
as KEP has been moved, unless an exception is made,

/milestone v1.15

[2019-02-04 20:04] nikopen commented on #71142
-tracking comment-

this will be closed soon as #71192 merges

[2019-02-04 20:05] nikopen commented on #71159
-tracking comment-

this will be closed soon as #71192 merges

[2019-02-04 20:36] dekkagaijin commented on #73133
You can swap the metadata-proxy image with:

[code]

GKE will trample any changes to the daemonset, but this should work with any other GCE cluster.

Compatibility:
* `k8s.gcr.io/metadata-proxy:v0.1.11`: `gcr.io/kubernetes-e2e-test-images/metadata-concealment:1.2`
* `k8s.gcr.io/metadata-proxy:v0.1.10`: `gcr.io/kubernetes-e2e-test-images/metadata-concealment:1.1.1`

[2019-02-04 20:39] mikebridge commented on #30606
It would indeed be nice to be able to configure the PersistentVolumeClaim instead of [setting it manually](https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/).

[2019-02-04 20:59] #70200 closed

[2019-02-04 21:05] jingxu97 opened #73717 "CreatePDWithRetry() function in test framework does not return error"
**What happened**:
In test framework, CreatePDRetry() function will not return error even it fails to create the disk. The err variable is reset as a new variable in the loop
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hard

[2019-02-04 21:15] roycaihw commented on #73548
cc @liggitt

[2019-02-04 21:15] yliaog commented on #73585
/cc

[2019-02-04 21:16] mbohlool commented on #73674
/assign

[2019-02-04 21:17] roycaihw commented on #73628
cc @yliaog

[2019-02-04 21:18] roycaihw commented on #73654
/sub

[2019-02-04 21:20] roycaihw commented on #73655
cc @logicalhan

[2019-02-04 21:21] roycaihw commented on #73666
cc @janetkuo

[2019-02-04 21:25] roycaihw commented on #73671
cc @wenjiaswe

[2019-02-04 21:35] liggitt commented on #73548
Fields added to metadata would affect all objects, not just secrets.

While this could be useful, it needs careful thought to avoid causing every write (even ones that change no data) to result in a write to etcd. The naive implementation (set the field to `time.Now()` in PrepareForCreate() and PrepareForUpdate()) would cause this issue.

Writes to etcd intentionally no-op if the bytes being writt

[2019-02-04 21:39] bradbeam commented on #71073
We're seeing a similar issue as well on 1.11.7. We thought it may be a kernel issue initially, but havent seen any difference going from 4.15.0-42-generic to 4.15.0-45-generic [Ubuntu 18.04.1 LTS].

The kube-proxy errors seem to be discussed a bit in https://github.com/kubernetes/kubernetes/issues/66614

[2019-02-04 22:23] msau42 commented on #64952
@nikopen the linked kep above is unrelated to this issue.

This is a bug and I don't think it needs an associated enhancement

[2019-02-04 22:24] hairyhenderson commented on #73548
The main requirement here is to track changes, so writes that change no data should not cause the `updatedTimestamp` to change.

[2019-02-04 22:33] apelisse commented on #73674
I would be careful about this one,

But if you want to fix the other two, please go for it :-)

[2019-02-04 22:51] dims opened #73722 "pull-kubernetes-e2e-kubeadm-gce is broken"
Error is as follows:
[code]

Please see:
- https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-kubeadm-gce
- https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-kubeadm-gce&graph-metrics=test-duration-minutes

Looks like this started when we switched over the kubeadm jobs from sig-testing to sig-cluster-lifecycle
https://github.com/kubernetes/tes

[2019-02-04 22:52] dims commented on #73722
/assign @krzyzacy

cc @neolit123 @timothysc

[2019-02-04 22:57] krzyzacy commented on #73722
yes still working on it - trying to move it off run_after_success since that's deprecated from Prow

[2019-02-04 23:03] shrinandj commented on #73587
I am running Kubernetes v1.12.3 and I don't see reflector metrics being used by kubelet (`curl -s localhost:10255/metrics | sed 's/{.*//' | sort | uniq -c | sort -nr | grep reflector` shows nothing).

FWIW, the cluster is created using kops.

Any idea, how are reflector metrics enabled?

[2019-02-04 23:04] derekwaynecarr commented on #73587
@sjenning and myself will also look into this as well and see what we can find.

[2019-02-04 23:08] cam-cen commented on #26670
Hi, any more word on this? I'm creating NLBs (for TCP services), and getting issues around too many rules for my worker security groups.

[2019-02-04 23:09] neolit123 commented on #73722
we are not even watching this as signal that much to be honest.
kubeadm-gce-master is the real signal (periodic).

@krzyzacy
a difference that i see between the kubeadm-gce-master (periodic) job and this one is that the periodic has some debug output for creating the kubernetes-anywhere folder:
[code]

while i cannot see the same in the logs for the pre-submit.

[2019-02-04 23:09] neolit123 commented on #73722
/assign

[2019-02-04 23:11] smarterclayton commented on #73514
Default to GCM isn’t feasible unless we address IV reuse.

[2019-02-04 23:18] jennybuckley opened #73723 "Umbrella Issue for Server Side Apply"
UPDATE: This is now being tracked in https://github.com/orgs/kubernetes/projects/38
[code]

[2019-02-04 23:21] krzyzacy commented on #73722
sorry I'm behind on everything.. the presubmit uses podutils, so the clone log lives in places like https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/70896/pull-kubernetes-e2e-kubeadm-gce/17105/clone-log.txt

I need to bump the image and docker was gone on my mac and I ssh was messed up so I never got a chance... on it now

[2019-02-04 23:28] sarjeet2013 opened #73724 "Volume attach limit doesn't work for `WaitForFirstConsumer` Volume binding mode"
**What happened**:

Volume binding mode `WaitForFirstConsumer` doesn't consider the volume attach limit per node.

**What you expected to happen**:

`WaitForFirstConsumer` volume binding mode should have respected the attach limit, similar to `Immediate` binding mode.

**How to reproduce it (as minimally and precisely as possible)**:

In CSI driver, configured the volume-attach limit to 1 per node

[2019-02-04 23:30] sarjeet2013 commented on #73724
cc @msau42

[2019-02-04 23:31] sarjeet2013 commented on #73724
/sig storage

[2019-02-04 23:39] #68425 closed

[2019-02-04 23:44] msau42 commented on #73724
/assign @gnufied

Currently the predicate [skips counting](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/scheduler/algorithm/predicates/csi_volume_predicate.go#L142) PVCs that are not bound. It should lookup the storageclass to get the provisioner/driver name.

This solution will require a StorageClass object is even if you don't use dynamic provisioning.

[2019-02-05 00:14] jennybuckley commented on #73723
/remove-kind bug

[2019-02-05 00:20] logicalhan commented on #72244
@sergeyevstifeev, I can't seem to reproduce your result. These are the steps I have taken to reproduce your issue, given a fresh build/deploy of kubernetes on v1.11.5.

[code]

At this point, I can observe the namespace which is stuck in the terminating state. At this point, if I run the following two commands:

[code]

I can observe via `watch kubectl get ns` in another terminal, that after a cer

[2019-02-05 00:44] vyta commented on #69904
I will be picking this work item up.

[2019-02-05 00:44] mechpen commented on #66651
We have seen this problem happened a few times in our cluster.  The error happens very rarely.  But when it happened, it generated consistent DNS lookup failures because those DNS requests were sent to an obsolete endpoint (we are using kube-dns).

We chased the error to an error with `conntrack` command.  When kube-proxy runs

    `conntrack -D --orig-dst x --dst-nat y -p udp`

to delete stale co

[2019-02-05 00:45] vyta commented on #69904
I'd like to pick this work item up

[2019-02-05 01:12] nikopen commented on #64952
sorry, got diverted by the comments on that KEP.

/milestone v1.14

[2019-02-05 01:38] leakingtapan opened #73730 "Undocumented buggy EBS volume ID format"
**What happened**:
When defining persistence volume for EBS using static provisioning, there are two EBS volume ID formats that could be put in the pv spec:
[code]

The `awsElasticBlockStore.volumeID` could be either be `aws://us-west-1/vol-035c45314fab68972` or `vol-035c45314fab68972`. And the first ID format is undocumented and buggy where:
1. It causes confusion where people could use problemat

[2019-02-05 01:39] leakingtapan commented on #73730
/sig storage
/sig aws

[2019-02-05 02:03] leakingtapan commented on #73730
/cc @saad-ali @jsafrane

[2019-02-05 02:03] d-nishi commented on #73480
/assign @M00nF1sh

[2019-02-05 02:04] d-nishi commented on #73470
/assign @shyamjvs

[2019-02-05 02:05] d-nishi commented on #73479
/sig aws

/assign @M00nF1sh

[2019-02-05 02:11] d-nishi commented on #73362
/assign @M00nF1sh

[2019-02-05 02:13] d-nishi commented on #73297
/assign @M00nF1sh

[2019-02-05 02:42] #68146 closed

[2019-02-05 02:48] shyamjvs commented on #73470
This behaviour is intentional. See this comment ([xref](https://github.com/kubernetes/kubernetes/issues/54368#issuecomment-339378164) for more details):

[code]

/close

[2019-02-05 02:48] #73470 closed

[2019-02-05 02:54] PatrickLang commented on #73328
curl was using the URL given to set the hostname in the HTTP request.

To illustrate what this does - here's another way to get the same result. Ask www.google.com to give you the page for www.bing.com. It can't serve that content so it returns a 404.

[code]

Therefore, if I had run `curl.exe -H 'www.google.com' searchengine` that would have succeeded.

[2019-02-05 02:54] PatrickLang commented on #73328
/milestone v1.14

[2019-02-05 02:55] PatrickLang commented on #73327
/milestone v1.14

[2019-02-05 02:55] PatrickLang commented on #72788
/milestone v1.14

[2019-02-05 02:59] PatrickLang commented on #73475
@benmoss

Is this the process you had in mind?

1. Build and push to an existing registry for Windows-only images (work item: https://github.com/kubernetes-sigs/windows-testing/issues/3 )
2. Update `image-util.sh` to reference these and include them in the same multi-arch manifest when the Linux images are updated

[2019-02-05 05:46] msau42 commented on #73321
It should be noted that the example @jingxu97 gave does not use `subpath`.  I think she meant subdirectory.

[2019-02-05 06:02] subramanian-neelakantan commented on #73307
Hi @luckyfengyong, The "Read-only (pre-existing default role)" shown in this document includes the System.Read privilege. So things should work as expected if you provide the k8s VC user this "Read-only" role on the Datacenter/Cluster/Hosts on which k8s VMs are placed. Hope that helps and clarifies. If this resolves your problem, kindly close this issue.

[2019-02-05 06:12] spiffxp commented on #73723
/milestone v1.14
since there is work happening to land this for v1.14 (though not necessarily close out entirely)

[2019-02-05 06:48] pontiyaraja commented on #73430
@brahmaroutu the above test cases are covered in [security_context.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/security_context_test.go), few test cases are features and [shared process namespace between the containers](https://github.com/kubernetes/kubernetes/blob/5ab509b54bafe0f4faed00a1efe2d14b16856619/test/e2e_node/security_context_test.go#L74) test case marked as `[

[2019-02-05 06:52] zedtux commented on #29838
`--sort-by='{.lastTimestamp}'` doesn't seem to sort correctly :

[code]

[2019-02-05 07:19] taherv commented on #26567
Am I correct in understanding that the whole access mode / RWO check is only enabled for GCEPD, AWSEBS, RBD and ISCSI drivers ONLY ! I am reading this code (https://github.com/kubernetes/kubernetes/blob/1b8435d5381d40b6faa4b50131ac0b66ed0e93ae/pkg/scheduler/algorithm/predicates/predicates.go#L229).

What is the expectation if we have a PV that is backed by other drivers (e.g. flexvolume and more i

[2019-02-05 07:34] wojtek-t commented on #70357
This appeared to be a broken phisical machine on which the nodes were running :-)

[2019-02-05 07:34] #70357 closed

[2019-02-05 08:10] uablrek commented on #73382
There was a discussion on the sig-network slack channel recently that I [commented](https://kubernetes.slack.com/archives/C09QYUH5W/p1549121613434800). The problem was "too many" (unclear how many( addresses on the `kube-ipvs0` interface. Could that be a problem here also?

I outlined an idea for a fix; assign the entire ClusterIP range to `kube-ipvs0` instead of one-by-one. This is only allowed f

[2019-02-05 09:06] mm4tt commented on #73575
Something went wrong here.
The vmodule flag change worked as expected, but setting --v=3 in apiserver didn't.
Here are the api-server args from the recent run of the gce scale perormance
![api-server-args](https://user-images.githubusercontent.com/2604887/52262664-5ce09500-292d-11e9-8674-4b7e2be8e519.png)
The vmodule is not set, but the log level is set to v2. As the result we currently don't have

[2019-02-05 09:15] mm4tt commented on #73575
Env variables seem to be set correctly in the build file:
![7vg9cptdh59](https://user-images.githubusercontent.com/2604887/52263270-fa889400-292e-11e9-8a0b-b8b5a61b26f3.png)

[2019-02-05 09:17] philnichol commented on #55435
For those who arrived at this thread because of istio: https://github.com/istio/cni

[2019-02-05 09:20] brancz commented on #32326
The PR is here: https://github.com/kubernetes/kubernetes/pull/69099

[2019-02-05 10:11] casusbelli opened #73736 "PR did get /lgtm comment but not the corresponding label"
PR #68925 did get a /lgtm comment but not the corresponding lgtm label I'd expect. Is this a bug or is there some other requirement to be met that I'm not aware of?

[2019-02-05 10:21] mm4tt commented on #73461
Run 1444 has failed with the same error - https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-killer/1444
Investigating

[2019-02-05 10:37] mm4tt commented on #73575
https://github.com/kubernetes/kubernetes/pull/73735 seems to be fixing the issue -
![4vn4qtcwwew](https://user-images.githubusercontent.com/2604887/52267856-67555b80-293a-11e9-9dd6-a86866dfe69e.png)

[2019-02-05 11:10] mm4tt commented on #73461
Analyzed one of the 3 RCs that timed out: test-j4zh5b-1/medium-rc-11,

Build log:
[code]

Looks like 30 out of 31 pods were created swiftly at 03:55 and then nothing happened for the 10 minutes. At 04:05 the 31st pod was created, but it remained in the *runningButNotReady" state.

Let's take a look at the scheduler logs:
[code]

It looks like the scheduler didn't do anything for 10 min, and not on

[2019-02-05 11:46] mogaika commented on #73245
@hello2mao as you can see --cloud-provider=openstack provided to openstack-cloud-controller-manager binary. Our kubernetes uses external cloud-provider-openstack for sure because we use features that not available in in-tree cloud provider.
Please check original issue https://github.com/kubernetes/cloud-provider-openstack/issues/445

[2019-02-05 12:02] khteh opened #73738 "autoscaling/v2beta2 error"
**What happened**:
error: unable to recognize "my-hpa.yml": no matches for kind "HorizontalPodAutoscaler" in version "autoscaling/v2beta2"

**What you expected to happen**:
No error according to https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#autoscaling-on-multiple-metrics-and-custom-metrics

**How to reproduce it (as minimally and precisely as possible)**:

[2019-02-05 12:46] antony360 opened #73741 "test k8s bot"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-02-05 12:52] tamalsaha commented on #68466
@nikhita / @sttts , is there an workaround for this issue? And am I right to assume that this will need a server side fix?

[2019-02-05 12:52] #73741 closed

[2019-02-05 13:01] nikhita commented on #73736
@casusbelli Looks like a dropped webhook (we have noticed this with GitHub sometimes).

I have added the lgtm, so it should get merged soon. :)

/close

[2019-02-05 13:01] #73736 closed

[2019-02-05 13:03] nikhita commented on #73736
Also note that the tests will be run again once more before merging, so it might take some time.

[2019-02-05 13:44] realrill commented on #2630
Is there any chance for fix this issue? Are the Kubernetes guys working on the solution?

[2019-02-05 13:46] casusbelli commented on #73736
thnx!

[2019-02-05 13:55] Adirio commented on #41600
/kind feature
/priority important-longterm

[2019-02-05 14:00] snwfdhmp commented on #73579
Up

[2019-02-05 14:07] armanriazi opened #73742 "Rancher HA: watch chan error: etcdserver: mvcc: required revision has been compacted**"
I use rancher 2 HA AirGap. After run docker command  i get result of etcd!?
(I installed kubectl 1.8.15  by snap and I don't have /etc/kubernetes/ path and also I get this message of kubectl: The connection to the server localhost:8080 was refused - did you specify the right host or port?)
Because of running rancher in docker it's a little bit hard to access for fixing problem

Result:

My cluster

[2019-02-05 14:18] mrbobbytables opened #73743 "Cleanup IBMCloud Kubemark scripts"
**What would you like to be added**:
Refactor the [IBMCloud kubemark bash scripts](https://github.com/kubernetes/kubernetes/tree/master/test/kubemark/iks)

**Why is this needed**:
* The CLI tool (`bx`) used by the script [test/kubemark/iks/util.sh](https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/iks/util.sh) has been [deprecated as of May 2018](https://cloud.ibm.com/docs/cli/ref

[2019-02-05 14:21] mrbobbytables commented on #73743
/remove-kind feature

[2019-02-05 14:34] liggitt commented on #73738
does `kubectl api-versions` show autoscaling/v2beta2 enabled?

[2019-02-05 14:36] liggitt commented on #73742
that message means that you are attempting to start a watch from a resourceVersion that is too old. it is an expected response in that scenario. whatever is starting that watch should react by relisting the resource and obtaining a current resourceVersion, then starting a new watch from that new resourceVersion

/close

[2019-02-05 14:36] #73742 closed

[2019-02-05 14:38] liggitt commented on #73689
does `make clean` help? are you out of space or have write permission problems in your /tmp directory?

[2019-02-05 14:41] #73654 closed

[2019-02-05 14:42] jhorwit2 commented on #65618
As long as the service isn't using local for the traffic policy then it'll work today. That's because node ports will balance the traffic on workers to the masters when the traffic policy is Cluster (default).

[2019-02-05 15:03] adampl commented on #55713
@jtackaberry It's not so simple. The cluster nodes need an external monitor or hypervisor to reliably determine whether the NotReady node is actually shut down, in order to take into account a possible split-brain scenario. In other words, you cannot assume that pods are not running just because the node is not responding. See: https://github.com/kubernetes/enhancements/pull/719

[2019-02-05 15:18] mkumatag commented on #73689
@liggitt this is happening in a clean environment and I hope @sudeeshjohn got enough disk space!

@laboger do you see golang/linker issues here?

[2019-02-05 15:37] nmittler commented on #65502
@enisoc looks like the main thrust of this is being tracked by https://github.com/kubernetes/enhancements/issues/753.  However, I'm not sure it covers the shutdown ordering that we had discussed previously  [here](https://github.com/kubernetes/kubernetes/issues/65502#issuecomment-422599429). Do you know if anyone is looking into that separately?

[2019-02-05 15:46] hasonhai commented on #72393
@lucaim could you tell where did you put the empty ceph.conf and ceph.keyring files? On the node running kubelet?

[2019-02-05 15:49] bclau commented on #73328
We could use the test ``[sig-network] DNS should provide DNS for ExternalName services`` for this. This test does:

- creates an initial ExternalName to foo.example.com and validates the DNS resolution.
- renames the ExternalName to bar.example.com and validates the new DNS resolution.
- changes the Service Type to ClusterIP and validates the new DNS resolution.

[2019-02-05 15:51] mariantalla opened #73748 "Failing test in master-blocking: Dynamic PV/Inline-volume subPath should support creating multiple subpath from same volumes"
**Which jobs are failing**:
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-slow

**Which test(s) are failing**:
`subPath should support creating multiple subpath from same volumes`, for both In-tree and CSI volumes, and multiple drivers.

**Since when has it been failing**:
2019-02-04, [k/k:1e78fec9b](https://github.com/kubernetes/kubernetes/commit/1e78fec9b)

**Testgrid link

[2019-02-05 15:53] Mister-Meeseeks commented on #73666
One problem with that approach is there's currently no (afaik) way to atomically create a Job and set ConfigMap's owner. To assign ownership we need an API assigned uid. Which means Kubernetes must create the job parent resource first. Only after the job's ingested into the scheduler can we assign ConfigMap ownership That introduces potential race conditions where a job is created, run and garbage

[2019-02-05 15:58] sboeuf opened #73750 "Get CRI-O stats from CRI instead of cadvisor"
**What would you like to be added**:

I'd like to remove the hardcoded assumption in kubelet that makes CRI-O being used in legacy mode regarding the way the metrics/stats are retrieved by the `metrics-server`. I want CRI-O to be used with the new way of retrieving metrics, that is through the CRI interface through calls such as `ContainerStatsRequest` and `ListContainerStatsRequest`.

**Why is th

[2019-02-05 15:58] wongma7 commented on #73748
have https://github.com/kubernetes/kubernetes/pull/73749 open for this

[2019-02-05 15:58] sboeuf commented on #73750
/cc @runcom @mrunalp

[2019-02-05 16:20] parhamdoustdar opened #73752 "Operations on custom resources with multiple versions fails when validating and mutating web hooks are configured on it"
**What happened**:

Here is a brief explanation of my environment (I'll explain how to reproduce it in the relevant section below):

I'm on the latest stable 1.13, which is 1.13.2. I'm using `microk8s` to be able to test this on multiple versions.

I have both a ValidationWebHookConfiguration and mutatingWebHookConfiguration defined.

ValidatingWebhookConfiguration:
[code]

MutatingWebhookConfigur

[2019-02-05 16:35] laboger commented on #73689
All I see are missing files, not linker errors.

[2019-02-05 16:41] PatrickLang commented on #73475
cc @adelina-t

[2019-02-05 16:42] PatrickLang commented on #73475
If we want to handle multiple Windows versions, then Docker EE-basic 18.09 is required. We're using that on Azure, but need to check on GCE.

[2019-02-05 16:48] PatrickLang commented on #73327
per @dineshgovindasamy - Azure-CNI only creates the network when a pod is scheduled. Kube-proxy waits for the network to be created. Therefore if no pod has been scheduled, kube-proxy won't be active on that node.

This won't affect Flannel or OVN deployments because they have a daemon already running that creates the network.

[2019-02-05 16:55] adelina-t commented on #73418
@adelina-t

[2019-02-05 17:00] MikeSpreitzer opened #73753 "Internal Server Error 0-length response from extension API server for no obvious reason"
**What happened**:
I have an extension API server based on the sample-apiserver, and today I updated it from release 1.10 to 1.12.  In testing, I got a lot of success but found one unexpected error in the log of an extension API server (and this was neither the first nor the last attempt to delete that Kind of object):

[code]

The error message is being written from https://github.com/kubernetes/

[2019-02-05 17:04] rajathagasthya commented on #73752
/sig api-machinery

[2019-02-05 17:10] MikeSpreitzer commented on #73753
@kubernetes/sig-api-machinery-bugs

[2019-02-05 17:17] charles-crain commented on #2630
This issue has not been a problem for us for a very long time. We set the "fsGroup" in the pod's security context to match the group ID of the user that runs the main Docker entry point, and any volumes in the pod become accessible to that container's main process:

https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[2019-02-05 17:31] rajathagasthya commented on #73753
Looks like it's #71696. It was fixed just a few weeks ago in #72856

[2019-02-05 17:34] #68433 closed

[2019-02-05 17:40] timothysc commented on #71677
@Klaven is currently work working on this, and those who are interested, please attend the kubeadm call https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle for more details.  As we progress, PRs will reference this issue.

[2019-02-05 17:41] dims commented on #73753
yep that's the one @rajathagasthya

[2019-02-05 17:42] lucaim commented on #72393
@hasonhai Inside the pod of the `kube-controller-manager` as the rbd resize is executed by this component.

[2019-02-05 17:43] liggitt commented on #73278
It appears we are depending on the implicit default of "no" currently (https://docs.docker.com/config/containers/start-containers-automatically/#use-a-restart-policy)

If that behaves inconsistently on different docker versions, I think making it explicit is reasonable.

[2019-02-05 17:56] Joseph-Irving commented on #65502
@nmittler yeah shutdown ordering is being covered, there was still a bit of debate about the pre-stop hooks but the plan is definitely for sidecars to shutdown after the containers have exited.

[2019-02-05 18:07] egernst commented on #73707
As a runtimeClass user, this would be helpful for me.

[2019-02-05 18:11] egernst commented on #73707
/cc @mrunalp

[2019-02-05 18:18] MikeSpreitzer commented on #73753
Thanks.  The next question is will that fix be back-ported to earlier releases.

[2019-02-05 18:25] PatrickLang commented on #66947
/label sig-aws

[2019-02-05 18:31] liggitt commented on #73753
already done: https://github.com/kubernetes/kubernetes/pull/72858

[2019-02-05 18:31] liggitt commented on #73753
will be in the next 1.12.x release

/close

[2019-02-05 18:32] #73753 closed

[2019-02-05 18:34] liggitt commented on #66689
the delay/retry in admission is only a mitigation. fundamentally, the race condition is in the pod creator, which needs to retry or wait until the requisite service account has been created :)

[2019-02-05 18:43] MikeSpreitzer commented on #73753
thanks!

[2019-02-05 18:44] arianitu commented on #18307
I'm running into this, making it really difficult to add new scheduling decisions on an existing cluster. Is there a way to add a new label on an existing node pool (in the UI, you can't add new labels.)

[2019-02-05 18:59] jorhett commented on #66689
@liggitt so that means N projects have to hack in their own workarounds, where N is a non-trivial number (at least 3 if not 4 digits). I feel that providing a standardized way to do this test, request this delay, whatever would be beneficial.

[2019-02-05 19:28] kwiesmueller opened #73759 "Creating new object using kubectl --server-side apply fails"
**What happened**:

When running `kubectl --server-side apply -f obj.yaml` the apiserver returns an error:
[code]
with obj.yaml being:
[code]

**What you expected to happen**:

The object being created if not found.

**How to reproduce it (as minimally and precisely as possible)**:

- get etcd up `third_party/etcd/etcd`
- get apiserver up `mkdir -p /tmp/certs && hack/update-bazel.sh  && bazel run

[2019-02-05 19:40] krzyzacy commented on #73722
@neolit123 it at least passed the build stage now - maybe you can tell me what's the actual problem? ref: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/73651/pull-kubernetes-e2e-kubeadm-gce/17130

[2019-02-05 19:42] DarrienG commented on #47990
This is still an issue. Is it being looked into?

[2019-02-05 20:00] leuvataral opened #73760 "Enhancing the Downward API to expose the external IP"
**What would you like to be added**:
Allow setting the `type` of IP we want when we use Downward API to get the node IP.

Would look something like this:
[code]

**Why is this needed**:

This is useful when the node has different InternalIP and ExternalIP assigned and we specifically need the External IP.

This can eliminate hacks like using `curl https://ipinfo.io/ip` inside the container.

[2019-02-05 20:07] leuvataral commented on #73760
/sig network

[2019-02-05 20:08] #65312 closed

[2019-02-05 20:08] #72403 closed

[2019-02-05 20:32] roberthbailey commented on #18307
@arianitu - there isn't. You need to create a new node pool if you want to add labels to your nodes.

[2019-02-05 20:34] delwaterman commented on #67457
Same issue here as well.

[2019-02-05 20:36] yastij commented on #73278
sgtm

[2019-02-05 20:45] mrunalp commented on #73707
Sounds good 👍

[2019-02-05 20:46] saedalavinia commented on #40244
Any news on this issue?

[2019-02-05 20:51] mylocaldevstack opened #73762 "kube-proxy iptables rules mess"
**What happened**:
I have 10 services deployed on my cluster, currently lets focus on 2 of them (call them A and B for convenience) with 2 replicas per each service.
When i'm sending http request directly from pod A.1->B.externalIP i get randomly http 200 or http 404.
When i did some digging today i found that there are messed up rules in iptables (some of them redirects to wrong service IP - lets

[2019-02-05 20:52] jennybuckley commented on #65925
/remove-lifecycle stale

[2019-02-05 20:53] mylocaldevstack commented on #73762
/sig network

[2019-02-05 21:02] mylocaldevstack commented on #73762
1. @kubernetes/sig-network-bugs

[2019-02-05 21:02] kwiesmueller commented on #73759
@kubernetes/sig-api-machinery-bugs

[2019-02-05 21:22] cgiroua commented on #7339
A year late, but there is a workaround (not sure when it was introduced), you can use ${HOME}, but apparently not $HOME, or ~

[2019-02-05 21:44] jennybuckley commented on #73759
I think this is caused by https://github.com/kubernetes/kubernetes/issues/65925

[2019-02-05 21:48] mylocaldevstack commented on #73762
Okay, lets add a bit more data to process:

---
A is deployed on node 3 and node4
[code]

service definition:
[code]
---
B is deployed on node4 and node5
[code]

service definition:

[code]
---
C is deployed on node3 node4 and node5:
[code]

service definiton:
[code]

[2019-02-05 21:57] roycaihw commented on #73654
please take a look at: https://github.com/kubernetes/client-go#dependency-management

as @liggitt suggested, you are having some similar problem, and you need to apply one of the solutions mentioned above

https://github.com/kubernetes/client-go/blob/master/INSTALL.md#dependency-management-for-the-serious-or-reluctant-user could help if you use godeps/glide/dep as your dependency management tool

[2019-02-05 21:59] mylocaldevstack commented on #73762
When i do `curl` from pod `A-deployment-5ff875d444-cdrwx` to `10.64.11.8` sometimes we get our request pushed to `10.64.13.7` (`C-deployment-cf44758dd-hs6l9`)

We did some digging in `iptables -L -t nat` and found that there's a rule:

[code]

Which obviously shows that there is some kind of mess in these rules as shown above.
For your convenience i've prepared all dumps in repository: https://git

[2019-02-05 22:02] aaronmell opened #73764 "Make security rules default to no access instead of 0.0.0.0/0"
**What would you like to be added**:
I would like to see the elb ingress for AWS changed to default to not allowing any inbound requests if it is misconfigured vs allowing all inbound requests.

**Why is this needed**:
A misconfiguration can leave you exposed without realizing it.

[2019-02-05 22:03] aaronmell commented on #73764
/sig aws

[2019-02-05 22:04] aaronmell commented on #73764
/sig kubernetes/aws-feature-requests

[2019-02-05 22:04] aaronmell commented on #73764
/sig @kubernetes/aws-feature-requests

[2019-02-05 22:13] MaxCCC opened #73765 "Can not access pod from pod running on different node"
**What happened**:
Can not curl from inside pod to other pod on different node (curl works to pod on same node)

**What you expected to happen**:
curl should succeed

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: Vagrant
- OS (e

[2019-02-05 22:37] jtackaberry commented on #66241
Fortunately the log line itself makes this clear:

[code]

So
[code]

[2019-02-05 22:42] ArgonV commented on #61551
I have the same bug too, running v2.1.6 of Rancher single server with a Custom cluster using per-provisioned Oracle Linux VMs.

[2019-02-05 22:56] luckyfengyong commented on #73307
Thanks @subramanian-neelakantan. We are now testing the minimum requirement. Once the test is done, we will close the ticket.

[2019-02-05 23:14] #72715 closed

[2019-02-05 23:48] jberkus commented on #30427
/remove-lifecycle stale

There is a WIP PR for this.

[2019-02-05 23:57] jayunit100 opened #73767 "1.11 ~ "kubectl get" help mesaage is not listing all object types"
Maybe this is b/c CSI was beta in v1.11 ? But it still seems like it might be a bug of not showing all objects in the help message.

**What happened**:

`kubectl get` didn't list `volumeattachment` as an object suggestion

**What you expected to happen**:

`kubectl get` should show all valid `get` targets, including beta objects, like `volumeattachment`.

**How to reproduce it (as minimally and pr

[2019-02-06 00:12] mrbobbytables commented on #72956
The kubemark scripts should be fixed in #73746

[2019-02-06 00:14] dims opened #73769 "Failure cluster [8c185671...] [sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should support creating multiple subpath from same volumes [Slow]"
### Failure cluster [8c185671c9ef137b6c3f](https://go.k8s.io/triage#{id})

##### Error text:
[code]
#### Recent failures:
[2/5/2019, 5:13:11 PM ci-kubernetes-e2e-gci-gce-coredns](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-coredns/7325#sig-storage-csi-volumes-driver-csi-hostpath-v0-testpattern-dynamic-pv-default-fs-subpath-should-support-creating-multiple-subp

[2019-02-06 00:14] dims commented on #73769
cc @saad-ali @msau42

[2019-02-06 00:44] yliaog commented on #73628
"I expect for a resource quota for NodePorts to only disallow NodePorts and have no influence on other services." is not really how resourcequota is designed for 'services'.

pkg/quota/v1/evaluator/core/services.go has the implementation. In short, resourcequota for NodePorts would limit the number of services of type Cluster IP too.

[2019-02-06 01:06] jsturtevant commented on #73417
I have started to look into this test case and have a few questions:

What is the expected behavior we are testing for?  What does "run something that will take up system ram" mean?  Does that mean run a pod that uses up memory or run a system service that uses memory?

After setting the reserves `kubelet --system-reserved` and `--kube-reserved` as mentioned in [release notes for 1.13](https://git

[2019-02-06 01:07] dashpole commented on #73031
tests are green!

[2019-02-06 01:07] #73031 closed

[2019-02-06 01:18] msau42 commented on #73769
This should be fixed by #73749
/close

[2019-02-06 01:18] #73769 closed

[2019-02-06 01:19] brahmaroutu commented on #73430
@pontiyaraja security context tests should be for testing selinux and seccomp capabilities I believe.

[2019-02-06 01:20] msau42 commented on #69831
/remove-lifecycle stale

[2019-02-06 01:20] msau42 commented on #69831
/assign

[2019-02-06 01:42] k-toyoda-pi opened #73771 ""Dynamic Provisioning" e2e test failed on local cluster"
**What happened**:
The following e2e test failed on my local cluster.
- DynamicProvisioner [Slow] [It] should provision storage with different parameters

[code]
**What you expected to happen**:
My k8s node has no zone lables.
[code]
The test tries to get zone labels by getRandomClusterZone() at first.
It fails because of getting no zone labels.

I think that it's better to skip than fail if a k8s

[2019-02-06 01:44] k-toyoda-pi commented on #73771
/sig testing
/sig storage

[2019-02-06 01:46] haizaar commented on #18307
So... will this remain closed? Or is there still a hope it will be addressed?

[2019-02-06 02:12] msau42 opened #73772 "Volume may be resized online if multiple pods share the same volume"
**What happened**:
Inside [MountVolume](https://sourcegraph.com/github.com/kubernetes/kubernetes@0dfbbc290cce9da8aebd669890dbd3e117e20cc6/-/blob/pkg/volume/util/operationexecutor/operation_generator.go#L446), [resizeFilesystem](https://sourcegraph.com/github.com/kubernetes/kubernetes@0dfbbc290cce9da8aebd669890dbd3e117e20cc6/-/blob/pkg/volume/util/operationexecutor/operation_generator.go#L550) is a

[2019-02-06 02:54] dims commented on #72726
one remaining issue is logged here : https://github.com/kubernetes/kubernetes/issues/73073

/close

[2019-02-06 02:54] #72726 closed

[2019-02-06 02:57] msau42 opened #73773 "CSI block: Why is NodePublishVolume called in SetUpDevice?"
**What happened**:
I'm doing a retroactive review of the CSI block implementation and I have a few questions:

Why are there 4 different paths that point to the same block device?  I see:
    * [global map path](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/volume/csi/csi_block.go#L55)
    * [staging target path](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob

[2019-02-06 02:58] dims commented on #73073
temporarily skipping in https://github.com/kubernetes/test-infra/pull/11143

[2019-02-06 02:58] dims commented on #73073
/sig node

[2019-02-06 03:42] roberthbailey commented on #18307
Feel free to file a feature request against GKE. This isn't the right place to track a feature request for a specific k8s provider.

[2019-02-06 04:20] ramineni commented on #73245
@mogaika is right, this happens on using external provider also.  ExternalCMServer calls InitCloudProvider here  https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/controllermanager.go#L113 , but there is no way to check if it is called from external or internal provider here https://github.com/kubernetes/cloud-provider/blob/master/plugins.go#L98 which is causing

[2019-02-06 05:58] khteh commented on #73738
[code]
[code]

[2019-02-06 06:00] micahhausler commented on #57250
@itskarthikholla  it isn't supported right now

/reopen

[2019-02-06 06:06] GiladJudes commented on #30518
+1 Would like to see ALB support added for LoadBalancer type service as well

[2019-02-06 06:14] mourya007 opened #73776 "Missing Test cases"
There are some functions in validation.go for which tests are missing.

FSGroup https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/policy/validation/validation.go#L268

SupplimentalGroup
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/policy/validation/validation.go#L287

RunAsGroup
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/policy/validation/validation.

[2019-02-06 06:17] mourya007 commented on #73776
/sig auth
@liggitt @mikedanese

I have a PR ready for this. I can push it as per the discussion.

[2019-02-06 06:36] #72329 closed

[2019-02-06 06:49] 13567436138 opened #73777 "I can not install applications in k8s"
I found this info on every node。and when i remove the  node.kubernetes.io/network-unavailable:NoSchedule taint。soon k8s will generate another the same taint。
what‘s going on，anyone help？
Taints:             node.kubernetes.io/network-unavailable:NoSchedule
Unschedulable:      false
Conditions:
  Type                 Status  LastHeartbeatTime                 LastTransitionTime                Reason

[2019-02-06 07:03] deepak71 opened #73778 "(OpenEBS) StorageClass PVC doesn't support resize"
**What happened**:
K8s doesn't support the volume expansion. The persistentvolumeclaims "openebsp" is forbidden: only dynamically provisioned pvc can be resized and the storageclass that provisions the pvc must support resize.

**What you expected to happen**:
Support for expanding iSCSI PV

**How to reproduce it (as minimally and precisely as possible)**:
Manually increased the iSCSI target and d

[2019-02-06 08:18] ErikLundJensen commented on #56539
Work-a-round is to set number of pods to at least 3 in the replicaset. Thereby you will get at least one pod in each zone -- also when using rolling deployments.

[2019-02-06 08:19] ErikLundJensen commented on #68981
Work-a-round is to set number of pods to at least 3 in the replicaset. Thereby you will get at least one pod in each zone -- also when using rolling deployments.

[2019-02-06 08:59] lucaliechti commented on #60987
+1
v1.13.2
Docker 18.06.1-ce, build e68fc7a
Ubuntu 18.04.1 LTS

[2019-02-06 09:07] Radik2 commented on #30606
👍

[2019-02-06 09:09] mm4tt commented on #73461
Run 1499 failed - https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-killer/1499
Now we do have api-server logs, investigating...

[2019-02-06 09:16] brahmovacha commented on #70493
I am also facing the same issue with following scenario:
1. When HPA gets scaled down
2. When we delete any deployment running on k8s cluster

Everytime, we have to restart the kube-proxy in order to align all nodes and master.

My cluster comprises of:
1 master and 2 nodes and we running kube-proxy with ipvs mode.

Any suggestion on how to monitor/watch this issue automatically till this issue ge

[2019-02-06 09:25] brahmovacha commented on #70997
I am also facing the same issue with following scenario:

1. When HPA gets scaled out/ down
2. When we delete any deployment running on k8s cluster

Everytime, we have to restart the kube-proxy in order to align all nodes and master.

My cluster comprises of:
1 master and 2 nodes and we running kube-proxy with ipvs mode.

Any suggestion on how to monitor/watch this ipvs issue automatically till th

[2019-02-06 09:46] mariantalla commented on #73696
Editing this to cover only sig-storage related failed tests, https://github.com/kubernetes/kubernetes/issues/73705 covers sig-cluster-lifecycle ones that started at the same time.

[2019-02-06 09:56] mariantalla commented on #73696
/remove-sig cluster-lifecycle

[2019-02-06 09:57] mariantalla commented on #73705
Might be related, as it started failing at the same time: https://github.com/kubernetes/kubernetes/issues/73696

[2019-02-06 09:57] mm4tt commented on #73461
Actually this failure is different. In the build-log one can find dozens of these errors:

[code]

The error happens in [this place in the code](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/simple/wait_for_pods.go#L99-L103):
![qgxxy0f2ygr](https://user-images.githubusercontent.com/2604887/52333577-e5c70180-29fd-11e9-8477-fb9b6c01b765.png)

The TODO the

[2019-02-06 10:07] Radik2 commented on #30606
Hi guys,

The easiest way is to create your own StorageClass like described here --> https://kubernetes.io/docs/concepts/storage/storage-classes/ and here --> https://www.terraform.io/docs/providers/kubernetes/r/storage_class.html
and set Reclaim Policy to whatever you want . Then PersistentVolumeClaim will use it when you call the class :)

[2019-02-06 10:22] zyriuse75 opened #73779 "failed to load Kubelet config file /var/lib/kubelet/config.yaml after restart"
hy folks

after updating my server, I m not able to restart kubernetes.( **Master** & **nodes** )
the server was setup with **kubeadm**

[code]

i've read on another issue on github someone said to run

the third post on [this link](https://github.com/kubernetes/kubernetes/issues/66108)
but in his cas it was after a new install .  I dont know if i've to do the same ?

do you know why the config.ya

[2019-02-06 10:23] zyriuse75 commented on #73779
sig/error_kubelet_config_file

[2019-02-06 11:29] munnerz commented on #59154
kubebuilder has separated out their own CRD generator into the `sigs.k8s.io/controller-tools` repo: https://github.com/kubernetes-sigs/controller-tools/tree/master/cmd/crd

If you `go get sigs.k8s.io/cmd/crd`, you should then be able to run `crd generate --domain example.com` from the root of your project to generate entire CRD resources 😄

You can see an example of it in action in the cert-manage

[2019-02-06 11:29] #59154 closed

[2019-02-06 11:33] rajeshdeshpande02 opened #73781 "Run command namespace issue with --dry-run and -o yaml"
**What happened**:
Below run command does consider namespace. It creates and save configuration without namespace in output file.
    `kubectl run test-nginx --image=nginx --namespace=dev --dry-run -o yaml >> test-nginx.yaml`

If without checking output file someone create resource using create or apply command, resource always get created in default namespace.

**What you expected to happen**:
Ru

[2019-02-06 11:34] rajeshdeshpande02 commented on #73781
1. @kubernetes/sig-cli-bugs

[2019-02-06 11:47] shanit-saha commented on #62382
**In version "v1.10.11" the**  `backoffLimit ` **though set to 4 for a Job's pod, the pod eviction happens for 5 times and at few times it was for 3 times. Also to note that we also have applied**  `completions: 1` and  `parallelism: 1`
Below is the version details of Kubernetes that we are using
[code]
----------------------------------------------------------------------------------
Though we ha

[2019-02-06 12:13] zetaab commented on #73444
@shyamjvs any news?

[2019-02-06 13:18] redbaron commented on #67206
/remove-lifecycle stale

[2019-02-06 13:22] jstric01 commented on #62382
1.10.11 is required to avoid a critical security bug.
https://www.zdnet.com/article/kubernetes-first-major-security-hole-discovered/
I imagine we will need to update to fix this, but we will need to find out which of the patched versions has the fix we need.  We can then roll this through the environments as a staged update.

[2019-02-06 13:31] kwiesmueller commented on #73759
Okay, thanks for looking into it @jennybuckley .
Anything I can do here?

[2019-02-06 14:02] mbrancato opened #73782 "DNS labels incorrectly require lower case characters"
**What happened**:
The DNS-1035 checks (RFC 1035) will result in an error if the name is not lower case.

**What you expected to happen**:
The RFC does not prohibit lower case labels, they just must be evaluated in a case-insensitive way.

**How to reproduce it (as minimally and precisely as possible)**:
The fields that are evaluated directly vary, some fields that are "fixed" via a workaround bef

[2019-02-06 14:04] timothysc commented on #70248
@kubernetes/sig-network-bugs - Are folks intending to address the testing issues in 1.14?

We have a KIND test, but I'm not certain we've enabled IPv6 as part of those tests.
/cc @neolit123 @BenTheElder

[2019-02-06 14:06] timothysc commented on #70248
In reading back, I really think a feature such as this needs a complete test-jig.

[2019-02-06 14:08] mbrancato commented on #73782
@kubernetes/sig-api-machinery-bugs

[2019-02-06 14:10] derek-gfs commented on #56539
@ErikLundJensen Can you describe how this would work as part of a complete solution?  Simply having 3 pods in the replicaset is not enough to fix the issue; pods do not get scheduled across each zone with this setting alone.

[2019-02-06 14:11] neolit123 commented on #70248
working on ipv6 test cases for kind/kubeadm might not be possible, due to the other priorities we have at e moment. i can see this happening in the 1.15 cycle.

[2019-02-06 14:12] timothysc commented on #70248
FWIW I really think @kubernetes/sig-network-misc should be owning the test-bed for this.

[2019-02-06 15:02] corey-aloia-sap opened #73785 "Kubectl does not update resource"
I am not sure if this is a bug with Istio, helm, or kubernetes. I originally noticed this with helm, but when trying to apply the file without using helm, I would expect my changes to be applied, but they aren't. Thanks!

**What happened**:
I installed istio using helm. I then went to update the Out of the box Metrics. I used `kubectl apply -f my-metrics.yaml`. It says it was configured, but nothi

[2019-02-06 15:10] corey-aloia-sap commented on #73785
@kubernetes/sig-cli-bugs

[2019-02-06 15:11] ErikLundJensen commented on #56539
By setting SelectorSpreadPriority to more than 1 (e.g. 5) in /etc/origin/master/scheduler.json
gives a fair distribution. I thought you already had increased that value.

Secondly by adding a region anti-affinity like this to the pod spec (or template if using DeploymentConfig object):
     spec:
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecutio

[2019-02-06 15:14] neolit123 commented on #72102
thank you for the investigation @alexbrand

[2019-02-06 15:19] mitchellmaler opened #73786 "External CA: kubeconfig file check still expects ca.key"
**What happened**:
I have manually placed all the pki certs, sa cert, and ca's without the ca keys. Then I placed the conf files in the /etc/kubernetes directory. When running `kubeadm init` it instantly returns an error stating the ca.key doesn't exist when processing the kubeconfig files.
[code]

**What you expected to happen**: I would expect it to verify the ca cert in the config files but wit

[2019-02-06 15:21] xrl commented on #58987
This would be fantastic. We would feel much better deleting PVCs based on labels!

[2019-02-06 15:24] mitchellmaler commented on #73786
Moved to kubeadm issue repo

[2019-02-06 15:24] #73786 closed

[2019-02-06 15:26] msau42 commented on #73696
/assign @david

In the serial job, it's mostly CSI volume tests that are failing, but in the parallel job there are some in tree failures too.

In the past, the NodeLease tests have left the cluster in a bad state so that is something to investigate

[2019-02-06 15:26] msau42 commented on #73696
/assign @davidz627

[2019-02-06 15:31] msau42 commented on #73696
@kubernetes/sig-storage-test-failures

[2019-02-06 15:36] liggitt commented on #73782
duplicate of https://github.com/kubernetes/kubernetes/issues/71140

/close

[2019-02-06 15:36] #73782 closed

[2019-02-06 15:37] liggitt commented on #73782
relevant discussion in https://github.com/kubernetes/kubernetes/issues/71140#issuecomment-441703265

[2019-02-06 15:48] liggitt commented on #73776
sounds good, go ahead

[2019-02-06 15:50] liggitt commented on #73785
can you provide the before/after results of `1. kubectl get metric tcpbytereceived -n istio-system -o yaml`?

[2019-02-06 16:01] shahaf600 opened #73788 "When curling for stats summary containerd node, data on exited init containers is returned with empty cpu,mem,time"
**What happened**:
When combining kubelet 1.11.3, with raw containerd v1.2.1 (running on CentOS with rpm[containerd-1.2.1-1.el7.x86_64]), there is a strange behavior, which is different from docker implementation.
when i curl 127.0.0.1:10255/stats/summary the data returned on an init container(exited container on node) i get back the following data:

[code]
and when that happens, metrics-server(K8

[2019-02-06 16:10] liggitt commented on #73785
all the changes in your file were applied. if you want apply to unset already-existing fields, you need to explicitly set them to null in your local file.

[2019-02-06 16:14] mgdevstack commented on #55807
[code]
**Actual Behavior:** Based on #73780 e2e run and above log, it is observed that, there are chances of preStop process getting killed without completion once containerProcess is finished and Pod goes into Succeeded phase.
**Expected Behavior:** preStop hook must run as blocking process and strive to complete (exitStatus 0) within gracefulTerminationPeriod.

It might make sense to re-run preS

[2019-02-06 16:21] liggitt commented on #73767
`get` no longer enumerates all resources, but suggests using `kubectl api-resources` to list all resources available on the local server

/close

[2019-02-06 16:21] #73767 closed

[2019-02-06 16:24] jmara commented on #49387
Should `CrashLoopBackOff` be included because its a status.phase according to the pod-lifecycle docs?

[code]

[2019-02-06 16:25] corey-aloia-sap commented on #73785
@liggitt thanks. I assumed removing a field would remove it from what's in k8.

[2019-02-06 16:25] #73785 closed

[2019-02-06 16:38] bclau commented on #73416
The test ``[sig-network] DNS should provide DNS for services  [Conformance]`` already tests this, This is the .yaml generated and used by the test: [1]. As you can see, the test creates a headless service (according to the documentation, it is ``dns-test-service``, which has the ClusterIP set to None), and checks the DNS resolution A record through TCP and UDP using dig.

[1] https://paste.ubuntu.

[2019-02-06 16:42] mkimuram commented on #73773
@msau42

Thank you for your review and filing this issue to improve CSI block implementation.

I agree the idea of reducing the complexity by directly mapping the device to the right place in CSI driver.

- For "publish target path == pod path", this could be achieved by:

1. Make [```makeBlockVolumes```](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L113) accept

[2019-02-06 16:44] BenTheElder commented on #62382
As noted above 1.11+ are supported by the community until 1.14 is out:
https://kubernetes.io/docs/setup/version-skew-policy/#supported-versions

[2019-02-06 17:07] dims commented on #73444
@zetaab, I believe @idvoretskyi @arun-gupta are on point, we will get an ETA hopefully in a day or so.

[2019-02-06 17:15] paulgmiller commented on #73235
I don't think external ip addesress a required field (if it's omitted then a new public ip is created). The annotation would be a way to use name rather than address. This would us not have to dynamically populate the external ip address just prior to deploy.

[2019-02-06 17:16] idvoretskyi commented on #73444
/assign

[2019-02-06 17:47] drakonstein commented on #66029
@wqcheng No, the options implemented for RBD creation still use a majority of defaults without an option to modify them.  Here is the current line in Master.

https://github.com/kubernetes/kubernetes/blob/master/cluster/juju/layers/kubernetes-master/actions/create-rbd-pv#L147-L148

[2019-02-06 17:52] metalmatze commented on #73019
If someone from sig storage could let us know how to move forward with this, I would be happy to work on fixing the current situation.

[2019-02-06 17:54] drakonstein commented on #73127
The answer is that you can't modify any settings like that.  As per the command [2] executed for RBD creation, other than the size of the RBD, nothing is customizable.  It also disables any features that KRBD cannot handle even though RBD-NBD is now a supported option that can use the newer features.  I submitted this [1] 7 months ago, but it never received any comments or interest.

[1] https://g

[2019-02-06 17:55] brobichaud commented on #66088
I'm running a k8s v1.13.2 cluster with Windows v1809 nodes, build with aks-engine v29.1. In trying to dig into an issues I saw where a deployment went offline for an extended period I noticed these are appearing in the kubelet.err logs. Seems like this bug has regressed. Here's a new snippet from my logs:
[code]

[2019-02-06 17:58] pulpbill opened #73790 "[INFO] DataStore has no available IP addresses"
I'm debugging why a pod can't start. And I'm seeing this at nodes:

`2019-02-05T18:41:41Z [INFO] Send AddNetworkReply: IPv4Addr , DeviceNumber: 0, err: datastore: no available IP addresses
2019-02-05T18:41:44Z [INFO] Received AddNetwork for NS /proc/31240/ns/net, Pod some-pod-1-8f7b94b59-kvlwr, NameSpace my-ns, Container 73141b0590192774dcb0c030ef91751d0ee8763410a1c40444c4280244f17c2e, ifname eth0

[2019-02-06 17:59] brobichaud commented on #66088
/reopen

[2019-02-06 18:13] mattysweeps opened #73791 "CancelRequest not implemented by *gcp.conditionalTransport"
**What happened**:

Attempting to connect to a GKE cluster which no longer exists:
[code]

**What you expected to happen**:
It should fail after 5 seconds and exit with a non-zero exit status. Additionally, the error message should clearly state that the command was exited due to the request timeout being reached.

Instead, after every 5 second interval the error message `CancelRequest not impleme

[2019-02-06 18:15] brobichaud opened #73792 "Windows - eviction manager: no observation found for eviction signal nodefs.inodesFree"
**What happened**:
/sig windows

I've deployed a k8s v1.13.2 cluster with Windows v1809 nodes using aks-engine v29.1. In trying to debug a problem I noticed the kubelet.err logs are still spewing "eviction manager: no observation found for eviction signal nodefs.inodesFree" entries very frequently. Bug [66088](https://github.com/kubernetes/kubernetes/issues/66088) calls this out and was closed, I

[2019-02-06 18:16] mattysweeps commented on #73791
@kubernetes/sig-cli

[2019-02-06 18:28] andrewsykim commented on #72649
/close added tests in https://github.com/kubernetes/kubernetes/pull/72902

cc @mtaufen

[2019-02-06 18:29] andrewsykim commented on #72649
/close

[2019-02-06 18:29] #72649 closed

[2019-02-06 18:34] andrewsykim opened #73794 "Cloud Provider E2E Tests"
**What would you like to be added**:
In https://github.com/kubernetes/kubernetes/pull/72902 we introduce the first set of "cloud provider" tests. There are still a lot of tests to be added here such as:
- [ ] load balancers
- [ ] routes
- [ ] node registration (validate labels, addresses, tagging?, etc)
- [ ] PV labelling

Each test should be marked with `[Feature:CloudProvider]` and `[Disruptive]

[2019-02-06 18:35] andrewsykim commented on #73794
/sig cloud-provider
/area cloudprovider

[2019-02-06 18:37] andrewsykim commented on #73794
cc @mcrute @d-nishi @dims @cheftako @jagosan @hogepodge @frapposelli

[2019-02-06 18:37] andrewsykim commented on #73794
/sig testing

cc @BenTheElder @spiffxp

[2019-02-06 18:48] drewboswell commented on #61551
I have the same problem on v. 2.1.6, this is a serious problem as any proxy kubectl access is now impossible.

[2019-02-06 19:00] M00nF1sh commented on #73479
@masterzen
Hi, the root cause of your problem should be already solved by https://github.com/kubernetes/kubernetes/pull/68422.
It's cherry-picked into old versions and available as v1.11.7, v1.12.5 and v1.13.3(hasn't released yet)

[2019-02-06 19:02] d-nishi commented on #73764
/assign @M00nF1sh
/kind/feature

[2019-02-06 19:04] shattenjager commented on #66826
There is no such thing as "yum repo clean", maybe you meant "yum clean all"?

[2019-02-06 19:07] gnufied commented on #73019
@metalmatze you should start looking into replacing `MetricsNil` interface over here - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter.go#L69 with a real one. Obviously, this will require making real CSI RPC call for actually fetching the metrics.

[2019-02-06 19:13] liggitt commented on #73752
a fixed scheme is given to admission plugins to use for conversion. instead, an object convertor specific to the resource being handled is required.

/cc @mbohlool

[2019-02-06 19:17] msau42 commented on #26567
Hi @taherv, looking at the predicate, it seems like it only checks for inline volumes, not PVs.  So there's a few issues here:
* There's an inconsistency in behavior between inline volumes and PV volumes
* RWO as currently defined and behaved, only indicates single-attach
* Many users have come to expect that RWO actually means single-mount, which is not the current case

I think to address this,

[2019-02-06 19:18] msau42 commented on #26567
@kubernetes/sig-storage-feature-requests

[2019-02-06 19:31] mattjmcnaughton commented on #72183
@kubernetes/sig-docs-maintainers is this something y'all have an interest in being done? If so, I'd be happy to do it, but just wanted to get a green light first.

[2019-02-06 19:31] gbrener opened #73796 "Documentation enh request (in-cluster-client-configuration example)"
**What would you like to be added**:

Clarify the example in https://github.com/kubernetes/client-go/tree/master/examples/in-cluster-client-configuration . Specifically, this paragraph:

We could delimit or reword this paragraph, so that it is clearer that the `kubectl create` command is necessary regardless of whether someone is using Minikube. A newline would probably be sufficient.

**Why is th

[2019-02-06 19:33] gbrener commented on #73796
/sig docs

[2019-02-06 19:53] M00nF1sh commented on #73764
Hi,
Default secure is indeed a best practice. However, it will make our behavior inconsistent with other cloud providers.
I think it's worth a discussing in sig-aws, and sig-network for what's the desired semantic for vanilla LoadBalancer Service without configuration.

[2019-02-06 20:05] shyamjvs commented on #73444
A request for $19K credit has been approved. This will be applied before this month automatically to the account. Seems like we can start using EC2 now.

/cc @arun-gupta - for confirmation

[2019-02-06 20:06] #72957 closed

[2019-02-06 20:15] ArgonV commented on #61551
I believe this bug is also causing my Rancher Server to eat a huge amount of memory. I only have 2 clusters with a total of 17 nodes. I've had to up my Rancher server to 4 cores and 16GB of memory, otherwise it will hang docker and eventually crash the VM...

[2019-02-06 20:18] etoews commented on #41078
@sugun999  Can you please include what you did to disable IPv6 here? That would be really helpful.

[2019-02-06 20:27] leuvataral commented on #73760
That sounds like a good option. I believe we should be able to select ExternalIP, even if InternalIP is assigned instead of preferring the internal IP. Makes things a lot easier.

[2019-02-06 20:30] liggitt commented on #73760
Note that not all nodes report internal IP or external IP

[2019-02-06 20:38] mossuchida commented on #72811
I am experimenting VPA (vertical pod autoscaler) with HPA.  The issue is that VPA changes resource requests up & down, which messes up HPA as HPA is based on resource request (sometimes VPA sets resource request very low like 25m when it is not used for a long time.  When suddenly the app is used, it starts using over 250m cpu, then HPA thinks it is 1000% of 25m, then scales up to the max allowed

[2019-02-06 21:05] lodejard commented on #62920
This issue is closed - but is there an open issue tracking progress until aad login works? I would also call this more of a bug than a feature request because "aad login" is a shipping feature which can't be used right now.

[2019-02-06 21:09] liggitt commented on #62920
Not really, since the distributed claim incompatibility is on the azure side. I'm not aware of anything actionable on the kubernetes side to track with an issue.

[2019-02-06 21:11] mattysweeps commented on #73791
/sig cli

[2019-02-06 21:14] leuvataral commented on #73760
Would it be ideal to set the preference? Meaning if we use `status.hostIPExternal` , External IP of the node is preferred over Internal IP?

[2019-02-06 21:14] mattysweeps commented on #57291
/remove-lifecycle rotten

I also would like to adjust the CrashLoopBackoff timings: to make them shorter.

[2019-02-06 21:31] mml commented on #70819
/remove-lifecycle stale

On Wed, Feb 6, 2019 at 1:27 PM fejta-bot <notifications@github.com> wrote:

[2019-02-06 21:40] alexbrand commented on #72102
No problem! I started looking into the etcd client to see if I could spot the issue, but couldn't quite figure it out.

[2019-02-06 21:42] davidxia commented on #70819
@mml is this resolved by https://github.com/kubernetes/kubernetes/issues/71016?

[2019-02-06 21:54] szuecs commented on #73587
Thanks @derekwaynecarr

[2019-02-06 21:55] cheftako commented on #70819
The issue is mitigated by #70971 which should detect the deadlock and cause the process to be killed.
We believe the issue will be resolved by #71016.

[2019-02-06 21:59] ixdy commented on #68577
Has there been any progress on this? Go modules are likely to become the default in Go 1.13 (August 2019), and given the lifetime of Kubernetes releases, we should probably get ahead of that.

[2019-02-06 21:59] ixdy commented on #68577
cc @bcmills

[2019-02-06 22:06] lodejard commented on #62920
Hmm... It looks like using the v2 Azure OIDC endpoint means changing to the `msal` library instead of `adal` - does that meant there are changes which could be started in kubectl to update `--auth-provider=azure` behavior?

Or is the theory that v2 Azure OIDC authentication would be configured with `--auth-provider=oidc` instead of `--auth-provider=azure`?

[2019-02-06 22:24] shyamjvs commented on #73444
I'm trying to debug issues with the presubmit under PR https://github.com/kubernetes/kubernetes/pull/73797. Currently I'm blocked on getting access to the account. I've requested @idvoretskyi for it and he said he'll respond within a day.

[2019-02-06 22:25] TurcoDick commented on #65221
Ubuntu 18.04.1 LTS worked well with:
kubectl version --short
Client Version: v1.11.3
Server Version: v1.13.3

[2019-02-06 22:31] neolit123 commented on #73779
hi, what do you mean by updating the server?
did you update the underlying OS or only the kubeadm / kubelet binaries - e.g. following our upgrade instructions in the user manual?

the file should not be deleted unless a third party tool deleted it.

/priority needs-move-evidence
/area kubeadm
/sig cluster-lifecycle

[2019-02-06 22:35] neolit123 commented on #73790
please open this issue in the kops issue tracker. thanks!
https://github.com/kubernetes/kops
/close

[2019-02-06 22:35] #73790 closed

[2019-02-06 22:39] neolit123 commented on #73778
/sig storage

[2019-02-06 22:42] neolit123 commented on #73765
thanks for the report but it seems like this is more of a network setup issue and not a k8s issue.
will tag with sig-network regardless.
/sig network

related ticket: https://github.com/projectcalico/cni-plugin/issues/373

[2019-02-06 22:44] davidz627 commented on #73696
prelim investigation: looks like most of the errors are of the form
`event for csi-gce-pd-node-tt9wp: {kubelet bootstrap-e2e-minion-group-tfxr} FailedMount: MountVolume.SetUp failed for volume "registration-dir" : hostPath type check failed: /var/lib/kubelet/plugins_registry/ is not a directory`
which suggests the Node DaemonSet of the driver is not coming up because the `plugins_registry` directo

[2019-02-06 22:44] neolit123 commented on #73750
/sig node

[2019-02-06 23:01] sigma commented on #68577
As far as I'm concerned, I'm still waiting on heketi/heketi#1272 to be merged.

I would add that the difficulty of getting those ducks in a row seems like a systemic problem in the go modules approach. I'm not quite sure the incentives are stacked the right way.

[2019-02-06 23:03] liggitt commented on #62920
I'm not sure. Will defer to @kubernetes/sig-azure for that question. I didn't realize use of a new endpoint in azure was required to get the oidc-compatible behavior.

[2019-02-06 23:14] davidz627 commented on #73696
/sig cluster-lifecycle

[2019-02-06 23:29] davidz627 commented on #73730
/cc @gnufied

I agree this seems weird. It brings up the very good question in general about removing undocumented functionality. It's hard to assess real impact or danger here, but it does seem safe to say that removing it will only make things simpler and is a strictly positive thing in terms of code health. The question is whether removing this will break people, and whether that is something w

[2019-02-06 23:30] bart0sh commented on #71677
FWIW here is the script that builds kubeadm from the current kubernetes tree and builds kubeadm deb package inside the container using Debian native tools. The build takes around 40 seconds on my old Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz desktop machine.
As you see most of the code is generating debian/ content. I didn't check, but it should work for Ubuntu too.

Building rpm would be even simp

[2019-02-07 00:00] mylesagray commented on #65933
@divyenpatel Experiencing the same problem with a vanilla install of 1.13.3 using kubeadm.

kubeadm config.yaml:

[code]

Output of `providerID` after kubeadm init and join:

[code]

Environment flags from kubeadm are set correctly on the master:

[code]

But not on the workers:

[code]

Is this a bug in kubeadm?

And is the only way to fix it after a cluster is created by removing and re-adding a

[2019-02-07 00:06] misterikkit commented on #68951
Phase 1 is officially complete!

[2019-02-07 00:21] Random-Liu commented on #69060
Mark this 1.14. We plan to address this bug in 1.14.

[2019-02-07 00:43] misterikkit commented on #69767
After seeing some of the PRs for this task, I am wondering whether https://github.com/kubernetes/website/tree/master/content/en/docs/concepts/scheduling is the right location for all of these. Does creating a new directory in that repo add a "group" to the table of contents on the left?

[2019-02-07 01:02] BenTheElder commented on #70248
+1, we're getting more KIND tests up but mostly using boring / default networking options, I don't believe anyone has tried to do IPV6 yet.

[2019-02-07 01:27] Izikiel opened #73803 "Password in secret being wrongly decoded"
Hi!
I was setting up a kubernetes cluster today and the pod wasn't able to pull the image from docker complaining about invalid credentials. I use a password manager with all the options on, so it uses everything possible to create a password.

I followed the instructions of creating a secret using kubectl and the secret is created successfully, but when  I decoded it to verify its contents after

[2019-02-07 01:28] Izikiel commented on #73803
1. @kubernetes/sig-contributor-experience-bugs

[2019-02-07 01:41] #72651 closed

[2019-02-07 02:33] andrewsykim commented on #54743
Setup the enhancement tracking issue for this https://github.com/kubernetes/enhancements/issues/724. Still discussing with sig-network on how we want to move forward with this.

[2019-02-07 02:35] gnufied commented on #73730
Won't removing this will break existing PVs?

[2019-02-07 02:36] mbohlool opened #73806 "Dedupe OpenAPI Aggregation for APIServices with the same service"
Currently if a service host more than one APIService (i.e. Group/Version) the openapi aggregator controller calls the openapi/v2 endpoint of the service per APIService. If one of the Group/Version changed, the call will be repeated for all API Services with the same ServiceReference. Although the models will be the same and OpenAPI Aggregation ignores them, this will result in repeated aggregation

[2019-02-07 02:36] mbohlool commented on #73806
/sig api-machinery
/assign

[2019-02-07 02:36] andrewsykim commented on #57130
@vishh seems like https://github.com/kubernetes/kubernetes/issues/57130 got closed out with the migration to enhancements repo. Will you be able to follow-up on this?

[2019-02-07 02:39] mans0954 commented on #68369
This also creates a problem using the Kubernetes API with something like Google Cloud Deployment Manager (GCDM). Minimum steps to demonstrate the problem:
# Create a minimal type provider for the GKE API

Create the file '/type-provider-minimal.jinja`:

[code]
and deploy it with GCDM:
[code]
(here XXX.XXX.XXX.XXX is the IP address of our Kubernetes master).
# Create a service

Create the file `tes

[2019-02-07 03:17] alanjcastonguay commented on #73541
The original symptom was with AKS version 1.11.5. I ran the reproduction against AKS with version 1.11.6 (linear) and 1.12.4 (flat).

[2019-02-07 03:20] alanjcastonguay commented on #73541
A reproduction attempt on AKS 1.12.4 yielded  a flat deploy time - it's about 3 seconds (with some outliers) regardless of the number of imagePullSecrets listed. [Data](https://gist.github.com/alanjcastonguay/ac890649c5b484062dedf98ae1f186ec#file-reproduction-1-12-4-csv) graphed:

![reproduction-1.12.4.png](https://gist.githubusercontent.com/alanjcastonguay/ac890649c5b484062dedf98ae1f186ec/raw/339

[2019-02-07 04:03] #67814 closed

[2019-02-07 05:53] jacksontj opened #73808 "Docs for StatefulSet DNS unclear"
I created a stateful set locally and was unable to resolve the DNS names for the pods in the statefulset (https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-network-id). Then through much googling I found that you *must* define a service otherwise the DNS names aren't resolvable.

This line I think was supposed to tell me this:
[code]

But how I read that is that I *can*

[2019-02-07 05:57] jacksontj commented on #73808
@kubernetes/sig-docs-bugs

[2019-02-07 07:02] mgdevstack commented on #70137
For a documented purpose maintaining list of existing e2e dealing with `Privileged: true`. (Please keep adding test in comment incase any e2e is missed to mention here)

1. [sig-auth] PodSecurityPolicy should allow pods under the privileged policy.PodSecurityPolicy
2. [k8s.io] [sig-node] AppArmor load AppArmor profiles should enforce an AppArmor profile
3. [k8s.io] [sig-node] AppArmor load AppArmo

[2019-02-07 07:18] itskarthikholla opened #73810 "Proxy protocol With AWS ELB is not working"
**What happened**:
Proxy Protocol is enabled on AWS ELB using **service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"**  on EKS Cluster but Client IP is not preserved by proxy protocol

**What you expected to happen**:
Client IP should be preserved by Proxy Protocol.

**How to reproduce it (as minimally and precisely as possible)**:

1. On EKS create a deployment. ( Basically my app use

[2019-02-07 07:20] itskarthikholla commented on #73810
@kubernetes/sig-aws-bugs

[2019-02-07 07:25] krmayankk commented on #68951
should we close this @misterikkit  now ?

[2019-02-07 07:28] itskarthikholla commented on #73810
I have one more doubt , as part of load balancer creation we got a policy '**k8s-proxyprotocol-enabled**'. It is applied only on  **BackendServerDescriptions** . In ***ListenerDescriptions** for LoadBalancer port is this policy should be applied? Correct me if I am wrong.  I tried to apply the same on ***ListenerDescriptions**  using aws-cli it was failing with the below error message.

aws elb **

[2019-02-07 07:28] Adirio commented on #68951
@krmayankk I can answer to that: No.

This issue is tracking also **Phase 2** and a future **Phase 3**.

[2019-02-07 08:06] kvaps commented on #8876
/remove-lifecycle stale

[2019-02-07 08:14] zyriuse75 commented on #73779
by update the server i mean the os server

i didn't update  for the moment kubernetes , kubeadm or other tools is wat the second step .
I didn't reset any nodes.
In all of my nodes and the master the file is missing after an update server and reboot .

i've a question if i run kubeadm init i will lost everything or it will just recreate the file ?

[2019-02-07 08:21] errordeveloper commented on #66300
Do we support all Debian-derivatives now?

On Thu, 7 Feb 2019, 2:31 am fejta-bot <notifications@github.com wrote:

[2019-02-07 08:39] kierenj opened #73811 "Instance of job from CronJob using secretKeyRef uses old (cached?) secret"
**What happened**: I updated my secret with new values and changed the time on my cron job so it would be triggered imminently.  It was, but the old secret was used (one part of it is displayed in the init container's logs).

**What you expected to happen**: The new secret values to be used.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a secret with some values in
2

[2019-02-07 08:49] kierenj commented on #73811
Nope - I edited the "lastKnownConfiguration" by mistake.

[2019-02-07 08:49] #73811 closed

[2019-02-07 08:58] shahaf600 commented on #71706
also as @nvnobelen said, it also cause the node to fail assigning ip addresses for new pods in the node, and it does not notify to kubelet that this worker is not ready, and than there will be scheduled new pods on it but with no access.

also what we did to avoid this issue for now, is to redeploy our large deployments slower (less pods down when redeploying), so the 800 pods deployment redeploy

[2019-02-07 09:25] wojtek-t commented on #73585
The KEP is already out for review: https://github.com/kubernetes/enhancements/pull/819

[2019-02-07 09:34] luksa commented on #65502
Note that the sidecar container proposal (https://github.com/kubernetes/enhancements/issues/753) won't solve https://github.com/istio/cni/issues/77.

IMHO, Envoy should be up and handling the pod's traffic before any of the app's init-containers run. It's reasonable to assume that an application developer might need the services provided by Istio in their init containers also, not just in the pod'

[2019-02-07 09:52] bart0sh commented on #71677
fpm produces more or less the same result:
[code]

[2019-02-07 09:53] pikvik commented on #37554
In my case the finaliser I removed yet its stuck with same termination status .

[2019-02-07 10:34] squeed commented on #69599
/remove-lifecycle rotten

I'm pretty sure this is a bug.

[2019-02-07 11:03] tuminoid commented on #73216
Interestingly, it also doesn't reproduce on 1.12.5, which doesn't have #72558. It does have #72619 instead.

1.13.3 has #72558, but it also has #72619. Same with 1.14.0-alpha.2, it has both.

So it might not actually be #72558 that fixes this, but #72619. Could someone verify why?

[2019-02-07 11:20] Unb9rn commented on #40846
Seems to be non-functional with the latest mysql:5 image (5.7.25):
Logs:
[Note] Access denied for user 'root'@'localhost' (using password: NO)

Probe:
readinessProbe:
  exec:
      command:
      - bash
      - "-c"
      - |
        mysql -u$MYSQL_USER -p$MYSQL_PASSWORD -h 127.0.0.1 -e 'SELECT 1'
  initialDelaySeconds: 5
  periodSeconds: 2
  timeoutSeconds: 5

Inside the contaier all the variable

[2019-02-07 11:23] idvoretskyi commented on #73444
@shyamjvs Shyam, the account is still in a suspended status; I'm not able to make any changes yet. Updated the mail thread with @arun-gupta about this issue.

[2019-02-07 11:32] isutton commented on #73752
Another option might be add a `scheme` field in `admission.Attributes`, which is propagated until `a.convertor.ConvertToGVK()` is called, which is created in `handlers.PatchResource`.

https://github.com/kubernetes/kubernetes/blob/241422879d81ac7f8d7874d55c53df73e35d91b0/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L110-L115

A method `ConvertToGVKWithScheme(runtime.Object, scheme.

[2019-02-07 11:40] #68445 closed

[2019-02-07 12:16] sebgoa commented on #28551
After reading #73787 , I actually always saw this 'NodePort' "issue" has a feature. That way you can take the exported manifest and re-create it on another cluster.

[2019-02-07 12:43] MichaelSp commented on #46381
My little bash script based on https://github.com/kubernetes/kubernetes/issues/46381#issuecomment-379860786
[code]

[2019-02-07 12:54] humblec commented on #26567
This is true, first of all we have to convey a message that it belongs to the NODE and not POD.

Second caveat is that, the RWO applies to only attach detach controller managed volumes!

[2019-02-07 13:40] masterzen commented on #73479
@M00nF1sh ,

Thanks, you're most certainly right about the root cause of the issue being #68422.
It indeed looks exactly like what we've experienced.

Still there's the problem of target groups not being tagged.

[2019-02-07 13:42] #68467 closed

[2019-02-07 13:44] pohly commented on #69608
/remove-lifecycle stale

Still a valid question...

[2019-02-07 13:47] brancz commented on #72333
Could you add https://github.com/kubernetes/kubernetes/pull/69099 to this tracking?

Other than that I believe this covers it.

[2019-02-07 13:50] danielqsj commented on #72333
@brancz sure, added.

[2019-02-07 14:06] liggitt commented on #28551
That's part of the problem with the current export feature. There are [multiple conflicting goals and use cases](https://github.com/kubernetes/kubernetes/issues/24855#issuecomment-365407438) that require opposite behavior. Some require dropping cluster-specific info, some require preserving it.

I don't think the current approach to export is consistent or general enough to promote.

[2019-02-07 14:08] liggitt commented on #71464
see https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md#admissionreview-v1 for the accepted proposal. Shaping the work in progress for the audit webhook like that would be a reasonable next step

[2019-02-07 14:11] icanhazbroccoli opened #73814 "Debug symbols are being obfuscated irrespective of extra GOGCFLAGS set"
**What happened**:
While building a kube-apiserver component from the sources using make, I noticed the output binary is still stripped, even though I put in the suggested GC flags.
The command I'm running is:
[code]

[code]

The motivation is to get a debug version of a component which is recognisable by delve/gdb.

**What you expected to happen**:
I expected to get a non-stripped binary.

**How

[2019-02-07 14:14] jsafrane commented on #42465
It's up to storage driver to decide. In case of a block volume, `write()` will probably fail. Kubernetes does not do any checking here.

[2019-02-07 14:21] mattmb commented on #67250
/reopen

[2019-02-07 14:21] mattmb commented on #67250
Heh, well it was worth a go I suppose...

[2019-02-07 14:43] #65969 closed

[2019-02-07 14:55] liggitt commented on #73752
I think we'd actually want the convertor itself to be provided to the admission plugin per request (it's already part of request scope)

[2019-02-07 14:59] neolit123 commented on #71677
@bart0sh could you please work with @Klaven (he is Marek Counts on slack) on figuring out if we really need the FPM tool?
on a quick look it seems like the tool reduces the amount of bash we need to write, which is always good.

[2019-02-07 15:14] liggitt commented on #73752
What the webhook needs is an instance of runtime.ObjectCreater and runtime.ObjectConvertor. Today it is pinning those to a global scheme. RequestScope has instances of both of those things appropriate for the object being handled. The webhook should use those instances to do the New() and Convert() calls inside ConvertToGVK.

`ConvertToGVK(obj runtime.Object, gvk schema.GroupVersionKind) (runtime.

[2019-02-07 15:27] ncdc commented on #71677
I've been building .rpms and .debs for Heptio Kubernetes Subscription for the past few months, and anything that can facilitate making package builds as easy as possible will get my vote. @Klaven & I are planning on syncing up on `fpm` today.

[2019-02-07 15:35] code-sleuth opened #73815 "kops configuration fails due to invalid credentials"
**Which jobs are failing**:
https://k8s-testgrid.appspot.com/sig-cli-master#aws

**Which test(s) are failing**:
Up

**Since when has it been failing**:
02/02/19 09:07

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-cli-master#aws

**Reason for failure**:
Invalid aws credentials

**Anything else we need to know**:
/kind failing-test

[2019-02-07 15:38] code-sleuth commented on #73815
/sig cli
/sig aws

[2019-02-07 15:44] #67839 closed

[2019-02-07 15:48] nmittler commented on #65502
@Joseph-Irving

Sounds good ... Just looked at the latest proposal and it seems that this is the piece that I was interested in:

- Pre-stop hooks sent to sidecars before non sidecar containers

This will allow us to lame-duck an Envoy running as a sidecar in the pre-stop hook. That way it will stop accepting new connections while we wait for the application to shutdown gracefully.

[2019-02-07 15:50] nmittler commented on #65502
@luksa

Would running Envoy as a CNI plugin resolve this issue?

[2019-02-07 15:54] hoegaarden commented on #71677
I think one reason why @timothysc  wanted to go with a shared config (e.g. the config for nfpm) was, that we e.g. only bump versions, dependencies, in one place and it makes it through to all the packages (debs & rpms for now). When we use the native tooling for the package we need to change things in at least 2 places, we run into the issue where the package metadata diverges.
Sharing the config

[2019-02-07 15:56] zetaab commented on #73815
this is duplicate https://github.com/kubernetes/kubernetes/issues/73444#issuecomment-461381067

[2019-02-07 15:57] ncdc commented on #71677
@hoegaarden 💯 for having a single location to manage package versions & dependencies

[2019-02-07 15:59] code-sleuth commented on #73815
/close

[2019-02-07 15:59] #73815 closed

[2019-02-07 16:06] alanjcastonguay commented on #73541
A reproduction attempt on AKS 1.11.6 yielded a linear deploy time, same as 1.11.5. [Data](https://gist.githubusercontent.com/alanjcastonguay/ac890649c5b484062dedf98ae1f186ec/raw/1396b55134fd74a982d89770c049ed983b30bb4d/reproduction-1.11.6.csv) graphed:

![reproduction-1.11.6.png](https://gist.githubusercontent.com/alanjcastonguay/ac890649c5b484062dedf98ae1f186ec/raw/1396b55134fd74a982d89770c049ed9

[2019-02-07 16:06] luksa commented on #65502
@nmittler Yes, it would, since the CNI plugin would ensure that Envoy is up before any of the pod's containers are allowed to start.

[2019-02-07 16:16] ixdy commented on #71677
awesome progress! two thoughts:
1. Building packages for other architecures gets a little trickier when you need to cross-compile cgo. We have crossbuild toolchains installed in the `kube-cross` image for this reason. (I think only `kubelet` is affected by this, though.)
2. Is there any way to automatically populate the version from git tags like `hack/lib/version.sh` does?

[2019-02-07 16:17] mkumatag commented on #73689
@sudeeshjohn @liggitt found the culprit, @ https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server_test.go#L470 test is deleting the `tempDir` which is actually a `/tmp` - `os.TempDir()` https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server_test.go#L418 which is removing some of the files which are created by go compile process and failing because of

[2019-02-07 16:19] ncdc commented on #71677
@ixdy re 2, we definitely should be able to (that's what we do for HKS builds)

[2019-02-07 16:21] liggitt commented on #73689
good catch. yeah, each test should make its own tmp dir with `ioutil.TempDir`. can you open a PR sweeping for that?

[2019-02-07 16:22] ehashman commented on #73689
Just wanted to confirm I'm also experiencing the same build failure on HEAD (713eaf450f636e95cfa0d5a96464741e85879dac).

[2019-02-07 16:25] alvaroaleman commented on #71752
Ping on that one. How is tolerating the missing permissions a fix for this?

[2019-02-07 16:29] liggitt commented on #71752
tolerating missing permissions preserves pre-1.13 behavior. adding the permissions by default is in progress in https://github.com/kubernetes/kubernetes/pull/72491

[2019-02-07 16:33] alanjcastonguay commented on #73541
Those AKS clusters were deployed with commands like:

[code]

[2019-02-07 16:33] mkumatag commented on #73689
yes, will be out soon for review.

[2019-02-07 16:36] bart0sh commented on #71677
It depends on implementation. Here is an example script that builds deb&rpm using the same VERSION variable: https://gist.github.com/bartosh/3d11e2e4c71626e470f8df2b7592a741

Please, don't consider this as an argument against fpm or other tool. As I said above fpm produces the same result with much less effort, so why not to use it if it suits our requirements.

[2019-02-07 16:41] nmittler commented on #65502
@luksa I see you're already on it ;) https://github.com/istio/istio/issues/11366

[2019-02-07 16:48] mkumatag commented on #73689
@liggitt here is the PR to fix this issue - https://github.com/kubernetes/kubernetes/pull/73816

[2019-02-07 17:01] ncdc commented on #71677
@bart0sh that does still require that you specify the dependencies in 2 places, though 😄

[2019-02-07 17:29] CMajeri commented on #71887
Hello,

I hit this head on.
It doesn't seem to be an issue with docker.
I'm using kubernetes 1.10.3

I've had a look inside the code and it looks like runc is trying to set "Delegate" on a slice.
In the "Create" call ( https://github.com/kubernetes/kubernetes/blob/v1.10.3/pkg/kubelet/cm/cgroup_manager_linux.go#L468 )

kubelet "adapt"s the name to fit systemd's nomenclature, resulting in this call

[2019-02-07 17:33] CMajeri commented on #61474
Hello,

I hit this head on.
It doesn't seem to be an issue with docker.
I'm using kubernetes 1.10.3

I've had a look inside the code and it looks like runc is trying to set "Delegate" on a slice.
In the "Create" call ( https://github.com/kubernetes/kubernetes/blob/v1.10.3/pkg/kubelet/cm/cgroup_manager_linux.go#L468 )

kubelet "adapt"s the name to fit systemd's nomenclature, resulting in this call

[2019-02-07 17:39] Izikiel commented on #73803
Here is an small poc:

PS > kubectl create secret docker-registry rbsecret --docker-server=docker.io/rickybobby/car --docker-username=rickybobby --docker-password="&" --docker-email=ricky@bobby.com
secret "rbsecret" created

PS > kubectl get secret rbsecret --output=yaml
apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6eyJkb2NrZXIuaW8vcmlja3lib2JieS9jYXIiOnsidXNlcm5hbWUiOiJyaWNreWJvYmJ5IiwicG

[2019-02-07 17:51] andrewsykim commented on #69293
This seems like it needs a KEP given there are a lot of things to consider here. @thockin @bowei would you be willing to review/approve a KEP for this?

[2019-02-07 18:07] justinsb commented on #73696
think set-node-image was renamed to set-linux-node-image in f0f78299348afcf770d4e8d89dcea82f80811b28 .  I'll try sending a PR to fix

[2019-02-07 18:13] goddenrich commented on #58512
/remove-lifecycle stale

[2019-02-07 18:19] MrHohn commented on #73777
Basically the RouteController failed to create a route for node, hence a `network-unavailable:NoSchedule` taint got added to the node.

You would want to investigate why the RouteController failed --- that investigation might be specific to what environment you are running on.

[2019-02-07 18:27] bowei commented on #69293
Yes

/lifecycle frozen

[2019-02-07 18:30] Happyman0815 commented on #58988
Worked for me in Windows 10:
Execute in command line:

`ipconfig /flushdns`

I have this script now in my autostart folder and it works fine.

[2019-02-07 18:31] justinsb commented on #73696
PR to rename those functions in #73822 - hopefully a fix!

[2019-02-07 18:31] justinsb commented on #73705
PR to rename those functions in #73822 - hopefully a fix!

[2019-02-07 18:41] davidz627 commented on #73730
I think it will. IIUC dynamic provisioning will provision PV's with ID's of this format.

[2019-02-07 18:47] #68458 closed

[2019-02-07 18:50] jayunit100 commented on #37232
I think we may be seeing a variant of this issue on kube 1.10, however, what we're seeing is that a pod keeps getting scheduled to the same node over and over again... and that node doesn't have enough memory to run said pod, so its bounced back.

Is it the `AssumePod` (or something like that) functionality's interaction w/ the cache  is possibly the culprit ?

[2019-02-07 19:07] vyta commented on #69904
Since `ro` is still unimplemented for mounting windows dir, should we implement a skip on the test or put this on hold? @PatrickLang

[2019-02-07 19:21] agolomoodysaada commented on #44273
Experiencing this on Azure AKS v1.11.3
`network is not ready: [runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: Kubenet does not have netConfig. This is most likely due to lack of PodCIDR`

[2019-02-07 19:23] PatrickLang commented on #69904
Windows can't do a read-only root, but it can do a read-only volume mount

[2019-02-07 19:31] mrbobbytables commented on #72956
I'll work towards fixing everything under `./test/cmd/*` next.

[2019-02-07 19:34] misterikkit commented on #37232
@arianitu what k8s version are you using? Probably it's best to file a separate issue so that the details don't get mixed up with this one.

@jayunit100 there have been some race conditions that leave stale data in the scheduler cache. Since you observed this in 1.10, it may have been fixed since then. I'd have to look through the history to see which fixes have gone in.

[2019-02-07 20:32] arianitu commented on #37232
My issue was actually due to an auto-scale event that caused labels to be removed from existing nodes.

I used nodeSelector with a label and after the label was removed I got this error. I re-added the labels and the pod was schedulable again. This is a GCE bug where labels are not added back during upgrades/scaling.

[2019-02-07 20:38] jtackaberry commented on #73356
Don't feel bad -- I fell down this same rabbit hole this week, and probably wasted even more time than you, and even read that bit in the documentation but so much material online (most of it Chinese :)) suggested the selfnodeserver was indeed a thing.  And so I had convinced myself that I was simply missing an RBAC incantation.

It wasn't until actually seeing 7665f15 that I realized I was chasin

[2019-02-07 21:16] caesarxuchao commented on #73752
/sub

[2019-02-07 21:33] #73689 closed

[2019-02-07 22:00] kyessenov commented on #71869
We're hitting something similar on GKE v1.11.5-gke.4. There seems to be some issue with GC not keeping up, as seen by the following events:
[code]

Scanning the kubelet logs, I see the following entries:
[code]

It seems like something is holding the GC to reclaim the storage fast enough. The node looks like it eventually recovers, but some pods get evicted in the process.

[2019-02-07 22:43] amente opened #73832 "kubectl wait outputs NotFound error when condition is delete"
**What happened**:
When running the command:

 `kubectl wait deployment/tiller-deploy --for=delete`

 It waits until the condition is met, and then outputs:

Error from server (NotFound): deployments.extensions "tiller-deploy" not found

**What you expected to happen**:

Since this is a successful case for 'delete' condition. It should output something like:

`deployment.extensions/tiller-deploy d

[2019-02-07 22:45] amente commented on #73832
/sig cli

[2019-02-07 23:04] cblecker commented on #73803
@kubernetes/sig-cli-bugs

[2019-02-07 23:05] cblecker commented on #73803
/remove-sig contributor-experience

[2019-02-07 23:17] leakingtapan commented on #73730
@gnufied it will break PVs that use that format (either dynamically created or static created) if we don't have an upgrade process once the format is disallowed. How about we add something like `Path EBS PVs which use the aws://{region}/{volumeId} format with {volumeId} format` along with the release note?

[2019-02-07 23:17] PatrickLang commented on #62038
We're tracking this in https://github.com/kubernetes/enhancements/issues/689 now
/close

[2019-02-07 23:21] PatrickLang commented on #73417
/assign @jsturtevant

[2019-02-07 23:30] PatrickLang commented on #73414
I just moved it into the in progress column. THanks!

[2019-02-07 23:31] PatrickLang commented on #73416
I just moved it into the in progress column. @pengfeihu is looking at this

[2019-02-07 23:32] PatrickLang commented on #69905
/good-first-issue remove

[2019-02-07 23:32] PatrickLang commented on #69905
/clear milestone

[2019-02-07 23:35] PatrickLang commented on #72722
I'm gathering investigation details here https://gist.github.com/PatrickLang/b49f85e91dcf990f92e90f30e245b330

[2019-02-08 00:04] khenidak commented on #48719
Adding more context:
Test approach:
1. A simple nginx deployment, with a readiness probe that always fail
[code]
2. Exposed as `type=LoadBalancer`
3. Service will never have an endpoint
[code]
3. Service will get an both `ClusterIP` and `External-IP`
[code]

Test Steps:
1. Curling from the cluster on service ip will result into `connection refused`
[code]

The reason behind are these rules:
[code]

[2019-02-08 00:12] neolit123 commented on #73814
/sig release

[2019-02-08 00:16] neolit123 commented on #73814
cc @dims @cblecker
as per: https://github.com/kubernetes/kubernetes/commit/d9cfd77149bc84fe755b68794528e7d7cb114d1a

[2019-02-08 00:19] jveski commented on #73541
AKS nodes have `node.alpha.kubernetes.io/ttl: 0`, so on 1.11.x clusters (prior to #64752) secrets referenced by pods aren't cached. You can verify this by bumping up the kubelet log level — for every pull secret you'll see a GET request for the associated secret when the pod is created.

Possibly this isn't showing up on other cloud providers because they set a non-0 TTL?

[2019-02-08 00:46] kfox1111 commented on #69608
+1. I'd like to know this too. Having statefulsets without a service makes sense to me if they don't care about a stable identity, just that there is no more then 1.

[2019-02-08 00:48] msau42 commented on #73773
I think it would be great if we can investigate replacing the loopback device mechanism with bind mounts for the normal in-tree Kubernetes block implementation.  I think it would simplify the code a lot and we wouldn't need this global map to do refcnting.  cc @wongma7

[2019-02-08 00:59] dims commented on #73814
@neolit123 @icanhazbroccoli please see https://github.com/kubernetes/kubernetes/pull/70276

[2019-02-08 01:00] M00nF1sh commented on #73794
@andrewsykim
Hi Andrew, I'm planning to write some e2e tests for AWS NLB(service LoadBalancer with specifc annotation).
Do you think whether it belongs to this new e2e/cloudprovider, or the old e2e/network/service.go?
There are bunch of loadbalancer related cases in the service.go, is the plan to migrate into e2e/cloudprovider?

Thanks 😄

[2019-02-08 01:12] #73479 closed

[2019-02-08 01:27] neolit123 commented on #73779
looks like your OS update nuked the file.
`kubeadm reset` will delete the cluster and `kubeadm init` will create a new one, but maybe you don't want that.

try writing this file to the `/var/lib/kubelet/config.yaml` location.
it's the default kubelet v1beta1 config for kubeadm.

[code]

[2019-02-08 02:11] openstacker commented on #73794
@andrewsykim Thanks for opening this issue, really happy to see the E2E test is going to cover more cloud provider scenarios. Will the ingress case be covered by loadbalancer or it should be tracked separately? Cheers.

[2019-02-08 02:13] openstacker commented on #73794
And another area is the IAM, in other words, authN and authZ integrating with cloud provider IaaS layer auth service.

[2019-02-08 03:29] nhooyr commented on #28538
/reopen

[2019-02-08 03:29] nhooyr commented on #28538
/remove-lifecycle rotten

[2019-02-08 03:34] nhooyr opened #73838 "Allow use of encrypted secrets"
See #28538

Helm supports this via https://github.com/futuresimple/helm-secrets

[2019-02-08 03:35] nhooyr commented on #73838
I have no idea what a sig label is.

[2019-02-08 04:41] k-toyoda-pi commented on #72501
It is seen with v1.10.9. But, not with v1.13.0 and later on my cluster.
Is it already fixed?

[2019-02-08 07:05] d-nishi commented on #73794
@M00nf1sh the LB tests should be done with the in-tree cloudprovider 1st.

@mcrute will need to rework the out-of-tree cloudprovider implementation.

What @andrewkim is doing is aimed to help structure the e2e tests for out-of-tree implementations for everyone. My suggestion would be to help structure these e2e tests for load balancers aka services so all providers can benefit from your test struc

[2019-02-08 07:44] pohly commented on #69608
/remove-lifecycle rotten

[2019-02-08 08:13] vikashiscoder opened #73841 "Moving from master slave architechture to peer-peer"
As the load of the controller increases it will not scale in a master slave setup of the clusters.
In case of peer to peer all nodes can respond as masters increasing the scaling capacity.

[2019-02-08 08:17] vikashiscoder opened #73842 "Node unavailability not handled"
Why is this needed
Node unavailability not handled

What would you like to be added
Currently no mechanism is there to check node availability. Hence the deployment is tried even when node is down. A gossip protocol based architecture can be set up that would help identifying whennodes are down. Also the parameters to check can be configurable.

[2019-02-08 08:25] danielmapar commented on #73049
@huangjiasingle  You are right, it is exposing 3000, but the Pod should not use that information in order to do the port forwarding. It should be using the information provided in the yml file as far as I am concerned.

[2019-02-08 08:57] ramnes commented on #33065
/reopen

[2019-02-08 08:58] ramnes commented on #33065
meh :slightly_frowning_face:

[2019-02-08 09:01] #68284 closed

[2019-02-08 09:10] shahaf600 commented on #71712
Well, we moved to containerd implementation (30,000 cores, 7 clusters), as was recommended by k8s community, and because it (cri-o) didn’t work.
But I’m interested to check if it works, so I’ll check it with one node next week and tell here my results.

[2019-02-08 09:15] lynx-coding opened #73843 "Check scheduler spread algorithm"
**What happened**:
We are running an application on twelve dedicated nodes with a k8s cluster. When deploying and/or rescaling the application we found pods beeing often deployed on the same node. This caused a really unbalanced cluster.

**What you expected to happen**:
When reading documentation and a lot of k8s source code we expected the scheduler to try to find a node with as little pods (of

[2019-02-08 09:16] lynx-coding commented on #73843
/sig scheduling

[2019-02-08 09:22] MrTrustor commented on #67250
/reopen

[2019-02-08 09:22] Zyqsempai commented on #73832
So let me get it right, you are trying to put wait condition on already deleted resource?

[2019-02-08 09:27] Zyqsempai commented on #73781
/sig cli

[2019-02-08 09:27] Zyqsempai commented on #73781
Sounds interesting, i can take a look.

[2019-02-08 09:36] sepich commented on #66103
Another way to avoid this hop, is to run nginx as
[code]
This way it does not conflict with `kubernetes.deafult.svc.cluster.local:443` and still listening directly on Node:443.

[2019-02-08 10:16] vsavinkov commented on #36222
Have the same issue, don't have any tabs in file. This issue totally should be reopened.

[2019-02-08 10:37] bart0sh commented on #71677
@ncdc yes, it depends on implementation :)

@neolit123

It comes with a price of less flexibility though.

As for amount of shell scripting - it can be minimised by moving spec and Debian files into templates(either in their simplest form or full-featured like jinja or go template )