[2018-12-12 08:15] r00t9 opened #71988 "Kubernete don't install metrics srever"
Hello, In the kubernete docs write this

I use kubernetes 1.13 and i dont find metrics server.
I install it with kubeadm

/triage support

[2018-12-12 08:16] Pingan2017 commented on #71975
the problem is that the pod can't be deleted when the job deleted. It is no  related to concurrency policy.
It can be solved. #71802
maybe u can test it with  new binaries

[2018-12-12 08:17] andyzhangx opened #71989 "too many logs in GetVolumeLimits on azure disk"
**What happened**:
There are too many logs in GetVolumeLimits on azure disk, which would flush kubelet logs, it happens every 10 seconds:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g

[2018-12-12 08:42] andyzhangx opened #71991 "race condition when attach/detach azure disk in vmss"
**What happened**:
When attach/detach azure disk in vmss, it updates whole VM info, including: networkProfile, storageProfile, while this would lead to race condition when there is also network related setting changing in k8s cloud provider.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

https://docs.micros

[2018-12-12 09:41] arianvp commented on #23880
Just so that it's documented clearly, (I haven't seen it yet in the ticket), I think the desired behaviour would be that the above example could be written like:

[code]

[2018-12-12 10:20] savitaashture opened #71993 "Job and pod does not terminate even after exceeding activeDeadlineSeconds."
As per the k8s.io document if we specify activeDeadlineSeconds then jobs and pods should terminate
https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#job-termination-and-cleanup

**Steps To Reproduce**:
Create a job using below template
[code]

So according to the doc after 700s both job and pods should terminate but its not working as per the doc.

**Current Behavio

[2018-12-12 10:36] sylr opened #71994 "Azure node providerID for VMSS instances has inconsistent case"
**What happened**:

[code]

**What you expected to happen**:

I expected the porviderID of my `virtualMachineScaleSets` instance to have the resourceGroups part in the same case as the `virtualMachines`, i.e.: `K8S1-EUW-SANDBOX-RG` -> `k8s1-EUW-sandbox-RG`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

This inconsistency breaks the cluster-

[2018-12-12 10:37] sylr commented on #71994
/sig azure

[2018-12-12 11:23] ictfox commented on #69324
In the Kubernetes CSI code, volume provisioner will pass the volume name to SP CSI controller.
And in Ceph CSI code, it will check the parameter volume name, if it's length not zero, it will use this name to create RBD image.
So in CSI framework, the Kubernetes pv name will keep same with RBD image name.
https://github.com/ceph/ceph-csi/blob/master/pkg/rbd/controllerserver.go#L94

[2018-12-12 12:36] nikhita commented on #60023
We should still add this.

/remove-lifecycle rotten
/reopen

[2018-12-12 12:47] anmolsachan commented on #69507
@NickrenREN Is there any timeline for this or any release version targeted ?

[2018-12-12 13:48] zyriuse75 opened #71995 "user without token have grant access"
To connect to kubernetes I have to enter my token once connected I can do everything.
I just realized that if I **click on skip**  instead of  enter my token on the kubernetes connection interface I am **connected** and I can do everything too :( .

I don't really know where to look to fix the problem. From what I've read, I have to look at kube-system and RBAC.
[screenshot ](https://ufile.io/mqid

[2018-12-12 14:00] qzmfranklin opened #71996 "Failed to compile kubelet when using lld"
**What happened**:

Failed to build `cmd/kubelet` using a clang-based toolchain with linker_flag `-fuse-ld=lld`.

The relevant error messages were like:
[code]

**What you expected to happen**:

Able to build it with

**How to reproduce it (as minimally and precisely as possible)**:

Create the following two files:
`tools/cpp/CROSSTOOL`
[code]

`tools/clang/BUILD`
[code]

Then, use the following a

[2018-12-12 14:02] qzmfranklin commented on #71996
/sig bugs

[2018-12-12 14:05] qzmfranklin commented on #71996
Forgot the mention:

The clang tool chain (referenced in CROSSTOOL) installed at `/opt/clang` is downloaded from [here](http://releases.llvm.org/download.html#7.0.0).

[2018-12-12 14:08] Joseph-Irving commented on #71993
I think this may be a case of the docs being a little bit unclear.

Your example Job completes immediately, ActiveDeadlineSeconds is only taken into effect while the Job is running, if the Job has completed it will not exceed ActiveDeadlineSeconds and therefore the pod will not be terminated.

If you want to clean up completed pods you can set `ttlSecondsAfterFinished` on you job. See https://kube

[2018-12-12 14:11] voor commented on #23880
Certainly, @arianvp except I believe you're missing the proposed solution, which is to add the following:

[code]

This would then disable the validation that @kiall indicated.

[2018-12-12 14:34] liupeng0518 commented on #65976
@liucimin
v1.11.5 also the problem.
Has Version 1.12 been fixed?
thanks.

[2018-12-12 14:51] ocofaigh commented on #40224
Any plans to backport this fix to v1.11?

[2018-12-12 15:04] sadovnikov commented on #65569
We experience the same problem. `kubectl delete --force --grace-period=0` does not work.
Deleting through REST API and `{"kind":"DeleteOptions","apiVersion":"v1","propagationPolicy":"Background"}` indeed helps.

[2018-12-12 15:05] dguendisch commented on #68737
As resizing PVCs is supported now, it makes absolutely sense to support resizing from templates (i.e. statefulset) as well to benefit from rolling etc.
(@mlmhl updating the PVC manually does not sound like a good idea, e.g. when you change the number of replicas in your statefulset, you'll end up with manually resized PVCs plus newly created ones with a different size...)

[2018-12-12 15:40] mordebites commented on #71829
We have the same problem.
We are changing our script to wait for the volumes to detach, but just now it took 50 minutes to process a single worker in a 3 worker cluster.
We have the logs and can share them with you if you need.

[2018-12-12 15:42] caseydavenport commented on #46508
/remove-lifecycle stale

[2018-12-12 15:48] ipointffogl opened #71997 "Provisioning a PVC using a storage class on vSphere fails with "runtime error: index out of range" if the default language on the VMware vCenter Server is not English"
**What happened**:
Provsioning a PVC using a storage class with vSphere as the cloud provider failed with error "runtime error: index out of range".

**What you expected to happen**:
The PVC should have been created.

**How to reproduce it (as minimally and precisely as possible)**:
Create a PVC using a storage class with vSphere as the cloud provider and a VMware vCenter Server where the default

[2018-12-12 16:34] redbaron commented on #58477
/remove-lifecycle stale

[2018-12-12 16:49] Gregy commented on #10421
Happened to me on k8s in GKE with ubuntu nodes. Version 1.10.9-gke.0

[2018-12-12 17:19] nikhita commented on #65136
/remove-lifecycle rotten

[2018-12-12 17:20] liggitt commented on #71995
thanks for the report. this is tracked in https://github.com/kubernetes/dashboard/issues/2672 and being fixed in https://github.com/kubernetes/dashboard/pull/3400

/close

[2018-12-12 17:20] nikhita commented on #63677
/lifecycle frozen

[2018-12-12 17:20] #71995 closed

[2018-12-12 17:35] daurnimator commented on #64547
/remove-lifecycle stale

[2018-12-12 18:50] k82cn commented on #71951
which k8s version do you use? If enabled `Schedule daemonset pods by scheduler`, we should get such kind of events :)

[2018-12-12 18:53] cheftako commented on #59483
/remove-lifecycle rotten

[2018-12-12 18:54] cheftako commented on #62299
/remove-lifecycle rotten

[2018-12-12 19:04] cheftako commented on #68418
/remove-lifecycle stale

[2018-12-12 19:19] Rub21 commented on #37705
Facing up same issue!!

[2018-12-12 19:23] skakim commented on #66170
I've hit this too. This is really annoying, and the proposed workaround looks weird (why can't we copy as we did before?). The fact that this breaking change isn't documented in the ChangeLogs is weird too.

[2018-12-12 19:29] Joseph-Irving commented on #71951
@k82cn ah I saw this on 1.11. I forgot the scheduler took over daemonset pod scheduling in 1.12 so I assumed that code I linked to was still being used.

So yes with 1.12+ you get an event on the pod itself as it gets stuck in pending, as opposed to the event being on the Daemonset.

[2018-12-12 19:34] #71862 closed

[2018-12-12 19:45] gnufied commented on #37705
@Rub21 have you guys tried upgrading to 1.11 (or greater) - https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/ ?

It has volume expansion feature enable by default and should fix this problem.

[2018-12-12 20:05] misterikkit commented on #71866
Sounds good. You've probably already seen https://github.com/kubernetes/community/blob/master/contributors/guide/README.md

[2018-12-12 20:36] #71951 closed

[2018-12-12 21:03] liztio commented on #71867
/lifecycle active

for @huynq0911

[2018-12-12 21:05] liztio commented on #59406
/lifecycle active

[2018-12-12 21:06] liztio commented on #59406
/assign

[2018-12-12 21:11] samuela commented on #71869
@hgokavarapuz No update as far as I've heard. Def seems like a serious issue for GKE.

[2018-12-12 21:16] hgokavarapuz commented on #71869
@samuela I saw this issue on AWS but was able to work around by using a different AMI. Have to check what is the difference in the AMI though that it causes it to happen.

[2018-12-12 21:18] samuela commented on #71870
@squarelover After upgrading to 1.11.3-gke.18 I'm no longer seeing the first error above. Just thousands of other errors including the second error listed.

[2018-12-12 21:21] samuela commented on #71869
@hgokavarapuz Interesting... maybe this has something to do with the node OS/setup then.

[2018-12-12 21:32] Rub21 commented on #37705
Thank you @gnufied !! upgrade the `--cluster-version "1.11" ` works fine!!

[2018-12-12 21:41] liztio commented on #59406
working on this with @melaniecebula

[2018-12-12 21:55] hgokavarapuz commented on #71869
Have to debug more what exactly causes this issue though.

On Wed, Dec 12, 2018 at 1:23 PM samuela <notifications@github.com> wrote:

--
Thank you
Hemanth

[2018-12-12 22:36] nikhita commented on #57042
/remove-lifecycle stale

[2018-12-12 22:51] liztio commented on #59406
We spent a lot of time looking at this issue, and unfortunately it's trickier than it looks

We're pretty sure this should work, based on the [this blog post](https://medium.com/@xynova/keeping-aws-registry-pull-credentials-fresh-in-kubernetes-2d123f581ca6), but we couldn't get the cloud provider logins to work.

I think this does currently work, but it's not as simple to fix as this issue applies

[2018-12-12 22:53] liztio commented on #59406
/remove-lifecycle active
/remove-good-first-issue
/kind documentation

[2018-12-12 23:55] caseydavenport commented on #68717
Yep, Calico does update the pod/status subresource in some cases, but only the pod annotations (and only when using the CRD backend rather than etcd).

It does also perform a "get" on pods,namespaces,serviceaccounts.

I'd be surprised if the updated pod was no longer passing validation after the CNI plugin tried to updated, since it should only be updating the annotations.

The Calico CNI plugin u

[2018-12-13 01:02] caseydavenport commented on #68717
@rezroo which version of Calico are you using? You can find out by looking at the manifest you used to install Calico, or by running `/opt/cni/bin/calico -v` to check the CNI plugin version. Also, do you know if you're using etcd as your Calico datastore, or the Kubernetes API via CRDs?

I thought this happened earlier, but it looks like prior to v3.3 Calico updated the `pods` resource. Starting i

[2018-12-13 02:05] feiskyer commented on #51322
let's close it since it's not active for a long time.

/close

[2018-12-13 02:05] #51322 closed

[2018-12-13 02:13] tylfin commented on #71975
Yeah I think this can be closed as it's a duplicate of https://github.com/kubernetes/kubernetes/issues/71772 -- I ended up reverting to 1.12.3 until 1.13 tree becomes stable

[2018-12-13 02:15] fatsheep9146 commented on #61945
/assign @fatsheep9146

[2018-12-13 02:35] NickrenREN commented on #69507
@anmolsachan sorry for the delay, i'll send a PR for this. But not sure if it can get in

[2018-12-13 03:10] marcstreeter commented on #60807
For the rook stuck terminating this helped https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md

[2018-12-13 03:12] wtan825 commented on #50309
So is it not possible to get that container ID? I want to collect stdout logs by using fluent-bit as a sidecar mode. So I need the app's container ID.

[2018-12-13 03:35] savitaashture commented on #71993
@Joseph-Irving

Now i have given lesser activeDeadlineSeconds value so the pods are terminated and jobs has not terminated but has a stutus
[code]
So once it meets activeDeadlineSeconds then it will just terminate the POD not JOB am i right?

[2018-12-13 04:03] KevinWang15 commented on #31424
+1

[2018-12-13 04:33] qzmfranklin commented on #71996
This issue is the same as:

https://github.com/golang/go/issues/27110

[2018-12-13 04:34] rezroo commented on #68717
Hi - the version is in the attached logfiles: "image: quay.io/calico/node:v3.1.3"
This version uses the API-server etcd - does not have it's own etcd container.
As I mention right in the beginning, I give calico-node ClusterRole same PSP as kubelet, and that allows me to launch pods as kubernetes-admin, but not as unprivileged user.

[2018-12-13 05:00] rezroo commented on #68717
I'll try this with the newer version of calico this weekend and will update the issue if the bug is still there. I'll also take a closer look at the yaml files to see why updating the clusterrole makes a difference for admin but not unprivileged user -- either admin should not need the clusterrole update (which it does), or it should've worked for all users - no?
It's been a while since I reported

[2018-12-13 06:05] liucimin commented on #65976
@liupeng0518
The pr is not merge yet.
So the problem is also in v1.12 and v1.13

[2018-12-13 06:07] hustcat commented on #5774
+1 for this feature

[2018-12-13 06:22] cofyc opened #72013 "Revisit scheduler volume binder races"
## Problems

#### Races on pod binding cache

Scheduler may schedule a pod while it is in the bind phase in the meantime. But volume binder assumes this situation wouldn't happen. It saves pod binding results internally in find/assume phases, and uses them in bind phase. When scheduler retries scheduling a pod while another instance of it is in the bind phase, there are races on pod binding cache.

[2018-12-13 06:38] 11xor6 commented on #44103
To anyone coming to this issue and looking for a solution this [article](https://itnext.io/exposing-statefulsets-in-kubernetes-698730fb92a1) provides a good solution since the addition of the `statefulset.kubernetes.io/pod-name` label.

[2018-12-13 06:39] #66217 closed

[2018-12-13 07:07] kritishpahi commented on #33664
@ChristopherLClark, setting --force doesn't work.
This actually works:
https://github.com/kubernetes/kubernetes/issues/27081#issuecomment-238078103

FYI: Add
imagePullPolicy: Always
to your containers spec in deploment.yaml.

[2018-12-13 07:13] frittentheke commented on #65569
@sadovnikov are you certain you are running a Kubernetes version that includes
https://github.com/kubernetes/kubernetes/pull/62673 already? That would mean the bug is either not fixed, or there is another issue.

[2018-12-13 07:40] #49734 closed

[2018-12-13 08:09] utkarshmani1997 commented on #62334
/remove-lifecycle stale

[2018-12-13 08:30] wojtek-t opened #72016 "gci-gce-scalability is flaky after migration to ClusterLoader"
https://testgrid.k8s.io/sig-scalability-gce#gci-gce-scalability

ResourceConstraints is the biggest contributor.

[2018-12-13 08:40] kahootali opened #72017 "Daemonset not getting desired pods equal to nodes"
**What happened**:
I have a 8 node cluster and I have deployed different daemonsets in my cluster like node-exporter, fluentd, elasticsearch, etc but the desired pods is different for daemonsets. Some have 3 desired pods and some have 8. Below is the output of `kubectl get daemonset --all-namespaces`

![image](https://user-images.githubusercontent.com/13013437/49926101-9de39c80-fedc-11e8-8361-8750

[2018-12-13 08:42] kahootali commented on #72017
/sig apps

[2018-12-13 08:49] #68654 closed

[2018-12-13 09:20] iyacontrol opened #72018 "Error determining if node ip-172-31-22-208.us-west-2.compute.internal shutdown in cloud: Invalid format for AWS instance ()"
**What happened**:
i meet `Error determining if node ip-172-xx-xx-208.us-west-2.compute.internal shutdown in cloud: Invalid format for AWS instance ()`  when i use cloud-provider=aws.

**What you expected to happen**:  run well

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
1: iam policy
`{
    "Version": "2012-10-17",
    "Statement": [

[2018-12-13 09:21] edude03 commented on #25908
We were having the same issue with Istio and it's side car, and what we've decided to do is delete the pod via curl + preStop hook like this

give your job a minimal RBAC rule like this

[code]
and `POD_NAME` and `POD_NAMESPACE` to your ENV like so

[code]

and finally, add a preStop hook like

[code]

Kind of messy but a little safer and less fincky than trying to kill the right docker container.

[2018-12-13 09:30] linxiulei opened #72019 "kubelet not respects dnsconfig returned by cni"
**What happened**:

kubelet didn't respect dns config returned by cni, it only uses what was specified by --cluster-dns or dns detected from host.

Was is by design?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware con

[2018-12-13 09:31] linxiulei commented on #72019
/sig network

[2018-12-13 09:48] zhangxiaoyu-zidif opened #72020 "pod status is “ExitCode：0” in kubectl get pod"
**What happened**:
![image](https://user-images.githubusercontent.com/5154334/49929540-b31cf300-fefd-11e8-89c6-8af0e3eab14f.png)

**What you expected to happen**:
express the status correctly.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.12
- Cloud provider or hardware confi

[2018-12-13 09:51] zhangxiaoyu-zidif commented on #72020
/sig cli

[2018-12-13 09:54] Joseph-Irving commented on #71993
Yeah the Pods should be terminated but the Job will not be deleted when the Deadline has exceeded. So yeah I think that doc could do with some rewording to make that clearer.

Maybe something like

I cannot reproduce the problem you're seeing with `ttlSecondsAfterFinished` on Kube 1.13, can you verify that the you've enabled the feature-gate on all components.
You should see
[code]
in the controll

[2018-12-13 10:22] dimitris-zervas commented on #51785
Describing the daemonset should give you the "Reason" with more details:

`kubectl describe daemonset daemonset.apps/prometheus-node-exporter`

[2018-12-13 10:30] tanshanshan commented on #72017
I think you could use
`get ds -o yaml `
get `NodeAffinity` or `Tolerations` info
refer https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#scheduled-by-default-scheduler-enabled-by-default-since-1-12

[2018-12-13 10:34] tanshanshan commented on #71988
this description said

so use kubeadm ,it has not installed by default.

you could deploy it by yourself
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/metrics-server

[2018-12-13 10:46] rajendrarawat17 commented on #13382
I was also facing same issue.
I disabled firewall and it worked for me.

commands:
systemctl stop firewalld
systemctl disable firewalld

[2018-12-13 11:04] savitaashture commented on #71993
Thanks a lot for making it clear.

For `ttlSecondsAfterFinished `
In the controller manager logs i can see:

![image](https://user-images.githubusercontent.com/9441662/49934511-94662e80-fef4-11e8-8b89-3174b9c35290.png)

When i enable verbosity to 4 i cannot see those logs which has been specified
[code]
Example:
[code]

[2018-12-13 11:07] krzysied commented on #72016
I looks like currently there were 4 causes of flakes:
- apiserver cpu constraint
 It increased slightly. I don't think it's a serious issue. I'm going to increase it's value (still lower then original test value).
- scheduler cpu constraint
I suspect is connected to resent scheduler changes. Parallelism inside scheduler was increased - more cpu should be used. Constraint should be adjusted.
- cont

[2018-12-13 11:25] yanghaichao12 opened #72024 "problem about defaultNotReadyTolerationSeconds and podEvictionTimeout"
**What would you like to be added**:
as we know, default podEvictionTimeout is 5 minitues and default  NotReadyTolerationSeconds is 300 seconds.  but there are different behaviors between the two features. pods will be evicted after 5m(300s)
when we used the first feature. if we uses Toleration, pods will be evicted after 300+40(duration of node being not ready) seconds. it would cause some inconv

[2018-12-13 11:27] bhack opened #72025 "Parallel kubectl cp"
**What would you like to be added**:
kubectl cp -j
**Why is this needed**:
To have a parallel copy from/to remote pods

/kind feature

[2018-12-13 11:32] yanghaichao12 commented on #72024
area/controller-manager

[2018-12-13 11:40] Pingan2017 commented on #72020
It seems to mean your containers exited with code 0
https://github.com/kubernetes/kubernetes/blob/83f115ec799ae5fad11dc5920c36354fb6653e96/pkg/printers/internalversion/printers.go#L640-L645

[2018-12-13 11:43] savitaashture commented on #71993
Thanks a lot.

Its working now.
Earlier i haven't  set --feature-gates=TTLAfterFinished=true in controller yaml thats the reason it was not working.

[2018-12-13 11:48] bhack commented on #72025
@kubernetes/sig-cli-feature-requests

[2018-12-13 11:54] konghui opened #72026 "bearer token seems not work - Unable to authenticate the request due to an error: [invalid bearer token, [invalid bearer token, square/go-jose: error in cryptographic primitive]]"
**What happened**:
I try to use the bearer token visit kubernet /healthz interface through script:
[code]
it return the response:
[code]
I think It has Sufficient permission, But it still response 401
and the apiserver's log display this:
[code]
I try to delete the token and use regenerate  one like  [22351](https://github.com/kubernetes/kubernetes/issues/22351) still not work.
**What you expected

[2018-12-13 12:06] shenlanse commented on #65500
Have same issue for static pod which has hostpath volume, restart kubelet can solve this problem, but don't know the reason for now.

[2018-12-13 12:21] sadovnikov commented on #65569
@frittentheke we are on `v1.9.81`, which does include #62673. What we found out this morning is that this bug can be seen only when pod includes a sidecar from Istio 1.0.2 or 1.0.3. Without it, the pods are being removed without any problems

[2018-12-13 13:03] stojan-jovic commented on #43222
Some strange behavior regarding exposing labels through the ENV variables (reproduced with CronJob) - if I do the following:
[code]

When I describe my Pod (with `kubectl`) I would expect to see:
[code]

But, what I really get is:
[code]

So, it seems like it's not working, but when I read `TEST_VAR` inside my container, everything is fne, i.e. I'm getting `test-cronjob-1544705040`?!

It's kind a

[2018-12-13 13:09] feiskyer commented on #71994
This is actually the issues of VMSS API. I have reported the issues to the team.

[2018-12-13 13:43] iyacontrol commented on #72018
it looks like the cloud-provider=aws of kubelet didn't work.

[2018-12-13 14:21] yue9944882 commented on #72026
/sig auth

@kubernetes/sig-auth-bugs

[2018-12-13 14:59] k82cn opened #72027 "Failed to upgrade kubernetes to 1.12 as vendor by godeps"
**What happened**:

When I try to upgrade vendor of kube-batch to kubernetes 1.12, I got following errors :(

[code]

BTW, we only import scheduler's predicates in kube-batch , but we got Azure :(

[code]

/kind bug

[2018-12-13 14:59] k82cn commented on #72027
/sig api-machinery

[2018-12-13 15:00] tpoindessous commented on #66450
/remove-lifecycle rotten

[2018-12-13 15:01] tpoindessous commented on #66450
/remove-lifecycle stale

[2018-12-13 15:02] tpoindessous commented on #52577
/remove-lifecycle stale
/remove-lifecycle rotten
/reopen

[2018-12-13 15:18] #71989 closed

[2018-12-13 15:30] flarno11 opened #72029 "Hyperkube sigterm not working for kube-proxy, kube-controller-manager, kube-scheduler"
**What happened**:
The signal SIGTERM has no effect for `hyperkube kube-proxy`, `hyperkube kube-controller-manager`, `hyperkube kube-scheduler`.

**What you expected to happen**:
Same behavior for all the components, sending SIGTERM once shuts down the components correctly.

**How to reproduce it (as minimally and precisely as possible)**:
Start `hyperkube kube-proxy`, press Ctrl-C, doesn't work,

[2018-12-13 15:31] codeborn commented on #45300
I also need something like this. I'm trying to increase availability of a service that only supports running a single active instance at a time. Also, to make things worse, it that takes quite a long time to start. In the long run the service will have to be modified to support multiple parallel instances. However, this is no trivial task. A hot standby instance would be a good solution in the sho

[2018-12-13 15:32] flarno11 commented on #72029
/sig cli

[2018-12-13 15:48] #65943 closed

[2018-12-13 15:52] SidakM commented on #71477
@kubernetes/sig-apps-pr-reviews https://github.com/kubernetes/kubernetes/pull/71384 can I get  some 👀 on this PR it's been a while...

[2018-12-13 15:58] chdxD1 commented on #71904
Can confirm. Setting up a cluster and can't use rbd/ceph is a bit bad.

[2018-12-13 16:12] nrmitchi commented on #25908
Just throwing this in here, but i threw together a controller a while back which was meant to monitor running pod changes, and send a SIGTERM to sidecar containers appropriately. It's definitely not the most robust, and honestly I haven't used it in a while, but may be of help.

https://github.com/nrmitchi/k8s-controller-sidecars

[2018-12-13 16:19] Shnatsel commented on #71853
@kubernetes/sig-azure-bugs

/area platform/azure

[2018-12-13 16:20] chestack commented on #51835
same issue.

`docker ps` found that the container is in "Dead" status

[2018-12-13 16:40] lavalamp commented on #44620
/reopen

[2018-12-13 16:42] nikhita commented on #44620
/remove-lifecycle rotten

[2018-12-13 16:49] #57690 closed

[2018-12-13 17:08] liggitt commented on #72026
It appears that you are not giving the apiserver a public key to use to verify service account tokens. If `--service-account-key-file` is not provided to the apiserver, it uses the `--tls-private-key-file` to verify tokens (`/home/larry/project/clusters/zone/cert/apiserver/apiserver-key.pem`, in your case)

That key does not match the key your controller-manager was given with `--service-account-p

[2018-12-13 17:09] #72026 closed

[2018-12-13 17:13] liggitt commented on #72027
you have vendored a 1.13 or master level of k8s.io/api. the release-1.12 level of k8s.io/api has the expected type:

https://github.com/kubernetes/api/blob/release-1.12/core/v1/types.go#L190-L194

ensure you are vendoring matching levels of k8s.io/{api,apimachinery}

/close

[2018-12-13 17:13] #72027 closed

[2018-12-13 17:15] liggitt commented on #72020
this is working as intended, to indicate more information about the termination reason than just Terminated

/close

[2018-12-13 17:15] #72020 closed

[2018-12-13 17:57] DreadPirateShawn commented on #55427
Still seeing this with Kubernetes v1.11.3, e.g.
[code]

[2018-12-13 17:58] cofyc opened #72031 "External provisioning problems"
I did more investigations in issue https://github.com/kubernetes/kubernetes/issues/71928, I think there are two problems:

- scheduler has no way to notify external provisioner to retry provisioning on reschedule (e.g. invalid storage class is fixed)
- external provisioner has no way to notify scheduler to reschedule PVC when it encounters unrecoverable situations (e.g. selected-node is wrong)

He

[2018-12-13 18:08] cofyc commented on #71928
hi, @verult

Do you has this issue with internal or external provisioner?

I reproduced this issue with external provisioner (`csi-hostpath`) and find external provisioning has issue you described.

Currently, there are two dynamic provisioning paths:

- internal

PV controller call in-tree plugin `Provision` method to provision, if failed, it remove `annSelectedNode` to signal back to the schedul

[2018-12-13 18:16] cofyc commented on #72031
cc @msau42  Does current or planning design cover these problems?

[2018-12-13 18:46] gnufied commented on #69507
@NickrenREN is this a good idea? Don't you think exposing storage metrics for ephemeral storage via prometheus will cause explosion of metrics that aren't necessarily persistent?

[2018-12-13 19:11] ncri commented on #53059
Just experienced the same on Digital Ocean. The pod is still in ContainerCreating after 13 mins...

postgres-deployment-77c874df64-k4hn9    0/1     ContainerCreating   0          13m

[2018-12-13 19:22] BenStull commented on #45509
Not being able to specify which pod will be killed when downscaling a stateful set means that it's impossible to target a specific pod's PV for upgrade.  This is important for being able to scale up variable-performance PaaS managed disks in cloud services.

[2018-12-13 19:56] nikhita commented on #62323
/remove-lifecycle stale

[2018-12-13 21:02] ahmadnurus commented on #71348
Is the error `2018/11/22 12:04:15 could not greet: rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial tcp [::1]:50051: connect: connection refused"` right? i think this error because the server is not available.

did you miss the previous error?

[2018-12-13 21:55] verult commented on #71928
I was actually using an internal provisioner (kubernetes.io/gce-pd). The PVC object doesn't have the annotation after provisioning fails, but the pod still reports the "unbound immediate volumes" error even after the StorageClass is fixed.

[2018-12-13 21:56] verult commented on #68638
/remove-lifecycle stale

[2018-12-13 22:03] #65569 closed

[2018-12-13 23:16] cblecker opened #72032 "Update to go1.11.4"
The go team has released 1.11.3 with three security fixes.

From their e-mail announcement:
[code]

We should kick off upgrades of both the kubernetes build system, and our CI, as soon as possible.

@jayconrod: Do you have an ETA for the rules_go bump that will contain 1.11.3 toolchain support?

---
cc: @ixdy @kubernetes/sig-testing @kubernetes/sig-release @kubernetes/product-security-team

[2018-12-13 23:22] mabushey commented on #43540
@mikedanese  > It would be better to allow this by authorizing "system:unathenticated" to access the /healthz endpoint through RBAC.

Sounds great, how would a person go about implementing this?

[2018-12-13 23:37] mabushey commented on #43784
Seems like if the kube-apiserver is running on each node, we should be able to query it in an ELB healthcheck.

[2018-12-13 23:43] jayconrod commented on #72032
I'm preparing releases that use Go 1.11.3 by default. Those will be on the rules_go 0.14, 0.15, and 0.16 branches. I expect to tag them tonight as soon as they get through CI.

[2018-12-13 23:47] cblecker commented on #72032
Fantastic! Thank you @jayconrod!

[2018-12-13 23:58] aimanparvaiz commented on #69971
I am facing a similar issue, I created EKS in an existing VPC and all worker nodes are in private subnets. All private subnets are tagged with     `kubernetes.io/role/internal-elb` and `kubernetes.io/cluster/<cluster-name>`
when I deploy a service and expose it behind an internal load balancer
[code]
 I noticed that internal LB always skip one AZ, when I add it manually using the AWS console it wo

[2018-12-14 00:04] msau42 commented on #72031
The current design is supposed to use the selectedNode annotation as a way for scheduler and PV controller (internal + external) to communicate.  Provisioner is supposed to remove the selectedNode annotation if provisioning fails for any reason.

[2018-12-14 00:31] jayconrod commented on #72032
rules_go 0.14.7, 0.15.9, and 0.16.4 are now tagged and ready to go.

[2018-12-14 00:42] foxish opened #72036 "gce-cos-1.11-serial and node-kubelet-1.11 blocking tests failure"
**Which jobs are failing**:

https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gce-cos-1.11-serial
https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#node-kubelet-1.11

**Which test(s) are failing**:
* [sig-storage] PersistentVolumes-local Stress with local volume provisioner [Serial] should use be able to process many pods and reuse local volumesChanges
* [k8s.io] Variable Expans

[2018-12-14 00:43] foxish commented on #72036
cc @msau42 @Random-Liu @krzyzacy

[2018-12-14 00:45] msau42 commented on #72036
VariableExpansion tests are an alpha feature and should not be run in this suite

[2018-12-14 00:48] liggitt commented on #72036
Feature:VolumeSubpathEnvExpansion is an alpha feature which is disabled by default. why is it being included in a non-alpha run?

[2018-12-14 00:52] foxish commented on #72036
I see, perhaps it's missing the regex in the suite definition - I'll take a look. @msau42 the serial test failure in https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gce-cos-1.11-serial still looks legitimate.

[2018-12-14 00:54] foxish commented on #72036
Appears to have triggered after https://github.com/kubernetes/kubernetes/pull/71933

[2018-12-14 01:43] hex108 opened #72039 "Scheduler preemption: take pod's StartTime into account when select potentialVictims"
**What would you like to be added**:
When selecting victims on node in `selectVictimsOnNode`(https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L982), take pod's `StartTime` into account. When two pod's Priority is equal, preempt pod whose `StartTime` is later first.

**Why is this needed**:
 If a pod's `StartTime` has been running for a longer time, it mi

[2018-12-14 01:45] hex108 commented on #72039
/sig scheduling
/assign @hex108
cc @bsalamat

[2018-12-14 01:45] cofyc commented on #72031
Then, I think we should do 2.1). We can support removing `selectedNode` annotation in  [external provisioner lib](https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner) first.

Current, it has too kinds of errors:

- [IgnoredError](https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/controller/volume.go#L65), skip current action
- Normal errors, fr

[2018-12-14 01:47] cofyc commented on #71928
Thanks! I'm going to test with internal provisioner (kubernetes.io/gce-pd).

[2018-12-14 02:07] zhangxiaoyu-zidif commented on #72020
so could we add the container name in this status to make it more clear.

[2018-12-14 02:12] #72018 closed

[2018-12-14 02:51] zouyee commented on #72032
related commits  and issue: https://github.com/golang/go/issues/29233

[2018-12-14 03:16] abdennour commented on #20753
Issue referenced by @luhkevin  saves my day.

[2018-12-14 03:31] abdennour commented on #69697
Answer of @chandraprakash1392  is still valid when `pvc` stucks also in `Terminating` status.
You just need to edit the pvc object and remove `finalizers` object.

[2018-12-14 04:00] #50977 closed

[2018-12-14 05:00] vsxen commented on #72026
I have other question.

[code]
this secure port don not provide metrics route?

[2018-12-14 05:01] #65581 closed

[2018-12-14 05:07] DreadPirateShawn commented on #54155
*Update:* We no longer see this, confirmed in Kubernetes 1.11.3.

[2018-12-14 05:07] #54155 closed

[2018-12-14 05:58] christopherhein commented on #71935
Oh I guess I forgot to reference this form my PR 3 days ago, that was the only reason I created this issue. doh. check out #71935 @mysunshine92

[2018-12-14 06:42] hellobinge opened #72043 "resource competition when multiple scheduler"
hi,

i have an interesting question about kubernetes muti-scheduler feature.
how does kubernetes handle resource competition when multiple scheduler simultaneously scheduling pods?

what if two schedulers schedule two different pods onto the same host, while the host can only hold one of them?

just think about this scenario, a cluster with only one host, and two schedulers.
if a user submits two

[2018-12-14 06:52] m1093782566 commented on #67292
/close

[2018-12-14 06:52] #67292 closed

[2018-12-14 07:03] #65936 closed

[2018-12-14 07:03] #66234 closed

[2018-12-14 07:15] cofyc commented on #71928
I reproduced this issue. This is because assumed PVC cached may not be cleared.

Current work flow of scheduler (v1.13.0):

- 1) schedule pod and volumes
- 2) assume volumes
- 3) assume pod
- 4) bind volumes
- 5) bind pod

If volumes are assumed,  but failed to assume pod, assumed volumes will not be cleared. Then, scheduler will fall into an infinite loop with "pod has unbound immediate Persisten

[2018-12-14 07:15] DreadPirateShawn opened #72044 ""Error adding network: failed to Statfs" during pod startup"
**What happened**:

During pod creation, we sometimes see the following error-level kubelet logs:
[code]

**What you expected to happen**:

Clean pod startup, no error-level logs.

**How to reproduce it (as minimally and precisely as possible)**:

We've got about 5 kube crons that run every 5 minutes, across 13 regions in production -- so 18720 related pods daily -- and we see over a thousand rela

[2018-12-14 07:19] cofyc commented on #71928
Created a PR to fix this: https://github.com/kubernetes/kubernetes/pull/72045

[2018-12-14 07:19] DreadPirateShawn commented on #72044
Note: This is structurally very similar to https://github.com/kubernetes/kubernetes/issues/57465. However, that issue has been fixed, and was during pod teardown. The similarity (from my perspective) is that both that issue, and this one, contain the same core "network: failed to Statfs" error, simply at the opposite ends of the pod lifecycle.

[2018-12-14 07:20] DreadPirateShawn commented on #72044
/sig network

[2018-12-14 07:44] rayswav commented on #45300
If you are using Apache Karaf as the Application Server, you can utilise its HA feature(http://karaf.apache.org/manual/latest/#_ha_failover_and_cluster) for getting Active/Standby behaviour and use Cellar for Active/Active behaviour.

[2018-12-14 08:04] #66268 closed

[2018-12-14 08:18] DreadPirateShawn commented on #55421
Confirmed in Kubernetes 1.11.3 that this no longer occurs.

[2018-12-14 08:25] linxiulei opened #72048 "Failed to unmount nfs when connection was lost"
**What happened**:

__NFS Background__: Most operations on nfs mountpoint will hang if the connection to nfs server is lost.

When tearing down pod kubelet tries to unmount all volumes pod have mounted. There are some operations kubelet would done like stat/unmount mntpoint etc. At that moment, the  stat/unmount codes would hang forever if connection to nfs server is lost, though it may recover wh

[2018-12-14 08:48] namreg opened #72050 "kubelet does not set kubepods/cpu.cfs_quota_us"
**What happened**:
I have ran kubelet with parameter:
[code]

cfs quota haven't changed:
[code]
**What you expected to happen**:
A value `kubepods/cpu.cfs_quota_us` is set to not -1
**How to reproduce it (as minimally and precisely as possible)**:
Run kubelet with parameter above
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
1.12.3
- Cloud prov

[2018-12-14 08:49] namreg commented on #72050
/sig node

[2018-12-14 08:52] namreg commented on #72050
@kubernetes/sig-node-bugs

[2018-12-14 09:09] namreg commented on #72050
@kubernetes/sig-node-bugs

[2018-12-14 09:20] yangzhenyu900 opened #72051 "kubectl api-resources error"
[webapp@k8s-master-01 ~]$ kubectl api-resources
error: unable to retrieve the complete list of server APIs: custom.metrics.k8s.io/v1beta1: the server is currently unable to handle the request

[2018-12-14 09:43] ccope commented on #66393
What would respecting the ACPI shutdown involve? Wouldn't the init system just tell all of the services (such as kubelet) to terminate? Does kubelet's handler for SIGTERM need to do something different?

[2018-12-14 09:59] kevincox commented on #66393
You would want a graceful shutdown. This allows services to finish processing active requests as well as allowing the pod state to propagate to things like load balancers before being killed and before the node goes offline.

[2018-12-14 10:02] kevincox commented on #66393
For example I am currently running services on Google Container Engine with some preemptable nodes. Currently when these nodes are killed I see a small spike of errors because the Kubelet doesn't respect the ACPI shutdown. It would be nice to have graceful shutdown when possible.

[2018-12-14 10:15] rhefner1 commented on #66393
@kevincox though solving this issue is the right answer, you can use the node-termination-handler [1] project as a daemonset to monitor the GCE metadata APIs for an impending shutdown. If you look into the code it just runs a delete on each pod on the node and hopefully that completes in the 30 second window that you have. The most important thing is that it will take those pods out of the load ba

[2018-12-14 10:20] KevinKingKong commented on #71784
@yliaog Do you have any progress?

[2018-12-14 11:43] konghui commented on #72026
I think k8s support get metrics from the secure port, you should create a role and use bearer token to get the metrics info. I was use this method to get the metrics form kubelet secure port.

[2018-12-14 11:50] slve commented on #60957
I spent my time behind a router where I couldn't change the MTU, also I was using OpenVPN.
On one of the environments everything was working fine, on another I got the same timeouts,
where the GET requests were all fine and the POST request timed out with the same error message.
Everything was the same except they were in different AWS regions.
My solution was to add `mssfix 1200` to my OpenVPN co

[2018-12-14 12:08] #66283 closed

[2018-12-14 12:08] #63048 closed

[2018-12-14 12:09] waqark3389 opened #72055 "Docs on installing kubeadm"
I followed these instructions via the docs page (https://kubernetes.io/docs/setup/independent/install-kubeadm/) - however when getting to step

`systemctl enable kubelet && systemctl start kubelet`

The kubelet service does not start with the following error:

I followed the doc exactly to this point and not sure what this means?
The OS is Centos 7.4.

Thanks!

[2018-12-14 12:10] waqark3389 commented on #72055
/sig docs

[2018-12-14 12:11] bjornryden commented on #71071
@lbernail I tried you `lbernail/hyperkube:v1.11.6-beta.1` (Thanks for that!)
We immediately thought things were fixed, as we stopped seeing the `can't find the real server` log messages. However, after a day and a half, we're seeing issues with stale ipvs entries on 3/6 cluster nodes.
This is the ipvs entries for a service on a broken cluster node (sorry, I should've grabbed them with `-n`, but to

[2018-12-14 12:20] miks commented on #69687
Same here. We have quite sporadic background jobs with custom video pipeline. There is no sense to have even 1 pod with high CPU reservation (otherwise cluster node autoscale will not kick in) when the jobs queue is empty.

[2018-12-14 12:29] steigr opened #72058 "Almost useless error message."
**What would you like to be added**:
Add the new path `/var/lib/kubelet/plugins_registry` and maybe the old to the error message.

**Why is this needed**:
The error-message is normally not in context e.g. container/pod log output, thus lacking documentation and references.

/kind feature

[2018-12-14 12:30] steigr commented on #72058
/sig storage

[2018-12-14 12:49] pulpbill commented on #59438
Same, I have kube-state-metrics on the cluster, can't I get top from it?

`I1214 09:38:35.675417   23770 round_trippers.go:442] Response Headers:
I1214 09:38:35.675449   23770 round_trippers.go:445]     Content-Type: application/json
I1214 09:38:35.675478   23770 round_trippers.go:445]     Content-Length: 192
I1214 09:38:35.675495   23770 round_trippers.go:445]     Date: Fri, 14 Dec 2018 12:38:35

[2018-12-14 13:19] bizzelicious commented on #64251
/reopen

[2018-12-14 14:22] ahmadnurus commented on #72051
please following [bug report](https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md) issue template. it will help contributors to reproduce your issue

[2018-12-14 15:11] greenoid commented on #30656
+1

[2018-12-14 15:41] emptywee commented on #71071
@lbernail @bjornryden That was the reason I got into this thread when I switched to IPVS on 1.11.5. Next day I found services in-accessible, so I thought that kube-proxy had hung and wouldn't update entries for services.
That's just to let you know that I had a similar problem (wrong IPs in ipvs table) with v1.11.5 of kube-proxy.

[2018-12-14 16:04] msau42 commented on #69697
Removing the finalizers is just a workaround. @bertinatto @leakingtapan could you help repro this issue and save detailed CSI driver and controller-manager logs?

[2018-12-14 16:07] #71697 closed

[2018-12-14 16:20] slve commented on #51764
I also had this issue and solved for my case https://github.com/kubernetes/kubernetes/issues/60957#issuecomment-447302520

[2018-12-14 17:50] foxish commented on #72036
Reverted #71933 and that fixed the cos-serial test issue.
Removing the alpha feature test needs a sig-node approver - https://github.com/kubernetes/test-infra/pull/10436

@yujuhong PTAL

[2018-12-14 18:36] Joseph-Irving commented on #72050
@namreg I think I've identified why this is happening, there's a mismatch between "system-reserved" and "SystemReserved" so the code that should do that is not being executed, I will raise a PR.

[2018-12-14 18:49] lbernail commented on #71071
@bjornryden Good news for the deletion errors (this was what the patch was addressing)

The fact that backends are not properly updated is weird because graceful termination should not impact new endpoints (if some stale endpoints were still there for instance I would be less surprised)

Could you share the logs of kube-proxy related to service `10.230.65.211:9494`?

Also, any special behavior wit

[2018-12-14 18:58] yliaog commented on #71784
yes, i think the code is here:
https://github.com/kubernetes/kube-aggregator/blob/06e74d190feb9a7499ff746fb77782603ff9bed6/pkg/apiserver/handler_proxy.go#L143
newReq.Header = utilnet.CloneHeader(req.Header)

so the header is simply a clone of req.Header, though newReq.URL = location, and location.Host = rloc.Host, which has the correct resolved host for your case (https://github.com/kubernetes/api

[2018-12-14 19:18] gnufied commented on #67342
Hey guys I think  @jsafrane fixed this issue via https://github.com/kubernetes/kubernetes/pull/71074 which makes sure that if `UnmountVolume` is called, we do not remove `devicePath` from the cache.  If any folks who are facing this issue can try on 1.13 which includes aforementioned patch then we will consider backporting that patch to 1.12 and 1.11.

[2018-12-14 19:36] s2maki commented on #45509
I am having the same issue, and have resorted to a mechanism of "if every pod on a node is declaring itself idle, cordon the node and terminate it".  Then, when the ready count of the deployment is less than the desired count, drop the desired count.

It's working, but it lends itself to race conditions and doesn't play well with other apps in the same cluster.

I keep thinking that maybe there's

[2018-12-14 19:56] jingxu97 commented on #59446
@Nefelim4ag Sorry that we missed your feature request. If you are still interested in this feature, could you please give us an detailed example on how it Retain_Unsafe could be used? Thanks!

[2018-12-14 20:16] #66303 closed

[2018-12-14 20:35] nbartos commented on #71233
I believe I hit the same issue (postgres works through docker run, but not k8s).  The issue I hit was that huge pages were enabled, but they were not working through k8s, and Postgres wouldn't fall back properly to not using huge pages.  I think there are several possible solutions to the problem:

1.  Modify the docker image to be able to set `huge_pages = off` in /usr/share/postgresql/postgresql

[2018-12-14 20:56] emptywee commented on #71071
So it's been running for 2 days in my lab cluster with the 1.11.6-beta.1 image by @lbernail in the ipvs mode.
So far so good, it hasn't hung and keeps updating ipvs entries.

One strange observation though:

[code]
First call to ipvsadm shows initial state before I deleted one of the pods for the service. Few next shows that one entry is gone, as the pod had been deleted. However, I don't know if

[2018-12-14 21:11] Nefelim4ag commented on #59446
@jingxu97, we already workaround that for our internal needs, by two ways:
1. Patch Released PV back, to be available
2. Write own provisioner to recreate PV after delete.

We use some strange things to make statefull  apps works in reliable way.
Deployment with pod template have label (pvc and pv also have same): serial=N
We use that to ensure what apps always be bound to same PVC and same PV. Mo

[2018-12-14 21:13] jayunit100 opened #72063 "Docker specific error messages in the event log on CRI clusters."
**What happened**:

CRIO clusters report that you should restart your docker daemon.

**What you expected to happen**:

CRIO clusters shouldnt worry about docker, need a generic error message.

**How to reproduce it (as minimally and precisely as possible)**:

Run `minikube start --container-runtime=cri-o` , and run `kubectl get events` after a while , you may see this.

/kind bug

[2018-12-14 21:15] jayunit100 commented on #72063
/sig node

[2018-12-14 21:38] DaveWHarvey commented on #55045
I just did the following:   added a stateful set with a volume claim template that did not include the storage class, and I had no storageClasses, including the default.   The pod is stuck pending.   I delete the stateful set, add the storage classes, and re-add the stateful set.     The pod is stuck pending because there is a pvc that in unbounc

[2018-12-14 21:52] jingxu97 commented on #59446
@Nefelim4ag Thanks for your reply. Just want to clarify a few things.
1. I assume you are using StatefulSet instead of Deployment since Deployment cannot scale and all pods will use the same volume. Is it right?
2. Are the following steps what you are trying to do?

- Run a statefulset with dynamically provisioned PVC/PV, application will write some data to the volumes. Set the PV to Retain policy

[2018-12-14 22:47] shyamjvs commented on #67488
/remove-lifecycle stale

Leaving open for any potential updates.

[2018-12-14 22:49] krmayankk commented on #58987
/remove-lifecycle rotten

[2018-12-14 22:50] krmayankk commented on #58987
/reopen

[2018-12-14 22:50] krmayankk commented on #58987
/sig apps

[2018-12-14 23:16] alexeldeib commented on #43633
Use case I haven't seen yet, we have some domains that look like `api[0-9].domain.io` -- existing wildcard domains don't cover this case. The set is small enough to manage manually using yaml IDs, but would be ideal to not need that fallback (e.g., regex domain names)

[2018-12-14 23:37] mattlandis commented on #69579
Sorry for taking a while to get the answers.  We have seen a second instance of this occur as well.  This time it was a corrupted ReplicaSet.

@jingyih
We do not have the wal log.  It was compacted.
There were two entries.  One with `agent` and another with `agelt`.

@jpbetz
* There are three etcd members in the cluster
* AWS VPC, 3 azs separate subnets.  Load balancer in front of the etcd instanc

[2018-12-14 23:55] liggitt commented on #71925
I do think we want tests to make sure behavior in this case is as expected, but I don't think using the no-op convertor is correct.

I'd expect deletion to fail when conversion is unavailable, and the CRD finalizer to retry until success

[2018-12-15 00:34] bsalamat commented on #67671
/remove-lifecycle stale

[2018-12-15 01:32] neolit123 commented on #72051
/sig cli

[2018-12-15 01:32] neolit123 commented on #71996
/sig release

[2018-12-15 01:35] jeremydonahue commented on #49343
I would also like to report that this is still broken. Can someone with permissions to do so reopen this issue?

[2018-12-15 01:42] vllry commented on #18538
Someone on my team was just hit by this - requesting memory in `m` (mili) instead of `M` (mega) gave an arcane error during ContainerCreating. There's plenty of bug complaints caused by that behavior, EG #49442

[2018-12-15 01:43] vllry commented on #18538
/reopen

[2018-12-15 02:09] cblecker commented on #72032
Reopening to track other branches, as well as the CI bump

[2018-12-15 02:09] lbernail commented on #71071
@emptywee I assume the deleted pod was `10.158.130.24`. I don't understand this:
[code]
Having the same real server twice doesn't make sense. Can you reproduce it?

The normal behavior on pod deletion should be:
- if there are no connections to this pod, remove the RS
- if there are connections, set weight to 0 (established connections continue, no new connections)
- every minute check all RS with

[2018-12-15 02:53] emptywee commented on #71071
@lbernail correct. The deleted pod had that IP address. And yes, it also looked strange to me. I'll try to reproduce when I get a chance. Would you like me to increase log verbosity if I'm able to reproduce the same behavior? If yes, to what level?

[2018-12-15 03:10] lbernail commented on #71071
@emptywee : it would be great thanks, `--v=5` should give us plenty of information
The main thing is I don't even think a RS can appear twice in a VS in IPVS (I never saw that). Which kernel are you running?

[2018-12-15 05:48] AndresPineros commented on #45418
Experiencing this in cluster 1.10.11 with client version 1.10.5

[2018-12-15 06:06] AndresPineros commented on #45418
Fixed by upgrading client to 1.13.1

[2018-12-15 07:20] yanghaichao12 opened #72075 "suggestion for pod qos"
**What would you like to be added**:
    now pod qos is defined according to 'resources requests  and 'limits'  in container specification. if a pod has more than one container, we must write it many times. like that:
`    "spec": {
        "replicas": 2,
        "selector": {
            "name": "ubuntu-test-pod"
        },
        "template": {
            "metadata": {
                "creation

[2018-12-15 08:06] ixdy commented on #72032
go1.11.3 and go1.10.6 introduced a regression, and so go1.11.4 and go1.10.7 were released Friday afternoon with a fix. We'll need to bump everything again on master, and should hold off on cherry-picks for now.

[2018-12-15 09:44] Nefelim4ag commented on #59446
@jingxu97,
Nope, we use deployment.
Some apps need static ip, to works correctly. Static ip can be only set by calico annotations.
Annotations can be only set in pod template and there no way to template replica number to pod.

So statefulset not very applicable (and not scale in our case, yep that fanny). Moreover, if we lose host, K8s will not try to restart pod on another host. Because stateful

[2018-12-15 10:30] #63637 closed

[2018-12-15 11:02] zxpower commented on #67202
/remove-lifecycle rotten

[2018-12-15 12:07] k82cn opened #72078 "Make PodFilter as part of public API"
**What would you like to be added**:

Make `scheduleinternalcache.PodFilter` as public.

**Why is this needed**:

`algorithm.PodLister` is public, so we should not dependent on an internal interface. The case is that https://github.com/kubernetes-sigs/kube-batch can not use `predicates.NewPodAffinityPredicate` with a customized `PodLister` :(

/sig scheduling

xref https://github.com/kubernetes/ku

[2018-12-15 12:38] MortenRickiRasmussen commented on #65835
Is there any timeline for fixing this?

[2018-12-15 13:44] andyzhangx commented on #71853
@a72hongjie could you provide more details? what storage are you using? and how do you set up k8s cluster on azure china?

[2018-12-15 13:59] a72hongjie commented on #71853
@andyzhangx I am using a cluster of 4 machines on the azure virtual machine in China, the way is kubeadm. The storage used is not currently a dynamic volume, but the stored file of azure is stored in nfs mode. When creating pvc, the creation fails. The reason is that the API uses the global "core.windows.net" instead of "core." Chinacloudapi.cn";

[2018-12-15 14:07] andyzhangx commented on #71853
@a72hongjie how do you specify `--cloud-config`: https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-provider-config.md
you should use `"cloud":"AzureChinaCloud"`, otherwise it won't work in azure china, here is an example:
https://github.com/andyzhangx/demo/blob/master/acs-engine/mooncake/deployment/etc/kubernetes/azure.json

[2018-12-15 14:11] pohly opened #72080 "E2E storage: dynamically determine test volume size"
**What would you like to be added**:

`test/e2e/storage/testsuites` creates volumes dynamically. Initially, the size of those volumes was hard-coded in the test, which prevented using the tests with storage backends that couldn't support that hard-coded size.

https://github.com/kubernetes/kubernetes/pull/70862 introduces a mechanism where the driver for the storage backend can set the size.

But

[2018-12-15 14:12] pohly commented on #72080
/sig storage

[2018-12-15 14:18] denkensk commented on #72078
I want to take it.

[2018-12-15 14:33] andyzhangx commented on #71853
@a72hongjie k8s cloud provider is using same `--cloud-config` as acs-engine,  and `--cloud-config` should be configured in api-server, controller-manager and all kubelet, after configured, run following command to restart those components on all nodes:
[code]

[2018-12-15 14:52] a72hongjie commented on #71853
[hhjie@kubernetes-master ~]$ sudo vim /etc/kubernetes/manifests/
etcd.yaml                     kube-apiserver.yaml           kube-controller-manager.yaml  kube-scheduler.yaml
I will put --cloud-config azure.json in below files in master right ？

[2018-12-15 15:00] andyzhangx commented on #71853
"--cloud-config azure.json" is only needed for below three components on master:
[code]

And every agent node also requires "--cloud-config azure.json".

You could find example here: https://github.com/andyzhangx/demo/tree/master/acs-engine/deployment/etc/kubernetes/manifests

[2018-12-15 15:06] a72hongjie commented on #71853
@andyzhangx I understand, I will have a try. Tks for your guidance.

[2018-12-15 15:08] limuyuan52511 commented on #19235
this could be a bug
my flannel version 0.7.1
I set -etcd-endpoints to http://etcdip:port,
but must also be set "export FLANNELD_ETCD_ENDPOINTS=http://etcdip:port"

[2018-12-15 15:17] ArseniiPetrovich commented on #58792
@mappedinn @fejta

[code]

[code]

`Output: mount.nfs: Failed to resolve server nfs-service.default.svc.cluster.local: Name or service not known`

Am I doing something wrong? Cuz this doesn't work for 1.10 still :(
P.S. $namespace is $volume is replaced with actual values, I'm scripting in BASH.

[2018-12-15 15:18] ArseniiPetrovich commented on #58792
@paolasoto88
Were you able to solve the problem?

[2018-12-15 20:40] #64579 closed

[2018-12-15 21:41] #66343 closed

[2018-12-16 00:44] #60724 closed

[2018-12-16 01:45] #60534 closed

[2018-12-16 03:37] neolit123 commented on #71910
with the recent release of 1.13, version 1.10 has went outside of the supported version skew (it's no longer supported), so the best solution would be to upgrade to a newer version.

[2018-12-16 03:47] k82cn commented on #68357
/remove-lifecycle stale

[2018-12-16 03:49] viveksaiaws opened #72085 "volumeclaim in statefulset not mounting with non-root permission"
I have solr statefulset that runs, non-root user and have two volumeClaim for sts one is for data(`s3`) and one is for data backup (`s3fs`) mounted to solr-pod

I have problem with volumeClaim with `s3fs`, basically it is for backup data collection and filesystem created on pods looks like below
[code]

i want to `volumeClaim` that mount with non-root (`solr`) or `777 permissions`
**expected**
[co

[2018-12-16 04:32] k82cn commented on #63766
/remove-lifecycle stale

[2018-12-16 07:31] devops083 opened #72086 "How to expose Kube-dns as type: LoadBancer"
Hello,

I am implemeting ISTIO-mesh expansion in kubernetes (AWS)
as part of this I need to expose Kube-dns service.

so I tried to created a kube-dns service with type: LoadBalancer but an unable to get external IP its in pending state.

apiVersion: v1
kind: Service
metadata:
  name: dns-ilb
  namespace: kube-system
  labels:
    k8s-app: kube-dns
spec:
  type: LoadBalancer
  ports:
  - port: 53

[2018-12-16 08:36] vsxen commented on #72026
kube-controller-manager don not support
[code]

[2018-12-16 08:48] nerzhul commented on #71749
Solved using 1.13.0 api server. But i really think we need to handle this more properly than a stack

[2018-12-16 08:57] zimmertr commented on #23864
+1 for Deluge traffic range

[2018-12-16 12:56] #56850 closed

[2018-12-16 13:38] mszostok opened #72088 "The kubectl cluster-info dump does not work with --namespace flag"
**What happened**:
The `kubectl cluster-info dump` does not work properly when **--namespace** flag is specified.

If you specify the **--namespaces** flag to dump given namespace then only the list of Nodes are dump. Other information about Services, Pods etc. are not available.

The problem was introduced by [this](https://github.com/kubernetes/kubernetes/commit/b7d4f159652ad4cc55f6cc666e3f2bf67

[2018-12-16 13:39] mszostok commented on #72088
/sig cli

[2018-12-16 13:53] kaneg opened #72089 "Add support to put postStart exe hook running in background/async."
**What would you like to be added**:
Add support to put postStart exe hook running in background/async.

**Why is this needed**:
After a container running, I want to run a daemon process in the container after the container started.  Per my intuitive understanding, the postStart hook is the right choice. However, I found the postStart hook will hang  even I use '&' to put the process in background

[2018-12-16 14:58] #62355 closed

[2018-12-16 14:59] qzmfranklin commented on #71996
I was able to get around this issue by rebuilding the Go SDK from source with the injected `--compress-debug-sections` flag removed. The only file modified was [this file](https://github.com/golang/go/blob/master/src/cmd/link/internal/ld/lib.go). I commented out the following chunk:
[code]

Then I rebuilt the go sdk using the steps described [here](https://golang.org/doc/install/source#install). T

[2018-12-16 15:59] #60787 closed

[2018-12-16 16:20] marekbiskup commented on #69687
PTAL at Knative serving:
https://github.com/knative/docs/tree/master/serving
It should solve your problems if you don't mind it's version 0.2.0
https://github.com/knative/build/releases

[2018-12-16 17:31] nikhita commented on #62044
I guess this is still relevant.

/reopen
/remove-lifecycle rotten

[2018-12-16 20:03] #66392 closed

[2018-12-16 20:18] vllry commented on #58640
/assign @vllry

[2018-12-16 22:05] #66377 closed

[2018-12-16 22:42] viveksaiaws commented on #2630
I have same problem #72085
can any one help me

[2018-12-16 23:43] cheyang commented on #54164
@bsalamat , @shyamjvs, I'm wondering after some affinity/anti-affinity optimization in scheduler, do you think  if it's fine to test coreDNS with anti-affinity policy in large cluster with 5000 nodes?

[2018-12-16 23:50] mbohlool commented on #71925
So to be clear, you are talking about the finalizers on the CRs not CRD. right?

I see your point and I agree that we should not do this in our code. The workaround is always there for the users that really need to delete the CRD with a failing webhook. @yue9944882, @sttts do you agree with just documenting workaround somewhere and close this?

[2018-12-17 01:40] jicki opened #72091 "kube-controller-manager Error unable to monitor quota for resource "networkpolicies""
version : 1.13.1

[code]

[2018-12-17 01:49] armstrongli commented on #66844
@liqlin2015
I encountered this issue and after digging into source code and the data, I found that the root cause is the encryption key.

The encryption key could be rotated and it is using one incorrect key to decrypt data. Then it returns `invalid padding on input`.

To check which encryption it is using ,it is needed to checkout the secrets data from etcd directly and get decode the data to get

[2018-12-17 02:04] neolit123 commented on #72024
/remove-sig cluster-lifecycle
/sig api-machinery

[2018-12-17 02:11] zjb0807 commented on #71348
I used sample example to reproduce this error, you can try it.

[2018-12-17 02:15] erolosty commented on #5774
+1 here too

[2018-12-17 03:00] vinaykul commented on #5774
@kisshore @hustcat @erolosty sig-autoscaling has taken the initiative and started a [new merged KEP](https://github.com/kubernetes/community/pull/2908/commits/4ad6fa7c27f4a21c27a6be83c2dc81c43549fa55) based on our design and the IBM proposal.

Based on my conversations with Beata / Solly during KubeCon this past week, we need the blessings of sig-node.

We are hoping to get the design finalized an

[2018-12-17 03:56] Pingan2017 commented on #72091
Duplicate of #69562

[2018-12-17 04:06] yue9944882 commented on #71925
@liggitt 's point is definitely making sense. i'm just wondering if such a strict CRD deletion will lead users to complain about that. sounds much better if we could clearly document that behavior.

[2018-12-17 04:32] mbohlool commented on #71925
I think we should add a section to documentation on "Failure modes".

[2018-12-17 04:39] kaneg commented on #72089
/sig node

[2018-12-17 05:08] chakri-nelluri commented on #71400
@jingxu97 this seems a bug and we should ideally fix it. Initial flexvolumes did not use this logic and it was later added as part https://github.com/kubernetes/kubernetes/pull/46382.

[2018-12-17 05:09] chakri-nelluri commented on #71400
Also @gaorong inline flexvolumes are not recommended and should be avoided. The volume name in inline flexvolumes is not unique and it could potentially conflict with other volumes in other pod specs.

[2018-12-17 05:33] zjb0807 commented on #71348
I have tried it again, but getting different error:
[code]

[code]

It seems `kubectl port` not support `grpc protocol`, not  is timeout.

[2018-12-17 05:34] czhifa opened #72094 "Can someone tell us how to restart kubernetes after one node restart"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

/kind bug

[2018-12-17 05:35] czhifa commented on #72094
/sig install & restart

[2018-12-17 05:50] vllry commented on #72094
@czhifa it sounds like you're looking for support. Support is not offered through Github, but there are a number of places you can check.

There's [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack

[2018-12-17 05:50] shuraa commented on #71904
Can confirm too. Transition to the 1.12 blocked by missing rbd binary in the $PATH.

[2018-12-17 05:57] vllry commented on #71986
@tomasnorre I think you might be looking for https://github.com/kubernetes/kubectl

[2018-12-17 06:03] shuraa commented on #70146
Can confirm. By setting feature gate VolumeScheduling=False (kubernetes-sigs/kubespray, v2.8.0), kube-scheduler v1.12.3 got SIGSEGV signal.

[2018-12-17 06:05] chakri-nelluri commented on #71400
@verult, @jingxu97  it is better to remove the "flexvolume-" attribute rather than confuse the reconciler. This was supposed to be a logging fix, but seems it broke the driver on Kubelet restart. Might need a quicker fix and may be patch back the previous releases too dating back to 1.8.

[2018-12-17 06:10] neolit123 commented on #71904
/close

this a duplicate of:
https://github.com/kubernetes/kubernetes/issues/56990

see this comment:
https://github.com/kubernetes/kubernetes/issues/38923#issuecomment-315255075

no idea where this is in the changelog for 1.12.

[2018-12-17 06:10] #71904 closed

[2018-12-17 06:15] yue9944882 opened #72095 "APIServer crashes on killing timeout'd non-long-running requests"
/kind bug
/sig api-machinery

@kubernetes/sig-api-machinery-bugs

/cc @sttts @liggitt

**What happened**:

out of some reason, the apiserver failed to response a GET CR request within a timeout but when the server killed that request, its process crashed w/ following stacktraces:

[code]

the crux is that the context (which is provisioned by request) will be nil when the timeout filter kills the i

[2018-12-17 06:31] zjb0807 commented on #71348
no,my error is not timeout, I will return error soon.

[2018-12-17 06:46] ahmadnurus commented on #71348
In your greeter_client error, he say `context deadline exceeded`

[2018-12-17 06:48] prksu commented on #71348
In your client_greeter error, he say `context deadline exceeded`

[2018-12-17 06:55] zjb0807 commented on #71348
[code]
just one second

[2018-12-17 07:07] zjb0807 commented on #71348
You are right! It return correctly.

[2018-12-17 07:07] #71348 closed

[2018-12-17 07:08] ahmadnurus commented on #71348
https://stackoverflow.com/questions/42973191/how-to-solve-grpc-deadline-exceeded-error

[2018-12-17 07:19] mgdevstack commented on #62161
Does the above comment make sense? If Yes, I can proceed to update appropriate labels on them.
**Highlight: (Expected changes might be)**

- [Slow] tag would be removed for tests taking < 5min to finish. (below 3 tests to be changed)
i.e.
[code]

[Serial] tag would be NOT be removed from tests which are dealing with node labels modification(destructive mode), race conditions, Performance overhead,

[2018-12-17 07:20] tomasnorre commented on #71986
Sorry my bad, you are right.

[2018-12-17 07:20] #71986 closed

[2018-12-17 07:21] youngqqcn commented on #62161
0

At 2018-12-17 15:21:06, "Mayank Gaikwad" <notifications@github.com> wrote:

Does the above comment make sense? If Yes, I can proceed to update appropriate labels on them.
Highlight: (Expected changes might be)

--Slow tests--

[Slow] tag would be removed for tests taking < 5min to finish. (below 3 tests to be changed)
i.e.
1. [k8s.io] Probing container should have monotonically increasing resta

[2018-12-17 08:03] wojtek-t commented on #54164
We probably should try to see where we are - but this requires testing before enabling that.

[2018-12-17 09:11] xiaoxubeii commented on #72043
Indeed, there would be a race condition. But kubelet would verify the pods again and the failed pod would be back to the schedule queue.

[2018-12-17 09:18] stefanosirplay commented on #64103
/remove-lifecycle stale

[2018-12-17 09:38] lovejoy opened #72097 "Add Verb match support for ABAC"
**What would you like to be added**:
verb  list match for abac
**Why is this needed**:
Like ReadOnly feature ,we need a CreateOnly feature to limit the delete request   ,and this can be describe as a verb list, And I found  https://github.com/kubernetes/kubernetes/blob/master/pkg/auth/authorizer/abac/abac.go#L175
there still a todo here.May be we should implement this?

/kind feature

[2018-12-17 09:40] lovejoy commented on #72097
@liggitt

[2018-12-17 09:41] lovejoy commented on #72097
/sig auth

[2018-12-17 09:47] xiaoxubeii commented on #71930
/assign zhangxiaoyu-zidif

[2018-12-17 09:51] lbernail commented on #71071
4.14 is very recent, so I would be surprised if there was an IPVS issue
I'm going to try and stress a cluster with the patched version to see if I can reproduce the issue from @bjornryden

[2018-12-17 09:52] hegnee opened #72098 "Kube-Proxy use ipvs proxy-mode blocks ipv6 nodePorts when running in ipv4 mode"
**What happened**:

I created a nodeport service `nginx-app-svc`
[code]
use netstat get info:
[code]

I have a ipv6 address eth0: `fb80::301f:6df2:9df6:81b2/64`
 use curl to access
`curl -g http://[fb80::301f:6df2:9df6:81b2]:39334`
it's blocking

**What you expected to happen**:
I can use ipv6 address to access  `nginx-app-svc `
**How to reproduce it (as minimally and precisely as possible)**:
kub

[2018-12-17 10:01] xiaoxubeii commented on #71930
/unassign zhangxiaoyu-zidif

[2018-12-17 10:03] xiaoxubeii commented on #71930
IMO the anti-affinity is a better way to implement the hard constraints.

[2018-12-17 10:06] uablrek commented on #71305
Iptables v1.8.2 have 2 modes;
[code]
and;

[code]

`kube-proxy` seem to work fine with both.

BTW; I have **not** tested any network policies, that is not `kube-proxy` of course but is is iptables.

[2018-12-17 10:20] krzysied commented on #72016
Another flake I found is about incorrect json file. IIUC the real problem is with assumption that we have at least 100 nodes. When cluster is created with 99 nodes, the test calculates improperly.
https://github.com/kubernetes/test-infra/pull/10448 - add explicit node number to fix config calculations.

[2018-12-17 10:41] krish512 commented on #68227
https://medium.com/@hagaibarel/kubernetes-and-elbs-the-hard-way-c59a15779caf

This should help solve the issue, nice workaround, keep the issue closed

[2018-12-17 10:47] krzysied commented on #71659
Update:
![scheduling_throughput_fixed png](https://user-images.githubusercontent.com/25119199/50082138-819f7280-01f0-11e9-962e-29d9e25e8b09.png)
Scheduling throughput is fixed. I'm going to close this issue. Thanks @bsalamat!

[2018-12-17 10:47] #71659 closed

[2018-12-17 11:18] #64908 closed

[2018-12-17 11:51] daixiang0 commented on #66421
/remove-lifecycle stale

[2018-12-17 12:01] Xyrion commented on #40245
Any update on this issue? I'm experiencing the same issue.

[2018-12-17 12:19] zakkg3 commented on #57801
In my case was a indentation problem:

Image section should be placed in container specification. ImagePullSecret should be placed in spec section so proper yaml file looks like this (please note indent):

[code]

[2018-12-17 12:24] Cytrian opened #72102 "kube-apiserver 1.13.x refuses to work when first etcd-server is not available."
**How to reproduce the problem**:
Set up a new demo cluster with kubeadm 1.13.1.
Create default configurationwith `kubeadm config print init-defaults`
Initialize cluster as usual with `kubeadm init`

Change the `--etcd-servers` list in kube-apiserver manifest to `--etcd-servers=https://127.0.0.2:2379,https://127.0.0.1:2379`, so that the first etcd node is unavailable ("connection refused").

The k

[2018-12-17 12:36] rmb938 opened #72103 "Bump kubernetes-cni plugins version"
**What would you like to be added**:

Bump the kubernetes-cni packages to version 0.7.4 of the CNI plugins

**Why is this needed**:

I require these options from the portmap plugin https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap

[code]

These options were released in v0.7.0-rc1

/kind feature

I can override the binaries manually for now however anytime kubernetes-

[2018-12-17 12:39] kargakis opened #72104 "kubectl exec does not support resource/name format"
Unfortunately, not even `pod/pod-name` is supported which makes using `kubectl exec` in scripts very annoying.

@kubernetes/sig-cli-feature-requests

[2018-12-17 12:41] rmb938 commented on #72103
@kubernetes/sig-release-feature-requests

Not sure if that is the correct sig, couldn't find one that specifically manages the dep and rpm packages

[2018-12-17 13:14] Cytrian commented on #72102
/sig api-machinery

[2018-12-17 13:40] andor44 opened #72107 "Kubelet doesn't reattempt RBD mount"
**What happened**:
We have a pod (created by a CronJob) that wants to mount an RBD-backed volume. Occasionally, the pod is stuck in `ContainerCreating` status with the following message:

[code]

As you can see this pod has been stuck in such a state for almost 4 days. The RBD volume is **definitely** not in use at the moment by another pod, but it was in use **in the past**. We've noticed that mo

[2018-12-17 13:50] StrangeDreamer commented on #23726
删除minikube虚机及配置文件，重新安装minikube(v0.25.2)，其他版本可能会有坑
[code]

[2018-12-17 14:00] Joseph-Irving commented on #72050
So I did a bit more digging, turns out you also need to set `--enforce-node-allocatable=system-reserved` and set `--system-reserved-cgroup=foo` if you want the `--system-reserved` flag to be used.

It would probably be helpful if this was made clearer, however unless I'm missing something I don't think this is a bug.

[2018-12-17 14:12] mingfang commented on #72051
This is a nasty problem on the server side.
I get this when the metric server is down.

[2018-12-17 14:17] julienlim commented on #69507
Some of the ephemeral storage use cases that come to mind include the following:
* understand the ephemeral storage utilization for chargeback/showback and/or capacity planning purposes
* determine how much ephemeral storage is being consumed in order to plan migration to persistant storage

[2018-12-17 14:21] liggitt commented on #72097
Since the stabilization of the RBAC authorizer, new features are not being added to the ABAC authorizer. We can remove that TODO.

[2018-12-17 14:28] bb-acarrera opened #72108 "Kubelet reporting out of disk space while log shows ample space available"
**What happened**:
Worker node reported OutOfDisk Space status when it appears plenty of space was available.

Below is the `kubectl describe node` showing the transition time was Sat, 15 Dec 2018 14:44:01
[code]

Reviewing the Kubelet logs on that host it appears to be reporting ample amount of space at that time:

[code]
**What you expected to happen**:

Provide in the Kubelet logs a more detail

[2018-12-17 14:33] nikhita commented on #25382
/lifecycle frozen

[2018-12-17 14:34] liggitt commented on #71925
documentation and tests ensuring the behavior in that failure case works as expected sounds good to me

[2018-12-17 14:35] nikhita commented on #57098
This is documented now.

/close

[2018-12-17 14:35] #57098 closed

[2018-12-17 14:36] nikhita commented on #65196
/remove-lifecycle stale
/area custom-resources

[2018-12-17 14:38] bb-acarrera commented on #72108
/sig node

[2018-12-17 14:48] yue9944882 commented on #72102
/remove-sig api-machinery
/sig cluster-lifecycle

[2018-12-17 15:02] yue9944882 commented on #72102
/sig api-machinery

apologies, just had another look and it's indeed an api-machinery issue.

    // that can be used to communicate with a logical etcd cluster. For
    // example, a three-node cluster could be provided like so:
    //
    // 	Endpoints: []string{
    //		"http://node1.example.com:2379",
    //		"http://node2.example.com:2379",
    //		"http://node3.example.com:2379",
    //	}

[2018-12-17 15:06] nikhita commented on #68658
/remove-lifecycle stale

[2018-12-17 15:06] mhulscher opened #72109 "kube-apiserver 1.12.3 running as a container in Docker connects to ipv6 localhost (and fails)"
**What happened**:
I start the kube-apiserver docker image. When it tries to connect to itself on localhost it fails with an error. This happens regardless of whether IPv6 is enabled or disabled in either or bothe linux kernel and the docker daemon. This does not happen in Kubernetes =<1.11

```F1217 14:46:29.285877       1 controller.go:148] Unable to perform initial IP allocation check: unable t

[2018-12-17 15:30] mhulscher commented on #72109
@kubernetes/sig-api-machinery-bugs

[2018-12-17 15:47] Nefelim4ag commented on #72050
@Joseph-Irving, but why values like cpu.share and mem.limit set correctly?
Without flags mentioned by you above.

[2018-12-17 16:09] dvonthenen opened #72110 "CSI driver-registrar missing 1.0.1 image/tag in Quay"
**What happened**:
I am working to update our CSI storage driver implementation to version 1.0 and found that there was a bug in the driver-registrar version 1.0.0 (https://github.com/kubernetes/kubernetes/issues/71378) that was fixed in 1.0.1. However, the driver-registrar image 1.0.1 in quay is missing (https://quay.io/repository/k8scsi/driver-registrar?tag=latest&tab=tags).

**What you expected

[2018-12-17 16:32] liggitt opened #72112 "Lock down allowed upgrade protocols in apiserver proxy to spdy and websockets"
From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

/assign
/area security
/area apiserver
/priority important-longterm
/kind cleanup
/sig api-machinery

[2018-12-17 16:32] liggitt opened #72113 "Aggregator: prevent upgrade on known paths that do not serve upgrade requests (like discovery, healthz, etc)"
From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

/area security
/area apiserver
/priority important-longterm
/kind cleanup
/sig api-machinery

[2018-12-17 16:43] dvonthenen commented on #72110
After digging around a little more... I found the driver-registrar has been renamed and can be found here:
https://quay.io/repository/k8scsi/csi-node-driver-registrar?tab=tags

[2018-12-17 16:43] #72110 closed

[2018-12-17 16:44] Shnatsel commented on #72103
Could you clarify what repository/repositories you're using? This would help determine the proper point of contact.

[2018-12-17 16:55] Shnatsel commented on #72108
Could you clarify where exactly do you see the OutOfDisk Space status reported?

[2018-12-17 16:56] rmb938 commented on #72103
The `kubernetes-cni` rpm available in this repository https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64

I am also assuming updating the debian version at the same time would be preferred

[2018-12-17 16:57] Shnatsel commented on #72058
Could you clarify what error message you are referring to and provide steps to reproduce it? I'm afraid this report is not actionable as-is.

[2018-12-17 17:09] Shnatsel commented on #72086
Hello!

As a rule of thumb, questions regarding configuration should go to StackOverflow where they get a lot more visibility, and thus get resolved much faster. [Click here](https://stackoverflow.com/questions/ask) to ask a question on StackOverflow. Please tag it "kubernetes", "istio" and "amazon-web-services".

/triage support
/meow space

[2018-12-17 17:13] Shnatsel commented on #72094
/triage support

[2018-12-17 17:14] Shnatsel commented on #72094
/remove-kind bug

[2018-12-17 17:19] Shnatsel commented on #71853
/remove-kind bug

[2018-12-17 17:23] liggitt opened #72115 "Investigate defaulting anonymous discovery requests to disallowed"
Specifically, the system:discovery and system:basic-user rolebindings

From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

/area security
/area apiserver
/priority important-longterm
/kind cleanup
/sig api-machinery
/sig auth

[2018-12-17 17:24] liggitt opened #72116 "Investigate adding per-request binding or assertions"
Investigate adding per-request binding or assertions that would let backends verify a particular request was intentionally forwarded from the apiserver proxy

From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

/area security
/area apiserver
/priority important-longterm

[2018-12-17 17:25] liggitt opened #72117 "Investigate alternatives to proxying through the apiserver for things like pod/exec"
From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

/area security
/area apiserver
/priority important-longterm
/kind feature
/sig api-machinery

[2018-12-17 17:34] Shnatsel commented on #72098
Dual-stack support in k8s is very limited right now, see #62822.

Also, in my experience nginx is incredibly capricious when it comes to IPv6, and will require tuning its configs in very specific and arcane ways to work. I would start by SSHing into the container and checking if nginx can serve pages over IPv6 inside the container, without Kubernetes in the way.

[2018-12-17 17:35] Shnatsel commented on #72098
@kubernetes/sig-network is this a duplicate of #62822 or not?

[2018-12-17 17:36] Shnatsel commented on #72098
/sig network

[2018-12-17 17:50] Joseph-Irving commented on #72050
Maybe I should rephrase to being enforced instead of used see https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/node-allocatable.md for more details,
`--system-reserved` is used when calculating cpu.shares and memory.limit.
However I don't see anything in the code that would set cfs_quota_us using them.
CFSQuota is set on individual pods when using limits but t

[2018-12-17 18:09] yliaog commented on #71784
I agree. Would you mind to make a PR?

[2018-12-17 18:19] bhavin192 commented on #71866
Hey @misterikkit I'm trying to figure out things for this
When we say: move the calls to `factory.RegisterFitPredicate()` from defaults package to predicates package, should I create a function similar to `defaultPredicates()` https://github.com/kubernetes/kubernetes/blob/b278f84786b4819f2dd484f6c994f08d0536cc96/pkg/scheduler/algorithmprovider/defaults/defaults.go#L106 in predicates package, and c

[2018-12-17 18:20] matthewfischer commented on #69490
It is confusing to have commas used for English grammar and array element delineation in the same sentence. What about simply this?

[2018-12-17 18:22] drags commented on #71305
While the title is somewhat murky the fact is that `kube-proxy` is distributed using images based on debian-stretch and pulls in the `iptables` userspace from that distribution. When those images are run on hosts with a newer iptables this fails.

To be clear: this isn't a defect in the code, it's a defect in packaging/release.

[2018-12-17 18:28] tuanqle opened #72121 "SCTP doesnot work with Ubuntu 16.04"
**What happened**:
SCTP pod doesnot receive SCTP packets.

**What you expected to happen**:
SCTP server inside pod should receive and response to the INIT packets
**How to reproduce it (as minimally and precisely as possible)**:
1. Create a pod,sctp-server, with ncat listening on SCTP port 1000.
2. Create service, sctp-service, to export port 1000.
3. Start SCTP connection by using ncat from exter

[2018-12-17 18:31] tuanqle commented on #72121
/sig networking

[2018-12-17 18:41] bsalamat opened #72122 "Move unschedulable pods to the active queue if they are not retried for more than 1 minute"
**What would you like to be added**:
The scheduler places unschedulable pods in "unschedulabe" queue and retries them only when certain events happen that could potentially make them schedulable. This logic works well in almost all scenarios, but inevitable race condition in large distributed systems, could potentially cause some events to be seen before pods are added to the unschedulable queue.

[2018-12-17 18:57] yujuhong commented on #68750
/assign @yguo0905
Yang, could you take a look? Thanks

[2018-12-17 18:57] #71788 closed

[2018-12-17 19:06] ChikkannaSuhas commented on #65013
/remove-lifecycle stale

[2018-12-17 19:06] emptywee commented on #71071
@lbernail Unfortunately, I could not reproduce that ipvs entry duplication behavior that I've seen only once.  Tried multiple times, with different services. However, I haven't seen any entry with weight 0, but this might be explained by the fact that the pods I delete exit very quickly. Also, kube-proxy has been responsive after running for over 5 days. I might give it a try again in the way more

[2018-12-17 19:16] Nilubkal commented on #68321
Hey guys i am facing the same problem , i am on azure AKS with the following specs:
  **kube-dns version 20
  k8s v 1.11.5**
and arbitrary the following error appears:
   [HPM] Error occurred while trying to proxy request < rq >  from <srv1>  to http://
 (EAI_AGAIN) (https://nodejs.org/api/errors.html#errors_common_system_errors)
    "errno": "EAI_AGAIN",
    "code": "EAI_AGAIN",

[2018-12-17 19:21] shyamjvs commented on #54164
I agree with @wojtek-t.
@cheyang - Could we first try checking with a benchmark integration test ([e.g](https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_perf/scheduler_bench_test.go)) as a proxy for real cluster test?

[2018-12-17 19:25] #66313 closed

[2018-12-17 19:43] yujuhong commented on #71745
@linxiulei thanks for uploading the PR.
The field was added initially to CRI in anticipation of future use. However, the exact behavior wasn't defined in details, and we didn't pursue it further.
Could you elaborate your use cases so that we can re-evaluate the use of the field? Thanks.

[2018-12-17 19:51] foxish commented on #72036
Fixed, 1.11.6 has been released.

[2018-12-17 19:51] #72036 closed

[2018-12-17 20:04] lbernail commented on #71071
@emptywee This is "good" news (even if I'd rather we were able to reproduce it and understand it, maybe it was a display glitch in ipvsadm?)

Weight is only set to 0 if they are some ActiveConn or InActiveConn. To see it simply open a long lived connection to a service before deleting the associated pod (for instance using telnet)

5 days of stability is good news! Let us know how it goes when/if

[2018-12-17 20:08] lbernail commented on #71071
Also, `1.11.6`, `1.12.4` and `1.13.1` have been released and contain the fix in the delete function

[2018-12-17 20:08] bsalamat opened #72124 "Race condition in preemption logic of the scheduler when setting nominatedNodeName"
**What happened**:
Setting nominatedNodeName has an inherent race:
1. The scheduler tries a pod and finds it unschedulable.
1. The preemption logic tries and finds a node to schedule the pod (with or without preempting any other pod).
1. The scheduler sends a pod update to update nominatedNodeName of the pod.
    The scheduler has NOT received the pod update for setting "nominatedNodeName" yet.
1.

[2018-12-17 20:11] Quentin-M commented on #71071
I wrote a short [article](https://blog.quentin-machu.fr/2018/12/15/kube-proxy-ipvs-simple-efficient-unstable/) about the issue over the weekend/. I'll make sure to update it with the fixed version!

[2018-12-17 20:17] bb-acarrera commented on #72108
We have a custom (closed source) task that queries that monitors the state of the nodes and alerts on changes in status.

[2018-12-17 20:19] bsalamat opened #72125 "Set percentage of nodes scored in each cycle dynamically based on the cluster size"
**What would you like to be added**:
Kubernetes scheduler has [a config option](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/types.go#L83) that specifies what percentage of the cluster nodes should be scored in each scheduling cycle. The scheduler stops scanning more nodes once that many nodes are found feasible for running the pod under consideration.
The default

[2018-12-17 20:21] Huang-Wei commented on #72124
I’m even thinking of it more aggressively: if it’s possible to only keep NominatedNode status in memory.

[2018-12-17 20:29] raoofm opened #72128 "Incorrect Statefulset in e2e tests"
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/statefulset/etcd/statefulset.yaml

Seems like the etcd version was recently update to v3.2.24 but that fails as the hostnames are not allowed in listen urls.

[code]

/triage support

[2018-12-17 20:30] dougm commented on #66321
/remove-lifecycle stale

This issue is still valid as long as the vsphere cloud provider is in-tree.

The external provider is shaping up, but we can't remove the in-tree provider just yet: https://github.com/kubernetes/cloud-provider-vsphere#cloud-controller-manager-for-vsphere

[2018-12-17 20:32] raoofm commented on #72128
@kubernetes/sig-testing

[2018-12-17 20:34] raoofm commented on #72128
@kubernetes/sig-testing
/sig testing

[2018-12-17 20:46] misterikkit commented on #71866
@bhavin192 Part of the problem with the existing code is that it's combining two unrelated things. Calls to `RegisterAnything` are modifying global state in the `factory` package, while `defaultPredicates()` is just supposed to return a set of strings.

Taking another look at defaults.go, we see that some predicates get registered here: https://github.com/kubernetes/kubernetes/blob/1d59ab05fa0d5ee

[2018-12-17 20:56] krzysztof-jastrzebski opened #72129 "Race condition between setting node taints and scheduling"
**What happened**:
Pod was scheduled on newly created node with condition Ready equal to false.
**What you expected to happen**:
Pod shouldn't be scheduled until Ready condition is true.
**How to reproduce it (as minimally and precisely as possible)**:
Run cluster with Cluster Autoscaler enabled. Add pod which needs to scale up cluster.
Watch nodes and pods objects when new node is added.
**Anythi

[2018-12-17 21:00] Shnatsel commented on #72108
Could you specify how the closed-source task gets that information? Does it query some API, or run df, or something else?

Both kubectl output and kubelet logs report that there is disk space available, which appears to be correct. We'd need to understand what exactly reports that disk space is not available to debug this.

[2018-12-17 21:12] tuanqle commented on #72121
Additional information:
Tried with docker 17.03.2-ce and also with docker 18.06.1-ce with no success.

[2018-12-17 21:46] yujuhong commented on #72129
/sig node
/sig scheduling
@bsalamat @k82cn

[2018-12-17 22:01] emptywee commented on #71071
@lbernail Sure, will do! Is your image of hyperkube same as the one that's been released as 1.11.6? I have installed your image for kube-proxy only in the more busier cluster and switched to ipvs again for testing. Would  you want me to use the official one?

[2018-12-17 22:02] yliaog commented on #71450
@nikopen do you know if there are resource types removed during that time period? as @liggitt pointed out that the deadlock could happen when a resource type (like a CRD) is removed between when newResources is computed and when controller.WaitForCacheSync is called. I think it is good to confirm that is what happened in your case.

[2018-12-17 22:09] Nefelim4ag commented on #72050
@Joseph-Irving,
[code]
(That proposal just lucks of implementation detail (same for memory limit, cpu quota and share), because
they very depends on runtime used by k8s.)

[code]
Yep, thats exactly a problem.

Let's me describe how I see that:

- Kubelet/CRT use:
  - cpu.cfs_quota for limit cpu usage.
  - cpu_share to try split resources between cgroups (i don't believe in cpu shares, quota works

[2018-12-17 22:10] jmcmeek opened #72130 "HPA controller hang while getting metrics"
**What happened**: HPA stopped updating deployments.  controller-manager log entries from horizontal.go simply stop.  A goroutine dump shows HPA controller hung for 5655 minutes in GetResourceMetrics (will attach stack in comment).  After killing controller-manager, HPA processing resumed.

**What you expected to happen**:  HPA controller should not hang and should resume processing when it can ge

[2018-12-17 22:12] jmcmeek commented on #72130
The goroutine dump showed this call stack:
[code]

[2018-12-17 22:17] jmcmeek commented on #72130
@kubernetes-autoscaling-bugs

[2018-12-17 22:20] sun7927 opened #72131 "Flexvolume volume resizing doesn't work"
/sig storage

**what happened**
Setup a one-node Kubernetes 1.13 cluster and installed with a plugin with volume provisioner and flexvolume for an external block storage. It worked correctly and successfully to create a PVC and a Pod using it. However, it went in a problem when expanding the PVC, that the flexvolume plugin didn't get ```expandfs``` call.

**what is expected to happen**
When expand

[2018-12-17 22:34] misterikkit commented on #54164
@cheyang Since the integration tests fake out the nodes, I think it's safe to crank it up to 5000 (that's the current largest integration test benchmark size)

I'm also hoping to refactor our benchmarks soon, so let me know if you have any thoughts about them.

[2018-12-17 22:49] bsalamat commented on #72124
@Huang-Wei It cannot be kept only inside scheduler's memory. It could, if we didn't care about multi-scheduler support. Since we want to inform other schedulers that there is a pod waiting for the resources, we must mark the nomination in the object.

[2018-12-17 22:50] pbarker commented on #70818
There is a PR open for this https://github.com/kubernetes/kubernetes/pull/71230 and an out of tree implementation https://github.com/pbarker/audit-lab/tree/policy

[2018-12-17 22:52] guptaNswati opened #72132 "RuntimeClass unrecognized in v1.13.0"
Trying to use RuntimeClass feature in v1.13.0 but I am getting `unrecognized feature-gate key: RuntimeClass`

What I did:
`kubeadm init --feature-gates=RuntimeClass=true`

Also when I do
`kubeadm init --help` it doesn’t show feature-gates options. Is that expected?

**Environment**:
- Kubernetes version: v1.13.0
- Docker Version: 18.09.0
- OS: Ubuntu 18.04
- Kernel: 4.15.0-42-generic

/kind bug

[2018-12-17 22:53] Huang-Wei commented on #72124
👍

[2018-12-17 22:53] lbernail commented on #71071
@emptywee My image and the 1.11.6 are basically the same: I built it from the head of the release-1.11 branch a few days before the official release so the difference is a few commits at most, none involving IPVS. So I don't think it's worth the effort of updating your cluster again

[2018-12-17 22:53] thockin commented on #72109
@leblancd

@kubernetes/sig-network-bugs

[2018-12-17 22:54] thockin commented on #72098
@m1093782566

[2018-12-17 22:57] thockin commented on #72086
There's not enough info here to help.

In general, `type: LoadBalancer` costs money, so we do not enable it by default.  That said, nothing stops YOU from doing it.  I can't speak to whether it works on AWS or not, but Kubernetes should allow it.  What errors are you getting?

Also, yes, this would be better at StackOverflow.

[2018-12-17 22:57] #72086 closed

[2018-12-17 23:00] thockin commented on #72044
What CNI driver are you using?

@dcbw because `/.*CNI.*/`

[2018-12-17 23:07] guptaNswati commented on #72132
/sig node

[2018-12-17 23:11] tallclair commented on #70249
**Update:**

[gcr.io/distroless/static](https://gcr.io/distroless/static) is now available. I suggest we work towards this end-state:

All official Kubernetes images & addons are based on 1 of 2 images: `gcr.io/distroless/static:latest` wherever possible, or a full featured distro for the cases where it's absolutely required.

For the latter, our current recommendation is `k8s.gcr.io/debian-base`,

[2018-12-17 23:13] emptywee commented on #71071
Bad news :( just got my kube-proxy failed to update ipvs backends. Switching back to iptables and collecting logs. Had kube-proxy running with `--v=5` flag.

[2018-12-17 23:14] davidz627 commented on #68586
/remove-lifecycle stale

[2018-12-17 23:18] nikopen commented on #71450
@yliaog where would that information be? Audit logs?

not sure if there's enough retention for the logs to still exist, but @JHK @boosty may be able to help you on this

[2018-12-17 23:35] gnufied commented on #72131
@mlmhl it appears that the online resizing code depends on plugin being attachable. I don't see this specififed in spec - https://github.com/kubernetes/community/blob/6bf5bf4481c485216bf06f511b87609a1974b2b1/contributors/design-proposals/storage/online-grow-volume-size.md

Error:

[code]

[2018-12-17 23:36] jingxu97 commented on #59446
@Nefelim4ag Thanks for your reply.

1. I am not sure about static ip restriction.
- cc @janetkuo to see what is the difference between deployment and statefulset?
2. if pod-0 cannot be started, all the following pods will not be started.
- Yes, I think that's how statefulset controller works to have some ordering on the pod starting.
3. statefulset will not restart pod if a host is lost.
- For thi

[2018-12-17 23:40] gnufied commented on #72131
Second problem is - Flexvolume resizing implementation interacts badly with plugins that don't implement attach/detach. Volume resizing expects a plugin to have `DeviceMounter` interace but in case of flex this is not well defined and hence code ends up using `AttachDetach` interace which is not implemented and hence looks like `expandfs` call is not being made.

[2018-12-17 23:48] thockin commented on #71810
I think there's no way to specify allowable source ranges on a NodePort because the `nat` table happens before the `filter` table, so `filter` never sees the node port per se.

We have `loadBalancerSourceRanges` but that only applies to `type: LoadBalancer`.

The assumption here is that firewalling happens BEFORE it hits the node or else that you are using something like `NetworkPolicy` to control

[2018-12-17 23:48] #71810 closed

[2018-12-17 23:52] cheftako commented on #49472
/remove-lifecycle stale

[2018-12-17 23:57] rdavison commented on #54247
/remove-lifecycle stale

[2018-12-18 00:06] thockin commented on #72121
I have no real experience with SCTP, and can't offer much help at the moment.  You say you see it being received but aborted?  Is the kernel module compiled in?

@janosi for consult

A possibly more useful repro:
[code]

[2018-12-18 00:11] #71751 closed

[2018-12-18 00:14] thockin commented on #71649
@caseydavenport

[2018-12-18 00:16] srsrin opened #72134 "Error: deployments/scale.extensions <name-of-extension> not found"
sig/autoscaling

**What happened**:
We are attempting to use horizontal pod autoscaling in our cluster. The cluster autoscaler yaml is already deployed to our cluster but not through helm. However the HorizontalPodAutoscaler yamls are in our charts folder and are deployed through helm. But we are getting the error: "deployments/scale.extensions <name-of-extension> not found when pushing the releas

[2018-12-18 00:18] thockin commented on #71592
We are calling Go's HTTP client here - is it possible that this is "normal" behavior for Go?  I don't know...

[2018-12-18 00:19] thockin commented on #71577
This is not something we want to make arbitrary.  Too many opportunities for it to go bad.

We might be able to make names friendlier but it's very limited in what it can do...

What are you trying to achieve?

[2018-12-18 00:19] #71577 closed

[2018-12-18 00:20] thockin commented on #71562
Nodes will be deleted after (I think) 5 minutes if they don't heartbeat.  I also believe it's a known problem that Kubelet does not re-register without being restarted.  If you reboot the node it should be OK?

[2018-12-18 00:21] thockin commented on #71441
At least GCP's LBs don't support that, so I am reluctant to add features that established platforms can't support.

Can you say more about what you are trying to achieve?

[2018-12-18 00:21] #71441 closed

[2018-12-18 00:32] thockin commented on #71140
Why do we need to change it?  Case-insensitivity is a great way to write lots of subtle bugs.  We didn't do it on purpose.

We could normalize such fields to lower-case, but in general we do not modify user-input like that, so it would be a big deal.

[2018-12-18 00:34] liggitt commented on #72134
Can this be reproduced on 1.10 or above?

[2018-12-18 00:34] liggitt commented on #72134
Also, do you have the HPA object definition?

[2018-12-18 00:35] thockin commented on #70977
Can you `kubectl get -o yaml` the service and one of your pods?

[2018-12-18 00:35] ixdy commented on #34059
@Zanadar it might be some sort of `hack/verify-*.sh` check, perhaps.

[2018-12-18 00:36] liggitt commented on #71562
Kubelet reregister issue is https://github.com/kubernetes/kubernetes/issues/71398

[2018-12-18 00:39] danderson commented on #71305
There are 2 sets of modules for packet filtering in the kernel: ip_tables, and nf_tables. Until recently, you controlled the ip_tables ruleset with the `iptables` family of tools, and nf_tables with the `nft` tools.

In iptables 1.8, the maintainers have "deprecated" the classic ip_tables: the `iptables` tool now does userspace translation from the legacy UI/UX, and uses nf_tables under the hood.

[2018-12-18 00:49] bluemalkin commented on #71577
@thockin please expand on why you close this ticket without a reasonable reason :-)

I create N load balancers and when you look them up in the Google console it's impossible to tell which is which. It makes monitoring difficult. This is not an unreasonable request, everything on GCP supports names & tagging.

[2018-12-18 00:50] msau42 commented on #72031
I think we can keep it simple for now and just remove the annotation for all errors (except ignorederror).  That way it behaves as close to internal provisioner as possible.  Provisioning based by capacity and count limits are features we're in the process of adding so will be handled better in the future.

[2018-12-18 00:53] thockin commented on #70949
Can you please simplify further?

1) Get rid of the HostPort  (or use a totally different number that does not overlap with the service ports).
2) Use numbered targetPorts rather than named.
3) Set type=ClusterIP and test via that

Then 1-by-1 bring them back.

I can demonstrate that it works for in my cluster

[code]

[2018-12-18 00:55] msau42 commented on #72013
I want to revisit the reasoning behind rescheduling pods when there's still a binding operation going on.  I don't see the benefit for this since AssumePod will fail if it is still binding, and we update the pod when [binding fails](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/scheduler/scheduler.go#L295).  cc @bsalamat

[2018-12-18 00:58] msau42 commented on #56180
It looks like scheduler has started implement [plugin hooks](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/scheduler/scheduler.go#L478) for the scheduler v2 framework.  @cofyc can you look into refactoring the volume scheduling code to use the new framework?

[2018-12-18 01:00] msau42 commented on #72013
Some more races detailed here: https://github.com/kubernetes/kubernetes/issues/56236

[2018-12-18 01:01] liggitt commented on #71140
Agree. We should not change the validation rule. We can change the documentation to clarify it must be dns conformant and lowercase

[2018-12-18 01:01] #70429 closed

[2018-12-18 01:02] liggitt commented on #39824
Does kubectl drain respect PDB?

[2018-12-18 01:03] thockin commented on #70321
Both of those are "valid" - are you saying that something is automatically changing the number that you put in, or that you didn't put it into the right place?

[2018-12-18 01:04] msau42 commented on #72013
Ok I found Bobby's comment here explaining why updating pod status does not trigger rescheduling: https://github.com/kubernetes/kubernetes/pull/71068#issuecomment-441769576

I think that makes sense, but we should think more carefully about allowing a Pod to go through `scheduleOne` while it is still binding.  I think it would be better to put it back at the end of the queue until binding is finis

[2018-12-18 01:06] #70275 closed

[2018-12-18 01:06] #70218 closed

[2018-12-18 01:08] thockin commented on #71140
And for the record, normalizing names would cause churn on things like `kubectl apply` that we really don't want, I think.

[2018-12-18 01:23] yliaog commented on #71450
Yes, audit log should be able to tell if it still exists.

[2018-12-18 01:44] msau42 opened #72139 "Convert existing PVs to use volume topology"
**What would you like to be added**:
Existing PVs using zone/region labels should be updated to use PV.NodeAffinity.

**Why is this needed**:
 Then we can deprecate and eventually remove the VolumeZone scheduling predicate.

/kind feature

[2018-12-18 01:45] msau42 commented on #72139
@kubernetes/sig-storage-feature-requests

[2018-12-18 01:46] bsalamat commented on #72122
@wgliang What is the problem with repeated scheduling failures? The scheduler had a FIFO until recently. It used to keep retrying unschedulable pods all the time.

[2018-12-18 01:49] krmayankk commented on #39824
Yes drain respects PDB https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/ @liggitr

[2018-12-18 01:52] msau42 commented on #72139
@kubernetes/sig-api-machinery-misc is anyone aware of past precedent of backfilling new fields for existing API objects?

[2018-12-18 01:54] msau42 commented on #72139
Would this be something that API defaulting can handle?  It's a little strange because the conversion logic would trigger off of certain hardcoded labels.

[2018-12-18 03:15] Pingan2017 commented on #72132
/sig cluster-lifecycle

[2018-12-18 03:16] #72097 closed

[2018-12-18 03:20] KevinKingKong commented on #71784
Thanks，I'll do it

[2018-12-18 03:58] daixiang0 commented on #70321
If praise a error when/before init, i think it is wonderful since invalid network address is hard to debug.

[2018-12-18 04:54] #72094 closed

[2018-12-18 04:55] czhifa commented on #72094
Just close. Thanks.

[2018-12-18 05:01] mlmhl commented on #72131
In the previous version we depend on plugin being attachable because we need to get the device mount path through `Attacher.GetDeviceMountPath` method.

After we refactoring the volume plugin interfaces, `GetDeviceMountPath` is extracted into an independent `DeviceMountableVolumePlugin` interface. Of cause we can change to use `DeviceMountableVolumePlugin`, but it seems still not work for flexvolu

[2018-12-18 05:06] bsalamat commented on #72122
@denkensk Sure, thanks!

[2018-12-18 05:20] leakingtapan commented on #69620
/sig storage

[2018-12-18 05:35] thockin commented on #71649
Does it allow traffic from pods on the node, or just the node itself?

On Mon, Dec 17, 2018, 6:24 PM Casey Davenport <notifications@github.com
wrote:

[2018-12-18 05:38] leakingtapan commented on #69620
5th gen of EC2 instance doesn't work with jessie. See https://github.com/kubernetes/kops/issues/5520 and https://github.com/kubernetes/kops/issues/3901#issuecomment-348799919

Have you tried stretch?

[2018-12-18 05:46] vllry commented on #15636
Someone else should probably confirm, but this looks like it was already done. `pkg/util/dbus/dbus.go` has an `Interface` type, which I see is used in iptables.

[2018-12-18 05:50] clkao commented on #63018
Note that this is fixed in 1.12, but backports to 1.11 and 1.10 are not merged yet:

- [1.11 #69736](https://github.com/kubernetes/kubernetes/pull/69736)
- [1.10 #69626](https://github.com/kubernetes/kubernetes/pull/69626)

[2018-12-18 06:14] vllry commented on #20767
Going to try to take this on.

[2018-12-18 06:33] hchenxa opened #72144 "the endpoint can not shown when describe the ingress resource"
**What happened**:

The issue is with the information provided for the rules, not about the default backend.

Form the describe:

    Rules:
       Host       Path  Backends
       ----       ----  --------
       hellonode
                     hellonode:8080 (<none>)

the endpoint show none.

and below is the ingress yaml file.

    apiVersion: extensions/v1beta1
    kind: Ingress
    metadata:

[2018-12-18 06:34] hchenxa commented on #72144
/area kubectl

[2018-12-18 06:35] #65965 closed

[2018-12-18 06:38] bowei commented on #20767
thanks!

[2018-12-18 06:54] zhangxiaoyu-zidif commented on #60987
same issue with  v1.10

[2018-12-18 06:59] LeiYangGH commented on #60807
Error from server (NotFound): namespaces "annoying-namespace-to-delete" not found

[2018-12-18 07:02] dchen1107 commented on #64137
/remove-lifecycle stale

[2018-12-18 07:12] gouki777 opened #72146 "kube-proxy cannot use ipvs mode on Linux 4.19"
**What happened**:
Kubernetes v1.11.x v1.12.x do not used ipvs mode on linux 4.19
**What you expected to happen**:
Kubernetes v1.11.x v1.12.x used ipvs mode on linux 4.19
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
https://github.com/kubernetes/kubernetes/issues/70304
I know,ipvs mode on linux 4.19 fixed in kubernetes 1.13.0,but v1.11 and

[2018-12-18 07:15] gouki777 commented on #72146
/area ipvs

[2018-12-18 07:17] LeiYangGH commented on #60807
Invalid value: "The edited file failed validation": ValidationError(Namespace.spec): invalid type for io.k8s.api.core.v1.NamespaceSpec: got "string", expected "map"

[2018-12-18 07:48] Nefelim4ag commented on #59446
@jingxu97,

But same for already initized statefulset, no?
I have app-0..5, node with app-3 goes down -> can't update statefulset (i.e. changes will not apply).
Or currently that can be controlled by PDB?

That's a good news, can you share KEP or something? Thanks.

That's tricky, i.e. nope, we don't scale deployments with stateful apps above 1 replica.
But deployment controller create new pod, if

[2018-12-18 07:57] janosi commented on #72121
@tuanqle Have you tried the same ncat setup without containers on the host directly? Does it work that way?

[2018-12-18 08:06] uablrek commented on #71305
@danderson Do you think it would be sufficient to enforce (if possible) the host version of iptables to "legacy";
[code]
and keep the >=1.8 version?

I build and install `iptables` myself and the "mode" is determined by a soft-link;
[code]
I assume the same applies for "Debian Testing/Buster" and others, but I don't knoe for sure.

[2018-12-18 08:14] krmayankk commented on #68955
currently in discussion on sig-scheduling mailing list

[2018-12-18 08:22] joelsmith commented on #66961
The original report looks like it's not a bug unless a threshold lower than the default 10% was specified.  If you look at
https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/
you'll see that `nodefs.available<10%` and `nodefs.inodesFree<5%` are among the defaults for the kubelet's `--eviction-hard` option, which means that if whichever volume contains /var/lib/kubelet gets to <10%

[2018-12-18 08:22] #66961 closed

[2018-12-18 08:36] zhangxiaoyu-zidif commented on #60987
/sig node

[2018-12-18 08:44] johnraz commented on #71592
@thockin Seems like an old bug indeed: https://github.com/golang/go/issues/22233 - not sure where to go from there...

[2018-12-18 08:51] hansamann commented on #36640
I am having this issue, too, I am trying to install docker and then kubeadm (with kubelet , etc).

DOCKER_VERSION=18.06.1~ce~3-0~ubuntu # see https://download.docker.com/linux/ubuntu/dists/xenial/stable/binary-amd64/Packages
KUBERNETES_VERSION=1.13.0-00 # see https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages

swapoff -a
sed -i "/swap/d" /etc/fstab

curl -fsSL

[2018-12-18 08:53] Michael-Baylis commented on #71562
@thockin Reboot the whole node is the only way to get this to work.
@liggitt That issue does seem to tie in with what I am seeing.  I will continue with that one.

[2018-12-18 08:55] Michael-Baylis commented on #71562
Then again.
Is it possible to prevent the auto deletion of the Node after 5 mins of no heartbeat?  Just mark the node as not-ready?   We have a fairly static environment,  so nodes that have lost network connectivity will come back eventually.

[2018-12-18 09:07] ckurdekar opened #72147 "How to mount existing vsphere disk to new pod"
how to create an persistence volume claim for reusing the existing data resides in disk.
Is there anyway to mount an existing vsphere disk as persistence volume?

[2018-12-18 09:12] ckurdekar opened #72148 "How to mount existing vsphere disk to new pod"
how to create an persistence volume claim for reusing the existing data resides in disk.
Is there anyway to mount an existing vsphere disk as persistence volume?

[2018-12-18 09:23] qmyuan2018 opened #72149 "dig will stop and return empty when dnsmasq replied "REFUSED" with the dig tool builded in the e2e test"
**What happened**:
dig will be stoped and return empty when dnsmasq replied "REFUSED"
**What you expected to happen**:
dig success finially when handling replies from dnsmasq
**How to reproduce it (as minimally and precisely as possible)**:
1. start the kubernetes conformance test with the test case "should provide DNS for cluster  ".
2. login the dns test container k8s_jessie-querier_dns-test and

[2018-12-18 09:27] zoobab commented on #62382
I have the same bug on 1.9, with an openshift cluster:

[code]

Any plan on backporting it to 1.9 as well?

[2018-12-18 09:35] janosi commented on #72121
@tuanqle It works for me in containers:

[code]

[2018-12-18 09:37] lbernail commented on #71071
@emptywee Thank you for the detailed report. Nothing weird in these logs.

What is surprising is that `syncProxyRules` is run at least every 30s (default) and should reconcile IPVS real servers with endpoints. It calls `syncEndpoints` which triggers `AddRealServer` and `ipvsHandle.NewDestination`

All this happens before the deletion of old endpoints so shouldn't be impacted by graceful terminatio

[2018-12-18 09:46] irvifa commented on #70674
Hi, I'm just wondering given the fact that I already create a kubernetes service and the re-apply `kubectl apply -f service.yaml` command, I'll get the following error:

[code]

is this expected?

[2018-12-18 09:46] lovejoy commented on #72097
@liggitt  Actually I want to limit user can only WriteOnly to resources of some namespaces with same prefix( the user may create many same prefix namespaces). And this can't be solved by  RBAC as it 's designed for exists and known namespace.And I think  it's easier to be implement in ABAC https://github.com/kubernetes/kubernetes/blob/master/pkg/auth/authorizer/abac/abac.go#L212 just change this l

[2018-12-18 09:47] s5u-ishida commented on #71910
I confirmed that K8s 1.13.1 and DockerCE 18.09.0 on ARM will work together. I will change from K8s 1.10.2 to 1.13.1. And It will be very helpful if Dashboard and Metrics-Server run on K8s 1.13. Unfortunately they do not seem to be able to work together graphically on K8s yet.

[2018-12-18 09:48] #71910 closed

[2018-12-18 09:52] xiaoxubeii commented on #72122
/assign denkensk

[2018-12-18 09:52] xiaoxubeii commented on #72122
/assign @denkensk

[2018-12-18 10:06] xiaoxubeii commented on #72122
@bsalamat @wgliang It increases the possibility of unschedulble pods and the chances of scheduling failures. Should we also consider latter?

[2018-12-18 10:07] jungopro opened #72150 "Fluentd can't write to elasticsearch"
**What happened**:

I deployed the fluentd-elasticsearch manifests on my cluster and I'm getting errors when fluend starts:

[code]

**What you expected to happen**:

Fluentd reports successfull connection to elasticsearch

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

I'm running on AKS, cluster version 1.11.5

**Environment**:
- K

[2018-12-18 10:17] jungopro commented on #72150
error on my part, please ignore

[2018-12-18 10:17] #72150 closed

[2018-12-18 10:45] MalloZup commented on #35054
i have spent a PR for this because yesterday i was typing `-v debug` and starring the screen why i could not see the debug infos, so i jumped on this issue :smile_cat:
Hope it helps ! :sun_with_face:
https://github.com/kubernetes/klog/pull/32

[2018-12-18 10:59] JHK commented on #71450
Sorry, we don't have the audit logs anymore for this time period.

[2018-12-18 11:04] gjcarneiro commented on #71071
Next time, try sending SIGABRT to the process, so that it prints tasks states.

When I had the problem, it was always doing something inside `libnetwork/ipvs/netlink.go`, which leads me to suspect that the netlink system call gets stuck for some reason.

[2018-12-18 11:10] humblec commented on #71871
@sa9226 it could be affer effect of the bug which @liggitt mentioned, if that version didnt resolve this issue, I would suggest an upgrade of your cluster to `1.13`. It should resolve this issue for sure.

[2018-12-18 11:10] humblec commented on #71871
/assign @humblec

[2018-12-18 11:14] humblec commented on #64047
@msau42 missed this ping.  I am on it.

[2018-12-18 11:52] SpeedVan commented on #39170
check if you have config "terminationGracePeriodSeconds" less than sleep time.

[2018-12-18 12:00] aermakov-zalando opened #72155 "Daemonset controller doesn't retry creating pods after a timeout error"
**What happened**:

Same issue as in #67662, but in the daemonset controller. Two pod creations failed because of a timeout and then the creation was not retried neither immediately nor after 5 minutes. The pods were finally created 45 minutes later when (I assume) creation of another node nudged the daemonset controller to finally do its job. As a result, two nodes were left without networking, l

[2018-12-18 12:00] aermakov-zalando commented on #67662
/remove-lifecycle stale

[2018-12-18 12:01] aermakov-zalando commented on #72155
@kubernetes/sig-apps-bugs

[2018-12-18 12:13] sa9226 commented on #71871
Thank you both. We are in process of upgrading our cluster and will post the status if I see this issue again.

[2018-12-18 13:10] mcanevet commented on #65274
/remove-lifecycle stale

[2018-12-18 13:11] stmaute commented on #33777
Any news on this issue? Encountered this on AWS EKS when a rolling update is performed.
Some pods stay in Pending state after rolling update.

[2018-12-18 13:11] linxiulei commented on #71745
@yujuhong thanks for replying

The main purpose of my cases is hacking some ways out within cri-containerd, we do need some infomations from pod (annotations, resources, snapshotters etc.). However those hacks, I think, are of meaning. E.g. 1) Kubernetes didn't well utilize isolation/namespace features provided by containerd. Thus some leakages would happen with current codes. See [this](https://g

[2018-12-18 13:31] OlafSzmidt commented on #33777
@stmaute - you need to limit your pods to be allocated less CPU, depending on the machine it's running on.

[2018-12-18 13:36] stmaute commented on #33777
hi @OlafSzmidt I have defined resource request and limit for my deployments. I have also set maxUnavailable=1 and maxSurge=0.
I would expect that a rolling update will work because there are enough cpu resources available.

[2018-12-18 13:40] romansorokoletov commented on #62038
Any news?

[2018-12-18 13:42] romansorokoletov commented on #62038
/remove-lifecycle stale

[2018-12-18 13:43] romansorokoletov commented on #62038
/remove-lifecycle rotten

[2018-12-18 13:44] romansorokoletov commented on #62038
/remove-lifecycle stale

[2018-12-18 14:07] alihammoud90 commented on #71975
+1

[2018-12-18 14:21] michmike commented on #62038
@ddebroy is working on scoping this work so that we can start development. No ETA is yet established for delivery

[2018-12-18 14:42] liggitt commented on #72097
Authorizers do not have access to the name of the object being created (since it is not present in the API call URL). A [webhook admission plugin](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/) could be used to limit creation requests to specific namespaces and resources.

[2018-12-18 14:42] dims commented on #71592
@johnraz want to try attempting a patch using [CheckRedirect](https://golang.org/pkg/net/http/)? code that @thockin mentioned is in https://github.com/kubernetes/kubernetes/tree/master/pkg/probe/http

[2018-12-18 14:47] gtie opened #72157 "Inconsistency in Pod Readiness state"
**What happened**:
A pod (without readinessGates) is deemed non-Ready by Kubernetes, despite all containers in the pod being Ready.

**What you expected to happen**:
Readiness status on pods (with no explicit readinessGates) to match the status of the composing containers.

**How to reproduce it (as minimally and precisely as possible)**:
No definitive way to reproduce yet. Seems to happen at rand

[2018-12-18 15:05] aermakov-zalando commented on #72129
We've just tried to enable `TaintNodesByCondition`/`ScheduleDaemonSetPods` in our clusters (AWS, our own tooling to manage them) and it's not the only issue:
 * Even if the race condition is fixed, most Kubernetes configurations including GKE inject a `NoExecute` toleration for `.../node-ready` and `.../node-unreachable` with a 5 minute window to reduce the number of disruptions. Unfortunately, th

[2018-12-18 15:14] pittar commented on #53059
Same issue on AWS.  Is there a way to "fix" the volume?

[2018-12-18 15:33] astrieanna commented on #71851
@yanghaichao12 If those loops do anything, that line has to be reached, right?

`endpointsToEndpointsMap` is called twice by `EndpointChangeTracker.Update`; once with previous and once with current. (see: https://github.com/kubernetes/kubernetes/blob/a3ccea9d8743f2ff82e41b6c2af6dc2c41dc7b10/pkg/proxy/endpoints.go#L133-L136 )

[2018-12-18 15:36] liggitt commented on #71562
the only place I see Node objects deleted is when the cloud provider reports the node no longer exists:

https://github.com/kubernetes/kubernetes/blob/d6385cdb610ae513a9814867ba545de1d9428a3d/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L781-L793

https://github.com/kubernetes/kubernetes/blob/d6385cdb610ae513a9814867ba545de1d9428a3d/pkg/controller/cloud/node_controller.go#L280-L302

[2018-12-18 15:36] dims commented on #64137
long-term-issue (note to self)

[2018-12-18 15:45] dprotaso opened #72158 "Update docs to indicate that API values of []byte are always base64-encoded"
**What would you like to be added**:
Extend the docs the clarify that various places there the API expects `[]byte` that this is base64 encoded

**Why is this needed**:
I was looking at the 1.13 API docs for the conversion webhook and it said

[code]

It's not obvious to me that this value should be base64 of the pem encoded contents

/kind feature

[2018-12-18 15:47] dprotaso commented on #72158
Going to label api-machinery as I think explicit annotation on certain fields is important

/sig api-machinery

[2018-12-18 15:48] dims commented on #49472
long-term-issue (note to self)

[2018-12-18 15:52] liggitt commented on #72158
sweeping existing []byte fields and ensuring mention of base-64 encoding in json/yaml contexts would be good

[2018-12-18 15:52] pittar commented on #53059
@zetaab , thanks for the suggestion.  We are actually on OpenShift Dedicated (managed service), so I guess I'll put in a support ticket.

[2018-12-18 15:57] dims commented on #71773
@AtomWyq we strip out debug info from binaries in https://github.com/kubernetes/kubernetes/commit/d9cfd77149bc84fe755b68794528e7d7cb114d1a#diff-dac3f0d616ae45f98d45d6420ed1be65R670 (based on tip from https://blog.filippo.io/shrink-your-go-binaries-with-this-one-weird-trick/), so you may want to drop those flags and try.

we are trying to do better overrides in https://github.com/kubernetes/kuberne

[2018-12-18 16:02] bb-acarrera commented on #72108
The task queries the node status from the api server.  It specifically looks at the transition time for the different statuses to determine if something has changed.

[2018-12-18 16:03] losipiuk commented on #72129
Thanks for reporting that @aermakov-zalando. I created https://github.com/kubernetes/autoscaler/issues/1515 to track work needed in CA.

[2018-12-18 16:05] johnraz commented on #71592
@dims I can definitely try to submit a PR with that change! Thanks for pointing in the right direction 👍

[2018-12-18 16:20] liggitt opened #72160 "CRD webhook conversion can change metadata.generation"
**What happened**:
a conversion webhook's modification to generation was allowed

**What you expected to happen**:
generation is either forcefully preserved from the original object, or attempts to change the generation in conversion result in an error (like kind/name/namespace/uid in https://github.com/kubernetes/kubernetes/blob/master/staging/src//k8s.io/apiextensions-apiserver/pkg/apiserver/con

[2018-12-18 16:21] liggitt commented on #72160
/assign @mbohlool

[2018-12-18 16:44] chaosaffe commented on #67727
/remove-lifecycle stale

[2018-12-18 16:47] #71013 closed

[2018-12-18 16:50] liggitt commented on #72139
the precedents I'm aware of didn't end well. defaulting fields based on other fields interacts poorly with updates (see selector defaulting in extensions/v1beta1 workload objects - https://github.com/kubernetes/kubernetes/issues/34292)

[2018-12-18 17:35] thockin commented on #70957
In general the node's PodCIDR field is not mutable.

Can you provide more details on what you are doing that leads up to this?  Help us to reproduce it..

[2018-12-18 17:39] jingxu97 commented on #53059
@pittar could you please provide more details about your issue? In what situation your pod is stuck in "ContainerCreating"? Are you trying to delete your pod and then start it on another node? Thanks!

[2018-12-18 17:40] thockin commented on #71305
@danderson thanks.  That was very succinct.

What a crappy situation.  How are we to know what is on the host?  Can we include BOTH binaries in our images and probe the machine to see if either has been used previously (e.g. lsmod or something in /sys) ?

[2018-12-18 17:47] k82cn commented on #72129
Yes, for now, node controller taints nodes based on nodes' condition, there's a race condition between kubelet, node controller and scheduler. We need to let kubelet map condition to taints when startup; and for restart case, we need to also give a white list for node restriction admission.

`NoExecute` does not mean `NoSchedule`; if only tolerate `NoExecute`, it still can not be scheduled. `NoExe

[2018-12-18 17:49] emptywee commented on #71071
@lbernail Absolutely. Here's the requested piece of the logs, I have included the startup piece as well: https://gist.github.com/emptywee/6f7e9c9e43f10288950d1d8420c038f0

Let me know if you need the whole file. If yes, where you'd like me to send it to, or upload to.

To answer your questions:

1. The cluster has over 60+ nodes, I checked on a few other nodes, the ipvs entry was correct. Not sure

[2018-12-18 17:49] k82cn commented on #72129
/sig node

[2018-12-18 17:56] srsrin commented on #72134
i just checked, my version of kubernetes is 1.10
`{{- $root := . }}
{{- range .Values.hpa}}
apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .name }}
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: {{ .targetRefName }}
  minReplicas: 1
  maxReplicas: {{ .maxReplicas }}
  metrics:
    - type: External
      external:

[2018-12-18 18:00] liggitt commented on #72134
and does the targetRefName deployment exist?

[2018-12-18 18:02] yujuhong commented on #72129
@k82cn the feature is already beta and enabled by default, but kubelet does not apply appropriate taint to prevent the race conditions...

Another thing is that this still does not handle version skews with older kubelets.

[2018-12-18 18:04] srsrin commented on #72134
yes there are three deployments and they should all link to the autoscaler. Instead, the autoscaler doesn't connect to those three deployments so deployments get pushed to the cluster. For context, i have a deployment.yaml that generates the three deployments along with the hpa.yaml

[2018-12-18 18:12] yastij commented on #70957
@thockin - when you start a cluster with a node-cidr-mask-size=27, then try to expand it to 24, delete a node and restart the kubelet, you’ll see that this leads the range_allocator (especially the cidr_set) to allocate an overlapping cidr since it has no idea about having heterogeneous cidr sizes.

This usually happens when you want to add more pods per node (or more ips available per node)

[2018-12-18 18:16] msau42 commented on #71383
#71570 and #71569 have been merged and will address the biggest issues.  #71570 has been backported to 1.13 already, #71569 backport is still pending.

[2018-12-18 18:16] Michael-Baylis commented on #71562
Ah, that may be the problem then.    our s390x are native nodes.   I do have 3 nodes on openstack so I can make use of dynamic volume provisioning.

So if the heartbeat is lost and the cloudprovider reports that the node does not exist,  which they never did,  the node is deleted.

Would that be accurate?

[2018-12-18 18:44] andrewsykim commented on #57130
@vishh based on discussions here and in https://github.com/kubernetes/kubernetes/pull/33573 I think there's enough of a need to reopen your KEP (at the very least to continue the discussion).

[2018-12-18 18:49] yujuhong commented on #71745
Fair enough. I just wanted to know more about how you are going to utilize this feature, because not all runtimes are capable of utilizing this feature. Also, in kubernetes, images are typically assumed to be shared by everyone on the node, which makes using the sandbox context not as meaningful as it could be.

I'll review your PR later

[2018-12-18 18:51] caseydavenport commented on #71649
It allows traffic from the node itself. But host networked pods are currently indistinguishable from the host itself.

[2018-12-18 18:56] Random-Liu commented on #71745
Hm, this is interesting. I think it is fine to experiment new features in this way. Can you give some examples about the runtime <--> snapshotter match? We may be able to formalize the api in the future (in RuntimeClass?) if the requirement makes sense. :)

What do you mean here? You want different pod to have different namespace in containerd?

[2018-12-18 19:02] VanWolf29 commented on #70588
I'd like to take this one. But I think I need some extra information about what it needs to be done.

[2018-12-18 19:02] pittar commented on #53059
Hi @jingxu97 , since it's a managed service, I've submitted a support ticket, but I'll try to explain what happened here in case it benefits others.

Last night was a scheduled upgrade of our OpenShift cluster from 3.9 (k8s 1.9) to 3.11 (k8s 1.11).  During the upgrade, pods would have been evacuated and re-created, so my guess is certain pods (like postgres) tried to re-attach to a PV (aws ebs) be

[2018-12-18 19:03] bryanlarsen opened #72162 "Enhancement: StatefulSet ConfigMapTemplate"
**What would you like to be added**:

A feature to StatefulSet that would allow different configmaps to be mounted into each pod in the statefulset.    I imagine it would work similarly to volumeClaimTemplate, but instead of creating PVC's, it would just reference configmaps following the pattern.  For example, if the statefulset creates a pod named `foo-1`, there should be a way to tell that pod

[2018-12-18 19:07] apratimt commented on #63435
Was this issue resolved?

[2018-12-18 19:10] misterikkit commented on #71860
@ahmad-diaa pinged me about the import loop caused by this change.

My goal with this issue is that the `scheduler.Scheduler` type has a bunch of members (cache, queue, etc.) rather than the one "config" member. If we can find another way to accomplish that, let's discuss.

[2018-12-18 19:10] zetaab commented on #53059
@rootfs @jsafrane @thockin do you have guys idea how we could improve this situation? This volume mount problem has been problem for a long time. I have tried to solve this twice, but always storage or node sigs are saying that my solution is incorrect.

We have customer who is using cronjobs each 5 minute, and they do have volume in it as well. Well, you can imagine what will happen when you will

[2018-12-18 19:13] linxiulei commented on #71745
Glad that you say so. Runtimes are developing very fast, like newly opensourced firecracker. I think the container components (k8s, container, oci, osi, etc) have to not just assume the runtime just runc. And those runtimes would be running at better performance with extra infos compared to runc.

Also as I mentioned above, k8s may just right now share all images to everyone while this strategy is

[2018-12-18 19:16] #70270 closed

[2018-12-18 19:28] rkojedzinszky opened #72163 "kube-apiserver failing to start on slow hardware"
**What happened**:
I've bootstrapped a cluster with kubeadm on a banana pi, it is up and running. Upon restarting, some process is slow that kube-apiserver does not boot up, exits with last lines:

[code]

**What you expected to happen**:
Expected the kube-apiserver to start up.

**How to reproduce it (as minimally and precisely as possible)**:
On a banana pi (A20) bootstrap a cluster with kubeadm

[2018-12-18 19:33] rkojedzinszky commented on #72163
/sig api-machinery

[2018-12-18 19:34] liggitt commented on #46381
Most shells expand that for you:

[code]

[2018-12-18 19:40] liggitt commented on #72134
can you provide a representative HPA and Deployment object as retrieved from the apiserver with `kubectl get hpa ... -o yaml` and `kubectl get deployment ... -o yaml`, and the exact text of the error you are seeing?

[2018-12-18 19:44] nzoueidi commented on #72158
I would like to give it a chance and work on it!

[2018-12-18 19:58] brahmaroutu opened #72166 "Conformance Document does not properly pick up comment section."
**What happened**:
When the comment section associated with the conformance test is separated with more that four spaces/tabs etc then the comment is ignored.

**What you expected to happen**:
Comment associated with the conformance test should be used instead of ginkgo comments.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Received out

[2018-12-18 20:03] danderson commented on #71305
As a preface, one thing to note: iptables 1.8 ships two binaries, `iptables` and `iptables-legacy`. The latter always programs ip_tables. So, there's fortunately no need to bundle two versions of iptables into a container, you can bundle just iptables 1.8 and be judicious about which binary you invoke... At least until the -legacy binary gets deleted, presumably in a future release.

Here's some r

[2018-12-18 20:09] nzoueidi commented on #72158
I would like to take it! As this my first issue I would like to get some help. Thanks

[2018-12-18 20:13] liggitt commented on #72158
it would involve:
* sweeping API types defined in types.go files
* locating fields of type []byte
* ensuring the field documentation includes a description that the json/yaml serialization is base64-encoded
* run `make update` to regenerate the relevant documentation and commit the results

[2018-12-18 20:19] thockin commented on #71649
Do we know that this is the case here?  @olivejing isthat what's happening?

[2018-12-18 20:21] bsalamat commented on #72129
I agree with @yujuhong. I feel we should disable the feature given the severity of the race condition and re-enable it later when the issue is addressed.

[2018-12-18 20:30] #70198 closed

[2018-12-18 20:43] loqutus commented on #72158
i'm in queue for taking it:)

[2018-12-18 20:46] lbernail commented on #71071
Two interesting things from the logs:
- `I1217 21:26:57.995657       1 endpoints.go:234] Setting endpoints for "c-qa4/ycsdtleuk:http" to [10.148.183.68:8080 10.148.191.69:8080 10.148.192.14:8080]` is never processed by IPVS but no error because you keep the two old RS (we can't be sure, adding a RS does not generate log)
- `I1217 21:28:21.517538       1 endpoints.go:234] Setting endpoints for "c-q

[2018-12-18 20:51] vishh commented on #57130
@andrewsykim Acknowledged. I'll work on completing kubernetes/community#2640.

[2018-12-18 20:56] rcsavage commented on #24725
I totally agree, there's no need for the parameter if it's behaves like this.

[2018-12-18 20:58] bowei commented on #59893
/lifecycle frozen

[2018-12-18 21:02] janetkuo commented on #71993
Thanks a lot @Joseph-Irving for helping debug and updating docs! This is now resolved.

[2018-12-18 21:02] #71993 closed

[2018-12-18 21:04] nesl247 commented on #42465
This would be really useful.

[2018-12-18 21:06] isindir commented on #66750
+1

[2018-12-18 21:10] janetkuo commented on #59446
You can relax StatefulSet ordering guarantees by setting `.spec.podManagementPolicy` to `Parallel` instead of `OrderedReady` (default), ref https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#parallel-pod-management

[2018-12-18 21:31] liggitt opened #72169 "Umbrella issue - Update DropDisabled[Alpha]Fields behavior"
Over the past several months, there have been multiple discussions about how to safely evolve API types in a way that enables safe rolling upgrade, safe single-version downgrade, and safely disabling a problematic feature even with existing persisted data.

One of the outcomes was a tweak to the guidance around how fields for disabled features are dropped and validated. https://github.com/kubernet

[2018-12-18 21:40] akitekt commented on #69687
Knative serving can scale to 0, but it requires Istio and Serving components.
If HPA can scale pod to 0, I would choose the simple and easy route for sure.

[2018-12-18 21:50] emptywee commented on #71071
@lbernail We waited until we upgrade to 1.11 to switch to ipvs (I believe it's when the GA release happened for this feature) and we upgraded straight to 1.11.5 and it was our first attempt to start using ipvs.

[2018-12-18 22:03] stieler-it commented on #68270
Seems to be fixed in k8s v1.11.5

[2018-12-18 22:06] pehlert commented on #71975
This still seems to happen to me on 1.13.1.. Jobs are limited according to the configuration, but pods just pile up in "Completed" state. I think I just deleted a couple thousand of them.

[2018-12-18 22:21] mtougeron commented on #68270
@stieler-it fyi, fwiw, we just encountered it today on `v1.11.5` a little less than an hour ago.

[2018-12-18 22:22] msau42 commented on #56180
Thanks for the clarification Bobby!  I think we can still at least prototype and help find issues since volume scheduling is one of the more complicated plugins.

[2018-12-18 22:35] ixdy commented on #62382
@zoobab you likely are encountering a different issue, as the root cause of this bug was introduced in kubernetes 1.10, not 1.9.

Also, kubernetes 1.9 is now outside of the support window, so no fixes will be backported to the upstream branch.

[2018-12-18 22:47] igmor commented on #69040
Folks, anecdotally we were able to fix a similar issue with using  a particular GO version: golang:1.11.1

[2018-12-18 22:57] jberkus commented on #27398
this is a long-term development issue, so freezing it

/lifecycle frozen

[2018-12-18 23:02] sun7927 commented on #72131
does it make sense to query pod for the device mountpath instead of making a call to the plugin?

[2018-12-18 23:13] jselleck commented on #14713
I know this is closed but just an FYI- I got this working agains django with a custom liveliness/readyness probe.

Env Vars on Container -------------------------

        env:
          - name: PORT
            value: "8000"
          - name: MY_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP

Probes----------------------------

       readinessProbe:

[2018-12-18 23:21] thockin commented on #14713
There is also a `httpHeaders` field for HTTP probes... :)

On Tue, Dec 18, 2018 at 3:14 PM jselleck <notifications@github.com> wrote:

[2018-12-18 23:31] jselleck commented on #14713
I was unable to get the "Host" header to work with httpHeaders - which is why I used curl.  If you have a working example I'd love to see it!

[2018-12-19 00:17] liggitt commented on #71042
https://github.com/kubernetes/kubernetes/pull/66602 should be picked to release-1.11 for compatibility

[2018-12-19 00:56] rileytj commented on #13892
Why not support the X-FORWARDED-FOR HTTP Header? You could keep

sessionAffinity: ClientIP
sessionAffinityConfig:
    clientIP:
        xForwardedFor: true  <propose>
        timeout: 10

[2018-12-19 01:50] yanghaichao12 commented on #71851
@astrieanna you're right,i missed that :)

[2018-12-19 02:01] qmyuan2018 commented on #72149
/sig e2e

[2018-12-19 02:09] hchenxa commented on #72144
/sig cli

[2018-12-19 02:13] xiaoxubeii commented on #72125
/assign wgliang

[2018-12-19 02:20] wgliang commented on #72125
@xiaoxubeii  Thanks

[2018-12-19 02:21] xuekew opened #72180 "kubectl get nodes No resources found."
What happened:
[root@master ssl]# kubectl get nodes
No resources found.
[root@master ssl]#  kubectl get csr
NAME                                                   AGE     REQUESTOR           CONDITION
node-csr-Igpzg_F8xIf7j7AIHBQg0ParQ5M2Lm7Q3I_GcUpYvzc   7m23s   kubelet-bootstrap   Approved

[2018-12-19 02:35] openstacker commented on #68270
It's merged into v1.11.6 not v1.11.5, just FYI.

[2018-12-19 02:57] Nebulazhang opened #72181 "Delete StatefulSet and re-create immediately, pod "ContainerCreating" because of detach/attach fail"
**What happened**:
I found statefulset cannot be recreate successfully in our cluster when the pods were scheduled on the same node.

So I test in my cluster,
When I use **1** node cluster. I create statefulset by this yaml:
[code]

I created this statefulset. After all pods are running and delete it. Then create it immediately.

**What you expected to happen**:

**How to reproduce it (as minimall

[2018-12-19 03:36] Nebulazhang commented on #72181
After I  "`kubelet delete sts  web` and` kubectl create -f sts.yaml`",the controller-manager logs :
[code]

[2018-12-19 03:37] Nebulazhang commented on #72181
/sig node

[2018-12-19 04:32] xiaoxubeii commented on #71486
@bsalamat The three prs above are quite comprehensive : ).

[2018-12-19 04:44] srmocher commented on #70249
@tallclair I would like to start digging into this.

[2018-12-19 05:03] bfarayev opened #72183 "SSL cert for docs.k8s.io is invalid which leads to broken links in documentation"
**What happened**:
Documentation links in Changelog pages are broken because of expired or invalid SSL certs for *https://docs.k8s.io/*

**What you expected to happen**:
Link can be changed to *https://kubernetes.io/docs/* to avoid extra redirect and not depend on *.k8s.io certificates

**How to reproduce it (as minimally and precisely as possible)**:
Click on *Documentation* link in https://githu

[2018-12-19 05:05] DreadPirateShawn commented on #72044
Calico CNI 3.1.3
https://github.com/projectcalico/cni-plugin/releases/tag/v3.1.3

[2018-12-19 05:06] bfarayev commented on #72183
/sig docs

[2018-12-19 05:50] olivejing commented on #71649
what is conntrack entry time? how long does it keeps? I did test, and it seems like that the conntrack entry did not timeout.
After deleting ipblock in networkpolicy and waiting for 24 hours, the networkpolicy still does not block the traffic from node-01/03 to metrics-server(runs on node-02) except restarting metris-server.

[2018-12-19 06:20] maktouch opened #72186 "Daemonsets pods are being scheduled with duplicate IPs"
**What happened**:
Pods are being scheduled with duplicate IPs

**What you expected to happen**:
Unique IP per pods

**How to reproduce it (as minimally and precisely as possible)**:
No clue, it seems to happen randomly. I only noticed it when my errors rate went up, and one of my Nginx Ingress (daemonset) wasn't reachable because of the IP conflict.

Most of the IP conflict remaining are bad but

[2018-12-19 06:32] james-callahan commented on #61572
`certificate-authority-data` is not always present, for e.g. minikube, it instead has `certificate-authority` with a file path instead.

[2018-12-19 06:34] jicki opened #72187 "The resourceVersion for the provided watch is too old."
* kubernetes 1.13.1
* etcd Version: 3.2.24

[code]

[2018-12-19 06:37] liggitt commented on #61572
--flatten inlines data from referenced files, populating certificate-authority-data

[2018-12-19 06:43] james-callahan commented on #61572
Thanks @liggitt! I didn't know about `--flatten`

So one command for now would be this:
[code]

Or the nicer:
[code]

[2018-12-19 07:02] jicki commented on #72187
deloyment

extensions/v1beta1   update  to  apps/v1

[2018-12-19 07:43] flyer103 opened #72192 "gc's behavior is not consistent when restarting kube-controller-manager"
**What happened**:
Say there's a CR named **MyTest** and Pod is the owner of the **MyTest** object.
If setting **apiVersion/kind** to **MyTest** by mistake and setting **name/uid** in ownerReferences correctly, kube-controller-manager wont' gc **MyTest** object. But when restarting kube-controller-manager, it will gc **MyTest** objects in some situations and in other situations it wont' gc **MyTes

[2018-12-19 07:43] flyer103 commented on #72192
@kubernetes/sig-api-machinery

[2018-12-19 08:19] uablrek commented on #71305
When using iptables 1.8.2 in nf_tables mode `ipset` (my version; v6.38) is still used by kube-proxy. But in `nft` ipset is "[built-in](https://wiki.nftables.org/wiki-nftables/index.php/Moving_from_ipset_to_nftables)".

It seems to work anyway but I can't understand how, or maybe my testing is insufficient.

I will try to test better and make sure the ipset's are used so they are not just defined a

[2018-12-19 08:44] casusbelli commented on #65312
/remove-lifecycle stale

PR is still open for checking and testing.

[2018-12-19 08:51] #61998 closed

[2018-12-19 08:53] xiaoxubeii commented on #72192
/sig api-machinery

[2018-12-19 08:57] uablrek commented on #71305
Ipset with iptables in nt_tables mode does **not** seem to work. My tests passed out of luck.

The slogan is correct (my previous remark it not true, sorry), but iptables in `nf_tables` mode would be more accurate.

I will make more testing an post the results in this issue.

[2018-12-19 09:10] Michael-Baylis commented on #71562
@thockin I came to same conclusion,  build my own version with that section commented out.  Just need to work out how to :-)
Thinking of raising another issue focusing on the incorrect "cloud" assumption, but have to figure out how to word it.
Thank you @thockin and @liggitt for your assistance.

[2018-12-19 09:10] #71562 closed

[2018-12-19 09:11] nezorflame commented on #69040
Can this be related to https://github.com/golang/go/issues/29278?

[2018-12-19 09:40] matthiasr commented on #71071
We have been using IPVS since May and had no issues in 1.12.1 and 1.11.1.

[2018-12-19 09:43] uablrek commented on #71305
When using nf_tables mode rules are added indefinitely to the `KUBE-FIREWALL` chain;
[code]
in both proxy-mode ipvs and iptables.

[2018-12-19 09:51] matthiasr commented on #71071
We also saw this happen on several, but by far not all nodes, after upgrading to 1.12.3. The affected nodes stopped updating IPVS a few hours after the upgrade, but not in a coordinated way that I could discern.

One thing to note is that kube-proxy also stopped logging completely at that time, so it appears like it got completely stuck.

[Log file showing it get stuck, and a goroutine dump after

[2018-12-19 10:05] tvishwanath-arkin opened #72195 "Enable api-server to return only selfLinks on list APIs"
**What would you like to be added**:
It would be good to have only selfLinks returned by the api-server on List based resource apis.
Ex: /api/v1/namespaces/default/pods?linksOnly=true

**Why is this needed**:
As the work load increases, the list apis tend to become slow due to retrieval of entire pod object.
Returning links can have following benefits
1) Quick response for users who just want to k

[2018-12-19 10:11] abdennour opened #72196 "Support Regex with --field-selector in kubectl"
**What would you like to be added**:
Support Regex with `--field-selector` in `kubectl`

i.e:

[code]

**Why is this needed**:

The current `--field-selector` of  kubectl (v1.13) is too basic. At the time of opening this issue, It accepts only two operators: `=` and `!=`.

/kind feature

[2018-12-19 10:14] murdav commented on #69697
examples removing for finalizers

`kubectl patch pvc db-pv-claim -p '{"metadata":{"finalizers":null}}'`
`kubectl patch pod db-74755f6698-8td72 -p '{"metadata":{"finalizers":null}}'`

then you can delete them

[2018-12-19 11:03] gjcarneiro commented on #71071
@matthiasr's log file again shows a goroutine stuck reading from netlink socket.  Same as me.

You could argue that there is some logic error causing too many interactions with netlink socket.  But if the communication with netlink is not solid, ipvs will get stuck eventually.  If the logic error gets fixed, it might take a lot longer to reach this state, but it doesn't mean it cannot happen given

[2018-12-19 11:08] nmiculinic opened #72197 "Kube-proxy --> not setting up route in ipvs mode (race condition/cannot easily replicate)"
**What happened**:
I used pod with a service to it. And I couldn't connect to this pod via ClusterIP, while Pod IP worked as expected. It's not for all ClusterIP services, just for a particular one.

That is virtual IP, that is cluster IP didn't route properly.

**What you expected to happen**:

ClusterIP working and routing properly

**How to reproduce it (as minimally and precisely as possible)*

[2018-12-19 11:09] nmiculinic commented on #72197
/sig network

@kubernetes/sig-network

[2018-12-19 11:25] tsmgeek opened #72198 "Ability to update persistent volumes size in StatefulSet"
Now that v1.11 support volume resizing I thought that this should be followed all the way up though to StatefulSets templates which unfortunately it does not seem to be.
This makes it quite harder than it needs to be to update a statefulset.

`The StatefulSet "elasticsearch-data" is invalid: spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrat

[2018-12-19 11:34] Nebulazhang commented on #72181
I found in node yaml :
[code]
volumesAttached not match volumesInUse
[code]
attachDetachController thinks if the node Status is in use indicate the volume is attached, but my volume is not attached.

[2018-12-19 11:59] lurenjia528 commented on #68669
[code]

[code]

the port 10249 now can use the ip 192.168.xx

![image](https://user-images.githubusercontent.com/37833630/50218943-90408200-03c8-11e9-82a5-be25472ed333.png)

[2018-12-19 12:13] denkensk commented on #72078
@k82cn  I wonder if there is something wrong with my understanding? I find Scheduleinternalcache.PodFilter is already public.
[code]
Can you give me more information about this issue？Thank you so much~
/remove-help

[2018-12-19 12:22] bkalai321 commented on #64256
#!/bin/bash
set -e

regex="docker login -u (.+) -p (.+) -e (.+) (.+)"
if [[ $(python -m awscli  ecr get-login) =~ $regex ]]
then
  login=$(echo "${BASH_REMATCH[1]}:${BASH_REMATCH[2]}" | base64)
  echo "Configuring registry ${BASH_REMATCH[4]:8}..."
  dockerconfig="{\"auths\":{\"${BASH_REMATCH[4]:8}\":{\"auth\": \"${login}\"}}}"
  dockerconfigjson=$(echo ${dockerconfig} | base64)
  secret="apiVersio

[2018-12-19 12:34] geosword commented on #57801
For me, the deployment I was creating was specifying its own specific service account. I had assumed that the default service account would be attached in addition to any explicitly defined service accounts in the pod / daemonset / deployment manifest.
Once I added the docker secret to the service account mentioned in the deployment, it worked as expected.

[2018-12-19 13:31] prabhakar-pal commented on #5762
/reopen

[2018-12-19 14:06] aermakov-zalando commented on #72129
@k82cn

That might've been the intention, but that's not what we observed in practice (at least on 1.11.5, maybe it's fixed in 1.12). Even after the node was properly tainted, the scheduler kept scheduling stuff there. I've just tried doing the same thing and I can clearly see the pod getting scheduled:

[code]

[code]

[code]

[code]

[2018-12-19 14:58] liggitt commented on #72196
Field selectors are evaluated server-side, and server-side regex support is not planned.

/close

[2018-12-19 14:58] #72196 closed

[2018-12-19 15:02] nebril commented on #51376
Seems like this was fixed recently.

[2018-12-19 15:04] Shnatsel commented on #72148
Duplicate of #72147

[2018-12-19 15:07] liggitt commented on #72195
You can request just the metadata for objects with an `Accept` header of `application/json;as=PartialObjectMetadataList;v=v1beta1;g=meta.k8s.io`

[2018-12-19 15:09] liggitt commented on #14733
can this be closed, now that #72096 is merged?

[2018-12-19 15:11] liggitt commented on #72195
duplicate of https://github.com/kubernetes/kubernetes/issues/1459, currently addressed by the ability to request only metadata

/close

[2018-12-19 15:11] #72195 closed

[2018-12-19 15:11] Shnatsel commented on #72147
@ckurdekar  it sounds like you're looking for support. Support is not offered through Github, but there are a number of places you can check.

[vSphere storage documentation](https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/) might be helpful here. If it does not cover this use case, the community on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) shoul

[2018-12-19 15:11] Shnatsel commented on #72147
/triage support

[2018-12-19 15:11] wojtek-t commented on #14733
It's a matter of promoting the API and the feature to GA.
But I guess we don't need this bug to be opened and we should open another one for it...
So I think it's fine

[2018-12-19 15:15] benmoss commented on #69901
related to https://github.com/moby/moby/issues/37832

[2018-12-19 15:16] liggitt commented on #72187
this is working as designed. attempts to re-establish a watch from a resourceVersion that is no longer available return a `410 Gone` error, prompting the caller to re-list objects and obtain a new current resourceVersion to watch from

/close

[2018-12-19 15:16] #72187 closed

[2018-12-19 15:19] Shnatsel commented on #72198
This seems to be a feature request. I'm going to label it as such, please correct me if I'm wrong.

/remove-kind bug
/kind feature
@kuberneres/sig-storage-feature-requests
@kuberneres/sig-cluster-lifecycle-feature-requests

[2018-12-19 15:21] liggitt commented on #72186
are those pods using host network?

[2018-12-19 15:21] Shnatsel commented on #72198
Reiterating mentions so that the bot hopefully picks them up

@kubernetes/sig-storage-feature-requests

@kubernetes/sig-cluster-lifecycle-feature-requests

[2018-12-19 15:38] wojtek-t commented on #14733
On a related note - I just started working on promoting API to v1 - will send out a PR later today or tomorrow.

[2018-12-19 15:43] Shnatsel commented on #72146
The good news is that don't have to wait for someone else to do it - you can propose cherry-picking the fix yourself!

Here's the process to do that:

1. Find original pull request that fixed the issue
1. Run the cherry-picking script with that PR's number: https://github.com/kubernetes/kubernetes/blob/master/hack/cherry_pick_pull.sh - this will create pull requests cherry-picking the fix
1. Reque

[2018-12-19 15:43] Shnatsel commented on #72146
/sig network

[2018-12-19 15:45] Shnatsel commented on #72197
Does what you're observing look similar to the symptoms described in #66509 ?

It would probably help if you could run the diagnostics command suggested on that issue and post the output.

[2018-12-19 15:50] amelbakry commented on #70363
The same question came to my mind. I have deployments with sometimes more than 200 pods, and there is no way to equally distribute the pods to the nodes. but sometimes I see pod with 60 pods and pod with 2 pods, so I need to distribute pods manually

[2018-12-19 15:51] ramnes commented on #23880
The funny thing is that you can do that with a ClusterIP service.

[2018-12-19 15:55] arianvp commented on #23880
Not really. ClusterIP only works for cluster-internal IP addresses and
won't expose the service outside of the cluster.

On Wed, Dec 19, 2018, 16:52 Guillaume Gelin <notifications@github.com wrote:

[2018-12-19 15:57] Shnatsel commented on #72181
Sounds like a race condition. Tagging @kubernetes/sig-storage-bugs who are responsible for the relevant controller.

[2018-12-19 15:57] gacopl commented on #70363
my experience is that when limits and requests are set properly the scheduler schedules evenly thing is it does that only during scheduling so sometimes manual action needs to be done to delete podsc so they get rescheduled on new nodes etc

[2018-12-19 15:58] ramnes commented on #23880
I know. I'm just saying that you can use both TCP and UDP in a ClusterIP service.

I know. I'm just saying that you can use both TCP and UDP in a ClusterIP service.

[2018-12-19 16:01] jebeaudet commented on #61486
Any update on this? We got bit by this issue yesterday

[2018-12-19 16:11] amelbakry commented on #70363
I reached a situation where 62% of the pods where running only in 2 nodes, and all remaining pods were running on 9 nodes

[2018-12-19 16:11] emptywee commented on #71071
@lbernail while it's a bit cumbersome to switch the whole cluster to ipvs, if this is going to help nailing this issue down, I am down. Tell me the image name to use and I'll do whatever in my power to help you with this.

[2018-12-19 16:31] bjornryden commented on #71071
We've reverted to IPVS on 1.11.6 to see if we can recreate our problem. Logging set to 5 and running some activity in the cluster over the next days. I won't be working tomorrow, but I will pop online to see if there's an image with increased logging that I should change to.

[2018-12-19 16:31] aveshagarwal commented on #70363
You could try https://github.com/kubernetes-incubator/descheduler in your scenario.

[2018-12-19 16:32] aveshagarwal commented on #70363
Right.

Instead of manual, you could try https://github.com/kubernetes-incubator/descheduler too.

[2018-12-19 16:34] lbernail commented on #64616
/remove-lifecycle stale

We would also be interested in this (merging default cluster tolerations with the whitelist to avoid having to add them explicitly)

[2018-12-19 16:40] zvonkok commented on #63838
cc @jeremyeder

[2018-12-19 16:41] amelbakry commented on #70363
Thanks a lot, I will try it

[2018-12-19 17:33] liggitt commented on #61572
`--minify` removes all info except that used by the current context

[2018-12-19 17:50] erks commented on #61486
Possible workaround: https://v1-10.docs.kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#services-with-externaltrafficpolicy-local-are-not-reachable

[2018-12-19 18:18] chrisghill commented on #24725
I also have a use case like @kachkaev where I would prefer to have a pod die and be rescheduled as a new pod than be restarted.  This feature would be useful.

[2018-12-19 18:51] liggitt commented on #72160
labels and annotations are borderline... we've had built-in conversions that did things to those fields before...

I would tend to say the rest of the metadata fields should not be touched by conversion. @mbohlool, thoughts?

[2018-12-19 18:55] mattsmithdatera opened #72207 "CSI Partial StagingPath Creation During NodeStageVolume Request"
**What happened**: Created an application with a CSI PVC volume and the CSI
plugin attachment fails due to partial path creation of the staging target path
in the NodeStageVolume request.  This occurred on a 3-node kubernetes cluster

**What you expected to happen**:
I expected the staging target path in the CSI request to be fully created by
the CO based on the CSI spec shown here:
https://github

[2018-12-19 18:56] mattsmithdatera commented on #72207
/sig storage

[2018-12-19 19:03] DevilMayCrySamsara commented on #69973
How was the problem solved?

[2018-12-19 19:10] #58988 closed

[2018-12-19 19:15] bizzard4 commented on #68222
+1 As I would really like to use wildcard or regex with my copy command

[2018-12-19 19:38] caesarxuchao commented on #68854
/remove-lifecycle stale
/assign

[2018-12-19 19:48] msau42 commented on #72181
You may want to reach out to Tencent for support.  qcloud-cbs is not supported in upstream kubernetes

[2018-12-19 19:50] msau42 commented on #72198
cc @gnufied

[2018-12-19 20:09] misterikkit commented on #71866
Hi @bhavin192, let me know if my previous comment made sense. If you feel stuck on this issue, I want to fix that.

[2018-12-19 20:23] puneetsar opened #72212 "Kubectl rollout status never finishes for StatefulSets [on kubectl "v1.13.0"]"
**What happened**:
kubectl rollout status does not work for stateful sets. gets stuck with this message:

Waiting for partitioned roll out to finish: 0 out of 3 new pods have been updated...

**What you expected to happen**:
After all pods have come up fine, rollout status should have succeeded.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a statefulset, and watch for

[2018-12-19 20:24] puneetsar commented on #72212
/sig cli

[2018-12-19 20:33] enleur commented on #61625
Still actual

/reopen

[2018-12-19 20:36] ixdy commented on #72032
Still need to merge #72071 for k8s 1.13.

[2018-12-19 21:20] faheem-cliqz commented on #28969
/remove-lifecycle stale

[2018-12-19 22:08] pjo256 opened #72216 "kubectl rollout status should support multiple resources"
**What happened**:
[code]

`kubectl rollout status -R -f deployments` fails with `error: rollout status is only supported on individual resources and resource collections - 2 resources were found`.

**What you expected to happen**:

The [docs](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-status-em-) suggest that `-R` should work for multiple resources in a directory

[2018-12-19 22:14] pjo256 commented on #72216
/sig cli

[2018-12-19 22:50] PatMyron commented on #54474
/remove-lifecycle rotten
/remove-lifecycle stale

[2018-12-19 22:53] PatMyron commented on #54474
/reopen

[2018-12-19 23:09] cjcullen commented on #69689
Right now, Google group membership is not included in the authentication information that Kubernetes sees, so using those groups in RBAC bindings will not have any effect. We are thinking through how to make that work in a sane and scalable way.

If you want a "minimum role for Kubernetes, check out the [container.ClusterViewer](https://cloud.google.com/kubernetes-engine/docs/how-to/iam#predefined

[2018-12-19 23:17] hognala commented on #61406
/reopen
/remove-lifecycle rotten

[2018-12-19 23:18] hognala commented on #61406
This is still an issue. Can you fix it? I can't reopen it

[2018-12-19 23:28] hognala opened #72220 "Regular expressions not working in json-path"
This is a duplicate of #61406, which was closed because it was stale (I couldn't reopen it)

**What happened**:
Trying to use the following json-path expression:
`kubectl get secrets -o jsonpath='{.items[?(@.metadata.name=~/^test$/)].metadata.name}'`
resulted in the following error:
`error: error parsing jsonpath {.items[?(@.metadata.name=~/^test$/)].metadata.name}, unrecognized character in actio

[2018-12-19 23:30] malizz commented on #64002
Same problem with istio-1.0.4.
I have deleted all the resources, secrets, configmaps, ServiceAccounts related to istio.
Neither `delete --force` nor editing the namespace work.

[2018-12-20 00:11] cheftako commented on #60601
/remove-lifecycle stale

[2018-12-20 00:38] bsalamat commented on #71486
All of the above items are done already.

[2018-12-20 00:38] #71486 closed

[2018-12-20 01:08] misterikkit commented on #68488
/remove-lifecycle stale
/close

I think this was fixed by https://github.com/kubernetes/kubernetes/pull/68497 and we can close the issue.

[2018-12-20 01:08] #68488 closed

[2018-12-20 01:14] jberkus opened #72224 "gce-cos-master-serial core dumping"
**Which jobs are failing**: gce-cos-master-serial

**Which test(s) are failing**: the whole job is core dumping

**Since when has it been failing**:  Dec. 18th

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-serial

**Reason for failure**:

Core dump from ginko:

[code]

**Anything else we need to know**:

/kind failing-test
/sig testing
/sig release

[2018-12-20 01:18] rkttu commented on #65163
@daschott I tried to test whether this problem was solved by replacing WinCNI plug-in with WinBridge and HostLocal plug-in, as advised by Seattle last time, but this did not solve the problem. The current version of K8s I build is 1.10.7, the existing cluster uses kubenet as a network plugin, and the MTU setting is 9001.

[2018-12-20 01:33] s-ito-ts opened #72225 "Test to reboot the node should be skipped when using local-up-cluster.sh."
**What happened**:
Run the following test using the cluster set up by local-up-cluster.sh will reboots own node.

[It] each node by ordering clean reboot and ensure they function upon restart
[It] each node by ordering unclean reboot and ensure they function upon restart

**What you expected to happen**:
The mentioned tests should be skipped when using local-up-cluster.sh.

**How to reproduce it (

[2018-12-20 01:37] s-ito-ts commented on #72225
/sig testing

[2018-12-20 01:56] jberkus commented on #72016
Is this the reason for this error, or is that a new problem?

[code]

[2018-12-20 01:59] misterikkit commented on #67589
Sorry I didn't find this issue when I filed https://github.com/kubernetes/kubernetes/issues/71819. It looks like there are two PRs trying to improve scheduler logging right now.

https://github.com/kubernetes/kubernetes/pull/71926
https://github.com/kubernetes/kubernetes/pull/72011

Also, I think the scheduler today logs pods that cannot be scheduled.

[2018-12-20 02:01] misterikkit commented on #50569
Might be worth mentioning that this project exists: https://github.com/LiliC/kube-start-stop

[2018-12-20 02:12] BenTheElder commented on #72224
so the test-infra change that I would suspect if it was us merged here: https://github.com/kubernetes/test-infra/commit/74a6b442efb506394917e0629d9aae1b97114c15

[2018-12-20 02:12] BenTheElder commented on #72224
1:41 PM PST on the 18th for that

[2018-12-20 02:20] patelrit commented on #65879
We are seeing the same problem with k8s v1.11.5 for certain pods. Kubelet runs in a container.
OS: Ubuntu 16.04.5 LTS
Docker Version: 17.06.0-ce

[2018-12-20 02:37] JishanXing commented on #72102
This is an etcdv3 client issue. See [.](https://github.com/etcd-io/etcd/issues/9949)

[2018-12-20 02:38] jberkus commented on #72224
Timing works ...

[2018-12-20 03:00] sukai127 commented on #66231
Get it work by running master as node, (run kubelet, kube-proxy, calico on master nodes).

The reason may be `apiservice` object need lookup `metric-server` svc to get metric.

You can run `kubectl describe apiservice v1beta1.metrics.k8s.io` get more details.

the result should be :
[code]

[2018-12-20 03:14] dantingl opened #72226 "Pod stuck on Terminating after node lost"
**What happened**:
One pod is running on a worker node. After the node poweroff, the pod was stuck on 'Terminating' status. From pod metadata, its status is still 'Running'.

**What you expected to happen**:
The pod status should change to 'NodeLost'.

**How to reproduce it (as minimally and precisely as possible)**:
1. apply pod1 in node1
2. poweroff node1
3. after several minutes, pod1 gets stuc

[2018-12-20 03:19] karataliu opened #72227 "AAD support in kubectl does not work well for sovereign cloud"
**What happened**:
AAD support in kubectl does not work for sovereign cloud
The 'environment' parameter was introduced to support sovereign cloud, but it works in first round.
The 'environment' value is not persisted, so follow-up requests will fail.

[code]

**What you expected to happen**:
'environment' parameter persisted in kubectl config file.

**How to reproduce it (as minimally and precisel

[2018-12-20 03:46] yue9944882 commented on #72192
+@caesarxuchao @kubernetes/sig-api-machinery-misc thoughts?

[2018-12-20 04:16] liggitt commented on #72192
The in memory object cache is uid-keyed. If the cache already had the target object in it, the cache lookup by uid would indicate the object existed. I don't think the type of the object in the cache is currently checked.

On restart, before the cache is filled, if the owner reference is seen and the cache does not yet contain the uid object, a live lookup would be done, fail with a 404 error, and

[2018-12-20 04:17] liggitt commented on #72192
Increasing the specificity of the key could make sense… would want to check how much that grew the cache size

[2018-12-20 05:11] PrasadG193 commented on #71016
@dims @wenjiaswe @cheftako AFAIU We need to update this dependency in all the repos under https://github.com/kubernetes/kubernetes/tree/master/vendor/k8s.io. Should we create a PR against each repo? I guess these tests will not pass until we merge changes in vendored repos.

[2018-12-20 05:13] andyzhangx opened #72228 "change azure disk host cache to ReadOnly"
**What happened**:
change azure disk host cache to ReadOnly
The default value `None` would lead to slow perf. And according to below doc: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage-performance#disk-caching

default host cache should be `ReadOnly`, the reason why we use “cachingMode: None” by default in k8s is that there is a famous disk bug due to this cachingM

[2018-12-20 06:04] #72227 closed

[2018-12-20 06:31] srmocher commented on #72080
Can this be assigned to me. I can start working on this with the provided context.

[2018-12-20 06:43] bholagabbar-mt opened #72231 "Kubernetes Rolling Update not obeying 'maxUnavailable' replicas when redeployed in autoscaled conditions"
**What happened**:

Our apps are configured with the following `strategy` in the Deployment -

      strategy:
        rollingUpdate:
          maxSurge: 25%
          maxUnavailable: 25%
        type: RollingUpdate

The Horizonatal Pod Autoscaler is configured as so
[code]
When our application was redeployed, instead of running a rolling update, it instantly terminated 8 of our pods and dropped t

[2018-12-20 07:11] k82cn commented on #72129
Also agree to disable this feature by default, let's re-enable it when race condition and version skews are handled :)

[2018-12-20 07:18] maktouch commented on #72186
@liggitt

ip-masq-agent: yes
kube-proxy: yes
node-exporter: yes
ingress-nginx: no

[2018-12-20 07:30] wojtek-t commented on #72016
@jberkus - yes. I already asked @krzysied offline to bump those limits - in the original PR I was also claiming they are too strict, and apparently I was right...

[2018-12-20 07:49] krzysztof-jastrzebski commented on #72129
@k82cn
Is it working as @aermakov-zalando  described in previous comment?

[2018-12-20 08:32] fejta commented on #68907
/remove-lifecycle stale
/help

[2018-12-20 08:32] fejta commented on #68907
This could be as simple as editing:
https://github.com/kubernetes/kubernetes/blob/fbc7114734da7e15e2dc4c476d2546b333a93bc2/hack/ginkgo-e2e.sh#L143-L171

[2018-12-20 08:37] BenTheElder commented on #72224
Will look into this more tomorrow. This sort of thing should NOT have been a problem, but our tests tend to wind up coupled to the environment 😕

[2018-12-20 08:57] lurenjia528 commented on #64193
/close

[2018-12-20 08:57] #64193 closed

[2018-12-20 08:59] dantingl commented on #72226
/sig scheduling

[2018-12-20 09:00] BenTheElder commented on #72224
this also went in during that time: https://github.com/kubernetes/kubernetes/compare/1d59ab05f...12be140dc, it seems suspicious that an image change would take us from "the job works and takes just over 6 hours" to "the job hangs somewhere near the end and terminates after 8+ hours"
cc @andrewsykim

[2018-12-20 09:16] xiaoxubeii commented on #72226
/assign

[2018-12-20 09:17] bhavin192 commented on #71866
Hey @misterikkit yes, I got the point, thank you for the explanation, will let you know if I feel stuck.

[2018-12-20 09:21] lovejoy commented on #61171
there is a script https://github.com/morvencao/kube-mutating-webhook-tutorial/blob/master/deployment/webhook-create-signed-cert.sh is useful.   for anyone else facing same problem

[2018-12-20 09:22] fasaxc opened #72236 "In IPVS mode, host services become available on ClusterIPs"
**What happened**:

In IPVS mode, if a service on the host is listening on `0.0.0.0:<some port>`, pods on the local host (or incoming traffic from other hosts if routing allows it) to any ClusterIP on `<some port>` reaches the host service.

For example, a pod can access its host's ssh service at something like `10.96.0.1:22`

**What you expected to happen**:

ClusterIPs should reject or drop traf

[2018-12-20 09:23] fasaxc commented on #72236
/sig network

[2018-12-20 09:37] nielsole commented on #51835
Manually deleting the container, lead to the following docker log entry:

[code]

[2018-12-20 10:00] krzysied commented on #72016
@wojtek-t @jberkus There were some changes in clusterloader. Those changes resulted with increased  lb-controller cpu usage.
PR https://github.com/kubernetes/perf-tests/pull/352 will bump up resource constraint.

[2018-12-20 10:20] mhulscher opened #72237 "kubelet 1.13 does not configure Node status.addresses[].Hostname"
**What happened**:
When starting kubelet 1.13.1 the resulting Node object does not contain a Hostname as a valid address. This leaves the InternalIP as the only valid address. We run Kubernetes in Kubernetes and the InternalIP is not routable from the kube-apiserver, we rely on the hostname. Without the hostname, there is no way for the kube-apiserver to connect to the kubelet.

**What you expecte

[2018-12-20 10:20] mhulscher commented on #72237
@kubernetes/sig-node-bug

[2018-12-20 10:36] hhjie commented on #71853
-

[2018-12-20 10:43] hhjie commented on #71853
@andyzhangx  我按照不的方案。分别在三个文件中放入了配置：
![image](https://user-images.githubusercontent.com/22421087/50280001-52099800-0486-11e9-9f07-f433d40a0e9c.png)
![image](https://user-images.githubusercontent.com/22421087/50280039-69488580-0486-11e9-81de-1a7bc32c4c42.png)
以及：
/etc/systemd/system/kubelet.service.d/10-kubeadm.conf
![image](https://user-images.githubusercontent.com/22421087/50280201-da883880-0486-1

[2018-12-20 10:50] andrewsykim commented on #72224
https://github.com/kubernetes/kubernetes/pull/70344 was a pretty big change so please let me know if there's anything I can do to help here. I couldn't find anything related to it digging into the logs but maybe I was looking at the wrong place.

[2018-12-20 10:52] tathagatkhanorkar opened #72238 "Kubernetes dashboard is not coming up"
**What happened**:
Kubernetes dashboard is not coming up.
I have a kubernetes cluster and a node

 $kubectl get pods --all-namespaces

 NAMESPACE     NAME                                 READY     STATUS    RESTARTS   AGE
kube-system   coredns-86c58d9df4-lrrmx             1/1       Running   0          2h
kube-system   coredns-86c58d9df4-zf2sz             1/1       Running   0          2h
kube-sys

[2018-12-20 11:29] sandeep-kotha opened #72240 "set --insecure-port to 0 breaks kube-addon-manager"
/triage support

Kubernetes Version: 1.12.1
kube-addon-manager: k8s.gcr.io/kube-addon-manager-amd64:v8.7
kube-apiserver: k8s.gcr.io/hyperkube-amd64:v1.12.1

- Lock down Insecure port on API server set --insecure-port to 0

- Kubectl logs kube-addon-manager  -n kube-system. You see an error
The connection to the server localhost:8080 was refused - did you specify the right host or port?
WRN: == Err

[2018-12-20 11:33] sandeep-kotha commented on #72240
@kubernetes/sig-contributor-experience-bugs

[2018-12-20 11:35] sandeep-kotha commented on #72240
@kubernetes/sig-cluster-lifecycle

[2018-12-20 11:36] mhulscher commented on #72237
/sig node

[2018-12-20 11:36] sandeep-kotha commented on #72240
@kubernetes/sig-contributor-experience-bugs

[2018-12-20 11:38] sandeep-kotha commented on #72240
/sig azure

[2018-12-20 11:39] sandeep-kotha commented on #72240
/sig cluster-lifecycle

[2018-12-20 11:57] nikhita commented on #68787
/remove-lifecycle stale

[2018-12-20 12:00] marwinski commented on #48719
We are experiencing the same issue with Gardener on the Azure platform (I am quite sure it also hits AKS but they may not know that yet). We found this only after investigating why our clusters were sometime behaving sloppy.

Problem is that one component in AKS makes quite aggressive re-use of ports (we are in contact with Azure to figure out why that is happening - in general however this does n

[2018-12-20 12:11] xuezm01 commented on #67702
Il n 'y a pas de question dans la version 1.11, mais dans les kubernets 1.13.1, j' ai trouvé la question.
[code]

[2018-12-20 12:30] pohly commented on #68888
RBAC roles are now namespaced or renamed where necessary (see test/e2e/framework/create.g), so this can be considered resolved.

[2018-12-20 12:30] #68888 closed

[2018-12-20 12:38] lbernail commented on #71071
@matthiasr : `1.12.3` definitely has a problem (see the rest of this thread). Part of it is solved in `1.12.4`. You will get a lot less errors in logs. All these should disappear: `Failed to add destination: 10.zz.yy.xx, error: file exists`

We still have the issue where kube-proxy seems to hang an no longer updates real-servers.
I looked into it a bit more:
- from @emptywee it seems that after th

[2018-12-20 12:39] pohly opened #72242 "E2E storage: simplify test code and configuration"
**What would you like to be added**:

When `test/e2e/storage/testsuites` was created, it reused some existing tests and utility code in test/e2e/framework and even exposed "legacy" structs like `framework.VolumeTestConfig` in the `testsuites` API. PR #70862 replaces the public test configuration with a simpler struct, but did not get rid of the the internal `framework.VolumeTestConfig` entirely.

[2018-12-20 12:39] pohly commented on #72242
/sig storage

[2018-12-20 12:46] andyzhangx commented on #71853
the log shows it could not find the `azure.json` file, you should use `hostPath` volume mapping, e.g.
https://github.com/andyzhangx/demo/blob/master/acs-engine/deployment/etc/kubernetes/manifests/kube-apiserver.yaml#L26

[2018-12-20 13:00] lbernail commented on #71071
Interestingly only the new version of libnetwork has netlink timeouts:

libnetwork was upgraded in all release branches (1.11, 1.12 and 1.13) to allow for graceful termination. we went from: `ba46b928444931e6865d8618dc03622cac79aa6f` to `a9cd636e37898226332c439363e2ed0ea185ae92 `

In the older version, the code was: https://github.com/docker/libnetwork/blob/ba46b928444931e6865d8618dc03622cac79aa6f

[2018-12-20 13:43] cosmin-ionita commented on #72158
Any status on this issue? I'd also like to take it / work on it

[2018-12-20 14:00] ankon commented on #56770
I agree this is a bug, but by now it's probably somewhat difficult to fix? At least looking at my infrastructure we now everywhere have the paths without a leading '/'.

[2018-12-20 14:03] lbernail commented on #71071
After putting some more thoughts on the issue, I think it comes from the fact that we now have two goroutines using the same netlink socket (because the gracefulTerminationManager runs in its own goroutine and shares the utilipvs.Interface with the proxier).

We could probably add a mutex in all calls in `pkg/util/ipvs/ipvs_linux.go` to make sure a single goroutine is using the netlink socket at a

[2018-12-20 14:08] Shnatsel opened #72244 "Namespaces "Terminating" forever, even after the APIService blocking termination is gone"
**What happened**: In presence of an unresponsive APIService namespaces will not be deleted, but will be stuck in "Terminating" state forever. Deleting the unresponsive APIService will make deletion of newly created namespaces succeed, but namespaces already in "Terminating" state will be stuck forever.

**What you expected to happen**:
1. After deleting the unresponsive API namespaces should be d

[2018-12-20 14:30] liggitt commented on #72186
it is expected that host network pods will have their IP set to the node's IP (which means multiple pods will have the same IP):

https://github.com/kubernetes/kubernetes/blob/0c7e207904edfd2f934cbcf3167229fc9d491dca/pkg/kubelet/kubelet_pods.go#L1361-L1363

Can you provide the output of the following:
[code]

[2018-12-20 14:34] liggitt commented on #72186
fyi, a couple issues around pod IPs and routing to pods were recently fixed in the 1.11.2 stream (not a duplicate IP issue, but related to pod IPs and the symptoms are similar to your unreachable pod issue):

https://cloud.google.com/kubernetes-engine/release-notes#december-17-2018
https://cloud.google.com/kubernetes-engine/release-notes#december-10-2018

`1.11.2-gke.26` contains fixes for both of

[2018-12-20 14:41] maktouch commented on #72186
[code]

This is the only thing remaining when I figured out it had a conflict. Unfortunately, this happened on a production cluster so I had to kill the node to repair it because the error rates were thru the roof.

`ingress-ws-nginx-ingress-controller-tcf9x` is not using hostNetwork, and it's not on the same machine as the conflicting `fluentd-gcp-v3.1.0-n4nhg`

I'll make sure to run those 2 comm

[2018-12-20 14:55] liggitt commented on #72186
does the custom pod address range you specified overlap with node or service IP ranges?

[2018-12-20 15:04] katanyoussef commented on #52068
kevin-wangzefeng : thanks for the big help, to install the kubeadm need to install 3 pckgs and the CNI pckgs and copy them i have done it all good and Kevin provide what i was messing thanks you are great...NOW i need to know how to deploy : see that Master Node is listed as not ready. Because the cluster does not have a Container Networking Interface (CNI).

Let’s deploy a Calico CNI for the Mast

[2018-12-20 15:20] liggitt commented on #72237
what cloud provider are you using?

[2018-12-20 15:47] liggitt commented on #72240
running in a pod or mounting in credentials to the default location or setting KUBECONFIG both work for configuring the add-on manager to authenticate to the apiserver

/close

[2018-12-20 15:47] #72240 closed

[2018-12-20 15:52] zhangxiaoyu-zidif commented on #40358
do we have some plan and scheduler to discuss this, very interested in it.

[2018-12-20 15:59] emptywee commented on #71071
@lbernail No, there's no entries from those files anywhere after 21:30.
Here's the last entries for various files:

Last entries from graceful_termination.go
[code]

Last entries from proxier.go:
[code]

Last entries from ipset.go:
[code]

They all ended logging at around 21:18... Does it give any clues?

[2018-12-20 15:59] zhangxiaoyu-zidif commented on #71930
@xiaoxubeii
Some app replicas have strong demands on some node resource. Maybe one replicas or two will occupies most of one kind resource, so spreading them is very necessary. anti-affinity only drains other replicas and remains one in this node, but sometimes we could deploy two replicas on this node. So setting one accurate number for the replicas is useful.

[2018-12-20 16:00] mhulscher commented on #72237
An external one implemented as a CCM. Is the CCM responsible for setting this field?

[2018-12-20 16:02] liggitt commented on #72238
dashboard issues are tracked in https://github.com/kubernetes/dashboard

please re-file this there, thanks.

/close

[2018-12-20 16:02] #72238 closed

[2018-12-20 16:07] liggitt commented on #72237
yes. when `--cloud-provider=external` is set, the node does not set any address information itself.

https://github.com/kubernetes/kubernetes/blob/0c7e207904edfd2f934cbcf3167229fc9d491dca/pkg/kubelet/nodestatus/setters.go#L75-L84

that was true in 1.11 as well:

https://github.com/kubernetes/kubernetes/blob/b875d52ea96d2944468de43be21e9c059a662968/pkg/kubelet/kubelet_node_status.go#L456-L465

did

[2018-12-20 16:13] liggitt commented on #72180
More information is required to understand what the problem is. Please provide kubelet logs and controller-manager logs

[2018-12-20 16:16] lbernail commented on #71071
@emptywee Yes it confirms the hypothesis that we have a deadlock between the two goroutines sharing the netlink socket. They are both stuck waiting to receive messages and keep retrying without success (due to the 3s receive timeout).

I'll try to validate the hypothesis and will start working on a fix as soon as I can

[2018-12-20 16:20] liggitt commented on #72220
regular expressions are not yet supported in the jsonpath evaluator, marking this as a feature. since this is also used server-side, we need to make sure any addition doesn't open allow pathological expressions to DOS the apiserver

[2018-12-20 16:30] liggitt commented on #70952
/close
missing information about the kubelet identity (username and groups)

[2018-12-20 16:30] #70952 closed

[2018-12-20 16:31] liggitt commented on #71606
/close

[2018-12-20 16:31] #71606 closed

[2018-12-20 16:31] #66454 closed

[2018-12-20 16:31] liggitt commented on #67601
/close

[2018-12-20 16:31] #67601 closed

[2018-12-20 16:53] #70615 closed

[2018-12-20 16:57] BenTheElder commented on #72224
Thanks @andrewsykim, I'm in the same boat. Comparing the logs between the previous and very broken run I'm seeing the timeout + large panic at the end but not clear what the underlying issue is yet.

[2018-12-20 17:00] andrewsykim commented on #72224
I couldn't find the panic, can you copy/paste the panic trace here?

[2018-12-20 17:14] luxas commented on #71752
Shouldn't we create the bootstrap RBAC rules by default for the scheduler and kcm wrt this now @liggitt @sttts?

[2018-12-20 17:18] jasoncwik commented on #66222
Has the fix made it into minikube yet? I'm still seeing the issue in 0.31.0

[code]

[2018-12-20 17:31] k82cn commented on #72078
It's in `internal` package

[2018-12-20 17:38] bhavin192 commented on #71866
While importing `pkg/scheduler/factory` in `pkg/scheduler/algorithm/predicates` I'm getting circular dependency error,

[code]

[2018-12-20 17:49] jingxu97 commented on #72181
@Nebulazhang Could you please share more logs so that we can help investigate this issue? VolumeInUse means the volume is mounted from kubelet side. Attach_detach_controller checks this field so that it can make sure to only detach volumes that are not mounted. And also even if a volume is in VolumeInUse list, it indicates the volume might be already mounted or will be mounted very soon. So it doe

[2018-12-20 17:51] smarterclayton commented on #72244
It would have been better if namespaces had status and the namespace deletion controller wrote that message into namespace status

[2018-12-20 17:56] cjcullen commented on #72236
@rramkumar1 @prameshj @bowei

[2018-12-20 17:59] rramkumar1 commented on #72236
/assign @m1093782566

[2018-12-20 18:10] davidmichaelkarr opened #72247 "Get "more than one authentication method" error with --kubeconfig and --token options"
/sig bugs

I already posted a question about this on StackOverflow, which got one question about what version I'm using, and that's all. I'll include the version info here.

We have a situation where we can consistently get errors like this:
[code]
Our "default.config" file looks something like this:
[code]
From the context of the config file and our parameters, it makes it seem like kubectl think

[2018-12-20 18:33] #66508 closed

[2018-12-20 19:06] resouer commented on #68315
Close in favor of #71399

[2018-12-20 19:06] #68315 closed

[2018-12-20 19:16] Huang-Wei commented on #72129
/sig scheduling

[2018-12-20 19:39] k82cn commented on #72129
It should be `foo=bar:NoSchedule` if you don-t want to schedule pod.

[2018-12-20 20:00] gnufied commented on #72181
Also, is this a CSI driver or a Kubernetes+tencent changes? If yes, without looking at driver code it may be hard to fix this.

[2018-12-20 20:09] liggitt commented on #62044
We'll want this specifically for the extensions/v1beta1 group as we start turning off the deprecated resources in that group. Opened https://github.com/kubernetes/kubernetes/pull/72249 to add back support for it specifically in that API group.

[2018-12-20 20:13] ArjunSureshKumar92 commented on #61117
@grailsweb Having the same issue in aks v1.11.

[2018-12-20 20:13] jasoncwik commented on #66222
Looking at PR #66235, the fix was made in kubernetes core, not minikube. The error still exists in minikube: https://github.com/kubernetes/minikube/blob/master/deploy/addons/storageclass/storageclass.yaml#L9

[2018-12-20 20:36] #72125 closed

[2018-12-20 20:58] davidmichaelkarr commented on #72247
For any humans hanging around, is there something I have to do besides adding "/sig bugs" to the body of the issue?

[2018-12-20 21:16] cheftako commented on #67732
/remove-lifecycle stale

[2018-12-20 21:16] jingxu97 opened #72252 "CSI volume directory is not completely cleaned up after volume is unmounted"
**What happened**:
If a pod uses a CSI GCE volume, after the pod is deleted, the pod volume mount directory will be unmounted and deleted, but the data directory will not be removed.

The reason is in csi_mounter code here https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter.go#L381, it checks if mount path still exist. If it does not exit, it will skip the rest and retu

[2018-12-20 21:21] jingxu97 commented on #72252
cc @davidz627

[2018-12-20 21:33] Huang-Wei commented on #40358
@zhangxiaoyu-zidif I will try to come up with a design doc in 1.14, and if everything goes well, hopefully we can have this feature available as alpha in 1.15.

[2018-12-20 21:36] Kanshiroron commented on #65304
/remove-lifecycle stale

[2018-12-20 21:36] saad-ali commented on #72252
/milestone v1.13

Kubelet should ensure volume path is removed even if mount path is already deleted.

PR https://github.com/kubernetes/kubernetes/pull/68616 is also touching this code maybe we should this issue in that PR as well.

[2018-12-20 21:58] BenTheElder commented on #72224
It's really big, end of this log, just from the timeout I think. https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4473

[2018-12-20 22:02] jberkus commented on #72016
I feel like we need somewhere to track these resource usage increases -- and for that matter, discuss them.

[2018-12-20 22:05] aermakov-zalando commented on #72129
Yes, but `not-ready` is a `NoExecute` taint. Doesn't `NoExecute` imply `NoSchedule` as well?

[2018-12-20 22:10] kvaps commented on #68221
It would be nice to specify cluster using only server url, is there any trick for that?

[2018-12-20 22:11] Huang-Wei commented on #72129
@aermakov-zalando they're different. `NoExecute` impacts existing pods on the tainted node:

- if existing pod doesn't corresponding toleration, it will be applied with a toleration with 300 tolerationsSeconds (by admission controller) , and gets evicted afterwards
- if existing pod does have corresponding toleration, admission controller will bypass, and the existing pod will behave based on its

[2018-12-20 22:12] listx commented on #58012
/remove-lifecycle stale

[2018-12-20 22:20] aermakov-zalando commented on #72129
@Huang-Wei Yes, I understand that `NoExecute` also evicts. Would you mind explaining how it *should* work with regards to the scheduler? Is the scheduler allowed to schedule a pod on a node that has a `NoExecute` taint (I assume not)? Is it allowed to schedule a pod on a node if it has a `NoExecute` toleration?

[2018-12-20 22:29] krmayankk opened #72253 "Publish Test Results from Master Branch of Cri-o To http://prow.k8s.io"
In  order to promote [RunAsGroup](https://github.com/kubernetes/enhancements/issues/213) to beta, we want to make sure we have coverage for cri-o in CI.

Currently CRI-o is publishing tests results for every  PR to k/k  http://prow.k8s.io . We want to make sure only master branch tests results for CRI-O are being published to k/k for accuracy.

[2018-12-20 22:30] krmayankk commented on #72253
/sig auth

[2018-12-20 22:37] #66513 closed

[2018-12-20 22:43] caesarxuchao commented on #72192
liggitt's analysis is correct. Mapping liggitt's comment to GC's code, the "cache" mentioned in liggitt's comment is the internal [dependency graph](https://github.com/kubernetes/kubernetes/blob/29b3ec91089d0e213c15118e3c39087bcfbb6400/pkg/controller/garbagecollector/graph_builder.go#L100) maintained by the garbage collector.

The chain of events that lead to the dependent's deletion on controller

[2018-12-20 22:43] msau42 commented on #41598
Is there additional work that should be done for StatefulSets when using topology-aware dynamic provisioning to retain the default "zone spreading" behavior?  Or do we require users to explicitly set zone ant-affinity in their StatefulSets now?

[2018-12-20 22:45] liggitt commented on #72192
Immediate response is better than delayed response in this case, I think

[2018-12-20 22:48] k82cn commented on #72129
No

We also taint node with `NoSchedule` when it's not ready by https://github.com/kubernetes/kubernetes/pull/63471 and https://github.com/kubernetes/kubernetes/pull/67734

[2018-12-20 22:51] liggitt commented on #71411
Updated the description with a link to the document and recording of the post-mortem for this incident. Links to action items are in the document and reference this issue.

[2018-12-20 22:52] Huang-Wei commented on #72129
No, unless the pod has the mapped NoExecute toleration.

Yes.

`NoExecute` controls eviction behaviors, while `NoSchedule` controls scheduling behaviors. I would't say "NoExecute implies NoSchedule" b/c whether a pod can be scheduled onto tainted node is judged by a simple rule: whether the incoming pod tolerates all taints on target node.

For example, if target node has "foo=bar:NoExecute" taint

[2018-12-20 23:01] gnufied commented on #72198
There is some discussion underway here - https://github.com/kubernetes/kubernetes/pull/71384 . But I think we are going to need a proper KEP.

[2018-12-20 23:32] misterikkit commented on #71866
@bhavin192 Argh, you are right. This keeps happening to us as I try to move things around; I should have expected it. I can see a few different alternatives.

1. find a different destination for the registration code.
2. move the registration code into `factory` package
3. keep registration code in `default` package, but split up the code that does registering with the code that specifies lists of

[2018-12-20 23:43] shyamjvs commented on #53255
/remove-lifecycle stale

I think with blocking scalability presubmits and some deflaking of large-scale performance jobs, we're now in [a decent shape](https://testgrid.k8s.io/sig-scalability-gce). We can probably hold this off, at least for now.

@wojtek-t - WDYT?

[2018-12-20 23:44] dinathom commented on #5607
Is it true then that the only way in k8s to access host block device is to use a privileged container? So the volumeMode=Block would not mean anything (to read/write into the device) unless this is running in a privilege container?

[2018-12-20 23:51] fedebongio commented on #71975
/remove-sig api-machinery
/cc @janetkuo

[2018-12-20 23:52] fedebongio commented on #71975
/cc @yuwenma

[2018-12-20 23:53] fedebongio commented on #72024
/remove-sig api-machinery
/sig node
/cc @mtaufen

[2018-12-20 23:55] fedebongio commented on #72095
/cc @cheftako

[2018-12-20 23:55] fedebongio commented on #72102
/cc @jpbetz

[2018-12-20 23:56] kfox1111 commented on #5607
your application could read the block device directly too. stuff like, kvm would do that. or some databases. No privilege is needed in that case.

[2018-12-20 23:57] fedebongio commented on #72109
/remove-sig api-machinery
(waiting for networking to triage)