[2017-12-28 00:14] heckj commented on #57671
@kubernetes/sig-apps-bugs

[2017-12-28 00:15] heckj commented on #57671
Should I have seen an error somewhere that indicated the mismatch?

[2017-12-28 01:16] dims commented on #54155
/sig storage

[2017-12-28 01:16] dims commented on #57669
/sig storage

[2017-12-28 01:34] gjmzj opened #57673 "hpa problem on k8s 1.9.0"
/kind bug

**What happened**:
1.  first i set up k8s-app like this:
[code]
2. then i created the hpa which didn't work:
[code]
error infos:
[code]
[code]
[code]
the strange thing was: when i created the hpa, it used the `apiVersion: autoscaling/v1`, and in the `kube-controller-manager's` error log, it used the `autoscaling/v2beta1`

is this the default behavior or a misconfigured cluster ?

**What

[2017-12-28 01:37] gjmzj commented on #57673
/sig autoscaling

[2017-12-28 02:14] gjmzj commented on #57673
it works well on k8s 1.8.6

[2017-12-28 02:26] huzhengchuan commented on #57673
Can you check kubelet bootstrap parameter
<pre>
 --cadvisor-port int32                                      The port of the localhost cAdvisor endpoint (set to 0 to disable) (default 4194)
</pre>
if --cadvisor-port  set 0, the cadvisor is disabled in kubelet

[2017-12-28 02:42] feiskyer commented on #57356
cc @PatrickLang @taylorb-microsoft for windows containers

[2017-12-28 02:44] ms4720 commented on #57655
@kubernetes/sig-release-bug

[2017-12-28 02:44] armstrongli commented on #57372
@deads2k
I like the idea, too, to keep the scheduling out of PSP decisions. There're some limitations on the node selector:
* users can modify their namespace and change the default actions on namespace - node selector
* there can be spec conflicts between the node selector defined by podNodeSelector and the pods' specs

with podNodeSelector, it means limit the namespace to bind to one group of no

[2017-12-28 02:48] feiskyer commented on #51540
@JiangtianLi @jdumars Added to v1.10 milestone.

[2017-12-28 03:15] Lion-Wei opened #57674 "ipvs real server can't be deleted in FakeIPVS for ipvs testing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

IPVS real server can't be right deleted in FakeIPVS for ipvs testing.

**What you expected to happen**:

When delete ipvs real server, we can't give the weight information, so we can't use deep equal in `FakeIPVS.DeleteRealServer`.

[2017-12-28 03:21] spiffxp commented on #24170
/close
If someone finds evidence that this has been a problem, please reopen with that evidence.  From my experience lately, the issue has been that tests are failing on GKE, not that the wrong tests are running in the wrong place.

[2017-12-28 03:21] #24170 closed

[2017-12-28 03:26] spiffxp commented on #29074
/close
If there is evidence that this is still happening, please reopen with said evidence.
 The GKE tests that we run don't currently collect logs from the master components, so it's difficult to say whether this is still an issue, eg: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/20291/artifacts/

[2017-12-28 03:26] #29074 closed

[2017-12-28 03:41] CaoShuFeng commented on #56209
Adding AdmissionAnnotations and AuthenticationAnnotations will be duplication of this:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/audit/request.go#L176

What's your suggestions?

[2017-12-28 03:48] Lion-Wei commented on #57674
/sig network
/area ipvs

[2017-12-28 03:53] emwalker commented on #44815
The requirement for the file name to be specified both under `mountPath` and `subPath` is counterintuitive.

[2017-12-28 04:45] nikhita commented on #56597
Is this issue still valid? `make` seems to work fine (even on HEAD).

[2017-12-28 04:46] MorrisLaw commented on #26050
Ok @mrajashree sounds good. Thanks for the heads up!

[2017-12-28 05:24] 2008chny commented on #57280
/subscribe

[2017-12-28 05:28] #56597 closed

[2017-12-28 05:31] 2008chny commented on #57280
Same issue on Centos7.4

[2017-12-28 05:34] kevin-wangzefeng commented on #56993
/cc @wackxu

[2017-12-28 05:37] mlmhl commented on #55082
Is this still required and could I work on it? I have a question before starting the job: Is this change compatible with the old version? As user can set a finalizer manually, and if we modified the separators, user can't submit a object with the old style finalizers.

[2017-12-28 05:55] #21643 closed

[2017-12-28 06:02] rahulkrishnanfs commented on #56489
@sttts @cblecker I would like to contribute this issue :-)

[2017-12-28 06:03] dixudx commented on #57668
@DreadPirateShawn You're using `logging.default.yaml`, which should be `prod.lon1r1.logging.default.yaml` instead.

[2017-12-28 06:08] KeithTt commented on #57627
Finally I found the problem, this is a issue about `authentication` of cert, and the kubelet client can not connect to apiserver............

[2017-12-28 06:08] #57627 closed

[2017-12-28 06:10] JoeJasinski commented on #57280
Same issue on Raspberry PI (Hyperiot) with Flannel networking. A reset solves it for a bit, but comes back after a cluster reboot.

[code]

[2017-12-28 06:50] m1093782566 commented on #57674
/kind bug

[2017-12-28 06:50] nikhita commented on #12142
Ref https://github.com/kubernetes/kubernetes/pull/44488#issuecomment-303099276 and https://github.com/kubernetes/kubernetes/issues/34732.

[2017-12-28 06:53] gjmzj commented on #57673
the cadvisor works well. because the `dashboard` shows workload metrics.

[2017-12-28 07:03] gjmzj commented on #57673
i found a solution in my case:
`kube-controller-manager`'s parameter `--horizontal-pod-autoscaler-use-rest-clients` in k8s 1.9.0 default value is `true` , while in k8s 1.8.x is `false`
change it to `false` and it works.

[2017-12-28 07:21] KeithTt commented on #56006
@ricklagerweij There is a cert issue, and this lead to kinds of problems, because it can not connect to apiserver...I spend much time looking for it. Hope you lucky....

[2017-12-28 07:23] Lion-Wei opened #57678 "kube-proxy can't create clusterIP ipvs rules when externalTrafficPolicy=Local"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When setting `externalTrafficPolicy=Local` in ipvs proxy mode, kube-proxy can't create clusterIP ipvs rules.

**What you expected to happen**:

Create clusterIP rules, so that can access service from internal.

**How to reproduce it (as minimally and precisely as possible)**:

- Create a service with backends in different node.
- S

[2017-12-28 07:23] Lion-Wei commented on #57678
/area ipvs
/kind bug
/sig network

[2017-12-28 07:32] wojtek-t commented on #42644
/lifecycle frozen

[2017-12-28 07:44] andyzhangx commented on #57070
@jdumars @khenidak After my investigation, I don't think there is k8s upstream work for this feature.
If you have already enabled azure disk encryption on VM, the attached empty disk would be encrypted using the same key vault by default, here are the detailed steps:
https://github.com/andyzhangx/Demo/blob/master/windows/azuredisk/disk-encryption
There should be work in acs-engine to create a k8s

[2017-12-28 08:04] hankya opened #57681 "cpumanager: using container resources f"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Using cpumanager/static policy, If kubelet restart, cpus assigned to container by cpumanager could differ from last time

**What you expected to happen**:
With cpumanager/static, cpus assigned to container should not change

**How to reproduce it (as minimally and precisely as possible)**:
1. Start kubelet with --feature-gates=CPUMa

[2017-12-28 08:05] krmayankk commented on #57671
@heckj the headless service is a different  k8s resource then the StatefulSet resource referring the headless service using it. Currently k8s doesnt verifying cross references across resources. So i believe this kind of validation is left to uber(read higher level) software. @kow3ns @smarterclayton any comments on this ?

[2017-12-28 08:07] wojtek-t commented on #1685
/lifecycle frozen

[2017-12-28 08:10] ricklagerweij commented on #56006
@KeithTt I solved it yesterday, it was indeed a cert issue. Creating the cert with extensions I specified the pod cidr instead of the service cidr which caused issues for kube-dns (logs of this container specified the issue), recreated it with the service cidr but the container was using its cache so it wasn't instantly solved.

Cheers!

[2017-12-28 08:11] wojtek-t commented on #14955
/lifecycle frozen

[2017-12-28 08:17] andyxning commented on #44328
@dashpole Thanks for your explaination.

If we want to make the pod's qos guranteed, this seems not an option.

Any clues kubelet or cpu cgroup management does not work with a mocked number of CPU cores.

[2017-12-28 08:35] krmayankk commented on #57641
i agree we should support canary deployments same way statefulset supports it now, and bring them both at feature parity. @kargakis @janetkuo is anyone working on this ?

[2017-12-28 08:49] flymark2010 commented on #55005
@kevincvlam Could you please tell me how do you solve the problem?  I seemed have the same one with you.  Thanks!
*Environment:*
- Kubenetes version:
`Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T21:07:38Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server

[2017-12-28 09:28] sdlarsen commented on #57382
Same here. On Kubernetes 1.8.4, 1.8.5 and 1.8.6.

[2017-12-28 10:06] NickrenREN opened #57684 "ExpandController will panic if we want to expand unsupported volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

/sig storage

**What happened**:
If we want to expand a volume which is not supported for now, for example, in release 1.8, we want to expand RBD volume, controller-manager will panic.
We do not check if volume plugin is nil in `GenerateExpandVolumeFunc`,
when `FindExpandablePluginBySpec` returns `nil, nil`, panic will happen when we call

[2017-12-28 10:30] xingzhou opened #57685 "Enable FlexVolume to support volume resizing"
Related feature ticket at: https://github.com/kubernetes/features/issues/304

We already have prepared the draft code for the FlexVolume, will submit the PR for discussion once the testings are done

/sig-storage

/cc @gnufied & @chakri-nelluri

[2017-12-28 10:30] xingzhou commented on #57685
/sig storage

[2017-12-28 10:31] xingzhou commented on #57685
/assign

[2017-12-28 11:00] MaciekPytel commented on #57673
With `--horizontal-pod-autoscaler-use-rest-clients=true` HPA uses new resource metrics API instead of old way of getting metrics. Setting it to `false` as you did works, but probably the correct long term solution is to run metrics server as part of your cluster set up. This is documented here: https://kubernetes.io/docs/tasks/debug-application-cluster/core-metrics-pipeline/

[2017-12-28 11:26] pires commented on #21113
Statefulsets kinda help deliver this but as a last option, an operator also takes care of it.

[2017-12-28 11:26] #21113 closed

[2017-12-28 11:31] malachma commented on #57444
@andyzhangx I would not use "/dev/disk/by-id" instead utilize the special UDEV rules we have created for our VMs --> https://github.com/Azure/WALinuxAgent/blob/master/config/66-azure-storage.rules
They have the advantage that they create symlinks for all of the disks attached to the VM and the LUN assigned to a disk remains the same.
The sysmlinks you find under /dev/disk/azure. For a master-node

[2017-12-28 12:06] gmarek commented on #57440
Events changes went in 1.9, so if anything is broken since 1.8 it's not that.

[2017-12-28 12:07] gmarek commented on #44442
It probably still doesn't work, but I believe we moved away from it. I'll just close the issue.

[2017-12-28 12:07] #44442 closed

[2017-12-28 12:08] #20639 closed

[2017-12-28 12:09] Glennvd commented on #51188
Any update on this in the past 4 months?

[2017-12-28 12:33] choppsv1 commented on #47268
@mlowery Very interesting, unfortunately we're running close to the latest releases and currently we're on 1.8.2, so it sounds like this won't work for us.

[2017-12-28 12:41] Thermi commented on #44415
/lifecycle froze

[2017-12-28 12:41] Thermi commented on #42293
/lifecycle froze

[2017-12-28 13:27] wwadge commented on #3312
@cesartl My workaround is to call this as the very first thing before anything else:
[code]

[2017-12-28 13:28] kevin-wangzefeng commented on #56993
We originally introduced the semantic "all namespaces" by using nil list of `Namespaces []string`, while empty list means "all namespaces". In the initial version we didn't add json tag "omitempty" for `Namespaces` since we need to distinguish nil and empty. IIRC, it was removed since it doesn't work (probably after protobuf encode and decode).

[2017-12-28 13:56] gmarek commented on #18699
I think we did that to the extend it's safe.

[2017-12-28 13:56] #18699 closed

[2017-12-28 13:57] andyzhangx commented on #57444
@malachma thanks for the check. So do you mean we use `/dev/disk/azure/scsi1/lun0`, `/dev/disk/azure/scsi1/lun1` instead? actually in Azure VM with UDEV rules created, they have no difference, they link to the same /dev/sd* (see below layout). While I also got some customer cases(e.g. coreos, see #54334), they don't have such UDEV rules created, which means `/dev/disk/azure/` does not exist, **I w

[2017-12-28 13:59] wojtek-t commented on #18699
This isn't done:
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L1362

That said, I'm not sure if it's worth doing...

[2017-12-28 14:01] gmarek commented on #18504
/remove-lifecycle stale

[2017-12-28 14:02] gmarek commented on #46215
/close

[2017-12-28 14:02] #46215 closed

[2017-12-28 14:04] andyzhangx commented on #57444
BTW, I have a azure disk debugging doc: [Debug Azure disk attachment issue](https://github.com/andyzhangx/Demo/blob/master/linux/azuredisk/azuredisk-attachment-debugging.md) which uses `/dev/disk/azure`, it's really intuitive for debugging perpurse.

[2017-12-28 14:08] gmarek commented on #25201
/close

[2017-12-28 14:08] #25201 closed

[2017-12-28 14:09] gmarek commented on #34772
I believe we fixed that.
/close

[2017-12-28 14:10] #34772 closed

[2017-12-28 14:10] gmarek commented on #34441
I think it's mostly done.
/close

[2017-12-28 14:10] #34441 closed

[2017-12-28 14:12] gmarek commented on #41743
It's wrong, but we can't fix it.
/close

[2017-12-28 14:12] #41743 closed

[2017-12-28 14:21] jordanjennings commented on #3312
@wwadge Good suggestion, taking it one step farther you could do a random wait in an init container so that you don't have to modify application code.

[2017-12-28 14:31] gmarek commented on #26507
Hi @tedsuo. The question you're asking have a lot of layers. From the very high level perspective this issue and my investigation was about adding tracing to Kubernetes control plane in such a way that we'd be able to analyze systems performance and easily find scalability bottlenecks. This proved to be infeasible for number of reasons (e.g. k8s lacks the concept of 'operation', so it's not clear

[2017-12-28 14:32] gmarek commented on #14733
I believe there's a new effort around this started by @bgrant0607.
/close

[2017-12-28 14:32] gmarek commented on #24794
/close

[2017-12-28 14:32] #24794 closed

[2017-12-28 14:34] gmarek commented on #24934
I believe this was fixed.
/close

[2017-12-28 14:34] #24934 closed

[2017-12-28 14:35] gmarek commented on #25320
/remove-lifecycle stale

[2017-12-28 14:36] gmarek commented on #14742
/close

[2017-12-28 14:36] #14742 closed

[2017-12-28 15:08] DreadPirateShawn commented on #57668
@dixudx That's a typo in the ticket -- should be fixed now. My apologies! I had to sanitize internal company naming details.

Note that 34559 of the day's 34560 runs completed without this error -- the yamls are included for context, they're functionally clean.

[2017-12-28 15:19] malachma commented on #57444
@andyzhangx it is right that at the end we point to /dev/sdi like in the sample above

the advantage we have with the lun0 is that it acts as an abstraction layer where we can be sure that an application is always utilizing the disk with lun0, independent what actuall device name gets assigned to it. So at the moment it is _../../../sdi and after a reboot it could become ../../../sdk_. But thanks

[2017-12-28 15:37] andyzhangx commented on #57444
@malachma It's not centos, it's coreos issue, see https://github.com/kubernetes/kubernetes/issues/50150
If we use `/dev/disk/azure/scsi1/lun0`, then we would heavily depends on UDEV rules.

[2017-12-28 16:21] spzala commented on #18245
This is a two years old issue and inactive since long time with lack of latest information. The provided code link in issue description is outdated. Closing it per issue triage guidelines. Please reopen if needed. Thanks!
/close

[2017-12-28 16:21] #18245 closed

[2017-12-28 16:29] diogo-reis commented on #21331
I also have the same need in a bare-metal environment: put Pod traffic (containers) on one network and management traffic (API,...) on another network. Anyone have any idea how I can do this on 2 separate networks?

/remove-lifecycle stale

[2017-12-28 16:51] liggitt commented on #26130
/lifecycle frozen

[2017-12-28 16:59] dims commented on #57440
I've tested this scenario by starting a second etcd server and specifying additional parameter in api server (`hack/local-up-cluster.sh`). Works fine in master.

[code]
you should see this line logged with the correct ip address: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go#L278 mine looked like as follows:

[code]

The etc

[2017-12-28 17:07] joejulian commented on #57440
Correct, but if you use a dns entry that points to a cluster of etcd servers that's what causes the failure.

For instance, if you had a cluster of 3 etcd nodes instead of just the one and created these entries (obvious assumptions made):
[code]
then change your flag to
[code]
That will cause the failure.

[2017-12-28 17:35] rakshazi commented on #24873
k8s 1.8

[code]

[2017-12-28 17:36] dims commented on #57440
@joejulian what are the symptoms?

- Are there any traces in the kube api log?
- does say `kubectl get events` work? (or `kubectl describe po/xyz --show-events` - where xyz is one of your pods)
- Do you see any 504 errors in the kube api log?

Thanks,
Dims

[2017-12-28 17:38] gamer22026 opened #57686 "Prometheus metrics for PVC showing stale volume data"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:
Prometheus metrics endpoint for PVC volume stats is showing stale data for volumes no longer mounted to node
**What you expected to happen**:
Prometheus metrics endpoint for PVC volume stats only shows metrics for currently mounted volumes.

**How to reproduce it (as minimally and precisely as possible)**: Migra

[2017-12-28 17:51] gamer22026 commented on #57686
/sig metrics

[2017-12-28 17:54] dry4ng commented on #32987
Still having this issue in 1.8.2

[2017-12-28 17:55] gamer22026 commented on #57686
/area kubelet

[2017-12-28 17:57] gamer22026 commented on #57686
/sig instrumentation

[2017-12-28 18:33] mindprince commented on #55005
@flymark2010 See this [doc](https://deploy-preview-6736--kubernetes-io-master-staging.netlify.com/docs/tasks/manage-gpus/scheduling-gpus/) from PR https://github.com/kubernetes/website/pull/6736

[2017-12-28 18:37] dims commented on #50167
/close

Looks like this was fixed in #50181

[2017-12-28 18:37] #50167 closed

[2017-12-28 18:49] malachma commented on #57444
@andyzhangx I agree that one depends on these special UDEV rules in this case , but on each Azure VM the agent is to be installed anyway, so that is background why I suggested to use the LUNs

[2017-12-28 19:04] ixdy commented on #36259
Building the hyperkube image no longer does an `apt-get install`, so this should be resolved.

[2017-12-28 19:04] #36259 closed

[2017-12-28 19:10] ixdy commented on #42589
The hyperkube image is based on debian-base (#48365), which first shipped in 1.8.

Additionally, debian-base is now based on debian stretch (#52744, #56094) which shipped in 1.9.

There are still quite a few extra dependencies installed for the hyperkube image:
https://github.com/kubernetes/kubernetes/blob/c7d52e27c82091c8b5a5739267298abe2063defe/build/debian-hyperkube-base/Dockerfile#L25-L41

but

[2017-12-28 19:10] #42589 closed

[2017-12-28 19:12] #44080 closed

[2017-12-28 19:13] ixdy commented on #40955
The hyperkube image is now based on debian stretch with a much more limited set of dependencies. Do we think this issue is still relevant?

[2017-12-28 19:26] liggitt commented on #57667
I use them frequently, not sure about others

Use cases:
- updating release notes
- updating descriptions and titles of issues if the actual cause/symptoms drift from the originally filed issue
- hoisting tldr info into the description for long-running issues (like workaround info, etc)

This is essential

Are the queue and cherrypick labels modifiable via bot commands?

[2017-12-28 19:48] spiffxp opened #57689 "Deprecate and disable the wiki"
Like kubernetes/community#116 but for the wiki in kubernetes/kubernetes

I suspect much of the content in the wiki is harmfully out of date.  Most of the edits in the last year have involved reminding people just how out of date the wiki is.  I would like to:
- delete the obviously out of date stuff I am comfortable making a call on
- migrate out the content I can't make a call on to kubernetes/co

[2017-12-28 19:59] #57628 closed

[2017-12-28 20:07] consideRatio commented on #44377
UPDATE: Use __`storageClassName`__ instead of __`volume.beta.kubernetes.io/storage-class`__.

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class

[2017-12-28 20:44] vamsi248 commented on #50499
these are my logs i am getting in kubernetes.. i am running from jenkins by using kubernetes-plugin
making base image as jenkins/jnlp-slave  whats this means exactly .. this error?
failed to open log file "/var/log/pods/70d9def9-ebf7-11e7-867e-005056bf5570/jnlp_0.log": open /var/log/pods/70d9def9-ebf7-11e7-867e-005056bf5570/jnlp_0.log: no such file or directory

[2017-12-28 20:47] spiffxp commented on #57689
Pages
- [ ] https://github.com/kubernetes/kubernetes/wiki/CLA-FAQ
  - this should live in kuberentes/community if we don't already have CLA-related content there
- [ ] https://github.com/kubernetes/kubernetes/wiki/Debugging-FAQ
  - ??? is this content sufficiently available / answered on the website?
- [ ] https://github.com/kubernetes/kubernetes/wiki/Developer-FAQ
  - remove, it's literally just

[2017-12-28 20:58] spiffxp commented on #57689
Edited https://github.com/kubernetes/kubernetes/wiki to point back here

If there are no wild objections to this I will proceed as planned tomorrow

[2017-12-28 21:01] mayanksinghsachan commented on #56582
@mikedanese It has nothing to do with subdividing namespaces. Also, this feature request is neither specific to users nor service accounts.

@dixudx @liggitt
Actually my requirement is to have a Role which gives permissions to a user to check logs of pod which are created by some deployment and even if pod gets deleted and new pod gets created by deployment, then admin should not have need to upda

[2017-12-28 21:26] liggitt commented on #56582
Subdividing access on name prefix isn't a strong subdivision. Permissions that allowed access to a pods for a deployment named "my" would also allow access to pods for a deployment named "my-app"

[2017-12-28 21:34] mkotsollaris commented on #57203
@dims May I ask if you are aware on how can I have a Quantity of different types each time (e..g, KB, MB, TB etc)? For instance, I want to have something like this:
[code]

[2017-12-28 21:42] ixdy commented on #22658
Thanks to @mkumatag, this is done, in #44910 and others - the e2e test images now live in `gcr.io/kubernetes-e2e-test-images`.

/assign @mkumatag
/close

[2017-12-28 21:42] #22658 closed

[2017-12-28 21:43] ixdy commented on #22658
(auto-building of images is not yet done, but that probably warrants a separate issue?)

[2017-12-28 21:46] ahmetb commented on #18771
this content is now at https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#config

Do we need to keep this open?

[2017-12-28 22:10] webbrandon commented on #57393
👍

[2017-12-28 22:27] yastij opened #57690 "move from node condition to Taints in our internal logic"
As discussed with @gmarek, now that we have taints we can move to a taint-based approach in our internal logic. This issue tracks the work that need to be done:

controllers:

- cloud/node_controller
- node_controller (controller, ipam...)
- route_controller
- service_controller (ensuring LBs using a taint based predicate listing) #58358
- ~~daemon_controller~~

kubelet:

- eviction_manager
- tran

[2017-12-28 22:33] thockin commented on #8190
Maybe it's just me, but there's a low-level annoyance I experience every time I try to look at API files - we document our API fields in terms of javascript-style names (leading lower-case) but Go demands we use leading upper-case.  This makes for inconsistent comments and docs.  Worse, Go will ignore case for JSON keys if it needs to, so there are probably lurking issues.

So my proposal is that

[2017-12-28 23:13] thockin-cc commented on #1111
I really want to see this finished!!

On Thu, Dec 28, 2017 at 3:12 PM, fejta-bot <notifications@github.com> wrote:

[2017-12-28 23:30] everett-toews commented on #51133
I stumbled on this too and found the error message pretty confusing. Without this issue, it would have taken me a lot longer to find the answer.

If it helps someone else, here's exactly what I had to do.

From `extensions/v1beta1`

[code]

to `apps/v1beta2`

[code]

[2017-12-28 23:56] dims commented on #57203
@mkotsollaris i believe you can use `MustParse` and/or `ParseQuantity` from quantity module:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L134
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L276

[2017-12-29 00:07] dims commented on #57668
/sig api-machinery

[2017-12-29 00:10] dims commented on #57681
/sig node

[2017-12-29 00:11] dims commented on #57655
/sig release

[2017-12-29 00:17] joejulian commented on #57440
Just timeout backtraces followed by 504s. There's nothing useful.

get events or show-events hangs until it times out.

During this time I have a tcpdump running on every etcdevents node ("host <master1> or host <master2> ..." etc) so I could see if there was any attempt. There is not.

[2017-12-29 00:21] joejulian commented on #57440
This was after upgrading a cluster I noticed namespaces were stuck deleting.

[2017-12-29 00:30] #57588 closed

[2017-12-29 00:30] liggitt commented on #57666
1.9 to 1.6 skew is not supported. kubectl currently supports 1 version forward and backward skew.

[2017-12-29 00:30] #57666 closed

[2017-12-29 00:31] dims commented on #57440
@joejulian right, one last data point. what does the log corresponding to this line look in your actual logs?

https://github.com/kubernetes/kubernetes/blob/release-1.9/staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go#L278
ove
(see my log snippet above)

The 504 and timeout backtraces and the get/show-events hang means that we are actually trying to talk to something and are unab

[2017-12-29 00:36] liggitt commented on #57606
Using apply to update a resource last applied with a different version does not work properly (see https://github.com/kubernetes/kubernetes/issues/16543#issuecomment-157091086)

That is correct

[2017-12-29 00:38] liggitt commented on #57606
The default computation of selectors wreaked havoc with apply, which is one of the main reasons it was removed in v1beta2

This is working as intended. The other issue is open to track the problem with cross version apply

[2017-12-29 00:49] asridharan opened #57691 "kubernetes/pkg/api not compiling with go 1.8.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 bug

**What happened**:
I am using a `vendored` k8s api package:
 k8s.io/kubernetes/pkg/api/pod

I am trying to build a k8s go client using the k8s/client-go package. However when I trying building with go 1.8.3 I get the following build errors:
[code]
**What you expected to happen**:
Build k8s go client.

**How to reproduce it (as minimally and prec

[2017-12-29 01:18] asridharan commented on #57691
Closing this out. Turns out I was setting the version dependency correctly. Had to use the correct version of the k8s go-client along with the correct version of the k8s.

[2017-12-29 01:18] #57691 closed

[2017-12-29 01:26] thockin commented on #41442
I totally lost track of this topic.  It has come up again in the form of local volumes (@msau42) and has been cited repeatedly as a pain point for multi-zone clusters (cross-zone network traffic being charged, while in-zone is not).

We’ve seen a number of requests for “per-node services” - when I ask for a Service IP, I always get the service on my local node.  This could be implemented by yet an

[2017-12-29 01:52] wenlxie opened #57692 "[Feature request]set the log level dynamically"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind feature

What happened:
Now the log level is set as a start parameter for kubelet, kube-controller, kube-scheduler...
When we debug the issues, we may lack of log because the log level is too low.
If we restart the k8s components with high log level, the issue maybe gone.
So it is useful that we can set the log level dynamically.

What you expected

[2017-12-29 01:56] davidopp commented on #41442
The simple version of what you described (one-element list) is essentially the same semantics as `topologyKey` that we use in pod affinity/anti-affinity, though it's a string rather than a one-element list. The [comment](https://github.com/kubernetes/api/blob/master/core/v1/types.go#L2609) puts it this way: "[...] co-located is defined as running on a node whose value of the label with key `topolo

[2017-12-29 02:34] yastij commented on #57692
/sig scheduling

[2017-12-29 02:35] mlmhl commented on #57544
@kubernetes/sig-storage-bugs

[2017-12-29 03:04] dixudx commented on #57465
@DreadPirateShawn Have you checked the ns net files `/proc/<pid>/ns/net` of those failed-to-deleted pods?

/cc @kubernetes/sig-network-bugs  Could we just ignore these `no such file or directory` errors?

[2017-12-29 03:25] jianzhangbjz commented on #56669
Why log tips /dev/nvidia0, mounted in the container /dev/nvidia1? both don't match.

@fengyu10 For the first question, I notice that you request 1 GPU, and in the 1.6 version, the allocating of the GPU is random. The second question, maybe your tensorflow app need the `/dev/nvidia0`.

[2017-12-29 03:26] stewart-yu opened #57694 "Wrong format string in describers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
when i create PersistentVolume, yaml like that:
[code]
than describe it, got :
[code]
**What you expected to happen**:
Like that:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
What's said in `What happened`

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2017-12-29 03:27] #42329 closed

[2017-12-29 03:29] stewart-yu commented on #57694
/sig storage

[2017-12-29 03:46] dminkovsky commented on #57428
This happened to me on GKE? https://stackoverflow.com/questions/48016987/why-is-this-node-did-not-joining-my-gke-cluster

[2017-12-29 03:49] jianzhangbjz commented on #57193
@definitelyuncertain Maybe this #46079 could meet your request.

[2017-12-29 04:06] warmchang commented on #52428
👍

[2017-12-29 05:04] dixudx commented on #57694
Already got PR #57399 to fix this.
/assign @php-coder

[2017-12-29 05:28] DreadPirateShawn commented on #57465
@dixudx Sorry, yeah, that seems like a fair point to note -- the directories are in fact being deleted.

Seems like it's either functionally succeeding yet generating error-level logs, or perhaps generating error-level logs and then succeeding on internal retry.

[2017-12-29 05:44] dixudx commented on #57465
@DreadPirateShawn I prefer the later one. Perhaps kubelet does not kill the pod completely at the first time. Such error may occur during a retry.

[2017-12-29 05:46] 007 commented on #33212
Ref #57666 - please document this somewhere, preferably somewhere prominent or via messaging in the client to say "sorry, that's too old" versus blindly failing.

Deprecating 1.6 support in 1.9 kinda sucks when it's not even 9 months old.

[2017-12-29 05:49] joejulian commented on #57440
With `--etcd-servers-overrides=/events#https://etcdEvents.etcd.jj-rc.internal:2381` the line you requested reads:

[code]

The not-overridden etcd connections look exactly the same except for the hostname and port: `etcd.etcd.jj-rc.internal:2379` and those work fine (also a CNAME referencing a hostname with multiple A records).

[2017-12-29 05:50] esevan commented on #45419
+1
origin v3.7.0
kubernetes v1.7.6
docker v1.12.6

[2017-12-29 06:06] joejulian commented on #57440
[code]

[2017-12-29 06:12] liggitt commented on #57440
And both etcd clusters were set up with certs signed by the same CA and accepting the etcd client cert used by the API server?

[2017-12-29 06:26] m1093782566 commented on #57580
/close

[2017-12-29 06:26] #57580 closed

[2017-12-29 06:29] m1093782566 opened #57698 "IPVS proxier update service too slow, it waits until a sync period."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

IPVS proxier update service too slow, it waits until a sync period.

**What you expected to happen**:

Any k8s service update should trigger IPVS virtual service update.

**How to reproduce it (as minimally and precisely as possible)**:

1. create a k8s service

2. update it's session affinity type

3. to see if ipvs vir

[2017-12-29 06:46] paulvanbladel commented on #57334
Is there currently a workaround?

[2017-12-29 06:58] dixudx commented on #57334
@paulvanbladel Already filed a PR kubernetes/release#489 to fix this.

Currently for kubelet<1.9, you need to downgrade `kubernetes-cni` to `0.5.1` manually.

[2017-12-29 07:21] wojtek-t commented on #57667
+100 to what Jordan wrote above. It would complicate things a lot if I wouldn't be able to do those.

[2017-12-29 07:39] dlsniper commented on #24735
Any updates on this?

[2017-12-29 07:49] paulvanbladel commented on #57334
@dixudx Thanks a lot for the prompt help (not so familiar with apt). That did the trick.

[2017-12-29 08:13] joejulian commented on #57440
Correct.

Of course it wouldn't matter since it never opens a network connection to find out.

[2017-12-29 08:25] tianshapjq commented on #57681
/cc

[2017-12-29 08:35] ScorpioCPH opened #57701 "[E2E Node] [Alpha: DynamicKubeletConfig] setKubeletConfiguration will return before new configuration has taken effect"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Run e2e node test with `tempSetCurrentKubeletConfig()`, and wait for new configuration take effect.
But it will return `before` new configuration has taken effect.

**What you expected to happen**:

`setKubeletConfiguration()` will return with new configuration has taken effect.

**How to reproduce it (as minimally and p

[2017-12-29 08:45] gmarek commented on #20644
/remove-lifecycle stale

@mikedanese - do have any idea who might do such a refactor?

[2017-12-29 09:11] PengTaoWW commented on #46310
@Random-Liu I would like to take a look at it if no one is working on this.

[2017-12-29 09:16] PengTaoWW commented on #46310
@Random-Liu look like https://github.com/kubernetes/kubernetes/pull/23843 fixed it

[2017-12-29 09:22] vishaltelangre commented on #44815
The solution provided by @zhouhaibing089 works but the content of the mounted file at `subPath` doesn't update if we edit it in the resembled ConfigMap.

[2017-12-29 09:26] wenlxie commented on #57692
/sig kubelet

[2017-12-29 10:06] Davidrjx commented on #42282
i got the same error, is there anyone having solution?

[2017-12-29 10:32] jessesuen opened #57705 "Watcher error loop "Unable to decode an event from the watch stream" from bad CR manifests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We are developing controller which uses an cache.SharedIndexInformer to watch events against our custom resource. However, when `kubectl create -f manifest.yaml` is run using a bad manifest, specifically one that fails to unmarshall into the CR datastructure due to mismatched field data types, the watcher will fall into

[2017-12-29 10:39] jessesuen commented on #57705
/sig api-machinery

[2017-12-29 10:58] porridge opened #57706 "test-cmd run_kubectl_get_tests "Client.Timeout exceeded while reading body" fails output test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-testing-bugs for lack of better idea

hack/make-rules/test-cmd-util.sh, line 1443 is failing, even when the debug output shows the expected text:

[code]

from the test log:
[code]

**What happened**:

See for example https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/57700/pull-kubernetes-unit/72740/

[2017-12-29 11:19] sheerun commented on #42632
/lifecycle frozen

[2017-12-29 12:24] #57646 closed

[2017-12-29 12:42] choury commented on #39940
/remove-lifecycle stale

[2017-12-29 13:30] mborsz opened #57707 "kube-apiserver is never killed gracefully"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When kube-apiserver's livenessProbe suggests that pod is unhealthy, kubelet tries to kill its container with 30 seconds grace period.
The container is killed ungracefully with SIGKILL when grace period passes. This happens each time.

[code]

**What you expected to happen**:

I expected that SIGTERM will be passed to kube-

[2017-12-29 13:33] sakshamsharma commented on #46964
Had a look at the current CHANGELOG on etcd. The fix for this issue is in master, and will be released in etcd-3.3.0.

Here is the [changelog](https://github.com/coreos/etcd/blob/master/CHANGELOG.md) which shows the fix has been merged into the [pre-release 3.3.0-rc.0](https://github.com/coreos/etcd/blob/master/CHANGELOG.md#v330-rc0-2017-12-20).

Kubernetes is currently on 3.1.10 it appears (accor

[2017-12-29 13:35] mborsz commented on #57707
/sig node

[2017-12-29 14:13] porridge opened #57708 "attempt to collect a long profiler sample from apiserver is aborted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

@kubernetes/sig-api-machinery-bugs

**What happened**:

[code]

In the log:

[code]

**What you expected to happen**:

The timeout should be more relaxed on /debug/pprof endpoints.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2017-12-29 14:36] wojtek-t commented on #55779
Allocations and GC have always been significant part of profile.

This EndpointSubset isn't something I was dealing with, but it isn't completely unexpected if there are many endpoints changes in the system. Each change of "Endpoints" object is send to each KubeProxy, so in 5k-node cluster it is send (and thus copied) 5k times.

Ideally, what we should do in this place (which I never got to but al

[2017-12-29 15:00] Aaron3 commented on #27081
The patch hack from @boomshadow does not work on statefulsets.

I don't understand why some sort of rolling update is not supported aside from image changes, I will change the redis version rarely but tweak settings every month. Same applies to any other service where all I need to do is reload a simple config file.

I should not have to bring redis down completely just to change some minor settin

[2017-12-29 15:24] andremarianiello opened #57709 "localhost.<dns-search-path> DNS records can interfere with correct functioning of etcd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I set up a cluster using kubeadm

etcd in the image gcr.io/google_containers/etcd-amd64 fails to start, producing the following output:

[code]

**What you expected to happen**:

I expected the etcd pod to correctly listen on a loopback IP address, not some external IP address.

**How to reproduce it (as minimally and pr

[2017-12-29 15:32] andremarianiello commented on #57709
@kubernetes/sig-cluster-lifecycle-bugs

[2017-12-29 15:49] Stono opened #57710 "kubernetes service failing to find upstreams"
/kind bug

Running on GKE: K8 1.8.4

After a few rollouts of a deployment, eventually the ClusterIP service fails to detect upstream pods.  Note the `Endpoints:                <none>` on the service.  We have tried deleting both the service and the deployments to no avail.

Service:
[code]

Pods (selecting by the same label):
[code]

[code]

[2017-12-29 15:58] Stono commented on #57710
@kubernetes/sig-api-machinery-bugs

[2017-12-29 16:00] Stono commented on #57710
This screenshot shows the GUI version, which does show the pods under the service (but i presume it's just doing a pod selector).  This contradicts the CLI reponse

![Uploading Screen Shot 2017-12-29 at 15.41.36.png…]()

[2017-12-29 16:10] Stono commented on #57710
OK - I have got to the bottom of this late on a friday problem.
Due to an error in the helm template, the container specification was missing the port, subsequently the load balancer couldn't health check it (hence no health upstreams).

This is totally user error, but perhaps some better error messages like `Pods matched but failed to find named port` or something along those lines would help a l

[2017-12-29 16:35] dims commented on #57440
@joejulian ack. thanks. sounds like something changed in the etcd client side. right @liggitt ?

[2017-12-29 16:58] liggitt commented on #57440
Unclear

This is the part that is confusing me. If --etcd-servers and --etcd-servers-overrides are referencing identical styles of etcd cluster urls, I don't see anything in the client wiring that would explain this difference in behavior

[2017-12-29 17:51] stevekuznetsov commented on #21404
/shrug

[2017-12-29 17:51] stevekuznetsov commented on #21404
/close

[2017-12-29 17:51] #21404 closed

[2017-12-29 18:01] cblecker commented on #42632
/remove-lifecycle stale frozen
This needs to be triaged by the sig. If the sig doesn't take it on, then it should be eligible for close.

@kubernetes/sig-storage-feature-requests

[2017-12-29 18:02] cblecker commented on #42632
/remove-lifecycle stale
/remove-lifecycle frozen
This needs to be triaged by the sig. If the sig doesn't take it on, then it should be eligible for close.

@kubernetes/sig-storage-feature-requests

[2017-12-29 18:07] innocode-devops commented on #42306
Is this being observed only on GKE or on self-hosted too?
In case of GKE possible cause is that master node exists in other network than the nodes and looks like DNS services are disrupted.

[2017-12-29 18:19] patrickf55places commented on #44954
@irfanurrehman @kubernetes/sig-multicluster-misc this issue is not restricted to clusters using federation. The controller manager has the `--cluster-name` CLI option and at least the AWS cloudconfig file uses a cluster identifier (for tracking cloud resources owned by the cluster). There are many applications that can make use of the identifier (e.g. logging).

In my own use case, I am using [ext

[2017-12-29 18:20] cesargomezvela commented on #3595
If you are interested on set up a elasticsearch cluster on k8s which request ulimit -l unlimited I share it with all of you.
https://github.com/cesargomezvela/elasticsearch

[2017-12-29 18:31] mindprince commented on #47750
/close

This part of the code is deprecated and scheduled for removal in 1.11

[2017-12-29 18:31] #47750 closed

[2017-12-29 18:40] mindprince commented on #56553
The documentation at https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/ is updated to talk about GPU support through device plugins now. (PR https://github.com/kubernetes/website/pull/6736)

Accelerators feature gate is deprecated: https://github.com/kubernetes/kubernetes/pull/57384

/close

[2017-12-29 18:40] #56553 closed

[2017-12-29 18:40] andremarianiello commented on #57279
@rohitjogvmw docker.io/rohitjogvmw/hyperkube-amd64:ctlr-mgr-fix fixed this issue for me. I believe that any deployment using vsphere cloud-provider will have this issue, but I specifically ran into it while using kubeadm 1.9.0

[2017-12-29 18:42] mindprince commented on #54102
This job is no longer active.

/close

[2017-12-29 18:42] #54102 closed

[2017-12-29 19:01] kbroughton commented on #45237
I'm facing this with gce 1.8.4-gke.1.  I create a new beefy compute node and schedule a container that can only fit there.  After stopping (using jupyter auto cull container), i am unable to schedule it again.  My current workaround is to delete the node and add a new one.  The scheduler always works the first time.  It seems like the scheduler isn't tracking the release or resources properly.  I

[2017-12-29 19:04] mindprince commented on #57300
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/46639 which has a lot more discussion.

[2017-12-29 19:08] liggitt commented on #57705
I'm not sure ignoring the invalid data is valid. Once you allow that to happen, the internal store is essentially in an indeterminate state

[2017-12-29 19:20] lzlicd opened #57711 "Restart systemd-journald also restart kubelet and kube-proxy services"
When I change journald.conf from volatile to persistent, restart systemd-journald will also restart kubelet and kube-proxy. The kubelet.service and kube-proxy.service does not requires(depends) on journald. Not sure what caused these two services restarted as well. docker.service seems fine without restart.

CentOS Linux 7 (Core) with 3.10.0-514.2.2.el7.x86_64

[code]

[2017-12-29 19:23] lzlicd commented on #57711
/sig node

[2017-12-29 20:07] RobCannon commented on #47775
Is there way to set the behavior to not change the image, if one is present.  This is slightly different from pulling.  I want to be able to specify the image name without a tag in the spec file and then use 'set image' to change the image (with a tag) to update the image as the dev team produces new version of an image.  But if the ops team make a change in the spec file and applies that, the ima

[2017-12-29 20:15] nelsonfassis commented on #39225
Isn't it a way to make it work with journald?
@mootezbessifi thank you for the clarification btw. It's not the way I wanted but I can at least make some of it work :)

[2017-12-29 20:48] paralin opened #57712 "kubectl cp: target file is not renamed correctly when using a different source and target filename"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When using `kubectl cp` the target file has an incorrect name.

Strangely enough, this shouldn't be possible.

**What you expected to happen**:

The target file has the name I specified.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

... the file will actually appear as `data/my-file.tar.gz`

[2017-12-29 20:49] paralin commented on #57712
/sig cli

[2017-12-29 20:54] mayanksinghsachan commented on #56582
@liggitt Agree.
Do you think is there any other good way to satisfy my requirement given in issue description??

[2017-12-29 21:02] sbezverk commented on #57662
@msau42 I managed to get e2e test running on my multi node cluster, and it looks ok to me. All tests are passing, here is the log I see:
[sig-storage] PersistentVolumes-local [Feature:LocalPersistentVolumes] [Serial] [Volume type: tmpfs] when pod's node is different from PV's NodeName
  should not be able to mount due to different NodeName
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.

[2017-12-29 21:07] jessesuen commented on #57705
What other option is there? It is not possible to block a CR (which doesn't adhere to a specific data structure) from being created. So we have to live with the fact that there may be CRs with incongruent data types. Now, if an informer is established and specifies a particular runtime.Object, and the watch encounters an resource which cannot decode to that object, it seems the logical choice is t

[2017-12-29 21:45] DreadPirateShawn commented on #39170
/remove-lifecycle stale

This still occurs in Kubernetes 1.6.8, albeit with a slight phrasing difference at the end of the message:

[code]

Any update on this?

[2017-12-29 22:44] ieugen commented on #43783
Hi, I would like to support limiting the number of pids. I've hit an issue in production where the number of pids increase a lot with a java application. I don't know what is causing it. Over time the machine hangs completely, I can't ssh to it and I have to do a hardware reset to fix things.

[2017-12-29 23:00] kminehart commented on #52787
Nobody has mentioned `envsubst`.

For a small project I put everything in a folder, `kubernetes/`.

Anything ending in `.yaml` is ignored, and anything ending in `.tmpl` is

[code]

And in my `deployment.yaml.tmpl`:

[code]

[2017-12-29 23:38] jhorwit2 commented on #57690
/kind feature
/sig network

[2017-12-29 23:38] rchakra3 commented on #56316
@ash2k @nikhita I've got https://github.com/kubernetes/kubernetes/pull/57713 out. I'd appreciate a review :)

[2017-12-30 00:21] nelsonfassis commented on #42727
@nelson-cf You can edit you /etc/docker/daemon.json to set its default log to json files and set a max size and max files to take care of the log rotation. After that, logs wont be written to journald and you will be able to send your log files to ES.

{
"log-driver": "json-file",
"log-opts": {
"max-size": "9m",  # Max size of the log files.
"max-file": "5"    # The maximum number of log files tha

[2017-12-30 01:46] k82cn commented on #31069
ask kube-mesos-framework are retied, I'ld like to close this one.

[2017-12-30 01:46] #31069 closed

[2017-12-30 02:30] liggitt commented on #56582
Not really. I think attempts to subdivide namespaces ("access to logs of pods from only some deployments", etc) like this are likely to be both complex and fragile. I'd echo what @mikedanese said.

[2017-12-30 05:53] m1093782566 commented on #41442
@thockin

I like the idea of #28637 (comment) and are happy to implement it.

Actually, I am writing a proposal about "topology aware routing of services" and will publish it soon.

[2017-12-30 07:49] wojtek-t commented on #32553
/lifecycle frozen

@jpbetz

[2017-12-30 08:04] m1093782566 commented on #41442
There is the proposal "topology aware routing of services", which is intended to fix the "only-local" service, please see https://github.com/kubernetes/community/pull/1551

[2017-12-30 09:01] oulinbao commented on #35009
/close

发自网易邮箱大师
On 12/30/2017 16:45, fejta-bot wrote:

Issues go stale after 90d of inactivity.
Mark the issue as fresh with /remove-lifecycle stale.
Stale issues rot after an additional 30d of inactivity and eventually close.

Prevent issues from auto-closing with an /lifecycle frozen comment.

If this issue is safe to close now please do so with /close.

Send feedback to sig-testing, kubernetes

[2017-12-30 09:01] #35009 closed

[2017-12-30 10:07] jessesuen commented on #57705
As an experiment, I added a continue statement in the in `streamwatcher.go::receive()` which partially solves this problem, by allowing the receive loop to move past the undecodable resource, as opposed to returning and immediately falling back into the problematic state.
[code]

However this only solves half of the problem. On every resync period, the ListAndWatch() will kick in, and it will then

[2017-12-30 10:19] zhangandyx commented on #34635
/close

[2017-12-30 10:19] #34635 closed

[2017-12-30 10:37] mercantiandrea commented on #56850
Also on AWS default image for kops (debian based)

    sudo vim /etc/sysconfig/kubelet

add at the end of DAEMON_ARGS string:

     --runtime-cgroups=/systemd/system.slice --kubelet-cgroups=/systemd/system.slice

finally:

    sudo systemctl restart kubelet

[2017-12-30 12:43] TerraTech commented on #36391
Was there a resolution to this issue?

[2017-12-30 14:37] m1093782566 commented on #7433
There is a proposal trying to resolve this issue, see https://github.com/kubernetes/community/pull/1551

[2017-12-30 15:00] ShualLiu commented on #57712
I make a test. The latest version has fixed it.

[2017-12-30 15:08] luxas commented on #36173
I think this is fine as-is, I don't see a reason to create many duplicated services for the same k8s API server endpoint for N namespaces, using just `kubernetes.default` is fine.

[2017-12-30 15:08] #36173 closed

[2017-12-30 15:38] liggitt commented on #57705
It is with the CRD validation feature (see https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#validation)

If you don't want to use that, and really want to allow arbitrarily structured objects to be persisted, then you could have the watch decode into a [runtime.Unstructured](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimac

[2017-12-30 15:41] luxas commented on #57667
I'd prefer to not use the wiki because of the reasons mentioned for kubernetes/community.

I've seen glitches in the approval plugin, can't put my finger on what the problem has been those times, but...

Is self-lgtm a thing with these commands yet? It's immensely useful to self-LGTM after a trivial rebase or small test fix, etc. without pinging the reviewer once more. Maybe would be miligated wit

[2017-12-30 16:08] xiangpengzhao commented on #38232
/close
This issue is no longer valid.

[2017-12-30 16:08] #38232 closed

[2017-12-30 16:08] xiangpengzhao commented on #38235
/close
This issue is no longer valid.

[2017-12-30 16:08] #38235 closed

[2017-12-30 16:09] xiangpengzhao commented on #38248
/close
This issue is no longer valid.

[2017-12-30 16:09] #38248 closed

[2017-12-30 16:10] xiangpengzhao commented on #38251
/close
This issue is no longer valid.

[2017-12-30 16:10] #38251 closed

[2017-12-30 16:11] xiangpengzhao commented on #38249
/close
This issue is no longer valid.

[2017-12-30 16:11] #38249 closed

[2017-12-30 16:11] xiangpengzhao commented on #38250
/close
This issue is no longer valid.

[2017-12-30 16:11] #38250 closed

[2017-12-30 16:38] yastij commented on #25320
@gmarek @davidopp - As #57690 started, moving to Taints requires thinking about `NodeStatus.NodeSpec.Unschedulable` and if we still consider to transform it into a Taint.

For example service controller relies on this field to list node based on their conditions (and #57690 it will support listing using taints).

If we still want to transform it into a taint, I might be able to do so, as it might

[2017-12-30 17:33] ahmetb commented on #17150
For the record, I asked this at https://github.com/jekyll/jekyll-seo-tag/issues/219 but so far no luck.

[2017-12-30 17:38] chrislovecnm commented on #57341
Question about the latest release.  Why has the folder structure changed in the tar ball?  @freehan @luxas ??

[2017-12-30 17:57] jessesuen commented on #57705
Fair enough. It's not that we _want_ to allow them to be persisted (we don't) - we just did not have a mechanism to prevent it. I agree that CRD validation would be ideal, but is not very practical for us at the moment since we incorporate a lot of k8s types (container, volumes, volumeClaimTemplates, secretSelectors) as part of our CR, and coming up with the validation schema for all of them will

[2017-12-30 18:55] #37510 closed

[2017-12-30 19:05] ibuildthecloud commented on #44873
I want to throw my hat into the ring here and propose `trash` https://github.com/rancher/trash.  Trash is not a beautiful peace of work.  It was designed to be quick and dirty.  It took inspiration from Docker's old vendor script that just took a list of repos, cloned then, and deleted unused code.  The usage model is just edit `vendor.conf` in the root of your repo and add `${REPO} ${HASH}` run t

[2017-12-30 19:58] yastij opened #57715 "CSI adapters for existing in-tree volume plugins"
As discussed in wg-cloudprovider and sig-storage meetings, @ublubu and me started working on CSI adapters fthe cloudprovider-side of volume plugins. This issue is here to track progress.

Currently the first being worked are AWS, CGE and Azure, if anyone is interested feel free send PRs.

cc @wlan0 @ublubu @jsafrane

/sig storage
/assign

[2017-12-30 20:04] yastij commented on #49625
created #57715 as fresh start to track work.

[2017-12-30 20:04] #49625 closed

[2017-12-30 20:43] ash2k commented on #43430
This does not happen with Custom Resources in 1.8 so on one hand this could be closed. On the other hand though the discussion suggests (I don't fully understand the details) that there is/are some other bug(s) in the code that lead to the panic. If someone understands the issue better, please comment/close it. Perhaps the title should be updated.

[2017-12-30 21:24] sttts commented on #44873
As written on Twitter, I have my concerns switching to some intermedidate tool (before dep). Main reason: there are more artifacts and consumers than in a "normal" Go project. We have to

1. support something like `staging/`
2. output Godeps.json at least for the published staging repos, preferably also for k8s.io/kubernetes itself because downstream consumers expect it.

There are reasons that go

[2017-12-30 21:26] sttts commented on #44873
Afaik in CI we do not cache. Am I wrong? How does it look like without caching? @liggitt [mentions](https://github.com/kubernetes/kubernetes/issues/44873#issuecomment-321453788) 18 min which trash has to beat.

[2017-12-30 21:49] dims commented on #43783
Folks, in the PR above (WIP!), i am setting the default --pids-limit to 1024 d anadded a `--docker-pids-limit` parameter to expose it as a kubelet command line param. please see if this is useful.

I've tried a few fork bombs, made sure `docker inspect` shows the pid limit we set and watched the `docker stats`  show that the limit is being respected. PTAL.

[2017-12-30 23:04] Thermi commented on #48181
/lifecycle frozen

[2017-12-30 23:28] idvoretskyi commented on #57689
@spiffxp

CLA-bot may be dependent on this link. cc @foxish

[2017-12-31 03:22] mlmhl commented on #57161
Yes, it should be removed, and this if-block has one more problem: It will add the CSI plugin to `ExpandController` if `CSIPersistentVolume` not enabled. Have you fixed this? If not, can I submit a PR for this?

[2017-12-31 03:56] xiangpengzhao commented on #47120
/close
This issue is no longer valid.

[2017-12-31 03:56] #47120 closed

[2017-12-31 04:41] ibuildthecloud commented on #44873
@sttts Yep, totally understand the concerns with the switch which is why I'm asking if anybody would want this.  Basically what I'm saying is that I'm willing to bend trash to the requirements of k8s.  Its our stupid little tool and it works well for our needs.  We work more and more with k/k code base and frankly godeps is like pulling teeth for us being that our day to day activities we usually

[2017-12-31 07:42] oonisim opened #57718 "[1.9] kube-controller-manager fails to start with cloud-provider=aws"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cloud-provider

**What happened**:
--cloud-provider=aws in /etc/kubernetes/manifests/kube-controller-manager.yaml makes it fail to start with CrashLoopBackOff.

### kube-controller-manager.yaml

    kind: Pod
    metadata:
      name: kube-controller-manager
      namespace: kube-system
    spec:
      containers:
      - command:

[2017-12-31 08:29] gjmzj commented on #57673
@MaciekPytel thanks for your advice

[2017-12-31 08:29] #57673 closed

[2017-12-31 08:54] hach-que commented on #35195
The original driver for this was Stackdriver logging, and at the time there was no exclusion system for Stackdriver.

Now that Stackdriver exclusions can be used to reduce costs, this issue can be closed.

[2017-12-31 08:54] #35195 closed

[2017-12-31 10:07] thecodejunkie opened #57719 "Officially support kube-registry-proxy on ARM"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature
/sig architecture

Are there any plans on releasing an official build of `kube-registry-proxy` (and kube-registry as well now that I think of it) that runs on ARM? Several other of the Kubernetes projects already support ARM (like Kubernetes itself and the Dashboard)? There's an _old_ unofficial version floating around ht

[2017-12-31 10:08] pires commented on #24229
@jbeda @timothysc @ncdc maybe Ark design answers most, if not all, of this?

[2017-12-31 11:10] mhausenblas commented on #24229
@pires I'd agree that Ark addresses many use cases. I wonder if we want to invest some work here, maybe make it part of the official docs?

[2017-12-31 11:28] yastij commented on #47243
/remove-lifecycle stale

[2017-12-31 12:40] mlmhl commented on #56990
Does the rbd command exist in your kube-controller-manger node?

[2017-12-31 15:07] mattkelly commented on #56489
Thanks for pointing me here @nikhita. How do people feel about instead following the convention I outlined here: https://github.com/kubernetes/code-generator/issues/30?

[2017-12-31 15:19] lannyMa opened #57720 "kubelet: failed to get container info for "/user.slice/user-0.slice/session-9.scope": unknown container "/user.slice/user-0.slice/session-9.scope""
[code]

kubelet erros:
[code]

[2017-12-31 15:19] lannyMa commented on #57720
[code]

[2017-12-31 17:42] Thermi commented on #41913
/lifecycle frozen

[2017-12-31 18:40] cblecker commented on #57689
Submitted https://github.com/kubernetes/community/pull/1552 to rewrite/organize CLA.md in k/community, and https://github.com/kubernetes/test-infra/pull/6115 to update the link from the CLA bot.

[2017-12-31 18:54] bowei commented on #43632
/close

[2017-12-31 18:54] #43632 closed

[2017-12-31 18:59] tamalsaha commented on #52511
I create Kubernetes clusters using Kubeadm which sets the kube apiservers dns policy to `ClusterFirst`. Given it uses host network, it should set dns policy to `ClusterFirstWithHostNet`. Is it safe/recommended for Kube api server to depend on kube-dns for resolving self hosted webhook serer's name?

cc: @luxas

[2018-01-01 01:39] pikeas commented on #24229
Please add a link to Ark?

[2018-01-01 02:45] resouer commented on #48647
/remove-lifecycle stale

[2018-01-01 02:46] resouer commented on #48647
https://github.com/kubernetes/community/pull/933/files is under actively review and discuss.

[2018-01-01 04:32] #42013 closed

[2018-01-01 10:23] yue9944882 commented on #57558
What is the spec.dnsPolicy field of your busybox pod?

btw, Calico hacks the mechanism of ARP "badly" which may potentially influence your network.

[2018-01-01 10:26] goblain commented on #43962
/remove-lifecycle stale

[2018-01-01 11:17] oonisim commented on #57718
Reproduced with 1.8.6.

    journalctl -b -f CONTAINER_ID=$(docker ps | grep k8s_kube-controller-manager | awk '{ print $1 }')

    Jan 01 11:08:58 ip-172-31-4-117.us-west-1.compute.internal dockerd-current[9023]: E0101 11:08:58.831179       1 reconciler.go:282] attacherDetacher.AttachVolume failed to start for volume "kuard-pv" (UniqueName: "kubernetes.io/aws-ebs/vol-0d275986ce24f4304") from node

[2018-01-01 11:54] luxas commented on #35314
/remove-lifecycle stale
/lifecycle frozen

[2018-01-01 12:36] ivantichy commented on #57558
busybox.yaml can be seen here:
https://github.com/ivantichy/kube-network-issue/blob/master/busybox.yaml

- No such field is defined.
This yaml file is taken form Kubernetes page about DNS: https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/

Anyway I still see two thing. Network connectivity issue  and (second) the fact that there is missign record in /etc/resolv.conf

[2018-01-01 13:14] pieterlange commented on #24229
https://github.com/heptio/ark

[2018-01-01 13:36] yue9944882 commented on #57707
Seems like it is decided by [docker](https://github.com/moby/moby)'s mechanism?

[2018-01-01 13:53] #48681 closed

[2018-01-01 14:39] deitch commented on #43633
/remove-lifecycle stale

[2018-01-01 14:39] deitch commented on #43633
Apparently, I cannot remove it from stale...

[2018-01-01 15:39] f0 commented on #54492
Hi, the problem also exist on kubernetes 1.8.5

[2018-01-01 15:41] f0 commented on #54492
/kind bug

[2018-01-01 15:51] f0 commented on #54492
@juliohm1978  you can set --node-ip ${nodeip} falg for the kubelet, this "fixed" the problem in my case

[2018-01-01 16:04] dims commented on #43633
looks like it worked @deitch !

[2018-01-01 16:15] dims commented on #57718
@oonisim i use the following command line `kubeadm init --config kubeadm.conf` and my kubeadm.conf looks like so

[code]

you can use "aws" instead for your case. When you do it this way the kube-apiserver.yaml	and kube-controller-manager.yaml will have load a file called `/etc/kubernetes/cloud-config` using hostPath/volumeMounts. You have to ensure that this file is created on your node and has t

[2018-01-01 16:57] davidblewett commented on #45746
This is still an issue; I see regular errors in our logs from attempts to connect to the port not using TLS.

[2018-01-01 17:02] chrissnell commented on #39767
/lifecycle frozen

Still hoping to fix this at some point.

[2018-01-01 18:07] yue9944882 commented on #57707
[https://github.com/kubernetes/kubernetes/blob/da9a4d5da9ecc6f687c873fb990d662b1f9f98b2/cluster/saltbase/salt/kube-apiserver/kube-apiserver.manifest#L242](https://github.com/kubernetes/kubernetes/blob/da9a4d5da9ecc6f687c873fb990d662b1f9f98b2/cluster/saltbase/salt/kube-apiserver/kube-apiserver.manifest#L242)

@mborsz
Looks like without `/bin/sh -c CMD` the pipe command `1>>/var/log/kube-apiserver.l

[2018-01-01 19:15] nilsmagnus commented on #10091
Is this as simple as search/replace /etc/kuberenetes/manifests for /etc/kuberenetes/pods ?

[2018-01-01 20:33] cblecker commented on #49425
/remove-lifecycle stale
/sig gcp

[2018-01-01 22:40] YDD9 opened #57725 "PVC pending Failed to get GCE GCECloudProvider with error <nil>"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

1. Created a Dynamic StorageClass Fast in k8s cluster
2. Make StorageClass Fast as default
3. Create a PVC bind with StorageClass Fast

error:
 Failed to provision volume with StorageClass "fast": Failed to get GCE GCECloudProvider with error <nil>

**What you expected to happen**:
PVC is created correctly and bind with StorageClas

[2018-01-01 23:41] YDD9 commented on #57725
https://kubernetes.io/docs/concepts/storage/storage-classes/#local
local StorageClass
provisioner: kubernetes.io/no-provisioner

No supported dynamic mode.

[2018-01-01 23:41] #57725 closed

[2018-01-02 00:44] prestonvanloon opened #57726 "$(HOSTNAME) not replaced in args"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Given the following pod configuration:

[code]

This pod echoed literately `$(HOSTNAME)`.

**What you expected to happen**:

The pod to echo `command-demo` (the pod name).

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

This works for other environment vari

[2018-01-02 00:45] DreadPirateShawn commented on #32432
/remove-lifecycle stale

This seems like a still-open gap. (And there's an argument to be made that it's a bug, not just a feature request.)

There seemed to be initial support for fixing this. Would it be possible to get clarification whether it's still on the radar, or if there's no plan to support binary config files?

(Or, **has** it been fixed, simply without a PR linked to this ticket?)

[2018-01-02 01:36] oonisim commented on #57718
@dims Thanks for the suggestion. However no luck.

    $ kubeadm config view
    api:
      advertiseAddress: 172.31.4.117
      bindPort: 6443
    authorizationModes:
    - Node
    - RBAC
    certificatesDir: /etc/kubernetes/pki
    cloudProvider: aws                             <-----
    etcd:
      caFile: ""
      certFile: ""
      dataDir: /var/lib/etcd
      endpoints: null
      image: "

[2018-01-02 01:45] dims commented on #57718
@oonisim can you post the kube-apiserver.yaml and the kube-controllermanager.yaml? (look for /etc/kubernetes/cloud-config entry).

Did you see my note to make sure `/etc/kubernetes/cloud-config` file is created in all the node and has the details needed to connect to aws?

[2018-01-02 01:45] m1093782566 commented on #49562
/close

[2018-01-02 01:45] #49562 closed

[2018-01-02 02:27] #34463 closed

[2018-01-02 02:28] #27626 closed

[2018-01-02 02:31] #46837 closed

[2018-01-02 02:31] #46568 closed

[2018-01-02 02:32] pineking commented on #35062
same question on v1.9.0, CentOS 7.2 , docker 17.09.0 with overlay2 storage driver

[2018-01-02 02:43] lichuqiang commented on #57300
Thanks for reminding, I would update related PR to refer to the issue.
As for this one, it's more of a track of related tasks in v1.10. and includes limitrange other than resourceQuota.

[2018-01-02 02:47] mtaufen opened #57728 "Code generator wants to replace 2017 with 2018 in all generated license statements"
Happy New Year! Now when I run make I get a diff like this in every zz_generated file:
[code]

Not sure what a smart solution is, but we could merge something like #57729 in the meantime.

[2018-01-02 02:59] mtaufen commented on #57701
The comment that `newKubeCfg` will immediately contain the new (presumably changed) config prior to a Kubelet restart is incorrect. `getCurrentKubeletConfig()` scrapes the values from the Kubelet's /configz endpoint, which won't have updated to the new configuration until after the Kubelet has restarted.

[2018-01-02 02:59] prestonvanloon commented on #57726
I'm not 100% sure on the label...
@kubernetes/sig-scheduling-bug

[2018-01-02 03:38] xiang90 commented on #49746
/cc @jpbetz @rphillips

after we bump the etcd client version, the client side metrics should be enabled easily.

/remove-lifecycle stale

[2018-01-02 03:39] xiang90 commented on #49746
@smarterclayton

as we are going to bump etcd client in 1.10, shall we also make this issue part of 1.10? it should be fairly easy to enable.

[2018-01-02 03:49] #24091 closed

[2018-01-02 04:00] fejta-bot opened #57730 "Failure cluster [6d0905...] failed 78 builds, 19 jobs, and 1 tests over 1 days"
### Failure cluster [6d0905cb6e1b427948db](https://go.k8s.io/triage#6d0905cb6e1b427948db)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    19 jobs failed,    78 builds failed.
Failure stats cover 1 day time range '1 Jan 2018 03:24 UTC' to '2 Jan 2018 03:24 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 19 |

##### Top fai

[2018-01-02 05:32] #56777 closed

[2018-01-02 05:49] oonisim commented on #57718
## Solution

Thanks @dims for guiding me the right way.

After looking into the tickets and read the comments by @kingdonb

- https://github.com/kubernetes/kubeadm/issues/90
- https://github.com/kubernetes/kubernetes/issues/37844#issuecomment-286120247
- https://github.com/kubernetes/kubeadm/issues/416

Found the documentation below. Is this in kubernetes.io and if not ... **Why**!?

[K8S AWS Clou

[2018-01-02 06:05] ScorpioCPH commented on #57701
@mtaufen Hi, thanks for your explanation!

I add some timestamps to test this, but the result is not the some as you described.
For example, `getCurrentKubeletConfig()` returned at `00:00:00`, but Kubelet restarted at `00:00:03`.

And after reading the code,  `getCurrentKubeletConfig()` is just call this API: `api/v1/proxy/nodes/{node_name}/configz`, and i don't find any code about waiting for Kub

[2018-01-02 06:08] oonisim commented on #57718
Still remaining question. Why cannot update the manifest file /etc/kubernetes/manifests/kube-controller-manager.yaml to specify --cloud-provider=aws?

Does this mean only way to configure is at the time of "kubeadm init"?

[2018-01-02 06:29] m1093782566 commented on #41442
IIUC, the array `topologyMatch` described above is used to guarantee ability? For example,

`topologyMatch: [ "kubernetes.io/hostname", "failure-domain.beta.kubernetes.io/zone" ]`

if hostname mismatch, then it will try to find the endpoints in the same zone?

BTW, From the review of scalability, we should avoid letting **kube-proxy** watching ALL nodes otherwise it will increase O(N nodes) long p

[2018-01-02 06:47] #52968 closed

[2018-01-02 06:49] sttts commented on #43214
/lifecycle frozen

@soltysh title needs an update. Happy new year! 🎉

[2018-01-02 06:54] porridge commented on #48127
/remove-lifecycle stale

[2018-01-02 06:57] sttts commented on #56489
This was only a prototype. And yes, we have command lines that are excessive when printed in the files.

Following the convention of kubernetes/code-generator#30 sounds great.

@rahulkrishnanfs feel free to pick up my prototype PR.

[2018-01-02 07:23] sttts commented on #56209
Cannot follow.The status is a special response type we handle in a special way. Here we talk about meta information of the admission pipeline that we want to have in audit events. It's not about "normal annotation" of objects.

[2018-01-02 07:33] sttts commented on #42224
Fixed by https://github.com/kubernetes/kubernetes/issues/55784.

@MHBauer what do you mean with "for the apimachinery reuse"?

[2018-01-02 07:33] #42224 closed

[2018-01-02 07:34] CaoShuFeng commented on #56209
Oh, I get it.
I thought I was "which psp rejected the request."
But what we want is "which psp accepted the request."

[2018-01-02 07:35] CaoShuFeng commented on #56209
/assign

[2018-01-02 07:39] flymark2010 commented on #55005
@mindprince Thanks for your help, following the doc, I was able to get GPU available by using nvidia-device-plugin.

[2018-01-02 08:02] cblecker commented on #44420
Still relevant.
/remove-lifecycle stale

[2018-01-02 08:39] huangjiasingle commented on #36117
@kargakis l meet the some problem in my pro k8s cluster, it's not alway happen,  maybe first time happend,the deploy's rs has 378.  the next time doesn't happend, the deploy's rs has 380 or 379.
in my problem , the old latest version rs's pod hangling Terminating, the new rs doen't create.
the rolling update Params :  maxSurge = 1 maxUnavaible =0 .

[2018-01-02 08:44] luxas commented on #49124
This has been fixed in recent versions

[2018-01-02 08:44] #49124 closed

[2018-01-02 08:51] kargakis commented on #36117
@huangjiasingle open a new issue with the version of your cluster and logs from the controller manager when you reproduce this and tag `@kubernetes/sig-apps-bugs`

[2018-01-02 09:03] qi-min-zhu opened #57739 "After recreating the DaemonSet, the daemonset pod does not run on the not ready node even though the node is recovered"
On my K8S cluster, one node become NotReady status, then i delete and recreate the DaemonSet, and then recover and restart the node manually. But the DaemonSet pod does not run on this recovered node again.

Status of node and daemonset pod before node recover:
[code]
[code]

pod status after running deleting daemonset:
[code]
pod status after recreate the DaemonSet:
[code]

after recover and rest

[2018-01-02 09:22] fasaxc commented on #56320
@m1093782566 We have worked around similar issues for OpenStack, where a VM can reach itself via its floating IP (VIP) but I don't think we've tried this with IPVS.  When you say that MASQUERADE doesn't work, did you try an iptables MASQUERADE action, or was that IPVS masquerade (which is names the same but works differently).

[2018-01-02 09:31] du2016 opened #57740 "how to get the pod ip when access external service"
**What happened**:

when pod in k8s access external service,the snat policy will replace pod ip by node ip ,some times i want to get the pod ip to trouble shooting,but i got node ip

**What you expected to happen**:

external service can get the pod ip

[2018-01-02 09:32] du2016 commented on #57740
/sig network

[2018-01-02 09:39] korenlev commented on #45131
worked with v1.9.0:

1. kubectl config get-contexts <old-context-name>

2. kubectl config set-context <new-context-name> --cluster <cluster-from-old-context> --user <auth-info-from-old-context>

3. kubectl config delete-context <old-context-name>

4. kubectl config use-context <new-context-name>

[2018-01-02 09:41] #28761 closed

[2018-01-02 09:43] zcalusic commented on #45487
Same issue here on Kubernetes v1.9.0 built with Kubeadm. Spent a lot of time trying to figure out why it's not working. I tried all examples from the official documentation, setting up `/root/.docker/config.json` properly, using Kubernetes secrets... all to no avail.

Thanks to @alindeman comment above, I was able to fix it by adding kubelet systemd snippet, reloading systemd configuration and res

[2018-01-02 09:44] vainu-arto commented on #57382
Another duplicate kops ticket https://github.com/kubernetes/kops/issues/3605 contains a workaround based on a script that polls the api until the tags appear. Kubelet should probably do this itself.

[2018-01-02 09:45] dixudx commented on #53644
I can confirm this. v1.9.0 has introduced new field attribute `VolumeDevices` for `Container`, which is causing the hash value get changed.

[2018-01-02 09:51] m1093782566 commented on #56320
Thanks for your reply, @fasaxc

I tried iptables MASQUERADE and didn't try IPVS masquerade. I don't know the difference between them. How can I try IPVS masquerade? full-nat mode?

[2018-01-02 10:38] gmarek commented on #24467
@cheftako

[2018-01-02 10:39] gmarek commented on #45675
/close

[2018-01-02 10:39] #45675 closed

[2018-01-02 10:40] redbaron commented on #23720
/remove-lifecycle stale

[2018-01-02 10:50] fasaxc commented on #56320
@m1093782566 Afraid I don't know the IPVS options very well.

[2018-01-02 11:04] hzxuzhonghu commented on #57740
Can not make this, without snat, data packet can not be back.

[2018-01-02 11:04] hzxuzhonghu commented on #57740
/close

[2018-01-02 11:04] #57740 closed

[2018-01-02 11:08] du2016 commented on #57740
@hzxuzhonghu add static route or other ways can do this ,such as i can run ospf on every node

[2018-01-02 11:15] fasaxc commented on #46508
/remove-lifecycle stale

[2018-01-02 11:15] fasaxc commented on #46508
Still an issue (and affects other networking plugins, such as Calico).

[2018-01-02 11:17] hzxuzhonghu commented on #57740
Sorry, I don't have much knowledge about  `ospf `. But does it need config on both sides.

[2018-01-02 11:18] m1093782566 commented on #56320
Okay, thanks all the same.

[2018-01-02 11:25] du2016 commented on #57740
yes,it need config on every node or switch ,bgp or ospf can get through  container network and physical network,when i do this ,i think i don't need snat or dnat rules except cluster ip

[2018-01-02 11:28] hzxuzhonghu commented on #57740
I see a little, but seems this is not only kubernetes can handle.

[2018-01-02 11:30] du2016 commented on #57740
thank you,i will have a look about calico, may by calico calico this

[2018-01-02 11:30] hzxuzhonghu commented on #57740
If you really need your server to distinguish client by ip, there is another way,  get podip in client side, and include in request each time.

[2018-01-02 11:31] du2016 commented on #57740
ok  thanks

[2018-01-02 11:42] dims commented on #57718
@oonisim - `--cloud-provider=aws` is a possibility, but there are so many more things in the configuration options in the `--config` file for kubeadm init so it may be better to leave it where it is. i'll let others comment.

No, `kubeadm init` is a helper at this point for generating all the initial files, you can edit the api server and controller yaml directly to add/modify any options you wish

[2018-01-02 11:45] anguslees commented on #56346
The bug is in the expansion of `-X foo/bar.gitTreeState=git archive` (note the space in the value).

`kube::version::ldflags` buiilds an array of words, then squashes them back to a single string, losing the original word boundaries.  This works for all values except KUBE_GIT_TREE_STATE="git archive", which is set in `kube::version::get_version_vars` for git archive exports, and obviously contains

[2018-01-02 11:49] jiaxuanzhou commented on #56896
consider adding a field of allocatable resource of cpu/mem/gpu in the status as well!

[2018-01-02 11:51] porridge commented on #55779
@wojtek-t there isn't a huge number of changes to the `kube-dns` `Endpoints` - less than 100 pods are being created/deleted in each step.

Wouldn't serializing once upfront be hard given that we don't know all API versions expected by each `kube-proxy`? Perhaps instead we could cache serialized endpoints representations (one-element cache per {`Endpoints` object, API version} pair)?

[2018-01-02 11:53] dims commented on #45487
@zcalusic fyi this was also reported in https://github.com/kubernetes/kubernetes/issues/57427 and https://github.com/kubernetes/kubernetes/issues/57273

It was fixed in https://github.com/kubernetes/kubernetes/pull/57463 and cherry picked to 1.9 branch in https://github.com/kubernetes/kubernetes/pull/57472

1.9.1 is expected today 5 PM Pacific time per:
https://groups.google.com/forum/?utm_medium=

[2018-01-02 11:53] mlmhl opened #57744 "Wrong DeviceMountPath for ceph rbd volume plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The `GetDeviceMountPath` method for ceph rbd volume plugin generates the path with code as follows:

[code]

So the device mount path's format will be:  `{pluginName}/rbd/...`, this implementation has two problems:

1. Inconsistent with other volume plugins, as all the other plugins return `{pluginName}/mounts/...`, see

[2018-01-02 11:54] mlmhl commented on #57744
/assign @rootfs

[2018-01-02 11:54] huangjiasingle commented on #36117
@kargakis ok, l viewed the code of deployment controller, the logic is:   syncDeployment() - > rolloutRolling() -> getAllReplicaSetsAndSyncRevision(), getAllReplicaSetsAndSyncRevision() the paramter  **createIfNotExisted** is true , so it should  alway create a newRS,  the controller's log doesn's has err log information,  l will  change the log level  tomorrow.   l also will review the code of de

[2018-01-02 12:02] zcalusic commented on #45487
Ah, so it's actually combination of 2 bugs that bit me.

Thanks for the info @dims, looking forward to new release. 👍

[2018-01-02 12:03] wojtek-t commented on #55779
Why you are only mentioning "kube-dns" Endpoints? The profile doesn't imply that those are only these one (I thing this includes serializing all endpoints).

"Serialize the object once" was my "mental shortcut". Yes, you're obviously right that there might be multiple api versions, etc. So it would need to be carefully thought through what exactly we should do.
What you mentioned is one option. An

[2018-01-02 12:26] hzxuzhonghu opened #57745 "endpoint controller no need to delete endpoint when service is deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

`EndpointController.syncService` call delete endpoint when service is not found.

**What you expected to happen**:

It is no need to do delete in controller. Because in service restStorage, endpoint is deleted when delete service. See https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/rest.go

[2018-01-02 12:26] hzxuzhonghu commented on #57745
/area controller-manager
/sig apps

[2018-01-02 12:27] hzxuzhonghu commented on #57745
/kind bug

[2018-01-02 12:29] dims commented on #57440
ok, so let's check the DNS lookup then?

@joejulian can you please try the `export GODEBUG=netdns=cgo` ( see https://golang.org/pkg/net/ ) There's a tip in there to print debugging information too.

[2018-01-02 12:37] porridge commented on #55779
On Tue, Jan 2, 2018 at 1:04 PM, Wojciech Tyczynski <notifications@github.com

Because kube-dns is the only deployment that is being changed at the time,
and IIUC Endpoints only changes when the set of pods returned by the parent
Service's selector changes.
Besides, all other Endpoints resources in the cluster (5 of them) are tiny
(0 or 1 element).

[2018-01-02 12:40] wojtek-t commented on #55779
But note that every change to Endpoints object is send to all kube-proxies (i.e. 5000 times). And adding 100 pods to a service may mean 100 updates (they may be batched a bit), which would mean 500k copies & serializations.

[2018-01-02 12:45] Dundee opened #57748 "kubectl should be backwards compatible"
Kubectl is currently not backwards compatible.

When I use kubectl v1.9.0 with cluster v1.6.3, I cannot edit deployments.

I get error "Error from server (NotFound): the server could not find the requested resource" similar to #9945.

It's sometimes not so easy to upgrade the cluster (as the client).
I think either kubectl should work with all older cluster versions with the same MAJOR version or

[2018-01-02 12:58] luxas commented on #7452
/remove-lifecycle stale
/lifecycle frozen

Assuming @smarterclayton is still working on https://github.com/kubernetes/kubernetes/pull/50428

[2018-01-02 13:00] porridge commented on #57708
/assign

[2018-01-02 13:02] timstoop commented on #30518
Although the ingress controller is nice, I'd still like to see the possibility to replace the current Service type LoadBalancer with ALBs instead of ELBs, as we prefer using a different Ingress controller that can handle a far larger whitelist than ELBs or ALBs (which is something we need). Unless I'm unaware that ALB whitelists are unlimited?

[2018-01-02 13:03] luxas commented on #48163
I believe this has been fixed, so closing this one as stale

[2018-01-02 13:03] #48163 closed

[2018-01-02 13:06] mjj29 commented on #56304
Bump! I would really love some help with this. Thanks.

[2018-01-02 13:06] mattjmcnaughton commented on #56827
Hi @mdshuai ,
Thanks for reporting this!

From looking at the code in `pkg/controller/podautoscaler/metrics/{legacy_metrics_client,rest_metrics_client}.go, it looks like both metrics clients can print the message `"no metrics returned from heapster"`. Specifically, with both the legacy client and the rest client, resource (i.e. non-custom metrics) are still generated by heapster. However, with the

[2018-01-02 13:17] dims commented on #57382
cc @kubernetes/sig-aws-misc

[2018-01-02 13:22] wojtek-t commented on #57707
@kubernetes/sig-node-bugs @kubernetes/sig-cluster-lifecycle-bugs
I think this is the case for all our components, not just kube-apiserver.

@roberthbailey - FYI

[2018-01-02 13:23] matalo33 commented on #43634
/remove-lifecycle stale

I'd like a maintainer to accept or close this if possible, instead of just letting it go stale

[2018-01-02 13:28] mborsz commented on #57707
@yue9944882

How about using 'exec'-based solution suggested here: https://unix.stackexchange.com/a/196053/268453?
In our case it means prepending 'exec':

[code]

I did changed this in my cluster and the process seems to meet requirements:
* fd/1 and fd/2 are redirected to /var/log/kube-apiserver.log
* container is killed instantaneously

If everyone is fine with such a solution, I can prepare PR

[2018-01-02 13:38] mattjmcnaughton commented on #57009
Hi @charleslieferando ,
Thanks for reporting! The fact that you can curl from some worker machines but not others makes me wonder if its an issue with permissions.

Can you share more about your RBAC/ingress/egress set up?

[2018-01-02 13:42] luxas commented on #48376
ping @mkumatag any update here?

[2018-01-02 13:44] mattjmcnaughton commented on #57365
Hi @prakashsingh08

Thanks for reporting :) Do you mind sharing more about why you think `866m` represents CPU instead of `http_requests` like you requested?

As far as I can tell, the `866m/100` seems feasible as a value for `http_requests`.

Additionally, would you be able to curl the custom metrics server and post the output here. The tutorial does this with `curl -sSLk https://$IP/apis/custom-

[2018-01-02 13:47] yue9944882 commented on #57707
@mborsz
Can `exec`  be omitted like it was before [https://github.com/kubernetes/kubernetes/commit/96439b5a528ef66da47252e0b2dd0927f6938e7d](https://github.com/kubernetes/kubernetes/commit/96439b5a528ef66da47252e0b2dd0927f6938e7d)?

[2018-01-02 14:07] deads2k commented on #57372
Using standard RBAC rules they cannot. We were very careful about that.

The admission plugin rejects those.

[2018-01-02 14:10] DaiHao opened #57753 "kube-dns fails to restart conditionally"
**What happened**:
I build the fault scene by injecting file handle, then kube-dns pod fails to start and stays in CrashLoopBackOff state.

Here is kube-dns's config file and my kubernetes version is 1.5.

[code]

**How to reproduce it (as minimally and precisely as possible)**:
It occurs Conditionally.

**Anything else we need to know?**:
There is a circular dependency in this pod. It likes the c

[2018-01-02 14:13] mkumatag commented on #48376
Depends on https://github.com/kubernetes/kubernetes/pull/54300

[2018-01-02 14:20] rootfs commented on #57744
nice catch @mlmhl

There are two ways to fix this:
- Change mount path. But this will introduce compatibility issues during upgrade.
- Use [mount.GetDeviceNameFromMount](https://github.com/kubernetes/kubernetes/blob/da9a4d5da9ecc6f687c873fb990d662b1f9f98b2/pkg/util/mount/mount.go#L171), instead of [mounter.GetDeviceNameFromMount](https://github.com/kubernetes/kubernetes/blob/da9a4d5da9ecc6f687c873

[2018-01-02 14:27] rootfs commented on #57544
this is true for all non-hypervisor assisted volumes (iscsi, fc, rbd). we are looking for a new attach/detach approach

cc @mtanino

[2018-01-02 14:33] mborsz commented on #57707
@yue9944882
Not sure if understand what you mean.
Before 96439b5 there was no logs, so /bin/sh -c wasn't needed.
`exec`-based solution seems to have all required properties.
What is your concern about using it?

[2018-01-02 14:37] deads2k commented on #52511
The information has to originate from somewhere and the information originates from the API server.  Since multiple authentication and authorization plugins are possible, relying on kube-dns to pull that information and expose it via a standard mechanism seems very fair. The "alternative" relies on using that same cyclical information, but consumes it via a specific, non-standard mechanism.

[2018-01-02 14:40] ankon commented on #36304
What exactly is needed here?

[2018-01-02 14:47] nikhita commented on #43430
This looks like a minikube issue as @deads2k mentioned in https://github.com/kubernetes/kubernetes/issues/43430#issuecomment-288187335.

Closing since this does not affect CustomResources. Please reopen if you face this issue.

/close

[2018-01-02 14:47] #43430 closed

[2018-01-02 15:04] nikhita commented on #29002
Closing since this works for CRDs.

/close

[2018-01-02 15:04] #29002 closed

[2018-01-02 15:11] deads2k commented on #57035
@stevekuznetsov applicable to us?

[2018-01-02 15:15] timothysc commented on #30025
/lifecycle frozen

[2018-01-02 15:18] brancz commented on #57660
@kubernetes/sig-instrumentation-feature-requests @kubernetes/sig-api-machinery-api-reviews

Note that by design the core/custom metrics APIs are currently intentionally _not_ historical. They only return a single value. Historical metrics APIs are still to be done. Possibly as extensions to the existing APIs or entirely new APIs - there are a lot of open questions.

Calculations/aggregations are a

[2018-01-02 15:19] brancz commented on #57660
Somewhat related: https://github.com/DirectXMan12/k8s-prometheus-adapter/issues/31

[2018-01-02 15:24] yue9944882 commented on #57707
@mborsz
I just tried `exec` and it works fine for me. 👍

[2018-01-02 15:27] discordianfish commented on #57660
Okay, so the types I linked to would be returned by the backing monitoring system based on a "query"? So Window wouldn't be set by the reporter (as I assumed) but by the monitoring system?

So in the case of the HPA, it would require configuration of a query (whether abstracted or specific to the backing system)? That would work I assume.

[2018-01-02 15:51] #57728 closed

[2018-01-02 15:51] #56121 closed

[2018-01-02 16:02] rporres commented on #42306
@innocode-devops I'm experiencing this in a baremetal 1.8.2 k8s cluster

[2018-01-02 16:03] porridge commented on #56066
Similar case:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/91
[code]

[2018-01-02 16:23] roberthbailey commented on #14230
@amygdala - what cluster context are you referring to?

If you are talking about the context in the kubeconfig file, it doesn't contain the zone for the cluster. The name of the context (if we wanted to try and parse that), is just the [GCP project and instance prefix](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L1554). And nothing else written to the kubeconfig file i

[2018-01-02 16:24] roberthbailey commented on #49313
/remove-lifecycle stale
/lifecycle frozen

[2018-01-02 16:25] roberthbailey commented on #24123
/remove-lifecycle stale
/lifecycle frozen

[2018-01-02 16:25] roberthbailey commented on #24123
I think we are now getting close to being able to do this.

[2018-01-02 16:32] mattfarina commented on #55714
@kow3ns dhilipkumars Has this already been handled?

[2018-01-02 16:35] rootfs commented on #57744
cc @wenjun93

[2018-01-02 16:40] roberthbailey commented on #21155
/close

[2018-01-02 16:40] #21155 closed

[2018-01-02 16:41] roberthbailey commented on #3131
@krousey has told me he'd be strongly in favor of getting rid of ginkgo, although he doesn't have the cycles to do it nor the authority to make that decision. :)

[2018-01-02 16:43] roberthbailey commented on #20661
Based on a recent bug where all GKE clusters were being flagged as test clusters and had increased log level, I'm going to say that this is done.

@dashpole

/close

[2018-01-02 16:43] #20661 closed

[2018-01-02 16:43] liggitt commented on #57748
kubectl supports one version forward and backward skew:

from https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew

[2018-01-02 16:43] #57748 closed

[2018-01-02 16:44] taylorb-microsoft commented on #57356
cc @jstarks, @jhowardmsft, @darrenstahlmsft

I think for Windows hosts (which support both Windows and Linux containers w/Windows supporting both process and VM isolation and Linux only as VM isolation) we are just taking in a host path, which typically could be a drive letter (f:\; a mount point c:\mydrive; or a volume path \\.\volume\{GUID}).  John(s) Darren is that correct?

[2018-01-02 16:51] mjj29 commented on #56304
Further update: after upgrading to the latest (0.24.1) minikube the DNS is running fine - except it's bound to 10.0.0.10. Explicitly looking up on that IP works fine, but containers get 10.96.0.10 written to their resolv.conf, so they can't look them up. Any idea why DNS might bind to 10.0/16 but pods think it's on 10.96/16 ?

[2018-01-02 16:51] kevinjqiu commented on #19570
Can confirm with a tectonic provisioned cluster, even though controller-manager and scheduler deployments are fine, `kubectl get cs` shows them as unhealthy:
[code]

If I port-forward the pods and do curl on them, they're fine:
[code]

A bit digging of the source code showed that the api server hard coded the addresses for controller manager and scheduler: https://github.com/kubernetes/kubernetes/

[2018-01-02 16:58] mjj29 commented on #56304
aaaand now I'm back to this:

E0102 16:55:29.329539       1 sync_configmap.go:86] Error getting ConfigMap kube-system:kube-dns err: Unauthorized
E0102 16:55:29.329549       1 dns.go:183] Error getting initial ConfigMap: Unauthorized, starting with default values
E0102 16:55:29.330219       1 reflector.go:199] k8s.io/dns/vendor/k8s.io/client-go/tools/cache/reflector.go:94: Failed to list *v1.Config

[2018-01-02 17:08] khenidak commented on #54899
No let us close. This was fixed in https://github.com/kubernetes/kubernetes/pull/55752

[2018-01-02 17:09] mtaufen commented on #30793
/remove-lifecycle stale

[2018-01-02 17:10] yujuhong commented on #42442
Let's consolidate the discussion in #39800

[2018-01-02 17:10] #42442 closed

[2018-01-02 17:16] yujuhong commented on #46310
@PengTaoWW, I don't think node e2e uses the ssh package fixed in #23843

[2018-01-02 17:18] foxish commented on #45567
/close

This is no longer relevant in the 1.9+ world.

[2018-01-02 17:18] #45567 closed

[2018-01-02 17:18] vbmade2000 commented on #56303
@tzurE Are you still facing the same issue ?

[2018-01-02 17:19] kfox1111 commented on #31824
/remove-lifecycle stale

[2018-01-02 17:19] kfox1111 commented on #31824
This is still a very important issue.

[2018-01-02 17:23] foxish commented on #45759
@kow3ns @soltysh @janetkuo, this seems like a request to support DAG scheduling in jobs.

[2018-01-02 17:25] #24713 closed

[2018-01-02 17:29] #57745 closed

[2018-01-02 17:41] mtaufen commented on #57701
Are you actually changing the configuration object's values?
`getCurrentKubeletConfig()` will return the old values until the Kubelet restarts (because /configz will return the old values until the Kubelet restarts). In any case where you actually change the config values, the `reflect.DeepEqual` assertion will fail until the Kubelet restarts, and thus you'll wait for the restart before continuing

[2018-01-02 17:43] gnufied commented on #57686
I think that is inherent limitation (or feature) of prometheus client library or many other metrics libraries. Once you register and emit a metric - it is always emitted until you restart the component.

[2018-01-02 17:45] beaudryj commented on #55031
just a heads up this issue also bleads into ESX Hosted vms not just VMware fusion attempting @marono's build to see if it works on ESX

[2018-01-02 17:47] yujuhong commented on #28382
I think the issue is stale and the test framework now waits for the kube-system namespaced pods to be ready.

[2018-01-02 17:47] #28382 closed

[2018-01-02 17:47] jiayingz commented on #57300
As I understand, we don't seem to need limit range given that current ER doesn't allow any overcommit.

@lichuqiang could you add an agenda to the RM workgroup meeting to summarize the change you made to support ER resource quota to get some general feedback? Thanks!

[2018-01-02 17:48] JiangtianLi commented on #55031
@beaudryj I have a PR here https://github.com/kubernetes/kubernetes/pull/57124.

[2018-01-02 17:55] thockin commented on #41442
I will read your proposal now.  I was thinking of topologyMatch as a priority-ordered list of affinity zones, yes.  That said, David is right that consistency is important.  Pod affinity seems to run with "preferred" and "required" (aka soft and hard), rather than a list.  If that API is working well for users (is it?), perhaps that is the pattern to follow.  Either "Prefer this topo key, but fall

[2018-01-02 17:56] foxish commented on #48466
/lifecycle frozen

[2018-01-02 17:58] foxish commented on #13944
/close

Closing here. We should reopen against kubernetes/examples if it's still broken and unusable.

[2018-01-02 17:58] #13944 closed

[2018-01-02 18:02] fieryorc commented on #53533
This is critical use case for us too. We have a cron job that occasionally runs into high memory usage (>30GB) and we don't want to permanently allocate 40+GB nodes. Also, given that we run in three zones (GKE), this will allocate 3 such machines (1 in each zone). And this configuration has to be repeated in 3+ production instances and 10+ test instances making this super expensive to use K8s.  We

[2018-01-02 18:02] foxish commented on #47930
/remove-lifecycle stale

[2018-01-02 18:04] dhilipkumars commented on #55714
@mattfarina we have raised an intial PR for statefulsets, i would like to get that reviewed and merge that.  I can replicate that work for other controllers immediately after that.

[2018-01-02 18:07] yujuhong commented on #36781
Fixed by #36820

[2018-01-02 18:07] #36781 closed

[2018-01-02 18:10] yujuhong commented on #43783
/cc @filbranden, who was also looking into the pid issue

[2018-01-02 18:12] khenidak commented on #57444
I think @malachma proposal is the cleanest and safest. However we will have to tell *all* Azure users that they have to have azure UDEV rules configured in nodes, even if WAAGENT is not installed.

[2018-01-02 18:13] liggitt commented on #56304
for config, kube-dns can either
1. read config from a configmap mounted into the pod (via the `--config-dir` flag, as used in https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kube-dns.yaml.in#L129)
2. actively make API calls to read config map objects directly (via the `--config-map` and `--config-map-namespace` flags)

the default role does not grant any read permissions fo

[2018-01-02 18:13] #56304 closed

[2018-01-02 18:16] quasiben commented on #52336
Will this issue also be patched into the 1.7.X branch ?

[2018-01-02 18:17] StevenACoffman commented on #56991
We get hit by this, and I wonder if there is a way that Kubernetes can avoid scheduling to a NotReady node.

[2018-01-02 18:17] mindprince commented on #57300
Yeah, since ERs don't support overcommit, LimitRange defaulting doesn't make sense for them. But LimitRange can still be used for enforcing max, I think.

I would suggest updating this to be just for limitrange and use the other issue for resource quota.

[2018-01-02 18:27] yujuhong commented on #49605
I don't think we purge associated events when deleting a resource, whether it is a pod or a node. If you want to view only events that are associated with the current object, you can consider filtering by uid.

[2018-01-02 18:27] msau42 commented on #57662
@sbezverk are you working off of the latest k8s code?  There was a change that went in mid-Dec that changed a bunch of volume error messages

[2018-01-02 18:30] yujuhong commented on #46840
I believe more places in kubelet need to be changed to be PodSandbox-aware. This would be easier once we remove the rktnetes integration, which does not use PodSandbox at all.

[2018-01-02 18:30] sbezverk commented on #57662
@msau42 yep on the latest master

[2018-01-02 18:31] yujuhong commented on #44043
Closing since the issue has been inactive for over 6 months. Feel free to open a new issue if you run into the problem again (using a newer kubernetes version).

[2018-01-02 18:31] #44043 closed

[2018-01-02 18:34] KeithTt commented on #57442
@dashpole

[2018-01-02 18:36] KeithTt commented on #52336
@dashpole I am sorry I missed your message, I have opened a new issue and cc you.

[2018-01-02 18:36] davidopp commented on #41442
It might be good enough (in terms of staying consistent) to just use the `topologyKey` concept and terminology in both places. If the service resolution use case is better handled by a list of expanding topologies than by a required/preferred split as in pod scheduling, then I wouldn't say you should feel obligated to use the latter.

[2018-01-02 18:40] msau42 commented on #44460
I think this is still worth doing. @badboot did you still want to work on it?

[2018-01-02 18:40] msau42 commented on #44460
/remove-lifecycle-stale

[2018-01-02 18:41] msau42 commented on #44460
/remove-lifecycle stale

[2018-01-02 18:57] #57694 closed

[2018-01-02 18:57] #57708 closed

[2018-01-02 18:57] #21305 closed

[2018-01-02 18:58] davidz627 commented on #57574
Yes, this seems to be a duplicate. I will close this issue.

[2018-01-02 18:58] #57574 closed

[2018-01-02 18:59] misterikkit commented on #17512
/cc @misterikkit

[2018-01-02 19:02] yastij commented on #46840
@yujuhong - Indeed there's bunch of places where changes should happen. Any issue that tracks rktnetes removal ?

[2018-01-02 19:04] gnufied commented on #57565
hmm, this appears to be GCE specific thing. IMO - we should not measure latency of calls that errored out, the reason I can think of is - when an operation errors out, it may error out prematurely. For example, if detach api call if on average takes 10s then if there is error (because of invalid state of something), that api call may return sooner.

It matters even more for volume operation latenc

[2018-01-02 19:05] gnufied commented on #57565
cc @bowei

[2018-01-02 19:05] yujuhong commented on #46840
FYI: https://github.com/kubernetes/kubernetes/issues/53601

[2018-01-02 19:09] yujuhong commented on #53601
@iaguis @lucab (rktlet maintainers), I'd like to aim at officially deprecating rktnetes in k8s v1.10 (and encourage users to move to rktlet).
Do you think this is reasonable? We can discuss more in the sig node meeting or on slack if you have concerns.

[2018-01-02 19:12] misterikkit commented on #15743
/cc @misterikkit

[2018-01-02 19:17] qrpike opened #57760 "Kubelet not connecting to docker-shim CRI"
/kind bug

**What happened**:
Attempting to start kubelet on CoreOS machine with latest stable (`1576.4.0`). I have many other blades which are PXE booting where the commands work. For some reason on this box where CoreOS is installed to disk, it is not working. I have checked every possible setting and file and they are all identical ( permissions and values ).

**What you expected to happen**:
K

[2018-01-02 19:21] qrpike commented on #57760
/sig node
/sig cluster-lifecycle

[2018-01-02 19:23] BenTheElder commented on #57706
This should be owned by whoever owns the "test-cmd run_kubectl_get_tests".  This doesn't look like a failure in the testing framework or the infrastructure.

I believe this is
@kubernetes/sig-cli-test-failures

[2018-01-02 19:25] jingxu97 commented on #26996
@jamiehannaford  Thanks for the updates. Close this issue now.

[2018-01-02 19:25] thockin commented on #24553
/lifecycle frozen
/remove-lifecycle stale

[2018-01-02 19:28] thockin commented on #5507
/lifecycle frozen
/remove-lifecycle stale

[2018-01-02 19:32] jingxu97 commented on #48188
cc @Random-Liu @yujuhong

[2018-01-02 19:33] #49895 closed

[2018-01-02 19:33] #54899 closed

[2018-01-02 19:43] jingxu97 commented on #34401
@kubernetes/sig-docs-maintainers I think we still need to fix this issue.

[2018-01-02 19:45] #57044 closed

[2018-01-02 19:47] #43470 closed

[2018-01-02 19:50] oomichi commented on #24763
/assign

[2018-01-02 19:50] oomichi commented on #24763
/close

[2018-01-02 19:50] #24763 closed

[2018-01-02 19:52] mtaufen opened #57763 "Kubelet should take a config file, not a config dir"
Jordan Liggitt and I discussed this at length last quarter.
In short:
Handing the Kubelet a directory path and expecting users to put their kubelet configuration in a file with a magic name in that directory is less flexible, less obvious, and less user-friendly than allowing users to just specify a path to an arbitrary file. The Kubelet shouldn't care about what name a user wants on the config fi

[2018-01-02 19:56] roberthbailey commented on #5755
As discussed during the SIG meeting today, this issues was closed and we will use https://github.com/kubernetes/kubernetes/issues/16508 to track the next steps for hyperkube.

[2018-01-02 19:59] david-mcmahon commented on #57667
The release tooling 'git push'es  directly to this repo.  This is currently gated by @kubernetes/kubernetes-release-managers and should not go away.  It will be possible to greatly reduce membership there once we move to a fully 'release from GCB (container builder)' strategy which we hope to achieve this quarter.

[2018-01-02 20:13] yastij commented on #46840
@yujuhong - I'll keep this one open and waiting for #53601

[2018-01-02 20:14] yastij commented on #46840
/remove-lifecycle stale

[2018-01-02 20:21] edsonmarquezani commented on #46421
I'm also having a hard time with this issue. Can't do a simple version rollout (with policy Recreate) as the disk won't mount again, even when the container stays on the same node. Really disappointing..

I'm about to give up on it and switch to CIFS disks, as Microsoft says they perform as good as any device block disk. The problem is Kubernetes 1.5 doesn't support dynamic provisioning for this k

[2018-01-02 20:23] spiffxp commented on #57667
OK, definitely hearing a need to allow people to edit PR descriptions and titles.  I'd like to gain a better understanding of who and how often.  It's possible some bot commands could help reduce some use cases, but I'm unclear on whether it'd be worth it? eg: `/fixes org/repo#N`, `/title foo`, or `/release-note some-multiline-replacement-for-the-existing-release-note-block`

@liggitt
- component/

[2018-01-02 20:31] bsnchan opened #57765 "OpenStack cloud provider should register with instance id instead of instance name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The OpenStack cloud provider currently uses the name of the kubelet node to register with the API server. However the name is not guaranteed to conform to the DNS-1123 subdomain spec.

Given a node name of `worker/925f11f3-80af-4844-a00e-f0af521779d1`, the following message appears in the kubelet logs:

[code]

**What yo

[2018-01-02 20:32] bsnchan commented on #57765
/sig openstack

[2018-01-02 20:56] thockin commented on #29742
The only way to preserve the source IP is to set `externalTrafficPolicy: Local` and only access nodes that have an instance of that Service.  Otherwise, because of teh NAT that is happening, you need to change the source IP to ensure return-path processing.

[2018-01-02 20:56] #29742 closed

[2018-01-02 21:15] #57031 closed

[2018-01-02 21:18] resouer commented on #56991
@StevenACoffman scheduler is aware of not-ready node

[2018-01-02 21:26] joejulian commented on #57440
I set netdns=cgo+1. The debug output confirmed the use of cgo but there was no additional debugging output relating to dns nor was there any change.

I added a sidecar container running tcpdump to the api-server watching port 53. There's never a lookup for `etcdevents.etcd.jj-rc.internal`, only for `etcd.etcd.jj-rc.internal`.

[2018-01-02 21:27] gnufied commented on #57686
/sig storage

[2018-01-02 21:31] edevil commented on #46421
@edsonmarquezani if you’re talking about AzureFile the performance is abysmal.

[2018-01-02 21:39] mjj29 commented on #56304
I shall leave this closed because I've found an independent work around, but I don't believe that addresses any of my issues. My expectation is that the DNS service will work out of the box. I don't _want_ my kube-dns pod to do anything in particular about configuration - but I do expect it to be able to serve DNS. Clearly something is misconfigured in this case, but I haven't tried to give it any

[2018-01-02 21:43] enisoc commented on #43214
FTFY

[2018-01-02 21:45] liggitt commented on #56304
If that is how minikube set up the DNS pod, then I would recommend reporting an issue to minikube that they're out of the box configuration does not work

[2018-01-02 21:46] jingxu97 commented on #42465
/remove-lifecycle stale

[2018-01-02 21:59] chrislovecnm commented on #57382
Personally I think this is an installer problem. The node technically is not ready for k8s. Until the tags exist k8s should not be installed or started.

[2018-01-02 22:04] joejulian commented on #57440
DNS lookups are successful but it's still timing out.
[code]

[2018-01-02 22:08] joejulian commented on #57440
Although it does it a little differently, The native go lookup also succeeds:
[code]

[2018-01-02 22:09] #57674 closed

[2018-01-02 22:09] #57522 closed

[2018-01-02 22:09] #57763 closed

[2018-01-02 22:12] canhnt commented on #56991
I found the cause of the problem: a deployment (logstash in my system) used too much memory, which can crash the Docker container engine! The consequence is all containers in the worker node were restarted.

Lesson: always set resource limits, otherwise one of container may crash the engine.

I think the issue can be closed.

[2018-01-02 22:13] jingxu97 commented on #39910
@jeffvance  this issue is specific to AWS.
@gnufied is this still an issue?

[2018-01-02 22:14] dashpole commented on #44328
I think this is at the heart of the issue.  Pods cannot be both Guaranteed, and overcommitted.  The very nature of being overcommitted means that if all pods use up to their limits, they would not all fit.  If this is the case, then they cannot be "guaranteed" access to those resources.

I agree that the current mechanism to overcommit pods is not currently convenient.  For example, I could overco

[2018-01-02 22:23] #56991 closed

[2018-01-02 22:25] liggitt commented on #57440
Just as a sanity check, does using the events etcd cluster as the main etcd cluster work? (`https://etcdEvents.etcd.jj-rc.internal:2381`)

[2018-01-02 22:27] spiffxp commented on #55276
/remove-priority failing-test
/close
I should have closed this a while ago, all the aforementioned jobs are passing

[2018-01-02 22:27] #55276 closed

[2018-01-02 22:33] thockin commented on #34982
This appears fixed (by my repro test)

[2018-01-02 22:33] #34982 closed

[2018-01-02 22:33] jingxu97 commented on #50210
@resouer sorry for the late reply.

For most of the volume plugins, operation_executor.go makes sure that for one volume (uniquely identified by internal volume name), only one operation (e.g., attach/detach, mount/umount device) can be performed at a time. It does allow bind mount concurrently if the volume is used by multiple pods. So there is no need to have thread safe.

However, flexvolume is

[2018-01-02 22:33] jingxu97 commented on #50210
/remove-lifecycle stale

[2018-01-02 22:37] spiffxp commented on #38831
/close
This has aged out, as we no longer support kuberentes < 1.6.x

[2018-01-02 22:37] #38831 closed

[2018-01-02 22:49] spiffxp commented on #35985
/close
there are other issues open for each of these:
- issue asking for vendoring docs https://github.com/kubernetes/community/issues/350
- issue around golint https://github.com/kubernetes/kubernetes/issues/37254

[2018-01-02 22:49] #35985 closed

[2018-01-02 22:55] spiffxp commented on #56897
/remove-sig testing
/sig node
this is a test owned by sig-node

/sig architecture
this is a conformance test that's maybe making an unfair assumption

[2018-01-02 22:56] dashpole commented on #20015
Well... the diskpressure tests are still flaky, but only because disk eviction itself can be flaky.  Closing this, as eviction manager responsiveness is captured in other issues.

[2018-01-02 22:56] #20015 closed

[2018-01-02 22:58] sjenning commented on #43479
/remove-lifecycle stale

[2018-01-02 22:58] spiffxp commented on #54095
/close
This appears to have been fixed, it's not showing up on the wall of shame anymore

[2018-01-02 22:58] #54095 closed

[2018-01-02 23:00] spiffxp commented on #54256
is there anything to be done here?

[2018-01-02 23:07] roberthbailey commented on #57341
/sig network

[2018-01-02 23:08] spiffxp commented on #21230
/close
Looks like `lookForStringInPodExec` doesn't exist anymore, and tests that reference /usr/share/nginx/html don't rely on executing commands / parsing pod output

[2018-01-02 23:08] #21230 closed

[2018-01-02 23:10] mbohlool opened #57769 "TestNodeAuthorizer integration test flakes"
The auth integration test is flaky. This is a sample failure:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/57767/pull-kubernetes-unit/73004/

[2018-01-02 23:10] spiffxp commented on #12208
/remove-lifecycle stale

[2018-01-02 23:15] spiffxp commented on #24762
/remove-lifecycle stale
There is https://k8s.devstats.cncf.io/dashboard/db/time-metrics?orgId=1 but it's not something we can alert on
/sig testing
Presumably we would expect this go down over time as we transition from mungegithub to tide

[2018-01-02 23:16] spiffxp commented on #24758
/remove-lifecycle stale
/sig testing
We do something like this with our [wall of shame](http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1)

We only display this for presubmit test failures.  I would be interested in doing the same for postsubmits

[2018-01-02 23:17] msau42 commented on #43872
ref #52683

[2018-01-02 23:18] liggitt commented on #57769
/sig auth

Issue is that the authorizer is based on a graph fed by watches. Probably need to retry the operations until the expected result is encountered or a timeout occurs, like other watch-sensitive tests

[2018-01-02 23:18] spiffxp commented on #24760
/close
I'm going to close this in favor of this proposal https://github.com/kubernetes/community/pull/1524 which is based on https://github.com/kubernetes/kubectl/tree/master/pkg/framework/test

Please /reopen if you think this isn't in the spirit of this issue

[2018-01-02 23:18] #24760 closed

[2018-01-02 23:19] tedsuo commented on #26507
Thanks for the rundown @gmarek. I'll try to get up to speed with the current k8's org and bring this up at the appropriate working group. I agree that basic API tracing (both for control plane activity and ingress) is a good starting point.

"Long-lived traces" are not currently supported by most tracing systems (though, ironically, scale analysis for container scheduling is what initially got me

[2018-01-02 23:20] jingxu97 commented on #39909
@gnufied is there a plan to work on it?

[2018-01-02 23:21] spiffxp commented on #24759
/remove-lifecycle stale
/sig testing

If we s/owners/SIGS, we now have testgrid dashboards per sig, but I agree that we still don't really have anything to incentivize winners

[2018-01-02 23:21] roberthbailey commented on #43688
/remove-lifecycle stale
/lifecycle frozen

[2018-01-02 23:21] roberthbailey commented on #43688
@wojtek-t

[2018-01-02 23:24] k82cn commented on #57739
/sig apps

[2018-01-02 23:24] yujuhong commented on #29354
Closing this in favor of #10322 since this belongs to sig/testing

[2018-01-02 23:24] #29354 closed

[2018-01-02 23:26] #56838 closed

[2018-01-02 23:29] spiffxp commented on #36624
/close
I'm not sure we're getting to this in the foreseeable future.  A good first step would be extracting the e2e framework out of this repo into the repo proposed via https://github.com/kubernetes/community/pull/1524.  Please /reopen if you're willing to tackle this

[2018-01-02 23:29] #36624 closed

[2018-01-02 23:31] spiffxp commented on #33960
/close
I don't foresee this getting done anytime soon.  @kubernetes/sig-storage-bugs please /reopen if you disagree and are interested in taking this on

[2018-01-02 23:31] #33960 closed

[2018-01-02 23:33] #19904 closed

[2018-01-02 23:35] yujuhong commented on #29406
I believe we no longer use `docker history`.

[2018-01-02 23:35] #29406 closed

[2018-01-02 23:36] mbohlool commented on #57769
stil failing: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/57767/pull-kubernetes-unit/73013/

[2018-01-02 23:36] dashpole commented on #52336
@quasiben this was fixed by https://github.com/kubernetes/kubernetes/pull/54958 in 1.7.11

[2018-01-02 23:37] yujuhong commented on #31403
Closing since I don't think test_owners is in active use anymore

[2018-01-02 23:37] #31403 closed

[2018-01-02 23:38] #35558 closed

[2018-01-02 23:40] spiffxp commented on #10322
/remove-priority important-soon
/priority important-longterm
/remove-lifecycle stale
/lifecycle frozen
I know this one has sat untouched forever, but it's still a real problem, and would be someplace a new contributor could definitely help us with.  You don't have to fix the tests, just help us make them  fail with more meaningful error messages.

[2018-01-02 23:40] spiffxp commented on #10322
/help

[2018-01-02 23:41] jingxu97 commented on #43527
@divyenpatel is there a plan to add MetricProvider in vsphere?

[2018-01-02 23:43] dashpole commented on #57442
Looks like your dashboard was evicted due to low disk space.  Do you know if your node actually ran out of disk?
IIRC, the dashboard is run as a deployment, so it should have come back up after being evicted.  Did that not happen?

[2018-01-02 23:46] jingxu97 commented on #30413
@saad-ali is this still an issue? can we close it?

[2018-01-02 23:52] jingxu97 commented on #57279
@rohitjogvmw is this issue solved?

[2018-01-02 23:58] spiffxp commented on #49187
/close
WAI but is confusing.  Batch merges should link to their results https://github.com/kubernetes/test-infra/issues/5183

[2018-01-02 23:58] #49187 closed

[2018-01-03 00:01] spiffxp commented on #48376
/remove-lifecycle stale

[2018-01-03 00:02] spiffxp commented on #47988
/close
This has aged out, we no longer test 1.5

[2018-01-03 00:02] #47988 closed

[2018-01-03 00:05] lzlicd commented on #10421
Happens for us on 1.7.4 on CentOS7.  Keep restart kubelet in a loop can reproduce this easily.

[2018-01-03 00:05] jingxu97 commented on #33109
@rootfs is there a plan to work on it? Thanks!

[2018-01-03 00:06] spiffxp commented on #47920
/remove-lifecycle stale
/lifecycle frozen
This would still be useful for downstream.  It bugs me that we need to rely on a third-party tool that lags us in order to certify kubernetes distros as conformant for a given release

[2018-01-03 00:10] nicksardo commented on #56371
Unfortunately, this isn't limited to internal load balancers. You could have two external network load balancers, serving traffic on the same port, with different loadBalancerSourceRanges. The generated GCP firewalls wouldn't be specific enough to respect the individual service's source ranges. Thankfully, iptables matches services via the destination LB IP/port and applies the respective loadBala

[2018-01-03 00:11] thockin commented on #57629
Sorry - we have tests and many users who are using this - you'll have to provide more details and a simple reproduction case for us to make any progress on this.

[2018-01-03 00:11] spiffxp commented on #47677
/close
They're not consistently failing at this time; those that flake aren't failing due to timeout https://k8s-testgrid.appspot.com/sig-release-1.7-all#Summary

[2018-01-03 00:11] #47677 closed

[2018-01-03 00:13] PatrickLang commented on #57356
The windows management model can give you both UUID for LUNs, and also the UUID for partitions. As Taylor pointed out, you can use the partition's UUID with the format `\\?\Volume{guid}`

[code]

[2018-01-03 00:14] thockin commented on #57592
Is this still an issue?  You'll have to do a bit more debug - there's not that much here to work with..

[2018-01-03 00:15] yujuhong commented on #24430
I think we can close this and track the relevant issues in rkt or rkelet repositories, if this is not already done.

[2018-01-03 00:15] #24430 closed

[2018-01-03 00:16] spiffxp commented on #44647
/close
Please /reopen if we're going to revisit these.  I've got some more suggestions for jobs that we should stop running: http://velodrome.k8s.io/dashboard/db/bigquery-metrics?panelId=2&fullscreen&orgId=1

[2018-01-03 00:16] #44647 closed

[2018-01-03 00:17] joejulian commented on #57440
Bingo. Good suggestion.

So the problem was, indeed, with the certificate (I feel dumb) and also my method of testing for connection attempts.

My expectation was that when an attempt was made to get the event data from an etcd cluster - if a connection was not established the etcd client would attempt to create one. Since I was not seeing any connection attempts when I was doing queries, I though

[2018-01-03 00:19] jingxu97 commented on #37268
@sysit @typhoonzero sorry for responding your issue very late. Do you still have problem with deleting rc?

[2018-01-03 00:19] spiffxp commented on #5121
/remove-area test-infra

[2018-01-03 00:19] thockin commented on #43173
/lifecycle frozen
/remove-lifecycle stale

[2018-01-03 00:21] spiffxp commented on #8759
/close
At this point in time, I suspect we're not going to be implementing this.  Our e2e tests have become stringly typed into `[Slow]` or `[Disruptive]` to separate out the ones that don't play well with others in parallel.  Please /reopen if you'd like to tackle it.

[2018-01-03 00:21] #8759 closed

[2018-01-03 00:22] bsalamat commented on #48650
/remove-lifecycle stale

[2018-01-03 00:22] spiffxp commented on #10307
/remove-area test-infra
/area test

[2018-01-03 00:22] jingxu97 commented on #14153
close this issue since it is more than 2 years.

[2018-01-03 00:22] #14153 closed

[2018-01-03 00:23] jiayingz commented on #57300
As @lichuqiang mentioned, LimitRange max/min already works for ER. Even LimitRange default also works for ER, which seems debatable and I think we may want to get some consensus on whether we want to explicitly disable this.

[2018-01-03 00:25] spiffxp commented on #18432
/remove-help
I don't think this is friendly to new contributors

[2018-01-03 00:25] thockin commented on #57698
@rramkumar1

[2018-01-03 00:25] thockin commented on #57678
@rramkumar1

[2018-01-03 00:27] bsalamat commented on #48176
/close

[2018-01-03 00:27] #48176 closed

[2018-01-03 00:28] thockin commented on #57428
Are you actually seeing an error, or just log messages?

[2018-01-03 00:29] spiffxp commented on #32607
/close
I'm not entirely sure this should remain open after being untouched for 16 months.  FWIW this concept might be implementable via https://github.com/kubernetes/kubernetes/blob/master/test/e2e/chaosmonkey/chaosmonkey.go.  Please /reopen if you'd like to take this on

[2018-01-03 00:29] #32607 closed

[2018-01-03 00:29] spiffxp commented on #31453
/remove-area test-infra

[2018-01-03 00:31] thockin commented on #57465
So this is just an overly scary log message?

[2018-01-03 00:31] thockin commented on #57318
@rramkumar1

[2018-01-03 00:35] jingxu97 commented on #43515
@racyber, could you please provide more details about your issue? What are the steps to reproduce it? Thanks!

[2018-01-03 00:37] gogeof commented on #57428
@dixudx yes, you're right. This is my colleague's env, he is doing pressure test. For kubelet modify iptables retry logic, it's okay.

[2018-01-03 00:38] thockin commented on #57659
Unfortunately, there's not really a way to have a field that takes values from two different sources.  In this case, the addon's base YAML (managed by GKE) sets one toleration and you are trying to set another.  The patch logic will throw your changes out periodically, when the addon is re-asserted, as you are experiencing.  Once we are using priority and preemption, we won't need this toleration.

[2018-01-03 00:39] thockin commented on #57629
Can we take help-requests to the kubernetes-users mailing list?  I doubt this is a bug, and if it is, we can reopen.

[2018-01-03 00:39] #57629 closed

[2018-01-03 00:40] thockin commented on #57592
Can we take help-requests to kubernetes-users mailing list or stack overflow?  I don't think this is a bug, or everyone would be reporting it.  There's a misconfig somewhere.

[2018-01-03 00:40] #57592 closed

[2018-01-03 00:43] thockin commented on #57558
[code]

This tells kubernetes to use the machine's network namespace, which means you don't get your own DNS or IP or anything.  Services don't ping, so don't try that :)

[2018-01-03 00:43] #57558 closed

[2018-01-03 00:44] warmchang commented on #53644
👍

[2018-01-03 00:45] gogeof commented on #57428
@dminkovsky @thockin  I think this is not the problem of kubelet, it seems like me, one of another app modify the iptables and keep holding the lock maybe something goes wrong. Here is dminkovsky's log which I copy from stackoverflow:
[code]

[2018-01-03 00:46] ivantichy commented on #57558
Did not work even without hostNetwork: true, this was added later, for testing.

[2018-01-03 00:50] thockin commented on #57518
I have a hard time imagining what the legit cases might be.  I am confused, though - I only see this field being used in one very specific place, that would not have the effect you are claiming.

[2018-01-03 00:50] jiayingz commented on #57300
Thinking a bit more on LimitRange default on ER, I guess it could be useful in example use cases that admins want to enforce SW licence requests in every running pod.

[2018-01-03 00:51] thockin commented on #57518
@rramkumar1

[2018-01-03 00:51] thockin commented on #57269
@rramkumar1

[2018-01-03 00:52] spiffxp commented on #56897
/area test

[2018-01-03 00:53] thockin commented on #57109
SGTM - is anyone working on this?

[2018-01-03 00:53] thockin commented on #57144
We could make kube-proxy inotify it's config file or just poll it and restart.  That seems reasonable.

[2018-01-03 00:54] yujuhong commented on #55006
/cc @kubernetes/sig-network-misc to see whether it's desirable to configure ipv6 at the pod level.

[2018-01-03 00:55] thockin commented on #57137
Any clues how to repro this?  without that it will likely just sit here...

[2018-01-03 00:56] thockin commented on #57111
@johnbelamaric

[2018-01-03 00:57] thockin commented on #57111
See https://github.com/kubernetes/dns/issues/186

[2018-01-03 00:57] #57111 closed

[2018-01-03 00:58] ivantichy commented on #57558
With hostNetwork: true removed:

`kubectl exec -it -n kube-system busybox cat /etc/resolv.conf`
gives:
nameserver 10.36.0.2 # office DNS
search prg.cxn
`kubectl exec -it -n kube-system busybox nslookup kubernetes.default`
gives:
Server:    10.36.0.2
Address 1: 10.36.0.2 chief41.prg.cxn
nslookup: can't resolve 'kubernetes.default'

[2018-01-03 01:00] font opened #57772 "OpenAPI codegen should allow providing list of directories to search for dependencies"
/kind feature

**What happened**:
When running the `openapi-gen` code generator in the [kubernetes/cluster-registry](https://github.com/kubernetes/cluster-registry) repo executed by the [lines in this script](https://github.com/kubernetes/cluster-registry/blob/1dbd8e00c25532ca111a88d0c060bdd8ea47ebc1/hack/update-codegen.sh#L114-L120), I see several `could not import <some-package-import-path>` err

[2018-01-03 01:00] esevan commented on #45419
In my case, CNI doesn't handle the situation.

according to my analysis, code sequnce is just as following

[code]

StopPodSandbox raise timeout exception, then return without processing remove pod sandbox
However, CNI process is ongoing after StopPodSandbox timed out.
It's like kubelet threads are starved by CNI process, so that kubelet cannot monitor the PLEG properly consequently.

I resolved t

[2018-01-03 01:01] thockin commented on #57069
I don't think we want to disable cluster IP services by a flag.  This is something you could do with a custom admission controller - but rather than mutating the svc, just reject it.

dual-stack is a WHOLE other can of worms.

[2018-01-03 01:01] #57069 closed

[2018-01-03 01:04] Bekt commented on #40358
Instead of the hard integer limit as described for option B, it would be nice to do this based on percentage as well. Max n% of replicas of the RC/Deployment replicas.

[2018-01-03 01:05] thockin commented on #47268
I don't understand what "based on where it lands" means.

Can you simply run a privileged init container and set the hostname that way?  Or do you expect it to propagate to DNS?

[2018-01-03 01:06] thockin commented on #57065
Can we just use #47268 instead of having 2 bugs?

[2018-01-03 01:06] #57065 closed

[2018-01-03 01:06] font commented on #57772
@kubernetes/sig-api-machinery-feature-requests

[2018-01-03 01:12] ivantichy commented on #57558
@thockin  Issue persists, should we reopen it?

[2018-01-03 01:22] TerraTech commented on #36391
/remove-lifecycle stale

[2018-01-03 01:34] hzxuzhonghu commented on #57372
I agree with Namespace node selector.

[2018-01-03 01:43] #57678 closed

[2018-01-03 01:53] jiaxuanzhou opened #57773 "Add a structure of realtime allocated resource in node status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:
Hope to add a structure in node status to record the resource could be allocated for the pods to be scheduled to the node, or a structure of allocated resource list of the node:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environm

[2018-01-03 01:54] jiaxuanzhou commented on #57773
/kind feature
/sig node

[2018-01-03 01:56] bsalamat commented on #57659
I agree with @thockin that GKE and your deployment race against one another in setting `tolerations` for kube-dns. One solution that comes to my mind is to set specific labels to the nodes in each of the node pools and create all your pods with node affinity to one of the two labels depending on where you want them to run. For example, all the nodes in your first node pool have "pool:groupA" label

[2018-01-03 02:03] jiaxuanzhou commented on #57773
@ resouer

[2018-01-03 02:08] #48491 closed

[2018-01-03 02:10] gnufied commented on #43515
@racyber yeah can you open a new bug for EBS and cc me with details? I was hoping we fixed most of EBS problems in 1.9 - I will be more than happy to walk through and find what is causing volume to not mount. As I understand this is different from typical EBS problems where volume fails to attach. In your case, volume is being attached to right node but it is not being seen by kubelet.

[2018-01-03 02:10] feiskyer commented on #57773
@jiaxuanzhou What's the use cases of this?

cc @kubernetes/sig-node-feature-requests

[2018-01-03 02:15] dixudx commented on #57465
@thockin Yes, I think so. In the first attempt to delete the pod, the ns network file has already been deleted. But the pod does not get deleted successfully. Then "no such file or directory" will be raised in the second attempt.

[2018-01-03 02:16] KeithTt commented on #57442
@dashpole Yes, you are right, the pod restarts all the time, and on different node, why this happened?

[2018-01-03 02:19] jiaxuanzhou commented on #57773
@feiskyer when there are several k8s clusters , when wanting to launch some apps or jobs to the target cluster, the orchestrator need to know the total resource of each cluster in coarse-grained, and also  need to know the allocated resource of the node in the target cluster to decide the scale of the apps or jobs to launch.

[2018-01-03 02:40] dixudx commented on #48471
Directly deleting PVCs that are used by running pods does have negative impacts and may result in data loss.

@BastiPaeltz @rootfs Actually a new feature that uses finalizers on PVC to protect PVCs that are used by a running pod from being deleted has already been introduced in #55824 since v1.9.

[2018-01-03 02:47] dims commented on #57440
LOL all's well that ends well @joejulian :)

[2018-01-03 03:26] liggitt commented on #57706
the linked test is actually failing on the next test, not the .missing test...

[code]

from the test log:
[code]

this is very odd:
[code]

[2018-01-03 03:30] liggitt commented on #57706
the issue appears to be with `kube::test::if_has_string`

[2018-01-03 04:01] fejta-bot opened #57775 "Failure cluster [6ebefe...] failed 77 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [6ebefefe360a5eb4321f](https://go.k8s.io/triage#6ebefefe360a5eb4321f)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    77 builds failed.
Failure stats cover 1 day time range '2 Jan 2018 03:43 UTC' to '3 Jan 2018 03:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 12 |

##### Top fai

[2018-01-03 04:10] liggitt commented on #42644
I think this is the cause of the TestPatch flakes

[code]

we're seeing failures looking up strategic patch info from a merge patch call, which means we got a conflict on what should have been a no-op patch

[2018-01-03 04:13] mritd opened #57776 "What is "kubelet server"?(TLS bootstrapping)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

TLS bootstrapping kubelet option `RotateKubeletServerCertificate = true` Credentials created `kubelet-server-current.pem` request DNS or IP SANs.

![image](https://user-images.githubusercontent.com/13043245/34508676-f300ef66-f07c-11e7-8dfe-1f06979ec5d6.png)

![image](https://user-images.githubusercontent.com/13043245

[2018-01-03 04:18] mritd commented on #57776
/sig docs
/sig node

[2018-01-03 04:54] mlmhl commented on #57744
Hi @rootfs , there is a difference between `mount.GetDeviceNameFromMount` and `mounter.GetDeviceNameFromMount`: `mount.GetDeviceNameFromMount` returns the device path, such as `/dev/rbd0`, and `mounter.GetDeviceNameFromMount` returns the device mounted path, such as `/var/lib/kubelet/plugins/kubernetes.io/rbd/rbd/{pool}-image-{image}`. What we really want is the second one, as we need to find the

[2018-01-03 05:05] roberthbailey commented on #45959
/remove-lifecycle stale

[2018-01-03 05:06] roberthbailey commented on #23739
/remove-lifecycle stale

[2018-01-03 05:10] roberthbailey commented on #12165
target pools and forwarding rules are network, and not cluster lifecycle. I'll let @bowei et. al decide if this should remain open.

[2018-01-03 05:10] roberthbailey commented on #36701
/remove-lifecycle stale

[2018-01-03 05:11] roberthbailey commented on #36701
As discussed at the recent contributor summit we would like the system to more gracefully scale to small node and cluster sizes. I'm not sure if that gets all the way down to a 1 node g1-small, but we need documentation to define the smallest size in either case.

[2018-01-03 05:17] roberthbailey commented on #45509
Ping @kubernetes/sig-apps-feature-requests -- this is a specific request from a user. Can you confirm that you've seen the request and whether it falls into your existing backlog? (I understand that it was probably below the radar during the v1 migration last year)

[2018-01-03 05:21] thockin commented on #57558
`kubectl get pods -o yaml` - what you describe corresponds pretty exactly
to hostNetwork

On Tue, Jan 2, 2018 at 5:12 PM, ivantichy <notifications@github.com> wrote:

[2018-01-03 05:22] mlmhl commented on #57544
/assign @mtanino

[2018-01-03 05:27] mlmhl commented on #57544
Yeah, we can discuss a better approach here @rootfs  @saad-ali  @mtanino

[2018-01-03 05:31] nikhita commented on #38113
/remove-lifecycle stale

[2018-01-03 05:34] nikhita commented on #44005
/remove-lifecycle stale

[2018-01-03 05:40] rohitjogvmw commented on #57279
Hi Jing,

Issue is resolved in master branch.

[2018-01-03 05:40] #57428 closed

[2018-01-03 05:43] thockin commented on #3131
Anyone who can follow it through will be given authority to make that
decision :)

No, really this is SIG-testing's purvey, but nobody has given me a reason
why ginkgo is worthwhile..

On Tue, Jan 2, 2018 at 8:42 AM, Robert Bailey <notifications@github.com>
wrote:

[2018-01-03 05:44] #57698 closed

[2018-01-03 05:45] nikhita commented on #49801
/remove-lifecycle stale
/area custom-resources

[2018-01-03 05:48] thockin commented on #10091
No, it probably needs to be able to pull from 2 places, so end-users don't
get broken..

On Mon, Jan 1, 2018 at 11:16 AM, Nils Larsgård <notifications@github.com>
wrote:

[2018-01-03 06:21] guangxuli commented on #49605
@yujuhong okay, thanks. yes, i think it is depend on design.
will close this.

[2018-01-03 06:21] #49605 closed

[2018-01-03 06:29] #57684 closed

[2018-01-03 06:47] zhangxiaoyu-zidif commented on #53644
It will exist when we use docker.
I remember @yujuhong  had described it. There are details in this issues below:
https://github.com/kubernetes/kubernetes/issues/23104
https://github.com/kubernetes/kubernetes/issues/15089
https://github.com/kubernetes/kubernetes/pull/16414/

[2018-01-03 07:05] stewart-yu commented on #42932
It seem that relative PR stop updated. If this issue still valuable, i will help fix it @liggitt  @smarterclayton @davidopp

[2018-01-03 07:07] #52641 closed

[2018-01-03 07:21] karataliu commented on #57031
VirtualMachineClientGetWithRetry stills calls vm get directly

[2018-01-03 07:34] GoodJoey commented on #53882
hi, @loadwiki
I tried to use mx_job, but i get an error "no matches for mxnet.mlkube.io/, Kind=MxJob",
did i miss something? thanks

[2018-01-03 08:23] wojtek-t commented on #17737
It has been fixed in https://github.com/kubernetes/kubernetes/pull/39716

[2018-01-03 08:23] #17737 closed

[2018-01-03 08:30] #57465 closed

[2018-01-03 08:39] sttts commented on #57667
sure it merits blocking this proposal

I want to second @luxas concerns here. My peer reviewers are 90% in the US.
Not being able to rebase without their help is a blocker for this proposal.

Best regards,
   Stefan

On Tue, Jan 2, 2018 at 9:25 PM, Aaron Crickenberger <
notifications@github.com> wrote:

[2018-01-03 08:48] sg3s commented on #831
It's been a month since I started studying how to use kubernetes (properly). It didn't take me long to find pretty much all use cases mentioned in this issue on my own.

In all cases it comes down to wanting to expose static files to more than one process/container.

For us that means:
- Expose dir from container A (php runtime with static frontend) to container B (generic nginx) to serve only the

[2018-01-03 09:11] rajansandeep opened #57783 "Possible error while using `kubeadm upgrade`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In the scenario when I have CoreDNS installed via `kubeadm init` and I want to continue using CoreDNS after `kubeadm upgrade`, the upgrade is unsuccessful and it gives an error:

[code]
I suspect this occurs as it times out waiting for the kube-dns deployment, which is non-existent in this scenario.

**What you expected t

[2018-01-03 09:14] rajansandeep commented on #57783
/sig network

[2018-01-03 09:21] warmchang commented on #54492
We have the same problem in v1.6.9:
[code]

[2018-01-03 09:21] warmchang commented on #43516
We have the same problem in v1.6.9:
[code]

[2018-01-03 09:25] rajansandeep opened #57785 "Add "upstream" in CoreDNS manifest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
"Upstream" defines upstream resolvers to be used resolve external names found (CNAMEs)
 pointing to external names.
It is a good idea to include it as a default in the manifest and keep in sync with the [default CoreDNS manifest](https://github.com/coredns/deployment/blob/master/kubernetes/coredns.yaml.sed#L55)

**Wh

[2018-01-03 09:38] rajansandeep commented on #57785
/sig network

[2018-01-03 09:38] gertdetlef opened #57787 "Seccomp feature broken?"
/kind bug
@kubernetes/sig-api-machinery-bugs
/sig api-machinery

I tried to set up the seccomp chmod prevention example (https://blog.jetstack.io/blog/kubernetes-1-3-hidden-gems/) and was unable to let it run.

I used the following profile file /var/lib/kubelet/seccomp/prevent-chmod:
[code]
I used the following POD config:
[code]
When using "docker/default" or "unconfined", it is working fine. But

[2018-01-03 10:25] #45959 closed

[2018-01-03 10:25] #57707 closed

[2018-01-03 10:57] salterping commented on #49304
How to solution? @tiny1990

[2018-01-03 11:10] choppsv1 commented on #47268
I edited the text to tried to clarify this, it now reads "based on which k8s cluster it is running on." That text is really not that important though. The key is that I need to set the hostname during CNI initialization and I can't. Doing this during CNI when I actually assing the IP addresses that the hostname maps to seems like the obvious place, right?

I believe your suggestion is that I can w

[2018-01-03 11:13] choppsv1 commented on #47268
BTW, we've worked around this for now by using manifest templates and substituting the value for hostname in the manifest.

[2018-01-03 11:16] jsravn commented on #45976
@zapman449 I started looking at doing a PR for it but it's not an easy solution unfortunately, because we lack information about pods in kube-proxy. The "right fix" in my opinion would need to either:
1. Attach the pod grace period to endpoints on pod termination, so kube-proxy can then delay removing the entries for that time. This is an API change on endpoints (although I guess you could use an

[2018-01-03 11:18] jsravn commented on #45026
Still happens in kube 1.8, on docker 1.12. I haven't been able to pinpoint the problem though. Our workaround is to just restart docker (with live-restore) when approaching some memory limit.

[2018-01-03 11:28] kevin-wangzefeng commented on #31906
Taints have been moved to nodeSpec, out of annotations, closing since it won't happen again.

[2018-01-03 11:28] #31906 closed

[2018-01-03 11:32] kevin-wangzefeng commented on #25319
/remove-lifecycle stale.

[2018-01-03 11:34] kevin-wangzefeng commented on #25319
/remove-lifecycle stale

[2018-01-03 12:02] pjanuario commented on #33212
I am also facing some problems with kubectl compatibility due to this bug (https://github.com/kubernetes/kubernetes/issues/53349). Is there a way to have multiple kubectl versions running in the host to connect to different cluster versions?

I need to access a 1.9 and 1.7 cluster.

[2018-01-03 12:32] varsharaja commented on #35187
@thockin
Iam using Kubernetes  1.5.5 and an AWS ELB. After enabling the beta feature for external-traffic = OnlyLocal, the ELB reports that the instances are out of services( we are actually running healthcheck to validate our service is running). Iam also running the services as deamonset so that all nodes have the service we require.
Is there something Iam missing or have to fix ?

[2018-01-03 13:02] timoreimann commented on #11994
I still find this very desirable to have.

/remove-lifecycle stale

[2018-01-03 13:07] Quentin-M commented on #53405
Updating the thread with the relevant PR: https://github.com/coreos/etcd/pull/8242

[2018-01-03 13:10] zhangxiaoyu-zidif opened #57794 "if create a endpoint independently, restart kubernetes master, this endpoint should not be deleted."
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
if create a endpoint independently, restart kubernetes master, this endpoint was deleted.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L531
this function do some cleanup when master restart. But if we want create a endpoint for other purpose, not for service. so

[2018-01-03 13:11] zhangxiaoyu-zidif commented on #57794
/cc @lavalamp

[2018-01-03 13:19] gjcarneiro commented on #831
I have found that recent Docker [multi-stage builds](https://docs.docker.com/engine/userguide/eng-image/multistage-build/) pretty much allow you to do this at docker build level.

[2018-01-03 13:42] karol-brejna-i commented on #41204
The mapping template was removed from the codebase some time ago, but the problem of creating a proper mapping in elasticsearch was not solved.
/lifecycle froze

[2018-01-03 13:42] karol-brejna-i commented on #41204
/lifecycle froze

[2018-01-03 13:42] karol-brejna-i commented on #41204
/remove-lifecycle stale

[2018-01-03 13:53] craigbox commented on #3949
/lifecycle frozen

[2018-01-03 14:05] rakeshkulkarni6 commented on #56693
HI @jdumars

Thanks for the resolution... I have executed the commands but still issue persists.I have also deleted the pods and but the pods again went into same loopback mode.

root@rbcicchcovamw00:/home/cloudinfraadmin# kubectl get pods -n kube-system
NAME                                      READY     STATUS             RESTARTS   AGE
heapster-342135353-xqz1r                  2/2       Running

[2018-01-03 14:08] dims commented on #57718
Let's close this out. please reopen if needed.

Thanks,
Dims

/close

[2018-01-03 14:15] skynardo commented on #42649
@lpreson - I was wondering if setting .spec.startingDeadlineSecond and or setting .spec.restartPolicy to Forbid resolved this issue. We have a similar issue with 2 of our non-prod clusters that we shut down each night.

[2018-01-03 14:18] rakeshkulkarni6 commented on #56006
@KeithTt

Hi I am facing this issue from many days can you please help me to resolve the issue. it would be helpful if you can share me your cluster definition file. please find the response logs from api server.

root@rbcicchcovamw00:/home/cloudinfraadmin# kubectl logs kube-dns-v20-3003781527-c3z2w kubedns -n kube-system
I0103 14:03:07.741791       1 dns.go:48] version: 1.14.4-2-g5584e04
I0103 14

[2018-01-03 14:19] vainu-arto commented on #57382
I'd say there are problems on both sides. The installer should not start kubelet before the system is ready, and kubelet should not start and claim success in a situation where it cannot function.

[2018-01-03 14:32] ivantichy commented on #57558
`kubectl get pods -o yaml`
apiVersion: v1
items:
- apiVersion: v1
  kind: Pod
  metadata:
    creationTimestamp: 2018-01-03T01:06:25Z
    name: busybox
    namespace: default
    resourceVersion: "1241017"
    selfLink: /api/v1/namespaces/default/pods/busybox
    uid: 524d3d96-f022-11e7-9b46-0024beb18799
  spec:
    containers:
    - command:
      - sleep
      - "3600"
      image: busybox

[2018-01-03 14:33] php-coder commented on #57787
I couldn't reproduce it with `hack/local-up-cluster.sh`. Perhaps it related to minicube?

[2018-01-03 14:35] deads2k commented on #57667
re-lgtm-ing simple rebases and updating release notes or task lists in descriptions are important things.  Do we have evidence of people abusing their power?  If they are, perhaps we should consider targeted revocation instead.  If they aren't, why are we searching out a solution to a problem we don't have?

[2018-01-03 14:46] ricklagerweij commented on #56006
@rakeshkulkarni6  at what IP is your apiserver listening, 10.0.0.1 is not the default IP, 10.96.0.1 is.

[2018-01-03 14:54] discordianfish commented on #57109
@thockin #57288 was opened to address this but @jhorwit2 raised some concerns about the implementation.

[2018-01-03 15:03] jmcmeek commented on #57044
@ironcladlou Will I need to go through [cherry-pick process](https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-picks.md) to get this into the release-1.8 and release-1.9 branches?

[2018-01-03 15:31] gmarek commented on #47777
/remove-lifecycle stale

[2018-01-03 15:34] gmarek commented on #26507
I don't know how to refer to sigs anymore:( @smarterclayton @lavalamp @caesarxuchao @sttts @deads2k @liggitt

[2018-01-03 15:38] jsravn commented on #17619
Are there plans to remove `--resource-container`? It took a long time to figure out why I couldn't put kube-proxy into a `runtime.slice` parent container (following advice in https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/). This flag doesn't show up anywhere except the source code.

[2018-01-03 16:15] cmluciano commented on #19927
@kubernetes/sig-gcp-feature-requests is this still valid?

[2018-01-03 16:16] cmluciano commented on #24041
@kubernetes/sig-gcp-feature-requests

[2018-01-03 16:19] cmluciano commented on #27294
/close

[2018-01-03 16:19] #27294 closed

[2018-01-03 16:22] kargakis commented on #57783
@kubernetes/sig-cluster-lifecycle-bugs

[2018-01-03 16:23] wojtek-t commented on #57667
+100

[2018-01-03 16:57] luxas commented on #57783
Please move this issue to the kubeadm repo.

[2018-01-03 16:57] #57783 closed

[2018-01-03 17:11] wmarra opened #57798 "Internet connection lost on pods when downscaling nodes is in progress"
**Is this a BUG REPORT or FEATURE REQUEST?:**
bug

**What happened:**
My cluster need to use auto scaling everyday based on demand, but something strange is happening. Everytime when cluster have down scaling some containers lost internet connection returning timeout to access any service outside of the cluster. I don't if that is a bug or a normal behavior caused by auto scaling, but I'd like to

[2018-01-03 17:24] yastij commented on #57576
cc @bsalamat

[2018-01-03 17:25] patricklucas commented on #30656
This issue appears to have pretty strong support, is there anything that can be done to get it prioritized? (yes, yes, patches accepted :) )

[2018-01-03 17:31] luxas commented on #48841
This was abandoned for now as per the proposal discussion. Closing

[2018-01-03 17:31] #48841 closed

[2018-01-03 17:32] dashpole commented on #57442
When a node runs out of disk space, it will evict pods in order to free up space.  The scheduler attempts to place them on a different node to reduce the chance that they are evicted again.  I think in your case this is working as intended.  The bug you previously referenced was about DiskPressure triggering when the disk was only ~50% full, and should be fixed in the version you are running.  I w

[2018-01-03 17:37] jdumars commented on #56693
@rakeshkulkarni6 I think this should move to https://github.com/Azure/acs-engine/issues and we can close this issue.

[2018-01-03 18:04] spiffxp commented on #42670
/close
we've got e2e tests broken out in subdirs now

[2018-01-03 18:04] #42670 closed

[2018-01-03 18:07] lzlicd opened #57799 "A lot of 'journalctl -k -f' left in kubelet after many restarts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After restart kubelet many times, kubelet failed to restart successfully due to 'Failed to start cAdvisor inotify_init: too many open files'

**What you expected to happen**:
Kubelet restart success

**How to reproduce it (as minimally and precisely as possible)**:
for i in {1..1000}; do systemctl restart kubelet; done

*

[2018-01-03 18:08] spiffxp commented on #57667
@deads2k less about abuse of power, more about enabling people not in kubernetes-maintainers / with direct write access to accomplish the same thing, thus making this project friendlier to new contributors

[2018-01-03 18:09] lzlicd commented on #57799
/sig node

[2018-01-03 18:12] bsalamat commented on #48648
/remove-lifecycle stale

[2018-01-03 18:15] spiffxp commented on #48376
/sig storage

[2018-01-03 18:18] kfox1111 commented on #831
multistage builds are not the same thing. multistage builds let you do stuff like build, throw away the build environment and copy the built artefacts to the final container. in the end, you are left with 1 container. it in this situation has for example, nginx and your static files.

In the spirit of k8s composability though, the desire is to have one container for nginx that can be independently

[2018-01-03 18:42] DirectXMan12 commented on #41199
/close

[2018-01-03 18:42] #41199 closed

[2018-01-03 18:43] DirectXMan12 commented on #43565
/close

[2018-01-03 18:43] #43565 closed

[2018-01-03 18:47] DirectXMan12 commented on #31784
this is done and/or out of date

/close

[2018-01-03 18:47] #31784 closed

[2018-01-03 18:48] gjcarneiro commented on #831
Yes, I agree docker images as volumes is nicer.  I'm just leaving a clue, to whoever is reading this bug, how you can work around the missing feature in the meantime.

[2018-01-03 18:50] DirectXMan12 commented on #45043
/lifecycle frozen

I'd still like this to happen in some capacity at some point.
We'd probably want to have a new Prometheus endpoint with the "standardized" metrics available,
and keep the existing endpoint as a catch-all and for compatibility.

/cc sig node

[2018-01-03 18:52] rootfs commented on #57744
@mlmhl thanks

let make a forward moving plan:
- fix `makePDNameInternal` and append `mount.MountsInGlobalPDPath` to the global path
- keep `mounter.GetDeviceNameFromMount` in `ConstructVolumeSpec`. If no path is found, fall back to old path scheme using your code

[2018-01-03 19:02] DirectXMan12 commented on #26776
This was fixed last release or so

/close

[2018-01-03 19:02] #26776 closed

[2018-01-03 19:04] DirectXMan12 commented on #27044
HPA status conditions should have improved this sufficiently

/close

[2018-01-03 19:04] #27044 closed

[2018-01-03 19:07] nelsonfassis commented on #42727
@nelson-cf You can edit you /etc/docker/daemon.json to set its default log to json files and set a max size and max files to take care of the log rotation. After that, logs wont be written to journald and you will be able to send your log files to ES.

{
"log-driver": "json-file",
"log-opts": {
"max-size": "9m",  # Max size of the log files.
"max-file": "5"    # The maximum number of log files tha

[2018-01-03 19:22] ConnorDoyle commented on #57276
/reopen

[2018-01-03 19:27] bitgandtter opened #57801 "imagePullSecrets on a Deployment not been propagated to pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have a Deployment configuration like:

[code]
where **regsecret** is a secret created following [the official doc](https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod) but the created pod failed to pull the image because authentication and the pod does not mount the specified secr

[2018-01-03 19:39] enisoc commented on #45509
This isn't in our existing backlog as far as I know. Can you elaborate on the use case for choosing which Pods to delete during scale down? Is it a human doing a one-time repair operation? Or some higher level automation that knows more about which Pods ought to be preferred for deletion?

In other words, is this something that could be automated if we enhance or allow customization of the [deleti

[2018-01-03 19:49] 2rs2ts commented on #39170
We saw this in 1.7 too, not sure about 1.8 since we've stopped using preStopHooks

[2018-01-03 19:54] font commented on #57772
Opened issue in https://github.com/kubernetes/kube-openapi/ instead.

[2018-01-03 19:54] #57772 closed

[2018-01-03 20:11] DirectXMan12 commented on #23378
is this still occurring?  I don't think I've been able to reproduce in a while.  Otherwise, it should actually be stale/closed

[2018-01-03 20:17] DirectXMan12 commented on #56827
@mattjmcnaughton yeah, I've been meaning to fix that error message for a while.  It's misleading as it is.  Thanks for submitting a PR to fix it.

Your understanding is mostly correct, but your wording is a bit off.  In the case of legacy metrics, they all come from Heapster using an old version of the resource metrics API, talking directly to Heapster.  In the case of the REST metrics client, Hea

[2018-01-03 20:19] DirectXMan12 commented on #57365
Note: 866m stands for 866 "milli-units-per-second".  You may have seen it before as "milli-cores", but that's only in the case CPU.  Here, it means 866 "milli-requests-per-second", or just less than 1 request per second.

[2018-01-03 20:29] DirectXMan12 commented on #57660
Correct -- it's more intended as information that consumers can use to judge the freshness of rate metrics (like CPU).

Historically, we've shyed away from exposing the interval knob directly to user because it was felt that implementation detail, and that we'd like to do things to make it not necessary to set that knob at all (e.g. automatically adjusting the refresh interval, or something).  Add

[2018-01-03 20:46] jingxu97 commented on #52683
More details about the proposal mentioned above. The main problem we want to solve is to guarantee that,  after kubelet restarts
1. the exsiting volume list in node.Status.VolumesInUse should not be wiped out due to kubelet restarts. In another word, we have to make sure that the existing mounted volumes should be still in the list.
2. If pods are deleted during kubelet restarts, the mount points

[2018-01-03 21:05] liggitt commented on #57801
pull secrets don't seem to be included in `describe` output. can you verify the pull secret is included in `kubectl get pod user-798fc86589-2lmd4 -o yaml`?

[2018-01-03 21:16] yujuhong commented on #23104
Forgot to post a reason before closing the issue.

Container hash change needs to be addressed *if* in-place upgrade is going to guarantee no container restarts. I think we can fold this into the upgrade issues (#6099)

[2018-01-03 21:21] jingxu97 commented on #57497
@zetaab thanks for reporting this issue. Could you please confirm for cinder, if the node instance is shundown, will it be deleted from the cloud provider? Also in this situation, the volume is still attached to the node even after the node is deleted from cloud provider?
AFAIK, other cloud providers such as GCE, AWS, if node is deleted from cloud provider, the volume should be detached automatica

[2018-01-03 21:21] mlowery commented on #47268
@thockin:

In my case, I meant that the hostname depended on which node the pod was scheduled to. Furthermore, DNS records were handled not via kube-dns but via another custom controller that created the records, along with `dnsPolicy: Default` on the pod. With a proper `search` in `/etc/resolv.conf` and an unfortunate edit to `/etc/hosts` (removing the pod IP line) (see #57039), we got `hostname

[2018-01-03 21:25] zetaab commented on #57497
if we shutdown cinder node (openstack cloud provider), it is deleted from the kubernetes cluster. And if that happens, the volume is still attached to node when the node is shutdowned in cloud provider. Currently if you want shutdown node, you need drain it really carefully (that there isnt any pods which have PVC attached) and after that you can shutdown it. Otherwise if you shutdown node which h

[2018-01-03 21:28] squeed commented on #56794
@jryberg you can just PATCH the Node object.

[2018-01-03 21:35] yujuhong commented on #53644
@zhangxiaoyu-zidif thanks for digging out the old issue!

Yes, any new field added to the container spec would cause the hash to change. This is not a new issue but new fields are added to the container spec rarely (compared with pod spec) so it doesn't happen so often.  As discussed in #23104, a new way to generate the hash (e.g., using only updatable fields) or other method for kubelet to examin

[2018-01-03 21:46] vboginskey commented on #48638
@derekwaynecarr @liggitt #52176 doesn't resolve this issue. See: https://github.com/kubernetes/kubernetes/pull/48670#issuecomment-352257836, https://github.com/kubernetes/kubernetes/pull/52176#issuecomment-349647651, and https://github.com/kubernetes/kubernetes/pull/52176#issuecomment-353319760.

[2018-01-03 21:48] liggitt commented on #57706
potential fix in #57805

[2018-01-03 21:49] liggitt commented on #57706
seems like the same issue for get_plugin_tests:

[code]

[2018-01-03 21:50] liggitt commented on #57706
same fix will hopefully resolve the issue

[2018-01-03 21:51] smarterclayton commented on #57671
You are correct

[2018-01-03 21:52] NickolausDS opened #57806 "Add support to OIDC for JWT tokens signed with RS512"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I am unable to auth with OIDC configured with an identity provider which signs its JWT tokens with RS512 (Only RS256 works).

The master node raises an error in `/var/log/kube-apiserver.log`:

    E0103 21:05:00.747899       5 oidc.go:190] oidc authenticator: failed to fetch provider discovery
        data: id_token_

[2018-01-03 21:59] smarterclayton commented on #48388
It's covered under https://github.com/kubernetes/kubernetes/issues/49038

On Sat, Dec 23, 2017 at 8:50 AM, Matt Moore <notifications@github.com>
wrote:

[2018-01-03 22:00] smarterclayton commented on #57531
Pods are not removed from down nodes unless one of the following conditions happens:

1. an admin deletes the pod or node explicitly
2. the node comes back and acknowledges the deleted pods
3. the cloud provider deletes the instance, at which point the node controller sees the instance no longer exists and then deletes the node (1 above) which causes the pod to be deleted.

[2018-01-03 22:02] smarterclayton commented on #57061
Against gRPC?  I linked one above.

[2018-01-03 22:08] smarterclayton commented on #57167
Correct.  Now the challenge is that STS and DS don't have this same
intermediate object, so any solution for them is going to have to be on the
deployment itself, which breaks apply (in some cases)

On Wed, Dec 27, 2017 at 10:20 AM, Matt Moore <notifications@github.com>
wrote:

[2018-01-03 22:12] mengqiy commented on #48564
/lifecycle frozen

[2018-01-03 22:12] mengqiy commented on #48564
/remove-lifecycle stale

[2018-01-03 22:26] blakebarnett commented on #43245
We haven't seen this since 1.6

[2018-01-03 22:26] #43245 closed

[2018-01-03 22:35] timothysc commented on #57618
Please follow the examples from the scheduler, proxy, and kubelet as guides.

[2018-01-03 22:48] jingxu97 commented on #57531
cc @yujuhong @dashpole
Could you please confirm whether this is expected behavior.  Thanks!

[2018-01-03 23:11] mikecico commented on #43874
/remove-lifecycle stale

[2018-01-03 23:15] dashpole commented on #57531
This is not memory pressure, it is a fork bomb, and consumes all of the processes on the node, preventing any node functionality that would consume a process (I think in this case it is preventing any api status updates).  This is a known issue https://github.com/kubernetes/kubernetes/issues/43783.

[2018-01-03 23:19] oonisim commented on #57718
Hi @dims, why this is closed? the original issue of not being able to specify --cloud-provider=aws in /etc/kubernetes/manifest/kube-controller-manager.yaml is still there. Please clarify if it is the expected behaviour, or otherwise please reopen to clarify why it does not work.

[2018-01-03 23:21] ixdy commented on #56346
I think I meant to cherrypick #56249 to 1.8 but didn't for some reason...

We need better routing on issues, since I didn't notice this until just now. :(

cc @david-mcmahon

[2018-01-03 23:24] ixdy commented on #56346
/assign

[2018-01-03 23:32] mtaufen opened #57808 "Fix Kubelet last-known-good config graduation"
The last-known-good is only updated on Kubelet restart.

We could have this scenario:

lkg is set to local
we set config A
config A passes trial period, but nothing caused Kubelet to restart
we set config B, which turns out to be invalid
Kubelet will fall back to local, because lkg was never updated

[2018-01-03 23:40] #57706 closed

[2018-01-03 23:41] rambo45 commented on #48378
Please update docs with this workaround

[2018-01-03 23:52] mtaufen commented on #45368
CVM is dead and gone, closing this

[2018-01-03 23:52] #45368 closed

[2018-01-03 23:56] bowei commented on #45363
/lifecycle frozen

[2018-01-03 23:56] dims commented on #57718
@oonisim see my last comment? ("but there are so many more things in the configuration options in the --config file for kubeadm init so it may be better to leave it where it is")

We should create a Issue/PR(s) against docs to basically add information we collected in this issue.

Here are my notes, you may have more since you debugged it too:
- specifying `--config` with `kubeadm init` (and makin

[2018-01-04 00:10] oonisim commented on #57718
Hi @dims, I have read your comments. Still the point is why --cloud-provider option does not work as it is clearly documented in the [kube-controller-manager reference document](https://kubernetes.io/docs/reference/generated/kube-controller-manager/).

    --cloud-provider string                                             The provider for cloud services.  Empty string for no provider.

If this op

[2018-01-04 00:14] dims commented on #57718
@oonisim in your case you had `--cloud-provider=aws` in the kube-controller-manager, but the `--cloud-config` was not set and/or the file that it was pointing to was not available in the container that the kube-controller-manager was running in. Hence it was failing.

[2018-01-04 00:16] dims commented on #55048
/close

please provide logs from apiserver, controller-manager, kubelet and we can re-open this bug.

Thanks,
Dims

[2018-01-04 00:16] #55048 closed

[2018-01-04 00:16] dims commented on #56610
Looks like this was a bad config file. closing bug.

/close

[2018-01-04 00:16] #56610 closed

[2018-01-04 00:27] oonisim commented on #57718
Hi @dims, thanks for the information. I looked at the /etc/kubernetes/manifests/kube-controller-manager.yaml which has been (I believe) configured by kubeadm init. I do not see -cloud-config but see --cloud-provider=aws.

So /etc/kubernetes/manifests/kube-controller-manager.yaml is not the only place to make kube-controller-manager work? On the dailybasis I need to manage a K8S/OpenShift cluster a

[2018-01-04 00:34] dims commented on #57718
@oonisim As mentioned above, please use kubeadm 1.9.0, run `kubeadm init --config kubeadm.conf` with the following in the kubeadm.conf file

[code]

Let's restart the discussion from the set of files generated from there.

/reopen

[2018-01-04 00:47] freehan commented on #57794
@kubernetes/sig-network-misc

[2018-01-04 00:51] mbohlool commented on #57427
1.9.1 will be released tomorrow

[2018-01-04 00:55] oonisim commented on #57718
Hi @dims, thanks for the follow up. Yes it is done. The /etc/kubernetes/manifests/kube-controller-manager.yaml (two comments above is the 1.9 one generated as in the comment with **Solution**.

    kubeadmin init --config kubeadmin_conf.yaml

    [kubeadm_conf.yaml.j2]
    kind: MasterConfiguration
    apiVersion: kubeadm.k8s.io/v1alpha1
    api:
      advertiseAddress: {{ K8S_ADVERTISE_ADDRESS }}

[2018-01-04 00:55] mbohlool commented on #57452
@lklkxcxc we need a way to reproduce it. Can you start with a fresh k8s cluster and use (hopefully) minimum configuration/yamls to reproduce it and send those to us to reproduce it?

[2018-01-04 01:02] oleg-kiselev commented on #40651
If you have `"hostNetwork: true"` set in the spec, $HOSTNAME is the name of the node on which the pod is executing.

A more reliable work-around to get the pod's unique name and enumeration index is to expose `metadata.name` using downward API:
[code]
`${MY_NODE_NAME}` will be unique in the cluster and have the format like `my-test-pod-index`.  You can parse the index out of that.

[2018-01-04 01:28] yujuhong commented on #57531
What @smarterclayton said in https://github.com/kubernetes/kubernetes/issues/57531#issuecomment-355139769 is the intended behavior.

The node controller will try "evict" the pods -- but in this case, the "eviction" simply means setting the DeletionTimestamp on the pods. Since kubelet is not functioning, it will not actually reclaim the resources and remove the pods. If you enable cluster autoscale

[2018-01-04 01:42] choppsv1 commented on #47268
@mlowery We are running our pod manifests through envsubst prior handing them to k8s. I don't believe there's any k8s template or variable substitution mechanism currently, although simple envsubst/bash-like variable substitution would be a great addition. So we specify the hostname in the manifest using a using a pod-specific suffix and a variable prefix (e.g., hostname: "${PREFIX}-cassandra"). T

[2018-01-04 01:43] dims commented on #57718
@oonisim what's your kubeadm version?

[code]

[2018-01-04 01:45] mtaufen commented on #57701
`getCurrentKubeletConfig()` returns as soon as it gets a 200 response from /configz. Nothing to do with which config the Kubelet read. If the Eventually is exiting early, it's probably because no values were changed. The Kubelet may not have even restarted yet.

That's probably a useful optimization.

[2018-01-04 01:47] #55542 closed

[2018-01-04 02:06] ScorpioCPH commented on #57701
Yes, I agree with you.

@mtaufen Hi, https://github.com/kubernetes/kubernetes/pull/57812, PTAL, Thanks.

[2018-01-04 02:07] davidz627 commented on #57531
Ok, looks like #43783 captures this scenario.

However, I'm still confused as to why the pods/node were able to recover after ~50 minutes. It seems to me as though there is some mechanism for recovery from this, but it is taking *too long* to kick in.

[2018-01-04 02:12] soichih opened #57814 "./cluster/kube-up.sh doesn't seem to work with OpenStack API v3?"
I am trying to following this doc to install Kubernetes on my OpenStack account (Jetstream public cloud)

I have following on my openrc.sh

[code]

When I run `./cluster/kube-up.sh`, I get following error message.

[code]

I am seeing this error on Ubuntu 16 machine running Kubenetes release v1.7.12.

Is auth version 3 not supported by kube-up script?

[2018-01-04 02:27] timothysc commented on #57405
If the kubelets are no-longer respecting backoff on phone home that is an issue.  There has been a ton of work in this area over the years.

[2018-01-04 02:31] KeithTt commented on #57442
@dashpole In fact, I only use less than 20% of the disk, apparently there should not trigger this error...

[2018-01-04 02:34] kidiyoor opened #57815 "labels for endpoints object"
**Is this a BUG REPORT or FEATURE REQUEST?**:

How to create a service which load balance between multiple external IPs. ?

I do not want create a single endpoints object and add multiple IPs since each external IP has its own lifecycle.

Selector less service won't help since it requires endpoints to have same name as service, hence I can't have multiple endpoints object.

why does endpoints obje

[2018-01-04 02:41] mattjmcnaughton commented on #56827
Thanks for the additional clarification @DirectXMan12 ! Very helpful :)

[2018-01-04 02:43] kidiyoor commented on #57815
@kubernetes/sig-api-machinery-feature-requests

[2018-01-04 02:56] #57808 closed

[2018-01-04 02:58] dims commented on #57814
@soichih the openstack heat based kube-up is deprecated. please see details and alternatives at https://github.com/kubernetes/website/pull/5670#issuecomment-355019548

[2018-01-04 03:11] dixudx commented on #57765
/assign

I prefer to conform hostname to DNS-1123 subdomain spec. Already submitted a PR #57816 on this.

[2018-01-04 03:12] dims commented on #57814
/close

[2018-01-04 03:12] #57814 closed

[2018-01-04 03:37] stevekuznetsov commented on #57035
Might be? Lots of log errors when using Docker+`journald` smells like that classic issue...

[2018-01-04 03:43] hzxuzhonghu commented on #51688
Because in service restStorage, endpoint is deleted when delete service. See https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/rest.go#L170~L180

So close this issue.

[2018-01-04 03:43] #51688 closed

[2018-01-04 03:59] PengTaoWW commented on #57144
@thockin If nobody is working in this case . i can take it .
please assign to me

[2018-01-04 04:02] fejta-bot opened #57818 "Failure cluster [be67e0...] failed 77 builds, 15 jobs, and 1 tests over 1 days"
### Failure cluster [be67e035a2dd92d8a448](https://go.k8s.io/triage#be67e035a2dd92d8a448)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    15 jobs failed,    77 builds failed.
Failure stats cover 1 day time range '3 Jan 2018 03:11 UTC' to '4 Jan 2018 03:11 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 15 |

##### Top fai

[2018-01-04 04:07] Lion-Wei opened #57819 "Service node port e2e test may failed if node ip not reachable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

in nodeport test case, if the nodeIP is not reachable for same reason(firewall, network isolate...), then the `http://nodeIP:nodeport` definitely can't be access, in this case, the e2e test will result in failure, that maybe a little Arbitrary.
For example, in kubeadm builded gce cluster, all node use the internal IP, which is not

[2018-01-04 04:18] m1093782566 commented on #57819
/sig network

[2018-01-04 04:26] oonisim commented on #57718
@dims as below.

    $ kubeadm version -o yaml
    clientVersion:
      buildDate: 2017-12-15T20:55:30Z
      compiler: gc
      gitCommit: 925c127ec6b946659ad0fd596fa959be43f0cc05
      gitTreeState: clean
      gitVersion: v1.9.0
      goVersion: go1.9.2
      major: "1"
      minor: "9"
      platform: linux/amd64

[2018-01-04 05:13] jpbetz opened #57822 "pull-kubernetes-cross consistently failing with docker registry TLS handshake timeouts"
Since about 6:00 PT today (Jan 3 2017), `pull-kubernetes-cross` tests [are failing across the board](https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=presubmit&job=pull-kubernetes-cross) with docker registry TTLS handshake timeouts:

[code]

[2018-01-04 05:22] liggitt commented on #57822
https://github.com/kubernetes/kubernetes/pull/56534 was a big change around then, though nothing obvious in it jumps out at me

[2018-01-04 05:27] liggitt commented on #57822
Never mind.… 6AM

[2018-01-04 05:31] mlmhl commented on #57744
Nice idea @rootfs , I've submit a PR for this, PTAL.

[2018-01-04 05:44] saad-ali commented on #57685
No issue needed in kubernetes/kubernetes, the feature repo issue is sufficient to track this.

[2018-01-04 05:44] #57685 closed

[2018-01-04 05:46] gyliu513 commented on #51434
/remove-lifecycle stale

[2018-01-04 06:19] ynfeng commented on #36152
[root@master istio-0.4.0]# kubectl port-forward -n istio-system $(kubectl get pod -n istio-system -l app=zipkin -o jsonpath='{.items[0].metadata.name}') 9411:9411
Forwarding from 127.0.0.1:9411 -> 9411

[2018-01-04 06:24] feiskyer opened #57826 "Azure LB not removed after all LoadBalancer services deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When VMSS enabled, Azure LB not removed after all LoadBalancer services deleted.

**What you expected to happen**:

Azure LB should be removed after all LoadBalancer services deleted.

**How to reproduce it (as minimally and precisely as possible)**:

- Deploy a cluster on Azure with vmType=vmss
- Create a LoadBalancer S

[2018-01-04 06:25] feiskyer commented on #57826
/sig azure

[2018-01-04 06:28] yue9944882 commented on #57626
@gogeof  How about putting `strace` logs here so that we can find which syscall is being frequently called?

[2018-01-04 06:30] jiaxuanzhou commented on #57773
@resouer @feiskyer any update?

[2018-01-04 06:32] ynfeng opened #57828 "kubectl port-forward can't forward from 0.0.0.0?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

**What happened**:

[code]
Can't forward from 0.0.0.0?

**What you expected to happen**:

 Forwarding from [::1]:9411 -> 9411

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
   V

[2018-01-04 06:33] feiskyer commented on #57787
There is seccomp bug in v1.8.3 (#55359), could you upgrade to v1.8.4+ and check whether it is ok?

[2018-01-04 06:33] feiskyer commented on #57787
/sig node

[2018-01-04 06:38] thockin commented on #17619
I don't have state on that one, other than that it was deprecated - @dchen1107 or @vishh ?  I know the directional trend is to run kube-proxy as a DaemonSet, so the flag is less likely to be used.

[2018-01-04 06:39] feiskyer commented on #57773
@jiaxuanzhou Allocated resources could already be fetched from node status and pod list (see kubectl describe node).

[2018-01-04 06:40] shenlanse commented on #51313
@jianzhangbjz In our production environment, this bug happens again. I don't know why the community don't think this is a problem, maybe i don't describe clearly.

Firstly, we have to admit that **delete event can be lost in some terrible circumstance.** I will never say add and update event can be lost, because when Reflector framework relist from apiserver, we can get the final data state and ad

[2018-01-04 06:44] shenlanse commented on #51313
This bug has nothing to do with Node name reuse. In short word,

1. pod delete event is lost
2. kube-scheduler don't completely reconstruct scheduleCache when reflector relist and watch

[2018-01-04 06:50] barryprice commented on #55602
Seems this was fixed last month:

https://github.com/kubernetes/kubernetes/commit/57059ea4428265cdea7e4c79646ad476fe79fcd8#diff-62515902f2f0b074724269361a1c42b3

as part of this PR:

https://github.com/kubernetes/kubernetes/pull/56979

[2018-01-04 06:52] jiaxuanzhou commented on #57773
@feiskyer yes ,i see it, but when to get the result of the allocated totally, we need to list all the pods of the node and calculate it, it is not the right way and low performance to do it, so we suggest kubelet calculating it and update it to not status, or would you suggest any other solutions to figure it out?
thanks

[2018-01-04 07:02] gogeof commented on #57626
@yue9944882 I'm sorry, this node has been recreated on Tuesday, so I can't afford that. If this issues shows again, I will add it. Thanks for response.

[2018-01-04 07:07] yue9944882 commented on #57828
@ynfeng I think this is by-design. And allowing requests from arbitrary ip addr may potentially break the mechanism of overlaying-networks. Especially when requesting ip collides with overlayed ip range.

[2018-01-04 07:25] jingxu97 commented on #57531
@davidz627 what do you mean by "node is lost" after 50 mins?

[2018-01-04 07:27] jingxu97 commented on #50634
/lifecycle frozen

[2018-01-04 07:29] gertdetlef commented on #57787
Tried so, upgraded to v1.9.0:
[code]
So the "server" remained the same.
Minikube was also updated to "minikube version: v0.24.1".

The bad thing first: It still doesn't work.
Syslog:
[code]

But the good thing is that now a better error messages pops up:
[code]
Before, I always got "ContainerStarting" or so infinitely.

[2018-01-04 07:42] CaoShuFeng opened #57829 "[advanced audit]invalid audit saved for meta.k8s.io/v1.DeleteOptions"
Run this command:
[code]
In this command we have such request body:
[code]

But in the saved audit events, we have:
[code]

/cc @sttts

[2018-01-04 07:43] CaoShuFeng commented on #57829
/label area/audit

[2018-01-04 07:48] cblecker commented on #57822
@kubernetes/sig-testing-misc
Looks infra related

[2018-01-04 08:04] calvix commented on #56584
closing dup

[2018-01-04 08:04] #56584 closed

[2018-01-04 08:07] CaoShuFeng commented on #57829
It has something to do with this:
https://github.com/kubernetes/kubernetes/blob/e823c473b902a4799baf7cacc6fc7fb3482762ac/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go#L68

[2018-01-04 08:09] karataliu commented on #57715
Good to see this.

Regarding the 'adapters' here, does it mean something built upon the current cloud volume plugins, and it implements CSI driver interface or such? And where will the code be placed?

Currently cloud volume plugins mostly have dependency on corresponding cloud providers, which is planned to be moved out-of-tree. What's the plan for the CSI implementations, will they also be moved

[2018-01-04 08:19] david-mcmahon commented on #15639
cc @rvkubiak

[2018-01-04 08:28] krmayankk commented on #41394
/remove-lifecycle stale

[2018-01-04 08:52] feiskyer commented on #57787
Seems you are still using v1.8.0. Could you run `kubectl get node` to conform kubelet version?

[2018-01-04 09:25] soltysh commented on #57829
Hmm... I'm not sure we can do anything with it for now, until the DeletionOptions are handled properly. In my scale of seriousness this falls in the the category of not that much. We do record 90% of relevant information, the only wrong information is the api groups which is sort of ok, imho. At least for now.

[2018-01-04 09:26] mfojtik opened #57834 "kubectl patch --type=strategic should prompt the name of the required key"
When running `kubectl patch --type=strategic ...` (--type=strategic is by default)
[code]

or
[code]

The output is:
[code]

Before, the output not ideal, but it at least showed the required key's name:
Error from server: map: map[targetPort:441] does not contain declared merge key: port

The recent version of kubectl seemed to dropped this message.

Possibly related: https://github.com/kubernetes

[2018-01-04 09:26] mfojtik commented on #57834
/sig cli

[2018-01-04 09:26] mfojtik commented on #57834
@mengqiy FYI

[2018-01-04 09:34] hzxuzhonghu opened #57836 "kube-aggregator APIServiceRegistrationController no need watch services"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Currently APIServiceRegistrationController watch service change and find the related APIServices related if any. Then it AddAPIService/RemoveAPIService for APIAggregator.

I dig into the kube-aggregator and find it no need totally, because `AvailableConditionController` update
APIServices status when related service or

[2018-01-04 09:34] hzxuzhonghu commented on #57836
/kind bug

[2018-01-04 09:36] hzxuzhonghu commented on #57836
/kind enhancement
/sig api-machinery

[2018-01-04 09:36] tzurE commented on #56303
Yes. We have a 1.6 environment that is broken because of this.

[2018-01-04 09:42] hzxuzhonghu commented on #57836
/assign

[2018-01-04 09:46] stuart-warren commented on #48128
We'd still really like this feature

[2018-01-04 10:02] #56614 closed

[2018-01-04 10:10] zhangwei0181 commented on #57801
I suffered the same problem today.

[2018-01-04 10:13] zhangwei0181 commented on #57801
Below configurations exists in the pod spec. But it is not work.
 imagePullSecrets:
  - name: registrysecret

[2018-01-04 10:16] ublubu commented on #57715
The existing volume sources will be around for a while, so we can't yet move the provider-specific code out of the tree. In the meantime, we're wrapping existing volume implementations into CSI plugins (using the framework provided by https://github.com/kubernetes-csi). Presumably, users will switch to CSI over time and then we can move the volume implementations out-of-tree and remove the old vol

[2018-01-04 10:27] hanikesn commented on #45976
It would also be interesting whether people see the same issues with kube-proxy in ipvs mode. Unfortunately I don't have enough time to test this for now.

[2018-01-04 10:39] jsravn commented on #45976
It might be worse in the ipvs backend - if it removes the server when the endpoint is removed instead of setting the weight to 0. That will drop TCP connections as well which is going to be a lot more noticeable. If it sets weight to 0 then it will behave a lot better than iptables (but would need some sort of reap process to remove 0-weighted backends). I haven’t looked at it at all, but will soo

[2018-01-04 10:45] PengTaoWW commented on #46310
@yujuhong  If nobody is working in this case . i can take it . The next step is I submit a PR  or  you  assign to me ?

[2018-01-04 10:48] gertdetlef commented on #57787
Interesting, as I am using the latest Minikube version...
[code]
Is there something similar to Minicube I can use that support a later version?

[2018-01-04 10:48] PengTaoWW commented on #46310
@Random-Liu If nobody is working in this case . i can take it . The next step is I submit a PR or you assign to me ?
@yujuhong is this right？I'm a newcomer, and I'm not quite sure about the steps here.

[2018-01-04 10:49] mkumatag commented on #25730
/remove-lifecycle stale

[2018-01-04 11:07] arongu opened #57837 "Error when trying to reference metadata.name as persistentVolumeClaim.claimName"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig apps

**What happened**:
Unable to get `meta.name` field as `string` for `persistentVolumeClaim.claimName` using downward api.
[code]

[code]

**What you expected to happen**:
According to `kubectl explain:`

`kubectl explain StatefulSet.spec.template.metadata.name`
`FIELD: name <string>`

`kubectl explain StatefulSet.spec.template.spec.

[2018-01-04 11:41] kenden commented on #29789
/remove-lifecycle stale

[2018-01-04 12:11] dims commented on #57718
@oonisim thanks for confirming. Here are the exact steps in the correct order:

- Making sure `/etc/kubernetes/cloud-config` is created in each node including master with the
  correct information needed for the specific cloud provider
- Specifying `--config` with `kubeadm init` with the following contents
[code]
- Looking at the generated apiserver and controller-manager to make sure
    * `--clo

[2018-01-04 12:52] adam-sandor opened #57838 "Modifying nodeSelector on StatefulSet doesn't reschedule Pods"
/kind bug

**What happened**:
Changing nodeSelector of a StatefulSet doesn't trigger rescheduling of it's existing pods. I `kubectl apply` the StatefulSet below, and wait for it's Pods to get scheduled onto Nodes with label `node_type: type1`. Then I change the nodeSelector label to `node_type: type2` and do `kubectl apply` again.

[code]

**What you expected to happen**:

I expect the Pods to be

[2018-01-04 13:09] vbmade2000 commented on #56303
Ok. Is there a $KUBELET_NETWORK_ARGS param in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf ?

[2018-01-04 13:33] mikkeloscar opened #57840 "e2e: Only create PSP if RBAC is enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

(This is to have an accompanying issue for the PR #56382)

Creating privileged PSPs during e2e tests depends on RBAC being enabled in the target cluster. However it is possible to use PSPs without having RBAC enabled thus only enable creating PSPs during e2e tests if both PSP and RBAC is enabled.

**What you expected to

[2018-01-04 14:24] #57776 closed

[2018-01-04 14:39] jsravn opened #57841 "ipvs proxier doesn't respect graceful termination"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Upon removing an endpoint, the ipvs proxier immediately deletes the ipvs real server, causing all connections to get dropped.

**What you expected to happen**:
It should allow the terminating pod to gracefully close connections, just like the iptables proxier.

**How to reproduce it (as minimally and precisely as possible)

[2018-01-04 14:40] #57840 closed

[2018-01-04 14:40] #57444 closed

[2018-01-04 14:42] jsravn commented on #57841
/assign sig-node
/cc @m1093782566

[2018-01-04 14:42] jsravn commented on #57841
/sig network

[2018-01-04 14:43] nkwangleiGIT commented on #57801
@bitgandtter  @zhangwei0181 what's the version of Docker? and you can also check the data of secret registrysecret to confirm it's in correct format like blow:

[code]

As we tried on k8s 1.6.11, imagePullSecrets should work normally.

[2018-01-04 14:44] sergeohl commented on #35187
I am using kubernetes 1.8.5 and I have the same issue.

I use this service.
`apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
    service.beta.kubernetes.io/aws-load-balancer-internal: 0.0.0.0/0
  labels:
    app: http-test
  name: http-test
spec:
  externalTrafficPolicy: Local
  ports:
  - name: http
    port: 80
    prot

[2018-01-04 14:44] wenjun93 commented on #57744
@rootfs @mlmhl I've checked and the reason is that I tested with the old release branch, see https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/util/mount/mount.go#L191, after release-1.8, the `getDeviceNameFromMount` has been changed with `mounts` in mount path, and causes the problem. thanks for your PR @mlmhl.

[2018-01-04 14:51] bitgandtter commented on #57801
@nkwangleiGIT docker version 17.12 also notice that k8s is on version 1.9.0. Also yes the data is that format

[2018-01-04 14:57] nkwangleiGIT commented on #57753
@DaiHao you can try by removing the livenessProbe blow first to see if it's restarting due to health check.

[code]

[2018-01-04 14:57] rootfs commented on #57497
The multi-attach error looks what prevents the cinder volume attaching to new instance. When the node is removed from the k8s cluster, are volumes attached to that node removed as well?

[2018-01-04 14:59] nkwangleiGIT commented on #57801
@bitgandtter ok, I'll have a try on 1.9.0 later to see if it'll have this issue , will update here later, thanks.

[2018-01-04 15:25] NickolausDS commented on #57806
/sig auth

[2018-01-04 15:25] luxas commented on #53217
/assign @dims
this was fixed, right?

[2018-01-04 15:33] dims commented on #53217
yes, fixed in https://github.com/kubernetes/kubernetes/commit/a4574bbb042402974a0269651ca42bc9e8137c72

/close

[2018-01-04 15:33] #53217 closed

[2018-01-04 15:44] dims commented on #57718
/sig aws
/area cloud-provider

[2018-01-04 15:45] dims commented on #57720
/sig node

[2018-01-04 15:46] dims commented on #57726
/sig scheduling

[2018-01-04 15:46] dims commented on #57753
/sig network

[2018-01-04 15:47] dims commented on #57801
/sig node

[2018-01-04 15:47] dims commented on #57828
/sig network

[2018-01-04 15:48] dims commented on #57838
/sig scheduling

[2018-01-04 15:49] zetaab commented on #57497
No those are not removed or detached if node is removed from cluster.

@rootfs check https://github.com/kubernetes/kubernetes/issues/56846 possible fix for this

[2018-01-04 15:53] rootfs commented on #57744
@mlmhl i read `getDeviceNameFromMount` again. There is another return path [here](https://github.com/kubernetes/kubernetes/blob/da9a4d5da9ecc6f687c873fb990d662b1f9f98b2/pkg/util/mount/mount_linux.go#L364). So in rbd, the missing `mounts` dir will not make into [this return](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L360), but the second return should still

[2018-01-04 16:00] onionjake commented on #55630
Are there any workarounds while we wait for a fix?  We have ran into this on a 1.8.4 GKE cluster.

[2018-01-04 16:12] liggitt commented on #57836
that does not follow. AvailableConditionController modifies the APIService object. APIServiceRegistrationController must still watch the APIService objects to observe those changes.

[2018-01-04 16:15] liggitt commented on #57836
oh, I misread the description. You're saying APIServiceRegistrationController doesn't need to watch v1.Service objects

[2018-01-04 16:18] dashpole commented on #57442
Does your disk have multiple partitions?  If so, the kubelet only monitors the partition that includes the /var/lib/kubelet (or wherever you placed the kubelet).
Is that the disk usage now, or when the eviction took place?  Is that node still showing `DiskPressure` when you do `kubectl get nodes`?

[2018-01-04 16:55] liggitt commented on #50345
cc @kubernetes/sig-storage-bugs

[2018-01-04 16:59] #57201 closed

[2018-01-04 16:59] #56088 closed

[2018-01-04 17:03] roberthbailey commented on #39421
/remove-lifecycle stale

This is still an issue, so keeping it open.

[2018-01-04 17:10] tvinhas opened #57842 "taint command fails to remove a schedule"
/kind bug

**What happened**:
There's probably some information missing on the docs, or it might be my incapacity to properly find it, but when running `kubectl taint nodes kube11 beta.kubernetes.io/arch=amd64:NoSchedule-` to remove a manually added NoSchedule taint, it fails by saying:
[code]

**What you expected to happen**:
To remove the taint added by the command: `kubectl taint nodes kube11 b

[2018-01-04 17:21] mattfarina commented on #56853
cc @kow3ns

[2018-01-04 17:24] dashpole commented on #48843
/remove-lifecycle stale

[2018-01-04 17:46] msau42 commented on #52683
Also need to consider the cleanup of those volume plugins that do local attaching.

[2018-01-04 17:47] ericchiang commented on #39441
/remove-lifecycle stale

[2018-01-04 17:52] dims commented on #57639
/unassign @dims

[2018-01-04 17:52] dims commented on #52563
/unassign @dims

[2018-01-04 17:53] dims commented on #50421
/unassign @dims

[2018-01-04 17:53] dims commented on #40850
/unassign @dims

[2018-01-04 17:53] ericchiang commented on #57371
cc @jhorwit2

[2018-01-04 18:07] zetaab commented on #57643
original issue 1 is fixed for AWS in https://github.com/kubernetes/kubernetes/pull/55893 and fixed for openstack in https://github.com/kubernetes/kubernetes/pull/56846

still that issue 2 exist in both, should we close this issue and continue in https://github.com/kubernetes/kubernetes/issues/51597 what you think @wenlxie

[2018-01-04 18:12] php-coder commented on #49565
@nopa12 Is this issue still here?

[2018-01-04 18:13] divyenpatel opened #57844 "MountVolume.MountDevice failed for volume - format of disk failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

- Created StorageClass with - `provisioner: kubernetes.io/vsphere-volume`
- Created PersistentVolumeClaim with Storage Class
- Verified PV is created and PVC is in the Bound State.
- Created Pod with PVC.
- Pod remains in the ContainerCreating state.

[code]

Kubelet log on the node on which pod is scheduled and volume i

[2018-01-04 18:14] divyenpatel commented on #57844
/sig storage

[2018-01-04 18:18] divyenpatel commented on #57844
@saad-ali @jingxu97  is there anything recently changed related to mount and formatting of volumes on the master branch?

[2018-01-04 19:08] divyenpatel commented on #57844
From kubelet container on the node where Pod is scheduled and volume is attached tried to manually format the volume, but it failed with following error.

[code]

[code]

[code]

[code]

[2018-01-04 19:09] antoniaklja commented on #57838
@adam-sandor @dims I'll have a look

[2018-01-04 19:27] cjwagner commented on #57822
/assign

[2018-01-04 19:28] bowei commented on #48107
@shyamjvs does this remain an issue?

[2018-01-04 19:28] jingxu97 commented on #52683
talked with @msau42 offline, it seems like volume plugin manager keeps all necessary information for unmounter which can clean up the mounts and also detach volume for plugins that have local attaching.

[2018-01-04 19:36] spiffxp commented on #57822
/kind bug
/priority critical-urgent

[2018-01-04 19:53] bowei commented on #12165
/remove-lifecycle stale

[2018-01-04 19:57] timothysc commented on #1627
Closing this issue in favor of @mikedanese 's longstanding proposal on component config migration.  The kubelet, proxy, and scheduler have been transitioned and other issues have a better scope and history.  @kubernetes/sig-cluster-lifecycle-misc has been tracking the progress of these issues over time.

[2018-01-04 19:57] #1627 closed

[2018-01-04 20:01] timothysc commented on #3518
@vishh @derekwaynecarr @dchen1107 - imo this issue should be closed now.

[2018-01-04 20:03] ixdy commented on #56346
This should be fixed in v1.8.7. Sorry again for missing this.

[2018-01-04 20:03] #56346 closed

[2018-01-04 20:07] bowei commented on #32735
No progress -- but this is a good starter bug for anyone in sig-network

/label help-wanted

[2018-01-04 20:07] bowei commented on #32735
/remove-lifecycle stale

[2018-01-04 20:08] bowei commented on #42861
/remove-lifecycle stale

[2018-01-04 20:09] bowei commented on #38349
/remove-lifecycle stale

[2018-01-04 20:12] bowei commented on #44772
/remove-lifecycle stale

[2018-01-04 20:14] lvthillo opened #57847 "Resize cluster: Method not found."
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Nodes did not resize

**What you expected to happen**:
Resize nodes

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
I used Regional (beta) during the setup (europe-west1).

**Environment**:
- Kubernetes version (use `kubectl version`):
v1.7.11-gke.1
- Cloud pro

[2018-01-04 20:22] wolfroma commented on #57801
It seems I have the same problem
[code]
It appears in yaml output but the describe doesn't show it.

[code]
I have slightly different format of registry though

[code]

Environment:
Kubernetes version (use kubectl version): v1.9.0 , server: v1.9.0+coreos.0
Cloud provider or hardware configuration: vm
OS (e.g. from /etc/os-release): centos 7
Kernel (e.g. uname -a): Linux node1 3.10.0-514.10.2.el7.x

[2018-01-04 20:26] liggitt commented on #57801
describe is just a human readable version of the pod. it does not include all fields. `get -o yaml` is authoritative.

you are likely encountering https://github.com/kubernetes/kubernetes/issues/57427, fixed in 1.9.1

[2018-01-04 20:27] liggitt commented on #45487
fixed in 1.9.1, now released - https://github.com/kubernetes/kubernetes/releases/tag/v1.9.1

[2018-01-04 20:27] #45487 closed

[2018-01-04 20:28] liggitt commented on #57801
closing, fixed in https://github.com/kubernetes/kubernetes/releases/tag/v1.9.1

[2018-01-04 20:28] #57801 closed

[2018-01-04 20:42] liggitt commented on #57806
/assign @ericchiang

[2018-01-04 20:50] davidz627 commented on #57531
@jingxu97 kubelet on the node stops responding.

[2018-01-04 21:04] Thermi commented on #44478
/remove-lifecycle stale
/lifecycle frozen

[2018-01-04 21:08] redbaron opened #57848 "service.spec.selector is not io.k8s.apimachinery.pkg.apis.meta.v1.LabelSelector"
looking at current swagger.json `selector` type in `core.v1.service` is `object`, shouldn't  it be LabelSelector like it was done in https://github.com/kubernetes/kubernetes/pull/19840 ?

/sig api-machinery