[2017-12-19 12:01] dims commented on #57395
Can you please file this issue in https://github.com/kubernetes/dashboard/issues ?

/close

[2017-12-19 12:01] #57395 closed

[2017-12-19 12:04] porridge opened #57398 "Improve daemonset deletion user experience"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Currently (as mentioned in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/apps/daemon.md) when deleting a daemonset sets the nodeSelector to a uuid pair that is unlikely to be set on any node.

I started the deletion and aborted it (thinking nothing happened). A week later I was wonderin

[2017-12-19 12:07] ScorpioCPH commented on #54011
@vishh I have deployed `GKE - GPU device plugin` binary on `CentOS 7.2` with volume/device mounted manually, and it works well.

We have no `Debian` env and as @flx42 says it is not supported on `Debian`.

I thinks we should recommend users to use `nvidia-docker` to prevent mounting so many libs and devices manually, it is not a comfortable way for users.

[2017-12-19 12:08] porridge commented on #57398
/sig cli

[2017-12-19 12:16] dankohn commented on #35557
It appears that heketi decided on a license: https://github.com/heketi/heketi/blob/master/LICENSE

Note that the CNCF charter applies to both the licenses of a project's code and its dependencies, and that there are concerns with LGPLv3. But since this project is dual-licensed, that doesn't apply.

[2017-12-19 12:18] bhack commented on #54011
@justinsb Could we use nvidia-docker2 for https://github.com/kubernetes/kops/issues/1726?

[2017-12-19 12:30] #38868 closed

[2017-12-19 12:44] dlouzan commented on #26309
@xingxing9688 I haven't had a chance to test this again, but by the commit closing this issue, seems it was fixed in k8s 1.7+

[2017-12-19 13:11] maehld commented on #57279
Hi,

I've encoutered the same error. Our deployment was via kubeadm 1.9.0 directly from the binary downloads on github on a clean minimal PhotonOS 2 install.

I'm happy to provide more info if needed.

[2017-12-19 13:22] #57205 closed

[2017-12-19 13:33] pjfanning commented on #55405
Thanks @bgrant0607 - that is the workaround we've been using - but it would be nice not to have a custom shell script that the exec probe calls.

[2017-12-19 13:35] liggitt commented on #57378
There are four major reasons we don't do this:
* Doing this would require recording and exposing full user info for the creator of every object which has significant privacy implications. * Doing this would require giving every controller permission to impersonate arbitrary users. That is a broad expansion of power over what they can currently do.
* This would mean a deployment created by a user w

[2017-12-19 13:35] #57378 closed

[2017-12-19 13:40] pjfanning opened #57402 "Support service.spec.sessionAffinity mode that allows affinity based on arbitrary headers"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind feature
/sig node

Problem:
The current `ClientIP` mode is based on the `X-Forwarded-For` header. It would be nice to support affinity based on other headers.

Proposed Solution:
In this proposed solution, the idea is to take the X-Tenant HTTP header, hash it and have the Service apply sessionAffinity based on this hash.
service.spec.sessionAffinity

[2017-12-19 13:41] liggitt commented on #57378
PSP permissions should be granted to the DS service account, not to the creating controller user

[2017-12-19 13:42] danwinship commented on #56842
@xujieasd do you have an environment where you can actually test it and see if it's as good as your earlier branch? We've done some testing and found improvements in some cases but I don't know for sure that we're really reproducing your environment...

[2017-12-19 13:50] porridge commented on #56714
I ran another test, and the throughput was similarly low. Then in the middle of the run I restarted kube-scheduler. The throughput did not increase. Then I tried to similarly restart kube-apiserver, but this was not a good decision. With ~100k pods running, ~50k pods still waiting to be scheduled, and ~70 pending, the load on API server is so high that it is not able to recover. Most requests are

[2017-12-19 14:05] porridge opened #57405 "kube-apiserver cannot recover under load"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-scalability-bugs
@kubernetes/sig-api-machinery-bugs
/priority important-longterm

**What happened**:

In https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-352756379 I killed `kube-apiserver` process in a 5000 node cluster under load (in the middle of replication controllers for a total of 150k pods ramping up

[2017-12-19 14:13] porridge commented on #56289
Another similar error:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/9121

[2017-12-19 14:16] porridge commented on #51099
/reopen
gRPC was bumped again, and so this fails again: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/31

[2017-12-19 14:16] porridge commented on #51099
/assign

[2017-12-19 14:16] porridge commented on #51099
/reopen

[2017-12-19 14:20] porridge commented on #51099
/assign @jpbetz

[2017-12-19 14:21] zmmwl commented on #57234
@dixudx thanks!

[2017-12-19 14:22] armstrongli commented on #57373
Yes from this perspective. To bring the feature to manage role binding and cluster role binding, the models would be like
* time windows
* cluster role bindings
* role bindings
* PSP(s)

It brings
* independent models
* one admission controller to verify pod creation
* one garbage collector to recycle role bindings, cluster role bindings[must have]
* evict manager to evict pods which have privileg

[2017-12-19 14:29] liggitt commented on #57373
Extra PSP permissions aren't the type of thing that can be easily cleaned up by a controller. A privileged pod with host path access can set up things that live outside the pod and are not cleaned up when the pod is removed.

Rather than trying to grant/revoke/scrub PSP permissions dynamically, I'd suggest partitioning permissions by namespace, and controlling which nodes those namespaces can sche

[2017-12-19 14:30] porridge commented on #57405
FWIW, I bumped `initialDelaySeconds` to an hour, but there is almost no sign of recovery after half an hour so far.

[2017-12-19 14:39] dixudx commented on #57244
@gyliu513 Reasonable. Most users may not get familiar with these selectors/predications.

After the change, the message may look like,

[code]

[2017-12-19 14:49] nikhita commented on #55536
Syncing is back in action and https://github.com/kubernetes/code-generator is now upto date.

[2017-12-19 14:52] deads2k commented on #57372
Can't you already achieve this effect by placing the node selector scheduling restrictions on the namespace containing your service account?  I like the idea of keeping my pod scheduling decisions separate from my PSP decisions, since it keeps the number of interactions and intersections smaller.

[2017-12-19 15:00] rootfs commented on #57345
It might be a platform issue - @mtanino tested it with 16K transit mount on Fedora 25 without hitting this issue.
[code]

[2017-12-19 15:03] manikantag commented on #20475
Any other solution to this problem? `sudo ip link set docker0 promisc on` is not working for me.

minikube: 0.24.1
Kubernetes: 1.8
Win 10 Pro x64
Virtualbox 5.1.30

[2017-12-19 15:12] #57373 closed

[2017-12-19 15:18] antoineco commented on #20475
@manikantag you also have to recreate your containers (eg. by killing running pods).

[2017-12-19 15:21] RenaudWasTaken commented on #51099
@porridge do you think it's worth trying to prevent people from updating gRPC ?
Maybe commenting the Godeps file or adding a check in the verify-godeps.sh ?

[2017-12-19 15:23] #55536 closed

[2017-12-19 15:35] manikantag commented on #20475
After running `sudo ip link set docker0 promisc on`, I'm still getting **0** for `cat /sys/devices/virtual/net/docker0/brif/veth*/hairpin_mode`

[2017-12-19 15:39] porridge commented on #51099
If it does not cause problem with the vendoring tools, then adding a
comment pointing at this issue might help avoid lost effort I guess.

[2017-12-19 16:03] hd-deman commented on #57273
same for me (

[2017-12-19 16:06] porridge commented on #51099
This is causing failures even for 100-node clusters. Example:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/9122

[2017-12-19 16:07] porridge commented on #51099
Umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

[2017-12-19 16:25] timoreimann commented on #25251
Just picked up this issue again.

@smarterclayton is it okay to continue working on the describer output? or is that move to the server side still ongoing?

[2017-12-19 16:25] zoobab commented on #1899
Damn this issue was created in 2014.

I need to wait for a Container to be in the state Running, will return to a shell loop watching the state.

[2017-12-19 16:33] liggitt commented on #57354
We should not do this. Changing the flag of a deprecated option defeats the point of the deprecation period. It is a breaking change (an upgraded cluster would not come back up) prior to the end of the deprecation period.

Agree on raising the visibility of the announcement, but not to changing the required flag value.

[2017-12-19 16:36] liggitt commented on #57370
--raw should start with `/`

[2017-12-19 16:40] porridge opened #57413 "cluster creation failed with: resource 'projects/k8s-jenkins-gci-scalability/global/networks/e2e-scalability' is not ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/9123 failed with:
[code]
and similar errors

[2017-12-19 16:46] porridge commented on #57405
Looks like I'm able to make it recover by blackholing all incoming kubelet traffic with iptables on the master, and trickling it back with a veeeeery tiny teaspoon (will take hours to complete).

[2017-12-19 16:46] cmluciano commented on #54011
@mindprince Doesn't the GKE device-plugin do this as well?

[The example](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/example/tensorflow-notebook.yaml) does not show mount points necessary.

[2017-12-19 16:48] kevincvlam opened #57414 "Kubernetes does not flush logs in real-time"
/kind bug
@kubernetes/sig-instrumentation-bugs

**What happened**:

Ran a container that does some work, logging was suppressed then got dumped suddenly when calling kubectl logs on the pod.

**What you expected to happen**:

Logging should be available as the the logs are produced. Note that when running this container locally with docker the logs are seen as expected.

**How to reproduce it (as

[2017-12-19 16:49] kevincvlam commented on #57414
@kubernetes/sig-instrumentation-bugs

[2017-12-19 16:51] bhack commented on #54011
Is it GPU? https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/example/tensorflow-notebook.yaml#L50

[2017-12-19 16:55] whereisaaron commented on #36450
It looks like stuck volumes are just a intrinsic, unavoidable risk when using EBS to mount/unmount on a running instance, but in addition to rotating device names, there is [further mitigation in place](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#aws) for k8s 1.9:

[2017-12-19 17:19] mindprince commented on #54011
Yes, the GKE GPU device plugin ([daemonset](https://github.com/kubernetes/kubernetes/blob/v1.9.0/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml), [code](https://github.com/GoogleCloudPlatform/container-engine-accelerators/tree/k8s-1.9/cmd/nvidia_gpu)) would mount the directories to the container without the user having to specify anything.

The only thing it requires is the presence of nv

[2017-12-19 17:23] liggitt commented on #57370
the message could be improved, but I think the check is reasonable (I'd actually change it to error if the raw path doesn't start with `/`)

[2017-12-19 17:34] DreadPirateShawn commented on #30926
*Update:* We're no longer seeing this in our current Kubernetes version.
[code]

[2017-12-19 17:35] ynux commented on #49031
Thanks for removing this. This makes one of the CIS benchmark controls for  Kubernetes superfluous (https://www.cisecurity.org/cis-benchmarks/)

[2017-12-19 17:36] DreadPirateShawn commented on #30926
Granted, there are two separate "No such container" tickets that we're tracking -- https://github.com/kubernetes/kubernetes/issues/28748 and https://github.com/kubernetes/kubernetes/issues/55421 -- but it looks like this particular manifestation no longer occurs.

[2017-12-19 17:37] yujuhong commented on #30926
@DreadPirateShawn thanks for the update. Closing the issue.

[2017-12-19 17:37] #30926 closed

[2017-12-19 17:45] yujuhong commented on #57414
Might be related to #54205. Did this happen in an Alpha cluster?

[2017-12-19 17:45] msau42 commented on #57345
It would be better to test on different platforms with the full Kubernetes stack, ie the cron job example.  It could be something in Kubernetes or docker that is causing the leak.

[2017-12-19 17:48] kevincvlam commented on #57414
We don't use the -f option, but yes this happened on an Alpha cluster

[2017-12-19 17:50] gnufied commented on #57345
I think this is indeed GKE/GCE problem.. ` /home/kubernetes/containerized_mounter/` directory appears to recursively bind mount `rootfs` including `/var/lib/kubelet`. All mounts inside `/var/lib/kubelet` also propagate into `/home/kubernetes/containarized_mounter/xxx` directory..(because containarized_mounter uses shared mount I guess).

I can confirm that, recursively bind mounting a directory wi

[2017-12-19 17:50] mikedanese commented on #21714
stale

[2017-12-19 17:50] #21714 closed

[2017-12-19 17:50] gnufied commented on #57345
@msau42 I tested full stack locally on Ubuntu and then full stack on EBS and I can't reproduce the problem.

[2017-12-19 17:54] yujuhong commented on #57414
I think this is fixed now in GKE by disabling the problematic alpha feature (cc @mindprince in case I'm wrong).
Could you create a new Alpha cluster to see if the problem exists?

[2017-12-19 17:56] ihmccreery commented on #8867
@negz: correct, this blocks `identity` but not `token` ... addons (and e.g. @evmin's workloads) often need to use the `token` endpoint (so, no, blocking `identity` does not prevent pods from using `identity`).  We blocked `identity` because it's a machine-specific identity, not one that any workload should ever need access to, and may also become the basis for asserting kubelet identity in the fut

[2017-12-19 18:09] rohitjogvmw commented on #57279
Hi @maehld,

How did you enabled vSphere Cloud Provider (VCP)?
Did you use kubeadm itself to deploy cluster with VCP enabled?

[2017-12-19 18:09] mvvsubbu opened #57416 "kubeadm init gets stuck while downloading control plane images"
kubeadm init command on centos 7 fails with following error

Unfortunately, an error has occurred:
        timed out waiting for the condition

This error is likely caused by:
        - The kubelet is not running
        - The kubelet is unhealthy due to a misconfiguration of the node in some way (required cgroups disabled)
        - There is no internet connection, so the kubelet cannot pull the

[2017-12-19 18:12] jpbetz commented on #57354
@liggitt Hm. I do agree that changing the flag violates backward compatibility. This is tough because etcd2 in k8s 1.8+ is effectively unmaintained. How about we just update the `--storage-backend` description to clearly state that etcd2 is deprecated for now and see how that goes? I'll update this issues description to match.

[2017-12-19 18:14] liggitt commented on #57354
updating the description and printing a warning when starting in that mode both seem reasonable

[2017-12-19 18:26] dims commented on #57354
thanks @jpbetz @liggitt it's even better than before :)

[2017-12-19 18:28] porridge commented on #56714
Summary of findings so far:
- this slowdown is definitely and certainly not due to a single one code change,
- it is also most likely not connected to code changes at all, but rather something in the context in which the scheduler runs, in particular restarting the master node causes subsequent test to show higher throughput than before restart,
- in general throughput falls as the number of pods

[2017-12-19 18:28] porridge commented on #56714
/unassign

[2017-12-19 18:42] resouer commented on #57284
@readless Could you please add `-v=10` to help me to track your HTTP requests when doing `kubectl exec`?

I guess it's not configuration issue.

[2017-12-19 18:42] resouer commented on #57284
Please pay attention to what URL is returned by kubelet for you to do `exec`

[2017-12-19 18:43] dims commented on #57405
cc @shyamjvs

[2017-12-19 18:47] AaronFriel commented on #41727
Did this change get reverted? I do not see `--docker-email` as optional on stable.

[2017-12-19 18:49] gtirloni opened #57418 "kubeadm init fails on CentOS 7.4 with Docker CE 17.09"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

`kubeadm init` fails on CentOS with Docker CE 17.09 because `kubelet` defaults to the `systemd` driver (in `10-kubeadm.conf`) while Docker CE uses `cgroupfs`. If the user wishes to use `cgroupfs`, it's not possible to continue with initialization.

**What you expected to happen**:

kubeadm would create a kubelet.service c

[2017-12-19 18:57] kevincvlam commented on #57414
Thank @yujuhong! I just tried this on a brand new alpha cluster on v1.8.4-gke.1. Unforunately, saw the same issue where logs weren't being made availble via kubectl logs.

[2017-12-19 19:01] kargakis commented on #26567
/lifecycle frozen

[2017-12-19 19:03] liggitt commented on #56121
this pattern seems common:
1. we get a watch failure on replication controllers, e.g. `W1219 16:44:47.799199   23324 reflector.go:341] k8s.io/kubernetes/vendor/k8s.io/client-go/informers/factory.go:86: watch of *v1.ReplicationController ended with: too old resource version: 4291 (4860)`
2. we are missing a `graph_builder.go:588] GraphBuilder process object` log message for the test.rc.1 replicatio

[2017-12-19 19:07] spunon commented on #49937
Any movement on this? This would be extremely helpful.

[2017-12-19 19:07] mindprince commented on #57414
This is different than https://github.com/kubernetes/kubernetes/issues/54205 then.

[2017-12-19 19:10] mindprince commented on #57414
What do you mean logging was suppressed? It would be helpful if there's a simple reproducible test case.

[2017-12-19 19:13] kevincvlam commented on #57414
As in, there is some logging output that I expect to see as the python script progresses (from print()) statements, but when run on kubernetes vs. docker I don't see the logging output, and at some point it is suddenly returned by kubectl logs.

Yes, this is running some internal code.. I can see about trying to find a simple way to reproduce it. Hopefully that above helps, and thanks for your hel

[2017-12-19 19:14] dminkovsky commented on #1806
I wrote a tool that lets you specify Google Cloud Container Builder build steps directly inside your Kubernetes manifests: https://github.com/dminkovsky/kube-cloud-build. It's been a great help to me!

[2017-12-19 19:17] mtaufen commented on #32513
This can be closed, the concerns were addressed long ago.

[2017-12-19 19:17] #32513 closed

[2017-12-19 19:18] #32139 closed

[2017-12-19 19:19] #30929 closed

[2017-12-19 19:20] gtirloni commented on #57418
Workaround:

 * Stopped `kubeadm init`
 * Edit /etc/systemd/system/kubelet.service.d/10-kubeadm.conf (switch to cgroupfs driver)
 * Run `kubeadm reset`
 * Run `kubeadm init` again

[2017-12-19 19:22] #57418 closed

[2017-12-19 19:27] #57370 closed

[2017-12-19 19:39] mcops commented on #54610
well..1.8.5 still not available for ACS-engine ...therefore no upgrade on my cluster.

[2017-12-19 19:51] maehld commented on #57279
@rohitjogvmw I've used kubeadm with a config file to set the provider, config file and the extra args for the API server and controller manager. So yes, I've deployed VCP directly with kubeadm.

[2017-12-19 19:54] kevincvlam commented on #57414
I'm not sure if this exactly reproduces my error. But here's something that was unexpected, and seems at least strongly releated.

I created a simple python container that would print('Hello') every 3 seconds. Created a simple pod that created the container and the logs didn't show up via kubectl.

Steps to reproduce:

1. Create container from Dockerfile and hello.py:

Dockerfile:
`FROM python:3.6

[2017-12-19 20:02] rohitjogvmw commented on #57279
Thanks.
Will you be able to share kubeadm config file. We will internally use it to re-produce the issue.

[2017-12-19 20:08] liggitt commented on #56121
interestingly, the virtual node addition of test.rc.1 is usually within 1 second of the watch dropping, which would be within the window where the watch was down. opened https://github.com/kubernetes/kubernetes/pull/57419 with debugging logs

[2017-12-19 20:12] cmluciano commented on #56133
cc @bboreham

[2017-12-19 20:12] maehld commented on #57279
Sure. I'll be back at work tomorrow and will post the config file.

[2017-12-19 20:13] saad-ali commented on #57345
The limit based on what @wonderfly dug up is 131072 transient units (https://github.com/systemd/systemd/blob/v232/src/core/unit.c#L229). So you won't hit the issue with 16k units.

That said, it does look like the `containerized_mounter` is causing the leaks:

[code]

Mounts created directly with the host mount utility do no appear to have the same issue.

[2017-12-19 20:20] msau42 commented on #56088
scheduler integration tests are located under test/integration/scheduler/

[2017-12-19 20:37] bboreham commented on #56133
Weave Net 2.0.5 did not implement the `networking.k8s.io/v1` NetworkPolicy; that was added in 2.1.

Latest version is 2.1.3

[2017-12-19 20:44] kevincvlam commented on #57414
Creating the above, I figured out and was able to fix our issue via setting 'tty': True on our pods. Thanks!

Will close issue.

[2017-12-19 20:45] #57414 closed

[2017-12-19 20:55] #52369 closed

[2017-12-19 21:05] smarterclayton commented on #25251
We’re going to discuss it again the first week in January.  Probably best to wait until then

[2017-12-19 21:05] saad-ali commented on #57345
@gnufied pointed out offline that this is a bit misleading:

[code]

So to be clear the problem is with the way the `containerized_mounter` is setup (specifically with mount propagation) not `containerized_mounter` triggering the mounting.

[2017-12-19 21:12] Deshke commented on #57354
if etcd2 support is dropped, a migration guide from 2 to 3 should be in place (and working)

[2017-12-19 21:18] liggitt commented on #57354
It is the responsibility of deployments/installers that set up etcd to manage etcd2->etcd3 migrations. GCE/GKE has done single member migrations and Openshift has done multi-member migrations. I agree we should gather documentation for both scenarios, but automation/testing/support of a particular migration belongs to the tooling that set up the etcd cluster.

[2017-12-19 21:23] joelsmith opened #57421 "Nested data volumes (e.g. /secrets & /secrets/more) cause unexpected behavior"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Data volumes backed by the API such as secret, configmap, downwardAPI and projected volumes, appear to do strange things when nested. Since each mounted volume is intended to correspond 1:1 with the API object data. Any change to the data causes the kubelet to load a new version of the data and to replace all of the old

[2017-12-19 21:37] mikedanese commented on #22650
/sig auth

[2017-12-19 21:53] nikhiljindal commented on #24309
I think this is obsolete now with our move to OpenAPI (swagger 2.0).
Assigning to @mbohlool to confirm

[2017-12-19 22:08] #56081 closed

[2017-12-19 22:11] Quentin-M commented on #56996
Seeing the same thing here, when deploying CoreDNS too soon after creating Calico Node (Kubernetes networking).

[2017-12-19 22:18] Quentin-M commented on #56996
@caseydavenport Actually, I am using v2.6.3.

[2017-12-19 22:22] fntlnz commented on #57356
Also @runcom might be interested

[2017-12-19 22:31] #30170 closed

[2017-12-19 22:52] evmin commented on #8867
Thank you for confirming - much appreciated!

[2017-12-19 23:11] resouer commented on #57356
For `KataContainers` do we support `ImageFsInfo` API now? @sameo, seems not? While the notion of  `image filesystem storage identifier` also is different a little bit in this case.

[2017-12-19 23:28] #22109 closed

[2017-12-19 23:31] saad-ali commented on #57345
To expand on this, the mount does not need to created `containerized_mounter` for the `inactive dead` systemd transient mount unit to be created. Any mounts created in the `/var/lib/kubelet/` dir will do this:
[code]

Any mounts created in `/var/lib/docker` will also do this:

[code]

Mounts created outside those directories do not appear to have this issue:
[code]

These directories are both set

[2017-12-19 23:38] ericchiang opened #57424 "PodNodeSelector and PodTolerationRestriction feature status is unclear"
/kind bug

@kubernetes/sig-scheduling-bugs

Newer admission controllers generally call out when they're alpha/beta. While `PodNodeSelector` and `PodTolerationRestriction` don't have an explicit status, they rely on alpha annotations.

https://kubernetes.io/docs/admin/admission-controllers/

[code]

Are these alpha features? I've seen them come up a lot lately, particularly in the context of multit

[2017-12-19 23:39] caseydavenport commented on #56996
@Quentin-M @huangjiasingle If you haven't already, please open an issue against the Calico repo and include any diagnostics there.

I don't think issues with Calico belong here. Thanks!

https://github.com/projectcalico/calico/issues

/close

[2017-12-19 23:39] #56996 closed

[2017-12-19 23:50] joelsmith commented on #57421
/sig storage

[2017-12-19 23:54] erikbgithub commented on #1899
@zoobab also you probably want to check for the numbers `x/y` are the same. It's possible that the State is running but not all containers in the pod are available already. For instance `0/1 Running` is totally possible. Best is probably to check `healthz` and `logs`.

[2017-12-20 00:02] resouer commented on #57424
@ericchiang The last two are introduced in #30302 and does not follow alpha feature practices (or probably too early when there're no such practices ).

The first one is even earlier #24980

We may need to remove them to `well_known_labels`, and also make them GA, and fix their names since they actually hits #51246 ...

[2017-12-20 00:16] jpbetz commented on #57354
+1 to what @liggitt said.

The responsibilities are:

- etcd - Documentation of how to perform etcd upgrades, what versions of etcd are supported/ actively maintained. This exists and is in good shape
- kubernetes distros (GKE, Openshift, AKS, EKS,...) - Documentation of how to do etcd upgrades via their tools/infrastructure
- Kubernetes: Document versions of etcd are supported by which versions o

[2017-12-20 00:19] gnawux commented on #57356
@resouer it is part of the metrics collection APIs, and I think the virtualized container runtimes are not well supported the existing metrics right now.

[2017-12-20 00:31] Calpicow commented on #50878
Thanks all. I think we have enough info/workaround for this that we could close it.

[2017-12-20 00:31] #50878 closed

[2017-12-20 00:32] Calpicow commented on #44059
Fix has been merged to cadvisor, so closing. Thanks all.

[2017-12-20 00:32] #44059 closed

[2017-12-20 00:53] dims commented on #51099
@shyamjvs @enisoc @jberkus @porridge we should probably move the milestone from 1.9 to 1.10

[2017-12-20 01:30] gnufied commented on #57345
BTW an easier mitigation might be `systemctl daemon-reload` which will remove those dead/inactive units.

[2017-12-20 01:32] k82cn commented on #57244
How about add description of those reasons, e.g. predicate (number of failed nodes) after `... the following predicates:`

[2017-12-20 01:37] shun-miyoshi-com commented on #56133
Thanks comment.
I upgraded weave-net from 2.0.5 to 2.1.3, but I still have this error.

[2017-12-20 01:42] pluttrell opened #57427 "Issues with private Docker Cloud repos and the 1.9.0 CLI"
/kind bug

We're having trouble retrieving images from a private registry on DockerCloud. For nearly a year the following has worked flawlessly. Last Friday I pulled down the 1.9.0 CLI (via brew) and since then have not been able to access any image in a private registry on DockerCloud. I've tried this on 10+ brand new clusters created with kops v1.8.0. The Kubernetes cluster version have been 1.8

[2017-12-20 01:57] gogeof opened #57428 "Another app is currently holding the xtables lock"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kubelet not sync data with apiserver, and the log shows "Another app is currently holding the  xtables lock;"

**What you expected to happen**:
kubelet working ok, and sync with apiserver well.

**How to reproduce it (as minimally and precisely as possible)**:
1. create cluster in one machine(single node)
2. set replicas a

[2017-12-20 01:58] gogeof commented on #57428
Log shows:
[code]

[2017-12-20 02:00] stmcginnis commented on #17815
We may want to close this now given the current state of Flocker.

[2017-12-20 02:00] liggitt commented on #56121
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/57412/pull-kubernetes-unit/71699/artifacts/junit_e9d37341e9f7ab19ac436e5365ba6ae7c20eea71_20171219-164009.stdout
<details>
[code]
</details>

[2017-12-20 02:01] liggitt commented on #56121
successful test
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/57322/pull-kubernetes-unit/71545/artifacts/junit_e9d37341e9f7ab19ac436e5365ba6ae7c20eea71_20171219-031024.stdout
<details>
[code]
</details>

[2017-12-20 02:05] niuzhenguo commented on #57370
@liggitt This is the filename url check, not the raw path. I think you mean this https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/create.go#L138-L139

[2017-12-20 02:10] wjiangjay commented on #57378
@liggitt
1. still wired to grant to the DS service account, since customers hard to know which user should be granted with his specific scenario
2. If we granted to the DS service account(or RS service account), does this mean all pods created by DS|RS is granted with the PSP, if so all the user create rs can use this PSP?

[2017-12-20 02:18] lichuqiang commented on #55284
/assign

[2017-12-20 02:20] liggitt commented on #57378
Yes. See https://kubernetes.io/docs/concepts/policy/pod-security-policy/#authorizing-policies

[2017-12-20 02:26] wjiangjay commented on #57378
@liggitt if so, maybe users just want to grant specific user the permission, but this will grant all the users which have permission to create DS|RS.
So any better suggestion to make it to grant to specific user?

[2017-12-20 02:42] gyliu513 commented on #57244
+1 to @dixudx 's proposal, thanks!

[2017-12-20 02:49] shiywang commented on #57342
@BenTheElder will take a look

[2017-12-20 02:51] m1093782566 opened #57430 "replace syscall with sys/unix pkg in ipvs/netlink call"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

**What you expected to happen**:

replace syscall with sys/unix pkg.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):

[2017-12-20 02:51] andyzhangx commented on #57388
`docker run -d acrvidya.azurecr.io/hello-world:redis-v1` on agent VM to make sure the container would work?

[2017-12-20 03:10] readless opened #57431 "Orphaned pod found, but volumes not yet removed. Reducing cpu to minimum"
/kind support
/sig kubelet
/sig pod

 i meet the error info
`Dec 20 10:55:44 psd013 kubelet[111115]: I1220 10:55:44.638915  111115 kubelet_pods.go:1698] Orphaned pod "0645b17f-da20-11e7-ba86-005056a23aab" found, but volumes not yet removed.  Reducing cpu to minimum`

sometimes when will this info occur?

After i restart the kubelet , the info become like `Orphaned pod "68da08da-e48c-11e7-9c6c-0050

[2017-12-20 03:47] fejta-bot opened #57433 "Failure cluster [fcc795...] failed 61 builds, 5 jobs, and 1 tests over 1 days"
### Failure cluster [fcc7952925844ab8e89a](https://go.k8s.io/triage#fcc7952925844ab8e89a)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    5 jobs failed,    61 builds failed.
Failure stats cover 1 day time range '19 Dec 2017 03:14 UTC' to '20 Dec 2017 03:14 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-instrumentation] C

[2017-12-20 05:24] nikhita commented on #57213
/cc @sttts @deads2k @enisoc

[2017-12-20 05:43] shun-miyoshi-com commented on #56133
I encountered a strange issue..

I successfully access to nginx pod when I use IP address of nginx service instead of domain name(nginx.user1.svc.cluster.local)
Is this kube-dns bug? or CNI bug?

* yaml file
[code]

* result
[code]

[2017-12-20 05:53] shiywang commented on #57342
Those plugin failing tests randomly failed in some string sanity check like [here](https://github.com/kubernetes/kubernetes/blob/3ef674188d3fcd4140bcd98e532b8a7f6875ccce/hack/make-rules/test-cmd-util.sh#L4432), [here](https://github.com/kubernetes/kubernetes/blob/3ef674188d3fcd4140bcd98e532b8a7f6875ccce/hack/make-rules/test-cmd-util.sh#L4491) and [there](https://github.com/kubernetes/kubernetes/bl

[2017-12-20 06:00] thatsk commented on #56850
No.

On Tue, Dec 19, 2017 at 5:01 PM, Anand Kumria <notifications@github.com>
wrote:

--

[image: --]

kunalsing thakur
[image: https://]about.me/kunalsingthakur
<https://about.me/kunalsingthakur?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2017-12-20 06:15] saad-ali commented on #57345
Ya, that's the mitigation we are using at the moment.

[2017-12-20 06:25] porridge commented on #51099
@dims I agree, but lack privileges

[2017-12-20 06:49] xujieasd commented on #56842
I'd like to help to test this, but our earlier environment is now used for doing some production work. These machines temporarily have no bandwidth to doing other things... hope you can understand
@danwinship

[2017-12-20 06:52] dixudx commented on #57244
@gyliu513 Seems we'd better not change the predicateNames in order to make it stable and backward compatible. Refer to below comments in codes,

	// defaults.go (which tend to be stable for backward compatibility)

echo to @k82cn
How about changing to

[2017-12-20 06:53] mengqiy commented on #57342
@BenTheElder What's the failing rate?

[2017-12-20 07:18] fejta commented on #57342
This flakes 122 PRs a week: http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

[2017-12-20 07:21] wojtek-t commented on #51099
done

[2017-12-20 07:54] gyliu513 opened #57437 "Conformance test will be failed if version include two "+""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If I define the kubernetes version as following
[code]

The conformance test will be failed as following:
[code]

This is because we have following regexp to check the extra version info `+icp+ee`, and it failed as `extraMatchRE.FindStringSubmatch("+icp+ee")`

[code]

/cc @bradtopol any comments for this? Thanks!
**What

[2017-12-20 07:56] gyliu513 commented on #57437
/sig testing
/area conformance

[2017-12-20 07:57] m1093782566 opened #57439 "Should add some tests for ipvs/proxier/ipset"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Should add some tests for ipvs/proxier/ipset - it means we should implement FakeIPSet so that tests can run everywhere.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud pro

[2017-12-20 07:59] garyyang85 opened #57440 "--etcd-servers-overrides in apiserver do not work"
/kind support
/sig docs
/sig node

I am trying to redirect events to another etcd with --etcd-servers-overrides in apiserver.
I tried below two ways:
--etcd-servers-overrides=/registry/events#http://xyz:2379
--etcd-servers-overrides=/events#http://xyz:2379
**both of them do not work, the apiserver can be restarted up but write nothing to the new etcd.**

Another question is that if we support an *

[2017-12-20 08:04] gyliu513 commented on #57437
Seems the semver can only have one "+"? https://semver.org/

[2017-12-20 08:21] Deshke commented on #57354
@liggitt was more of a wave to kops

[2017-12-20 08:21] gyliu513 commented on #57437
We should follow the semver for the kubernetes release versions.

[2017-12-20 08:21] #57437 closed

[2017-12-20 08:31] frittentheke commented on #57325
@liggitt good point yes.  Maybe this needs some more thought from other folks as well on how to approach this issue.

But unfortunately now the secret has to exist multiple times and in various namespaces in contrast to only be i.e. in the namespace of the ingress controller (or which it can access). And it, the ingress controller, should actually be the one "guarding" the certificate which the in

[2017-12-20 08:41] xingzhou commented on #57393
yeap, the ```UpdatePodSpecForObject``` method does not handle cronjob situation. In addition, ```CronJob``` does not contain a direct Pod template spec, instead, it contains ```JobTemplate``` which contains the pod spec. I will try to give a fix on this then.

[2017-12-20 08:53] shiywang commented on #15180
cc @vfreex

[2017-12-20 09:04] KeithTt commented on #52336
same problem...

[code]

kube version: 1.8.5
docker version: 17.06.2-ce

[2017-12-20 09:08] bboreham commented on #56133
For your Weave Net issue I would recommend opening an issue at https://github.com/weaveworks/weave/issues/new, including the log files and information requested there.

For your service question, you said "I successfully access to nginx pod" but you didn't say what happened in the unsuccessful case.

This page has great information to work through:
https://kubernetes.io/docs/tasks/debug-applicatio

[2017-12-20 09:08] KeithTt opened #57442 "The node was low on resource: nodefs"
kube version: 1.8.5
docker version: 17.06.2-ce

[code]
 It seems a BUG about monitoring?

![image](https://user-images.githubusercontent.com/15189954/34199622-52aaef7c-e5a9-11e7-8c50-23fb09144550.png)

[2017-12-20 09:08] KeithTt commented on #57442
/kind bug

[2017-12-20 09:13] dixudx commented on #57428
@gogeof The root cause is that another process is altering iptables rules at the time k8s attempts to add iptables rules, then it will fail with such a locking error.

Since retry logic has already been added, it's okay for this error.

This is related to below node PLEG error.

Seems your nodes are not quite stable, losing connections with apiserver.

[2017-12-20 09:22] CaoShuFeng opened #57443 "make spec.HostPorts in initContainer clear"
I found that kubelet will not allocate hostports specified from initContainers.
And PodFitsHostPorts in kube-scheduler does not take initContainer into consideration.

Also, kube-apiserver think such pod is illegal, but I think it OK.
[code]

We should make the behavior of spec.HostPorts in initContainer clear

[2017-12-20 09:32] andyzhangx opened #57444 "unable to use azure disk in StatefulSet since /dev/sd* changed after detach/attach disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In a customer [case](https://github.com/Azure/acs-engine/issues/1918), customer is unable to use azure disk in StatefulSet since /dev/sd* changed after detach/attach disk.
Currently we are using `/dev/sd*` to reference the data disk which could be changed in some condition, see code: https://github.com/kubernetes/kubernete

[2017-12-20 09:36] garyyang85 opened #57447 "etcd status healthy to unhealthy from time to time when with 1000 kubernetes node"
I am using kubernetes 1.5.7 and etcd 3.0.17. Just setup a large cluster with 1000 kubernetes node and etcd cluster with 3 members. It works well for one day. Since today, I found the etcd status is changed healthy or unhealthy from time to time. I found all the etcd logs are like below:
2017-12-20 09:32:26.905008 W |etcdserver: apply entries took too long [23.411359ms for 2 entries]
2017-12-20 09:

[2017-12-20 09:46] garyyang85 commented on #57447
I am also trying to move events to another etcd according to the large cluster advice, but seems the --etcd-servers-overrides=/registry/events#http://ip:port do not work, there is also a issue here:
https://github.com/kubernetes/kubernetes/issues/57440
hope can get your response! Thanks very much.

[2017-12-20 09:53] shiywang commented on #57342
I think @fejta is talking about the whole unit tests, `run_plugins_tests` flakes 36 PRs a week. btw, @mengqiy do you have any ideas on this ? it seems only failed in kubernetes CI/CD, I mean is there any possiblities some external environment problem cause this flake ?

[2017-12-20 09:57] pluttrell commented on #57427
@kubernetes/sig-cli-bugs
@kubernetes/sig-cli-maintainers

[2017-12-20 10:16] azzeddinefaik commented on #33766
Same issue in here any fix ? Actually I have a service with Loadbalancer as type wish to change it to ClusterIP, I got that error :
[code]

[2017-12-20 10:33] lklkxcxc opened #57452 "Create resource deployment report timeout but create other resource success"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
root@node-1:~/prometheus# kubectl create -f prometheus-01.yaml
clusterrolebinding "prometheus-operator" created
clusterrole "prometheus-operator" created
serviceaccount "prometheus-operator" created
Error from server (Timeout): error when creating "prometheus-01.yaml": Timeout: request did not complete within allowed duration

root@

[2017-12-20 10:49] pkaramol opened #57453 "Error deploying dashboard (404)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Error when running the dashboard (ui) creation command.
dashboard not accessible (getting 404 instead)

**What you expected to happen**:
Get access to the dashboard.

**How to reproduce it (as minimally and precisely as possible)**:
- Set up a cluster with 1 master + 2 slaves using kops, via the following commands:

[code

[2017-12-20 11:29] Riptawr commented on #57280
Same issue on Ubuntu 16.04.1 LTS

[2017-12-20 11:39] geojaz commented on #57357
I've hit this one a couple times as well testing locally on osx in docker...

[2017-12-20 12:04] pkaramol commented on #57453
It was a client-server (1.7/1.8) error mismatch;

closing this one but perhaps a relevant instruction about this alignment should be emphasized in the documentation.

[2017-12-20 12:04] #57453 closed

[2017-12-20 12:20] nikhita commented on #57024
/kind bug

[2017-12-20 12:23] nikhita commented on #55488
/kind bug

[2017-12-20 12:24] mlmhl commented on #57185
Hi @gnufied , I've submit a proposal for this feature: [kubernetes/community#1535](https://github.com/kubernetes/community/pull/1535), look forward to your review.

[2017-12-20 12:28] PengTaoWW commented on #46172
@thockin
8.4. iptables-restore
The iptables-restore command is used to restore the iptables rule-set that was saved with the iptables-save command. It takes all the input from standard input and can't load from files as of writing this, unfortunately. This is the command syntax for iptables-restore:

iptables-restore [-c] [-n]

The -c argument restores the byte and packet counters and must be used

[2017-12-20 12:33] nikhita commented on #55216
/kind bug

[2017-12-20 13:46] sameo commented on #57356
@resouer we do not support it for now.

[2017-12-20 13:53] lokendras395 commented on #55226
Facing the same issue with one worker node,
worker node os specs
"""
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
"""

kubelet logs
"""
Dec 19 14:02:49 jp-blr-r1-node3 systemd[1]: kubelet.service holdoff time over, scheduling restart.
Dec 19 14:02:49 jp-blr-r1-node3 systemd[1]: Started Kubernetes Kubelet.
Dec 19 14:02:4

[2017-12-20 13:59] maehld commented on #57279
Hi. Here is the kubeadm config file.

I've tried it again just a few seconds ago and the error remains. If needed I can provide everything from this test server except our vsphere credentials :-)

[2017-12-20 13:59] maehld commented on #57279
[kubeadm-config.txt](https://github.com/kubernetes/kubernetes/files/1575739/kubeadm-config.txt)

[2017-12-20 13:59] ApsOps commented on #40270
@thockin Should this go in "feature requests" somewhere?

[2017-12-20 14:04] dims commented on #57442
/sig ui

[2017-12-20 14:04] dims commented on #57443
/sig node

[2017-12-20 14:05] dims commented on #57447
/sig api-machinery

[2017-12-20 14:05] dims commented on #57452
/sig api-machinery

[2017-12-20 14:34] cben opened #57459 "`kubectl get -o json` swallows collection metadata & resourceVersion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubectl get -o json nodes`
(not only nodes, also resourcequotas, probably any collection?)
outputs correct metadata for each entity, but empty metadata & resourceVersion, selfLink for the **collection**:
[code]

Same with `kubectl get -o yaml nodes`:
[code]

This is a client-side problem, because `kubectl get --loglevel=

[2017-12-20 14:43] dims commented on #57440
/sig api-machinery
/remove-sig api-machinery

[2017-12-20 14:45] dims commented on #57459
/sig cli

[2017-12-20 14:46] dims commented on #57431
/sig node

[2017-12-20 14:46] dims commented on #57416
Can you please open the issue at https://github.com/kubernetes/kubeadm/issues ?

[2017-12-20 14:47] dims commented on #57416
/close

[2017-12-20 14:57] drazul commented on #57427
I have same problem, and I "solved" it creating a docker-registry secret in an old kubernetes version and pasting it on new kubernetes

[2017-12-20 14:58] ITler commented on #57427
I'm recently (I know it worked perfectly about last month) facing issues with `kubectl create secret docker-registry ...` as well. For me it ended in a similar manner saying: `Failed to pull image "{my-org}/{my-repo-name}:{my-tag}": rpc error: code = Unknown desc = unauthorized: authentication required`

I was able to confirm, that this is a kubernetes related issue and not end user. Based on [thi

[2017-12-20 15:48] #53812 closed

[2017-12-20 15:49] QiuMike commented on #50345
Any update for this issue?
When I create a volume using hostPath with a file, it also has this problem.
That is: modified the host file, Pod's doesn't changed.

apiVersion: v1
kind: ReplicationController
metadata:
   name: cloud52
   namespace: kube-system
spec:
  replicas: 1
  selector:
     name: cloud52
  template:
    metadata:
     labels:
       name: cloud52
    spec:
      volumes:
      -

[2017-12-20 16:21] mattfarina commented on #57191
cc: @caesarxuchao @lavalamp

[2017-12-20 16:35] dims commented on #57427
looks like there's an extra "auths" element when adding the secret using 1.9 kubectl

[code]

[2017-12-20 16:43] liggitt commented on #57427
Added in https://github.com/kubernetes/kubernetes/pull/53916

/assign @juanvallejo

[2017-12-20 16:49] BenTheElder commented on #57342
CI/CD only runs this in a kubernetes pod and should not be causing this flake, tons of other tests run in the same environment even just in `pull-kubernetes-unit`. We're not doing anything to the stdout of this script, the code for how output is handled is all in kubernetes/kubernetes... (shell2junit).

36 PRs in a week both passing and failing this test strongly suggests that it is holding up *at

[2017-12-20 17:09] dims commented on #57273
Duplicate of #57427 let's please use that as it has more details.

/close

[2017-12-20 17:09] #57273 closed

[2017-12-20 17:10] dims commented on #57427
/priority critical-urgent

[2017-12-20 17:29] jbeda commented on #15180
Proxy also does deep content inspection to rewrite URLs. This is appropriate for thinks like the UI but will lead to surprises for others use cases: https://github.com/kubernetes/apimachinery/blob/18a564baac720819100827c16fdebcadb05b2d0d/pkg/util/proxy/transport.go#L71

FWIW, I have a side project that is *super* early to implement this client side.  If it proves out I'll release it and we can loo

[2017-12-20 17:43] akumria commented on #56850
No it doesn't fix things, or no you don't want to check.

[2017-12-20 17:46] sbezverk commented on #56088
@msau42 how do you run integration tests? If you have a link to some examples that would be great. thanks in advance.

[2017-12-20 17:54] DreadPirateShawn opened #57465 ""Error deleting network: failed to Statfs" during pod shutdown"
/kind bug

**What happened**:

During pod teardown, we sometimes see the following error-level kubelet logs:

[code]

**What you expected to happen**:

Clean pod shutdown, no error-level logs.

**How to reproduce it (as minimally and precisely as possible)**:

We've got two kube crons that run every minute, across 12 regions in production -- so 34560 related pods daily -- and we see this about 3-1

[2017-12-20 17:55] malcolmm83 commented on #54601
I guess the only alternative really is run as non-root?

[2017-12-20 18:08] dashpole commented on #52336
@KeithTt can you open a new issue?  This particular issue was fixed in 1.8.5, but you may have run into something different.

[2017-12-20 18:15] msau42 commented on #56088
https://github.com/kubernetes/community/blob/master/contributors/devel/testing.md#integration-tests

[2017-12-20 18:15] justaugustus commented on #35773
/lifecycle frozen

[2017-12-20 18:30] verult opened #57466 "Move Flexvolume tests out of alpha suite"
/kind bug

Need to move Flexvolume tests out of alpha suites in TestGrid since it's been marked as GA.

/sig storage
/assign

[2017-12-20 18:39] msau42 opened #57468 "Bring up gce e2e test cluster with new local SSDs formatting"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage
/assign

**What happened**:
In order to support the [local volume naming requirements](https://github.com/kubernetes/kubernetes/issues/51431), we need to add a new option to gce deployment that will format local SSDs with unique uid names.  In addition, this new option will help us test raw block volumes in the future.

[2017-12-20 19:32] bsalamat opened #57471 "Move Priority and Preemption to Beta"
This is to track the progress of work on moving pod priority and preemption to Beta.

/kind feature

- [x] Write a design doc on how to support preemption in DaemonSet controller.
- [x] Remove DaemonSet controller scheduling logic and let DaemonSet Pods be schedule by default scheduler.
- [ ] Add support for multi-scheduler preemption to default scheduler (this is targeted for 1.11).
- [x] Ensure

[2017-12-20 19:35] misterikkit commented on #54189
/cc @misterikkit

[2017-12-20 19:36] misterikkit commented on #54189
We found some other simple optimizations that had a significant impact on the affinity predicate. I will upload PRs for those as well.

[2017-12-20 20:00] Reifier commented on #22721
Yep, same issue here. No go with static global address. Why?

[2017-12-20 20:17] justaugustus commented on #35773
/remove-lifecycle stale

[2017-12-20 20:32] #57468 closed

[2017-12-20 20:34] sbezverk commented on #56088
@msau42 great, exactly what I needed.  Do you have by any chance a link to e2e test you are referring here?

[2017-12-20 20:44] 1ambda commented on #28586
Any update? I am using 1.8.5 but still got a LB enables only 1 AZ.

[2017-12-20 21:18] #57427 closed

[2017-12-20 21:19] msau42 commented on #56088
The two negative test cases that test pod NodeAffinity and NodeSelector
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/persistent_volumes-local.go#L282

[2017-12-20 21:29] yliaog commented on #57182
yes, it would require profiling enabled during the test

[2017-12-20 21:46] msau42 commented on #57345
@rootfs @mtanino would you guys be able to try the mount experiment again in a directory that is set up with shared mount propagation?  Trying to narrow down if this is a general issue with shared mount propagation + systemd.

[2017-12-20 22:03] stmcginnis commented on #21305
/remove-lifecycle stale

[2017-12-20 22:08] wongma7 commented on #55780
fix will be done today. I will merge https://github.com/kubernetes-incubator/external-storage/pull/521, update nfs-provisioner image, then update the test to point to the new image

[2017-12-20 22:14] Random-Liu commented on #57356
@resouer @gnawux @resouer For linux containers, kubelet need to know:
* Which disk partitions are container images on.
* What is the disk/inodes usage and capacity of those disk partitions.
* How much disk/inodes are used by actual container images.

Kubelet needs the information to do container eviction and image garbage collection. Does this make sense to VM-based containers? How are images stor

[2017-12-20 22:15] leblancd commented on #57069
@valentin2105
Would it make sense to split this proposal into 2 issue requests? It seems to me that there are 2 parts to this, the first being independent of IPv4 vs IPv6 operation, and the second being something to consider when dual-stack support is added. If I'm understanding correctly, here are the 2 parts to the proposal:
1. Allow "--service-cluster-ip-range=None" on the command line to force

[2017-12-20 22:29] valentin2105 commented on #57069
Hi @leblancd

You're totally true, it's two different Issues,

This one can be focused on "**Disable ClusterIP on Cluster-wide**" because (in v4 or v6) people may want to totally disable the use of IPTables for network traffic, to avoid NAT and got headless mode on all services.

I will open another issue to talk about the **need of support both IP protocol on API and Kube-DNS** side and I think l

[2017-12-20 22:30] jennybuckley commented on #57030
/kind bug

[2017-12-20 22:53] jpbetz commented on #51099
This is fixed by https://github.com/coreos/etcd/pull/9047, which has just been made available in etcd v3.2.12. We've created https://github.com/kubernetes/kubernetes/pull/57480 to upgrade kubernetes to this etcd version. We'll need to scalability test this PR before merging it.

[2017-12-20 22:55] bowei commented on #33554
I am going to close this as we now have `dnsConfig`

[2017-12-20 22:55] bowei commented on #33554
/close

[2017-12-20 22:55] #33554 closed

[2017-12-20 22:57] bowei commented on #57332
Can you use `dig +verbose`?

[2017-12-20 23:28] Random-Liu commented on #42387
This issue is 10 months old with no update. Close.

[2017-12-20 23:31] Random-Liu commented on #42387
Verified that this has been fixed:
[code]

[2017-12-20 23:31] Random-Liu commented on #42387
Close

[2017-12-20 23:31] #42387 closed

[2017-12-20 23:32] brendandburns opened #57483 "An unexpected error can cause nodes in Azure to go NotReady"
There is a bug where if an error returned when looking up a node is not an instance of `autorest.DetailedError` that the azure client will mistakenly return `not-found, nil` instead of the error.

This can cause a variety of problems, including nodes going into the `NotReady` state.

[2017-12-20 23:38] mbohlool opened #57485 "OpenAPI codegen should fail if it cannot find a package"
I encounter an incident where GOROOT were not set and OpenAPI generator could not find some standard packages. In that case, the generator failed to report an error and instead excluded the detail for that type. We should add a feature to OpenAPI codegen (or any other codegen I guess) to fail if a package cannot be find.

cc @perotinus would you please add the details of your debugging here for re

[2017-12-20 23:41] leblancd commented on #57069
@valentin2105 The k8s-API for 1.9.0 supports pod addresses that are either IPv4 OR IPv6, not both. The API is only aware of a single IP per pod at the moment (uses a singleton, not an array of addresses). Some CNI network plugins are ahead of Kubernetes in terms of dual-stack support (such as Calico and bridge)... but if you configure your CNI in dual-stack mode, Kubernetes will only report one of

[2017-12-20 23:59] Random-Liu opened #57486 "Aggregator test should cleanup api service before namespace cleanup."
https://github.com/kubernetes/kubernetes/pull/57254 helps but is not enough for the fix. After https://github.com/kubernetes/kubernetes/pull/57254, I saw another failure:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/1057.

Before, all test after Aggregator test would fail. Now all tests before/after Aggregator tests are passing. However, durin

[2017-12-21 00:03] kevindrosendahl commented on #55158
Hi @xiangpengzhao,

I believe there's a bug in #47250 that is not allowing the endpoints for a headless service with no ports to be created.

At https://github.com/kubernetes/kubernetes/blob/v1.9.0/pkg/controller/endpoint/endpoints_controller.go#L457 and https://github.com/kubernetes/kubernetes/blob/v1.9.0/pkg/controller/endpoint/endpoints_controller.go#L577, the endpoints controller is adding a p

[2017-12-21 00:03] brendandburns commented on #57483
/sig azure

[2017-12-21 00:05] mbohlool commented on #24309
agreed

[2017-12-21 00:05] #24309 closed

[2017-12-21 00:10] bsalamat commented on #57244
I think we should add a more human-readable failure message for each predicate and print that message instead of the predicate name in the scheduler unschedulable message. For example, the message for "MatchNodeSelector" predicate can be something like "Nodes didn't match node selector".

[2017-12-21 00:10] mtaufen opened #57487 "Refactor the kubelet config bootstrap flow"
It's twisty and hard to read right now. Must refactor for great good!

[2017-12-21 00:58] davidz627 opened #57491 "Kubelet "failed mount" log showing incorrect list of unattached volumes."
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/volume_manager.go#L369
/kind bug

**What happened**:
Disks that were attached showed up in the list

**What you expected to happen**:
Disks that are attached should not be in the "unattached disks" list

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a pod using a gce-pd
Deploy second pod using

[2017-12-21 00:58] davidz627 commented on #57491
/sig storage

[2017-12-21 01:11] yujuhong commented on #53221
Marking 1.10 tentatively, pending on more discussion in a follow-up sig-node meeting. Volunteers to work on this are welcome :-)

[2017-12-21 01:16] #41007 closed

[2017-12-21 01:24] stewart-yu opened #57495 "We should rename unstandardized function name"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Others

**What happened**:
[https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file.go#L56](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file.go#L56)
the function name new() is not standardized, so we should rename it.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as

[2017-12-21 01:29] #29193 closed

[2017-12-21 01:32] perotinus commented on #57485
Sure!

I was running into an issue when running a script to verify that the generated OpenAPI definitions hadn't changed, but only in our Prow verify job ([example failure from Prow](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/cluster-registry/158/pull-cluster-registry-verify-gensrc/9/)).

Some of the types were not getting details filled in when the job was running on

[2017-12-21 01:34] dixudx commented on #57334
The root cause of this issue is the version mismatch.

The required kubernetes-cni version for kubelet<1.9 is `0.5.0`, which is not a right version. It should be `0.5.0-00`.

Should be `0.6.0-00` for kubelet>=1.9 also.

[2017-12-21 01:42] #56895 closed

[2017-12-21 01:42] #57486 closed

[2017-12-21 01:42] #55780 closed

[2017-12-21 01:54] stewart-yu commented on #57495
/area kubelet

[2017-12-21 01:56] stewart-yu commented on #57495
/sig  node

[2017-12-21 02:09] #46331 closed

[2017-12-21 02:41] thatsk commented on #56850
No,it doesn't fix things

On 20-Dec-2017 11:14 PM, "Anand Kumria" <notifications@github.com> wrote:

[2017-12-21 02:50] yastij commented on #57471
/cc

[2017-12-21 03:11] dims commented on #57440
Duh!

/remove-sig node

[2017-12-21 03:26] shitWang commented on #55471
I also met this issue,you should check your dns-* docker images version。I change that v1.14.4 to 1.14.5
It's running

[2017-12-21 03:27] vlerenc opened #57496 "Infrastructure volume not deleted if I delete the PV on AWS, Azure, GCP, OpenStack"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: When I delete a PV, the backing infrastructure volume is not deleted (and the PVC turns to `lost`). Only if I delete the PVC that led to the PV and the backing infrastructure volume in the first place, all three entities, i.e. the PVC and PV in Kubernetes and the backing infrastructure volume are deleted.

**What you expe

[2017-12-21 03:36] vlerenc commented on #57496
/sig storage

[2017-12-21 03:40] witrin commented on #20227
@vfreex How could I test this when I'm using GKE?

[2017-12-21 04:13] ravigadde commented on #40991
/close

[2017-12-21 04:13] #40991 closed

[2017-12-21 04:16] jamesgetx commented on #55713
We encountered the same problem.  Our k8s version is 1.8.4, docker version is 1.12.4

[2017-12-21 04:55] raffian commented on #48520
Can't find `/var/log/kubelet.log` on Openshift 3.6, RHEL 7.3, does it go by a another name or is located in a  different location?

[2017-12-21 05:05] xiangfeiz opened #57497 "Cinder persistent volume can not be attached to the new node after shut down the current node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I created a ReplicationController with a pod using a Cinder PVC as volume. When I used 'nova stop' to shut down the node where the pod is put (and where the Cinder Volume is attached to), the pod got rescheduled to another node but it can't become active because the Cinder Volume stays attached to the old node and k8s can

[2017-12-21 05:08] xiangfeiz commented on #57497
/sig storage
/sig openstack
cc @kubernetes/sig-storage-bugs

[2017-12-21 05:48] nikhita commented on #38117
Design details for webhook validation: https://github.com/kubernetes/community/pull/1418.

[2017-12-21 05:57] liggitt commented on #56121
Finally tracked it down. I can consistently recreate this by artificially triggering the "too old resource version" error on first replication controller watch establishment. That results in the following flow:

|      |                                  |                                     |                           |                                                      |
|------|---------------

[2017-12-21 05:58] #57361 closed

[2017-12-21 06:13] KeithTt commented on #57442
@dims This issue is from ui?

[2017-12-21 06:16] #57439 closed

[2017-12-21 06:16] #57430 closed

[2017-12-21 06:27] hzxuzhonghu commented on #56121
@liggitt If we explicitly sleep more than 1 second, this probablity can be reduced.

[2017-12-21 06:29] nikhita commented on #29002
This consistently works well for CRDs.

@duglin's modified script to use CRDs:

[code]

[2017-12-21 06:30] liggitt commented on #56121
where are you thinking we would add the sleep? I am more interested in tracking the virtual nodes that have not been observed via informer more rigorously to avoid them getting orphaned in the graph, rather than trying to time our way out of this bug.

[2017-12-21 06:32] niuzhenguo opened #57498 "`kubectl get` treats specified resource shortcuts, plurals as different resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubectl get all,svc,service`
outputs show the same entries for services,svc,service.

[code]

**What you expected to happen**:
Treat resource shortcuts, plurals the same thing on kubectl side instead of doing multiple requests to servers, and outputs shold not duplicate entires.

**How to reproduce it (as minimally and p

[2017-12-21 06:33] niuzhenguo commented on #57498
/sig cli

[2017-12-21 06:37] porridge commented on #57182
Another occurence:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/9171

[2017-12-21 06:39] porridge commented on #57182
I'm not sure this will be easy to reproduce, given it's not so frequent, but I will take a stab at it.

[2017-12-21 06:40] hansedong commented on #48798
I also encountered the same problem. But it's not a fatal error on installing k8s.
The probelem may be that you kubelet use systemd cgroups which differs with docker's cgroups, adjust both kubelet and docker, the run kubeadm again, it may runs well
hope to help you.

[2017-12-21 06:44] pluttrell commented on #57427
@dims Many thanks for the quick fix on this.

Any idea when this might get rolled out?

Also, it might be a good idea if this was added to the known issue list for v1.9.0. It would have saved us a bunch of time trying to track down the root cause. Just trying to make sure no one else needs to do the same.

[2017-12-21 06:56] bedrin commented on #23378
/remove-lifecycle stale

[2017-12-21 07:03] nikhita commented on #31343
/kind feature

[2017-12-21 07:06] #57483 closed

[2017-12-21 07:16] sybnex commented on #45419
+1
1.8.5
docker 1.12.6
RHEL 7.4

[2017-12-21 07:17] GalochkinKirov commented on #54601
No, it is not alternative.

[2017-12-21 07:49] 1ambda commented on #28586
for AWS users.

1. My k8s uses existing subnet instead of [kops](https://github.com/kubernetes/kops) generated one.
2. Thus public subnets didn't have annotations

- https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/cloudprovider/providers/aws/tags.go#L34-#L51

3. I added the annotations and then created internal load balancer type k8s service again. Now it works.

Please refer this co

[2017-12-21 07:59] liggitt commented on #56121
Opened https://github.com/kubernetes/kubernetes/pull/57503 with fix

[2017-12-21 08:07] liggitt commented on #57459
cc @smarterclayton
for aggregation of get output into virtual List object

[2017-12-21 08:15] liggitt commented on #57440
`--etcd-servers-overrides=/events#http://xyz:2379` should work

@gmarek did this change with the event API group addition? there was a question about this as part of that review:

* https://github.com/kubernetes/kubernetes/pull/49112#discussion_r148718411
* https://github.com/kubernetes/kubernetes/pull/49112#issuecomment-342259970

it is supported, but only a single set of credentials is supported

[2017-12-21 08:20] nikhita commented on #37455
/kind bug

[2017-12-21 08:32] gnawux commented on #57356
@Random-Liu It depends on the different cases. Image/rootfs is managed on the host for vm-based containers as well, which makes it reasonable to get these informations from CRI runtime. While in some special cases, such as using a block device (or a remote device/fs) as the rootfs of a container, the rootfs may not be a filesystem mounted on the host.

[2017-12-21 08:33] tommyknows opened #57505 "Federation does not resolve Hostname, need to use IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When adding a cluster to the federation (with `kubefed join`) the "server" field (in kubeconfig) needs to be an IP-Adress. If I use "server: https://hostname:6443", the cluster will be offline when executing `kubectl get clusters` due to `Cluster is not reachable`

**What you expected to happen**:
I expect the federation

[2017-12-21 08:35] ivanilves commented on #57321
FYI:
I've rebuilt hyperkube image for CoreOS https://hub.docker.com/r/ivanilves/hyperkube/ with `ipset` installed.

Just for testing purposes. Everything works for me with it. Waiting for the next release. :relaxed:

[2017-12-21 08:39] nikhita commented on #42521
xref https://github.com/kubernetes/apiextensions-apiserver/issues/11.

[2017-12-21 08:52] tommyknows commented on #57505
@kubernetes/sig-multicluster-bugs

[2017-12-21 09:14] akumria commented on #56850
Bizarre. I have the same versions and it did.

What are you doing differently, I wonder.

On Dec 21, 2017 03:41, "Thatsk" <notifications@github.com> wrote:

[2017-12-21 09:22] #35269 closed

[2017-12-21 10:15] porridge commented on #55779
The list of tests overlapping with the event is as follows. I'm going to take a stab at running them continuously in hope of reproducing the overload:
[code]

[2017-12-21 10:24] junaid-ali opened #57509 "Unable to create an object when label value is not a string"
**Is this a BUG REPORT or FEATURE REQUEST?**: I assume it is a bug

**What happened**:
Creating an object e.g pod/deployment fails when the corresponding object label is not a string

**What you expected to happen**:
If k8s objects only support string as label values then the value of a label should be automatically type casted to string in case of integer or float

**How to reproduce it (as minim

[2017-12-21 10:38] akumria commented on #45126
Unfortunately #52176 does *not* fix this issue (using v1.8.3; the fix was merged for v1.8.0).

[2017-12-21 10:40] mjj29 commented on #56304
Hi, further help would be useful. I've just installed another server in exactly the same way. This time I get this error:

Failed to list *v1.Service: Get https://10.96.0.1:443/api/v1/services?resourceVersion=0: x509: certificate is valid for 127.0.0.1, 10.0.0.1, not 10.96.0.1

Now, on the working server my kubernetes service looks like: kubernetes   ClusterIP   10.0.0.1     <none>        443/TCP

[2017-12-21 10:49] amardomingo commented on #56706
We are seeing something similar on AWS
* Cluster version: 1.8.4
  * Upgraded from 1.7.2
* Network System: Calico v1.11.0
* Kops: 1.8.0
* Node OS:  Debian 8.9

We have had 11 DNS failures over ~160.000 queries, and we are trying to replicate the error in a controlled maner, but with little luck so far.

[2017-12-21 10:50] Deshke commented on #45419
looking at the internal `kubelet_pleg_relist_latency_microseconds` metric from prometheus, this looks suspicious..

![bildschirmfoto vom 2017-12-21 11-38-34](https://user-images.githubusercontent.com/1473225/34252577-8c4274da-e644-11e7-8cd1-755b31e09270.png)

kops installed kube 1.8.4 with coreOS

[code]

[2017-12-21 10:52] redbaron commented on #45126
When there are no nodes left in ELB, controller should add ALL nodes back to ELB irrelevant of their status.

[2017-12-21 11:11] vainu-arto commented on #57382
This happens mainly on spot instances. Perhaps at least those don't actually have their tags set at startup, but get them slightly later? In any case it seems the logic of only fetching the metadata once in kubelet and never retrying is probably incorrect.

[2017-12-21 11:13] dims commented on #57427
linking to the "v1.9.0 known issues" list #57159

[2017-12-21 11:14] cpuguy83 opened #57510 "flexvolume driver with `:` in name breaks"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

When installing a flexvolume driver that has a name like `apple/banana:orange` (note the `:` in the name... because reasons) in the path `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/apple~banana:orange/banana:orange`, the kubelet is able to initialize this driver.
However, if I try to use it with a volume in a pod

[2017-12-21 11:15] dims commented on #57427
@pluttrell ack, asking Mehdy since he is the patch manager for v1.9 branch.

@mbohlool Mehdy, any idea when we can ship 1.9.1 with this fix?

[2017-12-21 11:16] cpuguy83 commented on #57510
/sig/storage

[2017-12-21 11:16] cpuguy83 commented on #57510
/sig storage

[2017-12-21 12:07] crassirostris commented on #48520
@raffian Try `journalctl -u kubelet`

[2017-12-21 12:08] fisherxu commented on #56423
@cmluciano Can we remove v1beta1 network policy now after v1.9?

[2017-12-21 12:20] #51076 closed

[2017-12-21 12:40] pekfi commented on #57035
problem solved, update to docker version docker-client-latest-1.13.1-36.git9a813fa.el7.x86_64 docker-common-1.12.6-68.gitec8512b.el7.x86_64 docker-latest-1.13.1-36.git9a813fa.el7.x86_64 docker-rhel-push-plugin-1.12.6-68.gitec8512b.el7.x86_64

[2017-12-21 12:40] #57035 closed

[2017-12-21 12:59] dims commented on #57321
@roffe @dixudx @ivanilves  So `kube-proxy-amd64:v1.9.0` does have ipset. So please use that. However `hyperkube-amd64:v1.9.0` does not have ipset (see below).

The commit above https://github.com/kubernetes/kubernetes/commit/787a55bb67ccd2da14aa6e7f91289c859beecb5f was merged well before we shipped v1.9.0, But hyperkube image does not use the debian-iptables, it uses debian-hyperkube-base image if

[2017-12-21 13:18] FrederikNS commented on #57382
We're running into this issue as well, using Kops 1.8.0 and Kuberntes 1.8.4.
If new nodes fail to add themselves to the cluster, but a restart of the node fixes the issue.

[2017-12-21 13:37] dims commented on #57440
@liggitt seems to be in `/registry/events`

[code]

[2017-12-21 13:44] liggitt commented on #57440
That's the etcd key prefix, but not the command line flag to control etcd server for events

[2017-12-21 13:51] dims commented on #57440
@liggitt ah! looks like the command line flag is parsed here:
https://github.com/dims/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L584

[2017-12-21 14:04] jeromepin commented on #38923
@rootsongjc Maybe your Secret key isn't base64 ?

[2017-12-21 14:19] olofwalker commented on #36072
We can reproduce this issue with Kubernetes 1.8.4. If a service name contains one (or more) dash, the replace operation will fail with the same two error messages as the OP:

[code]

[2017-12-21 14:23] agemooij commented on #36072
We (incl. @olofwalker) can also reproduce this through the API, not only through kubectl.

[2017-12-21 14:42] jryberg commented on #56794
@squeed, Hi, How do you manually set NodeNetworkUnavailable to false in the apiserver?

Regards Johan

[2017-12-21 14:55] sander-su commented on #28969
Just saw the 1.9 release which brings us a nice fix:

Could be nicer with automatic creation of the static ips but since we are not going to scale zookeeper this solves our issues by the creation of 3 services.

[2017-12-21 15:36] sokoow commented on #45037
Hey, I was under the impression that this will go into 3.3 release? Any update on this ?

[2017-12-21 15:43] verb commented on #56253
The new container has been built, can you test with k8s.gcr.io/pause-amd64:3.1?

[2017-12-21 16:02] pingles commented on #51271
We just had Kubernetes remove all instances from a loadbalancer killing all ingress:

[code]

[2017-12-21 16:11] 3dinfluence opened #57518 "kube-proxy's default behavior of using nodeIP 127.0.0.1 when nodeIP is nil seems problematic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kube-proxy came up cleanly but mis-configured iptable rules due to a mis-match in the hostname and node name within the cluster triggering a default behavior.  In this case the hostname returned the fqdn of the host and the cluster only had the hostname.  This resulted in the following warning messages when kube-proxy st

[2017-12-21 16:14] artooro commented on #28969
Creating a service per POD still only works if you use the proxy IP. A headless service will not resolve until the POD is running, which can cause race conditions.

[2017-12-21 16:16] ianchakeres commented on #55100
I'm having the same problem building on mac osx, high sierra 10.13.2. I updated xcode and its command line tools.

[code]

[code]

[2017-12-21 16:17] 3dinfluence commented on #57518
@kubernetes/sig-network

[2017-12-21 16:35] djsly commented on #56253
Its working! thanks!

I was able to pull it through our artifactory proxy

On Thu, Dec 21, 2017 at 10:44 AM, Lee Verberne <notifications@github.com>
wrote:

[2017-12-21 16:42] dcbw commented on #57518
This similar (though not the same symptom) as https://github.com/kubernetes/kubernetes/issues/37414 for which https://github.com/kubernetes/kubernetes/pull/47262 was supposed to fix it but was closed.

One of the objections was up til now, kube-proxy has had no requirement that the hostname = nodename or even that the hostname be defined.  Making kube-proxy exit on failure to retrieve the node obj

[2017-12-21 16:44] #54661 closed

[2017-12-21 16:44] joelsmith commented on #57421
/sig storage
/sig node
/assign joelsmith

[2017-12-21 16:46] edevil commented on #47733
I also have this problem on k8s 1.9 with the Azure cloud provider.

[code]

[code]

[2017-12-21 16:48] cmluciano commented on #56423
@fisherxu I think that we can

[2017-12-21 16:52] cmluciano commented on #56423
Announcement sent to kube-dev

[2017-12-21 16:52] #56423 closed

[2017-12-21 17:30] junaid-ali commented on #57509
/kind bug

[2017-12-21 17:39] junaid-ali commented on #57509
/sig api-machinery

[2017-12-21 17:49] #57277 closed

[2017-12-21 18:27] yujuhong commented on #41450
Need to verify whether newer docker + COS image has the same issue

[2017-12-21 18:36] #37011 closed

[2017-12-21 18:39] philips commented on #37455
Is this still an issue with CRDs?

[2017-12-21 18:44] akabdog commented on #45037
I see v3.3.0-rc.0 is available, can someone confirm this is fixed there?

[2017-12-21 18:50] xiang90 commented on #45037
@akabdog it should significantly help.

[2017-12-21 19:12] jennybuckley opened #57522 "PodTolerationRestriction admission controller can't use embedded configuration"
Related to #57030

/kind bug
/sig api-machinery

[2017-12-21 19:15] jennybuckley commented on #57522
@deads2k This is the only other one with versioned types that doesn't register itself

[2017-12-21 19:26] ncdc commented on #57284
This is not a bug. Your apiserver needs to be able to resolve the node's address, via DNS or /etc/hosts.

[2017-12-21 19:26] #57284 closed

[2017-12-21 19:28] panchr commented on #40244
Is there any update on this? Alternatively, is there a way to "pin down" an ELB port in Kubernetes, to prevent it from updating that port configuration? I need to make sure that one port remains on TCP (i.e. an SSH port) while the rest use HTTP(S).

[2017-12-21 19:36] misterikkit commented on #56736
I think I hit this flake on one of my PRs.
/ref #57476
[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/57476/pull-kubernetes-e2e-gce-device-plugin-gpu/10881/nodelog?junit=junit_10.xml&wrap=on)

[2017-12-21 19:38] misterikkit commented on #52214
I think I hit this flake in one of my PRs.
/ref #57477
[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/57477/pull-kubernetes-e2e-kops-aws/66014/)

[2017-12-21 20:01] sander-su commented on #28969
That's what I meant. Create 3 separate services with cluster vips.
The headless service will have another fqdn and thus will not be used. So no race condition.

[2017-12-21 20:11] #53274 closed

[2017-12-21 20:24] #24327 closed

[2017-12-21 20:25] jordanwilson230 commented on #28969
@artooro Using the publishNotReadyAddresses could solve the race conditions for statefulsets, but after testing both that and the current annotation (service.alpha.kubernetes.io/tolerate-unready-endpoints) which is depreciating (...I was just grasping at this point) seem to have no affect whatsoever.  Has anyone else had success with either of those fields? For reference, the merged PR #49061 for

[2017-12-21 20:39] parlakisik commented on #56173
/assign @parlakisik

[2017-12-21 21:11] jsravn commented on #23256
/close

was fixed.

[2017-12-21 21:11] #23256 closed

[2017-12-21 21:12] amalucelli commented on #57382
I've the same issue here.

[code]

Restarting the `kubelet` service on the instance resolve the problem, but it's unpractical doing that to every new spot instance added (at least for me).

I observed that it doesn't happen with every new spot instance added. Maybe those instances that doesn't face this issue can have their tags allocated in time to `kubelet` service startup as mencioned by @vainu

[2017-12-21 21:12] jennybuckley commented on #57201
cc @cheftako

[2017-12-21 21:13] yliaog commented on #57240
/cc @yliaog

[2017-12-21 21:13] jennybuckley commented on #57285
/sig node
/remove-sig api-machinery

[2017-12-21 21:16] jennybuckley commented on #57289
/sig node
/remove-sig api-machinery

[2017-12-21 21:18] yliaog commented on #57316
/cc @yliaog

[2017-12-21 21:18] mbohlool commented on #57316
/sub

[2017-12-21 21:23] mbohlool commented on #57405
Can you elaborate on how you fix this?

[2017-12-21 21:25] jennybuckley commented on #57440
cc @jpbetz

[2017-12-21 21:25] jennybuckley commented on #57447
cc @jpbetz

[2017-12-21 21:28] #444 closed

[2017-12-21 21:28] mbohlool commented on #57452
There is not much information in the log to say why the request is timing out. Can you consistently reproduce this? Is it possible to give steps for us to reproduce?

[2017-12-21 21:30] yliaog commented on #57509
auto conversion is not supported for safety.

[2017-12-21 21:34] SEJeff commented on #49937
Seems like a super useful feature for lightweight monitoring.

[2017-12-21 21:42] gtaylor commented on #40182
To make this easier for those in the future: this got merged and released in 1.8.4.

[2017-12-21 22:19] Random-Liu commented on #57356
@gnawux Thanks for your explanation. I think kubelet will still need to manage the on-host image/rootfs. But for the remote device/fs, kubelet can't do much.

[2017-12-21 22:25] akabdog commented on #47442
I never solved this mystery. I'm heading to 1.8.2 so we can close, thanks for looking!

[2017-12-21 22:29] nicksardo opened #57526 "Clusters in `gci-gce-slow` testgroup fail to come up"
/kind bug

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-slow

All kubelets (node + master) fail to register themselves. This has been happening for several days. kube-apiserver-audit.log:
[code]

Unknown why this is affecting a single(?) test group.

[2017-12-21 22:41] powellc commented on #24484
Any chance you can add a deprecation notice to the examples directory or just remove it altogether? Took me a while to realize that these aren't maintained anymore.

[2017-12-21 22:59] ugoviti commented on #30656
+1 for me, really need --user flag to login into a pod and make changes without redeploying the container with root as run user

[2017-12-21 23:01] obriensystems opened #57528 "1.9.0 issue with kubectl secret generation that works up to 1.8.6"
/kind bug
/sig auth

**What happened**:
Failure to pull docker images from a protected repository that used to work in 1.8.4 (still works in 1.8.6)
onap-aai      aai-resources-122881374-s5qd4           1/2       ImagePullBackOff   0          9h
using
create_registry_key() {
  cmd=`echo kubectl --namespace $1-$2 create secret docker-registry $3 --docker-server=$4 --docker-username=$5 --docker-passw

[2017-12-21 23:14] adrianblakey opened #57529 "Error deploying the dashboard after update from 1.7.4 to 1.9"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

**What you expected to happen**:

A successful deployment of the K8S dashboard.

**How to reproduce it (as minimally and precisely as possible)**:

Follow this: https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/

    kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboar

[2017-12-21 23:32] #30805 closed

[2017-12-21 23:37] ericchiang commented on #57529
Your API server is 1.7

[code]

The manifest bundle you're trying to deploy requires 1.8

[2017-12-21 23:45] davidz627 opened #57531 "Node controller unresponsive, not cleaning up node/evicting pods when node fails due to memory pressure"
/kind bug
/sig node

**What happened**:
Node controller does not evict pods when node is unresponsive. Node controller logs stop existing as well, process looks like its still running.
Pods scheduled on stressed node are stuck in "Unknown" state *indefinitely* (I only waited 20 mins).

The dead node:
https://gist.github.com/davidz627/8abbb756ff33e6514d130b8a10b3791d

The pods:
https://gist.github.

[2017-12-21 23:56] davidz627 commented on #48968
I have looked into different failure scenarios with our recommended settings and have the following conclusions:

Note: This may not be an exhaustive list of failure scenarios. Please contact me if you are experiencing issues with a different scenario.

|                              | No deployment strategy       | Deployment strategy: Recreate | Deployment strategy: Rolling update (maxSurge: 0,

[2017-12-22 00:01] mofirouz commented on #48968
@davidz627 This seems to be inline with what I've experienced as well. The multi-attach error happened when I was updating the StatefulSet and caused pods to be reshuffled on nodes.

[2017-12-22 00:09] msau42 commented on #48968
@davidz627 can you also try this experiment with statefulsets?  Theoretically, you should not see multi-attach errors with StatefulSets because the pod must be completely deleted before a new pod with the same name can be recreated.

@mofirouz if you could paste your full pod events showing the CrashLoopBackOff, that would be helpful in triaging.

[2017-12-22 00:13] countspongebob commented on #54511
Just a quick note here... we have put work into proposing standard HA config tests for very large clusters (like the 5000 node tests). This configuration recommendation has been approved by the scalabilty SIG, and we've gotten feedback from a number of providers to help recommend the actual control plane sizing as well.

[2017-12-22 00:21] davidz627 commented on #57531
/assign Random-Liu
can you take a look into this?

[2017-12-22 00:24] davidz627 commented on #56647
/cc @edisonxiang
I noticed you were working in this file earlier fixing the GiB vs GB sizing issue. Wondering if you were interesting in picking this up as well

[2017-12-22 00:45] dnoland1 opened #57534 "API Server not listening on cluster service IP when there's no default gateway"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I can't get Kubernetes cluster (v1.8.2) running in an air gapped environment that does not have a default gateway defined in routing table within the OS. When the k8s kubelet starts, I see the error:
[code]
in /var/log/syslog and the API server is not listening on the service cluster network, which causes failures in other

[2017-12-22 00:55] dnoland1 commented on #57534
/sig node

[2017-12-22 00:56] bowei commented on #56706
What is the kernel you are using (`uname -a`)

[2017-12-22 01:02] amaxwell01 commented on #25908
I have the same Cloud SQL proxy use case as @mrbobbytables. In order to securely connect to cloud SQL it is recommended to use the proxy, but that proxy isn't terminating when the job is done, which results in crazy hacks or monitoring that looks like the following. Is there any path forward on this?

![image](https://user-images.githubusercontent.com/1656593/34281033-bd90a33c-e670-11e7-9c6c-c54a1

[2017-12-22 01:14] tianshapjq commented on #53672
@derekwaynecarr I have no any other use cases as well, for now all the achievements fit well for our requirements. BTW, does the

still need to move on? I found it seems already being supported by default.

[2017-12-22 01:20] cblecker commented on #57189
/remove-help

[2017-12-22 01:21] bowei commented on #56371
/sig network

[2017-12-22 01:22] cblecker commented on #57105
https://github.com/kubernetes/kubernetes/pull/57114 has been opened for this
/remove-help

[2017-12-22 01:23] cblecker commented on #56747
https://github.com/kubernetes/kubernetes/pull/56769 has been opened for this
/assign @dixudx
/remove-help

[2017-12-22 01:24] cblecker commented on #56489
@sttts are you looking for help to carry your prototype? or should we remove the `help wanted` label?

[2017-12-22 01:27] abevoelker commented on #25908
@amaxwell01 Regarding Cloud SQL Proxy's involvement in this, I had opened an issue with Google that you could star or watch for updates: https://issuetracker.google.com/issues/70746902

[2017-12-22 01:30] Quentin-M commented on #34846
/close

[2017-12-22 01:30] #34846 closed

[2017-12-22 01:53] #57487 closed

[2017-12-22 02:19] dixudx commented on #57443
@CaoShuFeng Exactly. I think this makes sense. Since initContainers are expected to be completed, we should not expose extra port mappings during creating pod sandbox, which may bring in security risks.

[2017-12-22 02:25] CaoShuFeng commented on #57443
Sounds good to me.

[2017-12-22 02:33] iloayuil opened #57535 "Odd Image Size"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I found an odd phenomenon about image size,  the size of v1.5.1 is much smaller than that of v3.6.1. See below:
**v1.5.1**
![v1 5 1](https://user-images.githubusercontent.com/4462994/34282543-270af552-e701-11e7-8f0f-e6318f888c31.png)
**v3.6.1**
![v3 6 1](https://user-images.githubusercontent.com/4462994/34282550-312c89c4-

[2017-12-22 02:43] liggitt commented on #57528
Duplicate of https://github.com/kubernetes/kubernetes/issues/57427, resolved in master, fix targeted for 1.9.1

[2017-12-22 02:43] #57528 closed

[2017-12-22 02:44] vfreex commented on #15180
IMO it is more reasonable to implement this feature in `port-forward` not `proxy`.
The syntax would be like `kubectl -s SERVICE [LOCAL_PORT]:[SERVICE_PORT] [...]`
`-p` option is deprecated for specifying the pod name, probably it should be brought back.

[2017-12-22 04:04] vbmade2000 opened #57538 "Wrong error message for CoreDNS addon in kubeadm addons"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Error message at https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/dns.go#L206 is "unable to decode CoreDNS configmap %v", err"

**What you expected to happen**:
IMHO Error message should be "unable to decode CoreDNS serviceaccount %v", err" in same file and line number as We are decod

[2017-12-22 04:20] khenidak commented on #57444
We changed how we find disks on nodes https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/azure_common_linux.go#L69 quite some time back. What server version is this?

[2017-12-22 04:29] andyzhangx commented on #57444
@khenidak yes, I have already checked the code, the point is we are still using `/dev/sd*` to "mount -bind" k8s path, while `/dev/sd*` could be changed when VM is attach/detaching data disks, see [Troubleshoot Linux VM device name change](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/troubleshoot-device-names-problems)
And I have also checked related AWS, GCE code, they are using `

[2017-12-22 04:32] andyzhangx commented on #57444
also add @rootfs for awareness, I am working on a fix to use `/dev/disk/by-id/` other than `/dev/sd*`.

[2017-12-22 04:43] OPhamster commented on #14188
similar use case to @kent-at-multiscale where I have cronJobs that need to be executed - but since the size of the batches are so large and rarely increase - it would be quite favourable to scale them horizontally by using a `job-index` - where the job-index can be used as an argument to pass to the job and hence work on that batch of data is performed. Having a work queue in this case with redis

[2017-12-22 05:06] xiangfeiz commented on #57497
I think the issue is the same as #50004 which is for k8s 1.7. Nova instance is powered off but not deleted. And the Cinder volume remains attached to the powered off node forever.

Here are the controller manager log

`I1222 03:49:17.229946       1 openstack_instances.go:46] Claiming to support Instances
I1222 03:49:56.150268       1 controller_utils.go:249] Recording status change NodeNotReady ev

[2017-12-22 05:12] xiangfeiz commented on #57497
I think the issue is the same as #50004 which is for k8s 1.7. Nova instance is powered off but not deleted. And the Cinder volume remains attached to the powered off node forever.

Here are the controller manager log
<pre>
I1222 03:49:17.229946       1 openstack_instances.go:46] Claiming to support Instances
I1222 03:49:56.150268       1 controller_utils.go:249] Recording status change NodeNotRead

[2017-12-22 05:14] xiangfeiz commented on #57497
@jingxu97 @FengyunPan

[2017-12-22 05:34] andyzhangx opened #57540 "add Dong Liu as approver and add OWNERS in credentialprovider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install to

[2017-12-22 05:39] nikhita commented on #37455
The error message is fixed but CustomResources support **only** `application/json` for now.

If `application/yaml` is used,

- The earlier error message was:

[code]

- The current error message is:

[code]

[2017-12-22 05:40] nikhita commented on #37455
/cc @sttts @deads2k

[2017-12-22 05:58] lklkxcxc commented on #57452
@mbohlool I created any deployment resource that always report “Timeout“,but I can create pod and many kind of resources. I only found apiserver error log when I created deployment resource. Can you tell me what you need  information in the log ?

[2017-12-22 06:13] FingerLiu commented on #57465
Same problem here. Every time I try to `set image` of my deploy, the old pod cannot be terminated successfully.

below is output of `kubectl describe pods xxxx`
[code]

[2017-12-22 06:20] porridge commented on #57405
@mbohlool I did the following:
- in one ssh session to the master I ran a combination of `tail` and `awk` on `kube-apiserver.log` which counted the ratio of 429 to non-429 statuses in the last several dozen thousand responses, in a loop - as a status check
- in another session:
  - I retrieved the list of /24 netblocks in which the clients (mostly kubelets) resided from `kube-apiserver.log`. Lucki

[2017-12-22 06:21] amaxwell01 commented on #25908
Thanks @abevoelker I'm following your post there. Plus your comments made me laugh 👍

[2017-12-22 06:22] pytimer commented on #57280
Same issue on Centos7.2

[2017-12-22 06:30] xiangpengzhao commented on #57280
/cc @kubernetes/sig-network-bugs

[2017-12-22 06:32] #57540 closed

[2017-12-22 07:00] mtaufen commented on #43111
/remove-lifecycle stale

[2017-12-22 07:11] apri12 commented on #41727
I feel that this code should be changed because "--docker-email flag" is no longer required.
https://github.com/kubernetes/kubernetes/commit/50943d17838e60cff07cc8106ae0dddc2b90b067#diff-5cbf8d0bccc129f03f4a6c5eebe29bdcR172

[2017-12-22 07:12] charrywanganthony commented on #57001
maybe it will be too long to display in base64?

[2017-12-22 07:18] puja108 commented on #47733
So this seems to not be aws specific but generally happening when a cloud provider is present at all. I guess there's some general cloud provider code in `service_controller.go` that just runs when cloud provider is present and that doesn't care if the service is of type load balancer or not.

[2017-12-22 07:21] mlmhl opened #57544 "ceph rbd device path missed in Node.Status.VolumesAttached"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If a ceph rbd PVC was used, its `DevicePath` in `Node.Status.VolumesAttached` will always be empty, even though it has been already mounted on the machine.

**What you expected to happen**:

The reason is: Currently, `AttachDetachController` is responsible for updating `Node.Status.VolumesAttached`, using the returned pa

[2017-12-22 07:21] mlmhl commented on #57544
/sig storage

[2017-12-22 07:22] mlmhl commented on #57544
/assign @saad-ali @rootfs

[2017-12-22 07:29] andyzhangx commented on #56188
@PatrickLang for awareness

[2017-12-22 07:33] ZhengRongTan commented on #57332
after install the docker in the machine, the docker engine will add a policy "FORWARD DROP", let the iptables -FORWARD ACCEPT , then fixed

[2017-12-22 07:33] #57332 closed

[2017-12-22 07:33] andyzhangx opened #57546 "Enable gitRepo Volume on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
gitrepo on Windows is not supported yet as git is not built-in on Windows host now

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. create a pod with gitrepo mount on windows
kubectl create -f https://raw.githubusercontent.com/andyzhangx/Demo/master/windows/gitrep

[2017-12-22 07:37] andyzhangx commented on #57546
/sig azure

[2017-12-22 07:46] andyzhangx opened #57548 "Enable iSCSI volume on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
iSCSI is not supported on Windows because symbolic link does not work on Windows, depends on a moby issue fix: [Symlink for ca.crt & token files are broken on windows containers](https://github.com/kubernetes/kubernetes/issues/52419)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely a

[2017-12-22 08:09] ensonic commented on #23880
/remove-lifecycle stale
This would still be nice to have.

[2017-12-22 08:24] amardomingo commented on #56706
Kernel version is 4.4.102-k8s, from kops' ami k8s-1.8-debian-jessie-amd64-hvm-ebs-2017-12-02 (ami-bd229ec4)

[code]

[2017-12-22 08:27] warmchang commented on #8520
👍

[2017-12-22 08:29] jiaxuanzhou commented on #57531
there is another similar scenario, when we crash the kubelet of one node, the status of the node will change to "NotReady" , there are some similar issues(i just compared pods created by deployment and statefulset):
when it reached the eviciton-time-out(default 5m), the event has recorded each pod has been evicted,:
1,  the pods created by deployment will be evicted immediately by node controller

[2017-12-22 08:45] porridge commented on #55779
It seems I was able to reproduce at least part of this mystery, apparently some test changes the kube-dns-autoscaler configmap, which changes the autoscaler's idea of how many pods per core it should run:

[code]

[2017-12-22 09:14] jiaxuanzhou commented on #57447
this is io related issue, may there is bottle-neck of the disk

[2017-12-22 09:36] porridge commented on #55779
*Part of* mystery is solved. The good news is that the apiserver does not go crazy, and there are no phantom nodes in the system :-)

The test `kube-dns-autoscaler should scale kube-dns pods in both nonfaulty and faulty scenarios` in `test/e2e/autoscaling/dns_autoscaling.go` mutates both the autoscaler pod, and its configmap in kube-`system`. (Another test in this file is even more disruptive, but

[2017-12-22 11:15] porridge commented on #55779
I was able to reproduce some overload by running the following on an otherwise empty e2e 5k-noe cluster:

[code]

I wasn't able to make it as bad as to cause TLS connection establishment to fail, as seen in https://github.com/kubernetes/kubernetes/issues/55779#issuecomment-346824074 but I got some promising leads:
  - I was running `kubectl get ns -v=6` in a loop in parallel, and while most respon

[2017-12-22 11:31] luxas commented on #22623
I think this issue can be closed in favor for https://github.com/kubernetes/features/issues/116; where the feature state is tracked. Also, this is implemented to a large extent already (beta); whohoo!

Thanks all for the great work :+1:

[2017-12-22 11:31] #22623 closed

[2017-12-22 11:44] verb commented on #56253
excellent, thanks for checking.

/assign @verb

[2017-12-22 11:46] porridge commented on #55779
The above error most likely corresponds to the following `kube-apiserver.log` lines:
[code]

[code]

[2017-12-22 12:30] martinmosegaard opened #57553 "1.9.0: kubeadm init missing crictl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli

**What happened**:
Installed kubeadm by following the guide
https://kubernetes.io/docs/setup/independent/install-kubeadm/#master-nodes

**What you expected to happen**:
`kubeadm init` would work

**How to reproduce it (as minimally and precisely as possible)**:
[code]

then

[code]

also cannot install with `apt`:

[code]

**Anythi

[2017-12-22 12:31] luxas commented on #44100
@kubernetes/sig-node-bugs @kubernetes/sig-network-bugs any conclusion here?
This seems to be fixed on the Calico side and no other implementations seem to suffer badly by this suboptimal behavior, but is there actually someone that has cycles to fix this and would that in that case be a breaking change?

[2017-12-22 12:32] luxas commented on #57159
Should we still keep this open?

[2017-12-22 12:32] martinmosegaard commented on #57553
/sig area/kubeadm

[2017-12-22 12:35] luxas commented on #53084
@mtaufen repurposed for v1.10

[2017-12-22 12:42] hanikesn commented on #11000
/remove-lifecycle stale
TBH I think official documentation in that regard is still lacking.

[2017-12-22 12:57] luxas commented on #57334
cc @pipejakob @mikedanese @enisoc @mbohlool @jpbetz @kubernetes/sig-cluster-lifecycle-bugs

[2017-12-22 12:59] dims commented on #57538
@vbmade2000 looks like a simple cut-n-paste error. could you please submit a PR to fix it up?

[2017-12-22 13:01] martinmosegaard commented on #57553
I realize now that `crictl` just produced a warning. Please disregard this.

[2017-12-22 13:01] #57553 closed

[2017-12-22 13:03] luxas commented on #5755
I'll add this to SIG Cluster Lifecycle's agenda to discuss whether this is relevant anymore

[2017-12-22 13:11] #26038 closed

[2017-12-22 13:16] luxas commented on #53237
I think this issue is now solved @liggitt, right?

[2017-12-22 13:16] #53237 closed

[2017-12-22 13:24] luxas commented on #24608
@smarterclayton is this relevant anymore?

[2017-12-22 13:46] vbmade2000 commented on #57538
/area kubeadm

[2017-12-22 13:50] luxas commented on #45717
I think we can close this as it's implemented in alpha and the feature tracking state is here: https://github.com/kubernetes/features/issues/382

[2017-12-22 13:50] #45717 closed

[2017-12-22 13:55] mpashka opened #57555 "Kubectl doesn't respect --user parameter when execution create clusterrolebinding"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig area/kubectl
/sig sig/cli

**What happened**:
If default user is configured in kubectl. When applying kubectl command:
kubectl --user='admin' create clusterrolebinding <role_name> --clusterrole=view --group=<group_name>
Kubectl ignores --user parameter. And I get error
Error from server (Forbidden): User "<default_user>" cannot create c

[2017-12-22 14:01] mpashka commented on #57555
@kubernetes/sig-cli-bugs

[2017-12-22 14:04] #57357 closed

[2017-12-22 14:18] php-coder commented on #57555
Maybe it's better to fill the issue there: https://github.com/kubernetes/kubectl/issues

[2017-12-22 14:32] ncdc commented on #54318
Upon further reflection, I don't think we need a new api group for this. We just need a common package that component configuration api groups (kubeproxy, scheduler, etc) can import and use.

[2017-12-22 15:00] vistalba opened #57556 "Can't ping service in same kubernetes namespace"
BUG REPORT

**What happened**:
I try to ping a service in the same namespace.
Ping is not working but http works fine.

**What you expected to happen**:
Ping should answer.

- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T21:07:38Z"

[2017-12-22 15:02] vistalba commented on #57556
/sig network

[2017-12-22 15:10] redbaron commented on #9620
Any ideas since 2015? :)

[2017-12-22 15:16] edevil commented on #47733
The problem in my case started on the transition v1.9.0-beta.0 -> v1.9.0-beta.1.

[2017-12-22 15:20] redbaron commented on #9620
Here is one: kubelet should mark images as they belong to serviceaccount. Then apply policy to marked images only. If no marked image found locally it is always "Always".

Probably there are more sophisticated ways to mark it like sign it with SA key, but as an example lets just mark it with re-tagging to show proposed flow.

Lets say pod with default/default SA pulls "alpine:3.7",  kubelet is doi

[2017-12-22 15:29] ivantichy opened #57558 "Cannot reach Kube DNS from pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cannot reach kube dns (e.g. nslookup kubernetes.default) from busybox test pod.

Using kubectl apply -f busybox.yaml

1) kubectl exec -it -n kube-system busybox cat /etc/resolv.conf
nameserver 10.36.0.2 ## this is office DNS, not related to cluster
search prg.cxn
2) cannot ping 11.96.0.1 (changed from 10.96.0.1 in kubeadm

[2017-12-22 15:29] spiffxp opened #57559 "Make kubernetes/staging/src/k8s.io/foo the authoritative source for all files that live in kubernetes/foo"
This is like #54398 but I'd like to get consensus that everything except `vendor/` should be moved over, not just README and LICENSE files.

I bumped into this (undocumented?) policy that staging is authoritative when I was trying to get a consistent code-of-conduct.md checked in everywhere, which led me to open #57473

Now I'd like to get CONTRIBTUING.md files that state this policy (no PR's here

[2017-12-22 15:29] arikkfir commented on #28321
I got the same error as @gertcuykens for the very same reason (using `true` instead of `"true"` in a container's environment variable value. A better error message would go a long way here :smile:

[2017-12-22 15:29] edevil commented on #47733
/sig azure
/sig network

[2017-12-22 15:30] spiffxp commented on #57559
/cc @kubernetes/sig-api-machinery-proposals
since the majority of the published repos are api-machinery related

/cc @sttts @kubernetes/kubernetes-staging-publish-cops
since we talked about this on slack and I'm trusting the cops to know if this is the correct policy

[2017-12-22 15:31] spiffxp commented on #57559
/priority important-soon
/assign

[2017-12-22 15:38] jrake-revelant commented on #53644
Still seems to happen in 1.9.0

[2017-12-22 15:40] #57538 closed

[2017-12-22 16:07] joejulian commented on #57061
@smarterclayton is that documented in an issue somewhere?

[2017-12-22 16:18] arno01 commented on #57497
The same issue here. This is how I work it around:

1. kubectl: delete pvc & pv;
2. openstack server remove volume <your_vm> <your_volume_id>;
3. kubectl: create pv & pvc again;
4. wait few seconds and the POD will turn into a Running state again.

[2017-12-22 16:23] ateleshev opened #57560 "Panic in kubeadm init"
/kind bug

Received panic when execute kubeadm init:
[code]

**Reproduce**:
[code]

- Kubernetes version
[code]

- OS: Debian GNU/Linux 9 (stretch)
- Kernel: Linux 4.9.0-4-amd64 #1 SMP Debian 4.9.65-3 x86_64 GNU/Linux
- Packages:
[code]

[2017-12-22 16:27] raffian commented on #48520
@crassirostris  I could not find any journals using the command you supplied, but no worries, we got it from `var/log/messages`,

[2017-12-22 16:49] ateleshev commented on #57560
sudo kubeadm reset - doesn't delete all sub-folders,
sudo rm -rf /etc/kubernetes/* - helped me

[2017-12-22 16:49] #57560 closed

[2017-12-22 17:44] jaycoon commented on #37414
This is impacting one of our worker nodes as well, which was working fine and then after a restart, the API server communication was impacted (for POST requests, e.g. `logs`, `exec`). We noticed the the `invalid nodeIP` error in the kube-proxy logs.

The workaround is to detect the failure via the logs, and restart the kube-proxy pod.

[2017-12-22 18:26] Maslow commented on #56038
+1

Just push the docker images used by kubernetes to docker hub (hub.docker.com). Anyone all of world can access it. In the meanwhile, the additional advantage of it is that we can pull these images from docker hub fastly through a local registry mirror provider which like Alibaba's docker images registry mirror in China.

[2017-12-22 18:35] kargakis commented on #246
/assign luxas
/remove-lifecycle stale

[2017-12-22 18:36] steveperry-53 commented on #57362
@misterikkit I should be able to take a look at this in January. It involve fixing the doc generation code at [kubernetes-incubator/reference-docs/gen-apidocs](https://github.com/kubernetes-incubator/reference/docs/gen-apidocs).

[2017-12-22 18:50] derekperkins commented on #45911
I'm seeing this issue on a tiny init container that's just trying to copy a file to `emptyDir`

[2017-12-22 18:52] ncdc commented on #57535
The images you reference are from OpenShift. I'd recommend asking the OpenShift team about them. You can find them at https://github.com/openshift/origin/

[2017-12-22 18:52] #57535 closed

[2017-12-22 18:58] verult opened #57565 "Volume operation metrics inconsistent with cloud provider metrics"
/kind bug

The cloud provider latency metric includes latency of requests with errors:
https://github.com/kubernetes/kubernetes/blob/13c80a99a36efcdc7e76102b6154e15edc17b69d/pkg/cloudprovider/providers/gce/metrics.go#L59-L67

while the volume operation latency metric does not:
https://github.com/kubernetes/kubernetes/blob/13c80a99a36efcdc7e76102b6154e15edc17b69d/pkg/volume/util/metrics.go#L52-L64

[2017-12-22 19:00] PatrickLang commented on #56188
/priority important-longterm

This needs to get on the Windows OS backlog, so I don't have an ETA. I'm looking for suggestions on what the workflow should be and how we should label these on the sig-windows slack

[2017-12-22 19:06] PatrickLang commented on #56188
Actually given [priority definitions](https://github.com/kubernetes/community/blob/master/contributors/devel/issues.md#define-priority) this should be:
/priority backlog

[2017-12-22 19:06] PatrickLang commented on #56188
/remove-priority important-longterm

[2017-12-22 19:18] jryberg commented on #44254
Hi,

Was this ever fixed?

I have manually built a Kubernetes cluster on top of Google Cloud using this method: https://github.com/kelseyhightower/kubernetes-the-hard-way

Google are just used as "bare metal" and it was working perfectly fine until I wanted to use gcePersistentDisk and enable --cloud-provider=gce

I'm no longer able to create new pods since I have the exact same issue but on v1.8.

[2017-12-22 19:31] gnitzan commented on #35062
Same for me k8s v1.8.5. right after joining the (only) three nodes after clean kubeadm init and deploying weav-net

[2017-12-22 20:01] sheerun commented on #57001
It displays literally 4 number. Not sure what is going on but certainly not what I expected

[2017-12-22 20:50] dims commented on #56892
@bputt i have a fix in progress for kubeadm+config_drive (and a tip about privileged containers) over at https://github.com/kubernetes/kubeadm/issues/588

I am not familiar with this pattern of a https:// based metadata url, is this a public cloud provider? can you name names? :)

Thanks,
Dims

[2017-12-22 20:56] dims commented on #25066
/close

[2017-12-22 20:56] #25066 closed

[2017-12-22 21:44] philips commented on #35462
The PST is drafting something now.

/remove-lifecycle stale

[2017-12-22 21:50] davidz627 opened #57567 "Pod events not descriptive enough when given memory limits that are too low"
/kind design
/sig node

**What happened**:
I created a pod with a memory limit set way too low.

Received these events: https://gist.github.com/davidz627/d3b97245d66920b29518331f7edf2b88

The events give no clear indication of OOM error or anything relating to the memory limit I set.

**What you expected to happen**:
Have an event that makes it clear what is going wrong here. OOM or over the limit

[2017-12-22 21:58] nicksardo commented on #57526
Master's docker.log
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/13153/artifacts/bootstrap-e2e-master/docker.log
[code]

[2017-12-22 22:09] micahhausler opened #57568 "AWS NLB service doesn't remove Security Group rules on delete"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig aws

**What happened**:

Created a service with k8s v1.9.0 and NLB annotation, then deleted it. The security group rules created for the NLB didn't get deleted.

**What you expected to happen**:

The Security group rules for NLB should have been removed. The kubernetes-controller-manager emitted this log:
[code]

**How to reproduce it (

[2017-12-22 22:14] sttts commented on #57559
There is no technical reason to have any file in the external repos that is not authorative in staging/.

As client-go has a slightly different release cycle (= is released some days after the kube release), it might make sense to keep markdown files (CHANGELOG, README, INSTALL) external.

We can start a discussion to move those files also into k/k **and** to synchronize the published repos with t

[2017-12-22 22:26] sttts commented on #57559
metrics/CONTRIBUTING.md+IMPLEMENTATIONS.md should move, @DirectXMan12

[2017-12-22 22:30] mpashka commented on #57555
Created an issue in kubectl: https://github.com/kubernetes/kubectl/issues/188

[2017-12-22 22:30] #57555 closed

[2017-12-22 22:34] davidz627 commented on #57531
Upon further investigation it does look like the pods are getting terminated eventually (~50 minutes after node is lost):

dyzz@dyzz:~/Testing$ kubectl get pods shell-demo2 --watch
NAME          READY     STATUS    RESTARTS   AGE
shell-demo2   1/1       Running   0          45s
shell-demo2   1/1       Running   0         1m
shell-demo2   1/1       NodeLost   0         6m
shell-demo2   1/1       Un

[2017-12-22 22:42] davidz627 opened #57574 "FailedScheduling event "MatchNodeSelector" confusing/incorrect"
/kind design
/kind bug
/sig node

**What happened**:
I created an unschedulable pod due to NodeSelector only matching 1 node that happened to be "NodeUnschedulable" because it was down:
  2m		59s		8	default-scheduler			Warning		FailedScheduling	0/4 nodes are available: 1 Insufficient cpu, 1 Insufficient memory, 1 NodeUnschedulable, 3 MatchNodeSelector.

Note that 3 of the items are "negatives" *in

[2017-12-22 23:10] davidz627 commented on #48968
Also tested with stateful sets with 3 replicas. Used volumeClaimTemplates with gce-pd. Here are the results

|                              | Stateful Set                                          |
|------------------------------|-------------------------------------------------------|
| Deleting pod manually        | Successful new pods                                   |
| Updating stateful set

[2017-12-22 23:21] cjwagner opened #57575 "DUMMY Issue"
To test [require-sig](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/requiresig/requiresig.go) Prow plugin.

[2017-12-22 23:22] cjwagner commented on #57575
/sig testing

[2017-12-22 23:22] cjwagner commented on #57575
/close

[2017-12-22 23:22] #57575 closed

[2017-12-22 23:45] yastij opened #57576 "deprecate usage of ServiceSpreadingPriority and PodFitsPorts"
following slack discussion with @resouer, we might need to really deprecate usage of ServiceSpreadingPriority and PodFitsPorts as names for the according predicate/priority

/sig scheduling
/assign

[2017-12-22 23:57] mattmoor commented on #48388
@soltysh @smarterclayton So I just hit this experimenting with an Initializer that resolves tag references to digests.  It feels to me like the restrictions around mutability of the PodSpec should only be enforced post-Initialization, which may want to do all kinds of things (e.g. tweaking PullPolicy, injecting sidecars).  Perhaps there is another issue tracking that?

[2017-12-23 00:23] saad-ali commented on #57510
@chakri-nelluri @verult Do we do any validation on Flex driver names? Are `:` characters allowed?

/assign @chakri-nelluri

[2017-12-23 01:06] thockin commented on #30085
/lifecycle frozen

[2017-12-23 01:10] thockin commented on #7923
/lifecycle frozen

[2017-12-23 01:11] #5292 closed

[2017-12-23 01:11] thockin commented on #8992
/lifecycle frozen

[2017-12-23 01:12] thockin commented on #19831
/lifecycle frozen

[2017-12-23 01:12] #17095 closed

[2017-12-23 01:14] misterikkit opened #57579 "The plugin directory is not useful"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

There is not much value in keeping a few components in plugin/cmd/ and plugin/pkg when everything else lives in cmd/ and pkg/

**What you expected to happen**:

Components that would be moved:
plugin/cmd/kube-scheduler
plugin/pkg/scheduler

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2017-12-23 01:14] thockin commented on #6908
We have application-protocol coming (annotation for now)

[2017-12-23 01:14] #6908 closed

[2017-12-23 01:14] #47442 closed

[2017-12-23 01:18] thockin commented on #28141
@yujuhong keep this alive or close it?

[2017-12-23 01:20] #57526 closed

[2017-12-23 01:22] thockin commented on #38521
@nicksardo keep this or close it?

[2017-12-23 01:23] #35425 closed

[2017-12-23 01:26] thockin commented on #12450
/lifecycle frozen

On Sun, Dec 17, 2017 at 6:44 AM, fejta-bot <notifications@github.com> wrote:

[2017-12-23 01:26] msau42 commented on #56088
/assign @sbezverk

[2017-12-23 01:28] #35069 closed

[2017-12-23 01:28] #16888 closed

[2017-12-23 01:28] #21437 closed

[2017-12-23 01:29] #8124 closed

[2017-12-23 01:29] #12289 closed

[2017-12-23 01:29] #23855 closed

[2017-12-23 01:29] #24130 closed

[2017-12-23 01:29] #29855 closed

[2017-12-23 01:29] #20589 closed

[2017-12-23 01:30] thockin commented on #21056
@jingxu97 Can you evaluate whether to close this or keep it?

[2017-12-23 01:33] verult commented on #57510
I'm not aware of ':' being used for driver probing in kubelet, but I can look at the code more closely later. Maybe it's API validation of the pod spec?

[2017-12-23 01:43] m1093782566 opened #57580 "should set default proxyMode in kube-proxy componentConfig"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

no default value for proxyMode in kube-proxy componentconfig

**What you expected to happen**:

Should set default proxyMode in kube-proxy componentconfig

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2017-12-23 01:56] #57431 closed

[2017-12-23 03:12] #57030 closed

[2017-12-23 03:17] asktomsk commented on #44103
Currently you can use ExternalName Service to achieve it. Not too convenient thou (you need to have headless service to for DNS)

[code]

[2017-12-23 03:50] fejta-bot opened #57585 "Failure cluster [4d2471...] failed 66 builds, 5 jobs, and 1 tests over 1 days"
### Failure cluster [4d2471b41d9c9ccf7847](https://go.k8s.io/triage#4d2471b41d9c9ccf7847)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    5 jobs failed,    66 builds failed.
Failure stats cover 1 day time range '22 Dec 2017 02:22 UTC' to '23 Dec 2017 02:22 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] Network s

[2017-12-23 05:45] vikaschoudhary16 opened #57586 "ResourceQuota admission controller fails to read AdmissionConfiguration"
/kind bug

**What happened**:
Tried to pass the following configuration to the kube-apiserver using  **--admission-control-config-file**

[code]
Kube-apiserver fails to start with the following error:

**What you expected to happen**:
Expected kube-apiserver to start normally

**How to reproduce it (as minimally and precisely as possible)**:
* Just past above configuration in a yml file.
* Start k

[2017-12-23 05:46] vikaschoudhary16 commented on #57586
/cc @nikhita
@kubernetes/sig-api-machinery-bugs
/sig node

[2017-12-23 06:59] mkumatag opened #57588 "kubernetes conformance tests are failing for other than x86 archs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Failures - https://k8s-testgrid.appspot.com/sig-node-ppc64le#conformance
Part of https://github.com/kubernetes/kubernetes/pull/56716 pause is not used properly for tests for other arches than x86. As the current pause image is not a manifest image, so we need to use a different image for different archs like `pause-amd64`

[2017-12-23 07:00] mkumatag commented on #57588
/sig testing

[2017-12-23 07:00] mkumatag commented on #57588
/assign

[2017-12-23 07:07] mkumatag commented on #57588
/cc @ixdy @luxas

[2017-12-23 07:11] #57350 closed

[2017-12-23 08:47] zhengFrank opened #57592 "kube dns runs well, but can not work"
hi, all. i build a cluster with kubeadm-1.7.4, now all pods runs well but kube-dns can not work. logs of kube-dns are as follows:
test script:
kubectl run curl --image=radial/busyboxplus:curl -i --tty
and kubectl exec -ti busybox -- nslookup kubernetes.default
result:
Server:    10.96.0.10
Address 1: 10.96.0.10 kube-dns.kube-system.svc.cluster.local
nslookup: can't resolve 'kubernetes.default'

ex

[2017-12-23 08:49] niuzhenguo commented on #57459
For such single resource collection request, how about not setting builder.flatten? It's actually no need to aggregate the output into a virtual List object.

[2017-12-23 08:57] zhengFrank commented on #57558
hi, Has the problem solved ?  Plz let me know if kube-dns works for you. thx

[2017-12-23 08:59] zhengFrank commented on #57592
/sig kube-dns

[2017-12-23 10:05] nikhita commented on #57042
/reopen

[2017-12-23 13:38] mattmoor opened #57597 "Mutating ReplicaSet Spec during Initializer causes Deployment to thrash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I wrote a simple little Initializer controller that resolves image tags to digests.  When I enabled this initializer on `ReplicaSet` and created a `Deployment` I noticed that fairly quickly a TON of replica sets were listed under `kubectl get rs` (with size zero).  Looking at the `Deployment` it seems like the reconcilia

[2017-12-23 13:43] mattmoor commented on #57597
/sig api

[2017-12-23 13:50] mattmoor commented on #48388
I believe Istio is running into this when injecting sidecars (see linked issue).

[2017-12-23 14:45] ani82 commented on #56903
we observe the same on GKE with version v1.8.4-gke0 and both Busybox (latest) or Debian9:

`
$ kubectl exec -ti busybox -- time nslookup storage.googleapis.com
Server:    10.39.240.10
Address 1: 10.39.240.10 kube-dns.kube-system.svc.cluster.local

Name:      storage.googleapis.com
Address 1: 2607:f8b0:400c:c06::80 vl-in-x80.1e100.net
Address 2: 74.125.141.128 vl-in-f128.1e100.net
real	0m 10.02s
us

[2017-12-23 15:00] ganeshmedhekar opened #57598 "Kubernates cannot get nodes error"
Hi,
We are deploying kubernates 1.8 setup on AWS private VPC which is having DHCP enabled with our AD running on AWS EC2 instance. We are using Route 53 subdomain.
The setup complete but when we run the below command find the issiue with the DNS resolution.
Command and error:
$ kops validate cluster
Using cluster from kubectl context: test-cluster.example.com

Validating cluster test-cluster.examp

[2017-12-23 15:15] ganeshmedhekar commented on #57598
Require immediate help on this.  thanks @freeformz @brosner @gnufied @ncdc

[2017-12-23 15:53] cpuguy83 commented on #57510
Yes I was trying to find where this might be happening, unfortunately coming up short. The data looks ok from the API and the driver selection code seems ok as well.

[2017-12-23 16:55] mtanino commented on #57345
@msau42 @rootfs
ok. Will do.

Is your expected command line like this?

[code]

[2017-12-23 17:14] liggitt commented on #57597
Duplicate of https://github.com/kubernetes/kubernetes/issues/57167

[2017-12-23 17:14] #57597 closed

[2017-12-23 17:15] liggitt commented on #57576
Details as to why would be appreciated

[2017-12-23 17:31] deitch commented on #44165
@adohe was this fixed? Which version?

Thanks

[2017-12-23 18:01] chrislovecnm commented on #57382
/sig aws

[2017-12-23 18:33] liggitt commented on #57531
@smarterclayton is this expected for all pods, including ones from statefulsets?

[2017-12-23 18:38] cmluciano commented on #17035
/close

[2017-12-23 18:38] #17035 closed

[2017-12-23 18:53] yastij commented on #57576
@liggitt - yes sure, these ensure backward compatibility for v 1.0 which we do not support anymore.

[2017-12-23 19:29] liggitt commented on #57576
They're exposed via the scheduler config file, and can still be used as of the current release.

[2017-12-23 19:45] yastij commented on #57576
Yes indeed it exposed through config policy, but I still doubt that someone still uses it, also it is a version that we do not support anymore (1.0 is a bit old..).

Will this break any support policy regarding the supported versions ?

[2017-12-23 20:10] chrislovecnm commented on #40555
Is this still and issue?

[2017-12-23 20:59] liggitt commented on #57576
Where and when was the predicate announced as deprecated?

Yes. Generally, a config file that worked in 1.9 should work in 1.10.

What is the downside of leaving that predicate implemented?

[2017-12-23 21:19] rchakra3 commented on #48926
Is this still required and could I work on it? I'm looking for something to work on as a new contributor :)

[2017-12-23 21:27] janse180 commented on #19570
I can confirm this issue is also present with a self-hosted bootkube install. The cluster is working as expected but the health checks fail. This also causes Clilum pods to report they are not ready as Cilium uses the healthcheck to test the kubernetes api.

[code]

[code]

[code]

[code]

[2017-12-23 21:37] yastij commented on #57576
There's no real downside of leaving it as is, the name is used to register the following predicate :

https://github.com/kubernetes/kubernetes/blob/572e2764931b9165471e2533a000b2712e44a4c8/plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go#L62-L64

as it said it is only registered for backward compatibility with 1.0

now we've moved to:

https://github.com/kubernetes/kubernetes/blob/572e2

[2017-12-23 21:47] rchakra3 commented on #56316
Is this still required and could I work on it? I'm looking for something to work on as a new contributor :)

[2017-12-24 01:33] irfn commented on #21493
@thockin Any chance this can be re-opened.
A plain TCP socket check causes issues such as this. [grpc/grpc-go/issues/875](https://github.com/grpc/grpc-go/issues/875)

Since kubernetes core does not want to build this into core, how about allowing a way which provides us with a workaround. sending hex data/ asserting predefined hexdata would work fine.
These can be additional params in the existing

[2017-12-24 01:35] alifa20 commented on #41469
I keep getting this error
[code]
The index keep going to red and green.
Seems like fluentd is failing, Not sure what is the root cause of this.

[2017-12-24 01:50] vincentwoo opened #57601 "Kubernetes should not mount default service account credentials by default"
**What happened**:

Kube [automounts](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/) default service account credentials, which allows any compromised pod to run API commands against the cluster. This seems like a very odd choice from a security standpoint - I only just discovered this was the case after a couple years of running a Kube cluster in production.

[2017-12-24 01:56] vincentwoo commented on #57601
/sig auth

[2017-12-24 02:06] dims commented on #57510
@cpuguy83 @saad-ali @verult : looks like we forbid the naming in 1.9

[code]

[2017-12-24 03:02] chakri-nelluri commented on #57510
Thanks @dims. Let me fix the flexvolume spec validation code to reject drivers with ":" in name.

[2017-12-24 03:51] fejta-bot opened #57602 "Failure cluster [b83011...] failed 89 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [b830117834c80ee6356d](https://go.k8s.io/triage#b830117834c80ee6356d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    89 builds failed.
Failure stats cover 1 day time range '23 Dec 2017 02:47 UTC' to '24 Dec 2017 02:47 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 12 |

[2017-12-24 04:51] liggitt commented on #57427
workarounds for folks until 1.9.1 is released:

if you have a .dockerconfigjson for your private registry already, you can manually specify the type and data key (e.g. `kubectl create secret generic my-secret-name --type=kubernetes.io/dockerconfigjson --from-file .dockerconfigjson=/path/to/.dockerconfigjson`)

if you don't have a .dockerconfigjson file already, you can fix up the secret produced b

[2017-12-24 05:02] andyzhangx opened #57605 "Can not use specified storage account in other resource group for azure disk&file dynamic provisioning"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
According to below code, azure file & disk dynamic provisioning only supports storage account in the same resource group with k8s cluster:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_storageaccount.go#L66

There are two scenarios:
1) If user specify a storage account, I thin

[2017-12-24 05:26] roberthbailey commented on #23478
/close

[2017-12-24 05:26] #23478 closed

[2017-12-24 10:12] nealef commented on #45024
This issue appears to have been resolved by https://github.com/kubernetes/kubernetes/issues/48639. Has that PR been merged - it appears so but there was a second commit after the merge bot closed things.

[2017-12-24 11:21] Stono opened #57606 "Moving deployment from v1beta1 to v1beta2 inconsistent validation"
I have been upgrading some of my Deploymens from `apps/v1beta1` to `apps/v1beta2` on kubernetes `1.8.4` and seem to have differences in yaml validation which mean my upgrades are inconsistent with fresh deployments (ie the upgrade works fine, but if we needed to rebuild, it'd fail).

Take the following `v1beta1` yaml, with no `spec.selector.matchLabels`, in v1beta1 these were calculated if omitted

[2017-12-24 11:26] Stono commented on #57606
/sig bug

[2017-12-24 11:27] Stono commented on #57606
/sig bugs

[2017-12-24 11:28] Stono commented on #57606
@kubernetes/sig-api-machinery-bugs

[2017-12-24 12:31] garyyang85 commented on #57440
I confirmed two things just now:
1. events are stored under /registry/events in etcd in my env before the redirect events configured.
2. There are no strings like "invalid value of etcd server overrides" or "invalid resource definition" in my apiserver log.

[2017-12-24 13:58] geojaz commented on #40061
/close

[2017-12-24 13:58] #40061 closed

[2017-12-24 16:32] dims commented on #57598
/sig aws

[2017-12-24 16:33] dims commented on #57598
you are probably better off opening an issue in https://github.com/kubernetes/kops/issues

[2017-12-24 16:34] dims commented on #57592
/sig networking

[2017-12-24 16:34] dims commented on #57558
/sig network

[2017-12-24 17:14] coffeepac commented on #40555
Yes.  We have left our workaround in place but are hitting this issue of 'aws cloud provider ignores `--hostname-override `' in another part of our system.

[2017-12-24 18:22] ianchakeres commented on #55100
I increased the memory for docker again on mac osx (from 3.5G to 4.5G), and I was able to successfully `make quick-release`.

@sykpour @flybd5 - Can you please test building after allocating more memory to docker?

[2017-12-24 18:44] dims commented on #57534
@dnoland1 did you try the `node-ip` parameter in kubelet?  will that work for you?

[2017-12-24 19:12] william-tran commented on #33084
This might explain issues I'm seeing using the [Concourse helm chart](https://github.com/kubernetes/charts/tree/master/stable/concourse) with `persistence.enabled: false`, which uses an `emptyDir` volume for workers. Workers create docker containers for every aspect of pipeline triggering and execution, and they seem to interfere with ImageGC because the disk eventually runs out of space after a f

[2017-12-24 19:12] william-tran commented on #33084
/remove-lifecycle stale

[2017-12-24 19:28] chrislovecnm commented on #40555
/lifecycle frozen

[2017-12-24 19:45] dnoland1 commented on #57534
Yes, that parameter is already being set. Here are all the flags I'm setting:
[code]

[2017-12-24 20:21] mtaufen commented on #53084
Thanks @luxas

On Fri, Dec 22, 2017 at 4:36 AM, Lucas Käldström <notifications@github.com>
wrote:

--
Michael Taufen
Google SWE

[2017-12-24 21:12] stanfordbangaba commented on #56006
@KeithTt Kindly share your solution, facing the same issue here

[2017-12-24 21:48] Mulkave opened #57608 "PersistentVolume and PersistentVolumeClaim confusing behaviour"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig storage

**What happened**:
Creating a deployment with one container mounting a volume using persistent volume claim, the template includes a `PersistentVolume` kind. The end result is two volumes being created and the claim being mounted to the "generated" one and not the one included in the template.

**What you expected to happe

[2017-12-24 22:22] bgrant0607 commented on #29387
Obsolete and out of scope.

[2017-12-24 22:22] #29387 closed

[2017-12-24 23:49] nielsole commented on #57601
This shouldn't be the case of you use RBAC if I read the docs correctly: https://kubernetes.io/docs/admin/authorization/rbac/#service-account-permissions
Which authorization plugin do you use?

[2017-12-25 00:18] vincentwoo commented on #57601
I'm not using any as far as I am aware. I am running default GKE.

[2017-12-25 00:54] m1093782566 opened #57609 "Invalid hairpin mode value in kubelet component config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Invalid hairpin mode value in kubelet component config

**What you expected to happen**:

should be "hairpin-veth" instead of "veth-flag"

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider

[2017-12-25 01:27] FengyunPan commented on #57497
cc @zetaab

[2017-12-25 02:30] kargakis commented on #46148
/lifecycle frozen

[2017-12-25 02:53] kargakis commented on #46148
If we run the api server on a high port like 6443, should we close this issue? Maybe an integration test to prove that the api server can run as a non-root pod?

[2017-12-25 03:22] dixudx commented on #57601
@vincentwoo There are several options for this. You can choose one based on your needs.

* Using RBAC to grant limited access to certain namespaces/resources. You can revoke the access at anytime.
* Create another serviceaccount  and use `Initializer` to inject this to new-created pods automatically, which will override default serviceaccount. Revoke at anytime.
* Most convenient way to  opt out o

[2017-12-25 03:24] vincentwoo commented on #57601
I definitely opted out when I figured it out, but I was posting an issue because I don't think users understand that (at least on GKE) write-level credentials get mounted by default. If that's correct, it seems very dangerous.

[2017-12-25 03:37] est commented on #5095
looks like it's already in safe list?

https://github.com/kubernetes/kubernetes/issues/54132

[2017-12-25 03:52] fejta-bot opened #57612 "Failure cluster [2346ca...] failed 92 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [2346cad86caf0224da30](https://go.k8s.io/triage#2346cad86caf0224da30)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    92 builds failed.
Failure stats cover 1 day time range '24 Dec 2017 03:15 UTC' to '25 Dec 2017 03:15 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 12 |

[2017-12-25 04:04] tengqm commented on #13753
/remove-lifecycle stale
/lifecycle frozen

[2017-12-25 04:06] vincentwoo commented on #57601
Upon attempting to reproduce this on a fresh GKE cluster, my default service account did not have sufficient permissions. I'm closing this one as user error - either my cluster is old and the default changed, or I did something crazy earlier that I no longer remember.

[2017-12-25 04:32] diegs commented on #46148
I'm fine to close this. It's fairly self-evident that running as 6443 does not require root.

[2017-12-25 06:19] bputt commented on #56892
@dims thanks for working on the other issue. I can't provide information about the provider, but I was able to modify the source code and add some https logic to get everything working. I may submit a PR in January.

[2017-12-25 07:01] ConnorDoyle commented on #10570
/close

CPU manager docs: https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/

If folks don’t agree this thread has run its course please re-open.

[2017-12-25 07:01] #10570 closed

[2017-12-25 07:08] dixudx commented on #57574
@davidz627 Dup of #57244?

[2017-12-25 07:20] linyouchong commented on #57608
Do you have a default storageclass in cluser?

[2017-12-25 07:37] #56026 closed

[2017-12-25 10:21] innovia commented on #54870
@timoreimann this is not working for a cronjob job spec (i am running 1.8.6)
in the picture i still get new pods when i kill the previous on (5 created 3 should have been created and the job should have failed)

any idea how to get this to actually work?

[code]

![screen shot 2017-12-25 at 12 07 43 pm](https://user-images.githubusercontent.com/112025/34337933-512bbc64-e96c-11e7-9e09-ea189ff82f40.

[2017-12-25 10:49] timoreimann commented on #54870
@innovia what's your spec's schedule? I don't see it in your manifest.

[2017-12-25 11:05] innovia commented on #54870
every minute just for testing

[2017-12-25 11:47] timoreimann commented on #54870
Aren't you risking then that restarting jobs from a failed schedule and those from a succeeding schedule might be overlapping? How does it look like when you set the interval to, say, 10 minutes?

[2017-12-25 12:57] ivantichy commented on #57558
Problem persists.

[2017-12-25 13:06] ivantichy commented on #57558
iptables-save output on master (pod is running on master too):

`# Generated by iptables-save v1.6.0 on Mon Dec 25 14:04:53 2017
*raw
:PREROUTING ACCEPT [46197706:10970236915]
:OUTPUT ACCEPT [39180657:13400154769]
:cali-OUTPUT - [0:0]
:cali-PREROUTING - [0:0]
:cali-failsafe-in - [0:0]
:cali-failsafe-out - [0:0]
:cali-from-host-endpoint - [0:0]
:cali-to-host-endpoint - [0:0]
-A PREROUTING -m commen

[2017-12-25 13:31] errordeveloper commented on #16508
Should we freeze this or let it rot?

On Mon, 25 Dec 2017, 11:49 am fejta-bot, <notifications@github.com> wrote:

[2017-12-25 14:16] innovia commented on #54870
@timoreimann same result with 10 minutes interval

[2017-12-25 16:24] Mulkave commented on #57608
@linyouchong i'm new to this area, how can i check this? If no default then no, i haven't created one myself. And what difference would it make?

[2017-12-25 16:57] luxas commented on #33037
cc @cheftako @jagosan @wlan0 @jhorwit2 Maybe we should start doing this soon-ish?
/remove-lifecycle stale

[2017-12-25 17:08] Mulkave commented on #57608
After reading the docs here: http://blog.kubernetes.io/2017/03/dynamic-provisioning-and-storage-classes-kubernetes.html

I was able to force the use of the mentioned volume by adding an empty `storageClassName` in the claim which will fallback to what's mentioned earlier. Feels like a workaround rather than a solution though, is there a best practice for this?

Here's the final version that worked

[2017-12-25 17:12] luxas commented on #28631
I think we can close this as all binaries can be curled down individually and I'm pretty sure we have docs on this

[code]

[2017-12-25 17:13] luxas commented on #28631
Also, we do differ KUBE_SERVER_PLATFORMS from KUBE_CLIENT_PLATFORMS in our bash scripts.
Reopen if you disagree with closing this.

[2017-12-25 17:13] #28631 closed

[2017-12-25 17:14] luxas commented on #43357
This is probably fixed at this point in time.

[2017-12-25 17:14] #43357 closed

[2017-12-25 17:18] luxas commented on #32735
@bowei any status update on this?

[2017-12-25 17:21] luxas commented on #16508
/lifecycle frozen

I guess this is a thing to talk about first in the k8s 2.0 timeframe...

[2017-12-25 17:22] luxas commented on #46148
Integration test and documentation for this sounds good

[2017-12-25 17:25] luxas commented on #54318
@ncdc Go for it :smile:!
This would be something like metav1 for kubeconfigs, right?

[2017-12-25 17:29] luxas commented on #29901
/remove-lifecycle stale

Manifest lists are now eventually supported in gcr.io so this is now unblocked.
@mkumatag is working on making the images manifest lists on the k8s side
/assign @mkumatag

[2017-12-25 17:30] luxas commented on #43743
/remove-lifecycle stale
cc @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-docs-maintainers @errordeveloper
We're gonna try to work on this in the v1.10 timeframe

[2017-12-25 17:30] luxas commented on #43743
But this issue maybe should be migrated to kubernetes/website...

[2017-12-25 17:35] vbmade2000 commented on #50315
I think this can be closed.

[2017-12-25 17:38] luxas commented on #50315
This is not fixed yet.

[2017-12-25 17:42] vbmade2000 commented on #50315
Ah correct.

[2017-12-25 17:43] liggitt commented on #50315
Where would you expect the constants to live? The bootstrap roles and bindings are in the kube apiserver, which we don't want people vendoring

[2017-12-25 17:43] RenaudWasTaken commented on #56943
This is a blocker for beta at least for the NVIDIA device plugin.

[2017-12-25 17:44] luxas commented on #44958
@timothysc Should we close this or keep it open?

[2017-12-25 17:45] luxas commented on #50315
Why not? In a constants package with no other deps...?

[2017-12-25 17:49] luxas commented on #246
@timothysc has been working on the bootstrapping checkpointing feature for the node to make this work easily with upstream k8s. Also kubeadm has self-hosting support (alpha in v1.9 but expected to be beta in v1.10)
/assign @timothysc

[2017-12-25 17:51] liggitt commented on #50315
Repos are the unit of vendoring, not packages.

[2017-12-25 17:57] luxas commented on #50315
But why should no-one be vendoring the kube-apiserver repo then? I don't understand that.

[2017-12-25 18:01] luxas commented on #45557
I think the current state is fine with that it's included in v1.8

[2017-12-25 18:01] #45557 closed

[2017-12-25 18:27] luxas commented on #57213
cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-12-25 18:28] oomichi commented on #24763
This can be closed because the test-infra one is closed now and we have API coverage measuring tool in test-infra

[2017-12-25 18:28] luxas commented on #42752
This was fixed in v1.9! Thank you all, great teamwork, mainly driven by SIG Apps :+1:!

[2017-12-25 18:28] #42752 closed

[2017-12-25 18:28] edevil commented on #48926
I think so.

[2017-12-25 18:32] luxas opened #57617 "Graduate the Lease Endpoint Reconciler to beta in v1.11"
ref: https://github.com/kubernetes/kubernetes/pull/51698 and https://github.com/kubernetes/community/pull/939

An e2e test should be added, and the default should be updated.

/assign @rphillips

cc @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-api-machinery-pr-reviews

[2017-12-25 19:05] jhorwit2 commented on #33037
@luxas @errordeveloper what exactly does this issue pertain to? I noticed `area/kubectl` which doesn't have any cloud provider expectations and a kubeadm referenced PR.

Does the [new documentation](https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/) satisfy this issue?

/area cloudprovider

[2017-12-25 19:09] mtaufen commented on #19432
/lifecycle frozen

[2017-12-25 19:30] luxas opened #57618 "Move `KubeControllerManagerConfiguration` to `pkg/controller/apis/`"
The `KubeControllerManagerConfiguration` that is now located in `pkg/apis/componentconfig` should be moved out to `pkg/controller/apis/kubecontrollermanagerconfig` instead

Relevant issues/PRs:
 - https://github.com/kubernetes/kubernetes/issues/53577
 - https://github.com/kubernetes/kubernetes/pull/54211
 - https://github.com/kubernetes/kubernetes/pull/53645
 - https://github.com/kubernetes/kubern

[2017-12-25 20:07] luxas commented on #33037
Documenting how individual, existing in-tree cloud providers operate and expect from the environment, as well as outlining best-practices when appropriate.

[2017-12-25 22:04] Baschdl commented on #45819
@davidopp Is this still the correct Google Docs? Or is https://docs.google.com/document/d/1X_-46p7mLsnflAPnLR4kMAwr-E1NoJEZVMlmo7M7uX0/edit#heading=h.xcaxtapqevok the relevant one?

[2017-12-25 22:41] timoreimann commented on #54870
@innovia I ran a simplified version of your manifest against my Kubernetes 1.8.2 cluster with the _command_ field replaced by `/bin/bash exit 1` so that every run fails, the schedule set to _every 5 minutes_, and back-off limit reduced to 2. Here's my manifest:

[code]

Initially, I get a series of three failing pods:

[code]

Then it takes pretty much 5 minutes for the next batch to start up and

[2017-12-25 22:43] timoreimann commented on #54870
Maybe you can double-check using my manifest?

[2017-12-26 00:35] linyouchong commented on #57608
run `kubectl get storageclass`

[2017-12-26 00:42] de13 opened #57619 "garbage collection failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Disk capacity on worker node is not correctly monitored:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

I've followed kubernetes-the-hard-way installation, but performed on-premise on Ubuntu 16.04 kvm.

**Anything else we need to know?**:

Logs from the kubelet:

[code]

Filesystems:

[code]

[2017-12-26 00:47] de13 commented on #57619
/sig storage

[2017-12-26 00:48] m1093782566 commented on #33436
/close

[2017-12-26 00:48] #33436 closed

[2017-12-26 01:52] m1093782566 commented on #56320
From the output of ` ipvsadm -lcn` when I curl `127.0.0.1:nodeport`.  I find the source IP is loopback address, so packet never leaves the container.

[code]

[2017-12-26 02:14] hzxuzhonghu commented on #57586
@vikaschoudhary16 I think it's because ` resourcequota.admission.k8s.io/v1alpha1` apiResource is not enabled, can you try to enable it with `--runtime-config=resourcequota.admission.k8s.io/v1alpha1`?

[2017-12-26 02:55] xiangpengzhao commented on #44271
PR https://github.com/kubernetes/kubernetes/pull/46079 is waiting for approval.

[2017-12-26 04:32] nikhita commented on #56316
Yes and yes! :)

[2017-12-26 05:08] vikaschoudhary16 commented on #57586
@hzxuzhonghu Please take a look at `work-around` in the issue description. `resourcequota.admission.k8s.io/v1alpha1` works if configuration is break into two files. Therefore i dont think api is disabled.

[2017-12-26 05:48] khenidak commented on #57605
Having resources spanning two or more resource groups is a bad idea. And is discouraged. Access Management / Lifecycle are all tied to group's scope. Eventually we will not even to _get_ keys to create page blobs because storage account access will be tied to MSI/Node identity.

We really have to drive this from user requirements and specific use cases. Do we have a user requirements/use case for

[2017-12-26 05:56] andyzhangx commented on #57605
@khenidak You are right, there is no strong customer requrement for this issue, just a thought in my mind. Just closed this issue.

[2017-12-26 05:56] #57605 closed

[2017-12-26 06:22] dixudx commented on #57619
/assign

[2017-12-26 06:32] zhangxiaoyu-zidif commented on #36659
I have the same issue, in kubernetes v1.6.9. 3 apiserver, only one's CPU is high, and other two stay low.

[2017-12-26 06:32] m1093782566 commented on #56320
From my test, I find `127.0.0.1:nodeport` works only if real server work on localhost, e.g.

[code]

[2017-12-26 06:41] zhangxiaoyu-zidif commented on #41853
1.6.9
+1

[2017-12-26 06:53] verb commented on #10834
/remove-lifecycle stale

[2017-12-26 07:15] gogeof opened #57626 "kubelet occupy high cpu and fall into the dead cycle"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I don't know why happend, just find that kubelet has occupy high cpu, and try again and again to call syscall. I will show the detail fellow.

**What you expected to happen**:
kubelet work well

**How to reproduce it (as minimally and precisely as possible)**:
I don't know how to make it happened. One of my colleague creat

[2017-12-26 07:17] gogeof commented on #57626
debug by dlv:  kubelet seems fall into dead cycle
[code]

[2017-12-26 07:26] andyxning commented on #37616
/close

[2017-12-26 07:26] #37616 closed

[2017-12-26 07:43] KeithTt opened #57627 "Waiting for services and endpoints to be initialized from apiserver..."
kube version: 1.8.4
docker version: 17.03.2-ce
OS version: debian stretch
contiv version: 1.1.7

[code]

I have a master HA cluster, and the three masters are working normally, but when I add a node to the cluster, there is something wrong with this node:

[code]
[code]
[code]

![image](https://user-images.githubusercontent.com/15189954/34350752-71ea29bc-ea53-11e7-9ca4-aea5d19a23b8.png)

I have a

[2017-12-26 07:49] KeithTt commented on #57627
/area dns

[2017-12-26 07:57] m1093782566 commented on #56320
@fasaxc

Any thoughts? Does calico has similar user cases?

[2017-12-26 07:59] m1093782566 commented on #57556
@vistalba

Ping ClusterIP never works - ClusterIP is a virtual IP and you can't ping it.

[2017-12-26 07:59] m1093782566 commented on #57556
/close

[2017-12-26 07:59] #57556 closed

[2017-12-26 08:13] m1093782566 commented on #56840
xref: `GetCIDRs()` in the same file with func findCIDRClass.

[2017-12-26 08:25] xiangpengzhao commented on #44400
Already re-organized.
/close

[2017-12-26 08:25] #44400 closed

[2017-12-26 08:27] xiangpengzhao commented on #46359
It's ok to close for now :)
/close

[2017-12-26 08:27] #46359 closed

[2017-12-26 08:35] abdulrahmantkhalifa commented on #45727
I am having the same issue did someone figure out what was going wrong
 - I have the kubelet as a systemd service. I am using ubuntu 16.04 , kubeadm is hanging on the same location and the kubelet logs return :
[code]
 - my docker uses aufs as its overlay and is backed by a ext4 fs system
 - my /var/lib is a btrfs filesystem (can this be a problem for kubelet ? )

[2017-12-26 08:56] huzhengchuan commented on #35062
I meet the same question, k8s v1.8.4, I use kubespray to deploy this cluster.

[2017-12-26 09:02] hzxuzhonghu commented on #57586
I find your yaml is wrong, configuration is not an array.
[code]

[2017-12-26 09:08] weiwei04 commented on #46497
fixed by #32149, close issue.

[2017-12-26 09:08] #46497 closed

[2017-12-26 09:24] hzxuzhonghu opened #57628 "local-up-cluster startup failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I pull the latest code, and run with below cmd. But the cluster is not up.
[code]

And I notice the kube-apiserver.log,
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versio

[2017-12-26 09:30] hansedong commented on #57280
I same issue on Centos 7.2.1511

[2017-12-26 09:30] hzxuzhonghu commented on #57628
/sig cluster-lifecycle

[2017-12-26 09:43] jzwlqx opened #57629 "Network Policy can not work with service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network

**What happened**:

As the example described in [network policy](https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy) , when calico/cilium/weave-net is used, the policy in 'Limit access to the nginx service' phase limits that only those pods with label 'access=true' can access the nginx service. However,

[2017-12-26 10:15] madhuri-rai07 commented on #57618
@luxas Hi, I am looking to contribute to the project and this looks something where I can start with. Can I work on this if possible?

[2017-12-26 10:26] luxas commented on #57618
@madhuri-rai07 That sounds great! Please do work on this, and feel free to ask help from @xiangpengzhao or me if you need anything to make this happen :smile:.
The references to prior discussions are all there, so just dig in :wink:

[2017-12-26 10:28] madhuri-rai07 commented on #57618
@luxas Thank you so much :)

[2017-12-26 10:35] vikaschoudhary16 commented on #57586
Yep, that was really the issue. Closing it, thanks!!

[2017-12-26 10:36] #57586 closed

[2017-12-26 10:49] Mulkave commented on #57608
@linyouchong there was one yes, a local in minikube, but switched to GCE and it's this now:

[code]

[2017-12-26 10:53] nikhita commented on #54398
Ref https://github.com/kubernetes/kubernetes/issues/57559.

[2017-12-26 11:27] xiangpengzhao commented on #57618
@madhuri-rai07 awesome! :+1:
As are referenced, https://github.com/kubernetes/kubernetes/pull/49051 (kubelet) and https://github.com/kubernetes/kubernetes/pull/53645 (kube-proxy) have been merged. They can be examples.

[2017-12-26 11:39] jaroslavdextems opened #57631 "Kubelet won't start on CentOS bare-metal (ca.crt and bootstrap-kubelet.conf issue)"
Kubelet wont start
error at step "RUNNING HANDLER [kubernetes/master : Master | wait for the apiserver to be running]"

 /kind bug

**What happened**:
kubelet: error: failed to run Kubelet:

file /etc/kubernetes/bootstrap-kubelet.conf   --doesn't exist
file /etc/kubernetes/pki/ca.crt ----doesn't exist

tail /var/log/messages
k8s-master1 kubelet: error: failed to run Kubelet: unable to load bootstr

[2017-12-26 11:59] #57609 closed

[2017-12-26 12:06] Aaron3 commented on #20786
Is there any reason this is not documented anywhere? I've lost quite a bit of time trying to figure out why it was broken with a private repo. We assumed it was an issue on our end rather than a built-in command that basically is useless.

[2017-12-26 12:19] xiangpengzhao commented on #25406
The diagram is still not updated....

[2017-12-26 12:50] #56027 closed

[2017-12-26 14:22] amardomingo commented on #56706
After doing further testing, we have managed to reproduce the DNS errors, but not the UDP.

We have run 450k UDP echo requests with no failure, but after running 40k dns requests we got 19 dns errors (connection timeout), but we have been unable to pinpoint a common element in the failures.

[2017-12-26 14:36] MarkRx commented on #37086
/remove-lifecycle stale

[2017-12-26 15:12] racyber commented on #43515
Hi,

I'm facing the same issue with k8s 1.9, installed by kops on AWS.

[code]

volume created successfully on AWS and attached to the right node, but the pod is failed to start.

/remove-lifecycle stale

[2017-12-26 15:12] racyber commented on #43515
/remove-lifecycle stale

[2017-12-26 16:02] yue9944882 commented on #54075
@deads2k @sttts @ncdc @JosephSalisbury @caesarxuchao
I've implemented a very simple watch method for fake client.[https://github.com/kubernetes/kubernetes/pull/57504](https://github.com/kubernetes/kubernetes/pull/57504)
And these implementation will effect nothing seriously currently. WDYT?

[2017-12-26 16:41] kevincox commented on #30576
/remove-lifecycle stale

[2017-12-26 16:55] agarwal-vivek commented on #57334
bash-4.1$ sudo yum install kubelet-1.8.4 kubeadm-1.8.4
Loaded plugins: aliases, changelog, downloadonly, fastestmirror, kabi, presto, refresh-packagekit, security, tmprepo, verify, versionlock
Loading support for kernel ABI
Setting up Install Process
Loading mirror speeds from cached hostfile
 * ol6_latest: pd-yum-den-01.us.oracle.com
Resolving Dependencies
--> Running transaction check
---> Packa

[2017-12-26 17:01] jdumars commented on #22715
Closing this issue.

[2017-12-26 17:01] #22715 closed

[2017-12-26 17:02] jdumars commented on #27201
Closing this issue as stale.

[2017-12-26 17:02] #27201 closed

[2017-12-26 17:02] jdumars commented on #35180
Closing this issue as stale.

[2017-12-26 17:02] #35180 closed

[2017-12-26 17:03] jdumars commented on #40684
Bringing this to SIG-Azure meeting to verify if it is still relevant.

[2017-12-26 17:10] jdumars commented on #40686
Bringing this to SIG-Azure meeting to verify if it is still relevant.

[2017-12-26 17:11] jdumars commented on #40913
Bringing up in SIG-Azure meeting to discuss.

[2017-12-26 17:13] jdumars commented on #41185
Can @raveeram or @jejer update this issue and let us know if this behavior still happens in > 1.8?

[2017-12-26 17:14] jdumars commented on #41671
Closing as stale.  Original submitter can re-open if issue is still valid post 1.8.x

[2017-12-26 17:14] #41671 closed

[2017-12-26 17:16] jdumars commented on #41850
Bringing to SIG-Azure meeting to discuss.

[2017-12-26 17:17] jdumars commented on #42151
Closing as resolved.

[2017-12-26 17:17] #42151 closed

[2017-12-26 17:17] jdumars commented on #42800
Closing, due to staleness.  Original reporter, feel free to open if this is still happening.

[2017-12-26 17:17] #42800 closed

[2017-12-26 17:18] jdumars commented on #43287
@khenidak FYI

[2017-12-26 17:21] jdumars commented on #43993
This will be discussed in an upcoming SIG-Azure meeting.

[2017-12-26 17:23] jdumars commented on #46340
Closing as stale.  @carlosmkb please feel free to re-open if still relevant to > 1.8.x

[2017-12-26 17:23] #46340 closed

[2017-12-26 17:25] jdumars commented on #46602
Closing as stale.  @edevil if this is still relevant, please feel free to re-open and bring this to the SIG-Azure meeting for discussion.

[2017-12-26 17:25] #46602 closed

[2017-12-26 17:30] jdumars commented on #46632
Closing as stale based on work for #48243 - feel free to re-open if this work needs to be restarted.

[2017-12-26 17:30] #46632 closed

[2017-12-26 17:30] jdumars commented on #47511
@khenidak FYI

[2017-12-26 17:32] jdumars commented on #47543
Bringing this to SIG-Azure meeting for discussion.

[2017-12-26 17:34] jdumars commented on #47733
Bring this to SIG-Azure for discussion.

[2017-12-26 17:36] jdumars commented on #48493
Closing as stale.  Please free to re-open if this is still happening.

[2017-12-26 17:36] #48493 closed

[2017-12-26 17:37] jdumars commented on #49857
I believe this still exists and needs to be looked at.

[2017-12-26 17:43] jdumars commented on #49864
Closing as stale.  Please feel free to re-open if this issue is still valid.

[2017-12-26 17:43] #49864 closed

[2017-12-26 17:45] jdumars commented on #49970
Closing as stale.  Please feel free to re-open if valid in post1.8.x environments.

[2017-12-26 17:45] #49970 closed

[2017-12-26 17:55] jdumars commented on #50062
@weinong does this need to go into the SIG-Azure 1.10 backlog?

[2017-12-26 17:57] jdumars commented on #57546
Removing the SIG-Azure label, since this appears to be Windows-specific.

[2017-12-26 18:10] jdumars commented on #57388
@Vidyayadav20 any update on this?

[2017-12-26 18:11] jdumars commented on #57253
/sig-windows

[2017-12-26 18:11] jdumars commented on #57253
/sig windows

[2017-12-26 18:15] benmathews commented on #45967
/remove-lifecycle stale

[2017-12-26 18:22] jdumars commented on #56788
@jk1510karti if this is still a valid issue, can you please provide the info requested by @andyzhangx ?

[2017-12-26 18:23] mehrdadpfg commented on #57280
same issue here on debian 9  with kube-router

[2017-12-26 18:23] jdumars commented on #56693
@rakeshkulkarni6 any update on this?  If not, I'll go ahead and close it.

[2017-12-26 18:38] kruczjak commented on #57382
Hi, also same issue, but on Kubernetes 1.8.5. Only restarting `kubelet` worked for me.

[2017-12-26 18:51] jdumars commented on #56463
@andyzhangx should we go ahead and close this issue?

[2017-12-26 19:05] jdumars commented on #56086
@djsly is it ok to close this issue?  If there's a new feature needed, let's create a separate issue and track in SIG-Azure.

[2017-12-26 19:05] jdumars commented on #55870
Closing due to staleness.

[2017-12-26 19:05] #55870 closed

[2017-12-26 19:08] jdumars commented on #55154
@darkgaro could you please update this issue and let us know if it's still happening on v1.8.x or higher?

[2017-12-26 19:08] jdumars commented on #54961
I believe this has been resolved.  @khenidak pleas re-open if that's not the case.

[2017-12-26 19:08] #54961 closed

[2017-12-26 19:20] gnufied commented on #56463
@andyzhangx also https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/persistentvolume/resize/admission.go#L160 file needs to be updated to allow resizing. This plugin provides additional checks for resizing.

[2017-12-26 19:43] jdumars commented on #54899
Does this still need to be an open issue @itowlson ?

[2017-12-26 19:46] jdumars commented on #52419
@mfaizanse has this been verified as still happening since subsequent releases?  If not, we may want to close this issue.

[2017-12-26 19:47] jdumars commented on #52236
Closing as resolved.

[2017-12-26 19:47] #52236 closed

[2017-12-26 19:47] jdumars commented on #52129
Closing as resolved.

[2017-12-26 19:47] #52129 closed

[2017-12-26 19:49] jdumars commented on #51540
@JiangtianLi do we need to pull this work forward into 1.10 / SIG-Azure?

[2017-12-26 19:50] jdumars commented on #51322
@narasi can you confirm this is still a problem in > 1.8.x?  Thanks.

[2017-12-26 19:51] jdumars commented on #50152
Closing due to staleness.  If we need to re-open, please feel free to do so.

[2017-12-26 19:51] #50152 closed

[2017-12-26 19:52] jhorwit2 commented on #57631
@jaroslavdextems can you please add more information to the ticket like what you are using to install Kubernetes.

[2017-12-26 20:09] zetaab commented on #57497
I can confirm this issue. The main problem here is that if you shutdown nova instance(using openstack GUI/API), it is automatically deleted from kubernetes cluster as well. After that it seems that kube cannot handle that correctly. I tested this and added some debug logging.

originally pod was running in kube-dev-node-1-1 and I shutdowned it from openstack GUI.

Now nodes
[code]

Cinder:
[code]

[2017-12-26 22:28] klausenbusk commented on #39326
/close

I think this is safe to close now. [RexRay](http://rexray.readthedocs.io/) supports [DigitalOcean](http://rexray.readthedocs.io/en/stable/user-guide/storage-providers/digitalocean/) and has a [flexplugin](http://rexray.readthedocs.io/en/stable/user-guide/schedulers/kubernetes/), @StackPointCloud also has a [flexplugin](https://github.com/StackPointCloud/digitalocean-flex-volumes/), lastly

[2017-12-26 22:28] #39326 closed

[2017-12-26 22:59] geojaz opened #57636 "TestCadvisorListPodStats is segfaulting on master with MacOs"
/kind bug

**What happened**:
Testing is not working on master (commit 18758f502c4a249bf999f34e4a115ec9881cd9f2) on Mac running High Sierra and Go 1.9.2.

Nil pointer dererefence in TestCadvisorListPodStats:
[code]

**What you expected to happen**:
Tests to pass. Compilation is all good.

**How to reproduce it (as minimally and precisely as possible)**:
`make test GOFLAGS="-p 1 -v" WHAT=./pkg/kube

[2017-12-26 22:59] geojaz commented on #57636
/sig testing

[2017-12-27 00:55] bowei commented on #56706
Can you check the linux counters for packet drops?

`netstat -s`

[2017-12-27 00:56] aries-zhang commented on #56038
I raised an issue in the doc repo https://github.com/kubernetes/website/issues/6710 , but this problem is closed because it belongs to this repo.

Other than docker images, google's apt source is also blocked, so is it possible to use apt's official sources as an alternative?

[2017-12-27 01:09] linyouchong commented on #57608
See https://kubernetes.io/docs/admin/admission-controllers/#defaultstorageclass
`This admission controller observes creation of PersistentVolumeClaim objects that do not request any specific storage class and automatically adds a default storage class to them.`
this explains why the pvc and pv doesn't match in the first case,because the pvc doesn't have storageClassName field,the admission control

[2017-12-27 01:34] warmchang commented on #43854
👍

[2017-12-27 01:58] dims commented on #57636
/assign @dims

[2017-12-27 02:02] dims commented on #57631
@jaroslavdextems looks like you are using kubespray, can you please log an issue with them? https://github.com/kubernetes-incubator/kubespray/issues they can escalate it to this main kubernetes/kubernetes repository if it is appropriate.

/close

[2017-12-27 02:02] #57631 closed

[2017-12-27 02:12] dims commented on #57628
@hzxuzhonghu : can you please check if you can see the authorization-mode parameter when you run things by hand?

[code]

[2017-12-27 02:34] jianglingxia opened #57639 "AttachDisk--cinder volume error event Invalid request due to incorrect syntax or missing required parameters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
pod use cinder volume,but the event is
![image](https://user-images.githubusercontent.com/25783555/34368732-1f3bacb0-eaf1-11e7-80c7-5f7610bbac24.png)
![image](https://user-images.githubusercontent.com/25783555/34368771-76a56ed2-eaf1-11e7-8955-6f773d83d918.png)
the pod is running but record the event!thanks
**What you expec

[2017-12-27 02:37] jianglingxia commented on #57639
/sig storage
/sig openstack

[2017-12-27 02:39] andyzhangx commented on #56463
@jdumars  For azure disk, there is blocking issue: it does not support disk resize on a Running VM.
I would suggest work on [add size grow feature for **azure file**](https://github.com/kubernetes/kubernetes/pull/57017) first, @gnufied could you review #57017 , it works well in my testing env.

[2017-12-27 02:45] jianglingxia commented on #57639
/assign @dims
can you help me with the problem?thanks!

[2017-12-27 02:53] wenlxie commented on #57639
Can you use `nova volume-attach <node uuid> <volume>` command to  check whether the volume really can be attached to that volume?

[2017-12-27 02:58] andyzhangx commented on #52419
@jdumars @mfaizanse I have just tried on latest Windows 1709, it still does not work. Mounting with relative symlinks does not work well on Windows Conatiner. @PatrickLang for awareness, this is the blocking issue for k8s secrect on Windows.
[code]

[2017-12-27 02:59] srflaxu40 commented on #54370
I'm seeing this issue using KOPS with kops v1.8 am I SOL?

[2017-12-27 03:26] dims commented on #57628
/assign @dims

[2017-12-27 03:26] dims commented on #57628
@hzxuzhonghu Can you please try the fix above?

[2017-12-27 03:26] dims commented on #57628
/assign @luxas

[2017-12-27 03:30] woshihaoren opened #57641 "deployment support more type deployments"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Now only support Canary deployments
use Canary deployments need two yaml files.
if has more project need Canary，will double yaml  file.

**What you expected to happen**:
more deployments
like one deployment  deploy pod that supports different versions of proportion.

[2017-12-27 03:33] NickrenREN commented on #57639
Since the pod is running, the cinder volume is finally attached and mounted successfully, right ? @jianglingxia

[2017-12-27 03:34] jianglingxia commented on #57639
yes,has attached the node that the pod scheduled!
![image](https://user-images.githubusercontent.com/25783555/34369738-7d68f4de-eaf9-11e7-9c45-266911262914.png)
![image](https://user-images.githubusercontent.com/25783555/34369748-99a58ac2-eaf9-11e7-90c0-7519634a5920.png)
![image](https://user-images.githubusercontent.com/25783555/34369781-d97182b4-eaf9-11e7-99e4-5b448c77a4ae.png)

[2017-12-27 03:39] NickrenREN commented on #57639
So the failure events are the intermediate events and finally we attach and mount the volume successfully. Just need to add successful events

[2017-12-27 03:40] dims commented on #57628
/unassign @luxas

[2017-12-27 03:43] woshihaoren commented on #57641
/sig apps

[2017-12-27 03:46] jianglingxia commented on #57639
but What caused this error log？
the code in openstack_volume.go and the func is AttachDisk
![image](https://user-images.githubusercontent.com/25783555/34369948-2d7c0b08-eafb-11e7-9a5c-5e022baeb6bb.png)
the err not equal nil so the error log print and record!
the kube-controller-manager log is:
![image](https://user-images.githubusercontent.com/25783555/34369939-1ed2288a-eafb-11e7-9c8d-4173ecdc1d11

[2017-12-27 04:12] NickrenREN commented on #57639
According to your logs, the err happened when kubernetes tried to call `attach` operation.
And the `Invalid request due to incorrect syntax or missing required parameters.` was logged by `gophercloud`

[code]

[2017-12-27 04:33] tengqm commented on #41792
looks like this issue has been solved although there could be further actions to added more backends for block devices.

[2017-12-27 04:53] jianglingxia commented on #57639
so is a bug ?and How to solve it?thanks

[2017-12-27 05:27] wenlxie commented on #57639
Can you do some check that:
1) nova show <node uuid>|grep -i attach, can you see the volume id?
2) cinder show <volume id>|grep -i attach, can you see the node uuid?

[2017-12-27 05:30] hzxuzhonghu commented on #57628
@dims your pr does not fix it yet?  If not, I can help.

[2017-12-27 05:40] wenlxie commented on #57639
This is the first time when you do the attach, and then it encounter this error,
Attach controller try to do another attach after that, then it success.
I think you can check  the nova-compute log to see  why the first attach was error.

[2017-12-27 05:53] NickrenREN commented on #57639
I do not think it is a bug, at least not a kubernetes bug. @jianglingxia
the error is returned by gophercloud and likely to be related to nova-compute.
kubernetes just calls the interface and records the error

[2017-12-27 06:09] hzxuzhonghu commented on #57628
ok, thanks

[2017-12-27 06:30] jianglingxia commented on #57639
yeah,agree with you @NickrenREN ,the err return by the func of
 _, err = volumeattach.Create(cClient, instanceID, &volumeattach.CreateOpts{
		VolumeID: volume.ID,
	}).Extract()
and k8s call the interface in vendor,if not kubernetes bug,so solve the problem must need solve the gophercloud code first?
![image](https://user-images.githubusercontent.com/25783555/34372429-9239934e-eb0f-11e7-9c0c-bcf9df

[2017-12-27 07:12] zetaab opened #57643 "PVC does not allow "highly available" pods in cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG
/kind bug

**What happened**: persistentvolumeclaims are not moved to another node in two cases:

1) if pod (with pvc) is running in node which is deleted from the cluster

[code]

this means that we are raising NewVolumeDanglingError, which should be raised if the pvc is not attached to correct node. However, the problem is that node does not exis

[2017-12-27 07:15] zetaab commented on #57643
/sig storage

[2017-12-27 07:50] mlmhl commented on #57496
Hi @vlerenc , it is a intentional behavior to keep the backing infrastructure volume exist. Deleting the backing infrastructure volume is a dangerous operation because it may lead to data loss. Only when you create a PVC with `dynamic volume provisioning` mechanism and the `ReclaimPolicy` set to `Delete`, the backing infrastructure volume will be deleted after the PVC is deleted.

As you can see f

[2017-12-27 08:02] barbarosalp commented on #55894
Yes, working with version: apps/v1beta1

[2017-12-27 08:11] hzxuzhonghu commented on #57628
only remove ` utilflag.InitFlags()`

[2017-12-27 08:19] feiskyer opened #57646 "Deprecate azure metadata"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

With out-of-tree Azure cloud provider (#50752), metadata won't work any more (kubelet won't call those metadata functions any more).

We should remove the parameter `useInstanceMetadata` from Azure cloud provider in next release.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as

[2017-12-27 08:20] Mulkave commented on #57608
@linyouchong wonderful. Thank you.

[2017-12-27 08:20] #57608 closed

[2017-12-27 08:20] feiskyer commented on #57646
/sig azure

[2017-12-27 08:24] vlerenc commented on #57496
Who am I to argue, but I find that surprising/misleading. If I delete a PV, I expect the backing volume to be gone. I am sure there are better ways to let the user control the behaviour. Also, e.g. [Bosh](http://bosh.io) keeps such disks for a few (configurable) days around and a GC deletes them after a grace period. The way PVs are implemented in Kubernetes right now, people don't even notice the

[2017-12-27 08:35] 502155589 opened #57649 "1.9的kube-apiserver启动报错"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-12-27 08:36] 502155589 commented on #57649
Dec 27 16:32:59 localhost systemd: Failed to start Kubernetes API Server.
Dec 27 16:32:59 localhost systemd: Unit kube-apiserver.service entered failed state.
Dec 27 16:32:59 localhost systemd: kube-apiserver.service failed.
Dec 27 16:33:01 localhost systemd: Started Session 627 of user root.
Dec 27 16:33:01 localhost systemd: Starting Session 627 of user root.
Dec 27 16:33:04 localhost systemd: k

[2017-12-27 08:46] CallMeFoxie commented on #43976
/close

this issue is not relevant anymore and is documented

[2017-12-27 08:46] #43976 closed

[2017-12-27 08:52] hzxuzhonghu commented on #57628
reopen #57650, make less modifications.

[2017-12-27 09:03] wenlxie commented on #57639
I am also think this is not a bug.
The error  `Invalid request due to incorrect syntax or missing required parameters.` means the attach request response code is 400.
You can check the nova-compute log  to check why nova response 400.
It doesn't mean the request message really has something wrong.

[2017-12-27 09:06] wenlxie commented on #57649
[code]

[2017-12-27 09:20] huzhengchuan commented on #57649
more detail https://kubernetes.io/docs/setup/ to deploy kubernetes.

[2017-12-27 09:21] wenlxie commented on #57643
For issues 2.
The node become `NotReady`, then the pod will become into `unknown` status after eviction.
pod's container state is `running` , pod's phase is `running`

attach_detach_controller has logical to deal with `terminating` pod's volumes.
But it not suitable to deal with this scenario.
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/volumehelper/volumehelper.go#L102
I

[2017-12-27 09:32] amardomingo commented on #56706
Here you go:

[code]

I am starting to think we are having a different issue here

[2017-12-27 10:02] discordianfish commented on #48493
@jdumars I don't know if it's still happening, it was one of the issue causing management to kill the kubernetes-on-azure project.

[2017-12-27 10:24] hzxuzhonghu commented on #57649
@502155589 It is not a bug, could you clise it.

[2017-12-27 10:36] wanghaoran1988 commented on #57649
/close

[2017-12-27 10:36] #57649 closed

[2017-12-27 10:37] discordianfish commented on #25238
Is this still the case? This would be even a bigger issue without having a workaround.

[2017-12-27 10:54] sttts commented on #21478
This analysis is correct. How are these pods backed? By a replication controller? None of the pods is actually restarted (compare the RESTARTS column). This looks like behaving as expected.

@discordianfish please close if you agree (or comment otherwise ;) )

[2017-12-27 10:55] dodwyer commented on #54370
@srflaxu40 can you provide your kube-scheduler start-up parameters here?

[2017-12-27 10:58] discordianfish commented on #21478
@sttts Hrm, I think the problem here is that the containers get recreated, no matter the restartPolicy. I understand that without a RC they'll never get restarted but it seems that at least when this was reported, the containers got recreated (even if not restarted) over and over.

[2017-12-27 11:02] dyson opened #57653 "kubctl explain resourcequota.spec.hard incomplete"
/kind bug

**What happened**:
Ran:
[code]

**What you expected to happen**:
To see list of available hard resource quota limits.
Instead there is only a link to a page that 404's.

**How to reproduce it (as minimally and precisely as possible)**:
Run:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware conf

[2017-12-27 11:14] huzhengchuan commented on #57653
@kubernetes/sig-cli-bugs

Maybe it's better to fill the issue there: https://github.com/kubernetes/kubectl/issues

[2017-12-27 11:16] dyson commented on #57653
Wasn't sure where it belonged. Happy to open there and close here.

[2017-12-27 11:18] dyson commented on #57653
Moved to https://github.com/kubernetes/kubectl/issues/190

[2017-12-27 11:18] #57653 closed

[2017-12-27 11:35] ms4720 opened #57655 "apt-mirror errorring out, no md5 checksum issue on ubuntu 16.04 lts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When running apt-mirror on ubuntu 16.04 LTS I can not mirror:
deb https://packages.cloud.google.com/apt kubernetes-xenial main

it errors out saying there is no md5 checksum:

Processing indexes: [SSSSSSS
gzip: stdin: not in gzip format
SSPPPPPPPPPPPPPPPPPPPUse of uninitialized value $lines{"MD5sum:"} in concatenation (.

[2017-12-27 11:50] vfreex commented on #20227
@witrin, do you mean testing my PR? If so, I will update my PR a few days later, after the new year's day. The functionality has been almost completed.

[2017-12-27 11:50] EamonKeane commented on #19077
@metametadata agree with your sentiments. A workaround if you have poor connectivity is to minikube ssh, docker pull the required images for your pods, and set your pull policy in deployment spec to IfNotPresent.

[2017-12-27 11:55] JeanMertz commented on #41125
@larsha did you ever find a solution to this? I'm a colleague of @soudy and was just messing around with this again.

What we managed to do:

- add a `requiredDuringSchedulingIgnoredDuringExecution` node affinity block to the `kube-dns` deployment
- add another `toleration` to the existing `CriticalAddonsOnly` toleration, because our regular nodes have taints on them to only allow specific pods to

[2017-12-27 12:02] zjj2wry commented on #57628
sorry, i miss hyper...

[2017-12-27 12:10] JeanMertz opened #57659 "kube-dns should support custom tolerations"
/kind feature

(note: we're not using the latest Kubernetes version yet, but I couldn't find any changes related to this in the latest updates, so please close this if I simply updating will fix this for us)

Currently, when you edit a kube-dns deployment, some changes are persisted (f.e. adding a `nodeAffinity` config block), while others are reverted (f.e. adding a second toleration to the alrea

[2017-12-27 12:12] JeanMertz commented on #57659
/sig network

[2017-12-27 12:15] ricklagerweij commented on #56006
@KeithTt what was wrong in the configuration?

[2017-12-27 13:56] discordianfish commented on #25238
@jlwynkoop I've just edit my annotations as suggested here and I can't reproduce your described behavior. For me everything works as expected and apply didn't change the number of relicas.

[2017-12-27 14:03] warmchang commented on #7294
👍

[2017-12-27 14:20] alv91 commented on #50522
For me fixed with kubernetes 1.9.0
[code]

[2017-12-27 14:24] sttts commented on #21478
@discordianfish misread the issues, the kubectl output in https://github.com/kubernetes/kubernetes/issues/21478#issuecomment-196299142 wasn't yours.

Anyway, tried this:
[code]

Looks as it should with kube 1.8.4:
[code]

[2017-12-27 14:39] zapman449 commented on #45976
Has there been further work on this issue?  or is the fix slated for 1.8/1.9 only?

We're getting bit by it, and sadly `dnsPolicy: Default` isn't an option for us.

[2017-12-27 15:00] 1ambda commented on #28851
I built custom fluentd-es image with fleuntd 0.14+

1. Modify these files under [cluster/addons/fluentd-elasticsearch/fluentd-es-image](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch)

Make sure that setting your docker repo in `Makefile`.

![image](https://user-images.githubusercontent.com/4968473/34384802-e07affd2-eb61-11e7-9ed9-c4a9ec13abf2.png)

2. Bu

[2017-12-27 15:08] sdlarsen commented on #28519
I experience this as well, but a lot more frequent than 1 in 50 nodes. More like 1:5.

In the manager logs i see:
`I1227 14:55:34.106018       7 node_controller.go:721] Deleting node (no longer present in cloud provider):
 ip-172-20-36-55.ec2.internal
I1227 14:55:34.106040       7 controller_utils.go:237] Recording Deleting Node ip-172-20-36-55.ec2.interna
l because it's not present according to c

[2017-12-27 15:20] mattmoor commented on #57167
IIUC Initializers only run at creation, so doing this at the Deployment level would miss updates.

For tasks like resolving tag->digest, you want this to happen at a cut-point in the deployment process (to give strong consistency across replication), so per-Pod resolution is not much better than `imagePullPolicy: Always`.

[2017-12-27 15:20] mattmoor commented on #57597
Thanks for the pointer, sorry for the dupe.

[2017-12-27 15:24] zcalusic commented on #35062
Same here on v1.9.0 deployed via kubeadm. Probably have several GB of these in journal. :(

Too bad it's not telling **which** file or directory is missing, so we could at least workaround and stop the spam. :(

[2017-12-27 15:33] diogo-reis commented on #46664
I also have the same need in a bare-metal environment, put Pod traffic on one network and traffic management (API) on another network. Anyone have any idea how I can do this on 2 separate networks?

[2017-12-27 16:06] stevekuznetsov commented on #19427
@kubernetes/sig-cli-misc

[2017-12-27 16:06] stevekuznetsov commented on #14905
/close

[2017-12-27 16:06] #14905 closed

[2017-12-27 16:13] patrickf55places commented on #2630
@so0k That won't work if the `runAsUser` and `allowPrivilegeEscalation` prevent the `root` user from being used.

[2017-12-27 16:55] discordianfish opened #57660 "Allow specifying window over which metrics for HPA are collected"
/kind feature

# Use case
The docs say "The Horizontal Pod Autoscaler automatically scales the number of pods in a replication controller, deployment or replica set based on observed CPU utilization." without specifying the window over which this was observed. Haven't found where it's defined but it seems like it's ~1-5 minutes.

Now imaging a traffic pattern with short dips. If there is a dip in

[2017-12-27 16:58] discordianfish commented on #57660
/sig instrumentation
But @kubernetes/sig-autoscaling

[2017-12-27 17:26] nicksardo commented on #28784
/close

Moving to ingress-gce repo: https://github.com/kubernetes/ingress-gce/issues/94

[2017-12-27 17:26] #28784 closed

[2017-12-27 17:33] yujuhong commented on #20015
@dashpole is this still relevant?

[2017-12-27 17:34] misterikkit commented on #57579
/cc @kubernetes/sig-scheduling-misc

[2017-12-27 17:38] nicksardo commented on #29709
The GCE ingress controller does raise an error when this wrong configuration is set: https://github.com/kubernetes/ingress-gce/issues/75.  After a refactor of this controller, it'll be able to raise an event prior to creating any GCP resources, so this experience will be much better.

With regards to getting immediate validation at `kubectl create/edit`, I think that'll be a topic during the futur

[2017-12-27 17:38] #29709 closed

[2017-12-27 17:42] #34941 closed

[2017-12-27 17:49] yujuhong commented on #51540
+1
Would really like to see some CI tests for windows

[2017-12-27 17:52] diogo-reis commented on #46664
/remove-lifecycle stale

[2017-12-27 17:52] yujuhong commented on #21702
Closing this since relevant issues should be handled by CIR or moved to the rktlet repo

[2017-12-27 17:52] #21702 closed

[2017-12-27 17:53] yujuhong commented on #23692
Closing this since relevant issues should be handled in CRI or moved to the rktlet repository.

[2017-12-27 17:53] #23692 closed

[2017-12-27 17:53] yujuhong commented on #25789
Closing this since relevant issues should be handled in CRI or moved to the rktlet repository.

[2017-12-27 17:53] #25789 closed

[2017-12-27 17:54] yujuhong commented on #27745
Closing this since relevant issues should be handled in CRI or moved to the rktlet repository.

[2017-12-27 17:54] #27745 closed

[2017-12-27 17:55] yujuhong commented on #8262
Closing this since relevant issues should be handled in CRI or moved to the rktlet repository.

[2017-12-27 17:55] #8262 closed

[2017-12-27 17:55] yujuhong commented on #24158
Closing this since relevant issues should be handled in CRI or moved to the rktlet repository.

[2017-12-27 17:55] #24158 closed

[2017-12-27 17:55] yujuhong commented on #28187
Closing this since relevant issues should be handled in CRI or moved to the rktlet repository.

[2017-12-27 17:55] #28187 closed

[2017-12-27 17:55] yujuhong commented on #25928
Closing this since relevant issues should be handled in CRI or moved to the rktlet repository.

[2017-12-27 17:55] #25928 closed

[2017-12-27 17:55] yujuhong commented on #27485
Closing this since relevant issues should be handled in CRI or moved to the rktlet repository.

[2017-12-27 17:55] #27485 closed

[2017-12-27 17:55] yujuhong commented on #26816
Closing this since relevant issues should be handled in CRI or moved to the rktlet repository.

[2017-12-27 17:55] #26816 closed

[2017-12-27 17:59] yujuhong commented on #30039
Marking it 1.10 tentatively since this would be good for non-docker CRI runtimes.

[2017-12-27 18:01] yujuhong commented on #46282
Go 1.9 upgrade is already done.

[2017-12-27 18:01] #46282 closed

[2017-12-27 18:03] yujuhong commented on #44546
I think you can use readiness probe for this purpose. The container will not be ready if it fails.
Closing this issue due to age. If you have more specific request, feel free to elaborate and reopen the issue.

[2017-12-27 18:03] #44546 closed

[2017-12-27 18:07] yujuhong commented on #45026
Closing since 1.4.8 is no longer supported. Please open a new issue if the problem manifests in a newer version.

[2017-12-27 18:07] #45026 closed

[2017-12-27 18:09] #44777 closed

[2017-12-27 18:21] yujuhong commented on #28141
kubelet still doesn't support updating the node status on-demand. On the other hand, we should be careful not to overwhelm the apiserver with updates, so batching is probably necessary even if we were to shorten the update interval at times.

I've not seen the need to change this part of the logic other than this issue, so deferring to @saad-ali to see if this is still needed.

/assign @saad-ali

[2017-12-27 18:23] yujuhong commented on #44442
@gmarek is this still relevant?
Only `resource_usage_gatherer.go` uses this function

[2017-12-27 18:24] yujuhong commented on #45377
Is this still needed?

[2017-12-27 18:27] yujuhong commented on #37348
Closing due to age and insufficient information. Please open a new issue and provide kubernetes version among other information.

[2017-12-27 18:27] #37348 closed

[2017-12-27 18:27] msau42 commented on #57345
@mtanino actually, just the /mnt/test directory should be bind mounted shared.  The underlying mounts are normal mounts.

[2017-12-27 18:33] #57495 closed

[2017-12-27 18:33] yujuhong commented on #42897
I don't think this is done. @dashpole feel free to remove your assignment if you're not working on it.

[2017-12-27 18:34] JiangtianLi commented on #51540
@jdumars Please add this to 1.10 sig azure and drive forward. This would definitely benefit development on Windows platform.

[2017-12-27 18:38] jdumars commented on #51540
Acknowledged.

[2017-12-27 18:46] yujuhong commented on #16831
This issue can be adapted to evaluate whether we need to support event stream in CRI. It is very low priority right now unless the need can be identified clearly.

[2017-12-27 18:48] yujuhong commented on #20177
I think we need more input for @kubernetes/sig-network-feature-requests  because it is unclear whether kubelet will always have this information in various networking environment.

[2017-12-27 18:54] yujuhong commented on #41507
Relevant issues: #17251 #16627

[2017-12-27 18:55] bboreham commented on #20177
FWIW when using Weave Net the address space is dynamically shared out between nodes so this is not a problem.

However it could be added as some kind of status request to CNI since most other pod networks do have a static allocation per node.

[2017-12-27 18:58] #45942 closed

[2017-12-27 19:08] #44233 closed

[2017-12-27 19:09] rchakra3 commented on #56316
Perfect, I'll get started on it!

[2017-12-27 19:14] thockin commented on #15635
/lifecycle frozen

On Wed, Dec 27, 2017 at 8:42 AM, fejta-bot <notifications@github.com> wrote:

[2017-12-27 19:14] thockin commented on #31813
@bowei - keep or kill?

On Wed, Dec 27, 2017 at 6:40 AM, fejta-bot <notifications@github.com> wrote:

[2017-12-27 19:17] #40036 closed

[2017-12-27 19:18] thockin commented on #8992
Dup of #52670 which has more details

[2017-12-27 19:18] #8992 closed

[2017-12-27 19:18] thockin commented on #18451
Dup of #52670 which has more details

[2017-12-27 19:19] #18451 closed

[2017-12-27 19:22] #25885 closed

[2017-12-27 19:23] thockin commented on #6716
/lifecycle frozen

On Mon, Dec 25, 2017 at 12:59 PM, fejta-bot <notifications@github.com>
wrote:

[2017-12-27 19:23] msau42 opened #57662 "Local volume negative nodename e2e test failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 @kubernetes/sig-storage-bugs

**What happened**:
Failing since 12/17
https://k8s-testgrid.appspot.com/sig-storage#gce-alpha

/assign

[2017-12-27 19:24] thockin commented on #30822
/lifecycle frozen

On Sun, Dec 17, 2017 at 5:55 PM, fejta-bot <notifications@github.com> wrote:

[2017-12-27 19:25] #23084 closed

[2017-12-27 19:26] #17994 closed

[2017-12-27 19:27] thockin commented on #25368
/lifecycle frozen

[2017-12-27 19:27] #18587 closed

[2017-12-27 19:30] thockin commented on #28101
/lifecycle frozen

This is a real issue, especially once CSI kicks in.  @saad-ali

[2017-12-27 19:32] ianchakeres opened #57664 "[local-volume] provisioner e2e test fails with v2.0.0 image for provisioner"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The local-volume bootstrapper/provisioner configuration format changed in
kubernetes-incubator/external-storage#352, and its related e2e tests will fail when the provisioner & bootstrapper images are updated to v2.0.0.

**What you expected to happen**:

I'd expect the e2e tests to continue to work properly with the new v

[2017-12-27 19:33] ianchakeres commented on #57664
/sig storage

[2017-12-27 19:33] ianchakeres commented on #57664
/assign @ianchakeres

[2017-12-27 19:41] thockin commented on #19762
We now have ProjectedVolumeSource

[2017-12-27 19:41] #19762 closed

[2017-12-27 19:44] thockin commented on #28483
/lifecycle frozen

[2017-12-27 19:45] thockin commented on #28101
Wrong issue, Saad.

[2017-12-27 19:45] thockin commented on #29896
/lifecycle frozen

This is a real issue, especially once CSI kicks in. @saad-ali

[2017-12-27 19:46] thockin commented on #30232
/lifecycle frozen

This is a real issue, especially once CSI kicks in. @saad-ali

[2017-12-27 19:47] thockin commented on #44997
/lifecycle frozen

[2017-12-27 19:47] thockin commented on #33035
dup

[2017-12-27 19:47] #33035 closed

[2017-12-27 19:47] #34566 closed

[2017-12-27 20:03] thockin commented on #11815
@yujuhong Should this be under CRI spec?

[2017-12-27 20:03] thockin commented on #12123
@pwittrock Keep or kill?

[2017-12-27 20:03] #15179 closed

[2017-12-27 20:03] thockin commented on #18023
@pwittrock Keep or kill?

[2017-12-27 20:04] thockin commented on #15000
/lifecycle frozen

[2017-12-27 20:06] #23236 closed

[2017-12-27 20:06] #11045 closed

[2017-12-27 20:11] thockin commented on #14460
/lifecycle frozen

[2017-12-27 20:15] 007 opened #57666 "kubectl 1.9.0 fails during create resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Tried to create a resource from YAML via stdin, got no-op error
[code]

**What you expected to happen**:
Expected resource to be created

**How to reproduce it (as minimally and precisely as possible)**:
Use 1.9.0 kubectl against a 1.6.2 kube server. This command doesn't do anything, but shows the failure mode / differenc

[2017-12-27 20:16] spiffxp opened #57667 "Remove direct write access to this repo"
We now have sufficient automation in place to address most if not all of the use cases that would require direct write access to this repo:
- https://submit-queue.k8s.io: we allow people without direct write access to merge via /lgtm, /approve, and OWNERS files
- https://go.k8s.io/bot-commands: we allow people who are org members to assign, triage, and manage issues and their labels via /commands

[2017-12-27 20:17] spiffxp commented on #57667
/sig contributor-experience

[2017-12-27 20:18] spiffxp commented on #57667
/priority important-soon
I would like to accomplish this during the 1.10 timeframe
/kind cleanup

[2017-12-27 20:43] nelsonfassis commented on #42727
I have the same problem @nelson-cf . Documentation from filebeat doesn't seem to be compatible with however logs works on kubeadm and I can't find a work around. Did you?

[2017-12-27 20:45] jarrpa commented on #38399
/remove-lifecycle stale

[2017-12-27 20:52] mrajashree commented on #26050
@MorrisLaw I didn't get time to work on this previously but now I'm able to. So I'd still like to work on this. :) I'll add you in the PR so you can review too

[2017-12-27 20:55] spiffxp commented on #15635
/remove-lifecycle stale
Opened kubernetes/test-infra#6095 because it doesn't make sense to me to have 2 lifecycle/ labels applied to the same issue

[2017-12-27 21:10] yujuhong commented on #11815
That sounds reasonable.

[2017-12-27 21:13] #57664 closed

[2017-12-27 22:15] #32338 closed

[2017-12-27 22:16] #31791 closed

[2017-12-27 22:16] #24424 closed

[2017-12-27 22:16] #24151 closed

[2017-12-27 22:18] #6650 closed

[2017-12-27 22:18] DreadPirateShawn opened #57668 "configmap error, "resource name may not be empty""
/kind bug

**What happened**:

Error-level logs seen during an otherwise-successful Kubernetes cronjob run cycle.

[code]

**What you expected to happen**:

No error-level logs for successful internal auto-retries.

**How to reproduce it (as minimally and precisely as possible)**:

This has only been seen once, from one of two similar kubecrons set to run every minute in 12 prod regions, so 34560

[2017-12-27 22:19] thockin commented on #3131
This old issue is still open - does ginkgo buy us anything?  I find it frustrating to work with, I hate reading the code for tests, and the resulting output is not particularly better than something self-rolled.

Could we get rid of ginkgo?

[2017-12-27 22:23] jfoy commented on #46920
As far as I know, this is still a live problem.

/remove-lifecycle stale

[2017-12-27 22:45] joejulian commented on #57440
`--etcd-servers-overrides=/events#https://etcdEvents.etcd.jj-rc.internal:2381`

Does work with 1.7.11 but does not work with any 1.8.x. There is no attempt at all to connect to any of the etcd nodes under that hostname.

[2017-12-27 22:48] msau42 commented on #30612
/assign

[2017-12-27 22:48] msau42 commented on #30612
This is covered by the new local volume feature
/close

[2017-12-27 22:48] #30612 closed

[2017-12-27 22:48] DreadPirateShawn commented on #54155
Note: This is a very frequent occurrence. We have two similar kubecrons set to run every minute in 12 prod regions, so 34560 related pods per day, and in the past 24 hours we've seen this occur in 29347 of the runs.

[2017-12-27 22:52] DreadPirateShawn opened #57669 "Kubelet error: "Could not read volume directory""
/kind bug

**What happened**:

Error-level log seen during an otherwise-successful Kubernetes cronjob run cycle.

[code]

**What you expected to happen**:

No error-level logs for successful pod runs.

**How to reproduce it (as minimally and precisely as possible)**:

This has only been seen once, from one of two similar kubecrons set to run every minute in 12 prod regions, so 34560 related pods p

[2017-12-27 22:54] joejulian commented on #57440
If I replace the url with a list of urls using the ip addresses that hostname resolves to, it works:
[code]

The expectation was that it would follow the <=1.7 behavior of resolving the hostname and building the list from that.
[code]

[2017-12-27 22:57] thesteve0 commented on #25885
Whatever happened with Unik on Kube?

[2017-12-27 23:06] dims commented on #57440
@joejulian " ip addresses that hostname resolves to, it works" <<< is this in 1.9?

[2017-12-27 23:07] joejulian commented on #57440
Just checked. Works in 1.9.0.

[2017-12-27 23:11] yujuhong commented on #25885
You can run unikernels using virtlet, or start a separate project to implement CRI to support unikernels.

I'm not sure what purpose this issue serves. If there are specific upstream kubernetes requirements, feel free to open new issues with more details.

[2017-12-27 23:16] thesteve0 commented on #25885
@yujuhong did you communicate with the author of this bug to see if what you say it true for his use case?

[2017-12-27 23:23] msau42 commented on #57662
Looks like the error message changed.

[code]

[2017-12-27 23:26] yujuhong commented on #25885
CRI is the default integration/extension point for all runtimes as of now. If there is any reason to integrate directly with kubernetes, you can propose this as an agenda for the weekly sig-node meetings: https://github.com/kubernetes/community/tree/master/sig-node

[2017-12-27 23:32] joejulian commented on #57440
No, I take that back. There was a brief bit of network activity (which didn't happen at all with 1.8) but after that there's still nothing. Event queries still time out without any further network activity between the apiserver and the etcdevents nodes.

[2017-12-27 23:55] thockin commented on #18396
@nicksardo @bowei as you think about CloudProvider stuff.

/lifecycle frozen
/remove-lifecycle stale

[2017-12-27 23:56] DreadPirateShawn commented on #38532
/remove-lifecycle stale

Hoping for a clearer update on path forward. I've commented on pull request #45682 as well, pinging for update.

[2017-12-28 00:01] msau42 commented on #43872
@jingxu97 has some ideas on how to redesign the volume reconstruction.  Maybe this can be handled as part of that.

[2017-12-28 00:08] heckj opened #57671 "DNS entries not exposed for StatefulSet and headless service in Kubernetes 1.8 or 1.9"
/kind bug

I believe this is a bug, but I'm uncertain of the specifics expected beyond the documentation. I was creating a statefulset and headless service, vetting the documentation at https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/

**What happened**:

The sample deployments are available in public github:
https://github.com/kubernetes-for-developers/kfd-nodejs/blob

[2017-12-28 00:14] heckj commented on #57671
/close - duplicate of https://github.com/kubernetes/kubernetes/issues/45779, which I found after opening this bug. This occurs when the name of the headless service and the serviceName in the statefulset don't match exactly. In my example, one was "nodejs" and the other "nodejs-service"