[2017-03-30 17:12] dcbw commented on #43815
@thockin any preferred solution?  We can either block node readiness and find out who uses IsNodeReady() like we've already done, or we could add another node condition and then fix up who-knows-how-many bits of the codebase elsewhere for it.  Or maybe there's another option.

[2017-03-30 17:13] php-coder commented on #43857
For the documentation issues there is a dedicated project: https://github.com/kubernetes/kubernetes.github.io

[2017-03-30 17:14] yujuhong commented on #43815
I think the scheduler can be fixed to respect taints and tolerations, instead of ruling out all unready nodes completely.
Someone will have to apply the toleration on the hostNetwork:true pods though. I don't know who but it should not be the scheduler since teaching scheduler to understand the pod spec seems way too much.

/cc @davidopp @dchen1107

[2017-03-30 17:15] mikebryant commented on #43806
The namespace was deleted around a week before the node was. (I became aware of this only during debugging why everything was broken, I didn't delete the namespace myself)

The pod wasn't visible via kubectl at all - indeed, trying to delete it via kubectl claimed that it didn't exist.
When I created the namespace again (in an attempt to allow deletion via kubectl) by the time I checked something

[2017-03-30 17:15] kensimon commented on #43815
Also, to anyone who has tried my or michael's patches and is getting hung up on the control plane coming up, it appears as though building a kubeadm from `master` doesn't work when having it manage a v1.6.0 cluster, due to kubeadm trying to launch kube-apiserver with invalid args:

[code]

If you want to test mine or michael's changes against a v1.6.0 cluster, cherry-pick them against v1.6.0 inste

[2017-03-30 17:17] Scukerman commented on #43808
@samlinux, follow the guide: https://kubernetes.io/docs/getting-started-guides/kubeadm/
You missed this step:
[code]

[2017-03-30 17:19] spxtr commented on #43280
/kind velocity-improvement

[2017-03-30 17:21] kensimon commented on #43815
@yujuhong the scheduler already auto-applies tolerations to pods (see https://github.com/kubernetes/kubernetes/pull/41414), this seems like a similar enough use case

[2017-03-30 17:22] spxtr commented on #43280
/area test-infra

[2017-03-30 17:37] #43612 closed

[2017-03-30 17:42] thockin commented on #43815
I don't have a clear picture of all of the taints and readiness wrt
network, at this point.  Dan, do you have a half hour to write up the
current state, so we can start to tease it apart?   I think you know it
best.  I do feel like we have a number of granular issues that we have just
blanket-covered so far.

On Thu, Mar 30, 2017 at 10:22 AM, Ken Simon <notifications@github.com>
wrote:

[2017-03-30 17:50] dcbw commented on #43815
@thockin I can do that, where should I put it?

[2017-03-30 17:53] thockin commented on #43815
there are a couple related issues, can we re-title one of those, post a
summary of current state and go from there?

On Thu, Mar 30, 2017 at 10:50 AM, Dan Williams <notifications@github.com>
wrote:

[2017-03-30 17:57] anandkumarpatel commented on #28988
+1 I see this issue when trying to run [private registry manually ](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry
) I setup kuberenets with kops `Version 1.5.3`
and kubectl version
[code]

[code]
sysctl does not exist on my system

[2017-03-30 18:00] #42577 closed

[2017-03-30 18:09] enisoc commented on #43323
@wanghaoran1988 You are welcome to take this if you want. I'd be happy to review related PRs.

[2017-03-30 18:14] whitecolor opened #43867 "Ability to rename namespace"
**Is this a FEATURE REQUEST?**

I believe it is not possible now, but could be probably useful. Ability to rename (change symbolic name of) namespaces).

[2017-03-30 18:17] enisoc commented on #43324
@wanghaoran1988 I don't know how yet. :) This was a TODO suggested by @pwittrock. He may have some pointers?

[2017-03-30 18:19] jayunit100 opened #43868 "[low-priority] Consider removing unused methods from scheduler cache"
Ever since the shared cache stuff, some functionality in schedulercache is unused.

We can remove it from the interface or make the functions panic, so that its clear their never used.

cc @ravisantoshgudimetla to add details .

[2017-03-30 18:20] aveshagarwal commented on #43167
@jayunit100 Regarding https://github.com/kubernetes/kubernetes/pull/43171#issuecomment-290496542
Yes I agree we should provide more clearer output/feedback. But providing something that makes output more confusing than existing is something would be even more concerning.

So as I stated https://github.com/kubernetes/kubernetes/pull/43171#issuecomment-290476080, it would be good to discuss/decide h

[2017-03-30 18:29] vishh commented on #43607
@timothysc https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/ytg3VQU7VYk/FxiqKRqoBAAJ

[2017-03-30 18:30] tonylambiris commented on #28988
Try as root?

[2017-03-30 18:32] bowei commented on #32157
@thockin -- see analysis on the linked issue #43730

[2017-03-30 18:39] enisoc commented on #42569
/assign @shiywang

[2017-03-30 18:40] junsaw commented on #43815
Do we have anytime line as to when this fixed will be ported to the CentOS repository ?

[2017-03-30 18:44] anandkumarpatel commented on #28988
wow... @tonylambiris yep that was it. Thanks!

[2017-03-30 18:49] bitmage commented on #19764
I'm using [ployst/nginx-ssl-proxy](https://github.com/ployst/docker-nginx-ssl-proxy) which looks for all its secrets in `/etc/secrets`.  This worked fine when I just had secrets coming from one place (the letsencrypt container), but now that I want to add basic auth, things get complicated.  I first tried:

[code]

I wasn't able to mount the cert secrets to `/etc/secrets` and then just symlink the

[2017-03-30 18:53] deitch commented on #19764
Bit of a theme....

[2017-03-30 18:58] gashev commented on #39238
The same problem.

unset http_proxy call did not help.

[code]

[2017-03-30 19:36] TapasBhattacharjee opened #43869 "Not able to get kubelet-1.5.4 with kubeadm1.6. today"
Due to a recent problem with kubelet-1.6, I had to revert back to kubelet-1.5.4 yesterday. When today I am trying to get kubelet-1.4.5 it is getting installed.  Now if I try to install kubeadm it is overriding kubele with the latest version of kubelet. Now if I uninstall the latest kubelet it is uninstalling the kubeadm. I don't remember seeing the same problem yesterday.

All the workaround given

[2017-03-30 19:38] bitmage commented on #13382
I get this on GCE on a weekly basis.  Node version 1.4.7, master version 1.4.9.

I'd be really interested in workarounds - how can I restore my connection?  And of course in a fix.

I saw some comments regarding restarting the master kubelet.  I've got a cluster of 5 VMs running.  How do I know which one is master?  Been searching and can't seem to find the answer to that question.  Maybe I'm misu

[2017-03-30 19:41] gnufied commented on #43300
How about if we add all such pods to a data structure called `PodsOnHold` and when `nodeAdd` event is ran for such a node - we trigger an event inside `PodsOnHold` to process all pending pods on that node.

Similarly when node is deleted we need to clear out any pendingitems in `PodsOnHold`.

[2017-03-30 20:06] bowei commented on #43730
I'm seeing that the controller is calling delete for only `test1/frontend`, which seems to indicate that the controller only processed a single delete callback for the load balancers.

I don't have an azure cluster handy.

@djsly -- if it's possible, can you repro with:
* Start with empty cluster
* Ceate guestbook example
* Delete guestbook example, but don't create again.
see if the IP resources

[2017-03-30 20:10] colemickens commented on #43730
"delete the guestbook example" == "delete the guestbook namespace" or "manually delete the guestbook's svc"?

(I only ask to clarify because I suspect that if simple "single service delete" were failing, we'd see a lot more noise/issues about it)

[2017-03-30 20:12] djsly commented on #43730
I can confirm that if I wait after the deletion that all of the cleanup job occurs there is no leak.

The problem is when the deleted service is recreated with the same name under the same namespace.

[2017-03-30 20:13] djsly commented on #43730
The creation needs to occur while the deletion of the resource in Azure is still ongoing.  The apiserver returns that the resources are gone and cleaned which allow us to recreate.

[2017-03-30 20:14] bowei commented on #43730
Can you post the kube-controller-manager log for the simplified repro? (create -> delete -> create) with one copy of the guestbook app)?

[2017-03-30 20:16] msau42 opened #43872 "Refactor volume manager reconstruction so that it can be unit tested"
Currently the volume reconstruction logic reads directories on the system to get mounted volume types and names for a pod.  The reading directories part needs to be refactored so that we can unit test the reconstruction logic.

cc @kubernetes/sig-storage-misc

[2017-03-30 20:18] djsly commented on #43730
let me extract that information from the logs. I created test4 last, deleted it, then recreated in a continuous sequence. without deploying anything else at the same time.

[2017-03-30 20:21] colemickens commented on #43730
(Not to interrupt any diagnosing, but FYI:

I tried to intentionally use the value from the cloudprovider-levlel `GetLoadBalancerName` in order to avoid any sort of conflict like this: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L56

That value is used to name the LB rules/probes and NSG rules, with the hope that it would avoid these sorts of conflicts.

But I'm

[2017-03-30 20:23] activeshadow commented on #43768
@dixudx OK so I tested this approach and it didn't seem to work. Here's how I tested:

1. Logged into CoreOS Container Linux locally (using `coreos.autologin=tty1`)
2. Edited the kubelet systemd service unit in the cloud-config, removing `Requires` and `After` from the `[Unit]` section and adding `WantedBy=network-online.target` to the `[Install]` section.
3. Disconnected the network cable
4. Rebo

[2017-03-30 20:33] jayunit100 commented on #29727
specifically

[code]
is the trick that i think most people probably need (i.e. they need the docker0 ip from `ip addr`.

[2017-03-30 20:48] djsly commented on #43730
@bowei do you have a preferred logging level ? it seems that level 10 logs too much... The journal output is missing a bunch of lines.

My original Logs looks better and doesn't have missing line. I think the first one was set a level 3

[2017-03-30 21:03] davidopp commented on #43815
In 1.6 by default core Kubernetes does not automatically apply any taints to nodes. The scheduler does respect taints that are added by deployment systems like kubeadm, kops, etc. or added manually by users (and respects the corresponding tolerations that are added to pods).

In 1.6 by default the Kubernetes scheduler excludes nodes from consideration if they are reporting certain node conditions,

[2017-03-30 21:03] ekozan commented on #23920
upgrade to 1.6.0 ^^

[2017-03-30 21:07] jayunit100 commented on #43167
@davidopp @aveshagarwal I think having > 1 return values is an exponential improvement on what we have now, even if they aren't perfect for all cases.  Rather then a disproportionately long debate over a relatively simple improvement....  How about we Suggest something simple that you're confident it will be easy to agree on,  and we can implement it as a first pass  ?

[2017-03-30 21:12] davidopp commented on #43167
I think we'd be happy to consider any reasonable PR. I'm not sure why #43614 was closed; I didn't look at it though so I don't know if it solves the problem.

[2017-03-30 21:12] davidopp commented on #43167
(hit close accidentally)

[2017-03-30 21:20] djsly commented on #43730
Here are the Azure Logs for the first test where test5/frontend's IP leak for example

**azure_loadbalancer**
[code]

The **azure_loadbalancer** with **test5/frontend** only shows thats the cloud provider was involved only for the creation and not the deletion.

[code]

If we look at the `test1/frontend` we can see an example of the logs when the **azure_loadbalancer** gets called for deletion

[c

[2017-03-30 21:25] rickypai opened #43873 "High EC2 DescribeInstance call volume: 1.2M calls a day"
**BUG REPORT**:

Kubernetes is calling EC2 `DescribeInstance` too much, hitting rate limits. We currently have two Kubernetes clusters, prod and test. Both are running in HA with 3 masters each. Prod has about 30 minions while test has 3.

Our internal logging shows that the clusters are calling `DescribeInstance` 1.2M times a day. `Chef-KubernetesMasterProd`, `Chef-KubernetesMasterTest` are names

[2017-03-30 21:27] djsly commented on #43730
@colemickens the UID you use looks different between each delete/create

**First create/delete for test1/frontend**
[code]

**Second Create**
[code]

[2017-03-30 21:29] djsly commented on #43730
@bowei I think that the answer lies between line `14952` and `24133` in the first log file I attached from the OP

[2017-03-30 21:33] andraxylia opened #43874 "Admission Controller: Enhance PodPreset to inject containers and init containers"
This is a feature request to add support in PodPreset for injecting containers and init containers.

Usecase: as a cluster admin, I need the ability to to inject an init container and a proxy sidecar container into a pod, to enable Istio microservices mesh functionality:
https://github.com/istio/istio

kubernetes/features#162
kubernetes/community#254
kubernetes/community#132

[2017-03-30 21:33] ravisantoshgudimetla opened #43875 "Rename register priority function2 in scheduler"
Register priority function has Fixme suggesting to rename the function name(https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/plugins.go#L62). This is a small clean up task.

[2017-03-30 21:35] ravisantoshgudimetla commented on #43167
@davidopp , I am not sure why #43614 was closed. But I raised a PR which was around 15 days ago(#43171).

[2017-03-30 21:41] lavalamp commented on #34508
API machinery SIG approved that design (with a couple caveats).

[2017-03-30 21:43] davidopp commented on #43806
@bsalamat

[2017-03-30 21:47] davidopp commented on #43197
I just meant maybe this is still worth doing, there might be bugs in the alpha path that we don't know about.

[2017-03-30 21:49] coeki commented on #43815
If I understand what @davidopp said right, then the function is NodeReady, which now returns true or false or unknown, ticks a list with what is needed. If it could return a list of values not met, you can test against that.

In case of kubeadm, if then  NetworkUnavailable, is the only one. kubeadm can return true. That is in the case we don't want the networking/cni plugin passed in at kubeadm in

[2017-03-30 22:08] k8s-merge-robot opened #43877 "[k8s.io] Summary API when querying /stats/summary should report resource usage through the stats api {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2817/
Failed: [k8s.io] Summary API when querying /stats/summary should report resource usage through the stats api {E2eNode Suite}

[code]

Previous issues for this test: #34990 #40607

[2017-03-30 22:11] vishh commented on #43815
Jumping on to this thread because I hit this issue and it is annoying:

Why can't network readiness become a taint that the kubelet adds and removes based on the state of the network on the node?
That way the node can be "Ready" for all pods that tolerate the network readiness taint (pod network apps).

As for host network pods, an admission controller could inject tolerations to pod network readi

[2017-03-30 22:13] davidopp commented on #34508
I'd strongly suggest sending a link to the doc to kubernetes-dev with a one-paragraph tl;dr.

[2017-03-30 22:17] mikedanese commented on #43815
I think that aligns with the long term plan in davidopp's comment.

[2017-03-30 22:24] hjacobs commented on #43873
Yes, we are also running into AWS rate limits ([Zalando's Kubernetes on AWS](https://www.slideshare.net/try_except_/kubernetes-on-aws-at-europes-leading-online-fashion-platform)), there is a similar issue about AWS rate limits and caching: #39647

[2017-03-30 22:43] davidopp commented on #43815
Yes, exactly. The long-term plan is to have a taint for every node condition and stop having anything internal in Kubernetes pay attention to node conditions. We started that work with the 1.6 alpha feature I mentioned.

[2017-03-30 22:45] vishh commented on #43815
Ack. Is there a reason not to switch to taints in v1.6 patch release?

[2017-03-30 22:49] davidopp commented on #43815
The code to automatically add taints based on node conditions just went into alpha in 1.6. It's ready to be relied upon.

[2017-03-30 22:54] newtonkishore commented on #42919
The problem was with the flannel version. Flannel version 0.7 wasn't compatible with docker 1.12. I am downgrading my flannel to bring up the kubernetes cluster

[2017-03-30 23:08] coeki commented on #43815
So, if I understand correctly, for now, since https://github.com/kubernetes/features/issues/166 is taking some longer time to be able to taint network availability correctly, we have to go with a work around. If we can push a fix ASAP for kubeadm, like #43835, with a comment to fix this with https://github.com/kubernetes/features/issues/166, a lot ppl are going to be happy.

[2017-03-30 23:12] vishh commented on #43815
@davidopp I assume you meant to say "*not relied upon*". I'm still missing the relationship between the automatic condition to taint logic you mentioned with the of the kubelet posting taints directly for network issues.

[2017-03-30 23:19] davidopp commented on #43815
Yes thanks, that was a typo, fixed now

Yes, you could have Kubelet add the taint. It may not be ideal to have Kubelet add the taints for some node conditions and NodeController add them for other node conditions (the latter is necessary because only the master can detect node unreachable), but that's just a software engineering argument, not anything fundamental. My plan had been for NodeControll

[2017-03-30 23:20] lavalamp commented on #43454
@fejta I have no idea what this is, maybe @wojtek-t knows?

[2017-03-30 23:26] vishh commented on #43815
Ack. In this case, a single Node condition has several attributes associated with it which the Node Controller may not be able to discern.
@mikedanese I feel the existing behavior of `kubeadm init` resulting in a functioning node is appealing. I hope the requirement of adding a `validation` phase is not primarily driven based on this issue.
@dcbw @thockin @yujuhong any thoughts on using taints to

[2017-03-30 23:36] edevil commented on #42314
I've also come across a related message when testing a new 1.6 cluster:
[code]

The pod in question is in the Terminating state since several hours ago.

[2017-03-31 00:19] k82cn commented on #43806
Did not test; but I'm thinking what will happen if controller-manager abort/crash when before deleting all pods; will it get namespace deleted notification when start-up next time?

[2017-03-31 00:19] davidopp commented on #43815
Note that if you want your new taint to replace the current automatic filtering-out of nodes with NetworkUnavailable, you will need to modify the function I mentioned earlier. I do not know what other side-effects that will have, since that function may be used in node listers other than just the scheduler.

[2017-03-31 00:28] overip commented on #43815
Is there a way to install 1.5.6 which should be working on Ubuntu? If there is could you please explain how to do it? Thanks!

[2017-03-31 00:36] djsly commented on #43730
More investigation on my side

For the test1/frontend service, we see this in the log

[code]

For the `test5/frontend`'s service we see this

[code]

While when is doesn't work it goes here.
https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/controller/namespace/namespace_controller_utils.go#L171-L172

Which simply seems to return false, and ignores the deletion of the service all toge

[2017-03-31 01:10] k82cn commented on #43875
If changed to `PriorityFunctionFactory2`, all "old" `PriorityFunctionFactory` need to split into map & reduce.

[2017-03-31 01:15] djsly commented on #43730
I guess the difference can be explained by the `opCache *operationNotSupportedCache` that looks global for the client.

The first pass, it get sets to `opCache.setNotSupported(key)` which then trigger the exit right away....

So from the code, it just seems that the call to
[code]

returns nothing....

[2017-03-31 01:15] k82cn commented on #43854
ppc64 BE is not supported, this requirements should from PowerPC team that ppc64le is preferred.

I'm a IBMer, and I'd like to link you to related people if you're PowerPC's user :).

[2017-03-31 01:15] msau42 commented on #43629
Yes, defaultstorage admission plugin is only enabled starting in GKE 1.6.

[2017-03-31 01:17] chrislovecnm commented on #43873
Is it the masters that are making the calls? Did you set the new flag on k-c-m?

[2017-03-31 01:19] chrislovecnm commented on #43873
I am on my phone, so I cannot look up the flag, but there is a k-c-m flag to adjust the interval for disk checks. It was introduced in 1.4.9 or 8

[2017-03-31 01:32] dcbw commented on #33789
has anyone encountered this issue in 1.5 or 1.6?

[2017-03-31 01:32] timothysc commented on #43806
The delete is direct in the api-server and the only thing that lingers that requires rectification are pods stuck in "Terminating"

[2017-03-31 01:46] bitmuncher commented on #34408
Same problem:

OS:
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
CENTOS_MANTISBT_PROJECT="CentOS-7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUCT="centos"
REDHAT_SUPPORT_PRODUCT_VERSION="7"

Kernel: 3.10.0-514.10.2.el7.x86_64

Master Server:
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6

[2017-03-31 01:49] bgrant0607 commented on #15324
This is obsolete.

[2017-03-31 01:49] #15324 closed

[2017-03-31 02:10] niuchp commented on #43729
This problem is solved.
1.Use the ingress proxy backend https service.Like:https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/ssl-services
2.Modify the configuration file server.xml in tomcat,
[code]

[2017-03-31 02:11] #43729 closed

[2017-03-31 02:24] dcbw commented on #43815
@davidopp we need to be careful about NetworkUnavailable vs. NodeReady.  There are two separate conditions that should really be cleaned up:

nodeNetworkUnavailable - this is specific to cloud routes, and only cloud route controllers clear this condition when cloud routes between nodes have been set up.  Network plugins that create overlays or that do not do L3 routing between nodes do not want or

[2017-03-31 02:35] 4admin2root commented on #43805
you can try yum remove docker docker-common  &  yum install docker-engine-1.12.6
repo:
[dockerrepo]
name=Docker Repository
baseurl=https://mirrors.aliyun.com/docker-engine/yum/repo/main/centos/7/
enabled=1
gpgcheck=1
gpgkey=https://mirrors.aliyun.com/docker-engine/yum/gpg

[2017-03-31 02:40] myonlyzzy commented on #42703
Thank you guys ! I hava solved the problem by myself 。The reason of this problem is i forget disable SElinux。

[2017-03-31 03:08] LaurentDumont commented on #43857
`Kubeadm` is currently broken. Wait for a fix to be released before using it ;)

https://github.com/kubernetes/kubernetes/issues/43815#issuecomment-290270198

[2017-03-31 03:14] shiywang opened #43886 "Make apply to it's own package"
For now apply command and it's subcommand are becoming bloated
1. I will try to move all those command into a independent package like `kubectl set` did.

2. I will try to reduce duplicated code like comments here: https://github.com/kubernetes/kubernetes/pull/41694#discussion-diff-102018502R38

3. current `set-last-applied`'s validate function does not do validate, will move all the code to run a

[2017-03-31 03:34] roberthbailey commented on #15324
Why is this obsolete? We just started switching fluentd to use a daemonset, and we should move kube-proxy to use them as well.

[2017-03-31 04:08] thockin commented on #19764
@bitmage if you can boil down a repro, we can look into it.  Naively, I would expect what you described to work...

@jingxu97 @saad-ali

[2017-03-31 04:16] marun commented on #42761
I've updated the title to reflect the increased severity of the problem.  The following documentation provides an example that currently breaks ``kubefed init`` as per my previous comment:

https://kubernetes.io/docs/tutorials/federation/set-up-cluster-federation-kubefed/#passing-command-line-arguments-to-federation-components

[2017-03-31 04:53] bhtak commented on #43815
Another work around I found.

While kubeadm keeps printing '[apiclient] First node has registered, but is not ready yet', I deployed 'kube-flannel.yml' which installs flanneld. And it worked without changing configuration files.

1) kubeadm init --pod-network-cidr=10.244.0.0/16 &
2) cp /etc/kubernetes/admin.conf ~/.kube/config
3) kubectl apply -f kube-flannel-rbac.yml (Necessary in kubeadm 1.6)
4)

[2017-03-31 04:54] dmnord commented on #42158
And me too! How to resolve this issue? Where can I get right documentation/description? :-(

[2017-03-31 04:56] mikedanese commented on #43815
The `kubernetes-xenial-unstable` now has a patched build `1.6.1-beta.0.5+48c6a53cf4ff7d-00` that @pipejakob have been testing today. The nodes remain not ready until a pod network is created (e.g. by applying weave/flannel configs). Conformance test pass. PTAL.

[code]

[2017-03-31 04:57] davidopp commented on #43815
@dcbw I don't know enough about the specific problem discussed in this issue to tell you exactly what to do. I just wanted to explain the current status of taints and how they might apply here.

[2017-03-31 04:57] mikedanese commented on #43815
The `kubernetes-xenial-unstable` now has a patched build `1.6.1-beta.0.5+48c6a53cf4ff7d-00` that @pipejakob and I have been testing today. The nodes remain not ready until a pod network is created (e.g. by applying weave/flannel configs). Conformance test pass. PTAL.

[code]

[2017-03-31 04:58] frankvolkel opened #43889 "API Not Running on new cluster after nodeup with kops"
I'm using kops to setup a cluster on AWS:
[code]

Additional details not in create cluster command:

- Subnet `us-west-1b` was removed and a new master setup in place of it in `us-west-1a` named `us-west-1a-alpha` (as us-west-1b do not support subnetting)
- EBS volumes are encrypted
- Existing NAT Gateway is used for both private subnets
- Subnet masks are changed to /24 and C range re-numbered fo

[2017-03-31 05:07] k82cn commented on #43806
@timothysc , thanks very much; just try it in local and check the code: the ns will be in Terminating state until all related resources are deleted; so even the controller manager abort/crash, it'll continue to delete Pods when it's re-started.

[2017-03-31 05:25] thockin commented on #43815
Is the general direction that taints can express pretty much everything
conditions can, and are therefore better in every way?

I agree we need more granular signal.  We still need to sort out the
interplay between kubelet, net driver, cloud controller, and cloud provider
to unlock hostNetwork=false pods, but hostNetwork=true should not be
blocked.

On Thu, Mar 30, 2017 at 7:24 PM, Dan Williams <n

[2017-03-31 05:29] zatricky commented on #43815
For anyone still trying the temporary fix by removing the kubelet KUBELET_NETWORK_ARGS config line, @jc1arke found a simpler workaround - have two sessions to the new master and, whilst waiting for the first node to become ready, apply a node-network config in the second session:
First session after running kubeadmin init:
[code]
Second session (using Calico. Your choice may of course vary):
[code

[2017-03-31 05:31] amitbitcse commented on #26769
I tried it again using latest Kubenetes version (Running kubernetes cluster via minikube) and it is working, so closing it.

[2017-03-31 05:31] #26769 closed

[2017-03-31 05:34] wzhliang commented on #33729
Same problem with:

Cent OS 7
docker 1.12.6
kubernetes 1.5.3

[2017-03-31 05:36] davidopp commented on #43815
conditions can, and are therefore better in every way?

Pretty much. We probably can't get rid of any of the node conditions due to backward compatibility concerns, but we can get rid of all the logic in the master that takes action based on them (like blocking scheduling or evicting pods). Besides making the behavior more obvious (no need to memorize which conditions block scheduling, which cause

[2017-03-31 05:53] wanghaoran1988 commented on #43323
@enisoc Thanks, working on that now.

[2017-03-31 06:31] krmayankk commented on #33355
@jsafrane @thockin what is the thought process on this. Here are the things i want to understand. Let me know if this already documented somewhere  or if it doesnt work as expected:
- Can a PVC be deleted while its being referenced in a Pod
- Can a PV be deleted while its binded to a PVC ?
- When a Pod is done referencing a PVC and is gone, is there a way to garbage collect PVC's ?
- Is reclaim po

[2017-03-31 06:36] #42318 closed

[2017-03-31 06:36] #42665 closed

[2017-03-31 06:37] nilsher commented on #43849
I have the same problem with kubernetes 1.6 and etcd 3.0.17. I can see that the registry has been written to etcd's WAL files. But /registry can not be found when doing etcdctl ls /.

[2017-03-31 06:43] thockin commented on #33355
On Thu, Mar 30, 2017 at 11:32 PM, krmayankk <notifications@github.com> wrote:

Yes, but it might cause problems if your pod's controller needs that
info (e.g. moving the pod).  we probably should not allow.

Yes, but we should probably not allow

No.  PVCs are explicit lifetime bindings.  No auto-removal.

If by GC you mean explicitly clean up when released, yes.

[2017-03-31 06:46] dixudx commented on #43768
`WantedBy=network-online.target` will guarantee that when `network-online` gets activated, `kubelet` will be activated as well. However `kubelet` will always try to reconnect the apiserver and never stops until external intervention or internal errors.

If you want to a stronger relation between `network-online` and `kubelet`, you can try `RequiredBy=network-online.target` (a stronger version of `

[2017-03-31 06:52] rickypai commented on #43873
`--pvclaimbinder-sync-period` on the controller-manager? that would make sense. will give it a try when I head to work tomorrow. thanks a ton!

[2017-03-31 06:54] rickypai commented on #43873
also yes. the call volume is master only. I'll add that information to the ticket.

[2017-03-31 06:56] bsalamat commented on #43550
Looks like some of the newly added SchedulerPriorities tests fail in gke-serial. I will try to take a look tomorrow.

[2017-03-31 07:13] nilsher opened #43893 "No /registry written to etcd in kubernetes 1.6"
Hello,
am working on an installation of kubernetes and upgraded to kubernetes 1.6 however after the upgrade(fresh install) I found that no data is written to etcd. "etcdctl ls /" do not show the registry.

I looked in the wal logs of etcd and I can see that there exists /registry entries there.
However calico and flannel entires are found when doing "etcdctl ls /".

I have tried this with kubernet

[2017-03-31 07:35] hjacobs commented on #43729
@niuchp there is a better solution for Tomcat: use the `RemoteIPValve` for proxy (LB) support: https://go.utah.edu/docs/config/valve.html#Remote_IP_Valve

[2017-03-31 07:48] zetaab commented on #43805
does anyone have idea what is real difference between cgroupfs and systemd drivers? Which one I should really use? Currently it looks like centos/rhel comes with docker which have systemd specified. Why it does not use docker default cgroupdriver (which is cgroupfs)?

The weird thing here is that we have been using docker cgroupdriver systemd for a long time, and we do not have anything specified

[2017-03-31 07:57] wojtek-t commented on #43454
Yeah - I set this up in the past. Given that protobufs are already default we should probably remove this suite. But sure - will take a look into it later.

[2017-03-31 08:00] kargakis opened #43895 "ReplicationController should release no longer matching pods"
[code]
@fgimenez @caesarxuchao

@lukaszo since you were wondering if it's possible to have conflicts with Patch

[2017-03-31 08:02] kargakis commented on #43895
Same flake for the ReplicaSet e2e test

[2017-03-31 08:08] coeki commented on #43815
Just tested the debs from @mikedanese and @pipejakob, these are working fine.

[2017-03-31 08:13] xiangpengzhao commented on #43834
@arun-gupta ScheduledJobs has been renamed to CronJobs(#36021). Current doc link is:
https://kubernetes.io/docs/user-guide/cron-jobs/

[2017-03-31 08:22] myqq0000 commented on #43815
Just tested the debs from @mikedanese and @pipejakob, it still freeze at
`[apiclient] Created API client, waiting for the control plane to become ready`

I have waited about five minutes, but nothing changed.
And yesterday it repeat
`[apiclient] First node has registered, but is not ready yet`

T T I think the problem is still no solution?

[2017-03-31 08:25] nilsher commented on #43893
I switched to --storage-backend=etcd2 on kube-apiserver and then the registry is created in etcd.
However I run etcd3 server.

[2017-03-31 08:26] coeki commented on #43815
@myqq0000 can you post the version you using?

`kubeadm version`

[2017-03-31 08:31] myqq0000 commented on #43815
@coeki Oh, I forget it. I have edited just now and post the version in my previous comment. :)

[2017-03-31 08:37] bhtak commented on #43815
@mikedanese Do you have any plan to update centos yum repo ? Or is it already deployed to yum repo ?

[2017-03-31 08:51] wojtek-t commented on #43893
"etcdctl ls" doesn't work in etcd in v2 mode.

You should try something like:
[code]

[2017-03-31 09:56] mausch commented on #43815
Just tried `1.6.1-beta.0.5+d8a384c1c5e35d-00` (the `1.6.1-beta.0.5+48c6a53cf4ff7d-00` one mentioned in https://github.com/kubernetes/kubernetes/issues/43815#issuecomment-290616036 doesn't seem to exist).

It seems to work fine.
Note that if you're using weave you have to apply https://github.com/weaveworks/weave/releases/download/latest_release/weave-daemonset-k8s-1.6.yaml instead of the 'default'

[2017-03-31 09:58] zouyee opened #43901 "resource quota can not be deleted after the namespace has beed deleted"
result like that:
[code]

gc would not delete these resources.

**Kubernetes version** (use `kubectl version`):

1.5.2

**What happened**:

 resource quota  can not be delete after the  namespace has beed deleted

MY inspection:
delete resource quota which namespace has been deleted

[2017-03-31 10:37] lungati commented on #43822
Where did you get the package for kubelet 1.5.4 from? @TapasBhattacharjee

[2017-03-31 10:44] nilsher commented on #43893
etcd v3 does not support ls

*solved*

[2017-03-31 10:44] #43893 closed

[2017-03-31 10:57] jsravn commented on #43300
I think the other controllers handle this pretty well - you can take a look at how endpoint controller does it in 1.4/1.5, it has its own work queue where it will stick services to process while it waits for the pod informer to finish updating. Although I noticed this changed quite a lot in master - haven't gone through those changes yet, though.

[2017-03-31 11:00] xilu0 opened #43905 "clusterCIDR not specified"
Kubernetes version：1.5.3
hi、Developers：
Please help me to solve a problem！

`kube-proxy[26186]: W0331 17:56:08.502721   26186 proxier.go:306] clusterCIDR not specified, unable to distinguish between internal and external traffi`

how do specified cluster clusterCIDR?
my config:
`[Service]
User=root
ExecStart=/opt/bin/kube-apiserver \
 --insecure-bind-address=0.0.0.0 \
 --insecure-port=8080 \
 --et

[2017-03-31 11:02] Bregor commented on #23920
@ekozan you mean just upgrade to 1.6 fixes this issue automagically?
Maybe you installed newer CNI-binary with `hostPort` support?
I mean https://github.com/containernetworking/cni/commit/71c4a60741c87e17325ea6b03234a38fabd06986 for example.

[2017-03-31 11:04] srinat999 commented on #43815
@mausch Could you tell me how to get these debs?

[2017-03-31 11:07] #43895 closed

[2017-03-31 11:26] jimmycuadra commented on #43815
@srinat999 https://github.com/kubernetes/kubernetes/issues/43815#issuecomment-290616036

[2017-03-31 11:34] activeshadow commented on #43768
@dixudx I had also tried `RequiredBy` but that didn't change anything.

So I get what you're saying about how `WantedBy=network-online.target` will guarantee that when `network-online` gets activated, `kubelet` will be activated as well, but does it also guarantee that `kubelet` will *not* get activated *until* `network-online` is activated? What I really need is for `kubelet` to not get started u

[2017-03-31 11:38] janosi opened #43907 "Multi-label CNAME record does not work via ExternalName Service"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): externalname

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REP

[2017-03-31 11:46] webwurst commented on #43815
@mikedanese patched debs work for me. thanks for all working on this! :smile:
[code]

[2017-03-31 11:52] sl4dy commented on #43819
If anybody needs working kubeadm 1.6 alpha with all related packages:

kubeadm-1.6.0-0.alpha.0.2074.a092d8e0f95f52.x86_64.rpm
ubernetes-cni-0.3.0.1-0.07a8a2.x86_64.rpm
kubelet-1.5.4-0.x86_64.rpm
rkt-1.25.0-1.x86_64.rpm
kubectl-1.5.4-0.x86_64.rpm

I have them in our local Pulp mirror.
Link: https://drive.google.com/open?id=0Bz7FKhrf1vTQV2ZKcE54Q2pmdWM

[2017-03-31 11:54] srinat999 commented on #43815
@mausch Thanks. They work for me too with weave network provider.

[2017-03-31 12:18] crassirostris commented on #43607
@vishh

What do you mean by that? I don't see anything about CRI and runtime applying limits in https://github.com/kubernetes/community/pull/306 How does it interact with log rotation?

[2017-03-31 12:19] gmarek opened #43908 "ResourceUsageGatherer in scalability tests is not working."
Some time ago we noticed that we're not getting data anymore and filed #42045 expecting it was an RBAC issue. RBAC has been fixed, but we still don't get resource usage data, which suggests that the regression is somewhere else.

@kubernetes/sig-scalability-bugs @wojtek-t @shyamjvs

[2017-03-31 12:19] gmarek commented on #42045
Thanks @liggitt. This made `Error while reading data from` go away, which indicates that RBAC issue is solved. ResourceMonitor still returns an empty result, but I'll create a separate issue for it #43908.

[2017-03-31 12:25] sbezverk commented on #43815
Any chance to build the same fix for Centos as well? Our gating system mostly uses centos for kubernetes cluster base. If I have centos version I can guarantee approx. 100 runs of kubeadm init a day as testing.

[2017-03-31 12:27] fabiand commented on #41977
Let me rephrase the issue, as it might not be clear from my initial statement.

Whenever a Pod is exposing a service, then the service exposed by a specific pod can be accessed using the fqdn `specifc-pod-name.my-service.my-namespace.svc.cluster.local`.
For regular pods this is okay, as the name `specific-pod-name` is known in advance and can be used to reference to specific pod.
However, in the c

[2017-03-31 12:35] coreypobrien opened #43909 "Openstack LoadBalancer Service can potentially assign floating ip to unrelated resource instead of Neutron load balancer"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): openstack port

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG R

[2017-03-31 12:45] arun-gupta commented on #43834
@xiangpengzhao Understood but existing links should not break and should be redirected.

[2017-03-31 12:45] kargakis commented on #41977
@fabiand have you looked at the proposal for node-local services?
https://github.com/kubernetes/kubernetes/pull/28637

[2017-03-31 12:55] crassirostris commented on #42718
@richm What do you think about watching API server for pod updates and storing lookup table?

[2017-03-31 12:57] pizzarabe opened #43910 "Pods get the same IP address"
**BUG REPORT**

I noticed that some of my pods crashed after restarting several nodes. The reason was always a failed probe. E.g. `Liveness probe failed: Get http://10.1.22.18:9090/: dial tcp 10.1.22.18:9090`

After checking the pods I found some of them with the exact same IP address like other pods
For example my dashboard:
[code]

I found 10 pods with the exact same IP address (full list: https

[2017-03-31 13:05] RemonSinnema commented on #39592
Workaround: add the following to `/etc/apt/apt.conf`:

    Acquire::https::packages.cloud.google.com::Verify-Peer "false";

[2017-03-31 13:10] fredrik955 opened #43911 "Autoscaling: accept min-nodes value of 0"
**FEATURE REQUEST**

It would be convenient to accept `min-nodes` to be equal to `0` for autoscaling on node-pools.
If you want to run a resource-intensive batch process now and then this will save a lot of costs.

[2017-03-31 13:15] dinesh commented on #30617
@jlowdermilk is there any solution exists if I don't have `gcloud` installed in system, but have service account and `kubectl` ? ( Typically in CI environment )

[2017-03-31 13:19] Scukerman commented on #43905
`kubectl edit ds --namespace=kube-system kube-proxy`
And add `--cluster-cidr=x.x.x.x/x` to arguments list.

[2017-03-31 13:21] Bregor commented on #23920
BTW, PR about port mapper is still not merged: https://github.com/containernetworking/plugins/pull/1

[2017-03-31 13:56] ndenev commented on #32400
Looks like this task and the one that's referenced are different things. I'm running Kubernetes 1.5.4 and I do see pods getting evicted on low inodes, but that's not the same as triggering garbage collection.
Pods are evicted then the node is in NotReady state until someone gets there and cleans some images, since the disk free space is 50%, but there are no free inodes.

[2017-03-31 14:05] themarcelor commented on #24137
I think I got the steps to reproduce this.
Basically we need a deployment (with its respective ReplicaSet and Pod (s) ). The trick is to edit the yaml of the existing deployment and change its "label". Once the label is modified, run "`kubectl replace -f <yaml_file>`" and then check the following result:

Run "kubectl get pods", you will see two pods in the list, there will be a new pod with the n

[2017-03-31 14:16] richm commented on #42718
@crassirostris Do you mean in the log collector (e.g. fluentd)?

[2017-03-31 14:26] jeffwji commented on #33729
+1
Same problem for CentOS7 with docker 1.12

[2017-03-31 14:28] crassirostris commented on #42718
@richm Yes, sorry for the confusion. I'm basically advocating moving all enrichment logic to the log collector.

[2017-03-31 14:34] richm commented on #42718
@crassirostris This is what https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter is doing: it keeps a watch on the api server for changes to pod/namespace metadata, and enriches log records.  Are you suggesting something different?

[2017-03-31 14:38] bbeaudreault commented on #41598
I'd like to echo @kow3ns recent comment. The existing heuristic fails when the StatefulSet name has dashes in it. This is rather fragile considering dashes are the *only allowed separators* in kubernetes names. I've been bitten by this recently and had to remove all dashes from the name, which results in harder to reason about organization. The specific pod in question is sharded mysql, the statef

[2017-03-31 14:38] crassirostris commented on #42718
@richm No, I would love to see this approach standardized. I image companies that would prefer to implement their own logs exporter, not based on fluentd.

[2017-03-31 14:42] jcantrill commented on #42718
@crassirostris We have requested https://trello.com/c/5k85WYq1 being able to get the info from the kublet instead of the API server to avoid issues at scale we have seen with exhausting connections.  Something to consider.

[2017-03-31 14:47] squall0gd commented on #43815
@mikedanese patched debs are partially work for me. `kubeadm` is notifying that cluster is ready, but node itself is not. Moreover I am unable to hit apiserver now w/o `admin.conf`.

[2017-03-31 14:52] timothysc commented on #43843
@HardySimpson Could you submit a PR along with the benchmark test you used to perform your experiment?

[2017-03-31 14:53] pweil- commented on #15478
@portante @jcantrill Just to capture it here because we discussed it, here is the use case that we were thinking this might be useful for:

When the log recording pods starts encountering and logging errors the infra that gathers those errors will grab them and feed them back to the recording mechanism which in turn throws and logs more errors.

This feedback loop can be avoided by using filtering

[2017-03-31 14:53] crassirostris commented on #42718
@jcantrill Thanks!

As a side note, @wojtek-t suggested that switching to watching apiserver will improve performance and may solve the problem with the load completely: kubelet holds several watches on apiserver already and it proved to be able to scale. AFAIR, node team is blocked on the api-machinery team for implementing api on the kubelet and may take a while. Watching apiserver may be a way

[2017-03-31 15:02] ravisantoshgudimetla commented on #33431
Update:
- List is infact coming from shared lister.

Following are the values:
- The counters for listing from shared cache are around 176 on average of 3 runs.

[2017-03-31 15:06] mikedanese commented on #43815
@squall0gd nodes should become ready when a pod network is applied, e.g. `
kubectl apply -f https://git.io/weave-kube-1.6`

[2017-03-31 15:10] ravisantoshgudimetla opened #43912 "Use nodeinfo cache for getting node's taints information instead of computing it everytime."
We are computing the taints on node from node spec, every time in taints_tolerations at

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/taint_toleration.go#L71

Instead we can use node info cache's taints field for faster lookup.

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/schedulercache/node_info.go#L53

[2017-03-31 15:18] obnoxxx commented on #43815
In my test-environment (in vagrant, based on centos/7 machines), kubeadm just hangs. Using strace i can see it trying to connect to the kubelet server on the master , and doing FUTEX_WAIT, epoll_wait retry loops. But there is no single line ouf output coming from it.

kubelet fails to start, which seems to be the reason.
(But i can't see reasons for kublet failing to start..)

Is this the problem

[2017-03-31 15:39] k82cn commented on #43901
The "resourcequota" should be deleted when namespace deleted. Any steps on deleting namespace but resourcequota is NOT deleted

[2017-03-31 16:12] richm commented on #42718
@crassirostris

and

What log collector are you talking about?  Any log collector e.g. filebeat, logstash, splunk, fluentbit, rsyslog, fluentd?  That would mean implementing support for
* talking to the api server - k8s api
* implementing watches
* implementing a cache
* implementing the annotation logic
in all of these log collectors?

[2017-03-31 16:12] bostone commented on #43869
I'm trying to do the same with v 1.5.4 and it seems that the only version of kubeadm that is available is 1.6.0 that is broken. Why was the earlier version(s) removed? Anyone can comment?

[2017-03-31 16:18] rcoh opened #43915 "Large numbers of containers with inaccessible images DOS container starting process"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **Ker

[2017-03-31 16:18] TapasBhattacharjee commented on #43869
I went ahead with manual installation this time with yum -y install etcd kubernetes flannel which works for me. I will wait for a fix on kubeadm and continue with manually configured cluster. The following link is a great resource for manual cluster deployment on CentOS:
http://khmel.org/?p=1080

[2017-03-31 16:30] vdavidoff opened #43916 "kubelet counts active page cache against memory.available (maybe it shouldn't?)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
active_file
inactive_file
working_set
WorkingSet
cAdvisor
memory.available

---

**Is

[2017-03-31 16:34] pipejakob commented on #43815
@squall0gd Can you show us the exact message you're seeing? Based on what you describe, I wonder if you actually picked up the new .debs or were using older cached versions.

[2017-03-31 16:35] bgrant0607 commented on #4187
Google API style guide:
https://cloud.google.com/apis/design/

[2017-03-31 16:35] ekozan commented on #23920
if i have understand all thing https://github.com/kubernetes/kubernetes/pull/40948/files fix it temporary and definitive solution will be the cni plugin

[2017-03-31 16:39] jayunit100 commented on #43912
@ravisantoshgudimetla my usual comment measure twice + cut once :), can we demonstrate the performance hit here, or is there another issue that summarizes this defect?

[2017-03-31 16:42] crassirostris commented on #42718
@richm

Yes, any log collector, that's what I meant.

Yes. Do I understand you correctly, you point is that those collectors are well-integrated with popular logging formats, like journald, which support metadata and it makes it easy to introduce k8s-specific metadata without additional coding work on the log collector side?

[2017-03-31 16:49] richm commented on #42718
@crassirostris I know that fluentd and rsyslog support reading from journald.  I would assume they all support reading from journald.  So yes, if the k8s specific metadata were introduced into the log record as additional fields, like journal metadata, that would make it very easy on the log collector side.

[2017-03-31 16:52] ravisantoshgudimetla commented on #43912
#35117 - This is the one, I was refering to.

[2017-03-31 17:06] jayunit100 commented on #43912
How are we  measuring or confirming the performance improvement  here ?

[2017-03-31 17:14] jayunit100 commented on #42281
How are we measuring or confirming the performance improvement here ?

[2017-03-31 17:33] brenix commented on #43910
We had this issue too and were able to resolve it by ensuring `/var/lib/cni` was persisted across kubelet restarts.

For example, we added the following to our `kubelet.service` systemd unit to first create a directory on the host:
`ExecStartPre=/usr/bin/mkdir -p /var/lib/cni`

and then we added the following mount to the `RKT_RUN_ARGS` or `RKT_OPTS`:
[code]

After restarting the host, we are no l

[2017-03-31 17:44] vdavidoff commented on #43916
I'm trying to better understand how the kernel deals with the page cache in terms of active and inactive pages, and I may have just discovered that it actually does not reclaim active page cache (for example, if you echo 3 to drop_caches), or at least doesn't know what to do with it if there is no swap available (and as recommended by the Kubernetes documentation, my nodes have swap disabled). So

[2017-03-31 17:56] gnufied commented on #43873
It is called `--attach-detach-reconcile-sync-period` which can be configured to higher number.

Also we have made a number of fixes in 1.6 to improve api usage for aws.

[2017-03-31 18:06] jlowdermilk commented on #30617
@dinesh, if you don't have gcloud installed in the system, but you have a service account and kubectl, you can generate a kubeconfig for the cluster, either manually or by exporting kubeconfig from a box that does have gcloud. How I would do it:

1. On a machine with gcloud:

[code]
Then copy the kubeconfig file to your CI environment.

2. On your CI environment:

[code]

And you should be good to

[2017-03-31 18:11] rickypai commented on #43873
thank you. i will give that a try

[2017-03-31 18:26] dcbw commented on #43815
@thockin @davidopp so per Tim's suggestion I'll commandeer an existing issue or file a new one to track disentangling network readiness conditions and to convert them all over to taints instead of actual conditions, and copy in most of https://github.com/kubernetes/kubernetes/issues/43815#issuecomment-290597988 into it.

[2017-03-31 18:49] thenayr commented on #43815
Here's what is seemingly working for me with the `unstable` repo (only tested the master itself):

[code]

[2017-03-31 18:50] martindariocernadas commented on #26202
hi guys. is there a planned release where this "kubectl apply" would be implemented without this issue?

[2017-03-31 19:00] hjacobs commented on #43911
@fredrik955 node autoscaling is not part of Kubernetes core, what autoscaler do you use? There are two options I know:

* https://github.com/kubernetes/contrib/tree/master/cluster-autoscaler
* https://github.com/hjacobs/kube-aws-autoscaler

[2017-03-31 19:02] fredrik955 commented on #43911
@hjacobs That was unknown for me. I am using the first one.

[2017-03-31 19:03] dinesh commented on #30617
@jlowdermilk the first approach looks good. Regarding second one, won't I need "access-token", "expiry" under `auth-provider.config` ?

It seems I can also use `TokenFile` as a path of service account.

[2017-03-31 19:09] vishh commented on #43607
@crassirostris It will be an extension to the existing CRI API. kubernetes/community#306 is a high level user facing proposal. A detailed design  doc will be published by @jingxu97 at-least for the v1.7 work items.

A short summary around logging is as follows:
To prevent I/O abuse, kubelet through the CRI needs to have runtimes rate-limit logging from container's stdout and stderr. This is not po

[2017-03-31 19:10] hjacobs commented on #43911
@fredrik955 so I guess it makes sense to create an issue in the respective repo :smile:

[2017-03-31 19:17] bgrant0607 commented on #43815
Do we not run these tests on the 1.6 branch?

[2017-03-31 19:21] bgrant0607 commented on #43815
@davidopp Node conditions are intended to provide additional information for humans, for understanding what is going on, such as the reason, message, and transition time.

[2017-03-31 19:23] bgrant0607 commented on #43815
kubeadm doesn't look like it is tested on the release branch:
https://k8s-testgrid.appspot.com/release-1.6-all

[2017-03-31 19:36] dcbw commented on #43815
@bgrant0607 apparently the kubeadm e2e tests were disabled/non-functional for about a week leading up to the 1.6 release, IIRC

[2017-03-31 19:38] dcbw commented on #43815
@bgrant0607 are they intended primarily for human info, or is that just a happy side-effect?  If primarily for humans, should they be used for scheduling decisions like they currently are or should we move away from that?

[2017-03-31 19:45] jayunit100 commented on #33431
thanks; and What about removepod?

[2017-03-31 19:49] bgrant0607 commented on #43815
@dcbw Taints are intended to become the GUT of unschedulability and disruption. Eventually, the scheduler should ignore conditions.

https://github.com/kubernetes/kubernetes/pull/18263#issuecomment-169220144
https://github.com/kubernetes/kubernetes/issues/29178

[2017-03-31 19:52] yujuhong commented on #43607
@vishh is there an issue for this? We need to define what "rate limit" actually means. For example, journald just dropped log messages, and it could be frustrating to debug without relevant information.

[2017-03-31 20:01] vishh commented on #43607
@yujuhong None exists as of now. We do not plan on tackling logging until v1.8.
If it's urgent we can at-least spec out an API in v1.7 time frame.
I'm thinking of not dropping but instead just blocking. For example in the case of containerd, if a container is limited to 100 write IOPS, then the containerd logger can stall writes if that limit has been exceeded. This will result in application stal

[2017-03-31 20:03] vishh commented on #41507
@dchen1107 for finding an owner for this issue

[2017-03-31 20:08] kow3ns commented on #22368
We need something conceptually similar for StatefulSet as well

[2017-03-31 20:09] rushilpaul opened #43924 "Failed to pull image with "x509: certificate signed by unknown authority" error"
**BUG REPORT**

**Kubernetes version** :

Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}

Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78

[2017-03-31 20:17] #14895 closed

[2017-03-31 20:17] caesarxuchao commented on #14895
Close due to age.

[2017-03-31 20:39] jlowdermilk commented on #30617
`access-token` and `expiry` are filled in by kubectl itself on the first kubectl command run (and updated by subsequent runs). kubectl gets a token, then caches it inside of auth-provider.config.

[2017-03-31 20:41] vishh commented on #42718
FYI: https://github.com/kubernetes/community/pull/306 talks about managing logs in the kubelet which will require coordination between kubelet and logging agents to guarantee log prematurely rotating logs.

I disagree. Kubernetes should provide a Logging API that is not tied to a runtime. Given the recent changes with CRI, runtimes will have almost no control over logs and so kubernetes will have

[2017-03-31 20:42] vishh commented on #42718
@richm journald cannot (yet) handle per container rate limiting and capacity isolation. So it's not an option for multi-tenant k8s clusters. I sympathise with the want for having a single interface to consume logs (journalctl). Maybe a host level agent can ship all log data in `/var/log/pods` into journald?

[2017-03-31 20:44] rcoh commented on #43915
I've ruled out the actual image pull process as slow:
[code]

The problem is a long delay between `ContainerStarted` and actually attempting to download the image

[2017-03-31 20:45] bgrant0607 commented on #43867
@whitecolor This would be pretty hard, so I can't see us doing it.

[2017-03-31 20:45] #43867 closed

[2017-03-31 20:48] bgrant0607 commented on #43815
Note that if we're going to add a taint to nodes, we need to consider

a) Backward compatibility, as with the master taint: https://github.com/kubernetes/kubernetes/pull/43537

b) Version skew. When upgrading clusters to 1.6, kubelets will be of mixed releases, and some may be as old as 1.4.

[2017-03-31 20:55] bgrant0607 commented on #42001
See also #29178

[2017-03-31 21:01] ymqytw commented on #43886
@shiywang Don't forget to update the auto completion for your new commands. It is located in `pkg/kubectl/cmd/cmd.go`

[2017-03-31 21:04] richm commented on #42718
@vishh Fine with me.  You can't base your logging solution on journald.  I will have to use what I can get.  I must have pod metadata (uuid, labels, annotations) and namespace metadata (uuid) that I can associate with each log record.  I don't care how I get them, as long as they are readily available for general purpose log collecting agents.  Note that labels and annotations are dynamic - they c

[2017-03-31 21:06] Bregor commented on #23920
@ekozan thanks for the link and good luck with upgrade!

[2017-03-31 21:16] rcoh commented on #43915
After a bit of detective work, we figured out the root cause, and I've updated the ticket.

[2017-03-31 21:19] while1eq1 commented on #28226
@mgoodness @borsboom

When I try to do this it seems to fail. From what im seeing once the PVC is "bound" it receives a Vol-ID bound to that AZ:
[code]

and when other pods in other VPC's attempt to use it I get the following error
[code]

[2017-03-31 21:53] ahmetb commented on #41483
This UI will be removed soon https://github.com/kubernetes/kubernetes.github.io/issues/2220

[2017-03-31 21:59] liggitt commented on #43784
@justinsb are you setting `--anonymous-auth=false` or leaving the authorization mode as `AlwaysAllow`?

[2017-03-31 22:12] rushilpaul commented on #43924
I have asked the question here: http://stackoverflow.com/q/43150437/969784

[2017-03-31 22:14] nkaravias commented on #43924
Your CA needs to get added in your local trust store even if you're using --skip-tls-verify.

[2017-03-31 22:31] z1oy opened #43929 "Error when deleting pvc (Error: Volume has no class annotation)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Kubernetes versi

[2017-03-31 22:33] z1oy commented on #43929
@gnufied

[2017-03-31 22:36] k8s-merge-robot opened #43930 "TestPodDeletionWithDswp {volume}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/4226/
Failed: TestPodDeletionWithDswp {volume}

[code]

Previous issues for this test: #42990

[2017-03-31 22:39] jwendell commented on #28167
I'm working on this, have a working implementation. It's only missing the tests.

What I did was to add another field to v1.PodLogOptions, indicating which stream the user wants: stdout, stderr or both (default if not provided, to keep current behavior). This is easy to add/implement as it doesn't break API.

@ncdc , by "define a protocol for streaming back separate streams for logs" you mean retu

[2017-03-31 22:44] mtaufen opened #43931 "Make e2e node tests connect over secured localhost"
wrt https://github.com/kubernetes/kubernetes/pull/40050#discussion_r104735453, `test/e2e_node/services/kubelet.go`'s `getAPIServerClientURL()` returns `http://localhost:8080`, and in #40050 we set `insecure-skip-tls-verify: true`. We should instead connect securely to localhost in the e2e_node tests.

[2017-03-31 22:45] mtaufen opened #43932 "Disable unsecured localhost in all testing"
We should eventually disable unsecured localhost for all of our tests. This should turn up instances where unsecured localhost is used. Then we should write a test that tries to use unsecured localhost and is expected to fail, so we get a signal if it is ever re-enabled.

wrt https://github.com/kubernetes/kubernetes/pull/40050#discussion_r104735453

also #43931

[2017-03-31 22:50] ncdc commented on #28167
Yes, API breakage. Could be json, could be something else. Could maybe
change what's returned based on client version?

On Fri, Mar 31, 2017 at 6:40 PM Jonh Wendell <notifications@github.com>
wrote:

[2017-03-31 23:15] coeki commented on #43815
so to recap or as I parse this:

based on @dcbw

nodeNetworkUnavailable is a cloud provider thing, not tied to kubeadm atm, we might run into this.

But NodeReady, which is the root cause for the loop, needs to more granular. This is what @davidopp wants to be a taint, based on a list that's ticking off boxes, in regard to probe/liveness, CNI ready and etc.

fine, although you could argue, why not

[2017-03-31 23:15] jswoods commented on #41916
I am also seeing this issue and I'm running 1.5.5. The LastTransitionTime for KubeletHasSufficientDisk aligns with the time the nodes re-joined the cluster, but the nodes did not have low disk space.

There is nothing notable in the kubelet with regard to the NodeNotReady state. But as with @deiwin, I do see a decrease in the `MountVolume.SetUp succeeded for volume` messages. I also saw this in th

[2017-03-31 23:26] kfox1111 commented on #43815
@coeki I'd also add a request for N-1 versions to be kept in rpm/deb repos. All major releases eventually end up with a problem or two. Operators have long avoided  N.0 releases for production for that very reason. It works well if previous versions are left around for a while. But this time 1.5.x was removed entirely before 1.6 was made stable. That puts operators that weren't very prepared (loca

[2017-03-31 23:27] mtaufen commented on #43253
If we are unsure of whether we will ever dynamically change these, we should leave them out of KubeletConfiguration. We can add them back if we need to change them dynamically, but ideally I'd like to get KubeletConfiguration as small as possible and add categories of config back as needed.

We should still define e.g. a DockerConfig type to keep the fields grouped together. This can be part of #4

[2017-03-31 23:30] coeki commented on #43815
@kfox1111 gating is a problem too....we need a better strategy on that :)

[2017-03-31 23:35] jimmycuadra commented on #43815
Why even delete old releases at all?

[2017-03-31 23:40] davidopp commented on #43815
Agreed. UX is definitely a major reason why we probably can't get rid of node conditions. However, I do believe we can get rid of all uses of node conditions as a trigger for master actions (like eviction and blocking scheduling), and use taints for that instead.

In the long run (like v2 API long-run) it's conceivable we could add reason and message to taints and then get rid of node conditions,

[2017-03-31 23:41] kfox1111 commented on #43815
@coeki no, what I was talking about has nothing to do with gating. Gating can't find all problems unless you have a gate that tests for everything that could possibly ever be done. Operators like to do weird stuff in their environments. :) Prohibitively expensive to test all things possible.

I'm asking for not deleting the old release before the new one has made it at least through the first bugf

[2017-03-31 23:48] coeki commented on #43815
@kfox1111, that is what gating does, not go with something that does seem good, and throwing out the old good trusted way, what happened now.

@davidopp I do agree that labels and taints might have a different distinction from a api way of looking at it, UX and machinery, but well it's diffuse right now. Too me, that is :)

[2017-03-31 23:58] coeki commented on #43815
Anyway, you lure me into a discussion, we really not to have in this issue, that was my point.

[2017-04-01 00:07] obnoxxx commented on #43815
I'd like to ask again: if I see "kubeadm init" just hanging there with no output (trying to connect to kubelet server, which has failed to start), am I suffering of this issue? And if this is a case, is #43835 a fix for me?

Now where can I get:

* either older (pre 1.6.0) versions of kubeadm / kubectl / kubelet
* or a patched version of kubeadm (including #43835 or whatever other fix)?

Thanks!

[2017-04-01 00:15] obnoxxx commented on #43815
(note: the patched version of kubeadm referenced in the mentioned commit above does **not** work for me...)

[2017-04-01 00:31] mikedanese commented on #43815
@obnoxxx try the tip of the release-1.6 branch.
[code]

https://storage.googleapis.com/kubernetes-release-dev/ci/v1.6.1-beta.0.12+018a96913f57f9/bin/linux/amd64/kubeadm

[2017-04-01 00:32] obnoxxx commented on #43815
@mikedanese thanks! trying...

[2017-04-01 00:42] mikedanese commented on #43815
If you run kubeadm without installing the os package you need to
[code]

[2017-04-01 00:47] obnoxxx commented on #43815
@mikedanese thanks. I am installing the os package (from kube repo)  and then installing the binaries from the web url over the binaries from the rpms...

the 1.6.1-beta.0.12 version did **not** work for me though:
kubeadm init still hangs without **any** output. (trying to connect to kubelet)

[2017-04-01 00:51] kfox1111 commented on #43815
Dont forget the systemd driver too if centos.

[2017-04-01 00:52] obnoxxx commented on #43815
systemd driver?

[2017-04-01 00:54] HardySimpson commented on #43843
@timothysc yes, I have submit the PR and had some problems, still working on it.

[2017-04-01 00:55] mikedanese commented on #43815
https://github.com/kubernetes/release/issues/306

[2017-04-01 01:01] obnoxxx commented on #43815
gosh, thanks, that is better! :-)

[2017-04-01 01:24] #43851 closed

[2017-04-01 01:30] #43401 closed

[2017-04-01 01:37] vdavidoff commented on #43916
At this point in my research I'm wondering if drop_caches releases active page cache because it actually first moves pages to the inactive_list, then evicts from the inactive_list. And if something like that is happening, then maybe it's not possible to determine what from the active_list cold be dropped without iterating over it, which is not something cadvisor or kubelet would do. I guess I was

[2017-04-01 01:53] #43692 closed

[2017-04-01 03:45] xiangpengzhao commented on #43834
@arun-gupta Is there any documents in which you find an existing link directed to https://kubernetes.io/docs/user-guide/scheduled-jobs/ or, do you just visit this url directly in your browser?

If former, we should fix the link. If latter, we can do nothing to fix it, because when you visit any non-existent url of kubernetes.github.io, it will return a 404 error. e.g. https://kubernetes.io/docs/us

[2017-04-01 03:59] silentred opened #43935 "No access to resources due to new auth strategy by kubeadm"
**Kubernetes version** (use `kubectl version`):
kubeadm v1.6.0

**Environment**:
- **OS** (e.g. from /etc/os-release):

NAME="Ubuntu"
VERSION="16.10 (Yakkety Yak)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.10"
VERSION_ID="16.10"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="http://www.ubuntu.com/

[2017-04-01 05:17] seanmccully commented on #43389
Ditto on the Openstack Heat,

[code]

[2017-04-01 05:32] bgrant0607 commented on #10506
cc @mbohlool

[2017-04-01 05:34] bgrant0607 commented on #16095
cc @mbohlool

[2017-04-01 05:36] bgrant0607 commented on #14955
see also #12208

[2017-04-01 05:38] bgrant0607 commented on #17807
Done, finally

[2017-04-01 05:38] #17807 closed

[2017-04-01 05:40] bgrant0607 commented on #19530
See also #18924

[2017-04-01 05:44] bitmage opened #43938 "Symlink in writable volume overwritten"
If I mount a secret as a volume in `/etc/secrets`, then symlink a file from another volume during my startup command, the symlink gets removed sometime during the container startup lifecycle.

This is sort of strange and inconvenient, and results in additional steps and symlinking in order to combine secrets volumes that need to end up in the same destination.

Please see [reproduceable configurat

[2017-04-01 07:12] rootsongjc commented on #43856
+1 Same issue on **CentOS 7.2.1511**
[code]

[2017-04-01 07:47] wanghaoran1988 commented on #43845
@k82cn Are you working on this? if no, I can take it.

[2017-04-01 08:21] dixudx commented on #43924
@rushilpaul
* First `--insecure-skip-tls-verify` is not a valid argument for `kubectl create`;
* Actually `x509 error` is on `docker` side. The daemon failed to pull image from that insecure registry. You can refer to [insecure docker registry](https://docs.docker.com/registry/insecure/) on how to trust/skip the registry security.

[2017-04-01 08:42] strugglingyouth opened #43941 "How to try to be scattered on a different host with the specified label？set scheduler policy or node affinity，is it ok？"
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:36:33Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"

[2017-04-01 09:35] NickrenREN commented on #43929
@jsafrane  Should we add storage-class annotation to volume when provisioned if pvc has this ann ?

[2017-04-01 09:56] rushilpaul commented on #43924
@dixudx I forgot to mention it. I installed the server certificate globally on this kubernetes master node and then restarted the docker service. After that I am successfully able to manually pull that image using `docker pull 10.78.0.228:5000/monitorms`

So I'm still confused about why I'm getting that error, if it coming from docker side.

[2017-04-01 10:07] adohe commented on #43886
@shiywang cool, what we have already talked about, really like to see this.

[2017-04-01 10:40] k82cn commented on #43845
@wanghaoran1988 , nop; please go ahead.

[2017-04-01 10:44] rushilpaul commented on #43924
@dixudx Also, the kubernetes help text lists `--insecure-skip-tls-verify` as one of the "global" options and says that it can be passed to any Kubernetes command

[2017-04-01 10:47] squall0gd commented on #43815
@pipejakob I don't have access to this logs right now, but I've checked kubeadm version and it was the same version as @webwurst has got. Moreover I've checked possible `kubeadm` versions with `apt-cache policy kubeadm`. And there was only one entry - from kubernetes-xenial-unstable.
@mikedanese I've tried with flannel before posting ;)

[2017-04-01 11:33] xsgordon commented on #43909
/cc @k8s-sig-openstack-bugs

/cc @idvoretskyi can we get the sig/openstack label on this one please :)

[2017-04-01 11:36] gyliu513 opened #43944 "NodePort service will hang if no pod behind the service"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-01 13:38] Gugic commented on #36572
@Iulian7, @huysamen the thing is you need to use some kind of wildcard to attach desired path. Using "/gate" in path will work only for exact "/gate" endpoint and will not work for "/gate/info". So you should use "/gate/*".

It's actually not clear from documentation, because almost all examples contains strict endpoints.

[2017-04-01 13:51] supereagle commented on #43924
`--insecure-skip-tls-verify` just skips the server's certificate verification, not docker registry, so it can not solve the problem. The error is from Docker daemon while pulling image.

Maybe you should try the command `docker pull 10.78.0.228:5000/monitorms` on the k8s nodes which hold the pod, not the k8s master.

[2017-04-01 14:24] miadabrin commented on #43815
Guys what is the status quo for the fix? is it gonna move to the stable repository anytime soon?

[2017-04-01 14:47] ehernandez-xk commented on #30961
same error following this basic example of a pod

[code]

[code]

[2017-04-01 15:19] justinsb commented on #43944
NodePort is a layer 4 concept (TCP).  If you want a 404, that is Layer 7 (HTTP).  You should probably be using ingress.

[2017-04-01 15:20] justinsb opened #43948 "Unable to revert deployment to previous version"
K8s 1.6.0:  When I try setting a deployment back to a version that already existed (i.e. A -> B -> A), I get the following error logged in k-c-m:

[code]

(In my case, I was changing the kube-dns config map from optional: true -> optional: false -> optional: true, around a 1.5 -> 1.6 -> 1.5 upgrade / downgrade)

This is particularly problematic because the new deployment is then not configured - t

[2017-04-01 15:23] smarterclayton commented on #28167
If you want separate streams the websocket endpoint works straight up

[2017-04-01 15:24] smarterclayton commented on #28167
We can switch kubectl logs to using web sockets and only fall back if the server rejects it (web socket log streams have been in since 1.3 or so)

[2017-04-01 17:21] gtirloni commented on #43805
Related discussions https://github.com/coreos/bugs/issues/1435

[2017-04-01 17:31] andrewrynhard opened #43949 "self-hosted option in kubeadm fails"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
Bootstrapping a cluster with the patched version of `kubeadm` (https://github.com/kubernetes/kubernetes/pull/43835), the self hosted option fails with:
[code]

**What you expected to happen**:
self-hosted scheduler should start.

**How to reproduce it**

[2017-04-01 18:10] githubvick commented on #43819
Hi,

I tried the above and it always hangs in the Created API client, waiting for the control plane to become ready with these in logs..

[code]

I had also added this parameter systemd

Environment="KUBELET_KUBECONFIG_ARGS=--kubeconfig=/etc/kubernetes/kubelet.conf --require-kubeconfig=true --cgroup-driver=systemd"

Is it because Im running behind a corporate proxy?

Thanks,

[2017-04-01 20:20] luxas commented on #43949
@mikedanese this was exactly what I was trying to say in https://github.com/kubernetes/kubernetes/pull/43835#issuecomment-290531847, however was mobile when travelling so hadn't all available context.

Do we really want to break self-hosting in v1.6.1?

I'm favor of marking v1.6.1-beta.0-5+abcdef with your patch stable in the deb/rpm

[2017-04-01 20:23] luxas opened #43950 "Make the kubeadm on the release-1.6 a little bit more stable"
~~I think we should push kubeadm `1.6.1-beta.0.5+d8a384c1c5e35d-00` to the stable branch of the deb/rpm packages for now (that includes https://github.com/kubernetes/kubernetes/pull/43835#issuecomment-290531847), but consider renaming it `1.6.0` or something temporarily this week until v1.6.1 is released.~~

~~Why rename? Because v1.6.1-beta.0 > v1.6.1 in debs, which is stupid in this context
Why

[2017-04-01 21:48] kargakis commented on #43948
Is this from local testing? Can you post the full log from the controller manager? Can you also post the output of:

kubectl get deploy,rs,pods -l kube-dns_label_here -n kube-system -o yaml
kubectl get events -n kube-system

[2017-04-01 22:25] kargakis commented on #43948
It seems that the controller manager was fast enough to process the kube-dns deployment in less than 0.2 seconds before the cache got updated with the replica set. Can happen when your queues are empty. We need to verify that rate-limiting actually works and maybe revisit its settings. Also we probably want to bump the retries to something higher, the deployment controller is the only one out of t

[2017-04-01 23:12] thockin commented on #43938
@saadali @pmorie - this SHOULD work, right?

On Mar 31, 2017 10:45 PM, "Brandon Mason" <notifications@github.com> wrote:

[2017-04-01 23:57] gyliu513 commented on #43944
Thanks @justinsb , but the problem is that when query the service if there is no pod behind, then the service will hang, do you have any suggestions/comments for this? I think at least the service should not hang here.

[2017-04-02 00:19] gyliu513 opened #43952 "`make test KUBE_COVER=y` failed on Mac OS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-02 00:31] liggitt commented on #43935
The bearer token file authentication can still be valid, but permission must be given to the user the token identifies.

[2017-04-02 00:33] liggitt commented on #43935
Granting permissions to API users with kubectl commands is described in https://kubernetes.io/docs/admin/authorization/rbac/

[2017-04-02 00:35] liggitt commented on #43935
You can give a specific user (like the one the Prometheus token identifies) superuser permissions by binding the `cluster-admin` role to them

[2017-04-02 00:40] liggitt commented on #43950
Renaming releases is a little crazy making when it comes to support questions

[2017-04-02 00:42] liggitt commented on #43924
That is a valid arg to `kubectl create` but just controls trust between kubectl and the API server

The pull error is between the node and the docker registry. The node either needs to trust the certificate or treat that registry as an untrusted registry (which makes the node tolerate TLS verification errors)

[2017-04-02 01:33] ravilr opened #43953 "ebtables filtering rules to filter out arp spoofing"
kubernetes clusters using shared linux bridge networking(docker, flannel, kubenet?) for connecting the containers with in the same host are prone to cross-container man-in-the-middle attacks through arp spoofing/poisoning.
here is an issue reported against lxc: https://bugs.launchpad.net/ubuntu/+source/lxc/+bug/1548497

I'm not sure whether this falls in the realm of CNI network plugins or kuberne

[2017-04-02 02:00] gyliu513 opened #43954 "Support incremental scale for deployment"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-02 02:44] cblecker commented on #43952
/assign

Pending fix in #43955

[2017-04-02 02:48] cblecker commented on #43944
@gyliu513 As NodePort is a layer 4 networking concept, a hang/timeout when there is nothing available to answer the request is expected. As @justinsb mentions, if you need a layer 7 application level response, then something like an ingress would be better.

[2017-04-02 07:11] rushilpaul commented on #43924
@supereagle I am going to add the insecure registry option to the docker configuration file on the k8s nodes. Hopefully that should do the trick

[2017-04-02 09:29] discordianfish commented on #12835
I'm running kubelet in standalone and need to pull a image from a private registry. Since the kubelet standalone can't use secrets, I followed https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-repository to configure /root/.docker/config.json. Same as OP, I can manually pull images with docker but kubelet still fails to pull the image with `denie

[2017-04-02 09:54] xilu0 opened #43957 "using network plugins “cni”: cni config unintialized; Skipping pod"
hi,
      I created the kubernetes cluster 1.6.0 by using kubeadm kubeadm init.
I am getting error messages in /var/log/messages.
**ubelet: W0402 05:41:21.534772   20797 cni.go:157] Unable to update cni config: No networks found in /etc/cni/net.d
 kubelet: E0402 05:41:21.534946   20797 kubelet.go:2067] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:doc

[2017-04-02 10:07] gyliu513 commented on #43944
I see, thanks @justinsb @cblecker

[2017-04-02 10:07] #43944 closed

[2017-04-02 10:51] gyliu513 opened #43958 "SessionAffinity ClientIP mode may proxy all request from different client to same pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-02 12:18] frankvolkel commented on #43889
Realised that I posted in kubernetes instead of kops; closing

[2017-04-02 12:18] #43889 closed

[2017-04-02 12:23] k8s-merge-robot opened #43959 "ListResources After {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/903/
Failed: ListResources After {e2e.go}

[code]

Previous issues for this test: #42073

[2017-04-02 14:43] deitch opened #43961 "SNI documentation is backwards for (certs,keys) and for (certs, keys:domains)"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?**  SNI Cert Key order

---

**Is this a BUG REPORT or FEATURE REQUEST?** Bug Report

**Kubernetes version** 1.6

**Environment**: (irrelevant but still)
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS 1298.7.0
- **Kernel** (e.g. `uname -a`

[2017-04-02 15:15] bbeaudreault commented on #29972
I've also seen this issue, and we are not running CoreOS

[2017-04-02 15:58] goblain opened #43962 "[proposal] kubectl port-forward listen on custom address"
Implementing this proposal that will solve issues raised in https://github.com/kubernetes/kubernetes/issues/36152 and https://github.com/kubernetes/kubernetes/issues/29678. In short: allow binding on addresses other then currently supported `127.0.0.1` and `::1`

The idea is to implement a new method `NewOnAddress` in pkg/client/unversioned/portforward/portforward.go that will add an address param

[2017-04-02 16:04] goblain commented on #43962
@kubernetes/sig-cli-proposals

[2017-04-02 16:45] smarterclayton commented on #41598
Agree, putting this on the 1.7 radar for now.

[2017-04-02 17:51] kargakis opened #43964 "Case study: Prow Jobs (and why Jobs are not enough for k8s testing)"
prow is starting to migrate away from Jobs into ProwJobs (TPR). See https://github.com/kubernetes/test-infra/issues/2054 + https://github.com/kubernetes/test-infra/pull/2218 + https://github.com/kubernetes/test-infra/pull/2243. @kubernetes/sig-apps-misc I think it's worth investigating if this split is really necessary and if k8s native Jobs can be evolved to continue being used for testing k8s wh

[2017-04-02 18:19] kargakis commented on #43948
@kubernetes/sig-apps-bugs @deads2k

[2017-04-02 19:12] kargakis commented on #43948
Rate-limiting works fine, we need to add more retries.

[2017-04-02 20:00] yoks opened #43966 "Kubelet 1.6 do not change hairpin mode to 1"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Cisco B Series Baremetal
- **OS** (e.g. from /etc/os-release): Centos 7.2
- **Kernel** (e.g. `uname -a`): 4.10.6-1.el7.elrepo.x86_64
- **Install tools**: kubeadm 1.6.1 (beta)
- **Others**: Docker 1.12.6, Flan

[2017-04-02 20:35] r0bj opened #43967 "kubelet 1.6 looks for CNI binaries in wrong path"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: bare-metal
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04
- **Kernel** (e.g. `uname -a`):  Linux dev-k8s-controller-p1 4.4.0-53-generic #74~14.04.1-Ubuntu SMP Fri Dec 2 03:43:31 UTC 2016 x86_64 x86_64 x86

[2017-04-02 21:40] justinsb commented on #41598
@bbeaudreault what are the symptoms that you are seeing?  Suboptimal spreading, or an actual failure?  If you stateful set name is `dname-shared-version` then we will seed the spreading based on `version`, but should still spread across zones.

[2017-04-02 22:30] liggitt commented on #43961
@sttts

[2017-04-02 22:47] bgrant0607 commented on #3692
I  believe @jbeda mentioned something like this in his kubecon talk.

[2017-04-02 22:50] bgrant0607 commented on #3692
Another approach several people have mentioned would be to run an addon to convert watch events to other types of events, such as in Kafka and/or in another form easily consumable by FaaS.

This is also effectively what kube-state-metrics does, for prometheus-style metrics.

[2017-04-02 23:43] cblecker commented on #43962
@kubernetes/sig-cli-misc

[2017-04-03 01:50] #43935 closed

[2017-04-03 02:58] justinsb opened #43969 "NodePort rejection should be on input chain"
In #43415 we added a REJECT rule for nodeport services with no endpoints, to prevent CLOSE_WAIT sockets accumulating.  But I think we put them onto the wrong chain.  cc @thockin

With 1.6.0, here is some example output.  `kube-ingress/ingress-nginx` has no endpoints.

[code]

So the NodePort reject is on the OUTPUT rule, but I think it should be on the INPUT rule.

When I manually added this:

`ip

[2017-04-03 03:10] liggitt commented on #11816
@justinsb does kops enable kubelet authentication/authorization?

[2017-04-03 04:01] activeshadow commented on #35238
I'm seeing a similar issue... I'm running the `kubelet` on a hardware-based node (so no cloud provider), and if the `kubelet` isn't able to reach the K8s master when it first starts up it gets into this state and stays in this state even after it's able to communicate with the K8s master. The only way to fix it is to restart the kubelet with the K8s master reachable.

I tried patching the `NodeRea

[2017-04-03 04:02] activeshadow commented on #43768
OK, so it looks like this isn't a network issue... see my [comment here](https://github.com/kubernetes/kubernetes/issues/35238#issuecomment-291044095).

[2017-04-03 05:50] vaibhavsood opened #43970 "TestTcpHealthChecker unit test fails for Go 1.8 ppc64le on master branch"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
TestTcpHealthChecker, pkg/probe/tcp

---

**Is this a BUG REPORT or FEATURE REQUEST?*

[2017-04-03 06:28] thockin commented on #43969
You appear to be correct.  I tried desperately to convince myself
otherwise, simply out of spite, but alas...

On Sun, Apr 2, 2017 at 8:00 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2017-04-03 06:38] davidopp opened #43971 "Handling cycles in requiredDuringScheduling PodAffinity"
@gmarek and @wojtek-t brought up two related issues with the current implementation of requiredDuringScheduling PodAffinity.

1) If pod A has requiredDuringScheduling affinity for pod B, and pod B has requiredDuringScheduling affinity for pod A, then neither will ever schedule. (More generally any time there is a cycle, none of the pods in the cycle will schedule.) We fixed this (in a hacky way) f

[2017-04-03 06:47] CallMeFoxie commented on #43704
Seeing this on Debian Jessie as well:
# docker version
 Version:      1.12.6
 API version:  1.24
overlay2 fs
RHEL7.2 kernel (3.10.0 with backported overlay2 driver)

adding --cgroups-per-qos=false --enforce-node-allocatable="" seems to have fixed it as well here.

[2017-04-03 06:57] k8s-merge-robot opened #43973 "TestShortNames {storage}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/4318/
Failed: TestShortNames {storage}

[code]

[2017-04-03 07:01] xilu0 commented on #43967
@r0bj Good, very helpful to me

[2017-04-03 07:04] errordeveloper commented on #43704
So is this a Debian machine with a RHEL kernel or, perhaps, you've not
pasted the right info here?

On Mon, 3 Apr 2017, 07:47 Ashley, <notifications@github.com> wrote:

[2017-04-03 07:10] thockin commented on #43953
I think this should fall into CNI

@dcbw @freehan

On Sat, Apr 1, 2017 at 6:33 PM, ravilr <notifications@github.com> wrote:

[2017-04-03 07:11] CallMeFoxie commented on #43704
Yes it is a Debian machine with a RHEL kernel.

[2017-04-03 07:26] kgrvamsi opened #43974 "Kube-controller Issues connecting to the API server"
**Is this a BUG REPORT or FEATURE REQUEST? (choose one):** BUG REPORT

**Kubernetes version (use kubectl version):**

[code]

Environment:
* Cloud provider or hardware configuration: Local (Vagrant)
* OS (e.g. from /etc/os-release):

[code]

**Kernel (e.g. uname -a):**

[code]
**What happened:**
I tried installing the Kubernetes cluster from the scratch by bringing up the individual components. Et

[2017-04-03 08:05] eana opened #43975 "Existing resources in kubernetes 1.5.4 are not created after upgrading to 1.6"
**BUG REPORT:**

Existing resources in `kubernetes 1.5.4` are not created after upgrading to `1.6`

The `etcd 3.1.3` cluster is healthy:
[code]

The resources available in `kubernetes 1.5` are still available in `etcd`:

[code]

The apiserver is started as bellow:
[code]

Not sure if is related with this problem, but I also noticed the following errors:
[code]

**I also tried (with the same result

[2017-04-03 08:09] Kuckkuck commented on #36485
I have the same issue, when a node reboots because of a CoreOS update, my elasticsearch init containers, which set vm.max_map_count=262144 via init container, are down, because the values wasn't set during reboot. When I kick the pods, the container comes up.

[2017-04-03 08:22] CallMeFoxie opened #43976 "1.6.0 kubelet doesn't work with 1.5.2 apiserver"
Hi,
I've updated our test instance of kubelet/kubectl and hyperkube apiserver+scheduler+controller from 1.5.2 to 1.6.0 on one of three HA nodes and none of the pods on the host node came up because of (kubelet log, same in the kubectl events/describe pod):
W0403 09:33:16.378869  113540 config.go:361] Pod[5] (dashboard-cvd3m_kube-system(63446b97-0e11-11e7-a2de-842b2bfe82f1)) from api failed validat

[2017-04-03 08:31] kargakis opened #43977 "PD should be mountable flake"
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/43965/pull-kubernetes-e2e-gce-non-cri/5987/

@kubernetes/sig-storage-test-failures

[2017-04-03 08:33] ChipmunkV commented on #43815
@mikedanese patched debs are doing the same "network plugin is not ready" thing.

[2017-04-03 08:40] gmarek commented on #36054
@calebamiles did you verify that it doesn't happen any more?

It's not an auto-filed issue, so if no one adds anything by hand there won't be any updates. The current approach makes me not care about filing relevant issue with root causes anymore.

[2017-04-03 08:45] gmarek commented on #34581
/unassign @wojtek-t @gmarek
/assign @mwielgus

[2017-04-03 08:46] discostur commented on #43815
Can anybody tell me how to build a patched version of kubeadm for rhel (rpm) ?

[2017-04-03 09:00] kargakis commented on #37435
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/43896/pull-kubernetes-e2e-gce-non-cri/5864/

[2017-04-03 09:05] ChipmunkV commented on #43815
@mikedanese with patched debs it eventually reports that init was successful. Can even add another node. But still spamming "network plugin is not ready" and overall thing doesn't work:

[code]

[2017-04-03 09:18] pizzarabe commented on #43910
@brenix Thanks! This resolved my Problem :)

I will close that, bc it does not seems like a k8s issue.
@emptywee opened a pull to fix that issue in CoreOS (thanks for that)

[2017-04-03 09:18] #43910 closed

[2017-04-03 09:23] evilfrog commented on #18652
I had 1 pod running 2 containers (1 doing nothing - just providing code).

It turned out I need to specify "requests" on both of the containers.

[2017-04-03 09:35] gmarek commented on #32044
@kubernetes/test-infra-maintainers - this test does not belong to scalability sig, it's a node suite. Can we please prevent the bot from adding sig/scalability label on it's failures?

[2017-04-03 09:52] fabiand commented on #31123
@resouer we are also seeing this sometimes. Are you saying this is not a bug?
It rather needs to be solved by ensuring that the labels are settled when the daemonset gets defined?

[2017-04-03 09:52] equinox0815 commented on #38372
We have a very similar problem with kubelet. An underlaying bug in go would explain this. Anyone else experiencing that issue with kubelet as well or is it just us?

[2017-04-03 10:09] ChipmunkV commented on #43815
@mikedanese with patched debs the init reports success, but the "network plugin is not ready: cni config uninitialized" message persists.

The master node is in `NotReady`.

The `weave-net` (weaveworks/weave-kube:1.9.4 - https://github.com/weaveworks/weave/releases/download/latest_release/weave-daemonset-k8s-1.6.yaml)  is in `1/2       CrashLoopBackOff`:
[code]

The `kube-dns` pod is in `0/3

[2017-04-03 10:52] deitch commented on #18174
Is this still open, or is there a cluster-aware kubelet/kube-proxy?

Would it not have been simpler to just grab a solution - any one: round robin, bootstrap, etc. - pick one, it doesn't matter which, just to get _something_ in there, and then add algorithms afterwards?

[2017-04-03 10:59] ksr1 opened #43980 "Building Cassandra Docker image fails"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Kubernete

[2017-04-03 11:07] #42037 closed

[2017-04-03 11:10] kargakis commented on #41697
@janetkuo this shouldn't be an issue in 1.5.4

[2017-04-03 11:21] pstadler commented on #43815
@ChipmunkV You probably need to configure kube-proxy to run in userspace. This has been an issue in 1.5 as well.

[code]

[2017-04-03 11:22] kargakis commented on #34598
Fixed in https://github.com/kubernetes/kubernetes/pull/41250

[2017-04-03 11:22] #34598 closed

[2017-04-03 11:38] kargakis commented on #42752
MinReadySeconds proposal is https://github.com/kubernetes/community/pull/478

[2017-04-03 11:47] #23252 closed

[2017-04-03 11:51] kargakis commented on #22512
What kind of tests do we need for this one?

[2017-04-03 11:53] kargakis commented on #36456
@kubernetes/sig-scheduling-feature-requests

[2017-04-03 12:03] smarterclayton commented on #36485
Any node restart should re-run init containers, so we should fix that if it no longer happens.  Same for infracontainer recreation.

[2017-04-03 12:06] smarterclayton commented on #3692
Yes - I would be in favor of an effort to systematically transform
state changes into ordered entries in:

1. A log (cloud or disk)
2. Elasticsearch
3. Kafka or other ordered queue

In a way that allows other "lifecycle events" to also be generated.
Even if that's a library others can reuse, it's a good step towards
larger "infrastore" type history of a cluster.  Read apis are almost
secondary - e

[2017-04-03 12:26] ChipmunkV commented on #43815
@pstadler, thanks to @errordeveloper in chat who has pointed out that I've got overlapping networks, I've reconfigured the `IPALLOC_RANGE` in weave.

[2017-04-03 12:50] cmluciano commented on #43966
Was this a fresh install or were the nodes drained and then upgraded?

[2017-04-03 13:06] Ch3ck commented on #42950
@sttts I am interested in working on this project. Outside GSoC for sure. I've been a Kubernetes user and I am a contributor to the Docker project.

[2017-04-03 13:11] adohe commented on #33767
@smarterclayton do we need to fix this now? I notice that you commented in #41880, this will be fixed as server side get.

[2017-04-03 13:13] yugesha commented on #43815
Thanks @thenayr. I could bring up the Kubernetes master but also could connect one worker to it using kubeadm join.  Will post more updates soon

[2017-04-03 13:20] CallMeFoxie commented on #43975
Did you migrate ETCD data v2 to v3 store?

[2017-04-03 13:29] timothysc commented on #34508
There will need to be multiple PSAs imo
+ document and drop links in types too please.

[2017-04-03 13:35] jsafrane commented on #43929
@NickrenREN, no, there is a bug in `GetClassForVolume`, I forgot to update it with `pv.spec.storageClassName`.

[2017-04-03 13:42] rpothier commented on #25264
Are there still issues with the documentation for e2e on local clusters?
I am getting many failures running e2e. Is something missing?
Is it expected that e2e should work on a local cluster?

[2017-04-03 13:49] adohe commented on #43657
[code]
SGTM. And quite a long way to move towards this direction, but I really would like to step forward in the next phase.

[2017-04-03 13:51] eduardobaitello opened #43984 "etcd timeout causing helm release fail in k8s 1.6.0"
I've been using **Kubernetes v1.5.1** for running a microservices-based system, using helm to deploy all templates for my application, which consists of at least 15 pods running with different docker images.
At the beginning of helm install, during docker images downloads and containers creations, I am experiencing a high load average due to disk waiting (%wa). At this time, the system logs return

[2017-04-03 13:53] smarterclayton commented on #33767
Self links aren't a significant problem (they don't block anything) so we
can wait quite a while to fix this.  Really just cosmetic

On Apr 3, 2017, at 3:12 PM, TonyAdo <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> do we need to fix this
now? I notice that you commented in #41880
<https://github.com/kubernetes/kubernetes/issues/41880>, this will be fixed
as

[2017-04-03 13:54] adohe commented on #33767
Roger that.

[2017-04-03 13:59] justinsb commented on #18174
@deitch you can continue to use a load balancer or a DNS / hosts record with multiple A records, so a cluster-aware kubelet / kube-proxy does exist today in that sense.

I think this issue is open to track maybe adding another mechanism where we embed multiple IPs in  kubeconfig.  That might be handy for someone that has a HA infrastructure, without DNS, without IP address remapping.

[2017-04-03 13:59] yoks commented on #43966
@cmluciano fresh installation.

[2017-04-03 14:03] deitch commented on #18174
Hi @justinsb (cool name, btw).

Yeah, I am thinking of using an AWS (for the current use case) internal LB in front. It doesn't even need a friendly name, since it is added programmatically to all of the kubelets anyways. That does make it a bit more challenging for pure-SSL.

The bigger issue is that it just adds another component (and cost), when it is unnecessary.

I have been thinking of putti

[2017-04-03 14:12] justinsb commented on #18174
For AWS:

* kube-up used a single Elastic IP; that would still work in an HA environment but we didn't pursue it
* kops supports an ELB in front of the apiservers; relying on ELB health-checks.  But - as you say - cost & complexity
* kops also supports the DNS method, but there you need to use a route53 dns-controller.  kops has one, and there is the external-dns project going through incubation,

[2017-04-03 14:36] deitch commented on #18174
Yeah. And when it comes down to it - OK, maybe this isn't a good enough reason to spend dev resources :-) - it feels wrong that this great cluster system called kube needs an external provided resource right in the middle of its internal comms.

Not sure I get that. Do you mean if I put `myapiserver.mydomain.com` as the hostname in `--api-servers`, it will do a DNS lookup each time? And if it gets

[2017-04-03 14:44] fabianofranz commented on #43962
The CLI part of the proposal looks fine to me, being concise with `kubectl proxy`. Adding @kubernetes/sig-api-machinery-misc for the client-go bits.

[2017-04-03 14:47] githubvick commented on #43819
Seems like we would have to restart the machine itself after setting the systemd parameter or I don't know which service to restart for it to apply.  I restarted the machine and ran init and atleast it doesnt hang and moving on to the next hurdle

First node has registered, but is not ready yet
[apiclient] First node has registered, but is not ready yet

[2017-04-03 15:00] fabianofranz commented on #43662
ptal @smarterclayton

[2017-04-03 15:02] kgrvamsi commented on #43975
@eana Can you share your Controller starting parameters as well.

[2017-04-03 15:02] timothysc commented on #42718
I dunno, I think it should be.

@richm The examples show it as preamble, fwiw I only think you need pod_uuid b/c all other data can be cross referenced.

[2017-04-03 15:08] sjenning commented on #43748
@qwang1 so we have determined that this is somewhat confusing but working as intended

You can take two different paths with the test:

- Easiest is to just add `--experimental-allocatable-ignore-eviction=true` to the kubelet.  Then your test will work.
- Slightly more work, and maybe a different test all together, is to set the hard memory eviction threshold with `--eviction-hard=memory.available

[2017-04-03 15:08] #43748 closed

[2017-04-03 15:11] Venkat-Sudharsanam commented on #43808
hi guys i need a help, actually i was in holiday. could any help me out what is the issue i'm facing and how it can be solved?
i checked 43815, but too many comments and didn't get it. So how to rectify the issue i'm facing?

[2017-04-03 15:12] ChipmunkV opened #43986 "Docker registry addon produces a non-functional proxy foor the registry"
This registry guide is probably outdated or nor sufficiently self-contained:

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/registry/README.md

**Kubernetes version**:

[code]

**Environment**:
- **OS**: Ubuntu 16.04.2 LTS (Xenial Xerus)
- **Install**: `kubeadm init` and weave: https://github.com/weaveworks/weave/releases/download/latest_release/weave-daemonset-k8s-1.6.yaml

[2017-04-03 15:35] #43929 closed

[2017-04-03 15:44] eana commented on #43975
@CallMeFoxie
I haven't upgraded etcd datastore directly. But as per my understanding (https://coreos.com/etcd/docs/latest/upgrades/upgrade_3_0.html) this should have happened automatically. Also etcd cluster reported in the logs:

[code]

@kgrvamsi
`kube-controller-manager` is started as bellow:

[code]

and `/etc/kubernetes/master-kubeconfig.yaml`:

[code]

[2017-04-03 15:51] richm commented on #42718
@timothysc

which examples?

cross referenced in some other way other than querying the API service?

[2017-04-03 15:55] vdavidoff opened #43988 "Couldn't find network status for {namespace}/{pod_name} through plugin: invalid network status for"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
"invalid network status for"
"Couldn't find network status for"

---

**Is this a BUG

[2017-04-03 15:56] timothysc commented on #42718
https://docs.docker.com/engine/admin/logging/log_tags/

This will only happen during inspection and correlated with event data that can/should pushed to ES.  If you do it this way you put all the load onto you ES queries on how you present the data.

[2017-04-03 15:58] timothysc commented on #43806
This points back to our legacy namespace delete issue, which we can/should fix in 1.7

/cc @wojtek-t @gmarek

[2017-04-03 16:12] richm commented on #42718
So, by doing some sort of "join" to a "table" of K8s configuration + metadata which could be maintained separately (e.g. by a k8s configuration watcher).  I would rather not have that as my only option - I would like to have the ability to enrich the log records with all of the relevant metadata (labels, annotations, namespace uuid) before they leave the node or cluster.

[2017-04-03 16:15] Pensu opened #43989 "How to put test results on k8s-testgrid?"
Hi,

We at IBM have been running test cases on k8s on ppc64le architecture. We have been able to achieve 100 percent coverage on unit and integration tests and more than 90 percent coverage on conformance tests. I see that there are a lot of test results available at www.k8s-testgrid.appspot.com. It would be nice to showcase out results there, is there any documents available that I need to follow

[2017-04-03 16:21] errordeveloper commented on #43815
@mikedanese it took me forever to find out what version to use, we really need to make it much easier to find binaries for a given version. I've tried using what `ci-cross/latest.txt` points at (namely `v1.7.0-alpha.0.1982+70684584beeb0c`), and that happen to introduce new `kube-apiserver` flag (namely `--proxy-client-key-file` in d8be13fee85075abfc087632b3dbc586a10897ad), which doesn't work with

[2017-04-03 16:29] yujuhong commented on #43988
/cc @freehan

[2017-04-03 16:29] errordeveloper commented on #43704
@CallMeFoxie ok, I just never heard of anyone with such configuration before, but I'm sure you have all the good reasons for doing that. So in release#306 it's been mentioned that `--cgroup-driver=systemd` is another working solution for RHEL, which is probably better and it's just that the auto detection code is somehow not doing the right thing.

[2017-04-03 16:35] timothysc commented on #42718
That's exactly what I'm proposing.

Could you explain why?  The cost of doing this is the tradeoff here.  Which was also highlighted by @thockin 's comment.     "We certainly don't want to log all that with every message.  Given that
UUID is UU, can't that be squirrelled away in a lookup table somewhere else
out of the fast path?"

I personally would rather put the burden of query<>join on ES then

[2017-04-03 16:48] #42852 closed

[2017-04-03 16:56] justinsb commented on #43784
We always set `anonymous-auth=false`.  We currently have two authorization modes - AlwaysAllow & RBAC; no hybrids supported yet.

[2017-04-03 17:00] richm commented on #42718
In general it means every consumer of the log data must know how to do this correlation.  Even in the simple Elasticsearch case, you wouldn't be able to use tools such as curl, estail, kopf, kibana, etc. directly without modifying _each and every one of them_ to perform this merge operation.  In these cases, we need to have a way to present a merged view of the data.  It may be possible to do that

[2017-04-03 17:01] liggitt commented on #43784
is this a holdover from 1.5.0? From 1.5.1 on, the defaults are reasonable (anonymous auth is disabled by default in 1.5.x, and only enabled in 1.6 when using authorizers that require explicit ACL grants to anonymous users)

[2017-04-03 17:13] justinsb commented on #43784
It's a safety gate, yes.  We never want anonymous authn to the API, even if authz _should_ catch it it's too easy to make a mistake.

[2017-04-03 17:19] sjenning commented on #43916
@vdavidoff the memory management convoluted for sure.

To start, I would agree that subtracting the active pages from available isn't a great heuristic.  It is very pessimistic about reclaimable memory and how much of the active list could be reclaimed without pushing the system into a thrashing state.

Doing a `sync;echo 1 > drop_caches` will free as much pagecache as possible.  Keep in mind that

[2017-04-03 17:20] spxtr commented on #43964
I don't think prow's original usage of k8s jobs was ever appropriate. We're running 200+ single-pod controllers at once when we could just be running one.

We did have a use-case for jobs that k8s doesn't support afaik. We wanted to be able to run a pod and not restart it if it exits with a non-zero exit code. It should only restart the pod if it's stopped unnaturally, such as if the node goes dow

[2017-04-03 17:23] liggitt commented on #43784
it's certainly up to the deployer, but I expect that to cause difficulties as auth discovery gets built out (`kubectl login` asks where it should go to log in, etc).

[2017-04-03 17:35] tsloughter commented on #32273
Health check timeout and the response timeout are not the same. Is it still the case that we are stuck with 30 seconds as the response timeout? If I change it manually through the google console it ends up going back to 30 eventually.

[2017-04-03 17:39] sjenning commented on #43916
And to answer your question about how exactly `drop_caches` works, basically like this

[code]

It actually works backward from the filesystem to find the pages that can be freed.  It doesn't consider the LRU i.e. active/invactive pages lists

[2017-04-03 17:57] #43952 closed

[2017-04-03 17:58] EVODelavega opened #43991 "Persistent volume claim ignores storage request and claims full size, leaving other requests pending"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
Persistent volume claim request storage full size persistent volume (any variation/co

[2017-04-03 18:22] kfox1111 opened #43992 "reboot taints"
FEATURE REQUEST

**What happened**:

Reboots to compute nodes automatically start pods.

**What you expected to happen**:

I would like to be able to specify a set of taints that automatically get applied to a node if it reboots so pods don't automatically reschedule on the node when it comes back from a reboot.

These taints can be removed (until next reboot) by a daemonset running on the node th

[2017-04-03 18:24] anhowe opened #43993 "Kubelet on Windows has many errors and exceptions"
The Windows Kubelet logs show many errors and exceptions from Kubelet because the Windows environment is different.

SO article shows these common errors:
http://stackoverflow.com/questions/43148284/azure-k8s-windows-cluster-internal-error-missing-stats-for-root-container

E0331 16:53:48.527868     900 eviction_manager.go:205] eviction manager: unexpected err: Missing stats for root container
E033

[2017-04-03 18:37] bostone commented on #43815
Previous release 1.5.6 was working for me on CentOs 7 but now I can't even roll back because the only version of kubeadm in http://yum.kubernetes.io/repos/kubernetes-el7-x86_64 is the broken 1.6.0. Any suggestions on how to get kubeadm 1.5.6 RPM?

[2017-04-03 18:57] fabiand commented on #30085
@cdragga to me it looks like the PV/PVC mechanism would work for the special RWO case - it might even be enough, as RWX is a pretty wild card, and we might not need accounting.
However, I think that we do need some kind of guarantee on the node side.

Actually - we could i.e. rely on the etcd master election to determine who is allowed to access the storage, but as etcd uses a different control pa

[2017-04-03 19:07] nikhiljindal commented on #42324
Secret name and cluster name have the same rules. If we are generating the secret name, are we planning on generating the cluster name as well?
In that case, we can continue to use the same name as both cluster and secret name?

[2017-04-03 19:17] obedmr commented on #33729
@piersharding ``kubeadm reset`` is your friend.

[2017-04-03 19:27] piersharding commented on #33729
@obedmr Thanks - this seems to work much better in the recent 1.6.0 release.

Cheers.

[2017-04-03 19:40] uiansol commented on #39987
@nikhiljindal Are this issues still opened? Is someone working in this tasks?

[2017-04-03 19:41] ncdc commented on #43989
cc @kubernetes/sig-testing-misc @spxtr @ixdy

[2017-04-03 19:52] ixdy commented on #43989
I'd say to [look at this doc](https://github.com/kubernetes/test-infra/blob/master/docs/federated_testing.md), but it's out of date - you can open a PR to add results to testgrid yourself. Details are in [this doc](https://github.com/kubernetes/test-infra/blob/master/testgrid/config/README.md).

[2017-04-03 19:58] stensonb commented on #33192
I'm still seeing the same. CoreOS 1298.7.0, docker 1.12.6, Kube 1.5.6.

After restarting kubelet, I've noticed that the http://<node>:4194/api/v2.0/stats/ URL returns a large json blob including values for cpu/memory usage for each container.

However, after cAdvisor stops working as expected, cpu/memory usage metrics are returned as all zeros (0) for each container.

After restarting the kubelet,

[2017-04-03 20:02] obnoxxx commented on #43815
Indeed, it's a pity. Old versions seem to have been entirely removed. :-(

[2017-04-03 20:10] obnoxxx commented on #43815
My results are these on centos 7:
* I have not been able to get kubadm init to give me any result at all, even with a patched , latest kubeadm, without doing something about kubectl.
* I have been able to get kubectl start with the instructions of @coeki , and then kubeadm even passed. But after that, nothing works for me. kubectl says
[code]

Any hint what's going on?

[2017-04-03 20:14] sbezverk commented on #43815
@obnoxxx by default apiserver does not listen on 8080, it listens on secure 6443 port, you can check with netstat -tunlp.
You need to copy admin.conf from /etc/kubernetes to you $HOME/.kube/config
make sure you change permissions on the file in your  $HOME/.kube/, after that your kubectl should be able to contact apiserver properly. HTH. Serguei

[2017-04-03 20:20] jlowdermilk opened #43997 "Broken 1.5 GKE test - [k8s.io] GCP Volumes [k8s.io] NFSv3 should be mountable for NFSv3 [Volume]"
This test just started running on 1.5 for GKE, and has not had any passing runs: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging/2476

From #37791 it sounds like this one is obsolete and should not be run at all, so maybe this is tests being misconfigured? The NFSv4 test is passing. See https://k8s-testgrid.appspot.com/google-gke-staging#gci-gke-s

[2017-04-03 20:23] yujuhong commented on #43957
See #43815. Closing this as a duplicate.

[2017-04-03 20:23] #43957 closed

[2017-04-03 20:23] jimmycuadra commented on #43815
@apsinha Are you aware of this thread? It might be good to have some product folks following, as I think there will be some important takeaways for the future.

Off the top of my head:

* 1.6.0 never went through automated testing: https://github.com/kubernetes/kubernetes/issues/43815#issuecomment-290809481
* Binaries/packages for older versions were removed, so people cannot roll back safely, any

[2017-04-03 20:27] krzyzacy commented on #43997
That test is still in 1.5 branch, the PR changed the test_owner.csv need to be cherrypicked to 1.5?

[2017-04-03 20:35] bostone commented on #43815
I built kubeadm-1.5.6 using kubernetes/release.rpm only to to find (to my dismay) that

[code]

[2017-04-03 20:39] gtirloni commented on #43815
@bostone you need to adjus the .spec [here](https://github.com/kubernetes/release/blob/master/rpm/kubelet.spec#L57-L58).

[2017-04-03 20:42] yujuhong commented on #36401
@crassirostris, if we change the filename to be the same as the legacy ones (including name, namespace, etc.). Will that at least help us use the new paths? If we can address this sooner and allow other CRI integration to work with the existing logging pipelines, we should try doing that.

[2017-04-03 20:50] yujuhong commented on #42718
No, anything that relies solely on Docker features and bypasses the CRI API cannot be called "compatible".

We can discuss whether it makes sense for the CRI shim/runtime to decorate the logs with more metadata, but as @thockin pointed out in https://github.com/kubernetes/kubernetes/issues/42718#issuecomment-290305415, having this per entry seems to be a pretty big overhead.

[2017-04-03 20:50] obnoxxx commented on #43815
@sbezverk thanks for the hint! It is better now...

This is curious:
* I don't remember copying the admin.conf was necessary for me in earlier releases.
* I tried with `kubectl -s localhost:6443` before but that was not sufficient.

Anyways, now I can continue. Thanks again

[2017-04-03 20:51] mikedanese commented on #43815
v1.6.1 is in the process of being released. It will be done by EOD.

[2017-04-03 20:53] wongma7 commented on #43300
@jsravn so to clarify, https://github.com/jsravn/kubernetes/commit/5d3c1da39c2540ff35169e3e61ff69b2c85d98c3 fixed this? Because now it correctly waits for the node store to sync before attempting processing?

It was discovered by someone else too that the attach detach controller never bothers to wait for its caches to sync here https://github.com/kubernetes/kubernetes/pull/40385/files#diff-72e66c

[2017-04-03 20:53] dashpole commented on #31362
cc/ @dchen1107

[2017-04-03 20:59] #42972 closed

[2017-04-03 21:05] jbeda commented on #43815
Some notes:
1. The issue with old packages being deleted was tracked here: https://github.com/kubernetes/release/issues/234.  Due to some wacky versioning of kubeadm and how these things are sorted alphabetically, apparently it wasn't possible to keep the 1.5.x version of kubeadm in the repo.  (@bostone your issue is referenced there too)
2.  kubeadm e2e testing on PRs being tracked here: https://

[2017-04-03 21:08] jbeda commented on #43815
@obnoxxx The requirement to copy/chown the admin.conf was necessary before because with 1.5 we had the API server exposing an insecure port.  We changed that in 1.6.  Now you must use secure credentials to access the API server (see https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#kubeadm-2)

[2017-04-03 21:08] therc opened #44001 "Resource-dependent pod presets"
I was going to propose a new API resource and admission controller, but it turns out that the new [pod preset object](https://github.com/kubernetes/features/issues/162) has great overlap with my ideas, so I reworked them in order to merge the two.

The new policy object lets Pods which use specific runtime resources to abstract away some of their details and defer them until creation time. For exa

[2017-04-03 21:13] obnoxxx commented on #43815
@mikedanese that sounds great, thanks!
Just for the dummy I am - what will be the effect of this release 1.6.1 with respect to this issue?
Will kubelet start without the change to `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` ( @coeki 's workaround) or will it contain the fix of #43835 (which did not seem to have any effect for me)?

[2017-04-03 21:13] obnoxxx commented on #43815
@jbeda thanks for the explanation!

[2017-04-03 21:20] bsalamat commented on #36456
@Stono Your understanding from the the documentation is right. I am a bit surprised by the result that you are observing. We have tests that check the exact scenario that you described:
https://github.com/kubernetes/kubernetes/blob/v1.4.5/plugin/pkg/scheduler/algorithm/priorities/selector_spreading_test.go#L418
Are you sure that all the service pods have the same label and you do not have any othe

[2017-04-03 21:23] bostone commented on #43815
@jbeda I think the confusion comes from the official kubadm installation doc setting YUM repo to http://yum.kubernetes.io/repos/kubernetes-el7-x86_64. That repo only has kubeadm-1.6.0

[2017-04-03 21:24] pmorie commented on #44001
@therc you can actually already inject volumes and volume mounts with `PodPreset` - does that give you what you want?

[2017-04-03 21:25] therc commented on #44001
I mention that in the "Alternatives" section:

An obvious alternative would use a plain PodPreset and forcing users to add a new label (use-gpu?) on top of the existing GPU resource requests/limits. Such an approach works, but is obviously error-prone and will lead to a proliferation across the Kubernetes user base of similar, but not identical labels.

[2017-04-03 21:27] Random-Liu opened #44003 "Make sure that performance dashboards work."
Now we have several performance tests:
* https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_perf.go
* https://github.com/kubernetes/kubernetes/blob/master/test/e2e/perf/density.go
* https://github.com/kubernetes/kubernetes/blob/master/test/e2e/perf/load.go
* https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/resource_usage_test.go
* https://github.com/kubernetes/

[2017-04-03 21:32] bostone commented on #43815
And again to my disappointment building 1.5.6 rpms and installing ended up with same exact problem. Running `kubeadm init` is hanging at the very same line:
[code]
I guess I'll just wait for 1.6.1 release and hope...

[2017-04-03 21:37] ixdy commented on #44003
In particular, there's a variable set for all CI e2e runs that tells you where to put files - `framework.TestContext.ReportDir`. Any files saved there will be automatically uploaded to GCS.

(This variable is empty by default, so you'd need to handle that case appropriately.)

[2017-04-03 21:59] derekwaynecarr commented on #44001
@therc - do you plan to open a PR for resource-aware-pod-preset?  have you attended the resource management workgroup meetings?  we have spent a lot of time discussing gpu requirements generally (see meetings and agenda here: https://docs.google.com/document/d/1j3vrG6BgE0hUDs2e-1ZUegKN4W4Adb1B6oJ6j-4kyPU/edit#)

[2017-04-03 22:05] mbohlool opened #44005 "Add a verifier script using gengo to enforce API policies"
Right now we have several generator scripts (openapi-gen, deepcopy-gen, etc.) that look at the code and generate types/functions. This infrastructure can be used to look at all API types and enforce some policies such as optional fields to be pointer, etc. Please add the policies you want this verifier to enforce in this issue. I will start by a simple verifier for optional fields.

[2017-04-03 22:07] therc commented on #44001
@derekwaynecarr Yes, I'm going to open a PR next. I was in the conversations at Kubecon and have talked to Vish extensively about the node implications, but had to skip the most recent conversations. I also missed the form about the in-person summit next week, but can probably make it to RDU if it's still happening and there's room for me.

[2017-04-03 22:10] wongma7 commented on #43991
There is a 1:1 mapping between PV & PVC. An ebs disk can only be attached to one node at a time, it wouldn't make sense to allow multiple PVs/PVCs to represent one disk when the pods that consume the PVCs could be on different nodes. RE: capacity mismatch, this is intended as well, kube is simply doing its best to satisfy your claim: give it at least what it asks for. All this is detailed here htt

[2017-04-03 22:33] jswoods commented on #41916
Just to follow up here: after more investigation, I believe we hit the issue explained in https://github.com/kubernetes/kubernetes/issues/30972#issuecomment-241077740. In attempt to avoid this scenario in the future, we're attempting to resolve any API server slowness by increasing the master instance sizes and also setting the following flags on our controller manager:
[code]

[2017-04-03 22:38] activeshadow commented on #35238
For now I'm using an `ExecStartPre` script in my `kubelet.service` that waits for `ip route get <ip of master>` to succeed.

[2017-04-03 22:40] jascott1 commented on #43815
Sorry for the delay. I have just gotten freed up and am looking into this now.

[2017-04-03 22:51] yujuhong commented on #42718
@richm, you can write your own fluentd-like daemonset to enrich the logs with metadata before leaving the node, and that fits with @crassirostris's proposal completely. Did I misunderstand your comment?

[2017-04-03 22:59] richm commented on #42718
We have implemented a fluentd-like daemonset (it is actually fluentd) that enriches the logs with metadata before leaving the node.  fluentd uses the k8s metadata plugin to get the metadata from the API server to enrich the container logs.

[2017-04-03 23:08] guybrush commented on #17470
there have been 2 talks at kubecon berlin regarding IPVS:

* https://youtu.be/c7d_kD2eH4w ([slides](https://schd.ws/hosted_files/cloudnativeeu2017/ce/Scale%20Kubernetes%20to%20Support%2050000%20Services.pdf)) (Huawai)
* https://youtu.be/E4CVUPxR_k4 (Comcast)

[2017-04-03 23:12] huggsboson commented on #29972
Box has also hit this issue on 1.3.9 and 1.4.7.

[2017-04-03 23:14] moserke opened #44007 "vsphere volume: Datastore cluster"
With version 1.4.7 I could use a datastore that is in a cluster as a vsphere volume as ```volumePath: "[datastore] path/to/file"```.  When I upgraded to 1.6.0, this same exact path does not work and throws a ```datastore 'datastore' not found``` error.  I'm struggling to find what changed, but am guessing it's difference in how the datastore is being looked up in vcenter.

Has anyone had luck with

[2017-04-03 23:30] gnufied commented on #43300
@wongma7 We can't put `sleep` in the code there, because events are processed in main goroutine that is started by controller-manager. Putting sleep there will potentially block other things.

I am leaning towards adding a internal queue as endpoints controller. cc @saad-ali @jingxu97

[2017-04-03 23:34] wongma7 commented on #43300
WaitForCacheSync seems like the standard way to wait, if I understand correctly @ncdc just didn't want to touch things he didn't need to in what was mostly a mechanical PR so he left that as a comment for discussion. So I'm saying that if @jsravn's fix worked, we can uncomment the WaitForCacheSync in my second link as the "proper" fix.

[2017-04-03 23:36] bbeaudreault commented on #29972
Expanding upon my above comment, we've seen this on a variety of resource types. It seems to affect StatefulSets as people have said above, but is also affecting our Deployment resources. It affects resources both with and without PVC. The one unifying pattern is they all have init containers.

[2017-04-03 23:49] mikedanese commented on #43815
1.6.1 is out.

[2017-04-03 23:49] #43815 closed

[2017-04-03 23:56] phagunbaya commented on #43988
experiencing same issue.

[2017-04-04 00:09] huggsboson commented on #29972
Ditto, it's affecting our Deployments as well.

[2017-04-04 00:10] bostone commented on #43815
@mikedanese did you test kubeadm before closing this bug? Right now I'm staring at `[apiclient] Created API client, waiting for the control plane to become ready` for 10 min already. On CentOS 7 with brand new 1.6.1 installation

[2017-04-04 00:18] gtirloni commented on #43815
@bostone you might be hitting this issue: #43805

Try editing `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` and adding `--cgroup-driver=systemd`

[2017-04-04 00:29] bgrant0607 commented on #44001
vaguely related: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/metadata-policy.md

[2017-04-04 00:30] bgrant0607 commented on #44001
cc @erictune @pwittrock

[2017-04-04 00:37] bostone commented on #43815
@gtirloni  with our suggestion I got to the end of `kubeadm init` however any attempt to run kubectl produces this error: `The connection to the server localhost:8080 was refused - did you specify the right host or port?` I'm not sure where and how change that or what is the right port at this point?

[2017-04-04 00:43] bostone commented on #43815
Not sure if this is related but here's what I see when running `systemctl status kubelet`:
[code]

[2017-04-04 00:47] ncdc commented on #43300
@wongma7 it's not as simple as uncommenting. You'll have to fix the integration test I referenced as well.

[2017-04-04 00:48] ixdy commented on #32044
Send a PR to update [test/test_owners.csv](https://github.com/kubernetes/kubernetes/blob/2e6616dbb6d8aaca1b3a8fe4a70631c9613c0499/test/test_owners.csv#L70), along with any other misclassified test suites.

[2017-04-04 00:48] anandkumarpatel opened #44012 "Volume mounted config maps are not accessible via exec process."
**Is this a request for help?**
Not

**What keywords did you search in Kubernetes issues before filing this one?**
config map not showing during exec

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37",

[2017-04-04 00:57] gnufied commented on #43300
Also afaict just putting the `WaitForCacheSync` in `Run` will not automatically fix this bug. The events are being processed on separate goroutine from goroutine that runs attach detach controller loop.  Uncommenting that line in Run will simply stop controller loop. Events will be still be missed.

[2017-04-04 00:58] mikedanese commented on #43805
The fix is for this is in the release repo so let's fold this into kubernetes/release#306

[2017-04-04 00:58] #43805 closed

[2017-04-04 00:58] gtirloni commented on #43819
1.6.1 have been published for CentOS

[code]

[2017-04-04 00:59] mikedanese commented on #43815
Yes we tested. e2e tests are passing on the release branch. You may be hitting other issues.

[2017-04-04 01:03] gtirloni commented on #43815
@bostone maybe you're missing these steps after `kubeadm init`?

[code]
You also need to follow step 3 described [here](https://kubernetes.io/docs/getting-started-guides/kubeadm/#pod-network). That seems related to the cni config error you're getting.

[2017-04-04 01:03] mikedanese commented on #43819
Server versions are not packaged in the RPM. Kubeadm is responsible for deploying them in docker containers so this can be closed.

[2017-04-04 01:03] #43819 closed

[2017-04-04 01:03] pingthings commented on #43815
Also staring at [apiclient] Created API client, waiting for the control plane to become ready for 10 min already with Ubuntu 16.04 and a fresh install of 1.6.1

[2017-04-04 01:10] LaurentDumont commented on #43815
@pingthings I'd recommend joining the Slack Kubernetes and the `kubeadm` channel. We can help you debug there.

[2017-04-04 01:14] divyenpatel commented on #44007
We have verified creating pod using static PV and dynamic provisioning, both works fine with
`Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.1-beta.0.12+018a96913f57f9"`

Can you post /etc/kubernetes/vsphere.conf  here?

cc: @BaluDontu

[2017-04-04 01:27] dims commented on #43973
@fejta i believe we should try to see if this change to boltdb works for us:
https://github.com/boltdb/bolt/commit/92410e067395f10c8c93fad62c3e6c4b7aca82f0#diff-f6846c341ab11ff34eeb7463ce2816ff
https://github.com/golang/go/issues/16772

We have seen this before i believe:
https://github.com/kubernetes/kubernetes/issues/36262
https://github.com/kubernetes/kubernetes/issues/39498
https://github.com/

[2017-04-04 01:56] obnoxxx commented on #43805
Not sure I got it right, but the rpms from  http://yum.kubernetes.io/repos/kubernetes-el7-x86_64 still need the --cgroup-driver=systemd fix in 10-kubeadm.conf in order to get the kubelet service started.

[2017-04-04 02:09] mikedanese commented on #43805
Agreed. This is a duplicate of https://github.com/kubernetes/release/issues/306 but that issue is in the repository where the fix needs to be made.

[2017-04-04 02:12] obnoxxx commented on #43805
@mikedanese - thanks, got it!

[2017-04-04 02:22] justinsb commented on #43948
Thanks for looking into it - I was able to reproduce.  My suspicion is that it is not a race, but rather because of newly introduced fields across versions.

`>kubectl get deploy,rs,pods -l k8s-addon=kube-dns.addons.k8s.io -n kube-system -oyaml`

(I inserted some sections for sanity)

[code]

[code]

[code]

[code]

[code]

[code]

[2017-04-04 02:23] csbell commented on #43828
Discussed this with Nikhil earlier today. The buggy behavior is a result of handling removal of 2 or more annotations. In this case, the daemonset and namespace controllers both try to remove orphan and delete-from finalizers but the code isn't written to expect separate updates.

Seen again here today: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federati

[2017-04-04 02:24] moserke commented on #44007
Did that include using a datastore that was in a datastore cluster?  That seemed to be working before because the datastore previously (before 1.5) was read out of the global config, which supported datastore path with cluster name.

But post 1.5 datastore is parsed from the ```[datastore] path/to/file``` entry, which if you include the path to the cluster it gets you past the datastore lookup, bu

[2017-04-04 02:27] justinsb commented on #43948
The error was

`Error syncing deployment kube-system/kube-dns: replicasets.extensions "kube-dns-1321724180" already exists`

I am 95% sure (sadly kubectl edit doesn't appear in scrollback) that the problem is that the `last-applied-configuration` had `..."volumes":[{"configMap":{"name":"kube-dns","optional":true},...` but the `optional: true` did not appear in the volume mount, because it had been

[2017-04-04 02:44] csbell opened #44018 "Federated tests should retry NodePort allocation"
In order to support running tests in parallel, we added randomized NodePort selection.  There appears to be some evidence that this is not sufficient and is causing e2e test flakes:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/2510

[code]

[2017-04-04 02:51] moserke commented on #44007
Just confirmed I have the same issue using a PV and PVC....

[2017-04-04 03:07] adohe commented on #43954
[code]
kind of like this. @kargakis wdyt?

[2017-04-04 03:08] silentred commented on #43935
@liggitt Thanks. Still learning all the concepts. There are a lot. This role-binding config works for me.
[code]

[2017-04-04 03:08] moserke commented on #44007
Here it needs it in `datastore_cluster/datastore` format:  https://github.com/kubernetes/kubernetes/blob/v1.6.1/pkg/cloudprovider/providers/vsphere/vsphere.go#L796 (which it gets on line 791 by parsing `[datastore] path/to/file`.

But here it needs it in true `[datastore] path/to/file` format, without the datastore_cluster: https://github.com/kubernetes/kubernetes/blob/v1.6.1/pkg/cloudprovider/pro

[2017-04-04 03:09] liggitt commented on #43976
Newer kubelets on older apiservers are not a supported configuration. See https://github.com/kubernetes/community/blob/master/contributors/design-proposals/versioning.md#supported-releases-and-component-skew

[2017-04-04 03:12] civik commented on #43950
Still seeing:

`Apr  3 22:11:04 ttck8infc1001 kubelet: error: failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"`

On a Cent7 install.

[2017-04-04 03:20] #37580 closed

[2017-04-04 04:15] sunshinekitty commented on #7890
+1

[2017-04-04 04:26] tarvip commented on #42244
Closing, haven't seen this issue since 1.5.4

[2017-04-04 04:26] #42244 closed

[2017-04-04 04:27] nickschuch commented on #7890
We managed to get this going at a flexvolume, Ill look at what it will take for us to publish to code (bit rough, but demonstrates the point).

[2017-04-04 04:32] kgrvamsi commented on #43974
I tried to run the same configuration with the Kubernetes 1.5.4v with etcd 2.3.1 but i still see the same issue

[code]

@liggitt any help on this please?

[2017-04-04 04:36] kgrvamsi commented on #43974
As per #41428 is that what happening to this issue

[2017-04-04 04:45] liggitt commented on #30213
same root issue as https://github.com/kubernetes/kubernetes/pull/16964/

looks like something in the TPR pipeline needs to switch to use `k8s.io/apimachinery/pkg/util/json#Unmarshal` to preserve int data

[2017-04-04 06:00] jingxu97 commented on #43300
@gnufied I am not sure the comment about "Events will be still missed". Shouldn't the informer will replay the events during the period controller is stopped (not yet started)?
@ncdc why it doesn't set pvcsSynced and pvsSynced to alwaysReady?

[2017-04-04 06:04] vaibhavsood opened #44022 "TestMetricsDuGetCapacity unit test fails on SLES 12 Go 1.8 ppc64le on master branch"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
TestMetricsDuGetCapacity
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-04-04 06:06] bgrant0607 commented on #3692
We also mention Infrastore in the Borg paper:

https://static.googleusercontent.com/media/research.google.com/en//pubs/archive/43438.pdf

Borg records all job submissions and task events, as well as detailed per-task resource usage information in Infrastore, a scalable read-only data store with an interactive SQL-like interface via Dremel.

[2017-04-04 06:07] bgrant0607 commented on #3692
https://github.com/heptio/eventrouter

[2017-04-04 06:10] bgrant0607 commented on #3692
Related: #4432

[2017-04-04 06:10] vaibhavsood opened #44023 "TestNestedObject unit test fails on SLES 12 Go 1.8 on ppc64le on master branch"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
TestNestedObject, EmbeddedTest.Object
---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2017-04-04 06:14] CallMeFoxie commented on #43976
I see, thanks!

This should be mentioned in the changelog rather than hidden in another repo and design proposals :) I'd say though.

[2017-04-04 06:21] CallMeFoxie commented on #43704
Seems that is not the case for us, adding `--cgroup-driver=systemd` leads into error:
`failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "systemd" is different from docker cgroup driver: "cgroupfs"`
and setting the driver to cgropufs leads to the forementioned error.

[2017-04-04 06:30] wojtek-t commented on #44003
I think there is already some issue for it (though I couldn't find it now).
@shyamjvs wanted to look into it (but now he is on vacation)

[2017-04-04 06:30] vdrizheruk commented on #43808
Hi guys,

I have the same problem:

[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.6.0
[init] Using Authorization mode: RBAC
[preflight] Running pre-flight checks
[preflight] Starting the kubelet service
[certificates] Generated CA certificate and key.
[certificates] Generated API server certificate and key.
[certificates] A

[2017-04-04 06:40] errordeveloper opened #44025 "kubectl bails with validation error when talking to a unrecognised service on localhost:8080"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `localhost "the server could not find the requested resource" `

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report (cc @kubernetes/sig-cli-bugs)

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**: N/A
- **C

[2017-04-04 06:48] eastcirclek commented on #43815
I successfully setup my Kubernetes cluster on centos-release-7-3.1611.el7.centos.x86_64 by taking the following steps (I assume Docker is already installed):

1) Update a yum repo to use the unstable repository in order to download Kubernetes 1.6.1.
(from /etc/yum.repo.d/kubernetes.repo) baseurl=http://yum.kubernetes.io/repos/kubernetes-el7-x86_64**-unstable**
2) yum install -y kubelet kubeadm kub

[2017-04-04 07:12] wojtek-t commented on #43971
I think that detecting cycles in general would be overkill - this would be pretty difficult to do and would really complicate the code and I don't think it's worth it.
If we decide that we don't want to detect cycles, detecting pairs would be super misleading to users in my opinion (why we detect cycles of length 2 and not longer ones)?

That said, if you create a cycle of requiredDuringScheduling

[2017-04-04 07:26] wojtek-t commented on #43806
@timothysc - I'm not sure I know what you are referring to. BTW - do we understand what has happened here?

[2017-04-04 07:28] #40568 closed

[2017-04-04 07:28] nikinath commented on #30213
Please see #44026

[2017-04-04 07:39] gmarek commented on #32044
Thanks @ixdy.

[2017-04-04 07:49] supereagle commented on #43967
When set `--network-plugin-dir` and not set `--cni-bin-dir`, default path of CNI binaries `/opt/cni/bin` will not take effect, the path specified by `--network-plugin-dir` will be used instead.

We should use `--cni-conf-dir` and `--cni-bin-dir` instead of `--network-plugin-dir` if use CNI plugin.

[2017-04-04 08:02] deitch commented on #43961
Updated the title. It also is backwards for the `:`-separated order of domains vs cert-key pairs.

According to https://github.com/kubernetes/kubernetes/blob/e2c0bf3fcae754201e7e89be8b825eb142a36907/staging/src/k8s.io/apiserver/pkg/util/flag/namedcertkey_flag.go#L46 , the keycert is `cs[0]` and the domains are `cs[1]`, but the docs say "suffixed" followed by examples of the domain _before_ the key

[2017-04-04 08:19] bcorijn commented on #41598
As I see little remark about other controllers: from my experience this issue does not just hit StatefulSets, a Deployment which mounts 2 PVC's to one pod can also get blocked because the PV's get spread out across zones.

[2017-04-04 08:28] gmarek opened #44027 "Kubelet segfaults when Docker is not running"
I was running an experiment to verify that Taints are correctly updated when Condition changes from Unreachable to NotReady and found out that Kubelet can't start when the docker is not running.

I did an experiment on CVM and:
- made `/usr/sbin/kubelet-checker.sh` no op
- made `/usr/sbin/docker-checker.sh` no op
- `service kubelet stop`
- `service docker stop`
- wait
- reverted changes to `kubele

[2017-04-04 08:37] kargakis commented on #43948
The hash is based on the Deployment PodTemplateSpec. If the Deployment controller can't find a ReplicaSet that has a semantically deep equal PodTemplateSpec, then it will create a new ReplicaSet by hashing the Deployment template (for the new RS name). There is a slight chance you will hit a hash collision with the current algo but this seems to be a problem with 200s of old ReplicaSets: https://g

[2017-04-04 08:40] deitch opened #44028 "apiserver SNI domain names only work if lower-case"
**Is this a request for help?** no

**What keywords did you search in Kubernetes issues before filing this one?** SNI

---

**Is this a BUG REPORT or FEATURE REQUEST?** BUG

**Kubernetes version** (use `kubectl version`): 1.6.0

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS 1298.7.0
- **Kernel** (e.g. `uname -a`): 4.9.16-coreos-r1

[2017-04-04 08:40] #20125 closed

[2017-04-04 08:56] xilu0 opened #44029 "kubeadm 1.6.0 I created pods network failed,kube-flannel CrashLoopBackOff"
hi,
I created the kubernetes cluster 1.6.0 by using kubeadm kubeadm init.
# I created pods network failed,Previous steps are successful, I turn off selinux
`[root@kube-master home]# kubectl get pods --all-namespaces
NAMESPACE     NAME                                  READY     STATUS             RESTARTS   AGE
kube-system   etcd-kube-master                      1/1       Running            0

[2017-04-04 09:00] SteveMaddison commented on #43471
We're experiencing the same issue on vSphere Version 5.5.0 Build 3717267.

This is with the suggested role permissions in kubernetes/kubernetes.github.io#2989 as well as read-only access to the whole VC.

[code]

[2017-04-04 09:02] kargakis commented on #43954
@gyliu513 can you elaborate on what are you trying to achieve with incremental scaling? Usually you want to scale up/down based on some metrics. HPA and custom metrics may be something that interests you.
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/

[2017-04-04 09:03] fejta commented on #43973
/unassign
/assign @dims

Do not have context

[2017-04-04 09:18] kargakis commented on #43948
Ok, this seems like a collision: https://www.diffchecker.com/E4CxPOdr
When was the 4th ReplicaSet created? During the downgrade? Unfortunately hash collisions between versions of Kubernetes are more likely because due to changes in the PodSpec.

[2017-04-04 09:23] kargakis commented on #43948
I want a concrete timeline here:
- In which version the 3rd RS was created?
- In which version the 4th RS was created?
- And more importantly: You re-added optional: true where? What happened before you re-add it?

[2017-04-04 09:23] kargakis commented on #43948
@kubernetes/sig-apps-bugs

[2017-04-04 09:28] bcorijn commented on #42796
Just had this again. Kubelet is posting ready but I see containers that are waiting to be created, and a lot `operation timeout: context deadline exceeded` events. KubeletReady status has last changed 19h ago, which matches with the first occurence of the operation timeout events.
In the meantime I'm running Kubernetes 1.5.4:
[code]

[2017-04-04 09:49] jeroenjacobs1205 opened #44030 "improve documentation on networking"
The entire networking configuration stuff in Kubernetes should get better documentation in general. The terminology is quite confusing at some points. e.g.: the the docs mention cni and kubenet as possible network drivers, but the kubenet part refers to CNI components (bridge, lo, etc..). This makes things very confusing for people who are new to Kubernetes administration.

In my opinion, the docu

[2017-04-04 10:01] TamalSaha commented on #23233
How about using the Helm/Tiller engine and deploy a "chart" with all the addons? That will also solve updating addons later.

cc: @technosophos

[2017-04-04 10:04] zetaab opened #44032 "storageclass cinder is ignoring availability zone"
**Is this a BUG REPORT or FEATURE REQUEST?** BUG report

**Kubernetes version** (use `kubectl version`):
kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:36:33Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"

[2017-04-04 10:28] Tedezed opened #44033 "Horizontal StatefulSet/RC Autoscaler ( ? )"
I need to be able to auto-scale a StatefulSet, is it possible?

Would it be something of the Horizonta PodAutoscaler type, is there actually something like this for StatefulSet?

**Example HorizontalPodAutoscaler:**
[code]

Example: https://github.com/Tedezed/slug-containers/tree/master/statefulset_autoscaler

Greetings and thanks!

[2017-04-04 10:55] Sliim commented on #44029
This look like a rbac permission error. See https://github.com/kubernetes/kubeadm/issues/212#issuecomment-290908868

[2017-04-04 11:11] xilu0 commented on #44029
@Sliim you are right, it`s rbac permission error,
I will
kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml
thank you!

[2017-04-04 11:12] #44029 closed

[2017-04-04 11:18] leseb commented on #43389
+1 on vagrant + libvirt, the step "Validating master" hangs forever.

[2017-04-04 11:33] DanyC97 commented on #27385
has anyone tried the same test on docker 1.12 ?

[2017-04-04 11:37] jsravn commented on #43300
@wongma7 that's correct. @gnufied yes this is the dirty fix. But it won't block anything else, at least in 1.4 - each listener in the shared informer gets its own goroutine for handling events. So it will just block the pod handler in the attach detach controller.

WaitForCacheSync won't solve it, like @gnufied says you will miss events - you need to queue the events to process, like how endpoint

[2017-04-04 11:40] jsravn commented on #43300
@jingxu97 sharedInformers.start() is called after the Run() (see `controllermanager.go#StartControllers`) so I don't think you can just WaitForCacheSync in Run. You could do WaitForCacheSync in processPods though (like what I did).

[2017-04-04 11:55] marcofranssen commented on #12835
@discordianfish I am experiencing the same issue. All my nodes do contain the /root/.docker/config.json file. I have also tried creating a secret to solve the issue. However this also doesn't work.

When I pull the image from the console everything works fine. So it seems to be really kubernetes related.

[2017-04-04 11:59] gyliu513 commented on #43954
@kargakis @adohe What I want here is a `incremental  scale` but not as current behavior. Currently, we can only specify the expected scale number but not the `incremental number`.

I have such as scenario: In some cases, the workload in a cluster is expectable, so that the end user want to use a cron job to scale up the application, such as increase by two pods each hour etc, make sense?

[2017-04-04 12:05] crassirostris commented on #42718
@richm I understand your concerns about having to implement pretty complex piece of logic for each consumer in order to enrich log entries with metadata on logging agent. However, separating logs and metadata on the node seems to be a more flexible solution, because we want to be able to handle both when metadata is joined at the backend and when it's sent to the backend with each log entry.

We w

[2017-04-04 12:06] antoineco commented on #40452
@colemickens: the [kubelet documentation page](https://kubernetes.io/docs/admin/kubelet/) states:

It is actually not the case:
[code]
[code]
When using an editor with creates temporary dot files like vim this can actually be quite an issue.

[2017-04-04 12:10] jeremyeder commented on #44003
@sjug @mffiedler

[2017-04-04 12:29] sheerun commented on #43815
This doesn't seem to be resolved (Ubuntu LTS, kubeadm 1.6.1).

First, I also experienced kubeadm hanging on "Created API client, waiting for the control plane to become ready" when using `--apiserver-advertise-address` flag.. The journal logs say:

[code]

If I don't provide this flag, kubeadm passes, but even then I get following error for kubelet starting:

[code]

[2017-04-04 12:29] cruwe commented on #43986
Problem stems from having the _same_ selector for the registry (the cluster-local) upstream and the node-local daemonset proxies. This can be observed when visiting the dashboard service page - then, in my case the services subscribes to three instead of just one pod(s). This obviously results in DNS round robin and curling the cluster endpoint (from a container namespace) often enough will someti

[2017-04-04 12:34] sheerun commented on #43815
Note that I don't even want/use CNI, I just want to bootstrap single master with `kubeadm init`.

[2017-04-04 12:37] discordianfish commented on #12835
Yes, something is fishy here. I've got it working with manually creating the .docker/config.json, but then somehow it stopped working. Still investigating this.

[2017-04-04 12:41] zetaab commented on #44032
possible configuration problem in our openstack

[2017-04-04 12:46] zetaab commented on #44032
gophercloud is posting following to openstack API:
[code]

When creating volume manually using `openstack volume create --availability-zone zone-1 --size 12 foobar --debug`

the data is
[code]

So we can clearly see that gophercloud is using wrong variable name here, it should be `availability_zone` instead of `availability`

[2017-04-04 12:51] KubernetesIntership opened #44039 "Kubeadm init fails, api-server crashes"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** kubeadm init, api-server crash, 6443

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`): v1.6.1 and v1.6.0

**Environment**:
- **Cloud provider or hardware configuration**:  Local (native & virtualbox)
- **OS** (e.g. fro

[2017-04-04 12:51] sheerun commented on #43815
It seems 1.5.x kubeadm versions have been removed not only from centos repository, but also from Ubuntu LTS: https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages It makes it difficult to downgrade..

[2017-04-04 12:52] piosz commented on #39812
@dashpole @timstclair can you please take a look?

[2017-04-04 12:52] piosz commented on #39812
@dashpole @timstclair can you please take a look?

[2017-04-04 13:09] crassirostris commented on #42718
@vishh Thanks for the input! I will convert this to a proposal ASAP

Coordination between kubelet and logging agent is something yet to discuss. If we decide to do something like this, it will definitely be a part of logging integration guidelines.

Yes, thanks for pointing that out. The guidelines should not be about CRI. However, leaving CRI out  of the discussion about those guidelines complete

[2017-04-04 13:09] mikebrow commented on #25264
Yes, e2e should work now on a local single node cluster. The docs were cleaned up some and the bug referenced by this issue was fixed a while back. Closing this issue as I thought it was already closed. @rpothier failures on e2e tests may be known flake issues that need to be resolved.

[2017-04-04 13:09] #25264 closed

[2017-04-04 13:12] unclejack opened #44041 "hostPID doesn't seem to work on Kubernetes 1.6"
*Kubernetes version** (use `kubectl version`):
1.6.1, 1.6.0 (both run into this issue)

**Environment**:
- **Cloud provider or hardware configuration**: VirtualBox 5.1.18 VM
- **OS**: 16.04.2 LTS (Xenial Xerus)
- **Kernel**: `4.4.0-71-generic #92-Ubuntu SMP Fri Mar 24 12:59:01 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**: kubeadm

**What happened**:
A pod scheduled using hostPID wa

[2017-04-04 13:17] divyenpatel commented on #44007
Thanks @moserke for detailed look up.
This is the commit which caused this regression.

https://github.com/kubernetes/kubernetes/commit/12f75f0b86063bc0e66545b7fd38493bf8aa275c

We will work on the fix.

cc: @tusharnt

[2017-04-04 13:27] srzjulio commented on #43815
@bostone

Did you figure out the hang at "waiting for control plane to become ready"? I see the same thing after trying all the changes with 1.6.1.

[2017-04-04 13:32] divyenpatel commented on #43471
@SteveMaddison Thanks for sharing version detail.
I will verify this on vCenter 5.5.0 and update the PR.

cc: @tusharnt

[2017-04-04 13:43] zhouhaibing089 commented on #44032
cc @anguslees

[2017-04-04 13:52] moserke commented on #44007
Ah yes, I see that now.  What is the lifecycle of a dynamic disk?  Does that disk live on after the PVC is released?  After the PV is deleted?  It seems like I may just not fully be exercising the power of the volume plugins as well.  I would still have the issue with existing volumes as they have data that I need to maintain, but would be interesting for new volumes to look into these more.

[2017-04-04 13:56] zhouhaibing089 commented on #43974
can you get the full log of this line?

[2017-04-04 13:59] cyphar opened #44043 "cri: legacy symlink breaks non-Docker CRI implementations"
While working on kubernetes-incubator/cri-o#162 @sameo found that the `logPath` that we are given by kubelet is actually a symlink to the "legacy container log path" which is a Docker-specific path that doesn't exist with non-Docker CRI implementations.

As a result, currently `kubelet` breaks the CRI for non-Docker implementations. This was originally merged in #34858, but it seems like this syml

[2017-04-04 14:08] cmluciano commented on #43854
@ngortheone You can use the cross build to output your own or use a tagged version [here](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#downloads-for-v161).

Related to https://github.com/kubernetes/kubernetes/issues/25730

[2017-04-04 14:11] zetaab commented on #44032
This is actually fixed already in 1.6.1 https://github.com/kubernetes/kubernetes/blob/v1.6.1/vendor/github.com/rackspace/gophercloud/openstack/blockstorage/v1/volumes/requests.go

[2017-04-04 14:12] zhouhaibing089 commented on #43901
@zouyee are you still seeing those data in etcd?

[2017-04-04 14:17] divyenpatel commented on #44007
RECLAIMPOLICY for PV created using Dynamic Provisioning is Delete
[code]
PV will get deleted if you delete PVC.

[2017-04-04 14:19] justinsb commented on #41598
@bcorijn yes.  For now you can use a storage class, or you can abuse the heuristics to work in your favor.  But we're all eagerly waiting for the real solution :-)

[2017-04-04 14:23] justinsb commented on #42796
We have had reports that docker-babysitter is not running in recent kops installs, so that could be the cause: https://github.com/kubernetes/kops/issues/2279

[2017-04-04 14:55] therc commented on #44001
I tweaked the language and added a few mentions on how this might integrate with Helm. This is now PR https://github.com/kubernetes/community/pull/506

[2017-04-04 15:13] MatMaul opened #44045 "Labels value: relax restrictions ?"
Would it be possible to relax the restrictions on the labels value ?

In our cloud the default availability zone is "-", and the OpenStack provider is putting this info into a label. The Kubelet then fails to register to the apiserver when validating the node descriptor.

Are these restrictions needed (to easily store them for example) or is it by spec only and could be relaxed ?
I am talking valu

[2017-04-04 15:15] timothysc commented on #43246
So here is what I ended up doing for posterity..

[code]

[2017-04-04 15:21] k82cn commented on #43854
@cmluciano , he's question is do we support Power64 **BE**?

[2017-04-04 15:31] discordianfish commented on #12835
It looks like I can reliably fix the issue by restarting kubelet.. But the first time it comes up, even though `/root/.docker/config.json` exists before that, I get the access forbidden errors.

[2017-04-04 15:46] bostone commented on #43815
@gtirloni @srzjulio adding these steps after `kubeadm init` did not help. It did make kubelet service change from `failed` to `active (running)` but I still have `The connection to the server localhost:8080 was refused - did you specify the right host or port?` message. And if I look at services listening I can't see 8080 anywhere. What I can see is that kubelet is listening on these ports:
[code]

[2017-04-04 15:48] ncdc commented on #43300
@jingxu97 @gnufied @jsravn

Me either

The informers will resync their items every so often, as defined by either the global shared informer factory resync period, or the per-event handler resync period. But it's better to use `WaitForCacheSync` in the controller's `Run` function.

You can and should call `WaitForCacheSync` in `Run`. This is the common pattern in our controllers. The typical flow

[2017-04-04 16:03] ngortheone commented on #43854
@k82cn @cmluciano  - yes, the question is specific to ppc64 **BIG ENDIAN**
Unfortunately, there is no build for ppc64be and AFAIK the problem lies in go compiler that does not yet support dynamic linking. @k82cn - could you please link me to the PowerPC 'related' people?
Thanks in advance.

[2017-04-04 16:11] gnufied commented on #43300
You answered that it yourself in the last part of your reply. Just putting `WaitForCacheSync` line in `Run` function will result in a situation where event handler function will be called before `WaitForCacheSync` unblocks.

The resync interval in attach/detach controller is 12 hours for any realistic use.

[2017-04-04 16:15] ncdc commented on #43300
Ok, difference in terminology. The events are not *missed* per se. They're received and processed, possibly incorrectly without a work queue.

[2017-04-04 16:16] nomad-007 commented on #43808
Some problem Ubuntu 16.04.2 baremetal
kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:33:27Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

[2017-04-04 16:19] discordianfish commented on #12835
Ha, okay. I wasn't restarting it, I started it manually for debugging and it works - because I was in a different working directory.
Seems like kubelet is looking in the current working directory for `.docker/config.json`. I've moved my config to `/var/lib/kubelet` and set that as working directory.

So the documentation is slightly wrong. It says:
[code]
First of all, I don't think Docker does an

[2017-04-04 16:22] roberthbailey commented on #23233
@TamalSaha - see @bgrant0607's [comment earlier in the thread](https://github.com/kubernetes/kubernetes/issues/23233#issuecomment-285524825) about why Helm/Tiller isn't a good fit.

[2017-04-04 16:25] sbezverk commented on #43815
@bostone it is not kubelet port you need, it is kube-apiserver, it should be listening on 6443 port.

[2017-04-04 16:30] bostone commented on #43815
@sbezverk I did not modify any defaults as far as ports (it's not in any instructions) What do I need to do to switch from 8080 to 6443

[2017-04-04 16:31] vascofg opened #44046 "Deleting a deployment doesn't delete the pods"
**BUG REPORT**:

**Kubernetes version**: 1.6.1

**Environment**:
- **Hardware configuration**: 2 identical machines, with i7-2600K CPUs and 4GB RAM.
- **OS**: CentOS 7
- **Kernel**: 3.10.0-514.10.2.el7.x86_64
- **Install tools**: KubeADM

**What happened**:
Deleting a deployment via the API with the DeleteOptions settings `orphanDependants: false` or `propagationPolicy: Background` deletes the Dep

[2017-04-04 16:32] chuckbutler commented on #43461
@jacekn this was resolved with the connection string fix in https://github.com/juju-solutions/layer-etcd/pull/84

I'm 98% certain this resolves your concern due to the nature of etcd, raft, and how these systems work with the fully-formed cluster string with each unit. If a unit is not part of the cluster it should fail over to another member thats reporting healthy. If that's not the case I'd lik

[2017-04-04 16:33] kargakis commented on #42002
@jbeda @luxas @roberthbailey you guys will be interested in this one

[2017-04-04 16:43] yujuhong commented on #44027
Thanks for reporting! kubelet shouldn't panic in this case. This is a bug, and I uploaded a PR #44047 to fix this.

[2017-04-04 16:46] yujuhong commented on #44027
We should cherry-pick the fix. On the side note, the impact of this bug at startup is limited because kubelet would fail to start if docker isn't running already.

[2017-04-04 16:50] albertvaka commented on #42983
@crassirostris then the tolerations field should be removed from https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml ?

[2017-04-04 16:50] sbezverk commented on #43815
@bostone if you did not modify anything in apiserver manifest then by default it will listen on 6443 port. You just need to copy /etc/kubernetes/admin.conf into $HOME/.kube/config, change permissions on config file and you should be all set.

[2017-04-04 16:52] crassirostris commented on #42983
@albertvaka Yes. Sorry, was busy with other things, I will make a PR today

[2017-04-04 17:01] bostone commented on #43815
@sbezverk BTW - I'm running all the installation steps as root but these 3 instruction lines from `kubeadm init` output suggest using sudo user. What is the recommendation on this? Should  run all installation steps as a sudo as well?

[2017-04-04 17:12] yujuhong commented on #44043
@Random-Liu I thought the legacy symlinks are just there for fluentd to consume. Do we actually serve logs through those symlinks?

[2017-04-04 17:23] bostone commented on #43815
Ok, I did all the steps from scratch and it seems to be better. Here are the steps that worked for me thus far and I'm running as root.

[code]
Add `-cgroup-driver=systemd` to 10-kubeadm.conf and save
[code]
At this point I can run `kubectl get nodes` and see my master node in the list.
Repeat all the steps for minion except of course running `kubeadm join --token a21234.c7abc2f82e2219fd 12.34.567

[2017-04-04 17:30] sjenning commented on #43815
I imagine your weave isn't deploying properly because you are using the
pre-1.6 yaml file.

Try "kubectl apply -f https://git.io/weave-kube-1.6"

On Tue, Apr 4, 2017 at 12:24 PM, Bo Stone <notifications@github.com> wrote:

[2017-04-04 17:38] dcowden commented on #43815
Using CentOS, and 1.6.1-1 version of kubeadm, and following the steps above, i get slightly different behavior: the cluster is reported as ready but then I get stuck at this message:

`   [apiclient] Temporarily unable to list nodes (will retry)`

In the logs, though, we still have the same error:

[code]

[2017-04-04 17:47] bostone commented on #43815
@sjenning That's it! I still need to deploy some images to see if everything work but I can see all nodes with `Ready` status! Thank you all, guys (for now :)

[2017-04-04 17:50] dcowden commented on #43815
@bostone I followed the same recipe you used, but got different results-- i didnt get past kubeadm init. What docker version are you using? perhaps thats the difference in my case?

[2017-04-04 17:50] ramachittala commented on #38542
Hi Anyone help this issue.
#cat mongo-pod.yaml
apiVersion: v1
kind: Pod
metadata:
  labels:
    name: mongo-svc-a
  name: mongo-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: mongo
    spec:
      containers:
      - image: mongo
        name: mongo
        ports:
        - name: mongo
          containerPort: 27017
          hostPort: 27017
        volumeMoun

[2017-04-04 17:52] bostone commented on #43815
It's whatever yum picks on my system `Docker version 1.12.6, build 96d83a5/1.12.6`

[2017-04-04 17:55] dcowden commented on #43815
@bostone thanks. i'll downgrade to that version to see if i can get a working setup. on my system the latest is a weird 17.03.1.ce version ( evidently the latest greatest)

[2017-04-04 17:55] nikhiljindal commented on #39982
Design proposal: https://github.com/kubernetes/community/issues/292

[2017-04-04 18:02] sjenning commented on #43815
Not sure if it is generally useful, but I have an ansible playbook that
does all the steps for CentOS 7

https://github.com/sjenning/kubeadm-playbook

YMMV, but it at least documents the process.  I also do a few things like
switch docker to use json-file logging and overlay storage.

Might be useful as a reference even if you don't actually run the playbook.

On Tue, Apr 4, 2017 at 12:55 PM, Dave

[2017-04-04 18:12] jingxu97 commented on #43300
@ncdc, can I ask what might happen if controller start working process without WaitForCacheSync returns true?

[2017-04-04 18:13] jingxu97 commented on #43300
@ncdc Also, I still not sure about why it doesn't set pvcsSynced and pvsSynced to alwaysReady?

[2017-04-04 18:19] smarterclayton commented on #1462
Same, would like to see more of a discussion before we rush into this.  A proposal or quick sketch at minimum.

[2017-04-04 18:20] dcowden commented on #43815
@sjenning Thanks! that's very helpful!

[2017-04-04 18:33] kargakis commented on #42552
This may also be because of watch.Until

[2017-04-04 18:36] kargakis commented on #23993
Dupe of https://github.com/kubernetes/kubernetes/issues/5762?

[2017-04-04 18:36] luxas commented on #42002
Yeah, thanks @kargakis. This was exactly the "fear" @jbeda mentioned.
If we do this, I'd rather have a "bootstrapping mode" that bypasses this (in case this breaks people, we don't know that yet)

[2017-04-04 18:37] kargakis commented on #23993
Btw I would love to have this. It would make bash controller loops more robust.

[2017-04-04 18:37] kargakis commented on #23993
@kubernetes/sig-api-machinery-misc @kubernetes/sig-cli-misc

[2017-04-04 18:48] tiukhtinvladimir opened #44050 "kubernetes doesn't see any data from etcd after upgrade"
Hello! My issue looks like a bug, but it's possible I'm doing something wrong. I was upgrading from 1.4.9 to 1.6.0. Downloaded binaries and restarted kube-apiserver with the same parameters. But 1.4.9 can see any configuration from etcd like pods, deployments etc. 1.6.0 can't.

**Environment**:
- self-hosted from binaries
- debian 9
- systemd supervisored

[2017-04-04 18:59] yujuhong commented on #42718
That meets your requirement, doesn't it? I think that aligns with @crassirostris's proposal. Anyone can write their own daemonset to customize the metadata they need, and this issue will define the contract/agreement between the daemonset and the kubelet so that it's easy to write such a daemonset.

In general, I think k8s-related metadata (e.g., pod name/namespace) can be retrieved directly from

[2017-04-04 19:04] dims commented on #44050
@tiukhtinvladimir Please see https://kubernetes.io/docs/admin/upgrade-1-6/

[2017-04-04 19:07] kargakis commented on #44046
cc: @caesarxuchao @krmayankk @enisoc

[2017-04-04 19:08] Random-Liu commented on #44043
@cyphar I don't understand. Do you mean that the path passed to cri-o by CRI is legacy container log path?
We pass in the sandbox log directory path here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_sandbox.go#L98
pass in the container log path here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L1

[2017-04-04 19:14] cyphar commented on #44043
@Random-Liu From [this comment](https://github.com/kubernetes-incubator/cri-o/pull/162#issuecomment-291497899) the path provided by CRI is something like `/var/log/pods/7075157cfd4524dbe0951e00a8e3129e/etcd_0.log`. However, that path is actually a **symlink** to somewhere inside `/var/lib/docker` [created here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntim

[2017-04-04 19:17] kargakis commented on #44039
kubeadm issue tracker is https://github.com/kubernetes/kubeadm/issues

[2017-04-04 19:17] kargakis commented on #44039
@luxas

[2017-04-04 19:20] lavalamp opened #44052 "[kube-apiserver] [kube-controller-manager] Flags involving certs & keys are confusing"
It's extremely difficult to understand the various certs, keys, CAs, etc from the command line flag names and help strings.

Work items:
1. Make a doc, disambiguate all the various keys, clarify which aspects of the key (pub, priv, ca, cert, cert bundle) is needed and why.
2. Define a flag naming scheme that is consistent, e.g., `-<name>-{private-key|public-key|ca|cert|bundle}`
3. Change code, kee

[2017-04-04 19:21] lavalamp commented on #44052
@cjcullen @liggitt @deads2k

[2017-04-04 19:22] Random-Liu commented on #44043
@cyphar Actually it's not `/var/lib/docker`, it's the legacy kubernetes container log directory `/var/log/containers`.

We do that because even though we defined the new CRI log path `/var/lib/pods`, the cluster logging is not changed yet - fluentd is still looking at `/var/lib/containers`. For not breaking cluster logging, we symlink the log in new CRI log path `/var/lib/pods/container/**.log` to

[2017-04-04 19:25] gnufied commented on #43300
@jingxu97 `WaitForCacheSync` is a must have - if we are going to implement worker queues for processing events, because without waiting for `WaitForCacheSync` to return - if controller starts processing events, then we are back to square one problem of race between node and pod informer cache. So without waiting for `WaitForCacheSync` to return - a pod event from queue could be processed before a

[2017-04-04 19:26] enj opened #44054 "Race condition with `ControllerClientBuilder` + `TokensController` + custom token controller"
Currently it is possible to have the following race condition:

1. You have a custom token controller that acts on secrets when SAs are created (like the `TokensController`)
2. `ControllerClientBuilder` is used to build a SA for some controller
3. Both `TokensController` and the custom token controller create secrets for the SA
4. `ControllerClientBuilder` sees the secret for the SA, and starts th

[2017-04-04 19:26] cyphar commented on #44043
@Random-Liu Do you know why @sameo's cluster had symlinks to `/var/lib/docker/containers/df19314697ecce0c9c30754f97ce7947d231fd4b04424b16448d1a28c3075876/df19314697ecce0c9c30754f97ce7947d231fd4b04424b16448d1a28c3075876-json.log` then?

[2017-04-04 19:28] gnufied commented on #43300
/assign @gnufied

Going to take a stab at it.

[2017-04-04 19:34] yujuhong commented on #44043
kubelet creates legacy symlinks in `/var/log/containers` to point to the new CRI log paths:
[code]
dockershim (which should not run in your case) creates the symlinks from the CRI log paths (`/var/log/pods/*`) to the logs in `/var/lib/docker`
[code]

@cyphar unless you are actually running dockershim, or the legacy non-cri implementation, you should not have symlinks to `/var/lib/docker/containers

[2017-04-04 19:36] tiukhtinvladimir commented on #44050
@dims thank you for the quick response. Ye,  I know it, but I have never used etcd v2 - started from etcd v3. Are there any etcd migrations I should perform? Rolled back 1.4.9 for the moment. Don't understand why 1.6.0 doesn't see any entries in etcd

[2017-04-04 19:40] cyphar commented on #44043
@sameo was the person who ran into this issue, so I can't be sure about how he ran things, but from what he said he restarted a k8s cluster to switch from dockershim to cri-o.

[2017-04-04 19:43] yujuhong commented on #44043
Sounds very likely that those symlinks were the artifact from dockershim before making the switch.

@sameo could you confirm whether there are any problems and close this if there are none? Thanks!

[2017-04-04 19:48] fabianromerorcc opened #44057 "1.6.1 release broke installation of 1.5.1 with Ubuntu Provider"
**BUG REPORT**

**Kubernetes version**
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
[code]
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

**What happened**:
I started installation with kube-up.sh on Ubuntu, and kubelet failed to start because:
[code]
I realized that those options are deprecated now on 1.6.1 release, so I started to

[2017-04-04 19:56] crassirostris commented on #36401
@yujuhong Are we talking about changing the CRI log path to contain some metadata? I really like the idea of the new path with only minimum amount of information

Sorry, I'm not sure I get it. Do you want to remove the legacy filename in 1.7? What is the deprecation policy for this particular thing exactly, how long do we have to keep it around?

[2017-04-04 20:22] #42517 closed

[2017-04-04 20:25] caesarxuchao commented on #44046
We discussed the problem in https://github.com/kubernetes/kubeadm/issues/149#issuecomment-278578812.

I'll change the GC to make sure it's cascading.

[2017-04-04 20:27] jingxu97 commented on #43300
@gnufied From my understanding, the pod event could still be processed before a node event even WaitForCacheSync returns. WaitForCacheSync just makes sure when controller starts processing the events, the informer cache is synced.

[2017-04-04 20:30] liggitt commented on #44050
are you using a custom `--etcd-prefix`?

[2017-04-04 20:31] ncdc commented on #43300
@jingxu97 that's correct. If you have 2 fully synced caches (pods, nodes) and events arrive, there's no guarantee as to the order in which they arrive. You have to be able to handle situations where either the pod or the node arrives first.

[2017-04-04 20:32] vishh commented on #42718
@crassirostris

Sorry, I meant that the shim will handle writes and kubelet will handle rotation, long term storage, etc.

For storage enforcement purposes, kubelet will have to perform rotations. Kubelet can delegate rotations to shims, but that's debatable. I'd like to understand the constraints a bit more before making that choice.

Yes. It will be a simple `inotify` instead of a full blown con

[2017-04-04 20:36] bostone commented on #43815
Ok, here's one complication. after running `kubeadm reset` on master and minion and restarting docker and kubelet services `kubeadm init` hangs on `Created API client, waiting for the control plane to become ready` once again. Can someone provide complete steps for resetting kubeadm?

[2017-04-04 20:37] tiukhtinvladimir commented on #44050
Hello @liggitt! No, I am not using this option, so as default it should be /registry. And I am able to retrieve data with 'etcdctl ls /registry'. kube-apiserver 1.4.9 also can, but not 1.6.0 for some reason we want to find out

[2017-04-04 21:17] Calpicow opened #44059 "error trying to get filesystem Device for dir /var/lib/kubelet"
Looks like cadvisor is having trouble getting metrics for /var/lib/kubelet when it is mounted as tmpfs.

Using CentOS 3.10.0-514.6.1.el7.x86_64

kubelet
[code]

/proc/self/mountinfo
[code]

Doesn't appear to be related to #38337 since major/minor numbers match up.

[2017-04-04 21:17] caesarxuchao commented on #44046
Sent #44058

[2017-04-04 21:28] fabianromerorcc commented on #44057
Is it safe to use kubernetes/version file to get current version number? I'm trying to find a more flexible and dynamic way of config binaries version in download-release.sh.

I'm wondering if will be kind of brittle to have something like this:
[code]
... in line 74 of download-release.sh. Maybe could be better a preconfigured KUBE_ROOT variable, but that variable is not set in that context.

I'm

[2017-04-04 21:31] wonderfly commented on #19878
For newer `gcloud` installations, it is `gcloud auth application-default login`.

[2017-04-04 21:33] #44027 closed

[2017-04-04 21:33] #43973 closed

[2017-04-04 22:21] kow3ns commented on #1462
@davidopp The use case I have in mind is for signalling to a stateful application the reason it has been terminated. In particular, if the application instance is being terminated for the purposes of horizontal down scaling, and if its data is not replicated identically across each node, it needs to redistribute its data to avoid leaving the system under replicated. However, if the application ins

[2017-04-04 22:30] freehan commented on #43967
I will push a PR to deprecate the `--network-plugin-dir` flag. It is confusing. Closing this issue.

[2017-04-04 22:30] #43967 closed

[2017-04-04 22:47] jswoods commented on #41916
Okay, one more update. I'm fairly confident that this issue is related to having the API servers behind an ELB, and having kubelet communication to the API servers go through the ELB. It does appear this issue shows up when the ELB addresses change (usually during a scale up/down of the ELB, e.g. during or following a spike in API traffic). The TTL on the ELB aliases are 60 seconds, and the defaul

[2017-04-04 23:22] kgrvamsi commented on #43974
@zhouhaibing089 Thanks for checking this issue and here are the log files for kube apiserver and kube controller manager

https://gist.github.com/kgrvamsi/91f7dd966b1b405b672f590b067874d8

[2017-04-04 23:37] quinton-hoole opened #44063 "Implement IPVS-based in-cluster service load balancing"
At KubeCon Europe in Berlin last week I presented some work we've done at Huawei scaling Kubernetes in-cluster load balancing to 50,000+ services and beyond, the challenges associated with doing this using the current iptables approach, and what we've achieved using an alternative IPVS-based approach.  iptables is designed for firewalling, and based on in-kernel rule lists, while IPVS is designed

[2017-04-04 23:37] zhouhaibing089 commented on #43974
The error says connection refused when access 127.0.0.1:8080, and most probably, it is because of the insecure-bind-address was set to be 192.168.1.99. set it to be 0.0.0.0 should help.

[2017-04-04 23:40] adamneilson commented on #43752
We're seeing a very similar issue accessing RDS from minions but do not see the same problem from the master. We have a peering connection from k8s cluster VPC `172.20.0.0/16` to RDS VPC `172.31.0.0/16`.

`telnet my-database.eu-west-1.rds.amazonaws.com 3306` from master gives the `mysql_native_password` challenge but running that same command from within a container on a minion times out.

Checked

[2017-04-04 23:48] adamneilson commented on #43752
@powerupcloud  one thing to note: I've just been looking at your stacktrace and noticed that you are using HikariPool which we are too. I wonder if the `Inet6AddressImple` IPv6 is something to do with it. Just a thought...

[2017-04-04 23:56] dashpole commented on #26000
/close
via #42916

[2017-04-04 23:56] #26000 closed

[2017-04-05 00:19] caesarxuchao opened #44065 "Moving external API types to a separate repo (k8s.io/api)"
## Motivation
client-go currently has its own copy of API types. This causes problems like
* client-go users cannot reuse kubernetes utilities functions because the types don't match.
* we cannot remove the staging folder and develop in the client-go directly, because otherwise duplicate PRs are required to update API types.
* kubernetes vendors repos like k8s.io/metrics, k8s.io/heapster, which ve

[2017-04-05 00:19] bcwaldon commented on #43634
This bit me, too. It would help if the error messages emitted in the logs were more specific, as they currently make think there is a connectivity issue between the apiserver and etcd.

[2017-04-05 00:39] #42203 closed

[2017-04-05 00:40] ericchiang commented on #39441
Was wondering if this plays into https://github.com/kubernetes/community/pull/145, which seems to be mostly focused on API server audit logging. Perhaps the kubelet would reuse the plugins mentioned in that proposal?

[2017-04-05 00:43] dims commented on #44059
Hmm, looks like its coming from here:
https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/google/cadvisor/fs/fs.go#L429

So it's possible that the process needs to be restarted after the directory was mounted? Can you try that? (Since the partitions is cached there)

[2017-04-05 00:46] timstclair commented on #39441
I think it would make sense for the Kubelet to reuse some of the types (audit event), maybe the filter formats, and the output plugin. A lot of the rest of the proposal is pretty specific to the apiserver architecture.

BTW - I'm only going to be working on the API side for 1.7, so I'm removing this from the milestone unless someone else wants to pick it up.

[2017-04-05 01:02] kgrvamsi commented on #43974
@zhouhaibing089  I tried changing the config as per your suggestion

API SERVER running
[code]

Controller Manager Logs

[code]

Netstat Output

[code]

It remains in that activating state only

[2017-04-05 01:09] zhouhaibing089 commented on #43974
again, could you give the full log for `kube-controller-manager`..

[2017-04-05 01:27] #36792 closed

[2017-04-05 01:27] kgrvamsi commented on #43974
Here is the recent log

https://gist.githubusercontent.com/kgrvamsi/91f7dd966b1b405b672f590b067874d8/raw/6c851c87bd9601fd749b41bda6b63ea379d48d4e/Kube%2520Controller%2520Log%25202

[2017-04-05 01:28] Random-Liu commented on #41516
FYI, I could still reproduce this in docker `17.03.1-ce`.

https://github.com/docker/docker/issues/31262#issuecomment-291702411

[2017-04-05 01:35] zhouhaibing089 commented on #43974
see if that helps when you put the ca in `/etc/kubernetes/ca/ca.pem`/

[2017-04-05 01:38] k82cn commented on #38542
@ramachittala , it seems there're two `spec` here, please remove the first one and have a try.

[code]

[2017-04-05 01:39] chrisegner opened #44069 "kubectl cluster-info dump dies on first pod with multiple containers"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): cluster-info, dump, "server rejected our request for an unknown reason"

---

**Is th

[2017-04-05 01:45] liggitt commented on #24167
I think this should be enabled by default. Agree that we can add a TTL if there is an issue with performance, but we've been running with this enabled for 2+ years at scale in OpenShift without incident.

[2017-04-05 01:55] krmayankk opened #44070 "Adding minReadySeconds causes Deployment to report minavailablility as 0 although all pods are running"
I added minReadySeconds to my deployment(progressDeadline was already present)
[code]

 this causes the Deployment to report unavailable as follows:
[code]
although all pods and rs are still running properly
[code]

If i remove the minReadySeconds, the problem goes away and the deployment becomes unavailable. The yaml in the bad state looks like this:
<details>

[code]
</details>

[2017-04-05 01:55] krmayankk commented on #44070
@janetkuo @kargakis

[2017-04-05 02:18] sfrique commented on #21002
It would be nice if we could choose logs destination after the cluster creation.

[2017-04-05 02:31] khenidak commented on #31129
+1 the behavior is consistent at the current head.

[2017-04-05 02:52] liubog2008 commented on #4957
Is there any progress? I try to use RBAC to authz, but RBAC also has this security problem till now.

### env

1. rbac alpha
2. kubernetes v1.5.2

### How to reproduce

1. "caicloud" create secret from secret.yaml.
2. "other" try to access secret, but the behavior is denied.
3. "other" create a pod "test-pod" which use secret test.
4. "test-pod" is created successfully.
5. "other" can read secret

[2017-04-05 02:55] xingzhou commented on #44069
I can reproduce the error by using the latest code, let me take some investigation on this first.

[2017-04-05 02:56] liggitt commented on #4957
Correct, that is currently working as designed. The ability to create pods in a namespace currently implies the ability to read secrets in the namespace (even if you couldn't exec in, you could run an image that would send the mounted secrets to you).

[2017-04-05 03:31] gyliu513 commented on #44063
Even though Kubernetes 1.6 support 5000 nodes, but the kube-proxy with iptables is actually a bottleneck to scale the cluster to 5000 nodes. One example is that with `NodePort` service in a 5000 node cluster, if I have 2000 services and each services have 10 pods, this will cause 20000 iptable records on each worker node, and this can make the kernel pretty busy. Using IPVS-based in-cluster servic

[2017-04-05 03:33] frankgreco commented on #15128
@duglin you say that the "fieldSelector" query param only works on kinds such as Pods. However, it is part of the `v1.ListOptions` struct which is used in multiple api groups included core, extensions, etc. See the GoDoc [here](https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#ListOptions)

[2017-04-05 03:34] kgrvamsi commented on #43974
@zhouhaibing089 if the api server runs in Insecure mode still the controller manager needs a pem key to validate?

[2017-04-05 03:38] frankgreco commented on #15128
also, I can confirm that it works for more than just pods

[2017-04-05 03:51] FengyunPan opened #44074 "Reports const initializer which are not constants"
W0404 18:58:03.823] I0404 18:58:03.822519    1888 parse.go:394] type checker error: /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/vendor/github.com/davecgh/go-spew/spew/bypass.go:33:26: cannot use (*byte)(nil) (value of type *byte) as unsafe.ArbitraryType value in argument to unsafe.Sizeof W0404 18:58:03.823] I0404 18:58:03.822589    1888 parse.go:394] type checker error: /

[2017-04-05 03:56] dcbw opened #44075 "vSphere cloud provider returns IP addresses from all kernel interfaces"
See https://bugzilla.redhat.com/show_bug.cgi?id=1433236:

[code]

In this example, 172.17.0.1 is 'docker0', 10.128.0.1 is 'tun0' (a non-routable interface created by OpenShift), and 10.66.146.29 is 'ens192' which is the actual routable interface for this VM.

I don't think the vSphere cloud provider is using the same criteria for ExternalIP and InternalIP that other cloud providers are, and that m

[2017-04-05 03:59] wangycc commented on #17626
- Version

Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean",

[2017-04-05 04:00] dcbw commented on #44075
@BaluDontu cc since you've touched code here recently; if you're not the right person, please let me know who is.  Thanks!

[2017-04-05 04:11] dcbw commented on #44075
Also, the inclusion of IPv6 link-local addresses in the NodeAddress list is questionable, since if ExternalIP means "reachable outside the cluster" then clearly link-local is invalid.

In any case, I realize this NodeAddress code came from @dagnello almost a year ago; perhaps he could ellucidate the reasoning behind the original classification of external/internal and how it maps to vSphere NICs?

[2017-04-05 04:21] liggitt commented on #43478
I think this should probably collapse to https://github.com/kubernetes/kubernetes/issues/40403... API patterns for accessing some (but not all) namespaces

[2017-04-05 05:17] liggitt commented on #26909
Access to discovery paths is now automatic with RBAC in 1.6.

For forbidden errors, RBAC now outputs errors like this:

[code]

[2017-04-05 05:17] #26909 closed

[2017-04-05 05:18] liggitt commented on #30079
yeah, seems more a testapi issue

[2017-04-05 05:22] icicimov opened #44078 "MIssing iptables rules on the nodes for Service type=LoadBalancer in AWS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): elb aws iptables loadbalancer

---

**Is this a BUG REPORT or FEATURE REQUEST?** (cho

[2017-04-05 05:26] liggitt commented on #29959
added lots of examples of matrix behavior with explanations of what is being granted to https://kubernetes.io/docs/admin/authorization/rbac/#role-examples

[2017-04-05 05:26] #29959 closed

[2017-04-05 05:29] liggitt commented on #29177
default roles and bindings are documented at https://kubernetes.io/docs/admin/authorization/rbac/#default-roles-and-role-bindings

deployments can set up additional bindings if desired, but these form the baseline

[2017-04-05 05:29] #29177 closed

[2017-04-05 05:30] liggitt commented on #34091
documented the various approaches at https://kubernetes.io/docs/admin/authorization/rbac/#service-account-permissions

[2017-04-05 05:30] #34091 closed

[2017-04-05 05:32] liggitt commented on #36981
dupe of https://github.com/kubernetes/kubernetes/issues/14362

[2017-04-05 05:32] #36981 closed

[2017-04-05 05:39] roberthbailey commented on #42002
I not sure I fully understand the bootstrapping concerns. You can always bypass the scheduler if you want (by specifying a node explicitly), so why not start with that for bootstrapping and then pivot into using a DS once the scheduler is running?

[2017-04-05 05:48] liggitt commented on #25204
in 1.5, the service account controller was rewritten to make use of a retrying queue in https://github.com/kubernetes/kubernetes/pull/35230

In your log, I see a single related error:
[code]

Prior to the rewrite, if an error was encountered creating a service account, it wouldn't get retried until the next sync period. Now, it will get retried repeatedly on a timed backoff.

[2017-04-05 05:48] #25204 closed

[2017-04-05 06:10] ravilr commented on #44063
@quinton-hoole is your implementation using IPVS in nat mode or Direct routing mode?

[2017-04-05 06:17] davidopp commented on #21002
@piosz  @kubernetes/sig-cluster-lifecycle-misc
(BTW, is there a reason why sig-instrumentation doesn't have a Github team?)

[2017-04-05 06:42] zhouhaibing089 commented on #43974
@kgrvamsi the ca is for csr controller, controller itself does not need this to access apiserver, but for other purpose, the ca is required.

[2017-04-05 06:51] justinsb opened #44080 "GPU detection should poll"
The new Accelerators=true feature-gate enables auto-detection of GPUs.  But I believe it does not detect hot-plugged GPUs; kubelet must be restarted for the GPUs to be detected and reported in the Node.  At least I believe that is the case.

What I'm actually doing here is not hot-plugging the device, but rather starting kubelet and at the same time starting the nvidia driver installation.  About

[2017-04-05 07:06] abdasgupta commented on #43173
Hi @thockin
Are we still following this issue? I want to start my contribution in kubernetes. I am interested on this issue. As a solution I can propose if we could use EnsureLoadBalancer() everytime before we call GetLoadBalancerName() for backward compatibility. Is it possible? Anything I am missing?

[2017-04-05 07:31] nikhiljindal commented on #42695
Closing as dup of https://github.com/kubernetes/kubernetes/issues/33292

[2017-04-05 07:31] #42695 closed

[2017-04-05 07:38] nikhiljindal commented on #43828
Sent https://github.com/kubernetes/kubernetes/pull/44084 to fix this

[2017-04-05 07:59] prateek2408 commented on #5607
By going through the comments it seems that the issue is party solved but a final fix is yet to come.
Is my understanding correct ?

If yes then what part is left. I can take that as there is a requirement where I need to expose an Nvidia card to one of the Kubernetes Pod/Container

[2017-04-05 08:04] avaranovich opened #44085 "fsGroup in not used for azureFile"
If I look at the code of azureFile plugin, it has _fsGroup_ as an argument, but don't see its usage anywhere
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_file/azure_file.go#L196

I also don't see anywhere explicitely stated that azureFile volume supports fsGroup.

[2017-04-05 08:05] chandrureddy commented on #41025
I am trying on s390x platform and I have the same error.

[code]

Environment:

    Cloud provider or hardware configuration: bare metal/packet.net
    OS (e.g. from /etc/os-release): IBM Linux release 8 (kvmibm1_1_2)
    Kernel (e.g. uname -a): Linux Master-63 4.4.0-59.80.el7_2.ssc_k_1_0.1.s390x #1 SMP Fri Feb 3 15:47:40 EST 2017 s390x s390x s390x GNU/Linux
    Install tools: kubeadm
    Others:

[2017-04-05 08:19] jetuuuu commented on #43812
I'm going to prepare a fix for this.

[2017-04-05 08:26] #43789 closed

[2017-04-05 08:50] supereagle commented on #38979
[code]

In `/sys/fs/cgroup/systemd/system.slice/`, slices starts with `var-lib-docker-containers-` are really containers, slices starts with `var-lib-docker-overlay-` are not containers. The regexp `[a-z0-9]{64}$` can correctly pick up the containers and dodge other cgroups?

[2017-04-05 08:55] tinkercloud commented on #23406
@zhouhaibing089  Just I have encountered the same problem, thank you for your answer

[2017-04-05 09:39] Tedezed commented on #44033
Scale documentation: https://kubernetes.io/docs/tasks/manage-stateful-set/scale-stateful-set/

Something like that:
`kubectl autoscale StatefulSet etcd-cluster --max=17 --cpu-percent=33`

[2017-04-05 09:46] kargakis commented on #44070
@krmayankk there was a fix that went in for minReadySeconds in 1.5.4, can you try with that version?

[2017-04-05 10:03] HerrmannHinz commented on #34982
just tried this too. seems not to take effect:

from a traefik.yml
`---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: traefik-ingress-controller
  labels:
    k8s-app: traefik-ingress-lb
spec:
  replicas: 1
  revisionHistoryLimit: 0
  template:
    metadata:
      labels:
        k8s-app: traefik-ingress-lb
        name: traefik-ingress-lb
    spec:
      containers:
        -