[2015-12-01 17:16] karlkfi commented on #17536
Yup.

We've added code to the mesos CI scripts to make that happen: https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/ci/test-conformance.sh#L35-L42

- By default (`CONFORMANCE_BRANCH` unspecified) it runs the tests from the branch being tested.
- When `CONFORMANCE_BRANCH` is set, it runs the tests from the specified branch.

[2015-12-01 17:29] pmorie commented on #4789
@deads2k What aspect of file info did you have in mind?

Being more explicit about the semantics, I think the presence of a `FileInfo` is an override for the placement of the data for a single secret key.  So, the default behavior of a secret volume with no such objects would be the existing behavior.

[2015-12-01 17:30] bprashanth commented on #17795
@wojtek-t
1. We need to move all the flannel helper stuff into a network plugin and out of the kubelet. There's too much special casing. We sholdn't for example, install that iptable rule or read subnet.env from code that links against the kubelet. It should work the same as it does with other network providers, through the network plugin interface.
2. Flannel daemon is running on the node instead

[2015-12-01 17:31] chbatey commented on #16846
Tested this on a 1.2 cluster. No longer an issue. Thanks!

[2015-12-01 17:31] wojtek-t commented on #17933
Some of them are parallelizable, some are not...

[2015-12-01 17:33] kargakis commented on #17561
Actaully this is a problem since `--since-time` was added and there is no workaround to it other than fixing the conversion :(

[2015-12-01 17:34] eparis commented on #17933
I was thinking can we make a gce-slow-1 and a gce-slow-2

[2015-12-01 17:38] nckturner commented on #12167
@bradfordcp Just the project level, but not anymore.

[2015-12-01 17:39] dchen1107 commented on #17795
@bprashanth thanks for filing this as follow-up.

[2015-12-01 17:41] dchen1107 commented on #16846
@chbatey good to hear this. Close the issue.

[2015-12-01 17:41] #16846 closed

[2015-12-01 17:42] kargakis commented on #17561
@smarterclayton is there an issue about broken conversion for inline structs?

[2015-12-01 17:43] quinton-hoole commented on #17933
Yeah, that makes sense to me.  It will definitely speed things up a bit, at the expense of some configuration and cognitive complexity.  "gce-slow-parallel" perhaps?

[2015-12-01 17:49] tayzlor commented on #17789
I can't see anything specific that says my account is somehow tied to a region on my account setting, so yeah the error is a bit odd, but then again Azure is a bit odd generally. I created the account in the UK if that helps and its an enterprise MSDN account.

[2015-12-01 17:53] dchen1107 commented on #17929
Close this as dup of #18018

[2015-12-01 17:57] dchen1107 commented on #17928
@jdef

[2015-12-01 17:58] dchen1107 commented on #17907
cc/ @derekwaynecarr

[2015-12-01 18:06] cjcullen commented on #12167
I've seen three failure modes for this issue:

1. **Project level metadata is full, GKE cannot add its SSH key.** GCE has a [32 KB limit](https://cloud.google.com/compute/docs/metadata?hl=en#custom) on metadata values.

    **Solution**: Remove unused SSH keys.

2. **Node(s) with instance-level SSH keys set.** GCE allows instance-level SSH keys to override project-level keys. In this case `gcloud

[2015-12-01 18:10] paralin commented on #17929
I'm going to go ahead and say it's not the same issue @dchen1107. This is a cluster built from HEAD less than a week ago. Not something pre-1.1.

[2015-12-01 18:11] paralin commented on #17929
The minions have all died (preemptibles). Here is the still stuck master logger:

[code]

[2015-12-01 18:16] jdef commented on #17928
Thanks for filing this issue. We're pretty far away from being able to support multiple kubernetes frameworks sharing the same pool of slaves. If you statically partition your mesos cluster w/ roles then you're more likely to succeed: the k8sm scheduler just got support for roles. We haven't tested this yet.

Also, if you're running separate k8s frameworks, you probably want to run separate etcd r

[2015-12-01 18:17] abuehrle commented on #17789
Hi Graham,

I did run into a similar problem, and I ran the following to fix this issue:

If a location error is returned after running ./create-kubernetes-cluster.js, return a list of available locations by running:

azure vm location list
Choose a suitable location, and then set the location variable by running:

export AZ_LOCATION=‘<your-location>’
This is from the guide we have in github which

[2015-12-01 18:21] nckturner commented on #12167
@cjcullen None of these seem to apply.  We just deleted all the ssh keys from the project metadata, we have never added any keys at the instance level, and I have confirmed the ssh firewall rule is still there.  FWIW, gcloud ssh works fine.

[2015-12-01 18:22] sparkprime commented on #11492
Certainly with Jsonnet, and probably in similar systems that do not have up-front declaration of variables, one can wrap the Jsonnet library call in a layer (yaml, or bazel build rule, etc.) that declares the variables and provides default values.  That layer is interpreted by the code that invokes the Jsonnet library (or commandline utility).  This also allows standardization between different te

[2015-12-01 18:29] cjcullen commented on #12167
:/
The 4th failure mode I've also seen is "Other/Unknown". If it isn't any of those first three, you could look in `/var/log/auth.log` on your nodes for anything suspicious. Sometimes rebooting nodes (or deleting and waiting for the instance group to re-add) is enough to get things working.

Let me know what you find out.

[2015-12-01 18:40] dchen1107 commented on #17888
@sils1297 Thanks for reporting the issue and we are working on improving node performance. If your cluster is still running, could you please provide more information on who is using those memory on a node, like Kubelet, docker, kube-proxy, and other daemons on those nodes? Since you already disabled monitoring service, you can get those stats from monitoring service. But you still have those info

[2015-12-01 18:43] soltysh commented on #17242
@bgrant0607 ok I'll work on adding the back of as next step once the deadline PR is in. But this will be only applicable to RestartPolicyNever, which is the only tracking failures, others unfortunately don't. There's one other question, what should happen if backoff is specified without deadline? Or it's not expected and should fail validation? There's one other thought in my head regarding specif

[2015-12-01 18:49] sils1297 commented on #17888
@dchen1107 sure, it's totally reproducable, I've redeployed the cluster multiple times since then with several machine sizes and it's actually the same every time. Interestingly the memory consumption even rose when I choose VMs with bigger memory.

How can I get the info you desire? I just began working with kubernetes a few days ago.

[2015-12-01 18:51] yujuhong commented on #17656
@timstclair, thanks for digging! I checked the build you posted (http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/18085), but the timestamps were different from the snippets you pasted. Were you looking at a different build? I don't see the proxy error in the apiserver log as well....

I agree with the assessment that kubelet did update the status to be ready and rec

[2015-12-01 18:59] wojtek-t commented on #17723
I agree that starting with just per-client QPS limit is a good idea. I think in many cases only a single controller is trying to do something non-trivial (e.g. starting RC with many replicas is triggering a bunch of writes from RC - but just RC, or deleting namespace is triggering namespace controller, but just it).
So I think it shouldn't be a big problem (at least for now).

[2015-12-01 19:03] spiffxp commented on #17449
/cc @kubernetes/sig-scalability

[2015-12-01 19:05] yujuhong commented on #15528
@onorua, could you follow https://github.com/kubernetes/kubernetes/issues/15528#issuecomment-150667178 and post the information? Thanks!

[2015-12-01 19:06] bgrant0607 commented on #17807
We need to decouple API versioning from release versioning. We're going to have multiple API groups at different versions.

cc @lavalamp

[2015-12-01 19:11] bgrant0607 commented on #17242
@soltysh Backoff shouldn't be exposed in the API. It's an implementation detail. I wouldn't add it yet.

[2015-12-01 19:13] thockin commented on #18023
I could swear this was a dup, but I can not find the previous one.

YES.  I want this (but I also want standard aliases for commands like desc->describe and del->delete)

[2015-12-01 19:14] thockin commented on #11210
#18023 is for user-defined aliases

[2015-12-01 19:17] dchen1107 commented on #17870
@zhengguoyong You raised a really interesting point here. Based on our initial description of pod phase: https://github.com/kubernetes/kubernetes/blob/22e527fe2577e2ee29d557681ee388b2d10b91a6/docs/user-guide/pod-states.md#pod-phase

The pod is indeed at Running state already. But do we allow pod at running state without IP? If that is not allowed, should we leave pod at Pending state with proper r

[2015-12-01 19:23] bgrant0607 commented on #2789
@soltysh That specific detail is covered by #1468.

No resources other than pods currently support graceful termination.

We also need to implement server-side cascading deletion, as proposed in #1535.

[2015-12-01 19:28] bgrant0607 commented on #17870
I'd create an event and fail the pod.

cc @thockin

[2015-12-01 19:31] spiffxp commented on #14216
#17438 has been merged into master and cherry-picked into release-1.1, happy to call this closed once a new 1.1.x release has been cut

[2015-12-01 19:40] vishh commented on #17994
@evanphx What version of kube are you running? Kubelet is expected to recover disk space by deleting old containers and images. Such garbage collection doesn't happen unless usage on `/` exceeds 90% though.

[2015-12-01 19:50] dchen1107 commented on #17870
Ok, sounds like we agree on that the PodIP is prerequirement of Pod's Running phase besides of all of the containers have been created.

cc/ @kubernetes/goog-node

[2015-12-01 19:50] timstclair commented on #17656
Sorry, I must have been looking at the other build @wojtek-t posted (http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/11990/) but unfortunately it looks like that has expired.

Here is the relevant snippet from http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/18085 ([104.197.218.225:22-kubelet.log](https://00e9e64bac5883d28d4

[2015-12-01 19:51] ihmccreery commented on #17734
Unless I'm mistaken, this is easily resolved with an abstraction like a ENV variable, no?

Relatedly, I'm hating my life right now working on upgrades.  To put two upgrade suites in place (1.0 -> release/1.1 and 1.0 -> master), I have to coordinate PRs across three different branches: #18028, #18029, #18030.  I definitely don't think this is an acceptable solution in the long-run, (i.e. after Q1 2

[2015-12-01 19:51] yujuhong commented on #17870
Kubelet currently does not distinguish errors, i.e., it doesn't know whether an error is permanent or transient, and it would retry eventually. If we are certain that some errors are not recoverable, we can fail the pod. Can we tell clearly that this is the case (permanent error)?

[2015-12-01 19:52] fabioy commented on #17998
Lowering pri. Leaving the bug open for now to see if anyone's interested in fixing the unit test. Though, given the other test coverages, I wonder if it's needed at all.

[2015-12-01 19:52] ihmccreery commented on #17734
To be clear, *how* should never include the specifics of a job, just the properties that a certain "kind" of job should have (soak, upgrade, slow, etc.).

[2015-12-01 19:56] vishh commented on #17575
Are file based labels required for v1.2? Do we have any use cases or customers requesting such a feature in the next release?

[2015-12-01 19:57] ncdc commented on #7452
@thockin @lavalamp it looks like the Go HTTP/2 issue was just closed (https://github.com/golang/go/issues/6891#issuecomment-161070230). I glanced quickly through the code, but I don't see a way to hijack the connection and create our own streams, like we do with spdystream. Hopefully we can get this functionality in there at some point...

[2015-12-01 19:57] ncdc commented on #7452
cc @smarterclayton

[2015-12-01 19:58] jackgr commented on #11492
The overall goal and many of the requirements listed above make this feature overlap heavily with Deployment Manager, and probably with other template driven solutions, as well.

Specifically, it is the goal of DM to facilitate reuse of declarative configuration templates in different environments in a "significant number" of common cases without further expansion, substitution, or other static pr

[2015-12-01 20:04] dchen1107 commented on #17870
Kubelet already failed pods on events: host port conflicts, insufficient free cpu and memory, and disk today, so failing a pod on missing plugin is ok.

But @yujuhong has a good point. Proposed pr only detects networkPlugin error, not necessary a missing plugin issue. On a given transient issue, we should leave pod at pending state, and next sync loop will retry.

[2015-12-01 20:04] ixdy commented on #16828
1.1 soak cluster has been healthy since I rebuilt it, with the exception of early this morning, when tests were broken because e2e tests tried to run while the cluster was being redeployed. Job blocking was not configured correctly, but I've since fixed that.

[2015-12-01 20:04] #16828 closed

[2015-12-01 20:06] soltysh commented on #17242
OK, I'll wait with implementation until the right time comes ;)

[2015-12-01 20:35] quinton-hoole commented on #17575
We would like Ubernetes Lite to work on bare metal machines, so yes, ideally required for 1.2.  Although we *could* postpone and instead require admins to manually label nodes via the API for Ubernetes Lite on bare metal for v 1.2.

[2015-12-01 20:37] ncdc commented on #7452
I created https://github.com/golang/go/issues/13444 as an RFE for end-user stream support

[2015-12-01 20:40] bgrant0607 commented on #17731
Does this happen in practice?

Not sure if anyone depends on contents of ExternalID. At minimum, we need to rethink the name of this field and whether it should be in status instead. I'd be in favor of specifying that it should be stable.

cc @simon3z

[2015-12-01 20:42] liggitt commented on #17731
Yes, happened when we started referring to existing nodes by IP for SDN purposes

[2015-12-01 20:53] mikedanese commented on #17929
Can you paste the version of your master and of your nodes?

[2015-12-01 20:56] mikedanese opened #18035 "in certain error conditions, hack/update-codecgen.sh deletes types.generated.go files"
then subsequent runs of hack/update-codecgen.sh succeed incorrectly since it searches for .generated.go files to update here:

https://github.com/kubernetes/kubernetes/blob/master/hack/update-codecgen.sh#L36

I workaround this by touching the files that are deleted an rerunning.

@madhusudancs ran into this and so did #18011

cc @wojtek-t

[2015-12-01 21:00] mikedanese commented on #17575
Why is kubectl or a bootstrapping pod not sufficient? Why is it important to have this feature baked into kubelet that just proxies to a request to an api client? This requirement seems like feature bloat.

[2015-12-01 21:01] gmarek commented on #17723
I was looking at it today in hope that I can write the PR in an hour or so, but new transport logic copies the UserAgent to the very bottom of transport during the creation and wrapped inside the Decorated Round Tripper. So if I want to reuse the same transport I need to untangle this decorator first - I'll finish it tomorrow.

[2015-12-01 21:03] bgrant0607 commented on #17333
cc @jackgr

[2015-12-01 21:07] sdminonne commented on #18035
@mikedanese I had a fail in ./hack/update-api-reference-docs.sh and I ended up without some types.generated.go files

[2015-12-01 21:14] #15421 closed

[2015-12-01 21:17] tayzlor commented on #17789
Makes sense, if I run tha tI get the following -

[code]

[2015-12-01 21:32] mikedanese commented on #18035
@sdminonne did you fix it by touching the types.generated.go files?

[2015-12-01 21:37] sdminonne commented on #18035
I did

[2015-12-01 21:41] wonderfly commented on #17734
How do you apply a single ENV variable to multiple Jenkins jobs? Don't you need to update all of their configurations?

[2015-12-01 21:48] spxtr opened #18037 "kubernetes-e2e-aws failing to start cluster"
kubernetes-e2e-aws has been running daily for about a week and failing each time after trying to check for salt-master repeatedly:

    e2e.go:141: Error starting e2e cluster. Aborting.

Once this is green, should it be moved to critical builds?

[2015-12-01 21:51] spxtr commented on #18037
Also related, there is a case in `e2e.sh` for `kubernetes-e2e-aws-parallel`, but no corresponding Jenkins job.

[2015-12-01 21:53] bgrant0607 commented on #17333
I think the annotation is fine for now. I agree we can't take this on at the moment. We can revisit later. I'll add this to #8190.

If we're worried about the cost, we should make it possible to retrieve selected fields (#1459).

[2015-12-01 22:06] fabioy commented on #17350
Is this issue still worth keeping around?

[2015-12-01 22:14] fabioy commented on #17719
Closing this issue, since it seems obsolete.

[2015-12-01 22:14] #17719 closed

[2015-12-01 22:15] #11484 closed

[2015-12-01 22:23] karlkfi commented on #17734
On a tangent, since you mentioned Jenkins configs (cc @spxtr):
We run our Mesos CI tests from inside a kubernetes-mesos-test container. This has several benefits:

1. Dependency installation and versions are managed in version control in the Dockerfile
2. Nothing needs to be installed on the CI node (except docker).
3. All CI builds use the same test environment (except docker)
4. CI builds/tests

[2015-12-01 22:25] karlkfi commented on #17734
Back on topic, I'm pretty convinced that the e2e tests should be in their own repo and versioned in branches/tags there, not mixed with the code they're testing. I've had a good experience doing this on CloudFoundry: [cf-acceptance-tests](https://github.com/cloudfoundry/cf-acceptance-tests), [cf-smoke-tests](https://github.com/cloudfoundry/cf-smoke-tests)

[2015-12-01 22:31] pmorie commented on #16779
+1 to this, @liggitt; where do you think that attribute should live?  On the service account?

[2015-12-01 22:32] erictune commented on #10439
@gurvindersingh Finally had some time to read up on vault and give this some more thought.   Would like your feedback.

Is there a vault authentication token per node or per pod or per service account?

Option 1: *per node*

- when adding a node X, something other than the node needs to create a unique token for that node: `NODE_X_TOKEN=$(vault token-create)`.  Then it needs to and distribute that

[2015-12-01 22:33] erictune commented on #10439
Maybe there is a 4th option where there is a vault policy per service account, and a token per pod, which is bound to the SA's policy.

[2015-12-01 22:35] pmorie commented on #13136
@florix Running the mount as a specific uid/gid should probably a separate issue, there's a fair amount of extra backage with those like policy on what uid/gids a user can specify.

[2015-12-01 22:37] yujuhong commented on #17959
@huang195, did you create the pod after the 150 pods have reached steady state? How did you measure the latency?

[2015-12-01 22:37] pmorie commented on #16786
Related: #4789

IMO the issue is that we can't project keys into specific filenames, not that keys have the wrong format, but my ear is open.

[2015-12-01 22:37] ihmccreery commented on #17734
I've been considering the same thing.  I'm definitely convinced that it'd be a *lot* of work; I'm not convinced it would make the world much better.  @karlkfi can you say more about why they should be in their own repo?  What are the specific pros/cons?

[2015-12-01 22:43] janetkuo commented on #17168
Another candidate is `kubectl deploy`.

[2015-12-01 22:43] #17918 closed

[2015-12-01 22:46] fabioy commented on #17868
@justinsb Could you help? Thanks.

[2015-12-01 22:49] bgrant0607 commented on #16561
@resouer #16087 is not directly related.

[2015-12-01 22:49] fabioy commented on #17882
PR #17958 may be related. Also see http://stackoverflow.com/questions/32594632/unable-to-mount-amazon-web-services-aws-ebs-volume-into-kubernetes-pod.

If this addresses the problem, please close this issue.

Thanks.

[2015-12-01 22:50] kargakis commented on #17168
cc: @ironcladlou

`kubectl deploy` would also be helpful in kicking inert deployments.

[2015-12-01 22:52] bgrant0607 commented on #17873
@kubernetes/goog-cluster owns logging (see team description).

[2015-12-01 23:01] fabioy commented on #17898
cc @wojtek-t

Hum, I guess that file has been broken since this change:

https://github.com/kubernetes/kubernetes/commit/0f1cbe37a446e9264d40203f40d4cb7b8d3d477a#diff-efb71138113f6fe331f73e11c05e323a

Not sure if just a missed change or an obsolete test.

[2015-12-01 23:03] #16385 closed

[2015-12-01 23:03] mikedanese commented on #16385
If this happens again please reopen. Seems like it was transient

[2015-12-01 23:06] erictune commented on #10439
For option 3, two sub-alternatives.

1. Token controller, or something like it, automatically populates service accounts with vault tokens as well as kubernetes API tokens.
1. someone writes a Vault Authentication Backend that could validate Kubernetes Service Account API Tokens

[2015-12-01 23:08] yujuhong commented on #8818
Repurposing the old issue for a new use case. @freehan is working on transitioning the pod status to not ready if kubelet hasn't updated the node status after 40 seconds. This fits the "a user or another component changes the pod status via apiserver" condition in the original post. If kubelet restarts, it'd by default updating statuses for all the pods. However, if kubelet was disconnected from t

[2015-12-01 23:09] fabioy commented on #17974
It's an old issue: #1362. Closing this issue. Please comment on the other issue.

[2015-12-01 23:09] #17974 closed

[2015-12-01 23:18] fabioy commented on #18006
Kubernetes only builds and links to the Docker client library (building other Docker components may be side-effects of the Docker client build rules). K8S certainly doesn't run a custom Docker -- you must have a supported version of Docker installed (see various getting started guides that mention installing Docker, like: https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-start

[2015-12-01 23:18] #18006 closed

[2015-12-01 23:20] fabioy commented on #18019
Maybe this could help: http://stackoverflow.com/questions/29223521/public-ip-on-service-for-aws-in-kubernetes-fails

[2015-12-01 23:21] fabioy commented on #18019
And closing this issue for now (since it's not a product bug).

If the issue is still not addressed, please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to fin

[2015-12-01 23:28] davidopp commented on #15226
@fabioy Is there any update on this?

[2015-12-01 23:36] lachie83 commented on #16990
I'm working on this at the moment and will take a stab at this.

[2015-12-01 23:52] markturansky opened #18041 "Nil panic in binder controller when passed DeletedFinalStateUnknown"
Nil panic in binder controller in Delete handler func.   Requires checks when casting obj to PV.

[code]

[2015-12-02 00:16] timstclair opened #18044 "Override default cAdvisor housekeeping interval"
By default cAdvisor currently gathers stats every 1 second. This is much higher than necessary for most use cases, so we should override the *default* value to `10 seconds` in the Kubelet.

The flag which needs to be modified is:
[code]

/cc @kubernetes/goog-node

[2015-12-02 00:36] bgrant0607 commented on #17833
From https://github.com/kubernetes/kubernetes/pull/16028#issuecomment-158549497:

The point of generators is:

A) to enable users using kubectl in a scripted fashion to pin to a particular behavior, which we may change in the future. For example, we're in the process of changing kubectl run to create Deployments and Jobs instead of RCs and Pods, which could break scripts, but provides better behav

[2015-12-02 00:37] huang195 commented on #17959
@yujuhong we're creating pods sequentially and only creating the next one when the previous one's state has changed to RUNNING. We're using poll with 0.5 sec in between so the latency is not exact, but it's pretty close. If there's a better way to measure latency without all the polling, please let me know.

[2015-12-02 00:44] dchen1107 commented on #18044
cc/ @mwielgus

[2015-12-02 00:52] yujuhong commented on #17959
FYI, #17545 should also remove some unnecessary load on docker.

A huge part of kubelet's pod status updates is limited by the QPS limit imposed on the apiserver client. If you didn't change the default QPS limit (5.0), you'll have to wait until all pods are "READY" (not just running) to start the extra pod for latency measurement. Otherwise, kubelet would be stuck at sending the status update for

[2015-12-02 00:52] yujuhong commented on #8620
FYI, #17545 should also reduce some load on docker.

[2015-12-02 01:01] bgrant0607 commented on #2349
@smarterclayton I agree. Best practice for Google APIs is to allow list request to specify a max size and page token (empty for first page), with each page returning an opaque next page token. To ensure opacity, page tokens are typically base64 encoded, and often contain structured data.

[2015-12-02 01:08] huang195 commented on #17959
@yujuhong we also made local changes similar to #17545 so we can push larger number of pods on the node. I noticed quite a few number of "internal" timers that could be externalized as command line parameters. pod sync time is externalized, but things such as how often runtimeCache should refresh, or containerGC and imageGC should run, etc. could be parameterized.

Just to clarify our experiment.

[2015-12-02 01:11] mwielgus commented on #18044
Why is it needed? Are we using to much memory or cpu?

[2015-12-02 01:36] erictune commented on #17244
We could add a field  `.spec.container[].abortOnExitCode`, which is an integer in the 1-127 range.
When a container that specifies this field exits with this exit code, then the entire pod terminates abnormally regardless of the restart policy.

Communicating a reason/message upward is orthogonal: you might want to communicate a message any time a container exits, with or without this special exit

[2015-12-02 01:40] judytong commented on #17870
@yujuhong @dchen1107 @zhengguoyong I think there are two cases to discuss: 1) what should pod status be if a network plugin is missing; 2) what should pod status be if a network plugin is not working and not assigning pod IP correctly? In my opinion, pod should be failed in both two cases.

[2015-12-02 01:42] evanphx commented on #17994
1.0, I don't recall which patch level off hand. I got this again today with
10 or so pods dieing with OutOfDisk and k8 never gc'd docker.

By the by, it's quite frustrating that there is no blessed upgrade process
for AWS, just a note about kube-push and that it's experimental.
On Tue, Dec 1, 2015 at 11:41 AM Vish Kannan <notifications@github.com>
wrote:

[2015-12-02 01:45] dalanlan opened #18049 "[typo] confusing flag usage `--bind-address` for apiserver"
The usage for [`bind-address`](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L186), a flag for `apiserver`, is kinda odd.

There is no flag `--read-only-port ` for `apiserver` to my best knowledge(instead, it's a flag for `kubelet`), which is referenced here.

Hopefully it's a typo.
[code]

[2015-12-02 02:08] yujuhong opened #18050 "integration flake: integration.TestPersistentVolumeRecycler test flaky (timed out after 5 minutes)"
Relevant log snippet:

Failure example: https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/de79267dc310878fe4d95e70f9878a3ebdab861a/kubernetes-pull-test-unit-integration/3977/

[code]

/cc @markturansky, who added the test.

[2015-12-02 02:26] themez commented on #17868
I just found out that ICP recordal is needed before making S3 files public in China region(http://docs.amazonaws.cn/en_us/aws/latest/userguide/accounts-and-credentials.html). That should be the problem.

[2015-12-02 02:49] Random-Liu commented on #17980
@dchen1107 @yujuhong I reproduced the issue with log enabled.

[code]

[code]

[code]

[2015-12-02 02:59] roberthbailey commented on #13382
Running on GCE (the default)?

[2015-12-02 03:02] Random-Liu commented on #17980
As the log, GetPodStatus have returned the ***right status***, but it was never updated to apiserver. It seems that the error occurs because apiserver is restarted after Kubelet started.

I'll dig into the log more. And the log is [here](https://gist.github.com/Random-Liu/d8f539cfec46b4715625).

[2015-12-02 03:06] jay-lau commented on #17928
Thanks @jdef

1) The kubernetes role is working well.
2) Yes, if set different etcd servers, then we can run multiple kubernete clusters on one mesos cluster. I will use this as workaroud for now. But I do hope that we can fix this in future, it is better to use only 1 etcd for multiple k8s on top of mesos. ;-)

[2015-12-02 03:19] roberthbailey opened #18052 "Unbound variables in GCE cluster up"
While trying to reproduce #13382 I ran `wget -q -O - https://get.k8s.io | bash` and saw a bunch of errors in the output:

[code]

[2015-12-02 03:22] timothysc commented on #17762
I totally get that one, but please share the doc as we are back in business on our end to eval up to 1k nodes on openstack.

[2015-12-02 03:37] amygdala commented on #18052
Just as an fyi, I've seen that error for quite a while now.

[2015-12-02 04:43] nikhiljindal opened #18055 "Running versionize-docs in release-1.1 branch fails"
Running

[code]

in release branch fails with the following error:
[code]

The error is generated by the last line in versionize-docs:
`./hack/gen-swagger-doc/run-gen-swagger-docs.sh v1`

[2015-12-02 04:44] nikhiljindal commented on #18055
@karlkfi pointed out in https://github.com/kubernetes/kubernetes/pull/18048#issuecomment-161159358:

[2015-12-02 04:44] nikhiljindal commented on #18055
cc @caesarxuchao

[2015-12-02 04:52] fabioy opened #18056 "Kubemark density test failing because kubelet doesn't have a ClusterDNS"
The Kubemark Jenkins Density tests started failing around 2:14pm PST today. Looking at test logs, it seems all pods are scheduled, but remain in "Pending" state forever. Digging into the container logs, found all the containers with similar error of the format:

"kubelet does not have ClusterDNS IP configured and cannot create Pod using ClusterFirst policy."

Still investigating.

[2015-12-02 04:52] #17745 closed

[2015-12-02 04:55] fabioy commented on #18056
CC @gmarek I thought it may have been your PR #17942, but doesn't seem like it. I'm not as familiar with this test -- do you have any ideas?

[2015-12-02 04:55] lavalamp commented on #17807
Most likely, for a given release, we will "bless" a *set* of API group/versions as the default/recommended ones to use. Occasionally, there will be upgrade instructions to prepare for future releases.

As Brian says, there will not be any particular relationship between releases and api group/versions that will be predictable in advance, other than api versions won't go backwards.

[2015-12-02 04:57] roberthbailey commented on #13382
I haven't been able to reproduce the apiserver crashing (although maybe I need to wait longer). In the mean time, can you look at `/var/log/kube-apiserver.log` on your master VM and see if it has a stack trace?

[2015-12-02 05:04] fabioy commented on #18056
I think the culprit was PR #15645. Started a revert for it (unless it's determined that a test change is simpler).

[2015-12-02 05:23] lavalamp commented on #16734
My headcanon is that the "job resource" refers to e.g.
"/apis/extensions/v1/namespaces/default/jobcontroller/" and everything
under it, which makes it synonymous with "kind". What do you guys call the
above path?

On Tue, Nov 24, 2015 at 2:32 PM, Eric Tune <notifications@github.com> wrote:

[2015-12-02 05:29] saad-ali commented on #8445
Unassigning myself, since I'm not working on this.

[2015-12-02 05:42] akrmhrjn commented on #13382
@roberthbailey Nope, I have used
[code]
I have been trying kubernetes on gcloud so I shut down the cluster on aws as it was giving me errors.
I will again start today and will let you know soon.
Also, I installed kubernetes client on Digital Ocean server and started kubernetes. Can this be the issue? So, today I will be installing client on aws instance and check again.
Thanks.

[2015-12-02 06:04] saad-ali commented on #17955
@kshelton Thanks for the report.

Could you provide more information about where you see this, under what circumstances, what Kubernetes version you're running on, and on GCE or GKE?

We have an existing issue around PDs not getting detached when kubelet goes down, tracked by https://github.com/kubernetes/kubernetes/issues/14642.

We also had some stability issues with GCE PD attach/detach that we

[2015-12-02 06:07] saad-ali commented on #14642
@chrislovecnm Yes v1.1 is out. I'm working on the detailed design for this at the moment. I can't comment on a release timeline.

[2015-12-02 06:55] MikeSpreitzer opened #18062 "docs/getting-started-guides/ubuntu-calico.md refers to old version of image calico/node"
The doc refers to version v0.9.0 but the latest is v0.12.0.  I do not know if the difference is material.

[2015-12-02 07:25] yujuhong commented on #17980
I couldn't reproduce this on my cluster at all. @Random-Liu, could you set the logging level of kubelet to 4 and include the kubelet.log? Thanks!

My guess is that this is caused by the order of updating the pod status and re-creating mirror pods during apiserver restarts. You could see a few failed attempts of status update when apiserver was restarting, and then completely silent (i.e., no statu

[2015-12-02 07:31] yujuhong commented on #17870
@judytong, I am not sure how network plugin works, so ignore me if I am not making sense.

Would it be possible to have a transient error when determining the IP address? For example, if `docker ps` fails, it does not mean that there are no containers running. If transient error if possible and is indistinguishable from actual errors, we should not fail the pod.

[2015-12-02 07:37] feihujiang opened #18064 "Support kubectl run, expose, create --edit flag"
I think we should support --node-name flag for kubectl run command to run a particular image in a specified node.

[2015-12-02 07:49] Random-Liu commented on #17980
@yujuhong Yeah, good point! It looks like status manager doesn't work after apiserver is restarted. I modified the `build` file to let the image ID change every `make release`, then I run `kube-push.sh`. This ensures that the pods are restarted every `kube-push.sh`. By this way, the error may be triggered sometimes, but I'm not quite sure.

I'll change the log level, and try it again. :)

[2015-12-02 08:06] Random-Liu commented on #17980
Because the pod status will come back to normal after kubelet restarted, I paste the log during kubelet restarting [here](https://gist.github.com/Random-Liu/985dc719d31ddb2f9c28). It may be useful.

The file is truncated, kubelet is restarted after line 80.

[2015-12-02 08:07] sandish2222 commented on #16909
I got the same issue.

https://github.com/kubernetes/contrib/blob/master/Ingress/controllers/nginx-alpha/controller.go  this program runs well in pods（containers） created by kubernetes， but it went wrong when i run it from linux and i got the same error message.

I think the secret token will be generated when you start pods from kubernetes. So if run `NewInCluster()` in a pod, it will work well.

[2015-12-02 08:09] wojtek-t commented on #18035
Yes - I'm aware of that. This is definitely a bug, but I'm not sure what's the easiest way to fix it.

[2015-12-02 08:15] wojtek-t commented on #17898
Will take a look.

The issue here is that, this test is not running as part of our presubmit scripts, so I just missed it.
I will fix it later today.

[2015-12-02 08:29] Random-Liu commented on #17980
It's really flaky.

This time:
[code]
I changed log level to 4, and the log is [here](https://gist.github.com/Random-Liu/f5f0a4ee5d07b118b638). The log is also truncated, `kube-push.sh` started from line 360.

[2015-12-02 08:56] gyliu513 opened #18066 "Kuberntes executor does not kill pod when mesos executor was killed"
I was doing some test for k8s+mesos integration, and when the k8s executor was killed, all of the pods started by this executor continue running.

After check mesos executor code, the problem is that the k8s mesos executor did not implement the API of terminateTask() for executor. It is better to implement this API to kill all pods belong to this executor.

[2015-12-02 08:57] xied75 commented on #18019
@fabioy It does not help at all, if you bother to read his answer there. I think his answer doesn't make any sense at all. What does 'you should use private IP' means? You can access your Guestbook on internet via 10.0.0.0?

In fact I got my Guestbook showing by looking at the NICs that was created after Guestbook service is created with LoadBalancer type.

My question was more to do with if I WAN

[2015-12-02 09:01] piosz commented on #17941
cc @jszczepkowski

[2015-12-02 09:38] soltysh commented on #1899
/sub

[2015-12-02 10:07] soltysh commented on #17244
That sounds reasonable, but this applies rather to kubelet interpreting return codes from running containers. Which not necessarily will address the original issue here. For your solution to work, you'd have to make sure the job knows what code to return to be terminated on demand and the pod to be terminated abnormally. I'd rather see an option to poke kubelet to terminate a running pod and termi

[2015-12-02 10:22] MaxDaten commented on #14642
Is this issue related to my problem with RC's or do I have a fundamental misunderstanding of PV & PVC with RCs? Or is my problem different and a new issue?
https://github.com/MaxDaten/k8s-pvc-rc

[2015-12-02 10:42] mwielgus commented on #18062
cc: @djosborne

[2015-12-02 10:43] Hokutosei commented on #4825
Greetings,

Hi, have any follow ups on this? is there anyone I could get on advice about this?

my problem is just when a mongodb instance restarted, it's replica config becomes invalid. it will find out that its current hostname is not in the mongodb replica config. because of its dynamic hostname, being set in the podname.. I tried using the service ipaddress instead, but the problem still persi

[2015-12-02 11:35] #17634 closed

[2015-12-02 12:41] lukemarsden commented on #15818
I'm also seeing this with https://raw.githubusercontent.com/kubernetes/kubernetes/master/docs/getting-started-guides/docker-multinode/master.sh on Ubuntu 14.04.

[2015-12-02 12:51] reiz commented on #17949
@dchen1107 @yifan-gu In the mean I solved this issue. The problem was related to our DNS setup. The minion/coreos nodes are registered in our DNS. Unfortunately we had several IPs to the same DNS entry. After I cleared the DNS and setup a new K8S cluster, all this worked again like expected.

The error message in this case is misleading. It seems that kubectl sometimes works with IPs and sometimes

[2015-12-02 12:51] #17949 closed

[2015-12-02 12:57] deads2k commented on #16734
The URL is where you hit the jobcontrollers resource, but the object you pass to it is a JobController.  The distinction becomes more important as multiple resources and subresources accept the same Kind.

As an example in the kube API, consider `bindings`, `pods/binding`, and `Binding`.  Two separate resources, both operating on the same Kind.  `status` subresources also deal in the same Kind as

[2015-12-02 12:58] jdef commented on #17928
we're actually breaking the rules by writing to etcd directly. filed an issue in kubernetes-mesos to track this: https://github.com/mesosphere/kubernetes-mesos/issues/662

[2015-12-02 13:09] simon3z commented on #17731
@bgrant0607 we're currently collecting `ExternalID` in ManageIQ but we don't depend on the value.

In other words you can change the content of the field but removing it altogether would break us.
(Please consider to set it to an empty string if you want to stop maintaining it, and make sure it's **not** `omitempty` in case that applies to strings as well).

Thanks.

[2015-12-02 13:12] simon3z commented on #17731
@bgrant0607 in the long run you can plan to remove it (I'm in favor of that, I believe that `ProviderID` provides more consistent information).

[2015-12-02 13:23] fabioy commented on #18056
Closing issue with merge of #18057 (revert of #15645).

[2015-12-02 13:23] #18056 closed

[2015-12-02 13:49] fabioy commented on #18019
I see. Apologies for the quick close -- I was triaging a large backlog of issues accumulated over the US Thanksgiving holiday. Your comment clarifies why it's a k8s issue (and not just support).

Reopening the issue.

[2015-12-02 14:19] jay-lau commented on #17928
ok, thanks @jdef

[2015-12-02 14:30] #17928 closed

[2015-12-02 14:34] #17846 closed

[2015-12-02 15:10] ShadySQL opened #18076 "Able to deploy but upon switching subscriptions it doenst deploy to Azure"
azure_wrapper/exec: [ 'network',
  'vnet',
  'create',
  '--location=North Europe',
  '--address-space=172.16.0.0',
  'kube-internal-vnet-2986c057a962b8' ]
Generating a 2048 bit RSA private key
..............................................................+++
.....................................+++
## writing new private key to './output/kube_2986c057a962b8_ssh.key'

  error: unknown option `--ad

[2015-12-02 15:20] amygdala opened #18078 "deleting a 'deployment' doesn't take down dependent rc and pods"
With the deployment object, if you create a 'deployment' via:

    kubectl create -f deployment-file.yaml
then later run

    kubectl delete -f deployment-file.yaml
it deletes the 'deployment' itself, as evidenced by the fact that

    kubectl get deployment
no longer lists it, but the dependent rc and pods are still there and are not taken down.

This doesn't seem right... is this 'works as inten

[2015-12-02 15:26] amygdala commented on #18078
Hmm, maybe this is related?- https://github.com/kubernetes/kubernetes/pull/18077

[2015-12-02 15:37] markturansky commented on #18050
@yujuhong how frequently do you see this timeout?  What version of Kube and Go?

I have not been able to reproduce the timeout.

[2015-12-02 16:07] jayunit100 opened #18079 "make salt blow up if release binaries are out of sync"
Salt provisioners need to be in sync w/ binaries, otherwise `vagrant up` can fail .

I'm thinking we should be able to have salt confirm that the files in the binary are in sync with whats in the salt provisioner sources... The error message coule be fast and obvious enough that people could disable it if they wanted... for the typical use case, where you pull source down

otherwise you get someth

[2015-12-02 16:38] markturansky opened #18082 "Only attempt PV recycling/deleting once. Prevent log spam."
The recycler will attempt to recycle a volume over and over again, even when there is no plugin to perform the work.  This becomes log spam because each PV for each sync period adds a log entry that a plugin was not found.

Fail the volume so that subsequent sync through the controller will not attempt recycling/deleting again.  Just try once.  It likely won't succeed the 2nd time or 3rd or ....

[2015-12-02 16:47] ahead4 commented on #17641
+1 I'm also experiencing this. After a day or two (sometimes longer) some pods will stop receiving connections and the nginx reverse proxy we're using will begin logging 504 timeout errors when attempting to connect to service IPs.

A restart of the kube-proxy is required to bring it back into a working state.

Going to attempt to get a log of the issue so will post back in a few days.

[2015-12-02 16:48] maclof commented on #17641
+1

[2015-12-02 16:48] Sladewill commented on #17641
+1

[2015-12-02 17:01] jdef commented on #12634
the assumption that "communication from the API server to those two components goes over localhost" is flawed. we want to be able to split up the apiserver from the scheduler and controller-manager such that this localhost dependency no longer exists.

/cc @karlkfi

xref #13216

[2015-12-02 17:17] mikedanese commented on #18079
Salt blew up because there was a bug in salt that was surfaced by old salt and new kube-up. This is a separate issue from ./cluster/kube-up.sh being a different version of _output/ (which can only happen in dev builds). That will generally work if they are of reasonably close versions and you aren't making a bunch of changes to both salt and kube-up. By asserting this, we make it slower to develop

[2015-12-02 17:20] yujuhong commented on #18050
I saw the timeout on two different PR builds yesterday. Just looked the recent build failures this morning, and there are two more:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/4059/
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/4047/

Maybe @kubernetes/goog-testing can shed some light on the testing environment of the per-

[2015-12-02 17:28] markturansky commented on #18050
I don't have access those those internal sites.

I will test further.

[2015-12-02 17:36] jayunit100 commented on #18079
ok.. Added an env var that is printed on error, so shouldnt slow anyone down too much?  or you think its still a bad idea... ?

[2015-12-02 17:38] ihmccreery commented on #17807
SGTM.  Can you please update `versioning.md` as such?  Right now there's a bunch of erroneous information in that file, based on what you've described above.

If you want versioning info for the APIs to live elsewhere, would you mind just linking from that doc?

[2015-12-02 17:40] jayunit100 commented on #18079
[code]
this is what i was hoping to blurt out before dying.   as a developer this helps me (1) forces me to know the bare minimum details about salt that i need to self-manage (2) prevents from making errors.

**My thought** is that for any program: If there is a dependency on versions cli/serv, then the versions should be checked where possible.  Overriding the check should be easy, but the check

[2015-12-02 17:46] pmorie commented on #13868
This should be obsolete now, but I'll wait for @yuvipanda to weigh in

[2015-12-02 17:49] lordkada commented on #17275
@brendandburns sorry for my late reply..

I started a new cluster and followed my reported steps but I had a node failure before creating the cassandra keyspace!

Here is what I did
- I created the k8s cluster
- I ran `describe nodes` & `get nodes -o yaml` (see output below)
- I created the Cassandra cluster and scaled it to 4 pods
- I executed the `kubectl exec -ti cassandra -- nodetool status` b

[2015-12-02 17:53] mikedanese commented on #18079
Warning SGTM

[2015-12-02 17:55] jayunit100 commented on #18079
okidoki... so your suggesting ... warning but proceed? i guess thats ok

[2015-12-02 18:02] thockin opened #18087 "Cleanup: remove hack/travis/install-std-race.sh"
This is a minor cleanup task.  We have stopped supporting go-1.3

[2015-12-02 18:05] mikedanese commented on #18079
Warning and proceed if certain expert mode envvar is set is also ok

[2015-12-02 18:15] yujuhong commented on #16651
@magicwang-cn, we are looking into increasing the housekeeping interval for cadvisor, which will reduce the cpu usage (#18044).

I think this might be the main cause. If kubelet/docker keeps leaking resources, it'd increase the workload of cadvisor. I've also seen `No such file or directory` errors in kubelet.log from different clusters. Do you have an example of the leakage? Thanks!

/cc @kuberne

[2015-12-02 18:17] lavalamp commented on #17931
@dchen1107 to delegate?

[2015-12-02 18:18] thockin opened #18088 "Cleanup: find and remove go-1.3 legacy warts"
We have many places that have comments like:

[code]

Many of them seem to be commented so finding them won't be too bad.

Once #13838 goes in

[2015-12-02 18:19] lavalamp commented on #13515
@davidopp to delegate? Is this still an issue?

[2015-12-02 18:20] lavalamp commented on #15381
54 days old. Obsolete? Reopen if it reoccurs.

[2015-12-02 18:20] #15381 closed

[2015-12-02 18:22] lavalamp commented on #17765
@dchen1107 to delegate?

[2015-12-02 18:24] lavalamp commented on #17874
@dchen1107 to delegate? (If you don't think it's a node bug, maybe @pmorie can find an owner?)

[2015-12-02 18:26] timstclair commented on #17931
I can take a look at this.

[2015-12-02 18:27] yujuhong commented on #17959
@huang195, you're right about the impact of QPS limit being low if it takes a a few seconds for one pod to become running.

Do you have any graph showing the latency of pod startup time as the number of pods increase? It'd be interesting to see if the progression :-)

[2015-12-02 18:27] jdef commented on #17525
related: the kubelet/container/runtime_cache hangs when this happens because it executes a blocking op while holding a mutex:

v1.1.1:
https://github.com/mesosphere/kubernetes/blob/v0.7.0-v1.1.1/pkg/kubelet/container/runtime_cache.go#L114

[2015-12-02 18:28] lavalamp commented on #17256
I will take no further updates to mean it was indeed resolved by fixing leakage?

[2015-12-02 18:28] #17256 closed

[2015-12-02 18:31] timstclair commented on #18044
I think both, but this change was more motivated by high CPU usage in cAdvisor

[2015-12-02 18:33] vishh commented on #18044
AFAIK there is currently no use-case for metrics data with 1 second
granularity. Why store more data when it is not necessary?

On Wed, Dec 2, 2015 at 10:32 AM, Tim St. Clair <notifications@github.com>
wrote:

[2015-12-02 18:36] hongchaodeng opened #18091 "Scheduler Performance Testing Proposal"
We have found that on 1k nodes cluster scheduling takes 60-200 ms and becomes the bottleneck. We want to have a standard way to reproduce scheduling latency metrics result and benchmark scheduler as simple and fast as possible. Only with that can we: 1. figure out underlying behaviors and potential bottlenecks quickly; 2. publish results in a standard way and prevent future performance degradation

[2015-12-02 18:37] hongchaodeng commented on #18091
/cc @xiang90 @jonboulle @philips

[2015-12-02 18:44] hongchaodeng commented on #18091
This extends #17415

[2015-12-02 18:46] mikedanese commented on #18079
To clarify, I think it's good to print a huge warning exit on this error but I want an envvar that allows me to skip the exit behavior when I'm developing on cluster/

[2015-12-02 19:13] vishh commented on #12765
@piosz can you help debug this issue?

[2015-12-02 19:14] derekwaynecarr opened #18092 "kube-up vagrant is too verbose in output"
https://github.com/kubernetes/kubernetes/blob/master/cluster/vagrant/provision-master.sh#L153

We should reduce the logging level to not have so much output.

[2015-12-02 19:17] derekwaynecarr opened #18093 "remove the vagrant cloud provider"
Vagrant has moved to masterless salt.  We no longer need the vagrant cloud provider.

[2015-12-02 19:19] thockin opened #18094 "Cleanup: realpath cleanup"
MacOS does not have a `realpath` command, so we have `kube::util::realpath()`, but we never use it.

Secondly, we use BASH_SOURCE all over the place, which accumulates things like `../foo/../bar/../foo/` - if we changed all `dirname ${BASH_SOURCE}/..` to something like `(cd ${BASH_SOURCE}/.. && pwd -P)` then we would have normalized paths - this appears to work on MacOS.

[2015-12-02 19:21] #17797 closed

[2015-12-02 19:21] chrislovecnm commented on #14642
@saad-ali thanks ... went through a update on the production cluster, and this HAMMERED us again.... :(

[2015-12-02 19:23] karlkfi commented on #12634
One of the tenants of my push for Component Registration is that the components should each be deployable in their own containers, or in their own Pods, rather than all in the same Pod. Several reasons for this:

- allow horizontal scaling of each component independently
- allow components to be independently upgraded/patched
- allow components to be packaged and distributed independently
- requir

[2015-12-02 19:26] davidopp commented on #18091
@kubernetes/sig-scalability

[2015-12-02 19:26] joshk0 opened #18095 "liveness probes for manually created Endpoints"
Is this a thing?

I have some legacy services which will never run in Kubernetes that I currently make available to my cluster by defining a service and manually uploading an endpoints object.

However, the service is horizontally sharded and we often need to restart one of the endpoints. My google-fu might be weak, but i can't figure out if Kubernetes is clever enough to prevent the Service from

[2015-12-02 19:26] joshk0 commented on #18095
BTW, I understand that at present, liveness probes are HTTP only. This would need to be a TCP probe because it's a replicated database service that doesn't grok HTTP.

[2015-12-02 19:28] jayunit100 commented on #18079
yup gotcha

[2015-12-02 19:34] hsaputra opened #18096 "Add support for Apache Hadoop HDFS as Volume"
Would like to have Hadoop HDFS as one of supported Volumes [1] in Kubernetes.

We have u se cases where we would like to allow process in container to access HDFS as supported Volume rather than manually mount (via FUSE).

Seemed like it is already have GlusterFS and other FS supported so I think it would be useful and

[1] http://kubernetes.io/v1.1/docs/user-guide/volumes.html

[2015-12-02 19:38] piosz commented on #12765
Yes, sure.

[2015-12-02 19:41] timothysc opened #18097 "Modifications to HPA e2e tests for performance profiling"
We would like to modify the e2e-tests to quickly determine:
1. Measure how fast can an HPA adjust to a burst in traffic, and to what density via configuration parameters vs. magic numbers.
2. Test for (N) overlapping HPA (lifecycles for G generations) in parallel, with random (R) replica sizes.

/cc @jayunit100 @DirectXMan12 @piosz @wojtek-t

[2015-12-02 19:43] piosz commented on #18097
cc @jszczepkowski @mwielgus

[2015-12-02 19:46] bprashanth commented on #17829
This is happening because of a bad assumption. The assumption is: if the reflector's store is consistent with etcd, the store given back to clients of the framework.Controller is too. I'd really like a general fix applicable to all controllers for this problem, but fixing it just for the RCs is pretty easy.

In more detail: This function https://github.com/kubernetes/kubernetes/blob/master/pkg/con

[2015-12-02 19:47] saad-ali commented on #14642
@chrislovecnm Can you send an email to me (email address in profile). I'd like to better understand why you guys are running into this so often, and if there's anything we can do in the immediate term to work around it. Thanks!

[2015-12-02 19:48] markturansky commented on #17344
See https://github.com/kubernetes/kubernetes/issues/12650

[2015-12-02 19:52] timothysc opened #18099 "Proposal for e2e configuration parameters."
**Problem Statement:**

Currently the e2e tests have too many hard coded and command line parameters for testing options.

**Proposal:**

Centralize the configuration of the parameters into a single configuration object that can be easily:

- serialized (json)
- auto-generated with sane defaults
- user editable
- hierarchical based on test
[code]

/cc @kubernetes/sig-scalability @wojtek-t  @ixdy @

[2015-12-02 19:52] jayunit100 commented on #10479
This is subsumed by the implementation of a global config

[2015-12-02 19:52] #10479 closed

[2015-12-02 19:53] ddispaltro opened #18100 "Service IP NAT Issue"
I am using kube 1.1.2, and I ran into an issue with a Service IP being unable to NAT to the Pod it's connected to. I am using the `iptables` proxy instead of user mode. I am using AWS through the kube-aws stuff from coreos, however, I don't think it's a problem with the provisioning scripts from them, I've made everything as permissive as possible.  It's also using VPC's natively vs Flannel.  I ap

[2015-12-02 19:57] huang195 commented on #17959
![test-kube-1000](https://cloud.githubusercontent.com/assets/8008677/11542384/0c970c52-9905-11e5-867e-6abc133f9469.png)

[2015-12-02 20:04] huang195 commented on #17959
This is what we are able to achieve by tuning down various things including something similar to #17545 and also doing /containers/json?filter=.. optimization since we don't have to worry about legacy containers. In this setup, we're using 1 master + 2 slave nodes, so we were able to squeeze about 500 pods per node. This is also running k8s on top of mesos, thus, we are getting some jittery due to

[2015-12-02 20:13] mwielgus commented on #18044
Ok, can we align metrics scraping to full 10 sec? I mean scrape at
12:01:00 - e
12:01:10 - e
12:01:20 - e
where e is a random number from 0 to 1 seconds to prevent scraping all nodes at the exactly same time. So that when Heapster asks for window 12:01:00-12:01:30 at 12:01:32 it gets a sample scrapped at
12:01:30.

[2015-12-02 20:13] timothysc commented on #18091
So density already does this... the one option it looks like you may want is custom control #18099 real or fake is irrelevant as the e2e's just need to point to an api-server.

re: benchmarks, seems like we could simply add to the unit-tests.

[2015-12-02 20:18] deads2k commented on #16779
I would want it in the `PodSpec`, so that I could use a service account for its pull secrets, but not allow the pods to act as the SA.

[2015-12-02 20:39] timothysc commented on #18091
After chatting with @xiang90, lets add this as an agenda item for the SIG meeting tomorrow.

[2015-12-02 20:44] hsaputra commented on #18096
Maybe we could extend from PR:
https://github.com/kubernetes/kubernetes/pull/13840
?

[2015-12-02 20:49] vishh commented on #18044
Can we avoid using windows? Why not let heapster query every 10 seconds for
the most recent sample? I imagine we will not attempt to query that often
anyways in reality.

On Wed, Dec 2, 2015 at 12:13 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-12-02 20:52] timstclair commented on #18044
Why does it matter if all nodes are scraped at exactly the same time? I don't think aligning the scraping time to an absolute time solves anything anyway, since the clocks are not guaranteed to be in sync.

[2015-12-02 20:56] kshelton commented on #17955
Where: On restart of node (ungraceful kubelet shutdown)
Version: Master (69bb774dd487d67f9c1fd1568e71df16a36a5097)

I have to modify gce_util.go like this

[code]

Which just makes it continue to check if mounted even if atach fails, but I don't feel it's really the right solution.

[2015-12-02 20:57] mwielgus commented on #18044
Windows - no we cannot get rid of them. With 1000 nodes we cannot query Kubeletes for metrics at the same time - it has to happen gradually over the next 5-10 seconds or so. But we would like the end result   to be as much consistent as possible.

[2015-12-02 21:02] vishh commented on #18044
As long as heapster queries kubelet's within a 10 second window, it should
get the most recent metric. If the polling duration is much longer, the 10
second housekeeping duration doesn't matter.
Heapster can query every ~30 seconds and still get pretty accurate data.

On Wed, Dec 2, 2015 at 12:58 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-12-02 21:05] saad-ali commented on #17955
Thanks for the details @kshelton. That sounds like #14642. We're working on a fix.

Close as dupe.

[2015-12-02 21:05] #17955 closed

[2015-12-02 21:05] thockin commented on #18100
So to clarify, you can't access yourself when going through a service?  Pod
P accesses Service S which chooses pod P as a backend - right?

This is supposed to work - we explicitly test it in our end-to-end tests.

Can you run:  `cat /sys/devices/virtual/net/*/brport/hairpin_mode` on a
node?

On Wed, Dec 2, 2015 at 11:54 AM, Dan Di Spaltro <notifications@github.com>
wrote:

[2015-12-02 21:10] mwielgus commented on #18044
Sure, we are not talking about metrics being perfectly in sync. I just don't want the samples to be randomly spread over 10 seconds (or more).

Lets for a moment suppose that you increase the houskeeping duration to 1 min and we scrape every 1 min. We ask for metrics on regular basis. Every full 1 min. It would be nice if you scrape the metrics just before we ask for so that it is as fresh as poss

[2015-12-02 21:10] ddispaltro commented on #18100
That is correct

[code]

[2015-12-02 21:12] vishh commented on #18044
Wouldn't it be better to ensure that the polling duration of heapster > 2*
polling duration of kubelet?

On Wed, Dec 2, 2015 at 1:11 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-12-02 21:13] thockin commented on #18100
Interesting.  Those should all be 1, can you run kubelet with --v=3 and
look in the logs for "Enabling hairpin on interface " messages?

On Wed, Dec 2, 2015 at 1:11 PM, Dan Di Spaltro <notifications@github.com>
wrote:

[2015-12-02 21:14] mwielgus commented on #18044
Still, I would prefer to get metrics that are 1 sec old instead of polling duration old.

[2015-12-02 21:18] yujuhong commented on #18044
The metrics would could be as old as cadvisor's housekeeping interval. If you define an acceptable value for the interval, I think it's implied that you are okay with data this old. I am not sure how you're going to avoid that.

[2015-12-02 21:23] nikhiljindal commented on #18078
Yes we do not have cascading delete for deployments yet.
cc @kargakis @janetkuo

[2015-12-02 21:23] evanphx opened #18104 "kube-proxy and api don't agree on a nodes hostname"
On a brand new clustered created under v1.1.2 on AWS, kube-proxy is not able to find annotations for the current node because it uses `uname -n` by default, which yielded `ip-172-20-0-147`. APIserver has the name with a full hostname: `ip-172-20-0-147.us-west-2.compute.internal`.

Change the node itself to advertise it's full hostname via `uname -n` fixes the issue. That should be done by default

[2015-12-02 21:25] derekwaynecarr commented on #17833
@brendandburns - your input would be here appreciated as it impacts a number of PRs, most notably mine here around kubectl create subcommands: https://github.com/kubernetes/kubernetes/pull/16028

[2015-12-02 21:25] kargakis commented on #18078
Yes, it is.

[2015-12-02 21:30] mwielgus commented on #18044
I would assume that it works in this way:

1. At time X cAdvisor starts scraping metrics
2. Once it is done at time X + scrape_time the new values are available in the API.
3. At time X + housekeeping_interval cAdvisor scrapes again.

So if I query at time X + scrape_time  I will get very fresh metrics. If I query at time
X + housekeepig_interval - 0.5 sec the metrics will be older, but If I wait

[2015-12-02 21:33] ddispaltro commented on #18100
So of course after all that effort I realized I am actually running 1.0.7 which looks like it does not log that.  So let me get up to 1.1.2 and report back if that fixes it.  Does 1.0.7 have https://github.com/kubernetes/kubernetes/issues/13375 fix off the top of your head?

[2015-12-02 21:36] timstclair commented on #18044
Correct, but I also agree with @yujuhong 's point. If the goal is to get infrequent metrics, but make sure they are as fresh as possible when they're gathered, a different model is needed. Either we need to switch to a push-based (watch) model, or on-demand scraping.

[2015-12-02 21:37] kargakis commented on #17833
I have started documenting generators in https://github.com/kubernetes/kubernetes/pull/17366, would appreciate feedback there. Docs for each generator specifically should be added in follow-up PRs.

[2015-12-02 21:37] vishh commented on #18044
That depends on the implementation. If cAdvisor is directly surfacing
metrics data, then `scrape_time` is almost negligible.

On Wed, Dec 2, 2015 at 1:31 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-12-02 21:40] mwielgus commented on #18044
All I want is to make X predictable. And Heapster will query at the right time.

[2015-12-02 21:41] thockin commented on #18104
Do you run kubelet with the hostname override flag?

On Wed, Dec 2, 2015 at 1:24 PM, Evan Phoenix <notifications@github.com>
wrote:

[2015-12-02 21:42] thockin commented on #18100
no, the hairpin fixes are only part of 1.1

On Wed, Dec 2, 2015 at 1:34 PM, Dan Di Spaltro <notifications@github.com>
wrote:

[2015-12-02 21:42] vishh commented on #18044
`X` will always include a variable delta. Local node issues like scheduling
delays can introduce arbitrary delays.

On Wed, Dec 2, 2015 at 1:40 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-12-02 21:45] mwielgus commented on #18044
Sure but it would be enough to know the approximate time +- 1sec and be right 99%. Then you can increase houskeeping time even to 30 sec.

[2015-12-02 21:49] timstclair commented on #18044
This sounds like adding unnecessary complexity as a hack to get "approximately" right data with no guarantees on what "approximately" means. Either we care about the freshness of the data, in which case we need a different design, or we don't. Unless I'm completely missing something? Does Kubelet make any promises about clock synchronization?

[2015-12-02 21:50] timstclair commented on #18044
Sorry, I think that sounded unnecessarily harsh. I'm just unclear on what the higher level goal is here.

[2015-12-02 21:51] feelobot opened #18106 "AWS EBS Volume Can't Attach if One Exists on Host"
Can't Attach if other devices are attached:

[code]

Example:

[code]

![image](https://cloud.githubusercontent.com/assets/899409/11545532/994885ee-98fc-11e5-91b7-df45076cd1cc.png)

[2015-12-02 22:03] mwielgus commented on #18044
I have two goals:

1) Have metrics scraped more or less a the same time so that load on one pod can be compared to the load on the other pod. With 1 sec housekeeping_interval everything was in sync. But as you are increasing the intervals the things are getting more complicated.

2) Propagate the change in metrics to the Heapster API consumer (like Horizontal Pod Autoscaler) as fast as possible.

[2015-12-02 22:06] pmorie commented on #4710
@e72575f3 Are you looking for simple env var control, or populating them with kubernetes secrets, which is the topic of this issue?

[2015-12-02 22:09] wienczny opened #18107 "Replace dependency on "rbd" command by /sys/bus/rbd kernel interface"
When using Kubernetes on platforms like CoreOS where additional commands can hardly be installed it's hard to get storage plugins working (see #17344 for examples). Please replace the dependency on the "rbd" command by using the sysfs kernel interface provided by rbd.ko. Some documententation is provided at http://docs.ceph.com/docs/argonaut/rbd/rbd-ko/.
If you don't want to completely remove "rbd

[2015-12-02 22:10] vishh commented on #18044
What is the minimum resolution needed for the HPA use case?

[2015-12-02 22:12] timstclair commented on #18044
Thank you, that clarified the issue for me.

That assumes node time is synchronized. Do we make any sort of promises that this is the case? Maybe it's OK to say that the issues you raised in (1) and (2) are only promised within the variation of node clocks, but if that's the case we should document that.

[2015-12-02 22:15] mwielgus commented on #18044
In clusters you usually have network provided time which gives pretty decent accuracy (up to 100ms) and synchronization. See: https://en.wikipedia.org/wiki/Network_Time_Protocol.

[2015-12-02 22:21] vishh commented on #18044
GCE guarantees time synchronization. If there is a lot of time skew, many
other things will fail including auth.

Housekeeping duration is variable. Scrape latency can be considered to be a
constant for our purposes and is currently negligible.

If we can define the minimum resolution required at the cluster level, then
kubelet can ensure that it meets those requirements with some form of an
SLO.

[2015-12-02 22:22] pmorie commented on #17731
I support making `ExternalID` mutable on update; let's ensure that if it is made so, it's reflected in the docs.  We don't do a great job of articulating in the API docs which fields are mutable/immutable.

[2015-12-02 22:25] derekwaynecarr opened #18108 "Do we expose docker run --ulimit options to work in Kubernetes"
I have been asked this same question multiple times this week, so raising it now as an issue.

If so, which ones?

I think we need to make a statement of direction here.

[code]

But I can then do this:

[code]

/cc @smarterclayton @bgrant0607 @bparees @kubernetes/rh-cluster-infra  @kubernetes/goog-node

[2015-12-02 22:26] derekwaynecarr commented on #18108
If we do expose something, we would need to restrict it via ```LimitRange```

[2015-12-02 22:26] mwielgus commented on #18044
How housekeeping duration is variable if it is set to 10 sec?

Heapster code itself doesn't depend on the metric scrape time. If you misbehave everything will still be working just the metrics accuracy will be lower and HPA will react with bigger latency because some metric change will go to the next scraping window.

[2015-12-02 22:31] timstclair commented on #18044
Ok, so we could implement a special timer for metrics scraping which triggers on `time.Now().Seconds() % housekeepingInterval`. However, if the Kubelet is under load I think the timer could trigger late, which could cause heapster's polling to miss the new metrics. If this is not a concern, I'm OK with syncronizing the scraping time.

[2015-12-02 22:35] evanphx commented on #18104
@thockin: The salt setup does not set kubelet up that way, no.

[2015-12-02 22:36] evanphx commented on #18104
@thockin: My mistake. YES, salt does setup kubelet with --hostname-override, so the scripts that write out `/etc/default/kube-proxy` need to do the same as for `/etc/default/kubelet`.

[2015-12-02 22:39] thockin commented on #18104
yeah, if you use it on one piece of the node, you really need to use it on
all pieces :)

On Wed, Dec 2, 2015 at 2:36 PM, Evan Phoenix <notifications@github.com>
wrote:

[2015-12-02 22:47] evanphx commented on #18104
Yup! Do you know where salt configures that? I didn't do it manually.

[2015-12-02 23:13] lavalamp commented on #18049
Yes, the --read-only-port was deleted quite some time ago. Good find.

[2015-12-02 23:18] lavalamp commented on #17899
Well, that's unexpected. Can you do `kubectl --server=xxx:8888 get events -o yaml` so we can see the object that triggered that behavior?

[2015-12-02 23:25] lavalamp commented on #17767
Sorry for slow response--

Our default setup stuff uses kubelet to run apiserver. It appears you're using systemd directly. I'm not a systemd expert. Can you expand on your question: what part of it is kubernetes specific? (Alternatively, you could try asking on stackoverflow.)

Anyway, my guess is that you have a startup order issue, where kube-apiserver is getting started before your network int

[2015-12-02 23:25] #17767 closed

[2015-12-02 23:26] lavalamp commented on #17737
@karlkfi

[2015-12-02 23:27] yujuhong commented on #18044
Does heapster have access to the housekeepingInterval used by kubelet (cadvisor)? The interval could be changed by a kubelet flag easily.

I am okay with the approach, but I am not entirely convinced that this is the best way to keep the latency intact because it seems very fragile. As @timstclair pointed out, any delay in cadvisor could cause stale data.

[2015-12-02 23:27] dchen1107 opened #18111 "Node acceptance tests: validate the most popular images"
As part of node / guest image validation, we need to make sure the most popular images can running successfully on the node. The belowing are the top 32 OSS applications people came up a while ago. Since not all of them have reliable working image, I put them into two big buckets:

OSS applications with reliable image (> 15 stars from docker hub)
1) Database: MySQL, MongoDB, Redis, Cassandra, Post

[2015-12-02 23:28] andyzheng0831 commented on #18111
cc/ @yinghan @wonderfly

[2015-12-02 23:31] gtank opened #18112 "Implement dynamic clustering with TLS"
Hey everyone, we've been thinking about this at CoreOS for a little while and I wanted to get the conversation started here. This feature should simplify deploying TLS-enabled kubelets (related: #2303).

I've written an initial proposal based on the [design doc](https://github.com/kubernetes/kubernetes/blob/master/docs/design/clustering.md) that you can read at https://docs.google.com/document/d/1

[2015-12-02 23:32] timstclair commented on #18111
cc/ @zmerlynn

[2015-12-02 23:33] lavalamp commented on #17713
Sorry for delay--

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We r

[2015-12-02 23:33] #17713 closed

[2015-12-02 23:39] lavalamp commented on #17675
I think what is going on is that endpoint controller is generating endpoints before it's finished loading the pods, and therefore it deletes all endpoints and then recreates them. Oops!

So you're not getting old watch entries, you're getting new ones. The problem is that they are being generated at all.

@davidopp if you can't find someone to fix this I might be able to throw something together.

[2015-12-02 23:41] vishh commented on #18044
IIUC the current heapster model is as follows:
1. Gather multiple metrics from the kubelet and group them into a minutely bucket.
2. Aggregate these buckets across pods.

If we were to poll the kubelet more often, then we could reduce the buckets to be 30 seconds.

Heapster will have to use time stamps and align metrics to be robust. I don't see how we can avoid that.

If heapster is resilient to

[2015-12-02 23:43] zmerlynn commented on #18111
There will probably be images from the https://github.com/kubernetes/application-images repo as we add to there. At the very least, you should add Spark already.

I'm not sure how you're planning on testing them though. I mentioned testing in #17027 in the context of images and templates as well, so, for instance, if we wanted to, we could embrace DM to help deploy all of these, and then we just n

[2015-12-02 23:43] zmerlynn commented on #18111
cc @jackgr

[2015-12-02 23:49] lavalamp commented on #17461
Yes, I think this is covered completely by that.

[2015-12-02 23:49] #17461 closed

[2015-12-02 23:51] lavalamp commented on #17435
Will need to be fixed before we turn this on.

[2015-12-02 23:54] lavalamp commented on #17380
RESTClient is not a singleton, and should not be a singleton. Transports should be cached and reused. RESTClients are light and disposable.

[2015-12-02 23:54] #17380 closed

[2015-12-02 23:54] lavalamp commented on #17266
I don't really want to own this, but I guess it doesn't go in anyone else's team, either.

[2015-12-02 23:55] lavalamp commented on #17266
I imagine a dependency changed?

[2015-12-02 23:55] karlkfi commented on #17737
componentstatuses needs to be nuked from orbit. feel free to monkey-patch the shit out of it.
I hope it becomes obsolete after component registrations gets further along.

[2015-12-02 23:56] lavalamp commented on #17199
This seems like a useful thing to have. Kubelet exposes a separate port for health checking.

[2015-12-02 23:59] lavalamp commented on #17115
Hopefully we will never have to do this.

[2015-12-03 00:00] lavalamp commented on #17032
Isn't the problem just that websockets don't go through `kubectl proxy`?

[2015-12-03 00:01] derekwaynecarr commented on #11492
A follow-up thought after the SIG discussion today when I am trying to weigh templates looking more like Kubernetes objects, or templates using something like Jinja, etc.  Does that choice impact the ability to migrate templates across API versions in anyway?  Using something more structured like OpenShift templates, it appears that it would simplify migration of a template from using v1 API objec

[2015-12-03 00:03] derekwaynecarr commented on #18108
Caveat: process limits are something we would not look to support since they are tied to the user that runs the container.

[2015-12-03 00:03] vishh commented on #18108
https://github.com/kubernetes/kubernetes/issues/3595#issuecomment-142462460

[2015-12-03 00:06] derekwaynecarr commented on #18108
@vishh - thanks!  closing this feature in favor of #3595.

[2015-12-03 00:06] #18108 closed

[2015-12-03 00:07] derekwaynecarr commented on #3595
I keep getting asked questions in this space, so maybe a pointer to documentation somewhere explaining why its not supported yet would be useful.  Typing that I admit that it is odd to write something on why we don't do something, but @dchen1107 earlier comment is helpful.

[2015-12-03 00:10] ihmccreery opened #18116 "Establish process for caring for non-merge-queue test suites"
We should have three different kinds of test suites: 'merge-queue', 'critical builds', and 'other'.  Build cop is responsible for the first two.

Action items:

- [x] What is the definition of a critical build?
  - [ ] Write tools to enforce this state of affairs
- [x] Establish how to find the owner of a job and method (@spxtr)
- [ ] Find and define an “owner” for each test method
- [x] Find and

[2015-12-03 00:12] ihmccreery opened #18117 "Kubernetes should support Go/Golang 1.5"
Go/Golang 1.3 is no longer supported, 1.4 works, I'm not sure if 1.5 is fully functional yet, and definitely isn't tested.

[2015-12-03 00:15] ihmccreery opened #18118 "Establish how much time we're spending on Jenkins, and drive it to < 1hr / week"
Right now, @ixdy is our Jenkins SRE.

Action items:

- [x] Where is time on Jenkins spent; why did we need to spend time there; how can we avoid that in the future?
- [x] Documentation for:
  - Reboot Jenkins
  - Add a Jenkins slave
  - Turnup a Jenkins master

[2015-12-03 00:20] ihmccreery commented on #13062
Here's a rough outline of what needs to be done:

- [ ] Source controlled jenkins job config
- [ ] Goldenfiles for test -> jobs ("what jobs run a given test?") and job -> tests ("what tests does a given job run?")
- [ ] Structured metadata for tests / suite
- [ ] Move to auto assignment of tests to jobs based on metadata

[2015-12-03 00:21] karlkfi commented on #17874
@sdminonne Here's our latest conformance log from master with the labels/annotations both failing (mesos/docker cluster): https://teamcity.mesosphere.io/viewLog.html?buildId=84843&buildTypeId=Oss_KubernetesMesos_ConformanceTests&tab=buildLog&guest=1

Downward API volume should update labels on modification [Conformance]
https://teamcity.mesosphere.io/viewLog.html?buildId=84843&buildTypeId=Oss_Kube

[2015-12-03 00:22] ihmccreery opened #18119 "Convert GCP projects used for test runs from pets to cattle"
Right now, our individual Jenkins jobs all run on separate projects.  Instead, we'd like to just have a pool of projects from which to draw, and let clusters that failed tests linger in their projects, (which will be quarantined,) so that people can inspect them.

[2015-12-03 00:24] ihmccreery opened #18121 "Improve test results visualization"
It's really hard to see what tests failed across different runs, especially if you don't have access to Jenkins (#17443).

[2015-12-03 00:24] dchen1107 commented on #17266
Both Amey, Andy and I checked the code briefly, and couldn't find where is changed in our code. Yes, I believe it is a dependency change.

[2015-12-03 00:24] ihmccreery opened #18122 "Get Jenkins job configs under source control"

[2015-12-03 00:27] ddispaltro commented on #18100
Works with 1.1.  Thanks for the help!

[2015-12-03 00:27] #18100 closed

[2015-12-03 00:27] ihmccreery commented on #17682
Renamed per #17734.

[2015-12-03 00:29] vishh commented on #17994
@justinsb might be able to help you with upgrades.

I'd recommend upgrading to a more recent version that has image GC built-in.

[2015-12-03 00:31] ihmccreery commented on #16041
Closing in favor of #16040, which is actually the problem.

[2015-12-03 00:31] #16041 closed

[2015-12-03 00:31] zmerlynn commented on #17032
@lavalamp: What exactly are you proposing? Cracking the WebSocket stream and then ....?

[2015-12-03 00:32] dchen1107 commented on #18111
@zmerlynn Added Spark to the list. I also missed HAProxy in above list ealier. Thanks!

We can discuss in detail on how to deploy them to the node for testing.

[2015-12-03 00:32] ihmccreery commented on #15030
Related to #13062.

[2015-12-03 00:33] zmerlynn commented on #17115
I don't see a way around it for some apps, to be honest. It's the best solution I've seen for Zeppelin so far, though I'm open to negotiating with their upstream.

[2015-12-03 00:34] ddispaltro commented on #18100
Actually one thing I should mention is that I had to run some code to get the networking to intialize

`/usr/sbin/tc qdisc add dev cbr0 root handle 1: htb default 30` by default it was returning something different and the code didn't seem to correctly delete the interface it was returning exit code 2

[2015-12-03 00:37] spxtr commented on #18122
First step: #17996

[2015-12-03 00:46] ihmccreery opened #18123 "Critical builds should fail eagerly and handle flaky tests better"
Per @cjcullen's https://github.com/kubernetes/kubernetes/issues/10353#issuecomment-144833150.

[2015-12-03 00:46] ihmccreery commented on #10353
Closing this as obsolete.

[2015-12-03 00:46] #10353 closed

[2015-12-03 00:51] #16373 closed

[2015-12-03 00:52] freehan commented on #17873
Cannot reproduce failure so far. Leaving it to run overnight...

[2015-12-03 00:53] lavalamp commented on #17032
Forwarding the websocket in both directions? Presumably it just totally doesn't work right now?

[2015-12-03 00:54] ihmccreery commented on #17524
@ixdy I'm bumping this down to P2.  If you're actively working on it, please assign it to yourself & up it back to P1.

[2015-12-03 00:56] ihmccreery commented on #16562
We disabled Shippable, so I'm closing this as obsolete.

[2015-12-03 00:56] #16562 closed

[2015-12-03 00:57] brendandburns commented on #12818
This was closed by #17202

[2015-12-03 00:57] ihmccreery commented on #16161
Knocking this down to P2 until we see this again.

[2015-12-03 00:58] brendandburns commented on #16436
This was closed by #17207

[2015-12-03 00:58] #16436 closed

[2015-12-03 01:01] ihmccreery commented on #14968
What's the status of this?

Also, was "CB" (in the title) "critical build"?  I changed the title as such, but maybe misunderstood.

[2015-12-03 01:02] liggitt commented on #17032
I guess I'm not surprised that a rewriting proxy isn't working well with an advanced use case (JavaScript making web socket connections). If port forward is working, why not recommend that instead? We could look into making sure upgrade connections work, but I think chasing advanced rewrite scenarios is not a good idea.

[2015-12-03 01:07] liggitt commented on #17115
I think this goes beyond what a proxy should do. If there are headers we should be setting to help the backend app behave better, we could look into that, but making a proxy jump through hoops to support an advanced app that isn't proxy aware is not a good idea.

[2015-12-03 01:07] zmerlynn commented on #17032
It's honestly additional friction to have to bring up `port-forward` for a single app. I'm already recommending it in the example, but the example *additionally* recommends `proxy` to get at the Spark WebUI. How many ways to proxy does one app stack need?

[2015-12-03 01:09] ixdy commented on #18050
On the PR builds we're running with Ginkgo in parallel mode, so it's possible that this test is interacting poorly with other tests running simultaneously?

[2015-12-03 01:13] ihmccreery commented on #12493
@brendandburns Did you fix this with https://github.com/kubernetes/kubernetes/pull/14064?

[2015-12-03 01:15] bgrant0607 commented on #11492
Good point @derekwaynecarr. I agree that convertibility is a desirable property. It would be problematic for any non-string template parameters given the way our conversion machinery currently works, but validation has the same issues.

[2015-12-03 01:16] ihmccreery commented on #11431
Related to #15131, if I understand correctly.  This is lower level than running e2e's amidst upgrades.

[2015-12-03 01:17] ihmccreery commented on #11340
Closing in favor of #15131.  Re-open if you disagree, @a-robinson.

[2015-12-03 01:17] #11340 closed

[2015-12-03 01:18] ihmccreery commented on #10996
Closing as fixed by #10994, but I'm not verifying.

[2015-12-03 01:18] #10996 closed

[2015-12-03 01:22] timstclair commented on #17931
In every example I found, the failure was a result of the container runtime going down:
[code]

Unfortunately in all the examples I found, the kubelet logs were not successfully retrieved.

@kubernetes/goog-node I remember we had issues with the runtime going down in the past - were those ever fixed? Is there anything in particular I should look for here?

[2015-12-03 01:25] janetkuo commented on #11874
#18125 adds e2e test for it.

[2015-12-03 01:39] xiang90 opened #18126 "scheduler: using inefficient math library causes significant slowdown"
We did a few benchmark and profiling tests for the scheduler for 1000 nodes cluster.

We found the scheduler component is the bottleneck of starting pods. And it spents most of the time in an external pkg (https://github.com/kubernetes/kubernetes/blob/master/pkg/api/resource/quantity.go#L27) that handling math operations.

Profiling result for schedule 1000 pods over 1000 nodes:
https://storage.go

[2015-12-03 01:40] dalanlan opened #18127 "pod failed for `no such image` with the image present"
We've got a pod failing with message `no such image`, yet according to the events, the image had been pulled successfully.

k8s version: v1.0.5

If there is no obvious behavior problem with `kubelet`, then the events should probably be handled better (time, event order).

[code]

[2015-12-03 01:43] markturansky commented on #18050
Ah, that might be.

I don't think integration tests are inherently parallelizable.  Many of the integration tests call `framework.DeleteAllEtcdKeys()`, which means that one test will clobber another's data.  If a test is waiting on some condition in that data (and the PV integration test does), it will wait until it times out.  The data will never be in that state.  It's gone.

https://github.com/

[2015-12-03 01:43] xiang90 commented on #18126
@kubernetes/sig-scalability

[2015-12-03 01:49] janetkuo commented on #15945
This may affect deployment. Deployment needs to keep track of the number of available pods, scale rcs accordingly, and make sure the number of available pods is within a certain range (depends on deployment strategy).

[2015-12-03 01:55] lavalamp commented on #18126
Probably just doing the rounding once per pod (instead of per pod-node combo as I'm sure it does now) would be sufficient--caching or doing something like a constructor.

Alternatively, writing a special-purpose Value/MilliValue function probably could solve this.

@timstclair is making some changes to quantity right now.

[2015-12-03 01:59] xiang90 commented on #18126
That is what I did for the mock up. This seems not to be very hard. Or we can fix the upstream library if we want.

@timstclair Any idea?

[2015-12-03 02:18] a-robinson commented on #11340
SGTM

[2015-12-03 02:20] yujuhong commented on #17980
I added some more logging and here is what I found:

[code]

The version number of the pod status for kube-apiserver was reset once because the entry got deleted when status manager couldn't get a pod with the same name/namespace from the apiserver (the mirror pod was going through a series of creations/deletions) On the other hand, the apiStatusVersion was never cleared and the version number rem

[2015-12-03 02:23] karlkfi commented on #17874
These failures can be reproduced on master with a single command:

[code]

[2015-12-03 03:10] judytong commented on #17870
@yujuhong  I do agreed what you said about transient error. But there still remains something to clarify.
@zhengguoyong
However, determining IP may return both transient errors or permanent errors. It depends on how you deal with interface "Status" in your network plugin. When error occurs in setting up a infrastructure container, for example, IP address is not assigned correctly, nowadays we stil

[2015-12-03 03:55] timstclair commented on #18126
I think once https://github.com/kubernetes/kubernetes/pull/17548 goes in, we should just optimize `ScaledValue()`. The math around scaling values up without overflow is a little tricky though (I think we just need to grab the right chunk of bits `q.Amount().UnscaledBig().Bits()`, and twiddle them to get the base10 scaled value.

[2015-12-03 04:01] xiang90 commented on #18126
@timstclair Great! Let me know when it is merged. I am happy to work on the optimization.

[2015-12-03 04:22] dove-young opened #18130 "Failed to create DaemonSet using sample yaml file"
I tried to create daemonset using this yaml sample found from daemonset guide: https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/design/daemon.md  and I've changed apiVersion <code>extensions/v1beta1</code> since <code>v1</code> does not work actually.

[code]

But when I try to create it, the error message said

[code]

Then skip validate and it said
[code]

When I query <code>v1beta

[2015-12-03 04:41] #12818 closed

[2015-12-03 05:13] evanphx commented on #18104
Looks like this was fixed in https://github.com/kubernetes/kubernetes/commit/a739fc44c4da7c5ec2b4348de3766826c7e8d6dd!

[2015-12-03 05:13] #18104 closed

[2015-12-03 05:18] dove-young commented on #18130
Create daemon success from admin/daemon.yaml https://github.com/kubernetes/kubernetes/blob/95b265390e530eb137beac4288ba28d63c1142da/docs/admin/daemon.yaml

So this would be a document problem

[code]

[2015-12-03 05:23] jayunit100 commented on #18079
after playing with a few solutions, closing - this gets pretty hairy when we consider the myriad of providers.

[2015-12-03 05:23] #18079 closed

[2015-12-03 05:34] pmorie commented on #18007
+1 to Tim's sentiments.  I like this idea, and it will enable much faster workflows for people developing applications inside of Kube.  Of course, the devil's in the details.  It's too bad no one has written us a pure-go NFS server yet. :sob:

[2015-12-03 05:42] thockin commented on #17013
The default for bind address is 0.0.0.0 - are you asserting that you have interfaces you DON'T want to listen on?  It's plausible, but it has a nasty side-effect - specifying bind-address means you won't listen on localhost.  NOT a huge-deal for kube-proxy (I think - it *is* subtle), but there are some docs out there that talk about connecting on localhost to debug stuff.

[2015-12-03 05:45] #9288 closed

[2015-12-03 06:09] bgrant0607 commented on #18112
cc @roberthbailey @davidopp

[2015-12-03 06:13] thockin commented on #17870
I'm unclear on how this ends up "running":
 pkg/kubelet/dockertools/manager.go calls networkPlugin.SetUpPod(), which
can fail.  If it fails, we skip the pod.

On Wed, Dec 2, 2015 at 7:11 PM, judytong <notifications@github.com> wrote:

[2015-12-03 06:15] thockin commented on #18100
What OS is that on?  Are you using the experimental bandwidth-limiting
features?

On Wed, Dec 2, 2015 at 4:34 PM, Dan Di Spaltro <notifications@github.com>
wrote:

[2015-12-03 06:24] gmarek commented on #18126
@xiang90 - this sounds very promising. Thanks a lot!

[2015-12-03 06:40] jay-lau commented on #17899
describe events works.

root@ma1demo3:~/gyliu/conf/k8s# kubectl --server=xxxx:8888 describe pods
Name:                           nginx1
Namespace:                      default
Image(s):                       nginx
Node:                           ma1demo4.eng.platformlab.ibm.com/9.21.58.24
Start Time:                     Thu, 03 Dec 2015 01:39:04 -0500
Labels:                         app=nginx
Stat

[2015-12-03 06:41] jay-lau commented on #17899
I think that this share same root cause with https://github.com/kubernetes/kubernetes/issues/17364

[2015-12-03 06:47] thockin commented on #17641
Thanks.  And to be clear, this is with the userspace proxy yes?

On Wed, Dec 2, 2015 at 8:49 AM, Sladewill <notifications@github.com> wrote:

[2015-12-03 07:14] pmorie commented on #16779
@deads2k Yeah, that makes more sense.

So, all that said, @justinsb what you would get is the ability for pods to opt-out of token mounting, which is different than limiting access.  However, someone who wanted to limit access could make an admission controller that ensures that this flag is set -- does that give you what you want?

[2015-12-03 07:21] wojtek-t commented on #15945
@janetkuo - it will be possible to still list "the current" version from etcd (by setting parameters correctly). So it will not be breaking change.

[2015-12-03 07:24] ahead4 commented on #17641
Yes that's correct.

[2015-12-03 07:27] thockin commented on #3920
I understand the desire for one tool to do it all, but ideally nodes are not even part of the conversation.  I just want to be

[2015-12-03 07:27] thockin commented on #3920
woops!

[2015-12-03 07:28] davidopp commented on #18112
@mikedanese @fgrzadkowski

[2015-12-03 07:29] wojtek-t commented on #18099
SGTM - I think we can use ConfigData objects once they are done.

[2015-12-03 07:36] #17992 closed

[2015-12-03 07:37] wojtek-t commented on #18126
@xiang90 - great job!

[2015-12-03 08:00] gmarek commented on #17873
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-release-1.1/847/

[2015-12-03 08:04] #17898 closed

[2015-12-03 08:19] #15891 closed

[2015-12-03 08:20] wojtek-t commented on #18091
+1 for adding benchmark (howeveer this should be integration test, not unit-test in my opinion)

[2015-12-03 08:24] #17364 closed

[2015-12-03 08:27] mqliang opened #18140 "Image gc is racy"
Image gc is racy: When kubelet creates a  docker container, it must pull a image if the image is not on the node. Just after the image is pulled and before the container is created, the image may be unfortunately garbage collected since there is no container using this image.

I am glad to submit a PR to help fix this(in a couple of days).

[2015-12-03 08:27] mqliang commented on #18127
It seems that the image is garbage collected before the container is created.

https://github.com/kubernetes/kubernetes/issues/18140

[2015-12-03 08:31] dalanlan commented on #18127
That's not the case, i'm afraid. The image is still present even if the pod is failing.
To confirm this: we kill this pod, a new pod being scheduled to the same node (lucky me), and everything works well then.

[2015-12-03 08:33] dalanlan commented on #18140
I don't believe so. The default gc policy is much less aggressive than you thought.

[2015-12-03 08:34] mqliang commented on #18127
你是浙大的？

[2015-12-03 08:34] dalanlan commented on #18127
@mqliang yeah ;-)

[2015-12-03 08:36] mqliang commented on #18127
Me too. but I have graduated. I get my bachelor's degree form ZJU this year. And now I work in NetEase.

[2015-12-03 08:36] hurf commented on #17998
I'll take care of it once I'm back to office. Fixed days like AddDate(0,0,-90) would work fine.

[2015-12-03 08:41] dalanlan commented on #18127
Cool. Had no idea that NetEase has started to contribute to the community though.

[2015-12-03 08:43] mqliang commented on #18127
I cleared my comments. Could you give me your Wechat account. We can have a chat.

[2015-12-03 08:45] wojtek-t commented on #14695
During next 2 days there was exactly one more failure of this test:
http://kubekins.dls.corp.google.com/view/Flaky/job/kubernetes-e2e-gce-flaky/8225/console

it is exactly the same as the previous one.
However, those are duplicates of https://github.com/kubernetes/kubernetes/issues/17931

So I'm going to move this test out of flaky suite.

[2015-12-03 08:49] soltysh commented on #17899
It's already fixed in #18031.

[2015-12-03 08:59] dalanlan commented on #18127
@mqliang  I‘ve sent you a mail.

[2015-12-03 08:59] sdminonne commented on #17874
@karlkfi thanks for the logs.

I'm investigating the issue using `./hack/local-up-cluster.sh` (never worked with `./contrib/mesos/...` so I'm not sure if it's the same or not)

Running only one instance of like this `
 _output/local/go/bin/e2e.test --host="127.0.0.1:8080" --provider="local" --ginkgo.v=true --ginkgo.focus="should.update.*on.modification" --kubeconfig="$HOME/.kube/config"` basically

[2015-12-03 09:07] gmarek commented on #18050
I just saw a similar failure while running from integration tests locally:
[code]

[2015-12-03 09:15] mqliang commented on #18127
Unfortunately you are not willing to, bad. Hoping I can have further discussions with you about k8s.

[2015-12-03 09:17] #14695 closed

[2015-12-03 09:20] dalanlan commented on #18127
@mqliang Ah, i've sent you an e-mail which encloses my wechat id. Could you please kindly check your gmail (posted on your profile)?

[2015-12-03 09:22] mqliang commented on #18127
nice~

[2015-12-03 09:28] wojtek-t commented on #18050
@gmarek asked my about errors from "etcd_watcher.go" - those aren't dangerous. Those are the result of framework.DeleteAllEtcdKeys() - once you remove the whole directory from etcd, etcd doesn't send individual deleted objects to the watcher, but just the whole directory (without its elements). This is causing such errors to be logged. This isn't the problem here.

[2015-12-03 09:54] sdminonne commented on #17874
It looks to me that everytime the fails happens I ran into something like:

[code]

the same is valid for @karlkfi logs.
I tried to `grep` in the code (maybe I'm blind) but I couldn't find...
Any ideas?

[2015-12-03 09:57] wojtek-t commented on #17874
@sdminonne - those lines are coming from this metric:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/metrics/metrics.go#L100

the "kubelet_" at the beginning is "subsystem" in prometheus metrics, that's why you probably didn'g find it

[2015-12-03 09:59] gmarek commented on #17874
Actually its printed here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_stats.go#L100

[2015-12-03 10:23] sdminonne commented on #17874
@gmarek #18143 thanks

[2015-12-03 10:36] NanXiao opened #18146 "The kubernetes can't find correct go in ubuntu"
My OS is ubuntu is 14.04.3 Server, and I want to build kubernetes.

Firstly, I use "apt-get" command install Golang, but the version is 1.2.1, so I remove it.
And install the newest 1.5.1 from golang website.

But executing make command, it seems kubernetes always "think" current golang is 1.2.1:

	$ make
	hack/build-go.sh
	+++ [1203 06:20:30] Building go targets for linux/amd64:
		cmd/kube-proxy

[2015-12-03 12:04] HaiyangDING commented on #18091
cc @HaiyangDING @hurf

@timothysc
The next SIG on scheduler meeting is on 12.07, isn't it? If there is one tomorrow, can I have the information please?

[2015-12-03 12:09] gabipetrovay opened #18149 "How to pass JSON to kubectl create"
`kubectl create` takes the -f argument:

[code]

Can this be a list of files? If yes, how? If no, how can you pass then the JSON description of a service, replication controller and pods in the same file?

[2015-12-03 12:28] kargakis commented on #17022
@jackgr back to this, we are looking for a way to determine that a patch is empty. Since an empty patch will always be a couple of bytes, does it make sense to pin that value to a constant that would denote an empty patch? Actually, what's the best way currently to determine on the client that a patch is empty?

cc: @liggitt @jhadvig

[2015-12-03 12:32] wojtek-t commented on #15945
The initial version (without indexers) is very close to be done.

However, after some deeper thinking I would like to suggest a slightly different semantics:

1.  if "resourceVersion" parameter is NOT specified for the request (today this is the case for all requests), we still serve this request from etcd

2. if "resourceVersion" parameter is specified for the request - than we only guarantee tha

[2015-12-03 12:34] kargakis commented on #17000
cc: @nikhiljindal @bgrant0607 @janetkuo

[2015-12-03 12:45] jhadvig commented on #17022
@kargakis after I print size of the patch I see the size is `2`

[2015-12-03 13:12] wojtek-t commented on #17874
We should verify if increasing the timeout:
https://github.com/kubernetes/kubernetes/pull/18143
fixed this issue.

[2015-12-03 13:13] wojtek-t commented on #17781
The potential fix: #17995 has already been merged. We should verify in few days whether it fixed the problem and move the test back out of flaky if that's the case.

[2015-12-03 13:14] wojtek-t commented on #17495
@madhusudancs - did you manage to find something?

[2015-12-03 13:17] mwielgus commented on #18044
@timstclair Yes, this is exactly what I'm asking for. There is already a function Truncate that does it for you. This would look more or less like this:

[code]
I'm fine if you occasionally miss the time.

[2015-12-03 13:35] jayunit100 commented on #18099
Great!
In the meanwhile, I'm adding some configurability ... should we continue adding cmd switches? Or just use something more silent like env vars which won't effect as much code ...

[2015-12-03 13:50] wojtek-t opened #18153 "Eliminate dependency on tools.EtcdClient from contrib/mesos/pkg"
Context: We're going to completely get rid of "tools.EtcdClient" interface.
Instead, we wish everyone to use storage.Interface.

Mesos code is the biggest (non-trivial) remaining part of dependency on "tools.EtcdClient" - the following files depend on it:

contrib/mesos/pkg/election/etcd_master.go
contrib/mesos/pkg/election/etcd_master_test.go
contrib/mesos/pkg/scheduler/service/service.go

@sttts

[2015-12-03 13:56] kevin-wangzefeng commented on #17190
I've send a PR(#18152) so we can discuss with more detail. The initial version is implemented according to @davidopp said in the first comment:

Thanks to have a look and let me know.

[2015-12-03 14:07] sttts commented on #18153
@wojtek-t we will discuss internally how to get rid of that dependency soon. We don't like this the current situation to access the etcd in parallel to the apiserver either.

[2015-12-03 14:19] markturansky commented on #18050
@wojtek-t

If Test A sets up Pod-foo and waits for some condition to be fulfilled, that condition will never happen if Test B calls DeleteAllEtcdKeys.

That, I believe, is the fundamental issue with integration tests running in parallel.

I would love to have someone tell me I'm wrong about that or that I'm doing something incorrect in my integration test.

[2015-12-03 14:22] jayunit100 opened #18155 "Update HPA tolerance to be a flag"
We'd like tolerance to be settable to a low value (for e2es) and of course a high value for some clusters which don't want too much unnecessary jitter.  I'll update with a PR shortly...  This can be an isolated fix.

[2015-12-03 14:23] jayunit100 commented on #18155
cc @timothysc @piosz  part of the #18097

[2015-12-03 14:26] piosz commented on #18155
cc @jszczepkowski

[2015-12-03 14:28] wojtek-t commented on #18050
Sorry - I missed your previous post.

Yes - I agree that if there are multiple integrations tests running in parallel and they are writing to the same etcd instance, this will simply not work.

However - I'm not sure if this is the case for us - is it?

[2015-12-03 14:29] markturansky commented on #18050
I believe it is.  The PV integration test runs the various PV controllers.  PVs and PVCs are posted and then the test waits for the controllers to do their work.

If the data is gone, the test will time out.

[2015-12-03 14:33] markturansky commented on #18050
@wojtek-t

So, yes, I believe DeleteAllEtcdKeys is the culprit.

It would be easy to test by disabling parallel mode in the builds.

[2015-12-03 14:56] timothysc commented on #18091
retract, +1 to @wojtek-t .

@HaiyangDING I was adding this to the @kubernetes/sig-scalability list given the context, but it crosses over into both.

[2015-12-03 15:00] timothysc commented on #18126
:+1:

[2015-12-03 15:44] wojtek-t commented on #18050
OK - then it definitely can be an issue (to be honest I'm surprised, that other tests work correctly...)

[2015-12-03 15:47] markturansky commented on #18050
Am I relying too much on waits for conditions to be fulfilled?

[2015-12-03 15:51] wojtek-t commented on #18050
I think the problem here is the common underlying etcd and the fact that every test is removing all contents of etcd at its beginning.

We should have a similar mechanism to what we have in e2e tests:
- each integration test is running in a single namespace
- each test is deleting that namespace on its end

@ixdy @quinton-hoole @kubernetes/goog-testing - thoughts?

[2015-12-03 15:58] markturansky commented on #18050
Except for cluster objects, like nodes and PVs.

I don't mind purposefully cleaning up etcd after a test (that is, I delete all PVs I made).

[2015-12-03 16:21] karlkfi commented on #17874
Still fails on the mesos/docker cluster on master: https://teamcity.mesosphere.io/viewLog.html?buildId=85617&tab=buildResultsDiv&buildTypeId=Oss_KubernetesMesos_ConformanceTests&guest=1

[2015-12-03 16:36] rootfs commented on #18096
Consider a couple of options
- Would HDFS NFS bridge work? If so, you may be able to use NFS volume
- Flexvolume could be a way to create HDFS FUSE

General question, what privilege does HDFS-NFS or HDFS-FUSE need? Any special uid/gid requirement?

@kubernetes/rh-storage

[2015-12-03 16:59] chrislovecnm commented on #14642
@saad-ali it was on an update gcloud command :) We are not planning on running the update again, any time shortly.

[2015-12-03 17:06] wattsteve commented on #18096
Kube volume plugins automate a host mount of a filesystem and then bind mount the host mount into a directory within the container. Essentially, to the container and its processes, the mounted filesystem is just another Linux directory. This means anything you mount in is expected to have full POSIX semantics. To the best of my knowledge, given that HDFS is not POSIX, I thought HDFS-NFS or HDFS-FU

[2015-12-03 17:07] thockin opened #18159 "TODO for 1.2: cut a new kube2sky image and bump the DNS versions"
We've had a change or two in kube2sky, so we'll need to cut a new image eventually.  Nothing worth cherry-picking to 1.1 yet.

[2015-12-03 17:11] jlowdermilk commented on #16161
Let's just close. We can reopen if we see the issue again.

[2015-12-03 17:11] #16161 closed

[2015-12-03 17:12] thockin commented on #18149
We're making an effort to handle support/information requests like this through StackOverflow.  Please ask this there, where our user-support people will see it most readily and where it can benefit the largest audience.  This is a good question.

[2015-12-03 17:12] #18149 closed

[2015-12-03 17:14] zmerlynn opened #18160 "UI seems to show a status of `ReadyOutOfDisk`, but is just reading conditions blindly"
Attached screenshot:

![image](https://cloud.githubusercontent.com/assets/4942464/11567865/0dd70754-999e-11e5-85f6-492ef3978787.png)

Here's the `kubectl describe` for one of the nodes. My suspicion is that the UI is just blindly reading the `Conditions` array, but not paying attention to the fact that `OutOfDisk` is actually `false`:

[code]

[2015-12-03 17:35] hongchaodeng commented on #18091
Slides from today's meeting:
https://docs.google.com/presentation/d/1HYGDFTWyKjJveAk_t10L6uxoZOWTiRVLLCZj5Zxw5ok/edit?usp=sharing

[2015-12-03 17:35] timothysc commented on #18091
Here are are the action item notes from the SIG meeting:

- Everyone agrees this is a good idea and long overdue, but the question is where would this live:
-- New category of tests?  (isolated/sandbox’d/**component**)
-- The current testing structure allows to easily append.
-- create new directory (component) + hack/script to execute
-- Future "we could" gate on known good data, and fail perform

[2015-12-03 17:36] lavalamp commented on #15945
@wojtek-t I agree with your suggested semantics (actually I thought that's what we were going to do originally-- maybe I misunderstood).

Another solution--possibly less invasive--is to make it a pointer so you can pass nil.

[2015-12-03 17:39] wojtek-t commented on #15945
@lavalamp - I'm also fine with pointer, but since in the whole system we are using "resourceVersion" as string - see e.g.
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L96

it would be more consistent to pass it as string (we will not need any transformations in that case).

[2015-12-03 17:50] ccirello opened #18161 "Error creating ELB in AWS - "no instances found for name""
After long investigation, I believe it might be a bug.

I have set up a master and a node, all of them with IAM profiles that allow both for instances creation as much as instance inspection.

For master:
[code]
For node:
[code]

However, when I created a resource that enabled an external LB (in this case AWS ELB), I get this at `kubectl describe service` (I am using a slightly modified version of

[2015-12-03 18:02] jefferai commented on #10439
@erictune You may want to check out https://hashicorp.com/blog/vault-cubbyhole-principles.html -- Kubernetes acting as a central controller makes it an ideal service for generating and distributing tokens in that way.

[2015-12-03 18:04] ncdc commented on #17612
This isn't easy with the watch the watch is implemented in kubectl and how objects the watch receive are printed. The printers only receive the object to print (e.g. a Pod), but the object itself doesn't necessarily have an easy way to reliably determine that it was deleted. The watch code does report that it was a deletion event, but that information is passed along to the printer.

Here is where

[2015-12-03 18:05] ncdc commented on #17612
cc @kubernetes/rh-ux

[2015-12-03 18:06] dchen1107 commented on #17929
@paralin I couldn't reproduce the original issue from HEAD. But from your comment made at: https://github.com/kubernetes/kubernetes/issues/17929#issuecomment-161051192

The master logger pod is at running state, not terminated. Container is also running:

[code]

cc/ @lavalamp could be this a client issue?

[2015-12-03 18:12] marun commented on #18099
How will configuration be associated with consuming tests?  Given that ginkgo's use of descriptive text as test identifiers would likely be unnecessarily verbose, is the intent be to simply make up identifiers (as is currently done with cli parameters) that the appropriate test would know to consume?

[2015-12-03 18:13] timstclair commented on #18044
Why `.Add(small_random)`?

I'm still worried that this is just going to lull us into a false sense of security, and we'll end up depending on a fragile mechanism.

[2015-12-03 18:14] lavalamp commented on #15945
By which you mean the transformations can be hidden behind the storage
interface? I think I'm fine with that.

On Thu, Dec 3, 2015 at 9:39 AM, Wojciech Tyczynski <notifications@github.com

[2015-12-03 18:19] wojtek-t commented on #15945
By which you mean the transformations can be hidden behind the storage
interface?

Yes - exactly

I think I'm fine with that.

Thanks - I will prepare a PR tomorrow.

[2015-12-03 18:26] jayunit100 commented on #18099
The individual tests will define data structures hierarchichally that will be presented to the user in hierarchichal style.  So the tests, by definition, will know how to consume any and all parameters because they will be explicitly creating their own parameters.

I guess We will need to possibly update the way flags work to express this hierarchichal configuration the way git/docker/and other si

[2015-12-03 18:31] jwforres commented on #17612
@ncdc we handle this in the openshift web console by adding a deletionTimestamp to our in memory object when we get the DELETE event over the websocket.  we figured at some point we might want to know roughly when that delete happened, and that eventually it would be nice if the object in the event from the API actually included a deletionTimestamp

[2015-12-03 18:33] lavalamp commented on #17929
Doesn't sound like a client problem to me. My guess is the graceful deletion doesn't handle nodes going down while it's in the middle of a deletion?

[2015-12-03 18:34] ncdc commented on #17612
@jwforres the pod in this case does have a deletionTimestamp. The printer for pods looks at deletionTimestamp and emits Terminating if it's set: https://github.com/kubernetes/kubernetes/blob/62314046825dad08fa3fac2a03c2aadf68702fdc/pkg/kubectl/resource_printer.go#L571.

[2015-12-03 18:35] spiffxp opened #18162 "Modify conformance test policy to use tests from release branches"
Currently conformance testing uses the 'conformance-test-v1' branch.  We've run into issues where this branch doesn't get as actively maintained as the release branches.  This is an umbrella issue to cover migrating to a new conformance test policy.  See discussion in #17536 for more details

New conformance tests policy: tests should be run off of the release branch that corresponds to the level

[2015-12-03 18:39] jwforres commented on #17612
OK yep I think we only set it if it's not already defined.
On Dec 3, 2015 1:35 PM, "Andy Goldstein" <notifications@github.com> wrote:

[2015-12-03 18:43] liggitt commented on #17612
does the watch event come back with an UPDATE first (with deletionTimestamp set), then a DELETE (also with deletionTimestamp set), in cases where a graceful delete occurred?

[2015-12-03 18:45] ncdc commented on #17612
@liggitt I haven't tested today with graceful deletion, but I would assume so.

[2015-12-03 18:54] spiffxp commented on #18162
/cc @ihmccreery @quinton-hoole @lavalamp @karlkfi @ixdy @jbeda @countspongebob

Let me know if I left out any interested parties or steps.

I'm not super familiar with the hack/build scripts but I'm happy to take a crack at them.

Unsure if it makes sense to open an issue for each of those conformance combinations.  I was planning on opening bug-fix issues as I run into them for the AWS runs.  I d

[2015-12-03 19:10] karlkfi commented on #17874
I have been informed that the mesos executor wasn't actually handling annotation/label updates. So these tests were failing legitimately on the mesos/docker cluster. This will hopefully be fixed by #17917

[2015-12-03 19:12] yujuhong commented on #8818
Update: I discussed with @timstclair and the conclusion is that we'll go with option (1), and clear the apiStatusVersion if the status from the apiserver differs from what kubelet cached internally.
 1. Add a new [pod operation](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/types/pod_update.go#L33), and sends an update if only status differs so that kubelet [can receive the new

[2015-12-03 19:25] hsaputra commented on #18096
HDFS already have fuse-dfs component (via hadoop-hdfs-fuse so there are already some orgs out there using it. Since FUSE is a POSIX compliant I think it should be feasible via that abstraction.

I think people who use HDFS via mount would understand limitation that could happen since it is a "fake" file system ;)

[2015-12-03 19:32] #13097 closed

[2015-12-03 19:32] #15117 closed

[2015-12-03 19:39] jwforres commented on #17612
also FWIW we do this for any object when we get a DELETE event, not just pods.

[2015-12-03 19:40] zmerlynn commented on #18162
@kubernetes/goog-testing

[2015-12-03 19:50] karlkfi commented on #18162
How do we know what conformance tests a particular branch is supposed to satisfy (programmatically)?

How do we programmatically ensure that new changes don't break conformance?

Do we need to run conformance tests from master and all previous releases on every PR change?

How do we make sure that master conformance tests is stable before we cut a new release?

[2015-12-03 19:50] zmerlynn commented on #18146
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-12-03 19:50] #18146 closed

[2015-12-03 19:53] amygdala opened #18166 "Make the quick start page a bit 'higher level'"
The [quickstart](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/quick-start.md) is likely where a lot of people new to Kubernetes jump in, and I feel like its current content is not necessarily doing us any favors.  IMO we should give an example at a bit higher level of abstraction and more declaratively (e.g. create a simple 'all-in-one' file that starts up an nginx RC + ser

[2015-12-03 19:54] zmerlynn commented on #18107
cc @kubernetes/rh-storage

[2015-12-03 19:55] zmerlynn commented on #18106
cc @brendandburns @justinsb

[2015-12-03 19:56] zmerlynn commented on #18099
cc @kubernetes/goog-testing

[2015-12-03 20:07] rootfs commented on #18107
@idryomov

[2015-12-03 20:07] agonzalezro commented on #17727
@jayunit100 I am not sure that error will be ever be needed in `getEnvAsStringOr`, but definitely, I am ok with make this more global than just residing in the Flocker plugin utils.

[2015-12-03 20:16] owenhaynes opened #18167 "gitRepo volume order matters"
Kubernetes 1.1.2 on AWS

If you have a secret volume before a gitRepo volume in the volumes list,  the gitRepo will not mount as it does not create the folder, it complains that it can not clone as the target folder does not exist, which is true the folder does not exist on the node.

[2015-12-03 20:30] timothysc commented on #18099
In discussion in the SIG today, we discussed whether this conflicts with ConfigData and the assertion was no.  To elaborate:  The only requirement for the e2e tests to run is a valid api-server endpoint.  It could be real or fake, so having parameters specified via config file would be an advantage in cases where not all moving parts are in place.   It doesn't force the requirement of ConfigData b

[2015-12-03 20:40] wojtek-t commented on #12765
Another failure:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9727/

@piosz - can you prioritize looking into it?

[2015-12-03 20:41] nikhiljindal commented on #17000
I am sorry I dont understand the issue.
maxSurge is based on desired replicas.
Is your desired replicas 0?

I can try to repro if you post your complete deployment yaml.

[2015-12-03 20:44] karlkfi opened #18168 "Complex lists render poorly with redcarpet in gh-pages"
Ex: http://kubernetes.io/v1.1/docs/getting-started-guides/dcos.html
Source: https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/dcos.md

It looks like redcarpet doesn't want to allow linebreaks with indented blocks in bulleted/numbered lists.

Does anyone know if there is an easy way to work around this?

Has anyone tried the kramdown formatter with github mode enabled

[2015-12-03 20:45] zmerlynn commented on #12765
@wojtek-t beat me to it.

[2015-12-03 20:55] zmerlynn commented on #18095
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-12-03 20:55] #18095 closed

[2015-12-03 20:56] smarterclayton commented on #15945
Yes, hiding RV transformation behind storage is right.

Question on 2

- as a controller doing list watch - If I list, I don't specify RV.  I get
the latest.  If I watch from that RV it's extremely likely to be current
(as close as possible)
- as a sophisticated client, if I specify RV, I get RV or newer or an error?

On Thu, Dec 3, 2015 at 1:19 PM, Wojciech Tyczynski <notifications@github.com

[2015-12-03 20:58] zmerlynn commented on #17882
cc @justinsb @brendandburns

[2015-12-03 21:01] caesarxuchao commented on #18168
The link to the gh-pages source:
https://raw.githubusercontent.com/kubernetes/kubernetes/gh-pages/_v1.1/docs/getting-started-guides/dcos.md

[2015-12-03 21:10] karlkfi commented on #18168
Looks like a workaround is to use 4 space indentation in lists instead of 2.
Ex: http://kubernetes.io/v1.1/docs/getting-started-guides/mesos-docker.html
Src: https://raw.githubusercontent.com/kubernetes/kubernetes/gh-pages/_v1.1/docs/getting-started-guides/mesos-docker.md

Great, so i can fix the source myself. Is there a way to automate or enforce this by commit hook or munger?

[2015-12-03 21:17] bprashanth commented on #17962
To verify that overlaps between service-cluster-ip-range and the network range given to flannel to carve out CIDRs from dont mess up normal service operation (either because of iptables rules/routes from flannel or assumptions on our end).

[2015-12-03 21:21] bprashanth commented on #17962
to clarify, given the complaints ive seen to slack there's a chance one of the components is apply a general rule that intercepts rules from the other. I guess my overlapping comment was confusing.

[2015-12-03 21:26] pmorie commented on #18167
@kubernetes/rh-cluster-infra @kubernetes/goog-node

[2015-12-03 21:28] pmorie commented on #18116
@kubernetes/rh-cluster-infra

[2015-12-03 21:28] timothysc commented on #17546
xref #18163

[2015-12-03 21:28] pmorie commented on #18117
@kubernetes/rh-cluster-infra

[2015-12-03 21:30] pmorie commented on #18121
Is this distinct from #17443?

[2015-12-03 21:31] pmorie commented on #18122
Check out the Jenkins Job Builder.  I added support for the GH PR builder plugin earlier this year.

http://docs.openstack.org/infra/jenkins-job-builder/

[2015-12-03 21:33] pmorie commented on #18127
@rh0cluster-infra

[2015-12-03 21:36] pmorie commented on #18140
@kubernetes/rh-cluster-infra

[2015-12-03 21:38] bgrant0607 commented on #18168
Yeah, we use mungers extensively to address these kinds of quirks.
https://github.com/kubernetes/kubernetes/tree/master/cmd/mungedocs

[2015-12-03 21:42] eparis commented on #18116
I feel like there must be a whole lot of 'why' and backstory which I'm missing.  Can you tell me like I'm 5?

[2015-12-03 21:45] idryomov commented on #18107
@rootfs I remember you saying you were working on something like this a couple of months ago.  As far as rbd goes, it's a fairly easy thing to do.  The sysfs interface is stable enough for you to rely on it (see "testing" in Documentation/ABI/README) and is documented, at least to some extent, in Documentation/ABI/testing/sysfs-bus-rbd.  Besides building the string that is fed to sysfs, rbd map lo

[2015-12-03 21:45] ihmccreery commented on #3679
@davidopp I'm removing the `team/test-infra` label, but reapply it if you think the current infra is insufficient for you to be able to do this.

Might be hard for GKE, @kubernetes/goog-gke

[2015-12-03 21:47] ihmccreery commented on #5341
I'm assigning this to the node team, but I'm not sure who owns HostPort functionality.  Reassign as necessary.

[2015-12-03 21:48] ihmccreery commented on #6183
@jayunit100 What is the status of this?

[2015-12-03 21:49] ihmccreery commented on #7264
@krousey Based on your experience, I believe this is done.  Closing; reopen if not.

[2015-12-03 21:49] #7264 closed

[2015-12-03 21:50] thockin commented on #18167
Post YAML?

On Thu, Dec 3, 2015 at 12:16 PM, Owen Haynes <notifications@github.com>
wrote:

[2015-12-03 21:51] ihmccreery commented on #8142
Closing as obsolete.

[2015-12-03 21:51] #8142 closed

[2015-12-03 21:52] ihmccreery commented on #8279
Closing as obsolete.

[2015-12-03 21:52] #8279 closed

[2015-12-03 21:52] rvrignaud opened #18171 "DNS resolution problem for services inside pod in 1.1"
Hello,

I just upgraded the nodes of my GKE production cluster. I migrated the nodes from 1.0.7 to 1.1.2.
It seems that a few percentage of my pods have troubles to resolve name of kubernetes services (in the same namespace). It was working perfectly when nodes where running k8s 1.0.7.

In stracing a logstash application in a pod that show the problem (other pods of the same RC are working fine) I

[2015-12-03 21:53] ihmccreery commented on #8397
Based on work done so far, I'm reassigning to `team/node`.

[2015-12-03 21:54] liewegas commented on #18107
The code that interfaces with /sys is already wrapped up in a tidy interface--it's just not currently built and packaged as a .so and rpm/deb.  Would providing a bare-bones rpm/deb that includes just that .so with no dependencies make it easy to reuse that code in your base container image (or whatever)?

[2015-12-03 21:56] lavalamp commented on #2789
Sounds like we can close this -- cascading deletion seems big enough to deserve its own issue, #1535 can serve for now.

[2015-12-03 21:56] #2789 closed

[2015-12-03 21:58] lavalamp commented on #2349
Yes, I think the internal rules around this are good and we should use them.

[2015-12-03 21:58] timothysc commented on #15945
While I like this, I wonder at what point can we/should we just be passing a constraint filter to the kV store itself.

@xiang90 ^ SELECT resource FROM table WHERE (constraint)

[2015-12-03 21:59] pmorie commented on #18155
@DirectXMan12

[2015-12-03 21:59] lavalamp commented on #18153
Maybe temporarily we can just move that code under the mesos/ directory?

[2015-12-03 22:04] romanek-adam commented on #17641
Please note that this issue is quite hard to identify so there's potentially many more people affected, not really knowing what's happening.

[2015-12-03 22:04] ihmccreery commented on #13639
@gmarek What's the status of this?  Done?

[2015-12-03 22:16] zmerlynn commented on #18171
cc @thockin

[2015-12-03 22:24] feniix opened #18174 ""don't require a load balancer between cluster and control plane and still be HA""
Can I connect kube-proxy to multiple api servers like:

`—master=http://master1:8080,http://master2:8080,http://master3:8080` ?

[2015-12-03 22:28] pmorie commented on #18159
@kubernetes/rh-networking

[2015-12-03 22:29] pmorie commented on #18161
@kubernetes/rh-networking

[2015-12-03 22:31] eparis commented on #18159
I saw the pflag change, was there a big one I missed?

[2015-12-03 22:40] sdminonne commented on #17874
@karlkfi don't know if makes sense for you but kubelet broke this and we add to fix https://github.com/kubernetes/kubernetes/pull/14557

[2015-12-03 22:41] ihmccreery commented on #15734
Closing as obsolete.

[2015-12-03 22:41] #15734 closed

[2015-12-03 22:42] lavalamp commented on #14541
I believe we have other annotation key names in types.go. If not, I'm not opposed to beginning to do so.

In fact, I think it'd be a very good idea to do so. I can imagine auto-changing an annotation key across versions in conversion functions.

[2015-12-03 22:42] ihmccreery commented on #6181
cc @bgrant0607 Is your docs work covering this kind of thing?

[2015-12-03 22:43] lavalamp commented on #17402
Good catch-- somehow my search missed that.

[2015-12-03 22:43] #17402 closed

[2015-12-03 22:44] L-MA commented on #14940
I have been thinking about a solution to this issue. At first, I was hoping there would be a simple fix. I found that if the pod infra container is removed and there are other containers that belong to that pod still up, we can extract the pod infra container ID (dockerID) from the [ResovleConfPath](https://github.com/fsouza/go-dockerclient/blob/master/container.go#L291), an attribute of the Conta

[2015-12-03 22:45] lavalamp commented on #17115
Unless we want to run such an app as a component of the cluster (e.g. logging/monitoring/etc), I think users should just make a service with a loadbalancer or whatever. Then there's no problems.

[2015-12-03 22:46] madhusudancs commented on #17495
@wojtek-t No luck yet. For the timeout problem I will just increase the timeout duration and try.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/9746/ and http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9652/ are different manifestations of the same problem. In both the cases the nodes where the pods are scheduled are not the

[2015-12-03 22:50] ihmccreery commented on #15084
#18119 is the real solution here, plus detection of leaked resources.

[2015-12-03 22:51] lavalamp commented on #6697
One of the scheduler benchmarks I added to the integration test suite is close to being this.

[2015-12-03 22:53] spiffxp commented on #18162
My 2 weakly-held cents:

Use the latest revision of the latest release branch in your commit's ancestry.  If you're on or branched off of a release branch, use the latest revision of that release branch.  If you're on master, use the latest revision of the latest release branch.  This should ensure you're remaining backwards compatible with the most recently released version of kubernetes.

We sho

[2015-12-03 22:53] ixdy commented on #18050
I miswrote earlier - I thought we were referring to e2e tests, not integration tests.

We may end up running several instances of the integration test simultaneously, but each instance is running in its own Docker container, so that shouldn't cause any problems.

[2015-12-03 22:55] jayunit100 commented on #6183
Lets close. In the e2es we now have individual soak tests as well as a large unit test for the examples

[2015-12-03 22:55] #6183 closed

[2015-12-03 22:56] ihmccreery commented on #14204
Is this fixed? Can we close it?

[2015-12-03 22:58] lavalamp commented on #6770
This has come up again with larger clusters--
* Do we drop watches when under heavy load?
* If yes, is it because we exceed the watch channel's limit? watchChannelHWM records this - https://github.com/kubernetes/kubernetes/blob/e95e3dec4249980b1737f5ff9e415f8a5ad7b2b0/pkg/storage/etcd/etcd_watcher.go#L218
* If we drop watches under load, do we drop a bunch of watches at the same time in a way that

[2015-12-03 22:59] lavalamp commented on #6514
Reassigning since this is the logical next step of the caching that @wojtek-t has been doing.

[2015-12-03 23:04] ihmccreery commented on #18116
Oh, sorry.  This is kind of internal Google stuff.

We have test suites that block the merge-bot if they start failing.  Those are definitely watched by our build cop.  We also have suites that are marked as "critical", but it's not clear what that means.  We also have a bunch of suites that aren't marked as "critical".  A lot of them are failing consistently.

We just need to establish how to dec

[2015-12-03 23:14] rvrignaud commented on #18171
I need to precise that I did restart kube-proxy, docker services and eventually a reboot of the node without any change.

[2015-12-03 23:14] smarterclayton commented on #15945
Range scans are part of the etcd 3 API design.

On Dec 3, 2015, at 4:58 PM, Timothy St. Clair <notifications@github.com>
wrote:

While I like this, I wonder at what point can we/should we just be passing
a constraint filter to the kV store itself.

@xiang90 <https://github.com/xiang90> ^ SELECT resource FROM table WHERE
(constraint)

—
Reply to this email directly or view it on GitHub
<https://git

[2015-12-03 23:15] smarterclayton commented on #14541
We even had examples of that in v1beta3.  Openshift does it in a few places

On Dec 3, 2015, at 5:42 PM, Daniel Smith <notifications@github.com> wrote:

I believe we have other annotation key names in types.go. If not, I'm not
opposed to beginning to do so.

In fact, I think it'd be a very good idea to do so. I can imagine
auto-changing an annotation key across versions in conversion functions.

—

[2015-12-03 23:22] ihmccreery commented on #18162
Mostly agreed, with some minor changes.

That sounds like a recipe for scrambling when we branch and realize we broke v1.0 conformance two months ago on master.  :smile: I'd much prefer to keep master conformant.  This is additionally a step in the right direction for, and related to, #17263.

Per [versioning.md](https://github.com/kubernetes/kubernetes/blob/master/docs/design/versioning.md#releas

[2015-12-03 23:25] ihmccreery commented on #18121
Yes. #17443 is "I don't work at Google, I need to see test results."

This is "I work wherever, and I have questions about what's passing, what's flaky, what should be passing, and I want an easy-to-use visualizer for," maybe something like [what Buildbot provides](http://trac.buildbot.net/wiki/ScreenShots).

[2015-12-03 23:34] mml commented on #6080
@roberthbailey Unless we want to drain the whole MIG, we need *some* machinery for coordination.  In the simplest case:  Either the admin is running a kubectl drain loop and as each node drains it tells gcloud to roll one specific instance (AFAICT not an option with the current gcloud API), or GCE needs to drain and wait on each machine in turn.

A more complicated approach could be (see #17393) t

[2015-12-03 23:38] spiffxp commented on #18162
True.  Maybe I'm overestimating the add'l overhead this would add.  Just thinking down the line when we have N releases, it may be expensive / slow to do N compatibility checks on every commit.  Since master is in such high flux, capture that with a regularly scheduled job rather than gate per-commit.  But do it per-commit for the release branches.

Would mandating that conformance tests pass prio

[2015-12-03 23:38] karlkfi commented on #18168
Automating detection of markdown lists seems to be more than a 2hr project. I give up for now. I'll just fix the indentation on my doc.

[2015-12-03 23:56] #16093 closed

[2015-12-03 23:56] ihmccreery commented on #18121
Oops, but this *is* a duplicate of #17079.  Closing in favor of that.

[2015-12-03 23:56] #18121 closed

[2015-12-03 23:57] yujuhong commented on #17870
Good question. @zhengguoyong @judytong, shouldn't `networkPlugin.SetUpPod()` return error in this case?

[2015-12-03 23:58] ihmccreery commented on #18162
Definitely.  The conformance tests are (should be?) a subset of the tests we run continuously from HEAD anyway.

Yeah, it's about equivalent.  Again, long-run it should be a subset of the tests we're running on a per-PR basis anyway.

I reckon so.  Right now we look for stability in our e2e's for a given build before marking it an alpha release.  Conformance should be one of those builds.  I'd lov

[2015-12-04 00:07] roberthbailey commented on #6080
I talked with some of the instance group manager folks earlier this week and they suggested that we use gce shutdown scripts to have nodes drain themselves. The idea would be that when a node comes up it checks to see if it's currently drained and undrains itself and when a node shuts down it drains itself. Obviously if a node terminates abruptly it wouldn't get drained, but this might be an easy

[2015-12-04 00:11] yujuhong commented on #17774
I think we should set a memory limit for kubelet. However, for testing alone, if kubelet uses more than what's the limit is allowed, it'd get restarted and the test may not have even detected the situation. We would need the test to check OOM events.

[2015-12-04 00:18] thockin opened #18180 "Flags - use Durations or just use ints?"
We have both Duration-type flags (e.g. "2s" or "5m" are valid values) and we have int-typed time flags (usually seconds, but few are named as such).

Which should we be using?

[2015-12-04 00:26] yujuhong commented on #17888
@sils1297, you can try deploying [kubedash](https://github.com/kubernetes/kubedash) to see memory consumption of pods/daemons on each node. You just need to clone the repository and run `kubectl create -f deploy/kube-config.yaml`. At the dashboard, you can click on individual nodes to see the stats.

By the way, how long was your cluster up before consuming this much memory? If it turns out that k

[2015-12-04 00:40] zmerlynn opened #18183 "kubectl not reporting age correctly"
Today is `03 Dec`.
[code]

I feel like the age should be <1d at most.

[2015-12-04 00:41] zmerlynn commented on #18183
cc @rvrignaud

[2015-12-04 00:43] rootfs commented on #18107
@idryomov @liewegas  Appreciate your information on this matter. And yes, there is a separate project #13691 on wrapping rbd cli inside a container. It would resolve the package dependency.

[2015-12-04 00:45] lavalamp opened #18185 "Needed: field-level extension mechanism"
We don't have a good mechanism for plugging extension fields into objects. That is, suppose we have an Autoscaler type, and we want user on FooCloud to be able to set some extra fields in Autoscaler.FooExtensions for the FooCloudProvider to make use of.

Currently, we do this by letting everyone add a *FooCloudOptions variable into the Autoscaler type. The downside of this is that people have to m

[2015-12-04 00:46] lavalamp commented on #18185
People who are probably interested in this: @bgrant0607 @smarterclayton @nikhiljindal @thockin

[2015-12-04 00:57] bgrant0607 commented on #1462
@davidopp: This was the issue I mentioned could perhaps be used to accomplish Avoid Parent, though I'd probably want a way to be able to still specify multiple different rescheduling reasons (starvation, defragmentation, etc.).

[2015-12-04 00:57] caesarxuchao opened #18186 "Move unversioned#testClient to another package"
When writing test for the generated client code, I want to reuse the `unversioned#testClient` (https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/client_test.go#L58). But that creates circular dependency, because `unversioned#testClient` needs to import the generated client, while the generated client needs to import `unversioned` package to access common objects like `RES

[2015-12-04 00:59] lavalamp commented on #18186
SGTM

[2015-12-04 00:59] lavalamp commented on #18186
P1 since it's blocking you.

[2015-12-04 01:04] smarterclayton commented on #18185
I like the idea.  It's true composition.

[2015-12-04 01:08] mml commented on #6080
@roberthbailey how do you mean "drains itself"?  Do we mean the kubelet simply requests "to be drained", or that it drives the drain process itself, issuing requests to DELETE pods from itself in sequence?

[2015-12-04 01:08] karlkfi commented on #18168
Resolving the dcos doc issue with #18181

[2015-12-04 01:09] bprashanth opened #18188 "Include local-up-cluster in release"
Since the getting-started-locally docs in the binary release reference it, we should either include it as well or modify the docs to say something along the lines of: `hack/` isn't in the binary release, you need to download the source release or clone the repo to get it.

[2015-12-04 01:12] zmerlynn commented on #18171
We ended up resolving this on Slack. The issue is that the decreased timeout of 250ms (down from 1s) on the userland proxy in 1.1 actually caused a DNS outage in this particular customer. @thockin ended up advising @rvrignaud on how to switch over to the beta iptables proxy, at which point I also discovered that the `beta` annotation wasn't available in v1.1, and we're scurrying to get #18187 out.

[2015-12-04 01:12] #18171 closed

[2015-12-04 01:17] Kwonho opened #18190 "Worker node's status become "NOT READY""
We made 9 kubernetes cluster(1 master + 8 workers).

But randomly, worker node's status become "NOT READY".

Here is the kubelet logs.(Docker process works fine at that time)

"I1204 06:26:09.828470   29219 kubelet.go:1735] Skipping pod synchronization, container runtime is not up."

[2015-12-04 01:24] dchen1107 commented on #18190
Can you run command on the node: 1) docker version 2) docker ps, then copy&paste the output here?
Can you also run kubectl describe node $node-name and copy & paste the out here? Thanks!

[2015-12-04 01:26] dchen1107 commented on #18167
cc/ @saad-ali

[2015-12-04 01:27] drocsid commented on #18188
+1

[2015-12-04 01:28] Kwonho commented on #18190
1. docker version
docker version
Client:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3 17:43:42 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3 17:43:42 UTC 2015
 OS/Arch:      linux/amd64

2. docker ps
docker ps
CONTAINER

[2015-12-04 01:29] dchen1107 commented on #18140
Do you know why image garbage collection is kicked out? Is it possible you are hitting Out-of-Disk issue? Maybe you have a too small disk here.

[2015-12-04 01:35] dchen1107 commented on #18127
You are running 1.0.5 kubelet, which by default doing concurrent pulling. It is a known docker issue of concurrent pulling might corrupt the image. For 1.1 kubelet release, we decided to switch to serializing pulling by default to workaround such docker issue. You can upgrade your kubelet to 1.1, or you can remove such corrupted image manually.

To verify what I said here: you can simply log into

[2015-12-04 01:36] dchen1107 commented on #18096
cc/ @saad-ali

[2015-12-04 01:36] dchen1107 commented on #18096
cc/ @zmerlynn

[2015-12-04 01:37] dalanlan commented on #18127
The image is not compromised.

[2015-12-04 01:38] zmerlynn opened #18192 "upload_to_gcs.sh fails if it needs to iterate"
Seen in http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-reboot/8549/console

[code]

I think the problem here is on https://github.com/kubernetes/kubernetes/blob/78c8c9426fcc909e8da88ebd6039d501b28f08f0/hack/jenkins/upload-to-gcs.sh#L64, because if you iterate the loop, the second time through it's readonly. It's easy enough to pull this variable out.

[2015-12-04 01:38] zmerlynn commented on #18192
cc @kubernetes/goog-testing

[2015-12-04 01:40] dchen1107 commented on #18009
I like the proposal here, but this is more like a call from api team. cc/ @kubernetes/kube-api

[2015-12-04 01:43] dalanlan commented on #18127
@dchen1107 If you take a closer look at the event order/time, it's even more confusing. This needs to be sorted out.
Also I don't believe it's a support issue;-)

[2015-12-04 01:47] dchen1107 commented on #17931
We have babysitter (supervisord) on the node to notice docker down, and restart it.

Why kubelet logs are not retrieved? @ixdy

[2015-12-04 01:48] dchen1107 commented on #17929
cc/ @smarterclayton @derekwaynecarr

[2015-12-04 01:50] mqliang commented on #18140
@dalanlan It seems so. remove the related issue section.

[2015-12-04 01:55] kevinliuzhong opened #18193 "example/redis: failover-abort-not-elected due to too many known dead sentinel instances record in sentinel.conf"
I setup redis cluster with sentinel using the example in example/redis. I found when one sentinel went down, the dead sentinel instances didn't be deleted from sentinel.conf, so when more sentinel instances go down, there will be many known sentinel instances records in sentinel.conf, like this:

[code]

and now, if the master redis instance go down, it will trigger sentinel instances to elect new

[2015-12-04 01:57] ixdy commented on #17931
We should be collecting the kubelet logs. @timstclair can you point me to an instance where they weren't collected?

[2015-12-04 01:59] kevinliuzhong commented on #18193
@brendandburns @thockin @piosz

[2015-12-04 02:03] timstclair commented on #17931
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/9712/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/9668/

Both have errors in the log like:

[code]

[2015-12-04 02:04] kevinliuzhong commented on #18193
BTW, can I setup two redis clusters with sentinel in the same k8s cluster, seems nowhere to customzie the cluster name of redis.

[2015-12-04 02:06] paralin commented on #17929
@mikedanese I'll get that for you soon. It's from HEAD from about a week ago.

@lavalamp Sounds about right.

[2015-12-04 02:07] paralin commented on #17000
@nikhiljindal Yes the desired replicas was zero. OpenShift was trying to make a rolling update with a percentage based target.

I'd say instead of saying "either one or the other must be specified" it would be better to just scale 0 -> 0 and do nothing.

[2015-12-04 02:07] ixdy commented on #10423
We also don't collect logs on test job timeouts, which is frustrating.

[2015-12-04 02:07] ixdy commented on #17931
Ah, there are no kubelet logs saved because the builds timed out, and the log collection only happens when we manage to finish running all tests. #10423 is probably the relevant issue.

[2015-12-04 02:09] mqliang commented on #18140
@dchen1107 Usually,  image garbage collection is triggered by insufficient  disk space. But there are two flags to control image gc policy:
[code]
And a flag to control Out-of-Disk policy:
[code]

Using default settings, assume we has a node with 50G disk space(I think a 50G disk is normal), when 45G disk space has been used, image GC will be kicked out. However, the `LowDiskSpaceThresholdMB` is 2

[2015-12-04 02:19] roberthbailey commented on #6080
I meant that it would send a request to the apiserver to be drained.

[2015-12-04 02:32] judytong commented on #17870
@thockin @yujuhong @zhengguoyong @linzichang
Actually, when I was adding our own network plugin, it returns an error in networkPlugin.SetUpPod(), but I can only see this error in an event. When I get this pod's status, it is still running. Failure of network plugin will not change pod's status. @zhengguoyong's methods will at least let us know the pod ip is not ok no matter it is because of error

[2015-12-04 02:32] smarterclayton commented on #17929
which controller / user deleted the nodes?  Are these mirror pods, daemon set pods, ?

Use --grace-period=0 to force delete the pods.

[2015-12-04 03:01] dalanlan commented on #16098
@wpc009 Have you recovered from this?

[2015-12-04 03:16] kargakis commented on #17000
We had discussed this briefly with @ironcladlou and I think this is reasonable behavior.

[2015-12-04 03:17] wpc009 commented on #16098
re-run `reconfDocker.sh ai` is a workaround. But still don't know what goes wrong.

[2015-12-04 03:22] bgrant0607 commented on #9043
@hurf #6099 is not related to this. That's nodes, this is pods.

[2015-12-04 03:28] resouer commented on #16098
@wpc009 Since #14912 means to fix re-run reconfDocker.sh things, otherwise, it will be a new bug

[2015-12-04 03:43] shenshouer opened #18196 "Run kube-proxy on fedora server 23 panic: runtime error: invalid memory address or nil pointer dereference"
fedora :
<pre>
[root@host3 vagrant]# cat /etc/os-release
NAME=Fedora
VERSION="23 (Twenty Three)"
ID=fedora
VERSION_ID=23
PRETTY_NAME="Fedora 23 (Twenty Three)"
ANSI_COLOR="0;34"
CPE_NAME="cpe:/o:fedoraproject:fedora:23"
HOME_URL="https://fedoraproject.org/"
BUG_REPORT_URL="https://bugzilla.redhat.com/"
REDHAT_BUGZILLA_PRODUCT="Fedora"
REDHAT_BUGZILLA_PRODUCT_VERSION=23
REDHAT_SUPPORT_PRODUCT="Fedo

[2015-12-04 03:44] shenshouer commented on #18196
anyone who can help me?

[2015-12-04 03:55] kargakis commented on #17168
@janetkuo did you start working on this? I think you need to use the resource builder with ResourceNames for the first  argument (we currently do a simple [GET](https://github.com/kubernetes/kubernetes/blob/a5100ef05726237e4e1f44997852963c955b608c/pkg/kubectl/cmd/rollingupdate.go#L175)) so we will be able to continue supporting current behavior
[code]
but also support flows like
[code]
Thoughts?

[2015-12-04 04:08] aledbf commented on #17470
Video DockerCon 2015 eu [Kernel load-balancing for Docker containers using IPVS](https://www.youtube.com/watch?v=oFsJVV1btDU)

[2015-12-04 04:25] dalanlan commented on #16098
This could be safely closed then. Feel free to reopen it once you hit it again.

[2015-12-04 04:36] roberthbailey opened #18197 "kube-proxy panics when run with `--cleanup-iptables=true`"
First reported on [stack overflow](http://stackoverflow.com/questions/34080608/run-kube-proxy-on-fedora-server-23-panic-runtime-error-invalid-memory-address). I've also been able to reproduce using the 1.1.2 release on a container vm running on GCE.

[2015-12-04 04:54] kargakis commented on #16503
What you need is [deployments](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/deployments.md) with the Recreate strategy which is currently added in the deployment controller (https://github.com/kubernetes/kubernetes/pull/16713).

Take, for example, https://github.com/kubernetes/kubernetes/blob/master/examples/extensions/deployment.yaml. You should specify Recreate in the dep

[2015-12-04 04:55] kargakis commented on #16503
So I guess this issue can be closed once https://github.com/kubernetes/kubernetes/pull/16713 is merged.

[2015-12-04 04:56] kargakis commented on #16503
cc: @bgrant0607 @nikhiljindal

[2015-12-04 05:02] kargakis commented on #16503
Btw the rolling update strategy in deployments supports scaling down first (.spec.strategy.rollingUpdate.maxUnavailable=1, .spec.strategy.rollingUpdate.maxSurge=0 in your case) but recreate is what you really need even if it's just one pod.

[2015-12-04 05:05] bgrant0607 commented on #16503
For one pod, rolling update isn't really necessary. One could just update the RC (using patch, replace, apply, edit, whatever), then scale it down and back up again.

[2015-12-04 05:06] bgrant0607 commented on #16503
Or update the RC and then delete the pod and let it get replaced.

[2015-12-04 05:06] #16503 closed

[2015-12-04 05:10] thockin commented on #18197
I can not reproduce at head.

On Thu, Dec 3, 2015 at 8:37 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-12-04 05:23] thockin commented on #18197
Dupe of #18196

[2015-12-04 05:23] #18197 closed

[2015-12-04 05:26] thockin commented on #18196
I can't reproduce this at head, but I can repro in 1.1.2

On Thu, Dec 3, 2015 at 7:44 PM, sope <notifications@github.com> wrote:

[2015-12-04 05:41] thockin commented on #18196
#18200 cherry picks this fix into the 1.1 branch, it will be in an eventual
1.1.3 release.

On Thu, Dec 3, 2015 at 7:44 PM, sope <notifications@github.com> wrote:

[2015-12-04 05:47] thockin commented on #17470
yeah, IPVS works.  I tried it out a few months back, but I was missing a
piece of the recipe.

On Thu, Dec 3, 2015 at 8:09 PM, Manuel Alejandro de Brito Fontes <
notifications@github.com> wrote:

[2015-12-04 05:50] thockin commented on #17870
Can you confirm this at head?  It's supposed to be a pod-fatal error, and
that is what I saw last week.

On Thu, Dec 3, 2015 at 6:32 PM, judytong <notifications@github.com> wrote:

[2015-12-04 05:51] thockin commented on #17870
https://github.com/kubernetes/kubernetes/blob/release-1.1/pkg/kubelet/dockertools/manager.go#L1863

On Thu, Dec 3, 2015 at 9:49 PM, Tim Hockin <thockin@google.com> wrote:

[2015-12-04 05:56] thockin commented on #18168
For history we started with kramdown and switched to redcarpet because ...
I can't recall why but krandown was getting something really wrong...

On Thu, Dec 3, 2015 at 5:09 PM, Karl Isenberg <notifications@github.com>
wrote:

[2015-12-04 06:12] thockin commented on #18185
This is not composition, it's inheritance (if I understand correctly) and
suffers all the failings of inheritance.  Once we publish the "base class"
any future additions might conflict with "subclasses".  Can't add new
fields, etc.

Unless you segregate sub-class fields from base-class fields.  E.g.

[code]

[code]

with yaml:

[code]

[2015-12-04 06:17] thockin commented on #18159
no, but we don't want to not cut a new build and I tend to forget things :)

On Thu, Dec 3, 2015 at 2:31 PM, Eric Paris <notifications@github.com> wrote:

[2015-12-04 06:21] brendandburns opened #18201 "salt 2014.7 doesn't support systemd services"
(at least as far as I can tell)

We rely on systemd on ubuntu on AWS (and possibly elsewhere) which means that these installs don't work properly (e.g. #18037)

We can either upgrade Salt on AWS, or switch back to sysv init for Ubuntu on AWS (which does appear to work)

I lean towards the second option.

@mikedanese @zmerlynn @justinsb

[2015-12-04 06:21] thockin commented on #17962
Do we want that to be accpetable?  Pod IPs and Service IPs are different
animals..

On Thu, Dec 3, 2015 at 1:18 PM, Prashanth B <notifications@github.com>
wrote:

[2015-12-04 07:05] ddispaltro commented on #18100
CoreOS 877.1.0, and no I am not.

[2015-12-04 07:12] judytong commented on #17870
@thockin  It has been solved at branch master :), seen as
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1874

But I think we can still remain pod's status pending if networkPlugin.Status() returns an error in determining the pod ip.

[2015-12-04 07:23] thockin commented on #18100
And you're saying a freshly booted CoreOS requires you to run a TC command before hairpin mode works?

@jonboulle

[2015-12-04 07:29] julyclyde opened #18202 "Docker in Docker conflicts with kubelet"
I'm running kubelet 1.03 with Docker 1.7.1 or 1.8.2 on a CentOS 7.1.1503
When I run docker.service alone, without kubelet, the file /proc/PID_OF_DOCKER/cgroup was as below:
10:hugetlb:/
9:perf_event:/
8:blkio:/system.slice
7:net_cls:/
6:freezer:/
5:devices:/system.slice
4:memory:/system.slice
3:cpuacct,cpu:/system.slice
2:cpuset:/
1:name=systemd:/system.slice/docker.service
All of them existed und

[2015-12-04 07:40] bgrant0607 commented on #4825
PetSet proposal, for those interested: #18016

[2015-12-04 07:41] zhengguoyong commented on #17870
Oh, yes! the code we use is a bit old.  I agree with @judytong
If networkPlugin.SetUpPod() success but fail when determining the IP address. In this case i this we can have a transient error just as @yujuhong opinion.
So maybe we should leave pod at pending state, and determining the IP address next sync loop.
@dchen1107  @bgrant0607

[2015-12-04 07:42] ddispaltro commented on #18100
Well technically the kubelet wouldn't get past the network starting.  I can't find the old log message, but basically I followed the code from this error message https://github.com/kubernetes/kubernetes/blob/release-1.1/pkg/kubelet/kubelet.go#L2324 It was something like exit code 2, so then I started digging and found out that it was failing somewhere around here

https://github.com/kubernetes/kub

[2015-12-04 07:47] dchen1107 commented on #17870
sgtm. Thanks for looking into the issue, everyone. @zhengguoyong please close the pr and the issue. Thanks!

[2015-12-04 08:00] zhengguoyong commented on #17870
i mean we should attention the err networkPlugin.Status() (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L330), if we agnore the err, the pod ip may not right.
@dchen1107

[2015-12-04 08:01] wojtek-t commented on #12765
Ane one more:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9730/

[2015-12-04 08:01] mqliang commented on #15830
@smarterclayton @lavalamp @feihujiang

Is there anyone working on "service/proxy" now? If not, I am glad to do.

[2015-12-04 08:05] wojtek-t commented on #6514
This is basically duplicate of https://github.com/kubernetes/kubernetes/issues/15945 - so closing this one.

[2015-12-04 08:06] feihujiang commented on #15830
@mqliang I have worked on this and almost finished it. The PR is #17493

[2015-12-04 08:08] bgrant0607 commented on #10408
@smarterclayton Why is it not possible/desirable to provide template parameters separately from the template when passing it to the substitution pass? I'd like users to be able to specify parameters without necessarily looking at the template.

[2015-12-04 08:10] wojtek-t commented on #6770
@lavalamp - I will try to figure it out next week. However, from numbers that @gmarek showed me, I'm not entirely sure it's the watch cause (in particular, the time between scheduling and starting it by Kubelet was pretty low - and it contains one watch (Kubelet is watching its pods)). So I'm not entirely sure what was happening there, but I think it's not watch in general - maybe some special cas

[2015-12-04 08:10] jszczepkowski commented on #17371
* enforcement of downscale/upscaleForbiddenWindow,

[2015-12-04 08:13] Bretto commented on #3920
+1

[2015-12-04 08:16] mqliang commented on #15830
Ok. Sorry for not noticing it.

BTW, I have a proposal: add a `pod/dockerCmd` subresource, so that user can run some docker commend on it's container, such as commit the image of his container by running `docker commit`.

[2015-12-04 08:18] wojtek-t commented on #18050
Yeah - that was what I actually thought. I was surprised that we are running integration tests in parallel.

[2015-12-04 08:18] bearproof commented on #16083
+1 This sounds exactly like what  we need. We have the same setup. Any time-line for this?

[2015-12-04 08:21] owenhaynes commented on #18167
Here is the describe for the pod when its failing and the rc controller

[code]

[code]

[2015-12-04 08:22] wojtek-t commented on #15945
@smarterclayton

- as a controller doing list watch - If I list, I don't specify RV.  I get
the latest.  If I watch from that RV it's extremely likely to be current
(as close as possible)
- as a sophisticated client, if I specify RV, I get RV or newer or an error?

I'm afraid I didn't fully understand your question.

[Once this is implemented] if you specify RV in the LIST operation, you are guara

[2015-12-04 08:26] feihujiang commented on #15830
You could open a new issue to discuss this. The first question is  why don't you use exec subresource?

[2015-12-04 08:27] wojtek-t commented on #10423
We also don't collect logs on test job timeouts, which is frustrating.

+1

[2015-12-04 08:30] mqliang commented on #15830
The exec subresource can only run commend ***in*** container,  it can not run doker commend.

[2015-12-04 08:34] mqliang opened #18205 "RFC: add `pod/dockercmd` subresource"
We propose to add a `pod/dockercmd` subresource, so that user can run some userful docker command on his container, such as commit the image of his container by running `docker commit`.

By now, k8s just support the `docker logs` and `docker attach`command by the `pod/log` and `pod/attach` subresource. Our idea is to add a general `pod/dockercmd` subresource to support more useful docker commands(

[2015-12-04 08:38] sils1297 commented on #17888
@yujuhong the memory consumption was that high right from the initial construction of the cluster. Since then I've deployed only one application, that didn't change much, and a few days later it's still the same.

I'll deploy kubedash ASAP.

[2015-12-04 08:38] mqliang commented on #15830
I open a issue to discuss this https://github.com/kubernetes/kubernetes/issues/18205

[2015-12-04 08:42] gurvindersingh commented on #1589
will this be part of 1.2 or even before ?

[2015-12-04 08:53] mqliang commented on #18140
My PR to help fix this https://github.com/kubernetes/kubernetes/pull/18151

[2015-12-04 08:54] sils1297 commented on #17888
@yujuhong ok, now there's something happening that's either completely wrong or I totally not understand. When I created the RC and SVC from the yaml, neither of them and no pods appeared, then this happened:

[code]

(k is my alias to kubectl.sh)

[2015-12-04 09:08] bgrant0607 commented on #14188
Multiple completions were designed for static work allocation.

Use a ReplicationController for dynamic work allocation.

[2015-12-04 09:31] sils opened #18206 "Document container states"
I was not able to find any official documentation for the container states and troubleshooting information about them. I'd imagine this to be quite useful for people just getting started, just being able to e.g. look up `CrashLoopBackOff`, get a description, some common causes and debugging tips for related issues.

[2015-12-04 09:36] antoineco commented on #17488
@davidopp it happened again last night. I found 2 of my 3 nodes in a "Not Ready" state with both `kube-proxy` and `kubelet` services down and all pods in a Pending or Terminating state. Nodes didn't restart, apparently only the k8s node services stopped and didn't restart, despite the watchdog set on the systemd unit (*Restart=always*). I'm surprised that no pod kept running despite the fact that

[2015-12-04 09:37] sils1297 commented on #4526
Are there any workarounds to get those logs in the meantime?

[2015-12-04 09:39] gmarek commented on #13639
I think it was done some time age. I'm not sure about new tests.

[2015-12-04 09:44] gmarek commented on #17774
Good point. If I'm not mistaken checking of oom events generally means parsing `/var/log/messages`, but that should be doable.

[2015-12-04 09:46] gmarek commented on #17931
One more reason to add post-run hooks to jenkins.

[2015-12-04 10:16] gmarek commented on #6770
@lavalamp - sure. I'll run some more experiments, but they take a lot of time - both wall time and CPU time if I'm to pay closer attention to what's happening.

[2015-12-04 10:53] wojtek-t commented on #17656
And one more occurrence:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/19089/console

@wojtek-t, could you recommend a way to debug this on the master and/or test side?

@yujuhong
I think that what you should do is to look into apiserver logs and try to find the corresponding GET/PUT sequences at the time when you think these should be written to etcd.
You should

[2015-12-04 10:55] #17964 closed

[2015-12-04 11:09] hSATAC commented on #12381
+1 to @jtblin

[2015-12-04 11:28] wojtek-t commented on #17781
It seems that #17995 fixed the problem. I will leave this issue open until Monday and if there won't be any issues, I will move it non-flaky suite and close this issue then.

[2015-12-04 11:31] antoineco commented on #17488
I got it. It appears to be related to the hardware. At 10PM the t2 instance (AWS) on which my k8s master components are running had consumed all its CPU credits, which led to the high load average I observed:

![cpu_credit](https://cloud.githubusercontent.com/assets/3299086/11587024/050e5e18-9a77-11e5-82c5-48dd8086edde.png)
![load_avg](https://cloud.githubusercontent.com/assets/3299086/11587109/82

[2015-12-04 11:50] gurvindersingh commented on #10439
@erictune I would prefer to have tokens per pod (option 2,3,4) that said, from vault perspective it can be either SA policy as 4th option or pods gets token directly (option 2). The method @jefferai mentioned as cubbyhole seems interesting and relevant. we will still need some token controller which we will get/generate temp/perm token and sync it with vault. Using pull model in cubbyhole arch, AP

[2015-12-04 12:02] gmarek commented on #17518
@bprashanth #17614 is already in but: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/1048/

Can you please investigate?

[2015-12-04 12:28] wojtek-t commented on #17656
@yujuhong @timstclair

I did some debugging from the run that I pasted in the above post - and it doesn't seem to be an apiserver issue.
I'm pasting below few snippets of the code that are interesting for debugging:

test:

    02:32:34 Dec  4 10:30:57.554: INFO: pod is not yet ready; pod has phase "Pending".
    ...
    02:32:34 Dec  4 10:31:25.518: INFO: pod is not yet ready; pod has phase "Pend

[2015-12-04 12:37] mwielgus commented on #18044
This is not security, no one depends on this functionality. This is only a small tweak so that the scraped values are more useful.

small_random is to prevent all kubelets starting scrape at exactly same moment. So that there is no cluster-wide cpu hiccup at exactly same time. Small_random could be from 0 to 0.5 sec. If cpu overhead for scraping is small you can skip it.

[2015-12-04 12:45] soltysh commented on #1535
/sub

[2015-12-04 12:46] jimmidyson commented on #18044
CPU overhead for scraping should be negligible - kubelet should be simply serializing in-memory data.

[2015-12-04 12:48] guybrush commented on #17470
also it would be cool then to have k8s-services utilize the ipvs features, like persistence and selecting the balance-strategy

[code]

[2015-12-04 12:50] gmarek opened #18210 "e2e flake: Services should be able to create a functioning NodePort service"
[code]

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9724/

cc @ixdy @thockin @lavalamp @wojtek-t

[2015-12-04 12:54] gmarek opened #18211 "e2e flake: SchedulerPredicates validates resource limits of pods that are allowed to run [Conformance]"
[code]

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9736/

I'll look into it.

cc @sttts @wojtek-t @lavalamp @davidopp

[2015-12-04 13:00] mwielgus commented on #18044
@jimmidyson  - I agree - in the ideal world it should be negligible for 30 pods. But @timothysc said (at the very beginning of this thread) that this change is driven by high cpu usage.

There is also this custom metrics thing that may require a little more cpu that "regular" metrics.

[2015-12-04 13:05] jimmidyson commented on #18044
The problem with cadvisor high CPU usage should be alleviated a bit with recent updates, need to get a release out & into kubernetes ASAP - working on it now actually.

But we shouldn't have to work around problems in cadvisor, which is another project totally within our control to fix up.

[2015-12-04 13:08] gmarek opened #18212 "Proxy metrics exposed by scheduler and controller-manager through API server"
Currently there's no easy way to get there - only obvious solution is to ssh to the master machine and curl/wget them. I propose adding two endpoints `/metrics/scheduler` and `/metrics/controller-manager` that will proxy requests to appropriate components. For consistency we might want to move API server metrics to `metrics/apiserver`.

Another option would be to create `proxy/scheduler` and `prox

[2015-12-04 13:11] fgrzadkowski commented on #4869
This week I've came up with a relatively simple workaround that should fix the problem with kubelet mounting problem when run in a container.

Until now we've been changing code here and there to use ```nsenter --mount``` in case of ```--containerized``` flag. However we can just run the whole kubelet using the same technique. Instead of running:
[code]
we can have a simple script ```kubelet-runne

[2015-12-04 13:13] mwielgus commented on #18044
If this can be fixed soon and the CPU usage is the only problem then I would rather keep the old interval or change it only a bit (to 2 seconds for instance). Then we won't need any timing fine-tunning.

[2015-12-04 13:21] luxas commented on #4869
@fgrzadkowski Sounds great! How much code is just for `--containerized`? Is it just the `nsenter` code?

@pmorie Is this issue fixed in `docker 1.9.1` (to specify propagation mode)

[2015-12-04 13:37] fgrzadkowski commented on #4869
@luxas There are at least few classes (so probably few hundreds of lines with tests), but I never managed to fix all the problems. Regarding ```docker 1.9.1``` and mount propagation mode it is not fixed yet. They moved it to docker 1.10.

[2015-12-04 13:41] luxas commented on #4869
@fgrzadkowski OK, thanks. Just say if there is something I can do to help

[2015-12-04 13:46] markturansky commented on #18050
@ixdy @wojtek-t Where does that leave this P0 issue?  are you going to change the build to !parallel mode?

Changing how the tests run (to be in separate container, separate etcd, ...) is a bit out of scope for me and the work I have to do.  Meanwhile, it's my test that is flaky.

[2015-12-04 13:48] wojtek-t commented on #18050
@markturansky - integration tests are NOT running in parallel. So this is not the reason of those failures (note that almost all tests would be failing in such case).

[2015-12-04 14:20] wojtek-t commented on #17656
And one more:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/12370/

[2015-12-04 14:40] hitechmike opened #18214 "unable to mount nfs volume"
Hello,
I have some trouble mounting an nfs volume inside a docker container.
Can you help me ?

Thanks and Regards

Mike

physical host (minion)
[root@LABCR3 ~]# uname -a
Linux LABCR3 3.18.17-13.el7.x86_64 #1 SMP Wed Jul 22 14:20:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[root@LABCR3 ~]# cat /etc/redhat-release
CentOS Linux release 7.1.1503 (Core)

[root@LABCR3 ~]# rpm -qa | grep -i kube
kuberne

[2015-12-04 15:03] timothysc commented on #17115
/cc @kubernetes/sig-big-data

[2015-12-04 15:28] smarterclayton commented on #4526
--previous

In general, I'm not sure being told the pod is not ready is useful.  I think the default client behavior should be changed to always show the most recent logs available, even if from the API we preserve backwards compat by introducing a new flag/option to control this.

This is on my top usability hitlist - a new user to the platform is the most likely to get into a crashloop, and leas

[2015-12-04 15:31] markturansky commented on #18050
I'm not familiar with Shippable's config file, but this looks like concurrent integration tests:  https://github.com/kubernetes/kubernetes/blob/master/shippable.yml#L65

[2015-12-04 15:32] zmerlynn commented on #17115
@lavalamp: Whether `kubectl` provides it or we provide some sort of proxy add on (possibly not written here), customers are going to want this. Propping a external load balancer comes with a ton of cost, including trying to figure out how to auth the service, whereas right now with the proxy you can just create little walled gardens in your cluster that you can auth to with `kubectl`, which is sup

[2015-12-04 15:38] smarterclayton commented on #18205
Keeping attach and log distinct is important because then they can be secured by policy clearly.  Also, we support today multiple runtimes, so it's not clear how we abstract dockercmd to different runtime engines, and log and attach have to remain for that abstraction at a minimum.

I like the general idea of allowing imperative container commands that operate in the context of a pod container, me

[2015-12-04 15:41] smarterclayton commented on #15945
My original concern was a change that breaks naive clients.  I was trying
to validate that naive clients (no rv) are unaffected.  The question about
error was for expired rv versions or rv versions in the future for List.

On Dec 4, 2015, at 3:23 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton>

   - as a controller doing list watch - If

[2015-12-04 15:44] smarterclayton commented on #10408
You mean to specify parameters that change things not specified in the
template as parameters?  Or something else?

Why is it not possible/desirable to provide template parameters separately
from the template when passing it to the substitution pass? I'd like users
to be able to specify parameters without necessarily looking at the
template.

[2015-12-04 15:44] wojtek-t commented on #15945
Yes - naive clients will be unaffected.

Passing rv for list that is old - will result in returning ~current state (the guarantee that the result is at least that fresh as the rv passed, is then satisfied).
Passing rv that is in the future, will simply block the LIST call until then.

[2015-12-04 15:46] smarterclayton commented on #18185
I'm assuming that when you extend a version you are locking it.  It's
a new version, a new API object, and is locked over time.  Thus it is
a stable interface and is *locked* to a particular version.  It is
composition because the extension server owns that transformation - an
interface adapter, which is composition.

[2015-12-04 15:47] smarterclayton commented on #15945
How long do we block for?  Timeout specified on request?  What error is
returned on timeout (our server timeout error)?

On Dec 4, 2015, at 10:44 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

Yes - naive clients will be unaffected.

Passing rv for list that is old - will result in returning ~current state
(the guarantee that the result is at least that fresh as the rv passed, is
then s

[2015-12-04 15:48] liggitt commented on #17115
if no one else has access to anything in your cluster, that could work, but pod IPs can have visibility to other pods, right?

it sounded like port-forward worked better (actually exposed things at whatever context root they natively expected). I'd rather see work to support port-forward working against a service, than gyrations like this.

[2015-12-04 15:54] ncdc commented on #14828
@KurtStam please go ahead and submit the proposal as a PR, thanks!

[2015-12-04 16:13] thockin commented on #18185
I don't think I understand how that would work...

On Fri, Dec 4, 2015 at 7:46 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-12-04 16:16] gmarek commented on #18050
We're not running them on shippable, or at least we don't care about those runs. Both unit and integration tests are run on Jenkins.

[2015-12-04 16:28] smarterclayton commented on #18185
Group B has a client to group A.  They wish to extend pod.  They copy pod,
create a conversion between A/Pod and B/Pod, then serve B/Pod.  They accept
requests for B/Pod and convert them to A/Pod before sending them to A
server (setting whatever they like, with extensions as annotations, or
storing data another way).

I'm wondering whether we want to treat unrecognized markup in a json object
as a

[2015-12-04 16:30] zmerlynn commented on #17115
I've seen numerous cases where people have wanted to either VPN or proxy everything in the cluster. I don't think that customers yet care that pods can interact with each other, though namespace network isolation would be awesome.

[2015-12-04 16:31] bgrant0607 commented on #17190
cc @mml

[2015-12-04 16:34] bgrant0607 commented on #17190
In general, labels don't have meaning across namespaces.

[2015-12-04 16:38] thockin commented on #18185
It breaks down in comprehension, though.  We allow additive changes to
A/Pod.  How do we know whether those changes are in B/Pod?

If all you mean is that be forked A at some point in time, I don't see that
as an extension.  That is a different object.

An extension implies that the subclass can be used as the base class.
On Dec 4, 2015 8:28 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-12-04 16:40] bgrant0607 commented on #17190
As I mentioned on #17151, I have a different proposal, based on a concept developed for Omega:

We could create a new kind of key-value node attribute called *taints*, which would have a repulsive effect unless they are explicitly *tolerated* by pods. Taints would not be labels -- as special node attributes, they'd have meaning across all namespaces.

The taints (and tolerations) could be applied

[2015-12-04 16:47] bgrant0607 commented on #14573
See also #17190

[2015-12-04 16:47] bgrant0607 commented on #14573
Also related: #17097, #17151

[2015-12-04 16:49] bgrant0607 commented on #17190
We'll need to resurrect the work on exporting node attributes, which we need for other reasons also: #9044, #13524

Related: #14573

[2015-12-04 16:55] bgrant0607 commented on #17190
@alfred-huangjian See #16958 about network isolation.

[2015-12-04 17:02] dchen1107 commented on #18202
cc/ @vishh

[2015-12-04 17:07] bgrant0607 commented on #17190
Taints could also replace the current Node `unschedulable` field and to control which daemons could run in various maintenance states. @mikedanese

[2015-12-04 17:09] bgrant0607 commented on #17190
Taints have the additional benefit that they can affect pods that have already been created but have not yet been scheduled, which doesn't work for approaches that rely on applying label selectors at admission-control time to achieve anti-affinity.

[2015-12-04 17:13] bgrant0607 commented on #17190
It's also useful to be able to specify whether a taint should evict existing existing pods that don't tolerate it for evacuation scenarios.

Taints carried by pods are more complicated. I recommend we don't add that feature until after we've thought through preemption.

[2015-12-04 17:43] ttomsu opened #18219 "Environmental Variables for services causing conflict with external naming convention"
Hi K8S gurus - I'm having an issue with Spring + Services. Specifically, any Service I have injects an environmental variable like `MYSERVICE_PORT=tcp://1.2.3.4:5`.

However, my application uses Spring-Boot to resolve configuration, and my app expect `MYSERVICE_PORT` to be just an integer. I need a way to turn off environment variable injection.

(Aside: I'm using the DNS way to resolve service en

[2015-12-04 17:46] erictune commented on #18219
If you explicitly define this variable as you like in your pod's `.spec.containers[].envvars` section, does it get set to your value or the kubernetes style value?

[2015-12-04 18:02] smarterclayton commented on #18185
How do you know the server A you are talking to supports those
additive changes to A?  You don't.  We have that problem today in the
client.  The presence of B does not make the problem worse

[2015-12-04 18:03] bgrant0607 commented on #17097
@derekwaynecarr mentioned that we should try to separate cluster-admin (global) concerns from project-admin (namespace) concerns.

[2015-12-04 18:10] derekwaynecarr commented on #17097
@bgrant0607 - thanks for pointer.

For background, right now OpenShift by default restricts the ability to create/edit a LimitRange and a ResourceQuota in a Namespace to a cluster-admin.  The idea was the cluster-admin wants to restrict the min/max constraints or overall shape of a pod as well as control cluster compute usage within the Namespace.

The challenge here is that the namespace-admin wa

[2015-12-04 18:12] ttomsu commented on #18219
It does.

[code]

However, since it is an int I'm trying to set it to. I get a

"unable to load "1-spinnaker.yaml": json: cannot unmarshal number into Go value of type string"

So I have to do: `value: "6379"`, which is strange

[2015-12-04 18:13] yujuhong commented on #17656
@wojtek-t, this new failure is different from the failures we've seen before. It failed simply because it took too long for kubelet to pull the image.

[code]

kubelet started syncing this pod at 13:44:01, but was only able to pull the image at 13:45:04. As I mentioned before, kubelet is using a serialized image puller and tests running in parallel would expect longer delay.
After starting the con

[2015-12-04 18:13] ihmccreery commented on #13639
K.  Closing.

[2015-12-04 18:13] #13639 closed

[2015-12-04 18:14] derekwaynecarr commented on #17097
To say another way, we may want to think of LimitRange as the cluster-admin tool of choice for saying what the Namespace is allowed to do.  We can think of PodPolicy as the local namespace-admin tool to control what he can do within those boundaries.

[2015-12-04 18:14] janetkuo commented on #17168
Per earlier discussion with @nikhiljindal and @bgrant0607, to support legacy rolling-update behavior with deployment is hard, and instead we can introduce deployment somewhere else, such as `kubectl deploy`. What's more, `kubectl rolling-update` doesn't take resource type (it assumes the only resource for rolling-update is rc), so it's another thing to think about if we want to add deployment to r

[2015-12-04 18:15] janetkuo commented on #17168
We'll have a proposal for this.

[2015-12-04 18:22] mikedanese commented on #18201
It seems like vagrant salt and kube-up is using systemd successfully. What leads you to believe this?

[2015-12-04 18:28] lavalamp commented on #18185
@kubernetes/sig-api-machinery

[2015-12-04 18:37] #16729 closed

[2015-12-04 18:39] roberthbailey commented on #18052
Looks like @mwielgus filed a bug for this a few days before I did.

Closing as a dupe of https://github.com/kubernetes/kubernetes/issues/17851

[2015-12-04 18:39] #18052 closed

[2015-12-04 18:39] roberthbailey commented on #17605
/cc @fabioy

[2015-12-04 18:40] yujuhong commented on #16651
cadvisor leaks goroutines. For every container, cadvisor creates a file system handler to track disk usage. This handler launches a goroutine but the goroutine was never terminated even after the container dies.

After repeatedly creating and deleting pods, kubelet has over 1391 such fsHandler goroutines.

[code]

/cc @vishh @dchen1107

[2015-12-04 18:50] dchen1107 commented on #16651
@vishh I am assigning this one to you for triage. cc/ @jimmidyson

I thought the initial issue of being failed to collect filesystem stats was fixed in cadvisor and included for 1.1 release already. Maybe we didn't clean the goroutine here?

[2015-12-04 18:55] timstclair commented on #17656
Ah, @wojtek-t is right - thank you! I was looking at the container readiness while debugging before, not the pod readiness. Here's what's happening: When the readiness probe succeeds, it updates the container readiness, but doesn't update the pod readiness condition. This is flaky because the next time the kubelet does a full status update, it will set the correct pod readiness condition, but in s

[2015-12-04 19:01] jimmidyson commented on #16651
Guessing this is https://github.com/google/cadvisor/issues/994

Cadvisor needs a whole lot of love tbh. I've tidied up a bit without some pretty major changes, but it may be time for a total review.

[2015-12-04 19:01] vishh commented on #16651
I'm working on a fix.

[2015-12-04 19:06] dchen1107 commented on #16651
This is third time we found cAdvisor leaking goroutine, another one is  https://github.com/kubernetes/kubernetes/issues/15805. We should add a node test to avoid this.

[2015-12-04 19:07] wojtek-t commented on #17656
@timstclair - thanks for debugging

Am I right, that also increasing timeout would help in this case? If so, we may want to increase them anyway...

[2015-12-04 19:11] jayunit100 opened #18221 "Tolerance: not enough validation in HPA tests."
After modified the tolerance levels in the HPA tests, and found that the tests themselves don't actually quantify expectations based on tolerance.
- It seems that unit tests expectations should be multiplied by the tolerance calibration, rather than assuming it is .1.
- Related, Right now, in the UTs... I think the bounds might be tightened up (possibly by increasing total pod # in mocks, the prec

[2015-12-04 19:12] jayunit100 commented on #18221
in code, im talking about ...

[code]
which needs to be updated.  I'll bundle this into the issue above, since its required for unit testing tolerance parameterization.

[2015-12-04 19:13] jayunit100 commented on #18221
cc @timothysc @piosz @jszczepkowski

[2015-12-04 19:16] wojtek-t commented on #17874
Another failure:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/19139/#

[2015-12-04 19:17] jayunit100 commented on #18097
- The first modifications, to create the `scale(..)` generic function are done and lgtm.
- Next step: Adding tolerance support to Unit tests and tolerance feature.
- Then will add in the e2e test which runs extremely low tolerance/low forbidden change thresholds.  This will accomplish (1).

For (2), I will specifiy some more details after finishing the above bullets.

[2015-12-04 19:20] timstclair commented on #17656
It would help, but we also wouldn't have caught this real bug if the timeout were higher :)  The timeout needs to be increased for a different case though (which yuju is handling).

[2015-12-04 19:20] kelcecil commented on #17790
We experienced this with Kubernetes 1.1.1 this morning, and the infinite retry coupled with the aggressiveness of the retry caused other parts of our system to have difficulties. Limiting the number of retries and exponentially backing off on subsequent retries would be fantastic.

I'm willing to submit a PR to fix this if provided some guidance on whether my suggestions would be acceptable.

[2015-12-04 19:22] wojtek-t commented on #17656
Sure - I'm not saying to not fix that...

[2015-12-04 19:24] yujuhong commented on #16651
I ran 10 tests overnight with each test creating 40 pods and cleaning up afterwards. The increased in cpu usage is already visible.  I imagine the soak cluster has accumulated a huge number of deleted containers that would slow down kubelet tremendously, leading to failing tests (#17608). I just ssh'd in to one node in the soak cluster, and the most recent kubelet.log file contains 3546 unique `du

[2015-12-04 19:30] justinsb commented on #18201
Indeed ... I'm a little confused here.  Salt's support for systemd is indeed mostly broken, but we work around it by using our own script to manage systemd services...

[2015-12-04 19:30] yujuhong commented on #17656
Ah.........yes, the pod readiness condition is never updated. Thanks @wojtek-t @timstclair

I'll close #18040 then.

[2015-12-04 19:42] ixdy commented on #18050
On Jenkins we run `./hack/jenkins/gotest-dockerized.sh`.

[2015-12-04 19:44] ixdy commented on #17931
First we need to pull the log-collection code into a separate binary, rather than rolling it into e2e_test.

[2015-12-04 19:45] yujuhong commented on #17888
@sils1297, kubedash is running in the `kube-system` namespace by default. You should be able to see the pod & service by specifying "--namespace=kube-system" or simply "--all-namespaces".

[2015-12-04 19:52] ihmccreery opened #18225 "Upgrade tests can't find cluster, report SUCCESS anyway"
[code]

If we are uploading JUnit results, this situation will fail because it can't find test results.  It should fail regardless of whether JUnit results are being uploaded, though.

[2015-12-04 19:52] ihmccreery commented on #18225
cc @kubernetes/goog-testing

[2015-12-04 20:02] yujuhong commented on #18044
There are two problems: (1) the frequency and cpu usage of stats collecting in cadvisor, and (2) the frequency and cpu usage of data scraping in heapster.
This issue targets (1), but not (2). @jimmidyson, I agree we should fix the resource usage in cadvisor itself, but if k8s doesn't require such fine-grained stats collecting, why couldn't/shouldn't we change the default cadvisor housekeeping inte

[2015-12-04 20:03] huang195 opened #18226 "Need a https liveness probe"
I saw a proposal to extend liveness probe to https, websocket, etc., but that didn't go anywhere. Can the liveness probe be extended to at least support https?

[2015-12-04 20:03] jimmidyson commented on #16651
I voiced my concerns over the du check last time we discussed it. It's intensive both in terms of CPU & io even if you ignore this leak. I think we need the option to disable this check & default to disabled.

[2015-12-04 20:08] jimmidyson commented on #18044
I wasn't saying we shouldn't change it. I can think of very few uses for second granularity, certainly not a reasonable default. All in favour of changing this interval.

[2015-12-04 20:10] vishh commented on #16651
If you look at #16889, `du` should be deprecated with a filesystem specific
tool like quota or dmtables, etc. As of now `du` is the only means to
understand how the primary storage device is being utilized across
containers.
How would a user handle a situation where one of the pods fills up the disk
due to excessive logging? Are we going to expect them to drain the entire
node, free up disk and th

[2015-12-04 20:37] sils1297 commented on #17888
@yujuhong thanks, still not there though, it doesn't show any nodes: http://ab5068cfa9a6211e5aa1902d53657a61-39424795.us-west-2.elb.amazonaws.com/#!/nodes/

The few values I get (95% memory and cpu consumption for the cluster, no values for the nodes apparently) don't match with the ones on the Kube UI. (About 80% memory consumption, not a lot of CPU consumption.)

[2015-12-04 20:41] 2opremio opened #18227 "Containerized hyperkube fails to create certificates"
The [`setup`] (https://github.com/kubernetes/kubernetes/blob/d2dbe568205895817b52a71fbef8614f4d9931eb/cluster/images/hyperkube/master.json#L65) container was [recently added](https://github.com/kubernetes/kubernetes/pull/17262) by @brendandburns to automatically generate certificates.

However, [setup-files.sh](https://github.com/kubernetes/kubernetes/blob/ce90b83689f08cb5ebb6b632dab7f95a48060425/

[2015-12-04 20:48] yujuhong commented on #17888
@sils1297, do you have heapster running in your cluster? kubedash relies on heapster for stats scraping.

/cc @vishh

[2015-12-04 20:52] #16651 closed

[2015-12-04 20:59] sils1297 commented on #17888
@yujuhong nope, I just did

[code]

[2015-12-04 21:06] bgrant0607 commented on #15193
Interactive demos: https://github.com/thockin/kube-demos

[2015-12-04 21:08] yujuhong commented on #17888
Could you *not* disable `KUBE_ENABLE_CLUSTER_MONITORING` and try again? Adding these pods would affect the resource usage but at least we could see the stats.

Alternatively, you could run `kubectl proxy` and access `http://localhost:8001/api/v1/proxy/nodes/<node_name>:4194/` to see directly see the stats exposed by cadvisor (which is part of kubelet).

[2015-12-04 21:09] slimshady986 commented on #17015
For information, the same experience has been done with a k8s cluster without mesos and everything works fine even for 1Gb transfer

Kubernetes 1.1.2 version

[2015-12-04 21:20] sils1297 commented on #17888
Sorry, thats currently bad.

Though I did the second thing, the proxy is a nice feature by the way. I'll upload some data in a minute.

[2015-12-04 21:23] sils1297 commented on #17888
Apparently this is actually the easiest way of sharing that data, this is the top processes for both nodes:

![screenshot from 2015-12-04 22-21-16](https://cloud.githubusercontent.com/assets/5716520/11601748/920da72a-9ad5-11e5-8c5b-c6fb266f86e6.png)

![screenshot from 2015-12-04 22-21-25](https://cloud.githubusercontent.com/assets/5716520/11601734/83a479f2-9ad5-11e5-8aff-d1fea87c9520.png)

[2015-12-04 21:29] tomdee opened #18230 "Docker getting starting guide breaks my computer - no new terminals can be created"
If I follow the docker getting started guide from here https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md

It instructs me to start the kubelet with the following command
[code]

When I do this I'm no longer able to create any terminals. I'm running Ubuntu 15.04.
The error I get when starting terminal is:
[code]

I can collect additional diags if someone can

[2015-12-04 21:31] tomdee commented on #18230
I should add that the only way I've found to fix this is to reboot.

[2015-12-04 21:42] yujuhong commented on #17888
@sils1297, you can click individual containers to see the reported memory working set graphs, which provides more information.

On the other hand, it seems kube-ui reports the total memory usage (including the cold pages). See https://github.com/kubernetes/kubernetes/issues/15444#issuecomment-149702603

Heapster/kubedash reports memory working set, which should be smaller than what kube-ui reports

[2015-12-04 21:58] lavalamp commented on #6770
Thanks-- to be clear, I believe we've solved this issue already, back when I added the queue and the HWM stuff. I just want to make sure it doesn't come back at bigger scales.

[2015-12-04 21:59] emaildanwilson opened #18233 "http liveness probe doesn't follow redirects"
It seems the http liveness probe will not follow a 302 redirect and instead reports a failure. I found this in some testing on 1.0.6 and have not yet verified the same behavior on latest. Do you agree that it should check the redirected path on a 302? If so, where would be the best place to check the response code and handle this?

[2015-12-04 22:07] thockin commented on #18233
Why would you set your health-check URL to a redirect?

On Fri, Dec 4, 2015 at 1:59 PM, Dan Wilson <notifications@github.com> wrote:

[2015-12-04 22:17] ixdy commented on #18225
This happens because we swallow the exit code from running tests. (Otherwise, test failures would always appear as red on Jenkins, rather than yellow.)

To fix this, we should just need to call `go run hack/e2e.go -v --isup` in hack/jenkins/e2e.sh, probably only when `E2E_UP` is false.

[2015-12-04 22:26] emaildanwilson commented on #18233
In this case it was a versioned health check where /v1/health or /v2/health is the correct check and /health directs to the correct one.

[2015-12-04 22:34] mml commented on #6080
@roberthbailey Suppose the drain takes 15 minutes (or longer).  Does shutdown wait, polling the apiserver, to actually do the reboot?  And if so, does that much latency in the reboot still work OK with the way the instance group manager is driving the rolling update?

[2015-12-04 22:38] davidopp commented on #17190
I like the idea of using taints and tolerations for dedicated machines (and also to control what can run during various maintenance states, as you said).

Sticking just to the dedicated-machine use case, IIUC the way it would work is that all machines that are part of any dedicated machine group would get a taint, and all pods that are authorized to access a particular dedicated machine group woul

[2015-12-04 22:41] roberthbailey commented on #6080
Shutdown scripts are given somewhere around 90 seconds to run (https://cloud.google.com/compute/docs/instances/stopping-or-deleting-an-instance#delete_timeout), so that wouldn't work well if a drain took 15 minutes.

[2015-12-04 22:43] bgrant0607 commented on #17190
@davidopp Taints were key:value, like labels.

[2015-12-04 22:43] bgrant0607 commented on #17190
Also, one possibility is that we could unify tolerations and forgiveness #1574.

[2015-12-04 22:44] thockin commented on #18233
hmm, I could buy following redirects, I guess.  It's a little weird if it
redirects off-host, but who am I to say it is wrong?

On Fri, Dec 4, 2015 at 2:27 PM, Dan Wilson <notifications@github.com> wrote:

[2015-12-04 22:45] ihmccreery commented on #18225
Ah, good, so this is intentional.  Will send a PR shortly.

[2015-12-04 22:46] bgrant0607 commented on #17190
And I'm inlined to put taints in the NodeStatus rather than in the NodeSpec. Or maybe we need them in both places, with the list in status reporting the union of all taints exported by the node, attached to scheduled pods, and specified in spec.

[2015-12-04 22:47] davidopp commented on #17190
Yeah but I thought the values were just the "whether or not to evict" signal, in which case I'm not sure it makes sense to think of it as a key-value pair. Were you thinking the "value" would convey any other information?

[2015-12-04 22:48] bgrant0607 commented on #17190
Key would be `dedicated` and value would be the user in this case.

[2015-12-04 22:48] bgrant0607 commented on #17190
Think of them like attributes.

[2015-12-04 22:50] bgrant0607 commented on #17190
This permits things like tolerations of all labels of a certain kind. Otherwise, how would you run a cluster daemon on all dedicated machines?

[2015-12-04 22:51] bgrant0607 commented on #17190
That is, tolerations of all taints of a certain kind.

[2015-12-04 23:01] bgrant0607 commented on #17190
We could automatically generate taints for not-Ready nodes. The "unschedulable" field could be translated to a taint as well.

[2015-12-04 23:02] bgrant0607 commented on #1574
See also discussion of tolerations: #17190

[2015-12-04 23:16] smarterclayton commented on #1574
We're seeing the need for forgiveness as a mitigation for solving data gravity in the short term.  If it coincidentally makes evacuations more effective all the better.

I assume the node controller changes are the trickiest part, because we want to make pod deletion choices based on forgiveness, not the blanket node timeout.  We would need to know what the minimum forgiveness pod on a node, then

[2015-12-04 23:18] 2opremio opened #18239 "Containerized cluster cannot mount default secrets"
When running a containerized kubernetes cluster I cannot spawn pods due to `file does not exist` errors when trying to mount their secret volumes:

[code]

[code]
[code]

The secrets are there as expected:

[code]

Here are the full kubelet logs: https://gist.github.com/2opremio/6fcbae55d83f20bc3c82

The single-node containerized cluster is created using [this script](https://gist.github.com/2opre

[2015-12-04 23:21] #17566 closed

[2015-12-04 23:22] roberthbailey commented on #18112
Thanks for writing this up. I've left a bunch of comments in your doc.

[2015-12-04 23:23] lavalamp commented on #18212
No, the easy (and correct) way to do this is to make a service object for the scheduler. Please don't write any special apiserver code for this.

[2015-12-04 23:25] lavalamp commented on #17115
@zmerlynn A little pod that lets you VPN into the cluster's network sounds like a good solution for that, better than kubectl proxy.

[2015-12-04 23:35] bgrant0607 commented on #17190
This is very related to the discussion here:
https://github.com/kubernetes/kubernetes/issues/3885#issuecomment-146002375

[2015-12-04 23:37] thockin commented on #18185
It makes it worse if A grows to add `Foo int` and B extends `Foo string`.

On Fri, Dec 4, 2015 at 10:02 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-12-04 23:42] mikedanese commented on #18227
@fgrzadkowski

[2015-12-05 00:03] karlkfi opened #18241 "Stop using/vendoring LGPLv3 dependencies"
AFAIK, LGPLv3 code can vendor Apache2.0 code, but not the other way around. (I am not a lawyer.)

So we need to remove or replace our LGPLv3 dependencies in Godeps:

- gopkg.in/yaml.v2 (https://github.com/go-yaml/yaml)
- github.com/juju/ratelimit

Thankfully, [candiedyaml](https://github.com/cloudfoundry-incubator/candiedyaml) was written by Pivotal & IBM to replace go-yaml when they did their Lic

[2015-12-05 00:11] #17129 closed

[2015-12-05 00:21] lavalamp commented on #16673
Hopefully this is fixed now.

[2015-12-05 00:23] lavalamp commented on #16076
@smarterclayton Is this still an issue?

[2015-12-05 00:25] mikedanese commented on #16673
It's fixed. But there's no precommit assertion yet

[2015-12-05 00:25] lavalamp commented on #13464
This was showing up in travis/shippable logs, but @ixdy did something to hide all test output. So I think it's resolved now.

[2015-12-05 00:25] #13464 closed

[2015-12-05 00:27] lavalamp commented on #13458
Given the lack of activity, I'll assume this has been addressed.

[2015-12-05 00:27] #13458 closed

[2015-12-05 00:29] smarterclayton commented on #16076
We suspect we are seeing this in production workloads at this very moment,
still looking for reproduction.  Extremely high etcd change (so that
watches are getting 401'd due to expired index soon after list) in steady
state systems.  We've been trying to get a recreation.  I asked someone
yesterday to try and reproduce but haven't hit it yet.

On Dec 4, 2015, at 7:24 PM, Daniel Smith <notification

[2015-12-05 00:29] xiang90 commented on #18241
@karlkfi juju/ratelimiter has a special license I think: see https://github.com/juju/ratelimit/blob/master/LICENSE#L8-L16

[2015-12-05 00:32] cognitiaclaeves commented on #1319
@drocsid , can you share the setup that you are using? I'm looking for a way to deploy containers to a private registry that can be pulled by all the nodes in a cluster.

I was thinking that, ultimately, I'd like to deploy the registry through the cluster itself as a kubernetes service and have the nodes in the cluster be configured with the service IP ( the registry would be configured to use som