[2022-09-29 16:37] vishiy commented on #109677
/remove-lifecycle rotten

[2022-09-29 16:40] leilajal commented on #112768
/cc @liggitt
/triage accepted

[2022-09-29 16:40] leilajal commented on #112758
/triage accepted

[2022-09-29 16:41] leilajal commented on #112745
/triage accepted

[2022-09-29 16:44] geotransformer commented on #112780
Thanks @liggitt  There was a DIMM replacement for the server and involved power off and on. It is a one node cluster. So probably the Calico pod was terminated gracefully

[2022-09-29 16:44] leilajal commented on #112646
@howardjohn thank you, in today's bug triage we see these issues are related. Would you please close this one and track it in other one. thanks!

[2022-09-29 16:44] leilajal commented on #112765
/triage accepted

[2022-09-29 16:45] leilajal commented on #112683
/triage accepted

[2022-09-29 16:48] cailynse commented on #111920
Hey @aramase! Release Bug Triage Shadow here - I just wanted to see if this is still on track for the 1.26 release?

[2022-09-29 16:48] mzkhan commented on #109211
Hi @HeshamAboElMagd , the PR is waiting on me to add tests for the change. I will be working on it ,this week to see it through.

[2022-09-29 16:50] aramase commented on #111920
@cailynse Yes it is!

[2022-09-29 16:54] cailynse commented on #111920
Amazing! Thanks for the prompt update!

[2022-09-29 17:06] geotransformer commented on #112780
@liggitt Any idea to recover from this issue? e.g., delete the pod with --force and restart the kubelet?

[2022-09-29 17:22] Riaankl commented on #112585
/reopen

[2022-09-29 17:42] thockin commented on #112323
OK. I am accepting it.  Since libc's seem to do this anyway, I don't see why we should break it.

[2022-09-29 17:47] stevekuznetsov commented on #112684
There is no precondition on `.metadata.generation`, so why would we necessarily need to change the precondition logic to be aware of the object version?

Has the implication of explicitly allowing comparability of recency between objects been thought through? It's one thing to say that there are bad actors parsing RV today, and another entirely to say that the surface expands to expose inter-objec

[2022-09-29 17:49] #111869 closed

[2022-09-29 17:50] thockin commented on #111820
Feel free to triage-accept if you think this is a keeper :)

[2022-09-29 18:02] logicalhan commented on #112684
Doesn't your cockroach DB implementation kind of depend on this?

[2022-09-29 18:16] rikatz commented on #112467
when you create a Network Policy, it will turn into "deny by default and allow only what is specified in some network policy".

Besides the fact that I "think" what you specified should be working, maybe what you can do is:

[code]
Let me know if this works

[2022-09-29 18:31] Bessonov commented on #66430
/remove-lifecycle stale

[2022-09-29 18:48] logicalhan commented on #112684
That's what we say [not what we do](https://github.com/kubernetes/kubernetes/blob/release-1.25/staging/src/k8s.io/client-go/tools/cache/mutation_cache.go#L240-L262).

It has a lot to do with it. If we commit to option 1, we commit to upholding fundamental assumptions underlying a bunch of alternate storage implementations (k3s comes to mind).

It's only a large departure from what we've admitted w

[2022-09-29 19:00] stevekuznetsov commented on #112684
That library is supposed to only be used in tests, and it's a [surprise](https://github.com/kubernetes/kubernetes/pull/112202#issuecomment-1255546834) even to @lavalamp that it is used elsewhere.

Neither option changes any fundamental assumptions, unless I'm missing something?

I'm not sure this is a super convincing argument - are there other examples of folks parsing RV? The implication from wh

[2022-09-29 19:04] smarterclayton commented on #112684
I want to be clear that if we had caught this at the time it was introduced, it would have been blocked.  I didn't catch it, but I would absolutely prevent new code like this from going in.  I view that code as broken and would prefer a fix that allows us to address that.  If someone added something new I would force them to do something like `objectVersion` over option 1, although I understand wh

[2022-09-29 19:15] smarterclayton commented on #112684
Heh, I *think* this is the first reference to opaque resource version https://github.com/kubernetes/kubernetes/issues/1184#issuecomment-54554401 - will go do more dumpster diving later.

[2022-09-29 19:42] swetharepakula opened #112793 "Starting in 1.25 clusters, services of type=LB and xTP=Local sometimes does not update node backends on load balancers"
### What happened?

When upgrading nodes from 1.24 to 1.25, on a cluster where master is already at 1.25, I notice that my Service `type=LoadBalancer` and `xTP=Local` have an incorrect set of nodes after the nodes have been upgraded. The set contains only the old nodes that no longer exist resulting my service being unavailable through my load balancer.

### What did you expect to happen?

I would

[2022-09-29 19:45] swetharepakula commented on #112793
/sig network

/cc @thockin @alexanderConstantinescu @bowei @panslava

[2022-09-29 19:57] aojea commented on #112793
/cc

[2022-09-29 20:15] smarterclayton commented on #112684
One thing Han and I discussed (right at end) was that if we allow parsing of string we open our clients up to non-obvious immediate failures.  The most immediately obvious one is allowing a Javascript client to parse the string - you will get at most 52 bits of precision.  However, that's still probably close to larger than the biggest possible value.  But we should be careful about assuming 63 as

[2022-09-29 20:20] astoycos commented on #112560
/assign @astoycos

[2022-09-29 20:25] logicalhan commented on #112684
Interestingly, I would reason in the other direction. Since we allow sharding by resource-type, it is therefore illegitimate to compare RVs across resource-types.

Giving people explicit guarantees that we're not going break ordering/comparable semantics (which are pretty much intrinsic now to Kubernetes and its protocols) is valuable. Especially considering the current state of etcd and consideri

[2022-09-29 20:59] smarterclayton commented on #112684
Option 2 is https://github.com/kubernetes/kubernetes/issues/7328

[2022-09-29 21:07] smarterclayton commented on #112684
Right.  We are proposing the degree of expansion of guarantees about RV we offer - we documented (but did not otherwise limit) a very restrictive definition.  Option 1 is "maximal expansion with no restriction".  Option 2 is "no expansion, add another field".

A properly written aggregated API server may return non integral resource versions and be fully supported by our client library today. Enco

[2022-09-29 21:08] gamba47 commented on #52326
It's opensource, you can share your knowledge and make a PR ?

[2022-09-29 21:22] ritazh commented on #104165
Working on it! :)

[2022-09-29 21:23] Zetanova commented on #484
@remram44 socket activation is a specific technic, used in systemd.
https://0pointer.de/blog/projects/socket-activation.html

The host process creates/opens the socket (tcp port) and listen to traffic.
On the first connection, the host process starts the real-process and hands over the already open socket files
with environment vars.

The k8s pod-pause container could do the same as systemd.

[2022-09-29 21:44] smarterclayton commented on #112684
Heh, v1 metrics server (the podmetrics/nodemetrics adapters) returns empty string for resourceVersion.  I feel like I had a watch discussion with them at some point - although maybe that was prometheus.

[2022-09-29 21:45] Zetanova commented on #484
It is not about workload only, there can be sidecars for management like sshd, rsync and others in the pod
and custom k8s admission controllers could be started like it too.

@remram44 Yes, you are right that for serverless functions there are already good solutions out, like [knative](https://knative.dev/)

[2022-09-29 21:56] remram44 commented on #484
I feel like you are talking about something completely different from this issue, and something that doesn't need any support in Kubernetes at all. You can do socket activation of your software if you want to, container or not.

[2022-09-29 22:03] logicalhan commented on #112684
😂

[2022-09-29 22:33] marosset commented on #112570
/triage accepted
/milestone v1.26

[2022-09-29 22:35] marosset commented on #112630
@dcantah @kevpar - Have either of you seen this before?

[2022-09-29 22:53] kevpar commented on #112630
I haven't seen anything like this before. It sounds like kubelet is keeping a handle around that prevents it from deleting the directory, but I don't know why kubelet would have a handle open to the directory in the first place.

[2022-09-29 23:14] swetharepakula commented on #112793
I have done a test with code on master and looked through the changes that have been made since 1.25 was cut and this issue seems to be fixed.  I believe this issue is specific only to 1.25

[2022-09-30 02:36] xiaomudk commented on #110149
/assign

[2022-09-30 02:42] haosdent commented on #112323
Many thanks @thockin

[2022-09-30 02:59] kerthcet commented on #112573
Can you provide the yaml file and also the `node.status.images` of the node you think the pod should be scheduled to?

[2022-09-30 02:59] kerthcet commented on #112573
Can you provide the yaml file and also the node.status.images of the node you think the pod should be scheduled to? @weberc2-tempus

[2022-09-30 03:04] kerthcet commented on #89930
/remove-lifecycle stale

[2022-09-30 03:27] soulseen opened #112795 "can not rebinding GPU device to vfio because kubelet handle the device"
### What happened?

I want to use the NVIDIA GPU device pass through mode with Kata Containers. but when I followed the [doc](https://github.com/kata-containers/kata-containers/blob/main/docs/use-cases/NVIDIA-GPU-passthrough-and-Kata.md#nvidia-gpu-pass-through-mode-with-kata-containers
) attempting to rebind the GPU to the VFIO-PCI driver, But it hangs on command
[code]
run `dmesg -T -w` I get the

[2022-09-30 03:28] soulseen commented on #112795
/sig node

[2022-09-30 03:31] soulseen commented on #112795
@pacoxu PTAL, thanks a lot.

[2022-09-30 03:40] soulseen commented on #112795
the unbinding command stuck is caused by the `NVRM` module: https://github.com/NVIDIA/open-gpu-kernel-modules/blob/98553501593ef05bddcc438689ed1136f732d40a/kernel-open/nvidia/nv-pci.c#L690

[2022-09-30 04:10] #112323 closed

[2022-09-30 04:25] #111213 closed

[2022-09-30 05:48] seans3 commented on #112778
For the `kubectl port-forward` command, the default transport is SPDY: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go#L135

But this SPDY transport negotiates the final transport here:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/transport/spdy/spdy.go#L86

[code]

I think that as long as a pro

[2022-09-30 07:00] aojea commented on #112778
it seems the test only exercises the websockets

https://github.com/kubernetes/kubernetes/blob/b4b67c9ca52b7baa9a4c97f6d5cd6e61df5ee541/test/e2e/kubectl/portforward.go#L383

but nevermind, it is already specified in the test name , maybe the TODO is to add the same tests but using SPDY instead?

[2022-09-30 07:23] krmayankk commented on #112296
@shyamjvs is there a write-up of the actual customer scenario where we ran into this ? Would love to understand that.

[2022-09-30 07:26] mborsz commented on #109282
Naive solution for this problem would be to change isBeingUsed to:
* use live apiserver to get the up to date resourceVersion for pods resource (e.g. by doing a LIST call with limit=1 that will return both random element (to be ignored) and up to date resource version for pods resource)
* waiting until the pod informer reaches a given resourceVersion (probably just comparing pvcInformer.Informer()

[2022-09-30 07:39] phomlish commented on #43924
@unixoff THANKS.

I did this a gazzilion times:
[code]

when I did this it worked:
[code]

[2022-09-30 08:15] VirrageS commented on #109282
I might be missing something about this proposal. But assuming we do "apiserver [call] to get the up to date resourceVersion for pods resource" and "waiting until the pod informer reaches a given resourceVersion" during this waiting the resourceVersion could be already updated and we will be waiting for something that is already old and outdated.

[2022-09-30 08:22] mborsz commented on #109282
Probably I don't understand the concern. I was thinking about waiting for **at least** given resource version (probably I should be more clear about that). If after listing we will find that the informer is already in greater resource version that we requested that's good -- we can stop waiting immediately. If we never see specific resourceVersion, but we see larger resourceVersions, we are good a

[2022-09-30 08:26] aojea commented on #112614
@jclab-joseph I think that we should close this and follow up on https://github.com/projectcalico/calico/issues/6767

We can always reopen if it is bounced back and it turns out to not be somethign specific of the CNI

[2022-09-30 08:41] qiqiandfei commented on #92242
It‘s worked thanks!

[2022-09-30 08:42] qiqiandfei commented on #92242
It's worked, thanks!

[2022-09-30 09:38] Nivedita-coder commented on #112770
job is passing :)
/close

[2022-09-30 09:38] #112770 closed

[2022-09-30 09:42] pacoxu commented on #48180
I write a simple admission controller in #112787. Please take a look if you have some comments on the PR.

[2022-09-30 09:46] wangxiaoq commented on #101674
/reopen

[2022-09-30 09:49] alexanderConstantinescu commented on #112793
/assign

I filed https://github.com/kubernetes/kubernetes/pull/112798 which provides an in-depth answer as to why that fixes the problem

[2022-09-30 10:18] imneeteeshyadav98 opened #112800 "Issuing certificate as Secret does not exist"
root@dev-doc-adhoc-dev-task-bgl-001:~# kubectl get certificaterequest
NAME                      READY   AGE
devcms-app-secret-lcx5n   False   22m
letsencrypt-prod-2mhqn    False   319d
root@dev-doc-adhoc-dev-task-bgl-001:~# kubectl describe devcms-app-secret-lcx5n
error: the server doesn't have a resource type "devcms-app-secret-lcx5n"
root@dev-doc-adhoc-dev-task-bgl-001:~# kubectl describe certif

[2022-09-30 10:18] seaurching opened #112801 "kubectl/logs: kubectl logs MethodNotAllowed"
### What happened?

#### While I show container's log by using kubectl logs, give me an error like this:
![image](https://user-images.githubusercontent.com/7349963/193247902-1be6abcf-3944-4cdb-a185-661f041db08a.png)

[code]
The cluster's version 1.23.10 init by configuration,the content is
[code]

### What did you expect to happen?

Show the containers's log

### How can we reproduce it (as minima

[2022-09-30 10:52] VirrageS commented on #109282
Hm, let me understand the proposal. So whenever we are about to delete the PVC we do:
1. "a LIST call with limit=1 that will return both random element",
2. check `resourceVersion` from previous step,
3. we wait for the informer to be up to date (it must reach at least `resourceVersion` from previous step),
4. once the informer reaches the expected state we use it to list and check all the pods.

[2022-09-30 10:54] Rajalakshmi-Girish opened #112802 "Fail: Azure unit tests TestCreateVolume and TestDeleteVolume fail with master golang"
### Which jobs are failing?

Our internal CI job that runs k8s unit tests with master golang.

### Which tests are failing?

k8s.io/kubernetes/vendor/k8s.io/legacy-cloud-providers/azure: TestCreateVolume
k8s.io/kubernetes/vendor/k8s.io/legacy-cloud-providers/azure: TestDeleteVolume

### Since when has it been failing?

Probably after the master golang GITCOMMIT=4a0a2b33dfa3c99250efa222439f2c27d678

[2022-09-30 11:21] mborsz commented on #109282
Yes, this is the idea.

Potentially in "4. once the informer reaches the expected state we use it to list and check all the pods." we can simply use index instead of iterating all the pods to make it more performant.

If the concern is that "what happens if the after point "3." someone adds the pod using PVC, but this is somewhat consistent with LIST pods approach -- we check state at some point a

[2022-09-30 12:46] Zetanova commented on #484
The issue is:
There is zero possibility to use the original container image in a pod,
suppress the health-check and only start the container on first tcp connection.

Places where socket activation could be in k8s used:
- k8s admission controllers
- rarely used sidecars like for backup, management access, debug and metrics.
- obsolete services where all consumers moved to the new service endpoint

[2022-09-30 13:14] manelclos commented on #484
How is this different from the (alpha) `HPAScaleToZero` feature gate? https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

More info in this issue: https://github.com/kubernetes/kubernetes/issues/69687

[2022-09-30 13:35] remram44 commented on #484
You could use that with a metric from your Ingress controller, to scale up from 0 when requests come in. It might be possible to do that today with the existing Ingress controllers. Of course those first few requests would *fail* until the pods are available.

[2022-09-30 13:36] deads2k commented on #112647
The patch shared in https://github.com/kubernetes/kubernetes/issues/112647#issuecomment-1260058648 helps to explain, it's a lot smaller than the description made it sound.  This is a special case for equality-only selectors. Probably still worth bringing up at a sig-meeting, but if if the patch is a good representation, it is more bounded than expected from the issue description.

[2022-09-30 14:20] mc0 commented on #89936
/remove-lifecycle rotten

[2022-09-30 15:35] jsafrane commented on #103305
@kerthcet / @chrishenzie Hello, did you have any chance to look at this?

[2022-09-30 15:47] kerthcet commented on #103305
It seems like @chrishenzie is following this. https://github.com/kubernetes/enhancements/pull/3537

[2022-09-30 17:23] marosset commented on #106752
/remove-lifecycle rotten
/help

[2022-09-30 21:19] minhhungit commented on #111195
I got the same issue after restart all nodes

[2022-09-30 21:40] kneemaa commented on #105204
@JiayangZhou what else broke that caused your problem? im troubleshooting this now for myself

[2022-09-30 22:16] JiayangZhou commented on #105204
@kneemaa the ‘volume not registered’ issue discussed in this thread has appeared to be a warning to us which doesn’t really break anything, if you have a job you need to troubleshoot, try to sleep it, and shell into it and see if you can access the content in mounted directory and if the content is corrupted; hope this helps. And for the issue in this thread, we have upgrade AKS to 1.24.3 from 1.2

[2022-09-30 23:27] lavalamp commented on #112684
It still seems like option 1 is winning to me, option 2 would be a fair amount more work, we'd need a volunteer etc...

[2022-09-30 23:45] #109769 closed

[2022-10-01 02:50] minhhungit commented on #43924
These commands work for me, run them on all nodes include master node

[code]

Ref: https://docs.docker.com/registry/insecure/#docker-still-complains-about-the-certificate-when-using-authentication

[2022-10-01 04:28] haru0017 opened #112811 "Allow fields to be specified in role"
## WHY

Sometimes I want to create a role for a specific field of a specific resource.
For example, when controlling the synchronization of Argo CD, the syncPolicy field of the application resource is manipulated, but the current Role and RBAC cannot restrict other fields.
I have used crd or admission webhook as a temporary solution, bu would prefer not to use them if possible.

## WHAT

I would l

[2022-10-01 04:37] haru0017 commented on #112811
/sig apps

[2022-10-01 04:45] PriyankPa commented on #72475
Came here following a similar trail or issues as OP. Will this be taken up in v2?

[2022-10-01 07:52] brandond opened #112814 "Kubelet creates duplicate containers for static pods whose manifests change before all sources have synced"
### What happened?

We run a self-hosted control-plane, and support the ability to run split-node clusters. In this configuration etcd runs in a static pod on one node, and the control-plane components run as static pods on another node. Filtering out the unrelated pods, it looks something like this:

[code]

When reconfiguring etcd, we shut down the kubelets on both nodes, update the etcd static

[2022-10-01 07:59] brandond commented on #112814
/sig node
cc @liggit @smarterclayton

Apologies if we're doing something boneheaded here, but I'm really stumped as to why it's not reaping the old static pod's container. I can confirm that we are not reusing the static pod UID or anything else that's been problematic in the past.

[2022-10-01 08:18] abu-siddique opened #112815 "init Container does not restart on restarting mainContainer"
### What happened?

I am using init container to get rid of "read only file system error "  where i am copying configMap volume to an empty dir, after main container reads the empty dir i am deleting that empty dir

But when main container restarts it does not find the files in empty dir and hence my application is not started.

### What did you expect to happen?

when main container restarts it s

[2022-10-01 09:47] #104935 closed

[2022-10-01 14:27] crikke commented on #112815
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#detailed-behavior
See this in documentation:

So in order to restart initcontainer, you should set pod restartpolicy to OnFailure

[2022-10-01 14:43] sandori01 commented on #105204
I found what the cause was here. It appears it was unrelated to the original issue already solved in the releases I tried.
The pod specification I used contained
      annotations:
        container.apparmor.security.beta.kubernetes.io/sftp: runtime/default
and my linux installation didn't have apparmor enabled. Checking the kubelet log revealed this. After that it was a piece of cake to point out

[2022-10-01 15:38] abu-siddique commented on #112815
@crikke  https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#detailed-behavior
here i guess  it is saying that if init container fails to start then kubelet will restart the init container  based on the restartPolicy of pod.(this is fine)

However I had killed main container(after starts) intentionally by sending SIGTERM, SIGABRT, SIGBUS etc etc signals, but  kubelet is restarting

[2022-10-01 16:10] crikke commented on #112815
I was able to reproduce error with following:
[code]
Doing kubectl log myapp-pod first time returns TEST, next time it returns `cat: can't open '/mnt/test/foo.txt': No such file or directory`

[2022-10-01 16:47] #103267 closed

[2022-10-01 17:08] abu-siddique commented on #112815
@crikke
now if you restart the myapp-container expected behaviour is to get TEST again in log but you will not because on restarting myapp-container init-service container will not be start

you can restart particular container using kubectl exec  -it myapp-pod -c myapp-container - - bin/sh "kill -SIGABRT 1" and if it is successful
you will see pod restart count 2 in pod status

[2022-10-01 17:47] #109791 closed

[2022-10-01 18:48] #107154 closed

[2022-10-02 00:46] abu-siddique commented on #112815
/sig cluster-lifecycle

[2022-10-02 02:27] brandond commented on #112814
It appears that if I keep the pod name+namespace+UID the same, I can change the containers portion of the pod spec and it will reconcile the individual containers even before the sources have all synced. It's just pod-level cleanup that is skipped. I'm not sure if this is intended behavior that is safe to rely on, or if there is some better way to get what I want. The current behavior of having ne

[2022-10-02 05:30] nocanstillbb commented on #94032
pod sub network  gateway conflict to another one, maybe,  my momery had blur ,it's long time ago

[2022-10-02 06:35] minhhungit commented on #57801
for my case I need to create secret on same namespace with deployment

[2022-10-02 06:55] #109784 closed

[2022-10-02 07:43] HeshamAboElMagd commented on #111276
Thanks for the update, @haircommander !

[2022-10-02 07:50] HeshamAboElMagd commented on #111919
Hello @nilekhc , bug triage team here. Just wanted to touch-base with your for any updates on this ticket.
Thanks

[2022-10-02 07:52] HeshamAboElMagd commented on #111923
Hello @harshanarayana , bug triage team here, just wanted to touch base with you for updates on this ticket.
Thanks!

[2022-10-02 07:54] HeshamAboElMagd commented on #111925
Hello @enj . bug triage team here, just wanted to touch base with you for updates on this ticket.
Thanks!

[2022-10-02 07:55] #109808 closed

[2022-10-02 08:02] HeshamAboElMagd commented on #109211
Thanks @mzkhan !

[2022-10-02 08:55] #109538 closed

[2022-10-02 09:55] #107191 closed

[2022-10-02 10:52] jeroenrnl opened #112820 "externalTrafficPolicy: Local blocking cluster-internal traffic"
### What happened?

I have a cluster setup with 3 nodes. I'm using metallb for loadbalancing and callico for BGP to an upstream router.

[code]
Most of my services are running only on a single node, so it makes sense to direct incoming traffic to the right node right away. Also, this ensures that the real source addresses are visible on the end nodes, which is required to do address filtering and

[2022-10-02 10:54] jeroenrnl commented on #112820
/sig network

[2022-10-02 13:14] MustkimKhatik commented on #112733
Hey, I would like to work on this

[2022-10-02 13:37] akankshakumari393 commented on #112733
@MustkimKhatik i am already working on it, and have raised a PR as well.🙂

[2022-10-02 13:38] MustkimKhatik commented on #112733
Oh alright

[2022-10-02 14:03] gjkim42 commented on #112815
I think this is the wrong statement. Not restarting init containers when the main container is restarted is the intended behavior. Init containers must run successfully at most once for a pod before app containers.

/sig node

[2022-10-02 14:03] gjkim42 commented on #112815
/remove-sig cluster-lifecycle

[2022-10-02 14:12] stevekuznetsov commented on #112684
I'm more than happy to do the work. Is the argument for the first option is that it's worth it to impose that cost on all existing extension servers and expand the API surface to save the effort of plumbing an etcd field out through the API?

[2022-10-02 14:28] abu-siddique commented on #112815
for some cases we need init container to restart when main container restarts, because one use case can be in  main container we completely want to remove secrets from the file system after reading those secrets by application (for example database connectivity credential which are not required after connection has been made) otherwise some one else can do ssh to pod and can read my secrets.

well

[2022-10-02 14:45] gjkim42 commented on #112815
I think that if you want to do some init job whenever the app container restarts, maybe [postStartHook](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks) could be one option, or you can add an init script to your app container so that you can run init job and then run an app.

[2022-10-02 14:45] gjkim42 commented on #112815
/kind support

[2022-10-02 14:45] gjkim42 commented on #112815
/remove-kind bug

[2022-10-02 14:55] #109817 closed

[2022-10-02 15:08] gjkim42 commented on #112814
cc

[2022-10-02 15:21] abu-siddique commented on #112815
well but if somebody mounts volume from config map or secrets into the main container then that will be read only  volume and hence post start or preStop hooks script can't remove that, so no point of doing init job using hooks

[2022-10-02 16:21] liangfuwang commented on #54918
This method is valid, but I don't know which version of the plugin should be used

[2022-10-02 17:11] enj commented on #111925
Work is ongoing as part of https://github.com/kubernetes/enhancements/issues/3299

[2022-10-02 17:55] #99170 closed

[2022-10-02 18:29] vaibhav2107 commented on #107561
/remove-lifecycle stale

[2022-10-02 19:28] sunstonesecure-robert commented on #91444
I would highly recommend revisiting @dalgibbard 's suggestion given the [many](https://www.cloudflare.com/learning/ssl/why-use-tls-1.3/) weaknesses now identified in TLS 1.2 - not just weak ciphers (although that alone is sufficient reason.)  Supporting insecure legacy clients should be allowed with a flag like `--i-dont-care-about-my-data-just-hack-me-now-and-mine-monero`

[2022-10-02 20:55] #109720 closed

[2022-10-02 22:57] #109800 closed

[2022-10-02 23:19] Riaankl commented on #112657
Thank you @liggitt @enj for your thoughts on `createAuthorizationV1SubjectAccessReview` endpoint. We will work a test for it.

Do you have thoughts on the Conformance eligibility of `createAuthorizationV1NamespacedLocalSubjectAccessReview` and `createAuthorizationV1SelfSubjectRulesReview`

[2022-10-03 00:52] Riaankl opened #112822 "Write e2e test for replaceCoreV1NamespacedServiceAccount - +1 Endpoint"
# Progress <code>[4/6]</code>

-   [X] APISnoop org-flow: [CoreV1ServiceAccountReplaceTest.org](https://github.com/apisnoop/ticket-writing/blob/master/CoreV1ServiceAccountReplaceTest.org)
-   [X] Test approval issue: [#](https://issues.k8s.io/)
-   [X] Test PR: [#](https://pr.k8s.io/)
-   [x] Two weeks soak start date: [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-mas

[2022-10-03 00:53] Riaankl commented on #112822
/triage accepted

[2022-10-03 03:50] seaurching commented on #112801
@brosner @gnufied Hi, I meet this problems,how to make it normally

[2022-10-03 03:53] seaurching commented on #112801
/sig auth/cli

[2022-10-03 04:54] ahg-g commented on #112273
My biggest issue with this proposal is the following assumption

Pods in Kubernetes are ephemeral, workloads should be designed in a way while taking that into account. Preemption is one way where a pod could be deleted, but there are many other failure scenarios where pods could be removed (e.g., the node fails and pod gc removes the pod).

Regarding the original ask, as I mentioned above, we hav

[2022-10-03 05:09] ahg-g commented on #112699
This isn't a bug, the scheduler doesn't know, and probably shouldn't, how the on-node processes handle image names. Indeed, the only option here is for kubelet to update node status with all applicable names for the image.

[2022-10-03 05:24] Rajalakshmi-Girish commented on #112802
@mkumatag ^^

[2022-10-03 06:43] george-angel commented on #13136
/remove-lifecycle stale

[2022-10-03 06:49] pjbgf commented on #91286
/remove-lifecycle stale

[2022-10-03 06:57] Kartik494 commented on #108681
/remove-lifecycle stale

[2022-10-03 06:57] Kartik494 commented on #108720
/remove-lifecycle stale

[2022-10-03 06:58] gjkim42 commented on #112815
If your main usage is to hide mounted secrets from users who ssh to the pod, you may create an image without sh or cat (like distroless images).
Or you could apply RBAC to keep other users from `kubectl exec`ing to the pod.

I am not an expert in security, so I don't know much about it.
What I know is that init containers should do init jobs for the pod (not for each app container).

[2022-10-03 06:59] matthyx commented on #110312
/remove-lifecycle rotten

[2022-10-03 07:08] gjkim42 commented on #112815
I think https://github.com/kubernetes/kubernetes/issues/20151 and https://github.com/kubernetes/kubernetes/issues/86186 may help you. Let's discuss this issue there.

/close

[2022-10-03 07:08] #112815 closed

[2022-10-03 07:52] mborsz commented on #109282
In fact the solution proposed by me in https://github.com/kubernetes/kubernetes/issues/109282#issuecomment-1263207774 isn't correct as the resourceVersion in LIST call and in watch can differ much if there are no changes to a given resource type, e.g.:
* WATCH on pods observed all pod changes up to RV=50
* LIST returns RV=100, as there are some changes to e.g. replicasets or configmaps using the s

[2022-10-03 08:04] #109214 closed

[2022-10-03 08:27] pcornelissen commented on #56795
Sad that this won't be supported

[2022-10-03 08:34] Gikkman opened #112826 "Renaming pod causes duplicate pods if SSA and CSA has been mixed historically"
### What happened?

Through a series of unfortunate events and miscommunication, we've realized we've been using both client-side apply (CSA) and server-side apply (SSA) for a while towards our clusters. Different engineers have used different methods for about a year. It's been fine until about a week ago when we tried to align container names to a certain standard, in a few deployments. We took

[2022-10-03 08:45] Gikkman commented on #112826
/sig api-machinery
/sig cli

I think at least, sorry if I get it wrong. I've not made a ticket here before, and I find it a tad difficult to know if this is CLI or API related, even after reading the SIG documents.

[2022-10-03 09:38] Rajalakshmi-Girish commented on #112442
@aojea Did you get a chance to look at the run results. These tests are still flaking in our jobs.

[2022-10-03 09:44] 0xpwnstar commented on #110514
/assign

[2022-10-03 12:51] ardaguclu commented on #112826
@Gikkman thanks for raising this issue and your labels are correct :).

Renaming is calculated in different ways for both SSA and CSA. If you use one of them, they understand the "renaming" and do that during `apply` command. However, from SSA to CSA(or reverse as you said);

There might not be a way to understand that "renaming", therefore pod ended up like this;

[code]

as you can see, although

[2022-10-03 12:52] mimowo commented on #104155
@SergeyKanzhelev @bydga I have scripted reproducing of the issue and confirmed it on 1.21 and 1.22.
However, it appears fixed on 1.23 and 1.25.

To reproduce I run 10 retries of create / replace / delete a deployment and check if the output (`out.txt`, see below) contains "The container could not be located when the pod was deleted" or "ContainerStatusUnknown".

On one terminal I run:
[code]

on t

[2022-10-03 13:01] enj commented on #112657
Seems like we could treat `createAuthorizationV1SelfSubjectRulesReview` like we do the CSR API - the basic REST semantics of the API need to work but the response may have different properties based on the cluster.

[2022-10-03 13:03] erezweissgloat commented on #79224
+1 reopen

[2022-10-03 13:19] liggitt commented on #112657
I'm more thinking about whether that API is a good API to encourage people to rely on providing useful output... it's explicitly best-effort already, and with the anticipated addition of local authorizers that could make running reliable deny authorizers more achievable, it seems like this API will only get less accurate in the future.

[2022-10-03 13:28] liggitt commented on #112657
Deprecate, possibly, but not remove since it's GA

[2022-10-03 13:35] sftim commented on #81112
https://github.com/kubernetes/website/pull/33992 added a [security checklist](https://kubernetes.io/docs/concepts/security/security-checklist/) that by my reading doesn't yet mention this.

We could track a child issue of this one to add an entry into that checklist about configuring things. https://github.com/kubernetes/kubernetes/issues/81112#issuecomment-520162629 looks relevant.

[2022-10-03 13:49] mikebrow commented on #110312
Update.. we are [reviewing a plan change](https://github.com/containerd/containerd/pull/7454) that will likely result in a much longer life span for the containerd 1.6 release (marking 1.6 as an LTS release) with the ability to back port fixes and non breaking changes/features needed for CRI from main to 1.6, thus suitable to k8s client use cases.

[2022-10-03 14:00] jdef commented on #97153
/reopen

On Sat, Oct 1, 2022 at 9:47 AM Kubernetes Prow Robot <
***@***.***> wrote:

--
James DeFelice

[2022-10-03 14:09] neolit123 commented on #112800
/sig auth

[2022-10-03 14:09] neolit123 commented on #112801
/sig cli

[2022-10-03 14:13] jmgate commented on #110464
@r-erema, I finally had time to talk this through with my team, and we decided not to invest the time in writing and submitting a KEP, because even if it were implemented, it would take far too long to get into a release that our team is allowed to use (we're many versions behind, due to contractual limitations).  If you'd like to close out this issue, feel free.  Thanks for your assistance.

[2022-10-03 14:22] r-erema commented on #110464
@jmgate Thanks for feedback. I think you can close the issue.

[2022-10-03 14:30] anders-swanson commented on #7452
Hi, is this issue actively being worked on?

[2022-10-03 14:32] #110464 closed

[2022-10-03 15:13] jimfcarroll opened #112829 "Kubernetes 1.24+ fails with "cni plugin not initialized" when a network interface is disabled in the network manager"
### What happened?

On a single node kubernetes installation (so `control-plane` (or `master` pre-1.24) taint removed) on Ubuntu 20.04. For versions of kubernetes after 1.23 the network wont initialize if there is a disabled network interface even if you're not using that network interface. Everything works on versions prior to 1.24.

My init command is:

[code]

The `$IP_TO_BIND_TO` is a working,

[2022-10-03 15:40] TBBle commented on #97739
/remove-lifecycle stale

This is still a thing that needs to happen, unless a decision is made to reject this approach, in favour of, e.g., going all-in on CDI or similar.

[2022-10-03 15:41] jimfcarroll commented on #112829
I now believe this is flannel related and not k8s related.

[2022-10-03 15:42] #112829 closed

[2022-10-03 15:52] lavalamp commented on #112684
@stevekuznetsov No, I don't think anyone is saying that? Such aggregated apiservers are already broken if the right (wrong) client tries to talk to them. Formalizing the current situation doesn't make anyone any worse off as far as I can see.

[2022-10-03 16:47] enj commented on #111919
This is being worked on in #112050 but needs #112789 to be merged first to get the code in a state where this is achievable.  We are on track for this work landing in v1.26

[2022-10-03 17:04] #109863 closed

[2022-10-03 17:06] #107574 closed

[2022-10-03 17:09] mdbooth commented on #112131
I don't think this is fixed because we've identified a workaround. @andybe could you re-open this, or a maintainer?

[2022-10-03 17:10] aramase commented on #111923
Thanks!

@HeshamAboElMagd This is being worked on and is still on track for `v1.26`.

[2022-10-03 17:16] Riaankl commented on #112429
/reopen

[2022-10-03 17:48] shyamjvs commented on #112296
There isn't a particular customer scenario documented, but the general impact (seen across different customers) is described here - https://docs.google.com/document/d/1rMlYKOVyujboAEG2epxSYdx7eyevC7dypkD_kUlBxn4.

[2022-10-03 19:01] migs35323 commented on #50375
+1

[2022-10-03 19:01] migs35323 commented on #50375
/reopen

[2022-10-03 19:02] paulwfield commented on #50375
+1

On Mon, 3 Oct 2022 at 20:01, migs35323 ***@***.***> wrote:

[2022-10-03 19:15] pohly opened #112834 "apiserver: command exec in pod randomly drops stdin"
### What happened?

I was using https://github.com/kubernetes/kubernetes/blob/725993afce11082b973901d2e92553640771d55d/test/e2e/framework/exec_util.go#L49-L84 (similar to `kubectl exec -i`) with `dd` as command and some data as stdin to create a file inside a container. This worked fine most of the time during local development. When used inside a Prow job, I ran into test flakes that could be tra

[2022-10-03 19:48] Pitta commented on #79224
+1 reopen

I find myself needing to do this over and over again....

[2022-10-03 19:54] danwinship commented on #112560
Ah... well, that only happens at creation time. So you wouldn't be able to _create_ a disabled policy this way, but after the object already exists, you could enable and disable it that way.

[2022-10-03 20:12] astoycos commented on #112560
I'm happy to help where I can with the KEP here, the [networkPolicyStatus KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2943-networkpolicy-status) may be a good one to follow?

Please try to attend the [network-policy-api meeting](https://github.com/kubernetes/community/tree/master/sig-network) if there are more questions!

[2022-10-03 20:20] marcinma commented on #79988
/reopen

[2022-10-03 20:20] #104842 closed

[2022-10-03 20:32] marcinma opened #112835 "Creating pod with requests bigger than default limitrange fails"
### What happened?

Created limit range object with this parameters
[code]
then tried to create this pod

[code]

got message:
Error from server (Invalid): error when creating "pod-to-be-removed.yml": Pod "nginx-to-be-removed-4" is invalid: spec.containers[0].resources.requests: Invalid value: "700m": must be less than or equal to cpu limit

### What did you expect to happen?

Pod should be create

[2022-10-03 20:36] marcinma commented on #112835
/sig node

[2022-10-03 20:42] daschott opened #112836 "Regression in winkernel proxier that causes stale load balancing proxy rules"
### What happened?

There is a regression in v1.24.0 (and above) that causes stale HNS load balancer proxy rules anytime a backend pod is deleted. Each subsequent deletion will leave behind an additional external VIP load balancing rule that references endpoints which no longer exist.

This can cause occasional connectivity issues and timeouts, if a stale load balancing rule is matched and it redi

[2022-10-03 20:43] daschott commented on #112836
/sig windows

[2022-10-03 20:47] lavalamp commented on #7452
No --

We know the user facing path should be swapped out for websockets, but I don't know if there is any consensus on what should happen for the apiserver -> kubelet path.

[2022-10-03 21:08] jsturtevant commented on #112836
/triage accepted

[2022-10-03 21:08] jsturtevant commented on #112836
/sig network

[2022-10-03 21:19] SergeyKanzhelev commented on #72320
/remove-lifecycle stale

I am removing the stale lifecycle as this is still the issue. However as mentioned in the linked closed PR the consensus needs to be found thru the KEP process.

[2022-10-03 21:21] SergeyKanzhelev commented on #110312
Is it still a plan to remove this config in 2.0? If so, we still need to do it so we can test k8s across 1.6 AND 2.0.

[2022-10-03 21:24] SergeyKanzhelev commented on #50375
@migs35323 @paulwfield can you please reply on the scenario you need it for:

[2022-10-03 21:25] SergeyKanzhelev commented on #104155
Looking forward for update. Based on @mimowo I will change it to needs information as it seems to be fixed

/triage needs-information

[2022-10-03 21:29] SergeyKanzhelev commented on #106125
/close

this does not seem to be flaking any longer

[2022-10-03 21:29] #106125 closed

[2022-10-03 21:34] SergeyKanzhelev commented on #110342
@rkojedzinszky have you been able to upgrade skipping 1.23? I don't think we have too many requests for the fix so I am closing this one. Feel free to re-open if this is blocking you.

/close

[2022-10-03 21:34] #110342 closed

[2022-10-03 21:46] stmcginnis opened #112842 "Image credential provider plugins not being called when native in-tree cloud provider is detected"
### What happened?

It appears image credential provider plugins are not called when in-tree cloud providers are enabled. Even when disabling by using the `DisableKubeletCloudCredentialProviders` feature flag, k8s still detects it is running on an EC2 instance and attempts to use the `amazon-ecr` provider and does not check with any configured plugins.

I have an EC2 hosted Ubuntu 22.04 instance t

[2022-10-03 22:05] stmcginnis commented on #112842
Just to note, setting `DisableKubeletCloudCredentialProviders` was just a test. This fails in either case, and I am hoping to be able to use the credential provider plugin on versions prior to 1.23 where that feature gate was introduced.

[2022-10-03 22:06] stmcginnis commented on #112842
/sig cloud-provider

[2022-10-03 22:14] PushkarJ commented on #81112
Adding a link to a comment from @sunstonesecure-robert that could be relevant for others looking to contribute in this area: https://github.com/kubernetes/website/pull/36971/files#r985281168

[2022-10-03 23:41] seans3 commented on #112778
According to @liggitt, if SPDY were not present, "I suspect the ecosystem would be wildly broken". So Antonio is correct, that we should have tests for the SPDY protocol against the `port-forward` endpoint for conformance.

[2022-10-03 23:52] dims commented on #112842
@stmcginnis can you please try this?

[code]

[2022-10-03 23:59] apelisse commented on #112826
cc @alexzielenski

[2022-10-04 00:02] apelisse commented on #112826
This is exactly the topic of this KEP: https://github.com/kubernetes/enhancements/pull/3518
We're not treating this as a KEP, but as a bug, which will make it available probably sooner.

Thanks for the report!

[2022-10-04 00:02] Riaankl commented on #112778
/cc @heyste

[2022-10-04 00:05] apelisse commented on #112826
Alex, can you think of the best way to workaround that in the mean time?

It's unclear if you've decided whether you're going to always use csa or ssa in the future? Because if you keep doing that, there's no good work around. Do you have the option of re-creating the deployment?

[2022-10-04 00:41] alexzielenski commented on #112826
To switch the fields to SSA in the meantime, I have (minimally) tested the following sequence of commands to successfully migrate to server-side apply:

Assuming your object is a `statefulset` named `foo`

[code]

[code]

[code]

[code]

[code]

[code]

[2022-10-04 01:20] invsblduck commented on #94445
Yeah, @rptaylor this is well said. I just found this issue after commenting on an older/closed/dead issue of the same topic: https://github.com/kubernetes/kubernetes/issues/74986

It's too bad `G` and `Gi` are already differentiated by K8s (in the spirit of "correctness") and that floating point memory quantities are already allowed, because it means no one can remove these features for fear of ba

[2022-10-04 02:04] liggitt commented on #112842
cc @andrewsykim

[2022-10-04 02:18] tzneal opened #112847 "remotecommand.NewSPDYExecutor ignores the rest.Config dial function"
### What happened?

I passed a rest.Config with a `Dial` function to `remotecommand.NewSPDYExecutor`:

[code]

### What did you expect to happen?

I expected my dial function to be used for creating the underlying connection, but it was not.

### How can we reproduce it (as minimally and precisely as possible)?

Use a custom `Dial` function in a `rest.Config`

### Anything else we need to know?

_

[2022-10-04 02:18] tzneal commented on #112847
/sig apimachinery

[2022-10-04 02:19] tzneal commented on #112847
/sig api-machinery

[2022-10-04 03:09] andrewsykim commented on #112842
What is the error message you see with `--v=5` when you don't set `DisableKubeletCloudCredentialProviders`? Also, was the plugin working in previous versions and just stopped working in v1.23?

[2022-10-04 06:20] cheftako opened #112849 "Error running hack/cherry_pick_pull.sh"
### What happened?

I ran ```hack/cherry_pick_pull.sh upstream/release-1.23 112689```

It failed to create the PR with the following error.

[code]

### What did you expect to happen?

I expected it to successfully create the cherry pick PR.

```hack/cherry_pick_pull.sh upstream/release-1.24 112689``` produced https://github.com/kubernetes/kubernetes/pull/112841.
```hack/cherry_pick_pull.sh upstre

[2022-10-04 06:21] cheftako commented on #112849
/sig release

[2022-10-04 06:59] sanposhiho opened #112851 "Scheduler: introduce WASM runtime to scheduler and load scheduler plugins via WASM runtime"
### What would you like to be added?

(Disclaimer: It's just an idea now, will confirm the technical feasibility for this after getting some feedback on this idea)

**summery**: introduce WASM runtime in kubernetes scheduler.
We can allow users to write WASM plugins and load them in the scheduler much more easily without building their custom schedulers. (Probably we just need to pass a path to th

[2022-10-04 08:22] jsafrane commented on #103305
I can't find any proposed change in ReadWriteOnce access mode scheduling in
 https://github.com/kubernetes/enhancements/pull/3537, despite the [discussion above](https://github.com/kubernetes/kubernetes/issues/103305#issuecomment-1180949155) says otherwise. @chrishenzie can you please point me to the right section in the KEP?

/unassign @kerthcet
/unassign @yuzhiquan
/assign @chrishenzie

[2022-10-04 08:34] palonsoro commented on #28272
/remove-lifecycle stale

[2022-10-04 08:41] jsafrane commented on #110514
StorageClass implementation is in https://github.com/kubernetes/kubernetes/pull/110974

I am not sure about those. I'd suggest opening separate issues.

/close

[2022-10-04 08:41] #110514 closed

[2022-10-04 10:21] harshanarayana commented on #111923
@aramase  @HeshamAboElMagd  There is a Pull request opened on this already as well. But Waiting on some clarification to see if that needs additional changes.

[2022-10-04 10:50] bmwiedemann commented on #110928
It would be good if `/tmp/go-build$int` would not be embedded in the first place. It might be possible to replace it somehow in our builds, but all other people wanting reproducible builds, would need to replicate that.

[2022-10-04 10:55] bmwiedemann commented on #110928
@dims full logs from the build: https://rb.zq1.de/temp/kubernetes1.24-build-log.txt
from kubernetes-1.24.3 built 2022-08-18

[2022-10-04 11:05] dims commented on #110928
@bmwiedemann can you please try setting GOCACHE=off when you run the build?

I am suspecting that the temp directory is being generated here:
https://github.com/golang/go/blob/6d8ec893039a39f495c8139012e47754e4518b70/src/cmd/go/internal/cache/default.go#L77-L80

[2022-10-04 12:45] fromanirh opened #112854 "Add metrics for cpumanager"
### What would you like to be added?

Add [metrics](https://github.com/kubernetes/kubernetes/tree/v1.25.2/pkg/kubelet/metrics) to enable observability of the cpumanager.

### Why is this needed?

This is required to [GA the feature](https://github.com/kubernetes/enhancements/pull/3350) but it's also useful in general.

To the best of my knowledge, it's very hard to observe the behavior of cpumanag

[2022-10-04 12:45] fromanirh commented on #112854
/sig node
/assign

[2022-10-04 13:17] swatisehgal commented on #112854
/triage accepted
/priority important-soon
(as this is important for graduation for CPU Manager to GA)

[2022-10-04 14:22] stmcginnis commented on #112842
@dims I tried this, with the exception of negating the return value since we want Enabled to return `false` if `credentialprovider.AreLegacyCloudCredentialProvidersDisabled()` is `true`.

It does look like that prevents the provider from registering:

[code]

But then later the results are basically the same:

[code]

We still never see the exec out to the plugin.

[2022-10-04 15:19] mikebrow commented on #110312
Yes still the plan to remove in 2.0.. Don't have everything in place to make that happen though.. Definitely recommended to move to the hosts.toml based format for mirroring.

[2022-10-04 15:30] andrewsykim commented on #112842
This function is specifically when trying to get docker config from a Secret object. The part that's relevant for plugins is keyring.Lookup here:

https://github.com/kubernetes/kubernetes/blob/v1.23.12/pkg/kubelet/kuberuntime/kuberuntime_image.go#L45-L55

From you're logs it seems like keyring.Lookup() is returning false, which is why kubelet is pulling with any auth confiugred

[2022-10-04 15:54] stmcginnis commented on #112842
But since the keyring has only been initialized with dockercfg and secrets, where does it end up pulling in credential plugins. I'm having a hard time finding where that part happens.

[2022-10-04 16:05] andrewsykim commented on #112842
Kubelet calls [RegisterCredentialProviderPlugins](https://github.com/kubernetes/kubernetes/blob/c6939792865ef0f70f92006081690d77411c8ed5/pkg/credentialprovider/plugin/plugin.go#L70), which calls [credentialprovider.RegisterCredentialProvider(provider.Name, plugin)](https://github.com/kubernetes/kubernetes/blob/c6939792865ef0f70f92006081690d77411c8ed5/pkg/credentialprovider/plugin/plugin.go#L107),

[2022-10-04 16:36] lavalamp commented on #94445
@invsblduck the problem is the same type is used for representing CPU quantity, which CAN be fractional (millicores), and we put all resources together in a map and they can't have different types. And then also we forgot to add validation / rounding code specifically for RAM (it's not obvious that 1.2Gi was something that implies a fractional byte). Also JVM wasn't even a test load when this code

[2022-10-04 16:44] marosset commented on #112836
/milestone v1.26
/priority critical-urgent

[2022-10-04 16:47] Riaankl commented on #112822
/reopen

[2022-10-04 16:49] BenTheElder commented on #112835
/remove-kind bug
/kind support

[2022-10-04 17:18] stmcginnis commented on #112842
After adding a bunch of debugging, it looks like I may have found the cause for this case. And good/bad, it was my fault! :D

Thanks for the pointers to where things get wired together. I was able to add some debug statements there and found my `matchImages` string actually had some oddly formatted quotes rather than normal double-quotes. I think this must have happened from copying/pasting from a

[2022-10-04 17:22] dims commented on #112842
called it :)

![image](https://user-images.githubusercontent.com/23304/193885253-e8cdb693-c288-4285-a81b-d0bac5f41059.png)

[2022-10-04 17:26] xmcqueen commented on #109295
There has been a decent amount of discussion in slack relating to handling the test's required artifacts.  The solution that seems best is to get some practical version of the test requirements into locally owned and controlled storage, so the endpoints that provide access to the assets will at least be under internal control.

This is **not code**, and is not under development. It is a **static d

[2022-10-04 17:49] aramase opened #112859 "[KMSv2] Add metrics and tracing in `k8s.io/kms` for plugins"
1. Key generation for local KEK
2. Rotation based on counter; also rotate once a week even if the counter does not hit 2 million?
3. Encryption using AES-GCM
4. Metrics
5. Logging
6. Externalized encryption of local KEK

ref: https://github.com/aramase/kubernetes-kms/blob/kms-v2alpha1/pkg/kek/kek.go

The implementation would be added to the [staging/kms](https://github.com/kubernetes/kubernetes/tr

[2022-10-04 17:49] xmcqueen commented on #109295
I'd like to get the dataset that holds the test data (about 650k) hosted in GCS where I can get it via http.  With that change it is expected that the test will go green.  The failures show it is failing when it tries to download the artifact from the uncontrolled remote endpoint.  Somebody, please help me get this artifact into an internally controlled server.  Thanks

[2022-10-04 17:49] aramase commented on #112859
/sig auth
/triage accepted

[2022-10-04 17:49] aramase commented on #112859
/assign @ibihim

[2022-10-04 17:52] BenTheElder commented on #99517
builds got a lot faster https://github.com/kubernetes/kubernetes/pull/112819#issuecomment-1267350746

[2022-10-04 18:03] salaxander commented on #97026
Hey @dims and @spiffxp - 1.26 bug triage team here! Just wanted to check in and see how we're looking for this release?

Thanks!

[2022-10-04 18:04] salaxander commented on #70249
Heya @dims and @tallclair - 1.26 bug triage team checking in to see how we're looking for this release?

Thanks!

[2022-10-04 18:06] andrewsykim commented on #112842
@stmcginnis glad to hear things are working! Regardless your test was good validation that the new DisableKubeletCloudCredentialProviders feature gate is working as expected along aside external plugins in AWS.

/close

[2022-10-04 18:06] #112842 closed

[2022-10-04 18:09] dims commented on #97026
/milestone v1.27

kick the can down the road yet again! :) thanks for the ping @salaxander

[2022-10-04 18:13] dims commented on #70249
@salaxander the last thing we wanted to do here was distroless kubeproxy which got done already.

- https://groups.google.com/g/kubernetes-sig-network/c/CbqCwv4zLq4/m/3MZEPAWXAAAJ
- https://github.com/kubernetes/kubernetes/pull/111060

We should close this out! thanks everyone!

[2022-10-04 18:13] #70249 closed

[2022-10-04 18:20] dims commented on #70249
@rikatz Do you mind doing a quick update to https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/1729-rebase-images-to-distroless/README.md and https://github.com/kubernetes/sig-release/blob/master/release-engineering/baseimage-exception-list.md to reflect the fact that we now have kubeproxy with distroless images? thanks!

[2022-10-04 18:23] SergeyKanzhelev commented on #109295
Was the idea of downloading this only on image creation in dockerfile rejected?

[2022-10-04 18:41] BenTheElder commented on #70249
We should probably still make distroless kubeproxy lighter and make sure our projects pick it up so we can phase out the old full image, do we have follow-up issues for getting the shell etc out of there and making sure we've rolled out the image to subprojects?

[2022-10-04 18:42] xmcqueen commented on #109295
Thanks for the reminder @SergeyKanzhelev.  I did not fairly evaluate that proposal. I just jumped to my earlier proposal.

Thinking about this proposal I see that it would mean downloading the test data for inclusion into the docker image, while the image's test driver tooling is built to pull down the dataset itself from a remote.  That is a simple change to handle, while simply re-hosting the ar

[2022-10-04 19:47] SergeyKanzhelev commented on #109295
thank you. We do not change the image for a long time, so downloading it once would likely be enough. Once it is self-contained, it is even better for the continuous perf runs in tests.

[2022-10-04 19:50] vaibhav2107 commented on #106769
/remove-lifecycle stale

[2022-10-04 19:55] vaibhav2107 commented on #94825
/remove-lifecycle stale

[2022-10-04 19:57] vaibhav2107 commented on #110849
/remove-lifecycle stale

[2022-10-04 19:57] vaibhav2107 commented on #110810
/remove-lifecycle stale

[2022-10-04 19:58] vaibhav2107 commented on #110734
/remove-lifecycle stale

[2022-10-04 19:59] vaibhav2107 commented on #110654
/remove-lifecycle stale

[2022-10-04 20:00] jseparovic opened #112861 "kubeapi server ignores manifest changes"
### What happened?

After updating /etc/kubernetes/manifests/kube-apiserver.yaml and adding --feature-gates=MixedProtocolLBService=true to the command array, the apiserver container restarts as expected. However, upon restart, it does not update the command when inspecting with kubectl get pod -o=yaml or ps -ef.
I do notice that if I change the name of the pod in the manifest, then this new pod do

[2022-10-04 20:00] vaibhav2107 commented on #108886
/remove-lifecycle stale

[2022-10-04 20:02] jseparovic commented on #112861
/sig api-machinery

[2022-10-04 20:22] weberc2-tempus commented on #112573
Here's the `node.status.images` for the node I think the pod _should_ be scheduled to.

<details>
[code]
</details>

Regarding the YAML, here's the `kubectl get pod` output from a pod that scheduled correctly (it's hard to reproduce the error, but there shouldn't be much of a difference in the YAML between a correctly and an incorrectly scheduled pod):

<details>
[code]
</details>

[2022-10-04 20:23] fedebongio commented on #112646
/close

[2022-10-04 20:23] #112646 closed

[2022-10-04 20:23] fedebongio commented on #112646
/triage accepted

[2022-10-04 20:23] fedebongio commented on #112647
/triage accepted

[2022-10-04 20:24] howardjohn commented on #106846
https://github.com/kubernetes/kubernetes/issues/112646 is one performance improvement we can get with this (half allocations for each List call), as asked to close that issue and merge with this one.

[2022-10-04 20:27] BenTheElder commented on #106846
Related: Guidance for generics https://github.com/kubernetes/community/blob/master/sig-architecture/generics.md

[2022-10-04 20:29] fedebongio commented on #112706
/sig auth

[2022-10-04 20:31] fedebongio commented on #112826
/triage accepted

[2022-10-04 20:31] fedebongio commented on #112861
/help

[2022-10-04 20:32] fedebongio commented on #112847
/cc @aojea
/triage accepted

[2022-10-04 20:44] jseparovic commented on #112861
Just to note on a workaround I'm able to do to get it configured:
- Rename Pod name in manifest to kube-apiserver2
- Kill the original apiserver process so the new one kicks in
- Configure LoadBalancer service with mixed protocols
- Rename Pod back to kube-apiserver

This allows me to start kube-apiserver temporarily with MixedProtocolLBService=true so I can create the loadbalancer.

[2022-10-04 21:03] BenTheElder opened #112862 "remove rsync from build"
There's a _lot_ of complexity in the build system around rsync + build + data containers.

This was mostly added to work around docker desktop filesystem performance on macOS, but also used to support building against docker on a remote VM.

Besides the docker desktop licensing changes probably reducing how many developers are actually using docker desktop, it's not clear that we should still be j

[2022-10-04 21:07] BenTheElder commented on #112862
/triage accepted
https://github.com/kubernetes/community/blob/master/contributors/devel/development.md seems to have minimal reference to remote building, I think we already stopped supporting that, still trying to dig up the PRs.

[2022-10-04 21:08] BenTheElder commented on #112862
Aha https://github.com/kubernetes/kubernetes/issues/94091 => https://github.com/kubernetes/kubernetes/pull/97935

https://github.com/kubernetes/kubernetes/blob/master/build/README.md

[2022-10-04 21:24] SergeyKanzhelev commented on #39170
/close

please re-open if this is still a problem. It seems like overriding the `terminationGracePeriodSeconds` solves the issue

[2022-10-04 21:24] #39170 closed

[2022-10-04 21:53] KnechtionsCoding commented on #74099
/remove-lifecycle stale

[2022-10-04 22:03] lavalamp commented on #112684
IMO: since we have no formalized spec for us to make promises about, aggregated apiserver authors are signing up for this risk any time they deviate from what in-tree apiserver does. It's part of the reason why I will recommend not doing that if at all possible.

[2022-10-04 22:16] marosset commented on #112836
/reopen
Let's keep this open until backport PRs merge and the fix is available in v1.24 and v1.25 builds.

[2022-10-04 23:49] mathetake commented on #112851
This sounds great, and is one of the exact use cases I have expected to happen with wazero.

JFYI
- wazero will reach 1.0 release by the end of February 2023 https://github.com/tetratelabs/wazero/issues/506#issuecomment-1162489846
- there are some existing efforts around k8s with Wasm extension based on wazero:
  - https://github.com/dvob/k8s-wasm cc @dvob
  - https://github.com/ritazh/wasm-polici

[2022-10-05 00:18] enj commented on #112851
I appreciate that wazero has no external dependencies, but it is still on the order of 50k LOC.  Since we may run untrusted code, I would expect us to carefully audit any runtime we use.  This is non-trivial, to say the least.  Also, Go's lack of WASI support makes it impossible to use most of the k8s library code because tinygo cannot run it (and using an alternative compiler is not a valid appro

[2022-10-05 00:20] dims opened #112867 "All reviewers and approvers in root OWNERS are from google"
Please see:
https://github.com/kubernetes/kubernetes/blob/master/OWNERS#L5-L18

There are six approvers and reviewers, ALL of them are from google. This is not a good look for a really diverse project like Kubernetes with contributors from all over the world.

/assign @dchen1107 @lavalamp @smarterclayton @thockin @wojtek-t @liggitt

Yes, we keep saying that needs to be solved by fixing things in p

[2022-10-05 00:21] dims commented on #112867
/sig architecture
/sig testing

[2022-10-05 00:21] BenTheElder commented on #112861
If I'm reading this correctly this is about the api server static pod manifest in kubeadm https://github.com/kubernetes/kubeadm/issues/2763
/sig node

[2022-10-05 00:27] dims commented on #112867
NOTE that https://github.com/kubernetes/test-infra/pull/21398 is languishing since Mar 16, 2021

[2022-10-05 00:29] dims commented on #112867
Last issue which the bot auto closed was filed in Aug 2, 2020 - https://github.com/kubernetes/kubernetes/issues/93637

[2022-10-05 00:31] dims commented on #112867
and another one goes even earlier - https://github.com/kubernetes/kubernetes/pull/85638

[2022-10-05 01:02] mxpv commented on #98473
/assign

[2022-10-05 03:16] #109881 closed

[2022-10-05 04:04] david-mohr commented on #57291
We are attempting to restart a sidecar instead of the entire pod, so we `kill 1` in the target container and the process exits cleanly, but CrashLoopBackoff means we're eventually forced to restart the pod as the continer takes longer and longer to come back up. Most of the proposed options would suit us just fine.

[2022-10-05 05:21] pythrick commented on #32149
My cluster used to not take more than 2 seconds to finishes the job once the job reaches the defined time in `activeDeadlineSeconds`. After upgrading EKS cluster to versions v1.22.10 and after v1.23.10, the jobs doesn't finishes in less then 29 seconds. I've trully believed [this PR ](https://github.com/kubernetes/kubernetes/pull/110294) would fix issue, but doesn't looks like to be the case.

[2022-10-05 05:51] uablrek commented on #112820
This seems to be a `traefik` issue.

I have tried access from a POD to a service with `externalTrafficPolicy: Local` but without explicit internalTrafficPolicy, which should give "Cluster" as default. It works both from a POD on a node that has an endpoint and from a POD on a node that doesn't have an endpoint. For proxy-mode=ipvs [this PR](https://github.com/kubernetes/kubernetes/pull/97081) must

[2022-10-05 06:22] bmwiedemann commented on #110928
I added `export GOCACHE=off` to [our .spec file](https://code.opensuse.org/package/kubernetes1.24/blob/6bff88072d245b1e8574f2cf672e774cc7436f79/f/kubernetes1.24.spec#_187) but still got these diffs.

[2022-10-05 06:51] tadas-equinix commented on #54918
I have deployed CALICO, how do I resolve  . . .

in my case ==>

 ==> kubectl get nodes
NAME           STATUS     ROLES    AGE   VERSION
gnacalmaster   NotReady   master   46m   v1.18.5

systemctl status kubelet.service
● kubelet.service - kubelet: The Kubernetes Node Agent
     Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; vendor preset: enabled)
    Drop-In: /etc/systemd/system/k

[2022-10-05 07:28] danielcb commented on #112151
Hi, one of the above mentioned issues was opened by me. We still have this problem on 4 production clusters. After a few days running a lot of cronjobs kubelet starts consuming multiple 10GBs of RAM and sooner or later gets OOM killed. The problem started to appear after upgrading to v1.24.X on each cluster.

[2022-10-05 07:31] fr6nco commented on #98236
Facing the same issue with kubernetes version v1.24.2 and containerd v1.6.6. It was a short lived pod too, a job that runs once a day and takes a few seconds to finish. No idea how to tackle down the issue tho.

[2022-10-05 07:33] bobbypage commented on #112151
Can you folks provide a bit more details around the setup / possible repro steps? I tried to repro on a 1.24 Ubuntu 20.04 cgroupv2 cluster but was not able to.

My main questions would be:

* kubelet version
* os version
* Is cgroupv2 enabled or not in the OS image?
* container runtime version (containerd/cri-o) / runc verison
* cgroup driver used
* Repro steps (what the cronjobs are doing)

[2022-10-05 07:47] codefromthecrypt commented on #112851
interesting feedback. ps wazero has GOOS=js (wasmexec) support but I also wouldn't recommend it, as the performance is horrendous and also the wasm code in go is borderline hackweek.

Seems safe to park this until there's a go source compiler that can work with k8s library code + wasi, regardless of which compiler that is!

[2022-10-05 07:49] alculquicondor commented on #105287
/remove-lifecycle stale

[2022-10-05 07:51] mimowo opened #112873 "Occasional double counting of job completions in the `job_controller_job_finished_total` metric"
### What happened?

Occasionally job completions are counted twice (or potentially multiple times?) in the  `job_controller_job_finished_total` metric.  This happens for about 20% of jobs, but may depend on the Job specificity, which results in an overestimation of the number of finished jobs.

### What did you expect to happen?

The `job_controller_job_finished_total` metric reflects the actual n

[2022-10-05 07:52] mimowo commented on #112873
/assign

[2022-10-05 07:53] mimowo commented on #112873
FYI @alculquicondor

[2022-10-05 08:08] rdavyd opened #112874 "Kubelet stops sending logs to journald"
### What happened?

After update 1.23.7 -> 1.24.6 kubelet stops sending logs to journald at certain point - just before this line:
`I1005 06:27:03.990916 1189617 apiserver.go:52] "Watching apiserver"`
However logs still appear in `/var/log/syslog`

[code]
As mentioned above logs continue flowing normally into `/var/log/syslog`, but journal is empty after certain point.
This line `Watching apiserve

[2022-10-05 08:12] alculquicondor commented on #112873
/triage accepted

[2022-10-05 08:22] Gikkman commented on #112826
I can confirm the approach @alexzielenski suggest work (at least for our case). I bundled it up a bit as a script (requires `jq`) in case it happens to us again. So far, it seems to solve our problems.

Assuming we got resource type `statefulset` and name `foo`:
[code]
Thank you for the assistance with how to handle our specific case too. I wouldn't have figured this out myself.

It seems you guys

[2022-10-05 08:54] rdavyd commented on #112874
/sig node

[2022-10-05 10:48] danielcb commented on #112151
- Ubuntu 20.4.5 LTS (5.15.0-48-generic)
- kubelet v1.24.4
- cgroupv2 is enabled:
[code]
- CRI-O version 1.24.2
- currently crun version 1.6 (commit: 18cf2efbb8feb2b2f20e316520e0fd0b6c41ef4d), but also happened with all current versions of runc
- cgroup driver systemd

Regarding repro I'm not really sure. As far as I can see it happens on all nodes, but it happens faster as more pods are started. T

[2022-10-05 12:08] ibihim commented on #112859
thank you @aramase !

[2022-10-05 12:18] ryanm101 opened #112876 "Inconsistant behaviours between `-o` flags"
### What happened?

`kubectl get pod -l lbl=label -o yaml` returns valid empty yaml when no pods are found and returns success

[code]

`k get pods -l lbl=label -o jsonpath="{.items[0].metadata.name}"` instead throws an error

This causes causes our pipelines to fail as we want to search by label and do something if pods with the label are found.
If no pods are found returning an empty string woul

[2022-10-05 12:21] #112876 closed

[2022-10-05 13:40] alculquicondor commented on #111948
This is working as intended. Say for example you have a CronJob, and each instance of it (a Job) only makes sense to run in the next 30 minutes. Then, even if the Pods didn't have a chance to run, they should still be terminated.

We don't currently have an alternative to this behavior in the API, but it would have to be a new feature.

Instead of waiting for phase Running to start the timer, we p

[2022-10-05 14:42] dims commented on #110928
So i built golang from source, peppered it with changes to track down where this is getting created and found that it is coming from:
https://github.com/golang/go/blob/c318f191e45e3496f8afe0a456337e9f76d7f7b4/src/cmd/go/internal/work/action.go#L268

I don't know yet how to fix it. will dig more when i can (travelling for the next few days)

[2022-10-05 15:01] kerthcet commented on #112573
It seems like the image container requests already pulled by the node. Can you help to log the plugin scores like below:
[code]

You can easily set the log level to 10 by `--v=10`

[2022-10-05 15:55] neoaggelos commented on #109087
Hi @tallclair, member of the bug triage team for 1.26 here! I just wanted to check whether this issue is on track for the 1.26 release.

Thank you!

[2022-10-05 16:07] everpeace opened #112879 "Can bypass `PodSecurityContext.SupplementalGroups` by custom container image although PSP(or other policy engines) enforces the field"
### What happened?

Even PSP or other policy engines enforces the field values of `PodSecurityContext.SupplementalGroups`, user can bypass the setting by building a custom container image like this.

Assume the below PSP is enforced:

[code]

Then, a user can create a pod that PSP allows with a custom image. But it can bypass `SupplementalGroups` setting by crafting a container image.

[code]

[co

[2022-10-05 16:12] cpuguy83 commented on #112851
Definitely agree there is a lot of work to do to both prove the safety of a runtime as well as the (go) tooling for actually building wasm modules.

That said I do not think wasm code should be considered "untrusted". Not to say that all wasm code should be inherently trusted, but rather that the trust should come from the admin wiring up the wasm bits to the scheduler.
That would be behind both a

[2022-10-05 17:20] SergeyKanzhelev commented on #112861
1.21 is out of support, can you try newer version of Kubernetes in case the issue was already fixed.

/assign @rphillips

/triage needs-information

[2022-10-05 17:24] SergeyKanzhelev commented on #112874
Does it always happen after this log line? Is it 100% repro? Is kubelet running as systemd service?

/triage needs-information
/cc @haircommander
/sig instrumentation

for possible insights adding sig instrumentation.

[2022-10-05 17:26] liggitt commented on #112867
I agree the current state isn't really appropriate, even if we sort of drifted into it when @smarterclayton and I switched companies.

Sigh. I'd really hoped we'd get that capability (and still really want it) to allow carving up approval of specific files in the root dir. The things in the root that change regularly are:
* go.mod/go.sum (changes frequently, dep-approvers alias should have approva

[2022-10-05 17:28] SergeyKanzhelev commented on #112814
/triage accepted

[2022-10-05 17:28] SergeyKanzhelev commented on #112814
/assign @rphillips

[2022-10-05 17:30] jseparovic commented on #112861
Is 1.22 in support? I’m using
https://github.com/planetscale/vitess-operator and that’s their highest
supported version

On Wed, Oct 5, 2022 at 10:20 AM Sergey Kanzhelev ***@***.***>
wrote:

[2022-10-05 17:32] lavalamp commented on #112867
+1 to @liggitt's proposal; I don't trust the next company which accidentally captures root owners to do the right thing, I think this power shouldn't exist at all.

[2022-10-05 17:32] SergeyKanzhelev commented on #112835
/cc @swatisehgal

[2022-10-05 17:36] SergeyKanzhelev commented on #112795
/remove-kind bug
/kind support

Please mark it as a bug if you will have indications that this is a kubernetes issue. Also the version you are using is very old and out of support by open source. Please try this behavior on newer version of Kubernetes and report back.

[2022-10-05 17:41] haqa commented on #57291
I disagree with the labeling of this as a feature request. This is clearly a bug. Such a significant factor as an ever increasing delay in restarting containers that may be exiting for business-valid reasons is clearly a monumental oversight.

[2022-10-05 17:42] thockin commented on #112867
I worry about the lack of people who can approve anything in an emergency,
but it's entirely hypothetical (so far) so +1

On Wed, Oct 5, 2022 at 10:32 AM Daniel Smith ***@***.***>
wrote:

[2022-10-05 19:47] khenidak commented on #111824
**Questions:**
- Why are we tracking LB-HC status?

**Comments:**
- State NODE _is not_ in LB -> NODE _is LB: remove dependency on readiness. LB probes should identify if it is ready or not. What is ready to us may not be ready from LB POV due to network disruption. The inverse is also true ready/not ready is kubelet status not the readiness of pods running.
- I remember seeing that you can still

[2022-10-05 20:04] jsturtevant opened #112885 "When a Hostprocess container using new containerd (1.7 alpha) with the working directory set it doesn't map to right location"
### What happened?

If I have a container with the following:

[code]

and a yaml spec like:

[code]

This doesn't work since the container end up with the working directory of `c:\debug` and the binary is in c:\hpc\debug`. This behavoir works in containerd 1.6

### What did you expect to happen?

Backwards compat for HPC.

### How can we reproduce it (as minimally and precisely as possible)?

Ins

[2022-10-05 20:04] jsturtevant commented on #112885
/cc @marosset

[2022-10-05 20:09] khenidak commented on #111820
/triage needs-information

we still at "need more info" phase.

[2022-10-05 20:13] khenidak commented on #109575
aye. It is the guidance. Though we all agree that it is not ideal. Let us close this unless someone has more to say.

[2022-10-05 20:55] jeroenrnl commented on #112820
No, it's definitely not a Traefik issue. I have the same problem on all my services.
I see the counters on the "has no local endpoints" IPtables rule increase if I connect to the service from a pod running on a different node than where the endpoint is:

For example, Gitea, presents a port 22 service for git, gitea is running on kube12:
[code]
[code]
[code]
[code]
[code]

[2022-10-05 20:55] SergeyKanzhelev commented on #112861
Yes, 1.22 is supported https://kubernetes.io/releases/ We encourage to test things on latest versions to simplify our triage process and ensure that we spend time effectively.

During triage @rphillips mentioned it may be by design that the command line argument update is not supported. I found this documentation https://kubernetes.io/docs/concepts/workloads/pods/#pod-update-and-replacement but it

[2022-10-05 20:55] akhilles commented on #112491
A better proposal might be to move some of the EndpointSlice utilities and reconciliation logic into a staging repository. Making the `reconcile` function reusable via a library would be valuable for custom EndpointSlice controllers because it’s hard to get right (lot of subtle edge cases) and forking/reimplementing isn’t ideal. There are custom Endpoints/EndpointSlice controllers that are being u

[2022-10-05 20:58] OliverCole commented on #87149
/remove-lifecycle stale

[2022-10-05 21:05] robscott commented on #112491
I've been talking with @akhilles offline and agree that there's a good case for moving the core of our EndpointSlice controller logic (the reconciler) to a place that is easier to import. I think the EndpointSlice controller is somewhat unique in terms of controllers in kube-controller-manager. It was built with the idea that other controllers would exist to manage EndpointSlices (the managed-by l

[2022-10-05 21:10] BenTheElder commented on #112861
FWIW: If you know you need additional apiserver flags when creating the cluster you can add extra arguments via kubeadm config.

https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/

[code]

[2022-10-05 21:11] marosset commented on #112885
/cc @dcantah
too

[2022-10-05 21:17] jseparovic commented on #112861
Perfect! This process fixed the issue for me in 1.21.

[2022-10-05 21:17] #112861 closed

[2022-10-05 21:31] dcantah commented on #112885
Wait just to be clear, 1.7 alpha here == containerd's main branch? I don't see an actual release tag yet so wanna make sure I'm not losing it 🤣. But this was one of the things I thought we'd called out for working directory behavior.. I don't think there's a way to get backwards compat with what we were doing. The reason we used to do it that way was because we wouldn't know where the volume would

[2022-10-05 21:32] dcantah commented on #112885
I'd hope we can justify this as the previous way was truthfully pretty funky, and it doesn't make sense with what we have now with the better fs handling

[2022-10-05 21:39] jsturtevant commented on #112885
yes

[2022-10-06 00:03] brandond commented on #112814
I ended up having our static pod manifest generator keep the pod name+namespace+uid the same, and the container name the same. Changing any of those seems to result in things not getting cleaned up properly until the apiserver is available. I can change the command/args/env (basically any of the ContainerConfig other than the name) and it will reconcile properly.

[2022-10-06 00:08] stevekuznetsov commented on #112684
@lavalamp I think I've lost a bit of context over the time that this has been discussed. Could you please help me understand the pro/con framing that is continually pushing you to Option 1?

[2022-10-06 00:15] Riaankl opened #112890 "Write e2e test for replaceCoreV1NamespaceFinalize +1 Endpoints"
# Progress <code>[6/6]</code>

-   [X] APISnoop org-flow: [CoreV1NamespaceFinalizeTest.org](https://github.com/apisnoop/ticket-writing/blob/master/CoreV1NamespaceFinalizeTest.org)
-   [X] Test approval issue: #112890
-   [X] Test PR: #112891
-   [X] Two weeks soak start date: [testgrid-link](https://testgrid.k8s.io/sig-api-machinery-gce-gke#gce-serial&graph-metrics=test-duration-minutes&include-fi

[2022-10-06 00:17] Riaankl commented on #112890
/triage accepted

[2022-10-06 01:29] apelisse commented on #112826
Great suggestion actually, thanks! Note that your script is not atomic, you should add the resourceVersion in the patch to make sure no one changes the object and messes up the index of the managed fields between the get and the patch.

[2022-10-06 01:43] liggitt commented on #112793
with https://github.com/kubernetes/kubernetes/pull/112807 merged, is this resolved?

[2022-10-06 01:49] liggitt commented on #112811
The authorization layer (which RBAC is one implementation of) sits at a point in request handling prior to the body of the request being decoded, and does not have access to the body of the request. Admission is the correct way to get visibility to changes being made to specific fields and enforce policy on those fields.

As an aside, what field-level permissions could look like are being explored

[2022-10-06 01:49] #112811 closed

[2022-10-06 01:53] liggitt commented on #112867
I'm OOO tomorrow and Friday, but unless there are objections, I'll open a PR to do https://github.com/kubernetes/kubernetes/issues/112867#issuecomment-1268722455 on Monday if no one beats me to it

[2022-10-06 02:10] hasnainmakada-99 commented on #112757
Hey @auwsom can you please explain this issue in more detail cause I am interested to work in it

[2022-10-06 02:28] auwsom commented on #112757
@hasnainmakada-99 sure, with pleasure. What would you like to know? I believe the main k8s install process from the docs isn't working on the latest Ubuntu. Because the repo is back on Xenial which is Ubuntu 16.

[2022-10-06 02:32] hasnainmakada-99 commented on #112757
I work with windows so I haven't used k8s on ubuntu till now, thats why

[2022-10-06 04:29] codefromthecrypt commented on #112851
since I may have caused confusion, I'll restate a couple things about wasm (and wazero) especially as pertains to syscalls.

At the moment, there are only two compilers that can produce wasm golang/go and tinygo-org/tinygo. Both of these can target the "js" operating system, and both when doing so will be inefficient due to that. tinygo can alternatively target wasi, without forcing data through a

[2022-10-06 06:30] saschagrunert commented on #110928
Would it work to override the `GOGCCFLAGS`, I see that they use the `-fdebug-prefix-map=/tmp/go-build823405942=/tmp/go-build`:

[code]

Ref: https://reproducible-builds.org/docs/build-path/

[2022-10-06 06:38] Gikkman commented on #112826
Ah, yes, good catch. Thank you for pointing it out.

[2022-10-06 06:49] uablrek commented on #112820
I have used `EXTERNAL-IP` with the meaning of what you see with `kubectl get svc`. In you case (and mine) that is a "LoadBalancer IP".

[2022-10-06 07:14] rdavyd commented on #112874
Yes, right before that line. This is happening on all nodes of several identically configured clusters.
Kubelet runs as systemd service.

[2022-10-06 07:21] alculquicondor commented on #111948
For sure. You can write `/assign` in a comment.
Here's the KEP template https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template

Although it might be wise to discuss this in SIG meeting first.

[2022-10-06 09:00] marcinma commented on #112835
but this is not obvious behavior since there is min & max set in limit range. This is `defaults` limits (not min/max) that should be overwritten by pod. limits should be set to requests in this case imho

[2022-10-06 09:34] #109864 closed

[2022-10-06 09:42] brucelee138 opened #112893 "Exceeding the ephemeral storage limit not causing eviction in critical pods"
### What happened?

As per my understanding, when containers exceed their memory or cpu limits, they are restarted. But when they exceed ephemeral storage limit, the pod itself has to be destroyed and recreated (by eviction). Also, critical pods would not be evicted.
We have some pods marked as critical which at times consume ephemeral storage exceeding their limit (potentially filling up the disk

[2022-10-06 09:56] brucelee138 commented on #112893
/sig node

[2022-10-06 10:36] asm582 commented on #111948
/assign

[2022-10-06 11:38] dims commented on #112867
thanks a ton folks! glad to hear the new proposal and +1 Jordan on the plan for monday

[2022-10-06 11:39] marseel commented on #112771
/triage accepted

[2022-10-06 11:51] dims commented on #110928
this is so tricky @saschagrunert :( will dig more when i get back from my event this week

[2022-10-06 12:23] fromanirh opened #112896 "podresources metrics not exported"
### What happened?

In commit https://github.com/kubernetes/kubernetes/commit/1e7bb20c52e452a7ca061ca1dda1936e9df1f266 we added podresources-related metrics, to make sure the feature was monitoring-friendly. Because of a implementation bug, the metrics have been added, they are updated correctly, but they are never registered, so they don't show up when doing like
[code]

### What did you expect t

[2022-10-06 12:24] fromanirh commented on #112896
/sig node
/assign

[2022-10-06 12:27] everpeace commented on #112879
I put labels of sig/security and sig/architecture.  But I'd appreciate it if someone told me more suitable sig or area labels.

[2022-10-06 13:10] swatisehgal commented on #112896
/cc
/triage-accepted

[2022-10-06 13:35] #108741 closed

[2022-10-06 13:38] kkkkun commented on #112319
Could you provide CPU profile？ It may be usefully, @xigang

[2022-10-06 14:42] alexanderConstantinescu commented on #111824
I think most of your comments / question is addressed on https://github.com/kubernetes/enhancements/pull/3460

I've updated the KEP and gone into further details about how the lifecycle of Nodes/Endpoints/service proxy impacts application ingress. Hopefully that will be beneficial as background and provide a good ground for a discussion going forwards.

Nothing really tracks the LB-HC status. The

[2022-10-06 15:05] BenTheElder commented on #112835
limit range limits what the user can set, it doesn't perform any mutations other than the defaulting and doesn't claim to.

Min/max enforce that pods cannot set higher / lower.
The default ensures that if the pod doesn't set a limit it will have one.

personally I would remove the default limit, especially at 10m, this will aggressively limit pods.

it would be, if the pod set a limit

that would

[2022-10-06 15:28] weberc2-tempus commented on #112573
Yes, that's the node that it *should have been scheduled onto*, which already has completely pulled the image, so I would expect the container requests to be already. Instead it gets scheduled onto a node which hasn't completed its image pull yet. Here's a complete example.

**Node that the pod _should have been scheduled onto_**
<details>

[code]

</details>

**Node that pod _was actually schedul

[2022-10-06 15:37] #112835 closed

[2022-10-06 15:56] evankanderson commented on #111937
Ping -- we were reviewing our outstanding issues today, and noticed this hasn't had activity in 6 weeks.

[2022-10-06 16:10] apelisse commented on #111937
I'm adding this to my list of issues so it's more likely to be tracked. I don't think it's a major issue to fix, but I don't have anyone to assign to at the moment.

/wg api-expression

[2022-10-06 16:35] logicalhan commented on #112874
/remove-sig instrumentation
/sig node

[2022-10-06 16:37] carantunes commented on #108609
/remove-lifecycle stale

[2022-10-06 16:38] logicalhan commented on #112736
/triage accepted

[2022-10-06 16:38] logicalhan commented on #112708
/assign @dashpole
/triage accepted

[2022-10-06 17:05] Huang-Wei commented on #91633
Not quite "replacing" the benchmark integration test, it's complementary :)

Here are some examples in scheduler's codebase that benchmark a particular function:

[code]

[2022-10-06 17:11] iancoolidge opened #112899 "Move 'pkg/kubelet/cm/cpuset' to kubernetes/utils"
### What would you like to be added?

I would like to use 'pkg/kubelet/cm/cpuset' as a library in a different project.
Is it possible to relocate it to kubernetes/utils?

### Why is this needed?

'cpuset' package is not staged as part of this package interface, it's a subpackage.

[2022-10-06 17:16] MushuEE commented on #112899
/sig node

[2022-10-06 18:47] mauriciopoppe commented on #101333
/reopen

[2022-10-06 18:57] msau42 commented on #101333
/remove-lifecycle rotten

[2022-10-06 19:03] xing-yang commented on #101333
@msau42 @mauriciopoppe I thought there is already an online e2e snapshot test added?

[2022-10-06 19:06] thockin commented on #112867
Can we not pull the same symlink trick we do with Maklefiles?  Or is Go
too "smart" for that?

On Thu, Oct 6, 2022 at 5:51 AM Jordan Liggitt ***@***.***>
wrote:

[2022-10-06 19:19] msau42 commented on #101333
It looks like maybe the ephemeral case tests the online scneario: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/snapshottable.go#L176

But I think we should make online vs offline more explicit. I think some storage systems cannot support offline snapshots.

[2022-10-06 19:21] msau42 commented on #101333
There may also be room to cleanup some tests. I haven't looked into if https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/provisioning.go#L208 has any differences.

[2022-10-06 19:21] msau42 commented on #101333
And there's still a gap in cloning tests

[2022-10-06 20:28] jeroenrnl commented on #112820
OK. I found something:
[code]
The source on that first rule is **10.32.0.0/16** (This is my `cluster-cidr`), however, my pod has an IP out of **10.34.0.0/16**! It never hits this rule. **10.34.0.0/16** is my `calico-cidr`:

[code]

I'm not sure why I chose the Calico CIDR to be different from the POD CIDR, because now reading back the documentation on the Calico installation, it doesn't seem best

[2022-10-06 20:37] jeroenrnl commented on #112820
That was much easier than expected: https://projectcalico.docs.tigera.io/networking/migrate-pools

Thanks for your help!

[2022-10-06 20:37] #112820 closed

[2022-10-06 23:41] aojea commented on #112491
I'm afraid of creating this dependency, it always happen that we have to break and then users will complain despite we always said "we don't offer guarantees", or we add new features that people don't need , ...

If the use case is that people don't like to have to implement it , I throw another idea, that is based on the envoy control-plane project https://github.com/envoyproxy/go-control-plane

[2022-10-06 23:57] aojea commented on #112847
so, the `SpdyRoundTripper` Type has an option to set a custom Dialer

https://github.com/kubernetes/kubernetes/blob/26ce586a085b5e84b100dc611a86c033dd226bc8/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go#L47-L71

however, it seems that `NewSPDYExecutor` doesn't cascade that option from the RESTClient config.

Is my analysis correct @tzneal ?

[2022-10-07 00:05] tzneal commented on #112847
Almost, the `rest.Config` has a Dial function which is more generic than a `*net.Dialer`:
https://github.com/kubernetes/kubernetes/blob/26ce586a085b5e84b100dc611a86c033dd226bc8/staging/src/k8s.io/client-go/rest/config.go#L134

The PR at https://github.com/kubernetes/kubernetes/pull/112848 passes this through and modifies SpdyRoundTripper to prefer to use this dial function instead of the dialer.

[2022-10-07 00:13] #108346 closed

[2022-10-07 00:18] aojea commented on #112778
maybe for conformance the test should use kubectl directly?

[2022-10-07 00:24] aojea commented on #112442
no time sorry, this kind of problems usually are solved when you can reproduce them on demand,  so you can check all the network path and components

[2022-10-07 01:04] xigang commented on #112319
@kkkkun It has not been reproduced recently. At that time, I guess that it was caused by the leak of goroutine, and checked the goroutine pprof.
![image](https://user-images.githubusercontent.com/3377677/194444865-73b03fc9-84e7-408a-b742-e5cdf99389bf.png)

[2022-10-07 04:07] sathyanarays opened #112908 "Ephemeral Containers link provided in CHANGELOG is broken"
### What happened?

https://github.com/kubernetes/kubernetes/blob/master/docs/concepts/workloads/pods/ephemeral-containers

The above link provided in **v1.25.0 -> What's New (Major Themes) -> Ephemeral Containers Graduate to Stable ** is broken. GH responds with page not found

### What did you expect to happen?

To open the documentation related to ephemeral-containers

### How can we reproduce

[2022-10-07 04:09] sathyanarays commented on #112908
/wg docs

[2022-10-07 04:13] sathyanarays commented on #112908
/sig docs

[2022-10-07 05:58] kerthcet commented on #110854
Refer to the comment https://github.com/kubernetes/kubernetes/issues/110854#issuecomment-1178603151, I'd like to close this issue then.
/close

[2022-10-07 05:58] #110854 closed

[2022-10-07 07:18] vaibhav2107 commented on #112908
The correct link for ephemeral containers would be:
https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/

[2022-10-07 08:33] Gikkman commented on #112826
We've found another case that seems to be related to this same behavior. I see there's a MR already in place, so maybe you just need to double check that it covers this too.

Using `kubectl rollback undo` creates a new field manager with another operation set (`operation: Update`) that I can't seem to control. The easiest way to replicate it I've found is this:

Create initial deployment
[code]

R

[2022-10-07 09:33] mimowo opened #112910 "Standardization of the OOM kill communication between container runtime and kubelet"
Opening the issue to move the discussion here, based on the [message to CNCF Tag Runtime](https://lists.cncf.io/g/cncf-tag-runtime/topic/standardization_of_the_oom/94093173?p=,,,20,0,0,0::recentpostdate/sticky,,,20,2,0,94093173,previd%3D1664812590813586286,nextid%3D1637210209940337491&previd=1664812590813586286&nextid=1637210209940337491) and the group meeting discussion.

The motivation is from t

[2022-10-07 09:34] yxxhero commented on #112896
/triage accepted
/cc

[2022-10-07 09:34] mimowo commented on #112910
/sig-node

[2022-10-07 09:36] Gikkman opened #112911 "Kubectl rollout undo can cause unexpected config merges"
### What happened?

When applying a manifest after using `kubectl rollout undo`, some fields I've removed from my manifest is still present.

The easiest way I've found to cause this is to create a base deployment, apply an update (that removes some fields), rollback the update, then apply the same (or very similar) update again. The first time you apply the update, the fields are removed as expec

[2022-10-07 09:37] mimowo commented on #112910
FYI
/cc @alculquicondor @soltysh @bobbypage @SergeyKanzhelev @raravena80 @haircommander

[2022-10-07 09:52] alculquicondor commented on #112910
@mikebrow and @Random-Liu as maintainers of containerd

[2022-10-07 10:09] yylt commented on #109998
@bobbypage  v1.24.6 still existd.

[2022-10-07 11:14] alculquicondor opened #112912 "Resolution of preemption_victims metric is limiting"
### What would you like to be added?

Have better resolution of the metric. The range is probably good (0 to 50), but the resolution is not very useful. Maybe it should be an exponential scale instead of linear https://github.com/kubernetes/kubernetes/blob/e11e226b23c0213021a6678002132ad102d488e7/pkg/scheduler/metrics/metrics.go#L81

### Why is this needed?

We should have more visibility around a

[2022-10-07 11:16] alculquicondor commented on #112912
/sig scheduling
/sig instrumentation

@logicalhan is the proposal backwards compatible? The guide is not very clear about changing the buckets, but I seem to remember it's ok to change them
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/metric-stability.md#stable

[2022-10-07 11:19] ardaguclu commented on #112826
That is a good catch, but it is a different problem than SSA&CSA conflict. `rollout undo` adds a new fieldmanager with `operation: Update` as you said, it takes ownership and results in exact problem in here(2 same containers and one of them is failing).

Maybe we should do _something_ in here https://github.com/kubernetes/kubernetes/blob/a9593d634c6a053848413e600dadbf974627515f/staging/src/k8s.io

[2022-10-07 11:42] vaibhav2107 commented on #112910
/sig node

[2022-10-07 12:02] Gikkman commented on #112826
Alright, thanks for taking a look. I opened an issue related to `rollout undo` over at #112911 so I guess that one is better for tracking that behavior then.

[2022-10-07 13:43] ncopa commented on #112477
I may be completely wrong but it awfully much looks like `pkg/proxy/iptables` executes `iptables-save` here:
https://github.com/kubernetes/kubernetes/blob/e11e226b23c0213021a6678002132ad102d488e7/pkg/proxy/iptables/proxier.go#L393

and then send it back to kernel with iptables-restore here:
https://github.com/kubernetes/kubernetes/blob/e11e226b23c0213021a6678002132ad102d488e7/pkg/proxy/iptables/pr

[2022-10-07 13:46] #101776 closed

[2022-10-07 13:51] dashpole commented on #112708
[swagatbora90](https://github.com/swagatbora90) is there anything else that needs to be done, or should we close this?

[2022-10-07 14:04] Darshnadas commented on #111701
I won't be able to work on this, due to other work commitments. Hence, unassigning myself, anyone feel free to take upon this issue.

[2022-10-07 14:38] Sunkanmyt commented on #56980
@dexterpuru where you able to solve the error.

[2022-10-07 14:51] simhnna opened #112915 "Can't watch for custom resources using client-go"
### What happened?

Listing objects works fine. Watching for objects doesn't however. It errors out during a Decode [here](https://github.com/kubernetes/apimachinery/blob/master/pkg/runtime/serializer/versioning/versioning.go#L190)
with
`error(*k8s.io/apimachinery/pkg/runtime.notRegisteredErr) *{schemeName: "pkg/runtime/scheme.go:100", gvk: k8s.io/apimachinery/pkg/runtime/schema.GroupVersionKind {

[2022-10-07 15:13] ncdc commented on #112915
Your code is trying to request an internal API version, which is not supported by CRs. I would recommend you construct your client config in a way similar to this: https://github.com/kubernetes/client-go/blob/master/examples/out-of-cluster-client-configuration/main.go

You can either use a dynamic client to try to access your CRs, or generate your own clientset (see https://github.com/kubernetes/a

[2022-10-07 15:23] nitishmalang commented on #112879
assign me

[2022-10-07 15:27] danwinship commented on #112477
That's the `mode: iptables` proxy source, and you're using `mode: ipvs`. The ipvs proxier doesn't ever call `iptables-save` in 1.25.

But ignoring that, even in the iptables proxier, no rules get copied from the `iptables-save` output to the `iptables-restore` input; the only part of the `iptables-save` output that it looks at is the chain declarations, which it uses to figure out if there are sta

[2022-10-07 15:44] nicoclau opened #112918 ""workingSetBytes": 0 in all the pods with Docker Desktop v4.12.00 and Kubernetes v1.25.0"
### What happened?

I just installed on windows 10 the lastest version of Docker Desktop and enabled Kubernetes with the cluster Docker Desktop.

[code]

### What did you expect to happen?

To get the expected memory usage for each pod.

### How can we reproduce it (as minimally and precisely as possible)?

Docker Desktop download v 4.12.0 and enable kubernetes v 1.25.0

### Anything else we need

[2022-10-07 15:56] pbetkier commented on #79272
/reopen
/remove-lifecycle rotten

I don't want to loose this issue, it's still important.

[2022-10-07 16:05] jayunit100 commented on #110839
i just noted this is ... really slow, maybe the slowest of all conformance tests ?

[2022-10-07 16:06] jayunit100 commented on #110839
I just ran a test of what were the longests/shortest of our tests, and this came up , maybe we should optimize it?

[code]

[2022-10-07 17:24] xmcqueen commented on #109295
/reopen

[2022-10-07 17:24] SergeyKanzhelev commented on #109295
/reopen

[2022-10-07 17:31] xmcqueen commented on #109295
Currently the image builds for the first arch but fails when it enters the cross compiling phase and specifically when it tries to  do apt installs from within the qeum-*-static emulator:

`error: failed to solve: process "/dev/.buildkit_qemu_emulator /bin/sh -c apt-get update && apt-get install -y wget time" did not complete successfully: exit code: 100`

The other images in node-perf fail in the

[2022-10-07 17:49] SergeyKanzhelev commented on #112874
@logicalhan I have added sig instrumentation to comment if there may be any changes in logging during kubelet initialization. Can it stop writing to stdout and start writing directly to the file instead?

[2022-10-07 18:33] SamGerber commented on #79354
Clicking through to the commits that mention this issue, it seems like the workaround they use is this:

`APIGroup: new(string),`

Worked for me.

[2022-10-07 18:34] Jeffwan commented on #112264
@vinaykul I try to understand the source of the performance data.  `869s vs 2988s` this is the before/after from prow job   pull-kubernetes-e2e-gce-ubuntu-containerd?  test `Kubernetes e2e suite: [It] [sig-node] Pod InPlace Resize Container [Feature:InPlacePodVerticalScaling]`

[2022-10-07 18:55] xmcqueen commented on #109295
I tried pinning many relevant versions of `tonistiigi/binfmt` from [here](https://hub.docker.com/r/tonistiigi/binfmt/tags) but none helped.

Here's a clue: https://github.com/docker/buildx/issues/495

This ugly hack gets it past the observed error:

[code]

[2022-10-07 20:42] SergeyKanzhelev commented on #112814
/close

ok, I don't think it is not expected behavior. @rphillips feel free to reopen

[2022-10-07 20:42] #112814 closed

[2022-10-07 21:47] #109889 closed

[2022-10-07 21:50] Santosh1176 commented on #111701
Hey can I work on this?

[2022-10-08 01:47] codefromthecrypt commented on #112851
here's another resource that might help with the decision outcome here. @mathetake presents how FFI works in webassembly and specifically wazero also https://speakerdeck.com/mathetake/cgo-less-foreign-function-interface-with-webassembly

[2022-10-08 02:05] pacoxu commented on #110905
/remove-lifecycle stale
There are some discussions in pr and sig meetings. I will update the pr ASAP.

[2022-10-08 02:28] MickMi commented on #111195
ok, the solution for me is that you need to check the available IP of your service, it may not be the same as your public IP.

[2022-10-08 03:22] BenTheElder commented on #112477
@ncopa what k0s version, kube-router image, etc?

AFAICT kube-router is used as the CNI in k0s when it is used, deployed with an image, that probably has some other iptables version.

https://github.com/k0sproject/k0s/blob/5d5fa1161efd675a8eacc7aa02fe22a8e2ed56d8/docs/networking.md#in-cluster-networking

Searching kube-router while thinking about:

At a glance, it looks like kube-router _does_ `ip

[2022-10-08 04:30] catsun26 opened #112927 "The node was low on resource: memory"
### What happened?

**### The Server have free memory,But nodes show 100% and pod's status is Evicted**

kubectl get pods -nistio-system
NAME                                   READY   STATUS    RESTARTS   AGE
istio-citadel-894d98c88-zkt23               0/1     Evicted   0          102d

**#kubectl  -nistio-system describe pods istio-citadel-894d98c88-zkt23
Message:        The node was low on resou

[2022-10-08 06:55] answer1991 commented on #112733
@akankshakumari393 Hi, I think node-controller has some complex logic, it's not suitable for a new contributor. I have reviewed your PR and found there are some broken UT. Please close your PR, @xenv and me were trying to fix this issue.

/assign

[2022-10-08 06:58] pacoxu commented on #112795
I am not familiar with it. But it seems to be a device plugin problem in the Nvidia plugin, kubelet will call the device plugin.

For the Kubernetes part, you can refer to https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/.

[2022-10-08 07:31] cyclinder commented on #112899
/assign

[2022-10-08 07:53] lengrongfu commented on #112912
Can I work for this issue？@alculquicondor

[2022-10-08 07:53] lengrongfu commented on #112912
/assign

[2022-10-08 08:32] catsun26 commented on #112927
Restarting the server solves the problem

[2022-10-08 08:32] #112927 closed

[2022-10-08 08:45] arezvani opened #112929 "Keep source IP when clients request to pod on Kubernetes"
### What would you like to be added?

I want to prevent brute force attacks to my services on Kubernetes. My solution is to ban IPs that have many failed attempts but every request will be SNAT (Source NAT) and I don't know what can I do. Is there Any proxy I can use for my TCP requests and after that I can ban IPs?

### Why is this needed?

prevent brute force attacks to my services on Kubernetes

[2022-10-08 08:50] 249043822 opened #112930 "Pod with tolerationSeconds 0 for taint "unreachable" would be scheduled and evited frequently while node became ready from not ready"
### What happened?

1. create a cluster with 1 master and 2 nodes
2. create a statefulset which has affinity with one of 2 nodes
[code]
3. stop kubelet on the pod running node
4. after pod was evicted, start the kubelet again to make node ready
5. see the controller-manager logs
[code]
7. see the kube-scheduler logs
[code]

The reason is that while the node becomes ready from not ready, `nc.doNode

[2022-10-08 08:51] 249043822 commented on #112930
/sig node
/sig apps

[2022-10-08 08:56] yangjunmyfm192085 commented on #112930
/triage accepted

[2022-10-08 09:01] pacoxu commented on #98807
/remove-lifecycle stale

[2022-10-08 09:01] kerthcet commented on #106426
/remove-lifecycle stale

[2022-10-08 09:08] 249043822 commented on #112930
/assign @chymy

[2022-10-08 10:37] pacoxu commented on #110440
still failed
/remove-lifecycle rotten

[2022-10-08 10:45] kerthcet commented on #112699
Doesn't this only happened on docker runtime? Making the image names explicit is better I think, this is consistent with other runtimes.

[2022-10-08 11:10] kerthcet commented on #112573
The scheduling result is affected by many plugins, so it's better to provide the scoring logs, it's easy for analysis.

Also, You can dump all the logs, I can help in digging the cause.

[2022-10-08 11:17] neolit123 commented on #112834
/sig testing

[2022-10-08 11:18] neolit123 commented on #112915
/kind support
/sig api-machinery

[2022-10-08 11:19] neolit123 commented on #112918
are you using cri-dockerd?
1.25 should not work docker without the cri shim.

/sig node

[2022-10-08 11:20] neolit123 commented on #112929
/sig network security

[2022-10-08 11:28] rdavyd commented on #112874
Config is default and empty.
<details><summary>journald.conf</summary>
<p>

[code]
</p>
</details>

Journald configuration is absent elsewhere.

[2022-10-08 12:01] tkashem commented on #104842
https://storage.googleapis.com/k8s-triage/index.html?date=2022-10-01&job=unit&test=TestApplyResetFields yields zero result

[2022-10-08 13:48] fabioandreola commented on #62434
I have also encountered this issue while trying to move one of my workloads to K8S. I tried to run a container in _privilege_ mode with `SYS_NICE` capability on a Centos 8 with group v2, but I was not able to run a workload that needs `SCHED_FIFO`.

@CJLove , can you share how you updated the `cpu.rt_runtime_us `using your operator? In my case, it is mounted as read-only so I am not sure if is the

[2022-10-08 15:03] SubhasmitaSw commented on #99139
Hello @liggitt Just checking in to see if this is still on schedule for K8s 1.26, Bug Triage Shadow here.
Thanks!

[2022-10-08 16:35] BenTheElder commented on #112899
Hi @cyclinder, has SIG node discussed if this is something they want to support yet?

[2022-10-08 16:58] #100870 closed

[2022-10-08 16:58] #109956 closed

[2022-10-08 17:25] sftim commented on #112911
/transfer kubectl

Hope that's OK

[2022-10-08 17:29] sftim commented on #112701
We could transfer this to [k/kubectl](https://github.com/kubernetes/kubectl) (Prow command `/transfer kubectl`)

[2022-10-08 17:30] sftim commented on #112682
/transfer kubectl

That seems appropriate, because the `kubectl convert` plugin is in-tree.

[2022-10-08 17:58] #109655 closed

[2022-10-08 18:40] xens commented on #58065
The fix has been introduced in Kubernetes 1.24. /close

[2022-10-08 18:58] #109982 closed

[2022-10-08 20:58] #109429 closed

[2022-10-08 23:14] dex4er commented on #100485
I believe I had this issue: the PVC with annotation for dead node.

My workaround:

[code]

[2022-10-09 02:12] ispy1 commented on #50375
+1

[2022-10-09 03:27] pacoxu commented on #111762
https://github.com/kubernetes/kubernetes/pull/112255 cannot fix this.

I checked apiserver log, it continues to restart.
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-cos-gce-slow/1578899578587975680/artifacts/bootstrap-e2e-master/

Apiserver log
[code]
etcd also restarted 4 times.
[code]
kubelet log
[code]

Finally I found the pod are killing
[code]

[2022-10-09 03:55] 249043822 commented on #112893
this is not a bug, it should be a feature

[2022-10-09 03:58] #109984 closed

[2022-10-09 04:38] MarkKharitonov opened #112935 "kubectl rollout history deployment -o yaml --revision N seems to ignore the revision parameter and always use the most recent one."
### What happened?

[code]

### What did you expect to happen?

[code]

### How can we reproduce it (as minimally and precisely as possible)?

See the **What happened?** section.

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>
GCE VMs, unmanaged K8s cluster created in the context of the LFD259 course (CKAD Lin

[2022-10-09 04:54] fredkan opened #112936 "kubelet panic when apiserver restart"
### What happened?

kubelet panic with nil map when apiserver restart and kubelet is allocating scaler resources.

![image](https://user-images.githubusercontent.com/5801716/194738589-6d205c8b-777e-4e01-9d35-4cc689167c36.png)

### What did you expect to happen?

kubelet should not panic.

### How can we reproduce it (as minimally and precisely as possible)?

when kubelet is allocating scaler resou

[2022-10-09 04:58] fredkan commented on #112936
/sig node

[2022-10-09 05:39] #111392 closed

[2022-10-09 06:08] pacoxu commented on #111762
I cannot find out who trigger the kill of those pods on master node.
There is no enough kernel/system log to see if there is oom or other reason of killing containers.

[code]

[2022-10-09 06:16] carezkh opened #112937 "Forbidden accessing or modifying other pod's cgroup in privileged container"
### What happened?

I created a `privileged` pod on K8S v1.24.0. Use `kubectl exec` to enter the pod's shell, i noticed that the whole host cgroupfs was mount at `/sys/fs/cgroup` with `rw` mode. And i can get other pod's cgroup, even modify it!

Created `privileged` pod on K8S v1.25.2, same results. Created `privileged` pod on K8S v1.22.0 and v1.23.0, i can only access and modify the cgroup of the

[2022-10-09 06:20] SayakMukhopadhyay commented on #88709
/remove-lifecycle stale

[2022-10-09 06:29] carezkh commented on #112937
/sig node

[2022-10-09 07:39] AndrewSav commented on #112124
Will <https://github.com/kubernetes/kubernetes/pull/112650> fix the OOM issue that we are seeing?

[2022-10-09 08:43] waidinsamkeit opened #112940 "The update Pod was having trouble allocating memory"
### What happened?

The update Pod was having trouble allocating memory
Version: Kubernetes1.7.9
Docker version: 20.10.7

When I tried to update a Pod
`
mkdir /sys/fs/cgroup/memory/kubepods/burstable/podf2552b87-fd99-4c85-9b6c-e997dcdb6a0f: cannot allocate memory
`

### What did you expect to happen?

mkdir /sys/fs/cgroup/memory/kubepods/burstable/podf2552b87-fd99-4c85-9b6c-e997dcdb6a0f: cannot al

[2022-10-09 09:39] soulseen commented on #112795
@pacoxu thanks for your reply, maybe I found the root cause.
`cadvisor` will call the Nvidia manager shared object `libnvidia-ml.so`, then `libnvidia-ml` will create the IRQ handler process `irq/irpNum-nvidia`, it hold the GPU device cause rebind device stucked.
[code]

[2022-10-09 09:49] pacoxu commented on #112940
nokmem problem is a known issue in my mind. See https://klts.io/docs/kubernetes/patches/nokmem/.

/kind support
v1.17 is the end of life in the k8s community.
/close

[2022-10-09 09:50] #112940 closed

[2022-10-09 09:56] pacoxu commented on #112940
As I know, there are 3 ways to fix it.
1. kernel upgrade to 4.0+: https://github.com/kubernetes/kubernetes/issues/61937#issuecomment-377585452
2. rebuild the kubelet with nokmem args. See https://github.com/kubernetes/kubernetes/issues/96701#issuecomment-911061574
3. Set cgroup.memory=nokmem in grub: see https://github.com/kubernetes/kubernetes/issues/61937#issuecomment-567042968

[2022-10-09 10:03] pacoxu commented on #112935
/sig cli

[2022-10-09 10:16] pacoxu commented on #112936
https://github.com/kubernetes/kubernetes/blob/v1.23.6/pkg/kubelet/cm/devicemanager/manager.go#L720

[2022-10-09 10:18] pacoxu commented on #112936
Can this be reproduced? Could you share some more information to reproduce it?
After kubelet restart, does it happen again?

[2022-10-09 10:56] rkojedzinszky commented on #112443
So, again.

I have deployed a fresh 1.25.2 cluster with kubeadm, with one worker node:

[code]

Systemd is updated, inhibitors get notified.

Enabled gracefulnodeshutdown on selected node:

[code]

Enabled verbose logging for kubelet.

Watch https://asciinema.org/a/526839 for kubelet logs when issuing `systemctl reboot`, and see that only a few pods get status updates.

[2022-10-09 11:22] waidinsamkeit commented on #112940
Ok thanks

[2022-10-09 13:13] cristianrat commented on #79224
same

[2022-10-09 13:49] NoicFank commented on #112745
/ping @caesarxuchao @yliaog PTAL, thanks a lot.

[2022-10-09 16:43] SergeyKanzhelev commented on #112795
@soulseen perhaps `DisableAcceleratorUsageMetrics` feature gate will help

[2022-10-09 16:44] SergeyKanzhelev commented on #112124
likely not

/reopen

[2022-10-09 17:33] dwzkit opened #112942 "k8s v1.23.6 installed in binary kubelet "Unable to authenticate the request due to an error" err="[invalid bearer token, square/go-jose: error in cryptographic primitive]""
### What happened?

1、A new work k8s-node03 is added
<img width="303" alt="image" src="https://user-images.githubusercontent.com/41875799/194770650-404c1f82-43e1-4226-827c-d26fc7b02b50.png">
2、Everything seems to be working well
<img width="1066" alt="image" src="https://user-images.githubusercontent.com/41875799/194770696-5a921fe8-3b5e-4c6c-ba67-c1cb1c22460e.png">
3、The pod created on k8s-node03

[2022-10-09 18:25] r3motecontrol commented on #112935
It appears this was fixed in PR [111093](https://github.com/kubernetes/kubernetes/pull/111093)

[2022-10-09 20:09] #106437 closed

[2022-10-09 20:23] MarkKharitonov commented on #112935
Oh, great.
What k8s version can we expect to have this fix?
Thank you.

[2022-10-09 20:31] aojea commented on #112929
https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip

[2022-10-09 22:09] #109377 closed

[2022-10-09 22:45] Riaankl commented on #112778
We try and avoid that.
Got some good feedback in last week's SIG K8s Infra meeting that we will research.

[2022-10-09 23:25] BenTheElder commented on #102549
As far as I can tell conformance is open to adding these but someone needs to work on the tests if we want these.

Since they're marked help wanted, there's especially no point letting it age out ...

/remove-lifecycle stale
/lifecycle frozen

[2022-10-10 01:00] qingzhongli opened #112943 "build kubeadm fail error: cannot touch '_output/bin/prerelease-lifecycle-gen': No such file or directory"
### What happened?

Following the link https://github.com/kubernetes/community/blob/master/contributors/devel/development.md, try to build kubeadm, got error: `touch: cannot touch '_output/bin/prerelease-lifecycle-gen': No such file or directory`, the details are listed as following:
[code]
Build envoriment is `CentOS Linux release 7.9.2009 (Core)`, `go1.17.13.linux-amd64`, `Kubernetes v1.23.12`

[2022-10-10 01:01] qingzhongli commented on #112943
/sig release

[2022-10-10 01:46] pacoxu commented on #112935
This will be fixed in the next release v1.26. It is not cherry-picked to v1.25 or before yet. Cherry-pick may be preferred.

[2022-10-10 02:17] MarkKharitonov commented on #112935
Got it. Thank you.

[2022-10-10 02:17] #112935 closed

[2022-10-10 02:25] soulseen commented on #112795
@SergeyKanzhelev thanks, but `DisableAcceleratorUsageMetrics ` haven't been supported yet in `kubelet` version 1.18.3.

[2022-10-10 02:39] pacoxu commented on #112795
v1.18 is end of life since 2021-06-18. See https://kubernetes.io/releases/patch-releases/#non-active-branch-history.
DisableAcceleratorUsageMetrics was added since 1.19 as alpha.

[2022-10-10 02:40] pacoxu commented on #112942
/sig node auth
for triage

[2022-10-10 03:25] soulseen commented on #112795
maybe upgrate to 1.19 is a good choice.

[2022-10-10 03:25] #112795 closed

[2022-10-10 03:39] qingzhongli commented on #112943
The problem was fixed when I reset the operating system and installed only the necessary `git gcc make wget jq rsync which`, specific operations are as follows:
[code]

[2022-10-10 03:39] #112943 closed

[2022-10-10 03:42] dwzkit commented on #112942
[code]
srcIP="172.17.125.215:30131 " was from old K8S master.
I didn't do kubectl delete node03 to delete the node from old K8S,I just format node03. It happened that the master of the old K8S and the master of the new K8S were in the same network(Local Area Network), so the new node(k8s-node03) received the message from the old K8S master.I delete node from old K8S, then errors disappear.Not BUG.

[2022-10-10 03:42] #112942 closed

[2022-10-10 04:03] vaibhav2107 commented on #110815
/remove-lifecycle stale

[2022-10-10 04:46] kishen-v commented on #112802
Updates:

Observed that with the latest version of Go dev branch, the underlying type is no longer fmt.WrapError, but is rather errors.ErrorString when a nil error is using the`%w` verb is used.

Both, the expected error and the returned error had a similar type until go 1.19 - `fmt.WrapError`.

The changes are made in https://github.com/kubernetes/kubernetes/pull/112944 where the earlier used `as

[2022-10-10 05:37] kerthcet commented on #112730
matchLabelKeys only used in topology spreading, it's an in-memory operation, will not display in `kubectl describe`.

[2022-10-10 05:38] cyclinder commented on #107193
/remove-lifecycle stale

[2022-10-10 07:44] sanposhiho opened #112947 "Introduce `MatchLabelKeys` (the same one as Pod Topology Spread) to `PodAffinityTerm`"
### What would you like to be added?

Introduce `MatchLabelKeys` to [PodAffinityTerm](https://pkg.go.dev/k8s.io/api/core/v1#PodAffinityTerm) (like [we do to Pod Topology Spread](https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/3243-respect-pod-topology-spread-after-rolling-upgrades)).

### Why is this needed?

Introduce `MatchLabelKeys` (like [we introduce it to Pod Topol

[2022-10-10 07:48] sanposhiho commented on #112947
cc @kubernetes/sig-scheduling-leads

[2022-10-10 07:51] dispensable commented on #112151
Same issue here with `debian11 buster` and `cgroupv2` enabled.

- kubelet: v1.22.4
- runc: v1.1.4

[2022-10-10 08:29] dulek commented on #111007
/remove-lifecycle stale

[2022-10-10 09:21] sanposhiho commented on #68701
Opened https://github.com/kubernetes/enhancements/issues/3604.
I think we have two options for it.

### 1. a new enum field to decide how the scheduler evaluate multiple PodAffinity

Introduce a new enum field in [`PodAffinity`](https://pkg.go.dev/k8s.io/api/core/v1#PodAffinity) and let users choose the way how to evaluate PodAffnities.

The field name would be like `satisfacatableBy` (value: `mul

[2022-10-10 09:33] Dingshujie opened #112949 "Dismiss connects to localhost early in the service chain when proxymode = ipvs"
### What happened?

Loopback addresses (127.0.0.0/8, ::1/128) can't be used by services in proxy-mode=ipvs

### What did you expect to happen?

it makes sense to dismiss those early, add RETURN rule to KUBE-NODE-PORT,KUBE-SERVICES
[code]

### How can we reproduce it (as minimally and precisely as possible)?

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[cod

[2022-10-10 09:36] Dingshujie commented on #112949
/sig network

[2022-10-10 10:00] uablrek commented on #112949
As mentioned in https://github.com/kubernetes/kubernetes/pull/112559, this is not a bug since the nodeport and ephemeral ranges overlap.

[2022-10-10 11:46] sftim commented on #94698
I'm going to reopen this so I can transfer it to the kubectl repo.

[2022-10-10 11:46] sftim commented on #94698
/reopen

[2022-10-10 11:46] sftim commented on #94698
/transfer kubectl

[2022-10-10 12:17] liggitt commented on #99139
https://github.com/kubernetes/kubernetes/pull/107531 is pending updates from the author

[2022-10-10 12:22] liggitt commented on #112879
/sig node
/remove-sig architecture

[2022-10-10 12:22] liggitt commented on #112879
routing to sig-node since it owns the Pod API and kubelet / CRI runtime implications

[2022-10-10 12:28] everpeace commented on #112879
Thanks liggitt for routing this to sig/node!

I look forward to hearing a response from the sig/node.

[2022-10-10 13:09] liggitt commented on #112867
I'm... really not confident that would work well, especially how go modules get zipped up and distributed...

[2022-10-10 13:51] tkashem commented on #112152
/cc

[2022-10-10 13:53] uablrek commented on #112949
/remove-kind bug

[2022-10-10 14:04] uablrek commented on #112949
The title of this issue should be changed to something like;
[code]
Which would indicate that this is not a bug fix but an improvement. Also remove the invalid use-case in the description and add references to comments in https://github.com/kubernetes/kubernetes/pull/112559 like https://github.com/kubernetes/kubernetes/pull/112559#issuecomment-1259052540.

I think to dismiss nodePort connects to l

[2022-10-10 14:04] uablrek commented on #112949
/area ipvs

[2022-10-10 14:27] TBBle commented on #97783
/remove-lifecycle stale

[2022-10-10 16:00] rittneje commented on #99513
/remove-lifecycle stale

[2022-10-10 16:08] kchrideq commented on #82296
With "|"  that's work

`metadata:
 namespace: metallb-system
 name: config
data:
 config: |
  address-pools:
  - name:	default
    protocol:	layer2
    addresses:
    - 192.168.59.95-192.168.59.125`

[2022-10-10 16:16] kchrideq commented on #82296
With "|" that works.
[code]

[2022-10-10 16:30] ritazh commented on #110116
/assign @tallclair

[2022-10-10 17:31] marosset commented on #97783
/lifecycle frozen

[2022-10-10 17:31] mezhaka commented on #111825
@aojea As a user I would find it convenient if my `nc` command would fail with timeout or with some connection error, but not the tunnel. This would allow me to open a tunnel once and retry the command that goes through the tunnel (`nc` in my example), while right now both the tunnel and the command fail and I need to try to establish a tunnel again.

[2022-10-10 18:40] weltonrodrigo commented on #23130
This article explains how to work around this issue: https://medium.com/@danieljimgarcia/its-always-dns-a-kubectl-story-1326de8b2f67

[2022-10-10 18:52] logicalhan opened #112958 "Wire up `metrics/slis` for kube-controller-manager"
### What would you like to be added?

As per, https://kep.k8s.io/3466, wire up `metrics/slis` for KCM

### Why is this needed?

https://kep.k8s.io/3466

[2022-10-10 18:52] logicalhan commented on #112958
/sig instrumentation

[2022-10-10 18:53] logicalhan opened #112959 "Wire up metrics/slis for kube-proxy"
### What would you like to be added?

As per, https://kep.k8s.io/3466, wire up metrics/slis for kube-proxy

### Why is this needed?

https://kep.k8s.io/3466

[2022-10-10 18:54] logicalhan opened #112960 "Wire up metrics/slis for kube-scheduler"
### What would you like to be added?

As per, https://kep.k8s.io/3466, wire up metrics/slis for KCM

### Why is this needed?

https://kep.k8s.io/3466

[2022-10-10 18:58] Richabanker commented on #112958
/assign

[2022-10-10 18:58] Richabanker commented on #112959
/assign

[2022-10-10 18:59] Richabanker commented on #112960
/assign

[2022-10-10 19:13] MartinX3 commented on #111045
/remove-lifecycle stale

[2022-10-10 19:16] mallman commented on #23130
Just saw your message, @weltonrodrigo. Yes, the Homebrew version works correctly. The version on kubernetes.io does not work correctly.

Let me (cynically) summarize the gist of this issue as I understand it:

1. Kubernetes does not interface with macOS's DNS system correctly.
2. The Kubernetes team says it's Go's fault.
3. The Go team says it's not their fault.
4. Six years later, it's still brok

[2022-10-10 19:20] weltonrodrigo commented on #23130
I suppose you can just use a version compiled with `CGO_ENABLED=1` and go on with your life.

[2022-10-10 19:24] mallman commented on #23130
I know that now. I wish I could get the hours back figuring out the problem and helping others debug their setup. I think one could fairly assume that this kind of thing would work OOTB from a mature, maintained project. And yet it doesn't...

[2022-10-10 20:00] sekizi commented on #112209
I'm also seeing a lot of `FailedMount` `timed out waiting for the condition` warnings when starting pods with 50+ NFS volumes but in my case I don't think client-side throttling is the root cause. Starting a pod with 50 PVCs takes somewhere between 1-2 minutes and sometimes it results in a couple client-side throttling logs and sometimes it doesn't. Pods always start successfully after a few `Fail

[2022-10-10 20:21] logicalhan opened #112962 "Wire up metrics/slis for kubelet"
### What would you like to be added?

As per, https://kep.k8s.io/3466, wire up metrics/slis for kubelet

### Why is this needed?

https://kep.k8s.io/3466

[2022-10-10 21:06] chrishenzie commented on #103305
@jsafrane It's mentioned in the [beta graduation criteria](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/2485-read-write-once-pod-pv-access-mode/README.md#beta) but not explicitly called out. I can add a section for it.

For https://github.com/kubernetes/enhancements/pull/3537, we're going to have to delay beta graduation until 1.27 due to missing E2E tests for alpha. I'm

[2022-10-10 21:18] philomory commented on #83111
I think this would be a fantastic feature, as we ourselves have fair number of apps like this. The only caveat is that if the container within the pod ever crashes, it may not be able to restart as normal and would probably instead need to be rescheduled onto a new node. In the common case of a pod managed by a controller of some sort this wouldn't be that big of a deal, but in the case of a "bare

[2022-10-10 21:51] #112867 closed

[2022-10-10 21:53] dnwe commented on #95421
/reopen

[2022-10-10 22:01] BenTheElder commented on #112937
privileged means you have an extremely high degree of access to the node by design.
changing this would be a massively breaking change.
it is expected that you can do this.

the answer to restrict this is to restrict privileged in your cluster, there are various options available for that.

[2022-10-10 23:00] aojea commented on #112959
/sig network
/sig instrumentation

[2022-10-10 23:08] aojea commented on #111825
yeah, but shouldn't you have a probe to the port in the pod to indicate that is ready?
the port-forward will not try to connect to that pod

[2022-10-10 23:24] logicalhan commented on #112960
/sig instrumentation

[2022-10-10 23:24] logicalhan commented on #112958
/sig instrumentation

[2022-10-10 23:24] logicalhan commented on #112962
/sig instrumentation

[2022-10-10 23:31] aojea commented on #112778
I mean, not execing kubectl binary directly, importing `k8s.io/kubectl/pkg/cmd/portforward/portforward.go` to do the portforwarding

[2022-10-10 23:33] aojea commented on #112834
maybe something breaking the spdy encapsulation?
it can be between e2e -- apiserver --- kubelet -- containerd

[2022-10-10 23:35] aojea commented on #109889
no failures recently https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit&include-filter-by-regex=TestClientReceivedGOAWAY&width=5

[2022-10-11 01:06] Dingshujie commented on #112949
Ok, i will change issue title and descripiton

[2022-10-11 01:44] dims commented on #112431
@feiskyer what if any do we need to do for 1.26 release?

[2022-10-11 02:13] shelmingsong commented on #50375
+1
Is there any progress so far?

[2022-10-11 02:19] feiskyer commented on #112431
@dims no, a new release of Azure SDK would be released soon, but it is not required to update the Go modules (existing modules would continue to work without any problems).

[2022-10-11 03:06] saltbo commented on #106161
/assign

[2022-10-11 03:26] wangzhao123456 opened #112967 "How to set up using IPv4/IPv6 dual network on k8s v1.18.3"
Hello, everyone, I need some help on set up using IPv4/IPv6 dual network with k8s v1.18.3.

I created my k8s cluster using sealos and my operating system is Centos7.

After creating the k8s cluster(pure ipv4, no ipv6 setup) using sealos, I followed the official k8s document  instructions on websites (https://www.bookstack.cn/read/kubernetes-concepts-1.19-zh/f90ff91a08bebb5f.md) but it doesn't work

[2022-10-11 03:30] Nivedita-coder opened #112968 "[Flaky test] gce-cos-master-reboot"
### Which jobs are flaking?

release-master-blocking

- gce-cos-master-reboot

### Which tests are flaking?

- ci-kubernetes-e2e-gci-gce-reboot.Overall
- ci-kubernetes-e2e-gci-gce-reboot.Pod
- Kubernetes e2e suite.[It] [sig-cloud-provider-gcp] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart
- kubetest.Test
- kubetest.diffResources

##

[2022-10-11 04:00] ggriffiths opened #112969 "CSI SetUpAt does not retry when STAGE_UNSTAGE_VOLUME check fails"
### What happened?

We've noticed occasionally the following scenario:

1. Deployment with CSI volumes is created
2. CSI driver goes down immediately before/after deployment is created
3. Kubelet fails to check for `STAGE_UNSTAGE_VOLUME` capability https://github.com/kubernetes/kubernetes/blob/64ed9145452d2d1d324d2437566f1ea1ce76f226/pkg/volume/csi/csi_mounter.go#L172-L174
4. If the CSI driver tak

[2022-10-11 04:01] ggriffiths commented on #112969
/sig storage

[2022-10-11 04:05] evankanderson commented on #111074
/remove-lifecycle stale

[2022-10-11 04:10] mehabhalodiya opened #112970 "[Flaky test] gce-ubuntu-master-containerd"
### Which jobs are flaking?

release-master-blocking
- gce-ubuntu-master-containerd

### Which tests are flaking?

- Kubernetes e2e suite.[It] [sig-cli] Kubectl client Kubectl events should show event when pod is created
- ci-kubernetes-e2e-ubuntu-gce-containerd.Overall
- kubetest.Test
- Kubernetes e2e suite.[It] [sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should mutate custom r

[2022-10-11 04:17] mehabhalodiya commented on #112970
/sig cloud-provider

[2022-10-11 04:23] uablrek commented on #112949
/triage accepted

[2022-10-11 06:04] rkojedzinszky commented on #112443
Please let me know if I am doing something wrong, or I misunderstand the desired operation of this feature.

[2022-10-11 06:09] pacoxu commented on #112912
/triage accepted

[2022-10-11 06:11] pohly commented on #112834
Yes, could be anywhere. Probably a good first step would be to write a stress test for this functionality.

[2022-10-11 07:01] lauchokyip commented on #69461
Hi Pierluigi,

Sorry for the late reply, I don't have resources to help with this. I think your best bet would be to attend sig cli meeting and ask for help. Thanks!
On Jul 25, 2022, 05:01 -0400, Pierluigi Lenoci ***@***.***>, wrote:

[2022-10-11 07:28] kdeyko commented on #111045
/remove-lifecycle stale

[2022-10-11 07:32] MatTerra commented on #53459
I'm already replicating... I need to select objects based on some fields...

On Tue, Apr 5, 2022, 11:46 Hamish Robertson ***@***.***>
wrote:

[2022-10-11 07:40] everpeace commented on #112879
/assign

We haven't agreed on how to resolve this issue　in the community. However, I would like to contribute to the issue if I can.

[2022-10-11 07:41] maxlaverse commented on #95421
/remove-lifecycle rotten

[2022-10-11 07:49] BSWANG commented on #110208
/close

[2022-10-11 07:49] #110208 closed

[2022-10-11 08:30] dylan2intel opened #112974 "kubeadm init always pull images even if perform this action in beforehand using 'kubeadm config images pull'"
### What happened?

# pulling images firstly
sudo kubeadm config images pull
I1011 16:16:38.903002    4669 version.go:255] remote version is much newer: v1.25.2; falling back to: stable-1.23
[config/images] Pulled k8s.gcr.io/kube-apiserver:v1.23.12
[config/images] Pulled k8s.gcr.io/kube-controller-manager:v1.23.12
[config/images] Pulled k8s.gcr.io/kube-scheduler:v1.23.12
[config/images] Pulled k8s

[2022-10-11 08:53] aojea commented on #112967
That is an EOL version, only the following versions are supported https://kubernetes.io/releases/

dual-stack was beta in 1.21 and there were breaking changes, I have doubts it was mature enough in 1.18

[2022-10-11 08:54] aojea commented on #112834
yeah, it suffered of memory leaks in the past, I don't think that this feature has been stress tested

[2022-10-11 08:56] aojea commented on #106161
/unassign @saltbo

Thanks for stepping up but please, check my previous comment, we should be careful to not break compatibility with the current ip parsers

[2022-10-11 09:02] AdminWithROOT commented on #109537
This YAML file can cause the same problem，after 4 * 3 = 12 times probe failed，the pod's status has been completed.&nbsp;

The following is the log of the first 3 Pod restarts：

You can see that the Pod fails to probe 3 times after each startup, and then exits gracefully after receiving the default SIGNALSTOP signal, and the exit code is 0. At this time, the liveness probe can be normally pull up t

[2022-10-11 09:09] mikutas commented on #107498
/reopen

[2022-10-11 10:06] aojea commented on #106161
https://github.com/golang/go/issues/49365

So, if you still want to contribute on this, what we need to do is to find out which parsers are used for validation, those are the ones we can not change.

A strawman approach we may follow is:

[code]
hack/update-netparse-cve.sh
hack/verify-netparse-cve.sh
[code]

let me know if you are up to this, I warn you it can take time and be tedious, but is wort

[2022-10-11 10:16] saltbo commented on #106161
Thanks for your guide, I want to try it.

[2022-10-11 11:17] xuchen-xiaoying commented on #112119
much thanks for your investigate and reply. I got your point. Pls ping me if any further update. Thanks.

[2022-10-11 12:15] danwinship commented on #112477
OK, I commented more on the kube-router bug (https://github.com/cloudnativelabs/kube-router/issues/1370) suggesting how to fix the problem. I don't think there's anything more we need to be tracking here...

FWIW, as a workaround until they fix it, you could try running kubelet with [`--feature-gates=IPTablesOwnershipCleanup=true`](https://github.com/kubernetes/enhancements/issues/3178), which wil

[2022-10-11 12:15] #112477 closed

[2022-10-11 12:15] velzz commented on #72186
how to get duplicate pod ips and node ips in promql query

[2022-10-11 12:18] neolit123 commented on #112974
notice you are passing a cri socket during init but not during prepull. so are prepuling using another cri. maybe docker.

/kind support
/close

[2022-10-11 12:18] #112974 closed

[2022-10-11 12:22] vinaykul commented on #112264
The 2988s run time comes for the additional time it takes across all the 30+ different E2E test cases when full E2E testing is enabled. (Disable isFeatureGatePostAlpha() check which runs the test in full-E2E mode where it checks for ContainerStatus.Resources == ContainerSpec.Resources - this requires containerd support. I tested it by replacing the containerd binaries with those I build from lates

[2022-10-11 13:01] gr0l0rg commented on #106864
Is there any ongoing work on this? k8s needs QUIC-based services along with TCP and UDP where you can load balance QUIC connections among different endpoints/pods regardless of whether the traffic is HTTP3 or any other protocol. It should be treated like TCP.

[2022-10-11 13:15] aojea commented on #106864
I don't follow your comment sorry, Services are only aware of the protocol TCP, UDP or SCTP, if you have a Service with HTTP and HTTP3 you should define both protocols, i.e.

[code]

For L7 load balancing you should use gateway-api or a different API that handlers

[2022-10-11 13:25] gr0l0rg commented on #106864
@aojea thanks for the QUIC response :D. I meant that QUIC itself is considered a transport protocol just like TCP that can convey arbitrary L7 traffic. I guess there are already some L7 protocols like NFS and SSH as well as other ad-hoc applications trying to build their L7 protocols over QUIC instead of plaintext TCP and major cloud providers are starting to offer or planning to offer gateway QUI

[2022-10-11 13:30] simhnna commented on #112915
Thanks @ncdc. I tried and failed to generate my own clientset. Using the dynamic client works without issues.

Not sure why decode is not set anywhere though, or am I missing something?

[2022-10-11 13:45] ncdc commented on #112915
I don't know offhand, but the way you were initializing the client/config was incorrect for CRD usage (there is not `__internal` version for CRDs).

[2022-10-11 13:54] austinlparker opened #112976 "APIServer Tracing crashes with nil pointer exception when egress selector is configured"
### What happened?

While trying to enable API Server Tracing while using k3s, the API Server component crashes. The only way to avoid this crash is to disable egress selectors in k3s entirely. I originally opened an issue in the k3s repo (see https://github.com/k3s-io/k3s/issues/6254), and we determined that the issue seems to be an assumption that a dialer will always be returned if there's no e

[2022-10-11 14:04] austinlparker commented on #112976
/sig instrumentation

[2022-10-11 14:12] dashpole commented on #112976
/assign
/triage accepted
Thanks @austinlparker!

[2022-10-11 14:14] mimowo commented on #112910
It turns out event currently k8s depends on the exact reason equal to OOMKilled:
https://github.com/kubernetes/kubernetes/blob/6a6a36f5695029f142f165c58b41b2f585e383f9/pkg/kubelet/kuberuntime/helpers.go#L149

[2022-10-11 14:45] alculquicondor commented on #112947
+1 it's good to have API parity

[2022-10-11 14:49] alculquicondor commented on #68701
Exact names can be decided later, but working through the options in a KEP sounds like a good idea.

Do we have sufficient evidence that this feature is needed? In other words, are there real-world use cases where the feature was needed?

[2022-10-11 15:10] varksvader commented on #109717
Hi! I was wondering if you guys needed more help on test coverage here.

[2022-10-11 16:25] neolit123 commented on #112967
++1

please ask for support here if possible:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2022-10-11 16:25] #112967 closed

[2022-10-11 16:27] khenidak commented on #112614
/retitle Cannot access UDP service via ClusterIP from the host

[2022-10-11 16:28] aojea commented on #106864
why?

[2022-10-11 16:47] enj commented on #111922
@cailynse yup I am hoping to have this sorted before KubeCon :)

[2022-10-11 17:06] BenTheElder commented on #112968
Some notes:

Just means that _anything_ failed.

means the CI's pod running the tests failed, which is a failure of the CI infrastructure
specifically it happened here https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/1579277573278404608

typically this isn't an issue specific to the job

This means any test case failed when running under kubetest. It's a top-lev

[2022-10-11 17:08] SJrX commented on #79950
FYI I spent the past 8 hours debugging an issue with a cluster where this was the cause using kubernetes v1.24.1, using containerd 1.6.8 on Ubuntu 22.04.

The behaviour that I saw gave no clue as the problem, scheduling the following container:
[code]

Gave the error:
[code]

Disabling the service account gave the following cryptic error:

[code]
And looking at containerd didn't really give much i

[2022-10-11 17:22] marosset commented on #79950
/assign
/milestone v1.26
Let me see what we can do here.
At a minimum we should be able to log warnings.

[2022-10-11 17:25] Random-Liu commented on #112910
This is the reality today, and totally make sense to officially document it.

At least based on the containerd API today, it does not distinguish these 2 cases. Is this distinguishable by containerd in theory?

[2022-10-11 17:43] logicalhan opened #112982 "Wire up metrics/slis for cloud-controller-manager"
### What would you like to be added?

As per, https://kep.k8s.io/3466, wire up metrics/slis for ccm

### Why is this needed?

https://kep.k8s.io/3466

[2022-10-11 17:44] logicalhan commented on #112982
/assign @Richabanker
/sig instrumentation
/sig cloud-provider

[2022-10-11 17:46] Richabanker commented on #112982
/assign

[2022-10-11 17:47] mimowo commented on #112910
The same reason is set by the cri-dockerd project: https://github.com/Mirantis/cri-dockerd/blob/8fbda54cdda558bfabe42b0aa7b8253947d290a8/core/container_status.go#L90.

[2022-10-11 17:55] khenidak commented on #112929
@arezvani  can walk us through your setup please?

[2022-10-11 17:59] khenidak commented on #111875
@aojea i think the multi net effort should include something like that.

[2022-10-11 18:26] bobbypage opened #112984 "Kubelet overrides (non-empty) container metrics from CRI with empty cAdvisor metrics"
### What happened?

Container / Pod Stats reported by kubelet are currently collected by cAdvisor (and optionally CRI).  As seen in https://github.com/kubernetes/kubernetes/issues/107172, currently cAdvisor metrics override CRI metrics. This is an issue for some runtimes such as gVisor container which do not export cgroupfs metrics but export CRI metrics.

As a result, currently for cases when CRI

[2022-10-11 18:28] bobbypage commented on #112984
Cherrypicks -

1.24 - https://github.com/kubernetes/kubernetes/pull/112963
1.23 - https://github.com/kubernetes/kubernetes/pull/112964
1.22 - https://github.com/kubernetes/kubernetes/pull/112965

[2022-10-11 19:17] liggitt commented on #79950
we've logged warnings on fractional memory requests/limits/overhead since 1.22:

https://github.com/kubernetes/kubernetes/commit/ecdecafdc89cb574a08c951d7771ddfdba1aa201#diff-8c706a0acd7507b84031c381f4faef39794109ae88a0df95fabc45af5b58f4beR219-R240

[2022-10-11 19:20] chrishenzie opened #112986 "Add E2E test for ReadWriteOncePod alpha behavior"
### What would you like to be added?

For the ReadWriteOncePod feature to graduate to beta, we need to have E2E test coverage for its current alpha behavior.

See this section of KEP-2485 for more context on what cases we need to cover for alpha:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/2485-read-write-once-pod-pv-access-mode/README.md#end-to-end-tests

### Why is th

[2022-10-11 19:20] chrishenzie commented on #112986
/sig storage

[2022-10-11 19:32] #108788 closed

[2022-10-11 20:13] fedebongio commented on #112915
/cc @yliaog (just in case)
/triage accepted

[2022-10-11 20:14] fedebongio commented on #112861
/triage accepted

[2022-10-11 20:28] bobbypage commented on #112984
/sig node
/triage accepted

[2022-10-11 20:40] alahijani commented on #83242
The main use case for this ask seems to be to monitor jobs. For deployments, daemonsets and statefulsets we already cover this use case in `kubectl rollout`:
[code]

I think ideally support for jobs should also be implemented as a `kubectl rollout` "status viewer", as opposed to `kubectl wait` which serves a totally different purpose.

Currently you get:
[code]

[2022-10-11 20:50] t-l-k commented on #93476
I have a healthcheck on a service for a pod in a deployment of `replicas=1`. Unplanned outages I want the healthcheck to alert, as it currently does. Planned node pool upgrades I'd like the deployment equivalent to Rolling Upgrade's `maxSurge=1`, to satisfy disruption budget `minAvailable=1`, and the healthcheck not to alert.

I also would prefer that node upgrades not fail if due to violating PDB

[2022-10-12 00:21] bobbypage commented on #112151
@dispensable can you provide the containerd version and cgroup driver used? Also, if you can provide the examples of pods being run used it will help to build a repro.

[2022-10-12 00:41] spiffxp opened #112996 "e2e test logs filled with "observed a panic""
### What happened?

After https://github.com/kubernetes/kubernetes/pull/112043 merged, build logs for e2e tests have started showing stack traces that look like:
[code]

It seems like the `ClientSet` used in this `AfterEach` is nil
https://github.com/kubernetes/kubernetes/blob/d0e735a664e723628773b23e5f22f8b90b91ec14/test/e2e/framework/node/init/init.go#L32-L34

I have a suspicion this is happenin

[2022-10-12 00:42] spiffxp commented on #112996
/sig testing
/triage accepted
/assign @pohly
To put this on your radar

[2022-10-12 02:51] Nivedita-coder commented on #112968
Thanks, @BenTheElder.
Currently, it's passing so I'm closing the issue. :)
/close

[2022-10-12 02:51] #112968 closed

[2022-10-12 03:42] carezkh commented on #112937
@BenTheElder Thanks for your replay!

I tested replacing `privileged` with specific capabilities, and it worked! But if i want to still use `privileged` pod, is there any method to restrict the pod only accessing/modifying its own cgroup ?

[2022-10-12 04:06] dispensable commented on #112151
- containerd: 1.6.8
- cgroup driver: systemd

We have lots of pods running log compression tasks and some jenkins pipeline tasks. They will quit after finished their jobs. Kubelet just cannot clean those finished pod with errorlog:
[code]
![image](https://user-images.githubusercontent.com/3339663/195246854-3f95e9b5-ca2f-4169-b256-7b25ecb89d7c.png)

Then kubelet going to a high cpu usage. All the p

[2022-10-12 05:44] BenTheElder commented on #112937
I don't think there's an easy way to do that, but you may instead be able to accomplish something you wanted to do with a privileged pod without using a privileged pod (including for example, the capabilities you mentioned).

The privileged knob predates Kubernetes (docker run --privileged) and gives essentially full access to the host for running highly privileged system daemons etc.

[2022-10-12 06:37] rkojedzinszky commented on #112443
@bobbypage ping

[2022-10-12 06:39] #112958 closed

[2022-10-12 07:04] pacoxu commented on #108405
/triage accepted

There is a discussion related to this in the[ sig-node weekly meeting ](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.80zloixg3cw2)on Sep 27, 2022. Sync something that may be related here.

[2022-10-12 07:12] wangzhao123456 commented on #112967
Thanks !

[2022-10-12 08:05] kerthcet commented on #112947
We discussed a bit about this before https://kubernetes.slack.com/archives/C09TP78DV/p1661093052989079?thread_ts=1661006326.904089&cid=C09TP78DV, and I was thinking why don't we unify the label names in deployment and statefulset(currently they are `pod-template-name` and `controller-revision-hash`), then no need for this matchLabelKeys anymore. I think this is the main case why we need matchLabel

[2022-10-12 08:11] kerthcet commented on #112947
The key point is kubernetes should provide a mechanism to make scheduler aware of the old/new replicas. Currently, the hash label seems can provide some help.

[2022-10-12 08:47] kavita1205 opened #113003 "Nodes are showing NotReady status after installation k8 version 1.24.3"
### What happened?

Hi ,
I have installed K8 cluster version 1.24.3 via puppet using below configuration. But after this setup all nodes are showing Not Ready state. I have checked the logs and found error "tworkPluginNotReady message:Network plugin returns error: cni plugin not initialized" mentioned below.

Can someone please help me here.

[code]

[code]

### What did you expect to happen?

All

[2022-10-12 09:31] sanposhiho commented on #112947
Found an old issue and seems it has been implemented to use different labels as intended.

https://github.com/kubernetes/kubernetes/issues/47554

Adding a new well-known label to identify Pod's group might be one general solution instead of unifying the labels of deployment and statefulset. Actually, it's been also discussed when we introduced `MatchLabelKeys`.  (option 1 in the doc.)
https://docs

[2022-10-12 10:44] gfrid commented on #61486
just got response from AWS support this issue is fixed in EKS v1.22.6-eksbuild.1
kube-proxy is patched

[2022-10-12 10:44] ttj4 commented on #2630
will it be addressed anytime soon?

[2022-10-12 11:01] aojea commented on #112996
/cc

[2022-10-12 11:39] uablrek opened #113006 "Not possible to load an ephemeral container in a POD with runAsNonRoot:true"
### What happened?

If a POD has (on pod-level);
[code]
loading a ephemeral debug container fails;
[code]

### What did you expect to happen?

It should be possible to specify a `securityContext` for the ephemeral container so it can run as non-root, but have capabilities set to allow it to perform debug actions, e.g. `NET_ADMIN` or `SYS_PTRACE`.

### How can we reproduce it (as minimally and prec

[2022-10-12 11:40] uablrek commented on #113006
/sig cli
/area kubectl

[2022-10-12 11:41] uablrek commented on #113006
I am working on a PR for this.

[2022-10-12 13:23] #112802 closed

[2022-10-12 13:28] alculquicondor opened #113007 "Do pod preemption in parallel"
### What would you like to be added?

When a pod requires preempting more than one pod, this happens sequentially. It should be done in parallel. https://github.com/kubernetes/kubernetes/blob/525280d285c4bb4970e571a1e13a601befd75434/pkg/scheduler/framework/preemption/preemption.go#L338-L370

/sig scheduling
/sig scalability

### Why is this needed?

Preemption happens in the scheduling cycle, mean

[2022-10-12 13:33] alculquicondor commented on #113007
cc @ahg-g @mimowo @marseel

[2022-10-12 13:53] timvandruenen commented on #110158
We performed the fix from this blog post, which worked for us: https://blog.devgenius.io/when-k8s-pods-are-stuck-mounting-large-volumes-2915e6656cb8

[2022-10-12 13:53] Jeaniowang commented on #110158
报告收到

[2022-10-12 13:56] alculquicondor commented on #112947
Right, because changing the default behavior is not backwards compatible. I think `MatchLabelKeys` gives more flexibility to users. However, it would still be useful to have a well known label, even if they are not the same for each workload API.

[2022-10-12 14:05] yangjunmyfm192085 commented on #113003
/sig node

[2022-10-12 14:33] tangwz commented on #113007
I'm a newbie, may I have a try at this proposal?

[2022-10-12 15:27] ViBiOh opened #113013 "State of a pod with multiple containers is not accurate in case of failure"
### What happened?

I have a job that creates a pod with two containers.

One always succeed and another may fail sometimes. Here's a reduced `describe` output

[code]

When getting pods with `kubectl get pods`, I got the following output.

[code]

### What did you expect to happen?

In case of one container is in error, I want to see the `Error` status instead of `Completed`.

### How can we repr

[2022-10-12 15:28] ViBiOh commented on #113013
/sig cli

[2022-10-12 15:30] ViBiOh commented on #113013
I have a somehow ready fix [here](https://github.com/ViBiOh/kubernetes/commit/5c8e1efcc900362e7a59285709fac82d7fef379e) but I don't know if it's a good approach

[2022-10-12 16:09] nckturner commented on #112982
/triage accepted

[2022-10-12 16:09] nckturner commented on #112970
/assign @andrewsykim

[2022-10-12 16:15] nckturner commented on #112313
/assign @bridgetkromhout

[2022-10-12 16:20] nckturner commented on #112431
/triage accepted

[2022-10-12 16:30] sftim commented on #109482
/reopen

[2022-10-12 16:30] sftim commented on #109482
/transfer kubectl

[2022-10-12 16:32] sftim commented on #76024
I think this'd be better served by a plugin, and not by core kubectl functionality.

[2022-10-12 16:38] SanjayVas opened #113017 "API: List Pods for a given Deployment"
### What would you like to be added?

Add or update an API method to be able to list Pods for a given deployment.

This is related to #72794, but that focuses on kubectl rather than the underlying API.

### Why is this needed?

The closest that current methods can get is using a [`labelSelector`](https://kubernetes.io/docs/reference/kubernetes-api/common-parameters/common-parameters/#labelSelector

[2022-10-12 16:48] SanjayVas commented on #113017
/sig apps

[2022-10-12 17:17] SergeyKanzhelev commented on #102394
/remove-lifecycle stale

[2022-10-12 17:31] craiglpeters opened #113019 "Add Codespaces configuration dev container"
### What would you like to be added?

For contributors to Kubernetes, a configuration to assure that Codespaces will work with Kubernetes will enable the use of a cloud-based development environment to easily provision an environment with all the requirements and dependencies automatically installed and configured. This will make life easy for new and existing contributors when they are working on

[2022-10-12 17:31] craiglpeters commented on #113019
/sig contribex

[2022-10-12 17:35] SergeyKanzhelev commented on #112124
@danielcb one piece of information we are looking for is whether the same ID will keep showing up for hours. It is not clear whether this is recoverable and expected race that we just need to hide or this is an unrecoverable problem.

OOM reports makes think that it might be unrecoverable, but it is hard to imagine what will take that much memory on this clean up even if it stuck in this state and

[2022-10-12 17:38] SergeyKanzhelev commented on #112893
/remove-kind bug
/kind feature

@brucelee138 is there specific reason you want the pod to be marked critical. In general critical pods needs to be avoided

[2022-10-12 17:40] SergeyKanzhelev commented on #112937
/assign @haircommander
/triage accepted
/priority important-longterm

[2022-10-12 17:43] SergeyKanzhelev commented on #112936
/triage needs-information

@fredkan can you please give more information on the set up and how it got to this state. Also if you can include kubelet.log, it will help diagnotics

[2022-10-12 17:46] rphillips commented on #112936
/assign

[2022-10-12 17:46] SergeyKanzhelev commented on #112930
/triage accepted
/priority backlog

sounds like a border line bug and feature and doesn't seems to be a regression. Marking with backlog priority.

[2022-10-12 17:49] SergeyKanzhelev commented on #112918
/sig windows
/remove-sig node

I'm removing sig node for sig windows to triage. @nicoclau please provide the details on what CRI is being used 1.25 doesn't use dockershim and cri-dockerd doesn't have windows support.

[2022-10-12 17:50] SergeyKanzhelev commented on #112918
Also version you mention says server version 1.24 while you are saying it is 1.25. Please correct the inconsistency in bug report. Thank you!

[2022-10-12 17:52] rphillips commented on #112936
https://github.com/kubernetes/kubernetes/pull/113021 fixes the crash be allocating prior to calling allocateRemainingFrom.

[2022-10-12 17:57] SergeyKanzhelev commented on #112879
Discussed at CI triage meeting. @everpeace will improve documentation of the field as a first step and improvements can be discussed as a KEP.

/remove-kind bug
/kind documentation

[2022-10-12 18:03] SergeyKanzhelev commented on #112879
/triage accepted

[2022-10-12 18:14] logicalhan opened #113023 "rate_limiter_use metric uses a dynamic subsystem"
### What happened?

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/component-base/metrics/prometheus/ratelimiter/rate_limiter.go#L48 uses a dynamic `ownerName` as a part of the metric name. This should instead be a label of a generic metric.

### What did you expect to happen?

`ownerName` should be a label for the metric.

### How can we

[2022-10-12 18:14] logicalhan commented on #113023
/sig instrumentation

[2022-10-12 18:50] chief93 commented on #90594
Hi @prasannjeet ! Sorry for late answer. I tried to put the following rules in the `systemd` daemon of the `kubelet`:
[code]
The newer versions of Kubernetes seems to be delivered with correct order of the `After` rules.

[2022-10-12 19:10] bobbypage commented on #112151
Hmm, this is weird... so are you saying this is a problem only on Debian 11? Not Debian 10.2 with backported 5.10 kernel + cgroupv2 + same k8s version?

What other Debian 11 / Debian 10 changes are significant here? Perhaps systemd version?

[2022-10-12 20:24] swetharepakula commented on #112793
This is resolved with  #112807

/close

[2022-10-12 20:24] #112793 closed

[2022-10-12 20:39] AndrewSav commented on #112124
[code]
This is an about 16 hours log

[code]

It contains more than 4 million records

[code]
Some "path does not exist" pods disappear eventually

[code]

Others may hang around for hours

[2022-10-12 21:05] jeetdavecp commented on #111820
/assign

[2022-10-12 21:27] bobbypage commented on #112937
/cc

[2022-10-12 22:07] Jefftree opened #113028 "Content Negotiation types should be listed in OpenAPI"
### What would you like to be added?

Content Negotiation types are currently not listed in OpenAPI. For example, it's possible to query resources with an Accept header `Accept: application/json;as=Table;g=meta.k8s.io;v=v1` to list as tables, but the information is missing in the OpenAPI.

/sig api-machinery

### Why is this needed?

Provides better clarity of all operations supported by a K8s clu

[2022-10-12 22:27] Huang-Wei commented on #68701
I'd suggest putting it on our plate only when there is a couple of viable practical use cases.

[2022-10-12 23:38] Huang-Wei commented on #112947
Implicit unifying may sometimes misinterpret user workloads' intentions. For example, if user's intention is to spread app1 AND app2 (both apps with identical labelSelector). During app2's rolling upgrade, with `MatchLabelKeys`, it's user's responsibility to explicitly specify whether to spread app1 + app2's new Pods, or just app2's new Pods, or whatever intention the user wants. So I'm more in fa

[2022-10-12 23:45] #112096 closed

[2022-10-12 23:47] lengrongfu commented on #113028
/assign

[2022-10-13 00:21] ggriffiths commented on #112969
This seems to be a race between the CSI driver being de-registered from the csinode and the new pod coming up.

I was able to reproduce with the hostpath driver (with `attachRequired: false`  since Attach handles this differently), but only when the app was created immediately after the hostpath plugin:
[code]

If the csidriver is de-registered from the node, it retries properly with
[code]

Once

[2022-10-13 00:24] aarononeal commented on #104095
This is still a problem.

However, looking at [cephfs.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cephfs/cephfs.go) I identified a workaround.

The `user` parameter is passed directly to the mount options as `name=<user>`. Because the mounter doesn't do any parameter validation, it's possible to exploit this by adding whatever mount options you want after the user name, suc

[2022-10-13 02:03] pacoxu commented on #113003
As the message shows, you should check the CNI/calico status.
/kind support
/remove-kind bug

[2022-10-13 02:08] pacoxu commented on #112962
/sig node
/triage accepted

[2022-10-13 03:15] gaohuatao-1 opened #113035 "kubelet: when memoryManager are enabled, kubelet fails to restart occasionally"
### What happened?

In our scenario, cpuManager, memoryManager and topologyManager are enabled at the same time. There are two numa nodes: node0 and node1.
 The relevant parameter values are as follows：
- cpuManagerPolicy: static
- memoryManagerPolicy: Static
- topologyManagerPolicy: best-effort
- topologyManagerScope: pod

Firstly, we create a lot of pods that uses hugepages-2Mi of different spec

[2022-10-13 03:17] gaohuatao-1 commented on #113035
/sig node

[2022-10-13 03:29] saltbo commented on #106161
I don't quite understand your thinking. Do you want to identify the validate IP that allows leading zeros, then the validate code still uses the forked net？ I have two questions.

1. How to identify them?  The `pkg/registry` you mention is at `k8s.io/apiserver`?
2. How to make sure that newcomers know that fork net must be used here? maybe use the update-netparse-cve.sh?

[2022-10-13 04:03] kidddddddddddddddddddddd opened #113036 "[Flaky test] k8s.io/kubernetes/test/integration/daemonset"
### Which jobs are flaking?

- pr:pull-kubernetes-integration
- ci-kubernetes-integration-master

### Which tests are flaking?

- k8s.io/kubernetes/test/integration/daemonset
   TestDSCUpdatesPodLabelAfterDedupCurHistories

### Since when has it been flaking?

https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=TestDSCUpdatesPodLabelAfterDedupCurHistories
Maybe since 9.30?
<img width="1

[2022-10-13 04:09] saltbo commented on #106161
Why not fix the leading zero IP from the input?  eg: trim the leading zero of the IP that coming from etcd.

[2022-10-13 04:31] saltbo commented on #106161
Maybe we can add a lite compatible logic for the `ParseIPSloppy`：

[code]

[2022-10-13 05:25] MadhavJivrajani commented on #110734
@harry1064 sorry, this dropped off my radar.

Ah, I see your point. However, `Limit` does not come into the picture when determining if `pred` is `Empty()` or not. Please see:

https://github.com/kubernetes/kubernetes/blob/9b4b1c0e79aca46965137227e2c9cde0d285cabb/staging/src/k8s.io/apiserver/pkg/storage/selection_predicate.go#L129-L131

However, your point around passing `Limit` is fully valid imo

[2022-10-13 06:25] zangzinan commented on #98656
mark

[2022-10-13 06:41] brucelee138 commented on #112893
@SergeyKanzhelev thanks for the response. We have marked monitoring pods as critical (Victoria metrics to be exact) as we dont want to get them evicted over application pods ( to continue monitoring them). But in some corner cases the ephemeral storage of a pod started growing up and filling up the disk. So, we set a ephemeral limit to evict these pods **only when** the ephemeral storage usage is

[2022-10-13 06:42] brucelee138 commented on #112893
@249043822 agree that this should be a feature/enhancement.

[2022-10-13 07:16] Kartik494 commented on #110956
Thanks @pacoxu for the clarification. Sure i will  raise a PR accordingly in k/website.

[2022-10-13 08:09] pacoxu commented on #112574
Where do we use fsnotify?
1. kubelet: manifests for static pods; log related; plugin dir; flex volume
2. kube-proxy: config file
3. apiserver: dynamic ca

v1.6.0 was released. https://github.com/fsnotify/fsnotify/blob/main/CHANGELOG.md#160---2022-10-13
- focus on windows/kqueue bugfixes. For Linux change, see `inotify`.

for windows and kqueue(for freebsd || openbsd || netbsd || dragonfly || darwi

[2022-10-13 08:21] aojea commented on #106161
yes

heh, that is with this is on hold :) , those are hard questions to answer, see some discussion related

kubernetes/kubernetes/pkg/registry

That is what I came up with, but it just parses all the repo 🤷

See related discussion with some ideas to do the migration

https://github.com/kubernetes/kubernetes/issues/108074#issuecomment-1036442455

[2022-10-13 08:37] Tiny-Wei commented on #50375
I think the key to solving the problem is not to show restart count in `kubectl get pod -A`, because STATUS column provide enough information, restart counter was hidden,use `kubectl get pod -A -o wide`  to display, Even access it only in the `kubectl describe pod []`.
so how do you think about cancel the display of restart counter in the command `kubectl get po -A`.

[2022-10-13 08:48] Hazem-Al-Aqailah commented on #82296
this problem still persists even when i apply double quotes to the numerical values
i get this error logs when trying to apply my deployment:
`Error from server (BadRequest): error when creating "deployment.yml": Deployment in version "v1" cannot be handled as a Deployment: json: cannot unmarshal bool into Go struct field EnvVar.spec.template.spec.containers.env.value of type string`
my yml file i

[2022-10-13 08:50] dispensable commented on #112151
Yes, only on Debian11.

Same kernel/k8s/containerd version with cgroupv2 and systemd driver.
except
In Debian11 we use **crun(1.6)** as runtime (cause cilium can't work with runc -- another wired issue)
In Debian10 we use runc(v.1.1.4) as runtime (sorry for the previous misdirection)

Same kernel version (debian10 use official backport source, 11 use official source default kernel).

Debian10 syst

[2022-10-13 09:28] saltbo commented on #106161
I tracked `pkg/apis/core/validation` and `pkg/apis/networking/validation` from `pkg/registry`, It's right?

[2022-10-13 09:36] kchrideq commented on #82296
`cannot unmarshal bool into Go struct field EnvVar.spec.template.spec.containers.env.value of type string`

It says you must have a string, while the value is a bool (true/false). So the issu is probabley in KC_HTTPS_ENABLED or KC_HTTP_ENABLED
Try applying double quotes to true values

[2022-10-13 09:51] aojea commented on #106161
yes

[2022-10-13 10:03] aojea commented on #106161
but please keep in mind that this is a complex task that may take a lot of time,  don't get frustrated , take it with calm

[2022-10-13 10:19] lengrongfu commented on #112893
https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/

This usage is described in the documentation.

[2022-10-13 11:18] colegatron commented on #110613
Just to add my two cents;

Same issue happening since some days ago:
When I try to copy content with kubectl cp, even using --retry it fails to copy anything if the tar generated is big enough.
Not sure how much should be 'big' to stop working, but copying small files one by one does it work.
always worked until last k8s upgrade (1.18 to 1.19)

**single small file**
$ kubectl cp -n ci $NODE_CONTAI

[2022-10-13 11:23] secsys-go opened #113043 "panic: "invalid memory address or nil pointer dereference" on a transformed Test"
### Which jobs are failing?

 `pkg/controller/statefulset`

### Which tests are failing?

`TestStatefulPodControlNoOpUpdate` in `pkg/controller/statefulset`
I transformed that testcase into a fuzz driver and tested it with [go-fuzz](https://github.com/dvyukov/go-fuzz)
It crash with  "invalid memory address or nil pointer dereference" when the args of `record.NewFakeRecorder` and `newStatefulSetPod

[2022-10-13 11:45] ahg-g commented on #112947
Adding MatchLabelKeys to other scheduling primitives is a reasonable next step.

Regarding using a common label: we briefly discussed that in the KEP as an alternative. Labels are arbitrary, the scheduler shouldn't really make such strong assumptions about their semantics. What is the concern about MatchLabelKeys?

[2022-10-13 12:04] ahg-g commented on #113007
Parallelizing the loops looks like the easier option to implement, but deleting in a separate routine will likely offer the better throughput for the average case.

[2022-10-13 12:25] sxllwx commented on #111985
I didn't see the news, sorry... It is currently confirmed that this incompatible change is due to [PR-110110](https://github.com/kubernetes/kubernetes/pull/110110). The root cause of the problem is being traced.

[2022-10-13 12:26] Bhautik0110 commented on #15478
Is that any update?

[2022-10-13 12:27] liggitt commented on #89477
/reopen
/lifecycle frozen

[2022-10-13 12:58] fabstu commented on #52919
`echo "" | base64` adds a newline.

Use instead:

[code]

[2022-10-13 13:01] fabstu commented on #52919
`echo "" | base64` adds a newline

Use instead:

[code]

[2022-10-13 14:12] mikebrow commented on #112910
Agree with @Random-Liu totally makes sense to officially document "OOMKilled"

Not clear if/how we could/would determine/distinguish the two cases with certainty.

[2022-10-13 14:40] haircommander commented on #112910
I had some thoughts on this too. I am not sure it would be deterministic, but I guessed the runtime could check if the cgroup is using more memory than its limit_in_bytes. If not, then it's generic node contention, if so, then it would be MemoryExceeded

[2022-10-13 15:14] rphillips commented on #112443
@rkojedzinszky with a stock debian11 machine running the latest code off of master, I am seeing:

[code]

Are you seeing a similar message?

[2022-10-13 15:36] sanposhiho commented on #68701
Quoting from the [request](https://github.com/kubernetes/kubernetes/issues/68701#issuecomment-1257397866):

It makes sense. To be more general, when people want to make sure dependent services exist in the same domain and the pod has more than one kind of dependent services (like the above example), then they cannot use today’s PodAffinity to achieve that.

[2022-10-13 15:47] dcbw commented on #111929
@robscott given this is likely a dupe, should we close?

[2022-10-13 15:47] dcbw commented on #112221
/close
Closing due to lack of info, please re-open if/when you can reply with the requested information. Thanks!

[2022-10-13 15:47] #112221 closed

[2022-10-13 15:48] alculquicondor commented on #68701
I know it makes sense, but there doesn't seem to be enough pressure to get this done. This issue has been opened since 2018, and there aren't more people asking for it. Maybe you can collect some feedback sending an email to the mailing list?

[2022-10-13 15:49] dcbw commented on #112467
@quoc9x does the solution in https://github.com/kubernetes/kubernetes/issues/112467#issuecomment-1262646922 work for you?

[2022-10-13 15:51] dcbw commented on #112614
Agreed... let's leave it with https://github.com/projectcalico/calico/issues/6767 for now and re-open if it comes back as a Kube problem.

/close

[2022-10-13 15:51] #112614 closed

[2022-10-13 15:55] sanposhiho commented on #68701
👍 In sig-scheduling mailing list? or is there another suitable one?

[2022-10-13 16:01] thockin commented on #111929
ping?

[2022-10-13 16:04] robscott commented on #111929
Yeah I don't think we can safely change anything here, closing this out.

/close

[2022-10-13 16:04] #111929 closed

[2022-10-13 16:05] thockin commented on #112959
This sounds OK, but we need to translate it into real work-to-do - volunteers?

/triage accepted

[2022-10-13 16:06] logicalhan commented on #112959
@Richabanker is tackling this one :)

[2022-10-13 16:07] SubhasmitaSw commented on #111876
Hi @mmiranda96 checking in for any progress in this segment here given v1.26 release milestone.
~ Bug Triage Release Shadow

[2022-10-13 16:16] MadhavJivrajani commented on #113043
/sig apps

[2022-10-13 16:18] MadhavJivrajani commented on #113019
/cc @Debanitrkl @Harshitavkb26 @Rishit-dagli

[2022-10-13 16:24] yugandhar-btc opened #113051 "Warning | when PSP (Pod Security Policy) applied to Istio"
### What happened?

Could you please help me, what would be the changes required in [pod_security_policy-istio.yaml](https://github.com/GoogleCloudPlatform/fda-mystudies/blob/master/deployment/kubernetes/pod_security_policy-istio.yaml) as per the latest Kubernetes versions (from v.21+)

When I applied [pod_security_policy-istio.yaml](https://github.com/GoogleCloudPlatform/fda-mystudies/blob/master

[2022-10-13 16:34] leilajal commented on #113028
/triage accepted

[2022-10-13 16:43] Debanitrkl commented on #113019
We had a discussion on permission based issues regarding enabling code spaces for k/k, I think it would be better to run it through SIG-Infra once to see how can we set it up for k/k, because at the moment building kubernetes on code spaces base tier isn't possible yet.

[2022-10-13 16:43] sftim commented on #81114
@liggitt - should this have the official CVE feed label (added retrospectively, I mean)?

[2022-10-13 17:19] Huang-Wei commented on #68701
yes, and discuss.k8s.io

[2022-10-13 17:30] lengrongfu commented on #113051
- /sig auth
- /sig apps

[2022-10-13 17:30] lengrongfu commented on #113051
/sig auth
/sig apps

[2022-10-13 17:31] lengrongfu commented on #113051
/assign

[2022-10-13 17:41] lengrongfu commented on #113028
/assign

[2022-10-13 17:47] thockin commented on #82296
Sadly, the conversion process converts YAML `true` to JSON `true` and unmarshalling `true` into a string is not a thing we do (though I can comprehend an argument for "maybe we should")

[2022-10-13 17:48] lengrongfu commented on #113051
This should not be considered a bug, but a feature. Do you agree? @yugandhar-btc

[2022-10-13 17:56] andrewsykim commented on #52185
/assign

[2022-10-13 18:11] Jefftree commented on #113028
It's small enough that I don't think a KEP is necessary. If there are a lot of design details, feel free to expand the [OpenAPI V3 KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2896-openapi-v3/README.md)

[2022-10-13 18:15] liggitt commented on #113051
PSP migration info is at https://kubernetes.io/docs/tasks/configure-pod-container/migrate-from-psp/

/remove-kind bug
/kind support
/close

[2022-10-13 18:16] #113051 closed

[2022-10-13 18:19] lengrongfu commented on #113043
/assign

[2022-10-13 18:26] liggitt commented on #81114
probably? I have no idea how that label is supposed to get applied, but there appear to be several CVE issues that don't have it - https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+in%3Atitle+%22CVE-2019%22+-label%3Aofficial-cve-feed

[2022-10-13 18:28] jkamenik commented on #82263
/reopen

I think a good use case for this is certificates, which are usually stored in Secrets.  When mounting the TLS secret using `fsGroup` the permissions become `-rw- r-- ---`.  This causes a "too permissive" error when trying to use the Cert.

Currently the only solution is an `initContainer` that runs as root and `chowns` the files.  However, this can and does run afoul of many secure cluste

[2022-10-13 18:59] #107730 closed

[2022-10-13 19:07] SergeyKanzhelev commented on #112443
In the kubelet.log attached to the first comment we see messages from the nodeshutdown_manager_linux. So I think it will indicate that everything works as expected.

I think the issue is that something is terminating kubelet process before the specified inhibitor timeout. So machine shut downs, kubelet got notified about it, it starts terminating pods, but than kubelet process got killed and don't

[2022-10-13 19:09] SergeyKanzhelev commented on #112936
/triage accepted
/priority important-longterm

[2022-10-13 19:10] SergeyKanzhelev commented on #112936
/remove-triage needs-information

[2022-10-13 19:23] pankajkumar229 opened #113055 "preferredDuringSchedulingIgnoredDuringException does not work with overproviosioning"
### What happened?

preferredDuringSchedulingIgnoredDuringException not working as expected.

What is happening is that we want a new pod to go to nodes that preferably have the label “2.19” and start very fast. We use preferredDuringSchedulingIgnoredDuringExecution and overprovisioning to make the starts fast. There are three nodes running with that label and they all have low priority overprovis

[2022-10-13 19:56] shanemcd commented on #28369
Is this the same thing? I don't see it mentioned anywhere here yet. https://github.com/kubernetes/kubernetes/issues/59902

[2022-10-13 19:56] lavalamp commented on #112684
@stevekuznetsov the pros & cons are listed in the OP, aside from effort which is massively tilted in favor of option 1.

[2022-10-13 19:57] lavalamp commented on #112684
All, I just posted #113056 which is about half of the documentation change needed to do option 1. Totally open to any suggestions on that to make option 1 easier for anyone impacted to deal with.

[2022-10-13 20:17] aramase commented on #111923
/reopen
/assign
/unassign @harshanarayana

[2022-10-13 20:19] pankajkumar229 commented on #113055
/sig scheduling

[2022-10-13 20:23] sftim commented on #81114
@PushkarJ I think you're likely to know who to highlight this to. Sorry to mention you individually; please feel free to point out docs if there are any.

[2022-10-13 20:53] nabheet commented on #28369
I thinks so. And I think there might be some more too.

[2022-10-13 21:28] enj opened #113058 "KMS: prefixTransformers.TransformToStorage allocates poorly"
The code at:

https://github.com/kubernetes/kubernetes/blob/215f236a6b9087c63f4f65fd34a066e56fae54d7/staging/src/k8s.io/apiserver/pkg/storage/value/transformer.go#L154-L157

assumes that the transformation does not change the size of the data.  Since we know it most cases that it does, we should try to account for that during the allocation.

[2022-10-13 21:29] enj commented on #113058
/sig auth

[2022-10-13 21:29] enj commented on #113058
/triage accepted

[2022-10-13 22:51] prasannjeet commented on #90594
@chief93  Thanks for the update. I can confirm that this works.

[2022-10-13 23:30] mikebrow commented on #112910
was thinking timing might be an issue..  maybe register an eventfd for thresholds on the cgroup that occur before the oom kill..

[2022-10-14 00:53] bobbypage commented on #112151
In Debian10 we use runc(v.1.1.4) as runtime (sorry for the previous misdirection)

Got it, so the big difference in your case seems to be crun vs runc. Has anyone been able to reproduce with runc + containerd?

/cc @haircommander @mrunalp since we have several reports of the issue with crun / CRI-O.

I attempted to repro by bringing up a v1.24.6 on Ubuntu 20.04 with cgroupv2 (kernel 5.15.0-1018-gc

[2022-10-14 00:58] #112429 closed

[2022-10-14 00:58] #112822 closed

[2022-10-14 01:11] bobbypage commented on #112910
I think for OOM kills there kernel OOM killer prints a message that contains `oom_memcg` which is the cgroup which went over the memory limit. If the `oom_memcg` cgroup matches to the container cgroup, it means the OOM kill was a result of the container, otherwise a different cgroup went over the limit.

cAdvisor does some parsing of the OOM kill logs to make sense of this - https://github.com/goo

[2022-10-14 01:50] craiglpeters commented on #113019
@Debanitrkl can you help me understand what you mean? I am currently testing building kubernetes in a default codespace and haven't faced any issues yet.

[2022-10-14 01:58] PushkarJ commented on #81114
/label official-cve-feed

@sftim thanks for the tag, added the label now!

[2022-10-14 01:59] PushkarJ commented on #101435
/label official-cve-feed

(Related to kubernetes/sig-security#1)

[2022-10-14 02:00] PushkarJ commented on #87773
/label official-cve-feed

(Related to kubernetes/sig-security#1)

[2022-10-14 02:00] PushkarJ commented on #85233
/label official-cve-feed

(Related to kubernetes/sig-security#1)

[2022-10-14 02:02] PushkarJ commented on #61297
/label official-cve-feed

(Related to kubernetes/sig-security#1)

[2022-10-14 02:04] PushkarJ commented on #65750
/label official-cve-feed

(Related to kubernetes/sig-security#1)

[2022-10-14 02:04] #112585 closed

[2022-10-14 02:05] PushkarJ commented on #76676
/label official-cve-feed

(Related to kubernetes/sig-security#1)

[2022-10-14 02:06] mrbobbytables commented on #113019
AFAIK we don't need to do any permissions change to create a default code space. We don't have to configure it so spinning things up would come out of the orgs allocation.

[2022-10-14 02:07] PushkarJ commented on #78308
/label official-cve-feed

(Related to kubernetes/sig-security#1)

[2022-10-14 02:07] lengrongfu commented on #113058
/assign

[2022-10-14 02:09] PushkarJ commented on #83253
/label official-cve-feed

(Related to kubernetes/sig-security#1)

[2022-10-14 02:12] PushkarJ commented on #81114
@liggitt thanks for the useful filter. Currently in-scope issues are issues that were _closed as fixed_ by code changes to k/k.

So with that in mind, I have added the labels to some of the closed issues too that conform to the scope defined here: https://github.com/kubernetes/enhancements/tree/master/keps/sig-security/3203-auto-refreshing-official-cve-feed#summary

[2022-10-14 02:17] JohnJAS commented on #103675
Although this issue was closed, please notice that the Endpoint & EndpointSlice permission won't be deleted automactically if upgrading K8s from an impacted version.

Here are some tips for this situation. Please correct me if anything wrong.

I suggest to remove the Endpoint & EndpointSlice permission only instead of directly using the yaml above because it will delete more permissions on the new

[2022-10-14 02:25] carezkh commented on #112937
@haircommander I agree with you.

I have tested K8S 1.22.0/1.23.0/1.24.0/1.25.2 on ubuntu22-04(with cgroup v2) and ubuntu18-04(with cgroup v1). `K8S 1.22.0~1.25.2  on ubuntu18-04` and `K8S 1.22.0~1.23.0 on ubuntu22-04` work as my expect (can only access/modifying its own cgroup in privileged pod), but `K8S 1.24.0~1.25.2 on ubuntu22-04` is different.

Trun off cgroup v2 on ubuntu22-04 and use cgrou

[2022-10-14 02:26] Debanitrkl commented on #113019
I was trying out the the `make verify` and `make all` and I get the following message:
`High codespace CPU (98.5%) utilization detected. Consider stopping some processes for the best experience.`

[2022-10-14 02:35] BenTheElder commented on #112937
I believe I misunderstood the intent of this issue, the term "can" is a bit overloaded. My apologies.

A determined user in a privileged pod _can_ do essentially anything on the host if they're actively trying to ...

[2022-10-14 02:40] Debanitrkl commented on #113019
Also, since it directly spins-up a development environment, we need to have the [pre-requisite environment configuration](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#installing-required-software) defined in devcontainer.json, but since that may vary for different use cases are we planning to have all the pre-requisites to be set-up by default in the enviro

[2022-10-14 02:58] lengrongfu commented on #113058
@enj I think there is no problem with the memory allocation of `prefixedData`, because `prefixedData = append(prefixedData, result...)` needs to be executed afterwards, in order to avoid executing new memory allocation during append, so `cap=len(data)+len(transformer. Prefix)` is no problem. IMO

[2022-10-14 03:06] staugust commented on #110533
/remove-lifecycle rotten

[2022-10-14 03:07] pacoxu commented on #113036
/sig apps

[2022-10-14 03:14] Debanitrkl commented on #113019
Presently these all tests fail for less disk space on running `make verify`
[code]

[2022-10-14 03:16] carezkh commented on #112937
@BenTheElder That's alright! Any suggestion will be appreciated！:)

[2022-10-14 03:22] craiglpeters commented on #113019
@Debanitrkl it seems that you are using a machine with too few resources. It may be the case that you don't (yet) have access to larger machines. Soon everyone will have access to larger machines, but I can help you get access to a larger machine to test on now.

[2022-10-14 03:54] apelisse commented on #113028
Note that OpenAPI v3 and OpenAPI v2 both expose the content-types in different ways. Is this issue about v2 or v3?

[2022-10-14 03:56] kerthcet commented on #110175
Hi @sanposhiho Are you working on this? I think this is quite important and if you're not working on this, I can follow.

[2022-10-14 05:19] yugandhar-btc commented on #113051
@liggitt could you please help the changes required in [pod_security_policy-istio.yaml](https://github.com/GoogleCloudPlatform/fda-mystudies/blob/master/deployment/kubernetes/pod_security_policy-istio.yaml) file.

[2022-10-14 06:00] #112949 closed

[2022-10-14 06:04] lengrongfu commented on #112912
/close

[2022-10-14 06:22] pacoxu opened #113066 "cri stats provider: unable to find data in memory cache. Result in InvalidDiskCapacity warning."
### What happened?

/sig node

[code]

kubelet log below

[code]

[code]

### What did you expect to happen?

No InvalidDiskCapacity warning.

`unable to find data in memory cache`?

### How can we reproduce it (as minimally and precisely as possible)?

I join a new node of ubuntu with new kernel 5.15 and the node get this warning.

### Anything else we need to know?

After some investigations and

[2022-10-14 06:34] kerthcet commented on #112947
Thanks for feedbacks, unifying the labels may not be a good choice.

About `MatchLabelKeys`, I have several concerns:
1) Currently we treat it as a feature option, but I can't image that people will expect scheduling decisions taking read-to-rolling-update pods into consideration. We could say it's not for breaking end-users, but actually the impact is small for that's what they want.

2) As @ahg-

[2022-10-14 06:37] pacoxu commented on #112912
/close

If you set `Fixes #112912` correctly, this issue will be closed automatically by GitHub. There is an extra # in https://github.com/kubernetes/kubernetes/pull/112939#issue-1402183575.

[2022-10-14 06:37] #112912 closed

[2022-10-14 07:41] brucelee138 commented on #112893
@lengrongfu thanks for your interest in this! Do reach out to me if you got any queries.

[2022-10-14 08:41] marseel commented on #113007
Parallelizing loops seems fine from SIG Scalability perspective - we already do something similar for example in KCM when creating pods or in scheduler each binding is done by separate goroutine.

One question though, is there a limit of pods that we want to preempt here? 100 parallel calls will be probably fine, but 1000 wouldn't be.

[2022-10-14 09:09] #109663 closed

[2022-10-14 09:26] lixiaobing1 commented on #113017
I agree, it can be added to "kubectl describe deployment xxx -n yyy"

[2022-10-14 09:29] lixiaobing1 commented on #113003
omit installing flannel?

[2022-10-14 10:34] mindw commented on #52172
/remove-lifecycle stale

[2022-10-14 10:53] soltysh commented on #112778
Yeah, I'd prefer we don't tide conformance with a particular protocol, but rather focus on high level port forwarding capability, just like Antonio proposes.

[2022-10-14 10:59] kerthcet commented on #113007
Victims greater than 50 is rare. And we general use a default Parallelizer which limits to 16 parallelism in scheduler.

[2022-10-14 11:10] soltysh commented on #108609
@carantunes you still interested in doing this change?

[2022-10-14 11:23] carantunes commented on #108609
Yes I am! I'll be looking into this soon

[2022-10-14 11:52] jayunit100 commented on #103860
i guess we can close this pretty soon

[2022-10-14 12:27] vaibhav2107 commented on #106083
/remove-lifecycle rotten

[2022-10-14 12:32] stevekuznetsov commented on #112684
@lavalamp I guess the cons for 2 are really not convincing whatsoever -

- Requires server changes, clients have to wait for a new version.
This is plumbing an etcd field, fairly trivial and I expect also trivial to backport if needed.

- slight storage size increase. [EDIT: no, actually etcd already stores this for us]
As noted, not a con.

- More difficult to solve the cross-object ordering prob

[2022-10-14 13:04] empereira commented on #54918
when I appy...

`kubectl apply -f "https://cloud.weave.works/k8s/scope.yaml?k8s-version=$(kubectl version | base64 | tr -d '\n')`

Unable to connect to the server: dial tcp: lookup cloud.weave.works on 1.1.1.1:53: no such host exists

I managed to install it by taking the link from the site's own documentation: https://www.weave.works/docs/scope/latest/installing/

`kubectl apply -f https://github

[2022-10-14 13:24] #112873 closed

[2022-10-14 13:35] alculquicondor commented on #112947
In general, MatchLabelKeys can be used to simplify your affinity selectors. Now you only have to specify the label key, instead of having to copy the label value as well.

So that should be some motivation for users to migrate to the new API.

[2022-10-14 13:56] alculquicondor commented on #113007
We only preempt pods from a single node, so that's a natural threshold.

And we have a parallelizing mini-library that has 16 workers by default.

[2022-10-14 14:15] haircommander commented on #112151
cc @giuseppe

[2022-10-14 15:05] kustodian commented on #25238
@apelisse as far as I understand this now works properly since 1.22 if you use the server-side apply, which means to make it work for Helm and others, they need to implement [server-side apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/)? Is that correct?

[2022-10-14 15:30] srikanthpacco opened #113069 "Error while executing kubectl from Jenkinsfile"
Jenkins file:
Following step is to deploy the docker image from ECR to EKS
 stage('Deploy'){
            steps {
                bat 'kubectl apply -f deployment.yml'
            }
        }

While executing this step in Jenkins I see the following error:

C:\ProgramData\Jenkins\.jenkins\workspace\Customer App - DEV Pipeline>kubectl apply -f deployment.yml
Error from server (Forbidden): <html><hea

[2022-10-14 15:34] #113069 closed

[2022-10-14 15:35] srikanthpacco commented on #113069
Want to triage little more

[2022-10-14 15:48] #112960 closed

[2022-10-14 15:53] dipankardas011 opened #113070 "Handling of errors in pkg/printers/internalversion"
https://github.com/kubernetes/kubernetes/blob/52b47dac4fe26644a91f44191ff7052b73c3afd7/pkg/printers/internalversion/printers.go#L87

Can I try to add error handling?

https://github.com/kubernetes/kubernetes/issues/113070#tasklist-block-cb9ee277-1f3c-4cd2-a780-572bb7560a19

[2022-10-14 16:15] pbetkier commented on #110034
I can see how this behavior can be confusing.

To sum up, what you propose is a condition specifying that scale is outside of supported [min,max] range and HPA cannot bring it to the supported range due to `SelectPolicy: Disabled` constraint. Effectively HPA will be disabled (no scaling decisions) until scale is brought manually to [min,max] range. Is this correct?

Sounds reasonable to me, WDYT @

[2022-10-14 16:17] pbetkier commented on #110034
/remove-lifecycle rotten

[2022-10-14 16:25] Jefftree commented on #113028
Both are issues although I'd imagine we'd want to focus our efforts on V3. They build off the same object in go restful and I think it might be possible to fix both at the same time.

[2022-10-14 16:26] pbetkier commented on #110278
/close

[2022-10-14 16:26] #110278 closed

[2022-10-14 16:52] aojea commented on #54918
you should check with weave folks, this is not related to kubernetes

[2022-10-14 16:55] ehashman commented on #50375
/lifecycle frozen

[2022-10-14 16:56] bamboo12366 commented on #110034
@pbetkier yea correct

[2022-10-14 17:10] tallclair commented on #103151
If folks are reluctant to disable the bot entirely (Ben's suggestion), I have an alternate proposal:

1. Triaged issues are never marked stale or closed.
2. _(optional)_ After 1 year (or some long timeline) of no activity, require triaged issues to be re-triaged (this is sort of like marking them as stale)
3. Regular stale/rotten/closed rules are applied to untriaged issues

[2022-10-14 17:27] logicalhan opened #113072 "Add a client-side rate limiter metric"
### What would you like to be added?

We have no way to tell if client-go rate-limiter is getting hit and by how much. Ideally we will have some sort of saturation metric that tells us how much the client-side rate limiter is getting used.

### Why is this needed?

We have no way to tell if client-go rate-limiter is getting hit and by how much.

[2022-10-14 17:27] logicalhan commented on #113072
/sig api-machinery

[2022-10-14 19:01] jdn5126 opened #113073 "Sandbox pause container not deleted"
### What happened?

A pod deletion did not result in the correct sandbox pause container being deleted. This was found during internal EKS testing on 1.22, where the test case was as follows:
1. Create a deployment with ~20 replicas and target a single Linux node.
2. Wait for all pods to have networking resources allocated
3. Delete the deployment
4. Validate that networking resources are cleaned

[2022-10-14 19:03] apelisse commented on #25238
If you use server-side apply, and remove the value from your manifest before you apply, then yes, this should work properly.

[2022-10-14 19:04] jdn5126 commented on #113073
/sig node

[2022-10-14 19:19] kustodian commented on #25238
Thanks for confirming 👍

This is good if you use kubectl, but for anyone using gitops and tools like Helm this won't work. What still needs to be done so that this issue can be resolved/fixed in general and that it works correctly with all tools?

[2022-10-14 20:42] hernanpl opened #113075 "Bring CLOMonitor Score to 100%"
This repo is signed up as part of the KubeCon [Security Slam](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/attend/experiences/#security-slam). I'm bringing to your attention the checklist from the official [CLOMonitor page for Kubernetes](https://clomonitor.io/projects/cncf/kubernetes) -- it refreshes every hour, so it should be up-to-date.

## CLOMonitor report

### Sum

[2022-10-14 20:54] xmcqueen commented on #110156
These are failing worse than before now. The problem now seems to be infra related:

- [remote dirs unavailable](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-soak-cos-gce/1581016864685821952/podinfo.json)
- [serial log - no space left on disk](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-soak-cos-gce/1581016864685821952/artifacts/bootstrap-e2e-master

[2022-10-14 22:08] craiglpeters commented on #113019
Update: I tested with a 4 core codespace and could `make verify` without issue, and provided @Debanitrkl with access to the same to verify.

[2022-10-15 00:16] GauntletWizard commented on #63726
The recently-accepted [ClusterTrustBundle KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/3257-trust-anchor-sets) will provide this mechanism.

[2022-10-15 00:31] #103860 closed

[2022-10-15 01:15] S-Chan opened #113076 "Watch cache cannot be initialized for large responses"
### What happened?

We observed the following logs on API servers:

[code]

On further investigation, we found that there were a number of large ConfigMaps taking up >2GB on the cluster. When the cacher starts up, the initial list response size is too large, so it fails.

### What did you expect to happen?

The watch cache would start up.

### How can we reproduce it (as minimally and precisely as

[2022-10-15 01:23] S-Chan commented on #113076
One possible solution would be to allow configuration of the cache list chunk size.

[2022-10-15 09:00] yangwenyi1995 opened #113078 "Err msg incorrect when creating already exists pod of statefulset"
### What happened?

When pods of statefulset created, sometimes kube-controller-manager will report "FailedCreate" abnormal event, but the conditions of creating pod are all satisified all the time.

### What did you expect to happen?

We shouldn't report abnormal events when creating statefulset if conditions are satisified.

### How can we reproduce it (as minimally and precisely as possible)?

[2022-10-15 10:16] rnemeth90 opened #113079 "EndpointSliceCache Only has 1 IP Address Even Though Multiple Endpoints Are Running"
### What happened?

Cluster information:
Kubernetes version: 1.22.11
Cloud being used: Azure/AKS
Installation method:
Host OS: Linux/Windows
CNI and version: Azure CNI
CRI and version: containerd (containerd-2022.09.13)

We have several K8s clusters running in AKS. We have Linux and Windows node pools and deployments running on each. We are using the node autoscaler to autoscale node pools, and HP

[2022-10-15 10:16] sli720 opened #113080 "Upscaling of coredns pods leads to DNS timeout errors"
### What happened?

Since upgrading to CentOS 9 and Kubernetes 1.24.6 (on the same hardware), sporadic DNS resolution errors occur when too many coredns pods are running at the same time. If I reduce them to <= 3, no more errors occur. Once the error occurs, you see lines in the logs of nodelocaldns pods like:

`[ERROR] plugin/errors: 2 git-cache.ci.svc.cluster.local. A: select tcp 10.233.0.3:53:

[2022-10-15 10:20] sli720 commented on #113080
/sig network

[2022-10-15 10:58] luozhiwenn opened #113081 "Nodes becomes Unknown when the time on this node jumps to the past"
### What happened?

When I change the time on the node to the past, the node status get from the kube-apiserver changes from Ready to Unknown, and then returns to Ready after a period of time.

### What did you expect to happen?

When the time changes, the node remains in the Ready condition.

### How can we reproduce it (as minimally and precisely as possible)?

Changes the time on the node to th

[2022-10-15 10:59] luozhiwenn commented on #113081
/sig node

[2022-10-15 12:08] arielvalentin commented on #79224
+1 reopen

[2022-10-15 13:02] rnemeth90 commented on #113079
/sig network

[2022-10-15 13:16] aojea commented on #113079
What's the pod status? If is not ready it will not be present on the endpoint

/Cc @khenidak

[2022-10-15 13:49] #112959 closed

[2022-10-15 15:22] #109287 closed

[2022-10-15 16:35] yardenshoham commented on #113019
I would also hope for gitpod

[2022-10-15 16:49] dipankardas011 commented on #113070
As of now, I think we can print the error OR suppress the error by using ' _ := '
Am I correct?

[2022-10-15 16:53] dipankardas011 commented on #113070
[code]

[2022-10-15 17:48] deitch commented on #41881
/remove-lifecycle stale

[2022-10-15 18:17] PengWang-SMARTM commented on #111829
I've read two issues, [24725](https://github.com/kubernetes/kubernetes/issues/24725) and [40908](https://github.com/kubernetes/kubernetes/issues/40908).

Although both issue have been marked as closed, and I understand current implementation supports only "Always" for these workload types, like Deployment, I'm not convinced that it should support only “Always". Like many of others, I believe this

[2022-10-15 22:27] PengWang-SMARTM commented on #111829
I now see the documentation for these workload types, such as [Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pod-template), saying only `Always` is allowed. However, I don't understand why. Can someone explain that?