[2021-03-03 07:49] navist2020 commented on #99675
I want to help. I will work on:
 ./staging/src/k8s.io/api/authorization/v1/types.go
 ./staging/src/k8s.io/api/authorization/v1beta1/types.go
:)

[2021-03-03 07:51] BenTheElder commented on #93620
/cc @hasheddan

[2021-03-03 07:57] #76302 closed

[2021-03-03 07:59] M-A-N-I-S-H-K commented on #52757
do we have any update on this?

[2021-03-03 08:14] wangyysde commented on #99675
/assign
I will work on:
./staging/src/k8s.io/api/extensions/v1beta1/types.go

[2021-03-03 08:54] eero-t commented on #52757
There's Container Device Interface proposal and WG for it.

[2021-03-03 09:01] amwat opened #99690 "[cluster/gce] Missing --project while adding kubeconfig metadata"
#### What happened:

kube-up tries to add metadata to the wrong project.

https://testgrid.k8s.io/conformance-all#Conformance%20-%20GCE%20-%20master%20-%20kubetest2

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest-kubetest2/1366974682632294400

[code]
It is trying to add metadata to the prow project running the tests instead of the target project.

This is

[2021-03-03 09:08] HarshitaJha opened #99692 "Container Health check set"
This is a question, not an issue.
We are using docker benchmark on our K8s cluster and checking if our containers are compliant by CIS standards. One of the docker benchmarks says that all containers should have the docker healthcheck instruction so that the status of the container, whether healthy (ready for use) or not shows up in the docker inspect command. I was wondering if you could enlighte

[2021-03-03 09:27] karolinepauls commented on #93019
/remove-lifecycle stale

[2021-03-03 09:40] pacoxu commented on #93347
I need to go though all functions in e2e/storage
- [x] this is mentioned in #93332 comments: StopPodAndDependents: e2e/storage/testsuites/provisioning.go to  test/e2e/storage/utils/pods.go
- [ ] pod create and wait
- [ ] pvc create and wait
- [ ] node related

Probably, I need read most of the functions.

[2021-03-03 09:42] qingwave commented on #99675
/assign
I will work on:
./staging/src/k8s.io/api/autoscaling/v2beta2/types.go

[2021-03-03 09:55] phil9909 opened #99697 "startup probe restarts without back-off (and looses events)"
#### What happened:

- Pods were restarted twice in a row between back-offs:
  - restart
  - restart
  - back-off
  - restart
  - restart
  - back-off
  - restart
  - ...
- Expected events (e.g. `Unhealthy` and `Killing`) did not show the expected count.
  Kubelet log does not show dropped events (also cluster had no other workload).

#### What you expected to happen:

- Back-off occurs after ever

[2021-03-03 09:58] phil9909 commented on #99697
/sig node

[2021-03-03 10:02] themish95 commented on #94400
Is there any update on this?

[2021-03-03 10:11] aojea commented on #90764
My point is that Conformance folks (cc @johnbelamaric ) should decide if they want to consider ExternalIPs as part of the conformance definition, I pointed to some issues related to the topic here

sig-network will keep testing externalIPs, are part of the API and we need to verify them, Conformance has a narrower scope

[2021-03-03 10:25] aojea commented on #9995
This was answered in the mailing list too
https://groups.google.com/g/kubernetes-sig-network/c/Ihq_1AslEMQ/m/oFiOxOJcAQAJ

I think that this will be reopened as a bug if `--service-node-port-range `  can not select a different nodeport range or, if it can,  those doesn't work

[2021-03-03 10:25] wzrdtales commented on #9995
@BenTheElder also wondering why this pops up in my mails again and again your interpretation is right, that is what this issue was about. changing the node port range is supported. I guess people that hit on that problem find in google instead of the documentation this issue first.

[2021-03-03 10:27] yuzhiquan commented on #99270
/assign

[2021-03-03 10:29] yuzhiquan commented on #99270
/remove-help

[2021-03-03 10:29] spiffxp commented on #98326
refreshing description based on script in https://github.com/kubernetes/kubernetes/pull/99698

[2021-03-03 11:06] RichardHill commented on #28167
We are currently working on a software solution that would very much benefit from having this resolved. It seems very strange to me that these two should end up being merged together and I'm left wondering what the engineering decision was to come the conclusion that it would be a good idea!!

[2021-03-03 11:17] immanuelfodor commented on #93019
FYI, https://github.com/kubernetes/enhancements/pull/2440 took over and got merged recently.

[2021-03-03 11:43] mowangdk commented on #99675
/assign

I will work on
 ./staging/src/k8s.io/api/policy/v1beta1/types.go
 ./staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/types.go
./staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types.go

[2021-03-03 11:53] bboreham commented on #29838
As of Kubernetes 1.18 all new objects have metadata for server-side apply, which gives us a new way to sort events:

    kubectl get events --sort-by=".metadata.managedFields[0].time"

Kudos to @stefanprodan who told me about this.

[2021-03-03 12:25] nikhita commented on #93637
/remove-lifecycle rotten

On Wed, Mar 3, 2021 at 5:38 PM fejta-bot <notifications@github.com> wrote:

[2021-03-03 12:52] connde commented on #97066
I also observed that on 1.20, using RKE

[2021-03-03 12:54] chilicat commented on #81837
I also see the problem that kube-control-manager and kube-scheduler can not retrieve the lock because of Client.Timeout exceeded.

I can reproduce it relatively often when I force shutoff the machine which currently holds the log.
I have a 3 Master setup where all services connect to kube-apiserver thru an HAProxy.

The interesting part is that e.g. "kubectl get po" works as expected, meaning the

[2021-03-03 12:58] hasheddan commented on #93620
/assign
/remove-lifecycle rotten

[2021-03-03 14:17] soltysh commented on #73613
This is still an issue.
/reopen

[2021-03-03 14:17] weiwei04 opened #99708 "Pod status becomes MatchNodeSelector after restart kubelet"
#### What happened:

step 1: label node0 with region=r0
step 2: schedule a pod A with labelSelector region=r0 to node0, and pod A up and running
step 3: label node0 with region=rx
step 4: restart kubelet on node0, after kubelet restart, pod A evicted by kubelet and status becomes MatchNodeSelector

#### What you expected to happen:

pod A up and running on node0 even after we change nodeLabel and

[2021-03-03 14:27] weiwei04 commented on #99708
Look into kubelet code:

After kubelet restarted, it will list pods from APIServer and go through HandlePodAddition which will call predicates.Admit to check nodeName & labelSelector/Affinity

https://github.com/kubernetes/kubernetes/blob/ce968390b180e466b8b9a8f5a30401b501e69695/pkg/kubelet/kubelet.go#L1884
[code]

and the running pod A will violate

https://github.com/kubernetes/kubernetes/blob/c

[2021-03-03 14:30] claudiubelu commented on #99648
Currently wondering where to add this metadata:

- image label: we can probably do it using ``docker buildx build --label``, and we'd only have to do it once in ``image-util.sh``.
- image ENV, similar to how it's being done here: https://github.com/kubernetes/test-infra/blob/master/images/gcb-docker-gcloud/Dockerfile#L24 (but this will require touching all the Dockerfiles too)
- both.

[2021-03-03 14:31] weiwei04 commented on #99708
/sig node

[2021-03-03 14:33] alculquicondor commented on #96436
/unassign @tangwz
as we haven't heard back.

[2021-03-03 14:34] AliceZhang2016 commented on #96436
/assign

[2021-03-03 14:34] lauchokyip commented on #99675
/assign
will work on
[code]

[2021-03-03 14:37] lauchokyip commented on #99675
For people who just passed by,
These are the files that are still available,
*  ./staging/src/k8s.io/api/flowcontrol/v1alpha1/types.go
* ./staging/src/k8s.io/api/flowcontrol/v1beta1/types.go
*  ./staging/src/k8s.io/api/imagepolicy/v1alpha1/types.go
* ./staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/types.go
* ./staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions

[2021-03-03 15:02] stephan2012 opened #99712 "NodeLocal DNSCache breaks external DNS updates"
#### What happened:

Setup [NodeLocal DNSCache as documented](https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/). While this works and avoids DNS resolution errors when nodes or sites are lost, it also prevents RFC 2136 connections from [external-dns](https://github.com/kubernetes-sigs/external-dns) to cluster-external DNS servers.

[code]

Looks like the netfilter rules explicitly

[2021-03-03 15:25] voriol commented on #89898
same issue on:

  Kops v1.18.3 +AWS +EC2 (r5 family)
  K8S v1.18.9 (Ubuntu 20.04.1 LTS base image)

[2021-03-03 15:48] umangachapagain commented on #99675
/assign

Working on `./staging/src/k8s.io/api/imagepolicy/v1alpha1/types.go`

Available items from the list
+  ./staging/src/k8s.io/api/flowcontrol/v1alpha1/types.go
+ ./staging/src/k8s.io/api/flowcontrol/v1beta1/types.go

[2021-03-03 16:04] dragoneena12 commented on #99675
/assign
I'll work on
- ./staging/src/k8s.io/api/flowcontrol/v1alpha1/types.go
- ./staging/src/k8s.io/api/flowcontrol/v1beta1/types.go

[2021-03-03 16:04] soltysh commented on #95940
Pod status is different from job status, job controller started working on a job as soon as it's `.status.startTime` is non nil. This will be slightly different when we implement https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/2232-suspend-jobs/README.md but the notion of pending pod does not affect job state.
/close

[2021-03-03 16:04] #95940 closed

[2021-03-03 16:06] liggitt commented on #99598
I think it's reasonable to ship conditions in 1.21 and set the SyncFailed condition, then update the eviction API to rely on it in 1.22

[2021-03-03 16:23] julianvmodesto commented on #88091
/reopen

[2021-03-03 16:53] miquella opened #99714 "RemoveStatusCondition panics with an empty slice"
#### What happened:

Attempting to remove a status condition from an already empty slice panics.

[code]

#### What you expected to happen:

An empty slice should be removed (i.e. removed idempotently) and without panicking.

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

Originally found with `k8s.io/apimachinery@v0.20.1`, reprodu

[2021-03-03 16:55] miquella commented on #99714
/sig api-machinery

[2021-03-03 17:01] liggitt commented on #99714
cc @deads2k

[2021-03-03 17:02] liggitt commented on #99708
is this resolved by https://github.com/kubernetes/kubernetes/pull/94087?

[2021-03-03 17:08] spkane opened #99715 "Ability to reserve hugepages for system resources"
#### What would you like to be added:

The `--system-reserved` should allow you to reserve hugepages, if they exist on the system

- **Kubelet Flag**: `--system-reserved=[cpu=100m][,][memory=100Mi][,][ephemeral-storage=1Gi][,][pid=1000]`
  - **see**: https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#system-reserved
  - **see**: https://kubernetes.io/docs/tasks/manage-h

[2021-03-03 17:10] spkane commented on #99715
/sig node

[2021-03-03 17:32] liggitt opened #99716 "Improve API test fixture generation to avoid changing unaffected fields"
#### What would you like to be added:

Improve the API fixture generation in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/testdata to avoid changing unrelated fields when a new field is added/removed

#### Why is this needed:

The random generator used by the fuzzer causes enormous diffs when a new field is added that makes it hard to see the actual changes the fixtu

[2021-03-03 17:45] eddiezane commented on #99511
Please reopen if you are using a [supported version](https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl).

/close

[2021-03-03 17:45] #99511 closed

[2021-03-03 17:46] eddiezane commented on #99616
/triage accepted

[2021-03-03 17:52] eddiezane commented on #99432
This is a reasonable request but not feasible to implement at this time.

[Cobra](https://github.com/spf13/cobra/) implements this for commands but to implement this for your cluster we'd need to make a bunch of requests to build a dictionary to check against.

/close

[2021-03-03 17:52] #99432 closed

[2021-03-03 18:10] mauriciopoppe commented on #81245
@spiffxp thank you for the throughout review! I understand that I can work on this after code freeze (March 9) and should finish before test freeze (Wed March 24), the signature in the proposal is like the signatures in the e2epod public functions have the client and a config

[code]

Hiding it behind a shim sounds like a better approach, thanks for providing the a skeleton for a sample implementa

[2021-03-03 18:20] weiwei04 commented on #99708
No, #94087 solves when kubelet restart, list pods before kubelet get node info. In my case, the node label is changed, and the pod running on this node no longer satisfy pod's affinity rule.

step to reproduce:

step 1: label node0 with region=r0
step 2: schedule a pod A with nodeAffinity region=r0 to node0, and pod A up and running
step 3: label node0 with region=rx
step 4: restart kubelet on nod

[2021-03-03 18:23] johanfleury commented on #99650
I’m on v1.20.4.

That’s already the case.

Also, `containerLogMaxSize` can only be set as a string in kubelet’s configuration, trying to set an integer will raise a parsing error (see [staging/src/k8s.io/kubelet/config/v1beta1/types.go#L719](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L719)).

The problem is not with the configuration, I’

[2021-03-03 18:28] twilco commented on #32946
I'd like to be able to `get pods` that are `Pending` or `Running`, but currently can't due to this issue (unless I'm missing something).  For example:

`kubectl get pods --field-selector status.phase in (Running, Pending)`

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase

[2021-03-03 18:29] damemi commented on #99642
Is this still being tracked? Success rate today shows 5% past 3 hours again

[2021-03-03 18:41] lingwooc commented on #45419
I found a trigger for this for me has been when the quay.io/kubernetes_incubator/nfs-provisioner:latest based ReadWriteMany that longhorn suggests dies. The nfs pod being gone breaks upsets the kernel so things like df hang but also docker inspect on the container that mounted the nfs volume. Now what kills the nfs pod....I have no idea. FWIW I'm using canal not weave.

[2021-03-03 19:12] nikhita commented on #57049
/lifecycle frozen
cc @navidshaikh

[2021-03-03 19:20] thockin opened #99720 "xargs: warning: options --max-lines and --replace/-I/-i are mutually exclusive, ignoring previous --max-lines value"
[code]

#### What happened:

I ran update-vendor.sh

#### What you expected to happen:

Not to see a ton of errors

#### Environment:
- Kubernetes version (use `kubectl version`): HEAD of master

[code]

[code]

[2021-03-03 19:22] jsafrane commented on #98281
OpenStack Cinder: https://github.com/kubernetes/kubernetes/pull/99719

[2021-03-03 19:32] Jiawei0227 opened #99721 "Potential race condition in CSI Migration"
@jsafrane found a possible race with CSI migration enablement:

when say enabling migration on a node, we cordon it, drain it, restart it with the right feature gate (CSINode is updated) and uncordon it (Node is updated).
Now, scheduler can get the new CSINode updated + Node updated (=uncordoned) events first and can schedule a pod to a node.
A/D controller still has the old node + CSINode in its

[2021-03-03 19:32] Jiawei0227 commented on #99721
One possible solution @gnufied brought up is:

[2021-03-03 19:34] rameshb444 opened #99722 "Error starting container: Post http://unix.sock/containers/create HTTP/1.x transport connection broken: malformed HTTP response \"\\x00\\x00\\""
Hi,

We are using Azure Kubernetes Service (AKS) to run our Blockchain Hyperledger Fabric application.
Recently we have upgraded kubernetes version from 1.17 to 1.19.7, later we come to know that docker has deprecated in 1.19* versions.
So instead of docker, we are using containerD as runtime.

For that we have done below changes in our deployment file. **Changed unix:///host/var/run/docker.sock t

[2021-03-03 19:34] Jiawei0227 commented on #99721
I guess we could try to evaluate what's the worst case scenario. @msau42 suggested we could try to simulate this by directly restarting kubelet on a node without node drain but with the CSIMigrationXX flag set. And see if this can successfully get the volume to detach and works normal.

[2021-03-03 19:37] tallclair commented on #95306
/remove-lifecycle rotten

[2021-03-03 19:49] BenTheElder commented on #99720
/sig architecture
(code organization / dependencies)
/sig testing
(hack scripts)

[2021-03-03 19:49] BenTheElder commented on #99720
/triage accepted

[2021-03-03 19:50] julianvmodesto commented on #88091
Oops, this is a duplicate, tracked here https://github.com/kubernetes/kubernetes/issues/9598

[2021-03-03 19:50] #88091 closed

[2021-03-03 19:50] cici37 opened #99725 "Refactor the interface of CCM"
The current [CCM interface](https://github.com/kubernetes/kubernetes/blob/2f263b24a7aab78c794fb90339c176678de6bf8e/staging/src/k8s.io/cloud-provider/app/controllermanager.go#L67) takes multiple input params which might confuse cloud providers especially for controller related operation(add/delete controller in CCM). It would be better to have a more intuitive way to handle. The initial thought wou

[2021-03-03 19:51] cici37 commented on #99725
/sig cloud-provider

[2021-03-03 19:55] BenTheElder commented on #99642
See: https://github.com/kubernetes/kubernetes/pull/99655#issuecomment-789494480

/assign @justaugustus

[2021-03-03 19:55] BenTheElder commented on #99642
/triage accepted

[2021-03-03 19:55] spiffxp commented on #99648
Whatever makes it easier to dump in job logs and export as metadata or some other artifact for the job run

[2021-03-03 19:57] mateuszlitwin commented on #98935
Any updates / recommendations how to deal with filesystem usage when using more than one file system?

[2021-03-03 20:03] enj commented on #99311
xref: https://github.com/kubernetes/kubernetes/issues/70679#issue-377670415

[2021-03-03 20:20] enj commented on #98440
I misspoke a bit above - we do not audit log the parsed version of the query parameters (i.e. `PodPortForwardOptions`) but we do log the query parameters themselves via `RequestURI: req.URL.RequestURI()`.  So it is just the header info that we are missing.

[2021-03-03 20:22] ademariag commented on #99311
Thanks, I'm not interested in this change as it turns out it wouldn't solve my use case anyway.

Will close the ticket, I agree with the points you have raised.

Thank you for looking into this

[2021-03-03 20:22] #99311 closed

[2021-03-03 20:30] chewong commented on #99470
/assign @jsturtevant
Let me know if you want to pair on this

[2021-03-03 21:04] ravisantoshgudimetla opened #99727 "Only system-node-critical pods should have low OOM Score"
#### What would you like to be added:
I'd like only `system-node-critical` pods to have low OOM score -997.

#### Why is this needed:
https://github.com/kubernetes/kubernetes/pull/73758 introduced a change which ensured all the critical priority classes will have a low OOM score -997. While this helped in relating OOM score to priority of pod, it also allows containers in `system-cluster-critical`

[2021-03-03 21:05] rphillips commented on #99727
/triage accepted

[2021-03-03 21:13] #99667 closed

[2021-03-03 21:20] xkortex commented on #74551
[code]

I am also trying to spin up Argo on a fresh minikube instance. It was working fine yesterday, had to tear everything down due to other issues, when I follow the [Argo Quick-start](https://github.com/argoproj/argo-workflows/blob/master/docs/quick-start.md) followed by [Access token creation](https://argoproj.github.io/argo-workflows/access-token/). Started with trying to `curl https://local

[2021-03-03 21:23] sjenning commented on #99727
i think this is reasonable since `system-node-critical` is higher priority than `system-cluster-critical` and this would make a distinction between the two making `system-cluster-critical` killable but assured to be rescheduled

[2021-03-03 21:27] cheftako commented on #69362
/cc @jpbetz
/triage accepted

[2021-03-03 21:28] cheftako commented on #69293
@MorrisLaw Are you working on this?

[2021-03-03 21:29] cheftako commented on #68684
/assign @kishorj

[2021-03-03 21:29] cheftako commented on #68684
/triage acccepted

[2021-03-03 21:30] cheftako commented on #66465
/cc @jpbetz
/triage accepted

[2021-03-03 21:31] cheftako commented on #66321
/triage accepted
Are we waiting for cloud provider extraction to fix this?

[2021-03-03 21:32] cheftako commented on #66306
/assign @kishorj
/triage accepted

[2021-03-03 21:34] cheftako commented on #64912
/assign @cheftako @andrewsykim
/triage accepted

[2021-03-03 21:34] cheftako commented on #61486
/assign @kishorj
/triage accepted

[2021-03-03 21:35] cheftako commented on #60646
/assign @andrewsykim
/triage accepted

[2021-03-03 21:36] cheftako commented on #59893
/cc @jpbetz @cheftako
/triage accepted

[2021-03-03 21:37] cheftako commented on #58334
Closing for lack of response
/close

[2021-03-03 21:37] olenm commented on #17144
/reopen
/remove-lifecycle rotten

[2021-03-03 21:37] #58334 closed

[2021-03-03 21:37] eddiezane commented on #98801
Related to https://github.com/kubernetes/kubectl/issues/1020?

[2021-03-03 21:38] cheftako commented on #56787
/assign @jpbetz
/cc @jiahuif
/triage accepted

[2021-03-03 21:42] cbandy opened #99730 "x-kubernetes-int-or-string changes finalizers behavior"
I'm seeing the behavior of the `metadata.finalizers` field change when I add an `x-kubernetes-int-or-string` property to my v1 CRD. I believe my schema is structural according to this [CRD documentation about IntOrString](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#intorstring).

#### What happened:

When my `apiextensions.k8s.io/v1` CRD has an

[2021-03-03 21:50] smarterclayton commented on #99727
Note that oomscore has nothing to do with rescheduling.  Eviction looks at priority, oomscore simply controls the killer.  I think that strengthens the argument - the point of node-critical is makinng sure it's killed last, but even then that should be a rare, rare case (a memory leak in kube-proxy will blow out the workload, but if we just killed kube-proxy everything would heal).  We may want to

[2021-03-03 21:55] liggitt commented on #98440
It looks like there's two things in play:

1. we don't log options structs passed to Connect REST handlers. That would be easy to add:

[code]

2. As mo points out, SPDY portforward requests don't serialize a PodPortForwardOptions request; they open a SPDY stream all the way to the kubelet and initialize individual port forwarding streams over an upgraded SPDY connection. That wouldn't be possible

[2021-03-03 22:00] spadgett commented on #83961
/remove-lifecycle stale

[2021-03-03 22:03] liggitt commented on #99730
presence of an int-or-string field can affect generation of the v2 openapi schema... if the v2 openapi is what feeds into server-side apply, it could affect SSA on that resource as well

[2021-03-03 22:40] #98495 closed

[2021-03-03 22:41] #98146 closed

[2021-03-03 22:41] #98451 closed

[2021-03-03 22:46] freehan commented on #99382
I would rather just drop the validation. The port number is actually bounded to 0-65535

[2021-03-03 22:46] robscott commented on #99382
@thockin How do you feel about increasing the limit of ports to 65536 in EndpointSlice validation?

[2021-03-03 23:23] bobbypage opened #99739 "[1.21] Cut and vendor new cAdvisor release v0.39.0"
For each kubernetes release, we need to cut a new cadvisor release and vendor it back into k/k. This issue will track cutting new cadvisor release (v0.39.0) and vendoring it back into k/k for 1.21 release.

[2021-03-03 23:24] bobbypage commented on #99739
/sig node
/kind bug
/cc @iwankgb @dims @SergeyKanzhelev @dashpole

[2021-03-03 23:24] bobbypage commented on #99739
/milestone v1.21

[2021-03-03 23:56] #97169 closed

[2021-03-04 00:39] nearora-msft commented on #97031
Tried the same scenario using NFS. It works as expected using NFS.

[2021-03-04 01:16] Jiawei0227 commented on #97031
Yeah, that's why I am wondering if this is something special with CIFS?

[2021-03-04 01:47] cbandy commented on #88091
#95989

[2021-03-04 02:41] heqg commented on #99692
So far, I have not found any parameters that can be overwritten, but there are two prs have been submitted in the community, so the docker health check will no longer take effect in the kubenetes cluster.

for：service pods
https://github.com/kubernetes/kubernetes/pull/50796/files

for: sanbox pods
https://github.com/kubernetes/kubernetes/pull/98552
https://github.com/kubernetes/kubernetes/issues/9

[2021-03-04 02:59] erismaster commented on #97807
Hello! I am from the Bug Triage team! This issue has not been updated for a long time, so I'd like to check on the status. The code freeze is starting March 9th, 2021 (about 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.
As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 03:01] erismaster commented on #75114
Hello! I am from the Bug Triage team! This issue has not been updated for a few weeks, so I'd like to check on the status. Code freeze is starting March 9th, 2021 (about 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.
As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 03:02] erismaster commented on #98723
Hello! I am from the Bug Triage team! This issue has not been updated for a few weeks, so I'd like to check on the status. Code freeze is starting March 9th, 2021 (about 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.
As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 03:03] erismaster commented on #98975
Hello! I am from the Bug Triage team! Code freeze is March 9th, 2021 (about 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.
As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 03:04] BenTheElder commented on #75114
@dims presumably this is fixed now?

[2021-03-04 03:05] erismaster commented on #95306
Hi @tallclair! I am from the bug triage team, and it's about that time again. Code Freeze is March 9th, 2021. Do you think this issue will make it in this release? Thanks!

[2021-03-04 03:08] erismaster commented on #98976
Hello! I am from the Bug Triage team! Code freeze is starting March 9th, 2021 (about 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.
As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 03:13] dims commented on #75114
@BenTheElder yep.

/close

[2021-03-04 03:13] #75114 closed

[2021-03-04 03:24] pacoxu opened #99751 "promote coredns 1.8.4 in kube 1.22"
As far as I know, before that, we should update https://github.com/coredns/corefile-migration as well for kubeadm upgrading or so.

- [x] Promote CoreDNS v1.8.3  https://github.com/kubernetes/k8s.io/pull/1725
- [x] WIP: Promote CoreDNS v1.8.4 (and dns cache 1.18.0)  https://github.com/kubernetes/k8s.io/pull/2118
- -  node-local-dns 1.18.0: https://github.com/kubernetes/dns/releases/tag/1.18.0 : in

[2021-03-04 03:29] adisky commented on #98975
@erismaster yes,
it is still planned for the release :).

[2021-03-04 03:30] lala123912 commented on #99714
/assign

[2021-03-04 03:31] pacoxu commented on #99321
This is fixed IMO
/close
Feel free to reopen if I am wrong.

k8s.gcr.io/coredns/coredns:v1.8.3 was promoted as well.
You can see kubernetes/k8s.io#1725 for some details about the promotion of coredns.
I opened https://github.com/kubernetes/kubernetes/issues/99751 to summarize the dns promotions.

[2021-03-04 03:31] #99321 closed

[2021-03-04 03:33] chenyw1990 commented on #99715
/assign
I'm interested in this feature and I'll try to add it.

[2021-03-04 04:58] pacoxu commented on #98486
It seems all slow test cases are fixed in the list, except the newly found `pkg/controlplane`.
@liggitt

Related PRs:  #99344 is opened for the flake.

[2021-03-04 05:50] liggitt commented on #98486
hmm, I consistently get ~15 second runtimes testing that package with -race... do you have a pointer to slow/timeout failures?

[2021-03-04 05:51] liggitt commented on #98486
if we're down to 1-2 problematic packages, I think I'll close this in favor of specific targeted issues. If you have pointers to >100 second unit test runs of packages, please open an issue for the package and tag the appropriate sig

[2021-03-04 05:51] #98486 closed

[2021-03-04 06:09] pacoxu commented on #99751
/assign

[2021-03-04 06:34] BenTheElder commented on #97921
This is done. See: https://github.com/kubernetes/enhancements/pull/2420

[2021-03-04 06:34] #97921 closed

[2021-03-04 06:35] BenTheElder commented on #97921
context on what all actually had to happen: https://github.com/kubernetes/enhancements/issues/2420#issuecomment-785663043

[2021-03-04 06:42] BenTheElder commented on #98486
+1 sgtm.

thank you all!

[2021-03-04 06:46] mythi commented on #92211
@mikebrow @mrunalp @kad @RenaudWasTaken As discussed in the COD call last week, I have opened PRs in both containerd and cri-o with our preferred solution:

https://github.com/cri-o/cri-o/pull/4620
https://github.com/containerd/containerd/pull/5122

I have done basic validation using our QAT device plugin and I've been able to run DPDK "crypto-perf" test applications as a non-root user (it covers

[2021-03-04 06:55] qingwave commented on #68013
/reopen

[2021-03-04 07:23] qingwave opened #99761 "Container lifecycle hook support timeout limit"
#### What would you like to be added:
Now, container lifecycle `postStart` or `preStop` just a [handler](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#lifecycle-v1-core), timeout should be supported to aviod the hook run long time.
[code]

#### Why is this needed:
The `PostStart` hook may block forever, as decribe in #68013, timeout should be supported to aviod it.

[2021-03-04 07:25] qingwave commented on #99761
sig/node
kind/feature

[2021-03-04 08:14] george-angel commented on #67730
/remove-lifecycle stale

[2021-03-04 08:16] pacoxu commented on #98486
@liggitt I find the reason would be #39649
https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/pkg/controlplane/instance_openapi_test.go#L21-L24

`go test -race -c ./pkg/controlplane` will ignore this test case.

[2021-03-04 08:20] mvladev opened #99765 "OpenID Connect token authenticator cannot be (easily) used in a controller"
#### What would you like to be added:

Allow for controllers to easily consume the [oidc authenticator](https://github.com/kubernetes/kubernetes/blob/be99f37a6861f885c263a447656b9470ba4f720f/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go), by allowing it to have the OIDC issuer CA bundle passed as `[]byte` and offering a way to construct the `Authorizer` without any async

[2021-03-04 08:28] wzshiming opened #99766 "GracefulNodeShutdown cross-platform test failed"
https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-graceful-node-shutdown
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-graceful-node-shutdown/1367278464918360064

- ubuntu without gdbus #99764, kubernetes/test-infra#21151
- COS-85
-  COS-81

[2021-03-04 08:28] #99503 closed

[2021-03-04 08:29] #99318 closed

[2021-03-04 08:29] #99690 closed

[2021-03-04 08:31] wzshiming commented on #99766
/assign

[2021-03-04 08:54] SnailDove commented on #92463
there also is the same on my CentOS 8 system

[2021-03-04 09:14] mythi commented on #92211
/cc @saschagrunert @zvonkok

[2021-03-04 09:22] #99482 closed

[2021-03-04 09:57] srinivasev opened #99770 "Provide an option to configure watch or listener on ConfigMap and Secret resource"
#### What would you like to be added:
Provide an annotation or the way to configure external actions for implementing an internal logic when there is a change in the Configmap / Secret resource object.

kind: ConfigMap
....
data:
    key1:val1
    key2:val2

When there is a change in ConfigMap resource (key3:val3 is added), provide an annotation/way to configure some action where internal logic ca

[2021-03-04 10:01] harche commented on #94223
/close

[2021-03-04 10:01] #94223 closed

[2021-03-04 10:08] #99394 closed

[2021-03-04 10:08] #99720 closed

[2021-03-04 10:16] caimez commented on #60140
To workaround the issue, I ended up running "cat" on the file and redirecting output to the location I wanted to copy the file.
Ex:
`kubectl exec -i [pod name] -c [container name] -- cat [path to file] > [output file]`

[2021-03-04 10:17] stephan2012 commented on #99712
Some more testing showed that NodeLocal DNSCache does not really block traffic to the external DNS server but changes DNS resolution of external FQDN somehow: Changing the external DNS server to an absolute FQDN (e.g., `--rfc2136-host=my-dns-server.company.com.` instead of `my-dns-server.company.com`, note the trailing dot) makes it work again.

For other Pods I noticed occasional delays for FQDN

[2021-03-04 10:25] wojtek-t commented on #98326
Regarding "multi-ownership", with windows test figured (the PR didn't merge yet, but hopefully will soon), the biggest question is now about the upgrade tests.

@spiffxp @janetkuo @soltysh - there are a number of apps related upgrade tests. Even though they are currently running on GCP, I suggest that we officially make them sig-apps tests (I'm sure sig-cloud-provider-gcp will be happy to help on

[2021-03-04 10:25] pacoxu commented on #99305
Would you try this  https://github.com/pacoxu/kubernetes/releases/download/1.21.0-beta-dev/kubelet ?

I build it with `bash build/run.sh make kubelet` on #99635 PR branch.

[2021-03-04 10:27] jsravn commented on #58334
Sorry for missing the notification. It may be fixed - I haven't managed K8s clusters in a while now. It's pretty rare this happens - the provider has to fail to respond, or respond that it doesn't know about an instance.

Digging out my old notes, this is the log I saw:

[code]

[2021-03-04 10:30] mengjiao-liu commented on #99399
Need to make the definition `PV.Spec.AccessMode` of the PV uneditable?  I didn't find this description in all the documentation

[2021-03-04 10:58] glenjamin commented on #98440
Does the API server accept standard query parameters for the port forward endpoint? The API docs seem to suggest it does, but the code takes a very different approach.

[2021-03-04 11:10] FerminCastro commented on #88648
This is a false closure. The fact that you COULD use a control-plane-endpoint HOSTNAME (not an IP) will NOT save you AT ALL from the control plane failing when the IPs of the master nodes change. The IPs of the nodes are hardcoded everywhere. This is a 30 years old problem that Kubernestes should address: use hostnames and not IPs in the config for the control and worker plane's network references

[2021-03-04 11:20] mengjiao-liu commented on #99453
I don't think it's common sense to write duplicate volumes, and people don't use them that way, but if you want to achieve the above YAML intent, you can do it this way
[code]

so I think it might be better this way `Consider it as an invalid request, and deny creating it.`

[2021-03-04 11:22] soltysh commented on #98326
@wojtek-t can you be more specific about which particular tests? I quickly checked https://github.com/kubernetes/kubernetes/tree/master/test/e2e/upgrades/apps/ and those are already marked as sig-apps. I don't have any objections as long as they are part of sig-apps territory but I'd like to know a concrete list before saying so :wink:

[2021-03-04 11:33] ncopa commented on #96114
Issue is still not solved. There is an open PR waiting for review.

/remove-lifecycle rotten

[2021-03-04 11:37] wojtek-t commented on #98326
@soltysh - sorry, I should have been more specific.
Many of those tests are actually being run from here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cloud/gcp/cluster_upgrade.go
and the tests there are marked as [sig-cloud-provider-gcp]

As part of ensuring that each test has a one single sig ownership, I suggest making it explicit that all of those are sig-apps.

Does that make

[2021-03-04 11:54] Frederik-Baetens commented on #83471
Just had this issue on GKE 1.20, about 50 pods took about an hour to get pulled from various registries, including docker and azure before everything worked.

[2021-03-04 12:04] soltysh commented on #98326
@wojtek-t most - yes, but I see a few exceptions:

upgradeTest:
- ServiceUpgradeTest - seems like sig-network
- SecretUpgradeTest - looks like assigned to sig-storage/sig-apimachinery
- ConfigMapUpgradeTest - looks like assigned to sig-storage/sig-apimachinery
- HPAUpgradeTest - sig-autoscaling
- PersistentVolumeUpgradeTest - sig-storage
- AppArmorUpgradeTest - sig-auth (?)
- VolumeModeDowngradeTe

[2021-03-04 12:12] wojtek-t commented on #98326
Sure - I didn't mean to put all of them to sig-apps.
There is just the biggest group of apps related one so wanted to start with this group.

[2021-03-04 12:18] #97550 closed

[2021-03-04 12:31] soltysh commented on #98326
I'm just making sure :wink: Go for it and thx :100:

[2021-03-04 13:05] bl-ue commented on #97550
Done!!! 🚀

[2021-03-04 13:08] adrian-gierakowski commented on #74819
This is still important to me. Lack of merge key makes it difficult to user strategic merge patch to kustomize volumeClaimTemplates for different environments

[2021-03-04 13:18] jsafrane commented on #99677
I think we should copy the behavior of `GenerateMountVolumeFunc`. The volume is mounted, then it's [marked as mounted](https://github.com/kubernetes/kubernetes/blob/2695ef3f1b0e2fc51ffb1bcb8491a4165587a089/pkg/volume/util/operationexecutor/operation_generator.go#L619), then resize is attempted and only if it fails, the volume is marked as *uncertain*. Therefore, kubelet will go through unmounting

[2021-03-04 13:39] neolit123 commented on #88648
@FerminCastro

the kubeadm docs at least tell you that you should be careful with IPs and consider DNS names:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#considerations-about-apiserver-advertise-address-and-controlplaneendpoint

[2021-03-04 13:39] RobertKielty commented on #88766
Recent occurrences can be found here

https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=node&text=mounting

[2021-03-04 13:39] prameshj commented on #99751
Thanks for taking this up! I have reviewed some of the DNS PRs.

Not yet.

[2021-03-04 13:42] #99616 closed

[2021-03-04 13:55] rikatz commented on #98723
@erismaster we're waiting to the PR to get merged :)

I guess it's important for the v1.21 release, for the sake of extensions apiGroup deprecation :)

Will ping reviewers on the PR

[2021-03-04 14:13] chrisohaver commented on #99751
There is a bug in CoreDNS 1.8.3 (and 1.8.1) that causes CoreDNS to fail to start while the k8s API is down.  Eventually once the k8s API is up, CoreDNS will start.  I don't know if this is severe enough of an issue to hold back until it is fixed.  It would at least have the potential to cause a notable delay in CoreDNS starting, due to crashloop backoff.  I don't know if it could cause more seriou

[2021-03-04 14:31] RaymondKYLiu commented on #22368
By using helm, you can try this

[code]

ref: https://helm.sh/docs/howto/charts_tips_and_tricks/

[2021-03-04 14:33] ukreddy-erwin commented on #88648
The network ips may change based on many factors.The point you mentioned is not valid. There should be some fix.

You can't expect to change environment everytime ip changes.it should be redirected based on server name instead of ip.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Lubomir I. Ivanov <notifications@github.com>
Sent: Thursday, March 4, 2021 7:09

[2021-03-04 14:34] alculquicondor commented on #97048
/remove-lifecycle stale

[2021-03-04 14:34] FerminCastro commented on #88648
The point is that even if you use a controplaneenpoint such as a virtual front end load balancer. The original IPS will still appear in a number of places. For example kubeadm-config:

[opc@olk8-m1 ~]$ kubectl -n kube-system  describe cm kubeadm-config | grep advertise
    advertiseAddress: 10.10.0.23
    advertiseAddress: 10.10.0.24
    advertiseAddress: 10.10.0.25

Why can't k8 use hostnames for

[2021-03-04 14:38] neolit123 commented on #88648
these come from the kubeadm ClusterStatus which is deprecated and no longer used.
the original idea there was to track endpoints when etcd is managed on the same node as an API server, but instead kubeadm 1.19 (? or was it) switched to tracking etcd endpoint IPs in the etcd static pod.

any other examples?

[2021-03-04 14:44] neolit123 commented on #88648
not sure what you mean by "server name", but it has to be tracked somewhere

k8s components communicate to each other with kubeconfig files, which allow DNS names. one exception is etcd since it needs a list of IPs passed to the kube-apiserver, but you could still shield an etcd cluster behind a load-balancer IP, which hopefully doesn't change.

to get wider attention to this IP change, problem yo

[2021-03-04 14:44] FerminCastro commented on #88648
The etcd config itself for example. We NEVER EVER use any IPs in any of our configuration steps. However, the default etcd.yaml has the nodes Ip everywhere. We had to change the listen-peer and listen-client to use 0.0.0.0 (which will break in a number situations with multi-nic system) because there is no way to use hostnames there either...

[2021-03-04 14:48] neolit123 commented on #88648
[code]

is your request to be able to pass DNS name instead of `https://192.168.0.101`?

[2021-03-04 14:50] FerminCastro commented on #88648
And as many people has noted in other threads, most operations will fail with Unauthorized exceptions because the certs are invalid. for example, let me share a common op for us: move an etcd snapshot from one location to another where we use THE EXACT same hostnames. Things should JUST work. Give it a try :-), flannel breaks, coredns breaks, etcd breaks...

[2021-03-04 14:52] alculquicondor commented on #99630
@ahg-g @Huang-Wei  thoughts?

[2021-03-04 14:53] FerminCastro commented on #88648
"is your request to be able to pass DNS name instead of https://192.168.0.101?"

We would like to avoid this:

- --listen-client-urls=https://0.0.0.0:2379
    - --listen-metrics-urls=http://127.0.0.1:2381
    - --listen-peer-urls=https://0.0.0.0:2380

[2021-03-04 14:54] liggitt commented on #98486
wow... I... didn't remember that was excluding itself that way. Opened https://github.com/kubernetes/kubernetes/pull/99782 to fix or remove unit tests that don't work in race mode.

[2021-03-04 14:56] alculquicondor commented on #99630
@DemonsLu note that topology spreading and node affinity compete in your scenario.

Where are your pods coming from? From a deployment or are they part of a service?
Note that, by default, these pods tend to spread. Starting from 1.19, you can actually lower the "strength" of spreading by setting a big maxSkew (or entirely disabling zone spreading).

Simply changing the weight of a plugin is a non

[2021-03-04 15:04] neolit123 commented on #88648
your best option is to add nodes from a new network and remove nodes from the old network. then only swap the LB endpoint. patch coredns / CNI whatever needs it.
changing the node IPs in place is not supported and it's unlikely there will be tooling for such a migration any time soon.

this is not only a kubeadm problem as the kubelet has `--node-ip` and the kube-apiserver has `--etcd-servers` whi

[2021-03-04 15:08] FerminCastro commented on #88648
"your best option is to add nodes from a new network and remove nodes from the old network. then only swap the LB endpoint. patch coredns / CNI whatever needs it."

Thanks but there are many use cases where this is just not possible. We may be in a totally different system where we want to place the exact same K8 config we had in a test environment. Or move it to a different DC where we have alias

[2021-03-04 15:08] DemonsLu commented on #99630
@alculquicondor Thanks for your response.
All my test pods coming from a deployment.

Indeed, pods are tend to spread by default. But I think that this default behavior should change as expected after the `preferredDuringSchedulingIgnoredDuringExecution` is configured. If this change is not obvious, it will give users a feeling as if this configuration has not taken effect.

[2021-03-04 15:13] gavinfish opened #99786 "Scheduler: parse pod's node affinity once for PodTopologySpread plugin"
Currently PodTopologySpread plugin parses  NodeSelector and NodeAffinity for each nodes. We can just parse them with a pod in one round and check all the nodes.

/cc @Huang-Wei @alculquicondor
/assign
/sig scheduling

[2021-03-04 15:17] DemonsLu commented on #99630
And not only is there a competition between topology spreading and node affinity, but also all scorePlugins. So I think it's necessary assign a property priority. In my opinion, the user setting's priority should be higher than the priority of the system's internal scheduling.

[2021-03-04 15:19] alculquicondor commented on #99630
For completion, have you had a chance to test the E2E behavior in newer versions? In particular, 1.20, where we significantly changed the default spreading.

[2021-03-04 15:20] ahg-g commented on #99630
You can disable default spreading by using [`ListDefaulting`](https://github.com/kubernetes/kubernetes/blob/c8fe1d9c0699f8d1fd93f47f2a62a4c83ccf5b6f/pkg/scheduler/apis/config/types_pluginargs.go#L97) and keeping [`DefaultConstraints`](https://github.com/kubernetes/kubernetes/blob/c8fe1d9c0699f8d1fd93f47f2a62a4c83ccf5b6f/pkg/scheduler/apis/config/types_pluginargs.go#L112) empty. If you disable defa

[2021-03-04 15:21] neolit123 commented on #88648
like i've mentioned, you can complain to https://github.com/kubernetes/community/tree/master/sig-architecture#contact
the mailing list includes key Kubernetes maintainers.

for kubeadm we could adapt things like this to be IP or DNS name:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#InitConfiguration
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1b

[2021-03-04 15:21] alculquicondor commented on #99786
Are you referring to Filter? IIRC, we did that for Score, but didn't have time to do it for Filter.

[2021-03-04 15:23] alculquicondor commented on #99786
Oh, I'm just getting confused with the constraints, rather than affinity and node selector.

Can we split this in 2 PRs, one for Filter and 1 for Score?

@AliceZhang2016 could work in one of them.

/triage accepted

[2021-03-04 15:26] haircommander commented on #92211
I I think I missed the conversation, but why are we not adding this as a top-level CRI API change again? If we have to coordinate changes between the kubelet and CRI (they have to specify and support the annotations, respectively), then it makes more sense to me to have it be a first-class feature of the CRI

[2021-03-04 15:26] FerminCastro commented on #88648
Thanks, this is something that definitely needs to be revisited and fixed. We are finding ourselves having to move pretty complex control plane configurations to other locations and these configurations (control plane things like spread topologies, labels etc) should all be totally portable (i.e. their etcd snapshot) provided we keep hostnames consistent...

[2021-03-04 15:32] alculquicondor commented on #99630
Note that OP is on EKS. Actually, you can just assign pod spreading to your PodSpec that only cares about nodes (and not zones). Setting any pod spreading disables the default spreading.

[2021-03-04 15:35] alculquicondor commented on #99630
Honestly, I think this is only a problem because OP is setting node affinity based on zones. That is kind of an anti-pattern, as it goes against HA. But if you really know what you are doing, disabling zone spreading should be the recommended way. We can improve the documentation to cover this case.

[2021-03-04 15:38] alculquicondor commented on #99786
And can you @gavinfish take Score right away?

[2021-03-04 15:43] kad commented on #92211
The main reason for not adding new fields this time is because there is no good use case where container will be running as user A, but devices will belong to uid/gid B, so as result workload will not be able to consume device that was assigned to the device.

The current implementation adds most user friendly variant - if device is allowed to be used in container, it will belong to uid/gid within

[2021-03-04 15:44] #99714 closed

[2021-03-04 15:45] palnabarun commented on #98459
@Riaankl @thockin -- The test has started to flake very recently. Shall this be investigated again?

ref: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=A%20set%20of%20valid%20responses%20are%20returned%20for%20both%20pod%20and%20service%20ProxyWithPath

cc: @thejoycekung @PriyankaH21

[2021-03-04 15:48] neolit123 commented on #99751
i think it's too late for bumping coredns for 1.21 at this point.
i'm basing this statement on contributor / reviewer bandwidth from the past.

thanks for the info, this contributes to my vote to delay the update.

the cluster/addons used to be owed by SIG Cluster Lifecycle, but now this falls under the GCP provider as they consume the addon installer for testing. from my POV the public use of add

[2021-03-04 16:01] gavinfish commented on #99786
Sure

[2021-03-04 16:05] palnabarun commented on #98606
PS: There were some recent failures: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1367490864527446016

[2021-03-04 16:16] DemonsLu commented on #99630
@ahg-g @alculquicondor

Thanks for your response and help, I will try `using ListDefaulting and keeping DefaultConstraints empty`  and do more test.

And yes, my OP is on EKS, and the latest k8s version is 1.19 on EKS now, so it's hard for me to test the behavior on v1.20...

And about this `setting node affinity based on zones`,  My needs are like this:

I don't want to make all pods deployed on

[2021-03-04 16:21] alculquicondor commented on #99630
I understand your situation, but it still goes against HA. When thinking about HA you should not only care about the current state of your cluster (where there are enough nodes in one zone to "fulfill" your preference). You should also care about the possibility of your preferred zone going down. Then, you still have some backup pods in other zones. That's the reason for the default zone spreading

[2021-03-04 16:29] msau42 commented on #99677
cc @mattcary @jingxu97 @gnufied

@kubernetes/sig-storage-bugs
/triage accepted

[2021-03-04 16:29] BLasan commented on #99675
@nikhita Any remaining task?

[2021-03-04 16:32] BLasan commented on #93188
@soltysh Sir, is there anyone working on this?

[2021-03-04 16:33] BLasan commented on #99005
@thockin Anyone working on this?

[2021-03-04 16:43] thockin commented on #45234
OK, I'll close it now.  If someone stumbles on this and has new input, please respond!

[2021-03-04 16:43] #45234 closed

[2021-03-04 16:49] DemonsLu commented on #99630
Thanks for your response, I think I understand why zone spreading must be considered even I config node affinity, It's a wonderful design.
I will close this issue & pr soon when I finish my test.

[2021-03-04 16:58] johnbelamaric commented on #90764
The fact that these tests are using ExternalIPs does not need to be in conformance and in fact really shouldn't be. But we still need the tests working against InternalIPs for conformance. It's more of an historical artifact that they use ExternalIPs than an intentional choice.

So, agree with @aojea that sig-network should test them, but we should remove the use of the external IPs from conforman

[2021-03-04 17:04] david-enli opened #99790 "Unable to mount volumes after upgrade from 1.19 to 1.20, CSIVolumeFSGroupPolicy related"
#### What happened:
Installed CSI driver on 1.19, `CSIVolumeFSGroupPolicy` feature gate is off. After upgrading the cluster to 1.20. Was able to create a PVC and verified the volume is created in the backend, `ControllerPublishVolume` also succeed. But when attempting to start a pod with the PVC, CSI driver wasn't able to mount volumes, and the error showing when describing pod is:
`MountVolume.Ne

[2021-03-04 17:06] alculquicondor commented on #99630
I'd encourage you to submit a PR to kubernetes/website to cover your use case and recommend disabling zone spreading through https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

[2021-03-04 17:30] s2maki commented on #40157
Even better would be that OOM causes the call to brk to fail (aka malloc returning NULL), allowing the application to gracefully handle running out of memory the normal way instead of killing the process when it goes over.

[2021-03-04 17:33] kfox1111 commented on #22368
That is a bit of a workaround, but doesn't solve all the problems. rollback is broken. you can fake it by helm upgrading back to the older version. Also, you will have version skew in the replicaset members because the configmap is overwritten and shared between replicasets. each replicaset should have a snapshot of the configmap at the time it is instantiated to really fix it.

[2021-03-04 17:34] eddiezane commented on #99790
/sig storage

[2021-03-04 17:46] thockin commented on #99382
The port number is bounded to 64k * 3 of possible protocols (3 today).

In theory, you could craft a YAML that just fails - 192Ki endpoints, assume 32 bytes each * 100 Endpoints is > 4x the max size of a resource, not even counting the endpoints themselves

Now, I am SURE that nobody is really trying to expose 192 thousand ports.  But how many is enough?  If we limit it to 1k, there will be someon

[2021-03-04 17:57] aojea commented on #99382
16k covers all the current iana registered ports
[code]

[2021-03-04 17:58] robscott commented on #99382
Opened https://github.com/kubernetes/kubernetes/pull/99795 to increase limit to 16k.

[2021-03-04 18:02] hamzakilic commented on #97100
I have 3 master HA nodes,
when I shutdown 1 of them,
kubectl get pods -n kube-system -o wide
shows all pods Running at down node after 90 minutes
is this the same problem?
![k8bug](https://user-images.githubusercontent.com/11096936/110008455-cdd12180-7d2c-11eb-8fa6-c6c3850e352a.png)

[2021-03-04 18:14] zopanix commented on #93115
/reopen

[2021-03-04 18:15] zopanix commented on #93115
I think this is still avalid issue

[2021-03-04 18:23] huffmanca commented on #99790
/assign

[2021-03-04 18:41] mikebrow commented on #92211
What @kad said... also we are trying to shut down CRIv1 so we can move on to CRIv2 .. The idea for using an annotation is more for prototyping purposes than a permanent solution.

[2021-03-04 19:00] #99402 closed

[2021-03-04 19:00] #99604 closed

[2021-03-04 19:02] Carracer66 commented on #83125
I'm trying to figure out why this issue was closed.  It appears to be a real bug.

[2021-03-04 19:09] RaymondKYLiu commented on #22368
@kfox1111 Thanks for your explanation

Here solution is to create a new ConfigMap when updated. I think it's a workaround to prevent the ConfigMap is overwritten.

values.yaml
[code]

_helper.tpl
[code]

configmap.yaml
[code]

deployment.yaml
[code]

[2021-03-04 19:36] lauchokyip commented on #99675
Folks who have submitted the PR , how long did it take you to run  `./hack/update-generated-protobuf.sh`? My terminal has been stuck in
[code]
for a while now. Thank You.

[2021-03-04 19:38] sladyn98 opened #99801 "[Flaky Test] Kubernetes e2e suite: [sig-network] KubeProxy should set TCP CLOSE_WAIT timeout [Privileged]"
#### Which jobs are flaking:
ci-kubernetes-kind-ipv6-e2e-parallel #1367504705533513728

#### Which test(s) are flaking:
Kubernetes e2e suite: [sig-network] KubeProxy should set TCP CLOSE_WAIT timeout [Privileged]

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel&sort-by-failures=&exclude-non-failed-tests=

#### Reason for failure:
[code]
#### Anythi

[2021-03-04 19:41] sladyn98 commented on #99801
Looking at the commit https://github.com/kubernetes/kubernetes/pull/99755 this was the pR that came up. Could be helpful while deflaking

[2021-03-04 19:42] kfox1111 commented on #22368
That helps, but also still deletes the old configmap on upgrade breaking the old rs because its no longer managed by the new release.

You could potentially add "helm.sh/resource-policy": keep  to it, but then it would leak them, never cleaning them up when the rs gets removed.

This is a problem for more then just helm too.

[2021-03-04 19:45] ehashman opened #99802 "Add an e2e test scenario with json logging enabled for kubelet"
Part of https://github.com/kubernetes/enhancements/issues/1602

To ensure that structured logging is working and to prevent issues like https://github.com/kubernetes/kubernetes/issues/99239 we should have an e2e test that tests starting the kubelet with structured logging set to on.

/sig node
/sig instrumentation
/kind cleanup
/help

[2021-03-04 19:48] dcbw commented on #96018
@mskrocki would you be able to provide that iptables-restore ruleset for further analysis?

[2021-03-04 19:53] ehashman opened #99803 "Benchmark kubelet log sizes before and after structured log migration"
Ref: https://github.com/kubernetes/enhancements/issues/1602

/sig node
/sig instrumentation
/kind feature
/assign
(although I am happy for someone to volunteer to help with this)

We need to gather some data on kubelet log sizes for the following three cases:

- 1.20 kubelet, run with defaults
- 1.21/HEAD kubelet, run with defaults
- 1.21/HEAD kubelet, run with structured logging on

It should pro

[2021-03-04 20:04] patricio-dorantes commented on #99280
I'm afraid this ticket will get old. Is using multiple filesystem not considered a best practice?

[2021-03-04 20:06] ehashman commented on #99239
/kind regression
/priority critical-urgent

We have a PR at #99257.

/milestone v1.21

[2021-03-04 20:17] liggitt opened #99804 "Custom resource empty string / null validation broken with go1.16"
#### What happened:

Reported by @uablrek in https://github.com/projectcalico/calico/issues/4443

After the switch to go1.16, custom resource clients submitting empty string values for string fields receive the following error:
[code]

#### How to reproduce it (as minimally and precisely as possible):

Create the following crd:
[code]

Try to create the following custom resource:
[code]

Building

[2021-03-04 20:18] liggitt commented on #99804
/triage accepted

[2021-03-04 20:26] BenTheElder commented on #99804
see also `#kubernetes-contributors` slack thread: https://kubernetes.slack.com/archives/C09R23FHP/p1614883890025600

[2021-03-04 20:28] liggitt commented on #99804
no relevant changes in encoding/json, or unsafe, or reflect between go versions

[2021-03-04 20:32] liggitt commented on #99804
obligatory xkcd - https://xkcd.com/1700/

[2021-03-04 20:33] palnabarun commented on #99801
/sig network

[2021-03-04 20:37] liggitt commented on #99804
with `SWAGGER_DEBUG=true` to enable debug logging of the openapi validation:

[code]

[2021-03-04 20:37] robscott commented on #99382
Although #99795 should make this issue mostly disappear in 1.21+, there is a chance that someone will want to deploy a Service with >20k ports and that will still break. Although I think this is unlikely, we have a few options to mitigate this:

1. Significantly rework controllers to support representing the same endpoints in multiple slices if the number of ports exceeds maxPorts. I think this wo

[2021-03-04 20:37] BenTheElder commented on #90710
Kind runs in cgroupsv2 at HEAD, not sure about older versions. We have fedora CI covering this in our repo.

[2021-03-04 20:38] desponda commented on #75564
Hello! I am from the Bug Triage team! Friendly reminder that code freeze is starting March 9th, 2021 (about 1 week from now).
As the Issue is tagged for 1.21, is it still planned for this release based on the PR that was linked? The PR has not been marked for 1.21 Milestone

[2021-03-04 20:39] liggitt commented on #99804
looks like this is returning early for 1.16:

https://github.com/kubernetes/kubernetes/blob/76f2a4d5fd8364edbb31a3611178c918644f415c/vendor/k8s.io/kube-openapi/pkg/validation/validate/type.go#L135-L141

[2021-03-04 20:43] ehashman commented on #98976
@erismaster it is.

Current status: the following files are still pending migration

- cmd/kubelet/app/plugins_providers.go NEEDS PR
- cmd/kubelet/app/server.go https://github.com/kubernetes/kubernetes/pull/98334
- cmd/kubelet/app/server_linux.go NEEDS PR
- pkg/kubelet/cadvisor/cadvisor_linux.go NEEDS PR
- pkg/kubelet/certificate/bootstrap/bootstrap.go https://github.com/kubernetes/kubernetes/pull

[2021-03-04 20:43] hermanbanken commented on #98801
I’m not running BigSur but Catalina. So at least for me it is unrelated.

[2021-03-04 20:47] apelisse commented on #75564
Yes, we're working on it right now, and it's totally marked as 1.21.

[2021-03-04 20:59] liggitt commented on #99804
main.go:
[code]

go1.15.8:
[code]

go1.16:
[code]

will open a golang issue

[2021-03-04 21:05] BenTheElder commented on #99804
See: https://github.com/golang/go/issues/43993 ?

[2021-03-04 21:13] desponda commented on #95038
Hello! This Issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting March 9th, 2021 (about 1 week from now). As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 21:13] desponda commented on #94901
👋 Hello! This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting March 9th, 2021 (about 1 week from now).
As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 21:15] desponda commented on #96770
👋 Hello! The code freeze is starting March 9th, 2021 (about 1 week from now). As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 21:15] thockin commented on #99622
Is it that `docker inspect` doesn't show the ports (it shouldn't, we mostly do our own management) or that the port forwards actually do not work?

Which driver mode are you using (kubenet or cni (which one))?

Can you post `iptables-save` output?

[2021-03-04 21:16] thockin commented on #99552
/triage accepted

[2021-03-04 21:16] desponda commented on #94626
Hello! 👋  This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting March 9th, 2021 (about 1 week from now). As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 21:17] caesarxuchao commented on #99730
/assign @apelisse
/triage accepted

[2021-03-04 21:19] liggitt commented on #99804
yeah, and also https://github.com/go-openapi/validate/pull/138, which we should pull into our fork

[2021-03-04 21:20] couloum commented on #96868
Sorry, I had a lot on my plate recently. I try this asap.

[2021-03-04 21:22] thockin commented on #99425
I agree the externalIP admission is the best precedent to follow.  I also agree that it breaks down as a pattern, at scale.  There are a handful of features that probably fit this bill ("such a bad idea and so little used that disabling it is reasonable for almost everyone") and many more which might appear to fit the bill but don't (hostPath, hostPort, hostNetwork, hostPID, everything in PSP).

S

[2021-03-04 21:24] desponda commented on #98326
👋 Hello!  The code freeze is starting March 9th, 2021 (about 1 week from now). As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-04 21:25] thockin commented on #87603
We need to revisit this soon

[2021-03-04 21:25] thockin commented on #99407
Agree - closing as a dup, I pinged #87603

[2021-03-04 21:25] #99407 closed

[2021-03-04 21:27] neolit123 commented on #98222
UPDATE: this change might not be possible / so simple:
https://github.com/kubernetes/kubernetes/pull/98357#issuecomment-790949603

[2021-03-04 21:28] ehashman commented on #98976
Here's the line by line breakdown of things that need PRs:

<details>

Lines | File
-- | --
3 | cmd/kubelet/app/plugins_providers.go
4 | cmd/kubelet/app/server_linux.go
2 | pkg/kubelet/cadvisor/cadvisor_linux.go
9 | pkg/kubelet/cm/cgroup_manager_linux.go
26 | pkg/kubelet/cm/container_manager_linux.go
1 | pkg/kubelet/cm/container_manager_stub.go
3 | pkg/kubelet/cm/cpumanager/cpu_assignment.go
17 |

[2021-03-04 21:31] thockin commented on #99299
Are the pods coming up or restarting during this?

@andrewsykim has some work to make that more resilient

[2021-03-04 21:32] thockin commented on #99268
/triage accepted

[2021-03-04 21:33] thockin commented on #99268
my bad, did not mean to accept this.  Thanks @aojea

[2021-03-04 21:35] thockin commented on #99256
Is there anything to do here?  Update comments or something?

[2021-03-04 21:37] ag3man commented on #99618
Any updates on this here are my apiserver logs

[code]
[code]
[code]

[code]

[2021-03-04 21:39] thockin commented on #99225
I think the simple fix is to replace `goruntime.NumCPU()` with something that counts /proc/cpuinfo.  I don't know of anyone running multiple proxies, and I don't think it would work well.  The intention was "all the CPUs on the node".

PRs welcome!

[2021-03-04 21:39] thockin commented on #99225
/triage accepted

[2021-03-04 21:40] #95133 closed

[2021-03-04 21:41] thockin commented on #98758
Ping @fasaxc

[2021-03-04 21:42] jayunit100 commented on #23864
whats the conclusion on this one?

[2021-03-04 21:43] neolit123 opened #99808 "match the kubelet and CRI implementer cgroup drivers"
#### What would you like to be added:

 make it possible for CRI implementers and kubelet to match their cgroup drivers via auto-detection.

https://kubernetes.slack.com/archives/C0BP8PW9G/p1614888729200700

the above discussion on slack indicated a couple of options:
1) make the kubelet adapt to the CRI implementer
2) make the CRI implementer adapt to the kubelet

2 seems preferred.

#### Why is

[2021-03-04 21:44] neolit123 commented on #99808
cc @derekwaynecarr @haircommander @mrunalp
/sig node
/priority important-longterm

[2021-03-04 21:44] neolit123 commented on #98222
logged https://github.com/kubernetes/kubernetes/issues/99808
which is what we really want.

[2021-03-04 21:46] thockin commented on #98570
I'm a bit unclear what "issue" is being proven - re-skimming this it sounds like propagation delays?

[2021-03-04 21:46] neolit123 commented on #99808
/sig cluster-lifecycle

[2021-03-04 21:57] thockin commented on #73760
@leuvataral @MarcPow and everyone

This is not a case of not wanting the feature or not wanting to solve the problem.  The reason this is stalled is that is complicated.

Pulling a downwardAPI value from the node is (I think) without precedent and has some real implications.  First the API gets more complex (especially if we expose anything but the whole field).  Second, there are security implica

[2021-03-04 22:02] rikatz commented on #23864
If you use a headless service, the backed service will be resolved to the Pod IP instead of the combination of cluster IP and port. Calling the Pod IP directly you don't get the DNAT combination, so I'm wondering if using headless doesn't solves the case for ClusterIP as an example.

On the other hand, is this problem also related with LoadBalancer services?

My thinking here is:
* Env variables a

[2021-03-04 22:03] aojea commented on #99268
@cuttingedge1109 can you upload more logs?

[2021-03-04 22:11] khenidak commented on #99425
/assign khenidak

[2021-03-04 22:11] thockin commented on #99018
ping @jayunit100

[2021-03-04 22:12] agilgur5 commented on #97076
@champtar so in [your write-up](https://blog.champtar.fr/K8S_MITM_LoadBalancer_ExternalIPs/) it mentions `Endpoints` as well -- should `Endpoints` IPs also be check via policy? If so, it seems like there's potentially a number of other resources that aren't covered by existing sample policies (including `loadBalancerIP` as linked above)

[2021-03-04 22:14] robscott commented on #23864
Relevant to https://github.com/kubernetes/kubernetes/issues/99382#issuecomment-790924805

[2021-03-04 22:15] prameshj commented on #99712
@stephan2012 any metrics from node-local-dns that look interesting? Any logs in node-local-dns about i/o timeouts?

[2021-03-04 22:26] prameshj commented on #99712
Also, what does the dynamic request look like? Does externalDNS send that request to nodelocalip:53 or to the external DNS server, port 53?

[2021-03-04 22:29] vielmetti commented on #74965
@dims when you are ready to have someone else give this a whirl (ie. when the appropriate patches land) I'm ready to test.

[2021-03-04 22:31] chewong commented on #99369
it's passing now
/close

[2021-03-04 22:31] #99369 closed

[2021-03-04 22:34] dims commented on #74965
@vielmetti the following should work now if you load up the latest master branch

```build/run.sh make generated_files && make quick-release-images```

both on `darwin/arm64` and `linux/arm64`. Please try this first, if that works, then try the other targets please.

thanks,
dims

[2021-03-04 22:36] champtar commented on #97076
You should not give permission to your users / applications to create `Endpoints` as they are created automatically.
If you can create `Endpoints` you might be able to steal some or all of the traffic yes, or maybe k8s will update it right away (need to check).

Now in 3a / 3b what I was doing is setting the EIP or LBIP to the IP of a victim pod, pod exposed behind a clusterIP, that's why I name i

[2021-03-04 22:40] #98723 closed

[2021-03-04 22:42] #95310 closed

[2021-03-04 22:46] caseydavenport commented on #93712
/unassign

[2021-03-04 22:49] vielmetti commented on #74965
Thanks @dims -

Docker errored out with this message

[code]

I'll see if it's repeatable and if so will provide a gist of the whole log. I'm running Docker version 19.03.8 (on Ubuntu 20.04) and will upgrade as needed if there's a specific minimum version.

[2021-03-04 22:49] aojea commented on #91459
/cc

[2021-03-04 22:52] ehashman commented on #99708
That sounds like correct/expected behaviour to me though.

If the workload no longer matches the node selector, why wouldn't it be evicted? It doesn't match the label anymore.

[2021-03-04 23:05] liggitt commented on #99804
https://github.com/kubernetes/kube-openapi/pull/230 open to fix that. Once that's merged, will pull that into a PR here with a test covering setting zero-value items with schema validation

[2021-03-04 23:05] liggitt commented on #99804
this blocks 1.21

[2021-03-04 23:14] jsturtevant commented on #99470
We took a look at this for docker case and we believe it is happening due to Windows DNS networking limitations.  DNS can be available _sometime_ after the container starts due to the way networking is set up with docker.  In containerd the setup steps are  different so the network will be available when the container starts.

In this case the test image does a lookup before the DNS is finished co

[2021-03-04 23:18] aojea commented on #99801
I fixed this recently https://github.com/kubernetes/kubernetes/pull/99564
The test is running in another jobs without failures since this fix, is still soon to declare it as flake, the job linked here has a very high rate of failures with other tests failing, will keep an eye on it

[2021-03-04 23:19] Riaankl commented on #94867
/reopen

[2021-03-04 23:26] PEERCRED commented on #99622
It shows:
[code]
it is `"NetworkMode": "none",` which looks suspicious.

This. `netstat -ltnup` doesn't show ports, trying to connect to them (with browser or `curl`) hangs for some time and then says that it is unable to connect. When I try to add `hostNetwork: true` to the Ingress YAML, in `netstat -ltnup` I see the 80, 443 and 8080 ports open.

I wrote in the issue description: I've tried flann

[2021-03-04 23:29] ag3man commented on #99618
OK I have made some headway.

1. containerd is not not automatically starting after reboot
2. api-server is not listing on IPv4 and only on v6
3. Since v.1.19+ everything needs to be using secure port. Kubernetes ca is not being add to /etc/ssl/ on the host, which then in turn is not mounted to the container, so TLS failure happens.

[code]

api-server

[code]

api controller

[code]

api-schedule

[2021-03-04 23:30] LiamStorkey opened #99813 "Max AWS security group rules limit reached for service loadbalancers."
#### What happened:
I am currently facing an issue with the aws max security group rules limit reached which now blocks any further application deployments to this cluster as the ensure loadbalancer step now fails. When services to the cluster that are of type loadbalancer, a rule is added to the main nodes. security group to allow access through to the main k8s nodes instances. The issue is, as t

[2021-03-04 23:32] spiffxp commented on #96770
Yes, still being worked on, I have yet to review what remains to be done. This is also not subject to code freeze, but test freeze

[2021-03-04 23:38] BenTheElder opened #99815 "[flaky test] Test_Run_Positive_VolumeFSResizeControllerAttachEnabled"
#### Which jobs are flaking:

pull-kubernetes-unit

#### Which test(s) are flaking:

`k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler`: `Test_Run_Positive_VolumeFSResizeControllerAttachEnabled/expand-fs-volume_with_in-use_error`

#### Testgrid link:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99810/pull-kubernetes-unit/1367610862453395456

(PR with no go code changes, shoul

[2021-03-04 23:38] BenTheElder commented on #94567
same package, different test: https://github.com/kubernetes/kubernetes/issues/99815

[2021-03-04 23:40] BenTheElder commented on #99815
[code]

[2021-03-04 23:46] thockin commented on #99622
Kubernetes has not used Docker's networking for years and years.  That is normal.

That might not show them since they are captured in iptables

...and it used to work?  What changed?

When you access the nodePort is it via `localhost` or `<nodeIP>`.  I am not a flannel expert - maybe @caseydavenport  can help?  It also seems you're using the CNI port forward which I don't know details any more (@

[2021-03-04 23:51] LiamStorkey commented on #99813
/sig cloud-provider

[2021-03-04 23:59] PEERCRED commented on #99622
Yes, it used to. I don't think anything changed when I was first trying to re-create the cluster. Later I've tried to update docker, kubelet and flannel, but it didn't help.

node's hostname from the outside, both node's hostname or `localhost` from the node itself.
The fact that `kubectl` works (and I successfully able to use `curl` to reach `https://node's hostname:6443`) suggests that it is not

[2021-03-05 00:00] khenidak commented on #91459
/cc (i know i am going to regret this)

[2021-03-05 00:05] neolit123 commented on #98222
/milestone clear
untagging 1.21,.

[2021-03-05 00:06] #95251 closed

[2021-03-05 00:40] Huang-Wei commented on #99786
SG. Thanks for driving.

[2021-03-05 00:59] jingxu97 commented on #99815
/assigne @mauriciopoppe

[2021-03-05 01:04] spiffxp commented on #98326
Yes this is planned for this release, and PRs related to this are not subject to code freeze.  This will be completed by test freeze.

[2021-03-05 01:06] lanzz1998 opened #99818 "Build k8s from source failed - previous tarball phase failed"
#### What happened:
When I try to use `make quick-release` to build k8s, it failed with `previous tarball phase failed` error.

[code]

#### What you expected to happen:
make quick-release build k8s successfully.

#### How to reproduce it (as minimally and precisely as possible):
Clone k8s repo and run `make quick-release`.

#### Anything else we need to know?:

#### Environment:
- Kubernetes vers

[2021-03-05 01:12] PEERCRED commented on #99622
I've `kubeadm reset` the master node, rebooted it, `kubeadm init`-ed it, deployed CNI plugin and an Ingress controller and... now I immediately see `404` response from the Ingress web server. [This is how my iptables look now](https://pastebin.com/C6d7zvvE): only one rule with `--dports 80,443`. BTW, there are no `80` and `443` ports in `netstat -ltsp` and `docker inspect` looks the same.

:confus

[2021-03-05 01:12] #99622 closed

[2021-03-05 01:14] ipolishchuk commented on #79224
/reopen

[2021-03-05 01:18] apelisse commented on #99730
So that's fixed in 1.21? @cbandy, it'd be really sweet if you could test on the master branch or 1.21 release candidate!

[2021-03-05 01:23] cbandy commented on #99730
I'm not set up or able to test a pre-release, sorry. 🙇🏻

[2021-03-05 01:31] Jeffwan commented on #98541
Do you know what's the bottle neck for this slow query? Trying to see anything we can do to optimize the list query.

[2021-03-05 01:33] yuzhiquan commented on #99675
Congratulations for first merged [99681](#99681 ) in this issue @shiyajuan123

[2021-03-05 01:45] #93346 closed

[2021-03-05 01:47] #99766 closed

[2021-03-05 01:53] qiyongxiao opened #99819 "k8s init config file"
There was some FileAvariable error in /etc/kubernetes/ already exists while InitConfiguration's nodeRegistration.ignorePreflightErrors specified:
[code]

[2021-03-05 02:03] mengjiao-liu commented on #99453
/assign

[2021-03-05 02:11] pacoxu commented on #99751
I will start to test coredns 1.8.3 recently.
I prefer to upgrade node-local-dns for IPv6 support.

[2021-03-05 02:19] spiffxp commented on #94901
/milestone clear
Parts of this could qualify for test freeze but it is unlikely I am going to find time to push this forward

[2021-03-05 02:22] chestack commented on #99577
Currently, PodOverhead is defined as a fixed resource. this value looks like the average usage value and being added into requests resource during scheduling.

type Overhead struct {
  PodFixed *ResourceList
}
My use case is kata_container, the VMM related processes consume much overhead resource when pod running with high workload. A small overhead(small cgroup limits) will trigger oom but a big

[2021-03-05 02:25] spyyang commented on #99453
I recognize your point, but I think kubernetes should validate that.

[2021-03-05 02:25] mauriciopoppe commented on #99815
/assign @mauriciopoppe

[2021-03-05 02:27] mengjiao-liu commented on #99453
Yes, I think verification should be added as well

[2021-03-05 02:27] mengjiao-liu commented on #99453
Yes, I think verification should be added as well

[2021-03-05 02:27] mengjiao-liu commented on #99453
I'll try to do that

[2021-03-05 02:32] yuzhiquan commented on #98976
/cc @shiyajuan123 @qingwave

[2021-03-05 02:34] #98937 closed

[2021-03-05 02:35] #72956 closed

[2021-03-05 02:51] weiwei04 commented on #99708
[code]

The nodeAffinity term is `requiredDurinngSchedulingIgnoredDuringExecution` according to https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity

[2021-03-05 03:01] knabben commented on #97751
the netpol are not being applied for the ns:

[code]

Instead of failing because `netpol-8606-x/c` should not be able to access `netpol-8606-x/a`, the connection succeed.

[code]

[2021-03-05 03:01] neolit123 commented on #99819
the format is `FileAvailable--<filepath>` e.g.:

[ERROR FileAvailable--etc-kubernetes-manifests-kube-apiserver.yaml]: /etc/kubernetes/manifests/kube-apiserver.yaml already exists:

[code]

please comment if it's not working for you.

/kind support
/sig cluster-lifecycle
/area kubeadm

[2021-03-05 03:02] neolit123 commented on #99819
/lcose

[2021-03-05 03:02] neolit123 commented on #99819
/close

[2021-03-05 03:02] #99819 closed

[2021-03-05 03:03] neolit123 commented on #99751
/sig network cluster-lifecycle
/triage accepted

[2021-03-05 03:19] BenTheElder commented on #72956
https://github.com/kubernetes/kubernetes/pull/99816 removes the `hack/.shellcheck_failures` file and associated logic. No more failures allowed, CI will enforce this now*

\* unless someone really needs to ignore something and adds a `#shellcheck disable=...` instead 🙃

Thank you so much all!

[2021-03-05 03:19] #99256 closed

[2021-03-05 03:31] BenTheElder commented on #72956
xref: https://kubernetes.slack.com/archives/C92G08FGD/p1614915017006400 - thank you!
(invite to join: https://slack.k8s.io)

[2021-03-05 03:32] #98143 closed

[2021-03-05 03:46] DemonsLu commented on #99630
Thank you for your patience, I will submit my PR when I sorted out my case statement

[2021-03-05 03:46] #99630 closed

[2021-03-05 04:05] spiffxp commented on #94487
Getting current...
- https://github.com/kubernetes/community/pull/5568 - upgrade policy is part of SIG architecture's charter
- [There was recently discussion about node skew support on kubernetes-sig-architecture@][1], and as a result:
  - https://github.com/kubernetes/kubeadm/pull/2396 - added kubelet skew jobs to kinder
  - https://github.com/kubernetes/test-infra/pull/21016 - running n-1 and n

[2021-03-05 04:06] spiffxp commented on #94487
/sig architecture
as owners of policy
/sig cluster-lifecycle
owners of the kinder jobs

[2021-03-05 04:06] apoorva11029 commented on #66130
Hi were you able to find a workaround to apply the dependent resources in the right order?

[2021-03-05 04:11] Jeffwan commented on #90179
@smarterclayton   Could I know why this is not viable? Trying to understand the bottlenecks to go to bigger cluster size like 50k.

[2021-03-05 04:32] #99047 closed

[2021-03-05 04:32] #99325 closed

[2021-03-05 04:33] thejoycekung opened #99820 "[Failing Test] [sig-api-machinery] ResourceQuota [Feature:CrossNamespacePodAffinity] [alpha] should verify ResourceQuota with cross namespace pod affinity scope using scope-selectors"
#### Which jobs are failing:
ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd

#### Which test(s) are failing:
[sig-api-machinery] ResourceQuota [Feature:CrossNamespacePodAffinity] [alpha] should verify ResourceQuota with cross namespace pod affinity scope using scope-selectors

#### Since when has it been failing:
https://github.com/kubernetes/kubernetes/compare/da9ea2ea7...f63cac6cd

[2021-03-05 04:38] liggitt opened #99821 "[Flaky] k8s.io/kubernetes/pkg/api/testing"
#### Which jobs are flaking:

pull-kubernetes-unit

#### Which test(s) are flaking:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99817/pull-kubernetes-unit/1367685781799309312

[code]

Two new tests were just added in https://github.com/kubernetes/kubernetes/pull/99012 that take significant amounts of time in CI:

[code]

~These tests also appear to be flaking regularly: https://st

[2021-03-05 05:01] BenTheElder commented on #99821
Related: At some point we should probably adjust the timeout. I'd like to get CI to a point where it uses whatever the default is in make test.

[2021-03-05 05:01] liggitt commented on #99821
yes.

[2021-03-05 06:02] MikeSpreitzer commented on #95979
/remove-lifecycle rotten
There is progress here.  See https://github.com/kubernetes/enhancements/pull/2544

[2021-03-05 06:08] HarshitaJha commented on #99692
Thank you @heqg , this was helpful.

[2021-03-05 06:08] #99692 closed

[2021-03-05 06:22] vielmetti commented on #74965
OK, here's the whole log https://gist.github.com/4d8174839dbc1fbda83addb074148f02

We get a long way, and then fail on

[code]

[2021-03-05 06:23] kcmartin commented on #96618
Hello! I am from the Bug Triage team! This issue has not been updated for a long time, so I'd like to check on the status. The code freeze is starting March 9th, 2021 (less than 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.

As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-05 06:25] kcmartin commented on #82532
Hello! I am from the Bug Triage team! This issue has not been updated for a long time, so I'd like to check on the status. The code freeze is starting March 9th, 2021 (less than 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.

As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-05 06:29] kcmartin commented on #70189
Hello! I am from the Bug Triage team! This issue has not been updated for a long time, so I'd like to check on the status. The code freeze is starting March 9th, 2021 (about 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.

As the Issue is tagged for 1.21, is it still planned for this release?

[2021-03-05 06:31] kcmartin commented on #99306
Hello! I am from the Bug Triage team! Friendly reminder that code freeze is starting March 9th, 2021 (about 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.
As the PR|Issue is tagged for 1.21, is it still planned for this release?

[2021-03-05 06:34] kcmartin commented on #97739
Hello! I am from the Bug Triage team! Friendly reminder that code freeze is starting March 9th, 2021 (about 1 week from now). We want to ensure that each PR has a chance to be merged before code freeze.
As the PR|Issue is tagged for 1.21, is it still planned for this release?

[2021-03-05 07:04] stephan2012 commented on #99712
Yes, external-dns sends update requests via the dynamic DNS protocol on port 53 directly to the external DNS server.

[2021-03-05 07:09] shiyajuan123 commented on #98976
/assign
working on these:
pkg/kubelet/cm/container_manager_linux.go
pkg/kubelet/cm/container_manager_stub.go

[2021-03-05 07:11] bschoenbach opened #99824 "K8s IngressClass Blocks Ingress Controllers Deployed on Namespace Scope"
Hi k8s community,

After upgrading of k8s cluster to v1.18+ we get the following error during startup of several ingress-controllers (traefik v2.3+, nginx  v1.9.0+)

**Traefik v2.3+:**
```E0107 06:45:40.895430 1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.2/tools/cache/reflector.go:125: Failed to list *v1beta1.IngressClass: ingressclasses.networking.k8s.io is forbidden: User "system:serviceac

[2021-03-05 07:12] adisky commented on #98976
Everyone working on the issue please comment here on what packages you are working to avoid duplicate efforts and it will be easier for reviewers :).

[2021-03-05 07:16] qingwave commented on #98976
/assign
working on these:
pkg/kubelet/preemption/preemption.go

[2021-03-05 07:20] navidshaikh commented on #98976
/assign
working on:
#99823 pkg/kubelet/util/manager/watch_based_manager.go + pkg/kubelet/util/nodelease.go + pkg/kubelet/util/util_unix.go (XS)
pkg/kubelet/status/status_manager.go (M)

[2021-03-05 07:23] AkshayGets commented on #51835
I faced a similar issue on Azure Kubernetes, while forcefully deleting the pods would solve this we wanted to have a permanent solution. While looking at the kubelet logs, saw below error:

Mar 3 19:01:43  pod_container_deletor.go:77] Container "adba604b69b6ec18da13f9323dfa47bd5373b4934419f83f8aa206f7d61a64be" not found in pod's containers

This log suggested that the container was deleted but the

[2021-03-05 07:24] hvenev-vmware commented on #99305
I tried to apply the PR to 1.20.4. After four successful `kubeadm join`s, one failed. I got the following error:

[code]

[2021-03-05 07:36] vielmetti commented on #74965
Progress: when I upgrade to the latest Docker, the "unknown shorthand flag" error disappears, and this build succeeds:

`build/run.sh make generated_files && make quick-release-images`

The Docker version that works identifies itself as

[code]

[2021-03-05 07:56] #91306 closed

[2021-03-05 07:57] pohly opened #99827 "v1alpha1.VolumeAttachment deprecation"
#### What happened:

storage.k8s.io/v1alpha1/VolumeAttachment has been replaced with v1beta1 already since 1.10 and now with v1. Apparently it was never deprecated, though.

#### What you expected to happen:

- deprecation notice in 1.21
- removal in 1.22

/sig storage

[2021-03-05 07:58] XudongLiuHarold opened #99828 "Change the users of IsQualifiedName to ValidateQualifiedName"
After #98277 got merged, we have added new helper function `ValidateQualifiedName` here: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L126.

It will be good for us to use this simpler helper function to replace previous `IsQualifiedName` function.

/good-first-issue

[2021-03-05 07:59] XudongLiuHarold commented on #99828
/sig usability

[2021-03-05 08:06] thockin commented on #9995
If you set the service-node-port-range to include 22, then that means 22 might be randomly allocated to any Service, even if you have SSH running and want to keep it running.  BAD.

One option discussed a long time back was to allow low ports to be EXPLICITLY requested but not allocated.  But then what governs who may request low ports?  And how do you block off the ports that you don't want anyon

[2021-03-05 08:09] zouyee commented on #99808
/cc

[2021-03-05 08:25] mowangdk commented on #99828
I would like to take this one
/assign

[2021-03-05 08:36] sfudeus commented on #99299
Workload and kube-proxy pods are running fine, just the routing via iptables is incorrect.

[2021-03-05 08:46] enyinna1234 opened #99831 "Versions of containerd.io, docker-ce, and docker-ce-cli not found"
#### What happened: As per documentation at 'https://kubernetes.io/docs/setup/production-environment/container-runtimes/' installing Docker "sudo apt-get update && sudo apt-get install -y \
  containerd.io=1.2.13-2 \
  docker-ce=5:19.03.11~3-0~ubuntu-$(lsb_release -cs) \
  docker-ce-cli=5:19.03.11~3-0~ubuntu-$(lsb_release -cs) " results in:

[code]
#### What you expected to happen: Installation to

[2021-03-05 08:50] Unibozu opened #99832 "HPA not working with multiple External metrics (v1.17)"
Hi!

#### What happened:

I am trying to setup a HPA with multiple External metrics on a GKE Kubernetes cluster running v1.17

* External metrics are provided using Datadog Cluster Agent
* The HPA works properly when I use a single external metric. This applies for ANY of the metrics I try to use - the labels are tested and guaranteed to be right and the right data is coming from the Datadog agent

[2021-03-05 08:52] Unibozu commented on #99832
/sig autoscaling

[2021-03-05 08:58] agowa338 commented on #23864
To avoid "problems with STUN things" there are basically four solutions
* Use a TUN Server (complicates setup and funnels traffic through a single server not managed through k8s)
* Use a IPv6 only k8s cluster and NAT64 (if outbound connections to e.g. github is required) => Will work for everything client that has IPv6 connectivity as the cluster than doesn't announce any unrouteable addresses.
*

[2021-03-05 09:01] enyinna1234 commented on #99831
/remove-kind bug
/kind documentation
/sig cluster-lifecycle

[2021-03-05 09:12] fabriziopandini commented on #82532
Moving to .22
/milestone v1.22

[2021-03-05 09:12] Frankkkkk commented on #23864
We're using IPv6-only k8s clusters and it works very well. As you noted out it needs a DNS64 (bind) / NAT64 (tayga) infra if you need to query v4 things, but apart from that it's so much simpler than a v4 cluster.

[2021-03-05 09:29] pacoxu commented on #99831
the docs is in https://github.com/kubernetes/website/.

[2021-03-05 10:23] sladyn98 commented on #99801
When I gave it a search this fix did not pop up. Strange.

[2021-03-05 11:01] aojea commented on #99801
The test is very sensitive to environment constrains, so we should check the behaviour of failures in a "long" time period and correlate with other jobs that exercise the test.
Anyway, thanks for flagging it, let's see how it evolves

[2021-03-05 11:15] yuzhiquan commented on #98976
If [err == nil](https://github.com/kubernetes/klog/blob/110d443dcd6b29c2941cabd9ab9d211063658a21/klog.go#L809)  will result in
[code]
This would change log level.
May be we should use `InfoS` instead of `Erros`.
@ehashman
/cc @serathius

[2021-03-05 11:26] adampl commented on #97100
@hamzakilic 99% yes.

[2021-03-05 11:47] rikatz commented on #23864
Ok, so just to let you know, we've discussed this subject on yesterday Sig Network meeting, and the following are the problems and suggestions:

* Iptables has no way to remap a port range with offset; plus IPVS cannot do this either so this wont work properly with ClusterIP without headless mode
* NodePorts are another issue; do you open/map a range of nodeports? they are a limited resource
* @th

[2021-03-05 12:04] serathius commented on #98976
@yuzhiquan Can you file an issue in klog repo?

[2021-03-05 12:14] adisky commented on #98976
Working on `pkg/kubelet/server/server.go (S)`

[2021-03-05 12:54] serathius commented on #98976
Please cc me in PRs, so we can coverage of reviewers from different timezones.

[2021-03-05 13:08] #70189 closed

[2021-03-05 13:09] ahg-g commented on #99820
Any idea where are the yamls files for this test is? This is an alpha feature, and the test shouldn't be running it unless the feature is enabled.

[2021-03-05 13:14] khatrig commented on #70082
/remove-lifecycle rotten

[2021-03-05 13:55] peter-dolkens commented on #18801
@lavalamp is there any reasoning behind this?

Our use case was we wanted to hook into the commonly seen `prometheus.io/scrape: 'true'` annotation and leverage that in some CRDs, but the CRDs only implement the standard `matchLabels` and `matchExpression` selectors.

Without explanation, it seems like an arbitrary restriction which impacts real-world use-cases.

Appreciate this is a long abandoned

[2021-03-05 14:03] phantooom commented on #99399
/assign

[2021-03-05 14:21] alex-berger commented on #89163
Any news on this? This prevents us from using (EKS) Kubernetes API endpoints proxied by Gloo-edge (Envoy).

[2021-03-05 14:23] sladyn98 commented on #98976
Depending on the above comments I have updated the list. Let me know if I missed something

Lines | File
-- | --
3 | cmd/kubelet/app/plugins_providers.go
4 | cmd/kubelet/app/server_linux.go
2 | pkg/kubelet/cadvisor/cadvisor_linux.go
9 | pkg/kubelet/cm/cgroup_manager_linux.go
3 | pkg/kubelet/cm/cpumanager/cpu_assignment.go
17 | pkg/kubelet/cm/cpumanager/cpu_manager.go
8 | pkg/kubelet/cm/cpumanager/

[2021-03-05 14:34] alculquicondor commented on #99306
Yes. I just reviewed the PR

[2021-03-05 14:44] #99804 closed

[2021-03-05 14:47] thejoycekung commented on #99820
I think the YAML for this job should be here - SIG Windows technically owns it.

https://github.com/kubernetes/test-infra/blob/d44a4a64b0968622fb13f6f26915bce3d68cca25/config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml#L612

[2021-03-05 15:12] FerminCastro commented on #88648
By the way, and stickig ONLy to kubeadm. Maybe you can helps us describing how the coredns secret:

[opc@olk8-m1 ~]$ k get secret -A | grep coredns
kube-system       coredns-token-h4l7g                                  kubernetes.io/service-account-token   3      11m

is created by kubeadm. Whenever we restore a etcd snapshot on a different node (with the same hostanme) we are forced to entirely r

[2021-03-05 15:37] liggitt opened #99845 "k8s.io/kubernetes/pkg/kubelet/config: TestWatchFileChanged data race and flake"
#### Which jobs are flaking:

pull-kubernetes-unit

#### Which test(s) are flaking:

k8s.io/kubernetes/pkg/kubelet/config: TestWatchFileChanged

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=TestWatchFileChanged

[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99817/pull-kubernetes-unit/1367800801279348736
[code]

Flake has been present for several m

[2021-03-05 15:37] dobegor commented on #19475
@sdminonne may I ask you to `/reopen` this?

[2021-03-05 15:40] liggitt commented on #94568
still flaking - https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=VolumeMountControllerAttachEnabledRace

/reopen

[2021-03-05 15:42] navidshaikh commented on #98976
Working on migrating `pkg/kubelet/kubelet.go`

[2021-03-05 15:42] erismaster commented on #97807
@jayunit100 It looks like #97809 resolves this issue, if thats the case can you close this issue? Thanks!

[2021-03-05 15:45] sdminonne commented on #19475
/reopen

[2021-03-05 15:47] sdminonne commented on #19475
@dobegor didn't work on this since 4 years.. But I'm more than happy to help (if needed)

[2021-03-05 15:54] phoerious commented on #87126
Is there a reason why this was closed?

[2021-03-05 15:57] handrea2009 opened #99846 "Kuberentes fails to create large Gluster PVC"
#### What happened:

Kuberentes fails to create very large Gluster PVC and the following error is logged:

ProvisioningFailed  35s (x566 over 20h)  persistentvolume-controller  Failed to provision volume with StorageClass "gluster-heketi": failed to create volume: quantity 134192Gi is too great, overflows int64

#### What you expected to happen:
Kubernetes should be able to create large Gluster PV

[2021-03-05 16:03] monotek commented on #29838
Does not work for me on Gke with version v1.18.15-gke.1500 :(

[code]

[2021-03-05 16:06] liggitt commented on #94528
bazel job is removed, I opened individual issues for the remaining flakes I saw referenced from here and added to the 1.21 milestone

/close

[2021-03-05 16:06] #94528 closed

[2021-03-05 16:07] neolit123 commented on #94487
kinder uses kubeadm for cluster creation / upgrade, which also means it's not fully compliant with:
https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-component-upgrade-order
for historic reasons.

the full upgrade process is here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/
we have plans to try to improve that over time and be more compliant.

[2021-03-05 16:22] neolit123 commented on #99831
i haven't seen bug reports about this, so i wonder if something is wrong with their repositories.
docker 19.03 should be available in Ubuntu 20.x ...or maybe it's not?

[2021-03-05 16:29] gjkim42 commented on #99845
/assign

[2021-03-05 16:29] neolit123 commented on #88648
i have not explanation for this, but it's not a kubeadm quirk.
requiring to delete coredns and related objects after etcd snapshot restore almost sounds like a service account got invalidated somehow.

maybe someone at #sig-api-machinery or #sig-auth at k8s slack knows why.
you can log a separate ticket for that here, if you think it's a core bug.

the kubeadm coredns related objects are in this f

[2021-03-05 16:31] harshanarayana commented on #90485
/remove-lifecycle stale

I am still running into this every now and then and if someone can suggest a way around this, I would really appreciate it.

[2021-03-05 16:47] ahg-g commented on #99820
@jsturtevant any idea if this test enable alpha features? If not, then it should skip [Alpha] tagged tests here: https://github.com/kubernetes/test-infra/blob/8f06baa82fab226a0f4bb41a3d1d9a640695a228/config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml#L657

[2021-03-05 16:50] jsturtevant commented on #99820
Thanks we opened a PR to fix this yesterday: https://github.com/kubernetes/test-infra/pull/21156.

[2021-03-05 17:01] jsturtevant commented on #99820
/triage accepted

[2021-03-05 17:01] jsturtevant commented on #99820
/sig windows

[2021-03-05 17:02] jpbetz commented on #99821
This loops each type 50 times, I'll drop that down to say, 3 times. We honestly don't need to fuzz these that hard, they typically catch a problems quick.

[2021-03-05 17:13] jpbetz commented on #99821
The failures I see in gubernator shouldn't happen now that the PR is merged. Before myPR to add this test was merged, other PRs that added fields (NamespaceSelector) would cause myPR's unit tests to fail and I would need to rebase it and run `hack/update-codegen.sh`. Now that it is merged,`hack/update-codegen.sh` will be run by the PR author that adds a field to a type to keep code in sync.

[2021-03-05 17:17] liggitt commented on #99821
ah, so these failures on other PRs mean they needed to regen?

* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98277/pull-kubernetes-unit/1367606744649306112
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99522/pull-kubernetes-unit/1367611137478103040
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98277/pull-kubernetes-unit/1367628490181971968

[2021-03-05 17:20] jpbetz commented on #99821
Yeah, the first one adds `LoadBalancerClass` and the fuzzer detected the apply config builder had not been regenerated by `hack/update-codegen.sh`. The others have field changes too.

[2021-03-05 17:21] liggitt commented on #99821
ok, so it's noise for PRs in progress but not flakes. looks like the runtime/timeout issue is the only flake, which you can drop iterations significantly to solve

[2021-03-05 17:23] jpbetz commented on #99821
50->3 seems like it should get us to 10-15s total for both new tests https://github.com/kubernetes/kubernetes/pull/99847/files

[2021-03-05 17:40] lavalamp commented on #18801
@peter-dolkens

* Annotations don't have the value restrictions that labels do, meaning there's no reason to suppose that our "query language" would be a good fit.
* It's O(N) for apiserver to do this search. It's only barely more expensive for clients to do it themselves.
* A general query system is often requested. The real blocker for both is the performance characteristic. If we figured out a

[2021-03-05 17:46] khenidak commented on #91459
It is a bug. Not because it does not match rest api semantics. But because it is not consistent with the rest of the apis. In other words, If user can do `replace (aka idempotent PUT)` on other resources they should be able to do it on `Services` as well. It is hard (and weird) to ask users to do one thing for all resources, but then do a totally different thing for Services.

As discussed over si

[2021-03-05 17:48] FerminCastro commented on #88648
Not so sure that this is not a kubeadm issue. Because the original coredns was created with kubeadm. So somehow the secret and cluster role Binding get invalidated in the second location so seems like kubeadm is generating those with some inappropriate dependency. Again, it would help tremendously finding out how kubeadm is generating the secret and cluster role binding for coredns

[2021-03-05 17:50] hexxdump commented on #98976
Working on migrating pkg/kubelet/winstats

[2021-03-05 17:52] mcwumbly opened #99850 "port-forward fails connecting to pods with IPv6 only listeners"
#### What happened:

Attempting to use port-forward (e.g. via `kubectl port-forward`) to a pod (e.g. `etcd`) that only listens on IPv6 addresses fails with this error:
[code]

#### What you expected to happen:

I expect it to succeed if there is a listener on the IPv6 localhost equivalent.

#### How to reproduce it (as minimally and precisely as possible):

##### In brief:

1. create a kind cluste

[2021-03-05 17:53] mcwumbly commented on #99850
/sig network

[2021-03-05 18:17] wojtek-t commented on #98326
@spiffxp - calling your script from head, I have:
[code]

So there are just couple exceptions now (and a mess with upgrade tests :) )

[2021-03-05 18:18] SerialVelocity commented on #87126
/reopen

Might be able to re-open? I think @OPSTime can unsubscribe if he doesn't care about this anymore.

[2021-03-05 18:18] SerialVelocity commented on #87126
@OPSTime Could you re-open and unsubscribe instead?

[2021-03-05 18:21] jackfrancis opened #99854 "Definitive end date for ExecProbeTimeout kubelet feature gate"
#### What would you like to be added:

The `ExecProbeTimeout` feature gate was introduced with this bug fix:

https://github.com/kubernetes/kubernetes/pull/94115

Because the above bug fix had a practical side-effect of introducing new, 1 second exec livenessProbe timeout enforcement for all container specs not otherwise declaring a timeout, the feature gate was provided as a way to optionally opt

[2021-03-05 18:34] nsmith5 commented on #96840
Yeah, the work around my team was suggested by our AWS rep was to use this AWS Load Balancer controller instead: https://github.com/kubernetes-sigs/aws-load-balancer-controller. It manages security groups slightly differently and ends up having more capacity as a result

[2021-03-05 18:46] JuanValencia commented on #61207
Same.  nslookup
[code]
Then on connection:
[code]

Providing the IP directly works fine, so definitely a DNS issue.  Was able to create using a simple k3d setup.

[2021-03-05 19:13] alculquicondor commented on #28486
I have one implementation detail left (hopefully last).

Today, we declare a Job completed as soon as .status.succeeded >= .spec.completions, even though there might be active pods still running (which are left there running). This could happen in 2 scenarios: the job controller restarts and didn't see all the pods yet (so initially miscalculates active pods) or if the job is adopting running pods

[2021-03-05 19:22] #99821 closed

[2021-03-05 19:33] ahg-g commented on #28486
why is option 2 a breaking change? is this part of the job completion semantics? I would expect that all running pods to be deleted once a job is declared completed.

[2021-03-05 19:35] alculquicondor commented on #28486
It's breaking just because it's not what happens today. Those pods are left to finish, even if they are not tracked.

[2021-03-05 19:37] ahg-g commented on #28486
A breaking change is one that violates declared semantics, those pods being left to finish was perhaps an implementation detail, not something the api promised.

[2021-03-05 19:42] ahg-g commented on #28486
To me this is similar to the case were parallelism was reduced, we don't wait for the extra pod to complete, they just get deleted.

[2021-03-05 19:52] alculquicondor commented on #28486
Yeah, that should be the way to solve it, if implicit implementation details don't matter. We would do the same for both legacy and finalizers tracking.

[2021-03-05 20:33] liggitt opened #99863 "Improve etcd storage test to ensure storage version is not changed prematurely"
#### What would you like to be added:

Improve the [etcd data integration test](https://github.com/kubernetes/kubernetes/blob/master/test/integration/etcd/etcd_storage_path_test.go) to ensure that the expected storage version for a resource is one understood by previous releases.

We have API testdata from prior versions available in https://github.com/kubernetes/kubernetes/blob/master/staging/src

[2021-03-05 20:49] dprotaso opened #99867 "Support 'patch' files with `kubectl apply -f`"
#### What would you like to be added:

I would like there to be a declarative way to specify a patch which can be applied on a resource with `kubectl apply`.  Currently `kubectl patch` requires a resource type, name and potentially a namespace.

I see `kustomize` allows for `inline` patches when applying to base files:

[code]

It'd be great if `kubectl apply -f` could accept a yaml file that cont

[2021-03-05 20:49] dprotaso commented on #99867
/sig cli

[2021-03-05 20:54] yuzhiquan commented on #98976
@serathius so we  should accept ErrorS can take err =nil as an parameter?

[2021-03-05 21:13] lavalamp commented on #28486
At some point we care about the perceived or expected semantics more than the explicitly declared ones, especially if we've been less than perfectly clear or let the situation drag on for a long time.

[2021-03-05 21:28] ahg-g commented on #28486
I agree, it is also not correct that a change is a breaking one if it is not what we do today.

I don't believe we care about it in this instance because the exact number of active pods is not guaranteed at any point during the job execution, we may go above or below the requested parallelism, and when it is above we delete excess active pods to reach the desired parallelism level. We don't guaran

[2021-03-05 21:33] lavalamp commented on #28486
Yeah if people already have to handle this condition then there's definitely no compatibility problem :)

[2021-03-05 21:40] jsturtevant commented on #99820
We are back to passing: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1367907814768381952

[2021-03-05 21:40] jsturtevant commented on #99820
/close

[2021-03-05 21:40] #99820 closed

[2021-03-05 21:44] SergeyKanzhelev commented on #99577
CC: @fvoznika FYI

[2021-03-05 21:46] lavalamp commented on #98541
Most obviously, can't transmit all the bytes from every object in the collection over the network within the 60s timeout. Many aspects of the problem could be improved, but fundamentally there's more bytes to transmit than is possible in a reasonable amount of time over a reasonable network connection.

[2021-03-05 21:52] ehashman commented on #98976
Yup, that's part of the migration guide. klog should not be converting `ErrorS(nil, "msg")` into info level logs.

[2021-03-05 21:53] ehashman commented on #98220
/triage accepted

[2021-03-05 22:05] #95262 closed

[2021-03-05 22:21] BenTheElder commented on #99818
https://github.com/kubernetes/kubernetes/pull/78667/files#r588757727

[2021-03-05 22:22] BenTheElder commented on #99818
/sig release

[2021-03-05 22:35] BenTheElder commented on #99850
Do you know what exact images and kind version are in use? https://github.com/kubernetes-sigs/kind/issues/1723 was fixed a while back (last summer) and possibly related.

[2021-03-05 22:35] aojea commented on #99850
yeah, this is hardcoded because it was using localhost and the resolver on dual-stack environment messed it up
/assign
I think that is time to fix it :factory_worker:

[2021-03-05 22:36] aojea commented on #99850
it is hardcoded in the runtime

[2021-03-05 22:36] BenTheElder commented on #99850
/triage accepted

[2021-03-05 22:40] aojea commented on #99850
containerd
 https://github.com/containerd/containerd/blob/944e9b70e2204f2fec1c0c02bbac39e1475cbc22/pkg/cri/server/sandbox_portforward_linux.go#L68

crio https://github.com/cri-o/cri-o/blob/c61c691b9c6d00ab18268d1a5d53d2b9c2dd2702/internal/oci/runtime_oci.go#L1023-L1029

[2021-03-05 22:59] neolit123 commented on #88648
The link from my previous comment is all that kubeadm is doing when
deploying coredns. The cluster role, binding and service acc are in there,
but the secret is managed by k8s controllers.

[2021-03-05 23:44] andrecp commented on #71869
+1 for this issue on-prems. I've been searching for things over the past day but couldn't really find anything! I've even uninstalled `containerd` and nuked its folders but the disk space between `df -h` and `du -sh /` is 40 GB used vs 3 GB used. I am unsure where this space usage is coming from. Maybe some sparse file?

[2021-03-06 00:18] BenTheElder commented on #99818
/assign

[2021-03-06 00:19] enyinna1234 commented on #99831
Works fine on 20.04

[2021-03-06 00:28] BenTheElder commented on #99818
Can you include:
- what commit you built
- what tar binaries you have on your host (`tar --version`, `gtar --version`, `gnu-tar --version`)

These scripts are supposed to locate a gnu tar utility or fail and then use that one instead of BSD tar / the default macOS system tar (which is missing all sorts of additional functionality we leverage). Your output confusingly suggests we used both or that

[2021-03-06 00:38] nearora-msft commented on #97031
Looks like it has something to do with the  azurefile-csi storage class mount options.
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/c6e5eb17b3a875fef30ebc6871e32f11fa061297/deploy/example/pv-azurefile-csi.yaml#L13

I was getting this error when I'm trying to do ls on the subpath. So I realized there might be some issue with the file permissions.

root@aks-ultradisk-21605368-vmss000

[2021-03-06 00:41] BenTheElder opened #99876 "bazel visibility rules need porting to make verify"
See: https://github.com/kubernetes/kubernetes/pull/99561#issuecomment-791505243

xref: https://github.com/kubernetes/enhancements/issues/2420

/sig testing
/sig architecture
/area code-organization
/assign

[2021-03-06 00:42] BenTheElder commented on #99876
/triage accepted
/priority important-soon
(maybe critical? we don't want to lapse on these imports)

[2021-03-06 00:43] BenTheElder commented on #99876
Not a hard blocker for the release I think, we could backport this, but this should really happen in the milestone, and likely shouldn't take long ™️

[2021-03-06 00:44] BenTheElder commented on #89267
Thank you for flagging this and apologies for the oversight, https://github.com/kubernetes/kubernetes/issues/99876 to track migrating this.

[2021-03-06 00:53] BenTheElder opened #99877 "[flaky test] Test_Run_Positive_VolumeAttachMountUnmountDetach"
#### Which jobs are flaking:

pull-kubernetes-unit

#### Which test(s) are flaking:

`k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler`: `Test_Run_Positive_VolumeAttachMountUnmountDetach`

#### Testgrid link:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99874/pull-kubernetes-unit/1367990215217516544

#### Reason for failure:

[code]

#### Anything else we need to know:
- link

[2021-03-06 00:57] Dragoncell commented on #95932
/assign

[2021-03-06 01:05] knabben commented on #98220
@ehashman getting into the trace calls of it - the job is started with `--runtime-config=api/all=true`

[code]

This calls `kubernetes_e2e.py` which pass to - Kubetest https://github.com/kubernetes/test-infra/blob/76c443a18d021e6addd2de41079ff5d743f9c3bc/scenarios/kubernetes_e2e.py#L111
[code]

Kubetest is executed still receiving the runtime-config ...

1. `KUBE_RUNTIME_CONFIG` - environment vari

[2021-03-06 01:10] shrinandj opened #99878 "Cannot use kubernetes.Clientset as kubernetes.Interface value in struct literal: missing method AdmissionregistrationV1"
#### What happened:
I have a controller which uses the clientSet object returned by `kubernetes.NewForConfig`. This clientSet object is then passed to other objects. These objects are using a `kubernetes.Interface` to receive this object. The main reason for using a `kubernetes.Interface` is to be able to use the `fake.ClientSet` during testing.

However, it turns out that it is not possible to re

[2021-03-06 01:39] SergeyKanzhelev commented on #59893
/cc

@cheftako do you have plans to improve this by storing instanceID? I'm interested from the perspective of better support the PVMs on GKE. When it is being recreated fast with the same name, it creates some confusion for the cluster.

[2021-03-06 01:44] BenTheElder commented on #99878
corrected sample:
[code]

Most of the diff is just `gofmt` once this compiled, the main change is just don't deref clientSet, keep it as a pointer.
[code]
Instead of:
[code]

It is expected in go that an interface may only be implemented against a pointer type.
/remove-kind bug
/kind support
/sig api-machinery

[2021-03-06 02:00] BenTheElder opened #99881 "unit tests should not require root"
#### What happened:

- Some of our unit tests fail when not run as root (locally), currently looking at `cluster/gce/*` but I suspect there are more of these

#### What you expected to happen:

- Our unit tests should not fail as root, any test requiring this has gone well past being a "unit" test
- Our unit tests should probably not run as root in CI to prevent regressions

#### How to reproduce

[2021-03-06 02:03] BenTheElder commented on #99881
/triage accepted

[2021-03-06 02:10] vinayakankugoyal commented on #99881
I think we should remove the unit tests in question, configure-helper.sh requires running as root by design.

[2021-03-06 02:37] #97490 closed

[2021-03-06 03:30] BenTheElder commented on #99730
a fairly easy option, potentially (depends on your exact needs):
- get [KIND](https://github.com/kubernetes-sigs/kind) from HEAD (for testing super new kubernetes commits)
  -  `curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64 && chmod +x ./kind` (for mac: s/linux/darwin)
- run a cluster (I pushed an image from kubernetes HEAD, requires docker or rootful-podman)
  - `./kind crea

[2021-03-06 03:54] shrinandj commented on #99878
Aah.. that's fantastic!! Thanks @BenTheElder ..

[2021-03-06 03:54] #99878 closed

[2021-03-06 05:51] rittneje opened #99884 "kubectl defaults to its pod's namespace"
#### What happened:

We are using CloudBees Kubernetes agents for our build job. In this job, we launch a container with `kubectl` in it that is configured to talk to a completely different cluster in EKS. It seems that in this situation, `kubectl` is defaulting to the namespace of the pod it is running on (in CloudBees) for all operations, instead of using `default` like it normally would, causin

[2021-03-06 05:52] rittneje commented on #99884
/sig cli

[2021-03-06 06:11] #98513 closed

[2021-03-06 06:19] qingwave commented on #99761
/sig node

[2021-03-06 06:23] BLasan commented on #92092
@neolit123 @joelsmith Still opened?

[2021-03-06 06:47] BLasan commented on #93100
@rikatz Can I work on `run.go` ?

[2021-03-06 07:22] erik-wramner commented on #99061
We were also hit by this one. While we have worked around the problem I think it should be fixed. There are many real-world deployments that can run into this.

[2021-03-06 09:45] bgdnlp commented on #96840
Just to confirm, as far as I see that's the "old" ALB Ingress Controller. It also works with NLBs now and it plays nice with the VPC CNI when both of them are active?

I could ask support, but I imagine others might hit this page too.

[2021-03-06 10:24] git001 commented on #98976
looks like the plan is to use something similar like Key-Value-Pair structure.
If this is the case then I think there should be the primary message also a Key-Value-Pair.

Cite from https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md#verify-log-output

[code]

Should it be the "Received HTTP request" written as **message="Re

[2021-03-06 11:44] serathius commented on #98975
Based on reviewing structured logging migrations PRs I think we should expand the scope of static analysis tool to check for common errors. For example misuse of `keysAndValues []interface{}` arguments, leaving formating strings `%s` in InfoS, typos in key arguments `podSandBoxID`.

With function prototype based on `[]interface{}` we cannot depend on compiler finding errors, leading to contributor

[2021-03-06 11:56] serathius commented on #98976
@git001 Thanks for feedback, format for `text` log was based on existing patterns used in K8s code base, were contributors were using `key=value` suffix even when using string formatting in `Infof`. We decided that we will skip naming the key for `message` as it would not provide any benefits and would diverge us more from existing pattern.

Main purpose for `text` format was to provide sensible b

[2021-03-06 13:25] neolit123 commented on #99831
@enyinna1234 ok, so this is a problem with?

do they only have Docker 20.x in their repository?

[2021-03-06 13:26] neolit123 commented on #99831
we are switching to docker 20.x for Kubernetes 1.21, so it may be time to update https://kubernetes.io/docs/setup/production-environment/container-runtimes/ with docker 20.x instructions.

if you can help us with a PR for k/website it would be great.

[2021-03-06 13:27] neolit123 commented on #99831
/triage accepted

[2021-03-06 13:45] neolit123 commented on #99884
this is not a the default kubectl behavior. this could be a custom build of kubectl or maybe there are plugins affecting this.

you are better of asking the service providers, before opening a ticket here.

this version is out of support, you must verify this with 1.18+.

/close

[2021-03-06 13:46] neolit123 commented on #99502
/sig apps

[2021-03-06 13:46] neolit123 commented on #99499
/sig auth

[2021-03-06 13:47] neolit123 commented on #99489
hi, this seems like a request for support on custom controllers.
you can try asking in #kubernetes-users on k8s slack or the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-03-06 13:47] #99489 closed

[2021-03-06 13:48] neolit123 commented on #99672
/sig storage

[2021-03-06 13:49] pacoxu commented on #99884
https://github.com/kubernetes/kubernetes/blob/8bf42039e62d001f5d0331753bd99790b70d51eb/staging/src/k8s.io/client-go/tools/clientcmd/client_config.go#L579-L584

It may be related with env `POD_NAMESPACE` in your pod. If you want use default namespace, use `-n default`.

[2021-03-06 13:49] neolit123 commented on #99683
try logging this issues in the CoreDNS repo first:
https://github.com/coredns/coredns

if the maintainers indicate that this is an upstream kubernetes problem, re-open this ticket.

/close

[2021-03-06 13:49] #99683 closed

[2021-03-06 13:54] neolit123 commented on #99722
this is not true, the built-in docker support in the kubelet is deprecated and it will one day move out into standalone binary / service called "dockershim". kubernetes will continue supporting docker.

your are mounting the docker socket from the host which is still a valid use case.

this seems to me like something that containerd does not support.

try asking in https://github.com/containerd/co

[2021-03-06 13:54] #99722 closed

[2021-03-06 13:54] neolit123 commented on #99722
/sig ndoe

[2021-03-06 13:54] neolit123 commented on #99722
/sig node

[2021-03-06 13:58] neolit123 commented on #99846
are you sure you want to create a volume with ~140 TB?
that's a lot...

if you are not getting a response here mention this problem in #sig-storage on k8s slack.

/sig storage
/kind feature

[2021-03-06 13:59] neolit123 commented on #99846
/remove-kind bug

[2021-03-06 14:04] neolit123 commented on #99770
isn't `kubectl get cm <cm-name> --watch` sufficient?

[2021-03-06 14:05] neolit123 commented on #99770
/sig api-machinery

[2021-03-06 14:06] neolit123 commented on #99824
/sig network

[2021-03-06 14:06] neolit123 commented on #99854
/sig node

[2021-03-06 14:46] DapengJiao opened #99895 "Guaranteed PODs CPUs are shared by other process running on the same host"
#### What happened:
Guaranteed PODs CPUs are shared by other process running on the same host

#### What you expected to happen:
This pod runs in the Guaranteed QoS class should be granted with exclusive CPUs.

#### How to reproduce it (as minimally and precisely as possible):

- Deploy K8S cluster (1.20.5) on OpenStack with 3 master and 2 workers, each worker VM has 32 vCPUs
- Set "--cpu-manager-

[2021-03-06 14:47] DapengJiao commented on #99895
/sig node

[2021-03-06 15:09] ma-sattari opened #99896 "error building openapi models ... projectcalico.crd.v1.NetworkPolicy ... ports.items.<array> has invalid property: anyOf"
#### What happened:
In a fresh installation of a single node Kubernetes after installing `Calico` CNI, `kube-apiserver` restarts and  `READY` status is always `0/1`

`kube-apiserver` logs:
[code]

#### What you expected to happen:
I expect the kube-apiserver `READY` status to be `1/1`

#### How to reproduce it (as minimally and precisely as possible):
It is a fresh single-node VM, we got error imm

[2021-03-06 15:22] #89008 closed

[2021-03-06 15:22] #95257 closed

[2021-03-06 15:55] rikatz opened #99897 "Post generators flags cleanup"
So with #99733 and #99732 we are almost done cleaning deprecations.

There are some follow ups that need to be done:

* [ ] In staging/src/k8s.io/kubectl/pkg/cmd/autoscale.go the deprecated flag "generator" must be removed - @MadhavJivrajani
* [ ] In staging/src/k8s.io/kubectl/pkg/cmd/create/create_deployment.go the call to AddGeneratorFlag must be replaced to 	cmdutil.AddDryRunFlag(cmd) and then

[2021-03-06 16:12] MadhavJivrajani commented on #99897
Hi! I'm a first-time contributor to k/k, I'd love to work on removing the deprecated `generator` flag!

[2021-03-06 16:28] BLasan commented on #99897
@rikatz Would like to take up this issue

[2021-03-06 16:31] rikatz commented on #99897
/remove-help

thanks folks. I’ll update the description today with the items for each one

[2021-03-06 16:42] liggitt commented on #99599
Injected service account tokens changed from secret-based to projected-token based by default in https://github.com/kubernetes/kubernetes/pull/95667, which merged 2/18

That coincides with this flake starting: https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2021-02-27&text=volumes%2Fkubernetes.io~projected

as @jkaniuk points out, the test already tolerated secret volume setup

[2021-03-06 16:52] liggitt commented on #99499
Rejecting symlinks cannot be done in a backwards compatible way without adding something like a "noSymlinks" field to the pod spec hostPath volume definition.

That could be opened as a sig-storage proposal, but my sense is that fine-grained control to allow *some* breakage of the container/host boundary while still preventing the pod author from doing anything unsafe is not generally a goal.

PSP

[2021-03-06 16:52] #99499 closed

[2021-03-06 16:54] liggitt commented on #99499
/remove-sig auth
/sig storage

[2021-03-06 17:03] liggitt commented on #93740
this continues to fail hundreds of times a day - https://storage.googleapis.com/k8s-gubernator/triage/index.html?xjob=ci-kubernetes-coverage-unit%7Calpha%7Ccontainerd-node#ff19646fbe30af228069

if the thing it is testing is important, should this be prioritized? if not, should the test be removed?

[2021-03-06 17:04] rikatz commented on #99897
/assign @rikatz
Description updated, let me know if you need any help! (can ping me on Slack as well)

[2021-03-06 17:12] aojea commented on #93740
we have several of these, and despite they are tagged sa sig-network most of them seems to be GCE only tests.
@wojtek-t @thockin I'm tagging you because you'll have better visibility.
Maybe we should  define clearly the ownership, is this sig-network, gce or cloud-provider, and then the owner decide if we want to run them or fix them, leaving tests failing in this limbo is not useful as Jordan cor

[2021-03-06 17:31] liggitt commented on #99896
The errors in the log you provided are not fatal errors... they would prevent an openapi schema from being served for that specific custom resource, and mean the custom resource does not comply with structural schema requirements, but would not cause the API server to exit:

https://github.com/kubernetes/kubernetes/blob/v1.20.4/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresourc

[2021-03-06 17:31] #99896 closed

[2021-03-06 18:02] thyn opened #99901 "Kubelet tries to remove pod multiple times"
I didn't find such issue here. What additional details do you need?

#### What happened:

If I trying to delete pod manually kubelet tries to delete container twice.

[code]
#### What you expected to happen:

No errors

#### How to reproduce it (as minimally and precisely as possible):

create cluster 1.19.2
add any pod
delete it

#### Anything else we need to know?:

#### Environment:
Client Vers

[2021-03-06 18:03] #68164 closed

[2021-03-06 18:06] thyn commented on #99901
/sig scheduling

[2021-03-06 18:09] wojtek-t commented on #98326
@spiffxp - when you have time, there are couple PRs waiting for you now

[2021-03-06 18:56] rittneje commented on #99884
No, this is using kubectl downloaded straight from your site. https://storage.googleapis.com/kubernetes-release/release/v1.16.15/bin/linux/amd64/kubectl

I disagree. If `kubectl` is allowing itself to be influenced by CloudBees, then it is a bug in `kubectl` (or at the very least undocumented behavior).

I have also verified this with `kubectl` v1.18.15. The same bug exists. This was also using `k

[2021-03-06 19:28] rittneje commented on #99884
After turning on verbose logging and digging through the `kubectl` implementation, I have found the source of the issue. Basically, because the `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` env vars are set, and there is a service account file, `kubectl` wrongly assumes that we are doing "inside-kubernetes-cluster" mode. https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff6

[2021-03-06 19:45] #96731 closed

[2021-03-06 19:45] #98007 closed

[2021-03-06 19:54] spiffxp commented on #98326
Not reviewing on the weekend, but will check them out first thing next week. Also ok if someone else gets to them before me

[2021-03-06 20:28] behos commented on #96218
/remove-lifecycle stale

[2021-03-06 20:29] behos commented on #96218
I'm still unsure if this is intended behaviour or a bug which needs to be fixed

[2021-03-06 20:49] #96436 closed

[2021-03-06 20:50] #91536 closed

[2021-03-06 20:50] #99599 closed

[2021-03-06 20:52] neolit123 commented on #99884
ok, leaving the ticket for SIG CLI (owners of kubectl) to triage.

/reopen

[2021-03-06 20:52] neolit123 commented on #99884
/sig cli

[2021-03-06 21:55] dashpole commented on #93320
@ptabor great to hear!  Is the plan to update to 3.5.0-alpha.0 in kubernetes/kubernetes, or wait for 3.5.0 to be released?

[2021-03-06 22:03] liggitt commented on #93320
we'll wait for a non-alpha release. https://github.com/kubernetes/kubernetes/issues/96564 also has to be resolved before we can upgrade

[2021-03-06 22:21] adeelahmadch commented on #55872
I also ran into this issue after upgrading from `1.18.16` to `1.19.8` using kops. After upgrade, I was not able to execute `kubectl logs` commands any more and was getting following error;

`Error Msg: Error from server (Forbidden): Forbidden (user=system:anonymous, verb=get, resource=nodes, subresource=proxy) ( pods/log pod-name)`

In my case, I have to add the following lines to fix it. I have `

[2021-03-06 22:21] #99225 closed

[2021-03-06 22:30] adeelahmadch commented on #39722
I also ran into this issue after upgrading from **1.18.16** to **1.19.8** using kops. After upgrade, I was not able to execute **kubectl logs** commands any more  and the rest were working fine.I got the following error;

[code]

In my case, I have to add the below mentioned lines to fix it. I already had `authorizationMode: Node,RBAC` just incase you are wondering.

[code]

To me, it was a surpri

[2021-03-06 22:54] BenTheElder commented on #99884
[I am not from SIG CLI]

Couple notes:
1. See: https://github.com/kubernetes/kubernetes/issues/57601 for the core behavior discussion, automounted service accounts are pretty much required now, it would be a breaking change to remove this by default
2. This can however be disabled at the pod or service account level `automountServiceAccountToken: false` https://kubernetes.io/docs/reference/access-

[2021-03-06 23:23] #97396 closed

[2021-03-07 00:57] neolit123 opened #99909 "Failing Test: [sig-node] Probing container should be restarted with an exec liveness probe with timeout"
#### Which jobs are failing:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-kubelet-1-19-on-latest

this is a skew job:
- kubelet is at the HEAD of release-1.19
- apiserver / test suite are at HEAD of the master branch (to be released as 1.21)

#### Which test(s) are failing:
Kubernetes e2e suite.[sig-node] Probing container should be restarted with an exec liveness

[2021-03-07 00:57] neolit123 commented on #99909
/sig node
/milestone v1.21

please adjust milestone as see fit.

[2021-03-07 01:01] neolit123 commented on #99909
/area test conformance

[2021-03-07 01:07] BenTheElder commented on #99909
Wouldn't it be expected that the cluster fail conformance with a node older than the conformance test?

[2021-03-07 01:14] neolit123 commented on #99909
the test suite and the core APIs / apiserver are versioned the same way.
so i'm assuming that the test-suite has the same N-2 skew guarantee.

[2021-03-07 01:35] liggitt commented on #99909
that test was promoted to conformance in 1.21 in https://github.com/kubernetes/kubernetes/pull/97619

it exercises a specific bug that was fixed in 1.20, but which modified behavior in a user-facing way, so it wasn't backported, so a 1.19 node won't pass that test

[2021-03-07 01:38] liggitt commented on #99909
Requiring conformance tests for 1.n to pass against a 1.(n-2) kubelet doesn't seem completely workable. They *usually* pass because the kubelet API surface is actually pretty small, but requiring that for 100% of conformance tests would mean any GA functionality that involves the kubelet would have to simultaneously:
* be added in 1.n to satisfy the "GA function has to have conformance tests" requ

[2021-03-07 01:45] liggitt opened #99911 "[Flaky] k8s.io/apiserver/pkg/admission/plugin/webhook/mutating: TestAdmit"
/kind flake

Examples:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99889/pull-kubernetes-unit/1368157032984612864
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/96973/pull-kubernetes-unit/1367986207010590720
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99857/pull-kubernetes-unit/1367919453429305344
* https://prow.k8s.io/view/gs/kubernetes-jenkins/p

[2021-03-07 01:50] neolit123 commented on #99909
ok, understood.
we can easily pass flags to the suite to filter specific tests out per job.

i don't think i can come up with a tag name that everybody would like but .e.g something like `[KubeletMaxSkewN-1]` would mean that we skip this test when we are running an N-2 job.

[2021-03-07 03:52] Huang-Wei opened #99913 "Scheduler throughput drops significantly"
Scheduler throughput drops significantly in http://perf-dash.k8s.io/#/?jobname=scheduler-perf-benchmark&metriccategoryname=Scheduler&metricname=BenchmarkPerfResults&Metric=SchedulingThroughput&Name=BenchmarkPerfScheduling%2FSchedulingBasic%2F500Nodes%2Fnamespace-2:

![image](https://user-images.githubusercontent.com/1425903/110228355-5084e880-7eb5-11eb-9a57-fb892ec3d964.png)

After `git bisect`, #

[2021-03-07 03:53] Huang-Wei commented on #99913
/priority critical-urgent
/sig scheduling
/sig scalability

[2021-03-07 05:15] #96688 closed

[2021-03-07 07:04] roim commented on #98215
Having the same issue (https://stackoverflow.com/questions/66510883/k8s-pod-topology-spread-is-not-respected-after-rollout). I'm considering running a descheduler (which can deschedule pods violating topology spread) to mitigate this.

[2021-03-07 09:10] ialidzhikov commented on #94590
/remove-lifecycle stale

[2021-03-07 09:13] Berndinox commented on #89917
@ashutoshgngwr i was not able to use ExternalName, because:
[code]
do you have any working examples onto this? Thanks

[2021-03-07 09:28] serathius opened #99918 "Kubelet should publish information about how to connect"
<!-- Feature requests are unlikely to make progress as an issue.

#### What would you like to be added:

To deploy cluster addon that communicates with Kubelet (for example Metrics Server), cluster administrator needs to figure out Kubelet endpoints, certificates and authorization configuration and pass it to Metrics Server. This can lead to errors and user frustration  as most applications deploy

[2021-03-07 09:38] serathius commented on #99918
Help from someone more familiar with Kubelet would be great help to establish what can be done where.
@ehashman Can you take a look?

[2021-03-07 09:49] mlavacca commented on #99786
@alculquicondor the filtering PR is already taken by @AliceZhang2016? If not, may I take it?

[2021-03-07 10:03] gavinfish commented on #91633
/remove-lifecycle stale

[2021-03-07 11:03] pacoxu commented on #99918
/sig node

[2021-03-07 12:51] pacoxu commented on #99901
/sig node

[2021-03-07 13:18] ashutoshgngwr commented on #89917
@Berndinox It was more of a hypothesis than a solution. Looking at the error message, it looks like that I was wrong.

[2021-03-07 14:16] pacoxu commented on #99911
I tried to fix it last week.
https://github.com/kubernetes/kubernetes/compare/master...pacoxu:ut/flake

I suspect it is related to the lock here.

[2021-03-07 14:16] rikatz commented on #99552
/assign @knabben

[2021-03-07 15:10] rikatz commented on #93100
@BLasan I guess run.go is already done. Let me see where else do we have generators on the code base

[2021-03-07 15:41] AliceZhang2016 commented on #99786
@mlavacca Hi, I'm working on this now, and still waiting #99833 to be merged, which I think can make filtering PR more easier to write. Thanks for your interest.
/assign

[2021-03-07 16:32] enyinna1234 commented on #99831
/assign

[2021-03-07 16:46] Piranha900 commented on #81071
You're a life saver!

you're a ilifesaver

[2021-03-07 17:16] cynepco3hahue opened #99919 "Race condition between kubelet and scheduler"
#### What happened:

The pod passed the scheduler(moved from the Pending phase) and failed to start because of the kubelet with the error:
[code]

It means that the scheduler and kubelet get a different view of requested resources.

#### What you expected to happen:

I expect that if the scheduler passed the pod and the pod was started it should not fail under the kubelet because of insufficient r

[2021-03-07 18:20] andrewv22 commented on #99181
@roycaihw
To fully mitigate the race condition the only solution I see is:
- Using the lock on the crdHandler before creating the 'create resource handler', thus the deletion of the CRD cannot happen while the creation of the CR is still ongoing (but this might be dumb since it will create an unnecessary dependency, and deletion won't be happening immediately)

Another solution I see is to clean-u

[2021-03-07 18:33] SergeyKanzhelev commented on #99854
Discussion is here: https://github.com/kubernetes/kubernetes/pull/98085 Also added a note to the KEP about postponing the end date in https://github.com/kubernetes/enhancements/pull/2294

[2021-03-07 18:49] #93479 closed

[2021-03-07 19:24] liggitt commented on #99884
Kubectl use of injected credentials is equivalent to a kubeconfig file using a context that sets the default namespace to the pod's namespace. This is working as intended.

You can choose a different namespace by passing `-n $namespace` or specifying the namespace explicitly in the manifests being passed to kubectl.

[2021-03-07 19:24] #99884 closed

[2021-03-07 19:42] rittneje commented on #99884
@liggitt The kubeconfig file is something I have proper control over. Silently relying on special environment variables and service account token files is a bad design. If anything, both the use of `POD_NAMESPACE` and this implicit "inside-kubernetes-cluster" mode ought to be removed, and replaced with a clearly purposed environment variable (e.g., `KUBECTL_NAMESPACE`).

I will be filing a bug ove

[2021-03-07 20:26] BenTheElder commented on #99884
Er so, the "inside-kubernetes-cluster" logic in `kubectl` comes from using the standard Kubernetes client ([`client-go`](https://github.com/kubernetes/client-go#client-go)), and _many_ things that operate against the cluster intentionally expect this mode (and in particular operating against their current namespace when not specified).

I would suggest that CloudBees ought to really consider inver

[2021-03-07 20:33] rittneje commented on #99884
Yes, I'm checking with our admin to see if we can set that flag to false universally in either our service account specs or at least our pod specs.

[2021-03-07 20:33] liggitt commented on #99909
I think we'd want a tag that we wouldn't need to change in future releases... something like `[MinimumKubelet:1.20]`

Then the job testing against 1.19 kubelets could `-skip '\[MinimumKubelet:(1.20|1.21)\]'`

[2021-03-07 20:49] Huang-Wei commented on #94009
I think we can do sth. like this: upon a Node Add/Update, for each unschedulablePodInfo, only verify if the Pod can pass NodeAffinity/NodePorr/etc. filtering logic when the Pod failed by NodeAffinity/NodePort/etc. plugin.
In this way, we can save cycles for Pods not failed with NodeAffinity/NodePort.

[2021-03-07 20:54] BenTheElder commented on #98707
Breadcrumb for anyone else reading along regarding the mirror: https://github.com/kubernetes/enhancements/issues/2420, bazel is not in use any longer. I am cleaning up remnants of the mirror system, and this job is now failing without using bazel.

[2021-03-07 21:14] Huang-Wei commented on #94009
Latest status of this issue:

- Interface and implementation in framework side
    - [x] Surface info of failed plugins during PerFilter, Filter and Permit [#98041]
    - [x] Store a cluster event to plugin map in SchedulerQueue [#98241]
- Plugin implementation and perf evaluation.

    |            Plugin(s)           | Owner | PR | Status |      Comments      |
    |:----------------------------

[2021-03-07 21:52] Huang-Wei commented on #94009
/help

Some tips/notes for contributors who are interested:

- please dedicate some time to the item(s) you claimed as code freeze is around the corner, we'd like to finish the above items as early as possible
- #99922 works as a sample you can refer, basically you need to think about which events can make the unschedulabed Pods failed by the specified plugins schedulable, and specify the reasons.

[2021-03-07 22:58] pacoxu commented on #94009
I would like to take ‘ tainttoleration’ to learn something about scheduling plugins.

[2021-03-07 23:21] #99913 closed

[2021-03-07 23:32] Huang-Wei commented on #94009
@pacoxu Thanks! I updated the tips to include a [script](https://gist.github.com/Huang-Wei/1d1d16ec0de0d23ce8ed2a2448a44c4d) to automate running the benchmark tests multiple times.

[2021-03-07 23:54] #69697 closed

[2021-03-08 00:00] iraj465 commented on #99881
Hi. Can i work on it?

[2021-03-08 00:04] BenTheElder commented on #99881
@iraj465 You're ways welcome to look into any issue, but there isn't a specific action to take just yet. You might consider looking for a "help wanted" issue instead which are supposed to be issues with an action plan already agreed and pointers for what to do.

[2021-03-08 00:05] iraj465 commented on #99881
Sure. Thanks for the heads up @BenTheElder

[2021-03-08 01:16] logicalhan commented on #91536
/open

[2021-03-08 01:16] logicalhan commented on #91536
/re-open

[2021-03-08 01:37] tanjing2020 commented on #99919
/assign Let me try to analyze this problem.

[2021-03-08 02:05] KofClubs commented on #94009
I claim "nodeports" and shall learn about it firstly. 😊

[2021-03-08 02:56] wzshiming commented on #99761
/assign

[2021-03-08 03:30] tanjing2020 commented on #94009
Can I try to deal with the "nodeaffinity" plugin？

[2021-03-08 03:38] yuzhiquan commented on #94009
I would like take "podtopologyspread" plugin.

[2021-03-08 03:53] #99642 closed

[2021-03-08 04:02] scientiacoder commented on #86762
same issue here

[2021-03-08 04:17] khenidak commented on #90186
Can we close if this no longer an issue?

[2021-03-08 04:21] MikeSpreitzer commented on #94123
/remove-lifecycle rotten

It is not obvious to me that this should never be enabled in production.  Note that #95414 exposes this option on the client side, not the server side.  If a client uses this option, then that client is saving information somewhere at that client's discretion that enables decrypting the saved packets of connection made from that particular Config.  For example, if the Key

[2021-03-08 04:21] MikeSpreitzer commented on #94123
/reopen

[2021-03-08 04:41] Jerry-Ge commented on #94009
Can I take `nodeunschedulable, nodename` ?

[2021-03-08 04:52] bswartz opened #99931 "Implement Reject Invalid PVC DataSource KEP"
#### What would you like to be added:

Instead of ignoring invalid PVC data sources, reject them

#### Why is this needed:

KEP 2546 explains the motivation and design. It it not merged yet. See this PR:
https://github.com/kubernetes/enhancements/pull/2552

[2021-03-08 05:03] cofyc commented on #94009
@Huang-Wei I can take `volumebinding` plugin.

[2021-03-08 05:07] nilo19 commented on #99470
it fails in linux as well https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-aks-engine-azure/1368758016026873856

[2021-03-08 05:07] bswartz commented on #99931
/sig storage

[2021-03-08 05:32] whypro commented on #94009
Can I take `volumerestrictions, volumezone`?

[2021-03-08 05:55] harche commented on #95357
/close

[2021-03-08 05:55] #95357 closed

[2021-03-08 06:09] adisky commented on #98975
+1 for this, we can add this.

I am not sure how to approach this, shouldn't we need valid key list for it?

Going to log an issue in klog/logcheck for string check.

[2021-03-08 06:51] gjkim42 commented on #98893
I think https://github.com/kubernetes/kubernetes/pull/98956 already deflaked this issue.

[2021-03-08 07:04] uablrek commented on #90186
I can still reproduce this on `v1.18.16`.

But the problem does _not_ exist on `v1.19.8` or `v1.20.4`.

[2021-03-08 07:07] adisky opened #99934 "Improve concurrency for hack/verify-structured-logging.sh"
#### What would you like to be added:
Improve concurrency for this script https://github.com/kubernetes/kubernetes/blob/master/hack/verify-structured-logging.sh#L52

follow up from this PR: https://github.com/kubernetes/kubernetes/pull/99090

#### Why is this needed:
Speed up the execution time.

/sig instrumentation testing

[2021-03-08 07:10] adisky commented on #99934
/triage accepted
(as it is a followup issue)
/good-first-issue

[2021-03-08 07:10] adisky commented on #99934
/sig instrumentation testing

[2021-03-08 07:13] uablrek commented on #90186
[code]

[2021-03-08 07:15] uablrek commented on #90186
It looks like a race since one of four targets is removed. I checked the `ipvsadm` command on all 4 nodes and it is the same.

[2021-03-08 07:29] wojtek-t commented on #93740
+100 for not staying in that state - we should either prioritize or remove.

Re ownership - I don't have strong opinion here. But for sure the name `CreateIngressComformanceTests` is misleading if the tests are GCE-specific (I would expect "conformance" stuff to not be gce-specific.

What are the arguments against 'sig-network' owning it? It's just that you don't want to debug GCE-specific stuff?

[2021-03-08 07:36] krmayankk commented on #35183
this proposal https://github.com/kubernetes/enhancements/pull/1995 seems to handling this use case, please review it and see if that is in the right direction as per this issue

[2021-03-08 07:36] krmayankk commented on #59343
/lifecycle frozen

[2021-03-08 07:37] krmayankk commented on #59343
Please review https://github.com/kubernetes/enhancements/pull/1995 which seems to be addressing this use case well. Please review and provide feedback

[2021-03-08 07:48] aojea commented on #93740
I didn't dig too much into the tests because I always assumed that was testing GCE only things, but it is possible that I'm wrong.
I personally don't have problem on debugging GCE stuff, is the ability to iterate and the codebase that is being tested that worries me:
- is any person able to debug the test? are there parts of the test that need "internal GCE" access to debug it?
- is the test testi

[2021-03-08 07:55] uablrek commented on #90186
A difference is that `v1.18.x` uses "endpoints" but >v1.18 uses "endpoint-slices". But even with `EndpointSlice=true` it fails on `v1.18.16`.

With `EndpointSlice=false` nothing works on `v1.19.8` :confused:

[2021-03-08 08:08] learner0810 commented on #99934
/assign

[2021-03-08 08:09] wojtek-t commented on #93740
I think that everything should be accessible - @freehan @bowei  to confirm.

Technically, many networking (and other) tests are relying on cloud-provider (e.g. all tests that exercise LoadBalanced service). So that isn't unique (do we have complaints about these tests too)?
So what make ingress tests different is a separate out-of-tree controller, I guess.

[To be clear - I'm not trying to push si

[2021-03-08 08:34] aojea commented on #93740
Let me share my thoughts, I'm personally trying to make all the dashboards in sig-network green, and this week I was able to sort out most of the problems, the last flake with TCP CLOSE_WAIT seems solved, and everything is acceptable except in GCE and Azure jobs. https://testgrid.k8s.io/sig-network

The dual-stack azure jobs are pending of a new `agnhost` image version bump, but I know there is an

[2021-03-08 08:41] CaoDonghui123 commented on #99901
https://github.com/CaoDonghui123/githubData/blob/6525b35d3012d0c47bdd20ee1707b7f20a035298/main.go#L27-L53
It doesn’t remove the pod many times, it just repeats the log

[2021-03-08 08:41] serathius commented on #98975
As `klog.InfoS` function prototype is `func(msg string, keysAndValues []interface{})` we can pass anything we like in keysAndValues and compile will not catch this. This led to misuse like this:
[code]
We would like to ensure that
* Number of arguments is uneven (`msg +X * (key+value) = 1 + 2X` = always uneven number)
* Argument on uneven index is always string (we should never pass a var or const

[2021-03-08 08:42] wojtek-t commented on #93740
I agree we're relying to much on heroics of individual people that isn't sustainable. I think those are valid questions, but I would first like to hear from network folks with Google too.

[2021-03-08 08:43] CaoDonghui123 commented on #99901
https://github.com/containerd/containerd/blob/a72fe7da21237815731386d6b73a0e93700112f9/pkg/cri/server/instrumented_service.go#L114-L128
It doesn’t remove the pod many times, it just repeats the log

[2021-03-08 08:45] ediezh commented on #89898
same issue on EKS 1.16

I noticed there is a potential correlation with the node network I/O. I was doing some heavy query in Thanos, and it caused a network spike, and at the same time some of the pods running on the same node as thanos pods got restarted due to liveness probe timeout. It happened three times so far which made me think it's not just a coincidence.

[2021-03-08 08:49] adisky commented on #98975
@serathius Thanks, got the idea now !!

[2021-03-08 08:51] pohly commented on #92664
/remove-lifecycle stale

Tracked for csi-driver-host-path in https://github.com/kubernetes-csi/csi-driver-host-path/issues/71

There's a bigger issue about both mock and hostpath driver in https://github.com/kubernetes-csi/csi-driver-host-path/issues/247 which includes "support non-default kubelet path".

[2021-03-08 09:15] chengzhycn commented on #67730
@lbernail I tried to add the routing entry, and it worked for flow visiting the `localhost:<nodeport>`. But the `ping 127.0.0.1` will be failed with this error output below:
[code]

[2021-03-08 09:23] FingerLiu commented on #28101
How is this going on, I noticed there are still many  manual conversion codes like this.
[code]

Is the " the big conversion-gen and Makefile refactoring" finished? Free to help about this.

@thockin @nikhita

[2021-03-08 09:35] bboreham commented on #35183
@krmayankk can you point more precisely to how https://github.com/kubernetes/enhancements/pull/1995 would notify when a pod, deployment, daemonset, etc., is being deleted?

I think it could be extended to cover the case described here, by defining system-triggered notifications, but all I can see in the proposal as it stands is user-triggered.

[2021-03-08 09:56] BenTheElder commented on #99934
To avoid interwoven output we should consider making the tool (in the klog repo) underlying the script able to process a list of packages/sources concurrently in one invocation (versus invoking it multiple times concurrently in the script), which should also be slightly faster (less forking/execing).

[2021-03-08 10:17] wzshiming commented on #94009
Can i take `nodelabel`?

[2021-03-08 10:41] pacoxu commented on #94009
@Huang-Wei
I opened #99936 and will add testcase and test result tommorrow.

[2021-03-08 10:53] arjaiswa opened #99938 "Use Sort and Filter while doing list of any resources"
#### What would you like to be added:
Can we add feature to fetch the resource list using some filters e.g. Latest creation time , Sort by Running time ?
#### Why is this needed:
Using this I can fetch the latest created Pods instead of reading all pods and filter it .

[2021-03-08 11:59] #98660 closed

[2021-03-08 12:06] #94887 closed

[2021-03-08 12:08] rtheis commented on #92664
/remove-lifecycle stale

[2021-03-08 13:19] bart0sh commented on #99402
@cynepco3hahue the job is still flaky. can you reopen this issue?

[2021-03-08 13:23] cynepco3hahue commented on #99402
@bart0sh I opened a different one - https://github.com/kubernetes/kubernetes/issues/99919, the issue can affect any job, not only the hugepages one.

[2021-03-08 13:26] cynepco3hahue commented on #99402
I can open a fix to W/A an issue(start the pod until it will succeed), it should fix all problems, WDT?

[2021-03-08 13:45] Berndinox commented on #89917
Hej, thanks for answering. So that's bad news.
Seems like there is no "clean" solution available yet.

Just:
- Ingress-Controller inside the cluster
- https://gateway-api.sigs.k8s.io/ (not available for gke yet?!)

someone finds another solution?

[2021-03-08 13:50] fromanirh commented on #98084
It seems I'm hitting this flake from my PR95734. PR history: https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=95734

[2021-03-08 13:51] fromanirh commented on #98084
Link to test failure logs: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/95734/pull-kubernetes-e2e-azure-disk-windows/1368902141430730752

[2021-03-08 14:08] #95385 closed

[2021-03-08 14:08] #95422 closed

[2021-03-08 14:18] dashpole commented on #93320
@liggitt it looked like @ptabor was able to bump grpc to 1.32.0 while leaving protobuf at 1.3.5 in https://github.com/etcd-io/etcd/pull/12709.  Am I missing a reason why #96564 has to be resolved before upgrading?

[2021-03-08 14:31] yahaa opened #99945 "The output of kubectl top node subcommand is incorrect"
#### What happened:
In my environment, there is a node whose status is as follows
[code]
and the real average CPU utilization rate of this node is 8%, detail as the following figure
![image](https://user-images.githubusercontent.com/16364111/110336349-bca35000-805f-11eb-830d-e136501eb987.png)

and the average CPU utilization rate that `kubectl top node` output is 16%, as following figure
![image](

[2021-03-08 14:32] ptabor commented on #93320
- grpc-1.32 is still protobuf-1.3.5 compliant.
- grpc-1.33 started to have dependency on protobuf-1.4.x.

I'm not sure if etcd-3.5 will wait for gogo-mitigation. I would rather assume it will not.

One thing to notice -> etcd-3.5 is not exact drop-in replacement for etcd-3.4, as package names has changed (forced by go-modules naming rules to have 'v3' suffix). So the usage of newer client will req

[2021-03-08 14:34] bart0sh commented on #99402
i think it's ok as a work around, until #99919 is fixed

[2021-03-08 14:37] liggitt commented on #93320
maybe I'm getting my libraries mixed up. if we can update one without waiting for the other, that's great

I haven't checked yet, but switching to a v3 library and making slight adjustments to pick up the new library isn't generally an issue. Is the client library still wire-compatible with existing etcd servers?

[2021-03-08 14:42] ptabor commented on #93320
The wire format has not changed.

[2021-03-08 14:46] pravarag commented on #94009
I would like to take on `interPodAffinity` @Huang-Wei

[2021-03-08 14:46] alculquicondor commented on #28486
So 2 votes for 2

@soltysh anything to add?

[2021-03-08 14:56] yahaa commented on #99945
/cli

[2021-03-08 14:58] alculquicondor commented on #99580
I'm leaning towards closing this

@Huang-Wei ?

[2021-03-08 14:59] GabrielLasso commented on #63523
Is this feasible in 1.18? I have some Deployments that would benefit from this (now I have a cronjob that restart the deployments)

[2021-03-08 15:02] erain commented on #98270
Thanks. I've updated the commit message and also rebased on `master`. (It seems another stable metrics got merged before this one :D)

[2021-03-08 15:07] yahaa commented on #99945
/sig sig-cli

[2021-03-08 15:08] yahaa commented on #99945
/sig cli

[2021-03-08 15:27] desponda commented on #96935
Hi 👋 Bug Triage here, code freeze is tomorrow! This issue hasn't been updated in a while and has been marked for 1.21 milestone, is there a plan to continue working on this @immuzz

[2021-03-08 15:28] bart0sh commented on #99402
@cynepco3hahue would it be better to wait until api server reports correct resource value *before* running the pod?

[2021-03-08 15:28] desponda commented on #97026
@spiffxp do you know if this is still targeted to 1.21 Milestone?

[2021-03-08 15:30] desponda commented on #95279
/milestone clear

[2021-03-08 15:32] desponda commented on #75551
👋  1.21 Bug triage here! Is this still being targeted for 1.21 Milestone release?
@mikedanese @liggitt

[2021-03-08 15:32] bart0sh commented on #99919
I think some delay between the time when kubelet discovers the resource and the time when resource value is updated on the API server is expected. We can't guarantee that kubelets sends updated resource to the API server, API server receives the update and updates resource value in no time, can we?

[2021-03-08 15:33] desponda commented on #99648
@spiffxp is this still being targeted for 1.21 Milestone?

[2021-03-08 15:36] fromanirh opened #99947 "flake: AzureDisk CSI Driver End-to-End Tests: Dynamic Provisioning [single-az] should create a statefulset object, write and read to it, delete the pod and write and read to it again [kubernetes.io/azure-disk] [disk.csi.azure.com] [Windows]"
#### Which jobs are flaking:
pull-kubernetes-e2e-azure-disk-windows

#### Which test(s) are flaking:
pull-kubernetes-e2e-azure-disk-windows

#### Testgrid link:
https://testgrid.k8s.io/provider-azure-presubmit#pr-k8s-azure-disk-e2e-master-windows

#### Reason for failure:
It seems caused by connection failed: from kubelet logs:
[code]
This repeats until timeout

#### Anything else we need to know:

[2021-03-08 15:37] fromanirh commented on #99947
/sig windows

[2021-03-08 15:37] fromanirh commented on #99947
/area providers/azure

[2021-03-08 15:47] liggitt commented on #75551
This is not required for 1.21, but is required for 1.22 (for bound service account token GA)

/milestone v1.22

[2021-03-08 15:51] fromanirh commented on #99947
Last run (https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/95734/pull-kubernetes-e2e-azure-disk-windows/1368937804293214208):
[code]
The run before (https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/95734/pull-kubernetes-e2e-azure-disk-windows/1368922470261723136):
[code]

no code changes in between

[2021-03-08 15:57] minbaev commented on #94009
I would like to look at `nodelabel` @Huang-Wei

[2021-03-08 15:57] cynepco3hahue commented on #99919
the scheduler should see the same picture as the kubelet, so why does it pass the scheduler and failed under the kubelet?
Do you know why do we need the same checks under two different places(kubelet and scheduler), why it not enough to check available resources only under the scheduler?

[2021-03-08 15:59] cynepco3hahue commented on #99402
We are waiting for it, the problem that the scheduler and the kubelet see a different picture regarding resources requested by pods.

[2021-03-08 16:13] neolit123 commented on #99909
there was also the general idea to version tests and skip them when needed:
https://github.com/kubernetes/kubernetes/issues/49313

[2021-03-08 16:25] rubin55 opened #99948 "Support Windows on ARM"
#### What would you like to be added:

Currently kubernetes (and kubectl) run on a host of platforms. Recently, there has been an uptake in ARM based computing devices, most notably Apple's new M1 and Microsoft's Surface Pro X.

It would be great ik K8S would consider Windows on ARM a primary platform and release their binaries (at least kubectl) for this platform.

#### Why is this needed:

Suppo

[2021-03-08 16:43] rubin55 commented on #99948
/sig cli
/sig windows
/sig release

[2021-03-08 17:03] mtaufen commented on #99470
From the link @nilo19 posted, it looks like the test cluster issuer might be misconfigured (--service-account-issuer is missing https, I'm not sure why this even passed kube-apiserver validation, double-checking that also):

[code]

Try setting `--service-account-issuer=https://kubernetes.default.svc.cluster.local` on kube-apiserver.

[2021-03-08 17:03] fromanirh commented on #99947
Now my PR passed the lane without any code changes (just yet another retest): https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=95734

[2021-03-08 17:24] mtaufen commented on #99470
@liggitt reminded me we couldn't actually add that validation, because we weren't  previously validating schemes and it would've broken existing clusters with bad issuers set...

So as far as fixing the tests make sure issuers have schemes, at least.

[2021-03-08 18:05] jpbetz opened #99953 "client-go fake client difficult to use with apply"
#### What happened:

In PR https://github.com/kubernetes/kubernetes/pull/99462 we migrated the cluster-role-aggregator controller to apply. The controller's unit tests use the client-go fake, which works great for update, but for apply, required adding a custom reactor to handle the apply request because, without any reactors, the fake client returns a "PatchType not supported" error (https://gith

[2021-03-08 18:06] jpbetz commented on #99953
/sig api-machinery
/wg api-expression

[2021-03-08 18:06] jpbetz commented on #99953
/triage accepted

[2021-03-08 18:26] TheDiveO commented on #77142
/remove-lifecycle stale

[2021-03-08 18:28] Huang-Wei commented on #99580
It's the key point I'm concerned about: commented here https://github.com/kubernetes/kubernetes/pull/99582#discussion_r588799737. So let me ask a question: for a given input like:

[code]

What's the expected output?

1. {DefaultPlugin1, 1}, {DefaultPlugin2, 200}, {DefaultPlugin3, 3}, OR
1. {DefaultPlugin1, 1}, {DefaultPlugin3, 3}, {DefaultPlugin2, 200}

[2021-03-08 18:30] jsturtevant commented on #93580
/reopen

[2021-03-08 18:33] dims commented on #99938
/sig cli
/sig api-machinery

[2021-03-08 18:35] alculquicondor commented on #99580
Today, it is 2.

[2021-03-08 18:42] Huang-Wei commented on #99580
So in other words, if a user wants to customize a plugin's weight and keep its order, the only way is to use `disabled:*` and give a full list of plugins? If so, that's not a good UX IMO.

[2021-03-08 18:47] Huang-Wei commented on #94009
https://github.com/kubernetes/kubernetes/issues/94009#issuecomment-792354461 updated with proper owners. Thanks!

Please assign the reviewer to me when your PR is ready.

/remove-help

[2021-03-08 18:53] ahg-g commented on #94009
Wei, there were followups from https://github.com/kubernetes/kubernetes/pull/98241, are we tracking them somewhere?

[2021-03-08 18:58] alculquicondor commented on #99580
Well, order doesn't matter for Score, so not really a problem.

[2021-03-08 19:09] iraj465 commented on #99867
Hey can someone please let me know at which file I should be looking at? I'm willing to work on this.

[2021-03-08 19:28] bswartz opened #99955 "Update AnyVolumeDataSource feature gate to beta"
#### What would you like to be added:

Update AnyVolumeDataSource feature gate to beta

#### Why is this needed:

KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1495-volume-populators/README.md

[2021-03-08 19:30] neolit123 commented on #99919
/sig node scheduling

[2021-03-08 19:30] neolit123 commented on #99955
/sig storage

[2021-03-08 19:35] iraj465 commented on #99938
Hey i want to take this up. Can someone please point me where I should be looking?

[2021-03-08 19:48] deads2k opened #99957 "csi-hostpath provisioner in e2e runs uses CSINode v1beta1"
CSINode.v1beta1 was deprecated in 1.17 and is slated for removal in 1.22.  This will cause many CSI failures in pull-kubernetes-e2e-kind after 1.22 alpha.

https://github.com/kubernetes/kubernetes/pull/99840 is exploring what needs to change when the v1beta1 APIs are automatically removed.

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99840/pull-kubernetes-e2e-kind/13689867616523427

[2021-03-08 20:00] gnufied commented on #99957
Similarly I think CSI mock driver uses some pretty old release of attacher sidecar and hence is failing - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/99840/pull-kubernetes-e2e-kind/1368986761652342784/artifacts/_sig-storage_CSI_mock_volume/CSI_attach_test_using_mock_driver/should_require_VolumeAttach_for_drivers_with_attachment/csi-mockplugin-attacher-0-csi-attacher.log

[2021-03-08 20:01] gnufied commented on #99957
/triage accepted

[2021-03-08 20:45] neolit123 commented on #99948
one can already try:
[code]

which would give them ARM64 binaries for Windows if the go toolchain supports it, but i don't think it does?
https://github.com/golang/go/issues/36439

even if Go works, officially supporting windows/arm64 in K8s is difficult.
someone needs to sponsor the hardware and setup for e2e signal, otherwise the support cannot be claimed and the artifacts will remain untested.

[2021-03-08 20:54] jsturtevant commented on #99173
/milestone v1.21

[2021-03-08 21:03] Huang-Wei commented on #94009
@ahg-g the only followup is https://github.com/kubernetes/kubernetes/pull/98241#issuecomment-777100874. I will work on that. Let me know if any other followup I missed.

[2021-03-08 21:09] jayunit100 commented on #94776
hi folks.....   does the network policy subproject need to take this one and get it done ?  @cmluciano let us know we can dole it out as needed....  otherwise we'll just let you polish it off

[2021-03-08 21:10] prameshj commented on #23864
Great summary @rikatz. I have been meaning to write the KEP for supporting AllPorts in the service APi. Will tag the PR when I have it ready.

[2021-03-08 21:13] BenTheElder commented on #99948
We do have _client_ binaries without testing etc currently (e.g. M1, actually most of them). But lack of go support is a blocker. It looks like it _may_ land in 1.17 but go 1.17 also has some potentially high effort work for us FYI https://github.com/kubernetes/kubernetes/issues/82531

@hasheddan also has work detailing support tiers.

[2021-03-08 21:14] BenTheElder commented on #94227
/remove-lifecycle stale

[2021-03-08 21:14] BenTheElder commented on #82531
https://github.com/kubernetes/kubernetes/issues/94227
https://github.com/kubernetes/kubernetes/issues/86753

Did some minor cleanup in https://github.com/kubernetes/kubernetes/pull/99923

[2021-03-08 21:15] #93761 closed

[2021-03-08 21:15] BenTheElder commented on #94227
xref: https://github.com/kubernetes/kubernetes/issues/82531#issuecomment-781806805

go 1.16 has built in support for embedding
go 1.17 looks to be removing GOPATH

[2021-03-08 21:16] BenTheElder commented on #86753
https://github.com/kubernetes/kubernetes/issues/82531#issuecomment-781806805 cc @liggitt

[2021-03-08 21:20] jsturtevant commented on #99470
Thanks! The failures on the Linux tests are a separate issue from the Windows failures on docker.  I opened  kubernetes-sigs/cloud-provider-azure#542 to resolve the Linux failures (we have already done this for Windows: https://github.com/kubernetes-sigs/windows-testing/pull/247)

[2021-03-08 21:28] Huang-Wei commented on #99580
All right, so the only case users could disable PluginXYZ while also enabling PluginXYZ is Score plugins, I'm fine with the order issue.

Back to this issue, my 2 cents is to change the semantics of `enabled` to a more enforced manner (proposed in this issue) in a new API version - v1beta2 or GA. As IMO it's a real UX improvement. WDYT?

[2021-03-08 21:32] alculquicondor commented on #99580
I'm not convinced it's a UX improvement.

If the user "enables" a filter plugin that was a default (say, by mistake), then its order changes. At least first disabling the plugin makes it more explicit.

cc @adtac who has been working on decisions based on CC version

[2021-03-08 21:33] alculquicondor commented on #99580
I guess it depends on the implementation. What is the full proposal?

[2021-03-08 21:36] alculquicondor commented on #99580
/remove-kind bug
/kind feature

[2021-03-08 21:39] ehashman commented on #98976
We still have a bunch of sections that are not yet migrated. The largest appears to be pkg/kubelet/cm. I am updating this list so it is accurate: https://github.com/kubernetes/kubernetes/issues/98976#issuecomment-790927982

[2021-03-08 21:42] Huang-Wei commented on #99580
That's a fair point, esp. if we adjust default plugins from version to version. I think a good UX is to throw an error/warning to indicate that a default Filter plugin is being **re-enabled** - this's useful no matter which semantic `enabled` employes.

[2021-03-08 21:46] Huang-Wei commented on #99580
I'd like to:

- keep current logic to warn users that "PluginXYZ" is already registered (by default), if it's a non-Score plugin
- apply the "overridden" semantics for `enabled` for Score plugins only

[2021-03-08 21:50] bowei commented on #93740
@freehan is taking a look

[2021-03-08 21:52] bowei commented on #93740
This might just be a issue with 10m not being quite enough for 100% of the time to pass.

[2021-03-08 21:57] sfudeus commented on #96842
/remove-lifecycle stale

[2021-03-08 21:57] bowei commented on #93740
Strike my comment -- looks like there is test related issue.

[2021-03-08 21:57] alculquicondor commented on #99580
I propose (only for new version):

- Fail when plugin is already registered in the custom configuration, and only warning if the plugin was already part of defaults.
- Override any weight, preserving order

I think that keeps everything consistent. I think this is what the last iteration of the PR is doing, but I only skimmed through it.

[2021-03-08 22:01] krzysiekg commented on #98976
I'm working on pkg/kubelet/kuberuntime

[2021-03-08 22:17] ehashman commented on #99803
/milestone v1.21
/triage accepted

[2021-03-08 22:17] ehashman commented on #99802
/milestone v1.21
/triage accepted

[2021-03-08 22:32] sbangari opened #99964 "LoadBalancer Service type with invalid external loadbalancer IP breaks the datapath"
#### What happened:

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network

[2021-03-08 22:44] ehashman commented on #98976
/help

Please ensure you look at https://github.com/kubernetes/kubernetes/issues/98976#issuecomment-790927982 before you migrate files, read the instruction, and link back to this issue!

[2021-03-08 22:53] ahg-g commented on #94009
sg, can you open an issue to track that unless you have an open PR.

[2021-03-08 22:57] knabben commented on #98976
Working on `pkg/kubelet/cm/topologymanager`

[2021-03-08 23:15] Huang-Wei commented on #99580
SGTM.

To confirm, by "Fail when plugin is already registered in the custom configuration", this's only possible when users implement an out-of-tree plugin with a name identical to a default one, right?

[2021-03-08 23:16] ehashman commented on #98975
With #99090 merged I'd say this is done! Might have to do a little cleanup to go back and add migrated directories.

/close

[2021-03-08 23:16] #98975 closed

[2021-03-08 23:34] Huang-Wei opened #99966 "sched: cleanup clusterEventReg from pkg/scheduler/internal/queue/events.go"
Follow-up of https://github.com/kubernetes/kubernetes/pull/98241#discussion_r572468952. Currently we maintain a local registry for looking up the ClusterEvent obj by specifying a cluste event (string). The registry is not that necessary as we can build that ClusterEvent obj on the fly in movePodsToActiveOrBackoffQueue().

/kind cleanup
/sig scheduling

[2021-03-08 23:46] swetharepakula commented on #93740
The tests are failing because glbc needs new rbac permissions for IngressClass and GCPIngressParams. #99965 adds those which should cause the the failures to stop.

[2021-03-08 23:46] Huang-Wei opened #99968 "sched: requeue optimization upon Node Add/Update"
Followup of https://github.com/kubernetes/kubernetes/issues/94009#issuecomment-777557692.

Most unschedulabe pods, in current scheduler implementation, will be re-tried to see if they can be schedulable upon a **Node Add/Update** event. This is reasonable b/c a Node Add/Update usually indicates there is room to place the unschedulable Pod.

However an optimization here is, instead of immediate ret

[2021-03-08 23:47] Huang-Wei commented on #94009
Sure, create two issues tracking the follow-ups:

- [ ] sched: cleanup clusterEventReg from pkg/scheduler/internal/queue/events.go [#99966]
- [ ] sched: requeue optimization upon Node Add/Update [#99968]

[2021-03-08 23:54] spiffxp commented on #99648
I'm going to defer to @claudiubelu for the answer as I don't have time to implement this. I think this is reasonable to defer to Test Freeze, but I also don't see this as required for v1.21.

[2021-03-08 23:56] spiffxp commented on #97026
Yes. This is subject to Test Freeze, not Code Freeze. If we find it's unreasonable to land by then, I'll push to next cycle.

[2021-03-09 00:23] alculquicondor commented on #99580
I'm just referring to failing when the user repeats the same value twice.

I think we can't prevent what you say.

[2021-03-09 00:27] #85623 closed

[2021-03-09 00:36] BenTheElder commented on #74965
@BobyMCbobs and I were discussing the same problem in slack today, 20.10 seems to be necessary to get `-f` or `--file` for `docker buildx build` tentatively, so we should probably just require 20.10 (buildx fixes some build issues for us, and we do expect to point to the docker-file separately from the build context ideally).

[2021-03-09 00:38] knabben commented on #98976
Working on `pkg/kubelet/cm/memorymanager/`.

less `pkg/kubelet/cm/memorymanager/policy_static_test.go` that's already migrated.

[2021-03-09 01:06] thejoycekung commented on #99365
More examples of flaking runs:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1369046548255608832
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1369000990748971008
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-win

[2021-03-09 01:49] k82cn opened #99973 "Report oversubscribed resources for schedulers"
#### What would you like to be added:

The oversubscribed resources are the resources that requested by Pod but not used when it's running. We'd like to ask kubelet to report those resources, so the scheduler can re-use those resouces for preemptable/best-effort Pods.

#### Why is this needed:

It's hard for the users to assign a "right" request for each Pod, so there're always lots of oversubscri

[2021-03-09 01:50] k82cn commented on #99973
/sig node

[2021-03-09 01:52] k82cn commented on #99973
@kubernetes/sig-node-feature-requests @kubernetes/sig-node-proposals

[2021-03-09 01:54] k82cn commented on #47318
/close

[2021-03-09 01:54] #47318 closed

[2021-03-09 01:54] k82cn commented on #62092
/close

Handled by scheduler framework.

[2021-03-09 01:54] #62092 closed

[2021-03-09 02:00] knabben commented on #98976
Working on `pkg/kubelet/cm/devicemanager/`
less `pkg/kubelet/cm/devicemanager/topology_hints.go`

[2021-03-09 02:10] jsturtevant commented on #99470
/reopen
This is still an issue for windows docker. https://github.com/kubernetes/kubernetes/pull/99860  fixes it

[2021-03-09 02:12] spiffxp commented on #96524
/area conformance

[2021-03-09 02:22] roycaihw commented on #99181
@andrewv22 Thanks for willing to help. Some thoughts:

CRD and CR can be created by different users (cluster admin v.s. cluster user). I don't think we want block CRD deletion on CR creation, where a CR client (cluster user) may always hold the lock and starve the CRD client (cluster admin).

A controller won't be able to watch CRs after the CRD is removed from discovery. Also since the race happe

[2021-03-09 02:23] spiffxp commented on #75355
/milestone clear

[2021-03-09 02:52] mkumatag commented on #99648
I think we can defer to next release, need a proper brainstorming about how and what part..

[2021-03-09 03:23] #90764 closed

[2021-03-09 03:24] #99134 closed

[2021-03-09 04:14] BenTheElder opened #99979 "[flaky test]: [sig-node] Probing container should be ready immediately after startupProbe succeeds"
#### Which jobs are flaking:

Seems to be impacting a few KIND jobs on the master branch the most, but also assorted other jobs

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=%20more%20than%205s%20after%20startupProbe%20succeeded

#### Which test(s) are flaking:

`[sig-node] Probing container should be ready immediately after startupProbe succeeds`

#### Testgrid link:

[2021-03-09 04:44] BenTheElder commented on #99881
/assign
Working on identifying what the complete problem space is.

[2021-03-09 04:47] #98026 closed

[2021-03-09 05:29] BenTheElder commented on #99909
FWIW this test also seems to have issues in node e2e. https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99912/pull-kubernetes-node-e2e-containerd/1369152530193321984/

[2021-03-09 05:29] BenTheElder commented on #99979
xref probing tests https://github.com/kubernetes/kubernetes/issues/99909#issuecomment-793422923

[2021-03-09 06:00] Jiawei0227 opened #99981 "Relax CSI Node length limitation in 1.22"
https://github.com/kubernetes/kubernetes/pull/98753 will be used as a preparation for relaxing CSI Node id length limitation, in 1.22, we need to make sure the AllowLongNodeID is set correctly according to the comment https://github.com/kubernetes/kubernetes/pull/98753#discussion_r589441271

/sig storage
/assign @Jiawei0227
/cc @saad-ali @msau42 @liggitt

[2021-03-09 06:02] Jiawei0227 commented on #99981
/milestone 1.22

[2021-03-09 06:04] thockin commented on #99981
Can you make a better title - I almost jumped out of my skin :)

[2021-03-09 06:06] Jiawei0227 commented on #99981
Oops, sorry about that lol

[2021-03-09 06:09] Jiawei0227 opened #99982 "Remove CSIMigrationvSphereComplete flag and use InTreePluginvSphereUnregister instead"
In https://github.com/kubernetes/kubernetes/pull/98243 we deprecated  CSIMigrationvSphereComplete flag and we will need to remove it in the 1.22 release for clean up.

/sig storage
/assign @Jiawei0227
/cc @msau42
/triage accepted

[2021-03-09 06:10] Jiawei0227 commented on #99982
/assign

[2021-03-09 06:33] chendave commented on #99580
This might be the reason why the order of the plugins should be reserved.

[2021-03-09 06:47] chendave commented on #99580
Unless it's score plugin like this issue, I don't know if there is any point to enable the default plugin in a config file.

I think there is no need to distinguish score plugin with others, this will make the life easier, correct me?

[2021-03-09 06:54] chendave commented on #99580
Yeah, overall, https://github.com/kubernetes/kubernetes/pull/99582 is following this ideas, except that PR doesn't handle the repeated configuration, because if there is repeated value after the default plugin is overridden, it will hit the error below,

[2021-03-09 06:57] chendave commented on #99580
@alculquicondor @Huang-Wei  thanks for those valuable suggestion!

So, we are still with beta1, and you suggest we can make some change in the new version,  beta2?  Is there any plan when this could happen? v1.22?

[2021-03-09 07:11] qiutongs opened #99986 "Auto-delete failed Pods"
## Overview

Currently, the only mechanism to auto-delete failed pods is the [garbage collection](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-garbage-collection). However, the default threshold is incredibly high - 12500[1]. Therefore it is useless in practice for most of customers.

There are circumstances that pods become failed due to a k8s bug. I have seen two cases s

[2021-03-09 07:23] andrewv22 commented on #98963
/assign

[2021-03-09 07:30] AfrouzMashayekhi commented on #98976
Working on `cmd/kubelet/app/plugins_providers.go` + `cmd/kubelet/app/server_linux.go` + `pkg/kubelet/cadvisor/cadvisor_linux.go` + `pkg/kubelet/cri/remote/util/util_unix.go` + `pkg/kubelet/images/image_manager.go`

[2021-03-09 07:32] BenTheElder commented on #99947
note that `pull-kubernetes-e2e-azure-disk-windows` is _not_ a `Required` presubmit for merge, or else it would show:
<img width="89" alt="Screen Shot 2021-03-08 at 11 30 57 PM" src="https://user-images.githubusercontent.com/917931/110434207-608ffa00-8066-11eb-860a-5651f1670abe.png">

non-required presubmits can be bypassed with `/skip`, but are generally worth looking at first

[2021-03-09 07:33] maplain commented on #98577
thx @aojea and @jayunit100 for taking a look.

If the label is supposed to be used for Service only, why would creating an Endpoints with that label make the Service unavailable?

[2021-03-09 07:36] maplain commented on #98577
/assign maplain

[2021-03-09 08:01] aojea commented on #93740
/assign @swetharepakula
Thanks guys, we are close to be completely green in sig-network :smile:

[2021-03-09 08:27] aojea commented on #93740
https://github.com/kubernetes/kubernetes/pull/99990 to fix the https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e-multi-zone

[2021-03-09 09:09] SimonBaeumer opened #99993 "Allow setting ValidatingWebhookConfiguration CA bundle at runtime"
#### What would you like to be added:

Add a way to set CABundle for `ValidatingWebhookConfiguration`s at runtime instead of requiring it on object creation.

#### Why is this needed:

To use helm charts without interfacing with CA bundles we fetch CA certificates automatically and validate them with different challenges. This process is implemented with init-containers which store the CA certs in

[2021-03-09 09:25] timothyclarke commented on #23864
@rikatz I'm probably stating the obvious, if you're going to create a full IP forward you're probably talking about having secondary IP's on the node.
There might need to be some work elsewhere so services bind to the primary IP address instead of `0.0.0.0`

[2021-03-09 09:47] claudiubelu commented on #99648
Indeed, we can defer it since it's not critical at the moment. It's not breaking anything, but it would still be nice to have. I can take a look at it after the freeze.

[2021-03-09 09:50] andrewv22 commented on #99181
Got it, thanks for the feedback, I'll give it another thought.

[2021-03-09 10:15] bart0sh commented on #99402
ok. In this case restarting the pod until it succeeds seems reasonable to me to fix the flakiness until #99919 is fixed.

[2021-03-09 10:30] jsafrane commented on #99957
cc @pohly
How often do we sync manifests from the hostpath driver?

[2021-03-09 10:39] craigbox opened #100000 "There are no 6-digit issues or PRs in kubernetes/kubernetes"
Up until now, all issues and PRs have had 5 digits or fewer.  We should validate nothing fails when the issue or PR number is 6 digits long.

[2021-03-09 10:40] aojea commented on #97890
iperf has been green for a long time
https://testgrid.k8s.io/sig-network-gce#network-policies,%20google-gce&width=5&include-filter-by-regex=iperf
/close
great work guys

[2021-03-09 10:40] #97890 closed

[2021-03-09 10:41] nikhita commented on #100000
:100: :100:

[2021-03-09 10:46] matthyx commented on #100000
Nice one!

[2021-03-09 10:49] aojea commented on #100000
:1st_place_medal:

[2021-03-09 10:49] nikhita commented on #100000
Going to close this one :)

[2021-03-09 10:49] #100000 closed

[2021-03-09 11:17] wojtek-t commented on #93320
/cc

[2021-03-09 11:22] adisky commented on #99934
closing this issue as per @BenTheElder's suggestion, will open an issue in klog/logcheck to make the tool work concurrently.

[2021-03-09 11:22] adisky commented on #99934
/close

[2021-03-09 11:22] #99934 closed

[2021-03-09 11:48] cpanato commented on #100000
/honk

[2021-03-09 11:49] dims commented on #100000
/meow

[2021-03-09 12:20] KofClubs commented on #94009
I submitted a PR ( #100004 ) for NodePorts, not yet tested.
I shall test it this week.

[2021-03-09 12:27] #98479 closed

[2021-03-09 12:27] #99239 closed

[2021-03-09 12:28] cynepco3hahue opened #100005 "The memory manager fails to set cpuset.mems when used with the docker shim"
#### What happened:

The memory manager fails to set the cpuset.mems when used with the docker shim

#### What you expected to happen:

The memory manager should succeed to set the cpuset.mems when used with the docker shim.

#### How to reproduce it (as minimally and precisely as possible):

Run memory manager e2e test on the environment with more than one NUMA node.

#### Anything else we need t

[2021-03-09 13:47] mcginne commented on #90066
@dougsland am I right in thinking that will only affect Kubectl's display of the managed fields? We have a load test to verify apiserver performance, which uses client-go to make lots of `get pods` requests and I see a ~20% regression between v1.17 and v1.18 which I believe is down to the extra overhead of these fields....

[2021-03-09 13:57] fasaxc commented on #98758
Sorry, I need to replicate the user's environment to get the next level of diags; haven't got around to doing that yet.

[2021-03-09 14:13] liggitt opened #100012 "client-side `kubectl apply` does not use strategic merge patch info in openapi for unknown types"
#### What happened:

Tried to use `kubectl apply` with an old release of kubectl against a new version of an existing built-in type

#### What you expected to happen:

`kubectl apply` (with client-side apply) should honor advertised strategic-merge-patch directives like `patchStrategy=replace` published in the openapi for the new type.

#### How to reproduce it (as minimally and precisely as possi

[2021-03-09 14:15] desponda commented on #75564
Hi 👋 Bug Triage here, just a reminder that code freeze is end of day today! PRs need to be merged in before then, or they will require an approved exception to go into the 1.21 milestone.

[2021-03-09 14:17] desponda commented on #95038
@saschagrunert @justaugustus any update on this issue or for which milestone it will be targeted?

[2021-03-09 14:20] saschagrunert commented on #95038
https://github.com/kubernetes/kubernetes/pull/97963 is not within the v1.21 milestone. I have to continue some tests to ensure that the change is the right move forward.

[2021-03-09 14:22] alculquicondor commented on #99580
You are correct, there is no point, but it's good to have consistency. If it's allowed for Score, it should be allowed for other extension points.

I agree

Yes, that is the plan. It was 1.21, but we fall behind due to newer plans for deprecating plugins

#95446

[2021-03-09 14:24] alculquicondor commented on #99986
/sig node
/sig apps

[2021-03-09 14:26] alculquicondor commented on #99986
cc @kow3ns @derekwaynecarr

[2021-03-09 14:41] neolit123 commented on #99993
/sig auth api-machinery

[2021-03-09 14:51] curtisr7 commented on #98963
It seems odd that this misconfiguration would result in a warning rather than an error, but closing is fine by me

[2021-03-09 15:02] neolit123 commented on #98222
^ closing in favor of the new ticket.

[2021-03-09 15:02] #98222 closed

[2021-03-09 15:14] ahg-g commented on #99968
We should execute the node admission logic, see third bullet: https://github.com/kubernetes/kubernetes/issues/94009#issue-679258867

[2021-03-09 15:15] ahg-g commented on #99966
/triage accepted

[2021-03-09 15:17] ahg-g commented on #99919
are there any static pods being created in that test? static pods may cause this.

[2021-03-09 15:18] ahg-g commented on #99901
/remove-sig scheduling

[2021-03-09 15:25] #99901 closed

[2021-03-09 15:31] iwankgb commented on #95039
Bug will be fixed in 1.21: https://github.com/kubernetes/kubernetes/pull/99875. I will work towards backporting it to 1.20 too.

[2021-03-09 15:33] eddiezane commented on #98801
@yliaog @lucasyarza @hermanbanken could you please share more about your clusters?

You're all running [metrics-server](https://github.com/kubernetes-sigs/metrics-server/)? Which version?

[kube-state-metrics](https://github.com/kubernetes/kube-state-metrics)? Which version?

How many CRD's are on the cluster?

Can you replicate with [Kind](https://github.com/kubernetes-sigs/kind) or a [supported

[2021-03-09 15:43] seb54000 commented on #99096
After some talks with other people and communities, we will give a try to implement this kind of restriction on MaxRequest through OPA : https://www.openpolicyagent.org/docs/v0.12.2/kubernetes-admission-control/

I'll keep you informed if successful and how to implement this specific useCase.

[2021-03-09 15:43] #99096 closed

[2021-03-09 15:52] Letme commented on #95039
Thanks for the info. I appreciate all the effort you put into solving this.

[2021-03-09 16:03] howardjohn opened #100016 "newTestResourceQuota causes clusters to fail conformance when they probably shouldn't"
#### What happened:
I ran conformance tests on a cluster that had a controller enabled that syncs a configmap across all clusters. It failed:
[code]

Appears to be due to a 2 configmap limit: https://github.com/kubernetes/kubernetes/blob/02b9dd6a6e7d2928945afa4b8aedd7650d6d4cab/test/e2e/apimachinery/resource_quota.go#L1481

#### What you expected to happen:
These clusters should pass conformance.

[2021-03-09 16:09] #96919 closed

[2021-03-09 16:12] ams0 commented on #80546
Hello! I am from the Bug Triage team! Friendly reminder that code freeze is starting March 9th, 2021 (today!).

As the Issue is tagged for 1.21, but no PR is linked, are we still working on this?

[2021-03-09 16:14] ams0 commented on #91536
Hello! I am from the Bug Triage team! Friendly reminder that code freeze is starting March 9th, 2021 (about 1 week from now).

As the Issue is tagged for 1.21, and the PRs linked are merged and marked for 1.21, can we close this one?

[2021-03-09 16:15] logicalhan commented on #91536
Yes! :)

[2021-03-09 16:38] jsturtevant commented on #99365
/assign

[2021-03-09 16:45] cynepco3hahue commented on #99919
Nope, regular pods with the `RestartPolicy: Never`

[2021-03-09 16:46] ams0 commented on #94900
Hello! I am from the Bug Triage team! Friendly reminder that code freeze is starting March 9th, 2021 (today!).

As the Issue is tagged for 1.21, but no PR is linked, are we still working on this?

[2021-03-09 16:51] tansly commented on #24875
Hello people, sorry for bumping up this old issue but I’ve just came across this and got a bit confused. A Stackoverflow user states that exactly the scenario described here works. https://stackoverflow.com/a/50221754

Is the user doing something wrong? Is it not supposed to work that way? Thanks!

[2021-03-09 17:02] ams0 commented on #70249
Hi @justaugustus , is still planned for 1.21? We start code freeze today, so I wonder if we should leave it for this release or move to the next

[2021-03-09 17:05] spiffxp commented on #94900
/milestone v1.22
This is subject to test freeze, not code freeze, so I am willing to review PRs linked to this, but my priorities for authoring are elsewhere for the run up to test freeze

[2021-03-09 17:19] #99306 closed

[2021-03-09 17:19] #100005 closed

[2021-03-09 17:24] maplain commented on #98577
gotcha. thx @aojea!

So what happened is:
1. kube-proxy doesn't watch Service or Endpoints with `service-proxy-name` label. Therefore the Endpoint created with that label is not reconciled at all, which leads to the REJECT rule;
2. PATCH on Endpoint is not processed, so updating it to remove the label doesn't take effect either.

This also explains why the following flow works as expected:
1. crea

[2021-03-09 17:25] msau42 commented on #90868
/remove-lifecycle stale

[2021-03-09 17:26] Riaankl commented on #98459
@palnabarun @heyste is busy investigating flaky tests of all sorts and the issue mostly do no relate to the tests but some other underlying problems. We will have a look at it.

[2021-03-09 17:48] liggitt commented on #100000
<img src="https://user-images.githubusercontent.com/980082/110514751-9e783700-80d5-11eb-8bc1-bb365c28b212.jpeg" height="500" alt="o_O">

[2021-03-09 18:01] zeleena opened #100021 "NewSerializerWithOptions yaml for v2beta2 HPA cannot be applied with ValidationError"
#### What happened:

Serializing a v2beta2 HorizontalPodAutoscaler with `NewSerializerWithOptions` (and `NewYAMLSerializer`) produces yaml that cannot be applied due to a ValidationError on the `conditions` field which is under the _optional_ field `status`.

#### What you expected to happen:

A valid HPA serialized with `NewSerializerWithOptions` should be able to be applied to the cluster with n

[2021-03-09 18:03] visunali opened #100022 "The logic to determine if node is known in node lifecycle controller is overly simple which can potentially lead to werid behavior"
#### What happened:
We found out race condition could potentially occur in node lifecycle controller when a worker node is terminated and another worker node **with same name** spins up before pod eviction timeout.

Node lifecycle controller keeps monitoring the health report from worker node. [If it didn't get this report, it will mark condition status as Unknown](https://github.com/kubernetes/ku

[2021-03-09 18:03] aojea commented on #100000
hahahahha
please add it to the bot
/liggit

[2021-03-09 18:04] zeleena commented on #100021
/sig api-machinery
/sig autoscaling
/sig cli

[2021-03-09 18:17] Danil-Grigorev opened #100024 "SSA triggers update events on apply to resource when it is no-op"
#### What happened:

Using SSA patch to create and manage a couple of resources (specifically [those](https://github.com/openshift/cluster-cloud-controller-manager-operator/tree/fffa7104273622e6d0720c38b72735f9693646ae/pkg/cloud/openstack/assets), the list may change in the future) resulted in endless hot loop, as each apply increases `resourceVersion` of the resource even if this is a no-op.

###

[2021-03-09 18:43] AliceZhang2016 commented on #95047
Hi @krol3, are you still working on this? If not, I want to have a try : )

[2021-03-09 18:56] aojea commented on #98577
service labels are mirrored to the endpoint
https://github.com/kubernetes/kubernetes/blob/3f09686958f00420ae1608ae9997ceb4d06e7006/pkg/controller/endpoint/endpoints_controller.go#L519

IIRC the filtering is on the apiserver, so you don't receive objects that you don't need to the nodes

[2021-03-09 19:03] apelisse commented on #100024
Can you show me the exact object after it's been applied (as returned by the apiserver in the apply request) and the object that you intended to apply (as seen in the file, before it's been decoded). That would greatly help me understand what's going on, thanks!

[2021-03-09 19:03] maplain commented on #98577
should it do so even if the Service is selectorless and Endpoint is actually managed by users?

[2021-03-09 19:05] #95083 closed

[2021-03-09 19:05] #95952 closed

[2021-03-09 19:05] #99739 closed

[2021-03-09 19:11] chewong commented on #99470
We use aks-engine (self-managed cluster instead of managed AKS cluster) to run the tests. For aks-engine, I opened a PR (https://github.com/Azure/aks-engine/pull/4262) to fix the service account issuer. For AKS, I can confirm that the service account issuer does not any scheme in the URL at all.

Tagging @jackfrancis, who works on aks-engine.
Tagging @weinong, who works on AKS.

[2021-03-09 19:12] agilgur5 commented on #97076
@champtar thanks for the speedy clarification! the default namespace `admin` role gives permissions to create `Endpoints`; so that means the default for multi-tenancy is vulnerable in this resource as well and the mitigations in this issue and Gatekeeper do not cover this.
`Endpoints` IPs aren't limited to external IPs also, so it would also be hard to allowlist IPs here in the same way the existi

[2021-03-09 19:19] ams0 commented on #99562
Hello! I am from the Bug Triage team! Friendly reminder that code freeze is starting March 9th, 2021 (today!).

I can see the linked urgent PR is merged and the dependency is update, if no more work is needed, I'd suggest to close this issue for the 1.21.

[2021-03-09 19:26] Jeffwan commented on #98541
Anyone is working on this issue? If not, I want to give it a try. Looks like all changes can be done on the reflector side in client-go.

[2021-03-09 19:28] champtar commented on #97076
If I remember correctly by creating `Endpoints` you can only attack `Services` in the same namespace, so if you are namespace admin you can just go edit the Service.

[2021-03-09 19:31] justaugustus commented on #99562
Closed via https://github.com/kubernetes/kubernetes/pull/99679.
Thanks for checking in, @ams0!

/close

[2021-03-09 19:31] #99562 closed

[2021-03-09 19:33] Jeffwan commented on #98541
/assign @Jeffwan

[2021-03-09 19:35] Danil-Grigorev commented on #100024
@apelisse Sure. Here are a couple of pastebins:
- `Deployment` before and after (not the first apply): https://pastebin.com/gLGkhbLX
- `ConfigMap` before and after (again, some Nth unchanged apply): https://pastebin.com/sdj0pLfP
- `ConfigMap` over time (triggered by other resource updates): https://pastebin.com/tWFUAe9B Here you can see how the `resourceVersion` rises over time.

It was using cont

[2021-03-09 19:37] maplain commented on #99824
similar discussions in Service API:
1. https://github.com/kubernetes-sigs/gateway-api/issues/491
2. https://github.com/kubernetes-sigs/gateway-api/issues/136

As GatewayClass is also a Cluster scoped resource, like IngressClass.

[2021-03-09 19:46] Jefftree commented on #99730
I can confirm this is working on HEAD (v1.21), using your exact examples.

[code]

[code]

Going to close this as fixed
/close

[2021-03-09 19:46] #99730 closed

[2021-03-09 20:29] apelisse commented on #100024
@jpbetz I'm working on an alternative understanding here, but would you believe this will be fixed in 1.21?

[2021-03-09 20:47] apelisse commented on #100024
There's a slight bug with creationTimestamp being cleared AFTER we've updated the timestamp, I'm inverting these two operations, that will help BUT that doesn't mean that using client-go to apply is the right thing to do.

[2021-03-09 20:59] jpbetz commented on #100024
Using the go structs to construct apply requests is something we know is unsound. Here's an example of what can go wrong: https://github.com/kubernetes/kubernetes/pull/99462#discussion_r589109539

The typesafe apply support we're adding in 1.21 (https://github.com/kubernetes/enhancements/issues/2155) solves the problem. I highly recommend migrating to that once its available. It avoid this particu

[2021-03-09 21:10] csantanapr commented on #100000
LOL !

[2021-03-09 21:17] fedebongio commented on #94123
/remove-sig api-machinery

[2021-03-09 21:18] fedebongio commented on #99770
assign @yliaog
/triage accepted

[2021-03-09 21:20] fedebongio commented on #99938
/assign @yliaog
Thanks you!

[2021-03-09 21:21] fedebongio commented on #99993
/assign @jpbetz
/triage accepted

[2021-03-09 21:23] fedebongio commented on #100021
/assign @caesarxuchao
/triage accepted

[2021-03-09 21:24] fedebongio commented on #100024
/triage accepted

[2021-03-09 21:34] robscott opened #100033 "EndpointSlice Controllers create duplicate EndpointSlices in certain cases"
#### What happened:
The controllers can create a second EndpointSlice after an immediate sync if the first EndpointSlice they created is not in the cache yet. Here's what can happen:

1. Controller gets event that triggers sync for Service
2. Controller syncs and creates EndpointSlice
3. Controller gets event that triggers sync for same Service
4. Controller syncs and creates EndpointSlice (the sl