[2016-08-19 18:56] mikebryant commented on #29972
I believe we're hitting this issue too - running a zookeeper petset with init containers, the pod starts up, init containers run, main container runs.
Then a short time later the pod status goes back to Init 0/1, but the main container is still running

If I can reproduce it reliably what debug output would be helpful?

[2016-08-19 18:56] davidopp commented on #30272
I will take a look at this next week, sorry for the delay.

[2016-08-19 19:05] baldeynz opened #31021 "kubelet symlinks /var/log/containers to incorrect place"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
var/log/containers symlink fluentd
---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2016-08-19 19:14] ujijinair commented on #31008
EC2 instance was not in the same zone as mount volume

[2016-08-19 19:14] #31008 closed

[2016-08-19 19:26] david-mcmahon commented on #30600
cmake, now that's a name I've not heard for a long time.  No comment on it as a replacement though.

Makefiles with bash is quite a common pairing, certainly in OSS.  The problem isn't inherently with bash.  bash can be written and maintained in a way that makes it suck less for people, but like anything it can get quite unwieldy too without TLC along the way.

[2016-08-19 19:40] #29345 closed

[2016-08-19 19:41] pmorie commented on #18776
Alright, picking this back up:

I would like to remove NsenterMounter and NsenterWriter in 1.5.  The only reason these are needed is because docker did not allow setting mount propagation mode on bind-mounts before version 1.10.

@kubernetes/sig-node

[2016-08-19 19:49] vishh commented on #29033
The fact that the scheduler assumes that resources are reclaimed as soon as a pod object gets deleted is invalid. How much ever we hide it in kubelet, the underlying problem remains. We can add a lot of band aids or fix it methodically.
Scheduler does not consider usage or availability as of today. So there exists no propagation delay.

It is not specific to just cgroups, but even applies to today

[2016-08-19 19:52] bgrant0607 commented on #24314
@k82cn In which examples do you plan to make this change?

cc @kubernetes/examples

[2016-08-19 19:58] hongchaodeng commented on #30873
@timothysc @wojtek-t
In etcd3, data are kept in MVCC store and wouldn't be cleared unless we compact them.

[2016-08-19 19:58] dchen1107 commented on #30972
@davidopp Thanks for updating the status. I am closing this as dup of  #28832 for now.

@JeanMertz  I am closing this as dup of  #28832 for now. If you think they are different ones, please re-open it.

[2016-08-19 19:58] #30972 closed

[2016-08-19 20:01] #16094 closed

[2016-08-19 20:03] nikhiljindal commented on #26675
No. We still need to fix it. It requires some changes in our API machinery code. Doesnt look like we will be able to get to this in 1.4. Will fix in 1.5

[2016-08-19 20:04] nikhiljindal commented on #29744
We now support events in federation control plane with https://github.com/kubernetes/kubernetes/pull/30421 and https://github.com/kubernetes/kubernetes/pull/30564. Next step is to update our federation controllers to start creating events.

[2016-08-19 20:06] nikhiljindal commented on #30635
Fixed by https://github.com/kubernetes/kubernetes/pull/30655

[2016-08-19 20:06] #30635 closed

[2016-08-19 20:12] bgrant0607 commented on #24314
@k82cn Making this change in some examples would be useful, but only if we explain why we're doing it. Additionally, linking to existing docs and blogs about namespaces would be helpful:

http://blog.kubernetes.io/2015/08/using-kubernetes-namespaces-to-manage.html
http://blog.kubernetes.io/2016/08/kubernetes-namespaces-use-cases-insights.html

I don't want to do this in all of the examples, becaus

[2016-08-19 20:17] wattsteve commented on #29534
yep, also hitting this issue on Fedora 24

[2016-08-19 20:18] dchen1107 commented on #30706
@justinsb today NPD can only pick up the issue from the logs. But which logs, and what format with regex can be configured easily.

In kernel panic case, Is there anyway to get console screenshot during reboot, something like startup script?

[2016-08-19 20:21] dchen1107 commented on #18776
SGTM.

[2016-08-19 20:35] rootfs commented on #29534
happened to my setup with golang 1.6.3.
upgrading to golang 1.7 fixed this issue.

[2016-08-19 20:36] luxas commented on #18776
SGTM, but when we do that, we have to support shared volumes first (https://github.com/kubernetes/kubernetes/pull/20698)

Also, we should deprecate `--containerized` now in v1.4

[2016-08-19 20:43] jayunit100 commented on #18099
viper working updated pr

[2016-08-19 20:46] fejta commented on #18099
So the idea here is we use ini files to set flags instead of bash? This seems like a strong idea to me.

[2016-08-19 20:48] spxtr commented on #18099
I would prefer json or yaml over ini, but I prefer all of the above over bash.

[2016-08-19 20:58] rootfs commented on #30897
As implemented in #30959 for RBD storage class, Ceph key is placed in a Secret. The Secret's name and namespace need to be set in the storage class's parameter, illustrated below:

[code]

[2016-08-19 21:18] mwielgus opened #31029 "Move helper functions from federated controllers unit tests to some library"
Currently there are repeated over and over.

[2016-08-19 21:24] jayunit100 commented on #18099
json + yaml + anything you want if we use `viper` :)

[2016-08-19 21:34] #24078 closed

[2016-08-19 21:40] #30536 closed

[2016-08-19 21:42] #30886 closed

[2016-08-19 21:42] krousey commented on #30990
Just as an FYI, 1.4 release coordinator is citing the scale test failures as a blocker for cutting an alpha release.

cc: @pwittrock

[2016-08-19 21:44] k8s-merge-robot opened #31031 "[k8s.io] V1Job should scale a job down {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13654/

Failed: [k8s.io] V1Job should scale a job down {Kubernetes e2e suite}

[code]

Previous issues for this test: #30216

[2016-08-19 22:08] DreadPirateShawn commented on #30926
Here's the relevant docker.log:
[code]

... although "relevant" is relative, since unfortunately that looks like it doesn't the detail we were hoping for here, since "docker ps" and other such routine actions aren't output to the logs.

(It's possible to increase docker's log verbosity via `--log-level=debug` on the docker daemon, but we only enable that on our dev stacks, due to the *extreme* ver

[2016-08-19 22:10] bprashanth commented on #30990
my unconfirmed guess is that the client (reaper/scale) is deleting RC for some generation that it hasn't fulfilled. See discussion on:  https://github.com/kubernetes/kubernetes/issues/25170, https://github.com/kubernetes/kubernetes/pull/25171. If that turns out the be the issue, we need to change how generation is exported from controller which is probably not going to happen this release.

[2016-08-19 22:14] DreadPirateShawn commented on #30926
It is worth noting, perhaps, that the docker logs do include many `Handler for GET /containers/foo/json returned error: No such container: foo` entries, but not all of them generate corresponding errors in the kubelet logs.

For instance, in the kubelet logs reported above, container `a71923c1e106541e589424ffe825c72883873a81474c372984e1cce077d5ac05` corresponds to pod `agent-manager-20160729-20575

[2016-08-19 22:21] caesarxuchao commented on #30990
Discussed offline, the prematurely updated observedGeneration shouldn't be a problem here. Because apart from the observerGeneration, the reaper also waits for the rc.Status.Relicas==0. Some logs show the RC has at least 2 active replicas before the deletion happen, so the prematurely updated observedGeneration is not enough to trigger the flake.

[2016-08-19 22:25] Johnzinvalid commented on #30984
It works, I am just afraid of deleting the working one cause got same NAME, thank you @mikedanese

[2016-08-19 22:39] euank commented on #18776
I think we should have support for shared volumes in K8s due to self hosting, and there's some active discussion related to that as well. cc @aaronlevy @pbx0 @derekparker

[2016-08-19 22:40] caesarxuchao commented on #30871
The 100-node runs ***without*** the garbage collector enabled. Maybe the surging memory consumption is related to #30990.

Anyway, I don't think GC increase API server's memory usage. Can we retitile the issue?

[2016-08-19 22:41] bprashanth commented on #30990
This is not sufficient, you need to confirm that the rc wasn't scaled to 0. We could always have logged 2 replicas, scaled the rc to 0 then up to 5, and you get status.replicas=0 generation=(generation for 5). It sounds like we should start with debuggin when it regressed and boil it down to a smaller test case than load.go.

[2016-08-19 22:43] yujuhong commented on #30926
Yep, only debug-level docker logs show the requests, and they are extremely verbose. Basically I just wanted to check if kubelet (the container garbage collector) removes the container before the inspection -- which we could probably try to improve. I didn't check the v1.2.2 code yet, so not sure 1) if this could happen, and 2) whether kubelet logs anything before removing a container. Note that e

[2016-08-19 22:45] #30975 closed

[2016-08-19 22:47] #30735 closed

[2016-08-19 23:02] smarterclayton commented on #29033
On Aug 19, 2016, at 3:50 PM, Vish Kannan <notifications@github.com> wrote:

The fact that the scheduler assumes that resources are reclaimed as soon as
a pod object gets deleted is invalid. How much ever we hide it in kubelet,
the underlying problem remains. We can add a lot of band aids or fix it
methodically.
Scheduler does not consider usage or availability as of today. So there
exists no propa

[2016-08-19 23:02] caesarxuchao commented on #30990
Forget to mention the test scales the particular RC from 5 to 2, then to 3, then delete. I saw the log message generated by the rc manager saying "Too few "e2e-tests-load-30-nodepods-1-tokqg"/"load-small-rc-269" replicas, need 3, creating 1". I think that guarantees the status.replicas is not 0 at the time of deletion?

[2016-08-19 23:07] k8s-merge-robot opened #31041 "[k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 105 pods with 0 interval [Benchmark] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/295/

Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 105 pods with 0 interval [Benchmark] {E2eNode Suite}

[code]

[2016-08-19 23:10] hongchaodeng commented on #20504
@wojtek-t

I do some experiments and can make it work by attaching lease directly in migration process. This is not very generic though and hard to make it generic. In order to move forward fast, I create a repo for such migrate tool: https://github.com/hongchaodeng/kube-etcd-migrate

[2016-08-19 23:10] bprashanth commented on #30990
Check out the scale loop: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/scale.go#L191

And note that:
* you need status = spec
* you need a higher generation
* the rc is from a watcher

Rapid scale up/down is going to confuse it, assuming that's the scaler you're talking about in previous comments.

[2016-08-19 23:15] olalonde commented on #30910
@dchen1107 thanks, I ended up shutting down the node entirely to remove it from the cluster as a quickfix. I just did `sudo shutdown`. Are there any additional steps to take to remove a node? I'm used kube-up.sh to setup my cluster on AWS (1 master, 3 minions). I will now upgrade to Kubernetes 1.4.

[2016-08-19 23:17] caesarxuchao commented on #30990
I probably found the cause:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/scale.go#L180

The scale watch is started with ListOptions.ResourceVersion=0, which means the watch is started from a random resource version, so the scale loop might just get a watch event from the history where all conditions were met.

[2016-08-19 23:26] caesarxuchao commented on #30759
Currently the 500-gce sometimes reports kube-controller-manager uses too much CPU. I found the cause of the CPU consumption surge, after removing all the rateLimitRegistration (e.g., this [line](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/garbagecollector.go#L481)), the controller-manager's cpu usage of 500-gce dropped from ~0.8 to 0.32, which is even lower

[2016-08-19 23:29] bprashanth commented on #30990
Just size down to 0 in your test and wait out the rc, if that's what you really want. The scaler has a harder time because it doesn't know the target size, so it ends up doing things like this. If you're going to scale rapidly, do what deployment does, scale to X, wait for X pods, take action={scale again, delete etc}.

[2016-08-19 23:33] thockin commented on #30600
Last I looked it was not really viable for Go, and besides that is Java.

I think that is the only viable path

I have only the smallest smidgeon of sympathy.  If the choice is a clean build which runs slowly on Mac or a tangle of hacks upon hacks which is fast, well, my choice is clear.  But then, I am not a Mac user.

+10 - we should make it run "local" and tell people that they need to install

[2016-08-19 23:34] thockin commented on #30600
It would be great to EOL the vestigial hack/* scripts, but I am worried about all the blog posts that say to run `hack/build-go.sh`

[2016-08-19 23:38] david-mcmahon commented on #30600
Seems easy enough to have it either print out a message or just redirect to the new shiny thing.

[2016-08-19 23:42] thockin commented on #30600
That's what it does, but it is still litter.

On Fri, Aug 19, 2016 at 4:39 PM, David McMahon <notifications@github.com>
wrote:

[2016-08-19 23:42] ixdy commented on #30600
I'm planning to dedicate cycles towards improving the build situation, though I'm still getting up to speed on understanding how it all works. @jbeda @thockin @spxtr @MHBauer and other interested parties - should we do a hangout/zoom/something at some point to share knowledge and current state?

[2016-08-19 23:44] yujuhong commented on #29579
How do we handle the authentication between the apiserver and the shim process? Maybe we can ask the process to check the source IP of the request to ensure that it matches the apiserver's. @smarterclayton any suggestions?

[2016-08-19 23:45] thockin commented on #30600
happy to dump what I know.

On Fri, Aug 19, 2016 at 4:43 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-08-19 23:51] thockin commented on #19766
Is this fixed now?

[2016-08-19 23:57] k8s-merge-robot opened #31043 "[k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 35 pods with 0 interval [Benchmark] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/296/

Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 35 pods with 0 interval [Benchmark] {E2eNode Suite}

[code]

[2016-08-20 00:08] #5875 closed

[2016-08-20 00:10] pwittrock commented on #29679
@smarterclayton I believe the goal is that we have symmetric `view` commands for the `set` commands.  For instance, if a user performs a `kubectl set image nginx:3.0`, but wants to check the current image before changing it, we should provide a `kubectl view image` command.  Using jsonpath to parse out the image would require the user know the path to the image field and is not symmetric with the

[2016-08-20 00:12] thockin commented on #23722
fixed in 1.4!

[2016-08-20 00:12] #23722 closed

[2016-08-20 00:12] #18613 closed

[2016-08-20 00:15] thockin commented on #26663
fixed in 1.4

[2016-08-20 00:15] #26663 closed

[2016-08-20 00:34] AdoHe commented on #30970
@sshquack I tried to reproduce on 1.3.4 but with unluck:
[code]

[2016-08-20 00:35] AdoHe commented on #30970
@sshquack would you mind provide the full output of `kubectl get rs --output=json`

[2016-08-20 00:44] vishh commented on #29579
Without an Exec API, how would the kubelet invoke the injected binary
inside of the containers sandbox?

On Fri, Aug 19, 2016 at 4:45 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-20 01:11] smarterclayton commented on #29579
The previous discussion before would be that the shim would expose a
standard HTTP2 interface and would be started with a unique one time token
generated by the Kubelet.  The token would be returned to the master via a
response, or via a redirect.  There's a lot of open questions around "exec
sessions" which is why this needs a proper design.

Most CRI implementations can launch a process in a con

[2016-08-20 01:14] smarterclayton commented on #29679
Ok.

On Fri, Aug 19, 2016 at 8:10 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-08-20 01:27] #30573 closed

[2016-08-20 01:29] yazpik commented on #23535
Same errors here running Kubernetes 1.2 on Centos7,
[code]

[2016-08-20 01:32] fejta commented on #27444
Duplicate of https://github.com/kubernetes/contrib/issues/1522

[2016-08-20 01:32] #27444 closed

[2016-08-20 01:42] m1093782566 commented on #30952
@dchen1107 The pr is #30953

Would you please help to review this PR?

Thanks!

[2016-08-20 02:02] m1093782566 commented on #30220
#29888 has better solutions, I am going to close this issue and ready to do help.

THANKS ALL!

[2016-08-20 02:15] MikeSpreitzer commented on #31017
Sorry, I botched the description of the current behavior a little.  Or maybe it varies from release to release.  What I found in Kubernetes 1.3.5 is that the `ClusterFirst` behavior ignores the host's DNS client configuration and gives the pod only settings based on the kubelet arguments.  And regarding `--cluster-domain` the behavior is to set the pod's search list to `["default.svc.fubar", "svc.

[2016-08-20 02:45] smarterclayton commented on #30990
I suspect it's 0 because of "too old" errors.  Which once scale has been executed is unlikely to fail, so we may want to guard against that.

[2016-08-20 03:14] caesarxuchao commented on #30990
@smarterclayton sorry, could you explain more? I don't follow.

I'm going to take the RV from the response of the RC update and use it in the Watch.

[2016-08-20 03:42] Random-Liu commented on #30550
After #30476 merged, the following few tests still fail because of cadvisor pod got evicted:
[code]
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/298

[2016-08-20 03:45] Random-Liu commented on #30550
Besides this, there is another problem in serial suite. Currently, we have a **45min** timeout for node e2e test, which is too short for serial test.
This causes the test got stopped after 45min before finishing:
[code]
I'll send a PR to make the timeout configurable and set it longer for serial test.

[2016-08-20 04:06] smarterclayton commented on #30990
At one point someone probably started watching before scale was sent, so the resource version for the RC was <<< current index resulting in an etcd "watch index too old".  So the fix was to watch from zero (or we never had the RC).  Your suggested fix I think is correct.

[2016-08-20 06:27] roberthbailey commented on #21002
There isn't any update on this specific issue (as far as I know). However, the cluster lifecycle SIG is working on simplifying cluster bootstrapping, and part of that effort is to simplify addon management (which includes the logging addons).

Not on GKE. On GCE, it may be possible if you ssh into each node and tinker with the salt configuration, but there isn't a supported script that does it.

`

[2016-08-20 07:49] m1093782566 commented on #17981
/cc

[2016-08-20 08:13] sshquack commented on #30970
Hello @AdoHe Here are the outputs for the gets in plain text and json.

[code]

[code]

Noticed two interesting things:
- the issue can be reproduced only on the sort of `type-name` `rs`, and not on any other `type-name` like services, deployments, et al.
- the issue can be reproduced on any metadata field of the replica set like `kubectl get rs --sort-by=.metadata.name`.

[2016-08-20 09:42] jsafrane commented on #30775
From https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/15960/:

[code]

I'm on it.

[2016-08-20 09:44] bboreham commented on #19766
I apologise for leaving a somewhat vague answer, but I have been in that code recently. I don't think it's fixed.

[2016-08-20 09:54] nmquyet commented on #12337
@hiroshi My image does not run as root and get `operation not permitted` error. Is there any workaround for this problem?

[2016-08-20 10:04] k8s-merge-robot opened #31055 "[k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/7393/

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28416

[2016-08-20 10:38] johscheuer opened #31056 "Vagrant - Saltstack - Master don't come up"
Starting the vargant setup with `./cluster/kube-up.sh` results in the following error:

[code]

-> https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-controller-manager/kube-controller-manager.manifest#L82 is missing `+` after `" "`

And the Cluster is stuck at the validation step (doesn't come up).

[2016-08-20 11:17] #26731 closed

[2016-08-20 13:18] #30710 closed

[2016-08-20 13:42] jellonek commented on #30272
@timothysc the point is to keep workload ON particular node, without moving it around in time of maintenance, so `unschedulable` (on which i modeled my example implementation) is only a first step.
Once again - draining requires moving workloads out of the node. This proposal is based around on idea of keeping them untouched (what is needed by our customers).

[2016-08-20 14:46] brendandburns commented on #30192
@ash2k Yeah, this is a shortcoming in the current implementation.  I will try to get a PR to fix this up this weekend.

apologies.
--brendan

[2016-08-20 14:50] k8s-merge-robot opened #31058 "TestUpdateLabelToRemoveControllerRef {replicationcontroller}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16002/

Failed: TestUpdateLabelToRemoveControllerRef {replicationcontroller}

[code]

[2016-08-20 14:55] AdoHe commented on #30970
@sshquack as a workaround, I think you can use `kubectl get rs --sort-by=.metadata.name --output-version="extensions/v1beta1"`

[2016-08-20 15:21] AdoHe commented on #30970
The root cause is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get.go#L350), since the returned version is `v1`, the convert just failed, and the returned obj is nil, so we get this panic when sort objs. I think the convert is wrong, we should not use `mapping.ConvertToVersion` @kubernetes/kubectl

[2016-08-20 15:21] AdoHe commented on #31009
Seems like list jon doesn't respect label selector, will take a deep look.

[2016-08-20 16:17] k8s-merge-robot opened #31059 "[k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 30 pods with 50 background pods [Benchmark] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/313/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 30 pods with 50 background pods [Benchmark] {E2eNode Suite}

[code]

[2016-08-20 17:47] andrewstuart commented on #30716
So I have some thoughts here based on the "datacenter as a computer" and "k8s as a cloud OS" abstractions. I think *the* fundamental primitive that we're lacking is higher-level environment variables. So what I think would be most powerful here is the abstract concept of an `/etc/environment` that provides variables that can be interpolated for probably any sort of resource. This would be exactly

[2016-08-20 18:26] justinsb opened #31061 "AWS API making too many API calls on bigger clusters"
We have greatly reduced the API calls made by a cluster, but we are still making a DescribeInstances calls every time we query the routes, and this is not necessary.  Some users are reporting API RateLimit errors still on bigger clusters.

We should cache the mapping from instance-id to PrivateDnsName (both of which are immutable I believe)

[2016-08-20 19:19] #16036 closed

[2016-08-20 20:11] #31056 closed

[2016-08-20 20:22] jberkus commented on #30716
@andrewstuart I'm not seeing how this lets me drop a Pod IP into a config file in the container?

[2016-08-20 21:19] andrewstuart commented on #30716
Ah, sorry, I missed the example of dropping in the pod IP. I've never really had that particular issue, since the pod IP is already known to the process (that is, `ifconfig` or `ip addr` will return the pod IP).

Still, I think there's a growing problem in k8s of "kind" sprawl, so if we're proposing a templating solution, I'd rather see something generically applicable for any existing object, how

[2016-08-20 21:23] MikeSpreitzer opened #31062 "Empty ServiceAccount volumes when using Mesos"
BUG REPORT

**Kubernetes version** (use `kubectl version`): release 1.3.5

**Environment**:
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04
- **Kernel** (e.g. `uname -a`): 3.13.0-92-generic
- **Install tools**: ansible
- **Others**: Mesos 1.0.0-rc2 or 1.0.1-rc1; Docker 1.11.2

Create a cluster with Mesos and Kubernetes as a Mesos framew

[2016-08-20 21:34] Ulexus commented on #23790
FWIW:  [etcd-petset](https://github.com/CyCoreSystems/etcd-petset)  (does not conform to the parameters of this issue)

[2016-08-20 21:42] Ulexus commented on #23790
Added support for Secret-referenced cluster token.  Still needs a TLS-enabled version.

[2016-08-20 22:10] justinsb commented on #29587
You can run kube-up into an existing VPC, per @gellis01 's comment above.  If you do that, kube-down will not delete anything, because the VPC is not tagged, and in 1.3 it will warn you that it is not doing anything.

However, in general for these advanced use cases I'm starting to steer people on AWS towards kops - it's still early, but if you're pushing the limits of kube-up like this I think yo

[2016-08-20 22:10] #29587 closed

[2016-08-20 22:11] mwielgus opened #31063 "K8S-merge-bot applies wrong labels"
See: https://github.com/kubernetes/kubernetes/pull/29741

The pr has go source and is for the master branch. However the bot said it is not for master and applied retest-not-required-docs-only.

[code]

[2016-08-20 23:42] k8s-merge-robot opened #31065 "[k8s.io] Job should scale a job down {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30577/kubernetes-pull-build-test-e2e-gce/54998/

Failed: [k8s.io] Job should scale a job down {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30577.

Previous issues for this test: #29066 #30592

[2016-08-21 00:57] k8s-merge-robot opened #31066 "[k8s.io] Kubectl client [k8s.io] Kubectl taint should remove all the taints with the same key off a node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/21985/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl taint should remove all the taints with the same key off a node {Kubernetes e2e suite}

[code]

[2016-08-21 01:41] andrewstuart commented on #30716
On further thought, a `$(())` construct could be shorthand for a command that gets run in an init container which is basically just the kube* tools (most importantly kubectl) set up for in-cluster commands. This would be quite powerful and fit with the general that one can also run any OS command inside $() in a shell.

[2016-08-21 02:28] k82cn opened #31068 "[k8sm][Proposal] Algorithm enhancement on `k8sm-scheduler`"
In Mesos, there're 3 types of offer are sent to framework (k8s): reserved, normal & revocable resources. As a framework, it's better to let user/consumer to decide how to use those offers, e.g. the user may prefer to use reserved resources firstly.

cc @jdef

[2016-08-21 02:38] k82cn opened #31069 "[Proposal] Integrate Namespace/Quota with CloudProviders"
In Kubernetes, Namespace provide a way for multi-tenant; meanwhile, CloudProvide may provide similar features, e.g. Mesos. As a operator, I'd like to align those "multi-tenant" features; otherwise, I have to configure in CloudProvider, and then Kubernente, and align then manually :(.

[2016-08-21 03:24] MikeSpreitzer commented on #31062
Here is the relevant part of `docker inspect` output for an example pod:
[code]

And from the host's point of view, `/var/tmp/mesos/slaves/f7aa3868-ef12-4473-b727-6c5972faaf5a-S0/frameworks/f7aa3868-ef12-4473-b727-6c5972faaf5a-0001/executors/64853556076a8afb_k8sm-executor/runs/e985ac73-e34e-462d-910e-d149ff724d5f/pods/ad945c9c-674b-11e6-90b3-080027ea53f2/volumes/kubernetes.io~secret/default-token-

[2016-08-21 03:40] MikeSpreitzer commented on #31062
Here is an extract of the executor's log, starting at the first mention of that example container's ID and ending with the first iteration of a repeating pattern of complaints.
[extract.txt](https://github.com/kubernetes/kubernetes/files/428666/extract.txt)

[2016-08-21 04:13] justinsb commented on #31061
Update: this was actually with an older version of k8s (1.2).  We're going to try to reproduce it with a newer version.

We probably do make too many API calls, but most of them are around the route poller.  I have a prototype to introduce a "harmonized" instance cache, but in the absence of any real problems it should probably wait till 1.5

[2016-08-21 04:27] brendandburns commented on #30192
@ash2k quick note on this, they appear to be present in what is coming back from the server (e.g. via curl) but not what is returned via `kubectl get <foo> -o json`

I'm not sure why this is, I'll need to dig into it some more.

[2016-08-21 05:09] bprashanth commented on #23790
Oh, I wasn't even aware of etcd-petset, @ingvagabund and @lachie83 are working on a chart https://github.com/kubernetes/charts/pull/37 maybe there's room for collaboration

[2016-08-21 05:27] davidopp commented on #30972
I finally read the initial message. This isn't a bug. For some reason Kubelet started reporting NotReady. (That might be due to a bug, but it's not what you were asking about.) When a node has reported NotReady for more than 5 minutes, the node controller deletes all the pods except daemonset pods from the node's "intended state." That's why `kubectl describe node` showed that only daemonset pods

[2016-08-21 05:28] workhardcc commented on #30991
@AdoHe
I just use PATCH with `application/strategic-merge-patch+json`, command like:
 `curl -X PATCH -d  @update-probe2.json --header "Content-Type:application/strategic-merge-patch+json" https://10.1.1.1:443/apis/extensions/v1beta1/namespaces/default/deployments/deployment-health   --header "Authorization: Bearer dasdasdadadasdasdadasdasdasc"  -k`

update-probe2.json like below:
configuration A：

[2016-08-21 05:31] cben commented on #29534
- Confirmed working on F24 with go 1.7 installed by travis-ci/gimme.

- However golang-1.7-0.1.rc2.fc25.x86_64 package from rawhide:
[code]
  fails with same `undefined: elliptic.P224` error.

  * It did compile, apparently works, passes `make test` with the patch from https://bugzilla.redhat.com/show_bug.cgi?id=1038683#c21 to vendor/github.com/google/certificate-transparency/go/x509/x509.go

[2016-08-21 06:39] AdoHe commented on #31009
@jmccarty3 Thanks for reporting this, the root cause here is job label generation problem.

[2016-08-21 06:43] AdoHe commented on #31009
@smarterclayton @lavalamp I dig into this issue, and just found no matter we set `manualSelector` or not, we will not set `job.ObjectMeta.Labels`, this is empty. but label query will just use this value and do the match. I think this is a bug of job label generation, we should fix it, wdyt?

[2016-08-21 07:38] AdoHe commented on #30192
@brendandburns I think the root cause would be the conversion we did in kubectl.

[2016-08-21 07:44] #26424 closed

[2016-08-21 08:59] k8s-merge-robot opened #31070 "[k8s.io] V1Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13759/

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]

Previous issues for this test: #27704 #30127 #30602

[2016-08-21 09:15] andyxning commented on #168
Allowing memory limit over-commiting may cause unpredicatable process killing by triggering kernel OOM killers.

I have run a program which allocate 50GB memory in a pod whose memory limit is 118GB on a node with 64GB. when the program is running for several seconds, it is oom killed and i can get the oom killer log in `/var/log/syslog`.

[2016-08-21 09:45] mwielgus opened #31071 "Federation-up.sh fails with an odd error if kube-apiserver files are not there."
It looks for a file called "*". There should be an if checking if any kubernetes api server is register and the error message should explain what to do to get the missing file.

cc: @kubernetes/sig-cluster-federation

[code]

[2016-08-21 09:50] mwielgus opened #31072 "Federation admin doc should mention about FEDERATION=true needed in kube-up.sh"
Or describe what to do to get the required configs in place.

Link: http://kubernetes.io/docs/admin/federation/

Currently it only says:

[code]

[code]

If the required config is not there the set up process ends up with #31071.

cc: @kubernetes/sig-cluster-federation

[2016-08-21 10:02] mwielgus opened #31073 "Kubectl get clusters output is missaligned"
[code]
cc : @kubernetes/sig-cluster-federation

[2016-08-21 10:07] #26986 closed

[2016-08-21 10:13] mwielgus opened #31074 "Federated api server should validate cluster api server address"
Currently it is possible to pass just an IP address without any schema/port information (no https://) which leads to connectivity problems.

Also http://kubernetes.io/docs/admin/federation/ should give an example of valid cluster object and tell to include the schema .

Ideally, if FEDERATION=true is passed to kube-up.sh the corresponding cluster.yaml file should be generated automatically.

cc: @

[2016-08-21 11:19] k8s-merge-robot opened #31075 "[k8s.io] Deployment RollingUpdateDeployment should delete old pods and create new ones {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13766/

Failed: [k8s.io] Deployment RollingUpdateDeployment should delete old pods and create new ones {Kubernetes e2e suite}

[code]

[2016-08-21 11:49] mwielgus opened #31077 "DeleteOptions doesn't work from kubectl to federated controllers"
[code]
cc: @nikhiljindal @quinton-hoole @kubernetes/sig-cluster-federation

[2016-08-21 11:55] mwielgus opened #31078 "Federated controllers should always pull the newest image"
Currently it set to IfNotPresent that causes troubles during development - you have to either create a new image every time you push a new version or manually remove the old one from ALL cluster nodes. Otherwise the old version is run, despite the new version available.

Also, any mis-push during release process can be quite problematic.

cc: @quinton-hoole @nikhiljindal @kubernetes/sig-cluster-fe

[2016-08-21 12:09] k8s-merge-robot opened #31079 "TestWatchFromZeroAndNoneZero {etcd3}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16041/

Failed: TestWatchFromZeroAndNoneZero {etcd3}

[code]

[2016-08-21 12:18] AdoHe commented on #31073
The root cause is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L937). Some small mistakes and just not found during review.

[2016-08-21 13:23] ash2k commented on #30192
@brendandburns I was actually testing this via browser, not via kubectl. Maybe behaviour is different in master, the output above is from 1.3.3. Just double checked - same via browser and via kubectl

[code]

[2016-08-21 15:03] tksm opened #31081 "LRUExpireCache#Get requires write lock"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "LRUExpireCache"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

[2016-08-21 16:49] #28544 closed

[2016-08-21 18:36] liggitt commented on #30947
dupe of #30775

[2016-08-21 18:36] #30947 closed

[2016-08-21 18:38] brendandburns commented on #30192
I was testing at head, so perhaps it was a recent fix.

--brendan

________________________________
From: Mikhail Mazurskiy <notifications@github.com>
Sent: Sunday, August 21, 2016 6:24:04 AM
To: kubernetes/kubernetes
Cc: Brendan Burns; Mention
Subject: Re: [kubernetes/kubernetes] Third Party Resources list has empty metadata (#30192)

@brendandburns<https://github.com/brendandburns> I was actuall

[2016-08-21 18:49] k8s-merge-robot opened #31083 "TestWatch {etcd3}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16053/

Failed: TestWatch {etcd3}

[code]

[2016-08-21 19:41] Ulexus commented on #23790
@bprashanth Mine is intentionally merely a stripped down proof-of-concept I threw together yesterday.  You're certainly welcome to use anything from it, but looking over the one you reference, I doubt you'll find anything novel.  I only made it because I couldn't find anything else.  I _should_ have thought to look toward Helm!

[2016-08-21 19:42] #30252 closed

[2016-08-21 20:19] #30260 closed

[2016-08-21 20:35] treed commented on #30260
Thanks for the quick turnaround on this!

[2016-08-21 21:04] #30493 closed

[2016-08-21 21:19] k8s-merge-robot opened #31085 "[k8s.io] Services should preserve source pod IP for traffic thru service cluster IP {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30739/kubernetes-pull-build-test-e2e-gce/55092/

Failed: [k8s.io] Services should preserve source pod IP for traffic thru service cluster IP {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30739.

[2016-08-21 21:31] MrHohn commented on #31085
Sorry, it is a new e2e test I am still working on. It is not merged yet.

[2016-08-21 21:32] spxtr commented on #31085
Don't worry about it, our flake detection isn't quite perfect yet :)

[2016-08-21 21:42] #30775 closed

[2016-08-21 22:11] davidopp commented on #29292
Yes, I think @roberthbailey and I are basically agreeing, the only difference is whether the VM shutdown script calls into the API server or the MIG resizer calls into the API server.

[2016-08-21 22:31] davidopp commented on #30272
I think taints and tolerations are the right solution here. This is exactly #1574 which @bgrant0607 mentioned. The idea is that we would replace the current node controller behavior of evicting pods when it hasn't heard from a node in a certain amount of time, with having it add a taint when it hasn't heard from a node in a certain amount of time. Separate logic in the node controller would evict

[2016-08-21 22:47] itajaja commented on #25238
@bgrant0607 I am not noticing this. It seems when I `apply` the replica number is set to 0 if I don't specify the number in the file

[2016-08-22 00:09] AdoHe commented on #30946
This has been fixed in #30950, feel free to close this one.

[2016-08-22 01:29] hiroshi commented on #12337
@nmquyet It seems that permission issues are off-topic here, I'm afraid
Go on at stackoverflow maybe suitable.
http://stackoverflow.com/questions/37166822/is-it-a-way-to-add-arbitrary-record-to-kube-dns

[2016-08-22 02:01] nikhiljindal commented on #31077
@mwielgus How do I reproduce that error?
I see that our federation tests are all passing: https://k8s-testgrid.appspot.com/google-gce#gce-federation

[2016-08-22 02:21] zhouhaibing089 commented on #30603
@erictune IIUC, the imagereview concept is something that verifies images on the fly, that's to say, the images need not to be pulled firstly.

CI generally creates many intermediate builds, It would be unexpected to run those images, if I want to strictly separate them, then I have to push intermediate builds and release build to different repositories, and only this way, I can say only images fr

[2016-08-22 02:27] zhouhaibing089 commented on #30603
@nhlfr I partly agree with your idea.

Just to compare with Openstack, libvirt does not necessary care about all the image verification, I think it is true for docker as well. Docker content trust enables some verification to say docker daemon would only run the images with the correct signature, it is something common, but let's say image signing, I do not think docker community would support thi

[2016-08-22 02:37] justinsb opened #31088 "volume controller not handling terminated node"
When I terminated a node with volumes attached, the volume was not detached, because the volume controller was still looking for the instance:

[code]

and that repeats forever (?):

[code]

[2016-08-22 02:37] justinsb commented on #31088
cc @saad-ali

[2016-08-22 02:37] justinsb commented on #31088
[code]

[2016-08-22 03:00] justinsb commented on #29324
I think I know what is happening here...

* A user reported that this was happening also with just awsElasticBlockStore volumes.  They provided me an extract of their logs.  (Thanks Fairfax!)
* In the logs, we saw ~5 volumes being assigned to a single instance at the same time, and all 5 of them were allocated the _same_ device (within a very small time interval).
* This is supposed to be impossib

[2016-08-22 03:24] bpatelcs commented on #30292
@vishh

[2016-08-22 03:45] #26661 closed

[2016-08-22 03:46] justinsb commented on #29324
Just put up an experimental fix - haven't tested it even compiles yet.  But thought I would get the ball rolling on how I think we should fix this!

[2016-08-22 03:48] alfred-huangjian commented on #23896
/cc @kubernetes/huawei

[2016-08-22 04:11] chengzhang1016 commented on #28105
@kargakis
Hi Kargakis,
Thanks for your response. Could you give me the answer for below questions:
What is the minimum? Is it (maxSurge + maxUnavailable)?
Why we need minimum to limit replicas of rs?

[2016-08-22 04:15] fraenkel commented on #29698
It seems the client 1.4 generated code didn't carry over a completed ScaleExpansion interface. Just want to make sure we are ok with a slight imbalance with client API usage between unversioned and 1.4.

[2016-08-22 04:29] #30792 closed

[2016-08-22 05:04] nikhiljindal commented on #29698
That seems like a bug.
I see that both [unversioned](https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/pkg/client/clientset_generated/internalclientset/typed/extensions/unversioned/scale_expansion.go#L26) and [release_1_3](https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/pkg/client/clientset_generated/release_1_3/typed/exte

[2016-08-22 05:21] nikhiljindal commented on #31077
fwiw, here is one place where we use DeleteOptions with federation client set and it works fine: https://github.com/kubernetes/kubernetes/blob/6b333d1f82e366c5903202def99383db1b5b2d02/test/e2e/federation-apiserver.go#L47.

[2016-08-22 05:24] abhism opened #31092 "The pods i am working with are being managed by kubernetes. When I use the docker restart command to restart a pod, sometimes the pod gets a new id and sometimes the old one. When the pod gets a new id, its state first goes friom running ->error->crashloopbackoff. Can anyone please tell me why is this happening"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-08-22 05:31] caesarxuchao commented on #29698
That's a bug. The expansion files need to be manually copied. I'll find time to automate the process next month. Feel free to grab it and send a PR.

But kubectl does not use the generated clientset, does it?

[2016-08-22 05:47] nhlfr commented on #30298
Umm... I didn't realize that kubectl has already a `run` command, d'oh... I'll go with `simpleexec`. I don't have any better idea for now, but I'm open for suggestions. ;)

[2016-08-22 05:47] petetnt commented on #31007
FWIW I am also seeing similar kinds of errors in a AWS hosted cluster

[code]

[2016-08-22 06:04] yueyemaitian commented on #10466
I modified utuntu/util.sh, and get 'Cluster validation succeeded'
First add -f for all cp commands, like this: cp ~/kube/default/* /etc/default/  ===> cp -f ~/kube/default/* /etc/default/
Then rerun ./kube-up.sh, you will encounter "start: Job is already running: etcd"
Then Modified utuntu/util.sh, change 'service XXX start' to 'service XXX restart' , and run kube-up.sh
You'll get the success mess

[2016-08-22 06:08] Random-Liu commented on #31092
This is expected behavior.

When restarting a container, kubelet will kill the old one and start a new one instead of using docker restart. Kubelet doesn't use docker restart because of several reasons (docker restart won't preserve previous container exit status etc.).

When you use docker restart and the container id is changed, kubelet can't find current running container by id, thus thinks tha

[2016-08-22 06:09] sshquack commented on #30970
Thanks @AdoHe! Appending `--output-version="extensions/v1beta1"` like you mentioned did the trick! Looking forward to the proper fix.

[2016-08-22 06:11] thockin commented on #12337
As of right now there is not a workaround for this.  We will be adding
"external name" (CNAME) services in v1.4, which might help.  I would be
open to entertaining community proposals on how to expose something like
this.  The basic support exists in docker, but the API is all-important.

[2016-08-22 06:39] abhism commented on #31092
@Random-Liu But what about when the pod restarts with the same ID?

[2016-08-22 07:10] thockin commented on #19766
@freehan @mrhohn

On Sat, Aug 20, 2016 at 2:44 AM, Bryan Boreham <notifications@github.com>
wrote:

[2016-08-22 07:46] kargakis commented on #28105
The minimum of what?

The deployment needs to maintain minimum availability (d.spec.replicas - maxUnavailable) at all times.

[2016-08-22 08:02] wojtek-t commented on #30871
OK - retitling it to investigate the increase.

[2016-08-22 08:10] nebril commented on #30716
@andrewstuart: I think the intention is to have a nice way for declarative definitions of configuration files which may need data from Downward API (so that you don't have to whip up your own way of interpolating them using init scripts or init containers with volumes shared between init container and main container).

The goal is to consume values provided by Downward API/Secrets/other ConfigMaps

[2016-08-22 08:24] wojtek-t commented on #30873
Actually, it seems that:
- #30985  and
- fixing https://github.com/kubernetes/kubernetes/issues/30975
solved the problem in our tests.

So I'm closing this issue (at least for now).

[2016-08-22 08:24] #30873 closed

[2016-08-22 08:37] resouer commented on #28687
Thanks , @mikedanese Did you already send PR for this? I'd like to track it.

[2016-08-22 08:53] k8s-merge-robot opened #31097 "[k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods [Benchmark] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/356/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods [Benchmark] {E2eNode Suite}

[code]

[2016-08-22 08:54] jsafrane commented on #30754
integration/persistentvolumes compiles just fine, there must be something odd in the test infrastructure. And from the logs I have no clue what could it be.

[2016-08-22 09:02] mdshuai opened #31098 "Petset can't create new pod on other node when pod is evicted"
**Description of problem**
Create a petset, when pod is evicted, the petset can't create a new pod on other node and make sure pod is running.

**Kubernetes version** (use `kubectl version`):
v1.4.0-alpha.2.1427+5b6e1c37c66098

**How to reproduce it** (as minimally and precisely as possible):
1. Config kubele eviction-hard="memory.available<${value}"
2. Create a peset and wait all pod is running
3

[2016-08-22 09:27] mdshuai commented on #31098
Also when node come back with sufficient memory, petset can't make pod running again.

[2016-08-22 09:50] #30275 closed

[2016-08-22 09:51] errordeveloper commented on #30961
It'd also help if you could specify which guide are referring to.

[2016-08-22 09:55] Quentin-M opened #31100 "rkt: Support privileged pods"
Since rkt 1.13, more specifically https://github.com/coreos/rkt/pull/2983, it is possible to run pods with security opt-outs, a.k.a. _privileged_ pods, using the new `--insecure-options={capabilities,paths,seccomp,all-run}` command-line parameters.

Currently, Kubelet sets all caps to rkt containers when `v1.SecurityContext.Privileged` is used. Instead, the kubelet should use `--insecure-options=a

[2016-08-22 10:03] k8s-merge-robot opened #31101 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5154/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275

[2016-08-22 10:05] jellonek commented on #30272
I can agree with that. Taints and tolerations can cover wider perspective including interesting us upgradability improvement.

@pigmej, @rustyrobot - what do You think about this? IMO we could participate in providing this full implementation.

[2016-08-22 11:14] fraenkel commented on #29698
@caesarxuchao No it doesn't. Just wanted to make sure there wasn't some other reason for it being missing. I will do a separate PR to get that over in 1.4

[2016-08-22 11:24] wojtek-t commented on #30990
I agree that the fix is correct, however, I'm not 100% convinced that this is a real issue.
In all failed test runs that I've seen, the RC for which deletion we were waiting had 0 replicas only on startup which happened minutes before we were deleting it (e.g. 5 minutes before). That said, I really don't believe that "List" was returning element from 5 minutes ago.

That said - I agree that what y

[2016-08-22 11:33] wojtek-t commented on #31101
Fixed by https://github.com/kubernetes/kubernetes/pull/31094

[2016-08-22 11:33] #31101 closed

[2016-08-22 11:33] pigmej commented on #30272
Yeah, for sure, sounds ok.

[2016-08-22 11:43] k8s-merge-robot opened #31105 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/10290/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101

[2016-08-22 12:16] gaord commented on #25281
It looks like what I encountered couple days on calico with kubernetes. I am bootstrapping my k8s cluster with static pods of etched, apiserver, scheduler etc with calico configure as cni. I  see similar error:
`8月 22 19:25:27 dscn1 kubelet[6022]: E0822 19:25:27.673132    6022 docker_manager.go:345] NetworkPlugin cni failed on the status hook for pod 'etcd-server-dscn1' - Unexpected command output

[2016-08-22 12:27] anioool commented on #30854
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.3", GitCommit:"882d296a99218da8f6b2a340eb0e81c69e66ecc7", GitTreeState:"clean"}

[2016-08-22 12:29] pigmej commented on #30272
@davidopp so we ( @kubernetes/mirantis ) will try to solve this problem in a way that you described it. Is there something more that we should be aware of? Do you have some more hints?

[2016-08-22 12:29] wojtek-t opened #31108 "Heapster in kubemark is crash-looping"
Heapster in Kubemark is crashlooping with the following stacktrace:
[code]

@piosz @gmarek
This seems to be configuration/test issue, but we should fix it.

[2016-08-22 12:32] mwielgus commented on #31077
This is easy to reproduce. Create a federated namespace and try to delete it.

[2016-08-22 13:21] obeattie commented on #23812
This is definitely an issue in 1.3. I see `iptables-restore` on all my nodes very frequently, and I can see the elected masters causing an endpoint update every second.

[2016-08-22 13:23] wernight commented on #24745
Ok I finally manager to test most of it. Here are important issues/knowledge in the process:

- Q: Can it be something else than as RC (from https://github.com/kubernetes/contrib/tree/master/ingress/controllers and on https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx it says `ReplicationController or Daemonset`)? \
 A: **Yes** can be a Deployment or any other mean to crea

[2016-08-22 13:28] piosz commented on #31108
The version should be updated to `heapster-v1.2.0-beta.1`

[2016-08-22 13:41] kargakis commented on #31083
One more instance - albeit different unit test:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30858/kubernetes-pull-test-unit-integration/41156/

[2016-08-22 14:07] timothysc commented on #30873
@wojtek-t looked at the fixes for this and they seem weirdly brittle.

I think we should aim to fix the http2 blockers in next cycle.

[2016-08-22 14:10] wojtek-t commented on #30873
@wojtek-t looked at the fixes for this and they seem weirdly brittle.

Why? The one that is increasing size of the channel is expected that it will help, because before it required synchronization.
The latter with 429 errors is also expected, if 429 errors is happening suddenly load on apiserver dramatically increases, because we are doing full handshakes, which is overloading apiserver more and m

[2016-08-22 14:11] jsafrane commented on #30897
I like it this way. Can we all agree on this for Ceph and Gluster provisioning?
Please note #30986 - this secret needs to be present forever, volume plugins will need these credentials also to delete PVs.

@saad-ali @thockin

[2016-08-22 14:14] smarterclayton commented on #30298
Not sure what that has to do with it?

[2016-08-22 14:17] ksoftirqd opened #31118 "Failure to delete openstack Load Balancer v1"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`): v1.3.2

**Environment**:
- **Cloud provider or hardware configuration**: openstack
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04
- **Kernel** (e.g. `uname -a`): 3.13.0-71-generic
- **Install tools**: ansible
- **Others**: lbaas v1

**What happened**:
When LBaaS v1 is used, after service delete request, kubernetes fails to delete

[2016-08-22 14:28] drngsl opened #31119 "hack/local-up-cluster.sh failed"
kubernetes branch: master

Log:
`root@k8s-build:/opt/github/kubernetes# ./hack/local-up-cluster.sh
make: Entering directory `/opt/github/kubernetes'
make[1]: Entering directory `/opt/github/kubernetes'
make[1]: Leaving directory `/opt/github/kubernetes'
make[1]: Entering directory `/opt/github/kubernetes'
+++ [0822 10:20:37] Generating bindata:
    /opt/github/kubernetes/test/e2e/framework/gobinda

[2016-08-22 14:29] timothysc commented on #30875
Closing from #30976

[2016-08-22 14:29] #30875 closed

[2016-08-22 14:32] k8s-merge-robot opened #31120 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/3163/

Run so broken it didn't make JUnit output!

[2016-08-22 14:32] k8s-merge-robot opened #31121 "download_gcloud {PRE-SETUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/8728/

Failed: download_gcloud {PRE-SETUP}

[code]

[2016-08-22 14:36] kargakis commented on #31121
@ixdy who should own this issue?

[2016-08-22 14:38] andrewstuart commented on #30716
Well I understand that's the scope of the original proposal.

What I'd ask, though, is whether there's a more orthogonal  and more loosely coupled way to apply the template concept than proliferation of resource types (the path we're on now leads to *Template types).

I'm not saying my proposal is the only way, but I'd like to see a composable, familiar (to our users) way of applying data across m

[2016-08-22 14:44] timothysc commented on #30871
We are also seeing this... and will be collecting profiles later today.

/cc @smarterclayton

[2016-08-22 14:50] untoreh opened #31123 "sleeping daemonset pods on master node after restart"
[code]

Sometimes after reboot pods scheduled from a daemonset do not run  on the master node.

[code]

[code]

no containers are created

[code]

before json manifest dump

[code]

end of the json manifest dump that shows node selector fails (still with `grep ceph-daemon-1`)

[code]

deleting the orphaned pod manually is enough to reschedule and run another one successfully
`kubectl delete pods c

[2016-08-22 15:03] dims commented on #31119
@drngsl Please see the output, it's asking you to run `go get -u github.com/jteeuwen/go-bindata/go-bindata` before running `./hack/local-up-cluster.sh`

[2016-08-22 15:04] justinsb opened #31124 "Label validation is using inefficient regexes"
According to #30875 (and https://github.com/kubernetes/kubernetes/pull/30976#issuecomment-241437378), we are spending a lot of time in regex validation.  While #30976 bypassed validation for the case where the labels should already have been validated, we should also look at replacing inefficient regexes with something that does not consume 20% of CPU time :-)

I thought the go regex implementatio

[2016-08-22 15:08] timothysc commented on #23812
We should try to filter updates to the proxy when the only change is an annotation that it's not watching.  This seems to be an unintended consequence of leveraging endpoints.

[2016-08-22 15:09] timothysc commented on #26637
We should try to filter updates to the proxy when the only change is an annotation that it's not watching. This seems to be an unintended consequence of leveraging endpoints.

[2016-08-22 15:12] m1093782566 commented on #30977
Fixed. I am going to close this issue.

[2016-08-22 15:12] #30977 closed

[2016-08-22 15:27] justinsb commented on #31007
@mfanjie @bprashanth do you understand this error? I poked around the code but can't see where it is coming from?  Will it be resolved by #25189 in 1.4?  And is there something we can backport, and is it important?

So many questions :-)

[2016-08-22 15:30] dims commented on #31124
@justinsb possibly this is the cause? https://github.com/golang/go/issues/13288

[2016-08-22 15:57] justinsb opened #31127 "AWS: Add logging line for #30695"
Per https://github.com/kubernetes/kubernetes/pull/30695#issuecomment-241137934

For smooth operations, we want to know if this is happening in prod.

cc @krancour

[2016-08-22 15:59] justinsb commented on #31127
Also I wonder if the `beta` bit in the annotations adds value, vs just documenting it as a beta feature

[2016-08-22 16:02] mqliang opened #31128 "Proposal: use ipset in kube-proxy to improve readability and performance"
Copy from http://ipset.netfilter.org/:

Seems that ipset is much more suitable than iptables in kube-proxy use case.

@bprashanth @kubernetes/sig-network

[2016-08-22 16:15] rootfs opened #31129 "hack/update-api-reference-docs.sh is not consistent with hack/verify-api-reference-docs.sh"
`hack/update-api-reference-docs.sh` filtered timestamp but `hack/verify-api-reference-docs.sh` doesn't. This causes a false positive happens.

[2016-08-22 16:16] nhlfr commented on #30298
After implementing the "simplier exec" API subresource, we will need to create kubectl cmd for it. Since we already have a cmd called "run", then calling the subresource "run" doesn't make much sense.

[2016-08-22 16:16] dcowden commented on #24677
Does anyone have a notion of what Kubernetes release this might be targeted for? It doesnt appear to be slated for any release, but I can't imagine that anyone running at scale doesn't need it.

[2016-08-22 16:20] dchen1107 commented on #31021
cc/ @tmrts

[2016-08-22 16:32] dims commented on #30795
Looks like this can be closed now. right @saad-ali ?

[2016-08-22 16:35] bgrant0607 commented on #30819
@lavalamp @erictune Yes, annotations can be written via the status subresource endpoint.

[2016-08-22 16:35] thockin commented on #31128
yes, it was left as an avenue for optimization

On Mon, Aug 22, 2016 at 9:03 AM, Liang Mingqiang <notifications@github.com>
wrote:

[2016-08-22 16:35] Eyjafjallajokull opened #31130 "`kubectl rollout status` does not print actual deployment status"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: aws ec2

**What happened**:
I only need one replica for my application, but I also want to have zero downtime deployment. I have written following spec:
[code]
Deployment works as expected:

1. there is always 1 pod available
2. when deploy is triggered, then the second pod is c

[2016-08-22 16:42] k8s-merge-robot opened #31131 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16089/

Run so broken it didn't make JUnit output!

[2016-08-22 16:45] thockin commented on #30897
I think this is a good way to start.  If we decide we need more formal
structure we can add it later.  We start with freedom since parameters are,
by definition, context sensitive.

On Mon, Aug 22, 2016 at 7:12 AM, Jan Šafránek <notifications@github.com>
wrote:

[2016-08-22 16:53] timothysc opened #31132 "Build etcd/storage into the api-server, simplify the deployment."
A long time ago we proposed the notion of building etcd directly into the api-server, but for some time the main detractors have been "flexibility of deployment", or the notion that as some point in time we may want to horizontally auto-scale the api-server.

This idea[HPA-api-server], which has never panned out I might add, has come at a **huge cost**.  Today we hold several layers of caching in

[2016-08-22 16:57] 2opremio opened #31133 "AWS: S3 buckets publicly accessible and wrong permissions in template"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): s3, bucket, permissions

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose on

[2016-08-22 17:01] 2opremio commented on #31133
I think @k8s-merge-robot got it wrong :) This is not really related to kubectl.

[2016-08-22 17:01] bgrant0607 commented on #30819
@smarterclayton @thockin @lavalamp @erictune @dchen1107 @timstclair @davidopp

Several of the reasons why we started to use annotations in this way are mentioned in this issue, and a number of them have both advantages and disadvantages:

* Don't appear in Swagger or documentation. We could develop another mechanism (see #4855) to achieve this for features we're not ready to advertise widely, such

[2016-08-22 17:03] smarterclayton commented on #30298
Why would we implement a simpler command for it?

On Mon, Aug 22, 2016 at 12:16 PM, Michal Rostecki <notifications@github.com>
wrote:

[2016-08-22 17:05] bgrant0607 commented on #30822
ref #4855

[2016-08-22 17:05] smarterclayton commented on #30298
The command would be exec, we might add a flag for simpler behavior
(because it would be a regression to start using this for exec because it
joins stdout and stderr).   I don't like not multiplexing the output (it's
inconsistent) but it is also simpler.

On Mon, Aug 22, 2016 at 1:03 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-08-22 17:10] xingzhou opened #31134 ""kubectl logs" reports "__kubectl_namespace_flag" error while using bash completion."
While doing ticket #25287 , found two issues.
The first issue is that if create a pod and query the logs with the following command:
[code]
the command will print error like ```method __kubectl_namespace_flag not found```.
I think the old method ```__kubectl_namespace_flag``` has already been renamed to ```__kubectl_override_flags``` in this [commit #23830](https://github.com/kubernetes/kubernetes

[2016-08-22 17:11] ConnorDoyle commented on #25321
xref PR #31033

[2016-08-22 17:13] ScubaDrew commented on #31002
When a master node reboots it extracts the add-on yaml files from the kubernetes-salt.tar.gz file. Any updated yamls are replaced with the files contained in the tar.gz file. This seems contradictory to the documentation referened above.

[2016-08-22 17:18] dims commented on #30298
@nhlfr agree with @smarterclayton - in fact can we see if we can get the curl command printed currently working somehow (detect that the http client cannot upgrade) Please see https://github.com/kubernetes/kubernetes/issues/24668

[2016-08-22 17:24] bprashanth commented on #31007
The `cachedService` object it's complaining about is a an internal construct that doesn't have a metadata field. The normal key lookup functions rely on api objects having an embedded `ObjectMeta` that they can grab the ns/name key from. It looks like we were/are(?) trying to store/retrieve a cachedService into a store that has a keyfunc that constructs the key from the objectMeta as described (eg

[2016-08-22 17:30] alph486 commented on #31007
@bprashanth There is another issue (unclear how related it is): https://github.com/kubernetes/kubernetes/issues/30917 . The reproduction steps there should get this error. Its not the best set of steps.. Its just what I did in my stack before I started seeing the error. But its a start.

[2016-08-22 17:32] surajssd commented on #30908
@thockin I would like to work on this, I am new to k8s so might be a good starting point!

[2016-08-22 17:32] yujuhong commented on #31092
@abhism there is already a stackoverflow question for this. Please move the discussion there as this is not a bug in kubernetes: http://stackoverflow.com/questions/39071922/kubernetes-pods-are-restarting-with-new-id

[2016-08-22 17:32] #31092 closed

[2016-08-22 17:38] smarterclayton commented on #30716
We are really trying to avoid introducing new types without a clear example
of challenges with the current approach and a very clear path forward.  The
bar is really high.

As far as init containers, you can craft arbitrary code in an init
container.

For instance, imagine an image called "templatizer" that takes a single
argument (a template string), and a destination directory.  The init
contain

[2016-08-22 17:42] euank commented on #31100
cc @kubernetes/sig-rktnetes I think we were going to work on that this week, thanks for filing the issue!

[2016-08-22 17:45] jingxu97 opened #31137 "Refactor mount related code"
A few places related to volume mount needs to be refactored
1. TearDown() function in different attachers including gce, aws, cinder (cinder needs refactor in TearDown) are identical. Also UnmountPath in /pkg/volume/util has the same code. Should consolidate them together
2. Functions including IsLikelyNotMountPoint(), DeviceOpened(), PathIsDevice() does not need mounter interface at all. They sho

[2016-08-22 17:47] smarterclayton commented on #30298
A fallback would definitely be a good place to start, although not having
upgradable requests is not really supported today, so we'd still have to
deal with that.

On Mon, Aug 22, 2016 at 1:18 PM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-08-22 18:01] nikhiljindal commented on #31077
ok. Am trying to create and delete a federation namespace in https://github.com/kubernetes/kubernetes/pull/31139. Will see if I get an error.

[2016-08-22 18:09] krancour commented on #31127
fwiw, the annotations I chose were selected for parity with convention already in use for annotations defining other ELB properties: e.g. `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol`

But I agree it's worth questioning whether, across the board, "beta" shouldn't appear in those annotation names.

[2016-08-22 18:09] jberkus commented on #30716
@smarterclayton

Just to reiterate: my overall goal here is to eliminate 90% of entrypoint.sh scripts, or at the least to reduce them to < 10 lines.  I don't, ultimately, care *how* we do this as long as it's something I can teach in 20 minutes.  Also, that I'll work on documenting the steps for an init container (and why there are too many of them) after LinuxCon.

I think the general concept of

[2016-08-22 18:11] bprashanth commented on #30292
yeah, local storage dynamic provisioning coming soon: https://github.com/kubernetes/kubernetes/pull/30044
there is right now, if you hand provision your pvs eg: https://github.com/kubernetes/kubernetes/issues/27732#issue-161314678

[2016-08-22 18:14] baldeynz commented on #31021
have a work around in place for this now. I have deleted the incorrect symlink and added this in the kubelet.service file

ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=/usr/bin/chmod 777 /var/log/containers
Environment="RKT_OPTS=--volume var-log,kind=host,source=/var/log --mount volume=var-log,target=/var/log"

[2016-08-22 18:25] lachie83 opened #31142 "FEAT GKE Specify Kubernetes install version"
Please allow the installation version of Kubernetes to be specified upon cluster create via the console and gcloud tool.

Current behavior is to provision the latest stable then downgrad which isn't always desirable. Also you can only downgrade the nodes NOT the master.

Example command

[code]

[2016-08-22 18:26] tmrts commented on #24677
@dcowden I just started working on it, but I don't think there has been any effort to schedule this

[2016-08-22 18:32] smarterclayton commented on #30716
Yes, entrypoint.shs should be simple or not needed to exist.  Init
container and downward API and env var substitution for command and args
(simple env var templating) were the first parts of it.  Having someone
help drive to that goal via a set of targeted features is something we very
much want to enable.

On Mon, Aug 22, 2016 at 2:09 PM, Josh Berkus <notifications@github.com>
wrote:

[2016-08-22 18:33] tmrts commented on #31021
cc @aaronlevy @euank

[2016-08-22 18:35] coufon opened #31143 "Accurate measurement of pod startup latency"
In the current density tests pod startup latency is measured as the duration from creating pods in test to observing pods running at apiserver. The problem is that when we create a large number of pods, the additional latency caused by Kubelet QPS limit (default 5) is very large. As a result, we can not see the actual kubelet performance from the test, and we report a under-estimated node performa

[2016-08-22 18:36] wojtek-t commented on #30759
Yeah - I think lower cpu usage is also due to other optimization done over last few days.

Anyway - kubemark-scale is generally back to green. So I'm closing this issue.

Thanks a lot for help with that!

[2016-08-22 18:36] #30759 closed

[2016-08-22 18:38] caesarxuchao commented on #30759
Yeah, that podnamespace interface PR must have helped.

[2016-08-22 18:39] coufon commented on #31143
@dchen1107

[2016-08-22 18:45] yujuhong commented on #31143
I think option (1) is sufficient for node performance tests, since the conservative QPS limit is usually set for larger clusters, and is not that meaningful in a node-centric test.
On the other hand, option (2) or (3) will be more useful in a cluster performance test.

[2016-08-22 18:48] fejta commented on #30978
@rmmh any idea why this didn't get assigned to anyone?

[2016-08-22 18:50] fejta commented on #30462
@spxtr did switching off highcpu instances resolve this issue?

[2016-08-22 18:52] fejta commented on #30303
Cluster failed to start:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/14127/

[code]

[2016-08-22 18:52] yujuhong commented on #30978
@fejta If you see the history, I un-assigned @janetkuo because she had nothing to do with this test. I don't know if the the issue is supposed to be automatic assigned again.
By the way, this issue is a duplicate of #30550. I kept it open just so that the merge bot wouldn't create any more new issues.

[2016-08-22 18:55] fejta commented on #30682
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5161/

[code]

[2016-08-22 18:55] bgrant0607 commented on #30776
@fejta Is the build log clobbered when tests are restarted? AFAICT, this test didn't fail in the test run captured by the build output.

[2016-08-22 18:59] fejta commented on #30066
I suspect we're having agent cpu issues

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/7498/

[code]

[2016-08-22 19:00] justinsb commented on #31127
@krancour absolutely agree - and you did the right thing.  It was more a note-to-self to consider whether to support non-beta versions of these annotations.

[2016-08-22 19:03] bprashanth commented on #24745
@wernight thanks for the writeup,  gcr.io/google_containers/nginx-ingress-controller:0.8.3 is out, examples still need to be updated

[2016-08-22 19:05] alex-mohr commented on #30683
This was due to a temporarily broken GKE test-container endpoint.  We're talking about whether using the test GKE endpoint is the best target for e2e smoke tests on pulls.

[2016-08-22 19:05] #30683 closed

[2016-08-22 19:05] alex-mohr commented on #30683
@spxtr

[2016-08-22 19:06] justinsb commented on #31132
Also we can embed management of the Raft cluster membership.  I think this makes it _easier_ too support more flexible API/etcd configurations, not harder.

[2016-08-22 19:07] timothysc commented on #26637
@mikedanese I'm going to use this one as the root issue.

[2016-08-22 19:07] #30093 closed

[2016-08-22 19:08] #30204 closed

[2016-08-22 19:08] timothysc commented on #31132
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Carz92Bn&#x2F;182-5-sprint-119-community-work"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> (5) Sprint 119 Community Work</a>

[2016-08-22 19:11] timothysc commented on #26637
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;uOws3OSd&#x2F;10-8-us-ha-via-endpoints-annontations"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> (8) [us] HA via endpoints annontations</a>

[2016-08-22 19:12] fejta commented on #28656
https://status.cloud.google.com/incident/compute/16017

[2016-08-22 19:12] #28656 closed

[2016-08-22 19:13] fejta commented on #30161
https://status.cloud.google.com/incident/compute/16017

[2016-08-22 19:13] #30161 closed

[2016-08-22 19:14] #31131 closed

[2016-08-22 19:14] #31120 closed

[2016-08-22 19:14] fejta commented on #28083
https://status.cloud.google.com/incident/compute/16017

[2016-08-22 19:14] #28083 closed

[2016-08-22 19:25] colhom opened #31147 "Condition restartPolicy on exit code"
It would be nice&trade; to be able to specify which container exit codes should elicit a retry attempt.

Perhaps something like this:

[code]

This would mean a failed container will not be restarted **unless** it exited with code `2` or `4`.

\cc @xiang90

[2016-08-22 19:27] mikedanese commented on #26637
Do the frequent restores cause any problems?

[2016-08-22 19:29] mikedanese commented on #31132
@kubernetes/sig-api-machinery

[2016-08-22 19:30] timothysc commented on #26637
Performance wise we've had several issues... they can be computationally expensive the larger the number of routes you add.

[2016-08-22 19:32] obeattie commented on #26637
It's fairly anecdotal, but during the brief time these restores are running, they seem to consume a fair amount of CPU.

[2016-08-22 19:39] pigmej commented on #30716
I don't see how init container implementation can be simpler than that configmap template stuff.
From user perspective the difference is huge.

@jberkus ad4 this is very important, there are a lot of cases where you need to template more than one file in different locations.

[2016-08-22 19:47] pnovotnak commented on #25828
@FlavioF feel free to re-open with details if you are still having issues, but I'm all set, so I'm going to close this.

[2016-08-22 19:47] #25828 closed

[2016-08-22 19:50] bgrant0607 opened #31148 "Lots of upgrade tests have been broken for 2 months"
A couple dozen upgrade and skew e2e test suites have been broken for exactly the same amount of time (1 month, 23 days). I looked at 2, and they were both broken due to:

[code]

This problem was introduced by #27825 in June, and apparently wasn't entirely fixed by #30556.

We lost 2 months of upgrade test coverage due to this. What can we do to notice such failures earlier?

Visible here, if you

[2016-08-22 19:53] ixdy commented on #31121
GCP was pretty busted this morning. I'm going to assume this is non-reproducible.

[2016-08-22 19:53] #31121 closed

[2016-08-22 19:54] bprashanth commented on #30345
The test failed because a create pod request returned 500. I'm seeing a few server side timeouts in the GKE logs, but no clear reason why. This doesn't look like a dns issue, keeping my eyes open for more gke master flake issues

[2016-08-22 19:54] #30345 closed

[2016-08-22 19:56] bgrant0607 opened #31149 "Tests are failing because they can't find kubectl.sh"
[code]

Example:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.3-1.4-upgrade-master/460

Looks like the regression happened in the past couple weeks:
https://k8s-testgrid.appspot.com/google-upgrade#gke-1.3-1.4-upgrade-master&width=3

cc @kubernetes/sig-testing @ixdy

[2016-08-22 20:02] rmmh commented on #31148
I'm working on feeding all federated test results (currently in GCS) into BigQuery, so we can have a single unified dashboard showing build and test failures.

[2016-08-22 20:04] jeremyong commented on #28660
I'm curious what the status on this discussion is. PetSets are potentially a big win but one of the main reasons to use them is because they might allow an elegant way to provide sticky *public* endpoints,. As things stand currently, I'm doing this awful replication controller per node + service per replication controller. I could get binding preallocated public IPs to each service to work without

[2016-08-22 20:09] andrewstuart commented on #30716
So, is there any interest (and is this an appropriate place for a discussion) in generalizing this to a templating language for *all* manifests? That is, all manifests may be templates and values will be resolved appropriately at runtime? I think this would be a gigantic win for reusable services (e.g. "Service Catalog," multi-stage deployments), as well as keeping things DRY (and simple to unders

[2016-08-22 20:09] pwittrock commented on #31098
@erictune FYI

[2016-08-22 20:10] pwittrock commented on #31009
@erictune FYI

[2016-08-22 20:11] ncdc commented on #31098
cc @ingvagabund @derekwaynecarr

[2016-08-22 20:12] k8s-merge-robot opened #31151 "[k8s.io] Kubectl client [k8s.io] Simple pod should return command exit codes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13870/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should return command exit codes {Kubernetes e2e suite}

[code]

[2016-08-22 20:16] DanielHeckrath commented on #19144
I'm observing a similar problem on GKE running Kubernetes 1.3.5.

[code]

The problem here seems to be that the HPA is trying to get metrics from a pod that does not exists, because the bound deployment has a target replica count of 15

[code]

[2016-08-22 20:29] mwielgus opened #31152 "Add more debug info to replicaset controller"
Especially around planer, its input and output.

[2016-08-22 20:29] jeffmendoza commented on #30936
@againer thanks for the report. This example was submitted March 2015 and hasn't been updated since. Looks like `examples/celery-rabbitmq/celery-app-add/Dockerfile` originally imported `dockerfile/celery` which was changed to `library/celery`. I imagine a lot has changed in those base images. Are you interested in updating the image source to something that works now?

@kbeecher any chance you wis

[2016-08-22 20:29] smarterclayton commented on #30716
Kubernetes explicitly defines as out of scope endorsing/blessing a
templating language beyond simple replacement of keys (see the
template proposal for the outer boundary).  That is not going to
change in the next two releases, and there are a lot reasons for that:

1. There is no one true templating language
2. There is value in having Turing complete templating languages, and
a templating form t

[2016-08-22 20:29] mwielgus opened #31153 "Add events to replica set controller"

[2016-08-22 20:30] mwielgus opened #31154 "Add events to secrets controller"

[2016-08-22 20:30] janetkuo commented on #30885
This is integration test build failure, which happened in both test/integration/kubectl and test/integration/metrics. I don't think it's specific to kubectl.

[2016-08-22 20:31] mwielgus opened #31155 "Add events to ingress controller"

[2016-08-22 20:32] janetkuo commented on #30885
Dup with #30462, closing

[2016-08-22 20:32] #30885 closed

[2016-08-22 20:33] #31108 closed

[2016-08-22 20:45] spxtr commented on #30462
I'm not sure, but it looks related. That issue was #30407. I'll close this, please reopen if it reoccurs.

[2016-08-22 20:47] spxtr commented on #30066
Was this due to the GCE outage this morning?

[2016-08-22 20:51] nkhine commented on #23535
I have the same issue, after using https://github.com/kz8s/tack to install the k8s cluster.

[code]

https://github.com/kz8s/tack/issues/33

[2016-08-22 20:52] spxtr commented on #31148
Right now they don't actually have an owner, and they never quite got stable enough to stop the world when they break.

[2016-08-22 20:52] k8s-merge-robot opened #31158 "[k8s.io] ResourceQuota should verify ResourceQuota with terminating scopes. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13872/

Failed: [k8s.io] ResourceQuota should verify ResourceQuota with terminating scopes. {Kubernetes e2e suite}

[code]

[2016-08-22 20:53] derekwaynecarr opened #31160 "Improve (or remove) phrasing(s) that confuse users of kubectl get"
The output for `kubectl get pods` was enhanced in #28352 to render an explanation about pods that were omitted from the result because they were in a completed state.

[code]

After usage of this feature, many have complained:

1. excessive usage of parenthesis
1. mixed usage of "object(s)" and "pods"
1. almost every user of the system will have terminal pods so this message always appears

We sho

[2016-08-22 20:56] bprashanth commented on #28660
User guide (http://kubernetes.io/docs/search/?q=petset) and comments around types.go (https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/v1alpha1/types.go) that translate to swagger in the public website.

We're currently focussing on adding features that would progress production readiness of existing database petset examples. Public identites isn't one of these blockers. It is pr

[2016-08-22 20:58] ncdc commented on #31158
@cjcullen can I assign this to you?

[2016-08-22 20:58] ixdy commented on #31148
The docker image we're using for e2e tests is based on an [old version of the kubekins-test image](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e-image/Dockerfile#L18) which doesn't have my fix from #27825. @fejta

[2016-08-22 20:59] smarterclayton commented on #31160
I missed this during my review.  It should also not be indented, and
separated by one line from the previous group (the separation we can do in
a separate PR after we correct these issues, because Juan's filter changes
would likely impact how that is implemented).

On Mon, Aug 22, 2016 at 4:53 PM, Derek Carr <notifications@github.com>
wrote:

[2016-08-22 21:03] ncdc commented on #1685
Any additional suggestions how to implement this given the current state of the REST API? I'm guessing that the /watchAll suggestion isn't what we want going forward? cc @smarterclayton @kubernetes/sig-api-machinery

[2016-08-22 21:10] smarterclayton commented on #1685
I discussed this briefly with various folks recently.  The ideal interface for a web client might be more along the line of a subscription API - clients connect, ask for a watch starting from X, and get resources until the watch expires / fails.  That's a more complex change, but reflects the actual use case of our web UI team (since one watch break does not imply other watch breaks, and as you na

[2016-08-22 21:11] jwforres commented on #1685
For browser clients this is becoming an issue because of the limitation to 6 same domain websocket connections in IE and Edge https://msdn.microsoft.com/en-us/library/ee330736(v=vs.85).aspx#websocket_maxconn

With all the new controller types we are having to revert to polling in some cases because we have passed the limit.

[2016-08-22 21:14] jeremyong commented on #28660
Thanks for the reply. The types.go file was really what I was looking for.

Here are some motivating examples I could think of for public identity use cases:
1. Game servers (clients need persistent sockets open or udp ports to access)
2. Proxy servers (for files, media, etc)
3. Audio/video/text chat servers (selective forwarding units, media control units, etc)

I thought about the solution you m

[2016-08-22 21:18] rmmh commented on #30691
This flake is unfortunately a known issue with the Jenkins Github Pull Request Builder. We're moving off it ASAP.

[2016-08-22 21:20] pmorie commented on #30716
Haven't read this entire thread yet but wanted to drop my $0.02 on an important subject:

This is probably the largest stumbling block to **ever** having API-level templating in Kubernetes, and will never, ever change.  This is reason enough IMO to focus on facilitating templating using init containers or some other mechanism rather than on changing the API.

[2016-08-22 21:20] rmmh commented on #31151
@cjcullen does this look like anything to you?

[2016-08-22 21:24] mikedanese commented on #26637
We should be able to calculate when a restore is a noop and not run the restore. @thockin is anyone currently working in this area?

[2016-08-22 21:26] spxtr commented on #30691
closing as a dupe of #27462

I'm working on it but it won't be fixed right away, sorry.

[2016-08-22 21:26] #30691 closed

[2016-08-22 21:30] fabianofranz commented on #31160
If we are to keep this message, I'd remove indentation and add an additional line break to make it separated from the main table. Has to go to `Stderr`. I'd also make it `printer.BeforePrint(...)` and `printer.AfterPrint(...)` which would make it more extensible to other kinds of usage.

[2016-08-22 21:30] bgrant0607 commented on #30272
@jellonek @pigmej When a node is "in maintenance", I assume that Kubelet won't be providing status updates, since if it were there would be no problem. In that scenario, no other components can observe pod status. The pods may or may not be functioning correctly.

The lack of status reporting, in general, is likely to interfere with automated behaviors, such as batch job completion, deployment rol

[2016-08-22 21:30] andrewstuart commented on #30716
Before I go on, is this an appropriate place for this conversation? I really don't want to Hijack @jberkus' specific issue.

[2016-08-22 21:33] fejta commented on #30066
https://status.cloud.google.com/incident/compute/16017

[2016-08-22 21:33] #30066 closed

[2016-08-22 21:34] fejta commented on #30570
https://status.cloud.google.com/incident/compute/16017

[2016-08-22 21:34] #30570 closed

[2016-08-22 21:37] smarterclayton commented on #30716
Probably not - it would be best to spawn another issue and @ us, then we
can split the discussions to be more or less independent.

On Mon, Aug 22, 2016 at 5:31 PM, Andrew Stuart <notifications@github.com>
wrote:

[2016-08-22 21:42] justinsb commented on #30899
This could also be done in an admission controller.  We probably shouldn't be _relying_ on the clients to implement this behaviour.

[2016-08-22 21:46] jberkus commented on #30716
@pmorie if we decide that having a template object is the way to go (and this thread raises other reasons why it wouldn't be), then letting choice of templating language *alone* be our blocker seems like rather a cart-horse inversion, don't you think?

However, let's decide that we need templating *first* before anyone starts arguing for their favorite syntax.

[2016-08-22 21:47] andrewstuart commented on #23896
Some potentially relevant discussion over at #30716.

[2016-08-22 21:50] alph486 commented on #30899
We had the following scenario, when testing a Deployment that was supposed to replace an RC:
- RC is deployed, 2 pods in service. Selector equal to `app=myapp`.
- Create Deployment with same label as above.
- Scale Deployment to 1.

This produced a runaway Create/Terminate loop which DoS'd the docker daemon on one or more workers. In this case the daemon was unrecoverable and we needed to recycle

[2016-08-22 21:51] chakri-nelluri commented on #30897
We have same problem for attach & detach calls, when the volumes are not backed by cloud provider model. I will open an issue to follow-up.

[2016-08-22 21:55] thockin commented on #26637
To really know whether an iptables sync is needed you have to do all the work except actually updating it.  Working around this in iptables seems like a bad answer - this is delivering 2 events per second per node.  Is that really necessary?

[2016-08-22 22:00] mikedanese opened #31168 "e2e test kubelet TLS bootstrap flow"
test the bootstrap kubelet request and auto approve controller flow
- probably will require test framework changes to allow custom invocation options for some tests
- probably will require updating gce kube-up to use kubelet TLS bootstrap optionally

ref https://github.com/kubernetes/features/issues/43

cc @liggitt @gtank @kubernetes/sig-cluster-lifecycle

[2016-08-22 22:00] thockin commented on #26093
While I applaud the effort, is this really worth the effort?  Specifically all the tiny network utils.  You're replacing obvious, debugged code (calls to exec well-known tools) with new undebugged code that is significantly longer and more complicated.

Is it REALLY worthwhile?

[2016-08-22 22:03] girishkalele commented on #30100
I think I remember there were changes in this area around that time which made this Deployment e2e test flake. Closing since it looks like its stabilized now.

[2016-08-22 22:03] #30100 closed

[2016-08-22 22:03] lavalamp commented on #31132
If we did this:
* we wouldn't be able to turn off any of the caching that apiserver does.
* we wouldn't be able to serialize less data (everything still gets written to disk).
* something like an etcd2-etcd3 migration would be *harder* than it is today.
* We'd lose the flexibility of having differing numbers of etcd and apiserver instances.

Literally the only advantage I can think of is that we s

[2016-08-22 22:03] mikedanese opened #31170 "Add the ability to request allowed usage in a CSR"
This may mean "signing profiles" or exposing allowed usage directly.

Previous discussion https://github.com/kubernetes/kubernetes/pull/30922#discussion_r75415590

ref https://github.com/kubernetes/features/issues/43

cc @gtank @liggitt @kubernetes/sig-cluster-lifecycle

[2016-08-22 22:05] wongma7 commented on #30854
@anioool you'll need to upgrade the client to 1.3.x to avoid this message, pvc label selectors are new to 1.3

[2016-08-22 22:07] lavalamp commented on #31132
And in fact without doing surgery somewhere we'd probably still have two caches of the serialized data, it's just that they'd both be in the apiserver process now.

I can't actually think of anything that this would make simpler, other than maybe turn-up.

[2016-08-22 22:09] lavalamp commented on #1685
Browser clients scare me a lot right now because our API is *not* XSS safe!!

On Mon, Aug 22, 2016 at 2:11 PM, Jessica Forrester <notifications@github.com

[2016-08-22 22:10] mikedanese commented on #26637
It's one update every two seconds by default and it's configurable.

[2016-08-22 22:11] justinsb commented on #30706
Just switched to kubenet and had another panic within a few hours (in the scheduler again).

[code]

[2016-08-22 22:12] justinsb commented on #30706
@dchen1107 I'm going to look at whether we can be sure to panic output into the journald log.  I would much rather do that then scrape the console output, but worst case it is a good suggestion!

[2016-08-22 22:13] Markbnj commented on #28974
@fraenkel thanks for your response. I'm curious as to why the spec.replicas field does not need to be quoted, but the other two do?

[2016-08-22 22:17] joeatwork commented on #1685
This feature would be a *huge* win for us, and for UI clients generally (browser and otherwise)

[2016-08-22 22:18] mikedanese commented on #26637
It's one update every two seconds by default and it's configurable. https://github.com/kubernetes/kubernetes/blob/master/pkg/client/leaderelection/leaderelection.go#L360

By increasing that period, you make a tradeoff with responsiveness of cluster failover. Conceivably updates in large clusters are much more frequent.

[2016-08-22 22:21] thockin commented on #30908
Derek started it with https://github.com/kubernetes/kubernetes/pull/30932
but I am sure he'd be happy to hand off the remaining work, and you can use
it to get a little familiar.

On Mon, Aug 22, 2016 at 10:32 AM, Suraj Deshmukh <notifications@github.com>
wrote:

[2016-08-22 22:23] pwittrock opened #31173 "Programatic api for kubectl commands (Depends on #7311)"
Projects such as helm and dashboard vendor in kubectl.  This is a terrible experience kubectl:
- Only supports go
- Uses stdout for returning results
- Uses flags to configure behavior

A quick and dirty solution would be to.
1. refactor kubectl business logic into libraries: tracked in #7311
2. provide programatic access to the kubectl commands via a grpc service run as a sidecar in a kubernetes

[2016-08-22 22:27] pwittrock opened #31174 "Kubectl proxy support accessing web services on deployments, daemonsets, services"
`kubectl proxy` makes it simple and easy to access a web service hosted on a Pod using the url to the Pod.  We should should provide similar support for controllers and services by picking an arbitrary Pod to connect to.

[2016-08-22 22:29] thockin commented on #26637
maybe Endpoints was the wrong object to watch?

On Mon, Aug 22, 2016 at 3:18 PM, Mike Danese <notifications@github.com>
wrote:

[2016-08-22 22:35] pwittrock opened #31175 "Support 'kubectl proxy deployment/nginx' to auto append resource URL"
Support something like `kubectl proxy deployment/nginx` to have the proxy go directly to that resource instead of having to supply it to the browser

[2016-08-22 22:37] thockin commented on #30819
perhaps we should elect a small (2-3) number of these to trial in the 1.5
cycle?

On Mon, Aug 22, 2016 at 10:02 AM, Brian Grant <notifications@github.com>
wrote:

[2016-08-22 22:37] ceefour opened #31176 "Unable to mount volume gcePersistentDisk with readOnly: true for multiple pods (timeout expired waiting for volumes to attach/mount)"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

timeout expired waiting for volumes to attach/mount gcePersistentDisk readOnly

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug report

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:

[2016-08-22 22:40] mikedanese commented on #26637
From an API perspective, annotating Endpoints, a collection of pods that implements a service, with which endpoint in the collection is the current master makes sense. I don't think anywhere else makes as much sense except for possibly a seperate resource. It's unfortunate that the kube-proxy cannot handle frequent updates to fields that should be noop on these objects. If we can't fix that genera

[2016-08-22 22:42] pwittrock opened #31178 "Support executing command within `kubectl proxy`"
In the docs we often tell users to `kubectl proxy` then do some other command e.g. `curl`.  It would be nice if we had something similar to what `find --exec 'ls {}'` provides where we have kubectl setup the proxy and run the command sustituting in the url then tear down the proxy.  `kubectl proxy --exec "curl {}/api/v1/..."`

[2016-08-22 22:44] ixdy commented on #31149
cc @kubernetes/test-infra-maintainers

[2016-08-22 22:44] quinton-hoole commented on #27656
No work done on this yet for 1.4 - punting it to the next release, given that we have a workaround.

[2016-08-22 22:44] k8s-merge-robot opened #31179 "[k8s.io] Kubelet Eviction Manager [Serial] [Disruptive] hard eviction test pod using the most disk space gets evicted when the node disk usage is above the eviction hard threshold should evict the pod using the most disk space [Slow] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/371/

Failed: [k8s.io] Kubelet Eviction Manager [Serial] [Disruptive] hard eviction test pod using the most disk space gets evicted when the node disk usage is above the eviction hard threshold should evict the pod using the most disk space [Slow] {E2eNode Suite}

[code]

[2016-08-22 22:45] euank commented on #30702
xref #27097

If all the kubelet cares about is "this node has this much non-k8s-pod resource utilization" then the root cgroup + knowing pod cgroups is enough, and the runtime will just fit as some part of the root/system cgroup.

If metrics, monitoring, or what have you that cares about it is a third party system, then that system can either be configured with the right cgroup out of band, or the

[2016-08-22 22:48] quinton-hoole opened #31180 "Federated Ingress Controller needs to unify UID's across Cluster Ingress Controllers"
See "UID Assignment" in https://gist.github.com/bprashanth/52648b2a0b6a5b637f843e7efb2abc97

PR in the works.

[2016-08-22 22:50] bprashanth opened #31181 "gubernator ui runs out of memory"
seeing quite a bit of

[code]

when I try to search through logs using the filter ui (i.e https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/8716/nodelog?junit=junit_09.xml&wrap=on).

[2016-08-22 22:51] smarterclayton commented on #31132
I do think today we benefit from updating etcd at slightly different rates than the apiservers - post etcd 3 that seems more likely that we would pick up occasional fixes without having to rev Kube.

[2016-08-22 22:51] thockin commented on #26637
There are only a few objects that are watched by every single node in the
cluster.  I know it makes sense to be there, but it really is sort of a
pessimal choice.

On Mon, Aug 22, 2016 at 3:41 PM, Mike Danese <notifications@github.com>
wrote:

[2016-08-22 22:52] quinton-hoole opened #31182 "Unify ObjectMeta handling across all Federated Controllers"
#29741 and #31076 take slightly different approaches, and contain duplicate code.  Unify this for consistency and code reduction.

cc @mwielgus FYI

[2016-08-22 22:54] k8s-merge-robot opened #31183 "[k8s.io] Staging client repo client should create pods, delete pods, watch pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13878/

Failed: [k8s.io] Staging client repo client should create pods, delete pods, watch pods {Kubernetes e2e suite}

[code]

[2016-08-22 22:56] smarterclayton commented on #30716
Just to remind new folks on the thread, we do support value templating
of env vars into other env vars and the command and args fields, so
there is in innate templating today on those fields:

  Env
  - name: A
    value: "http://$(SVC_HOST)"

will replace SVC_HOST if defined.

[2016-08-22 22:56] quinton-hoole opened #31184 "Federated Ingress Needs to Fail Gracefully for non-GCP Clusters"
Federated Ingress only currently works across GCE/GKE/GCP clusters with the "GLBC" ingress controller installed.  This needs to be clearly documented, and appropriate error events generated (by the federation control plane) when attempts are made to create Federated Ingresses across other types of clusters.

[2016-08-22 22:57] euank commented on #30298
One question: timeouts.

If I post a command of `echo hi` I totally expect a stdout of "hi". If I post a command of `sh -c "sleep 10000; echo hi"`, should I expect to see `hi` if I leave my terminal up for the next 3 hours? Should I expect to see a timeout? If I do see a timeout, should I expect the `sh` process I spawned to die as soon as that timeout occurs? Should the timeout be configurable?

[2016-08-22 23:00] lavalamp commented on #31148
It should be trivial to add them to the non-blocking list.

On Mon, Aug 22, 2016 at 1:58 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-08-22 23:05] andrewstuart commented on #30716
It's quite possible to take a hypergeneralized approach to this (though I typically prefer stronger opinions), where template language/syntax is perhaps an implementation choice driven by deploying a templating cluster add-on.

Two primary properties I would advocate for:

1. There is one well-defined hook for this process to take place.
  - Avoid "should this go in the pre-, mid-, or post- templa

[2016-08-22 23:09] bprashanth commented on #31184
on AWS all you need is the nginx ingress controller https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx fronted by a service.type=Loadbalancer. Some modifications are required to get the right ip/hostname to show up in the ingress (nginx controller will publish ip of its node, instead we want to publish ip of the ELB service), but if we put that in, a lot of things become e

[2016-08-22 23:09] saad-ali opened #31186 "Address open issues from "Azure data disk volume" PR"
This issue is to track and follow-up on the unaddressed comments/open issues on PR #29836 "support Azure data disk volume":
- Remove `KeyMutex` since volumemanager/attach detach controller handle concurrency
  - https://github.com/kubernetes/kubernetes/pull/29836#discussion-diff-74159683
- Add comments to public methods.
  - https://github.com/kubernetes/kubernetes/pull/29836/files#r75774475
- Doc

[2016-08-22 23:12] saad-ali commented on #30795
Yes, closed by https://github.com/kubernetes/kubernetes/pull/30996

[2016-08-22 23:12] #30795 closed

[2016-08-22 23:17] bgrant0607 commented on #11871
I'm sure we still don't have some of the above documented, but closing this as redundant with the overall doc plan.

cc @kubernetes/docs

[2016-08-22 23:17] #11871 closed

[2016-08-22 23:19] jimmycuadra commented on #26093
Long term it seems worth it, though the ratio of effort to practical benefit may not be great for some of the more ubiquitous tools. In some cases there are problems with assuming things about the host, like the lack of socat on CoreOS hosts.

[2016-08-22 23:24] thockin commented on #26093
That's not a great argument to me -- we're not going to implement socat
ourselves.  That is a highly optimized piece of code with a bazillion
features.

On Mon, Aug 22, 2016 at 4:20 PM, Jimmy Cuadra <notifications@github.com>
wrote:

[2016-08-22 23:24] k8s-merge-robot opened #31187 "kubernetes-e2e-gke-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/7873/

Run so broken it didn't make JUnit output!

[2016-08-22 23:25] quinton-hoole commented on #31184
Yes, the caveat is that those AWS load balancers are regional, not global.  And I'm not sure how easy it is for multiple ingresses (perhaps in different clusters) to share the same (regional) AWS load balancer.  Perhaps it's possible, I just haven't tried yet.

Beyond that, there's the "hybrid federation" scenario, where different clusters (and their ingresses and load balancers) exist on differen

[2016-08-22 23:26] smarterclayton commented on #30298
We in general support timeout as a flag on all API calls but it is
inconsistently applied.

Agree that reasonable defaults should be chosen for most API calls and
enforced cleanly and consistently with their API.  That really deserves its
own issue under @kubernetes/sig-api-machinery

On Aug 22, 2016, at 6:57 PM, Euan Kemp <notifications@github.com> wrote:

One question: timeouts.

If I post a com

[2016-08-22 23:28] smarterclayton commented on #30819
Certainly anything that has already caused a security lapse would have
my vote. As well as an annotation that is difficult to explain without
swagger (init containers, pod security policy, and maybe one other)

[2016-08-22 23:33] bprashanth commented on #31184
Yeah, not pressing for 1.4. I believe route53 is global even if elb isn't.

[2016-08-22 23:34] k8s-merge-robot opened #31188 "kubernetes-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13880/

Multiple broken tests:

Failed: [k8s.io] Deployment deployment should support rollback {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28348

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699

Failed: [k8s.io]

[2016-08-22 23:38] lavalamp commented on #30298
Instead of a separate subresource, also consider just accepting a
simple=true query parameter.

Actually better would be cmd-interaction-type={streaming|return-val-only}

On Mon, Aug 22, 2016 at 4:26 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-22 23:40] fraenkel commented on #28974
@Markbnj Because Replicas is typed as an int32 whereas selector and labels are strings. There are tricks to allow the replicas to provided as an int or string but right now it must be an int and any attempt to quote it will fail.

[2016-08-22 23:41] smarterclayton commented on #170
They aren't supported.  They may be in the future.  The type may be
used for polymorphic objects (get PodTemplate from Deployment)

[2016-08-22 23:48] thockin commented on #30716
I am still bandwidth constrained but I gave this a quick read.

The bar for API changes is quite high.  I just need to reiterate that.  As
it stands our API is strongly typed and that is enforced throughout the
system.  The templating/expansion that we have is very carefully considered
and limited in scope.  I am not a big proponent of overly-general solutions
that try to be everything to everyone

[2016-08-22 23:50] pmorie commented on #30716
@jberkus

I think I came off incorrectly in my comment.  My intent was to communicate the idea that given the choice between (1) attempting to solve the kind of template-file injection we are discussing here at an API level and (2) finding a way using the existing primitives to do that template-file processing,  (1) is probably cheaper in the short- and long-term for all parties.  If we have (2),

[2016-08-22 23:52] pwittrock commented on #25142
Instead of aliasing the commands, we could just print 'did you mean <correct command>'

[2016-08-22 23:54] smarterclayton commented on #25142
Aliasing would ensure the kubectl help didn't show the older pattern in the
command lists.  I believe we have already generalized into cobra the "is
this deprecated" warning.

On Aug 22, 2016, at 7:52 PM, Phillip Wittrock <notifications@github.com>
wrote:

Instead of aliasing the commands, we could just print 'did you mean '

—
You are receiving this because you are on a team that was mentioned.
R

[2016-08-22 23:54] k8s-merge-robot opened #31191 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/3178/

Run so broken it didn't make JUnit output!

[2016-08-22 23:57] ronnielai opened #31192 "Eviction doesn't work due to lack of ranking function"
I use "-eviction-hard imagefs.available<10%,nodefs.available<10%" on a node where there's no separate imagefs. The eviction failed due to:

W0822 23:51:03.731889    2684 eviction_manager.go:211] eviction manager: attempting to reclaim imagefs
I0822 23:51:03.731930    2684 eviction_manager.go:225] eviction manager: must evict pod(s) to reclaim imagefs
E0822 23:51:03.731938    2684 eviction_manager.

[2016-08-22 23:59] AdoHe commented on #25142
yes, we have already did this.

[2016-08-23 00:11] rakyll opened #31193 "move off of google.golang.org/cloud packages and move to cloud.google.com/go"
`google.golang.org/cloud` packages are renamed and are available at `cloud.google.com/go`. google.golang.org/cloud resource is still available but won't be after September 12. More information is been available on our API clients' announce mailing list at https://groups.google.com/forum/#!topic/google-api-go-announce/nXY-DYZGqz8

[2016-08-23 00:14] ronnielai commented on #31192
Maybe in in getStarvedResources() imagefs should be ignored imagefs if there's no dedicated image filesystem.

[2016-08-23 00:14] AdoHe commented on #7311
@pwittrock what's the status of this issue now?

[2016-08-23 00:20] AdoHe commented on #31173
This should be something we need to do next, but first I will help with business logic refactor before we start this.

[2016-08-23 00:21] nikhiljindal opened #31195 "Deprecate NamespaceAutoprovision, NamespaceExists admission controls"
As per https://github.com/kubernetes/kubernetes/pull/31139#issuecomment-241582497, NamespaceLifecycle admission control is enough. We can deprecate the other 2 namespace admission controls.

[2016-08-23 00:21] nikhiljindal commented on #31195
cc @derekwaynecarr.

Anyone else I should cc?

[2016-08-23 00:27] freehan commented on #19766
Thanks for the PR.

CNI Bridge plugin is expecting `hairpinMode`. Not `hairpin`. Hence the bridge plugin did not recognize it and set hairpin mode.

[2016-08-23 00:28] edpin opened #31196 "Error message not helpful."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

I searched for the words "Tim Hockin" on my chat roster. :-)

---

**Is this a BUG

[2016-08-23 00:31] pwittrock opened #31198 "Automatically stage and render docs PRs (using jekyll)"
Placeholder for kubernetes/kubernetes.github.io#1060

[2016-08-23 00:35] lixiaobing10051267 opened #31199 "[k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC 0.47s"
PR #30434 GCE e2e build/test failed ：

Test Failures

[k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC 0.47s
go run hack/e2e.go -v -test --test_args='--ginkgo.focus=Kubectl\sclient\s\[k8s\.io\]\sKubectl\sapply\sshould\sapply\sa\snew\sconfiguration\sto\san\sexisting\sRC$'
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/

[2016-08-23 00:36] jberkus commented on #30716
@smarterclayton huh.  where is that documented?

[2016-08-23 00:38] rakyll commented on #31193
Duplicate of https://github.com/kubernetes/kubernetes/issues/30069.

[2016-08-23 00:38] #31193 closed

[2016-08-23 00:39] timothysc commented on #26637
We were in favor of component registration, but that seems to have died.

[2016-08-23 00:42] baldeynz commented on #31021
The work around isnt permanent either. It seems that if the kubelet is restarted then the symlinks in /var/log/containers are not updated. After restarting the kubelet there are loads of error messages about failing to cleanup orphaned pods (see below)

-02a4f6f35ea7" dir; err: remove /var/lib/kubelet/pods/38cac425-6830-11e6-884a-02a4f6f35ea7/volumes/kubernetes.io~secret/default-token-3knpd: devic

[2016-08-23 00:59] k8s-merge-robot opened #31201 "kubernetes-e2e-gke-staging-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/7516/

Multiple broken tests:

Failed: [k8s.io] ReplicaSet should serve a basic image on each replica with a public image [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #30981

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] Replic

[2016-08-23 01:01] bprashanth commented on #26490
A lot of these failures are udp, and I can't see any obvious reason from digging through logs. I'm going to isolate the udp tests into a different IT block and see if i can add some clarity. We might have to rework the entire test for clarity, but I'm trying not to do that for the first pass.

[2016-08-23 01:09] k8s-merge-robot opened #31203 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/11805/

Run so broken it didn't make JUnit output!

[2016-08-23 01:15] pmorie commented on #30716
@jberkus I thought we had doc on this, but I couldn't find any after a brief search (we'll fix that); design doc is: https://github.com/kubernetes/kubernetes/blob/master/docs/design/expansion.md

[2016-08-23 01:16] pwittrock commented on #7311
@AdoHe I believe the status of this issue is unassigned, but something I would like to get done.  The end goal of this would be to be able to call kubectl commands from a go program as a library.  Some things that we need to address would be:
- Using flags to directly pass arguments to the commands
- Writing response directly to stdout instead of returning them in a data structure

  Are you inter

[2016-08-23 01:23] harold-sun commented on #15817
I got this working. The trick is let workers connect to master through master's pod IP.

[2016-08-23 01:26] thockin commented on #30716
I swear this is documented.  Please tell me it is documented...

On Mon, Aug 22, 2016 at 6:16 PM, Paul Morie <notifications@github.com>
wrote:

[2016-08-23 01:38] quinton-hoole commented on #31184
Yes Route53 would be the global geo-DNS for AWS.

On Aug 22, 2016 4:34 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-08-23 01:59] SylarChen commented on #19293
Facing same issue with http

[2016-08-23 02:05] smarterclayton commented on #31173
How would #2 even work for clients using client certs?  Without tokens and impersonation (even with tokens and impersonation) there are definitely some risks there.  I guess I'm not horribly opposed to it (I like the idea of having an easy API for running GET), but what guarantees would we give for the API?

[2016-08-23 02:07] pwittrock opened #31204 "Move cluster setup guides out of kubernetes docs repo"
The cluster setup guides are a maintenance nightmare.  They should be moved out of the kubernetes repo and into someplace where they can be updated out of band

[2016-08-23 02:12] pwittrock commented on #31173
@smarterclayton My intention for 2. was to provide a sidecar bound to the loopback for applications running in the k8s cluster.  If I understand correctly, this should only give access to the applications running in the same Pod, is that correct?  I don't think this should be any less secure than running a `kubectl proxy` sidecar.

[2016-08-23 02:15] smarterclayton commented on #31173
Oh, I was imagining a server endpoint that accepted Kube credentials and
invoked the appropriate kubectl command.  I.e. something web consoles can
drop into easily (which could just be a shell window into a pod with exec).

On Mon, Aug 22, 2016 at 10:12 PM, Phillip Wittrock <notifications@github.com

[2016-08-23 02:31] pmorie commented on #30716
@thockin

This is pretty much what my internal monologue is saying right now...

[2016-08-23 02:35] pmorie commented on #30716
I see it referenced in a couple places:

1. [API Reference](http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_container)
2. [ConfigMap docs](http://kubernetes.io/docs/user-guide/configmap/)

...but it looks like there is no good user-facing doc for this.  I'll write some ASAP.

[2016-08-23 02:36] pmorie commented on #30716
I swear I remember writing doc for this...

[2016-08-23 02:47] AdoHe commented on #7311
@pwittrock yes, I think this would be a direction of kubectl, would like to make this happen.

[2016-08-23 02:50] pwittrock opened #31205 "Reach out to other open source GH projects with likely similar PR workflow needs"
We should figure out what TensorFlow and GRpc are doing around PR workflow.  They may have similar needs such as - OWNERS, nagging, etc

[2016-08-23 02:54] justinsb commented on #31205
Also other projects that may be more our scale (or likely scale if we consider the whole ecosystem of things we currently think of as non-core) - Chromium, Golang or Android.

[2016-08-23 03:02] jeremyong commented on #24657
Can we reopen this? I think pods that are known to be 1-1 with the host in high performance applications should be able to understand their own public IPs to publish if they want.

[2016-08-23 03:02] pwittrock opened #31207 "Setup some sort of multi-repo hosted Kanban / Scrum board for managing tasks"
GitHub issues alone are not a good solution for managing project priorities.  You can't stack rank items nor can you effectively group them.  You also can't visualize progress.  We need something better.

Maybe
https://github.com/wekan/wekan
https://waffle.io/

Use helm if possible and make it easy to install

[2016-08-23 03:04] pwittrock opened #31208 "Make it so websites can have a button to "Deploy to Kubernetes""
This page has a bunch of buttons at the bottom where you can deploy to OSS project to a hosted provider.  Would be cool if we could support this too https://github.com/wekan/wekan

[2016-08-23 03:08] pwittrock commented on #31205
@justinsb Good suggestions

[2016-08-23 03:11] pwittrock opened #31209 "Automate updating docs repo generated docs from the kubernetes/kubernetes repo"
The kubernetes.github.io repo hosts docs generated from code in the kubernetes/kubernetes repo.  We should automate updating the docs repo so that this is not a manual process involving a human (when there are no conflicts).

[2016-08-23 03:19] pwittrock commented on #31173
@smarterclayton Ah yes, I agree we would have to be more security conscious in that case.  I think https://github.com/rancher/kubectld provides something along those lines.  If we are successful with providing a sidecar we could probably extend (or reuse the majority of the work) to handle usages requiring stricter security.

[2016-08-23 03:34] du2016 opened #31211 "when i user https and close the insecure-port,in the log of cm ：connection refused"
Aug 23 11:22:36 localhost kube-controller-manager: I0823 11:22:36.900121   20704 event.go:216] Event(api.ObjectReference{Kind:"ReplicationController", Namespace:"default", Name:"redis-master", UID:"2396220b-57c0-11e6-8482-000c2997ca8a", APIVersion:"v1", ResourceVersion:"3375029", FieldPath:""}): type: 'Warning' reason: 'FailedCreate' Error creating: Internal error occurred: Get http://0.0.0.0:0/ap

[2016-08-23 03:56] AdoHe commented on #31173
I think kubectld give a good example of how to wrap kubectl, but definitely if we could a more elegant way to do this, it would be much convenient for third party tools to use kubectl.

[2016-08-23 04:53] thockin commented on #24657
https://github.com/kubernetes/kubernetes/pull/27880 merged this week, so
1.4 will allow the node name to be known.

On Mon, Aug 22, 2016 at 8:03 PM, Jeremy Ong <notifications@github.com>
wrote:

[2016-08-23 04:59] k8s-merge-robot opened #31213 "kubernetes-e2e-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13593/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27115 #28070 #30747

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit n

[2016-08-23 05:04] jeremyong commented on #24657
Thanks for the response @thockin . Forgive my ignorance but even if I have the node name, how do I discover the public IP bound to the node? Is the instance metadata querying even available within the pod? Or are people in the issue you linked referring to a different API?

[2016-08-23 05:10] thockin commented on #24657
Sorry, you need the PUBLIC IP?  you have to go through some
provider-specific API, such as metadata to get that...

On Mon, Aug 22, 2016 at 10:05 PM, Jeremy Ong <notifications@github.com>
wrote:

[2016-08-23 05:29] jeremyong commented on #24657
In the case when I am enabling host networking on the pod so that the underlying host's network stack is used, shouldn't the host IP be available? I just now found #6558 which describes some of the concerns (multiple network interfaces etc) but it seems like the decision was to just remove the feature altogether instead of moving forward and handling the edge cases.

What I'm opting to do instead

[2016-08-23 05:58] 245347881 commented on #13598
yes ,my k8s version is v1.3.3,in my log of  apiserver: k8s.io/kubernetes/plugin/pkg/admission/serviceaccount/admission.go:119: Failed to list *api.Secret: Get http://10.10.10.150:0/api/v1/secrets?fieldSelector=type%3Dkubernetes.io%2Fservice-account-token&resourceVersion=0: dial tcp 10.10.10.150:0: getsockopt: connection refused

[2016-08-23 06:17] wojtek-t commented on #31132
I generally agree with @lavalamp - in my opinion it would complicate few things, without having clear benefits of that.

[2016-08-23 06:37] wojtek-t commented on #31059
@dchen1107 - this is node tests - can you please triage?

[2016-08-23 06:38] wojtek-t commented on #30469
This will be fixed by #31051

[2016-08-23 07:04] chao007 commented on #25959
This is not existed so close this issue
openshift v3.3.0.24
kubernetes v1.3.0+507d3a7

[2016-08-23 07:04] #25959 closed

[2016-08-23 07:10] asalkeld commented on #30034
how does reviewable fit into this?

[2016-08-23 07:19] workhardcc commented on #30991
Actually, my ultimate aim is change the class of probe for some pod(eg : TCPSocketAction → HTTPGetAction).
When I PATCH new probe information to the deployment, there is an error occurred :
`curl -X PATCH -d @update-probe2.json --header "Content-Type:application/strategic-merge-patch+json" https://10.1.1.1:443/apis/extensions/v1beta1/namespaces/default/deployments/deployment-health --header "Autho

[2016-08-23 07:19] #31073 closed

[2016-08-23 07:23] wojtek-t opened #31215 "gke-large suite is failing due to non-starting fluentd containers"
The last 2 runs of gke-large suite (2000-node GKE cluster):
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/81/
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/82/

failed due to not being able to start one of fluentd pods within 2 hours.

In both cases, looking into kubelet logs I see such errors:
[code]

[2016-08-23 07:28] raskolnikov7 commented on #30495
./cluster/../cluster/../cluster/aws/../../cluster/common.sh: line 518: KUBE_MANIFESTS_TAR_URL: unbound variable

Same problem here .. i tried both downloading the zip archive as well as
export KUBERNETES_PROVIDER=YOUR_PROVIDER; wget -q -O - https://get.k8s.io | bash

[2016-08-23 07:32] wojtek-t commented on #20504
@hongchaodeng - thanks!

Anyway - I had a discussion about migration with @lavalamp yesterday and we both agreed that we would like to use as few dedicated code as possible.

Thus we will use standard etcdctl migrate (with default transformer) and we are considering two approaches to do after that:
- start etcd on a different port for a moment (so that apiserver cannot connect to it) and attach ev

[2016-08-23 07:36] jimmycuadra commented on #26093
I was talking about packaging tools like that in the kubelet image, not reimplementing them as part of the kubelet binary.

[2016-08-23 07:38] bryk commented on #7311
FYI: Dashboard UI currently uses some kubectl code as subprograms in its backend codebase. Mostly for YAML/JSON processing. It is painful process because we have to hack around flags, structs and files.

[2016-08-23 07:40] wernight commented on #24745
Ok. I updated my article with something that I feel should be the Nginx Ingress Controller README: https://beroux.com/english/articles/kubernetes/?part=3

[2016-08-23 08:09] Pensu commented on #25730
Now that #30659 is merged and ppc64le builds are disbaled because of golang issues. That golang issue might take some time to go into upstream, till that can we have a separate CI for ppc64le builds with patched golang?

CC: @ixdy @spxtr @david-mcmahon @luxas

[2016-08-23 08:16] nhlfr opened #31218 "Expose single annotations via environment downward API"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
feature request

Follow up to the discussion on PR #30860.

We would like to see a feature of exposing any single annotation via environment downward API. The fieldRef used for that will contain a JSONPath selector and look like `metadata.annotation['key']`.

We need to:
- validate this fieldRef properly - allow to put any string in key an

[2016-08-23 08:22] nhlfr commented on #30427
Due to discussion in PR, I decided to make an another issue about exposing annotations via downward API - #31218

In my PR, which is referring to this issue, I will only put an annotation with petset index on dependent pods. Then the general downward API for all annotations will make this petset index accessible.

I decided to use annotations, because I (and probably @smarterclayton ) think that w

[2016-08-23 08:22] surajssd commented on #30908
@thockin its okay I will take something else :) because handing off process will introduce unnecessary time to get it done, Thank you

[2016-08-23 08:23] obeattie commented on #26637
![ssh](https://cloud.githubusercontent.com/assets/5988/17884901/a21f3366-6912-11e6-9f4e-2f2f95f5bc15.png)

As you can see from the output of `atop` here (rows highlighted in pink), `iptables-restore`/`iptables-save` are using a non-trivial amount of resources over a given 10 second interval; ~1.5 seconds of CPU time and 42 processes launched.

You said you wanted to know what was happening interna

[2016-08-23 08:27] xingzhou commented on #29665
this should be part of #25287, I'm doing the patches and one of the commits will cover this ticket

[2016-08-23 08:31] pracucci opened #31219 "Graceful termination fails on terminationGracePeriodSeconds > 2 minutes"
**Kubernetes version**: 1.3.5

I've a pod with `terminationGracePeriodSeconds` set to `600` (10 minutes). When I delete the pod, if it takes more than 2 minutes to shutdown, then weird things happen (like the networking stops working after 2 minutes it's in the `Terminating` state). After digging a big in the Kubernetes sources, I do believe I've individuated the root cause. Please see my report b

[2016-08-23 09:23] joonathan opened #31222 "GLBC occasionally reverting Deployment defined probe health-check to the default path of '/'"
We are seeing an issue on GKE (running 1.3.5 both on nodes and master) where GLBC occasionally reverts http-health-checks back to the default value of '/' instead of using the readinessProbe value defined in Deployment.

Initially on Ingress creation the http-health-checks were created correctly.
As we are running on GKE I don't have logs from Master (GLBC).

**Kubernetes version** (use `kubectl v

[2016-08-23 09:25] nebril commented on #31208
Isn't this something that someone who provides Kubernetes cluster as a service should be responsible for? It seems like a nice idea, I just think it doesn't belong to Kubernetes project itself.

[2016-08-23 09:26] wojtek-t commented on #20504
The first one is not going to work - it takes too long for large clusters.
I did some experiment with 2000-node kubemark.:
- etcdctl migrate took ~7s (for events), which is pretty good in my opinion
- however, to attach a lease to all events (using etcdctl) it took ~10 minutes to just process 10% of them, which is completely unacceptable

I also took a look into just removing those keys using etcd

[2016-08-23 10:08] nhlfr commented on #30298
@lavalamp's idea seems to consistent. I'd need to dig in code to see how I may extend that.

[2016-08-23 10:13] imkira commented on #23535
@nkhine just guessing, is it possible you have allocated little cpu cores / memory to your cluster? does it change if you improve the machine type / the number of machines?

[2016-08-23 10:43] #30315 closed

[2016-08-23 10:52] sege commented on #17397
Any update on this? How do I handle my local clusters running Ubuntu?

[2016-08-23 11:10] mwielgus opened #31230 "Flake: [k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC 0.46s"
More details here:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31224/kubernetes-pull-build-test-e2e-gce/55485/

[2016-08-23 11:23] lixiaobing10051267 opened #31232 "git commit err: Error in /hack/lib/etcd.sh:35"
update etcd to 3.0.6, err still exists:

Checking for swagger spec that need updating... !!! Error in /home/zte/share/k8s-clone2/src/k8s.io/kubernetes/hack/lib/etcd.sh:35
  'version=$(etcd --version | head -n 1 | cut -d " " -f 3)' exited with status 141
Call stack:
  1: /home/zte/share/k8s-clone2/src/k8s.io/kubernetes/hack/lib/etcd.sh:35 kube::etcd::start(...)
  2: /home/zte/share/k8s-clone2/src/k

[2016-08-23 11:41] k8s-merge-robot opened #31236 "[k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval [Benchmark] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/384/

Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval [Benchmark] {E2eNode Suite}

[code]

[2016-08-23 12:05] AlexMioMio commented on #31153
what kind of event is helpful to be added ？ @mwielgus

[2016-08-23 12:09] AlexMioMio commented on #31137
占个坑 @jingxu97

[2016-08-23 12:13] #29028 closed

[2016-08-23 12:22] dims commented on #31232
@lixiaobing10051267 - Can you run `etcd --version` and `etcd --version | head -n 1 | cut -d " " -f 3` by hand and see what the output is?

[2016-08-23 12:25] nhlfr commented on #31178
This will be tricky in case of unix sockets. There is no universal pattern for dealing with them in all the application. Of course in curl we can do `curl --unix-socket somesocket.sock http:/api/v1/...`, but what about the other commands?

However, it'd be great to have something like that for HTTP sockets.

[2016-08-23 12:34] sarvigalava commented on #31219
Same issue here on Kubernetes 1.3.3.

We have terminationGracePeriodSeconds set to several hours in order to successfully complete  data processiong.

The pod's IP field gets empty value after entering Terminating state and the ifconfig command lists only the loopback interface within container.

In the Kubernetes 1.2.0 the networking remains available while the pod is in terminating state.

[2016-08-23 12:38] m1093782566 commented on #30952
Fixed!

I am going to close this issue.

Thanks all!

[2016-08-23 12:38] #30952 closed

[2016-08-23 12:53] pmorie commented on #18776
@euank Agree, self-hosting has always been one of my personal goals in this area.

Now, some bad news: I think we will actually have to keep the `NsenterMounter` around in 1.5 -- shared volumes have issues on some kernels, but we can at least assume everyone will have a workable slave propagation mode now.  However! We can at least lose the NsenterWriter, since that is a stop-gap from when you cou

[2016-08-23 12:56] m1093782566 opened #31238 "[test/images] cross-build test/images/serve_hostname"
cross-build `test/images/serve_hostname`, https://github.com/kubernetes/kubernetes/tree/master/test/images/serve_hostname

Supported arch are:
* amd64(default)
* arm
* arm64
* ppc64le

PR is #31241.

This issue and PR(#31241) is an effort to achieve multiarch Kubernetes(#26863)

@luxas @spxtr

[2016-08-23 13:24] rootfs commented on #31129
actually the diff is
[code]

[2016-08-23 13:25] bjfr commented on #30495
I get the same error:

Generating certs for alternate-names: IP:52.41.117.12,IP:172.20.0.4,IP:10.0.0.1,DNS:kubernetes,DNS:kubernetes.default,DNS:kubernetes.default.svc,DNS:kubernetes.default.svc.cluster.local,DNS:kubernetes-master
./cluster/../cluster/../cluster/aws/../../cluster/common.sh: line 518: KUBE_MANIFESTS_TAR_URL: unbound variable

Installation using:
export KUBERNETES_PROVIDER=aws; curl

[2016-08-23 13:29] timothysc commented on #26637
So we have a BZ open against too many iptables refreshes on heavily loaded clusters but all the comments are private: https://bugzilla.redhat.com/show_bug.cgi?id=1362661 .  The distillation is it's eating time in the kernel (kernel-commit 5417afc97cd80 [net] netfilter: x_tables: speed up jump target validation" that speeds up iptables operations somewhat.)

However, there are still issues with inc

[2016-08-23 13:32] k8s-merge-robot opened #31244 "[k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 105 pods with 300ms interval [Benchmark] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/386/

Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 105 pods with 300ms interval [Benchmark] {E2eNode Suite}

[code]

[2016-08-23 13:36] richarvey commented on #28643
Has this made it into v1.3.4? because we are having this issue on 1.3.5 on coreOS

[2016-08-23 13:36] rootfs commented on #31186
- keyMutex is narrowed, it is only used to obtain empty LUN from Azure service.
- Public method comments are added
- Warningf now applied when appropriate
- UnmountDevice err is returned.

Left item is about the lun vs devicepath issue, will post a PR.

[2016-08-23 13:54] raskolnikov7 commented on #30495
Hi,
Please try below :

https://github.com/kubernetes/kubernetes/commit/49da8298c9fe77f28243b082f0b77ef5bffd4293

and then In your_kubernetes_install_dir/cluster/common.sh:516

add below line
KUBE_MANIFESTS_TAR_URL="${SERVER_BINARY_TAR_URL/server-linux-amd64/manifests}"

[2016-08-23 14:03] lixiaobing10051267 commented on #31232
@dims ok:

    # etcd --version
    etcd Version: 3.0.6
    Git SHA: 9efa00d
    Go Version: go1.6.3
    Go OS/Arch: linux/amd64

    # etcd --version | head -n 1 | cut -d " " -f 3
    3.0.6

[2016-08-23 14:16] johscheuer commented on #30897
I hope this belongs into this thread (or should we open another thread for the deleter interface?)

In https://github.com/jsafrane/kubernetes/commit/9fa16f5ff80a94bf71436eda5297563107ae9640 @jsafrane used annotations to save the REST `URL`,`user` and `userkey` AFAIK annotations can be shown when you use `kubectl describe` or `kubectl get`, so any kubernetes user that has access to the volume can g

[2016-08-23 14:21] wu8685 commented on #27454
The [PR](https://github.com/spf13/pflag/pull/82) has been merged. It is now supporting `,` by `--from-literal="seeds=A,B"`
If it is ok, we can update dependency to fix the issue.

[2016-08-23 14:33] joshperry commented on #13776
This is an interesting req that I found after trying to do a volume mount, out of habit, with `kubectl exec`. I would definitely make use of this occasionally, but perhaps a volume mount feature more often.

When I need to copy things to containers it's usually to do some kind of debugging or hotfix, and I need some tools to facilitate my task. It would be nice to be able to attach a volume with t

[2016-08-23 14:42] jsafrane commented on #30897
That's right, the same credentials are revealed in `kubectl get storageclass`. In OpenShift, PVs and StorageClasses are considered to live in admin space, users can't even list them.

[2016-08-23 14:42] lzerma commented on #30495
That worked for me @raskolnikov7 thanks!

I followed exactly what @raskolnikov7 have said and works.

[2016-08-23 14:43] aktarali opened #31249 "Monitoring Kubernetes using Prometheus"
Hi;

I have tried to add the following lines to prometheus.yaml file:
# Kubernetes
- job_name: "K8s Cadvisor"
  scrape_interval: "15s"
  metrics_path: "/metrics"
  target_groups:
  - targets: ["http://node6.crmld.com:4001"] #Cadvisor
- job_name: "K8s APIserver"
  scrape_interval: "15s"
  metrics_path: "/metrics"
  target_groups:
  - targets: ["http://node6.crmld.com:8888"] #APIserver
- job_name: "

[2016-08-23 15:15] lachie83 commented on #31142
/cc @craigbox

[2016-08-23 15:20] timothysc commented on #31132
Thx for the feedback, I'll lump the comments into PROs and CONs, and DEBATABLE and try to provide the logic behind each.

**PRO:**
- Simplified deployment, less components, less certs etc.
- Removal/optimization of watch caches, etcd3 maintains it's own.  Slowly eliminate the redundancy.
-- Tests we have today show the api-server caching can be a multiple of the data that is actually stored.
- Rem

[2016-08-23 15:24] 2opremio opened #31252 "`kubectl drain --force` chokes on orphan pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2016-08-23 15:25] pwittrock commented on #31173
@AdoHe Yes, the kubectld approach to wrapping kubectl is pretty simple.  This issue could probably even be worked on in parallel by introducing a reasonable abstraction layer for invoking the kubectl logic.  Work on them in whatever order makes the most sense to you.

[2016-08-23 15:25] derekwaynecarr commented on #31195
They were already marked deprecated for multiple releases.

Have sent a PR to remove them from code base here:
https://github.com/kubernetes/kubernetes/pull/31250

[2016-08-23 15:27] pwittrock opened #31253 "Create 3rd party controller example in Java"
Once the kubectl sidecar service is complete, build an example 3rd party controller against it using Java.  Use Spring or Guice hotness with gradle to provide an extendable platform.

[2016-08-23 15:29] dims commented on #31232
weird, how about `version=$(etcd --version | head -n 1 | cut -d " " -f 3)'` followed by `echo $version` ? We need to figure out why you are seeing the 141 error code (from googling it seems to be from a pipe problem)

[2016-08-23 15:29] pwittrock opened #31254 "Use helm to package and templatize kubernetes GH tools"
Spinning up all the automation for a new repo should be as simple as `helm install kubernetes-github-automation  --values="new/repo"`

cc @foxish

[2016-08-23 15:31] pwittrock opened #31255 "Use helm to package up CI for new repos"
We should be able to use helm to put together a relatively simple CI to perform nightly builds and continuous testing for small + focussed repos.

[2016-08-23 15:31] pwittrock commented on #31255
cc @foxish @erictune

[2016-08-23 15:32] pwittrock commented on #31254
cc @erictune

[2016-08-23 15:36] justinsb opened #31256 "We should be able to `go test` our e2e tests"
It is too hard to run e2e tests right now.  It should be easy to fire up a test cluster, check out the k8s code and say "go test`.

[2016-08-23 15:37] pwittrock opened #31257 "Write initial guidelines for contributing 3rd party tools"
Started here:
https://github.com/kubernetes/community/wiki/Contributor-Guide:-Building-your-Kubernetes-Tool

We should publish guidelines around what standards 3rd party tools should adhere to.  Examples:
- What namespace should 3rd party cluster services run in?
- How should 3rd party cluster services be packaged and installed?  helm?
- How should client binaries be packaged, installed and distri

[2016-08-23 15:40] justinsb commented on #31256
The process as it stands now:

* try running e.g. ` go run hack/e2e.go -v -test --test_args="--ginkgo.focus=schedule.it.on.another.host"`
* discover the env vars that need to be set
* doesn't work on an existing cluster if not set up with kube-up
* hack script to print command output, discover that it is a wrapper around running the ginkgo executable with the e2e.test executable
* figure out args

[2016-08-23 15:41] pwittrock opened #31258 "Define process for onboarding new kubectl contributors"
Started here:
https://github.com/kubernetes/community/wiki/WIP:-Contributor-Guide:-kubectl-new-contributor-onboarding-guide

Define the process for onboarding new contributors:
- How should new contributors find issues to work on?
- How should issues be claimed?
- Integrate claiming with bot
- What should the shadow review process be like
- How to get help when blocked
- Better in-code documentati

[2016-08-23 15:47] pwittrock opened #31260 "Nag, Flag and Re-assign PRs that are not getting attention from reviewers"
Automation should work to unblock PRs that are not getting attention from reviewers.
- Nagging with ping messages
- Reassigning to a new reviewer (leave a comment so we can track when this is happening and why)
- Flagging the PR as needing manual intervention from an on call role
- Allow reviewers to leave vacation times so they don't get assigned

Tracked in:
https://github.com/kubernetes/contrib

[2016-08-23 15:54] pwittrock opened #31261 "PR Workflow automation"
We need to automate the PR workflow using comment-based commands.
- Allow PR participants to easily see who action is required from and search for PRs requiring attention
- Allow PR participants to work through full PR merge process without write access to the GH repo labels

Tracked in: https://github.com/kubernetes/contrib/issues/869

[2016-08-23 15:58] k8s-merge-robot opened #31262 "TestWatch {etcd}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16135/

Failed: TestWatch {etcd}

[code]

[2016-08-23 15:59] lixiaobing10051267 commented on #31232
root@ubuntu:/home/zte/share/docker-clone/docker/docs/admin# version=$(etcd --version | head -n 1 | cut -d " " -f 3)
root@ubuntu:/home/zte/share/docker-clone/docker/docs/admin# echo $version
3.0.6

[2016-08-23 16:00] lixiaobing10051267 commented on #31232
root@ubuntu:/home/zte/share# version=$(etcd --version | head -n 1 | cut -d " " -f 3)
root@ubuntu:/home/zte/share# echo $version
3.0.6

[2016-08-23 16:29] thockin commented on #26637
If someone wants to make the kube-proxy logic smarter in the face of no-op
changes, I'm happy to entertain that patch, but I am more concerned
thatthis is broadcasting events to every node every couple seconds.

On Tue, Aug 23, 2016 at 6:30 AM, Timothy St. Clair <notifications@github.com

[2016-08-23 16:30] pwittrock opened #31264 "Automate Linting of Docs PRs (mungedocs)"
Started here:
https://github.com/kubernetes/md-check

Run this in Travis against all docs PRs.

Look at https://github.com/kubernetes/kubernetes/tree/master/cmd/mungedocs for different linters we should be running

[2016-08-23 16:35] pwittrock commented on #31209
cc @devin-donnelly

[2016-08-23 16:36] pwittrock commented on #31204
Need to figure out the story of which guides are tightly coupled to code in the repo (don't move these) and which guides have no coupling at all to code in the repo (move these first)

[2016-08-23 16:38] pwittrock opened #31266 "Develop better api documentation"
Our current swagger documentation is pretty weak.  We need to

- Go over the comments on the go structs and update them to make sure they are accurate and thorough
- Include example request responses in our documentation
- Provide an experience closer to what the strip api documentation looks like: https://stripe.com/docs/api

[2016-08-23 16:41] pwittrock opened #31267 "Improve kubectl error messages"
List here:
https://github.com/kubernetes/community/wiki/Roadmap:-kubectl

Cross them out as you complete them

---
## List of additional issues
- [ ] #34457  exec pods on master unsupported
- [ ] #30081 --dry-run + -i unsupported

[2016-08-23 16:47] timothysc commented on #26637
imo we need to lock on a different object, at 5-10k nodes this is an untenable level of overhead. @bgrant0607

[2016-08-23 16:48] surajssd commented on #29386
I would like to work on it!

[2016-08-23 16:49] jeffvance opened #31269 "examples/mysql-wordpress-pd fails on selinux systems"
Version:
[code]
Running this example on RHEL 7.2 (assume same for centos), and using _hostPath_, I get a permissions error when the mysql container does a `chown -R mysql:mysql ...`. If I set selinux to permissive on the host it works. If I manually run the container with `-v  /tmp/pv-1:/var/lib/mysql:Z` it works. I was *not* able to get it to work when adding `securityContext.seLinuxOptions.type=

[2016-08-23 16:50] jayunit100 opened #31270 "final iteration to kill repo root."
cc @kubernetes/sig-testing

We need to eliminate repo-root.  This way we are gauranteed that e2es for Releases are 100% self sufficient for the binaries.

[2016-08-23 16:52] Markbnj commented on #28974
@fraenkel I get it now :). Thanks very much for taking the time to explain this to me.

[2016-08-23 16:52] #28974 closed

[2016-08-23 17:00] yujuhong commented on #31215
The latest build 83 is green again. Could it be an incomplete cluster setup caused by temporary network issues? Just throwing out some ideas.

[2016-08-23 17:01] sttts commented on #31262
This blocks the queue it seems.

[2016-08-23 17:10] spiffxp commented on #31270
I think I found a conformance test failing on v1.3.5 (ref: https://github.com/kubernetes/kubernetes/issues/23735#issuecomment-240274842), will attempt to confirm here and see if it's the same with the latest v1.4.0 alpha

[2016-08-23 17:11] jayunit100 commented on #31270
low prio to reconfirm i think `-repo-root` removal will surface compile errors when the struct is changed

[2016-08-23 17:12] grodrigues3 commented on #30034
https://github.com/kubernetes/contrib/pull/1582  This PR is intended to parse human commands as well as nag the person (author or reviewer) whose action is required.

[2016-08-23 17:12] spxtr commented on #31262
Assigning according to [this](https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv).

[2016-08-23 17:18] mikedanese commented on #26637
The anecdote indicates that the immediate perf issue is caused by iptables-restore. In small clusters we can alleviate this by not restoring noops.

I'd like to see the frequency of updates in large clusters in regular state (e.g. pods dieing, deployments in progress). Annotation updates may be a small portion of total endpoints updates. If endpoints updates are happening anyway and they are batch

[2016-08-23 17:21] mfischer-zd commented on #17162
@thockin a great reason not to use glog is that it's not rotation safe.  it never checks the inode of the underlying log file to see if it needs to reopen the file.

[2016-08-23 17:25] caesarxuchao commented on #23533
Fixed by #30033.

[2016-08-23 17:25] #23533 closed

[2016-08-23 17:25] fejta commented on #31203
We were cloning the github repository at 200KB/s:

Receiving objects:  33% (107638/322484), 96.00 MiB | 166 KiB/s

[2016-08-23 17:25] spiffxp commented on #31270
Confirmed that failure is in v1.3.5, and not in v1.4.0-alpha.2, so it's been addressed in master by now.

I bring it up because I don't know what would need to be cherry-picked back to release-1.3 to fix that particular failure

[2016-08-23 17:26] fejta commented on #31191
Looks like some intermittent networking problems:

[code]

[2016-08-23 17:26] yujuhong commented on #31219
Yes, the request timeout should be greater than the termination grace period. We should fix this.

/cc @kubernetes/sig-node

[2016-08-23 17:27] fejta commented on #31187
Hmm...

[code]

[2016-08-23 17:28] ncdc opened #31272 "Hung volumes can wedge the kubelet"
If you have pods that use something like NFS storage, if the system is unable to read the mounted directory, or unmount it, it is possible to completely wedge the kubelet such that it can't successfully run any new pods that use volumes (which is basically all, if they use secret tokens) until either the storage issue is resolved, or you restart the kubelet.

To reproduce:

1. Create a pod that us

[2016-08-23 17:29] pmorie commented on #31272
Gonna fix this one now.

[2016-08-23 17:31] ncdc commented on #31262
I haven't been able to reproduce locally, but I do see some odd output. It appears that TestWatch tries to connect to the sockets for the etcd nodes created in the other tests in this file.

[code]

[2016-08-23 17:34] lavalamp commented on #25513
Closing as obsolete-- bot will open a new issue if it recurs.

[2016-08-23 17:34] #25513 closed

[2016-08-23 17:35] bprashanth commented on #24745
We should update the readme to show the absolute simplest cross platform (works almost exactly the same way) tls ingress and move the text about writing an ingress controller into a linked doc. To that end I like what you have about generating/creating the secret. Please send a pr and we can iterate. We will need a README when we break ingress out of contrib anyway.

[2016-08-23 17:35] alex-mohr commented on #30303
At least one looks like test-infra to me, e.g.:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13974/
++ curl -fsS --retry 3 https://raw.githubusercontent.com/kubernetes/kubernetes/test-infra/jenkins/dockerized-e2e-runner.sh
curl: (22) The requested URL returned error: 404

I'm not sure curl retries on (spurious?) 404s.

The others don't have any meani

[2016-08-23 17:40] thockin commented on #17162
We mostly glog to stderr anyway.

On Tue, Aug 23, 2016 at 10:22 AM, Michael S. Fischer <
notifications@github.com> wrote:

[2016-08-23 17:41] thockin commented on #17162
to be clear, I DO want to move to a structured logging answer.

On Tue, Aug 23, 2016 at 10:40 AM, Tim Hockin <thockin@google.com> wrote:

[2016-08-23 17:41] dchen1107 commented on #31219
@pracucci Thanks for reporting the issue with such detail debugging information.

@Random-Liu Could you please take a look?

[2016-08-23 17:42] dims commented on #31219
@yujuhong @dchen1107 @Random-Liu may i take a stab at it?

[2016-08-23 17:44] luxas commented on #31272
v1.4?

[2016-08-23 17:45] rothgar commented on #24089
Was this ever resolved? I see it was closed but still affects me in 1.3.4.

[2016-08-23 17:45] pmorie commented on #31272
@luxas you betcha, this is muy no bueno imo

[2016-08-23 17:47] alex-mohr opened #31273 "Cluster setup in e2e tests not reliable enough nor transparent enough"
There are a large number of e2e failures where the cluster fails to come up in 300 seconds, e.g. https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/14127/build-log.txt

"""
Waiting up to 300 seconds for cluster initialization.

  This will continually check to see if the API for kubernetes is reachable.
  This may time out if there was some uncaught error during sta

[2016-08-23 17:47] alex-mohr commented on #30303
#31273 for improving cluster setup.  I'll punt this particular issue back to test infra for the githubusercontent issue.

[2016-08-23 17:48] yujuhong commented on #31219
@dims no objection from me.

[2016-08-23 17:51] thockin commented on #24657
that issue was about the node's IP, but not necessarily a PUBLIC address.
If you use host networking you can just look at the interfaces and get the
IP?

On Mon, Aug 22, 2016 at 10:30 PM, Jeremy Ong <notifications@github.com>
wrote:

[2016-08-23 17:52] alex-mohr commented on #30682
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/4968/build-log.txt
2016/08/16 07:06:19 e2e.go:244: Error: 3 leaked resources

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5015/
[2 more]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5022/
++ curl -fsS --retry 3 https://r

[2016-08-23 17:58] k8s-merge-robot opened #31274 "kubelet-gce-e2e-ci: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8618/

Multiple broken tests:

Failed: [k8s.io] Secrets should be consumable from pods in volume with Mode set in the item [Conformance] {E2eNode Suite}

[code]

Failed: [k8s.io] Kubelet metrics api when querying /stats/summary it should report resource usage through the stats api {E2eNode Suite}

[code]
Issues abo

[2016-08-23 18:02] hongchaodeng commented on #20504
Let me converge our conversation here.
- first of all, we don't need to list the ttl keys into a file. I have updated ["attachlease"](https://github.com/hongchaodeng/etcdupgrade/tree/master/attachlease) program to take in "ttl dir" instead of "ttl keys file".
- I have updated "migrate-if-needed.sh" from #31242
[code]

- Finally, I ran the program and see the time below:
[code]
This is "Standard pe

[2016-08-23 18:02] lavalamp commented on #31132
Not a pro: "Removal/optimization of watch caches, etcd3 maintains it's own.
Slowly eliminate the redundancy. -- Tests we have today show the api-server
caching can be a multiple of the data that is actually stored."

This isn't true because we do a bunch of filtering that etcd doesn't and
isn't going to do.

On Tue, Aug 23, 2016 at 8:20 AM, Timothy St. Clair <notifications@github.com

[2016-08-23 18:03] timothysc commented on #26637
They are batched, but the watch updates will still occur across the cluster.  So the more components we have annotating different endpoints the larger the fan-out.

[2016-08-23 18:04] dims commented on #31232
I am out of ideas :)

[2016-08-23 18:09] lavalamp commented on #31132
I really don't think the things you list as debatable are debatable, but I'll respond in kind. I don't understand CP4.

**DEBATABLE** (point/counter point)
- **P1:** we wouldn't be able to turn off any of the caching that apiserver does.
- **CP1:** I'd argue this can/should be broken up over time.  For example, as of today the apiserver does **a lot** of object validation, which is debatable if th

[2016-08-23 18:11] jfrazelle commented on #31012
This should help https://github.com/kubernetes/kubernetes/pull/31104

[2016-08-23 18:11] Random-Liu commented on #31219
Yeah, this is a bug. @dims Thanks a lot for fixing it! :)

[2016-08-23 18:11] jfrazelle commented on #31012
then we can reassess after :)

[2016-08-23 18:13] jfrazelle commented on #31012
eventually when everything is linted this should be way better because we won't even need the file :)

[2016-08-23 18:14] Random-Liu commented on #31219
@yujuhong @dchen1107 This is introduced in v1.3, do we need a cherry-pick?

[2016-08-23 18:18] k8s-merge-robot opened #31277 "[k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2067/

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}

[code]

[2016-08-23 18:23] dchen1107 commented on #31219
@dims thanks for fixing the issue. I don't think we are going to cut another patch solely for this bug based on our patch policy. But @Random-Liu or @dims could one of you send a cherrypick pr against 1.3 branch. So that we could include the fix if we cut another patch release for 1.3?

Also @Random-Liu can we add a node-e2e test to make sure we won't have such regression in the future?

Thanks!

[2016-08-23 18:27] timothysc commented on #31132
Then we shall agree to disagree ;-)

ok, I'll concede that one.

The socket hop + sec + grpc unmarshing is always a cost.  Also my point in CP1 was that we are doing far to much object validation and hence don't need to deserialize in many cases.

There is always a way here, we could simply have a command line option, but I'll concede it's not pretty.

OK, I'm cool with closing this issue, but at

[2016-08-23 18:27] #31132 closed

[2016-08-23 18:29] lavalamp commented on #31132
Thanks, I agree it's good to have this documented.

Re: excess deserialization, Clayton and I have discussed adding a
"fastpath" to allow us to not deserialize on reads.

On Tue, Aug 23, 2016 at 11:27 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2016-08-23 18:30] vishh commented on #30034
@grodrigues3 What will be the trigger phrases to switch ownership of PRs between authors and assignees?

[2016-08-23 18:30] xiang90 commented on #31132
@lavalamp

We have some idea to store raw data in cache to reduce memory overhead. We should have a discussion on this some day...

[2016-08-23 18:31] apelisse commented on #30034
We are not completely there yet, we would love a suggestion :-)

[2016-08-23 18:33] vishh commented on #30034
How about PR author says "ready for review" & assignee(s) says "needs more work"

[2016-08-23 18:34] mikedanese commented on #30550
kubernetes-e2e-gce-serial is consistently failing and keeping us from releasing an alpha.

[2016-08-23 18:35] justinsb opened #31278 "Storage: seeing parallel AttachVolume requests on the same volume (1.3.5)"
I am reasonably sure this should not be allowed, right @saad-ali ?

It seemed to be OK in this case, but I don't think we should be doing it.

[code]

[2016-08-23 18:36] baldeynz commented on #31021
it seems that the problem of not being able to update the symlinks in /var/log/containers might be linked with this issue? https://github.com/kubernetes/kubernetes/issues/25489

[2016-08-23 18:39] timothysc commented on #31272
Ohh man...

[2016-08-23 18:40] dims commented on #31219
@dchen1107 @Random-Liu : here's the PR for 1.3 https://github.com/kubernetes/kubernetes/pull/31279

[2016-08-23 18:44] alex-mohr commented on #28013
Spot checks show most of the no JUnit output issues are:

++ curl -fsS --retry 3 https://raw.githubusercontent.com/kubernetes/kubernetes/test-infra/jenkins/dockerized-e2e-runner.sh
curl: (22) The requested URL returned error: 404

Punting to apelisse as assignee of the other same-root-cause issues.

[2016-08-23 18:44] freehan commented on #30131
failed due to unrelated problem:

[code]

[2016-08-23 18:44] #30131 closed

[2016-08-23 18:46] Random-Liu commented on #30550
Offline discussed with @mikedanese, this is not a release blocker. :)

However, we should fix the test suite, we don't even have a green build till now. :( And there are a bunch of related issues filed.

[2016-08-23 18:51] mikedanese opened #31281 "kubernetes-gce-serial failing consistently since 4pm yesterday: high mem usage for runtime"
[code]

[2016-08-23 18:51] alex-mohr commented on #27822
Failures are all from different causes.  Question for @fejta and @kubernetes/sig-testing -- can we make the jenkins failures include the more-specific error reason for better grouping than "Run so broken it didn't make JUnit output!"?   The HollowNodes issue is the only test-specific one to kubemark, but the others are showing up across lots of e2es.

https://storage.googleapis.com/kubernetes-jenk

[2016-08-23 18:54] alex-mohr commented on #27616
Neither of the Aug 22nd issues has logs.  None of the failures in the previous time units is unique vs. the other issues I've been triaging, so closing this particular one as not-useful.

[2016-08-23 18:54] #27616 closed

[2016-08-23 18:59] jingxu97 commented on #31272
I see one thing might related is during tearDown() for the volume,
if IsLikelyNotMountPoint() fails checking the dir, it will fail the whole
tearDown() operation, which will block the following operations on the
volume.

Jing

On Tue, Aug 23, 2016 at 11:40 AM, Timothy St. Clair <
notifications@github.com> wrote:

--
- Jing

[2016-08-23 18:59] yujuhong commented on #31281
The test started failing in build 1994 in kubernetes-e2e-gce-serial, but there is no obvious suspect in that batch or PRs. Still digging.

[2016-08-23 18:59] ncdc commented on #31272
Yes, there definitely could be multiple places that are affecting this.

[2016-08-23 19:01] pmorie commented on #31272
Yeah, I think I want to audit this entire subsystem before we start making code changes

[2016-08-23 19:05] yujuhong commented on #31281
/cc @kubernetes/goog-node

[2016-08-23 19:05] madhusudancs opened #31283 "Federation e2e setup doesn't clean up resources in the face of failures"
When `federation-up.sh` fails in an e2e environment, it causes the test to error out and stop. This means, none of the cloud resources, i.e. none of the VMs, IP addresses, Loadbalancers and network rules are cleaned up. If the tests fail enough number of times to exhaust the quota, it leads to cascading failures and none of the future tests can pass until someone manually deletes all the resources

[2016-08-23 19:05] timstclair opened #31284 "[AppArmor] Report AppArmor status"
We try really hard to ensure that a container that specifies an AppArmor profile will not be allowed to run without the proflie. However, if a node is running a version < v1.4 we don't have any way to enforce this. To address this problem, we need a way to tell whether AppArmor has actually been enabled on the container.

As with other AppArmor fields, this status can be represented as a Pod annot

[2016-08-23 19:13] vishh commented on #29579
Ok. Essentially you are proposing adding a specialized `Exec` interface
rather than a general purpose one for bootstrapping.
Given the extent of changes required for this feature, would it make sense
to support regular exec in the short-term before we can replace that with
the proxy process approach?

On Fri, Aug 19, 2016 at 6:12 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-23 19:13] pmorie commented on #31272
@ncdc @jingxu97 I think the long and short of this is that we need to audit for anything that tries to read a directory that might be a volume mountpoint and pass a timeout to it.  Agree?

[2016-08-23 19:15] mfischer-zd commented on #17162
Whatever you choose, make sure it's rotation-safe please =)

[2016-08-23 19:16] mml opened #31285 "e2e test keeps trying the wrong server"
I could not figure out why my e2e test kept trying to contact the wrong server, so I added debugging output to enumerate all the Cluster entries in the `clientcmdapi.Config`...

[code]

Where the heck is `104.198.199.192` coming from?  Still looking.

@kubernetes/sig-api-machinery

[2016-08-23 19:17] ncdc commented on #31272
At least that, yes. Not sure if there is more we need to be looking at.

On Tue, Aug 23, 2016 at 3:14 PM, Paul Morie <notifications@github.com>
wrote:

[2016-08-23 19:18] pmorie commented on #31272
I think it has to be anything that can do a stat.

[2016-08-23 19:18] mikedanese commented on #31273
This has been very frustrating because it conflates a bunch of underlying issues into a single flake that gets assigned to one person. It's also pretty common that the underlying issue that caused a particular failure is not even discernible from the leftovers (gcs artifiacts).

[2016-08-23 19:19] vishh commented on #31272
In general, kubelet sync loop should run operations asynchronously and not
make assumptions on libraries unless the library provides an explicit
contract.

On Tue, Aug 23, 2016 at 12:14 PM, Paul Morie <notifications@github.com>
wrote:

[2016-08-23 19:20] smarterclayton commented on #29579
Yes, I think short term exec "as it is today" is the current solution.
Which means not trying to add it to CRI, but leave it in the daemon.

On Tue, Aug 23, 2016 at 3:13 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-08-23 19:20] smarterclayton commented on #29579
s/current/correct/

On Tue, Aug 23, 2016 at 3:20 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-08-23 19:22] pmorie commented on #31272
@vishh are you saying we should have made all things that can do a stat have a timeout from the get-go? :)

[2016-08-23 19:23] jaygorrell commented on #7433
This could be slightly more relevant now with Ingress and such, especially if the ingress controller is running in a daemonset and already RR'd before getting to kube-proxy, it would be nice to just use that node.

[2016-08-23 19:25] vishh commented on #29579
Wait, how would it work if the CRI does not have a concept of Exec? Today's
exec model is one where runtimes implement Exec natively. Kubelet needs
some means to invoke that Exec on the runtimes?

On Tue, Aug 23, 2016 at 12:21 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-23 19:27] vishh commented on #31272
I'm saying that each pod setup should be asynchronous & should not affect
the sync loop :)
Having a timeout on all kernel syscalls would be like utopia :)

On Tue, Aug 23, 2016 at 12:23 PM, Paul Morie <notifications@github.com>
wrote:

[2016-08-23 19:33] smarterclayton commented on #27454
Just to make sure this is closed off. If you accept a flag multiple times
(`--file INPUT1 --file INPUT2`) you should not be processing INPUT1 or
INPUT2 in order to accept more inputs (it should not be possible to split
INPUT1 to get INPUT3 or INPUT4).  Was GetStringSlice() doing that?  Or are
you saying that you believe that the common case for all string flags that
you can specify multiple times

[2016-08-23 19:33] smarterclayton commented on #31173
We'd have to version kubectl pretty finely.

On Tue, Aug 23, 2016 at 11:25 AM, Phillip Wittrock <notifications@github.com

[2016-08-23 19:38] luxas commented on #18776
@pmorie Which are the problems with the shared mounts? On which kernels?

And if I understand you correctly, `NsenterWriter` is now unnecessary when mounting the `/var/lib/kubelet` path with `slave`?

[2016-08-23 19:38] pmorie commented on #31272
@vishh so actually -- setup is asynchronous but the syncloop waits for it to complete :sob:

[2016-08-23 19:39] timstclair commented on #31284
Discussed with @thockin offline. I'd like to go with the first option (`enabled`). For a first pass, we'll just report whether a profile was specified to docker. We may follow up with inspecting the process information to verify the profile was applied.

[2016-08-23 19:43] pmorie commented on #31272
Scratchpad for call sites that might be problematic:

1.  `pkg/kubelet/volumemanager/reconciler/reconciler.go#getVolumesFromPodDir` - `ioutil.ReadDir`

[2016-08-23 19:45] mml commented on #31285
Huh.  This is due in part to the bug I previously fixed in #29038, which looks like it got reverted.

If I have `FEDERATION=false`, `e2e.go` enters the federation path.  It sets `OVERRIDE_CONTEXT` env var.

[code]

But I don't have a context named `federation-e2e-gce-us-central1-f`, so where is it getting that address?

[2016-08-23 19:49] timstclair commented on #31284
Open question: What should the status be when a pod does not specify a profile (with or w/o node support)? `default`? `unspecified`? Leave the annotation off?

[2016-08-23 19:53] timothysc commented on #31124
@kubernetes/sig-scalability I think we should start to triage these as part of our regular meetings.

[2016-08-23 19:57] pwittrock opened #31288 "Automate Release Upgrade Testing"

[2016-08-23 20:02] imcsk8 commented on #31258
This is precisely what i need!! i want to start helping with kubernetes development, is it ok to start doing only code review before creating patches?

[2016-08-23 20:02] eparis commented on #27454
Before pflag was fixed you had 2 different behaviors. Given something like:
[code]
if you called a program with:
[code]
you would end up with:
[code]
But if you checked:
[code]
you would end up with:
[code]

[2016-08-23 20:03] MrHohn opened #31290 "In progress e2e test got caught mistakenly by flake detection."
I am working on a new e2e test. Jenkins ran the e2e test several times for the PR(#30739) I made. Somehow the new e2e test failed and got caught by the robot(as issue #31085). Since it is not merged yet, should it be excluded by the flake detection mechanism?

[2016-08-23 20:03] pwittrock opened #31291 "Encourage Contributors to prioritize issues for P0 & P1 flakes"
Possible tools
- Visibility: Nagging Issues, dashboard of open flakes
- Carrots for fixing flakes - leader board, special badge (Kubernetes Flake Fix Champions Organization)
- Sticks for ignoring flake issues - leave GH status message notifying PR authors that they have flake issues requiring attention, eventually do not merge non-flake fix PRs from authors with issues that have not gotten any att

[2016-08-23 20:05] timothysc commented on #31273
/cc @kubernetes/sig-testing

[2016-08-23 20:08] girishkalele commented on #31290
Once you fix the flaky part of the test, you can mark #31085 as Closed.

I don't know how the flake detection works either - but it probably cannot inspect the code to determine that the failing test is new and in the new diffs.

[2016-08-23 20:08] timothysc commented on #26637
@mikedanese given that 3rd party api is now in place, would you have any objections if I were to make a pull to allow locking there?

[2016-08-23 20:09] deads2k opened #31292 "need an API for a user to know which actions they can perform"
It's important for users to be able to determine which actions they are allowed to perform.  We have a general API for inspecting a particular action called `SelfSubjectAccessReview.v1beta1.authorization.k8s.io`.  It is not tied to a particular authorizer because API actions have a defined set of parameter by the `authorizer.Authorize` interface.

We need a similar API for users to be able to dete

[2016-08-23 20:10] eparis commented on #27454
After the fix the behavior of both `flagvar` and `GetStringSlice()` is the same. Given:
[code]
You will get
[code]

[2016-08-23 20:12] castrojo opened #31293 "juju/prereqs/ubuntu-juju.sh should use snaps instead of PPAs"
**Environment**:
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Install tools**: juju

**What happened**:

kubeup.sh failed because I didn't have a new enough version of charm tools. We could update the logic in ubuntu-juju.sh to check for minimum versions.

**What you expected to happen**:

We might as well just change this script to pull `juju` and `charm` from the snap store so that the user

[2016-08-23 20:13] mml commented on #31285
OK, if we run `hack/federated-ginkgo-e2e.sh`, then we set `KUBE_GCE_INSTANCE_PREFIX=mml-us-central1-f`.  In `cluster/gce/config-default.sh`, we then use that to set `INSTANCE_PREFIX`.  And we set `MASTER_NAME` to `${INSTANCE_PREFIX}-master`.

Then, deep in the bowels of `cluster/gce/util.sh`, in `detect-master`, we try to find an address for the master by guessing the name of its address: `${MASTE

[2016-08-23 20:16] ixdy commented on #27822
I think that now that https://github.com/kubernetes/test-infra/pull/432 has merged, we should henceforth be filing issues with messages like "cluster failed to start up".

[2016-08-23 20:21] apelisse commented on #30034
The idea is that we are going to go for "commands", in the IRC/slack sense:

Ready for review: `/review`
Needs more work: `/needs-work` ?

[2016-08-23 20:22] MrHohn commented on #31290
@girishkalele Thanks, I think that's what I should do.

[2016-08-23 20:25] #31290 closed

[2016-08-23 20:26] gtank commented on #31170
Copy from the other thread:

I've talked with cfssl upstream about this and found that they ignore requested usage in CSRs (since it's ultimately a CA policy decision). openssl allows you to add requested key usage extensions to CSRs, so it may "only" be a matter of teaching `crypto/x509` how to do that too.

[2016-08-23 20:30] yujuhong commented on #31281
From build 1994:
[code]

@vishh did we change kubernetes-gce-serial suite to run GCI on all the nodes?

[2016-08-23 20:33] jingxu97 commented on #31272
@pmorie, I didn't find any others.

[2016-08-23 20:41] yujuhong commented on #31281
Going to fix be fixed by https://github.com/kubernetes/test-infra/pull/438

[2016-08-23 20:41] fabianofranz commented on #27454
We need to have a string slice flag type that is dumb about the value it gets and just put everything it gets from multiple ocurrences of `--flag` in a slice. No CSV parsing, no nothing. So that

[code]

makes value to be

[code]

if that's another flag type (not StringSlice) I'm ok with it, but we need to have this non-parseable-just-the-strings type. Also apart backwards compat I'd call the dumb

[2016-08-23 20:44] #23166 closed

[2016-08-23 20:53] saad-ali commented on #31278
Concurrent requests on the same device should not happen. It's curious that you are seeing multiple operations with exactly the same timestamp/output. Almost as if the log output is deplicated for some reason.

[2016-08-23 20:55] mikedanese commented on #26637
nope, sounds fine.

[2016-08-23 20:57] pwittrock commented on #31291
Maybe GH badges

Kubernetes Flake Fix Bronze (5 fixes), Silver (25 fixes), Gold (125 fixes)
Kubernetes Flake Fix Champion (Fix leader during a single release)

[2016-08-23 20:57] freehan commented on #29039
I believe this has been fixed by #30814. Closing this issue.

[2016-08-23 20:57] #29039 closed

[2016-08-23 21:05] mikedanese opened #31296 "kubelet-gce-e2e-ci is broken and blocking the SQ"
@mtaufen @Random-Liu @kubernetes/goog-node

[2016-08-23 21:06] mikedanese commented on #31296
Speculatively related to #30090

[2016-08-23 21:08] pwittrock commented on #31173
@smarterclayton Could you expand upon your comment?

[2016-08-23 21:13] mikedanese commented on #31296
I'm not sure if a revert will fix, can someone take a look at this? https://github.com/kubernetes/kubernetes/pull/31297

[2016-08-23 21:14] chakri-nelluri opened #31298 "[Storage] Find a way to pass a secret to attach & detach calls"
Today, attach detach controller remotely attaches PVs to nodes and it needs access to secrets to communicate with external controller.

Ideally the secret information should come from the PV object. But PV objects are not namespaced, and secrets are namespaced.  Given that we have the following two options to pass the name space information.

Option 1:
- Use pod namespace. But, it is undesirable t

[2016-08-23 21:20] saad-ali commented on #31272
@pmorie Thanks for jumping on this. Yes that capture it. The problematic ones are 1 and 2 since those block the volume manager reconciler and kublet sync loop. 3 is less of an issue since it only blocks plugin level operations which are async.

[2016-08-23 21:21] Random-Liu commented on #31296
unable to create gce instance with running docker daemon for image e2e-node-ubuntu-trusty-docker9-v1-image.  googleapi: Error 403: Quota 'IN_USE_ADDRESSES' exceeded. Limit: 23.0, quotaExceeded

[2016-08-23 21:32] spxtr commented on #31203
Not sure what we can do about this in the short term. This normally takes 30 seconds.

[2016-08-23 21:34] k8s-merge-robot opened #31300 "TestWatchList {etcd3}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16145/

Failed: TestWatchList {etcd3}

[code]

[2016-08-23 21:35] dcbw opened #31301 "kubelet's providerRequiresNetworkingConfiguration() doesn't handle GCE + network plugins"
providerRequiresNetworkingConfiguration() only applies to GCE and only when the flannel experimental overlay is disabled.  Unfortunately, we run openshift-sdn (which does use an overlay) on GCE too, so we hit this check and nodes remain unschedulable, because the route controller is not required and thus isn't running to remove the condition.  We're hacking around this now in https://github.com/op

[2016-08-23 21:37] vishh commented on #31281
Fixed via kubernetes/test-infra#438

[2016-08-23 21:37] #31281 closed

[2016-08-23 21:48] Random-Liu commented on #31296
Offline discussed with @yujuhong, it seems that it's still VM leak.
To unblock the submit queue, we've manually deleted some out of date VMs.

And the new build 8625 looks good till now.

[2016-08-23 21:51] derekwaynecarr commented on #31192
I will lay out some pro/cons with this.

I see following options:

1. ignore imagefs if there is no imagefs (falling back to rootfs seems wrong if values differ)
2. error kubelet on launch

[2016-08-23 21:53] janetkuo commented on #30525
Dup with #30550

[2016-08-23 21:55] Random-Liu commented on #31296
I think part of the VM leak is caused by our manually rebuild https://github.com/kubernetes/kubernetes/pull/31287#issuecomment-241876525.

In the aborted builds, the instance deletion request failed with `Error deleting instance "tmp-node-e2e-519dfbc3-coreos-alpha-1122-0-0-v20160727": googleapi: Error 404: The resource 'projects/k8s-jkns-ci-node-e2e/zones/us-central1-f/instances/tmp-node-e2e-519df

[2016-08-23 21:57] erictune opened #31304 "Try client-go with a third-party controller: cronetes"
CSI team is moving the go client into its own repository (#28559), which is awesome.

The cronetes project, http://github.com/wercker/cronetes, provides a Kubernetes controller for scheduled jobs.  It vendors a lot of Kubernetes go code.  It would be a good validation of the go client effort if that project can easily switch to using the new client-go repo.

@hatchan is the author of cronetes, and

[2016-08-23 21:58] thockin opened #31305 "volume timeout on configmap volume"
Updating a deployment, I saw the following.  Note that "www-get" is a configmap.  It was just hung in container creating state.

[code]

master and kubelets are v1.3.2

@pmorie @saad-ali @rootfs

[2016-08-23 21:59] thockin commented on #31305
Deleting the failed pod allowed everything to proceed.

[2016-08-23 22:02] ahuffman commented on #27442
After a great deal of time I was able to get the correct method for configuring the kube-apiserver and other services to work with certificates from Red Hat support: (kubelet, kube-controller-manager, kube-scheduler, kube-apiserver, kube-proxy).

Here's the method I've now been using and verified working:

On your master:
mkdir /etc/kubernetes/certs
chmod 744 /etc/kubernetes/certs

vi /etc/kuberne

[2016-08-23 22:02] janetkuo opened #31306 "Handle how deployment selects its RS better"
Follow up https://github.com/kubernetes/kubernetes/pull/30730#discussion_r75842602:

Currently deployments are selecting RSes by RS labels. However it's not guaranteed that those RSes will select the same set of Pods the deployments should select.

@kubernetes/deployment @kargakis

[2016-08-23 22:03] smarterclayton commented on #29579
To move exec to the CRI means implementing a 3rd hop in the chain between
the master and the container, which makes this problem 50% worse.  So
putting exec into CRI in the current form doesn't actually help anyone.
Instead, we have two options.

1. Handle the full, complex problem by letting the Kubelet hand off exec to
a target CRI destination port, securely.
2. Leave exec / attach / port forwar

[2016-08-23 22:04] fejta commented on #28013
https://status.cloud.google.com/incident/compute/16017

[2016-08-23 22:04] #28013 closed

[2016-08-23 22:05] thockin commented on #31305
OOh, I saw it twice

[2016-08-23 22:13] #30525 closed

[2016-08-23 22:13] justinsb commented on #31278
Gah!  That's a very polite way to put it @saad-ali :-)  I strongly suspect user-error with running two tails here.

Closing until I can disprove the simplest explanation!

[2016-08-23 22:13] #31278 closed

[2016-08-23 22:15] smarterclayton commented on #31173
In that changes to kubectl happen pretty often - we try to be backwards
compatible, but it's not perfect, and we don't preserve old behavior in all
cases.  We also sometimes change behavior for new function.  If we exposed
this via GRPC, I wouldn't want to have to continually evolve the GRPC API
based on kubectl - I'd almost expect it to be generated, and potentially be
incompatible from version t

[2016-08-23 22:15] ozdanborne opened #31307 "Move HostPort port-opening from kubenet to kubelet/cni"
I'm working on adding hostPort support to a CNI plugin for kubernetes. I've found that in order for CNI plugins to honor and implement hostPort requests, the opening of the port itself (i.e. reservation) must be made by a long-running daemon process ([discussed here by thockin](https://github.com/containernetworking/cni/issues/46#issuecomment-236965077)). Currently, this is taken care of [in kuben

[2016-08-23 22:23] smarterclayton commented on #27454
Some examples of things that would be command line flags that can have
commas in them where splitting the flag on comma is surprising:

1. Filenames
2. Environment variables
3. User names (anything from LDAP)
4. Template parameters
5. Human readable messages

I agree there are places where you want the "quick split" values:

1. server hostnames
2. simple key names (where the name can't contain a c

[2016-08-23 22:25] saad-ali commented on #31278
That sounded super snarky re-reading it. No snarkiness intended! :)

[2016-08-23 22:25] cesarkawakami opened #31309 "--configure-cbr0 conflicts with cAdvisor (race condition?)"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version**: tested with 1.2.2 and 1.3.5

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04.5
- **Kernel** (e.g. `uname -a`): Linux ip-172-24-18-196 3.13.0-93-generic #140-Ubuntu SMP Mon Jul 18 21:21:05 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
- **I

[2016-08-23 22:27] saad-ali commented on #31305
Can you grab and share your kubelet.log files

[2016-08-23 22:28] caseydavenport commented on #31307
@thockin @dcbw

[2016-08-23 22:31] saad-ali commented on #31305
Well there's your problem. See if you can get a repro on v1.3.4 or greater.

[2016-08-23 22:31] cesarkawakami commented on #31309
I forgot to attach the kubelet logs, I believe they might be helpful:

https://gist.github.com/cesarkawakami/c116d4fe11dfbfa5a6dfab70e3617de1#file-kubelet-log-L69

I believe line 69 shows the problem: once the docker factory fails to load, cAdvisor is unable to properly account for docker containers.

[2016-08-23 22:37] ixdy commented on #25730
Is there documentation (or even better, a script?) for how to run a build with patched golang?

[2016-08-23 22:39] ixdy commented on #30075
re: last failure - any known issues with agent-light-4 @spxtr?

[2016-08-23 22:40] #30261 closed

[2016-08-23 22:43] ixdy commented on #30542
@soltysh can you please take a look? this test looks pretty broken.

[2016-08-23 22:44] ixdy commented on #30542
(and that error message is excessively unhelpful.)

[2016-08-23 22:47] yujuhong commented on #29579
I wrote up a summary with options. PTAL.
https://docs.google.com/document/d/1MreuHzNvkBW6q7o_zehm1CBOBof3shbtMTGtUpjpRmY/edit?usp=sharing

/cc @thockin @dchen1107

[2016-08-23 22:48] ixdy commented on #30384
PPC builds are disabled by default now. closing this issue in favor of #25886.

[2016-08-23 22:48] #30384 closed

[2016-08-23 22:49] ixdy commented on #25886
just to tie everything together, #30659 disabled linux/ppc64le compilation entirely. hopefully by go1.8 we can reenable it.

[2016-08-23 22:51] lavalamp commented on #31296
Update on this? It *looks* like a classic this-PR-broke-the-test situation from the jenkins dashboard. Merges have been stopped for like 5 hours now.

[2016-08-23 22:53] yujuhong commented on #31296
@lavalamp leaked VMs have already been removed. We are just waiting for the build to finish one complete run.

[2016-08-23 22:54] mtaufen commented on #31296
We also just reverted #30090 via #31297, seeing if that helps.
Additionally, etcd was reporting a lot of fds used e.g.: `2016-08-23 21:33:41.182305 W | etcdserver: 80% of the file descriptor limit is used [used = 1021, limit = 1024]`. Might be someone is leaking fds?

[2016-08-23 22:55] Random-Liu commented on #31296
We decided to revert the PR. #30090
It seems that the newly introduced code caused file descriptor leak:
[code]
Then apiserver is gone. We are debugging this now.

[2016-08-23 22:56] ixdy commented on #31148
The `bc` issue is fixed. It looks like #31149 is the main problem now.

[2016-08-23 22:59] mtaufen commented on #31296
Looks like a new fd is consumed every second.

[2016-08-23 22:59] ixdy commented on #31149
I suspect #28575 is what broke this. The path `/workspace/../kubernetes_skew` makes no sense.

[2016-08-23 23:02] smarterclayton commented on #31218
@pmorie

[2016-08-23 23:02] errordeveloper commented on #26093
Packaging tools like this in a container works for Weave Net, although we
have recently got rid of ethtool and implemented the only feature we used
in Go. There is a long debate on wether kubelet should be containerised or
not, but tools could be in a container of their own. Also, statically
linked tools in a prefix directory is something we should discuss as an
alternative.

On Tue, 23 Aug 2016,

[2016-08-23 23:02] lavalamp commented on #31296
1024 FD limit is too low. kube-apiserver requires much more. (I would have said it may not matter for 1 client but it looks like it does)

[2016-08-23 23:04] ixdy commented on #31149
Oh, yeah. The original version of this was doing something like `/workspace/kubernetes_old/../kubernetes/blah`. The changes introduced in #28575 are wrong.

[2016-08-23 23:05] caseydavenport commented on #31307
The idea here is that there are two parts to implementing the hostPort.

1) Ensuring the port isn't already taken by someone else, and that it won't be taken by someone else in the future.

2) Implementing the actual mapping (via iptables, or something else).

The first part should be done by Kubernetes, and be common across all CNI plugins.  The second part should _probably_ be up to the specific

[2016-08-23 23:08] lavalamp commented on #31296
Actually after chatting with Lantao it sounds like maybe connections are
not getting reused, which would trigger this.

On Tue, Aug 23, 2016 at 4:02 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-08-23 23:08] mikedanese commented on #31277
Since it's merge 12 hours ago it has flaked twice.

[2016-08-23 23:10] fejta commented on #31149
Yeah the `..` doesn't belong there.

[2016-08-23 23:16] jmhodges commented on #30617
@cjcullen thanks so much for your comments!

I think I'm still a little confused about what the right solution for authenticating kubectl . If you have some time, maybe you could see if there's something obvious that I'm doing wrong?

Here's what I've tried to get my CI to use a Google service account and not rely on the client certificate.

(I'm going to lay it all out here in this comment, but I

[2016-08-23 23:19] thockin commented on #29579
Great doc, thanks.  I concur with the conclusion

On Tue, Aug 23, 2016 at 3:48 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-23 23:23] kb1ca opened #31310 "Following Getting Started Guide for vSphere results in incomplete Pod network routes on minion nodes"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.5", GitCommit:"b0deb2eb8f4037421077f77cb163dbb4c0a2a9f5", GitTreeState:"clean", BuildDate:"2016-08-11T20:29:08Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2016-08-23 23:28] Random-Liu commented on #31296
Thanks @lavalamp, that is the problem! But not on apiserver, the problem is in node e2e test framework.

@mtaufen and I found that in node e2e test framework, we use `http.Get` to do health check https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_service.go#L470.
However, we only check whether it responds 200, never read the content returned. This will make it create a new conn

[2016-08-23 23:31] vishh commented on #30034
That's even better. sgtm! How about `/needs-review` instead of `/review`?

On Tue, Aug 23, 2016 at 1:22 PM, Antoine Pelisse <notifications@github.com>
wrote:

[2016-08-23 23:32] ronnielai commented on #31296
Using http.Head in https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_service.go#L470 should avoid the leak.

[2016-08-23 23:32] apelisse commented on #30034
Yeah that makes sense. We should try to get the minimum amount to type though. We should plan to have a list of all the use-cases and make sure everyone agrees on the commands!

[2016-08-23 23:40] MikaelCluseau commented on #31298
I'd a real fan of having something like "cluster secrets" for this case, and others (store API SSL keys for instance, or even support a integrated PKI).

[2016-08-23 23:41] AdoHe commented on #24089
@rothgar could you give more details?

[2016-08-23 23:42] thockin commented on #31307
I want to agree with this, but I still see a problem.  Maybe it's edge-case enough that we don't care.  What if the second part requires ACTUALLY using the port, which the first part would prevent?

Consider a hypothetical CNI plugin that needs to do some userspace packet-processing for hostports.  Maybe it needs to do some extended auth check or something.  Not beyond the realm of possibility.  I

[2016-08-23 23:43] girishkalele commented on #30916
Already implemented as part of #29409

[2016-08-23 23:43] #30916 closed

[2016-08-23 23:51] AdoHe commented on #31258
👍

[2016-08-23 23:54] timstclair commented on #30750
For some reason there was a 27 second delay between the Kubelet receiving the Pod, and the PLEG ADD method being called (cc @yujuhong ):
[code]

Independent of that error, we should be using the start timeout (5 minutes), rather than the pod stop timeout (30 seconds), since the pod needs to start before it stops.

[2016-08-23 23:56] AdoHe commented on #31306
/cc

[2016-08-23 23:57] Random-Liu commented on #31296
Offline discussed with @dchen1107, the kubelet-gce-e2e-ci is green now after reverted #30090.
Close this issue, and will file another issue to track https://github.com/kubernetes/kubernetes/issues/31296#issuecomment-241912256.

[2016-08-24 00:07] caseydavenport commented on #31307
:( Yeah, I had considered this, but I think I wishfully magic'd it away with "so long as the CNI spec says it's the responsibility of the orchestrator" or some such silly thing.

Is there a reason this couldn't be a configuration option on the kubelet?  Ideally the kubelet doesn't need to change configuration based on the networking choice, but if we decide this is sufficiently edge-case-y then it

[2016-08-24 00:11] thockin commented on #26093
For containerized kubelet, getting rid of exec() deps is sort of pointless, right?

For "native" kubelet, there's some attractive things about eliminating these deps, but this process REALLY REALLY comes at a cost.  I am less convinced over time that the cost is justified.

Looking at the PRs that are currently pending but not merged, I am worried that we're trading complexity OUTSIDE of kubernete

[2016-08-24 00:14] thockin commented on #31307
It might be OK to just do it and wait for someone to scream...  I like the
idea that we actually make it part of the specification of CNI, and the
two-halves model works otherwise..

On Tue, Aug 23, 2016 at 5:08 PM, Casey Davenport <notifications@github.com>
wrote:

[2016-08-24 00:20] feiskyer commented on #29579
Great summary.

[2016-08-24 00:24] bgrant0607 commented on #19831
We should also think about what settings would make sense as part of a cluster API. Not every knob certainly, and not details that are needed to just wire components together. But semantically meaningful configuration of the cluster. The cluster name might be the first example, but I could imagine others.

Of course, we'd need to decide which settings belong in the monolithic cluster-scope API vs

[2016-08-24 00:25] #31149 closed

[2016-08-24 00:29] bgrant0607 commented on #31149
@ixdy @fejta Thanks. I should expect the kubectl tests to run after the next build?

https://k8s-testgrid.appspot.com/google-upgrade#gke-1.3-1.4-upgrade-master

[2016-08-24 00:30] bgrant0607 commented on #31149
Also, ref https://github.com/kubernetes/test-infra/issues/429 so that someone might notice such failures earlier in the future

[2016-08-24 00:38] spxtr commented on #30075
agent-light-4 seems healthy. Plenty of passing runs.

[2016-08-24 00:40] lixiaobing10051267 commented on #31232
thx very much:)

[2016-08-24 00:45] ixdy commented on #31149
Not fixed yet - we need to update the docker image used for tests.

[2016-08-24 00:55] yujuhong commented on #30750
To be more, it was syncloop (not PLEG), which receives events from multiple channels and logs `SyncLoop (...)` messages.  :-)
SyncLoop is single threaded, but perform mostly lightweight tasks. The only exception that *could* be a time drag is the housekeeping/cleanup routine. From the log, SyncLoop was indeed performing housekeeping before processing the ADD event.
[code]
Unfortunately, I didn't s

[2016-08-24 00:59] timstclair commented on #30750
Whoops! Thanks for taking a look at this. Hopefully the increased timeout will clear this up.

[2016-08-24 01:06] #19754 closed

[2016-08-24 01:16] k8s-merge-robot opened #31317 "[k8s.io] Federation namespace [Feature:Federation] Namespace objects should be created and deleted successfully {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/3319/

Failed: [k8s.io] Federation namespace [Feature:Federation] Namespace objects should be created and deleted successfully {Kubernetes e2e suite}

[code]

[2016-08-24 01:19] asalkeld commented on #29885
@AdoHe if you haven't started on this, I could work on it.

[2016-08-24 01:52] #30750 closed

[2016-08-24 01:53] aledbf commented on #30088
Today nginx released a new version of [nginx-plus](https://www.nginx.com/blog/nginx-plus-r10-released/) that includes Modsecurity3 as web application firewall (WAF) module (supported by nginx Inc).

The repository [owasp-modsecurity-crs](https://github.com/SpiderLabs/owasp-modsecurity-crs/tree/v3.0.0-rc2) contains the rules that works OOTB. This set includes 2 rules that can help with this issue:

[2016-08-24 02:14] itajaja opened #31319 "Rollout status not honoring readiness probe"
**Kubernetes version**: GitVersion:"v1.3.4+coreos.0", GitCommit:"be9bf3e842a90537e48361aded2872e389e902e7",

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS
- **Kernel**: Linux ip-10-16-11-222.ec2.internal 4.6.3-coreos #2 SMP Fri Aug 5 04:51:16 UTC 2016 x86_64 Intel(R) Xeon(R) CPU E5-2670 v2 @ 2.50GHz GenuineIntel GNU/Linux
- **Inst

[2016-08-24 02:23] AdoHe commented on #29885
@asalkeld I think I just forget to track this issue. That's ok, if you have bandwidth, please go ahead.

[2016-08-24 02:53] AdoHe commented on #7311
@bryk I guess you mean something like [this](https://github.com/kubernetes/dashboard/blob/master/src/app/backend/resource/replicationcontroller/replicationcontrollerdeploy.go#L306) in dashboard, how would you expect this to be that can  make this process not that painful, what about a kubectl wrapper service sidecar?

[2016-08-24 03:23] arjunm183 commented on #27442
Great Work Buddy. Thanks much. Its a time saver for lot of people.

[2016-08-24 03:26] rothgar commented on #24089
When I try to install weavescope daemonset from the manifest they provide I run into this error. Their documentation points to this issue as the source of the error.

Here's their manifest. I've also tried splitting this out from a list and making it separate daemonset.yaml and replicationcontroller.yaml with the same error.

[code]

[2016-08-24 04:14] bimalvv opened #31324 "Handling environments with k8s"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
---Handling environments like DEV, TEST, CERT, PROD

**Is this a BUG REPORT or FEATURE R

[2016-08-24 04:27] mikedanese commented on #31296
This is very broken again.

[2016-08-24 04:31] thockin commented on #30908
In this case, what Derek already did is very very minimal, and he hasn't
responded to feedback (I know for a fact he has 50 different efforts in
flight).  Please feel free to take this...please?

On Tue, Aug 23, 2016 at 1:23 AM, Suraj Deshmukh <notifications@github.com>
wrote:

[2016-08-24 04:32] mikedanese commented on #31296
It seems like sometimes a set of VMs are created and never deleted. There seem to be a few VMs that are lingering from old test runs.

[2016-08-24 04:35] asalkeld commented on #29885
@bprashanth this appears to be working for me. I tested by having two contexts with different clusters. Can you say what part of the context was changing in your case?
Maybe you had the namespace set? Could you dump a sanitised version of your kubeconfig please?

[2016-08-24 04:37] Random-Liu commented on #31296
@mikedanese I'll take a look.

[2016-08-24 04:45] mikedanese commented on #31296
https://storage.googleapis.com/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8634/build-log.txt
https://storage.googleapis.com/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8635/build-log.txt
https://storage.googleapis.com/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8636/build-log.txt

[2016-08-24 05:02] brendandburns opened #31327 "node e2e flake no debugging info"
The node e2e failed, but there are no failing tests, and no relevant debug info that I could find:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29836/node-pull-build-e2e-test/20915/

[2016-08-24 05:02] MikaelCluseau opened #31328 "Network plugins should fail fast when a service has no endpoints"
Currently, the kube-proxy at least in iptables does not implement any special rule when a service has no endpoints. Most of the time, this means the packets end in a DROP rule. This makes failing very slow (requires a timeout).

For instance, this can lead to very long cluster recovery times if the cluster has its own Docker registry: the kubelet then needs to timeout before giving up an image dow

[2016-08-24 05:08] rochacon commented on #22130
Hey, I've spent a couple of hours debugging my setup today with similar problems. Well, in my case I received the same message as @gembin, regarding the invalid `metadata.name`.

First thing, set the verbose level of your Kubelet to 6 or higher. `--v=6`.

After starting the kubelet, pay special attention to the first messages that appear. I've noticed this message:

This message is incomplete, the